[2015-06-29 16:59] kentcdodds commented on #2865
I've created a PR that adds tests to what I think should work. I may be able to look at actually implementing it sometime if you're cool with the suggestion.

[2015-06-29 16:59] #2867 closed

[2015-06-29 17:00] nzakas commented on #2863
Seems like that should work.

[2015-06-29 17:08] nzakas commented on #2875
Nothing on the 2.0.0 wish list is ready to be worked on right now. There are a lot of breaking changes in 1.0.0 that need to be in place before we can even consider moving forward with anything on the wish list. I'd much rather have your help on 1.0.0 tasks. :)

Closing, as we aren't going to track wish list items individually.

[2015-06-29 17:08] #2875 closed

[2015-06-29 17:09] lo1tuma commented on #2863
@btmills Yes, that would work for me.

[2015-06-29 17:24] btmills commented on #2863
I'll do a PR with tests for that tonight.

[2015-06-29 17:30] nzakas commented on #2873
setImmediate doesn't accept a string as an argument, so there's no need to warn on that.

new Function is actually not like eval because it doesn't execute anything by default and doesn't have access to the containing scope, so it's not dangerous.

execScript I could see an argument for, but might better be in no-eval?

The last one seems like it's very specific to outdated Firefox versions, so I'

[2015-06-29 17:35] nzakas commented on #2871
Working as expected.

[2015-06-29 17:35] #2871 closed

[2015-06-29 17:35] #2872 closed

[2015-06-29 17:36] nzakas commented on #2874
Working as intended.

[2015-06-29 17:36] #2874 closed

[2015-06-29 17:42] jrvidal commented on #1539
As far as I can see, the only rules that deal with explicit keyword lists are `no-reserved-keys` (`quote-props` after the merge) and `dot-notation`. I think we could refactor them to use a common keyword list, broken down in ES3/ES5 categories. We could tackle #1616 later by refining that list. Does it make sense?

BTW, I couldn't find any examples of a common resource used by several rules, apart

[2015-06-29 17:57] jrvidal opened #2877 "Move TDZ errors to no-undef?"
Example:
[code]
Currently, this triggers `no-use-before-define`. Wouldn't it make more sense to move TDZ warnings to another rule? I'd argue that `no-use-before-define` exists to disallow an error-prone pattern, such as:

[code]

However, TDZ errors are static `ReferenceError`s, and constitute more than an error-prone pattern. I think it would make sense to report them as part of `no-undef`.

[2015-06-29 19:19] michaelficarra commented on #2873
Agreed with your assessment, @nzakas.

[2015-06-29 19:41] nzakas commented on #2877
I disagree. Looking at it from a user's perspective, it makes more sense to say "You used x before it was defined" vs. "x is not defined".

The goal of `no-use-before-define` is to pretend that hoisting doesn't exist for functions and `var` variables, effectively mimicking block bindings, so I think it makes sense to keep the rule as-is.

[2015-06-29 19:41] #2877 closed

[2015-06-29 19:42] #2557 closed

[2015-06-29 20:33] IanVS commented on #1898
Has anyone done work on this so far?  It seems pretty straight-forward, if I'm not missing something.  I'm happy to start working on it if the issue is ready and accepted.

[2015-06-29 20:48] btmills commented on #1898
I'm on my phone now, but I'll go through in the next day or so and make sure this includes everything, then ask for a couple :+1: confirmations.

[2015-06-29 22:07] gyandeeps commented on #2736
I will work on this and have the PR ready in few days.

[2015-06-30 00:14] dcousens commented on #2867
Thanks @nzakas and @feross for this.

[2015-06-30 00:23] feross commented on #2867
Don't forget @cjihrig who sent the PR that fixed the issue! :+1:

[2015-06-30 00:46] moroshko commented on #2872
@hzoo @gyandeeps Thanks, makes perfect sense. I wonder however why 0.22.0 doesn't complain on `"space-after-keywords": "always"`?

[2015-06-30 00:47] gyandeeps commented on #2872
we lately added the config validator. O.22.0 din't have that.

[2015-06-30 00:47] hzoo commented on #2872
Started validation of rule options after 0.23.0 https://github.com/eslint/eslint/issues/2595

[2015-06-30 00:59] nzakas commented on #2736
Awesome, thanks!

[2015-06-30 01:20] moroshko commented on #2872
I see. Thanks!

[2015-06-30 03:08] btmills commented on #1898
1. Since we're no longer turning rules on by default, I changed the task for `strict` to say that it should default to `"function"` when it is enabled without specifying a mode. (Previously it was to be `"function"` in `conf/eslint.json`.)
2. I updated removal instructions to preserve documentation with a removal notice per @ilyavolodin's [comment](https://github.com/eslint/eslint/issues/1898#issu

[2015-06-30 03:13] gyandeeps commented on #1898
Yes we are removing spaced-line-comment rule.

[2015-06-30 04:20] doberkofler commented on #2203
@nzakas Based in the start of this discussion, I just wanted to mention, that jscs now actually support an auto configure (--auto-configure) and auto fix (-x) option.

[2015-06-30 06:38] lo1tuma commented on #1898
I think it would be useful to document the version number of eslint where the rule was removed.

Can you check if the documentation generation still works. Especially adding the link to the rule source code and adding the version number.

[2015-06-30 07:10] dotnil commented on #1983
I'd say we can change semi-spacing a bit. If the semicolon is at the line beginning, do not force a space after.

[2015-06-30 10:52] mysticatea commented on #2517
I suggest checking `escope.through` of functions in a loop.

The `Scope.through` is an array of references that refers to variables in upper scopes. And the reference has its variable (`Reference.resolved`) and the variable has its declaration statement (`Variable.defs`). And the declaration node has its range.
So to check whether the declaration is `let`/`const` in the loop is probably easy.

I a

[2015-06-30 10:53] danderu commented on #2798
Hi @nzakas ! I'm working with @carlosvillu

Yo were absolutely right! We had this prebuild step in our package.json:
[code]
This was causing eslint crash after an `npm install`. We've fixed it replacing the prebuild step with:
[code]
Thanks! :+1:

[2015-06-30 13:46] #2798 closed

[2015-06-30 14:04] #2863 closed

[2015-06-30 16:34] DavidAnson opened #2884 "spaced-comment does not correctly ignore JSDoc comments in files with CRLF (Windows) line endings"
Reproduce the problem by saving a file that passes this rule with CRLF line-endings.

PR with a fix to follow shortly.

[2015-06-30 18:15] freddyb commented on #2873
Please excuse the commit spam. It seems I messed up a bit :-)
Pull request #2882 points to adding `execScript` into the `no-eval` rule.

I think we can close this, if everyone agrees.

[2015-06-30 19:25] nzakas commented on #2865
My concern with what you have proposed is that `let` and `const` are block-scoped, so it doesn't really make sense to force them to be declared at the top of a function. Maybe top of a block would make sense, but I'm unsure of that as well.

[2015-06-30 19:28] nzakas commented on #1539
We've debated how to share amongst rules, and I think at some point we just need to go for it and see what happens, so that approach is fine by me.

I think what we really need for this rule is a configuration like:

    quote-props: [2, "as-needed", { keywords: true }

[2015-06-30 19:31] kentcdodds commented on #2865
Yes, good point. Would you like me to add tests for that as well?

[2015-06-30 19:35] nzakas commented on #2203
Yup, just noticed auto configure, but have no idea how it works.

[2015-06-30 19:36] nzakas commented on #1898
These are the last tasks after the other 1.0.0 ones are complete.

Agree it would be nice to document when rules were removed. We will need to keep the docs for those rules up for a while to help those who are using older versions.

[2015-06-30 19:40] nzakas commented on #2807
This syntax is actually invalid and is a proposed addition to ES7:
syntax, but that is part of the experimental https://github.com/leebyron/ecmascript-more-export-from

Really, the parser should throw an error here.

[2015-06-30 19:41] nzakas commented on #2807
Are you using the default parser or babel-eslint?

[2015-06-30 19:58] mathieumg opened #2887 "block-scoped-var false positives on some export constructions"
The following trigger the "used outside of binding context" error/warning for the `block-scoped-var` rule even though they shouldn't:

[code]

This is different from #2807 which is a construct from the experimental https://github.com/leebyron/ecmascript-more-export-from

[2015-06-30 20:20] doberkofler commented on #2203
@nzakas It basically test one or a set of files against all (pre)configurations and shows the number of errors in each configuration:
[code]

[2015-06-30 20:24] nzakas commented on #1983
@dotnil exactly what I was thinking

[2015-06-30 20:25] nzakas commented on #2517
Sounds good :)

[2015-06-30 20:31] nzakas commented on #2884
Can you please show an example of the problematic code and show the ESLint output? It's hard for others to understand what you're reporting without such information (and we do specifically ask for this info in our contribution guidelines for bugs). Thanks!

[2015-06-30 20:43] nzakas commented on #2865
No, we aren't going to merge failing tests, so they're of little use.

Do others agree making such a change makes sense?

[2015-06-30 20:46] #2887 closed

[2015-06-30 20:47] gyandeeps commented on #2865
I think if we want to consider `let` and `const` then it should be an option and by default off. Because everyone has their own views when it comes to block scoped declaration and TDZ mixup.

[2015-06-30 20:47] zallek opened #2889 "Bug: computed-property-spacing with ES6 rest operator"
`let { center, ...otherProps } = this.props;`
fires the error `There should be no space before '}'  computed-property-spacing`

setup:
`"computed-property-spacing":  [2, "never"],`

eslint version: 0.24.0

[2015-06-30 20:56] kentcdodds commented on #2865
I didn't intend for that PR to get merged before the implemenation. More of an actual example of what I'm suggesting :-)

I agree with @gyandeeps that it should be an option that is off by default because it's more stylistic than anything.

[2015-06-30 20:56] lo1tuma commented on #2889
The rest operator works only for array destructuring. The [object rest operator](https://github.com/sebmarkbage/ecmascript-rest-spread) is a proposal for ES7 which is not supported by ESLint.

[2015-06-30 20:59] zallek commented on #2889
Ok Thx. Though, sad to know as we use it all over our production code :( and this feature might have been useful.

[2015-06-30 21:01] inikulin opened #2890 "New curly configuration proposal"
Currently curly rule has two configurations:
   *  *multi* - bodies with single statement shouldn't be wrapped;
   *  *multi-line* - one-liners shouldn't be wrapped.

I would like to suggest another rule:

The following patterns are considered warnings:
[code]

The following patterns are not considered warnings:
[code]

I can issue a PR for this functionality if it will be accepted.

[2015-06-30 21:03] #2889 closed

[2015-06-30 21:04] gyandeeps commented on #2890
Possibly related to https://github.com/eslint/eslint/issues/1806

[2015-06-30 21:22] inikulin commented on #2890
Yep, seems like a dup. But I don't see if original issue was accepted. If so I can issue a PR.

[2015-06-30 21:23] inikulin opened #2891 "Rule proposal: arrow-spacing"
Rule will enforce spacing around arrow in arrow functions. The rule is enabled by default.

**Options:**
The rule takes one option, an object, which has two keys before and after having boolean values true or false. If before is true, space is enforced before arrows and if it's false, space is disallowed before arrows. If after is true, space is enforced after arrows and if it's false, space is di

[2015-06-30 21:29] ilyavolodin commented on #2203
That's basically the same approach as this one: https://github.com/willklein/dryer

[2015-06-30 22:05] gyandeeps commented on #2736
As per the discussion on the PR, we should the suggestion was to add the `root` option to `.eslintrc` file.
But I think it will not work out that way because we need this option before we can start looking for `.eslintrc` files, thats the whole purpose of this option.
If this option is present inside `.eslintrc` then we are saying go allout looking for `.eslintrc` file on the first run because we

[2015-06-30 22:11] ilyavolodin commented on #2891
Duplicate of #2628 Closing this one as #2628 is more complete.

[2015-06-30 22:11] #2891 closed

[2015-06-30 22:33] dancvogel commented on #2588
I'm using:
[code]
But it still says both of these lines are errors:
[code]

[2015-06-30 23:23] DavidAnson commented on #2884
I've included an example below. Note that ~identical files are being linted and the one with LF line endings does not trigger the spaced-comment rule while the one with CRLF line endings does. This seems wrong to me (the rule has nothing to do with line endings) and seems attributable to the absence of '\r' in the RegExp I changed as part of the associated pull request.

[code]

[2015-07-01 01:15] jrvidal commented on #1539
A few odds and ends I found:

* Numbers as properties:
[code]
With `as-needed`, (1c) throws, all the others pass. I think the user should be able to configure this behavior as well. I'm thinking of an additional   `numbers` option:
    * `numbers: "always"`: (1c) and (1d) pass
    * `numbers: "ambigous"`: (1a) and (1d) pass
    * `numbers: "never"`: (1a) and (1b) pass

* Special properties:
Right

[2015-07-01 01:18] #2822 closed

[2015-07-01 01:18] #994 closed

[2015-07-01 01:19] #2606 closed

[2015-07-01 03:25] mathieumg opened #2892 "`lines-around-comment` causes crash with some constructs"
In the `lines-around-comment` rule, the following will make ESLint crash:

[code]

using

[code]

or

[code]

[2015-07-01 09:30] mysticatea opened #2894 "`lines-around-comment`, allowBlockStart, and ES2015 Classes."
Currently, even if `allowBlockStart` is `true`, this rule warns a comment that is at the top in a class body.
This rule should not warn it.

----

[code]

[code]

## Actual

[code]

## Expected

No errors.

[2015-07-01 16:23] gcochard commented on #2588
@dancvogel please open a new issue to report this.

[2015-07-01 16:27] GrayedFox commented on #2872
Documentation should perhaps also be updated? (http://eslint.org/docs/rules/space-after-keywords.html)[this] doesn't give the example of [1, "always"] - in fact, until reading @gyandeeps comment I didn't even realize every single rule was set that way!

And I thought I read the tutorial...

[2015-07-01 16:28] gyandeeps commented on #2892
Can you share the eslint version and the actual output of eslint.
So that we all can understand what is going wrong.

[2015-07-01 16:31] mathieumg commented on #2892
See #2893, I added tests that would crash under the current version. I didn't mention the ESLint version because `allowBlockStart` and `allowBlockEnd` are new from 0.24, but yeah, I'm on 0.24.

[2015-07-01 16:42] gyandeeps commented on #2894
Yup, I saw the code and we are not accounting for class syntax for the above scenario.

[2015-07-01 16:54] dancvogel opened #2895 "spaced-comment not recognizing exceptions and markers together."
I'm using:
[code]
But it still says these lines are errors:
[code]

Additionally, how do i allow empty comments? Something like:
[code]

My full documentation comment block is supposed to look like:
[code]

[2015-07-01 17:18] Schoonology commented on #2716
@tornewuff Were you going to submit a new PR for the fix? I was just looking for this rule, stumbled upon this issue, and would be happy to submit a PR myself if you've not started in on the work already.

[2015-07-01 17:18] gyandeeps commented on #2895
Can you share the eslint version and the actual output of eslint?

[2015-07-01 17:35] dancvogel commented on #2895
eslint v0.24.0

[2015-07-01 17:51] mcomella commented on #1382
While the reasoning this occurs makes sense, I don't understand why the current state is useful. It reduces functionality because lintignore files can't specify relative paths if the working directory can change (and thus can only specify wildcards and absolute paths, though absolute paths are less useful when dealing with multiple users).

Is there a use case I'm missing? If not, can we change th

[2015-07-01 18:09] #2884 closed

[2015-07-01 18:10] #2892 closed

[2015-07-01 18:17] nzakas commented on #2840
Closing, as I believe this should be handled with a custom formatter.

[2015-07-01 18:17] #2840 closed

[2015-07-01 18:19] nzakas commented on #2713
@gcochard are you still working on this?

[2015-07-01 18:20] nzakas commented on #2284
Working on this.

[2015-07-01 19:07] gcochard commented on #2713
@nzakas I am but I don't want to be a blocker. What's the schedule look like for 1.0?

If I'm not done by the 4th, I'll make a PR as-is and throw it back for someone else to take.

[2015-07-01 20:28] nzakas commented on #2890
Please continue discussion on #1806

[2015-07-01 20:28] #2890 closed

[2015-07-01 20:30] nzakas commented on #2713
Schedule is ASAP :) I'd like to get a release candidate out next weekend (July 11)

[2015-07-01 20:30] #2894 closed

[2015-07-01 20:34] nzakas commented on #2736
This is incorrect. All we need to do is see if the current config file has root:true, and if so, stop searching up the directory structure. Otherwise, it continues as always.

Basically, I think we can add a check right here: https://github.com/eslint/eslint/blob/master/lib/config.js#L228

[2015-07-01 20:37] nzakas commented on #2895
@dancvogel is it true your just getting one error? Which line is line 2 in your example?

[2015-07-01 20:38] nzakas commented on #2865
@kentcdodds it's more useful to paste examples into the issue.

@gyandeeps agreed

[2015-07-01 20:40] nzakas commented on #1539
@jrvidal please open a separate issue for those and include the actual ESLintb output. This topic is too tangential for this issue.

[2015-07-01 20:41] gyandeeps commented on #2736
Again based on other disvussion on top, Myself and others (possible) were thinking root mean cwd.
ie if option root is true then dont look outside cwd.

CC @ilyavolodin @lo1tuma

[2015-07-01 20:44] rstacruz commented on #2867
just want to say it's an interesting debate between @feross and @michaelficarra here, props on you guys for keeping things civil and the arguments logical :)

[2015-07-01 20:56] doberkofler opened #2897 "New spaced-comment rule to only enforce space after //"
Is it no longer possible to only enforce space after // but not after /* ?

[2015-07-01 20:58] gyandeeps commented on #2897
Can you elaborate by giving an example and stating what do you expect to happen and what is currently happening?

[2015-07-01 21:03] dancvogel commented on #2895
@nzakas

If this is my file:
[code]
Add this is my .eslintrc:
[code]
Then this is my eslint output:

[2015-07-01 21:09] mathieumg commented on #2897
I think what @doberkofler means is that `spaced-comment` will replace `space-lined-comment` which is deprecated (or will be) unless I'm mistaken. With `spaced-comment` you can't opt-out/opt-in based on the comment type (line or block), can you?

[2015-07-01 21:15] doberkofler commented on #2897
@mathieumg Exactly!

[2015-07-01 21:15] bgw opened #2898 "no-implied-eval doesn't work on template strings or with concatinated strings"
For example, `no-implied-eval` could catch:

[code]

The first case is easy, as it just needs to check for a TemplateLiteral. The second part is probably a bit more controversial, but basically any concatenation with a literal string implies a string result.

I'm willing to fix this if people want it. (I already have a patch ready)

[2015-07-01 21:51] ilyavolodin commented on #2895
@dancvogel This is very strange. We have unittests for this kind of setup here: https://github.com/eslint/eslint/blob/master/tests/lib/rules/spaced-comment.js#L62 and they are passing.

[2015-07-01 21:54] dancvogel commented on #2895
@ilyavolodin
Looks like your unit test is for //------ and not ///------

[2015-07-01 21:55] nzakas commented on #2736
I think you are conflating two different options discussed in this thread. I put this on the original description:

That's what we landed on as the final approach.

@btmills was suggesting an alternative related to cwd: https://github.com/eslint/eslint/issues/2736#issuecomment-111235852, but we decided against that.

[2015-07-01 22:21] ilyavolodin commented on #2895
Ahh.. That's correct. Can you try changing your configuration to the following:
[code]

[2015-07-01 22:25] ilyavolodin commented on #1898
One more task, just noticed in documentation for `strict` rule there's a paragraph that is saying that "default" option will be deprecated in 1.0.0. Here's the link: http://eslint.org/docs/rules/strict#deprecated-mode-default

[2015-07-01 22:44] gyandeeps commented on #2897
we dont have an option like that. right now that rule runs on both (line and block) by default.

[2015-07-01 22:48] ljharb commented on #2736
So, in other words, the first `.eslintrc`/config file found with `root: true` would cause it to stop spidering up looking for config files?

[2015-07-01 22:50] dancvogel commented on #2895
@ilyavolodin With your suggested configuration I'm still seeing the same errors.

[2015-07-01 22:56] btmills commented on #1898
@ilyavolodin I added that link to the `strict` task.

@nzakas So that I can prioritize, what order are you planning for the 1.0 tasks?

[2015-07-01 23:16] malandrew commented on #2422
@nzakas

Out of curiosity, how does this proposed rule differ from rules like `no-ternary` and `no-plusplus` with respect to this statement " I'm not a fan of rules that disallow single language features like this". That rule very specifically disallows a language feature that is more benign that try/catch for async code (which is a large portion of all the JS code out in the wild).

https://githu

[2015-07-01 23:20] malandrew opened #2899 "Custom Environments"
Upon investigating the [default options](https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L71) when calling eslint programmatically, it doesn't look like there is support for defining custom environments.

This would be a nice feature if you want to define your own environments optimized for different conditions, like `/*eslint-env perf*/` or `/*eslint-env readability*/`, on a file p

[2015-07-01 23:38] btmills commented on #2100
Working on this.

[2015-07-02 00:19] ilyavolodin commented on #2899
We do not currently have support for custom environments at all. It has been discussed multiple time, and a few implementation were tested, but it always turns out to be harder then it looks.

[2015-07-02 02:31] benoneal opened #2900 "Missing rules in v24"
```Definition for rule 'array-bracket-spacing' was not found.```
```Definition for rule 'arrays-bracket-spacing' was not found. // docs say both with and without 's'```
```Definition for rule 'constructor-super' was not found.```
```Definition for rule 'no-this-before-super' was not found.```

[2015-07-02 02:44] sebastienbarre opened #2901 "`no-multi-spaces` exception type for ES6 import...from?"
I was wondering if there is a documented exception type that can be used in `no-multi-spaces` for ES6 `import...from` declarations.

More specifically, I would like to allow this:
[code]
but right now I'm getting, unsurprisingly:
[code]

Thanks

[2015-07-02 03:11] mathieumg commented on #2901
What if you try with:

[code]

[2015-07-02 03:23] sebastienbarre commented on #2901
Well that was easy, many thanks!
Out of curiosity, where did you find it? I googled to find a comprehensive list, to no avail.

[2015-07-02 03:23] #2901 closed

[2015-07-02 03:32] benoneal opened #2902 ""object-curly-spacing" options don't appear to do anything"
Using v0.24 with this rule in my .eslintrc file
[code]
And getting this error:
```warning  A space is required before '}'  object-curly-spacing```
Regardless of whether or not the options are set to ```true``` or ```false```

[2015-07-02 03:37] mathieumg commented on #2901
Honestly, that was a shot in the dark. :stuck_out_tongue_closed_eyes:

I just fixed a bug related to `import`/`export` statements here yesterday, so I knew the expression name. I had to look a bit, but https://github.com/eslint/espree/blob/master/lib/ast-node-types.js seems like a good start.

[2015-07-02 03:42] ilyavolodin commented on #2902
This is working as intended (at least without seeing your code). You set the first option to "always" that means always require space around curly braces. The other options just add exceptions to when you have nested object or an array inside an object.

[2015-07-02 04:41] doberkofler commented on #2897
@gyandeeps Having transitioned from jshint/jscs to eslint, I originally wrote the spaced-line-comment rule as we only want to enforce this rule for line comments and jscs allowed me to do this with the requireSpaceAfterLineComment rule. I would no longer be able to enforce this style rule, once the depreciated space-line-comment rule gets removed and I would clearly prefer to either have two separ

[2015-07-02 05:04] mysticatea opened #2903 "The `no-redeclare` rule seems to not check the module scope."
test.js

[code]

.eslintrc

[code]

----

[code]

## Actual

No errors.

## Expected

[code]

----

Maybe, to fix, executes [this block](https://github.com/eslint/eslint/blob/master/lib/rules/no-redeclare.js#L47) when also the modules flag is turned on.

[2015-07-02 05:18] mysticatea commented on #2894
Thank you!

[2015-07-02 08:48] Jxck commented on #2628
I sent a PR based on discussion here.
please review and any comments are welcome.

[2015-07-02 10:00] dcousens commented on #2867
@michaelficarra

I'd argue that was a mistake in the initial proposal then,  yoda conditions IMHO almost always referred to a non-constant expression,  where the risk was mistaken assignment.

[2015-07-02 14:05] btmills commented on #2900
The typo in the `array-bracket-spacing` docs was fixed in #2888. Can you run `eslint -v` and paste the output here?

[2015-07-02 15:00] gyandeeps commented on #2897
I think I would support the notion of having that option.
But before we make a decision, we need feedback.
CC @eslint/eslint-team

[2015-07-02 15:04] gyandeeps commented on #2852
By providing that option we are basically turning this rule for that line.
with that being said, you can actually disable the rule inline

[code]

[2015-07-02 15:25] nzakas commented on #2898
Sounds like a bug , happy to accept a PR. Please take a moment to read over our contribution guidelines: http://eslint.org/docs/developer-guide/contributing

[2015-07-02 15:26] nzakas commented on #2736
Yes, exactly

[2015-07-02 15:28] nzakas commented on #1898
This issue is last as it's the most destructive. We also need the warning system fit missing rules to be complete before we do this.

Otherwise, everything is roughly equal in priority.

[2015-07-02 15:32] evilebottnawi commented on #2852
@gyandeeps bad solution, many files, many comments

[2015-07-02 15:34] nzakas commented on #2422
`no-plusplus` was for compatibility with JSLint.

`no-ternary` was introduced very early on (0.0.9), and we hadn't yet figured out what things made sense and what didn't. Also, there was no way to write custom rules at that point, so there were no options outside of supporting as many rules as we could.

[2015-07-02 15:52] gyandeeps commented on #2852
Now if you are doing this thing in many files and many comments, then I would recommend to turn off the rule.

[2015-07-02 15:57] evilebottnawi commented on #2852
@gyandeeps i need this rule

[2015-07-02 16:56] nzakas commented on #2899
In 1.0.0, environments will no longer toggle rules, so environments can only be used to define globals. I'm guessing what you want is handled better by shareable configs.

[2015-07-02 17:01] nzakas commented on #2903
Yeah, looks like a bug.

[2015-07-02 18:17] #2284 closed

[2015-07-02 18:34] bucaran opened #2909 "Forgive `used before it was defined` for functions."
I don't rely on `var` hosting anymore, but I do kind of like declaring functions after I use them sometimes, specially small functions inside other functions, yet I still get this lint error, is there an option to disable this?

Thanks.

[2015-07-02 18:40] btmills commented on #2909
Sounds like you want the [`"nofunc"` option](http://eslint.org/docs/rules/no-use-before-define)?

[2015-07-02 18:43] IanVS commented on #1898
I don't see any issues with a `v1.0.0` milestone for a missing rule warning system.  (Nor any issue at all for it, but I haven't sifted through all 100+).

It sounds like this should be the last task that is merged.  Does that mean it is also the last which should be worked on?  I would love to contribute to v1.0.0 in some way, and this seems like a task I could handle and start creating a PR for.

[2015-07-02 18:45] gyandeeps commented on #1898
@IanVS I think this is what you are looking for https://github.com/eslint/eslint/issues/1549

[2015-07-02 18:59] IanVS commented on #1549
Based on https://github.com/eslint/eslint/issues/1898#issuecomment-118068593, should this issue have a `v1.0.0` milestone assignment?

[2015-07-02 19:00] ilyavolodin commented on #1549
Yes, thanks for noticing

[2015-07-02 19:11] bucaran commented on #2909
Awesome!

[2015-07-02 19:11] #2909 closed

[2015-07-02 19:21] #2873 closed

[2015-07-02 19:24] nzakas commented on #2897
Let's just add options to specify line:true, block: true,  so people can choose.

[2015-07-02 19:28] nzakas commented on #2852
@evilebottnawi is this just referring to ESLint disable comments or all comments?

[2015-07-02 19:31] gyandeeps commented on #2897
And by default both are true?

[2015-07-02 19:32] nzakas commented on #1898
@IanVS Yes, this would be the last merged as it's the most destructive. It does also rely on #1549 as a way to mark rules as removed.

@gyandeeps are you still working on #1549 and #2736? Either of those might be good for @ianvs to take a look at.

[2015-07-02 19:36] nzakas commented on #2897
Yes, we need to keep rule defaults the same to avoid breaking people's linting.

[2015-07-02 19:39] gyandeeps commented on #1898
@IanVS Feel free to pick anyone.

[2015-07-02 20:55] IanVS commented on #1549
I'd be happy to take a crack at it.  However, I'm not so familiar with the concept of a stub rule.  Could someone give a basic overview of what needs to be done, so I know I'm going down the right path?

[2015-07-02 21:50] feross opened #2911 "comma-dangle does not catch dangling commas in object destructuring"
With this rule:

[code]

I expect an error with this code (using object destructuring):

[code]

For comparison, I do get an error (as expected) with this code (using an object literal):

[code]

[2015-07-02 23:58] benoneal commented on #2902
Sorry, it's not working as I expect. Here's the code it complains about:
[code]

[2015-07-03 00:00] benoneal commented on #2900
[code]
Regardless of whether the docs had a typo or not, the error throws with either spelling.

[2015-07-03 00:05] btmills commented on #2900
Thanks. From a terminal session, can you paste the exact command you're using to invoke ESLint along with the output it generates?

[2015-07-03 00:28] xjamundx commented on #2900
Possibly related. I've been moving, so my brain is a bit spacy at the moemnt.

` eslint --rule '{"object-curly-spacing": [2, "always"]}'  test.js`

[code]

[code]

[2015-07-03 01:55] jrvidal opened #2914 "Numeric literals as keys in quote-props"
Example:
[code]

Output (`ecmaFeatures` does not affect it):

[code]

This error corresponds to (1c). I think users should be able to configure how numeric literals are supposed to be handled with more granularity.

I propose adding a `"numbers"` option (to join the `keywords` flag introduced in #2913):

* `{numbers: "always"}`: All numeric literals should be quoted. (1c) and (1d) pass, (1a) and (

[2015-07-03 03:22] benoneal commented on #2900
The docs still use "arrays-bracket-spacing" http://eslint.org/docs/rules/array-bracket-spacing.html in the example in the options section.

Here's my terminal output:
[code]
and here's the line I'm using in my ```.eslintrc``` file:
[code]

[2015-07-03 03:29] btmills commented on #2900
Aha! From the line ending `node_modules/gulp-eslint/node_modules/eslint/lib/eslint.js:650`, it looks like gulp-eslint is using its own version of eslint, which appears to be v0.23.0, before the new rules were released. gulp-eslint as of 0.15.0 uses eslint `^0.24.0`, so try upgrading gulp-eslint?

[2015-07-03 03:31] benoneal commented on #2900
Ah ok. I updated that and it appears to work now. Thanks.

[2015-07-03 03:31] #2900 closed

[2015-07-03 03:32] benoneal commented on #2902
The problem was that I was using gulp-eslint, which used v23 of eslint. Updating to the latest version of gulp-eslint fixed this issue.

[2015-07-03 03:32] #2902 closed

[2015-07-03 03:58] doberkofler commented on #2897
Sounds good to me as this would solve my problem but more generally speaking I think that splitting the rule might be the better option. It seems to me, as if people would use the two comment styles rather differently and maybe they should also be configured independently.

[2015-07-03 08:59] ianp opened #2916 "The no-shadow rule incorrectly triggers for object literal fields"
It looks like the fields in the object literal are being hoisted into the global scope, I don't think that this is the correct behaviour.

### Test Data
package.json

[code]

.eslintrc
[code]

src/users.js
[code]

### Expected

No errors.

### Actual

[code]

[2015-07-03 09:38] BYK commented on #1806
I have bitten by this with a code like following:

    if (something)
        if (some_other_condition)
            do_X();
    else
            do_Z();

As you can see the `else` belongs to the inner `if` block and the only way to manage this to add braces if you want the `else` block to belong the outer `if`. When you do that, this rule complains about unnecessary braces. More over, no indenting

[2015-07-03 10:37] mysticatea commented on #2903
I will try to fix this.

[2015-07-03 12:41] rpominov commented on #2352
Since this already [supported by Babel](https://babeljs.io/repl/#?experimental=false&evaluate=false&loose=false&spec=false&playground=false&code=a%20%3D%20%7B...b%2C%20text%7D) perhaps it's time to add support to ESLint?

Please, reopen.

[2015-07-03 12:46] hzoo commented on #2352
@rpominov you can use https://github.com/babel/babel-eslint

[2015-07-03 12:55] rpominov commented on #2352
Yep, was already using it but wrote `(old) => {...old, x}` when should have `(old) => ({...old, x})`.

Thanks for the response, anyway!

[2015-07-03 14:05] michaelficarra commented on #2916
You forgot a comma.

[2015-07-03 14:53] ianp commented on #2916
Oops, my bad! I was trying to simplify the example by cutting away non-relevant code, and I didn't notice that the error message had changed along the way. I will update the issue with code that fails with the no-shadow warning/error.

[2015-07-03 15:00] ianp commented on #2916
src/users.js should be
[code]

I've also managed to narrow it down a bit more, it's not actually got anything to do with the `initialState` object literal, I think what is happening is that the `let user = {...}` statement is getting hoisted, and then the exported function name clashes with it. I don't think that the `let` should be hoisted like this.

[2015-07-03 15:01] michaelficarra commented on #2916
What is the error?

[2015-07-03 15:02] ianp commented on #2916
[code]

[2015-07-03 15:02] michaelficarra commented on #2916
Your `let user ...` declaration is shadowing the top-level declaration of the user function.

[2015-07-03 15:03] ianp commented on #2916
Shouldn't `let` and `const` use lexical scope?

[2015-07-03 15:09] michaelficarra commented on #2916
It's still shadowing the top-level function declaration.

[2015-07-03 15:09] ilyavolodin commented on #2914
Can you also provide the list of ecmaFeatures that are on, if any.

[2015-07-03 15:14] jrvidal commented on #2914
No `ecmaFeatures` flag affects the output.

[2015-07-03 15:22] ianp commented on #2916
Ah, I get it now after a bit of head scratching. Thanks.

[2015-07-03 15:22] #2916 closed

[2015-07-03 15:25] michaelficarra commented on #2914
"ambiguous" is not like what we have now. "never" will prevent someone from ever using a key like "1e2" or "1.0". :-1:, I don't see any reason to treat numeric keys differently than any others.

[2015-07-03 15:35] jrvidal commented on #2914
Yeah, I myself don't see much usefulness in the `"never"` setting, I included it for completeness.

However, I do see the use case for the others. In particular, what we have now is slightly inconsistent. Notice that both (1b) and (1d) are accepted. Shouldn't at least one of them be reported when using "as-needed"?

[2015-07-03 15:38] michaelficarra commented on #2914
No. `1e2` does not need quotes and does not have them, and `"1e2"` *does* need quotes and *does* have them. The rule is fine as-is.

[2015-07-03 15:44] jrvidal commented on #2914
Sorry, could you elaborate on this point? Doesn't this constitute the potential footgun that the very `quote-props` docs warn against?

[2015-07-03 15:51] michaelficarra commented on #2914
A key of `1e2` will create a `"100"` property. A key of `"1e2"` will create a `"1e2"` property. I'm not sure which section of the docs you're talking about. The docs mention this particular example as justification for the "always" option, but we are talking about the "as-needed" option, which is working just fine.

Remember, the "as-needed" option is essentially a sane version of your "never" sug

[2015-07-03 15:59] ilyavolodin commented on #2352
@rpominov ESLint doesn't support experimental features. That's what babel-eslint is for. Until es7 is approved you will have to use babel for this.

[2015-07-03 16:03] jrvidal commented on #2914
I now see your point. My intention with this proposal is to allow users to define more precisely what `"as-needed"` means. I would suggest to replace my original `"never"` option with another that behaves as the default we have now. Not sure about what the appropriate name would be though.

[2015-07-03 16:42] rpominov commented on #2352
@ilyavolodin Right, I just didn't get it at first. Thanks for the clarification anyway :+1:

[2015-07-03 18:29] nzakas commented on #1898
@ianvs do you want to look at #2736?

[2015-07-03 18:46] nzakas commented on #1549
Basically, you'd create something like this:

[code]

And whenever a rule isn't found or is deprecated (probably need to add deprecated.json into /config that maps while rules are deprecated), create a stub rule in its place.

[2015-07-03 18:47] nzakas commented on #2911
Makes sense - destructured objects are a different AST node, so we probably didn't update this rule for it.

[2015-07-03 18:51] nzakas commented on #2897
I don't see splitting the rule as an option. We *just* combined this rule to handle both block and line comments, reverting that change would be unnecessarily disruptive to people.

[2015-07-03 18:52] nzakas commented on #1806
@BYK feel free

[2015-07-03 19:02] #2903 closed

[2015-07-03 19:06] nzakas commented on #2914
I feel like this is a stretch. @jrvidal it seems like you don't have a use case for this yourself, but you feel like someone else might? If that's the case, I'd suggest we close this issue. It's very hard to know what other people actually want or expect without them telling us. :) We can always add more options if we're wrong, but it's very hard to remove options if we're wrong.

[2015-07-03 23:42] jrvidal commented on #2914
Well, I would certainly use the `numbers: "always"` setting. My personal preference leans towards `"as-needed"`, but I wouldn't like to allow the number literals gotcha (which btw I discovered by reading the docs here).

I just feel that there are a few separate concerns mixed in `quote-props`: style, keywords and/or numbers, and it would be nice to be able to fine tune them.

Anyway, if you still

[2015-07-04 03:26] IanVS commented on #1549
@nzakas, thanks for the hints.  If you have a chance, please review what I have so far, and then I will tackle deprecations (which will use much of the same infrastructure).

[2015-07-04 07:00] mathieumg commented on #2897
Is there any reason behind that merge? `space-in-brackets` was separated in two different rules for brackets and braces, why would this one be a single rule if there is a case where a user would want different rules for each comment type?

[2015-07-04 11:47] jonathanKingston commented on #2135
@gyandeeps sorry I filter ESLint messages into a separate inbox.

It happens a lot however I feel like there isn't enough interest in adding this into ESLint, I am happy for this to be closed unless someone wants to find more examples or put in more arguments?

I'll likely just fork the code and add the exceptions myself.

[2015-07-04 11:50] tlvince commented on #2135
Another example: in C/PouchDB, documents use `_id` and `_rev` keywords (see #2620).

[2015-07-04 16:41] nzakas commented on #2914
What is your use case? You just want all numbers to be quoted?

[2015-07-04 16:45] nzakas commented on #2897
Because the logic is exactly the same. You can always go dig up the commit and issue to see the discussion.

[2015-07-04 17:44] gyandeeps opened #2923 "Add appveyor CI system to the build"
As we have travis CI and it runs on linux system, like wise appveyor is build on windows system.

[2015-07-04 19:02] #2911 closed

[2015-07-04 21:07] michaelficarra commented on #2877
I agree with the OP here. @nzakas I don't understand your reasoning here at all.

Then why would it ever report TDZ errors?

[2015-07-04 21:19] IanVS commented on #2736
But if a user has both an `.eslintrc` and eslint configuration in `package.json`, and one of those has `root: true`, I assume that they both should be used/merged, but not any config files found in parent directories. Correct?

[2015-07-04 21:56] IanVS commented on #1898
@nzakas Sure, should have a PR ready shortly.

[2015-07-04 23:06] ljharb commented on #2736
I'm pretty confused as to why anyone would have *both* an `.eslintrc` and eslint configs in `package.json`. What's the use case there?

[2015-07-05 02:09] IanVS commented on #2736
The [docs](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) specifically mention this as being possible:

I've taken `root: true` to mean "Do not look in any parent folders for eslint config files."

[2015-07-05 03:04] snlacks opened #2925 "rule no-with not reporting error."
Testing with eslint in a fork of [credential](https://github.com/snlacks/credential/tree/IssueID%2327-QA-Improvements) (here's the [master](https://github.com/ericelliott/credential/))

There's a with statement in one [file](https://github.com/ericelliott/credential/blob/master/constantTimeCompare.js) but it's not showing the error when I run the test. Thanks!

[2015-07-05 03:23] michaelficarra commented on #2925
Cannot reproduce. You must be running/configuring eslint incorrectly.

[2015-07-05 04:18] mathieumg commented on #2897
I understand the rationale of avoiding code duplication, but if the logic is exactly the same couldn't it be put in a 3rd file which is leveraged by the rule for each comment flavor? Another way would be to have the `line` and `block` properties accept configuration rather than just a boolean, but I imagine that would deviate from the `[#, {...}]` paradigm.

[2015-07-05 05:32] snlacks commented on #2925
Thanks for taking a look.

[2015-07-05 15:30] ilyavolodin commented on #2925
@snlacks Can you try running eslint in debug mode: `DEBUG=eslint:* eslint` it sounds like your config file is not being picked up for some reason. Can you post output of debug mode here?

[2015-07-05 17:43] thaiat commented on #2278
any update ?

[2015-07-05 19:09] ilyavolodin commented on #2278
Issue is open and accepted. Just waiting for somebody to create a pull request.

[2015-07-05 19:09] lo1tuma commented on #2788
For reference https://github.com/eslint/espree/issues/155

[2015-07-05 19:40] lo1tuma opened #2926 "max-len rule reports undefined as error column"
The `max-len` rule doesn’t report the correct column. You can reproduce this in the eslint online demo with the following example:

[code]

As you can see in the error message `2:undefined - Line 2 exceeds the maximum line length of 10.` the column is `undefined`.
On current master the column number is `NaN` because of the recent change to 1-based column numbers.

[2015-07-05 19:40] lo1tuma commented on #2926
working on this

[2015-07-05 20:08] #2926 closed

[2015-07-05 21:53] vvo commented on #2203
About autofix option, would https://github.com/millermedeiros/esformatter help?

[2015-07-06 02:36] gyandeeps commented on #2923
I tried the integration on of my project and its simple to setup and get started.
One thing to note is that the build is actually slow as it only allows 1 build at a time for OSS.

[2015-07-06 06:59] chrisyip opened #2928 "no-unused-vars and template string"
`no-unused-vars` can't detect vars in template string right now:

[code]

<img width="510" alt="screen shot 2015-07-06 at 2 57 38 pm" src="https://cloud.githubusercontent.com/assets/189559/8517100/692c421a-23ef-11e5-885d-5ed0cabb0349.png">

[2015-07-06 07:06] chrisyip commented on #2928
Sorry, I made a mistake. `no-unsed-vars` works fine with ESLint `v0.24.0.

Issue resolved. Sorry again.

[2015-07-06 07:06] #2928 closed

[2015-07-06 10:12] mysticatea commented on #2517
I will try to make this.

[2015-07-06 12:13] JohnyDays opened #2929 "no-unused-vars with spread operator"
[code]
The above example triggers a lint error: ```values is defined but never used```
My code is more complex, but this is the minimal reproducible example for the error.
I am using babel, here is the converted code
[code]
Awesome tool! It's really saving me time and frustration.

[2015-07-06 12:54] lo1tuma commented on #2929
The [object spread operator](https://github.com/sebmarkbage/ecmascript-rest-spread) is an experimental ES7 feature which is not supported by ESLint. Please file an issue for babel-eslint.

[2015-07-06 13:46] JohnyDays commented on #2929
Still, in the compiled code there is no spread operator. Doesn't eslint operate on the compiled code?

[2015-07-06 13:46] #2929 closed

[2015-07-06 13:48] btmills commented on #2929
babel-eslint is parser plugin, so it returns an AST. I've no idea if it guarantees that the AST will match what Babel would output, but I doubt it. Either way, you'll need to file an issue there.

[2015-07-06 13:50] JohnyDays commented on #2929
I will, thanks!

[2015-07-06 16:32] message commented on #2077
+1

[2015-07-06 16:33] tape88 commented on #2077
+1

[2015-07-06 16:37] xjamundx commented on #1200
okay starting on this today

[2015-07-06 17:40] snlacks commented on #2925
Sure, the debug file is getting picked for some other setting changes I've set.

    eslint:cli Running on files +0ms
    eslint:cli-engine Processing credential.js +6ms
    eslint:cli-engine Linting credential.js +2ms
    eslint:config Constructing config for C:\Users\Steven\repos\credential\credential.js +1ms
    eslint:config Using .eslintrc and package.json files +0ms
    eslint:config Loading

[2015-07-06 17:50] gyandeeps commented on #2925
What kind of parser are you using?

[2015-07-06 18:24] #2923 closed

[2015-07-06 19:03] nzakas commented on #2877
[code]

and

[code]

I think it makes sense to have the same error message in both cases.

[2015-07-06 19:07] nzakas commented on #2736
@IanVS correct. `root` in either location stops traversing up the directory structure but both files in that directory will be used.

[2015-07-06 19:10] nzakas commented on #2897
Having a third file becomes a maintenance issue - where do we put file-specific code? Do we end up with "third" files for a lot of rules then? It's much cleaner to have one spot.

In any event, whether we keep one rule or not isn't up for debate here. We can add options to handle the case where line comments should be handled separate from block comments. I think maybe it should be more like:

[co

[2015-07-06 19:11] nzakas commented on #2278
@thaiat If a rule is marked as "accepted" it means it's on the roadmap. We are waiting for someone to claim this issue. There won't be any updates until someone volunteers to work on it.

[2015-07-06 19:12] nzakas commented on #2203
@vvo No, as you must configure every option for esformatter to make it turn out correct. What we want is the ability to fix only specific things, not need to reformat the entire file.

[2015-07-06 19:17] mathieumg commented on #2897
I understand, regarding the "third file"/file structure.

I think the config example you showed would be good, it only sacrifices the ability to warn/error based on the comment style, and that's not really a problem. At least it allows to enforce different things based on the comment type, as opposed to the `true`/`false` approach, and it doesn't duplicate code which was the original intent behind

[2015-07-06 19:20] nzakas commented on #2077
@message @tape88 thanks for commenting. This issue is marked as "accepted", so it's just waiting for someone to volunteer to work on it.

[2015-07-06 19:24] nzakas commented on #2925
Do you have a `.eslintrc` file in a parent directory?

[2015-07-06 19:50] doberkofler commented on #2897
@nzakas Having separate options for line and block command sounds like a good solution.

[2015-07-06 19:50] gyandeeps commented on #2642
We can consume prepublish hook to run a script which can make sure all files have Unix line ending and if not make that change.
Now for the script part we can go with:
* [linefix](https://www.npmjs.com/package/linefix)
* [dos2unix for nodejs](https://www.npmjs.com/package/dos2unix)

[2015-07-06 20:28] ilyavolodin commented on #2642
@gyandeeps That's not really a problem. Problem is that if you modified something locally and then do `npm publish`, your modifications are not going through git at all, so autocrlf or precommit hook will not be launched. That's why it should be part of the release script, to convert line-endings locally (or at least warn about them) before doing `npm publish`.

[2015-07-06 20:29] gyandeeps commented on #2642
Thats why i mentioned `prepublish` hook.

[2015-07-06 20:31] ilyavolodin commented on #2642
Oh, sorry, I should read more carefully. Though you said `precommit` hook. But `prepublish` would do the trick. Didn't know about it.

[2015-07-06 20:34] gyandeeps commented on #2642
When i say hook its not git hook its an npm hook

[code]

[2015-07-06 20:40] ilyavolodin commented on #2642
Ok, I'll shut up and will go quietly read documentation in the corner before replying:-)

[2015-07-06 20:45] nzakas commented on #2642
@gyandeeps that sounds perfect

[2015-07-06 21:03] snlacks commented on #2925
Parser

    "parser": "babel-eslint",

Parent directory:
No, only siblings.

[2015-07-06 21:31] geuis opened #2933 "How to force spacing between function name and parens?"
I have `"space-before-function-paren": [2, "always"]` set.

Notice in the following example the line `return $resource(endpoint, {}, {`

eslint is enforcing the space in `return function (endpoint, data)`, but not in `return $resource()`.

Is there another property that addresses this?

    app.service('testApiService', ['$resource',
      function ($resource) {
        return function (endpoint,

[2015-07-06 21:41] lo1tuma commented on #2933
`space-before-function-paren` works only for function declarations or function expressions, not for function calls.
I guess you want something linke [`no-spaced-func`](http://eslint.org/docs/rules/no-spaced-func), but to enforce to opposite, always having a space befor the opening paren of a function call. Is this correct?

[2015-07-06 21:41] ilyavolodin commented on #2925
Can you try it with default parser and see if the same issue occurs? It might be related to `babel-eslint`

[2015-07-06 21:41] xjamundx commented on #2933
You're looking for something like this?

[code]

[2015-07-06 21:56] geuis commented on #2933
Ok, I'm just having a dumb moment. Thanks @xjamundx. You're right, that's not what I want. Been linting dozens of files today and for some reason that particular combo of function declarations and calls looked weird.

[2015-07-06 21:56] #2933 closed

[2015-07-06 21:58] xjamundx commented on #2933
No problem @geuis  :)

[2015-07-06 22:03] snlacks commented on #2925
It was my error. There's nothing wrong with the option or eslint, it's an embarrassingly stupid mistake. Thanks for the help, I hope I didn't waste too much of anyone's time. Very sorry. Thanks.

(I owe you what the mistake was, despite the embarassment: Testing the wrong file, that I purposely changed earlier when I was using jshint and getting rid of the with-statement was outside of the scope o

[2015-07-06 22:03] #2925 closed

[2015-07-06 22:54] bgw opened #2934 "Option to ignore max-len based on a regexp"
There's outstanding suggestions to make exceptions for comments (#2221) and URI comments (#1661), but I personally think a better solution is to allow arbitrary regexps, at the cost of being less robust for those above cases. This would allow other types of exceptions, such as for really long require lines.

If we were to implement this, one issue I see is we currently use `context.toSourceLines()

[2015-07-06 23:27] feross commented on #2336
@lo1tuma Is your solution still viable? If it's not too onerous, it might be nice to use it until there's a chance to fix the parser, as @nzakas said.

[2015-07-07 00:01] michaelficarra commented on #2877
One will still work (so I'd configure it as a warning), and one will fail unconditionally when execution reaches that expression (so I'd configure it as an error). That's the difference.

[2015-07-07 05:03] IanVS opened #2936 "Enhancement: Allow exceptions to space-after-keywords rule"
As mentioned in https://github.com/eslint/eslint/pull/2935, it is not possible to set `space-after-keywords` to `"never"` if also setting `space-before-blocks` to "`always`", because of pesky `else` statements.

[code]

Perhaps one way to allow these rules to be used together in this way, is to allow exceptions to the `space-after-keywords` rule like `[2, "never", { "exceptions": ["else"] }]`, sim

[2015-07-07 06:16] lo1tuma commented on #2936
Duplicate of #1338

[2015-07-07 06:33] nkbt opened #2937 "`object-shorthand` fails on calculated property"
[code]

[code]

Parser is default, not changed.

[2015-07-07 07:17] mysticatea opened #2938 "The `valid-jsdoc` rule and jsdoc comments for fields."
I tried to write a jsdoc comment for a field, but the comment seems to be bonded to a function in its right hand expression.

On the following code, I expected the comment `"Description for this.xs"` is bonded to `this.xs`, but actually the comment seems to be bonded to `x => x != null`.

[code]

----

[code]

## Actual

[code]

## Expected

No errors.

[2015-07-07 09:32] mlarcher commented on #2829
Indeed, it would need to be a new rule that has the same kind of responsability, but is broader.
Something like `namesMatch: camelCase` or `namesMatch: /[a-z_]+/`

[2015-07-07 10:25] keithamus opened #2939 "Rule Proposal: prefer-reflect"
The ES6 Reflect API comes with a handful of methods which somewhat deprecate methods on old constructors:

 - [`Reflect.apply`](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-reflect.apply) effectively deprecates [`Function.prototype.apply`](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-function.prototype.apply) and [`Function.prototype.call`](http://www.ecma-interna

[2015-07-07 11:15] IanVS commented on #2936
Yep, sorry

[2015-07-07 11:15] #2936 closed

[2015-07-07 12:08] callumlocke opened #2940 ".eslintignore patterns with opening slashes don't work"
For example if I want to ignore the `dist` folder, specifically the one at the root of my project (but not ignore other things that happen to be called `dist` elsewhere in my project), I can use this in `.gitignore`:

[code]

But this kind of pattern doesn't work in `.eslintignore`. The opening slash stops it working at all, and nothing gets ignored.

[2015-07-07 12:28] callumlocke commented on #2834
It is very common for a project to contain both serverside and clientside code.

But what about changing environment for a whole file? As far as I can tell that's not possible currently.

[2015-07-07 13:52] vvo opened #2941 "array-bracket-spacing never not firing on object.property[ index ];"
When using `"array-bracket-spacing": [2, "never"]`, writing `object.property[ 1 ]` is allowed. I would expect it to fail like trying to `array[ 2 ]`

seems like a bug?

[2015-07-07 13:52] gyandeeps commented on #2940
Possible duplicate of https://github.com/eslint/eslint/issues/1862

[2015-07-07 13:54] callumlocke commented on #2940
Yes it is

[2015-07-07 13:54] #2940 closed

[2015-07-07 14:00] gyandeeps commented on #2941
* What version of eslint are you using?
* what kind of parse are you using?
* Can you share the code and the actual output?

I ran this code and I got the errors (using [online demo](http://eslint.org/demo/))
[code]

report:

[code]

[2015-07-07 14:02] vvo commented on #2941
Try this in online demo:

[code]

[2015-07-07 14:03] vvo commented on #2941
Even this fails to report the error:

[code]

[2015-07-07 14:05] vvo commented on #2941
Wonder if the local eslint config is taken into account, but reading the docs, array-bracket-spacing should be never by default

[2015-07-07 14:06] gyandeeps commented on #2941
I can still see the errors come on online demo for your above example
[code]

[code]

[2015-07-07 14:06] vvo commented on #2941
Are you using the livedemo or creating a script and running eslint on it? I do not have any error using the livedemo, duh?

[2015-07-07 14:07] vvo commented on #2941
![2015-07-07-160707_1228x317_scrot](https://cloud.githubusercontent.com/assets/123822/8547921/3da9b5d6-24c2-11e5-96be-4ea8eab9bbb2.png)

[2015-07-07 14:09] gyandeeps commented on #2941
I am using the live demo. Can you refresh your page and start again maybe.

[2015-07-07 14:11] xjamundx commented on #2937
I have verified this bug and agree that this is a problem.

Here's what I'm seeing on latest master with this file called `test2.js`:

[code]

Run like this: `node ./bin/eslint.js --rule '{object-shorthand: 2}' --env es6 test2.js `

[code]

[2015-07-07 14:14] vvo commented on #2941
Same, no issue whatsoever. Amazing. Could it be the linefeeds or smg messing up here?

[2015-07-07 14:17] vvo commented on #2941
[code]

[2015-07-07 14:18] vvo commented on #2941
only one error shown when using `var`

[2015-07-07 14:18] vvo commented on #2941
property access is not warned

[2015-07-07 14:21] gyandeeps commented on #2941
We have unit test: https://github.com/eslint/eslint/blob/master/tests/lib/rules/array-bracket-spacing.js#L84-L92

[2015-07-07 14:22] #2517 closed

[2015-07-07 14:28] ilyavolodin commented on #2938
Could be related to either https://github.com/eslint/espree/issues/155 or https://github.com/eslint/espree/issues/136

[2015-07-07 14:28] lo1tuma commented on #2336
@feross My [proposed solution](https://github.com/eslint/eslint/pull/2379) is a workaround which probably decreases the performance of the rule. I think it would also fix #2788 (I can add a test to verify this). If we want to merge this until the comment attachment algorithm is fixed in espree we should file a new issue to remove the workaround in the future.

[2015-07-07 14:29] vvo commented on #2941
How come I cannot make it error in the online demo nor in nodejs

[2015-07-07 14:30] vvo commented on #2941
Using your example:

![2015-07-07-162943_1296x320_scrot](https://cloud.githubusercontent.com/assets/123822/8548516/6dccb206-24c5-11e5-9685-a0c772c4f9fd.png)

[2015-07-07 14:46] gyandeeps commented on #2938
I dont think its related since the AST getting generated is correct. I verified it on my machine.
The issue is on this line https://github.com/eslint/eslint/blob/master/lib/eslint.js#L911
The second condition evaluates it true (actually it should be false) tho the object being compared are not equal. I think this check is bad as we are trying to compare to objects.

If we fix that line then the ab

[2015-07-07 15:11] fzzzt opened #2943 "JSX: Error - Unexpected token <"
espree 2.0.4
eslint 0.24.0

I am getting this error in SublimeLinter-contrib-eslint. In the console it seems to be running but I'm not 100% sure that my config is being applied and that is resulting in this error, so I'm not sure if it's my linter config, SublimeLinter config, or what. The console logs the following (the [...] are my replacing of long paths):

    SublimeLinter: eslint: MyView.jsx

[2015-07-07 15:13] ilyavolodin commented on #2834
It is possible to change environment for the whole file with `/*eslint-env*/ comment (with exception of es6 environment).

[2015-07-07 15:15] gyandeeps commented on #2938
UPDATE:
Once I removed the second check on line 911 (as mentioned above), all the unit test for all rules are passing including the scenario discussed in this issue.

Once issue gets accepted I will work on this.

[2015-07-07 15:22] ilyavolodin commented on #2943
Config looks fine (I think). Can you try running eslint on cli instead and see if the same issue shows up?

[2015-07-07 15:29] davidnormo commented on #2766
Does the documentation need updating? - http://eslint.org/docs/rules/spaced-comment

[2015-07-07 15:30] gyandeeps commented on #2766
Under the no warning section, we have show examples which talk about jsdoc comment.

[2015-07-07 15:40] btmills commented on #2941
@gyandeeps I'm seeing the same thing @vvo is seeing - `array-bracket-spacing` [doesn't check computed member expressions](https://github.com/eslint/eslint/blob/master/lib/rules/array-bracket-spacing.js#L155-L156). The tests you linked to only test that computed member expressions without spacing are valid, but they would still pass linting if there were space between those brackets. We don't have

[2015-07-07 15:42] gyandeeps commented on #2941
hmmm... why is it giving errors on my machine on online demo. I am using windows 7 and chrome 43 if that makes a difference.

[2015-07-07 15:43] fzzzt commented on #2943
I didn't mention that this is on Windows 8 x64. I'm not sure how to specify JSX on the CLI but running variations of this:

    eslint --global jsx:true --env browser,jquery FulfillmentVendorsView.jsx

Didn't change the outcome, same error. If I create a `.eslintrc` file with these contents:

    {
        "ecmaFeatures": {
            "jsx": true
        },
        "env": {
        	"browser": tr

[2015-07-07 15:44] btmills commented on #2941
@gyandeeps perhaps you have demo rules configured differently from the defaults? Try an incognito tab.

[2015-07-07 15:45] xjamundx commented on #2941
https://github.com/eslint/eslint/blob/master/docs/rules/computed-property-spacing.md is probably what you want

[2015-07-07 15:45] gyandeeps commented on #2941
I got it, `space-in-brackets` was on for me so these errors are coming from that rule. Sorry about that.

[2015-07-07 15:52] btmills commented on #2941
@xjamundx thank you! I'm thinking this would be good to point out in the docs, and a PR to close this would:

- [ ] Add `computed-property-spacing` to the deprecation notice and related rules for `space-in-brackets`.
- [ ] Add `computed-property-spacing` to the related rules for `array-bracket-spacing`.
- [ ] Add `array-bracket-spacing` to the related rules for `computed-property-spacing`.

Does t

[2015-07-07 15:54] xjamundx commented on #2941
Yeah I'll throw something together by this evening.

[2015-07-07 16:51] xjamundx commented on #2937
Technically this could be expected to be shorthand `var x = {['y']: y}`, but I feel like it's too odd to worry about, so I'm just going to exclude all compute properties.

[2015-07-07 17:14] xjamundx commented on #2939
Interesting stuff. I don't think many of us have thought much about `Reflect.

As far as the first example.  I was thinking of another rule to suggest avoiding `apply` in favor of spread.
- `foo(...args)`

Would you agree? This would likely conflict pretty hard with your suggestion here, though maybe that's alright.

[2015-07-07 17:16] xjamundx commented on #2808
@sindresorhus https://github.com/alex-shnayder/eslint-plugin-no-empty-blocks :)

[2015-07-07 17:19] ilyavolodin commented on #2943
1. You need to install [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) to get rid of React error.
2. You can put .eslintrc file into your home directory, if ESLint doesn't find any local .eslintrc file it will look at your home directory for one.

I believe this issue can now be closed. If I'm not right, please feel free to reopen it.

[2015-07-07 17:19] #2943 closed

[2015-07-07 17:31] fzzzt commented on #2943
Great, thank you. In case anyone else happens by with my initial problem: SublimeLinter doesn't (currently) pass the configuration along, so I ended up creating a `.eslintrc` file in my Documents folder and passed a command-line argument to `eslint` via this SublimeLinter configuration:

        "linters": {
            "eslint": {
                "args": "--config C:/Users/.../Documents/.eslintrc

[2015-07-07 18:09] nzakas commented on #2877
As I said, the goal is to mimic block bindings for `var`, so I think it makes sense to have actual block bindings handled the same way. We aren't flagging runtime errors, we are flagging code patterns that may or may not cause runtime errors.

[2015-07-07 18:11] nzakas commented on #2934
Can you explain a use case other than URLs and comments?

Keep in mind, URL regexes are long and complicated, so I don't think we can ask people to manually configure that.

[2015-07-07 18:12] jrvidal commented on #2914
Yes, I would like to have the ability to specify `"as-needed"`, but enforcing quotes for number literals.

[2015-07-07 18:16] nzakas commented on #2939
I like the suggestion. I agree with @xjamundx regarding apply, I think Reflect is preferred only if `this` is not the same as the object on which the function resides. We can probably do the opposite check for @xjamundx's suggested rule and these two can coexist.

[2015-07-07 18:19] #2938 closed

[2015-07-07 18:20] #2937 closed

[2015-07-07 18:24] nzakas commented on #2941
Just to clarify for everyone: `array-bracket-spacing` works only on array literals, so the reported behavior is correct. What you're looking for here is `computed-property-spacing`.

[2015-07-07 18:29] xjamundx opened #2946 "new rule: prefer-spread"
In ES6 there is the wonderful spread operator `...` that makes it easy to apply an array to a function.

In JS you may have previously typed `console.log.apply(console, [1,2,3])` or `foo.apply(foo, x)`.

With spread you can instead say `console.log(...[1,2,3])` or `foo(...x)`.

In my opinion it's a much nicer syntax and generally should be preferred over the other when in an ES6 environment.

**Ca

[2015-07-07 18:30] ilyavolodin commented on #2939
Do we want this to be part of the core package? I will admit, I'm not up to date on ES6, but I read all of the issues that are filed for eslint, and until today, I haven't even heard of `Reflect`. So it might not be all that suitable for general consumption. (Or it might just be my personal level of education:-)

[2015-07-07 18:31] nzakas commented on #2829
What would this apply to? All identifiers? Property names?

[2015-07-07 18:33] nzakas commented on #2336
Yeah, let's do that. I'm not sure when I'll be up to digging into the comment attachment stuff, it's mind-bending and my mind isn't too flexible ATM.

[2015-07-07 19:37] keithamus commented on #2939
Agree with @xjamundx and @nzakas' points. Love the idea of a prefer-spread rule. I think both can coexist happily. I've updated my example above to better show where `Reflect.apply` would be needed where prefer-spread would not work.

As for @ilyavolodin's concerns about if this should be in core:

 - `Reflect` is part of JS core, and so it seems to fit that eslint would cover all of JS core.
 - O

[2015-07-07 19:41] bgw commented on #2934
The reason why we want it at Facebook is because our old linting system had a way to ignore really long require statements. Because we have some long module names, and because we wrap at 80 columns, if you had a long module name, you'd end up with:

[code]

I agree URL regexes are difficult. We could take an object as an argument to `max-len`, which could have keys for special cases like comments

[2015-07-07 19:46] ilyavolodin commented on #2939
@keithamus I'm definitely not arguing about the need for those rules. I'm just not 100% sure whether they should be in the core or a separate plugin. I don't think the case of them being part of the official spec plays much role. If we do add them to the core, and less then 1% of users end up enabling them, that's probably a good use-case of packaging them as plugin instead of bloating core. That'

[2015-07-07 19:49] mathieumg commented on #2934
I think @bgw's suggested configuration is very sensible! Flexible (allows for more advanced use cases) and easy to configure for the common scenarios.

[2015-07-07 19:51] dozoisch commented on #2934
:+1: love that last config option. Especially useful for import/requires!

[2015-07-07 19:54] keithamus commented on #2939
The situation seems, right now, that eslint plugins are for frameworks (like react) more than esoteric features that are core JS. This makes sense to me at least; eslint is for writing ecmascript, eslint-plugin-`*` is for writing valid `*`. I'd make the humble suggestion that should eslint go down the route of "official plugins" then it should try hard to maintain this level of separation, and ins

[2015-07-07 20:11] lo1tuma commented on #2934
1. I think a regexp would be very error-prone for this rule. Consider the following example:

[code]
2. Why should this be limited to a single pattern?

[2015-07-07 20:16] dozoisch commented on #2934
To some extent you can have more than one pattern in a regex `/(pattern1)|(pattern2)/` and I mean at some point, these rules are there to help you pick code style issues. I think the current proposed solution cover most uses cases.

[2015-07-07 20:20] mlarcher commented on #2829
I'm thinking all identifiers, as is the case for camelCase, but if there is a way to have some flexibility on that too it could be nice.

[2015-07-07 20:40] bgw commented on #2934
@Io1tuma, Are you referring to the fact that the match would match multiple lines? That regexp was assuming matches were constrained to a single line, based on our use of context.toSourceLines().

If you're referring to the unclosed parenthesis, that'd be caught by a parse error.

That said, I agree regexps can't match everything. The advantage of using them here is that we could support arbitrary

[2015-07-07 20:43] bgw commented on #2934
Oh, another problem, I just noticed: If this is YAML or JSON, those regexps actually need to be double-escaped, which really mucks up the syntax. (whoops!)

[2015-07-07 20:43] lo1tuma commented on #2934
@bgw No, my point is that the regexp would also match the content of string literal (or in my example above a template literal).

[2015-07-07 20:44] bgw commented on #2934
@Io1tuma, I see. I'll stand by my second point in that case:

[2015-07-07 20:53] vvo commented on #2941
thanks all

[2015-07-07 21:51] bgw opened #2947 "context.report should have a way of saving message metadata"
I've been off-and-on working on a (very hacky) tool to autofix ESLint warnings (which is somewhat related to #2203) with some [minor success](https://github.com/facebook/react/pull/3998). Aside from figuring out how to do AST transforms with a babel-eslint AST, one of the biggest things that's been holding me back is figuring out how to pull metadata from the ESLint messages. Though it's easy to g

[2015-07-07 21:59] ilyavolodin commented on #2947
Somewhat related to #2861

[2015-07-08 00:16] xjamundx opened #2948 "new rule: no-import-reassign"
I'd like a rule that made it so that `import`ed variables could not be re-assigned or clobbered.

Recently I did something like this and eslint didn't complain:

[code]

The problem is that the `import` way at the top was so far away from the `function` down below that I didn't notice it and reused the same name.

Are there any rules that address this already?

These are similar but do not cover m

[2015-07-08 02:27] btmills commented on #2948
@nzakas is there anything in the spec that would prevent a situation like this in module scope, similar to how `let` and `const` redeclarations throw? Either way, I would think no-redeclare should catch this.

[2015-07-08 03:00] xjamundx commented on #2948
Okay yeah looks like https://github.com/eslint/eslint/blob/master/lib/rules/no-redeclare.js doesn't look for `ImportDeclaration` and maybe that's the issue?

[2015-07-08 03:58] mysticatea commented on #2938
Thank you a lot!

In this case, I guess the comparison becomes `false` for IIFE, but becomes `true` for functions in the argument list :)

[2015-07-08 04:14] mysticatea commented on #2946
I like this!

`foo.apply(undefined, x)`?

[2015-07-08 05:12] mysticatea commented on #2948
Please see: #2903
The `no-redeclare` rule had not been checking module scopes, and it's fixed now.

But, I also think the `no-import-reassign` rule is needed :)

[2015-07-08 05:16] xjamundx commented on #2948
FYI babel does show an error with this code: `Line 2: Duplicate declaration "x"`.

It may be an espree issue if that's the case. Will check a few more sources.

[2015-07-08 05:46] mysticatea commented on #2948
On `master` branch:

.eslintrc

[code]

----

[code]

[2015-07-08 11:01] simonewebdesign opened #2949 "Option to exit with success even if there are errors"
Hi, we are using the eslint CLI together with npm for running eslint from the command line.

So far so good, apart that we're also using [parallelshell](https://github.com/keithamus/parallelshell) to run commands in parallel. The problem is, parallelshell kills all the running processes if one of them returns an exit status that's not 0.

We managed to work around this by exiting manually:

    es

[2015-07-08 11:17] callumlocke opened #2950 "Language options (ecmaFeatures) and parser, per-file?"
Is it possible to configure `ecmaFeatures` and `parser` with a comment at the top of a file?

[2015-07-08 11:21] lo1tuma commented on #2950
No, this is not possible, because we need to parse the file **before** we can access the comments.

[2015-07-08 11:24] thaiat commented on #2278
@nzakas for what it worth i started using the nodeca plugin : https://github.com/nodeca/eslint-plugin-nodeca and it works great.
Maybe there is no need for reinventing the wheel here

[2015-07-08 13:33] xjamundx commented on #2948
Yup this is fixed in master. Will look into if it's possibly a parser issue as well. Thanks!

[2015-07-08 13:33] #2948 closed

[2015-07-08 14:52] andolf opened #2951 "One-var and initialized/uninitialized does not work with const and let"
Updated recently ESLint (v0.24.0) and this is the rule I'm trying out in the project:

[code]

What I want is it to accept this:
[code]

What instead happens is this message:
[code]
Meaning that the first declaration is fine and the `for` loop as well, but not the others with separate declarators.

Am I missing something here? The [docs](http://eslint.org/docs/rules/one-var.html#options) speak ver

[2015-07-08 15:09] michaelficarra commented on #2949
:-1: just use what you are currently using. It's no more ugly than this unnecessary option.

[2015-07-08 15:58] simonewebdesign commented on #2949
The fact is, what if there's an actual error on eslint? With `exit 0` we won't even notice it I guess...

I was thinking something like `eslint --no-exit-on-error` would be nice to have, however it's just an idea.

[2015-07-08 16:00] nzakas commented on #2914
Okay, how about we just keep it simple and add numbers:true as an option (false by default)?

[2015-07-08 16:13] nzakas commented on #2939
I think this is fine as a core rule. Rules are evaluated on a case by case basis. As long as the rule isn't library specific and represents a solid recommendation or distilled best practice, then it can be in the core. Reflect was created specifically to encourage this exact use case, so I'm happy to help with that encouragement.

[2015-07-08 16:15] nzakas commented on #2829
@mlarcher sounds like an interesting idea, would you be willing to prototype what you want?

[2015-07-08 16:17] michaelficarra commented on #2914
So `numbers: false` means "quote numbers only as needed" with the as-needed option and "quote all numbers" with the "always" option? That is really confusing. :-1: from me still.

[2015-07-08 16:23] nzakas commented on #2934
OK, seems reasonable as an addition to the two other opt-outs. Id suggest the following:

[code]

@bgw would you be willing to submit a PR for this?

[2015-07-08 16:28] bgw commented on #2934
@nzakas, Sure. I'll start working on it sometime today. Do we want to handle multi-line regexp, or stick to single-line matches only?

[2015-07-08 16:35] nzakas commented on #2947
I'm trying to dissect all this, and I'm having a bit of trouble (Lyme disease makes my brain foggy, so bear with me). It sounds like you are reporting the following problems:

1. You are trying to make something to fix ESLint errors, but the results don't contain enough information to do so accurately.
2. You'd prefer not to rely on messages in rule tests to determine if the rules are working.

Am

[2015-07-08 16:54] globexdesigns opened #2952 ""valid-jsdoc" rule doesn't support arrow functions for validating @return tags"
The following code incorrectly returns an "Unexpected @returns tag; function has no return statement" error.

[code]

Arrow function should be considered in the validation of `@returns`.

[2015-07-08 17:05] gyandeeps commented on #2952
Can you share what version of eslint are you using and the code and the output?
And also what do you expect to happen?

[2015-07-08 17:05] bgw commented on #2947
@nzakas You hit the nail on the head, plus:

Oh, and because I forgot to mention it above, yes I'd be interested in providing a PR for this, or at least a prototype.

[2015-07-08 17:10] #2950 closed

[2015-07-08 17:13] nzakas commented on #2951
Looks like this could be a bug. Can you include the line and column numbers from the ESLint output?

[2015-07-08 17:17] gyandeeps commented on #2951
@andolf Can you give a shot with this config:

[code]

I just want to identify whats going on.

[2015-07-08 17:20] nzakas commented on #2949
This is the reason we allow you to configure warnings, to indicate you dont want the exit code to change. Have you considered just setting all rules to be warnings instead of errors?

[2015-07-08 17:21] nzakas commented on #2914
numbers:true would be to always quote numbers

[2015-07-08 17:22] nzakas commented on #2934
I'd start with single line for now.

[2015-07-08 17:28] #2736 closed

[2015-07-08 17:32] btmills commented on #2951
@gyandeeps that will fail validation against the schema

[2015-07-08 17:39] gyandeeps commented on #2951
oops. sorry abt that.

[2015-07-08 17:40] nzakas commented on #2947
Okay, I'd like to split that last part out into a separate issue, as that would be a much larger discussion. Rules are specifically designed to have just one error level, and that assumption is baked throughout ESLint. So, we should hold that out for a separate discussion.

I'm not completely sold on the proposed solution, so I'd like to address this without referencing the solution to see where w

[2015-07-08 17:48] dominicbarnes opened #2953 "Should no-redeclare also check functions?"
I just got burned by a stupid mistake, but I think it should've been caught by `no-redeclare`.

Given the following code:

[code]

If I turn on `no-redeclare: 2`, this is **not** treated as an error, but I think it should.

To be clear, this was a stupid mistake on my part. I added a `var` to the top of a file that was named the same as a function declared much further down in my code. Nonetheless

[2015-07-08 17:54] gyandeeps commented on #2953
I know there have been conversations around this. Have you tried using `no-shadow` rule.
Related discussions happened here: #2895

[2015-07-08 17:56] dominicbarnes commented on #2953
This is not an issue `no-shadow` will catch, since this all happened in the "global scope" (not _truly_ global, but it wasn't in a nested function of my module)

[2015-07-08 17:57] gyandeeps commented on #2951
I just tried the above code with the code in master and it works fine. I didn't get any errors.
Fyi `one-var` hasn't changed since `0.24.0`.

[2015-07-08 17:59] gyandeeps commented on #2953
What are `env` are you using in your eslint config?

[2015-07-08 18:06] globexdesigns commented on #2952
Versions:
babel-eslint: v3.1.23
eslint: 0.23.0

Code:
[code]

ESLint Rule Enabled:
[code]

Output:
[code]

Expected output:
No warnings or errors.

[2015-07-08 18:07] btmills commented on #2951
I just tried the example code as well and everything passed just like @gyandeeps found. @andolf are there any `.eslintrc` files that could be getting picked up? What happens if you run it with `eslint --reset --no-eslintrc --config {config_file} {file.js}`?

[2015-07-08 18:09] gyandeeps commented on #2952
I think I just fixed a bug related to js-doc and arrow functions.
Could be related: https://github.com/eslint/eslint/issues/2938

[2015-07-08 18:18] simonewebdesign commented on #2949
Yeah we've considered that, but isn't it worth having an option from the command line? I can give it a try and submit a PR, what do you think?

[2015-07-08 18:35] DmitrySoshnikov commented on #2947
Hi, @nzakas! The initial issue which we encounter is duplicating and copy-pasting error messages appear in the actual lint-rule plugin file, and in a test file. Ideally, it'd be great to reuse those error messages (or error codes, if this concept may exist) in the test files.

For now it's only possible if an error message doesn't contain eslint template vars -- in this case we can just export tho

[2015-07-08 18:37] bgw commented on #2947
Sounds fair.

This varies from rule-to-rule. In the case of comma-dangle, you need to know either the original rule configuration, or which context.report call was made. In the case of the indent rule, you need to know what the level of indentation expected was, and maybe the tab-width configuration if we want to support tabs.

If you think it'd be helpful in making a decision, I could take some t

[2015-07-08 19:15] dominicbarnes commented on #2953
In this particular case, I'm using `browser` (plus all ES6 features)

[2015-07-08 19:50] resistdesign opened #2954 "Destructuring issue: Cannot call method 'toLowerCase' of undefined"
When linting the following code:
[code]
I get the following error:
[code]

[2015-07-08 19:51] resistdesign commented on #2954
`destructuring` is enabled in the config.

[2015-07-08 20:20] Aourin commented on #2954
I have been looking at this quite a bit.

In the VariableDeclaration function the names are assigned to memo.id.name and decl.id.name;

It looks like when a something id decalred like
[code]
The destructured object comes in as an "ObjectPattern". The memo.id itself is an array of "Property" objects with a key object and a value object. The name property resides within the key and value objects. It

[2015-07-08 21:05] dcousens opened #2955 "Consistent object destructuring spacing"
Is it possible a rule could be added for the following cases:

[code]

Extra options (though less important for my case) could also be to allow strict enforcement over option 1 or option 2 **ONLY**.

If such a rule already exists,  my apologies.

[2015-07-08 22:33] keithamus commented on #2939
:tada: I'll get working on a PR over the weekend :smile:

[2015-07-08 22:50] nzakas commented on #2954
We probably just need to skip destructured declarations.

[2015-07-08 22:53] nzakas commented on #2949
I dont believe such an option makes sense. As I mentioned, we allow you to control the exit code via rule config. I'm not sure why anything more than that is necessary.

Is there a reason you aren't setting rules to be warnings?

[2015-07-09 02:35] IanVS commented on #1898
It seems that coverage reports in `coverage/lcov-report/lib/rules/` are not cleaned out when a rule is removed and tests are rerun.  Is that possible?

[2015-07-09 02:36] nzakas commented on #2952
We've seen this in a few places - we just need to consider non-BlockStatement bodies to be equivalent to `return`

[2015-07-09 02:41] nzakas commented on #2953
Yeah, most likely a bug even though the docs would indicate otherwise. We should fix this and update the docs to be more accurate.

[2015-07-09 02:43] nzakas commented on #2955
I believe object-curly-spacing should cover this case: http://eslint.org/docs/rules/object-curly-spacing

[2015-07-09 04:09] jesstelford opened #2956 "Add "Who Uses ESLint" section to the website"
JSHint has a section listing [who uses it](http://jshint.com/about/), as does jscs [right on their home page](http://jscs.info/), but I can't find any equivalent list for ESLint.

To start the list off, here are some big-name companies who use it:

* [PayPal](https://www.paypal-engineering.com/2014/12/12/maintaining-javascript-code-quality-with-eslint/)
* [Uber](https://github.com/uber/lint-trap)

[2015-07-09 04:20] mysticatea commented on #2953
I tried:

[code]

If you have turned `ecmaFeatures: {modules: true}` on, yes, the `no-redeclare` rule had been missing global declarations. And it was fixed on `master` branch now.

Related: #2903

[2015-07-09 07:18] andolf commented on #2951
Ran `eslint` separately as you specified which did not produce errors. Turns out that it was much easier than I thought. I had updated `eslint`, as well as the plugins and the parser, `babel-eslint`. But I had neglected to update the taskrunner... :tired_face:

Everything seems to be working as expected so this issue can be closed.

[2015-07-09 07:18] #2951 closed

[2015-07-09 07:21] lo1tuma commented on #2956
We already have a section in our README.md. There is also an issue to integrate this for eslint.org, see https://github.com/eslint/eslint.github.io/issues/33

[2015-07-09 09:11] hasenstein opened #2957 ""strict": [2, "global"] warns about "use strict"; on top of file"
I have `'use strict';` on top of each file in my iojs.js (ES6) project. When I tell eslint to check for "strict" with option "global" (in preparation for eslint 1.0 where I have to specify an option) it starts complaining about the strict mode line I have on top of each file. But that's exactly what "global" is supposed to mean, isn't it?

[2015-07-09 09:13] vvo commented on #2221
Nice idea

[2015-07-09 10:35] mysticatea commented on #2957
Maybe, duplicate of #2785

[2015-07-09 10:42] hasenstein commented on #2957
Looks like it.

[2015-07-09 10:42] #2957 closed

[2015-07-09 11:00] jesstelford commented on #2956
Whoops, didn't realize it was a separate repo. Thanks :)

[2015-07-09 11:00] #2956 closed

[2015-07-09 11:49] simonewebdesign commented on #2949
No, there's no reason really. It's just that I found it more straightforward to just `exit 0` - do you think I'm going to run into any issues if I keep doing that?

[2015-07-09 13:18] AllanHoejgaardJensen opened #2958 "is there som way to exclude certain checks by file pattern"
Recently we have started using eslint and are very happy with it, and we have a question for you.

We have a number of unit test files named "<some-script>_test.js" or "some-other-script>-test.js" and these tests get quite a lot of stuff injected and thus the number of parameters gets much higher than the target for the test, thus is why we looked for for some way of excluding e.g. the "max-params

[2015-07-09 13:28] lo1tuma commented on #2958
This is not possible with ESLint right now. It was proposed on the [ESLint 2.0 wishlist](https://github.com/eslint/eslint/issues/2203), so we will discuss this feature again after ESLint 1.0 is released.

There is also [a thread](https://groups.google.com/forum/#!topic/eslint/0irFhzhXZkg) on our mailing list about this topic.

[2015-07-09 13:43] UltCombo commented on #2877
@nzakas function declarations are available in the entire scope where they're defined. It is even a [common pattern](http://andrewkelley.me/post/js-callback-organization.html) to define functions below where they are called, as to maintain the reading flow uni-directional.

Also, consider this perfectly valid code:

[code]

This will result in a "b was used before it was defined" linting error, wh

[2015-07-09 14:40] AllanHoejgaardJensen commented on #2958
thank you very much

[2015-07-09 15:58] jrvidal commented on #2914
That works for me. I partially agree with michaelficarra that using boolean flags is not very expressive.

Maybe we could instead do:
* `numbers: "always"` (the only possibility when the main config value is `"always"`), and
* `numbers: "as-needed"` (the default when the main config value is `"as-needed"`).

If deemed a better nomenclature, I would then update #2913 for the sake of consistency (wh

[2015-07-09 16:38] jrvidal commented on #2877
My initial motivation to open this issue is the fact that TDZ errors seem to me a little bit more "erroneous" than hoisting footguns. I don't have a strong opinion against nzakas' point about whether it makes sense to keep everything under the same rule.

I think I personally would be content with just making `no-use-before-define` more "serious" about TDZ issues, meaning (a) an explicit mention i

[2015-07-09 16:45] jrvidal opened #2960 "no-use-before-define does not report bindings in nested blocks"
Example:
[code]

This code does not trigger any errors from `no-use-before-define` and it definitely should.

#2877 might influence the discussion about this issue.

[2015-07-09 16:52] UltCombo commented on #2877
@jrajav Thanks. :+1: I agree, TDZ means an actual (runtime) error, while simple ordering of function declarations is just a personal preference matter.

Note that catching all TDZ errors is pretty much impossible with just static analysis, I recall various discussions around this in Traceur and Babel. Consider these two examples:

[code]

[code]

[2015-07-09 17:07] vladikoff opened #2961 "Inconsistent rule configuration with new eslint.CLIEngine"
I'm trying to make a smaller proof of bug here, but here is what I have so far:

## STR

[code]

1) Run
[code]
runs all tasks (including the one below), everything passes

2) Run
[code]

Throws the error:
[code]

## End of STR

From my investigation the options that are passed via the grunt task in https://github.com/sindresorhus/grunt-eslint/blob/master/tasks/eslint.js#L46 are identical

The trav

[2015-07-09 17:09] ilyavolodin commented on #2961
Are you saying this is specific to CLIEngine? Or do you have the same issue if you bypass grunt and run eslint directly?

[2015-07-09 17:14] vladikoff commented on #2961
@pdehaan is there a way to reproduce this via the command line? I have a feeling that the non-programmatic way will not have this issue

[2015-07-09 17:25] vladikoff commented on #2961
![image](https://cloud.githubusercontent.com/assets/128755/8602023/e9487d92-263d-11e5-8f21-c6a44d0744e9.png)

@pdehaan what could be happening here: the
`eslint:config Merging command line rules +0ms`

the merge that is actually happening: main options -> app -> tests
the merge that should be happening: main options -> tests

[2015-07-09 17:36] pdehaan commented on #2961
I'm able to reproduce this with ESLint in the above repo (fxa-content-server) using the following `scripts` in my package.json:

[code]

---

### Output:
[code]

[code]

[code]

[2015-07-09 17:39] ilyavolodin commented on #2961
@pdehaan Thanks! That helps. At least we can rule out grunt-eslint as a source of the issue. Could you possibly run the same tasks with debugging on? It looks like tests linting is picking up an extra .eslintrc file somewhere.

[2015-07-09 17:44] dominicbarnes commented on #2953
I can verify that `master` has fixed this issue. Should I close this issue?

[2015-07-09 17:46] gyandeeps commented on #2953
If you have verified this then you can close.

[2015-07-09 17:46] dominicbarnes commented on #2953
Actually, could we add tests for `no-redeclare` that include checking named/hoisted functions? (just noticed all the examples there are either `var` or `class`)

[2015-07-09 17:54] pdehaan commented on #2961
@ilyavolodin Done. It was a bit more, verbose, than I was expecting, but you can view the Gist at https://gist.github.com/pdehaan/128328cef39125d34de2

To make it a bit simpler, I did an `npm i eslint@latest -D` and just ran ESLint directly via `npm run {script}`, rather than proxy into `./node_modules/grunt-eslint/node_modules/.bin/eslint`.

[2015-07-09 18:18] gyandeeps commented on #2961
@ilyavolodin I think I have a idea whats happening here.
out `util.mergeConfigs` function is doing a shallow copy and not deep copy. That why the configs are getting modified here.

To prove do the following steps:

[code]

[2015-07-09 18:20] ilyavolodin commented on #2961
@gyandeeps That would do it. But how come we never noticed this before? I would imagine a lot of people would've run into this issue if that was the case.

[2015-07-09 19:00] #2953 closed

[2015-07-09 21:03] pdehaan commented on #2961
Sweet, do we win a prize?

Not sure why more people wouldn't have run into it, but we're using the new shareable configs, plus some inherited .eslintrc files in our project, and a few different Grunt eslint targets with different configs, so maybe we're just doing some cutting edge stuff here.

[2015-07-09 21:38] ilyavolodin commented on #2961
It's possible... But I actually think we have unit tests to verify that we are not overriding configs... Very strange, but I guess we'll have to take a closer look. Thanks for report.

[2015-07-09 21:41] gyandeeps commented on #2961
I am working on it but I would be great to have the changes once tested by @pdehaan on his cutting edge scenario. That would help us a lot.
@pdehaan would that be fine with you?

[2015-07-09 21:44] pdehaan commented on #2961
Yeah, we're here to help.
Let me know when you have something pushed to GitHub and we can try syching to that Git SHA and see if it solves the issue (I think we renamed those vars already in our repo to silence the `consistent-this` errors, but I can revert them back locally to make sure that everything [failis and then] passes).

[2015-07-09 21:48] gyandeeps commented on #2961
@pdehaan Can you just pick up just my modifications from [here](https://github.com/eslint/eslint/commit/477a32d484f03c2949bf828265e7bfec090771f5) and add them to your version of eslint .
And then run the tests again as you ran before.

[2015-07-09 22:06] gyandeeps commented on #2961
@pdehaan Can you also share you `.eslintrc` files, both
* Located in folder `fxa-content-hook-lint`
* Located in folder `fxa-content-hook-lint -> app`

Also if you have any configs inside `package json`, please share those also. Thanks
I am trying to recreate this scenario locally.

[2015-07-09 22:16] pdehaan commented on #2961
@gyandeeps Yeah, the entire project is at https://github.com/mozilla/fxa-content-server

* https://github.com/mozilla/fxa-content-server/blob/master/.eslintrc
* https://github.com/mozilla/fxa-content-server/blob/master/app/.eslintrc

And both inherit from our shareable config at:
* https://github.com/pdehaan/eslint-config-fxa

[2015-07-09 22:17] gyandeeps commented on #2961
Awesome so I can basically checkout the project and check my changes. Thanks

[2015-07-09 22:17] pdehaan commented on #2961
@gyandeeps: I grabbed those 2 modified files from your commit and replaced my local versions in `./node_modules/eslint/lib/{eslint,util}.js` and re-ran the tests.

Now I get consistent failures in `npm run lint` and `npm run lint-tests`. :+1:

[2015-07-09 22:20] gyandeeps commented on #2961
Hence proved that the issue we thought is the real issue.
Thanks a lot @pdehaan for help and testing. :+1:

[2015-07-09 22:31] pdehaan commented on #2961
@gyandeeps @ilyavolodin Thanks for the quick turnaround. Cant wait for **eslint@1.0.0**!

[2015-07-10 00:23] #2958 closed

[2015-07-10 00:26] #1549 closed

[2015-07-10 00:30] nzakas commented on #2949
If you want to do it that way, it's up to you. In any event, I don't see us implementing such an option, so I'd suggest keep using an external script or switch your rules to be all warnings.

[2015-07-10 00:35] nzakas commented on #2914
I'd like to start with Boolean flags. Number properties never need quotes, so as-needed doesn't make sense just for numbers. It's either yes you want them quoted or no you don't, so I think booleans are the way to go.

[2015-07-10 00:50] nzakas commented on #2961
Nice investigation, all! I think this probably warrants a 0.24.1 release due to the severity. I'll put that together tomorrow.

[2015-07-10 02:30] IanVS commented on #1898
I have a PR ready to go as soon as this is accepted.

[2015-07-10 11:23] michaelficarra commented on #2914
Except false for this option doesn't mean you don't want numeric keys quoted. It means they should only be quoted if all keys have to be quoted due to the other configuration options. That interface doesn't make sense to me.

[2015-07-10 15:15] nzakas commented on #2947
Thanks for the additional info. I have some thoughts.

First, it's highly likely we are going to bake-in fixers after 1.0.0, as it's been a very highly requested feature. I have a basic idea about how this would work, and it wouldn't require using linting results at all. My question: are you tied to your current path or would you be interested in collaborating on the formal ESLint approach?

For e

[2015-07-10 15:16] #2961 closed

[2015-07-10 15:16] vladikoff commented on #2961
Thanks so much for triaging and fixing the issue so quickly, really appreciate it  :fireworks:

[2015-07-10 15:17] nzakas commented on #1898
Ready!

[2015-07-10 15:25] nzakas commented on #2914
numbers is an override switch. For "always", numbers is true by default; for as-needed, numbers is false by default. In either case, you can override.

[2015-07-10 15:26] #2628 closed

[2015-07-10 15:39] michaelficarra commented on #2914
Okay, now I understand. So the default state is magical. What confused me is that this option has 3 possible states, but you can only explicitly specify two of them. I don't like it, but at least I understand it now.

[2015-07-10 15:39] nzakas commented on #2203
Okay, lots of good ideas here. To get this ball rolling, if like to propose the following as the roadmap post-1.0.0.

1. Auto-fixing (lead: @nzakas)
2. Glob-based rule config (lead: @lo1tuma)
2. AST query selectors (lead: @ilyavolodin)
3. Suffixed .eslintrc files (lead: ?)
4. Create config by looking at code, maybe see if Dryer would be interested in merging into project (lead: ?)

This is just a

[2015-07-10 15:46] bgw commented on #2947
@nzakas, I'm not tied to my current approach (it was just a proof-of-concept), and would be interested in collaborating, though my internship ends in a month. cc @DmitrySoshnikov @zpao

I'm interested in how you plan on solving it without inspecting linting results, and (hopefully) without duplicating code. Will the rules themselves be responsible for suggesting AST fixes?

Adding a `data` field t

[2015-07-10 17:05] IanVS commented on #2203
I'm not sure I'm qualified to lead, but I'm pretty interested in the auto config creation project.  I'd be happy to at least help out on it where I can.

[2015-07-10 17:12] nzakas commented on #2203
Qualification is the willingness to do it, so you're definitely qualified. :)

[2015-07-10 17:36] ilyavolodin commented on #2203
@nzakas How about multi-threading support? I think that could give a nice boost to performance, but would require some major changes in the codebase, I'd rather tackle it sooner then later.

[2015-07-10 18:25] gyandeeps opened #2965 "Lines-around-comments: allowBlockStart has issue with return block"
Eslint: v0.24.1
Praser: default

Rule config:
[code]

**Code:**

[code]

**Actual:**
[code]

**Expected:**
 No errors.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24094012-lines-around-comments-allowblockstart-has-issue-with-return-block?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We ac

[2015-07-10 18:38] IanVS opened #2966 "Create ESLint configuration to match 0.24 defaults"
This is similar to #2730 and #2713.

The creation of the "eslint:recommended" config in #2713 will not exactly match the current defaults in `v0.24`, but will rather only include rules to catch potential errors.  In order to ease the transition to `v1.0` for those who wish to stay as close as possible their current ruleset, I propose adding a configuration which would replicate the defaults set in

[2015-07-10 18:43] btmills commented on #2965
From that description (from the [docs for `allowBlockStart`](http://eslint.org/docs/rules/lines-around-comment#allowblockstart-option)), this sounds intentional, and object literals would be a different exception.

[2015-07-10 19:23] ripter commented on #2637
I just ran into this problem as well. The suggested work around does not work. I'm still getting the error even after I added the comment.

    break; // eslint-disable no-unreachable

[2015-07-10 19:45] nzakas commented on #2966
I'm not sold on this - I'd rather force people to update their rule configuration for 1.0.0. We're already going to be forcing people to update their configs, might as well get them into a good config state instead of relying on old and somewhat arbitrary default values.

[2015-07-10 19:46] #2100 closed

[2015-07-10 19:49] nzakas commented on #2637
Try this instead:

[code]

[2015-07-10 20:03] gmathieu opened #2967 "ecmaFeatures.modules conflicts with block-scoped-var"
When `ecmaFeatures.module=true`, functions calls before declaration throws a `block-scoped-var` error. This test is using the default parser `v0.24.1` but I believe I've seen something similar using `babel-eslint`.

[code]

Here's the associated `.eslintrc`. If you switch module to `false` the above code validates properly.

[code]

[2015-07-10 20:09] IanVS commented on #2966
I agree that it makes sense to recommend a reasonable, minimal config (`eslint:recommended`), but if someone is perfectly happy with the defaults in the current ESLint and wants to stick with it for whatever reason, that person will likely be annoyed/frustrated that they need to re-create those rules to update to the latest version of ESLint.  I was hoping the stigma associated with "legacy" would

[2015-07-10 20:13] gyandeeps commented on #2966
there is already config which has default support. https://github.com/walmartlabs/eslint-config-defaults

[2015-07-10 20:28] IanVS commented on #2966
@baer is the intent of this "default" config to stay locked at the `0.x` branch of ESLint?

The naming is a little unfortunate IMHO, because soon it won't be the default, it will be the "old default".  Seeing "extends: default" in a `.eslintrc` file will be somewhat confusing to ESLint newcomers.

[2015-07-10 20:33] ripter commented on #2637
That worked. Thanks.

[2015-07-10 20:52] feross commented on #2955
@nzakas object-curly-spacing forces to you pick one style `var {x} = ...` or `var { x } = ...`.

I believe @dcousens is asking for an option to allow *either* style, while preventing the use of inconsistent spacing like `var { x} = ...` or `var {x } = ...`.

[2015-07-10 21:03] baer commented on #2966
**Does config-defaults tracking a specific version** - Yes. Currently it's [tracking 0.24.0](https://github.com/walmartlabs/eslint-config-defaults#usage) and I plan to update it to track eslint's changes so my repo as it is now will not be enough to close this issue.

That said - I sympathize with both sides and I'm happy to begin versioning ESLint configs in that project.

**extending defaults ma

[2015-07-10 21:03] mysticatea commented on #2952
I will try to fix this.

[2015-07-10 21:26] mysticatea commented on #2946
I will try to make this.

[2015-07-10 21:52] IanVS commented on #2966
Thanks for the detailed reply. My comment about the naming being confusing was assuming it would be used in a way which closes this issue (ie locked at 0.24). After you explained it, it makes much more sense.

[2015-07-10 22:44] #2952 closed

[2015-07-10 22:50] nzakas commented on #2966
I feel like this is trying to predict the future. Everyone is going to make some sort of update to the config they are using for 1.0.0. We don't know whether this burden is actually high or not.

I could be wrong, but I'd rather wait for feedback from the RC before committing to something like this. As I've said many times, it's a lot easier to add something later on than it is to remove something

[2015-07-10 22:59] empyrical opened #2969 "New exception: space-in-parens exception for the function keyword"
Example of what I mean:

[code]

[2015-07-11 00:08] mysticatea commented on #1925
I will try to make this.
Just now, I made the `prefer-spread`, this is similar to it :)

I want advice of the rule name...
My one is `no-extra-call`.

[2015-07-11 00:22] jrvidal opened #2972 "Update builtins for no-extend-native and no-native-reassing"
There are a few builtins missing in these rules, in particular many of the new ES6 globals.

I already opened a PR in #2971.

[2015-07-11 01:03] ilyavolodin commented on #2972
I'm a bit concern about your commit because you added a bunch new keywords (for example Reflect) that are not really keywords unless ES6 is enabled. So for somebody who doesn't write ES6 those would be restricted, where in reality - they should not be (one can argue that it's a good idea not to use those in ES5 code anyways, but that's a different discussion).

[2015-07-11 01:22] jrvidal commented on #2972
Well, the best we could do now is to inspect the global scope to further filter the builtins list. However that wouldn't immediately solve the problem, since the `global` package does not include sufficiently fine-grained info about each global.

And in fact, it's already affecting user code:

[code]

This code does not trigger `no-undef` regardless of the environment. I'm not sure, but I think th

[2015-07-11 01:29] ilyavolodin commented on #2972
Agree. I would like to hear what others have to say on the subject. I don't think we need to care all that much about ES3, but there are still a lot of ES5 users out there (myself included) and giving them false positives might not be the best idea.
CC @eslint/eslint-team

[2015-07-11 01:35] #2336 closed

[2015-07-11 01:35] #2788 closed

[2015-07-11 01:38] IanVS commented on #2966
OK fair enough.  Just wanted to talk it through, thanks.

[2015-07-11 02:19] #2946 closed

[2015-07-11 03:04] nzakas commented on #2972
We already are kind of in that boat with globals already. If you look at the built in list from the `globals` module, it includes ES6 objects.

Related: why wouldn't we just use `globals` for this?

[2015-07-11 04:16] xjamundx commented on #2965
Took me a few times, but I think @btmills may be right. That's not really a block, it's just an object literal.

[2015-07-11 04:19] xjamundx commented on #2955
So the proposal is a new option on http://eslint.org/docs/rules/object-curly-spacing#options to be `"either"`?

[2015-07-11 04:38] gyandeeps commented on #2965
Guys @xjamundx @btmills Any proposals?
FYI, I have removed the labels.

[2015-07-11 04:40] btmills commented on #2965
Is this now a proposal for `allowObjectStart`/`allowObjectEnd` exceptions?

[2015-07-11 04:41] gyandeeps commented on #2965
Frankly speaking I am not sure.

[2015-07-11 04:54] IanVS opened #2973 "Update replaced rules in ESLint core's .eslintrc"
Two rules are being removed in v1.0 which ESLint currently uses in it's own `.eslintrc`:

- [ ] spaced-line-comment -> spaced-comment
- [ ] space-after-function-name -> space-before-function-paren

It looks like the tests for `cli.js` and `cli-engine.js` will also need to be updated, as they currently fail with the new rules due to insufficient test fixture isolation.

[2015-07-11 05:45] dcousens commented on #2955
@xjamundx yes,  this would allow us to enforce consistency,  in an otherwise ambiguous environment where currently anything goes.

[2015-07-11 07:49] mysticatea commented on #2965
I believe this is a work of `allowBlockStart`/`allowBlockEnd`.

I'm not happy to add more options for every syntax, such as `ObjectExpression`, `ArrayExpression`, and `ClassBody`.
In fact, `ClassBody` has been treated by `allowBlockStart`/`allowBlockEnd` already.

[2015-07-11 09:35] mightyiam commented on #1925
Great. How about `no-explicit-call` or something with `explicit`, because that is what this is about, perhaps?

The term `context` is also relevant.

[2015-07-11 14:48] nzakas commented on #2947
Ah, sad to see you go. :(

The basic approach I have in mind is to use a CST to allow manipulating of the structure. Then, create rule-like things that do the manipulation instead of just detecting the problem. I imagine the fixing will be a first pass and then rules will be run on the result.

Good point about data vs. messageData, we can look into that.

[2015-07-11 14:57] nzakas commented on #2969
So it's not the function keyword, it's whenever you have a function expression? What about this?

[code]

 What would be your expectation there?

[2015-07-11 14:59] #1200 closed

[2015-07-11 15:08] #2966 closed

[2015-07-11 15:16] nzakas commented on #2955
Out of curiosity, why not just pick one style?

[2015-07-11 15:17] nzakas commented on #2965
:-1: I don't think we need more options here. It's behaving as intended.

[2015-07-11 15:18] btmills commented on #2965
I'm also :-1: unless someone comes along to say they really need this.

[2015-07-11 15:19] nzakas commented on #1925
I dont think explicit adds much to the description. I'd say no-useless-call or something like the that.

[2015-07-11 15:20] btmills commented on #1925
Since it also covers `apply()`, should the rule name avoid specifying just `call`?

[2015-07-11 15:25] nzakas commented on #1925
I don't think it's that important. Feel free to suggest an alternative, I just don't want no-useless-call-or-apply.

[2015-07-11 16:15] btmills opened #2974 "no-wrap-func crashes on arrow expressions at start of script"
This is on current master.

[code]

[code]

[2015-07-11 16:29] gyandeeps commented on #2965
closing based on the above discussion.

[2015-07-11 17:13] LFDM commented on #2102
FYI, a small chai plugin which gives you these property getters as functions: https://www.npmjs.com/package/chai-lint

[2015-07-11 17:33] willklein commented on #2203
Regarding auto-configuration, I would be happy to merge [dryer](https://github.com/willklein/dryer) into the project. It spun out of doing config-by-hand (scratch my own itch). I am hearing that it's a post 1.0 goal, but I'm planning to get it fully usable in the next month.

Also, one point of clarification vs `jscs --autoconfigure`: dryer doesn't look at any presets, it tests and configures each

[2015-07-11 17:48] empyrical commented on #2969
I'd say that'd be what I'd expect, because for example this is how I'd like to use setTimeout

[code]

[2015-07-11 18:08] dcousens commented on #2955
@nzakas semver.
This would classify as a patch for existing *wrong* behaviour,  but previously we hadn't set the rule as to whether there should be a space or not.

We intend to enforce one eventually, but right now,  it would break too much code (as standard is used for tests).

[2015-07-11 23:39] ariporad commented on #2203
I'd just like to +1 on the autofix... I'm really not psyched about fixing 600 errors.

[2015-07-11 23:54] IanVS commented on #2203
@ariporad: [eslint-nibble](https://github.com/IanVS/eslint-nibble) tries to make it easier to ease into ESLint by letting you focus on one rule at a time, instead of having to bite off 600 errors at one time.

[2015-07-12 00:09] IanVS commented on #2973
Being addressed in https://github.com/eslint/eslint/pull/2964

[2015-07-12 00:09] #2973 closed

[2015-07-12 05:21] mysticatea commented on #2955
The rule is off by default?

[2015-07-12 06:21] mysticatea commented on #1925
Thanks for many advice.

I will make with `no-useless-call`.

Because I felt `.call()` to change `this` binding is `explicit` but not `useless`. Maybe a reason that I felt so is that I often see the word `explicit` for "explicit type conversion" on other language.

I will cover `.apply()` with this rule. And I like long names, so I hover...
But I also felt `call-or-apply` is verbose, I don't have

[2015-07-12 07:51] dcousens commented on #2955
@mysticatea I was referring to [standard](https://github.com/feross/standard)'s versioning, not es lint.
This would be a patch for `standard`,  if we enforced one or the other,  it would be a breaking change.

[2015-07-12 09:20] mysticatea commented on #1621
I will try to make this.

Would be the name `no-implicit-type-conversion`? Which or `no-implicit-cast`?

[2015-07-12 09:53] mysticatea commented on #2693
To think the name of this rule is difficult to me...

[2015-07-12 10:42] mysticatea commented on #1621
I think `no-tricky-cast` might be good.

And I thought I want to change options from the proposal: https://gist.github.com/mysticatea/120ab01b8cc11e5e36da
Thought?

[2015-07-12 14:46] ilyavolodin commented on #2693
Something like `no-prototype-properties`?

[2015-07-12 14:50] ilyavolodin commented on #1621
Options look fine to me. I'm not sold on the name though... Tricky is too broad of a word. I don't really think there's anything tricky about `!!` conversion.

[2015-07-12 15:45] michaelficarra commented on #1621
@mysticatea Please not "tricky". I think `no-implicit-cast` is fine.

@ilyavolodin The rule would warn the opposite way around: when those explicit casts are not there.

[2015-07-12 16:20] ilyavolodin commented on #1621
@michaelficarra I thought original request was for flagging expression like ```var x = !!y```

[2015-07-12 16:33] michaelficarra commented on #1621
A rule like that wouldn't make much sense. How would you be expected to cast to bool? `a ? true : false`? Use `parseFloat` to cast to number? Those are just as explicit, but not as terse. I couldn't see anybody using that rule, while I'm sure many people would want the opposite: no implicit casts.

[2015-07-12 16:46] ilyavolodin commented on #1621
@michaelficarra ```Boolean(a)```? I'm not saying I would use a rule like that, but there are a lot of different coding styles out there, I'm sure somebody would want it (since that rule existing in JSCS).

[2015-07-12 16:57] ljharb opened #2976 "0.24.1 changelog?"
I don't see a changelog entry for 0.24.1 on master - I do see it on https://github.com/eslint/eslint/commit/b4423e309e74956adb05eb543ffb653086e4fe0e however.

[2015-07-12 16:59] nzakas commented on #2976
It's in the 0.x branch and here: https://github.com/eslint/eslint/releases/tag/v0.24.1

[2015-07-12 16:59] michaelficarra commented on #1621
So

[code]

instead of

[code]

and

[code]

instead of

[code]

and

[code]

instead of

[code]

Really, I can't imagine ever seeing code like that. Anyway, my vote for name is now `type-annotated-operands` since all operands must always explicitly write down what conversion the operator will use if they are inappropriately typed. Should I open a separate issue for a rule that warns against impli

[2015-07-12 17:06] ljharb commented on #2976
Thanks - I'll use that for now. Presumably it still would be merged into the master branch though, since the changelog is kind of across all branches at once?

[2015-07-12 17:19] ilyavolodin commented on #1621
@michaelficarra I agree, for me personally, this style would not be very useful, but there are a lot of users of ESLint out there. `type-annotated-operands` sounds like a good name.
Yes, please open a new issue for implicit coercion. I, however, think it will be extremely hard to create a comprehensive rule for that without duplicating most of the Flow.

[2015-07-12 17:20] gyandeeps commented on #2665
is this still a problem @Nyalab ? if yes, please provide us with sample code, version of eslint your are using, which parser do you use and console output please.
Otherwise lets close this issue.

[2015-07-12 17:22] gyandeeps commented on #2704
closing based on the above post.

[2015-07-12 17:22] #2704 closed

[2015-07-12 17:23] gyandeeps commented on #2707
are we fixing this? if yes, is it a bug or enhancement?

[2015-07-12 17:26] michaelficarra commented on #2707
I would classify it as a bug.

[2015-07-12 17:31] michaelficarra commented on #2704
The default configuration for these rules should not have this kind of inconsistency. We should do something about it.

[2015-07-12 17:36] michaelficarra commented on #1621
You're right, anything more complex than ensuring the `test` of an iteration statement is a comparison or a logical negation -- basically anything non-local -- would require an inference system. Oh well...

[2015-07-12 19:25] dar5hak opened #2977 "Strict mode paradox in ES6 constructor"
Here's some ES6 code (I'm using Node 0.10 with ESLint 0.24.0 via gulp-eslint):
[code]

And here's my `.eslintrc`:
[code]

At the third line, ESLint throws a `no-extra-strict` error. If I remove the statement, it asks me to use the function form of 'use strict'. Is this a bug? Or am I doing something wrong?

[2015-07-12 19:27] michaelficarra commented on #2977
Class bodies are already strict mode code, so whatever rule that's telling you that you need a use strict directive is broken.

[2015-07-12 20:17] ilyavolodin commented on #2972
Good point. @jrvidal any issues with just using `globals` for this?

[2015-07-12 20:29] jrvidal commented on #2972
Fine by me. However we still need a separate list for "constructors" (for `no-extend-native`), if `globals` does not provide that info.

[2015-07-12 20:33] gyandeeps commented on #1797
I am going to re-write the whole ident rule and also fix this issue.
I already have it working.

[2015-07-12 20:34] ilyavolodin commented on #2972
Can't we use `globals` `builtin` for those as well? What would be the problem with that?

[2015-07-12 21:28] gyandeeps commented on #1799
Working on this.

[2015-07-12 21:36] jrvidal commented on #2972
I was concerned that we would trigger false positives on patterns such as:

[code]

where `encodeURI` does not have a prototype to be modified, so if it appears in user code they added it manually. But on second thought it's a pretty strange corner case.

I'll update the PR.

[2015-07-12 21:50] andy-hanson commented on #2366
I'm now experiencing problems with the same package.json with this code:

	for (var key in { a: 1, b: 2 })
		if (key === 'a')
			console.log(1)
		else {
			console.log(2)
			console.log(3)
		}

I see:

	file.js
	  4:1  warning  Expected indentation of 0 characters  indent
	  5:2  warning  Expected indentation of 1 characters  indent
	  6:2  warning  Expected indentation of 1 characters  indent

[2015-07-12 22:18] dar5hak commented on #2977
It's the new `strict` rule that's telling me to use strict mode.

[2015-07-12 22:22] michaelficarra commented on #2977
Yes, it seems the [current strict rule](https://github.com/eslint/eslint/blob/2ce95aaae22c818030eab1485f45656aa3c4bef6/lib/rules/strict.js) doesn't mention classes anywhere at all.

[2015-07-12 22:44] gyandeeps commented on #2278
working on this.

[2015-07-12 23:46] nzakas commented on #2977
@dar5hak can you provide the complete output from ESLint in both cases you describe?

[2015-07-13 00:01] #1925 closed

[2015-07-13 00:29] mysticatea commented on #1621
ESLint is a tool to help developers. "Implicit type conversion" also is a feature to help developers, most languages have adopted. So I think the purpose of this rule is not to warn all implicit type conversions. In fact, this proposal is warning to only *explicit* type conversions with shorter notations. And its implementation is using implicit type conversions.

I thought the purpose of this rul

[2015-07-13 00:34] gyandeeps commented on #1800
I have the code ready for this but i came across an issue that is why I am blocked on this.
Has anyone seen this issue before: https://github.com/estools/estraverse/issues/53

[2015-07-13 00:46] dar5hak commented on #2977
@nzakas Sure.
I took out the code into a separate file:
[code]

Here's the output without the statement:
[code]
And here's the output with the statement:
[code]
(PS: Happy birthday!)

[2015-07-13 01:21] nzakas commented on #2203
@ilyavolodin yeah, definitely!

@willklein that would be great. The reason we said post-1.0.0 is due to the various rule changes (#1898) coming in 1.0.0. We'd want to ensure those are incorporated.

[2015-07-13 01:21] nzakas commented on #2974
Yuck

[2015-07-13 01:29] nzakas commented on #2969
I'm having a hard time figuring out how to describe this generically in such a way that it makes sense in this rule. What is special about a function that it's an exception?

We generally don't incorporate such specific exceptions because that becomes a never-ending maintenance issue.

@eslint/eslint-team thoughts on this?

[2015-07-13 01:33] nzakas commented on #2955
@dcousens it sounds like you're asking us to implement a change that you only intend to use temporarily so as not to require a major version bump for standard right now. I don't think that's a good reason for us to make such a change.

[2015-07-13 01:35] nzakas commented on #2693
Hmm, not quite right. It's not being prototype properties.

[2015-07-13 01:35] nzakas commented on #2693
Sorry, not banning prototype properties.

[2015-07-13 01:37] nzakas commented on #2976
I wasn't planning on it, but probably a good idea.

[2015-07-13 01:59] empyrical commented on #2969
I guess the best way to put it would be: an anonymous non-arrow function expression in between parenthesis. It would also mean an ES7 `async function` should get linted like this too. It's not a *huge* deal, `doSomething(function() {` just looks better to me than `doSomething( function() {`

This is how the jQuery project (the styleguide I like using) seems to use its anonymous functions too:

* h

[2015-07-13 02:06] mysticatea commented on #2977
`ClassDeclaration` and `ClassExpression` are always strict mode automatically, by [spec](http://www.ecma-international.org/ecma-262/6.0/#sec-strict-mode-code). so the `"use strict"` directive is unnecessary. It's correct.

But `4:13  error    Missing "use strict" statement  strict` is strange...

[2015-07-13 02:16] nzakas commented on #2977
@dar5hak thanks. :)

So this looks like a bug in the `strict` rule. You should disable `no-extra-strict` as that is deprecated and not needed if you're using `strict`.

[2015-07-13 05:12] mkscrg opened #2979 "Specify config file per source file?"
Is there a way to set the ESLint config file _per source file_?

I'm migrating a project to ES6 (as well as from JSHint to ESLint). I'd like to setup two ESLint configs so we can migrate gradually and maintain our existing code along the way. I'm thinking of a pragma like

[code]

that we would add to our ES5/CommonJS modules, then gradually remove the pragmas and "default" to our ES6 setup.

[2015-07-13 06:40] Cellule commented on #2965
:+1: At first I thought as well the the option included object literals. Basically comment preceded by `{` should not need a space. In my opinion it just feels weird to write
[code]
and I would rather write

[code]

[2015-07-13 07:43] dcousens commented on #2955
@nzakas I don't think that is true,  as the end result is that we may not enforce 1 style or the other.
For now (probably in the order of months),  we want to enforce this consistently throughout `standard`,  this is the only way we can do that.
I know this change would be beneficial for other projects I work on where we want consistency, but also do not enforce 1 style or the other.

[2015-07-13 07:52] mysticatea commented on #2965
I agree with @Cellule.

My hope is that `allowBlockStart` and `allowBlockEnd` treat the object literals also, it's similar to `ClassBody`.

(My true hope is to remove `allowBlockStart` and `allowBlockEnd` options, and comments are allowed at the top and the last by default.)

[2015-07-13 07:59] lo1tuma commented on #2955
ESLint could only enforce consistency within a file. If you don't pick one style you might end with inconsistent styles across all project files.

[2015-07-13 08:01] mysticatea commented on #2955
We can choose turn the rule on/off each project.

[2015-07-13 08:03] dcousens commented on #2955
@lo1tuma I'd rather see `{ x }` and `{x}`, consistently,  then anything goes inconsistently.
I didn't mean only 1 style consistently,  I meant both.

[2015-07-13 08:10] andreas-marschke opened #2981 "Prevent undocumented functions with names"
Currently I'm working on documenting a larger codebase of JS that has several named functions exposed internally or to third parties as API. Some are and some aren't documented. Seeing/Knowing how far along the way I am and preventing code going in that isn't documented in the future would greatly improve the code quality.

This issue is for PR #2980

[2015-07-13 08:18] mysticatea commented on #2981
maybe duplicate of #1842?

[2015-07-13 08:23] andreas-marschke commented on #2981
@mysticatea Didn't see that issue. I mostly opened this ticket to have a reference to the aforementioned PR. But yeah for the most part this should solve both problems even in depth.

But this (as documentation and code shows) is purely for named functions.

[2015-07-13 08:27] mysticatea commented on #2974
I will try to fix this.

[2015-07-13 09:08] keithamus commented on #2939
Got a bit busy over the weekend, plan to put together a PR this week.

[2015-07-13 09:13] keradus commented on #2788
Great to have that fixed! Waiting for next stable release ;)

[2015-07-13 10:21] andreas-marschke commented on #2270
Problem appears when tag.name hasn't been parsed by `doctrine` fix is in the PR #2983

[2015-07-13 11:41] bgvianyc opened #2985 "Checker definition probably flawed."
I'm using eslint with eslint-plugin-react being called from emacs flycheck. I created an init file in the react project directory enabling react and jsx checking. However when the checker is run on a react jsx file, here is the errors thrown:

/usr/local/lib/node_modules/eslint/lib/util.js:33
            property.forEach(function (plugin) {
                     ^
TypeError: Object react has no met

[2015-07-13 14:10] ilyavolodin commented on #2985
Can you provide the following:
Version of ESLint you are using, source of the file where the error occurs, copy of your config file.
On top of that, can you try running ESLint directly on the file in question bypassing flycheck and if it fails, can you provide output of the error here as well?

[2015-07-13 14:16] gyandeeps commented on #1231
In my case, because I did modified the AST (accidentally :smiley: ) it had adverse effects on the code following my code. That can be a rule or anything inside my rule.

[2015-07-13 14:31] bgvianyc commented on #2985
v0.24.0

.eslintrc =
-------------------
{
    "rules": {
        "indent": [
            2,
            "tab"
        ],
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ]
    },
    "env": {
        "browser": true
    },
    "ecmaFeatures": {

[2015-07-13 14:32] ilyavolodin commented on #1231
I have a radical solution to that. How about we create our own plugin for ESLint that would check that node._anything_ never gets assigned?:-)

[2015-07-13 14:38] gyandeeps commented on #2985
I see this error is coming from utils file and from `mergeConfig` function. This function was completely changed in `0.24.1` release. Have you tried with `0.24.1`?

Also is this the only config file getting used or you have more config files?

[2015-07-13 14:38] ilyavolodin commented on #2985
Thanks for the information. Would it be possible for you to upgrade to v0.24.1 and test this again? We updated the code that's failing in v0.24.1 I'm not sure if it will solve your problem, but would like to test before digging deeper.

[2015-07-13 14:50] bgvianyc commented on #2985
That did it. Works fine now.

[2015-07-13 14:50] #2985 closed

[2015-07-13 14:50] michaelficarra commented on #1231
Because

[code]

[2015-07-13 15:11] btmills commented on #2974
Closing this as fixed in #2982. (GitHub only auto-closes if a commit is merged to `master`, but since `no-wrap-func` is deprecated, the fix was merged to `0.x`.)

[2015-07-13 15:11] #2974 closed

[2015-07-13 20:47] feross opened #2987 ""spaced-comment" rule doesn't support jsdoc-style comments on Windows"
This is a bizarre one. With this config:

[code]

and this code:

[code]

There are no errors on OS X or Ubuntu. But Windows gives this error:

[code]

Tested on Windows 7 Professional SP1, 64 bit.

[2015-07-13 20:51] gyandeeps commented on #2987
Same as https://github.com/eslint/eslint/issues/2884
It has been fixed but hasn't been released.

[2015-07-13 20:56] feross commented on #2987
So this was merged into `master` but not `0.x`?

[2015-07-13 21:01] gyandeeps commented on #2987
I think since the PR was marked as `update` thats why it was not merged.

[2015-07-13 21:09] feross commented on #2987
What does it mean for a PR to be marked `update`?

[2015-07-13 21:25] feross commented on #2336
@lo1tuma, where should I send the bounty I promised for this issue? Paypal, Bitcoin, Venmo works.

cc @LinusU

[2015-07-13 21:32] ilyavolodin commented on #2987
It means that it's adding new functionality that's backwards compatible. Right now, we are doing releases on 0.x branch only for bug fixes, that's why it was not cherry-picked into 0.x branch for 0.24.1 release.

[2015-07-14 00:42] nzakas commented on #1231
@gyandeeps see my previous comment re: freezing

[2015-07-14 00:43] nzakas commented on #2972
Constructors always Begin with a capital letter, so it should be easy to filter the list.

[2015-07-14 00:45] nzakas commented on #1621
How about `no-implicit-coercion`?

[2015-07-14 00:51] nzakas commented on #2969
The jQuery style guide actually shows that spaces should always be used: https://contribute.jquery.org/style-guide/js/#good-examples

See the last two examples.

[2015-07-14 00:54] nzakas commented on #2979
There's no way to do this currently, and we can't support your suggestion because the config fit the file must be known before the file is parsed.

There's a proposal to allow config specified by a glob pattern post-1.0.0.

[2015-07-14 00:54] #2979 closed

[2015-07-14 01:00] nzakas commented on #2965
Object literals don't define blocks, so while they look the same, they are completely different.

So we should not expand the existing options to include this case. We could add two new options per @btmills suggestion.

[2015-07-14 01:04] nzakas commented on #2955
@dcousens we generally don't have rules that allow two styles at the same time, as this typically is too confusing for users.

Unless someone on the ESLint team wants to champion this change, I'm leaning towards encouraging you to create a custom rule.

[2015-07-14 01:08] nzakas commented on #2981
Closing in favor of #1842. Please continue discussion there.

[2015-07-14 01:08] #2981 closed

[2015-07-14 01:09] nzakas commented on #2939
Thanks!

[2015-07-14 01:10] Cellule commented on #2965
I don't particularly mind adding options, I already do for blocks, might as well do it for anything block-like

[2015-07-14 01:11] #2801 closed

[2015-07-14 01:20] #2987 closed

[2015-07-14 01:20] #1800 closed

[2015-07-14 01:20] #2278 closed

[2015-07-14 01:21] #1797 closed

[2015-07-14 01:21] #1799 closed

[2015-07-14 01:21] #2248 closed

[2015-07-14 01:21] #2343 closed

[2015-07-14 01:33] joeybaker commented on #1797
Thank you @gyandeeps!

[2015-07-14 01:36] gyandeeps commented on #1797
u bet :+1:

[2015-07-14 01:43] #2713 closed

[2015-07-14 01:43] royriojas commented on #2203
Hi guys any plan to support globs and only operate on files that have changed since last run?

- The globs are nice since it is a more simpler way to ignore certain matches
- Operate on modified files could reduce the time to lint a large code base from seconds to milliseconds (the second time since the first time it will create the cache) without the need for a watch mode over the files.

I have

[2015-07-14 01:47] ilyavolodin commented on #2203
@royriojas globs support is schedule after v1.0.0 Interesting idea about caching... I'm not 100% how often that would be used though. You would only get performance improvement if you run eslint on large repository often. I usually run it only once per push, and in between I just run ESLint through editor plugins on a single file.

[2015-07-14 01:48] dcousens commented on #2955
Thanks @nzakas.

@feross shall I close?

[2015-07-14 02:01] royriojas commented on #2203
In the current project I run the tool over an average of 300 files. it takes 8 seconds to finish. With the cache the time is reduced to the order of milliseconds (depending on how many files are changed).

The process also beautifies the files (I'm using esformatter and configured it to match the format expected by eslint), that process also takes about 8 seconds without the cache, even when the f

[2015-07-14 02:31] feross commented on #2955
Sure, I think that's totally fair.
On Mon, Jul 13, 2015 at 6:48 PM Daniel Cousens <notifications@github.com>
wrote:

[2015-07-14 03:15] gyandeeps commented on #632
@nzakas case with switch is done with indent rule rewrite.
I am not sure if we want to do this one: `If entire file is wrapped in closure, the body should not be indented`

[2015-07-14 03:56] #2239 closed

[2015-07-14 05:01] mathieumg opened #2989 "Formatter options"
Would you be open to a PR that allows to provide options for custom formatters as a second CLI argument and if so, how should it be named and what form should it take? (`-fopt`,`--format-option`?)

I think there is a need for that when you see things like https://github.com/ganimomer/eslint-stats#available-reporters where every time you want to add a formatting option, you need to double the amoun

[2015-07-14 05:17] royriojas commented on #2203
And what about passing arguments to the formatters? currently the cli parser will strip all the arguments that don't recognize. Maybe defining them in the `.eslintrc` file in a property with the name of the reporter? I have solve my use case by adding a couple of environment variables but that somehow seems to be more a like a hack than a proper solution.

would love to see a way to pass arguments

[2015-07-14 05:33] royriojas commented on #2989
+1 I end using environment variables for this kind of stuff but it feels more like a hack rather than a proper solution. Very fragile.

[2015-07-14 05:37] royriojas commented on #1260
Hi guys, I wrote a wiki page on the matter https://github.com/royriojas/eslint-friendly-formatter/wiki/Writing-a-custom-eslint-formatter until you have proper documentation for the formatters, it might help others to understand how to write their own reporters

[2015-07-14 05:56] #2955 closed

[2015-07-14 06:34] empyrical commented on #2969
I noticed that - but after I did a grep of their source code, it seems they use `( function` only 3 times - and `(function` 76 times (on current `master`). Maybe this inconsistency would be worth bringing up as an issue on their tracker?

I've never made an eslint plugin before - but if this exception is inappropriate for eslint, would it be possible to do it as a plugin?

[2015-07-14 07:25] erikmueller commented on #1621
Since the jscs rule says `disallow-implicit-type-conversion` and coercion pretty precisely describes this type conversion I'd also prefer `no-implicit-coercion`. Nonetheless people not knowing coercion might be confused and would expect sth like the `type-conversion` (especially non english-speaking people I think). On the other hand _implicit_ is kind of included in the term _coercion_ so maybe t

[2015-07-14 08:06] remkoboschker commented on #2203
+1 for a watch option

[2015-07-14 09:42] oshi-shinobu opened #2991 "Add unix-style formatter"
A formatter which uses more traditional ~~grep~~ unix-style output such as this:

directory/file.js:6:2: Strings must use singlequote. [Error/quotes]

should in my opinion be included in the base eslint distribution - all major linters already support this format (pyflakes, rubocop, perlcritic, not to mention jshint) because it's a standard which can be understood by tools and editors such as Emac

[2015-07-14 12:00] xjamundx commented on #2965
What about a generic `afterCurlyBrace` exception? I think that appears to be what is wanted.

[2015-07-14 14:37] denis-sokolov opened #2993 "lint-disable instead of eslint-disable"
Consider adding and promoting the use of `/* lint-disable */` instead of `/* eslint-disable */`.
Of course, the support for the old name should stay, but not be under the spotlight anymore.

The information that the author wants to allow using `console` or `eval` in this particular piece of code is semantically valuable regardless of the particular brand of the linting tool used.

Generalizing the

[2015-07-14 14:50] nzakas commented on #2993
I'm sorry, I don't see the value in making such a change. Not all linters would even be able to use the same format or implement disabling in the same way. Linters are not like browsers, there is no standard implementation for which standard interfaces would make sense.

[2015-07-14 14:50] #2993 closed

[2015-07-14 14:51] #1898 closed

[2015-07-14 14:54] nzakas commented on #632
For completeness, I think we should.

[2015-07-14 14:57] ilyavolodin commented on #2203
@royriojas We wouldn't be able to pass arguments through .eslintrc, as there might be many .eslintrc files, but there's always only one formatter. We might be able to do that through CLI options.

[2015-07-14 14:57] nzakas commented on #2989
Can you explain a use case? Part of the limitations on formatters is to prevent them from doing too much.

[2015-07-14 15:01] nzakas commented on #2969
It's probably worth pointing that out to them. Regardless, they are very consistent in that opening spacing is always the same as closing spacing. Example:

https://github.com/jquery/jquery/blob/a644101ed04d0beacea864ce805e0c4f86ba1cd1/test/data/core/dynamic_ready.html#L14

You can do whatever you want in a custom rule/plugin.

[2015-07-14 15:06] nzakas commented on #2991
JSHint calls this s UNIX style reporter. :+1:

[2015-07-14 15:12] nzakas commented on #2965
No. These should not be treated as the same thing (see my previous comment).

[2015-07-14 15:47] jrvidal commented on #2972
There are some exceptions to that:
[code]

But as I mentioned, they might be too contrived to worry about.

Related: How should we detect which globals to report? I was thinking to expose the globals as configured in `lib/eslint/addDeclaredGlobals` in the `context` object. However, I'm not sure if we should report all of them, in particular for `no-extend-native`. The assumption about upper case C

[2015-07-14 15:59] xjamundx commented on #2955
@dcousens, @feross if you want help making a plugin to add this functionality, let me know. it shouldn't be too hard!

[2015-07-14 16:02] royriojas commented on #2989
for example:

- [passing a flag to disable colored output](https://github.com/royriojas/eslint-friendly-formatter/pull/2)
- [passing a flag to report the path to the files as absolute paths vs relative ones](https://github.com/royriojas/eslint-friendly-formatter/pull/7)

Those two were things I had to add environment flags to support them.

But maybe you're right, limiting what reporters can do mi

[2015-07-14 17:24] oshi-shinobu commented on #2991
I think people who see "grep" and know about grep's output would immediately understand the style of the formatter.

grep is a very common and specific program that gives this kind of output and a text-processing tool while UNIX is a whole operating system which can run all kinds of programs so that's why I picked grep, but I am not opposed to renaming it if it's the consensus.

[2015-07-14 17:58] gyandeeps commented on #1798
As per the rewrite if the `indent` rule, `break` statements get indented to the same level as the content body of the case statement by default.
As per this issue, do we need something different or is it ok to close this issue.

[2015-07-14 18:18] lo1tuma commented on #1798
For me it be ok to close this issue. I don't think  if I've ever seen code where break has the same indentation as the case label.

[2015-07-14 18:21] gyandeeps commented on #1798
closing based on the above discussion.

[2015-07-14 18:21] #1798 closed

[2015-07-14 18:28] #2976 closed

[2015-07-14 18:29] nzakas opened #2994 "Write 1.0.0 migration guide"
Forgot to file an issue for this. We need a guide that tells people the differences between 0.x and 1.x.

I'll take a stab at this and send a PR for review.

[2015-07-14 19:07] LinusU commented on #2336
I'm on! Bitcoin (or BountySource) would work best for me :fireworks:

[2015-07-14 19:12] feross commented on #2955
@xjamundx yes, that would be a great help! want to move the discussion over to https://github.com/feross/standard/issues/182 ?

[2015-07-14 21:17] IanVS commented on #948
I've posted a $10 bounty here.  Implementing this *may* simplify automatic configuration creation.

[2015-07-14 21:18] IanVS commented on #1025
I've posted a $10 bounty on Bountysource for this issue. Implementing this may simplify automatic configuration creation.

[2015-07-14 21:44] willklein commented on #948
I don't think it would simplify the auto-configuration, but it would significantly improve its performance. Without this, we're repeatedly reading and parsing every file in a project, and doing that many times.

[2015-07-14 21:46] ilyavolodin commented on #948
I don't think it will help with that either. Because while you might get AST from CLIEngine, you will not be able to pass it back to CLIEngine.

[2015-07-14 21:57] willklein commented on #948
@ilyavolodin, if this and #1025 were both done, would that give us the means to pass the returned AST (and source) back in for reuse?

[2015-07-14 22:20] ilyavolodin commented on #948
Yes, if both would be done, it would probably help speed things up.

[2015-07-14 22:44] empyrical commented on #2969
Alright, thanks man! I'll see what I can do with the plugin api. If the jQuery folks have anything to say about this oddity, I'll ping back here

[2015-07-14 22:44] #2969 closed

[2015-07-15 00:00] mysticatea commented on #1621
Wow, I like `no-implicit-coercion`.
I could image it is explicit type conversions with using implicit type conversions.

[2015-07-15 00:30] #2994 closed

[2015-07-15 00:38] nzakas commented on #2203
@royriojas can you open a new issue about this? It sounds interesting, and I dont want to lose the discussion amongst everything else in this issue.

[2015-07-15 00:42] nzakas commented on #2972
Explicit globals aren't native, so they would be exempt from this check.

I'd say go with the naive approach to start. Just use the built-in list from the globals module and lets see what feedback we get.

[2015-07-15 00:44] nzakas commented on #2989
Yeah, I'm having a hard time rationalizing adding this capability right now. You can always extract common functionality into a single file and extend that to create multiple formatters. I think that's the way to go.

[2015-07-15 00:44] #2989 closed

[2015-07-15 00:45] nzakas commented on #2991
@eslint/eslint-team thoughts on this?

[2015-07-15 00:49] ilyavolodin commented on #2991
Sorry, I'm not familiar with this topic, so no opinion. Both sounds like the should be meaningful to people who would be interested in them.

[2015-07-15 00:50] royriojas commented on #2203
@nzakas  which one? the cache or the globs?

[2015-07-15 00:51] ilyavolodin commented on #2203
@globs are already on the tentative roadmap, so I'm guessing it's cache.

[2015-07-15 00:54] nzakas commented on #2203
Cache, yes

[2015-07-15 01:01] geuis opened #2997 "Inline object not being caught by brace-style"
I have a sample line of code here:

    return reply.view('home/home', {mainOffer: o, offers: [o, o, o], error: err});

My rule is:

    "brace-style": [2, "1tbs", { "allowSingleLine": false }]

Shouldn't the inline object be caught as an error?

[2015-07-15 01:07] nzakas commented on #2997
Brace style does not apply to object literals, only to code blocks.

[2015-07-15 01:10] royriojas opened #2998 "Support for incremental scanning of files (only scan the files that were modified since last run)"
Running eslint thru a large code base takes something about from 6 to 8 seconds (depending on the amount of code in the files and how bad the code is in the first place)

Using a cache layer that remembers that files were not modified since last time they were considered valid hugely reduces the amount of time that the process take, depending on the number of files modified.

On a regular basis fo

[2015-07-15 01:11] royriojas commented on #2203
thanks @ilyavolodin! @nzakas here it is: https://github.com/eslint/eslint/issues/2998

[2015-07-15 01:24] nzakas commented on #2998
Where did the cache get written to?

[2015-07-15 01:28] #2719 closed

[2015-07-15 01:29] royriojas commented on #2998
to the .cache folder inside the [flat-cache](https://www.npmjs.com/package/flat-cache) module which is used by the [file-entry-cache](https://www.npmjs.com/package/file-entry-cache). Cache is destroy if the flag --no-use-cache is passed. I haven't find a better place for the storage yet. I was thinking to use tmp, but since we were ignoring the node_modules folder that was not an issue in my proje

[2015-07-15 01:34] ilyavolodin commented on #2998
I can't say I'm crazy about writing something to the user system without them specifically requesting it. `/var/tmp` (or rather `windows/temp`) will be a problem on Windows, due to requirement of elevated permissions.

[2015-07-15 01:36] royriojas commented on #2998
@ilyavolodin  That's why the same folder for the module made sense for me. I realized this functionality could be helpful in other modules as well that's why I factorized it. but I didn't want to put the burden on the users to ask where to store the cache. but it can be specified. Some people prefer to know where things are being written in their systems :)

[2015-07-15 01:38] feross opened #2999 ""indent" rule throws "TypeError: Cannot read property 'start' of undefined""
Using the code on `master` (as of https://github.com/eslint/eslint/commit/1c70834295b064021e6aa6698473375063bffbae), I get this crash with the `indent` rule enabled:

[code]

You can trigger the error with the code:

[code]

and the rule:

[code]

[2015-07-15 01:42] feross commented on #2999
Found it.

You can trigger the error with the code:

[code]

and the rule:

[code]

[2015-07-15 01:48] feross opened #3000 ""indent" rule false positive on "while" statement"
Using the code on `master` (as of https://github.com/eslint/eslint/commit/1c70834295b064021e6aa6698473375063bffbae), I get a false positive with the `indent` rule enabled.

Code:

[code]

Rule:

[code]

Incorrect error:

[code]

[2015-07-15 01:54] feross commented on #3000
And here's another instance where "indent" gives a false positive:

[code]

[code]

[2015-07-15 01:56] gyandeeps commented on #3000
Can you file a separate issue for switch case.

For the while `case` discussed above, i am not able to produce the error.

[2015-07-15 02:03] feross opened #3001 ""indent" rule false positive in "switch" statement"
Using the code on `master` (as of https://github.com/eslint/eslint/commit/1c70834295b064021e6aa6698473375063bffbae), I get a false positive with the `indent` rule enabled.

[code]

Rule:

[code]

Errors:

[code]

[2015-07-15 02:03] feross commented on #3000
Sure, separate issue filed: https://github.com/eslint/eslint/issues/3001

[2015-07-15 02:19] gyandeeps commented on #3001
what was the config used for the rule?

[2015-07-15 02:22] feross commented on #3000
@gyandeeps I just reconfirmed that the issue indeed exists. Are you using the version of eslint that's on `master`?

[2015-07-15 02:22] feross commented on #3001
[code]

[2015-07-15 02:23] gyandeeps commented on #3001
This rule is reporting incorrectly because you dont have `;` at the end of returns.
I will further investigate whats going on here.

[2015-07-15 02:25] feross commented on #3000
Here's a demo: https://github.com/feross/eslint-issue-3000

[code]

[2015-07-15 02:26] #2718 closed

[2015-07-15 02:30] feross commented on #3000
Your test case here (https://github.com/eslint/eslint/commit/c46b7a9144bea1241fd86b78a3d72abf1492ae50#diff-a28ba1a60512ed1edcdfca32d70ce897R57) added a `;` to the end, which might be causing the test to pass.

[2015-07-15 02:30] #2999 closed

[2015-07-15 02:31] gyandeeps commented on #3000
I tried it by removing it, still passes.

[2015-07-15 02:32] feross commented on #3000
@gyandeeps What about my demo repo?

[2015-07-15 02:33] ilyavolodin commented on #3000
I can confirm that demo is failing (as is, without latest fix)

[2015-07-15 02:45] gyandeeps commented on #3001
I think this maybe an issue with Espree.
Switch case node has an line start of 3 and line end of 4. which is incorrect.

But I checked [esprima](http://esprima.org/demo/parse.html?code=function%20test()%7B%0Aswitch(a)%20%7B%0A%20%20%20%20case%20%22a%22%3A%20return%20console.log(%22A%22)%0A%20%20%20%20case%20%22b%22%3A%20return%20console.log(%22B%22)%0A%7D%0A%7D), it parses it correctly.

[2015-07-15 02:50] gyandeeps commented on #3001
Issue logged to Espree: https://github.com/eslint/espree/issues/164

[2015-07-15 02:55] gyandeeps commented on #3000
I confirmed the bug using the repo now and it is also because of the semi at the end.
But if I use the same code inside unit test, it passes. :scream:

[2015-07-15 02:56] ilyavolodin commented on #3000
Hmm... Ok, now that's very interesting. Unit tests shouldn't be doing anything that would cause such behavior...

[2015-07-15 02:58] gyandeeps commented on #3000
Can anyone else try it in unit test to confirm please?

use this:

[code]

[2015-07-15 03:03] ilyavolodin commented on #3000
I just verified it locally, and you are correct, it's passing unittests. No idea why, but we really should investigate this.

[2015-07-15 03:06] ljharb commented on #2976
Thanks!

[2015-07-15 03:06] gyandeeps commented on #3000
I know why now..... ready everyone *drum roll*
AS i mentioned this issue https://github.com/eslint/espree/issues/164 where if a stement doesn't have a `;` then it make the start and end for location to be not on same line.

Now if you closely look into @feross repo and the js file in it. it has an empty line. that hwy.
Our unit test doesnt have that.

[2015-07-15 03:15] ilyavolodin commented on #3000
Ok, that makes sense. I got scared there for a second that our unittests where not testing things correctly.

[2015-07-15 03:52] gcochard commented on #2991
FWIW npm uses [`porcelain` and `parseable`](https://docs.npmjs.com/all#shorthands-and-other-cli-niceties) as the option name for passing output to other unix utilities. As someone who has used `grep`, I did not recognize the meaning so I vote for `unix` or an unambiguous name such as `parseable` or `porcelain`.

[2015-07-15 04:02] michaelficarra commented on #2991
@gcochard Those are both better names than the previous suggestions.

[2015-07-15 05:48] geuis commented on #2997
@gyandeeps Ok. Is there an alternate rule or rules that will apply?

[2015-07-15 05:54] mysticatea commented on #2997
http://eslint.org/docs/rules/object-curly-spacing

[2015-07-15 06:59] BYK commented on #2949
@nzakas - this is also a problem for us. We are using Phabricator which thinks the process had trouble running when it exits with an error code. Now on why we cannot make everything a warning is because we actually use the distinction between errors and "suggestions" where an "error" is a blocker (before submitting a patch) a "warning" is more of an advice but not enforced.

Does that make sense?

[2015-07-15 07:39] BYK commented on #1231
Do you think we can get an option added to `espree` so it freezes the nodes as soon as it creates, thus avoiding the performance hit a bit may be?

[2015-07-15 08:06] lo1tuma commented on #1231
I don't think that would work because eslint modifies the AST nodes before
passing them to the rules.
On Jul 15, 2015 9:39 AM, "Burak Yiğit Kaya" <notifications@github.com>
wrote:

[2015-07-15 08:31] oshi-shinobu commented on #2991
parseable is OK but it's a bit ambiguous as there are many parseable formats, whereas calling this style UNIX at least has some precedents.

I am going ahead with "unix", then, thanks for the feedback!

[2015-07-15 08:33] mysticatea commented on #2203
Is there the person who is interested in i18n?

I'm interested in Japanese translations for warning messages and documents.

[2015-07-15 10:17] 0x80 opened #3003 "space-after-keywords never should ignore else"
I would like to enforce this style:

[code]

Using space before { but not between keywords and (. This code with "never" gives the error:

```Keyword else must not be followed by whitespace```

[2015-07-15 11:47] mysticatea commented on #1621
Thanks a lot for many advice.

[2015-07-15 11:59] mysticatea commented on #2977
I will try to fix this.

I will make two PR, for `master` and for `0.x`.

And I will add a message for a reason of unnecessary: such as `module codes are strict mode always` and `class bodies are strict mode always`.

[2015-07-15 12:01] andreas-marschke commented on #1842
Hi! I have a PR to run fail eslint on undocumented named functions it's here: https://github.com/eslint/eslint/pull/2980

If you'd like to have this issue resolved feel free to comment on the PR.

[2015-07-15 12:04] mysticatea commented on #1231
I thought this problem should be checked by `eslint-tester`, and `eslint` does nothing in order to keep performance.

[2015-07-15 13:41] mysticatea opened #3005 "`spaced-comment` rule warns line-endings of Windows."
This is related with #2884.

On the issue, the problem around CRLF seems to be not fixed completely.
I tried with `master` branch, this rule still warn at normal block comments.

## test.js

[code]

## Command & Actual

[code]

## Expected

No errors.

----

To fix, I guess `&& node.value.indexOf("\r") !== 0` is added into [here](https://github.com/eslint/eslint/blob/e88f8d816072957fcf9c67188ee609

[2015-07-15 13:55] ilyavolodin commented on #3003
Could you post the whole error message including line/column numbers? Also, which version of ESLint are you using?

[2015-07-15 14:01] ilyavolodin commented on #2977
@mysticatea No need to do two PRs, do one PR into master, and we will cherry-pick that commit into 0.x branch whenever we will do a release.

[2015-07-15 14:16] lo1tuma commented on #3000
working on this

[2015-07-15 14:27] lo1tuma commented on #3001
working on this

[2015-07-15 14:32] mysticatea commented on #2977
Hm, this rule at 0.x has a deprecated mode which is nothing at master. So I guess two PRs are needed.

[2015-07-15 14:38] ilyavolodin commented on #2977
Oh, right, I forgot about deprecated mode, sorry. In that case, yes, we would probably need 2 PRs.

[2015-07-15 15:00] nzakas commented on #2998
For people who check in their dependencies, having a file show up could be disconcerting. If a file is to be written, it needs to be obvious.

I could see maybe creating a `.eslintcache` file in the cwd, but we would need to make this behavior opt-in so people would have the chance to add it to their `.gitignore` file.

[2015-07-15 15:00] #3000 closed

[2015-07-15 15:00] #3001 closed

[2015-07-15 15:02] nzakas commented on #2997
We don't have a rule that specifies anything other than spacing (as @mysticatea points out).

If you'd like to propose a new rule, please see the guidelines: http://eslint.org/docs/developer-guide/contributing#new-rules

[2015-07-15 15:03] lo1tuma commented on #2336
@feross, @LinusU: Thanks, but I’m not interested in earning money with my contributions, so feel free to keep to money or donate it directly to the [eslint team via BountySource](https://www.bountysource.com/teams/eslint).

[2015-07-15 15:07] nzakas commented on #2949
Does that mean ESLint is running in two systems? Phabricator and something else?

How do you flag errors if the exit code is always zero?

[2015-07-15 15:09] nzakas commented on #2203
Ooh, that would be interesting!

[2015-07-15 15:11] btmills commented on #2203
i18n would be really cool. @ilyavolodin's work in #2861 to separate error messages from implementation would help with that.

[2015-07-15 15:24] nzakas commented on #2977
I'd just fix this on master. I'm doing the first RC today, and I'd rather not complicate things with continuing to do 0.x releases.

[2015-07-15 15:24] #3005 closed

[2015-07-15 15:53] BYK commented on #2203
I may be able to help with i18n.

[2015-07-15 16:30] BYK commented on #2949
We also have an npm command to run lint on everything manually but it mainly runs with Phabricator yeah. That said even if it was running on CI, most CI systems treat non-zero error code as a complete failure. We had the same problem with our unit tests for instance.

We parse the output. Just as we do for test results.

[2015-07-15 17:20] SgtPooki opened #3009 "Error: Definition for rule 'callback-return' was not found."
When using the ```.eslintrc``` file included in this repo, after removing the extends, I get the following error.

[code]

This error is only resolved after removing the callback-return rule. I was going to submit a PR of removing it from ```.eslintrc``` but it seems like the rule was added about 19 days ago, so maybe something was missed?

[2015-07-15 17:20] sam-github opened #3010 "feature request: a strict strict mode"
strict mode is getting more lax as more features are defined, I particularly run into this when strict mode  code that is valid in io.js throws exceptions in node v0.10, it would be nice to have this caught by eslint in dev, rather than CI.

Perhaps a 'strict-strict' mode that checks for a sub-set of strict that was valid in node v0.10 (that is, whatever ES version it's V8 supported) would be help

[2015-07-15 17:42] ilyavolodin commented on #3009
What version of ESLint are you running? Since the rule was only added recently, you have to run latest master (unreleased) version.

[2015-07-15 17:43] ilyavolodin commented on #3010
Can you provide code example that's causing this issue, version of ESLint your are running and configuration for `strict` rule you are using?

[2015-07-15 18:02] nzakas opened #3011 "Upgrade Espree"
This will add support for `new.target` and object rest/spread. Need to remember to update escope and test out a few rules.

I'll work on this.

[2015-07-15 18:26] nzakas commented on #3011
I'm going to leave off too much testing for this. I'd like to release RC 1 and then get feedback as people find issues rather than trying to proactively seek out every rule that might run into this.

[2015-07-15 18:27] gyandeeps commented on #3011
I think thats a good idea.

[2015-07-15 18:34] #3011 closed

[2015-07-15 19:11] mathieumg commented on #2989
That's not the troublesome part, the problem is to inform the formatter of our intent. The more options are added, the more "sub-formatters" will be needed (even if there aren't that many options), every new boolean option doubles the amount of named js files we would need to use the different combinations. (See my first linked example in my original post) Since we pass a filepath to ESLint, we do

[2015-07-15 19:21] ilyavolodin commented on #2989
Hmm.. I wonder if formatters should be added as exportable object to `eslint-plugin-` infrastructure? It feels like that would solve all of the problems described above, plus add ability to share formatters easily by publishing them to NPM.

[2015-07-15 19:32] mathieumg commented on #2965
The two ways out of this seem to be:

* Add more options for every syntax, such as `ObjectExpression`, `ArrayExpression`, and `ClassBody`. (@mysticatea)
* A generic `afterCurlyBrace` exception? (@xjamundx)

I personally would have been content with either the second one, or both of them. (i.e. second one overrides former one), but it seems it's a no go for the second option as per @nzakas, so I im

[2015-07-15 19:50] mathieumg commented on #2989
I'd be fine with that too, anything that improves the situation I described above. :+1:

[2015-07-15 20:21] feross commented on #2336
@lo1tuma Donated to the eslint team on BountySource - thanks!

[2015-07-15 20:37] ilyavolodin opened #3013 "Move formatters into plugins"
Should we add formatters to plugins? That would allow formatters to be shared more easily between repository. We also converted everything that used to be file based into plugins, formatters are the only leftover.

Problem with this is how do you specify formatter that's part of the plugin? Currently we deal with plugins in .eslintrc file, but that wouldn't work for formatters, since there could b

[2015-07-15 20:37] ilyavolodin commented on #2989
Opened #3013 to discuss formatters in plugins.

[2015-07-15 20:47] mathieumg commented on #3013
:+1:

I think the formatter used should be the one specified the highest in the ".eslintrc inheritance chain", so either the topmost or the one in the same file that has `root: true`. Otherwise, there could be "conflicts" as you pointed out. Sadly, no formatter specified means to use the default formatter, so we couldn't just get the highest common level with a formatter specified, we'd really nee

[2015-07-15 20:49] royriojas commented on #3013
+1 plugins seems to be the way to go. And maybe the formatter we honor for formatters is the one closer to the `process.cwd()`

[2015-07-15 21:09] SamuelBolduc opened #3014 "Rule request: enforce the use of template strings over standard concatenation"
It was suggested in #1617 to add a rule to enforce the use of string templates. As far as I know, this has not been implemented yet.

I was wondering if someone thought about this or began work on this rule?

[2015-07-15 21:13] dozoisch commented on #3013
:+1: that'd be awesome

[2015-07-15 21:40] ilyavolodin commented on #3013
I definitely don't want to get into situation where you will have multiple formatters in the output. That just feels completely wrong to me.
I'm also not sold on last formatter in .eslintrc inheritance chain wins approach, because it might cause a lot of confusion and would be very hard to trace in some cases.
Maybe we should still keep the same syntax as we have now (as in CLI) option, but allow

[2015-07-15 21:44] LinusU commented on #2336
![screen shot 2015-07-15 at 23 44 05](https://cloud.githubusercontent.com/assets/189580/8710628/6f59e710-2b4b-11e5-9619-329b7f20f40b.png)
:+1:

[2015-07-15 21:52] bathos opened #3015 "no-else-return : else if"
With no-else-return activated:

    if (x) {
      doOneThing();
    } else if (y) {
      return true;
    } else {
      doAnotherThing();
    }

The final else is considered a violation -- which makes technical sense given the implementation, but seems contrary to the intent of the rule (to eliminate superfluous else statements). The final else block is meaningful here despite the preceding "re

[2015-07-15 21:58] mathieumg commented on #3013
How would that solve the problem described in #2989? Wouldn't it just be the same, then?

[2015-07-15 22:06] ilyavolodin commented on #3013
@mathieumg Well it will solve it in two different ways. In plugins, exported objects don't have to be files. You can have multiple exported objects all in the same file. You could then use `eslint-plugin-formatter/my-awesome-formatter2`, so you could have multiple formatters packaged in a single plugin (and single file).

[2015-07-15 22:16] mathieumg commented on #3013
Does `eslint-plugin-formatter` have dynamic access to the value given after the `/`? Otherwise, I don't see how you would be able to "provide" options to the formatter. other than exporting all combinations programmatically from within, which is a bit less troublesome than generating files for all combinations, but is just as hacky and incurs the performance hit on the runtime.

[2015-07-15 22:30] aabenoja opened #3016 "Infix operator error in jsx ternary"
I'm getting an `Infix operators must be spaced` error on the following ternary:

[code]

We have a couple of places where we use ternaries like this to choose whether to generate an optional item or assign a `null` in its place. There error is being thrown on the colon before `null`.

[2015-07-15 22:35] malandrew opened #3017 "spaced-comment exception for eslint directives"
Having played around with the `exceptions` and `markers` options of the `spaced-comment` rule, there doesn't seem to be a way to require a space after the comment delimiter, except when you use an eslint directive like `/*eslint-disable complexity*/`.

I tried putting strings like `"eslint"`, `"eslint-disable"` and `"eslint-enable"` in the markers array and that didn't seem to work. Seems like thi

[2015-07-15 23:09] michaelficarra commented on #3016
Did you mean to file this against espree instead?

[2015-07-15 23:15] szarouski opened #3018 "true/false is missing from "no-reserved-keys""
It looks like `no-reserved-keys` doesn't catch when `true` or `false` are used as keywords, which cause ie8 to break. For following example when `no-reserved-keys` is enabled, eslint only complains about `default`.

[code]

It would be better if eslint could catch when `true` or `false` are used as keys. Take a look at [similar issue](https://github.com/jscs-dev/node-jscs/pull/1233) for `jscs`. Th

[2015-07-15 23:53] nzakas commented on #3014
You can use the quotes rule stuff the backticks setting: http://eslint.org/docs/rules/quotes

[2015-07-15 23:55] Jackyjjc commented on #3016
same here with `something.prop ? (d.something || 'blah') : d.something`

giving me Infix operators must be spaced. This is in node.js with the latest version of eslint installed from npm

[2015-07-15 23:56] nzakas commented on #2949
Hmm OK, let's think about this one some more. Not sure if the blunt instrument of a forced exit code is the best approach. It seems like what we want is a way of saying to treat all errors as warnings. Need to think about this a bit, open to suggestions.

[2015-07-16 00:01] nzakas commented on #3013
I'm not sure plugins are the right approach here. Formatters are only specified on the command line, so there's no real value to providing them in plugins, which are specified in the config file. Plus, Right now you could do:

[code]

So you can already specify a formatter from a different module. I don't see a big advantage by trying to do more than that.

[2015-07-16 00:05] nzakas commented on #3018
We've run into this type of thing before (#1616). The trouble is true and false are not keywords.

IE8 has a larger set of invalid property names that we discussed adding an option for in #1616. I'm inclined to mark this as a duplicate.

[2015-07-16 00:07] nzakas commented on #3016
Thanks for the report. Can you please provide:

1. The exact version of ESLint you are using
2. The config for the rule
3. The complete ESLint output

[2015-07-16 00:13] divmain opened #3019 "block-scoped-var fails for nested destructuring"
The issue is demonstrated by the following two examples.

**1:**
[code]
**2:**
[code]

These two examples compile and execute correctly using Babel.  However, ESlint will report a `block-scoped-var` warning on line 4 of the first example, and for both locations where `el` shows up in the second example.

Looking [here](https://github.com/eslint/eslint/blob/master/lib/rules/block-scoped-var.js#L26-

[2015-07-16 00:15] nzakas commented on #2989
@mathieumg again, formatters weren't designed to be that complicated. There is an intentional constraint here to keep them as simple as possible. Formatters are just not intended to have multiple options and I don't see a strong argument why that should change. It seems like you are still able to do what you want to do and the end result is a better user experience by forcing separate named format

[2015-07-16 00:17] Jackyjjc commented on #3016
The version i fall back to but it is still failing is eslint@0.22.1

[code]

[code]

[2015-07-16 00:22] ilyavolodin commented on #2949
How about a compromise? If `--output-file` attribute is passed on CLI, exit code should be 0 no matter the result of the linting.

[2015-07-16 00:36] royriojas commented on #2989
@nzakas could you consider adding an option to just spit to the std output the unformatted results? I guess that will solve all of the issues related to the formatters that way some one can just use that as the input for a custom formatter that does accept extra parameters.
some like this

[code]

Sorry for keep coming back on the issue. I do see the value on keeping things simple in the formatter

[2015-07-16 00:37] royriojas commented on #3013
@nzakas could you consider adding an option to just spit to the std output the unformatted results? I guess that will solve all of the issues related to the formatters that way some one can just use that as the input for a custom formatter that does accept extra parameters.
some like this

[code]
Sorry for keep coming back on the issue. I do see the value on keeping things simple in the formatters

[2015-07-16 00:46] aabenoja commented on #3016
eslint v0.24.1

[code]

[code]

@michaelficarra Is most likely spot on. Comparing my build logs between this occurrence and our last successful build it's not just eslint being updated to v0.24.1, but espree getting updated to v2.2.0

[2015-07-16 01:19] whitneyit opened #3020 "Should `let` or `const` be considered in "newline-after-var""
Since [global-strict](http://eslint.org/docs/rules/global-strict) and [no-extra-strict](http://eslint.org/docs/rules/no-extra-strict) were deprecated in favour of [strict](http://eslint.org/docs/rules/strict); how does that play in with [newline-after-var](http://eslint.org/docs/rules/newline-after-var)?

Should a new rule be created to handle `let`, `const`, as well as `var`? Or should a separate

[2015-07-16 01:35] szarouski commented on #3018
I'm fine with that. Thank you.

[2015-07-16 01:36] gyandeeps commented on #3020
`newline-after-var` rule already supports `let` and `const`.

can you share the code and eslint output where you see this rule doesnt work.?
Also what version of eslint and parser are you using?

[2015-07-16 01:59] gyandeeps opened #3021 "mocha-phantomjs install creating issues with peerdependency"
As of the latest release of `mocha-phantomjs`, they locked down their `phantomjs` peerDependency version to `1.9.7-15` (https://github.com/nathanboktae/mocha-phantomjs/commit/219bc30afa7bb629549fdff89d989e737fa67303). But we in our package explicitly require `phantomjs`, so we end up installing the latest (`1.9.17`), and then we get an install error.

here is the error:

[code]

Question: Why do w

[2015-07-16 02:20] whitneyit commented on #3020
I was unaware that it also handled both of those terms.

Perhaps the documentation of the rule could be updated to show that it works for `let` and `const` as well since there is no mention of those keywords in the [docs](https://github.com/eslint/eslint/blob/44dca275a65b9e77a42057105e2a5aa06faf62fa/docs/rules/newline-after-var.md).

Also, is the rule name worth deprecating to show the support for

[2015-07-16 02:24] gyandeeps commented on #3020
I think "Variable Declarations" means `var`, `let` and 'const`. At least for me.
But I guess we can say it out in docs.

[2015-07-16 02:33] whitneyit commented on #3020
How about we update some of the examples to also show usage of `let` and `const`?

[2015-07-16 02:33] gyandeeps commented on #3020
sounds good to me.

[2015-07-16 02:34] whitneyit commented on #3020
Ok. I'll work on a PR

[2015-07-16 02:35] gyandeeps commented on #3020
Since you are going to work on it, its good to say it our loud saying variable declaration means `var`, `let` and `const`.

[2015-07-16 02:36] whitneyit commented on #3020
Will do :smile:

[2015-07-16 02:59] #3021 closed

[2015-07-16 03:01] IanVS commented on #3021
Looks like `phantomjs` was added along with `mocha-phantomjs` in https://github.com/eslint/eslint/commit/6a373bd10e0e250abf93e50e161bd5d66047e5b2.

At that time, it was necessary to install both.  It wasn't until [a few months later](https://github.com/nathanboktae/mocha-phantomjs/commit/fd6cbad1d67c1d0da06b62ec9eacbce8936d1e5a) that `mocha-phantomjs` added `phantomjs` as a peer dependency.

[2015-07-16 03:02] gyandeeps commented on #3021
Thanks. I wasn't sure as to where its getting used.

[2015-07-16 03:14] mistadikay commented on #3001
Still can reproduce this bug on 1.0.0-rc-1

[2015-07-16 03:17] ilyavolodin commented on #3001
Hmmm... @lo1tuma added unittests to verify reported scenario. If yours differ, can you open a new issue?

[2015-07-16 03:26] mistadikay opened #3024 ""indent" rule for "switch" statement"
code:
[code]

.eslintrc:
[code]

error:
[code]

expected result:
* 4, 7 indentation of 12 chars should not cause warning
* 5, 6, 8 indentation of 16 chars should not cause warning

[2015-07-16 03:31] gyandeeps commented on #3024
Thats happening because you dont have option `{ indentSwitchCase: true }` set.

[2015-07-16 03:33] mistadikay commented on #3024
@gyandeeps yep, you're right, `indentSwitchCase` option helped. Thanks!

[2015-07-16 03:33] #3024 closed

[2015-07-16 03:36] gyandeeps commented on #3001
@mistadikay was missing the indent case option.
https://github.com/eslint/eslint/issues/3024

[2015-07-16 03:40] #3020 closed

[2015-07-16 05:15] sam-github commented on #3010
eslintrc: https://gist.github.com/6c9095c20b15ca4285a3

fu.js, with a function inside a conditional (the use of process is to have something to put in the if, and to use the function - eslint warns on unused functions, as it should)
[code]

eslint warnings: none

node v0.10:
[code]

iojs 2.2.1: no error, under recent js updates, the usage in fu.js is well-defined

[2015-07-16 09:56] mysticatea commented on #3010
It looks not related with ESLint.

[2015-07-16 10:00] mysticatea commented on #3010
Sorry, hm, did not ESLint have a rule to warn function declarations in `if`/`while`?

[2015-07-16 10:30] lo1tuma opened #3026 "Missing dependency when using npm v3"
In #3022 the phantomjs dependency was removed, which still works with npm v2 because npm automatically installs missing peer dependencies. This behavior changed with npm v3, where peer dependencies won’t be automatically installed.

[code]

So if you install the eslint dependencies with npm v3 `npm test` won’t work anymore:

[code]

[2015-07-16 11:18] mysticatea opened #3029 "`no-ex-assign`, `no-param-reassign`, and `no-native-reassign` are ignoring destructuring."
## test.js

[code]

## Command & Actual

On `master` branch.

[code]

No errors.

## Expected

[code]

----

I'm happy to work on this.

[2015-07-16 12:29] IanVS commented on #3010
You have the strict rule turned off.  Try turning it on and setting it to `"global"`.

https://gist.github.com/sam-github/6c9095c20b15ca4285a3#file-eslintrc-L123

[2015-07-16 13:01] mlarcher commented on #2829
@nzakas It sounds interesting, but I'm not sure I can gather enough time to dive into it.
I'll make a PR if I can.

[2015-07-16 13:52] #2941 closed

[2015-07-16 13:52] gyandeeps commented on #3026
I think to prepare for `npm` 3 each module has to take care of that. So basically we are covering for them. Shouldn't we report that as an issue on their repo.

[2015-07-16 13:53] AlexKVal commented on #3016
The same issue https://github.com/babel/babel-eslint/issues/149
I hope it'll add more info :cherries:

[2015-07-16 13:56] IanVS commented on #3026
Essentially `mocha-phantomjs` is making it difficult for consuming projects by locking down their version of `phantomjs`.  But, as I understand it, it is still the responsibility of consuming projects to install a compatible version of the peer dependencies.

[2015-07-16 13:56] SamuelBolduc commented on #3014
I don't think it was related - what I was talking about was to enforce ES6 string templates instead of standard concatenation.

I'm looking for a rule that would give me an error for this :

`var myString = 'Hello, my name is ' + name + '!';`

But would accept this syntax :

`var myString = 'Hello, my name is ${name}!';`

I don't think this is covered by the quotes rule.

[2015-07-16 14:00] ilyavolodin commented on #3014
I agree, quotes rule will not cover this request.

[2015-07-16 14:00] hzoo commented on #3016
I think you can close this since it's using `"parser": "babel-eslint",` -  it's an issue after updating babel to latest - 5.7.2. Will be fixed there.

[2015-07-16 14:01] ilyavolodin commented on #3016
Closing per @hzoo

[2015-07-16 14:01] #3016 closed

[2015-07-16 14:07] btmills commented on #3010
Is [block-scoped-var](http://eslint.org/docs/rules/no-inner-declarations) what you're looking for?

[2015-07-16 14:17] gre opened #3030 "The experimentalObjectRestSpread feature does not work with complex code"
version: 1.0.0-rc-1

[code]

<img width="411" alt="screen shot 2015-07-16 at 16 17 10" src="https://cloud.githubusercontent.com/assets/211411/8725732/22e947f0-2bd6-11e5-9e46-b94635af82fe.png">

[code]

[2015-07-16 14:24] gyandeeps commented on #3030
What is the version of eslint are you using?
Can share the console output of eslint?

[2015-07-16 14:25] xjamundx commented on #3030
Considering this merged only 22hours ago https://github.com/eslint/espree/issues/163

I assume it's not been published to eslint yet.

[2015-07-16 14:26] gyandeeps commented on #3030
@xjamundx Its on the our 1.0.0-rc release candidate

[2015-07-16 14:26] xjamundx commented on #3030
Oh wow. Things move fast. Go on vacation and the world moves along.

[2015-07-16 14:27] IanVS commented on #3030
You underestimate the speed of @nzakas. :)

[2015-07-16 14:27] gre commented on #3030
I have updated the initial post about version and output :)

[2015-07-16 14:37] michaelficarra commented on #3030
Yes, the proposal's grammar allows AssignmentExpression in object spread position, so it looks like espree is broken. But you should open your issue there, not here.

[2015-07-16 14:39] gre commented on #3030
thanks @michaelficarra

[2015-07-16 14:49] nzakas commented on #3015
Yeah, looks like a bug.

[2015-07-16 14:52] nzakas commented on #3017
Can you give some example code, what the output from ESLint is currently, and what you'd like it to be?

[2015-07-16 14:53] michaelficarra commented on #3030
@gre You can close this issue now.

[2015-07-16 14:56] IanVS commented on #3017
Is there a reason you don't want to require a space there? `/* eslint-disable complexity */`

[2015-07-16 14:57] nzakas commented on #3010
The issue is that function declarations were not allowed to be in blocks in ES5 but are allowed in ES6. We probably need a no-block-func rule for this.

@sam-github we can't add a rule that implements all of strict mode, but we can certainly add does for the posts y we are missing (we already have a lot).

[2015-07-16 14:59] btmills commented on #3010
I just realized my earlier comment linked to no-inner-declarations, but I typed out block-scoped-var. Fixed, no-inner-declarations is what I meant!

[2015-07-16 15:04] #3030 closed

[2015-07-16 15:12] IanVS commented on #3014
So you would want a rule which could enforce:

[code]

[2015-07-16 15:13] ilyavolodin commented on #3014
Basically this rule should flag string concatenation and suggest to use string templates instead.

[2015-07-16 15:25] BYK commented on #2949
I mean, as I tried to mention before, we need the separation of the notion of `error` and `warning` in the output. May be a flag like `--ignore-errors` or something to only suppress the non-zero output code for lint errors (but nothing else) may work?

This doesn't sound like a bad idea. I think I can make Phabricator to work with a file. That said `stdout` is always preferred.

[2015-07-16 15:28] SamuelBolduc commented on #3014
Exactly!

[code]

This way, when using it along with other ES6-enforcing rules, you can learn to use the advantages of ES6 much quicker!

[2015-07-16 15:31] IanVS commented on #2949
This might also be something nice to have for projects which are beginning to implement ESLint.  They may want to commit their desired `.eslintrc` with a mixture of errors and warnings, but then start off with all errors overridden to warnings so that fixes can be made over time until they are ready to start breaking builds on errors, at which point it would be a matter of changing one option rath

[2015-07-16 16:05] sam-github commented on #3010
@nzakas all of strict mode would be too much, I agree, but a `strict-es5-compat` would be more reasonable: it would only have to include the ***differences*** in strict mode from es5 to es6. The only things I've run into are variable scope changes.

[2015-07-16 17:41] nzakas commented on #3019
Thanks, can you please provide the actual ESLint output you're seeing for each example?

[2015-07-16 17:44] nzakas commented on #3013
Yeah, we can definitely add a `json` formatter that just spits out the results in the JSON format. So you'd do:

[code]

Would that work?

[2015-07-16 17:45] sam-github commented on #3010
@btmills the problem with `no-inner-declarations` is that it applies to non-strict mode too.

Inner declarations work fine in our code outside of strict mode (which is node/v8-only, I'm not concerned about browser compatibility), I don't want to be warned about valid code, its only in es5 strict mode that v8 errors out on inner declarations.

As we slowly introduce strict mode through our code bas

[2015-07-16 17:48] nzakas commented on #3014
That's fine by me.

@SamuelBolduc in the future, please be sure to include sample code in your description along with what sort of warning you'd expect. We get a lot of feature requests and it's easy to overlook a word or two. Here's what we'd like for new rules: http://eslint.org/docs/developer-guide/contributing.html#new-rules

[2015-07-16 18:13] nzakas commented on #3010
@sam-github we don't bundle that much functionality into a single rule, nor can we enable/disable rules based on strict mode. It would be up to you to apply `no-inner-declarations` where necessary.

As an aside, we should probably reorganize the rules list so those that mimic strict mode restrictions are in one spot.

[2015-07-16 18:16] nzakas commented on #3029
Yup, looks like a bug (or several bugs).

[2015-07-16 18:21] nzakas commented on #2949
@ilyavolodin that's a bit too magical for my tastes - it would be hard to explain why people need to create an output file just to get a 0 exit code.

What about a `--severity` flag that can override the severity of rules? So `--severity 1` forces everything to be a warning and `--severity 2` forces everything to be an error?

[2015-07-16 18:30] lo1tuma commented on #3026
@gyandeeps That’s not correct, see the following quote from the [npm v3 release notes](https://github.com/npm/npm/releases/tag/v3.0.0):

[2015-07-16 18:38] BYK commented on #2949
Would that also affect the output or just the exit code?

[2015-07-16 18:41] royriojas commented on #3013
Yeah, after I suggested it I realize that a json formatter was the way to go :) That should solve all the problems to pass parameters to the formatters.

At least for me that's enough. Thank you

[2015-07-16 19:28] nkt opened #3034 "no-extra-parens and react"
"no-extra-parens" throws error on this code:
[code]
How I can fix this?
v1.0.0-rc-1

[2015-07-16 19:28] gyandeeps commented on #3034
Can you share the exact output please?

[2015-07-16 19:31] nkt commented on #3034
[code]

[2015-07-16 19:32] mayatron commented on #1728
+1 for allowing multiple styles (or adding the `requireAlignment` option)

[2015-07-16 19:42] mirek opened #3035 "no-shadow support for ignoring identifiers."
`no-shadow` is great but there are times when exception from the rule is desirable.

Consider the following example where `done` argument is used throughout the codebase:

[code]

Imagine multiple nested levels throughout the whole project (with identifiers like `resolve`, `reject`, `done` or `cb` being shadowed). It would be great to take advantage of `no-shadow` for all other identifiers except

[2015-07-16 19:49] michaelficarra commented on #3034
They are unnecessary. Use `return <...>` or

[code]

or just disable the rule.

[2015-07-16 19:49] mathieumg commented on #3013
Yes, that would be a sensible approach! That way, formatters aren't "jailed" within ESLint and you have full control over them, they don't need ESLint at all anyway since they work "after the fact" and were never allowed access to any internals to begin with.

Thank you.

[2015-07-16 19:59] nkt commented on #3034
I couldn't disable this rule, cause `no-wrap-func` have been replaced by this rule.

[2015-07-16 20:01] michaelficarra commented on #3034
Then you have my other recommendations. This rule is behaving as designed.

[2015-07-16 20:26] ilyavolodin commented on #3013
So in that case, I will close this issue and open a new one to create json reporter.

[2015-07-16 20:26] #3013 closed

[2015-07-16 20:27] ilyavolodin opened #3036 "Create JSON formatter for ESLint"
We should create a simple formatter that outputs JSON back to the command line. This will allow people to pipe output to their own utilities that will be able to use the data any which way they want.

[2015-07-16 20:28] ilyavolodin commented on #3013
Opened JSON formatter issue here: #3036

[2015-07-16 20:33] nkt commented on #3034
If it is, I suggest to add `"return": false` option for this rule, that would ignore described case.

[2015-07-16 20:46] ilyavolodin opened #3037 "Reorganize landing page for rules"
We are getting more and more rules that only apply to ES6. We should reorganize our readme.md file to reflect that. Also, we have a "Strict rules" group, but as of 1.0.0 we will only have one rule under it.

[2015-07-16 21:06] sam-github commented on #3010
@nzakas I thought you had rule categories that could be imported as a whole, such as `extends: "es5-compatible"`, but that's OK, I'll use any combination of eslint config that gets the job done.

But to be clear: `no-inner-declarations`, as-is, can't be used for our code, because it applies to non-strict-mode functions, as well as strict, and thus will warn about valid non-strict code.

We are gra

[2015-07-16 21:18] btmills commented on #3010
@sam-github are you able to add a comment to the top of your files as you convert them? Would having `no-inner-declarations` off in your `.eslintrc`, then enabling it in converted files with `/* eslint no-inner-declarations: 2 */` work?

[2015-07-16 22:15] Rob--W opened #3039 "Add option to ignore deprecated rules."
With #2920 and #1549, eslint will unconditionally print a warning when a deprecated rule is encountered. This patch still has a huge issue, which becomes apparent in the following scenario:

1. I have a .eslintrc file which extends a third-party .eslintrc
2. The third-party .eslintrc uses a deprecated rule.
3. I use tools (e.g. the syntastic plugin for Vim) that complain loudly whenever eslint rep

[2015-07-16 22:25] jmreidy opened #3040 "Different files for npm run"
I am sure I am missing something basic here...

I've got a npm script defined as:

`lint: "./node_modules/.bin/eslint ./src/**/*.js"`.

When I run that command from the command line, it appears that I'm getting a fuller-set of files tested than when I run it via `npm run lint`. It looks like the NPM version is missing files like `./src/foo.js` (and also files like `./src/foo/__tests__/foo-test.js`

[2015-07-16 22:28] gyandeeps commented on #3040
Can you share your output for direct run and also with npm?
what version of eslint are you using?

[2015-07-16 22:45] michaelficarra commented on #3034
What is wrong with using the style I recommend? We shouldn't have exceptions for a use case that is entirely optional.

[2015-07-16 22:49] ilyavolodin commented on #3039
Have you tried running eslint with `--quiet` command line option? If it doesn't work, could you past command line output here please?

[2015-07-16 23:09] Rob--W commented on #3039
`--quiet` does not work.

Here is a minimal example:

[code]

Given the previous example, the obvious work-around could be using

[code]

But that won't work if devs use different versions of eslint.

[2015-07-16 23:23] jmreidy commented on #3040
It's just a seed repo, so I pushed it up to https://github.com/jmreidy/react-native-alt-demo

It's eslint 1.0.0 RC1, Node v0.12.7, NPM 2.11.3,.

Via NPM:
[code]

Direct:
[code]

[2015-07-16 23:27] jmreidy commented on #3040
I found my answer here: https://github.com/eslint/eslint/issues/1663

Running from the command line with **/* glob was being expanded within the context of ZSH, which didn't work when running via npm run. I changed the command to `eslint ./src` and now have consistent results between running via the command line and running via `npm run`. Thanks for the help!

[2015-07-16 23:27] #3040 closed

[2015-07-16 23:39] IanVS commented on #3039
What if we override the severity of all depreciation errors to warnings? Then the `--quiet` option would suppress them.

[2015-07-16 23:48] Rob--W commented on #3039
Changing errors to warnings is a step in the right direction, but still of no use if I don't disable warnings in my vim plugin.

Logic like `if (has_ignore_deprecated and has_deprecated_rule and has_replacement) { /* silent */} else { warning }` would be nice. The advantage of this over an all-suppressing flag is that it still helps devs to quickly migrate rules while maintaining backwards-compati

[2015-07-16 23:54] gcochard commented on #2640
@ilyavolodin have you had a chance to test this out since June 14?

[2015-07-16 23:57] xjamundx commented on #3040
Really good info thanks!

[2015-07-16 23:59] ilyavolodin commented on #3039
Sorry, maybe I'm not fully understanding what you are asking for, but what's stopping you from having your personal config (the one that has `extends` in it) override depreciated rules and set them all to 0? As far as I can tell from the code, that should stop them from sending errors/warnings about deprecation.

[2015-07-17 00:06] IanVS commented on #3039
Yes, that should work (setting the removed rules to `0`) to prevent the messages.

[2015-07-17 00:09] ilyavolodin commented on #2640
Sorry, I haven't had a chance to verify it:-( Last time I removed it, the issue wasn't caused by auto publish, I think I never figured out what was the issue though, since I removed the repository and recloned it again, which cleared the error. So it might be safe to put back in.

[2015-07-17 01:41] nzakas commented on #2949
It would affect the output in that everything would say "warning" or "error" based on the forced severity.

[2015-07-17 01:42] #3026 closed

[2015-07-17 01:49] nzakas commented on #3039
This is a temporary problem with the introduction of 1.0.0, so I don't think any change is necessary. You shouldn't be relying on 1.0.0-rc-1 in production right now.

You can revert to 0.24.1, which will still have all the rules you're looking for. Once 1.0.0 is final, there will be a one-time cost of updating configs, but we will never get there if we let people optionally hide these messages.

S

[2015-07-17 01:53] nzakas commented on #3034
@nkt your only real option is to disable the rule. You can do so in your config or by using comments: http://eslint.org/docs/user-guide/configuring#configuring-rules

[2015-07-17 01:53] #3034 closed

[2015-07-17 01:58] nzakas commented on #3010
@sam-github we do have shareable configs, but we only ship with one for back compat. You are free to create your own that you could use in that way.

What you're asking for is more fine-grained than we make our rules, so I'd suggest making a custom rule to cover this case.

[2015-07-17 01:59] nzakas commented on #3037
We should group all rules that flag strict mode violations together as well.

[2015-07-17 02:08] ariporad opened #3041 "Support for applying rules based off extension."
Hi!

Awesome project.

I was wondering if you would consider adding an option to apply rules based off extension.

Here's my two use cases:
1. I have the majority of my code as ES6 (in .es6 files), that get's transpiled by babel. But a few files, (ex. my Gruntfile), plain old .js files, and not transpiled. I'd like to be able to apply es6 related things for only .es6 files.
2. All my tests are .te

[2015-07-17 02:57] ilyavolodin commented on #3041
This is already on the roadmap for version 2.0.0

[2015-07-17 02:57] #3041 closed

[2015-07-17 07:52] mysticatea commented on #3034
@nkt The `no-extra-parens` rule has an option `"functions"`. I guess you can use the option.

[2015-07-17 08:32] gre opened #3042 "no-dupe-keys breaks with experimentalObjectRestSpread & AssignmentExpression"
After the https://github.com/eslint/espree/issues/167 fix,

I still can't make the experimentalObjectRestSpread working with AssignmentExpression when using with `no-dupe-keys` rule. **if I disable no-dupe-keys rule, the error disappear**, so I think this is related to this rule.

Here is what happens to me:

[code]

test.js

[code]

.eslintrc

[code]

Thanks

[2015-07-17 08:47] BYK commented on #2949
Then it definitely wouldn't help our case. Might be useful for others though, I don't know.

[2015-07-17 09:29] Rob--W commented on #3039
@ilyavolodin My "personal config that has extends" is checked in in a shared repository, so I thought that editing it and setting the rules to 0 would cause rules to be overlooked if others use an older versions of `eslint`. But it just occurred to me that these old versions would show a warning about an unknown rule, so that's not an issue any more.

@nzakas If we shouldn't be relying on 1.0.0-rc

[2015-07-17 11:17] simonewebdesign commented on #2949
It would be helpful for us. We don't mind the distinction between errors and warnings, so we'd use `--severity 1` to just treat everything as a warning.

[2015-07-17 13:47] #2939 closed

[2015-07-17 13:51] ilyavolodin commented on #3039
@Rob--W We released RC1 to gather feedback from the users. That's sort of a whole point of RC. We released it as latest, because we are still not at 1.0.0, so theoretically, you shouldn't really rely on this in production (although ESLint has been stable enough for a while).
As @nzakas mentioned this is a temporary situation until 1.0.0 is released, after 1.0.0 we will be much more guarded about r

[2015-07-17 15:41] #2972 closed

[2015-07-17 15:56] nzakas commented on #2949
@BYK can you explain why it wouldn't work for you?

[2015-07-17 16:04] BYK commented on #2949
@nzakas  - Because we do use the difference between an error and a warning. Warnings are shown as "advice" to the committer where as errors are blockers. The only reason we need a `0` exit code from the linter is because the software [we are using](https://github.com/phacility/arcanist) assumes the process failed if it exits with a non-zero code.

It always parses the results to see if there are e

[2015-07-17 17:48] nzakas opened #3046 "Ident rule improperly flagging block comments"
ESLint version 1.0.0-rc-1.

I have code that looks like this:

[code]

The `indent` rule is flagging each line after the opening comment marker as having the wrong indentation. Output:

[code]

It seems like multiline comments need to have an exception in this case.

[2015-07-17 18:00] gyandeeps commented on #3046
Does your setting have indent case set to true?
Can you provide the more of the switch statement?

[2015-07-17 19:13] nzakas opened #3048 "Add issue template to repo"
I've setup a bot that can respond to new issues automatically, we just need a template for it to respond with.

Working on this.

[2015-07-17 19:43] SamuelBolduc opened #3050 "no-use-before-define: marks some calls as errors when they might not be errored"
A picture is worth a thousand words:

![screen shot 2015-07-17 at 3 38 11 pm](https://cloud.githubusercontent.com/assets/4836669/8755593/21b298b8-2c9a-11e5-8346-d71db9b0ee95.png)

In this code snippet, the calls to my functions are marked as errors, but this code is perfectly fine, since all the functions defined below are evaluated before they are actually called inside `module.exports`.

Maybe a

[2015-07-17 19:49] IanVS commented on #3050
What is your rule configuration?  Have you tried setting `"nofunc"`, as explained in the [rule docs](http://eslint.org/docs/rules/no-use-before-define)?

[2015-07-17 19:49] btmills commented on #3050
My initial reaction is that something like this would require more static analysis than we want to put into ESLint, but I'd welcome a way to do this that proves that wrong. Ideas, anyone?

[2015-07-17 19:54] #3048 closed

[2015-07-17 20:08] nzakas commented on #3035
@eslint/eslint-team thoughts on this?

[2015-07-17 20:10] nzakas commented on #3042
Definitely a bug. Working on this.

[2015-07-17 20:18] nzakas commented on #3046
Strange, I'll double-check this later.

[2015-07-17 20:20] nzakas commented on #3039
@Rob--W yeah, I messed up by making it work with `@latest`, apologies for the confusion around that.

1.0.0-rc-1 already flags unknown and deprecated rules when run, as will 1.0.0, so I believe we have our bases covered. There's just a weird moment in time right now between RC 1 and 1.0.0.

[2015-07-17 20:25] nzakas commented on #3050
The point of this rule is to flag whenever you use (aka reference) an identifier that has not yet been defined. In this case, the rule is correct, you are referencing those identifiers before they are defined. This isn't making any guarantees about whether or not a runtime error will occur, as the point of this rule is only to say that declarations should come before references in the file.

[2015-07-17 20:26] Rob--W commented on #3039
@nzakas As seen in one of my previous comments, rules with value 0 are not
shown. Did I overlook a flag / option to show them anyway?

(And this might be a temporary situation for now, but what will happen when
you release 2.0.0 in the future?)
On Jul 17, 2015 10:20 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-07-17 21:32] ilyavolodin commented on #3035
I think in node it's very common practice to reuse variables. While I think this exception goes against the whole point of the rule, I can see how it would be helpful to a lot of people.

[2015-07-17 21:35] ilyavolodin commented on #3039
When we will release v2 RC, we will not mark it as latest.

[2015-07-17 22:23] feross opened #3054 "`no-useless-call` rule false positive"
Using `1.0.0-rc1`, the unnecessary `apply` (`no-useless-call`) rule fails on common case of using `concat` to flatten an array one level deep. Consider:

[code]

With config:

[code]

Giving this error:

[code]

But it works if you add a space to one of the arrays:

[code]

This looks like a bug. These are different array instances, so the rule should never report any errors here.