[2016-05-31 01:44] jthomerson commented on #4345
Could the `eslint-disable` and `eslint-enable` directives be made to just work with single-line (as opposed to block) comments? That seems like it would (mostly) solve the issue as people generally don't require lines before/after single-line comments like they do block comments. Or, potentially an `ignoreRulePatterns` config option could be added that allowed you to ignore the `lines-around-comme

[2016-05-31 05:31] oreqizer commented on #6289
Error output:

<img width="893" alt="screen shot 2016-05-31 at 07 28 30" src="https://cloud.githubusercontent.com/assets/11172408/15664086/65404640-2701-11e6-9195-31dff708cb48.png">

to complete the bot's needs:

1. **The version of ESLint you are using (run eslint -v)**
2.11.1

2. **What you did (the source code and ESLint configuration)**
in the links above

3. **The actual ESLint output complet

[2016-05-31 06:40] platinumazure opened #6292 "AppVeyor build is still running `npm run check-commit`"
Hopefully pretty self-explanatory. Travis is no longer running the commit check, but AppVeyor's configuration was not modified and so it continues to run the commit check.

[2016-05-31 06:53] ljharb opened #6293 "`no-control-regex` error should indicate which unexpected chars were found"
**What version are you using?**
2.11.1

**What did you do?**
enabled `no-control-regex` and ran it on https://github.com/es-shims/String.prototype.trim/blob/e89adeefcbd6fb59563e62d230b8036d65a8bf69/implementation.js#L7-L8

**What happened?**
Got "Unexpected control character in regular expression"

**What did you expect to happen?**
I'd like to know which control character was unexpected, so I can

[2016-05-31 07:02] alberto commented on #6292
True

[2016-05-31 07:51] himdel opened #6295 "no-unreachable: shouldn't be triggered by a semicolon after switch"
**What version of ESLint are you using?**
v2.11.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Occurs with either espree or babel-eslint.

**Please show your full configuration:**
Anything with `no-unreachable` enabled..

**What did you do? Please include the actual source code causing the issue.**

This triggers  `5:4  error  Unreachable code  no-unreachable`

[code]

This doesn'

[2016-05-31 08:11] michaelficarra commented on #6295
That semicolon is a separate statement following the switch. Since you're returning from all cases in the switch, execution will never reach there. The rule is working as intended.

[2016-05-31 08:47] vitorbal commented on #6293
Hi @ljharb, thanks for the issue! What you are proposing is an improvement to the error message, correct? I totally agree this would be helpful. How about showing the column position of the character as well?

[2016-05-31 08:53] gonzoyumo opened #6296 "Indent rule false positive violation for VariableDeclarator on named export"
**What version of ESLint are you using?**
2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No errors from the indent rule

**What actually happened?**
The indent rule reports violations as it doesn't

[2016-05-31 08:57] mysticatea commented on #6280
Hmm, this was intentional. I made this rule checking LHS and RHS of logical expressions separately. There was a case in my head:

[code]

But this issue is an interesting case.
Maybe we can add an option to address logical expressions in total.
`{separateLogicalExpressions: true | false}`?
And the rule name would mean that the option is `false` by default.

[2016-05-31 09:00] mysticatea commented on #6280
Or, just we can make this rule ignoring variables which are unused in the loop?

[2016-05-31 09:58] mysticatea commented on #6066
Merely I'm not sure the purpose of this rule.
So I might change my position by clear purposes.

When I'm using ternary expressions, there are 3 kind situations.

[code]

If I apply this rule to that code:

[code]

Well, the "multiple" case may be not common.

[2016-05-31 10:00] vitorbal commented on #6296
Hi @gonzoyumo! thank you for the issue. Unfortunately, I'm not sure I understand why you would expect no indentation errors in this case.

From your config file, you have 2-space indentation. The [VariableDeclarator](http://eslint.org/docs/rules/indent#variabledeclarator) option takes a multiple of the indent, so the indentation for `const` declarations would be 2 * 3 = 6 spaces.

So the correct i

[2016-05-31 10:05] mysticatea commented on #6296
Yeah, @vitorbal is correct. `"VariableDeclarator": { "var": 2, "let": 2, "const": 3 }` is not meaning alignment to the same element of the previous line.

[2016-05-31 10:09] gonzoyumo commented on #6296
Hi,

sorry for the confusion, its actually more about an alignment issue but it's the indent rule that reports error.

This indeed works as expected when the declaration is not exported:
[code]
Here alignments looks correct and indentation is respected.

But when I export a declaration, I want the items to be aligned the same, so I need the indent to be "greater" to obtain desired result:
[code]

[2016-05-31 11:16] mysticatea commented on #6295
Yes, @michaelficarra is correct. An empty statement exists after the switch statement if a semicolon exists. Then `no-unreachable` rule warns the empty statement.
This is similar to:

[code]

However, as @himdel mentioned, `no-unreachable` may not need to warn empty statements because we have `no-extra-semi` rule for empty statements. Thought?

[2016-05-31 11:25] Standard8 commented on #6098
I still think the rules conflict, but given there's workarounds I won't block closing this, even if they are more noisy that the simpler form. Might be worth a documentation note?

[2016-05-31 11:55] kaicataldo commented on #6066
I see - thanks for explaining. I personally don't think I would use the `always` or `never` options, but I wonder if an additional option that would enforce multiline ternaries when one or more of the expressions is longer than a configurable length might be useful.

[code]

Example:
[code]

"when-needed" isn't the right name, but hopefully it gets my point across. :)

This would allow for parity

[2016-05-31 12:08] mattbrooks2010 commented on #6262
The issue of `sass-lint` loading the ESLint Core formatters is being investigated with the Sass Tools team.

My requirement for the VSO formatter extends to JavaScript code. It would be useful to be able to leverage the formatter for this purpose but at the moment I cannot see a way of achieving that.

Are you able to provide any indication of the anticipated timeline for #5900 or perhaps any othe

[2016-05-31 12:12] vitorbal commented on #5958
@eslint/eslint-team what do you guys think?

[2016-05-31 12:13] kaicataldo commented on #6289
Thanks, that's very helpful. It looks to me like this may be an issue with eslint-plugin-import. Have you tried using the recommended Webpack resolver plugin recommends in [its docs](https://github.com/benmosher/eslint-plugin-import/blob/master/README.md#resolvers)?

I haven't personally used the plugin, but hopefully someone who has will be able to chime in.

[2016-05-31 12:17] mikesherov commented on #5958
IMO, the newline style, and tab style are both "top level" configuration options. I know we currently don't have this concept yet, but as we delve further and further into autofixing, we're going to see the need for it if we want individual rules to "do the right thing" in the absense of other rules that strictly require knowledge of newline style.

To that effect, I would propose that the interna

[2016-05-31 12:18] zxqfox commented on #5958
Agree with @mikesherov, would be great if we somehow support this.

[2016-05-31 13:18] oreqizer commented on #6289
is it really possible all other modules would be imported all right, just this one would need a resolver? I'm not using any webpack's fancy import stuff either

[2016-05-31 13:33] cristian-sima commented on #5958
+1 for auto-fix newline-before-return

[2016-05-31 14:03] PhiLhoSoft commented on #6072
Yes, I was answering the comment https://github.com/eslint/eslint/issues/6072#issuecomment-219219579 actually, referring to the above issue.

[2016-05-31 14:12] mikesherov commented on #6271
I really appreciate the discussion we're having here. However, I'm also 👎 on for similar reasons as @michaelficarra, particularly:

Please see https://github.com/airbnb/javascript/issues/44 where the discussion is around why both `!` and `;` are insufficient to allow you to blindly concatenate.

This is an appeal to popularity. We should at best be trying to combat this practice (and encouraging b

[2016-05-31 14:28] platinumazure commented on #6271
@Mouvedia With two :-1: votes from core team members, you have an uphill battle ahead of you if you want to persuade the team that this proposed enhancement merits inclusion in core.

If that doesn't happen, please remember that you have two other options:

1. Use `// eslint-disable-line no-extra-semi` to disable the rule at the top of your files
1. Write a custom rule based on no-extra-semi which

[2016-05-31 14:29] ilyavolodin commented on #5958
@mikesherov @zxqfox We discussed this before. However, now that we have multi-pass autofixing, I'm not sure we need it anymore. If you replace newline with just `\n`, next pass, `linebreak-style` will flag them as issues and autofix them. So in this particular case, we don't need shared styleguide.

[2016-05-31 14:30] Mouvedia commented on #6271
I disagree in most cases—with most of the building tools—it's appropriate and more importantly better than nothing!

I have also seen [`;/*EOF*/;`](https://github.com/zont/gulp-usemin/issues/31#issuecomment-53033948) used as an alternative.

If the initial intent didn't cover that case and the practice is wide spread and not endangering, I think it should. We are not discussing whether it's a pana

[2016-05-31 14:53] Mouvedia commented on #6271
@mikesherov

I disagree in most cases—using popular building tools—it's appropriate and more importantly **better than nothing**! By not giving us a way to ignore it you are effectively raising a warning and hence **encouraging non-suspecting users to remove a reasonable fail-safe**.

If the original intent didn't cover that case and the practice is wide spread and not endangering, I think it shou

[2016-05-31 15:24] platinumazure commented on #6295
@mysticatea Isn't it true that someone could turn off `no-extra-semi` though? Then they would get no warning at all, if EmptyStatements are allowed by `no-unreachable`.

Personally, I see nothing wrong with having two lint errors show up for two different issues. The unreachable-ness of the semicolon has nothing to do with the fact that it's an unnecessary/empty statement; the emptiness of the sta

[2016-05-31 15:36] mikesherov commented on #6271
I'm not advocating nothing. I'm advocating using an appropriate concatentation tool, or to use a safer infix operator: either `!` or `void`, as I linked to, which is *better than `;`*.

If we provided the option, you'd need to add it to your `.eslintrc` instead of changing it to `!` in your code. Either way, you are requiring a change from the user. Changing your `.eslintrc` allows you to continue

[2016-05-31 15:42] mikesherov commented on #5958
@ilyavolodin that's assuming the user is using the `linebreak-style` rule.

[2016-05-31 15:52] ljharb commented on #6293
Yes, an improvement to the error message. Column position would be great too but imo the more important thing is the character itself.

[2016-05-31 16:20] platinumazure opened #6298 ""Repository settings" as a way to share configuration between rules without creating rule-to-rule dependencies?"
We continue to run into questions about how best to auto-fix rules that appear to have a dependency on other rules.

For example, `lines-around-comment` and `newline-before-return` may introduce blank lines as part of its auto-fix, but it has no way of knowing the correct line break sequence to use (which may be configured in `linebreak-style`).

Now that we have multi-pass autofixing available, a

[2016-05-31 16:34] nzakas commented on #6271
We do have [guidelines](http://eslint.org/docs/developer-guide/contributing/rule-changes) for proposing and accepting rule changes to help us make these decisions. The key part as it relates to this issue is:

Does anyone want to argue that this rule is incomplete without this option?

[2016-05-31 16:37] michaelficarra commented on #6298
Yes yes yes yes yes. I would go a (large) step further and move **all** rule configuration into one large shared configuration space. Rules themselves shouldn't have options. Projects have preferences which are unrelated to rules. Multiple rules may need to reference the same preference, especially when it is a style preference. We have seen the problems that arise when one rule cannot reference a

[2016-05-31 16:37] platinumazure opened #6299 "Can we color issue labels to allow for grouping and reduce cognitive load?"
This has nothing to do with ESLint as an application, just a repository management concern.

I'd like to see if we could group some issue labels together and use the same color, to make it easier for us to learn how an issue is scoped. For example, "build"/"cli"/"infrastructure"/"core"/"rule" could be grouped as a sort of "scope" label group, and they could all be the same color; then if I see a l

[2016-05-31 16:39] mikesherov commented on #6271
I'd say if the rule is incomplete, then we need to change this advice as well, because this is an intentional use of extra semicolons.

[2016-05-31 16:39] nzakas commented on #6262
@mattbrooks2010 the timeline is basically "when someone decides to do it." Everyone is working in their free time, so there's not really a set schedule.

[2016-05-31 16:41] Mouvedia commented on #6271
@nzakas good question.

The title of the [doc page](http://eslint.org/docs/rules/no-extra-semi) is "disallow unnecessary semicolons". If we take it literally then since this the semi-colon in that case has a purpose it is not unnecessary and hence we should be able to ignore it somehow.

[2016-05-31 16:48] nzakas commented on #6057
We should track it somewhere. Maybe just add an entry on @mysticatea's spreadsheet?

[2016-05-31 16:51] #5679 closed

[2016-05-31 17:02] ilyavolodin commented on #6271
@Mouvedia That's a question of perspective. The semi-colon is there to satisfy another tool, in terms of flow of the code it's unnecessary. So the rule is doing the right thing. I'm sorry, but while I understand why you are doing this, I think that the rule is doing the right thing. There's no way for us to know that you are adding additional characters to your code to satisfy requirements of a bu

[2016-05-31 17:09] ilyavolodin commented on #5958
Sorry, I wasn't clear. If both `linebreak-style` and `newline-before-return` are on, and you are running ESLint with fix flag, it doesn't matter if `newline-before-return` will insert correct style of the linebreak, because on the second pass, `linebreak-style` will kick in and fix it, if it doesn't match provided configuration. If `linebreak-style` isn't on, then we don't know what's the expected

[2016-05-31 17:14] platinumazure commented on #5958
@illyavolodin The flaw with that argument is very simple: we cannot assume
users will use linebreak-style and rely on that as a way to clean up after
a potentially incorrect auto-fix.

I'm not sure why it is that relying on multiple-pass auto-fix doesn't
strike anyone as a smell...
On May 31, 2016 12:09 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2016-05-31 17:16] mikesherov commented on #5958
i agree that the user *could* do that, but why make them work for it? Either way, seems like a generic "detect which new lines are being used* is a good thing regardless of whether it's from user supplied config or not. Anyway, it worked well for me in the past but if the group feels it not worth the effort, I won't advocate for it further.

[2016-05-31 17:27] ilyavolodin commented on #5958
@platinumazure @mikesherov We can move generic discussion about autofixing into #6298 Until some sort of decision could be made and implemented there, we should just rely on existing capabilities, which is to autofix it with `\n` and have `linebreak-style` take care of autofixing linebreaks if it's configured for `windows`.

[2016-05-31 17:31] ilyavolodin commented on #6298
While I'm not in love with current way we are doing autofixing, can you explain what you think this proposal be able to provide other than what we already have? A change as drastic as this should have very clear benefits, but I'm not sure I can see them. I also see a lot of complication in the way configs cascade (as it relates to autofixing and project configuration), and inline configurations.

[2016-05-31 17:52] vitorbal commented on #5958
Thanks for all the feedback everyone! Regardless of the mentioned above, I still don't know how to add autofixing to this rule because of the following:

Any ideas how this could be done?

[2016-05-31 18:12] khankuan opened #6300 "no-undef deconstructor"
**What version of ESLint are you using?**
v2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw output from ESLint.**
`no-undef` 'a'

[2016-05-31 18:15] khankuan commented on #6300
Oops sorry, misunderstood the syntax.

[2016-05-31 18:15] #6300 closed

[2016-05-31 18:19] Zarel commented on #5679
This doesn't solve my own problem, which is that the huge ignored directory is `logs/`, not `node_modules/`...

[2016-05-31 18:19] platinumazure commented on #6298
The "clear benefit" is that linebreak-style, lines-around-comment, and newline-before-return can look in one shared place for knowing what the correct linebreak should be.

I'm not sure I agree about complications in configuration cascade:

* repositorySettings can be merged the same way as anything else-- for each key/value pair, the config file in the descendant directory prevails (just like env

[2016-05-31 18:26] dangoosby opened #6301 "[no-undef] allow HTML5 FileAPI constructors (which look like anonymous functions)"
**What version are you using?**
v2.0.0.0

**What did you do?**
I've created a javascript component utilizes the HTML5 FileAPI for file handling. Specifically using the FileReader constructor.

**What happened?**
ESLint flagged my working/correct code citing no-undef rule on a constructor that's being invoked! It's essentially saying that the FileAPI constructor is an anonymous function, which it i

[2016-05-31 18:55] pedrottimark commented on #6293
@ljharb Since the problem is a control character, are you thinking of the character (which might be invisible) or its code, or both? If the code, in hexadecimal or decimal, or both?

[2016-05-31 19:23] ljharb commented on #6293
@pedrottimark the escaped form, ie, `\x03` or whatever - in other words, the literal thing i typed into the code that caused the warning.

[2016-05-31 19:45] platinumazure commented on #6301
Can you please show your ESLint configuration and the source code that produces the error?

[2016-05-31 20:01] ilyavolodin commented on #5679
@Zarel We are aware that the fixed that we just merged doesn't solve all of the problems. It's a temporary solution that should help most of the users. We will be working on the more permanent solution.

[2016-05-31 20:03] ilyavolodin commented on #6298
@platinumazure Let me rephrase it. What does this change allows us to do that we can't do already? Currently we can fix all of the rules you listed above without knowing what the correct linebreak style is supposed to be. Are there any other benefits?

[2016-05-31 20:03] dangoosby commented on #6301
Hi @platinumazure ,

**.eslintrc.js:**
[code]

**source code producing error**
[code]
Granted, I could place this code `const FileReader = FileReader || {};` on the line before `const reader = new FileReader();` but that's not a preferred solution.

For context, I'm implementing the [HTML5 FileAPI](https://w3c.github.io/FileAPI/).

**eslint error produced:**
[code]

[2016-05-31 20:11] platinumazure commented on #6301
The short version is you need to tell ESLint that `FileReader` is a global.

Couple of ways you can do that:

1. Add a ["globals" section](http://eslint.org/docs/user-guide/configuring#specifying-globals) to your .eslintrc
1. Add a `/* global FileReader */` near the top of files which use that reference

Hope this helps!

[2016-05-31 20:13] platinumazure commented on #6298
@ilyavolodin No we can't, not if the user decides not to use `linebreak-style`. It is irresponsible of us to elevate the responsibility of some rules in order to allow other rules to work better or correctly.

[2016-05-31 20:31] dangoosby commented on #6301
Thanks @platinumazure, that solution works.

[2016-05-31 20:31] #6301 closed

[2016-05-31 20:36] ilyavolodin commented on #6298
Ah, OK, now I think I got where you are going with this. So you expect every used to configure every single possible option of `repositorySettings`? What if I really don't care about what type of linebreaks my code uses and don't want to waist my time creating a style guide?

[2016-05-31 21:14] robertlevy opened #6302 "Option to suppress ignored file warnings"
Using version 2.10.2 with browserify via eslintify.  All files that our code 'require( )'s gets passed into eslint.  This includes things that should be ignored such as npm or bower packages.  Currently, this results in a bunch of warnings about ignored files which aren't really useful in this case.  Ideally, eslint would have an option to suppress ignored file warnings.

Since eslintify is callin

[2016-05-31 21:22] jesusreal opened #6303 "'NewComponent' is defined but never used no-unused-vars"
**What version are you using?**
2.11.1
**What did you do?**
Using React.js, I imported a component to my index.js file. I only use this component as part of the return from the render method. Code can be checked here: https://github.com/jesusreal/eslint-playground-repo/blob/master/src/index.js.
Initially I thought it was a babel-eslint issue, but I replaced it with parserOptions property and I had

[2016-05-31 21:32] alberto commented on #6303
You should use https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md from `eslint-plugin-react`

[2016-05-31 21:32] #6303 closed

[2016-05-31 21:46] jesusreal commented on #6303
Adding the following rule solved my issue:
`"react/jsx-uses-vars": [2]
`

Thanks a lot @alberto

[2016-05-31 22:01] zxqfox commented on #5958
I'd say, assume that comment is a something meaningful because it's not a whitespace or empty line. Why not to put empty line always after comment?

[2016-05-31 23:51] Zarel commented on #5679
It's just that this issue was closed. Should it be opened, or is there a different issue that tracks that problem?

[2016-06-01 01:40] robertlevy commented on #6302
See PR #6305

[2016-06-01 02:50] mike-robertson opened #6307 "Create no-shadow pure function arguments rule"
**When does this rule warn? Please describe and show example code:**
This rule would allow you to use the same variable names if they are calling the code when you want a pure function which guarantees no side effects (for ease of reading and logic).

ex:
[code]
[code]
**Is this rule preventing an error or is it stylistic?**
Allows you to write pure functions which use the same variable name as th

[2016-06-01 03:09] davewallace commented on #5409
@nzakas I've followed this article and double checked, but I too cannot find the binary for `babel-eslint`. I'm also on Windows, and I have local & global babel-eslint installed.

In the directory, `C:\Users\danjah\AppData\Roaming\nvm\v6.1.0` I see other packages there, eg; `eslint` and `grunt` which I have also just installed locally, for example:
![image](https://cloud.githubusercontent.com/asse

[2016-06-01 04:06] benjycui commented on #5297
@gyandeeps but we have to make sure that `quotes` runs after `quote-props`, right?

[2016-06-01 04:24] platinumazure commented on #5297
@benjycui When `--fix` is specified, we run the whole linting process multiple times and apply fixes each time until there are no more fixes (or until we've run 10 passes). So `quote-props` applies its fixes in pass 1, and then in pass 2 `quotes` will have new linting errors and those will be auto-fixed. So no need to worry about lint order.

[2016-06-01 06:07] benjycui commented on #5297
Got it! Thanks!

[2016-06-01 06:24] mysticatea commented on #6066
I got it.
The third option sounds good to me. :smile:

I'd like to use the end column of a ternary expression (after line breaks are removed) rather than the length of a ternary expression, but I'm not sure it's safe since it's changeable in multipass autofix.

[2016-06-01 06:33] mysticatea commented on #6295
Exactly it's what I said. This issue's request sounded like "I want to use extra semi, but `no-unreachable` didn't allow it." to me.

[2016-06-01 06:48] mysticatea commented on #6057
I updated [my spreadsheet](https://docs.google.com/spreadsheets/d/1-XoW_kb4nU1-Zh_5tvjdgQaeAT9RmKX-H5QZfOizHyY/edit?usp=sharing).

[2016-06-01 08:34] mysticatea commented on #6298
I may not understand this issue, but :-1: from me.

There are 2 reasons.

----

I'm not sure there are what difference between:

[code]

And

[code]

I think if people turn `linebreak-style` rule on, it means "I want to require consistent line break style.". Then ESLint would work as expected.
On the other hand, `repositorySettings.lineBreak` is not so. If people forget `linebreak-style` rule, the

[2016-06-01 08:46] panrafal commented on #3611
Is there any ETA on this feature?

[2016-06-01 09:04] vitorbal commented on #5958
Because the comment can be directly related to the return statement and some style guides would have them stay together. Take the following example:

[code]

We can fix it in the following two ways:

[code]

[code]

I don't know if it's safe to assume either of them is the correct fix for all cases.

[2016-06-01 09:13] BYK commented on #6052
I also think this should be an option in `indent` rule.

[2016-06-01 09:14] zxqfox commented on #5958
Ah, I though you about this case:
[code]

I've misread issue title. In your case I'd stick comments to the next statement.

Actually, we can add options to tune it up but does it really need someone?

[2016-06-01 09:22] akuznetsov-gridgain commented on #6055
+1 From me. Also it is possible to add to this rule a check for "." at the end of comment?

[2016-06-01 09:30] mysticatea commented on #5614
I'm sorry, I remembered this issue now.
I wrote and released [node/no-deprecated-api](https://github.com/mysticatea/eslint-plugin-node#readme) rule before, and it warns the constructor of Buffer.

[code]

[2016-06-01 09:32] BYK commented on #6271
Since we have the one line ignore rule as @ilyavolodin suggested and I also share the concerns raised by @michaelficarra and @mikesherov I'm also a :-1:

[2016-06-01 09:39] vitorbal commented on #6302
Hi @robertlevy! Thanks for the suggestion. Sounds solid, let's wait to see what the rest of the gang thinks :-)
Concerning your fix suggestion, I imagine we could get even more value out of this if the option can also be passed in to the CLI, something like this:

[code]

What do you think?

[2016-06-01 11:15] simov opened #6308 "eqeqeq question"
Just a question:

Is it a good idea to have even smarter rule to exclude things like:

[code]

I mean what possibly can go wrong with that? In cases when `somevar` comes from a querystring parsing that definitely would be parsed as string, yet most probably that would be what you want to check for.

[2016-06-01 12:43] platinumazure commented on #6308
Hmm... by the same token, couldn't you compare against `"42"` or use `parseInt()`, if you know a string is incoming in that case?

[2016-06-01 13:10] simov commented on #6308
Yep these are all possible conditions:

[code]

In my case though `somevar` can be either `1`, `'1'`, `2`, `'2'` or `'somestring'`.

Actually just by looking at this [table](http://dorey.github.io/JavaScript-Equality-Table/) it turns out that the `==` comparison with integer can be broken by some really weird cases like:

[code]

[2016-06-01 13:19] platinumazure commented on #6308
Well, don't forget you can always suppress a rule inline as well:

[code]

[2016-06-01 13:38] simov commented on #6308
Thanks for the tip! I guess that won't be a good feature after all. Especially in cases when you compare with 0 or 1.

[2016-06-01 13:38] #6308 closed

[2016-06-01 14:13] platinumazure commented on #6298
Well, let me just make sure I lay out the motivation behind this proposal, in case it's not clear:

1. I acknowledge that some rules, in order to work correctly, depend on settings which are currently stored in other rules.
1. We have a design rule which says rules *cannot* depend on each other (directly).

The basic thrust of my proposal is to extract some of those settings into a shared reposito

[2016-06-01 14:14] #6284 closed

[2016-06-01 14:18] ilyavolodin commented on #6307
I don't think this is really doable with static code analysis. Determining if the function is pure would require a huge amount of code and I don't think it's worth it (it also can't be done with 100% certainty). And even in pure functions it's not a good idea to shadow arguments. You can always turn the rule off completely or just around your pure function with comments.

[2016-06-01 14:25] ilyavolodin commented on #6302
Sounds reasonable to me. If we already support something in `executeOnFiles`, we should also support it in `executeOnText`. Only concern is, `executeOnFiles` calls into `executeOnText`. We need to make sure we don't get double the warnings in the case where things are ignored.

[2016-06-01 14:35] ilyavolodin commented on #6298
@platinumazure regarding your motivations. Can you give an example of rule that depends on the configuration of another rule? If you forget about fix mode for a second, is there really any case where rules depend on each other? If we are talking purely about fix mode, then multi-pass seems to address majority of the problems. Granted, it's much slower and less efficient, but it does work. What's m

[2016-06-01 14:35] mysticatea commented on #6298
This recognition is different from me. Why do you think so?

[2016-06-01 14:36] platinumazure commented on #6302
Any reason we can't move the warning for `executeOnFiles` into `executeOnText`? That would seem to be the simplest solution, from my limited perspective.

[2016-06-01 14:47] robertlevy commented on #6302
this PR simply skips the creation of warnings that were previously being generated, it shouldn't result in any new/duplicate warnings

[2016-06-01 14:48] platinumazure commented on #6298
@ilyavolodin The issue I'm trying to solve is mostly caused by auto-fix. Auto-fix can introduce violations of other rules. Most of the time, we do a good job of figuring out direct rule conflicts (e.g., we made a decision that the space between `if` and a parenthesis is in keyword-spacing, not in a different rule). However, when we designed auto-fix, we didn't rigorously design a way that rules co

[2016-06-01 14:59] ilyavolodin commented on #6298
@platinumazure What would happen in your proposal if I didn't add `linebreak` property to `repositorySettings`? Either I forgot to do it, or I just don't care, because I'm using .editorconfig. But then I enabled `linebreak-style` rule? What's the expected behavior in that case, and how should autofix behave for `lines-around-comments` for example?

[2016-06-01 15:32] mattbrooks2010 commented on #6262
OK thanks for the clarity. I will proceed with a separate package `eslint-formatter-vso` or similar, as you have suggested.

[2016-06-01 15:32] #6262 closed

[2016-06-01 15:46] Mikejoro commented on #6307
I don't think the rule would be to detect the pureness of the Function, but rather detect whether the Function is called with an argument of the same name as the parameter which receives it.

There's no downside to shadowing the variable then because I don't want the ability to mutate it in the parent scope, and this prevents the mutation and forces you to use a return value with an assigned to mu

[2016-06-01 17:33] platinumazure opened #6309 "Docs: About page mentions rule severity numbers and probably shouldn't"
From the "About" page:

The last bullet point is problematic for a few reasons:

1. It mentions the numeric severities, which are still allowed but semi-deprecated in favor of strings
1. In my opinion, it's way too specific about implementation/usage details for a high-level About page
1. In my opinion, it is redundant given the point above ("Can be set to a warning or error individually")

I woul

[2016-06-01 17:36] nzakas commented on #5958
The gold standard for rule fixing is this: if the rule would flag the code as a problem, then you can safely fix it. Did the rule currently flag a`return` that has a comment on the previous line?

[2016-06-01 17:44] nzakas commented on #6271
Okay, there's no consensus on the team so we can't move forward with this.

@Mouvedia as @byk mentioned, you can always take the rule and modify it to do what you want for your own project.

[2016-06-01 17:44] #6271 closed

[2016-06-01 17:48] #6260 closed

[2016-06-01 17:52] #6292 closed

[2016-06-01 17:53] #6266 closed

[2016-06-01 17:56] #5391 closed

[2016-06-01 20:21] platinumazure commented on #6292
Thanks!

[2016-06-01 20:24] pedrottimark commented on #6211
@kevva It looks like the rule already has an option http://eslint.org/docs/rules/object-property-newline#allowmultiplepropertiesperline to allow all on one line.

Is it a problem for you that it does not apply only to shorthand initializations?

[2016-06-01 20:32] kevva commented on #6211
@pedrottimark, I only want objects containing only shorthands to be allowed on one line.

[2016-06-02 03:30] ilyavolodin commented on #5891
@nzakas @zxqfox Is this something we want to add? There's a PR #5924 with the implementation already submitted.

[2016-06-02 03:34] ilyavolodin commented on #5936
It looks like there are two PRs for this issue: #5934 and #6216 Should we close one of them?

[2016-06-02 03:37] ilyavolodin commented on #5949
@eslint/eslint-team Anyone willing to champion this and support it?

[2016-06-02 03:43] ilyavolodin commented on #6237
@mpal9000 Could you provide an example of what `importPluginName` would look like (as a string)? I think I see where you are going with this, just want to make sure I understand.

[2016-06-02 07:17] zxqfox commented on #5891
@ilyavolodin The first purpose of formatting anydoc-comments is auto-generation of documentation, right? That's why I think we should mimic what they do by themselves.

But I guess solution with ignoring options is viable for JSDoc3 and ESDoc.

Is this case valid? Should we deny people to do that?
[code]

[2016-06-02 08:47] mysticatea commented on #5949
Maybe I'm willing. I think this is one of JSCS compatibility rules, for a part of [requirePaddingNewLinesAfterBlocks] and [disallowPaddingNewLinesAfterBlocks]. Those rules enforce blank line style after all blocks, so it checks blank line(s) between class methods also.

I have some concerns.

- 2 options are needed for this proposed rule to reproduce the behavior of JSCS rule.
    - `"never"` opti

[2016-06-02 08:53] scriptdaemon commented on #5891
@ilyavolodin I've had a bit more time to think about the issue since the PR I submitted, and I think I'll end up redoing the entire thing (after more discussion and assuming this is accepted) as I don't think what's currently in the PR is the right way to go about this.

@zxqfox I don't believe JSDoc allows `//` style comments, am I correct? Not sure about the others, but since this rule is JSDoc-

[2016-06-02 08:56] LinusU commented on #5949
I'd be happy to add that, are you thinking something like `"always", "always-excpet-single-line-methods", "never"`, or something like `{ "single-line": "never", "multi-line": "always" }`?

I personally would _not_ like to enforce a blank line between every property if that lands. And I don't think that it's common to want that...

Consider the following example, it would look very spare if it requ

[2016-06-02 08:56] zxqfox commented on #5891
Sorry I'm just lazy to write block comments. Sure it is not but it doesn't matter for our case ;-)

If this rule is really JSDoc-specific then anything look goods to me and proposed options should cover most of cases ;-) But I don't believe we should stick to tools instead of "standards" (it doesn't really but suppose to be).

[2016-06-02 09:15] mysticatea commented on #5949
Thank you for the fast reply!

I'm thinking something like:

[code]

I agreed.
But,

- what about between a method and a field?
- what about if there is a function expression in a field? (hmm, maybe this is other rule's responsibility?)

[code]

  We don't need to consider options for that now, but I'm afraid `lines-between-class-methods` might be a limited name. I'd like to hear other member's op

[2016-06-02 10:24] mikesherov commented on #5949
I'm willing to champion. I think this rule should just consider class methods. The analogy is that we have rules for functions and separate rules for variable declarations, and keep them separate.

[2016-06-02 10:42] phaux opened #6310 "no-unused-expressions + do{…} expression bug"
[code]

This shouldn't cause a warning, but it does:

ESLint 2.11.1 using Babel-ESLint parser

[2016-06-02 10:48] phaux opened #6311 "arrow-parens + async arrow function bug"
[code]

That causes an error:

ESLint 2.11.1 using Babel-ESLint parser

[2016-06-02 11:50] vitorbal commented on #6311
Could this be related to #6274 or #6281 ?
I'm guessing this is probably a babel-eslint issue with `async` and the `arrow-parens` rule. @hzoo does it ring a bell?

[2016-06-02 11:57] hzoo commented on #6311
Yep, I would use https://github.com/babel/eslint-plugin-babel#rules - `babel/arrow-parens`. It sounds like a "babel-eslint" issue but its just that the rule can't handle newer syntax so currently we have to actually rewrite it as a separate rule + another if check.

[2016-06-02 12:11] vitorbal commented on #6311
@hzoo thanks, that was a fast reply :-)
@phaux Could you try with `babel/arrow-parens` and let us know if that works out for you?

[2016-06-02 12:12] #6311 closed

[2016-06-02 12:25] vitorbal commented on #6310
Thanks for the bug report! However, since Do expressions are still a stage 0 proposal, I'm pretty sure the `no-unused-expressions` rule does not take them in consideration.

I think you should open a ticket in the [babel/eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) repository so they consider adding a "wrapper" rule for `no-unused-expressions` that checks for DoExpressions.

[2016-06-02 12:33] #6310 closed

[2016-06-02 13:56] robertlevy commented on #6302
any objection to merging this to unblock the eslintify issue and then creating another issue to track possibly adding a CLI flag and/or modifying executeOnFiles?

[2016-06-02 14:18] vitorbal commented on #5958
@nzakas The rule would not flag these:
[code]

[code]

But would flag this:

[code]

[2016-06-02 14:31] ilyavolodin commented on #6302
@robertlevy We need to hear from the rest of the team first, before marking this as accepted and merging PR. @eslint/eslint-team thoughts?

[2016-06-02 15:27] Mouvedia commented on #6310
For the ones wondering he's talking about http://wiki.ecmascript.org/doku.php?id=strawman:do_expressions

[2016-06-02 15:50] kaicataldo commented on #5958
Correct - the rule subtracts the number of comment lines from the total to calculate it, but it doesn't make any assumptions about/enforce a standard for where the line break is

[2016-06-02 16:41] platinumazure commented on #6309
@nzakas Could you please share your thoughts on this point:

Should the bullet point be removed or modified?

I'm happy to take this on once I know the correct approach :smile:

[2016-06-02 18:07] reergymerej opened #6315 "getConfigForFile does not find .eslintrc's extended config"
**What version of ESLint are you using?**
2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
{
  "extends": "airbnb"
}

**What did you do? Please include the actual source code causing the issue.**
Trying to use Node API to read config for a file using eslintrc extending another config.
[link to reproduction example][github]

[get

[2016-06-02 19:43] jethrolarson commented on #5358
I'm covering bugs like this with `"no-shadow": [1, {"builtinGlobals": true}]` but it's awkward that I can't use names like `status`, `name`, etc...

This change should cover the risk better.

[2016-06-02 20:53] jokeyrhyme commented on #3395
If this is related to https://github.com/nodejs/node/issues/5384 then I have a module that helps identify broken versions of Node:

- https://github.com/jokeyrhyme/is-node-interactive-tty-broken

Do you think it might be worth integrating a similar check into this library? So that a warning or something could be displayed? Or perhaps modifying the "engines" part of package.json to help avoid broke

[2016-06-02 20:54] jokeyrhyme commented on #5779
I have a module that helps identify broken versions of Node:

- https://github.com/jokeyrhyme/is-node-interactive-tty-broken

Do you think it might be worth integrating a similar check into this library? So that a warning or something could be displayed? Or perhaps modifying the "engines" part of package.json to help avoid broken Node versions at installation time?

[2016-06-02 23:02] ilyavolodin commented on #6212
If we wouldn't implement the policy of no rule removal, I would say those two should be combined into a single rule `id-name` with option for whitelist and blacklist. But since we are not removing any of the rules, adding RegExp support seems like a reasonable idea. @eslint/eslint-team thoughts?

[2016-06-02 23:20] BYK commented on #6212
@ilyavolodin that would also imply merging `id-length` into this which I'd support.

[2016-06-03 01:16] plumlee opened #6316 "ESLint fails to detect all arguments of a function as defined but never used"
**What version of ESLint are you using?**
2.9.x, also tested with 2.11.x using npm link. Using eslint as part of xo@0.15.1.

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint I believe - the issue I’ve seen is using xo@0.15.1.

**Please show your full configuration:**
Using config via xo:

    "space": true,
    "envs": [
        "browser"
    ]

**What did you do? Please i

[2016-06-03 01:36] platinumazure commented on #6212
:+1: to merging all the `id-*` rules as a test case for the deprecation plan.

[2016-06-03 02:09] ilyavolodin commented on #6316
This is correct behavior. While none of the arguments are used, in a lot of cases, you have to specify a few unused arguments to get to the one you want to use. For example, in a lot of cases, callback signatures, but you only want to use 3-rd one. Unless you use `arguments` property, you have no way to only declare one parameter and expect it to get 3-rd value passed into the function.
This is co

[2016-06-03 02:09] #6316 closed

[2016-06-03 02:48] mikesherov commented on #6212
how would merging id-length work? Would you have to supply a regex like `/.{3,}/`? Or are you just saying merge all the id-* rules into one, and have `length` as an option?

I don't see a clear advantage to merging the rules. 2 rules with no options is as easy to use as 1 rule with 2 options, IMO

[2016-06-03 03:27] ilyavolodin commented on #6212
@mikesherov I think in general we try to keep rules that are doing the same thing grouped. For example, we used to have `no-semi` and `semi` rules, which we combined into a single rule. A few other examples as well. I'm not 100% sure about combining `id-match` and `id-blacklist` with `id-length`, but the first two are doing more or less the same thing.
If we wanted to combine all three configurati

[2016-06-03 06:15] BYK commented on #6212
@mikesherov I was suggesting what @ilyavolodin wrote 😀

[2016-06-03 07:09] jpalala commented on #3782
Interesting documentation showed up upon error:

`> eslint --config ./browser.eslintrc --ignore-path browser.eslintignore ./public/static/app/js`

[code]

[2016-06-03 07:28] jpalala commented on #3782
![eslint-interesting](https://cloud.githubusercontent.com/assets/622659/15771813/c60b8138-299f-11e6-81e7-5962e9430d6f.png)

[2016-06-03 07:41] BYK commented on #5936
I'd close #5934 since it was created before the issue was accepted (hence before all these discussions). That said since @duncanbeevers is a new collaborator, there's a case to get his first patch in too. What do you think @ilyavolodin and @alberto.

[2016-06-03 10:05] mikesherov commented on #5936
I think we should favor new contributions here.

[2016-06-03 10:13] mikesherov commented on #6212
Ok, I guess the question I have then is: What's the behavior when someone provides a conflicting allow regex and deny blacklist? Or an allow regex that conflicts with a max or min length?

[2016-06-03 12:00] BYK commented on #6212
@mikesherov - we still have that conflict, unresolved if you think about it :)

[2016-06-03 13:03] ajhyndman opened #6317 "Update: Add never option to arrow-body-style"
Version: 2.10.0

Arrow functions that return object literals can look very similar to arrow functions with brace bodies.  Some syntactic ambiguity can be avoided by disallowing block-style arrow functions in favour of ES5 function expressions.

**Outcome**

The following patterns are considered problems:
[code]

The following patterns are not considered problems:
[code]

[2016-06-03 14:00] btmills commented on #6317
Thanks for the suggestion, @ajhyndman! `"never'` seems like an appropriate complement to the current `"always"` and `"as-needed"` options. @eslint/eslint-team thoughts?

[2016-06-03 14:01] ilyavolodin commented on #5936
Agree with @mikesherov @alberto Would you mind guiding @duncanbeevers with the necessary updates to his PR?

[2016-06-03 14:05] ilyavolodin commented on #6212
@mikesherov Good question. I would guess we would still report an error. We can't evaluate regex to make sure two of them don't collide, that would be too much trouble. We have to assume that the user knows what they are doing. My only concern about merging those rules together is that we'll have 3 rules hanging around codebase for a year, before they get removed. But that's what we agreed on.
@nz

[2016-06-03 14:07] ilyavolodin commented on #6317
Seems reasonable to me. Although I'm not sure if this is going to be used all that often.

[2016-06-03 14:18] ajhyndman commented on #6317
If I mention that this rule is espoused by Douglas Crockford, does that strengthen or weaken my case?  :)

http://www.jslint.com/help.html#function

[2016-06-03 15:05] pedrottimark commented on #6317
As we consider whether this should be accepted, let’s make sure the option name and explanation of use case makes sense related to #5936 which is accepted but still needs bikeshedding at this time.

[2016-06-03 15:11] btmills commented on #6317
@pedrottimark raises an excellent point. #6216 (the PR for #5936) looks like it will add a boolean `requireReturnForObjectLiteral` option to the `"as-needed"` mode. It's a different approach to solve the same ambiguity, @ajhyndman is that sufficient for your use case?

[2016-06-03 15:42] ajhyndman commented on #6317
@btmills I agree, #5936 identifies the same ambiguity and proposes a good solution for addressing the same ambiguity.

I guess I would opine that enforcing `arrow functions` ⇔ `implicit return` and `function expressions` ⇔ `block body` is a slightly tidier solution to the problem.  It's also interesting that the option configuration falls out so naturally.

If you're asking me, I'd prefer to use t

[2016-06-03 15:58] nzakas commented on #6302
Seems reasonable.

[2016-06-03 16:08] nzakas commented on #6317
I think we can support "never" along with #5936. I'll champion this.

[2016-06-03 16:12] #4711 closed

[2016-06-03 16:16] #6072 closed

[2016-06-03 16:18] pedrottimark commented on #6240
Indeed there is a gap in information architecture: rule docs and version blogs have answers only if you know where to ask the questions.

@mockdeep On a separate path from `"eslint:all"` do you see any value in brainstorming about a counterpart to the rules index page on the ESLint Web site organized by version from new to old?

What information would be useful?

[2016-06-03 18:05] sosz opened #6319 "TypeError: Cannot read property 'value' of undefined"
**What version of ESLint are you using?**
`eslint@2.11.1`

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint@6.0.4`

**Please show your full configuration:**
[Link to Gist](https://gist.github.com/sosz/162703cc8df31b1be0bf566266d997ce)

**What did you do? Please include the actual source code causing the issue.**
Running `eslint Test.js`. Its source can be found in the [Gi

[2016-06-03 18:28] btmills commented on #6319
Thanks for the report, @sosz. This looks like it might be a duplicate of #6274. Can you confirm?

[2016-06-03 19:32] FunkMonkey commented on #3185
This still seems to be an issue when destructuring imports, f. ex.:

[code]
It is especially problematic as the user has no control over the naming in external libraries.

[2016-06-03 22:25] mockdeep commented on #6240
@pedrottimark I can't say that something like that would be particularly useful in my case. Even then it would be more overhead to track down the appropriate docs page and look it over, as opposed to just having them in your face when you upgrade. I like tools that don't allow me to be lazy or forgetful. In a lot of cases, we're already in line with new rules, so they just silently pass and that's

[2016-06-03 22:50] platinumazure commented on #6240
@mockdeep Would your needs be better met by, rather than pulling in all rules and linting them via configuration, if you could instead use a CLI flag to warn on rules not explicitly configured? That way auto-fix won't potentially make risky changes to your code but you would get an error for not having a configuration explicitly set for a new rule.

[2016-06-03 23:13] mockdeep commented on #6240
@platinumazure I'm partial to not having to configure every single rule. I mentioned before, but it's nice to have my config file represent only the things that depart from the default, as opposed to having to have every single rule configured.

You solution could be handy in terms of making me more aware of new rules, but a lot of times when rules are added my codebase is already in line with the

[2016-06-03 23:37] pedrottimark commented on #6240
@mockdeep Some integrations provide this. You might be pleasantly surprised.

Atom editor:
<img width="439" alt="6240 atom" src="https://cloud.githubusercontent.com/assets/11862657/15795733/8203d3aa-29c2-11e6-8452-cb5915ce91da.png">

http://eslint.org/docs/user-guide/formatters/html-formatter-example
<img width="1030" alt="6240 formatter" src="https://cloud.githubusercontent.com/assets/11862657/15

[2016-06-03 23:39] mockdeep commented on #6240
Ah, nice. I usually just run it at the command line, though. Is there a formatter there that does something similar?

[2016-06-03 23:49] pedrottimark commented on #6240
CLI has option for formatter: http://eslint.org/docs/user-guide/command-line-interface#f---format

If you see a solid way to do it, seems we should consider adding as specific example to that section.

[2016-06-03 23:54] pedrottimark commented on #6240
At this time on a Friday evening, I had to look at that anchor 3 times: is it a grimace 😬 or a grin 😁

[2016-06-04 05:40] kaicataldo commented on #3420
I took a stab at this - I tried to do it with code path analysis but wasn't able to get it working - maybe I was doing it wrong?

Thoughts on this attempt? Can add more tests and things, but wanted to get some feedback first: https://github.com/eslint/eslint/commit/d526db5d67fb3c8cf9ecd579378fa0bebfd6abcd

[2016-06-04 07:23] alberto commented on #5936
oh, sorry, I didn't see that PR since it wasn't linked to the issue.

@duncanbeevers are you still interested in implementing this?

[2016-06-04 07:24] alberto commented on #3185
@FunkMonkey can you open a new issue following our guidelines, please?

[2016-06-04 07:36] alberto commented on #6317
What's proposed here is not equivalent to #5936 and as @pedrottimark mentioned, the description is not accurate of the behaviour this would have.

`never` would warn any block-style arrow function, thus preventing writing arrow functions containing more than one statement.

[2016-06-04 08:11] sosz commented on #6319
Yes, that looks to be the case

[2016-06-04 10:22] ajhyndman commented on #6317
@alberto I agree, one feature does not make the other redundant.

That's correct, `never` would warn of any block-style arrow function.  I want to prevent arrow functions from containing more than one statement.

Is my description not clear enough?  Let me know if I can adjust anything.

[2016-06-04 12:46] alberto commented on #6319
Closing then. Thanks!

[2016-06-04 12:46] #6319 closed

[2016-06-04 13:07] glebmachine opened #6320 "Add auto-fixing to padded-blocks"
Please, add auto-fixing for **padded-blocks** option

[2016-06-04 15:55] jacksonrayhamilton commented on #3586
@IanVS, I'd also like to have this functionality. If you'd like, I could implement it too.

[2016-06-04 16:01] kaicataldo commented on #6317
@ajhyndman I think they're referring to the fact that your original posts says the reason you want this rule is

But what your proposal really enforces is disallowing arrow functions containing multiple statements (and always forcing the use of implicit returns), which reaches far wider. Though it does have the side effect of solving the problem you cited.

[2016-06-04 16:16] kaicataldo commented on #6320
This seems like a reasonable request to me, though I'm sure where we stand regarding auto-fixing newlines (see https://github.com/eslint/eslint/issues/5958#issuecomment-222345636). Thoughts @eslint/eslint-team?

I'd be happy to take this on if we decide it's a good idea.

[2016-06-04 17:33] ajhyndman commented on #6317
@kaicataldo I think your appraisal is fair.  My initial description focuses on what I thought was the most straightforward and clearly defined benefit.  You're also right that it won't make sense in a lot of projects which use => purely as a shorthand for binding.

While it's not a critical point. I'd like to take a moment to try to dispel the notion that I'm not aware of what I'm proposing.  I th

[2016-06-04 18:49] tbremer opened #6322 "max-len indented comments"
**What version of ESLint are you using?** `2.11.1` (from my package.json: ^2.11.1)

**What parser (default, Babel-ESLint, etc.) are you using?** `default`

**Please show your full configuration:** [full config](https://github.com/tbremer/eslint-config-tbremer/blob/master/index.js) piece concerned with:
[code]

**What did you do? Please include the actual source code causing the issue.** I found th

[2016-06-04 19:22] tbremer commented on #6322
This is actually pretty easy to recreate:
[code]

I could be making a bad assumption here, but this could be as simple as a check in `isFullLineComment` to trim whitespace?

[2016-06-04 21:18] kaicataldo commented on #6317
Oh, I don't think anyone was thinking you weren't aware of the implications of your proposal - we just want to make sure we evaluate all proposals fully and are all clear on what they entail while we discuss whether they should be accepted or not :)

[2016-06-05 03:52] IanVS commented on #3586
@jacksonrayhamilton Sorry, I guess I'm not exactly sure what enhancement you're proposing.  Are you saying you want to teach `no-regex-spaces` to flag spaces in literals within `RexExp` constructors?

[2016-06-05 04:47] kaicataldo commented on #6322
Was able to recreate locally with the latest version of ESLint.

With the provided configuration,
[code]
errors, but
[code]
does not.

[2016-06-05 04:54] kaicataldo commented on #6322
In looking over it quickly, it looks to me like a bug in `isFullLineComment` - probably the `start.column === 0` check

[2016-06-05 05:07] kaicataldo commented on #6066
@mysticatea Not sure I'm following - sorry - could you show me an example of what you mean? I'm happy to get started on this when we decide what this should look like and it gets accepted :)

[2016-06-05 06:12] jacksonrayhamilton commented on #3586
Yep!

[2016-06-05 08:55] alberto commented on #6320
Actually I have a branch where I was trying to implement this, and it lead me to that comment and other concerns raised in #6298. Even if we decide those are not a problem, it's not trivial to remove linebreaks, because they might not be `\n`.

[2016-06-05 09:49] glebmachine commented on #6320
"line breaks (better: newlines) can be one of Carriage Return (CR, \r, on older Macs), Line Feed (LF, \n, on Unices incl. Linux) or CR followed by LF (\r\n, on WinDOS).

Therefore, the most efficient RegExp literal to match all variants is

/\r?\n|\r/"

Source stackoverflow: http://stackoverflow.com/a/10805292

[2016-06-05 10:27] SimenB opened #6323 "Linting directory with single file takes 5.5 seconds, linting file directly takes 0.5 seconds"
**What version of ESLint are you using?**
2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

Full `--print-config`-output: https://gist.github.com/SimenB/6291c9b33b990e8911741fb8ae9d82af

**What did you do? Please include the actual source code causing the issue.**
run `node_modules/.bin/eslint .` in a folder with a single

[2016-06-05 10:35] mpal9000 commented on #6237
importPluginName == '/home/user/path/to/project/node_modules/esling-config-selfcontained/node_modules/eslint-plugin-import/lib/index.js'

[2016-06-05 11:33] SimenB commented on #6323
Ah, this is just because #6276 isn't merged yet

[2016-06-05 11:33] #6323 closed

[2016-06-05 11:48] kaicataldo commented on #6320
Whoops, my first response should have read "not sure where we stand..."

[2016-06-05 12:34] glebmachine commented on #6320
Btw, it was great, to have fix for this)

[2016-06-05 14:00] kaicataldo commented on #6320
@alberto Yeah, that makes sense. Any reasons you can think of why the regex solution might not work for removing newlines? Still doesn't solve the problem of adding the right type newline, but that gets back to the discussion happening in the other issue I pointed to earlier.

[2016-06-05 14:06] glebmachine commented on #6320
Guys, here the snippet to detect proper line engings in node:
[code]

[2016-06-05 15:31] tbremer commented on #6322
I wasn't sure about the `=== 0` because of multiline comments, but playing with the parser a bit I saw that multiline's were broken down as well.

Thanks @kaicataldo!

[2016-06-05 17:49] #5744 closed

[2016-06-05 17:53] nzakas commented on #3395
Is this still a big enough problem that we need a check? It looks like the fix has already been released.

[2016-06-05 18:07] nzakas commented on #6317
We've gotten a bit off track here. We have a champion and two 👍s from the dev team (@ilyavolodin and @kaicataldo). We need one more to accept this. Anyone want to give it?

[2016-06-05 18:09] nzakas commented on #6309
I think removing it is fine

[2016-06-05 18:22] nzakas commented on #3420
@kaicataldo unfortunately, I have no idea how to do this. That's @mysticatea's area of expertise.

[2016-06-05 18:27] nzakas commented on #6255
@michaelficarra escope does most of what is needed already. We'd just need to attach type information when a declaration is found. The scope, type, and evaluation of identifiers are pretty closely related, so I don't see a good argument for having multiple passes from different tools to do this.

In any event, I don't see this as something that will be addressed anytime soon, so I'd propose we clo

[2016-06-05 18:27] nzakas commented on #6057
Ok, closing as there's no work to do here.

[2016-06-05 18:27] #6057 closed

[2016-06-05 18:32] nzakas commented on #6320
@glebmachine that isn't accurate. Windows users can use Linux line endings and Linux users can use Windows line endings. You can't make assumptions about this based on the platform.

Removing line breaks can be done with a regex, it's the insertion that is the problem here.

[2016-06-05 18:51] nzakas commented on #6212
I think we should pull this conversation back to the original request, which is if it makes sense to allow regex patterns in `id-blacklist`. I think it does. 👍

I don't see a ton of value in merging rules. The rules we have inhabit relatively isolated corners of the problem such that they are fairly easy to use together. I don't see merging rules as improving that situation in any way, so I'm 👎 am

[2016-06-05 19:11] glebmachine commented on #6320
@nzakas In this uncommon case you can check file for used line endings.

[2016-06-05 20:04] mysticatea commented on #6066
I'm sorry. This is an example.

[code]

[2016-06-05 20:19] sheerun commented on #6255
Relevant: https://www.youtube.com/watch?v=VEaDsKyDxkY

[2016-06-05 20:24] kaicataldo commented on #6066
Thanks - I think I understand! I think you're right, that makes more sense than testing the individual expressions - allows you to configure it to the same value as `max-len`, for instance

[2016-06-05 20:38] tbremer commented on #6322
@kaicataldo I played around for a few minutes with removing the `start.column === 0` and it fixed the issue for me, also tried throwing comments at the end of a statement / method and that worked, and block comments held up.

I think you're assumption is correct.

[2016-06-05 21:08] btmills commented on #6317
:+1:

[2016-06-05 21:48] kaicataldo commented on #6066
Maybe we could check for the linebreak type and make sure we only count it as one character?

[2016-06-05 21:49] markelog commented on #3229
Sorry, missed your comment, how about `ignoreRegex`? Which would ignore lines with regexes.

[2016-06-05 22:40] mysticatea commented on #6066
Maybe we need the configuration of spacing rules in order to count column/length... :(
In interactions between other rules of line breaks or spacing, this might repeat inserting/removing line breaks...

[code]

[2016-06-05 23:40] mikesherov commented on #6212
I'm in the exact same camp as @nzakas here. :+1: to proposal. :-1: on merge.

[2016-06-06 02:17] IanVS commented on #3586
Cool, I'd be all for that, and @nzakas has said

So I'd say go for it. :)

[2016-06-06 04:02] kaicataldo commented on #5976
Just tested this locally, and as @gyandeeps mentioned, I'm seeing all the errors being fixed by multipass autofix :tada: Going to go ahead and close this.

[2016-06-06 04:02] #5976 closed

[2016-06-06 04:27] platinumazure commented on #5976
Still wondering if we could improve the lint reporting, for those who aren't using auto-fix? Right now we're not providing enough information (we have a false negative on the colon when the question mark is warned).

[2016-06-06 05:22] kaicataldo commented on #5976
My vote is to create a new issue that focuses on that. And yeah, looking at the code, doesn't seem like a big deal to add better error reporting in. I'd be happy to do it.

[2016-06-06 07:28] efender commented on #6058
How about re-export default ([lodash issue](https://github.com/lodash/lodash/pull/2400))?
[code]
Is it correct?

[2016-06-06 08:50] phaux commented on #6311
I didn't know about eslint-plugin-babel. I will try it out. Thanks

[2016-06-06 09:47] TimvdLippe opened #6325 "Automatically add exported variable as global in importing file"
**What version of ESLint are you using?**
v2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**The problem you want to solve.**
Whenever I set a variable to be `/**exported VARNAME*/` I need to redeclare this `/**global VARNAME*/` in every file that uses this file. E.g. I put an exported variable bar (`/**exported bar*/`) in `foo.js`. Whenever I include `<script src="fo

[2016-06-06 11:51] reergymerej commented on #6315
@ilyavolodin Thanks for the insight.

[2016-06-06 13:06] platinumazure commented on #6325
Hmm... there are a few constraints imposed by the design and architecture of ESLint that might make this less feasible:

1. ESLint operates on one file at a time and our core rules will not perform filesystem operations to pull in imported files.
1. ESLint operates on files in an arbitrary order, so it would be tough to store exported variables in a dictionary and hope that the reading file comes

[2016-06-06 16:10] himdel commented on #6295
Exactly, I do understand that from the parser's standpoint it really is an unreachable statement. But it means there's currently no way to allow semicolon after switch and get no warnings while still wanting to be warned about nonempty unreachable statements..

Maybe just adding an `ignoreEmpty` option to `no-unreachable` would work? (and yes, I'm willing to implement that :-))

[2016-06-06 16:27] platinumazure commented on #6295
I'm not sure I understand why you think you need the semicolon after switch
in the first place. It's completely unnecessary and it's not allowed by the
language (that is, a SwitchStatement in the grammar does not allow an
optional semicolon like simple statements do, and any semicolon you do
place is unambiguously an empty and unnecessary statement).
On Jun 6, 2016 11:10 AM, "Martin Hradil" <notif

[2016-06-06 16:48] alberto commented on #6320
@kaicataldo @nzakas re: removing linebreaks. Unless I am missing something here, it can't be done directly with a regex. To create a fixer you have to provide a range to remove, and you can't get the exact range of the linebreak without resorting to something like what's done in #6226.

[2016-06-06 18:36] mikesherov commented on #6320
Could always look how JSCS 2.0 (pre-CST) does this fix.

[2016-06-06 19:14] nzakas commented on #5949
Sounds good. :+1:

[2016-06-06 19:22] FezVrasta opened #6328 "space-before-function-paren doesn't work properly"
**What version of ESLint are you using?**
eslint@2.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint@6.0.4

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
The `return function() {` line shouldn't throw an error

**What actually happened? Please in

[2016-06-06 19:31] nzakas commented on #6244
Trying to kickstart this again. I think we basically want to adopt what JSCS has. Here's my proposal:

* Patch release
  * A bug fix to the CLI or core (including formatters).
  * A bug fix in a rule that results in ESLint reporting fewer errors.
  * Improvements to documentation.
  * Non-user-facing changes such as refactoring code, adding, deleting, or modifying tests, and increasing test covera

[2016-06-06 19:37] btmills commented on #6328
AirBnB's config, which you're extending without overriding, has `space-before-function-paren` [configured](https://github.com/airbnb/javascript/blob/f41b4df02458638525779c4ce3e496a9b588ebe5/packages/eslint-config-airbnb-base/rules/style.js#L232) as `[2, { anonymous: 'always', named: 'never' }]`. Since the `return function() {` line is an anonymous function, the rule is correctly expecting a space

[2016-06-06 19:43] pedrottimark commented on #6244
Agree with principle adopt JSCS. It looks clear. A few tactical observations or suggestions:

Patch

* move “A bug fix in a rule…” to first item for symmetry with Minor
* reword “Re-releasing after a failed release…” nonfunctional = what, completely hosed?

Minor

* move “A n option…” to second or third item

Major

* maybe move `eslint:recommended` to first item

[2016-06-06 19:45] vsemozhetbyt opened #6329 "--print-config outputs empty config if called not from config file directory"
**What version of ESLint are you using?**

2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

`e:\DOC\prg\js\node\.eslintrc.json`
[code]
**What did you do? Please include the actual source code causing the issue.**

I have a simple test script in the subdirectory relative to the config directory:

`e:\DOC\prg\js\node\-test\test.

[2016-06-06 19:56] hzoo commented on #6244
@pedrottimark I see so moving the bullet points based on familiarity/frequency in changes?

Do we want an explicit point for adding/fixing autofix to a rule or that does under "a rule"?

[2016-06-06 19:57] TimvdLippe commented on #6325
Sadly I have no experience with ESLint core, I am merely an end-user. My programmer intuition thinks that a post-process step removing all "incorrect" rules would be the most performant. I understand the architectural limitations, maybe this feature is possible in a later version of ESLint where such features can be implemented?

[2016-06-06 20:07] jrajav opened #6330 "Rule expansion proposal: Add "arrow" option to `func-style`"
Eslint version: 2.11.1

The [func-style](http://eslint.org/docs/rules/func-style) rule only supports enforcing function declarations and function expressions. Due to their terser, cleaner syntax and lack of features encouraging bad practices such as `this` and `arguments`, we prefer to use arrow functions wherever we can. However, there doesn't seem to be any way to enforce this with eslint right

[2016-06-06 20:30] pedrottimark commented on #6244
Yes, a guideline is organize information to make it clear and quick to interpret both ways:

* in Patch/Minor/Major release, what kind of change is possible?
* for a kind of change, is it possible in Patch/Minor/Major? Therefore, though obvious to many, maybe some simple wording that Minor includes Patch and Major includes Minor. Rock, Paper, Scissors.

Change from non-fixable to fixable seems imp

[2016-06-06 20:44] vsemozhetbyt commented on #6329
The test case may be simplified: call `eslint --print-config .` from config file directory and from a subdirectory — the first output is the real set, the second one is empty.

[2016-06-06 20:52] vsemozhetbyt commented on #6329
Debug outputs from the config file directory:

![1](https://cloud.githubusercontent.com/assets/10393198/15837355/9c05c5ac-2c41-11e6-81cb-71bc0cc0e09a.png)

Debug outputs from a subdirectory:

![2](https://cloud.githubusercontent.com/assets/10393198/15837372/abcd200c-2c41-11e6-9450-ba09b111b037.png)

[2016-06-06 21:21] #6328 closed

[2016-06-06 22:14] ilyavolodin commented on #6250
No follow-up, so closing. Please take a look at rules that @mysticatea suggested.

[2016-06-06 22:14] #6250 closed

[2016-06-06 22:33] platinumazure commented on #6330
Not quite what you're asking for, but have you looked at [`prefer-arrow-callback`](http://eslint.org/docs/rules/prefer-arrow-callback)?

[2016-06-06 22:35] platinumazure commented on #6329
I'm really confused about showing the linting messages when the issue seems to be about `--print-config`. Am I missing something?

* Is this about `--print-config` specifically?
* Do you believe the wrong configuration is being loaded/used for your use case?

[2016-06-06 22:46] mikesherov commented on #6244
:+1: on adopting HSCS rules here.

[2016-06-06 22:47] albertxing opened #6332 "Parsing error on paren after dangling comma"
**What version of ESLint are you using?**

v2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

ESLint should pass with no errors since I'm allowing trailing commas

**What actually happened? Please i

[2016-06-06 22:48] albertxing commented on #6332
Oh, I forgot to mention: If I remove the dangling comma everything works as expected.

[2016-06-06 22:49] vsemozhetbyt commented on #6329
I've put the linting messages as a proving that without `--print-config` eslint uses all the triple rule set even being called frome a subdirectory. However, just adding `--print-config` to call from the same subdirectory somehow cleans rule set for printing.

[2016-06-06 22:56] vsemozhetbyt commented on #6329
I've added a note before the linting message. Is it clear now? Sorry, my English is clumsy(

[2016-06-06 23:02] ilyavolodin commented on #6325
This request goes again a few of our architecture principles. First of all, as @platinumazure mentioned, we are working on a single file at a time, so we can't share information from one file to the other. Second, we rely on globs to tell us which files to lint, and we don't control order of linting at all. Because of that, we have absolutely not guarantee that the file that would export variables

[2016-06-06 23:02] #6325 closed

[2016-06-06 23:05] ilyavolodin commented on #6329
Verified. Interesting. I though `--print-config` was running after configuration resolution process. If that would be the case, this should be happening.

[2016-06-06 23:08] platinumazure commented on #6332
Dangling comma is only allowed in certain parts of the grammar- I don't think function calls is one of them.

[2016-06-06 23:12] ilyavolodin commented on #6332
[Trailing function commas](https://jeffmo.github.io/es-trailing-function-commas/) is a Stage 3 proposal, and as such is not yet part of the ECMA Script specification. Espree (default parser for ESLint), only supports approved ECMA Script features. If you want to use trailing function commas you need to use `babel-eslint`.

Closing as this is working as expected.

[2016-06-06 23:12] #6332 closed

[2016-06-06 23:16] ilyavolodin commented on #6330
@jrajav Could you update first post to use our change request template: http://eslint.org/docs/developer-guide/contributing/changes
As far as I understand it, you are asking for enhancement to `func-style` rule, but it really helps us if you use the template, so we don't have to clarify information that we require to evaluate the request.

[2016-06-06 23:16] nzakas commented on #6204
Yeah, I'm skeptical as well. Arrow functions use an enclosing junction's `arguments`, `this`, and `super`, and that's by design. I think if we did anything, it would have to be for all three.

I could see where some might like such a rule, just not sure it's right for the core.

[2016-06-06 23:17] ilyavolodin commented on #6244
What's an HSCS rules? Sorry, not familiar with it.

[2016-06-06 23:26] #6309 closed

[2016-06-06 23:29] nzakas commented on #6244
I'm pretty sure he meant JSCS and just typed it wrong :)

[2016-06-06 23:30] jrajav commented on #6330
@ilyavolodin I tried to include everything I saw there - I added the eslint version though. Is there anything still missing that I can elaborate further on?

[2016-06-06 23:31] jrajav commented on #6330
@platinumazure Yes I have, thank you! That rule only flags functions being passed as parameters (that is, callbacks), though, and not the more common use case of functions being defined and used directly.

[2016-06-06 23:32] nzakas commented on #6244
@pedrottimark I think making a rule fixable is a minor release. Same with making it non-fixable. Fixes are not guaranteed to be applied, so there's no real harm in adding or removing fixes.

[2016-06-06 23:36] feross commented on #6280
Here's another example:

[code]

In this example, `node &&` is just an existence check.

As a user, I only care about detecting loops where the entire conditional is not modified by the body, since it is only then that I have an infinite loop.

[2016-06-06 23:40] mikesherov commented on #6244
Adding a fix should be minor. The principle for major is "will this change make CI tools fail where they were passing before". For adding fixers, the answer is no.

[2016-06-06 23:55] abecks commented on #3652
Do these issues get re-opened at any point? Or are they lost to their watery grave because no one was available at the time to implement?

[2016-06-07 00:35] ilyavolodin commented on #3652
@abecks It's not about the time. It's about nobody on the team feeling strongly enough that this exception is important and widespread to champion or support it. That doesn't mean that you couldn't implement it yourself as a plugin however. Not everything makes it into the core, but that's exactly why ESLint was designed from the start to support plugins.

[2016-06-07 01:14] slyngbaek commented on #4103
@gre I too had this issue. You can use the `varsIgnorePattern` to achieve what you want.

[This](http://eslint.org/docs/rules/no-unused-vars#varsignorepattern) option lets you specify a regex for which to ignore the rule.

[code]

[2016-06-07 02:27] kaicataldo commented on #6066
Would it be worth it to make this rule now as we've talked about and just not do auto-fixing yet? Sounds like we need to figure out autofixing with newlines across the project, not just here.

Some examples, off the top of my head:
* https://github.com/eslint/eslint/issues/6320
* https://github.com/eslint/eslint/issues/5958

[2016-06-07 05:06] LinusU commented on #5949
@mikesherov feel free to tell me how you want me to update my pull request to get this landed :+1:

[2016-06-07 05:16] alberto commented on #6244
I'm ok with everything except with:

- (minor) A bug fix in a rule that results in ESLint reporting more errors.

Semver states bugfixes not changing the API should be patch releases. If a rule catches an error we were supposed to be catching that's a good thing. That's the difference between a bug and an enhancement.

[2016-06-07 06:14] MoOx commented on #4161
Getting a similar issue with the following code

[code]

[code]

It looks like bug.

Note that the following code (the same without the `const a =`) does not trigger the issue

[code]

This seems inconsistent.

[2016-06-07 07:42] FezVrasta commented on #6328
Thanks, I didn't noticed that rule :(

[2016-06-07 09:53] stefanbuck opened #6333 "Run single rule"
While moving a bigger project from jscs to eslint, I found myself wanting to have the possibility to run a specific or subset of rules instead of full eslint config from the project.

In addition this should also work for the auto fix command. This would allow to split up the auto fix changes into logical commits.

[2016-06-07 11:29] mysticatea commented on #3420
Oh, I'm sorry for late.

I'm not sure whether the approach is good or not as I'm not familiar with this rule.
If you use code path analysis, it would be similar to [constructor-super]. `constructor-super` is checking `super()` appears exact 1 time on each path if the class has a base class. That rule is complex for handling loops, though. Also, to satisfy this request, we should check inner functi

[2016-06-07 12:17] vitorbal commented on #6333
Hi, @stefanbuck, thank you for your suggestion! Could you go into a bit more detail about what this option would look like, how would it be run from the cli, etc?

You mention wanting to run a subset of rules from an eslint config. Are you using a shared config to run eslint in your project? If so, how would this option you suggest be different than just disabling the rules you're not interested i

[2016-06-07 12:28] mysticatea commented on #6013
Now Acorn v3.2.0 has been released: https://github.com/ternjs/acorn/releases/tag/3.2.0

[2016-06-07 12:57] mysticatea commented on #6023
I updated the reference implementation. The default value of options has changed.

May this go forward?

[2016-06-07 12:59] ilyavolodin commented on #6023
Marking as accepted since there's a champion and 3 +1s from the team.

[2016-06-07 13:09] mysticatea commented on #5949
Hmm, I'm OK that this name is kept, also.

:+1:

[2016-06-07 13:18] mysticatea commented on #6066
If we use length/column in an option, that info is needed to distinguish whether line breaks are needed or not.

[code]

Ah...
If this rule ignores extra line breaks, that info isn't needed.

[2016-06-07 14:57] mikesherov commented on #6244
@alberto Semver can't be strictly followed in this case, because we can't universally call "randomly" breaking builds a feature. There are many users of linters who expect `~` to mean that the build will never suddenly break, and `^` to mean the build will break only when previously uncaught errors that should've been caught are now caught.

[2016-06-07 15:36] alberto commented on #6244
I wouldn't call it random. If we release a patch release which detects an error that should have been detected before, I think their build will be failing for a good reason.

[2016-06-07 15:38] alberto commented on #6333
There is [eslint-nibble](https://github.com/IanVS/eslint-nibble) by @IanVS, which I think does exactly that.

[2016-06-07 15:49] nzakas commented on #6244
@alberto i had the same initial reaction and had to do a lot of soul searching to get comfortable with it. I do think there's something to @mikesherov's point that there is an expectation that patch releases won't cause a passing build to fail. That, to me, is why requiring a minor release when warnings increase makes sense.

[2016-06-07 15:58] ilyavolodin commented on #6244
What happens if we can't determine if the number of errors will increase/decrease? For example, rule was flagging something that shouldn't have been flagging, but at the same time not flagging actual errors?

[2016-06-07 16:01] nzakas commented on #5949
Still looking for one more 👍 To move forward

[2016-06-07 16:04] nzakas commented on #6023
We need to resolve the disagreement before moving forward. @michaelficarra are your concerns addressed?

[2016-06-07 16:07] IanVS commented on #5949
Instead of `"always"` and `"never"` (or maybe in addition to), how about an object with `min` and `max` properties?  That might be more flexible.  For instance, I would like to enforce exactly one line between class methods, but I already have `no-multiple-empty-lines` set with a max of two empty lines (which I use in some cases to separate larger code blocks).

So, `"always"` would be an alias to

[2016-06-07 16:08] nzakas commented on #6059
Looks like we are good to move forward here.

@Mouvedia this issue is for creating an option that is compatible with JSCS functionality. If you want more than that, please open a new issue.

[2016-06-07 16:11] nzakas commented on #4345
@jthomerson that's not a good solution because we can't have everything change the `eslint-disable` comments to single line comments. That's very unfair to current users.

[2016-06-07 16:12] nzakas commented on #3611
@panrafal no. Everyone works in their spare time so we have no real schedule. It's basically when someone decides they want to work on it.

[2016-06-07 16:13] nzakas commented on #6211
It's up to the team, not me specifically.

[2016-06-07 16:16] michaelficarra commented on #6023
@nzakas Yes, my concern was that this rule only applied to logical operators. Now that it has been re-envisioned to lint all binary operators, it's fine.

[2016-06-07 16:19] platinumazure commented on #6333
You can also do this with a CLI invocation like the following:

[code]

[2016-06-07 16:22] nzakas commented on #5891
I think we still need a concrete proposal for how this should work. I don't think we answered all of the questions here:

1. Are we checking that *at most* there's one doc block for each pair? Or just allowing one and not warning with two?
2. Does this apply to both object literals and classes?
3. What is the option name?

And we need @eslint/eslint-team to comment since this is really an enhancem

[2016-06-07 16:25] nzakas commented on #6237
@mpal9000 I'm sorry, it doesn't look like you answered my question. If you're looking to be able to install plugins as dependencies on shareable configs, we aren't doing that soon and it's being tracked on https://github.com/eslint/eslint/issues/3458

[2016-06-07 16:28] nzakas commented on #3229
Sorry, what I meant was can you put together a proposal based on our guidelines (http://eslint.org/docs/developer-guide/contributing/rule-changes). This issue was closed because there wasn't enough info, so before we can move forward, we need a concrete proposal.

[2016-06-07 16:31] nzakas commented on #6244
@ilyavolodin that would be a minor release. It's not really the number of warnings, it's the number of things being flagged. Whenever something wasn't flagged and now will be flagged, that's a minor release.

[2016-06-07 16:48] lukeapage commented on #6320
Re: inserting newline, just take the first matching newline in the file or a sensible os default.
Then allow the newline to be fixed by the line break rule in the next iteration for the case where you get it wrong.
Thats my memory of how jscs v2 works (could be wrong)

[2016-06-07 16:56] jthomerson commented on #4345
@nzakas I wasn't saying that single-line comments (`//`) had to replace existing block comments (`/* ... */`). I'm just saying that I don't see a reason that eslint should not allow for either style of comment. `eslint-enable` and `eslint-disable` comments, in particular, are hardly ever more than one line, so why should eslint force those to use block comment style, which is typically only used f

[2016-06-07 17:00] mikesherov commented on #6320
@lukeapage yes, basically.

[2016-06-07 17:17] danny-andrews commented on #6144
Any updates on this?

[2016-06-07 17:32] platinumazure commented on #6144
I'm not sure I agree with the logic that (in the OP's example) `allow-null` option should remain. I believe we should have configuration be all-or-nothing at the rule level-- if a rule is specified in derived config, it is assumed to be a full configuration that completely replaces the configuration specified in base config file.

Note that this still allows for the most common cases (derived conf

[2016-06-07 17:48] stefanbuck commented on #6333
`eslint --no-eslintrc --rule` that's the solution that I'm looking for. Thanks @platinumazure

@alberto will also look into `eslint-nibble`, looks promising.

[2016-06-07 17:48] #6333 closed

[2016-06-07 17:49] tshinnic opened #6335 "Doc: inline rule changes: block vs. single-line comment - when?"
**What version are you using?**
Saw this oddity with 2.9.0, updated to 2.11.1 with no improvement

**What did you do?**
Attempted to turn off a rule in a small section of code using a single-line comment format

**What happened?**
Needing to turn off a rule in a small section of code, and since I've used single-line comments before with ESLint, I added
[code]
to the source.  The error "Unexpected

[2016-06-07 18:00] platinumazure commented on #6335
Yes, we very intentionally allow certain inline config comments to be line-only, and others are block-only. We could probably improve the documentation on that front.

[2016-06-07 18:56] mpal9000 commented on #6237
@nzakas I'm ok on waiting and thanks for ESLint! But I think I have answered all questions. Getting file paths of packages via `require.resolve()` requires the package to be installed. So I have answered your last question. The code above works.

[2016-06-07 19:25] Mouvedia commented on #6059
@nzakas after 3 refusals, I don't think Ill submit a new one…

[2016-06-07 19:29] danny-andrews commented on #6144
I agree with @platinumazure on this. I found it very surprising to inherit options from parent configs for rules I overrode in child configs.

[2016-06-07 19:32] ilyavolodin commented on #6211
Anyone on the @eslint/eslint-team wants to champion this enhancement?

[2016-06-07 19:41] Sequoia commented on #6084
This was a big hassle for me when I was learning to use eslint. I've now learned this quirk/behavior, so I'll note it in the future. I opened the bug in hopes of helping others avoid the issue.

Basically I have no dog in this fight anymore as I am now forewarned, so I'll go ahead and close the issue if you don't think it is useful to other folks!

Thanks for the serious consideration & response!

[2016-06-07 19:41] #6084 closed

[2016-06-07 19:49] mikesherov commented on #6211
I'm :+1: and would potentially champion once I close some other issues.

[2016-06-07 20:06] mysticatea commented on #6211
My thought is #6251.
I thought this and other JSCS rules in total, in that issue.

[2016-06-07 20:19] LinusU commented on #5949
@IanVS I think that if we do that we might be getting a bit of unwanted overlap with the `no-multiple-empty-lines`. I'm not saying I'm against your idea, just the if you specify e.g. max: 2 in the rule, and you have `no-multiple-empty-lines` configured to only allow one consecutive empty line, what should happen? I think that ESLint has a policy to not try and have overlap between rules, however t

[2016-06-07 20:23] mysticatea commented on #6023
Thank you very much! :sparkles:

[2016-06-07 23:37] virtyaluk opened #6337 "'prefer-const' not working correctly with 'for of' loop and generator-function."
**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[.eslintrc](https://github.com/paper-ui/react-paper-ui/blob/master/.eslintrc)

**What did you do? Please include the actual source code causing the issue.**
[code]

I may repalce it with `for (const v of foo())`, but then `console.log

[2016-06-07 23:39] virtyaluk commented on #6337
It may refer to #5568 indirectly.

[2016-06-07 23:57] roymiloh opened #6338 "Extends resolver does not work correctly when .eslintrc and eslint are placed in different modules with npm@2 (or, not flat)"
**What version of ESLint are you using?**
2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I have created a CLI that runs eslint and now using it in various projects. The actual eslint dependency is there, but the `.eslintrc` is inside the proj

[2016-06-08 00:11] mysticatea commented on #6337
Thank you for this issue.

This is duplicate of #5568, #4933, #4838, #4570, #4333, #4088, and #3104.
This is correct behavior.
Just some platform (e.g. Node 4, 5, Firefox) have a bug (see also https://github.com/eslint/eslint/issues/3104#issuecomment-157743822).

If you are using Node, you may be interested in [node/no-unsupported-features](https://github.com/mysticatea/eslint-plugin-node/blob/mas

[2016-06-08 00:11] #6337 closed

[2016-06-08 00:37] vsemozhetbyt opened #6339 "no-param-reassign: function type exceptions"
**What version of ESLint are you using?**

2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

I'm generally OK with `airbnb-base`  concerning this rule:

`'no-param-reassign': [2, { 'props': true }], `

**What did you do?..**

However, it would be useful to have exceptions for the whole function types. In my code I've bumped int

[2016-06-08 00:53] virtyaluk commented on #6337
Thanks!

I'm reading the specification and haven't finished it yet. So I can be wrong about different implementation pitfalls. And yeah, I'm testing it using Node because it's the fastest way to do that.

[2016-06-08 01:03] mysticatea commented on #6337
Node 4.x and 5.x does not support `let` and `const` completely in sloppy mode :smiley:
Please try `"use strict"`.

[2016-06-08 01:16] vsemozhetbyt opened #6340 "Wrong output indentation in all messages if one massage has a long multiline quote"
**What version of ESLint are you using?**

2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

An output with readable indentation and alignment.

**What actually happened? Please include the actual, r

[2016-06-08 01:52] markelog commented on #3229
Sorry, forgot about this bit, you want me to create another issue or do it here?

[2016-06-08 03:04] markelog commented on #6244
It doesn't seem to contradict semver fyi -

So in this context, we can define them as "features" or even backwards incompatible bug fixes which do not change public API, that is debatable of course.

This point is interesting actually, many people in the JSCS team were weird out by this when it was introduced, now it is hard to imagine otherwise, since this tactic worked out pretty well

[2016-06-08 03:37] kaicataldo commented on #6320
@lukeapage @mikesherov Makes sense to me!

[2016-06-08 04:43] platinumazure commented on #6339
We generally don't like to make library-specific exceptions in core rules, and writing logic to support certain types of function calls/callback arguments could be very tricky.

If this doesn't get any traction, please note that you can use inline ESLint configuration comments to suppress the rule for a single violation:

[code]

[2016-06-08 04:49] platinumazure commented on #6340
This is a formatter-specific issue. Other formatters may work better for you.

Please see the [formatter CLI option docs](http://eslint.org/docs/user-guide/command-line-interface#f---format) for more options.

[2016-06-08 05:18] alberto commented on #6320
If we decide inserting the wrong linebreak is not a problem to us (even if `linebreak-style` is disabled!) then yeah, no problem inserting `\n`.

[2016-06-08 05:31] alberto commented on #6298
My main concern is with introducing the wrong linebreak in a fix, because they are invisible chars. If I were developing alone on windows (using `\r\n`) I might think I don't need to enable `linebreak-style`, since it's just me working on it, and wouldn't notice eslint added `\n`s.

[2016-06-08 05:53] mysticatea commented on #6298
If you don't turn `linebreak-style` on, it means "I don't require consistent line break style.", I think.
Then ESLint would work as expected.

[2016-06-08 06:11] mysticatea commented on #6298
I'm not sure, why do you think that separating the setting linebreak style from `linebreak-style` solves your concern?

[code]

[code]

I don't think major difference exists between that 2 configs.
Just in the former case, ESLint does not check the consistency of line breaks.

[2016-06-08 09:17] vsemozhetbyt commented on #6339
@platinumazure Thank you. It seems that arguments for event listeners are subject for mutation in many cases and context. HTML elements as the event targets is an example as well.

[2016-06-08 09:29] vsemozhetbyt commented on #6340
@platinumazure Thank you. However, it seems to be a rather generic problem to be considered for default formatter. When it appears, it is more easier to correct the error causing quote then to change the formatter. However, the quote in the end of a message queue has an impact on all the queue and should be located and addressed first — and this is somewhat inconvenient.

[2016-06-08 10:50] sigorilla opened #6341 "Rule Proposal: no-ascii"
Hi everyone. One day my teammate wrote object key with non-ASCII characters. It led to problems with renaming. So I want proposal new rule `no-ascii`.

**When does this rule warn? Please describe and show example code:**

[code]

**Is this rule preventing an error or is it stylistic?**

In JS there isn't prohibited non-ASCII characters (it works correctly), but in some projects this is disallowed.

[2016-06-08 11:27] tisoalvarez commented on #6052
I also think it's important do implement this rule. Currently the sharable `eslint-config-google` has no way to enforce the parameter indentation proposed on [Google JavaScript Style Guide](http://google.github.io/styleguide/javascriptguide.xml#Code_formatting):

The Google style also enforces double indentation on line-wrapped variable initializations and method chaining.

[2016-06-08 14:01] jurajpetrik commented on #3677
I was having an issue with eslint seemingly ignoring my `~/.eslintrc` and it looks like eslint searches recursively upwards the path tree until it finds `.eslintrc`.
My issue was that I was running eslint from `~/src/project/` and had placed an `.eslintrc` file in `~/src` by accident. which was overriding my config file in the home directory.
I hope this helps someone.

[2016-06-08 14:13] ilyavolodin commented on #6244
Just an FYI, currently our release script determines what type of release this is going to be based on the commit messages. If we split up `Fix` to be either patch or minor based on the fix itself, we will not be able to rely on the script anymore (not a big deal, and shouldn't be blocking this discussion, but just something to keep in mind).

[2016-06-08 14:20] ilyavolodin commented on #6339
@vsemozhetbyt It seems that what you want goes completely against the idea behind `no-param-reassign` rule. Why do you want to keep it on in the codebase that requires overriding parameters? Also, couldn't you assign `line` to a temporary variable inside your event handler and modify that variable instead?

[2016-06-08 14:22] ilyavolodin commented on #6340
It looks like a bug that we should fix. However, I don't think we should fix formatter itself, but instead we should modify `newline-per-chained-call` to not dump that much information into the error message.

[2016-06-08 14:37] vsemozhetbyt commented on #6339
@vsemozhetbyt I just think that some function types have a predestination that makes some arguments an intended object for mutation (as in Proxy trap case) or just a very versatile data (as for listener case). And if in such cases we must almost always add  temporary variables just for linter  — well, may be something wrong is about it. However, it is just an idea, and if it is completely against

[2016-06-08 14:38] kaicataldo commented on #6320
As I understand it, it would match the type of the first line break it finds. There is of course the edge case where there might not be any newlines, but that I think that would be pretty rare...

[2016-06-08 18:03] SpadeAceman commented on #6298
:-1: As I noted [in this comment](https://github.com/eslint/eslint/issues/3885#issuecomment-147110482), not only would people need to understand how to use the ~200 rules currently available, but they'd also need to be aware of the (often unexpected) side-effects of using certain repository settings along with those rules.

The repository settings would effectively become globals, with all of the

[2016-06-08 18:18] kalisjoshua commented on #6176
I like this as an option. When should this be available? It looks like it is already included but I am not seeing it working.

[2016-06-08 18:31] nzakas commented on #6244
@ilyavolodin I think what we're saying here is that "Fix:" is only used when we're causing a rule to not flag something it was previously flagging. For everything else, we'd use "Update:".

[2016-06-08 19:29] nzakas commented on #6244
I'm going to throw together a PR. It seems like we're agreeing on most of the details, so I think we can work out any further issues on the PR.

[2016-06-08 19:38] nzakas commented on #6244
So this is an interesting test of the rule fix/update argument: https://github.com/eslint/eslint/pull/6324

The rule was not flagging something that it clearly should have, so we labeled this as a bug. "Fixing" the bug means it will now work properly, though the result is that it's flagging something it was meant to flag before but wasn't. Is that a patch change or a minor change?

[2016-06-08 19:38] alberto commented on #6329
I am working on this

[2016-06-08 19:57] #6240 closed

[2016-06-08 20:00] pedrottimark commented on #6298
Two questions to make explicit something that I missed until just now:
* Are “repository settings” a specific type of `settings` as described in http://eslint.org/docs/user-guide/configuring#adding-shared-settings?
* Are the generic `settings` intended for plugins only and not to be used by core rules?

[2016-06-08 20:03] nzakas commented on #6329
I'm a bit confused here - what are we saying is the bug?

I'm pretty sure `--print-config` requires that you pass a file and not a pattern, so `eslint --print-config .` won't work while `eslint --print-config foo.js` will.

[2016-06-08 20:07] platinumazure commented on #6298
The drawback to this is the need to repeat some of the values (e.g., your line break is referenced in a bunch of rules, so extra typing of either `"\n"`/`"\r"/`"\r\n"`, or a variable name referencing the same). But I can see the positives as well.

I had conceived of repositorySettings as being separate from those "settings".

And my assumption is that core rules do not use those "settings" at all

[2016-06-08 20:13] vsemozhetbyt commented on #6329
Does `.` not mean 'current directory' for eslint? Whatever the case, you can replace `.` by any path — the bug is still here: calling from config file directory and calling  from any subdirectory have different outputs.

[2016-06-08 20:13] alberto commented on #6298
@mysticatea I'm not sure if the solution is to separate it, but allowing access to the defined `linebreak-style` would allow `a-newline-rule` to use it

[2016-06-08 20:15] platinumazure commented on #6329
@nzakas I think the problem is if you have `foo.js` and `subfolder/bar.js`, `--print-config` simply doesn't work when you pass in `subfolder/bar.js` (or any path where the file is not in the same folder as the config file).

[2016-06-08 20:16] platinumazure commented on #6298
Folks,

Bear in mind that the main thrust of this proposal was as a reaction to the architectural direction of "rules cannot know about each other". If we believe it is simpler to simply allow rules to know about each other, then I agree my proposal is overkill, but it is worth noting that there is a very good reason we keep the rules separate and independent.

[2016-06-08 20:16] alberto commented on #6329
@nzakas Here is a failing test case using a file, running from `lib`:
`../bin/eslint.js  --print-config ./cli.js`

[2016-06-08 20:21] vsemozhetbyt commented on #6329
@platinumazure the bug depends not from path and not from relation between path and config file, but from relation between CWD and  config file. If you call eslint for `subfolder/bar.js` from the same folder with config file, it is OK.

[2016-06-08 20:22] mikesherov commented on #6244
Yeah, it seems weird. But it's a minor in that case.

Mike Sherov

[2016-06-08 20:30] alberto commented on #6244
I don't think that case is special. If we want to avoid breaking anyones build, we can tell ourselves that is an enhancement and call it a day. If we want people to get this fixed ASAP, we should label it as a bug and let their CI tell them there is a problem with their build. This is not a critical bug, but what if we find something missing from one of our "Possible errors" rules? Wouldn't you wa

[2016-06-08 21:17] mikesherov commented on #6244
Finding more lint errors would be an enhancement here. Telling them to pin is harder because `npm`s default behavior is `^`, which *does* force their CI to catch new enforcements. `~` allows them to have green build guarantee but still get bug fixes.

[2016-06-08 22:17] ilyavolodin commented on #6298
@platinumazure I, personally, would be very much against anything that breaks "rules cannot know about each other" change.

P.S. Keep in mind that all the negative feedback is not directed against you at all, but it seems that this approach is creating more problems that it's solving, at least in the form that it is right now.

[2016-06-08 22:20] ilyavolodin commented on #6329
@nzakas That's what I assumed as well. However, that's not what is happening. `eslint --print-config .` is working in the case that you have `.eslintrc` in the current directory, which is strange and not what I expected. But the tests that I posted are done on the file, not on the pattern. So it seems that there might be two bugs here. First one, `--print-config` on a file in the subdirectory retu

[2016-06-08 22:39] alberto opened #6344 "Chore: Remove dead code in FileFinder"
`FileFinder.prototype.findInDirectoryOrParents` isn't used anywhere, so it can be safely removed.

[2016-06-08 22:53] alberto commented on #6144
@danny-andrews I added an option for `eqeqeq`. Have you found any other rule without an explicit default?

[2016-06-09 02:03] platinumazure opened #6346 "Docs: Plugin shareable config section does not mention that rules need to be prefixed with plugin name"
The [plugin config section](http://eslint.org/docs/developer-guide/working-with-plugins#configs-in-plugins) in Working with Plugins does not mention that plugin rules listed under the configurations must be prefixed with the plugin name (full or short). This should probably be remedied. (The example just uses the core rule `semi`.)

It might not hurt to mention that plugin rules and core rules can

[2016-06-09 02:08] platinumazure commented on #6346
I learned that plugin rules must be prefixed with the plugin name in plugin config exports. Got that fixed on the branch. I tried linting a few files at work and everything looks pretty good, but I'm going to give it another few days.

[2016-06-09 02:14] kaicataldo commented on #6212
Agreed with @nzakas and @mikesherov. I can see the case for merging `id-match` and `id-blacklist`, but I don't see the benefit in merging id-length in as well. Either way, I think we should stick to the proposal at hand, and if people feel really strongly about wanting to merge `id-match` and `id-blacklist` we can discuss that in a new issue.

[2016-06-09 02:16] kaicataldo commented on #6212
So, to be clear, :+1: for the enhancement

[2016-06-09 02:24] kaicataldo commented on #6176
Hey there, this should be in as of >2.11.0 http://eslint.org/blog/2016/05/eslint-v2.11.0-released#bug-fixes

[2016-06-09 02:57] kaicataldo commented on #6335
Agreed that this can be made clearer (I also think the extra comments in the example are really confusing). Went ahead and opened a PR.

[2016-06-09 03:10] ilyavolodin commented on #6212
Marking as accepted since we have more then enough votes.

[2016-06-09 04:55] mysticatea commented on #6298
I apologize if I'm too offensive.
I'm not familiar with ways to say opposite opinions in English.

@alberto Hmm but why do we need that `a-newline-rule` can access line break style? Sure, people may forget `rules.linebreak-style`, but people may forget `repositorySettings.linebreak-style` as well. It seems to improve nothing to me.

@platinumazure

Maybe, this is the main difference between my tho

[2016-06-09 05:25] platinumazure commented on #6298
@ilyavolodin:

No worries, I understand. I would love to see other approaches, though.

@mysticatea:

I don't know if that was directed at me, but for what it's worth, I don't think anything you said was offensive.

I guess from my perspective, we're already in that position even without my proposal. Rules can already cause fixing logic of other rules to be wrong.

@michaelficarra I'm really inter

[2016-06-09 05:28] mysticatea commented on #6298
But those would be fixed in the next pass of autofix.

[2016-06-09 06:32] anshulguleria opened #6348 "[no-unused-vars] is not reported in a scenario."
I am using
`eslint@2.8.0`
`babel-eslint@6.0.4`
`node v6.0.0`
`npm 3.8.6`

My rule is set to `"no-unused-vars": 1`

[code]

In above scenario since options object is not used thus IMHO this should raise `no-unused-vars` error.

I tested this on online demo of eslint also.

[2016-06-09 09:43] vitorbal commented on #6341
Hi @sigorilla , thanks for the suggestion! Few notes to help us consider this rule:

- I don't think `no-ascii` is a good name, it sounds like the rule is to forbid ascii characters, which is the opposite of what it does in reality.
- Even though stylistic rules are quite subjective, I think it would be helpful to expand on your arguments on why non-ASCII characters should be disallowed. For examp

[2016-06-09 11:10] sigorilla commented on #6341
Thank you for your feedback!

What about `variable-without-non-ascii`? Or `without-non-ascii`?

I started rename all variables with non-ASCII letters, so I began to look for all occurrences of this characters in the whole project. It's not fast. And you have to be very careful not to miss something.

### Pass

**Literal**

[code]

**TemplateLiteral**

[code]

**RegularExpression**

[code]

### Fai

[2016-06-09 11:45] kalisjoshua commented on #6176
@kaicataldo That's what I was thinking but I am not able to get this option to work; I still get:

[code]

... in my lint results output.

My `.eslintrc.json` looks like this:

[code]

I've tried all permutation of `newline-before-return` and `padded-blocks`. The only thing that seems to be working is `padded-blocks` which affects everything and I only want to allow an additional line before `retu

[2016-06-09 12:51] pedrottimark commented on #6341
@sigorilla Welcome to ESLint!

As you think about what to call this rule and how to describe its goal, here are a few existing rules about names and character codes that might be helpful to read about:
* id-blacklist
* id-length
* id-match
* no-irregular-whitespace

[2016-06-09 12:57] ilyavolodin commented on #6348
Hmm.. This is a edge case. Technically an object is marked as used once it's value is assigned to something. In this case, however, it's assigned to itself, and rule is not smart enough to notice this. Covering all possible edge cases is not really possible, but I think we should try to cover this very standard pattern. @eslint/eslint-team thoughts?

[2016-06-09 13:01] ilyavolodin commented on #6341
I think this can already be accomplished with `id-match` rule with the following configuration:

[code]

[2016-06-09 13:04] vitorbal commented on #6348
I think this is a common enough use case that would be nice to have it covered.

Would we check if the object is assigned to itself *and* it is a function argument?
Or are you thinking of covering it in a more broad way, as in, this would also trigger an error after this enhancement:

[code]

[2016-06-09 13:09] pedrottimark commented on #6341
@ilyavolodin Do you think I should write a sentence about this use case for `id-match` rule doc?

[2016-06-09 13:25] barbalex commented on #5651
I am having the same issue because I am using CouchDB and CouchDB views and lists need to be written in es5.

As I have moved all views and lists into separate directories I tried adding a `eslint.json`-File to these directories declaring ecma 5 like this:

in top project folder:

    {
      "extends": "airbnb",
      "env": {
        "node": true
      },
      "rules": {
        "react/jsx-no-b

[2016-06-09 13:34] ilyavolodin commented on #6341
I'm not sure that's special case. RegEx are very powerful and allow you to cover a lot of use-cases. We will not be able to mention all of them.

[2016-06-09 13:36] ilyavolodin commented on #6348
@vitorbal I think a good check is to see if the same variable is on both left and right side of the assignment expression. In that case, it should not be considered as "use".

[2016-06-09 13:38] duncanbeevers commented on #5936
I appreciate being favored for contribution, but I @alberto's #6216 is already done and ready for inclusion. I can't imagine implementing it any differently than they did, so I'd prefer #6216 to #5934

[2016-06-09 13:39] sigorilla commented on #6341
Oh, thank you @ilyavolodin. That's what I need!

[2016-06-09 13:40] BYK commented on #5936
@duncanbeevers - thanks! Alright then, I closed #5934 and I think #6216 is ready to merge.

[2016-06-09 13:54] BYK commented on #6348
I'm :+1: and am willing to champion.

[2016-06-09 13:55] Slayer95 commented on #6348
imo this exception should only cover assignment if the RHS is a combination of LHS, a literal, and shortcircuiting operators.

Note that the snippet

[code]

<em>does</em> use the argument

[2016-06-09 13:59] #6341 closed

[2016-06-09 14:01] giantelk opened #6349 ".eslintignore shouldn't show warnings on directory, only on file."
**What version of ESLint are you using?**
`6.0.4`

**What parser (default, Babel-ESLint, etc.) are you using?**
`package.json`
[code]

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
From CLI
`node ./node_modules/.bin/eslint ./app/*/*.js`

**What did you expect to happen?**
As per docs, in .eslintignore, listing only a

[2016-06-09 14:11] BYK commented on #6244
I think I'm with @mikesherov and @nzakas with this one. If you broke my already working and passing build with a patch update because it now catches a lint error that should have been caught before I'd curse you for making me drop everything else and try to fix the "stupid" thing. I know it is not stupid but I'm pretty sure how I will feel when this happens to me :)

[2016-06-09 14:22] platinumazure commented on #5651
@barbalex Please open a new issue and follow the issue template.

[2016-06-09 14:26] platinumazure commented on #6348
I like @Slayer95's proposal. In that case there is a clear notion of potential non-use, which perhaps should be considered by the rule.

[code]

[2016-06-09 14:37] Slayer95 commented on #6348
Not sure about that ``&&`` example, for two reasons.

- If ``myVar`` is the LHS of ``&&``. then it can be regarded as a check.
On the other hand, for ``myVar = guard && myVar`` ``myVar`` can only be unused.

- If ``process`` has side effects depending on the argument, then ``myVar`` is definitely used, e.g.

[code]

Something interesting about these examples is that, although the variable is most

[2016-06-09 14:41] kaicataldo commented on #6176
Ah yeah, that's the `padded-blocks` rule warning, not the `newline-before-return` rule. I recommend making a new issue for this, since this issue is unrelated and closed. Please make sure you include the info asked for in the template, including the code that's throwing the error. Thanks!

[2016-06-09 14:52] Slayer95 commented on #6348
To summarize, ``x`` would not be flagged as consumed if in the following expressions:

`` x = a && x``
`` x = x || a``

Where ``a`` is not a function call, and is not an expression consuming ``x``.
I guess that would allow for a recursive implementation? But just dealing with the depth zero case should be enough: ``a`` being either a primitive / literal, or a variable.

[2016-06-09 14:56] platinumazure commented on #6348
The asymmetry of why RHS/LHS matters (and matters differently for `&&` vs `||`) is not clear to me.

[2016-06-09 15:07] barbalex opened #6350 "how to set different ecma version for files in separate folder"
**What version of ESLint are you using?**
2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
in top project folder:

    {
      "extends": "airbnb",
      "env": {
        "node": true
      },
      "rules": {
        "react/jsx-no-bind": 0,
        "comma-dangle": 0,
        "no-use-before-define": 0,
        "consistent-return

[2016-06-09 15:10] barbalex commented on #6350
well, I don't know why, but after finishing above issue eslint outputs ecma script 6 errors again:

    SublimeLinter: eslint: floraById.js ['C:\\Users\\alex\\ae_views\\node_modules\\.bin\\eslint.cmd', '--format', 'compact', '--stdin', '--stdin-filename', '@']
    SublimeLinter: eslint output:
    C:\Users\alex\ae_views\views\floraById.js: line 1, col 18, Warning - Missing function expression name

[2016-06-09 15:18] kalisjoshua commented on #6176
@kaicataldo Thank you, I will.

[2016-06-09 15:36] platinumazure commented on #6349
Hi @giantelk, thanks for submitting this issue.

One of the subtle things about running ESLint from a command shell is that the shell may intervene and interpret your input before it even gets to ESLint. So what happens sometimes is, when a glob pattern is passed, the shell will actually expand that into a list of files; as a result, ESLint will warn about ignored files because, from its perspecti

[2016-06-09 15:38] platinumazure commented on #6350
Just to be sure, could you try running eslint from the command line and showing us the output you get from that? (Also try `eslint --debug`, which gives a lot more output but sometimes gives us a better clue as to what's going on.) Thanks!

[2016-06-09 15:44] mysticatea commented on #6348
I think this is reasonable and I can champion. :+1:

If somebody have the concern about side-effects, this is proper for an option.
Maybe `{ignoreInsideSelfAssign: true/false}`?

[2016-06-09 15:49] mysticatea commented on #6350
`parserOptions` setting does not turn any rules off. It just changes the behavior of parser.
You need to turn some rules off manually.

[2016-06-09 15:54] barbalex commented on #6350
Do I understand you correct: in order to lint ecma script 5 I need to turn off all the eslint 6 rules separately inside the `.eslintrc.json`-file? I can't do this by setting parserOptions?

[2016-06-09 15:58] mysticatea commented on #6350
Yes.
We can change the parser of ESLint by setting. And the content of `parserOptions` is different for each parser. A parser may not have `ecmaVersion` option.

[2016-06-09 16:00] davesnx opened #6352 "Update: keyword-spacing also working with destructuring"
Hi guys, you'r doing a really great job with [eslint](https://github.com/eslint/eslint)!

I want to purpose a Improvement on a rule that already exists: [keyword-spacing](http://eslint.org/docs/rules/keyword-spacing).
Basically It's the ES2015 feature [destructuring](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment) that allows to get the properties

[2016-06-09 16:01] barbalex commented on #6350
Hm. Okay, will turn off any rule that turns up and only makes sense vor es6 separately.

@platinumazure : Not sure if this is still important but here comes the requested output:

      eslint:cli Running on files +0ms
      eslint:ignored-paths Looking for ignore file in C:\Users\alex\ae_views +33ms
      eslint:ignored-paths Could not find ignore file in cwd +2ms
      eslint:glob-util Creating

[2016-06-09 16:05] mysticatea commented on #6352
[object-curly-spacing](http://eslint.org/docs/rules/object-curly-spacing)?

[2016-06-09 16:07] barbalex commented on #6350
turning all the specific es6 rules off in the `.eslintrc.json`-file in the folder works. Closing

[2016-06-09 16:07] #6350 closed

[2016-06-09 16:16] pedrottimark commented on #6238
How does this potential option for `require-jsdoc` relate to `valid-jsdoc` if both are enabled?

Unless `valid-jsdoc` has similar option for proximity, you can require a comment, but it is not validated, which might be unexpected linting behavior.

If `valid-jsdoc` has similar option which is set the same to allow non-adjacent comment, consider the problem to avoid in https://github.com/eslint/esl

[2016-06-09 16:20] ilyavolodin commented on #6348
What about a case like this:

[code]

It's the same as shortcircuiting, but it's a more explicit format.

[2016-06-09 16:27] ilyavolodin commented on #6338
The problem here is that dependencies are resolved by ESLint itself, not by shareable config. So in the case your shareable config `extends` something else, ESLint has to have a way to find that something else. Which means it has to be installed as `peerDependancy` of your config, not as a dependency.
@nzakas The change you did to resolve configs based on the position of the config file doesn't ap

[2016-06-09 16:40] platinumazure commented on #6348
Hmm... I've reconsidered. I think it might be sufficient to provide an option which simply says, if a variable is on LHS and RHS of an assignment, don't assume it is used.

[code]

Also, I'm wondering about the compound-assignment operators. Do they count as usage?

[code]

If the compound-assignment doesn't count as a use, I fail to see how unwrapped assign-after-operator (`a = a + 1`) should cou

[2016-06-09 16:50] #6317 closed

[2016-06-09 16:54] #6023 closed

[2016-06-09 16:56] ilyavolodin commented on #6238
@eslint/eslint-team We need some more +1s here to mark it as accepted. @pedrottimark brings up a very good point. If we are adding relaxed option here, we should also add the same thing to `valid-jsdoc`, otherwise those two rules might start conflicting.

[2016-06-09 17:07] Slayer95 commented on #6348
``a = a + 1`` could count as a use in as much this calls ``Number(a)``, which can have side effects.
However, as @mysticatea  says, that's better as a separate option.

I have also come to the opinion that a simple check for presence in both LHS and RHS is the best path for this for this issue.

[2016-06-09 18:43] nzakas commented on #6244
Okay, it seems like we have a good consensus to move forward with this.

Just to be clear: from now on, any changes to a rule that will result in something being flagged that wasn't being flagged before will have an "Update:" commit message instead of "Fix:". I'd suggest we still flag such instances as "bug" on the issue to indicate there was a logic error rather than saying we're doing a formal e

[2016-06-09 18:45] #6227 closed

[2016-06-09 18:53] #6344 closed

[2016-06-09 18:55] platinumazure commented on #6244
@nzakas That would require the developer guide to be updated to indicate that "bug" label !== "Fix:" prefix. Could we maybe do "bug"/"enhancement" label to make those cases clearer?

[2016-06-09 19:04] platinumazure commented on #6352
@davesnx As @mysticatea suggested, `object-curly-spacing` should already cover this for you.

The `keyword-spacing` rule focuses more on whitespace before or after keywords where said whitespace is optional. In terms of variable declarations (including destructuring), `keyword-spacing` doesn't really have a play here.

[2016-06-09 19:05] nzakas commented on #6244
Yeah, that sounds like a good compromise.

[2016-06-09 19:21] alberto commented on #5936
ok, @duncanbeevers. Thanks for your contribution anyway!

[2016-06-09 19:35] nzakas commented on #6244
I've updated the pull request to include changes to maintainer/developer guides

[2016-06-09 19:39] peteward44 opened #6355 "Update: Added "allowAfterSuper" property to rule "no-underscore-dangle""
This is to accompany PR #6354.

Request to add a new property for the no-underscore-dangle rule which can allow use of underscores with the ES2015 super keyword.

[2016-06-09 19:44] nzakas opened #6356 "Proposal for 3.0.0"
We have a few breaking changes that are getting backed up, and I think it would be nice to publish them and put out 3.0.0. We won't get much in the way of new functionality, but I think it will solve some problems for people. So, I'd like to propose the following for a 3.0.0 release in the next few weeks:

- [x] Drop support for Node.js < 4 (LTS version) (https://github.com/eslint/eslint/issues/44

[2016-06-09 20:26] platinumazure commented on #5987
Anyone on this? If not, I'm happy to take a crack at it.

[2016-06-09 20:49] MikaAK opened #6357 ".eslintrc is being read from more than just current directory"
**What version of ESLint are you using?**
2.11.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
## Config in `project/client/.eslintrc`
[code]

## Config in `project/.eslintrc` - ESLINT v 1.x
[code]
**What did you do? Please include the actual source code causing the issue.**
Run eslint in `project/client/testfile.js` on test file
[cod

[2016-06-09 20:53] mysticatea opened #6358 "Cannot find module 'eslint-config-base.js'"
**What version of ESLint are you using?**

- v2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

- default.

**Please show your full configuration:**

- Configuration is the main subject of this issue.
  I use [eslint-config-mysticatea](https://www.npmjs.com/package/eslint-config-mysticatea) sharable config.
    - Case 1 is: `{"extends": "mysticatea/es2015"}`
    - Case 2 is: `{

[2016-06-09 21:14] gyandeeps commented on #6357
I think its working as expected.

You can use `root: true`, if you dont want to include any config files from above that folder.

[2016-06-09 21:22] mysticatea commented on #6338
Weird.
We have a test for chaining `"extends"`: https://github.com/eslint/eslint/blob/977cdd5488d75504c698fcb2b39eeb1e681c3df1/tests/lib/config/config-file.js#L629-L643

[2016-06-09 21:31] roymiloh commented on #6338
@mysticatea, it's not only about chaining but running `eslint` from a different place (say, in my case, `node_modules/my_cli/node_modules/eslint`) as well.

@ilyavolodin, `peerDependencies` will work for sure, but is this the solution you'd expect for (other possible solutions could be using npm 3, `npm dedupe` etc, but it would be nice if it works OOTB)?

[2016-06-09 21:47] mysticatea commented on #6338
I got it.
If my memory is correct, we have kept old behavior for global installed ESLint. And ESLint compare between the location of ESLint and cwd in order to distinguish it's installed global or not.

[2016-06-09 22:08] mysticatea commented on #6340
I will work on this.

Just curious about this is intentional behavior?

[code]

Why is the first `.on` not warned?
Or, actually those all are false positive?

[2016-06-09 22:20] ilyavolodin commented on #6357
This is the default behavior of ESLint and have never been modified. ESLint will cascade configs from all of the parent directories. As @gyandeeps mentioned, you can add `"root": true` to your config file to stop ESLint from traversing to the parent directories.

Closing, as this is behaving as intended.

[2016-06-09 22:20] #6357 closed

[2016-06-09 22:37] mysticatea commented on #6340
Ah OK.
Default allows 2 chained and disallows 3rd and later.

[2016-06-09 23:45] platinumazure commented on #6355
Makes sense to me. @eslint/eslint-team Should we accept this enhancement?

[2016-06-09 23:48] platinumazure commented on #5987
Oh, also, question on implementation: What is the expected behavior for the CLIEngine use case? Just throw? (I don't think the message template makes sense there because we can't assume the presence of a console, or am I wrong?)

[2016-06-10 00:36] vsemozhetbyt opened #6361 "Rules redefining: shallow or deep?"
**What version of ESLint are you using?**

2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do?...**

After reading the documentation about cascading, hierarchy and rules redefining, I wrongly supposed that `rules` in the user `.eslintrc` file redefine rules in the `extends` files as a whole, i.e. if the

[2016-06-10 00:45] mikesherov commented on #6355
Honestly, I would just make allowAfterThis automatically work for super too. Just personal pref, but fine with either way.

👍

[2016-06-10 01:07] scriptdaemon commented on #5891
1. I'm still not definite on how this should be implemented, myself. Personally, I would use it in such a way that there would be at most one per pair, so that method gets my vote by default I guess.
2. Does this rule warn for object literals at all? Just briefly going over the source, it only warns for `FunctionExpression`s whose parents are `MethodDefinition`s, so I don't think it would?
3. This

[2016-06-10 01:15] giantelk commented on #6349
Problem solved, no more warnings with double quotes around `glob pattern`:
`node ./node_modules/.bin/eslint "./app/*/*.js"`

[2016-06-10 01:16] ilyavolodin commented on #6349
Closing as this is an issue with shell, not ESLint. Not much we can do about it.

[2016-06-10 01:16] #6349 closed

[2016-06-10 01:17] MikaAK commented on #6357
Oh I missed this! Thanks for the pointer.

[2016-06-10 02:08] giantelk commented on #6349
I suggest add a note about this to the documentation.

[2016-06-10 02:22] alberto commented on #6356
@nzakas #6008 isn't accepted

[2016-06-10 02:29] alberto commented on #6361
This is a similar discussion to #6144. Currently, rule configurations are merged, not replaced. I don't think there is a way to unset options from object properties.

@eslint/eslint-team should we change this?

[2016-06-10 02:41] kaicataldo commented on #6176
Looks like this fix was just for newlines before `return` statements. The `padded-blocks` warning is for the missing newline after the `return` statement (on line 4 in your example). The change in this issue makes the rules compatible by relaxing the `newline-before-return` rule to allow a newline before the `return` statement even when it's the only statement in the block. It sounds like you migh

[2016-06-10 03:03] platinumazure commented on #6361
I would be :+1: to changing this. Three reasons:

1. It might not be possible/easy to remove (rather than change) a set option on the rule. For example, on lines-around-comment, they might want to remove the blockComment.after option. They can try setting to null but it is up to the rule to handle that correctly.
1. User confusion can arise when trying to override a complicated config with a simpl

[2016-06-10 03:35] ilyavolodin commented on #6361
I don't think we can change this. This would affect too many users. Even marking it as breaking might not be enough at this point.

[2016-06-10 04:37] mysticatea opened #6362 "Unmatched rule names of scoped plugins."
**What version of ESLint are you using?**
- v2.11.1

**What parser (default, Babel-ESLint, etc.) are you using?**
- default.

**Please show your full configuration:**
- I use [@mysticatea/eslint-plugin-test](https://www.npmjs.com/package/@mysticatea/eslint-plugin-test) plugin here.

[code]

`@mysticatea/test/test` rule is:

[code]

**What did you do? Please include the actual source code causing t

[2016-06-10 06:39] davesnx commented on #6352
Thanks @mysticatea and @platinumazure
Ok, I will close this, my bad.

[2016-06-10 06:39] #6352 closed

[2016-06-10 07:41] vsemozhetbyt commented on #6361
@ilyavolodin Maybe it would be possible to add top parsing option for shallow redefining and turn it off by default to not break the old behavior unexpectedly?

[2016-06-10 09:43] ejosafat commented on #2614
So in the end there is no plan to add this feature (disabling an env in a comment)? It's quite useful when you are gradually migrating your app from ES5 and ES6 and have a mix of both in the same folder, and it's always better to remove comments disabling es6 as you migrate rather than adding them to enable it.

[2016-06-10 11:04] vsemozhetbyt commented on #6361
I've tried to detect some rules with array options by this script:
[code]
First I've run it with just this .eslintrc.json:
[code]
The output:
[code]
@alberto , you could analyze these rules if any of them are candidates for PR like your #6342.

However I've found some strange redefining behavior after I had run the script with my default rules set:
[code]
These lines from script output puzzle me:

[2016-06-10 13:19] mhagmajer opened #6363 "const notDefined = notDefined; doesn't trigger no-undef"
Eslint 2.11.1 doesn't show any errors (violations of rule `no-undef`) for:

[code]

[2016-06-10 13:52] pedrottimark commented on #6361
* This is another reason to provide a default option for all rules, which (I think) we already intend to do.
* This suggests that there is room for improvement in Configuring ESLint.
* This sounds like another variation on the theme of how to keep up with changes in devDependencies. Similar root problem as #6240 but a different pain point.

[2016-06-10 14:21] massimocode commented on #905
+1 This would be really helpful as an .eslintrc option

[2016-06-10 14:42] ilyavolodin commented on #905
This can't be config option, because configs cascade and cascading is processed in the much higher level than output.

[2016-06-10 14:43] #5936 closed

[2016-06-10 16:09] nzakas commented on #6361
I don't think it's worth making any code change here. We have millions of installs using the current system and once you understand how it works, and we can't risk breaking all those configs. We can probably better explain how merging works in the docs, though, to have some place to point people to.

[2016-06-10 16:14] #6078 closed

[2016-06-10 16:16] vsemozhetbyt commented on #6361
@nzakas So is this intentional merging scheme?
[code]
vs
[code]

[2016-06-10 16:16] #6244 closed

[2016-06-10 16:17] michaelficarra commented on #6361
So we'll point users to documentation that tells them there's no way to do something that is very reasonable to want to do? 😟 I don't think that makes it much better. We should fix this. It's a broken design.

[2016-06-10 16:17] #6346 closed

[2016-06-10 16:17] #6335 closed

[2016-06-10 16:18] #6322 closed

[2016-06-10 17:28] nzakas commented on #6356
@alberto I know, I'm proposing that we accept it.

[2016-06-10 17:30] nzakas commented on #6356
Oops, I thought it was closer than it is. Looks like there are still open questions on #6008, so removing from this proposal.

[2016-06-10 17:31] nzakas commented on #6008
@jasonkarns there are a few open questions I asked on this. Can you take a look?

[2016-06-10 17:34] nzakas commented on #6361
@michaelficarra can you be more descriptive? What exactly do you think should change? And what would you suggest to avoid breaking the configurations of existing users?

[2016-06-10 17:37] nzakas commented on #5987
Hmm, that's a good question. I think `CLIEngine` would have to throw a regular error ("No ESLint configuration found.").

[2016-06-10 17:45] platinumazure commented on #6361
I assume @michaelficarra will mostly agree with this (speak up if I've missed anything).

Definitions:
* Base configuration: A configuration that is inherited from, either via an "extends" directive in a derived configuration or by virtue of being in an ancestor directory to the derive configuration.
* Derived configuration: A configuration that is inheriting from one or more base configurations,

[2016-06-10 17:50] platinumazure commented on #5987
Sounds good to me, I'll get cracking on it this weekend or next week (or sooner if time allows).

[2016-06-10 17:59] vsemozhetbyt commented on #6361
@platinumazure May be this case is also worth mention (current behavior):
[code]
How `deepMerge` and `overwrite` apiece should treat `avoid-escape` ?

[2016-06-10 18:04] platinumazure commented on #6363
I can confirm that actually using `const notDefined = notDefined;` will throw in a browser, so it would be good if we could somehow catch this.

I'll try to help @mhagmajer out (please correct me if I missed something).

1. Version of ESLint rule: 2.11.1 (in OP)
1. What was done:
    * Source code: `const notDefined = notDefined;`
    * Config:
[code]
1. Actual ESLint output: No error
1. `notDefin

[2016-06-10 18:05] mhagmajer commented on #6363
Thanks Kevin!

On Fri, Jun 10, 2016, 20:04 Kevin Partington <notifications@github.com>
wrote:

[2016-06-10 18:07] tomfun commented on #6196
@platinumazure It is all I want: add option to *no-extra-parens*
@nzakas So will you change label from *question* to something like extra feature?

[2016-06-10 18:21] davidshepherd7 commented on #6259
I'm interested in implementing this, although I don't know much about eslint so who knows if I'll succeed. I thought a good first step would be to write the documentation for what I'm aiming to implement. Anyone got any feedback on this?

### IndentOuterfunction

Examples of **incorrect** code for this rule with the options `2, { "IndentOuterfunction": false }`:

[code]

Examples of **correct** co

[2016-06-10 18:37] ilyavolodin commented on #6361
I think I'm with @platinumazure and @michaelficarra it's a broken design in a sense that it doesn't allow you to remove some of the properties that were set in the higher level config. I am, however, of the opinion that we couldn't change the default behavior right now. We can add it as a flag, that would be perfectly fine, but changing default behavior might be a bit too much, unfortunately.

[2016-06-10 18:51] nzakas commented on #6356
@eslint/eslint-team please let me know what you think.

[2016-06-10 18:53] nzakas commented on #4345
@jthomerson ah I see, thanks for clarifying. The reason we don't allow single-line comments is because it's not clear when they would apply and when they wouldn't. The single line comments we do allow (`// eslint-disable-line` and `// eslint-disable-next-line`) make it very clear what they apply to.

In any event, this topic isn't really relevant to the issue at hand. If you'd like to chat more ab

[2016-06-10 18:55] nzakas commented on #6280
I think the larger question is: is there any reasonable way to detect these patterns or not? (And by reasonable, I mean is this going to take someone days of time to be able to catch all of these cases or is there something simple that we're just not doing?)

[2016-06-10 18:57] platinumazure commented on #6280
@feross For your particular example, you could just enclose the `while` loop in an `if` statement:

[code]

[2016-06-10 18:59] nzakas commented on #6237
@mpal9000 oh, I think I see what you mean. If you're able to specify the complete file path to a plugin, rather than just its package name, then a config file could potentially include the plugin by directly loading it from the filesystem rather than relying on Node.js to find the file?

If so, that's pretty cool. I like it.

[2016-06-10 19:11] hzoo opened #6364 "How we can support other parsers better (babel-eslint, typescript)"
Just wanted to brainstorm what we can do to make it easier to support experimental syntax or syntax/nodes that core rules might not know about.
- [x] There's currently monkeypatching being done on `VisitorKeys` for `estraverse` to account for unknown node types as well as for `escope` to add variable references and visit them so not sure what we can do there except figure out how if we have add mo

[2016-06-10 19:15] jthomerson commented on #4345
@nzakas thanks for the extra explanation. However, I'm not sure how the block comments help clarify where the rules apply or don't apply any more than the single-line comments since the block comments are not "wrapping" the code they apply to anyway - they're merely indicating the starting position of a different rule.

Also, I don't see how you can say that my suggestion is not relevant to the is

[2016-06-10 19:44] platinumazure commented on #6364
Regarding monkey-patching of estraverse/escope, I think #5543 (plus upstream PRs in estraverse and escope) has fixed that? ESLint at least no longer needs to patch estraverse/escope directly, so I guess the question becomes whether or not it is possible for babel-eslint to provide its own overrides?

[2016-06-10 19:54] ilyavolodin commented on #6259
@BYK @gyandeeps could you take a look at this proposal and see if you agree?

[2016-06-10 19:56] ilyavolodin commented on #6356
LGTM. It's a pretty small release, but I think that's fine. For dropping Node < 4, should we also convert the code to use some of the ES6 features at the same time, as well as modify our .eslintrc file for this repository? Or should we leave it as is and change it as we go?

[2016-06-10 19:58] ilyavolodin commented on #6237
Question is, we already have one way to resolve deeply nested configs, this would work differently for plugins. Do we want to different ways to more or less do the same thing?

[2016-06-10 19:58] gyandeeps commented on #6259
I think we had this as one of the action items on #632 issue, but we didn't do it because they was no one asking for it.
I think we can do this now.

[2016-06-10 20:03] ilyavolodin commented on #6364
@hzoo I though #5543 took care of the need for monkey-patching. Is that not correct? Regarding extending rules, it's been brought up multiple times before (mostly by me), but I don't think anyone was able to come up with a good pattern we can use for cases like that. It would be great if we could do it, I just don't know how.

[2016-06-10 20:04] ilyavolodin commented on #6259
@gyandeeps Keep in mind that this is also part of both jQuery and Google styleguide. And since JSCS is now retired and we committed to bringing all JSCS features to ESLint, we would want to do this.

[2016-06-10 20:04] platinumazure commented on #6356
My vote is change as we go, since those are chores that could be done anytime.

[2016-06-10 20:09] platinumazure commented on #6363
@ilyavolodin Based on my analysis of the issue (which @mhagmajer seems to agree is correct), I think we might have a bug here-- unless we think that no-undef is not the place to catch this issue.

Personally I'm wondering if this should actually be handled by `no-use-before-define`.

@mhagmajer Do you have `no-use-before-define` enabled? If not, can you try it and let us know if that helps you wit

[2016-06-10 20:12] mhagmajer commented on #6363
I'm pretty sure I do. We're using the Airbnb's eslint config.

On Fri, Jun 10, 2016, 22:09 Kevin Partington <notifications@github.com>
wrote:

[2016-06-10 20:12] nzakas commented on #6237
@ilyavolodin there are multiple ways to locate configs already: package name and file path. Plugins only currently allow package name, so this would give plugins the ability to use file path. So, there's not actually different ways of doing things, in fact, we'd be making plugins more consistent with configs.

[2016-06-10 20:13] mhagmajer commented on #6363
Either way, I believe that `no-undef` is the right rule to handle this to
prevent runtime errors.

On Fri, Jun 10, 2016, 22:11 Marcin Hagmajer <mhagmajer@gmail.com> wrote:

[2016-06-10 20:20] platinumazure commented on #6363
I'm not sure I agree with that. `no-undef` is about flagging unintended use of global variables. As of the `const` declaration, the variable is no longer global, it is scoped (well, unless you're at top level scope and not using CommonJS or ES6 modules). `no-use-before-define` on the other hand seems like a much clearer case, because you're trying to use the variable before it is fully defined.

[2016-06-10 20:20] ilyavolodin commented on #6237
Sounds good to me, :+1:

[2016-06-10 20:22] NickHeiner opened #6366 "CLIEngine docs do not explicitly indicate that fix option does not write to disk"
**What version of ESLint are you using?**
`2.12.0`

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
**demo.js**
[code]

**What did you do? Please include the actual source code causing the issue.**
The file I linted:

**sample.js**
[code]

Running the linter:
[code]

**What did you expect to happen?**
I was hoping that the fix would be

[2016-06-10 20:23] mhagmajer commented on #6363
Sure. What I meant is that we should include this logic in a rule that is
turned on by default so people don't have runtime errors on lint-correct
code.

On Fri, Jun 10, 2016, 22:20 Kevin Partington <notifications@github.com>
wrote:

[2016-06-10 20:25] platinumazure commented on #6366
CLIEngine does not automatically output fixes to disk in case it is being used in a toolchain which might be better positioned to do so (e.g., Grunt/Gulp).

You can achieve this yourself by calling [`CLIEngine.outputFixes()`](http://eslint.org/docs/developer-guide/nodejs-api#outputfixes) after running the `executeOnFiles()`.

[2016-06-10 20:28] platinumazure commented on #6366
That said, it certainly couldn't hurt to call out that, in `executeOnFiles()`, we don't apply fixes to disk, and that to do so requires calling `CLIEngine.outputFixes()`. I'll let the @eslint/eslint-team decide if this is a worthwhile documentation improvement.

[2016-06-10 20:32] NickHeiner commented on #6366
I'd be happy to submit a PR rewording the docs myself if you'd be amenable.

[2016-06-10 20:36] platinumazure commented on #6366
@NickHeiner No worries, I agree it could be clearer.

We usually like to get consensus among ESLint team members before accepting issues, but I'm fairly sure this will be accepted easily. So please feel free to submit a PR (with the caveat that there is a *very tiny* chance of this issue being rejected and then you would have waste your time, but again that chance should be very small). Thanks!

[2016-06-10 21:06] platinumazure opened #6368 "Can we simplify our process.exit logic in bin/eslint.js?"
I found myself in bin/eslint.js recently and found this snippet:

[code]

The "In Node.js >= 0.12" bit is what caught my attention. I believe we have dropped support for 0.10 already; if not, we're probably about to with the 3.0.0 release. Should that release include whatever simplification can be done in this section of code?

[2016-06-10 21:13] platinumazure commented on #6299
@nzakas I know this sort of thing would be bottom priority for you, but I wanted to make sure this at least got onto the bottom of your radar. (As much as radars have bottoms, anyway.)

[2016-06-10 21:33] Alaneor opened #6369 "Rule proposal: Improve object-curly-newline"
**What version of ESLint are you using?** 2.12

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

The rule warns for this snippet:

[code]

I would like to propose some kind of option to turn off warnings for situations where the total number of prope

[2016-06-10 21:41] ilyavolodin commented on #6363
@mhagmajer None of our rules are turned on by default. But `no-use-before-define` sounds like the right rule to put this in.

[2016-06-10 21:51] vitorbal commented on #6356
I also think change as we go is fine. Do we already know which es6 rules we
would like to turn on?
On Fri, Jun 10, 2016 at 10:04 PM Kevin Partington <notifications@github.com>
wrote:

[2016-06-10 22:36] vsemozhetbyt opened #6370 "rest-spread-spacing typos?"
Is it OK that in the `docs/rules/rest-spread-spacing.md` and in the `tests/lib/rules/rest-spread-spacing.js` there are both `rest-spread-spacing` and `spread-spacing` keywords?

https://github.com/eslint/eslint/commit/82433ae0a2bafd07dc1966829903d63fcc1720c7

(Sorry, I am a newbie here so I dare not make a PR rashly)

[2016-06-10 22:40] alberto commented on #6368
We still support 0.10, but it can be done as part of the 3.0.0 release

[2016-06-10 22:43] alberto commented on #6356
Added #6368 to the list.

[2016-06-10 22:46] alberto commented on #6356
LGTM.

Also :+1 to convert as we go

[2016-06-10 23:22] platinumazure commented on #6370
Nope, it's not good, thanks for calling it out!

That said, I thought I saw a PR on this today- let me dig it up...

[2016-06-10 23:25] platinumazure commented on #6370
PR available at https://github.com/eslint/eslint/pull/6365. Hopefully that will get merged soon.

I'm going to close this as we have a solution in the works. Thanks so much for the issue and please let us know if you see any other problems!

[2016-06-10 23:25] #6370 closed

[2016-06-10 23:26] platinumazure commented on #6368
@alberto @nzakas Wow, you jumped on that quick. Thank you and nice work!

[2016-06-10 23:28] vsemozhetbyt commented on #6370
Sorry for not searching first :)

[2016-06-10 23:29] platinumazure commented on #6370
No worries- thanks again for your help!
On Jun 10, 2016 6:28 PM, "vsemozhetbyt" <notifications@github.com> wrote:

[2016-06-11 00:56] mikesherov commented on #6356
If we're going to start using es6, we should consider using https://github.com/mohebifar/lebab if we're going to upconvert.

Mike Sherov

[2016-06-11 03:11] feross commented on #6280
@platinumazure Sure -- I understand users can always write their code differently. The point is that maybe this rule should only warn when *none* of the references in the loop are modified in the body.

Another way of wording this proposal is: This rule should warn when it's *sure* there's a mistake that will cause an infinite loop. The rule already misses potential infinite loops due to what's fe

[2016-06-11 07:17] mysticatea commented on #6356
I also give :+1: to convert the code to use some of the ES6 features, and I'd like to use `eslint-plugin-node` :innocent:

- [node/no-deprecated-api](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-deprecated-api.md) - Disallow deprecated API.
- [node/no-missing-require](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-missing-require.md) - Disa

[2016-06-11 07:43] RRMoelker opened #6375 "key-spacing fixable documentation note"
The key-spacing rule is fixable but is not noted as such in the documentation. The fixer was introduced in #6169 .

I suggest changing the following two Markdown files:

* https://github.com/eslint/eslint/blob/master/docs/rules/key-spacing.md , insert a notice about it being fixable at the top (like https://github.com/eslint/eslint/blob/master/docs/rules/space-in-parens.md)
* https://github.com/es

[2016-06-11 07:56] mysticatea commented on #6364
A small idea, it's to add an event for parsers.
My image is:

[code]

I think such event have smaller risk than monkey patching.

[2016-06-11 10:13] mysticatea opened #6377 "Rule Proposal: no-strict-with-complex-params"
[code]

This is a valid code in ES2015, but this is an invalid code (syntax error) in ES2016.

So a combination of a non-simple parameter list and a `"use strict"` directive is going to break the software in future.

The purpose of this rule is that it protects software from the break.

[code]

I think this is a good rule for `eslint:recommended`, so I separated this rule proposal from `strict` ru

[2016-06-11 10:34] mysticatea commented on #6355
`{allowAfterThis: true}` means that it's `private` member.
`{allowAfterThis: true, allowAfterSuper: true}` means that it's `protected` member.
So I'd like to keep separating those.

:+1:

[2016-06-11 10:37] FezVrasta commented on #3611
I'd like to help but I'm not confident with the code base. Would it be possible to point to the functions that need to be edited?

[2016-06-11 10:55] mysticatea commented on #6369
In fact, do you want [object-property-newline] rule?

[object-property-newline]: http://eslint.org/docs/rules/object-property-newline

[2016-06-11 11:10] mysticatea commented on #6363
FYI, a related issue: #4280

[2016-06-11 13:18] platinumazure commented on #6377
Question: Should these examples warn too?

[code]

Thanks!

[2016-06-11 13:43] mysticatea commented on #6377
No, there is no function which has both a `"use strict"` directive and a non-simple parameter in that examples.

[2016-06-11 13:52] #6375 closed

[2016-06-11 13:53] platinumazure commented on #6377
So it only applies to the actual function body and not to functions that
are strict by containing scope. Good to know, thanks!
On Jun 11, 2016 8:43 AM, "Toru Nagashima" <notifications@github.com> wrote:

[2016-06-11 14:18] mysticatea commented on #6377
Yes, this is not related in outer scopes.

[code]

And arrow functions, generator functions, object method shorthand, and class methods have the same behavior.

Actually, Chrome 51 does this behavior, we can try it in devtools' console.

[2016-06-11 14:55] ilyavolodin commented on #3611
@FezVrasta Unfortunately it's not quite as easy as changing a function.There's a branch https://github.com/eslint/eslint/tree/glob-pattern-based-config that has some changes to allow for glob based configs, but it's incomplete and hasn't been updated in a long while. You can take a look at those changes and pick it up from there.

[2016-06-11 15:44] dtracers opened #6380 "Make the ESLint site look like the JSCS site"
Since jscs and eslint are combining why not have the combination of the website itself.

The jscs website is much easier to navigate and understand where everything is. Can we make the ESLint site easily navigable in a similar fashion as the jscs site?

[2016-06-11 15:45] mysticatea opened #6381 "`object-curly-newline` and comments."
From https://twitter.com/ponko2_jp/status/741573129105854465

**What version of ESLint are you using?**

- 2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

[code]

    eslint test.js --fix --rule object-curly-newline:error --no-eslintrc

[2016-06-11 15:48] ilyavolodin commented on #6380
Could you provide some more details as to why you think jscs site is easier to navigate and understand?

[2016-06-11 16:07] hzoo commented on #6380
One thing I liked was that the homepage wasn't just some links/navigation but explained more of what the tool did (and I hope the screenshots helped with that). What do we want new users to know about see at first glance?

[2016-06-11 16:10] dtracers commented on #6380
Yes I can!

For one on the rules page it is very obvious that the search bar for rules applies directly to rules.  But on eslint the search is a sitewide search.

On eslint the rules are not prominent like they are on jscs.
And it is really difficult to find the github repo from the website on eslint.

On some very personal opinions I feel the jscs website is more approachable when you first get t

[2016-06-11 19:10] michaelficarra commented on #6377
This doesn't need to be a rule. It's a syntax error, so if the parser accepts it, there's a bug in the parser.

[2016-06-11 19:32] fernandopasik commented on #3034
Using return has been attended but seems that when saving jsx into a variable still throws error with no-extra-parents.
[code]

[2016-06-11 19:40] michaelficarra commented on #3034
@fernandopasik Just remove the parentheses.

[2016-06-11 19:49] vitorbal opened #6383 "Create custom rule to verify a core rule has required `meta` properties"
This came out of a conversation with @pedrottimark, @ilyavolodin and @nzakas.
We would like to create a custom rule, internal to the eslint codebase, to make sure our core rules have all the required `meta` properties in the new rule format.

I'm willing to work on this.

[2016-06-11 19:50] platinumazure commented on #6377
@michaelficarra That's only true if the parser is set to parse ES2016, no?
ES2015 allows for that structure. The purpose of the rule (from what I can
tell) is to help users with the transition before they switch.

That said, maybe this would be better served as a plugin rule.
On Jun 11, 2016 2:10 PM, "Michael Ficarra" <notifications@github.com> wrote:

[2016-06-11 19:58] fernandopasik commented on #3034
I'm using as good practice to wrap multiline jsx with parenthesis and enforcing it through a react plugin rule **react/wrap-multilines**.

[2016-06-11 20:09] michaelficarra commented on #6377
Do we have precedent for any other rules like that? If I recall correctly, espree disallows valid ES5 constructs like for-in with initialisers and identifiers named `await` (even though that's only supposed to be reserved in modules), and doesn't provide linting rules to catch them. I'd love to be wrong here, though.

[2016-06-11 20:16] platinumazure commented on #6383
:+1: from me- was going to propose this myself but you beat me to it!

[2016-06-11 20:56] ilyavolodin commented on #6377
As far as I understand, if you have parser setup as ES5, there's no way to create a situation where this would happen. @mysticatea correct me if I'm wrong, but you need one of the ES6 constructs as arguments of a function to have this problem? If that's the case, and if Espree will catch it, I'm with @michaelficarra and we don't need a rule for this, as it will be a parser error.

[2016-06-11 21:02] platinumazure commented on #6369
Labeling as "question" for now since `object-property-newline` may cover the desired use case.

@Alaneor Please take a look at the `object-property-newline` rule and see if it meets your needs. If not, please clarify what you need changed for your use case.

Note that `object-curly-newline` and `object-property-newline` serve two different purposes and may need to be configured specifically in ord

[2016-06-11 21:12] platinumazure commented on #6377
@ilyavolodin Just to clarify, while @michaelficarra brought up ES5 constructs as an example of potential analogies, I'm talking about ES6 vs ES7.

Someone with ES6
* Can use the ES6 arguments constructs, and
* Can use "use strict" in function bodies,
* Without causing a parsing error if ecmaVersion=6. (If I'm understanding correctly.)

[2016-06-11 21:12] michaelficarra commented on #6377
Ah, that's right @ilyavolodin. ES5 only allowed for simple parameter lists, and this syntax error only occurs for non-simple parameter lists.

[2016-06-11 21:54] ilyavolodin commented on #6377
@platinumazure It should be a syntax error. It is in Chrome, for example. Based on the text @mysticatea pasted, it also should be the correct behavior per spec. So we should make this change to Espree, not a separate rule for ESLint.
@michaelficarra Why did you cross out your answer? Is that statement incorrect? Is there a construct with ES5 syntax and `use strict` in the body of the function that

[2016-06-11 23:16] michaelficarra commented on #6377
Because we're talking about distinguishing ES2015 and ES2016. My statement was correct but irrelevant right now.

[2016-06-11 23:59] mysticatea commented on #6377
Actually, I reported this to also Acorn: https://github.com/ternjs/acorn/issues/423
Espree is using Acorn, so we will get a syntax error on this if it's in `ecmaVersion: 7` setting.
But if we want to get a syntax error in also `ecmaVersion: 6` setting, we would need to override Acorn 's behavior.

And, yeah, I feel that a rule to catch matters which don't work in modules for scripts is a good idea

[2016-06-12 00:09] mysticatea commented on #6377
@ilyavolodin Chrome has supported ES2016 already. We can use `**` operator as well.

[2016-06-12 00:13] ilyavolodin commented on #6377
Ah, I see. 2015 -> ES6 was throwing me off. So this is only a syntax error in ecmaVersion 7, but not in ecmaVersion 6, right?

[2016-06-12 00:14] mysticatea commented on #6377
Yes!

[2016-06-12 00:34] fb55 opened #6386 "no-extra-semi does not handle empty if blocks"
**What version of ESLint are you using?**

`2.12.0`

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

`{"extends": "eslint:recommended"}
`

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Nothing.

**What actually happened? Please include the actual, raw output

[2016-06-12 01:33] michaelficarra commented on #6386
This rule simply warns on all empty statements. You can use an empty block (`{}`) or some effect-free expression (`0`) instead.

[2016-06-12 01:36] fb55 commented on #6386
That's right, but `--fix` still produces invalid code, which IMHO should never happen.

[2016-06-12 01:38] michaelficarra commented on #6386
You're right, that is an issue.

[2016-06-12 01:39] mysticatea commented on #6386
No, that rule has exceptions by the parent node type: https://github.com/eslint/eslint/blob/cd1b0574f1af79d189259f4e1a255230d24b37ee/lib/rules/no-extra-semi.js#L69
But the exception list does not include IfStatement.
Maybe it should include IfStatement.

[2016-06-12 01:59] mysticatea commented on #6383
:+1:

But I have a concern: integrations for editors.
We can specify plugins in .eslintrc, but cannot specify `--rulesdir` in .eslintrc.
So I need to write a setting by `.vscode/setting.json` file.

May the setting file be added into this repo or .gitignore?

[2016-06-12 02:01] jameswomack opened #6387 ""prefer-reflect" rule activated by using d3's `call`"
**What version of ESLint are you using?**
v2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Edited this file: https://gist.github.com/jameswomack/ce5d267758a52fa49395aadef5f9074c

**What did you expect to happen?**
Although I understand wh

[2016-06-12 02:09] vsemozhetbyt opened #6388 "False positive no-magic-numbers enforceConst"
**What version of ESLint are you using?**

2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**

eslint should check if numeric variable changes before applying `enforceConst`.

**What actually happened? Pl

[2016-06-12 02:12] ilyavolodin commented on #6383
@mysticatea We can just make it into a plugin.

[2016-06-12 02:16] mysticatea commented on #6383
@ilyavolodin sounds good to me 😄

[2016-06-12 02:38] michaelficarra commented on #6388
You should write it like this instead:

[code]

[2016-06-12 02:40] yinhaibo01 opened #6389 "no-undef rule can not work in latest eslint version"
**What version are you using?**
2.4.0
**What did you do?**
run eslint with recommand rule.
**What happened?**
Can not check the no-undef error.
**What did you expect to happen?**
I have install the eslint 1.10.3 in another PC, the no-undef error will throw.
But in latest eslint, this error has been ignored.
I expect this error should be checked in latest version.

the test javascript content is th

[2016-06-12 02:41] ejfrancis opened #6390 "Inform user of valid enum values when an invalid rule config value is given"
### The version of ESLint you are using.

2.11.1
### The problem you want to solve.

It would be helpful to the user to list out the valid rule configuration enum values when an invalid value is given.

For example, when setting a configuration for a rule in an `.eslintrc.json` file, say for the "quotes" rule like below

[code]

If an invalid config value is given (i.e. "backticks" instead of "bac

[2016-06-12 04:01] platinumazure commented on #6390
:+1: from me. Every little bit helps.

[2016-06-12 05:22] michaelficarra commented on #6356
#6298 is a breaking change that hasn't reached consensus yet, but which I would like to be considered. The problem, though, is that it may take a decent amount of work, and may not be ready in the next few weeks.

[2016-06-12 08:26] alberto commented on #6389
I can't reproduce.

Latest version is 2.12.0, but you mention 2.4.0 and 2.11.1. Which version is it?

[2016-06-12 10:10] vsemozhetbyt commented on #6388
@michaelficarra What's the reason? The number gets its descriptive name so it is not magic anymore. Should I produce several variables just to make eslint happy? Does not this approach distort priority?

[2016-06-12 10:34] alberto commented on #6388
@vsemozhetbyt That's the purpose of `enforceConst`. If you don't want that behaviour, remove that option.

Maybe you want to use `prefer-const` instead.

[2016-06-12 10:54] vsemozhetbyt commented on #6388
`prefer-const` works as expected because it detect if the user intends the variable to change. If I intend some counter to change, why the `enforceConst` is triggered at all? It is widespread case for testing and benchmarking, why we should overcomplicate it? See, for example, in the V8 tests:

https://github.com/v8/v8/blob/master/test/mjsunit/regress/regress-113924.js

[2016-06-12 13:50] platinumazure commented on #6356
@michaelficarra I greatly appreciate you offering my proposal, but I don't see it making 3.x and I'm okay with that. Also, I don't think it has to be a breaking change: rules which could use repository settings could continue to allow rule-level config as a backward compatibility layer. Thus I see no reason to add the proposal to 3.x.

[2016-06-12 14:53] ilyavolodin commented on #6389
@alberto 2.11.1
I also can't reproduce. I get:
[code]

[2016-06-12 15:10] michaelficarra commented on #6356
@platinumazure That's right, though I was hoping we could deprecate the old configuration in a major release.

[2016-06-12 15:15] possibilities opened #6394 "`quotes`'s allowEscape doesn't account for single quotes inside a ES6 template"
**What version of ESLint are you using?**

`1.12.0`

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

`babel-eslint`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I thought that `avoidEscape` would account for this?

**What actually happened? Please i

[2016-06-12 15:34] alberto commented on #6394
There are no template strings in the code you posted. Can you provide the correct example?

[2016-06-12 15:40] possibilities commented on #6394
Oops! Un-boneheaded the example.

[2016-06-12 16:05] alberto commented on #6394
Are you sure it's erroring in that line? The column number doesn't match and I can't reproduce it with this code:
[code]

and this config:
[code]

[2016-06-12 16:33] alberto commented on #6388
Because that's what enforceConst does: http://eslint.org/docs/rules/no-magic-numbers#enforceconst

If you want to be able to change number declarations you should not use `enforceConst` and use `var` or `let` instead. Additionally you can complement it with `prefer-const` if you want eslint to tell you if you are not really changing it and could use `const` instead.

[2016-06-12 16:51] mysticatea commented on #6389
`browser` environment has `length` global variables, so `no-undef` does not warn it. `length` is defined.

[2016-06-12 16:54] mysticatea commented on #6389
I think #5358 would solve this issue.

[2016-06-12 16:55] mysticatea commented on #5358
I will work on this.

[2016-06-12 16:57] vsemozhetbyt commented on #6388
Oh, I see now. I thought `enforceConst` is just particular type of `prefer-const`. Thank you. Sorry for the confusion.

[2016-06-12 16:57] #6388 closed

[2016-06-12 17:00] alberto commented on #6389
Oh, I missed that part. Thanks @mysticatea. Closing this then, since #5358 also exists.

[2016-06-12 17:00] #6389 closed

[2016-06-12 17:06] mysticatea commented on #6390
I'm not familiar with the validation logic, but I guess the message was generated by `is-my-json-valid` package.

[2016-06-12 17:19] mysticatea commented on #6356
If we deprecate old configurations, I'd like to get glob-based configuration :smiley:

[2016-06-12 17:28] ilyavolodin commented on #6394
@possibilities Could you try it without `babel-eslint`? It's possible the error is coming from the parser, and not from the rule.

[2016-06-12 17:32] ilyavolodin commented on #6356
@michaelficarra If you support repository based configuration, could you post your thoughts on it in #6298 right now, I'm not sure I understand what problem we are trying to solve with it.

[2016-06-12 17:37] ilyavolodin commented on #6387
You can configure the rule with `/*eslint prefer-reflect: ["error", { exceptions: ["call"] }]*/` ESLint doesn't have library specific checks, and there's no way for us to generally identify that example that you provided should not be flagged.

For the people check it from mobile, example in question is:
[code]

[2016-06-12 18:33] michaelficarra commented on #6356
@ilyavolodin I will post there soon. I just haven't had the time to write up a convincing argument recently.

[2016-06-12 20:12] himdel commented on #6295
Well it's certainly not recognized by the language as part of that switch, and I agree that it makes about as little sense to add a semicolon after a swtich, as after an `if`, or a function declaration. However, there is nothing in the language that would make such a use incorrect .. and the simple truth is, some programmers simply prefer it because it feels more consistent, and believe me, none o

[2016-06-12 20:22] himdel commented on #6295
Maybe a specific use case..

Consider `{ "no-semi": "warn", "no-unreachable": "error" }` .. sounds reasonable, right?

Well, without something like the proposed `ignoreEmpty`, a simple unreachable statement will trigger 1 error, whereas an almost invisible comma after switch will trigger 1 warning and 1 error, and I think we can all agree that anybody who uses this combination would expect just 1

[2016-06-12 20:57] ilyavolodin commented on #6295
@himdel Sad truth is, there's no way we can support every possible scenario. We have to support cases that are widely used, and provide options for things that are common. I have not seen this style before, nor am I aware of any style guides that use this style. I think you will have to either disable this rule in general, or use inline comments to disable it around switch cases, or close the rule

[2016-06-12 21:28] himdel commented on #6295
@ilyavolodin OK, understood .. if we end up need this, I'll do a separate module, closing the issue, thanks anyway :)

[2016-06-12 21:28] #6295 closed

[2016-06-12 23:52] jameswomack commented on #6387
@ilyavolodin Thanks for letting me know about exceptions w/ prefer-reflect.

In an ESLint plugin I might target d3 methods by
1. testing if d3 (or whatever) was imported or required
2. excluding `call` when it's chained to d3 methods like `attr` (or whatever)
The config implementation could be something like:
`/* eslint prefer-reflect: ["error", { excluded: [{ import : "d3", methods : [ "attr", "a

[2016-06-13 00:48] ilyavolodin commented on #6387
@jameswomack ESLint core itself is library agnostic. We don't have any rules that are specific to libraries (except JSDoc, which is more of a style than a library). That's what we created plugin framework for. There are a lot of plugins out there that are library-specific and provide rules that are targeting some library. If `exceptions` property doesn't work for your needs, my suggestion would be

[2016-06-13 01:06] jameswomack commented on #6387
@ilyavolodin I know what you mean—that's why I typed "In an ESLint **plugin** I might..." 😄 . I'll edit my post to make that more clear. The agnosticism of core is great, as is the plugin framework. It's why I switched from JSHint a couple years ago.

P.S. I think you do a great job in managing issues on ESLint. It's rare for a repo to have folks that are so willing to respond quickly and in detai

[2016-06-13 01:43] possibilities commented on #6394
Fat fingers, fat fingered a fat finger. Sorry for any time you spent looking into this.

[2016-06-13 01:43] #6394 closed

[2016-06-13 01:59] ilyavolodin commented on #6387
@jameswomack You are welcome! :+1:

Closing as I don't think we can do anything about this case. `exceptions` option should cover D3 specific methods.

[2016-06-13 01:59] #6387 closed

[2016-06-13 06:35] yinhaibo01 commented on #6389
Thank you for your reply, I will update the latest version.

[2016-06-13 06:43] mysticatea commented on #6389
@yinhaibo01 #5358 is still opened. It would be solved in the next version (maybe 2.13.0), I hope. :wink:

[2016-06-13 08:40] huangjihua commented on #1849
else 前面的｝不能和else 同一行

[2016-06-13 10:30] cristian-sima opened #6397 "Docs: wrong example code for "exceptions" option in id-length rule"
[http://eslint.org/docs/rules/id-length#exceptions](http://eslint.org/docs/rules/id-length#exceptions)

It is taking about exceptions, but there is a max property

[2016-06-13 12:19] danielbuechele opened #6398 "Extending an additional config doesn't work"
At our company we have a basic eslint-config for all JavaScript projects, we extend this config with some specific rules for React, which works fine. ([see here](https://github.com/digitalegarage/eslint-config-sep/blob/master/react.js#L2))

We then want to extend the React-config for react-native which doesn't seem to work. ([see here](https://github.com/digitalegarage/eslint-config-sep/blob/maste

[2016-06-13 12:43] macgyver commented on #2156
Sorry to bring it up again but this is still an issue for me.

Steps to reproduce
- install `eslint` and `eslint-plugin-react` globally
- build an eslint config file via `eslint --init` and include react and jsx, I can paste the entire file if you like but the top of the config file looks like this:
[code]
- run the tool on a simple jsx file
[code]

Am I missing something obvious?

[2016-06-13 13:11] lo1tuma commented on #2156
@macgyver I think you need to enable the [`jsx-uses-vars`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md) rule.

[2016-06-13 13:30] vitorbal commented on #6397
Hi @cristian-sima, thank you for the issue!
Indeed it seems like the documentation example is wrong and the option being passed should have been  `{ "exceptions": "x" }` instead.
Would you be willing to open a Pull Request to fix it?

[2016-06-13 13:44] #6386 closed

[2016-06-13 13:50] pedrottimark commented on #6397
@cristian-sima Good eyes. Welcome to ESLint! Yes, it is a copy-and-paste error.

* In the `schema` property of the rule in https://github.com/eslint/eslint/blob/master/lib/rules/id-length.js#L31, there is an `exceptions` options whose value is an **array of strings**.
* There is an example of the options configuration in https://github.com/eslint/eslint/blob/master/tests/lib/rules/id-length.js#L42

[2016-06-13 14:30] macgyver commented on #2156
oh neat - any chance this will be rolled into the `init` process?

Also why does this rule exist at all? Shouldn't it follow automatically if
`jsx` and `no-unused-vars` are both enabled?

On Mon, Jun 13, 2016 at 9:11 AM, Mathias Schreck <notifications@github.com>
wrote:

[2016-06-13 14:47] rafayepes opened #6399 "Rule no-invalid-this fails on functions which name starts with "_""
**What version of ESLint are you using?**
v2.7.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Getting an error when using "this" inside the function declaration "_foo" (line 5).

**What actually happened? P

[2016-06-13 15:12] platinumazure commented on #6399
The docs say nothing about this case, so either we need a doc change or a rule change. At this point, I will label this a docs/bug change (presuming that the behavior is intentional for now).

[2016-06-13 15:15] platinumazure commented on #6398
Hard to tell if this might be due to scoping or something else. Any chance you could use `npm link` to simulate an unscoped package and see if the problem exists in that case too?

[2016-06-13 15:32] rafayepes commented on #6399
Hey @platinumazure ,

Thanks for having a look at that. So, I looked into this file and didn't find any explicit thing related to that underscore exception:

https://github.com/eslint/eslint/blob/c32b35bc1496f5d91a866a892be0b82f79e41ccc/tests/lib/rules/no-invalid-this.js

I'm new to the ESLint codebase, so I'm like a bit lost. To me it looks like some bug in the evaluation of the rules? Definitely

[2016-06-13 15:40] hzoo commented on #5949
I see lines-between-class-methods - is there already a similar rule for objects as well?

Also class properties aren't supported in the default parser anyway (through babel-eslint) `class A { asdf = 1}`

[2016-06-13 15:43] ilyavolodin commented on #2156
@macgyver jsx != react This is react specific syntax and is not part of jsx. jsx is used by other frameworks out there that don't use this functionality. ESLint doesn't support React, we only support JSX.

[2016-06-13 16:13] platinumazure commented on #6399
Only thing I can think of is we have a couple of functions somewhere which
use heuristics like casing or leading characters to infer private functions
or constructor functions or what have you. I say this because I remember a
PR a couple of releases ago where a change was made in that area; perhaps
we introduced an unintentional side effect in this rule as a result of the
change.

Unfortunately, I

[2016-06-13 16:40] nzakas commented on #6259
I commented on the PR, but will paste here: the other options are all node types, and this is not. Also, we are really talking about indenting the IIFE body, not the IIFE itself, so we need to work on this naming a bit. And last, the other options are numeric, so this one should probably be as well.

[2016-06-13 16:42] rijnhard opened #6400 "allow comma dangle to ignore single elements"
**What version of ESLint are you using?** 2.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:** Not Required `'comma-dangle'  : [2, 'always-multiline'],`

**What did you expect to happen?**
if an array or an object is a single element, then do not require a dangling comma

[code]

**What actually happened? Please include the actual, raw

[2016-06-13 16:43] platinumazure commented on #6259
@nzakas Are we sure about that? Do we know of use cases where someone may want an indent level, which is different from the normal file indent level? (Or similarly, where an IIFE might get a tab but everything else gets spaces?) Honestly, until we see some of those use cases, I would prefer a boolean, if it were up to me.

[2016-06-13 16:45] platinumazure commented on #6400
Are you hoping to *not require* the comma for single-element cases, or *forbid* it? (Though honestly, I wonder if we should just allow both possibilities.)

[2016-06-13 16:47] platinumazure commented on #6383
So are we thinking we should just make a plugin for this? If so, should that be its own repository or should we put it in "packages" like we do for eslint-config-eslint?

[2016-06-13 16:47] rijnhard commented on #6400
@platinumazure wow that was fast.

both probably for different use cases. by default it requires it.
I would like to forbid it

[2016-06-13 16:49] rijnhard commented on #6400
Also just to clarify, this option should also be available for arrays, and not just objects to be comprehensive.

As for individually controlling the settings for arrays or objects: I don't care for that, but you may have more insight on if it's overkill or should be allowed.

[2016-06-13 16:52] platinumazure commented on #6400
Any suggestions on how to configure it? (Could be kind of tricky since right now there's just a single string option, but do feel free to think outside the box!)

[2016-06-13 17:38] davidshepherd7 commented on #6259
I'm happy to make it numeric for consistency, especially since future options are likely to be numeric. It's not any more difficult to do so YAGNI doesn't really apply IMO.

For the name: how about `OuterIIFEBody`? (Dropped the `Indent` for consistency with other numeric options.)

[2016-06-13 17:53] rijnhard commented on #6400
I'm going to sleep on it and will; get back to you tomorrow.

[2016-06-13 18:02] ilyavolodin commented on #6383
It should probably be it's own repository, since it's not really going to be all that useful to anyone outside of the ESLint team and plugin developers.

[2016-06-13 18:06] markelog commented on #5858
Here is ESLint config as npm package - https://github.com/jquery/eslint-config-jquery,
example of switching from jscs+jshint to eslint in jQuery Core - https://github.com/jquery/jquery/pull/3148.

Right now it is on 0.1.3 version in case someone wants to propose significant changes, after couple of weeks we probably update it to 1.0.0.

[2016-06-13 18:18] markelog commented on #5858
Also created an issue in polyjuice about some of it inconsistencies - https://github.com/brenolf/polyjuice/issues/83

[2016-06-13 18:56] nzakas commented on #6356
Let's table the converting to ES6 discussion for now (if someone wants to open up a separate issue to discuss, please do, but that will come after 3.0.0 and so isn't relevant to planning).

And please, let's not add any more issues to my original description unless we all agree first. Otherwise, the reactions on that description and the comments are a bit misleading.

Part of the rationale for doi

[2016-06-13 19:08] #6225 closed

[2016-06-13 19:11] alberto commented on #6356
Sorry. I took the liberty to include that issue since it would become dead code as part of the node support update (you could consider it part of that), but I get your point. ❤️

[2016-06-13 20:01] jacobrask commented on #6076
For reference, see this plugin https://github.com/jacobrask/eslint-plugin-sorting

[2016-06-13 20:03] mysticatea commented on #6356
I'm sorry. Sounds good to me.

[2016-06-13 20:21] nzakas opened #6403 "Update eslint:recommended for 3.0.0"
As we always do with major releases, we should update `eslint:recommended` to include any new rules we've added since 2.0.0 that flag potential errors.

[2016-06-13 20:35] nzakas commented on #6338
We don't distinguish if ESLint is installed globally or not (there's no proven way to do that). IIRC, what we did was resolve from the config file if it wasn't in the home directory (`~/.eslintrc`) and use the original behavior when loading `~/.eslintrc`.

What's the relationship between this issue and #6358?

[2016-06-13 20:35] #6358 closed

[2016-06-13 20:42] mysticatea commented on #6338
It was my misunderstanding.

[2016-06-13 21:25] mysticatea commented on #6377
May I be given :+1:s here?

[2016-06-13 21:54] #6366 closed

[2016-06-13 21:57] ilyavolodin commented on #6377
@mysticatea Just to summarize.

This is a syntax error with ES2016, however it's valid code in ES2015. You want to create this rule to flag those constructs in ES2015 to prevent issues when browsers/node will upgrade their engine to support ES2017. Is that correct?

I'm a bit on the fence with this. It seems like a valid issue, but I'm not sure it's big/important enough to include it into the core

[2016-06-13 23:11] mikesherov commented on #6377
I don't think this should be a rule. `ecmaVersion` controls valid syntax and I don't think we need to call this out as a separate rule.

:-1:

[2016-06-13 23:38] mysticatea commented on #6377
@ilyavolodin I's correct. Then I think it's important because two reasons.

- To image that code is invalid is difficult for many people, I guess. e.g. in https://github.com/ternjs/acorn/issues/423, he wrote it's innocent-looking form.
- ESLint has been misleading people to wrong if they are using [`strict: function`](http://eslint.org/docs/rules/strict#function) configuration.

Granted, this prob

[2016-06-13 23:39] nzakas commented on #6377
There's actually no way this rule would run, assuming Espree throws a syntax error. I'd say let's check that Espree does actually throw an error in this case. If not, let's file an issue there.

[2016-06-13 23:41] mysticatea commented on #6377
@nzakas There is an issue: https://github.com/ternjs/acorn/issues/423
That code is a valid code in ES6,  no syntax error. But it's invalid in ES7 or later.

[2016-06-13 23:51] mysticatea commented on #6399
Thank you for this issue.

As the document, "This rule applies only in strict mode."
I confirmed this rule works fine on our online demo.

![image](https://cloud.githubusercontent.com/assets/1937871/16026932/fe8f4ede-320c-11e6-935a-7389af2f0ce4.png)

[2016-06-14 00:01] nzakas commented on #6377
Ah, I see. I got it now.

Here's the problem I see : we don't currently have other rules that are "future syntax problems." We could start doing that, of course, but who is the target audience? Devs who are using ES6 now will probably move along to ES7 and then ES8 pretty rapidly, so this rule wouldn't help them. Those stuck in ES5 can't use default parameters, so it doesn't help them either. So w

[2016-06-14 00:02] rafayepes commented on #6399
Hey @mysticatea , thanks for your time! The rule actually works once the initial underscore is removed from the name. Isn't that strange? I also have "impliedStrict: true". If I understood correctly, that should make the rule work (as it does without the underscore).

[2016-06-14 00:03] nzakas commented on #6355
I'll give a 👍 . Do we have a champion for this?

[2016-06-14 00:04] mysticatea commented on #6399
@rafayepes Please see my screenshot. The rule works fine even if the underscore is not removed.

[2016-06-14 00:07] mysticatea commented on #6399
In fact, the rule's behavior has been changed a bit since #6085.
Please try to use latest ESLint.

[2016-06-14 00:08] nzakas commented on #6299
I'm personally 👎 On this. I use the colors to quickly scan, so I can easily tell what is a bug vs. not and what component it deals with. Changing all the components to be the same and all the severities to be the same would make it harder for me personally as I'd have to actually start reading the labels instead of scanning for color.

That said, if everyone thinks making such a change is helpful,

[2016-06-14 00:10] nzakas commented on #6383
I'd prefer just keeping it in the repo. It's not useful to anyone but us, there's no reason to have the overhead of a plugin for this.

[2016-06-14 00:12] nzakas commented on #3229
You can do it here (in the future, though, opening a new issue would be better).

[2016-06-14 00:15] mysticatea commented on #6377
I cannot show the number of people which are using `env: {es6: true}` or `parserOptions: {ecmaVersion: 6}`. We are not collecting statistics data....

[2016-06-14 00:17] nzakas commented on #6238
Ack, that's a good point. So the only real option for implementation is to change how JSDoc comments are located rather than adding a rule option. That's a to the core.

Before going forward, we should probably see how JSDoc itself solves this problem and emulate that. Anyone want to volunteer for that?

@mikesherov how does JSCS deal with comment location?

[2016-06-14 00:18] nzakas commented on #6377
I know, I'm not asking for stats. I'm asking who are the group of people you think need this rule?

[2016-06-14 00:24] mysticatea opened #6405 "strict: function should not warn functions which have a non-simple parameter"
**What version of ESLint are you using?**

- 2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error.
Because it's a syntax error in ES7/later if `"use strict"` is written there.

**What act

[2016-06-14 00:28] mysticatea commented on #6377
All people which using `es6` setting.
Especially, people which are using `strict` rule with `function` option.

[2016-06-14 00:29] ilyavolodin commented on #6377
@nzakas I can see how somebody would be writing an es6 code right now, and then once Node 8 is released (or whatever version will start supporting es7) they will start getting syntax errors all over their code, because our rule told them to put `use strict` inside functions.
But I'm still not sure about having this inside the core. It seems like the rule will be useful for a short period of time,

[2016-06-14 00:32] ilyavolodin commented on #6383
@nzakas It might be useful for plugin creators. I'm also pretty sure that we can come up with a few additional rules to add to that plugin. I remember that I thought at least a few times that we should have a rule to cover specific convention in our repository (I just can't remember what were those rules at this point:-)

[2016-06-14 00:33] mikesherov commented on #6377
Ah, we should fix the `use strict` rule to not suggest when default parameters are in use. Perhaps that's the correct place to account for this.

[2016-06-14 01:23] mysticatea commented on #6403
My suggestion:

- [no-unsafe-finally](http://eslint.org/docs/rules/no-unsafe-finally)
- [no-native-reassign](http://eslint.org/docs/rules/no-native-reassign) - This is not a new rule, but for `globals: {foo: false}`-like configurations.

[2016-06-14 01:37] gyandeeps commented on #6403
My tip:

- array-callback-return

[2016-06-14 05:43] Delagen opened #6406 "typo: in docs for rule max-lines"
**What version of ESLint are you using?** 2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]
with docs

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**
no error

**What actually happened? Please include the actual, raw output from ESLint.**
need to be
[code]

[2016-06-14 07:42] rijnhard commented on #6400
taking inspiration from key-spacing

[code]

This is what pops to mind:

[code]

or

[code]

[2016-06-14 08:53] rafayepes commented on #6399
Oh nice! Looks like #6085 will fix my problem :) I'd give it a try and report back. Thanks @mysticatea !

[2016-06-14 10:28] vitorbal commented on #6406
Thanks @Delagen! This was already fixed with #6374, but thanks for noticing anyway!

[2016-06-14 10:28] #6406 closed

[2016-06-14 10:37] vitorbal opened #6407 "Update codebase to use ES6 features supported by Node 4.0"
Continuing the discussion started in #6356, it would be awesome to upgrade our codebase to benefit from ES6 features that are available after dropping Node < 4 support.

Below are some of the ideas already mentioned:

@mikesherov:

@ilyavolodin @platinumazure:

@mysticatea:

[2016-06-14 10:38] vitorbal commented on #6356
I opened a separate issue to continue the converting to ES6 discussion: #6407

[2016-06-14 11:23] ricardogama opened #6408 "Rule object-shorthand misleads the use of shorthand for get keys"
**What version of ESLint are you using?**

2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

[code]

**What did you expect to happen?**

Nothing

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

[2016-06-14 11:37] mysticatea commented on #6408
Thank you for this issue.

`object-shorthand` rule can be used in only ES2015 (ES6) and later.
Please try to use with ES6 configuration.

![image](https://cloud.githubusercontent.com/assets/1937871/16041350/caec4664-326f-11e6-8646-8e3ebf508252.png)

[2016-06-14 11:39] mikesherov commented on #6238
@nzakas, JSCS has AST linked with token list. When dealing with comments, we descend down to the token list because it's easier to think about comments by source location instead of in tree.

With respect to JSDoc, there's a JSCS plugin that does that, and I think it leverages the real JSDoc parser although I'm not quite sure.

[2016-06-14 12:03] ricardogama commented on #6408
@mysticatea Indeed, but the issue persists. Updated the configuration section on the issue description.

[2016-06-14 12:06] mysticatea commented on #6408
Hm, but I cannot reproduce this on our online demo and Chrome devtools' console.

[2016-06-14 12:13] mysticatea commented on #6408
By the language spec, we cannot use reserved words in shorthand properties. But `get` and `set` are not reserved words, so we should be able to use those.

https://tc39.github.io/ecma262/2016/#prod-PropertyDefinition

[2016-06-14 12:23] BYK commented on #6259
This won't be the case actually.

Can I use this to move the options to non-numeric (in a bw-compatible way)? We had have a very bad pattern and we keep building on it just for the sake of consistency. I can't work on coding ESLint nowadays much but I'd love to fix this.

[2016-06-14 12:28] davidshepherd7 commented on #6259
Ok, I'm open to either numeric or non-numeric. I don't really have enough context to have a strong opinion. I just need you guys to tell me which one to implement.

[2016-06-14 13:12] ricardogama commented on #6408
@mysticatea I can't reproduce the error on Chrome either, but this definitely happens with Node.js 4.0 and above. What about adding this exception only when **env > node** is enabled?

[2016-06-14 14:30] michaelficarra commented on #6408
@ricardogama Not true.

[code]

[2016-06-14 14:49] ricardogama commented on #6408
@michaelficarra 5.x fails as well, only works on 6.x.

[2016-06-14 15:08] nzakas commented on #6377
I like the idea of modifying `strict` to account for this.

[2016-06-14 15:11] nzakas commented on #6403
Good suggestions. @eslint/eslint-team other thoughts?

[2016-06-14 15:18] nzakas commented on #6259
@platinumazure that's not the right question to ask. We can never know all possible use cases, and btw always aim for maximum flexibility given that.

@byk as I said before, we can't just start adding options that are configured differently without a complete proposal and discussion. So we can either stop work on this rule until you put that together, or we can keep making incremental improvements

[2016-06-14 15:24] othomann opened #6411 "Better wording for the error reported by the rule "no-else-return""
**What version are you using?**
Latest.

**What did you do?**
When enabling the rule "no-else-return", the error message states:
"Unexpected 'else' after 'return'."

**What did you expect to happen?**
I would suggest to replace "Unexpected" with "Unnecessary" as the code is perfectly legit, but it is not necessary to have an else. So the new message would be:
"Unnecessary 'else' after 'return'."

[2016-06-14 15:24] nzakas commented on #6348
👍 for @platinumazure's suggestion

[2016-06-14 15:32] nzakas commented on #5891
@scriptdaemon we need something definite to discuss. :) The question here is if it's wrong to have JSDoc on each accessor or not. If it is wrong, then having an option to enforce at most one comment is fine. But then, does the JSDoc comment have to be over the first accessor in the code? Or can it be over the second?

Maybe `singleCommentForAccessorPairs` is a bit more accurate?

[2016-06-14 15:37] nzakas commented on #6196
@platinumazure can you provide more details about what you are proposing? What qualifies as "complex"?

[2016-06-14 15:39] nzakas commented on #6280
@feross we need someone to investigate if this is even possible to detect without a ton of added complexity, so it's not a matter of whether it's an option or not. We would be grateful for your help in that regard.

[2016-06-14 15:42] vitorbal commented on #6411
Hi @othomann, thanks for your issue! I think the wording you suggested would make things clearer. Would you be willing to work on a PR for this?

[2016-06-14 15:43] nzakas commented on #5949
@hzoo we don't have anything for objects.

@ianvs I think always and never follows our other rules better, like `padded-blocks` and avoids the clash with `max-empty-lines` that @LinusU mentioned.

We still need one more 👍 here.

[2016-06-14 15:44] NickHeiner opened #6412 "Add a fixer for object-shorthand"
I would like to add a fixer for the `object-shorthand` property. I'll work on a PR for this now. Please let me know if you have any objections to this so I don't waste my time! Thanks.

[2016-06-14 15:44] othomann commented on #6411
Sure, I'll provide a PR for this today.

[2016-06-14 15:50] nzakas commented on #6383
@ilyavolodin I'd really prefer not to have another repo or package to manage at this point. This rule is just for us and it's just one rule, so let's keep it simple for now. If we get requests to share it or we start adding a ton of new rules, we can revisit if it makes sense to have a separate repo or plugin.

It never hurts to start with the smallest thing that solves the problem.

[2016-06-14 15:52] BYK commented on #6259
Alright, never mind me. Don't wanna stop people from working on something.

[2016-06-14 16:29] michaelficarra commented on #848
Another tool for detecting duplicate code has recently become popular: https://github.com/danielstjules/jsinspect

This may help.

[2016-06-14 17:22] othomann commented on #6411
I think the PR is ready now. Let me know if you need anything else.

[2016-06-14 17:23] rodolfo-geekie opened #6414 "no-unused-vars if a variable is used in jsx"
**What version of ESLint are you using?**
v2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default (I think)

**Please show your full configuration:**
Attached it (as eslintrc.js.txt)

**What did you do? Please include the actual source code causing the issue.**
This code:
[code]

**What did you expect to happen?**
No error, since all variables are in use.

**What actually hap

[2016-06-14 17:39] nzakas commented on #6414
JSX has no semantics and therefore, using a JSX tag cannot be known to always count as a variable being used. That's why the `eslint-plugin-react` plugin exists. React specifies semantics for JSX tags such that they represent variables. In that context, you need a rule to flag what you're describing.

ESLint doesn't natively support React semantics, only JSX syntax.

Duplicate of https://github.co

[2016-06-14 17:39] #6414 closed

[2016-06-14 17:45] nzakas commented on #6407
Keep in mind that Node 4 doesn't fully implement ES6, so we're still left with a subset of features we can use. I'd like to propose that we focus on using features that can be checked with our existing rules so we can maximize the dogfoodiness of ESLint.

I think the easiest to start with are `no-var` and `prefer-const` (I'm assuming people want to use `const` everywhere. I'm a bit ambivalent abou

[2016-06-14 17:59] nzakas commented on #6377
FWIW, this check is already in Chrome, so it throws an error if you use `"use strict"` in a function definition with non-simple parameter list.

[2016-06-14 18:29] platinumazure commented on #6412
Hi @NickHeiner, your best bet is to wait until the issue is labeled "accepted" before starting a PR.

It might not hurt to show a few examples of what the fixer output would look like.

@eslint/eslint-team Thoughts on this proposal to add auto-fix to `object-shorthand` rule?

[2016-06-14 18:39] AriaFallah opened #6415 "no-use-before-define triggers for variables defined below a function even if variable will be defined when a function using that variable is called."
**What version of ESLint are you using?**
2.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
https://github.com/AriaFallah/eslint-config-aria/blob/master/index.js

Specific line:

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No errors. This d

[2016-06-14 18:41] nzakas commented on #6361
@platinumazure thanks, that does help. It also solidifies my belief that what we are doing right now makes the most sense.

This merging mechanism was designed for what we thought would be the common use case: changing a rule's severity without changing the options. So what we have right now:

* Base config: "eqeqeq": [2, "allow-null"]
* Derived config: "eqeqeq": 1
* Resulting actual config: "eqeq

[2016-06-14 18:47] nzakas commented on #4345
@jthomerson I feel like I've already explained a couple of times why your suggestion isn't relevant to the topic at hand. You're suggesting *another* way to disable rules inline, which is a feature request that does not solve the problem for the *current* way to disable rules inline.

So I'd like to ask, once again, that we stick to the original problem of how to deal with what we currently suppor

[2016-06-14 18:53] #6340 closed

[2016-06-14 18:54] alberto commented on #6361
@nzakas I don't think any of us thought rules overriding worked that way. I think it makes sense,  and just needs to be documented

[2016-06-14 18:56] jthomerson opened #6416 "Support single line comments for eslint-enable and eslint-disable"
As explained in the comments of #4345, I think there's a really good usecase for supporting single line comments for `eslint-enable` and `eslint-disable`. @nzakas wanted this request to be separate from that issue, so I'm filing a separate report for it.

The reporter of #4345 has the following code:

[code]

That, along with a very standard `lines-around-comment` rule that requires one line `befo

[2016-06-14 18:59] nzakas commented on #6408
Unfortunately, there's nothing we can do here. This is a syntax error in the Node.js version you're using, and we can't help with that (exception comments won't help because we aren't the one throwing the error).

I agree with @michaelficarra, this is a bug in an old version of Node.js, so I don't think there's a good argument for changing the rule.