[2016-08-01 19:54] alberto commented on #5342
Closing this. Feel free to reopen.

[2016-08-01 19:54] #5342 closed

[2016-08-01 20:00] alberto commented on #5857
Is there any benefit to do it in core vs a separate tool?

[2016-08-01 20:04] alberto commented on #6790
@tokenvolt yes, they can probably help you better there, thanks

[2016-08-01 20:04] #6790 closed

[2016-08-01 20:07] alberto commented on #5844
Closing since it doesn't seem we can do much here.

[2016-08-01 20:07] #5844 closed

[2016-08-01 20:08] ndarville commented on #5857
`eslint/jscs-migrate`? Would also make issue management easier, especially when you can add a bunch of specific disclaimers in `CONTRIBUTING` and `ISSUE_TEMPLATE`.

[2016-08-01 20:11] alberto commented on #5794
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 20:11] #5794 closed

[2016-08-01 20:14] alberto commented on #6794
Closing since there seems to be consensus against this

[2016-08-01 20:14] #6794 closed

[2016-08-01 20:27] vitorbal commented on #5726
@alberto @platinumazure thanks for the ping! I am willing to champion this change and I've already got a PR almost ready, just in need of a rebase.

I agree that we should open a separate issue for the extra checks.

[2016-08-01 20:32] platinumazure commented on #5857
I like @ndarville's idea. To me this is similar to how we have eslint-transforms for transforming old-style rules to new-style rules: We *could* have put that in ESLint, but we wanted to avoid scope creep there and instead created a separate small project. I believe the same thing should happen for this use case.

[2016-08-01 20:32] jrencz commented on #6778
@nzakas I updated the description

[2016-08-01 20:35] platinumazure commented on #6794
@amilajack Just want to note that even though we don't feel we can reasonably add this to `no-undef` in core, ESLint is completely pluggable and you have the freedom to create your own rule.

In fact, you could create a plugin that pulls in something like sindresorhus/globals as a dependency, and use that to seed a suggested words list (while allowing users to write in their own words). Then you c

[2016-08-01 20:36] mdebruijne commented on #5672
If it is possible add an option to treat any form of constant/variable assignment as a non magic number then that would be great. Whether assignment is based on direct assignment, default parameters, destructuring, logical OR assignment, etcetera.

[code]

While I can completely understand @michaelficarra preference. To be honest, it is not mine. I always prefer self-containment by assigning const

[2016-08-01 20:42] platinumazure commented on #6778
Now I understand what users need to do to conform to the rule (seems reasonable for symbols to have a description). I'll champion.

[2016-08-01 20:52] jrencz commented on #6778
@platinumazure I made some quick and dirty attempt to implement the rule as described: https://github.com/jrencz/eslint/tree/symbol-description

Should I file a PR as-is (with no documentation) or should I better prepare some docs first?

[2016-08-01 21:21] platinumazure commented on #6778
@jrencz Definitely add docs before submitting a PR :smile: But if you would like, I am happy to take a look at your WIP branch.

[2016-08-01 21:24] alberto commented on #6032
Duplicate of https://github.com/eslint/eslint/issues/6505

[2016-08-01 21:24] #6032 closed

[2016-08-01 21:31] jrencz commented on #6778
@platinumazure I'd appreciate. I'll add documentation tomorrow.

I based my code on rules radix and no-new-symbol

[2016-08-01 21:37] vitorbal commented on #6778
I am :+1: for this rule proposal.

[2016-08-01 21:40] alberto commented on #6496
What's the status of this? Has the meeting already taken place?

[2016-08-01 21:41] mysticatea commented on #6778
I'm not sure if we need the`never` option. I think no option is more simple.
That implementation looks good to me :wink:

[2016-08-01 21:42] alberto commented on #6481
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 21:42] #6481 closed

[2016-08-01 21:44] alberto commented on #6435
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 21:44] #6435 closed

[2016-08-01 21:48] jdalton commented on #6496
The proposal progressed to the [node-eps](https://github.com/nodejs/node-eps/blob/master/002-es6-modules.md#51-determining-if-source-is-an-es-module) in early July. We decided to hold off bringing it up to the TC39 in July to give us time to get our feet wet (get a feel for the TC39, since it was Bradley's first time representing Node).

Out of the meeting it looks like there is no compat path ava

[2016-08-01 21:51] mysticatea commented on #6496
As far as I know, that is a stage 0 proposal now.

[2016-08-01 22:01] alberto commented on #3436
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:01] #3436 closed

[2016-08-01 22:08] alberto commented on #6098
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:08] #6098 closed

[2016-08-01 22:10] alberto commented on #6283
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:10] #6283 closed

[2016-08-01 22:12] alberto commented on #6255
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:12] #6255 closed

[2016-08-01 22:13] alberto commented on #6282
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:13] #6282 closed

[2016-08-01 22:13] alberto commented on #6307
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:13] #6307 closed

[2016-08-01 22:14] alberto commented on #6204
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:14] #6204 closed

[2016-08-01 22:18] alberto commented on #6033
Thank for contributing, but I don't think this is general enough for core. Since this hasn't get much traction, I'm closing it.

[2016-08-01 22:18] #6033 closed

[2016-08-01 22:20] ljharb commented on #3436
@IanVS is this still something you'd like to work on? I assume it could be reopened if a collaborator indicated interest.

[2016-08-01 22:23] alberto commented on #6086
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:23] #6086 closed

[2016-08-01 22:25] alberto commented on #6008
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:25] #6008 closed

[2016-08-01 22:27] alberto commented on #6330
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:27] #6330 closed

[2016-08-01 22:28] alberto commented on #6400
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:28] #6400 closed

[2016-08-01 22:29] alberto commented on #6416
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:29] #6416 closed

[2016-08-01 22:31] alberto commented on #5961
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:31] #5961 closed

[2016-08-01 22:32] alberto commented on #6131
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:32] #6131 closed

[2016-08-01 22:33] alberto commented on #6152
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:33] #6152 closed

[2016-08-01 22:34] alberto commented on #6147
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:34] #6147 closed

[2016-08-01 22:38] alberto commented on #5990
@eslint/eslint-team is anyone willing to champion this?

[2016-08-01 22:39] ilyavolodin commented on #3436
@ljharb Correct. If somebody on the team wants to work on this and can get support from other members, or if we are presented with new arguments we can reopen this (or open new issue pointing back at this). We are just cleaning up our issue logs, since issue that haven't been accepted and haven't had any traction for a while are very unlikely to get implemented and are just creating a lot of noise

[2016-08-01 22:40] alberto commented on #6051
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:40] #6051 closed

[2016-08-01 22:43] alberto commented on #6417
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:43] #6417 closed

[2016-08-01 22:45] alberto commented on #6513
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 22:45] #6513 closed

[2016-08-01 22:47] ljharb commented on #3436
Gotcha. Personally I'd prefer to see them left open, with a label that can be filtered out in searches, but I understand this choice as well.

[2016-08-01 22:49] puzrin commented on #5071
Hm... Is it possible to give special label to useful issues, closed with such reason?

[2016-08-01 22:58] alberto commented on #6439
Closing because of the reasons @platinumazure exposed.

[2016-08-01 22:58] #6439 closed

[2016-08-01 23:00] alberto commented on #6552
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:00] #6552 closed

[2016-08-01 23:07] alberto commented on #6563
Why don't you write it as:
[code]
instead?

[2016-08-01 23:07] alberto commented on #6614
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:07] #6614 closed

[2016-08-01 23:10] alberto commented on #6606
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:10] #6606 closed

[2016-08-01 23:11] alberto commented on #6339
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:11] #6339 closed

[2016-08-01 23:15] alberto commented on #5734
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:15] #5734 closed

[2016-08-01 23:20] alberto commented on #6122
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:20] #6122 closed

[2016-08-01 23:21] basicdays commented on #6563
@alberto good question. The end goal of this is to actually get all the rest of the props from `data`, minus `one`. In this case, what I'd actually need is the inverse of what you have as an example.

[2016-08-01 23:25] alberto commented on #6563
Oh, sorry I didn't read carefully enough and misunderstood the issue.

[2016-08-01 23:31] mysticatea commented on #6563
@alberto To use `copiedData`.  He will use rest property syntax to copy with deleting a property.

Though I think too early to add an option for the stage 2 proposal.

[2016-08-01 23:39] alberto commented on #5553
Closing as duplicate.

[2016-08-01 23:39] #5553 closed

[2016-08-01 23:49] alberto commented on #6563
Mmm, good point.

[2016-08-01 23:52] alberto commented on #6578
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 23:52] #6578 closed

[2016-08-01 23:52] basicdays commented on #6563
I can certainly understand shelving the idea until the proposal rises to higher stages. For now I've just been doing something like the following example to tell the linter to not flag it:

https://github.com/jquense/react-formal/commit/0551ca0ed27b5bfae7fb16dd7eb64ef6c028825c

I'd imagine a lot of people are probably going to be using this pattern over time, assuming the proposal doesn't get dera

[2016-08-02 00:00] alberto commented on #5577
Is this a bug then or should it be closed?

[2016-08-02 00:01] alberto commented on #6563
Yes, you can copy and alter the rule as a plugin.

Closing for now.

[2016-08-02 00:01] #6563 closed

[2016-08-02 00:01] mysticatea commented on #6563
I guess you can use `context.markVariableAsUsed` method for this.
This is similar to `react/jsx-uses-vars` rule.

[2016-08-02 00:03] alberto commented on #5427
@julienw can you confirm it's still an issue in latest version?

[2016-08-02 00:05] alberto commented on #4616
Accepting this as a bug, then.

[2016-08-02 00:07] basicdays commented on #6563
Sounds good, I'll look into it. Thanks for the feedback.

[2016-08-02 00:20] mysticatea opened #6820 "Rule Proposal: require-await"
Async functions and await expressions arrived stage 4.
We can add the rule for those after our parser supported those.

This proposal is the `await` version of [require-yield](http://eslint.org/docs/rules/require-yield) rule.
It disallows async functions without await expressions.

[code]

[2016-08-02 00:51] pmcelhaney commented on #6582
Still interested in finishing if this proposal is accepted.

It boils down to:

1. Exposing a rule's meta object via the API (which is a one-liner though several test fixtures are affected).
2. Establishing an optional  convention of putting the URL describing a rule in docs.uri / docs.url.
3. Adding a URL  to the meta for each of the built-in rules.

[2016-08-02 00:51] alberto commented on #6503
Closing since this looks like an npm issue.

[2016-08-02 00:51] #6503 closed

[2016-08-02 00:55] granteagon commented on #6582
@pmcelhaney are you still working on it?

[2016-08-02 00:57] alberto opened #6821 "Unpin proxyquire"
Proxyquire was pinned in #6100. Issues are fixed in 1.7.10.

[2016-08-02 01:17] pmcelhaney commented on #6582
The work is done, just awaiting feedback on the design.

[2016-08-02 01:21] granteagon commented on #6582
@pmcelhaney I don't see a PR.  Where can I check it out?

[2016-08-02 01:22] pmcelhaney commented on #6582
https://github.com/pmcelhaney/eslint/commit/42977491b9a0f1ce235b5fa37f9d57beb1ddd4e7

[2016-08-02 01:45] IanVS commented on #6759
@nzakas thanks.  There have been a lot of changes to our process lately and I admit I haven't kept up as much as I should have.  In gitter you had said,

So I thought I needed to get this on the agenda to approve its acceptance as a bug.

[2016-08-02 02:12] IanVS commented on #6759
Consider this file structure:

[code]

And imagine the contents of `.ignore` is:

[code]

Here are a few commands that could be run, along with the results as they currently stand:

[code]

As you can see, linting the same file with the same ignore file has different outcomes depending on where the command is run. Even though the `.ignore` specifies the file with a leading slash, it can still matc

[2016-08-02 02:14] IanVS commented on #6759
@alberto, @mysticatea The fix I'm proposing here would not prevent either of those use cases.  The contents of the ignore files being used would just simply need to contain proper patterns/globs which match the desired files to ignore based on their relative position to the ignore file itself.

[2016-08-02 02:22] IanVS commented on #3436
I would indeed like to do this at some point, but it's fairly low on my priority list to be honest.  As it stands now, it's still possible to run autoconfig and get a full list of the rules which could be enabled (or at least close to a full list, we do have some limits), and then manually diff that against whatever config you're currently using to find new rules you could add.  Yeah, it's not a p

[2016-08-02 02:35] platinumazure commented on #6820
Just for my curiosity, what is the impact of an asynchronous function with no await? Does it cause problems for the user or is it just a pointless keyword?

[2016-08-02 02:40] ilyavolodin commented on #6780
It sounds reasonable to me. I can't say that I love the idea of adding yet another CLI flag, but I'm not sure I see any other options. @eslint/eslint-tsc thoughts?

[2016-08-02 02:42] not-an-aardvark commented on #6820
It causes the function to return a Promise rather than a value.

[code]

[2016-08-02 02:43] IanVS commented on #6780
Instead of an option (which I also would like to avoid), couldn't we (or file-entry-cache) just always iterate through the files in the cache and check that they exist?  Or, would that be too much of a performance hit?

[2016-08-02 02:44] ilyavolodin commented on #3436
If at any point we want to add this in, based on the autoconfig code, I would suggest moving autoconfig code into it's own library that eslint will consume, and building this tool as a stand-alone tool. It's not really directly related to linting, it's about creating proper configuration for linter (slightly different focus).

[2016-08-02 02:45] ilyavolodin commented on #6780
I would imagine on a large enough repository where you use cache to improve performance, it will take a while to go through every file...

[2016-08-02 02:53] IanVS commented on #6780
According to https://github.com/nodejs/node-v0.x-archive/issues/6662#issuecomment-39234361, it seems like `stat`ing a million files takes roughly a second (or did 2 years ago).  We could also be a little smart and only check for files which weren't linted, which might cut the number significantly.  All this is speculation though, of course.

[2016-08-02 03:20] platinumazure commented on #6820
:+1: from me, then.

[2016-08-02 04:30] kaicataldo commented on #6732
@nzakas I see that, however the "Getting Started" page on the site still has the old instructions. Maybe we can copy the readme changes over (happy to make an issue and do the work) - I think that would solve my concern above.

[2016-08-02 05:21] royriojas commented on #6780
Sure, I don't anticipate files to grow too much out of control, though. In this case is also pretty easy to just delete the cache file. Prune might also be able to check if files exists and then decide to remove them from the cache. That can probably be added as an option on the `file-entry-cache` module to avoid adding another flag on `eslint`. Something that can be done with:

[code]

 at saving

[2016-08-02 05:25] swang opened #6824 "no-invalid-this triggers an error on a function expression constructor"
**What version of ESLint are you using?**
v3.2.2
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

https://gist.github.com/swang/ab31cd9d11593568a6ada2d8badeb92c

**What did you do? Please include the actual source code causing the issue.**
this is smallest reproduced code that generates this error.
[code]
**What did you expect to happen

[2016-08-02 08:26] mysticatea commented on #6824
Thank you for this issue.

I confirmed.

[2016-08-02 08:30] vitorbal commented on #6824
It seems like the rule does not check anything for anonymous functions. I was able to confirm as well with the following code on the demo page:
[code]

[2016-08-02 08:33] mysticatea commented on #6824
Yup. Currently, the rule checks whether the destination of assignments is a property or not. But it does not check whether the destination of assignments is an ES5 style constructor or not.

[2016-08-02 08:40] miguelangelalvarez opened #6826 "Member expression indentation rule"
**What version are you using?**

Version: 3.2.2

**What did you do?**

I’m using the indentation rule and after eslint 3.1.1 a new member expression rule has been introduced.

Now, this is what I’ve got:

[code]

**What happened?**

And this is what eslint expects:

[code]

**What did you expect to happen?**

I would like to deactivate the MemberExpression indentation rule because sometimes I don’

[2016-08-02 08:53] vitorbal commented on #6778
@mysticatea agreed, I don't think the `never` option is of much use.

[2016-08-02 10:08] mysticatea commented on #5990
It seems reasonable to me.
Also, this is a relaxing enhancement, so this is a minor fix.

I will champion this.

[2016-08-02 10:38] mysticatea commented on #6801
Yes. Duplicate properties were a syntax error until ES5. But ES6 relaxed this restriction due to computed properties.

[2016-08-02 11:13] vitorbal commented on #6826
Hmm, as far as I understood from the discussions, MemberExpression indentation checks should be off by default now.
@miguelangelalvarez could you also include the configuration used and the actual raw output from eslint when you run it?

[2016-08-02 12:49] ficristo commented on #6051
@alberto do you think is possible to achive this with a plugin?

[2016-08-02 13:37] IanVS commented on #6582
[Adding meta to the problem object](https://github.com/pmcelhaney/eslint/commit/42977491b9a0f1ce235b5fa37f9d57beb1ddd4e7#diff-b6559e6b095a292d244b6b7bae986291R986) would be great for tools like Atom's linter-eslint.  I'm 👍 for this change.

[2016-08-02 13:44] jfmengels commented on #6582
Same as @IanVS.

Having the rule's meta would allow quite a few nice things I think.
For instance, having the category of the rule easily available to the editor would allow it to for instance change the color of the error based on whether it's a "possible error" or a "stylistic issue" (should this field exist). This is a bad example as there is already two colors for warn and error, but somehow t

[2016-08-02 13:47] ilyavolodin commented on #6582
I think adding URL to the meta is the right way to go. What I'm not 100% sure about is if we want to include metadata in the `context.report`, or if we should provide another API that would return list of all rules with metadata, that can be used for a look-up. I feel like in a large number of files run including metadata with every error might result in performance problems or in some extreme cas

[2016-08-02 13:54] #6821 closed

[2016-08-02 14:03] IanVS commented on #6582
How many linting errors are you getting?!?!  😝

I panic-deleted my original comment that @jfmengels was echoing, wherein I said it would be great to have the meta (at least the docs meta) available on the problem object for tools like Atom's linter-eslint.  I thought maybe it would only be available to consumers of CLIEngine, which linter-eslint doesn't use, but it seems like it would be in the re

[2016-08-02 14:05] IanVS commented on #6582
That would be sub-optimal for linter-eslint, as we use the cli itself, and not CLIEngine.

[2016-08-02 14:08] jrajav commented on #6606
If it's a matter of time commitment, I'd be happy to make a pull request. It sounds like those who weighed in so far wouldn't use this multi-line style to begin with, so changing the behavior of lines following infix-operator-begun lines wouldn't affect them anyway. Can we instead have the discussion from the standpoint of assuming that style, and then what indentation should be enforced for that

[2016-08-02 14:12] jrajav commented on #6330
Did anyone disagree with this? I wasn't aware there was a lack of consensus, only a lack of input... I thought this was a pretty understandable and common-sense gap in the current rule.

[2016-08-02 14:13] julienw commented on #5427
Yes it is :)

And adding `follow: true` in https://github.com/eslint/eslint/blob/dfbc112bb22a97449c2b50ad33a3ef14afd7f5ce/lib/util/glob-util.js#L114 fixes it for me. Good that cli-engine.js now uses it :)

(my old patch in https://github.com/eslint/eslint/pull/5422 doesn't apply anymore -- and I still don't have time to work on an automatic test for this, sorry)

[2016-08-02 14:14] julienw commented on #5427
I tried in v3.2.2.

[2016-08-02 14:15] alberto commented on #6051
@ficristo Yes, you can definitely create a custom rule adapted to your needs using `brace-style` as a starting point. 👍

[2016-08-02 14:21] alberto commented on #6330
Sorry, I meant it didn't gain enough support from the core team to be accepted.

[2016-08-02 14:52] ilyavolodin commented on #6582
@IanVS We've had reports of people running out of memory generating json reports. If you run ESLint with strict config on a legacy codebase, it's not surprising to see hundred of thousands of errors. But maybe it's just preemptive optimization and we shouldn't worry about it until we see some evidence of issues. In general I'm fine with @pmcelhaney implementation if everyone else is OK with it.

D

[2016-08-02 15:11] rwwagner90 commented on #6777
Any updates on whether this will be supported or not? If not, we could probably write our own custom rules that handle this, and not use this rule.

[2016-08-02 15:23] platinumazure commented on #6777
@rwwagner90 We require a champion and three :+1: endorsements from ESLint team members in order to accept the proposal. I'll offer a :+1: to help that along.

[2016-08-02 15:26] platinumazure commented on #6531
Closing this issue as it's not a high priority. If anyone is interested in looking at this again, we can reopen.

[2016-08-02 15:26] #6531 closed

[2016-08-02 15:27] platinumazure commented on #6820
@not-an-aardvark Wait, does that not also apply to functions with await as well? Or is it just that functions with await in them are more likely to be expected to be async/Promises and so this rule is just to try to help catch possible unintended use of async keyword?

[2016-08-02 15:41] not-an-aardvark commented on #6820
Yes, all async functions return Promises anyway, e.g.

[code]

If the async function returns a Promise anyway, then the `async` keyword has no effect:

[code]

One argument for *not* using this rule: `async` makes it clear that a function always returns a Promise, even if there are no await statements:

[code]

The first function in the last example is arguably clearer than the second function, be

[2016-08-02 16:26] platinumazure commented on #6820
@not-an-aardvark Well, the awesome thing about ESLint is that users can choose not to use a rule if they don't want to. I can see this being useful for some folks.

[2016-08-02 16:49] markelog commented on #5858
@nzakas friendly ping

[2016-08-02 17:18] nzakas commented on #5858
@markelog I'd defer to your opinion on this. I'd like to keep the list to things we know people will use rather than just including them all. Do you have a sense of what the most popular JSCS ones were?

[2016-08-02 17:27] #2716 closed

[2016-08-02 17:30] nzakas commented on #6778
Agreed, I don't think "never" is necessary.

I'm 👍

[2016-08-02 17:37] markelog commented on #5858
A bit, I even did the comparison - https://github.com/markelog/code-styles

It's good we have 3rd party configs which could replace JSCS ones, but to be honest, I don't think any of those code styles should be included -

* `Grunt` is very project specific code style, not strictly speaking defined and not very known
* `Wordpress` could be a good choice but it seems it is not known at all
* `jQuery

[2016-08-02 17:44] nzakas commented on #6543
@sstur correct. Thanks!

[2016-08-02 17:45] jrsearles opened #6828 "Allow `brace-style` rule to enforce different styles on different block types"
**What version of ESLint are you using?**
v3.1.0

**What rule do you want to change?**
brace-style

I would like to enable different brace handling based on the type of block. For example, different handling for IfStatements vs FunctionDeclaration (and even FunctionExpression).

Ideally you would be able to use individual options to mimic the predefined formats (

[code]

BlocksSupported:
`Functio

[2016-08-02 17:46] nzakas commented on #5726
I'll 👍

@vitorbal as the champion, you should secure one more definitive 👍 and then you can mark as accepted.

[2016-08-02 17:49] nzakas commented on #6496
Okay, this reinforces my belief that it's too soon to consider this for the core. It's now past our 21-day period to accept issues, so I'm closing. If the unambiguous module syntax reaches standardization and/or implementation, please open another issue and we can consider it again. In the meantime, a custom rule would be your best approach.

[2016-08-02 17:49] #6496 closed

[2016-08-02 17:51] nzakas commented on #5857
We are trying to make conversion as easy as possible for JSCS users. Asking them to download a second tool is another barrier that we were hoping to eliminate.

[2016-08-02 17:53] nzakas commented on #5577
Unless someone wants to volunteer to look into this, we should close it.

[2016-08-02 17:53] platinumazure commented on #6828
@jrsearles Interesting. Right now `brace-style` accepts only one of three pre-configured brace styles, whereas it sounds like you might want more flexibility at a block vs function level (and whatever other constructs might apply here). In other words, it seems as though you want to just configure your own brace style rules.

I like the concept, but we're going to need to flesh this out a bit furt

[2016-08-02 17:55] platinumazure commented on #5857
Hmm. Well, maybe it would be possible to have the logic in another package and ESLint can prod-depend on it. I'm just looking out for ESLint's health, I guess.

[2016-08-02 17:56] nzakas commented on #6759
@ianvs you are always free to accept bugs that you have verified, regardless of their location.

[2016-08-02 17:57] leobalter commented on #5858
@markelog how did you measure the popularity? The code style guide for jQuery might have a unpopular own repo, and as jQuery projects are only migrating now to ESLint I believe they won't have much explicit numbers.

I don't think it's necessary to land the jQuery preset with eslint core, we can solve it with an extra npm package. My only concern is how the proposed support from ESLint applies in

[2016-08-02 18:01] nzakas commented on #6780
If we can do it without a significant perf hit, I'm 👍 .

[2016-08-02 18:09] markelog commented on #5858
aam, from https://github.com/eslint/eslint/issues/5858#issuecomment-236981280

--

That's the thing - I don't know if they will, as i said, some influential people from foundation lobbying to use `Standard` instead, I think it is safe to say that QUnit and Sizzle will switch it up, but that's it. So at **this** point of time, I just don't have any guarantees it will be accepted by the others membe

[2016-08-02 18:11] platinumazure commented on #5858
@leobalter I'm still willing to get QUnit moved to ESLint, I'm just waiting for some dust to settle in eslint-config-jquery first. Sorry for the delay on that front.

[2016-08-02 18:13] markelog commented on #5858
Dust is settled it is now 1.0 (for record i'm also maintaining `eslint-config-jquery`)

[2016-08-02 18:15] platinumazure commented on #6525
I look forward to seeing some of these new APIs implemented. If we do, then we can have `eslint:recommended` be a dynamic JS file that iterates through rules and returns those with `meta.recommended = true`, so we would only need to update one location (per rule) to add them to `eslint:recommended`.

Is there anything blocking consideration of adding `getRules()` and `getRuleMetadata()` at this po

[2016-08-02 18:25] jdalton commented on #6496
Thanks @nzakas. For those interested the `unambiguous` rule has been added to v2 of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import/tree/v2).

[2016-08-02 18:30] platinumazure opened #6829 ""needs-info" bot message template needs a link to "Proposing a Rule Change" page"
The "needs-info" bot message template has a link to "Proposing a New Rule", but not to "Proposing a Rule Change". We should add a link to that latter page.

[2016-08-02 18:43] IanVS commented on #6759
There was some discussion whether this is actually a bug or a feature.  I feel pretty strongly it's a bug, but willing to hear counterarguments.

[2016-08-02 18:52] leobalter commented on #5858
I'm expecting that to happen soon. I hope it can give a better expectation and perspective to this issue.

[2016-08-02 19:00] mikecousins commented on #5150
This conflicts pretty badly with this: https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/no-string-refs.md

[2016-08-02 19:04] alberto commented on #5726
👍

[2016-08-02 19:11] platinumazure commented on #6759
I think this might be a bug.

At my work, we run `eslint` multiple times and pass in directories directly, and we don't need to have an `.eslintignore` as a result. At one point, I tried to write an `.eslintignore` and reconfigure our build process to just run ESLint once. We had to use `--ignore-path` because our CWD was somewhere else. And files that should have been ignored were not ignored. My

[2016-08-02 19:22] platinumazure commented on #6055
@akuznetsov-gridgain I would suggest creating a separate issue for your request. (In your issue, please note if there is a JSCS equivalent or not, so we know whether or not we should treat the new issue as JSCS compatibility related or not.)

Also, I'd like to try implementing this (goal is to do so by this weekend). Assigning to myself for now.

[2016-08-02 19:23] platinumazure commented on #6055
@mysticatea Any idea how to handle non-ASCII characters? What about non-letters, should those trigger the rule under any circumstances or not?

[2016-08-02 19:26] #6829 closed

[2016-08-02 19:29] pmcelhaney commented on #6582
Good point about memory. Shouldn't be a problem if we [pass the meta object by reference](
https://github.com/pmcelhaney/eslint/commit/42977491b9a0f1ce235b5fa37f9d57beb1ddd4e7#diff-b6559e6b095a292d244b6b7bae986291R459).

[2016-08-02 19:45] tornewuff commented on #2716
Oops, sorry for disappearing here, and thanks @mysticatea for implementing it - I was away from github stuff for a while and forgot about this entirely when coming back.

[2016-08-02 21:15] udnaan opened #6833 "Arrow function returning an object incorrectly marked"
eslint: 3.2.2

consider this code for example:

    let comp;
    this.setState(state => {comps: state.comps.push(comp)});

it's a one liner arrow function, returning an object.

Eslint returns the following issues:
  2:25  error  'comps:' is defined but never used  no-unused-labels
  2:54  error  Missing semicolon                   semi

I expect it to take it for what it is, an arrow function wi

[2016-08-02 21:18] gyandeeps commented on #6833
Eslint is correctly parsing it according to the specs.

If you want to return an object, you have 2 options:

1. `this.setState(state => ({comps: state.comps.push(comp)}));`
1. `this.setState(state => { return {comps: state.comps.push(comp)}});`

[2016-08-02 21:19] udnaan commented on #6833
Can you point to the specs which are in question?

[2016-08-02 21:21] platinumazure commented on #6833
http://www.ecma-international.org/ecma-262/6.0/#sec-arrow-function-definitions

<pre>
ConciseBody: [lookahead is not `{`] AssignmentExpression |
    { FunctionBody }
</pre>

[2016-08-02 21:22] udnaan commented on #6833
Closing the issue. Thanks!

[2016-08-02 21:22] #6833 closed

[2016-08-02 21:29] platinumazure commented on #6055
@eslint/eslint-tsc I don't know if we still want to expedited-accept JSCS issues or if we should go through the same process as usual. I have a couple of open questions about non-ASCII and non-letter characters, but this otherwise seems like an actionable proposal and I think this should be accepted.

[2016-08-02 21:58] platinumazure commented on #6592
Just leaving a note here that I want to get to this pretty soon, but that I'm going to try to knock out a few JSCS compat issues first.

[2016-08-02 22:56] Mouvedia commented on #6750
@ljharb I wouldn't be so sure about that.

Only time will tell :)

[2016-08-02 23:07] ljharb commented on #6750
@Mouvedia just because editions will continue to be numbered has no bearing on whether people will colloquially use the term "ES8". Indeed, only time will tell.

[2016-08-03 00:02] jrsearles commented on #6828
Thanks - i've updated the comment to comply with the guidelines.

Yes, i would like the rule to be more flexible. I think what would be ideal is if the rule was flexible enough that the predefined formats could be wrappers around individual options.

[2016-08-03 03:15] kaicataldo commented on #6053
So it sounds like we have a few votes for feature parity with the JSCS equivalent rules with the possibility of adding nested checks in the future. Totally agree with @zxqfox and I think it makes sense to only go one level deep to start off with. Forcing nested destructuring seems like something most users wouldn't want on by default.

[2016-08-03 03:20] kaicataldo commented on #6069
Anything else left to discuss here? I'm looking for a JSCS compat issue to work on this weekend and this seems like a good one :)

[2016-08-03 03:28] kaicataldo commented on #6070
Is there a precedent for the behavior of ignoring a specific case if another rule covers it? Seems like it could be surprising behavior to not warn when `module.exports` is either at the beginning or end of a block.

[2016-08-03 03:55] platinumazure commented on #6069
:+1: from me.

[2016-08-03 04:21] platinumazure commented on #6053
I think we can agree on one level for now, just so we have something for users.

All in favor? :+1: from me.

[2016-08-03 04:24] platinumazure commented on #6070
@kaicataldo Well, according to the [Core Rule Guidelines](http://eslint.org/docs/developer-guide/contributing/new-rules#core-rule-guidelines), we need to avoid conflicts between rules. Unfortunately, that means some rules have to do an awkward dance around each other. One rule needs to be a gentleman and give way to the other. That's a crappy metaphor but hopefully you get what I'm saying. :stuck_

[2016-08-03 06:18] alberto commented on #6069
👍

[2016-08-03 06:23] alberto commented on #6055
I think default `ignoreWords` should always be applied. I don't think this should even be an option like in https://github.com/eslint/eslint/issues/6077

[2016-08-03 06:29] wKich opened #6834 "False positive 'newline-after-var' with 'semi': never"
**What version of ESLint are you using?**
3.2.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
https://github.com/wKich/eslint-config-skbkontur-keforms

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Don't get any warnings or errors.

**What actually happe

[2016-08-03 07:40] stoplion commented on #5135
According [this](https://github.com/babel/babel-eslint#note-you-dont-need-to-use-babel-eslint-if-you-are-only-using-es6es2015-eslint-actually-supports-es6es7-jsx-and-object-restspread-by-default-now),  babel-eslint is no longer needed and yes this issue this happens for me.

[code]

in my code..
`let {moduleID} = action.data;`
`moduleID is defined but never used`

`eslint v3.2.2`

[2016-08-03 08:02] krainboltgreene opened #6835 "prefer-rest-params warns when using arguments.callee.name"
**What version of ESLint are you using?** 2

**What parser (default, Babel-ESLint, etc.) are you using?** babel

**Please show your full configuration:** It's really long.

**What did you do? Please include the actual source code causing the issue.** I wrote the code:

[code]

**What did you expect to happen?**

Nothing.

**What actually happened? Please include the actual, raw output from ESLint.

[2016-08-03 08:09] vitorbal commented on #5726
Thanks all, I will get around to finishing this by the end of this week!

[2016-08-03 09:23] miguelangelalvarez commented on #6826
Hi @vitorbal, this is the rule we are using at this moment:

[code]

As you can see, by default, the member expression rule is activated because we are using the indent rule.

We want to deactivate only the member expression rule.

[2016-08-03 10:17] mikesherov commented on #6069
:+1:

[2016-08-03 11:08] nkt opened #6836 "Where should be places sharable config's plugins?"
Sorry for asking questions here, but I didn't got answer in your gitter channel.
I'm writing my own config and using `react` and `import` plugins. Where should I place these dependencies?
I mean it could be `peerDependencies` or it's ok to use `dependencies` in configuration package?

[2016-08-03 12:23] vitorbal commented on #6826
@miguelangelalvarez I'm trying to reproduce this and I am unable to. The `MemberExpression` option of the `indent` rule is off by default, so I don't see why you would be getting an error for that with the rule turned on like you describe.
Could you please post the **full** configuration file and the **raw** output with the error that you get from eslint?

For reference, here's the full configurat

[2016-08-03 12:27] vitorbal commented on #6834
Thanks for reaching out, @wKich! To help us, could you please post the **raw** output from ESLint when it runs and produces the warning you described?

[2016-08-03 12:34] vitorbal commented on #6835
Hey @krainboltgreene, thanks for reaching out!

@mysticatea this seems similar to #5990, as in, it would also be a relaxing enhancement if accepted. What do you think?

[2016-08-03 13:51] ilyavolodin commented on #6836
They have to be both `peerDependancies` and `devDependancies`.

[2016-08-03 14:39] kaicataldo commented on #6070
@platinumazure Sure - isn't the alternative to have an option that relaxes the rule for this case, though, rather than having it ignore that case by default? Seems like it could achieve the same goal without having potentially unexpected behavior in one case. Just a thought :)

[2016-08-03 15:02] georeith commented on #1512
Another place I need this is when using tools like PhantomJS. You have functions that will be run in different contexts with different globals. For example:

[code]

[2016-08-03 15:11] alberto commented on #6759
@IanVS I think what you are proposing is very reasonable, and I am not saying it would prevent the use cases we mentioned, just that it will change the current behaviour. It will affect people relying on the current one (like the example @mysticatea showed), whose setup will stop working and they'll have to change the ignore file paths. That makes me a bit reluctant to introduce this change in a m

[2016-08-03 15:13] IanVS commented on #6759
@alberto, can you explain?  I don't see how this effects @mysticatea's example.

[2016-08-03 15:41] nkt commented on #6836
@ilyavolodin it's sad, why I can't place them to just `dependencies`?

[2016-08-03 15:57] ilyavolodin commented on #6836
`dependancies` of your plugin would be 3-rd level `dependancies` for ESLint, so ESLint will not be able to find them.

[2016-08-03 16:00] nkt commented on #6836
@ilyavolodin I understand that, so it is a bug or feature? =)
I guess bug, cause eslint config is a vendor package and I don't specifying plugins, I just using config.

[2016-08-03 16:14] ghengeveld commented on #6131
There's two ways you can avoid this error:

1. `export` your const. That's what you probably intended to do anyway, assuming you use modules.
2. Configure ESLint to ignore these errors. In this case you could use a regex to ignore CONSTANT_CASE variable names:

[code]

However you should note that this will also ignore such names in other places.

[2016-08-03 16:16] ilyavolodin commented on #6836
@nkt It's neither a bug or a feature. It's just the way ESLint handles plugins/configs. ESLint can easily check config's `node_modules`, but what if plugin that you are using is also relies on some other plugin, and that one relies on something else as well? When do we stop checking nested dependancies? Bottom line, ESLint requires all of the configs/plugins to be top level dependancy. We have oth

[2016-08-03 16:16] #6836 closed

[2016-08-03 16:21] nzakas commented on #6759
@ianvs ah, gotcha. If you're unsure if this is a

[2016-08-03 16:23] nzakas commented on #6759
Sorry, my tablet freaked out and accidentally hit the wrong button.

What I was saying: if there's a question about whether or not this is a bug and whether or not we would need a major release to address, then it should go in the TSC agenda. We'd just need a comment summarizing the issue and explaining what question(s) the TSC should answer.

[2016-08-03 16:24] nkt commented on #6836
@ilyavolodin if one plugin relies to another plugin, this plugin dependencies will be resolved in the same way, recursively.
Ok, I should open another issue with feature-request for this?

[2016-08-03 16:43] ilyavolodin commented on #6836
@nkt As far as I understand #3458 should cover you case, is that correct? If it is, you don't need to open another issue, as it will just be a duplicate of existing issue.

[2016-08-03 17:19] nzakas commented on #5857
@platinumazure the proposal is to use Polyjuice. (see original description)

[2016-08-03 17:22] nzakas commented on #6525
There's nothing preventing us from doing that right now.

I think we only need `version` and `getRules`, since you can get metadata directly off of the rules.

[2016-08-03 17:27] nzakas commented on #5858
We definitely don't have to add any new configs to `--init`. It might be enough to start a JSCS migration guide and just list out the shareable config that represents each style.

Does Polyjuice deal with presets at all?

[2016-08-03 17:27] krainboltgreene commented on #6835
100%, that seems absolutely right. Should I close?

[2016-08-03 17:30] nzakas commented on #6053
We still need a champion to drive this forward.

[2016-08-03 17:30] vitorbal commented on #6835
@krainboltgreene Sorry if I wasn't clear, I think this is another false-positive that needs to be taken care of, #5990 deals with a different false-positive, so we should keep this issue open.

Just wanted to loop @mysticatea in since he is championing #5990 and probably has an opinion on this issue as well.

[2016-08-03 17:31] nzakas commented on #6055
@platinumazure we should try to follow the regular process here, do you can champion it.

[2016-08-03 17:35] bluesmoon commented on #6131
@ghengeveld thanks, this is good since by convention only (and all) `const`s use all caps in our code

[2016-08-03 17:37] nzakas commented on #6835
@krainboltgreene is that the complete source code you used or was that Ina function? (We need a complete example to verify.) Also, please provide the actual ESLint output, not just a description. Thanks!

[2016-08-03 17:39] nzakas commented on #6820
We don't yet support `async`, so it probably doesn't make sense to do this yet.

[2016-08-03 17:39] nkt commented on #6836
@ilyavolodin yes, thanks!

[2016-08-03 17:40] nzakas commented on #6814
I don't know -- I feel like that's ESlint being a bit too opinionated. Maybe people won't read the docs, but we can always point them to it. I'm not sure we need more than that.

[2016-08-03 17:43] nzakas commented on #5575
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 17:43] #5575 closed

[2016-08-03 17:44] nzakas commented on #5514
It appears this has been solved, so closing.

[2016-08-03 17:44] #5514 closed

[2016-08-03 17:45] nzakas commented on #5336
@platinumazure are you still interested in championing this? If not, then it's time to close this.

[2016-08-03 17:52] nzakas commented on #3490
Unless someone is willing to implement a prototype, we should close this. (In general, we should not be reopening issues this old as they will never get attention from the team.)

[2016-08-03 17:54] nzakas commented on #5418
@ilyavolodin do you see this as a possibility in the next 90 days? If not, I think we should close.

[2016-08-03 17:55] nzakas commented on #4209
Okay, it's been another three months without movement, so closing.

[2016-08-03 17:55] #4209 closed

[2016-08-03 17:56] nzakas commented on #5136
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 17:56] #5136 closed

[2016-08-03 17:56] nzakas commented on #5121
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 17:56] #5121 closed

[2016-08-03 18:00] nzakas commented on #6363
@mysticatea has this been solved already?

[2016-08-03 18:01] nzakas commented on #6362
@mysticatea I'm not sure what you're suggesting here. Can you explain some more?

[2016-08-03 18:05] nzakas commented on #6293
@eslint/eslint-team is anyone willing to champion this change?

[2016-08-03 18:06] nzakas commented on #6289
Closing, as this doesn't appear related to ESLint.

[2016-08-03 18:06] #6289 closed

[2016-08-03 18:07] nzakas commented on #6298
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 18:07] #6298 closed

[2016-08-03 18:08] nzakas commented on #6185
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 18:08] #6185 closed

[2016-08-03 18:09] nzakas commented on #6175
@mysticatea is this part of JSCS work?

[2016-08-03 18:10] merlinpatt commented on #3469
@bbirand You may have discovered this by now, but I had this issue too and found that you can do `js` and `jsx` without the dot. You can also do `eslint --ext=js,jsx .` to shorten the command a little more.

@lo1tuma I know this old and it's not going to be fixed but I am wondering why / how file traversal happens before reading the configuration. If the configuration is read later, how are rules

[2016-08-03 18:11] nzakas commented on #6209
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 18:11] #6209 closed

[2016-08-03 18:12] nzakas commented on #6280
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-03 18:12] #6280 closed

[2016-08-03 18:12] krainboltgreene commented on #6835
Updated with actual code, but I believe using that anywhere would get you the linter error.

[2016-08-03 18:12] nzakas commented on #6633
There's not enough info from Doctrine for this, and it's past 21 days, so closing.

[2016-08-03 18:12] #6633 closed

[2016-08-03 18:13] nzakas commented on #6617
What's the action item here?

[2016-08-03 18:14] nzakas commented on #6489
No further comments, so closing.

[2016-08-03 18:14] #6489 closed

[2016-08-03 18:15] nzakas commented on #6424
Unless someone steps forward to champion this rule, it's time to close this issue.

[2016-08-03 18:44] ispringer opened #6838 "use of ES5 prototype functions are not flagged as errors when parserOptions.ecmaVersion is set to 3"
I would expect the following line to be flagged as an error by eslint if ecmaVersion is set to 3 in my config:

[code]

[2016-08-03 18:47] ilyavolodin commented on #6525
@nzakas To get metadata directly from the rules, you need to be able to access all of the rules. That's not a huge problem from inside ESLint, but if you are using ESLint as dependency, that will be an issue. Also even from inside ESLint, getting metadata for plugin rules would not be easy. I think we also need `getRuleMetadata` or we should return metadata as part of `getRules`.

[2016-08-03 18:50] gyandeeps commented on #6838
Are you saying `trim` was introduced in ES5 thats why it should throw an error?
If yes, then parser's dont throw errors on prototype function for example `var foo = "foo".sdfdsf();` would parse fine.

[2016-08-03 18:52] ilyavolodin commented on #5418
No, sorry. I don't think I would be able to get to it in the near future. If I'll have more time at some point, I'll just open a new issue.

[2016-08-03 18:52] #5418 closed

[2016-08-03 19:06] platinumazure commented on #3469
@merlinpatt In order to resolve the correct configuration for a file, we need to read configuration in the same directory (and ancestor directories and maybe the user's home directory, and that doesn't even speak to configurations that extend other configuration files or packages). Thus, configurations are per-file and necessarily change as folders are traversed. However, extension specification a

[2016-08-03 19:22] silverwind commented on #6424
There's another unmentioned risk of multiple assignment, which is the creation of unintended globals, like `b` here:

[code]

But I've just tried it and `no-undef` correctly identifies the issue, so that somewhat devalues this possible rule in my eyes.

@nzakas Let's keep this issue open a few more days, and close it off as rejected if no strong case can be presented.

[2016-08-03 19:34] #6557 closed

[2016-08-03 19:37] kaicataldo commented on #6053
I can champion this, though I'm currently also championing one more JSCS rule and will get to that one first.

[2016-08-03 19:40] kaicataldo commented on #6751
@eslint/eslint-team Thoughts? Looks like we need two more thumbs on this.

[2016-08-03 19:41] kaicataldo commented on #6751
For context: https://github.com/eslint/eslint/issues/6066#issuecomment-227143246

[2016-08-03 19:42] ilyavolodin commented on #6751
I'll support this. Seems like a reasonable enhancement to `multiline-ternary`. 👍

[2016-08-03 20:14] platinumazure commented on #6838
I think this is best solved by writing a plugin which will enforce this sort of thing. Unfortunately we don't have the ability to reliably determine whether something is a string or not, so it would be very difficult for us to add this sort of thing to core.

That said, if you wish to propose a new rule for us to consider, please use the Proposing a New Rule page (see link in the eslintbot comment

[2016-08-03 20:35] platinumazure commented on #6751
:+1: from me.

[2016-08-03 20:36] ilyavolodin commented on #6751
@kaicataldo If you are championing this, I think you can mark it as accepted at this point.

[2016-08-03 21:29] ljharb commented on #6293
I'm still attempting to implement it, if that helps it stay open. I was blocked on https://github.com/eslint/eslint/pull/6752 being merged, so it's only been 6 days since then :-)

[2016-08-03 21:58] krainboltgreene commented on #6835
Looks like the `no-caller` has a similar situation, where it's thinking `arguments.callee.name` is similar to calling the function (like `arguments.callee()`).

[2016-08-03 22:04] wingedearth commented on #3015
What about when you have just an if and else? Like:
[code]

[2016-08-03 22:48] platinumazure commented on #3015
Simply write it like this:

[code]

If you have any other questions, please stop by our [chat](https://gutter.im/eslint/eslint).

[2016-08-03 23:58] dcleao commented on #6141
Just what I was looking for...

[2016-08-04 00:08] ljharb commented on #6293
I have the pull request ready, but since this issue isn't yet marked as accepted, it seems like I shouldn't file it yet.

[2016-08-04 00:11] mikesherov commented on #6293
:+1: on this change.

[2016-08-04 00:11] platinumazure commented on #6293
I'll champion.

[2016-08-04 00:13] ilyavolodin commented on #6293
Sounds good to me. :+1:

[2016-08-04 00:16] ljharb commented on #6438
Linking to https://github.com/eslint/eslint/pull/6839

[2016-08-04 00:36] platinumazure commented on #6293
Open question: Do we have consensus that we'll just tweak the error message for now, no location tweaks? (Location info would require reporting one violation per character instead of per literal.)

I'm :-1: (but not strongly) to location info, because I think the characters showing up in the lint message is already a huge win for 99% of use cases. If users want line/column info and create an issue

[2016-08-04 01:16] hzoo commented on #6814
Yeah hard to say. Was just exploring what we can do to inform since I think we'll get reports about it whenever there is something like that - given its the default.

[2016-08-04 01:44] ispringer commented on #6838
Yeah, that's what I was hoping for. If was hoping that if I set "ecmaVersion" to 3, eslint would throw errors on usages of prototype functions on String, Object, Array, etc. that are not defined in ECMAScript 3.

I have a project that needs to run in IE8, which is basically ES3 (though not officially), so I was hoping to set "ecmaVersion" to 3 in my config to catch usages of ES5 things like trim,

[2016-08-04 01:47] nzakas commented on #6838
`ecmaVersion` only affects the syntax that the parser recognizes -- we have no knowledge about which methods are available on which objects. You'd need to use something like Flow or TypeScript to get that level of detail.

[2016-08-04 01:53] ispringer commented on #6838
Thanks @nzakas, I'll look into using one of those. And thanks all for clearing up my misunderstanding.

Closing this issue...

[2016-08-04 01:53] #6838 closed

[2016-08-04 04:00] lukeapage opened #6840 "autofixing object-shorthand when some properties are keywords leads to parse error"
**What version of ESLint are you using?**
3.1.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default es6
**Please show your full configuration:**
`/* eslint object-shorthand: "error" */`
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
either to convert when fixing to `{ arguments }` and not give a parser error

[2016-08-04 04:09] platinumazure commented on #5336
@nzakas I'm still interested, but this fell off my radar and I won't be able to draw up a schema until maybe this weekend. I'll close for now. Sorry for holding things up.

[2016-08-04 04:09] #5336 closed

[2016-08-04 04:24] platinumazure commented on #6840
Per [the spec](http://www.ecma-international.org/ecma-262/6.0/#sec-reserved-words), I would say we need to check for reserved words for sure.

`arguments` doesn't count as a reserved words (at least in ES2015), so that seems to be a bug in Acorn and/or espree, unless I'm missing something in the spec.

I think we definitely have a bug in terms of at least autofixing too eagerly on sure keywords. I

[2016-08-04 05:35] wKich commented on #6834
@vitorbal, sorry for didn't post output right away. Here it is
<img width="586" alt="screen shot 2016-08-04 at 10 32 23" src="https://cloud.githubusercontent.com/assets/6397708/17391362/cbc58f3c-5a2e-11e6-81e6-a06f0fe842a9.png">

[2016-08-04 08:56] vitorbal commented on #6766
I believe this increases developer experience, and it's a pretty simple change, so I'm willing to champion this rule. We need 2 more 👍's and we can mark this as accepted.

[2016-08-04 09:12] vitorbal commented on #6834
Thanks! I can confirm this as well, with the following config and test file:
[code]

[code]

Results in:
[code]

[2016-08-04 09:31] mysticatea commented on #6759
@IanVS in my example, probably the developer needs to add `../` into those `*.eslintignore`.

I got it about `.gitignore` does not rely on `cwd`.
Your point sounds reasonable to me.

Hmm, I will not oppose it, but I'm still afraid to do this change without a major version...

[2016-08-04 09:48] miguelangelalvarez commented on #6826
Thanks again @vitorbal. You're right and I was wrong: the latest version fixes it and I was working with v3.2.0.

This commit has been the fix: https://github.com/eslint/eslint/commit/c7488ac6fe47d31f57fbdf72f3ef14fc4979486f

Will close the ticket.

[2016-08-04 09:49] #6826 closed

[2016-08-04 09:51] ghengeveld commented on #6131
Of course I'm not familiar with your codebase and conventions, but nowadays it's common to use `const` everywhere, not just for actual (global) constants. If I need a `let` (or `var`) I will rewrite my code to not need a `let`. In general I write all my code in an immutable fashion, so `const` is the only way to go. This means not just my contants (for example [Redux action types](http://redux.js.

[2016-08-04 09:59] vitorbal commented on #6826
@miguelangelalvarez thanks for the update, glad to hear it!

[2016-08-04 10:01] mysticatea commented on #6055
@platinumazure In Japanese, we don't have upper/lower cases. This rule simply should ignore Japanese letter. (though I'm not sure about other languages). I think `text[0] === text[0].toLocaleUpperCase()` is good. This check would become `true` if the `text` starts with an uppercase letter or a case-less letter.

[2016-08-04 10:07] mysticatea commented on #6055
Ah... This rule should skip [markers](http://eslint.org/docs/rules/spaced-comment#markers). It may need `markers` option, or simply it would skip symbol letter at the head of comments.

[2016-08-04 10:25] mysticatea commented on #6363
@nzakas No. This is a request to move the warning of `let a = a` case to `no-undef` rule from `no-use-before-define` rule. We have not moved it.

My position is neutral.
`no-use-before-define` rule is the proper rule to warn a use of variables before their definitions. On the other hand, I can understand this request. `no-use-before-define` rule is not perfect (it's the limitation of static analys

[2016-08-04 10:39] mysticatea commented on #6362
[code]

I expected this `"@mysticatea/test/test"` to be the `test` rule of `@mysticatea/eslint-plugin-test` plugin.
But actually, ESLint throws "Rule not found" error.
`"@mysticatea/eslint-plugin-test/test"` throws  "Rule not found" error as same.

On the other hand, `"test/test"` works unexpectedly for the `test` rule of `@mysticatea/eslint-plugin-test` plugin.

[2016-08-04 10:43] mysticatea commented on #6362
My suggestion is:

- `"test/test"` should pointer the `test` rule of `eslint-plugin-test` plugin.
- `"@mysticatea/test/test"` should pointer the `test` rule of `@mysticatea/eslint-plugin-test` plugin.

So this may be a breaking change.

[2016-08-04 10:46] mysticatea commented on #6175
Yes, [requireMultipleVarDecl](http://jscs.info/rule/requireMultipleVarDecl) seems to have an exception for `require()`.

[2016-08-04 10:53] mysticatea commented on #6424
Actually, I don't oppose this rule. Though I like a rule which has `always`/`never` options since I think this is a stylistic rule.

If someone champions this rule, I'll support.

[2016-08-04 11:04] mysticatea commented on #6835
Yes, this is very similar to #5990.
I will make the rule ignoring `arguments` if it's to access the properties except numbers.
So, #5990 would fix this issue as well.

[code]

[2016-08-04 11:09] mysticatea commented on #6766
:+1:

[2016-08-04 11:23] vitorbal commented on #6835
@mysticatea thanks for the update! In that case, I think we can indeed close this issue in favor of #5990.

@krainboltgreene please follow #5990 for updates. Thanks for the report and your support!

Closing this, please re-open if anyone disagrees.

[2016-08-04 11:23] #6835 closed

[2016-08-04 11:31] IanVS commented on #6759
@mysticatea Ah yes I see, thanks.  They would need to make a small change to their ignore files, but they will still be able to use that strategy.  I was trying to think of a case where if we make this change then they are unable to work the same way at all, no matter how they change the ignore file.  I can't think of anything like that so far.

[2016-08-04 11:39] IanVS commented on #6759
TSC Summary:

Currently `cwd` is used to resolve relative paths in an ignore file.  When using `--ignore-path`, the current working directory can be vastly different from the directory of the ignore file.  Because of this, the wrong files are ignored if using `--ignore-path` to a file which is not located within the `cwd`.

Proposal:

Modify the file resolution to use the directory containing the

[2016-08-04 11:46] mysticatea commented on #6840
I think it's acorn's bug, too.

FWIW, Annex C says it forbids `arguments` on `BindingIdentifier`, but in this case, the `arguments` of `{arguments}` is not `BindingIdentifier`. It's `IdentifierReference`.

I guess [this line](https://github.com/ternjs/acorn/blob/5e5e4301444d4471b62c9079d7c049afd9598ac0/src/expression.js#L521) is extra.

[2016-08-04 12:38] platinumazure commented on #5990
Just to make sure, we are expanding this to support any member expression checks where `arguments` is the object and the property is non-numeric per discussion in #6835?

[2016-08-04 12:44] ilyavolodin commented on #6766
:+1:

[2016-08-04 13:04] mikesherov commented on #5990
@platinumazure, seems correct.

[2016-08-04 13:20] danez opened #6841 "Node API does not support plugins"
**What version of ESLint are you using?**
3.2.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default, babel-eslint, doesn't matter

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

```var messages = eslint.linter.verify(code, config);````

**What did you expect to happen?**

linting warnings or no warni

[2016-08-04 13:53] platinumazure commented on #6841
You'll want to use CLIEngine.executeOnFiles(). The linter's sole job is to lint files with a prepared configuration.

[2016-08-04 14:01] #6718 closed

[2016-08-04 14:31] cristian-sima opened #6842 "no-useless-escape strange behaviour"
I have 3 functions:

[code]

In this case I really need `\.` otherwise the `replaceCharInSting` will replace **all the characters**, but I want just the dots.

[2016-08-04 14:33] michaelficarra commented on #6842
That's not how string escapes work. `"\." === "."`. This rule is working as intended.

[2016-08-04 14:37] cristian-sima commented on #6842
Yes it it, but in this case I really need `\`

[2016-08-04 14:54] platinumazure commented on #6842
@cristian-sima You want to use "\\." here. As a string literal, that gives you a 2-character string with backslash and then period. As @michaelficarra noted, "\." is a one-character string with period.

[2016-08-04 15:03] cristian-sima commented on #6842
Thank you

[2016-08-04 15:03] #6842 closed

[2016-08-04 15:20] mik01aj commented on #5990
@platinumazure According to [docs on MDN](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/arguments), there are just these:

* `arguments.callee`
* `arguments.caller`
* `arguments.length`
* `arguments[@@iterator]`

I don't think that accessing the `callee` and `caller` should be allowed.

[2016-08-04 15:22] michaelficarra commented on #6824
Who uses this pattern? Why don't you just use a function declaration?

[2016-08-04 16:14] platinumazure commented on #5990
@mik01aj Regarding callee/caller, we do have a separate rule for that ([no-caller](http://eslint.org/docs/rules/no-caller)).

[2016-08-04 16:40] alberto commented on #6759
Thanks @mysticatea. My position is the same as yours

[2016-08-04 16:52] michaelficarra commented on #6840
There's nothing that needs to be done here.

[2016-08-04 16:53] platinumazure commented on #6759
I'm okay with this being treated as a breaking change too. I just want to see it done at some point :smile:

Maybe we could also consider adding an option that would enable the old behavior? (Or put the proposed behavior behind an option, but... :cry:)

[2016-08-04 16:54] lencioni commented on #5805
The Airbnb JavaScript style guide now recommends not breaking and concatenating long strings. https://github.com/airbnb/javascript#strings--line-length

[2016-08-04 16:57] platinumazure commented on #6840
I concur with @michaelficarra that the rule does not need to be updated. I just checked the rule and it only checks for Identifier object values (reserved words would not be Identifier nodes).

I don't agree that there's nothing for acorn or esprima to do-- from what I understand of the spec, they should accept an "arguments" object shorthand key/value. @michaelficarra If there is something in the

[2016-08-04 17:01] platinumazure commented on #5805
Can someone please put together a concrete proposal using the "Proposing a Rule Change" instructions above, which answers all of the open questions? If someone can get that put together, I'm willing to champion.

Open questions:
* Should strings and template literals be configurable independently, and if so, how should those options look?
* Should we discount the length of the string from the offe

[2016-08-04 17:03] ljharb commented on #5805
- Yes, because I don't wish to distinguish between template literals and other string literals - although I don't object to https://github.com/eslint/eslint/issues/5805#issuecomment-229165870, and configurability is a good thing.
- Personally I think the length of the string should be discounted from the line entirely, but in reality it should be identical to what "ignoreUrls" does.

I'll write wh

[2016-08-04 17:21] IanVS commented on #6759
Oh man, please no options!  😺

Seriously though, if this is a breaking change, I'd rather just wait for a major version.

[2016-08-04 17:23] platinumazure commented on #6759
@IanVS Apologies, I meant as a separate enhancement later on. No need to add an option now. I'm also okay with treating this as a breaking change.

[2016-08-04 17:52] mikesherov commented on #5990
Right, I agree @mik01aj but the rule is about prefering rest parameters over arguments, so erroring on using arguments other than as a parameter shouldn't cause an issue.

[2016-08-04 18:42] vitorbal opened #6843 "`eslint --init` with airbnb config doesn't install all necessary peerDependencies"
**What version of ESLint are you using?**
3.2.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Was automatically generated by `eslint --init` command (See raw output in the end):
[code]

**What did you do? Please include the actual source code causing the issue.**
I called `eslint --init` from the command line. See raw output in the

[2016-08-04 18:50] vitorbal commented on #6843
Ideally we could find a way to keep the peerDependencies in sync with the help of a shell command like the one suggested in [the eslint-config-airbnb repository](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb#eslint-config-airbnb-1).

But considering the added amount of work, I think for now it would be acceptable to just update the `getConfigForStyleGuide` function

[2016-08-04 18:52] platinumazure commented on #6843
Looking ahead a bit, I wonder if we could extract some of that information to a configurable JSON file to make maintenance a bit easier?

I'm not advocating doing that for this issue-- just thinking it might be a worthwhile refactor later on.

[2016-08-04 18:53] vitorbal commented on #6843
Agreed, the thought crossed my mind as well. How do we usually approach this? A separate "Chore:" commit, perhaps?

[2016-08-04 18:53] #6824 closed

[2016-08-04 19:21] pelotom commented on #3034
Yeah, it seems like there is still a fundamental conflict between `react/wrap-multilines` and `no-extra-parens`...

[2016-08-04 19:39] platinumazure commented on #6843
@vitorbal Yeah, separate chore issue and commit might be the way to go. (Although that could be an Update, not sure.)

[2016-08-04 20:50] IanVS commented on #6780
Cool.  Does anyone have opinions on whether this is a bug (and therefore able to be accepted now), or an enhancement requiring TSC approval?  Looks like we have a tentative 👍 from @nzakas and @ilyavolodin.  Perhaps you could try it out and do a little profiling @royriojas to help with a final decision?

[2016-08-04 21:55] royriojas commented on #6780
Sure. I honestly don't think this will have any sensible impact in
performance, but I can do some checks to view how much are we impacted

On Thu, Aug 4, 2016, 3:50 PM Ian VanSchooten <notifications@github.com>
wrote:

[2016-08-04 22:08] mysticatea commented on #6824
@michaelficarra At least, we can use this to avoid conflict with (func-style: expression & func-names: never).

[2016-08-04 22:30] ilyavolodin commented on #6843
I don't really think that extracting it to JSON file is going to help any. It's already trivial to add dependencies to the init command, since it just requires adding additional string to an array. (see https://github.com/eslint/eslint/pull/6657/files#diff-da527c6839c0e6e4d343b5c77fcdd27cR281)

[2016-08-04 22:41] mysticatea commented on #6841
Yes. Please use CLIEngine in that case. `linter` is API which should work in browsers, so it cannot depend on file system.

[2016-08-04 22:52] danez commented on #6841
I see thanks, thats what we ended up doing.

[2016-08-04 22:52] #6841 closed

[2016-08-05 00:42] IanVS commented on #4828
Sorry, I lost track of this. Will work on it shortly.

[2016-08-05 05:00] ljharb commented on #6843
The airbnb config may add or remove peer deps at any time, so using the command referenced [here](https://github.com/eslint/eslint/issues/6843#issuecomment-237647498), which looks up whatever's in the config's package.json, is going to be the most robust approach.

[2016-08-05 06:14] ratherblue commented on #6759
:thumbs_up:

On Thursday, August 4, 2016, Kevin Partington <notifications@github.com>
wrote:

[2016-08-05 06:14] alberto commented on #4828
I think we should wait on this until https://github.com/eslint/eslint/issues/6710 is solved.

[2016-08-05 06:24] ratherblue commented on #6759
I know I opened the issue, but fwiw I also feel like it's a bug and I'm okay with it being a breaking change. A lot of SublimeText users are eager for that change, and I know the entire dev team at my previous job will be happy, too.

[2016-08-05 08:18] mik01aj commented on #5990
@platinumazure good point, thx. Agree.

[2016-08-05 09:22] mysticatea commented on #6834
I will work on this.

[2016-08-05 09:23] ghengeveld opened #6845 "Support "varsIgnorePattern" on no-redeclare rule"
**ESLint version:** 3.2.2

**The problem**
I'm using `no-unused-vars` with `"varsIgnorePattern": "_+"` in order to allow this syntax (in React):

[code]

As you see I'm using the ES6 rest parameters syntax to create a shallow copy of the `this.props` object while omitting certain properties, so I can use the JSX spread operator to pass them all in one go. This is necessary because React will throw

[2016-08-05 11:15] mk-pmb commented on #5808
Does anyone have an in-the-wild example where flow control in a finally block caused an actual problem?

[2016-08-05 11:35] mysticatea commented on #6840
I sent a PR: https://github.com/ternjs/acorn/pull/444

[2016-08-05 11:42] mysticatea opened #6848 "Type error in an internal-rule"
I just found that our a CI build was failed by TypeError of `internal-no-invalid-meta` rule.
I have not investigated it yet.

https://travis-ci.org/eslint/eslint/jobs/149564000#L559

[2016-08-05 12:11] vitorbal commented on #6848
@mysticatea i'll investigate. Looks like the rule does not follow the new rule format and does not provide a meta property.

[2016-08-05 12:15] IanVS commented on #4828
@alberto, could you explain why? I know #6710 is an important enhancement, but this bug prevents use of ESLint altogether for some cases. And I don't see how the other issue is a blocker in any event.

[2016-08-05 12:30] vitorbal commented on #6848
Thanks for opening the issue, @mysticatea! I notified the author of the PR that he needs to update his rule to the new format.

But I'm also going to work on a better handling of the case where a rule is on old format, so it shows a lint message instead of throwing!

[2016-08-05 13:23] #6843 closed

[2016-08-05 13:25] michaelficarra commented on #6840
@platinumazure Yes, that's what I meant. I didn't see why we were keeping this issue open.

[2016-08-05 13:53] bfred-it commented on #1238
Side note: eslint-based [xo](https://github.com/sindresorhus/xo#usage) has this behavior exactly:

It's not about global/local, it's about being able to run `eslint` from the cli of any project and have it work correctly **for that project.**

At best, the current setup is **inconsistent** since `eslint` follows the rules of the current project but looks for global plugins. Either the global `esli

[2016-08-05 13:55] alberto commented on #4828
Sorry, you are right maybe it's not needed. _I_ was planning to fix #6710 and then fix this, because I was concerned there could be a performance impact with hidden folders created by tools, but I don't have any numbers.

[2016-08-05 14:07] platinumazure commented on #1238
What would it even mean to follow "global config only" from inside a project? What constitutes "global config" in that case? Home directory config only? Anything outside the project directory? (Should ESLint be expected to know the project root directory?) And how would this behavior be anything but surprising to end users, when there are configuration files they configured next to (or in close an

[2016-08-05 14:17] michaelficarra commented on #6363
👍 Let's move it to `no-undef`.

[2016-08-05 14:34] frontsideair opened #6851 "Cannot find plugin in a symlinked environment"
**What version of ESLint are you using?**
v2.13.1

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
`eslint src/js --ext .js --ext .jsx`

My node_modules directory is auto-generated by nix, all packages under it are symlinks and my guess is plugi

[2016-08-05 15:16] JakeSidSmith opened #6852 "Support for spread operator in JSX (without ES6)"
Using the spread operator in JSX should work in any ecma version, but instead you must set the version to 6 (or higher).

Spread is part of the JSX spec: http://facebook.github.io/jsx/
And is supported in JSX by other libraries, such as babel (with babel-preset-react).
Acorn has an official plugin that supports this: https://github.com/RReverser/acorn-jsx
And espree's readme has an example, having

[2016-08-05 15:19] platinumazure commented on #6852
Thanks for the issue!

Adding "blocked" label because this is likely an upstream issue. We will probably create an issue upstream and link to that issue from here (and we may close this issue at that time).

[2016-08-05 15:43] michaelficarra commented on #6820
I don't see what the actual benefit is here. Why would someone choose to enable this? It's not protecting them from any potential error, and it's not warning of something "unnecessary", as you cannot simply remove the `await` keyword and expect nothing to change.

[2016-08-05 16:19] platinumazure commented on #6851
Just so we can confirm whether node `require()` is broken or if this is ESLint-specific, could you please try the following?

[code]

If that fails in the Node REPL, then this is a Node problem with symlinked node_modules. If that works, then it's an ESLint issue (and also probably has nothing to do with the symlinking). Thanks!

[2016-08-05 17:35] frontsideair commented on #6851
Hi @platinumazure and thanks for prompt reply!

I ran it on the root directory (parent of node_modules) and it worked. But when I switch to the directory where eslint executable is linked to, it doesn't. I wonder how does eslint resolve required modules, can you suggest an easy way to check that?

[2016-08-05 20:59] mattmarcum commented on #6775
@ilyavolodin decorators are finally stage 2 now!  What stage do they have to be to get official eslint support?

[2016-08-05 21:02] hzoo commented on #6775
ESLint doesn't support async/await yet by default either - I would follow https://github.com/eslint/eslint/issues/6693

[2016-08-05 21:08] platinumazure commented on #6775
@mattmarcum Stage 4, plus however long it takes Acorn and espree to support it. Sorry, but you'll still need babel-eslint a little while longer.

[2016-08-05 21:23] btnwtn opened #6853 "error 'arguments' is not defined `no-undef`"
**What version of ESLint are you using?**
v3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default/eslint-loader?

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Setup a barebones eslint preLoader in webpack, set ecmaVersion to 6 and tried to spread arguments into console.log

[code]

**What did you

[2016-08-05 21:28] gyandeeps commented on #6853
Thats a syntax error when it comes to arrow functions.

Also if you try to run your code in chrome console directly, it will throw an error.

[2016-08-05 21:28] ilyavolodin commented on #6853
To the best of my knowledge, you can't use arguments inside arrow functions. It looks like the rule is doing the right thing.

[2016-08-05 21:39] btnwtn commented on #6853
Ah it appears you two are correct, looks like I need to brush up a bit more on arrow functions. Closing this issue.

[2016-08-05 21:39] #6853 closed

[2016-08-05 22:20] jostrander opened #6854 "Consider trimming the plugins entries in .eslintrc"
**What version of ESLint are you using?**

3.2.2

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Completely user error: took me about 45 minutes to figure out the appended space in `.eslintrc` was causing the plugin to not be found.

Can we consider have the plugins list configured to trim the entered values and/or g

[2016-08-05 22:24] platinumazure commented on #6854
Actually that was silly of me to have you report this as a bug, it's really a core enhancement request. My bad.

For the team: We should see if we can trim plugin entries, maybe "extends" entries as well, assuming whitespace is invalid on an npm package name.

[2016-08-05 23:58] mk-pmb commented on #5202
Could a rule add a task to be run later, when the results of first linting are in? Kinda like multipass video encoding. The defered task could lint again w/o the disable comments and compare.

[2016-08-06 00:05] ljharb commented on #6528
Since async/await is now stage 4, should this be reopened?

[2016-08-06 01:15] ilyavolodin commented on #6528
@ljharb It's still not implemented in Acorn/Espree, so I think we should hold off till we can actually implant this change.

[2016-08-06 02:32] ljharb commented on #6528
Sounds good! Linking to https://github.com/ternjs/acorn/issues/441 and https://github.com/eslint/espree/issues/287

[2016-08-06 08:29] danez commented on #6364
Seems that the changes to in #5543 were only made to support unknown node types. So in case of nodes that are known by [estraverse](https://github.com/estools/estraverse/blob/master/estraverse.js#L218) you need to overwrite the internal VisitorKeys, as the `fallback` will only be used when there is [no entry in the VisitorKeys](https://github.com/estools/estraverse/blob/master/estraverse.js#L517).

[2016-08-06 13:02] mcasimir opened #6855 "Provide a way to check for conditionals on process.env.NODE_ENV"
### Request:

I'd like to have a way to prevent `if (process.env.NODE_ENV === 'production')` while allowing other environment variables to be used freely.

The closest rule i've found is `http://eslint.org/docs/rules/no-process-env` but it serves for another purpose.

### Motivation:

Many cloud providers as well as mainstream technologies like docker and kubernetes allows to use environment varia

[2016-08-06 16:25] platinumazure commented on #6855
This sounds like a good candidate for a custom rule. Or you could visit the [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node) repository and see if this might be a suitable rule for that plugin. But I don't think this is a good candidate for core.

Labeling as a new rule request for now.

[2016-08-06 22:45] ejfrancis commented on #6390
@btmills no problem, I just filed an issue over in the `is-my-json-valid` repo

[2016-08-07 05:46] OmgImAlexis commented on #1919
@nzakas any updates on this?

I have the code below yet I'm still getting an error.

[code]

I'm using @sindresorhus's [xo linter](https://github.com/sindresorhus/xo/).

[code]

[2016-08-07 10:30] epoberezkin opened #6857 "Disallow new with empty parens"
The rule can be implemented as one of the following:
- an option in new-parens rule
- an option in no-extra-parens rule
- a separate rule

**When does this rule warn? Please describe and show example code:**

[code]

**Is this rule preventing an error or is it stylistic?**

Stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

It is generic

**Are you willin

[2016-08-07 12:39] Thaina commented on #3677
Are there anyway we can init eslint at home directory?

[2016-08-07 13:49] platinumazure commented on #6857
I think the best approach is probably as an option for `new-parens`. Would you mind tweaking your original post to follow our [Propose Rule Change template](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change) along those lines? Thanks!

[2016-08-07 14:52] tsnig opened #6858 "Eslint cannot be run in Visual Studio 2015"
I need to integrate eslint running into Visual Studio 2015 (version 14.0.25425.01 Update 3). I want to have errors listed in an "Error List" window with files names and lines where it happened.

I am using the following package.json configuration:
[code]
Eslint configuration is the next one:
[code]
This configuration successfully works in Visual Code and through command line utility. But in VS no

[2016-08-07 15:01] ilyavolodin commented on #6858
I know this is probably not the answer you are looking for, but there are better ways to integrate ESLint with Visual Studio. You can install [.NET Core Tooling Preview 2](https://www.microsoft.com/net/core#windows) which comes with built-in integration with ESLint. If that's not an option, you can also install [Web Analyzer](https://visualstudiogallery.msdn.microsoft.com/6edc26d4-47d8-4987-82ee-7

[2016-08-07 15:15] tsnig commented on #6858
@ilyavolodin , I have .Net Core Tooling and Web Analyzer installed, but it does not help. When I click on Run Web Code Analysis, nothing happens.
My configuration is run in the command line successfully, but I would like to have integration with VS for easier development.

[2016-08-07 16:45] mcasimir commented on #6855
@platinumazure thanks for considering it. I was actually thinking more about an extension of `no-process-env` that allows to restrict the warning/error to some specific variables.

[2016-08-07 17:27] stoplion opened #6859 "ESLint crashed: Failed to load plugin react"
Eslint crashes in Sublime Text

Eslint `v3.2.2`
`"eslint-plugin-react": "^6.0.0",`

[code]

[2016-08-07 17:31] platinumazure commented on #6855
Sure! And I was just trying to say I consider such an enhancement unlikely
to be accepted, since one of our requirements for new features and
enhancements is whether the missing functionality is critical to users of
core ESLint in aggregate, which I'm personally not persuaded is the case.
But maybe the rest of the team will feel differently.

I'll try to get a few more folks to look at this today.

[2016-08-07 17:35] mcasimir commented on #6855
Cool. I'll follow here and figure out a way around in case it would be rejected. Thanks!

[2016-08-07 17:37] stoplion commented on #3782
Having same problem the above solutions did not fix

[2016-08-07 17:49] platinumazure commented on #6859
Does this happen on the command line?

If so, the problem is with eslint-plugin-react. If not, the problem is with sublime linter. Either way, not sure it's an ESLint issue yet.

[2016-08-07 17:55] stoplion opened #6860 "Error in cli.js"
copied from SublimeText console
[code]

[2016-08-07 17:57] mysticatea commented on #6855
If we move `no-process-env` rule to [eslint-plugin-node](https://github.com/mysticatea/eslint-plugin-node), I can accept it :stuck_out_tongue_winking_eye: .

I know containers prefer environment variables.
But I'm hard to think I use the environment variables from a whole program.
A config file would refer the environment variables and others would refer the config file.

[code]

In this case, `no

[2016-08-07 18:01] stoplion commented on #6859
Yes you are correct. It does not happen for the command line.

[2016-08-07 18:01] #6859 closed

[2016-08-07 18:03] mysticatea commented on #6860
The error message seems to indicate you are using an old version Node.js.
If you are using v6.3.1 really, it supports `let` syntax.

[2016-08-07 18:22] mysticatea commented on #6820
@nzakas Yes. It's the reason I wrote, "We can add the rule for those after our parser supported those."

@michaelficarra Granted, `require-yield` rule does not say the reason. I think it's good to support refactoring. For an example, if I modify to a function which returns a `Promise` object from an async function, this rule will prevent some mistakes. Another example, if I just forgot to write `a

[2016-08-07 18:32] mcasimir commented on #6855
@mysticatea I use env vars it in a way that is very similar to what you wrote, except i like to split in by modules and not to create a whole config so each modules holds their own configuration and are easier to drop or replace.

Speaking about containers kubernetes config maps or gitRepo volumes makes also reasonably handy to inject a whole config file and avoid env vars at whole.

Still the pro

[2016-08-07 18:43] mysticatea commented on #6840
OK. I'll close this issue as no change for eslint.
@lukeapage Please track https://github.com/ternjs/acorn/issues/444 for this.

[2016-08-07 18:43] #6840 closed

[2016-08-07 18:59] ilyavolodin commented on #6858
@tsnig Sorry, I haven't worked with Visual Studio in a while, but my guess would be global vs. local installation of ESLint. As far as I remember, Web Analyzer runs global installation of ESLint, it's possible that .Net Core Tooling does as well. In that case, you need all of your plugins/configs installed globally too.

[2016-08-08 00:37] IanVS commented on #5135
@stoplion, That looks correct.  You've destructured `moduleID`, but not used it anywhere.  That does not seem related to this issue.

[2016-08-08 06:32] trongthanh commented on #3737
I can confirm with @bfred-it that attempt to convert indent from spaces to tabs mess up all of the files.

[2016-08-08 08:35] vitorbal commented on #6860
thanks for reaching out, @stoplion! As @mysticatea  mentioned, could you check if the problem is your Node version?
If it's not and you want to report a bug, please make sure you follow the template provided above by the @eslintbot. Thanks!

[2016-08-08 10:04] facboy opened #6861 "Allow disabling environments with inline comments"
**What version of ESLint are you using?**

3.2.2

It would be nice if we could disable environments using inline comments and/or the command-line, eg

[code]

could be used to enable node and disable mocha.

[2016-08-08 10:56] tsnig commented on #6858
Installing eslint, eslint plugins and configuration globally helped. In addition, it is required to add eslint as external tool (Tools -> External Tools) to have Visual Studio take you to the line where the error occurred

[2016-08-08 10:56] #6858 closed

[2016-08-08 11:27] fasttime opened #6864 "Parentheses around numeric literal followed by "." should not be recognized as gratuitous."
In the statement:

[code]

The parentheses around 1 produce the error:

    Gratuitous parentheses around expression  no-extra-parens

But removing the parentheses results in a syntax error.

On the other hand, rewriting the statement as

[code]

Results in

    A trailing decimal point can be confused with a dot  no-floating-decimal

It would be nice if ESLint allowed at least the first syntax, a

[2016-08-08 11:59] thefringeninja commented on #3034
:+1: @fernandopasik the extra parentheses are idiomatic jsx.

You can sort of get there with `{ "returnAssign": false }` but that won't work in all cases e.g., defining a jsx snippet inside of an array.

[2016-08-08 12:36] platinumazure commented on #6861
I'm not sure there's much we can do here. To help explain why, let me give some background on the order we do things in ESLint.

For each file:

1. Read configuration files to determine configuration for that file (we may cache these results to avoid repeating this step for files in the same directory but we do have to determine the configuration for each file)
1. Read the file contents and parse

[2016-08-08 13:18] facboy commented on #6861
I guess this means it is virtually impossible to disable an environment on a per-file basis, without resorting to a completely separate eslint run with a different config file?

For completeness sake, what about on the command-line?  Not that this would help with the above.

[2016-08-08 13:42] fasttime commented on #6864
ESLint v3.2.2

[2016-08-08 13:46] #5438 closed

[2016-08-08 13:49] platinumazure commented on #6864
For the decimal case, I think that rule can be suppressed using `1.0.toString()`, though that's not ideal.

I think I agree that this might be a bug in `no-extra-parens`, but let's see what the rest of the team thinks.

[2016-08-08 14:46] vitorbal commented on #6864
I was unable to reproduce this with the following config file and test code:

[code]

[code]

@fasttime could you please post the ESLint configuration you are using that produces the error message mentioned?

[2016-08-08 15:25] SpadeAceman commented on #6424
An example of an issue only this rule could catch:

[code]

As for precedent, aside from [Python](http://effbot.org/pyfaq/why-can-t-i-use-an-assignment-in-an-expression.htm), a number of recently-created languages also treat assignments as statements, or expressions which return no value:

* Go ([section 12, Semantics: "assignment is not an expression"](https://talks.golang.org/2012/splash.article

[2016-08-08 16:35] jonkoops commented on #4483
Note that when support is dropped for older versions of Node we should add the correct Node version to package.json.

I.e.
[code]

[2016-08-08 16:37] michaelficarra commented on #6424
@mysticatea What would an `always` option for this rule even mean?

@SpadeAceman Thanks for the perspective. Redefining this rule as "allow assignments only in statement position" makes it much more appealing. 👍

[2016-08-08 18:47] platinumazure commented on #6424
@michaelficarra Does "statement position" also include loop initialization/afterthought and conditional tests, in your description? We would want to be very careful not to ruin for loops, for example.

[2016-08-08 20:45] fernandopasik commented on #3034
Right now if you include the react plugin there is no problem using `no-extra-parens` with the return statement. This example does not present a linting error even without configuring the option that you mention @thefringeninja (Mi config right now has the rule as `'no-extra-parens': 'error'`)

[code]

But when you have just a var assignment like in my previous [example](https://github.com/eslint/

[2016-08-08 21:25] eelyafi opened #6866 "Sort-imports autofixer"
Implement sort-imports rule autofixer.

There is sort-import rule but there is no autofixer.
Add an option to put some imports on the very top. For example imports from React should go first.
The autofixer requires multilines changes.

Example:
import React, { Component, PropTypes } from 'react';
import A from 'foo';
import { B } from 'bar';

I already have a quick prototype of the autofixer.

[2016-08-08 21:28] Daniel15 opened #6867 "Rule Proposal: Spacing in `if` statement condition"
Not sure if there's already an ESLint rule for this, I couldn't find one.

**When does this rule warn? Please describe and show example code:**
Bad:

[code]

Good:

[code]

[code]

**Is this rule preventing an error or is it stylistic?**
Stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**
It seems like it'd be just as useful as other stylistic rules include

[2016-08-08 21:49] platinumazure commented on #6867
This seems analogous to (but obviously not the same as) [object-curly-newline](http://eslint.org/docs/rules/object-curly-newline) with its multiline option. Seems reasonable to me, I suppose.

@Daniel15 Would you mind looking at the [rule change template](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change) and adding any missing information to your post? Thank

[2016-08-08 21:53] Daniel15 commented on #6867
I haven't. Currently I just enforce it in code reviews.

@platinumazure  - Which parts of that template are required for *new* rules? It looks like the template is mainly for changes to *existing* rules.

It looks like we're currently on ESLint 2.7.0.

[2016-08-08 22:01] platinumazure commented on #6867
Ack! You're completely correct, I'm just half asleep today. The New Rule Template is [here](http://eslint.org/docs/developer-guide/contributing/new-rules#proposing-a-rule).

[2016-08-08 22:10] bdukes commented on #6262
@mattbrooks2010 I've gone ahead and published this at https://www.npmjs.com/package/eslint-formatter-vso

[2016-08-08 22:40] Daniel15 commented on #6867
Thanks @platinumazure, I updated the issue description based on the template :smile:

[2016-08-09 00:19] #5726 closed

[2016-08-09 00:22] #6834 closed

[2016-08-09 00:30] #6848 closed

[2016-08-09 00:49] ilyavolodin commented on #6293
@eslint/eslint-team Can we get one more :+1: here to mark this as accepted? We have a PR that already has been code reviewed and just waiting for this issue to be accepted.

[2016-08-09 00:57] #6186 closed

[2016-08-09 01:04] #6080 closed

[2016-08-09 01:05] ilyavolodin commented on #6736
@LegNeato Could you confirm that this is only an issue with `babel-eslint`?

[2016-08-09 01:19] btmills commented on #6293
Makes sense to me :+1:

[2016-08-09 02:06] LegNeato commented on #6736
@ilyavolodin I believe this **is an issue with the default parser** too. The reason why the above wasn't erroring is because it matches the default behavior--changing the example shows the bug (sorry for picking a bad example):

[code]

[code]

Note that `memberSyntaxSortOrder` has `single` before `multiple` (matching the code) so this should not produce an error. It incorrectly produces an error

[2016-08-09 02:10] mysticatea commented on #4483
@jonkoops [package.json#L118-L120](https://github.com/eslint/eslint/blob/f8ab8f1283966ac03312ab1c7d215c210e93f3b1/package.json#L118-L120)

[2016-08-09 02:17] mysticatea commented on #6424
@michaelficarra

### never

[code]

### always

[code]

----

Ah, I had not considered about `+=`.
The rule to prevent `a += b = c`  sounds good to me.

[2016-08-09 03:56] tbillington opened #6869 "eslint-disable-next-line fails"
**What version of ESLint are you using?**
`v3.2.2`
**What parser (default, Babel-ESLint, etc.) are you using?**
Whichever the latest airbnb config uses.
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
The lint error to be hidden
**What actually happened? Please include the actual

[2016-08-09 04:01] platinumazure commented on #6869
Per our [configuration docs](http://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments), ESLint still has to parse the entire file, so all code in a "disabled" line must still parse.

Please show your ESLint config and we can help you figure out what's wrong. At minimum you need parserOptions ecmaVersion at 6 or higher, and you may also need ecmaFeatures: experimentalObjec

[2016-08-09 06:44] jonkoops commented on #4483
@mysticatea Nice!

[2016-08-09 08:02] kaelzhang commented on #6759
I was thinking whether I should add a `cwd` option to `node-ignore` in order to support checking an absolute path.

[2016-08-09 08:16] mysticatea commented on #6869
Yes. Comments to disable rules cannot disable parsing errors. The parsing errors is not from any rule.

[2016-08-09 08:27] tbillington commented on #6869
The airbnb config has `emcaVersion: 6` set, is that not enough to cover the spread operator ?

[2016-08-09 08:54] vitorbal commented on #6869
@tbillington to enable rest/spread for objects, you will need to turn on the `experimentalObjectRestSpread` [parser option](http://eslint.org/docs/user-guide/configuring#specifying-parser-options).

[2016-08-09 09:35] mysticatea commented on #6869
@tbillington The spread operators are not a part of JavaScript yet. It's [a stage 2 proposal](https://github.com/tc39/proposals#ecmascript). So you require additional flag (`experimentalObjectRestSpread`) in order to use the experimental syntax.

[2016-08-09 11:07] mysticatea opened #6870 "`npm test` does infinite looping"
Currently, the test of ESLint seems to be broken on Windows.

https://ci.appveyor.com/project/nzakas/eslint/build/3834

It seems to start infinite looping (it's consuming CPU 1 Core 100%) after it printed "Validating JavaScript files".
This has reproduced on my local machine.

I'm not sure what is happening...

[2016-08-09 11:27] mysticatea commented on #6870
- Windows 7
- both PowerShell (GitHub Shell) and cmd.exe
- both Node 4.4.7 and Node 6.3.1
- npm 3.9.0

[2016-08-09 13:27] ilyavolodin commented on #6870
I can confirm. It's also goes into infinite loop on my machine. Could this be related somehow to #6850 that's the only thing that changed recently. But then I'm not really sure why it's failing on Windows only.

[2016-08-09 14:12] gyandeeps commented on #6870
Confirmed: If I remove this commit https://github.com/eslint/eslint/commit/f8ab8f1283966ac03312ab1c7d215c210e93f3b1 then the lint works fine. This is currently the top most commit.

[2016-08-09 14:27] gyandeeps commented on #6870
Found the issue. Will send a PR with the fix.
Reason is that we hitting the limit on how many files can be passed though cli into eslint. Will explain more once i have the PR out.

[2016-08-09 15:24] gyandeeps commented on #6870
Fun facts:

- I did this `console.log(process.argv.join("").length)`
- I could make the console work for 7860
- as soon as i add one more character, it would hangup

[2016-08-09 15:30] Wilfred opened #6873 "Add --fix option for no-mixed-spaces-and-tabs"
It would be really useful to add a `--fix` option for the no-mixed-spaces-and-tabs rule.

[2016-08-09 15:50] platinumazure commented on #6873
How would you propose fixing in this case?

* Under what conditions should tabs be favored, rather than spaces?
* How would you know the number of characters that should be inserted or removed?

[2016-08-09 16:07] platinumazure opened #6874 "ESLint CLI gives no information about exceptions thrown on plugin load"
**What version of ESLint are you using?**
2.13.1 (with eslint-plugin-react 6.0.0)

**What parser (default, Babel-ESLint, etc.) are you using?**
Default (this shouldn't matter)

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Plugin loads successfully, or if it fails to load,

[2016-08-09 16:12] platinumazure commented on #6874
In addition, I'm wondering if we want to try to detect if the plugin existed (but threw) vs the plugin didn't exist, and modify the pretty message template accordingly.

[2016-08-09 16:52] #6870 closed

[2016-08-09 17:09] michaelficarra commented on #6424
@platinumazure Anywhere the value is thrown away. So even `void (a = b)` is technically fine by me, and `for(a = b;;)` should be allowed, though I don't see why anyone would write that.

@mysticatea Ah, so `always` means adjacent assignments to the same primitive value or reference? I don't think that's needed.

[2016-08-09 17:32] Wilfred commented on #6873
Perhaps an option `prefer: "spaces"` or `prefer: "tabs"` to decide which character to replace with?

Likewise, `"tab-width"` in spaces could be an option. Assuming the user wants to replace tabs with spaces, the value of `"tab-width"` is less important because the indent rule can fix the code once it's all spaces.

[2016-08-09 17:37] pmcelhaney commented on #6874
Is it only 2.x or does it happen on 3.x as well?

[2016-08-09 17:50] platinumazure commented on #6874
@pmcelhaney Good question, I'll try to repro with latest and see what happens.

Unfortunately the issue can be obscured by the fact that a plugin could fix itself (this only happens when a plugin exists locally but throws when it is require'd by ESLint). So I suppose the best thing I could do is to create a temporary repo representing a bad plugin that could be `npm link`'d to reproduce the issue.

[2016-08-09 17:56] Wilfred opened #6875 "indent adds a wrong amount of space when tabs are present"
Given the following file foo.js, which is tab indented:

[code]

Running `eslint --no-eslintrc --fix --rule 'indent: "warn"' foo.js` changes foo.js to:

[code]

This has inserted 40 spaces on lines 2 and 3. This isn't idempotent, running the same command again gives:

[code]

I'm using v3.2.2 with the default parser.

I was expecting eslint to replace the tabs with spaces. Failing that, I would ha

[2016-08-09 17:59] Wilfred commented on #6873
Alternatively, if the indent rule could replace tabs (see #6875), this would be redundant.

[2016-08-09 20:57] nzakas commented on #6724
If there are no objections, I'd like to mark this as accepted because it's a big blocker for the TypeScript work.

[2016-08-10 00:23] nzakas commented on #6814
I'm definitely :-1: on having ESLint check what your `package.json` says when it's running -- some may still want to use `^` and I don't want to nag them about it.

Do you have another recommendation?

[2016-08-10 00:24] ljharb commented on #6814
Is it entirely out of the question to change the semver policy in such a way as more things cause semver-major bumps? There's zero things wrong with being on `v123.4.5` if it comes to that.

[2016-08-10 00:29] nzakas commented on #6525
@ilyavolodin sorry, I'm not sure what you're saying the problem is. Why can't I do this?

[code]

I'm unclear on why plugin rules would be different from any other case. Wouldn't that just be this?

[code]

If not, can you please be more descriptive and include some examples? I'm having trouble following this as an abstract idea.

[2016-08-10 02:22] ilyavolodin commented on #6525
@nzakas I'm talking about `getRules` API as it is describe in my initial post, as in, it doesn't return actual rules.

Do you want to change that and return a full rule from that API call? I'm fine with that, and in that case we don't need `getRuleMetadata`, but then I have a slight concern about the size of returned array. Shouldn't be a problem in most cases, but if the target use-case is just g

[2016-08-10 02:24] tbillington commented on #6869
Ah, I see. Thank you.

[2016-08-10 02:54] nzakas commented on #6525
Ah, I was focusing on the first sentence in your description, "Should return all currently loaded rules." To me, that means you return whatever is `require`d from the rule file. In general, it seems strange that `getRules` would return something other than the actual rule from the file. (Also, I have no idea what "current configuration" means in this context. There's no configuration until a file

[2016-08-10 07:35] justin808 opened #6876 "new-cap rule flagging React SFC as invalid"
**What version of ESLint are you using?**
3.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel

**Please show your full configuration:**
using the latest airbnb react config

**What did you do? Please include the actual source code causing the issue.**
[code]
and reference to that:

[code]

**What did you expect to happen?**
No error since this is a SFC, required to be capitaliz

[2016-08-10 08:31] #6766 closed

[2016-08-10 09:58] vitorbal commented on #6869
Closing, as the issue seems to be resolved. Please reopen if there is more to discuss.

[2016-08-10 09:58] #6869 closed

[2016-08-10 11:11] vitorbal commented on #6876
Hmm, I don't think this is really a bug since ESLint doesn't have (and shouldn't have) any knowledge about React.
I wonder if this wouldn't be more suited as a custom rule for [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react).

[2016-08-10 12:52] ilyavolodin commented on #6525
Sounds good to me. So let's have `getRules` return a map of rule names to implementation. In that case, we don't need `getRulesMetadata` at all.

[2016-08-10 12:58] platinumazure commented on #6525
My only concern is normalizing between old and new style rules (irrelevant in the case of core rules, but relevant for plugin rules which may be old style). Could/should the API normalize that at all? (It wouldn't be too hard to normalize an old style rule to new style, for example.)

[2016-08-10 14:34] gyandeeps commented on #6875
This is a known issue. I know long time back @platinumazure worked on something similar. Can't remember all the details.

[2016-08-10 14:58] jrsearles commented on #6828
I created a plugin (https://github.com/jrsearles/eslint-plugin-brace-rules) which is a reworking of the `brace-style` rule with the flexibility i'm looking for. It's completely backwards compatible (at least all tests pass). I also made it fixable, since this is only stylistic issue it's nice to just let the tool fix it.

I'm more than happy to submit this as a PR. The change i made allowed the se

[2016-08-10 15:05] platinumazure commented on #6828
@jrsearles Wow, nice work on that plugin. I'd love to see this considered for core. I will take the plugin as a proposal.

@eslint/eslint-team I'll champion this. Any endorsements?

[2016-08-10 15:09] jrsearles commented on #6727
I wouldn't argue for any type of cascading functionality, but it does seem like it should traverse up and find the nearest `.eslintignore` file. All other ignore files (git, npm, etc) work in this fashion.

I'd like to be able to run eslint from any directory within the project and have those settings honored. I just spent some time trying to figure out why the tool was taking forever to analyze m

[2016-08-10 15:10] platinumazure commented on #6876
The rule is behaving correctly here. If you don't want all capitalized function names to be required to be constructors, use the `capIsNew: false` option. If you want exceptions to the rule, add `"CommentsCount"` and other exceptions to the `capIsNewExceptions` array option.

See the [options section](http://eslint.org/docs/rules/new-cap#options) of the [new-cap documentation](http://eslint.org/do

[2016-08-10 15:14] platinumazure commented on #6727
@jrsearles I don't think we can safely do even that until we resolve the questions in this issue: https://github.com/eslint/eslint/issues/6759

My advice would be to follow that issue, and if the proposed change is implemented, then open a new issue about traversing up (because then it will be clear whether the `.eslintignore` patterns should be interprested relative to the location of the `.eslin

[2016-08-10 15:35] platinumazure commented on #6875
The original issue was #4274. I had the beginnings of a fix but ran into a number of subtle issues with the rule that made me give up (especially when I learned that folks were considering rewriting the rule, but I can't find that issue right now).

Please follow #4274 for progress on this issue. I'm going to close this as a duplicate. Thanks for the report!

[2016-08-10 15:35] #6875 closed

[2016-08-10 15:57] #6293 closed

[2016-08-10 16:03] platinumazure commented on #6867
@Daniel15 Thanks for updating your post.

We need to come up with configuration options for this proposed new rule. Based on your examples above, I can see a couple of possibilities for when a newline after the `if`/`switch` parentheses would be required:

* If there is a logical expression with two or more parts (i.e., `a && b`, `a || b || c`, etc.)
* If the conditional expression itself has a ne

[2016-08-10 16:11] nzakas commented on #6363
I'm not sure I agree with this suggestion. `no-undef` doesn't currently know anything about TDZ, it only warns when a variable hasn't been defined at all. `no-use-before-define` is explicitly for this case.  Plus, I think we cause more confusion by moving a check from one rule to another vs. just keeping it as-is.

[2016-08-10 16:19] #6801 closed

[2016-08-10 16:48] stefanpenner opened #6877 "eslintrc at odds with npm link (and other node resolution friendly usages)"
posted as per: https://github.com/eslint/eslint/pull/6865#issuecomment-238923390

eslintrc at odds with npm link (and other node resolution friendly usages)

### Some examples: (this may address)

#### Given 2 modules:

* Module `B`: the extraction of generic build tool code (the invoker of eslint)
* Module `A`: the application which which configures eslint + depends on the generic build tool code

[2016-08-10 17:34] nzakas commented on #6814
@ljharb we just formalized the policy, so I don't think it's worthwhile to investigate changing it again. We already had a bunch of discussion around it and there's no new information that I could see leading to a different result.

[2016-08-10 17:37] nzakas commented on #6362
Oh wow, that's really bad. I agree with your suggestion. This is definitely breaking. We should try to get some feedback from the community to see how many people would be affected.

[2016-08-10 17:38] ilyavolodin commented on #6876
Closing, as the question has been answered. As noted above, the rule is doing the right thing in this case.

[2016-08-10 17:38] #6876 closed

[2016-08-10 17:38] ljharb commented on #6814
Gotcha, just wanted to throw that one out there.

[2016-08-10 18:39] richardkall opened #6879 "Duplicate statement in docs for lines-around-comment rule"
On http://eslint.org/docs/rules/lines-around-comment:

Highlighted the duplicated part.

[2016-08-10 18:43] pmcelhaney commented on #6362
I think there are two components here.

- Non-breaking change: Make "@mystictea/test/test" find the rule.
- Breaking change: Make "test/test" not find the rule.

You could probably go ahead and implement the non-breaking change and open another issue for the breaking change.

[2016-08-10 18:45] platinumazure commented on #6879
Closing, as your PR has been merged even though it doesn't link to this issue. Thanks for the contribution, it's greatly appreciated!

[2016-08-10 18:45] #6879 closed

[2016-08-10 18:46] platinumazure commented on #6362
What happens when there's an unscoped eslint-plugin-test with test rule (proper name "test/test") and a scoped eslint-plugin-test with test rule (proper name "\@mysticatea/test/test", but may be found with "test/test") at the same time?

[2016-08-10 19:31] kaicataldo commented on #6852
Not sure (didn't have much time to look), but might be relevant: https://github.com/eslint/espree/blob/master/espree.js#L316

[2016-08-10 20:40] platinumazure commented on #6055
Okay, by my count of :+1:'s on my champion comment, I think this is ready to roll. I'll try to get this out within the next week or so. (I'm moving house on Friday, though, so my life will be chaotic for the next few days.)

[2016-08-10 21:05] gyandeeps commented on #6106
@DrewML Since you have the work done (assuming since began working on it), would like to send a PR?

[2016-08-10 21:09] gyandeeps commented on #5344
@hzoo (just checking) r u working on this?

[2016-08-10 21:10] gyandeeps commented on #5188
@eslint/eslint-team I think we can close this issue, since we have covered everything.
we dont have to cover `vars-on-top` since we use `let` and `const` now.

[2016-08-10 21:27] platinumazure commented on #5188
Fine by me. Closing. Thanks everyone for your help!

[2016-08-10 21:27] #5188 closed

[2016-08-10 21:41] vitorbal commented on #6070
I'm also curious if a relaxing option wouldn't be better, as I think I agree with @kaicataldo here. From a user's point of view, if I enable "lines-around-commonjs-default-exports" and I don't see an error in one specific case, I would be confused.

[2016-08-10 22:09] gyandeeps commented on #5139
working on this

[2016-08-10 23:31] ljharb commented on #5805
**What version of ESLint are you using?**
any

**What rule do you want to change?**
`max-len` - add an option for `ignoreStringLiterals`, and an option for `ignoreTemplateLiterals`.

**What code should be flagged as incorrect with this change?**
[code]

**What happens when the rule is applied to this code now?**
It warns on the "this is correct" options.

Note: just like "ignoreURLs", both of thes

[2016-08-11 01:40] iglvzx commented on #4543
I landed here after trying to figure out why ESLint was not caring about spaces before the opening parenthesis on method calls.

For example, I have the following rule set in my `.eslintrc.json` config file:

    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always"
      }
    ]

Yet ESLint doesn't pick up any issues whether my JavaScript

[2016-08-11 01:43] btmills commented on #4543
@iglvzx you want [no-spaced-func](http://eslint.org/docs/rules/no-spaced-func) (func-call-spacing will replace it in the next minor release)

[2016-08-11 01:47] iglvzx commented on #4543
@btmills Thanks!

[2016-08-11 02:56] platinumazure commented on #5805
I will champion @ljharb's proposal.

[2016-08-11 04:16] thomascarterx commented on #4842
If you have a .eslintrc file you can disable the rule by setting its value to 0

[2016-08-11 05:51] scottnonnenberg commented on #6362
I use scoped plugins and the need to drop the scope for the rule name was initially confusing. It would help people new to scoped stuff to make the rule names a bit more predictable. Maybe support both for a while in ESLint 3, then 4x could require the scope name?

[2016-08-11 06:02] dcsan commented on #4842
@sanyamagrawal I have this
[code]

I recall somewhere that eslint should be --global but it seems like a bad idea to have two versions around? I think i'd rather keep it in the project, as other devs on my team always seem to get conflicting linting situation. not sure if its eslint or tslint, or ....  ¯\_(ツ)_/¯

[2016-08-11 07:07] pbialek opened #6880 "no-sync rule matches properties"
**What version of ESLint are you using?**
ESLint v3.2.2.

**ESLint configuration:**
[code]

**Source code:**
[code]

**What did you expect to happen?**
`barSync` is a property of `foo` object. I suppose `no-sync` shouldn't check it.

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-08-11 08:18] vitorbal commented on #5805
👍  from me.

[2016-08-11 08:46] vitorbal commented on #6861
@facboy it's also not possible to disable an environment via the CLI, but if you want to guarantee that the set of enabled environments matches exactly what is specified via the CLI `--env` flag, you could combine it with the `--reset` and `--no-eslintrc` flags.

[2016-08-11 08:46] vitorbal commented on #6861
Closing, as the questions seem to be resolved. Please reopen if there is more to discuss!

[2016-08-11 08:46] #6861 closed

[2016-08-11 11:56] mysticatea commented on #6870
@gyandeeps Cool. Thank you so much!

[2016-08-11 12:00] mysticatea commented on #6880
Thank you for this issue.

I think the rule should warn properties because the purpose of the rule is to prevent a use of `fs.readFileSync`-like methods.

[2016-08-11 12:44] ilyavolodin commented on #5805
:+1:

[2016-08-11 12:46] pbialek commented on #6880
Right, I fully agree, that `fs.readFileSync`-like methods should be checked. To be honest I've applied `no-sync` ESLint rule to forbid using I/O blocking functions from `fs`.
But as you can see, `barSync` is not a method.

What about checking if it is a callee or if next token is `(` similar to [func-call-spacing](https://github.com/eslint/eslint/blob/master/lib/rules/func-call-spacing.js) rule?

[2016-08-11 13:06] platinumazure commented on #6880
@pbialek Then there would be no way to catch uses like this:

[code]

I think a better approach here would be to enhance the rule to allow ignoring certain patterns.

Don't forget in the meanwhile, you can use inline configuration comments to disable the rule for those cases.

[2016-08-11 13:54] #6543 closed

[2016-08-11 14:55] slideon opened #6882 "Add CLI option for exiting with a status code of 0 even if rules that cause errors occured"
I think an option like this would be useful. This can still be achieved if you add || true, but then if something else goes wrong while running, and causes the exit code to not equal 0, you wouldn't know about it. This would be useful when using ESLint in shell scripts or running it on a build system.

Something like ```--exit-zero-even-if-errors```.

I'm using ESLint 3.2.2.

[2016-08-11 15:16] gyandeeps commented on #6882
I am not sure how you run eslint but you can always do
`eslint src || exit 0`

[2016-08-11 15:33] nzakas opened #6884 "Update build to allow for CI usage"
In order to move our builds onto Jenkins, some new npm scripts need to be introduced:

1. `npm run ci-release` is the primary script used by our Jenkins setup to initiate a release (does the changelog generation, version calculation and tagging). The main different from `npm run release` is that this task should not attempt to push changes back to GitHub (Jenkins handles that directly).
2. ~~`npm

[2016-08-11 15:45] nzakas commented on #6362
@pmcelhaney that's a good point, we can definitely add the correct scoped name resolution without removing the incorrect behavior, though that means naming clashes are still possible.

@platinumazure the plugin that was loaded last wins in that scenario. That's why this is a particularly nasty bug.

@scottnonnenberg Yes, this is a bug and not intentional. It's very confusing as it is.

[2016-08-11 15:49] nzakas commented on #6362
**TSC Summary:** We've uncovered a bug where scoped npm packages (such as `@foo/eslint-plugin-bar`) cannot have their rules configured using `@foo/bar/rule` and instead must use `bar/rule`. This is bad because it clashes with unscoped npm packages such as `eslint-plugin-bar`, leaving us in a situation where you cannot reliably use both plugins at the same time because the rules are occupying the s

[2016-08-11 15:54] nzakas commented on #6882
Duplicate of https://github.com/eslint/eslint/issues/2949.

[2016-08-11 15:54] #6882 closed

[2016-08-11 15:57] nzakas commented on #6877
Sorry, what I meant was to put these comments into issue #3458, which is what the pull request was attempting to address. It helps to keep all of the information together.

[2016-08-11 16:42] nzakas commented on #6724
**TSC Summary:** Currently, Espree attaches comment information to nodes (via `leadingComments` and `trailingComments`) and then ESLint uses that information. This expectation means that every parser that wants to work with ESLint must implement the same algorithm for comment attachment. This proposal is to move the comment attachment calculation into ESLint core, so that parsers just have to pass

[2016-08-11 16:48] #6076 closed

[2016-08-11 16:56] slideon commented on #6882
If you do ```eslint src || exit 0``` or ```eslint src || true``` then it will always exit with a status code of 0. What I meant is that the checks that produce errors should not make eslint exit with a status code of > 0, but only if something actually goes wrong with the execution itself.

I can see from the duplicate issue that you do not consider this a useful option.

[2016-08-11 17:19] ilyavolodin opened #6886 "Regression build failure in no-dupe-keys"
Regression build failed overnight with the changes made to `no-dupe-key` rule yesterday. It failed while running tests of `eslint-plugin-import`, below is the log:
<details>
 <summary>eslint-plugin-import</summary>
+ node node_modules/eslint/bin/eslint -v
v3.2.2
+ npm run test

  CLI regression tests
    issue #210

      ��� doesn't throw an error on gratuitous, erroneous self-reference (126ms)

[2016-08-11 17:24] ilyavolodin commented on #6882
@slideon Could you clarify what you mean by "something actually goes wrong"? As in ESLint crashes? That should be extremely rare, so I'm not sure that would be helpful.

[2016-08-11 17:34] slideon commented on #6882
Yes, that's what I meant.

[2016-08-11 20:25] blockloop opened #6887 "separate args from no-unused-vars and introduce no-unused-args"
ESLint Version: v3.2.2

The rule `no-unused-vars` includes the option for unused args in functions. Declaring unused variables is (in my configuration) declared as an error. There isn't a reason to have an unused variable. On the other hand, unused arguments are sometimes necessary for clarity and therefore I like them to be listed as warnings. For example,

[code]

My first thought was to include

[2016-08-11 20:35] vitorbal opened #6888 "Optimize page title of rule docs"
I would like to modify the page title of the rule docs so that the name of the rule is the first thing in it.
This is a small optimization, but it's very convenient when the browser tab headers are very small, i.e see screenshots in https://github.com/eslint/eslint.github.io/issues/268.

Here's how it would look like for the `template-curly-spacing` rule, for example:
<img width="460" alt="screens

[2016-08-11 22:35] ilyavolodin commented on #6888
Sounds good to me.

[2016-08-12 05:46] pbialek commented on #6880
Ok. You are right. I forgot about passing function as an argument.

[2016-08-12 05:46] #6880 closed

[2016-08-12 09:24] vitorbal commented on #6887
Thanks for reaching out, @blockloop!
There are already a few args-related options that you could use to achieve this.
For instance, you could use the `argsIgnorePattern` option to whitelist "res" and "next", or you could use the pattern [from the example](http://eslint.org/docs/rules/no-unused-vars#argsignorepattern) so anything starting with an underscore would be ignored:
[code]

[2016-08-12 10:41] mysticatea commented on #6886
Wow, thanks for good catch!

[2016-08-12 13:40] colinjoy opened #6890 "different indentation for function arguments of same nesting level expected"
Version: `1.10.3`
Parser: `default`
Rule: `"indent": 2`

[code]

this does not appear to be right.
A and B are on the same nesting level, yet ESLint approves EX.2 instead of EX.1

[2016-08-12 14:39] aalexgabi commented on #6860
Where can I find what version of eslint works with what version of NodeJS? I use 0.12.9 how can I know what version of Eslint works for me?

[2016-08-12 15:44] vitorbal commented on #6860
@aalexgabi ESLint v2.13.1 was the last version to support Node version 0.12. Starting with ESLint v3.0.0, we only support Node 4 or higher. Check out the [v3.0.0 release note](http://eslint.org/blog/2016/07/eslint-v3.0.0-released#requires-nodejs-4-or-higher) for more info.

[2016-08-12 15:58] platinumazure commented on #6890
I didn't realize you were on ESLint 1.x. Can you please try with latest to see if this still happens? Thanks!

[2016-08-12 16:05] aalexgabi commented on #6860
@vitorbal Cool. Thank you !

[2016-08-12 17:16] Wilfred opened #6891 "Add --fix option to strict"
It looks to me like adding a `--fix` option to the strict rule would be feasible. Would you be open to this?

[2016-08-12 17:24] #6886 closed

[2016-08-12 17:28] #5187 closed

[2016-08-12 17:29] #5990 closed

[2016-08-12 17:38] gyandeeps commented on #6891
Duplicate https://github.com/eslint/eslint/issues/6668

[2016-08-12 17:38] #6891 closed

[2016-08-12 17:46] Wilfred commented on #6891
Thanks, my search-fu is weak.

[2016-08-12 18:28] #6884 closed

[2016-08-12 18:38] markelog commented on #5858
Okay, sounds like we good here, documentation related stuff will be handled in https://github.com/eslint/eslint/issues/5859

[2016-08-12 18:38] #5858 closed

[2016-08-12 19:03] nzakas opened #6892 "Improve CI release"
Our first CI release (v3.3.0) went very well, and there are a couple of things we need to do to improve it.

1. Tag the `eslint.github.io` release with the same version number as the `eslint` release, making it easier to track down.
2. Post release notes to GitHub directly.
3. ~~Prevent the rebase of `eslint.github.io`~~

The only one I'm not 100% sure of is the third item, preventing the rebase o

[2016-08-12 21:02] nfriedly opened #6894 "Should parserOptions.ecmaVersion=6 imply env.es6=true ?"
**What version of ESLint are you using?**
v3.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default (I think?)

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

I had [some code that used `Set`](https://github.com/watson-developer-cloud/visual-recognition-nodejs/blob/ab2778be953355056b7927bbc09cda325d

[2016-08-12 21:28] Mardak opened #6896 "sort-keys TypeError on destructuring object assignment"
**What version of ESLint are you using?**
3.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default ecmaVersion:6

**Please show your full configuration:**
sort-keys:2

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
no error

**What actually happened? Please include the actual, raw output from ESLint.**
[co

[2016-08-12 21:28] ilyavolodin commented on #6894
environments and parser settings are two different things. `ecmaVersion: 6` means that you want to use ES6 syntax. Environment ES6 means you want to have access to all global variables as well as use ES6 syntax. There are a lot of different environments that JavaScript can run it, while some of them might implement ES6 syntax, it doesn't mean that they implement all of the new globals.

[2016-08-12 21:35] Mardak commented on #6896
Looks like `VariableDeclarator` of type `ObjectPattern` should do something similar to what's being done for `ObjectExpression` to handle destructured object assignment.

https://github.com/eslint/eslint/blob/master/lib/rules/sort-keys.js#L115

[2016-08-12 22:49] nfriedly commented on #6894
Aah, ok, that explains things.

[2016-08-12 22:49] #6894 closed

[2016-08-12 22:52] kaicataldo commented on #6896
Thanks for the bug report! Can confirm this is a bug. Checking the rule proposal, docs, and the rule's tests, it doesn't look to me like this was ever intended to sort destructuring patterns. Opened a PR to fix (will close if the intention was to check destructuring patterns).

[2016-08-13 01:10] blockloop commented on #6887
I'm more concerned with the ability to set different error levels for args and vars.

[2016-08-13 02:24] platinumazure commented on #6887
@blockloop Unfortunately, as you've observed, ESLint only supports one error level per rule.

I don't know if we're likely to split the rules (I could see an argument for doing so, but at the same time it could be a needless breaking change for the vast majority of our users).

One thing you can do as a workaround is to run ESLint twice with two configurations. The first configuration is your erro

[2016-08-13 02:38] nzakas commented on #6866
I'm not sure we can do this in a safe way right now. There are a lot of considerations such as comments in between those lines. In general, we only implement auto-fixing for small, focused areas to avoid potential problems, and I think this would require changing too much to be safe.

[2016-08-13 02:40] eelyafi commented on #6866
I think I can perform checks for that

On Friday, August 12, 2016, Nicholas C. Zakas <notifications@github.com>
wrote:

--
Sent from Gmail Mobile, Best Regards, Imad Elyafi

[2016-08-13 02:43] nzakas commented on #6852
This may be an issue with the Acorn plugin that Espree uses, as we delegate to that for parsing JSX. In any event, this should be a bug on Espree.

@kaicataldo that's for experimental object rest/spread and shouldn't be used by JSX.

@JakeSidSmith experimental rest/spread flag isn't used for JSX parsing at all.

[2016-08-13 02:45] nzakas commented on #6855
I agree with @platinumazure, I think this is best as a custom rule and not part of core.

[2016-08-13 02:48] nzakas commented on #6887
I don't see enough value in splitting the rule in two, as it would be very disruptive for what looks like an extreme edge case.

Your other option is to create your own custom rule that checks arguments only and set `no-unused-vars` so that it ignores all arguments.

[2016-08-13 02:50] nzakas commented on #6854
I'm not sure trimming is the right solution here. What was the output you got from ESLint? (Please paste in the complete output)

[2016-08-13 12:37] lpinca opened #6901 "No error when indenting with tabs on chained method calls"
**What version of ESLint are you using?**

3.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

An error on line 2 as it is indented with a tab not spaces.

**What actually happened? Please include the

[2016-08-13 15:25] platinumazure commented on #6854
I created a repository in case anyone wants to experience this for himself/herself: https://github.com/platinumazure/why-trim-plugins

Output when running ESLint normally (without `--debug`):

<pre>
Oops! Something went wrong! :(

ESLint couldn't find the plugin "eslint-plugin-qunit ". This can happen for a couple different reasons:

1. If ESLint is installed globally, then make sure eslint-plugin

[2016-08-13 15:31] jostrander commented on #6854
Thanks @platinumazure. Maybe even a warning if the trimmed plugin name doesn't match the given plugin name. I understand the implications of just having it silently trimmed and how that could cause a mess in the configuration file.

[2016-08-13 15:58] platinumazure commented on #6901
I'm not 100% sure, but I think the `indent` rule intentionally ignores method chaining right now. @gyandeeps can you confirm?

[2016-08-13 16:01] platinumazure commented on #6845
Can you show an example of what happens when you try to use `_` for all your variables? Does it really trigger `no-redeclare`? Please show the full ESLint output as well.

I'm surprised `_` even counts as a declaration here, to be completely honest.

[2016-08-13 16:46] lpinca commented on #6901
Yes I think it's ignored by default unless [`MemberExpression`](http://eslint.org/docs/rules/indent#memberexpression) is used.
The problem is that I don't want to enforce an indentation level for multi-line property chains but if there is an indentation I want it to use spaces.

[2016-08-13 16:55] platinumazure commented on #2949
Can this be reopened, strictly in terms of exiting with a different (non-zero) status code for "successful lint with errors" vs "ESLint threw an exception"? It doesn't result in any magical success exit code when there were lint errors but it does help consumers who have to rely on the CLI distinguish between those cases.

[2016-08-13 17:03] kaicataldo commented on #6888
Awesome!

[2016-08-13 18:42] not-an-aardvark commented on #6698
Ping on this issue; is there enough support for it that a PR to add the `requireStringLiterals` option would be accepted?

[2016-08-13 18:44] platinumazure commented on #6698
I can get behind that option. :+1: from me.

[2016-08-13 18:57] gyandeeps commented on #6901
if you dont have the option on, we do not check for indention for multi-line property chain.
You can use `no-tabs` rule if you want to check for tabs.

[2016-08-13 19:03] lpinca commented on #6901
Fair enough, thanks, I'm closing.

[2016-08-13 19:03] #6901 closed

[2016-08-13 20:43] ilyavolodin commented on #6698
I'll support an option for comparing to literals only. :+1:

[2016-08-13 21:40] finom opened #6903 "Feature request: eslint-disable-block or eslint-disable-next"
This is one almost real part of my code:
[code]

``no-param-reassign`` shows errors "Assignment to function parameter...". It's OK but I need to use ``eslint-disable-line`` for every line of the ``if`` block. I have almost the same code in tens of files and I really don't want to disable the rule globally.

I hope this proposition makes sense. At least istanbul has very similar feature ``/* istanb

[2016-08-13 22:45] platinumazure commented on #6698
@ilyavolodin Literals === string literals, or any literals? Not much point in allowing comparisons to boolean or numeric literals, no?

[2016-08-13 23:00] platinumazure commented on #6903
You can use `/* eslint-disable rule-name */` and `/* eslint-enable rule-name */` within the block. Note that those have to be block comments, not line comments.

Yes, that's two comments instead of one, but better than one per line.

[2016-08-13 23:25] ilyavolodin commented on #6698
Sorry, I meant string literals.

[2016-08-13 23:31] mysticatea commented on #6896
Oops, I'm sorry.
This is the same mistake as https://github.com/eslint/eslint/issues/6886 .

[2016-08-13 23:35] #6896 closed

[2016-08-14 00:07] mysticatea commented on #6845
Related to #6563.
Maybe @basicdays has made a rule for rest/spread properties.

[2016-08-14 01:09] kaicataldo commented on #6053
@eslint/eslint-team Need some supporters on this!

[2016-08-14 08:18] finom commented on #6903
@platinumazure   I don't like it because it's not obvious where disabled rule is turned on back. Maybe this is my personal preference. But thank you for temporary (I hope so) solution.

[2016-08-14 12:05] vitorbal commented on #6053
:thumbsup: from me!

[2016-08-14 15:32] swernerx commented on #5548
I am more in favor that this is not how the rule should behave. Actually when the last parameter is a callback or option block I favor having all of it on the same column and not indented. The reasoning is that in this case it's pretty comparable to a normal function body where we also do not indent the curly braces.

Example with option dict:

[code]

from my usage of the ava test runner.

[2016-08-14 15:55] swernerx commented on #5548
Probably a work around for those loving this kind of allman style would be to have an option for `indent` to disable argument alignment e.g. for `ObjectExpression` and `FunctionExpression`. That's a different use case than when splitting long parameter lists to multiple lines (which is questinable whether the issue is another then).

As an example, I think that this code style is totally okay:

[c

[2016-08-14 17:35] platinumazure commented on #6903
Well, I like this idea personally, but we already support a number of these configuration comments (and the code handling said configuration comments is in need of refactoring), so we'll have to see what the rest of the team thinks.

[2016-08-14 19:31] epoberezkin commented on #6857
**What version of ESLint are you using?**

3.3.0

**What rule do you want to change?**

Rule: new-parens

Possible change:
option `noEmptyParens: true`
option `allowPropertyAccess: true` (maybe this should be another rule?)

**What code should be flagged as incorrect with this change?**

[code]

**What happens when the rule is applied to this code now?**

[code]

[2016-08-14 19:40] epoberezkin opened #6906 "[rule] Option for quotes rule to allow JSON-like object literals"
**What version of ESLint are you using?**

3.3.0

**What rule do you want to change?**

Rule: quotes
Possible change:
Option `allowJSONLiterals: true` in `[ 2, "single" ]` rule

**What code should be flagged as incorrect with this change?**

The idea is to allow double quotes in object literals if they are used consistently to be a valid JSON.

With `[ 2, "single", "allowJSONLiterals": true ]`

Co

[2016-08-14 20:19] platinumazure commented on #6906
Why do you need this? You can always use `JSON.stringify` to generate the correct string with the correct quotes when you actually need to serialize into JSON strings.

Could you please explain your use case more thoroughly? Thanks!

[2016-08-14 21:50] platinumazure commented on #6055
Started working on this. It'll be another day or two before I have a branch up, but I've already got some questions:

* [ ] onlyHeader/inline option: I looked at the JSCS page and I'm wondering if inline actually means a block comment embedded in a line of code? (For example, `function doFoo(a, /* bar */ b) {}`) Can anyone provide some insight here?
* [ ] ignoreWords: Should the default ignoreWord

[2016-08-14 23:27] azhang496 commented on #6691
i'll work on this!

[2016-08-15 03:08] mingelz commented on #2409
thanks @michaelficarra

[2016-08-15 08:21] colinjoy commented on #6890
the same appears to be true using eslint 3.3.0

[code]

[2016-08-15 09:37] alberto commented on #6750
@ljharb that's going to be a mess, which I think could be avoided if they were officially called ES15, ES16 (which some people will also use anyways)...

[2016-08-15 12:48] Satyam opened #6908 "no-cond-assign analyzes too deep into conditionals"
**What version are you using?**

3.2.2

**What did you do?**
[code]

**What happened?**

With this eslintrc:

[code]

It signaled:

[code]

**What did you expect to happen?**

It should have ceased to analyze once in the callback of `Array.prototype.some` and should not care at all about any assignments within.  The purpose of the rule is to avoid mistakenly doing an assignment instead of a compar

[2016-08-15 13:09] platinumazure commented on #6908
I agree, this seems like a bug.

Are you willing/able to write a fix? (The answer can be no- we just like to make sure folks have a chance to contribute!)

[2016-08-15 13:27] Satyam commented on #6908
No, sorry, I'm afraid I wouldn't know where to start, not a clue.

I detected it because the code that worked fine with ESLint 2 started giving me this error when upgrading.  Since I was using the airbnb config I reported it there (https://github.com/airbnb/javascript/issues/1007) since I tried the code sample above with the standard and eslint:recommended configs and had no problem with any of th

[2016-08-15 13:47] Turbo87 commented on #1657
@nzakas since async/await has progress to stage 4 would it make sense to reopen this issue?

[2016-08-15 13:57] pmcelhaney commented on #6908
I can have a look. Give me a couple days.

[2016-08-15 14:08] platinumazure commented on #6908
@Satyam Thanks very much, had to ask.

@pmcelhaney Thanks a lot, you rock. If you don't end up having time, please post back here so someone else knows they can start looking. (No pressure whatsoever, we just want to keep things moving.)

[2016-08-15 14:21] Satyam commented on #6908
@platinumazure Sure, I understand, no problem, thanks for asking. If I were to try a fix, I would simply bog things down.  I can't beat @pmcelhaney even if it takes twice as much. Thanks.

[2016-08-15 14:36] gyandeeps commented on #6890
It works correctly if you just have 1 argument for a fucntion then you can inline the first argument on the same line has opening brace like this

[code]

But in your case you have more than one argument, so it expects something like this

[code]

[2016-08-15 14:55] stefanpenner commented on #3458
posted as per: https://github.com/eslint/eslint/pull/6865#issuecomment-238923390

eslintrc at odds with npm link (and other node resolution friendly usages)

### Some examples: (this may address)

#### Given 2 modules:

* Module `B`: the extraction of generic build tool code (the invoker of eslint)
* Module `A`: the application which which configures eslint + depends on the generic build tool code

[2016-08-15 14:55] #6877 closed

[2016-08-15 14:55] stefanpenner commented on #6877
https://github.com/eslint/eslint/issues/3458#issuecomment-239823560

[2016-08-15 15:37] pmcelhaney commented on #6908
Turns out it depends on how you have the rule configured.

This config considers your code invalid.
[code]

These configs consider your code valid ("except-parens" is the default).
[code]

The existing unit tests actually enforce this difference, which I think is a mistake. The documentation doesn't say anything about what should happen if the condition is an inline function, and being inside a fu

[2016-08-15 15:39] ljharb commented on #6750
@alberto unfortunately that ship has sailed.

[2016-08-15 15:41] platinumazure commented on #6908
I agree that we should always allow assignments inside the body of a
function, regardless of parentheses.

@pmcelhaney Are you saying that our parentheses check is also too loose? I
think only parentheses immediately inside the if condition parentheses
should count there, but if the function call parentheses are also
suppressing a lint warning, that's probably not good either.

Simple test case mi

[2016-08-15 15:53] pmcelhaney commented on #6908
The two options are implemented with different algorithms. That's why this bug shows up in one case but not the other.

I just put `if (doSomething(foo = 5)) {}` into the valid tests and it passed. Not sure if my change fixed it. Should I go ahead and add that test to the PR?

[2016-08-15 16:02] platinumazure commented on #6908
No, I think that might be a separate issue. To me the spirit of the
"except-parens" option is that an assignment in redundant parentheses is
intentional. The argument list of a call expression, on the other hand,
must be surrounded by parentheses and so that test should not be valid. But
it is, so I think there's a separate issue there.

It also masked the original poster's test case (that is, OP'

[2016-08-15 16:03] Satyam commented on #6908
@pmcelhaney That rule is exactly the one that the airbnb config has set: https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/errors.js#L7

The code `doSomething(foo = 5)` whether inside a conditional or not, should produce an error, but not under this rule.  Just like a programmer might have mistakenly used an assignment instead of a double or triple equal, th

[2016-08-15 16:05] Satyam commented on #6908
@platinumazure I agree, the rule should accept clearly redundant sets of parenthesis, not others that might reasonably be there.

[2016-08-15 16:16] vutran commented on #6820
I created a [plugin](https://github.com/vutran/eslint-plugin-async) for this a while back since I wasn't sure this could be packaged in here as it is using `babel-eslint` parser.

[2016-08-15 16:35] nzakas commented on #6055
Inline - yes, that's what it means.

IgnoreWords - I think we should always ignore the four defaults and not allow them to be unignored (so they shouldn't be part of configuration, only internal).

JSDoc comments are treated the same as any other.

[2016-08-15 16:37] nzakas commented on #6055
@markelog can you double check what I said?

@platinumazure I think the JSCS unit tests are a good resource when questions come up: https://github.com/jscs-dev/node-jscs/blob/master/test/specs/rules/require-capitalized-comments.js

[2016-08-15 16:41] nzakas commented on #2949
@platinumazure that's only tangentially related to this issue, and we can't change that behavior anyway. We actually tried changing exit codes at one point and it caused massive problems for CI systems, so I don't think it's worthwhile to pursue.

[2016-08-15 16:57] nzakas commented on #6866
I just think we are going to run into problems by attempting this and would prefer not to risk it. 👎

[2016-08-15 17:02] nzakas commented on #6854
I definitely don't want to trim the value, I'd rather encourage people to fix incorrect configs. Maybe we can just do a regex validation on the package name and throw up a pretty message if it fails validation.

[2016-08-15 17:10] jostrander commented on #6854
That's more less what I'm after overall. I'm sure it's not something that most people run across often so it could be easily overlooked with the generic message as seen above. I think the most troubling part is that it tells you to try and install using `npm i eslint-plugin-qunit @latest --save-dev` where the package name is correctly trimmed.

[2016-08-15 17:17] platinumazure commented on #2949
@nzakas If it's a "massive problem for CI systems", can we do this as a breaking change with 4.0.0?

[2016-08-15 17:17] pmcelhaney commented on #6908
I went ahead and added tests to clarify `if(doSomething(foo = 5))` is not a violation of this rule.

When the rule looks at `if (bar = doSomething(foo = 5))`, it should see `if (bar = [CallExpression])`. It cares about the assignment to bar, but the assignment to foo is outside its purview.

As @Satyam said, the code `doSomething(foo = 5)` alone is suspect, but that should be covered by a new rule

[2016-08-15 17:17] nzakas commented on #6903
We also have `/* eslint disable-next-line */` already.

I'm definitely not sold on adding another disable comment.

[2016-08-15 17:18] platinumazure commented on #6866
I agree with @nzakas, :-1: from me at this time.

[2016-08-15 17:18] nzakas commented on #6854
@jostrander do you want to submit a PR for this?

[2016-08-15 17:22] jostrander commented on #6854
Are you considering appending a message to eslint/messages/plugin-missing.txt or something more in depth which does the regex check for valid package names?

[2016-08-15 17:30] jostrander commented on #6854
Either append it there, or conditionally append an error message to the not found message [here](https://github.com/eslint/eslint/blob/master/lib/config/plugins.js#L116) if the plugin name trimmed is different then the plugin name?

[2016-08-15 17:38] platinumazure commented on #6854
I'll defer to @nzakas on the final answer. But if it were up to me, I would want the check done before even trying to load any plugins, and I would want a new message in eslint/messages to show the exact problem.

[2016-08-15 17:42] platinumazure commented on #6908
Apologies, I definitely introduced confusion.

I don't believe we should fix `if (doSomething(a=5))` in this issue, either in terms of a `no-arg-assign` rule or in terms of deciding that `(a=5)` should or shouldn't be considered "parenthesized" for the `"except-parens"` option.

I would prefer to just check that
* An assignment
* Within a FunctionExpression
* Within the test of an if statement or

[2016-08-15 17:52] pmcelhaney commented on #6908
No worries, I've updated the PR so that it only addresses the issue at hand.

[2016-08-15 17:54] ilyavolodin commented on #6854
I think what @platinumazure suggest is fine. We do need TSC approval to mark this issue as accepted though. So adding correct label:

Summary for TSC:
Add additional error messages for when plugins/configs include whitespaces to make it easier to find problems.

[2016-08-15 17:57] ilyavolodin commented on #6903
Agree. We already have multiple ways of doing the same thing. I don't think that adding yet another way is going to help, especially since it's not clear how it should handle edge cases:

[code]

[2016-08-15 18:17] KevinGrandon commented on #6866
I would love to see more advanced fixers in eslint.

What about having some kind of flag for experimental auto-fixers? By default it could only run the safe ones, then if you pass something like `eslint --fix-experimental` it could run all linters.

[2016-08-15 19:39] epoberezkin commented on #6906
It is intended as stylistic rule to allow JSON-like objects in code like here: https://github.com/epoberezkin/ajv/blob/master/spec/async.spec.js#L11

It also simplifies refactoring when JSON file has to be included in code or when object has to be separated in JSON file.

[2016-08-15 19:59] andreineculau opened #6910 "[addition/change] soft limit for maximum line length"
**The version of ESLint you are using.**
v3.2.2

**The problem you want to solve.**
Soft limit for maximum line length. It is not so rare to see a soft limit set to max 80 chars/line, and a hard limit set to max 120 chars/line.

**Your take on the correct solution to problem.**
I would see this handled by the addition of a `soft-code` option to the `max-len` rule, that would always issue a warning

[2016-08-15 20:03] platinumazure commented on #6910
By design, rules cannot know about their configuration level and cannot choose to emit a warning in some circumstances and an error in others. This was an intentional architectural decision which is unlikely to be changed.

[2016-08-15 20:09] andreineculau commented on #6910
Nice design :)

Based on this insight, I would assume my take would be to turn this issue
into the addition of a new rule: soft-max-len, or secondary-max-len which
could be an exact copy functionality-wise of the max-len rule.

On Mon, Aug 15, 2016 at 10:03 PM, Kevin Partington <notifications@github.com

--
andreineculau.com <http://www.andreineculau.com>

[2016-08-15 20:16] platinumazure commented on #6910
Well, I think you can guess how reluctant we will be to introduce what's
basically a duplicate to one of our core rules.

The good news is, you can customize ESLint to suit your needs. You have a
couple of options:

1. Create a custom rule in a folder in your project. That rule could
basically require in the max-len rule from ESLint and export it, and then
you can configure your new rule with a di

[2016-08-15 20:54] alberto commented on #6910
Sorry, this has come up before, and @platinumazure provided you with our resolution, so I'm closing this.

[2016-08-15 20:54] #6910 closed

[2016-08-15 21:13] #6888 closed

[2016-08-15 22:50] Trott opened #6911 "Indent rule doesn't cover multiline VariableDeclarations"
**What version of ESLint are you using?**
v3.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue.**
Indent rule ignores multiline VariableDeclarations like this:

[code]

**What did you expect to happen?**

I expect ESLint to flag that as a problem.

**Wha

[2016-08-16 00:51] samgensburg opened #6913 "Add option to camelCase rule to ban the use of camelCase in variable names"
I am currently working on my second major project requiring the use of snake_case (or whatever else you would like to call it) for defined variable names. Unfortunately, eslint has no option to verify that variables are named appropriately in this naming scheme! I would like to add one. Given that eslint reasonably bans conflicting rules, this would need to be an additional option for the camelCas

[2016-08-16 01:01] gyandeeps commented on #6911
I dont know why but i think we should use the indentation option set for variables here too, what am i missing?

Like i consider both cases kinda of the same

case 1:
[code]

case 2:
[code]

[2016-08-16 01:50] platinumazure commented on #6913
Have you looked at the [`id-match`](http://eslint.org/docs/rules/id-match)? Think that will give you the flexibility you need.

[2016-08-16 03:28] IanVS commented on #6780
Hi all, just checking in to see where we stand on this issue so it doesn't sit stale too long.

[2016-08-16 04:53] btmills commented on #1657
@Turbo87 we're working on supporting async/await in the parser - you can follow eslint/espree#287 for updates!

[2016-08-16 05:00] Trott commented on #6911
@gyandeeps But might you not want this?

[code]

[2016-08-16 05:29] Turbo87 commented on #1657
Awesome thanks! I guess that will only be supported in babel 3 then, correct?

[2016-08-16 05:37] btmills commented on #1657
@Turbo87 I don't fully understand the question.... Once we've had time to implement support for the new features, you should be able to use ESLint and the default Espree parser by themselves (without needing the babel-eslint parser) for async/await and any of the [other stage 4 proposals](https://github.com/tc39/proposals/blob/master/finished-proposals.md). Whether you need the babel compiler will

[2016-08-16 05:39] Turbo87 commented on #1657
Sorry, I meant eslint 3 😆

[2016-08-16 05:41] btmills commented on #1657
Ah! Yes, that should be coming to ESLint v3.something once it's ready.

[2016-08-16 07:00] raix opened #6916 "tap reporter reporting warnings as errors"
At the moment the default "tap" reporter reports warnings as errors.

For now we have created a tiny reporter stripping warnings before passing it on to the build-in tap reporter as a workaround.

It would be nice if warnings could be tap comments, any thoughts? Maybe have a flag for setting the behavior.

*(using --quiet on eslint will report errors only not passing tests... maybe a way to skip w

[2016-08-16 07:37] Dn9x opened #6917 "user no-unused-vars except function"
my code:
[code]

[code]

it have error:
error  'name' is defined but never used  no-unused-vars
error  'show' is defined but never used  no-unused-vars

i only want to ignore function. how to do??

[2016-08-16 07:39] ljharb commented on #6917
In the latter case, "show()" is being used as a string (and you wouldn't want to invoke it). You want `onClick={show}`.

In the former case, it does seem like you should be getting an error about `name`.

[2016-08-16 08:16] Dn9x commented on #6917
@ljharb thank you reply me.
i find this: https://github.com/eslint/eslint/issues/5086#issuecomment-178115336
i can use like this:
[code]
but, if i need write like `onClick="show()"` and config in global, how to do??

[2016-08-16 08:18] ljharb commented on #6917
If you're asking how to write an oldschool inline event handler in JSX, that's not what you want to do. You want `onClick={show}` and to make sure `show` is available in scope.

Either way I don't think this applies to eslint.

[2016-08-16 08:31] Dn9x commented on #6917
@ljharb oh, i am sorry, i dont write clear. this demo is not single page.
i dont have use react, i have two file,
[code]
and
[code]
i can use  inline comments disable it. but my project already finish 90%, i have a lot of js files. so i want config in global.

[2016-08-16 08:34] vitorbal commented on #6860
@aalexgabi Seems like your problem is fixed by using the correct ESLint version, so closing this. Let us know if that's not the case. Thanks!

[2016-08-16 08:34] #6860 closed

[2016-08-16 10:09] mattbrooks2010 commented on #6262
FYI @cgwrench

[2016-08-16 10:25] vitorbal commented on #6917
Hmm, I'm not really sure this is an important use case that would justify a new option to the `no-unused-vars` option. I would say your best bet would be to use the "eslint-disable" comments as you already described.
Let's see if someone else from the team disagrees.

[2016-08-16 10:37] anodynos commented on #1663
Worth noting for anyone looking that in `package.json` this solved the eslint not globbing problem in bash / linux :
[code]
All you need is single quotes around the path eg `'./some/path/with/glob/**/*.js'`.

[2016-08-16 12:47] ilyavolodin commented on #6917
This is the reason `no-unused-vars` supports `exported` comment. If you have functions/variables that are unused in the current file but used elsewhere, they should be marked as exported. For more information, see documentation: http://eslint.org/docs/rules/no-unused-vars#exported

[2016-08-16 12:47] platinumazure commented on #6917
I think you want to use the `/* exported */` comment here. That tells ESLint that your function is intended to be exported to global scope and used by a different file.

[code]

[2016-08-16 12:52] platinumazure commented on #1663
I think we do support globbing now, incidentally. If you want to avoid the shell expanding your globs, you can quote them with double quotes and that should do it in most shells.

[2016-08-16 13:25] mattcollier opened #6918 "Indent with RequireJS code convention."
**What version of ESLint are you using?** 3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?** AtomLinter/linter-eslint

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

Making the switch from JSCS to ESLint.  We have a code convention where we use RequireJS where we structure the code like this:

[code]

[2016-08-16 13:46] btmills commented on #6857
What about adding an "always" (default) / "never" mode to `new-parens`?

[2016-08-16 14:05] platinumazure commented on #6857
@btmills @epoberezkin For this case: `new Person().getName();` Would that automatically not be flagged in "never" mode, giving the developer benefit-of-doubt with the parens probably being necessary? Should there perhaps be an option to require `new (Person.getName)()` for property accesses to avoid ambiguity?

[2016-08-16 14:18] RyanZim opened #6919 "Unexpected results from curly: multi"
**What version of ESLint are you using?**

3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I would expect the above code to be valid.

**What actually happened? Please include the actual, raw outpu

[2016-08-16 14:22] gyandeeps commented on #6911
based on my view, this looks even better. havent thought about this. :smile:

[2016-08-16 14:24] platinumazure commented on #6919
The `try` statement and corresponding `catch` block only counts as one statement, so the rule is behaving correctly and you could remove the braces from the `if` block:

[code]

If you find that unintuitive, you might prefer the ["multi-line" option](http://eslint.org/docs/rules/curly#multi-line).

[2016-08-16 14:40] RyanZim commented on #6919
The reason I'm not using multi-line is that I want to force
[code]
and disalow
[code]
Is there a way to do that?

[2016-08-16 15:06] platinumazure commented on #6919
Ack, you're right. Maybe try [multi-or-nest](http://eslint.org/docs/rules/curly#multi-or-nest)?

[2016-08-16 15:12] RyanZim commented on #6919
I don't like:
[code]
Should be:
[code]

[2016-08-16 15:19] #6750 closed

[2016-08-16 19:33] platinumazure opened #6920 "New rule request: Restrict assignments to certain properties of certain objects"
**When the rules will warn. Include a description as well as sample code.**

This is a supplemental rule to `no-restricted-globals`. Instead of checking for the reassignment of a global, this would check for reassignment of properties for a global. For example, if a library has been exported to a particular global such as `_`, this rule flags reassignments to any property of `_`.

Example of viola

[2016-08-16 20:07] nzakas commented on #6908
@platinumazure you didn't mark this as accepted, have you verified this as a bug?

[2016-08-16 20:11] nzakas commented on #6920
Duplicate of https://github.com/eslint/eslint/issues/3218?

[2016-08-16 20:12] nzakas commented on #6701
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-16 20:12] #6701 closed

[2016-08-16 20:16] nzakas commented on #6918
We have an open issue to implement a solution for this: https://github.com/eslint/eslint/issues/6690

[2016-08-16 20:16] #6918 closed

[2016-08-16 20:18] nzakas commented on #6866
We do have an overhaul of auto-fixing on the roadmap, but we won't be looking at that until after the JSCS compatibility is done. See https://github.com/eslint/eslint/issues/5329

For now, though, we need to stick to just simple fixes, so closing.

[2016-08-16 20:18] #6866 closed

[2016-08-16 20:35] platinumazure commented on #6908
Apologies @nzakas, I hadn't had time to verify until just now.

Here's a snippet that repros in the demo:

[code]

As discussed earlier in the issue, there is a separate issue (parentheses being too zealously considered) that prevents this from showing up as a bug with the default "except-parens" configuration. But I believe we can accept this bug, unless you disagree.

[2016-08-16 20:37] platinumazure commented on #6920
Aw crap. And I even commented on that issue. Sorry!

[2016-08-16 20:37] #6920 closed

[2016-08-16 20:38] platinumazure commented on #3218
Anyone want to work on this? I can work on it (possibly using @willklein's original PR), but I'm also trying to get some of the JSCS compatibility rules moving.

[2016-08-16 22:01] platinumazure commented on #6251
@eslint/eslint-team Can we get more eyes on this proposal?

I'm a little leery of the number of options (only in terms of, is this worth doing as multiple issues/PRs?), but otherwise am :+1: for this proposal. But we should really make sure we get the option names right.

I'm going to offer one slightly different schema: In order to emphasize that most of the options are conditions for requiring t

[2016-08-17 01:11] royriojas commented on #6780
@IanVS I had made a PR with the new version and tests, please let me know what you think.

[2016-08-17 03:01] Trott commented on #6911
Another reason to not use the setting for variables but to instead have a separate one for BinaryExpressions: The idea is to expand where this applies to that it also covers other multi-line BinaryExpressions such as ones occuring in variable assignments, function arguments, conditionals, etc.

[2016-08-17 04:10] platinumazure commented on #6055
@nzakas I'd like to propose a modification to @mysticatea's proposal in that case:

* onlyHeader option to be renamed to ignoreInlineComments, with the values still being boolean, default false, and having the same meaning as the proposal.

[2016-08-17 07:17] Dn9x commented on #6917
@platinumazure @ilyavolodin @vitorbal @ljharb very thanks.
I think best way is i use `// eslint-disable-line `.  because i dont need use CommonJS or ECMAScript modules.
very thanks.

[2016-08-17 07:17] #6917 closed

[2016-08-17 08:12] vitorbal commented on #6251
@platinumazure cool, i like your schema proposal, it reads very naturally. I was able to read it after a long time not following this issue and pretty much guess what the options would do.

[2016-08-17 08:27] vitorbal commented on #6698
I'll  :+1: a `requireStringLiterals` option too, but we still need a champion!

[2016-08-17 11:41] bfred-it commented on #4085
Alternatively, define the global in `.eslintrc`:
[code]

[2016-08-17 11:58] vitorbal commented on #6498
friendly ping @quinncomendant any news on this?

[2016-08-17 12:31] nene commented on #6701
No problem... I'll probably have some fun creating a custom rule then.

[2016-08-17 13:15] mysticatea commented on #6055
@platinumazure I'm sorry for my slow response. I have missed notification.

I edited the first post by some suggestions.

- `markers` option was added.
- `onlyHeader` option was renamed to `ignoreInlineComments`. And I'm sorry, I have misunderstood original `inlined` option. This option restricts the rule to apply only comments which are at the head of each line. (https://github.com/jscs-dev/node-

[2016-08-17 13:32] epoberezkin commented on #6857
I think there should be an option to prohibit immediate property access in the same expression when the instance was constructed. However you do it, it looks not too good (that's an opinion of course, that's why it should be an option :)

[2016-08-17 15:15] #5139 closed

[2016-08-17 16:01] mcandre opened #6924 "Republish old versions on NPM"
Is eslint@0.15.0 missing from NPM? If so, please republish old versions so that older Node projects can still function.

[2016-08-17 17:18] ilyavolodin commented on #6924
I just checked and here's what NPM is telling me:

[code]

To the best of my knowledge we never removed any of the published versions from the NPM. Are you sure you are not going to NPM through some sort of proxy that's blocking that version?

[2016-08-17 17:19] apexskier opened #6925 "arrow-body-style breaks when returning one line object"
**What version of ESLint are you using?**
3.2.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
This should work with no errors, since `const test2 = arr.map(it => { test: it });` is a syntax error.

**

[2016-08-17 17:30] platinumazure commented on #6925
You can do a concise arrow body if you surround the expression in parentheses:

[code]

[2016-08-17 17:33] apexskier commented on #6925
That works!

[2016-08-17 17:33] #6925 closed

[2016-08-17 18:23] Wilfred opened #6926 "prefer-const false positive on array destructuring"
Given the code:

[code]

prefer-const complains:

[code]

I think this is a false positive. I can't use `const` in this case because I'm reassigning `x`.

[2016-08-17 18:37] Wilfred commented on #6926
I'm using eslint 3.2.2. Let me know if you need any further information.

[2016-08-17 18:55] gyandeeps commented on #6926
You wanna use `"destructuring": "all"` option.
Docs: http://eslint.org/docs/rules/prefer-const#options

[2016-08-17 19:05] Wilfred commented on #6926
Thanks, I missed that.

Is there any way of rewriting my code to satisfy `destructuring: "any"`? The best I can see is:

[code]

but that's significantly more verbose. I'm trying to understand the use case for `destructuring: "any"`.

[2016-08-17 20:06] mysticatea commented on #6926
For example:

[code]

[2016-08-17 20:23] Wilfred commented on #6926
Aha, makes sense. In which case, I don't think there's anything actionable here.

[2016-08-17 20:23] #6926 closed

[2016-08-17 20:44] omeryagmurlu opened #6927 "Indent rule is not working correctly."
![problem](https://cloud.githubusercontent.com/assets/8201544/17752027/a584f3d6-64d2-11e6-8400-b0501cc634f7.png)

- On eslint v3.3.0.
- Using parser `babel-eslint`.

- Configuration:
[code]
Related part of `xo` config:
[code]
- Code:
[code]

- Expected errors not to exist.

- Actual error message:
[code]

[2016-08-17 20:50] gyandeeps commented on #6927
Can you try your code without using `babel-eslint`? (with default parser).
And you can try the code which is in question here.

[2016-08-17 20:57] omeryagmurlu commented on #6927
Eslint gave me same errors using the default parser, no change.

And I didn't get what you meant by "the code which is in questions here" :smile:

[2016-08-17 21:10] gyandeeps commented on #6927
I can reproduce this issue with `default` parser. Are you sure you have tabs?

Test file:

[code]

`--->` means 1 tab.

Run:

[code]

[2016-08-17 21:10] epoberezkin commented on #6857
The variations in the property access, both to access constructor and to access property in constructed instance, probably suggest a separate rule completely - new-property?
Should we maybe focus on the issue at hand, i.e. add modes to new-parens, as @btmills suggested, to either "always" require parens (current mode) or "prohibit" empty parens?

I am ok with anything to be honest, please let me k

[2016-08-17 21:59] platinumazure commented on #6857
Well, the only reason I brought it up is because parentheses are definitely required in `var name = new Person().getName();`. But then again, it could also be written as `var name = (new Person).getName();` or similar.

@btmills Since you brought up the elegant solution of always/never and I'm the one throwing a wrench into the works, what do you think? Should we just do always/never in one PR, an

[2016-08-17 22:35] jamorales-bsft opened #6928 "no-unreachable incorrectly flagging code as unreachable"
**What version of ESLint are you using?**
v3.3.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
no error should be triggered
**What actually happened? Please include the actual, raw output from ESLint.**
an err

[2016-08-17 23:20] ilyavolodin commented on #6928
Could you provide an exact error message you are getting?

[2016-08-17 23:34] Gopikrishna19 commented on #2017
http://eslint.org/docs/rules/sort-keys from eslint 3.3.0 on :)

[2016-08-18 01:10] bherrmann7 commented on #4267
Humm...  Doesnt this display the current rules,
       $ eslint file --print-config

[2016-08-18 04:19] IanVS commented on #6780
@ilyavolodin, @nzakas please see https://github.com/eslint/eslint/pull/6921#issuecomment-240619683 for the results of some timings that I did.  TL;DR: pruning deleted files out of the cache is pretty inconsequential (< 1% of total linting time, ~12 milliseconds for node.js repo).

[2016-08-18 06:25] jamorales-bsft commented on #6928
43:3   error  Unreachable code                     no-unreachable

[2016-08-18 06:31] mysticatea commented on #6928
I cannot reproduce this on [our online demo](http://eslint.org/demo/).

![image](https://cloud.githubusercontent.com/assets/1937871/17764178/b29c732e-6558-11e6-9997-e841d9cc76d0.png)

[2016-08-18 06:38] jamorales-bsft commented on #6928
ok it is my error there is a throw above the return. so it is the return itself that is unreachable

[2016-08-18 09:45] vitorbal commented on #6927
I also tried to reproduce this and could not. Here's my test file and config file:

[code]

[code]

[code]

[2016-08-18 09:46] vitorbal commented on #6864
@fasttime friendly ping, if you have a moment could you please provide updates on our questions above? Thanks!

[2016-08-18 11:06] callumlocke opened #6929 "TypeError after upgrading from 3.0.0 to 3.3.1: "Cannot read property 'value' of undefined""
**What version of ESLint are you using?**

3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Upgraded eslint from 3.0.0 to 3.3.1, along with upgrading some other deps, then ran `npm install`. Then I ran `eslint .` in the project.

[This c

[2016-08-18 11:42] ChrisAitken opened #6930 "complexity rule does not match documentation"
**What version of ESLint are you using?** 2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What actually happened? Please include the actual, raw output from ESLint.**
Eslint complexity rule does not function as expected. As you can see from above my current rule is
`complexity: ["error", 6]`, however when running eslint

[2016-08-18 12:45] platinumazure commented on #6930
The documentation shows latest available options, but you're using an older version of ESLint. Either upgrade to latest ESLint or replace the `"error"` with the numerical `2`. (This applies to all rules- we started supporting string error levels later in the 2.x series.)

[2016-08-18 12:47] ChrisAitken commented on #6930
Thanks! @platinumazure that worked. I need to learn to RTFM I will close this issue down now 😄

[2016-08-18 12:47] #6930 closed

[2016-08-18 12:48] ilyavolodin commented on #6780
That sounds good to me. :+1:

[2016-08-18 12:48] ilyavolodin commented on #6928
Closing, as the issue is resolved.

[2016-08-18 12:48] #6928 closed

[2016-08-18 12:50] ilyavolodin commented on #6929
@callumlocke Could you try the same code that fails with default parser (instead of `babel-eslint`)?

[2016-08-18 13:14] omeryagmurlu commented on #6927
Apparently line 36 was 4 spaces. Fixing it solved the problem.

[2016-08-18 13:14] #6927 closed

[2016-08-18 14:13] btmills commented on #6698
:+1: I'll champion, marking as accepted! I'll review #6923 later today.

[2016-08-18 14:15] IanVS commented on #6780
Great, I'm going to accept this as a bug fix, then.  Of course push back if that's not how this should be treated.

[2016-08-18 15:55] tylerl0706 opened #6931 "Add an `fyi` flag"
Hi all,

I'm coming from the perspective of someone that has a huge-ish product already developed but wants to use ESLint moving forward. We want to see the "errors & warnings" that ESLint generates, but we don't want our npm script to error out when it happens.

We thought about ignoring whole files, but we still want to see the warnings and errors that are generated.

Enter the `fyi` flag or "fo

[2016-08-18 16:00] ilyavolodin commented on #6931
Does npm script like that solve your problem?

[code]

This will still report all of the errors, but will always exit with success error code.

[2016-08-18 16:04] tylerl0706 commented on #6931
@ilyavolodin That actually does the trick! Glad it was simpler than I thought. Thanks.

[2016-08-18 16:04] #6931 closed

[2016-08-18 16:38] markelog commented on #5858
I think it is perfectly fine, this kind of mapping is long and sometimes tedious process

Technically speaking you can already do that, like -

[code]

and people with custom presets probably will figure out such workaround, could be added to the docs though

[2016-08-18 16:48] markelog commented on #6055
Yeah, it is even mentioned in the valid/invalid rule examples.

On the side note, right now, I would just implement JSCS options and consider implementing others if there would be sufficient enough amount of users to want them

[2016-08-18 17:00] brenolf commented on #5858
@markelog In fact this usage with multiple files is not allowed in the moment. However, given your example I'll be adding it right now.

[2016-08-18 17:12] markelog commented on #5858
Oh there is a typo, i meant to write -

[code]

[2016-08-18 17:44] lencioni opened #6932 "Rule proposal: disallow chained variable assignment"
Chained variable assignment creates implicit global variables. Although these should be caught by the `no-undef` rule, people may want to prevent chained variable assignment for readability purposes.

[code]

This rule prevents an error if the `no-undef` rule is not enabled, otherwise it is stylistic and similar to the `one-var` rule.

This is a basic JavaScript syntax rule that is generally appli

[2016-08-18 17:51] platinumazure commented on #6932
This seems pretty easy to implement, just warning when the init of VariableDeclarator contains an AssignmentExpression. The only thing I'm not sure about is whether we have a rule that should be enhanced, instead of creating a new one. Labeled for now as a new rule request.

[2016-08-18 17:55] ljharb commented on #6932
I think it makes the most sense as a new rule. one-var might work, but even when you don't want to require or disallow multiple var statements, you may want to govern this pattern. no-undef also might work, but this is not saying "don't use undefined/global vars", it's saying "don't accidentally create some global vars with one local".

[2016-08-18 18:14] platinumazure commented on #6932
@ljharb What you're saying makes sense and is basically what I had been thinking in my head earlier. I just wanted to give the ESLint team a chance to jump in and let me know if I had missed something.

I'll probably champion this, once we figure out how exactly we want to do ti.

[2016-08-18 18:33] eviljoe opened #6933 "--fix mangles lines with trailing whitespace"
**What version of ESLint are you using?**
3.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
When attempting to use the `--fix` option on the file below, ESLint mangles the source file by incorrectly removing characters from lines with trailing wh

[2016-08-18 18:49] gyandeeps commented on #6933
I cant reproduce this issue, here is what i did:

test.js
[code]

Run:
[code]

Final file:
[code]

[2016-08-18 18:54] platinumazure commented on #6933
I've seen this sort of thing happen at my work, but I could never reliably reproduce it.

Can you please reduce the test case? For example, if we're fairly sure that no-trailing-spaces is the rule which is linting/fixing and causing this problem, see what happens when your config only has `no-trailing-spaces` in its rules list. Does that still reproduce the error?

[2016-08-18 19:01] eviljoe commented on #6933
When I turned that rule off, the problem was still happening so maybe it is not that rule.  I was also not able to recreate the problem when I copied the source code from this bug listing and tried it again.  Here is a ZIP of the exact file and .eslintrc that I am using.  I was able to unzip this and recreate the problem.

[eslint-bug-recreate.zip](https://github.com/eslint/eslint/files/425662/esl

[2016-08-18 20:09] RyanZim commented on #6919
OK, I ended up wrapping my conditional inside the try block instead of putting the try statement in the conditional.

[code]

Closing for now.

[2016-08-18 20:09] #6919 closed

[2016-08-18 20:10] ilyavolodin commented on #6854
TSC agreement has been reached. We should display a new error message when whitespaces are detected in plugin/config name.

[2016-08-18 20:13] ilyavolodin commented on #6759
Accepted as a breaking change. That means we can't merge it before 4.0.

[2016-08-18 20:20] ilyavolodin commented on #6724
Accepted per 8/18 TSC meeting.

[2016-08-18 20:47] quinncomendant commented on #6498
Yes, it's still a problem. I've just updated all the things (`brew update && brew upgrade && npm update -g`) and run eslint (v3.3.1) from a virgin directory (project never used eslint before). Here's output with `--debug`:

	[q@x/0 backfeed] eslint --init --debug
	? How would you like to configure ESLint? Inspect your JavaScript file(s)
	? Which file(s), path(s), or glob(s) should be examined? /Us

[2016-08-18 21:21] alberto commented on #6929
@callumlocke are you running on node >= 4?

[2016-08-18 21:26] alberto commented on #6924
I just successfully did `npm install -S eslint@0.15.0` on my machine, so closing for now.

[2016-08-18 21:26] #6924 closed

[2016-08-18 21:30] fasttime commented on #6864
Sorry @vitorbal for the late reply. I can also no longer get the error reproduced. I haven't changed the ESLint configuration since then if that matters, just my own code. So it's possible that I just smoked something wrong when I posted this. Or some part of my old code was interfering with the parser and that's gone now. Not sure. Feel free to close this issue and sorry for the disturbance.

[2016-08-18 21:34] mysticatea commented on #6929
I guess this is same as #6274.

[2016-08-18 21:44] mysticatea commented on #6932
I think this is similar to #6424.

[2016-08-18 21:48] othomann opened #6936 "builtin globals is defined using globals.es5 instead of globals.buitin."
**What version of ESLint are you using?**
3.0.1, but this is still the case in master.

I wonder why the builtin globals is now set as globals.es5 instead of globals.builtin. It was done like that in past versions. Any reason this has been changed?

This is inside the file conf/environments.js.

Thanks.

[2016-08-18 21:49] mysticatea commented on #6424
@michaelficarra OK.

So, I guess this is `no-multi-assign` which forbids `(node.type === "AssignmentExpression" && node.parent.type === "AssignmentExpression")`.

[2016-08-18 22:01] mysticatea commented on #6933
I could reproduce with the zip.
I will investigate it.

[2016-08-18 22:17] lencioni commented on #6932
@mysticatea ah yes! My searches did not discover that issue. I'll close this one in favor of that one.

[2016-08-18 22:17] #6932 closed

[2016-08-18 22:28] platinumazure commented on #6424
@mysticatea What about AssignmentExpression with parent of VariableDeclarator? That would look like a "multiple assignment" too, IMO.

[2016-08-18 22:56] mysticatea commented on #6932
Oops, #6424 is similar but not same.
This is about assignments inside of initializers.
#6424 is about assignments inside of assignments.

[2016-08-18 22:58] ljharb commented on #6424
VariableDeclarators are asked about in #6932

[2016-08-18 23:01] mysticatea commented on #6424
@platinumazure Sounds good. `(node.type === "AssignmentExpression" && /^(?:Assignment(?:Expression|Pattern)|VariableDeclarator)$/.test(node.parent.type))`

[2016-08-18 23:12] CestDiego commented on #3673
How do we get this to work with `4` spaces indentation instead of `2`? as you can see in the rule above there is a hard requirement to use 2 spaces indentation if I use that all my other code starts to have linting errors because I use 4 spaces for indentation @gyandeeps

[2016-08-18 23:40] mysticatea commented on #6936
ESLint parses code as ES5 by default.
If a user wants ES6, they need config `env: {es6: true}`.

[2016-08-19 00:42] platinumazure commented on #6936
This was an intentional change made in 2.0.0: http://eslint.org/docs/user-guide/migrating-to-2.0.0#built-in-global-variables

The reason is that people were confused about ES6 globals being available even when trying to parse with ES5, and we don't have a good way of turning off environments. So instead, we encourage people to opt in to ES6 using the `es6` environment.

[2016-08-19 04:06] kaelzhang commented on #6759
I can help with the ignore-paths.js.

And any progress about #6783 ?

[2016-08-19 05:57] kdex opened #6938 "eol-last: Add "none" option to enforce no line break at end of file"
**What version of ESLint are you using?**
3.2.2
**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint 6.1.2
**Please show your full configuration:**
<details>
<summary>.eslintrc</summary>
[code]
</details>
**What did you do? Please include the actual source code causing the issue.**
I am trying to lint a file that ends in a single newline character, making contributors aware th

[2016-08-19 08:27] vitorbal commented on #6864
@fasttime no problem! Thanks for getting back to us. Glad the problem is fixed now :)

[2016-08-19 08:27] #6864 closed

[2016-08-19 08:47] vitorbal commented on #6938
Could you check f the problem still happens if you use the default parser? I couldn't reproduce what you describe with the following test file and config:

[code]

[code]

Result:
[code]

If you could provide a reduced version of your file where the problem is reproducible, that also probably helps us track down the issue. Thanks!

[2016-08-19 08:53] kdex commented on #6938
@vitorbal You've deleted your comment just now; does that mean you were able to reproduce the issue or should I still follow your suggestions?

[2016-08-19 09:15] vitorbal commented on #6938
@kdex Sorry, I got a bit confused trying to reproduce your issue :-)

I don't think `no-multiple-empty-lines` does what you want as it validates only the number of **consecutive** empty lines.

That means that this is correct:
[code]

Whereas this isn't:
[code]
The closest thing I can find for what you want is the `eol-last` rule, but it only works for enforcing that last trailing newline.

[2016-08-19 11:38] kdex commented on #6938
@vitorbal I would have expected that setting `max` to `0` in `no-multiple-empty-lines` would also take care of the last empty line, judging from the semantics that the rule's name implies. I.e. I'd expect that the following should have failed, with `0` suggesting that empty lines are globally forbidden, regardless of whether they're the last EOL in a file or not:

[code]

As you have already menti

[2016-08-19 11:42] abdelmoula commented on #1849
I think writing this way should solve the issue :
if (foo) {
    alert("blah");
} else if (!foo) {
    alert("second blah");
}

[2016-08-19 13:26] JamesHenry commented on #6724
Excellent news! I feel somewhat responsible for this, so if I can be of any help let me know 😄

[2016-08-19 14:12] platinumazure commented on #6724
@JamesHenry Are you volunteering to implement the whole thing? I think you are-- thank you very much! :stuck_out_tongue_winking_eye:

[2016-08-19 14:17] platinumazure commented on #6936
Closing as I believe the question has been answered. Please reopen if you feel differently.

[2016-08-19 14:17] #6936 closed

[2016-08-19 14:21] pmcelhaney commented on #6938
Since the current options for `eol-last` are "windows" and "unix" it might make sense to add a "none" option.

[2016-08-19 14:23] gyandeeps commented on #6933
@mysticatea Just curious, what was the difference between the code in zip file vs the one on the issue?

[2016-08-19 14:31] eviljoe commented on #6933
The one in the zip has four spaces on the line below `var ctrl = this;` (it is a whitespace only line).  I guess when I originally copied and pasted to the ticket that whitespace somehow got lost.

[2016-08-19 14:46] othomann commented on #6936
Thanks for the explanation. Makes perfect sense.

[2016-08-19 14:54] gyandeeps commented on #6933
ah, i see. Thanks @eviljoe for explaining.

[2016-08-19 14:58] mysticatea commented on #6933
Yup. The different is 4 whitespaces in a blank line.

[code]

[2016-08-19 15:19] LegNeato commented on #6736
@ilyavolodin 👈 friendly poke

[2016-08-19 16:10] turadg opened #6940 "object-curly-spacing `[2, 'never']` complains of Flow type annotation in function parameters"
**What version of ESLint are you using?**

3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**

That object-curly-spacing would not complain about `function foo ({a, b}: Props) {`. It's the style en

[2016-08-19 16:12] nzakas commented on #5857
After thinking about this some more, I wonder if we can get away with just having people use Polyjuice directly. It would mean we don't have to add anything specifically to ESLint, avoiding another dependency. We would just have to make sure that the documentation called out this step.

Thoughts? @markelog

[2016-08-19 16:14] Gozala opened #6941 "--fix isn't handling "',' should be placed last comma-style" errors"
**What version of ESLint are you using?** - v3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?** - babel-eslint

**Please show your full configuration:**

[code]

Standar is defined here https://github.com/feross/eslint-config-standard/blob/master/eslintrc.json

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**