[2016-03-09 23:51] diki commented on #5187
I think adding "Immutable.*" to existing options kind of violates plugin schema as it looks like regex, also that may create an impression like i can put any regex here.

[2016-03-10 00:28] raould commented on #2302
Pretty please some day make it possible to use this w/out having cursor keys available, i.e. in a "*shell*" buffer in Emacs. It would probably mean offering it as multiple choice instead/optionally. :-)

[2016-03-10 00:32] raould opened #5530 "(Docs) Getting Started "Next Steps" improvement"
[code]

errrrr... why doesn't it say anything about *using* eslint?! Please include (as the first thing in the list) a link to something like http://eslint.org/docs/user-guide/command-line-interface

[2016-03-10 01:10] #5332 closed

[2016-03-10 01:32] #5480 closed

[2016-03-10 02:13] #5495 closed

[2016-03-10 02:29] tshinnic commented on #5519
In my case, I've been reading the latest docs which [happily](http://eslint.org/docs/user-guide/configuring#configuring-rules) say you can use "off", "warn", and "error" and so had been manually updating a .eslintrc file.  But then separately I also had to drop down to 2.2.0 because of the `estraverse-fb` mess (#5476).

So nowhere is it evident (in the docs) that "off" is only *just* *now* support

[2016-03-10 02:51] ilyavolodin commented on #5519
Website have always up to date information for the latest released version. Since 2.3.0 is the latest, and it supports off/error/warn severity levels, that's what website displays.

[2016-03-10 03:14] platinumazure commented on #5519
It wouldn't hurt to have a note on what version a feature got introduced. We do this with rules, but I'd like to see it in the other doc sections. I think that's something we can try to do better in the future.

[2016-03-10 03:16] ilyavolodin commented on #5519
We don't really have an organized way to display features (other then rules), so it's hard to figure out a good way to show when the feature was added, but I'm open to suggestions.

[2016-03-10 03:27] platinumazure commented on #5519
I see it as a final pre-release manual step: the project lead or reviewer
doing the release should do a final commit annotating the docs with "New in
version x.y" for important new things that won't work in earlier versions.
Plus reviewers, when reviewing PRs, should think about whether the feature
is New and they can choose to ask for a note in the docs section of the
commit.

That only works goi

[2016-03-10 04:51] kaicataldo opened #5531 "Leading comments incorrectly include comments inside previous token"
I recently contributed a rule that ended up having an issue regarding leading comments. The issue for the rule and the fix is [here](https://github.com/eslint/eslint/issues/5480), but in looking at it, I started wondering if maybe this should be a fix in `sourceCode.getComments` rather than having to be guarded against in each individual rule.

I'm currently using ESLint v2.3.0, and the problem se

[2016-03-10 05:06] mysticatea commented on #5531
Thank you for this issue.
Definitely appreciate PRs!

I opened an issue on espree: https://github.com/eslint/espree/issues/256
I think this fixing needs 2 steps.

1. Fixes the bug on espree.
2. Adds tests for the bug on eslint.

[2016-03-10 05:37] kaicataldo commented on #5531
Great - I'll work on this :)

[2016-03-10 09:50] Bnaya opened #5532 "Possible false positive for quote-props rule"
**What version of ESLint are you using?**
v2.3

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
the built in one

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
To have no lint error

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

I'm using this preset:
htt

[2016-03-10 10:05] mysticatea commented on #5532
I confirmed it.

I guess `espree.tokenize` ignores the `//key` part: https://github.com/eslint/eslint/blob/master/lib/rules/quote-props.js#L71

[2016-03-10 15:44] pedrottimark commented on #5529
From #5375 Variables:

- [ ] no-delete-var: **correct** code for this rule
- [ ] no-shadow: **correct** code for this rule

[2016-03-10 15:56] Karankang007 commented on #3493
Another use case:

I use an array object to define the HTML template in JS, especially when I am using angular template cache. The indentation helps in distinguishing parent and child nodes and improves tempalte readability.

Example:

[code]

[2016-03-10 16:00] BYK commented on #3493
@Karankang007 - I cannot understand how your example is related to the discussion.

[2016-03-10 16:07] niftylettuce commented on #5476
Shouldn't you deprecate 2.3.0 because of thos?

[2016-03-10 16:35] brettz9 opened #5533 "Unused part of sequence expression is not flagged by `no-unused-expressions`"
**What version of ESLint are you using?**

Whatever version is currently in the ESLint demo.

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

The ESLint demo.

**What did you do? Please include the actual source code causing the issue.**

Add the example from `no-sequences` docs:

[code]

**What did you expect to happen?**

To get `no-unused-expressions` errors.

**W

[2016-03-10 17:20] platinumazure commented on #5533
Confirmed in online demo.

Not sure what correct behavior is. I would expect `no-sequences` for sure, but `no-unused-expressions` maybe not since the value is being assigned.

[2016-03-10 17:21] brettz9 commented on #5533
But the "3" value is not assigned, and it by itself is an expression.

[2016-03-10 17:21] ilyavolodin commented on #5533
I have a feeling that `no-sequences` might not be flagging anything inside parenthesis. I'm not sure why that would be the case, though. @michaelficarra any ideas?

[2016-03-10 17:23] platinumazure commented on #5533
@brettz9 I'm not sure I agree with that. By that logic, all sequences would also have to have a `no-useless-expressions` violation as well and that would just mean the rules overlap.

Incidentally, here are some other test cases from the online demo:

1. Code: `(3, 5);`
    * Result: `no-useless-expressions` shows up (expected IMO), `no-sequences` does not (buggy IMO)
1. Code: `3, 5;`
    * Result

[2016-03-10 17:31] brettz9 commented on #5533
@platinumazure : I would not expect all sequences to automatically get the `no-useless-expressions`, e.g., in the following:

[code]

...though in this case, I see it is currently not getting flagged by `no-sequences` in the demo.

In the following case, I think the `!!test`, while being an expression, should--unlike the "3" in the `(3, 5)` example--not be treated as "unused" because it ends up ha

[2016-03-10 17:47] brettz9 opened #5535 "Option to prevent parentheses from disabling `no-sequences`"
**What version are you using?**

Version on demo.

**What did you do?**

Add the following code:

[code]

**What happened?**

`no-sequences` is not flagged (because of the extra parentheses).

**What did you expect to happen?**

I would like an option to prevent the parentheses from disabling the rule.

[2016-03-10 17:48] brettz9 commented on #5533
(Filed #5535 to add an option to prevent parentheses from disabling `no-sequences`.)

[2016-03-10 17:55] brettz9 opened #5536 "Problematic code for no-sequences showing and being flagged as non-problematic"
**What version of ESLint are you using?**

The ESLint demo (and looking at docs in `master`).

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

The ESLint demo (and looking at docs in `master`).

**What did you do? Please include the actual source code causing the issue.**

I noticed that the following code in `no-sequences`:

[code]

...is listed in the introductory

[2016-03-10 19:46] Droogans opened #5537 "object-curly-spacing+objectsInObjects thinks `{ a: function () {} }` delimiter is an object."
**What version of ESLint are you using?**

v2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

I'm using ESLint to parse my source code.

**What did you do? Please include the actual source code causing the issue.**

When evaluating

[code]

I am being told that my no-op function in an inline object is an "objectInObject".

[code]

**What did you expect to happen

[2016-03-10 19:47] Droogans commented on #5537
This may be related to https://github.com/eslint/eslint/issues/3763.

[2016-03-10 19:51] Droogans opened #5538 "object-curly-spacing+arraysInObjects thinks `{ a: list[0] }` delimiter is an array."
**What version of ESLint are you using?**

v2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

I'm using ESLint to parse my source code.

**What did you do? Please include the actual source code causing the issue.**

When evaluating

[code]

I am being told that my array index operation in an inline object is an "arrayInObject".

[code]

**What did you expect to

[2016-03-10 20:44] treythomas123 opened #5540 "Tab indention isn't caught for lines beginning with . when indent is set to use spaces"
**What version of ESLint are you using?**
2.3.0

**What did you do? Please include the actual source code causing the issue.**

<img width="264" alt="screen shot 2016-03-10 at 1 40 17 pm" src="https://cloud.githubusercontent.com/assets/2589390/13683750/b0146218-e6c5-11e5-8fd6-06a6c413f0be.png">

**What did you expect to happen?**

Line 6 should cause an error because it has tab indention, and I sp

[2016-03-10 21:11] vtambourine commented on #5476
I am lucky this bug is already opened and can be found on top of issues list! Looking forward to final solution.

[2016-03-10 21:30] nzakas commented on #5476
I'm locking this issue because we are working hard to get this resolved and every new comment creates a notification that distracts us. :)

[2016-03-10 21:32] nzakas commented on #5187
So what are we proposing here? `capIsNewExceptionPatterns` and `newIsCapExceptionPatterns` that are both arrays of regular expressions?

[2016-03-10 21:34] BYK commented on #5187
Almost that but not sure if they should be array. I think we can cover all cases with a single RegExp. If we havem ultiple patterns, we can always combine them using `|` right?

[2016-03-10 21:38] nzakas commented on #5221
"Accepted" means we've agreed to work on it and agreed on the process to do so. It's not meant to imply that the issue is ready for a pull request.

I mentioned in my [previous comment](https://github.com/eslint/eslint/issues/5221#issuecomment-189918411) what the next steps were. We still need to compile the final list of errors and to see what we want to do about generating a log file. If you'd l

[2016-03-10 21:41] ljharb commented on #5187
I think either an array or a single pattern would work well

[2016-03-10 21:41] ljharb commented on #5187
I think either an array or a single pattern would work well - an array has the advantage that it's harder to cause a bug in the regex when adding or removing a pattern tho.

[2016-03-10 21:51] brettz9 commented on #4512
Replacing this issue with a broader set of README reorganization changes in PR #5542.

[2016-03-10 21:51] #4512 closed

[2016-03-10 21:52] BYK commented on #5187
@ljharb supporting an array of regexes would be harder and less performant I think, that's why I resist a bit.

[2016-03-10 22:09] ljharb commented on #5187
Why would an array of strings that's `.forEach`'d be any harder than a single string?

[2016-03-10 22:10] ljharb commented on #5187
As for performance, certainly internally it could be concat'd to a single pipe-delimited string in the array case.

[2016-03-10 22:11] nzakas commented on #5530
Using ESLint is mentioned quite early in the page:
http://eslint.org/docs/user-guide/getting-started#usage

We can definitely add a link to the command line options if you think that's useful, I'm just not sure that's the logical next thing people should read. Most of our questions tend to be about configuration, which is why that's the top recommended link.

[2016-03-10 22:17] nzakas commented on #5519
We generally call out important features in our release announcements. This particular change was mentioned here:
http://eslint.org/blog/2016/03/eslint-v2.3.0-released

The changelog is just a list of commits for people who are interested in those; the blog posts are where we put in most of the effort to inform people when important changes are being made. For each release, we go through the commi

[2016-03-10 22:19] BYK commented on #5187
That would work. Still unsure. Gonna defer to @eslint/eslint-team

[2016-03-10 22:20] raould commented on #5530
fwiw, it would make sense to me at least for the link to be at the end (as well at least) so that a newbie can "flow" along getting setup and trying it out on some code. but of course i might just be an outlier in my use case.

[2016-03-10 22:21] nzakas commented on #5513
We have no control over this. This isn't related to Espree, this error message is coming directly from Node.js because you are using invalid syntax. There's nothing we can do to improve the situation. If you want to pursue this, you'd need to file an issue with Node.js to see if they can give you better location information.

[2016-03-10 22:21] #5513 closed

[2016-03-10 22:31] nzakas commented on #5476
estraverse fix has landed, so I'm starting work on integrating that. esrecurse (which escope relies on) isn't yet ready, so won't be able to merge until that's complete.

[2016-03-10 23:03] platinumazure commented on #5188
Apologies for the delay.

Here's what I think is actionable now:
* Enable `space-in-parens` to enforce no spaces in parentheses
* Enable `quote-props` to enforce unquoted properties
* Enable `lines-around-comment` to require blank lines before line and block comments
* Enable `vars-on-top` to ensure variables are declared at the top of their containing scope
* Enable `one-var-declaration-per-line`

[2016-03-10 23:08] nzakas commented on #5530
This file exists on the website, so I'll make the change there.

[2016-03-10 23:08] #5530 closed

[2016-03-10 23:11] nzakas commented on #5187
Looks like we use one string for  the `id-match` rule, so we should probably follow that convention.

[2016-03-10 23:12] nzakas commented on #5537
Can you include the actual ESLint output?

[2016-03-10 23:14] nzakas commented on #5540
That's strange. @byk @gyandeeps thoughts?

[2016-03-10 23:19] nzakas commented on #5536
Sequences are allowed when enclosed in parentheses. See http://eslint.org/docs/rules/no-sequences#rule-details. The rule is behaving as expected.

The introductory paragraph and code example does not say all of the code is considered bad, it is just showing examples of code sequences. We can maybe make that clearer.

[2016-03-10 23:21] nzakas commented on #5535
Why do you want such an option, what's your use case?

[2016-03-10 23:25] nzakas commented on #5502
Sounds like @mysticatea is championing this rule.

[2016-03-10 23:26] ljharb commented on #5187
consistency wins, fair enough

[2016-03-10 23:26] nzakas commented on #5493
Confirmed as related to #5476. Closing.

[2016-03-10 23:26] #5493 closed

[2016-03-10 23:30] brettz9 commented on #5535
Allowing it can make for overly complex code (except in for loop initialization or afterthoughts where it is a common, expected convention, and where you already permit the comma operator anyways).

[2016-03-10 23:32] BYK commented on #5540
Verified on master with the following snippet:

[code]

[2016-03-10 23:38] brettz9 commented on #5536
Ok, sure--maybe a problematic equivalent too, since there's already a non-problematic version:

[code]

[2016-03-11 02:30] Karankang007 commented on #3493
I was just giving an example of indent in array object. Don't mind me.

[2016-03-11 03:15] jbergstroem commented on #5522
Strange. I swear I replied yesterday. Anyway, I'll write it again.

Apologies for now following your guidelines. Here's the error I'm seeing, trying to use eslint from node with a binary built with the `--without-ssl` flag:
[code]

You can find a full discussion from the nodejs point of view at https://github.com/nodejs/node/issues/5610.

[2016-03-11 03:56] gyandeeps commented on #5540
This is not a bug because this falls under the multi-line case. Our indent rule doesnt check indentation for multi-line stuff.
related: https://github.com/eslint/eslint/issues/5073 n others

[2016-03-11 05:06] IanVS commented on #5410
This is a little trickier than I originally hoped, due to the way our default and custom ignore rules are separated.  After https://github.com/eslint/eslint/pull/5461 is merged I will tackle this issue as a separate PR.

[2016-03-11 05:30] treythomas123 commented on #5540
Could the `indent` rule be updated to catch when spaces are expected but tabs are found (or vice versa), without enforcing a certain indention level for the multi-line statement? That seems like it'd be easier to implement than full support for the different possible multi-line chaining styles.

If you're open to that, I can look into opening a PR.

[2016-03-11 07:32] alberto commented on #5522
We could also disable caching if there is no ssl support.

[2016-03-11 08:29] BYK commented on #5540
@treythomas123 interesting thought but I'd prefer not complicating the indent rule s it is. I am working on a rewrite. Can't give estimates yet but I'm not too far from figuring it out. You may check my trials on the `new-indent` branch.

[2016-03-11 08:34] BYK commented on #3493
@Karankang007 - it is okay to give examples. Actually if you feel strongly for the example you provided, you may propose it as an enhancement to the rule, but it should be in its own issue. Our responses were just to mentioned that the example you have provided does not really apply to this specific issue :)

[2016-03-11 09:32] fixpunkt commented on #5426
For the benefit of anybody also coming here from Google: This issue is fixed in 2.3.0.

[2016-03-11 10:50] BYK commented on #5538
I was able to reproduce this on latest master with the following new test case under `valid`:

[code]

[2016-03-11 10:58] afahim commented on #5060
@Alaneor (or perhaps @ilyavolodin): can you provide an example where a space would not be expected after a word operator?

[2016-03-11 11:03] BYK commented on #5537
This is related to #5538.

[2016-03-11 11:04] BYK commented on #5537
Verified on latest master.

[2016-03-11 11:21] BYK commented on #5336
"minimum" combined with before/after: `false` does exactly that though, right?

[2016-03-11 12:11] mleduque opened #5546 "quotes: allow template strings with no substitution"
I want to check the quotes in the project code, allowing both single quotes and backticks, but disallowing double quotes.
I set the quotes property to ["error", "single"], and that excludes double quotes (good), but also excludes templates when there is no substitution inside, for example

[code]
causes
[code]
I can't find a way to disable the check done there https://github.com/eslint/eslint/comm

[2016-03-11 14:02] gyandeeps commented on #5540
@treythomas123 meanwhile u can use `no-tabs-in-file` rule fro this plugin: https://github.com/gyandeeps/eslint-plugin-ideal

[2016-03-11 14:54] ilyavolodin commented on #5522
@alberto I think the issue is not running eslint with caching, it's that we are using `crypto = require( "crypto" )` on top of the `cli-engine`. So if you have node compiled without SSL, that line will fail, whether you use caching or not. We could make that `require` conditional, and then everything should pass.

[2016-03-11 15:00] ilyavolodin commented on #5060
@afahim The only one that comes to my mind is:
[code]

[2016-03-11 15:12] Droogans commented on #5538
@BYK Thanks! That was quick.

[2016-03-11 15:34] IanVS opened #5547 "`--no-ignore` should not un-ignore node_modules"
**What version of ESLint are you using?**
Master

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Espree

**What did you do? Please include the actual source code causing the issue.**
Ran eslint with `--no-ignore` flag

**What did you expect to happen?**
Ignore settings from `.eslintignore` to be disregarded, as indicated in docs.

**What actually happened? Please inc

[2016-03-11 15:37] IanVS commented on #5234
@nzakas what is the accepted change here?  Do we want to break this off into a new rule as has been suggested?

[2016-03-11 15:38] IanVS commented on #5546
This appears to be a duplicate of https://github.com/eslint/eslint/issues/5234.

[2016-03-11 15:38] #5546 closed

[2016-03-11 15:51] #5499 closed

[2016-03-11 15:59] swernerx opened #5548 "`indent` broken with object parameter on new line when using Allman brace style"
**What version of ESLint are you using?**
v2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Espree

**What did you do? Please include the actual source code causing the issue.**
[code]

My configuration:

[code]

Seems to be related to this report: https://github.com/eslint/eslint/issues/5064

**What did you expect to happen?**

That no error is being shown.

**

[2016-03-11 16:09] swernerx opened #5549 "Allman Style: No error for wrong brace position"
**What version of ESLint are you using?**
v2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Espree

**What did you do? Please include the actual source code causing the issue.**

**Correct Code:**

[code]

**Wrong Code:**

[code]

**Configuration:**

[code]

**What did you expect to happen?**

That the wrong code block (the second one) is actually reporting a fe

[2016-03-11 16:13] swernerx commented on #5548
One part of the issue seems to be the result of the detailed configuration of `allowSingleLine`. If this setting is not defined it reports these issues:

[code]

That's still ignoring array, objects and es6 classes.

[2016-03-11 16:15] swernerx commented on #5549
One part of the issue seems to be the result of the detailed configuration of `allowSingleLine`. If this setting is not defined it reports these issues:

[code]

That's still ignoring array, objects and es6 classes.

[2016-03-11 16:31] nzakas commented on #5476
Published new version of esrecurse, now working on escope.

[2016-03-11 16:38] ilyavolodin commented on #5547
Agree.

[2016-03-11 16:39] nzakas commented on #5476
https://github.com/estools/escope/pull/103

[2016-03-11 16:42] MiguelCastillo commented on #5234
Opinionated vote is to have separate rules.  It is more clear to me.  In projects I am involved in they are both used and they certainly don't mean the same thing.  A tick isn't a quote...  Although a tick does encompass the functionality of a quote.  `template-string` seems very appropriate.  And perhaps even add some of the semantics provided with `avoid-escape` if we feel that we really need it

[2016-03-11 16:59] Cuel opened #5550 "Plenty of false irregular whitespace error"
Hi,

**What version of ESLint are you using?**
"eslint": "^2.3.0",
"eslint-config-standard": "^5.1.0",
"eslint-plugin-standard": "^1.3.2",
(Atom, babel)

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Standard

**What did you do? Please include the actual source code causing the issue.**
Note: <**here**> is = hex 20 space
[code]
or

[code]

**What did you expect to h

[2016-03-11 17:07] platinumazure commented on #5060
@afahim `typeof` and `delete` were the only word unary operators I could come up with. They both can be followed by parentheses to avoid spacing (unless the rule is turned on to enforce spacing).

Additionally, it might be worth seeing if `no-extra-parens` would warn in those cases-- maybe in the case where the operand is in parentheses but there is no space, `no-extra-parens` should not warn.

[2016-03-11 17:17] alberto commented on #5522
Yeah, I didn't look at the implementation, but that's what I really meant :)

[2016-03-11 17:37] alberto commented on #5547
Wouldn't this be a breaking change?

[2016-03-11 17:40] IanVS commented on #5547
Personally I see it as a bug fix, since the current behavior is not as
documented or expected.

On Fri, Mar 11, 2016, 12:37 alberto <notifications@github.com> wrote:

[2016-03-11 17:46] afahim commented on #5060
Cool, thanks guys. I was wondering if I were missing any cases besides the parenthesis with expressions.

I'll take a look at this during the weekend.

[2016-03-11 18:34] nzakas commented on #5476
All dependencies have been updated with new functionality, so removing the "blocked" label.

PR: https://github.com/eslint/eslint/pull/5543

[2016-03-11 18:47] nzakas commented on #4640
Closing in favor of https://github.com/eslint/eslint/issues/5476

[2016-03-11 18:47] #4640 closed

[2016-03-11 18:51] nzakas commented on #5476
PR has been merged. Release is starting.

[2016-03-11 19:03] ilyavolodin commented on #5522
@jbergstroem Would a simple change of making `require("crypto")` conditional solve your problem?

[2016-03-11 19:54] Daniel15 opened #5551 "no-unused-expressions should catch property access"
With ESLint 2.3.0 and the `no-unused-expressions` rule enabled, this is lint-free (tested [on the demo](http://eslint.org/demo/)):
[code]

Shouldn't the `STUFF.foo` be caught by `no-unused-expressions`, or even a totally separate rule? I understand that `STUFF.foo` could actually be a getter with side-effects and thus technically it's not unused, but I don't think that's very common in JavaScript

[2016-03-11 19:54] alberto commented on #5488
Closing then, since this was indeed a bug.

[2016-03-11 19:54] #5488 closed

[2016-03-11 20:29] budarin opened #5552 "ESLint: Parsing error: 'import' and 'export' may appear only with 'sourceType: module'"
Created new simple project with one file:

        import React from 'react';
        import { render } from 'react-dom';
        import { Router, browserHistory } from 'react-router';

        render((
            <Router history={browserHistory} routes={routes}>
            </Router>
        ), document.getElementById('root'));

created simple .eslintrc with the help eslint --init:

        {

[2016-03-11 20:47] ilyavolodin commented on #5552
You need to add `sourceType: "module"` to your config. There is no way for us to identify automatically what's a script and what's a module, so you have to provide that information in config file. For more details look in the [documentation](http://eslint.org/docs/user-guide/configuring#specifying-parser-options)

[2016-03-11 20:47] #5552 closed

[2016-03-11 20:56] budarin commented on #5552
thanks

[2016-03-11 21:27] ilyavolodin commented on #5552
You need to include `eslint-plugin-react`. ESLint doesn't support React on it's own, you need plugin to handle that.

[2016-03-11 21:32] budarin commented on #5552
it's installed by eslint --init command and included in .eslintrc
   "plugins": [
            "react"
        ],

[2016-03-11 21:34] ilyavolodin commented on #5552
You'll need to enable appropriate rules from `eslint-plugin-react` package. Not sure which ones, you'll have to look at the repository for instructions. Also we have gitter channel for questions like that here: https://gitter.im/eslint/eslint

[2016-03-11 21:35] budarin commented on #5552
thanks

[2016-03-11 21:47] jbergstroem commented on #5522
@ilyavolodin: sure; conditional on what? Disable caching? Sounds like a fair tradeoff

[2016-03-11 21:48] platinumazure commented on #5551
My guess is we don't flag properties because the properties could be backed by getters or setters, which could have side effects.

[2016-03-11 21:49] Daniel15 commented on #5551
I think it would still be good to have a way to optionally flag this as a lint warning too. Getters with side effects should be very rare.

[2016-03-11 22:12] nzakas commented on #5551
@Daniel15 I can't reproduce. I just verified that `STUFF.bar` is flagged with the latest version of ESLint. If you're using an older version, please try upgrading.

[2016-03-11 22:12] #5551 closed

[2016-03-11 22:14] Daniel15 commented on #5551
@nzakas Does the demo not use the latest version of ESLint? I can repro on the demo:

![screen shot 2016-03-11 at 2 13 16 pm](https://cloud.githubusercontent.com/assets/91933/13716998/799f7eb0-e793-11e5-9efe-146306f3b2c0.png)

Looks like we're using an older version internally (1.10.3), I'll see if I can upgrade it.

[2016-03-11 22:15] nzakas commented on #5188
Seems reasonable to me. @eslint/eslint-team  thoughts?

[2016-03-11 22:18] nzakas commented on #5551
The demo is using the latest version (2.4.0). Try clearing your cache.

I see that `STUFF.bar` is flagged in the demo as well.

[2016-03-11 23:19] ilyavolodin commented on #5522
Yes, conditional on not passing `--cache` flag. That way, everything except for caching is going to work fine without SSL. I think that's probably a good middle ground solution.

[2016-03-11 23:20] ilyavolodin commented on #5188
If we are enabling `vars-on-top` we should probably enable `one-var` as well. Otherwise sounds good to me.

[2016-03-11 23:30] platinumazure commented on #5188
@ilyavolodin Good call, I've edited my previous comment to include your suggestion.

[2016-03-12 01:28] michaelficarra commented on #5522
Or we could just use a faster hashing algorithm and allow these users to continue using the `--cache` flag. Win-win?

[2016-03-12 01:31] machineghost opened #5553 "New Rule Option Proposal for space-infix-ops"
**When does this rule option warn? Please describe and show example code:**
Currently if you set space-infix-ops=1 code like the following is flagged:

    var a=1; // should be a = 1

That's great, as most programmers would agree adding spaces helps readability.

However, with the introduction of ES6, there is now a new use case for the `=` operator, and that is for defining default parameters:

[2016-03-12 03:30] michaelficarra commented on #5553
Since that's not an operator, space-infix-ops shouldn't even be handling it in the first place.

[2016-03-12 05:47] s7dhansh commented on #5044
Same issue. In my case the variable is modified before and after the loop. Still the code is perfectly safe.

eg.
[code]

Are there no exceptions that we can define for no-loop-func?

[2016-03-12 07:00] indexzero opened #5555 "prefer-const throws error even though let-defined variable is assigned multiple times."
- **What version of ESLint are you using?** `2.2.0`
- **What configuration and parser (Espree, Babel-ESLint, etc.) are you using?** `Espree`
- **What did you do? Please include the actual source code causing the issue.** See [the simple as possible reproduction](https://gist.github.com/indexzero/0df4264d5a1121469d2e)
- **What did you expect to happen?** No lint errors
- **What actually happened? P

[2016-03-12 08:59] kazazor opened #5556 "Change guard-for-in to allow also the prevention of the use of for-in loops in the code"
**What version are you using?**
2.3.0

**What did you do?**
Well it is not like I found an issue, more like I would like to add more options to the ```guard-for-in``` rule.. Currently the rule only prevents ```for-in``` loops that doesn't have an ```if``` condition in them.

This may help in not running over all the prototype chain, but doesn't solve the fact that a ```for-in``` loop [prevents the

[2016-03-12 10:14] BYK commented on #5188
:+1:

[2016-03-12 10:22] BYK commented on #5197
@PhiLhoSoft, @aparajita - I took this on since there wasn't much activity. Sorry if I stepped on your toes! :)

[2016-03-12 10:52] shaharkazaz commented on #5556
+1

[2016-03-12 11:04] BYK commented on #5468
Can this be related to https://github.com/nodejs/node/issues/3402? If so should we still try to find a workaround?

[2016-03-12 11:06] BYK commented on #5549
Looks like a duplicate of #5197. Feel free to reopen if you disagree.

[2016-03-12 11:06] #5549 closed

[2016-03-12 11:08] BYK commented on #5553
Related to https://github.com/eslint/eslint/issues/3380#issuecomment-184567365.

I guess we decided to create a new rule, `space-ops`. Does that cover your use case (with the option of course)?

Also @michaelficarra would you be happy with this solution since the name won't have "infix" in it? :)

[2016-03-12 11:13] BYK commented on #5555
You are not assigning the variable multiple times in your example, you just do it once so the rule is behaving correctly. That said the late binding issue was brought up before so I consider this as a duplicate of #5284 and closing this one. Feel free to reopen and provide more details if you disagree.

PS: We'd prefer if you can include your configuration and examples inside the bug report using

[2016-03-12 11:17] BYK commented on #5556
I think using `ForInStatement` with [no-restricted-syntax](http://eslint.org/docs/rules/no-restricted-syntax) would address your suggestion. What do you think?

[2016-03-12 11:37] kazazor commented on #5556
Well I must say that I never saw this rule and now I'm in love with it!

In my opinion we should still modify the [guard-for-in](http://eslint.org/docs/rules/guard-for-in) rule to have this option since I look at eslint in a lot of cases as a guideline for good js. A lot of js developers doesn't know about this ```for-in``` limitation and are just harming their code.

Having the option to block th

[2016-03-12 11:39] indexzero commented on #5555
@BYK I don't quite understand the first part of response since the variable is assigned to twice. The program output verifies this. Apologies for not including it in the issue itself, but happy to walk through it again. Using this `eslintconfig.json`

[code]

We execute the following code:

[code]

Running this program we see that `third` does, in fact, hold two different values over the run-time

[2016-03-12 11:45] indexzero commented on #5284
@nzakas I was bit by this today, was a serious head scratcher for a while. Glad to hear it's getting attention from you fine folks.

Two things:

1. I'm a big +1 on removing warnings from `prefer-const` for uninitialized `let` statements, is that still happening? It was a little unclear reading the back scroll.
2. If you're looking for a common pattern where this happens [I see it a lot in `mocha`

[2016-03-12 13:02] BYK commented on #5555
Oh, right! Sorry I skimmed the code and didn't really evaluate it in my head. Yeah it is definitely being assigned twice because of the two `setupTest()` calls. Apologies for the confusion :)

[2016-03-12 13:05] BYK commented on #5556
We don't want to have overlapping rules in the core. Also `guard-for-in` is crafted to protect against this very specific scenario. Even its name implies that so I don't think we can add it there.

I'm glad `no-restricted-syntax` solves your problem!

[2016-03-12 13:05] #5556 closed

[2016-03-12 14:02] ilyavolodin commented on #5555
Looks like the issue should be reopened.

[2016-03-12 14:40] BYK commented on #5555
@mysticatea - any thoughts about this? I think #5284 would solve this since there's no easy way to determine multiple assignments done through multiple invocations of a function, right?

[2016-03-12 15:44] mysticatea commented on #5555
Thank you for this issue.

Yes, #5284 would solve this issue. After #5284, `prefer-const` will get not warning a variable if the variable moves to another scope.
Actually, I have done to implement #5284. I'm writing tests and docs now.

[2016-03-12 16:18] aparajita commented on #5197
@BYK Be my guest!

[2016-03-12 16:56] #5537 closed

[2016-03-12 16:56] #5538 closed

[2016-03-12 17:04] BYK commented on #5402
I'm very close to submitting a PR, working on the docs.

[2016-03-12 17:07] BYK commented on #5555
@mysticatea @ilyavolodin then I think we should close this issue.

[2016-03-12 17:08] BYK commented on #5522
:+1: to @michaelficarra

[2016-03-12 17:10] nzakas commented on #5284
Yes

[2016-03-12 17:12] nzakas commented on #5468
Ooh, nice find. We should probably wait to see what the resolution of that is.

[2016-03-12 17:12] platinumazure commented on #5522
Yeah, I also don't see why we can't take in a package that will improve the experience for everyone when it's not even that large. :+1: to @michaelficarra

[2016-03-12 17:14] nzakas commented on #5336
@byk that's a long trip to get to the actual meaning. I don't think it's clear that's what would happen.

[2016-03-12 17:16] BYK commented on #5336
@nzakas yeah, I agree :(

[2016-03-12 17:16] nzakas commented on #5188
Looking over this again, I fear that `vars-on-top` and `one-var` would both require massive changes, so I'm a bit concerned about that. Those can't be autofixed, so it would be a huge pain to make those changes.

[2016-03-12 17:17] ilyavolodin commented on #5555
Closing per discussion. This will be fixed as part of the #5284 issue.

[2016-03-12 17:17] #5555 closed

[2016-03-12 17:21] platinumazure commented on #5188
@nzakas Acknowledged, but please do bear in mind that the original goal of this issue is to bring ESLint config in line with your stated coding convention preferences. So for each of the discrepancies I've identified, either we can tighten ESLint config to match the code convention, or we can loosen the coding convention to match the reality of ESLint's style. I don't think we should do nothing in

[2016-03-12 17:23] ilyavolodin commented on #5188
Just checked. Yes, `vars-on-top` alone would be 838 errors in our codebase. That might be a bit too much.

[2016-03-12 17:24] BYK commented on #5188
I've dealt with 2k+ errors when doing this: https://github.com/disqus/heka-node/commit/a1de77eee7036e1c983dc586acbe98b327b4de09

You can't scare me with 800 :D - Joking aside, I'm willing to give a hand.

[2016-03-12 17:24] michaelficarra commented on #5522
If it helps at all, I'd be willing to do the work.

[2016-03-12 17:31] platinumazure commented on #5188
@ilyavolodin @nzakas Also I'd be willing to clean up large error chunks.

I was going to ask about next steps. Should I file separate issues for each of the rules I've listed? Or is it sufficient for PRs to "ref" this issue until the last one?

[2016-03-12 17:48] julienw commented on #5336
What makes things difficult here is that the `keyword-spacing` rule handles all keywords.. It would be easier if there were separate rules for separate keywords.

[2016-03-12 18:08] michaelficarra commented on #5553
It's not the infix part, it's the operator part of the name that I don't like. It could be argued, but I don't see the `=` in parameter defaults as an operator. But I guess that doesn't mean the same rule can't handle it if there will be significant overlap in implementation. :confused:

[2016-03-12 18:08] dsilva commented on #5468
It's related but I doubt that the meaning of __dirname will change anytime soon (if ever). Even if it does, it doesn't fix the case where you have multiple directories in the NODE_PATH environment variable.

[2016-03-12 18:15] machineghost commented on #5553
@BYK Breaking things out in to a separate rule works for me.

[2016-03-12 21:07] nzakas commented on #5188
@platinumazure remember, we can define the relationship we want. One way to bring the conventions into alignment with the rules is to change the rules, another is to change the conventions. Both options are at our disposal, so it's really a question of what the team prefers as a whole.

Next step is to get consensus from the team about these last two rules. After that, I'd just use this one issue

[2016-03-13 06:36] michaelficarra commented on #5522
FYI, PR open at #5560.

[2016-03-13 07:45] michaelficarra commented on #5535
@brettz9 I think the question is: why do you feel you need to have the unnecessary grouping parentheses? If you removed them, the rule would report that code.

[2016-03-13 08:08] michaelficarra commented on #5533
If `no-unused-expressions` would flag left operand of `,`, we'd need an exception for the indirect eval pattern `(0, eval)("...")`.

[2016-03-13 11:04] BYK commented on #5532
Looking into this

[2016-03-13 11:19] BYK commented on #5476
Do you think we can close this since 2.4.0 is out now?

[2016-03-13 11:22] BYK commented on #5469
@mysticatea - are you working on this?

[2016-03-13 13:58] platinumazure commented on #5188
@nzakas Cool. And regarding actions we can take, I'm glad we're on the same page:

[2016-03-13 16:22] ksmithut opened #5563 "ignoreTrailingComments option for max-len not being respected"
**What version of ESLint are you using?** 2.3.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected there to not be an eslint error because I've set `ignoreTrailingComments` to `true`, which from t

[2016-03-13 17:39] nzakas commented on #5476
Yeah, not sure why this didn't automatically close when the PR was merged.

[2016-03-13 17:39] #5476 closed

[2016-03-13 17:46] nzakas commented on #5468
@dsilva your bug report was about symlinks. Can you confirm that there's also a problem without using them?

[2016-03-13 17:46] #5532 closed

[2016-03-13 17:57] Bnaya commented on #5532
@BYK Thanks!

[2016-03-13 17:59] jlagerblad opened #5564 "Parse error for function call to await()"
**What version of ESLint are you using?**
2.4.0 and 2.2.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
I ran: eslint -f unix ./src
On a file with this content, there is a parse error (It used to work with eslint 1.x)
[code]

**What did you expect to

[2016-03-13 18:03] PhiLhoSoft commented on #5197
No problem, I appreciate the push! Hadn't time to do it anyway.

[2016-03-13 21:55] brettz9 commented on #5535
@michaelficarra My concern was for other contributors to a project who could be prevented from submitting the problematic code.

Since the additional grouping parentheses in the case of sequence expressions are already considered problematic by `no-extra-parens`, one could admittedly add a `no-extra-parens` rule to catch the parenthesized-wrapped sequences too. However, those who wish to prohibit

[2016-03-13 22:12] kaicataldo commented on #5531
PR opened for the Espree change. Will get to adding the tests on ESLint after that lands :+1:

[2016-03-14 05:50] faceleg commented on #5564
Confirmed using setup described above: https://gist.github.com/faceleg/29f16af0b146a59d6b99

[2016-03-14 05:56] faceleg commented on #5563
Confirmed with above example and v2.4.0

[2016-03-14 05:59] faceleg commented on #5450
No problem, there are a few of us here whose role is helping manage issues :)

[2016-03-14 07:11] BYK commented on #5533
Note sure if we still need to address this after #5566.

@michaelficarra, @brettz9, @nzakas, @ilyavolodin - thoughts?

[2016-03-14 07:13] BYK commented on #5564
`await` is a reserved word so I'm not sure if this is actually a bug.

[2016-03-14 07:15] BYK commented on #5564
@nzakas, @michaelficarra - the following code works in my Node REPL (both in normal and strict modes) so I think this is a bug with Espree.

[2016-03-14 07:18] michaelficarra commented on #5564
Yep.

[2016-03-14 07:36] BYK commented on #5550
Can you write the exact code of "hex 20 space"?

The rule clearly states which characters it doesn't allow: http://eslint.org/docs/rules/no-irregular-whitespace

If this is not there we should either fix the docs or update the rule to allow.

[2016-03-14 07:53] mysticatea commented on #5469
No, I don't have enough time now. :cry:

[2016-03-14 08:03] alberto commented on #5469
I'll take it.

[2016-03-14 10:06] AvraamMavridis opened #5567 "Ignore option on the require-jsdoc rule"
( I am using "eslint": "^1.9.0" )
It will be nice if we can specify functions that the rule will ignore. e.g. the `render` function on React components is kinda obvious what is doing and a comment block is not really needed.

![screen shot 2016-03-14 at 10 58 36](https://cloud.githubusercontent.com/assets/14922483/13741037/34b779ae-e9d4-11e5-82b5-a4d41e756c59.png)

It will be nice if we can have s

[2016-03-14 10:30] dsilva commented on #5468
Sorry, I should have mentioned originally that this also happens without symlinks.  Here's a minimal repro:

[code]

[2016-03-14 11:30] mysticatea commented on #5284
I'm sorry for late.
I will send a PR within a few days.

[2016-03-14 11:47] karolyi opened #5568 "prefer-const not working consistently"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I might be missing something, but I think this rule is still not working right.

since `const` has a different behavior in browsers and nodejs, I get

[2016-03-14 12:17] kumar303 opened #5569 "eslint 2.4.0 has a missing dependency of estraverse-fb"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
https://github.com/mozilla/web-ext/blob/0ce1debe0546559fd79ec43523250f776148749f/.eslintrc

**What did you do? Please include the actual source code causing the issue.**
Upgraded babel-eslint

**What did you expect to happen?**
I expec

[2016-03-14 12:52] platinumazure commented on #5569
I believe we've fixed our issue, but `babel-eslint` has to make a change as well.

[2016-03-14 12:56] ilyavolodin commented on #5568
This is correct behavior based on the spec. Browsers/node have bugs in their implementation of the `const` (before, they didn't work at all). Closing as there is nothing to fix here.

[2016-03-14 12:56] #5568 closed

[2016-03-14 13:02] #5260 closed

[2016-03-14 13:24] hzoo commented on #5569
I've been making all changes on the 6.x branch - can you try with babel-eslint@v6.0.0-beta.6?

[2016-03-14 14:14] swillard-r7 commented on #5569
@hzoo I can confirm that the 6.x (latest beta) fixes this issue with eslint.

On a slightly unrelated note, I guess things were renamed in babel-eslint 6 from 5, so I'm getting several errors

[code]

[2016-03-14 14:21] hzoo commented on #5569
@swillard-r7 Yes, those would be eslint 2 errors since rules were renamed (and yes unrelated to babel-eslint).

ESLint 2 would be major version change and thus with breaking changes (this is why babel-eslint 5 is for ESLint 1 and babel-eslint 6 is for ESLint 2)

[2016-03-14 14:28] gajus commented on #5211
This is being tracked on https://github.com/babel/babel-eslint/issues/226 too.

[2016-03-14 15:36] ilyavolodin commented on #5569
Closing this since it's been fixed.

[2016-03-14 15:36] #5569 closed

[2016-03-14 16:56] nzakas commented on #5533
This is not a bug, it is working as designed. I don't think we should do anything here.

[2016-03-14 16:56] #5533 closed

[2016-03-14 17:08] nzakas commented on #5535
@brettz9 please keep the discussion on topic, we are getting a bit far off now, which makes it hard for others to understand what's being proposed or discussed.

This issue is about whether or not to add an exception to `no-sequences` such that all sequences are disallowed all of the time. It seems like that is the intent here.

It's worth noting that you can already do this using the `no-restrict

[2016-03-14 17:22] jrouleau opened #5573 "TypeError: Cannot read property 'type' of undefined"
This is not the same as #5426

**What version are you using?**
2.4.0

**What configuration are you using?**
Extends `eslint-config-rlabs` based on `eslint-config-airbnb`
[code]

**What did you do?**
***Error 1***
When there is an unused parameter in the contructor
[code]
***Error 2***
When there is an undefined symbol in the constructor. Mostly noticeable with live linting while typing.
[code]
**W

[2016-03-14 17:33] #5314 closed

[2016-03-14 17:35] brettz9 commented on #5535
Sorry, I've edited my previous comment to exclude the parentheses discussion (which I intended to add as a new issue or PR).

I assume the prohibition of `SequenceExpression` by `no-restricted-syntax` will also have the effect of disallowing sequences in for afterthoughts (and indirect evals)--unlike `no-sequences` which explicitly whitelists this particular case.

If that is a correct understandi

[2016-03-14 17:37] IanVS commented on #5314
@rawalter21, could you try using master now that we've reworked some of our ignore logic, to see if you're still having problems?  I believe we've fixed it, but it would be great if you can confirm.

[2016-03-14 17:47] ilyavolodin commented on #5573
Thanks for the report. @mysticatea Could you take a quick look?

[2016-03-14 18:16] BYK commented on #5535
@nzakas - after seeing your `no-restricted-syntax` suggestion, I'm a bit skeptical about the necessity of this change.

[2016-03-14 18:17] BYK commented on #5535
But in all honesty, in that light, I think `no-sequence` itself may be completely obsolete.

[2016-03-14 18:45] brettz9 commented on #5535
@BYK, what about people who want all sequences except for indirect eval (such as you've added) and/or for loop afterthoughts (which `no-sequences` specifically permits)?

[2016-03-14 18:55] brettz9 opened #5575 "`exceptRange` (or `exceptYodaRange`) option for `no-extra-parens`"
**What version are you using?**

Version on demo.

**What did you do?**

I added the following code, adapted from the non-problematic range sample from `yoda`:

[code]

**What happened?**

A `no-extra-parens` error is reported.

**What did you expect to happen?**

While it is expected that it still reports a `no-extra-parens`, I'd think that `no-extra-parens` should have its own "exceptRange" opti

[2016-03-14 19:08] BYK commented on #5535
@brettz9 I think that's an edge case. That said we can probably cover it with `no-eval`.

[2016-03-14 19:13] brettz9 commented on #5535
What about allowing for sequences in loop afterthoughts? Those are pretty common...

[2016-03-14 19:54] nzakas commented on #5535
@brettz9 Our rules are designed to cover the most common cases and will definitely not be able to be configurable down to the level you're asking about. If you really want this many edge cases, then your best bet is to create a custom rule.

[2016-03-14 21:23] nzakas commented on #5402
Looking at this again, I think I may be wrong about bundling this functionality with `quote-props`. From @BYK's PR, it just doesn't seem to fit into the rule that well.

I think we need to go back to the drawing board on this and decide if it makes sense to have a separate core rule or not. I'm leaning towards not at the moment, and it would be better as a custom rule, but I'd like to hear what ot

[2016-03-14 21:26] nzakas commented on #5336
@julienw that would be a nightmare for end users. That level of granularity is overwhelming for people when they just want one or two exceptions.

[2016-03-14 21:27] BYK commented on #5575
You don't need parens there though, why do you think we need to allow this? (instead of you putting the `// eslint-disable-line no-extra-parens` there)

[2016-03-14 21:31] nzakas commented on #5234
@IanVS "accepted" was in response to https://github.com/eslint/eslint/issues/5234#issuecomment-183676342

I still think just having an option of `quotes` that says "allow template literals in addition to my preference" is the simplest and easiest way to resolve this. I don't see a lot of value in splitting out an entire separate rule for what amounts to one exception.

Maybe if we clean it up a bi

[2016-03-14 21:37] BYK commented on #5402
May be we just need a new rule with a better organization of options: `property-style`?

[2016-03-14 21:38] BYK commented on #5402
Or `object-literal-properties`, `property-definition-style` etc.

[2016-03-14 21:50] julienw commented on #5336
@nzakas Maybe we'd need separate rules but also an alias that would represent several separate rules; but it's a long shot just to fix this :)

[2016-03-14 22:12] nickiaconis opened #5577 "Adding custom rules to one CLIEngine instance affects other CLIEngine instances"
## What version of ESLint are you using?

eslint@2.3.0

## What parser (default, Babel-ESLint, etc.) are you using?

Default parser.

## Please show your full configuration:

[code]

[code]

[code]

[code]

[code]

## What did you do? Please include the actual source code causing the issue.

[Source code that creates the CLIEngine instance(s)](https://github.com/nickiaconis/broccoli-eslinter/blob/

[2016-03-14 22:18] ilyavolodin commented on #5577
This sounds like another instance of ByRef modification of config object. I thought we already deepClone configs every time, but apparently not. @gyandeeps you did the modification to deepCloning last time, do you want to take a look?

[2016-03-14 22:29] kaicataldo commented on #5531
My fix was merged and it looks like @nzakas released a new version of espree. Would the next step be for me to open a PR that bumps the version of espree in this repo and add tests that assert the fixed `getComment` behavior? Thanks for your help with this.

[2016-03-14 22:57] brettz9 commented on #5575
The ESLint `yoda` rule states:

Users who do not normally want to allow extra parentheses (and thus don't want to add the `no-extra-parens` rule) will be forced to get a `no-extra-parens` warning even if they do want to make an exception for yoda range conditions.

[2016-03-14 23:01] brettz9 commented on #5575
In other words, putting the disable line clutters the code. If you provide a specific option, it makes sense to me that you want to let users use it without it its effects being negated (in all cases) by config from some other rule.

[2016-03-14 23:28] ilyavolodin commented on #5531
@kaicataldo Espree versions are not locked in ESLint. So just doing `npm install` would get you the new version of Espree. However, if the change that you are planning on doing in ESLint would not work with previous version of Espree, then you should up the version in package.json.

[2016-03-14 23:29] ilyavolodin commented on #5575
Those kind of cross-rule exceptions would be almost impossible to maintain with auto-fixing. We would need to do complete rule cross-coupling in order to do autofixes for situations like that.

[2016-03-14 23:36] mysticatea commented on #5564
`espree` v3.1.2 released. :smile:

[2016-03-14 23:41] platinumazure commented on #5575
Why does yoda require parentheses for this exceptional case, anyway? The whole point of the range exception should be that the first half of an or conditional, using the same identifier or member expression on both sides, is allowed to be yoda-style to make the condition more readable as a range. Parentheses should not be enforced here- the fact that they are is a sign that this rule is not follow

[2016-03-14 23:48] brettz9 commented on #5535
But it already is configurable down to that degree in a sense. You explicitly make an exception in `no-sequences` for for afterthoughts, but if you get rid of the `no-sequences` rule (a possibility mentioned by @BYK), then one is no longer able to do this out of the box.

My suggestions may be pretty granular, btw (though I think I'm done now, besides a few doc suggestions), but I think all of the

[2016-03-14 23:50] brettz9 commented on #5575
I agree, @platinumazure , that it'd be nicer (and simpler) for it to work without that requirement.

[2016-03-15 00:21] #3478 closed

[2016-03-15 00:26] mysticatea commented on #5573
Thank you for this issue.
I can reproduce this.

[2016-03-15 00:33] mysticatea commented on #5568
@karolyi Node.js v5 has not supported ES6 `const` variables yet in sloppy mode. Please use strict mode.

[2016-03-15 01:01] mysticatea commented on #5575
I agree with @platinumazure .

[2016-03-15 03:42] kaicataldo commented on #5531
@ilyavolodin Thanks! I'll try to get a PR together in the next day or two

[2016-03-15 06:59] mysticatea commented on #5402
Or just `no-useless-computed-property`. That rule would be very similar to `dot-notation` rule.

[2016-03-15 09:56] keirlawson opened #5579 "Way to conditionally specify config in a shareable config"
Using ESLint 1.x I would like to specify rules in a shareable config for testing framework plugins, ie eslint-plugin-mocha for our node applications and eslint-plugin-jasmine for our front end applications.  However a project will only ever use on or the other or sometimes neither so I'd like a way to specify the desired rules if the plugin is present, but ignore them if its not.  Presently attemp

[2016-03-15 12:47] thutterer opened #5582 ""Error: duplicated mapping key" while reading YAML eslintrc file"
We wanted to switch from an older version (1.10.3) to the current one (2.3.0).
Our eslintrc is in Yaml and worked fine with the old ESLint version.
When using it with 2.3.0 we get an error while ESLint tries to read the eslintrc:
[code]

The key is not duplicated in the file and there are no other config files in parent folders.
When I converted the Yaml to a JSON file and used that, all worked fi

[2016-03-15 12:53] mysticatea commented on #5582
Thank you for this issue.

That error message seems to be confused.
Actually, `no-extra-semi` is duplicated.

[2016-03-15 12:56] #5573 closed

[2016-03-15 12:58] thutterer commented on #5582
wow... amazing how quick your response was... even more amazing how we haven't seen the actual duplicate :see_no_evil:
After removing the second `no-extra-semi`, ESLint behaves as expected.
Thanks for taking care of the misleading error message still :+1:

[2016-03-15 13:00] ilyavolodin commented on #5582
I'm not 100% sure what we can do about this error, since it's coming directly from YAML parser. I guess we could file an issue there for it.

[2016-03-15 13:02] mysticatea commented on #5582
I just searched it, maybe https://github.com/nodeca/js-yaml/issues/243

[2016-03-15 14:13] BenoitZugmeyer commented on #5469
I may be a little late to argue against this change, but in my mind the `always-multiline` aims to enforce clean (line) diff when adding or removing items in an array or object. Thus, optional comma at the end of any line voids the purpose of this rule.

[2016-03-15 14:21] jonnyreeves opened #5583 "sort-imports: support ordering relative imports vs package imports"
## Proposal
Either extend the existing `sort-imports` rule, or create a new rule which will enforce ordering / separation of relative imports vs package imports.

This is a stylistic rule and provides developer the means to keep clear separation between groups of imports helping visually seperate external dependencies (eg: React) from internal code.

#### Good
[code]

#### Bad
[code]

####  Why th

[2016-03-15 14:46] btmills commented on #5575
Removing the parens requirement was brought up recently in #5388, though that was closed as working as designed without any further discussion.

There were two reasons for requiring the paren check:

1. Clarity. Consider, for the test "`x` must be an odd number between 0 and 10": `x % 2 !== 0 && 0 < x && x < 10` vs `x % 2 !== 0 && (0 < x && x < 10)`. Arguably, having the parens makes the intent of

[2016-03-15 14:56] #5579 closed

[2016-03-15 14:57] ilyavolodin commented on #5582
Ahh.. I see, it seems that the error is pointing at the end of the duplicate key, instead of the begging. Still this would need to be fixed in js-yaml.

[2016-03-15 15:31] gyandeeps commented on #5577
@nickiaconis Have you tried it with a simple example of invoking the CLIEngine directly and creating 2 instances of it then try to run it in on some files?
For above example I dont want to understand all the broccoli jazz going in the use case. A simplified use case would be really helpful.
Thanks

[2016-03-15 15:37] #5564 closed

[2016-03-15 15:54] nzakas commented on #5469
Can everyone please review the new behavior in the pull request?
https://github.com/eslint/eslint/pull/5570

@BenoitZugmeyer it's not clear from your description what exactly you're saying. Can you show some code examples that explain your case?

[2016-03-15 16:01] nzakas commented on #5402
Maybe `no-useless-computed-key`? We tend to use `key` for object literals such as `no-dupe-keys` and `key-spacing `.

[2016-03-15 16:04] kaicataldo commented on #5402
Using `key` makes sense to me - it's more specific and more accurately describes what the rule is checking. I'm personally not a huge fan of `useless`, though I think it works. I'll throw in my suggestion: `no-unneccessary-computed-key`?

[2016-03-15 16:05] nzakas commented on #5535
We aren't getting rid of `no-sequences`, it's been around for a while and I think the exception case is useful. I think the best part forward here is for you to create a custom rule that does exactly what you want or else use `no-restricted-syntax` to block all sequences.

[2016-03-15 16:05] #5535 closed

[2016-03-15 16:06] nzakas commented on #5402
@kaicataldo we already have several rules that use `useless`, so best to stick with it.

[2016-03-15 16:07] nzakas commented on #5336
@julienw we don't have a way to do that, and that seems like overkill for this problem.

[2016-03-15 16:11] #5522 closed

[2016-03-15 16:28] julienw commented on #5336
Yes. I don't have better ideas than my first comment https://github.com/eslint/eslint/issues/5336#issue-134830753 or your first comment https://github.com/eslint/eslint/issues/5336#issuecomment-189921463

[2016-03-15 17:42] nickiaconis commented on #5577
@gyandeeps I've reworked the [tests](https://github.com/nickiaconis/broccoli-eslinter/blob/1ffa438617ae12e28a2abe6da343561579a0cc9f/test/test.js) so they no longer use broccoli. Instead [the CLIEngine instances](https://github.com/nickiaconis/broccoli-eslinter/blob/1ffa438617ae12e28a2abe6da343561579a0cc9f/test/test.js#L11-L25) are created directly in that file. You can see on TravisCI that the [te

[2016-03-15 17:46] sebenik opened #5584 "no-extra-parens: add option that would allow extra parans in math expressions while concatenating strings."
**------------------------**
**False bug report!**
**------------------------**

**What version of ESLint are you using?**
v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
```var foo = "bar " + (1 + 2) + " baz"```

**What did you expect to happ

[2016-03-15 18:10] pvamshi commented on #5563
I am trying to fix this. This is my first contribution, so I won't mind if anyone fixes sooner than me . The issue is on this line ( max-len.js, line : 121 ):
`            comments = ignoreComments || maxCommentLength ? context.getAllComments() : [],
`

 `ignoreComments` = false and `maxCommentLength` = undefined , So `comments` is empty array and stripTrailingComments is not performed. I am tryin

[2016-03-15 18:27] platinumazure commented on #5584
Can't reproduce in the demo (but I'm not sure the demo is at latest ESLint). If this can be reproduced, though, I'd say it's a bug and that the rule should be augmented so that it doesn't care about parens for string concatenation.

[2016-03-15 18:55] sebenik commented on #5584
I tested again and i was wrong before.

Within string concatenation, summation and subtraction requires parenthesis and ESLint **doesn't report an error**  ```"Gratuitous parentheses around expression. (no-extra-parens) "```
Error is **only shown** on multiplication and division.

[2016-03-15 19:00] pvamshi commented on #5563
Created pull request #5585

[2016-03-15 19:21] BenoitZugmeyer commented on #5469
@nzakas if you have an array declaration like this:
[code]
and you want to add a new tag name on a new line, you will have to add a comma at the end of the last existing line:
[code]
The diff will be over two lines instead of only one if the comma was already here. On top of this, it can be the source of merge conflicts if two different commits add the comma.

This may be a small issue but I use t

[2016-03-15 19:34] jwilsson opened #5586 "indent: false positives for objects in array variable declaration"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Before `2.4.0` the following code didn't report any errors:
[code]

but as of `2.4.0` is does (output below).

However, this code works fine (even on `2.4

[2016-03-15 19:42] alberto commented on #5469
@BenoitZugmeyer that will still be considered a warning

[2016-03-15 21:09] mjpearson commented on #5040
ESLint CLI's config path argument takes a string file path.  It would be nice if this supported a URL also.

I'm happy to implement this if it gets any votes

[2016-03-15 21:11] spadgos opened #5587 "no-extra-parens when used to disambiguate boolean operators"
**What version of ESLint are you using?**: 2.4.0

**The problem I want to solve.**

`no-extra-parens` complains when using parens to disambiguate conditions using mixed boolean logic.

[code]

At my workplace, we have it as a recommendation to always use parentheses when mixing `&&` and `||`, since it can lead to confusion about the order of operations.

[code]

Technically, in one of those last t

[2016-03-15 21:12] platinumazure commented on #5584
@sebenik In that case, that's as expected. Multiplication and division have higher precedence than string concatenation, so there's no need to have parentheses.

I could maybe get behind an enhancement to the rule (behind a new rule option) which would allow extra parens around mathematical expressions in string concatenation. Then again, though, you can also work around this by either not using p

[2016-03-15 21:29] sebenik commented on #5584
Yes this works as expected although additional option for this rule that would allow extra parans in math expressions while string concatenation would be appreciated.

[2016-03-15 21:34] ilyavolodin commented on #5040
What would be a reason to lint remote file through a URL? You could quite easily do it now: `curl http://url/script.js | eslint --stdin` or something like that.

[2016-03-15 21:45] mjpearson commented on #5040
@ilyavolodin you're completely right, I didn't think of that!  Scratch that suggestion then.

[2016-03-15 21:45] platinumazure commented on #5040
@ilyavolodin Seems the goal is to have a remote config file, not to lint remote scripts. Correct me if I'm wrong @mjpearson.

[2016-03-15 21:47] mjpearson commented on #5040
Yes a remote config, for example I want to run an eslint gulp task which fetches the most up to date config from a master repository to run, avoiding different repo's eslint configs from going out of sync.

[2016-03-15 22:03] alberto commented on #4041
So is this already fixed?

[2016-03-15 22:44] platinumazure commented on #5040
Maybe you could accomplish that with a shareable config and have all repos
consume its "latest" tag in devDependencies? You would need to be very
careful about updates to your config to ensure your projects downstream
aren't broken, but it could work. I think it would be better to have NPM
manage this for you rather than ESLint, since NPM has more or less solved
this problem.
On Mar 15, 2016 4:47

[2016-03-15 22:44] alberto commented on #4828
@nzakas So if we do `eslint node_modules` should we also lint that?

[2016-03-16 01:32] michaelficarra commented on #4828
@alberto

Yes because it was passed on the command line.

No because it wasn't passed on the command line.

[2016-03-16 01:38] mysticatea commented on #5402
`no-useless-computed-key` is good to me.

[2016-03-16 02:56] kaicataldo commented on #5531
I've discovered that the changes I made to espree don't fully cover what we need. My change runs under the assumption that the `body` property is always an array, which I'm finding is incorrect. Looks like we might have to look recursively in each `body` and also change the check depending on if `body` is an array or an object. I can open another issue on espree and am currently working on this.

[2016-03-16 05:13] kaicataldo commented on #5531
Made another PR with fixes here: https://github.com/eslint/espree/pull/262 Would love some eyes on it to see if this makes sense. Thanks all!

[2016-03-16 05:22] platinumazure commented on #5121
Okay, so I've opened a PR to address this. It's coming along somewhat, but I've run into a new problem.

SourceCodeFixer.applyFixes() expects a SourceCode object, and uses `text` and `hasBOM` properties in order to do its work. For files that went through a processor, there is no way (in general) to get a SourceCode object, because constructing a SourceCode object requires an AST.

Here's what I p

[2016-03-16 09:52] Anahkiasen opened #5590 "object-curly-spacing bugs on export X from Y"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Nothing

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-03-16 09:57] mysticatea commented on #5590
Thank you for this issue.

It's known issue of `babel-eslint`.
Please use [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel#readme).

[2016-03-16 09:57] #5590 closed

[2016-03-16 09:58] Anahkiasen commented on #5590
My bad! Thanks for the pointer

[2016-03-16 13:55] mjpearson commented on #5040
@platinumazure thanks that does make more sense, I'll give it a try.

[2016-03-16 14:02] gasolin commented on #4344
I added following options in `.eslintrc.json` file and the issue is gone

[code]

[2016-03-16 15:00] Droogans opened #5592 "brace-style "allowSingleLine" should differentiate between if/else and function statements."
**What version of ESLint are you using?**

v2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I have two snippets that eslint is (correctly) reporting. However, I'd like to disable half of the violations.

[code]

[code]

**What did you expec

[2016-03-16 15:21] fnando opened #5593 "Linting failing with `Rule 'space-after-keywords' was removed and replaced by: keyword-spacing`"
**What version of ESLint are you using?**

v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

https://gist.github.com/fnando/04294be4a3ed2efde964

**What did you do? Please include the actual source code causing the issue.**

Source code available at: https://github.com/fnando/i18n-js-experiment/tree/master/gems/i18n-js

**What

[2016-03-16 15:32] fnando commented on #5593
OMG! eslint loaded a parent configuration even though I specified something with `--config`. Is this the correct behavior? Should I open a ticket for this if not?

[2016-03-16 16:02] gyandeeps commented on #5577
So there are no things going on here:

1. We load all the built in rules on the first go [here](https://github.com/eslint/eslint/blob/master/lib/rules.js#L106) and then use that collection across all the instances of CLIEngine. Now if one of the CLIEngines uses a cutsom rule directory it loads rules from that to that collection (in your case you overwrote the standard rule, which is not encouraged

[2016-03-16 16:16] gyandeeps commented on #5586
With the recent changes, we introduced indent check inside the variable declaration to check for proper indent. so your code would become something like this

[code]

Handling scenarios like this has become overly complicated because there are so many variation of this. I think at this point whenever we fix one scenarios some other scenario which is not in our tests breaks.

[2016-03-16 17:40] platinumazure commented on #5592
Just to be clear, this is a request for new functionality on the `brace-style` rule, correct? The rule currently does not support what you are asking for.

Could you flesh out your proposal a little more with some other use cases? You mentioned if statements and functions-- would this apply to any statement type that has one or more BlockStatement nodes underneath it, where finer granularity would

[2016-03-16 17:42] platinumazure commented on #5593
@fnando If you want to avoid parent configurations being loaded (for example, you're in a project with an ESLint config file, but you also have an ESLint config file in an ancestor directory outside the project), you should specify `root: true` in your configuration.

JSON:

[code]

[2016-03-16 17:51] platinumazure commented on #5577
That is interesting. Since custom rules are not prefixed like plugin rules are, maybe we should throw at config load time if a custom rule is named exactly the same as a core rule?

[2016-03-16 18:02] nickiaconis commented on #5577
The rule name is a bit of a :bike: :house: bike shed here. The custom rule could be named anything. The fact that an instance of CLIEngine that _didn't load any custom rules_ is having custom rules applied to it is the issue, and I believe it is faulty/a bug.

[2016-03-16 18:21] djMax opened #5594 "prefer-const should somehow figure out mixed destructuring"
eslint 2.4.0
babel-eslint 5.0.0
airbnb/base

I have a situation where I want to use destructuring, but one of the variables will be const and one will not. eslint's prefer-const rule basically makes this impossible and I don't see a way to configure around it.

[code]

If I use let, prefer-const fires. If I use const, no-const-assign will fire. It seems like the "reasonable" thing here would be an

[2016-03-16 18:23] nickiaconis commented on #5577
Since we were getting off track because of the rule name, [I renamed it](https://github.com/nickiaconis/broccoli-eslinter/commit/94e62d2eacd88cdaa8112c2c785bbf164d1d913c). You can see by the [latest Travis build](https://travis-ci.org/nickiaconis/broccoli-eslinter/builds/116447849), even when not clobbering a built-in rule, the issue remains.

[2016-03-16 18:49] gyandeeps commented on #5577
In your first test, it will throw an error something like this
`Definition for rule 'custom-no-alert' was not found`
because the first test has not loaded this rule. Your second test adds those rules to that central object as mentioned in [[1] on my above comment](https://github.com/eslint/eslint/issues/5577#issuecomment-197398475).

Again you can discard my point 2 but the main thing is what i ha

[2016-03-16 19:19] stkrzysiak commented on #4344
For others seeing this error message, did you just upgrade eslint to 2.3.0?  There's an odd issue with babel-eslint depending on a module eslint no longer requires, https://github.com/eslint/eslint/issues/5476
`npm install estraverse-fb`  will fix your issue in the short term.

Posting this here because it would have saved me some grief, since I did not come across this thread https://github.com/A

[2016-03-16 19:49] hzoo commented on #4344
@stkrzysiak I wouldn't install `estraverse-fb` - it's just a workaround for that particular error message and will result in some issues down the road due to the changes in 2.3.0 - update to the latest babel-eslint@6 and eslint.

[2016-03-16 19:50] Droogans commented on #5592
This is most certainly a recommendation for enhancing the existing `"braceStyle"/"allowSingleLine"` rule.

I would think that if every brace-style pre-set ("allman", "stroustrup", etc.) accepts a "singleLine" parameter, then it makes sense to allow for this proposed extension to be used in all of them.

Sure. This is what I want to write.

[code]

And some javascript to show what this might look l

[2016-03-16 19:57] BYK commented on #5592
Not really a fan but I can definitely understand your point of view. Guess `// eslint-disable-line brace-style` doesn't work for you since it is too common in the code?

[2016-03-16 20:03] stkrzysiak commented on #4344
@hzoo  thank you for the input, much appreciated!

[2016-03-16 20:04] Droogans commented on #5592
If this issue is accepted, fixed, and released, then I'd use it.

If you don't? I'd spend an hour or so fixing a few dozen instances of the "no single line functions" offenses. Not a huge deal.

Just something to think about. I don't have strong feeling one way or the other.

[2016-03-16 20:08] BYK commented on #5594
Or you can just put `// eslint-disable-line prefer-const` at the and of that line? :)

[2016-03-16 20:09] platinumazure commented on #5592
Thanks for fleshing this out @Droogans. On the one hand, I can see why this would be useful; on the other hand, I'm worried about the maintainability of the rule-- it would get a lot more complex.

Can you answer @BYK's question about how often it appears in the code? Would `// eslint-disable-line brace-style` work on a case-by-case basis?

[2016-03-16 20:11] djMax commented on #5594
Yes, but it's hard to restore my sense of self worth after that. :)

[2016-03-16 20:12] BYK commented on #5594
How is it different than the rule itself ignoring that line automatically? :)

[2016-03-16 20:14] djMax commented on #5594
Because I want to be able to control the const/let usage globally without littering the code with disabling-comments. I think this is a conceptual issue with the rule and destructuring that should have at least some rhyme or reason to it.

[2016-03-16 20:16] BYK commented on #5594
@mysticatea is your latest PR address this? Also @eslint/eslint-team what do you think?

[2016-03-16 20:22] BYK commented on #5584
Should we file a new issue or update this one to reflect the actual/new enhancement request?

[2016-03-16 20:27] BYK commented on #5587
This looks like a duplicate of #3065 so closing. Feel free to reopen if you disagree.

[2016-03-16 20:27] #5587 closed

[2016-03-16 20:29] spadgos commented on #5587
You're right. Thanks @BYK.

[2016-03-16 20:35] Droogans commented on #5592
I'd much rather revert all one-liner functions to multi-line to avoid that issue entirely. I would go mad trying to keep an entire team's worth of contributions using both single line functions and this comment above them all!

[2016-03-16 20:37] BYK commented on #5402
Looks like we are converging on `no-useless-computed-key`. Should I update my PR accordingly?

[2016-03-16 22:09] platinumazure commented on #5583
@eslint/eslint-team Should this be an enhancement or a feature (i.e., new rule)? Or should this not be included in core?

[2016-03-16 22:37] nickiaconis commented on #5577
Yes, I came to the same conclusion as your point 1 by looking at the code, but I am inclined to believe it shouldn't work this way.

Will rewrite the tests again to mitigate missing rule issue...

[2016-03-16 22:44] anyong commented on #3763
Any progress on this one?

[2016-03-16 22:46] nickiaconis commented on #5577
Oh... it's finally clicked. If I load a custom rule with a non-overlapping name and only use a config that activates that rule with the instances for which I expect that rule to be used, the other instances will not have a config that activates that rule, and it won't matter that it's been loaded.

So the naming of the rule _does_ actually play a large role here. Sorry it took me to long to come a

[2016-03-16 22:48] ilyavolodin commented on #5594
I think excluding destructuring from this rule might be a good idea.

[2016-03-16 22:58] ilyavolodin commented on #5583
If anything, this should probably be an option for `sort-imports`, not a new rule.

[2016-03-16 23:39] xorcus commented on #2730
I also agree with Koblaid - I as well like to just relax the rules according to my needs, as opposed to adding all of the restrictions. Please consider reopening and implementing the support for extending "eslint:all". In the end, the feature is optional (no one is forced to extend it), so it should not bother anyone who does not need it. It just increases the flexibility. One can either have ever

[2016-03-17 00:05] BarryThePenguin commented on #5234
Would you look at a PR deprecating
[code]

and using the suggested?

[code]

[2016-03-17 01:24] ilyavolodin commented on #5121
Hmm... I think this is probably not the right direction. What I would do is modify SourceCodeFixer to have a method that returns updated text, instead of updating files directly. This way, `postprocess` can get updated text with fixes and decide on it's own how to insert that into a file. In that case responsibility of dealing with non-javascript files stays with processor, and this way also gives

[2016-03-17 01:26] ilyavolodin commented on #5234
@BarryThePenguin We can't deprecate old style, at least not yet. That would be a breaking change, and we can only do those during major releases. I think we should just modify the rule to take both old and new style of options. We have a few rules that do that already.

[2016-03-17 01:33] BarryThePenguin commented on #5234
Sure. I probably should have said 'mark as deprecated'. I've had a look into this have a solution for maintaining the old and new style of options. Then in the next major, remove the old style.

[2016-03-17 02:30] platinumazure commented on #5121
I can respect looking forward the future (stdin fixing), but most plugins
will not be equipped to figure out how fixed text fits into the original
raw file. Exact substring searching would be bad enough, but now you want
plugins to handle this with altered text? I'm sorry, but that just sounds
unnecessarily difficult and I know we can do better.

Your proposal says that SourceCodeFixer should just

[2016-03-17 02:47] platinumazure commented on #2730
I think this could be useful for core rules.

I'm not sure about plugins-- my thought is that some plugins legitimately cannot have all rules turned on (for example, [eslint-plugin-requirejs](https://github.com/cvisco/eslint-plugin-requirejs)). I think plugin authors should make a decision about configurations they want to encourage people to extend from, including (if they wish) developing an "al

[2016-03-17 03:39] platinumazure commented on #5188
Okay, I've started work on a couple of the rules I called out above.

* In progress, straightforward:
  * space-in-parens
* Questions:
  * quote-props: Do we want "as-needed" or "consistent"? We usually quote node types in rules, which are unnecessary (unless using `:exit` events). "consistent" seems appropriate but even that has a decent number of errors. Or does the convention we want to enforce

[2016-03-17 04:18] jokeyrhyme commented on #2730
Let's just go with activating all core rules with `eslint:all`, and see what the demand is like for activating plugins, later.

[2016-03-17 11:27] fnando commented on #5593
Awesome. Didn't know about `root`. That will be my default option from now on. <3

[2016-03-17 11:27] #5593 closed

[2016-03-17 16:03] #5496 closed

[2016-03-17 16:11] nzakas commented on #5469
@BenoitZugmeyer sorry, I'm not following. What are you expecting to be flagged? What would be different with the new implementation?

[2016-03-17 16:14] nzakas commented on #4041
Doesn't seem so

[2016-03-17 16:15] nzakas commented on #4828
Agree with @michaelficarra

[2016-03-17 16:19] nzakas commented on #5402
Yup

[2016-03-17 16:28] nzakas commented on #5577
That's pretty different from what is already being discussed in this issue. I'd suggest opening a new issue if you want to talk more about that topic.

[2016-03-17 16:30] nzakas commented on #5594
In think an option is the best way to go. Destructuring is pretty common in ES6 code, so we lose a lot of we skip it by default. So maybe `checkDestructuring` with a default value of true?

[2016-03-17 16:32] nzakas commented on #5583
I don't see enough of a description here to make a call. What should be allowed? What should be flagged?

[2016-03-17 16:42] nickiaconis commented on #5577
It seemed to be the direction the conversation was headed here.

[2016-03-17 16:52] alberto commented on #4828
So, I guess we should also allow doing something like
```eslint node_modules/some_module/some/deep/folder``` ?

Also, for reference, the current behaviour with hidden files is explicitly covered by our tests [here](https://github.com/eslint/eslint/blob/22046939a7f250e6cce40a2acdfd3581a2ce29f5/tests/lib/cli-engine.js#L355-L375).

[2016-03-17 16:56] galambalazs opened #5599 "[callback-return] with optional callback pattern"
There's the simple case when the callback is optional so given a condition you might want to exit early, but only call the `callback` if it's defined. Consider this example:

[code]

This warns because `callback` is used without return even though it's on the next statement.

[2016-03-17 16:58] alberto commented on #5594
@nzakas do you mean an additional option with the current behaviour?

[2016-03-17 17:00] kentcdodds opened #5600 "Feature: Expose `extends` resolution"
@ilyavolodin recommended that I file an issue here to discuss whether we can expose how ESLint resolves `extends`. More on that conversation [here](https://github.com/kentcdodds/eslint-find-new-rules/pull/4/files/da460030371d0599cd0162ad1d47c3b694484855#r56394388)

The TL;DR: @ta2edchimp and I are working on a tool that allows you to check whether your configuration is explicitly configuring all a

[2016-03-17 17:11] galambalazs opened #5601 "[no-unreachable] switch statement"
When `break` is used consistently to avoid programmer errors in the future, eslint will warn about having `return` & `break` (the `break` being unreachable).

I think this is similar to the (redundant) trailing commas where they are *preventing future errors* so this should be allowed:

[code]

(note: it may also be a stylistic/formatting preference that all cases have break pairs)

[2016-03-17 17:32] galambalazs commented on #5601
note: JSLint/JSHint has a special case for this too: `"Unreachable 'break' after 'return'."`
(I think it's on warning by default on JSHint)

[2016-03-17 17:41] BenoitZugmeyer commented on #5469
Sorry if I'm not clear enough. With the current implementation, the following snippet will raise a warning (as I expect), because the array declaration is on multiple lines and there is no comma after `2`:
[code]
With the new implementation, it won't raise any warning: the comma after `2` is optional. This is the whole purpose of this issue right?

On top of being less strict about code styling, I

[2016-03-17 17:46] ffxsam commented on #5469
You're right. I didn't think of that scenario because I actually never lay out my lists in a matrix type format like that. But it's a valid point.

[2016-03-17 17:56] platinumazure commented on #5599
Just out of curiosity, why not `if (callback) return callback(null, 'ok')`?

[2016-03-17 17:58] platinumazure commented on #5601
I can see why it would be useful, but it feels like an awfully specific case and you can use `no-fallthrough` to catch missing `break` statements. I'm :-1: on this proposal.

[2016-03-17 18:01] platinumazure commented on #5600
Have you looked at the CLIEngine docs? I think the [`getConfigForFile()`](http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile) method could be pretty useful for getting the final config including all extensions.

[2016-03-17 18:08] galambalazs commented on #5599
Because you want to return based on the condition `alreadyDone`
(that's independent of the callback being defined or not)

[2016-03-17 18:30] gronke commented on #4041
Once it was fixed, but was removed again with https://github.com/eslint/eslint/commit/bc769ca8fb5890a2f9c41ee27ee015e8e845fd91

Before that commit the working dir was changed to the `fixtureDir` instead in the `beforeEach` hook, like [here](https://github.com/gronke/eslint/blob/d43f26c270f0070ca47000690d874d126d67fd89/tests/lib/cli.js#L96-L98), so that the project's `.eslintignore` file was always

[2016-03-17 18:46] ta2edchimp commented on #5600
Thanks for your response! We've already been hinted towards `getConfigForFile()`, but – as I understand it – that would only give us the configuration object for a given file (that is, by looking up the „responsible“ eslint config via `.eslintrc` or `package.json` based on the given files location).

What we want to achieve, is to get the compiled config object, starting from a given configuration

[2016-03-17 19:25] cowboy commented on #3493
I just ran into this issue. This is what I'm seeing:

[code]

Seems weird to me. Either way, I removed `{VariableDeclarator: 2}`, which is almost never applicable in my code, since I have `one-var` set to `{uninitialized: 'always', initialized: 'never'}`.

[2016-03-17 19:27] jadengore commented on #3493
@cowboy that is my typical issue as well, except I use the `VariableDeclarator` rule. Our entire codebase has had to change to your second example.

[2016-03-17 19:57] #5563 closed

[2016-03-17 19:59] ilyavolodin commented on #5600
@ta2edchimp @kentcdodds Could you guys provide an example of output that you are looking for? Right now I'm not sure I fully understand what do you expect to get as a result.

[2016-03-17 20:13] platinumazure commented on #5599
Please flesh out your proposal a little more. Can you please provide a few more examples of when the rule should not warn but currently does, or when the rule should warn but currently doesn't?

[2016-03-17 20:14] kentcdodds commented on #5600
Sure thing.

Given the following configs:

*index.js*

[code]

*other.js*

[code]

I would expect to get:

[code]

[2016-03-17 20:15] kentcdodds commented on #5600
Excuse me, if you're looking at this via email, please see my update :point_up_2:

[2016-03-17 20:20] platinumazure commented on #5586
@gyandeeps Do you think this is a bug? Or is this now as designed?

[2016-03-17 20:23] platinumazure commented on #1727
Closing as there has been no movement on this in nearly a year. Feel free to reopen as needed.

[2016-03-17 20:23] #1727 closed

[2016-03-17 20:26] platinumazure commented on #1766
@eslint/eslint-team Is this still something we want to look at, or will our current suite of `eslint-disable-*` comments be sufficient at this point?

[2016-03-17 20:28] platinumazure commented on #2368
@nzakas Is this still an issue, or have we fixed this with all the changes to espree?

[2016-03-17 21:02] ilyavolodin commented on #5600
@kentcdodds `getConfigForFile` will do that right now. I know you mentioned about not wanted to merge in `eslint:recommended` could you provide an example of what you want to happen if you extend from `eslint:recommended` and some other shareable config?

[2016-03-17 21:04] ilyavolodin commented on #1766
I think somebody already tried to implement this a while back, and it proven to be too hard to do, and would require a lot of additional code. In my mind, it's not worth it.

[2016-03-17 21:08] kentcdodds commented on #5600
If someone explicitly extends from `eslint:recommended` then I think we're :+1: I think I was confused and thought this happened by default.

[2016-03-17 21:31] kentcdodds commented on #5600
Just tried it out, this is exactly what we need. Thanks a bunch!

[2016-03-17 21:31] #5600 closed

[2016-03-17 21:33] platinumazure commented on #5600
FYI, the reason why `getConfigForFile()` is the way to go (and why we can't just expose a `getConfig()` is because configurations do change as you traverse directories (e.g., a new `.eslintrc` file could be found in a subdirectory, which does change the effective config). So you might want to bear that in mind as you design your tool-- it is possible that different files in a subdirectory could re

[2016-03-17 21:35] kentcdodds commented on #5600
Yeah, thanks for the tip. I'm thinking that we'll create a file in a temporary directory or something so we're not impacted by `.eslintrc`... Thinking.... :-)

[2016-03-17 22:12] galambalazs commented on #5599
Neither of these should throw an error:

1: return with the callback
[code]

2: return is the first statement after callback
[code]

3: return is the first statement after the callback's {block}
[code]

Currently (3) throws an error.

[2016-03-17 22:17] platinumazure commented on #5599
Okay, if your second example already does not warn, I could get behind allowing your third example. With our code path analysis tools now available, I think it could be pretty easy (but I could be wrong).

@mysticatea I would be grateful if you would read the comment above mine and my analysis and post whether or not my analysis makes sense. Thanks!

[2016-03-17 22:20] galambalazs commented on #5599
Yes, thank you. I was just being explicit, it's true that the problem is currently the (3) case.
(that's why I gave the title to this issue: *optional callback pattern*)

Please note, that I'm aware that there are other ways to write that conditional like:

[code]

But this doesn't mean that the form I showed above as (3) should throw an error. It is perfectly valid code  and it's very easy to see

[2016-03-17 22:21] platinumazure commented on #5599
@galambalazs What about if the callback is a few blocks deep?

[code]

[2016-03-17 22:33] galambalazs commented on #5599
I think those cases are harder to handle. I'm not sure what the capabilities of eslint are.

First I would concentrate on the very simple case that's currently failing.
(when I cannot say I just return with the results of the callback, because the callback may not be defined, so first I'll have to check if it's safe to call it)

As for your example, personally I don't being explicit in those cases

[2016-03-17 23:20] codekirei opened #5603 "Rule proposal: no-padded-objects"
**When does this rule warn? Please describe and show example code:**

This potential rule is similar in spirit to [padded-blocks](http://eslint.org/docs/rules/padded-blocks) and [no-multi-spaces](http://eslint.org/docs/rules/no-multi-spaces), though is also closely related to [array-bracket-spacing](http://eslint.org/docs/rules/array-bracket-spacing) and [object-curly-spacing](http://eslint.org/do

[2016-03-18 01:35] mysticatea commented on #5594
I remembered a previous discussion: #3223

I'd like to keep the behavior as is, by default.
Then I can add an option to ignore mixed cases. The rule uses `context.getDeclaredVariables(node)` since #5591, so it can check whether mixed or not easily.

[2016-03-18 02:42] scott-stephen opened #5605 "Error: Cannot read property 'type' of undefined"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
I've attached the source code to reproduce.
[eslintTest.zip](https://github.com/eslint/eslint/files/179001/eslintTest.zip)

**What did you do? Please include the actual source code causing the issue.**
Edited the constructor in the Tab.js f

[2016-03-18 03:02] mysticatea commented on #5605
Thank you for this issue.

I guess this is duplicate of #5573.

[2016-03-18 03:13] scott-stephen commented on #5605
Yes, I guess I must of missed it in my search.

[2016-03-18 03:13] #5605 closed

[2016-03-18 04:35] pvamshi commented on #3837
I am working on this , will create a pull request for review shortly

[2016-03-18 06:29] sarbbottam commented on #5600
Completely out of this discussion, please excuse me for that.

Hi @platinumazure,

Does this mean, I could have different lint criteria for `src/` and `test/`, if I have disfferent `.eslintrc`s in `src/` and `test/`

Am I reading this correct?

Thanks!

[2016-03-18 06:53] kentcdodds commented on #5600
Yes! You totally can, and it's quite handy :-)

[2016-03-18 09:54] KieranP opened #5608 "JSX Spread Attributes Throwing Unexpected Token Error"
**What version of ESLint are you using?**

v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default  (as far as I know)

**Please show your full configuration:**

`{
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}`

**What did you do? Please include the actual source code causing the issue.**

`<Applica

[2016-03-18 10:08] jonnyreeves commented on #5583
@nzakas - appologies; I've updated the overview above to include a Good / Bad example.  This is the first ticket I have raised against eslint so please let me know if there's more detail I need to include.

[2016-03-18 10:32] ngerritsen opened #5609 "Feature request: Override settings and rules for certain globs or file names"
I am currently using eslint 2.2.0 with babel-eslint, and I want to have some different rules for my tests.
For instance, tests have the 'mocha' environment and in tests I allow deep nesting of callbacks (because of nested test suites). However my tests are not in one seperate folder but structured like this:

[code]

This structure works really good for me. However, this means I either would have

[2016-03-18 10:55] #5609 closed

[2016-03-18 10:56] ngerritsen commented on #3611
I am currently using eslint 2.2.0 with babel-eslint, and I want to have some different rules for my tests.
For instance, tests have the 'mocha' environment and in tests I allow deep nesting of callbacks (because of nested test suites). However my tests are not in one seperate folder but structured like this:

[code]

This structure works really good for me. However, this means I either would have

[2016-03-18 12:33] hzoo commented on #5608
You prob need `experimentalObjectRestSpread` - http://eslint.org/docs/user-guide/configuring#specifying-parser-options

[2016-03-18 13:17] lo1tuma commented on #3611
Sorry for the late response, I haven’t found time to continue working on this recently. Next week I take a few days off from work, so I can probably continue on this.

[2016-03-18 13:22] joezimjs commented on #1766
What you have is definitely sufficient in my mind. When I originally voted/commented before I hadn't been able to find the documentation for the `eslint-disable-*` comments, but now that I know they exist, these comments are great.

[2016-03-18 13:27] SimenB opened #5610 "`prefer-const` false positive"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No warning, as `DevTools` is used outside of the `if`-statement

**What actually happened? Please include the a

[2016-03-18 14:01] btmills commented on #5610
This is interesting. Tried these in the demo:

**Valid**:

[code]

**Invalid** (valid example with braces around `if` body removed):

[code]

[code]

**Invalid** (valid example with function call removed):

[code]

[code]

Why is it that the combination of curly braces around the `if` with a function call is considered valid, but if I remove either it errors?

@SimenB if you add curly braces aroun

[2016-03-18 14:03] SimenB commented on #5610
@btmills Ah, good catch! Adding braces makes the warning go away

[2016-03-18 14:13] btmills commented on #5610
Cool. So at least there's a workaround that can be used while we figure out what's going on here.

I don't see any [tests](https://github.com/eslint/eslint/blob/18559e217c05451779a1d554fe0bdfed8a987414/tests/lib/rules/prefer-const.js) that cover this case. @mysticatea you looked at scoping for `prefer-const` recently - any ideas as to what's going on here?

[2016-03-18 14:45] sunjay commented on #3104
Is there a way to tell this rule to assume strict mode? Part of my build process automatically inserts the `'use strict';` lines on top of my files so I don't have to. This is causing eslint to complain about my `for...of` loops.

[2016-03-18 14:54] callumlocke opened #5611 "quotes "avoid-escape" option doesn't work if you use backticks to avoid escape"
**What version of ESLint are you using?**

v2.4.0

**What parser are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

For eslint not to complain, because I've used the "avoid-escape" option.

**What actually happened?**

eslint said it was an error

[2016-03-18 15:29] ngerritsen commented on #3611
No problem, already awesome work you are doing. My current solution is just to use the same rules for the test, but just making those rules less strict. But still would be awesome to have this!

[2016-03-18 15:52] ilyavolodin commented on #5608
And you also need `ecmaVersion: 6`, since if you are using object spread which is experimental feature, chances are, you are using other es6 features.

[2016-03-18 15:57] #5060 closed

[2016-03-18 16:08] platinumazure commented on #5609
I think this would/could be covered by glob-based configuration, which is under discussion in issue #3611 right now.

[2016-03-18 16:09] Alaneor commented on #5060
Thanks to everyone who worked on this! Great work!

[2016-03-18 16:10] nzakas commented on #5121
I'd like to suggest we table this discussion for now. We have some larger open questions about how we will be doing autofix in the future, so I don't think it makes sense to continue taking about this very specific use case outside of the larger context of auto-fixing improvements.

[2016-03-18 17:37] nzakas commented on #5531
Espree has been updated.

[2016-03-18 18:02] nzakas commented on #1766
Given that there hasn't been any movement on this in a long time, I think we can safely close it. Definitely not a priority.

[2016-03-18 18:02] #1766 closed

[2016-03-18 18:03] nzakas commented on #5594
@alberto yes. Add a new option that defaults to the current behavior, but you can toggle it off.

[2016-03-18 18:05] nzakas commented on #4828
Yup

[2016-03-18 18:14] nfriedly opened #5612 "valid-jsdoc rule doesn't work on @param {String} options.X-My-Header custom header"
**What version of ESLint are you using?**
v2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

Full config is at https://github.com/watson-developer-cloud/speech-javascript-sdk/blob/51dd4a041c8e74051ebb87b2630f040b6f0f19a9/.eslintrc.js#L205 but here's the relevant bit.

[code]
 I also tested and confirmed that I get the same issue

[2016-03-18 18:24] Kyle-Mendes opened #5613 "[key-spacing] Allow for "alignment" spacing configuration"
**What version are you using?**
v2.4.0

**What did you do?**
Try to configure the `key-spacing` rule to my desired configurations.

[code]

**What happened?**
See below.

**What did you expect to happen?**
See below. [**new feature / enhancement**]

----------------

I'm trying to configure the `key-spacing` spacing rule to work as follows:

* **Single-line definitions**: No space before colon, sp

[2016-03-18 18:53] alberto commented on #5594
I was thinking along the line of what @mysticatea explained above, ignoring if at least one of the variables can't be a const.

[2016-03-18 19:47] codekirei commented on #5611
Disclaimer &mdash; I'm not a maintainer, but it looks like this issue stems from the `quotes` rule hard-coding the `alternateQuote` char [here](https://github.com/eslint/eslint/blob/master/lib/rules/quotes.js#L20):

`"` -> `'`
`'` -> `"`
`` ` `` -> `"`

This could be potentially be avoided by allowing either of the other two quote chars as an alternate in the `isValid` test [here](https://github.c

[2016-03-18 20:16] btmills commented on #5613
@Kyle-Mendes to clarify, how would you style the following?

[code]

[2016-03-18 20:20] jasnell opened #5614 "Rule proposal: no-buffer-constructor"
In the upcoming Node.js v6 release, the existing `Buffer()` constructors are being soft-deprecated (docs-only deprecation) and replaced with new `Buffer.alloc()`, `Buffer.allocUnsafe()` and `Buffer.from()` alternatives. I am adding a rule to Node.js' own eslint configuration to flag uses of the deprecated constructors (see: https://github.com/nodejs/node/pull/5740). The point has been raised that

[2016-03-18 20:24] olalonde opened #5615 "Error: Cannot find module 'estraverse-fb'"
**What version of ESLint are you using?**

eslint 2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

I'm still getting the `Error: Cannot find module 'estraverse-fb'` error after installing 2.4.0.

[code]

[2016-03-18 20:41] platinumazure commented on #5614
Since we have a number of Node.js-specific rules already, this sounds good to me. The question is basically whether Buffer itself is commonly used in Node.js-- my intuition is yes, but I'm not qualified to decide.

@eslint/eslint-team, any thoughts on whether we should add this to core rules?

[2016-03-18 20:43] jasnell commented on #5614
Yes, in fact it's one of the most broadly used APIs in Node.

[2016-03-18 20:43] platinumazure commented on #5615
As has been discussed in other issues before, this is resolved in ESLint but babel-eslint still needs to push an update.

What you can do:

1. If you're using `babel-eslint@5.x`, try `babel-eslint@6.x` (but be advised that this is still in beta).
1. If you're already using `babel-eslint@6.x`, please open an issue on the [babel-eslint issue list](https://github.com/babel/babel-eslint/issues/new).

[2016-03-18 20:43] #5615 closed

[2016-03-18 20:43] Kyle-Mendes commented on #5613
Great question @btmills !

In this instance, the way I would break it up would to treat the `{}` of the callback function as a delimiter breaking up the object into two "groups" of key values.  If I'm not mistaken, eslint will already do that in regards to the `align` config.

The result would be:

[code]

Complex:
[code]

So, each "group" of values would follow the rules for single line, multi-li

[2016-03-18 20:45] platinumazure commented on #5548
@BYK Should this be labeled "evaluating", not "triage"?

[2016-03-18 20:47] platinumazure commented on #5611
I could be convinced that this is a bug, but I don't know if users are "expected" to use a different rule configuration when they want to use backticks for escaping.

@eslint/eslint-team Can anyone speak to the intended design here, so we can know if this is a bug or an enhancement request?

[2016-03-18 22:27] ilyavolodin commented on #5612
ESLint uses Doctrine as a parser for jsdoc, so I think you might've filed an issue in the wrong repository (jsdoc). I think the rule is complaining because you are trying to describe properties of an object, where your function accepts only one object. I'm actually not sure how this is supposed to work. @gyandeeps any ideas about the right way to do jsdoc comments for object properties of an argum

[2016-03-18 22:31] ilyavolodin commented on #5548
This is a known issue. Right now our indent rule doesn't handle multi-line parameters correctly. I don't think this is related to allman style, I think the same issue will happen with 1tbs as well. @gyandeeps @BYK I think this can be closed as a duplicate, but could you verify please?

[2016-03-19 00:14] cjihrig commented on #5614
For additional context, the move to these new `Buffer` APIs stems from a [security vulnerability](https://nodesecurity.io/advisories/67). Moving forward, this will almost certainly be considered a best practice in Node.

[2016-03-19 01:15] #5531 closed

[2016-03-19 01:37] alallier commented on #3352
This still seems to be a problem is the latest version. I noticed also that this problem also occurs with arrays.

[code]

[2016-03-19 02:35] alexindigo commented on #3352
To add to the list of broken things:

[code]

Doesn't work either.

[2016-03-19 08:06] alberto commented on #5611
It's not a bug. From the rule doc:

[2016-03-19 08:13] alberto commented on #5611
This is a duplicate of https://github.com/eslint/eslint/issues/5234

[2016-03-19 08:13] #5611 closed

[2016-03-19 09:35] BYK commented on #5612
I think he needs to define `options` using `@type` first and then simply say `{OptionsObject} [options]`.

[2016-03-19 09:35] BarryThePenguin commented on #5314
@IanVS in my investigation today, it looks like brace expansion has been lost in the switch from `minimatch` to `node-ignore`. So now `--ignore-pattern **/*.{test,mock}.js` doesn't work. I can open a new issue if that's needed

[2016-03-19 09:42] BYK commented on #5614
:+1:

[2016-03-19 09:44] BYK commented on #5548
Actually, I think the rule is right here. That object is part of a function call and the brace should be indented. Right?

[2016-03-19 10:01] BYK commented on #5188
Re `quote-props`: my preference is "consistent-as-needed".

[2016-03-19 11:02] IanVS commented on #5314
I don't think brace expansion is legal in a `.gitignore` file, is it?  Since version 2.0.0 the `.eslintignore` should work the same as `.gitignore`.

[2016-03-19 11:06] BarryThePenguin commented on #5314
Not according to the current [eslint documentation](http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories)

[2016-03-19 11:11] IanVS commented on #5314
Ah, good catch.  That's a bug in the documentation.  I just tested brace expansion in a `.gitignore` file and it does not work.  So, to accomplish what you want, you can use:

[code]

If you'd like to submit an issue for the documentation issue, that would be great.

[2016-03-19 11:14] BarryThePenguin commented on #5314
Ah! Fantastic. This is a good answer. Thank you.

Out of curiosity, is there a reason the gitignore doesn't use brace expansion?

[2016-03-19 11:16] IanVS commented on #5314
As far as I understand, it isn't a valid glob on all posix operating systems.

[2016-03-19 11:17] BarryThePenguin commented on #5314
Sure. One more question, the related PR #5461 isn't released yet?

[2016-03-19 11:19] BarryThePenguin commented on #5314
The reason I ask is your above suggestion doesn't appear to work, even on master...

[2016-03-19 11:21] galambalazs opened #5616 "[no-unused-vars] destructuring like args"
Similarly to how `args` are handled, unused variables inside destructuring should be controllable too.

So instead of this:

[code]
One may safely write this:

[code]

I see two solutions:

**1:** *Treat destructuring like arguments.*

 Make the same settings apply to them as   `args `. So if one has `{ "argsIgnorePattern": "^_" }` it applies to destructuring and _variables will be ignored. If one

[2016-03-19 11:40] nfriedly commented on #5612
OK, to give some expanded context, here's what the full JSDoc for that method looks like:

[code]

And JSDoc produces a table from that with each property listed: http://watson-developer-cloud.github.io/speech-javascript-sdk/v0.14.0/module-watson-speech_text-to-speech_synthesize.html

The whole codebase uses this pattern, and except for hyphenated object keys, everything works swimmingly. But for

[2016-03-19 11:51] BYK commented on #5612
@nfriedly - thanks for sharing the larger snippet. Now I can definitely see this is an issue. This is most probably due to https://github.com/eslint/doctrine/issues/116

I'll keep this ticket here in ESLint open to track progess.

[2016-03-19 15:47] mysticatea commented on #3104
@sunjay This rule doesn't change the behavior whether in strict mode or not.

Node.js 4.x and 5.x change the behavior in strict mode or not, because Node.js has not supported `let` and `const` in non-strict mode.

[2016-03-19 15:51] mysticatea commented on #5610
I has forgotten this case:

[code]

[2016-03-19 15:54] nzakas commented on #5614
I'm a bit concerned that this applies only to Node.js 6, and would therefore be confusing alongside other Node.js rules that are generally applicable. As such, I'm not sure it makes sense as a core rule at this point, but what do others think?

[2016-03-19 15:56] nzakas commented on #5188
I think "as-needed" is what I intended. I can't remember why I started doing node types in quotes.

For lines-around-comment: yes, especially at the start of a block.

[2016-03-19 16:02] nzakas commented on #5594
Do as you wish, I just want the default behavior to remain the same.

[2016-03-19 16:08] nzakas commented on #5583
Thanks, that's better. It would have to be in `sort-imports` if anything.

I'm not sure, though, that we can do this quite yet. There's no way to know if these are the only two ways to reference module files. It's likely you'll be able to do this in browsers:

[code]

How would that fit into your suggestion?

[2016-03-19 16:10] nzakas commented on #2368
I don't know, can you check? Heres the Espree issue: https://github.com/eslint/espree/issues/136

[2016-03-19 16:10] xjamundx commented on #5614
Plugin? 🤔

On Sat, Mar 19, 2016 at 8:54 AM Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-03-19 16:13] nzakas commented on #5469
@BenoitZugmeyer thanks, that helps.

So maybe instead of making a change to default behavior, we should add an option to toggle it?

[2016-03-19 16:22] ilyavolodin commented on #5614
I assume `Buffer.alloc` is not going to be available in any version of Node prior to 6? In that case, it might be a bit confusing for users of Node 4 to see this rule in the list.

[2016-03-19 16:25] platinumazure commented on #5614
I'm not sure I see a problem there. We have rules around ES6 constructs which either make no sense or actively promote syntax which will fail ES5 parsing. I think we can do the same here as long as we note (and cite a source via hyperlink) that this rule should only be used if you're writing for Node 6+.

[2016-03-19 16:28] djMax commented on #5594
I'm in the "do as you wish" category too, but I'd argue that IF we can know that it's a mixed assignment, defaulting to asking the developer to do something impossible seems wrong. i.e. if you have a mixed case, you CANNOT simply do what the error says and switch one of them to const. So either it shouldn't error or at least change the error message to something like 'do not use destructuring when

[2016-03-19 16:35] nzakas commented on #5614
@platinumazure language versions are different than environment versions. This is more akin to having a rule to use only in jQuery 3.

@jasnell have you considered creating an ESLint plugin from the Node.js rules so you can share them with others?

[2016-03-19 16:37] #5610 closed

[2016-03-19 16:43] kaicataldo commented on #2368
I can take a look at this - feel pretty comfortable with the way we add comments in Espree now :)

[2016-03-19 16:44] mysticatea commented on #5614
Just FYI: I have a plan that I make a rule to warn deprecated APIs of Node: https://github.com/mysticatea/eslint-plugin-node/issues/26

[2016-03-19 16:50] nzakas commented on #5594
@djMax but you can change it, you'd just need to break up the assignment. The message currently says:

So you can change your code so `b` uses `const`:

[code]

And with the new option, you'll be able to suppress that behavior if you want. I think this is a good solution.

[2016-03-19 16:52] platinumazure commented on #5188
@nzakas @BYK I agree the coding conventions docs seem to straightforwardly indicate as-needed. But we've diverged wildly from that. @nzakas Just to confirm, you do want as-needed, for sure?

And for lines-around-comment, okay, I will add space at the start of blocks.

[2016-03-19 16:56] djMax commented on #5594
Yeah, not a big deal. It's just basically hiding a little info by using the same error message. But I'm fine with it.

[2016-03-19 17:05] jasnell commented on #5614
fwiw, we are currently discussing possibly backporting the new constructor APIs to v5 and v4. Creating a plugin in certainly a possibility.

@mysticatea .. that sounds like a great idea.

[2016-03-19 17:08] platinumazure commented on #5614
Probably simplest to just put it in a plugin for now, and then when some other decisions are reached (e.g., whether to backport to Node v4/v5), we could revisit this at that time. Just my two cents.

[2016-03-19 17:43] alberto commented on #5469
@BenoitZugmeyer yes, if all the elements are on the same line, (unlike in your previous examples) it won't cause an error.

[2016-03-19 18:02] platinumazure opened #5619 "New rule request: Forbid comments in logical expressions or control statements"
Hi folks. I was inspired to write this request by going through the ESLint repo and fixing violations of `lines-around-comment`, which suggested a problematic pattern: Sometimes developers like to write a quick one- or two-liner conditional... and then a few more conditionals get added... and then one of them is complex enough to require a comment... Basically, my thought is, if part of your condi

[2016-03-19 18:03] platinumazure commented on #5619
Another possibility might be checking number of conditionals or cyclomatic complexity per statement and flagging ones that are too complex. I should check to see if that's covered by `complexity`.

[2016-03-19 18:10] mysticatea commented on #5594
Oh, I hadn't noticed the following pattern.

[code]

In this case, I cannot use `context.getDeclaredVariables(node)` to find "mixed" or not.
I'm thinking...

[2016-03-19 19:04] Mark-Simulacrum opened #5621 "Yoda lint triggered on a range within a function argument."
**What version of ESLint are you using?**

2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

`assert(0 <= port && port <= 65535, "port is out of range");`

causes the "yoda" lint to fire (`Expected literal to be on the right side of <=  y

[2016-03-19 19:41] platinumazure commented on #5621
There's discussion going on elsewhere (issue #5575) about whether yoda exceptRange should require parentheses around its range check. I believe it shouldn't, but there's still a few things to iron out.

Can't repro in online demo due to insufficient configuration support, but I'll try to repro in my local repository later today unless someone beats me to it. But I'm 99% sure this is reproducible a

[2016-03-19 20:14] kaicataldo commented on #2368
This appears fixed to me! My comment in the Espree issue: https://github.com/eslint/espree/issues/136#issuecomment-198778281

Just to be extra sure, just ran the latest version of ESLint on the JS in the original post with the following config and saw no errors.

[code]

[2016-03-19 20:17] platinumazure commented on #5575
I guess I'm not really convinced. Couldn't we write a utility that will take an expression tree and determine if consecutive expressions have the same precedence, and if so, apply the check?

[2016-03-19 20:23] btmills commented on #5575
If (1) is deemed insufficient, (2) from a technical perspective certainly isn't insurmountable if someone wants to tackle it.

[2016-03-19 20:28] platinumazure commented on #5575
@btmills I can respect the virtue of clarity and I'm not opposed to having
a way of enforcing it. I just don't think the Yoda rule is the right place
to do it and that we should write a new rule that focuses on clarity of
logical expressions. But that's just my opinion.
On Mar 19, 2016 3:23 PM, "Brandon Mills" <notifications@github.com> wrote:

[2016-03-19 21:16] abhisekp opened #5623 "Warning for ignored files on linting"
**What version of ESLint are you using?**
eslint 2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint 6.0.0-beta.6

**Please show your full configuration:**

[code]

[code]

**What did you do? Please include the actual source code causing the issue.**
`eslint **/*.js`

**What did you expect to happen?**
Not to show my ignored files WARNING while linting.

**What actuall

[2016-03-19 22:04] platinumazure commented on #5623
Workaround (only practical if you have no rules configured as warnings): Use `--quiet` option to suppress warnings and only print errors.

[2016-03-19 22:12] abhisekp commented on #5623
@platinumazure i've rules configured as warning and i need those warnings.

[2016-03-19 22:13] platinumazure commented on #5623
I understand- it's a note for others who find this issue :smile:
On Mar 19, 2016 5:12 PM, "Abhisek Pattnaik" <notifications@github.com>
wrote:

[2016-03-20 01:28] ilyavolodin commented on #5614
I agree. If this will get backported to Node v4/v5 then it's definitely worth revisiting inclusion into the core, but for now, I think it's better served as a plugin

[2016-03-20 01:34] ilyavolodin commented on #2368
Nice. Closing as it looks like it's fixed now.

[2016-03-20 01:34] #2368 closed

[2016-03-20 01:45] mohsen1 opened #5626 "Global installation ignores local installation of eslint-config-*"
**What version of ESLint are you using?**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Validates my project using Google default

**What actually happened? Please include the actual, raw output from ESLint.**

E

[2016-03-20 03:33] ilyavolodin commented on #5626
This is correct behavior. Please take a look at documentation here: http://eslint.org/docs/user-guide/configuring#configuring-plugins more specifically a note at the bottom.

[2016-03-20 03:33] #5626 closed

[2016-03-20 10:46] denizdogan opened #5628 "linebreak-style without an argument seems to default to 'unix'"
I have a Git project which I contribute to on a Windows system. The general consensus seems to be that we should use `core.autocrlf` to deal with any line-ending issues that might arise. Therefore we need to configure ESLint (actually XO, which uses ESLint) to allow either CRLF line-endings or LF line-endings as long as we're being consistent.

I have a project which I've configured like this:

[c

[2016-03-20 11:24] alberto commented on #5623
I think it is working as expected, because of the way you are calling eslint. If you use  `eslint .` instead, the warnings should go away.

[2016-03-20 11:48] alberto commented on #4828
ok, one more question (sorry I keep coming at this, I'm trying to understand the reach and implications of this). What about glob patterns?

Should `eslint **/*.js` be expanded and run also on ignored folders (including `node_modules` and `bower_components`) ?
Should `eslint **/.*` be expanded and run on all hidden files?

[2016-03-20 11:53] alberto commented on #5628
Yes, by default, `unix style (LF)` is assumed, as mentioned in the [options section](http://eslint.org/docs/rules/linebreak-style#options), so it's not a bug.

There is no option to run this rule as `consistent`.

[2016-03-20 11:55] alberto commented on #4828
@radek-holy as a workaround, you can run `eslint --no-ignore .eslintrc.js`

[2016-03-20 12:02] denizdogan commented on #5628
Okay, got it. The documentation is phrased in ways that imply that something like `consistent` was the original intent of the rule.

1. The title says "Disallow mixing CRLF and LF". (I took this to mean *within one file*, not across multiple files...)
2. The first code example gives the impression that by default the rule detects *mixing* of CRLF and LF within files, but what it does in this case

[2016-03-20 12:40] alberto commented on #5628
Agreed.

[2016-03-20 13:24] alberto commented on #5619
This is quite subjective. The same could be said of any non-doc comment.

[2016-03-20 13:50] platinumazure commented on #5619
Yes, I agree. Comments in a conditional are a symptom of it being too
complex, but there are better ways to measure it. Closing until I can come
up with a way to do that.
On Mar 20, 2016 8:24 AM, "alberto" <notifications@github.com> wrote:

[2016-03-20 13:50] #5619 closed

[2016-03-20 14:06] #5628 closed

[2016-03-20 14:18] michaelficarra commented on #4828
@alberto I hold the opinion that glob expansion should occur without regard for ignored files. Ignored files/directories should only affect the internal filesystem walking logic that eslint uses when a directory is passed.

[2016-03-20 15:24] gajus commented on #3488
I am working on this issue.

[2016-03-20 16:41] abhisekp commented on #5623
@alberto absolutely. Thanks.
But why should it gimme warning for ignored files?

[2016-03-20 16:55] alberto commented on #5623
Because there is a discrepancy between the files you are asking to lint in the command line and your ignored files. I'm actually not sure what should take precedence, but this is something we are discussing in [another thread](https://github.com/eslint/eslint/issues/4828), so I'm closing this one.

[2016-03-20 16:55] #5623 closed

[2016-03-20 17:55] michaelficarra commented on #5601
Agreed with @platinumazure. Just make sure you have `no-fallthrough` in the same config and you won't need this insurance.

[2016-03-20 18:05] BenoitZugmeyer commented on #5469
@nzakas maybe a separate flag, like `"always-multirow"` meaning the structure contains multiple rows (versus spans on multiple lines)

@alberto thanks for noticing, I edited my previous example to fix this

[2016-03-20 18:28] robjens opened #5633 "Shebang first line should be excluded from maximum line length"
Having the following error message which seems to be correct, and expected, but arguing for a slight change of policy here:

`src/server/database.js|1 col 1 error| Line 1 exceeds the maximum line length of 100. (max-len) `

I don't think shebangs should count when checking maximum line length. The motivation for this is given the extreme difficulties (polyglot) multi-line shebangs bring to the tab

[2016-03-20 18:34] robjens commented on #5633
On second thought, one might also consider the alternative viewpoint that these are in their very nature, temporal and might fall under the same category as `no-console` and `spaced-comment` in all development scripts. That still leaves those that are actually intended to be used as `bin/program` shell script wrappers/starters although I guess the removal of extension does resolve (all) errors in

[2016-03-20 18:55] ksmithut opened #5634 "object-curly-spacing treats trailing computed member access as array"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expected there not to be an error because my rules say that I need a space padding in objects, unless arrays

[2016-03-20 19:05] michaelficarra commented on #5634
Yeah, it looks like a bug. Please use a more descriptive issue title next time. I would have used

[2016-03-20 19:05] ksmithut commented on #5634
Good catch, I meant to change it before I submitted. Thanks

[2016-03-20 19:28] BYK commented on #5634
Duplicate of #5538 which is fixed on master so closing. Reopen if you disagree please :)

[2016-03-20 19:28] #5634 closed

[2016-03-20 20:06] alberto commented on #5616
`after-used` doesn't make much sense here. And since variables can be omited I'm not sure what `ignorePattern` brings either

[2016-03-20 20:22] galambalazs commented on #5616
It's about readability. Being explicit about what gets used and what gets left behind after destructuring.

In this example it looks straightforward because the partition gives your two mutually exclusive lists.
[code]

But there are more cases where destructuring has multiple elements with varying purposes.
[code]
This is prone to a lot of programming errors where editing code can result in you r

[2016-03-20 20:33] galambalazs commented on #5616
To be clear: the developer should have a *choice* between the two styles above (explicitly ignored or omitted variables).

Currently ESLint does *not* give you the *choice*. If you enable unused vars (which is helpful) it doesn't allow you to use the explicitly ignored form.

[2016-03-20 21:53] michaelficarra commented on #5550
I vote we close this as "cannot reproduce" until further info is provided.

[2016-03-20 21:55] ilyavolodin commented on #5601
I agree. If you want consistency either disable this rule around switch cases or just turn it off globally. `break` in your example is unreachable, so the rule is doing the right thing and warning you about it.
Closing since this is working as intended.

[2016-03-20 21:55] #5601 closed

[2016-03-20 21:58] ilyavolodin commented on #5550
Closing as no information has been provided. Please reopen when you can add required details.

[2016-03-20 22:07] galambalazs commented on #5601
This may work as you guys intended, but then your intentions simply don't cover all the cases.
As with other rules it not always an on/off binary option, sometimes you have more control.

Disabling globally or even around switch is **not a solution**.

Consider the following example:

[code]

In the first case it makes no sense for ESLint to enforce the rule, but if you turn it off you lose the he

[2016-03-20 22:23] michaelficarra commented on #5601
@galambalazs Removing the `break` was the suggested solution.

[2016-03-20 22:37] galambalazs commented on #5601
Should you also remove all trailing commas? They are dead code too, you know.
Oh wait, but there's an option for that. Interesting... :)

So eslint *can* be about having sensible options.

[2016-03-21 02:33] platinumazure commented on #5601
I'm not sure I get the problem. You turn on `no-unreachable` and it correctly flags an unreachable break statement. You state, as your reason for wanting to allow those statements not to be flagged as unreachable, that you don't want there to be accidental fallthrough if someone removes the return statements preceding the break statement. We recommend using `no-fallthrough` which is designed for e

[2016-03-21 03:50] #5511 closed

[2016-03-21 03:54] ilyavolodin commented on #5601
We never intended to cover all the cases. That's simply not possible. You use-case seems to be an edge case. I understand that's your preferred style, but I haven't seen this pattern used widely and I'm not sure I understand why you would want to do that. If you can point us to a popular style-guide or very popular library using this patter, we would be happy to revisit this discussion. If not - y

[2016-03-21 04:43] jeffwesson commented on #3782
Thanks @IanVS and @DelvarWorld
It was a combination of:
[code]
and
[code]
Added the trailing npm install to compensate for rm'ing node_modules entirely, just in case anyone copy/pastes this without looking :wink:

[2016-03-21 06:01] alberto commented on #5616
Yes, I meant I don't see much benefit over your first example with commented out variables. There is no real difference between a comment and an unused variable. Let's wait and see what others think.

[2016-03-21 08:14] radek-holy commented on #4828
@alberto, did you notice that I asked for a [feature](https://github.com/eslint/eslint/issues/4828#issue-124213564) not for a [bug fix](https://github.com/eslint/eslint/issues/4828#issuecomment-193981331)? So, you mean that I should explicitly pass every file on the command line? The problem with that is that it's very easy to forget to adjust the testing script with every new hidden file and thus

[2016-03-21 11:56] MullinsN opened #5636 "ignore-path"
**What version are you using?**

**What did you do?**

**What happened?**

**What did you expect to happen?**

[2016-03-21 12:36] MullinsN commented on #5636
Version: v2.4.0

What did I do: Run **eslint server.js** from the CMD on Windows 10.

What happened: Had this error returned

**D:\Dropbox\Projects\myLibraryNodeV2>eslint server.js
undefined is not a function
TypeError: undefined is not a function
    at new IgnoredPaths (C:\Users\Dev\AppData\Roaming\npm\node_modules\eslint\lib\ignored-paths.js:152:17)
    at CLIEngine.executeOnFiles (C:\Users\Dev

[2016-03-21 12:54] kaicataldo commented on #5633
Hey there! This feels to me like a really niche use-case. max-len ignoring only shebang comments feels to me like unnecessary (and confusing) complexity - personally, as a user, that's not the behavior I'd expect.

Have you considered using the `comments` option in the [max-len docs](http://eslint.org/docs/rules/max-len)? ESLint also has the ability to ignore a line with `eslint-disable-` comments

[2016-03-21 14:43] michaelficarra commented on #5633
@kaicataldo The shebang has to be on the first line. I'm in favour of an option in `max-len` to ignore shebangs.

[2016-03-21 15:04] ilyavolodin commented on #5636
I can't reproduce this using Windows 10 on my local machine. Everything is working fine for me in bash console and in CMD. Could you try uninstalling and reinstalling eslint? It looks like something might've not install correctly for you.

[2016-03-21 15:08] MullinsN commented on #5636
Ok. I will uninstall and try again. Thank you.

[2016-03-21 15:56] alexmngn opened #5638 "eslint 2.4.0 complaining about missing dependency of estraverse-fb"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
`$ eslint src/index.jsx`

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

This is similar to #5476 but I'm usi

[2016-03-21 16:03] kellyrmilligan commented on #5638
++ same issue after reading the previous issue. 2.4.0 and babel-eslint 5.0.0

[2016-03-21 16:41] ilyavolodin commented on #5638
This issue has been fixed on our side. You need eslint v2.4.0 and babel-eslint 6.0.0-beta for a working setup. Please upgrade your babel-eslint.
Closing as fixed.

[2016-03-21 16:41] #5638 closed

[2016-03-21 16:44] MullinsN commented on #5636
It appears that this machine had an old old version of NPM (1.3.2), so it appears once reinstalled Node, problem went away. Sorry for wasting your time.

[2016-03-21 16:44] #5636 closed

[2016-03-21 18:04] MeoMix opened #5639 "Incorrect error when using LoDash' parseInt via destructuring"
**What version of ESLint are you using?**

2.4.0. I'm using the latest `gulp-eslint`.

**What parser (default, Babel-ESLint, etc.) are you using?**

"babel-eslint": "^4.0.5",

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Linting should pass. LoDash' `parseInt` implicitly

[2016-03-21 18:09] platinumazure commented on #5639
Confirmed in ESLint demo with this test case:

[code]

I consider this a bug-- radix should be able to detect shadowing, similar to what we use in no-console and no-alert.

[2016-03-21 18:09] captbaritone opened #5640 "Rule Proposal: no-constant-expression"
__When the rules will warn.__

Using a literal/constant as the first value in a logical expression results in a statement that can be simplified. The follow would warn:

    var greeting = false || 'Hello';

    var greeting = 'hello' && 'goodbye';

Since they could be simplified to:

    var greeting = 'Hello';

    var greeting = 'goodbye';

__Whether the rule prevents an error or is stylistic._

[2016-03-21 18:11] platinumazure commented on #5640
I would go for `no-constant-logical-expression` or `no-useless-logical-expression`, myself, even though they're a bit longer. (`true` is also a constant expression and this is really about the short-circuit behavior of LogicalExpressions)

What about ternary statements? Have you thought about those at all? (Might want to dig into `no-unneeded-ternary` to see if those are covered, but I *think* tho

[2016-03-21 18:14] Cuel commented on #5550
Sorry for late reply.

I extracted some code into a new file and immediately  got 2 errors from eslint, code below

[code]

  2:67  error  Irregular whitespace not allowed                     no-irregular-whitespace
  3:15  error  Irregular whitespace not allowed                     no-irregular-whitespace

[2016-03-21 18:19] mohsen1 commented on #5626
Current behavior is not very intuitive. Having to install many eslint config packages globally isn't the cleanest way of using `eslint` global executable. Each repository should be responsible for owning their configuration packages. This is specially important when you have multiple repository on your machine depending to different versions of a eslint config package.

Maybe consider changing thi

[2016-03-21 18:23] michaelficarra commented on #5550
@Cuel I still can't reproduce this. You may want to make a gist and use git to push up the file itself. You copy/pasting into a web browser may cause some whitespace normalisation to happen.

[2016-03-21 18:23] platinumazure commented on #5550
Something gets lost in the copy/paste, unfortunately-- I copied that code into our online demo and didn't get linting errors.

[2016-03-21 18:25] captbaritone commented on #5640
@platinumazure `no-constant-logical-expression` does sound better, however it may not be general enough if we also want to include ternary operators.

I looked at the source of `no-unneded-ternary` and it does not currently support this type of warning. Perhaps the ternary version of this error would be better as an option of `no-unneded-ternary` rather than of this rule?

[2016-03-21 18:39] michaelficarra commented on #5550
@ilyavolodin I don't think there's any reason to reopen this issue yet. We still have seen no evidence that there's actually an issue with eslint.

[2016-03-21 18:41] Cuel commented on #5550
$: hexdump -C test.js
[code]

So they seem to be non-breaking space (c2 a0), and also not before the OR, but after. So in that case I guess it's a problem with some plugin to atom. Guess we can close this

[2016-03-21 18:50] #5550 closed

[2016-03-21 19:04] BYK opened #5641 "Build: Enable cache for CI integrations"
The CI integrations we use both offer caching:

- https://www.appveyor.com/docs/build-cache
- https://docs.travis-ci.com/user/caching/

This would save some time on CI build times and I don't see a reason to not do this.

If accepted, I'm willing to submit a PR.

[2016-03-21 19:06] ilyavolodin commented on #5641
Sounds like a worthwhile enhancement. Especially for appVeyor that takes forever to build. My only concern is what should be a good cache invalidation period.

[2016-03-21 19:07] nzakas commented on #5641
What is the problem we're trying to solve with this? I haven't experienced CI build times as being overly long. Has that been a problem?

[2016-03-21 19:14] ilyavolodin commented on #5641
AppVeyor takes a while to build, mostly due to one build at a time rule. But the faster the builds the faster it would take to get AppVeyor approval. Travis is pretty speedy as is, but better speeds never hurt:-)

[2016-03-21 19:14] mysticatea commented on #5616
I may not understand this issue, but couldn't you use [varsIgnorePattern] option?

![image](https://cloud.githubusercontent.com/assets/1937871/13930916/45cdebcc-efe4-11e5-8d63-03423a27d989.png)

[varsIgnorePattern]: http://eslint.org/docs/rules/no-unused-vars#varsignorepattern

[2016-03-21 19:30] mysticatea commented on #5626
[eslint-cli] may help you.

[eslint-cli]: https://www.npmjs.com/package/eslint-cli

[2016-03-21 19:37] mysticatea commented on #5639
I'm working on this.

[2016-03-21 19:40] nzakas commented on #5641
I'm not against caching, I'm just a bit concerned about potential side effects of caching. Right now, I understand exactly what the VMs are doing...with caching on, I'm no longer sure. I just really don't want to get into a situation where we're asking the question, "what happens if we run the test on a clean VM?"

So, that's my only concern. I'd still like to understand the situation where a fast

[2016-03-21 20:40] galambalazs commented on #5616
oh but you do understand :)
cheers

[2016-03-21 20:40] #5616 closed

[2016-03-21 20:44] captbaritone commented on #5641
From the top of the Travis.ci link (emphasis mine):

[2016-03-21 20:49] nzakas commented on #5641
@captbaritone it's the "and" in that sentence that would allow us to use it. :)

[2016-03-21 20:53] alberto commented on #4828
@radek-holy I'm not sure what you mean by the feature vs bugfix differentiation, but I only mentioned a possible **workaround** for you (or someone else who stumbles upon this) while this gets properly fixed. You could also run `eslint --no-ignore ./.*.js` for all hidden files in a dir. If you want to lint all hidden files in your project, that's a whole different issue, I think.

[2016-03-21 21:04] BYK commented on #5641
Faster feedback loop for contributers and preventing potential timeouts on AppVeyor. I never run tests on a "clean" slate anyways and our `package.json` should enforce any old dependencies to be upgraded to the latest minimum version we support anyways so I really don't see much downside. It is almost "stupid not doing this".

If we had shinkwrap though, we wouldn't even think about not enabling i

[2016-03-21 23:07] hzoo commented on #5641
Maybe we can clear cache before a release in case?

[2016-03-22 02:21] ilyavolodin commented on #5641
I wonder if we can have master branch builds without cache, but PR builds with? Master builds are not time sensitive, but faster feedback for PR submissions is always a nice thing to have.

[2016-03-22 02:58] hzoo commented on #5641
Yeah :stuck_out_tongue: I think that sounds good if possible

[2016-03-22 04:15] kaicataldo commented on #5536
Very minor tweak to increase clarity of docs, including the problematic version of the code above. Thoughts?

[2016-03-22 07:05] radek-holy commented on #4828
Yes, and that's the differentiation... I asked for a support to lint (also) all hidden files in my project [1](https://github.com/eslint/eslint/issues/4828#issue-124213564)

[2](https://github.com/eslint/eslint/issues/4828#issuecomment-167832310)

But my RFE was turned into a bug report later on...

[2016-03-22 09:23] JustinLivi commented on #5155
@platinumazure This comment may be more relevant in #3611 but is an attempt to directly answer you question. As a user, I've recently found myself in the situation where a single configuration based on globbing is looking more and more enticing/necessary. I'm working on a express/react application with multiple routes and I'd really like to structure my application like this:

[code]

Ideally I'd

[2016-03-22 12:26] BYK commented on #5641
In TravisCI, `master` cache is the cache used for all PRs against master and any new branches that doesn't have a cache yet so this doesn't look doable: https://docs.travis-ci.com/user/caching/#Fetching-and-storing-caches

That said Travis provides a command-line tool and a web interface to clear cache when necessary. We may chose to invalidate the cache when we see a `Upgrade` or `Build` commit o

[2016-03-22 12:53] ilyavolodin commented on #5641
@BYK Hmm... that adds a lot of unneeded complexity.

[2016-03-22 15:32] nzakas commented on #5614
I think @mysticatea's plugin is the perfect spot for something like this.

[2016-03-22 15:36] nzakas commented on #5188
@platinumazure confirmed

[2016-03-22 15:39] #5197 closed

[2016-03-22 15:39] jasnell commented on #5614
Thank you all very much for the discussion! Definitely appreciate the consideration on this. One quick update on it: we should have a decision tomorrow about whether or not the new API will be backported to v4 but general consensus so far is that it should be.

[2016-03-22 15:43] platinumazure commented on #5188
@nzakas Thanks, I'll do quote-props next. I'm just waiting for my other PR to get merged (after any feedback is addressed, of course).

[2016-03-22 15:48] nzakas commented on #5536
I like it.

[2016-03-22 16:27] Alaneor opened #5644 "Scoped npm packages on Windows do not seem to work"
Hello,

it looks like scoped packages do not work correctly on Windows machines. Below you can see that eslint is trying to load a configuration from `@strv\javascript\standard\optional.js/eslint-config`, while the correct place to load it from would be `@strv\eslint-config-javascript\standard\optional.js`.

To provide more context, the file `@strv/javascript/environments/nodejs/optional.js` conta

[2016-03-22 16:41] brettdorrans opened #5645 ".eslintrc.js: Unexpected token on colon in config"
**What version of ESLint are you using?**
v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
https://gist.github.com/brettdorrans/78781da5bb3a180b4293

**What did you do? Please include the actual source code causing the issue.**
When running eslint using this config (I've tried different config files too, same issue), it immediat

[2016-03-22 16:44] ksmithut commented on #5645
if you're using json, you should use `.eslintrc.json`

[2016-03-22 16:49] brettdorrans commented on #5645
Something weird is going on with my setup, closing this as I don't think it's related to eslint directly. Thanks for your help, ksmithut, that pointed me in the correct direction.

[2016-03-22 16:49] #5645 closed

[2016-03-22 16:53] platinumazure commented on #5567
@AvraamMavridis In case the comment above wasn't clear, we need a little more information about exactly how your proposed rule augmentation would work. I see one example in your initial post, but we like to see examples (with code) of what would constitute a rule violation and what wouldn't under your new proposal.

The [Proposing a New Rule](http://eslint.org/docs/developer-guide/contributing/new

[2016-03-22 17:05] platinumazure commented on #5640
Hmm... ternary does open a can of worms indeed. I'd be okay with having this focus on LogicalExpressions only, at first, and then we can evaluate ternaries later.

@eslint/eslint-team Thoughts?

[2016-03-22 18:27] BYK commented on #5641
@ilyavolodin - that is complexity if we want that functionality. In all honesty, I'm in favor of turning this on and see if any issues arise and if we like the benefits. If we think it is not worth it, we can revert it. What do you think?

[2016-03-22 19:12] ilyavolodin commented on #5644
Looks like regex for normalizing config names isn't doing the right thing

[2016-03-22 19:18] nzakas commented on #5641
@byk my concern is that we won't notice that there's a problem. Incorrectly invalidated caches are one of the hardest problems to identify and debug.

This is exactly the problem. If we're not doing it, and then the CI environment isn't doing it, who is doing it? :)

At the moment, I'm :-1: on this suggestion. It seems like only a small benefit with a lot of potential complexity and a bunch of unk

[2016-03-22 19:26] #5410 closed

[2016-03-22 19:27] BYK commented on #5641
Alright, not gonna force :)

[2016-03-22 19:27] #5641 closed

[2016-03-22 19:37] tomkur commented on #5410
Awesome, thanks!

[2016-03-22 21:58] alberto commented on #5547
I just realized that if `--no-ignore` ignores `.eslintignore` files, it won't be possible to uningnore anything at the same time :sweat_smile:

[2016-03-22 22:26] platinumazure commented on #5547
@alberto Is that really so, given one could specify ignore patterns in the CLI using `--ignore-pattern`?

[2016-03-22 22:35] nzakas commented on #5644
Might be related to or the same as #5468.

[2016-03-22 22:38] alberto opened #5646 "Ignore node_modules and bower_component folders in subfolders"
**What version of ESLint are you using?**
2.4.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
Any
**What did you do? Please include the actual source code causing the issue.**
In this project,
[code]
**What did you expect to happen?**
eslint should ignore `packages/eslint-config-eslint/node_modules/*` and return no errors

**What actu

[2016-03-22 22:39] nzakas commented on #5644
Also possibly related #5175

[2016-03-22 22:46] nzakas commented on #5608
Just verified you need `ecmaVersion: 6` in your config.

[2016-03-22 22:47] nzakas commented on #5646
This isn't a bug, it's intentional. We only exclude the top-level `node_modules` and `bower_components` by default.

[2016-03-22 22:52] nzakas commented on #5582
There nothing we can do about this. It's up to js-yaml to fix it, and if and when they do, it'll get included in ESLint.

[2016-03-22 22:52] #5582 closed

[2016-03-22 22:54] nzakas commented on #5547
`--no-ignore` is mostly used for testing purposes (at least, that's why it was added, IIRC). I agree, this seems like a bug that was leftover after the ignore file refactoring.

[2016-03-22 22:57] nzakas commented on #5344
@nmote do you still plan to put together a PR for this?

[2016-03-22 22:58] nzakas commented on #5286
No response for over a month, closing.

[2016-03-22 22:58] #5286 closed

[2016-03-22 23:00] nzakas commented on #5210
Is this still relevant? Any change needed?

[2016-03-22 23:01] nzakas commented on #5149
@IanVS any other information to share here? Are you looking into this? If not, can you be provide some more details so others might be able to investigate?

[2016-03-22 23:01] alberto commented on #5547
@platinumazure not very intuitive, but :+1: given the context.

[2016-03-22 23:02] nzakas commented on #5085
@omerbalyali I think we all agree on the general direction. Instead of going back and forth with color tweaking, would you be willing to send me the `.ai` file? That way I can continue to tweak and we can get some resolution to this.

[2016-03-22 23:02] nzakas commented on #5083
Closing for now. Thanks to everyone who volunteered.

[2016-03-22 23:02] #5083 closed

[2016-03-22 23:05] nzakas commented on #4731
We aren't going to be able to make such a change anytime soon, so closing.

[2016-03-22 23:05] #4731 closed

[2016-03-22 23:05] nzakas commented on #4616
@ilyavolodin any followup on this?

[2016-03-22 23:06] nzakas commented on #4461
No progress in several months, so closing.

[2016-03-22 23:06] #4461 closed

[2016-03-22 23:07] nzakas commented on #4041
Any volunteers for fixing this? Seems like a small amount of work if someone just digs in.

[2016-03-22 23:12] omerbalyali commented on #5085
@nzakas I'm just working on the logo and the website.

Here is the .ai file you can use: https://www.dropbox.com/s/3l7oth0q4lo95zi/ESLint-Logo-22.3.2016.ai?dl=1

Now it looks like the attached image, idk if that's what you're thinking.

![eslint-logo-22 3 2016](https://cloud.githubusercontent.com/assets/944165/13970831/f61a4fde-f093-11e5-97a6-af8249085979.png)

[2016-03-22 23:14] alberto opened #5647 "Upgrade chai dependency"
[This assertion](https://github.com/eslint/eslint/pull/5627/files#diff-61abfdaed9d3063cec9eec5cb426c304R305) was introduced in chai 3.5.0 and is making `npm test` fail on my copy of the repo, since I have version 3.4.1.

[2016-03-22 23:18] nzakas commented on #5085
:+1: I like the purple background color. I think the two purples on the white background may be too close together because it looks a bit like an optical illusion to me that they may or may not be different. I think we can probably get away with using just one color purple for both the inner and outer pieces.

[2016-03-22 23:24] nzakas commented on #5640
Hmm, not sure how useful this rule is in the core at the moment. At this point, we really need to be looking at only adding rules where we think, "oh wow, we MUST have this," and I'm just not feeling that from this rule.

[2016-03-22 23:27] IanVS commented on #4828
I have been in the ignore logic most recently, and can take a crack at this. To be clear though, it seems there are two issues being discussed:

- Dotfiles are ignored by default and there is no flag to unignore them.
- Anything passed in explicitly should be linted.

Should I be addressing one or both of these issues?

[2016-03-22 23:32] alberto commented on #4828
I think they are two different issues, as I mentioned above. I was going to open a new issue for uningnoring dotfiles from the project and leave this one for the commandline files.

[2016-03-22 23:34] omerbalyali commented on #5085
@nzakas I like the color too. Two different purple guides the focus to the inner hexagon and it looks like a box at least I see that way, is that the optical illusion you're seeing?

![eslint-logo-22 3 2016-1](https://cloud.githubusercontent.com/assets/944165/13971214/ee4af2ec-f096-11e5-8b92-2ba4ae3adee5.png)

[2016-03-22 23:34] ilyavolodin commented on #5644
I think this is a bit different then those two issues. I'm thinking that way based on this line: ```Cannot find module '@strv\javascript\standard\optional.js/eslint-config'`` it looks like normalized name is not formatted correctly, so I'm guessing that RegEx didn't parse it properly.

[2016-03-22 23:36] omerbalyali commented on #5085
All the corners of two hexagons are maybe too harsh on the eye, so I rounded the outer hexagon a little bit and I think that way it looks better when the logo is smaller (and bigger). What do you think?

![eslint-logo-22 3 2016-2](https://cloud.githubusercontent.com/assets/944165/13971263/5fd3ad50-f097-11e5-8fe2-84f8f5095cda.png)

[2016-03-22 23:40] ilyavolodin commented on #4616
I'm not really sure what to do about those issues. I didn't participate in the original discussion and don't know the reasoning behind some of the decisions for this rule. Since we are not getting any response from the author, I think we basically have to re-write this rule and clean-up documentation and tests.

[2016-03-22 23:42] alberto commented on #5646
So, could it be an enhancement or did you already decide against this before?

[2016-03-23 01:53] captbaritone commented on #5640
Makes sense.

[2016-03-23 01:54] #5640 closed

[2016-03-23 02:16] #5647 closed

[2016-03-23 02:51] kaicataldo commented on #5536
Kinda goofed by pushing to my fork first  and tried to delete it. Here's the actual PR: https://github.com/eslint/eslint/pull/5650 Sorry for the confusion :sweat_smile:

[2016-03-23 03:19] #5536 closed

[2016-03-23 04:16] brettz9 commented on #5536
Sweet, thanks, I think that was a very good way to resolve it...

[2016-03-23 06:22] kaicataldo commented on #5536
@brettz9 Glad to hear it - thanks for reporting the issue!

[2016-03-23 07:20] kaicataldo commented on #5234
Just to be clear, https://github.com/eslint/eslint/issues/5234#issuecomment-196530074 is the agreed upon configuration we're shooting for, right? If so, I'll take a look at this.

[2016-03-23 07:39] BarryThePenguin commented on #5234
@kaicataldo I already have a solution, but haven't created a PR as I wasn't sure if it was agreed or not...

[2016-03-23 08:02] AvraamMavridis commented on #5567
@platinumazure I see. I will provide some more examples.

[2016-03-23 09:35] radek-holy commented on #4828
I admit that this is your business how you manage your issues so let me just note something in case you did not take it into account. Currently, this thread has a title that refers to the issue (2) while its first five comments refer to the issue (1). So, for a newcomer who finds this report by its title, it might be a bit confusing after reading the first five comments. Wouldn't it be less confus

[2016-03-23 09:44] Eschon opened #5651 "Set different ecmaversion for files"
I'm currently using eslint 2.4.0 and most of my files are written in es6 so I've set the ecmaversion to 6 in my config, but I also have a few files that are es5 and they show a lot of errors because of that.

I searched around for a bit but as far as I know there is no way to set the ecmaversion to 5 for these files.
Would it be possible to implement something like this?

[code]

[2016-03-23 10:17] mysticatea commented on #5651
Thank you for this issue.

Unfortunately, the way to overwrite parser options from the inside of files does not exist for now.
Maybe we can revisit #3698.
Or if the es5 files are collected in a directory, we can put `.eslintrc` into the directory.

By the way, es6 has high compatibility to es5.
What errors did you get?
If the errors are reported by rules for es6, parser options don't turn the rule

[2016-03-23 10:31] Eschon commented on #5651
Thank you for your fast answer.

Since most of the es5 files are in a directory without any es6 files an extra `.eslintrc` file would be a viable option.

Like you already guessed most errors are `no-var` and `prefer-arrow-callback`. Turning those of manually in the files would work too.

I think your comment solves my issues. I'll keep the issue open in case you think this feature would still be

[2016-03-23 10:39] mysticatea commented on #5651
#3698 is still opened, so I close this issue.
Thank you!

[2016-03-23 10:39] #5651 closed

[2016-03-23 11:05] callumlocke commented on #5286
sorry for leaving this open! the problem went away by itself :)

[2016-03-23 11:43] shaunstanislaus commented on #4832
[code]

'use strict';

[code]

[2016-03-23 14:11] #5639 closed

[2016-03-23 15:24] s0ph1e opened #5653 "Incorrect "invalid configuration" message for warning rule"
**What version of ESLint are you using?** v2.4.0

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Run `eslint app.js`

**What did you expect to happen?**
According to [documentaion](http://eslint.org/docs/user-guide/configuring#configuring-rules) error message should say
`Severity should be one of the following: 0 = off

[2016-03-23 15:34] ajgreenb opened #5654 "Maximum call stack RangeError in 2.4.0"
**What version of ESLint are you using?**

2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I ran `eslint path\to\Footer.js`.  Here is `Footer.js`:

[code]

**What did you expect to happen?**

For the code to be linted.

**What actually happ

[2016-03-23 15:39] ajgreenb commented on #5654
Oh, and the version of `eslint-plugin-react` is `^4.2.2`, if that helps.

[2016-03-23 15:52] nzakas commented on #4828
@radek-holy you asked for a way to pass dot files to be linted, we said you should be able to do so on the change line, but it turns out that doesn't work. To me, everything in this issue makes sense.

@IanVS @alberto Id say let's focus on making sure anything passed on the command line is linted. If you want to talk about maybe unignoring dot files, then a new issue is a good idea.

[2016-03-23 15:56] nzakas commented on #5646
We decided against it before because we wanted to ignore as few directories as possible by default. See https://github.com/eslint/eslint/issues/1163#issuecomment-58378266

[2016-03-23 16:00] nzakas commented on #5085
Hmm, I think I like the sharp corners better. What do others think?

Definitely think this is the right purple.

[2016-03-23 16:09] michaelficarra commented on #5085
I like the two-tone version but with the more rounded outer corners.

[2016-03-23 16:13] radek-holy commented on #4828
Did you read the request? Did you notice that

?

[2016-03-23 16:42] ChristianMurphy opened #5655 "Support additional Javascript prolog directives"
**What version of ESLint are you using?**
2.4.0

**What problem you want to solve?**

Currently the [strict rule](http://eslint.org/docs/rules/strict) allows for requiring or disallowing the `'use strict'` directive.
I would like to be able to do the same with other Javascript directives, such as `'use strong'` and `'use asm'`.

This would allow for validation of code like:
[code]

[code]

[code]

[2016-03-23 16:47] IanVS commented on #4828
I think the quickest win to address the original request and give a way to lint dotfiles will be to add a CLI flag.  I could do this tonight.

In my mind it seems that not linting files passed on the command line was a separate issue which was discovered in the process of attempting to find a workaround for the original issue.  Addressing that will take a little more effort and likely somewhat mor

[2016-03-23 16:51] gyandeeps commented on #5654
Have you tried it by removing `eslint-plugin-react`?

[2016-03-23 16:57] michaelficarra commented on #5655
Other directives do not belong in the `strict` rule. They are completely unrelated. If I was you, I would propose a new rule instead (which may or may not be able to subsume the functionality of `strict`). Keep in mind that rules that deal with these less-common directives have been denied before because they wouldn't affect many eslint users, so I would expect the rule to be rejected on the same

[2016-03-23 18:02] ChristianMurphy opened #5657 "Rule Purposal: Prolog Directives"
**When the rules will warn. Include a description as well as sample code.**

**NOTE:** This is likely a wishlist item for ESLint 3

This rule would be a more generic version of the existing `strict` rule, allowing for directives other than `'use strict'` and for multiple directives to be set.

Rule would allow for a list of directives to be given, as well as what scope would allow the directive

*

[2016-03-23 18:03] ChristianMurphy commented on #5655
Will do, Thanks @michaelficarra!

[2016-03-23 18:03] #5655 closed

[2016-03-23 19:50] platinumazure commented on #5653
Confirmed [here](https://github.com/eslint/eslint/blob/641b3f784098d109f29eb7ca2c94db6c1a641fd7/lib/config/config-validator.js#L104).

[2016-03-23 20:14] #5653 closed

[2016-03-23 20:21] tgandrews opened #5658 "valid-jsdoc does not support es6 default param"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected the code above to fail with a missing `@param` doc but it did not.

**What actually happened?

[2016-03-23 21:46] ajgreenb commented on #5654
@gyandeeps I just tried after removing `eslint-plugin-react`:

[code]

but I still get the same error. I think it has something to do with my rules.

[2016-03-23 21:49] josh opened #5659 "Rule proposal: no-unneeded-disabled-rules"
**When does this rule warn? Please describe and show example code:**

ESLint configuration comments are handy for temporarily allowing an exception or hack. But sometimes the hack is fixed but the comment is still left in place.

If a `eslint-disable-line` comment is declared but would have no effect, it would be considered a problem.

The following patterns are considered problems:

[code]

The f

[2016-03-23 21:57] gyandeeps commented on #5654
this looks odd
[code]

I think you should have quotes around `module`.
Not sure if this is the real prob or not

[2016-03-23 21:58] ilyavolodin commented on #5654
The error happens here: https://github.com/eslint/eslint/blob/master/lib/config/config-ops.js#L181
It looks like deepmerge goes into infinite recursion loop. @ajgreenb Could you run eslint with `--debug` flag to see if any other configs are being picked up? The config you posted looks reasonable, maybe an issue is happening in some other config file?

[2016-03-23 22:07] ajgreenb commented on #5654
It appears that @gyandeeps was correct; the culprit was a missing pair of quotes. Switching to

[code]

fixed the error. Should I close the issue?

[2016-03-23 22:13] ajgreenb commented on #5654
Here's the output of ESLint with `--debug`, just to be thorough:

[code]

[2016-03-23 23:03] ilyavolodin commented on #5659
This can't be done in the rule. By design, rules don't know anything about other rules, hence you would be able to do something like that. However, you can easily create a stand-alone tool that would be able to identify unneeded comments. You can run eslint once normally, and once with `--no-inline-config` flag, and then compare results and flag any comment that didn't cause an error to show up wi

[2016-03-23 23:03] #5659 closed

[2016-03-23 23:06] ilyavolodin commented on #5654
Looks like it's a problem with configuration in that case. I'm not sure we can prevent something like that in our code. So closing since it looks like this issue has been resolved.

[2016-03-23 23:06] #5654 closed

[2016-03-23 23:12] ffxsam opened #5660 "[Bug] lines-around-comment"
According to the documentation:

[code]

And sure enough, if I lint that, it passes. However, this fails:

[code]

[2016-03-24 02:08] kaicataldo commented on #5660
Thanks for the report - a few more pieces of information are necessary to help us triage this:
 - The ESLint version you're experiencing this issue with
 - The parser and the config you're using when you lint the example you provided
 - The actual output from ESLint - you can just copy and paste the results from the command line

[2016-03-24 02:11] kaicataldo commented on #5234
@BarryThePenguin Awesome, definitely don't want to duplicate efforts :)

[2016-03-24 02:30] IanVS commented on #5149
I haven't looked into it so far.  The problem is that there are only certain kinds of schemas that autoconfig can handle (`enum`, `bool`, and objects using `enum` and `bool`), and it just skips over schemas like `integer` and `string`.  So, if a rule configuration requires a severity, something "un-autogeneratable", and then something which can be generated (in that order, like [`max-statements`](

[2016-03-24 02:35] IanVS commented on #5234
@BarryThePenguin Feel free to submit a PR, the issue is accepted.

[2016-03-24 02:39] nzakas commented on #5657
Since there's currently only one formal JavaScript directive, "use strict," this is not a good candidate to be included as a core rule. I'd suggest creating a custom rule if you need this functionality.

[2016-03-24 02:39] #5657 closed

[2016-03-24 02:41] nzakas commented on #5658
Can you check with the default parser as well?

[2016-03-24 02:50] nzakas commented on #5013
Given recent events (http://www.theregister.co.uk/2016/03/23/npm_left_pad_chaos/), I think we should strongly consider doing this. It would scratch two itches:

1. Locking down dependencies so the ones we use while publishing are the ones people get
2. Preventing deletion of a dependency from breaking our users

It looks like there are some unclear perf implications to this, but even so, it's star

[2016-03-24 05:25] platinumazure commented on #5149
@IanVS Would it be acceptable to regard the whole rule as not suitable for auto-config, or do you have a different/better solution in mind?

[2016-03-24 06:46] ffxsam commented on #5660
Sorry, I always forget the details

v2.3.0

ESLint output: `  4:7  error  Expected line before comment  lines-around-comment`

[code]

.eslintrc:

[code]

[2016-03-24 06:55] mysticatea commented on #5660
@ffxsam It's an object literal, not a block.

http://eslint.org/docs/rules/lines-around-comment#allowobjectstart

[2016-03-24 06:57] ffxsam commented on #5660
Ah of course.. duh. Been looking at code too long without a break :D Thanks

[2016-03-24 06:57] #5660 closed

[2016-03-24 08:02] feross opened #5662 "TypeError: Cannot read property 'type' of undefined"
**What version of ESLint are you using?** 2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Eslint should not crash.

**What actually happened? Please include the actual, raw output from ESLint.**

Cr

[2016-03-24 08:08] mysticatea commented on #5662
Thank you for this issue.

I believe this is a duplicate of #5573.
This has been fixed on master.

[2016-03-24 08:08] #5662 closed

[2016-03-24 08:11] feross commented on #5662
@mysticatea Thank you.

[2016-03-24 09:49] magrinj commented on #4344
I got the same issue, I can't find any `babel-eslint@6` in stable version so I update to `babel-eslint@6.0.0-beta.6`, that solve the problem.

[2016-03-24 10:26] gronke commented on #4041
Yep, I can re-apply this changes to the tests. Will create a PR.

[2016-03-24 10:44] tgandrews commented on #5658
Same issue with default parser as well. There is a todo in the rule for
this issue. I have attempted to address it with a PR.
On Thu, 24 Mar 2016 at 02:41, Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-03-24 15:32] #5424 closed

[2016-03-24 15:51] xjamundx commented on #5013
Looks really interesting, we have a *ton* of dependencies right now, so this may be worth doing.

[code]

[2016-03-24 15:53] IanVS commented on #5085
I like the sharper corners.  Rounded-off nuts are not fun to deal with up here in the rust belt.

[2016-03-24 15:54] alberto commented on #5013
@xjamundx that list includes our devDependencies

[2016-03-24 15:57] alberto commented on #5646
Thanks for the link. I tried searching for the conversation but I got a lot of results. Closing this, then.

[2016-03-24 15:57] #5646 closed

[2016-03-24 16:00] xjamundx commented on #5013
@alberto updated!

[2016-03-24 16:19] BYK commented on #5013
I'm not sure if I really agree with this. If our users are relying on NPM to download us, then bundling dependencies is only a partial solution where the real problem resides in NPM itself. I think this is something NPM should resolve, not us. Unless people complain about this kind of events more I'm :-1: for this proposal.

[2016-03-24 16:32] bertyhell opened #5665 "false positive for no-lonely-if"
![image](https://cloud.githubusercontent.com/assets/1710840/14023860/b7a22bd8-f1e6-11e5-8ace-82fc8c540461.png)

[code]

This is not a lonely if, but the error still shows up.

eslint version: 2.4.0

[2016-03-24 16:48] kaicataldo commented on #5085
I prefer the sharper corners too - looks more consistent to me with the rest of the logo

[2016-03-24 16:48] michaelficarra commented on #5665
Cannot reproduce. Please use the issue template next time.

[2016-03-24 17:31] nzakas commented on #5085
Okay, let's go with the sharp corners.

The only other thing I'd like to get some thoughts on is the color of the middle hexagon. In the last example, it's the same as the outer hexagon. After playing around a bit and looking back up in this thread, it does seem like having the inner hexagon a different color could be nice.

@omerbalyali do you have time to put up a few examples where the inner he

[2016-03-24 18:06] alberto commented on #5469
So, should this go behind a flag, then?

[2016-03-24 18:41] alberto commented on #5665
I can't reproduce it either, so closing. Please reopen if you can provide more info.

[2016-03-24 18:41] #5665 closed

[2016-03-24 19:06] ilyavolodin opened #5666 "AppVeyor build fails due to rate limit on PhantomJS downloads"
AppVeyor build has been failing a lot recently due BitBucket rate limiting downloads of PhantomJS binaries. It looks like this is a know issue and there's a ticket to track this here: https://github.com/ariya/phantomjs/issues/13953#issuecomment-200862297
It looks like solution to this problem should be coming in sometime in the future by switching from bitBucket to a CDN, but for now maybe we shou

[2016-03-24 20:46] nzakas commented on #5013
This isn't true. Bundling dependencies is a complete solution. The problem occurs when npm tries to resolve dependencies at install time. Bundling the dependencies means dependencies are resolved at build time - that's one time for everyone who downloads it. That means we know with 100% certainty that each user is installing exactly what was released.

We've been bitten in the past by people doing

[2016-03-24 21:02] nzakas commented on #5013
For reference, there was a discussion about this feature in the chatroom earlier today. My apologies for not transferring some of that onto this issue. You can read the relevant bits starting here:
https://gitter.im/eslint/eslint?at=56f3565a137455d638d26a92

[2016-03-24 22:15] #5413 closed

[2016-03-24 23:49] scriptdaemon commented on #5666
Travis also failed a few times in my PR, so it's not just AppVeyor.

[2016-03-25 01:46] zackarychapple opened #5667 "Port JSCS requireObjectKeysOnNewLine rule"
**What version of ESLint are you using?**
[code]
**What parser (default, Babel-ESLint, etc.) are you using?**
[code]
**Please show your full configuration:**
.eslintrc
[code]
eslint.json
[code]
**What did you do? Please include the actual source code causing the issue.**
tried to lint this line of code
`var e2eTask = new E2ETask({ ui: this.ui, analytics: this.analytics, project: this.project });`

[2016-03-25 02:13] ilyavolodin commented on #5666
Travis fails rarely, AppVeyor fails every other build due to this issue. Not sure why. If we do this, we might as well do it for both.

[2016-03-25 03:04] kongakong opened #5668 "'URLSearchParams' is not defined"
**What version of ESLint are you using?**

2.4

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint ^6.0.0-beta.6

**Please show your full configuration:**

eslint-config-airbnb 6.1.0

**What did you do? Please include the actual source code causing the issue.**

`const searchParams = new URLSearchParams();`

**What did you expect to happen?**

`URLSearchParams ` should not

[2016-03-25 03:21] ilyavolodin commented on #5668
https://github.com/sindresorhus/globals/pull/83
Once next version of globals will be release this issue will be fixed automatically.

[2016-03-25 04:25] mysticatea commented on #5668
We have `globals@^8.12` in our package.json, and the latest `globals` is v9.2.0.
So we have to upgrade the dependency.

[2016-03-25 08:31] alberto commented on #5013
Re: deletion of a package causes issues downstream, it's going to be addressed by npm per their [blog](http://blog.npmjs.org/post/141577284765/kik-left-pad-and-npm) (section "What happens next")

Re: locking down deps, it could also be solved by shrinkwrap. Should we discuss the pros/cons of each approach?

[2016-03-25 09:44] mysticatea commented on #5449
After I have investigated this, I think this rule should warn `super()` of a class which inherits from `null`.

In `extends null` case, [GetSuperConstructor] throw a TypeError. This is meaning `super()` always throws a TypeError by spec.
On the other hand, there is a case that the constructor of a class which inherits from `null` is valid.

[code]

In this case, we cannot write `super()`.
(though

[2016-03-25 10:46] atte-kemppila opened #5672 "rule no-magic-numbers should support es6 default parameters"
**What version of ESLint are you using?**
v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**
[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

**What did you expect to happen?**

In my eyes, default parameters values aren't magical numbers since para

[2016-03-25 12:16] alberto commented on #5666
Looks like travis doesn't like that CDN very much. See my PR for details.

[2016-03-25 12:47] platinumazure commented on #5672
Seems logical to me- magic numbers by definition means we need a variable to represent the value, and default assignment does do that with parameters, more or less.

[2016-03-25 12:56] TJKresch commented on #5586
@gyandeeps That solution looks right to me. Multiline array literals are more similar to block-scopes and object-literals than multiline variable declarations. I was previously forced to remove my VariableDeclarator indentation rules for this exact reason, but that solution you described would fix my problem.

[2016-03-25 13:38] MidnightLightning opened #5674 "ES6 Map object reported as not defined"
**What version of ESLint are you using?**
v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
espree

**Please show your full configuration:**
`eslint --print-config app.js` results:
[code]
**What did you do? Please include the actual source code causing the issue.**
`app.js` contents:
[code]

**What did you expect to happen?**
That the `no-undef` rule when run with the `ecmaVersi

[2016-03-25 13:43] mysticatea commented on #5674
Thank you for this issue.

Please use `es6` environment.

[code]

`parserOptions` is options for syntax.
`env` defines global variables.

[2016-03-25 13:43] #5674 closed

[2016-03-25 14:04] #5668 closed

[2016-03-25 14:09] ilyavolodin commented on #5672
Sounds reasonable to me. What do others think?

[2016-03-25 16:07] vtfn commented on #3454
I know this issue has already been closed, but I am still having this problem, even after #3461

[2016-03-25 16:13] mysticatea commented on #3454
@vtfn Could you share steps to reproduce it?

[2016-03-25 16:15] #5666 closed

[2016-03-25 16:16] #3837 closed

[2016-03-25 16:23] nzakas commented on #5013
@alberto npm hasn't said what they will do or when they will do it, so I'm uncomfortable considering that enough to change what was decided here. I think we should proceed with bundling as planned and evaluate it for a couple of releases. It's easy to undo or change to shrink-wrapping later if we want, I just don't want to reopen the discussion at this point.

[2016-03-25 16:29] nzakas commented on #4828
@radek-holy please be nice. :) Yes I did. I also said that if .eslintrc.js is your only file to lint, then passing it on the command line is a better solution than including all dot files. If you want to keep discussing getting all dot files on this issue, that's fine. We also need to ensure that passing dot files on the command line will work properly. This is something that should be an easy fix

[2016-03-25 16:32] nzakas commented on #5449
Do you mean *should not*?

[2016-03-25 16:38] alberto commented on #5667
Please try with an updated version of eslint

[2016-03-25 16:40] michaelficarra commented on #5449
@nzakas No, should.

@mysticatea See [my comment above](https://github.com/eslint/eslint/issues/5449#issuecomment-191792610). I don't think we should report it if it only works for literals.

[2016-03-25 16:52] mysticatea commented on #5449
@nzakas I meant "should warn". (it means keeping the current behavior). Because `super()` of a class which inherits from `null` always throws a TypeError.
Of course, in lacking `super()` case, the constructor throws a ReferenceError in most cases. But there are cases that the constructor doesn't throw it.

@michaelficarra Yes. Actually, I'm hovering between two:

- I remove the special case for nu

[2016-03-25 16:54] IanVS commented on #4828
I propose a new boolean flag named `--include-dotfiles`.  If excluded, the behavior will be as current.  If included, we will set `dotfiles` to `true` in https://github.com/eslint/eslint/blob/ca06e4b1ec49b098b1fe01a121b9dffce5580914/lib/ignored-paths.js#L31.

I also agree both issues should be fixed, but this will be the easiest to implement.  If we are ignoring all dotfiles by default, it makes s

[2016-03-25 17:01] #5460 closed

[2016-03-25 17:03] ilyavolodin commented on #5667
@alberto Pretty sure that version of ESLint was a mistake, since config is using `off` switches, it's probably latest version.

[2016-03-25 17:08] vtfn commented on #3454
@mysticatea

function foo(fn) {
  fn();
}

foo(function named() {
  console.log('this is just a useless function example');
});

Even though the 'named' function isn't been called from inside itself, the code above should not raise a warning.
Using named functions like this improve stack traces.

[2016-03-25 17:13] mysticatea commented on #3454
@vtfn It's not the intention of this issue, so please open an issue.

[2016-03-25 17:18] vtfn commented on #3454
Ok. sorry.

[2016-03-25 17:25] vtfn opened #5675 "prefer-arrow-callback should allow named function that isn't being referenced"
Using a named callback improve debuggin by making stack traces more descritive, so prefer-arrow-callback should not warn if a named function is being passed as a callback, even if it isn't been referenced.

[code]

Trying to give as much info as possible:

The version of ESLint I'm using is 2.4.0
The code is above.
The output is: 5:5  error  Unexpected function expression  prefer-arrow-callback
An

[2016-03-25 18:24] #5452 closed

[2016-03-25 19:05] zackarychapple commented on #5667
Correct, its `"eslint": "^2.4.0",`

[2016-03-25 19:11] platinumazure commented on #5667
As I said in chat, I'm not convinced that `brace-style` is supposed to cover this (it focuses on blocks, I think, not object literals).

[2016-03-25 19:26] nzakas commented on #5085
Here are those three colors:

![eslint-logo-22 3 2016](https://cloud.githubusercontent.com/assets/38546/14052079/b186bbbc-f284-11e5-9a42-8da04a25b546.png)

I kind of like the middle one, though maybe a more vibrant purple would be better?

[2016-03-25 19:36] platinumazure commented on #5085
I like the middle one (though also with a more vibrant purpose) or the bottom one. The top one feels a little violently eye-popping to me.

[2016-03-25 19:49] TheAlphaNerd opened #5678 "test suite is broken on node master"
**What version of ESLint are you using?**
Master

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
testing with current head of node.js master on OSX 10.10.5

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
The test suite to pass

**What actually happened? Please i

[2016-03-25 19:51] dizlexik opened #5679 "Extremely slow with antivirus"
The company I work for requires that I run some horrible (but somehow popular) antivirus software on my PC which makes my `eslint .` take nearly 30 seconds to run on a very small project.

I did a little investigating and all of that slowness occurs in `glob-util.js` in the call to `glob.sync(pattern, globOptions)`. If I modify globOptions to include `ignore: 'node_modules/**'` my linting drops to

[2016-03-25 19:51] nzakas commented on #5678
Hmm, how long ago did you pull from master? I *just* did a release using master and the tests passed fine during that.

[2016-03-25 19:55] nzakas commented on #5678
Oh I see, you're using Node.js master. Shouldn't file an issue with Node.js for this problem?

[2016-03-25 19:57] TheAlphaNerd commented on #5678
I am one of the collaborators on the node project. This was discovered during smoke testing. I wanted to let ya'll know that you are broken on master as we will be cutting v6 in the next month. Some of the major changes on master are breaking. I'm doing some forensics to figure out exactly what it is.

I'm not 100% if this is a regression in node yet, or a change will need to be made in eslint due

[2016-03-25 19:58] nzakas commented on #5085
This one is a bit brighter.

![eslint-logo-22 3 2016](https://cloud.githubusercontent.com/assets/38546/14052676/31af1c40-f289-11e5-88f8-1ba79581d260.png)

[2016-03-25 20:02] doug-wade opened #5680 "eslint fails with Error: Cannot find module 'object-assign' (missing dependency)"
**What version of ESLint are you using?**
2.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
npm install

**What did you expect to happen?**
a successful installation

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-03-25 20:06] alberto commented on #5679
node_modules is ignored by default. Please provide the information requested

[2016-03-25 20:07] kaicataldo commented on #5085
I like middle one, followed by the most recent one!

[2016-03-25 20:08] kaicataldo commented on #5085
Actually, flip that. The most recent one is my favorite. They both look nice though 😄

[2016-03-25 20:11] alberto commented on #5680
@nzakas i saw you just commited bundling deps and it looks like it could be related. Can you have a look at it?

[2016-03-25 20:12] TheAlphaNerd commented on #5678
@nzakas just finished bisecting... and it looks like this is the offending commit
https://github.com/nodejs/node/commit/08085c49b6e49ecfffd638c6cd46f4de639ae4f4

it is a semver major change to assert that the values given to path are strings. I'm going to quickly dig into the tests on your end and see if this can be patched in eslint easily.

[2016-03-25 20:13] dizlexik commented on #5679
I understand that node_modules is ignored by default, but `glob.sync(pattern, globOptions)` happens before ignoredPaths rules are applied. My question is whether or not node_modules can be excluded from the glob crawling instead of each file under node_modules being filtered out one-by-one after the fact.

I'm using 2.5.0, but this was also an issue in 2.4.0.

[2016-03-25 20:15] platinumazure commented on #5085
I like the most recent one. I'd be curious to see what happened if a little more red were added to it though? (Just a little red, not a lot. I'm not asking for pink here-- was more just hoping that a hint of red would make it look a little more stately without being obnoxious)

[2016-03-25 20:20] tuckbick commented on #5680
When running `npm ls`, in addition to `object-assign`, I am also seeing `UNMET DEPENDENCY through@^2.3.6` and `UNMET DEPENDENCY esprima@^2.6.0`

[2016-03-25 20:20] djmitche opened #5681 "Getting Started instructions don't work"
**What version of ESLint are you using?**

latest

**What parser (default, Babel-ESLint, etc.) are you using?**

none

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Creation of a configuration file

**What actually happened? Please include the actual, raw output from ESLin

[2016-03-25 20:25] alberto commented on #5681
Duplicate of #5680

[2016-03-25 20:25] #5681 closed

[2016-03-25 20:29] ilyavolodin commented on #5679
@alberto `node_modules` are ignored by default from linting, but I don't think we ignore them by default for globing. That happens before we even get to ignore options. I think this would be a good enhancement to add, but at the same time, we need to make it in such a way that users would be able to un-ignore `node_modules`, and I don't know if we have enough information to do that at the point of

[2016-03-25 20:33] ilyavolodin commented on #5085
Last one is the best out of provided options (I think), but I personally prefer single-tone one to begin with. @omerbalyali if you are going to be tweaking the logo again in the near future, would you mind working a bit on kerning? Right now `E` and `S` are just hanging in the air for me, spacing between `L` and `i` is too much, and between `i` and `n` too little (personal opinion, I'm by no means

[2016-03-25 20:36] ben-eb commented on #5680
Yeah, I am also getting this -

https://github.com/postcss/postcss-selector-parser/pull/56 (https://travis-ci.org/postcss/postcss-selector-parser/builds/118560266)
https://github.com/ben-eb/postcss-discard-duplicates/pull/14 (https://travis-ci.org/ben-eb/postcss-discard-duplicates/builds/118559165)

[2016-03-25 20:45] dizlexik commented on #5679
That's exactly right. Thanks for summing it up clearly!

And yes, the un-ignoring is the real complication here. It seems to me that the information on whether or not node_modules or some file(s) under it are to be un-ignored is present at the point of globbing, but I can imagine it might be quite a complicated bit of potentially error-prone code to jam in there to fix this :/

Hopefully someone c

[2016-03-25 20:53] btmills commented on #5680
Disclaimer: I've never used `bundledDependencies` before, so I'm debugging from zero knowledge.

![eslint](https://cloud.githubusercontent.com/assets/1709537/14053753/ee8c7e1e-f2a9-11e5-8b81-e3b190d9b34d.png)

That's on a machine with npm 3, and those are the three dependencies that we're getting errors about.

[2016-03-25 20:53] nzakas commented on #5085
Hmm yeah...looking back over, I think I actually like the single-tone the best, too. Might be easiest to just start with that rather than continuing to play with the second tone.

@ilyavolodin not sure I'm seeing what you're seeing with the letters, especially because "L" and "i" look pretty tight to me. There's actually less space between "L" and "i" then there is between "i" and "n". The one thi

[2016-03-25 20:57] btmills commented on #5680
[code]

[code]

Does this mean npm 3 deduping was masking the issue?

[2016-03-25 20:57] ilyavolodin commented on #5680
@btmills That would be my guess

[2016-03-25 20:59] nzakas commented on #5085
BTW, I'd like to get this wrapped up early next week. It's been two months, it's time to move onto other things. So let's get to something we are generally happy with by, let's say, Wednesday.

[2016-03-25 21:07] omerbalyali commented on #5085
@ilyavolodin @nzakas  "L" and "i" can be a little closer, because L has many space so it doesn't have to be mathematically correct. I intentionally make the space between ES and Lint little more to read it as ES Lint (I am reading as e-s lint, is that right?) I'm tweaking the kerning.

I'm trying different purple tones for the inner hex. I will upload alternatives with the right kerning.

@nzakas

[2016-03-25 21:12] mourner commented on #5680
From http://status.npmjs.org/:

I expect `object-assign` to be among these packages. So it looks like an NPM issue that will be resolved soon.

[2016-03-25 21:17] serkanyersen commented on #5680
@mourner I was able to fix the issue by running `npm install object-assign`. Installing the package was fine.
It seems more like it was not included in the dependencies?

[2016-03-25 21:20] mourner commented on #5680
@serkanyersen ESLint doesn't use this package, it's a sub-dependency, which should be installed, but doesn't because of an NPM bug, I assume.

[2016-03-25 21:21] nzakas commented on #5680
We've confirmed that this is an issue only when using npm < 3 do to the deduping. It's likely that npm 3 deduping is masking a missed dependency in one of our dependencies.

[2016-03-25 21:22] thefotios commented on #5680
@mourner not sure if that's applicable. `eslint` and `object-assign` technically "install" fine. The npmjs.org bug was related to being able to fetch packages (I was hitting it before and getting a 404 for a supposedly published package).

This seems to be a packaging issue here in `eslint`

[2016-03-25 21:27] ilyavolodin commented on #5680
We identified the issue causing this bug and we are in the process of fixing it now. Point release incoming.

[2016-03-25 21:28] nzakas commented on #5680
We've identified the culprit as a bug in the release process. Basically, the release was done from an unclean environment. We're updating the release tool to ensure a clean environment before release.

[2016-03-25 21:28] omerbalyali commented on #5085
Kerning tweaked. ESLint text is slightly closer to the hexagon. (space is half width of the inner hexagon)

![esling-logo-purples](https://cloud.githubusercontent.com/assets/944165/14054317/032f30a0-f2e1-11e5-8676-4676c2ca102a.png)

[2016-03-25 21:33] platinumazure commented on #5085
@omerbalyali I think we treat it as one work in most cases, no need for space between S and L. (@nzakas correct me if I'm wrong)

[2016-03-25 21:40] nzakas commented on #5085
@omerbalyali it should read as a single word "ESLint".

[2016-03-25 21:50] alberto commented on #5085
Sorry I'm late to the party, but given the vertical hexagon seem to be a trend in js land and also for [stickers](http://hexb.in/), maybe we could consider it, too.

[2016-03-25 21:51] nzakas commented on #5085
@alberto a bit too late for such a drastic change. Let's focus on refining the latest.

[2016-03-25 21:56] alberto commented on #5085
I understand, but since you mentioned stickers in your first comment I wanted to mention it.

[2016-03-25 21:58] ilyavolodin commented on #5085
@omerbalyali Thanks. I think kerning looks better now. At least it doesn't look to me like `E` is going to fall of at any moment:-)

[2016-03-25 22:18] aivus commented on #5680
@mourner

No, `object-assign` not in this packages: https://gist.github.com/soldair/151e14e506c27c416ceb#file-versions-json

[2016-03-25 22:29] nzakas commented on #5085
@alberto it's still a hexagon. :) I'm sure people would recognize it even if rotated a bit.

I think the the top two are my faves, the single tone and 8080F2.

[2016-03-25 22:35] nzakas commented on #5680
We just pushed v2.5.1 which should allow people to start installing ESLint again. I had to do this manually due to lack of time/energy.

We're leaving this open so we can update our tools and integrate the fix permanently.

[2016-03-25 22:41] nzakas commented on #5680
There's a related problem in v2.5.1:

[code]

[2016-03-25 23:39] alberto commented on #5672
Agree.

While looking into add this, I came with this cases.

[code]

Should we also include them?

[2016-03-26 00:12] alberto commented on #5667
@platinumazure is right. I don't think there is a rule for that.

[2016-03-26 00:20] alberto commented on #5679
Sorry, I didn't read close enough.

[2016-03-26 00:53] alberto commented on #4828
@IanVS that would cause eslint to run on all hidden folders (e.g. .git, .svn) which is what the ignore tried to prevent, so I don't think it is a good idea.

[2016-03-26 01:29] IanVS commented on #4828
We ignore hidden folders by default (which is what most people will want), but that doesn't mean we shouldn't have a way to override the default.  If someone wants to lint most hidden files/directories, but not certain ones (like `.git`), they can easily add them to an `.eslintignore` file or to `--ignore-pattern`.

But, since you mention hidden folders, maybe a better name for the option would be

[2016-03-26 02:54] nzakas commented on #5679
@dizlexik since you've already done a bit of research here, would you be willing to submit a pull request? We are pretty strapped with some high priority issues right now, so it's unlikely that we will find the time to dig into this anytime soon.

[2016-03-26 10:09] silvenon commented on #4832
@shaunstanislaus this is a long shot, but are you getting that error from AtomLinter/linter-eslint or ESLint itself?

[2016-03-26 11:26] shaunstanislaus commented on #4832
@silvenon eslint itself.

[2016-03-26 11:41] teppeis opened #5685 "Inconsistent option name: max vs. maximum"
The new [max-statements-per-line](http://eslint.org/docs/rules/max-statements-per-line) has `max` option, but other existing rules (including `max-statements`) have `maximum`.

- http://eslint.org/docs/rules/max-statements
- http://eslint.org/docs/rules/max-depth
- http://eslint.org/docs/rules/max-nested-callbacks
- http://eslint.org/docs/rules/complexity
- http://eslint.org/docs/rules/max-params

[2016-03-26 11:44] teppeis commented on #5685
This is something weird for me...

[code]

[2016-03-26 12:32] arcanis opened #5686 "Curly rule option proposal: flow"
**When does this rule warn?**

This proposal is about an additional option to the `curly` rule (I suggest to name it `flow`). Its goal is to help make reading the code extremely fluid.

  - An `if` or `for` statement should never use curly braces except in the following cases:

      - If it contains multiple statements (as always)
      - If it has an `else` counterpart that strongly needs curly

[2016-03-26 14:12] BYK commented on #5686
This looks almost the same as `["multi-or-nest", "consistent"]` configuration. The only difference is the lack of "If it is the last statement of a block" part. I'm not sure if the additional name and complexity is worth for that one exception.

[2016-03-26 15:00] akoskm opened #5687 "npm shrinkwrap fails >= 2.5.0"
I'm encountering the following error when trying to do `npm shrinkwrap` on a `package.json` which contains eslint 2.5.0 or 2.5.1:

[code]

Reverting eslint to `2.4.0` made the error disappear.

[2016-03-26 15:03] platinumazure commented on #5687
Probably related to our other bundledDependencies issues.

[2016-03-26 15:08] akoskm commented on #5687
Yeah, I looked at the history of `package.json` and was wondering if that's causing it.

[2016-03-26 15:14] platinumazure commented on #5687
@akoskm Any chance you can try with npm@3? I'm just curious to see if that makes a difference. (We still intend to fix this issue regardless, but sometimes npm@3's deduping can mask the issue and maybe that would generate your shrinkwrap successfully.)

[2016-03-26 15:15] akoskm commented on #5687
Sure, I'll let you know once I tested (probably tomorrow).

[2016-03-26 16:01] nzakas commented on #5680
It looks like whatever weird hiccups npm was having yesterday have now been resolved. I did a quick test locally and things look better. Prepping a PR for the build step.

[2016-03-26 16:15] AlfonsoML opened #5689 "no-useless-escape should ignore line breaks in strings"
**What version of ESLint are you using?**
2.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Use this:
`/*eslint no-useless-escape: 2 */`

**What did you do? Please include the actual source code causing the issue.**
Create a multiline string separated by `\` like this:

[code]
**What did you expect to happen?**
No errors or warnin

[2016-03-26 16:32] platinumazure commented on #5689
Confirmed. This seems like a bug.

[2016-03-26 17:43] kaicataldo commented on #5085
#8080F2 is my favorite! Thanks @omerbalyali for your work on this :smile:

[2016-03-26 18:29] ilyavolodin commented on #5687
We were running into shrinkwrap issues yesterday. Haven't had the time to investigate yet.

[2016-03-26 18:30] #5680 closed

[2016-03-26 19:07] arcanis commented on #5686
I agree that it might be a bit too personal-preference to be in the ESLint core. I've implemented this rule in a [personal plugin](https://github.com/arcanis/eslint-plugin-arca), so if anyone needs it, it's there.

And actually, I have to say that I'm quite impressed by how easy it is to add custom rules to ESLint, tests and all. That's some really nice work.

[2016-03-26 19:09] michaelficarra commented on #5689
https://github.com/eslint/eslint/pull/5632#issuecomment-201346520

[2016-03-26 19:20] platinumazure commented on #5689
Unfortunately that will come down to semantics. The rule is called "no-useless-escape"; escaping for a multiline string is unnecessary, but not useless-- the escape does have a real effect. But, of course, the message says unnecessary.

Maybe the rule could be enhanced to allow this particular case (and at least have a more useful error message). Changing to enhancement request.

[2016-03-26 19:42] kaicataldo commented on #5687
Fair warning, this is my first time working with some of this stuff, so please correct me if I'm wrong :)

This only seems to affect npm@2 (I am able to replicate the original poster's error with npm@2, but npm@3 seems to be working as expected), so it seems like @platinumazure's comment above is probably what's going on.

@ilyavolodin shared this https://github.com/npm/npm/issues/8396, which seem

[2016-03-26 20:00] ilyavolodin commented on #5687
@kaicataldo I'm not sure that's the right path forward. I'm not very familiar with all of the npm stuff, but adding dependencies just to satisfy npm seems wrong to me.

[2016-03-26 20:33] BYK commented on #5689
I think having an `allowMultiline` or `ignoreMultiline` option would be good.

[2016-03-26 20:33] kaicataldo commented on #5687
@ilyavolodin That's fair. I'll keep digging to see if I can find the underlying cause.

[2016-03-26 20:40] kaicataldo commented on #5687
Unfortunately, seems like a known bug: https://github.com/npm/npm/issues/10634.

[2016-03-26 21:05] kaicataldo commented on #5687
The link in my comment above explains what's going on, but the issue seems to be that dev dependencies are not bundled even if they are required by a non-dev dependency in npm@2. This is only a problem in npm@2 because npm@3 fills in the missing dependencies.

Specifically to this case, `through` and `esprima` are listed as dev dependencies for ESLint while also being sub-dependencies of `inquirer

[2016-03-26 21:07] ilyavolodin commented on #5687
Including them in bundledDependencies might be a reasonable way to go, I think. But not in regular dependencies.

[2016-03-26 21:11] kaicataldo commented on #5687
Aware this probably needs more input and discussion, but made a preliminary PR