[2016-06-28 03:22] ilyavolodin commented on #6536
Closing, as it looks like the question has been answered.

[2016-06-28 03:22] #6536 closed

[2016-06-28 03:23] ilyavolodin commented on #6232
Looks like the question has been answered. Autofix for indent is a known issue.

[2016-06-28 03:23] #6232 closed

[2016-06-28 05:00] scriptdaemon commented on #5891
@nzakas Updated the original post with some examples and the latest name for the option.

Sorry for the delay (new job, new apartment, life story, etc. etc.). Let me know if this request needs anything else.

[2016-06-28 05:35] michaelficarra commented on #6547
That is not a sparse array. It is just a trailing comma.

[2016-06-28 06:01] michaelficarra commented on #6546
Exceptions to core rules are only added if the style is common. I have never seen this style. Are you claiming that this is common? If so, can you provide evidence?

[2016-06-28 06:16] BYK commented on #4133
@mikesherov I totally am not, thanks for asking! Removed my face.

[2016-06-28 06:42] rsilvestre opened #6548 "issue in space-infix-ops with flowtype"
ESLint v2.11.1

Babel-ESLint v6.0.4

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

The error is between Array and `<Object>`

**What did you expect to happen?**
[code]

This work correctly

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-06-28 08:04] kewisch commented on #6547
I am not sure about the terminology, but if that is the case, maybe this example would be more meaningful (which is why I believed it to be a sparse array):
[code]

[2016-06-28 08:31] kewisch commented on #6546
I am not sure what qualifies as evidence. Using the regex `= \([^?]+\?[^:]+:[^)]+\)`, it is used somewhat often in Firefox and the Mozilla Platform (2.2k hits) as well as in Thunderbird and Lightning, but these are all Mozilla projects (since that is where I come from). livegrep.com only shows 52 results in the github top 10k, so you may be right that this is better fit as an extension.

I'm closi

[2016-06-28 08:31] #6546 closed

[2016-06-28 11:13] mysticatea commented on #6543
Thank you, everyone!

There was `"never-null"` option (means "never use `eqeqeq` for `null`") in my head. But object-form option seems better.

By the spec, `"smart"` option is handling 3 things.

What about the following object-form options:

[code]

- `eqeqNull` - the setting for non-strict equality comparison with `null`
  (such as `a == null`)
    - `"never"` (default) - disallows `==` with `n

[2016-06-28 11:15] mysticatea commented on #6077
@platinumazure thank you! I updated it.

[2016-06-28 11:50] mysticatea commented on #6545
Thank you for this issue.

[code]

There is no `modules: true` configuration for default parser. ([Specifying Parser Options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options))
Please try `sourceType: "module"` instead.

[code]

[2016-06-28 12:03] mikesherov commented on #4133
@azhang496, it's all you!

[2016-06-28 13:45] austinhyde commented on #6545
Sorry for the confusion: I believe `modules: true` is left over from a configuration for an older version. I've also confirmed this with the correct configuration as you suggested. Regardless, this bug affects any configuration, regardless of semantic validity

[2016-06-28 14:01] azhang496 commented on #4133
awesome. @mikesherov totally down to take on those issues assigned to you as well!

[2016-06-28 14:36] vitorbal commented on #6548
I imagine the problem is that the eslint core rules don't know anything about flow syntax so they misinterpret the type definition for that function.

@hzoo would it be part of the scope of eslint-plugin-babel to have a "wrapper rule" for the space-infix-ops rule, similar to the `babel/generator-start-spacing` rule, but to handle flow syntax?

[2016-06-28 15:03] platinumazure commented on #6545
@austinhyde Can you try reproducing with a rule config? For example, just have semi on and run it against code missing semicolons. That way we'll know for sure if it's a configuration parsing error rather than possible incorrect configuration.

[2016-06-28 15:04] vitorbal commented on #6545
Hm, I tried to reproduce this but couldn't. I also tried to isolate the problem to the `js-yaml` library but also couldn't reproduce it there, it parses the config just fine.

[2016-06-28 15:08] austinhyde commented on #6545
I was able to reproduce this with both valid and invalid configurations, as well as simple single-rule configurations and the large project configuration where I encountered this. I was simply trying to provide a reduced test case.

I'm not sure if it matters, but this was in the old-style `.eslintrc` file, not a `.eslintrc.yaml` file.

I'll throw up a simple project soon that reproduces the issue

[2016-06-28 15:28] #6502 closed

[2016-06-28 15:31] #5987 closed

[2016-06-28 15:31] #6459 closed

[2016-06-28 15:36] #6348 closed

[2016-06-28 15:39] #6452 closed

[2016-06-28 15:42] #6259 closed

[2016-06-28 15:53] #3586 closed

[2016-06-28 15:54] vitorbal commented on #6545
@austinhyde thanks, that would be really helpful! Maybe being old-style matters because it follows a different code path in the source code, but i'm not very familiar with that part of the code.

[2016-06-28 15:57] nzakas commented on #6545
Yes, `.eslintrc` is the old (deprecated) format that recognized both JS-style comments and YAML-style comments. If you don't want that behavior, just add ".yml" to the filename to parse it in strict YAML mode.

We can't change the old format because we don't know who is using it, but we did deprecate it and recommend using one of the formats with a file extension.

[2016-06-28 15:58] nzakas commented on #6545
Ref: http://eslint.org/docs/user-guide/configuring#configuration-file-formats

[2016-06-28 16:04] nzakas commented on #6543
I don't think we should use "eqeq" in option names as it's the opposite of the rule. "always" , "never", etc. Should mean "always use ===" and "never use ===".

It might be easiest to deprecate allow-null in favor of an options object:

[code]

Where "ignore" is equivalent to `allow-null`

[2016-06-28 16:54] nkt opened #6549 "Add `maxNesting` option to `object-curly-newline`."
Configuration:
[code]

Following code consider error:

[code]

Result:
[code]

I suggest add `maxNesting` option, which allows using linebreaks if object riches `maxNesting`.

- `{ foo: { bar: {} } }` - nesting = 2
- `{ foo: { bar: { baz: {} } } }` - nesting = 3

[2016-06-28 17:12] nzakas commented on #5891
Thanks, that looks good. The one question I have is if this only applies to classes or not? If it's only for classes, we should probably indicate that in the option name.

[2016-06-28 17:13] nzakas commented on #5958
@cristian-sima please just subscribe to this issue rather than leaving additional comments. When the fix has been checked in, the issue will be closed and you'll get notified.

[2016-06-28 17:15] nzakas commented on #6547
We probably just need a separate `comma-spacing` option for trailing commas so you can alter the behavior in just that case.

[2016-06-28 17:18] nzakas commented on #4133
@azhang496 thanks so much! If you want any realtime help as you're going along, stop by https://gitter.im/eslint/eslint and say hi. :)

[2016-06-28 17:19] dmitriiabramov commented on #6532
as an alternative i can propose to remove `RuleTester` custom messages at all. When using mocha, failing tests will get an output similar to what @nzakas posted and when using as a standalone tester it'll use `assert`s default messages, which have both actual and expected values in it's output
[code]

So basically. if decided to delegate the formatting to testing frameworks, let's not change the d

[2016-06-28 17:24] SpadeAceman commented on #6475
Looking thru this rule's documented test cases, it appears to focus on where identifiers are *defined*, not merely where they're used. This also fits with my personal experience in using this rule, which would mean that the "success" scenario reported by @jrajav (`const query = location.query.q || ''`) is actually the bug, since `q` is not being defined in this statement.

When set to `"always"`,

[2016-06-28 17:24] nkt commented on #6549
I'm using latest ESLint (v2.13.1).

[2016-06-28 17:25] nzakas commented on #6532
Huh, that's interesting. Nice research! I can get behind that.

Other thoughts?

[2016-06-28 17:26] alberto commented on #6543
👍  what @nzakas said

[2016-06-28 17:27] nzakas commented on #6548
Looks like a duplicate of #5211?

[2016-06-28 17:30] btmills commented on #6543
:+1: to @nzakas's idea.

Would that just be for `null`, or would it also have options for `typeof` and `literals` as covered by `"smart"`?

[2016-06-28 17:41] SpadeAceman commented on #6077
Does the acceptance of this rule this mean that the `no-inline-comments` rule would be deprecated?

[2016-06-28 17:49] nzakas opened #6550 "Add require-yield to eslint:recommended"
The `require-yield` rule ensures that all generators use `yield`. Since this rule only applies when generators are used, there's no harm in turning it on for everyone (if you don't use generators, you'll never see a problem...if you do, then this is a good thing to warn). This would involve:

- [x] Update `eslint.json` to have `require-yield` as `"error"`
- [x] Update 3.0.0 migration guide to ment

[2016-06-28 18:02] nzakas commented on #6407
I tried converting a single file to use `class` and discovered that our version of PhantomJS doesn't support ES6, which breaks our automated tests. It appears this is the most recent version of the PhantomJS package. :(

[2016-06-28 18:03] btmills commented on #6550
:+1: makes sense to me.

[2016-06-28 18:14] nzakas commented on #5417
I'm finishing this up. Updating docs now.

[2016-06-28 18:28] kewisch commented on #6547
Sounds good to me. My mind finally managed to see it as a trailing comma now too, sorry for the noise. What would you suggest for naming?

[2016-06-28 18:43] platinumazure commented on #6077
@SpadeAceman Not sure why that rule should be deprecated-- it's a valid use case which is orthogonal to the use cases in this proposal.

[2016-06-28 18:43] platinumazure commented on #6407
Yes, PhantomJS is hopelessly behind. Are there other test runners we should be considering?

[2016-06-28 18:48] mikesherov commented on #6407
Why are we using PhantomJS? Unless we're using it to test the browser version (which would require us to transpile *anyway*)?

[2016-06-28 18:58] ilyavolodin commented on #6407
@mikesherov We have tests for web version of ESLint for website demo. The code is not really transpiled, it's currently just browserified. But if we are starting ES6, we might have to transpile it anyways.

[2016-06-28 19:02] mikesherov commented on #6407
This is my point exactly. ^

If we are going to test and distribute a browser version, we need to transpile regardless.

[2016-06-28 19:03] vtfn opened #6552 "Rule Enhancement Proposal: curly allow single line that throws or return"
I think it's quite common developers write conditions like
[code]
or

[code]

The problem is that sometimes either the condition or the statment is too long and keeping it in a single line affects legibility, so we end up spliting it in two lines

[code]

Or, and that is only a personal preference, return something other undefined would be better done in a new line

[code]

In all these cases we a

[2016-06-28 19:40] gyandeeps commented on #6550
Working on this

[2016-06-28 19:42] adambuczynski opened #6553 "Link to rules broken in docs"
Minor issue, the link to the rules page is broken from this page: http://eslint.org/docs/user-guide/configuring#using-eslintrecommended

It links to http://eslint.org/docs/docs/rules/ which is 404 due to the double occurrence of /docs.

[2016-06-28 19:50] adambuczynski commented on #5856
Hi everyone, as I'm migrating from JSCS to ESLint I thought I'd mention some rules I come across that I see are missing and don't seem to be mentioned on this page. I'll edit this comment as I find more.

Apologies if you *are* aware of any of these already.

- [ ] Max line length check to exclude regex (http://jscs.info/rule/maximumLineLength, see option `allExcept` value `regex`)

[2016-06-28 19:56] platinumazure commented on #6407
@mikesherov Ah, I think you're saying we can keep using PhantomJS as long as our selected transpiler transpiles to an ES5 that PhantomJS can work with?

[2016-06-28 19:57] ilyavolodin commented on #6407
Agree. Although I hate transpiling, but not much choice here, really.

[2016-06-28 19:57] platinumazure commented on #6553
Confirmed.

[2016-06-28 19:59] platinumazure commented on #5856
@adambuczynski Thanks for calling that out! Does issue #3229 cover this?

[2016-06-28 20:00] adambuczynski opened #6555 "Inconsistent rules casing"
I've found that there are some inconsistent rule names/options in terms of casing.
Most rules and options seem to follow `camelCase`, but there are several that are in `PascalCase`, for example:

- `SwitchCase`
- `VariableDeclarator`

Which are both options for `indent`. Could these be renamed (or aliases created) to camel case for consistency?

- `switchCase`
- `variableDeclarator`

You'd expect

[2016-06-28 20:01] adambuczynski commented on #5856
@platinumazure yep it seems to indeed!

[2016-06-28 20:04] adambuczynski commented on #5805
I would like to single out [template literal strings](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) specifically for this kind of rule, rather than *all* strings in general. Usually, template strings will contain HTML which sometimes can be quite lengthy on one line.

[2016-06-28 20:09] ljharb commented on #5805
I'm fine with two options - `ignoreTemplateLiterals` and `ignoreStringLiterals`, or, `ignoreLiterals` with an array of options.

[2016-06-28 20:12] markelog commented on #3229
Sorry for the delay -
For
[code]
Valid:
[code]

Invalid:
[code]

If there is something i can make more clear, would you mind pointing me to the example?

[2016-06-28 20:15] gyandeeps commented on #6550
oops, I just realized this issue was not accepted yet.

[2016-06-28 20:19] mysticatea commented on #6543
Sounds good. Indeed, opposite options were confused.

[2016-06-28 20:25] gyandeeps commented on #5344
@nmote I think you have done the work but didn't open a pull request. Do you want to open a pull request?

[2016-06-28 20:29] mysticatea commented on #6407
Ah!
I have forgotten about browsers support.
We need to support IE11 also for our online demo. Then, we are using a transpiler "browserify" already. I believe that just adding "babelify" (a transform plugin of browserify) with es2015 preset solves it.

[2016-06-28 20:31] ilyavolodin commented on #6555
The reason why those are PascalCase, is because they are actual AST node types. All node types are in PascalCase, and aliasing them will most likely create much more confusion than it will solve.

[2016-06-28 20:32] gyandeeps commented on #5139
Sounds like it should be named `prefer-static`. Webstorm has built-in support for this. very helpful :smile:

[2016-06-28 20:33] hzoo commented on #5344
I can finish this up using that commit if @nmote doesn't (actually seems to be helpful for babel-eslint errors in general when figuring out how to run eslint tests)

[2016-06-28 20:35] platinumazure commented on #5856
@adambuczynski Awesome! I see that the issue is already in our JSCS Compatibility milestone, so I believe there's nothing we need to do here (besides actually implementing the change :smile:). Thanks again for calling it out!

[2016-06-28 20:36] gyandeeps commented on #3763
Is this issue resolved with #6223 ?
CC: @mysticatea

[2016-06-28 20:41] vitorbal commented on #6548
Yep, definitely looks like it! Closing in favor of #5211

[2016-06-28 20:41] #6548 closed

[2016-06-28 20:44] mysticatea commented on #6550
There seem to be enough :+1:s :smile:

[2016-06-28 20:59] vsemozhetbyt opened #6556 "eslint throws if package.json is in UTF-8 with BOM"
**What version of ESLint are you using?**
2.13.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do?...**
I've checked a `.js` file in the NW.js project directory with `package.json` in UTF-8 with BOM (there are no eslint settings in this `package.json`).

**What did you expect to happen?**
Output from eslint according to `.eslintrc.json` in some ancestor direc

[2016-06-28 21:01] adambuczynski commented on #6555
@ilyavolodin right, I see, wasn't aware of that. Thanks for clarifying.

However, that might be a case in point, as people who are unaware of the underlying mechanics of the linter don't see a difference between the two and assume it's an inconsistency.

How would moving to CST affect this?

[2016-06-28 21:03] mysticatea commented on #3763
No, I just referenced this issue from #6223.

[2016-06-28 21:20] kaicataldo commented on #3763
In that case, thoughts on my last comment? Not sure where to go from here

[2016-06-28 21:21] platinumazure commented on #6556
This seems like it shouldn't throw. Unless JSON is very explicitly not allowed to be encoded in UTF8 with BOM, I think we should see if we can work around this.

[2016-06-28 21:29] gyandeeps commented on #6556
@vsemozhetbyt Can you read the file using nodejs `readFile` function outside of Eslint?
Can you plz try it. Thanks

[2016-06-28 21:47] vsemozhetbyt commented on #6556
@platinumazure NW.js has no problem with this JSON. I think this is not concerned JSON format by itself, but IO file preprocessing.

@gyandeeps Should not Eslint strip BOM before calling `JSON.parse` on string from a Unicode file?

[2016-06-29 00:17] tomfun commented on #6196
[code]
**confusingArrow**
And maybe add *conflict* details or *when-not-to-use-it* to [docs](http://eslint.org/docs/rules/no-extra-parens)

[2016-06-29 00:24] nzakas commented on #6407
I'd like to hear some other options before going to transpiling. For instance, does anyone know if a PhantomJS version exists with ES6 support? What about the new headless Chrome?

And what do we want to say is our browser support level for the demo?

[2016-06-29 00:45] ffxsam commented on #2577
Bringing this issue back from the dead.

We need to have a rule that ignores unused imports, because of this:

[code]

I'm not using `React` in the code anywhere, but _not_ importing it causes major breakage.

[2016-06-29 01:11] ilyavolodin commented on #6407
Some statistics:

Browser Version | Percentage | ES6 support percentage |
|---------------------|---------------|---------------------------------|
|Chrome 50         | 28.29%     | 93% |
|Chrome 49         | 27.93%     | 90% |
|Chrome 51         | 14.73%     | 98% |
|Firefox 45           | 2.62%       | 85% |
|Firefox 46           | 2.13%       | 90% |
|Safari 9               | 5.54%       | 53%

[2016-06-29 01:15] ilyavolodin commented on #2577
@ffxsam Use `eslint-plugin-react`, it will mark `React` as used.

[2016-06-29 01:19] ffxsam commented on #2577
I am using `eslint-plugin-react`.

[2016-06-29 01:20] sstur commented on #6543
Thanks @nzakas. That makes perfect sense. I'll work on a PR for that.

@btmills: My issue is purely with null since that has a distinct behavioral difference between `==` and `===` that we care about in our codebase. For everything else, I always enforce `===` regardless of typeof or comparing two primitive literals.

[2016-06-29 01:26] hzoo commented on #6407
@nzakas Looks like it's in progress https://github.com/ariya/phantomjs/issues/14366 and headless chrome is not ready yet?

[2016-06-29 01:31] scriptdaemon commented on #5891
Am I correct in my thinking that this rule would not warn on a missing JSDoc comment for a getter or setter in an object definition anyway? If that is the case, it would only warn on classes in general.

[2016-06-29 01:44] ilyavolodin commented on #2577
I know we added an API at some point specifically because React creates a lot of unused variables, and `eslint-plugin-react` uses that API to mark them as used. Chances are, you didn't configure that plugin correctly. I would suggest opening an issue there, somebody should be able to guide you through the setup.

[2016-06-29 01:48] ffxsam commented on #2577
That's a good idea.. maybe there's some setting that I missed. Thanks!

[2016-06-29 03:18] teppeis commented on #6407
PhantomJS v2 (current version) doesn't support ES6 features at all...
See "PJS" column of https://kangax.github.io/compat-table/es6/

[2016-06-29 11:57] seemsindie commented on #1542
How do you turn this on? :)

[2016-06-29 12:11] mysticatea commented on #6556
Yeah.
We are stripping BOM from source code.
We should strip BOM from config files as same as that.

[2016-06-29 12:17] vitorbal commented on #6545
That makes a lot of sense. @austinhyde can you confirm that adding the "`.yml`" to the file fixes the problem?

[2016-06-29 12:45] HeroicAutodidact commented on #5856
@mysticatea I'm making the transition from JSCS right now and I found this spreadsheet to be essential. As a fairly new user to both JSCS and ESLint, I found myself trying to wade through the `rules` page on the site, searching with parameters from jscs which, more often than not, did not return what I needed.

What would be most excellent is if this mapping from JSCS was at least tagged within th

[2016-06-29 13:10] nfroidure opened #6557 "[arrow-parens] Add a "when-brace" option"
Our team would like to adopt the AirBnb best practice for arrow functions parens but it appears the current options of this rule doesn't fit it. Since we want to rely on automated coding style rules only and found out it would be useful for others too, here is the PR that fulfill it.

See https://github.com/airbnb/javascript#arrows--one-arg-parens
Discussion: https://github.com/SimpliField/eslint-

[2016-06-29 13:14] efegurkan commented on #6438
@ljharb I didn't had enough time to work on it yet. But I'm guessing there is something wrong with test execution. I'll add details on here when I have time.

[2016-06-29 13:54] austinhyde commented on #6545
Actually, yes, that fixes it! I can't believe I didn't try that to begin with. Would you still like me to make a sample project? Or is this one of those cases where it's not worth the effort to reproduce/fix because it's a deprecated thing?

It's all the same to me, it's easy enough to avoid in my config file, I just wanted to make sure that it was reported if it was a larger issue.

[2016-06-29 14:24] nathanhammond commented on #6356
@nzakas et al.: Ember and Ember CLI have committed to supporting the Node LTS lifetimes for the HEAD of our master branch(es). This means that we will will drop support for 0.10 on 2016-10-01 and 0.12 on 2016-12-31 per the [Node.js Long-term Support Working Group's schedule](https://github.com/nodejs/LTS#lts-schedule).

We recognize that we don't have the privilege of setting that default for the

[2016-06-29 14:30] benjamn commented on #6472
Allowing the ESLint parser to accept a syntax without a parse error is hardly the same thing as supporting or encouraging that syntax. In fact, it would then be easier for ESLint to provide a meaningful lint warning/error about that syntax.

[2016-06-29 14:35] hzoo commented on #6472
We're passing this down to babylon in babel-eslint now (thanks to @rhettlivingston)

[2016-06-29 15:01] rhettlivingston commented on #6472
And thank you @hzoo for accepting the PR!

Though I've found no issues in babel-eslint's handling of Meteor code, I'd still like to see the same change in Espree at some point. I hope it doesn't have to wait until @benjamn or someone else can get the standard changed.

For the record, the option that babel-eslint now accepts is

[code]

[2016-06-29 15:31] platinumazure commented on #6557
In order to facilitate acceptance of this issue and pull request, could you please edit your original post to answer the questions raised in the [Proposing a Rule Change](http://eslint.org/docs/developer-guide/contributing/rule-changes) documentation? Thanks!

[2016-06-29 15:34] RReverser commented on #6472
I guess misconception comes from here - the standard won't be changed to allow import/export everywhere exactly because it was meant to be used only on top-level and thus allow better static analysis than `require` can offer. It's kind of a syntactic guarantee that `import` / `export` won't be used in the runtime.

[2016-06-29 15:45] gyandeeps opened #6559 "Config test fails if home dir has .eslintrc file"
While i was working on `master` [this config unit test](https://github.com/eslint/eslint/blob/master/tests/lib/config.js#L265) fails if you have a `.eslintrc` file inside your home directory. I think this test was introduced with #6538.

To reproduce just create a `.eslintrc` file inside your HOME directory and then run the tests.

[code]

output:

[code]

Note: This issue is similar to what was h

[2016-06-29 16:02] platinumazure commented on #6559
Ack, probably needs a mock filesystem setup in that test.

I'm happy to look at this but I will probably need some guidance.

[2016-06-29 16:04] gyandeeps commented on #6559
no worries @platinumazure . Let me know if you need more help since i did the work on mock before.

[2016-06-29 16:32] benjamn commented on #6472
@RReverser The top-level restriction is not the primary source of static analysis benefits: https://github.com/benjamn/reify/blob/master/WHY_NEST_IMPORTS.md#objections-and-critiques

We'll see what TC39 says next month.

[2016-06-29 16:46] RReverser commented on #6472
@benjamn My bad, didn't know that it's being discussed.

The reason I don't like that idea anymore (despite me being the one who defended it in Acorn) is that in e.g. browser context *loading* modules is relatively expensive operation, and when people see `import` inside of conditional, they might think that they're reducing traffic by not including polyfills etc., while in reality it will be load

[2016-06-29 16:54] rugk opened #6560 "Ignore syntax errors caused by Liquid/Jekyll syntax"
v2.13.1

Basically I use [Jekyll](https://jekyllrb.com/) as a static site generator, which uses [Liquid](https://github.com/Shopify/liquid/wiki/Liquid-for-Designers) for manipulating files.
Using Liquid syntax in a JS file parsed by ESLint of course results in syntax-errors.
But e.g. this shows a very comfortable use case for Liquid syntax in JS files:

[code]

**So what happens is:** ESLint encou

[2016-06-29 17:03] michaelficarra commented on #6560
This issue has been brought up a number of times before. See #2428, #900 and others. That is just not how eslint ignore comments work.

[2016-06-29 17:17] btmills commented on #6560
You could potentially build a [processor](http://eslint.org/docs/developer-guide/working-with-plugins#processors-in-plugins) that would support Liquid templates.

[2016-06-29 17:19] rugk commented on #6560
Or one with a `/* eslint-disable-parsing:start */` and `/* eslint-disable-parsing:end */`...
Or just integrate this into the default parser...

I mean if it was already requested many times I think it is certainly worth adding this.

[2016-06-29 17:21] alberto commented on #6553
Thanks @adambuczynski for reporting!

[2016-06-29 17:42] nzakas commented on #6472
Now supported via `babel-eslint` (thanks @hzoo!), so closing.

[2016-06-29 17:42] #6472 closed

[2016-06-29 17:45] kaicataldo commented on #6542
Looks like this is a known issue in acorn that's been open for quite some time

[2016-06-29 17:47] nzakas commented on #6545
There's no need for you to do any additional work here, as the behavior is expected.

[2016-06-29 17:51] nzakas commented on #5344
There was a pull request that we closed because it was abandoned. @hzoo I'd say go for it.

[2016-06-29 18:06] #5417 closed

[2016-06-29 18:10] nzakas commented on #5139
There's been no progress on this issue for months. Unless someone steps forward to implement, it's time to close this issue.

[2016-06-29 18:52] ilyavolodin commented on #6560
@rugk ESLint is not a parser, it's a static code analysis tool. We use Espree (which is a layer on top of Acorn) as a parser. In order for ESLint to run, parser needs to be able to construct valid abstract syntax tree (AST). If you comment out part of the code and tell parser to skip over it, it might not be able to create valid AST.
As @btmills noted, you should create a processor to strip out al

[2016-06-29 19:53] adambuczynski commented on #5856
I actually did it the hard way, and sort of tried to find the rules one by one at first, until I realized it's easier to just go over the ESLInt rules instead and apply what you want from that. I found most rules that I use are already implemented, so I've been able to make a fairly smooth transition. 👍

[2016-06-29 20:46] enapupe opened #6562 "support react native stylesheet (css on js)"
I'm starting a `react-native` project and the CSS configuration for UI is set in a JS object such as
[code]

The issue is that I'm running `no-magic-numbers` with this config
[code]

This is triggering a lot of warnings. Is there any feature on the roadmap providing some kind of ignore pattern or support for css in js? I really don't want to add eslint comments in every css file.
Adding css files

[2016-06-29 20:57] platinumazure commented on #6545
Closing, as the issue seems to be resolved. Please reopen if there is more to discuss.

[2016-06-29 20:57] #6545 closed

[2016-06-29 21:01] platinumazure commented on #6562
I don't think there's anything on the roadmap specific to your use case. In general, we don't make changes catering to individual libraries/frameworks.

You can use inline configuration comments to disable the no-magic-numbers rule around your stylesheets:

[code]

[2016-06-29 21:04] enapupe commented on #6562
It just feels wrong to add such comment to ALL styles files.. That is why I came here, to find a smarter solution, but I understand your POV..

[2016-06-29 21:20] basicdays opened #6563 "Add option to no-unused-vars when using object spreads to omit properties"
**What version of ESLint are you using?**
2.13.1

**What rule do you want to change?**
I'd like to propose a new option to the `no-unused-vars` rule that does not flag variables used in situations when using the Object Spread Properties when omitting properties while copying objects.

The ES proposal for the Stage 2 Object Rest/Spread Properties enhancement can be found here: https://github.com/se

[2016-06-29 21:37] platinumazure commented on #6563
Hi @basicdays, it looks like you're [proposing a rule change](http://eslint.org/docs/developer-guide/contributing/rule-changes). Could you please augment your original post to answer the questions asked on the linked documentation? Thanks!

[2016-06-29 23:32] not-an-aardvark opened #6564 "max-len sometimes fails to report errors when `ignoreComments` is true"
**What version of ESLint are you using?** 2.13.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to report an error on the second line, since that line is longer than 20 characters.

**W

[2016-06-29 23:49] platinumazure commented on #6564
Definitely seems like a bug. Thanks for the report!

[2016-06-30 01:02] ilyavolodin commented on #6562
My suggestion would be to either disable `no-magic-numbers` rule all together, or create two different config files, and lint stylesheets in a separate run providing it different config. I don't see us making library specific changes to a global rule, sorry.

[2016-06-30 02:25] not-an-aardvark commented on #6564
I think I have a fix for this; I'm reading the docs at the moment to figure out how to test it/make a PR correctly.

[2016-06-30 03:04] platinumazure commented on #6559
I'll work on this tonight (i.e., soon) and have either a PR or an update here soon.

[2016-06-30 03:17] platinumazure commented on #6553
Fixed by #6561 (commit message was just off a little).

[2016-06-30 03:17] #6553 closed

[2016-06-30 03:58] platinumazure commented on #6559
@gyandeeps Any chance you could try my branch (see PR #6566) and see if that test passes for you? Thanks!

[2016-06-30 07:07] nfroidure commented on #6557
@platinumazure done, missed that part.

[2016-06-30 07:26] alberto commented on #6553
oops. Thanks @platinumazure

[2016-06-30 13:29] vitorbal commented on #6549
Hi @nkt, could you provide us with the actual output from ESLint after running it through your example code? Could you also explain a bit more how the new option you're proposing would look like? It would be helpful to list out some example cases that would be considered valid and some that would be considered invalid with the new option.
Thanks!

[2016-06-30 14:02] enapupe commented on #6562
I understand it is not under eslint general scope..
I was in touch with some people in `eslint-plugin-react-native` and it seems the ideal approach is a new plugin which extends no-magic-numbers and add more options. Thanks you guys for your attention.

[2016-06-30 14:02] #6562 closed

[2016-06-30 14:28] ilyavolodin commented on #6560
As mentioned above, this is not something we can do. That's the reason processors were created.
Closing, as the question has been answered.

[2016-06-30 14:28] #6560 closed

[2016-06-30 14:30] ilyavolodin commented on #6555
@adambuczynski I understand, I'm just not sure we can do much about it. We specifically note in documentation if the option accepts AST Node types, but you are correct, most of the users wouldn't know what that is.

Sorry, I don't really know much about CST, but I think they keep the same names of nodes as AST, just add more of them.

Closing, as the question has been answer.

[2016-06-30 14:30] #6555 closed

[2016-06-30 14:30] basicdays commented on #6563
@platinumazure Thanks for pointing that out, I've updated the initial post.

[2016-06-30 15:25] markoshust commented on #4052
For anyone stumbling on this, I prefer this method (think it's fairly newer):

    npm install --save-dev babel-eslint

Then add `"parser": "babel-eslint"` to `eslintConfig` in package.json.

[2016-06-30 16:14] nzakas commented on #3229
@markelog that looks good! We just needed something concrete to discuss. I'm assuming that you are championing this change?

[2016-06-30 16:17] nzakas commented on #5891
Yes, that's correct currently. My concern is that this might not always be the case, so we should be clear both in the option name and docs as to what is expected.

[2016-06-30 19:17] nzakas commented on #6407
I tried throwing babelify into my local setup and it worked pretty easily (literally the first time). So, seems like that may be the way to go.

[2016-06-30 20:34] adamreisnz opened #6571 "Indentation fix is misbehaving and ignoring comments"
**What version of ESLint are you using?**
I am using [Atom Linter's ESLint package](https://github.com/AtomLinter/linter-eslint), which specified ESLint `^2.11.1` in it's package.json.

**What parser (default, Babel-ESLint, etc.) are you using?**
Atom Linter ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
This

[2016-06-30 20:38] adambuczynski commented on #6571
It seems the only way to prevent issue 1 from happening is by putting both first two lines up against the gutter, which is a bit ugly:

[code]

[2016-06-30 20:50] nzakas commented on #6407
Can someone with Babel experience take a look at my PR and tell me why the PhantomJS tests are failing? https://github.com/eslint/eslint/pull/6570. I don't have enough energy to keep digging into it.

[2016-06-30 22:44] sindresorhus opened #6572 "Add option to the `prefer-template` rule to only warn on concat with variables"
[code]
## Problem

The following:

[code]

Would be very unreadable in a template string:

[code]
## Request

I would like an option to only have template literals enforced when concatenating a string with variables, like:

[code]

⬇️

[code]

[2016-06-30 23:54] thomassuckow opened #6573 "Rule Proposal: no-duplicate-exports"
The rule will enforce not overriding previous exports within a module

The following patterns are considered problems:

[code]

The following patterns are not considered problems:
[code]

This prevents the unexpected override of exports (such as from copy pasting of the default export) that result in a different object being imported than expected.

This is a good companion to no-duplicate-imports

[2016-07-01 00:33] pabigot commented on #6524
My proposed solution is [available in my fork](https://github.com/pabigot/eslint/compare/master...issue/6524?expand=1).

It's not suitable for a pull request because it's in three commits, and I don't know whether you'd prefer them squashed or to have issues for each one.

Also I haven't updated the documentation since if it's not something that will be merged there's no point.

Let me know whethe

[2016-07-01 00:43] scriptdaemon commented on #5891
@nzakas Ah, I see. Well, in that case I think this option should cover all accessors covered by the rule. So, for now just classes due to the current limitations, but if objects are ever added to the rule, this option should then cover them as well.

[2016-07-01 01:13] dmitriiabramov commented on #6532
@nzakas awesome! if you're ok with that, i'll send a PR to use default error messages.

[2016-07-01 01:15] nzakas commented on #6532
We need to get TSC approval. @eslint/eslint-tsc does anyone object to removing our custom assert message so the actual and expected values are shown automatically?

[2016-07-01 01:39] ilyavolodin commented on #6532
Sounds like a good plan to me. Even using mocha I don't always get expected/actual, sounds like that should fix it.

[2016-07-01 10:45] mansona commented on #1669
Hey Folks,

I think this has suddenly become more important because of the deprecation of JSCS which encouraged the use of presets. Is there any possibility of re-opening this and seeing if we can start a discussion of the best way forward?

Cheers,
- Chris

[2016-07-01 11:49] vitorbal commented on #6572
So if anything other than variables is part of the concatenation, it would be considered valid?

[code]

Think this makes sense, but just to play the devil's advocate for a bit, why wouldn't you just use an intermediate variable:

[code]

Doesn't that make it even more readable?

[2016-07-01 12:03] vitorbal commented on #6573
I think the `export` rule of the [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/export.md) does what you are looking for.

A separate question would be if the team considers that this should be part of the core or if it's fine in a plugin. @eslint/eslint-team what do you guys think?

[2016-07-01 12:08] vitorbal commented on #6398
@danielbuechele Sorry to bug you again, any news here from your side? Otherwise we would close this issue, as there's not much we can do to help without more information.

[2016-07-01 13:38] #6559 closed

[2016-07-01 13:45] platinumazure commented on #6572
Between @vitorbal's suggestion of using an intermediate variable, the existence of inline config comments, and our new rule change guideline "Is the rule clearly incomplete without the requested enhancement?", I'm :-1: on this proposal.

[2016-07-01 13:55] danielbuechele commented on #6398
Sorry guys, I had no time to look deeper into this. You can close this for now, and I'll let you know, when I had time to look into it. But I also think it might be related to our scoped packages.

[2016-07-01 14:02] ilyavolodin commented on #1669
@mansona We have sharable configs in ESLint that work the same way as presets. Search npm for `eslint-config-` and you will see a lot of them.

[2016-07-01 14:27] btmills commented on #6573
I'm reading [15.2.1.1](http://www.ecma-international.org/ecma-262/6.0/#sec-module-semantics-static-semantics-early-errors) as saying this should be a syntax error. Specifically:

Perhaps related, we have eslint/espree#127, which deals with duplicate `let` and `const` names that should also be a syntax error.

[2016-07-01 14:55] michaelficarra commented on #6573
That's correct, this is a syntax error. No need for a lint rule.

[2016-07-01 14:57] #6573 closed

[2016-07-01 15:15] thomassuckow commented on #6573
Thanks for finding it in the spec. I'll redirect my efforts to babel

[2016-07-01 15:49] myagoo opened #6574 "no-shadow potential false positive"
**What version of ESLint are you using?**
2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
To not have a warning

**What actually happened? Please include the actual, raw output from ESLint.**
`error  'g

[2016-07-01 15:52] ilyavolodin commented on #6574
You have two declarations of `group` variable:

[code]

and

[code]

It looks like the rule is correctly reporting that you are declaring an argument inside arrow function that would shadow top level `group` variable.

[2016-07-01 17:29] #6550 closed

[2016-07-01 18:49] azhang496 commented on #4133
just made a PR for this issue - https://github.com/eslint/eslint/pull/6575
this is my first PR so i'd appreciate any & all feedback! :)

[2016-07-01 19:37] nzakas commented on #6532
Cool, let's do it. @dmitriiabramov if you want to submit a PR, we're ready for it now.

[2016-07-01 20:03] fvdm commented on #5407
Shouldn't this be closed or moved to another milestone as v3.0.0 was released today?

[2016-07-01 20:22] gustavohenke opened #6576 "no-unused-vars false positive after upgrading to v3.0.0"
**What version of ESLint are you using?**
3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default.

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Code linted just fine.

**What actually happened?**
[code]

Seems to be caused by modifications of #6348 and #

[2016-07-01 20:37] gustavohenke commented on #6576
To be clear, our builds started failing a few hours ago because we run `npm install -g eslint` (no version specified).

For now, I'll just specify version 2..

[2016-07-01 21:24] markelog commented on #3229
@nzakas Totally, can we label this as `accepted`?

[2016-07-02 00:48] nzakas commented on #6576
cc @mysticatea

[2016-07-02 00:50] nzakas commented on #6571
cc @gyandeeps

[2016-07-02 02:03] ilyavolodin commented on #5586
I verified that code posted by @gyandeeps is linting without errors, and it looks correctly indented to me. Closing, as it looks like the rule is behaving correctly in this case. If you disagree, feel free to reopen.

[2016-07-02 02:03] #5586 closed

[2016-07-02 02:07] ilyavolodin commented on #5548
Looking at this again, I think @BYK is correct, brace on the 6th line is part of the argument of a function and should be indented an extra level, so does everything following it. Closing as the rule seems to be doing the right thing in this case. If you disagree, feel free to reopen.

[2016-07-02 02:07] #5548 closed

[2016-07-02 02:23] mysticatea commented on #6576
Ugh, I'm sorry.
I will fix it.

[2016-07-02 02:23] ilyavolodin commented on #5540
@gyandeeps If I'm correct we are now checking indentation for multiline statements, however, this issue is still not being reported. I just tested it in online demo and it lints without errors. Should this be marked as accepted?

[2016-07-02 02:36] ilyavolodin commented on #5073
Looking at this issue again, I think there are three completely different proposals that are currently not supported by indent rule here.
**First is chain alignment:**
[code]
Under normal conditions, baz should be indented 2 spaces, however, it's indented 3 to align with the dot on the previous line.
**Second is argument alignment:**
[code]
Same idea here, should be indented 2 spaces, but indent w

[2016-07-02 02:43] ilyavolodin opened #6577 "Add regression build"
Given that bugs slip through code reviews from time to time, I think it would be worth creating regression build that we would run before the release. The idea would be to find a few large repositories that are already using ESLint (hopefully with variety of rules, plugins and parsers), have them automatically cloned, reset to a specified tag, and linted using version that is about to be released.

[2016-07-02 09:44] bfred-it commented on #3737
I'm not sure if it's the same thing, but I found this issue with `--fix`:

[code]

**Input:**

[code]

**Output**

[code]

**Expected output**

[code]

[2016-07-02 10:02] Monokai opened #6578 "Rule "padded-blocks": add option to enforce padding in top-level declared functions"
I'm using 3.0 and have this rule in my config:

[code]

This correctly enforces a formatting like this:

[code]

Sometimes I'd like to export a module which is not a class, but is an IIFE (and has a revealing module pattern):

[code]

Essentially this has the same structure as an ES6 defined class, but I cannot configure `padded-blocks` to allow this formatting. It would be nice if we have a separ

[2016-07-02 17:05] gyandeeps commented on #6571
@adambuczynski Can you please simply the example and provide the actual eslint output for your code. For comment indentation, we do not do comment indentation yet. There is an issue open already.

[2016-07-02 17:17] gyandeeps commented on #5540
Not yet @ilyavolodin .

[2016-07-02 20:25] butterflyhug commented on #6066
I don't currently need tooling to enforce this, so feel free not to implement it -- but my personal style uses `never` here, and the clash with `max-len` would be exactly what I'd be trying to enforce.  I generally don't write something as a ternary if the ternary won't fit on a single normal-length line.  I think the vast majority of those longer ternaries are more readable (and still similarly c

[2016-07-02 20:25] SpadeAceman opened #6581 "documentation shows incorrect "outerIIFEBody" option values for `indent` rule"
**What version of ESLint are you using?**

3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Linted a file – the source code is irrelevant, as the error happens for any code file.

**What did you expect to happen?**

The file should have been

[2016-07-02 20:42] SpadeAceman commented on #6077
I've taken a closer look, and it still seems to me that the functionality of `no-inline-comments` is entirely covered by specifying `"position":"above"` with this new rule. What am I missing that's different?

[2016-07-02 22:11] adambuczynski commented on #6571
@gyandeeps what do you mean? I have provided a full example. How should I obtain the raw output from within Atom? I'm using eslint as an Atom linter.

[2016-07-02 22:20] pmcelhaney opened #6582 "Proposal: Add URL for a rule's documentation to the API"
<h2>The version of ESLint you are using.</h2>

4.12.1

<h2>The problem you want to solve</h2>

AtomLinter has a neat feature that links to the documentation for each rule.

<img width="780" alt="Atom screenshot showing link" src="https://cloud.githubusercontent.com/assets/51504/16542682/8756a1c8-4080-11e6-8a3c-c528b1da91d8.png">

In order for that link to work in plugins, the plugin needs to be [r

[2016-07-02 23:00] platinumazure commented on #6077
We have deprecated old rules and superseded them with new rules in the past. We could theoretically do the same here, if deemed worthwhile. That said, the bar is pretty high.

[2016-07-02 23:02] platinumazure commented on #6582
It'd be good to discuss the details a little. For example, first question I have is why not have the URLs collected in a plugin definition file (same as where plugin rules and configurations are exported)? This also allows the same file to contain a URL for overall documentation, if needed.

[2016-07-02 23:22] ilyavolodin commented on #6582
This can probably be done very easily through rule's metadata. No code changes necessary. Although we do need an API to retrieve metadata.

[2016-07-03 00:04] pmcelhaney commented on #6582
Kevin, what you describe is what I have in mind.

I thought about putting the URL in metadata, but that would become very redundant. Rather define one function at the plugin level.

The concept is more or less proven by AtomLinter. We'd just be moving the knowledge of URIs from AtomLinter to the plugin itself, and expose it through an API that AtomLinter and any other client can consume.

[2016-07-03 02:13] pmcelhaney commented on #6582
I've updated the issue to clarify exactly what API additions I'm proposing. This would be a new feature without any breaking changes.

[2016-07-03 04:23] #6564 closed

[2016-07-03 04:35] adambuczynski commented on #4246
@ilyavolodin this seems to have been broken again in a recent version of eslint.
I'm getting a `no-fall-through` error for code with a simple return:

[code]

ESLint version is 2.11.1 (bundled with Atom linter-eslint package).

[2016-07-03 04:38] adambuczynski commented on #4246
@ilyavolodin false alarm, I misinterpreted what line was causing the error, it was actually a fall through above that line.

[2016-07-03 05:08] adambuczynski opened #6583 "[change] Only report first instance of unreachable code"
In ESLint 2.11.1 (bundled with Atom linter-eslint), the error for `no-unreachable` marks every single line of code after the `return` statement. Maybe this is redundant and it should only mark the first instance of unreachable code? It's pretty obvious that everything after that line will also be unreachable.

Illustration:

![image](https://cloud.githubusercontent.com/assets/490562/16543831/b493f

[2016-07-03 05:37] platinumazure commented on #6583
I think it's worth discussing for sure. I think having it be an option will make the enhancement more palatable.

@eslint/eslint-team Thoughts?

[2016-07-03 05:50] adambuczynski commented on #6583
I find that one problem with marking every line was that it lead to "error blindness", e.g. I could not spot an actual error anymore because I was trying to ignore all the irrelevant duplicate errors.

[2016-07-03 05:55] doberkofler commented on #6576
@mysticatea Is this the same false positive I found in eslint 3.0.0 ?
[code]
reports:
[code]

[2016-07-03 06:46] yphoenix commented on #6576
This looks like the same bug I'm seeing with:

`function foo(){
    'use strict';

    var ref;

    ref = setInterval(
        function(){
            clearInterval(ref);
        }, 10);
}`

As soon as I upgraded to 3.0.0

[2016-07-03 06:54] mathieumg commented on #3185
I don't see the new issue linked here, but @FunkMonkey couldn't you do:

[code]

[2016-07-03 10:52] alberto commented on #6077
@SpadeAceman there is some overlap, but this doesn't cover every use case. This rule only deals with line comments, while `no-inline-comments` also checks block comments.

[2016-07-03 11:14] lessless commented on #2632
Is there a way to configure such behaviour via settings? :\

[2016-07-03 11:16] vitorbal commented on #6578
Hi @Monokai! Thanks for your suggestion. I can see the value in this but I wonder if we shouldn't generalize it to all IIFE's, since the `classes` option also applies to all classes and not only classes that are being exported. What do you think?

Also, would you be willing to work on a PR for this if it gets accepted?

[2016-07-03 14:23] #6581 closed

[2016-07-03 15:01] ljharb opened #6585 "`indent`: `outerIIFEBody` option not using a multiplier, warning on non-IIFEs?"
**What version of ESLint are you using?**
v3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/test/test-base.js
[code]

**What did you expect to happen?**
No warni

[2016-07-03 15:21] Monokai commented on #6578
@vitorbal I'm not sure. You can also have something like this IIFE for scoping in the middle of your code (admittedly not needed when using ES6 arrow functions):

[code]

I can see some options:

1. Make a rule for top-level functions
  This also allows class-like function declarations for those that don't like to use classes but regular functions instead.

2. Make a rule for IIFE's
  This will al

[2016-07-03 17:13] jacksonrayhamilton opened #6586 "Rename "no-native-reassign" to "no-global-assign""
As mentioned in https://github.com/eslint/eslint/pull/6395, the name of the rule "no-native-reassign" is confusing, because the rule covers more than native reassignments. The name was so misleading that no one realized the rule worked the way it did for several months. Therefore, I think the rule should be renamed to "no-global-assign".

One issue brought up in that thread was that a name change

[2016-07-03 17:30] platinumazure commented on #6586
With our current infrastructure, this is a breaking change. If the necessary infrastructure changes are done to support aliasing (requires separate issue, discussion for acceptance, and pull request), then I'll remove the "breaking" label.

I'm personally :+1: for this change, even if we do it as a breaking change. The name of the rule right now is just plain wrong (IMO).

[2016-07-03 19:21] trusktr opened #6587 "[BUG?] ESLint doesn't report undefined variable even though it is undefined."
Is posting that single file enough? Or does ESLint do any cross-file things which would require me to post the repo for reproduction?

**What version of ESLint are you using?**
v2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I have some

[2016-07-03 19:23] trusktr commented on #6587
The thing with my code is that I caused an infinite recursion due to that variable being `undefined`, which made me go on a debug frenzy for a while until I noticed I forgot to import `Node`. That would've been helpful!

[2016-07-03 19:28] trusktr commented on #6587
Is posting that single file enough? Or does ESLint do any cross-file things which would require me to post the repo for reproduction?

**What version of ESLint are you using?**
v2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
^ above

**W

[2016-07-03 19:51] alberto commented on #6585
Confirmed

[2016-07-03 20:03] alberto commented on #6585
@eslint/eslint-team do you agree on number 2, that the option should be configured as a multiplier of the indentation (in the same way as the other options), and not directly as the indent size?

[2016-07-03 20:08] platinumazure commented on #6585
@alberto It's consistent with the current options (so possibly the intended design), but I still think we should abolish multipliers in that rule long-term.

[2016-07-03 20:36] kaicataldo commented on #6066
Starting working on this and realized I have some questions:

1) How do we feel about autofixing for this? I can arbitrarily choose to insert a newline before or after the `?` and `:`, but since `operator-linebreak` does not have an autofix, autofixing could potentially just create another issue the user needs to manually fix.

2) Should I be writing this with Node 4-compatible ES6 features? It wo

[2016-07-03 21:25] platinumazure commented on #6066
Just my two cents- I think auto-fix on this rule will create more problems than it solves.

One other thought: Does JSCS attempt to fix this?

[2016-07-03 22:12] GramParallelo commented on #6397
I'm looking to contribute my first PR to gain some experience.  From what I see this issue seems possible for me to do and tagged beginner.  May I try? ( if so, can I get a little helping hand? :-) ) Thanks!

[2016-07-03 22:17] mathieumg opened #6588 "Ingore fallthrough for consecutive case statements in `no-fallthrough`"
At first I was suggesting the rule below, but after playing around a bit in the REPL I figured this is already handled by default. (Unless I am mistaken) I had never activated that rule because I thought it wasn't handling that case. I'll use this issue to track improving the documentation on that matter in `no-fallthrough`. (I know issues aren't _required_ for doc, but they aren't prohibited, I i

[2016-07-03 22:23] platinumazure commented on #6588
Thanks for the issue!

I'm a little unclear on exactly what you're getting at. Are you saying that consecutive cases are allowed by default, but that when you specify a `commentPattern`, consecutive cases become flagged? If so, I'd say that's a bug. If not, could you please clarify your post?

[2016-07-03 22:26] platinumazure commented on #6397
Hi @GramParallelo, thanks for stepping up! It looks like @kaicataldo might be working on this- hopefully he can clarify whether he is or not.

If you're looking for a good first pull request area, try filtering the issues to include the "beginner" label. If you can't see one, feel free to visit us in our [chat room](https://gitter.im/eslint/eslint).

[2016-07-03 22:31] mathieumg commented on #6588
I just stumbled upon https://github.com/eslint/eslint/issues/5799 and it mentions there do is an example of that use case in the doc, I just totally missed it. The rule works as I would expect, sorry for the noise.

[2016-07-03 22:31] #6588 closed

[2016-07-03 22:43] platinumazure commented on #6587
Hi @trusktr, unfortunately the rule is behaving as expected. By including the "browser" environment in your config file, any global variables that can be expected in a browser environment are also implicitly added as known globals, meaning no-undef (which you are using by extending `eslint:recommended`) will not flag them.

If this is a script that is not actually meant to be used on the browser,

[2016-07-03 23:06] vitorbal commented on #6582
Why would you say putting the URL in the metadata property would be redundant? This seems like the perfect use case for a metadata property.

[2016-07-03 23:11] platinumazure commented on #6582
I guess I'm not attached one way or the other. I agree it would be great to use some sort of metadata property (either at plugin or rule level) to provide documentation links.

@ilyavolodin Perhaps you want to take a look at the first post of this issue, since it has been updated with a concrete proposal?

[2016-07-04 00:03] wojdyr commented on #6585
false negatives also happen - some top-level IIFEs are not recognized:
[code]

[2016-07-04 00:17] pmcelhaney commented on #6582
I'm in favor of configuring the URI at the plugin level because it saves plugin authors from having to include the URI in every single rule.

[2016-07-04 00:17] pmcelhaney commented on #6582
First stab at a PR. Feedback much appreciated.

https://github.com/eslint/eslint/pull/6589

[2016-07-04 00:49] ljharb commented on #6585
@platinumazure why would we want to get rid of multipliers? Don't forget that "tab" is a valid option as well, and someone may want 3-space indentation.

Multipliers are the *only* thing that makes sense to me for this option, since everything should be measured in "indentation levels", and "what is an indentation level" is what's configured by the first option (ie, n spaces, or a hard tab).

[2016-07-04 00:56] platinumazure commented on #6585
Because export statements, which technically can contain variable
declarations, render multipliers laughably useless in those cases.
Multipliers are useful in 2-space indentation but fall apart with nearly
anything else (e.g., there is no way to require 4 space indentation
everywhere but 6 spaces for `const` declarations that take more than one
like). The whole design is clearly wrong and needs to

[2016-07-04 01:02] ljharb commented on #6585
If we have an "align" option I hope we have a "never align" option - in my code, I absolutely forbid any indentation solely for alignment.

[2016-07-04 01:15] mysticatea commented on #6582
I vote a use of `meta` property.

[2016-07-04 01:25] trusktr commented on #6587
Ah, thanks for letting me know! I guess Ican make a local eslintrc, instead of using my global one.

[2016-07-04 01:25] #6587 closed

[2016-07-04 01:40] kaicataldo commented on #6397
I'm not working on this - just labeled it as I thought it would be a great issue for a newcomer to the project to start with :) Thanks for contributing, @GramParallelo!

[2016-07-04 01:43] kaicataldo commented on #6542
@mysticatea I was planning on looking at acorn to see if I could contribute a PR to fix this, but it looks like you might be interested too!

[2016-07-04 01:47] kaicataldo commented on #6066
@platinumazure I agree with you, and no, I don't think the JSCS rule fixes this

[2016-07-04 01:51] mysticatea commented on #6542
Wow, I'm sorry, I had pushed a wrong button (maybe I should assign me to another issue).

[2016-07-04 01:52] kaicataldo commented on #6542
No worries - happy to work on this together/decide what's best if you are interested :)

[2016-07-04 02:14] ilyavolodin commented on #6582
I understand redundancy argument. However, I feel like "one URL to rule them all" is too inflexible. For example, there might be plugin authors, that don't want to name all of their pages with the same name as rule name. Or they might use some provider that doesn't, for example, support dashes in the urls, but their rules have dashes.
I do understand that you can write complicated implementation o

[2016-07-04 02:16] mysticatea commented on #6542
Yes, I'm interested in this as well :D

I guess [lval.js#L10](https://github.com/ternjs/acorn/blob/54fde50051100004faa0825c6ec7957ee9caf81d/src/lval.js#L10) is modifying `ObjectExpression`/`ArrayExpression` to patterns, so maybe it should check parentheses.

[2016-07-04 03:58] pmcelhaney commented on #6582
Thanks, @ilyavolodin. Good thoughts.

I don't think editors (and their addons) have to deal wirth ESLint plugins. It's all transparent.  A consumer of the Node API shouldn't need to do any parsing. It gets the URI for a reported problem and can do what it wants with it. Anyway, how the URI  is exposed in the Node API is orthaganol to whether the URI is configured by a plugin-level function or rule

[2016-07-04 05:56] SimenB commented on #4483
I couldn't find any module for it, so I quickly created a cli for checking node version.

https://github.com/SimenB/node-version-check

Pretty easy to integrate in current lint script.

[2016-07-04 05:59] mysticatea commented on #4483
I also thought the same thing, but @SimenB's seems better. :D

https://www.npmjs.com/package/if-node-version

[2016-07-04 06:04] SimenB commented on #4483
Discoverability of npm modules strikes again 😄

[2016-07-04 06:06] Mouvedia commented on #4483
@SimenB https://www.npmjs.com/search?q=node+version

[2016-07-04 06:09] SimenB commented on #4483
I googled it, @mysticatea's module probably wasn't indexed yet (or my google-fu failed me). Anyways, 2 options available, one generic, one specific, no need to spam this thread anymore 😄

[2016-07-04 06:29] Thaina opened #6591 "/* exported */ not support on function?"
I was create function like this and it has error `no-unused-var`

![image](https://cloud.githubusercontent.com/assets/1042507/16552435/26f47b72-41eb-11e6-95e3-d3dcd23bb849.png)

Which this is fine

![image](https://cloud.githubusercontent.com/assets/1042507/16552451/472b29ea-41eb-11e6-8b9b-ac01962e9121.png)

[2016-07-04 08:47] Kirill89 commented on #5073
@ilyavolodin I think you should add an option to not enforce indentation in all listed cases. Next code should be also valid:

[code]

And I think you shouldn't just skip indentation check. Look at this examples:

First case:

[code]

Second case:

[code]

Third case:

[code]

[2016-07-04 10:18] vitorbal commented on #6397
@GramParallelo [this comment](https://github.com/eslint/eslint/issues/6397#issuecomment-225586322) should help you get started, let us know if you need any help!

[2016-07-04 10:26] Thaina commented on #6591
I used esline v2.13.1

What I do is easy. Create a js file in project like this
[code]

Problem is it cause `no-unused-vars` error. Which is because I use this function on another file and don't use in this file anywhere. And eslint don't think function is var

I expect is using `/* exported AnyFunctionName */` or just `/* exported */` above function would make `no-unused-vars` error get away

[2016-07-04 12:35] platinumazure commented on #6591
A couple of things worth trying:

1. Why are there two `/* exported */` comments? What happens if you remove one?
1. Does the order matter?

[2016-07-04 12:40] Thaina commented on #6591
@platinumazure Just try to use both way to see what happen. Use only one of them result the same error anyway

I'm not sure order really matter because if `/* exported */` is not directly above function then will it find the closest function?

Anyway as I said, only use one still not work

[2016-07-04 12:42] platinumazure commented on #6591
@Thaina Apologies, I asked because I'm on a mobile phone and so can't really run ESLint. Thank you for providing that information.

[2016-07-04 12:46] Thaina commented on #6591
@platinumazure I understand

Also as I was taking screenshot. use `var someVar = function() { }` is not cause any error, with both `/* exported */` and /* exported someVar */ above it work fine. So the problem is not cause from `exported` marking but quite sure that eslint don't see `function A()` as `var` when checking for `exported`

[2016-07-04 13:36] pmcelhaney commented on #6582
+ @granteagon @relekang @IanVS Looks like you were involved in adding the ESLint plugin docs to the AtomLinter plugin (thank you!). I'm proposing that we allow ESLint plugins to specify where to find their docs and thought you might have something to add to the discussion.

[2016-07-04 16:03] ilyavolodin commented on #6398
Closing. Feel free to reopen with more information.

[2016-07-04 16:03] #6398 closed

[2016-07-04 16:04] granteagon commented on #6582
@pmcelhaney, do you mean you are proposing "AtomLinter plugins to specify where to find their docs"?  I did help get the ESLint docs working.

Being out of the loop on the conversation a bit, I think that @ilyavolodin is tending towards a solution I would support.  A blanket "base URL" is probably not a flexible solution.  Meta-data is probably better.

In my opinion, it would be easier to create

[2016-07-04 16:07] sindresorhus commented on #6572
@vitorbal Yes.

The above is just a simple example. It's not always feasible or wanted to have intermediate variables.

The following:

[code]

Would have to be:

[code]

Which is very unnecessarily verbose.

[2016-07-04 16:09] ilyavolodin commented on #6591
@Thaina We need more information, like parser options and environments you are running in. `exported` doesn't work in Node or CommonJS environments or with `modules` on, for example.

[2016-07-04 16:11] Thaina commented on #6591
@ilovejary I already setting by the suggestion of exported tag please believe me and read my word

Only `/* exported */` on `function` that don't work

[2016-07-04 16:14] platinumazure opened #6592 "Refactor inline config comment processing out of lib/eslint.js"
I've mentioned this in a couple of different issues (#6435, #6190), but I think we should consider moving inline configuration comment processing out of lib/eslint.js. This will make consideration of those other issues a little easier.

The main purpose of this issue (at time of posting) is to lay out a proposal and hopefully get an idea of when it will land on the roadmap. I'm aware that we have

[2016-07-04 16:19] platinumazure commented on #6572
@sindresorhus I'm not really convinced by the new example-- seems to me that this is quite readable:

[code]

Seems to me it's honestly really case by case (because I agree the first example can be pretty hard to read). I just feel like assuming "variables" should be the only thing that should go in templates might be overly simplistic, certainly subjective (e.g., why not MemberExpressions, or may

[2016-07-04 16:20] platinumazure commented on #6591
@Thaina It's not a question of not believing you-- rather, we need more information so we can figure out the best resolution for your problem. Please provide your config file for us so that we can gather that information.

[2016-07-04 16:26] Thaina commented on #6591
@platinumazure I know you need info but all your suggestion is wrong guess. I already said again and again that the `/* exported */` over normal `var` work properly. I already take screenshot from the start. But you just overlook it and suggest me the wrong way

If you start suggest about what the rule that could be difference in function and var I would accept that you listen to what I have said.

[2016-07-04 16:29] nzakas commented on #6577
Duplicate of #4500?

[2016-07-04 16:31] #6556 closed

[2016-07-04 16:35] platinumazure commented on #6591
@Thaina Unfortunately, sometimes things get lost in communication. I apologize for any communication errors on my part.

However, if I may offer a piece of advice: You would do well to take into account the possibility of communication issues when writing bug reports on a project. There may be something you know very well, but that project maintainers are unable to pick up immediately from your po

[2016-07-04 16:45] Thaina commented on #6591
@platinumazure I was understand so that I would try to tell you people each person once about my case **That the `/* exported */` is work fine on `var`**

But then you guy just overlook it and repeatly said that `/* exported */` is not work because any setting that would cause it to don't work on `var`

So I should suspect that you guy just not read. or not believe what I have written

That's why

[2016-07-04 16:48] Thaina commented on #6591
I already file the report and give you some detail. It may not enough but at least it would be productive if you guy just really read it

[2016-07-04 17:08] #2342 closed

[2016-07-04 17:26] nzakas commented on #6592
Can you explain what you mean by "inline configuration comment processing"? It's not clear to me what you're proposing should be moved.

[2016-07-04 17:32] nzakas commented on #6582
I agree with @ilyavolodin that this information really belongs in `meta`, probably `meta.docs`.

On a larger point: all of ESLint is meant so that rules are rules are rules -- we try very hard not to treat rules from the core different from custom rules or different from plugin rules. Any solution we choose must keep that design principle in mind even if it leads to some redundancies.

[2016-07-04 17:34] nzakas commented on #6585
@platinumazure let's keep the scope of this issue narrow - there's no need to talk about future long-term possibilities in this context as it's confusing for everyone involved.

This option should definitely act like the others and be a multiplier. I'll take a look and see if it's something that can be fixed easily.

[2016-07-04 17:47] ilyavolodin commented on #6577
Partially. That one is mostly about plugins, this one is overall regression build that should include our own rules, plugins and parsers. I can close this one in favor of #4500 though.

[2016-07-04 18:04] pmcelhaney commented on #6582
Okay, thanks. I'll send another PR that puts the config in meta.

[2016-07-04 18:14] sibennayak opened #6595 "Docs: Missing step in Pull Requests guide"
http://eslint.org/docs/developer-guide/contributing/pull-requests#step4

There is no Step 5. It's missing the part where you would push to the repository.

[2016-07-04 18:36] nzakas commented on #6585
@ljharb want to try this out and see if it does the trick for you? https://github.com/eslint/eslint/pull/6596

[2016-07-04 18:42] nzakas commented on #6595
Oops, good catch.

[2016-07-04 18:46] ljharb commented on #6585
@nzakas confirmed, no errors this time!

[2016-07-04 19:00] nzakas commented on #6577
What bugs do you envision this catching?

[2016-07-04 19:03] nzakas commented on #6586
We don't currently have a way of aliasing rules, so this is really a core enhancement request.

[2016-07-04 19:09] nzakas commented on #6583
I can support this as an option, but think we should keep the current default behavior. :+1:

@adambuczynski are you willing to implement this change if others agree?

[2016-07-04 19:10] nzakas commented on #6582
@pmcelhaney it would be helpful (and arguably a better use of your time) to propose a design here for review before submitting a new PR.

[2016-07-04 19:10] #6574 closed

[2016-07-04 19:11] adambuczynski commented on #6583
@nzakas yeah I could have a look

[2016-07-04 19:46] ilyavolodin commented on #6577
Bugs like #6576 for example.

[2016-07-04 20:14] alberto commented on #6585
@nzakas should we also cover the cases @wojdyr mentioned?

[2016-07-04 20:16] alberto commented on #632
It's now covered by `outerIIFEBody` in `indent`. I'm editing the original comment to reflect that.

[2016-07-04 20:22] shinnn opened #6598 "`path-is-absolute` module is no longer needed"
ESLint should have depended on [`path-is-absolute`](https://www.npmjs.com/package/path-is-absolute) module for Node.js 0.10 support. However, from ESLint v3.0.0, we can use Node's built-in [`path.isAbsolute`](https://nodejs.org/api/path.html#path_path_isabsolute_path) because there is no need to consider Node 0.x anymore.

[2016-07-04 20:46] pmcelhaney commented on #6582
Thanks @nzakas. Unfortunately by the time I saw your comment I already submitted a new PR. As yourself and others have suggested, I simply exposed the rule metadata through the API (as part of the problem object) and documented `meta.docs.uri` as the standard place to put the URL for a rule's documentation.

(Aside: I know you've expressed frustration about people reporting bugs / requesting featu

[2016-07-04 22:14] #6595 closed

[2016-07-04 22:21] #6598 closed

[2016-07-04 22:23] alberto commented on #6591
@Thaina we understand you are saying the problem happens just with exported functions and not exported vars, but we need your config to be able to reproduce it. So, if you want this issue to be solved, please provide your config. Otherwise, we will close it as non-reproducible.

[2016-07-04 22:53] wojdyr commented on #6585
I took the examples of IIFE from https://en.wikipedia.org/wiki/Immediately-invoked_function_expression, no idea if anyone is using the ones with unary operator.

I just tried the proposed fix -- it doesn't work on example from google style guide:
[code]

[2016-07-05 00:43] platinumazure commented on #5679
@Zarel Very sorry for the delayed response. We should do further work under a new issue, perhaps titled something like "Skip glob traversal of ignored directories (besides node_modules and bower_components)". Thanks!

[2016-07-05 01:22] mavrick commented on #1229
+1

[2016-07-05 01:32] Thaina commented on #6591
@alberto I can give you my config and I will do so

But can you see what you people try to suggest me? It not relate that you guy want my config. You guy just don't look at my screenshot or detail and just randomly said about my setting have node or commonjs. While I already state it clear that IT WORK FINE FOR var BUT NOT FOR function

<details>
  <summary>anyway this is my config</summary>
[code

[2016-07-05 02:08] ljharb commented on #6585
@wojdyr in that case, that's not an IIFE - that's just a function passed to another function.

[2016-07-05 06:14] alberto commented on #6591
You are using `"sourceType": "module"``
From the [rule docs](http://eslint.org/docs/rules/no-unused-vars#exported):

when the environment is node or commonjs
when parserOptions.sourceType is module
when ecmaFeatures.globalReturn is true

So this is working as expected.

[2016-07-05 06:14] #6591 closed

[2016-07-05 06:16] Thaina commented on #6591
Then how can it work with `var `

That would be something wrong here

[2016-07-05 06:17] Zarel commented on #5679
Sure. Are you planning on opening the issue or should I?

[2016-07-05 08:51] kewisch commented on #5136
I have another use case for this feature. We are preprocessing some files from xml to javascript, where some of the xml nodes contain javascript. The result looks something like this:

[code]
[code]
Now the problem is when I add the `indent` rule to be 4-space, then it fails for most lines, pointing to somewhere in the original xml. I would like to use the config to detect if an indent rule is spe

[2016-07-05 09:54] daizhan opened #6602 "Configuration Cascading and Hierarchy not work correctly"
**What version of ESLint are you using?**
eslint v3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default parser

**Please show your full configuration:**
`~/.eslintrc.json`
[code]
`~/nodejs/requires_opt/package.json`
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
[code]

**What did you expect to happen?**
error 'require is not defi

[2016-07-05 10:21] wojdyr commented on #6585
@ljharb yes, true. And since eslint-config-google doesn't look concerned with indentation of goog.scope it may not be important.

[2016-07-05 14:25] gyandeeps commented on #6602
Can you please run eslint with `--debug` flag and then share the output?
So in your case it will be `eslint --debug main.js`

[2016-07-05 16:51] platinumazure commented on #6592
Hi @nzakas, I'm still working on a full proposal but here is the high-level version of what I want to move:

1. Logic in `api.report` which checks if a node being reported is within a disable range (considering both range and rule ID)
1. Comment traversal (after parsing, before linting) which determines what the disable ranges are for the above

Basically, all of those would be replaced with a mod

[2016-07-05 17:18] #6585 closed

[2016-07-05 17:23] ljharb commented on #6585
Thank you!

[2016-07-05 17:24] #6397 closed

[2016-07-05 17:43] #6576 closed

[2016-07-05 18:25] DavidTPate opened #6603 "Version 3.0.1 Requires Node >= 4 While 3.0.0 Doesn't"
**What version of ESLint are you using?** 3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:** Not relevant.

**What did you do? Please include the actual source code causing the issue.** Tried to run `eslint`

**What did you expect to happen?** `eslint` would run

**What actually happened? Please include the actual, raw output from

[2016-07-05 18:46] gyandeeps commented on #6603
This is working as expected because we only support node >= 4.0 starting eslint 3.0
We will slowly introduce ES6 into eslint code base.

[2016-07-05 19:20] nzakas commented on #6585
Sorry, I missed @wojdyr's comment before I had made the fix. Please open a new issue if these are still a problem for you.

[2016-07-05 19:21] DavidTPate commented on #6603
Well that's no good. Unfortunately `v3.0.0` worked perfectly fine with `Node < 4` so I'm sure a bunch of people like myself merged it only to have it break with `v3.0.1`. I do see it in the "Migration to v3.0.0" guide, but obviously didn't read it.

[2016-07-05 19:21] #6603 closed

[2016-07-05 19:22] nzakas commented on #6592
Ah, gotcha. Sounds interesting. Looking forward to the full proposal.

[2016-07-05 19:35] nzakas commented on #6582
@pmcelhaney and we appreciate the PRs, we're just trying to be respectful of your time by encouraging you to describe what you're thinking of being digging into the code. As this is a change to the core, we have to be more careful about evaluating and accepting it.

[2016-07-05 19:56] pmcelhaney commented on #6582
From my point of view, the clearest and most expressive way to express my thinking is to just send a PR. Not necessarily a complete PR, but one that hits the key tests, doc updates, and code changes. In this case, the change was relatively small so it was just as easy to do the whole thing (sans adding meta.doc.uri to all of the built-in rules).

Anyway, if outlining the proposed design in prose w

[2016-07-05 20:06] Arcanemagus commented on #6582
Following along with what @nzakas said earlier, clients (like the `linter-eslint` Atom package) can work with any method, as long as it is consistent between all plugin rules. From what it sounds like the metadata thing will work fine, as long as there is a way to access that information.

[2016-07-05 20:18] platinumazure commented on #6603
@nzakas Can/should we enforce this using the `"engines"` section in package.json?

[2016-07-05 22:40] ryanfitzer opened #6605 "Using `CLIEngine` Options for Defining a Configuration are not Fully Explained in the Docs."
**What version of ESLint are you using?**

eslint v3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default parser

**Please show your full configuration:**

(loaded via the `CLIEngine` options)

[code]

**What did you do? Please include the actual source code causing the issue.**

I'm trying to correctly configure the `CLIEngine` in a project without a root .eslintrc.* or `esl

[2016-07-05 22:44] nzakas commented on #6603
It's already there: https://github.com/eslint/eslint/blob/master/package.json#L116

[2016-07-05 22:47] nzakas commented on #5891
@scriptdaemon we've had trouble in the past doing things like that, so we tend to allow more fine-grained configuration now. I'd say we should go with `singleCommentForClassAccessorPairs` so we have some runway to work with.

[2016-07-05 22:49] nzakas commented on #5136
@kewisch that's a case we explicitly do not want to support. Processors should not know what rules are enabled or what the rule options are.

[2016-07-05 22:53] nzakas commented on #6577
Hmmm, I'm not sure that would have been caught, but I do think it's a good idea anyway.

Only question is how would we do this? And when would this test be run? (In some cases a break will be expected, so not all failures are bad)

[2016-07-05 23:16] nzakas commented on #6605
`useSpecificConfig` is not an option for `CLIEngine`, so it won't do anything if passed. The only options are `configFile`, which corresponds to `-c`, and `baseConfig`.

Both `configFile` and  `baseConfig` should satisfy the "require configuration to run", if thats not the case, that's a bug.

[2016-07-05 23:21] ryanfitzer commented on #6605
From <http://eslint.org/docs/user-guide/migrating-to-3.0.0#requiring-configuration-to-run>

Am I misunderstanding?  What is `useSpecificConfig` an option to? An ESLint configuration? So if this exists in the config passed to `baseConfig`, the "require configuration to run" rule will be satisfied?

[2016-07-05 23:32] platinumazure commented on #6605
Leaving a comment to note I'm tracking this. When get to a PC, I'll try to reproduce.

[2016-07-05 23:50] ryanfitzer commented on #6605
Loading my configuration via an object passed to `baseConfig` and adding the property `useSpecificConfig: true` to my configuration threw `Error: No ESLint configuration found.`

[code]

[2016-07-06 00:07] platinumazure commented on #6605
As @nzakas noted, `useSpecificConfig` is not a CLIEngine option. Unfortunately, I don't know what he meant in the migration guide. Maybe `useEslintrc` or `configFile`?

@ryanfitzer For your use case, if you want to just use a passed in configuration, you need to specify `useEslintrc: false`. Otherwise, ESLint will look for an eslintrc file as part of linting. Before 3.0.0, if it didn't find an esl

[2016-07-06 00:43] jrajav opened #6606 "Make 'indent' rule configurable w.r.t ternary conditions"
**ESLint version 3.0.0, babel-eslint parser**

**Rule:** http://eslint.org/docs/rules/indent

**Problem:** Ternaries can be formatted better when used for multi-line conditionals, 'indent' rule currently does not allow this.

Example of the formatting pattern:

[code]

Notice how the braces line up and are easy to visually scan compared to this, which is what the 'indent' rule currently expects:

[2016-07-06 01:00] ryanfitzer commented on #6605
This indeed allows the `baseConfig` to pass the "require configuration to run" rule. But it also means that the only way one could enable their `baseConfig` to be extended is to provide an .eslintrc.* file in their project's root.

Is there any design reason that `baseConfig` was excluded as a configuration that satisfies the "require configuration to run" rule? Having the word `Config` in the opt

[2016-07-06 01:02] platinumazure commented on #6605
No design decision- I just didn't account for baseConfig.

Can you please explain what other way you want to extend your baseConfig
besides the use of an eslintrc file, which you now can't do?
On Jul 5, 2016 8:00 PM, "Ryan Fitzer" <notifications@github.com> wrote:

[2016-07-06 01:11] ryanfitzer commented on #6605
besides the use of an eslintrc file, which you now can't do?

I actually do want to use an eslintrc lint file, just not one in the project root. I eslintrc files in the project's nested folders, just not a top-level one in the root.

[2016-07-06 01:46] ryanfitzer commented on #6605
Regarding:

The condition in [lib/config.js](https://github.com/eslint/eslint/blob/e0d4b19028addac2413e30b94bd045b10e45cedb/lib/config.js#L227) makes it clear that this is an internal property used for when a `configFile` is provided.

Looks like the 4th option in the [Requiring Configuration to Run](http://eslint.org/docs/user-guide/migrating-to-3.0.0#requiring-configuration-to-run) section is ju

[2016-07-06 02:23] ilyavolodin commented on #6577
Correct. As I noted in the original post, regression build would require some manual verification, since there will be false positives. Travis supports [cron jobs](https://docs.travis-ci.com/user/cron-jobs/) we could implement regression build as such. I would say that we can start with running it every week on the Thursday night, this way we would have a result of regression build before doing a

[2016-07-06 02:34] daizhan commented on #6602
debug result
![11c2 tmp](https://cloud.githubusercontent.com/assets/5318547/16605828/1f3c742c-4365-11e6-959c-bb3e7f6c58cc.png)

[2016-07-06 02:47] mysticatea commented on #6602
Thank you for this issue.

Since 2.0.0, ESLint does not merge `.eslintrc.*` file and the setting in `package.json`.
See also http://eslint.org/docs/user-guide/migrating-to-2.0.0#configuration-cascading-changes

[2016-07-06 02:54] platinumazure commented on #6605
Okay, then I think we have at least two issues. One, baseConfig should be sufficient to avoid throwing the no config found exception. Two, the migration guide needs to be tweaked.

@ryanfitzer Am I missing anything?

[2016-07-06 04:04] btmills commented on #6390
@mysticatea is correct that the schema validation error messages are coming directly from is-my-json-valid. I think it's a great idea though, would you mind filling an issue over there @ejfrancis?

[2016-07-06 04:50] ryanfitzer commented on #6605
I also noticed that the `rules` option satisfies the requirement, but it doesn't allow for extension. Should that be expected?

[2016-07-06 06:08] kewisch commented on #5136
I understand, but how would you propose to solve the use case above? I am not interested in changing the indent of the line for `return this.mOccurrence;` within the preprocessor, but I need to have a value for the supporting lines around that, and with the current config this is not something the developer can influence.

So if we do what we have now to assume 2 space indent, but part of the tree

[2016-07-06 07:12] flodolo opened #6607 "Failure on Travis (PHP project) with ESLint v3.0.1 (strip-bom)"
We use ESLint in Travis on a PHP project to lint some .js files, and started having failure with v3.0.1

[code]

That piece of code comes from strip-bom, and I noticed a change in dependency
https://github.com/eslint/eslint/compare/v3.0.0...v3.0.1#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R67

[2016-07-06 07:29] flodolo commented on #6607
In case someone else has the issue, fixed by updating node in Travis (v0.10.36 is the one installed by default).
[code]

[2016-07-06 07:29] #6607 closed

[2016-07-06 08:58] vitorbal commented on #6383
Just managed to open a PR for this: #6608

[2016-07-06 11:33] sassanh opened #6610 "An option for comma-dangle so that it works on function calls too"
**When does this rule warn? Please describe and show example code:**
It should warn for this:

    func(
        a,
        b
    )

Adding a comma after b should solve it.

**Is this rule preventing an error or is it stylistic?**
stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**
well, it's just a simple option for comma-dangle rule.

**Are you willing to

[2016-07-06 13:32] joshkel opened #6611 "Unwanted behavior from executeOnText's warnIgnored"
#6305 appears to have a bug or unintended behavior.

According to [docs/developer-guide/nodejs.md](https://github.com/eslint/eslint/blob/master/docs/developer-guide/nodejs-api.md#executeontext):

Based on that, and based on the parameter name `warnIgnored`, I would expect that, if a file is configured to be ignored, then it either is ignored completely (`warnIgnored` is falsy, the default), or it

[2016-07-06 14:57] mrapogee opened #6612 "Output fixed source for text editor tools and extensions"
**What version are you using?**
v2.13.1

Currently --fix changes are outputted directly to the files. I created a emacs command called eslint-fix that saves the file, executes --fix on it, then reloads the file from the source. Saving the file is an unexpected side effect. it would be terrific if we could input the buffer, get the fixed buffer, then replace it without saving anything.

Thanks!

[2016-07-06 15:32] platinumazure commented on #6612
Hi @mrapogee, thanks for the issue!

It is true that invoking `eslint --fix` will write the file back to the file system. You might be interested in using our [CLIEngine API](http://eslint.org/docs/developer-guide/nodejs-api#cliengine) (Node.js), which allows you to have finer control. Perhaps you could write a Node.js script which uses CLIEngine, and then emacs can invoke that script using the no

[2016-07-06 15:55] platinumazure commented on #6610
Just out of curiosity, do you need `babel-eslint` in order for that to parse correctly? I don't remember dangling commas in function calls being in the language spec (yet).

[2016-07-06 15:57] platinumazure commented on #6611
Are you suggesting that those CLIEngine lines should make look more like this?

[code]

[2016-07-06 16:02] platinumazure commented on #6611
@joshkel Awesome. I think you're probably correct that this is a bug. We'll see if the rest of the team agrees.

[2016-07-06 16:12] platinumazure commented on #6606
Just to be clear, is the goal to have the ternary operators be allowed a sort of "negative margin" where they can go left of the expected indent point, as long as the tokens immediately following the ternary operator tokens are aligned correctly?

[code]

Have I captured your proposal correctly here or am I missing something?

[2016-07-06 16:14] platinumazure commented on #6605
@ryanfitzer I *think* so but I'm not 100% sure on that one. It does seem redundant given the ability to use `baseConfig` (and `useEslintrc: false` if users want to avoid having an eslintrc interfere). I'm not sure what should happen there.

[2016-07-06 16:16] sassanh commented on #6610
Yes, I'm using babel-eslint.
The philosophy behind it is a line of code alone should always seem incomplete when it's part of a wrapped line of code and by copying it you should get syntax error from compiler. I follow this rule and I'd be happy if eslint could warn me about it.

[2016-07-06 16:19] platinumazure commented on #6610
Well, I had to ask. We might decide not to add it since it reflects syntax that's not (technically) valid/standard-compliant JavaScript. In that case, you would want to work with the eslint-plugin-babel group to add a modified comma-dangle rule which accounts for this.

Let's see what other team members say. I'm personally neutral.

[2016-07-06 16:26] TheCycoONE opened #6613 "outerIIFEBody does not handle all IIFE cases"
**What version of ESLint are you using?**
3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
espree

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

I believe this

[2016-07-06 16:47] mrapogee commented on #6612
Thanks @platinumazure

That looks like it will work, I can use `executeOnText()` to get the exact behaviour I'd need.

[2016-07-06 17:13] platinumazure commented on #6612
Awesome! I'll go ahead and close this issue for now. Feel free to reach out again (or stop by our [Gitter chat](https://gitter.im/eslint/eslint)) if you need anything else. Thanks!

[2016-07-06 17:13] #6612 closed

[2016-07-06 17:14] platinumazure commented on #6612
Oh, also-- good luck and do consider making your emacs integration open source so others can benefit :smile:

[2016-07-06 17:15] danvk opened #6614 "Rule idea: no useless template literals"
**When does this rule warn? Please describe and show example code:**

[code]

**Is this rule preventing an error or is it stylistic?**

Stylistic.

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

I noticed this pattern a bunch in a recent code review. It can easily happen if you're modifying existing code that uses template literals and don't notice that your lit

[2016-07-06 17:49] sassanh commented on #6610
I see, I understand if you don't want to add a rule that is not valid in standard JS.

[2016-07-06 18:14] danvk commented on #6614
Worth noting that one side effect of the "useless" template literals is that they convert whatever they contain to a string. So if `someFn(1, 2, 3)` returns a number in the example above, then the two `bar`s will have different types (string and number).

[2016-07-06 19:19] ilyavolodin commented on #6610
I think you should file an issue for `eslint-plugin-babel` to support this (if they don't already), since trailing commas for functions is still a Stage 3 proposal. And ESLint doesn't support anything below Stage 4.

Closing, as this is not a valid JS till at least ES2017 (or later)

[2016-07-06 19:19] #6610 closed

[2016-07-06 19:26] platinumazure commented on #6613
Labeled as enhancement request (under the assumption that with @nzakas' latest bug fix, the rule is now working "as designed", whatever that means). If this should be re-labeled as a bug, please feel free to correct as needed.

[2016-07-06 19:28] The-Compiler commented on #6607
@flodolo Thanks for mentioning this - this fixed it for me as well: https://github.com/The-Compiler/qutebrowser/commit/89cdef851d8f56b509dc04331330dd14f8ec62a1

[2016-07-06 19:32] platinumazure commented on #6602
@mysticatea Is this answered/should we close?

[2016-07-06 20:13] kewisch opened #6616 "When using func-names = never, allow names for recursive use"
**What version of ESLint are you using?** 2.13.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:** `"func-names": [2, "never"]`

**The problem you want to solve**
I would like to never use function names, because in Mozilla code the names in stacks are guessed pretty well nowadays. There are some cases where I still need them though, na

[2016-07-06 20:41] ryanfitzer commented on #6605
In the [Configuration Cascading and Hierarchy](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) section, the `--rules` option has the same precedence as the `--configFile`. Since `--configFile` is not extendable (regardless of `useEslintrc`), I think `rules` is acting as expected/documented.

[2016-07-06 23:39] isiahmeadows commented on #4483
If you're using Travis, I use this to address the ESLint version needing to be changed temporarily:

[code]

[2016-07-07 00:05] nzakas commented on #6605
Sorry, clearly I was a bit overtired when I wrote the migration guide, `useSpecificConfig` should not be mentioned.

@platinumazure agree with the two problems you mentioned.

[2016-07-07 01:00] sassanh commented on #6610
@ilyavolodin I see, will do.

[2016-07-07 01:02] sassanh commented on #6610
For someone who googles and comes to this page: this is already done in `eslint-plugin-babel`, the rule name is `babel/func-params-comma-dangle`.

[2016-07-07 01:41] mysticatea commented on #6602
Closing as this is answered.
Please feel free to reopen if your problem is not solved.

[2016-07-07 01:41] #6602 closed

[2016-07-07 01:47] scriptdaemon commented on #5891
@nzakas Ah, I see. I have no problem with a more specific name in that case (I'll add it to the original post as well).

Should the rule be updated to include objects, will a new option specific to objects need to be implemented as well rather than adding that functionality to the existing (i.e. the one in this proposal) option?

[2016-07-07 02:04] rgant opened #6617 "eslint-config-standard@5.3.1 wants eslint@^2.0.0-rc.0"
Just tried to install eslint for the first time following the readme and I got the following errors with `eslint --init` choosing the standard config.

**What version of ESLint are you using?**
3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default I assume?

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the i

[2016-07-07 02:11] mysticatea commented on #6583
Hm...

At first, I'm sorry that I have not implemented #3307.
But what about that it merges warnings of continuous nodes?
If #3307 is implemented, a warning can show range. Then,

[code]

[2016-07-07 02:24] platinumazure commented on #6617
This is an npm warning due to incompatible peer dependency relationship between eslint-config-standard and eslint. In this case, eslint-config-standard wants ESLint to be between 2.0.0-rc0 (inclusive) and 3.0.0 (exclusive).

This is an eslint-config-standard issue- they need to release a version that has a peer dependency that includes eslint@3.0.1. They may not be ready to do that. If you want to

[2016-07-07 02:41] daizhan commented on #6602
@mysticatea  it not work yet even if I replace `eslintConfig` in `package.json` with `.eslintrc.json` .
but it's ok if I run it in my home directory with any case.
![b58a tmp](https://cloud.githubusercontent.com/assets/5318547/16641011/4416f90a-442f-11e6-985c-15d8b2b43872.png)

[2016-07-07 02:46] platinumazure commented on #6614
My personal take is that this might not merit inclusion as a core rule unless we can see evidence that this is a serious problem (or an important component of a popular style guide). I think this would be great as a custom rule or a plugin rule. But that's just my take-- we can see what the rest of the team thinks.

[2016-07-07 03:04] platinumazure commented on #6605
Alright folks, I'll work on this. Here's how I'm going to do this:

1. Create a PR to fix the currently inaccurate migration guide docs (remove `useSpecificConfig`).
1. Create a PR to allow `baseConfig` as a configuration and add that information to the migration guide.

Let me know if there are any questions or concerns.

[2016-07-07 05:38] SimenB commented on #4483
My thinking is that linting doesn't really have to run on more than one version, it's the tests that has to. Consumers won't run linting on the code, but they will run the code, so it's good to have the tests run on many versions. But just skipping eslint on older versions is no real issue.

[2016-07-07 05:57] isiahmeadows commented on #4483
@SimenB That's why I change the version temporarily. I'll lint on all builds because if it won't lint, I don't trust it to waste time running, but I only need the latest stable to run it.

[2016-07-07 09:19] MethodGrab commented on #6196
I'm also experiencing this problem:

**What version of ESLint are you using?**
v3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Consider the following examples:

[code]

**What did you expect to happen?**
The above test file should output **2**

[2016-07-07 10:43] monolithed opened #6619 "Proposal: Require an empty line between "switch-case" statements (newline-between-switch-case)"
## Proposal:

Require an empty line between `switch-break` statements (newline-between-switch-break) #6619
 (`newline-between-switch-break`)
### Options

This rule has an object option:
- `"spaceAfterBreak": true` (default).
- `"spaceBeforeBreak": false`
### Relative
- The curlies should be covered by `padded-blocks`.

[code]
- Comments should be covered by `lines-around-comment`:

For consistency

[2016-07-07 12:41] platinumazure commented on #6619
Just checking, are you looking for an ESLint rule that requires a line break between cases?

[2016-07-07 12:45] monolithed commented on #6619
Yep

[2016-07-07 12:53] platinumazure commented on #6619
Weird, I thought we had a rule for this, but my search attempts on the ESLint website unearthed nothing.

Please edit your original post to follow the [Proposing a New Rule](http://eslint.org/docs/developer-guide/contributing/new-rules#proposing-a-rule) guidelines, so we have a better idea of what is being requested here. Thanks!

[2016-07-07 13:03] jrajav commented on #6606
Personally, I'd be happy with at least being allowed to indent the extra lines (beyond the ones `?` and `:` live on) one extra level. However, one step further would be to *enforce* the indent at that extra level - no "fuzziness", it's just the new expected indent level if you configure `"multilineTernary"`. So line 3 in my original example has a new expected indent level of 3 instead of 2, and wi

[2016-07-07 13:14] platinumazure commented on #6606
Ah, now I see, you have a two space configuration in your example. My mistake.

I get the feeling this could be pretty complicated to implement. Let's see what the team thinks.

[2016-07-07 13:38] kewisch opened #6620 "Make prefer-template more customizable"
**What version of ESLint are you using?** 2.13.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:** `"prefer-template": 2`

**The problem you want to solve**
I would like to use the [prefer-template](http://eslint.org/docs/rules/prefer-template) rule to make some of our code prettier. I would like to be able to control under which situat

[2016-07-07 14:03] platinumazure commented on #6620
Hi @kewisch, thanks for the issue (and for following the proposed rule change guidelines)! This seems like a potentially worthwhile addition. We can accept this issue once someone on the ESLint team champions this rule and three other people endorse the change (with no one voting against it).

I'm not sure about the option names-- they might need to be tweaked. To me, it's not immediately clear if

[2016-07-07 14:05] alberto commented on #6614
As you mentioned they are not equivalent, since the template ensures you get a string.

[2016-07-07 14:37] rgant commented on #6617
Sorry, I wasn't clear on the divisions between the different projects. I wasn't expecting `eslint --init` to actually install any npm packages at all. I do feel that if eslint is going to suggest a "popular style guide" it should only list ones that are actually compatible with the current version of eslint.

I will open a ticket with eslint-config-standard.

Thanks

[2016-07-07 15:02] platinumazure commented on #6617
@rgant In that case, the issue seems to be that ESLint wants to install packages at their "latest" version, but that doesn't take into account peer dependencies. I believe we rely on the `npm` executable for all of this, so the question becomes if `npm` has a way of determining if a peer dependency relationship is satisfied prior to installing a package or not. If `npm` supports that, perhaps we c

[2016-07-07 15:03] alberto commented on #6620
I don't this this is a general enough concern to deserve an option, but you can always create a custom rule tailored to your needs

[2016-07-07 15:13] rgant commented on #6617
It would be best if there was an automatic solution to detecting compatibility issues, however I believe that the list of "popular style guides" is curated by the developers of this project: https://github.com/eslint/eslint/blob/3e690fb2cbb427c52cdb8836edb7eba667095b17/lib/config/config-initializer.js#L318

So all I am suggesting is that if a particular config package cannot be installed in the cu

[2016-07-07 15:19] platinumazure commented on #6617
We've definitely had users complain about packages not being installed/available, so that's why we made the change to install packages during `eslint --init`. Maybe a CLI flag could be discussed to avoid installing packages automatically (e.g., `eslint --init --no-install-packages`), but that seems like a separate issue.

And yes, we curate the list of available packages, but that doesn't mean we

[2016-07-07 16:09] adamterlson commented on #5812
By this logic, you should also not allow any assignment in the constructor either:

[code]
Also, this shouldn't be allowed either:
[code]

I am very curious to hear what your use case is that this microoptimization has meaningful performance implications.

[2016-07-07 16:34] rgant commented on #6617
I am just starting out using eslint, but I do appreciate the work you've done. It's already helped me resolve several issues with my application. I honestly don't want to badger you over this. I got what I needed configured and am happily using eslint on my app. I'll stop after this.

There is a `--dry-run` flag for the npm install command:
[code]

You could add something like this:
[code]
to http

[2016-07-07 16:35] nzakas commented on #6613
@TheCycoONE we never intended to support assignment as in your example, and I'm not entirely sure it makes sense to do so because the IIFE isn't really "outer" at that point. I can see an argument for supporting unary operators before the IIFE, but I'm not sure about assignment.

[2016-07-07 16:42] nzakas commented on #6611
Yeah, I think the logic is messed up.

@joshkel in the future, please be sure to use our issue template to report bugs. It really helps us a lot.

[2016-07-07 16:51] monolithed commented on #6619
@platinumazure, done

[2016-07-07 17:10] TheCycoONE commented on #6613
Alright. We're using module pattern so the top of the file contains the assignment to the namespace. We use large (vim default 8 space tab) indentation and avoid indenting the entire file. Similar to Google's goog.scope we don't indent for namespaces. Perhaps a new *namespace* indent option could catch both of those cases?

wojdyr mentioned the Google case as his original concern in https://github

[2016-07-07 17:12] platinumazure commented on #6619
@monolithed Thanks, I appreciate the examples.

What about intentional fallthrough? Should those have line breaks in between as well (or perhaps, should that be configurable)?

[2016-07-07 17:33] alberto commented on #6616
Seems reasonable to me.

[2016-07-07 17:46] wojdyr commented on #6613
I added the examples with unary operators just for completeness, but I'm also interested only in the case with assignment.

I thought that *outer* refers to namespace (i.e. outer = not in another function) not to AST.

[2016-07-07 17:48] nzakas opened #6621 "MockFS error when testing on Node 6"
In our automated tests, there is a failure in Node 6 due to MockFS doing something. Example:
https://travis-ci.org/eslint/eslint/jobs/142938850

We should get this figured out so we are properly testing on Node 6.

[2016-07-07 17:49] nzakas commented on #6605
@platinumazure sounds good. Do you have an ETA?

[2016-07-07 17:51] #5613 closed

[2016-07-07 18:01] platinumazure commented on #6605
@nzakas Now that #6618 is merged, I should be able to open the second PR today or tonight. I've already committed the changes to a branch.

[2016-07-07 18:03] alberto commented on #6621
This started failing yesterday, coinciding with the [release of node@6.3.0](https://nodejs.org/en/blog/release/v6.3.0/).

[2016-07-07 18:13] platinumazure opened #6623 "Need to handle Node <4 users better (show better error message, possibly lock down version)"
**The version of ESLint you are using.**

3.x

**The problem you want to solve.**

Provide better error messages when users running an unsupported Node engine version are using ESLint.

**Your take on the correct solution to problem.**

Two basic options:

1. Detect Node engine version and throw an exception for unsupported versions (using package.json to avoid hardcoding, and ideally using a pre-

[2016-07-07 18:36] joshkel commented on #6611
@nzakas - Will do. Sorry for the inconvenience.

[2016-07-07 18:40] monolithed commented on #6619
@platinumazure, done

[2016-07-07 18:52] ilyavolodin commented on #6617
That might not be a bad idea to add `--dry-run` first, and at least show clear messaging about why we can't install something.

[2016-07-07 19:19] platinumazure commented on #6619
Awesome. FYI, I think the `spaceAfterFirstBrace` and `spaceBeforeLastBrace` should be covered by the `padded-blocks` rule.

[2016-07-07 19:58] btmills commented on #6619
1. I agree with @platinumazure that spacing between the curlies should be covered by `padded-blocks`.
1. It sounds like the goal here is to control the spacing between the `case`s (and the `default`).
    1. In that sense, configuring the newline _before_ a `break` seems to be a separate concern, especially since `break`s can occur elsewhere outside of a `switch`. We have `newline-before-return`.

[2016-07-07 21:42] monolithed commented on #6619
Thanks, fixed

`spaceAfterBreak` and `spaceBeforeBreak` (reasonable):

[code]

`spaceAfterBreak` and `spaceBeforeBreak` (needlessly):

[code]

This cases are covered by `padded-blocks` and `brace-style`

Maybe we should add the rules for `padded-blocks`?

Sounds reasonable to me, thanks ! Fixed.

[2016-07-07 22:06] nzakas commented on #6586
Per [TSC meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2016/07-Jul-2016.md#httpsgithubcomeslinteslintissues6586), we agree that we should rename `no-native-reassign` to `no-global-reassign` for clarity. The `no-native-reassign` rule will be deprecated and fall under our regular deprecation policy (so as to avoid a breaking change).

This involves:

1. Copying all `no-native-rea

[2016-07-07 22:07] #6066 closed

[2016-07-07 22:08] nzakas commented on #6190
Per [TSC meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2016/07-Jul-2016.md#httpsgithubcomeslinteslintissues6190), we think there's value to this capability but would like to see a prototype before deciding whether or not to include it in the core. This would be to evaluate just how much code change is necessary and how it would integrate into the end-user experience.

Please us

[2016-07-07 22:11] nzakas commented on #5968
Per [TSC meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2016/07-Jul-2016.md#httpsgithubcomeslinteslintissues5968), we don't believe that it makes sense to disable ES6-only rules when `ecmaVersion` is less than 6. We don't think the user experience of enabling a rule and having it disable itself based on `ecmaVersion` is good or expected and instead recommend people create separa

[2016-07-07 22:11] #5968 closed

[2016-07-07 22:11] nzakas commented on #5891
@scriptdaemon let's keep it simple and just do classes for now (since that was your original request).

[2016-07-07 22:12] nzakas commented on #5891
This enhancement was approved in the [TSC meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2016/07-Jul-2016.md#httpsgithubcomeslinteslintissues5891). I'll champion it.

@scriptdaemon thanks for sticking with us on this, I know it's been a long discussion. Are you still up for implementing this change?

[2016-07-07 22:14] nzakas commented on #4345
Per [TSC meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2016/07-Jul-2016.md#httpsgithubcomeslinteslintissues4345), we decided that globally excluding comments has too many problems and we shouldn't proceed down that path. We do think it's useful to be able to exclude configuration comments from `lines-around-comments`, and have decided on adding an `ignorePattern` option to the

[2016-07-07 22:16] jacksonrayhamilton commented on #6586
Just to clarify, will the rule be called `no-global-assign` or `no-global-reassign`? (In the meeting notes the former is used, but in your comment above the latter is used.)

[2016-07-07 22:25] platinumazure commented on #5968
Just to add, glob-based configuration (if that ever gets implemented) could make it easier to maintain one configuration that allows some files to use es6 rules.

[2016-07-07 22:37] kaicataldo commented on #6621
Might be relevant: https://github.com/tschaub/mock-fs/issues/137

[2016-07-07 22:40] ilyavolodin commented on #6190
Should original PR be considered as a prototype: #6188

[2016-07-07 22:41] ilyavolodin commented on #4345
I think `ignorePattern` should be made into helper method, so it can be reused across multiple rules, if necessary.

[2016-07-07 23:03] platinumazure commented on #6190
That looks like a pretty good prototype. If it is rejected and I get a chance to refactor the disable report logic (see #6592), I'd be interested in taking a crack as well.

[2016-07-07 23:08] fibric commented on #6586
Can Proxies solve this issue? Not used them now but I can imagine Proxies are helpful in such a case.

[2016-07-08 00:13] tschaub commented on #6621
Just started on fixes.  The v6 support in mock-fs was incomplete (missing `binding.realpath()`) and 6.3 will require a few additional changes.  Should have a new release out soon.

[2016-07-08 01:16] btmills commented on #6619
Nice examples! That helps clarify the problem. I'm envisioning the `newline-before-return` equivalent for `break` and `continue` as being almost identical to the `return` version, specifically in that it would exclude any statement that is alone in its block.

What about this?

- `"newline-before-flow-control": ["error", "always/never"]`: require an empty line before `break` or `continue` statemen

[2016-07-08 01:25] btmills commented on #6190
[I agree with](https://github.com/eslint/eslint/issues/6190#issuecomment-219764905) @michaelficarra in that I want this to run anytime I run ESLint. My ideal use case:

- Configure it like a rule (may lead to too many exceptions, but desirable if possible)
- Run with `eslint`
- Report like a rule, so it can even show up in editor integrations

[2016-07-08 01:35] btmills commented on #6616
Right now `func-names` is either "always" or "never". What about making it "always/recursive/never"? That would be a non-breaking enhancement and avoid a boolean object option.

[2016-07-08 01:49] #6621 closed

[2016-07-08 01:54] mysticatea commented on #6190
My ideal usage (sorry, I could not respond in TSC meeting) are:

- I don't use it in CI build in order to not break the build by the patch release of ESLint.

- I check it before commits in my local. (for all files.)
- I check it inside of my editor as same as ESLint rules. (for each file.)

I think it's fine to be worked in ESLint (core or plugin).

[2016-07-08 02:34] nzakas commented on #6586
@jacksonrayhamilton ooh, nice catch, I completely missed that. I think `no-global-assign` makes more sense.

@fibric proxies do not help this use case.

[2016-07-08 02:53] mysticatea commented on #6616
I think that we can address this issue as a false positive.

- [prefer-arrow-callback](http://eslint.org/docs/rules/prefer-arrow-callback) skips functions if the name of the function is used. This is similar to that.
- This fix would reduce warnings. (it's `patch` thing.)

[2016-07-08 03:29] mysticatea commented on #6602
The `.eslintrc` file of home directory is used only if there is no project setting.
This allows that the team members and CI tools use a consistent setting of ESLint for the project.

[2016-07-08 04:01] sandy11apr opened #6626 "AssertionError: Error message should be"
**What version of ESLint are you using?**
"eslint": "^2.13.1"

**What parser (default, Babel-ESLint, etc.) are you using?**
    "babel-core": "^6.10.4",
    "babel-preset-es2015": "^6.9.0",
    "babel-register": "^6.9.0",

**Please show your full configuration:**
{
  "name": "eslint-plugin-linter",
  "version": "1.0.0",
  "description": "Es Linter for proj code",
  "keywords": [
    "eslint",

[2016-07-08 04:05] platinumazure commented on #6626
If you read the expected/actual results of your assertion, you'll see that your expected message has single quotes around the identifier name, but the `context.report()` call does not.

Assuming you want the quotes, you should report the error like this:

[code]

[2016-07-08 04:08] platinumazure commented on #6626
As for a camelcase regex, it can definitely be simpler. Maybe start with this? (You can tweak later, if needed.)

[code]

[2016-07-08 04:11] sandy11apr commented on #6626
@platinumazure Great Thanks it work . Can you please suggest me UpperCamelCase and mandatory special char in Regex
using this now for UpperCamelCase
 /(^[A-Z][a-z0-9]+[A-Z]$)|(^[A-Z][a-z0-9]+([A-Z][a-z0-9]+)+$)|(^[A-Z][a-z0-9]+([A-Z][a-z0-9]+)+[A-Z]$)/,

and uppercase + underscore mandate rejex ??

[2016-07-08 04:15] platinumazure opened #6627 "Minor inconsistencies in CLI docs"
(Skipping bug report template since this is docs only)

I was reading through the [CLI docs](http://eslint.org/docs/user-guide/command-line-interface#h---help) and saw some minor inconsistencies between `-h` and `-v` (which I would expect to be pretty similar and simple):

* Both options mention that other CLI options are ignored. One option says "flags", the other "options". I like "options" bett

[2016-07-08 04:20] platinumazure commented on #6626
Hi @sandy11apr, please see my comment [above](https://github.com/eslint/eslint/issues/6626#issuecomment-231270580) for a first suggestion.

Can you explain what you mean by "uppercase + underscore mandate rejex"? Do you mean you need a regular expression for CONSTANT_VAR_NAMES?

If so:

[code]

Incidentally, you might find it helpful to read about [regular expression syntax](https://developer.mozi

[2016-07-08 04:28] sandy11apr commented on #6626
Yes I need Rejex for this CONSTANT_VAR_NAMES but /^[A-Z_]+$/ this will allow me to enter CONSTANTVARNAMES which should not...

Thanks for your help - I am Writing more eslint rules for Angular 2 - and following style guide (https://angular.io/docs/ts/latest/guide/style-guide.html)
for that if any thing is required i will reach you.. if you can suggest something for angualr 2 syntax eslint custom r

[2016-07-08 04:40] platinumazure commented on #6626
Fair warning: Regular expressions cannot (by themselves) detect words that should be split, such as in your CONSTANTVARNAMES example. What you might be able to do is use a regular expression to get the individual words (split on underscore or on camel case transition) and then validate each word against a words dictionary, but that will come with its own set of problems. Unfortunately, some proble

[2016-07-08 04:40] #6626 closed

[2016-07-08 04:44] platinumazure commented on #6531
After further digging, I don't think it's possible to prioritize reviewers, only flat-out whitelist with no fallback. I assume we don't necessarily want that, but if we think it could help prioritize PRs for the TSC members (based on their own familiarity), I could write a PR for that if we want to try it.

I can also reach out to the repo maintainers to see if the original proposal is an enhancem

[2016-07-08 04:49] platinumazure commented on #6299
Right now, some labels are the same color and are not obviously related (and some labels are close enough that it's hard for me to read them sometimes). So I can dig not wanting to have a bunch of labels be the same color, but right now they aren't even really unique. For example, rule and tsc agenda are basically the same, question and accepted are pretty close.

Anyway, these are just suggestion

[2016-07-08 04:53] platinumazure commented on #5188
Updated my list-- I think `one-var` won't happen due to `one-var-declaration-per-line` being enabled here. So the question becomes, do we implement `vars-on-top` or nix it? (If the latter, I'll send a PR to modify the style guide.)

[2016-07-08 04:55] platinumazure commented on #5738
I think my original reported case is simply too much of an edge case for this rule, so I'm going to close this. (Also, there's been no activity for over two months.) Thanks for the discussion.

[2016-07-08 04:55] #5738 closed

[2016-07-08 04:56] platinumazure commented on #5155
Closing due to lack of activity and because glob-based config will fix this, so this is sort of a duplicate.

[2016-07-08 04:56] #5155 closed

[2016-07-08 04:58] platinumazure commented on #5121
Agreed this should be tabled for now. Relabeling as evaluating/needs bikeshedding to reflect that.

[2016-07-08 05:07] platinumazure commented on #6592
Added a proposal to my first post.

[2016-07-08 06:30] jseminck opened #6628 "Documentation for padded-blocks rule is out of date."
Yesterday we spent quite some time figuring out how to correctly configure the `padded-blocks` rule.  The problem we faced was that we wanted to disable padding (use option `never`) for all `switches`, `classes` and `blocks`.

But the documentation doesn't mention the option {blocks: `never`}. It only mentions:
* String` "never"` (which applies to `blocks` only)
* `{switches: "never"}`
* `{classes

[2016-07-08 06:35] jseminck commented on #6628
Looks like my comment was incorrect. "never" according to code should still work as I interpreted the following line incorrectly initially. Will try to find out why it didn't not work for us.
https://github.com/eslint/eslint/blob/master/lib/rules/padded-blocks.js#L53

[2016-07-08 06:58] daizhan commented on #6602
I got it. @mysticatea  thank you very much.

[2016-07-08 08:48] alberto commented on #6628
Hi @jseminck thanks for commenting.

There is a mention in the docs about `blocks` as an object key:

We could add some examples there, though.

Your original assumption is correct, the string option only affects blocks, for backwards compatibility reasons. It's also mentioned in the docs

[2016-07-08 08:55] robations commented on #6052
Does this proposal include non-aligned multiline parameters? I have lots of code similar to this:

[code]

Currently eslint expects the sample to have 4, 8 and 4 spaces for the lines A, B, C above, rather than 8, 12 and 8.

[2016-07-08 09:02] mysticatea commented on #6052
@robations

1. This proposal is about function declarations (not call expressions).
2. I think inside of a parameter is indented normally.

[code]

[2016-07-08 09:04] alberto commented on #6356
Closing, since this is already done.

@nathanhammond you can use eslint@3 to lint your codebase using node>=4 even if you still support older node versions yourself.

[2016-07-08 09:04] #6356 closed

[2016-07-08 09:10] robations commented on #6052
@mysticatea
1. yes sorry, I misread this, is it worth raising as a separate issue? I searched through the issue tracker for duplicate issues but I won't pretend to have grokked everything.
2. Not sure I understand how this relates to my point, but yes.

[2016-07-08 09:21] alberto commented on #6623
I'm not sure we should do anything here. It's clearly documented in the [migration guide](http://eslint.org/docs/user-guide/migrating-to-3.0.0) and npm already shows a warning.

[2016-07-08 09:32] alberto commented on #6407
Can we use this issue to discuss about what features we would like to add and where we would use them?

For reference, you can see node@4 ES6 support at http://node.green/

[2016-07-08 09:37] mysticatea commented on #6052
@robations Ah, ... Hmm, some similar codes have been posted to #4161, but #4161 seems about another problem. ..... I found #4696.

[2016-07-08 10:01] alberto opened #6629 "Formalize major releases policy"
# Background
In line with https://github.com/eslint/eslint/issues/6244 and https://github.com/eslint/eslint/issues/5845, I'd like to discuss the merits of having a more predictable major release policy.

# Problems
Breaking changes cause disruption to end users. Shared configs tend to depend on a specific major version (e.g. [airbnb](https://github.com/airbnb/javascript/blob/master/packages/eslint

[2016-07-08 10:03] nathanhammond commented on #6356
Hey @alberto, I appreciate the quick note.

There is a minor distinction that has to be made which makes all the difference: we're not aiming to lint _our_ code (Ember CLI), we're aiming to lint the code of people who build applications using Ember CLI.

As we're delivering a bundled development tool we need to make sure that our upstreams (ESLint) support our target versions. Our support promise

[2016-07-08 10:07] alberto commented on #6356
Ah, gotcha. Thanks for your feedback, we'll take that into account.

[2016-07-08 10:14] alberto commented on #6144
Closing in favor of #6361

[2016-07-08 10:14] #6144 closed

[2016-07-08 10:31] ErisDS commented on #6356
Ghost has also committed to following the Node.js LTS roadmap. We have official support for LTS versions only, and drop support for old versions on the dates laid out in that plan.

We'd like to encourage as much of the Node.js ecosystem as possible to commit to following this plan, dropping support for older Node.js versions on the dates laid out. If we all drop support on the same day, this send

[2016-07-08 11:39] Muniek opened #6630 "ESLint using config file from the directory above"
**What version of ESLint are you using?**
3.0.1, 2.9.0
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
None or as empty as possible:

`
{
  "parser"  : "babel-eslint",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : fa

[2016-07-08 12:27] SergeyShablenko opened #6631 ".eslintignore not working"
my dependences:
[code]
.eslintr
[code]
code example
[code]
errors
[code]

Why eslint throws `strict`, `var`, `require` and other similar errors in file that doesn\`t contain them. Eslint docs says that eslint ignores node\_modules by default, but it seems like it\`s not working

[2016-07-08 12:47] platinumazure commented on #6630
Hi @Muniek, this behavior is expected- ESLint does not claim to know your project root automatically.

You have a couple of options here:

1. If you still have an eslintrc file in the project root, add `"root": true` to it. This tells ESLint not to use ancestor directories.
2. If you don't want to use an eslintrc file at all, use the CLI flag `--no-eslintrc` or the CLIEngine option `useEslintrc: f

[2016-07-08 12:52] platinumazure commented on #6631
Can you please include how you are running ESLint?

[2016-07-08 13:20] Muniek commented on #6630
Thanks for quick answer @platinumazure .
I understand that ESLint doesn't need to know the project root - but why would it look for the configuration file above the file I am calling eslint from?

Case:
cd ~/projects/project1
./node_modules/.bin/eslint . (or npm run lint which will do the same)

Why would eslint go to the upper directory looking for .eslintrc files? Also, it goes only one director

[2016-07-08 13:33] platinumazure commented on #6630
Well, that's why we recommend `"root": true` in project configuration files as a best practice.

[2016-07-08 13:49] Muniek commented on #6630
Alright, I understand. I am still slightly confused and believe it would be better to have it as opt-out option, but I get the technical constrains if ESLint doesn't know where is the project root.

Thank you for your time and help @platinumazure .

[2016-07-08 14:03] platinumazure commented on #6630
Glad to help @Muniek. Incidentally, if you haven't had a chance to read the ESLint documentation, you might find it pretty helpful, especially [this section](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) on Configuration Cascading and Hierarchy. Hopefully that will help everything to make more sense.

Closing this issue for now-- please reopen if I haven't an

[2016-07-08 14:03] #6630 closed

[2016-07-08 14:04] platinumazure commented on #6628
@pedrottimark Wondering if you could take a look at this issue and see if you think we could improve the information architecture in the `padded-blocks` documentation.

[2016-07-08 14:06] SergeyShablenko commented on #6631
[code]

[2016-07-08 14:13] #6605 closed

[2016-07-08 14:15] gyandeeps commented on #6627
Example for `-h` will be huge since it prints all the cli options. Personally I dont think we need an example for that.

[2016-07-08 14:17] gyandeeps commented on #6299
I am going to close this since we have reached a conclusion point.

[2016-07-08 14:23] platinumazure commented on #6627
Ah, I meant just the command line, similar to what is used for `-v`.

I'm also okay with removing the example for `-v`. It's the inconsistency
between the two that bothers me.
On Jul 8, 2016 9:15 AM, "Gyandeep Singh" <notifications@github.com> wrote:

[2016-07-08 14:40] alberto commented on #6631
Your loaders should be in reverse order, you are running eslint on babel output.

[2016-07-08 14:40] #6631 closed

[2016-07-08 14:42] monolithed commented on #6619
@btmills, Sounds reasonable. I like your suggestion.

[2016-07-08 14:46] michaelficarra commented on #6299
Have we really? We have 4 contributor 👍s and 1 👎.

Sounds like just about everyone supports this.

[2016-07-08 14:58] nzakas commented on #6299
@michaelficarra that's a bit of a stretch as there are 18 team members.

I'm still very much against such homogenization. If we need to tweak some colors to avoid confusion, I'm fine with that, but recoloring build, cli, rule, etc. to be the same color seems like a horrible idea to me. I don't see any functional value.

[2016-07-08 15:13] nzakas commented on #6407
@alberto yup, we can do that. I think we need to include the rules in the discussion because part of the reason to use ES6 features is to dogfood more rules. I think we should err on the side of choices that allow us to enable the most rules.

[2016-07-08 15:18] nzakas commented on #6577
From what I know, the cron jobs just run your normal Travis build on a schedule, you can't have a different build.

I've got a new VM that I'll setup Jenkins on. That's probably going to be easier.

[2016-07-08 15:18] platinumazure commented on #6299
Thanks for reopening the discussion.

I can definitely understand that for me and others like me, a color could be useful as an indication of the label category, and that I can quickly read the label to know what the issue is about in that category; whereas for @nzakas and others like him, a color would be more useful as a unique representation of the label itself.

I don't mind things the way the

[2016-07-08 15:21] nzakas commented on #6583
@mysticatea I think the problem with that is it will skip over blank lines and comments, so we will still have multiple warnings.

[2016-07-08 15:36] kaicataldo commented on #6407
Some easier wins:
* Template literals and the prefer-template rule
* object shorthand notation and the object-shorthand rule (configured with "always")

On a side note,  I'd be willing to go through and make the necessary changes for both of these (most likely in batches to make it easier).

[2016-07-08 16:18] ilyavolodin commented on #6299
I actually really like how [stylelint](https://github.com/stylelint/stylelint/labels) does their labels. Maybe we can do something similar? But if we leave labels as they are, I'm not sure I would want them colored in a proposed way.

[2016-07-08 16:38] mgol commented on #6577
Hmm, the Travis docs for the cron jobs mention an environment variable specifying you're in the cron job available:
https://docs.travis-ci.com/user/cron-jobs/#Detecting-Builds-Triggered-by-Cron
Is it not enough to do sth like:
[code]
?

It's true you can do more on Jenkins but Jenkins has to be managed, updated etc. which is not always easy to keep up with so if sth can be done with Travis it may

[2016-07-08 16:49] nzakas commented on #6623
@platinumazure what is the problem users are having right now?

[2016-07-08 17:16] nzakas commented on #6407
One thing I experimented with is to replace exported objects that act as namespaces with classes that have static methods. Example: https://github.com/eslint/eslint/pull/6570/files#diff-61778371a8bd3b0a5b0ab9c9c92a6cd6L33

I personally like this style because:

1. We can give the class a name that matches how it's used elsewhere.
2. Tests our class parsing and class rules.

However, I'm not marrie

[2016-07-08 17:18] #6532 closed

[2016-07-08 18:18] gyandeeps commented on #5188
Should we enchance the `valid-jsdoc` config to also check for types using the option `preferType`.
So use `boolean` and not `Boolean`, etc?
I know I have seen @nzakas point these things out in PR.

[2016-07-08 18:21] platinumazure commented on #5188
@gyandeeps Absolutely yes, was just about to come back and add that to the list. Glad you agree.

[2016-07-08 18:32] nzakas commented on #6577
@mgol ah, that's interesting. I always feel like branching conditionals in this way is a great way to cause trouble without realizing it. IMHO, it's best to have something completely separate so as to avoid trouble.

[2016-07-08 18:33] nzakas commented on #5188
@gyandeeps Yes! I'll do that now. :)

[2016-07-08 19:03] mikesherov commented on #6407
I agree that we should use classes but only when we expect to use instances rather than an entire static class, for which I prefer the singleton object pattern we've been using.

Creating a class IMO signifies the intent to use instances. maybe that's just me. Also, if one of the benefits is the ability to name the class, you can do that with objects too:

[code]

I agree we should be using classe

[2016-07-08 19:11] nzakas opened #6633 "Make valid-jsdoc fixable (the parts that are possible)"
As I just painfully went through and updated our JSDoc comments by hand, it seems like there are a least a couple of things in `valid-jsdoc` that we can make fixable:

1. Replacing `prefer` tags
1. Replacing `preferType` types

This might be a bit tricky as I'm not sure how much location information we get from Doctrine, but worth looking at to avoid future pain.

[2016-07-08 19:18] jedwards1211 opened #6635 "eslint no-redeclare errors if two classes have a static prop of the same name"
Suddenly after an npm install I got slammed with this, I'm assuming from some semver-compatible update to eslint or something related.  Woohoo.

**What version of ESLint are you using?**
6.1.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint@6.9.0
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[

[2016-07-08 19:23] nzakas commented on #6299
@platinumazure can you share which labels currently give you the most trouble? Maybe we can solve that pain point by shifting some of their colors.

[2016-07-08 19:26] nzakas commented on #6613
The original purpose for this option was to support the jQuery style guide:
https://contribute.jquery.org/style-guide/js/#full-file-closures

And, once I looked back at that, it seems that they do support assignments so we should as well.

I'll champion this change.

@TheCycoONE are you willing to implement this once accepted?

[2016-07-08 19:32] jedwards1211 commented on #6635
I don't get these errors with babel-eslint 6.0.5.  I'll reopen the issue there.

[2016-07-08 19:32] #6635 closed

[2016-07-08 20:20] #6611 closed

[2016-07-08 20:29] gyandeeps commented on #6633
How we consume it inside eslint correctly, we dont have any location info for comments.

[2016-07-08 20:33] gyandeeps commented on #6633
How we currently use we dont have line numbers at all. if we activate `lineNumbers` option for `doctrine` then also we only get the line number but info on column.

[2016-07-08 20:34] ilyavolodin commented on #6613
:+1:

[2016-07-08 20:37] markelog commented on #6613
Also, created issue on jquery config repo - https://github.com/jquery/eslint-config-jquery/issues/4

[2016-07-08 20:38] ilyavolodin commented on #6633
Can we enhance Doctrine to return all location information. Since it's part of our org, it seems like that would be something doable. In general I'm :+1: if it's possible to do.

[2016-07-08 20:39] mikesherov commented on #6613
:+1:

[2016-07-08 21:02] ilyavolodin commented on #3229
:+1:

[2016-07-08 21:08] xjamundx commented on #6427
@ilyavolodin sure it's an exception. That code doesn't follow the standard callback pattern.

[2016-07-08 21:32] ilyavolodin commented on #6427
I'm not against it, but I think it's too situational for inclusion into the core.

[2016-07-08 21:37] markelog opened #6636 "Edge case with `no-unused-expressions` rule"
**What version of ESLint are you using?**
3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
To not show the error

**What actually happened? Please include the actual, raw output from ESLint.**
it show

[2016-07-08 22:10] basicdays commented on #6563
Just wanted to also give a heads up that apparently this pattern is getting recommended in the React documentation as well: https://facebook.github.io/react/warnings/unknown-prop.html

[2016-07-08 22:21] btmills commented on #6543
@sstur Just checking in, how are things coming along? Is there anything I can do to help?

[2016-07-08 22:32] platinumazure commented on #6563
Awesome, thanks for editing your post. Seems reasonable to me as long as it's been behind an option. Let's see what the team thinks.

[2016-07-08 22:33] xjamundx commented on #6427
Any plugins you think might want something like this?

[2016-07-08 22:48] btmills commented on #6636
This is behaving as I would expect it to. It's not complaining about the assignment expressions, just the sequence expression. If you get rid of the sequence expression by removing the comma, then it shouldn't complain anymore, and the code will still be functionally identical.

[2016-07-08 23:01] platinumazure commented on #6636
Well, is there perhaps room for an option where, given a SequenceExpression, the rule would check that all elements of the sequence have side effects and warn if any do not?

[2016-07-08 23:08] ilyavolodin commented on #6427
Hmm.. No idea, sorry. Let's see what the rest of the team thinks. If others feel strongly that it should be included, I'm not opposed.

[2016-07-08 23:18] markelog commented on #6636
Yes, that code is identical i.e. all expression is such code are used, which looks like contradiction to the meaning of that rule?

[2016-07-08 23:24] markelog commented on #6636
To get things a bit more interesting, this code also will be flagged -
[code]

[2016-07-08 23:30] btmills commented on #6636
The expressions inside the sequence both have side effects, so they're fine, but the sequence expression itself is unused and unnecessary.

[2016-07-08 23:39] platinumazure commented on #6636
@btmills What about expressions like `a() && b()`? Couldn't we say the conditional expression could also be useless even though each part of the conditional expression is useless?

[2016-07-08 23:42] btmills commented on #6636
In that case, the `CallExpression`s `a()` and `b()` would be useful as they may have side effects, and the `LogicalExpression` should be useful due to the short-circuiting behavior, in which it would execute `b()` if and only if `a()` returns a truthy value.

[2016-07-08 23:42] scriptdaemon commented on #5891
@nzakas Excellent. Yes, I will work on this when I find the time.

[2016-07-08 23:46] markelog commented on #6636
Sorry i don't understand this train of thought

Yes, that statement is clear and real to me but we have different rule for it - http://eslint.org/docs/rules/no-sequences

[2016-07-09 00:00] mysticatea commented on #6427
Though it's trivial, just I felt `null` also is a literal, but `null` is valid here. 😜
If it's not core, eslint-plugin-node might be properly.
I don't have strong opinions.

[2016-07-09 00:13] mysticatea commented on #3229
👍

[2016-07-09 00:19] btmills commented on #6636
The [no-unused-expressions docs](http://eslint.org/docs/rules/no-unused-expressions) cover this case:

Based on that, a sequence expression is unused unless the return value is used.

[2016-07-09 00:22] markelog commented on #6636
This is still peculiar logic to me but if discussion was already transpired on it i'm closing this

[2016-07-09 00:23] markelog commented on #6636
btw, what are correct labels for ticket like this?

[2016-07-09 00:29] markelog commented on #3229
ok-ok, thanks, i'm on it :)

[2016-07-09 00:33] mysticatea commented on #6613
:+1:

[2016-07-09 00:33] vsemozhetbyt opened #6637 "Is this note in max-len.md obsolete?"
max-len [doc](https://github.com/eslint/eslint/blob/master/docs/rules/max-len.md):

1. The 'code point vs character' here seems to be in conflict with ES6 terminology (compare `fromCodePoint` vs `fromCharCode`). May be something about UCS-2 or 16-bit shoud be added.

2. ES2015 is available in Node.js. So may be some notes about maintained compatibility with old versions should be added instead, if

[2016-07-09 00:44] vsemozhetbyt opened #6638 "Data URI is not included in ignoreUrls option of max-len"
**What version of ESLint are you using?**

3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

`max-len: [2, 100, 2, { ignoreUrls: true, ignoreComments: false }]`

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**

No warning for Data URI

**What actually happen

[2016-07-09 02:31] mysticatea commented on #6583
@nzakas It checks whether the previous token of a statement node is included in the current unreachable range, in order to distinguish that a node is consecutive from the current range. So blank lines and comments are not a barrier. e.g.

[code]

This is a screenshot of a prototype.

![image](https://cloud.githubusercontent.com/assets/1937871/16705525/614f1dec-45c7-11e6-876d-ff35c17de371.png)

![i

[2016-07-09 05:24] adambuczynski commented on #6583
That looks good to me

[2016-07-09 06:00] mysticatea opened #6639 "Enhancement Proposal: auto fixing of no-var"
This proposal is it makes [no-var](http://eslint.org/docs/rules/no-var) rule fixable:

- It modifies most `var` declarations to `let` declarations.
- It does not modify a `var` declaration if the declaration has redeclaration(s) ~~in the same scope~~ because `let` declarations are not allowed redeclaration.
- (It does not modify any `var` declarations to `const` declarations. If it can become a `c

[2016-07-09 06:26] mysticatea commented on #6639
- It does not modify a `var` declaration if the variable is used from outside of the scope.

[code]

[2016-07-09 12:09] vitorbal commented on #6638
hi @vsemozhetbyt, thanks for the issue!

It looks like according to [this section of the code](https://github.com/eslint/eslint/blob/master/lib/rules/max-len.js#L74-L82) the regex that matches URLs doesn't match all URIs on purpose to avoid false positives. I'm guessing we would need a separate regex that checks for data URIs specifically.

Also, since the name of the option is `ignoreUr*L*s` and

[2016-07-09 12:24] vsemozhetbyt commented on #6638
@vitorbal Thank you for the detailed answer. Unfortunately, I think I can't implement this in PR because of lack of experience. However, I would be glad about any enhancement Eslint team will add to the rule.

[2016-07-09 14:50] ilyavolodin commented on #6639
:+1:

[2016-07-09 17:14] nzakas commented on #6355
I will champion this, which means we still need one more 👍 to accept this change.

[2016-07-09 17:18] nzakas commented on #6639
This would be awesome! 👍

[2016-07-09 17:22] ilyavolodin commented on #6355
:+1:

[2016-07-09 17:22] nzakas commented on #6638
@vsemozhetbyt in general, we ask the people reporting the issue to implement the change (see our [policy](http://eslint.org/docs/developer-guide/contributing/rule-changes)). We can guide you on how to make the change even if you've never worked on ESLint before. Otherwise, it's unlikely the change will be implemented.

I agree that this is an enhancement request, and I'll give a 👍

[2016-07-09 17:25] nzakas commented on #6637
Hmm, it should be "code units" instead of "code points", but otherwise accurate.

The ES2015 features in Node 4 aren't complete, so we can't remove this warning or make other changes.

[2016-07-09 17:35] nzakas commented on #6629
Hmm, there's not a lot to go on here. We have generally just done major releases when we have breaking changes to make (AFAIK, Node does the same). We always announce breaking releases ahead of time to give dependencies a warning.

I guess I'm just not sure what problem we are trying to solve here. Breaking changes are expected to break things, and we give fair warning already. Is there another co

[2016-07-09 17:45] nzakas commented on #6627
Agree that example for `-h` is overkill (especially since the output is already included at the top). Feel free to adjust the language to be more consistent.

[2016-07-09 17:48] vsemozhetbyt commented on #6638
@nzakas I see. I've tried to refuse because I am not a professional programmer (programming is just my hobby) and I am not a native English speaker (so I may make many mistakes in documenting). I did suppose it was a bug, I would not dare to suggest a new rule or addition to rule to implement it by myself. However, if alternative is "me or nobody", I may try. I'm just afraid that making a good reg

[2016-07-09 17:50] nzakas commented on #6617
Maybe I'm missing something, but how does doing a dry run help? It seems to output the same error message.

[2016-07-09 17:51] platinumazure commented on #6617
I think the hook is we don't output dry-run and instead parse it for
possible install errors?
On Jul 9, 2016 12:50 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-07-09 17:55] vsemozhetbyt commented on #6637
Shoul I make a PR with "code points" replaced by "code units"? And my be "available in Node.js" could be replaced by "available in Node.js LTS"?

[2016-07-09 18:02] platinumazure commented on #6638
I'm not sure I see the value in this enhancement given `ignorePattern`.

[2016-07-09 19:15] ilyavolodin commented on #6617
@platinumazure Is correct. Instead of outputting raw npm error message, we can at least say something about `Failed to install style-guide due to version mismatch. Please see our repository for more details", or something like that.

[2016-07-09 19:31] alberto commented on #6617
I think it would be preferable not to list incompatible packages in the first place, even if we have to hand edit them

[2016-07-09 20:11] ilyavolodin commented on #6617
@alberto Every single time we do major version release all of those packages become incompatible for next few weeks.

[2016-07-09 20:17] platinumazure commented on #6617
Well, there's the whole release candidate thing so that packages have more time to adapt... but I know we had a good reason not to do it this time around (that being pain for the project lead).

[2016-07-09 20:29] platinumazure commented on #6636
Anything that turns out not to be a bug or enhancement request is usually labeled "question".

Personally I think there's something to be said for at least having a better freaking message for this case, because it's confusing as hell right now.

I'd like to reopen as an enhancement request to make the error message for SequenceExpression more clear (maybe even say, did you mean to have a semicolo

[2016-07-09 20:31] alberto commented on #6617
I know, that's why I said we would have to hand edit the list. I think it's a bad experience to show a list to a user and then tell him the style selected is not really available.

[2016-07-09 20:32] btmills commented on #6636
Something like "A sequence expression is unnecessary when its return value is unused"?

[2016-07-09 20:33] platinumazure commented on #6636
@btmills Sure, just something to clue people into the notion that it's the sequence expression that's the problem, not either of the subexpressions. That would work for me.

[2016-07-09 20:34] ilyavolodin commented on #6617
@alberto We could execute `dry-run` before displaying the list. And if install fails, we can just not show the that style-guide.

[2016-07-09 20:36] btmills commented on #6636
As long as there are no compatibility issues with changing a message in a minor release, :+1: from me.

[2016-07-09 20:36] platinumazure commented on #6617
@ilyavolodin @alberto One other possibility might be to see if `npm` has a Node API we could use, which could allow us to check more granularly in some cases. That doesn't solve the immediate problem, of course, but is it worth investigating?

[2016-07-09 20:40] platinumazure commented on #6636
Then we need a champion and two :+1: (or one if we count @markelog), I think.

[2016-07-09 21:44] kaicataldo commented on #6637
@vsemozhetbyt I don't think we should change it to "available in Node.js LTS" because we will continue supporting Node 4 for the foreseeable future.

[2016-07-09 21:52] vsemozhetbyt commented on #6637
@kaicataldo Got it. And what about "code points" -> "code units"?

[2016-07-09 21:56] kaicataldo commented on #6637
Sounds like @nzakas is on board - I say go for it :) Here's some more info on making a PR: http://eslint.org/docs/developer-guide/contributing/pull-requests. Thanks for contributing!

[2016-07-09 22:06] ilyavolodin commented on #3565
Looks like Node is running eslint in parallel also, at 40 threads. Code here: https://github.com/nodejs/node/blob/master/tools/jslint.js

[2016-07-09 22:22] vsemozhetbyt commented on #6637
@kaicataldo I am on it soon.

@nzakas @kaicataldo By the way, it seems the team can get string code point length in Node 4. The spread operator (`[...str].length`) or unicode RegExp (`str.split(/[^]{0}/u).length`) are not supported in Node.js 4, but this way I've just checked on Node.js 4.4.7 and it is OK:

[code]
[code]

[2016-07-10 02:50] ilyavolodin commented on #6577
I'm trying to setup regression build, but I'm having very hard time finding projects that I can use. Any suggestions would be appreciated. Here's what I've tried:

* NodeJS - Their setup is really strange. I'm not even sure how they run lint. ESLint seems to be cloned into their repository.
* Underscore - They are using ESLint version 1.10, so using latest outputs a bunch of errors
* React - I can

[2016-07-10 04:25] TheCycoONE commented on #6613
I'm not familiar with the code base, but I'll take a look on Monday and let you know if I can figure it out.

[2016-07-10 07:05] mysticatea commented on #6639
Thank you.
I will work on this.

[2016-07-10 10:11] michael-wolfenden opened #6645 "Unable to lint .eslintrc.js"
**What version of ESLint are you using?**
3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
The only files I have in my project is the configuration file with a semi-colon

[code]

and another file that also breaks the no-semi colon rule

[code]

[2016-07-10 11:20] #6637 closed

[2016-07-10 11:28] ahocevar opened #6646 "no-unused-vars confused when var is re-assigned with return value of function that takes it as argument"
3.0.1

default

https://github.com/openlayers/eslint-config-openlayers/blob/master/index.js

https://github.com/openlayers/ol3/blob/9b3c4294c146dd929ecd4c8c0188dfc01580e30c/src/ol/render/canvas/canvasreplay.js#L1085-L1090

Like in v2.x, I would expect that eslint does not complain, since `offset` is clearly used.

eslint complains about `offset` being defined but never used:
[code]

This problem c

[2016-07-10 11:38] alberto commented on #6645
Duplicate of https://github.com/eslint/eslint/issues/4828

[2016-07-10 11:38] #6645 closed

[2016-07-10 13:23] dinoboff opened #6647 "`no-magic-number` and composed constants"
**What version of ESLint are you using?**
v3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
index.js
[code]

[code]
**What did you expect to happen?**
No error.

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-07-10 13:58] ilyavolodin commented on #6646
This should've been fixed with v3.0.1. @mysticatea could you take a quick look please?

[2016-07-10 14:24] gyandeeps commented on #6647
Technically speaking, rule is behaving correctly here. 1000, 60, 24 are magic numbers.

I think this is whats expected:

[code]

\* Change the variable names accordingly.

[2016-07-10 16:31] dinoboff commented on #6647
I don't think it improve readability.

I think adding a option to allow magic number in assignment would be useful.

[2016-07-10 17:42] ilyavolodin commented on #6647
This is an exact duplicate of #4226
This rule is supposed to be very strict. If it's doesn't fit your use-case, you should disable it.
Examples you provided might be readable, but here's an example of composed constant that wouldn't make sense to a lot of people:

[code]

Closing as duplicate of #4226

[2016-07-10 17:42] #6647 closed

[2016-07-10 17:45] markelog commented on #6636
Some people consider changes in output as breaking ones but i think it would be a big stretch to consider this only for major since breaking changes is more about output format not about info inside.

I think changing message would be a good idea (although i think separate issue would be better, since this one is not about the message, but it is a bit bureaucratic to do so) even though this is sti

[2016-07-10 18:56] monolithed opened #6648 "Add eslint-friendly-formatter"
[eslint-friendly-formatter](https://www.npmjs.com/package/eslint-friendly-formatter) is one the best reporters:

![img-2016-06-25-14-44-20](https://cloud.githubusercontent.com/assets/803674/16356523/79ccaba8-3ae3-11e6-8f5a-c04d210df1cc.png)
![img-2016-06-25-14-47-01](https://cloud.githubusercontent.com/assets/803674/16356532/dd76c03a-3ae3-11e6-93e3-c16260a28db9.png)
![img-2016-06-25-14-48-05](http

[2016-07-11 02:03] laurent-le-graverend commented on #6646
Having the same option with the following code and version 3.0.1

[code]

`'a' is defined but never used (no-unused-var)`

[2016-07-11 03:52] IanVS commented on #5149
Yes, I've dropped off the radar lately because of work (both in the office and in the yard), but I do plan to address this.  Thank you for the reminder.

[2016-07-11 09:39] mysticatea commented on #6646
Thank you for this issue.
I confirmed. I will fix this.

[2016-07-11 09:44] jerexyz commented on #2409
thanks @michaelficarra

[2016-07-11 11:55] mysticatea commented on #6647
[code]

[2016-07-11 14:31] onlywei commented on #6550
Is there any further discussion as to why this is now recommended? I believe this inconveniences users of [koa](https://github.com/koajs/koa) and [co](https://github.com/tj/co).

[2016-07-11 15:31] michaelficarra commented on #6636
👎 There are so many expressions that are not assignments or function calls. I don't think a custom message is needed for each of them, and I especially don't think a custom message is needed for sequences since they are so uncommon.

[2016-07-11 17:03] danny-andrews commented on #6361
@vsemozhetbyt Agreed. The current behavior is more than just confusing in certain cases. It can prevent you from overwriting options inherited from parent configs, as detailed in #6144. This prevented me from extending the airbnb config entirely.

@alberto Thanks for adding the `always` option for `eqeqeq`! I will open new issues/PR's for any other un-overridable options I find!

[2016-07-11 17:20] platinumazure commented on #6550
@onlywei Recommended means exactly, that-- recommended, not required. Users who use koa/co can certainly disable the rule in their config:

[code]

In general, any ESLint rule we recommend can be safely disabled as long as users know what they're doing. In the case of koa/co, there seems to be a good reason for going against the recommendation.

[2016-07-11 17:23] platinumazure commented on #6648
Per http://eslint.org/docs/maintainer-guide/issues.html#types-of-issues, since this is a new formatter (to us), I have marked this as a feature request instead of an enhancement.

[2016-07-11 18:42] HeroicAutodidact commented on #3845
Was this fixed?

I can lint a file with the following contents:

[code]

And no errors are raised (with indentation set to 2).

Even worse, though,  if I run `eslint --fix`, improperly indented code gets indented but leaves behind its comments.

[2016-07-11 21:56] #6628 closed

[2016-07-11 21:57] #6627 closed

[2016-07-11 22:00] ryanbriscall commented on #3837
Thanks for this feature, but I needed this for function names.  It works for variables, given the provided "catch (ignoreErr)" example.  But doesn't work for functions, say for example: function ignoreTest() { }.  I was expecting this "no-unused-vars" exceptions solution to work for functions too, since eslint is showing my unused function error as a "no-unused-vars" error.

[2016-07-11 22:31] ilyavolodin commented on #6557
Since this is part of AirBnB styleguide, I think we should consider adding an option for this. I don't like proposed name, however. Don't really have any ideas on how to name it though. I'll :+1: this

[2016-07-11 22:44] ilyavolodin commented on #3092
It looks like we lost track of this issue (with an open PR). As far as I can tell, there are two different approaches proposed to this change.

First one would create another configuration for this rule in the following format:
[code]
This does not cover newer enhancements to this rule that allow different style for `switches` and `classes` (although I guess proposed configuration could be expende

[2016-07-12 00:35] jokeyrhyme opened #6651 "proposal: extract CLI and settings handling into separate module(s)"
ESLint has very comprehensive and reliable CLI and settings handling features, just to name a few of my favourites:
- can use .eslintrc or .eslintrc.json or .eslintrc.yaml
- .eslintrc can "extend" from multiple installed shared configurations
- certain settings can be overridden from the command line

If we extracted these out into a separate library, other Node.js libraries could more easily prov

[2016-07-12 00:36] jokeyrhyme commented on #5040
Any interest in this? #6651 "proposal: extract CLI and settings handling into separate module(s)"

[2016-07-12 02:11] ilyavolodin commented on #6651
I think it's part of our long-long-term vision, but I'm not really sure we are ready for something like that right now. Also in some cases it will be problematic to separate items you listed above, since, for example, code that deals with configuration (extensions, cascading, extending, etc.) rely on our code that traverses directories.

[2016-07-12 07:01] nfroidure commented on #6557
Agree on the naming, not convinced by it too but nothing better came to me ;).

[2016-07-12 08:06] wooorm commented on #6651
@jokeyrhyme For this particular case I suggest using [`unified-engine`](https://github.com/wooorm/unified-engine) or [`unified-args`](https://github.com/wooorm/unified-args), which are specifically designed for retext! :)

[2016-07-12 09:49] jokeyrhyme commented on #6651
@wooorm oh, thanks for the tip! I'll go check those out. :)

[2016-07-12 10:02] jokeyrhyme commented on #6651
I have other projects where it would still be ideal for me to avoid duplicating all the CLI and .rc.json behaviour, so I'll see if unified-args does the trick. As unified-args is a little unified-specific, it may still be the case that a more general baseline is still something useful to extract from ESLint (or unified-args, for that matter).

[2016-07-12 10:46] FredyC opened #6652 "Rule no-sequences is misleading when different comma is left out"
**What version are you using?**
Version 2.11.1

**What did you do?**
[code]
**What happened?**
_Unexpected use of comma operator. (no-sequences), Line 4, Column 1_

**What did you expect to happen?**
I did forgot to add comma after the line `['location', AV('location')]` and got this misleading error messages telling me wrongly I cannot use comma on line 4: `['locale', <--`. Adding missing comma f

[2016-07-12 11:03] vsemozhetbyt commented on #6652
It seems like Eslint sees the expression

`['location', AV('location')]['locale', AV('locale')]`

as an array `['location', AV('location')]` and immediately added subscript operator (property accessor) `['locale', AV('locale')]`. And this is a valid code. However, in the subscript operator Eslint sees two expresions devided by comma: `'locale'` and `AV('locale')` as if you call a string, then thro

[2016-07-12 11:04] gvidon commented on #3474
@BYK I can still reproduce it with eslint v3.0.1

**Eslint config**
[code]

**Error message**
[code]

**Code caused exception**
[code]

No error if I remove second var declaration:
[code]

[2016-07-12 11:21] mysticatea commented on #6652
Thank you for this issue.

@vsemozhetbyt is right.

[code]

`'locale', AV('locale')` is a SequenceExpression since the comma of ★ is lacking.
I'd recommend a use of [no-unexpected-multiline](http://eslint.org/docs/rules/no-unexpected-multiline) rule. That rule would show better warnings for this kind of mistakes.

    Unexpected newline between object and [ of property access. (no-unexpected-multi

[2016-07-12 11:28] gvidon commented on #3474
Even this cause an exception:
[code]

[2016-07-12 12:27] FredyC commented on #6652
Thanks for a quick reply. I confirm that by enabling `no-unexpected-multiline` it's slightly better behavior for finding a problem and it did not influenced my current code, so it's a completely viable solution.

[2016-07-12 12:27] #6652 closed

[2016-07-12 14:10] nzakas commented on #6651
Agree with @ilyavolodin -- while we have talked about it as a potential way to go in the future, we are definitely not the point where it makes sense to consider such a change.

[2016-07-12 14:12] nzakas commented on #6648
We aren't adding any more formatters to the core. Since this formatter already exists, it would be best to remain as a separate package.

[2016-07-12 14:22] nzakas commented on #6577
How about jQuery and Babel?

[2016-07-12 14:25] nzakas commented on #6617
@platinumazure I think that's overkill for this. Let's remember, people only run this one time at the beginning of their project, so we should solve it in as lightweight a way as possible.

[2016-07-12 14:26] ilyavolodin commented on #6577
Haven't tried jQuery, I'll try it. Although they are not using any plugins/parsers, so it will only cover core rules. I have tried Babel, but I don't remember what were the problems I ran into.

[2016-07-12 15:36] gyandeeps commented on #6606
I want to hear what other have to say here but for me the above style is very very unique.
We are trying to solve `multi-line` indentations and I believe introducing ternary option right now will contradict how multi-line behaves.
Again, I want to hear from other on what their thoughts are.

[2016-07-12 15:40] ilyavolodin commented on #6606
Agree with @gyandeeps Both of the above examples look really strange to my eyes. I would've made them single line objects to make them more readable. I know it's a matter of personal preference, but unfortunately, we can't support every possible style out there.

[2016-07-12 15:42] gauntface opened #6654 "ignore-path .gitignore not working as expected"
**What version of ESLint are you using?**

    $ eslint -v
    v3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**

    babel-eslint

**Please show your full configuration:**

    {
      "parser": "babel-eslint",
      "extends": "google"
    }

**What did you expect to happen?**
**What actually happened? Please include the actual, raw output from ESLint.**

Eslint is looking at

[2016-07-12 15:48] alberto commented on #6654
You should use quotes around the argument to avoid shell expansion

`eslint --ignore-path ./.gitignore './**/*.js'`

or just

`eslint --ignore-path ./.gitignore '.'`

[2016-07-12 15:49] jgeurts opened #6655 "Invalid indent configuration - outerIIFEBody"
**What version of ESLint are you using?**
3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Any file will do - nothing specific

**What did you expect to happen?**
indent to run correctly

**What actually happened? Please include the actual, raw

[2016-07-12 15:51] gauntface commented on #6654
That is awesome - thank you sooo much.

[2016-07-12 15:51] #6654 closed

[2016-07-12 15:59] jgeurts commented on #6655
This looks like it was caused by using grunt-eslint and it having a dependency of 2.x. Sorry for the confusion!

[2016-07-12 15:59] #6655 closed

[2016-07-12 16:05] alberto commented on #6617
@ilyavolodin Would you run each one separately? That will probably take a few seconds. At what step would you do it? On init? When they say the want to use a style guide? What if there is none available?

I know disabling and enabling by hand with each major release isn't ideal either, but...

[2016-07-12 16:12] alberto commented on #6629
I'm trying to see if we could reduce the friction with major releases somehow. Plugin compatibility is probably the biggest one, as evidenced in #6617.

PS: Node has a predictable release schedule now: https://github.com/nodejs/LTS

[2016-07-12 16:42] alberto commented on #6616
Good point. @btmills do you see any value in having it as a separate option?

[2016-07-12 18:18] feross commented on #6617
I just updated `eslint-config-standard` (and related configs) to support eslint 3. (It's unfortunate that this release coincided with my two week vacation from open source.) This issue can be probably be closed now.

[2016-07-12 18:33] feross opened #6656 "Install all required eslint plugins for "standard" style guide"
**What version of ESLint are you using?**

3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**What did you do? Please include the actual source code causing the issue.**

eslint --init

Select `Standard`.

**What did you expect to happen?**

All the required eslint plugins would be installed.

**What actually happened? Please include the actual, raw output from ESLint.

[2016-07-12 18:36] feross commented on #6656
Just sent a PR to address this: https://github.com/eslint/eslint/pull/6657

[2016-07-12 18:37] ilyavolodin commented on #6617
AirBnB hasn't published their update yet (although they already made the changes). I also don't think eslint-config-google will work either, since XO hasn't been updated, and google relies on XO. So only Standard will work at this point.

[2016-07-12 18:43] jrajav commented on #6606
@ilyavolodin When it's only a single property, sure - this comes up more when there are multiple properties in an object.

It's probably a style that meshes more with `operator-linebreak: 'before'` and a ternary-heavy codebase, both styles that are more common in React projects where expressions are generally more useful than statements - that is, a more point-free functional style.

It would be p

[2016-07-12 20:01] #6656 closed

[2016-07-13 00:49] camjackson opened #6659 "no-use-before-define: don't report violation when the definition is in the parent scope of the usage"
Currently using 2.10.2 with eslint-config-airbnb + a few tweaks.

`no-use-before-define` is a great rule, and I definitely want to keep using it, in order to prevent code from relying on hoisting like this:

[code]

However, to me there's a big difference between the above code, where the usage and definition are in the same scope, and the below code, where the scopes are different.

[code]

The u

[2016-07-13 01:00] dinoboff commented on #6647
@ilyavolodin sorry for the duplicate.

Magic number in array access or object properties assignment is quite loose.

[2016-07-13 01:01] btmills commented on #6616
@mysticatea's argument makes sense. Right now "never" has the side effect of forbidding recursion, which is (supposed to be) unrelated to this rule. I'd support classifying this as a bug and excepting recursive named function expressions from "never".

[2016-07-13 01:36] mysticatea commented on #6659
Thank you for this issue.

This is duplicate of #6499, #6415, #4533, #4521, #3050, #1485, etc...
This is intentional behavior.

[2016-07-13 01:48] camjackson commented on #6659
My apologies, I did do a search before posting, but clearly not well enough.

[2016-07-13 01:48] alberto commented on #6659
Closing as duplicate.

[2016-07-13 01:48] #6659 closed

[2016-07-13 02:19] #6648 closed

[2016-07-13 10:38] peteward44 commented on #6355
I've had to close the previous PR and open a new one, #6662. Sorry about that. It's now rebased

[2016-07-13 14:21] TheKnarf opened #6664 "./node_modules/.bin/eslint doesn't work"
**What version of ESLint are you using?**
v3.0.1

**Node version**
[code]

**OS**
`System Version: OS X 10.11.5 (15F34)`

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do?**
[code]

**Description of problem**
Running `./node_modules/.bin/eslint` does not work and gives me the error over.
However running `./node

[2016-07-13 15:03] TheKnarf commented on #6664
Nuking the `node_modules` folder, updating npm (`npm i -g npm`) and reinstalling (`npm install`) fixed the issue.

[2016-07-13 15:03] #6664 closed

[2016-07-13 15:05] #4133 closed

[2016-07-13 15:24] #6383 closed

[2016-07-13 15:28] nzakas commented on #6617
Are issues open on each of those repos already?

[2016-07-13 15:33] nzakas commented on #6543
@btmills I'd say let's stick with "null" for now. If we get further requests for configuration, we can always add more options. I'm the meantime, we can have this new option only work with "always".

[2016-07-13 15:33] btmills commented on #6543
👍  works for me

[2016-07-13 16:02] ljharb commented on #4352
@hzoo this proposal is now stage 3. Could it be parsed in eslint core?

[2016-07-13 16:09] ilyavolodin commented on #4352
@ljharb ESLint doesn't support anything below stage 4 (with exception of object rest/spread).

[2016-07-13 16:16] ljharb commented on #4352
@ilyavolodin why not? Why is object rest/spread an exception but nothing else in stage 3?

Something being in stage 3 means, that barring some massive surprise performance issue discovered by browsers, that it almost certainly will ship. Browsers begin implementing in stage 3, since it's a stage 4 requirement that 2 browsers support something first. What this policy means is that eslint will be un

[2016-07-13 16:50] NickHeiner opened #6665 "Add option to only prefer-arrow-callback on single statement functions"
I would like to have a lint rule that only requires single statement functions to use the arrow callback style:

[code]

Right now, there is no way to express this with the eslint rules as far as I can tell.

I would add this as an option to `prefer-arrow-callback`. Something like:

[code]

I am currently using `eslint@3.0.1` and `Node v.4.2.1`. I'm happy to submit a PR for this if you'd accept it

[2016-07-13 17:12] nzakas commented on #6629
@alberto Again, this really isn't enough information to work on. Plugins, shared configs, etc., will always break when we do a major release until they are updated. The best we can do is give people fair warning when a new major version is released (which we do).

I'm not sure that moving to a periodic rather than feature-based major version makes much sense for us. Periodically incrementing the m

[2016-07-13 17:17] alberto commented on #6616
I'm working on this.

[2016-07-13 17:24] alberto commented on #6629
I don't have anything more concrete than that. Having a fixed schedule was just a possibility I was throwing. I opened the issue to see if someone had any ideas or opinions on how to articulate this. Since this doesn't seem to be the case, we can close it.

[2016-07-13 17:24] #6629 closed

[2016-07-13 17:56] NickHeiner opened #6668 "Add fixer for strict"
It may get tricky for some cases, but based on the config, it could be easy to apply a fix to insert `'use strict'` to solve a problem. I would be happy to send a PR for this if you'd accept it.

I'm using `eslint@3.0.1` and Node `v4.2.1`.

[2016-07-13 18:37] alberto commented on #6651
Closing since it's out of scope

[2016-07-13 18:37] #6651 closed

[2016-07-13 18:42] platinumazure commented on #6668
Presumably this could only be done in a small number of specific configurations. In order to help the discussion, can you please post some examples of when you think auto-fix could be applied and when you think it probably could not be applied? Thanks!

[2016-07-13 19:03] thefourtheye opened #6669 "chore: combine multiple RegEx replaces with one"
**What version of ESLint are you using?**

latest master

**What parser (default, Babel-ESLint, etc.) are you using?**

N/A

**Please show your full configuration:**

N/A

**What did you do? Please include the actual source code causing the issue.**

N/A

**What did you expect to happen?**

N/A

**What actually happened? Please include the actual, raw output from ESLint.**

N/A

---

I would like

[2016-07-13 19:03] thefourtheye commented on #6669
The proposed fix is in #6661

[2016-07-13 19:12] alberto commented on #6638
I'm with @platinumazure. Not sure this deserves its own special option

[2016-07-13 19:12] azhang496 commented on #3845
@xjamundx are you still working on this? if not i can take it on!

[2016-07-13 19:21] ikokostya opened #6670 "indent rule: Invalid indentation for array in sequencing function calls"
**What version of ESLint are you using?**

`2.13.1`

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**
- Operation system `Linux arch 4.5.4-1-ARCH #1 SMP PREEMPT Wed May 11 22:21:28 CEST 2016 x86_64 GNU/Linux`
- Node.js version `v4.4.3`

**What did you do? Please include the actual source code causing the issue.**

Source code:

[code]

[2016-07-13 19:24] platinumazure commented on #6669
Thanks for writing an issue! I'd love to see the proposed PR land. :+1:

[2016-07-13 19:26] platinumazure commented on #6670
Thanks for the issue!

Not sure if this is working as designed or not. Marked as a bug for now-- ESLint team, feel free to change to enhancement as needed.

[2016-07-13 19:34] platinumazure commented on #6665
Hi @NickHeiner, thanks for the issue! I agree this seems like a worthwhile enhancement, though I wonder if it could generalize to "require arrow functions if statement count is <= some number"?

I've gone ahead and filled out the [rule change request questionnaire](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change) for you, please let me know if I've gotten a

[2016-07-13 19:35] platinumazure commented on #6549
Ping @nkt, we need more information before we can determine what sort of issue this is. Can you please answer @vitorbal's question as well as @eslintbot's questions? Thanks!

[2016-07-13 19:43] vsemozhetbyt commented on #6638
Well, it seems we have "against" votes, so I better close it.

[2016-07-13 19:43] #6638 closed

[2016-07-13 19:46] NickHeiner commented on #6665
Yes, I'll use that form in the future. I thought that if I had all the necessary information, it wouldn't matter precisely which format it was in. Thanks for filling out the form for me this time! Your form is correct.

I like the idea of generalizing it to make the upper bound on the number of statements configurable.

[2016-07-13 22:18] alberto commented on #6586
@nzakas should we import the new one instead of just copying it? If it is deprecated, leaving the old copy intact seems reasonable to me

[2016-07-13 22:41] mysticatea commented on #6616
Thank you!

[2016-07-13 22:42] mysticatea commented on #6543
:+1:

[2016-07-13 23:35] ZiperRom1 opened #6671 "indent const complexe structure"
Hi,

I like all things to be align, and fortunately my awesome IDE PhpStorm 2016 has a quite nice configurable auto-format coding style.
I managed to make it work with all my eslint rules (with a eslint:all + some overrides) expect a complex one, here it is:

PhpStorm 2016 align

[code]

eslint align (with `eslint --fix` command)

[code]

So basically there is two problems
- eslint do not want obj

[2016-07-14 00:12] HeroicAutodidact commented on #3845
+I would think one would always want indentation of comments to be coupled with the node below. I can't think of any exceptions within my experience.

[2016-07-14 00:26] mysticatea commented on #6668
I think the fixing is:

- It should remove extra `"use strict"` directives (includes multiple). This is easy.
    - **Note:** if the next (or prev) statement is on the same line, it removes only the directive. Otherwise, it removes the whole line of the directive.
- It should insert a `"use strict"` directive for proper functions. This is easy.
    - **Note:** it uses double quotes since our `quot

[2016-07-14 02:59] acontreras89 commented on #3587
Please do not close this. I know it's been almost a month, but I think this feature would be a really nice addition.
I've never worked on this repo before, but I would definitely give it a go if no one is already working on it.

[2016-07-14 04:13] Gerhut opened #6673 "Formatter cannot escape ASCII control characters in XML report."
**What version of ESLint are you using?**

3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

Google

**What did you do? Please include the actual source code causing the issue.**

    console.log({'\b':'\\b'});

    $ eslint index.js --format checkstyle --output-file checkstyle.xml

open checkstyle.xml in google chrome

**What d

[2016-07-14 05:06] ilyavolodin commented on #4352
ESLint (or rather Espree) only implements stable features of ECMAScript. The only reason we have ES2016 support currently is because there's no meetings scheduled for TC39 between now and the time it's ratified (as far as I know), so there's no chance it will change at this point.

Object rest/spread was the exception out of that rule. We had way too many requests to support it, since React uses i

[2016-07-14 05:30] ljharb commented on #4352
@ilyavolodin ES2016 was ratified in June, so it's complete. However, the "yearly spec" is irrelevant - only what's on Github matters, which is all the things that are stage 4 (which luckily doesn't yet include any syntax changes).

As for `babel-eslint`, the creator of this tool (who i won't mention so as not to bother them) went out of their way to convince eslint-config-airbnb to remove that par

[2016-07-14 06:00] lukeapage commented on #6488
Fantastic, I'm getting the exact same problem - I was confused because the existing documentation for minProperties says `requires line breaks if the number of properties is more than the given integer` when it should have that extra text you added `Otherwise, disallows line breaks.`

IMO. `either` is quite a generic term and makes me think you are essentially switching off this rule, rather than

[2016-07-14 06:32] lukeapage opened #6674 "Typo in no-underscore-dangle option"
What issue does this pull request address?
Typo in no-underscore-dangle option - afterAfterThis should be allowAfterThis

What changes did you make? (Give an overview)
Changed the option.

Is there anything you'd like reviewers to focus on?
Nope.

[2016-07-14 07:56] vitorbal commented on #6671
Hi @ZiperRom1, thank you for your issue! I'm not sure I understand what you are asking, though.
Are you suggesting a new option for those rules to be able to get the same type of alignment that your IDE uses? Or is this a bug report?

[2016-07-14 07:59] bobbyrenwick commented on #3587
I've also been waiting with bated breath about this issue and would love to see it happen. Unfortunately I don't have the time to contribute at the moment but I'd support you all the way @acontreras89!

[2016-07-14 08:14] ZiperRom1 commented on #6671
Hi, there are two evolutions to solve this.
- Allow `key-spacing` to add spaces on multi-level object properties in the same hierarchy level even if there is more than one line between them.
- Allow variables to be indented with a non 4 multiple value (eg 6) if they follow a `const` declaration.

It is purely stylistic, the way this last rule is done currently is something like
[code]

While this

[2016-07-14 09:29] mysticatea commented on #6407
My 2 cents, I prefer a use of object literal extensions rather than classes in that case.
If it uses classes, I think it's confusing as people may feel that this can be instantiated at the first look.
Object literal extensions allow us enough simple notations.

[code]

 I think some class-like functions of [util](https://github.com/eslint/eslint/tree/master/lib/util) would fit for tests our class

[2016-07-14 12:21] patric-eberle opened #6676 "require-jsdoc does not lint shorthand method declaration inside object"
**What version of ESLint are you using?**
2.13.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
dragStart() and drop() should get a warning for missing jsDoc

**What actually happened? Please include the ac

[2016-07-14 12:47] #6674 closed

[2016-07-14 12:49] ilyavolodin commented on #3587
The issue is accepted and marked as "help wanted". That means that the team thinks that this is a good change, but we need somebody to implement it. However, as @nzakas said, we are first looking for complete proposal on what should change and with which option.

[2016-07-14 12:52] ilyavolodin commented on #6671
Basically, you are asking to change the behavior of all `VariableDeclarator` options from multiplier to actual number of spaces require?

[2016-07-14 13:48] shumphrey opened #6677 "eslint run with --stdin does not correctly set the exitCode"
**What version of ESLint are you using?**
v3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**
cat file | eslint --stdin
echo $?

**What did you expect to happen?**
I expect 1 to be printed

**What actually happened? Please include the actual, raw output

[2016-07-14 13:52] platinumazure commented on #6677
Just to be clear, is this something you expect because you know your file has lint errors in it, but the wrong exit code is being sent along? (If your file had no errors, then I would definitely expect an exit code of zero)

[2016-07-14 13:53] shumphrey commented on #6677
Yes, the file has errors.

    eslint file && echo $?

produces 1

    cat file | eslint --stdin
    echo $?

produces 0

[2016-07-14 13:54] platinumazure commented on #6677
Awesome. Appreciate the clarification- without the file and configuration, I had to be sure.

It does sound like a bug to me. Hopefully we can get this issue accepted quickly.

[2016-07-14 14:09] graingert opened #6678 "global-require false positive"
**What version of ESLint are you using?**
v3.0.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
var apiUrl = require('../config').apiUrl + '/api/v1/';
**What did you expect to happen?**
should be valid under global-require rules.
**What actually h

[2016-07-14 14:24] shumphrey commented on #6677
18fbc4b86ac9fb84fb370c68b9a60d9b70cafa66 introduced this bug.

Previously it did
[code]
Where as now it does
[code]

The former accounted for the async nature of <code>--stdin</code> where as the latter does not.

[2016-07-14 15:00] NickHeiner commented on #6668
I like those fixes.

Is this done automatically? Or do you mean that the user will manually run eslint with the fixer enabled multiple times?

[2016-07-14 15:01] platinumazure commented on #6668
Done automatically.
On Jul 14, 2016 10:00 AM, "Nick Heiner" <notifications@github.com> wrote:

[2016-07-14 15:04] Kflash opened #6679 "NodeJS 0.12 doesn't work - dependency conflict"
**What version of ESLint are you using?** 3.0.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?** I expected nodeJS 0.12 to work with latest ESLint version..

**What actually happened? Please include the actual, raw output

[2016-07-14 15:12] jeromecovington commented on #6679
Not sure if this helps, but is is possible for you to pin `eslint@3.0.0`? That version doesn't use `strip-bom` at all. https://github.com/eslint/eslint/blob/v3.0.0/package.json

[2016-07-14 15:13] molee1905 commented on #6679
http://eslint.org/blog/2016/07/eslint-v3.0.0-released#requires-nodejs-4-or-higher

[2016-07-14 15:28] ilyavolodin commented on #6679
As @molee1905 mentioned, starting with ESLint version 3, we dropped support for versions of Node earlier then LTS (4.0).

Closing as this is expected behavior. If you want to use earlier version of Node, please pin ESLint to version prior to 3.0

[2016-07-14 15:28] #6679 closed

[2016-07-14 15:29] ilyavolodin commented on #6678
Could you provide source code of the file you are linting? Is require the only line of code in that file?

[2016-07-14 15:30] graingert commented on #6678
@ilyavolodin it still fails with just that line

[2016-07-14 22:58] gyandeeps commented on #6676
`dragStart()` and `drop()` are not `MethodDefinition` rather they are key `Identifier` of a property.

[2016-07-15 02:00] ilyavolodin commented on #6577
I have a passing build that does the following:
eslint-plugin-react
eslint-plugin-html
eslint-plugin-import

Clone, upgrade ESLint and run unit tests

jquery

Clone, upgrade ESLint and run lint task (through Grunt)

I can either enable it now and keep adding more as we run it, or I can hold on, and add more before enabling it.

[2016-07-15 02:05] ilyavolodin commented on #6669
Since this is a very minor issue, marking as accepted.

[2016-07-15 02:06] #6669 closed

[2016-07-15 02:07] #6613 closed

[2016-07-15 02:08] #6646 closed

[2016-07-15 02:11] ilyavolodin commented on #6557
@eslint/eslint-team We need some more +1s here.

[2016-07-15 03:03] platinumazure commented on #6677
Pretty sure the commit was only done because we thought `process.exitCode = exitCode` was just cleaner/more efficient once we dropped older Node versions. If it needs to be reverted in order to get this working again, I have no problem with that.

[2016-07-15 08:13] zckrs commented on #1494
Since 2014 the rule `no-unused-vars` have news options.

You can use http://eslint.org/docs/rules/no-unused-vars#argsignorepattern

Example in `package.json`

[code]

[2016-07-15 08:51] shumphrey commented on #6677
I don't think it needs reverting.
It just needs the line <code>process.exitCode = exitCode</code> adding to the end of stdin callback

[2016-07-15 13:52] platinumazure commented on #6677
@shumphrey Thanks for the guidance.

In the same file, we have special handling for the `--init` flag. Assuming that callback is also asynchronous, should we also consider adding `process.exitCode = exitCode;` to the end of that callback? Thanks!

[2016-07-15 14:01] shumphrey commented on #6677
I'll check

[2016-07-15 14:07] danpoltawski opened #6681 "Enhancement: valid-jsdoc: Allow the omission of @returns when @chainable tag specified"
We make use [YUIdoc](http://yui.github.io/yuidoc/syntax/) documentation format, and have found the valid-jsoc rule fine for checking the yuidoc, one small niggle is that we make use of the [`@chainable`](http://yui.github.io/yuidoc/syntax/#chainable) tag and that implies that a `@return` tag is not necessary.

I understand this is not really standard jsdoc variant so is a controversial request. In

[2016-07-15 14:09] danpoltawski commented on #6681
Patch: https://github.com/eslint/eslint/compare/master...danpoltawski:chainable

[2016-07-15 14:13] mysticatea commented on #6677
I think we can remove the local variable `exitCode`, then use `process.exitCode` directly.

[2016-07-15 14:18] shumphrey commented on #6677
I agree

[2016-07-15 14:20] platinumazure commented on #6677
@mysticatea Can we accept this issue?

[2016-07-15 14:21] shumphrey commented on #6677
For what it's worth, the init stuff seems to be synchronous and I couldn't quickly get it to run the callback.
Anyway, I think @mysticatea is correct. Just get rid of the exitCode variable and have the blocks set process.exitCode as needed

[2016-07-15 14:24] kaicataldo commented on #6557
:+1:

[2016-07-15 14:33] mysticatea commented on #6677
I confirmed.

[code]

[2016-07-15 14:53] mikesherov commented on #6557
👍

[2016-07-15 15:08] #6639 closed

[2016-07-15 15:16] nzakas commented on #6676
@patric-eberle this rule does not check object literal methods, only class methods.

[2016-07-15 15:22] nzakas commented on #6673
Confirmed

[2016-07-15 15:24] mysticatea commented on #6678
Thank you for this issue.

I confirmed.

![image](https://cloud.githubusercontent.com/assets/1937871/16879226/a07c507a-4aea-11e6-9436-ea7f51e0c833.png)

But I guess probably this is an intentional behavior.
As mentioned in a previous discussion (#5773), `global-require` is the rule which emulates ES Module's `import` for `require`. Then we cannot use binary expressions in `import` declarations.

[2016-07-15 15:27] graingert commented on #6678
but it allows require('x').default();

[2016-07-15 15:30] nzakas commented on #6668
Hmmm, we need to think about this. Previously we've said we wouldn't do fixes that changed logic because they can introduce runtime errors (and it's unexpected that a lint fix would cause a runtime error, that's why we don't fix `eqeqeq`). So I think the only thing we can safely fix is removing duplicate strict directives as that doesn't change runtime behavior. I don't think we should ever insert

[2016-07-15 15:32] NickHeiner commented on #6668
That makes sense. For my personal use case, I wouldn't mind a more aggressive approach, but I agree that in general, you don't want a fixer to possibly modify runtime behavior.

[2016-07-15 15:34] nzakas commented on #6586
@alberto hmmm, good point. My concern was that having two rules that are the same would be confusing in the code base , but I suppose we can solve that by putting a deprecation comment at the top of the file.

[2016-07-15 15:36] nzakas commented on #6577
If there's no downside to enabling, I'd say turn it on now.

[2016-07-15 17:00] StoneCypher commented on #1494
cheers, thanks :smile:

[2016-07-15 17:58] onurtemizkan commented on #3587
I've started working on this rule a last week but got distracted by another thing. I can finalize it in upcoming days if no one else is volunteering.

[2016-07-15 18:07] onurtemizkan commented on #3587
I've started working on this last week but got distracted by another thing. I can finalize it when the complete proposal is defined, if no one else is volunteering.

[2016-07-15 18:16] markelog commented on #5858
hey @jdforrester was about to create sharable wikimedia config, i assume this issue is still relevant?

[2016-07-15 18:22] platinumazure commented on #6681
Hmm... Does this also need to be enhanced in Doctrine? Or is Doctrine smart enough to accept any tag, even tags it doesn't know about?

[2016-07-15 18:33] jdforrester commented on #5858
@markelog Yes.

[2016-07-15 18:46] #6677 closed

[2016-07-15 18:55] markelog commented on #5858
Grunt config created - https://github.com/markelog/eslint-config-grunt

[2016-07-15 18:55] markelog commented on #5858
Found Polyjuice issues reported - https://github.com/brenolf/polyjuice/issues/84

[2016-07-15 19:43] ZiperRom1 commented on #6671
Yes, more like an exception properties with a list of static allowed values.
Or any rules / combo that can accept the "prefered way" indentation with indentation rule activated.

[2016-07-15 20:39] kaicataldo opened #6683 "multiline-ternary has incorrect metadata"
I forgot to remove the `fixable` key from `multiline-ternary`'s metadata when we decided to not autofix for the rule. This should be removed. Sorry for the oversight!

https://github.com/eslint/eslint/blob/master/lib/rules/multiline-ternary.js#L21

[2016-07-15 21:09] sindresorhus commented on #6572
@platinumazure The reason I opened this request is because I would have to add too many `// eslint-disable-line prefer-template` for it to be feasible and I would just end up having to disable the rule for all my projects.

Another example of where ESLint wants me to use a template literal:

[code]

It wants me to put all the above code (except the `const foo =  ` part) into a template literal, ju

[2016-07-15 21:25] hzoo commented on #6577
Babel uses babel-eslint; I should be able to help with issues there

[2016-07-15 21:49] ilyavolodin commented on #6577
@hzoo That would be great. I can't even figure out how exactly does babel run eslint:-) If you could provide a small bash script that would clone babel, update eslint and run linting, that would be great. Here's a quick example for jQuery:

[code]

[2016-07-15 21:50] markelog commented on #5858
PR for grunt repo is opened - https://github.com/gruntjs/grunt/issues/1533. Wikimedia, i'm coming for you next :)

[2016-07-15 21:52] danpoltawski commented on #6681
My patch (and test) seems to work, so it seems that doctrine already handles it.

[2016-07-15 22:14] irvinebroque opened #6687 "eslint:all causes regression in v3.1.0"
**What version of ESLint are you using?**

v3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

<details>
[code]
</details>

**What did you do? Please include the actual source code causing the issue.**

ran `eslint .` using the configuration above.

**What did you expect to happen?**

Eslint runs as usual.

**What actually h

[2016-07-15 22:33] kylepaulsen commented on #6420
Closing this issue... I just ended up forking. Maybe I'm not good at describing my scenario.

[2016-07-15 22:33] #6420 closed

[2016-07-15 23:10] meeber opened #6689 "Unexpected error using balanced option in spaced-comment rule"
**What version of ESLint are you using?**

3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Linted this file:

[code]

**What did you expect to happen?**

- No linting errors to be detected.
- The `balanced` option to only be considered when

[2016-07-16 00:13] ilyavolodin commented on #6689
Confirmed. Although I'm not 100% sure if the rule is failing on the inline comment, or at the end of the jsdoc style comment. Location seems to be pointing at inline comment, but content seems to indicate that it's jsdoc comment that's causing an issue.

[2016-07-16 00:16] #6673 closed

[2016-07-16 00:19] markelog opened #6690 "`outerIIFEBody` option of `indent` for amd style definition"
**What version of ESLint are you using?**
3.1.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Allow `test()` to not get indented

**What actually happened? Please include the actual, raw output from ESLin

[2016-07-16 00:20] meeber commented on #6689
Looks like changing the file so it only contains one line results in the same error:

File:

[code]

Result:

[code]

[2016-07-16 00:23] markelog commented on #6690
@nzakas you fast with those labels, was about to add them :)

[2016-07-16 00:25] nzakas commented on #6690
I'm assuming what actually happened is that you got a warning about indentation and expected not to?

One thing to keep in mind: we don't provide anything that is specific to AMD in our rules, so we would need a suggestion for how to handle this in a generic way.

Did JSCS handle this case?

[2016-07-16 00:32] markelog commented on #6690
Yeah, I agree, it seems it could be generalized without specifically pointing to AMD, but i'm not sure how to correctly phrase it

It was planned at some point, but nope.

I also will talk with the rest of the team, to just drop that rule, maybe we just peculiar that way

[2016-07-16 00:33] markelog commented on #6690
I mean with jQuery team that is

[2016-07-16 00:34] markelog commented on #6690
Just updated ticket description, didn't expect to respond that fast

[2016-07-16 01:08] whizark opened #6691 "`key-spacing`: `multiLine.align.mode` is overridden, `multiLine.mode` with `align` causes an error"
**What version of ESLint are you using?**
ESLint 3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

case1.js
[code]

case2.js
[code]

**What did you do? Please include the actual source code causing the issue.**

test.js
[code]

**What did you expect to happen?**

Case 1
[code]

Case2
[code]

**What actually happened? Please inclu

[2016-07-16 04:57] ljharb opened #6693 "eslint should parse all stage 3 proposals"
Per the discussion [here](https://github.com/eslint/eslint/issues/4352#issuecomment-232404631);

In other words, I think that stage 3 - not just stage 4, and *certainly* not just when the yearly spec is ratified (which is not a meaningful milestone for implementations; stage 4 is when it's final) - should be when `eslint`'s default parser adds support for any syntax changes.

Specifically: ([propo

[2016-07-16 10:00] ahocevar commented on #6646
Thanks for fixing this!

[2016-07-16 13:08] cyChop opened #6694 "valid-jsdoc seems to fail when using @external and @function"
**What version are you using?** ESLint 3.0.1

**What did you do?**

[code]

**What happened?**
I had to add `eslint-disable`.

Removing the line beginning with `@function` removes the error. Trying synonyms (`@func` and `@method`) seems to have no impact. Moving the line around does not fix the error.

I don't have more information on what makes this JSDoc invalid, so this may be normal but I don'

[2016-07-16 15:03] platinumazure commented on #6694
Marking as a question for now. Hopefully someone who knows JSDoc on the team will take a look and speak to whether this might be a bug or not.