[2016-04-14 12:45] JaKXz commented on #5623
Thanks! That makes sense.

[2016-04-14 13:08] alberto commented on #5854
Sorry, we can't because it could cause conflicts with other rules. See https://github.com/eslint/eslint/issues/4418 and https://github.com/eslint/eslint/issues/3805 for previous discussion on the topic.

[2016-04-14 13:08] #5854 closed

[2016-04-14 13:11] ilyavolodin commented on #5845
@lo1tuma Rules don't always map one to one. We had cases where we split up one rule into multiple, or combined multiple into one. It's probably possible to come up with the mapping mechanism, but it wouldn't be all that easy.

[2016-04-14 13:26] mysticatea commented on #5837
Thank you for this issue.

Hm, I cannot reproduce this.
`prefer-const` is warning `dynStyle`.

[code]

[2016-04-14 13:35] mysticatea commented on #5822
@lukeapage Thank you for the explanation!

As I mentioned at https://github.com/eslint/eslint/issues/5692#issuecomment-203690886, I think I can add an option to ignore variables that are read before its first assignment.

[2016-04-14 15:36] nzakas commented on #5845
I just don't see a way where we can remove rules, regardless of the timeframe. There are far too many references in the wild to these rules. No matter when we remove them, it will catch some people by surprise. Like it or not, we are at the center of an ecosystem here, and that means we need to be a lot more careful. Look at web browsers, they can basically never remove features.

Another reason I

[2016-04-14 15:36] nzakas commented on #5721
OK, thanks!

[2016-04-14 15:36] #5721 closed

[2016-04-14 15:37] nzakas commented on #5843
Didn't we just agree that the documentation is correct?

[2016-04-14 15:40] jfmengels commented on #5843
Right. I meant more like clarifying the documentation. I'll close this, someone can reopen it if needed.

[2016-04-14 15:40] #5843 closed

[2016-04-14 15:46] platinumazure commented on #5843
Right now, we only inferred "Visitor" because there is one word `visit` buried in the middle of the third paragraph of that section. I don't think it would hurt to make it a bit more clear, but I have no concrete proposal at this time. Since documentation PRs don't require an issue, I think we can let this stay closed since @jfmengels has received an answer to the question raised.

[2016-04-14 16:01] platinumazure commented on #5040
I want to propose that we address the fact that configurations from directories ancestor to a project root can get pulled in if `root: true` is not specified in the project config.

We've seen a number of issues related to this in chat in the last few days, and I've concluded that requiring `root: true` in the top level config is convenient but surprising. Better would be to require that subdirect

[2016-04-14 16:39] willklein commented on #3218
My day job gave me some time to work on this, I should have a PR today. Sorry though, I've just been more committed to other things in my free time.

[2016-04-14 17:53] cwgorman commented on #5841
@nzakas Could the rule not detect that the `var` is 1) never reassigned, and 2) used as block-scoped? I'd imagine it can, since the rule `block-scoped-var` exists. Or perhaps if `block-scoped-var` is also enabled, do this?

[2016-04-14 18:10] IanVS commented on #5759
Closing this, but feel free to speak up if you think we should reopen.

[2016-04-14 18:10] #5759 closed

[2016-04-14 18:15] nzakas opened #5856 "Identify gaps between ESLint rules and JSCS rules"
As a first step in improving compatibility between JSCS and ESLint, we need to identify the gaps between JSCS rules and ESLint rules. Polyjuice had done some initial analysis that can be found here: https://github.com/brenolf/polyjuice/blob/master/doc/JSCS.md (this is a list of rules and options that ESLint doesn't cover).

I'm not sure what other changes have happened or what version Polyjuice wa

[2016-04-14 18:22] nzakas opened #5857 "Automatic conversion of .jscsrc files to .eslintrc files"
For people coming over from JSCS, it would be nice to have a way to automatically convert their `.jscsrc` files into equivalent `.eslintrc` files.

What I have in mind is adding an additional option to `--init` that is "Convert JSCS configuration file":

* We could use [Polyjuice](https://github.com/brenolf/polyjuice) to do this, and contribute back to Polyjuice to help make it more feature-comple

[2016-04-14 18:31] nzakas opened #5858 "Identify most popular presets for JSCS"
One thing JSCS has that ESLint does not is the concept of built-in style presets. ESLint instead prefers people to make and maintain their own shareable configs. The current JSCS presets are:

- [x] Airbnb (`eslint-config-airbnb`)
- [ ] Crockford
- [x] Google (`eslint-config-google`)
- [x] Grunt (`eslint-config-grunt`)
- [x] Idiomatic (`eslint-config-idiomatic`)
- [x] jQuery (`eslint-config-jquery

[2016-04-14 18:34] nzakas opened #5859 "Document transitioning from JSCS to ESLint"
Once we have figured out all of the technical details to allow people to transition from JSCS to ESLint, we will need to document the process. My guess is that we'll need some documentation for transitioning both from JSCS 2.x and 3.x. The things we should cover:
1. How to convert `.jscsrc` into `.eslintrc`
2. The shareable configs that are the equivalent of JSCS presets
3. Any manual changes that

[2016-04-14 18:41] BYK commented on #5845
@nzakas if you never remove a rule, deprecating them doesn't really mean much. People keep using them and keep complaining about bugs/features whatever you do so I'm :-1: to this new approach.

How about we try to write a small tool to map deprecated rules and their configs to new ones when possible or remove them if not from the configuration files?

[2016-04-14 18:46] bdukes opened #5860 "Implement formatter similar to JSCS default reporter"
The default JSCS reporter includes the context of the code and an indicator to the specific character which is causing the violation.  With JSCS joining ESLint, that's the one JSCS feature I'd miss (and love to see added to ESLint).

As an example, it can look something like this:

    All identifiers must be camelCase or UPPER_CASE at C:\inetpub\wwwroot\site.local\JavaScript\BaseLocator.js :

[2016-04-14 18:52] hzoo commented on #5860
Yep that's definetely something I wanted to get over

[2016-04-14 18:56] IanVS commented on #5860
There is already https://github.com/royriojas/eslint-friendly-formatter, which at least prints the line and shows the position.  Is that mostly what you're looking for?

[2016-04-14 18:57] nzakas commented on #5860
Yeah, we should add this and should be fairly straightforward to do. I think the biggest question here is what would be the right name for the reporter? "JSCS" makes sense right now, but in another year or two, would that be confusing?

[2016-04-14 18:59] ilyavolodin commented on #5857
I think using polyjuice inside `--init` is a better for end users, so I would vote for that approach.

[2016-04-14 19:00] nzakas commented on #5791
Looking at this now.

[2016-04-14 19:15] nzakas commented on #5791
So this looks like an issue with the way Jest is loading everything. I can put in a check that will avoid the error you're getting, but I'm not sure if you'll get other errors as a result. I'd suggest filing a bug with Jest to continue this discussion.

[2016-04-14 19:20] nzakas commented on #5860
This would also probably be a great first issue for one of the JSCS folks. :)

[2016-04-14 19:25] lydell commented on #5860
Perhaps it makes sense to use [babel-code-frame](https://github.com/babel/babel/tree/master/packages/babel-code-frame), just like [AVA added a few days ago](https://github.com/sindresorhus/ava/pull/742#issuecomment-208174649).

[2016-04-14 19:38] elliottsj commented on #5791
I've opened an issue with Jest: https://github.com/facebook/jest/issues/894

[2016-04-14 19:41] JamesMGreene commented on #4689
I would like to see `space-in-parens` gain an exception option like `array-bracket-spacing` has with its [`singleValue`](http://eslint.org/docs/rules/array-bracket-spacing#exceptions) exception.

For me, that is a huge benefit as I generally want spaces in my parens but I do not want to use them when doing compact calls like requiring Node modules: `var fs = require('fs');`

[2016-04-14 20:00] gibson042 commented on #4689
Prior art in JSCS: SpacesInsideParenthesizedExpression (with proposed analogs for SpacesInsideParenthesizedArguments, SpacesInsideParenthesizedParameters, and SpacesInsideParenthesizedStatement). Its implementation added ["categorizer" functions](https://github.com/jscs-dev/node-jscs/commit/1acc0c0b4c6afc1d2fab9257712977b76e887450#diff-47c70c6820b8b56f02671be34cf089c0) to determine which of four p

[2016-04-14 20:13] mgol commented on #5857
It might be worthwhile to be able to merge existing `.jscsrc` AND `.eslintrc` into a final `.eslintrc` as some people are already using ESLint in conjunction with JSCS. I know I have for some time, in times when JSCS had way more style-related rules than ESLint.

[2016-04-14 20:23] nzakas commented on #5860
@lydell while I appreciate you promoting your creation, I think we'll probably just port what's in JSCS. ;-)

[2016-04-14 20:51] nzakas commented on #5857
That's an interesting point. The trouble we always run into when re-writing existing config files is that we end up losing all of the comments, so I'm not sure people would welcome that. We could definitely detect if there's an existing `.eslintrc` file and do something else (like output to the console instead of the file).

[2016-04-14 20:54] nzakas commented on #5848
I'm not sure this is a good idea. In general, I think it's a bad practice to unexpectedly use files that aren't earmarked for ESLint use. In this case specifically, we can't anticipate the problems if we start reading `.gitignore` by default when `.eslintignore` isn't there. To me, it violates the principle of least surprise ("why would a change to .gitignore affect ESLint???").

You can already p

[2016-04-14 20:54] #5791 closed

[2016-04-14 20:56] nzakas commented on #5667
Is there a proposal here? Can someone summarize?

[2016-04-14 20:59] nzakas commented on #5329
Our informal Twitter poll (https://twitter.com/geteslint/status/713112461998628865) shows that people are overwhelmingly in favor of applying more fixes even if that means a slower experience. Given that, I'm going to experiment a bit with doing multiple passes of files. Doing multiple passes would, in the short term, allow us to fix more problems without needing to completely change the way we do

[2016-04-14 21:07] skarfacegc commented on #5847
Is this related to #5329 ?  I wasn't entirely sure.

[2016-04-14 21:35] platinumazure opened #5862 "Rule metadata: Moving "fixable" field from docs to top level could be a breaking change for plugin authors"
Per discussion on [the Gitter chat](https://gitter.im/eslint/eslint?at=57100ab75ed5a4fd3fe31e57), the change to move the "fixable" field in rules metadata from the "docs" section to the top level is potentially a breaking change if plugin authors have already started migrating their rules to use metadata (but with "fixable" located in "docs").

We may need to support both locations for 2.x, and re

[2016-04-14 21:44] cpojer commented on #5791
This was fixed in Jest 11.0.

[2016-04-14 21:45] nzakas commented on #5862
I disagree. This is the first release that we'll be publicizing the new rule format. Prior to this, it was an internal-only concern, so this change is nonbreaking and not really anything that has to be considered.

[2016-04-14 21:48] platinumazure commented on #5862
@nzakas Does that apply even if plugin authors (perhaps imprudently) consumed the new format? If so, I'll close this.

[2016-04-14 22:09] mgol commented on #5857
Hmm, right, I didn't think about comments. The main problem is what to do with converted rules that overlap with the already specified ones. If we had a way to resolve that, omitting the ones that are already present in the console output would help - people would just copy the output and append to the file.

But maybe it's impossible to resolve those conflicts properly.

[2016-04-14 22:10] platinumazure commented on #5850
Hmm... Checking for a regular expression pattern `/\$\{[^}]+\}/` would be easy enough, but adding in the evaluation bit could be harder. Do you see that as critical to this rule, or do you think a heuristic would be good enough?

Bear in mind that people can choose not to use the new rule if they are commonly using `${something}` in non-template string literals.

[2016-04-14 22:11] zxqfox commented on #5848
@nzakas Guess, In common cases for usual project we need to lint source code before committing. And in most cases I'm agree with @gabmontes because `.gitignore` is a super set of `.anylinterignore`.

But yeah, it's not so clean as could be. Maybe `--verbose`/`-v` flag could help with that.

[2016-04-14 22:43] ljharb commented on #5850
I think that the rule would be much more valuable that way - but, I think the regex approach would be a great starting point. It could always be improved in a non-major version bump.

[2016-04-15 00:03] nzakas commented on #5862
Yes. If you're using something that wasn't documented, you can't be upset when it breaks. Doing so is a "void your warranty" situation. Plus, I can't imagine anyone (other than @ilyavolodin ) who would have done such a thing.

[2016-04-15 00:07] nzakas commented on #5848
@zxqfox we made `--ignore-path .gitignore` work correctly so that people had the option to use their `.gitignore` file for this purpose. I think that's the correct recommendation for solving this problem rather than changing the default behavior.

[2016-04-15 00:51] skarfacegc commented on #5847
It never notified me of spacing issues at all.  Just the 5 errors above repeated.  So it fixed one level, but failed to warn on the others that were out of spec.

[2016-04-15 00:52] pvamshi commented on #5667
**When does this rule warn? Please describe and show example code:**
When an object literal is declared in a single with more than 'n' keys , we need a warning.
if n = 3;
[code]
**Is this rule preventing an error or is it stylistic?**
stylistic
**Why is this rule a candidate for inclusion instead of creating a custom rule?**
@zackarychapple  can answer . But, I think this is very common occurrence

[2016-04-15 00:54] cpojer opened #5866 ""quote" option to allow single quotes in template literals"
**What version of ESLint are you using?**
2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

At Facebook we are using the "quote" option like this: `'quotes': [WARNING, 'single', 'avoid-escape']`

We sometimes write strings with backticks, like:

[code]

The quote rule will trigger a warning in this case and attempt to replace it to:

[code]

The 'avoid-escape' option

[2016-04-15 02:09] hzoo commented on #5866
I think this is covered by https://github.com/eslint/eslint/issues/5234 and fixed in https://github.com/eslint/eslint/pull/5661 but not released yet.

[2016-04-15 02:14] cpojer commented on #5866
That's nice! Is there a new release coming soon? :)

[2016-04-15 02:14] #5866 closed

[2016-04-15 02:23] ilyavolodin commented on #5862
I'm crazy that way:-) But then I created metadata, so it's unlikely that anyone else would know much about it. My only concern with this situation is that plugin author might specify peerDependancy of eslint@2.0.0 which already had metadata support, but `fixable` field was still inside `docs`. In that case, even if `fixable` would be specified, ESLint would not allow autofix for this rule. But tha

[2016-04-15 02:25] ilyavolodin commented on #5847
@skarfacegc ESLint doesn't warn you about issues that it fixed (or thinks that it fixed), if you run ESLint without `--fix` flag, it should give you full report.

[2016-04-15 02:26] ilyavolodin commented on #5866
@cpojer We try to do releases every 2 weeks, so another one coming soon.

[2016-04-15 02:34] kaicataldo commented on #5840
I actually don't think this is a bug - seems to be working as intended, as the rule states it causes warnings if irregular whitespace characters are found outside of strings or comments. From the source:

I think that it's not working for your first example because it's a regex literal (not a string). The reason `new RegExp('^[\s\　]*$')` doesn't warn is because the irregular whitespace is in a str

[2016-04-15 03:46] kaicataldo commented on #5833
Have a fix for this, but still have to figure out how to test it. How is the wording for the error messages?

[2016-04-15 04:06] kaicataldo commented on #5833
With the changes in my branch, the installation would remain unchanged if ESLint is installed locally, but will look like the following when it isn't:
Pre-installation:
<img width="564" alt="screen shot 2016-04-15 at 12 04 50 am" src="https://cloud.githubusercontent.com/assets/7041728/14551194/d628ad26-029d-11e6-8f51-32ee941acc7f.png">
Post-installation:
<img width="873" alt="screen shot 2016-04-1

[2016-04-15 06:41] rik commented on #5774
Sorry for the delay answering. I like this a lot.

In light of https://github.com/eslint/eslint/issues/5858, let me propose an alternate sentence:
[code]

[2016-04-15 08:18] vobujs opened #5867 "enhance require-jsdoc to recognize function expressions"
ESLint-version: 1.10.3, default parser

configuration:

[code]

Running eslint (from a grunt task), I would expect this to cause an error:

[code]

Instead, it passes through fine.

So that's why I would propose an enhancement to the require-jsdoc rule to also recognise missing JSDoc blocks in functional expressions such as the above.

All of the below should pass through fine:

[code]

[code]

[2016-04-15 08:20] vobujs commented on #1842
here it is: https://github.com/eslint/eslint/issues/5867

[2016-04-15 09:06] BYK commented on #5867
I'm :+1: to the suggestion.

[2016-04-15 12:36] inuscript commented on #5840
Oh sorry, my explanation was lacking.

If this is regular behavior, I think this should documentation with incorrect example.
But I wish fix this behavior or append ignore option.

Because regexp with `Ideographic Space`' pattern is often used in multi byte language.

[2016-04-15 12:40] hzoo commented on #5860
@nzakas Just to be clear, @lydell didn't create babel-code-frame (it was always part of Babel) - he was just the last person to make a PR to it (to fix the tab spacing issue when AVA used it).

[2016-04-15 12:55] crookedneighbor commented on #5150
I would also like an exception to this rule for arrow functions.

[2016-04-15 13:15] skarfacegc commented on #5847
It does, but eslint isn't fixing the issue or giving me any way to tell when --fix has fixed it after multiple runs.

[2016-04-15 13:17] BYK commented on #5847
Hey, sorry for coming to the discussion late. @ilyavolodin is right in his first comment. Since the current implementation uses relative offsets, it can mess up when auto fixing.

I did make some progress about the rewrite but having a hard time setting aside dedicated time for that.

[2016-04-15 13:34] kaicataldo commented on #5840
Got it - I'm going to label this as an enhancement and let's see what @nzakas thinks. Thanks for the issue report!

[2016-04-15 13:38] BYK commented on #5808
Did we decide on a rule name?

`no-finally-control-flow` sounds like a good one but a bit on the longer side. Other suggestions: `no-control-finally`, `no-control-in-finally`, `no-unpredictable-finally`.

@onurtemizkan has started working on this.

[2016-04-15 13:58] platinumazure commented on #5808
I could probably get behind any of those. I'll throw one more name into the
ring: `no-interrupt-finally`.
On Apr 15, 2016 8:39 AM, "Burak Yiğit Kaya" <notifications@github.com>
wrote:

[2016-04-15 14:01] JamesMGreene commented on #3352
I'm hitting this as well with the latest version, with the initial comment on this issue still holding true. :cry:

[2016-04-15 15:00] platinumazure commented on #5862
Fine by me. I wonder if we could/should do a documentation change which advises that plugins who want to use this rule metadata should require ^2.8.0 (or whatever version) in docs?

Actually, I could generalize that into a different issue (there is similar lack of clarity on what version of ESLint should be in peer dependencies for things like auto-fix). I'll open an issue along those lines. Thank

[2016-04-15 15:00] #5862 closed

[2016-04-15 15:06] gyandeeps commented on #5748
@eslint/eslint-team thoughts on this?
CC @royriojas

[2016-04-15 15:28] royriojas commented on #5748
@isaacl not sure I get the issue is the performance better without the `--cache` flag? can you provide a reduced test case of what you're describing? Are you using different configs per directory?

[2016-04-15 16:07] nzakas commented on #5748
@isaacl can you provide some data showing this?

[2016-04-15 16:14] nzakas commented on #5808
"Control flow" refers to anything that changes where execution flows, Including `if`, `while`, etc., so it's a bit broad for this use case.

How about `no-unsafe-finally`?

[2016-04-15 16:17] nzakas commented on #5860
Thanks for the clarification @hzoo AMD apologies @lydell for misrepresenting your comment.

I'd still like to port what's in JSCS. @hzoo does the default JSCS formatter have a name other than "default"?

[2016-04-15 16:21] nzakas commented on #5833
I think maybe, "ESLint was installed locally. We recommend using this local copy instead of your globally-installed copy."?

[2016-04-15 16:30] zxqfox commented on #5833
Guess the best here to have an `eslint-cli` module as a tiny runner for `eslint` (with pwd changing, etc) and to disable global installation of `eslint`.

[2016-04-15 16:35] zxqfox commented on #5667
Guess we should pull it from JSCS: http://jscs.info/rule/requireObjectKeysOnNewLine

[2016-04-15 17:55] nfriedly commented on #5612
BTW, I just wanted to mention that this is now working for me. Thanks everyone!

[2016-04-15 17:57] kaicataldo commented on #5612
@nfriedly Thanks for the kind words 😄

[2016-04-15 18:36] lemonmade opened #5871 "object-shorthand rule does not properly handle computed properties"
**What version of ESLint are you using?**

2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I would have expected all properties in this object to have errors.

**What actually happened? Please incl

[2016-04-15 18:36] nzakas commented on #5845
@BYK I'm getting the feeling you didn't read everything that I wrote. :)

Please see above. Deprecating means we stop work on it altogether. We don't really care if people continue to use them or not because it's no additional work for us. When people complain, we ask them to upgrade.

Already explained why this is difficult. See my previous comment.

[2016-04-15 18:40] nzakas commented on #5833
@zxqfox that already exists: https://www.npmjs.com/package/eslint-cli. We don't really want to disable global installs due to some editors using it.

[2016-04-15 18:41] nzakas commented on #5822
@mysticatea thanks. So is this a duplicate of #5692?

[2016-04-15 18:42] nzakas commented on #5857
I think, unfortunately, we may have to rely on people handling those conflicts manually.

[2016-04-15 18:51] nzakas commented on #5667
Thanks @zxqfox! Since JSCS already has a rule for this, then we should definitely have a rule to do the same.

Here's what I'd propose for the ESLint version:

[code]

[2016-04-15 18:58] nzakas commented on #5871
This appears to be working as designed. See comments inline:

[code]

So as far as I can tell, this is the correct behavior. Computed properties are intentionally ignored:
https://github.com/eslint/eslint/blob/master/lib/rules/object-shorthand.js#L69

I can see an argument that we should attempt simple computed properties (those that have only a string identifier and nothing else), though I'd want

[2016-04-15 19:01] nzakas commented on #5867
This is trickier than it seems, which is why it is not done yet. :)

We can't just flag any function expression, because it might not be considered a method. For instance, should this be flagged?

[code]

How about this?

[code]

I'm not opposed to exploring this, I just think we need to be very specific about the patterns we should and should not flag because it's not as simple as requested.

[2016-04-15 19:03] nzakas commented on #5850
I don't think there's enough evidence that this is a real-world problem to include this in the core right now. I'll leave this open in case anyone believes this reaches the level of "must-have" in ESLint.

[2016-04-15 19:43] lemonmade commented on #5871
Thanks for responding so quickly! I can see why you wouldn't be able to flag this:

[code]

Since shorthand properties are predicated on knowing the value of the key. I'm not sure I understand why the method case would be rejected:

[code]

My understanding was that the shorthand method syntax didn't really have anything to do with the key name itself.

The literals part of this would probably be

[2016-04-15 20:07] kaicataldo commented on #5845
@nzakas I've been thinking more about this and my initial concern of amassing a large number of deprecated rules does seem like a non-issue. My concern was more for having to manage the state of a bunch of rules, but as you mentioned above, this is a disproportionately small amount of pain for us compared to the large amount of pain removing the rule entirely causes.

It would be great if we could

[2016-04-15 20:19] ljharb commented on #5850
This came up as an actual real-world problem, in user code, which is why I proposed the rule. The user was confused why our eslint config was warning on an unused variable. We figured out that it was the wrong quote type, but had they used the variable elsewhere in the function, they might never have discovered it.

[2016-04-15 21:16] platinumazure commented on #5850
Given the real-world problem here, I would say this is very situational, but (when the situation can come up) highly compelling. I honestly think this is worth another look.

That said, @ljharb, even if this doesn't make core, you are more than welcome to create this as a custom rule or as part of a plugin. If I were you, I would find a plugin that focuses on template strings and propose this as a

[2016-04-15 21:25] alberto commented on #5845
I agree with the underlying premise that we should be really careful before deprecating and (to a lesser extent) introducing breaking changes to rules. But never breaking rules is a big leap from that.

What you are proposing is basically "don't release major versions" anymore. I don't think anyone would be surprised by breaking changes in a major version. Not doing that means we have to get every

[2016-04-15 22:09] kaicataldo commented on #5845
The idea of a separate package/plugin for deprecated rules is pretty cool. Users who don't want to worry about updating their .eslintrc have to incur the upfront cost of including the deprecated rules package in their project and config, but then never have to worry about rules being deprecated again. It also would help us in the sense that it removes the deprecated rules from core, making it very

[2016-04-16 02:20] ljharb commented on #5850
@platinumazure the only one i was able to find is already included in core. obviously if it's not accepted into core, I'll try to create a plugin, but I'd really like to see it included.

[2016-04-16 03:45] kaicataldo commented on #5833
PR opened

[2016-04-16 09:34] alberto commented on #5848
Also adding a `.eslintignore` file would make a sudden behaviour change.

[2016-04-16 11:57] brenolf commented on #5856
As for the first rules added, these were the versions used:

* ESLInt: `v1.7.2`
* JSCS: `v2.0.0`
* JSHint: `v2.8.0`

JSCS has added many rules after that release until `v3.0.2`, namely:

* disallowShorthandArrowFunctions
* disallowArrowFunctions
* validateOrderInObjectKeys
* SpacesInsideParenthesizedExpression
* disallowMultiLineTernary
* requireMultiLineTernary
* disallowTabs
* disallowUnusedPara

[2016-04-16 12:20] confuser commented on #4680
@nzakas Can this be added to the JSCS Compatibility milestone as part of #5856?

[2016-04-16 13:36] zxqfox commented on #5848
Ah, forget about tricky solution: symlinking .eslintignore to .gitignore usually works just fine.

[2016-04-16 15:47] nzakas commented on #4680
We still need a concrete proposal for this rule.

[2016-04-16 15:56] SpadeAceman commented on #5845
At some point in the future, changes made to ESLint will eventually cause some of those old rules to stop working. There would be no point in keeping them around, since they no longer function and they're not going to be fixed.

This leaves two possible courses of action:

1. ESLint is forever locked into supporting all deprecated rules indefinitely (which seems like a bad idea).
2. At a minimum,

[2016-04-16 16:01] nzakas commented on #5856
Thanks @brenolf ! Some of these we definitely already support. Here are the ones I can think of off the top of my head:

* disallowShorthandArrowFunctions
* disallowArrowFunctions - `no-restricted-syntax: ["ArrowFunctionExpression "]`
* validateOrderInObjectKeys
* SpacesInsideParenthesizedExpression - `space-in-parens`
* disallowMultiLineTernary
* requireMultiLineTernary
* disallowTabs - maybe `in

[2016-04-16 16:07] platinumazure commented on #5845
Incidentally, we might have some test cases if we wanted to try a particular process. For example, `no-with` or `no-continue` could be deprecated/removed in favor of `no-restricted-syntax`. I assume neither of those rules has received an update in a while. Perhaps we could put together a couple of specific proposals using those rules as examples and then allow the community to provide feedback?

[2016-04-16 16:25] hzoo commented on #5856
JSCS uses require/disallow so those are probably combined in eslint (for example requireSpacesInGenerator and disallowSpacesInGenerator)

[2016-04-16 17:02] kaicataldo opened #5874 ""Get Started" instructions recommend global installation"
We currently recommend installing ESLint globally right before we point new users to the `--init` feature in both the [README](https://github.com/eslint/eslint#installation) and our [Getting Started page](http://eslint.org/docs/user-guide/getting-started). This doesn't seem right, as `--init` is geared towards a local ESLint setup (it installs all the plugins locally). If the users follow these in

[2016-04-16 17:07] afahim commented on #1101
@kaicataldo taking another look today. If I can't get it done, its all yours / whoever wants to take it!

[2016-04-16 17:09] kaicataldo commented on #1101
@afahim Thanks for the update :)

[2016-04-16 18:12] BYK commented on #5765
I also support this change. People (including me) are still getting confused about true and false. I guess we could do `globalName:'write'`, extend the rule schema and map these to old values. That is some added complexity but worth the clarity IMO.

[2016-04-16 19:15] BYK commented on #5845
@nzakas - I read all your comments before writing mine. I understand why you would think though so let me expand on my opinion a bit more. On removing, I don't think us mentioning that those rules are not being worked on and even not working on any bug reports would stop people from complaining. Automatically closing issues using a bot has the following problems:

1. It is still hard to be accurat

[2016-04-16 19:25] BYK commented on #5867
@nzakas - I guess if we find a reliable way to detect in-place callback definitions which I think is possible I think all others should be documented. We may have sub-options, say for methods to allow the rule behave a bit more relaxed. Makes sense?

[2016-04-16 19:26] BYK commented on #5808
`no-unsafe-finally` may be a bit too broad but I like it.

[2016-04-16 20:19] mudetroit commented on #5848
I think the question is whether the behavior would be desirable to a new user or not. The reason I say that is that the experienced user will know about the behavior and isn't likely to be surprised by it.

As pointed out be @gabmontes,  and referenced by @IanVS, generally speaking the items mentioned in a .gitignore will be files that you will rarely, if ever want linted. I will admit I fall in t

[2016-04-16 21:36] alberto commented on #5833
@nzakas do you think we should move that into our org and officially recommend it as the preferred install method?

Also, do we know which editors use global installs?

[2016-04-16 21:41] alberto commented on #5874
Agree. However, then we would also have to replace calls to `eslint` in all commands to `./node_modules/eslint/bin/eslint.js`, unless we also recommend to install globally `eslint-cli`

[2016-04-16 21:54] kaicataldo commented on #5874
I wasn't aware of `eslint-cli` - can we incorporate that into our docs somehow? Or are there downsides to recommending the usage of it?

If we decided we wanted to recommend its use, the docs could say something like:

## Installation

We recommend that you install ESLint locally per project and to use the globally installable ESLint CLI tool to run ESLint from the command line:

    npm install e

[2016-04-16 22:12] kaicataldo commented on #5833
The accepted change in this issue seems like a good start to me, but it would be nice to try to make the onboarding process/docs for getting started clearer (local vs global installations, using `eslint-cli`, et al). Ideas have been brought up in a few different places, so in an effort to streamline and consolidate the discussion I've made another issue here: https://github.com/eslint/eslint/issue

[2016-04-17 04:28] mysticatea commented on #5874
May I move `eslint-cli` to the `eslint` organization.
People can use it at ease since they feel it's official on that, I think.
Of course, I will continue to maintain it. :)

[2016-04-17 08:55] mysticatea commented on #5449
**Memo**: `extends null` may have a spec bug: https://github.com/tc39/ecma262/issues/543

[2016-04-17 09:00] mysticatea commented on #5822
@nzakas I think so.

[2016-04-17 09:01] mysticatea commented on #5756
This has been fixed in Acorn: https://github.com/ternjs/acorn/issues/400#event-630129428
I'm waiting for the next release.

[2016-04-17 11:00] mysticatea commented on #5840
Hmm, I cannot find reasons that irregular spaces in strings are good but irregular spaces in regular expressions are bad. And I got aware that template literals have the same issue:

[code]

I wish to fix this behavior since this does not have consistency, IMO.

What about adding options for each type?

[code]

In my ideal, all default are `false`, but it's a breaking change.

[2016-04-17 15:29] sindresorhus commented on #2666
In case anyone else wants this, we made a custom rule: https://github.com/sindresorhus/eslint-plugin-xo/blob/master/docs/rules/no-process-exit.md

[2016-04-17 16:57] ljharb commented on #5822
Closing as a duplicate of #5692, then :-)

[2016-04-17 16:57] #5822 closed

[2016-04-17 16:58] ljharb commented on #5692
@mysticatea closed #5822 as a dupe - any update on this fix?

[2016-04-17 17:31] alberto commented on #5085
I assume we already have everything we needed, so I'm closing this. Thanks @omerbalyali and everyone else who participated!

[2016-04-17 17:31] #5085 closed

[2016-04-17 20:16] alberto opened #5880 "Add `Chore` to allowed commit tags"
As proposed in the [chatroom](https://gitter.im/eslint/eslint?at=571265572c97111664328234), we could add a tag for internal tasks that don't have observable effect on user experience, such as refactoring, adding tests, removing unused code or general cleanup.

[Here](https://github.com/eslint/eslint/pull/5853) [are](https://github.com/eslint/eslint/pull/5849) a couple of PRs that would qualify for

[2016-04-17 20:40] kaicataldo commented on #5880
I'm for the addition of this label. Would be nice to an easy way to identify tech debt-ish issues

[2016-04-17 21:16] platinumazure commented on #5880
Would we also add a corresponding issue label (perhaps also "chore", to keep it simple)?

[2016-04-17 21:20] ilyavolodin commented on #5880
We need to update Maintainer guide, bot and build script if we are adding a new label.

[2016-04-17 22:20] mikesherov commented on #5880
:+1: @ilyavolodin @alberto, I'd like to work on this, as it'd be a nice first issue for me, where I can get familiar with some of the team's tooling.

Is that ok?

[2016-04-17 23:45] isiahmeadows commented on #5477
I feel an extra option for `no-constant-condition` to allow explicit boolean literals would be nice. I personally find `while (true)` more readable and the intent more explicit than `for (;;)`. Also, there's the `do { ... } while (false)` idiom, for which there is no substitute other than labelled blocks, which IMHO are ugly.

[code]

As for boolean literal conditions in `if (true)`, etc., that ca

[2016-04-18 01:07] cpojer commented on #5791
@nzakas Is there a reason why eslint is using module.paths at all? It seems like it is undocumented private API that is an implementation detail of the node module resolution algorithm.

Jest sandboxes all JavaScript code for proper test isolation (that way no module or test can impact another test). We are using node-resolve for all resolution which has a userland implementation of what `module.p

[2016-04-18 01:27] turadg opened #5882 "no-useless-escape false positives on JSX strings"
This is a JSX issue, but since it's in `eslint/no-useless-escape` I thought it would be appropriate to file here.

**What version of ESLint are you using?**
2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**
It's super long but these should be enough,
[code]

**What did you do? Please include the actual source code causing the

[2016-04-18 01:29] ilyavolodin commented on #5880
@mikesherov Sounds good. Just need to wait a little bit for @nzakas to mark this as `approved`, but since he is the one who proposed it, I don't see a problem with it. Also, bot is currently not open sourced, so @nzakas will have to make that change. Everything else is up for grabs

[2016-04-18 01:30] ilyavolodin commented on #5880
Oh and forgot about release script. I think there might need to be some modifications there to aggregate base log entries based on the new label (although I don't remember if the list of labels is supplied there or it's just aggregating everything that it finds, without caring what it is).

[2016-04-18 01:36] bhubbard opened #5883 "eslint.org should support HTTPS"
http://eslint.org should support and probably default to HTTPS. This can easily be done with a service such as CloudFlare or Let's Encrypt.

[2016-04-18 03:14] liyaodong commented on #3782
solved by ⬇️
[code]

[2016-04-18 03:16] ilyavolodin commented on #5883
Our site is hosted on Github and Github pages doesn't support HTTPS currently, so not much we can do about this, without switching hosting. Closing as this is not something we are planning on doing.

P.S. While I know that the flavor of the month is making everything https, I really don't see a point in slowing down the site without a single form just to satisfy search engines.

[2016-04-18 03:16] #5883 closed

[2016-04-18 03:35] bhubbard commented on #5883
So to clarify, its a flavor of the month thats gonna stick around, and just continue to grow.

You can use CloudFlare to support HTTPS on github pages, and more than likely it will actually improve performance as it will provide support for SPDY/HTTP2.

[2016-04-18 06:33] alberto commented on #5880
@mikesherov 👍  welcome to the team!

I looked at `eslint-release` and it doesn't look like any changes are needed.

Someone else with permissions will have to create the label, too.

[2016-04-18 08:07] themoritz commented on #3782
@liyaodong's solution also solved the issue for me. Thanks!

[2016-04-18 09:27] kachkaev commented on #2419
Any updates on this one?
Current behaviour seems a bit strange. Despite that I have React plugin installed for eslint and despite that I see the errors and warnings in .jsx files while in Atom, running `eslint ./` in the Terminal does not do the same by default. It is either necessary to type extra characters each time (`eslint --ext js,jsx ./`) or proxy linting in package.json:

[code]
[code]

Bo

[2016-04-18 09:51] zxqfox commented on #5867
If I got it right, we should take a look at https://github.com/jscs-dev/jscs-jsdoc/blob/master/lib/rules/validate-jsdoc/enforce-existence.js with their options (since this rule was bundled into jscs package).

We got there 'exports' and 'paramless-procedures': https://github.com/jscs-dev/jscs-jsdoc/issues/139.
'exports' stands for `export some function(){}` and `module.exports = function()`, and `

[2016-04-18 10:21] sindresorhus commented on #2693
I'm willing to do the work if this is still wanted and we can settle on a name.

[2016-04-18 11:01] wmertens commented on #3143
@cschuller any chance of an auto-fix? Don't feel up to implementing that myself, so just requesting in the hope you do 😉

[2016-04-18 11:04] renke commented on #3143
@wmertens I hope that one day I find the time to add a style for [import-sort](https://github.com/renke/import-sort) that is compatible with the sort-dependencies rule. Better yet, it should read your config and sort accordingly.

[2016-04-18 11:10] markelog commented on #5858
I can say about jQuery - i already send announcement about it to jquery people so i will re-create preset with eslint rules very soon. Do we need a ticket specifically about this?

As of other presets, i can probably come up with the list of others missing presets and do them too. Some of the will be easy to do too, since, for example, `grunt` preset inherits jquery preset.

[2016-04-18 11:24] ntwb commented on #5858
I converted the JSCS WordPress preset yesterday into [this `.eslintrc` file](https://gist.github.com/ntwb/0efa4d7cb4248cc7747ffd522d57a285) based of the combined WordPress preset that inherits the jQuery preset resulting in [this combined `.jscsrc` file](https://gist.github.com/ntwb/76f2962406b9e86e0056ca0c1504e8e9)

I plan on at some stage this week once I've some time to update [eslint-config-wo

[2016-04-18 11:54] markelog commented on #5858
Awesome sauce already!

Regards,
Oleg

[2016-04-18 12:50] IanVS commented on #3782
^ While this will work, it is not the best way to address the issue.  This installs `eslint-plugin-react` into `linter-eslint` directly.  The reason it's solving it for you is that you don't have ESLint installed in your own project and you don't have ESLint installed globally, so `linter-eslint` is falling back to the the version of ESLint that it bundles as a backup.  There have been discussions

[2016-04-18 14:10] mikesherov commented on #5880
@nzakas any chance I can get access to the repo for the eslint bot?

[2016-04-18 14:41] gajus commented on #2017
@nzakas Now that https://github.com/jacobrask/eslint-plugin-sorting has somewhat matured, is it worth it to consider adding it to the core?

[2016-04-18 15:11] ilyavolodin commented on #5858
@markelog I don't think we need a separate issue for each one. Since each one will be created as an individual npm module, we can just use this issue to maybe update `--init` command once all of the presets exist.

[2016-04-18 15:15] nzakas commented on #5880
The things that need to be updated are:

1. Bot message - https://github.com/eslint/eslint/blob/master/templates/pr-create.md.ejs
2. Bot message test - https://github.com/eslint/eslint/blob/master/tests/templates/pr-create.md.ejs.js
3. Documentation - https://github.com/eslint/eslint.github.io/blob/master/docs/developer-guide/contributing/pull-requests.md and https://github.com/eslint/eslint.githu

[2016-04-18 15:18] nzakas commented on #5880
I created the label. Not sure why you couldn't @alberto, I need to double check the permissions setup.

[2016-04-18 15:18] markelog commented on #5858
We could redo a ticket description as checkbox list, any approach is fine with me however.

[2016-04-18 15:28] platinumazure commented on #5880
@nzakas Also we need to update Makefile.js so that `npm run check-commit` will accept the new label, or has that been done already?

[2016-04-18 15:30] #5833 closed

[2016-04-18 15:34] nzakas commented on #5848
I'm sorry, I don't believe invisible defaults make sense and I'm very much against unnecessary extra console output because it has the potential to break tooling that relies on a particular format (for JSON, for example, it would be really bad).

Given that there's already a way to use gitignore if you really want to, we aren't going to move forward with this. Thanks for the discussion, everyone.

[2016-04-18 15:34] #5848 closed

[2016-04-18 15:39] nzakas commented on #5858
@markelog will the jQuery folks be able to maintain the config?

A larger question here is where do we want the configs to be stored? If we plan to hand them off to the respective projects, then they should each be a separate repo.

[2016-04-18 15:40] nzakas commented on #5880
@platinumazure oops, forgot about that. Added.

[2016-04-18 15:41] nzakas commented on #2693
Looks like we need a champion @eslint/eslint-team

[2016-04-18 15:43] nzakas commented on #2419
We don't plan to address this until we look at redoing how configuration is done, so no immediate changes are expected here.

[2016-04-18 15:45] nzakas commented on #5840
Irregular whitespace in strings might be intentional for output. No objections to adding the options if @mysticatea wants to as long as the default behavior remains the same.

[2016-04-18 15:46] nzakas commented on #5856
Ah right.

[2016-04-18 15:47] markelog commented on #5858
We would need to discuss that, but it seems we will, currently, i will put it under my account.

Yeah, that was my thinking - to "/cc" everyone (like any org/person) related to presets (if they don't already exist). Obviously, presets like "Crockford" would be maintained by someone else. I guess that could be me at the moment, can transfer that responsibility to any interested parties however.

[2016-04-18 15:53] nzakas commented on #5850
Sorry, what I meant is, I generally feel that we need evidence that the problem has some level of ubiquity before we accept something as a core rule. The use case of, "it happened once to us and I want to prevent it from happening again" is precisely the use case for custom rules (literally this is what caused me to create ESLint).

I'll leave this open for a bit to see if anyone on the team wants

[2016-04-18 15:56] #5803 closed

[2016-04-18 15:59] IanVS commented on #5848
Sounds good, thanks for talking it out.

[2016-04-18 16:49] gajus opened #5885 "id-match onlyDeclarations evaluates property assignment value (when it should not)"
**What version of ESLint are you using?**

v2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

The subject code:

[code]

**What did you expect to happen?**

I expected no linting error.

**What actually happened? Please include the actual

[2016-04-18 16:50] gajus commented on #5885
I don't understand what is the reason `__dirname` is treated as a property. This is the code bit that wrongly (?) assumes that `__dirname` is a property, https://github.com/gajus/eslint/blob/ccd8ca91c920f0a847c9510e6f83aa01aff2b07e/lib/rules/id-match.js#L97-L107.

[2016-04-18 17:25] nzakas commented on #5858
@markelog sounds good. You can always put a note in the readme that you're looking for a maintainer and we can publicize that using the Twitter account and the blog as well.

[2016-04-18 17:27] nzakas commented on #5858
@ntwb awesome, thanks!

[2016-04-18 17:31] markelog commented on #5858
https://github.com/jquery/eslint-config-jquery is created btw, so yeah, jQuery Foundation will support eslint plugin

@nzakas cool!

[2016-04-18 17:48] nzakas commented on #5867
@zxqfox nice! We should be able to reuse that detection logic. Can you list here (or point to docs) that explain the various options?

@byk yes, I think if we can reuse some of what's in JSCS, we probably have a good shot.

[2016-04-18 17:49] nzakas commented on #5808
Okay, we'll leave this to @byk and @onurtemizkan to implement.

[2016-04-18 18:06] zxqfox commented on #5867
Yeah, sure.

By default it reports any function without bound jsdoc-block except `anonymous` functions. It tries to find comment-block on the previous (or skip one empty line, except file start) with the same indent as statement with target function.

E.g.:
[code]

[code]

And next to it there are several filters:
- anonymous: enabled by default, describes functions without names (node.name.id or

[2016-04-18 18:12] nzakas commented on #5845
Okay wow, so I think there's some pretty big misunderstandings going on here, as people are summarizing my proposal in a bunch of ways that are incorrect. Let me try to clear things up by answering individual points.

@kaicataldo @alberto

We can't actually do this for a few reasons. First, plugins always have prefixes, so not only would people have to download the package, they would still have t

[2016-04-18 18:29] IanVS commented on #5845
In the process of deprecating a rule, would we remove/disable its tests?

[2016-04-18 18:30] nzakas commented on #5845
Starting a new comment for my own sanity.

So far, the only downside anyone has identified for not removing rules is that people will still file issues about the deprecated rules, and we'll have to close them.

I'd also like to point out a few additional things:

1. In the nearly three years of ESLint's existence, we have only removed 18 rules (we have over 200 right now), so basically 6 rules per

[2016-04-18 18:31] nzakas commented on #5845
@IanVS no, we need the tests to remain so we can verify if we broke anything.

[2016-04-18 18:35] platinumazure commented on #5885
I wonder if that bit of code was meant to check property keys only? In that case, it would be sufficient to check `node.parent.type === "Property" && node.parent.key === node`.

[2016-04-18 18:49] IanVS commented on #5845
I agree we need to be very conscious of how our actions affect lots of people, and would be in favor of a one or even two year deprecation timeline, perhaps combined with some helpful tooling.  "Forever" is a very long time, which I think is why some of us are nervous about stagnation or lock-in.  I agree that tooling can't automatically update configs, but it could at least identify deprecated ru

[2016-04-18 18:49] platinumazure commented on #5845
I was going to ask, why time-bound rather than release-bound. The Django project (which you'll recall had originally inspired my proposal) does things in a release-bound way. Then I realized that their releases are fairly rigorously scheduled, so in a way, they are time-bound.

Personally, I think a year is longer than needed and that 6 months would be reasonable in most cases, though we could cer

[2016-04-18 18:54] platinumazure commented on #5882
I don't know JSX-- do their "attribute strings" have the same escape syntax and semantics as strings?

If so, then `\d` is actually incorrect and you should be using `\\d`, and the rule is flagging correctly. But if JSX has different syntax and semantics for string escapes, then yes, there might be a bug or enhancement request here.

[2016-04-18 18:59] ilyavolodin commented on #5845
I'm not too worried about people filing issues against deprecated rules, honestly. I just don't really want to drag that baggage forever. But it looks like you feel very strongly about this, and my position is pretty flexible, so I'm not going to oppose this.

[2016-04-18 19:16] jamon opened #5887 "object-curly-spacing reports error for "export Something from './test'" (exporting default)"
**What version of ESLint are you using?**
v2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No error.

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

I've

[2016-04-18 19:17] jamon commented on #5887
This is also an issue logged against eslint-babel: https://github.com/babel/babel-eslint/issues/224

[2016-04-18 20:16] btmills commented on #5887
The `export foo from 'foo';` shorthand is currently a [stage 1 proposal](https://github.com/tc39/ecma262#current-proposals). ESLint natively supports standardized language features, so for experimental features like this you'll want to continue to rely on `babel-eslint`.

[2016-04-18 20:16] #5887 closed

[2016-04-18 20:17] btmills commented on #5887
Based on https://github.com/babel/babel-eslint/issues/167, it looks like this is already handled in [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel)'s `object-curly-spacing` rule.

[2016-04-18 20:47] turadg commented on #5882
JSX treats attribute strings the way HTML does.

https://jsfiddle.net/69z2wepo/39157/

[2016-04-18 21:11] alberto commented on #5845
@nzakas I don't want to get too argumentative, so feel free to ignore the responses below, but since you were asking for feedback, you could keep the discussion open a little longer before discarding ideas as unrealistic :)

Couldn't it be feasible to make an exception for our `eslint-plugin-deprecated-rules` package so that they didn't need to be prefixed? Then one would only have to include that

[2016-04-18 21:15] platinumazure commented on #5882
Fascinating. espree does return the string as a literal with the backslash properly escaped, according to ASTExplorer: http://astexplorer.net/#/92TrD2yHtJ

Can you `npm ls` so we can see what version of espree you're running with?

[2016-04-18 21:21] ljharb commented on #5850
@nzakas what's the path for custom plugins to be included in core, without having to copy and paste the code over?

[2016-04-18 21:44] turadg commented on #5882
Very handy! I changed the parser from "acorn" to "babel-eslint" and the value literal is still `"[\\d]{3,4}"`. (Fwiw, same for Espree, but Typescript parses as `"[d]{3,4}"`.)

I also commented out `babel-eslint` in my eslintrc and it made no difference.

[2016-04-18 22:02] platinumazure commented on #5882
Ah well, worth a shot. Thanks for trying those out. I'll dig in further
when I get home.
On Apr 18, 2016 4:44 PM, "Turadg Aleahmad" <notifications@github.com> wrote:

[2016-04-18 23:26] pmcelhaney commented on #5845
One thing that bothers me about ESLint is when it doesn't recognize a rule it fails on every single file.

Can we just change the error to a warning and skip over the unrecognized rule?

And if the rule happens to be one that was deprecated and removed,  add a bit more detail in the warning  message, as Van suggests?

[2016-04-18 23:56] mysticatea commented on #5882
I saw the spec: https://facebook.github.io/jsx/
JSXText seems to not have any escape sequence.

And I confirmed this with espree, too.
I will fix this.

[code]

[2016-04-19 01:41] BYK commented on #5845
@nzakas - Okay, I think I didn't understand your underlying concerns before. Now I'm almost a convert. I understand shared configs may be an issue. I think if we can find a way to automatically update configs (which is already not very easy) we can also get all repos with ESLint configs and submit automated PRs to them as other projects do. We can also encourage shared config maintainers to mentio

[2016-04-19 02:21] scriptdaemon opened #5891 "`require-jsdoc`: add option to allow only one comment block per getter / setter pair"
**What version of ESLint are you using?**

2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

`require-jsdoc: ["error", { "require" : { "MethodDefinition" : true, "ClassDeclaration" : true } }]`

**What did you do? Please include the actual source code causing the issue.**

I'm writing a wrapper for a module, and instead of expo

[2016-04-19 02:53] kaicataldo commented on #3092
We now also have [newline-before-return](http://eslint.org/docs/rules/newline-before-return), which is in a similar vein to the proposed rule.

[2016-04-19 03:03] SpadeAceman commented on #5845
Or even better – why not just turn the deprecated rules into "no-op" modules?

If the goal is to keep user configs from breaking, does it matter if the old rules actually *do* anything after they're deprecated?

Perhaps all a deprecated rule needs to do is log a message about how it's been deprecated and no longer does anything, please use rule X instead. This avoids breaking legacy configs, provi

[2016-04-19 03:57] scriptdaemon commented on #5529
I'd like to add to this issue tracking for missing examples for arrow functions to relevant rules. There was a commit in the past that added arrow functions to a large number of rules, but not all rule docs were updated with examples: https://github.com/eslint/eslint/commit/accca0b7d21d96e33fe542b87bf79ac17d541f08 (@pedrottimark If you feel this should be a separate issue, I can move it).

For now

[2016-04-19 06:51] MoOx opened #5893 "Add the opposite of eslintignore ("files" field)"
From what I am reading in the docs (http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories) there is currently only a wait to ignore files, but nothing like [npm files](https://docs.npmjs.com/files/package.json#files) to include the files you want from the config file.
Another example is the AVA test runner that offers a "files" field so we can choose what to test https://git

[2016-04-19 09:32] nashe opened #5894 "no-this-before-super: Cannot read property "superCalled" of undefined"
Aloha,

**What version of ESLint are you using?**

Tried with v2.5.3, v.2.8.0 (in Atom using the global `eslint`).

**What parser (default, Babel-ESLint, etc.) are you using?**

Default?

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error message. The `no-unreachable`

[2016-04-19 10:26] DanSnow opened #5895 "ES7 decorator: TypeError: Cannot read property 'type' of undefined"
Hello, I'm using eslint v2.8.0, with babel-eslint.

My configure:
[code]

Here is the code:
[code]

It should report decorator "autobind" undefined, but it crash.

[code]

[2016-04-19 11:18] scriptdaemon commented on #5845
I like the idea of printing a non-failing warning for each deprecated rule (and their replacement) being used during linting, FWIW. Without something of that sort, it's hard for a user to know what rules have been deprecated and what rule(s) replaced them without going through the changelog (which I'm willing to bet a lot of users don't do).

[2016-04-19 12:14] mysticatea commented on #5894
Thank you for this issue.

I will fix it.

[2016-04-19 12:47] ilyavolodin commented on #5893
The reason it's slow currently is that ignore patterns do not affect globing. So while files under your node_modules directory is not going to be linted, they are still being walked though when we are opening globs. There's already an open issue tracking this: #5679
Once that is fixed, I really don't see the need for both include and exclude patterns, when you specify exclude pattern, everything t

[2016-04-19 12:50] ilyavolodin commented on #5895
You should open an issue about this with [babel-eslint](https://github.com/babel/babel-eslint) instead, since we do not support experimental features, and none of our rules are written to take into account things like decorators.
Closing, as this is not something we support.

[2016-04-19 12:50] #5895 closed

[2016-04-19 12:52] #5882 closed

[2016-04-19 12:54] MoOx commented on #5893
Oh, that's interesting. So I am tracking this issue. Thanks for the explanation. Should I close this one then?

[2016-04-19 12:56] ilyavolodin commented on #5893
I think it's safe to close, since #5679 is already tracking the same problem.

[2016-04-19 12:56] #5893 closed

[2016-04-19 13:03] mysticatea commented on #5756
Acorn v3.1.0 has been released.
But some espree's tests are failed with that.
I'm working on espree.

[2016-04-19 14:19] rudym87 opened #5898 "no-fallthrough treats comments as case statements"
**What version are you using?**
2.8.0 (2.7.0 didn't show this behaviour)

**What did you do?**
My configuration
[code]
My code
[code]
**What happened?**
[code]
**What did you expect to happen?**
No errors reported.
I used the comment to disable a case.
A similar error occurs when I used a comment to group cases like this:
[code]
In both cases there was no intentional fallthrough without comments,

[2016-04-19 14:23] pedrottimark commented on #5774
@rik Your comment shines some light on a vague thought that was lurking in the back of my mind. For many people, ESLint plugins or JSCS presets seem more relevant than `eslint:recommended` but those are maintained by third parties, true?

In contrast, a change to *which rules* are recommended by ESLint is considered breaking, can only happen at major versions. therefore that information is realist

[2016-04-19 16:02] evilebottnawi commented on #4376
@alberto I'm ready to do this, it is better to make a separate rule? And what do you think about name for rule?

[2016-04-19 16:44] alberto commented on #5679
Note `.eslintignore` uses `ignore` pattern syntax, while `glob` uses `minimatch`.

[2016-04-19 16:59] nzakas commented on #5613
@btmills can you comment on this?

My initial feeling is that this would be pretty complicated, but I don't know the code well enough.

[2016-04-19 17:00] sindresorhus opened #5900 "Improve the UX of using an npm installed formatter"
This is currently what you have to write to use a custom npm installed formatter with ESLint:

[code]

That's not very user-friendly.

I propose the following:

1. Make [`getFormatter()`](http://eslint.org/docs/developer-guide/nodejs-api#getformatter) try to [require the formatter from cwd](https://github.com/sindresorhus/req-cwd) first. That way you could just do:

[code]

2. Make it possible to

[2016-04-19 17:04] ilyavolodin commented on #5613
We had some trouble with alignment in the past. Mostly around figuring out how to group things for alignment (I think it was in `one-var` or at least some rule that dealt with styling around variable declarations). I think it would be a reasonable addition, but I'm afraid there might be too many edge-cases.

[2016-04-19 17:26] platinumazure commented on #5900
@sindresorhus To be clear, you are looking for this enhancement in CLIEngine and the CLI interface, if possible?

[2016-04-19 17:41] pillowfication opened #5901 "`/* eslint-warn */`"
I'm looking for functionality similar to

[code]

where instead of ignoring all linting errors that appear in the code block, ESLint will mark them all as warnings.

[code]

This way I can see exactly which errors I am ignoring.

[2016-04-19 17:45] sindresorhus commented on #5900
@platinumazure Yes, more specifically, in `CLIEngine.getFormatter`.

[2016-04-19 18:00] ilyavolodin commented on #5901
You can sort of do this with `/* eslint rulename: 1 */`, however, this declaration is hoisted to the top of the file, and will make the rule warn on the whole file. Unfortunately, we wouldn't be able to add non-hoisted warn comment like that, due to the way rules are processed in the core.

Closing since this is not something we can do. Feel free to reopen if you have an idea on how to implement t

[2016-04-19 18:00] #5901 closed

[2016-04-19 18:01] ilyavolodin commented on #5900
I was wondering if we should instead add formatters to be distributed through plugins? Formatters are the only thing we currently have that we don't have a recommended way of shearing.

[2016-04-19 18:31] nzakas commented on #5898
This was an intentional change. You can see the discussion here: https://github.com/eslint/eslint/issues/5799

[2016-04-19 18:33] nzakas commented on #5900
I fear this is more complicated than it looks. That said, @sindresorhus if you want to volunteer to investigate feasibility, we can consider it.

[2016-04-19 18:35] nzakas commented on #5874
I don't want to include `eslint-cli` in the instructions. People complained about double installations for things like Gulp and Grunt, and I don't want to add that here.

Really, the only issue we have right now is with absolute beginners who aren't used to using npm. If we want to include some longer text about the difference between local vs. global installs, that's fine, I just wouldn't want to

[2016-04-19 18:37] nzakas commented on #5850
@ljharb I'm not quite sure what you're asking. Plugins are never included in the core, and we rarely migrate a rule from a plugin into the core (because if it exists in a plugin, why not keep it there?). If we decide something is so important that it should be in the core, in the past we have just copied it over.

So, it looks like no one else felt strongly enough for this rule to champion it, so

[2016-04-19 18:37] #5850 closed

[2016-04-19 18:47] #4668 closed

[2016-04-19 18:54] sindresorhus commented on #5900
I've already looked into it, and doesn't seem that hard to me, unless I'm missing something.

I would just use [`resolve-from`](https://github.com/sindresorhus/resolve-from) [here](https://github.com/eslint/eslint/blob/38feead95f8d84f6a2f89beec56f5ac133efe479/lib/cli-engine.js#L481) and prepend `eslint-formatter` if missing.

Untested patch:

[code]

[2016-04-19 19:18] btmills commented on #5613
@Kyle-Mendes sorry this got lost, that's my fault.

As to feasibility, I think we got lucky on this one and it might be among the easier changes to `key-spacing`. We're already [separating properties into groups](https://github.com/eslint/eslint/blob/46d061059dfb7c07caca478adc552658ce70e09a/lib/rules/key-spacing.js#L392), so In Theory&trade;, when [`verifyGroupAlignment` determines `beforeColon` a

[2016-04-19 19:47] pedrottimark commented on #5613
Thinking about describing the option schema, something that I cannot tell for sure from https://github.com/eslint/eslint/issues/5613#issue-141943387 is whether the heart of the request is
* multiLine options apply to “groups” with more than one property
* singleLine options apply not only to single-line object literal but also to groups with only one property

If it is not more complicated than th

[2016-04-19 19:56] btmills commented on #5613
@pedrottimark I'm so glad you read these. My comprehension was clouded by being too familiar with the implementation. Going back now and re-reading, this is what I'm getting:

- Currently, `singleLine` and `multiLine` apply based on whether the properties in the *entire object* spans more than one line.
- Assuming @pedrottimark is correct, this issue wants an option to change the behavior such tha

[2016-04-19 20:20] Kyle-Mendes commented on #5613
I took a stab at implementing this here: https://github.com/Kyle-Mendes/eslint/commit/a0d23e766ea84bab73c28196b9adfb4d0a65dfad.

@pedrottimark Was close, but simply using the single-line spacing isn't exactly what I was looking for.  The expanded example I gave wouldn't be possible with that, I don't believe.

What I did was add an `alignment` property which allows for additional configuration for

[2016-04-19 20:29] kaicataldo commented on #5874
Alright. I'll put together a PR for the docs change. Is moving `eslint-cli` into the organization off the table for now as well?

[2016-04-19 20:37] pedrottimark commented on #5613
Good timing that the doc for this rule is in the next batch to be updated, so we can think about the description along with the implementation and the examples along with the tests.

@scriptdaemon If you have already started or will soon start to think about key-spacing.md this is an issue to watch and your thoughts are welcome. If you prefer not (and that’s okay) let me know.

[2016-04-19 20:41] jamon commented on #5887
oh, sorry about the noise and thanks for pointing me in the right direction.  I didn't realize eslint-plugin-babel existed

[2016-04-19 20:56] ljharb commented on #5850
That policy means I'm strongly disincentivized to ever create a custom plugin, because by doing so, I've doomed my rule to never be included in core.

[2016-04-19 22:48] danwang opened #5908 "Add option to ignore destructuring vars"
ES6 destructuring can be used to omit properties from an object. This is somewhat common in React:

[code]

It'd be nice to have an option to mark variables used when the variable is part of a destructuring assignment with a spread operator. All variables except the spread should be marked as used.

**What version of ESLint are you using?**
v2.7.0

**What rule do you want to change?**
Two options:

[2016-04-20 00:57] #5894 closed

[2016-04-20 01:01] ilyavolodin opened #5909 "Chore: Create integration test for auto-fixing"
JSCS had a very nice test to check auto-fixing. It had two config files and it would take the whole source code of itself and autofix it to second config, then autofix it to first and compare results. @mikesherov @hzoo @markelog @mdevils @zxqfox correct me if I'm wrong in my description above.

I think it would be really nice to add similar test to ESLint. We just added multi-pass autofixing, and

[2016-04-20 01:03] mikesherov commented on #5909
Yup this is accurate.

[2016-04-20 01:11] zxqfox opened #5910 "Port JSCS require|disallowMultipleVarDecl rules"
[requireMultipleVarDecl](http://jscs.info/rule/requireMultipleVarDecl), [disallowMultipleVarDecl](http://jscs.info/rule/disallowMultipleVarDecl) → http://eslint.org/docs/rules/one-var (?)

`onevar` doesn't cover atm these cases:
- `{requireMultipleVarDecl: true}`
- `{requireMultipleVarDecl: {allExcept:["require"]}}`
- `{disallowMultipleVarDecl: {allExcept:["require"]}}`
- `{disallowMultipleVarDecl

[2016-04-20 03:58] Alex1990 opened #5911 "The command line option `--ext` doesn't work when the filename is specified explicitly."
The default value of `--ext` is `.js`. But, when I run the below command, eslint still lints the file. Is it intentional?

[code]

Even I explicitly specify the `--ext` option:

[code]

ESLint: v2.8.0
Node: v5.5
OS: Darwin Kernel Version 15.0.0

Also, I find this behavior when I want a Bash variable to represent the filenames. Example:

[code]

[2016-04-20 04:19] scriptdaemon commented on #5613
@pedrottimark I have started, and I was thinking I could have the next batch ready for a PR tomorrow.

However, do we want to wait for this? I'm wondering if I can get the next batch in a ready state before this issue is resolved, I can update the doc for this rule as it currently works. Then, in the PR for this issue, we can discuss the changes corresponding to the updates and worry about it at t

[2016-04-20 04:32] scriptdaemon opened #5912 "Update rule descriptions"
This is just a small tracking issue for the few rules that specifically refer to a kwyrod (`var` and `function`) in their descriptions even though the rules apply to the broader concept (`let` and/or `const` and arrow functions). As the metadata is added to the rules, these can be updated then, and the remaining descriptions can be updated when the metadata updates are complete. The rules that onl

[2016-04-20 04:59] jedateach opened #5913 "no-return-assign "always" still allows assignment if using OR in return statement"
**What version of ESLint are you using?**
eslint@1.10.3 AND eslint@2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
A 'no-return-assign' error

**What actually happened? Please include the actual, raw o

[2016-04-20 07:02] scriptdaemon commented on #5446
To remain consistent with the discussions for the process of deprecating rules (and simply for sanity's sake), docs for maintained rules (i.e. non-deprecated rules) should not list any deprecated rules in their "Related Rules" sections.

[2016-04-20 08:37] nashe commented on #5894
Awesome, thanks!

[2016-04-20 08:51] adamkdean commented on #5603
We are in need of this rule presently, and would value it highly, should it be implement.

[2016-04-20 10:08] holm commented on #5679
Could `node_modules` just not always be ignored? It makes a huge difference to the speed of eslint, and I have a hard time seeing the use-case for linting `node_modules`.

[2016-04-20 10:50] ikokostya commented on #5860
Current reporter in `jscs` prints only 2 lines before and after. I propose to add option for this.

[2016-04-20 10:52] zxqfox commented on #5603
Something similar to [requirePaddingNewLinesInObjects](http://jscs.info/rule/requirePaddingNewLinesInObjects), [disallowPaddingNewLinesInObjects](http://jscs.info/rule/disallowPaddingNewLinesInObjects) but with options of [requirePaddingNewlinesInBlocks](http://jscs.info/rule/requirePaddingNewlinesInBlocks).

[2016-04-20 13:29] pedrottimark commented on #5613
@scriptdaemon Sorry I was unclear to sound like asking you to wait. Am glad if we merge improvements to the rule doc with current options, to see more clearly how the new option will fit.

[2016-04-20 13:46] pedrottimark commented on #5613
@Kyle-Mendes @btmills Here is an odd thought. Especially if this rule becomes **fixable** in the future, could conditional behavior related to single or multiple property alignment group (which I am still trying to understand correctly;) cause a spacing change to an adjacent property when you add a new property?

That is, could it have the side-effect of causing a problem analogous to what comma-d

[2016-04-20 13:53] Kyle-Mendes commented on #5613
@pedrottimark Yep, that's correct.  The additions of properties can force a code change on other lines if your `alignment` configuration didn't match either the `multiLine` or `singleLine`.  In your example above, if `multiLine` was set to `beforeColon: true, afterColon: true` then there wouldn't be a line change.

I believe that it is possible to trigger the spacing change to an adjacent property

[2016-04-20 14:16] vitorbal commented on #5667
Should the rule also handle `ObjectPattern`? i.e.:
[code]

FWIW the [JSCS rule](https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/require-object-keys-on-new-line.js#L85) seems to only handle `ObjectExpression`.

[2016-04-20 14:39] btmills commented on #5613
Yep, and it doesn't even require separate `singleLine` and `multiLine` config:

[code]

Add a longer key, and you have to adjust every property in the group:

[code]

Precisely. I don't think this option would introduce anything there that we wouldn't already have to handle.

[2016-04-20 14:40] pvamshi commented on #5667
I am starting to work on this . Please suggest which of these need to be warned.
1.
[code]

2
[code]
3
[code]

4
[code]
5
[code]

I will be grateful if you can add any more test cases.

[2016-04-20 14:56] btmills commented on #5613
@Kyle-Mendes your implementation in https://github.com/Kyle-Mendes/eslint/commit/a0d23e766ea84bab73c28196b9adfb4d0a65dfad demonstrates that this is practical to implement. I'd still like to tweak your proposed options a bit to make it clear that the cases where the new option applies are a subset of those where alignment might apply. Brainstorming, what about this?

[code]

In the `singleLine`/`mu

[2016-04-20 15:00] zxqfox commented on #5667
Feel free to use cases in JSCS' tests: https://github.com/jscs-dev/node-jscs/blob/master/test/specs/rules/require-object-keys-on-new-line.js

[2016-04-20 15:37] Kyle-Mendes commented on #5613
@btmills

I think that's a great idea.  And I really like the idea of `individuals` and `groups`.  My only worry is that it's not immediately semantically clear, and also would introduce a breaking API change for current users.

What if we did something like this?

[code]

Then, the schema would only need to change to make `align` accept a string or an object.  If it's an object, we use the logic

[2016-04-20 16:05] cschuller commented on #3143
@wmertens Sorry, the chance is very low, but not zero :wink: Speaking personally, I love ESLint, but I do not like the auto-fix feature. The primary focus of ESLint shall be linting not fixing. Besides my personal point of view, if more people are interested in adding auto-fix to sort-import, I can do it. :smiley:

[2016-04-20 16:24] zxqfox commented on #5613
I think we should this issue to JSCS Milestone: http://jscs.info/rule/requireAlignedObjectValues ;-)

[2016-04-20 16:47] Kyle-Mendes commented on #5613
@zxqfox Does this allow for the flexible configuration that we have here though?  That matches my personal use case, but I think there's something to be said about the ability to set the specific alignment options like we have above.

[2016-04-20 17:18] zxqfox commented on #5613
Not so flexible as you already invented but there are two specific options for grouping records dividing by newlines or functions:
[code]

Would be nice if you will bear in mind this.
Also you can take a look at specs: https://github.com/jscs-dev/node-jscs/blob/master/test/specs/rules/require-aligned-object-values.js.

Oh, there are also computed property names and methods:
[code]

[2016-04-20 17:21] btmills commented on #5613
@zxqfox it looks like the JSCS equivalent is sufficiently different from this proposal to deserve its own issue. Can you create one outlining what you think compatibility should look like? We can add that to the milestone.

[2016-04-20 17:31] btmills commented on #5613
@Kyle-Mendes no matter which way we do this, it won't need to be a breaking change. I'm fine with `on` as the key name for align, "align on colons" or "align on values" makes sense to me.

Your proposal is this:

[code]

Would we also support the object `align` value in the combined config like this?

[code]

[2016-04-20 17:48] vitorbal commented on #5667
After checking with @pvamshi, I'll work on this issue!

[2016-04-20 18:19] Kyle-Mendes commented on #5613
I think we should include the `align` object as well.  It shouldn't be too difficult to support.  I'd be happy to take a stab at implementing this new syntax and fixing the PR if you'd like.

[2016-04-20 18:55] btmills commented on #5613
I'm happy with the new options as shown in https://github.com/eslint/eslint/issues/5613#issuecomment-212526880. We would of course maintain backwards compatibility with string values of "colon" or "value" for "align" as well. Anyone else have any thoughts?

[2016-04-20 19:11] StreetStrider opened #5914 "Proposal: eslint-disable-block"
Hello. I'm thinking of a feature that allows to disable a set of rules for whole JavaScript code block.

*What*: A comment ontop of block which disables rule for the rest of the block.
[code]

*What is the main benefit*:
* It allows to automatically enable rules at block ends, preventing you from forgetting to do it manually.
* Saves your time.
* Makes code clearer, since it will not be pollutted

[2016-04-20 19:31] ilyavolodin commented on #5613
Sounds reasonable to me. Although the schema is going to look very complex for this rule, but I see no other good option.

[2016-04-20 21:02] ayrton opened #5915 "Unable to parse flow tuples of unions"
It's currently impossible to parse [flow tuples of unions](http://flowtype.org/docs/builtins.html#literal-types) in eslint. Is this something you plan to support?

**What version of ESLint are you using?**

1.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint 4.1.6

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you e

[2016-04-20 21:08] platinumazure commented on #5915
ESLint doesn't directly support experimental features like FlowType. You should raise this with babel-eslint since you're using that as your parser. Thanks!

[2016-04-20 21:10] ilyavolodin commented on #5915
Closing as this is an issue for `babel-eslint` or `eslint-plugin-babel`.

[2016-04-20 21:10] #5915 closed

[2016-04-20 22:44] not-an-aardvark opened #5916 "constructor-super throws a TypeError if a constructor has multiple return statements"
**What version of ESLint are you using?** 2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I ran eslint on this file:

[code]

**What did you expect to happen?**

I expected ESLint to exit silently, or perhaps give a warning message about the

[2016-04-20 22:53] pke opened #5917 "[Tests] Improve "Output is incorrect." for fixes assert message"
Currently when an output condition is not matching the applied fix the assert message does not contain the expected and actual values:

[code]

Also the stacktrace does not reveal anything useful about the assertion.

I propose to include the `output` and fixed source code in the assertion.

[2016-04-21 00:10] pke opened #5918 "Don't include whole lodash but require specific functions onle"
Would be nice if not the whole `lodash` lib would be required whenever a small function out of it is used. The recommended way is to require only the functions `require('lodash/lib/func)`

[2016-04-21 00:12] ilyavolodin commented on #5917
Hmm... throw statement is coming directly from Chai's assert. I'm not really sure what can be done about that.

[2016-04-21 00:14] ilyavolodin commented on #5918
We specifically converted from requiring specific functions to requiring the whole lodash. It was deemed to be faster, due to the fact that NPM caches packages, and it's much more likely that another package would require the whole lodash, rather then specific functions that we are using (and we are using good number of them).

[2016-04-21 00:22] pke commented on #5917
Line 424 in rule-tester.js

[code]

``´es6
assert.equal(fixResult.output, item.output, "Output is incorrect.\nExpected: " + item.output + "\nGot: " + fixResult.output);
[code]

[2016-04-21 00:25] pke commented on #5918
Ah ok. Don't know much about NPM caches. Just caring about runtime overhead.

[2016-04-21 00:29] ilyavolodin commented on #5917
In that case, I'm all for doing that. Those stack traces are not very helpful, I agree. @nzakas are you OK with doing this?

[2016-04-21 00:32] ilyavolodin commented on #5918
When this change was introduced, we did performance testing on it, and there was no impact on run-time at all. We were also able to remove a bunch of other dependencies (including handlebars which is bigger then the whole lodash library).

[2016-04-21 00:32] #5918 closed

[2016-04-21 00:51] pke commented on #5917
So I understand this `assert` is coming from `chai`? If so, that might be also a bug in `chai`, cause I remember it used to print out unequal strings. With color diffs on the console even. But maybe that was a `chai` plugin.
I could also stem from the fact, that `assert` prints different outputs than `expect`(which I used). See http://chaijs.com/guide/styles/

[2016-04-21 02:18] platinumazure commented on #5917
I think it's because we're supplying the third argument at all. Try removing it, maybe that's all we need? (Though the longer message may be better)

[2016-04-21 02:32] mysticatea commented on #5916
Thank you for this issue.

I have fixed this in #5897.
Please wait for the next release :wink:

[2016-04-21 02:32] #5916 closed

[2016-04-21 03:32] kaicataldo commented on #5914
I'm personally not a huge fan of this idea.

If anything, I think it makes it harder to keep track of what ESLint is or isn't ignoring, especially if the block being ignored is a large one. You'd have to check the top of every block you touch to ensure you're ESLint is linting your changes.

[2016-04-21 05:01] BYK commented on #5867
@zxqfox - Wanna give this a shot? Otherwise I'll go ahead and try to implement it.

[2016-04-21 09:31] StreetStrider commented on #5914
@kaicataldo, that is more an argument to not to have big blocks or not to use this pragma on it. I think this feature would be good for down-level blocks which is small. In other cases off-on pragma is better.

[2016-04-21 09:54] scriptdaemon commented on #5446
Where options have been deprecated, examples should no longer reference the deprecated option, nor should the option be listed among the available options. However, a note with the following format should be placed at the bottom of its respective option summary:

**Deprecated:** The object property `maximum` is deprecated; please use the object property `max` instead.

[2016-04-21 12:44] platinumazure commented on #5914
My personal take: This proposal is redundant because the proposed scenario can also be covered with `/* eslint-disable */` and `/* eslint-enable */`. The added user benefit does not seem to be worth the extra maintenance headache (`eslint.report` is already very complicated).

But we'll see if anyone on the team wants to champion it.

[2016-04-21 12:55] StreetStrider commented on #5914
@platinumazure, OK, I'm cool with that.
The one thing I want to be noted is that the benefit is the ability to not to write closing pragma, so it works very natural, like resource deallocation when something leaves the block in languages like C++ / Rust.

[2016-04-21 12:55] #5914 closed

[2016-04-21 14:21] Kyle-Mendes commented on #5613
@btmills @ilyavolodin how do we want to handle `mode` for the new `align` configuration?  Previously, it was a property of just `multiLine`.  Should it now also be a parameter for the top level `align`?

[2016-04-21 15:05] screendriver commented on #2102
👍 for [dirty-chai](https://github.com/prodatakey/dirty-chai)

[2016-04-21 15:44] nzakas commented on #5917
I think @platinumazure is right. The ideal is to have the comparison output rather a message, and I think that should happen automatically.

Either way, a change would be good.

[2016-04-21 15:45] zxqfox commented on #5867
Not now :-( Go ahead!

[2016-04-21 15:57] nzakas commented on #5860
@ikokostya we don't have options for formatters, but you can always create your own formatter that does exactly what you want.

[2016-04-21 15:58] #5874 closed

[2016-04-21 16:10] btmills commented on #5613
Good catch. I think it should.

[2016-04-21 16:12] alberto commented on #5880
@mikesherov are you working on this?

[2016-04-21 17:43] mikesherov commented on #5880
Yup. I'll do it tonight. Thanks for the ping

[2016-04-21 18:24] nzakas commented on #2271
@btmills @IanVS any updates on this? Still planning to move forward?

[2016-04-21 18:27] nzakas commented on #5000
Is there anything left to do here?

[2016-04-21 18:27] nzakas commented on #4563
@platinumazure are you still interested in doing this?

[2016-04-21 18:32] IanVS commented on #2271
I have no immediate plans to pursue this myself, no.

[2016-04-21 18:35] nzakas commented on #3652
We were unable to find a champion on the team for this proposal, so closing.

[2016-04-21 18:35] #3652 closed

[2016-04-21 18:36] nzakas commented on #3662
There hasn't been any movement on this issue in a long time, so closing.

[2016-04-21 18:36] #3662 closed

[2016-04-21 18:37] nzakas commented on #3845
@BYK can we mark this as accepted? Is this something we want to do?

[2016-04-21 18:38] nzakas commented on #3914
There hasn't been any progress here in four months, so closing.

ESLint team: if anyone wants to champion this change, please reopen.

[2016-04-21 18:38] #3914 closed

[2016-04-21 18:39] nzakas commented on #4133
@eslint/eslint-team does anyone want to champion this?

[2016-04-21 18:39] nzakas commented on #4236
Seems like we couldn't resolve this, and no further interest or discussion occurred in the past few months, so closing.

[2016-04-21 18:39] #4236 closed

[2016-04-21 18:40] nzakas commented on #4345
It looks like we all agreed this was a good idea. Anyone want to take a stab at implementing it?

[2016-04-21 18:41] nzakas commented on #4369
We couldn't find a champion for this rule on the ESLint team, so closing.

[2016-04-21 18:41] #4369 closed

[2016-04-21 18:42] nzakas commented on #4378
No movement on this issue in a long time, so closing. We'll likely revisit as we make improvements to autofix in the future.

[2016-04-21 18:42] #4378 closed

[2016-04-21 18:43] nzakas commented on #4654
No consensus here, so closing.

[2016-04-21 18:43] #4654 closed

[2016-04-21 18:44] btmills commented on #2271
There's an open issue (https://github.com/eslint/eslint-plugin-markdown/issues/46) discussing how to support expected errors in linter examples. How about closing this, tracking possible ideas over there, and if we can figure that out, we can open a new issue here?

[2016-04-21 18:44] nzakas commented on #4829
No movement on this, so closing. We'll likely revisit a lot about how plugins work in the future, though, so stay tuned.

[2016-04-21 18:44] #4829 closed

[2016-04-21 18:44] nzakas commented on #5098
@IanVS what are your plans for this issue? Should it be marked as accepted? Or are we not doing it?

[2016-04-21 18:46] IanVS commented on #5098
I'm waiting on a response from @ilyavolodin (https://github.com/eslint/eslint/issues/5098#issuecomment-177764174) to continue troubleshooting.

[2016-04-21 18:49] nzakas commented on #5205
I want to thank everyone once again for the good discussion here. Since the time we opened this issue, GitHub has made a lot of improvements to issues and we've been better able to handle the volume of new issues we get. As such, we've decided that staying on GitHub is the right choice.

[2016-04-21 18:49] #5205 closed

[2016-04-21 18:49] nzakas commented on #5195
No response, so closing.

[2016-04-21 18:49] #5195 closed

[2016-04-21 18:51] ikokostya commented on #5860
@nzakas  But if [babel-code-frame](https://github.com/babel/babel/tree/master/packages/babel-code-frame) will be a part of `eslint`, how I can configure it (e.g. set [highlightCode](https://github.com/babel/babel/tree/master/packages/babel-code-frame#options) option)?

[2016-04-21 18:52] nzakas commented on #5211
There's some standardization now. The `Identifier` node now has a `typeAnnotation` property that indicates a type annotation is present (it's `null` or undefined if there's no type annotation). Using that, we should be able to make this rule skip the `:` that's part of the type annotation.

[2016-04-21 18:53] nzakas commented on #5203
We couldn't reach consensus on this, so closing. Remember, you can always create a custom rule that does exactly what you want.

[2016-04-21 18:53] #5203 closed

[2016-04-21 18:57] nzakas commented on #5231
This is a bit confusing, so I think it's worth documenting this edge case around arrow functions for the rule.

[2016-04-21 18:59] nzakas commented on #5270
Let's implement the inner parens option, as that's important for implementing the Idiomatic.js style guide.

[2016-04-21 18:59] nzakas commented on #5274
I'm sorry, this doesn't fit the [criteria](http://eslint.org/docs/developer-guide/contributing/new-rules) for new core rules. If you still want the rule, you can always create a [custom rule](http://eslint.org/docs/developer-guide/working-with-rules) instead.

[2016-04-21 18:59] #5274 closed

[2016-04-21 19:00] nzakas commented on #5298
It seems like this isn't an issue anymore, so closing. If someone on the team feels differently, please reopen.

[2016-04-21 19:00] #5298 closed

[2016-04-21 19:01] nzakas commented on #5311
@eslint/eslint-team does anyone want to champion this?

[2016-04-21 19:02] alberto commented on #5858
Does it mean we can close [this](https://github.com/eslint/eslint/issues/632)? It's our oldest issue :)

[2016-04-21 19:02] platinumazure commented on #4563
Sorry @nzakas, I've been really busy. I concede that there has not been
nearly enough evidence this is actually needed. Could we perhaps close
this, and maybe I can reopen the issue if I get around to this in the
future? Thanks!
On Apr 21, 2016 1:27 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-04-21 19:03] gajus commented on #5000
No. All has been done with https://github.com/eslint/eslint/issues/4993 PR.

[2016-04-21 19:03] #5000 closed

[2016-04-21 19:03] nzakas commented on #5336
@eslint/eslint-team does anyone want to champion this?

[2016-04-21 19:04] nzakas commented on #5342
Since GitHub has canned responses now, I'm not sure this is needed. Any thoughts?

[2016-04-21 19:05] nzakas commented on #5418
@ilyavolodin do you still want to do this?

[2016-04-21 19:06] nzakas commented on #5427
Sorry, lost track of this. Is this still an issue after 2.0?

[2016-04-21 19:11] nzakas commented on #5477
I'd propose a `checkLoops` option with a default value of `true` (which matches the current default). When setting it to `false`, it would just not apply to `for`, `while`, `do-while`, etc.

Would that satisfy the request here?

[2016-04-21 19:12] nzakas commented on #5485
Seems like an easy win to clarify what's going on here.

[2016-04-21 19:14] #5852 closed

[2016-04-21 20:09] alberto commented on #5880
Cool. I just asked because we are already using the new tag, so it would be nice to have this soon.

[2016-04-21 20:14] BYK commented on #4345
I am up for the task. I'll add an option to `lines-around-comment`, `ignoreDirectives` or `ignoreESLintDirectives` which would ignore all ESLint directives (not just `eslint-disable` and `eslint-enable`).

Sounds like a good plan?

[2016-04-21 20:16] BYK commented on #4133
I'm willing to work on this.

[2016-04-21 20:17] BYK commented on #3845
Yes. The rewrite does not distinguish between comments or other things, it simply enforces a certain indentation level for all lines.

[2016-04-21 20:19] pedrottimark commented on #5485
Agree, that caught me recently while testing example code, but I forget where 😳

I will search for which rules already say something, add a pattern to the guidelines, and make **Variables** my next batch of docs so that we can close this issue as soon as possible.

[2016-04-21 20:24] alberto commented on #5342
I think it would be nice for consistency. Not sure about `custom rule` though,  since only project leaders should be able to decide on that

[2016-04-21 20:38] nzakas commented on #5860
@ikokostya I think you misunderstood the discussion here. Someone just suggested that `babel-code-frame

[2016-04-21 20:40] nzakas commented on #5860
@ikokostya I think you misunderstood the discussion. Someone suggested using `babel-code-frame` to implement this formatter, but that does not mean you would have direct access to `babel-code-frame` or its options. In reality, we probably won't use `babel-code-frame` at all and will just port what is in JSCS already.

Formatters in ESLint do not accept options. We provide some formatters out of th

[2016-04-21 20:40] nzakas commented on #2271
Sounds good.

[2016-04-21 20:40] #2271 closed

[2016-04-21 20:44] nzakas commented on #5900
I'd prefer not to add a second way to resolve modules (we already have a utility for that), but otherwise looks okay.

The next would be to submit a pull request for the change. We'd need tests as well as documentation in order to merge.

[2016-04-21 20:46] nzakas commented on #5845
Some data from an informal poll on Twitter: https://twitter.com/geteslint/status/722135012955410432

**tl;dr** 12% said that removing rules is horrible and wish we wouldn't do it.

[2016-04-21 20:51] alberto commented on #5917
@pke failing tests print the (colored) diff:
[code]

Can you share some code exposing the problem?

[2016-04-21 21:01] nzakas commented on #5845
Okay, there are a few streams going on here, so let me try to unpack them.

I think the overall point I want to make about various alternatives discussed is that most of them require us to do a nontrivial amount of work to support it, whereas my proposal takes basically zero work (outside of documenting things). So, keep that in mind. :)

@alberto

One-off exceptions are almost always a bad idea.

[2016-04-21 21:09] nzakas commented on #5845
I feel like we have all kinds of viewpoints represented in this thread now, so here's what I'd like to propose: let's try not removing deprecated rules for the next year (essentially, @platinumazure's proposal). Here's my thinking:

1. The problem of "too many deprecated rules" doesn't currently exist (and we don't know if it ever will).
1. The only way to get data about this is to actually try it

[2016-04-21 21:22] nzakas commented on #4345
@BYK I think the suggestion was instead to do this in the core (labels were wrong) instead of needing to manually do this in every rule.

[2016-04-21 21:22] pedrottimark commented on #5845
Merging with JSCS means we will probably be too busy to deprecate rules for a year, anyway.

A more imminent challenge seems like verifying which rules are equivalent and dealing with rules that are similar but not quite the same in a way that people can understand. Converging when oh-so-close might be where there is risk to break and temptation to deprecate.

[2016-04-21 21:22] nzakas commented on #5858
@alberto we had one open question on that. It would be good to get it answered before closing (do people really not indent a top-level IIFE?)

[2016-04-21 21:23] nzakas commented on #4133
And so it shall be. Please be sure to propose some option names here before getting started.

[2016-04-21 21:24] nzakas commented on #4563
Sounds good.

[2016-04-21 21:24] #4563 closed

[2016-04-21 21:25] alberto commented on #5845
I don't care so much about deprecating rules, I was just proposing alternatives in case they were viable, so I am not pushing this any further. :)

I am more concerned about not doing any breaking change EVER:
- Once a behaviour for a rule is set, we can't extend it (I'm thinking of generic options like `always`, `never`,...), we can only add more options.
- Also, I fear not being able to deprecat

[2016-04-21 21:26] nzakas commented on #5679
@holm sorry, I can't quite parse your meaning ("just not always"). We ignore `node_modules` by default already.

Ultimately, we need some real data here to move forward. By data, I mean we need a benchmark that shows what we're doing now is slower than something we could potentially be doing.

@maxtruxa are you still planning on investigating this?

[2016-04-21 21:29] alberto commented on #5858
Yeah, that's why am asking ;)

[2016-04-21 21:31] alberto commented on #5679
@nzakas I think he means in glob walking

[2016-04-21 21:32] alberto commented on #5898
Closing since it was by design

[2016-04-21 21:32] #5898 closed

[2016-04-21 21:34] holm commented on #5679
Sorry for the unclear comment. Yes, I mean in the glob walking. In large projects, with many dependencies, `node_modules` can contain _a lot_ of files. One project I am currently working on has 43,432 files in `node_modules`.

[2016-04-21 21:40] platinumazure commented on #5336
I would love to take a crack at proposing a schema for this, if anyone from the team is willing to champion it.

[2016-04-21 21:44] alberto commented on #5679
@holm [here](https://github.com/eslint/eslint/issues/5410) is an example of someone needing to lint a folder inside node_modules

[2016-04-21 21:49] alberto commented on #5911
Yes, explicitly passed files should always be linted by design.

[2016-04-21 21:49] #5911 closed

[2016-04-21 21:54] holm commented on #5679
Quite surprising. I would still argue that having your a modules source code in node_modules is a bad idea, I can appreciate that it's better to be a little slower and flexible, than fast and inflexible.

For my current case excluding node_modules from glob, moves the eslint time from about 7500 ms to 700 ms, which makes a huge difference when running tests and lints very often.

In any case thank

[2016-04-21 22:00] aparajita commented on #5477
Fine, although it's kind of inconsistent to allow by default `for (;;)`, because that **is** a constant condition. But whatever, as long as we have some way to allow the other common idioms.

[2016-04-21 22:20] kaicataldo opened #5923 "Upgrade Espree version for comment attachment fix"
Have a PR for this already. We should update the version of Espree that has this fix merged: https://github.com/eslint/espree/issues/264

Here's the PR: https://github.com/eslint/eslint/pull/5922

[2016-04-21 22:23] ilyavolodin commented on #5098
Bah, this completely slipped my mind, and I don't think I can reproduce this easily anymore:-( It was a real bug, but I think we might need to close this now.

[2016-04-21 22:23] #5098 closed

[2016-04-21 22:32] ilyavolodin commented on #5418
Ideally - yes. I'm not sure when, though. I think this would be helpful and allow us to remove a lot of code from our rules.

[2016-04-21 22:37] alberto commented on #5908
Duplicate of https://github.com/eslint/eslint/issues/4880

[2016-04-21 22:37] #5908 closed

[2016-04-21 22:43] BYK commented on #4345
@nzakas - oh right, I didn't read the whole conversation, sorry. Alright I'll make ESLint not trigger comment visitors for directives then, makes sense?

[2016-04-21 22:48] ilyavolodin commented on #5679
@holm We just implemented a change in our .eslintignore file to allow un-ignoring things like node_modules. It would be counter-productive to now remove ability for globs to pick up files in those directories:-) The issue is accepted, so we recognize and agree that this is a problem, but nobody has gotten around to fixing it yet.
I think the right way to fix this would be to have .eslintignore fil

[2016-04-21 22:49] #5402 closed

[2016-04-21 22:55] alberto commented on #4345
Mmm, this is a bit tricky. I am not sure this would be desired either:

[code]

[code]

[2016-04-21 23:00] alberto commented on #4906
Closing since question was answered.

[2016-04-21 23:00] #4906 closed

[2016-04-21 23:03] alberto commented on #5723
Closing since this was answered. We are moving away from magic numbers in config.

[2016-04-21 23:03] #5723 closed

[2016-04-21 23:23] alberto commented on #4616
What do we want to do here?

[code]
This is not a valid test case, @ilyavolodin I think you might have gotten the behaviour backwards. @nzakas example is the correct one of what this is supposed to flag.

So, I think the only issue is if we want this rule to flag or not:

[code]

[2016-04-22 01:17] isiahmeadows commented on #5477
@nzakas That would be perfect!

@aparajita I do find it somewhat inconsistent that it isn't counted, but keep in mind that literally *doesn't* have a condition at all, so arguments could go either way.

[2016-04-22 02:27] scriptdaemon commented on #5845
I understand this would be considered an unnecessary breaking change and probably won't ever happen, but I really like the consistent wording for JSCS rules. If you ever change your mind and allow rules to be renamed (even as a one-time overall change), I think several rule titles could use a bit of an overhaul. There are several that aren't clear as to their purpose (e.g. `max-statements`, especi

[2016-04-22 04:22] tlhunter commented on #5402
Thanks, @BYK!

[2016-04-22 05:24] kaicataldo commented on #4133
Late to the party, but I'm :+1: for this too!

[2016-04-22 05:52] gibson042 commented on #5270
Is this intended to match _inner_ parentheses, or _expression_ parentheses (cf. https://github.com/eslint/eslint/issues/4689#issuecomment-210123742 )? The former seems to be ambiguous:
* `foo(function areTheseInner(){})`
* `orThese((a, b)=>(b, a))`
* `{ orThese: function(){} }`
* `[ (howAboutThese) ]`
* `function areDefaultsInner( maybe=(foo), maybeNot=bar() ){}`

[2016-04-22 06:45] BYK commented on #4133
Proposal:

`alignSpacing: true` and `alignMarkers: ['*']`

[2016-04-22 07:00] BYK commented on #3914
This was an interesting suggestion. If @StephanBijzitter is still interested, I can assist him implement this.

[2016-04-22 07:46] pke commented on #5917
But without the message you wouldn't know any context. The chai assert function should have an option to display the message + the diff.

[2016-04-22 08:01] alberto commented on #3805
Reopening now that we do multipass autofix.

I'm working on this. :)

[2016-04-22 08:55] demrks commented on #5270
@gibson042 As far as I can tell, this is how your examples are supposed to be written in idiomatic.js.

`foo(function areTheseInner( no ) {});`

`orThese( (a, b) => (b, a) )` _(I guess, but not sure since there's no example in the style guide)_

`{ orThese: function( withSpace ) {} }`

`[( howAboutThese  )]`

_No example in the style guide either_

[2016-04-22 12:07] glenjamin opened #5926 "max-statements-per-line misses braceless if-else statement"
**What version of ESLint are you using?**
2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

When running eslint on the following file:

[code]

**What did you expect to happen?**

I would have expected both of these if statements to be flagged a

[2016-04-22 12:43] alberto opened #5927 "Implement autofix for `no-whitespace-before-property`"
This rule looks like a good candidate for autofixing since it only requires whitespace removal.

I'm willing to work on this.

[2016-04-22 12:52] themoritz commented on #3782
You're right @IanVS, that also immediately solved it. Thanks!

[2016-04-22 13:16] ralfstx opened #5928 "CLI option --color is missing in documentation"
The command line option `--color` is actually useful to enforce ANSI color codes when outputting to a pipe, e.g. in a Grunt task.

Apparently, this options is supported in ESLint 2.8.0, but it's missing in the [online doc](http://eslint.org/docs/user-guide/command-line-interface) and also in the output of

    eslint -h

[2016-04-22 13:18] alberto commented on #5928
It's present as `--no-color`, since it's true by default.

[2016-04-22 13:28] prokaktus commented on #4261
+1 to this issue.
@nzakas It's common also in Python-world. You can configure test runners / linters in `.tox.ini`.

For me it's really annoying to have 3-4+ file `.eslintignore` in the same repo.

If you don't want to implement this yourself, at least, please, allow someone to make corresponding pull request.

[2016-04-22 13:54] mikesherov commented on #5880
PR coming soon

[2016-04-22 14:13] mikesherov commented on #5880
https://github.com/eslint/eslint/pull/5929 @alberto @nzakas review?

[2016-04-22 14:37] btmills commented on #4133
@BYK those options seem like they would be for vertically aligning block comments, and I agree with @andy-hanson that that sounds like a separate rule. Perhaps I'm misunderstanding? What about `symmetric: true`?

[2016-04-22 14:43] mikesherov commented on #5880
@nzakas looks like you already took care of the Documentation.

[2016-04-22 14:55] ilyavolodin commented on #4261
We can't combine those two, since config files cascade, and ignore files do not. There's also a problem with timing, we need ignore files before we start traversing and we only find config files while we are traversing. Sorry, I don't think this is going to happen.

[2016-04-22 15:03] kaicataldo commented on #5923
cc @mysticatea This should also fix https://github.com/eslint/eslint/issues/5756!

[2016-04-22 15:09] BYK commented on #4133
@btmills - `alignBlock: true` + `symmetricBlock: true`?

[2016-04-22 15:10] BYK commented on #4133
Or, `block: { align: true, symmetric: true, markers: ['*'] }`

[2016-04-22 15:22] btmills commented on #4133
@BYK so you do want to do vertical alignment as part of this as well? If so I think `block: { align: true, symmetric: true, markers: ['*'] }` works. How would you configure it for the following?

[code]

[2016-04-22 15:23] dfilatov opened #5930 "Rule "array-bracket-spacing" doesn't work properly"
**What version of ESLint are you using?**
2.8.0

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expect that the code above will raise an error since "array-bracket-spacing" is actually "never".

**What actually happened? Please include the actual, raw output from ESLint.**
N

[2016-04-22 15:32] gajus opened #5931 "Explain the purpose of the comments used to separate code blocks"
Whenever I look at the ESLint code, what strikes me is the use of seemingly purposeless comments to separate blocks of code, e.g.

[code]

The reason I see this as "purposeless" is because most (if not all) of it can be enforced using code linting (esp. if the codebase is written in ES6).

I'd like to hear what a proponent of this convention has to say about its benefits.

[2016-04-22 15:33] #5756 closed

[2016-04-22 15:33] #5923 closed

[2016-04-22 15:35] nzakas commented on #5477
@aparajita @isiahmeadows do either of you want to submit a PR for this?

[2016-04-22 15:37] #5880 closed

[2016-04-22 15:39] nzakas commented on #5917
@pke I think the point he's making is that we can't reproduce what you're describing. We see a diff.

[2016-04-22 15:42] nzakas commented on #4133
I think `symmetric` is a difficult option name for non-native English speakers. Maybe `mirror` instead?

[2016-04-22 16:01] erikdesjardins commented on #5930
`array-bracket-spacing` only applies to array literals and array destructuring, [as documented](http://eslint.org/docs/rules/array-bracket-spacing).

The rule you're looking for is [computed-property-spacing](http://eslint.org/docs/rules/computed-property-spacing).

[2016-04-22 16:04] dfilatov commented on #5930
@erikdesjardins  Thank you for explanation

[2016-04-22 16:04] #5930 closed

[2016-04-22 16:10] BYK commented on #4133
@btmills - Yup, I want that. That said the rule will become more like `comment-style` at that point since vertical alignment has nothing to do with spacing so I give you that. For the sake of completeness though, I'd use `block: { align: true, symmetric: whatever, markers: [] } ` for that I guess.

@nzakas - I'm not so sure. Symmetric is quite well-known in Turkish but I cannot comment for other l

[2016-04-22 16:18] pke commented on #5917
You can see my console output in my OP. However you can clone https://github.com/pke/eslint-plugin-redux-saga and modify a test there that has output expectations to reproduce this error.

[2016-04-22 16:44] platinumazure commented on #5931
Those are standards drawn up by the project lead, @nzakas, so I suspect we'll have to hear from the man himself.

[2016-04-22 17:05] pedrottimark commented on #4133
While you are thinking about wording, we just replaced “vertical alignment” with “horizontal alignment of adjacent X” (in this case I think X = lines) in key-spacing. What do y’all think?

My mind is still so full of CSS that it makes me think of `vertical-align: baseline` 🤓

[2016-04-22 18:01] nzakas commented on #5931
It creates sections in the file that have dedicated purposes, so you know `require` statements come first, then private stuff, then public stuff. It also really helps with making the file a bit more approachable for people who are unfamiliar with the code base.

[2016-04-22 18:01] #5931 closed

[2016-04-22 18:07] nzakas commented on #4133
@byk not everyone speaks Turkish. :) We try to keep options using simple words so they are more easily understandable to everyone.

Overall, I think we have expanded the scope of this issue too far. The original request was just to mirror spacing preferences at the end of an inline comment. I think anything else should be a separate issue (or issues).

[2016-04-22 18:41] gajus commented on #5931
The thing is, that this how you would structure the code anyway.

If your require statements are not at a top, chances are, you are already doing something wrong.

This can be enforced using a combination of:

* http://eslint.org/docs/rules/global-require
* http://eslint.org/docs/rules/init-declarations
* http://eslint.org/docs/rules/vars-on-top

Everything that is exported is public, everything t

[2016-04-22 19:06] nzakas commented on #5931
@gajus I'm sorry, this isn't a discussion I'm interested in having. We have our conventions and I explained the rationale. You can feel free to disagree and do things differently in your projects. Our conventions are set.

[2016-04-22 19:13] BYK commented on #4133
@nzakas hah :) Anyways, agree with the scope. Still voting for `symmetric` though. @nzakas are you gonna be the tie breaker on that or shall we get more thoughts from @eslint/eslint-team?

[2016-04-22 19:15] nzakas commented on #5845
@alberto all of your concerns can be better served by observing over time rather than guessing about potential problems. Right now, you **fear** that these things might happen, but they might never happen. This is really the point I've been trying to make to you: removing rules causes a lot of real, tangible pain that we know exists. Not removing rules might potentially cause some pain (to us), bu

[2016-04-22 19:18] nzakas commented on #5845
I also want to highlight: regardless of my proposal here, we should not even consider introducing breaking changes to rules unless not doing so creates more harm than good. I can't highlight this enough: there are literally millions of ESLint installs running around the world in all kinds of environments that might not be easy to update. I personally went through a lot of pain getting all of the E

[2016-04-22 19:29] nzakas commented on #4133
@BYK no way I'm going to yield to `symmetric` when `mirror` means the same thing and is more approachable. For reference (via http://www.wordcount.org/main.php):

* "mirror" is the 2,560th most used English word
* "symmetric" is the 14,070th most used English word

Also open to other suggestions, but no way "symmetric" is appropriate for this.

[2016-04-22 19:31] nzakas commented on #4345
@alberto what are you saying would happen there?

@BYK I think you'd also need to remove them from `trailingComments` and `leadingComments` (probably fine to do so at the time of calling `context.getComments()`).

[2016-04-22 19:31] BYK commented on #4133
The reason I insisted on `symmetric` is although it is a less frequently used word, it conveys the meaning better to me. I wouldn't understand what `mirror` meant in this context but a "symmetric space" makes a lot of space. That said I may be an exception.

Anyways, I'll start implementing the changes. In the meantime we can discuss the name. But I'm not really a fan of `mirror`.

[2016-04-22 19:32] nzakas commented on #5858
We need to ask someone at jQuery, not me :)

[2016-04-22 19:32] BYK commented on #4345
@nzakas - thanks for the pointer. Will look there.

[2016-04-22 19:32] alberto commented on #5845
Just to be clear, I am all for your proposal of not introducing breaking changes for a year. It's not about me trying to be right, again, it is just I fear we announce we won't ever introduce breaking changes, because once you do that, you "can't" really go back.

[2016-04-22 19:34] alberto commented on #5858
yeah , that's was more of a question for @markelog :)

[2016-04-22 19:37] alberto commented on #4133
Here is another suggestion: `balanced`

[2016-04-22 19:40] nzakas commented on #4616
I think we do.

[2016-04-22 19:41] alberto commented on #4345
@nzakas that it would not warn on the second line with the proposed changes. I understand why you wouldn't want lines inside the comments regardless of the rule configuration. I am not so sure about the outside.

[2016-04-22 19:43] BYK commented on #4133
👍 to `balanced`

[2016-04-22 19:43] nzakas commented on #4133
Sounds good to me.

[2016-04-22 19:47] nzakas commented on #5891
This is a bit tricky. I'm not sure what the right behavior would be here. If we see a getter or a setter, would we need to check for the opposite one and then verify that at most one of them has a JSDoc comment? Or are two JSDoc comments allowed, but one should just not warn?

Can you explain more about what you're looking for here?

[2016-04-22 19:49] nzakas commented on #5270
I believe the goal here is for inner parenthesized expressions.

[2016-04-22 19:51] nzakas commented on #4689
We probably need to look closer at this as it relates to existing JSCS rules.

[2016-04-22 20:09] nzakas commented on #5871
For this:

[code]

You have a good point, I think it makes sense to make that change. Do you want to submit a PR for it?

[2016-04-22 20:12] nzakas commented on #3092
@kaicataldo hmm, how does this relate to blocks?

@alberto do you have a counter proposal?

[2016-04-22 20:25] gibson042 commented on #5270
In that case, I believe this functionality is best considered as an "inner" or "nested" option of a rule covering spaces inside parenthesized expressions.

[2016-04-22 20:30] BYK opened #5935 "Chore: Use squash-merges instead of explicity merges for PRs"
GitHub now supports squash-merges instead of the traditional explicit merge model. This allows us to have a linear and easier to follow Git history at the expense of some lost information of how patches shaped when they were being developed on. That said this information is still captured in GitHub's pull requests so the proposal is to turn this feature on.

[2016-04-22 20:34] duncanbeevers opened #5936 "Create `except-object` exception to `arrow-body-style` rule, enforcing explicit return of object literals from arrow functions."
The `arrow-body-style` rule enforces braceless function bodies when the function consists of a single return statement.

When constructing arrow functions which return object literals, the return value must be wrapped in parentheses to force its evaluation as an expression.

The proposed new option enforces a block body with an explicit return value for object literals returned from arrow function

[2016-04-22 21:18] 3den commented on #2532
any update about this? I saw on the docs that i can add `spread: true` but it still gives me the same error. I am using eslint 2.8.0 and below is mine .eslintrc.yml

[code]

[2016-04-22 21:21] 3den commented on #5391
the spread operator is not working working for me on version 2.8.0:

[code]

[2016-04-22 21:32] aparajita commented on #5477
@nzakas I'll see if I can find the time. I made a version for myself that allows while(true), but of course you have a million other requirements for a PR.

[2016-04-22 21:34] BYK commented on #5477
@aparajita we don't really have that much. We just want you to conform to a few writing standards mostly. Anything I (or anyone on the team) can help with? Feel free to come by our Gitter channel for any help too.

[2016-04-22 21:38] aparajita commented on #5477
Not much, just all of [this](http://eslint.org/docs/developer-guide/contributing/pull-requests). I've contributed before, I don't need help, I just need time.

[2016-04-22 21:51] alberto commented on #5928
Since it doesn't really seem like an issue, I'm closing this. Please reopen if there is something I am missing here

[2016-04-22 22:23] ilyavolodin commented on #2532
Option you are looking for is `experimentalObjectRestSpread`. http://eslint.org/docs/user-guide/configuring#specifying-parser-options

[2016-04-22 22:24] ayrton commented on #2532
Hey thanks all for replying, I'm working with quite a big codebase, so it will take some time to update the dependencies. Once I do I will come back and report back here!

[2016-04-22 22:54] alberto commented on #5935
What information is lost?

One thing that could be problematic is that by allowing editing the commit message of the PR, it could cause invalid messages to get in.

[2016-04-22 22:58] scriptdaemon commented on #5845
@nzakas I should have been more clear (as to the reason I thought it was relevant) that my idea to ever implement something like that is to create a new rule with the new wording and deprecate the rule with the old wording. Moot point, but just thought I'd clarify.

[2016-04-22 23:09] scriptdaemon commented on #5891
I'm thinking an option would make it easier, so the user would decide. With the option set to false, it would require one for both as usual, but with the option set to true it would require one and only one per member (regardless of whether it only has a getter or a setter or if it has both).

Updated the issue with a description of this behavior, because initially I only intended for it to solve

[2016-04-22 23:15] alberto commented on #3092
@nzakas What's the current proposal? Adding
[code]
as top level options and for every property? And what about the JSCS exceptions?

The current schema is:
[code]

I think maybe a different rule `padding-after-blocks` as a more direct port of the JSCS rule is preferable to account for the exceptions. Or `padding-around-blocks` if you want to consider the padding before them, although it would also

[2016-04-23 00:27] BYK commented on #5935
@alberto actually, thinking again, since we require single commits in PRs there's no information being lost.

[2016-04-23 01:48] 3den commented on #2532
Thanks for the repplies, I fixed this bug by instaling babel-eslint.

[2016-04-23 03:13] scriptdaemon commented on #5926
The rule ignores the bodies of the `if` and the `else` if they not block statements, so that's why the first line isn't caught. The intent was to allow lone `if` statements with a single statement as the body be on the same line, however, I think there should be an exception made for the case you present so that it catches, since that is definitely more than one statement.

[2016-04-23 05:55] Trott commented on #1801
I'm working on something to hopefully address part of this issue, specifically enforcing indentation of multi-line chained properties. So the end user will be able to choose this style:

[code]

Or this style instead:

[code]

And so on...

[2016-04-23 06:30] kaicataldo commented on #3092
@nzakas That's...not entirely clear to me either. I must have misread this, and was thinking about enforcing newlines/padding. Sorry - please ignore 😊

[2016-04-23 12:32] SimonSchick opened #5941 "Ignore invalid return when jsdoc @abstract is present"
**What version of ESLint are you using?**
2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**What did you do? Please include the actual source code causing the issue.**

I have somewhat of an abstract class where I have a method such as this:

[code]

**What did you expect to happen?**

Ideally with JSDoc enabled, eslint should ignore invalid returns when `@abstract` is

[2016-04-23 12:35] Redsandro opened #5942 "Externally scoped var wrongfully accused of no-unused-vars"
**What version of ESLint are you using?**

Using `eslint` 1.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**

[`linter-eslint`](https://github.com/AtomLinter/linter-eslint) 7.2.0 on Atom

**Please show your full configuration:**

[Default](https://github.com/eslint/eslint/blob/master/conf/eslint.json)

**What did you do? Please include the actual source code causing the issue.**

[2016-04-23 15:15] platinumazure commented on #5942
Hi @Redsandro! If I understood your question correctly, you want to mark `number` as used since other scripts will read it, correct?

If so, you might want to take a look at the `no-unused-var` docs, specifically the section about the [`/* exported */ comment](http://eslint.org/docs/rules/no-unused-vars#exported). If you use those comments, that should be enough to satisfy the `no-unused-vars` rul

[2016-04-23 15:19] #3805 closed

[2016-04-23 15:26] nzakas commented on #5936
I'm not sure I'm understanding this correctly.  You're proposing to add an option that requires the use of `return` if you want to return an object literal, is that correct?

[2016-04-23 15:27] duncanbeevers commented on #5936
Yes, exactly.

[2016-04-23 15:53] nzakas commented on #3366
I commented on the PR, but I'm thinking `avoid-quotes` isn't the right option.

I think What we should do instead is add an `avoidQuotes` option on the options object, so:

[code]

That way, you are still free to select " methods" or "properties" and still use this new option.

[2016-04-23 15:54] Redsandro commented on #5942
No. The code is a single script. It is legal `var` usage to define `number` and have it used in an anonymous function within the same scope, as provided by the promise. In the second piece of code, you can see that ESLint expects `count` to be defined. However, when I define it as in the first piece of code, ESLint thinks `count` is never used, when it clearly is.

The `no-undef` code in the secon

[2016-04-23 15:55] ralfstx commented on #5928
Actually, the colors are *missing* when writing to a pipe. So the `--colors` options is useful when calling eslint using exec, e.g. from a build task. I only found it by accident.

I don't quite understand why you do not care to document parameters that are available.

I would re-open but it seems I can't.

[2016-04-23 16:12] platinumazure commented on #5928
Can you please provide exact repro steps showing where the absence of `--color` results in no colors (contrary to what we believe is the default), but where the presence of `--color` results in colors? This question started as an assumption that something was not documented, but in reality there may be a behavioral quirk (or even a bug) at play. If there is a bug, we need to know how to recreate i

[2016-04-23 17:00] nzakas commented on #5935
I'm 👍 For this. The squash command also automatically appends the PR number to the message, which is nice.

Some other things to consider:

1. We can fix minor commit message issues ourselves rather than waiting for people to update PRs
2. We could actually remove the commit number check from the bot since we can squash automatically. Something to consider.

[2016-04-23 17:06] nzakas commented on #5942
Confirmed this in the demo..

[2016-04-23 17:09] nzakas commented on #5941
Good point, I think this is a good idea. Basically any method marked as `@abstract` should not check the return statement.

@SimonSchick can you submit a PR for this?

[2016-04-23 17:12] BYK commented on #5936
I think this is a fair request.

[2016-04-23 17:16] nzakas commented on #5928
The `--color` flag is just passed through to Node, we don't actually do anything with it. We can only output either `--no-color` or `--color` using the CLI utility, but not both.

[2016-04-23 17:51] jamestalmage commented on #5329
Nope - that's wrong. It uses `recast` under the hood, which is specifically focused on not mucking with whitespace. It is basically guaranteed not to touch whitespace for nodes you do not modify. For entirely new AST nodes, it attempts to infer your whitespace rules from the surrounding code. It does a pretty good job at that, but it is not perfect. It should be possible to extend `recast`s pretty

[2016-04-23 17:56] SimonSchick commented on #5941
Could you tell me how I can only run a part of the test suite? I tried to run `npm test -- -f "valid-jsdoc"` which is the default way in mocha.

[2016-04-23 18:00] ilyavolodin commented on #5942
I can only see number being assigned to, but nothing is actually consuming the value of number in your code, right? Or am I missing something?

[2016-04-23 18:02] efegurkan commented on #5737
Hello,

I did some experiments and have something  at #5943.

[2016-04-23 18:29] jamestalmage commented on #5329
`jscodeshift` probably isn't the best tool, since it really is designed to operate on collections of AST nodes. Instead it would probably be best just to use `recast` directly.

[2016-04-23 19:03] btmills commented on #5935
:+1: from me as well. There's the theoretical possibility that someone with commit access could typo a new commit message when merging a PR and the invalid message wouldn't be flagged by the bot, but I can think of no real disadvantages. In addition to the advantages already listed:

1. Easier to see at a glance who authored a commit (we have this already) *and* who merged it (merge commits aren't

[2016-04-23 19:20] sindresorhus commented on #5329
Using [`recast`](https://github.com/benjamn/recast) for autofixing would give us a much nicer API for modifying the AST ([example](https://github.com/jamestalmage/ava-codemods/blob/master/lib/utils.js)). The [current API](http://eslint.org/docs/developer-guide/working-with-rules#applying-fixes) is very limited. It would also enable code sharing of AST utilities between ESLint autofixing and [codem

[2016-04-23 19:31] mikesherov commented on #5329
Last time I used recast, which admittedly was a while ago, it screwed up whitespace for arrays of you modified a member.

Also, does recast have an API to modify whitespace?

If not, ESLint would need to implement two separate APIs for code for fixing, one that is whitespace modifying, and one that isn't.

I'm not opposed to using recast if it's up for the task, but only if makes what we need to d

[2016-04-23 19:41] michaelficarra commented on #5942
This is not a bug.

[2016-04-23 20:17] jamestalmage commented on #5329
`recast` is really a full stack AST transform utility, similar to `babel-core`, in that it encompasses a parser, a AST visitor/transformation API, and a pretty printer.

What makes it unique is that when it reprints the AST, it honors the original whitespace, comments, single-quotes vs double-quotes, unnecessary parens, etc. From the docs:

--

`recast` uses `esprima` as it's default parser, but [

[2016-04-23 20:18] mysticatea commented on #5942
[code]

`number` and `rej` in this code are unused variables. It's an intentional behavior.

[2016-04-23 20:25] platinumazure commented on #5942
@Redsandro As pointed out by others, the rule is designed to flag situations where variables are only assigned to. Nowhere in your code is `number` read, so it is considered "unused" for the purpose of `no-unused-vars`. I mentioned `/* exported */` in case this was a shared global situation, but it seems that is not the case.

At this point, with the information we have, I don't think this is a bu

[2016-04-23 20:42] hzoo commented on #5935
👍 from me, exactly the same points about merging instead of waiting on commit message fixes and including PR # automatically - so less merge commits.

[2016-04-23 21:08] Trott opened #5946 "Proposed Rule: align function arguments"
**When does this rule warn? Please describe and show example code:**

The rule warns when arguments in a multi-line function call are not aligned.

This code will warn:

[code]

The following will not warn:

[code]

If an argument is itself multiline (for example, an inline function) then the rule does not fire for the next argument. This means this code will not warn even though the second argume

[2016-04-23 21:39] Trott opened #5947 "Indent rules missing newlins"
**What version of ESLint are you using?**

2.8.0 (er, master branch really)

**What parser (default, Babel-ESLint, etc.) are you using?**

n/a

**Please show your full configuration:**

n/a

**What did you do? Please include the actual source code causing the issue.**

n/a

**What did you expect to happen?**

n/a

**What actually happened? Please include the actual, raw output from ESLint.**

n/a

[2016-04-23 22:26] gyandeeps commented on #5935
I am :+1: for this.

[2016-04-23 23:45] lemonmade commented on #3366
Thanks @nzakas. To clarify, do you still want the same behaviour of only warning for invalid identifiers, like `{'foo-bar': function() {}};`? I left a note about this on the PR, but the summary is: I think this additional option should ignore the object shorthand requirement for *any* stringified key (including `{'foo-bar': function () {}}`, `{'foo': function() {}}`, and even `{'x': x}`), and leav

[2016-04-23 23:45] lemonmade commented on #5871
Sure thing!

[2016-04-24 02:13] kaicataldo commented on #5941
@SimonSchick Thanks for working on this!

I usually use this command: `./node_modules/.bin/mocha tests/lib/path/to/tests.js`

Source: http://eslint.org/docs/developer-guide/unit-tests#running-individual-tests

[2016-04-24 02:18] kaicataldo commented on #5942
From the [no-unused-vars rule docs](http://eslint.org/docs/rules/no-unused-vars):

[2016-04-24 03:32] kaicataldo commented on #5946
@eslint/eslint-team Important for consideration for inclusion - this is an existing rule in JSCS: http://jscs.info/rule/validateAlignedFunctionParameters

[2016-04-24 03:37] kaicataldo commented on #5926
Was able to replicate locally with the master branch. Seems like a bug to me.

[2016-04-24 04:33] alberto commented on #5935
👍

[2016-04-24 05:56] tribou commented on #4353
Encountered this issue writing a GraphQL schema objects with resolve functions that return promises.  I think setting `arrow-body-style` to `always` makes the code more readable through consistency.  Having arrow functions take on different forms throughout similar blocks of code just adds more context overhead.  Am I missing the benefit?

[2016-04-24 06:03] michaelficarra commented on #5913
I don't think this rule is meant to be that smart. Would you also expect it to catch this?

[code]

[2016-04-24 06:24] BYK commented on #5946
I think this should be a part of `indent` as an option: `"CallExpression:arguments": { indent: true, align: true }`

[2016-04-24 08:55] ilyavolodin commented on #5935
👍

[2016-04-24 10:14] Redsandro commented on #5942
Shoot, you are all correct. `number` is never used. This was a made up example contrived from a bigger work where I experienced this problem. I was sure the Linter made a mistake, and I had somewhat of a tunnel vision since. But the shameful truth is that I made a mistake and had recently deprecated the use of the variable.

It's with regret that I have to inform you that I've been wasting your ti

[2016-04-24 10:14] #5942 closed

[2016-04-24 10:14] zxqfox commented on #5935
👍

[2016-04-24 11:02] glenjamin commented on #5926
I've got a branch ready for this, not opened a PR yet as I'm not sure on the procedure for stuff before it's `accepted`. https://github.com/glenjamin/eslint/tree/count-else-as-a-statement

The fix is a little weird, because the existing rule wants to treat `if (x) var y = 1` as a single statement, when *technically* it's two. But I think I get the general feeling behind this.

On a similar note, t

[2016-04-24 11:41] ralfstx commented on #5928
@platinumazure

Sorry for that, I didn't mean to offend anyone. However, it's frustrating when you take the time to report a minor issue and see it being closed without the issue being addressed.

Given a file with linting errors, the following command's output contains colors:

    eslint fileWithErrors.js

while the following command does not:

    eslint fileWithErrors.js | cat

It's all expect

[2016-04-24 12:18] LinusU opened #5949 "Proposed Rule: Enforce lines between class methods"
I would like to propose a rule that enforces empty lines between class functions. When enabled and set to "always" it should make sure that there is at least one empty line between every method in a class declaration. If set to "never" the opposite would be true, that is, there should not be any empty lines at all between class methods.

A line with a comment on should not count as an empty line.

[2016-04-24 12:30] meeber commented on #5928
Hi :D

I agree that it would be useful for the `--color` option to be documented even though color is usually displayed by default. It's helpful to know that `--color` can be used to force color to be displayed in situations in which it wouldn't be displayed by default.

@ralfstx mentioned piping it through `cat` as an example. Another example is when invoking `eslint` via `exec` in a ShellJS scri

[2016-04-24 13:53] LinusU commented on #5949
I think that this rule should be able to handle comments as well, the following pattern should be considered valid:

[code]

[2016-04-24 14:40] LinusU commented on #5949
Come to think about it, I think that `always` should allow multiple empty lines since there is another rule that can take care of that: `no-multiple-empty-lines`. Furthermore, it might be nice to allow the following:

[code]

[2016-04-24 14:50] ntwb commented on #5858
I've added the JSCS config mentioned above as a _shared config_ to [eslint-plugin-wordpress](https://github.com/ntwb/eslint-plugin-wordpress)

Now to just write up some docs on using the said _shared config_ and release 🎉

[2016-04-24 16:03] gyandeeps commented on #5949
Sounds like a reasonable request. @eslint/eslint-team thoughts?

[2016-04-24 16:07] #5947 closed

[2016-04-24 16:11] kaicataldo commented on #5926
@glenjamin Awesome, thanks for looking into this! Generally we recommend waiting until it's accepted so that we're all in agreement on what needs to change before someone spends time working on a fix. I just want to make sure we get another pair of eyes from @eslint/eslint-team on this before marking it as accepted.

[2016-04-24 16:30] alberto commented on #5949
There may be some overlapping with #3092

[2016-04-24 16:31] nzakas commented on #5942
Doh, I should know better than to triage bugs when I'm overly tired. :( Thanks for the save, everyone!

[2016-04-24 16:51] nzakas commented on #5949
@LinusU can you please spell out your complete proposal? It's a bit hard to follow when separated across multiple comments.

[2016-04-24 16:59] LinusU commented on #5949
Absolutely, sorry about that...

[2016-04-24 17:09] michaelficarra commented on #5883
@ilyavolodin A MITM would be happy to change the installation instructions or user guide to deceive a user and convince them to execute code of his choosing. TLS is important *everywhere*. The only case I could imagine it wouldn't be is if you're going to pipe it directly to /dev/null, but then why would one do that?

[2016-04-24 17:28] michaelficarra commented on #5765
@nzakas Please reopen this.

[2016-04-24 17:34] nzakas commented on #5928
@ralfstx @meeber as I mentioned above, our tool for handling CLI output, optionator, does not support outputting both options. We use this both on the command line and to generate the documentation, so this isnt a matter of just updated the docs.

If anyone has a suggestion for how to overcome that limitation, we are open to suggestions.

Also, keep in mind that we have almost 200 open issues. We

[2016-04-24 17:49] Trott commented on #5946
I think I understand what `indent: true` would do and what `align:true` would do. What would be the effect of setting both to `true`?

[2016-04-24 17:52] nzakas commented on #5765
@bdkjones I'm sorry, I triage a ton of issues every day and generally just close issues that are too far out of scope or our current work. Unfortunately, I just don't have the time to provide all the technical details or write extended replies to each issue. I feel like my response gave enough information as to why the issue was closed. I apologize if you felt differently.

@byk @michaelficarra si

[2016-04-24 17:56] nzakas commented on #5946
I think we should get some insights from the JSCS folks around inclusion in `indent` vs. having a separate rule.

[2016-04-24 18:00] bdkjones commented on #5765
@nzakas no worries; I understand completely. Thanks for reconsidering!

[2016-04-24 18:00] nzakas commented on #5891
What would the option be called?

[2016-04-24 18:02] nzakas commented on #5949
Thanks. Per our guidelines, we need someone on the team to champion the rule and three :+1:s.

[2016-04-24 18:08] nzakas commented on #5391
@3den your comment isn't related to this issue, please stop by https://gitter.im/eslint/eslint if you need help configuring ESLint.

[2016-04-24 18:16] nzakas commented on #5927
@alberto you should feel free to mark autofix issues that you want to implement as accepted. I think you have a good sense for what is possible.

[2016-04-24 18:25] kaicataldo commented on #5942
@Redsandro No worries - glad we got to the bottom of it 😄

[2016-04-24 18:38] kaicataldo commented on #5885
It looks like it warns for both the keys and values of properties...Read over the rule docs, and it's not clear to me if that was the original intent or not. If we decide this is the desired behavior, we should make the docs clearer. @eslint/eslint-team thoughts?

[2016-04-24 18:50] alberto commented on #5927
Oh, cool, thanks. :)

[2016-04-24 18:56] platinumazure commented on #5885
I think it should be keys only. If someone wanted to flag property values, too, they could turn off onlyDeclarations so it flags uses of identifiers that are not declared in the same script or module.

[2016-04-24 19:24] meeber commented on #5928
@nzakas I played around with it a bit and was able to come up with one potential solution:

Modifying: https://github.com/eslint/eslint/blob/5f8abab3c87fe0eced7b25de1208c92e5bdd9532/lib/options.js#L173-L178

From:

[code]

To:

[code]

Produces -h output of:

[code]

I tested using each option, as well as no option at all, and it behaved as expected each time.

Thoughts? :D

[2016-04-24 20:47] danez commented on #5211
I would work on creating a PR for this now, but I'm not sure how to test it, as espree doesn't support any typeannotation when parsing. Is there a way to workaround this? Or should i create the test in babel-eslint or include babel-eslint as devDependency?

[2016-04-24 21:12] alberto opened #5952 "Implement autofix for `no-extra-label`"
I think this is safe to add, I'm working on this.

[2016-04-24 21:30] LinusU commented on #5949
Sounds good, I'd be happy to assist if there is anything needed 👌

[2016-04-24 21:52] jedateach commented on #5913
I don't think so, as that looks like a legitimate assignment before returning a value...rather than an assignment as part of an expression.

[2016-04-24 21:59] alberto opened #5954 "Implement auto fix for `no-unused-labels`"
Working on this.

[2016-04-24 22:20] michaelficarra commented on #5913
But there's an assignment within the returned expression. So do you stop traversing at function boundaries?

[2016-04-24 22:36] jedateach commented on #5913
Yeah, that is my assumption.
Generalising a bit: I thought the rule would prevent assignments in situations where they can be confused with comparisons.

[2016-04-24 22:53] alberto opened #5956 "Implement auto fix for `lines-around-comment`"
Since `linebreak-style` will fix incorrect linebreaks afterwards, we can add this now. :)

[2016-04-24 23:40] scriptdaemon commented on #5891
@nzakas That's the tricky part. How does `onePerAccessorPair` or `combineAccessorPairs` sound?

[2016-04-25 00:02] kaicataldo opened #5958 "Add auto-fixing to newline-before-return"
Following @alberto's suit. ~~If accepted, I'd like to implement this.~~ I'll table this for now in favor of JSCS compatibility issues. If anyone else is interested in picking this up, please feel free.

Some interesting challenges I found while doing some initial work on this:
 - Keeping indentation (Not sure if necessary, given multi-pass auto-fixing, but seems like a nice thing to have)
 - If th

[2016-04-25 00:04] kaicataldo opened #5959 "Add auto-fixing to newline-after-var"
Similar to #5958.

[2016-04-25 02:06] nzakas commented on #4345
@alberto by "it" do you mean the `lines-around-comment` rule? If so, I believe that's the intended behavior based on this issue. It probably wouldn't make sense to partially apply a rule to these comments.

Although, this is an interesting point, and this change is probably breaking so deserves closer consideration.

[2016-04-25 02:12] nzakas commented on #5211
I think if you include `babel-eslint` as a dev dependency then you should be able to pass that parser in a test like you would parserOptions.

[2016-04-25 02:45] mikesherov commented on #5946
The problem with putting call expression indentation , (or array indentation, and to a lesser extent, object indentation) is that there isn't as much agreement on what is "correct" as block or even switch indentation. There is also a very high number of variables to consider here:

1. Should open parens be on same line as first argument? What about the closing parens?
2. Should the arguments line

[2016-04-25 02:58] mikesherov commented on #5949
I'd say this belongs as a configuration option of #3092

[2016-04-25 03:10] mikesherov commented on #5885
Yeah, this just seems like a bug. I'd like to take this one.

[2016-04-25 03:22] mikesherov commented on #5885
Looks like https://github.com/eslint/eslint/pull/5631/files also missed adding the new option to the rule  schema. There's no automatic test for that? I suppose I should file a separate chore for that...

[2016-04-25 05:11] kaicataldo commented on #3763
I started in on this one - something I'm not sure of is what to do with current exception options. From the rule docs:

If we're specifying different values of `"always"` and `"never"`, how should these options behave? We can't apply the same logic to each node type if they're set to different values. Does this mean we have to replicate the exception rules for each specific node type as well?

[2016-04-25 06:28] alberto commented on #5958
Go for it

[2016-04-25 07:23] platinumazure commented on #5954
(Cross-posted from PR since this is the better discussion venue)

I wonder... Do we really want to auto-fix this? What if a label is "unused" because the associated break/continue statement has a typographical error? Really the better "fix" would be to modify the incorrect break/continue statement, but trying to guess the correct label could be painful. But at any rate, I'm not sure this actually

[2016-04-25 11:23] zxqfox commented on #5891
The only solution I see is a bindings between jsdoc-blocks inside class declaration or file and the code describing it. In that way we can just report duplicates.

But I'd better to look at what jsdoc/jsduck/etc. doing by themselves in these cases.

Looks like in jsdoc3 it's possible even for static members (quitely strange tho):
- https://github.com/jsdoc3/jsdoc/issues/973

… while in esdoc:
- ht

[2016-04-25 14:15] le0nik opened #5961 "prefer-template option, allowing multiline concatenation"
Hi.

I think it would be useful to allow string concatenation, if user spreads the string across multiple lines(either because the string is too long to fit into a single line, or for readability purposes).

For example this code will throw:

[code]

I propose an option, like `allowMultiline`, so that this code doesn't throw:

[code]

[2016-04-25 14:15] mikesherov commented on #5885
@kaicataldo care to review https://github.com/eslint/eslint/pull/5960 ?

[2016-04-25 14:16] onurtemizkan commented on #5808
@michaelficarra I couldn't find a case for `break` and `continue`, creating unexpected behaviour in `finally`. Could you give an example?

[2016-04-25 14:28] gyandeeps opened #5962 "Chore: Make sure every fixable rule has output property in invalid tests"
Since we have meta in most of rules now, I think its easy to check if the rule is fixable or not.
I want to enhance our rule tester to check if all invalid tests have `output` property or not. A lot of times I had to check manually whether contributors checked for auto fix code or not.

Its should fail that test which has missing output with error message saying output missing or something.

[2016-04-25 14:33] platinumazure commented on #5962
I'm :+1: in general on this, but in theory it's possible for rules to only offer fixes some of the time. Would it be better to require either output or some kind of "nothing should change/no fix should be offered" property?

[2016-04-25 14:36] gyandeeps commented on #5962
If a rule is fixable then its fixable all the way with no if's. So any rule which is fixable, we safely check if all the invalid cases have `output` property or not.

[2016-04-25 14:50] platinumazure commented on #5962
@gyandeeps That's not true. Any `context.report()` call may or may not have a `fix` property, so it is absolutely possible for a rule not to supply auto-fixes in all cases if there are multiple calls to `context.report()`.

Also, rules could have code like this:

[code]

[2016-04-25 14:53] gyandeeps commented on #5962
Its technically possible, but we as a team do not allow that as of today (AFAIK). If a rule is fixable then its fixable all the way. Can you point me to a rule which does partial fixing?

[2016-04-25 14:56] platinumazure commented on #5962
@gyandeeps You are correct that this doesn't happen in the eslint repo. However, this change could be a breaking change for plugin authors if they use RuleTester and dev-depend on latest ESLint, and neither of us can guarantee that all plugin rules follow the same convention as the ESLint repository. (This change is only breaking if they use the new metadata, so it won't have too widespread impact

[2016-04-25 16:06] #5927 closed

[2016-04-25 16:11] #5941 closed

[2016-04-25 16:24] nzakas commented on #5936
@byk are you championing this change?

My feedback:

* It's unclear to me if this is really a third option, equal to "always" and "as-needed". It seems like it could actually apply in addition to " as-needed". This needs some discussion.
* I don't think "except-object" is a good name. We generally try to stay away from using "except" because it's unclear. We tend to use "allow", " skip", etc., wor

[2016-04-25 16:29] duncanbeevers commented on #5936
Yes, the naming for this is a little awkward. "except-object" is a refinement of "as-needed", not a distinct third option.

Conceivable, this could live as its own eslint plugin (`parenthesized-object-literals` or something) but in practice arrow functions are they only place I've seen them appear, as well as the only place I want to enforce this.

[2016-04-25 16:35] michaelficarra commented on #5808
[code]

[2016-04-25 16:49] BYK commented on #5936
Don't want to over commit so holding on for championing for now in case someone else can do it. If we can't find anyone else in a week I'll take it on. Sounds good?

Also agree that this needs more discussion and consideration before moving forward with the code.

[2016-04-25 17:18] nzakas commented on #5958
Just one thing to be aware of: adding a line break means we need to know what the line break style is.

Although, with multipass, that can be fixed on the next pass. Nevermind! :)

[2016-04-25 17:52] onurtemizkan commented on #5808
Ah, okay. Thanks!

[2016-04-25 19:06] platinumazure commented on #5962
Oh, I just thought of something. Could we make this a setting which is overrideable in RuleTester's defaultConfig option? If so, we could make this opt-in and ESLint could use it but plugin authors would be able to control it.

[2016-04-25 19:07] BYK commented on #5883
I've also been using another solution, Kloudsec, on my GitHub hosted pages which seems to be working pretty nicely. It also uses Let's Encrypt so we don't need to deal with certificates.

Needs a DNS record change to get started though.

[2016-04-25 19:15] alberto commented on #5954
Closing since it could cause issues.

[2016-04-25 19:15] #5954 closed

[2016-04-25 19:15] alberto commented on #5952
Closing since it could cause issues with mistyped labels.

[2016-04-25 19:15] #5952 closed

[2016-04-25 19:17] alberto commented on #5958
Yes, that's the intention. We don't need to know that anymore. :)

[2016-04-25 19:34] nzakas opened #5964 "Move all docs into eslint repo"
Right now we have a very weird mix of some docs that live in `eslint.github.io` and some that live in `eslint`. I find this pretty confusing (though it's highly likely I'm the one to blame for this!). For instance, there are files here:

https://github.com/eslint/eslint.github.io/tree/master/docs/user-guide

That are not here:

https://github.com/eslint/eslint/tree/master/docs/user-guide

I'd like

[2016-04-25 19:35] nzakas commented on #5964
Note: we may need to update `Makefile.js` as part of this. We should double-check that.

[2016-04-25 19:37] alberto commented on #5964
Also rules doc? How would we ensure a new or updated rule has the corresponding doc?

[2016-04-25 19:38] nzakas commented on #5935
Okay, I think that's quorum. I've setup the repo to only allow squash commits going forward. As part of this, I think we should also:

1. Remove the commit count check from the bot
1. Remove the commit message format check from Travis (since the bot can check that)

I'd like to keep the bot checking the commit message format so we can give people feedback, but I don't think we need to hold up merg

[2016-04-25 19:44] platinumazure commented on #5935
Sounds good. It would be awesome to get the bot to rerun on commit add/remove/change, though.

[2016-04-25 19:45] platinumazure commented on #5964
:+1: from me, I always thought the distinction was weird.

[2016-04-25 19:46] alberto commented on #5962
It it is enforced as part of our build in `npm test` that would not be a problem, and would allow us to run tests for a single file without failing (I usually don't add all fixes at once).

Other than that 👍

[2016-04-25 19:51] alberto commented on #5961
Template literals can span multiple lines, so I am not sure why you would want such option. Can you elaborate?

[2016-04-25 19:53] platinumazure commented on #5961
@alberto The string literal is across multiple lines, but the string itself has no newline characters. In template literals, if newlines are supplied, do those get ignored or are they treated as `"\n"` characters?

[2016-04-25 20:38] alberto commented on #5961
@platinumazure thanks, my brain automatically inserted linebreaks :D

[2016-04-25 20:41] nzakas commented on #5935
@platinumazure already on it. Let's keep this issue focused on changes directly related to squashing.

[2016-04-25 20:56] alberto commented on #4345
@nzakas Yes. I think I would like to write it like:

[code]

Note this could also trigger `no-multiple-empty-lines {max: 1}`  if eslint comments are removed completely.

[2016-04-25 20:59] le0nik commented on #5961
[code]

equals to `This is a\nmultiline template`

whereas

[code]

equals to `This is a multiline template`.

Demo [here](https://babeljs.io/repl/#?evaluate=true&presets=es2015%2Cstage-0&code=%2F%2F%20Template%20literal%20string%0Aconst%20templateLiteralStr%20%3D%20%60This%20is%20a%0Amultiline%20template%60%3B%0A%0A%2F%2F%20Template%20literal%20string%0Aconst%20concatStr%20%3D%20'This%20is%20a%20

[2016-04-25 21:04] #5885 closed

[2016-04-25 21:05] alberto commented on #5935
The only minor annoyance I've found is now git can't track merged local branches and you must force delete them.

[2016-04-25 21:18] alberto opened #5965 "`lines-around-comment` reports multiple errors for comments on same line"
Using 2.8.0.

This is actually covered by a test, but I am not sure it is the correct behaviour, since they are basically reporting the same failure (I found this while adding autofix for the rule):

[code]

I would only expect the first 2 errors, for the first comment.

Note this code is valid (i.e comments don't need to be on different lines from each other) :
[code]

[2016-04-25 21:47] vitorbal commented on #5959
@kaicataldo maybe I could give this one a shot? If you're not already on it :)

[2016-04-25 22:07] kaicataldo commented on #5959
@vitorbal I think @markelog was going to take a look at this - if not, it's all yours!

[2016-04-25 23:11] markelog commented on #5959
Mine! :)

Hope that's okay

[2016-04-26 00:27] nzakas commented on #5964
@alberto what are you referring to? Rule docs are already in the `eslint` repo.

[2016-04-26 06:01] BYK commented on #5964
:+1:

[2016-04-26 06:03] alberto commented on #5964
Sorry, I read it backwards. I thought you wanted to move the docs from here to there.

[2016-04-26 07:35] LinusU commented on #5949
I'm not sure that I agree with that, it seems like it's going to be a very complex options object if we put everything into that rule. This might be desirable though, I'm not familiar enough with the project to tell.

The thing I like by this rule is that it plays nicely with other rules already in place, including padded-blocks.

[code]

The style guide that we wanted to implement in standard wou

[2016-04-26 07:50] vitorbal commented on #5959
Of course! All yours :)
On Tue, Apr 26, 2016 at 1:11 AM Oleg Gaidarenko <notifications@github.com>
wrote:

[2016-04-26 08:18] mysticatea commented on #5961
I think now this rule is expecting the following code.
We can include any spaces and line breaks between `${` and `}`.

[code]

Or

[code]

[2016-04-26 09:19] Moeriki opened #5968 "Restrict rules to a minimum parserOptions.ecmaVersion"
**Problem**

Right now half of my projects are written in ES6. Half in ES5. I have a shareable config I re-use between my projects. The problem I have is that I have to create separate sharable configs for my ES5/ES6 projects. Because rules such as `prefer-template` or `prefer-spread` give warnings regardless of my configured `parserOptions.ecmaVersion`.

**Solution**

A minimum ecmaVersion config

[2016-04-26 12:59] platinumazure commented on #5968
This is interesting but needs to be fleshed out more. What should happen if I am using a rule with ecmaVersion: 6 but my parser options are set to ecmaVersion: 5? How would this work with custom parsers which may have a completely different options interface?

[2016-04-26 14:37] stevoland commented on #5837
I had this problem and could reproduce the test case but it was fixed when I removed `react/jsx-uses-vars` https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/rules/jsx-uses-vars.js from my config

[2016-04-26 14:40] stevoland commented on #5837
That plugin flags `eslintUsed`: https://github.com/yannickcr/eslint-plugin-react/blob/master/lib/util/variable.js

[2016-04-26 16:35] nzakas commented on #5837
@stevoland interesting! @fabienjuif can you check that?

[2016-04-26 16:37] #5871 closed

[2016-04-26 16:51] akre54 commented on #1524
What about for aligning literals in function calls?

[code]

I think there has to be a smarter option than just ignoring a whole class of node for this type of alignment. Shouldn't it be possible to compare the `start` prop of the AST?

[2016-04-26 17:25] platinumazure commented on #5965
Marking "bug"/"evaluating" for now. I'm not sure what the expected behavior should be here, honestly.

[2016-04-26 18:31] zxqfox commented on #5968
Some naive answers:

Since rule requires ecma 6, it can't be called on the code. So rule should be just skipped.

Hmm. Why it should be an option for parser, since it's an option for eslint itself to filter out rules or whatever? If option wasn't passed explicitly we can use the most common by default (ES6 for now?).

[2016-04-26 18:48] platinumazure commented on #5968
Well, at the present moment, `ecmaVersion` is specified under `parserOptions` in config. The whole `parserOptions` block is sent to the specified parser (or espree by default). Some parsers might not understand `ecmaVersion`. And I don't think it's a good idea to overload the responsibility of that particular parser option, because then the configuration design violates the Single Responsibility P

[2016-04-26 19:40] #5808 closed

[2016-04-26 19:45] nzakas commented on #5964
@alberto ah okay. Cool.

So I think, in general, this should just be copying all files that don't currently exist in this repo to this repo:

1. Copy the files over (only the ones that don't exist in the `eslint` repo) from:
  * `docs/developer-guide`
  * `docs/user-guide`
  * `docs/maintainer-guide`
2. Remove the Jekyll front matter from each file
3. Do not copy over `docs/user-guide/rules.md`, a

[2016-04-26 20:12] platinumazure commented on #5964
I'm interested in working on this, if nobody has laid a claim already.

Should we also write a PR in eslint.github.io which removes the redundant files? (Perhaps after the ESLint repo's pull request is merged, since copy/overwrite of files during release should be safe)

[2016-04-26 20:27] platinumazure opened #5970 "RuleTester should throw if test has output but rule is new-style and lacks meta.fixable property"
As discussed in the [chat](https://gitter.im/eslint/eslint?at=571fcbb64da16e7d13d90814), it's pretty easy to forget to add `meta.fixable` to a new-style rule and then the unit tests simply won't run auto-fix.

It might be worthwhile to add an assertion to RuleTester. If the test has `output` property and the rule has `meta` but does not have `meta.fixable` set to code or whitespace, an assertion f

[2016-04-26 20:27] platinumazure commented on #5970
Not sure if this should be "core" or "infrastructure", so leaving that label off for now.

[2016-04-26 20:58] vitorbal commented on #5970
I'd like to work on this one if it gets accepted :)

[2016-04-26 21:00] bakkot commented on #5808
Currently this rule isn't actually checking that breaks and continues are crossing the boundary of the `finally`. In fact, one of the examples of correct code from the docs actually gives an errors:

[code]

This also trips this rule, I think incorrectly:
[code]

I would not think the mere presence of control flow statements would be an issue: it's only control flow which crosses the boundary of t

[2016-04-26 21:02] platinumazure commented on #5808
@bakkot I agree with your logic. Please open a new issue and I will triage it as a bug right away. :smile:

[2016-04-26 21:04] nzakas commented on #5968
What @platinumazure said. The options aren't really for ESLint, they are for the parser (that's why it's named `parserOptions`) and there's no guarantee that a parser will implement `ecmaVersion`, so there's only a loose connection between the parser and the rules. I'm not sure we would want to introduce a tight coupling there when we have no real guarantee. (It also doesn't make much sense to ena

[2016-04-26 21:05] nzakas opened #5971 "Add Node 6 to Travis tests"
Node 6 was released today, so we should add it to our Travis tests.

[2016-04-26 21:07] onurtemizkan commented on #5808
@bakkot Sorry, my bad. I can post a fix for this if you open an issue.

[2016-04-26 21:08] nzakas commented on #5962
One caveat: a rule might not fix everything it finds to be incorrect. For instance, we might only replace `let` with `const` when it is initialized. In that case, should the test still have an `output`? (This is actually why I didn't enforce this from the start.)

[2016-04-26 21:10] bakkot opened #5972 "'no-unsafe-finally' rule gives errors on safe code"
**What version of ESLint are you using?**
eslint@e606523

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**
Rule `no-unsafe-finally` gives an error on the following code:
[code]

**What did you expect to happen?**
No errors.

**What actually happened? Please include the actual, raw output from ESLint.

[2016-04-26 21:10] nzakas commented on #5962
Sorry, hit return too soon. :) We cannot assume that all rules ever written will always fix every problem they find.

And remember, the RuleTester is used by more than just us, so any change must make sense universally.

[2016-04-26 21:10] bakkot commented on #5808
Opened an issue.

[2016-04-26 21:13] nzakas commented on #5964
There aren't any redundant files. The eslint.github.io repo is the live site, so that's what shows up on eslint.org. when we do a release, those files are overwritten with the ones from this repo. We need copies in both places.

[2016-04-26 21:14] nzakas commented on #5928
@meeber that looks great! Can you submit a pull request?

[2016-04-26 21:16] meeber commented on #5928
@nzakas sure thing.

[2016-04-26 21:19] bakkot commented on #5972
And I guess if we're being pedantic, it's possible that this shouldn't give a warning either:

[code]

Of course, it's not possible to statically determine if a `throw` will cause an early exit from a `finally`:

[code]

But this is sufficiently horrifying as to be worth warning anyway. Frankly I'd be OK with warning in both of the cases mentioned here; it's more important that `break` and `contin

[2016-04-26 21:26] louy commented on #5972
Also what about this?
[code]

I'm not sure how to test it myself as this rule hasn't been released yet. The code above should give no errors.

[2016-04-26 21:31] gyandeeps commented on #5962
I think we can skip this for now.
thanks everyone.

[2016-04-26 21:31] #5962 closed

[2016-04-26 21:36] bakkot commented on #5972
@louy, that one's handled [correctly](https://github.com/eslint/eslint/blob/e6065235a682c5beae4a3f6e05cd7fa1b2813a3e/tests/lib/rules/no-unsafe-finally.js#L25).

Easiest way to test it yourself is to clone master, `npm install`, then `./bin/eslint.js --no-eslintrc --rule 'no-unsafe-finally: 1' test.js`.

[2016-04-26 21:39] onurtemizkan commented on #5972
@louy this is ok. I think this issue is only about usages of `break` and `continue`

[2016-04-26 21:47] vitorbal commented on #5910
would this be related to #4680?

[2016-04-26 22:02] onurtemizkan commented on #5972
It's obviously a bug, I presume it will be accepted. So I'm now working on a patch to fix it asap.

[2016-04-26 22:35] zxqfox opened #5975 "curly: Allow to filter affected keywords and pass keywords-exceptions"
JSCS has rules `disallowCurlyBraces` and `requireCurlyBraces` that allows to pass keywords: `["if", "else", "for", "while", "do", "try", "catch", "default"]`.

More over `requireCurlyBraces` has `allExcept` option that works like exception for passed keywords:

[code]

E.g. for:

[code]

it works like:

[code]

The current `curly` options and the first suggestion:

[code]

I suggest to pass an `Ob

[2016-04-26 23:34] zxqfox commented on #4680
Repeating here to close #5910 as dup:

[requireMultipleVarDecl](http://jscs.info/rule/requireMultipleVarDecl), [disallowMultipleVarDecl](http://jscs.info/rule/disallowMultipleVarDecl) → http://eslint.org/docs/rules/one-var (?)

`onevar` doesn't cover atm these cases:
- `{requireMultipleVarDecl: true}`
- `{requireMultipleVarDecl: {allExcept:["require"]}}`
- `{disallowMultipleVarDecl: {allExcept:["r

[2016-04-26 23:34] zxqfox commented on #5910
Yeah, looks like it's a pure duplicate. ;-(

[2016-04-26 23:34] #5910 closed

[2016-04-27 01:29] #5971 closed

[2016-04-27 01:52] nzakas commented on #5858
@ntwb cool! Add you going to update `eslint-config-wordpress` as well?

Either way, we can add this to our `--init` menu and eventual conversion of JSCS configs.

[2016-04-27 02:02] brenolf commented on #5856
Polyjuice `v.2.1.0` now parses most rules of that list. Some were left behind, though. You can check the [updated list here](https://github.com/brenolf/polyjuice/blob/master/doc/JSCS.md).

[2016-04-27 02:08] mysticatea commented on #5972
Oh, good catch!

[2016-04-27 02:42] ntwb commented on #5858
@nzakas Yes, I'm going to update `eslint-config-wordpress` so that it _extends_ the `eslint-plugin-wordpress:recommended` config, I'm just time poor at the moment, hopefully within the next day or two

[2016-04-27 04:04] kaicataldo commented on #5477
I can take a look at this if @aparajita isn't already working on it

[2016-04-27 04:07] kaicataldo commented on #5391
Are you working on this, @IanVS? If not, I'd be happy to take it on :)

[2016-04-27 04:08] aparajita commented on #5477
@kaicataldo Go for it.

[2016-04-27 04:14] kaicataldo commented on #5514
@radiovisual Were you able to figure out what was going on?

[2016-04-27 04:17] kaicataldo commented on #5358
Actually, it looks like this needs a champion now @eslint/eslint-team

[2016-04-27 04:21] kaicataldo commented on #5139
@pwmckenna Would you like to open a PR - looks like you did a lot of work on this already!

[2016-04-27 05:43] alberto commented on #5965
@xjamundx I'd like to know your opinion on this, since you created the rule

[2016-04-27 08:56] radiovisual commented on #5514
@kaicataldo , no. It was determined that the `new-cap` rule was working correctly (since it was also looking at the lowercase `d` on the property), and that my version of ESLint was reporting the wrong location of the lowercase `d`.

So really, this issue should be renamed to: **`new-cap` reporting wrong location for lowercase constructors.**

[2016-04-27 10:05] adius opened #5976 "--fix doesn't add spaces around colon of conditional operator"
In the latest version of eslint `--fix` in combination with `space-infix-ops: error` doesn't add
spaces around the colon of the conditional operator.

So `isValid?'yes':'no'` becomes `isValid ? 'yes':'no'` instead of `isValid ? 'yes' : 'no'`

[2016-04-27 11:04] anseki commented on #5738
Hi,
It seems to mistake parsing condition that includes calculation, also.
For example, ESLint say nothing to this code. it is correct behavior:

[code]

But, to this code:

[code]

ESLint said:

[code]

Strange to say, it said about variables that are not `i`.

[2016-04-27 11:09] mysticatea commented on #5738
@anseki What version of ESLint do you use? I cannot reproduce it on the online demo.

![image](https://cloud.githubusercontent.com/assets/1937871/14850385/a0637192-0cb3-11e6-922a-08857212b6f3.png)

[2016-04-27 11:36] anseki commented on #5738
@mysticatea I'm sorry, I used v2.2.0 for the code above.
I tried that with v2.8.0, then those messages are not shown.
I am sorry for the lack of confirmation.

[2016-04-27 11:44] gustavnikolaj opened #5977 "CLIEngine.getFormatter swallows exceptions from formatters."
**What version are you using?**
2.8.0

**What did you do?**
I had [a problem](https://travis-ci.org/assetgraph/assetgraph/jobs/126035656#L926) in a project where a specific set of packages meant that chalk would be installed in a broken way. I'm trying to reproduce this in a more minimal setting, to report it as an error to npm, as it is only happening with this specific combination of packages an

[2016-04-27 11:48] jsnajdr opened #5979 "Negated ignore pattern doesn't work when file previously ignored with '**' rule"
**What version of ESLint are you using?**
2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**
1. Create a new project with one file in a subdirectory: `server/a.js`
2. Add this to your `.eslintignore`:
[code]
3. Run `eslint server/a.js`

**What did you expect to happen?**
The `a.js` file is linte

[2016-04-27 12:32] mikesherov commented on #5358
ok, I'll champion this. Important to maintain feature parity with JSHint here. I recommend:

1. Fixing docs for no-undef, and also have them point to this new rule.
2. Recognizing the `\* global var:true *\ annotation as exceptions to this rule.
3. ignore `\* global var:false *\` as that only applies to `no-undef`.
4. Also recognizing an array of exceptions to this rule.
5. Rule shall be named `no

[2016-04-27 13:12] ken210 opened #5981 "Eslint raising error 'import/no-unresolved' for system modules on node v6"
- ESLint v2.8.0
- Run lint on node v6
- Expected same result as node v5
- Raising errors for system modules `'path'`

Test case: https://github.com/ken210/eslint-node-6-bug-report

Works on node v5
[code]

On node v6
[code]

[2016-04-27 14:00] jrmull commented on #5981
I upgraded to node v6 this morning and noticed that my linting stopped working.  Seems like it might be related.

[code]

[2016-04-27 14:17] fiolkaf opened #5982 "New rule: newline-before-if"
1. This rule will warn when no newline before if statement.

Correct:
[code]

Incorrect:
[code]

2. This rule is stylistic only.

3. This rule is can be widely used as it increases code readability.

4. Yes. I can create rule by myself.

[2016-04-27 14:32] kaicataldo commented on #5514
@radiovisual  Gotcha - are you still able to reproduce it with the latest version of ESLint?

[2016-04-27 15:29] nzakas commented on #5358
Sounds good. As this doesn't seem related to JSCS compat, I removed it from the milestone. We should prioritize the JSCS compat work above this.

[2016-04-27 15:37] platinumazure commented on #5982
If we don't already have something like this, I think we should generalize beyond `if`. I think it would probably be better to have a more generic rule, something like `newline-before-control-statement` (but *please* let's find a better name) which has options to turn it on or off for IfStatement, ForStatement, ForInStatement, ForOfStatement, WhileStatement, DoWhileStatement, and whatever construc

[2016-04-27 15:44] nzakas commented on #5982
JSCS has `requireNewlineBeforeBlockStatements`. I'm guessing we'd need the equivalent rather than one that is just specific to `if`.

[2016-04-27 15:56] radiovisual commented on #5514
@kaicataldo , yes, I just ran ESLint `v2.8.0`, on the same exact code sample, and I get the exact same output that I did with `v2.3.0`. The position is still off:

<pre>
6:50  error  A constructor name should not start with a lowercase letter  new-cap
</pre>

[code]

[2016-04-27 15:59] kaicataldo commented on #5514
@radiovisual Alright, thanks for the info and for following up :+1:

[2016-04-27 16:06] nzakas commented on #5856
@brenolf awesome! Pasted here for easy reference with some notes:

* `CapitalizedComments`
* `NewlineBeforeBlockStatements` - looks like a similar request in #5982?
* `ObjectKeysOnNewLine` - implementing in #5933
* `PaddingNewLinesAfterBlocks`
* `PaddingNewLinesAfterUseStrict`
* `PaddingNewLinesBeforeExport`
* `PaddingNewLinesBeforeKeywords`
* `PaddingNewLinesInObjects`
* `SpaceBetweenArguments` -

[2016-04-27 16:13] nzakas commented on #5946
@mikesherov how did you (or were you planning to) share indent preferences between rules? Tabs or spaces preferences need to be used in both, correct?

[2016-04-27 16:15] nzakas commented on #5391
@kaicataldo you've volunteered for a bunch of issues, could I entice you to spend some of that energy on the JSCS compat tasks? :)

[2016-04-27 16:30] nzakas commented on #4345
Well, this is the problem: either these comments are treated as comments or as empty spaces, either way there's going to be something "wrong". So we can either note make this change and accept that people will think these comments shouldn't count, or we leave them as-is and accept that people will think these comments should count.

Or we add an option to every comment rule that lets people choose

[2016-04-27 16:31] kaicataldo commented on #5391
@nzakas Sure - I've been going through old issues to see if I can clean some of them up, but understand the need to focus on higher priority things.

[2016-04-27 16:47] alberto commented on #5981
Probably related to https://github.com/nodejs/node/pull/5348

[2016-04-27 16:51] alberto commented on #5979
Confirmed

[2016-04-27 17:26] alberto commented on #5981
Looks like an issue with https://github.com/benmosher/eslint-plugin-import/issues/272

[2016-04-27 17:26] mikesherov commented on #5946
Ideally tabSize would be a top level key anyway. It's needed for autofixing mixed spaces and tabs too, I assume, and also needed to report location of errors, no?

[2016-04-27 17:29] mikesherov commented on #5856
There are also configuration value mappings that are missing. For example, the no empty block rule in eslint didn't allow empty catch statements (so it's now optional) where as the default in JSCS allows empty catch statements. That's just one example, but we need to account for this better.

[2016-04-27 17:41] mikesherov commented on #5358
Ok, yeah, I think we can mark this as JSHint compat though, no? And I won't work on this until JSCS compat is done, but I would like to champion this, so when it gets 3 thumbs, I can assign it to myself?

[2016-04-27 17:53] alberto commented on #5976
Working on this

[2016-04-27 18:22] BYK commented on #5946
I strongly disagree for splitting indentation enforcement into multiple rules because then it becomes very hard to make sure the whole file is indented properly.

[2016-04-27 18:28] radiovisual opened #5983 "should catch mistakenly-doubled reserve words"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
- parser: [XO](https://github.com/sindresorhus/xo)

**Please show your full configuration:**
- configuration: [eslint-config-xo](https://github.com/sindresorhus/eslint-config-xo/blob/master/index.js)

**What did you do? Please include the actual source code causing the issue.**

Consider t

[2016-04-27 18:46] fengthedroid opened #5984 "Proposed Rule: check number of parameters between function invocation and definition"
As node 6 supports [default parameters](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/default_parameters), I wonder if it makes sense that we can have an eslint rule as:
Unless the function signature explicitly expressing that a parameter can be defaulted to undefined or some other value, it shouldn't allow function invocation to have either less or more parameters than

[2016-04-27 18:54] mikesherov commented on #5946
@BYK depends on what you mean by split up. I authored the original indentation rule in JSCS, which I believe the ESLint one is still based on. I know the problem well too :-) When I say to split the rules up, I mean that there should be an underlying indentation engine that more than one rule (from the users perspective) can leverage. In the end, it's still a single pass, stack based approach.

Fo

[2016-04-27 19:02] BYK commented on #5946
@mikesherov I'm okay with the monolithic configuration but it feels like you've given this shared indentation engine with separate rules some thought so I'd like to hear your reasoning and plan of attack for that. I found the current implementation lacking many important things and missing certain lines when there are no "interesting" nodes on or around those lines in the current implementation.

[2016-04-27 19:15] alberto commented on #5984
We can't do that kind of static analysis in eslint, considering the function could be defined in a different file

[2016-04-27 19:15] #5984 closed

[2016-04-27 19:16] mikesherov commented on #5946
I'm not sure how much ESLint had changed from JSCS, but it seems like a lot of special casing was introduced. Perhaps we can focus on a rewrite before we do call expression? Probably no longer relevant to discuss it in this issue, but we should make a milestone or tracking issue for all indentation related bugs we want to fix and track progress together. I'm happy to have someone else to share thi

[2016-04-27 19:19] mikesherov commented on #5946
In regards to it missing many important things, that's true and it was explicit design choice that limited scope and worked well... until we got to autofix and I realized every line needs analysis or some basic accounting. Did the best I could at the time!

[2016-04-27 19:21] BYK commented on #5946
@mikesherov oh, my fears have realized: I didn't mean to be accusing, sorry :) I appreciate the way it works now, it was just one step in its evolution and it served as quite well (still serving actually!).

So thanks! :)

[2016-04-27 19:32] pedrottimark commented on #5485
@aparajita Although it has taken a while for us to think this through, can you please give feedback about possibilities below to improve no-delete-var and no-dupe-args. These improvements will become a pattern we can apply to other rules which have similar issues. Specifically:

* Do you prefer **A1** or **A2** or some other grammar or formatting for **When Not To Use It**
* Do you think only some

[2016-04-27 19:33] mikesherov commented on #5946
No offense taken :-). I just didn't want you to believe that I thought the current way was complete.

[2016-04-27 20:11] victor-homyakov commented on #2998
`--cache` results on a large SPA project (~2700 files):
- first scan (empty cache): ~55 seconds
- second scan (nothing changed): ~25 seconds

I expected much more significant boost. Scan without any changes should finish almost instantly, as fast as tree listing could complete.

[2016-04-27 20:16] royriojas commented on #2998
@victor-homyakov that's true, results are supposed to be shown almost immediately. Can you share the command line or the way you're running eslint in your project? I'm very curious about that.

[2016-04-27 20:34] platinumazure commented on #5983
Unfortunately, ESLint can't flag issues that are caught by the parser, because ESLint operates on an abstract syntax tree (which is the output of the parser). So if the parser fails, there is no AST, and ESLint cannot run on a file.

I don't think there's much we can do here. @nzakas?

[2016-04-27 20:41] sindresorhus commented on #5982
Would be useful to be able to enforce newline after a block too. Like [`requirePaddingNewLinesAfterBlocks`](http://jscs.info/rule/requirePaddingNewLinesAfterBlocks.html). Maybe `space-around-block`.

Similar to http://eslint.org/docs/rules/padded-blocks, but outside blocks.

Related issue: https://github.com/eslint/eslint/issues/3092

[2016-04-27 21:00] radiovisual commented on #5983
@platinumazure , thanks for the feedback. Though, I don't think the parsing fails, since the linting process runs perfectly and exits normally. The problem I am raising here is that even though the parsing isn't failing, the linting process is ignoring `new new` while seeing `import import` as a violation.

[2016-04-27 21:01] victor-homyakov opened #5985 "Cannot finish file scan in `eslint --init` when file contains invalid ESLint config comment"
**What version of ESLint are you using?**
2.8.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default I hope
**Please show your full configuration:**
There is no configuration yet
**What did you do? Please include the actual source code causing the issue.**
`eslint --init`
and I choose to scan my files to determine the best configuration
one of files contains invalid comment `/*esli

[2016-04-27 21:10] victor-homyakov commented on #2998
OK, that was not the latest ESLint version. After update to 2.8.0 numbers are slightly different:
- first scan: ~35 seconds
- second scan (no changes): ~16 seconds

Command line:
`eslint --cache scripts/tau >eslint.log`

[2016-04-27 21:16] xjamundx commented on #5965
I agree with the premise that it shouldn't give 4 errors, much easier to code it up that way though. Not sure it's worth prioritizing a fix, but if someone wants to do it, I think I'd agree.

[2016-04-27 21:29] pedrottimark commented on #5485
Here is a first look at other occurrences of strict mode in rule docs:
* parsing errors which will follow the emerging pattern: no-octal, no-octal-literal (does not mention strict mode at all), no-with
* code throws errors when run in strict mode, therefore rule is relevant to report problems at lint time: no-caller, no-invalid-this (description needs improvement), quote-props (example code did no

[2016-04-27 21:38] royriojas commented on #2998
@victor-homyakov

So just to confirm, a couple more of questions:

- The first pass didn't generate any warnings or errors, right?
- You obtained the same results when running the following command:
eslint --cache 'scripts/**/*.js' > eslint.log

right?

[2016-04-27 21:42] victor-homyakov commented on #2998
- The first pass did generate multiple warnings and errors
- Results for the first and following passes are the same

[2016-04-27 21:45] royriojas commented on #2998
Yeah, I guess that is expected, the cache only stores the info for the files that passed validation. If any file didn't pass that will be inspected again. Maybe that's not really that clear, but that is the way it currently is.

[2016-04-27 21:47] victor-homyakov commented on #2998
Oh yes now I understand. Thanks!

[2016-04-27 22:41] aparajita commented on #5485
Thanks for thinking it through. I vote far A2, but in addition to making "strict mode" bold, I would also make it a link to http://eslint.org/docs/rules/strict, so that users can have some reference as to what strict mode is and when it applies.

As for B2, I would use this for the second sentence:

[2016-04-28 00:47] #5928 closed

[2016-04-28 00:48] nzakas commented on #5856
Agreed. Any idea how best to track that info?

[2016-04-28 00:52] nzakas commented on #5983
@radiovisual the parser is failing at `import import` and so does not continue parsing after that point. If you fix that, it will then stop parsing at `new new`.

You can when ESLint is reporting a parser error rather than a linting error because the message is prefixed with "Parser Error".

As @platinumazure mentioned, there's unfortunately not anything we can do about this.

[2016-04-28 00:52] #5983 closed

[2016-04-28 00:54] nzakas commented on #5981
@alberto can we close this?

[2016-04-28 00:56] nzakas commented on #5985
Hmm, I'm not sure we can do anything about this. I was thinking we could skip a file with parse errors, but if all of your files have the same problem, that wouldnt help.

It seems like erroring out in this way is the best option here, but let's see what @IanVS thinks.

[2016-04-28 01:02] mysticatea commented on #5692
I'm sorry for late response.
I will do within next week. I have a vacation in next week!!

[2016-04-28 01:09] IanVS commented on #5985
Hm, yeah I made the decision when creating autoconfig that parse errors should bubble up and not be skipped over.  Otherwise, the results of autoconfig could be different than what's expected, and once the user starts to lint their files they're going to have to deal with the parse errors anyway.  I think this is a case of "fail fast", and personally I don't consider it a bug.

[2016-04-28 01:10] mysticatea commented on #5926
Thank you for this issue. I'm sorry for late response.
I also think this is a bug. I added `accepted` label.

/cc @btmills @michaelficarra

[2016-04-28 01:12] nzakas opened #5987 "Proposal: throw error if no config file is found"
From my travels around the internet, it seems that first-time ESLint users are very confused about the "nothing by default" mode. It seems many do not read the getting started docs, and so don't know to use `--init` to get started. That leaves them thinking that ESLint is broken because JSHint shows output out of the box.

~~To remedy this, I'd like to propose that in 3.0, we change the default be

[2016-04-28 01:16] mysticatea commented on #5913
`no-cond-assign` rule is warning both patterns. So I think we should fix `no-return-assign` rule.

![image](https://cloud.githubusercontent.com/assets/1937871/14872723/1543638e-0d2a-11e6-8452-80f94bfbe8bc.png)

[2016-04-28 01:17] platinumazure commented on #5987
In order to avoid magic, could we just detect no configuration file and print a warning saying that user needs to create a config file?

This warning, plus maybe a CLI option (or `--init` sub-option) to auto-generate a minimal config that extends `eslint:recommended` would probably go a long way.

Another possibility, if we can reliably detect being in an interactive terminal or not, would be to m

[2016-04-28 01:17] nzakas commented on #5977
Hmm, yeah, that's not good. We should fix that.

[2016-04-28 01:29] nzakas commented on #5987
I'm not sure there's much value in asking someone to use `--init` vs. just loading a reasonable config. If we are going through the trouble of detecting no config, it seems like we could be nice and give them something that works. Asking a new user to run another command when they just want to try ESLint just seems like another barrier to me (though admittedly is also better than what we have righ

[2016-04-28 01:31] nzakas commented on #5976
@adius in the future, please be sure to use our default issue template. It really helps us with issue triage. Thanks!

[2016-04-28 01:36] platinumazure commented on #5987
@nzakas Hmm. Well, I would say at the very least that we need to output a warning indicating any action we took, even if that is to create a minimal config that extends `eslint:recommended`. If we can agree to that stipulation, I can get behind your original proposal.

[2016-04-28 01:41] nzakas commented on #5985
Can we run ESLint with configuration comments disabled (and not parsed)?

[2016-04-28 01:49] IanVS commented on #5985
Hm, I'm not aware of a way, but I assume that would need to be handled within espree, right?  Could be an interesting enhancement, for those wanting to find out how much they're relying on inline config. 😃

[2016-04-28 01:50] IanVS commented on #5985
The next question would be whether to use such an option within autoconfig.  I tend to think "no", because if files already have eslint config comments, they should be respected just like they will be during regular linting.  Otherwise, the generated config will not be accurate.

[2016-04-28 02:08] gyandeeps commented on #5976
With multiple fix runs, we would fix both the issue so I dont think we need a change here.
FYI, this rule only reports one error at a time so technically in first eslint run it will report the error arounf `?` and no error for `:` this. For more details: https://github.com/eslint/eslint/issues/3761

[2016-04-28 02:16] mikesherov commented on #5856
What I did when I first ported all JSHint options to JSCS was create a master ticket with checkboxes. First set of checkboxes should be missing rules, second set is missing rule options.

IIRC, @nzakas you even went a step further and made a google doc. That might be in order for this.

[2016-04-28 02:33] alecxe commented on #4971
Cross-referencing SO thread: [Rule is disabled but not violated](http://stackoverflow.com/questions/36895440/rule-is-disabled-but-not-violated). Would appreciate any ideas or workarounds. Thanks!

[2016-04-28 03:43] kaelzhang commented on #5979
@jsnajdr reinstall eslint to upgrade `node-ignore` to `2.1.3` to see if it is ok now?

[2016-04-28 05:48] catkins commented on #3493
Still facing this too 😞

[2016-04-28 06:24] alberto commented on #5965
Ok, thanks. I'll do it. I need it to properly autofix this.

[2016-04-28 06:27] alberto commented on #5981
Yes, I think so.

@jrmull yours looks like a different issue, it might be caused by `standard`. If it is not the case, please provide us something we can reproduce.

[2016-04-28 06:27] #5981 closed

[2016-04-28 06:41] alberto commented on #5976
@gyandeeps Is there a reason why this rule can't report both errors, even if it is a single operator? It's not clear to me from the linked issue.

[2016-04-28 07:22] alberto commented on #5979
Thanks @kaelzhang, confirmed it works with `3.1.2`

[2016-04-28 07:48] radiovisual commented on #5983
@nzakas , @platinumazure , This issue should be reopened (sorry for the confusion). Now I understand what you meant about the failed parsing at `import import`, however, I only had the `import import` next to the `new new` in my previous code sample for comparison to highlight the problem (where `import import` was being caught, but the `new new` was being ignored). The problem, however, is not in

[2016-04-28 08:07] radiovisual commented on #5983
Below is a screenshot of my test run at http://eslint.org/demo/. Notice how the code sample passes as `Lint-free!` even though there is a `new new` in there:

The screenshot also show the changes I made to the rules and environments. The only changes I made to the defaults are:

- [x] node
- [x] es6
- [ ] no-console

![new-new](https://cloud.githubusercontent.com/assets/5614571/14879309/4e6f0ad2-0

[2016-04-28 08:09] victor-homyakov commented on #5985
Could "Invalid eslint configuration comment" be just another error/warning?

[2016-04-28 08:15] mysticatea commented on #5983
@radiovisual `new new foo` is valid syntax in JavaScript.

![image](https://cloud.githubusercontent.com/assets/1937871/14879526/b6ab3ac8-0d64-11e6-8705-ef7502019d4a.png)

https://tc39.github.io/ecma262/#prod-NewExpression

[2016-04-28 08:29] radiovisual commented on #5983
@mysticatea , ah yes! You are correct sir! That changes everything. Thanks for the clarification!

[2016-04-28 08:32] victor-homyakov commented on #5985
It also may help writing configuration comments in IDEs with ESLint support like WebStorm.

[2016-04-28 09:22] adius commented on #5976
@nzakas I did. I read it and deleted all useless noise and it seems like everybody understands what I'm talking about.
So why do you want me to paste some useless boilerplate text, which doesn't help at all for the issue at hand? ^^

[2016-04-28 11:02] freesteph opened #5989 "Rule proposal: `no-implicit-return-on-newline`"
**When does this rule warn? Please describe and show example code:**

This rules checks that ES6 arrow functions that use implicit return do so on the same line as their parameters.

Correct:
[code]

Incorrect:
[code]

**Is this rule preventing an error or is it stylistic?**

Purely stylistic. I find it much easier to process source-code if I can assume that same-line arrow-functions return and co

[2016-04-28 11:03] freesteph commented on #5989
I'm also aware there has to be a better name for the rule.

[2016-04-28 11:11] jsnajdr commented on #5979
@kaelzhang The bug is only partially fixed with 3.1.2. With the following `.eslintignore`:
[code]
file `server/a.js` is not ignored any more, but `server/x/a.js` still is.

[2016-04-28 11:54] alberto commented on #5979
Oh, good catch @jsnajdr

[2016-04-28 12:02] alberto commented on #5979
@jsnajdr Now that I think of it, for that to work, you would need to do:

[code]

Does this work?

[2016-04-28 12:08] jsnajdr commented on #5979
@alberto yes, this workaround works. But it shouldn't be needed - `!server/x/a.js` should just work.

[2016-04-28 12:10] alberto commented on #5979
@jsnajdr It's not a workaround. git works the same way

[2016-04-28 12:14] alberto commented on #5979
@jsnajdr Maybe you meant this?

[code]
I tested this and it also works now :)

[2016-04-28 12:27] platinumazure commented on #5983
I could see a use case for a rule that flags a "double new" since I assume
that would be unintentional the vast majority of the time.
On Apr 28, 2016 3:29 AM, "Michael Wuergler" <notifications@github.com>
wrote:

[2016-04-28 12:32] platinumazure commented on #5989
Could you please refine your incorrect example so it would parse successfully? (You're missing a trailing parenthesis)

[2016-04-28 12:35] jsnajdr commented on #5979
@alberto You're right, the `gitignore` [docs](https://git-scm.com/docs/gitignore) state that "It is not possible to re-include a file if a parent directory of that file is excluded.", for performance reasons.

But this means that I can't put a whole source directory into `.eslintignore` (because it's not eslint clean and I don't want to break my builds) and the enable cleaned files one by one. We

[2016-04-28 12:36] radiovisual commented on #5983
@platinumazure , I agree. I was actually going to recommend the same thing. I have been writing Javascript for a while now, but I have never seen/used the double new syntax, so from my perspective, if a double-new were to creep its way into my code, I would most likely not be using it according to it's intended syntax, and could therefore manifest some erratic behaviors in my application, or confu

[2016-04-28 12:38] mik01aj opened #5990 "False positive in `prefer-rest-params` when checking arguments.length"
**ESLint version:** 2.8.0

**What parser are you using?**
[code]

When linting this code:
[code]

I get this warning:

[code]

I believe this to be a false positive. Imho just checking `arguments.length` should be an exception to this rule (possibly configurable).

[2016-04-28 12:46] alberto commented on #5979
Yes, I am afraid you'll have to especify the extension so folders don't get ignored or do this:
[code]

I agree it's not ideal, but we use `node-ignore` for ignoring/unignoring files, and it adheres to the gitignore spec, so it would be difficult for us to deviate from that. You can open a different issue if you want to propose that anyways.

[2016-04-28 12:52] jsnajdr commented on #5979
I think I now fully understand what's happening and why and I can adapt to that :) As for me, this issue can be closed.

[2016-04-28 13:10] freesteph commented on #5989
whoops, amended.

[2016-04-28 13:19] freesteph commented on #5989
I've also added a slightly more complex example.

[2016-04-28 15:14] platinumazure commented on #5989
@freesteph Thanks for adding that second example. It does unfortunately raise a new question, though-- the outer arrow function in your second correct example spans more than one line, even though the inner one is only on one line. So this still needs to be fleshed out more. Why does the outer arrow function not warn in the second "correct" example?

[2016-04-28 15:15] platinumazure commented on #5990
Hmm. This is a tough one. On the one hand, it would be easy to add a rest param and assert that its length is zero; on the other hand, introducing another variable that you won't even really use just to satisfy the rule would be pretty silly.

@eslint/eslint-team Do we consider this a bug, or an enhancement request?

[2016-04-28 15:30] michaelficarra commented on #5989
@platinumazure It appears to be because the expression *starts* on the same line. It doesn't matter whether it spans multiple lines or not. So this rule can be simplified to "don't put a newline directly following `=>`".

[2016-04-28 16:11] nzakas commented on #5990
It's an enhancement request, but one I don't think we should do. The purpose of the rule is to flag uses of `arguments`, which it is doing. You can replace the arguments length check by checking if `branches` is `undefined`.

[2016-04-28 16:15] nzakas commented on #5976
@adius because we have to triage a lot of issues and the template helps us do that. It isn't useless to us, and we'd really appreciate your help in making what is a time-consuming part of managing this project easier.

[2016-04-28 16:17] nzakas commented on #5985
@IanVS we added `allowInlineConfig` as an option on `verify()`: https://github.com/eslint/eslint/blob/master/lib/eslint.js#L715

Wouldn't that do the trick?

[2016-04-28 16:22] nzakas commented on #5856
A long time ago, I'm not sure it would be relevant now.

Maybe as a first step it would make sense to create a spreadsheet of every JSCS rule and option, and then we can collaboratively fill in compat info?

[2016-04-28 16:34] nzakas commented on #5987
@platinumazure I disagree that a warning is necessary. In this case, I think we are restoring expected functionality, so saying "Warning: ESLint is linting" does seem to add much value.

[2016-04-28 16:39] michaelficarra commented on #5990
@nzakas No, that is not how you would replace the `arguments.length` check. Still, it *can* be removed using rest parameters, so this rule is working as intended. But I'd support an option to allow `arguments.length` since I'd prefer to read a function with two parameters in the parameter list than see a rest parameter that is later destructured.

[2016-04-28 16:40] nzakas commented on #5946
@mikesherov what does "top level key" mean? We don't have such a concept in ESLint.

I'd like to suggest tabling indent-related work until we get more of the JSCS compat work underway. `indent` is a huge pain (most open bugs are about it), so I'm afraid digging too deep now will distract us from more achievable short-term goals.

[2016-04-28 16:41] nzakas commented on #5990
@michaelficarra fair enough, are you willing to champion this option?

[2016-04-28 16:43] nzakas commented on #5358
Added a JSHint compat milestone.

Yup, here's one: 👍

[2016-04-28 16:45] nzakas commented on #5391
@kaicataldo much appreciated!

[2016-04-28 16:45] freesteph commented on #5989
I didn't realise it wasn't fully clear, my bad. So yes, the idea is that if you're using arrow functions' implicit returns then you need to "tie it" on the same line to clarify your intention.

I appreciate that an implicit return spanning multiple line:
[code]
might seem a bit odd at first, but I find it more explicit and less error-prone than constantly jumping back one line scanning for `{` to