[2019-09-10 15:10] tacoto12 commented on #12117
I am going to come get rosa mae PERIOD!!

On Tue, Sep 10, 2019, 7:43 AM Aurora Skye <notifications@github.com> wrote:

[2019-09-10 15:12] vincerubinetti commented on #12117
@tacoto12 wat

[2019-09-10 15:31] devsnek commented on #12081
After the 6.0 upgrade i'm able to run eslint globally with `--resolve-plugins-relative-to $NPM_CONFIG_PREFIX/lib/node_modules`, but this is kind of a terrible ux. Would it be possible to have a `resolvePluginsRelativeTo` option in my `~/.eslintrc.js`?

[2019-09-10 15:41] marcinlesek commented on #12117
Hmm, I'm on `6.3.0` and it's still occurring for me, unfortunately. Should I create another ticket?

[2019-09-10 15:41] platinumazure commented on #12087
Sorry for the auto-close. We've had a lot of issues and a lot of busy maintainers.

Looking at the linked issue, I think I agree that the .eslintignore definitely does not follow .gitignore anymore and we should change the docs.

I think in your case, you could unignore `!src/node_modules/**` and that will hopefully get what you need. (Yes, apologies, you might need an .eslintignore file for now.)

[2019-09-10 15:43] platinumazure commented on #12117
@marcinlesek Can you try blowing away your node_modules and reinstalling? And if the issue recurs, please then run `npm ls eslint-scope` and see if you can find if there's an old eslint-scope somewhere-- if so, see if the dependency which contains the old version of eslint-scope can be upgraded.

At this point, the root cause is likely npm's package deduplication logic, not anything on the ESLint

[2019-09-10 15:43] jharris4 commented on #12117
@marcinlesek It's also working for me since upgrading `babel-eslint` to latest. What version of `babel-eslint` are you running?

[2019-09-10 15:51] tacoto12 commented on #12117
Bold mf

On Tue, Sep 10, 2019, 10:43 AM Kevin Partington <notifications@github.com>
wrote:

[2019-09-10 15:56] marcinlesek commented on #12117
@platinumazure @jharris4 both answers are correct guys, thanks! I upgraded `eslint-scope` from `3.7.1` to `5.0.0` and babel aslant from `10.0.1` to `10.0.3` and it now works correctly.

Kudos!

[2019-09-10 19:38] dyspop commented on #11944
Seeing this as well
[code]

[2019-09-10 19:43] platinumazure commented on #11944
@dyspop What is your ESLint version? Did you configure `parserOptions.ecmaVersion` properly? Please open a new issue as your issue is likely for a different reason, and please fill out the full issue template when you do so. Thanks!

[2019-09-10 19:54] mysticatea commented on #12228
@platinumazure Sorry, your thought that `semi` rule handles all semicolon tokens is definitely wrong. The `semi` rule handles only the semicolons which (1) separate two statements and (2) doesn't change semantics.
1. The semicolons which don't separate statements are handled by `no-extra-semi` rule in fact. We have discussed to merge `semi` and `no-extra-semi` in the past, but it has been rejected

[2019-09-10 20:05] christianbundy commented on #12228
I'm sure everyone in this thread already knows this, but I wanted to make a note because I hadn't seen it mentioned: there's another exception made for semicolons in `for` statements, which makes sense because those semicolons are a mandatory part of the `for` statement syntax I think we're all on the same page that those semicolons should *not* trigger a report.

[code]

I think it's reasonable f

[2019-09-10 22:20] mysticatea commented on #12228
@christianbundy To prevent one-liner, there is `max-statements-per-line` rule already. I think that the lacking parts are only the `no-workaround-semi`-like rule as a family of `no-unexpected-multiline` rule.

[2019-09-10 23:54] christianbundy commented on #12228
@mysticatea Do you think there would be utility in supporting [both use-cases](https://github.com/eslint/eslint/pull/12240#issuecomment-529250523)? I think there are two distinct camps that would use this rule:

[code]

I'd be happy to implement this in a new rule and combine with `max-statements-per-line` if that's the consensus on the best way to implement this, but I'd love to support both use-

[2019-09-11 00:05] christianbundy commented on #12228
Also, I'm unsure whether `max-statements-per-line` does what we're discussing, since it also reports semicolon-free code like:

[code]

[2019-09-11 00:17] mysticatea commented on #12228
"always protect statement with semicolon" has been supported already by `semi` rule with `["never", { beforeStatementContinuationChars: "always" }]`. We don't like the overlap of rules.

[2019-09-11 00:49] christianbundy commented on #12228
I understand wanting to avoid overlap, thanks for helping orient me through these rules. Here's my current understanding:

- The `semi` option only removes unnecessary semicolons, not semicolons *in general*.
  - The `beforeStatementContinuationChars` option can be used to enforce semicolon workarounds, but can't be used to disallow semicolon workarounds.
- The `max-statements-per-line` rule disal

[2019-09-11 01:56] mysticatea commented on #12228
Maybe `semi: ["error", "true-never"]` ?

But I'm not sure if it's common style enough to add into ESLint core.

[2019-09-11 06:33] Jamesernator opened #12255 "indent doesn't apply to expressions split across multiple lines"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

[code]

</details>

**What is wrong?**

Eslint doesn't consider this to be an error:

[code]

**What did you expect to

[2019-09-11 07:11] mightyiam commented on #12228
Just wanna drop by and say good work guys. Keep it up. I would love to see this happening.

[2019-09-11 09:42] uni-zheng opened #12257 "`Failed to load plugin` when extends a shared config"
**Tell us about your environment**

* **ESLint Version: 6.3.0**
* **Node Version: 10.14.2**
* **npm Version: 6.4.1**

**What parser (default, Babel-ESLint, etc.) are you using?**
none

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you u

[2019-09-11 15:09] zaygraveyard opened #12259 "space-before-function-paren removes comments when fixing"
**Tell us about your environment**

* **ESLint Version:** v6.3.0
* **Node Version:** NA (using https://eslint.org/demo)
* **npm Version:** NA (using https://eslint.org/demo)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual sour

[2019-09-11 18:15] OliverJAsh opened #12261 "`no-restricted-imports`: defer errors when using namespace imports"
**What rule do you want to change?**
`no-restricted-imports`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer and more (?)

**How will the change be implemented? (New option, new default behavior, etc.)?**

**Please provide some example code that this change will affect:**

We want to allow a library to be imported as a namespace, but disallow certain members of that n

[2019-09-11 20:25] mdjermanovic commented on #12259
Hi @zaygraveyard, thanks for the report! I can reproduce this bug.

[2019-09-11 20:44] mdjermanovic commented on #12259
Perhaps we could implement here the logic from `template-tag-spacing`?

[Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgdGVtcGxhdGUtdGFnLXNwYWNpbmc6IFtcImVycm9yXCIsIFwibmV2ZXJcIl0qL1xuXG5mb28gLyogYmxvY2sgY29tbWVudCAqL2BgO1xuXG5mb28gLypjb21tZW50IDEqL1xuLypjb21tZW50IDIqL2BgO1xuXG5mb28gLy8gbGluZSBjb21tZW50IFxuYGA7XG5cblxuIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlV

[2019-09-11 23:28] Skriptach opened #12262 "eslint-env doesn't work in single file as described in docs"
Tried to use
[code]
and this
[code]

* **ESLint Version:**
v6.2.0
* **Node Version:**
v10.15.3
* **npm Version:**
6.9.0
* **yarn Version:**
1.16.0

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

This is a 14th line in a file `app\main.dev.js`. But it is a most first

[2019-09-11 23:49] zaygraveyard commented on #12259
@mdjermanovic yes, this would indeed fix this issue since it would preserve the comments

[2019-09-12 00:05] mysticatea commented on #12262
Hi.

I'm confused. The issue title mentions `eslint-env`, but the "What did you do?" section doesn't mention it. What is your problem?

[2019-09-12 00:19] Skriptach commented on #12262
Hi @mysticatea,
Sorry if described not clear.

I'm trying to switch off `browser` env for a single file `app\main.dev.js`.
But neither `/* eslint-env es6, node */` nor `/* eslint-env es6, node, browser:false */` worked when I add them as a 1st line

Thanks

[2019-09-12 00:28] mysticatea commented on #12262
Thank you for clarification.

Yes, `eslint-env` comment supports only adding envs.

You can configure it with [glob-based configuration](https://eslint.org/docs/user-guide/configuring#configuration-based-on-glob-patterns). For example:

[code]

[2019-09-12 00:51] Skriptach commented on #12262
@mysticatea,
Thank you very much for a quick response. That helped =)

[2019-09-12 00:51] #12262 closed

[2019-09-12 15:20] mdjermanovic opened #12263 "sourceCode.isSpaceBetweenTokens() and multiline comments"
Noticed this while working on #12259

`sourceCode.isSpaceBetweenTokens()` sees newlines inside multiline block comments as spaces.

Observable:

[code]

[Demo link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHNwYWNlLWJlZm9yZS1mdW5jdGlvbi1wYXJlbjpbXCJlcnJvclwiLCBcIm5ldmVyXCJdKi9cblxuZnVuY3Rpb24gZm9vLypcbiovKCl7fVxuXG4iLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjUsInNvdXJjZVR5cGU

[2019-09-13 09:12] kurtextrem opened #12266 "Global .eslintrc breaks when upgrading from eslint v5 to v6"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 12.10.0
* **npm Version:** 6.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that y

[2019-09-13 12:50] valignatev commented on #12266
Have the same issue after upgrading to `6.3.0` from `5.16.0`.
Other eslint plugins installed:
[code]
Node: 12.10.0, yarn 1.17.3, npm 6.11.3
I've checked every eslint release after 5.16.0 (except for alpha and RC releases), they all have this error.
this is the output of eslint if being run directly:
[code]

[2019-09-13 13:44] dbroadhurst commented on #12117
"eslint": "6.3.0",
    "eslint-config-standard": "14.1.0",
    "eslint-plugin-import": "2.18.2",
    "eslint-plugin-node": "10.0.0",
    "eslint-plugin-promise": "4.2.1",
    "eslint-plugin-standard": "4.0.1",

Gives me an unused warning on test

[code]

[2019-09-13 13:56] Standard8 commented on #12137
I'll be happy to, but realistically, it is going to be a couple of weeks before I get time to write it.

[2019-09-13 14:24] platinumazure commented on #12117
@dbroadhurst Please share your ESLint configuration and your actual ESLint version. Help us to help you :smile:

[2019-09-13 14:35] dbroadhurst commented on #12117
I've added my .eslintrc file. Not sure what you mean by actual ESLint version.

[code]

[2019-09-13 15:01] dbroadhurst commented on #12117
Slight mix up but I have an easy test case. Might be create-react-app issue

[code]

add the test code and get the warning. eslint is v6.3.0

[2019-09-13 15:04] vincerubinetti commented on #12117
Idk if it's related, but note that `create-react-app` still hasn't been updated with the fixed version of `eslint`/`babel-eslint`/`eslint-scope`/whatever. The patch has been merged but it hasn't been released and pushed to npm yet, it looks like:

https://github.com/facebook/create-react-app/pull/7662
https://github.com/facebook/create-react-app/issues/7566

[2019-09-13 17:12] kaicataldo commented on #12263
I will try to work on this this weekend!

[2019-09-13 17:14] kaicataldo commented on #12263
@mdjermanovic Though if you need to fix it for your work, please feel free to take it on. I don’t want to block you!

[2019-09-13 18:19] mdjermanovic commented on #12263
@kaicataldo Feel free to claim this :)

The effects of this change can be also observed in the current version of `template-curly-spacing`, it will have more and fewer errors in some cases.

[2019-09-13 18:36] mdjermanovic commented on #12137
Sounds good to me! It's perfectly fine whenever you get time.

[2019-09-13 22:30] mysticatea commented on #12266
Thank you for your report.

But this is intentional change that [the migration guide](https://eslint.org/docs/user-guide/migrating-to-6.0.0#package-loading-simplification) explains. We strongly recommend to not use global installations. See that for details.

I'm closing as a duplicate of #11914.

[2019-09-13 22:30] #12266 closed

[2019-09-14 00:14] #12259 closed

[2019-09-14 00:25] #12234 closed

[2019-09-14 00:29] #12238 closed

[2019-09-14 00:30] #12237 closed

[2019-09-14 00:38] #12232 closed

[2019-09-14 00:46] #11902 closed

[2019-09-14 00:52] #12049 closed

[2019-09-14 01:04] #12063 closed

[2019-09-14 01:57] mysticatea commented on #12203
We have just released [ESLint v6.4.0](https://eslint.org/blog/2019/09/eslint-v6.4.0-released). We'll check back at the end of the weekend to see if we need a patch release. Please mind to not merge PRs except semver-patch.

[2019-09-14 06:48] colemars commented on #12117
[code]
Throwing false positive `no-unused-vars` error. I've updated `eslint` and` babel-eslint` but still hitting it. Is it a dependency issue in my case?

[code]
[code]

[2019-09-14 08:07] #12093 closed

[2019-09-14 08:17] kurtextrem commented on #11914
A short question: If we have `--resolve-plugins-relative-to`, why not also add `--resolve-presets-relative-to`? That would literally be just a copy & paste with minimal modifications and please everyone in this thread, future and existing issues all around the ecosystem.

[2019-09-14 10:39] aladdin-add commented on #12253
to clarify, do you mean to define a function named `functionA`? it could be:

[code]

[2019-09-14 10:48] aladdin-add commented on #12249
seems you are trying to lint `next.config.js`, but it's been configured ingored somehow. I believe you just need to remove `"next.config.js"` in `.eslintignore`.

hope it helps!

[2019-09-14 17:19] hornta opened #12269 "no-unnecessary-mapfilter"
**Please describe what the rule should do:**
reports on unnecessary use of .filter and .map on arrays.
could be split into 2 rules, one for unnecessary use of .filter and one for unnecessary use of .map

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code

[2019-09-14 17:26] ljharb commented on #12269
How often does this happen in practice?

(also, you can't statically know if the intention is to get a shallow copy, thus making `.slice()` the appropriate fix)

[2019-09-14 17:38] hornta commented on #12269
I don't think it happens very often but I've come across 2 instances of it in our code base but then the filter/map functions did some weird things with outside variables only to return true(for .filter)/itself(for .map) in the end. Maybe a .forEach would've been better.
Addition to https://eslint.org/docs/rules/array-callback-return perhaps?

[2019-09-14 17:54] kaicataldo commented on #12269
I’m not sure how this could be enforced without a lot of false negatives due to the limitation of ESLint not having type information. I understand the argument that catching some instances of an error is better than none, but I also think it’s a dangerous precedent to set because folks using it might not be aware of the cases it misses.

I think this is a better fit for a custom rule (actually, I

[2019-09-14 19:10] platinumazure commented on #12117
I think so. Please see if a new version of webpack is available which uses a more recent `eslint-scope`, otherwise you might wish to install eslint-scope directly as a devDependency.

To be clear, this is completely an npm bug, not an ESLint bug. In your dependency structure, ESLint is dependent on latest eslint-scope, but for some reason, npm laid out the physical folder structure in such a way t

[2019-09-14 20:03] platinumazure commented on #12249
@aladdin-add The challenge here is that the warning is unavoidable (since it doesn't come from a rule) and the user is using `--max-warnings`.

That said, I never understood from @VadymBoguslavsky why they have to run ESLint with that file ignored, and with a glob that picks up that file. Can either of those be changed?

[2019-09-15 11:56] mdjermanovic commented on #11849
I'll fix this.

[2019-09-16 01:35] yuanchieh-cheng commented on #12253
yes. That's what I am asking for.

[2019-09-16 07:38] VadymBoguslavsky commented on #12249
The problem is that we ignore our next.config.js using .eslintignore, and in theory it works, since when you remove next.config.js from .eslintignore, then errors are simply displayed. But I thought that if there is .eslintignore then everything that is in it should be ignored automatically, besides what is the point in this error? Oh and for now i remove  --max-warnings with --quiet.

[2019-09-16 11:24] andidevi opened #12271 "no-invalid-this: add switch for function name based heuristic"
* **ESLint Version:** 6.4.0
* **Node Version:** 8.16.1
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**What did you expect to happen?**
Detect invalid this in functions with names with leading uppercase

**What actually happened? Please include the actual, raw output from ESLint.**
The rule no-invalid-this counts functions with leading upperca

[2019-09-16 12:41] mdjermanovic commented on #12271
Seems reasonable to me, a project can have a different convention for capitalized functions and not have 'ES5' constructor functions at all.

Also, [User-Defined Components Must Be Capitalized](https://reactjs.org/docs/jsx-in-depth.html#user-defined-components-must-be-capitalized)

[2019-09-16 21:21] mysticatea commented on #12203
It looks no regression reports. This concludes this release cycle. Please feel free to resume merging semver-minor PRs.

Thank you!

[2019-09-16 21:21] #12203 closed

[2019-09-16 21:21] eslint[bot] opened #12272 "Scheduled release for September 27th, 2019"
The scheduled release on Friday, September 27th, 2019 is assigned to:

* @platinumazure
* @mysticatea

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release gui

[2019-09-16 23:34] tickct commented on #12225
I am going to take a look at this.

[2019-09-17 02:45] xcatliu opened #12273 "[no-array-constructor] should report error when passing a non-number to Array constructor"
**What rule do you want to change?**
no-array-constructor

**Does this change cause the rule to produce more or fewer warnings?**
more warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
No errors

**What will t

[2019-09-17 02:53] xcatliu commented on #12273
As [the document](https://eslint.org/docs/rules/no-array-constructor) said:

[code]

[2019-09-17 08:07] #12108 closed

[2019-09-17 08:07] #12070 closed

[2019-09-17 12:23] timolins opened #12275 "Add option for groups to `sort-keys`"
**What rule do you want to change?**

[`sort-keys`](https://eslint.org/docs/rules/sort-keys)

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option to allow groups separated by blank lines. This concept is taken from the [TSLint counterpart](https://palantir.github.io/tslint/rules

[2019-09-17 13:53] kaelzhang opened #12276 "Upgrade ignore to 5.x"
**The problem you want to solve.**

The npm package [`ignore`](https://github.com/kaelzhang/node-ignore) eslint depends on is out of date.

`ignore@5.x` introduces several important [changes](https://github.com/kaelzhang/node-ignore/releases), including fixing some edge cases which were not properly described before gitignore spec 2.22.1

But `ignore@5.x` brings some breaking changes that `ignore`

[2019-09-17 14:00] mdjermanovic opened #12277 "New rule proposal: compact-accessor"
**Please describe what the rule should do:**

If an accessor property has both getter and setter functions, this rule requires their definitions to be one after another in object literals/class definitions.

Optionally, the rule can require their order (get before set, or set before get).

**What category of rule is this? (place an "X" next to just one item)**

[X] Enforces code style (layout)

**

[2019-09-17 14:23] gziolo opened #12278 "`overrides` from config in npm package looks for files in node_modules"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 10.16.3
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

I use the config file which is published to npm package when running ESLint.

Config file is located in `node_modules/@w

[2019-09-17 19:44] mdjermanovic commented on #12271
I'm willing to champion this, but it still needs one more :thumbsup: from the team.

The name of the option could be `capIsConstructor` (default `true`)?

[2019-09-17 21:39] mysticatea commented on #12278
Thank you for your report.

Would you provide minimal repro steps?
The `basePath` should be the entry file's directory path rather than shareable config's directory path.

[2019-09-17 21:45] mysticatea commented on #12278
Ah, after re-read, it looks intentional behavior. Because you use `node_modules/@wordpress/scripts/config/.eslintrc.js` directly, the `overrides` path will be handled as relative to the `node_modules/@wordpress/scripts/config/.eslintrc.js`.

[2019-09-17 22:36] gziolo commented on #12278
Yes, this is how it works but it prevents you from using a valid config file which happens to be located in the node_modules and uses overrides in nested configs. There should be at least a way to provide the alternative base path for file matchers.

[2019-09-17 22:39] mysticatea commented on #12278
To clarify, is this the same issue as https://github.com/eslint/eslint/issues/11558? (glob-based configuration along with `--config` option?)

[2019-09-17 22:58] gziolo commented on #12278
It seems like you are correct. I can see it as the same issue once I read its full description.

[2019-09-18 01:38] mysticatea commented on #12278
It's a bug because [`.eslintignore` patterns should be resolved from the location of the file](https://eslint.org/docs/user-guide/migrating-to-4.0.0#eslintignore-patterns) since ESLint 4.0.0.

[2019-09-18 01:47] mysticatea commented on #12278
Thank you for confirming. I'm closing this issue as a duplicate of https://github.com/eslint/eslint/issues/11558. It's intentional behavior, but I think we should change the behavior in the next major version.

[2019-09-18 01:47] #12278 closed

[2019-09-18 08:07] #12111 closed

[2019-09-18 08:57] gziolo commented on #11558
I run into exactly the same issue as I learned after filing https://github.com/eslint/eslint/issues/12278 which was closed as a duplicate. You can find more details there. I also think that ESLint should scan from the project’s current directory when executing with —config option.

[2019-09-18 09:40] webMasterMrBin opened #12281 "overrides extends not working in eslint 6.4.0"
my .eslintrc
[code]

when i remove extends in overrides   it is working.

is there a conflict in the configuration？

[2019-09-18 09:55] OliverJAsh opened #12282 "`no-restricted-imports`: disable comments do not work for individual named imports"
**Tell us about your environment**

* **ESLint Version:** 5.16.0
* **Node Version:** 10.16.3
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used

[2019-09-18 09:57] webMasterMrBin commented on #12281
remove  node_modules and      install npm package again
resolves this
my bad  close

[2019-09-18 09:57] #12281 closed

[2019-09-18 13:11] mdjermanovic commented on #12273
Hi @xcatliu, thanks for the issue!

Could you please provide more details on the proposal? There is an example with a string literal, should the rule also consider something else as an error when there's exactly one argument?

[2019-09-18 16:04] lll000111 opened #12283 "Cannot set property 'hasAwait' of null"
* **ESLint Version: v6.4.0**
* **Node Version: v12.10.0**
* **npm Version: 6.10.3**

**What parser (default, Babel-ESLint, etc.) are you using?**

@typescript-eslint/parser

**Please show your full configuration:**
[eslintrc](https://github.com/eslint/eslint/files/3627349/eslintrc.txt)

[code]

[2019-09-18 16:06] lll000111 commented on #12283
Closing because I saw that function had pretty obvious issues &mdash; so, sorry, never mind.

[2019-09-18 16:15] lll000111 commented on #12283
Actually, _maybe_ you want to let this not crash at least?

The problem was that the function (`render()`, React project) did is not `async` but somebody used `await` in the function body. Clearly an error of course, but maybe it should not crash eslint completely.

[2019-09-18 16:58] kardasis opened #12284 "brace-style 1tbs with allowSingleLine should not allow else on separate line"
**What rule do you want to change?**
brace-style

**Does this change cause the rule to produce more or fewer warnings?**
more

**How will the change be implemented? (New option, new default behavior, etc.)?**
new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
It does not produce an error

**What will

[2019-09-18 18:38] kaicataldo commented on #12283
This isn't currently handled by the rule because this is a parser error in the default parser and in Babel's parser (see [demo](https://eslint.org/demo#eyJ0ZXh0IjoiY2xhc3MgQ29tcG9uZW50IGV4dGVuZHMgUmVhY3QuQ29tcG9uZW50IHtcbiAgICByZW5kZXIoKSB7XG4gICAgICAgIGNvbnN0IGRhdGEgPSBhd2FpdCBnZXREYXRhKCk7XG4gICAgICBcdHJldHVybiA8U3ViY29tcG9uZW50IGRhdGE9e2RhdGF9IC8+O1xuICAgIH1cbn0iLCJvcHRpb25zIjp7InBhcnNlck9wdGlv

[2019-09-18 19:44] mdjermanovic commented on #12283
An interesting thing is that it seems that the rule in question `require-await` can survive the described scenario (`await` in a non-async function) and even work well for the rest of the same file.

The rule can crash on a top-level `await`, though. If this isn't an `await` outside of any functions, then it might be a completely broken AST.

[2019-09-18 20:23] kaicataldo commented on #12283
@lll000111 Do you mind sharing the code (or a minimal repro case) that is causing this on your end?

[2019-09-18 20:49] mdjermanovic opened #12285 "New rule proposal: no-setter-return"
**Please describe what the rule should do:**

`no-setter-return` disallows returning values from setter functions.

Reports `return` statement with an argument inside a setter. Targets setters in object literals, classes and property descriptors (4 well-known functions).

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)

**Provide

[2019-09-18 21:05] lll000111 commented on #12283
Here's the complete file. I'm not the author, I merely observe the project, and it is being transitioned to TypeScript. The crash was reported coming from line 127.

[code]

[2019-09-18 21:13] rhyek commented on #10587
I'm working with a monorepo and just wasted 3 hours with this dumb error.

[2019-09-18 21:17] kaicataldo commented on #12283
Thanks. I made [an issue](https://github.com/typescript-eslint/typescript-eslint/pull/988) and [PR](https://github.com/typescript-eslint/typescript-eslint/issues/987) in the `typescript-eslint` repo.

[2019-09-18 21:27] kaicataldo commented on #12285
I support this! One thing to consider - is it worth creating a separate smaller rule, or to try to combine this with https://eslint.org/docs/rules/getter-return into a new rule (`setter-getter-return`)?

[2019-09-18 21:29] kaicataldo commented on #10587
This proposal has been accepted. PRs welcome!

[2019-09-18 23:34] mdjermanovic commented on #12283
The project is actually using `@typescript-eslint/require-await` rule, not directly `require-await`. This rule internally uses the core `require-await` and also has some additional logic from the typing information (allows `async` functions without `await` in some cases).

Docs: [@typescript-eslint/require-await.md](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint

[2019-09-19 00:06] kaicataldo commented on #12283
Thanks for the explanation! Sounds like it's indeed an issue for @typescript-eslint.

[2019-09-19 00:49] mdjermanovic commented on #12285
Cases like this should be also reported, so it isn't technically just `return` statement:

[code]

[2019-09-19 01:11] mdjermanovic commented on #12285
That's an interesting idea! I didn't think about it. Both rules work with accessors, though require the opposite things, I'm not sure what would be better from a user's perspective.

[2019-09-19 02:43] mysticatea commented on #11558
I have posted an RFC https://github.com/eslint/rfcs/pull/37.

[2019-09-19 05:56] kaicataldo commented on #12285
Just thought it was worth discussing as we're figuring it out!

Having thought about it a bit more, I think I'm leaning towards having a separate rule (i.e. using the current proposal). Smaller, focused rules tend to be easier to understand from a configuration perspective, though they might increase the overhead a little when they're first being added to the user's config (reading multiple rule d

[2019-09-19 08:07] #11979 closed

[2019-09-19 08:52] dimaqq opened #12287 "Exemption for for...of unused variable."
In similar vein to `for...in` https://github.com/eslint/eslint/issues/2342
Should there be similar exemption for [async] `for...of`?

**What rule do you want to change?**
`no-unused-vars`

**Does this change cause the rule to produce more or fewer warnings?**
fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
I don't know

**Please provide some exampl

[2019-09-19 09:35] gziolo commented on #12278
That's very interesting to learn. It looks like a lucky coincidence it works properly then. Thanks for opening eslint/rfcs/pull/37 which should change it to more anticipated behavior.

[2019-09-19 10:13] mdjermanovic commented on #12086
Reopening this since it's an invalid autofix (at least in the second example).

[2019-09-19 14:11] mdjermanovic opened #12291 "astUtils.canTokensBeAdjacent hardcoded espree.tokenize"
**Tell us about your environment**

* **ESLint Version:**  6.4.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used

[2019-09-19 14:49] platinumazure commented on #12086
Marking as accepted since we definitely don't want to change behavior here if possible. Also marking as "needs bikeshedding" since we still need to figure out the desired behavior here.

[2019-09-19 20:04] mdjermanovic commented on #12086
After thinking about this again, I believe that `prefer-object-spread` shouldn't even report in any of these cases.

Even without the autofix, the rule would suggest using object literal/object spread instead, which is wrong as it isn't equivalent. Maybe there could be another rule to disallow this style (if it's intentional, or find errors if it isn't).

[2019-09-20 00:01] #12208 closed

[2019-09-20 01:22] ben1226q commented on #11957
edit this file
/Applications/WebStorm.app/Contents/plugins/JavaScriptLanguage/languageService/eslint/bin/eslint-plugin.js

// this.cliEngine = require(packagePath + "lib/cli-engine");
 this.cliEngine = require(packagePath + "lib/cli-engine").CLIEngine;

[2019-09-20 08:07] #12135 closed

[2019-09-20 08:07] #12115 closed

[2019-09-20 08:07] #12074 closed

[2019-09-20 13:54] galvarez421 opened #12295 "Add documentation explaining config merging behavior"
**The version of ESLint you are using.**
6.3.0

**The problem you want to solve.**
The config merging behavior is not obvious and is hard to discern without looking at the code.

**Your take on the correct solution to problem.**
Following up on https://groups.google.com/forum/#!topic/eslint/XJn64b-RouI, I think it would be helpful for the documentation website to document exactly how configs are m

[2019-09-20 14:22] vincerubinetti commented on #12117
To whom it affects:

As of yesterday (I think), `create-react-app` finally [released](https://github.com/facebook/create-react-app/releases) its [fix](https://github.com/facebook/create-react-app/pull/7662) for this `babel-eslint` bug in `create-react-app` version `3.1.2`.

If you were doing any dirty hacks to temporarily get around this, now's the time you can finally remove them.

[2019-09-20 19:31] nikulis commented on #11939
I just ran into this same issue; maybe the use of the rule is unclear. I use the rule because I want to prevent the **creation of** snake_case variables, but allow exceptions for destructured variables for the same reasons as listed above and in the original `ignoreDestructuring` proposal: to avoid double-renaming, and when working with data whose shape is outside the scope of my project when I do

[2019-09-21 08:07] #12140 closed

[2019-09-21 08:07] #11942 closed

[2019-09-21 10:31] ovasylenko commented on #11762
How did you solve it?

[2019-09-21 19:05] frederikhors commented on #11899
I have a doubt about this code and this rule.

This is not good for eslint:

[code]

This one is good for eslint:

[code]

## WHY?

[2019-09-22 02:48] mdjermanovic commented on #11939
I think that the documentation for `ignoreDestructuring` should be improved to clarify the behavior.

As you said, the rule in general prevents the creation of snake_case variables. `ignoreDestructuring` allows creation, but only if that would be for limited use (only use cases from #9807).  After reading #9807 and PR #10373 I believe this isn't a bug, though I'm not 100% sure (maybe @platinumazur

[2019-09-22 07:48] fabb commented on #12206
Ok, I created the RFC: https://github.com/eslint/rfcs/pull/38

[2019-09-22 08:07] #12148 closed

[2019-09-22 08:07] #12141 closed

[2019-09-22 08:07] #12130 closed

[2019-09-22 08:07] #12129 closed

[2019-09-22 08:07] #12065 closed

[2019-09-22 08:07] #12008 closed

[2019-09-22 15:38] g-plane commented on #12275
Thanks for this issue.

Personally, I think this feature can be implemented in `@typescript-eslint/plugin` instead of ESLint core.

[2019-09-22 15:43] g-plane commented on #12284
Thanks for this issue.

However, `allowSingleLine` doesn't mean `enforceSingleLine`. That is, you can put them in one line, but not forced.

[2019-09-22 16:08] kaicataldo commented on #12145
Sorry this fell through the cracks. This is currently intentional behavior, because it’s possible that a comment could be referring to the line above and intentionally be aligned with it.

[2019-09-22 16:58] kardasis commented on #12284
It seems to me that the example I gave is a weird mix of single line and 1tbs since it’s not valid 1tbs, but it’s also not a single line statement.
If nothing else, the docs should make a mention one way or the other.

[2019-09-22 22:21] mdjermanovic opened #12301 "no-useless-rename should also report pattern properties with default values"
**What rule do you want to change?**

no-useless-rename

**Does this change cause the rule to produce more or fewer warnings?**

more

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior, because I think this is more a bug than an enhancement.

But, there is a question would it be okay for a semver-minor release.

**Please provide some example co

[2019-09-23 04:35] kaicataldo commented on #12301
I agree that this is a good candidate for a semver-minor bug fix. I can’t think of a good reason why the two cases illustrated above should result in different errors.

[2019-09-23 04:39] kaicataldo commented on #12275
For my own understanding - the criteria for sorting isn’t being changed in this proposal, correct? It just allows you to sort individual groups (separated by a padded newline) with whatever the current sorting behavior is?

[2019-09-23 04:41] kaicataldo commented on #12284
PRs to improve documentation are always welcome!

[2019-09-23 07:40] GerardRodes commented on #12117
same happens with yarn

solved by upgrading babel-eslint to 10.0.3

[2019-09-23 08:07] #12149 closed

[2019-09-23 08:07] #12138 closed

[2019-09-23 08:07] #12146 closed

[2019-09-23 08:10] sindresorhus commented on #12133
@mysticatea I can do a RFC, but it would be good to get some of the open questions here resolved first.

[2019-09-23 10:11] mdjermanovic commented on #12080
Reopening because it's probably a false negative.

[2019-09-23 11:30] kardasis commented on #12284
Cool. I’d be happy to contribute.
Would you consider an additional option that clarifies this? Something like `allowSplitSingleLines`

[2019-09-23 14:21] tonywoode commented on #11914
my 2cents: I can't upgrade eslint past v5, as ALE in Vim will report 'Failed to load config "standard"' - just as CLI does. I've read all issues here related to forcing users to stop using a global config, and I don't agree for reasons already cited above in this ticket. I see no option open to me atm than to slowly die on v5 or switch to a different linting tool?

[2019-09-23 14:25] kaicataldo commented on #12133
@mysticatea does the comment above address your concern?

[2019-09-23 15:08] ljharb commented on #11989
This should be reopened; it affects the plugin ecosystem.

[2019-09-23 16:27] galvarez421 opened #12304 "Add reportDisableDirectives config/CLI option"
**The version of ESLint you are using.**
v6.3.0

**The problem you want to solve.**
As far as I can tell, it is not possible to configure ESLint to report warnings or errors for `eslint-disable*` comments in such a way that wouldn't allow for these types of comments to disable those warnings or errors -- at least not without some side effects, as describe below.

My use case is that I would like f

[2019-09-23 17:29] kaicataldo commented on #12284
@kardasis If you're proposing a rule change, do you mind filling out the [rule change template](https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/RULE_CHANGE.md)? Either updating the original comment or adding a new comment would be fine! Once we have a formal proposal, the team can evaluate it.

[2019-09-23 22:20] mdjermanovic commented on #12271
I removed my vote to avoid confusion, as the issue needs 3 :thumbsup: from other members to be accepted.

To illustrate the idea, the following would be an error in strict mode (e.g., in a module):

[code]

Setting the option to `false` says that the project does not use the uppercase convention for constructors and that they would like this rule to treat functions that start with an uppercase as

[2019-09-24 00:04] mysticatea commented on #12271
It's okay even if you don't remove your vote.

Because 👍 on GitHub issues includes votes from the community, it's hard to count votes from the team on issues. Instead, we can check champion and supporters from the team in https://github.com/mysticatea/eslint-evaluating-issues#readme.

[2019-09-24 00:28] mysticatea commented on #12133
I'm sorry that I have lost track on this issue.

`hasFilename` sounds better, but I still have a concern technically.

I guess that the `Linter` class does make the value of `hasFilename` from whether `filename` option was given or not. But in fact, `CLIEngine#executeOnText()` method gives `<text>` as filename to `Linter` instance if users didn't give `filename` option to the `CLIEngine` instance.

[2019-09-24 06:43] g-plane commented on #12304
Thanks for this new issue.

There is an [ESLint plugin](https://github.com/mysticatea/eslint-plugin-eslint-comments) which is related to ESLint comments and you may take a look. However, I'm not sure if that plugin can satisfy your request.

[2019-09-24 08:07] #11900 closed

[2019-09-24 08:07] #12160 closed

[2019-09-24 11:01] mdjermanovic commented on #12271
I'm working on this.

[2019-09-24 20:03] mdjermanovic commented on #12225
A workaround in this particular situation could be to use the equivalent `String()` (or `.toString()` or `.join()`) instead of `'' +`:

[code]

The rule, in general, doesn't assume that a function always returns the same value for the same arguments (even constants), so any function call inside a condition makes the whole condition valid by the logic of this rule.

[2019-09-24 20:09] teddy-error commented on #10264
The Optional catch binding proposal has been moved to stage 4

[2019-09-24 22:26] tituswoo commented on #11803
👋 Hey folks! I've been trying to get dynamic imports working with eslint 6.4.0 but haven't had luck getting it to work. It's my understanding from the conversation and [v6.2.0 changelog](https://eslint.org/blog/2019/08/eslint-v6.2.0-released#enhancements) that dynamic imports should be working as of eslint 6.2, right? However eslint v6.4.0 is still throwing the following error for me whenever I at

[2019-09-24 22:29] mysticatea commented on #11803
You are looking using old ESLint or at least old parser. Please open a new issue with our issue template.

[2019-09-24 22:39] adhearn commented on #12249
We're having a similar problem here. We have a git hook that lints and will fail if there are any warnings, and configured our .eslintignore to ignore files that we didn't want to be warned about. However, we're now getting a warning about there being issues in a file that we explicitly say to ignore. This behavior is at best confusing, and at worst totally incorrect.

[2019-09-25 00:10] tituswoo opened #12310 "Parsing error thrown for dynamic import in eslint v6.4.0"
**Tell us about your environment**

* **ESLint Version:** 6.4.0
* **Node Version:** v8.15.1
* **npm Version:** 5.10.0

**What parser (default, Babel-ESLint, etc.) are you using?**  default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-09-25 00:25] mysticatea commented on #12310
Thank you for this issue.

I couldn't reproduce it.

[code]

What the result of the following commands?

- `eslint --version`
- `npm ls -g espree` (there is `-g` because you look to use global-installed `eslint`.)

[2019-09-25 01:26] kaicataldo commented on #12304
While it's great to get feedback here, we ask that all changes to core go through the RFC process outlined [here](https://github.com/eslint/rfcs).

Having tried to solve this myself in previous jobs, my initial take is that at some point there has to be some level of trust of contributors and some sort of system of manual review that will catch things like this. Completely disallowing disable comm

[2019-09-25 01:32] kaicataldo commented on #12249
@VadymBoguslavsky Do you mind clarifying exactly what command you're running ESLint with to get the results you've reported above? It initially sounded like the error was about running ESLint on files that are ignored, but now it's sounding like there are other errors it's reporting in the file?

@adhearn I think your issue is different, and it sounds like a duplicate of https://github.com/eslint/

[2019-09-25 01:33] ilyavolodin commented on #12277
I think it's a reasonable rule to add. But would need a different name, compact-accessors doesn't really describe it well. Maybe paired-accessors?

[2019-09-25 01:35] kaicataldo commented on #12277
I like `paired-accessors`!

[2019-09-25 01:35] ilyavolodin commented on #12283
Closing this issue, since the problem is in typescript-eslint

[2019-09-25 01:35] #12283 closed

[2019-09-25 01:41] ilyavolodin commented on #12285
@mdjermanovic Second example is also using return, it's just shortcut syntax, but it's still a return. So I think the name is fine.

[2019-09-25 01:45] tituswoo commented on #12310
@mysticatea thank you so much for helping me debug this issue 😄 🔥 💯

👆 Your comment there gave me a light-bulb moment. I am using `lerna` for package management and it turns out that the way I had things set up meant the eslint CLI was calling my globally installed eslint instead of the eslint CLI I had installed in my lerna project. 😅

So you were absolutely right, the eslint version I was _actua

[2019-09-25 01:45] #12310 closed

[2019-09-25 03:06] ljharb commented on #12277
They're already paired because they have the same property name; this seems more like `grouped-accessors`.

[2019-09-25 05:37] mt-sebastien-robert opened #12311 "Wrong line number on `no-unused-vars` error"
**Tell us about your environment**

* **ESLint Version:** `5.16.0`
* **Node Version:** `10.9.0`
* **npm Version:** `6.4.1`

**What parser (default, Babel-ESLint, etc.) are you using?**
`Default`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

Here are the YAML config files:
- Entry: https://github.com/moneytree/eslint-config/blob/master/eslintrc/nodejs-bin.ym

[2019-09-25 07:39] mysticatea opened #12312 "[multiline-comment-style] autofix removes indentation in the comment"
**Tell us about your environment**

* **ESLint Version:** 6.4.0
* **Node Version:** 12.10.0
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**
**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[Online Demo](https://eslint.org/demo

[2019-09-25 08:59] VadymBoguslavsky commented on #12249
@kaicataldo The command is `yarn run eslint --fix --max-warnings=0` but for now i changed it to `--quiet` to get rid of the warning above. And yeah we have errors in next.config.js but thats why we put it in .eslintignore

[2019-09-25 09:37] mdjermanovic commented on #10482
:+1:  It's accepted now

I don't know is it relevant for the decision to implement the rule, but it seems that the bug hasn't been fixed yet:

[https://bugs.chromium.org/p/v8/issues/detail?id=5848](https://bugs.chromium.org/p/v8/issues/detail?id=5848)

[2019-09-25 11:12] mdjermanovic commented on #12277
I don't like `compact-accessors` name much, too.

`paired-accessors` looks good, though it might imply enforcing the existence of the pair? Also, there is already the `accessor-pairs` rule, so two similar names could be confusing?

`grouped-accessors` also looks good, but it could be interpreted as enforcing all accessor properties (different names) to be defined at the same place?

Maybe `connect

[2019-09-25 14:33] ljharb commented on #12277
grouped-accessor-pairs?

[2019-09-25 15:02] galvarez421 commented on #12304
@g-plane Thank you for the information. I am in the process of determining if that plugin satisfies my use case. It looks promising.

@kaicataldo Thank you for the information about the RFC process. It seems that process applies more for people intending to submit a pull request right? I don't think I understand your CI example. In that example, if that scenario is considered unacceptable for a pr

[2019-09-25 15:33] mdjermanovic commented on #12277
This sounds to me like a very good name for this purpose. If its apparent similarity with the existing name accessor-pairs isn't a problem.

[2019-09-25 16:36] kaicataldo commented on #12304
Unless I'm misunderstanding the proposal, I think this would apply any time the results of running ESLint could block a process.

For what it's worth, I've tried to use [no-restricted-disable](https://mysticatea.github.io/eslint-plugin-eslint-comments/rules/no-restricted-disable.html) from the plugin suggested above in the past, but it still requires manual review because it's possible to disable

[2019-09-25 18:10] coderaiser commented on #12246
There is an article about this in `v8` blog: https://v8.dev/blog/fast-async.
It states that `return await` is faster and produces better call stacks in `v8` engine.

Code transformer with built-int eslint support [putout](https://github.com/coderaiser/putout) has a plugin [add-return-await](https://github.com/coderaiser/putout/tree/master/packages/plugin-add-return-await), it can help to find and

[2019-09-25 18:25] ljharb commented on #12246
It’s still conceptually redundant, and shouldn’t be there. The rule is a good one, and a temporary speed difference in one engine is not a good reason to alter coding patterns.

[2019-09-25 18:28] ljharb commented on #12246
Also, nothing in that article talks about return await specifically; it’s just that the performance hit May no longer apply - it’s still bad code, because it’s conceptually redundant.

[2019-09-25 20:45] #11958 closed

[2019-09-25 21:03] kaicataldo commented on #12160
Sorry this fell through the cracks. I'm a little confused by the example code here - the `fs.readFile()` callback doesn't appear to be doing anything (and I believe would error out anyway because filePath is `undefined`). Do you have a minimal repro case that you might be able to share?

[2019-09-25 21:19] kaicataldo commented on #12311
I can see why this would be confusing, but I actually believe this is working as intended. It looks like we currently report the declaration rather than the last assignment. Sounds like you're advocating for reporting the last assignment to the unused variable, which I think would also be a legitimate way to report this (in the case of a reassigned variable). I don't think the current behavior is

[2019-09-25 21:20] kaicataldo commented on #12312
Verified and agree that this looks like a bug.

[2019-09-25 21:23] kaicataldo commented on #12249
Sorry, I'm still unsure how it gets in this state. Since you aren't passing file paths directly to the CLI, it shouldn't be trying to lint any files in `.eslintignore`. That being said, there are a lot of moving parts here and maybe I'm just missing something. Any chance you could create a GitHub repository with a minimal reproduction case so we can better help you?

[2019-09-25 21:26] kaicataldo commented on #10482
@mdjermanovic I don't think we should let a single runtime's bug prevent us from adding this rule, but it could be nice to include a link to the bug in the rule's docs.

[2019-09-25 21:50] kaicataldo commented on #10264
This proposal has been open for quite a long time now. @mysticatea Are you still championing this? There's been a lot of discussion, and it would be great to have a clear proposal that the team can vote on.

[2019-09-25 22:18] #12167 closed

[2019-09-25 23:29] mt-sebastien-robert commented on #12311
Thank you for the consideration.

Right, this is not necessarily a bug, depending on the point of view, I agree. I'm fine with an enhancement, as long as this is improved and the confusion gone ^^

Let me know if I can help further. In the meantime I will try to find a bit of time to have a look at the ESLint internals.

[2019-09-25 23:40] mdjermanovic commented on #12277
I'll work on this over the weekend, should be ready for review soon.

[2019-09-26 02:05] kaicataldo commented on #11908
Reopening this since we have a PR for it!

[2019-09-26 03:10] kardasis commented on #12284
I'll be submitting a PR with the docs shortly.
Honestly, i found myself using the docs and tests to point out some funny edge cases that I think should behave differently (or at least accept an option to behave differently) .
take a look and let me know what you think

[2019-09-26 06:53] golopot opened #12315 "Improve report location of no-trailing-spaces by specifying end location"
**What rule do you want to change?**
no-trailing-spaces

**Does this change cause the rule to produce more or fewer warnings?**
No

**How will the change be implemented? (New option, new default behavior, etc.)?**
Change report location by adding end location.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Only report

[2019-09-26 07:33] drahnieR commented on #11899
Also, i'll give one of the cases i found here.
doSomething() just read from elem. but if the async call doesn't involve elem at all, lint error is gone.

[code]
[Demo](https://eslint.org/demo#eyJ0ZXh0IjoiYXN5bmMgZnVuY3Rpb24gZGVtbyhzb21lQXJyYXkpIHtcbiAgcmV0dXJuIFByb21pc2UuYWxsKHNvbWVBcnJheS5tYXAoYXN5bmMgZWxlbSA9PiB7XG4gICAgY29uc3QgcmVzdWx0ID0gYXdhaXQgZG9Tb21ldGhpbmcoZWxlbSk7XHRcbiAgICBpZiAocmVzdWx0

[2019-09-26 07:50] stinovlas commented on #11899
It seems that there are enough examples of this rule not working as intended (or at least not working as described in docs). I'd say that the discussion went long enough for the maintainers to chip in and give us some comment or resolution.

I think there are several possible courses of action:
1. Fix the rule to behave as described in the docs.
1. Fix the docs to describe the actual rule behaviou

[2019-09-26 07:54] jyrkive commented on #11899
I believe that 3) at least would make sense. The rule in its current form flags way too much completely fine code.

[2019-09-26 08:05] medikoo commented on #11899
I think first straightforward and important step, is to remove it from `eslint:recommended` group.

Such _controversial_ rule, which doesn't work with many typical cases, should not be _recommended_ (IMO we can consider it a bug, that it landed there)

[2019-09-26 08:07] mysticatea commented on #11899
I agree that `eslint:recommended` should not contain that rule because of too aggressive.

[2019-09-26 08:22] astoilkov commented on #12160
No, I don't have a repro. The example above is extracted from a real use case in our application. We have issues in two places in our codebase. I can send you both examples but they are quite complex. With the example I provided I tried to simplify the use case without including what actually the `readFile()` is doing. The call to `foo()` is quite strange indeed – I updated it to include a dummy p

[2019-09-26 08:28] mqklin commented on #12287
This is broken for me after eslint update to v6 as well:
[code]

[2019-09-26 11:22] mdjermanovic commented on #12315
Hi @golopot , thanks for the issue!

I can confirm that the rule reports only the start location. It makes sense in this case to highlight the full range that would be automatically removed by the fixer.

I'm willing to champion the enhancement, though I'm not sure should this be rather accepted as a bug.

[2019-09-26 12:34] IgorNovozhilov commented on #11129
@nwoltman, @kaicataldo. I check this on v.6.4.0 `no-multiple-empty-lines` is worked now in this situation
example:
[code]

[code]

ps: `no-multiple-empty-lines` - Allows `\n` on the last line, and does not conflict with `eol-last`

[2019-09-26 12:54] IgorNovozhilov opened #12317 "Question. Update: rule 'padding-line-between-statements'"
Can I expect a reaction to my PR in the foreseeable future?
https://github.com/eslint/eslint/pull/11788

[2019-09-26 14:15] MidnightDesign opened #12318 "False "indent" positive with TypeScript generics"
**Tell us about your environment**

* **ESLint Version:** 6.4.0
* **Node Version:** 10.16.3
* **npm Version:** Yarn 1.17.3

**What parser (default, Babel-ESLint, etc.) are you using?**
`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as w

[2019-09-26 15:37] Bamieh commented on #12246
@ljharb it offers better debugging, the performance improvement is just a nice side effect.

Please read this section in the article : https://v8.dev/blog/fast-async#improved-developer-experience

or follow this example:

[code]

Note that by calling `return bar();` `foo()` function call does not appear at all in the error stack. Changing it to `return await bar();` gives a much better error stack

[2019-09-26 15:40] ljharb commented on #12246
I would prefer my code to be cleaner by always avoiding return await, and no performance or debugging argument outweighs that for me. Disable the rule if you want, but that’s not an argument to remove it.

[2019-09-26 17:25] kaicataldo commented on #11899
Agreed with @mysticstea. I’m not very familiar with this rule, but it sounds like we should consider doing the following:

1. Remove `require-atomic-updates` from `eslint:recommended`. We should be fine to release this in a minor release because it will result in fewer errors being reported.
1. Update the rule so that it’s not so aggressive with what it flags and improve documentation around it’s

[2019-09-26 17:31] kaicataldo commented on #11899
### TSC Summary

`require-atomic-updates` is currently on in `eslint:recommended` and appears to be flagging safe code (see examples in comments above).

### TSC Question

Can we remove this rule from `eslint:recommended` while we decide how we want to move forward with the rule? This should be fine to do in a semver-minor release because it will result in fewer errors being reported.

[2019-09-26 18:10] kaicataldo commented on #12246
PRs to update documentation are always welcome! I think it could be useful to include some of this information on the rules page.

[2019-09-26 18:36] kaicataldo commented on #12318
Hi, the `indent` rule doesn't know about TypeScript-specific syntax. You'll want to use `@typescript-eslint/indent` from [`@typescript-eslint/eslint-plugin`](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin) instead.

[2019-09-26 19:07] indutny opened #12319 "`ERR_REQUIRE_ESM` when requiring `.eslintrc.js`"
**Tell us about your environment**

macOS, node v12.11.0

* **ESLint Version:** 6.4.0
* **Node Version:** 12.11.0
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well

[2019-09-26 19:17] bmeck commented on #12319
This is from the change that disallows `.js` in packages declaring `type: "module"` to load via `require()`, https://github.com/nodejs/node/pull/29492 . Tooling is advised to detect `type: "module"` and take the appropriate action to `import` any `.js` within.

[2019-09-26 19:19] guybedford commented on #12319
The ideal theoretical fix would be for your eslint file to be loaded as an ES module itself since the package boundary is supposed to have all `.js` files as ES modules by adding the type. Alternatively support could be added for `eslint.cjs` which is permitted inside of ESM package boundaries.

That is,
1. Use `import()` first if available to load configs, OR
2. Support `eslint.cjs`

[2019-09-26 19:26] indutny commented on #12319
Could the eslint config be put into `package.json`?

[2019-09-26 19:27] indutny commented on #12319
That would work well for my case (the configuration is very simple)

[2019-09-26 20:31] kaicataldo commented on #11129
Can this issue be closed if the solution proposed by @IgorNovozhilov now works?

[2019-09-26 20:36] kaicataldo commented on #12319
Thanks for bringing this to the team's attention. We're tracking https://github.com/nodejs/modules/issues/388 and would love to work with the wider tooling community to figure out how we as a community want to handle this, since it's going to affect so many projects. It would be great to standardize on something to lower the barrier for entry for using all these tools.

[2019-09-26 20:38] kaicataldo commented on #12287
This looks like a duplicate of https://github.com/eslint/eslint/issues/12117. Can you see if the solutions there fix your issue?

[2019-09-26 20:39] kaicataldo commented on #12287
Note that this issue doesn't show in the [ESLint Demo ](https://eslint.org/demo#eyJ0ZXh0IjoiYXN5bmMgZnVuY3Rpb24gZm9yZXZlcih4KSB7XG4gICAgZm9yIGF3YWl0IChjb25zdCB1bnVzZWQgb2YgeCkge1xuICAgICAgICB2b2lkIHVudXNlZDtcbiAgICB9XG59XG5cbmZvcmV2ZXIobW9uaXRvcl9uZXR3b3JrKCkpOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTEsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnsianN4Ijp0cnVlfX0sInJ1bGVz

[2019-09-26 23:46] kaicataldo commented on #12317
Apologies for the PR falling through the cracks. We generally recommend getting approval on a proposal in an issue before implementing it. It doesn't look like there has been enough support for the proposal yet, but I'll ping the rest of the team on the PR and see if anyone else wants to support it. We have a bot that usually auto closes proposals that aren't accepted, but we don't do the same for

[2019-09-26 23:46] #12317 closed

[2019-09-27 00:26] kaicataldo commented on #12301
I've verified this using the [ESLint demo](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgeyBhOiBhID0gMSwgYjogYiwgYzogYyB9ID0gZm9vOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTEsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnsianN4Ijp0cnVlfX0sInJ1bGVzIjp7ImNvbnN0cnVjdG9yLXN1cGVyIjoyLCJmb3ItZGlyZWN0aW9uIjoyLCJnZXR0ZXItcmV0dXJuIjoyLCJuby1hc3luYy1wcm9taXNlLWV4ZWN1dG9yIjoyLCJuby1jYXNlL

[2019-09-27 00:50] ilyavolodin commented on #12246
My position is that debugging experience improvement is implementation detail of the engine. I see no reason why it should be required for correctly recording async function into stack trace. In my opinion, that implementation is flawed. There shouldn't be a reason to wrap a promise inside another promise to provide correct stack traces. Setting aside performance and stack traces, I think double w

[2019-09-27 02:07] ronkorving commented on #11899
The old implementation did add value, so I wish we could have that again.
You could move the aggressive behavior behind an option.

[2019-09-27 02:12] nwoltman commented on #11129
It doesn't look like anything is solved.

Config:

[code]

Code:

[code]

ESLint output:

[code]

Only the `lines-around-directive` rule is creating an error. The behaviour for `no-multiple-empty-lines` is correct here anyway since the comment is on the first line, so there are no blank lines at the beginning of the file.

[2019-09-27 02:35] mt-sebastien-robert commented on #12311
@kaicataldo
After a quick code check (cloned and read from my editor) I think I won't be able to find the time needed to learn deeper and update the rule. Sorry about that.

[2019-09-27 03:03] mysticatea commented on #12319
I have a question.

Is there a way that loads ES module files synchronously? Do we have to remove sync API (e.g. `engine.executeOnFiles(...)` in order to support modules in config files?

[2019-09-27 03:21] Jessidhia commented on #11899
They are _both_ bad, but it's a bug in the rule that it cannot detect the second one as a problem.

The assignment is safe if and only if it is the only assignment done to the value AND the expression evaluated is idempotent. `await import()` happens to be, but the lint rule doesn't know that.

Why? Because the update is not atomic. It is possible that, between the `await` starting and it settling

[2019-09-27 05:57] GeoffreyBooth commented on #12319
I second @guybedford’s suggestions for how to make eslint compatible with `"type": "module"`. A workaround that users can do today is to run eslint from a higher scope than the folder with the `package.json` that contains `"type": "module"`. For example, if your project is in `/app`:

[code]

Since `/app/package.json` either wouldn’t have a `"type"` field or would have `"type": "commonjs"`, `.esli

[2019-09-27 05:59] mysticatea opened #12323 "[no-path-concat] overlooks template literals"
**Tell us about your environment**

* **ESLint Version:** 6.4.0
* **Node Version:** -
* **npm Version:** -

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**
**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[Online Demo](https://eslint.org/demo#eyJ0ZXh0Ij

[2019-09-27 06:37] IgorNovozhilov commented on #11129
So... it seems, I all understood.
I have 2 suggestions. But both are major changes that will lead to new warnings:
1. I could modify `lines-around-comment' rule so that it works with values for each of its options:
`true` - require a blank line
`false` - prohibits blank lines
`undefined` - validation is ignored
PS: But, I would like to mark this rule as deprecated, as rule `lines-around-directive`

[2019-09-27 08:41] g-plane commented on #12323
I'm :+1: on transferring this rule to `eslint-plugin-node`.

[2019-09-27 09:56] fregante opened #12326 "`prefer-named-capture-group` should be disabled when using `.test()` or `.replace()`"
**What rule do you want to change?**

`prefer-named-capture-group` suggested in https://github.com/eslint/eslint/issues/11381

**Does this change cause the rule to produce more or fewer warnings?**

Fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior

**Please provide some example code that this change will affect:**

[code]
[code

[2019-09-27 10:26] fregante opened #12327 "`no-warning-comments` should include the comment itself in the report (UX only)"
I think the point of this rule is to keep track of TODO comments, however this is hard to follow; I'd have to open each file separately to see if I can handle a task.

[code]

**What rule do you want to change?**

`no-warning-comments`

**Does this change cause the rule to produce more or fewer warnings?**

Unchanged. It's only about UX

**How will the change be implemented? (New option, new defau

[2019-09-27 13:14] mqklin commented on #12287
Yes, I use babel-eslint. Yes, updating babel-eslint fixed the issue, thanks a lot!

[2019-09-27 14:34] g-plane commented on #12287
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2019-09-27 14:41] g-plane commented on #12326
Thanks for this issue.

Personally, I think this is expected. You're using regular expressions groups, but you aren't going to capture anything, so this rule suggests you adding prefix `?:` which means using groups without capturing.

[2019-09-27 14:46] g-plane commented on #12327
I'll champion this.

[2019-09-27 14:59] MidnightDesign commented on #12318
Thank you so much, I didn't think about that. For anyone stumbling upon this in the future:
[code]
...or whatever settings you want to use.

[2019-09-27 14:59] #12318 closed

[2019-09-27 15:09] jkrems commented on #12319
Generally speaking - no. So using `import` may be tricky. What may work is:

1. Support `.cjs` so packages with `{ type: 'module' }` can still use CJS for config files.
2. If `require` fails with `ERR_REQUIRE_ESM`, potentially use `import` or fail if it needs to stay sync. Alternatively, use `require` with sync config loading and `import` with async config loading if that part can be split out.

[2019-09-27 15:12] g-plane commented on #12282
I can reproduce this bug at our [ESLint Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgJ25vLXJlc3RyaWN0ZWQtaW1wb3J0cyc6IFtcbiAgICAgICdlcnJvcicsXG4gICAgICB7XG4gICAgICAgIG5hbWU6ICdsb2Rhc2gnLFxuICAgICAgICBpbXBvcnROYW1lczogWyd6aXAnXSxcbiAgICAgIH0sXG4gICAgXSAqL1xuXG5pbXBvcnQge1xuICB6aXAsIC8vIGVzbGludC1kaXNhYmxlLWxpbmUgbm8tcmVzdHJpY3RlZC1pbXBvcnRzXG4gIHBpY2tCeSxcbn0gZnJvbSAnbG9kYXNoJzsiLCJvcHRpb2

[2019-09-27 16:22] fregante commented on #12326
On the other hand `.replace` needs capture groups **but** it can't use named groups because both the string replacement (`"$1"`) and the replacer function are index-based.

[2019-09-27 16:24] fregante commented on #12327
Great!

[2019-09-27 23:10] mdjermanovic commented on #12123
Reopening because multiple team members think that this could be a bug.

[2019-09-27 23:35] mdjermanovic commented on #12326
I think that `String.prototype.replace` supports named capture groups

[https://github.com/tc39/proposal-regexp-named-groups#replacement-targets](https://github.com/tc39/proposal-regexp-named-groups#replacement-targets)

[2019-09-28 00:26] g-plane commented on #12327
We need at least 3 upvotes from @eslint/eslint-team to accept this enhancement.

[2019-09-28 00:51] nwoltman commented on #11129
Option 2 would be a nice solution 🙂. The only problem is that a _comment_ isn't a _statement_, so it doesn't exactly fit in the rule called `padding-line-between-statements`. Maybe we'd have to implement @kaicataldo's [suggestion](https://github.com/eslint/eslint/issues/11129#issuecomment-442197336) and call the rule `padding-line-around-statements`.

[2019-09-28 01:12] kaicataldo commented on #12173
Reopening this so we can verify what if this is a bug or not. @Serzh470 Do you mind filling out the [original template](https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md)? It's currently difficult to know what we should be evaluating.

[2019-09-28 01:15] kaicataldo commented on #12323
:+1: to updating the rule's behavior and am not opposed to deprecating it in core and moving it to `eslint-plugin-node`. I wonder if it's worth evaluating whether we should move our other Node-specific rules to the plugin?

[2019-09-28 01:42] kaicataldo commented on #12123
I support the change @mdjermanovic suggests in [this comment](https://github.com/eslint/eslint/issues/12123#issuecomment-525084165). I think it makes a lot of sense to actually check the between the end of the previous argument and the start of the next argument.

[2019-09-28 01:44] kaicataldo commented on #12327
In general, I'm in support of this, though I do think we want to have some kind of prepended message so it's clear what is being warned about.

[2019-09-28 03:32] ljharb commented on #12277
#12331

[2019-09-28 03:43] platinumazure commented on #12327
Should we truncate the comment in case it's really long?

Should we show only the first line in a multiple-line block comment?

[2019-09-28 03:46] platinumazure commented on #12287
@g-plane I could be missing something, but... I'm not sure this should be closed. The original post was a rule enhancement request for "for await of", but then someone else came and asked about "for of" and we noted the babel-eslint/eslint-scope issue.

Should we still evaluate the original rule request? If not, why not?

[2019-09-28 03:49] platinumazure commented on #12326
I'm worried about the implementation complexity required to make this change, without type support. The only cases we can catch with minimal complexity would be regex literals that are immediately followed by calls to `.test()` or `.replace()`. Maybe I could be persuaded otherwise, but I'm currently not sure this change is worth doing.

[2019-09-28 04:29] ljharb commented on #12326
Given that the correct fix for `test` is to add `?:`, and `replace` in the OP should be using `?:`, and also supports named capture groups - it seems like there's nothing that needs changing in the first place?

[2019-09-28 04:51] g-plane commented on #12287
Oh, it seems reasonable. Sorry.

[2019-09-28 04:59] fregante commented on #12326
In the case of `.test()` it doesn't _need_ changing, but also `?:` are just extra characters that don't benefit anyone since the result is a boolean.

[2019-09-28 05:31] kaicataldo commented on #12287
I'm not able to reproduce with our [demo](https://eslint.org/demo#eyJ0ZXh0IjoiYXN5bmMgZnVuY3Rpb24gZm9yZXZlcih4KSB7XG4gICAgZm9yIGF3YWl0IChjb25zdCB1bnVzZWQgb2YgeCkge1xuICAgICAgICB2b2lkIHVudXNlZDtcbiAgICB9XG59XG5cbmZvcmV2ZXIobW9uaXRvcl9uZXR3b3JrKCkpOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTEsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnsianN4Ijp0cnVlfX0sInJ1bGVzIjp7ImNvbnN0cn

[2019-09-28 05:42] ljharb commented on #12326
Sure, but does adding it potentially make your regex more performant, since the engine doesn’t have to capture the group and look for backreferences?

[2019-09-28 07:25] ololoepepe commented on #11899
@Jessidhia it is still us humans who write code in 2019. We know better what we are doing (well, not all of us, but those who don’t hardly use linters), so the rule is too aggressive and should not be enabled by default in the form it is implemented now. It is kind of if some rule gave an error if we use (or do not use) some pattern, say, factory method. It is too opinion-based for an (not perfect

[2019-09-28 10:39] dimaqq commented on #12287
I can only test it on Monday, sorry.
I think that with `void` trick or ought to work; and without it I’m not sure...

[2019-09-28 11:53] mysticatea commented on #12287
I guess you can use [varsIgnorePattern](https://eslint.org/docs/rules/no-unused-vars#varsignorepattern) option to ignore unused variables by naming convention.

For example, [Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tdW51c2VkLXZhcnM6IFtlcnJvciwgeyB2YXJzSWdub3JlUGF0dGVybjogXCJeX1wiIH1dICovXG5cbmFzeW5jIGZ1bmN0aW9uIGZvcmV2ZXIoeCkge1xuICBmb3IgYXdhaXQgKGNvbnN0IF91bnVzZWQgb2YgeCkg

[2019-09-29 01:22] dimaqq commented on #12287
There's something wrong with the online demo, it says `Lint-free` even for code like this:
[code]

[2019-09-29 01:26] kaicataldo commented on #12287
None of the rules are on in the link you provided. When I turn on `no-unused-vars`, it’s displaying an error as expected.

[2019-09-29 01:27] mdjermanovic commented on #12123
By #10323 it seems that `function-call-argument-newline` should have a behavior similar to the behavior of `array-element-newline`, which indeed compares the last token of an element with the first token of the following element.

These examples are equivalent to the two examples from the initial post, and there are no errors:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50

[2019-09-29 01:30] kaicataldo commented on #12123
I’m in favor of this being a semver-minor bug fix but it would be great if we could get some eyes from the TSC before we accept this.

[2019-09-29 02:46] mdjermanovic commented on #12123
@eslint/eslint-team this is probably a bug, but the fix can generate more warnings by default, so it's better to have an additional confirmation before accepting the issue and the related PR.

[2019-09-29 04:03] #12301 closed

[2019-09-29 04:04] #12212 closed

[2019-09-29 04:16] #12233 closed

[2019-09-29 04:33] #12226 closed

[2019-09-29 04:37] #12027 closed

[2019-09-29 04:56] golopot opened #12334 "Vscode and atom highlight locations are unexpected when end location is not provided"
**Summary**
Many rules reports only start location and no end location. For these rules, editors often renders tildes in unexpected places.

**Examples**
In these examples, the rules only reports start location but no end locations. Instead of highlighting tokens like `\n`, `(`, or `{`, the token before the said token is highlighted.

[code]
There are many other rules suffering from this problem,

[2019-09-29 05:45] mysticatea commented on #12272
We have just released [ESLint v6.5.0](https://eslint.org/blog/2019/09/eslint-v6.5.0-released). We'll check back at the end of the weekend to see if we need a patch release. Please mind to not merge PRs except semver-patch.

[2019-09-29 06:00] platinumazure commented on #12272
During the release build, we ran into this issue: https://community.netlify.com/t/jekyll-builds-consistently-failing-with-error-superclass-must-be-a-class-faraday-deprecatedconstant-given/3799

We have worked around the issue by pinning a specific gem dependency version (faraday). Hopefully github-pages will either pin the dependency on their side or publish a fix soon.

I've created website#625 t

[2019-09-29 06:31] g-plane commented on #12334
Maybe we can modify rules, because this can benefit formatters as well. However, I'm not sure how formatters behave when reporting those rules.

[2019-09-29 06:42] jakeleventhal opened #12335 "[6.5.0] `no-useless-rename` with `babel-eslint` crash at rest properties"
**Tell us about your environment**

* **ESLint Version:** 6.5.0
* **Node Version:** 12.10.0
* **npm Version:** 6.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command t

[2019-09-29 07:03] netroby opened #12337 "consistent-return: either return or not return both error"
1. Arrow function expected no return value
2. Expected to return a value at the end of arrow function

I am very hard to let it pass eslint.
While i delete the return value it got error 2.
I add return value , it got error 1.

How can i do ?

[2019-09-29 07:12] kaicataldo commented on #11146
Looks like this is done now that https://github.com/eslint/eslint/pull/12332 is merged!

[2019-09-29 07:12] #11146 closed

[2019-09-29 07:20] g-plane commented on #12335
Thanks for this issue.

Can you minimize your code example to help us ensure which part caused the bug? Thanks.

[2019-09-29 07:21] kaicataldo commented on #12334
I think one of the tricky things with some rules like semi is that there might not be a character to highlight if it's at the end of the line. Example from above:

[code]

[2019-09-29 07:32] kaicataldo commented on #12335
It looks like [this line](https://github.com/eslint/eslint/blob/master/lib/rules/no-useless-rename.js#L104) is throwing an error on this node:
[code]

Do you mind check to see if the same error occurs with the default parser? It might be some difference between Espree and babel-eslint.

[2019-09-29 07:35] jakeleventhal commented on #12335
The problem is the spread operator here i think

The following code causes the error
[code]

The following code does *not* cause an error:
[code]

[2019-09-29 07:37] jakeleventhal commented on #12335
I'd rather not swap my parser around but this is the most simplified example I can produce

[2019-09-29 07:39] golopot commented on #12334
I have tested that case, report the location of the linefeed (width 1) will do well in vscode.

[2019-09-29 07:51] netroby commented on #12337
Thanks, i disabled the rules. problem not exists.

[2019-09-29 07:51] #12337 closed

[2019-09-29 08:07] douxc commented on #12335
same error, when change `...otherProps` everything ok

[2019-09-29 08:10] platinumazure commented on #12335
I think the issue is with [this section](https://github.com/eslint/eslint/blob/334ca7c8b9c18ac097849c1cefaa43097a4e51dc/lib/rules/no-useless-rename.js#L100-L104) of the no-useless-rename code, if babel-eslint is still using ExperimentalRestProperty. The code is fine for espree.

With babel-eslint (at least version 9 in ASTExplorer), the code uses ExperimentalRestProperty, so it does not meet the c

[2019-09-29 08:35] g-plane commented on #12335
I've tested with different parsers. Here is result:

|Parser|Did it work?|
|---|---|
|espree|Yes|
|babel-eslint@9|No|
|babel-eslint@10|No|
|babel-eslint@11|No|

[2019-09-29 08:46] jakeleventhal commented on #12335
Please note I wasn’t experiencing problems in 6.4.0

[2019-09-29 11:30] mysticatea commented on #12335
The root cause is that `babel-eslint` generates invalid AST for some syntax. I don't oppose to fix ESLint itself for this, but I hope `babel-eslint` to make valid AST.

| Syntax            | ESTree spec        | `babel-eslint`                |
| :---------------- | :----------------- | :---------------------------- |
| Rest properties   | `RestElement`      | `ExperimentalRestProperty`    |
| Spre

[2019-09-29 13:21] kopax commented on #12335
I had the same issue and adding the eslint rule `"no-useless-rename": 0` fixed the issue for me.

Is a fix scheduled for this?

[2019-09-29 14:23] hawkeye64 commented on #12335
I have the same thing. With this code:
[code]
and temporarily changed it in node-modules to this:
[code]
Error is:
[code]

[2019-09-29 14:38] platinumazure commented on #12335
Hi @kopax, if we can identify an easy fix, there's a possibility it could get into a patch release early next week. Otherwise, the next release will be in about 2 weeks (close to October 11th). Please see our README for more information.

A PR would be welcome. I think adding a check for `!node.key` (maybe instead of the `node.type === "RestProperty"` check) would probably solve the issue. We woul

[2019-09-29 14:42] mdjermanovic commented on #12335
An option is also `node.type !== "Property"` instead of `node.type === "RestProperty"`

[2019-09-29 15:13] kaicataldo commented on #12335
This is a bug in babel-eslint. I’m not opposed to adding a temporary fix to the rule, but it should be fixed by babel-eslint. I’ll take a look later today and see if we can get it patched there.

[2019-09-29 15:47] g-plane commented on #12335
Off topic:

@kaicataldo Maybe it can be done at https://github.com/babel/babel-eslint/pull/785 .

[2019-09-29 15:51] crobinson42 commented on #12335
`6.5.0` is breaking the internet! Don't you guys use `eslint` on your code before releasing?! 😆

[2019-09-29 15:51] kaicataldo commented on #12335
Yes, that should fix it! Whipping up a PR to fix this on our end in the meantime.

[2019-09-29 15:56] kaicataldo commented on #12335
Just to reiterate - this is caused by babel-eslint not following the ESTree spec. The PR @g-plane linked to above (found [here](https://github.com/babel/babel-eslint/pull/785) will fix babel-eslint when it is merged, but that project is maintained by a different team.

For those coming across this issue looking for a quick fix, pinning ESLint to v6.4.0 (or `~6.4.0) will fix it.

[2019-09-29 16:17] kaicataldo commented on #12335
PR [here](https://github.com/eslint/eslint/pull/12339). This should be fixed up on our side in a patch release in the next few days. and hopefully the Babel team is able to merge https://github.com/babel/babel-eslint/pull/785 in the near future to help prevent these kinds of regressions. Thanks for your patience!

[2019-09-29 17:47] IgorNovozhilov commented on #11129
https://github.com/eslint/rfcs/pull/41

[2019-09-29 18:15] mdjermanovic commented on #12285
I'm working on this, should be ready soon.

[2019-09-29 18:17] kaicataldo commented on #11129
One other thought: we currently have `padded-block`, `lines-around-comment`, `lines-between-class-members`, and `padding-line-around-statements`.

Could we deprecate `padding-line-around-statements`, `lines-around-comment`, and `lines-between-class-members` in favor of a new rule `padding-lines` that allows for the enforcement of padding lines between any syntax in the same scope (including statem

[2019-09-29 19:21] kaicataldo commented on #9259
@platinumazure Looks like you're championing this change. How should we move forward? I'm :+1: to the proposal outlined [here](https://github.com/eslint/eslint/issues/9259#issuecomment-5252894020), pending the name (this one is tough - I'm not sure what we should call it either).

[2019-09-29 19:24] kaicataldo commented on #9366
How do we want to proceed with this? It unfortunately doesn't look like there has been any movement on the `levn` issue. It seems like moving away from `levn` might be the prudent thing to do.

[2019-09-29 19:32] kaicataldo commented on #9870
@mysticatea Would it make sense to put this proposal through the RFC process now that we have that?

[2019-09-29 19:35] kaicataldo commented on #10272
@platinumazure It looks like you've assigned this to yourself. Are you still championing this change? If so, should it go through the RFC process that we have that in place?

[2019-09-29 19:37] kaicataldo commented on #10323
It looks like this has been completed!

[2019-09-29 19:37] #10323 closed

[2019-09-29 19:38] kaicataldo commented on #10415
@aladdin-add Is this something you're still championing?

[2019-09-29 19:41] kaicataldo commented on #10627
@aladdin-add Are you still championing this?

[2019-09-29 19:43] kaicataldo commented on #11815
@mysticatea Should we make an RFC for this?

[2019-09-29 19:45] kaicataldo commented on #10977
Friendly ping! Where are we with this issue?

[2019-09-29 19:47] kaicataldo commented on #10981
Has this been resolved by [this discussion](https://github.com/eslint/eslint/issues/11022#issuecomment-473200771)?

[2019-09-29 19:50] kaicataldo commented on #11187
@g-plane Are you still championing this? It looks like this is working as intended.

[2019-09-29 19:52] kaicataldo commented on #11269
Closing this due to age. Please feel free to visit [our chat](https://gitter.im/eslint/eslint) if you have any others issues.

[2019-09-29 19:52] #11269 closed

[2019-09-29 19:53] kaicataldo commented on #11270
@eslint/eslint-team Looks like we need one more :+1: or it might be time to close this issue. @platinumazure are you still championing this change?

[2019-09-29 19:54] kaicataldo commented on #11300
@platinumazure Are you still championing this?

[2019-09-29 19:55] kaicataldo commented on #11368
I believe this is now complete!

[2019-09-29 19:55] #11368 closed

[2019-09-29 19:57] kaicataldo commented on #11371
@eslint/eslint-team Looks like we need one more :+1: to accept this, or it's probably time to close it.

[2019-09-29 19:57] kaicataldo commented on #11371
Whoops, sorry! Didn't mean to close it just now 😅

[2019-09-29 19:58] kaicataldo commented on #11377
@platinumazure Looks like it might be time to close this. Are you still championing this proposal?

[2019-09-29 19:58] kaicataldo commented on #11413
Is this something we still need to look at?

[2019-09-29 20:00] kaicataldo commented on #11536
Friendly ping - is this still an issue?

[2019-09-29 20:04] kaicataldo commented on #11650
Sorry this is so late - looks like this slipped through the cracks. Does this issue occur with the default parser? If not, this should probably be reported in the [`typescript-eslint`](https://github.com/typescript-eslint/typescript-eslint) repository.

@hardfist Prettier doesn't conform to ESLint's configuration, so if you're using Prettier for formatting you should turn any ESLint formatting rul

[2019-09-29 20:05] kaicataldo commented on #11843
@platinumazure Are you still championing this?

[2019-09-29 20:09] kaicataldo commented on #11903
Friendly ping - how do we want to move forward here?

[2019-09-29 20:10] kaicataldo commented on #11922
@aladdin-add Are you still championing this proposal?

[2019-09-29 20:13] kaicataldo commented on #12005
This appears to be fixed!

[2019-09-29 20:13] #12005 closed

[2019-09-29 20:25] kaicataldo commented on #12048
I think we'll need to evaluate each of these rules separately. It seems like all these rules should apply to this syntax, but they should probably be individually configurable.

`key-spacing`, `no-useless-computed-key`, `computed-property-spacing`, all seem fine in their default state, I think `key-spacing` should apply here and the other two don't apply unless someone uses a computed identifier (

[2019-09-29 20:26] kaicataldo commented on #12057
Closing this as it looks like the question has been answered. Please feel free to stop by [our chat](https://gitter.im/eslint/eslint) if you run into any issues.

[2019-09-29 20:26] #12057 closed

[2019-09-29 20:27] kaicataldo commented on #12080
Marking this as accepted since it's a bug report with three 👍s

[2019-09-29 20:29] kaicataldo commented on #12098
@mdjermanovic Now that you're a team member, if you can verify this is a bug you can feel free to mark it as accepted!

[2019-09-29 20:30] papb commented on #11377
It's unfortunate, but if no one else is interested, I guess it makes sense to close :frowning_face:

[2019-09-29 20:32] kaicataldo commented on #12145
Closing this since it's working as intended.

[2019-09-29 20:32] #12145 closed

[2019-09-29 21:36] dbolton opened #12340 "no-useless-escape false positive on closing bracket"
**Tell us about your environment**

* **ESLint Version:**
* **Node Version:** v10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?** linter-js-standard for Atom also the command line npx standard

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code

[2019-09-29 21:41] platinumazure commented on #12340
Hi @dbolton, thanks for the issue.

I [can't reproduce](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVzZWxlc3MtZXNjYXBlOiBbXCJlcnJvclwiXSovXG5cbnZhciB0ZXN0ID0gL1tcXF1bXS8iLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjEwLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19) in the online demo.

Could you please let me know if I'm missing a key pie

[2019-09-29 21:47] brunottonurb opened #12341 "Template string crashes eslint"
**Tell us about your environment**
Ubuntu 18.04, vscode 1.38.1

* **ESLint Version:**
1.9.1
* **Node Version:**
v10.14.1
* **npm Version:**
6.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default (?)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the iss

[2019-09-29 21:53] dbolton commented on #12340
Now I can't reproduce either.

[2019-09-29 21:53] #12340 closed

[2019-09-29 22:18] #12097 closed

[2019-09-29 22:18] #12178 closed

[2019-09-29 23:00] IgorNovozhilov commented on #11129
I think at the moment you can solve this problem by this way: https://github.com/eslint/eslint/pull/12342, since this is a solution with minimal changes, whereas in future versions consider proposals to restructure the rules handling empty lines

[2019-09-30 01:53] dimaqq commented on #12287
I'm so sorry for the confusion.

When I read #2342 I was left with the impression that the following is allowed:

[code]

But of course that's only because `unused` could be anything here, e.g. a global, and other rules kick in now: `no-undef`, `prefer-const`.

It didn't think that the following is semantically different wrt. the unused variable rule and treated both cases the same:

[code]

Weird

[2019-09-30 02:01] kaicataldo commented on #12287
Thanks for following up! I'm going to go ahead and close this issue then.

[2019-09-30 02:01] #12287 closed

[2019-09-30 02:06] kaicataldo commented on #12152
I agree with @platinumazure. This feels like a muddying of responsibilities of this rule. If you know what identifiers you want to allow, this should also be able to be enforced with [no-restricted-syntax](https://eslint.org/docs/rules/no-restricted-syntax).

[2019-09-30 02:07] kaicataldo commented on #12163
This has now been accepted.

[2019-09-30 02:08] kaicataldo commented on #12168
Though I see value in this rule, it feels a little too specific to be in core. I would advocate for this being in a plugin!

[2019-09-30 02:12] kaicataldo commented on #12190
Closing this issue as the question has been answered.

[2019-09-30 02:12] #12190 closed

[2019-09-30 02:14] kaicataldo commented on #12194
Adding the `breaking` label, as it sounds like consensus is to hold off on this until v7.0.0. Feel free to change that if I misunderstood anything!

[2019-09-30 02:18] kaicataldo commented on #12215
Closing this as it looks like the question has been answered.

[2019-09-30 02:18] #12215 closed

[2019-09-30 02:29] kaicataldo commented on #12248
This seems like a reasonable enhancement to me, though I'm not sure what we should call the option name. Thoughts? Maybe `multilineAssignment`?

[2019-09-30 02:32] kaicataldo commented on #12250
I don't think this is a common enough style to include in core, but seems like a great candidate for a plugin or custom rule.

[2019-09-30 02:40] kaicataldo commented on #12251
I agree that this looks like a bug. I think if a multiline comment begins on the same line as an argument and starts/ends on the same line as the opening/closing parenthesis, I don't think it should be considered whitespace.

[2019-09-30 02:44] kaicataldo commented on #12253
I'm a bit confused by this - `"foo" is not defined.` is the error message from the `no-undef` rule, not `prefer-destructuring`. Do you mind clarifying what the issue is? Filling out the [bug issue template](https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md) would help us a lot here :)

[2019-09-30 02:46] kaicataldo commented on #12213
This issue looks similar to https://github.com/eslint/eslint/issues/11270. I wonder if we can standardize around what we consider a "line that only contains a comment" in JSX across our rules.

[2019-09-30 02:50] kaicataldo commented on #12255
This feels like a reasonable enhancement to see, but let's see what the rest of the team has to say.

Similar issue: https://github.com/eslint/eslint/issues/12248

[2019-09-30 03:01] kaicataldo commented on #12295
PRs to improve documentation are always welcome!

[2019-09-30 03:10] kaicataldo commented on #12291
Interesting. I definitely think we should change this. Ideally, we'd be able to use a custom configured parser for this, but it also forces custom parsers to implement a `tokenize()` method. As a starting point, would it make sense to pass `parserOptions` to the `Espree#tokenize()` method calls?

Maybe it could check if the configured parser has a `tokenize()` method and, if it does, call that wit

[2019-09-30 03:15] kaicataldo commented on #12273
I'm :-1: for this proposal. Since ESLint doesn't have type information, we can't guarantee that we can enforce this. A type system would be much better suited to catching this!

Example:
[code]

[2019-09-30 03:16] kaicataldo commented on #12263
Sorry I haven't gotten to this yet. It's in my backlog, but if someone can get to it before I can, please feel free!

[2019-09-30 03:19] kaicataldo commented on #12261
This sounds useful to me! Curious what the rest of the team thinks.

[2019-09-30 09:22] g-plane commented on #11187
If it works as intended, there may be nothing should be changed.

[2019-09-30 14:27] timolins commented on #12275
Yes, you are right.

[2019-09-30 15:43] Baukaalm opened #12343 "Cannot read property 'type' of undefined (destructuring props)"
[code]
Cannot read property 'type' of undefined Occurred while linting

[code]

eslint v6.4.0

in vscode window at eslint plugin
[code]

[2019-09-30 16:18] Pegase745 commented on #12343
The linting crashes with `eslint@6.5.0` anytime in a destructuration we want the rest ( `{stuff, ...rest}`).
See `property.key` that is undefined in https://github.com/eslint/eslint/blob/master/lib/rules/no-useless-rename.js#L104

[2019-09-30 16:22] sackeyjason commented on #12343
Here's a workaround: disable the no-useless-rename rule. From my package.json:

[code]

[2019-09-30 19:49] kaicataldo commented on #12275
Thanks for clarifying. I’m 👍 for adding this to the core rule. I don’t think it should have to be implemented by `@typescript-eslint/plugin` since the changes proposed aren’t related to TyoeScript syntax.

[2019-09-30 19:52] amclin opened #12344 "Eslint does not respect .eslintignore when using file match pattern"
When running eslint as a command, it is required that you specify the files to be linted. But if you specify a file pattern, then the ESLint standard ignore behaviors *and* the .eslintignore file in the project folder are completely ignored.

This defeats the entire point of having node_modules ignored by default and having an `.eslintignore` file.

**Tell us about your environment**

* **ESLint V

[2019-09-30 20:05] kaicataldo commented on #12343
There are two different errors being reported here. The first one looks like a duplicate of https://github.com/eslint/eslint/issues/12335, while the second one looks like a correct syntax error (identifiers can’t begin with a `.` character).

[2019-09-30 21:01] finom commented on #12343
Also getting the same error with `({...foo}) => "bar";`

[2019-09-30 21:58] amclin commented on #12344
This is contrary to what the documentation says the behavior should be:
https://eslint.org/docs/user-guide/configuring#ignored-file-warnings

[2019-09-30 22:11] amclin commented on #12344
Using the `--ext` flag to specify filetypes and then declaring the root folder works:
`eslint --ext .js,.jsx ./`

But this is counterintuitive in the Node ecosystem where people expect to be able to pass glob patterns when a command accepts a list of files.

[2019-09-30 22:17] mysticatea commented on #12344
Because you are using glob patterns without quotes, so your shell resolves the patterns then pass the actual files to eslint. The error message is 'No files matching the pattern "node_modules/asn1.js" were found.' This means that the "node_modules/asn1.js" that shell passed was ignored because the path matches the default ignored pattern.

Please enclose the glob pattern by quotes.

[code]

[2019-09-30 23:23] kaicataldo commented on #12344
Closing this issue since it looks like the question has been answered.

[2019-09-30 23:23] #12344 closed

[2019-10-01 00:39] mdjermanovic commented on #12343
This is also same as #12335.

Tried `babel-eslint` and it generates `ExperimentalRestProperty` node in this case, too.

[2019-10-01 01:32] #12335 closed

[2019-10-01 01:59] mysticatea commented on #12272
We have released [ESLin5 v6.5.1](https://eslint.org/blog/2019/09/eslint-v6.5.1-released) to fix https://github.com/eslint/eslint/issues/12335. We are still watching if there are more regressions.

[2019-10-01 05:06] brandonchinn178 commented on #10341
Hello! I'm hitting this now in my project:
[code]

I see this comment: https://github.com/eslint/eslint/issues/4828#issuecomment-194535273

But it seems like that's not the case? https://github.com/eslint/eslint/blob/22046939a7f250e6cce40a2acdfd3581a2ce29f5/tests/lib/cli-engine.js#L355-L375

The documentation also doesn't seem helpful. Searching for "dotfiles" doesn't help me, and [the section on

[2019-10-01 05:34] kaicataldo commented on #10341
Feel free to make a new issue with the problem you’re encountering!

[2019-10-01 06:04] brandonchinn178 opened #12348 "Clarification on behavior of dot directories"
**Tell us about your environment**

* **ESLint Version:** v6.3.0
* **Node Version:** v12.8.1
* **yarn Version:** 1.17.3

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as wel

[2019-10-01 08:15] jurgisrudaks opened #12350 "TypeError: Cannot read property 'substring' of undefined"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.16.0
* **npm Version:** 6.11.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command t

[2019-10-01 08:18] jurgisrudaks commented on #12350
Looks like this is not an eslint issue - just found this:
https://github.com/yannickcr/eslint-plugin-react/issues/2423

[2019-10-01 08:24] g-plane commented on #12350
@jurgisrudaks If you've confirmed this isn't an ESLint issue, you can close this issue.

[2019-10-01 09:14] mysticatea commented on #12348
Thank you for your report.

Indeed, documentation is not enough.

The logic to ignore files has quirks for historical reason. I don't know the reason, but I found some quirks while I implemented https://github.com/eslint/eslint/pull/12274. The following list is it.

- ESLint ignores `/node_modules/*`, `/bower_components/*`, and dotfiles by default.
- If a path is a glob pattern or a directory path

[2019-10-01 09:25] jurgisrudaks commented on #12350
Confirmed - rolling back `eslint-plugin-react to version `7.14.3` - fixes the issue.

[2019-10-01 09:25] #12350 closed

[2019-10-01 09:44] pablobirukov opened #12351 "More granular config for 'object-shorthand'"
_Duplicating the rationale from https://github.com/palantir/tslint/issues/3778_

The `object-shorthand` rule currently does not offer granularity for enforcing/disallowing shorthand separately for property assignment vs method declarations.

I would prefer to allow (but not enforce!) shorthand for method declarations, but disallow shorthand for property assignments.

Here's an example of how I wou

[2019-10-01 10:48] mdjermanovic commented on #10482
I'm working on this.

From the specification, it seems that the only difference is when *both* arguments evaluate to bigint, as `**` doesn't crash in that situation (it would crash if only one is bigint), unlike `Math.pow`.

Re the autofix, I think it's an acceptable change in behavior :+1:

[2019-10-01 11:15] gerhat commented on #12350
thanks @jurgisrudaks. I confirm this fixed my issue as well.

[2019-10-01 12:18] galvarez421 commented on #12304
Thank you for the feedback @kaicataldo.

Essentially what I am requesting is a rule, except the rule would inherently require being treated differently than other rules otherwise the very thing that is supposed to be reported by the rule could disable the rule and thus the report (I'm not sure there is another conceivable rule that would share this trait). That is the only reason I suggested a top

[2019-10-01 13:31] ZYinMD opened #12353 "a case with require-atomic-updates"
**The version of ESLint you are using.**
6.4.0

**The problem you want to solve.**
[code]
So I have this `sync` function that could be called by several modules, for different reasons, at any time. I got warned by `require-atomic-updates`.

**Your take on the correct solution to problem.**
Is there a better pattern I could use to avoid the warning? If not, is it possible to add an option to this r

[2019-10-01 13:45] jlsjonas opened #12354 "no-unused-vars fails on default parameter with matching name"
**Tell us about your environment**

* **ESLint Version:** 6.4.0
* **Node Version:** 10.16.3
* **npm Version:** n.a.

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to

[2019-10-01 14:06] mdjermanovic commented on #12354
Hi @jlsjonas, thanks for the issue!

That default assignment would produce a `ReferenceError`, since the `rp` is already shadowed.

[2019-10-01 14:11] jlsjonas commented on #12354
🤔 Indeed, didn't test the default path; sorry 😁

[2019-10-01 14:11] #12354 closed

[2019-10-01 15:08] ZYinMD opened #12355 "propose 'no-reassign-property'"
**Please describe what the rule should do:**
Warn if you assign an object's property to a variable, then re-assign that variable, because you may mistakenly think the object's property will change too.

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code

[2019-10-01 15:10] ljharb commented on #12355
This is a fundamental piece of the language; it would warn on the vast majority of the code i've ever written. I don't think it's appropriate for a lint rule to warn on something that you have to already know to be able to write JavaScript in the first place.

[2019-10-01 20:15] parga commented on #12350
I can also confirm that rolling back to version `~7.14.0` fixes the issue.

[2019-10-01 21:36] kaicataldo commented on #12355
Thanks for the proposal. I agree with @ljharb. The examples given are valid code and this feels like a rule that is overreaching in what it warns to me. If this is something you would like to enforce in your own codebases, I think this is a better fit for a custom rule.

[2019-10-01 21:55] kaicataldo commented on #12353
This looks like a false positive to me (maybe other members of the team would disagree). Please see https://github.com/eslint/eslint/issues/11899 for more details on the current discussion around this rule.

[2019-10-01 22:20] kaicataldo commented on #12351
I'm generally supportive of this! I just took a look at the current options and they're really not very intuitive. I think it would make sense to deprecate `"methods"` and `"properties"` and allow for the first config option to be an object that has the following options (in addition to the current string options):

[code]

I don't think it makes sense to allow setting `property` or `method` to `c

[2019-10-01 22:32] kaicataldo commented on #11022
Removing the `Hacktoberfest` and `help wanted` labels because this should be done by someone on the team.

[2019-10-01 22:54] daningalla opened #12357 "Why is this reported as no-unused-vars?"
[code]
Line 90:  'entry' is defined but never used  no-unused-vars

Edit:
version 1.13.0
what happened: The following warning was issued: 'Line 90:  'entry' is defined but never used  no-unused-vars'
expected: since `entry` is used in the for loop body, I'd expect to not see that warning

[2019-10-01 23:12] aprilmintacpineda commented on #12272
I ran into this too, confirmed fixed in ESLint 6.5.1

THANK YOU

[2019-10-02 00:16] platinumazure commented on #12357
Do you use `code` somewhere else, after the for-of loop?

If not, the lint message is correct- there's not much value in doing all of those replacements and reassigning to a variable you don't later use.

[2019-10-02 00:20] daningalla commented on #12357
@platinumazure  The message indicates the unused var is `entry`, which you can see is referenced in the loop body. To your question though, `code` is returned from the function it resides in.

[2019-10-02 00:23] jsejcksn commented on #12248
If this ends up being specific to assignments, then I think that's a great name. If it might apply to other types of statements or expressions when implemented (see #12255), then perhaps it should be something like `multilineExpression`.

[2019-10-02 00:23] platinumazure commented on #12357
This is why we ask for all the information about your use case... You didn't even include the error message, so I had to guess. :smile:

Please provide all the info requested in [this comment](https://github.com/eslint/eslint/issues/12357#issuecomment-537279532). Thanks!

[2019-10-02 00:25] brandonchinn178 commented on #12348
Yes, I can unignore manually, but I would like to echo what this person said: https://github.com/eslint/eslint/issues/10341#issuecomment-468548031

I would personally request the following changes:

1. Change the error message to mention whether the ignored file is due to a default, **implicit** ignore pattern
2. Update docs to include the minutiae you listed out
3. (optional) It would be amazing

[2019-10-02 00:27] daningalla commented on #12357
@platinumazure  - gotcha, sorry. I edited the oc.

[2019-10-02 00:38] mysticatea commented on #12357
Hi @daningalla. ESLint 1.13.0 doesn't exist. This is the version list: https://www.npmjs.com/package/eslint?activeTab=versions

Please fill our issue template. People have many varied environments, so we need the information that is to reproduce your case in order to investigate it. Otherwise, what we can do is very limited.

Just for information, we cannot reproduce your case on our [online demo]

[2019-10-02 00:46] mysticatea commented on #12348
I have [the same comment](https://github.com/eslint/eslint/issues/10341#issuecomment-399679283). However, ignoring dotfiles is a common behavior.

About 1 and 2, PR is welcome.

About 3, you can do it once https://github.com/eslint/eslint/pull/12274 merged.

[2019-10-02 00:59] kaicataldo commented on #12248
`MultilineExpression` seems like a better plan to me, personally, but I’m curious what the rest of the team thinks.

[2019-10-02 03:12] daningalla commented on #12357
**Environment (from package-lock):**
node = v10.16.3
npm = 6.11.2
babel/core = 7.5.5
babel-eslint: 10.0.2
eslint: 6.4.0

**Configuration**
The only relevant configuration I could find is:
[code]

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[2019-10-02 03:27] kaicataldo commented on #12357
Have you tried the solution in that other issue? Looks like you might need to update babel-eslint.

[2019-10-02 04:05] mysticatea commented on #12357
Thank you for filling the template.

Okay, you look using problematic `babel-eslint` 10.0.2. Please update it to `10.0.3`.

[2019-10-02 04:48] snhardin commented on #12348
Hello! I'd like to take a stab at this. I use ESLint a lot for work and would enjoy the opportunity to give back. Any pointers on where to focus my attention are appreciated.

[2019-10-02 05:05] brandonchinn178 commented on #12348
@snhardin For 2, I would recommend editing [this section](https://github.com/eslint/eslint/blob/master/docs/user-guide/configuring.md#eslintignore) with more details on the implicit ignore patterns eslint automatically applies (see @mysticatea's first comment). Also, the [documentation](https://eslint.org/docs/user-guide/configuring#ignored-file-warnings) says

But the message shown is different

[2019-10-02 12:38] pablobirukov commented on #12351
@kaicataldo thanks for the reply.

I quite like the proposed syntax. Can't be sure about `consistent` or `consistent-as-needed` though, as I don't see a use for them in the first place.

Do we need someone else's approval to make sure my PR will be approved?

[2019-10-02 12:39] daningalla commented on #12357
Thank you - will close.

[2019-10-02 12:39] #12357 closed

[2019-10-02 12:41] nicolo-ribaudo commented on #11900
Another demo case: [demo](https://eslint.org/demo#eyJ0ZXh0IjoiZXhwb3J0IGxldCBsb2NrID0gMjtcblxuZXhwb3J0IGFzeW5jIGZ1bmN0aW9uIGYoKSB7XG4gIHtcbiAgICBsZXQgbG9jaztcbiAgICBsb2NrO1xuICB9XG4gIGF3YWl0IG51bGw7XG4gIGxvY2sgPSAzO1xufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTAsInNvdXJjZVR5cGUiOiJtb2R1bGUiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb24iOj

[2019-10-02 12:48] lekterable commented on #12323
what would be the usual flow of `deprecating` the rule in the core package @kaicataldo ? I'd love to work on this if I could get some details that would help me get me started

[2019-10-02 18:27] seetd commented on #12122
It might take some time to get familiar with inner workings Eslint but I am interested in taking this up.

[2019-10-02 20:55] gabrieldrs commented on #12323
Hey, I was fiddling around with this earlier today and I thought that maybe we would want to fix the rule first, and then decide to move it to the plugin?

Anyway, I tried to draft an initial solution for this and came up with https://github.com/gabrieldrs/eslint/commit/55a3dbf8e0c26a078ab43a0024fbe95e6eddfe3e

I'm still a newbie with ESTree so my code may have flaws that I'm not aware (any direct

[2019-10-02 22:24] jumpconnector commented on #11270
+1 on this. There should be an option to allow exception on comments inside JSX

[2019-10-02 23:09] mdjermanovic commented on #12207
I'm working on this (indexOf).

[2019-10-03 01:12] mysticatea commented on #12272
It looks no more regression reports. This concludes this release cycle. Please feel free to resume merging semver-minor PRs.

Thank you!

[2019-10-03 01:12] #12272 closed

[2019-10-03 01:12] eslint[bot] opened #12362 "Scheduled release for October 11th, 2019"
The scheduled release on Friday, October 11th, 2019 is assigned to:

* (needs volunteers)
* (needs volunteers)

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Re

[2019-10-03 01:56] kaicataldo commented on #12351
We recommend waiting until consensus is reached before working on it so that people don't spend time working on a change that the team feels isn't a good fit for the project. Consensus is reached when a member of the team champions the change and three other team members support it (with a :+1: reaction). You can read more details about the process [here](https://eslint.org/docs/maintainer-guide/i

[2019-10-03 01:58] kaicataldo commented on #12122
@seetd Fantastic! Feel free to comment here or visit [our chat](https://gitter.im/eslint/eslint) if you run into any issues or want to talk through anything.

[2019-10-03 02:12] kaicataldo commented on #12323
Thanks for working on this. Your implementation generally looks good to me! Would you like to make a formal PR? We'll need to add some tests to cover the new behavior and fix up any instances of the error in our codebase.

[2019-10-03 02:47] benmonro opened #12363 "eslint --changedSince"
**The version of ESLint you are using.**
5.16.0

**The problem you want to solve.**
jest has a CLI flag for `--changedSince` which allows pull requests to only execute tests on files that have changed in that branch.  It would be nice to have something like this in eslint that would allow eslint to figure out the diff of files and only execute against those files.

**Your take on the correct solut

[2019-10-03 03:03] kaicataldo commented on #12363
Thanks for the issue. We ask that all changes to core go through the RFC process outlined [here](https://github.com/eslint/rfcs).

I would want to see a more complete proposal, but I'm not convinced this should be part of core. This sounds useful, but I think it would better as a 3rd party tool. I understand this isn't exactly the same thing, but here's a similar tool: https://github.com/okonet/li

[2019-10-03 13:07] gabrieldrs commented on #12323
ok, I will work on the tests and fixing the error in the code base today and will open a pr with the changes :)

[2019-10-03 15:47] Archulan commented on #11512
Hello @nzakas, I'm willing to do the translation into Tamil language. Could you please guide me with this?

[2019-10-03 17:37] nzakas commented on #11512
@Archulan thanks for your interest. We're not yet ready to begin accepting translations. Please turn on notifications for this issue to stay up to date with our progress.

[2019-10-03 19:52] magnanimus1994 opened #12366 "Linting Errors Still Throw Exit Code 0"
**Context**
We're using a custom eslint plugin to run specific rules against browser automation tests with TestCafe.

**Commands Run**
[code]

**ESLint Version:** 6.5.1
**Node Version:** 8.9.4
**npm Version:** 5.6.0

**Parser**
babel-eslint@10.0.3

**Configuration**
[code]

**Expected outcome**
Should throw exit status 1

**Actual output**
[code]

[2019-10-03 22:17] mdjermanovic opened #12368 "New rule proposal: no-undef-default"
**Please describe what the rule should do:**

Disallows using global `undefined` as a default value in destructuring patterns.

Optionally, disallows the same for function parameters.

Has autofix for both (with some exceptions for params).

**What category of rule is this? (place an "X" next to just one item)**

[X] Suggests an alternate way of doing something (suggestion)

**Provide 2-3 code exa

[2019-10-03 23:19] g-plane commented on #12366
Thanks for this issue.

It seems that you were running ESLint by a custom JavaScript file you wrote, right?

[2019-10-04 02:18] magnanimus1994 commented on #12366
Yes. Here are the contents of the `index.js` of eslint plugin:

[code]

[2019-10-04 03:42] platinumazure commented on #12366
Hi @magnanimus1994, thanks for the issue.

I think this is as expected, based on the [GNU `find(1)` man page](http://man7.org/linux/man-pages/man1/find.1.html). Specifically, the Exit Status section notes that the exit status of the `find` command is zero if all files are processed successfully by `find`, nonzero otherwise. The `-exec` command also documents that it runs `command ; true` which ret

[2019-10-04 04:22] LJNeon opened #12369 "keyword-spacing else ghost default"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2019-10-04 06:34] g-plane commented on #12369
Thanks for this issue.

It seems that you've set `after: false` in your configuration, while you're reporting about the `before` option.

[2019-10-04 06:36] LJNeon commented on #12369
I set `before: false` in the configuration as well, yet it's being treated as `before: true` for the `else` statement, while working as intended for all other statements I've tried.

[2019-10-04 09:47] cherryblossom000 opened #12370 "curly: multi-or-nest option reports an error for a single-statment block with a semicolon on the next line"
**Tell us about your environment**
* **ESLint Version:** 6.5.1
* **Node Version:** 12.11.0
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2019-10-04 11:12] magnanimus1994 commented on #12366
Thank you, @platinumazure!  `find tests/ -name "*.js" ! -name tracking-verification.js -print0 | xargs -0 node_modules/.bin/eslint -c .eslintrc.json` works!

[2019-10-04 11:12] #12366 closed

[2019-10-04 13:23] cherryblossom000 commented on #12370
I think the issue is here:

https://github.com/eslint/eslint/blob/c47fa0dfc76211b3b0e5649c63acdd9606ce0eca/lib/rules/curly.js#L99-L104

`last` would be the semicolon, which is on a different line to the first token in
[code]

[2019-10-04 14:57] ExE-Boss opened #12373 "max-statements ignoreTopLevelFunctions doesn't work with UMD factories"
**Tell us about your environment**

* **Node Version:** v12.10.0
* **npm Version:** v6.11.3
* **[pnpm] Version:** v3.8.1
* **Local ESLint version:** v6.5.1 (Currently used)
* **Global ESLint version:** v6.5.1 (Installed with [pnpm])

[pnpm]: https://pnpm.js.org

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you d

[2019-10-04 15:29] platinumazure commented on #12369
I can reproduce ([demo][1]).

If I had to guess, it seems that we might be checking overrides and falling back to defaults incorrectly. The expected behavior would be: Check overrides for the given keyword and location; if not present, check the specified config option for the location; if that's not specified, fall back to the default option for the location. Instead, it looks like we're letting

[2019-10-04 15:41] ilyavolodin commented on #12368
Not sure this rises to the level of inclusion into the core. I haven't seen a code like that before. While I think the rule is valid, it seems to me that it only covers an extreme edge case.

[2019-10-04 15:49] platinumazure commented on #12368
Why do we need a new rule? Why not just add this to no-undef-init?

[2019-10-04 15:55] kaicataldo commented on #12373
I have verified the reported behavior (see demo [here](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG1heC1zdGF0ZW1lbnRzOiBbMiwgMTAsIHsgXCJpZ25vcmVUb3BMZXZlbEZ1bmN0aW9uc1wiOiB0cnVlIH1dICovXG5cbihmdW5jdGlvbiAoLyoqIEB0eXBlIHt0eXBlb2YgZ2xvYmFsVGhpc30gKi8gcm9vdCwgZmFjdG9yeSkge1xuXHQndXNlIHN0cmljdCc7XG5cblx0LyogZ2xvYmFsIGRlZmluZSAqL1xuXHRpZiAodHlwZW9mIGRlZmluZSA9PT0gJ2Z1bmN0aW9uJyAmJiBkZWZpbmUuYW1kK

[2019-10-04 15:57] ilyavolodin opened #12374 "New rule proposal: no-one-use-vars"
**Please describe what the rule should do:**
Prevent creation of variables that only used once in the code. In most cases, if the variable is only used once, it's easier to inline the value instead of polluting the scope.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing something (suggestion

[2019-10-04 15:59] ljharb commented on #12374
A common reason for doing this is to give you an easy/clear place to pause with the debugger, or to separate the stack trace location for "creating the value" from "using the value".

Additionally, intermediate variables can often add clarity even when entirely unnecessary.

[2019-10-04 16:03] kaicataldo commented on #12368
Agreed with @platinumazure. Would it make sense to add this to `no-undef-init` behind a new flag (that could be turned on by default in a future major version)? Feels like both checks (default values in destructured assignments and function parameters) could be behind one flag - maybe `enforceForDefaultValues`?

[2019-10-04 16:06] kaicataldo commented on #12370
Verified using our [demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwiY3VybHlcIjogWzIsIFwibXVsdGktb3ItbmVzdFwiXSAqL1xuXG5pZiAodHJ1ZSkgY29uc29sZS5sb2coJ3NvbWUgc3RhdGVtZW50JylcbjsoZnVuY3Rpb24gKCkge30pKCkiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjYsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnt9LCJlbnYiOnt9fX0=). Nice find! Definitely seems like we should

[2019-10-04 16:10] kaicataldo commented on #12374
I know I personally oftentimes use one-time-use intermediate variables for this reason. I'm not convinced it's worth enforcing a practice for this, though - it really feels like something that should be evaluated on a case-by-case basis to me. That being said, if others find value in this rule, I'm not opposed to it.

[2019-10-04 16:43] ExE-Boss commented on #12373
That sounds like the best option to me.

[2019-10-04 17:03] ilyavolodin commented on #12374
Agree. I don't think this rule is for everyone. This is more of testing the waters to see how others feel about it. Problem is, I keep finding myself needing to comment on PRs because people create variables for no good reason.

[2019-10-04 17:13] ncraley commented on #10587
I'm gonna take a look at this over the weekend and see if it's something I can tackle

[2019-10-04 18:26] mikecbrant commented on #11899
+1 (replying so I can watch issue)

[2019-10-04 18:32] jwalton commented on #11899
@mikecbrant If you just want to subscribe to an issue, at the very top of this page, on the right hand side, under "assignees", "labels", etc... there's a "subscribe" button that will notify you of updates to the issue:

![Subscribe Button](https://user-images.githubusercontent.com/1771003/66231066-8a93fe80-e6b3-11e9-8ede-6528818c12a7.png)

Instead of +1ing the issue, please give it a "thumbs up"

[2019-10-04 19:27] noelelias opened #12376 "Failed to load parser '@typescript-eslint/parser' declared in 'BaseConfig': Cannot find module 'typescript'"
**Tell us about your environment**

Environment Info:
[code]
[code]

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**
[code]

[code]

**What did you expect to happen?**
Initializing ESLINT and after that checking the code.

**What actually happened? Please include the a

[2019-10-04 19:40] kaicataldo commented on #12376
Can you share some more information about when did you encounter this error? Did it occur while running `eslint --init` or did it occur when you ran ESLint after running the initializer? It looks like the former, but I just want to confirm.

[2019-10-04 19:43] noelelias commented on #12376
It occurred while trying to do `sudo ./node_modules/.bin/eslint --init`

[2019-10-04 19:45] kaicataldo commented on #12376
Thanks, and is `typescript` in your node_modules directory? Do you mind sharing the output of running `npm ls typescript` in the root directory of this project (where package.json is)?

[2019-10-04 19:48] noelelias commented on #12376
I think it's not
[code]
but it's part of the devDependencies

[2019-10-04 20:08] kaicataldo commented on #12376
The initializer doesn't install `typescript` for you (see https://github.com/typescript-eslint/typescript-eslint/issues/828 for more details). Might be a silly question, but have you tried after running `npm install`?

[2019-10-04 20:41] noelelias commented on #12376
Ah okay I manually added typescript ... seems like that solved the problem
Thank you so much!

[2019-10-04 21:06] platinumazure commented on #11270
@kaicataldo Yes, I'll champion still. I'll poke in the team chat for another :+1: from the team :smile:

[2019-10-04 22:18] #12199 closed

[2019-10-05 00:14] cherryblossom000 commented on #12370
I fixed it in #12378.

[2019-10-05 19:25] kaicataldo commented on #12376
Glad you were able to solve it!

[2019-10-05 19:25] #12376 closed

[2019-10-05 21:00] dorian-marchal commented on #11270
+1 :+1:

[2019-10-05 21:19] platinumazure commented on #11270
Thanks @dorian-marchal... We're looking for a :+1: from a member of the ESLint team. (Please review our [consensus process](https://eslint.org/docs/maintainer-guide/issues#consensus) for more context.)

[2019-10-05 22:12] mdjermanovic opened #12381 "New rule proposal: no-unreachable-loop"
**Please describe what the rule should do:**

Disallows loops which body exits the loop in all paths and therefore can never even reach the test condition for the second time (or first time if it's `do-while`), meaning that it isn't actually a loop.

Targets `while`, `do-while`, `for`, `for-in` and `for-of` loops.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns

[2019-10-05 22:48] ljharb commented on #12381
For `while` or `do` or `for`, this makes sense to me - but `for..in` is occasionally (much more often historically) used like this:
[code]

The same could be true of `for..of` - both `for..in` and `for..of` are *not* inherently unnecessary here since they perform iterations.

[2019-10-05 23:54] mdjermanovic commented on #12381
That's correct, I think there should be options to turn off `for-in` and `for-of` checks for this reason.

An alternative for an user is to extract that code to a function (`hasEnumerableProperties` or `getFirstEnumerableName`) and eslint-disable just that one line, or instead use `Object.keys` over prototype chain in the function. Similar for `for-of`, an alternative could be to access the iterat

[2019-10-06 00:53] ljharb commented on #12381
Most configurable would be an option for each construct, regardless of the defaults.

[2019-10-06 10:31] vitaly-t commented on #11524
The solutions above do not work `123n` format for big numbers.

[2019-10-06 14:05] platinumazure commented on #11524
@vitaly-t We now have `ecmaVersion: 2020` support in espree, which should allow you to use the literal syntax.

[2019-10-06 22:04] jorgeruvalcaba commented on #11991
Could this be assigned to @imai0917? I was looking for something to take for Hacktober Fest but this is already fixed.

[2019-10-07 10:09] ccarcaci opened #12385 "no-process-env rule bypassed with require("process")"
**Tell us about your environment**

* Node version: v10.15.3
* npm version: v6.11.2
* ESLint version: v6.5.1

* Parser: default

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[code]

This is the content of my .eslintrc.js:
[code]

**What did you expect to happen?**
I am expecting an error or warning to the

[2019-10-07 13:50] andrewjrhill commented on #11974
As suggested by OliverSieweke, this following `"indent"` configuration is working for me:

[code]

[2019-10-07 20:53] mdjermanovic commented on #11270
I'm working on this.

[2019-10-07 23:45] tickct commented on #12369
I will take a look

[2019-10-08 00:28] kaicataldo commented on #12385
My only concern is that we can’t avoid false negatives here due to the limits of static analysis.. That being said, seems like the majority use case (`require`ing the `process` module and reading the `env` property) would be caught.

[2019-10-08 01:39] #11991 closed

[2019-10-08 04:44] ccarcaci commented on #12385
Thank you very much! :+1:

[2019-10-08 11:19] Ma-Wen commented on #11957
![image](https://user-images.githubusercontent.com/44662993/66391718-76783600-ea00-11e9-841c-7dfbda7ececb.png)
change
![image](https://user-images.githubusercontent.com/44662993/66391754-93146e00-ea00-11e9-864d-fbe5c34cffee.png)

[2019-10-08 14:09] #12152 closed

[2019-10-08 14:57] IGassmann opened #12390 "Add option to disable class-methods-use-this on inheritance"
**What rule do you want to change?** `class-methods-use-this`

**Does this change cause the rule to produce more or fewer warnings?** Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?** New option: `disableOnInheritance`.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?** It throws th

[2019-10-08 17:20] tomm1996 opened #12391 "Disallow lines-between-class-members deletes comments and docblocks between methods"
**Tell us about your environment**
Windows 10/git bash

* **ESLint Version:**
6.5.1
* **Node Version:**
v11.9.0
* **npm Version:**
6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint 9.0.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue,

[2019-10-08 18:43] mdjermanovic commented on #12391
Hi @tomm1996, thanks for the report!

Confirmed in the [Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwibGluZXMtYmV0d2Vlbi1jbGFzcy1tZW1iZXJzXCI6IFtcImVycm9yXCIsIFwibmV2ZXJcIl0gKi9cblxuY2xhc3MgTXlDbGFzcyB7XG4gICAgbXlNZXRob2QxIChwYXJhbSkge1xuICAgIH1cbiAgICBcbiAgICAvKiogXG4gICAgICogdGVzdCBjb21tZW50XG4gICAgICovXG4gICAgbXlNZXRob2QyIChwYXJhbSkge1xuICAgIH1cbn0iLCJvcHRpb25zIjp7InBhcnNlck9

[2019-10-08 19:25] mdjermanovic commented on #12391
After thinking a bit about this, I agree with [this comment](https://github.com/eslint/eslint/issues/11129#issuecomment-536327392) by @kaicataldo that all these rules should be one single rule.

Was checking how `padding-line-between-statements` works when there are comments between and it seems there can be problems, e.g., this situation: [Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyo

[2019-10-08 19:51] mdjermanovic commented on #11129
This seems like a good idea since the `lines-around-comment` can now clash with the other two rules, like in this [Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwicGFkZGluZy1saW5lLWJldHdlZW4tc3RhdGVtZW50c1wiOlxuICAgICBbXG4gICAgICAgIFwiZXJyb3JcIixcbiAgICAgICAgeyBcImJsYW5rTGluZVwiOiBcIm5ldmVyXCIsIFwicHJldlwiOiBcImNvbnN0XCIsIFwibmV4dFwiOiBcImxldFwiIH0sXG4gICAgIF1cbiovXG4vKiBlc2xpbnQg

[2019-10-08 20:07] mdjermanovic commented on #12390
Hi @IGassmann, thanks for the proposal!

Could the existing `exceptMethods` option help, it's designed for these situations:

It might be a more useful solution than disabling the rule on all methods in all derived classes just for a couple of exceptions.

[2019-10-08 20:11] IGassmann commented on #12390
The issue with `exceptMethods` is that you need to keep adding new methods. Sometimes, you're using a framework that is using base classes with implementable methods to offer functionality. In this case, it would be nice to have `disableOnInheritance`, so you don't need to add new methods every time you use a new object from this framework.

[2019-10-08 21:01] IGassmann commented on #12390
Unfortunately not, because rarely a framework would use a base name that could be caught by the regex into the method. At least, I have never stumbled upon one that does that.

BTW, the framework I'm mostly referring is NestJS. But I believe it also applies to Angular.

[2019-10-08 21:31] mdjermanovic commented on #12390
Thanks for the info!

The enhancement is open for evaluation, it needs a champion and 3 other :+1:  from the team to be accepted.

The option seems useful to avoid a long list in `exceptMethods`, but on the other hand looks like it would disable too much, i.e. limit the rule to check just base classes.

[2019-10-09 01:22] dspacejs commented on #12335
Instead of disabling the entire `no-useless-rename` rule as a workaround, you can just disable the check for destructuring:

[code]

[2019-10-09 03:09] zhanyuzhang opened #12392 "It doesn't work on vscode when upgrading from eslint5 to eslint6"
It doesn't work on vscode when upgrading from eslint5 to eslint6.

[2019-10-09 03:31] zhanyuzhang commented on #12392
@eslintbot  I use [vscode-eslint](https://github.com/microsoft/vscode-eslint) plugin to config eslint on vscode editor. When I install local eslint@5.16.0 , it work perfectly , but it doesn't work when upgrading to eslint@6.4.0 , the `.eslintrc.js`'s content as follow:
[code]

[2019-10-09 05:02] theengineear opened #12393 "The "sort-imports" rule does not handle module-specifier-only imports."
**Tell us about your environment**

[code]

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[code]

**What did you expect to happen?**

I expected `eslint` to _warn_ me that my imports were not alphabeti

[2019-10-09 06:32] g-plane commented on #12392
What problem have you encountered? Also, can you try running ESLint at CLI? If it works at CLI, this problem may be from "vscode-eslint".

[2019-10-09 06:38] zhanyuzhang commented on #12392
@g-plane It can run at cli.  Only not working on vscode, I have newed an issue on   "vscode-eslint" repo. Thanks.

[2019-10-09 06:42] g-plane commented on #12392
Closing now, since it's not an issue from ESLint itself.

[2019-10-09 06:42] #12392 closed

[2019-10-09 06:48] g-plane commented on #12393
Thanks for this report.

This is an expected behavior. The `sort-imports` rule doesn't check the import source.

[2019-10-09 07:02] theengineear commented on #12393
@g-plane , I'm surprised that this is the expected behavior. Should I open up a _change_ ticket?

[2019-10-09 07:07] theengineear commented on #12393
At a minimum, maybe an additional line could be added to the expected behavior block:

[code]

[2019-10-09 07:15] g-plane commented on #12393
Actually, different imports order may cause different behaviors. For example,

[code]

[code]

If we import `a.js` before `b.js` like this:

[code]

Console will output:

[code]

However,

[code]

Console will output:

[code]

[2019-10-09 07:23] theengineear commented on #12393
Yep. That's of course true and why you wouldn't want to `--fix` this. I'm not refuting any of that. However, it just seems like `eslint` is being inconsistent here. I.e.,

NOT OK
[code]

OK
[code]

[2019-10-09 07:31] g-plane commented on #12393
That's a limitation of static analysis, and ESLint isn't able to know whether a module has side effects or not.

[2019-10-09 07:37] theengineear commented on #12393
OK, so if you can't know if there are side effects, why do you correct the following lines of code?

[code]

Just because you have a named import doesn't mean the module you're importing from doesn't have side effects, right?

The point of sorting your imports is to decrease conflicts in version control. I don't understand why `eslint` would not sort my imports when I've specifically turned on the

[2019-10-09 07:38] theengineear commented on #12393
Again. I asked `eslint` to make sure my imports are sorted. I'd expect `eslint` to tell me when they're not.

[2019-10-09 14:18] viT-1 commented on #12281
@webMasterMrBin Removing node_modules & reinstall not helped =(

[2019-10-09 14:33] platinumazure commented on #12281
@viT-1 Please open a new issue and fill out our issue template. Thanks!

[2019-10-09 14:41] kaicataldo commented on #12222
This looks like a bug to me - reopening so we can evaluate.

[2019-10-09 20:53] kbruneel opened #12396 "FOSSA license checker detects LGPL"
**The version of ESLint you are using.**
Latest

**The problem you want to solve.**
FOSSA license checker detects LGPL in Makefile.js

**Your take on the correct solution to problem.**
I think it only complains because the string LGPL is present in Makefile.js, not because an LGPL dependency is actually used.

Maybe removing this string is possible because the reason the string is their was resolv

[2019-10-10 07:20] viT-1 opened #12398 "overrides extends not working"
**Tell us about your environment**
ESLint Version: 6.5.1
Node Version: 10.16.1
npm Version: 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**
<details>
<summary>Configuration</summary>
[code]
</details>

[code]

**What did you expect to happen?**
Eslint should give me plugin:jest/all rules errors on *.spec.ts fil

[2019-10-10 07:22] viT-1 commented on #12281
@platinumazure
Already! https://github.com/eslint/eslint/issues/12398

[2019-10-10 07:38] zhangyuang opened #12399 "eslint will timeout and stack trace when node_modules have too many files"
What version of this package are you using?
eslint 5.4.0
What operating system, Node.js, and npm version?
node v10.6.0
What happened?
my folder have many child folders, and have many node_modules, when i run standard,after a while, it timeout and track trace although it not test node_modules。 when i delete all node_modules, it can be normal
What did you expect to happen?
don't timeout
![image](htt

[2019-10-10 09:31] g-plane commented on #12399
Thanks for this issue.

By default, ESLint will ignore the `node_modules` directory. Can you show us your ESLint configuration and your `.eslintignore`? Thanks.

[2019-10-10 09:34] zhangyuang commented on #12399
i use standardjs, it use eslint, i write standard ignore in package.json
here is my repo https://github.com/ykfe/egg-react-ssr
if all example folders install node_modules, when i run standard, it will be stack trace

[2019-10-10 09:42] g-plane commented on #12399
You may try:

[code]

Ref: https://github.com/standard/standard-engine/blob/f2f766e64a6f4b18c2d07e150ba0fbccc56bc0ca/index.js#L22

[2019-10-10 10:47] tomm1996 commented on #11129
So the fix would be to conflate `padding-line-around-statements`, `lines-around-comment` and `lines-between-class-members` into a more configurable `padding-lines`?

[2019-10-10 11:06] viT-1 commented on #12398
3. Source code of ./src/VueApp/VueApp.spec.ts
[code]
ESLint should give me warning from 'extends':['plugin:jest/all'] about describe rule

[2019-10-10 11:13] g-plane commented on #12398
You should extend from that preset (It may be `plugin:jest/all` for your case); otherwise ESLint won't read that preset and check your code.

[2019-10-10 11:17] viT-1 commented on #12398
@g-plane Why I can't doing this in
[code]

[2019-10-10 11:25] viT-1 commented on #12398
This mask solved my issue, sorry.
[code]

[2019-10-10 16:59] tnrich commented on #12249
Hey there, sorry to hijack this thread but I'm dealing with a similar issue:

Here's the situation:
Due to changes in v9, lint-staged now passes a list of all changed files to eslint (instead of a configurable subset), some of which I do not want to be linted (hence I ignore them with my .eslintignore). Eslint throws warnings that I am trying to lint ignored files.

Is there a way for eslint to su

[2019-10-10 17:26] tnrich commented on #12206
How long does the RFC process usually take? Is there any more recent movement on this?

I had made an issue in lint-staged (https://github.com/okonet/lint-staged/issues/711) but I think I'll close it in favor for this issue so long as it is actually moving forward :)

Thanks!

[2019-10-10 17:35] fabb commented on #12206
Here‘s the description of the process: https://github.com/eslint/rfcs/blob/master/README.md#the-rfc-approval-process

[2019-10-11 04:17] yemb opened #12403 "new Configuration option to specify rules directory"
**The version of ESLint you are using.**
5.16.0

**The problem you want to solve.**
When i define custom rules at runtime and going to run them, i have to using the `--rulesdir `option to specify the location。
[code]
I used to use tslint to lint my code, there is a option `rulesDirectory`, i can specify rules directory by adding this option in the `tslint.json`
The way I expected:
[code]

**Are yo

[2019-10-11 06:49] samrae7 commented on #12163
@mdjermanovic do you still want to do the PR for this? If not I could take it on

[2019-10-11 07:12] samrae7 commented on #12098
I would like to make the doc change

[2019-10-11 07:45] helmbold opened #12404 "Show release dates or release versions of rules in documentation"
After configuring an eslint rule set there is no simple way to find out whether new useful rules were released and should be added to the own configuration.

Therefore I suggest to add the date or version number when a certain rule was released the first time in the [overview](https://eslint.org/docs/rules/) and on each detail page (like [for-direction](https://eslint.org/docs/rules/for-direction)

[2019-10-11 07:48] VadymBoguslavsky commented on #12249
Just change your `--max-warnings=0` to `--quiet`. It will suppress all the warnings you have and show only errors.
As i understood, there is no other way to fix it.

[2019-10-11 08:51] g-plane commented on #12404
Thanks for this issue.

First, out release note will introduce new rules when new version of ESLint was released, so you can read it to know about changes of ESLint core rules.
Second, each release of ESLint contains a Git tag. With version control, you can check the history of a rule.

[2019-10-11 13:51] eafomi4ev opened #12405 "SVG with "viewBox" in .vue with pug"
I have a vue component. In the component's template I use a pug. When I write svg(viewBox="0 0 500 500"), eslint gives an error "All attributes must be written in lower case". How can I fix this?

"eslint": "^5.16.0",
"eslint-loader": "^3.0.2",
"eslint-plugin-vue": "^5.2.3",

No one answered me in https://gitter.im/eslint/eslint, sorry for asking there

[2019-10-11 14:29] g-plane commented on #12405
Thanks for this issue.

It seems that this issue is related to [`eslint-plugin-vue`](https://github.com/vuejs/eslint-plugin-vue), so we advise you to open issue at their repository.

[2019-10-11 14:42] silverwind commented on #12269
I do see value in a rule that warns if the return value of non-mutating `Array.prototype` functions is not consumed.

I often see `.map` used in the wild where the code would ignore the return value in which case `.map` could be replaced with a `.forEach` for the same outcome (and probably better performance).

[2019-10-11 16:44] kaicataldo commented on #12269
@silverwind I like that idea, as long as we can find a way to do so without false negatives/positives. Seems like a nice rule to pair with [`array-callback-return`](https://eslint.org/docs/rules/array-callback-return).

[2019-10-11 17:33] ljharb commented on #12269
I'm pretty sure performance would be largely identical.

[2019-10-11 19:31] mdjermanovic commented on #12098
@samrae7 Thanks, a PR to fix the documentation is welcome!

[2019-10-11 19:39] mdjermanovic commented on #12098
Marking as accepted based on this [Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tdW5uZWVkZWQtdGVybmFyeTogXCJlcnJvclwiKi9cblxudmFyIGEgPSB4ID09PSAyID8gdHJ1ZSA6IGZhbHNlO1xuXG52YXIgYSA9IHggPyB0cnVlIDogZmFsc2U7XG5cbnZhciBhID0gZih4ID8geCA6IDEpOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6NSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e319

[2019-10-11 19:44] mdjermanovic commented on #12163
@samrae7 feel free to claim this. PR is welcome, thanks!

[2019-10-11 20:15] tnrich commented on #12249
@VadymBoguslavsky that won't work for me unfortunately. Luckily it looks like there has been an RFC put in to be able to avoid this behavior: https://github.com/eslint/eslint/issues/12206

[2019-10-12 00:13] fabiospampinato opened #12408 "no-useless-escape parses regexes incorrectly"
**Tell us about your environment**

* **ESLint Version:** v6.5.1
* **Node Version:** v10.15.0
* **npm Version:** v6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

@typescript-eslint/parser

**Please show your full configuration:**

This should reproduce it:

[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used

[2019-10-12 00:44] mdjermanovic commented on #12408
Hi @fabiospampinato, thanks for the issue!

I can't reproduce the error with the default parser (espree) in the demo - [Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVzZWxlc3MtZXNjYXBlOiBlcnJvciAqL1xuXG52YXIgZm9vID0gL1xcLy9nIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e319fQ==)

[2019-10-12 08:16] samrae7 commented on #12163
@mdjermanovic thank you. I will work on it over the weekend

[2019-10-12 08:42] fabiospampinato commented on #12408
@mdjermanovic You're absolutely right, that's not a slash, '/' !== '∕' 🤦‍♂️ Thanks!

[2019-10-12 08:42] #12408 closed

[2019-10-12 14:24] yordis commented on #3458
I made it work closer to where `eslint` is ignoring the module resolution, this works for all configurations, no just for `plugins`

[code]

[2019-10-12 22:18] #12228 closed

[2019-10-13 01:15] ilyavolodin commented on #12404
@helmbold If you scroll down on the page that you linked for `for-direction` rule, at the bottom, you will see the section [Version](https://eslint.org/docs/rules/for-direction#version) which contains the version of ESLint when a given rule was added. We don't list that information in the rules index page, but I think the page will become very cluttered if we did.

[2019-10-13 03:46] platinumazure commented on #12362
Per [TSC discussion on October 10th](https://github.com/eslint/tsc-meetings/blob/master/notes/2019/2019-10-10.md), we are trialing a 4-week release cadence for the next couple of months. Separately, we will be trialing canary releases in the near future as well.

I am closing this issue as we are not going to release this weekend. Our next planned release will be around October 25-26 (i.e., two we

[2019-10-13 03:46] #12362 closed

[2019-10-13 03:46] eslint[bot] opened #12413 "Scheduled release for October 25th, 2019"
The scheduled release on Friday, October 25th, 2019 is assigned to:

* @btmills
* @platinumazure

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelin

[2019-10-13 10:00] mysticatea commented on #12206
I couldn't reproduce it. We should need `--no-ignore` option to ignore `.eslintignore` even if we give explicitly path to a file.

[code]

[2019-10-13 16:58] OlegBrony opened #12415 "the rule no-multi-spaces has prop ImportDeclaration, but no ExportDeclaration;"
I've found a problem about multi spacing. If you want to make imports look like this
![image](https://user-images.githubusercontent.com/19880334/66719062-aace6680-edf3-11e9-9fda-84cec7fccb99.png)
you can write something like
[code]
but it's not working on exporting files;
![image](https://user-images.githubusercontent.com/19880334/66719073-d94c4180-edf3-11e9-8153-249c13defc74.png)

could you pleas

[2019-10-13 18:25] fabiospampinato opened #12416 "[array-bracket-newline] doesn't handle inline comments properly"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.15.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

[Here](https://pastebin.com/Ni7HyKHL) it is, just uncomment the "array-bracket-newline" rule.

**What did you do? Please include the actual source co

[2019-10-13 18:31] fabiospampinato opened #12417 "[arrow-body-style] add exception for class arrow methods"
**What rule do you want to change?**

`arrow-body-style`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option, perhaps enabled by default.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It says th

[2019-10-13 18:38] fabiospampinato opened #12418 "[func-call-spacing] add exception for single-character functions"
**What rule do you want to change?**

`func-call-spacing`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option, perhaps enabled by default.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It compla

[2019-10-13 18:45] fabiospampinato opened #12419 "[function-call-argument-newline] doesn't handle newlines inside arguments properly"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.15.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

[Here](https://pastebin.com/Ni7HyKHL) it is, just uncomment the "function-call-argument-newline" rule.

**What did you do? Please include the actual

[2019-10-13 18:51] fabiospampinato opened #12420 "[lines-between-class-members] add exception for non-method members"
**What rule do you want to change?**

`lines-between-class-members`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option, perhaps enabled by default.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

[2019-10-13 18:59] fabiospampinato opened #12421 "[multiline-ternary] doesn't handle newlines properly"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.15.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

[Here](https://pastebin.com/Ni7HyKHL) it is, just uncomment the "multiline-ternary" rule.

**What did you do? Please include the actual source code c

[2019-10-13 19:03] fabiospampinato opened #12422 "[object-curly-spacing] add exception for imports and destructuring"
**What rule do you want to change?**

`object-curly-spacing`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New options.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It handles object literals, objec

[2019-10-13 19:08] fabiospampinato opened #12423 "[require-atomic-updates] has too many false positives"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.15.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

[Here](https://pastebin.com/Ni7HyKHL) it is, just uncomment the "require-atomic-updates" rule.

**What did you do? Please include the actual source c

[2019-10-13 19:12] fabiospampinato opened #12424 "[space-in-parens] add some options for handling common exception cases"
**What rule do you want to change?**

`space-in-parens`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New options.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It doesn't like the lack of spacing in

[2019-10-13 20:46] mdjermanovic commented on #12419
This might be a duplicate of #12123

[2019-10-14 02:17] fisker opened #12425 "Can't get plugin rules added by `cli.addPlugin`"
**Tell us about your environment**

* **ESLint Version:** 6.5.1
* **Node Version:** 10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

[code]

I can't get the plugin rules, Is this by design or a bug?

----

quick reproduction

[code]

[2019-10-14 02:19] fisker commented on #12425
Maybe related to https://github.com/eslint/eslint/issues/11871

[2019-10-14 03:04] seetd commented on #12122
Sorry I started looking into the issue but something crop up that I had to attend. Once I get that competed I will come back to this. I thought it will be good to drop a note here in case someone else wants to pick this up before that.

[2019-10-14 03:35] Mossop commented on #12423
I'm seeing similar issues, maybe this is an issue with the TypeScript parser?

I get the error flagged just assigning an enum: https://github.com/FractalBrew/media-metadata/blob/master/src/ifd.ts#L244

[2019-10-14 06:40] fabb commented on #12206
you are right. i seem to have had some flaw in my setup when i tested this. well this is a bit embarassing for me. i'm closing this issue now.

[2019-10-14 06:40] #12206 closed

[2019-10-14 08:50] Haroenv commented on #12319
Note that simply changing the eslintrc.js won't work if you have any node plugins / configs written as eslintrc.js this error still happens, and you can stay on node v12.10.0 until a solution has been found for this.

[2019-10-14 09:34] mdjermanovic commented on #12424
Hi @fabiospampinato, thanks for the enhancement proposal!

There is already the `exceptions` option to disallow spaces in some cases when the main option is `always`:

[code]

[Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgc3BhY2UtaW4tcGFyZW5zOiBbXCJlcnJvclwiLCBcImFsd2F5c1wiLCB7IFwiZXhjZXB0aW9uc1wiOiBbXCJ7fVwiXSB9XSovXG5cbmNvbnN0IEZvbyA9ICh7IGlzRm9vIH0pID0+IHt9XG5cbmNvbnN0IGJhc

[2019-10-14 10:05] mdjermanovic commented on #12417
Hi @fabiospampinato,

I think this is a good idea. However, per the team's [policy around experimental features](https://github.com/eslint/eslint#what-about-experimental-features) ESLint's core rules don't support stage 3 features.

We'd be happy to discuss this enhancement if and when the syntax advances to stage 4.

[2019-10-14 10:26] mdjermanovic commented on #12420
Thanks for the issue!

Per the team's [policy around experimental features](https://github.com/eslint/eslint#what-about-experimental-features) ESLint's core rules don't support stage 3 features.

I agree that the rule should have new options if the syntax advances to stage 4, this should be definitely discussed when that happens.

[2019-10-14 11:23] golopot opened #12427 "Indent for binary operators"
**What rule do you want to change?**
indent

**Does this change cause the rule to produce more or fewer warnings?**
more

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option to check indent in expressions containing a binary operator.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code

[2019-10-14 11:37] fabiospampinato commented on #12424
@mdjermanovic That actually doesn't really work for me, you wrote this:

[code]

While I want this (notice che space before the object destructuring):

[code]

By enabling that rule I get about 150 extra errors, and I doubt I've been inconsistent 150 times with my own code style.

A few more code snippets that are not handled correctly/as I want to:

[code]

[2019-10-14 12:08] domenic opened #12428 "[no-extra-parens] Allow an exception for (new X()).y"
**What rule do you want to change?** no-extra-parens

**Does this change cause the rule to produce more or fewer warnings?** Fewer, if configured

**How will the change be implemented? (New option, new default behavior, etc.)?** New option, similar to the existing ones like returnAssign, nestedBinaryExpressions, etc.

**Please provide some example code that this change will affect:**

[code]

**Wh

[2019-10-14 12:46] mdjermanovic commented on #12416
This is related to the `consistent` option only.

[Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgYXJyYXktYnJhY2tldC1uZXdsaW5lOiBbXCJlcnJvclwiLCBcImNvbnNpc3RlbnRcIl0qL1xuXG5jb25zdCBhc2QgPSBbIC8vIGNvbW1lbnRcbiAgMTIzLFxuICAxMjNcbl07Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjo2LCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19)

[cod

[2019-10-14 13:01] fabiospampinato commented on #12416
Yeah I didn't even know that. Btw this might be a good idea for discovering new bugs, if something that passes an "always" or "never" rule doesn't pass a "consistent" rule there's probably an issue.

[2019-10-14 13:07] fabiospampinato commented on #12419
I'm closing this then.

[2019-10-14 13:07] #12419 closed

[2019-10-14 13:08] mdjermanovic commented on #12424
Thanks!

Could you please provide more details about the proposal? What options would you expect this rule to have and how exactly would the rule be configured to not report errors on these particular examples?

[2019-10-14 13:08] fabiospampinato commented on #12123
A few more test cases were this fails is when passing a dependency array to a React hook:

[code]

[2019-10-14 13:26] fabiospampinato commented on #12424
Yes, I'm not exactly sure how this should be resolved though and how the current "exceptions" option really works, but roughly:

- If some functions have a single argument of a particular type I don't want any spaces, so for instance:

[code]

  - Perhaps there could be an option for adding exceptions for specific functions and for specific arguments passed to that functions, like:

[code]

- If i

[2019-10-14 13:31] fabiospampinato commented on #12424
Actually I would expect to be able to write something like this too:

[code]

So perhaps a better definition would be: if the first token in a line is an ending token I don't care about spaces between it and subsequent consecutive ending tokens.

[2019-10-14 13:58] JakeRowsell89 commented on #12423
It may be related to `await` as opposed to TypeScript, could it be a duplicate of this: https://github.com/eslint/eslint/issues/11954

[2019-10-14 14:31] helmbold commented on #12404
For me the additional version would be worth it, but I see your point with cluttering this overview. My use case is, that I want to check from time to time if I should add new rules to my existing rule set. It would be annoying to open every single rule page to check this.

Would it be possible to add a filter to [overview](https://eslint.org/docs/rules/) page? Like: "Show only rules from Version

[2019-10-14 14:32] fabiospampinato commented on #3458
I spent the past few days making my own ESLint configuration, which I'd like to now share across all my projects without polluting their listed dependencies and I've just stumbled upon this issue.

I don't have a general solution to all the hypothetical issues mentioned here, but I have a few ideas I think that could be implemented pretty easily which would solve a useful subset of this issue, for

[2019-10-14 14:32] platinumazure commented on #11899
Per the [October 10 TSC Meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2019/2019-10-10.md#require-atomic-updates-false-positive), we intend to take the following actions:

1. Update our semver policy to allow relaxing `eslint:recommended` in a semver-minor release (currently all changes to `eslint:recommended` are semver-major).
1. Remove `require-atomic-updates` from `eslint:re

[2019-10-14 14:37] platinumazure commented on #12423
I'm going to go ahead and close this as a duplicate of #11899. Please follow that issue for updates. Thanks!

[2019-10-14 14:37] #12423 closed

[2019-10-14 14:59] nzakas commented on #12428
Thanks for reaching out. It does seem like we should have added an option for backwards compatibility when this rule was changed.

[2019-10-14 15:30] Morgul commented on #11899
@platinumazure Thank you for the update, and thank you to the TSC for making these changes!

[2019-10-14 15:53] mdjermanovic commented on #12428
I'm willing to champion and work on this.

[2019-10-14 16:37] nchutchind opened #12430 "Object-Curly-Spacing has a NullReferenceError potential"
* ESLint 6.5.1
* Node 11.14.0
* npm 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint, @typescript-eslint/parser, vue-eslint-parser

**What did you expect to happen?**
I expected my file to get linted.

**What actually happened? Please include the actual, raw output from ESLint.**
I get a null reference error in the ESLint output.

[code]

**Are you willing to submi

[2019-10-14 17:00] mdjermanovic commented on #12416
The proposed fix is to change the logic that applies only when the option is `consistent`.

Instead of checking for a linebreak between `[` and the first following token (incl. comments), the fixed code would check for a linebreak between `[` and the first non-comment token.

I can't make an example where this change would produce new (potentially unwanted) warnings on an array that doesn't have a

[2019-10-14 17:33] brenfwd opened #12432 ""key-spacing" tab alignment"
This revisits issues #1727 and #9523.

**What rule do you want to change?**
key-spacing

**Does this change cause the rule to produce more or fewer warnings?**
The proposed change will cause the rule to produce fewer warnings because it will allow the rule to accept tabs as indentation for alignment.

**How will the change be implemented? (New option, new default behavior, etc.)?**
An additional o

[2019-10-14 20:15] kaicataldo commented on #12428
This has now been accepted.

[2019-10-14 21:13] fabiospampinato commented on #12417
Actually except if they have an empty body, then I want them inline.

[2019-10-14 22:30] fabiospampinato opened #12433 "Support for negated globs"
**The version of ESLint you are using.**

v6.5.1

**The problem you want to solve.**

I think the `files` property under `overrides` should support negated globs, this would allow us to write very clean configurations in some scenarios, like:

[code]

**Are you willing to submit a pull request to implement this change?**

If the change doesn't require too much time sure.

[2019-10-14 22:38] fabiospampinato commented on #12433
Actually I don't need this anymore, it looks like eslint is using node-glob (and this should be mentioned somewhere, if it is I wasn't able to find it), so I can write by glob like this: `"src/!(lib)/**/*"`.

[2019-10-14 23:02] fabiospampinato opened #12434 "[func-names] add an exception for IIFEs"
**What rule do you want to change?**

`func-names`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It complains that the IIFE doesn't have a na

[2019-10-14 23:48] mdjermanovic commented on #12428
Just to confirm the details of this enhancement, if I understand correctly the following should be done.

The option applies only to the change made in v6.5.0 (part of #12302):

[code]

Other cases of unnecessary parens around `new X()` that were warnings in previous versions will remain warnings, regardless of how the option is set. For example:

[code]

The name of the option could be `enforceFo

[2019-10-15 01:27] mysticatea commented on #12428
I have removed `accepted` label because there are three upvotes but there is a downvote from the team. This enhancement is a mixed reception and needs consensus.

My stance is neutral. It's hard for me to agree with the motivation to add the option because recent languages have the same precedence. But I know C++ is different.

[2019-10-15 01:33] ronkorving commented on #11899
@platinumazure Thanks for the progress, that's great. May I ask why reverting the change to the `require-atomic-updates` rule was not under consideration? After that, the next step would be to fix it, and only then push that change. It's nice that `eslint:recommended` is "fixed", but it's still a broken rule.

[2019-10-15 02:02] platinumazure commented on #12428
@mysticatea Michael is no longer on the team (see README). So his downvote is a community opinion, no more.

Would you like to :-1: this issue?

[2019-10-15 02:07] mysticatea commented on #12428
Ah, [Alumni](https://eslint.org/team#alumni) isn't counted as the team's votes? In that case, I'm OK with accepted.

[2019-10-15 02:30] 7rulnik commented on #3458
@octogonz  I tried your's monkey-patch with yarn Plug'n'Play and got different allocation errors. For example:

[code]

[2019-10-15 03:47] platinumazure commented on #11899
It just wasn't on the meeting agenda, that's all. No ulterior motive here, as far as I know. Maybe @mysticatea can speak to what benefits the most recent change to the rule brought and can offer thoughts on whether reverting that change could make sense.

[2019-10-15 06:00] domenic commented on #12428
This makes sense to me. I think it's a reasonable question what the default should be (and thus what the name would be) but I'll leave this to the ESLint team.

[2019-10-15 06:29] octogonz commented on #3458
@7rulnik if you are able to share a repro branch, I can take a look at it. Not sure why you're getting a C++ call stack, though. (Also, make sure you are using an LTS version of NodeJS.)

[2019-10-15 06:34] mysticatea commented on #12425
Thank you for your report.

That's expected because `addPlugin()` actually just adds the implementation of a plugin. You still need `{plugins: ['unicorn']}` if you don't have `.eslintrc.*` files. We cannot use the rules of the plugins that the configuration doesn't have.

On the other hand, it looks like a bug because

[code]

was false. I expected true in this case.

[2019-10-15 06:36] mysticatea commented on #12425
As a side note, I'm proposing to remove `addPlugin()` method in favor of a constructor option in RFC40.

[2019-10-15 08:34] salik1992 opened #12435 "Comma-dangle only-multiline does not report dangling comma after spread operator"
**Tell us about your environment**

ESLint version: v6.5.1
Node version: v12.11.1
npm version: v6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to

[2019-10-15 10:19] fisker commented on #12425
The reason I check this, is because I want run plugin against plugin source, so I add cli to do this https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/test/lint/lint.js , I want make sure the plugin is loaded, but get a false result.

According to the comments above, I'm not doing it right.

I should point `eslint-plugin-unicorn` to local file and use `.eslintrc.*`, because we can'

[2019-10-15 10:57] mysticatea commented on #12425
In that case, you can use `getRules()` after the call of `executeOnFiles()` method for now.

The `getRules()` method returns the core rules and the rules of the plugins that the last call of `executeOnFiles()` or `executeOnText()` used.

Because, internally, the configuration object stores the loaded plugins that the config used. ESLint doesn't load plugins until configurations are determined and

[2019-10-15 11:07] fisker commented on #12425
I remember I tried call this after `executeOnFiles`, but also got false. anyway will try later, not on laptop now

[2019-10-15 12:46] julien-f opened #12437 "False positive with no-obj-calls"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[code]

**What did you expect to happen?

[2019-10-15 14:13] ab-pm opened #12438 "[no-tabs] allow exceptions"
**What rule do you want to change?**

`no-tabs` (currently on eslint 6.5.1)

**Does this change cause the rule to produce more or fewer warnings?**

fewer warnings

**How will the change be implemented?**

New option.

**Please provide some example code that this change will affect:**

[code]
[code]

[code]

**What does the rule currently do for this code?**

It complains about `Unexpected tab cha

[2019-10-15 14:25] ab-pm opened #12439 "[arrow-parens] separate options for async functions"
**What rule do you want to change?**

`arrow-parens` (currently on eslint 6.5.1).

**Does this change cause the rule to produce more or fewer warnings?**

fewer warnings.

**How will the change be implemented?**

New option / different option layout.

**Please provide some example code that this change will affect:**

[code]
[code]

**What does the rule currently do for this code?**

It either acc

[2019-10-15 14:52] platinumazure commented on #12438
Hi @ab-pm, thanks for this issue.

Have you looked at the [`indent` rule](https://eslint.org/docs/rules/indent)? That should allow you to enforce spaces for indentation and is probably what you need.

I agree this rule is pretty strict, but before we enhance it, I just want to see if `indent` gives you what you need.

[2019-10-15 16:10] fisker commented on #12425
Tested

[code]

[2019-10-15 17:46] platinumazure commented on #12319
Not speaking for the team here, this is just my own 2 cents.

When considering supported file types, module types, runtimes, etc., I think ESLint needs to consider those at two different levels:

* Code being linted/processed
* Configuration

ESLint has a philosophy of trying not to favor one runtime over others. I understand that philosophy as applying to "Code being linted/processed". We have fe

[2019-10-15 17:54] silverwind commented on #12269
@ljharb `forEach` seems slightly faster for me:

[code]

[2019-10-15 17:58] ljharb commented on #12269
Nothing is fast with new Array, even when filled. Try `Array.from({ length: 3e7 })`

[2019-10-15 19:01] silverwind commented on #12269
Comes out about the same with that `Array.from` for me.

Anyways, the new rule could be called something like `array-consume-return-value` and apply to the same methods like [array-callback-return](https://eslint.org/docs/rules/array-callback-return) minus `Array.prototype.sort` because that one mutates.

[2019-10-15 19:52] ljharb commented on #12269
(That rule is also missing flat and flatMap, ftr)

[2019-10-15 20:41] mdjermanovic commented on #12437
Hi @julien-f , thanks for the report!

Confirmed, and there are other false positives: [Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLW9iai1jYWxsczogW1wiZXJyb3JcIl0gKi9cblxudmFyIGNvbnN0cnVjdCA9IHR5cGVvZiBSZWZsZWN0ICE9PSBcInVuZGVmaW5lZFwiID8gUmVmbGVjdC5jb25zdHJ1Y3QgOiB1bmRlZmluZWQ7XG5jb25zdHJ1Y3QoKTtcblxudmFyIGEgPSBSZWZsZWN0ID8gMSA6IDI7XG5hKCk7XG5cbnZhciBiID0gdHJ1ZSA/IDEgOi

[2019-10-15 20:41] kaicataldo commented on #12269
@silverwind Would you like to make a new issue with a formal proposal?

[2019-10-15 21:01] kaicataldo commented on #12439
@ab-pm This generally sounds like a reasonable request, but we ask that you please feel out the issue template as requested. Thank you!

[2019-10-15 21:10] kaicataldo commented on #12435
Thanks for the issue. I'm a bit confused, because this is invalid syntax and should be a parsing error, which is why the rule doesn't handle it. Seems like babel-eslint is not throwing an error here. Seems like it would be worth making an issue in the babel or babesl-eslint repos if one doesn't exist already (or it hasn't been fixed in a newer version than the one you're using).

Here's what happe

[2019-10-15 21:10] #12435 closed

[2019-10-15 21:33] kaicataldo commented on #12434
Can you expand on this? The purpose of the rule is to enforce named functions for the purposes of debugging. If this isn't desired, could it better to just turn the rule off?

[2019-10-15 21:39] kaicataldo commented on #12432
I share the same reservations outlined in [this comment](https://github.com/eslint/eslint/issues/1727#issuecomment-71407517). Could you go into more detail how this proposal would handle that?

[2019-10-15 21:41] kaicataldo commented on #12416
Agreed that this seems like a bug.

[2019-10-15 21:43] kaicataldo commented on #12430
As commented [here](https://github.com/eslint/eslint/pull/12431#issuecomment-542042893), this is caused by a bug in 3rd party parsers.

[2019-10-15 21:49] fabiospampinato commented on #12434
These rules are sometimes too simplistic. I like my functions to be named, but naming an IIFE litters the code more than anything in my opinion.

[2019-10-15 22:21] mdjermanovic commented on #12416
I'm working on this.

[2019-10-15 22:30] kaicataldo commented on #12424
I'm 👎 on this proposal as it's a highly complicated, niche style. This seems like a great candidate for implement your own rule using https://github.com/not-an-aardvark/eslint-rule-composer.

[2019-10-15 22:34] kaicataldo commented on #12434
Understood. I'm not sure I'm convinced it's worth adding the extra complexity here, since the motivation for the rule is to improve debugging. If that's something you don't care about, it seems like a better option to just disable the rule.

[2019-10-15 22:36] fabiospampinato commented on #12424
@kaicataldo I'm not sure it's that niche of a style. Within the set of people who like spaces between their parenthesis I doubt those that are using jQuery prefer to call it like so: `$( '.foo' )`  (or even `$ ( '.foo' )`), that looks kind of weird to me.

I agree that the configuration might get somewhat complicated, but the alternative for those who need this is just not using the rule at all, p

[2019-10-15 22:39] kaicataldo commented on #12424
Mind sharing some examples of this code style? We do try to support popular styles in our core rules.

I've worked in code bases that require spaces in parens and ones that disallow it but I've never encountered a code base that required different rules based on what function was being called, but maybe I've just happened to miss it.

[2019-10-15 22:41] fabiospampinato commented on #12434
Other than for an improved debugging experience I'm using this rule to keep my code more consistent, I think ESLint should help with that too. If I can't configure it to follow my coding style it may be more of an annoyance than an helpful tool for me.

[2019-10-15 22:45] kaicataldo commented on #12434
We understand that the core rules won't be sufficient for all use cases, which is why ESLint is pluggable. Let's hear what others have to say, but in the event this doesn't get accepted, you can always create your own rule (using https://github.com/not-an-aardvark/eslint-rule-composer can simplify this quite a bit).

[2019-10-15 22:47] kaicataldo commented on #12427
I believe this is a dupe of https://github.com/eslint/eslint/issues/12248, unless you're proposing we only cover the case of expressions with binary operators.

[2019-10-15 22:48] fabiospampinato commented on #12424
Were those codebases using jQuery or a similar library? I don't think I've ever seen somebody calling it like this: `$( '.foo' )`, if it happened it must have been a rare occurrence.

To give some more non-jQuery examples:

1. I call functions like this if they only get passed a single object or array, it makes the code quite a bit cleaner for me:

[code]

2. I don't bother writing spaces that ser

[2019-10-15 22:53] fabiospampinato commented on #12434
Fair enough. I just don't think I've ever seen somebody naming their IIFEs, it may be not a super popular use case as most people maybe don't use IIFEs at all, but those who do I bet either don't enable this rule or just comply with it to shut the warnings up, if ESLint could handle this it would be great.

[2019-10-15 22:57] kaicataldo commented on #12424
Yes, lots of jQuery :) For what it's worth, jQuery's own docs format use spaces in jQuery selectors.

I'm not against it if other team members feel like the extra complexity is worth it. Can you add more detail about the API you're envisioning and how you think it will work? Seems like there are a few different enhancements listed here, and they'll each need their own option. If it makes it easier

[2019-10-15 23:04] kaicataldo commented on #12424
As a starting point, here are the proposals I see (I've added question marks to the ones I'm not sure of):

1) Allow exceptions for destructured parameters (?)
2) Allow exception for groups of parens/brackets on the last line if they are alone on that line
3) Configurable exceptions based on function names and types (the latter is not really enforceable without a type system)
4) Allowing spaces be

[2019-10-15 23:18] fabiospampinato commented on #12424
Oh that's true! 😨 I can't believe I didn't realize that.

- For a destructured parameter if that's the only parameter.
- For an array or object literal if that's the only passed parameter.

Yes, but more specifically the range between the first ending token and the last consecutive ending token on a line shouldn't contain spaces.

The difference is that this would allow for code like this to be wr

[2019-10-16 00:06] mysticatea commented on #12437
This seems to be a bug in `eslint-utils` package. I guess the problem is in [src/reference-tracker.js#L229-L232](https://github.com/mysticatea/eslint-utils/blob/4e1bc077c2a6bb00538d66b69a63c24de3463bed/src/reference-tracker.js#L229-L232).

[2019-10-16 00:07] mdjermanovic commented on #12421
Hi @fabiospampinato, thanks for the report!

I think that the option works as intended:

[2019-10-16 00:09] kaicataldo commented on #12418
If we were to add an option, I think it makes sense to make it a more generic one. Maybe `namedExceptions: string | string[]`? It could acccept a string or an array of strings (potentially also accepting RegExp as strings?).

[2019-10-16 00:11] kaicataldo commented on #12421
I agree with @mdjermanovic, but can you include the actual error/output you're seeing so we can confirm it? I just want to make sure we're diagnosing the right issue.

[2019-10-16 00:16] kaicataldo commented on #12422
I think this makes sense. If we accept this, I think it makes sense to have it be similar to the configuration for [object-curly-newline](https://eslint.org/docs/rules/object-curly-newline).

[2019-10-16 00:40] mdjermanovic commented on #12381
I agree, one option for `for-in` and another for `for-of`.

Or did you mean all 5 options, `for`, `while` and `do` as well?

[2019-10-16 00:51] fabiospampinato commented on #12418
@kaicataldo it sounds good 👍 Accepting a regex would make it more powerful, allowing people to match all single-character functions, which could potentially be useful for extendable configurations, for project-specific configurations I don't think listing all functions would be too much to ask.

[2019-10-16 00:55] mdjermanovic commented on #12368
The idea for the new rule instead of option(s) in `no-undef-init` was because some of the cases that the rule would target, like `({ d = undefined } = foo);` and `[e = undefined] = foo;` are not 'initializing' variables. Also, with the option, it isn't possible to enforce this without the default behavior of `no-indef-init`.

If none of the above isn't a problem, I like the idea for an option in `

[2019-10-16 01:01] fa93hws opened #12442 "Allow test on folder or files"
**The version of ESLint you are using.**
Not related

**The problem you want to solve.**
The `npm run test` is too slow.
If I add a feature and a unit test for it, I would like to see whether my unit test failed or not. However, I can only do a `npm run test` currently which will run all the tests for me.
Chances are that I made some mistake in my implementation and my unit test is able to catch t

[2019-10-16 01:05] mdjermanovic commented on #12442
Maybe this could help: [Running Individual Tests](https://eslint.org/docs/developer-guide/unit-tests#running-individual-tests)

[2019-10-16 01:07] fa93hws commented on #12442
Oh thanks! Didn't know there is such a thing

[2019-10-16 01:07] #12442 closed

[2019-10-16 01:09] fabiospampinato commented on #12421
I can see how "always-multiline" could be working as intended, but given that it triggers even if a newline is found inside the last argument it doesn't allow the pattern I wrote above, which is common in the React world.

I think there should be an option for relaxing this behavior and allowing the last argument to be written on multiple lines if its definition at least starts on the same line.

[2019-10-16 01:30] mdjermanovic commented on #12421
I agree that this looks more like a rule-change request.

An interesting thing here is that the rule doesn't require a newline between consequent and alternate as well. That's probably because the paren isn't a part of the alternate in AST, and that might be a bug (most likely in some other 'newline' rules, too).

Off-topic, something like `isFoo && <p>Whatever</p>` can be also used instead of a t

[2019-10-16 02:01] fabiospampinato commented on #12421
Right 🤔 I don't actually remember why I started using the `!isFoo ? null : ()` pattern, maybe for avoiding potential issues when writing things like `list.length && <p>List...</p>`. That could be the topic for another rule.

[2019-10-16 02:30] golopot commented on #12427
Yes it looks like so. Handling all multiline expressions will certainly handle this case.

[2019-10-16 02:46] silverwind commented on #12269
Yes. I will after checking if there if there are any more methods that could benefit, not strictly limited to Array.

[2019-10-16 02:51] golopot commented on #12248
If the option name is `MultilineExpression`, if will also need to handle binary expressions:
[code]

[2019-10-16 03:14] fisker commented on #12425
Sorry, I miss understood it, my purpose is avoid use `{plugins: ['unicorn']}`, because this requires a `package.json` file has `eslint-plugin-*` as dependency.

Thanks a lot for explaining

[2019-10-16 04:46] ljharb commented on #12381
Each option separately.

[2019-10-16 04:47] ljharb commented on #12368
Yes, they are - all destructurings are initializing variables.

[2019-10-16 09:39] rhalaly opened #12447 "White-spaces in ternary operator"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 10.16.3
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that y

[2019-10-16 11:50] mdjermanovic commented on #12415
Hi @OlegBrony, thanks for the issue.

In this case, you can use `ExportNamedDeclaration` as an exception for the rule.

[2019-10-16 13:16] ab-pm commented on #12439
OK, updated, I thought the template was more of a guidance I had hoped to include all relevant information to start a discussion in a more concise format.

[2019-10-16 13:29] ab-pm commented on #12438
@platinumazure Yes, I am using the `indent` rule, and prefer tabs for indentation - that's why they are still to be found in the commented-out code.

What do you think should an extra option look like that is easy to use and still flexible? Something like `allowIndentationTabsInCommentedCode` and `allowTabsInTemplateStrings`?

[2019-10-16 17:39] willlma opened #12448 "implicit-arrow-linebreak doesn't enforce closing paren location"
**Tell us about your environment**

* **ESLint Version:**
v6.5.1
* **Node Version:**
v8.12.0
* **npm Version:**
v6.9.0 (but I'm using yarn v1.15.2 for this project)
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint@10.0.3
**Please show your full configuration:**
<details>
<summary>Configuration</summary>
Using eslint-config-airbnb@18.0.1

[code]

</details>

**What did you

[2019-10-16 18:12] campbellbrendene commented on #12432
I would propose that, if the `tab` option is enabled, spaces may not be used to align properties - only tabs. That would allow eslint to internally replace all tabs with *up to* `tabWidth` spaces. [This comment](https://github.com/eslint/eslint/issues/1727#issuecomment-71435145) has some sample code which might work to accomplish this:

[2019-10-16 19:23] SkeLLLa opened #12449 "no-undef rule doesn't work properly with comma operator"
* **ESLint Version:** eslint@6.5.1
* **Node Version:** node@12.12.0
* **npm Version:** npm@6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLin

[2019-10-16 19:29] ljharb commented on #12449
Why would you expect no error? The destructuring (`({a, b} = object)`) is creating `a` and `b` variables without a declaration keyword.

[2019-10-16 22:11] mdjermanovic commented on #12449
Hi @SkeLLLa, thanks for the issue.

I agree with @ljharb. Code without `no-undef` errors could be something like this:

[code]

[2019-10-16 22:29] mdjermanovic commented on #12447
Hi @rhalaly, thanks for the issue!

Maybe the [no-multi-spaces](https://eslint.org/docs/rules/no-multi-spaces) rule could help here?

[2019-10-17 00:33] #12427 closed

[2019-10-17 00:39] g-plane commented on #12448
Thanks for this issue.

I think this is expected, because the parens are parts of your arrow function body, and this rule only cares the first token of the body, not the parens.

[2019-10-17 03:25] flyyang opened #12450 "resolvePluginsRelativeTo to resolve extentions"
**Tell us about your environment**

Environment Info:

Node version: v10.15.3
npm version: v6.12.0
Local ESLint version: v6.5.1(currently used)
Global ESLint version: v5.15.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual

[2019-10-17 03:56] mysticatea commented on #12450
Hi.

The resolve**Plugins**RelativeTo option is for only plugins. Because ESLint loads plugins from the unique location in order to identity plugins by name.

The other things (custom parsers and shareable configs) are not so. You can use file paths in `extends` property. For example,

[code]

[2019-10-17 04:10] yeonjuan commented on #12369
I thinks thisPR (#12411) can fix it. Can I get a review?
I realize that, the schemes default value override user's configuration

[2019-10-17 04:26] jedwards1211 opened #12451 "Rule proposal: no-catastrophic-backtracking"
**Please describe what the rule should do:**

Flag RegExps that are vulnerable to catastrophic backtracking like the one that [**took down CloudFlare's global network** for an hour.](https://blog.cloudflare.com/details-of-the-cloudflare-outage-on-july-2-2019/)

See also https://www.regular-expressions.info/catastrophic.html.

**What category of rule is this? (place an "X" next to just one item)**

[2019-10-17 04:42] jedwards1211 commented on #12451
@davisjam saw that you have a fork of `safe-regex` with a lot of improvements, very cool!  Surprised you haven't proposed making an ESLint rule for this yet, hope you're in agreement that it would be a good thing

[2019-10-17 05:06] flyyang commented on #12450
@mysticatea thanks for the reply.

How about another option to solve this use case. Cause share config and plugins all using the same
`extends` option, there is a little confuse when to require resolve, and when to use `resolvePluginsRelativeTo`.

[2019-10-17 06:08] mysticatea commented on #12450
We, the ESLint team, strongly recommend to not use global installations. Therefore, it is unlikely that functionality to encourage the use of global installation will be added.

`resolvePluginsRelativeTo` is an explicit name that means the option affects only plugins, and you can distinguish whether which are plugins or not by `plugin:` prefix.

[2019-10-17 06:19] #12450 closed

[2019-10-17 09:04] rhalaly commented on #12447
Thanks! Maybe it is what I've searched for. Closing this issue.

[2019-10-17 09:09] #12447 closed

[2019-10-17 16:06] ilyavolodin commented on #12123
Agree. This seems like a bug.

[2019-10-17 16:09] mdjermanovic commented on #12123
Marking related PR #12280 as accepted.

[2019-10-17 19:08] kaicataldo commented on #12439
Thanks for filling that out! I'm in support of this option, pending deciding on finalizing the API.

[2019-10-17 19:23] mdjermanovic commented on #12369
It does seem that default values are causing this.

[code]

`parseOptions` checks if the key (`"before"`/`"after"`) is present in the `overrides` object, but after the default values were introduced in #11288 both keys are always there.

It looks that the code was made to supports merging overrides with the common settings. Removing default values could be the only way to restore this feature.

Th

[2019-10-17 20:14] mdjermanovic commented on #12369
Tested the original example in:

eslint@5.13 - no error
eslint@5.14 - error

Seems that #11288 changed behavior here, but tests didn't catch that.

I think that proposed change in PR #12411 is correct, and it would be also good to add tests to show that overrides can override just `"before"` or just `"after"` or both. Maybe also improve the docs.

The problem might be that this change can now prod

[2019-10-17 20:31] willlma commented on #12448
Thanks for the response. Is there another way to enforce the location of the closing paren?

[2019-10-17 22:10] not-an-aardvark commented on #12451
Unfortunately, `safe-regex` is not reliable for performing safety checks. For example, it considers the regex that caused [this issue](https://github.com/eslint/eslint/pull/7898) to be safe.

I'd love to prevent catastrophic backtracking generally, but I haven't seen a reliable way to do it with static analysis. This is also difficult because regex safety varies across different JS engines. Additi

[2019-10-17 22:43] mockdeep opened #12453 "extend eslint:all to include plugins"
**The version of ESLint you are using.**

6.5.1

**The problem you want to solve.**

This is a followup to https://github.com/eslint/eslint/issues/6240 and https://github.com/eslint/eslint/pull/6248. The `eslint:all` configuration has been working great on our projects. However, some plugins implement a similar `all` configuration and some don't. It's a pain for every plugin maintainer to have to

[2019-10-17 22:51] davisjam commented on #12451
@jedwards1211 I'm actually the maintainer of safe-regex now. The v2.0 release has my improvements (fixes some false negatives). I thought I made a PR to eslint to pick up v2.0, but maybe I misremember.

@not-an-aardvark

True. The documentation says that pretty clearly: "WARNING: This module has both false positives and false negatives."

Correct. That regex is quadratic, not exponential-time. As

[2019-10-17 23:23] jedwards1211 commented on #12451
I was thinking that some true positives is better than nothing, but it's true that there should be a very high standard for something that goes in ESLint core.  I'll consider making a plugin though.

[2019-10-17 23:25] #12451 closed

[2019-10-17 23:26] not-an-aardvark commented on #12451
@davisjam Thanks, seems like you're much more familiar with the literature here than I am. To be clear, I'm not opposed to having a rule for this, just pointing out that it would have some limitations.

Are there known techniques (perhaps in the papers you linked) to detect quadratic-time regexes?

My main concern is that users might assume that their regexes are certain to be safe because this ru

[2019-10-17 23:31] jedwards1211 commented on #12451
Yeah that's a good point, especially if the rule is enabled via a preset and they never looked at the documentation for it.

[2019-10-18 00:08] davisjam commented on #12451
Yes. Any regex's super-linear behavior can be traced to a corresponding NFA with two properties:
1. They have an *ambiguous sub-graph* (multiple ways for a match).
2. After reaching the ambiguous sub-graph, a *mismatch* can occur. (Well, the second property is a bit more complicated than this, but that's the core idea.)

Wustholz and Weideman independently defined the necessary and sufficient cond

[2019-10-18 00:50] mdjermanovic opened #12454 "function-call-argument-newline invalid autofix with a line comment"
**Tell us about your environment**

* **ESLint Version:**  6.5.1
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-10-18 03:04] tichenchen opened #12455 "[no-unused-vars] rule reports an error for... in/of"
### The version of eslint
6.5.1
### The details of the problem
`for (const item of items ) { console.log(item)}`
no-unused-vars reports an error to the above code block，What's the reason

[2019-10-18 09:16] dietergeerts commented on #12433
I can't get this to work. My use case is a monorepo where I want to include all but certain sub-directories. The result I am aiming for is this: http://www.globtester.com/#p=eJyr1tJR1HBIzs8tSMyr1NTX0tLX0oFx9bX0q0HSOZlJNcVFyRDZ2loAiwQPVg%3D%3D&r=eJyVkFEOgzAIhq9ifFcuUI1XYcymLG1tBE28vbq4l2Vx7Rsh3wf8mCevFXkU6eq6H2gKCeMGmFKjoyh4foBlP7YvMXCwvckQZLmRAiq5X%2BbRCFOEsy4Tc%2B%2FzHBVkpnKhONDbvAI5LNP%2BLbrGCs2

[2019-10-18 11:31] zhengxiaoyao0716 opened #12456 "Ignore `eslint-disable` comments when the rule after it was missing."
**The version of ESLint you are using.**
v6.0.4

**The problem you want to solve.**

redirect from [`Build failed when used "eslint-disable" comments with a missing rule. #7712`](https://github.com/facebook/create-react-app/issues/7712#issuecomment-543473559)

Maybe we could just got a warning instead of throw an error when the rule of `eslint-disable` comments was missing?

When build or start th

[2019-10-18 12:21] mysticatea commented on #12433
You can use `excludedFiles` property :)

[code]

[2019-10-18 12:23] fabiospampinato commented on #12433
How did I miss that?! That solves the issue entirely, thanks!

[2019-10-18 12:23] #12433 closed

[2019-10-18 15:12] platinumazure commented on #12455
Possible duplicate of #12117.

If you're using babel-eslint, please upgrade to latest.

[2019-10-18 15:44] lerouxb opened #12457 "eslint crashes on .jsx files if react storybook is installed"
With latest eslint and latest react storybook installed, eslint crases in countTrailingLinebreaks while calling `match` on undefined.

I've run this through a debugger and undefined there is from an end jsx tag token's `.value`.

If I remove react storybook from package.json, wipe node modules and npm install again, then it works. If I then install react storybook afterwords it also works. If I in

[2019-10-18 16:27] dietergeerts commented on #12433
I can't use that, because on top of the glob I need from my link, I need to add directories that does need to be included. So in short: those lib/src dirs need to be excluded, but in certain cases, I need to include them.

[2019-10-18 16:29] dietergeerts commented on #12433
Currently I have this solution, which seems to be working:
[code]

[2019-10-18 17:38] kaicataldo commented on #12456
Please fill out the issue template as requested. We ask for that information to better understand the problem and evaluate your proposal.

Also, we request that all changes to core go through the RFC process outlined [here](https://github.com/eslint/rfcs).

In addition to filling out the template, can you provide more information as to what problem you’re trying to solve? I personally think it wou

[2019-10-18 18:17] kaicataldo commented on #12457
Seems likely to be a dupe of https://github.com/eslint/eslint/issues/11018.

[2019-10-18 20:06] #12369 closed

[2019-10-18 21:04] matthewbryancurtis commented on #9259
Like @TSMMark mentioned, it would be very nice for imports.

I imagine it would also work with function params too? Something like:

[code]

Figure it would handle all destructuring the same, but I thought I would mention it none-the-less. 🤷‍♀️

[2019-10-18 21:36] hacdias opened #12458 "`no-unused-vars` bug"
**Tell us about your environment**

* **ESLint Version:** v6.5.1
* **Node Version:** v12.8.0
* **npm Version:** v6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?**

ESLint with Babel and presets 'react-app' and 'standard'.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source

[2019-10-18 22:30] mikeal opened #12459 "`require-await` should be disabled for async generators"
**What rule do you want to change?** require-await

**Does this change cause the rule to produce more or fewer warnings?** neither

**How will the change be implemented? (New option, new default behavior, etc.)?** new default behavior

**Please provide some example code that this change will affect:**

Currently, `require-await` is enabled for both async functions **and** async generators.

The pr

[2019-10-18 22:38] mdjermanovic commented on #10977
I think that the proposal in its current form isn't in line with how the rule works.

`newline-per-chained-call` does allow first method to start on a new line, so the title is wrong. This rule never disallows newlines.

Proposed change can only produce more warnings, not fewer.

Setting `ignoreChainWithDepth` to `0` would require all method calls to have newline:

[code]

This probably isn't the