[2016-02-23 06:02] #5376 closed

[2016-02-23 08:01] albertosantini commented on #5313
@IanVS Thanks for the details. Fair enough. Sorry for the noise.

[2016-02-23 09:53] keithamus commented on #4226
I would request this rule for instances where a simple calculation is needed. Take for example the following code:

[code]

This const uses 1 number as part of the calculation, and should be allowed to be passed through - because the number on its own has no semantic value, and trying to give it a useful name becomes a struggle, e.g:

[code]

I'd argue the first example, while not attaching a sema

[2016-02-23 11:24] BYK commented on #667
@madgeniy - this is not the place to ask for help. Please see http://eslint.org/docs/user-guide/configuring#configuring-rules to learn how to turn a rule off. If you need more help you can use the [mailing group](https://groups.google.com/group/eslint) or [StackOverflow](http://stackoverflow.com/questions/tagged/eslint)

[2016-02-23 13:41] IanVS commented on #5313
No need to apologize, I was apologizing for my own diversion.

[2016-02-23 14:35] customcommander opened #5377 "New CLI Option: --select-rule"
Hi guys,

We have started to introduce ESLint on a couple of fairly large code bases and the rules we have established generate thousands of errors and warnings :-)

I tend to fix on a rule by rule basis but I find it a bit cumbersome sometimes as I need to copy the rule from the `eslintrc.json` file, wrap it in a json-like string and paste it to the command line. e.g.:

[code]

It would be easier

[2016-02-23 15:11] IanVS commented on #5377
Hi @customcommander.  That's an interesting idea.  I wonder if we could modify the behavior of `--rule` such that if you only provide a rule name, it uses the configuration from normal config file cascading rules.  Would that solve your use case?

Alternatively, I've written [eslint-nibble](https://github.com/IanVS/eslint-nibble), which allows you to easily focus on cleaning up one rule at a time.

[2016-02-23 15:21] nzakas commented on #5085
@omerbalyali are you interested in finishing up your design?

[2016-02-23 15:32] nzakas commented on #5377
I don't think we need a new option for this. If you have a config file setup the way you want, set each rule's severity to 0 and include whatever other config info for that rule. Then, on the command line, use `--rule 'new-cap: 2` to enable just the rule you want.

[2016-02-23 15:32] #5362 closed

[2016-02-23 15:36] IanVS commented on #5377
@nzakas That's a bit of a pain though, since you'll have to be constantly re-configuring any options you want on each rule in turn after having turned them all to a `0`.  Yes, VCS can help ease the pain somewhat, but what do you think of my idea to allow `--rule new-cap` to use just that rule and its inherited configuration?

[2016-02-23 15:37] IanVS commented on #5377
I think I see the problem.  The other rules will also run unless `--no-eslintrc` is also specified, which would disable the config for the one rule you do want.   :(

[2016-02-23 15:41] nzakas commented on #5344
`filePath` seems like a good compromise.

[2016-02-23 15:43] nzakas commented on #5348
Hour about if we omit JSX expressions that only contain a single number, and nothing else, by default? Otherwise, the rule still applies.

[2016-02-23 15:49] ilyavolodin commented on #5377
I honestly think this is a solved problem: `eslint ./ | grep "new-cap"` or am I missing something?

[2016-02-23 15:50] nzakas commented on #5377
I think that's unexpected based on how `--rule` works already.

I'm just not sold on adding a new option for this use case. You can pretty easily create a filter for what ESLint outputs and do the same thing:

[code]

[2016-02-23 15:54] IanVS commented on #5377
OK, I'm sold.  @customcommander, will one of these suggestions work for you?

[2016-02-23 16:37] cowchimp opened #5378 "`CLIEngine#getFormatter()` is no longer a static function- throws an error"
`CLIEngine.getFormatter` used to be available as a static function.
It's also mentioned in [the docs](http://eslint.org/docs/developer-guide/nodejs-api#getformatter) that it's "available as a static function".
Since the introduction of the CLIEngine `cwd` option this is no longer the case since it calls `this.options.cwd` internally and `options` is undefined (because `options` is set with `defaul

[2016-02-23 16:40] nickyout commented on #5260
Running against this as well, using what [Google's Closure compiler page](https://developers.google.com/closure/compiler/docs/js-for-compiler#types) calls the 'Record Type' notation (`{{width: number, height: number}}`).

I'm not sure what page is the most dictating source on JSDoc, but since [usejsdoc's page on @type](http://usejsdoc.org/tags-type.html) also refers to Google's page and I have yet

[2016-02-23 17:15] nzakas commented on #5329
We *could* be lying. For instance, suppose someone has `comma-spacing` such that they require no space before the comma. If they also have `comma-dangle` set to "never", and there's code like this:

[code]

We don't know which one of the rules will be executed first. If `comma-dangle` is fixable, and it's executed first, then `comma-spacing` will still report an error because fixes are only applie

[2016-02-23 17:24] ilyavolodin commented on #5378
This is a really good point. I didn't consider nature of `getFormatter` when I added `cwd` option. We should probably enhance it to use default value when `this.options` is not available.

[2016-02-23 17:29] bsbeeks commented on #5348
@nzakas I can roll with that. Let me know if that's the direction we want to head and I'll update my PR.

[2016-02-23 17:29] platinumazure commented on #5329
Thanks @nzakas, that's a great example.

I think the root cause of those issues is that the rules simply don't have
enough information and aren't designed around those possible collisions.
That said, I am :+1: for doing what we can to minimize impact to users
until we can find ways to improve the rule design. Thanks again for the
illumination.
On Feb 23, 2016 11:15 AM, "Nicholas C. Zakas" <notific

[2016-02-23 17:44] jacobp100 commented on #5085
I might be interested in doing HTML and CSS.

[2016-02-23 18:35] callumlocke commented on #3458
Sorry to ping everyone, but has there been any progress on this?

I want to make a shareable config that extends xo and then adds a few custom in-house rules. Is the situation still that this is not possible?

[2016-02-23 18:40] IanVS commented on #3458
You can, but you need to treat xo as a `peerDependency`.  Take a look at [semistandard](https://github.com/Flet/semistandard) for an example of another config doing something similar.

[2016-02-23 19:09] kevinoid opened #5379 "consistent-return and the "simple class instantiation" pattern"
Since b8b3b87 (first released in v2.0.0-alpha-1) introduced code path analysis (which is awesome, by the way!) the [Simple "Class" Instantiation pattern](http://ejohn.org/blog/simple-class-instantiation/) popularized by John Resig fails the `consistent-return` rule.  Consider his example, refactored into the more popular current formulation:

[code]

This now generates a `Expected to return a valu

[2016-02-23 19:12] nzakas commented on #5378
Agreed. @cowchimp, do you want to submit a PR to fix this?

[2016-02-23 19:13] nzakas commented on #5358
Okay, let's go with creating a new `no-global-assign` rule.

[2016-02-23 19:14] nzakas commented on #5348
I think that's a good direction, though I'd like to hear from @xjamundx to confirm.

[2016-02-23 19:17] nzakas commented on #5368
If you want to add an option like "skipComments" to the rule, that would be fine.

[2016-02-23 19:20] nzakas commented on #5379
What code are you talking about? Some context here would be useful.

Also, I'm not sure if such a check would be possible. @mysticatea what do you think?

[2016-02-23 19:24] kevinoid commented on #5379
Any code which uses Simple "Class" Instantiation pattern

[2016-02-23 19:26] kevinoid commented on #5379
To get more at the gist of that question:  I've seen it in a lot of codebases.  I can start checking some of the more popular ones if you are concerned about how often that pattern is used.  I know it's frequently present in the Node runtime.

[2016-02-23 19:28] platinumazure commented on #5378
@nzakas @ilyavolodin What's the value in having the static method in the first place, anyway? Do we have common use cases where people already have ESLint results and need a formatter and don't want to construct a new CLIEngine instance? In my own experimentation I've always just used CLIEngine all the way through, so I guess I've just never seen the need for the static method.

[2016-02-23 19:33] kevinoid commented on #5379
Re: technical feasibility.  My first thought at implementation would be to add an option which excludes `return new currentFunction()` from consistency checks.  It's not perfect, but I think it would have reasonably low false-positive/false-negative rates if enabled.

But it was just a thought.  I'm not tied to it.  Feel free to consider alternatives.

[2016-02-23 19:50] ahal opened #5380 "`RangeError: Invalid string length` with --format=json and a really long source line"
Failure:
[code]

I can consistently reproduce this running eslint on all the files in this directory:
https://dxr.mozilla.org/mozilla-central/source/devtools/client/inspector/markup/test

STR:
[code]
Note: the path needs to be absolute to bypass the include/exclude directives in .eslintrc.

I did a bit of digging and the result set isn't terribly large (104 errors) so I found it strange that memor

[2016-02-23 19:52] btmills opened #5381 "Crash in rule creator suppressed in `npm test`"
This was discovered in analysis of a failure in #5349.

In latest master (2bd57b6bbd11b23fdec65dc11c691f74c6a8db75) on any version of Node, if:

- A rule creator throws an exception (e.g. while parsing options)
- That code path is one not used in ESLint's own config (e.g. `max-statements`, which we don't use at all)

...then `npm test` won't show any information about the failure:

[code]

You can

[2016-02-23 19:57] cowchimp commented on #5378
@nzakas Sure. Would be happy to we're if settled on the proposed change
(right now it looks like @ilyavolodin's suggestion to use `process.cwd()` as fallback).

@platinumazure Would be interested in hearing @sindresorhus's opinion about this as the person who opened the issue for both exposing `getFormatter` as static and making `cwd` configurable (#3239 & #4472).

[2016-02-23 20:02] customcommander commented on #5377
`eslint | grep` is what I'm doing already; it works fine but it obviously breaks your formatter output. I just thought that maybe some other users are having the same "issue" and could possibly do with some sugar :-)

I agree with @nzakas, that would be confusing. That's why I thought that a new rule would make more sense here: `--select-rule new-cap` would disable all the rules except that one.

[2016-02-23 20:05] IanVS commented on #5377
@customcommander, did you take a look at eslint-nibble?  It uses [eslint-stats](https://github.com/ganimomer/eslint-stats) under the hood.  You could take a look at that as a starting point if you wanted to create a reporter to group by rule.

[2016-02-23 20:05] tdd commented on #5368
Hey @nzakas had not remembered options were available. I'm going for a `skipComments` option defaulting to `true` (this seems sensible to me), si that alright?

[2016-02-23 20:10] sindresorhus commented on #5378
I use it like this: https://github.com/sindresorhus/xo/blob/e9fb15e044601ee44b0b55fca0e588e8f2ecfaae/cli.js#L81

[2016-02-23 20:17] customcommander commented on #5377
Yep something along those lines would work for me. However I don't need something interactive, a simple formatter would be enough, and also I'd rather depend on the original package than on a wrapper (no offence). Why not contributing some of it back to `ESLint`? It seems that some people started to "fork" `ESLint` for that purpose, surely this must be feature that other people would want to use :

[2016-02-23 20:24] tdd commented on #5368
There, added it in my PR (#5367)

[2016-02-23 20:34] IanVS commented on #5377
Yeah I understand.  It's really intended to just be something you run when you're introducing ESLint to a project, and then for maintenance it's of course best to switch to ESLint directly, as you say.

If you write a formatter I bet we would consider rolling it into core.  And even if it isn't part of core, you can still share and use it as a custom formatter.

[2016-02-23 20:53] nzakas commented on #5329
@alberto sorry, I missed your comment somehow.

Making ESLint faster is, of course, a great goal. The problem is that we can always be faster, so it's hard to know when we're making good progress vs. when we're trying to squeeze blood from a stone. The question is really when are we fast enough? And if people are willing to wait, how much does that matter?

I think multipass is the most rational w

[2016-02-24 01:12] mysticatea commented on #5379
Thank you for this issue.

I got it, this is a well-known pattern in ES3/5.

Some rules (e.g. `no-invalid-this`) consider functions which start with an upper case character as a constructor. So I think this rule can behave in the same way.

- If a function name starts with an upper case character, this rule skips the check of the last code path.

It's feasible as adding the condition check to [thi

[2016-02-24 02:04] kevinoid commented on #5379
Thanks @mysticatea.  That works for me.  The `no-invalid-this` behavior sounds like a reasonable precedent and using the capitalization of the function name should be much simpler to implement than what I was thinking.

[2016-02-24 02:59] zxqfox commented on #5329
@nzakas If we have tokens, we could make a flag `disappear: true` that will hide these tokens in resulting code. In that way order doesn't matter anymore. Am I missing something?

[2016-02-24 09:11] customcommander commented on #5377
OK I'll give it a go and see what happens :-)

[2016-02-24 11:18] gajus opened #5383 "Rule proposal: let-on-top"
Equivalent of http://eslint.org/docs/rules/vars-on-top that requires to have `let` declared at the top of the block.

At the moment, there is no way to enforce a consistent use of `let` keyword. It can be either inline, e.g.,

[code]

or at the top of the block, e.g.

[code]

This rule would require to have all `let` declarations at the top of whatever block.

[2016-02-24 11:19] gajus commented on #5383
A more appropriate rule might be `no-inline-let`.

[2016-02-24 12:39] BYK commented on #5383
How about `variable-declarations-on-top` to rule them all (`var`, `let`, `const`) and deprecate the `var`-specific one?

[2016-02-24 13:09] gajus commented on #5383
`*-on-top` makes no sense with `const`, e.g. you cannot rewrite this code to have `const` at the top:

[code]

[2016-02-24 13:11] gajus commented on #5383
`*-on-top` makes little sense for `let` too, because you do not know where `let` is supposed to be. This is partially what https://github.com/eslint/eslint/issues/5284 rule is trying to address. Therefore, only the inverse (`no-inline-let`) is what can be validated.

[2016-02-24 13:20] BYK commented on #5329
This may sound a bit too much but why don't we consider using [Operational Transformation](https://en.wikipedia.org/wiki/Operational_transformation) on the fix actions. We can assume each rule as an individual collaborator on the code and then use OT to generate a combined result.

[2016-02-24 13:27] BYK commented on #5329
There's even an OT library in JS: https://operational-transformation.github.io/ot-for-javascript.html

[2016-02-24 14:59] gajus commented on #5383
I am wrong.

`no-inline-let` is too generic. It does not say where `let` needs to be defined. In fact, [`init-declarations`](http://eslint.org/docs/rules/init-declarations) already does exactly what `no-inline-let` proposes to do.

Therefore, @BYK is right. This should be `let-on-top`.

[2016-02-24 15:16] natecavanaugh opened #5384 "Indentation rules incorrectly flag properly indented code"
Hi there,
This seems to be related to #5295
Using the following rule config:
[code]
The following lines will throw errors:
[code]

However, with the same config, the following will **not** throw any errors:
[code]
The reason for this is because on [this line](https://github.com/eslint/eslint/commit/afb6708eff08b739b7e57b7d807cf8ef9a790b14#diff-f7ae198ea24182d178b8f3376e61b6edR434), it's not checki

[2016-02-24 15:21] ilyavolodin commented on #5384
Sounds like an oversight to me. @gyandeeps @BYK ideas?

[2016-02-24 15:38] gyandeeps commented on #5384
@natecavanaugh Do you want to send a PR for this quick fix?

[2016-02-24 15:46] bsbeeks opened #5385 "Add tests to cover default options for complexity, max-depth, max-nested-callbacks, max-parms, max-statements"
See discussion here https://github.com/eslint/eslint/pull/5349

[2016-02-24 16:16] davej opened #5387 "`no-unused-expression` throws when used with `do` expressions (es-stage-0)"
For Example:

[code]

More info on `do` here: https://ponyfoo.com/articles/proposal-statements-as-expressions-using-do

[2016-02-24 16:33] mvolkmann opened #5388 "yoda rule exceptRange shouldn't require parens"
This example from the docs passes when the yoda rule is configured to allow ranges.
[code]

However, this should also pass when the parens are removed.
[code]

[2016-02-24 16:50] davej commented on #5387
Perhaps this isn't within the scope of `eslint` and should be fixed in `eslint-plugin-babel` instead? Feel free to close this issue if appropriate.

Ref: https://github.com/babel/eslint-plugin-babel/issues/13

[2016-02-24 16:54] ilyavolodin commented on #5387
Thanks for the issue. This feature is at stage 0, so ESLint does not support it. Issue in `eslint-plugin-babel` should cover that. Closing as we do not support this.

[2016-02-24 16:54] #5387 closed

[2016-02-24 17:19] natecavanaugh commented on #5384
Sure thing :)

[2016-02-24 17:33] #5385 closed

[2016-02-24 17:35] mvolkmann commented on #5388
My ESLint version is 1.10.3.

My .eslintrc file is attached, renamed to eslint.txt so I could upload it.
[eslintrc.txt](https://github.com/eslint/eslint/files/145096/eslintrc.txt)

The error message is:
[code]

Lines 53-55 in the source file are:
[code]

Note how there are no parens around the first ternary condition.
I expected that to be allowed.

[2016-02-24 18:04] natecavanaugh commented on #5384
Sent https://github.com/eslint/eslint/pull/5389

[2016-02-24 18:39] trevordmiller opened #5390 "Possible bug with v2.0.0 ES6 modules: "Illegal import declaration" and "Illegal export declaration""
I have followed the [migrating to 2.0](http://eslint.org/docs/user-guide/migrating-to-2.0.0) instructions. I am now getting an "Illegal import declaration" error on my ES6 module syntax:

![illegal-import-declaration](https://cloud.githubusercontent.com/assets/5497885/13296466/eba77afe-daea-11e5-8851-aff11edb3d43.png)

In the migration guide:
![documentation](https://cloud.githubusercontent.com/as

[2016-02-24 18:44] IanVS opened #5391 "Rule Proposal: spread-spacing"
I'd like to enforce spacing between the spread operator (`...`) and its expression.  I propose calling it `spread-spacing`

**When does this rule warn? Please describe and show example code:**

I envision it being configured with strings "always" and "never".

With "never" (the default):

[code]

And vice-versa for "always"

**Is this rule preventing an error or is it stylistic?**

Stylistic

**Wh

[2016-02-24 18:48] trevordmiller commented on #5390
Same problem for ES6 exports:

![illegal-export](https://cloud.githubusercontent.com/assets/5497885/13296801/948c8834-daec-11e5-824d-da67837c1156.png)

[2016-02-24 19:04] gyandeeps commented on #5390
Can you run eslint directly on the code using cli rather than from a text editor and share the output?

[2016-02-24 19:12] BYK commented on #5391
:+1:

[2016-02-24 19:19] ilyavolodin commented on #5390
@trevordmiller We had instances where people updated their installation of ESLint, but editors were still running older version (either from the local or global installation). Can you please try running eslint from the command line and see if this still an issue. Make sure to also run `eslint -v` to verify installation version.

[2016-02-24 19:57] nzakas commented on #5329
@zxqfox that helps for this specific example, but what about the case where a token is inserted? What if removing or adding the token should result in a change to the AST? And keep in mind, we have 200 rules, what if they're all making different changes?

[2016-02-24 20:05] zxqfox commented on #5329
@nzakas This means we need some declarative language? To split instructions and process. Rules which uses our language would be autofixable. I can't argue on why It's better that nothing, but for me it's like using `goto` or `try-catch` in javascript. For fixing code efficiently we need good abstraction.

[2016-02-24 20:44] trevordmiller commented on #5390
@gyandeeps , @ilyavolodin :

Version:
![screen shot 2016-02-24 at 1 38 17 pm](https://cloud.githubusercontent.com/assets/5497885/13300206/3fe86ed2-dafc-11e5-9490-7b83be07396c.png)

CLI errors:
Running `eslint --cache .` outputs 512 errors that are a variation of the following two errors:
![illegal-declarations](https://cloud.githubusercontent.com/assets/5497885/13300251/76250e06-dafc-11e5-9e12-38c

[2016-02-24 20:47] gyandeeps commented on #5390
Can you run eslint with `--debug` command and share the whole output with code?
Also narrow your example to a smaller code base that you can share.

[2016-02-24 20:55] trevordmiller commented on #5390
@gyandeeps @ilyavolodin : I figured out the problem. I was using npm scripts for getting the eslint version and running eslint (directly from the `v2.2.0` binary; however, you were right that I had a global version installed `v1.5.0` that must have been being used; after updating my global version the new module synatax is working. It makes sense that my editor would be having problems, but what I

[2016-02-24 20:55] #5390 closed

[2016-02-24 21:04] nzakas commented on #5329
@BYK OT is more designed for multiple simultaneous edits, where what we are doing is more sequential. I also think we need a bit more structure because we have a defined syntax we must create, so some of the guesses OT makes in certain circumstances could result in invalid syntax. If we're going to do anything more than what we're currently doing, I think we need something that is syntax-aware.

[2016-02-24 21:30] BenoitZugmeyer commented on #3966
I am working on this.

[2016-02-24 21:39] trevordmiller commented on #5390
@gyandeeps @ilyavolodin I figured out the real problem. I am using an `eslint_d` server running in the background that needed to be restarted to recognize the updated `eslint` package in `node_modules`. Still my fault, but if anyone runs into this again and is using `eslint_d`, just tell them to `killall node` and it should respawn with the latest package the next time they lint in their editor.

[2016-02-24 21:40] gyandeeps commented on #5390
Great. Thanks for sharing all this info/findings.

[2016-02-24 23:09] #5369 closed

[2016-02-24 23:22] bugeats opened #5393 "The --fix option is not available for piped-in code."
Trying to format some piped-in code:

[code]
Results in:

    The --fix option is not available for piped-in code.

It would be great to use all of my carefully crafted eslint rules as formatter rules for my editor.

[2016-02-25 00:04] nzakas commented on #5393
We decided not to do this because there was no clearly consistent way that this should behave. Piped-in code without `--fix` outputs the linting problems, the same as running ESLint on a file without `--fix`. When `--fix` is run on a file, we also print out the linting problems that weren't fixed. We could do that for piped-in code, but then you wouldn't be able to get the fixed code. If we output

[2016-02-25 00:04] #5393 closed

[2016-02-25 00:06] nzakas commented on #5378
@platinumazure these sort of questions are better answered by searching the issues/commit history for where the function came from. It was requested, and we added it. It was only the CWD change that made things hairy.

@cowchimp yup, I think @ilyavolodin's approach is correct.

[2016-02-25 00:41] bugeats commented on #5393
I was following you until this statement. The expectation that not all lint problems are fixable is already set. I would just assume that `--fix` simply does the best it can when in std i/o mode. It's ok for this mode's output to be different because it's a different use case entirely.

[2016-02-25 00:51] ilyavolodin commented on #5393
@bugeats I think that statement was pointed at the different part of the sentence. Autofixing doesn't try to fix everything as it is now. However, we notify the user that we were able to fix some of the problems and give them the list of problems that we were unable to fix. With --stdin we can pipe back fixed code, but we will not be able to report issues that were not fix, which might create an i

[2016-02-25 01:00] xjamundx commented on #4418
I've recently gotten burnt pretty hard (let's say multiple times) by issues with the autofix and `indent` causing un-autofixable changes. autofixing isn't great.

In this case, if the rule clashes with another rule, you can run it again and it will work (as far as I understand). That seems to be a small price to pay for a good fix.

I'd definitely say :-1: if this rule actively causes unfixable is

[2016-02-25 01:19] nzakas commented on #5391
Is this just function call spread? What about array spread?

[code]

And what about rest?

[code]

[2016-02-25 01:22] IanVS commented on #5391
I propose this would apply to all forms of spread operators.  If people want more configurability in the future, it could be expanded with further options for the various cases.  But, I don't see much of a use case for enforcing/prohibiting spaces for certain kinds and not others (although I'm sure someone will want to eventually).

[2016-02-25 01:23] nzakas commented on #5388
From the [docs](http://eslint.org/docs/rules/yoda.html#range-tests):

So this is working as designed.

[2016-02-25 01:23] #5388 closed

[2016-02-25 01:31] nzakas commented on #5381
Yikes! Is something overwriting `console.log`? It looks like some output is missing.

[2016-02-25 01:33] mvolkmann commented on #5388
Okay, I see it is working as designed, but I wonder why the design requires the parens. Maybe it was too hard to implement without the parens.

[2016-02-25 01:49] nzakas commented on #5380
This is happening because we include the line text whenever there's a lint problem on it. If there are multiple problems on that line, that probably blows out the size of the raw result.

About the only workaround I can think of would be to truncate the line if it's greater than some arbitrary length, and I'm unsure if we should do that.

Another option is for you to create a custom formatter that

[2016-02-25 02:41] mysticatea commented on #5391
Sounds good to me :+1:

[2016-02-25 02:51] #5384 closed

[2016-02-25 03:23] bugeats commented on #5393
Gotcha. I'm happy to take the bullet of inconsistency. I scratched my own itch here:

https://github.com/bugeats/eslint-pretty

It does just what I proposed: fix the code the best it can and fail open.  I'm using it with my editor now and I'm really happy with the results.

[2016-02-25 04:30] wyze commented on #5311
I went ahead and implemented this in my own plugin as I was uncertain if it would get merged into core. I just wanted to share the diff, which isn't too bad. I am not sure if this could be done with an option or not, but would be cool to see this in core.

[Line 19](https://github.com/eslint/eslint/blob/master/lib/rules/sort-imports.js#L19)
[code]

[Lines 38-41](https://github.com/eslint/eslint/bl

[2016-02-25 04:44] cowchimp commented on #5378
OK, great. I'll try to get it done during the weekend. Thanks.

[2016-02-25 09:21] zaygraveyard opened #5394 "False positive from `constructor-super`"
##### The version of ESLint you are using.
[code]

##### What you did.
[code]

##### What you expected to happen.

The code passes the linting

##### What actually happened.

eslint gave an error.

##### Your configuration

[code]

##### The complete and actual output from ESLint

[code]

[2016-02-25 09:33] nightwing commented on #4418
@xjamundx could you show the code that gets broken by indent autofix? I believe conflicts caused by this rule happen only in very rare conditions and are autofixed on next run, but maybe i am missing something.

[2016-02-25 09:56] mysticatea commented on #5394
Thank you for this issue.

I guess `"What you expected to happen."` and `"What actually happened."` are reversed in your intention.
I'm investigating....

[2016-02-25 10:32] zaygraveyard commented on #5394
@mysticatea Yep, sorry about that, I corrected it

[2016-02-25 12:40] mysticatea commented on #5383
Hmm, I'm not sure moving `let` declarations to the top of a block is a good practice.
`let` declarations have many different points from `var` declarations.
Could you explain why it's good?

[2016-02-25 13:29] mysticatea commented on #5381
I found: [config-initializer.js#L221](https://github.com/eslint/eslint/blob/master/tests/lib/config/config-initializer.js#L221)

[2016-02-25 13:48] gajus commented on #5383
Not top of the closure. Top of the block.

It gives visibility of all variables used in the closure.

[2016-02-25 14:09] #5394 closed

[2016-02-25 16:34] nzakas commented on #5381
@mysticatea nice catch! @IanVS do you have time to look at that?

[2016-02-25 16:35] #3966 closed

[2016-02-25 16:37] IanVS commented on #5381
I was afraid it might have been something I did. :disappointed:  Problem is, I don't really know a way to solve this.  I'll try again tonight but if anyone has any ideas I'd love to hear them.

[2016-02-25 16:38] nzakas commented on #5383
I think this would be best as a custom rule. If this approach makes it into a popular style guide, we can reevaluate at that time.

[2016-02-25 16:38] #5383 closed

[2016-02-25 16:47] #5313 closed

[2016-02-25 16:48] nzakas commented on #3458
@callumlocke our current priority is making autofix better. When there are updates for this issue, we will comment.

[2016-02-25 16:49] keithamus opened #5396 "no-magic-numbers allow 1 number per declaration"
I would request this rule for instances where a simple calculation is needed. Take for example the following code:

[code]
This const uses 1 number as part of the calculation, and should be allowed to be passed through - because the number on its own has no semantic value, and trying to give it a useful name becomes a struggle, e.g:

[code]
I'd argue the first example, while not attaching a semant

[2016-02-25 16:55] xjamundx commented on #4418
@nightwing there are already folks working on the fix. issues mainly related around tabs -> spaces.

[2016-02-25 16:56] gyandeeps opened #5397 "dot-notation line numbers are incorrect"
**What version of ESLint are you using?**
demo, 1.10.3

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

* `dot-notation: 2`
* `espree`

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-02-25 16:58] michaelficarra commented on #5397
Interesting. So you'd prefer to see the position of the `[` token reported instead?

[2016-02-25 17:06] gyandeeps commented on #5397
I know this is dirty coding but I had to do this because we use yui maven plugin to compress code and it doesnt understand catch statement for promises.

Since we already know the place where we are not using dot notation, we should report that location rather than reporting the location of the node.

[2016-02-25 17:24] ilyavolodin commented on #5396
So are you saying that this pattern shouldn't be flagged with proposed option:

[code]

[2016-02-25 17:33] ilyavolodin commented on #5397
I think in the deeply chained statement, it would be much more helpful to see the position of `[` then of the first statement of the chain.

[2016-02-25 19:25] #5056 closed

[2016-02-25 20:07] keithamus commented on #5396
@ilyavolodin I am saying that yes. I understand that you're trying to point out that `132` is a magic number, but consider the counter examples;

[code]

Are any of these benefited by having extra constants?

[code]

These numbers bear no meaning outside of the relation they have to the calculation - they're not constant values which could be tweaked, they're not used outside of the single calcula

[2016-02-25 20:19] ilyavolodin commented on #5396
@keithamus Not going to argue about first two examples. That's why when this rule was implemented originally, it excluded 1 and 2 by default. It was change later so that people could configure those numbers they wanted to be excluded.
Third example, though could (and in my mind, should) be rewritten as:

[code]

I'll defer to other members of @eslint/eslint-team but you haven't convinced me yet.

[2016-02-25 20:24] #5379 closed

[2016-02-25 20:28] BYK commented on #5396
I'm :-1:. A number without an explanation is a magic number to me. And explaining means assigning it to a constant.

[2016-02-25 21:20] nzakas commented on #5083
@faceleg @platinumazure I haven't forgotten about you. It's just that GitHub doesn't have an "issues only" permission for repos, so I'm trying to figure out how to make this work. Thanks for your patience.

[2016-02-25 21:35] omerbalyali commented on #5085
![eslint-logo-blue-shades](https://cloud.githubusercontent.com/assets/944165/13335080/d18c91da-dc17-11e5-8ec5-bad770e51997.png)

Top-left one is the previous dark color, the other 3 is lighter shades. (More blue than purple)
Which one do you think is appropriate? I can add more purple to the blue to make it indigo if you find it too much blue. What do you think?

[2016-02-25 21:55] lucendio opened #5400 "[proposal] referencing dot-ignore file from within .eslintrc file, not just via cli"
Hi,

I am using ``eslint@2.2.0``. I think its very likely to use existing ignore files like ``.gitignore``, but I and my team team are using eslint with webstorm and additionally on a git-before-commit-hook. At the same time I would like to have all eslint configurations in one place - for obvious reasons ;)
So I am proposing an ``ignore-path`` option available in the rc file, which might get over

[2016-02-25 22:07] nzakas opened #5401 "Upgrade Espree"
The new version of Espree has been released that supports ES7 exponentiation operator. ESLint can get this for free by upgrading. :)

Aside from installing the new package, we'd just need to update the documentation to mention that `ecmaVersion` can now go to 7.

[2016-02-25 22:16] nzakas commented on #5400
This has been requested a few times, but we have some technical issues that prevent us from doing so. Here's the last issue: https://github.com/eslint/eslint/issues/5038

[2016-02-25 22:16] #5400 closed

[2016-02-25 22:29] #3626 closed

[2016-02-25 22:58] ilyavolodin commented on #5401
Do we need es7 `environment` and new globals added? (Don't think so, based on github repo for ecma script, but just checking to make sure).

[2016-02-25 23:12] #5397 closed

[2016-02-25 23:27] tlhunter opened #5402 "Proposing a "computed-property-as-needed" rule"
With ES6 Computed Properties, one can do the following:

[code]

Note how the brackets around the `['d']` property are superfluous. It could instead be written as `'d'` or `d`.

**When does this rule warn? Please describe and show example code:**

If enabled, the following would trigger:

[code]

Any property which does not need to be computed could trigger the rule.

**Is this rule preventing an

[2016-02-26 00:51] nzakas commented on #5401
No, ES7 doesn't add any globals.

[2016-02-26 00:55] nzakas commented on #5402
Thanks for the suggestion. I'm not sure this makes sense as a standalone rule. If anything, it seems like maybe it would be an option on [`quote-props`](http://eslint.org/docs/rules/quote-props.html).

[2016-02-26 00:56] mysticatea commented on #5401
I guess people are wondering we need `env: es6` when we use es7...?

[2016-02-26 01:51] platinumazure commented on #5121
@nzakas I've been holding off on this due to the wider discussion on auto-fix. How likely is it, in your view, that the fix structure/representation will change? (range to remove, text to insert)

[2016-02-26 02:05] mysticatea opened #5405 "2 tests are failing with espree v3.1.0"
On the current master branch, 2 tests are failing.

- `keyword-spacing valid function* foo() { (() =>yield foo) }:`
- `keyword-spacing valid function* foo() { (() => yield foo) }:`

Since arrow functions cannot become generator functions, we cannot use `yield` expression in arrow functions. (on old espree implementation, that has been allowed wrongly.)
I will fix this...

https://travis-ci.org/esl

[2016-02-26 02:36] ilyavolodin commented on #5121
@platinumazure Pretty likely that it will change, however, that change is probably a few month off. In any case, it's better to have that code in the repository and modify it when we change autofixing, then not.

[2016-02-26 02:37] #5405 closed

[2016-02-26 02:44] btmills commented on #5401
I would think a new `es7` environment that's just a shorthand for `ecmaVersion: 7` and doesn't contain any globals makes sense as a parallel to the existing `es6` environment.

[2016-02-26 02:56] platinumazure commented on #5121
@ilyavolodin Understood. Hopefully there won't be too much change needed-- all I want to do at this point is allow postprocess to modify fix information, and ESLint can then just apply fixes. Same interface even if implementation changes, hopefully.

I will press on, then.

[2016-02-26 03:35] #5381 closed

[2016-02-26 03:39] #4182 closed

[2016-02-26 03:47] btmills commented on #5401
I have a few minutes and can take a stab at this.

[2016-02-26 04:17] michaelficarra commented on #5396
Definitely :-1: on this. The examples that were supposed to support this change are actually great examples of why this rule was created.

[2016-02-26 04:45] ilyavolodin opened #5407 "Selector support"
This is an issue to discuss selector support for ESLint. This feature has been proposed pretty much as soon as ESLint was created, but we never had time to implement it. There has been attempts to bring in already created tools like `ESQuery` and `CSSAuron` that support selectors, but all of them would require additional traversal of AST, which we want to avoid.
The main question is what type of s

[2016-02-26 04:46] #5290 closed

[2016-02-26 05:48] platinumazure commented on #5407
If we keep track of parents (we do, right?), I can't imagine it would be that hard to implement these as extra event triggers. Then we basically already support them.

Example: We've entered Identifier and it is a left child of BinaryExpression which is init of VariableDeclaration. We emit "BinaryExpression>Identifier" (direct parent, only one of these), and traverse up the parent tree to emit "Bi

[2016-02-26 07:33] alberto commented on #5092
So, is this accepted?

I intended to do this.

[2016-02-26 07:51] mysticatea commented on #5401
Related: #5200

[2016-02-26 08:45] scriptdaemon opened #5408 "'no-unused-vars' false flag when variable only used in template string"
**What version of ESLint are you using?** 2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?** Defaults

**What did you do? Please include the actual source code causing the issue.**

The code in question:

    function sendSteamRepReport(chatId, userId) {
      let options = {
        'url'  : 'http://steamrep.com/api/beta/reputation/${userId}?json=1',
        'jso

[2016-02-26 08:45] Givemeyourgits opened #5409 "module babel-eslint not found when installed global"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Babel-ESLint version 5.0.0

**What did you do? Please include the actual source code causing the issue.**
export default class MyClass { }

**What did you expect to happen?**
Nothing

**What actually happened? Please include the actual, raw output from ESLint.**
Cannot fin

[2016-02-26 08:54] BYK commented on #5408
Well, looking closely `let msg  = 'SteamRep report for ${name}: ${reputation}';` is not template literals :)

[2016-02-26 08:54] BYK commented on #5408
Also I verified that the following works on master:
[code]

[2016-02-26 08:54] #5408 closed

[2016-02-26 13:47] ilyavolodin commented on #5407
That would be n ** (n * m) selectors (or is it n ** n ** m?) where n is number of nodes, and m - number of attributes. That's definitely not the way to go. I know how I want to implement this without affecting performance or existing architecture. That shouldn't be a problem.

[2016-02-26 13:47] michaelficarra commented on #5401
It's not called ES7, it's ES2016. For ES2015, we could get away with calling it ES6 because of existing literature that had made assumptions about the name, but nobody will say ES7, ES8, ES9, ES10, etc.

[2016-02-26 13:55] platinumazure commented on #5407
Attributes make things messy, sure, but exponential? I had projected
quadratic on tree height for parents and descendants, and quadratic on tree
height times linear on attribute count for non-nested attributes. My
thinking was that my approach would allow for gradual implementation of
selector types.

What sort of selectors are people actually demanding? Like, with actual use
cases?
On Feb 26, 201

[2016-02-26 13:58] #5368 closed

[2016-02-26 14:00] ilyavolodin commented on #5408
@scriptdaemon template literals will only work if you use \` quotes around them. Otherwise those are just strings.

[2016-02-26 14:11] ilyavolodin commented on #5407
@platinumazure `BinaryExpression Identifier` doesn't mean grandparent, it means any `Identifier` tag with `BinaryExpression` as one of the parents. Even if it's 20 levels removed. More then that, you can have as many qualifiers as you want in the selector, so it might look like `Program BinaryExpression Identifier`, so that means exponential and not quadratic. Once you add attributes into the fold

[2016-02-26 14:18] tomkur opened #5410 "Cannot un-ignore specific subdirectory in node_modules"
I am developing React Native application and I am keeping the code inside ```node_modules/mylibrary```. The reason why I keep it there is to avoid relative paths between modules in my library and that's the recommended way to do that according to [this](https://github.com/substack/browserify-handbook#node_modules). I would use symlinks if it wasn't for [this](https://github.com/facebook/react-nati

[2016-02-26 15:16] ilyavolodin commented on #5410
Hmm.. I don't think you can un-ignore anything inside node_modules, because it's ignored at a different level. Not really sure what we can do for this case. @eslint/eslint-team ideas?

[2016-02-26 15:35] faceleg commented on #5083
:)

[2016-02-26 16:21] btmills commented on #5401
Update: I'm waiting to see what happens with eslint/espree#254. I tried to add exponentiation operator tests to `space-infix-ops`, but they fail right now because the `type` for the operator token isn't a string.

[2016-02-26 16:38] nzakas commented on #5396
@keithamus sorry, it doesn't seem there's enough support to make a change here.

[2016-02-26 16:38] #5396 closed

[2016-02-26 16:40] nzakas commented on #5410
Seems like this should work if we are mimicking .gitignore behavior.

[2016-02-26 16:47] nzakas commented on #5409
Can you share the directory of the file you're linting and the full path to your config file?

[2016-02-26 16:48] keithamus commented on #5396
Fair enough. I'll take the downvotes on board and try to find suitable ways to use this in future.

[2016-02-26 17:19] Givemeyourgits commented on #5409
Files I am linting are here:
[code]

I put .eslintrc here (only because I haven't figured out a way to get it to work globally with Sublime Text, the arg parameter for SublimeLinter 3 doesn't seem to pick it up if I specify it.  If I use eslint & babel-eslint globally, it will throw error it cannot find babel-eslint.

[code]

[2016-02-26 17:55] jsonmaur opened #5411 "Extend a shareable config from another package"
This issue is in reference to https://github.com/google/eslint-config-google/issues/8.

When using a shareable config package in another shareable config, it does not resolve to the second config in Node < v5.x. The example here is with `eslint-config-google` extending from `eslint-config-xo`, but `eslint-config-xo` does not resolve unless it is installed in the original package using eslint: `Err

[2016-02-26 18:03] jsonmaur commented on #5411
According to [this](http://eslint.org/blog/2016/02/eslint-v2.0.0-released#shareable-config-changes), it should pick up dependencies in the shareable config package.

[2016-02-26 18:07] nzakas commented on #5409
Ah, another Windows user. Welcome. :)

So this is partly a problem with being on Windows. The globally-installed packages aren't in the lookup path from your project, so while you can run `eslint` on the command line after installing globally, the lookup happens from your project's directory and works back up to `C:\`.

On Windows, the globally installed packages are installed in `C:\Users\cspence

[2016-02-26 18:30] nzakas commented on #5083
Okay @platinumazure and @faceleg. I'm taking a stab at writing up how we're triaging issues currently:
https://github.com/eslint/eslint.github.io/blob/maintainerguide/docs/maintainer-guide/issues.md

I'll add you both to the repo, just please don't push directly to the repo or merge pull requests.

[2016-02-26 19:05] nzakas commented on #5401
Fixed the Espree bug and pushed a new version.

[2016-02-26 19:09] ljharb commented on #5092
+1, would love to see this added

[2016-02-26 19:49] tlhunter commented on #5402
You may be right, @nzakas. Perhaps the "as-needed" could throw a warning if superfluous computed property brackets are added.

The "consistent" and "consistent-as-needed" rules may be weird though, surely if one property should be computed, we wouldn't want to require all of them to be? I'm a fan of "consistent-as-needed" myself but wouldn't want all properties to need brackets if only one is comp

[2016-02-26 20:36] noamokman opened #5413 "Sub-configs stopped supporting json files"
**What version of ESLint are you using?**
2.0.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**What did you do? Please include the actual source code causing the issue.**
Updated eslint from v1 to v2 with my shareable config.

**What did you expect to happen?**
My shareable config would continue to work with sub-configs as json files.

**What actuall

[2016-02-26 21:00] TheAlphaNerd opened #5415 "Timline for publishing a new version?"
The test suite for v2.2.0 is broken. As such it is causing failure on the node.js smoke testing suite citgm.

I was curious what the timeline is to publishing a new version with an unbroken test suite

[2016-02-26 21:23] cowchimp commented on #5378
Hi. Please review my PR #5416.
LMK if you need me to change anything.

[2016-02-26 21:25] #5378 closed

[2016-02-26 21:27] Givemeyourgits commented on #5409
Is there an easy hack to put it somewhere require() can reach on Windows?

[2016-02-26 21:34] ilyavolodin commented on #5409
@Givemeyourgits If you put it anywhere in the path of your project, npm should be able to pick it up. So if your project is in `C:\Users\cspence\exercism\ecmascript` putting it in `C:\Users\cspence\exercism\node_modules` or higher should work.

[2016-02-26 21:37] Givemeyourgits commented on #5409
I was trying to set it so it would be global so all Sublime Text can pick it up no matter what project/folder I am working on.  Same with .eslintrc

[2016-02-26 21:38] ilyavolodin commented on #5415
We usually do releases every other Friday, so the next release is tentatively scheduled for next Friday. We might reevaluate timeline, if we get more issues in the current version.

[2016-02-26 21:41] ilyavolodin commented on #5409
What you could try (not 100% sure it would work without testing it), is put your `.eslintrc` file in `C:\Users\cspence`. In that case, all of the projects that don't have their own configuration file will look there. After that, you should be able to setup `babel-eslint` in each individual project as part of your package dependencies. If you don't want to do that, you can put `babel-eslint` in `C:

[2016-02-26 21:44] Givemeyourgits commented on #5409
I think that will work as I already did it with eslintrc but was hoping there was a cleaner way.

Thanks for your help!

[2016-02-26 21:59] TheAlphaNerd commented on #5415
@ilyavolodin thanks for the heads up. I currently have CITGM testing off of master. I'll roll back to an official release once there is an update

[2016-02-26 22:14] nzakas commented on #5407
For that, you could use some sort of function. CSS selectors do support functions (like `nth-child()`), so that's your escape hatch whenever something doesn't quite fit.

If you want to go incrementally, I'd say the descendant selector and the child selector (`>`) alone give us a pretty big improvement in writing rules. We can always add more capabilities as we go.

My only question is: does this

[2016-02-26 22:28] flekschas commented on #5074
Unfortunately, I believe the problem still persists. I am able to reproduce the error with the following code:

[code]

ESLint version `2.2.0`, also tested with 8ca6bedac12155891d5dca556498ce12a035eccb.

Here's the output:
[code]

Here's my `.eslintrc`:
[code]

Obviously `clientRect` is assigned the current element's client rectangle on every iteration, so ESLint shouldn't advocate _const_ for `cl

[2016-02-26 22:33] ilyavolodin commented on #5415
Sounds good. I'll close this issue then. Once we release an update this should be resolved.

[2016-02-26 22:41] ilyavolodin commented on #5407
@nzakas Yes, writing something new. I could try to reuse selector parser from some existing library, but I think the rest of it would just not fit our existing structure. In general, I think other then selector parser, the amount of code required for this is minimal (50-100 lines of code, if that). I'll give it a try and create a WIP PR for this once I get it working. I'll probably drop `Assignmen

[2016-02-26 22:52] #5415 closed

[2016-02-26 23:02] ilyavolodin opened #5417 "Add support for metadata to all rules"
I've added support for new rule format and metadata to two existing rules [accessor-pairs](https://github.com/eslint/eslint/blob/master/lib/rules/accessor-pairs.js) and [array-bracket-spacing](https://github.com/eslint/eslint/blob/master/lib/rules/array-bracket-spacing.js) in v2.0.0 release.
This new format should be documented and the rest of the rules should be converted to use it. I'm not sure

[2016-02-26 23:17] ilyavolodin opened #5418 "Add support for rule options normalization"
Right now, every rule that accepts options has a bit of code that checks for `context.options[0]` and tries to extract user options. I think that can be improved by applying options on top of the schema and getting back an object with defaults already pre-filled (we would need to update all schemas to have default options). This will eliminate a bunch of code and make rule creation a bit easier. I

[2016-02-26 23:43] platinumazure commented on #5314
I'll create a repository and try to reproduce this tonight.

[2016-02-27 00:56] alberto commented on #5410
Current .gitignore behaviour doesn't allow unignoring a subdirectory if the directory is ignored, so it's working as expected according to our ignore patterns.

If we wanted to allow people to unignore, we should change the ignore pattern to `/node_modules/*` (also `/bower_components/*` ?) and from what I saw, we should get rid of `this.ig.default`

[2016-02-27 01:29] platinumazure commented on #5314
Turns out the offending code is invoked only by autoconfig, which I didn't realize until I crawled through the source code (and which nobody has yet mentioned). I can reproduce when trying to use autoconfig.

[This repository](https://github.com/platinumazure/eslint5314) shows the bug in action. Follow the steps in README.md to recreate this bug. As far as I'm concerned, this is a real bug. I don'

[2016-02-27 01:37] ilyavolodin commented on #5314
Interesting. I think I've actually ran into this before, but didn't pay enough attention to notice it. Is it possible to reproduce this without autoconfig? I think autoconfig uses slightly different pattern matching then core itself.

[2016-02-27 01:39] platinumazure commented on #5314
I couldn't reproduce with ordinary linting runs. I can keep trying. Are there other, more unconventional ways of specifying files/globs to lint besides as CLI arguments?

[2016-02-27 01:40] ilyavolodin commented on #5314
Not that I know of, how about navigating into `build` directory and running `eslint ../src/*` from there?

[2016-02-27 01:40] IanVS commented on #5314
Autoconfig uses the same glob-utils that the rest of core does, but maybe it's an issue with the cwd.  I'll do some investigating.

[2016-02-27 01:41] platinumazure commented on #5314
@ilyavolodin Tried that earlier, it doesn't reproduce the issue.

[2016-02-27 02:12] faceleg commented on #5083
I was coming here to ask for exactly that, thanks!

Don't worry, I will remain strictly comment-only.

[2016-02-27 02:17] platinumazure commented on #5083
Thanks! Incidentally, I couldn't toggle any labels on an issue I was triaging-- I wonder if it's a prospective thing only? Anyway, I also promise not to push to the repo or merge pull requests.

[2016-02-27 02:27] platinumazure commented on #5228
Seems like this is an enhancement request. I would champion it, for what it's worth.

### Example 1

[code]

Current behavior: No warnings

Desired behavior: Should warn

### Example 2

[code]

Current behavior: No warnings

Desired behavior: No warnings (this should join the valid tests if it isn't there already)

[2016-02-27 04:04] SpadeAceman commented on #5329
Regarding "efix" and "wfix", they seem too cryptic to me. How about "error-fix" and "warn-fix"? That way, opting into fixing is as easy as appending "-fix" to what's already there. (Well, in most cases – I'm assuming "off-fix" wouldn't be allowed.)

[2016-02-27 04:17] IanVS commented on #5314
I've done a little more digging and I'm starting to understand this.  What @rawalter21 said in his first comment is correct, we have a very simple test for "dotfiles" (which is anything starting with a `.`), so patterns like `../example.js` are being treated as dotfiles and ignored.

Now that I'm starting to understand the code and the issue, I should be able to come up with some kind of solution

[2016-02-27 04:27] ljharb commented on #5401
fwiw, lots of people call it ES7 - but I doubt anyone will call it ES8. and yes, it's ECMAScript 2016, 7th edition, so both "ES2016" and "ES7" are technically correct identifiers for this edition of the spec.

[2016-02-27 04:42] platinumazure commented on #5314
@IanVS If we reconcile cli-engine to use the same glob-utils function, will that introduce the issue in linting as well?

[2016-02-27 04:44] IanVS commented on #5314
Not to worry, I'll make sure it doesn't.  :grin:

[2016-02-27 06:51] platinumazure commented on #5228
Oh, or alternatively, should this go under `valid-typeof`? The rule could be given an option to enforce that the typeof check is either assigned or compared via equality/inequality operator.

[2016-02-27 12:46] mysticatea opened #5420 "`no-undef` false positive"
From https://twitter.com/ymyzk/status/703426419481661440 (Japanese)

`no-undef` is warning `new.target` meta property.

[code]

This seems to be a bug of `escope`.
`escope` has been creating references of `new` and `target` identifiers.
I will try to fix this.

[2016-02-27 12:58] mysticatea commented on #5074
@flekschas Thank you for reporting.

Actually, this is intentional behavior for now.
You can modify the code with:

[code]

Please see: #5251, #5283, and #5284.
Especially #5284, we have a plan to remove this behavior from `prefer-const`.

[2016-02-27 14:50] mysticatea commented on #5228
Interesting.

Either `no-constant-condition` or `valid-typeof` sounds reasonable to me.
I'll vote to `no-constant-condition`.
It's always truthy value for choice or loop conditions.

[2016-02-27 14:57] ilyavolodin commented on #5228
Agree. While this is a constant condition that never changes, it's also a valid typeof, so I don't think it's a good fit. `no-constant-condition` enhancement sounds good.

[2016-02-27 16:10] platinumazure commented on #5417
Per the Gitter chat, I think @nzakas' vision was to do documentation first, then start converting rules accordingly. Should this issue be retitled and/or split accordingly?

[2016-02-27 16:15] platinumazure commented on #5380
Hmm. Is there really a strong need to serialize the line, anyway? Some other formatters (stylish, compact) don't bother.

Then again, it would be a breaking change to remove it unconditionally, so let me raise one more thought: Could we support formatter-specific CLI or CLIEngine options? These would be ignored by default by all formatters, but the JSON one could have an option for omitting serial

[2016-02-27 16:18] platinumazure commented on #5413
Just to confirm, this used to work in 1.x? If so, I think this is a regression and should be labeled accepted/bug/core.

[2016-02-27 16:21] platinumazure commented on #5413
One more question (cross-posted from PR): It seems that we might also have removed support for YAML sub-configurations as well. Should we address that here?

[2016-02-27 16:22] nzakas commented on #5083
@platinumazure you should have received an invite from GitHub. You need to accept the invite before changes take effect.

[2016-02-27 16:23] nzakas commented on #5413
YAML subconfigs work fine. We use one in the ESLint repo.

[2016-02-27 16:28] nzakas commented on #5380
No, we don't want to complicate formatters by passing additional options into them. We added the JSON formatter so people could pipe that to whatever tools they wanted. See https://github.com/eslint/eslint/issues/2989

[2016-02-27 16:31] platinumazure commented on #5380
In that case, should we consider adding a new formatter (maybe "simple-json" or "minimal-json") which omits some values in serialization? That would seem to be a good way to help @ahal out.

[2016-02-27 16:32] platinumazure commented on #5083
My mistake, I've accepted the invitation and I believe all is well. Thanks!
On Feb 27, 2016 10:22 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-02-27 16:34] nzakas commented on #5228
Not sure I can get behind this change. We have now crossed over from simple static analysis to interpreting the meaning of an expression. What we flag right now are obvious boolean conditions, but this is coercion, and more likely than not a bug, do we really want to start adding these types of conditions?

[2016-02-27 16:36] platinumazure commented on #5228
@nzakas What about a standalone rule for this (UnaryExpression with typeof, not in a comparing BinaryExpression, in boolean context such as IfStatement condition)? Or as an extra augmentation of `valid-typeof` per my suggestion above?

[2016-02-27 16:38] nzakas commented on #5418
That would be really nice! Is there any perf hit for this?

[2016-02-27 16:39] nzakas commented on #5410
@alberto that seems like a good approach

[2016-02-27 16:40] nzakas commented on #5407
Not sure I understand what you're asking, can you explain some more?

[2016-02-27 16:40] #5409 closed

[2016-02-27 16:48] nzakas commented on #5085
I'd like to see more purple, kind of like the purple Heroku uses: https://www.heroku.com/

[2016-02-27 16:51] IanVS commented on #5410
We may want to keep ig.default.  It is used in cli-engine to determine
whether warnings should be shown. But, maybe we can handle that another
way.

On Sat, Feb 27, 2016, 11:39 Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-02-27 16:53] platinumazure commented on #5411
@jsonmaur I'm not quite sure if you're reporting a bug or asking a question here. Since you are talking about unexpected behavior/being unable to do something, could you please answer the questions [here](https://github.com/eslint/eslint/issues/5411#issuecomment-189681270)? Then we'll be able to more easily determine if we have a bug here. Thanks!

[2016-02-27 17:00] ilyavolodin commented on #5418
Hmm... I don't think there should be, but I have no supporting arguments for that statement. @btmills are you aware of any existing libraries that are capable of doing this? Seems like something that should be pretty standard for JSON schema. We could then check performance and see if it slows things down. Otherwise we would need to create our own converter, which is not very complicated, but shou

[2016-02-27 17:03] platinumazure commented on #5221
This discussion seems really interesting and promising. What's next? Is there more to bikeshed here, or is it worth someone writing a PR for one of the cases above (say, the non-default parser crash case)?

[2016-02-27 17:08] ilyavolodin commented on #5407
Right now we have `node-event-generator` that handles standard nodes. I could remove it all together and replace it with `selector-event-generator` where simple nodes will become just one use-case of selectors. However, there might be slight performance hit for selectors (they need to be at least parsed), so originally I was thinking of saying if event has any characters that don't match `[A-Za-z:

[2016-02-27 17:16] platinumazure commented on #5200
I believe espree now supports exponentiation and we are using it in `space-infix-ops`, so I believe this can be closed. Please reopen if something else still needs to be done.

[2016-02-27 17:16] #5200 closed

[2016-02-27 17:51] ljharb commented on #5200
@platinumazure Thanks! in which released version of `eslint` is it able to parse `**`?

[2016-02-27 17:55] ilyavolodin commented on #5200
@ljharb Current version will be able to parse exponentiation operator if you reinstall (or upgrade Espree manually), next version will support it in `space-infix-ops`.

[2016-02-27 17:59] ljharb commented on #5200
Hmm, after `npm uninstall eslint && npm install eslint`, it still gives me `Parsing error: Unexpected token *`. I'll wait for the next version (hopefully it will be soon!)

[2016-02-27 18:35] jmm opened #5421 "Rules in Plugins docs incorrectly references environment"
[This part](https://github.com/eslint/eslint/blob/8ca6bedac12155891d5dca556498ce12a035eccb/docs/developer-guide/working-with-plugins.md#rules-in-plugins) is a mistake:

Should read something like:

[2016-02-27 18:40] platinumazure commented on #5200
@ljharb We usually release every other Friday, with this coming Friday being the next expected release date. Hopefully at that time, ESLint will also come bundled with a version of espree (parser) that will parse the token correctly. So hopefully everything will work for you when we release on Friday. Sorry for any confusion.

[2016-02-27 19:49] btmills commented on #5418
It looks like there's a [Python library](http://python-jsonschema.readthedocs.org/en/latest/faq/) and maybe a [JavaScript option](https://github.com/chute/json-schema-defaults) to extract defaults. [is-my-json-valid](https://github.com/mafintosh/is-my-json-valid), which is what we use to validate, doesn't merge in defaults.

I think the way you have it specced makes it harder since it's not a para

[2016-02-27 21:24] briandipalma commented on #5289
FWIW I also think this is a bug, I see @BYK fixed the issue and it's just waiting for an OK from @gajus and @rpatil26 to be merged in? Does this mean we should just disable the rule or ignore the warnings until the next release of ESLint?

[2016-02-27 23:18] kaicataldo commented on #5009
I have everything completed except the documentation - will try to get that done this weekend

[2016-02-28 00:05] ljharb commented on #5200
Sounds great, thanks!

[2016-02-28 01:00] kaicataldo commented on #5009
PR opened

[2016-02-28 02:08] IanVS commented on #5410
I'm doing some work in the ignore rules already, happy to take this one on if you haven't started, @alberto.

[2016-02-28 02:40] scriptdaemon opened #5424 "Rule Proposal: Enforce a maximum number of statements per line"
`1. When the rules will warn. Include a description as well as sample code.`

`max-statements-per-line`: There should be a rule to warn the developer when any line(s) of their code contains more than a maximum allowed number of statements (ignoring variable declarations in for type specifiers).

Passing code:
[code]
Not passing code:
[code]

`2. Whether the rule prevents an error or is stylistic.`

[2016-02-28 04:44] IanVS commented on #5314
Status update: so far I've done a lot of investigating, cleaned up the tests, and added a failing test for this issue: https://github.com/eslint/eslint/blob/8f07d0adea2d0822fb8a5a5c8b8b45be95f8acdb/tests/lib/ignored-paths.js#L355

Now hopefully I'll be able to make progress on actually solving it tomorrow.

[2016-02-28 06:44] platinumazure commented on #5424
Hi @scriptdaemon, you've answered some of the questions we usually need answered, but there are a couple more. Please take a look at http://eslint.org/docs/developer-guide/contributing/new-rules#proposing-a-rule for more info. Thanks!

[2016-02-28 06:47] platinumazure commented on #5421
It's definitely confusing, especially with an "Environments" section below it. Leaving the decision on final wording to a core team member.

[2016-02-28 07:51] scriptdaemon commented on #5424
I updated the request to include the question I didn't answer and added the questions into the post to specify where I answered each question.

[2016-02-28 08:39] alberto commented on #5410
Ok, go for it.

[2016-02-28 10:51] alberto commented on #5410
Notice there is a bug in `ignore`: https://github.com/kaelzhang/node-ignore/issues/10

I don't think we should rely on that behaviour.

[2016-02-28 10:58] TrejGun opened #5426 "error in no-useless-constructor"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
babel-eslint

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
eslint will exit with code 0

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-02-28 12:21] isiahmeadows commented on #5228
I would be fine with a new rule for those suggestions (there's a few other
cases where `typeof` could be pointless, such as checking `typeof x ===
"undefined"` when `x` is already defined within that scope, but those
should get their own rule).

But I think this specific suggestion of mine should just augment an
existing rule. Unlike some of the other suggestions, my initial request
hardly adds an

[2016-02-28 14:01] faceleg commented on #5426
I'm not able to replicate this by:

[code]

[2016-02-28 14:02] faceleg commented on #5426
Assigned to self while evaluating.

[2016-02-28 14:04] faceleg commented on #5355
@tleunen have you opened an issue on babel/babel-eslint?

[2016-02-28 14:05] faceleg commented on #5426
Possibly related to: https://github.com/eslint/eslint/issues/5355#issuecomment-186814689

Please consider opening an issue on babel/babel-eslint.

[2016-02-28 14:28] julienw commented on #4606
So I actually found that glob was not following symlinks and I created https://github.com/eslint/eslint/pull/5422 to fix it for me. Is it contradictory with what you see @medains ?

[2016-02-28 14:30] julienw opened #5427 "Directory symlinks are not followed"
While working on the gobble eslint plugin (https://github.com/julienw/gobble-eslint) I realized that eslint is not following symlinks for directories. Note it follows symlinks just fine for normal files.

[2016-02-28 14:33] julienw commented on #5427
I think this will be improved in https://github.com/eslint/eslint/issues/4606 but from what I understand in that bug, following symlinks is what we should do now.

[2016-02-28 15:02] michaelficarra commented on #5228
@isiahmeadows `typeof` can produce a falsy value through use of `Symbol.toStringTag`. Though for the purposes of a linter, it may be okay to ignore that.

[2016-02-28 18:07] nzakas commented on #5228
I don't think this rises to the level of a standalone core rule. I still haven't seen a good argument as to why this should be included in `no-constant-condition`. @ilyavolodin @mysticatea can either of you explain your rationale, since it seemed like you were in favor of this change?

[2016-02-28 18:12] #5334 closed

[2016-02-28 18:13] nzakas commented on #5421
I think the suggested wording is good.

[2016-02-28 18:23] julienw commented on #5427
The bug is present in latest eslint v2.2. It's difficult to propose a ready-to-use testcase because the issue is with symbolic links but it should be quite easy to do a local one.

[2016-02-28 18:32] nzakas commented on #5407
I mentioned this way back when we first started talking about selectors: I think you can just hook into existing events. For a selector like `FunctionDeclaration Identifier`, you can tell the node is an `Identifier`, so you just listen for that event and then filter for nodes whose parents is `FunctionDeclaration`. For most selectors, you should be able to find the target pretty easily. For generi

[2016-02-28 18:34] nzakas commented on #5221
We need to identify the types of errors we'd want to cover and then start adding them. Also, figure out what data we want to log into a `eslint-debug.log` file when it crashes.

[2016-02-28 18:38] nzakas commented on #5380
Most of our formatters already don't output the source text. Adding another formatter just for this purpose is a bit much, especially when it's easy to create a custom formatter that does exactly what you want.

[2016-02-28 18:38] nzakas commented on #5092
Go for it

[2016-02-28 18:47] nzakas commented on #5336
We already have `overrides` in that rule: http://eslint.org/docs/rules/keyword-spacing#options

What he's asking for is another way to configure the overrides so as to say "don't check spacing for this keyword".

The only way we can possibly do this is something like:

[code]

I'm not sure if it's a good idea to do so, though.

[2016-02-28 18:48] nzakas commented on #5270
Yeah, that's way too specific for a core rule.

[2016-02-28 19:07] ilyavolodin commented on #5228
[code]
is a constant condition. It's most likely a mistake and easy enough to catch. I think it's a reasonable addition that doesn't add much complexity. I'm not sure I see a huge different between the example above and ``if (true) {}```.

[2016-02-28 19:14] platinumazure commented on #5380
It sounds like we're deciding not to fix this in core. Should we close this as wontfix?

@ahal If you would like help writing a custom formatter, please feel free to reach out in our Gitter chat, and we'll do our best to help.

[2016-02-28 19:33] phnguyen89 opened #5429 ""quotes" rule for backtick should not flag import statements"
Hi,

I am using the latest version (2.2.0) with babel-eslint (5.0.0) via webpack (1.12.14).

My current .eslintrc uses the following rule

Originally I had it set to 2, but I kept getting

for import statements like `import Rx from "rx";`.

From what I can understand reading the specs on [MDN](http://www.ecma-international.org/ecma-262/6.0/#sec-imports), the FromClause and ModuleSpecifier evaluate

[2016-02-28 19:38] platinumazure commented on #5429
Sounds like a bug to me. I believe we have had to ensure that string literals in `ObjectExpression` nodes were not incorrectly flagged as incorrect by the quotes rule. I'll try to reproduce in a bit.

[2016-02-28 19:43] phnguyen89 commented on #5429
Wow that was fast!  After reading the quotes rule some more, I think I'll stick to

since that has more synergy with the import statements :)

[2016-02-28 20:04] platinumazure commented on #5421
@jmm Would you like to submit a pull request with your suggested wording?

[2016-02-28 20:05] platinumazure commented on #5314
@IanVS Great to hear! Do you still want me to keep my repository around, or may I remove it?

[2016-02-28 20:32] platinumazure commented on #5429
@phnguyen89 Glad you figured out something that will work for you. If you don't mind helping me investigate in case there is a bug, could you please add your eslint config, plus anything else @eslintbot has requested? Thanks!

[2016-02-28 20:49] #5380 closed

[2016-02-28 22:38] wmertens commented on #3480
It is hard to avoid nested ternaries in React JSX expressions since it is the only available flow control inside them short of creating an immediately-evaluated function.

The only other alternative is preparing the result beforehand, which can be confusing and hard to maintain.

When doing multi-line ternaries, it also helps with figuring out nesting, somewhat.

I think that allowing parens aroun

[2016-02-28 23:01] Qix- commented on #3480
I still don't see why this can't be supported. This is a perfectly viable rule suggestion...

[2016-02-28 23:26] platinumazure commented on #3480
@Qix- On its own, this is a perfectly reasonable and feasible rule proposal. However, it is likely to collide with rule `no-extra-parens` and cause confusion for users. The rules can't know about each other's configuration, so users will commonly enable this proposed exception and not know to do a similar exception in `no-extra-parens` (which may not even exist at this point).

We have to be extre

[2016-02-28 23:58] phnguyen89 commented on #5429
@platinumazure Just got your message.  Here is the file [eslintrc.txt](https://github.com/eslint/eslint/files/150200/eslintrc.txt).  Not sure if the following will help, but I have included them anyway: [babelrc.txt](https://github.com/eslint/eslint/files/150204/babelrc.txt) and
[package.json.txt](https://github.com/eslint/eslint/files/150205/package.json.txt).

[2016-02-29 01:18] rozzzly commented on #5420
Im also getting it on `const derp = Symbol();`

[2016-02-29 01:25] mysticatea commented on #5420
@rozzzly Can you open a new issue? This issue is about `new.target` meta property.

[2016-02-29 01:33] TrejGun commented on #5426
sorry here is `.eslintrc` to reproduce the issue
[code]

[2016-02-29 01:39] IanVS commented on #5314
You can remove it. Thanks for the demonstration.

On Sun, Feb 28, 2016, 18:37 Kevin Partington <notifications@github.com>
wrote:

[2016-02-29 01:46] flekschas commented on #5074
@mysticatea Thanks for the clarification and the proposed solution. I understand the intention but the current behavior still feels like a bug to me rather than a feature. For example, initially assigning `undefined` to `clientRect` avoids throw a warning:

[code]

Logically the code above is identical to my first example so shouldn't ESLint either complain in both cases or in none? Or am I missin

[2016-02-29 01:52] mysticatea commented on #5074
@flekschas Please see also:

[2016-02-29 02:29] michaelficarra commented on #5426
@trejgun Please try to repro using master. This rule has changed very significantly since the last release, and I would be surprised if this bug still exists.

[2016-02-29 03:43] michaelficarra commented on #5429
See https://github.com/eslint/eslint/issues/3181. This is already fixed.

[2016-02-29 04:52] IanVS commented on #5314
Another update: I made some more progress on branch [issue5314](https://github.com/eslint/eslint/compare/issue5314?expand=1), and although all the `ignored-paths` tests are passing, I've broken a number of other tests and I'll need a few more days to finish.

[2016-02-29 05:45] rozzzly commented on #5420
Well I found that I just had to edit:
#####  _**`.eslintrc`**_

[code]

[2016-02-29 06:17] jsonmaur commented on #5411
Sorry I wasn't more clear--I'm reporting a bug. I'm not able to extend a shareable config from another shareable config, unless I'm running Node >= 5. So if I'm running Node 4.3 for example and I run `npm install --save-dev eslint eslint-config-google` in a new project (which extends from `eslint-config-xo`), it throws this error:

[code]

So although the `eslint-config-xo` dependency is installed

[2016-02-29 06:31] jsonmaur commented on #5411
It seems to be a problem with npm versions earlier than 3.0, rather than the Node version.

[2016-02-29 06:44] platinumazure commented on #5411
Is there anything ESLint could/should do to work around the npm version issue? At this point, it doesn't sound like there's anything we can do here, but I'm not an npm expert by any means.

[2016-02-29 06:53] jsonmaur commented on #5411
Nor am I. But I would assume ESLint should resolve the dependency the same way Node resolves modules. First looking in the project dependencies to work with npm@3, then looking in the shareable config dependencies to work for npm@2 if the former doesn't exist, then throwing an error if neither exist. I'm not familiar with eslint's core, otherwise I'd take a shot at a PR. If I get some time this we

[2016-02-29 07:16] phnguyen89 commented on #5429
@michaelficarra I see; I didn't realize it was already fixed for v1.0.0-rc-1.

[2016-02-29 07:16] #5429 closed

[2016-02-29 08:58] mysticatea commented on #5411
Sounds like a bug.

As far as I know, ESLint has been resolving `extends` property relatively from the config file since #5023.

[2016-02-29 09:53] Qix- commented on #3480
Can't you detect if the parens are around a ternary operation and, if so, check to see if this rule is enabled in order to determine if an error/warning needs to be raised? Doesn't seem like such a confusing thing...

[2016-02-29 13:00] medains commented on #4606
@julienw: it's related - passing the follow option to node-glob is part of the solution, but using allowing the user to select the value (follow:true) as the default.   Passing "follow:false" results in unexpected behaviour.

[2016-02-29 13:03] doberkofler commented on #5424
This is a rule I would also look forward to having in the core set of rules.

[2016-02-29 13:59] ilyavolodin commented on #3480
Qix, we don't have a mechanize to "check to see if this rule is enabled", and we don't want to couple rules among themselves, that would lead to unsustainable code. So, in short, no - rules cannot know anything about other rules.

[2016-02-29 14:06] tleunen commented on #5355
No because an issue is already open to support eslint 2.x

[2016-02-29 15:06] ilyavolodin commented on #5355
Closing, as this seems to be a `babel-eslint` issue. Feel free to reopen if you can reproduce it with default parser.

[2016-02-29 15:32] Elijen opened #5434 "List of rules that can be auto-fixed (--fix)"
I think life is too short to fix linting errors manually. Is there a list of rules that can be fixed using `--fix` right now, that are planned to be implemented soon and rules that are never going to be implemented because it would be too dangerous to auto-fix (if any)?

I would potentially like to contribute by implementing auto-fixing for more rules and such a list would be very helpful.

[2016-02-29 15:39] ilyavolodin commented on #5434
Yes, you can find a list of rules that are currently auto-fixable here: http://eslint.org/docs/rules/ anything that is marked with wranch icon supports auto-fixing. We currently only accept auto-fixing for whitespace rules (semi being the only exception out of this rule), due to a very good chance that fixes will conflict with other rules. We are planning to re-address auto-fixing as part of 3.0.0

[2016-02-29 15:39] #5434 closed

[2016-02-29 15:44] Elijen commented on #5434
@ilyavolodin Makes sense, thanks.

[2016-02-29 16:52] nzakas commented on #5228
Hmmm OK, I'm not completely sold, but if you feel strongly, go for it.

[2016-02-29 16:55] #5401 closed

[2016-02-29 17:01] nzakas commented on #5411
Yeah, this is a bug. It looks like we are resolving from too high up the directory tree.

@jsonmaur can you share your directory structure? Specifically, I'd like to see where eslint-config-google and eslint-config-xo are installed relative to your project.

[2016-02-29 17:03] #5092 closed

[2016-02-29 17:06] sindresorhus commented on #5411
@nzakas He shared a test repo in the [original issue](https://github.com/google/eslint-config-google/issues/8): https://github.com/jsonmaur/eslint-test

[2016-02-29 17:24] despairblue opened #5435 "space-before-function-paren does not work for anonymous generator functions"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
* babel-eslint

[code]
**What did you do? Please include the actual source code causing the issue.**
Example:
[code]

**What did you expect to happen?**
I expected it to not lint, because the documentation for the [generator-star-spacing rule](generator-star-spacing.html)

[2016-02-29 17:28] jsonmaur commented on #5411
Thanks @sindresorhus. @nzakas If using npm@3, it will dedupe dependencies, so eslint-config-google and eslint-config-xo will be in the project dependencies. But if using npm@2, eslint-config-xo will be under the dependencies of eslint-config-google.

[2016-02-29 17:46] isiahmeadows commented on #5228
@Michael How is `typeof` affected by Symbol.toStringTag? Last time I
checked, that's only Object.prototype.toString that's affected. And also,
an empty string results in "[object ]" in that case.

On Mon, Feb 29, 2016, 11:52 Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-02-29 17:54] michaelficarra commented on #5228
@isiahmeadows Ah, sorry. I meant new user-defined value types, which are not available yet. I don't know how `Symbol.toStringTag` came out. Must have been tired.

[2016-02-29 17:58] isiahmeadows commented on #5228
Okay. In that light, it still should be an option that can toggled, since until then, my initial assertion still holds, unless [the implementation defines its own type that return something different](http://www.ecma-international.org/ecma-262/6.0/#sec-typeof-operator) (which is very strongly discouraged by the spec).

[2016-02-29 18:18] platinumazure commented on #5435
Can you reproduce this with the default parser?

[2016-02-29 18:54] lencioni opened #5437 "no-undef does not catch when variable is used before it is defined"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

[code]

**What did you expect to happen?**
I expected the eslint output to include:

[code]

**What actually happened? Please include the actual, raw output from ESLint.**
There w

[2016-02-29 18:57] platinumazure commented on #5437
The `var` declaration is hoisted above the function call. In addition, `no-undef` is not the rule you want. `no-undef` looks for variables that are not declared anywhere (i.e., global variables) and reports on those; the rule you want is `no-use-before-define`.

Please feel free to write to our mailing list or visit us in chat if you have questions about how to get `no-use-before-define` to work f

[2016-02-29 18:57] #5437 closed

[2016-02-29 19:08] despairblue commented on #5435
Is that the one used for the online demo editor? If so, then yes.

On Mon, Feb 29, 2016, 19:18 Kevin Partington <notifications@github.com>
wrote:

--
Q: Why is this email five sentences or less?
A: http://five.sentenc.es

[2016-02-29 19:19] lencioni commented on #5437
Ah, that makes sense. I forgot about this hoisting. Thanks!

[2016-02-29 19:34] platinumazure commented on #5437
No problem. Like I said, `no-use-before-define` will flag your example use case if you want to enforce that, even with hoisting, so do give it a look. :smile:

[2016-02-29 19:47] wmertens commented on #3480
Okay, so, second best option: How would I go about making a rule that does
this? Pointers would be greatly appreciated…

On Mon, Feb 29, 2016 at 2:59 PM Ilya Volodin <notifications@github.com>
wrote:

--

Wout.
(typed on mobile, excuse terseness)

[2016-02-29 19:48] platinumazure commented on #5435
The online demo editor uses an older version of the default parser, so I guess I'm not sure if it might have been fixed in the newest espree. Hopefully you or a team member can reproduce with latest espree and hopefully that will give us more information.

Do let us know if you get a chance to try it out with latest ESLint with the default parser. Thanks!

[2016-02-29 20:03] BYK commented on #3480
@wmertens - http://eslint.org/docs/developer-guide/working-with-plugins#create-a-plugin is a good start

Then you can look at sample plugins like https://github.com/digencer/eslint-plugin-expires and adapt it. I'd suggest creating your own repo, copy the existing rule you want to modify and go over from that. Also copy the existing tests along to make sure you're not breaking anything.

If you eve

[2016-02-29 20:54] ilyavolodin commented on #3480
Even easier options: https://github.com/eslint/generator-eslint has a generator to start a new plugin for ESLint. You can run that, and it will create all folders and files that you need to get started.

[2016-02-29 21:08] martijndeh opened #5438 "Proposal addition to object-shorthand: add consistent and consistent-as-needed"
**When does this rule warn? Please describe and show example code:**
Similar to the `quote-props` rule, where it's possible to set the rule to `consistent` and `consistent-as-needed`, I'd like the `object-shorthand` rule to include these options as well.

When `object-shorthand` set to `consistent`, the below should not be considered a problem:
[code]
No problem:
[code]

The following should be co

[2016-02-29 21:20] platinumazure commented on #5438
Maybe it's just that I don't do ES6 much, but I'm having a hard time distinguishing what is "shorthand" and what is not.

Can you tell me which of the properties below (1) do *you* consider "shorthand", and (2) does the *rule* consider "shorthand"? Thanks!

[code]

[2016-02-29 21:42] martijndeh commented on #5438
Sure. Please see the below annotated object literal:

[code]

I have a PR coming up (see https://github.com/martijndeh/eslint/tree/feature/object-shorthand-consistent) which implements this feature. Personally I hardly use getters and setts inside object literals, so I decided to exclude these expressions from the consistency check.

This means the following is valid when setting the `"consistent"

[2016-02-29 22:00] platinumazure commented on #5438
Thanks. FYI, we usually don't merge pull requests until the team has fully evaluated the issue and marked it as "accepted", so don't put too much time into polishing up the pull request (otherwise that time would be wasted if we reject the request). See [this page](http://eslint.org/docs/developer-guide/contributing/working-on-issues#issue-labels) for more info.

[2016-02-29 22:04] alberto commented on #5435
Confirmed the rule is explicitly not erroring for anonymous generators:
[code]

@eslint/eslint-team which rule should take care of this?

@btmills you wrote the original code and message.

[2016-02-29 22:25] alberto commented on #5426
Confirmed it no longer throws in master.

[2016-02-29 22:25] #5426 closed

[2016-02-29 22:34] alberto commented on #5417
Should we add a boolean property indicating whether the rule is fixable? It would help with the approach for autofixing mentioned in https://github.com/eslint/eslint/issues/5329. We'll also need it to autogenerate the docs.

[2016-02-29 22:44] alberto commented on #5418
How would that work for rules with optional properties, like `padded-blocks`?

[2016-03-01 01:01] ilyavolodin commented on #5417
@alberto There's a `fixable` field in the metadata, but it's more granular then just Boolean. We decided it would be nice to be able to indicate groups of fixable rules for the future. We can also assume that if fixable field doesn't exist rule is not fixable.

[2016-03-01 01:02] TheSavior commented on #3218
@willklein Any update on your rule?

[2016-03-01 01:03] ilyavolodin commented on #5418
@alberto Optional properties (or `one-of` constructs) will just not be populated, ideally.

@btmills Even if we could get the structure that you posted above, that would be a good start. We can always collapse it to a single level.

[2016-03-01 01:04] #5420 closed

[2016-03-01 01:10] ilyavolodin commented on #5407
Opened WIP PR here: #5441

[2016-03-01 01:25] #5330 closed

[2016-03-01 01:29] ilyavolodin commented on #5348
@xjamundx Any insights?

[2016-03-01 01:30] #5249 closed

[2016-03-01 01:34] TheSavior opened #5442 "Plugin names without the eslint-plugin prefix"
**What version of ESLint are you using?**
1.9.0

**The problem you want to solve**
Our company has a javascript package that we have used for a long time to programmatically define linter configurations. We want to turn this into an eslint plugin but don't want to have to rename this entire project.

**Your take on the correct solution to problem.**
In lots of packages that have plugins, they pref

[2016-03-01 01:35] ilyavolodin commented on #5427
@julienw Do you know if this was working prior to v2.2? It looks like it probably never worked before, due to missing flag for `glob`. I vaguely remember having an issue a while back requesting we remove ability to follow symlinks, maybe that's why it wasn't present?

[2016-03-01 01:44] ilyavolodin commented on #5442
We support plugins without prefixes as named packages. Would that solve your problem? I'm not sure it's a good idea to allow for plugins without prefix, while within a company it could be clearly explained, for an external user, even one of those package might create confusion (especially if we don't have it advertised in the documentation).

[2016-03-01 01:46] TheSavior commented on #5442
Perhaps. Can you link to something about "named packages"? I haven't seen anything about that in the docs.

[2016-03-01 02:51] mysticatea commented on #5435
And I wrote the sentence of the document, but I cannot remember my thought of that time...

[2016-03-01 02:56] mysticatea commented on #5424
Sounds good to me.

[2016-03-01 03:04] xjamundx commented on #5348
Sounds reasonable 👍🏼
On Mon, Feb 29, 2016 at 7:03 PM Jamund Ferguson <jamund@gmail.com> wrote:

[2016-03-01 03:14] ilyavolodin commented on #5424
I think that's generic enough of a request to fit into the core.

[2016-03-01 03:20] ilyavolodin commented on #5442
Hmm.. I just checked documentation, and apparently, I was wrong. Scoped packages are also supposed to be prefixed. And yes, I was talking about scoped packages, not named, sorry for the confusion.

[2016-03-01 04:18] btmills commented on #5435
The only discussion I can find around this is in #1929 on March 3rd of 2015, which indicated that `generator-star` should cover this case. I added an exception to `space-before-function-parentheses` on March 5th. On March 13th, I submitted #1987, which added the `generator-star-spacing` rule, explicitly excluding the same case. (@mysticatea, you're off the hook - that line in the docs dates from m

[2016-03-01 04:44] SpadeAceman commented on #5418
@ilyavolodin Why would you want to collapse the structure example from @btmills to a single level? His proposed default structure makes more intuitive sense to me than the "Result" example in your initial post.

[2016-03-01 04:55] SpadeAceman commented on #3480
Can I request that this type of rejection be tracked for future referece? Specifically, I'm asking for some way of tagging or tracking reasonable rule or rule option requests like this, which are rejected solely because they would clash with other existing rules, in ways the ESLint team believes would be too problematic to support.

Various permutations of this issue have come up before, and will

[2016-03-01 04:58] platinumazure commented on #3480
Actually this sounds like a great idea, like a won't-fix but for a specific
reason. Something like "rule collision" maybe?
On Feb 29, 2016 10:55 PM, "SpadeAceman" <notifications@github.com> wrote:

[2016-03-01 05:41] ilyavolodin commented on #5418
Because it's much easier to operate on objects then on arrays. With arrays you need to know the order of things, with object, all you need are names.

[2016-03-01 07:35] cowchimp commented on #4906
Hi guys,
I wrote an [eslint plugin](https://github.com/cowchimp/eslint-plugin-piggyback) with a rule that tries to enforce what I described above.
Could you please take a look, give me feedback, and weigh-in on whether or not it has enough merit to be a built-in eslint rule (feel free to close this issue if it does not).

I called the rule `no-restricted-global-extend`.
It lets you define an ident

[2016-03-01 08:33] julienw commented on #5427
I'm sure it was not working in v2.0, I can check for earlier versions if it's important but I think like you that it never worked :)

[2016-03-01 09:56] despairblue commented on #5435
Thanks guys. :+1:  Sry for not being able to verify with the default parser in a timely manner.

[2016-03-01 11:51] fatso83 opened #5444 "no-unused-vars regex ignore pattern is not matching"
**What version of ESLint are you using?**
`v2.2.0`

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
`default: espree`

**What did you do? Please include the actual source code causing the issue.**
The important bit is the `argsIgnorePattern` bit, but this is a reproducible script:
[code]

**What did you expect to happen?**
I expected it to output no errors after using

[2016-03-01 11:58] #5444 closed

[2016-03-01 11:59] fatso83 commented on #5444
Forgot there was *two* ignore patterns: one for variables and one for arguments. Changed to `varsIgnorePattern` matched things correctly.

[2016-03-01 13:10] mourner opened #5445 "no-unmodified-loop-condition false positive"
Using ESLint 2.2.0, the following code causes a false positive:

[code]

This is a false positive because `i` is modified in the loop condition. If you replace `len - 1` with `len`, the error disappears.

Reproducible in the [ESLint demo](http://eslint.org/demo/) too. The issue is similar to #5166, but not the same. cc @feross @mysticatea

[2016-03-01 13:43] platinumazure commented on #5418
@ilyavolodin You're not wrong, but that really should be retrofitted to the existing JSON schemas in that case.

[2016-03-01 13:49] ilyavolodin commented on #4906
Thanks for the link. Implementation looks reasonable, but I still don't think it's a good fit for the core. There are so many ways of bypassing this rule in real life, that I don't think it would have a lot of value. As @nzakas mention, `self`, `top` and `parent` are also referring to window. But even if you were to add them to the rule through options, the rule will not capture `window.document.f

[2016-03-01 13:58] ilyavolodin commented on #5418
@platinumazure Schema is there to control user input, what I'm talking about is just a helper that can use that schema to normalize output of the options.

@btmills I just looked at the link to JS library, and that's not what I had in mind. Defaults are just part of the equation, user input is another part that should override defaults. Do you know if there's a library that can take json object, s

[2016-03-01 14:01] SpadeAceman commented on #3480
"rule collision" sounds good, very clear.

I've also realized this could retroactively help identify rule collision patterns over time – perhaps there's a specific rule that keeps clashing with other rules, or a pair of rules could emerge as future merge candidates after repeatedly stepping on each others' toes.

[2016-03-01 14:14] SpadeAceman commented on #5418
@ilyavolodin Aha, I see what you're aiming for now. Would the schema allow you to specify internal-use names for the positional parameters? If so, then perhaps you could do something like this:

[code]

Alternatively, you could combine the positional indexes onto the normalized object, and provide the values that way. While this would still tie you to the positions of the values, you'd at least ha

[2016-03-01 14:21] ilyavolodin commented on #5418
@SpadeAceman Sure, last example would be fine by me. Still makes it a lot easier to work with options then dealing with normal array and then manually applying defaults on top.

[2016-03-01 14:27] kaelzhang commented on #5410
fixed in kaelzhang/node-ignore#11, I will create a pr soon. Now node-ignore acts exactly as the gitignore spec does, according to every rule.

but we should use a default ignore pattern with `node_modules/*` instead of `node_modules`

[2016-03-01 14:52] michaelficarra commented on #5438
You both seem to be confused about how to write methods.

[code]

[2016-03-01 14:55] martijndeh commented on #5438
Ah my bad. I shouldn't have included the `function` keyword in the shorthand function example in the original example. Edited.

[2016-03-01 15:03] platinumazure commented on #5438
@michaelficarra I did note I don't use or know ES6, hence asking the
question in the first place. Thank you for the education.
On Mar 1, 2016 8:55 AM, "Martijn de Haan" <notifications@github.com> wrote:

[2016-03-01 15:57] nzakas commented on #5442
I'm sorry, we can't make such a change right now. The ecosystem is built around prefixed packages for easier discoverability (many don't add the correct keywords to their package, so we can't rely on that). We might allow this in the future if we can solve the discoverability problem in another way, but we can't do it right now.

[2016-03-01 15:57] #5442 closed

[2016-03-01 15:58] alberto commented on #5410
Great! Thanks @kaelzhang

[2016-03-01 16:13] nzakas commented on #5391
Sounds good

[2016-03-01 16:14] nzakas commented on #5402
We probably need an option that opts-in to such a check, but otherwise :+1: . Do you want to submit a PR?

[2016-03-01 16:17] nzakas commented on #5427
@julienw can you please outline a test case that we can reproduce?

[2016-03-01 16:24] julienw commented on #5427
OK, I'll do a script that can create the environment to reproduce. (not before tomorrow though)

[2016-03-01 16:24] nzakas commented on #5411
@sindresorhus I check issues on my phone or tablet most of the time, so a repo that doesn't show what I'm asking for isn't useful as I can't run npm install.

@jsonmaur thanks.

[2016-03-01 16:26] nzakas commented on #5228
@isiahmeadows do you want to submit a PR?

[2016-03-01 16:27] alberto commented on #5445
Confirmed

[2016-03-01 16:39] nzakas commented on #5348
Okie. @bsbeeks if you'd like to submit a PR, this is ready

[2016-03-01 16:41] #5289 closed

[2016-03-01 16:49] bsbeeks commented on #5348
@nzakas sounds good. I should have some time tonight to modify https://github.com/eslint/eslint/pull/5347

[2016-03-01 17:08] isiahmeadows commented on #5228
When I get time, I may. I have never messed with custom rules before,
though, much less ones in ESLint proper.

On Tue, Mar 1, 2016, 11:26 Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-03-01 17:23] pedrottimark opened #5446 "Docs: WIP Guidelines for rule pages"
This issue will accumulate the **reusable patterns** that emerge while the rules pages are edited to improve consistency. The result will become a **template and guidelines** (in a format yet to be determined) for future editing, especially new options and rules.

Goals: https://github.com/eslint/eslint.github.io/issues/186#issuecomment-176457525, https://github.com/eslint/eslint.github.io/issues/

[2016-03-01 17:30] jugarrit opened #5447 "`context` variable is not reported as undefined"
**What version of ESLint are you using?**
v2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**What did you do? Please include the actual source code causing the issue.**
I used a variable called `context` without defining it.

[code]

[code]

**What did you expect to happen?**
I expected eslint to detect an error on the `context` variable.

**What

[2016-03-01 17:45] nicolo-ribaudo opened #5449 "constructor-super - super() must be called even if the class extends null"
**What version of ESLint are you using?**
**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

I'm using the online demo with the default configuration (+ `es6`).

**What did you do? Please include the actual source code causing the issue.**
[code]
[code]

**What did you expect to happen?**

The first code should be fine, in the second ESLint should warn `2:2 - Expected t

[2016-03-01 18:02] michaelficarra commented on #5447
My guess is that you're using the `mocha` environment, since [it defines a `context` global](https://github.com/sindresorhus/globals/blob/1e9ebc39828b92bd5c8ec7dc7bb07d62f2fb0153/globals.json#L857).

[2016-03-01 18:36] jugarrit commented on #5447
That's it! Thanks :)

[2016-03-01 18:36] #5447 closed

[2016-03-01 23:05] lucendio opened #5450 "[rule: no-shadow] false positive caused by a path string"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Espree

**What did you do? Please include the actual source code causing the issue.**

ESLint config excerpt:
[code]
js file content:
[code]

**What did you expect to happen?**
variable declaration of ``name``(line:2) doesnt get marked as a problem

**What actually happene

[2016-03-01 23:11] gyandeeps commented on #5450
Can you please share the exact output?

variable declaration of name(line:2) doesnt get marked as a problem

variable declaration of name(line:2) gets marked as a problem

Currently your expect vs happened response seems to contradict each other.

[2016-03-01 23:32] lucendio commented on #5450
I am sorry. my mistake. I added the output mesage

[2016-03-01 23:56] platinumazure commented on #5450
You should show your whole config- it's possible an environment is enabling a global called name.

[2016-03-02 00:08] lucendio commented on #5450
[eslintrc.txt](https://github.com/eslint/eslint/files/153847/eslintrc.txt)
NOTE: its a ``.yml`` file, but unfortunately github does not support uploading such extension. so I had to rename it.
I thin you might be right, because renaming both, ``:name`` string (line:1) and variable name preventing the error

[2016-03-02 00:53] mysticatea commented on #5450
The `name` variable is defined in the global of `browser` environment.
So this is correct behavior.

[2016-03-02 01:00] brettz9 commented on #2873
While it is true that `new Function` does not execute anything by default and it doesn't have access to the immediate containing scope, it does have access to globals and could steal cookies or do other dangerous things, especially if, as with the other evalish methods, the string were constructed based on user input.

[2016-03-02 03:09] #5007 closed

[2016-03-02 03:13] scriptdaemon commented on #5424
While brainstorming how to go about implementing this rule, I've come across several cases where I'd like some feedback.

Should this rule warn for the following code: `if (condition) statement;`?

If yes to the first question, what about: `statement; if (condition) ...`?

If yes to the first question, should we consider `else`, `catch`, and / or `while` (in a `DoWhileStatement`) as their own "sta

[2016-03-02 03:14] IanVS commented on #5007
Awesome, thanks @mysticatea!

[2016-03-02 03:54] IanVS opened #5452 "`--ext` has no effect on glob patterns"
**What version of ESLint are you using?**

2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

Espree

**What did you do? Please include the actual source code causing the issue.**

I made a project structure like:

[code]

Where `readme.txt` is a plaintext, non JavaScript file.

I executed `eslint non-js/* --ext .js`.

**What did you expect to happen?**

I wasn't

[2016-03-02 04:04] IanVS commented on #3720
I also cannot reproduce this error on `2.2.0`.

@globexdesigns, are you still having problems with this?

[2016-03-02 04:39] faceleg commented on #5450
Closing as not a bug.

[2016-03-02 04:39] #5450 closed

[2016-03-02 04:48] mysticatea commented on #5449
Thank you for the issue.

I need to investigate the spec.
In both patterns, Firefox and Chrome throw an error.

[2016-03-02 08:20] SimenB opened #5453 "Rule Proposal: Disallow duplicate imports"
If you `import` from the same package multiple time, an error should be issued.

Side note: IntelliJ's `optimize imports` joins duplicate `import`s

Sample:
[code]

Should be:
[code]

This is stylistic. And I think it should be in core because it seems like a very general rule, and most people would want to have it turned on.

I would be willing to create this myself, but that might take some time

[2016-03-02 08:27] julienw commented on #5427
@nzakas I created a gist in https://gist.github.com/julienw/face3699c34446c92c52 containing a single shell script.

STR:
1. Run this shell script in an empty directory.
This will create a directory `real` with faulty files: one directly in the directory, one in a subdirectory. And you'll have a link to the directory, inside the `linked` directory.
2. run eslint on `.` and/or on each of the directo

[2016-03-02 08:32] mysticatea commented on #5453
:+1: but this is duplicate of #3478

[2016-03-02 08:33] #5453 closed

[2016-03-02 08:48] SimenB commented on #5453
Ah, thanks! Searching for import gave almost 200 hits, so I didn't find it.

[2016-03-02 09:06] julienw commented on #5427
Maybe `file2.js` is checked in all situations whereas it shouldn't because `follow: false` is broken in node-glob: https://github.com/isaacs/node-glob/pull/242 ?

Also I checked the issue also happens in v1.10.

[2016-03-02 09:18] lucendio commented on #5450
thanks for clearing this up. I am sorry for causing extra work.

[2016-03-02 16:03] pedrottimark commented on #5446
If a rule page has a **level-2 Options** heading, then for each option which has examples there is a **level-3** heading.

The heading text is either:
* string value (for example, always, never)
* object key (for example, after, before, hoist)

For faster scanning, there is **no** additional punctuation (quotes) or formatting (code style indicated by backticks). The example sentences and eslint co

[2016-03-02 16:10] pedrottimark commented on #5446
Most rules (and options) have **examples** of code so people can achieve the following **goals**:
*   *Given* incorrect or inconsistent code, *find a rule* (and its options) to prevent it.
*   *Given* a rule (and its options) in the configuration, *write correct code*.

So people can recognize quickly how rules and options relate to their code, most examples consist of **incorrect** code followed

[2016-03-02 16:30] nzakas commented on #5435
`generator-star-spacing` sounds right to me

[2016-03-02 16:36] nzakas commented on #5418
Just a note: if you are going to hack in numeric properties, be aware that some rules expect an array and may use other array methods or properties, so it might not be straightforward to just swap in a regular object.

[2016-03-02 16:38] nzakas commented on #5452
I think only .js should be matched, that seems like the most intuitive expectation.

[2016-03-02 16:42] #5009 closed

[2016-03-02 16:43] IanVS commented on #5452
I agree it might be more intuitive (or maybe not, because `*` should mean everything), but only returning `.js` files would be taking away power from the globs, and it could be breaking.  If I wanted to get all `.js` files within `non-js`, I could have just used `eslint non-js` or `eslint non-js/*.js`.  I wonder if it's useful to keep the current behavior but document it more clearly.  Also, this

[2016-03-02 16:56] globexdesigns commented on #3720
No. Seems to be okay now.

[2016-03-02 16:57] #3720 closed

[2016-03-02 17:10] calidion commented on #1139
seems not working for me.

[2016-03-02 17:20] platinumazure commented on #1139
@caldion Please open a new issue and follow the instructions in the issue template to provide us with the information we need to help you out. Thanks!

[2016-03-02 17:53] calidion commented on #1139
@platinumazure

I have solved by the following code.
[code]

it seems the rules are changed.

[2016-03-02 18:13] platinumazure commented on #5452
Given that we seem to be going in a direction of relying more on globs, I'm wondering if we should remove the `--ext` option altogether? (As a breaking change in a major version release, of course.)

[2016-03-02 18:35] IanVS commented on #5452
I don't think we want to directly remove the ability to specify a folder, so I think the `--ext` option is still useful.  Why do you think it should be removed?

[2016-03-02 18:43] platinumazure commented on #5452
My thought was that we would remove the command line parameter and use
glob-based configuration. If configuration is at root level and not under a
glob, then we could infer `**/*.js`.

On reflection, I'm not liking that as much. Maybe we should find a way to
combine ext and globs so that `--ext .js` + folder "./stuff" turns into
"**/*.js" internally (and so on for multiple extensions)?
On Mar 2, 2

[2016-03-02 18:47] IanVS commented on #5452
I'm sorry, but I still don't understand your suggestion.  We use `--ext` to convert directories to globs already in:  https://github.com/eslint/eslint/blob/master/lib/util/glob-util.js#L42-L48.

[2016-03-02 19:52] platinumazure commented on #5452
Thanks @IanVS. Forget I said anything.

[2016-03-02 21:48] ksmithut commented on #5234
I'm not sure if this is related, but I believe it to be a valid use case that should be included somewhere in eslint.

[code]

The reason we wouldn't want to use the multiline feature of template strings in some cases is if this string gets returned in an api response or log where we don't actually want to log the newline and extra space characters.

[2016-03-02 23:22] ljharb commented on #2645
This is still a problem - `echo 'var foo; foo = function foo() {};' | eslint --stdin --no-eslintrc --rule 'no-shadow: 2'` on v2.2 also prints out an error - i'm explicitly assigning a function expression to the variable it's shadowing, and I'd expect this to be allowed.

[2016-03-03 00:52] scottohara commented on #5150
Please note that some of the suggested workarounds (adding parens/curlies around the expression) may conflict with other rules, such as `no-extra-parens`, `brace-style` (1tbs) and/or `semi`.

**Example:**
[code]

As expected, the above code fails with:

[code]

**Workaround 1:**  Wrap the assignment expression in parens:

[code]

We now fail with:

[code]

**Workaround 2:** Wrap the assignment exp

[2016-03-03 01:21] mysticatea commented on #5424
In my opinion, this rule should warn statements when we cannot remove semicolon(s).

[2016-03-03 01:32] tleunen commented on #5355
@ilyavolodin I don't think it's really related to `babel-eslint` actually.

I tried in a different project with and without the babel eslint parser and I get the error with both parsers.
The rule that cause the issue is this one:
`"newline-per-chained-call": [2, { "ignoreChainWithDepth": 5 }],`

Thanks.

[2016-03-03 02:26] ilyavolodin commented on #5355
@tleunen Can you provide repro case that we could try?

[2016-03-03 02:43] captbaritone opened #5456 "Replace getLast() (lib/util.js) with lodash.last()"
`getLast()` is the only function in `lib/util.js` and it is essentially identical to `lodash.last()`.

The only difference is that `lodash.last()` returns `undefined` for empty arrays instead of `null`. This minute difference does not seem to cause any tests to fail.

It would allow us to remove the `lib/util.js` and `tests/lib/util.js` files altogether. It would also allow us to remove the duplic

[2016-03-03 02:58] gyandeeps commented on #5456
souds good to me.
@eslint/eslint-team thoughts?

[2016-03-03 02:59] IanVS commented on #5456
:+1:  I'm all for removing code when we can!

[2016-03-03 03:18] mysticatea commented on #5411
I'll work on this.

[2016-03-03 03:34] ilyavolodin commented on #5456
Sounds good to me.

[2016-03-03 03:44] tleunen commented on #5355
After a quick search, I think it might already be fixed?
see https://github.com/eslint/eslint/issues/5289

[2016-03-03 04:06] ilyavolodin commented on #5355
Sounds good. I'll close the issue again then.

[2016-03-03 04:06] #5355 closed

[2016-03-03 12:14] IanVS commented on #3478
This rule seems to already exist as eslint-plugin-import/no-duplicates (https://www.npmjs.com/package/eslint-plugin-import). Is it still worth including in core?

[2016-03-03 13:12] BYK opened #5460 "Rule proposal: no-useless-escape"
## When does this rule warn?

The rule warns when certain characters are escaped unnecessarily in string or regex literals.

### Following are considered errors:
[code]

## Is this rule preventing an error or is it stylistic?

Looks mostly stylistic but I also think it can prevent potential errors.

## Why is this rule a candidate for inclusion instead of creating a custom rule?

I think this is j

[2016-03-03 13:30] BYK commented on #5424
:+1: to @mysticatea - I think that's a very neat and good way to describe it.

[2016-03-03 13:36] BYK commented on #5449
Tested this on Node 4.3  - The class definition works without any issues but when I try to instantiate the class it throws an error:

I think this makes sense so my intention is to close this ticket. That said we should probably consider a new rule, `no-extend-null`, to prevent the problematic case in the first place. @eslint/eslint-team, thoughts?

[2016-03-03 14:00] rafaeleyng commented on #4665
I'm using it like:

[code]

The comment lines are being validated with the `120` instead of the `80`, but if I delete the `'code': 120` then the `80` is applied.

I'm I doing something wrong here?

[2016-03-03 14:00] BYK commented on #5438
I think we just need `always-consistent` or something to enforce consistency for cases when we cannot use the shorthand notation.

[2016-03-03 14:03] ilyavolodin commented on #5449
@BYK We ran into issues before were spec said one thing, but all of the implementations did something else (like `const` inside `for` loop, none of the browsers supported it), and we chose to go with what spec said. So if our rule is doing something that goes against spec, we should fix our rule.

[2016-03-03 14:15] platinumazure commented on #4665
@rafaeleyng Could you please open a new issue? Thanks!

[2016-03-03 14:24] BYK commented on #5449
@ilyavolodin - if you say so, I guess we can check if the immediate parent is `null` and not warn if that's the case. I still think we should also warn if the parent is `null` and `super()` is used.

[2016-03-03 14:42] michaelficarra commented on #5449
@BYK eslint cannot always know when the superclass is `null`. Unless you're only considering the case when a `null` literal is used as the superclass.

[2016-03-03 15:01] BYK commented on #5449
@michaelficarra - yeah, I know :( I was referring to the very limited "immediate parent" case with a `null` literal.

[2016-03-03 15:21] bsbeeks commented on #5348
@nzakas @xjamundx Updated #5347 to reflect the changes discussed. Let me know if any additional adjustments need to be made.

[2016-03-03 15:47] nzakas commented on #3478
There hasn't been any movement here in the past seven months, so might make sense to close and refer people to the plugin.

[2016-03-03 15:53] SimenB commented on #3478
@nzakas #5455

[2016-03-03 15:57] michaelficarra commented on #5424
@mysticatea No, that's not the right way to look at it.

[code]

Two statements, one line, no semicolons.

[2016-03-03 15:59] nzakas commented on #5424
I'd alter this proposal a bit and call it `max-statements-per-line` and let the max be configurable. Hardcoding a max will undoubtedly give us trouble in the future.

[2016-03-03 16:05] nzakas commented on #5452
@IanVS `*` means everything, but I'd argue also using `--ext` signals an intent to not use everything.

I don't mind just documenting this for now, though. It's probably not causing a lot of heartache at the moment.

[2016-03-03 16:07] nzakas commented on #2645
@ljharb the issue is still open, so that is expected. Want to submit a PR?

[2016-03-03 16:08] #5456 closed

[2016-03-03 16:15] #5411 closed

[2016-03-03 16:58] martijndeh commented on #5438
That's `consistent-as-needed`, right?

[2016-03-03 17:48] artptr opened #5462 "no-unused-vars rule don't work while extending the airbnb's config"
[This repo](https://github.com/artptr/eslint-airbnb-no-unused-vars-bug) reproduces the bug in `eslint-config-airbnb`.
There is an error while checking the `test.js`:

[code]

The error appears despite that the parent config contains appropriate `no-unused-vars` setting.
It disappears only if we remove [the airbnb's config](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-air

[2016-03-03 17:51] gyandeeps commented on #5462
Can you please share what you expect to happen?

[2016-03-03 17:52] ljharb commented on #5462
Per https://github.com/airbnb/javascript/issues/773#issuecomment-191884169, "According to the eslint docs, setting the "vars" option should still warn about unused local vars - it seems that error is correct, and that var is unused, meaning that line could be deleted and your program would work the same."

[2016-03-03 18:49] ljharb commented on #5462
@gyandeeps this can be closed - it's just that our env is set to "node" and the user expected that a "legacy" config would be set to "browser".

[2016-03-03 18:53] artptr commented on #5462
@ljharb Of cource and thank you for your participation!

[2016-03-03 18:53] #5462 closed

[2016-03-03 21:03] BYK commented on #5438
It's not really "as-needed". I mean "as-needed" as in "we need to **not** use the shorthand syntax", hence the confusion.

[2016-03-03 21:17] ya8282 opened #5463 "Empty leading lines that only contain linebreaks"
**When does this rule warn? Please describe and show example code:**
Warns when there are empty lines with linebreaks in a file.

[code]

**Is this rule preventing an error or is it stylistic?**
Stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**
Seems like a good practice not to waste additional bytes with empty lines at the beginning of a file.

**Are you

[2016-03-03 21:38] btmills commented on #5463
@ya8282 Check out the [`no-multiple-empty-lines`](http://eslint.org/docs/rules/no-multiple-empty-lines#options) `maxBOF` option - that should do the trick for you! Feel free to ping back here if that doesn't work for some reason.

[2016-03-03 21:38] #5463 closed

[2016-03-03 22:07] ya8282 commented on #5463
Thanks @btmills ! Good to know BOF exists now -- we're constrained to using an older version at the moment because we're using CircleCI.

[2016-03-04 03:19] btmills commented on #5424
My first instinct would be to implement this on blocks, iterating children and verifying that one child's ending line is less than the start line of the next child. This would catch `if (a) { } if (b) { }` but allow `if (a) return b;`.

[2016-03-04 03:33] michaelficarra commented on #5424
@btmills That sounds like the right approach to me. It should apply for all `[ Statement ]` in this document: https://github.com/estree/estree/blob/master/spec.md.

[2016-03-04 04:24] ilyavolodin opened #5464 "Fix documentation generation in the build"
Currently we are prepending a header to every .md file that we copy over to the site. It looks like kramdown requires an empty line before H1 header in order for it to render correctly. We do not add empty line after our header.

[2016-03-04 12:49] Tiagojdferreira commented on #1919
Was the nonmethods property dropped ?

[2016-03-04 12:55] BYK commented on #5336
I think we can use the `mode: "strict"` and `mode: "minimum"` distinction from `key-spacing` rule here.

[2016-03-04 13:44] socketwiz opened #5466 "func-names seems to be ignored"
**What version of ESLint are you using?**
v2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
I "think" its Espree

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expected errors to be thrown on the anonymous functions.

**What actually happened? Please include the actual, raw output from

[2016-03-04 13:46] BYK commented on #5466
This rule applies only when the function is called.

[2016-03-04 13:47] platinumazure commented on #5466
I'm pretty sure `func-names` handles function declarations only. You should check the documentation to see if the rule supports an option that would require a named function for function expressions.

[2016-03-04 13:48] platinumazure commented on #5466
Ack, my memory was wrong. Trust @BYK on this one :smile:

[2016-03-04 14:05] michaelficarra commented on #5466
I don't know what either of you are talking about. The `func-names` rule simply ensures function expressions all have names. I think @socketwiz's configuration just isn't being applied for some reason.

[2016-03-04 14:08] jmm commented on #5421
Thanks all. #5467. Added a set of quotes: `rules => "rules"`.

[2016-03-04 14:16] platinumazure commented on #5466
@socketwiz Can you try `path/to/eslint --print-config path/to/your/file`? Might tell us if you have a different configuration overriding this somewhere.

[2016-03-04 14:16] BYK commented on #5466
@michaelficarra - wow, good wake up call and you are right. I was thinking about `capIsNew` for some reason :S

Anyways @socketwiz, can you run `./node_modules/.bin/eslint --print-config yourfile.js` and share the output?

[2016-03-04 14:47] dsilva opened #5468 "eslint can't find plugins in the node search path but outside eslint's parent directory"
**What version of ESLint are you using?**
2.2.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
babel-eslint

**What did you do? Please include the actual source code causing the issue.**
.eslintrc:

[code]

Take the built eslint npm artifacts and put them in one directory -- let's call that $eslint_parent.

Take the built babel-eslint npm artifacts and put them in a

[2016-03-04 14:57] #5421 closed

[2016-03-04 15:50] kaicataldo commented on #5402
I can try to take a look at this

[2016-03-04 16:00] kaicataldo commented on #5210
Is this still an issue now that v2.0.0 has been released?

[2016-03-04 16:21] #5435 closed

[2016-03-04 16:22] ilyavolodin commented on #5210
@kaicataldo It would be an issue for anyone not using v2.0, and again will be an issue with v3 at some point.

[2016-03-04 16:25] xjamundx commented on #5210
Any objections to pinning major versions in here? I can probably take this
on.

On Fri, Mar 4, 2016 at 8:22 AM, Ilya Volodin <notifications@github.com>
wrote:

[2016-03-04 16:41] ilyavolodin commented on #5210
I think that's the only way to do this. Granted, it's not going to help anyone running versions prior to v2.0, but...

[2016-03-04 16:56] nzakas commented on #5336
@byk can you explain how that would work?

[2016-03-04 17:10] nzakas commented on #5468
Thanks, we can take a look. The goal of the current code was to avoid so many try-catch statements, so we will need to look at possible solutions.

[2016-03-04 17:13] nzakas commented on #5377
I think the right approach fit note is to create a custom formatter. If we get other requests for the same thing, we can look at rolling a solution into core.

[2016-03-04 17:13] #5377 closed

[2016-03-04 17:14] #5348 closed

[2016-03-04 17:56] platinumazure commented on #5188
I'm not sure, to be honest. I was hoping to gather some examples.

I just found one: @nzakas commented about wanting JSDoc parameter annotations not to have punctuation between the parameter name and the description [here](https://github.com/eslint/eslint/pull/5455#discussion_r55055096). We have no way to enforce that in ESLint right now, but that would be an example of a style preference that we

[2016-03-04 19:04] ffxsam opened #5469 "Unexpected behavior in comma-dangle, always-multiline: true"
version 2.2.0

ESLint raised a warning for the following code:

[code]

IMO, it should not, as the array items are on a single line.

[2016-03-04 19:56] ffxsam commented on #5383
Surprised this was closed. Why have `vars-on-top` but no `lets-on-top`? It makes sense that if ESlint allows us to prevent people from using `var` altogether, that there be a substitute for `vars-on-top` that works with `let`.

I agree with @gajus on the point about putting all `let`s at the top of the scope. Better legibility.

On the point about not being able to put `const`s at the top in all s

[2016-03-04 20:09] platinumazure commented on #5469
The expression is multiline, though. An argument could be made either way...

[2016-03-04 20:11] ffxsam commented on #5469
True. But think about the purpose of dangling commas. It's to prevent mistakes where one might have something like this:

[code]

And then they add one more item to the list and forget the comma:

[code]

I think what matters more is, if the list of items are on separate lines, not whether the statement itself is multi-line.

[2016-03-04 20:24] platinumazure commented on #5469
I guess I'm not sure what the original intent of the rule was supposed to be. This could be a bug, or it might be seen as an enhancement request (possibly for a new option).

@eslint/eslint-team Thoughts?

[2016-03-04 21:02] ffxsam commented on #5383
Actually on second thought, `vars-at-top` should be modified to include `let` and possibly `const`. The reasoning behind my suggestion is that `newline-after-var` applies to all three variable types, and it uses the term "var" in the rule name. So why shouldn't `vars-at-top`, for the sake of consistency, do the same?

[2016-03-04 21:23] jmls opened #5471 "Unexpected block statement surrounding arrow body arrow-body-style"
I get this error when linting the following code

[code]

if I add a couple of lines (the let foo = true; foo = !foo)

[code]

then it lints without error

[2016-03-04 21:34] ffxsam opened #5472 "no-undef doesn't understand defining while exporting"
Using version 2.2.0. no-undef complains about the following:

[code]

It complains that `ArtistSettings` is not defined, so it doesn't seem to understand that that's where I'm defining it! :)

[2016-03-04 21:40] ffxsam opened #5473 "Bug found in prefer-const"
Version 2.2.0

Given this code:

[code]

ESlint tells me that `someConst` should be a `const` instead of a `let` because it's never modified.

[2016-03-04 21:47] wsmd opened #5474 "Variables declared inside a for-loop initialization result in block-scoped-var"
**What version of ESLint are you using?**

2.2.0 through Atom's Linter.

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

Only extending "airbnb/legacy". I haven't specified any parsers.

**What did you do? Please include the actual source code causing the issue.**

In this for loop, `new` is being declared within the initialization param of the for loop.
[code]
**Wha

[2016-03-04 22:01] erikdesjardins commented on #5471
The rule is working as intended. You can safely remove the braces from your first example:

[code]

But that's not possible when there are multiple statements in the arrow's body, which is why ESLint doesn't report any errors in your second example.

If you want ESLint to require that all arrow function bodies have braces, you need to use the `"always"` option; see [the documentation](http://eslin

[2016-03-04 22:10] platinumazure commented on #5473
From your example, as far as I can tell, `someConst` is in fact never modified. You can write the example as follows:

[code]

What about this is a bug, exactly?

[2016-03-04 22:12] jmls commented on #5471
ah, thanks - I missed that.

[2016-03-04 22:12] #5471 closed

[2016-03-04 22:15] platinumazure commented on #5472
Do you need the variable name there? Since it's a default export, couldn't you export the arrow function directly? I think that's what the rule is complaining about- you're exporting an AssignmentExpression which is assigning to a variable that was never declared.

[2016-03-04 22:17] platinumazure commented on #5474
My assumption is that the init statement of a for loop does not open a new block scope (its body does) and therefore this seems like a bug. I might have the spec wrong, though.

[2016-03-04 22:21] ffxsam commented on #5473
Oh shoot, I see the problem. It thinks it's pointless to declare it without defining it, and then define it below, so I should use a const. That makes sense.. *unless* of course you're religious about hoisting variables, which I am:

[code]

ESlint complains that `result` should be a const. But let's say there's a bunch of code that has to be executed before I can set `result`. See the dilemma?

[2016-03-04 22:25] ffxsam commented on #5472
The name is needed. Here's the full code:

[code]

The alternative solution to make ESlint happy would be:

[code]

[2016-03-04 22:25] platinumazure commented on #5473
Sounds like you might not want to use `prefer-const` in that case. I would suggest disabling it in config (or inline in your file, if it's a rare enough thing).

You could also introduce new blocks, which allows you to feel good about hoisting while also using `const`.

In any case, I don't think there's really a bug here. Sometimes not all ESLint rules are a good fit for a user's use case.

[2016-03-04 22:27] ffxsam commented on #5473
Yeah, after discussing it, I realize it's not really a bug. Thanks for providing some clarity!

[2016-03-04 22:27] #5473 closed

[2016-03-04 22:42] socketwiz commented on #5466
Here is the output:

[code]

[2016-03-04 23:18] felixsanz opened #5475 "no-param-reassign issue with properties"
Why ESLint complains about `no-param-reassign` with this code?

[code]

I'm not modifying the parameter `x`, just adding a property to it.

[2016-03-04 23:28] #5475 closed

[2016-03-05 00:01] platinumazure commented on #5466
func-names doesn't show up in your printed configuration. Also, something is overriding your ecmaVersion and sourceType. Are you sure your config file is being read? I do see your max-length rule, but I don't know if that's from an inherited config. Try changing the max-length rule options and rerunning `eslint --print-config`.

I also observe your configuration does not have `root: true`. I don't

[2016-03-05 00:03] mysticatea commented on #5472
I think:

[code]
[code]

[2016-03-05 00:09] ffxsam commented on #5472
export default const ArtistSettings = (props) => {

That's invalid syntax.

[2016-03-05 00:12] mysticatea commented on #5474
I believe this is intentional behavior.
`var` is not block-scoped, but `block-scoped-var` rule handles `var` as like block-scoped.

If you don't want to handle `var` as block-scoped, you can turn the rule off.

[2016-03-05 00:20] mysticatea commented on #5472
Ah, you are right.
So you can use FunctionDeclaration instead of ArrowFunction.

[2016-03-05 00:29] #5464 closed

[2016-03-05 00:33] ffxsam commented on #5472
Turning `=>` into `function` makes no difference either.

[2016-03-05 00:35] socketwiz commented on #5466
Now that you ask I've done some investigating.  It seems like there is a problem along those lines. I want it to read the file I have placed in my home directory ~/.eslintrc.yml, but I happened to find an .eslintrc in my project directory that I must have forgotten about.  I have now deleted that file but the results are the same, it still does not warn me about the anonymous functions.  I have ev

[2016-03-05 00:38] mysticatea commented on #5472
Sorry, I meant:

[code]

[2016-03-05 00:43] mysticatea commented on #5466
To make sure, your config:

[code]

All setting is inside of parserOptions.
Is this a mistake of copy&paste?

[2016-03-05 00:50] socketwiz commented on #5466
Ugh, I was using this page as a guide: http://take.ms/5yNpt and apparently didn't notice that rules was a new block.  So sorry for the false alarm, it is now correctly identifying the anonymous functions.  Thank you for your help.

[2016-03-05 00:50] #5466 closed

[2016-03-05 00:52] platinumazure commented on #5466
Great find, @mysticatea.

[2016-03-05 00:55] mysticatea commented on #5424
Oh @michaelficarra is right.
Never mind my comment.

[2016-03-05 01:00] mdouglass opened #5476 "eslint 2.3.0 has a missing dependency of estraverse"
**What version of ESLint are you using?**
2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
babel-eslint

**What did you do? Please include the actual source code causing the issue.**
Out of the box configuration is throwing an error:
[code]

[2016-03-05 01:25] unindented commented on #5476
Experiencing the same issue across all my repos. Greenkeeper is spamming me like crazy.

[2016-03-05 01:31] ilyavolodin commented on #5476
This looks like problem with `babel-eslint` which was relying on `estraverse-fb` that we removed in this release. @hzoo is that statement correct?

[2016-03-05 01:40] nzakas commented on #5476
If we do #4640, we might be able to fix this the right way.

I'm guessing this is related to #5443.

[2016-03-05 01:41] aparajita opened #5477 "no-constant-condition should allow for while(true) idiom"
**What version of ESLint are you using?**

2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

env: es6 + node
parser: Espree
config: "no-constant-condition": "error"

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected no error at the `while`, because its dependent statement has a `

[2016-03-05 01:42] nzakas commented on #5476
Oops, hit Enter too soon. Even without removing estraverse-fb, I think the rest of the changes in #5443 would probably have caused other problems with babel-eslint.

[2016-03-05 02:01] nzakas commented on #5476
I just looked at babel-eslint and it looks like it's just modifying VisitorKeys from estraverse-fb, so #4640 should work.

[2016-03-05 02:19] platinumazure commented on #5477
Just out of curiosity, why not `for (;;)`?

[2016-03-05 02:23] ilyavolodin commented on #5477
If `for(;;)` is allowed, I would expect `while(true)` to act the same way. @mysticatea any reason why one is enabled and the other one is not?

[2016-03-05 02:25] mysticatea commented on #5476
`keys` option of `estraverse` and `childVisitorKeys` option of `escope` are merged with `estraverse.VisitorKeys` inside of them.
So I think the previous way of patching still works.

[2016-03-05 02:31] mysticatea commented on #5477
Thank you for this issue.

Though I didn't write this rule, I guess `for (;;)` doesn't have the expression node of the condition, so this rule isn't warning it.
`for (;;)` has the constant condition, so it should be warned by this rule, IMO.

[2016-03-05 02:32] platinumazure commented on #5476
Shouldn't babel-eslint just declare the dependency if they need it?

[2016-03-05 02:44] mysticatea commented on #5476
@platinumazure Actually `babel-eslint` doesn't need `estraverse-fb`. `babel-eslint` is searching and modifying `estraverse-fb` which ESLint is using, in order to patch for ES.next and Flow features.

As far as I remember, that patch of `estraverse-fb` is for `eslint@<1.9.0`

[2016-03-05 03:00] ilyavolodin commented on #5477
Ahh.. sorry, I thought you wrote this rule (you write too many rules, so you are a number one suspect!:-) So you don't agree with the idea of adding `while(true)` and instead want to remove `for (;;)` right?

[2016-03-05 03:06] platinumazure commented on #5477
I don't think we should remove `for (;;)`. Besides being a breaking change, there is no condition expression, so it can't be said to be a constant condition.

[2016-03-05 03:35] mysticatea commented on #5477
Hmm, [the document](http://eslint.org/docs/rules/no-constant-condition) says `for (;;)` is no problem. So it was intentional. And yes, adding the warning for `for (;;)` is a breaking change.
(I still think `no-constant-condition` should handle `for (;true;)` and `for (;;)` by the same way in future)

I'm OK adding an option to allow `while (true)`.
It's one of well-known idioms.

[2016-03-05 03:39] egoroof commented on #5476
Have the same problem. Eslint not working :(

[2016-03-05 03:47] scriptdaemon commented on #5424
I like @nzakas proposal, and it would be trivial to adjust based on my initial thoughts regarding how to do this.

Essentially, my idea was to create an array where the index is a corresponding line in a file, and the value would be the number of statements on that line / index. After that's done, iterate through the array and warn if the value is greater than the max allowed.

[2016-03-05 03:53] mysticatea commented on #5460
:+1: I like this idea.

[2016-03-05 04:18] red2678 commented on #5476
Same here.

I just installed `estraverse-fb` without using the  `--save` or `--save-dev` flag, all is good.
Then when this is fixed, I'll just run `npm-prune`

[2016-03-05 04:47] hzoo commented on #5476
Yeah estraverse-fb was only added since eslint had it (and since it was removed, it can also be removed from babel-eslint) - so unless I'm missing something I guess we can just do a patch release and remove it

[2016-03-05 04:50] mysticatea commented on #5469
Thank you for this issue.

[The document](http://eslint.org/docs/rules/comma-dangle#always-multiline) says

[code]

is valid.
I guess the rule is handling a statement as multiline when there is a line break before the close parenthesis. If we change the behavior, it's a breaking change.

Or an option?

[2016-03-05 05:01] aparajita commented on #5477
The ECMAScript spec is quite clear that if the loop condition is empty in a `for` loop, it returns `true`. So `for (;;)` is **exactly** equivalent to `for (; true;)`, which by a strict definition is a constant condition. But clearly this is a common idiom which is useful, explicitly written, and thus should be allowed.

In exactly the same way, `while (true)` should be allowed. For consistency, I

[2016-03-05 05:20] michaelficarra commented on #5474
Yeah, this is not a bug.

[2016-03-05 05:26] ffxsam commented on #5469
Hmm.. lemme give it some careful consideration and I’ll post a proposal in this thread.

[2016-03-05 06:06] michaelficarra commented on #5424
@scriptdaemon No, you should follow the advice of @btmills.

[2016-03-05 06:56] scriptdaemon commented on #5424
@michaelficarra As per @btmills method, what would be the easiest way to allow for a max number of statements rather than just one then?

[2016-03-05 07:24] customcommander commented on #5377
Sounds reasonable. Thanks guys. (I'm working on it btw)

[2016-03-05 08:47] afahim commented on #1101
I'll take a stab at this during the weekend.

[2016-03-05 12:28] BYK commented on #5336
How about:

[code]
This also implies adding a "global" `mode` option.

[2016-03-05 14:31] DarkPark opened #5479 "key-spacing fine-grained control issue"
eslint v2.3.0

Rule:

[code]

Code:

[code]

Expected result: no warnings.

Actual:
[code]

At the same time rule

[code]

gives no warnings
seems `multiLine` option is not working properly

[2016-03-05 15:27] ilyavolodin commented on #5474
@wsmd This rule has been created to allow people coming from languages with block scopes to continue to use the same style. It ignores the fact that JavaScript has hoisting and pretends like everything is block scoped.
Closing, because this rule behaves as intended.

[2016-03-05 15:27] #5474 closed

[2016-03-05 16:03] hzoo commented on #5476
Ok nvm, I guess we'll need to wait on https://github.com/eslint/eslint/issues/4640 since you can't override espree's visitorkeys either since it's frozen?

Ah I see https://github.com/eslint/eslint/pull/5478

[2016-03-05 16:09] nzakas commented on #5476
Yeah, let's not replace monkey patching with more monkey patching. :) @ilyavolodin said he'd take a look at #4640 this weekend. Otherwise, I'll take a look on Monday.

[2016-03-05 16:14] michaelficarra commented on #5424
@scriptdaemon Something like this:

[code]

[2016-03-05 16:35] nzakas commented on #5469
Not necessarily, I think this looks more like a bug. Multiline is meant for items, not the brackets.

[2016-03-05 16:40] nzakas commented on #5336
Hmm, in key-spacing "minimum" means any number of spaces is valid. What's being requested here seems to be "disable", as in, don't check at all.

[2016-03-05 16:41] nzakas commented on #5424
@scriptdaemon we don't rename rules, as that's an unnecessary breaking change.

[2016-03-05 18:23] michaelficarra commented on #5477
I think the rule should by default only report conditionals (`if` and `?:`), since they are certainly errors, and have an option to also report loops (`for`, `while`, `do`-`while`). Either way, `for(;;);` must not be treated any differently than `for(;true;);`.

[2016-03-05 18:30] jhabdas commented on #5476
Curious how this issue could have slipped in. My automated lint test [caught this](https://travis-ci.org/jhabdas/react-native-webpack-starter-kit/builds/113816814) before attempting to submit a PR to my Starter Kit with the updates, as shown here:

![screen shot 2016-03-05 at 12 22 41 pm](https://cloud.githubusercontent.com/assets/440298/13549547/09af029e-e2cd-11e5-90e8-c15cd850e93d.png)

It may b

[2016-03-05 18:37] ilyavolodin commented on #5476
@jhabdas This issue is not with ESLint, it's with `babel-eslint` relying on the dependency of ESLint. Since we don't run tests for `babel-eslint` there wasn't much we could've done.

[2016-03-05 18:40] hzoo commented on #5476
Yep ^, It's because there is no clear API for ESLint/estraverse/escope for babel-eslint to use to modify it and thus the "monkey patching". Could potentially be caught by setting up an integration test for babel-eslint when pushing a PR. Should be helped with @ilyavolodin's https://github.com/eslint/eslint/pull/5478 PR

[2016-03-05 18:46] developit commented on #5476
@hzoo would it make more sense to cover this via integration tests in `eslint`, or in `babel-eslint`?

[2016-03-05 19:00] jhabdas commented on #5476
@ilyavolodin Given that logic it sounds like this issue should be closed. Am I missing something?

[2016-03-05 19:25] ilyavolodin commented on #5476
@jhabdas Yes. But we are keeping it open for tracking purposes.

[2016-03-05 20:05] aparajita commented on #5477
@michaelficarra Right, "allow-do-while" should also be an option that defaults to true.

[2016-03-05 20:07] michaelficarra commented on #5477
@aparajita No, I am saying all loops should be enabled by one option. And it should default to disabled.

[2016-03-05 20:27] aparajita commented on #5477
@michaelficarra Just to be clear, you mean reporting all loops as errors should be enabled by one option? I agree, but typically ESLint rule options are phrased as "allow-", so I think it's more consistent (and easier to understand) if it's expressed as "allow-loops" and defaults to true. However, there is also something to be said for having separate "allow-for", "allow-while", and "allow-do-whil

[2016-03-05 20:42] anton-rudeshko opened #5480 "newline-before-return: bug with comment"
**What version are you using?**
[code]

**What did you do?**
.eslintrc.js:

[code]

okay.js:

[code]

error.js:

[code]

**What happened?**
[code]

**What did you expect to happen?**
Should not be considered problem

[2016-03-05 21:12] gajus opened #5481 "Feature request: extend eslint-disable comment syntax to support disabling a plugin"
I suggest to extend ESLint [`/* eslint-disable */`](http://eslint.org/docs/user-guide/configuring#configuring-rules) syntax to support disabling an entire plugin, e.g.

[code]

This is useful in cases where certain code style or requirements apply to must but not all files (e.g. https://github.com/gajus/eslint-plugin-flowtype/issues/5) and listing all plugin rules is simply impractical.

There is

[2016-03-05 21:33] btmills commented on #5479
Yeah, it looks like `multiLine.mode` isn't being applied correctly.

[2016-03-05 21:35] platinumazure commented on #5481
How much flexibility would you need?

If it's truly about plugins, would something like `/* eslint-disable-plugin-rules react */` work? (Put aside how verbose it is for now-- I'm just trying to see if you actually need wildcards.)

[2016-03-05 21:38] btmills commented on #5480
Just tried this and confirmed. That's weird...

[2016-03-05 21:38] gajus commented on #5481
`/* eslint-disable-plugin-rules react */` (or a variation of that) would work. No, wildcard is not necessary.

[2016-03-05 21:39] gajus commented on #5481
In fact, I think you are right – `/* eslint-disable-plugin name[,... name]  */` is a lot more expressive.

[2016-03-05 21:41] platinumazure commented on #5481
@gajus Yeah, I could definitely get behind `eslint-disable-plugin` and `eslint-enable-plugin`.

[2016-03-05 21:56] btmills commented on #5479
On [line 373](https://github.com/eslint/eslint/blob/ef341be49669230bb33c76886c666be89c8e99ee/lib/rules/key-spacing.js#L373), `isSingleLine` is being passed a `Property` node, but it should be passed the `ObjectExpression`. @DarkPark want to submit a PR?

[2016-03-05 22:02] DarkPark commented on #5479
@btmills thanks, but I have not investigated the source code so it's better to be done by someone knowledgeable.

[2016-03-05 22:03] platinumazure commented on #5479
@btmills I'll take it.

[2016-03-05 22:07] btmills commented on #5480
It looks like there's a problem with how [comments are collected and calculated](https://github.com/eslint/eslint/blob/ef341be49669230bb33c76886c666be89c8e99ee/lib/rules/newline-before-return.js#L107-L109). @anton-rudeshko are you interested in submitting a PR?

[2016-03-05 23:19] alberto commented on #5469
That's debatable. From the rule docs:

[2016-03-05 23:20] #5479 closed

[2016-03-05 23:33] platinumazure commented on #5221
FYI, I've started on an implementation for this case:

I will put up a proof-of-concept pull request in the next day or two, just to make sure it's the right direction. I'm hoping maybe I can get feedback from the team on how we might be able to cover particular use cases that I don't yet know how to cover. Hopefully this will help to keep the ball rolling!

[2016-03-06 01:12] diki commented on #5187
#5484

[2016-03-06 01:21] UltCombo commented on #3638
How about using Unicode characters to represent indentation? E.g. `·»·»` for `space tab space tab`.

[2016-03-06 01:32] aparajita opened #5485 "docs: no-delete-var docs should mention strict mode"
**What version of ESLint are you using?**

2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

N/A

**What did you do? Please include the actual source code causing the issue.**

Tried the example used in the no-delete-var docs.

**What did you expect to happen?**

I expected the no-delete-var error.

**What actually happened? Please include the actual, raw output

[2016-03-06 02:39] platinumazure commented on #5188
Okay, I've gone through the [Code Conventions](http://eslint.org/docs/developer-guide/code-conventions.html) document. Here is a list of each section of that document, as well as whether we are enforcing it via our own ESLint configuration. My overall findings are [here](https://gist.github.com/platinumazure/fd7e96e213d0103c9913).

I'll edit this post later to call out dogfood opportunities as wel

[2016-03-06 02:43] platinumazure commented on #5485
It is indeed a parsing error in strict mode to attempt to delete a variable. You are correct that the rule, therefore, is only really effective (or, put another way, necessary) in non-strict mode.

I don't see much value in adding that to docs, but I don't see much harm either. Let's see what the rest of the team thinks.

[2016-03-06 04:18] aparajita opened #5487 "curly rule behavior with "multi-nest" option seems strange with 'do'"
**What version of ESLint are you using?**

2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

Espree

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I did not expect the curly rule to complain.

**What actually happened? Please include the actual, raw output from ESLint.**

`error    Unne

[2016-03-06 04:24] aparajita commented on #5485
Other rules that don't work in strict mode mention that. For example, no-dupe-args says right at the beginning:

Something along those lines would make it crystal clear what to expect with this rule.

[2016-03-06 06:21] atte-kemppila opened #5488 "rule object-shorthand "never" should not complain about destructuring assignment"
**What version of ESLint are you using?**
v2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Espree

**What did you do? Please include the actual source code causing the issue.**

[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

**What did you expect to happen?**
Rule object-shorthand "never" should not complain about

[2016-03-06 06:34] michaelficarra commented on #5487
Just put it on one line.

[2016-03-06 07:54] felixsanz opened #5489 "Single parameter async + arrow function"
ESLint 2.3.0 using babel-eslint.

On async functions that are also arrow functions and have a single parameter, ESLint doesn't complain about parentheses. Example:

[code]

ESLint should complain like when you use a normal function. Expecting:

[code]

[2016-03-06 08:07] vasco3 commented on #5476
quick fix, install `estraverse-fb`

[2016-03-06 10:54] alberto commented on #5488
Maybe I was too quick to label it as a bug, since I just realized you can also use the long form for destructuring too:

[code]

Not sure if this should be an option, though.

[2016-03-06 11:02] alberto commented on #5489
Do you mean in conjunction with `arrow-parens: as-needed`?

[2016-03-06 11:03] alberto commented on #5489
Also, I don't think we support `async` directly since it's experimental.

[2016-03-06 13:59] jhabdas commented on #5476
A better quick fix IMO is to not upgrade until the problem is solved unless there's a clear benefit to doing so. I hit three new Babel issues alone yesterday trying to upgrade my goods to React Native 0.21. That's not the upgrade path I want, and adding additional dependencies serves only to complicate projects.

[2016-03-06 15:19] aparajita commented on #5487
That breaks the stylistic rules.

I'll live with the rule off or get used to using do/while without braces.

[2016-03-06 15:19] #5487 closed

[2016-03-06 15:45] anton-rudeshko commented on #5480
Yeah, but not sure yet if I can find time for that. Will try. At least it known bug now.

[2016-03-06 16:00] veeracs commented on #5291
@nzakas sorry for delayed response, I was revisiting this, and I couldn't seem to reproduce this bug. Here's my test repo, https://github.com/veeracs/isomorphic-tools-seed
Switch to the develop branch. This ticket may be closed, unless someone else is able to reproduce the issue. Thank you for your time on this.

[2016-03-06 16:09] nzakas commented on #5291
@veeracs ok, let us know if you end up seeing it again.

[2016-03-06 16:09] #5291 closed

[2016-03-06 16:12] platinumazure commented on #5487
What about the always option? Is there a time when you don't want curlies?

[2016-03-06 16:28] nzakas commented on #5469
@alberto that quote doesn't seem to counter what I said.

[2016-03-06 18:53] felixsanz commented on #5489
@alberto  so is this a babel-eslint issue?

[2016-03-06 19:50] ilyavolodin commented on #5489
@felixsanz If it works without `async` as expected, then it's an issue for `eslint-plugin-babel` most likely, or possibly `babel-eslint`.

[2016-03-06 19:50] #5489 closed

[2016-03-06 20:05] aparajita commented on #5197
I can confirm this fix works. Here is a complete set of tests. All but the first should generate an error:

[code]

[2016-03-06 20:08] alberto commented on #5469
I think it is also desirable to allow going from this:
[code]
to this:
[code]
without having to add the comma on the previous line.

[2016-03-06 20:12] ffxsam commented on #5469
My vote is still to make `always-multiline: true` not complain about this:

[code]

since the actual items are on a single line. IMO it should really be about the _actual_ items, not the surrounding syntax.

[2016-03-06 20:56] jasonbarone commented on #5234
I can't seem to find a solution after upgrading to 2.0 and I feel like @feross' comment above would be a good solution. My use case is very similar. Am I missing something on ESlint, is there no other way around this aside from removing quote style enforcement? To avoid dealing with this I've been reverting back to ESlint 1.0.

[code]
Would allow the following;
[code]

[2016-03-06 21:38] ffxsam opened #5492 "indent.VariableDeclarators insufficient for different scenarios"
I ran into a problem just now, with this code:

[code]

No matter how I set `VariableDeclarators`, I can't win. :) Either it complains about the alignment of variables `a` and `b`, or if I adjust for that, it complains about the curly braces.

IMO, and according to how I interpret the documentation, `VariableDeclarators` should only be concerned with indentation of variable names, *not* indentatio

[2016-03-06 23:24] kevinbarabash commented on #2585
I tried using `browserify`, but `load-rules.js` uses `readdirSync` to get a list of a rules.  It would be nice if the rules could be loaded using `require`.  Maybe there could be a build step which generates a module that loads all of the rules using `require`.

[2016-03-06 23:27] veeracs commented on #5291
ok, thanks @nzakas

[2016-03-07 00:47] diki commented on #5480
Looks like problem occurs because leading comments of `return` node is miscalculated https://github.com/eslint/eslint/blob/master/lib/rules/newline-before-return.js#L70

**fail**
[code]

**also fail**
[code]
**pass**
[code]

It is because `sourceCode.getComments(node).leading` adds comment lines inside object expression if there are no other expressions between return and object. Comparing `commen

[2016-03-07 01:06] mysticatea commented on #5469
So multiline is:

- If the number of items is `0` or `1`, when there is a line break before the close paren (the current behavior).
- Otherwise, when the last item exists at a different line with the line of the first item.

?

[2016-03-07 02:45] michaelficarra commented on #5488
So... there's no way to get the old behaviour? This probably should have been left in as an option.

[2016-03-07 02:54] krainboltgreene opened #5493 "eslint 2.2.0 -> 2.3.0 broke my atom eslint setup O.o"
So before getting into the details below, I realize this is tangential to eslint, the thing is though I have absolutely narrowed it down to when I upgraded eslint. Downgrading everything but eslint didn't fix the problem. Downgrading *only* eslint fixed the problem. I figure this might be at least a good start.

**What version of ESLint are you using?** 2.3.0

**What configuration and parser (Espr

[2016-03-07 02:56] hzoo commented on #5493
Not exactly the same issue as https://github.com/eslint/eslint/issues/5476, but currently babel-eslint isn't working with eslint 2.3.0

[2016-03-07 02:56] krainboltgreene commented on #5493
Ah-ha! Okay, should I close this?

[2016-03-07 03:26] DanLipsitt opened #5494 "Crash in no-unused-vars.js"
Running eslint on the code below results in a crash. The testcase is pretty minimal. Maybe too minimal?

eslint 2.3.0
babel-eslint 5.0.0
babel 5.8.35
estraverse-fb 1.3.1

`.eslintrc.js`:
[code]

`failureCase.jsx`:
[code]

To reproduce:
[code]

[2016-03-07 03:31] hzoo commented on #5476
You can pin to 2.2.x at this point since the VisitorKeys from babel-eslint will still be used.

I made https://github.com/babel/babel-eslint/pull/269 which won't error in eslint@2.3.0 (wraps `estraverse-fb)` since users could still be using eslint < 2.3.0.

[code]

If it's good I can make another 6.0.0 beta release, and backport to 5

[2016-03-07 03:33] ffxsam commented on #5469
I think that sounds right. Just to clarify:

For the rule `"comma-dangle": [2, "always-multiline"]` to validate, dangling commas must be used in the following situation:

* When the last item in a list is on a line by itself

I think it really boils down to that one simple rule. So, with `always-multiline` enabled, all of these will throw warnings/errors:

[code]

While these are totally valid:

[

[2016-03-07 03:35] hzoo commented on #5494
Wondering why you aren't seeing https://github.com/eslint/eslint/issues/5476 - babel-eslint + eslint 2.3.0

[2016-03-07 03:36] hzoo commented on #5493
I'm not sure just since the error message is different, but yeah I would pin to 2.2.x at the moment.

[2016-03-07 03:39] DanLipsitt commented on #5494
I have `estraverse-fb` installed as a workaround for #5476 and I still see the bug. Updated this issue to make that clear.

[2016-03-07 03:41] hzoo commented on #5494
I see that's why. So just adding `estraverse-fb` doesn't work because the actual rules will be broken (ESLint 2.3.0 prevents babel-eslint from changing the visitorkeys so you will get those errors). Right now you'll have to pin to 2.2.x.

[2016-03-07 03:46] DanLipsitt commented on #5494
Thanks for explaining. Feel free to close if this is a dupe.

[2016-03-07 04:07] ilyavolodin commented on #5494
Closing as a dupe of #5476

[2016-03-07 04:07] #5494 closed

[2016-03-07 04:45] ljharb commented on #5200
Hmm - even with eslint v2.3 installed, `echo '3 ** 4' | eslint --stdin` still outputs `1:4  error  Parsing error: Unexpected token *`. Is there something else I need to do to make it work?

[2016-03-07 04:50] mysticatea commented on #5200
[code]

[2016-03-07 05:05] ljharb commented on #5200
How can I specify that on the command line?

[2016-03-07 05:07] mysticatea commented on #5200
We cannot specify parser options on the command line currently :(

[2016-03-07 05:09] ljharb opened #5495 "Specify parserOptions on the command line"
**What version of ESLint are you using?**
v2.3 - but this applies to all of them.

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Default.

**What did you do? Please include the actual source code causing the issue.**
Attempted to provide `--parserOptions` on the command line.

**What did you expect to happen?**
To be able to specify `--parserOptions` on the command

[2016-03-07 05:09] ljharb commented on #5200
Sad - I filed #5495 to rectify the asymmetry.

[2016-03-07 05:16] mysticatea commented on #5495
:+1: though I prefer `--parser-options`.

[2016-03-07 05:19] ljharb commented on #5495
sure, no bikeshed from me on what it's called - i just want to be able to do on the command line anything i can do in an eslintrc.

[2016-03-07 06:03] ffxsam commented on #5492
Version 2.2.0.

[2016-03-07 06:31] dchowitz opened #5496 "eslint v2.3.0 throws error when configuration is missing in ~/project.json file"
**What version of ESLint are you using?**
2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
At time of error eslint was not yet configured.

**What did you do? Please include the actual source code causing the issue.**
I wanted to check eslint is working after fresh `npm install --save-dev eslint` on a single file and without any configuration at all.

**What did

[2016-03-07 06:37] dchowitz commented on #5496
The eslint output with `--debug`:

[code]

[2016-03-07 09:47] dchowitz commented on #5496
After investigating a little bit I think the error cause is in `./lib/config/config-file.js` function `loadPackageJSONConfigFile` row 175:
[code]
Than the fix for the mentioned error would simply be:
[code]
But of course I don't overlook other dependend components, which may fail in turn...

[2016-03-07 10:11] svox1 opened #5498 "Unexpected block statement surrounding arrow body arrow-body-style"
**What version of ESLint are you using?**
2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
Babel-Eslint version babel/babel-eslint#d2f90c7239e152b8994f250c69c83604cde93292 (from 07 march 2016, need this commit for fix 'estraverse-fb')

**What did you do? Please include the actual source code causing the issue.**
[code]

Error:
`1:28  error  Unexpected block stat

[2016-03-07 12:32] shinnn opened #5499 "An array is unexpectedly regarded as a valid ESLint severity"
**What version of ESLint are you using?**

v2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

Default parser

**What did you do? Please include the actual source code causing the issue.**

This is an extremely rare case, but a user may carelessly fill an ESLint severity value with an array of the string like below:

[code]

**What did you expect to happen?**

`n

[2016-03-07 13:38] platinumazure commented on #5498
If you wrap the object in parentheses, it will parse correctly and the rule won't error.

[2016-03-07 14:00] ilyavolodin commented on #5496
Thanks. Looks like we missed no config scenario.

[2016-03-07 14:02] ilyavolodin commented on #5499
Looks like an oversight to me.

[2016-03-07 14:04] ilyavolodin commented on #5498
Your code can be re-written like so:
[code]

[2016-03-07 14:04] ilyavolodin commented on #5498
Sorry, pressed wrong button.

[2016-03-07 14:30] BYK commented on #5332
Working on this, pretty close. Added a `allowParens` option defaulting to `false` to keep the old behavior as default.

[2016-03-07 15:04] michaelficarra commented on #5498
@ilyavolodin No, it was the right button. This is not a bug.

[2016-03-07 15:24] gyandeeps commented on #5492
Can you also provide

[2016-03-07 15:28] ilyavolodin commented on #5498
@michaelficarra is right. This is intended behavior. If `return` is the only statement inside the body of an arrow function, you do not need block statement. @platinumazure provided an example of valid code for this case. Closing, because this is working as intended.

[2016-03-07 15:28] #5498 closed

[2016-03-07 15:29] svox1 commented on #5498
Ok thx

[2016-03-07 15:45] nzakas commented on #5197
@PhiLhoSoft @aparajita can one of you open a pull request?

[2016-03-07 15:53] nzakas commented on #5469
@mysticatea :+1:

[2016-03-07 16:00] BYK commented on #5499
:+1: for being more strict and throwing an error for this case.

[2016-03-07 16:04] jhabdas commented on #5493
https://github.com/eslint/eslint/issues/5476

[2016-03-07 16:07] BYK commented on #5496
@dchowitz - Would you like to submit a PR for the fix?

[2016-03-07 16:11] nzakas commented on #5496
IIRC something was depending on that `null`, so not sure we just want to swap in an object, but that's likely the area of the problem

[2016-03-07 16:12] dchowitz commented on #5496
Yes, why not. But give me some time (a day or two) - this will be my first PR ever ;-)

[2016-03-07 16:12] nzakas commented on #5499
I suspect this code path isn't being run through the validator.

[2016-03-07 16:13] nzakas commented on #5495
What would the format of this option be?

[2016-03-07 16:14] BYK commented on #5496
Yay! :tada:

[2016-03-07 16:14] dchowitz commented on #5496
Another possibility would be to protect the deepmerge function in config-ops to fallback to empty objects if null/undefined is given for source and/or destination.

[2016-03-07 16:15] dchowitz commented on #5496
I will look into it and come back with a PR...

[2016-03-07 16:25] platinumazure commented on #5495
Since we use optionator for levn/options, I think the simplest approach would be as an object (in levn dialect), so you could throw in ecmaVersion and ecmaFeatures.

Works pretty well for the scalars in parserOptions:

[code]

Not sure how well levn handles the nested object case (ecmaFeatures) and what shell escapes are needed to get braces working, but that would look something like this:

[code

[2016-03-07 16:40] PhiLhoSoft commented on #5197
Yes, I try to work on it, on my scarce free time... :smile: But if @aparajita is faster than me, I won't mind at all! :wink:
Note: the test cases should be a bit more comprehensive. That's the necessary, time-consuming point, I think.

[2016-03-07 16:43] alberto commented on #5488
Sorry, it's my bad this got merged before we agreed on a decision. :/

@eslint/eslint-team should this rule deal with shorthand in destructuring assignments or is this rule only concerned about object literals?

[2016-03-07 16:47] ilyavolodin commented on #5488
Going to reopen this issue. Sorry, my bad for not double-checking issue before merging code change (I actually did a few times and didn't merge the code, but this time around, I forgot).

[2016-03-07 17:16] wyze opened #5501 "Load plugins relative to the shareable config they are defined in"
**What version of ESLint are you using?**

2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

Espree

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

The `eslint-plugin-wyze` to be loaded.

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

----

This i

[2016-03-07 17:44] platinumazure commented on #5493
@jhabdas @hzoo Any (further) thoughts on whether this is definitely a dup of #5476, or definitely not a dup?

[2016-03-07 17:49] michaelficarra commented on #5477
@aparajita That's a fair point, but maybe handling that granularity should be the responsibility of another rule.

[2016-03-07 18:05] ath88 opened #5502 "Rule proposal: unicode-bom (byte order mark, U+FEFF)"
**When does this rule warn?**
When there is a [BOM](https://en.wikipedia.org/wiki/Byte_order_mark) in a file checked by ESLint. This has happened to me after inheriting some code. My editor (atom) doesn't show the mark, but I see it on `git diff`.

**Is this rule preventing an error or is it stylistic?**
Stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**
I

[2016-03-07 18:11] ffxsam commented on #5492
Sure. Here's the code. Line 25 is the first line:

[code]

My .eslintrc is set to:

[code]

I get the following errors:

[code]

If I modify the indent settings by commenting out VariableDeclarator:

[code]

Then I get this:

[code]

There needs to be separate considerations for indenting/aligning variable names, and indenting braces/brackets.

[2016-03-07 18:17] platinumazure commented on #5502
Sometimes the BOM is desirable. Maybe this would be better specified as a `bom` rule which takes in options "always" or "never", with "never" being equivalent to the original proposal?

[2016-03-07 18:19] ath88 commented on #5502
@platinumazure That could be better. I don't know the cases where BOM is desirable. Maybe you would enlighten me? :)

[2016-03-07 18:22] ilyavolodin commented on #5493
This looks like a slightly different issue. Error seems to be coming from `escope`, not `estraverse`. However, it's possible that `estraverse` is not erroring out due to the old installation of `estraverse-fb`. Too had to tell without verifying a bunch of things. I think we should keep this open until #5476 gets fixed, and then check again.

[2016-03-07 18:22] platinumazure commented on #5502
@ath88 The BOM is useful when files are stored in UTF-16 or other formats with characters wider than 8 bits; in that case, the BOM is required in order to help big-endian and little-endian architectures determine which way the text was encoded. Most of the time, though, I would say it is unnecessary (and until we offered first-class BOM support with ESLint 2.0, the `no-irregular-whitespace` rule a

[2016-03-07 18:23] ilyavolodin commented on #5502
I thought that we already covered BOM somewhere. There was a request for it a few month back. #4935 I assume you want the reverse behavior?

[2016-03-07 18:25] jhabdas commented on #5493
:+1:
On Mon, Mar 7, 2016 at 12:22 PM Ilya Volodin <notifications@github.com>
wrote:

[2016-03-07 18:25] jhabdas commented on #5493
:+1:

[2016-03-07 18:28] platinumazure commented on #5502
@ilyavolodin I don't think that was for a rule. That was for tracking it in `SourceCode`, no? It has the side-effect of making `no-irregular-whitespace` usable for files that are stored with BOM, though.

[2016-03-07 18:28] ath88 commented on #5502
@platinumazure It is true that BOM is useful when files are stored in UTF-16. I guess its because I don't see why anyone would use UTF-16 over UTF-8. :)

But, if `no-irregular-whitespace` does flag BOM, then this rule might be superfluous?

I will volunteer, if the rule is deemed worthy. :)

[2016-03-07 18:31] platinumazure commented on #5502
@ath88 `no-irregular-whitespace` flags all occurrences of the BOM, whether at the beginning of the file or not.

With the recent change to detect if a file has BOM and strip it away from text before parsing (referenced by @ilyavolodin), `no-irregular-whitespace` should only flag BOM if it's in the middle of the file. It should no longer flag it at the beginning of the file.

I think this rule make

[2016-03-07 18:34] ath88 commented on #5502
I see. The suggestion will then be; the `no-bom`-rule should only flag BOMs in the beginning of the file. As mentioned, I will volunteer, if the rule is worthy.

[2016-03-07 18:58] #5445 closed

[2016-03-07 19:42] aparajita commented on #5477
@michaelficarra Why another rule? There has been a lot of effort put into coalescing rules with overlapping responsibility.

[2016-03-07 20:08] nzakas commented on #5496
I think there may be more to this than it seems. I just did a quick local test in a folder without `.eslintrc.*` files and with an empty `package.json` file. This is what I got (using master branch):

[code]

So I don't think this is a simple as there being no configuration found, something else must be going on.

@dchowitz can you share your `package.json` file?

[2016-03-07 20:13] nzakas commented on #5481
Sorry, this really isn't possible right now. We specifically do not distinguish between rules from plugins and core rules because "disabling a plugin" has many different meanings to different people. Configuration merging/overriding/etc. is already really complicated, so I'd rather not add more complexity to it at this point.

[2016-03-07 20:13] #5481 closed

[2016-03-07 20:16] gajus commented on #5481
... This can be implemented in 5 lines of code.

[2016-03-07 20:19] low-ghost opened #5504 "Feature Proposal: 'max-len' and 'max-lines' options for arrow-body-style 'as-needed'"
**Version**
2.3.0

**Feature**
Arrow functions exceeding a certain character length or line length might deserve brackets. This feature allows adding options 'max-len' and 'max-lines' that will apply to arrow-body-style with 'as-needed'. These are considered problems:
[code]
[code]
The following are not:
[code]
[code]
**Solution**
Pretty straightforward. See PR.

[2016-03-07 20:20] low-ghost commented on #5504
also not a problem:
[code]

[2016-03-07 20:22] dchowitz commented on #5496
This is my `package.json` file:
[code]

[2016-03-07 20:24] BYK commented on #5488
:+1: to @michaelficarra

[2016-03-07 21:07] brettz9 opened #5505 "directives rule"
**When does this rule warn? Please describe and show example code:**

The proposed rule, `directives` would behave similarly to `strict`, except that it would allow behaviors to be defined for specific directives. Although I'm not sure whether all options as used with `strict` ("never", "global", "function", and "safe") would be necessarily useful, for parity, and to allow for flexibility (if not

[2016-03-07 21:25] nzakas commented on #5476
We're going to pursue a fix via estraverse that would allow us to not even need the visitor keys ahead of time: https://github.com/estools/estraverse/issues/67

[2016-03-07 21:26] nzakas commented on #4136
No response, so assuming all is well and closing.

[2016-03-07 21:26] #4136 closed

[2016-03-07 21:26] nzakas commented on #5501
No, it can't. Trying to do nested plugins like this leads us into collisions. We'll get around to looking at this at some point, but it's fairly low priority right now. See https://github.com/eslint/eslint/issues/3458 for details.

[2016-03-07 21:26] #5501 closed

[2016-03-07 21:26] dgreensp commented on #5492
I've been grappling with this problem over the past week, including with ESLint 2.3.0.  It "fixes" this code with excessive indentation:

[code]

[2016-03-07 21:39] ffxsam commented on #5492
Yep. Exactly why I think that `VariableDeclarator` needs to be modified so that it only cares about indentation of variable *names*:

[code]

But not braces, brackets, parens, and other non-alpha syntax:

[code]

[2016-03-07 21:46] dgreensp commented on #5492
I don't think that's exactly right; you still want:

[code]

The offending logic seems to be: https://github.com/eslint/eslint/blob/bb8f47018681e7afa823165fdaec490e57955d53/lib/rules/indent.js#L448

I'm trying to figure out what this line is _supposed_ to do.

[2016-03-07 21:51] nzakas commented on #5496
Hmm, nothing interesting in there. :( I tried copying that into my local test case and still couldn't reproduce.

Do you have a file in `~/package.json`? I just noticed the debug log you posted stops there and throws an error, whereas my debug log doesn't follow suit.

[2016-03-07 21:54] mrmayfield commented on #5072
Without reading through the reasons why it's tough, I'll give this a +1 as a desired feature

[2016-03-07 22:05] platinumazure commented on #5072
Unfortunately, if you had read the issue you would see that these are not so much reasons why it's tough, as reasons why this is completely impossible to do with static analysis.

[2016-03-07 22:07] mysticatea commented on #5502
I wrote #4935 for #4878 "Allow utf-8 bom with no-irregular-whitespace" :)

I like `unicode-bom` rule which has an option `"never"/"always"` and fixable.

[2016-03-07 22:08] dchowitz commented on #5496
Yes, by accident there is an old `~/package.json`, but without `eslintConfig` section. The point is, that `getPersonalConfig` in `config.js` (which is the very last fallback for a config file, if I read the code correctly) is expected (according to its comment) to return an empty object, if no personal config could be found. But in fact it returns `null` in my case, because `~/package.json` doesn'

[2016-03-07 22:09] mrmayfield commented on #5072
Well reading through, it seems @ForbesLindesay at least has an approach to solve it in some instances. It's probably fine to not cover any corner case but even the simple assignment syntax like he's listed would probably help a lot.

[2016-03-07 22:13] dchowitz commented on #5496
I deleted my `~/package.json` file and `eslint app.js` works. So that is definitely the bug's cause.

[2016-03-07 22:15] nzakas commented on #5496
Okay, so that's the key. It's not *any* `package.json` file that causes a problem, it's only `~/package.json`. That's an important distinction. I was able to reproduce by doing this.

Yeah, making sure `getPersonalConfig()` always returns an object seems like the best approach.

[2016-03-07 22:16] nzakas commented on #5476
The PR for estraverse is here: https://github.com/estools/estraverse/pull/68

If accepted, we'll need to do the same thing on esrecurse.

[2016-03-07 22:42] dgreensp commented on #5492
Ok, I have a PR ready for review: https://github.com/eslint/eslint/pull/5509

[2016-03-08 00:44] xjamundx commented on #5072
I'll add this here when I get around to it:
https://github.com/5to6/5to6-codemod/issues/14

[2016-03-08 00:45] kaicataldo commented on #5402
Sorry, haven't been able to get around to this. Others should feel free to take it on if they're willing and able.

[2016-03-08 01:18] mysticatea commented on #5495
I think it's the same format as `--rule` option.

[2016-03-08 01:24] wyze commented on #5501
Sorry for the duplicate issue. I should have searched first. I am subscribed to that issue now. Thank you for the response!

[2016-03-08 02:00] mysticatea commented on #5488
I read [the doc](http://eslint.org/docs/rules/object-shorthand), `object-shorthand` was a rule about object literals (object initializers). So I think making the rule covering destructuring assignments is an enhancement.

Though I don't have any objection,  I'd like to separate it to a new issue.

[2016-03-08 03:13] IanVS opened #5511 "Enable Autoconfig for JSX code"
Now that https://github.com/eslint/eslint/issues/5007 is fixed, it should be possible to allow automatic configuration of JSX code.

But, this may now be blocked by https://github.com/eslint/eslint/issues/5476 now.   We shall see.

[2016-03-08 05:39] michaelficarra commented on #5505
This definitely doesn't seem appropriate as a core rule. I doubt many eslint users have any directives at all in their programs, let alone the ones mentioned.

[2016-03-08 05:44] brettz9 commented on #5505
Actually a big part of the rationale is to prevent unused strings in the directive position (besides `strict` and whitelisted ones) since these aren't covered by `no-unused-expressions`.

[2016-03-08 07:51] diki commented on #5480
@anton-rudeshko @btmills do you want me to send a pul request for this.

[2016-03-08 08:35] anton-rudeshko commented on #5480
@diki I don't mind ) Make the world a better place if you can ;)

[2016-03-08 09:45] mourner commented on #5445
@mysticatea thank you for fixing this so quickly!

[2016-03-08 11:53] diki commented on #5480
@anton-rudeshko :), sent PR

[2016-03-08 14:01] ilyavolodin commented on #5505
I'm really not sure how often directives other then `use strict` are used by majority of developers. It would be interesting to see how often other directives are being used. But I have a feeling that number is pretty low, and as such, would probably work better for a plugin, instead of being included into the core.

[2016-03-08 14:23] pke opened #5513 "Improve error reporting for syntax errors in rule files"
**What version of ESLint are you using?**

2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

none

**What did you do? Please include the actual source code causing the issue.**

I wanted to include a custom rule

**What did you expect to happen?**

That the rule loads ok and triggers when a specific comment is found

**What actually happened? Please include the

[2016-03-08 14:41] kaicataldo commented on #5480
The proposed solution in the PR looks good to me, though I can't help but wonder why comments inside the previous token are getting returned at all. It only seems to be an issue when the previous object/block only contain a comment and nothing else. Granted, I don't see the point of having an empty block or object literal with a comment inside of it, but is that the expected behavior of 'sourceCod

[2016-03-08 14:41] radiovisual opened #5514 "`new-cap` reporting wrong position for lowercase constructors"
I seem to be getting some sort of false positive on `new-cap`. ESLint is complaining about a constructor starting with a lowercase letter at position `6:50`:
[code]

...but that position does not have any constructors with lowercase letters:

[code]

To see the full source code, see the answers below:

**What version of ESLint are you using?**
2.3.0

**What configuration and parser (Espree, Babel-

[2016-03-08 15:06] ilyavolodin commented on #5513
I'm not sure if we can improve this, since the error is coming from the parser, and not from ESLint itself. But maybe we can have Espree provide a bit more information for the cases like that.

[2016-03-08 15:09] ilyavolodin commented on #5514
Hmm.. interesting. Looks like positions are reported incorrectly and also looks like rule is having an issue. XO's configuration for `new-cap` is `'new-cap': [2, {newIsCap: true, capIsNew: true}]`

[2016-03-08 15:14] michaelficarra commented on #5514
The `d` is lowercase. The rule is working as expected.

[2016-03-08 15:19] ilyavolodin commented on #5514
Oh I see. It's checking for the property name as well as object name. Good point. Although it looks like location is still reported incorrectly.

[2016-03-08 15:23] radiovisual commented on #5514
I see that in Issue #3172 there was some way to disable `new-cap` on properties, but I don't find any documentation on this in order to test it in cases like this. There is still the issue of the incorrect location, so if you want, I can change the name of this issue to focus on the incorrect placement.

[2016-03-08 15:24] michaelficarra commented on #5514
@ilyavolodin I just tried it in the online demo, and the position is reported correctly.

[2016-03-08 15:32] radiovisual commented on #5514
Yeah, I just ran it in the online demo and it came back with position `6:56`, which is the correct position for the lowercase `d`.

[2016-03-08 15:50] brettz9 commented on #5505
What do you think of my other comment that the rule can also be used to catch useless string expressions which happen to occur in the prologue position by `/*eslint directives: 0*/`? Otherwise, they will not be caught (e.g., by `no-unused-expressions`).

[2016-03-08 15:56] nzakas commented on #5495
OK. @ljharb do you want to submit a PR for this?

[2016-03-08 16:52] platinumazure commented on #5221
This issue shouldn't be marked as "accepted" if there is still strategic discussion that needs to happen. I took "accepted" to mean that all of the scenarios suggested in @btmills' [original post](https://github.com/eslint/eslint/issues/5221#issue-133310464) were desired error message templates.

Maybe I'm misunderstanding something about the contribution process, but my understanding was that we

[2016-03-08 17:20] ljharb commented on #5495
I'm not sure I understand `eslint` internals well enough to make a PR.

[2016-03-08 18:48] brettz9 opened #5518 "Have `no-empty` also handle block with useless label and unused expression"
**What version are you using?**

`master` for `2.3.0`.

**What did you do?**

Use the `no-empty` rule against:

[code]

**What happened?**

The structure is not flagged as violating the rule.

**What did you expect to happen?**

I think this rule should flag the structure as a problem since it is not, or should not, be caught by `no-unused-expressions` and since such structures are useless and oug

[2016-03-08 19:50] Ashtonian opened #5519 "ES-Lint configuration is invalid -> severity should be one of the following - "error" vs 2"
**What version of ESLint are you using?**
2.3
**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
eslint via linter-eslint in atom? with a config file:

[code]
**What did you do? Please include the actual source code causing the issue.**
It seems to be an issue with any .js file.
**What did you expect to happen?**
I expected it to lint properly
**What actually happened? P

[2016-03-08 19:54] ilyavolodin commented on #5518
This should be flagged by `[no-extra-label](http://eslint.org/docs/rules/no-extra-label)` rule. We usually try to stay away from rules flagging the same pattern (it would be very complicated to auto-fix those rules).

[2016-03-08 19:55] Droogans opened #5520 "Differentiate between named functions and getter/setter functions."
This is not a new rule, but an extension of the core `space-before-function-paren` rule. I am filing this as part of my research efforts to answer [a stackoverflow question](http://stackoverflow.com/questions/35874314/space-before-function-paren-in-inline-getter-setter-functions) I made today.

**When does this rule warn? Please describe and show example code:**

This rule adds a third parameter t

[2016-03-08 19:56] ilyavolodin commented on #5519
It looks like you have global installation of ESLint with version 2.3.0 and local installation with older version. When you ran `init` command, config was generated with new severity levels (`error`, `warn`, `off`), but Atom is using older local version of ESLint, and it fails on the new config file. You should verify version of the local installation of ESLint and upgrade it.

[2016-03-08 20:00] ilyavolodin commented on #5520
Could you provide code sample that would currently be flagged now, but you would like to be able to pass, and another that should fail with the new option? We also have a separate template for rule options requests here: http://eslint.org/docs/developer-guide/contributing/changes

[2016-03-08 20:39] Droogans commented on #5520
Including the outline from the "Bug" template here to condense the issues created.

**What version are you using?**

v2.2.0

**What did you do?**

I set my `space-before-function-paren as such:

[code]

I then audited the various usage of functions in my project, and compared them to ESLints output.

[code]

[code]

[code]

[code]

[code]

**What happened?**

I found that inline getters and setter

[2016-03-08 20:43] BYK commented on #5520
I think this can be an option.

[2016-03-08 21:02] brettz9 commented on #5518
Ah yes, I hadn't been granular enough--I see my concerns are met by `no-extra-label`, as you say, as well as `no-lone-blocks`.

One question though--does `non-lone-blocks` avoid flagging blocks with labels? If someone had something like this:

[code]

...the block actually serves a purpose and I think should not be flagged.

[2016-03-08 21:29] ilyavolodin commented on #5518
I'm pretty sure that `no-lone-blocks` will only flag blocks that don't have any content in them. Even putting a comment inside will make the rule ignore a block.

[2016-03-08 21:46] DarkPark commented on #4828
@nzakas, sadly seems explicit `eslint ./.eslintrc.js` doesn't work - I don't receive any errors/warnings from this file

[2016-03-08 21:53] michaelficarra commented on #4828
@DarkPark Maybe there's nothing to warn about.

[2016-03-08 21:54] ilyavolodin commented on #4828
@DarkPark Could you try to run the same command with `--debug` flag and check if the file is actually getting linted?

[2016-03-08 21:57] heldr commented on #5476
https://github.com/airbnb/javascript/issues/781

[2016-03-08 22:04] DarkPark commented on #4828
@michaelficarra, I deliberately made some :)

[2016-03-08 22:06] ilyavolodin commented on #5504
In general sounds like a good idea, but I don't use arrow function. @eslint/eslint-team what do you think?
P.S. Sorry, lost track of this issue, so it never got triage.

[2016-03-08 22:06] DarkPark commented on #4828
v2.3.0

`eslint --debug ./.eslintrc.js` gives:

[code]

[2016-03-08 22:10] gyandeeps commented on #5504
Just to flush out this bit more, what happens in the following cases:

[code]

[2016-03-08 22:27] #5492 closed

[2016-03-09 00:14] low-ghost commented on #5504
Good thoughts, I'll add a few more tests in the morning. For 2 and 3,  the declaration and each line, including whitespace, count as a line. So glancing on a phone, both are about 9 lines while the whitespace doesn't effect character count. Desired effect? I played around with the declaration not being included in the count, so
[code]
being technically one line, but ended up siding against it beca

[2016-03-09 00:15] jbergstroem opened #5522 "eslint requires nodejs built with ssl support"
eslint requires nodejs to be built against openssl which is optional (`nodejs $ ./configure --without-ssl`). A quick check points to eslint using it to calculate a md5sum. Would a patch that uses a javascript version of a md5sum possibly be accepted?

Upstream issue: https://github.com/nodejs/node/issues/5610

[2016-03-09 01:12] ilyavolodin commented on #5522
md5sum calculation is used for caching. In general, I don't see a problem with replacing it with JavaScript only implementation, but would love to see perf numbers, as well as additional download size before making a call.

[2016-03-09 01:33] nzakas commented on #5504
I'm :-1: on this suggestion. I think maximums like this are a bit arbitrary and confusing. I'd suggest creating a custom rule for these options, as there's no direct dependency what arrow-body-style does.

[2016-03-09 01:46] nzakas commented on #5495
This is pretty easy because parserOptions already exists.

First, add the CLI option here:
https://github.com/eslint/eslint/blob/master/lib/options.js

Then here is where it gets translated from the CLI to be passed to CLIEngine:
https://github.com/eslint/eslint/blob/master/lib/cli.js#L53

Then, add a line here to store it:
https://github.com/eslint/eslint/blob/master/lib/config.js#L168

And merge

[2016-03-09 01:46] captbaritone commented on #5504
I'd like to echo @nzakas' skepticism of length/size based rules. CSSlint uses this style of rule extensively (eg no more than 10 floats per file) and it has been a huge failure in our code base. The person who merges the change that breaks the proverbial camel's back ends up being unfairly responsible for fixing an endemic problem. The result is either skipping Git hooks all together, or awkwardly

[2016-03-09 01:49] nzakas commented on #5488
Agree with @mysticatea. This rule was checking destructuring by default and it should not have. I'm unsure about an option vs. a new rule, but agree that should be a separate issue.

[2016-03-09 01:52] nzakas commented on #4828
@DarkPark can you rename to `eslintrc.js` and run with `--debug` so we can see your expected output?

[2016-03-09 03:11] low-ghost commented on #5504
@nzakas and @captbaritone, I can see that. I was thinking it fit somewhere within the realm of rules like "max-params", "max-length", "max-statements", "complexity" and so on, rules intentionally attempting to limit potential complexity by establishing maximums. It could be misplaced though. Perhaps this would be better solved by combinations of these existing rules; "max-params" and "max-depth" a

[2016-03-09 04:07] mysticatea commented on #5518
`no-lone-blocks` doesn't warn labeled blocks.

https://github.com/eslint/eslint/blob/master/lib/rules/no-lone-blocks.js#L39
Because `parent.type` is `"LabelledStatement"`.

[2016-03-09 05:05] angelathewebdev opened #5523 "Cannot find rule in rule directory"
**What version of ESLint are you using?**

ESLint

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**

`.eslintrc`

[code]

with an additional custom rule `no-console-log.js`

[code]

**What did you do? Please include the actual source code causing the issue.**

`eslint --rulesdir scripts/rules/ src/js/actions/index.js`

**What did you expect to happen?**

**What actuall

[2016-03-09 05:18] jbergstroem commented on #5522
Thanks for the feedback. I'll get to benchmarking and writing a simple implementation. Would you prefer a package through npm (larger) or bundled version (smaller)?

[2016-03-09 05:45] brettz9 commented on #5518
ok thank you, @ilyavolodin and @mysticatea

[2016-03-09 05:45] #5518 closed

[2016-03-09 06:11] brettz9 commented on #5518
Hmm...I'm getting "Block is redundant: no-lone-blocks" on the [demo](http://eslint.org/demo/) for this code:

[code]

[2016-03-09 06:14] mysticatea commented on #5518
That's correct.

[2016-03-09 06:30] brettz9 commented on #5518
I see--I'm confusing the outer block with the labeled block, sorry.

[2016-03-09 08:09] DarkPark commented on #4828
@nzakas, sure, here it is:

[code]

[code]

[2016-03-09 08:20] martijndeh commented on #5438
Can you give some examples when `always-consistent` would apply and not apply? You are suggesting it as an option in addition to the other options in the proposal, correct?

[2016-03-09 08:42] ljharb commented on #5495
Thanks, that's a lot of guidance! I'll see what I can do.

[2016-03-09 09:00] shinnn commented on #5499
I've just started to implement strict severity checking.

[2016-03-09 11:29] shinnn commented on #5499
Submitted a PR. https://github.com/eslint/eslint/pull/5527

[2016-03-09 12:57] ForbesLindesay commented on #5072
@platinumazure I think if you read this more carefully, perhaps even reading my attached pull request, you'll see that this is not only completely possible to do with static analysis, but actually already implemented.  I like to think that implementing something is the ultimate way to prove it's possible.

[2016-03-09 14:06] michaelficarra commented on #5522
@jbergstroem Be aware that it doesn't have to be MD5 or even a decent cryptographic hash function. It just has to be a hash with a large enough digest size to avoid collisions. It doesn't have to have any preimage or second preimage resistance because we're assuming good faith.

[2016-03-09 14:13] afahim commented on #5523
@angelathewebdev I couldn't reproduce the issue. Can you mention what version of ESLint you're using? You can find it out using `eslint -v`.

[2016-03-09 15:18] ilyavolodin commented on #5522
@michaelficarra Is correct. We are not using MD5 for anything related to security. We are using them to track changed files. We would definately not want to maintain MD5 implementation as part of the repository, so we are talking about external package, unless it can be done in a few lines of code. I'm not sure it's worth spending too much time on implementation yet. Compiling node without SSL fee

[2016-03-09 15:28] michaelficarra commented on #5522
A quick search turned up this very promising package which implements the MurmurHash  hashing algorithm: https://www.npmjs.com/package/imurmurhash

Claims sub-millisecond performance.

[2016-03-09 16:16] low-ghost commented on #5504
@gyandeeps added tests for cases 2 and 3 showing that they work as expected and some added functionality for case 1. With these changes, case 1 passes with a max-lines of 1. This is handled by only validating from the topmost arrow to the start of the next nested function or arrow expression. This means that this passes with max-lines 1:
[code]
while this does not:
[code]
because the first arrow f

[2016-03-09 16:18] nzakas commented on #5187
On the PR, a proposal was made for having full regular expression support and using a different option `newIsCapWildcardExceptions`.

I'm not sure I like the address complexity, wheras the initial proposal was fairly simple. What do others think?

[2016-03-09 16:22] nzakas commented on #5504
Yeah, I think this is best as a custom rule. This is part of why we make it easy to create custom rules: this is clearly something that you feel is useful but doesn't really fit in the core.

Here are some docs to get you started:
http://eslint.org/docs/developer-guide/working-with-rules
http://eslint.org/docs/developer-guide/working-with-plugins

[2016-03-09 16:22] #5504 closed

[2016-03-09 16:32] ljharb commented on #5187
My concern is overloading "a string property name" with "also maybe a wildcard" - it feels very much like repeating some of the language mistakes where it takes both a string and a regex.

Note that "Foo.*" alone would be not so bad, since that couldn't conflict with any property name, but if "Foo*" is allowed, I think it'd need to be a separate option.

[2016-03-09 16:55] nzakas commented on #5522
We need to be careful about changing the hashing algorithm, as people who currently use caching will already have a cache file with hashes stored. All it takes is one collision to mess up the the caching functionality, so sticking to md5 is preferred.

@jbergstroem what's the use case you're trying to address?

[2016-03-09 16:57] michaelficarra commented on #5522
@nzakas Changing the hashing algorithm won't cause a collision. Worst case (and expectedly) it will cause a cache miss for every file one time.

[2016-03-09 16:59] nzakas commented on #5493
I think this is a result of the babel-eslint change to help #5476. It now skips over using estraverse-fb if it's not there, but that means escope is missing the key information, so it won't work correctly.

[2016-03-09 18:21] ilyavolodin commented on #5520
@BYK Are you willing to champion inclusion of this option?

[2016-03-09 18:24] ilyavolodin commented on #5522
I think @michaelficarra is correct. The first time you run ESLint after new hashing algorithm will be introduced, it will basically just lint every single file (because new hashes will not match old ones, so our code will think that files were modified). After that, everything should go back to normal.

[2016-03-09 20:30] chevex commented on #3395
The seem to be discussing the issue here now: https://github.com/nodejs/node/issues/5384

Hopefully this gets fixed soon. Eslint --init is so convenient when it works.

[2016-03-09 20:35] BYK commented on #5520
I'd rather get some more opinions from @eslint/eslint-team and other interested people. These are definitely functions but they are also methods. An option for methods would basically replicate all the options which is fine but may be people would prefer a separate rule. I'd wait a few days and if there are no objections, I'd go with the option path. Sounds good?

[2016-03-09 20:54] jbergstroem commented on #5522
@nzakas if you check the nodejs issue reference in the first comment you can see that you run into issues if you use a nodejs built without openssl (crypto not being available).

@ilyavolodin perhaps check for openssl support (we check for `process.versions.openssl` in our test suite) and only add md5 for those that lacks it?

In general I'm happy to change hashing algorithm but since I haven't do

[2016-03-09 21:05] pedrottimark opened #5529 "Docs: Missing examples in rule pages"
This issue will accumulate rule pages in which **examples** of code are **missing** as requested in https://github.com/eslint/eslint/pull/5375#issuecomment-187454308

and according to guidelines in https://github.com/eslint/eslint/issues/5446#issuecomment-191306528 for which the exceptions are repeated here:

Examples of some options (for example, `allow`, `exceptions`, `ignore`) can omit **incorr

[2016-03-09 21:51] nzakas commented on #5522
@jbergstroem yes, my ask is who is this affecting and why are they using Node without openssl? Is this just something happening in the course of Node development or is there something else going on?

Also, this only affects one feature (caching results), so what about just not using caching?

In short, I don't see enough information in this issue to rationalize swapping in a custom hashing impleme

[2016-03-09 21:53] jbergstroem commented on #5522
@nzakas building without ssl support is commonly done to achieve small binaries (think limited architectures). I can't really provide numbers here but my rationale was that if the usage of `crypto` in eslint is so limited, why just not swap it out?

[2016-03-09 22:11] nzakas commented on #5522
@jbergstroem similarly, why not just avoid using the one feature that uses crypto?

Again, I'd like more information about what you're doing, what error you're seeing, etc. Full console output would be very helpful. I'd like to refer you to our bug reporting guidelines: http://eslint.org/docs/developer-guide/contributing/reporting-bugs

[2016-03-09 22:16] nzakas commented on #5520
If this is separating out accessors from named functions, it's a breaking change, so we need to be very certain that this is what we want.

Also, if we do want this, should we also have an option for concise methods?

[2016-03-09 22:17] nzakas commented on #4828
Thanks. So this looks like a bug, we should be linting anything passed on the command line. We should fix that.

[2016-03-09 22:59] BYK commented on #5187
I'm +1 for a separate name with RegEx support. We support regexes for identifier names in other places too.

[2016-03-09 23:24] platinumazure commented on #3395
I have this trouble on my Windows box. Most of the time I can work around it by entering numbers and pressing Enter. The only one that causes me trouble is the Node vs Browser Environment question; in that case, I usually do something like 2, space, enter. As far as I can tell, that works fine.