[2016-11-25 19:09] feross commented on #7656
@not-an-aardvark That solution (making the rule configurable to ignore particular useless escapes) would work for me. Then we could configure it to ignore `)` and `]`.

[2016-11-25 20:29] silverwind commented on #7656
👍  for an option in core eslint to exclude characters. cc: @princejwesley

[2016-11-25 21:11] platinumazure commented on #7658
Hi, could you please fill out our [rule enhancement request template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md)?

[2016-11-25 21:15] vtfn commented on #7615
I'm using functions like `curry` to create the functions for a library I'm writing. These functions have their own spec and I am documenting them with jsdoc. As I said, the rule does not apply when building functions in this way but, although my functions are not created like the usual, like `function foo() { ... }`, they are functions, and I think it would be great if their docs could be linted a

[2016-11-26 00:06] not-an-aardvark opened #7660 "`quotes` should allow template literals to avoid escaping single/double quotes"
**What rule do you want to change?**

[`quotes`](http://eslint.org/docs/rules/quotes)

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

This would change the default behavior of the `avoidEscape` option. Originally I thought the existing behavior was a bug, but based on the [option desc

[2016-11-26 05:16] ljharb commented on #7594
My intuition is that someone using any of the examples in the OP actually does know what `await` is for, and understands its semantics inside `async function` - additionally, I doubt anyone genuinely uses the comma operator in hand-written code, and I don't think there's any value in linting against that.

I think that if there are more cases that can be caught, that's a great thing. However, thes

[2016-11-26 06:24] mysticatea commented on #7656
I think `no-useless-escape` rule is working perfectly but I will not oppose to add the option ignore specified escapes (maybe `"no-useless-escape": ["error", {"ignore": ["]"]}]`).

FWIW, I don't think `/\[\[(.+?)\]\]/g` is more readable than `/\[\[(.+?)]]/g`.

[2016-11-26 08:18] platinumazure commented on #7656
Do we need to consider separate options for character classes vs outside character classes?

And I assume the exceptions should only apply to regular expressions and we don't want to allow exclusions for strings- so we should probably ensure the options schema makes that clear.

[2016-11-26 12:15] firatkucuk opened #7661 "Key-spacing alignment problem."
I really like intelliJ Idea style object alignment. But I didn't create a linting rule for desired alignment style. For instance the following snippet is properly formatted in My IDE.

[code]

My key-spacing rule is:

[code]

IMHO multiLine beforeColon option should be three stated. true, false and off. Is there a way to properly linting above code snippet?

[2016-11-26 18:47] ew72ew opened #7662 "brace-style allman ignores indent"
**Tell us about your environment**

* **ESLint Version:** 3.11.0
* **Node Version:** 6.2.1
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[code]

**What actually happened? Please

[2016-11-26 22:30] Trott opened #7663 "capitalized-comments causes eslint to terminate with error on comment with just a space"
**Tell us about your environment**

* **ESLint Version: 3.11.0
* **Node Version: 7.2.0
* **npm Version: 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

No configuration file.
[code]

**What did you do? Please include the actual source code causing the issue.**

With this file:

[code]

Note that there is a single space after t

[2016-11-26 22:35] not-an-aardvark commented on #7663
I can reproduce this, thanks for reporting.

[2016-11-26 22:35] kaicataldo commented on #7145
Do we want to continue pursuing this now or wait until we see how [this discussion](https://github.com/eslint/eslint/issues/7356) resolves?

[2016-11-27 01:26] not-an-aardvark commented on #7111
@feross I'm not sure I understood what you're saying, but I think we're in agreement.

This should report an error:

[code]

This should not report an error:

[code]

[2016-11-27 01:28] not-an-aardvark commented on #7662
Thanks, I can reproduce this issue. It appears to be a bug in the `indent` rule.

I think this will be fixed after https://github.com/eslint/eslint/pull/7618 is merged.

[2016-11-27 02:47] not-an-aardvark commented on #7656
I don't think it's necessary to have a separate option for character classes versus non-character classes. If a character has no special meaning regardless of whether it's in a character class, I assume there would be no reason to *only* uselessly-escape it if it's in a character class.

That seems reasonable, but I wonder if we should have a corresponding option for strings as well (or if we shou

[2016-11-27 04:34] acburdine opened #7665 "ESLint fails to find plugin in node_modules folder"
**Tell us about your environment**

* **ESLint Version:** 3.11.0
* **Node Version:** 4.6.0
* **npm Version:** 2.15.11

**What parser (default, Babel-ESLint, etc.) are you using?**
Default parser through the command line - also experienced it through the atom plugin `linter-eslint`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing th

[2016-11-27 06:59] ShirH commented on #7650
Thank you very match!
Can you told me why your browserify build is for internal use only? and what is the cost for using it?

[2016-11-27 12:24] JamesHenry commented on #7545
I would echo @not-an-aardvark's thoughts, am 👍 for the proposal but would be ideal if the overlap with `no-extra-boolean-cast` could be addressed in some way

[2016-11-27 13:05] JamesHenry commented on #7129
Is the idea that once the extra traversal is added, relevant core rules can be updated to take the type annotation nodes into account? Or will that still be the job of plugins?

[2016-11-27 14:49] platinumazure opened #7668 "Users are unable to differentiate between missing plugins and plugins that throw exceptions as they are loaded"
**Tell us about your environment**
N/A (applies to all environments)

* **ESLint Version:** >=2.2.0
* **Node Version:** N/A
* **npm Version:** N/A

**What parser (default, Babel-ESLint, etc.) are you using?**
N/A

**Please show your full configuration:**
Any configuration which specifies a plugin which throws when trying to require the plugin module.

**What did you do? Please include the actual s

[2016-11-27 15:32] ilyavolodin commented on #7665
You are seeing this problem due to the way you are running ESLint. Instead of running `eslint app` try running `node_modules/.bin/eslint app` and see if that resolves the issue. `eslint app` will execute globally installed copy of ESLint, in order for that to work, your plugin also needs to be installed globally.

[2016-11-27 15:34] ilyavolodin commented on #7650
@ShirH It's internal use only because ESLint was never meant to be run in the browsers. Our only supported platform is Node. And the cost of using it is - no support from the team.

[2016-11-27 15:45] acburdine commented on #7665
That's what I thought - however I do think there's room for improvement here. Something that ember-cli does to accomplish a similar task is check if there's a local ember-cli version and use that one if it exists rather than the global version.

Definitely a different use-case, but the same pattern should work here. Would be willing to make a PR if desired :smile:

[2016-11-27 20:49] #7663 closed

[2016-11-27 21:21] not-an-aardvark commented on #7668
I think outputting a "plugin not found" error if a plugin throws an error while loading is a bug; it's giving the user incorrect information and making errors more difficult to identify. The current behavior is for the engine to catch all errors, even though the engine can only handle a module-not-found error. If plugin throws an error, it should be treated the same as an unexpected error within E

[2016-11-28 04:05] btmills commented on #7661
This was last discussed back in #2668, and we had an [accepted proposal](https://github.com/eslint/eslint/issues/2668#issuecomment-140726631), but nobody was interested in implementing it. @firatkucuk, would you be willing to send a PR if we were to decide to do this again?

[2016-11-28 04:35] Slayer95 commented on #7668
Instead of checking ``err.code``, the right way to do it is to call ``require.resolve``

[code]

Note that an error with code ``'MODULE_NOT_FOUND'`` can be thrown on plugin load runtime as well.

[2016-11-28 16:15] maxenglander opened #7670 "Make "indent" rule support ObjectPattern"
**What version are you using?**

[code]

**What did you do?**

[code]

**What happened?**

No errors were reported by eslint.

**What did you expect to happen?**

Would like it if indent rule violations were reported for the `foo` const and for other object patterns.

[2016-11-28 16:16] firatkucuk commented on #7661
Ok I 'll try to send a PR.

[2016-11-28 16:18] gyandeeps commented on #7670
It does report patterns for this. You can use the demo app to try this code.
http://eslint.org/demo/

[2016-11-28 16:34] maxenglander commented on #7670
Hey @gyandeeps I wrote the example in backwards, sorry. I originally wrote

[code]

When I meant to write
[code]

[2016-11-28 16:41] platinumazure commented on #7670
@not-an-aardvark Does your rewrite cover this case?

[2016-11-28 16:47] ilyavolodin commented on #7670
This is object rest/spread. Since this is experimental feature, we don't really have rules that support it.

[2016-11-28 16:49] not-an-aardvark commented on #7670
* Yes, the indent rewrite covers this case.
* This is destructuring, not object rest/spread, so I think it's reasonable for the rule to support it.
* I think this is a duplicate of https://github.com/eslint/eslint/issues/6813.

[2016-11-28 16:52] maxenglander commented on #7670
@ilyavolodin understood. Would you be open to a PR that allows the user to opt-in to for errors for this use case?

@not-an-aardvark I have a simple fix for this ready to go. Should I hold off on submitting a PR since it's already covered by your re-write?

[2016-11-28 16:52] gyandeeps commented on #7670
closing as duplicate of #6813 ... lets continue the conversation their.

[2016-11-28 16:52] #7670 closed

[2016-11-28 16:58] nzakas commented on #7615
@vtfn Does that actually work with JSDoc? It [looks like](http://usejsdoc.org/tags-function.html) `@function` is meant to mark variables that are functions rather than what you're doing. What does JSDoc output for your example?

[2016-11-28 17:22] btmills commented on #7577
v3.11.1 was just released, which concludes this release cycle. The minor and patch releases both went smoothly from my perspective. We can resume merging semver-minor PRs!

[2016-11-28 17:22] #7577 closed

[2016-11-28 18:15] nzakas commented on #7594
It looks like @daltones put together a PR for this already: https://github.com/eslint/eslint/pull/7595

@ljharb I'm inclined to agree with your comments, though would you object to inclusion given that a PR already exists?

[2016-11-28 18:56] vtfn commented on #7615
Well. Right now, nothing. For now, I'm just writing the comments.
But I think the `@function` tag is meant to work with more than just variables. Isn't the exported value of a module an object as well? Of course I might be wrong. If so, and if really there is no way to make the linter work with this sort of thing, thats finne, I just thought it would be greate to be able to lint the docs as docs f

[2016-11-28 19:11] ljharb commented on #7594
No, I don't object to inclusion.

[2016-11-28 19:23] not-an-aardvark commented on #7608
I'm :+1: either way, but this seems like a bug to me, not an enhancement (especially given that we would fix it in a minor release and cause more errors to be reported).

[2016-11-28 19:28] platinumazure commented on #7608
I'll split the difference by using both labels, which we've used in the past for semver-minor bug fixes.

Need two more :+1: from team members before we can accept this issue.

[2016-11-28 19:33] platinumazure commented on #7668
@Slayer95 Does `require.resolve` hydrate the module cache? If not, I'd be worried about the performance impact from loading a module twice.

[2016-11-28 19:35] not-an-aardvark commented on #7668
I don't think `require.resolve` actually loads the module, so it would not have anything to cache. It just finds the path at which a module would be loaded from, which is the same thing that happens internally when you call `require` on a string.

[2016-11-28 19:40] Slayer95 commented on #7668
It does, however, cache the resolution of real paths, which is (one of) the most expensive operations when locating modules.

... I suppose there is still a trade-off between correctness and performance, though. But a benchmark would be convenient. What's the typical case? JSX + React?

[2016-11-28 19:45] not-an-aardvark commented on #7668
We could do the `require.resolve` check *after* catching a module-loading error:

[code]

That would avoid performance issues on the hot path, and only do extra work when something is wrong.

[2016-11-28 19:48] platinumazure commented on #7668
I imagine it would be easy to set up a benchmark which checks this. Sorry for dragging us into the weeds.

@eslint/eslint-team Anyone else have any thoughts on this issue?

[2016-11-29 02:31] kaicataldo commented on #7665
@acburdine Thanks for the suggestion. A little background: the team [has discussed this before](https://github.com/eslint/eslint/issues/5874), and the conclusion then was not to include this behavior in ESLint at the time of making that issue. I'm not entirely against it, though I do think it could lead to some confusion (i.e. what happens if you forget to `npm install` and accidentally use the gl

[2016-11-29 02:47] kaicataldo commented on #7668
I agree with this. What @not-an-aardvark suggested seems like a good strategy to me.

[2016-11-29 02:53] kaiomagalhaes commented on #7012
add it:

"generator-star-spacing": 0,

fixed my issue

[2016-11-29 02:56] not-an-aardvark commented on #7012
@kaiomagalhaes That disables the `generator-star-spacing` rule entirely. It does "fix" the issue in that it prevents an error from being thrown, but it might not be the solution that people are looking for.

[2016-11-29 03:15] kaicataldo commented on #7660
Could we do an `ecmaVersion` check (defaulting to ES5) that would allow the rule to be smarter? There's precedence for this in the codebase: https://github.com/eslint/eslint/blob/master/lib/rules/func-name-matching.js#L93

I'm also assuming that this would also apply when the outer quotes are single or double. So the following should not warn with the enhancement, right?
[code]
[code]

Strangely,

[2016-11-29 03:20] acburdine commented on #7665
@kaicataldo that does make sense - although I definitely see a way to counteract the confusion.

Ideal flow (in my opinion)
- User runs global `eslint`
- eslint checks if there's eslint installed to the current working directory's node_modules folder
- If eslint is installed locally, run the local version (e.g. the end result would be the same as `./node_modules/.bin/eslint`)
- if not installed lo

[2016-11-29 03:32] kaicataldo commented on #7665
I believe that's what the `eslint-cli` plugin does, assuming default behavior means running the globally installed version of ESLint. I still think we run the risk of making it harder to know if you ran the right version of ESLint or not if you have local and global installations, but as I said, not personally completely against the idea!

For what it's worth, it looks like JSCS has this behavior

[2016-11-29 03:42] kaicataldo commented on #7489
I know this is still being discussed, but I'd like to suggest a clearer name - `operator-spacing`?

[2016-11-29 03:46] kaicataldo commented on #4345
I'll implement this

[2016-11-29 03:51] kaicataldo commented on #6175
Right. Not sure how to proceed with this. I think your suggestion makes more sense, but it is different than what the JSCS option does.

[2016-11-29 04:11] kaicataldo commented on #7404
Looks like this needs some more discussion as to the actual implementation. We have a [PR](https://github.com/eslint/eslint/pull/7416) open for this issue already, so would be nice to get discussion going @eslint/eslint-team

[2016-11-29 06:22] platinumazure commented on #7660
I'm not sure we should match against ecmaVersion because not all parsers would implement that (or would implement it using the same property name). I know we have precedent, but I'm not sure it's a good idea.

[2016-11-29 06:35] not-an-aardvark commented on #7491
I'm closing this issue since it looks like the question has been answered, but feel free to continue the discussion.

[2016-11-29 06:35] #7491 closed

[2016-11-29 06:36] not-an-aardvark commented on #7527
I'm closing this issue since the rule appears to be working as intended. However, feel free to reopen if anyone thinks it would be worth changing the behavior.

[2016-11-29 06:36] #7527 closed

[2016-11-29 06:38] not-an-aardvark commented on #7635
I'm going to close this as a duplicate of the issues that I mentioned above, but feel free to continue the discussion on those issues.

[2016-11-29 06:38] #7635 closed

[2016-11-29 06:39] not-an-aardvark commented on #7630
I'm closing this issue because it looks like it was not a problem with ESLint itself. However, feel free to continue the discussion.

[2016-11-29 06:39] #7630 closed

[2016-11-29 10:03] Alaneor opened #7673 "capitalized-comments conflicts with default-case ("// no default")"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2.0
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?** babel

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

The following code snippet triggers the `capitalized-comments` rule violation for the

[2016-11-29 11:43] alejandroiglesias commented on #7653
@not-an-aardvark I think I understand a little bit more now. VS Code marks errors parsed by itself (the JS plugin I guess?) with the `[js]` prefix and ESLint with `[eslint]` so I think the error was not being reported by ESLint in VS Code, which makes sense.

[2016-11-29 11:43] #7653 closed

[2016-11-29 13:49] platinumazure commented on #7673
If you use the [options](http://eslint.org/docs/rules/default-case#options) available in default-case, you can change the accepted pattern to support the capitalized case.

That said, I wouldn't be against loosening the default pattern to allow the capitalized "No default" either.

[2016-11-29 14:57] btmills commented on #7661
@firatkucuk thanks, let's see if we can get support from the team to accept this so you can start working.

---

To the team: We had an accepted proposal in #2668 that would support IntelliJ-style alignment in key-spacing, but the issue was closed when nobody was interested in working on it. @firatkucuk has volunteered to work on a PR, so I'll copy the proposal here and see what you all think.

A

[2016-11-29 15:53] platinumazure commented on #7661
@btmills That's cheating, you can't champion and :+1:. :smile: But I will :+1: this. Need two more!

[2016-11-29 16:01] gajus commented on #7655
Closing as this was deemed too opinionated.

https://gitter.im/eslint/eslint?at=58385c21b9016e42149a1d3f

[2016-11-29 16:01] #7655 closed

[2016-11-29 16:03] not-an-aardvark commented on #7673
I agree, I think we should treat `// No default` the same as `// no default` in `default-case`.

[2016-11-29 16:13] btmills commented on #7661
@platinumazure finally! I've never been clear whether it was champion plus three more or the champion counted as one of the three. Thanks for setting me straight 😆  I've edited the comment to avoid confusion

[2016-11-29 16:32] daltones commented on #7594
Yeah, I was just trying to cover more cases. And the implementation is simple.

Of course the case for comma operators is very unlikely, but there's some that could have attention:

[code]

[2016-11-29 18:06] platinumazure commented on #7673
Here's a proposal (and I'll champion this).

**What rule do you want to change?**

default-case

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior: Allow "No default" as well as "no default" in the `default-case` rule when an overriding pattern is not specified.

**

[2016-11-29 18:07] platinumazure commented on #7673
Open question: Should we also allow the "d" in "default" to be potentially capitalized (allowing patterns like `// No Default`)?

[2016-11-29 18:10] platinumazure commented on #7443
@ilyavolodin @vitorbal @not-an-aardvark Where do you believe we are on this? Have we agreed on an implementation yet?

[2016-11-29 18:23] platinumazure commented on #7260
Okay, here's where I think we are on this issue:

1. The issue is accepted, so work can begin anytime.
1. We have a good list of rules that should have this logic applied, and PRs can be sent to fix one or many of those at a time.
1. We have centralized logic for getting a function name and kind in a good way (see ast-utils' `getFunctionNameWithKind` method). However, it doesn't use "this" for ano

[2016-11-29 18:25] platinumazure commented on #6828
@eslint/eslint-team Can we please review [this proposal](https://github.com/eslint/eslint/issues/6828#issuecomment-254691834)? I've volunteered to champion. Remember that we can accept the issue even if we believe bikeshedding needs to occur as well. Thanks!

[2016-11-29 18:31] Alaneor commented on #7673
I would propose making the whole check case-insensitive. Someone just might want to use `// NO DEFAULT` to make it really obvious.

[2016-11-29 18:42] platinumazure commented on #7673
@Alaneor That sounds reasonable. In order to make that work with the configurable comment pattern already in the rule, though, we might need to support a new schema option to specify whether the comment pattern is case-insensitive or not (since regex literals, including with flags, are not available in JSON/YAML).

If others on the team seem interested, I can expand my proposal to include that new

[2016-11-29 19:15] platinumazure commented on #7673
Yeah, on second thought, I'm just going to constrain my proposal to making the `// no default` pattern be case-insensitive. We can see if users want more later.

[2016-11-29 19:15] not-an-aardvark commented on #6828
I'm :+1: for adding block-specific options. However, is there a reason to add new option names such as "new-line" and "same-line" rather than using the existing option names?

I'm imagining a schema like:

[code]

[2016-11-29 19:18] platinumazure commented on #7673
@not-an-aardvark I've just edited the proposal, might have done so after your thumbs-up. Please review as needed. Thanks!

[2016-11-29 19:22] platinumazure commented on #6828
@not-an-aardvark One reason why I favor new option names is that "allman" and "stroustrup" are the same for function bodies, they're only different on IfStatements and TryStatements. So there's some potential for user confusion on function bodies (where "allman" and "stroustrup" both mean the same thing, but it seems like they shouldn't if we support both options).

[2016-11-29 19:24] not-an-aardvark commented on #7673
I think it's a bit strange for the rule's default pattern to be case-insensitive without allowing user-supplied patterns to be case-insensitive, but I'm :+1: either way.

[2016-11-29 20:32] not-an-aardvark commented on #3458
I'm in agreement with a few other people on this thread that this would be a very unsatisfying solution.

I agree that it would be confusing for plugins to automatically enforce a config. But that's because enforcing a config by default is precisely the behavior that shareable configs are designed for. If we deprecate shareable configs and tell people to use plugins instead, then we need a good re

[2016-11-29 21:20] firatkucuk commented on #7661
I really want to contribute but I am not familiar with the eslint code. Firstly I must find the responsible code and how to run unit test about it. :)

[2016-11-30 00:51] mysticatea opened #7676 "yoda's exceptRange option has false positive"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** chrome 55 (our online demo)
* **npm Version:** -

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No errors since

[2016-11-30 01:09] not-an-aardvark opened #7677 "`no-self-compare` does not handle complex expressions correctly"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to report an error for the se

[2016-11-30 03:13] kaicataldo commented on #7673
I agree with this. Thoughts on adding an `ignoreCase` (or equivalent) option that is off by default and can be explicitly turned on by the user? That way a user who is using `capitalized-comments` or just wants this behavior can turn it on. Seems like the easiest way forward to me.

[2016-11-30 03:20] not-an-aardvark commented on #7673
Alternatively, we could allow this:

[code]

In other words, we could detect when the pattern is surrounded by slashes, and treat everything after the slashes as a regex flag.

[2016-11-30 03:55] IanVS commented on #6759
Working on this.

[2016-11-30 08:06] not-an-aardvark commented on #6828
I suggest we change the schema to *add* an optional object, rather than replacing the existing string-based schema.

Current schema:

[code]

Proposed new schema:

[code]

This would allow the user to continue specifying a default brace style, e.g. `1tbs`, and specify exceptions to that default. That way, the user wouldn't have to explicitly list a preference for every possible node type that can

[2016-11-30 10:03] markelog commented on #7665
Not only JSCS, but others tools as well, from top of my head, grunt/gulp maybe even jshint.

Worked as charm and you know, doing`./node_modules/.bin/eslint` is kinda ugly

[2016-11-30 11:24] AMorgaut commented on #2102
@nzakas with all respect, you said:

But actually, ESLint, as JSHint, does support "environment options" such as `jasmine`, `mocha`, and `qunit`, plus `protractor` and `atomtest` on ESLint side... so I think that adding a `chai` environment option would not break existing ESLint library approach.

I just wrote a [related feature request to the JSHint project](https://github.com/jshint/jshint/issue

[2016-11-30 11:51] vitorbal commented on #7443
I think we're mostly leaning towards option B, but I'm still curious what
other people think about the question I raised on my previous comment.
On Tue, Nov 29, 2016 at 7:10 PM Kevin Partington <notifications@github.com>
wrote:

[2016-11-30 11:57] vitorbal commented on #7650
Closing, as it seems the question has been answered now. Feel free to keep the conversation going if needed!

[2016-11-30 11:57] #7650 closed

[2016-11-30 12:04] vitorbal commented on #7673
The advantage of having case-insensitivity for the default pattern instead of behind an option thats turned off by default would be no conflicts with the `capitalized-comments` rule by default. Otherwise, I'd have to go turn on this new option for this conflict to not happen. Not sure if in your opinion that's a big deal or not, just wanted to point that out.

[2016-11-30 14:28] vitorbal commented on #7402
Closing this, as the OP is unresponsive. We can re-open if more information is eventually provided.

[2016-11-30 14:28] #7402 closed

[2016-11-30 15:38] kaicataldo commented on #7673
Sorry, got my wires crossed - since this is just for `default-case` I'm :+1: for making the `//no default` comment case insensitive by default

[2016-11-30 16:06] btmills commented on #7661
@firatkucuk if this is accepted, it'll be my job to point you in the right direction :smile: The [`createGroups` function](https://github.com/eslint/eslint/blob/b30116c36069368a79446adf55367f3ce4a7d271/lib/rules/key-spacing.js#L512) and [`continuesPropertyGroup` predicate](https://github.com/eslint/eslint/blob/b30116c36069368a79446adf55367f3ce4a7d271/lib/rules/key-spacing.js#L36) are the parts tha

[2016-11-30 16:07] platinumazure commented on #7661
@btmills Assigned the issue to you since you're champion. Apologies for not doing this sooner.

[2016-11-30 16:23] platinumazure commented on #7673
@kaicataldo Could you clarify, are you :+1: for my proposal as currently written, or do you believe we should do something different from that proposal?

[2016-11-30 16:26] kaicataldo commented on #7673
Sorry for not being clearer! That's correct, I'm :+1: for your proposal.

[2016-11-30 19:48] evilebottnawi commented on #6196
@kaicataldo I am too having troubles with those conflicting rules! I love parenthesis around function argument and use ternary.
[code]

[2016-11-30 20:42] jaepage opened #7682 "Yoda "except range" fails with other check in same statement."
Environment:

    "eslint": "^3.10.1",
    "eslint-config-airbnb": "^13.0.0",
    "eslint-plugin-import": "^2.2.0",
    "eslint-plugin-jsx-a11y": "^2.0.0",
    "eslint-plugin-react": "^6.7.0",
    Node v6.7.0
    NPM 3.10.8
    Sublime Text 3, build 3126
    Mac OS X El Capitan 10.11.6 (15G1004)

Rule in project's `.eslintrc.json`:

    "yoda": [1, "never", { "exceptRange": true }]

Code in questi

[2016-12-01 07:58] firatkucuk commented on #7661
@btmills @platinumazure I'll do my best.

[2016-12-01 10:49] stevematdavies commented on #2532
None of these options are working for me, I'm still getting the error, though my eslintrc file relfects all the suggestions recommended here!

Using eslint 3.11.1

[2016-12-01 11:36] Salakar commented on #2532
@stevematdavies try setting the `ecmaVersion` property under `parserOptions` to `6`

**Example:**
[code]

Source: [eslint docs - parser options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options)

[2016-12-01 14:16] vitorbal commented on #7682
Thank you for your issue. I believe this is a duplicate of #7676. @mysticatea can you confirm?

[2016-12-01 18:13] nzakas commented on #7615
Yeah, I'm afraid we just can't do anything here. Just to try to explain a bit more, the intended usage of `@function` is this:

[code]

That would allow JSDoc to find `paginate` and mark it as a function. What it sounds like you're looking for is something that given the following code:

[code]

you'd like to check the `@arg` against the arrow function, but there is no direct relationship between

[2016-12-01 18:13] #7615 closed

[2016-12-01 18:14] platinumazure commented on #7682
@vitorbal Not sure it's an exact duplicate: #7676 seems to be about different operators (or exceptRange being utterly broken, not sure), whereas this issue seems to be about three conditions throwing off the rule. Maybe the root cause is similar or the same, but on the face of it I don't think this is a duplicate.

[2016-12-01 18:16] nzakas commented on #7594
TSC Question: Should we accept this enhancement? (It just hasn't been looked at by anyone.)

[2016-12-01 19:51] platinumazure commented on #7673
@vitorbal Would you like to :+1: this issue? One more :+1: and we can accept this.

[2016-12-01 19:57] platinumazure commented on #6828
I count three total :+1:s (and no :-1:s) from nzakas, kaicataldo, and not-an-aardvark. So although we still need to bikeshed on the schema, I think we can mark the issue as accepted.

@jrsearles What do you think of @not-an-aardvark's [counterproposal](https://github.com/eslint/eslint/issues/6828#issuecomment-263808692)?

[2016-12-01 21:37] btmills commented on #7594
Marking this as accepted per the 2016-12-01 TSC meeting.

[2016-12-01 21:45] vitorbal commented on #7673
Yes, I will :+1: this!
On Thu, Dec 1, 2016 at 8:51 PM Kevin Partington <notifications@github.com>
wrote:

[2016-12-01 22:07] TheSavior commented on #4092
We just ran into this. Let me provide an example to demonstrate the issue with rejecting a non error.

![screen shot 2016-12-01 at 2 06 14 pm](https://cloud.githubusercontent.com/assets/249164/20814628/5faeca4e-b7cf-11e6-8592-132b944f6ccc.png)

[code]

[2016-12-01 22:24] jsearles commented on #6828
My personal preference would be using options like "new-line" and "same-line". I find them more descriptive and discoverable. I don't think developers would typically know specific variants and if they did they would probably use those instead of the individual options.

[2016-12-01 22:25] not-an-aardvark commented on #4092
It's been over a year, so I think we can probably revisit this now.

I'm willing to champion this proposal; it's useful to ensure that async errors have stack traces. We have [`no-throw-literal`](http://eslint.org/docs/rules/no-throw-literal) which does basically the same thing with synchronous errors. Bluebird, a very popular Promise library, [emits a warning](http://bluebirdjs.com/docs/warning-e

[2016-12-01 22:30] not-an-aardvark commented on #6828
Due to the way the existing options work, a developer would have to know specific variants in order to configure this rule at all. I think it's better to keep the same options for consistency. If we were redesigning the rule from scratch I might agree with you, but I don't think we should have two separate groups of options that mean largely the same thing.

[2016-12-01 22:51] jaepage commented on #7682
I don't believe my issue filed here is the same as the one linked above. In my if-check, I first confirm that the variable is not equal to `null`, before checking whether it fits in the range.

The value `null` is falsey, and a `null` variable would ordinarily result in `true` when compared to a range that includes the value `0`. Because I want to include `0` in my range while _excluding_ `null`,

[2016-12-01 22:55] jsearles commented on #6828
No - it's either/or - at least in the proposal. Either a string of a known variant or an object literal with individual options.

[2016-12-01 23:03] not-an-aardvark commented on #6828
[My variant](https://github.com/eslint/eslint/issues/6828#issuecomment-263808692) of the proposal suggested using both a string and an object literal.

I don't think having only an object literal is a good idea, because it would require the user to manually list a configuration for every type of node that can have braces. (Regardless, I don't think it's a good idea for the object-literal variant t

[2016-12-01 23:09] jsearles commented on #6828
I still think explicit options are more meaningful and discoverable, but i'll leave it to the maintainers to decide.

[2016-12-01 23:20] platinumazure commented on #6828
Maybe we could consider changing the option names in a semver-major
release, if other users agree that the option names need to be changed. In
order to get this functionality implemented, can we use the old option
names?

On Dec 1, 2016 5:09 PM, "jsearles" <notifications@github.com> wrote:

[2016-12-01 23:25] not-an-aardvark commented on #6828
@jsearles Fair enough (and I appreciate that you're expressing your opinion on this, it's definitely useful to have an idea of what users want with the option).

In general, I agree that explicit options are better than implicitly switching behavior. But in this case, I think the existing options are reasonably explicit. (For example, even though not everyone knows what Stroustrup brace style is,

[2016-12-01 23:38] cyrus-and commented on #6983
The point is that Dropbox doesn't properly syncs symlinks. So if `npm install` has been executed on computer A and computer B receives `node_modules` via Dropbox, then computer B will end up in a broken `node_modules` folder where symlinks have been replaced with regular copies.

This doesn't happen with ESLint only, it impacts every Node.js module which provides at least one executable which reli

[2016-12-01 23:54] platinumazure commented on #4092
Probably good to get a formal proposal up, but this has my :+1:.

[2016-12-01 23:57] not-an-aardvark commented on #4092
Good idea. I think I'll close this and repost a new issue with the proposal for better visibility.

[2016-12-01 23:57] #4092 closed

[2016-12-02 00:04] not-an-aardvark opened #7685 "Proposal: no-reject-literal rule"
Continuing from https://github.com/eslint/eslint/issues/4092

**Please describe what the rule should do:**

This rule should attempt to prevent users from rejecting a Promise with a literal.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[x] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

[2016-12-02 00:04] platinumazure commented on #7682
Haven't had a chance to try to repro yet, so marking bug/evaluating for now. If it turns out this is a duplicate, we can close.

[2016-12-02 00:04] not-an-aardvark commented on #4092
https://github.com/eslint/eslint/issues/7685

[2016-12-02 00:05] TheSavior commented on #7685
Cross posting this image to further demonstrate the issue.

![screen shot 2016-12-01 at 2 06 14 pm](https://cloud.githubusercontent.com/assets/249164/20818018/f08a5064-b7df-11e6-9fd3-67e70addf998.png)

[2016-12-02 02:06] mysticatea opened #7686 "no-throw-literal has false positive at await expression"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 6.9.1
* **npm Version:** 3.8.9

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

[code]

[code]

**What did you expect to happen?**

No errors.

**What actuall

[2016-12-02 02:12] mysticatea commented on #7682
This issue is different to #7676. But this behavior is intentionally as based on #1570, I think.

[2016-12-02 02:18] mysticatea commented on #7682
Sounds good if `yoda` rule can distinguish ranges without parentheses.
So I mark this issue as an enhancement.

[2016-12-02 04:00] kaicataldo commented on #7648
This doesn't feel like a good fit for core to me either. @remcohaszing What do you think the benefit of this is - cleaner diffs?

[2016-12-02 04:08] kaicataldo commented on #7631
I'll champion this. @phaux Is everything clear? Please let us know if you need any help with anything, either here in this issue or in our [Gitter](https://gitter.im/eslint/eslint).

[2016-12-02 05:24] jaganathanb commented on #7638
Got fixed with this [answer](http://stackoverflow.com/a/40914623/744534) from SO

[2016-12-02 05:24] #7638 closed

[2016-12-02 09:37] not-an-aardvark commented on #7673
This issue is already accepted, but what do people think about just making *all* `commentPattern` regexes case-insensitive? This would be a backwards-compatible change, and I can't imagine that a project would care about the casing of a "no default" comment in general.

[2016-12-02 14:19] rschamp commented on #6983
Yes, it does occur with other modules. After I posted that, the same thing happened with `tap`. The thing is that I only use Dropbox for backup, I don't use the syncing behavior on multiple computers, and yet Dropbox apparently destroys the symlinks even then.

Even more annoying to me after some Googling to see that Dropbox has had this issue for years and years. Ironic because a lot of their use

[2016-12-02 15:30] platinumazure commented on #7673
@not-an-aardvark I could maybe get behind that, and we could add a new `caseSensitive` option later if users want that. I mean, I'm slightly worried about introducing false negatives in those cases where it theoretically mattered, but I don't think it's automatically a breaking change either.

[2016-12-02 15:43] gillez opened #7687 "indent -> CallExpression seems to be ignored."
**Tell us about your environment**

ESLint v3.11.1
Node v6.9.1
npm v4.0.3

**What parser (default, Babel-ESLint, etc.) are you using?**
Default and VS Code ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No warning about indentation off function parameters in call to

[2016-12-02 16:27] vitorbal commented on #7631
marking this as accepted as we have a champion and enough +1's

[2016-12-02 17:19] not-an-aardvark commented on #7687
Thanks for the report. However, this is actually working as intended. There is an object in your call expression, and ESLint is reporting it due to an incorrect indentation for objects. The fact that there happens to be a CallExpression around the object is not relevant to whether ESLint reports it.

For example, a similar error would be reported if you did this:

[code]

It wouldn't make sense fo

[2016-12-02 20:18] feross commented on #7111
Yes, sorry for the confusing wording. We're in agreement.

[2016-12-02 23:32] ahmadmaged opened #7688 ""space-before-function-paren" should check for class constructors"
Hi,
I am using ESLint v3.10.2 without changing the parser.

The part of my configuration that is related to the problem is :
(this is NOT the complete .eslintrc.json file)
[code]

**Background :**
Our team requires a space between the keyword `function` and the following parentheses that contain the parameter list to maintain clarity and readability, such as :
[code]
The same style is maintained f

[2016-12-02 23:40] not-an-aardvark commented on #7688
Thanks for the report. However, I think this is working as intended.

`constructor` is not a keyword. Syntactically, aside from a few edge cases, a `constructor` method is the same as any other method.

[2016-12-02 23:50] ahmadmaged commented on #7688
Well, I agree that "space-before-function-paren" is working as its description says.

But, is there a rule or a rule-option that would allow class constructors to be followed by a space ?

I am sure there are developers that like to add a space between a constructor and its parameter list.

If no rule or option exists for that, can it be added in a future version ?

Thanks for the rapid response.

[2016-12-02 23:55] ahmadmaged commented on #7688
Feel free to classify this as a feature request if necessary. :smile:

[2016-12-03 00:08] not-an-aardvark commented on #7688
Ok, I reclassified it as a feature request.

If we were going to allow exceptions with functions such as `constructor`, I think it would be better to allow the user to customize functions that should be exceptions, rather than just adding a boolean option for `constructor`. For example, we could support a regular expression option for function names. However, while I'm open to being convinced othe

[2016-12-03 00:51] ahmadmaged commented on #7688
I agree that it would be a more useful idea to allow the user to customize some functions to follow a different behavior (to enforce or prevent spacing) through _1) a regular expression_ or _2) an array of strings_.

That would allow a broader group of use cases for the proposed option.

[2016-12-03 23:55] martijndeh commented on #7632
I see the evaluating label is still set for this one and not many people 👍'ed the `allowTemplateTags: true` yet so I want to give another example.

I use a library of mine to construct queries and it's using template literals extensively. In one case, it's creating a side effect which now gets flagged as `no-unused-expressions` by eslint. Personally, I see the tagged template as a special function

[2016-12-04 01:00] not-an-aardvark opened #7690 "Config schemas are enforced for disabled rules"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

(n/a)

**What did you do? Please include the actual source code causing the issue.**

I created a rule with a required schema, like this:

[code]

I ran the rule on some

[2016-12-04 11:12] minj opened #7693 "no-multi-spaces ignores multiple spaces before inline comments"
**Tell us about your environment**

* **ESLint Version:** v3.10.2
* **Node Version:** v7.2.0
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**
[code]
[code]
**What did you expect to happen?**
Two problems should be reported (`'world'`, `// comment`)
**What actually happened?

[2016-12-04 12:48] karlpatrickespiritu opened #7694 "eslint --init: arrow keys not working on git bash"
I don't know if this is an eslint specific issue but arrow keys when selecting a setup doesn't seem to work on Git Bash. But when I tried it on ConEmu, it works.

![image](https://cloud.githubusercontent.com/assets/10472504/20866216/b601d824-ba62-11e6-97b0-d06a143c7231.png)

**Tell us about your environment**

* **ESLint Version: 3.11.1**
* **Node Version: 6.6.0**
* **npm Version: 4.0.3**

[code]

[2016-12-04 15:27] platinumazure commented on #7694
Possible workaround: Use number key then Enter to select your choice.

[2016-12-04 17:18] mysticatea commented on #7686
I will work on this after #7689 to avoid confliction.
Or I'm OK if #7689 fixes this issue :smile:

[2016-12-04 19:12] kaicataldo commented on #7693
Confirmed. It does seem like a bug that this rule doesn't check inline comments.

[2016-12-04 19:57] platinumazure commented on #7693
Another test case (may already be covered): `console.log(/* comment followed by multiple spaces */         foo);`

[2016-12-04 20:01] not-an-aardvark commented on #7693
I'm fine with changing this, but keep in mind that some people might like this kind of alignment:

[code]

[2016-12-04 20:02] platinumazure commented on #7693
Maybe we could make this an enhancement via new option?

On Dec 4, 2016 2:01 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-12-04 20:04] kaicataldo commented on #7693
@platinumazure Do you mean adding checking comments at all via new option, or inline comments at the end of the line, as @not-an-aardvark mentioned? I'm fine with that, though I do think the following should always warn:

[code]

[2016-12-04 20:05] kaicataldo commented on #7693
That being said, I don't think an option is necessary. As a user, I would expect these cases to be flagged.

[2016-12-04 20:10] platinumazure commented on #7693
I was thinking end of line checks as being relaxable. I agree that comments
in the middle of lines should be checked by default. I also have no problem
with just fixing this as a semver-minor fix, since users can disable the
rule or use `// eslint-disable-next-line` as needed.

On Dec 4, 2016 2:05 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2016-12-04 20:12] kaicataldo commented on #7693
@platinumazure I vote for semver-minor fix and, if we see requests for an option to relax comments at the end of lines, implement the option then

[2016-12-04 21:39] not-an-aardvark commented on #7686
I pushed a commit to https://github.com/eslint/eslint/pull/7689 that fixes this issue.

[2016-12-04 21:44] not-an-aardvark commented on #7407
As discussed in https://github.com/eslint/eslint/pull/7689, we should consider reporting an error for for `ObjectExpression` and `ArrayExpression` errors/rejection reasons in `no-throw-literal` and `no-reject-literal`

[2016-12-05 06:47] not-an-aardvark commented on #7694
ESLint uses [Inquirer.js](https://github.com/SBoudrias/Inquirer.js) for the `--init` prompts. If there is a bug with arrow keys in a particular terminal, I'm guessing it's due to an issue with Inquirer and not with ESLint itself.

[2016-12-05 07:42] jaepage opened #7697 "Require or prohibit `break` after `default` in `switch`."
**Please describe what the rule should do:**

Example of discussion: http://softwareengineering.stackexchange.com/questions/201777/break-on-default-case-in-switch

**What category of rule is this? (place an "X" next to just one item)**

[X] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code examples

[2016-12-05 11:04] xixixao opened #7698 "[indent] Ternary doesn't allow extended indentation"
**Tell us about your environment**

* **ESLint Version:**
whatever is on the DEMO on eslint.org, unfortunately it doesn't show
* **Node Version:**
n/a
* **npm Version:**
m/a
* **What parser (default, Babel-ESLint, etc.) are you using?**
dunno, environments is set to `node`, `es6`

**Please show your full configuration:**
`indent` is on

**What did you do? Please include the actual source code caus

[2016-12-05 11:07] gillez commented on #7687
Thanks for the explanation.
I understand the reasoning and it makes sense but is this new behaviour?  I ask because I have recently updated eslint and I've just started seeing these warnings all over the place.  The same codebase wasn't giving these warnings before.  Unfortunately I'm not sure what version I was using previously.

Thanks,
Giles

[2016-12-05 11:31] xixixao commented on #7698
@not-an-aardvark does your #7618 fix this too?

[2016-12-05 17:39] platinumazure commented on #7697
Is this rule proposal about requiring/prohibiting a `break` in the `default` case specifically, or in the last case even if it isn't default?

Does `no-fallthrough` help at all? (I'm guessing not, if it doesn't enforce anything in the last case statement, but I want to make sure you check it out.)

[2016-12-05 18:01] emmettnicholas commented on #7537
I see what you mean, and I'm still trying to formulate my opinion on this, but that guidance runs counter to this new rule: http://eslint.org/docs/rules/require-await. I realize all rules need to go hand in hand, but removing unnecessary keywords is clearly an alternate objective for some.

[2016-12-05 18:58] jaepage commented on #7697
This is a rule proposal to allow enforcement of whether `default` cases in `switch` statements should always or never have a `break` statement.

I hadn't considered whether this would also apply to final cases in switches that have no default. I suppose it could.

I do not believe the existing `no-fallthrough` rule would be applicable to this scenario.

[2016-12-05 19:26] gyandeeps commented on #6986
@jacobp100 I think you have done the work, do you want to open a PR of it?

[2016-12-05 19:26] ljharb commented on #7537
@emmettnicholas yes, `require-await` imo is a harmful and bad rule, and there's never a good reason to enable it. I argued against its inclusion but the TSC decided to include it ¯\\\_(ツ)_/¯

[2016-12-05 19:59] jacobp100 commented on #6986
I'll try and make time for it—I'll need to redo the work, but it's not a huge amount

[2016-12-05 22:32] not-an-aardvark commented on #7698
No, this is (mostly) working as intended. The correct output would be:

[code]

For what it's worth, I think this is a duplicate of https://github.com/eslint/eslint/issues/6606.

[2016-12-05 22:35] not-an-aardvark commented on #7641
Yes, this is fixed in the rewritten version of the rule.

For what it's worth, I think this has the same internal cause as https://github.com/eslint/eslint/issues/7320.

[2016-12-05 22:39] davidb555 commented on #7694
I am having the same problem. Have you figured it out yet?

[2016-12-05 22:48] not-an-aardvark commented on #7694
It looks like this is very similar to https://github.com/SBoudrias/Inquirer.js/issues/266

...which was caused by https://github.com/nodejs/node/issues/5384

...which was supposedly fixed in Node 6.2.0, so I'm not completely sure why it's appearing in Node 6.6.0.

[2016-12-05 23:14] mmcgahan commented on #4880
@uniqname this is for [Object destructuring assignment](https://github.com/sebmarkbage/ecmascript-rest-spread), which is still a Stage 3 proposal, separate from Array destructuring, which is an ES2015 standard.

[2016-12-05 23:20] davidb555 commented on #7694
It seems like the arrow keys do work, but you can't see it.  However, the space bar does not. I am running eslint --init. I cannot select Node for where the code will run in  the fourth question because it requires the use of the space bar to change the default selection. Sorry if this is a noob question, but can I reconfigure the .eslint.js file to run code in node rather than browser? Cheers

[2016-12-05 23:37] not-an-aardvark opened #7700 "no-obj-calls does not report errors for `Reflect`"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to report an error a

[2016-12-05 23:37] uniqname commented on #4880
@mmcgahan I understand that, but the `no-unused-vars` option does not appear to support this pattern for _array_ destructuring either. I can open a separate issue if that is preferable, unless I am mistaken and this option _is_ supported for this pattern with array destructuring.

[2016-12-05 23:40] not-an-aardvark commented on #4880
With array destructuring, you can use this as a workaround:

[code]

This isn't possible with object destructuring.

[2016-12-05 23:46] uniqname commented on #4880
Interesting. I'm not sure I would prefer that to a named destructured variable that is optionally ignored by islint, but at least the pattern is supported. Thanks @not-an-aardvark

[2016-12-06 03:22] not-an-aardvark commented on #7698
To elaborate a bit more on why I think reporting an error here is correct behavior:

[code]

The question mark is indented at two spaces, but the `a` is indented at 6 spaces. Presumably the location of the `a` is based on the column of the opening `{`, but the opening `{` isn't actually at the beginning of the line. So the `?` and the space after it are actually contributing to the indentation her

[2016-12-06 03:36] kaicataldo commented on #7687
I'm not sure when this changed, but it does sound it changed sometime between whatever version you were using and the latest.

Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2016-12-06 03:36] #7687 closed

[2016-12-06 03:40] kaicataldo commented on #7688
I don't really understand why this is desirable. I've never seen this code style before and, as @not-an-aardvark mentioned, `constructor` is not a keyword. @ahmadmaged mind explaining?

[2016-12-06 03:59] not-an-aardvark commented on #7673
Let's go ahead and implement the original proposal (to just make "// no default" case-insensitive), and then maybe we can reconsider making all regexes case-insensitive later.

[2016-12-06 04:17] #7690 closed

[2016-12-06 05:51] eight04 opened #7703 "Locate missing/extra braces for parsing error"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 7.0.0
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
[code]

**What actually happened? Please

[2016-12-06 05:54] eight04 commented on #7703
Additionally, it would be possible to insert `{` automatically within `--fix` option.

[2016-12-06 06:12] platinumazure commented on #7703
In terms of finding a line where an opening brace should be inserted, how would you solve this case?

[code]

Which if statement should have the brace? You could put it on either line and it would be syntactically correct. I don't think this is a problem we could solve easily in the parser or the linter.

[2016-12-06 06:13] not-an-aardvark commented on #7703
I'm not sure this is feasible, because there are several possible places where the missing brace could be inserted, and all of them would mean something different. ESLint wouldn't be able to figure out which place the user meant to put the `{`.

The syntax would be valid with the brace inserted here:

[code]

Or here:

[code]

Or here:

[code]

Or here:

[code]

When a file has invalid syntax, the

[2016-12-06 06:32] eight04 commented on #7703
The main issue is not to guess the position of the braces, but that we should be able to verify some rules (curly, indent, etc.) before the AST is completely built.

Anyway, here is the possible output *with `curly` rule*:
[code]
Without `--fix`:
[code]
With `--fix`, generate output as linting following code:
[code]
[code]

[2016-12-06 06:37] platinumazure commented on #7703
Unfortunately, that's a consequence of the architecture.

From http://eslint.org/docs/about/:

We intentionally want to treat all rules the same, and many rules need the full AST to function.

Additionally, from our [README](https://github.com/eslint/eslint/blob/master/README.md#how-does-eslint-performance-compare-to-jshint):

So your question essentially becomes: Wouldn't it be great to run rules

[2016-12-06 07:03] eight04 commented on #7703
No need to invest other mechanic like Regex, just lint the valid part before the parsing error.
[code]
Error at line 7, than let's just lint lines 1~6
[code]
Not all parsing error would be able to determine such "valid part" (also it should be determine by the parser instead of line number), but it works for missing braces since it is always possible to find a valid sequence while balancing the br

[2016-12-06 07:29] platinumazure commented on #7703
Again, looking at this from a cost-benefit analysis, I don't think the benefits are anywhere near the massive costs (rewriting the parser and ESLint architecture plus the maintenance headache from maintaining two kinds of rules).

I'm happy to step back and let the TSC weigh in, but I can virtually guarantee this is a non-starter. ESLint depends on a full AST, period, there is no such thing as lin

[2016-12-06 08:52] grantgeorge commented on #5498
I had a bunch of these in my express app when returning function calls. Hope this clarifies for some people.

As the [rule states](http://eslint.org/docs/rules/arrow-body-style):

Arrow functions have two syntactic forms for their function bodies. They may be defined with a block body (denoted by curly braces) `() => { ... }` or with a single expression `() => ...`, whose value is implicitly retur

[2016-12-06 08:54] not-an-aardvark commented on #5498
For what it's worth, `arrow-body-style` is autofixable as of a couple months ago, so if you run `eslint --fix` then ESLint will fix this issue for you.

[2016-12-06 10:14] mysticatea commented on #7686
Thank you!

[2016-12-06 14:35] dispix opened #7705 "New set of rules regarding ES6 modules"
**Please describe what the rule should do:**
As some people in the Javascript community start to express the benefits of using only `export default`, I suggest a new set of rules under something like `"es6-modules"`:

- `default-only`: disallow the usage of named exports
- `end-of-file-export`: only allow the usage of `export` at the end of the file

**What category of rule is this? (place an "X"

[2016-12-06 15:00] ilyavolodin commented on #7703
AST is a tree, so running validation on "valid part" means running it on an incomplete branch of a tree. In some edge cases it might possibly work, but in most cases - it will not. This is an architectural decision of ESLint to only run rules on a valid AST, and I'm pretty sure that it's not something that will change.

[2016-12-06 15:18] gyandeeps commented on #7705
I would recommend using [eslint-plugin-import](https://www.npmjs.com/package/eslint-plugin-import) for ES6 modules since it has lot of things already covered. Also if what you are looking for is not in that plugin, I would open an issue their.

[2016-12-06 15:46] btmills commented on #7682
@mysticatea correct, the paren restriction made things easier to implement, but the intention was always to relax it if somebody asked. :+1: from me.

[2016-12-06 19:00] TristanWright opened #7706 "no-unsed-vars incorrectly determines a write only variable"
**Tell us about your environment**

- **ESLint Version**: 3.7.1
- **Node Version**: 5.10.1
- **npm Version**: 3.8.3

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint

**Please show your full configuration: What did you do? Please include the actual source code causing the issue.**

A few locations, [here is a short one](https://github.com/Kitware/vtk-js/blob/586dc33c9c7f8d

[2016-12-06 19:07] not-an-aardvark commented on #7706
Hi, thanks for the report.

I'm pretty sure this is working as expected. Your code is *writing* to `cellOffset`, but the value of `cellOffset` isn't actually getting used afterwards, so your code would work exactly the same if you didn't write to the variable.

Your code currently looks like this:

[code]

But it would work the same way if it looked like this:

[code]

[2016-12-06 19:13] TristanWright commented on #7706
I think I understand but isn't the value used in the object passed to the function?

`{ points, tcoords, cellOffset }`

[2016-12-06 19:37] platinumazure commented on #7706
@TristanWright Could you please construct a simpler example? It'd be good to see if this is due to destructuring or if this applies to any function call where the "unused" variable is passed as an argument.

For example, do these result in problems?

[code]

[2016-12-06 19:41] not-an-aardvark commented on #7706
It is used there, but after the function call, you're assigning it a value again (with `cellOffset += foo`). The variable isn't used after it's assigned that value, so the assignment is unnecessary.

I noticed you're using ESLint 3.7.1. In ESLint 3.8.0, the error message for `no-unused-vars` was slightly improved to be more accurate for problems like this.

[2016-12-06 20:04] TristanWright commented on #7706
@platinumazure the code block you pasted reports `foo` and `bar` are unused. With newer eslint versions too, but I'm convinced now this is the correct behavior.

@not-an-aardvark I see now, one could think of each variable having a 'used'/'unused' state. Passing it as an argument, in an object, or operators etc. it becomes used, assigning to it it becomes unused. Thanks for all your help in clarif

[2016-12-06 20:16] not-an-aardvark commented on #7564
@eslint/eslint-team Is anyone willing to :+1: this proposal? We need two more :+1:s from the team to accept it.

[2016-12-06 21:46] alberto commented on #7665
@markrelog the less ugly option is to add an eslint task to package.json and do `npm run eslint`

[2016-12-06 21:53] jethrolarson opened #7707 "Separate named import sorting from sort-imports"
using eslint 3.11.1
I would like to enforce sorting of named imports.

I would not like to enforce sorting of imports.

Bad
[code]
Good:
[code]

I can currently validate the order of the named imports but only if I turn on validating the imports entirely. I would like to adjust these independently.

[2016-12-06 21:59] markelog commented on #7665
Obviously, but that is much more confusing than ugliness of previous approach

[2016-12-06 22:09] not-an-aardvark commented on #7665
I would be in favor of using the JSCS/grunt/gulp approach of having the global installation defer to the local installation if it exists. We can always have a `--use-global-eslint` option or something if people want to override the behavior.

[2016-12-06 23:40] ilyavolodin commented on #7665
@not-an-aardvark In general I would support it, but before acting on this, I suggest digging through old threads. I'm pretty sure there has been multiple PRs that did just that (make global install fallback to local if one is found), and they were closed without being merged. I don't remember what were the reasons, but before putting in time into doing the work, I would check first.

[2016-12-07 02:34] jschaf opened #7709 "--fix doesn't work for dot-location"
**Tell us about your environment**

* **ESLint Version:**
v3.3.1
* **Node Version:**
v6.3.1
* **npm Version:**
3.10.3
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
Configuration is included in the command.

**What did you do? Please include the actual source code causing the issue.**
[code]

`/tmp/eslint-bug.js`
[code]

**What did you

[2016-12-07 02:37] not-an-aardvark commented on #7709
Hi, thanks for the report.

`dot-location` only became autofixable in ESLint v3.7.0, but it looks like you're using v3.3.1. Does the command work as expected if you upgrade to the latest version of ESLint?

[2016-12-07 02:49] jschaf commented on #7709
The new version does it.  Thank you for the prompt response.

[2016-12-07 02:49] #7709 closed

[2016-12-07 03:51] not-an-aardvark commented on #7707
This seems reasonable to me. What do you envision the option looking like?

[2016-12-07 04:06] jethrolarson commented on #7707
Something like

sort-named-imports: error

Can just remove the member stuff from sort-imports.

On Tue, Dec 6, 2016, 7:51 PM Teddy Katz <notifications@github.com> wrote:

[2016-12-07 04:13] not-an-aardvark commented on #7707
Hmm, I had imagined that it would be an additional option on the existing `sort-imports` rule. If we were redesigning things from scratch then I can see the argument for having two separate rules, but it seems like it would be strange to have a rule that's just called `sort-imports` that only sorts one type of import-related thing, and then another rule called `sort-named-imports` that sorts a dif

[2016-12-07 04:23] not-an-aardvark commented on #7665
Previous discussions that I've found:

https://github.com/eslint/eslint/issues/5874, https://github.com/eslint/eslint/issues/6732, https://github.com/eslint/eslint/issues/3993

Let me know if there are any others that you had in mind. For what it's worth, reading these discussions has not changed my opinion that we should use the JSCS/grunt/gulp approach.

[2016-12-07 04:24] mysticatea commented on #7665
In that case, I'd like to check the difference of versions between global and local. If the versions are different then:

- it should print the warning.
- or it should print the error then fail.

----

Also, I have a concern about plugins. The same command `eslint` would choose global-installed plugins or local-installed plugins silently due to the installation condition of eslint. It might cause

[2016-12-07 04:29] jethrolarson commented on #7707
You have gobs of rules related to whitespace

On Tue, Dec 6, 2016, 8:14 PM Teddy Katz <notifications@github.com> wrote:

[2016-12-07 04:30] jethrolarson commented on #7707
sort-named-imports sorts the expression, sort-imports sorts the statements

On Tue, Dec 6, 2016, 8:28 PM Jethro Larson <jethrolarson@gmail.com> wrote:

[2016-12-07 04:31] not-an-aardvark commented on #7665
@mysticatea I don't understand the issue with versions. Why would it be necessary to print a warning if the versions are different? The global version of `eslint` would pass everything to the local version, so running `eslint -v` would be the same as running `node_modules/.bin/eslint -v`.

I would be fine with officially supporting `eslint-cli`, but I think it would be better if we could solve the

[2016-12-07 04:34] not-an-aardvark commented on #7707
My concern is that the name `sort-imports` is overly broad, and users might expect a rule called `sort-imports` to handle both specifiers and statements.

Keep in mind that if we added a new option to `sort-imports`, it would still be completely configurable (i.e. you could enforce sorting for one or the other or both).

[2016-12-07 04:41] jethrolarson commented on #7707
Either option works for me.

I guess since there's ignoreMemberSort the analog could be
ignoreStatementSort or ignoreImportSort.

Both are kind of weird because if you exclude member and statement the rule
does nothing.

On Tue, Dec 6, 2016, 8:34 PM Teddy Katz <notifications@github.com> wrote:

[2016-12-07 04:55] not-an-aardvark commented on #7707
does nothing.

That's a good point. I suppose another option would be to deprecate `sort-imports` and split it into two rules (e.g. `sort-import-statements` and `sort-import-specifiers`).

[2016-12-07 10:29] nealoke opened #7711 "Cannot find plugin if node_modules is in subdirectory"
Hi, I am currently having an issue where eslint can't find the eslint-plugin-react. My folder structure is a bit away from the normal I guess where my node_modules are in tools/node_modules. Might this cause the error of not finding the module?

**Folder structure**
![explenation](https://cloud.githubusercontent.com/assets/17417414/20963803/3f3505ae-bc6f-11e6-958f-8dd143d2bb05.jpg)

**ESLint Versi

[2016-12-07 11:34] ulitiy commented on #6690
Agree with @platinumazure, we need to have a list of functions/function parameters, body of which are allowed to be unindented because there could be several of those in a single file. We can join them into one option somehow to avoid confusion.

[2016-12-07 12:56] valera-rozuvan commented on #6053
Hi all! I am really interested in this rule. Any updates? Thanks!

[2016-12-07 16:25] kaicataldo commented on #6175
@eslint/eslint-team Thoughts on this? Had a request for this in the Gitter chat today and would like to support this for those who are converting from JSCS.

The big remaining question is whether we track the JSCS ignore behavior or implement the separate `require` behavior proposed here. I personally like the latter, as I think it's more in line with the spirit of the rule and because it seems li

[2016-12-07 16:29] not-an-aardvark commented on #6175
I agree, having an option to separate `require` behavior sounds better than just having an option to ignore `require`.

[2016-12-07 16:37] vitorbal commented on #7707
Cant you force at least one of the two options to be true using the schema
definition?
On Wed, Dec 7, 2016 at 5:55 AM Teddy Katz <notifications@github.com> wrote:

[2016-12-07 16:43] vitorbal commented on #7705
Agreed with @gyandeeps. Looks like eslint-plugin-import is what you are looking for.

[2016-12-07 16:47] vitorbal commented on #7703
Thanks for the suggestion, we really appreciate the interest in helping us improve ESLint. However, it seems like the team has a pretty clear position against this suggestion. I'm going to go ahead and close the issue, but feel free to discuss anything you feel is not clear yet.

[2016-12-07 16:47] #7703 closed

[2016-12-07 16:54] ilyavolodin commented on #7665
@not-an-aardvark That would only work if you are running global version of eslint from inside the directory that has local version installed. See this [post](https://github.com/eslint/eslint/issues/3993#issuecomment-145271298) for more context.

[2016-12-07 17:14] markelog commented on #7665
I don't think we need to invent anything like print warnings, versions.... or even consider the edge cases at this point.

Just to follow already created path by other tools would be the best way forward in my opinion, there is subtle differences between them of course, so i would just propose to just choose one or the implementation.

We can even choose to use a module for that – https://github.c

[2016-12-07 17:34] Alaneor opened #7712 "prefer-const autofix causes syntax error under certain circumstances"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2.0
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?** `babel-eslint`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected to see a syntax error:

[2016-12-07 18:03] dispix commented on #7705
That doesn't exist in the plug-in but it might be a better place to put these rules indeed.

[2016-12-07 18:12] benderTheCrime commented on #1801
Any indication as to when we can expect the fix associated with this will be available?

[2016-12-07 18:15] not-an-aardvark commented on #7712
Thanks for the report. I was able to reproduce this issue.

[2016-12-07 18:39] gajus opened #7714 "Make sort-keys rule fixable"
[sort-keys](http://eslint.org/docs/rules/sort-keys) is a laborious style requirement when applied on a large code base. Fixing these errors by hand is time consuming and error prone, esp. with nested objects.

[2016-12-07 18:42] gajus commented on #7714
https://github.com/eslint/eslint/pull/7715

[2016-12-07 18:49] not-an-aardvark commented on #7714
Thanks for the rule suggestion and the implementation. However, I am concerned that autofixing `sort-keys` isn't safe, because it changes the order of `Object.keys` and could break working code. So I'm :-1: on this proposal, unless we can figure out a way to guarantee that it won't break code.

[2016-12-07 18:57] gajus commented on #7714
You already have "sort-keys" rule. Using your logic, one mustn't use the rule in the first place.

[2016-12-07 19:11] not-an-aardvark commented on #7714
A lot of rules enforce a specific style, but it's not always obvious how to modify code to fit that style without breaking the code. For example, in order to fix a problem reported by `sort-keys`, one might have to take the following two steps:

1. Modify the object so that the keys are sorted
1. Update code elsewhere that depended on the old ordering of the keys

It's reasonable to expect a human

[2016-12-07 19:15] gajus commented on #7714
I understand your concerns.

I have written this rule for my personal use and contributed it back to the community. Its entirely up to @eslint/eslint team whether to merge this or not.

[2016-12-07 20:01] not-an-aardvark commented on #7712
It looks like this is caused by a bug in Acorn: https://github.com/ternjs/acorn/issues/487

The rule assumes that variables declared with `let` can only be declared in one place. However, the parser incorrectly considers the code to be valid, so the rule's assumption is violated and it behaves incorrectly.

For now, I suppose we can put a sanity check in `prefer-const` to avoid reporting an error

[2016-12-07 20:04] platinumazure commented on #7712
@not-an-aardvark At least, it should be easy to read the token we're trying to replace to make sure it actually says `let`, no?

[2016-12-07 20:14] not-an-aardvark commented on #7712
True, but there are also parts of the logic for *detecting* errors that expect only one declaration per variable. I think it's better to add an assertion in that logic to avoid potential runtime errors, rather than just when producing a fix.

[2016-12-07 21:08] AlexTes commented on #7714
I would say auto-fix! I also understand the concern but would say a warning added to this rule is more than enough.

If someone wishes to rely on the order of objects (perhaps already a debatable practice), then enforce the order of keys to be alphabetic, then asks the computer to enforce set rule and then get upset with it over things breaking something went wrong earlier on and a valuable lesson

[2016-12-07 21:11] Joris-van-der-Wel commented on #7714
Perhaps hide this behind a new flag? Something like `--unsafe-fix`. Other rules such as `no-trailing-spaces` could also benefit from this (by trimming within multi-line strings).

[2016-12-07 21:32] not-an-aardvark commented on #7714
@AlexTes

It doesn't really matter whether relying on the ordering of object keys is a good practice (in fact, I agree with you that it's not). But the fact is that it is possible for code to rely on it, and ESLint should not break working code under any circumstances.

An example of a case where this wouldn't apply: A user clones an existing repo that has `sort-imports` enabled, and makes some ch

[2016-12-07 21:36] not-an-aardvark commented on #7714
@Joris-van-der-Wel We're certainly open to the idea of having a way for the user to opt-in to "unsafe" fixes. However, I don't think there was consensus on this the last time it was discussed; feel free to open a separate issue for it if you'd like. (For more context, see https://github.com/eslint/eslint/issues/5329.)

[2016-12-07 22:22] #7706 closed

[2016-12-07 22:55] ilyavolodin commented on #6053
@valera-rozuvan This proposal has been accepted, so it's just waiting for implementation. If you would like to implement this rule, and have questions, @kaicataldo as champion should be able to guide you.

[2016-12-08 02:55] wtgtybhertgeghgtwtg opened #7718 "Consider moving formatters to separate package."
A couple of the dependencies of `eslint`, namely `babel-code-frame` and `table`, are only used by non-default formatters.  It would reduce the overall size of the `eslint` package by a couple of megabytes if these were moved.

[2016-12-08 03:25] valera-rozuvan commented on #6053
@kaicataldo Have you seen [alexlafroscia/eslint-plugin-ember-suave](https://github.com/alexlafroscia/eslint-plugin-ember-suave)? That project already has a custom rule for ESLint [ember-suave/prefer-destructuring](https://github.com/alexlafroscia/eslint-plugin-ember-suave/blob/master/docs/rules/prefer-destructuring.md):

Ex:

[code]

Should that implementation be taken as a basis? @alexlafroscia,

[2016-12-08 04:09] jethrokuan opened #7719 "Proposal: eslint --locate-config"
This proposal will benefit all editor plugins that use eslint under the hood. Some plugins (like flycheck) currently use `eslint --print-config` to determine if an eslint config exists. However, the check also fails in other scenarios, such as a npm package not being installed, or the config is errorneous.

The plugins, however, have no easy way of determining whether the config file is actually m

[2016-12-08 04:19] cpitclaudel commented on #7719
Flycheck maintainer here; this would also help us with cases in which --print-config is slow, I believe (https://github.com/flycheck/flycheck/issues/1129).  Inviting @Simplify to the discussion, as our flycheck/eslint expert :)

[2016-12-08 04:24] platinumazure commented on #7719
Given that multiple configuration files are allowed and some can inherit from each other, which config file in particular are you looking for? The first one found when traversing up the directory tree? The one with `root: true`, if it exists? The last one found? Etc.

[2016-12-08 04:30] not-an-aardvark commented on #7719
I'm not sure whether this would satisfy your use case, but a simple/fast way to do this would be

[code]

[2016-12-08 04:37] jethrokuan commented on #7719
@platinumazure the current practice is to pass a string to indicate the directory, and I think that should still be fine. e.g. `eslint --locate-config .` in the project directory would locate  "project-specific" one.

@not-an-aardvark preferably the functionality would be provided by eslint, in case these conventions change again and the plugins that depend on it are unaware.

[2016-12-08 04:40] cpitclaudel commented on #7719
@Simplify will confirm, but IIUC we're just trying to determine whether eslint will complain about a missing configuration when we run it; given this, we don't really care which file exactly is being returned; we just want a quick way to make sure that there is one, so that we can disable eslint if there isn't.

[2016-12-08 08:16] jackhsu978 commented on #7527
@justin808 you can just write `<CommentsCount commentsCount={commentsCount} />` instead, right?

[2016-12-08 08:38] frontsideair commented on #6851
No longer having this issue, maybe due to configuration changes. Closing.

[2016-12-08 08:38] #6851 closed

[2016-12-08 08:43] AlexTes commented on #7714
@not-an-aardvark you make a strong point. I did not consider the case where the user enforcing the rule and responsible for the use of object key order say a maintainer, is not the same as the user submitting the auto-fixed code. A tricky use-case I'd enjoy trying to solve.

Before I do, I couldn't find more than the core-rule-guidelines but if what you say is set in stone:

There's really no poin

[2016-12-08 08:50] gajus commented on #7714
If the order of properties is important, it must be covered in their test cases.

If user identifies a breaking change, he can always opt-in to revert a change and use `/* eslint-disable */` to disable transformation of a specific object declaration.

[2016-12-08 08:59] mysticatea commented on #7705
Though, I think good if rules of ES module syntaxes are in core because it's in the language spec.
On the other hand, I think that rules of ES module's lookup way fit to plugins because it's not in the language spec.

"To put imports at the head of files" and "to put exports at the last of files" are reasonable to me.

I'm not sure about `default-only`.

[2016-12-08 10:08] vitorbal commented on #7601
ping @BlockChange, could you look at the bot's questions above? THanks!

[2016-12-08 10:09] vitorbal commented on #7658
ping @kirly-af, could you look at @platinumazure's question above? Thanks!

[2016-12-08 10:20] vitorbal commented on #7718
@wtgtybhertgeghgtwtg thank you for your issue.
Please correct me if I'm wrong, but I believe this would be a breaking change.
IMO, it would definitely be nice to decrease the overall package size. Let's see what the rest of the team thinks, though. I'll label this as a core change, so we need TSC approval.

[2016-12-08 10:24] #6986 closed

[2016-12-08 10:32] vitorbal commented on #6175
👍  on this `require` behavior instead of just plain ignoring.

[2016-12-08 11:03] Simplify commented on #7719
Basically, we only need to know if ESLint can find any configuration at all.

Best option for us will be `--valid-config .` with different exit codes:
0 - There is config and config is valid, no modules are missing, etc..
1 - There is no configuration at all, user need to run `eslint --init`
2 - There is configuration file, but ESLint can't use it, some modules are missing, oa `ESLint couldn't fin

[2016-12-08 16:16] not-an-aardvark commented on #7711
Thanks for the report. I think this is just due to the way Node's module resolution algorithm works. Dependencies are expected to be in `node_modules`, and projects won't be able to find them if they're anywhere else. So I'm not sure if there's anything ESLint can do to fix this.

[2016-12-08 16:19] #7473 closed

[2016-12-08 17:18] evilebottnawi commented on #7319
@kaicataldo what status? What can I do PR? And what names do better?

[2016-12-08 17:20] wtgtybhertgeghgtwtg commented on #7718
You are correct, this would be a breaking change.

[2016-12-08 17:49] evilebottnawi commented on #7608
@platinumazure what status? I can help (PR) :smile:

[2016-12-08 18:03] evilebottnawi opened #7722 "Proposal: option for disable multiple properties per line if braces not same line"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Throws error in second example. If br

[2016-12-08 18:08] not-an-aardvark commented on #7722
Does [`object-curly-newline`](http://eslint.org/docs/rules/object-curly-newline) allow you to lint for this?

[2016-12-08 18:10] evilebottnawi commented on #7722
@not-an-aardvark nope, i'm talking about the newlines between properties.

[2016-12-08 18:12] evilebottnawi commented on #7722
I would like to allow writing a property only if the braces on the same line, but require a transition lines if braces not on same line.

[2016-12-08 18:14] not-an-aardvark commented on #7722
I see. So if I'm understanding correctly, you want to allow single-line objects if the entire object is on one line:

[code]

But if the object expression takes up multiple lines, you want every property to go on a new line:

[code]

Is that correct?

[2016-12-08 18:20] evilebottnawi commented on #7722
@not-an-aardvark yes

[2016-12-08 18:22] evilebottnawi commented on #7722
@not-an-aardvark in conjunction with the https://github.com/eslint/eslint/issues/6488

[2016-12-08 18:25] not-an-aardvark commented on #7722
I see, thanks for clarifying.

I agree that it would be nice to have a way to enforce this. However, we should probably make sure that we don't introduce a conflict with the `object-curly-newline` rule by adding this option.

[2016-12-08 18:31] evilebottnawi commented on #7722
I do not think that conflict is possible:
`object-curly-newline` - responds for newlines after/before brackets
`object-property-newline` - responds for newlines between properties.

[2016-12-08 18:34] epmatsw opened #7723 "Invoking ESLint via Node API Uses Seemingly Incorrect Path for Configs and Plugins"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I have a utility that is globally installe

[2016-12-08 18:37] gyandeeps commented on #7723
Linter api doesn't do any kind of config resolution. If you want to do that then use CLIEngine interface.
Docs: http://eslint.org/docs/developer-guide/nodejs-api#cliengine

[2016-12-08 18:38] not-an-aardvark commented on #7722
Right, but even though this option would be enforcing newlines between properties, it would depend on whether newlines were present before/after brackets. I'm not saying there's definitely a conflict, it just seems like something that we should be on the lookout for.

[2016-12-08 18:44] epmatsw commented on #7723
@gyandeeps whoops, turns out that was an extremely misleadingly named variable. Updated the code.

[2016-12-08 19:07] kaicataldo commented on #7319
@evilebottnawi Hey, thanks for being willing to make a PR. This issue hasn't been accepted yet, which means that the team hasn't decided whether or not this should be included in ESLint core. If and when this is accepted, we'd love to have your contribution!

@eslint/eslint-team Looks like @evilebottnawi might be willing to implement this should it be accepted. Can we get some opinions/votes for i

[2016-12-08 19:10] kaicataldo commented on #6053
Apologies for not getting around to starting this yet.

@valera-rozuvan Would you like to work on implementing this? It does indeed look like that plugin does what we're trying to achieve here.

[2016-12-08 19:12] not-an-aardvark commented on #6053
I'm also willing to work on implementing this if no one else is working on it.

[2016-12-08 22:38] not-an-aardvark opened #7725 "Enable `object-curly-spacing` and `comma-dangle` on the ESLint codebase"
I think it would be nice to enable [`object-curly-spacing`](http://eslint.org/docs/rules/object-curly-spacing) and [`comma-dangle`](http://eslint.org/docs/rules/object-curly-spacing) on the ESLint codebase. A lot of our code is inconsistent about this (sometimes it's even inconsistent in the same object, e.g. `{ message: "foo"}`).

I ran the rules on the existing codebase to determine which option

[2016-12-08 22:43] nktssh commented on #4009
@frodosamoa can [object-property-newline rule](http://eslint.org/docs/rules/object-property-newline) solve you problem?

[2016-12-08 23:03] alexlafroscia commented on #6053
@valera-rozuvan AFAIK my implementation there works -- a lot of people in the Ember community use that package and I've never seen issues with it.

[2016-12-08 23:09] platinumazure commented on #7725
:+1: to `comma-dangle: "never", object-curly-spacing: "always"`.

[2016-12-08 23:47] not-an-aardvark commented on #7459
I figured it out: it's not that there's a bug in the rule, it's that the default configuration has overrides for `?` and `:`. In other words, the default configuration is not just `after`, it's `after, {overrides: {'?': before, ':': before}}`.

I made a PR to update the docs at https://github.com/eslint/eslint/pull/7726.

[2016-12-09 00:34] ilyavolodin commented on #7725
I think our styleguide requires `comma-dangle: ["error", "never"]`.

[2016-12-09 00:38] platinumazure commented on #7725
@ilyavolodin I didn't see it when I took a quick look. What section should I be looking at?

[2016-12-09 01:22] not-an-aardvark commented on #7656
@feross / others who would use this option: Do you have any preference for the options in [my comment](https://github.com/eslint/eslint/issues/7656#issuecomment-263098971) above? In other words, should this option just apply to regular expressions, or should it apply to everything checked by `no-useless-escape`?

[2016-12-09 01:24] #7459 closed

[2016-12-09 02:40] mysticatea commented on #7725
Before, `comma-dangle` had been applied to our codebase, but it was dropped from `eslint:recommended` at 3.0.0.

It's fine `comma-dangle: ["error", "never"]` for implementations but I think `comma-dangle: ["error", "always-multiline"]` is better for tests because we can get better diff.
(though my personal preference is `always-multiline` at all :smiley:)

[2016-12-09 04:11] Trott opened #7727 "Using "first" for indent can result in message about "NaN spaces" with nested arrays"
**Tell us about your environment**

* **ESLint Version:** current master
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
config file is empty

[code]

**What did you do? Please include the actual source code causing the issue.**

Running command:

[code]

with contents of `test.js`

[2016-12-09 04:12] Trott commented on #7727
@not-an-aardvark I imagine there may be a release planned for tomorrow. If so, I imagine you'll want to fix this issue (or revert the new feature) before releasing.

[2016-12-09 05:34] ahmadmaged commented on #7688
@kaicataldo It seems more like a niche for me. :relieved:

Of course you are correct about `constructor` not being a keyword, just a special function.
Although, I must admit I wasn't aware of that until @not-an-aardvark gave me the heads-up.

I think the idea of allowing functions to follow a different spacing behavior by using a list or a regular expression might be more useful.

However, if the

[2016-12-09 07:06] not-an-aardvark commented on #7714
@AlexTes

Sort of; I'm saying that unsafe fixes probably won't get in until a better way to opt-in to fixes is implemented. (It's worth noting that since #5329 was created, there have been several major improvements to autofixing. So while there hasn't been much discussion on that issue recently, it's not as if all autofixing progress has been completely stalled since February.)

[2016-12-09 07:37] #7700 closed

[2016-12-09 07:48] not-an-aardvark commented on #7725
I would be fine with either `comma-dangle: [error, never]` or `comma-dangle: [error, always-multiline]`

[2016-12-09 08:19] valera-rozuvan commented on #6053
Do we need to dup;icate this functionality in main ESLint? If it's already available as a separate plugin, maybe it's best to spend our effort on something else?

[2016-12-09 08:41] AlexTes commented on #7714
I understand.
On the latter: that's great to hear! Unfortunately, I don't think I can currently help out with the herculean effort that is implementing auto-fixing the way #5329 envisions. I can wish you the best of luck with it. Good luck to you and all others @not-an-aardvark!

[2016-12-09 08:59] feross commented on #7656
I *think* it should only apply to regular expressions. At least for `standard`, I want to warn if someone writes `var x = '\]\)'` since there's no need to escape in that situation. There's no argument to be made about parallelism.

[2016-12-09 09:38] roneyrao opened #7729 "if config appears in project folder, configs in home directory can't be seen totally"
**Tell us about your environment**
Linux version 3.6.32-431.11.2.el6.x86_64 (mockbuild@c6b8.bsys.dev.centos.org) (gcc version 4.4.7 20120313 (Red Hat 4.4.7-4) (GCC) ) #1 SMP Tue Mar 25 19:59:55 UTC 2014

* **ESLint Version:**
v3.11.1

* **Node Version:**
v7.2.0
* **npm Version:**
3.10.9
**What parser (default, Babel-ESLint, etc.) are you using?**
espree
**Please show your full configuration:**

[c

[2016-12-09 10:29] platinumazure commented on #7729
Per [the documentation](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy), this behavior is intentional and working as designed.

Generally, it's better to just put your entire configuration in your project, because that way if you work with other people, you'll all have the same configuration in source control within the project directory.

If you want to avoid

[2016-12-09 10:42] claudiorodriguez commented on #7714
Something like `--fix --fix-unsafe=sort-keys,another-rule` would be ideal. `--fix` would be current default behaviour (err on the safe side of breaking code), and `--fix-unsafe` would let you specifically opt into autofixing specific rules whose autofixes are considered unsafe. At that point it's up to the developer to make sure that the rule's autofix can be safely applied. Maybe each autofix can

[2016-12-09 14:39] roneyrao commented on #7729
intentional? then what does "config cascading and hierarchy" mean sir?

[2016-12-09 14:44] platinumazure commented on #7729
It means that configurations in ancestor directories (relative to the location of the file to be linted) do get factored in as part of a cascade, except that a configuration in a user's home directory is special-cased to only be used if literally no other configuration is found. I'm not 100% sure what is supposed to happen if your project is in a descendant of your home directory, so that the home

[2016-12-09 15:41] kaicataldo commented on #6053
@valera-rozuvan Good point. It was already accepted by the team, so it has been deemed fit for core. However, since it's a JSCS compatibility issue, might be worth discussing to see the team thinks. We didn't implement some other rules that exist in other plugins.

@alexlafroscia If we decide we'd still like this in core, would you be amenable to either making a PR/allowing us to copy over the rul

[2016-12-09 15:42] kaicataldo commented on #6053
@eslint/eslint-team ^

[2016-12-09 15:57] #4166 closed

[2016-12-09 16:00] #7712 closed

[2016-12-09 16:03] vitorbal commented on #7725
My personal preference for `comma-dangle` is also `always-multiline`, but I am 👍  for adding it either way, for consistency's sake.
I'm also 👍  for `object-curly-spacing: "always"`

[2016-12-09 16:17] #7727 closed

[2016-12-09 16:25] #7676 closed

[2016-12-09 17:20] kaicataldo commented on #7659
v3.12.0 release was successful. We had an issue with Travis being unable to install Node versions with nvm, but it was resolved pretty quickly.

@eslint/eslint-team Reminder to please only merge documentation and bug fix PRs until we determine whether or not we need a patch release on Monday.

[2016-12-09 18:29] alexlafroscia commented on #6053
@kaicataldo sure, say the word and I'll make the PR.

[2016-12-09 18:45] kaicataldo commented on #7725
I don't have a huge preference for `comma-dangle`, but I do like the idea of nicer Git diffs :)

[2016-12-09 19:25] kaicataldo opened #7730 "spaced-comment evaluates shebang when shebang is only contents of file"
**Tell us about your environment**

* **ESLint Version:** Master
* **Node Version:** v6.9.1
* **npm Version:** v3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
Default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

With the above configuration, the following does not warn:
[code]

while this does

[2016-12-09 19:53] platinumazure commented on #6053
@kaicataldo I think we made a promise to JSCS users that they could (eventually) switch to ESLint and get basically all the JSCS functionality. To me it feels like it would be unfair to those users to tell them "actually, you need to use these plugins as well". Makes the conversion harder than it needs to be. I think this should absolutely be ported to core (with proper attribution).

[2016-12-09 20:18] NicholasBoll opened #7732 "indent rule broken inside fat-arrow function"
**Tell us about your environment**

* **ESLint Version:** 3.12.0
* **Node Version:** 6.2.0
* **npm Version:** 3.8.9

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint`

**Please show your full configuration:**

**1**
[code]
**2**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No error

**Wha

[2016-12-09 20:57] jdforrester opened #7733 "eslint 3.12.0 indent validation failure with object on new line in function call, expects extra 11 indents"
**Tell us about your environment**

* **ESLint Version:** 3.12.0
* **Node Version:** 7.1.0
* **npm Version:** 4.0.3

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:** Using eslint-config-wikimedia 0.3.0 (which I maintain) via grunt-eslint 19.0.0; no other rules.

`package.json`:
[code]

`.estlintrc.json`:
[code]

**What did you do? Pleas

[2016-12-09 21:05] not-an-aardvark commented on #7733
Thanks for the report. I can reproduce this issue.

[2016-12-09 21:08] not-an-aardvark commented on #7732
Thanks for the report. I was able to reproduce this issue.

[2016-12-09 21:40] Trott opened #7735 "indent rule not working with in highly-wrapped context"
**Tell us about your environment**

* **ESLint Version:** current master
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**
n/a; no configuration file

[code]

**What did you do? Please include the actual source code causing the issue.**

command line: `eslint --no-eslintrc test.js --

[2016-12-09 21:41] Trott commented on #7735
Actually, looking more closely, this looks correct. Never mind!

[2016-12-09 21:41] #7735 closed

[2016-12-09 22:03] rhbecker commented on #6505
The `argsIgnorePattern` option for `no-unused-vars` is very similar to this, and similarly useful to those writing express apps: `"no-unused-vars": ["error", { "argsIgnorePattern": "next" }]`.

Elaborating on the use cases for adding a similar option to `no-param-reassign`, Express docs suggest [setting per-request values within middleware](http://expressjs.com/en/api.html#res.locals) by modifying

[2016-12-09 22:44] roastlechon commented on #7733
I can reproduce this too....

in this situation it prefers 39 spaces instead of 8 spaces for the first object curly brace as specified by the arrow comment
[code]

[2016-12-09 23:25] kaicataldo commented on #6053
@platinumazure I'm with you on that. Just wanted to discuss because there was at least (something regarding jQuery) that we said we would just recommend the plugin for.

[2016-12-10 03:28] jonathantneal commented on #7723
I’ve been running into this issue as well.

[code]

Within the `dir` directory, a `package.json` file with `eslintConfig.extends` is successfully read.  However, eslint does **not** resolve `extends` from the `cwd`, despite that being where it identified the `package.json`. Rather, it resolves `extends` from the actual current working directory.

[2016-12-10 03:58] roneyrao commented on #7729
Thank you for your patience.
Yes, it's a good practice to have all configs in project folder. I'm just confused by the docs at http://eslint.org/docs/user-guide/configuring, which says:
The configuration cascade works by using the closest .eslintrc file to the file being linted as the highest priority, then any configuration files in the parent directory, and so on. When you run ESLint on this pro

[2016-12-10 05:24] platinumazure commented on #7729
@roneyrao Thanks for including a documentation snippet. The part you have emphasized is generally correct, except when one of the two .eslintrc files is in a home directory because that is intentionally given lowest priority. You may be right that the documentation could be made clearer.

Personally, though, I find it weird that the home directory .eslintrc is deprioritized when the home directory

[2016-12-10 08:42] mysticatea commented on #6525
Can we close this issue by #7669?

[2016-12-10 13:49] xixixao commented on #7698
I agree this is duplicate of #6606. We use this style pretty consistently, including with JSX and other expressions, where lint doesn't error:
[code]
I see that this doesn't work as well when the indentation isn't two spaces and don't really have an answer for that, as I personally don't have experience with JS using different config. Perhaps if this was a configuration flag, it would only be used

[2016-12-10 14:13] Mashi opened #7736 "Illegal XML characters output in checkstyle format"
Jenkins checkstyle complains that character reference "&#26" is an invalid XML character.  Online XML validator http://www.xmlvalidation.com/index.php?id=1&L=0 confirms.

[code]

Environment
* ESLint Version: 3.12.0
* Node Version: 6.9.1
* npm Version: 4.0.2
* OS Version: Windows 10 x64

Using parser babel-eslint

{
  "extends": "airbnb",
  "parser": "babel-eslint"
}

On executiong:
"node ./node_m

[2016-12-10 17:07] ilyavolodin commented on #6525
Hmm... Why didn't it get closed automatically? Yes, this is now resolved. Closing.

[2016-12-10 17:07] #6525 closed

[2016-12-10 20:23] not-an-aardvark commented on #7736
Thanks for the report. Does this only occur when specific code is linted, or does it always occur?

[2016-12-10 21:15] Mashi commented on #7736
Only occurs when linting.  I would say it's a minor issue.  I know I shouldn't be linting images (binary files), I just haven't figured out how to exclude them yet.

[2016-12-10 21:19] not-an-aardvark commented on #7736
Sorry, maybe I'm misunderstanding -- you're running ESLint on an image file?

In any case, the XML formatter probably shouldn't output invalid XML, although I'm surprised anything is getting outputted other than something like "Invalid token".

[2016-12-10 21:21] not-an-aardvark commented on #7736
Oh I see, just looked at your description in the original issue above. So the problem is that ESLint isn't sanitizing parsing errors for the XML formatter.

[2016-12-10 21:39] Mashi commented on #7736
Yes, the problem is just the XML formatter output.

[2016-12-11 01:37] platinumazure commented on #7736
@Mashi Any chance you could please include the file you're linting and/or a lint report using a different formatter, so we can see more clearly what's going on?

[2016-12-11 01:39] platinumazure commented on #7673
@Alaneor Would you be interested in filing a PR to make the default "no default" regex case-insensitive? If not, no worries, but we always welcome community contributions.

[2016-12-11 05:27] roneyrao commented on #7729
Yes, my project is a descendant of home.  now, the two rules for 'home' and 'ancestor' collides. which one to choose, and even the 'home' rule itself, is better to placed in the docs, in case new comers get confused. Anyway, thanks for team's hard work!

[2016-12-11 09:45] ValYouW commented on #7235
Hi,
Excuse me for bringing this issue up, but why `Foo.prototype.bar = function() {};` is incorrect when using the `as-needed` option? while I understand that the function's name property would be empty, in callstacks this function will have the name `Foo.bar`, and I think this goes along with the TSC decision of "see the rule as ensuring names are present for debugging".
Also this is the behavior

[2016-12-11 09:54] Mashi commented on #7736
Attached the file:
![adblogo-70](https://cloud.githubusercontent.com/assets/281359/21079352/28f1b5ac-bf90-11e6-9eb0-ad6e0d2f9c5e.png)

[2016-12-11 16:19] kaicataldo commented on #7235
@ValYouW Mind making a new issue for this so that we can discuss? This won't get much visibility here. Thanks!

[2016-12-11 17:11] btmills commented on #7564
Just added the third :+1:, marking as accepted!

[2016-12-11 20:36] ValYouW opened #7739 "`func-names` error on "inferrable names""
Hi,
Excuse me for bringing issue #7235 up again, but why Foo.prototype.bar = function() {}; is incorrect when using the `as-needed` option? while I understand that the function's name property would be empty, in callstacks this function will have the name Foo.bar, and I think this goes along with the TSC decision of "see the rule as ensuring names are present for debugging".
Also this is the behav

[2016-12-11 20:36] ValYouW commented on #7235
@kaicataldo Done. #7739

[2016-12-11 20:38] ljharb commented on #7739
(It would have the inferred name of `bar`, not `Foo.bar`)

[2016-12-11 20:44] ValYouW commented on #7739
@ljharb This is what I get:
[code]

[2016-12-11 20:45] ljharb commented on #7739
That's in the stack trace, which isn't currently governed by a spec - the name would be `foo.bar.name`.

[2016-12-11 20:45] loganfsmyth commented on #7739
@ljharb That form doesn't get an inferred names in the ES6 spec AFAIK.

[2016-12-11 20:46] not-an-aardvark commented on #7739
[code]

[2016-12-11 20:47] ljharb commented on #7739
Right, I'm just saying that the name it *would* get would be `bar`, not `Foo.bar` - I recognize that it doesn't actually get an inferred name.

[2016-12-11 21:10] ValYouW commented on #7739
I'm sorry, I probably misused the term "inferred", what I meant is that while the function doesn't "officially" has a name, it still can be inferred using the parent element, at least that's what I remember from esprima.
Now the questions is whether that's enough to satisfy the rule goal as "ensuring names are present for debugging".

[2016-12-11 21:29] not-an-aardvark commented on #7736
I can't reproduce this; when I run ESLint on the image file on OSX, the resulting XML is valid.

[code]

Apparently `\x26` is used as an EOF character on Windows, so it's possible that this issue is windows-specific.

[2016-12-11 22:01] not-an-aardvark commented on #7564
We never ended up deciding on an option name. I'm thinking it should be something along the lines of `avoidLongformArrows`, but I'm open to bikeshedding on that. (Normally I would prefer `allowLongformArrows` instead of `avoidLongformArrows`, but the rule already has an `avoidQuotes` option, so maybe we should stay consistent with that.)

[2016-12-11 22:13] wegry opened #7740 "Auto-fix support for object-property-newline"
**What rule do you want to change?**

object-property-newline

**Does this change cause the rule to produce more or fewer warnings?**

It will produce the same number of warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

When the --fix flag is applied, code will be changed

**Please provide some example code that this change will affect:**

[code]

As wel

[2016-12-11 22:15] alexlafroscia commented on #6053
I'm putting the PR together to add the rule I already created as part of the core rules.

[2016-12-11 22:17] not-an-aardvark commented on #7740
This seems like a good idea to me. To make it easier for other people reading the issue, would you mind filling out our [rule change proposal template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md)?

[2016-12-11 23:10] Alaneor commented on #7673
@platinumazure Sure thing -> just opened #7742.

[2016-12-11 23:39] kaicataldo commented on #6053
@alexlafroscia Much appreciated!

[2016-12-11 23:40] kaicataldo commented on #7235
Thanks!

[2016-12-11 23:56] wegry commented on #7740
**What rule do you want to change?**

object-property-newline

**Does this change cause the rule to produce more or fewer warnings?**

It will produce the same number of warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

When the --fix flag is applied, code will be changed

**Please provide some example code that this change will affect:**

[code]

As wel

[2016-12-12 00:02] platinumazure commented on #7740
@wegry What are your thoughts on how comments in between those properties should be handled?

Example test case:

[code]

If we can get that sorted out, I'm :+1: on this.

[2016-12-12 00:24] wegry commented on #7740
[code]
The last comment is tricky and might play weird with `line-comment-position`.

[2016-12-12 00:30] wegry commented on #7740
[code]

The last comment is tricky and might play weird with `line-comment-position`.

[2016-12-12 00:34] platinumazure commented on #7729
@roneyrao No worries, thanks for your patience. I'm hoping my previous comment will pull in some team members who can explain the current logic. If we decide not to change the current logic, then we can make a documentation change.

Either way, this is no longer just a question, so I've relabeled the issue.

[2016-12-12 00:35] wegry commented on #7740
With `line-comment-position: above`, the above might be rendered as

[code]

or

[code]
I doubt the latter is currently supported (especially by `line-comment-position`).

[2016-12-12 00:38] platinumazure commented on #7740
@wegry Note that the comma was separating those comments. With that in mind, would this rendering make sense?

[code]

It's not ideal, of course, but this rendering involves the least number of token moves (e.g., comments don't move before or after other tokens). We also have other rules with auto-fix that should at least help make things better.

What do you think?

[2016-12-12 00:43] wegry commented on #7740
@platinumazure There's a certain amount of ambiguity either way. ;) But your rendering seems like it plays better, especially with line comments. There isn't currently a block comment position rule, right?

[2016-12-12 00:53] not-an-aardvark commented on #7740
I think it would be better if we just didn't perform a fix in cases where there are comments between two properties.

[2016-12-12 00:58] not-an-aardvark opened #7744 "object-shorthand fixer outputs invalid syntax if a computed property name is parenthesized"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to report an error

[2016-12-12 01:15] not-an-aardvark commented on #7744
Oh also, it looks like there's more fix logic that hasn't accounted for async, so the following will cause syntax errors:

[code]

(The fixes in https://github.com/eslint/eslint/pull/7575 only handled the cases where longform syntax was converted to shorthand syntax.)

[2016-12-12 01:21] ljharb commented on #7564
The terminology used to describe them are "explicit return arrow functions", i've never seen "long form" before. Perhaps for a name, `avoidExplicitReturnArrows`?

I agree that if you've set the rule to "never", this other rule doesn't really make sense.

[2016-12-12 01:23] ljharb commented on #7739
@ValYouW "name inference" refers to the requirement in the ES6 language spec that in some cases, the function's "name" property will be set to the name of the variable or property name that they're assigned to.

The rule is only satisfied if the function's "name" property contains the name, because native debuggers aren't the only tools that do debugging - imagine, for example, code that reports c

[2016-12-12 01:37] not-an-aardvark commented on #7564
After looking at the rule docs again, it seems like `avoidQuotes` is actually doing something unrelated, so I think it would be fine to have a positively-worded option. How about `allowExplicitReturnArrows`?

[2016-12-12 01:53] ljharb commented on #7564
The default would have to remain "no enforcement" tho, and having an option where absence and `false` aren't the same is weird. Maybe `enforceOnExplicitReturnArrows`, or something else where `true` enables it?

[2016-12-12 02:08] not-an-aardvark commented on #7564
Personally I don't think having an option default to `true` is confusing, but I'm willing to change it if it's confusing to others.

[2016-12-12 04:15] not-an-aardvark commented on #7564
Let's move the discussion to https://github.com/eslint/eslint/pull/7746.

[2016-12-12 04:15] Trott opened #7747 "indent rule can break on arrayExpression inside a CallExpression"
* **ESLint Version:** 3.12.0
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
no configuration

[code]

**What did you do? Please include the actual source code causing the issue.**

Running this:

[code]

on file `test.js`:

[code]

**What did you expect to happen?**

No error

**Wh

[2016-12-12 05:02] feross opened #7748 "Uncaught exception when cache file is empty (i.e. invalid JSON)"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[`standard` 8.6.0](https://github.com/feross/standard/blob/2b9afb6e49fb72d7043916b66e310f802f29f6cf/package.json)

**What did you do? Please include the actual source code causing the issue.**

Re

[2016-12-12 05:12] not-an-aardvark commented on #7748
Is there a use case for linting with an invalid cache file? I can see the argument for invalidating the cache if it's invalid, but I'm wondering how this even happens.

[2016-12-12 05:15] not-an-aardvark commented on #7747
Thanks, I can reproduce this issue.

[2016-12-12 05:43] VzqzAc commented on #7748
My related-to-this error comes with an empty file as it tries to parse it or something like that but as is a blank file it throws an exception

[2016-12-12 05:50] not-an-aardvark commented on #7748
Right, but why is there a blank cache file in the first place?

[2016-12-12 05:55] VzqzAc commented on #7748
Sorry, mine is not a cache file, but a file I will use just that is blank at the moment, it will contain some code, maybe it would be good an error like file created but is empty or something like, anyway, sorry again because I have a problem with the empty file but it's not really a cache file so my problem might be irrelevant

[2016-12-12 08:26] remcohaszing opened #7749 "comma-dangle auto fix introduces syntax error"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 7.2.1
* **npm Version:** 4.0.3
* **eslint-config-airbnb-base Version** 10.0.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I let ESLint fix the issues.

[code]

[2016-12-12 08:36] not-an-aardvark commented on #7749
Hi, thanks for the report.

This is happening because you have the `functions: true` option enabled (via the `airbnb-base` config). Trailing function commas are valid syntax according to the latest spec, but they haven't been implemented in Node yet. Since the `functions: true` configuration requires these commas to be present, I think the autofixer is working as intended in this case.

To avoid t

[2016-12-12 09:19] remcohaszing commented on #7749
oh ok, thanks!

[2016-12-12 09:19] #7749 closed

[2016-12-12 10:28] nwhite89 opened #7751 "Camel Case not picking up errors"
**Tell us about your environment**

* **ESLint Version:** `3.11.1`
* **Node Version:** `v4.3.2`
* **npm Version:** `2.14.12`

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Expected an error to be raised f

[2016-12-12 13:41] BlockChange commented on #7601
The version is mentioned, and the other points can be deduced by humans I think.

[2016-12-12 14:38] jonathantneal commented on #7723
I’m trying to track down this bug. Perhaps, `cwd` or something related to it needs to get passed as an `extraLookupPath` to `ModuleResolver#resolve` in [lib/util/module-resolver.js](https://github.com/eslint/eslint/blob/master/lib/util/module-resolver.js#L55).

[2016-12-12 14:56] jonathantneal commented on #7723
The issue may be here:

[code]

The `projectPath` that gets calculated here is not *the path of the project including eslint as a dependency*, but in fact the project’s `node_modules` directory.

The `__dirname` will be:

[code]

Which means `'../../../'` will take us...

[code]

Perhaps this file moved? I will make a PR to add the additional `../`. This resolves the issue for me.

[2016-12-12 15:10] platinumazure commented on #7751
Is line 55 the second line in your example (`p.some_non_camel = 122;`)?

It might be that the rule intentionally focuses only on assignments/declarations, rather than uses (because you might be forced to use a non-camelcase from a third-party library, for example).

[2016-12-12 15:12] platinumazure commented on #7601
@BlockChange We have 250+ open issues and usually about 10-20 new issues come in per day. Unfortunately, we don't really have time for deduction. In order to ensure that this issue is looked at with some priority by the team, please reframe the original post to answer the questions we need and make it easier for us to review this. Thanks!

[2016-12-12 15:24] nwhite89 commented on #7751
Yeah I thought this may be the case coming from `JSHint` for example it forces you at all times thought this would be the case for ESLint also the way around it would be not using dot notation such as.

[code]

for example?

[2016-12-12 15:28] epmatsw commented on #7723
@jonathantneal I think your bug is a little different than mine. In my case, `projectPath` is something like `/Users/wstamper/mytool/node_modules`, while the config and plugins are in `/Users/wstamper/github/someproject`. I think both of our issues would be solved by returning `process.cwd()` or maybe the passed through cwd from `getBaseDir`. There would need to be a separate fix for plugin loadin

[2016-12-12 16:50] kahneraja opened #7752 "Unable to eslint init locally on windows."
**Tell us about your environment**

Environment: Windows 7.
EsLint Version: v3.12.0.
Node Version: v6.9.2.
NPM Version: 3.10.9.

**What did you do? Please include the actual source code causing the issue.**

[code]
I expected the eslint process would begin with it's usual questions.

I got a VB script error prompt.

![image](https://cloud.githubusercontent.com/assets/5403386/21107818/fdbdd2f4-c060

[2016-12-12 17:00] platinumazure commented on #7752
I assume the first character is a hash (as part of a shebang)... I thought Windows had a way of ignoring those, but I can't recall offhand what that would be.

@kahneraja Possible workaround: Can you prepend the node binary?

[code]

[2016-12-12 19:31] thepiscean commented on #7752
To run a "bin" tool locally installed by NPM, it's best to execute the file found in your local `node_modules\.bin` directory. From your package root in a Windows shell or command prompt, that would be:

[code]

Note: generally, when installing command-line tools with NPM it's recommended that you do so globally.

[2016-12-12 19:49] platinumazure commented on #7751
@nwhite89 We have a separate rule, `dot-notation`, which could flag the workaround case you proposed. In general, we don't like it when rules overlap with each other, so in all likelihood, `dot-notation` would not have an exception case for if underscores were present.

You got your warning when the assignment occurred-- is that not sufficient? Are you worried about gaps as a result of this behavi

[2016-12-12 19:52] platinumazure commented on #7752
@thepiscean Note that we don't generally recommend installing ESLint globally because then it won't detect locally-installed plugins or sharable configurations. Instead, I think @kahneraja's best bet is to run this with the node binary.

[2016-12-12 20:20] ValYouW commented on #7739
@ljharb I believe that such tools would have to infer the name as well.
Personally I don't see a difference between:
`var f = function() {}`
and
`Foo.prototype.bar = function() {}`
IMHO the `name` property is irrelevant when coming to determine whether a function is anonymous or not, but that's just me...

Another example, what the difference between:
[code]

I think that when it comes to linting,

[2016-12-12 20:24] not-an-aardvark commented on #7739
No, because the whole point of the `as-needed` option is to check whether the function would have an inferred `name` property. Since the function will have a `name` property in one of the examples but not the other, it's correct for the rule to only report one of those cases but not the other.

[2016-12-12 20:26] not-an-aardvark commented on #7498
There doesn't seem to be much interest in adding these labels, so I'll close this issue.

[2016-12-12 20:26] #7498 closed

[2016-12-12 20:29] not-an-aardvark commented on #7530
It looks like there was consensus that we should not add autofixing for `camelcase`, so I'm going to close this issue.

[2016-12-12 20:29] #7530 closed

[2016-12-12 21:01] kahneraja commented on #7752
_goes and tries it with node binary..._

[2016-12-12 21:09] kahneraja commented on #7752
very exciting.
this seems to make our windows and mac builds very very happy.
thank you @platinumazure and @thepiscean.
great stuff!

[2016-12-12 21:22] ValYouW commented on #7739
Agrre. Can there be an `anonymous-only` option that will error only when the function is truly anonymous? Practically speaking, what debugging tools won't show a name for `Foo.prototype.bar`?

[2016-12-12 22:13] #7732 closed

[2016-12-12 22:13] #7733 closed

[2016-12-12 22:49] kaicataldo commented on #7659
v3.12.1 release was successful. We have one [outstanding bug](https://github.com/eslint/eslint/pull/7750) that we would like get a fix in for, but because it's for the `indent` rule (which is prone to regressions), we're going to wait until Wednesday and do a second patch release.

@eslint/eslint-team Reminder to please continue only merging documentation and bug fix PRs until we do a second patch

[2016-12-12 23:23] roderickObrist commented on #5150
Hi All,

I may be a little late on this thread, but I find most of my angst with this rule can be determined based on the way the array is being used. For example:

``
// Good
someArray.forEach(val => str += val);
someObject.on('event', val => str += val);
someObject.then(val => str += val);

// Bad
someArray.map(val => str += val);
someObject.then(val => str += val)
  .then(hello => world);
``

T

[2016-12-12 23:36] jasonmorita commented on #6505
You can also use lodash `assignIn` like:

[code]

Still mutates, but no comment needed.

https://lodash.com/docs/4.17.2#assignIn

[2016-12-12 23:38] hudson155 commented on #6505
@jasonmorita I'd rather have my linter pick up on this than use it as workaround for something my linter doesn't support.

[2016-12-13 00:06] not-an-aardvark commented on #3458
Here's an updated proposal.

tl;dr:

* Configs can have plugins as dependencies
* If a reference to a plugin rule is unambiguous, it just works.
* If a reference to a plugin rule is ambiguous, ESLint throws an error and tells the user to be more specific.
* References to plugins are resolved such that the end user always has the ability to resolve an ambiguity.

---

## Detailed version

* A refer

[2016-12-13 01:41] ljharb commented on #3458
That proposal sounds awesome and seems like it would solve my issue completely - as an added bonus, most people would just be able to trim down their package.json and wouldn't have to edit a single line of config!

[2016-12-13 01:42] ljharb commented on #7739
There's no spec governing debugging tools, so there's literally no way to know when something is inferred. Note that it's not just node/v8, but you'd need to check every browser, as well as JS-only debugging tools (which can't inspect the original source code, and thus, couldn't possible infer anything besides the `.name` property)

[2016-12-13 03:24] ilyavolodin commented on #7729
If I'm not mistaken, last one to change/rewrite config cascading logic (including home directory special case), was @btmills

[2016-12-13 09:16] evilebottnawi commented on #7320
@not-an-aardvark the problem remains in the latest version (`3.12.1`), reproduced if you use `chain`
[code]
[code]
Config
[code]

[2016-12-13 09:48] not-an-aardvark commented on #7320
@evilebottnawi Thank you for the update. I'm aware that this issue hasn't been fixed yet in a release. (GitHub linked to several commits above that fix the issue, but none of them have actually been merged into master yet. This issue will most likely be fixed when https://github.com/eslint/eslint/pull/7618 is merged.)

[2016-12-13 09:49] evilebottnawi commented on #7320
@not-an-aardvark Thanks for answer, we will wait merge :smile:

[2016-12-13 09:56] gillez opened #7756 "Expected indentation of NaN spaces but found 6"
**Tell us about your environment**
MacOS v10.11.6
* **ESLint Version:**
v3.11.1
* **Node Version:**
v6.9.1
* **npm Version:**
v4.0.3

**What parser (default, Babel-ESLint, etc.) are you using?**
eslint from command line and VS Code ESLint plugin v1.1.0

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What di

[2016-12-13 09:58] gillez commented on #7756
Note: the following layout removes the errors.

    async.whilst(function() {
      return count < numRows;
    }, function(callback) {
      /* Process next block... */
      callback();
    }, function (err) {
      // All blocks completed.
      console.log("all blocks completed, record count", count);
      callback(err);
    });

This layout is fine for me, but I still want to flag the messag

[2016-12-13 10:03] not-an-aardvark commented on #7756
Thanks for the report. I noticed you're using ESLint 3.11.1; does this problem still occur when you upgrade to the latest version of ESLint?

[2016-12-13 10:22] gillez commented on #7756
Thanks for the reply.  I've just upgraded ESLint to 3.12.1 and still see the same issue.

[2016-12-13 10:27] not-an-aardvark commented on #7756
I think this is occurring because the `CallExpression.arguments` option does not currently support a value of `off`. The `CallExpression` option is ignored by default when no option is provided, so you can just omit that option to get the desired behavior.

[2016-12-13 10:34] gillez commented on #7756
Thanks for the explanation.  I have removed the CallExpression section and I no longer see those warnings.
As you have explained that the validation/errors can't be improved due to backwards compatibility, I am happy to close this issue.

[2016-12-13 10:34] #7756 closed

[2016-12-13 10:36] gillez commented on #7756
The only thing I would add is that maybe it should be mentioned in the docs that "off" should not be used and the block should be ommitted instead (the docs do say that off is the default but not that it shouldn't be specified).
http://eslint.org/docs/rules/indent

[2016-12-13 10:42] gillez commented on #7756
Actually forget the last comment.  I've re-read the docs and it was my misunderstanding.  I thought that "off" is generally used to turn options off, but I think it's only for configuring rules, not for configuring options inside rules.  If that's the general behaviour, I don't think it needs to be explicitly mentioned for this case.

[2016-12-13 12:51] iainbeeston opened #7757 "Rule proposal: `isArray()` rather than `instanceof Array`"
I'd like to propose a new rule: that checking for `<foo> instanceof Array` and suggesting that it should be rewritten as `Array.isArray(<foo>)`.

Using `instanceof Array` can return false when checking an array object created by another window (or possibly another process on node?), whereas `Array.isArray()` would work as expected. A more in-depth discussion can be found [here](http://web.mit.edu/

[2016-12-13 13:50] IhostVlad commented on #6274
Yes, generator-star-spacing is buggy and causes failure with async/await functions
Can be fixed by turn generator-star-spacing off in local esling config file

[2016-12-13 14:17] DamienCassou opened #7758 "No documentation for config.installedESLint"
When using `eslint --init`, the new `.eslintrc.js` contains:

[code]

This option is not documented anywhere. This is related to https://github.com/eslint/eslint/issues/6200.

[2016-12-13 14:31] platinumazure commented on #7757
Thanks for the issue!

My take: I agree with the general merits of why this rule is a good idea. However, due to the sheer number of core ESLint rules, we've had to adopt a stricter standard for rule inclusion in core. That standard is: Would ESLint be considered incomplete without this rule? And I don't think this proposal meets that higher bar.

Others on the team may disagree with me. But if we

[2016-12-13 15:10] platinumazure commented on #7756
Unrelated to this issue, it'd be nice if we could support an explicit "off" in case an upstream configuration turns it on and the user wants it off. Is that in the works @not-an-aardvark?

[2016-12-13 16:13] not-an-aardvark commented on #7756
I think there was some discussion about it awhile ago, but we never ended up getting around to adding it. I agree that it would be nice if we could support it.

[2016-12-13 16:14] platinumazure commented on #6274
@IhostVlad We should now support async generator functions (in latest ESLint). If you are experiencing problems, please open a new issue following our bug report template. Thanks!

[2016-12-13 16:36] not-an-aardvark commented on #7758
Thanks for the question. I'm also unsure of what the option does.

Looking at the codebase, it only appears in two places: [here](https://github.com/eslint/eslint/blob/7079c8930fff7225f49c59d0513a6c42e59fb2b4/lib/config/config-initializer.js#L50) and [here](https://github.com/eslint/eslint/blob/7079c8930fff7225f49c59d0513a6c42e59fb2b4/lib/config/config-initializer.js#L87). Both of these seem to be

[2016-12-13 16:43] platinumazure opened #7759 "New rule proposal: Flag duplicate literals"
**Please describe what the rule should do:**

This rule should flag uses of duplicate literals in the same file. The goal of this rule is to recommend that those duplicate literals be combined into one variable, which increases maintainability (by solving the problem of a user changing only a subset of the literals in the file, resulting in inconsistent behavior).

It is assumed that this will onl

[2016-12-13 17:12] not-an-aardvark commented on #7759
Tentatively :+1:, assuming we figure out a good solution to the concerns below.

I think that should be flagged by this rule. In example 3, the user probably meant to use `myRegEx.test(str)`, and warning about that seems to be well within the scope of this rule.

I agree that flagging boolean literals (and `null`) by default might be overkill. There a few other literals that I don't think it makes

[2016-12-13 17:31] kaicataldo commented on #7758
This seems like an unintended consequence of my change - I don't think I intended for that to end up in the actual config. We should fix this.

[2016-12-13 18:15] iainbeeston commented on #7757
Thanks for the helpful comments @platinumazure - if that's the consensus I'll look into creating a plugin

[2016-12-13 18:16] ljharb commented on #7757
@platinumazure what about a more general rule that warns against using `instanceof`, since it doesn't work cross-realm and it's not very reliable anyways? Would that be worth proposing?

[2016-12-13 18:39] platinumazure commented on #7757
@ljharb You're certainly welcome to lay out a proposal. To be honest, I don't know how I feel about that at this point.

[2016-12-13 18:41] platinumazure commented on #7759
@not-an-aardvark Thanks for your feedback. If the rule (as a first pass) didn't flag numeric literals, is that worth considering? In my experience, there will be plenty of value in catching duplicate string literals and RegExp literals already.

[2016-12-13 18:44] not-an-aardvark commented on #7759
Sure, that seems reasonable given that we already have `no-magic-numbers` to handle related issues with string literals.

[2016-12-13 19:53] btmills commented on #7729
It looks like this behavior has been around since the [original commit](https://github.com/eslint/eslint/commit/15d135a637f2488c49f90d0af5f7d11bdda86de6#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R89) that implemented the hierarchy. The specific case of a project within the home directory when the home directory contains a config file wasn't covered in the [spec](https://github.com/eslint/eslint/issues/

[2016-12-13 22:10] ilyavolodin commented on #7752
Closing as the question has been answered.

[2016-12-13 22:10] #7752 closed

[2016-12-14 03:39] shivanigandhi2 opened #7762 "Error: duplicated mapping key"
**Tell us about your environment**

* **ESLint Version:**swagger: '2.0'
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you expect to happen?**
I am new to programming. I went through the code but could not find a duplication at like 159.
The error message I am receiving is: Y

[2016-12-14 03:41] shivanigandhi2 commented on #7762
The error is receive is : YAMLException:
duplicated mapping key at line 159, column 1: definitions: ^

Please help me find where the error is at.
TIA

[2016-12-14 03:46] ilyavolodin commented on #7762
@shivanigandhi2 The above text looks like a swagger definition. We only need your eslintrc.yml config file. Could you please edit the message above to answer the questions noted in the original template?

[2016-12-14 04:29] shivanigandhi2 commented on #7762
Updated, I am new to programming so might not be in accurate format.

[2016-12-14 04:32] platinumazure commented on #7762
@shivanigandhi2 Do you have a file called `.eslintrc.yml` (or similar) in your root project directory? (Even something like `.eslintrc.json` would be okay.) We just need the contents of that file. The XML you've given us is not related to ESLint, so we can't use it to help you. :smile:

[2016-12-14 04:35] shivanigandhi2 commented on #7762
resolved, thanks

[2016-12-14 04:35] #7762 closed

[2016-12-14 07:38] MikaAK opened #7764 "Parse error with import()"
Webpack 2 implements the newest [import spec](https://github.com/tc39/proposal-dynamic-import) and got [released](https://github.com/webpack/webpack/releases/tag/v2.1.0-beta.28) recently, however `import()` statements break eslint!

**Tell us about your environment**
OSX 10.11.6
* **ESLint Version:**
3.10
* **Node Version:**
5.12
* **npm Version:**
3.8.6

**What parser (default, Babel-ESLint, etc.

[2016-12-14 07:48] not-an-aardvark commented on #7764
Hi,

`import()` is still an experimental syntax proposal (it's at stage 3 of the [four-stage process](https://tc39.github.io/process-document/)). ESLint generally doesn't support syntax features until they reach stage 4 and become official.

To run ESLint on code with `import()`, I would recommend using the [`babel-eslint`](https://github.com/babel/babel-eslint) parser instead.

[2016-12-14 08:19] not-an-aardvark commented on #7633
Im closing this issue since it looks like the question has been answered.

[2016-12-14 08:19] #7633 closed

[2016-12-14 08:21] not-an-aardvark commented on #7541
There hasn't been any activity on this issue for awhile and it doesn't look like this is a problem with ESLint, so I'm going to close it. However, feel free to continue the discussion.

[2016-12-14 08:21] #7541 closed

[2016-12-14 08:22] not-an-aardvark commented on #7620
It looks like this is working as intended and the question has been answered, so I'm going to close this issue. However, feel free to continue the discussion.

[2016-12-14 08:22] #7620 closed

[2016-12-14 08:35] not-an-aardvark commented on #7322
It looks like there are several team members opposed to adding this option, so I'm going to go ahead and close this issue. Of course, you're always welcome to use this option on your own code if you implement it in a plugin.

[2016-12-14 08:35] #7322 closed

[2016-12-14 08:38] not-an-aardvark commented on #7593
It looks like there were several team members opposed to adding autofixing for `no-return-await`, so I'm going to go ahead and close this issue.

[2016-12-14 08:38] #7593 closed

[2016-12-14 08:39] not-an-aardvark commented on #7377
It looks like this proposal hasn't had any activity in awhile, and it has two :-1:s from team members, so I'm going to go ahead and close this issue. Of course, you can always use this as a custom rule.

[2016-12-14 08:39] #7377 closed

[2016-12-14 08:41] not-an-aardvark commented on #7025
It looks like there hasn't been any activity on this issue for awhile, and there are two :-1:s from team members, so I'm going to go ahead and close it. Of course, you can always implement this behavior yourself as part of a custom rule.

[2016-12-14 08:41] #7025 closed

[2016-12-14 11:00] jhnns opened #7765 "Change allowArrowFunctions in func-style to string option"
Hi everyone! Thanks for eslint, it is awesome :)

I would like to allow arrow functions without bodies, like:

[code]

[code]

You'd configure it like this:

[code]

What you be open for that change or do you see any problems?

@flootr would be interested in doing a PR :)

[2016-12-14 12:44] mgol commented on #6741
Sorry for the delay.

A simplified test case would be as follows:
[code]
I have to insert an additional `// falls through` comment just before `default:` but I don't want to do that - I want to explicitly assert that I'm falling through in the first `if` provided that the second condition is not met and in no other case.

[2016-12-14 15:22] kirly-af commented on #7658
Hi @vitorbal, @platinumazure

Sorry I've been quite busy recently. I've updated the proposal, hopefully now there's enough information.

[2016-12-14 15:46] platinumazure commented on #7658
@kirly-af Thank you very much for updating the initial post, really appreciate it.

I'm :+1: on the idea, but we may need to bikeshed the configuration option a bit.

[2016-12-14 16:09] mockdeep opened #7766 "sort-imports rule could allow grouping"
**What rule do you want to change?**
We like to group imports by what's an external dependency versus what is in our application. It would be nice if the `sort-imports` allowed for groupings with a blank line in between.

**Does this change cause the rule to produce more or fewer warnings?**
Fewer, I think.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New opti

[2016-12-14 16:20] malixsys opened #7767 "no-useless-escape false positive on step definition"
**Tell us about your environment**
    node 6.9.1
    "eslint": "3.12.0",
    "eslint-config-airbnb": "13.0.0",
    "eslint-import-resolver-babel-module": "^2.0.1",
    "eslint-plugin-import": "2.2.0",
    "eslint-plugin-jsx-a11y": "2.2.3",
    "eslint-plugin-react": "6.8.0",

**What parser (default, Babel-ESLint, etc.) are you using?**
    default

**Please show your full configuration:**

[code]

[2016-12-14 16:26] platinumazure commented on #7766
Hi @mockdeep, thanks for the issue!

I'm not sure what the scope of your proposal is, exactly. Do you want blank lines to be allowed at all (but still enforce sorting of imports even across the blank line)? Do you want blank lines to create implicit groups, each of which must be sorted in itself but not sorted with respect to all imports? Or do you want sort-imports to know what is an internal vs

[2016-12-14 16:28] platinumazure commented on #7767
As the rule notes, `\]` is in fact a useless escape when it's not inside a character class.

What the rule wants you to do (to get the literal brackets to show up) is this:

[code]

Note that the opening bracket *is* escaped (to avoid creating a character class), but the closing bracket is *not* escaped.

[2016-12-14 16:31] mockdeep commented on #7766
The last would be great, but the second one is what I had imagined. Basically I'd like for the rule to enforce sorting within groupings, but not across them. Enforcing grouping based on what is local vs external seems like potentially an entirely different rule. I'll update a little later with the template.

[2016-12-14 16:40] feross commented on #7748
I wouldn't call it a use case, but it can definitely happen. I've seen multiple issues opened on the `standard` repo about this issue.

I don't know for sure what the cause is, but this could easily happen if ESLint throws an uncaught exception or if the user kills the program with Ctrl+C in the middle of execution.

It's probably a good idea to be robust against invalid cache files.

[2016-12-14 16:45] platinumazure commented on #7748
@feross I'd love to hear some thoughts on what you think we should do in those cases. Should we blow away the cache on `uncaughtException` event?

[2016-12-14 17:36] tirithen commented on #7338
This has been broken for soo long now, are there any other close match standards that just works? Eslint seemed nice but it's split out in so many packages that this really is becoming a pain to setup.

[2016-12-14 17:42] jhnns commented on #7765
**What rule do you want to change?**
func-style

**Does this change cause the rule to produce more or fewer warnings?**
The default option is not changed.

**How will the change be implemented? (New option, new default behavior, etc.)?**
Instead of `allowArrowFunction` being a boolean option, you'd use a string to specify what kind of arrow function would be allowed:

- `never` (default)
- `withou

[2016-12-14 17:45] burabure opened #7769 "no-useless-escape false positive for [\w]"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

`[\w]` matches any word character (

[2016-12-14 17:48] not-an-aardvark commented on #7769
Your code is passing a *string* to the `RegExp` constructor, and `\w` is the same as `w` in strings. So your code will behave the same as

[code]

I assume your code is supposed to look like this instead:

[code]

[2016-12-14 17:52] burabure commented on #7769
whoops, you're right, closing this

[2016-12-14 17:52] #7769 closed

[2016-12-14 17:58] platinumazure commented on #7766
@mockdeep, thanks for your response, that helps clarify things. I think the sort-within-groups could be added as an option, probably. If you could ping me when you've got the request template in place, I can remove the "needs info" label and we can evaluate. Thanks!

[2016-12-14 19:10] mockdeep commented on #7766
Alright, @platinumazure, I've updated the description.

[2016-12-14 19:12] #7747 closed

[2016-12-14 19:35] kaicataldo commented on #7659
v3.12.2 release was successful. This concludes this round of releases.

@eslint/eslint-team Please feel free to merge all PR's!

[2016-12-14 19:35] #7659 closed

[2016-12-14 19:54] platinumazure commented on #7766
Thanks @mockdeep.

I'm :+1: on this idea, as long as we just keep it to blank lines between groups and don't try to draw any inferences of what's supposed to be in each group. (I'd also prefer this new behavior be behind an option and not enabled by default, as that would technically be a breaking change for other users of the rule.)

[2016-12-14 20:02] not-an-aardvark commented on #7748
My preference would be to blow away the cache any time we attempt to load the cache and fail. If I'm understanding correctly, we currently just abort immediately when that happens (and the result is that the same error occurs the next time ESLint is run).

[2016-12-14 20:57] mysticatea commented on #7757
FWIW, I have the rule in my plugin: https://github.com/mysticatea/eslint-plugin#book-usage

[2016-12-14 22:06] #7673 closed

[2016-12-14 22:27] ValYouW commented on #7739
Do you think this should be a new rule/part of jscs compatability/discarded?

[2016-12-15 00:05] jfirebaugh opened #7771 "Indent lint regression in 3.12.2"
**test.js**:

[code]

Output of `eslint --no-eslintrc --rule='indent: 2' test.js`:

[code]

An indent of 4 spaces does not make sense for line 4. That would look like:

[code]

Another indication that this is a bug is that the following produces no errors:

[code]

Furthermore, version 3.12.1 has no issues with this example.

Looking in the 3.12.2 changes, it seems that #7747 / #7750 may be relate

[2016-12-15 00:49] Trott opened #7772 "no-useless-escape false negative"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**
n/a, no configuration file

[code]

**What did you do? Please include the actual source code causing the issue.**

Running `eslint --no-eslintrc --rule 'no-useless-escap

[2016-12-15 00:56] Trott commented on #7747
I think this was closed in error. This problem still exists in 3.12.2.

[2016-12-15 01:01] Trott commented on #7747
Er, wait, no it doesn't...never mind me.

[2016-12-15 01:18] alansouzati opened #7773 "CLIEngine cwd seems to be ignored for node_modules?"
* **ESLint Version:** v3.12.2
* **Node Version:** v6.9.1
* **npm Version:** 3.10.9

I'm trying to create a little tool that will be able to parallelize eslint for a project. So I'm using CLIEngine directly based on the great API available.

The problem is that the code for the CLIEngine is in a separate node project that I install globally. When I try to execute it in my project the plugin lookup

[2016-12-15 02:25] alansouzati commented on #7773
Editing this line:

https://github.com/eslint/eslint/blob/0b85004acdca863873d5e3cdcfcbe6fe4ac106b6/lib/config/plugins.js#L129

to this:

`require(process.cwd(), 'node_modules', longName)`

works.

If you agree I can send a pull request to fix that. But I'm not sure if this is the right fix.

[2016-12-15 03:33] namnm commented on #7766
Have we had already? Or we can add new option on this, like the import statements must be separated between absolute and relative path (may be native node modules should be separated too).
E.g:
[code]
[code]

[2016-12-15 05:07] ljharb commented on #7739
My opinion (as a non-TSC member) is that it should be simply discarded. However, I believe the eslint team has committed to full jscs compatibility, so it seems appropriate to address it somehow.

[2016-12-15 05:39] mockdeep commented on #7766
In our case we add our application to the load path, so it would be a prefix, e.g.:

[code]

[2016-12-15 05:40] mockdeep commented on #7766
However, this seems kind of like a separate rule, like `group-imports` or something.

[2016-12-15 08:56] not-an-aardvark commented on #7771
I was able to reproduce this. Thanks for the report.

[2016-12-15 09:05] not-an-aardvark commented on #7772
I was able to reproduce this, thanks for the report.

These are a few relevant test cases:

[code]

I'm not sure I fully understand the parsing rules for cases where there is something other than a number in curly brackets. I'll have to look into it further.

[2016-12-15 09:12] not-an-aardvark commented on #7772
Based on the [spec](https://tc39.github.io/ecma262/#prod-QuantifierPrefix), it looks like curly brackets are only considered part of quantifiers if they are not in a character class, and they match one of the following patterns:

[code]

Aside from the question of whether the braces are in a character class (which we already detect elsewhere in the rule), I don't think this check is context-depend

[2016-12-15 09:14] not-an-aardvark commented on #7773
I'm not sure, but I think this might be related to how ESLint handles locally/globally installed plugins -- it uses the location of the ESLint executable rather than the cwd.

[2016-12-15 10:25] djandrzej opened #7774 "Proposal: disable accessors"
**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style [ ] Warns about a potential error [X] Suggests an alternate way of doing something [ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about:**

[code]

[code]

**Why should this rule be included in ESLint (instead of a plugin)?**

According to [Airbnb JavaScript Style Gui

[2016-12-15 13:50] platinumazure commented on #7774
Hi @2oo, thanks for the detailed proposal!

I think this makes sense and would fit in well with ESLint core. I've given your proposal a :+1:; as soon as we have three of those from the ESLint team plus a champion willing to drive implementation, we will accept this issue.

Just for our awareness, if this issue is accepted, are you willing to work on a PR? (This isn't sunk if you say no, but the te

[2016-12-15 14:06] 2oo commented on #7774
@platinumazure Thanks for the thumbs up :). I'll gladly work on a PR 👍

[2016-12-15 14:57] tleunen commented on #7764
In my case, I'm getting a parse error even though it's `import()` and not `import X` or `import { X }`
[code]

eslint v3.12.0

[2016-12-15 15:27] platinumazure commented on #7764
@tleunen As stated earlier, we simply don't support `import()`, meaning the constraints of `import X` or `import { X }` apply (i.e., must be top-level statements). If you want to use `import()`, you need to use `babel-eslint` or some other ESTree-compatible parser.

[2016-12-15 16:02] sscaff1 opened #7775 "padded-blocks rule - add a multi-line option to this rule"
**What rule do you want to change?**
padded-blocks

**Does this change cause the rule to produce more or fewer warnings?**
Potentially fewer warning depending on the situation.

**How will the change be implemented? (New option, new default behavior, etc.)?**
Added an option to padded-blocks to specify a minimum number of lines required before the rule takes affect.

**Please provide some example

[2016-12-15 16:07] platinumazure commented on #7775
(Noting that this is related to, but hopefully not a duplicate of, #7356. I had [recommended in chat](https://gitter.im/eslint/eslint?at=5852baa4af6b364a29b7ca77) that this could probably be done as an atomic proposal rather than waiting for #7356 to get moving. If anyone on the core team disagrees, I apologize for causing any confusion.)

Hi @sscaff1, thanks for the issue.

I think this behavior

[2016-12-15 16:14] platinumazure commented on #7775
Oh, and I'll champion this.

[2016-12-15 16:27] sscaff1 commented on #7145
Almost the same as #7775

[2016-12-15 16:30] platinumazure commented on #7145
Ah crap, I didn't do my due diligence correctly.

@sscaff1 @kaicataldo How should we handle this? Can this issue (or #7775) move forward by itself, or do we really need to tie this to #7356?

[2016-12-15 16:34] sscaff1 commented on #7145
Either issue will solve it for me so it doesn't matter to me. I think either my issue or @alphanull issue can move forward by itself. My issue probably introduces a more flexible API although I'm unclear of what the use case is to require 3 lines for example before padding (although I'm sure it's out there somewhere).

[2016-12-15 16:41] not-an-aardvark commented on #7775
How about `minLines`?

[2016-12-15 17:12] alansouzati commented on #7773
Yeah, also if it helps, this library I have is not yet published to NPM, so to test I've linked it using `npm link` to the global NPM, and then I have access to it in the command line.

[2016-12-15 17:15] not-an-aardvark commented on #7772
I'm wondering how to handle this case:

[code]

The first escape is useless, because the regular expression is functionally identical to

[code]

Independently, the second escape is also useless, because the regular expression is functionally identical to

[code]

But it only makes sense to fix one of the escapes, because if both characters are unescaped, the resulting expression has a different m

[2016-12-15 17:15] alansouzati commented on #7773
Also, I believe this could be connected https://github.com/nodejs/node/issues/5963

[2016-12-15 17:19] epmatsw commented on #7773
This looks like a dupe of https://github.com/eslint/eslint/issues/7723

[2016-12-15 17:36] benderTheCrime opened #7776 "sort-keys on ObjectPattern"
**What version are you using?**
3.12.1

**What did you do?**
Used the "sort-keys" rule with `{ "props": true }`

**What happened?**
Object patterns (destructures) were not sorted accordingly (asc)

**What did you expect to happen?**
Object patterns (destructures) should have been sorted accordingly (asc)

This is a request for additional functionality. It seems like it should be possible using the

[2016-12-15 17:41] benderTheCrime commented on #7776
It looks like this was addressed here: https://github.com/eslint/eslint/issues/6896 after a `TypeError` was thrown on sort-keys in a destructuring assignment and the fix was to ignore ObjectPatterns:
https://github.com/eslint/eslint/commit/4eecf6e11b6b5b04ac31be68a1474cf7371b57cb

I'm not convinced that this was the correct fix.

[2016-12-15 18:48] benderTheCrime commented on #7776
I've created a version of this rule that has supports destructuring and ignores keys assigned to previous keys here: https://github.com/benderTheCrime/eslint-plugin-benderthecrime/blob/master/lib/rules/sort-keys.js

[2016-12-15 19:35] mathieumg commented on #6753
@vitorbal
Is there a way for `eslint-plugin-flowtype` to extend `valid-jsdoc` without copy-pasting it? I thought there wasn't. I see there is already `requireReturnType` and `requireParamDescription` supported by `valid-jsdoc`, why couldn't `requireParamType` also be, for the sake of consistency? Flow was discussed as one of the reasons why someone would not want types. But there are others; they

[2016-12-15 21:10] ilyavolodin opened #7778 "Scheduled Release for January 6, 2017"
The scheduled release on Friday, January 6, 2017 is assigned to:

@ilyavolodin
@kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2016-12-15 21:29] malixsys commented on #7767
Ah OK! Excellent! The `--fix` was over-zealous then...

[2016-12-15 21:40] platinumazure commented on #7767
@malixsys Please tell me more, we really want our autofixer not to break working code...

[2016-12-15 21:48] not-an-aardvark commented on #7767
I'm also confused, because `no-useless-escape` doesn't have an autofixer.

[2016-12-15 21:59] malixsys commented on #7767
Nevermind... My bad. @platinumazure

[2016-12-15 21:59] #7767 closed

[2016-12-16 02:57] rgarcia opened #7780 "ability to add exceptions to no-param-reassign"
**1. The version of ESLint you are using.**

3.x

**2. The problem you want to solve.**

Express route handlers take in `req` as a parameter and use mutation of `req.session` as the mechanism to write data to a user's session. This is considered problematic by `no-param-reassign`, but since it's a requirement of using express, it's not really feasible to clear this lint error.

**3. Your take on t

[2016-12-16 03:46] #7744 closed

[2016-12-16 05:26] JounQin opened #7782 "should not remove semicolon before regex when fixing"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 6.9.1
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Do not fix it with remove semicolon

[2016-12-16 05:28] not-an-aardvark commented on #7782
Thanks for the report. I can reproduce this issue.

[2016-12-16 06:57] not-an-aardvark commented on #7780
Thanks for the suggestion. However, I think this is a duplicate of https://github.com/eslint/eslint/issues/6505.

[2016-12-16 11:14] ValYouW commented on #5856
Hi,
After discussing #7739 it seems there is no eslint rule that is like jscs requireNamedUnassignedFunctions. Am I correct or missing something? Thx.

[2016-12-16 14:40] platinumazure commented on #6505
Okay, this needs a champion and I'll step up.

[2016-12-16 14:41] platinumazure commented on #7780
Closing since this is a duplicate. Please follow #6505 for further updates.

[2016-12-16 14:41] #7780 closed

[2016-12-16 15:31] evilebottnawi opened #7784 "max-statements-per-line not reported about arrow functions"
**Tell us about your environment**

* **ESLint Version:** `3.12.2`
* **Node Version:** `7.2.1`
* **npm Version:** `3.10.10`

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Error.

[code]

**What actually

[2016-12-16 17:08] Kryten0807 commented on #6524
I'd like to see an `exceptions` argument on the camelcase rule. I have legacy code which is pulling data from a database in which the column names contain underscores. I'd like to be able to implement this on a per-module basis.

For example, I have a module with code that works with customer objects containing fields like `first_name`, `last_name` - I'd like to make exceptions for those fields, w

[2016-12-16 17:16] vitorbal commented on #6054
I'm willing to champion and implement this rule. I also agree with @mysticatea that rest elements should be allowed. @kaicataldo considering @mysticatea's and @mikesherov thoughts above, do you feel strongly against allowing rest elements?

[2016-12-16 18:21] sheerun commented on #5175
This seems to happen again..

[2016-12-16 18:57] felixsanz opened #7785 "Option to permit no-useless-return inside blocks"
As discussed in https://github.com/airbnb/javascript/issues/1210, it will be great if `no-useless-return` offers an option to allow `return` **inside blocks**, to benefit consistency between blocks when using a useless `return` to quit the function execution at that point.

Here is an example:

[code]

Having them separated by blank lines make it clearer and easy to maintain instead of having a bi

[2016-12-16 20:05] not-an-aardvark commented on #7785
Thanks for the proposal.

I'm not sure I see the benefit of having this option. With the option, the rule would *only* report things like

[code]

In my opinion, it seems like this would neuter much of the benefit of using this rule. If you have a place in your code where you want to maintain consistency like this, you could always use an `// eslint-disable-line` comment and still give yourself th

[2016-12-16 20:14] felixsanz commented on #7785
But don't you think this is so condensed?

[code]

If you want to search for a specific block it's harder.

Even if refactored into functions, using useless `return` in the last block is useful:

[code]

The indentation and empty lines really help

[2016-12-16 20:22] not-an-aardvark commented on #7785
I don't really see the problem myself, but you could resolve that by adding linebreaks if necessary:

[code]

But if you forget to add an explicit `return` statement in any of the blocks, your code will silently do the wrong thing. Personally, I think having multiple `if` blocks with `return` statements in each block is much harder to read than just using `if/else` directly, because to look at tha

[2016-12-16 21:00] not-an-aardvark commented on #7784
Hi, thanks for the report.

However, I think this is working as intended. There are multiple arrow functions on the first line, but there is only one statement. This is similar to the following code:

[code]

[2016-12-16 21:55] platinumazure commented on #7785
In my opinion, this is exactly the whole point of the rule- if you want the last return not to be flagged, don't use the rule. So I guess I would suggest using a disable comment in this case.

[2016-12-16 22:54] #6053 closed

[2016-12-16 22:58] kaicataldo commented on #6054
@vitorbal Nope! Was more curious than anything.

[2016-12-16 23:11] kaicataldo commented on #7785
I'm a little confused here. It sounds like the proposal is to add an option that relaxes the check for the final `return` in blocks, which doesn't actually enforce consistency - it just allows it.

Also, when you mention blocks are you just referring to `if`/`else` blocks? Either way, this feels like it's going exactly against the purpose of this rule to me. I agree with @platinumazure and @not-an

[2016-12-16 23:19] #7758 closed

[2016-12-17 00:18] feross commented on #7748
Right now, an uncaught exception is thrown (and the node process terminates) when the cache file is invalid. As a result, the same error occurs the next time ESLint is run, as @not-an-aardvark correctly pointed out.

The issue is in `flat-cache` on [this line](https://github.com/royriojas/flat-cache/blob/1c2b1f7d101790eb75049afd02c6005bf7bfded4/cache.js#L25). They call a function that can throw ex

[2016-12-17 01:23] felixsanz commented on #7785
Well yeah, it's kinda the same. Allowing the last return actually enforce consistency across all blocks.

In my case i'm just talking about `if` but i think all blocks apply here. Anyway with your opinions maybe a disable comment is the best approach here :disappointed:

[2016-12-17 02:15] felixsanz opened #7786 "comma-dangle inside promises is weird"
Sadly, `.then()` can accept multiple arguments (the second being the `catch` function). But none should really use `.then()` with more than one argument (right? :stuck_out_tongue_closed_eyes: )

In this example eslint complains about comma-dangle rule:

[code]

I had problems trying to understand it at first because i wasn't thinking that the comma belongs to the `.then()` arguments. I thought the

[2016-12-17 04:10] valera-rozuvan commented on #6053
Thank you all!

[2016-12-17 04:17] ilyavolodin commented on #7786
@felixsanz Could you provide the information requested by the bot? Because without it it's very hard to understand what the problem is. Your first example is an invalid syntax that can't be parsed by Espree. You are using arrow shorthand syntax, and comma has nothing to do with `then`, but is part of the `return` expression (which makes it invalid syntax).

[2016-12-17 09:28] felixsanz commented on #7786
@ilyavolodin That was the first thing I was thinking of. I thought the comma was part of the expression and it was a comma operator but nope! The comma is indeed part of the `then`, take a look:

[code]

You can see this online: https://jsbin.com/lamuginulu/edit?js,console

ESLint version is 3.9.1

[2016-12-17 09:31] felixsanz commented on #7786
And you saying that this is invalid syntax confirms that this is really weird and hard to reason about

[2016-12-17 15:02] mysticatea commented on #7786
@felixsanz could you answer the question of https://github.com/eslint/eslint/issues/7786#issuecomment-267741976 ?

[2016-12-17 15:18] isiahmeadows opened #7787 "`func-call-spacing` fix creating bugs"
**Edit:** fix post to reflect real bug.

In the latest ESLint (v3.12.2), the `func-call-spacing` fix is really unhelpful for multiline call expressions (overlap with `no-unexpected-multiline`), especially when going without semicolons.

[code]

These are likely meant to be separate statements, with the below being (99.99% of the time) what was meant:

[code]

Instead, `func-call-spacing` very unhe

[2016-12-17 15:19] isiahmeadows commented on #7787
This has been causing me way too much of a productivity hit due to my editor autofixing on save.

[2016-12-17 15:35] platinumazure commented on #7787
I agree, I think `no-unexpected-multiline` is one of those rules where the correct fix can be one of two things (either add a necessary semicolon, or put the lines together). We shouldn't be assuming one or the other in the fixer. I would be :+1: for removing the fixer here and letting the user choose.

This is similar (IMO) to why we have no fixer for `no-useless-escape`. In that case, we can't k

[2016-12-17 15:38] isiahmeadows commented on #7787
Actually, I'm working on narrowing down a more precise repro. It's actually a fix for another rule conflicting with `no-unexpected-multilline`.

[2016-12-17 15:38] mysticatea commented on #7787
I'm confusing.
`no-unexpected-multiline` is not fixable.

[2016-12-17 15:40] isiahmeadows commented on #7787
@mysticatea See my latest comment. I'm working on a better repro, since it's actually a conflict apparently not being detected.

[2016-12-17 15:40] platinumazure commented on #7787
So it isn't.

@isiahmeadows Looking forward to the more precise repro steps. The research failure is on me, but please do me a favor and in future open issues when you have precise repro steps, not when you're still working on them. Thanks!

[2016-12-17 15:40] mysticatea commented on #7787
Ah, it was at the same time.
Maybe `func-call-spacing`?

[2016-12-17 15:40] isiahmeadows commented on #7787
@platinumazure Will do. (I thought I had the cause nailed down initially, when I didn't.)

[2016-12-17 15:41] platinumazure commented on #7787
Ack, I didn't mean you had to close this one. Just edit your initial post when you figure it out. Thanks!

[2016-12-17 15:45] isiahmeadows commented on #7787
@mysticatea Yes.

@platinumazure Sorry!

-----

Here's a complete, fairly small repro:

[code]

[2016-12-17 15:51] platinumazure commented on #7787
@isiahmeadows Thanks!

I guess the proposal here would be to have the func-call-spacing fixer not fix if the CallExpression's opening parenthesis is on the next line?

I think this also could be an example?

[code]

So it wouldn't just be call expression chains that could be affected by this.

[2016-12-17 15:53] isiahmeadows commented on #7787
@platinumazure That would be best. I can confirm it's only function calls that are affected.

[2016-12-17 15:53] isiahmeadows commented on #7787
And yes, that is another example/

[2016-12-17 16:02] isiahmeadows commented on #7787
I updated the original post accordingly.

[2016-12-17 16:02] mysticatea commented on #7787
I think the autofix was not wrong since it does not change semantics. But surely this is similar to `no-useless-escape` rule's case as @platinumazure mentioned.
I agree that people expect `func-call-spacing` to not fix it automatically if the spaces include line terminators.

[2016-12-17 16:11] platinumazure commented on #7787
I'll work on a fix, unless someone's already on it.

[2016-12-17 21:21] sindresorhus commented on #7757
You can also find this rule in [eslint-plugin-unicorn](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/no-array-instanceof.md).

[2016-12-18 00:16] felixsanz commented on #7786
1. `3.9.1`
2. what i did is already on the first message. the eslint configuration is just the standard airbnb style guide
3. i don't know what is this, output?
4. not sure what to answer here, what i expected is already one first message also

does this help?

[2016-12-18 00:25] ljharb commented on #7786
Here's another workaround that avoids having a multiline arrow function look confusingly like it's a one-liner:
[code]

[2016-12-18 00:29] felixsanz commented on #7786
@ljharb that's exactly what i said on my first message, on the second example.

You can wrap it with parens (doesn't matter if you put the `x` in the parens line or as you did). But this is not a `no-confusing-arrow` so parens shouldn't be used at all, right?

I think using the second argument of ´then()` should be totally discouraged (thats why `catch()` exists). And this comma here is just so co

[2016-12-18 00:31] ljharb commented on #7786
Airbnb's style guide does in fact require those parens (if it's not documented, it should be), because the body of the implicit return arrow function is spread across more than one line.

This has nothing to do with `.then`, because `comma-dangle` would be requiring the comma with any function call - `eslint` has no way of knowing how many arguments the given function tends to take. If you don't w

[2016-12-18 00:34] felixsanz commented on #7786
@ljharb Here it is: https://github.com/airbnb/javascript#arrows--paren-wrap

I didn't know that (it's hard to remember all the style guide by memory). So it's fine now i think, my fault probably (but it's so confusing if you don't know this recommended parens!)

I'm gonna close this, re-open if neccesary. Thx

[2016-12-18 00:34] #7786 closed

[2016-12-18 00:48] not-an-aardvark commented on #7785
It looks like there is consensus among the team that it would be better to just disable the rule or use disable comments here, so I'm going to close this issue.

[2016-12-18 00:48] #7785 closed

[2016-12-18 01:16] btmills commented on #7661
Writing up a more complete explanation of this, as promised a while back:

Currently, when `key-spacing` is configured to align properties vertically, it doesn't necessarily apply the same alignment to every property in the object literal. If properties are on consecutive lines, they will all have the same alignment level. However, if it sees properties separated by whitespace or properties (e.g.

[2016-12-18 02:40] kaicataldo commented on #7785
@felixsanz We appreciate the suggestion regardless - thanks for contributing!

[2016-12-18 07:06] #7782 closed

[2016-12-18 08:17] alexindigo commented on #7771
Another regression with function expressions:

code: ![code](http://ia.gs/452P1y210q2D/Image%202016-12-18%20at%2012.15.45%20AM.png)

error:

[code]

If I wrap function in brackets, it doesn't error.
Previous version of eslint parsed it fine.

[2016-12-18 08:23] not-an-aardvark commented on #7771
@alexindigo That looks like intended behavior -- your function is in an array, so it should be indented from the start of the array. Based on inferring what the code around your sample looks like, the rule correctly reports an error in both 3.11.1 and 3.11.2.

[2016-12-18 08:32] alexindigo commented on #7771
@not-an-aardvark So previous element is indented with 4 spaces and it's ok, but the next element indented with 4 spaces is not ok, just because it's a function? Or did I miss anything?

Example array:

[code]

:)

[2016-12-18 08:35] not-an-aardvark commented on #7771
You have an extra opening bracket on line 145 of your original example, so the `function(cb)` expression is actually an element of the array that starts on that line. With the example array in your most recent comment, the rule expects the function to have an indentation of 2 spaces.

[2016-12-18 08:41] alexindigo commented on #7771
Ha :)) You're so right. I feel dumb now. :) Interesting it didn't caught it before.
Thanks for the patient explanation. 👍

[2016-12-18 10:39] evilebottnawi commented on #7784
@not-an-aardvark thanks for answer, maybe good create own rule for this purpose

[2016-12-18 10:39] #7784 closed

[2016-12-18 22:20] nwhite89 commented on #7751
@platinumazure thanks my personal opinion is that I would assume CamelCase to prevent the use over using it at any point that's coming from my experience with JSHint and I believe JSCS did this as well. For example in my project I noticed this with JSHint complaining when opening a file within my editor the reason the code passed ESLint is because the `p.some_non_camel` etc. came from an API. In t

[2016-12-18 22:33] not-an-aardvark commented on #7751
Based on the [docs](http://eslint.org/docs/rules/camelcase) for the camelcase rule, it looks like the rule is only supposed to check for assigning camelcase properties rather than accessing them. Personally, I think this is the most reasonable behavior, because if an external API exposes non-camelcase properties, the code needs to be able to access it. (Using `p['some_non_camel']` instead of `p.so

[2016-12-19 03:24] not-an-aardvark opened #7789 "no-useless-escape incorrectly reports errors for regular expressions with the unicode flag"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.1
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected no error to be reported. A

[2016-12-19 04:10] not-an-aardvark commented on #7656
While trying to fix https://github.com/eslint/eslint/issues/7789, I took a look at the spec for regular expression parsing. It looks like the ability to parse regular expressions like `/\]/` is actually specified as part of [Annex B](https://tc39.github.io/ecma262/#sec-regular-expressions-patterns) (i.e. it's legacy syntax which is required for browsers, but not required for other JS implementatio

[2016-12-19 04:14] ljharb commented on #7656
In general, I think eslint rules should only be forbidding things that Annex B makes *not* work - anything that is made optional by Annex B but required absent Annex B must be required (short of very explicit opt-outs by users).

[2016-12-19 04:14] not-an-aardvark commented on #7772
Actually, after looking at the spec I'm not sure this is a bug -- see [this comment](https://github.com/eslint/eslint/issues/7656#issuecomment-267878150) for more explanation. `/{/` is only a legal regex for engines that implement [Annex B](https://tc39.github.io/ecma262/#sec-regular-expressions-patterns), a part of the spec which is only normative for engines in web browsers. So `/\{/` is only a

[2016-12-19 04:21] not-an-aardvark commented on #7789
See https://github.com/eslint/eslint/issues/7656#issuecomment-267878150

It looks like the best fix for this would be to just allow `\]` in all regular expressions, since `]` is only allowed to be unescaped in engines that implement Annex B.

[2016-12-19 04:25] not-an-aardvark commented on #7656
As far as this particular issue is concerned (we can move the discussion on `]` in particular to https://github.com/eslint/eslint/issues/7789), would anyone use the `exceptions` option for something *other* than `]`? If not, then fixing https://github.com/eslint/eslint/issues/7789 by allowing `]` to be escaped would also make the option unnecessary.

[2016-12-19 05:45] #7787 closed

[2016-12-19 06:35] royriojas commented on #7748
Hi @feross, I think you're right, if the cache is unusable we should probably discard it. But I have some questions... should we inform to the end user that the cache is not being used? I see that as a very minor issue, as once we have a valid cache the issue will disappear.

Do you have by chance a small repo that I can use to replicate the issue? I would like to do the fix and test it before pub

[2016-12-19 07:02] royriojas commented on #7748
Hi @feross, I have a possible fix for this issue in this PR: https://github.com/royriojas/flat-cache/pull/13, if you have a repo where you can try this will be awesome.

[2016-12-19 07:08] not-an-aardvark commented on #7748
@royriojas Thanks for the fix (and for considering its potential effects on ESLint)!

I'm currently writing a few integration tests for ESLint's use of cache files, and I'll include a test for what happens when an invalid cache file is present. If we run the integration tests on the patched version of `flat-cache`, we can hopefully verify that the patch works and that it won't create any regressio

[2016-12-19 07:27] mysticatea commented on #7786
@felixsanz

- [Airbnb config enables `comma-dangle` rule with `functions: 'always-multiline'` option](https://github.com/airbnb/javascript/blob/e037d29b93e5b61434deb9ba485f76c6406b7cb3/packages/eslint-config-airbnb-base/rules/errors.js#L4). The `always-multiline` option requires dangling commas if the closing parenthesis is not on the same line of the last argument. (This is not default.)
- In you

[2016-12-19 07:45] not-an-aardvark commented on #7748
@royriojas I just pushed a commit to the [cache-integration-tests](https://github.com/eslint/eslint/tree/cache-integration-tests) branch on the ESLint repo. The commit has tests for a lot of ESLint's behavior with cache files. Two tests on that commit are currently failing due to this cache-parsing issue.

When I install the commit on your branch:

[code]

...the tests pass. So as far as I can tel

[2016-12-19 07:55] damonmaria opened #7790 "cocsistent-return reports error in return inside ES6 class constructor"
**Tell us about your environment**

ESLint: 3.12.2
Node: v4.6.2
yarn: 0.17.10

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-ESLint 7.1.1

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

The return shouldn't be a problem, as it's in a constructor.

ES5

[2016-12-19 08:38] athifrank opened #7791 "Trailing spaces not allowed no-trailing-spaces"
[code]

---------------------------------------------------------------------------

WARNING in ./src/components/ContactListItem.js

C:\react-sites\react-auth0-master\src\components\ContactListItem.js
  10:45  warning  Trailing spaces not allowed  no-trailing-spaces

✖ 1 problem (0 errors, 1 warning)

webpack: bundle is now VALID.

[2016-12-19 08:42] ljharb commented on #7791
@athifrank i'm not sure what the issue is - does that line in fact not have trailing spaces?

[2016-12-19 09:27] lukechilds opened #7792 "ESLint confuses string with missing quotes and new class instance without brackets"
I posted this on the [standard repo](https://github.com/feross/standard/issues/725) but they said it belonged here.

If I have the code:

[code]

to create a new instance of the `Onionoo` class but leave off the brackets:

[code]

standard says:

[code]

It seems like maybe it assumes `Onionoo` is a string without quotes. It would be better if it would warn that there are no parenthesis on the cla

[2016-12-19 09:38] not-an-aardvark commented on #7792
Thanks for the report. However, I think this might actually be an issue with `standard`, since it seems to work fine when just running ESLint. The output is:

[code]

[2016-12-19 09:47] lukechilds commented on #7792
@not-an-aardvark Thanks, I've updated the `standard` issue.

[2016-12-19 22:44] alansouzati opened #7796 "Request: Formatter to allow different configuration"
Currently all the Formatters don't allow configuration object to be passed.

https://github.com/eslint/eslint/blob/master/lib/formatters/stylish.js#L28

In my case I would like to add a flag to print or not the total for the test results.

**Tell us about your environment**

* **ESLint Version:** v3.12.2
* **Node Version:**  v6.9.1
* **npm Version:**  v3.10.9

**What parser (default, Babel-ESLint,

[2016-12-19 22:56] platinumazure commented on #7796
I'd love to see formatter option support be added to the CLI, but I think the general team preference on this is to create and use custom formatters.

[2016-12-19 23:19] royriojas commented on #7748
@not-an-aardvark Thanks!, so I guess it is safe to publish a new patch version right? Just to confirm. All the previous tests seemed to pass, so I guess it is safe to release a patch, right?

[2016-12-19 23:27] not-an-aardvark commented on #7748
Yes, as far as I can tell, it should be safe to publish https://github.com/royriojas/flat-cache/pull/13 in a new patch version.

[2016-12-19 23:28] alansouzati commented on #7796
Thanks for chiming in @platinumazure. Just to provide a little bit more context, I'm building an eslint lib that will execute things in parallel, the reason I want to remove the total is because each of my child process will print the total, where the behavior I want is to print total only once when all my promises have been resolved.

I'm definitely see the point of avoiding too many options and

[2016-12-19 23:33] platinumazure commented on #7796
If you're looking to use output in a Node program that does more steps after running ESLint, you would be better served using our CLIEngine API directly or using a formatter like JSON or XML which is more machine-readable. As far as your console output goes, you can certainly base that off our `stylish` formatter if you like.

[2016-12-19 23:53] alansouzati commented on #7796
I'm definitely using CLIEngine API. I already have the results as a JSON object.

I'm currently looking for a built-in solution that would allow to print stylish results without adding total to the output.

[2016-12-20 02:22] ndaidong commented on #7790
cocsistent-return here means that you need to define which would be returned when b is Falsy.

I guest something like below will not throw any error:

[code]

[2016-12-20 03:22] damonmaria commented on #7790
Correct. That passes. But it should match how it works for ES5 constructors and also what the docs imply:

I just don't think it's been updated handle ES6 constructors in the same way.

[2016-12-20 03:26] not-an-aardvark commented on #7790
Thanks for the report. It looks like you're correct -- if the rule ignores functions that start with a capital letter because they're constructors, then it should probably ignore constructors in class definitions too.

Would you like to submit a pull request to fix it? (It's no problem if you're not able to, but we try to give people a chance to contribute.)

[2016-12-20 03:47] damonmaria commented on #7790
I would love to say yes but to be honest I just don't have the time. Apologies :(

[2016-12-20 03:53] not-an-aardvark commented on #7790
No worries, thanks again for reporting the issue!

[2016-12-20 13:26] GitScrum opened #7799 "Not passed test"
Not passed test `cli when supplied with report output file path should write the file and create dirs if they don't exist:`

**Tell us about your environment**

* **ESLint Version: 3.12.2
* **Node Version: 7.2.0
* **npm Version: 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using? Default

**What did you do? Please include the actual source code causing the issue.**

[code]

**What d

[2016-12-20 13:30] platinumazure commented on #7799
Not just me then! Excellent. I can reproduce this in my machine and I have Node 7.x as well. (I only started seeing this issue when I upgraded my Node version.)

[2016-12-20 13:40] vitorbal commented on #7796
@platinumazure is right, I think your solution of using a custom formatter is what the team would recommend in this case. Plus, I don't really see the point in adding customization for formatters in the core just to show the total of errors or not. Sounds like a very specific use case.

Having said that, I'd be interested in your ESLint lib to run things in parallel, sounds like a nice idea!

[2016-12-20 13:43] vitorbal commented on #7792
Thanks for the update, @lukechilds! Closing this as it seems you found the issue is related to snazzy.

[2016-12-20 13:43] #7792 closed

[2016-12-20 14:56] thorerik opened #7801 "Unable to initilize"
**Tell us about your environment**

* **ESLint Version:**
eslint@3.12.2
* **Node Version:**
v7.1.0
* **npm Version:**
3.10.9
* **OS:**
Windows 10 x64

**What parser (default, Babel-ESLint, etc.) are you using?**
default probably
**Please show your full configuration:**

N/A

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
In

[2016-12-20 15:54] not-an-aardvark commented on #7801
I think this is caused by https://github.com/nodejs/node/issues/9542, which is a socket bug in Node 7.1.0 that occurs on Windows. If you upgrade to Node 7.2.0 or later, the issue should be fixed.

[2016-12-20 15:58] thorerik commented on #7801
That was it, thanks!

[2016-12-20 15:58] #7801 closed

[2016-12-20 17:20] cookiengineer commented on #7775
Yes, I would prefer minLines as an option, too.

Our codestyle allows less than two statements (blocks) to require no newline in between. If the statements amount is higher than 2, then a newline is required before and after.

[code]

[2016-12-20 17:32] platinumazure commented on #7775
Okay, I think we agree that `minLines` is a sensible option name.

Current status: I've volunteered to champion this rule. We need 3 more team members to endorse (:+1:) the original proposal and then we can accept the issue. Then someone can write a PR. (Someone can choose to write a PR earlier, there's just the [hopefully small] risk we won't accept the issue and then the PR would be a waste of t

[2016-12-20 18:05] gyandeeps commented on #7799
Wasn't able to reproduce this on
* Windows 10
* Node - 7.2.0

[2016-12-20 18:14] platinumazure commented on #7799
@gyandeeps It also seems to depend on one's directory structure. In both OP's and my case, our ESLint project is in a user folder and our usernames are both longer than 8 characters. It's probably situational and has to do with how Windows normalizes path names.

[2016-12-20 18:53] alansouzati commented on #7796
Cool. I will let you know when I publish it

[2016-12-20 20:17] platinumazure commented on #7608
@evilebottnawi Really sorry for taking so long to get back to you.

I think @not-an-aardvark is right about this being a bug, so we can accept the issue right away and you may submit a PR whenever you have time! Just keep us posted if you're no longer able to, so we can get someone else to do so. Thanks!

[2016-12-20 20:20] alansouzati commented on #7773
This also seems related to https://github.com/eslint/eslint/issues/5476

If I install `eslint` globally and try to run eslint in my project I get the following error:

[code]

[2016-12-20 21:07] BWEJesser commented on #7736
I also have this problem but only when I run the lint check through Jenkins using Ant. If I run it on the command line directly everything is fine.

I'm curious how does eslint grab the list of files it will lint? There seems to be two problems, (1) eslint is trying to parse files it shouldn't and (2) the results of it parsing those files creates invalid XML when using the checkstyle format.

[2016-12-20 21:08] not-an-aardvark commented on #7799
Does the issue still occur if you change [this line](https://github.com/eslint/eslint/blob/aafebb2958416b825283bc428d64bd96b3adf63b/tests/lib/cli.js#L78) to use `path.resolve.apply` instead of `path.join.apply`?

[2016-12-20 21:14] not-an-aardvark commented on #7736
I'm not familiar with Ant; does it just start an ESLint process and collect the output? If so, given that everything works fine on the command line, it seems like the invalid XML issue might be a bug in Ant, not in ESLint.

That depends on the arguments that are passed to ESLint (you can pass it globs, files, or folders). Documentation on this can be found [here](http://eslint.org/docs/user-guide/

[2016-12-20 21:18] platinumazure commented on #7736
@not-an-aardvark I'm not an Ant expert, but its default logger prepends every line with something and that could break XML validity if that's used as the output file.

Example similar to what I see at work (this is paraphrased though):

[code]

If an XML formatter is used and that formatter prints newlines, then Ant will mangle the output. I think your best bet in that case is to use an output fil

[2016-12-20 21:26] BWJesseR commented on #7736
Sure, so as an example here is snippet of the Ant build script, this is the piece for running the lint command:
`<target name="lint">
 <exec executable="node" output="eslint.xml">
   <arg line="node_modules/eslint/bin/eslint.js app/** -f checkstyle" />
  </exec>
</target>`

This is a React Native app so we only care about what is in the app folder and that will contain JS, images, JSON, etc. The o

[2016-12-20 21:29] not-an-aardvark commented on #7736
It looks like you're using `app/**` as a glob, which will match every file in the `app` folder, including images, JSON, etc.

To only lint JS files, you should use something like

`node_modules/.bin/eslint app/**/*.js`

[2016-12-20 21:30] BWJesseR commented on #7736
Okay, I was getting around it by adding `--ignore-pattern *.png` but that approach looks cleaner. Any idea why I would see different results from Ant vs command line though?

In that Ant will try to parse images but the command line doesn't?

[2016-12-20 21:32] not-an-aardvark commented on #7736
I think using `node_modules/.bin/eslint app/**` will try to parse images regardless of whether you're using Ant. As @platinumazure suggested, it's possible that Ant mangles some of ESLint's output, which could cause XML to be malformed.

[2016-12-20 21:45] BWJesseR commented on #7736
Sorry, I probably didn't explain it well enough, let me try again. :)
If I run the Ant command, with the original `app/**` part, and remove the `-f checkstyle`, so I can get a count of the issues, the output from Ant will report 1213 problems. Run the same thing but from the command line there are only 100 problems.

As an example, somewhat related to this, if I run:
`node node_modules/eslint/bin/

[2016-12-20 21:58] not-an-aardvark commented on #7736
If you're using bash, glob patterns will sometimes get expanded by bash before they ever get passed to ESLint. For example, if you run this on the bash command line:

[code]

From ESLint's perspective, this is identical to the following:

[code]

...because bash will pass all the contents of `app/shared` as arguments to ESLint.

On the other hand, your Ant build script might not be expanding globs

[2016-12-20 22:02] BWJesseR commented on #7736
Oh, forgot to respond to @platinumazure, using the -o option and not using Ant's output results in the same issue. The invalid characters are from it trying to convert the garbage characters in the image to XML.

@not-an-aardvark thanks for that clarification. That explains the issue. 👍

[2016-12-20 22:19] alansouzati commented on #4331
Hey @nzakas, can you explain what the limitation is?

I have the following in my .eslintignore and it works:

[code]

But if I put that as part of the `ignore-pattern` it does not work

[2016-12-20 22:28] not-an-aardvark commented on #4331
@alansouzati This issue is from over a year ago. Since then, we have switched to .gitignore-style ignore patterns.

It's possible the pattern is getting expanded by bash before getting passed to ESLint. Try surrounding the pattern with quotes on the command line:

[code]

If that doesn't work, may you please create a new issue with the information in the [issue template](https://raw.githubusercont

[2016-12-20 22:37] alansouzati commented on #4331
Thanks @not-an-aardvark, that did it.

I have a feeling that it is possible to make it work without quotes... are you guys open for a pull request if I can fix that?

If it is not possible to fix, can we update the documentation to help other developers?

Thanks for the help

[2016-12-20 22:43] platinumazure commented on #4331
@alansouzati If quotes make a difference, that means your shell is expanding the glob pattern. This results in something like `--ignore-pattern src/js/mixins/file1.js src/js/mixins/file2.js`-- and every file after the first isn't actually added to `--ignore-pattern`. Instead, those files are treated as positional (non-flag) arguments and are actually linted. That's if you're lucky and our option p

[2016-12-20 22:47] alansouzati commented on #4331
That's cool to know thanks @platinumazure!

I just tested it and in fact this is what is going on, thanks for sharing your knowledge.

[2016-12-20 23:20] butlermd opened #7802 "Correct code usage examples incorrect?"
I noticed this on the [website](http://eslint.org/docs/rules/prefer-spread#examples), but it appears to be this way in the [repo](https://github.com/eslint/eslint/blob/master/docs/rules/prefer-spread.md) as well.

The "correct" examples are not showing the use of the spread operator for the `prefer-spread` rule.

[2016-12-20 23:55] not-an-aardvark commented on #7802
Thanks for bringing this up. It looks like the examples are technically correct, but I agree that it would be good to have some examples for how to use the spread operator.

Feel free to make a pull request to add some examples, if you'd like.

[2016-12-21 02:17] not-an-aardvark commented on #7740
I'll champion this proposal.

We need two more :+1:s from team members to accept it.

[2016-12-21 02:46] alansouzati commented on #7796
@vitorbal there you go https://github.com/alansouzati/eslint-parallel

Any feedback would be appreciated

[2016-12-21 03:54] platinumazure commented on #7796
I'm going to close this issue since the original question has been answered, but please feel free to continue the discussion as needed.

[2016-12-21 03:54] #7796 closed

[2016-12-21 05:52] ljharb commented on #3652
For future explorers: v8 [severely deoptimizes a function in sloppy mode](https://github.com/petkaantonov/bluebird/wiki/Optimization-killers#31-reassigning-a-defined-parameter-while-also-mentioning-arguments-in-the-body-in-sloppy-mode-only-typical-example) when you assign arguments, even on top, so it's potentially a big performance hazard - not "just" style.

[2016-12-21 05:54] ljharb commented on #6505
Just stumbled across this; the airbnb config [will be enabling this option by default](https://github.com/airbnb/javascript/issues/1217) as soon as it's released, to cover express and angular apps in particular.

[2016-12-21 07:39] TobiasBales commented on #6505
@platinumazure that is great. You have seen the PR I created that implemented the rule addition and included tests, right?

@ljharb glad to hear :D

[2016-12-21 07:56] mysticatea opened #7803 "no-multiple-empty-lines is slow"
**Tell us about your environment**

* **ESLint Version:** 3.11.1
* **Node Version:** 6.9.2
* **npm Version:** 3.8.9

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Linted a large js file (4.7MB, 189,451 lines)

**What did you expect to happen?**

[2016-12-21 08:04] not-an-aardvark commented on #7803
It's possible that [this](https://github.com/eslint/eslint/blob/aafebb2958416b825283bc428d64bd96b3adf63b/lib/rules/no-multiple-empty-lines.js#L60) is the cause.

I think we can replace that logic now that `astUtils.getRangeIndexFromLocation` exists.

[2016-12-21 09:21] roneyrao commented on #7729
The exclusion takes effect. The problem is that the docs doesn't mention that, so I considered it as a bug and filed this issue.
Personally I prefer no this exception.

[2016-12-21 09:56] evilebottnawi commented on #7608
@platinumazure have time on ending this week

[2016-12-21 12:27] vitorbal commented on #7740
@not-an-aardvark we got 3 thumbs up now, so marking this as accepted!

[2016-12-21 16:06] ejosafat commented on #7556
I got the same problem, using eslint 3.0.1, if I use
[code]
I get this error:
Severity should be one of the following: 0 = off, 1 = warn, 2 = error (you passed '{ code: 120,  ignoreUrls: true,  ignoreStrings: true,  ignoreTemplateLiterals: true }').

If I use
[code]
I get
Value "[object Object]" no schemas match.

I get that error using "error" instead of 2 as well.

I also tried
[code]

but get a

[2016-12-21 16:08] platinumazure commented on #7556
@ejosafat Please try updating to a later version of ESLint. Most likely, ESLint 3.0.1 uses a different schema than what is available on the latest version of ESLint.

[2016-12-21 20:09] alansouzati commented on #3565
I've created a library that supports all the CLI parameters and execute things in parallel. This is the repo:

https://github.com/alansouzati/eslint-parallel

This is the strategy I took:

1 - Take all the glob patterns and flat it in a list of all files to lint **excluding** the files that match the patterns described in the `.eslintignore` and `ignore-pattern`.
2 - Use child_process fork to dist

[2016-12-21 22:32] mockdeep opened #7806 "no-console rule should document how to enforce calls only via no-restricted-syntax"
**What rule do you want to change?**

The `no-console` rule.

**Does this change cause the rule to produce more or fewer warnings?**

Fewer warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

I'm thinking it would be default behavior, but could also be configured.

**Please provide some example code that this change will affect:**

In our development and t

[2016-12-21 22:38] ilyavolodin commented on #3565
@alansouzati That looks pretty good. Couple of things to note: You are running `executeOnFiles` instead the forks, that works pretty well, but it will not allow you to share config file cache, since each fork runs in a separate process. What that means is that ESLint will spent significant amount of extra time re-calculating configs (especially in cases were you have deeply nested folders with a l

[2016-12-21 22:55] platinumazure commented on #7806
I don't think it's worth changing the rule for this use case. Instead, you can use a disable comment to ignore the rule in this location.

Here are two ways you can do this:

[code]

Of course, you could also just use the `no-console` rule to statically detect all of your `console.error` invocations and replace them with error throwing, as needed. :smile:

[2016-12-21 22:57] mockdeep commented on #7806
Yeah, right now we're just selectively disabling the rule. In this case these are warnings given by libraries such as React, though.

[2016-12-21 23:03] alansouzati commented on #3565
Thanks for the feedback.

I'm not sure I understand the cache limitation. Even though we have different processes, we have the same location for the cache file, correct? I'm using the default one `.eslintcache`. When I enable cache in my project I see the file gets created and in fact it lints pretty fast the second time. The actual problem is that creating fork itself is expensive. Also, I'm not

[2016-12-21 23:43] ilyavolodin commented on #3565
@alansouzati Sorry, I wasn't talking about lint cache, I was talking about config cache (or rather hashmap). When ESLint goes through file to lint, it builds a config file for each folder. Building includes traversing to the upper directories to find all parent config files, merging them all together, resolving `extends` chains from files and `eslint-config-` packages and loading necessary plugins

[2016-12-21 23:49] alansouzati commented on #3565
Thanks for the great explanation. Makes fully sense now.

As in my case it improved the performance, I believe recalculating the config cache was worth it. I see your point though, it may not apply to all cases.

I will keep my eyes open if/when you guys add parallel support. I will deprecate eslint-parallel as soon as it happens.