[2019-10-19 01:16] g-plane commented on #12458
Thanks for this issue.

Can you upgrade your "babel-eslint" to latest version and try again? Thanks.

[2019-10-19 01:17] octogonz commented on #3458
Here's a PR that implements the `resolveRelativeToConfigFile` setting [proposed above](https://github.com/eslint/eslint/issues/3458#issuecomment-516666620):

https://github.com/eslint/eslint/pull/12460

[2019-10-19 01:20] g-plane commented on #12455
Out of this issue, should we pin an issue to issues list to prevent duplicated issues about this problem (which is related to `no-unused-vars` and "babel-eslint")?

[2019-10-19 01:26] octogonz commented on #3458
@yordis does your solution work with external ESLint invokers, such as the VS Code Add-in?  (That's why I had modeled my solution as a [monkey patch](https://github.com/eslint/eslint/issues/3458#issuecomment-516716165).)

[2019-10-19 03:01] yordis commented on #3458
@octogonz yes, as long as the `eslintrc` file is located in a place where the Node resolution could find the packages.

[2019-10-19 03:14] yordis commented on #3458
@octogonz that is a good question, I am not sure.

I do see my VS Code showing me the errors, but it didn't fix it automatically.

What was the mistake I made? It seems you knew about it.

[2019-10-19 04:44] kaicataldo commented on #12453
I don't think this is a good idea. We make a concerted effort to make core rules not conflict with each other, but there's absolutely no guarantee that this will happen with 3rd party plugins.

[2019-10-19 05:58] iantocristian commented on #12457
Pinning espree to 4.0.0 seems to solve the problem alright.

[2019-10-19 08:41] hacdias commented on #12458
@g-plane solved it! Thank you very much.

[2019-10-19 08:41] #12458 closed

[2019-10-19 09:02] ndabAP opened #12461 "New rule proposal: new-line-after-foreign-import"
**Please describe what the rule should do:**
Enforce a new line after foreign and relative (own) imports to improve the readability (distinguish easier between own imports and others).

**What category of rule is this? (place an "X" next to just one item)**

- [ ] Warns about a potential error (problem)
- [ ] Suggests an alternate way of doing something (suggestion)
- [x] Enforces code style (layo

[2019-10-19 13:29] platinumazure commented on #12453
I wouldn't want to have `eslint:all` itself automatically include core plugins, but I could maybe get behind a dynamic configuration extension that turns on all rules of any named plugin (e.g., `all:plugin:react` might turn on all rules in eslint-plugin-react). This would come with the same caveats we already include for `eslint:all`. (That said, I'm not sure where I land on benefit vs maintenance

[2019-10-19 17:40] caub opened #12463 "allowDestructuring option for no-sparse-arrays rule"
**What rule do you want to change?**
no-sparse-arrays

**Does this change cause the rule to produce more or fewer warnings?**
fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
`error    Unexpected comma in middle

[2019-10-19 17:49] ljharb commented on #12463
This shouldn’t require an option - it’s broken, since omitting items in array destructuring is in no way “sparse arrays”. This rule simply shouldn’t consider array spreads.

[2019-10-19 17:55] jaawerth commented on #12463
Yeah this just seems like a bug, since destructuring isn't creating an array, sparse or otherwise.

[2019-10-19 18:16] mdjermanovic commented on #12463
Hi @caub, thanks for the issue!

This would be a bug, but I can't reproduce it: [Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXNwYXJzZS1hcnJheXM6IFtcImVycm9yXCJdICovXG5cbmNvbnN0IFssIHldID0gWzEsIDJdO1xuIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjo2LCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19)

It might be good to fill t

[2019-10-19 18:19] mockdeep commented on #12453
I mentioned this in the other thread, but I'm not super concerned with this, as it's opt-in behavior and I can disable rules that clash for me. There's already somewhat of a risk with using the `recommended` rule sets that most plugins have, though admittedly this will be more extensive. I've definitely run into conflicts between the React plugin and core rules.

This seems like a good alternative

[2019-10-19 18:47] caub commented on #12463
Oh, sorry guys, I had an actual sparse array further right in the error line

[code]
sorry for that false alert

[2019-10-19 18:53] mdjermanovic commented on #12463
Thanks! I'm closing the issue then.

[2019-10-19 18:53] #12463 closed

[2019-10-19 22:18] #12276 closed

[2019-10-20 11:33] SebastianG77 opened #12466 "Allowing escaped placeholders in template strings when using rule "quotes" with option "single" or "double""
**What rule do you want to change?**

[quotes](https://eslint.org/docs/rules/quotes)

**Does this change cause the rule to produce more or fewer warnings?**

fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option or new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for th

[2019-10-20 15:00] platinumazure commented on #12453
@kaicataldo @g-plane Could you please clarify your :-1:s? Are you opposed to the whole idea, or just to making `eslint:all` include plugins by default? Do you have any thoughts on the alternatives raised so far?

[2019-10-20 19:10] #12416 closed

[2019-10-20 19:13] #12428 closed

[2019-10-20 19:57] mdjermanovic commented on #12466
Hi @SebastianG77, thanks for the issue!

In my opinion, this is a case for an `eslint-disable` comment.

[2019-10-20 21:08] SebastianG77 commented on #12466
Using eslint-disable would also just be a workaround for me and I would have to adjust every single comment that contains the string representation of a placeholder. It certainly will be more convenient and cleaner if there is at least an option that completely avoids this problem for all strings. Will appreciate if we can find a cleaner solution for this problem.

[2019-10-20 21:22] mdjermanovic commented on #12466
It's just my personal opinion, other team members may disagree. If there are too many cases like this it might make sense to disable the rule at the top of the file or in the whole project.

I think it was also the recommended way to deal with this situation when the rule was included in the standard: [standard/standard#594 (comment)](https://github.com/standard/standard/issues/594#issuecomment-24

[2019-10-20 21:28] mdjermanovic commented on #12466
To avoid confusion, I meant to disable `no-template-curly-in-string`, not `quotes`.

[2019-10-20 21:48] mdjermanovic opened #12469 "New rule proposal: no-dupe-else-if"
**Please describe what the rule should do:**

Disallows duplicate test conditions in `if-else-if` chains.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in ESLint (instead of a plugin)?**

It's a possible error. A statemen

[2019-10-21 09:31] tichenchen commented on #12455
It's really because of babel-eslint, Thank you.
I think it's a good idea to have a list of questions.

[2019-10-21 09:32] tichenchen commented on #12455
It's really because of babel-eslint, Thank you.
I think it's a good idea to have a list of questions.

[2019-10-21 09:32] #12455 closed

[2019-10-21 10:09] lerouxb commented on #12457
Pinning espree to any version works around the problem, so I pinned to ^6.0.0 which is what eslint is currently using.

[2019-10-21 13:28] mysticatea commented on #12457
[code]

Yes, this is a duplicate of the long-standing issue #11018.

Would you confirm that this problem has been fixed by clean-install? In fact, I have released a new espree (`6.1.2`) that should fix this problem 10 hours ago.

[2019-10-21 15:17] #12163 closed

[2019-10-21 16:43] octogonz opened #12473 "[no-use-before-define] False positive for mutually recursive functions"
**Tell us about your environment**

* **ESLint Version:** v6.5.1
* **Node Version:**  v8.15.0
* **npm Version:** v6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

Default

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

This r

[2019-10-21 19:27] nzakas commented on #11413
This is really just a sentence addition to the readme saying that ESLint requires crypto.

[2019-10-21 19:47] nzakas commented on #10981
I believe so. I think our policy seems pretty well-defined now. If no one else disagrees, then I'd say it's time to close this.

[2019-10-21 19:59] nzakas commented on #11413
Submitted #12475

[2019-10-22 00:08] yeonjuan commented on #12058
I Fix it #12462. @kaicataldo  Is it a too old issue?

[2019-10-22 06:54] g-plane commented on #12473
Thanks for this issue.

You may need to configure this rule to disable checks on functions by specifying `functions` to `false`. Detail: https://eslint.org/docs/rules/no-use-before-define#options

[2019-10-22 07:09] octogonz commented on #12473
That's an okay workaround, but it's not a fix.  Functions calling each other is pretty fundamental.

[2019-10-22 09:41] g-plane commented on #12473
I don't think that's a workaround, since function declarations are hoisted.

[2019-10-22 12:57] #12098 closed

[2019-10-22 13:05] yeonjuan commented on #11414
@aladdin-add
For fixing this issue,
I thought that `the multiple properties on a single line` should be treated as a single line. And fix it. (#12472) . Am I missing something?
[code]

[2019-10-22 13:19] platinumazure commented on #12473
This rule is intentionally designed to be a little more opinionated than most of our rules. It ignores hoisting and ensures that all of your references to a variable occur strictly after the declaration.

It doesn't sound like this is desired behavior for your case. So you have a few options:

1. Turn off function checks, as noted by @g-plane.
1. Restructure your code so the rule passes:
[code]
1.

[2019-10-22 15:23] octogonz commented on #12473
In my case we're using TypeScript, so hoisting isn't relevant anyway.  However code is more readable if you declare things before you refer to them, so the rule still seems desirable.  (Compare with TSLint's [no-use-before-declare](https://palantir.github.io/tslint/rules/no-use-before-declare/).

It seems that:
- The rule fails for correct, common, reasonable-looking code
- The only possible worka

[2019-10-22 15:30] platinumazure commented on #12473
I was going to ask for a concrete proposal on what to change and this might be it.

I could get behind a new option that only detects and exempts cycles.

Let's see what other team members think.

[2019-10-22 15:35] g-plane commented on #12473
You can only disable or configure the rule for that file, which won't influence the project configuration.

Cyclic references don't look readable to me.

Again, this rule works well. All you need to do is to disable checking for functions.

[2019-10-22 15:55] migueldejuana opened #12478 "Add ability to exclude ECMAScript features"
**Please describe what the rule should do:**
The rule should allow us to exclude ECMAScript features
**What category of rule is this? (place an "X" next to just one item)**

[X ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn abou

[2019-10-22 16:26] mdjermanovic opened #12479 "no-trailing-spaces doesn't report trailing spaces after block comments"
**Tell us about your environment**

* **ESLint Version:**  6.5.1
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-10-22 16:34] platinumazure commented on #12478
Hi @migueldejuana, thanks for the issue.

You can already achieve this with a few rules:

* [`no-restricted-globals`](https://eslint.org/docs/rules/no-restricted-globals) lets you restrict the use of specific global variables, such as `SharedArrayBuffer` or `Atomics`.
* [`no-restricted-syntax`](https://eslint.org/docs/rules/no-restricted-syntax) lets you restrict the use of any particular ES synta

[2019-10-22 16:50] octogonz commented on #12473
We want to minimize suppressions of rules as much as possible. In a large team, when if suppressions become a "normal" practice, it works against the goals of linting.

None of the proposed workarounds eliminate the cyclic references, though.  My example was pretty artificial, but there are plenty of algorithms that require functions to call each other.  (For example, a recursive descent parser.)

[2019-10-22 17:33] platinumazure commented on #12479
Thanks @mdjermanovic for the issue!

This seems like a pretty clear bug to me. I assume this fix will increase warnings in some cases, so it should be an Update.

[2019-10-22 19:06] mdjermanovic commented on #12479
I'm working on this.

[2019-10-22 23:53] nzakas commented on #11536
@gkz have you been able to replace wordwrap in optionator?

[2019-10-23 08:51] ericmorand commented on #11899
I just got a build stuck because of require-atomic-updates even though the code works perfectly and I disabled this rule. It doesn't make sense to me. This is not eslint responsibility to try to guess that something may not work as expected. This is the reponsibility of the test suite.

Here we have a rule that throw an error saying:

`**Possible** race condition...`

Possible. Eslint is not sure

[2019-10-23 09:46] mdjermanovic commented on #11371
PR #12356

[2019-10-23 09:48] mdjermanovic commented on #12263
Fixed in #12407

[2019-10-23 09:48] #12263 closed

[2019-10-23 11:37] golopot opened #12481 "Rule proposal: no-constructor-return"
**Please describe what the rule should do:**

Forbid return statements in constructors.

**What category of rule is this? (place an "X" next to just one item)**

[x] Suggests an alternate way of doing something (suggestion)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in ESLint (instead of a plugin)?**

In Javascript return value in con

[2019-10-23 12:28] BO41 opened #12482 "high ram/memory usage"
**Tell us about your environment**
Environment Info:

Node version: v12.11.1
npm version: v6.12.0
Local ESLint version: v6.5.1
Global ESLint version: v6.5.1 (Currently used)

[code]

**Are you willing to submit a pull request to fix this bug?**
depends on the scope

- Issue Type: `Bug`
- OS Version: `Linux x64 5.3.6-1-MANJARO`
- "@typescript-eslint/eslint-plugin": "2.4.0",
- "@typescript-eslint/pa

[2019-10-23 13:42] g-plane commented on #12482
Thanks for this issue.

I think there are several reasons:
- You're running `vscode-eslint` instead of ESLint itself when measuring RAM usage. `vscode-eslint` is a VS Code extension, and it's running a "server" at the background, which also costs memory.
- You're linting TypeScript files and enabling "project" option. If this option is enabled, `@typescript-eslint/parser` will invoke TypeScript co

[2019-10-23 14:47] BO41 commented on #12482
Thanks for the answer :)

What do you mean with that?
Wouldn't I lose much functionality when not having type information?

There isn't a way to still benefit from this integration for example so that prettier knows where and if to insert brackets.
---
Is there a way to lint only the current file (the file opened by VSCode) and files needed for type information?

[2019-10-23 14:48] #12058 closed

[2019-10-23 15:01] BO41 commented on #12482
so, cutting prettier integration doesn't change ram usage at all :/

[2019-10-23 15:25] g-plane commented on #12482
Don't measure your RAM usage with "vscode-eslint".

[2019-10-23 15:44] wintercounter commented on #11914
I had enough of this and created the following package:
https://github.com/wintercounter/eslint-global-patch

It is a very unsafe and ugly workaround, it'll patch your ESLint installation. For my use case it works fine for all our projects.

[2019-10-23 15:47] BO41 commented on #12482
I won't use eslint regularly if I can't integrate it into my IDE.

BUT, even in the cli the ram usage doesn't change by removing prettier integration.

---

[code]
Shouldn't eslint terminate after this output ↑?
It prints all warnings and errors and then hangs there filling the ram.
Seems to me like a memory leak.

[2019-10-23 17:28] mdjermanovic commented on #12461
Hi @ndabAP, thanks for the rule proposal!

It looks to me that this rule could have conflicts with the `padding-line-between-statements` rule. Also (in some way) with `sort-imports`, which enforces the order of import declarations by syntax, not by the source.

Did you check the [eslint-plugin-import/order](https://github.com/benmosher/eslint-plugin-import/blob/HEAD/docs/rules/order.md) rule? It h

[2019-10-23 18:55] OlegBrony commented on #12415
okay, it helped. thanks.

[2019-10-23 19:11] #11413 closed

[2019-10-23 19:33] dmitryrn commented on #12459
I'll pick it up

[2019-10-23 22:43] #11939 closed

[2019-10-23 23:42] mdjermanovic commented on #12415
You're welcome!

I'm closing this issue as it seems to be resolved. Feel free to open a new issue anytime if you have any further questions.

[2019-10-23 23:42] #12415 closed

[2019-10-24 01:22] mdjermanovic opened #12486 "Parenthesised LHS"
At the moment, all these are valid in espree:

[code]

Is anything in this list a valid syntax?

`no-extra-parens` currently doesn't report anything of the above. I'm not sure which of these should be reported in `no-extra-parens` and which should be reported to acorn ( `(a = b) = c` looks like an obvious parser bug).

[2019-10-24 01:22] kaicataldo commented on #12482
There are a lot of moving parts here and it's going to be difficult for to figure this out without having a minimal reproduction case. Any chance you can find the minimal reproduction steps needed to cause this (using ESLint directly, not an editor integration)?

[2019-10-24 01:59] kaicataldo commented on #10981
Sounds good! Closing this now.

[2019-10-24 01:59] #10981 closed

[2019-10-24 02:57] ronkorving commented on #11899
@ericmorand IMHO that *is* the responsibility of ESLint. It is to discourage use of patterns that are known to cause bugs. Example: you can omit `break` in a switch statement's case, and this is a language feature, but is usually not what you want it to do. Omitting it may imply a bug. While testing may expose this bug, that is irrelevant to ESLint.

Why? This philosophy of reporting possible bugs

[2019-10-24 07:39] dzek69 commented on #11899
My 2 cents: all "possible" rules should exist, because usually they aren't too much about guessing but about preventing bad practices and popular errors.

If you can fix the reported error by making your code better (no "hacks", just really better) - then the rule is good.
If you need to silence the rule, because the code is all good and the only alternative is to write hacky code to fool the lint

[2019-10-24 10:19] BO41 commented on #12482
typescript-eslint [released version 2.5.0](https://github.com/typescript-eslint/typescript-eslint/releases/tag/v2.5.0) which drops the ram usage to about ~1GiB :tada: and also fixes the bug described above, where eslint wouldn't terminate (https://github.com/typescript-eslint/typescript-eslint/issues/1079) :tada: :tada:

**Thank you eslint** team for the help.
A lower ram consumption is always wel

[2019-10-24 10:19] #12482 closed

[2019-10-24 10:32] mdjermanovic commented on #12486
An interesting thing with `(a = b) = c` is that both Acorn and Babel parse `a = b` here as an `AssignmentPattern`.

Babel transpiles `(a = b) = c` as a destructuring assignment, where `b` is a default value:

[code]

In actual Chrome `(a = b) = c` is an `Invalid left-hand side in assignment` syntax error.

[2019-10-24 11:27] mdjermanovic commented on #12486
This was actually already reported babel/babel#8796

Filed acornjs/acorn#886 now.

[2019-10-24 19:05] kaicataldo commented on #12481
I support this proposal.

[2019-10-24 19:13] kufii opened #12488 "Rule Proposal: require-code-point-escape"
This proposal is to require the new ES6 code point escapes eg. `'\u{1F4A9}'`

Examples of **incorrect** code for this proposal:

[code]

Examples of **correct** code for this proposal:

[code]

[2019-10-24 19:14] kaicataldo commented on #12488
@kufii Can you elaborate on what problem you're trying to solve with this proposal?

[2019-10-24 19:18] kufii commented on #12488
I'm specifically concerned about the usage of surrogate pair unicode escape sequences (eg. `\uD83D\uDCA9`, which actually points to hex value `1F4A9`), as they are confusing since neither of the hex codes point to the actual unicode hex value, and instead are used to calculate the derived hex value.

But I figured if you're disallowing those you might as well disallow all the others too.

The new

[2019-10-24 19:45] kaicataldo commented on #12438
Is there a reason you want to enable `no-tabs` if you want to allow tabs in strings and comments?

[2019-10-24 19:48] #11018 closed

[2019-10-24 19:54] kaicataldo commented on #12453
I don't really see the value in this (the benefits don't seem to outweigh the increased confusion/support we might have to offer users), but if other members of the team are for it, I'll defer to consensus.

[2019-10-24 19:55] #12437 closed

[2019-10-24 20:32] kaicataldo commented on #12393
I agree that this is currently the intended behavior. Do you mind filling out the rule change template as described [here](https://eslint.org/docs/developer-guide/contributing/rule-changes)? You can feel free to add it in a comment in this issue here if you'd like.

Some question/comments I have:

1. We would probably need to put this behind an option as enabling it by default would lead to more w

[2019-10-24 20:34] kaicataldo commented on #12403
Please see https://github.com/eslint/eslint/issues/4366#issuecomment-155902593.

[2019-10-24 21:16] #12425 closed

[2019-10-24 22:58] ljharb commented on #11989
Ping again; this should remain open because it affects the plugin ecosystem.

[2019-10-25 00:02] g-plane commented on #12481
@kaicataldo Will you champion this? If so, it'll be better that remove your :+1:.

[2019-10-25 02:14] platinumazure commented on #12481
I've added :+1: so any of us can champion and this is accepted.

[2019-10-25 02:16] ljharb commented on #12481
Would it be valuable to add an option, so that any named non-arrow non-generator non-async function also was warned by this rule? (it'd probably want to ignore any `return new` in that case)

[2019-10-25 07:44] futagoza commented on #10828
@mysticatea Is there an eta for this (or v7)?

No rush, just wondering because I'm making a custom wrapper for ESLint (as well as other dev tools) to solve some repetitive issues I have across my projects, I was going to bake the extension handling into it, but if v7 comes out soon(ish), I was thinking I might as well leave it out

[2019-10-25 10:45] mysticatea commented on #10828
I think, we will start to publish v7 alpha releases December 2019 or January 2020.

[2019-10-25 18:09] #12207 closed

[2019-10-25 18:10] #12169 closed

[2019-10-25 18:10] #12479 closed

[2019-10-25 18:14] #12315 closed

[2019-10-25 18:20] #12123 closed

[2019-10-25 18:58] btmills commented on #12413
We just released ESLint v6.6.0: https://eslint.org/blog/2019/10/eslint-v6.6.0-released. As usual, please merge only semver-patch changes until we've done a patch release or decided one isn't necessary.

[2019-10-25 19:56] ilyavolodin commented on #12453
I also share @kaicataldo opinion. A lot of plugin rules were never designed to be just `on/off`. They requires configuration, and are completely meaningless without it. Most of the bigger plugin packages also provide bundled configs with a plugin, so if anything that `all` config should just go into plugin.

[2019-10-25 20:17] platinumazure commented on #12453
I've thought about it some more, and I think I'm also slightly opposed on cost/benefit grounds.

I'm wary of more support questions that might come in because someone is using the ESLint core "enable all rules from a plugin", even though 99% of those questions should go to the plugin owner. The benefit of this change does not justify the maintenance/support cost, in my view.

[2019-10-25 21:55] emilyrohrbough opened #12493 "SyntaxError: Invalid regular expression flags From 6.6.0 Release"
**Tell us about your environment**

* **ESLint Version:** 6.6.0
* **Node Version:** lts/carbon
* **npm Version:** 5.5.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

My eslint-config extends: https://github.com/cerner/eslint-config-terra/blob/master/eslint.config.js

[code]

</details>

*

[2019-10-25 22:07] mdjermanovic commented on #12493
That's the `s` flag added in #12407

According to this [compat-table](https://kangax.github.io/compat-table/es2016plus/#test-s_(dotAll)_flag_for_regular_expressions) it should be supported in Node >= 8.10

[2019-10-25 22:28] mdjermanovic commented on #12493
Our Node v8.16.2 build is passing, @emilyrohrbough on which Node version is your build failing?

[2019-10-26 04:02] rajakedia1 commented on #12493
On node v8.9.4 its failing

[2019-10-26 04:48] kaicataldo commented on #12493
The latest major release line of ESLint [currently supports the following engines](https://github.com/eslint/eslint/blob/4e142ea411dfb692b6e2a69cd5f1204ade4dd58a/package.json#L143):

[code]

[2019-10-26 07:48] ndabAP commented on #12461
@mdjermanovic thanks for the detailed explanation. I think the `groups` option of the mentioned plugin provides exactly what I need.

[2019-10-26 14:45] platinumazure commented on #12493
Can we just make a change to not require this flag? The s flag just means dots represent newlines, right? Could we use something like `[\s\S]` instead of dot and then we could remove the s flag?

[2019-10-26 14:46] platinumazure commented on #12461
Thanks @ndabAP, glad you found what you need.

I'm going to go ahead and close this issue, but please feel free to comment or create a new issue if you think ESLint core still needs an enhancement here.

[2019-10-26 14:46] #12461 closed

[2019-10-26 17:25] mysticatea commented on #12457
I'm closing this issue as a duplicate.

[2019-10-26 17:25] #12457 closed

[2019-10-28 03:35] snhardin commented on #12348
Hello everyone. Will be submitting a PR for this soon. Thank you for your patience. 🙂

[2019-10-28 04:34] mightyiam commented on #12466
Just a reminder here that issue author is willing to submit a PR. Pending further input from maintainers.

[2019-10-28 12:43] mysticatea commented on #12493
Yes, ESLint supports only Node.js `8.10.0` or later since ESLint `6.0.0`.

You should see the following warning if you installed ESLint with old Node.js:

[code]

[2019-10-28 12:50] mysticatea commented on #12478
Or you can use [eslint-plugin-es](https://github.com/mysticatea/eslint-plugin-es#readme) that warns each ECMAScript feature.

[2019-10-28 12:53] mdjermanovic opened #12497 "New rule proposal: no-unassigned-vars"
**Please describe what the rule should do:**

Reports `var` and `let` variables that are never assigned a value. In other words, variables that have zero write references.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in

[2019-10-28 13:02] mdjermanovic commented on #12469
One more :+1: to accept this.

[2019-10-28 13:09] mysticatea commented on #12469
Now accepted :tada:

[2019-10-28 13:12] mdjermanovic commented on #12469
I'm working on this :-)

[2019-10-28 13:39] emilyrohrbough commented on #12493
@mdjermanovic & @mysticatea it looks like I am on node 8.9.2 and missed the 8.10 minimum requirement for the upgrade. whoops!! I did just verify my build, and I am not seeing the warning messages in install for the non-supported engines/node verisons:
<details>
<summary> Log Output: </summary>

[code]
</detials>

[2019-10-28 13:46] #12493 closed

[2019-10-28 14:10] btmills commented on #12413
We have not observed any regressions in this release. Feel free to resume merging semver-minor PRs.

[2019-10-28 14:10] #12413 closed

[2019-10-28 14:10] eslint[bot] opened #12498 "Scheduled release for November 8th, 2019"
The scheduled release on Friday, November 8th, 2019 is assigned to:

* (needs volunteers)
* (needs volunteers)

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Re

[2019-10-28 14:45] dkarpeSS opened #12499 "Problem with rule in file"
I created my own rule, run it from CLI as a --ruledir, it shows me warnings as expected, but when I open the file in which this problem occurs, it writes me a message : Definition for rule 'bla-bla-bla' was not found, but i`d like to indicate in file which word must be changed, how can i add this?

[2019-10-28 15:18] migueldejuana commented on #12478
Thank you very much for your reply

On Mon, Oct 28, 2019 at 1:50 PM Toru Nagashima <notifications@github.com>
wrote:

[2019-10-28 15:19] #12478 closed

[2019-10-28 15:20] migueldejuana commented on #12478
Enough with proposed solutions

[2019-10-28 16:24] s-mage opened #12500 "Detect file in merge conflict"
**The version of ESLint you are using.**
5.16.0

**The problem you want to solve.**
Detect when it's a file in merge conflict and show corresponding error instead of syntax error.
<img width="996" alt="Screenshot 2019-10-28 at 14 27 19" src="https://user-images.githubusercontent.com/2388396/67696627-80f67180-f9a7-11e9-8a18-340ff29fe65f.png">

**Your take on the correct solution to problem.**

Here

[2019-10-28 16:32] kaicataldo commented on #12500
This sounds useful to me, however I don't think it's a good match for core. ESLint's default parser won't be able to parse this by default, since it's not valid JavaScript syntax. However, this could probably be done with a [processor](https://eslint.org/docs/developer-guide/working-with-plugins#processors-in-plugins) and a corresponding custom rule.

[2019-10-28 16:49] platinumazure commented on #12498
Closing this, as our next planned release is actually going to be November 22, 2019.

[2019-10-28 16:49] #12498 closed

[2019-10-28 16:49] eslint[bot] opened #12501 "Scheduled release for November 22nd, 2019"
The scheduled release on Friday, November 22nd, 2019 is assigned to:

* @kaicataldo
* @btmills

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines

[2019-10-28 19:07] sentilesdal opened #12502 "cannot assign variables from destructure with camelCase rule `ignoreDestructure` set to true"
I am reopening #11226 as suggested at the end of that issue to bring this to light again.  The problem can be seen [here](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGNhbWVsY2FzZTogW2Vycm9yLCB7IGlnbm9yZURlc3RydWN0dXJpbmc6IHRydWUsIHByb3BlcnRpZXM6IFwibmV2ZXJcIiB9XSAqL1xuXG5jb25zdCBhbm90aGVyRnVuYyA9ICh0ZXN0KT0+IG51bGw7XG5cbmNvbnN0IFNlY3Rpb25Gb3JtYXR0ZWRUZXh0ID0gKHsgZmllbGRfZm9ybWF0dGVkX3RleHQgfS

[2019-10-28 19:09] sentilesdal commented on #12502
could a member add a comment to #11226 linking to this issue? That issue has been locked.

[2019-10-28 19:44] mdjermanovic commented on #12502
Hi @sentilesdal, thanks for the issue.

This also looks like a duplicate of #11939.

I think that the option works as intended, as described in [this comment](https://github.com/eslint/eslint/issues/11939#issuecomment-528141058), but it might be good to improve the documentation to further clarify this option.

[2019-10-28 20:48] sentilesdal commented on #12502
@mdjermanovic thanks for the quick reply.  To me it seems that it's not a matter of documentation.  As people have pointed out in #11939 and #11226 and #11228, and now this issue, is that the _desired_ behavior for this rule is such that you can use a variable from a destructured statement however you'd like.  The spirit of the rule seems to be that you shouldn't be able to create _new_ variables

[2019-10-28 21:58] mdjermanovic commented on #12502
I believe it would be better to open a 'Rule change request' issue with a backward-compatible enhancement proposal.

Destructuring creates new variables that might be used many times in the rest of the code. A change to allow underscores in this case (instead of enforcing the user to 'rename variables' in the destructuring pattern) without opt-in might be undesirable for some users.

[2019-10-28 22:43] #12311 closed

[2019-10-28 22:43] #12284 closed

[2019-10-28 22:43] #12246 closed

[2019-10-28 23:09] abirmingham opened #12503 "Eslint eagerly parses config files, in spite of glob pattern"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**
`default`

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect to happen?**
Eslint to audit code in paths matching the glob pattern, i.e.

[2019-10-28 23:10] abirmingham commented on #12503
**Workaround:**

As a workaround I've added an `.eslintignore` file to ignore the `tools` directory.

[2019-10-29 00:13] g-plane commented on #12499
Thanks for this issue.

Custom rules directory is only available at CLI, and editor integration may not support this.

[2019-10-29 02:27] mysticatea commented on #12503
Thank you for your report.

Because, when ESLint handles a glob pattern, it starts to traverse directories at the longest static part then finds the files that are matched the rest part. For example, if `/foo/bar/{a,b,c}/*.js`  is present, it starts at `/foo/bar` then checks all files with `{a,b,c}/*.js` in the directory.

If you separate the glob pattern, it should work as expected.

[code]

[2019-10-29 09:07] Antonius-S opened #12505 "Cmd line reader fails on paths with trailing slash"
**Tell us about your environment**

Environment Info:

Windows
Node version: v10.15.1
npm version: v6.12.0
Local ESLint version: Not found
Global ESLint version: v6.6.0 (Currently used)

**What parser (default, Babel-ESLint, etc.) are you using?**
unrelated

**Please show your full configuration:**
unrelated

**What did you do? Please include the actual source code causing the issue, as well as th

[2019-10-29 11:30] mysticatea commented on #12505
Thank you for your report.

This is the behavior of Node.js and `cmd.exe`. The backslash `\` seems to escape the quote `"`. If you used other shells (e.g., PowerShell), it works fine.

[code]

Like the above, Node.js receives "`--a=foo" bar`" as one argument. Because we cannot know the existence of the backslash and the quotes, I think that what we can do on the ESLint side is nothing.

[2019-10-29 12:18] Antonius-S commented on #12505
Hmm, very surprising behavior. Okay, sorry for kinda false report though maybe it could help someone with similar issue. For me the best solution is to add one more slash
[code]

[2019-10-29 12:22] mysticatea commented on #12497
It would be great if the rule checks each code path.

[code]

[2019-10-29 12:40] mdjermanovic commented on #12497
I was thinking about that, but a problem could be that leaving the `undefined` value in some code paths might be a valid use?

[2019-10-29 13:06] mysticatea commented on #12497
In that case, I think that explicit assignment (`c = undefined`) is a better choice for maintainability.

[2019-10-29 13:46] robbie-c commented on #12206
There's still a problem that this is a warning. IMO it shouldn't be a warning at all, as it makes it impossible to use lint-staged with code that is in `.eslintignore` but not `.gitignore`. (e.g. I have some autogenerated typescript interfaces which I still need to version)

[2019-10-29 14:15] platinumazure commented on #12497
There's a part of me that wonders if user should have the option for the rule to check all code paths, vs allow the variable if it is assigned in one code path. But I don't feel strongly about this.

[2019-10-29 15:34] thewalla07 opened #12507 "Parsing in `pathWithoutExt(filePath)` does not work for Windows paths"
Environment is Windows 10 Version 1809

Environment Info:

Node version: v10.15.0
npm version: v6.4.1
Local ESLint version: v6.5.1 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?** default (N/A)

**Please show your full configuration:** (N/A)

**What did you do? Please include the actual source code causing the issue, as well as the com

[2019-10-29 15:52] fabb commented on #12206
@robbie-c eslint will exit with a 0 exit code when there are just warnings and no errors, so it works fine with lint-staged. But when one uses `eslint --max-warnings 0` which might be desirable, then it would exit with a non-zero exit code, so yes, in this case it would make sense to have no warning in the case of provided ignored file paths. Since it does not fit the my original issue, could you

[2019-10-29 17:48] abirmingham commented on #12503
@mysticatea thanks for the quick response!

I just want to make sure that I understand. You're saying that if I provide `/foo/bar/{a,b,c}/*.js`, I should expect `/foo/bar/d/a/*.js` to match?

Or, in my case, I should expect `{src,test,stories}/**/*.+(ts|tsx)` to match `tools/node_modules/acorn/src/.eslintrc`?

[2019-10-29 20:44] mdjermanovic commented on #12497
How should the rule treat variables that have a reference from a function, for instance:

[code]

This looks complicated to track, it might be better to just ignore these variables?

[2019-10-29 20:57] Slapbox opened #12508 "ESLint 6.6.0 does not account for module-hoisting via yarn workspaces when determining path for plugins"
**Tell us about your environment**

Node version: v12.10.0
npm version: v6.2.0
Local ESLint version: Not found -- But it is installed (rolled back to 6.5.1 and it's working fine)
Global ESLint version: v6.5.1 (Currently used)

**What did you expect to happen?**
Upgrading from 6.5.1 to should not break linting (specifically seeing this in Sublime Text)

I get an error for the first plugin, no matte

[2019-10-29 21:21] mdjermanovic commented on #12497
I also think there should be some options. A total of zero writing references (or zero writes in all code paths that lead to a reading reference) is a very possible error so this check should be probably always enabled. Enforcing assignments in all paths is a best practice but it could be reporting a valid code in an existing codebase.

[2019-10-29 22:43] #12326 closed

[2019-10-29 22:43] #12173 closed

[2019-10-29 22:58] kaicataldo commented on #11908
@mdjermanovic would you like to assign this to yourself so it doesn't get autoclosed?

[2019-10-29 23:11] kaicataldo commented on #12508
This looks like it's being caused by the changes to [how ESLint loads shareable configs and plugins](https://eslint.org/docs/user-guide/migrating-to-6.0.0#package-loading-simplification), however, that was released in v6.0.0. Can you share the config file you're using? I don't have a lot of experience with `yarn workspaces` or `lerna`, but maybe someone else who is more familiar can chime in.

[2019-10-30 02:23] mdjermanovic commented on #11908
Yes, and I think it might be better to just fix the error from the original post at the moment.

The assumption that it isn't safe to convert `if (foo) function f(){}` to `if (foo) { function f(){} }` (which makes problems in PR #11912) might be wrong.

From the specification [B.3.4 FunctionDeclarations in IfStatement Statement Clauses](https://tc39.es/ecma262/#sec-functiondeclarations-in-ifstatem

[2019-10-30 04:17] mysticatea commented on #12503
No. But ESLint traverses `/foo/bar/*` to check if there are the files that are matched the rest part of glob. In that time, ESLint loads config files from the traversed directories because config files can change how ESLint finds files.

ESLint ignores `/node_modules/*` by default, so doesn't traverse `/node_modules/*`.

[2019-10-30 04:27] mysticatea commented on #12497
An option that allows unassigned code paths sounds good.

I think that the `x` should be warned if the code path check is enabled. It's valid but cryptic.

On the other hand, I don't think that we need the code path check for the variables that come from the out of the current (function/global) scope.

[2019-10-30 11:37] thewalla07 commented on #12507
Working on this, created PR to fix this issue

[2019-10-30 20:10] Slapbox commented on #12508
Hey @kaicataldo thanks for your response. That sounds like exactly what I'm seeing, only as you mentioned it was implemented in `6.0.0` and also says it was implemented specifically to fix these sorts of issues.

[Here's a gist with my `.eslintrc` config](https://gist.github.com/Slapbox/8c5dd361d7447a70af51723bbe051f13), but I can't imagine that anything in there is directly related.

Just to re-c

[2019-10-31 07:07] mysticatea commented on #12503
By [ignorePatterns](https://github.com/eslint/rfcs/blob/master/designs/2019-core-options/README.md#-ignorepatterns) property, config files can add/remove ignored files/directories. By [overrides[].files](https://github.com/eslint/rfcs/blob/master/designs/2019-additional-lint-targets/README.md#detailed-design), config files can add the kind of default target files. Therefore, ESLint must load confi

[2019-10-31 07:26] rupertqin opened #12514 "prefer-const not work with mutiple functions"
## Tell us about your environment

Node version: v10.16.3
npm version: v6.12.0
Local ESLint version: v6.6.0
Global ESLint version: v6.6.0

## What did you expect to happen?
rule of `prefer-const` mess up in multiple function.
the config is:
[code]

file a.js
[code]

will `eslint --fix` output as
[code]
## Are you willing to submit a pull request to fix this bug?
Can't help with resolution.

[2019-10-31 07:51] g-plane commented on #12514
It seems that I can't reproduce via [online demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgXCJwcmVmZXItY29uc3RcIjogW1xuICAgICAgXCJlcnJvclwiLFxuICAgICAge1xuICAgICAgICBcImRlc3RydWN0dXJpbmdcIjogXCJhbGxcIixcbiAgICAgICAgXCJpZ25vcmVSZWFkQmVmb3JlQXNzaWduXCI6IHRydWVcbiAgICAgIH1cbiAgICBdICovXG5cbmZ1bmN0aW9uIGEgKCl7XG4gIGxldCBmb28gPTA7XG4gIGZvbyA9IDE7XG59XG5mdW5jdGlvbiBiICgpe1xuICBsZXQgZm9vID0wO1xuIC

[2019-10-31 08:17] mojavelinux commented on #12058
The change for this issue broke my eslint config. I use the following config:

[code]

Now it reports that I'm missing a trailing comma for every function. Do I need to update my configuration to retain the previous rule?

[2019-10-31 09:41] rupertqin commented on #12514
@g-plane  try this

[code]

[2019-10-31 12:27] DmytroLapshyn commented on #12036
If anyone cares for a workaround, this worked for me:

[code]

[2019-10-31 12:50] g-plane commented on #12514
Reproduced. [Online demo](https://eslint.org/demo#eyJ0ZXh0IjoiZnVuY3Rpb24gYSgpIHtcbiAgbGV0IGZvbyA9IDAsXG4gICAgYmFyID0gMTtcbiAgZm9vID0gMTtcbn1cbmZ1bmN0aW9uIGIoKSB7XG4gIGxldCBmb28gPSAwLFxuICAgIGJhciA9IDE7XG4gIGZvbyA9IDE7XG59XG5mdW5jdGlvbiBjKCkge1xuICBsZXQgZm9vID0gMCxcbiAgICBiYXIgPSAxO1xuICBmb28gPSAxO1xufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTAsInNvdXJjZVR5cGUiOiJtb2R1bGUiLCJlY2

[2019-10-31 14:29] yeonjuan commented on #12514
May I try this on?

[2019-10-31 14:31] g-plane commented on #12514
Feel free to do this!

[2019-10-31 14:47] mdjermanovic commented on #12058
@mojavelinux yes, the configuration should be something like this:

[code]

[2019-10-31 15:31] abirmingham commented on #12503
Forgive me, I may not have phrased my question precisely. I understand that `.eslintrc` affects the way that a directory is parsed by ESLint. What I'm trying to understand is how a subdirectory `.eslintrc` might affect parsing of a parent/ancestor directory. For example, in my case, why would `./tools/node_modules/acorn/.eslintrc` ever need to be parsed in order to handle the glob `{src,test,stori

[2019-10-31 16:57] StasD opened #12515 "'Intl' is not defined. eslint(no-undef)"
`Intl` is treated by eslint as undefined for whatever reason:
`'Intl' is not defined. eslint(no-undef)`
It should not be like that, because `Intl` is perfectly defined.
I had to add it to `globals` in the config file to avoid `Intl` being underlined by the editor.

EDIT: It's a React Native project, created with react-native-cli, if it matters.

[2019-10-31 17:35] kaicataldo commented on #12341
@brunottonurb Sorry for the lack of response - this appears to have fallen through the cracks. You're using an extremely old version of ESLint. Can you confirm if this is an issue with the latest version or not?

@sdemjanenko Please make a new issue.

[2019-10-31 17:38] kaicataldo commented on #12515
We don't have enough information to help you. Can you please fill out the template we request? The configuration for the project in question would be particularly helpful here.

[2019-10-31 17:56] StasD commented on #12515
1. The version of ESLint you are using (run `eslint -v`)

`eslint -v` does not return anything (says `command not found: eslint`), but my package.json contains these records:
[code]

Also I have ESLint extension for VS Code installed, version 1.9.1. Not sure which particular eslint is responsible for this behavior.

2. What you did (the source code and ESLint configuration)

I wrote a couple of fu

[2019-10-31 19:25] kaicataldo commented on #12515
Thanks for this information - it's really helpful. I should have been clearer - can you share your .eslintrc (or at least the `env`/`globals` section of it)?

[2019-10-31 19:29] StasD commented on #12515
.eslintrc.js:

[code]

`globals` were added just recently to avoid the warning I'm talking about.

[2019-10-31 19:39] StasD commented on #12515
Actually, looking at the config file I just posted, this line in particular:
`extends: '@react-native-community',`
I'm more and more inclined to think that this question should be addressed to the developers of `@react-native-community/eslint-config` package...
In fact, I already did this: https://github.com/facebook/react-native/issues/27076.

[2019-10-31 19:40] kaicataldo commented on #12515
ESLint doesn't know what environment it is being executed in, so it relies on `env` and `globals` being provided in its config to know what globals are present in the environment.

[2019-10-31 19:56] StasD commented on #12515
Will perhaps close this issue here then... Thanks anyway.

[2019-10-31 19:56] #12515 closed

[2019-10-31 21:44] Pyrolistical commented on #9259
we need this rule as there's nothing to handle mixed breaks in destructuring

Bad ❌
[code]

Good ✔️
[code]

[2019-10-31 22:43] #12275 closed

[2019-10-31 22:43] #12273 closed

[2019-10-31 22:43] #12261 closed

[2019-10-31 22:43] #12255 closed

[2019-10-31 22:43] #12253 closed

[2019-10-31 22:44] #12250 closed

[2019-10-31 22:44] #12168 closed

[2019-11-01 04:50] mysticatea commented on #12503
No, config files don't affect to ancestor directories. As I described in this part "[But ESLint traverses `/foo/bar/*` to check if there are the files that are matched the rest part of glob.](https://github.com/eslint/eslint/issues/12503#issuecomment-547732581)", the reason for ESLint loads `/foo/bar/d/.eslintrc` is that ESLint traverses `/foo/bar/*` to check if there are the files that are matche

[2019-11-01 11:20] kobe990 opened #12517 "the eslint of 6.6.0 occur errors"
**Tell us about your environment**

* **ESLint Version:** 6.6.0
* **Node Version:** 8.9.1
* **npm Version:** 6.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**
** This the webpack config
[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**
I j

[2019-11-01 11:29] mysticatea commented on #12517
Thank you for your report.

This is a duplicate of https://github.com/eslint/eslint/issues/12493.

ESLint doesn't support Node.js 8.9.1 since ESLint 6.0.0. Please use `>=8.10.0`. See also [Migrating to 6.0.0](https://eslint.org/docs/user-guide/migrating-to-6.0.0#drop-node-6).

[2019-11-01 11:29] #12517 closed

[2019-11-01 12:45] glen-84 commented on #11806
@mysticatea Should this issue be reopened now that the RFC has been merged?

[2019-11-01 13:07] mysticatea commented on #11806
Therefore, I think that we don't need to reopen.

[2019-11-01 13:24] glen-84 commented on #11806
That's fine if you plan to do it in the very near future, but if you don't, then we don't have a way of voting on and tracking progress of the issue.

[2019-11-01 13:34] bmacnaughton opened #12518 "eslint parser flags import (in import.meta.url) as an error"
**Tell us about your environment**

vscode information
Version: 1.39.2
Commit: 6ab598523be7a800d7f3eb4d92d7ab9a66069390
Date: 2019-10-15T15:33:40.634Z
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0 (vscode is apparently running a different node than the shell)
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-66-generic

eslint is executed via: Dirk Baeumer's vscode eslint extension: https:/

[2019-11-01 14:13] mysticatea commented on #11806
Because it's a breaking change, it will be implemented in the next major release.

[2019-11-01 14:18] mysticatea commented on #12518
Thank you for your report. But this is correct behavior because `import.meta` is not part of JS yet. You have to use babel-eslint to use the experimental syntax. See also [What about experimental features?](https://github.com/eslint/eslint#what-about-experimental-features)

[2019-11-01 14:18] #12518 closed

[2019-11-01 14:58] abirmingham commented on #12503
That's good. It does seem there is no need for `/foo/bar/d/.eslintrc` to be parsed in this case.

I am suggesting that this is unnecessary, expensive, and can cause errors like this one. Wouldn't it be strictly better if path expansion occurred prior to traversal?

For example, if `/foo/bar/{a,b,c}/*.js` is passed, then ESLint need not traverse `/foo/bar/d`. Enumerating its descendants might be co

[2019-11-01 18:39] kaicataldo commented on #12213
I am championing this as a semver-minor bug fix to the default behavior (citing the precedence set [here](https://github.com/eslint/eslint/pull/12388)).

[2019-11-01 18:41] #11270 closed

[2019-11-01 18:42] kaicataldo commented on #12251
Reopening this so we can evaluate if this is a bug or not.

[2019-11-01 18:43] kaicataldo commented on #12248
I'll champion this.

[2019-11-01 18:49] kaicataldo commented on #12291
Reopening because I think this is an important discussion to have. @eslint/eslint-team Any other thoughts on this?

[2019-11-01 18:59] kaicataldo commented on #12448
The parentheses here don't really have anything to do with the arrow function expression, so I don't think it should be enforced with an arrow function expression rule. I don't think we currently have a generic rule for enforcing newlines within parentheses, but please feel free to create a [new rule proposal](https://github.com/eslint/eslint/issues/new?assignees=&labels=triage%2C+rule%2C+feature&

[2019-11-01 19:00] kaicataldo commented on #12454
This is definitely a bug, since the autofix changes code execution here.

[2019-11-01 19:10] #10482 closed

[2019-11-01 19:18] #12271 closed

[2019-11-01 19:32] btmills commented on #12291
Not sure I have any bright ideas. Passing through `parserOptions` seems better than nothing, and maybe we could detect if the configured parser has a `tokenize` method and fall back to espree otherwise?

[2019-11-01 20:12] kaicataldo commented on #12438
Understood, thank you. I think it would make sense to make the configuration option also accept an object with the following signature:

[code]
Thoughts?

[2019-11-01 20:30] kaicataldo commented on #12133
@sindresorhus Does @mysticatea's response clarify things? Want to make sure this doesn't get auto closed again :)

[2019-11-01 20:41] kaicataldo commented on #12466
Emphasis above is mine. I don't think we'd be able to support this, because ESLint rules do not know about each other by design. I agree with @mdjermanovic that `eslint-disable-*` comments are the best solution to this issue right now.

[2019-11-01 20:45] kaicataldo commented on #12499
For what it's worth, I've successfully used https://www.npmjs.com/package/eslint-plugin-rulesdir to ensure that custom rules are used by integrations that use the Node API (like editor integrations).

[2019-11-01 21:19] #12370 closed

[2019-11-01 21:31] kaicataldo commented on #12508
Thanks for the info. I'm not seeing anything that stands out to me, and that's really odd that you're noticing this behavior only in `6.6.0` on. One more possible thing to try: if you have a lockfile, can you try deleting and regenerating it to see if that fixes it?

[2019-11-01 21:34] kaicataldo commented on #12514
@g-plane Can you explain what the bug here is? I'm not sure I understand why the above code being flagged is incorrect.

[2019-11-01 21:37] kaicataldo commented on #12213
@btmills Totally agreed! Sorry I wasn't clearer on this point.

[2019-11-01 21:48] btmills commented on #12213
Ah I see where I missed that you had already written that. My fault!

[2019-11-01 22:43] #12355 closed

[2019-11-01 22:43] #12343 closed

[2019-11-01 22:43] #12304 closed

[2019-11-01 22:43] #12353 closed

[2019-11-02 00:07] g-plane commented on #12514
The bug is about autofix, while problem reports work as intended.

[2019-11-02 02:45] mojavelinux commented on #12058
Wow, that's a pretty big breaking change. I can't believe that was accepted in a minor release. I've verified the suggestion works, so I don't have a problem updating my configuration. But I still don't see why the original configuration cannot work. The documentation seems to suggest it will still work: https://eslint.org/docs/rules/comma-dangle So this is either a bug or a semantic versioning mi

[2019-11-02 03:37] g-plane commented on #12448
@willlma I'm considering implementing this as a separated plugin.

[2019-11-02 07:27] platinumazure commented on #12058
I would be okay with reverting the change in semver-patch and deferring to semver-major, personally. I don't think this level of breakage was intended (at least, I wasn't intending it).

Probably best to add this to the TSC's agenda.

[2019-11-02 08:31] AlexHayton opened #12520 "Different lint rules based on last change date"
**The version of ESLint you are using.**
6.6.0

**The problem you want to solve.**
I am maintaining a large codebase which has had a very lax set of ESLint rules in the past.  I would like to make the rules much stricter but only on the files we are currently modifying (and hence re-testing) as part of normal maintenance, to reduce the testing overhead of introducing the stricter ruleset.

I would

[2019-11-02 13:22] mightyiam commented on #12466
To summarize, what @SebastianG77 is suggesting is that
[code]
Is allowed when `quotes: ['single']` or `quotes: ['double']`.

Is this correct, @SebastianG77 ?

This would be a non-breaking slight relaxing of the `quotes` option. Am I right?

[2019-11-02 14:58] ilyavolodin commented on #12520
There are other tools out there that would do something like this, for example [lint-staged](https://github.com/okonet/lint-staged). I think this is outside of the scope of the responsibilities for ESLint. ESLint accepts a list of files to lint (or a glob), you could always create a script that would check dates of the files, and only pass the ones you want into ESLint. Also, date is very unreliab

[2019-11-02 15:03] ilyavolodin commented on #12291
I think we should always call `tokenize` method on the configured parser, and mark it as required as part of the parser implementation. We do the same for `parse` method, so now all custom parsers have to implement 2 methods.

[2019-11-02 16:05] platinumazure commented on #12291
I agree that we should eventually require `tokenize`, but I don't think we can do that for 7.0. I think we should check the parser object and emit a warning in 7.0 if it doesn't have `tokenize` (and fall back to `espree.tokenize` internally), and we could throw an error in 8.0.

[2019-11-02 16:28] ilyavolodin commented on #12291
That sounds like a good plan to me.

[2019-11-02 18:36] not-an-aardvark commented on #12291
I'm not sure it's a good idea to require all parsers to have `tokenize` just for this niche use case. Could it be exposed as an optional `parserServices` method instead? (We could also just keep using espree everywhere and fall back to a default behavior gracefully in case espree can't tokenize something.)

[2019-11-02 21:18] platinumazure commented on #12291
I would be okay with this as well.

[2019-11-02 22:52] SebastianG77 commented on #12466
@kaicataldo
Are there more rules in eslint that are contradictorily? To me it looks like a bug, if two rules are so contradictorily that there is no possibility to write certain code in any way. I also do not think it is good style to use comments as the only option to allow certain string values, because comments should usually be used to comment code and not to deactivate linter rules.

@mightyi

[2019-11-03 00:26] friederbluemle opened #12523 "keyword-spacing does not work for function keyword"
**Tell us about your environment**

Node version: v12.12.0
npm version: v6.11.3
Local ESLint version: v6.6.0 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causin

[2019-11-03 01:12] g-plane commented on #12523
Hi, please use [space-before-function-paren](https://eslint.org/docs/rules/space-before-function-paren) instead.

[2019-11-03 07:37] friederbluemle commented on #12523
@g-plane - Thanks a lot for your comment and suggestion! I was able to get the desired behavior using `space-before-function-paren`.

However, that still leaves three open questions:

- Why does the `keyword-spacing` rule not detect the space?
- Does that mean there is some kind of internal "priority" (e.g. `keyword-spacing` has lower priority than `space-before-function-paren`)? If yes, where can

[2019-11-03 07:40] g-plane commented on #12523
- `space-before-function-paren` does it, so `keyword-spacing` doesn't need to detect again.
- No.
- What's your problem?

[2019-11-03 15:23] ilyavolodin commented on #12291
Wouldn't that break every time espree tried to tokenize some new syntax?

[2019-11-03 22:43] #12363 closed

[2019-11-04 02:41] TSMMark commented on #9259
@ljharb Since ES module imports and destructing are actually two different language features, would we be better off breaking this into two distinct rules? Or are we all in agreement that the two syntaxes are similar enough that they should be bundled under one rule?

[2019-11-04 02:42] ljharb commented on #9259
One rule but controlled separately by options seems sensible.

[2019-11-04 02:43] ljharb commented on #9259
(with a more generic rule name, ofc)

[2019-11-04 02:56] TSMMark commented on #9259
That sounds good to me if we can land on a generic name that makes sense. Is there a common term to describe both named imports and destructured assignments? I'm not aware of any and a quick search did not yield much for me. My favorite proposal so far is `newline-curly-contents` but that may be too vague, as `object-property-newline` is already its own rule and curlies are used frequently in JS s

[2019-11-04 04:30] ljharb commented on #9259
Probably a single rule, called, say, `list-newline`, that can potentially govern all forms of (comma-separated) lists in the future?

function signatures and calls, object declarations and destructurings, named imports and exports, array declarations and destructurings, comma operator statements - did i miss anything?

[2019-11-04 05:59] g-plane commented on #9259
@ljharb I think that is off-topic. You can create a new issue to propose that.

[2019-11-04 07:03] gurpreetatwal opened #12525 "`prefer-named-capture-group` should not warn for optional groups or groups for alternations"
**What rule do you want to change?**
`prefer-named-capture-group`

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
new default behavior or a new option that allows selective disabling of this rule for those two cases

**Please provide some example code that this change will affect:**

[c

[2019-11-04 10:04] mdjermanovic commented on #12213
This is accepted now.

[2019-11-04 10:17] mdjermanovic commented on #12525
Hi @gurpreetatwal, thanks for the enhancement proposal.

I believe it's best practice to use non-capturing groups where there is no intention to capture the match (I guess that's the case here), regardless of this rule.

[2019-11-04 11:33] mjangir commented on #3458
Then I will never be able to use my own eslint config with create-react-app because ultimately my own eslint plugin versions will be overridden by react-scripts.

[2019-11-04 11:36] gurpreetatwal commented on #12525
Hi @mdjermanovic, I really appreciate the quick reply! What you said makes a lot of sense haha. I completely forgot about non-capturing groups. (have been too focused on upgrading the eslint version from 3.3. 0 to 6.6.0 on fairly large code base 😪)

I'm fine closing this issue with the resolution of just using non-capturing groups, it'll keep the eslint code simpler and enforce a best practice. Wh

[2019-11-04 11:49] mdjermanovic commented on #12525
I agree :-)

[2019-11-04 11:50] igl commented on #3458
What speaks against setting the require-root to the location of the config file that is requesting the plugin instead of the `CWD`?

imo babel does this right by allowing a `require` (or any other function you want to resolve with) to resolve the pluging closest to itself.

This works fine in npm3/yarn workspace installs with multiple mismatching version.

![image](https://user-images.githubuserco

[2019-11-04 12:36] g-plane commented on #12525
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2019-11-04 12:36] #12525 closed

[2019-11-04 13:15] mdjermanovic commented on #12497
I'm thinking about the following configuration:

A string option which sets the 'mode' of this rule:

* `"any"` - Reports `read` references only if the variable does not have any `write` references. If the variable has at least 1 `write` reference anywhere in the code, all `read` references are valid. This mode does not check code paths at all.
* `"codePath"` - Reports a `read` reference if there

[2019-11-04 15:58] ljharb commented on #9259
@g-plane i don’t think discussing a broader generalization of the rule under discussion is off topic, nor do i think it makes sense to file a new issue with the intent of making this one obsolete.

[2019-11-04 16:24] mdjermanovic commented on #12080
Looks like no one is working on this, so I'll take it.

[2019-11-04 17:57] kaicataldo commented on #12334
Reopening this because this is actively being worked on.

[2019-11-04 17:58] kaicataldo commented on #12334
Leaving the "evaluating" label on here because we haven't officially accepted this, but have been evaluating and accepting smaller individual PRs that solve this.

[2019-11-04 18:00] kaicataldo commented on #12058
It's unfortunate that it causes a lot more errors, but I do think this was the intended behavior and is a bug that should be fixed.

[2019-11-04 18:02] kaicataldo commented on #12351
I'll champion this.

[2019-11-04 18:03] pablobirukov commented on #12351
I could have pushed a PR by now. All I want is to know it won't be rejected

[2019-11-04 18:06] kaicataldo commented on #12351
@pablobirukov Please see https://github.com/eslint/eslint/issues/12351#issuecomment-537753030. I'll try to drum up support for this.

[2019-11-04 18:07] pablobirukov commented on #12351
@katerberg thanks, I remember that, and that's what I'm waiting for 👍

[2019-11-04 18:14] kaicataldo commented on #12514
Oh, I see - yes, that does look like a bug.

[2019-11-04 18:16] #12514 closed

[2019-11-04 18:23] kaicataldo commented on #12466
I see - I misunderstood the proposal. Can you explain why the [allowTemplateLiterals](https://eslint.org/docs/rules/quotes#allowtemplateliterals) option in the `quotes` rule doesn't solve this issue?

[2019-11-04 18:25] #11908 closed

[2019-11-04 20:00] kaicataldo commented on #9259
@g-plane I don't think this discussion is off topic. I think it's important to discuss our long-term strategy with enforcing this kind of pattern.

@ljharb Not sure about the name, but I like the idea of having a singular rule with granular configuration options! In general, I'm of the mind that we should combine these more generic styling rules into one rule, because I think the trade off of more

[2019-11-04 20:06] mojavelinux commented on #12058
It's intended behavior that specifying always-multiline applies to single-line functions? I'd like to understand the logic you're using to make that leap. If it's that the comma-dangle configuration should be specified as an object map, that goes directly against what is documented.

"This rule has a string option or an object option:" https://eslint.org/docs/rules/comma-dangle#options

In fact, t

[2019-11-04 20:07] mojavelinux commented on #12058
@platinumazure Having thought about this more, it's beyond clear to me that this change needs to be reverted and deferred to the next major release.

[2019-11-04 20:19] SebastianG77 commented on #12466
I just tried out `allowTemplateLiterals`. The problem with this option is you can always use backticks resulting in a rule that is too soft. I am looking for a possibility to force developers using single quotes unless there is a good reason not to do it like i.e. using template strings or if it is simply not possible under some circumstances to write a string with single quotes (as when trying to

[2019-11-04 20:24] kaicataldo commented on #12058
@mojavelinux Please try to be civil. While I appreciate your input, I don't think calling anyone a liar is particularly helpful or constructive in this situation. We're all doing our best to make the project the best it can be. Regarding semantic versioning, ESLint defines its semantic versioning policy [here](https://github.com/eslint/eslint#semantic-versioning-policy). If you have any questions

[2019-11-04 20:37] mojavelinux commented on #12058
I assure you I am intending to be civil. (As I said before, I'm not mad or yelling. I'm just trying to be very clear). I never said "lair". You have put words in my mouth. I asked to clarify the leap of logic, because I'm genuinely trying to understand.

I know you're doing your best and I am not saying otherwise. What I'm saying is that the documentation says that it's okay to specify the option

[2019-11-04 20:39] kaicataldo commented on #12466
Thank you for providing more context around the problem you're trying to solve.

So, just to clarify: the proposal here is to add an option to `quotes` to allow for the use of backticks when `quotes` is configured with `'single'` or `'double'` and the string contains `\${}`, correct?

[2019-11-04 20:42] kaicataldo commented on #12058
Please make a new issue, filling the out the requested bug template. We've noticed that ongoing discussions on closed issues tend to get overlooked, and it's best to make a new issue for visibility (particularly since this seems to be a bug caused by the fix this issue was reporting, but not this issue itself). Thanks.

[2019-11-04 20:42] mojavelinux commented on #12058
Per the policy, I would say it's this reason in the major version policy that applies here:

* A new option to an existing rule that results in ESLint reporting more errors by default.

Though that's a bit fuzzy because we're not really dealing with an existing rule.

If a case were made it violated a policy rule, it might be this one in the minor version policy:

* A new option to an existing rul

[2019-11-04 20:43] mojavelinux commented on #12058
Agreed. That's what I meant to suggest.

[2019-11-04 20:47] kaicataldo commented on #12058
Great, sounds like we're in agreement.

[2019-11-04 20:50] mojavelinux commented on #12058
Doh! My mistake. (Foot in mouth). I meant to say multi-line function calls. Hmm, now I see the logic. always-multiline is just catching functions now.

So what we are talking about is making the single option of "always-multiline" also apply to functions.

I stand corrected that this is incorrect behavior. So even though it changed my perception of what the default should be, it is properly inheri

[2019-11-04 20:51] mojavelinux commented on #12058
I would like to restate how much I do appreciate the value this project begins. Seriously, all debate comes from a place of :heart: and respect.

[2019-11-04 21:17] mojavelinux commented on #12058
After reflecting on my communication a bit more, I realize I shouldn't have said "bend the truth". I was attempting to use a figure of speech, but it misfired. I should have said "help me understand how you are arriving at the conclusion that this is a bug". Which I now do understand ;) I will work to improve my dialog in the future. Thanks again for your patience.

[2019-11-04 21:40] Pyrolistical commented on #9259
@ljharb I like your idea, but its make me wonder if this should just be part of `comma-style`, or should we should also eat `comma-style` as `list-style`

[2019-11-04 21:59] SebastianG77 commented on #12466
Exactly.

It could be either an option or default behavior of `quotes`. I would be fine with any of these solutions.

[2019-11-04 22:31] kalbert312 opened #12527 "camelcase: Option to ignore imports"
**What rule do you want to change?**
`camelcase`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option: `ignoreImports`: `true`/`false`, `default`: Debatable. I would say `true` by default because if the code is in your control, eslint would then only flag the declaration and not

[2019-11-04 22:43] #12373 closed

[2019-11-04 22:52] kaicataldo commented on #9259
The style in question is about new lines between comma separated list items. I don’t think that should be tied to the location of commas.

[2019-11-05 03:37] kaicataldo commented on #12466
Thanks for clarifying! I personally think this a good case for an `eslint-disable-*` comment for the `no-template-curly-in-string` rule, but let’s see what the rest of the team thinks.

[2019-11-05 03:43] kaicataldo commented on #12527
I think adding an `ignoreImports` option similar to `ignoreDestructuring` makes sense. I don’t think it makes sense to make `allow` match the module import path - that feels confusing, given how it behaves now.

[2019-11-05 04:09] ljharb commented on #9259
I think “lists” should be the general concept, regardless of the name (not commas, altho lists are comma-separated)

[2019-11-05 04:33] g-plane commented on #12527
So, should we treat it as a bug or an enhancement?

[2019-11-05 07:16] kaicataldo commented on #12527
I don't think this is a bug - it looks like everything is working as intended. I believe this is a rule enhancement request.

[2019-11-05 12:25] RoCkAs commented on #12493
I get the same output error. Tested with node **8.16.0** and **10.15.3**. If i refactor
`return /\s/u.test(text.replace(/\/\*.*?\*\//gus, ""));`
to
`return /\s/u.test(text.replace(/\/\*.*?\*\//gu, ""));`
or downgrade to **eslint@6.0.1** then everything works as expected.

[2019-11-05 13:11] diegocr commented on #11377
Don't get sad, the thumbs up in your initial message shows more people is interested, and count me on that as well.

ESLint team, please make this happen :)

[2019-11-05 15:29] nicholasfc opened #12530 ""X is defined but never used (no-unused-vars)" error when rules says to ignore the no-unused vars. Error only happen sometimes"
**Tell us about your environment**

* **ESLint Version:** "babel-eslint": "^10.0.3" "eslint": "^5.16.0"
* **Node Version:** v10.16.3
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code ca

[2019-11-05 16:07] papb commented on #11377
@diegocr Ah, thanks!! :smiley: I hadn't noticed the reactions to my first post!

[2019-11-05 17:49] JHilker opened #12534 "no-redeclare: Errors on local globals definition overriding default globals definition"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

Occurs with both default and `babel-eslint@10.0.3`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code

[2019-11-05 22:05] sdemjanenko commented on #12341
I found that running a dedupe in yarn fixes this for me. Shout-out to: https://github.com/babel/babel-eslint/issues/681#issuecomment-516893539

[2019-11-06 02:23] campbellbrendene commented on #12432
@kaicataldo thoughts on my previous comment?

[2019-11-06 03:12] kaicataldo commented on #12432
Sorry I lost track of this - thanks for the ping! This seems reasonable to me (and it looks like the previous issue was accepted). Are you still interested in implementing this if it's accepted?

[2019-11-06 03:16] kaicataldo commented on #11377
@eslint/eslint-team Looks like we just need one more :+1: to accept this.

[2019-11-06 03:29] kaicataldo commented on #12481
@ljharb Seems like a good idea to also check non-class (is there a better term for that? Prototypal?) constructor functions, though I would advocate for adding that in later since we already have a PR.

[2019-11-06 04:05] kaicataldo commented on #12530
A few questions:

1. Do you also see this behavior when running ESLint directly from the command line (if not, this sounds like an issue with your compiler setup)?
1. Can you confirm this also happens with the latest version of ESLint and babel-eslint?
1. Given the snippet of code you shared, it looks like it _should_ be erroring, since `docRef` isn't being used.

[2019-11-06 07:40] ljharb commented on #12481
ah, didn't realize #12529 existed.

I'd call them legacy constructors.

[2019-11-06 11:08] mustafa-cosar opened #12535 "[no-magic-numbers] Computed constant values"
**What rule do you want to change?**
no-magic-numbers

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New default behavior

**Please provide some example code that this change will affect:**

[code]
[ESLint demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLW1hZ2ljLW51bWJlcnM6IF

[2019-11-06 12:04] nicholasfc commented on #12530
I'm sorry but I already changed my rules to "no-unused-vars": "off" and it seems to have "fixed" since I don't get the error anymore.

Maybe the problem was the rules I was using and as you said, the linter is working as supposed.

[2019-11-06 12:07] mdjermanovic commented on #10428
I could work on this.

Is the decision to implement one generic rule with pre-populated `"then"` final? That looks confusing, I agree with [this comment](https://github.com/eslint/eslint/issues/10428#issuecomment-393776617) by @not-an-aardvark.

[2019-11-06 12:19] mdjermanovic commented on #11377
Accepted now.

[2019-11-06 13:02] CostachescuCristinel opened #12536 "eslint semi, omitLastInOneLineBlock: true for JSX statements"
**What rule do you want to change?**
I would like to ask a change of the default behavior of the `semi` rule for JSX statements, when the option `"always"` is used together with the `"omitLastInOneLineBlock": true` option.
For JSX statements used in a function's `return` statement, the rule will require a semicolon after the closing JSX tag (or the self-closing JSX tag). This is JS-correct as a re

[2019-11-06 14:14] platinumazure commented on #10428
@mdjermanovic The proposal I had championed was a full implementation of `no-restricted-exports`, though I can't speak to whether everyone who :+1:'d the issue was thinking the same thing.

[2019-11-06 15:39] ljharb commented on #3458
@mjangir not without ejecting, yes - that’s part of the design of CRA.

[2019-11-06 15:44] ljharb commented on #10428
I’d prefer the full implementation, fwiw.

[2019-11-06 17:00] mdjermanovic commented on #10428
What should be the configuration for the rule? A list that defaults to `["then"]` looks like an obvious choice, but it means that any user-defined list would overwrite `"then"` if it isn't explicitly included.

Another choice is a `boolean` option for `"then"` only (e.g., `restrictThen`, default `true`) and a separate array of strings (e.g., `additionalNames`, default `[]`) for an arbitrary list?

[2019-11-06 17:39] ljharb commented on #10428
I think the general rule is more pressing; i think a separate rule should be proposed for “then” (which can have appropriate docs and messaging). Two rules in the long run is ideal.

[2019-11-06 17:41] kaicataldo commented on #12535
I’m 👍🏼 for this proposal, but I think it should be put behind an option and not be the default behavior. This will allow control over how strict users would like the rule to be.

[2019-11-06 18:55] platinumazure commented on #10428
@mdjermanovic I would suggest empty list by default, similar to `no-restricted-syntax` and similar rules.

[2019-11-06 21:27] gkz commented on #11536
I've updated the dependency to `word-wrap` instead of `wordwrap`. Let me look into upgrading other dependencies and then I'll release a new version.

https://github.com/gkz/optionator/commit/bf4b1da28ba085646e0ae9bae602542176f8e635

[2019-11-06 21:56] gkz commented on #11536
I published Optionator 0.8.3 with this change, let me know if there are any issues.

[2019-11-06 22:26] mdjermanovic commented on #10428
Okay, I definitely didn't understand what is accepted, since the proposal was 'defaults to blocking named exports named "then"'.

So, the `no-restricted-exports` rule restricts nothing by default and has nothing about the "then" issue in the documentation.

I'm working on this, should be ready soon.

[2019-11-06 22:49] kaicataldo commented on #12536
Hi, can you explain why `omitLastInOneLineBlock` should cover this case? The example given isn’t a block and is multiline.

[2019-11-06 22:50] kaicataldo commented on #11536
Thanks for the update!

[2019-11-06 22:54] kaicataldo commented on #3458
@igl It’s been stalled for a little while now, but this RFC might interest you. Please feel free to jump in the discussion!

[2019-11-07 11:27] eakl opened #12538 "Error while running ESLint: Invalid regular expression flags"
**Tell us about your environment**

* **ESLint Version:** 6.6.0
* **Node Version:** 12.13.0
* **npm Version:** 6.12.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that y

[2019-11-07 12:03] ulrichb commented on #12042
What do you think about a `"allowStringConversions"` option (which suppresses errors in the form of `x + ""` and `"" + x`, see https://github.com/eslint/eslint/issues/12042#issuecomment-517039518)?

If you like it I could try to prepare a PR.

[2019-11-07 14:29] Lcfvs opened #12540 "symbol-description: allow feature identifier tagging"
**What rule do you want to change?**
symbol-description

**Does this change cause the rule to produce more or fewer warnings?**
Fewer, if the empty symbol is a key of an object and it's value is another symbol, for example, used to tag an object by its provider id (the module providing the feature).

It can provide a way, for developers, to easily identify where the features on an object come from

[2019-11-07 14:52] mdjermanovic commented on #12540
Hi @Lcfvs, thanks for the enhancement proposal!

Wouldn't something like `[Symbol("debug")]: Symbol(myModuleId)` be more explicit and still without conflict risks?

Or just `[Symbol("debug")]: myModuleId`

[2019-11-07 15:01] Lcfvs commented on #12540
Hi @mdjermanovic I thought about it, as some other ideas, like `@id`,  but I think an empty symbol is better, because the developers can actually store any named symbol, risking to make a conflict.

For examples, a debugging library can export a `debug` symbol, a schema.org library can export a `@id` symboln etc.

The empty seems, by the default rule, a good exception, it isn't?

[2019-11-07 15:10] Lcfvs commented on #12540
Imho, this special case doesn't need to be explicit, since it's only for a tagging purpose.

[2019-11-07 15:35] mdjermanovic commented on #12540
Same descriptions shouldn't cause any conflicts in the code?

[code]

I still think it would be useful to provide a description as it's a feature designed for debugging, even if it happens that some library uses the exact same description for its own symbols.

[2019-11-07 16:11] Lcfvs commented on #12540
Yeah, but if you have an object like this
[code]
It's okay, the symbols are different, but we don't have, at console reading, a way to distinct them.

[2019-11-07 16:11] kaicataldo commented on #12042
Sorry for the delay in response. I see the value in this option. I don’t think this rule should be forcing a specific style of type conversion.

[2019-11-07 16:12] kaicataldo commented on #12042
Let’s see what the rest of the team has to say.

[2019-11-07 16:12] Lcfvs commented on #12540
By "conflict", I don't mean in code, just at reading ;)

[2019-11-07 16:14] ljharb commented on #12540
`Symbol()` and `Symbol()` also don't provide any way to distinguish between them. So far your use case seems like every use should have a distinct description, and none of them should have none.

[2019-11-07 16:25] Lcfvs commented on #12540
@ljharb As a feature module "meta" symbol, it's exactly the idea, we don't need to distinct them, except the meaning "this symbol isn't a real property, it's just an informative purpose".

[code]

[code]

[code]

[2019-11-07 16:28] Lcfvs commented on #12540
By these empty symbols (meta), we can easily identify what modules are used to construct the resulting object.

[2019-11-07 16:41] ljharb commented on #12540
Then make the description something that says that, instead of introducing the need for your devs to remember an arbitrary convention.

[2019-11-07 17:27] Lcfvs commented on #12540
Linter rules are all arbitrary conventions, what's the difference, please?

[2019-11-07 17:32] ljharb commented on #12540
Linter rules are arbitrary conventions you don’t have to remember.

Your concept of a debug symbol is a convention that can’t be linted for.

Regarding your concern about conflict, you can use any string as a symbol description - do you think it’s likely that a library would have a symbol with the same description as `Symbol('Lcfvs’ fancy debug symbol')`, for example? You could even (probably shou

[2019-11-07 17:41] AnthonyWeston opened #12541 "no-unused-vars: Count JSDoc comments and type annotations as using variables"
**What rule do you want to change?**
no-unused-vars

**Does this change cause the rule to produce more or fewer warnings?**
Fewer warnings - It will also reduce the need to add comments to disable/re-enable eslint rules when importing types, etc. from other files for use in JSDoc coments.

**How will the change be implemented? (New option, new default behavior, etc.)?**
I would personally prefer d

[2019-11-07 17:45] Lcfvs commented on #12540
The idea is to describe it in the object property value (labelled by the symbol), then it's explicit too.

I agree, `Symbol('Lcfvs’ fancy debug symbol')`, doens't have a lot of conflict risks... but not 0.

An example? a messages dictionary, where the messages are named by their content symbols.

[2019-11-07 17:56] Lcfvs commented on #12540
My proposal is general idea.

My examples are about a "module identifier", but maybe, instead an error, the rule can only warn when it matches that pairs style, by a `Empty symbols should only be used to metadata descriptions`

[2019-11-07 18:29] deadlyicon opened #12542 "anyway to ignore parent directory config?"
Is there anyway to configure eslint to ignore the configurations in the parent directory / directories? Both `../package.json` and `../.eslingrc.js`.

Thanks!

[2019-11-07 19:14] ljharb commented on #12540
Right - but you're claiming that it's good to have an empty symbol as the key for that purpose; I don't think that's universal, and I think that using an empty symbol for that is a *bad practice* - it should have a clear description.

[2019-11-07 20:40] kaicataldo commented on #12542
Have you tried the `root: true` option? More information can be found in the documentation [here](https://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy).

[2019-11-07 20:44] kaicataldo commented on #12541
We have [deprecated JSDoc-aware features](https://eslint.org/blog/2018/11/jsdoc-end-of-life) in ESLint core. This definitely seems useful, though! I wonder if making an issue for [`eslint-plugin-jsdoc`](https://github.com/gajus/eslint-plugin-jsdoc) might be the right course of action here.

[2019-11-07 22:34] platinumazure commented on #12540
I think at the very least, this shouldn't be a new default behavior and would need to be an option.

Personally, the proposal feels very specific and as @ljharb notes, is not a universal convention by any means. So I think making any modification to this rule in ESLint core would just confuse other users.

You could use [eslint-rule-composer](https://github.com/not-an-aardvark/eslint-rule-composer

[2019-11-07 23:55] zepumph opened #12545 "no-multi-assign option only when declaring variables."
**What rule do you want to change?**

no-multi-assign
https://eslint.org/docs/rules/no-multi-assign

**Does this change cause the rule to produce more or fewer warnings?**

For this rule, it produces fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

I think it should be an option, something like `onlyForVariableDeclation` of type `{boolean}`. When true, `no

[2019-11-08 00:57] DMR-coding commented on #12502
Hi, I'm fighting this issue right now in migrating a codebase that extensively destructures external API returns, and I want to check in on the status of this before making a closely-related report.

I'm unclear on what actually IS allowed here-- @mdjermanovic, could you clarify what distinction you're drawing between the intended allowed behavior and those shown here? It seems extremely counterin

[2019-11-08 02:18] zypA13510 opened #12547 "keyword-spacing should have higher priority than space-before-function-paren"
**Tell us about your environment**

* Node version: v10.17.0
* npm version: v6.12.1
* Local ESLint version: v6.6.0 (Currently used)
* Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**
default with ecmaVersion 2017

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include

[2019-11-08 06:42] OmgImAlexis opened #12548 "No way to disable issues with comments"
**Tell us about your environment**

* **ESLint Version:** N/A
* **Node Version:** v12.5.0
* **npm Version:** 6.13.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default with [`xo`](https://github.com/xojs/xo).
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing th

[2019-11-08 07:05] golopot commented on #12541
I recommend importing JSDoc types using this syntax:
[code]

[2019-11-08 07:09] g-plane commented on #12548
Thanks for this issue.

It seems that you've added an additional comment after `eslint-disable-next-line`. If you will want to keep that comment (about spell checker), you can consider adding `eslint-disable-line` at the same line which ESLint reports.

[2019-11-08 08:38] OmgImAlexis commented on #12548
The issue it has is the spell check comment though? That’s why I opened this. I had assumed the eslint comment would apply for the spelling comment but it doesn’t seem to work.

[2019-11-08 09:03] g-plane commented on #12548
Oh sorry. I didn't realize that.

[2019-11-08 13:02] Lcfvs commented on #12540
Ok, ok, thanks all.

[2019-11-08 13:12] CostachescuCristinel commented on #12536
I think it should cover this case because ultimately, after the JSX is handled, it is converted into a simple function call. Considering a React use-case, for example, the JSX from above is converted into:
[code]
This conversion, although not visually noticeable when looking at the source code itself, will in fact take place right before the JS parsing step, where the JSX is converted into actual

[2019-11-08 14:38] dietergeerts opened #12549 "Add merge strategy for 'no-restricted-imports/modules` rule, so we can multiple ones in overrides"
**The version of ESLint you are using.**
v6.4.0

**The problem you want to solve.**
Being able to have the rule `no-restricted-imports/modules` in different overrides with different configs, and have them combined.
Right now, We have config for all files, but some files need others added. The current workaround is to make sure we have a global object to configure the rules for all files, and then

[2019-11-08 15:40] deadlyicon commented on #12542
That a the ` --no-eslintrc` option worked for me. Thank you!

[2019-11-08 15:40] #12542 closed

[2019-11-08 15:44] thewalla07 commented on #12548
Hi, this may not be related to ESLint directly, but rather with the [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments) dependency used by [xo](https://github.com/xojs/xo). This dependency is the one that actually reports this error in xo

[2019-11-08 20:22] thewalla07 commented on #11678
I would like to work on this, could you please assign this issue to me?

[2019-11-08 22:26] kaicataldo commented on #12536
I’m sorry, I’m unfortunately not following. I still don’t quite understand what this has to do with the `omitLastInOneLineBlock` option, since the change doesn’t related to either blocks or single line statements.

I’m also not understanding why the compiled output should determine the style for the uncompiled source. If this is something you’d like, I think it makes sense to create your own versi

[2019-11-08 22:43] #12390 closed

[2019-11-08 22:43] #12385 closed

[2019-11-09 10:16] not-an-aardvark commented on #12291
We could use a try-catch and return a safe default value if espree fails.

`astUtils.canTokensBeAdjacent` is a function that makes a best-effort attempt to avoid unnecessary spacing in autofixes. It's an extremely minor feature, and it doesn't need to be completely perfect as long as it does fallbacks appropriately (worst-case scenario, some autofixed text will have an unnecessary space in it). Th

[2019-11-09 14:35] phaux commented on #12042
For conversions you can always use `String(x)`

[2019-11-09 15:08] Lcfvs opened #12550 ""no-unexpected-multiline": add support for chained method calls named by a symbol"
**What rule do you want to change?**
no-unexpected-multiline

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Displays an error

**What wil

[2019-11-09 15:51] ljharb commented on #12042
For conversions, you *must* use String(x) or a template literal - using + empty string will invoke valueOf.

Even if this option exists, please ensure it warns on concatting the empty string, which is always incorrect.

[2019-11-09 20:35] phaux commented on #12042
My use case for `allowSingleConcat` option would be every time I want to prepend some short string to a big expression like:
[code]
I think it looks much better than a template literal.

At the same time I doubt it's worth it since you can always split that expression into separate consts.

[2019-11-09 22:43] #12396 closed

[2019-11-09 22:50] ljharb commented on #12086
I think this should be reopened?

[2019-11-09 23:26] kaicataldo commented on #12086
Assigning to myself so it doesn’t get autoclosed again, but please feel free to assign yourself @mdjermanovic.

[2019-11-09 23:29] kaicataldo commented on #12545
Thanks for the proposal. Could you clarify what problem you’re trying to solve?

[2019-11-09 23:36] kaicataldo commented on #12550
For ease of evaluation, here’s the reported example in our [demo](https://eslint.org/demo#eyJ0ZXh0Ijoib2JqXG4gIFttZXRob2RdKClcbiAgW21ldGhvZF0oKVxuICBbbWV0aG9kXSgpXG4gIFttZXRob2RdKCkiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjUsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb24iOjIsImdldHRlci1yZXR1cm4iOjIsIm5vLWFzeW5jLX

[2019-11-09 23:44] kaicataldo commented on #12550
Thanks for reporting this. The reported case does seem like a case where the rule shouldn’t flag this (note that it’s about computed properties rather than related to Symbols). That being said, I’m not sure we should change the behavior for the following since it’s unclear the intention is:

[code]

[2019-11-09 23:50] kaicataldo commented on #11678
@thewalla07 Sounds great 🎉 ! You commenting here is sufficient enough. We use the assignees feature to indicate champions for issues from the team. Please feel free to comment here or stop by our [Gitter](https://gitter.im/eslint/eslint) if you need any assistance.

[2019-11-09 23:50] Lcfvs commented on #12550
Hi @kaicataldo

In your first example, the method isn't called on the object.

The second is fine, but may be problematic where we need to chain several method calls.

The real question is here: why to (not) support it, computed or not?

[2019-11-10 00:09] kaicataldo commented on #12550
I just clarified my example. The intention wasn’t to tie it to the original example - sorry for the confusion!

The purpose of the rule is to disallow patterns that are ambiguous when not using semicolons. I think that since the intention could be either with the example above, that it’s correct to warn on it.

From the docs (emphasis my own):
In the exceptions where a newline does not end a state

[2019-11-10 00:14] kaicataldo commented on #12502
@DMR-coding The options for this rule currently only toggles the behavior for when new variables are created. This means that other references to the variable aren’t affected, which leads to the somewhat confusing behavior of the rule not warning on, say, destructured assignments, but will then warn when the variable is actually used.

[2019-11-10 00:16] kaicataldo commented on #12547
Thanks for this issue. The [`asyncArrow` option](https://eslint.org/docs/rules/space-before-function-paren#options) should allow you to use both rules together.

[2019-11-10 00:24] kaicataldo commented on #12549
I don’t think this is a good idea because it makes it impossible to remove paths in configs that inherit from other configs. Please see [this issue ](https://github.com/eslint/eslint/issues/3175) for some relevant discussion.

[2019-11-10 00:25] kaicataldo commented on #12549
I also want to note that we require changes to core to go through the RFC process outlined [here](https://github.com/eslint/rfcs).

[2019-11-10 00:45] Lcfvs commented on #12550
No worries. ;)

But what's the recommanded way to write it, please? Store each intermediary result isn't elegant and very verbose, especially when we are manipulating some immutables.

[2019-11-10 00:48] ljharb commented on #12086
@kaicataldo thanks; it's still not reopened tho :-)

[2019-11-10 00:51] kaicataldo commented on #12086
🤦‍♂ Reopened now.

[2019-11-10 00:58] kaicataldo commented on #12550
I think the only option is disabling the rule for those lines.

Another ambiguous example:
[code]

Let's see what others have to say.

[2019-11-10 01:07] Lcfvs commented on #12550
I see the ambiguities.

But my future library is fully symbol-based, then enforce to disable a rule for a valid code by my library users is a few problematic.

It risks to make adverse publicity to my lib. :|

[2019-11-10 01:13] #11536 closed

[2019-11-10 01:15] #12527 closed

[2019-11-10 06:49] #12454 closed

[2019-11-10 07:45] zypA13510 commented on #12547
Ah, thanks. I guess I missed the option somehow, this will do.

[2019-11-10 07:45] #12547 closed

[2019-11-10 08:23] SheetJSDev opened #12551 "array-callback-return should check forEach"
**What rule do you want to change?**
array-callback-return

**Does this change cause the rule to produce more or fewer warnings?**
more

**How will the change be implemented? (New option, new default behavior, etc.)?**
new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Pass

**What will the rule do af

[2019-11-10 08:33] g-plane commented on #12551
Thanks for this issue.

Can you provide more information or context to tell us the intention of this change?

[2019-11-10 08:44] SheetJSDev commented on #12551
[From the documentation for the rule](https://eslint.org/docs/rules/array-callback-return)

It is probably a mistake for callbacks of the forEach method to return values (since forEach does not use the result).  If you want to use a return or need the returned result, consider using `.map` instead.

forEach / map confusion is not uncommon.   The rule checks one direction (map used when forEach was

[2019-11-10 08:53] g-plane commented on #12551
However, this rule warns if you forget to return something when using those methods which accept callback, while you want to propose about `forEach`. It shouldn't be a behavior of this rule.

[2019-11-10 09:05] SheetJSDev commented on #12551
There are two questions you can ask:

1) should ESLint warn if a `forEach` callback returns a value?

since `array-callback-return` currently checks callbacks for other array functions like `map`, it would be consistent for ESLint to check the callbacks for `forEach`.  Array#forEach is a commonly used method.

2) should the `forEach` check be part of `array-callback-return` or a new rule?

The nam

[2019-11-10 16:16] ljharb commented on #12551
The name of the rule suggests it should handle both cases - it’s just only doing half its job right now. An option to check the inverse case on forEach seems ideal.

[2019-11-10 16:34] ilyavolodin commented on #12291
Sounds good to me. I do think we can make it optional for parsers. Since most parsers most likely already have a tokenizer included somewhere in the code, it would be a minor enhancement for them to expose it. But having fallback to espree with try-catch is fine, I think.

[2019-11-10 16:36] #12285 closed

[2019-11-10 17:09] kaicataldo commented on #12551
I’ll champion this. While this would be a change of scope, I agree that this is in the spirit of the rule and is useful. I don’t think we should create another rule for this.

That being said, I think this has to go behind an option that is turned off by default and that we should make it the default behavior in a future major release.

[2019-11-10 20:19] mdjermanovic commented on #12502
Just to add that the option was designed in particular to support two use cases described in [#9807(comment)](https://github.com/eslint/eslint/issues/9807#issuecomment-355452238)

[2019-11-10 20:54] platinumazure commented on #12551
This is now accepted.

[2019-11-10 21:44] thewalla07 commented on #12548
@OmgImAlexis can you give some more information on your environment and any configs you have for xo or ESLint in your project? I am struggling to reproduce this again

[2019-11-11 00:23] OmgImAlexis commented on #12548
I’m using a default install of xo.

I’m seeing this 100% of the time on my project so if there’s anything you need me to test just let me know.

[2019-11-11 00:24] OmgImAlexis commented on #12548
I noticed you talked about Linux and windows. I’m on macOS, doubt that’s makes a difference but figured I’d mention it.

[2019-11-11 03:13] PolanZ opened #12554 "no-unused-vars is not right."
**Tell us about your environment**

* **ESLint Version:** v6.2.1
* **Node Version:** v10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**
[code]

<details>
<summary>Configuration</summary>

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command t

[2019-11-11 03:42] aladdin-add commented on #12554
Duplicate of #12117

[2019-11-11 03:42] #12554 closed

[2019-11-11 03:43] aladdin-add commented on #12554
please upgrade `babel-eslint` to resolve the issue.

[2019-11-11 04:00] kaicataldo commented on #12548
@OmgImAlexis Is there any chance you could make a minimal reproduction case repo? It's tough to know what's going on with all the moving parts at the moment.

[2019-11-11 17:01] belchior opened #12557 "enforce replaceAll over replace with regex global"
**Enforce replaceAll over replace with regex global**

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[X] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about:**

[code]

[code]

**Why should this rule be

[2019-11-11 18:35] zepumph commented on #12545
Yes of course.

The project I work for called Phet Interactive Simulations (https://github.com/phetsims/) has decided on code style that allows multi-assign when when not declaring a variable, but disallows multi-assign when declaring.

So this would be flagged as an error:

     var x = someObject.y = 'string value';

Where this would be allowed:

[code]

Currently there is no way to make the esl

[2019-11-11 18:47] dietergeerts commented on #12549
And now it makes it impossible for multiple extended configs to define their own and have them both applied. There are so many use cases we can come up with for both situations. Imho, it would be a good idea to think about this and find a solution where most use-cases can fit in, no?

Right now, for a lot of projects, there is a lot of config needed to get Eslint fully working with all the rules a

[2019-11-11 22:43] #12405 closed

[2019-11-11 22:43] #12249 closed

[2019-11-11 22:54] campbellbrendene commented on #12432
Sure, I'd gladly work on this. It might be a while before I'll have a PR, since I'm a little swamped right now.

[2019-11-12 02:58] DimaSerhin commented on #12508
@kaicataldo experiencing the same issue with similar setup: `lerna` and `yarn workspaces`.
I have config deeply nested in project tree which is different from one found at the `.` of project folder.
This config extends config module whose peerDependencies are present in `./node_modules`. When i run `./node_modules/bin/eslint` nested config is used but eslint cannot find any dependencies at the roo

[2019-11-12 04:57] terrenmoe commented on #12538
In the v4.19.1, I experienced the same error from the file and line at
/lib/source-code/source-code.js:426

The return statement of the function isSpaceBetweenTokens on the return line the following code
 `return /\s/u.test(text.replace(/\/\*.*?\*\//gus, ""));`
should be
 `return /\s/u.test(text.replace(/\/\*.*?\*\//, "gus"));`

This solved the problem for me but the function in the most recent sr

[2019-11-12 10:06] CostachescuCristinel commented on #12536
I understand, thank you for your time!

[2019-11-12 10:06] #12536 closed

[2019-11-12 11:26] luzik commented on #11914
I believe that 5.x issues "design bug" affected less installations that 6.x design broke now. Standalone ESLint (outside node project) is now quite unusable. I have to change my editor --resolve-plugins-relative-to based on that if local project use node.js.

IMHO best solutions should be:
1. add a way to include --resolve-configs-relative-to option in .eslintrc
2. detect global .eslintrc usage an

[2019-11-12 11:27] aladdin-add commented on #12557
Based on [our policy](https://github.com/eslint/eslint#what-about-experimental-features), eslint don't support stage-3 features officially, we can reconsider it when it reaches stage-4 someday.

[2019-11-12 11:34] wintercounter commented on #11914
What it needs is that is working as any other module in the NodeJS ecosystem. ESLint cannot resolve modules **relative to itself** currently!

[2019-11-12 15:17] sveyret opened #12559 "Rule proposal: else, catch, finally, brace on same line"
**Please describe what the rule should do:**

I am currently migrating from `tslint` to `eslint`. This proposal is to replace the `tslint` rule `one-line` (see https://palantir.github.io/tslint/rules/one-line/).

The purpose of the rule is to check that the specified token is in the same line as the preceding expression. Tokens which can be checked are:

- `catch`, which must be on same line as cl

[2019-11-12 17:27] alexburner commented on #12503
I'm interested in this too, @mysticatea can you offer any further clarification?

[2019-11-12 20:59] aladdin-add commented on #12469
just a thought: for consecutive `if`, whether or not it should check, e.g.
[code]

I think it's good to cover it, or behide an option as an enhancement.

[2019-11-12 21:32] mdjermanovic commented on #12469
I think it's more suitable for a separate rule because this isn't necessarily an error (it could be just a bad practice to repeat conditions instead of having all code in a single block, or it might be even a correct code if `foo` can be assigned a different value in the first block), unlike certainly unreachable code that's being reported by the rule (assuming there are no side effects in conditi

[2019-11-12 22:14] mdjermanovic commented on #12042
The same applies to + non-empty string, so a 'regular' `prefer-template` autofix from `x + "foo" ` to `` `${x}foo` `` can potentially change behavior?

[2019-11-12 22:43] ljharb commented on #12042
@mdjermanovic yes, if `x` is an object that implements both valueOf and toString (of which only `Date` does among the builtins).

[2019-11-12 23:01] mdjermanovic commented on #12042
It could even make sense to ignore `x + ""` by default (but that would be probably a breaking change), since it's the responsibility of `no-implicit-coercion`.

Now we have two rules reporting and trying to fix the exact same range:

[code]

[Demo link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci10ZW1wbGF0ZTplcnJvciAqL1xuLyogZXNsaW50IG5vLWltcGxpY2l0LWNvZXJjaW9uOmVycm9yICovXG5cbnggKy

[2019-11-12 23:21] ljharb commented on #12042
The template literal is a better fix, because it's syntactic.

[2019-11-13 02:46] mdjermanovic commented on #12559
Hi @sveyret, thanks for the new rule proposal!

Did you check the [brace-style](https://eslint.org/docs/rules/brace-style) rule, looks like the default `1tbs` option enforces this style.

[2019-11-13 04:07] #12080 closed

[2019-11-13 06:32] sveyret commented on #12559
Thank you for your answer, @mdjermanovic. The brace-style seems to be what I was looking for. This issue can be closed.

[2019-11-13 06:56] kaicataldo commented on #12508
Is there any chance either of you could make a minimal reproduction GitHub repository?

[2019-11-13 10:24] aladdin-add commented on #12334
@eslint/eslint-team, it seems an useful enhancement, can we get one more 👍 to accept this issue?

[2019-11-13 10:40] gajus opened #12561 "support disabling specific rule fixes"
Creating a new issue because the two other issues have been archived without a solution:

* https://github.com/eslint/eslint/issues/7549
* https://github.com/eslint/eslint/issues/5329

(This auto-archiving logic just hides existing issues and discourages community participation in addressing them.)

It was proposed multiple times to add "nofix" configuration.

Ideally, I would like this to be a to

[2019-11-13 10:46] g-plane commented on #12561
For built-in ESLint rules, you can consider [eslint-plugin-no-autofix](https://github.com/aladdin-add/eslint-plugin/tree/master/packages/no-autofix).

[2019-11-13 11:51] kostia commented on #12538
Same here:
[code]

[2019-11-13 12:06] phorsuedzie commented on #12538
See also: #12493. Please re-check node version used.

[2019-11-13 12:06] kostia commented on #12538
@eakl Are you sure that you are using Node-12? Because  I only had this issue with an older version of Node (in my particular case with Node-8.9). Installing a recent Node (12) fixed the issue for me.

That being said, if `eslint` relies on certain recent regexp flags, it should restrict the Node version in `package.json` with `engines`.

[2019-11-13 15:38] gajus commented on #12561
Furthermore, having this configuration would allow to allow to add auto-fixing to some of the potentially breaking rules, like https://github.com/eslint/eslint/issues/7714. Currently community has to resolve to patches such as this one https://github.com/leo-buneev/eslint-plugin-sort-keys-fix.

[2019-11-13 16:11] platinumazure commented on #12561
I like the idea of having a top-level config for this. I wasn't looking forward to trying to integrate this with existing rule config schemas.

I assume the purpose of having an object with true/false values (instead of an array of rule names) is to make it easier to support this in shareable configs and plugin configs, while still allowing end users to override as needed?

[2019-11-13 16:13] platinumazure commented on #12561
That said, for core change proposals, we require an [RFC](https://github.com/eslint/rfcs) in order to accept a proposal. We can do preliminary discussion in this issue, but could you please create an RFC with a formal proposal when you're ready? Thanks!

[2019-11-13 16:27] tnrich commented on #12206
Who are you asking to create a new issue for this? Yes this IS A BIG PROBLEM STILL! Especially because the latest lint-staged removed the option of ignoring files in favor of ignoring them via eslintignore or the like (https://github.com/okonet/lint-staged/issues/711)

I don't fully understand why this was closed, but we definitely need to do something to add a way to override the ignore-warnings

[2019-11-13 16:51] ilyavolodin commented on #12559
Closing as the question has been answered.

[2019-11-13 16:51] #12559 closed

[2019-11-13 21:24] mdjermanovic commented on #12381
Any thoughts from the team about this rule? :-)

It looks to me that using the already existing code path analysis features this rule could reliably (without false negatives or false positives) detect these bugs in the code, and might be a nice complement to the `no-unreachable` rule.

[2019-11-14 07:50] janhesters opened #12564 "Bug: ESLint thinks variables that are destructured and then spread are undefined"
**Tell us about your environment**

* **ESLint Version:** 6.6.0
* **Node Version:** 12.13.0
* **npm Version:** 6.12

**What parser (default, Babel-ESLint, etc.) are you using?**
Jest with React Native, so probably default or Babel? 🤔

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code ca

[2019-11-14 07:53] ljharb commented on #12564
In this case, you're not declaring `paymentID` with `const` or `let` or `var`, so it definitely should be warning.

Destructuring should be done in a separate line to create a variable, and then you can use the variable. (and in this case, you can do `...payload.paymentID` anyways)

[2019-11-14 08:01] janhesters commented on #12564
@ljharb Hmm, okay 😕 Thank you!

[2019-11-14 08:01] #12564 closed

[2019-11-14 11:25] MarkusLund opened #12565 "Wrong no-useless-escape when escaping character after escaping "\""
**Tell us about your environment**

Node version: v10.7.0
npm version: v6.8.0
Local ESLint version: v6.6.0
Global ESLint version: v6.6.0 (Currently used)

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

The problem exists with default settings.

**What did you do? Please include the actual source code causing the issue, as well as the

[2019-11-14 11:49] mdjermanovic commented on #12565
Hi @MarkusLund, thanks for the issue!

The example indeed looks like a useless escape:

[code]

[2019-11-14 12:06] aladdin-add commented on #12565
https://xkcd.com/1638/

[2019-11-14 16:40] hnipps opened #12567 "id-blacklist catches calls to Number"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 10.16.3
* **npm Version:** 6.13.0

**What parser (default, Babel-ESLint, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as

[2019-11-14 16:49] platinumazure commented on #12567
Hi @hnipps, thanks for the issue.

This is in your configuration:

[code]

Based on this configuration, I think it's correct that the `id-blacklist` rule is flagging `Number` as blacklisted. If you want to change this behavior, you should remove `"Number"` from your `id-blacklist` configuration.

[2019-11-14 16:55] hnipps commented on #12567
@platinumazure the documentation seems to say that the rule will only flag instances where the blacklisted id is assigned a value and will not flag instances when existing functions are called or property names are referenced.

In my case I'm not assigning anything to `Number` I'm just calling a method of the object.

Did I misunderstand the docs?

[2019-11-14 17:15] platinumazure commented on #12567
@hnipps Thanks for clarifying and for drawing my attention to the documentation. I can see how this is confusing.

There's a comment in the documentation after a few examples that says: "all function calls are ignored". However, in those examples, the identifier is either a standalone identifier, or the property of a member expression. For whatever reason, [identifiers that are objects of the memb

[2019-11-14 18:12] hnipps commented on #12567
Thanks @platinumazure .

Some more context: I came across this issue while migrating from TSLint to ESLint using [`tslint-to-eslint-config`](https://github.com/typescript-eslint/tslint-to-eslint-config).

We were using the [TSLint "variable-name" rule](https://palantir.github.io/tslint/rules/variable-name/) with the "ban-keywords" option and I suppose "id-blacklist" is the ESLint equivalent of tha

[2019-11-14 18:25] kaicataldo commented on #12545
Thanks for the explanation. This seems like a reasonable request to me, though I wonder if we can come up with an option name that's more along the lines of `ignoreNonDeclaration` - i.e. adding it as a black list options rather than a white list. Implementation-wise, it doesn't make a difference, but it prevents us from backing ourselves into a corner if we add options in the future.

[2019-11-14 18:26] kaicataldo commented on #12545
Whoops, sorry, didn't mean to close this 😅

[2019-11-14 18:29] kaicataldo commented on #12567
I'm also missing the historical context here, but I agree that this seems like a bug.

[2019-11-14 18:54] btmills commented on #12334
Is the decision here to accept this issue as blanket acceptance for PRs to individual rules that add end locations to reports (option 1 in the original issue description) so we don't have to evaluate them individually? I've added my :+1: under that understanding, and if that is indeed the case, then this can be marked as accepted.

[2019-11-14 18:56] kaicataldo commented on #12334
@btmills I think that makes the most sense? Ideally, it would be nice to audit the rules and make a list we can keep track of here.

[2019-11-14 19:19] kaicataldo commented on #12469
Agreed with @mdjermanovic. I don't think this rule should catch this, since this rule shouldn't be disallowing code like the following:

[code]

or even if we limit it to consecutive statements, potentially:

[code]

[2019-11-14 19:27] kaicataldo commented on #12538
This looks like a duplicate of https://github.com/eslint/eslint/issues/12493.

@eakl Can you confirm you're seeing this with Node `12.13.0`?

`engines` should be correctly specified in ESLint's `package.json`, but please let us know if you see something wrong.

[2019-11-14 20:53] vladshcherbin opened #12568 "Error: Unexpected end of JSON input when using empty package.json"
**The version of ESLint you are using.**
6.6.0

**The problem you want to solve.**
When I have an empty `package.json` file in nested folder, near checked files, eslint gives error:

[code]

There were similar issues previously - https://github.com/eslint/eslint/issues/11026#issuecomment-433744443, https://github.com/eslint/eslint/issues/7748 and there was no error in 5.16.0. Since 6.0.0 an error

[2019-11-14 23:45] zepumph commented on #12545
Brainstorming a few more possibilities here:

* What about white list options that default to true? Since currently the rule supports two "modes" of sorts, failing out on assignment in declaration, and out of declaration, we could have two options that default to true, like:
  * `{boolean} prohibitOnDeclaration=true`
  * `{boolean} prohibitOnAssignment=true`
Then you can opt out of either. That fe

[2019-11-15 01:01] #12036 closed

[2019-11-15 02:59] platinumazure commented on #12568
Hi @vladshcherbin, thanks for the issue.

I wonder if that message is being thrown while searching for an ESLint configuration file (or `eslintConfig` key in package.json)?

Do you have an ESLint configuration file? If not, you should create one by running ESLint with the `--init` comment line option. That could be a workaround to avoid this error being thrown. (Of course, I could be wrong and it

[2019-11-15 03:05] kaicataldo commented on #12568
Could you also explain what you mean by "empty `package.json`"? Does the file literally have nothing in it or does it have `{}`?

[2019-11-15 03:21] kaicataldo commented on #12545
I think that generally makes more sense and falls in line with some of other rules. We could create flags with the AST node type as the key (both defaulting to `true`):
[code]

[2019-11-15 03:31] kaicataldo commented on #12545
I'll champion this. Let's see what the rest of the team has to say.

[2019-11-15 03:34] kaicataldo commented on #12381
@ilyavolodin Mind clarifying if your thumb on the comment above is in support of this proposal? If so, we can mark this as accepted :)

[2019-11-15 05:03] Apacheli opened #12569 "New Rule: no-destructing"
**Please describe what the rule should do:**
This rule would disallow users from using the destructing syntax.

**What category of rule is this? (place an "X" next to just one item)**
[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[X] Other (please specify: ES6 syntax, and a bit of 2 and 3)

**Provide 2-3 c

[2019-11-15 05:29] kaicataldo commented on #12569
I don’t think this is a good match for core, but it actually is already enforceable using [`no-restricted-syntax`](https://eslint.org/docs/rules/no-restricted-syntax).

[2019-11-15 05:30] #11914 closed

[2019-11-15 06:00] Apacheli commented on #12569
Hello, @kaicataldo, could you please show me an example of disallow destructing with that rule? I was almost able to achieve expected behavior, however the following is considered an error:
[code]

[2019-11-15 07:30] kaicataldo commented on #12569
Sure thing!

I believe this should allow you to enforce this:

[code]

Example using [our demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXJlc3RyaWN0ZWQtc3ludGF4OiBbXCJlcnJvclwiLFxuICB7IFwic2VsZWN0b3JcIjogXCJPYmplY3RQYXR0ZXJuXCIsIFwibWVzc2FnZVwiOiBcIk9iamVjdCBkZXN0cnVjdHVyaW5nIGlzIG5vdCBhbGxvd2VkLlwiIH0sXG4gIHsgXCJzZWxlY3RvclwiOiBcIkFycmF5UGF0dGVyblwiLCBcIm1lc3NhZ2VcIjogXCJBcnJheSBkZXN0

[2019-11-15 07:48] Apacheli commented on #12569
Thank you for your help. I was not aware of this rule before I opened this issue. I appreciate it!

[2019-11-15 07:48] #12569 closed

[2019-11-15 08:19] MarkusLund commented on #12565
Oh.. I changed the example when trying different things. It should escape both backslash and forwardslash. I Updated the issue.

[2019-11-15 08:48] matmalkowski opened #12570 "arrow-parens crashes when parsing typescript function with generics"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**
`@typescript-eslint/parser`
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect

[2019-11-15 09:27] vladshcherbin commented on #12568
so, in my situation I have a similar structure:

[code]

As you can see, here I have root `package.json` and `.eslintrc.js` config, both are valid and working. In `tests/bad-json` folder I have another `package.json` file, which is completely empty (not even a `{}`).

When I try to lint `tests` folder, I believe eslint tried to read this nested `tests/bad-json/package.json` file to find eslint con

[2019-11-15 10:19] aladdin-add commented on #12565
![image](https://user-images.githubusercontent.com/13050025/68935878-4d537e00-07d4-11ea-81b9-64781f3e1be5.png)

there is no need to escape `"/"` in plain string(but required in regex)

[2019-11-15 11:02] mdjermanovic commented on #12545
This rule is in the `Stylistic Issues` category. In my opinion:

* `a = b = 1;` is mostly a stylistic issue.
* `var a = b = 1;` is more a possible error than a stylistic issue, as it looks like the intention to declare `b` as well.

An error on `b` will be usually reported by `no-undef` (and `no-implicit-globals` if enabled). But if it happens that `b` already exists in an outer scope, `no-multi-a

[2019-11-15 12:21] mdjermanovic commented on #12565
@MarkusLund if the example is meant to be a part of a dynamically generated regex pattern, in particular a part to match either backslash or forward-slash (as described in the comment), then it should be something like this:

[code]

or, more readable with `String.raw`:

[code]

There is no need to escape the forward-slash when the regex is created from a string:

[code]

If that's unexpected and

[2019-11-15 14:28] MarkusLund commented on #12565
Thanks for clarifying, but my initial example should have been a literal, and not a string.

I get the same warning when I do
[code]

Using `eslint:recommended` I still get the warning `no-useless-escape` when using a regex literal.

[2019-11-15 15:39] kaicataldo commented on #12568
Thanks for the info! This will make it much easier to debug.

[2019-11-15 15:49] mysticatea commented on #12565
The `\/` is a useless escape in character classes.

- `/[\/]/` equals `/[/]/`

Of course, the backslash is needed outside of character classes.

- `/\//`

[2019-11-15 16:12] mysticatea commented on #12568
You are right. In that case, you need `/tests/bad-json` in your `.eslintignore`, or a valid ESLint configuration file that has [a higher priority than `package.json`](https://eslint.org/docs/user-guide/configuring#configuration-file-formats) such as `/tests/bad-json/.eslintrc.yml`.

Because ESLint reads `/tests/bad-json/package.json` when it entered `/tests/bad-json` directory in order to check if

[2019-11-15 16:47] kaicataldo commented on #12568
@mysticatea Do you think it would make sense to ignore empty package.json files, or at least only log a warning but not exit with an error code? Seems like if the package.json file doesn’t have any contents that it clearly is not intended to be used to configure ESLint.

[2019-11-15 16:59] mysticatea commented on #12568
I feel odd if ESLint handles empty config files in special. A `tests/bad-json/package.json` may contain invalid JSON. So this is how ESLint handles parsing errors in config files.

The current strategy is to stop at a parsing error in config files. To print a warning and continue sounds good, but I have a concern about arbitrary outputs from outside of configured formatter.

[2019-11-15 17:01] mysticatea commented on #12568
Honestly, I think reasonable if we going to deprecate config files in subdirectories.

[2019-11-15 17:57] vladshcherbin commented on #12568
I tried different variants of adding `/tests/bad-json` to `.eslintignore` and only 1 variant worked - when I ignore the whole directory. However, I need files inside of this folder to be linted too, for example `tests/bad-json/index.js`. Some of my tries:

[code]

So, I believe current workaround in my situation is to have a higher priority config file in this folder.

[2019-11-15 19:09] JHilker opened #12572 "no-unused-vars: False positive for recursive arrow function"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

Occurs with both default and `babel-eslint@10.0.3`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

Repro

[2019-11-15 19:22] JHilker commented on #12572
Nevermind, looks like this was intentionally part of https://github.com/eslint/eslint/issues/10982 / https://github.com/eslint/eslint/pull/11032

[2019-11-15 19:22] #12572 closed

[2019-11-15 19:56] silviujingoi opened #12573 "no-unused-vars false positive for exported function"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** v8.11.2
* **npm Version:** 5.6.0

**What parser (default, Babel-ESLint, etc.) are you using?** @typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as t

[2019-11-15 20:16] kaicataldo commented on #12570
I’m not sure we support generics - I don’t think they are defined in the type annotations spec in ESTree.

I wonder if the best solution here would be to make a complimentary rule in [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/README.md)?

Let’s see what the rest of the team thinks.

[2019-11-15 20:24] zepumph commented on #12545
Thanks for looking into it you two!

[2019-11-15 21:10] platinumazure commented on #12568
I think we should treat invalid or empty object package.json the same way as we treat lack of configuration files of any other type. The only thing in package.json that counts as an ESLint configuration is an `eslintConfig` key and object. Anything else should not matter to ESLint.

I think we should throw if the `eslintConfig` value is invalid for some reason (e.g., it's an array or string rather

[2019-11-15 22:43] #12434 closed

[2019-11-15 22:43] #12430 closed

[2019-11-15 22:43] #12420 closed

[2019-11-15 22:43] #12417 closed

[2019-11-15 22:43] #12404 closed

[2019-11-15 22:43] #12319 closed

[2019-11-15 23:34] platinumazure commented on #12319
Latest discussion is happening here: https://github.com/eslint/rfcs/pull/43

[2019-11-15 23:57] kaicataldo commented on #12573
I believe this is working as intended, since you are using ES2015 modules and `myFunc` is block scoped and therefore can't be exported. Note that `var` is not block scoped (if you change it to `let` or `const` you would see the same error. Example [here](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXhwb3J0ZWQgbXlGdW5jICovXG4vKiBleHBvcnRlZCBteVZhciAqL1xuLyogZXhwb3J0ZWQgbXlWYXIyICovXG4vKiBleHBvcnRlZCBte

[2019-11-16 00:39] mdjermanovic commented on #12573
It would be a bug if the rule doesn't report `var` as well when source type is set to `module`?

But it seems to work well in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXhwb3J0ZWQgbXlGdW5jICovXG4vKiBleHBvcnRlZCBteVZhciAqL1xue1xuICB2YXIgbXlWYXIgPSAxO1xuXG4gIGZ1bmN0aW9uIG15RnVuYygpIHtcbiAgICByZXR1cm4gMTtcbiAgfVxufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6Niwic291cmNlVHlwZS

[2019-11-16 03:07] silviujingoi commented on #12573
My apologies, I posted the wrong configuration file.  I updated the original post.  I am not using modules for this project.

[2019-11-16 04:38] mdjermanovic commented on #12573
ESLint's scope manager treats function declarations as block-scoped in ES2015+, even in non-strict mode. Therefore, the rule doesn't see `myFunc` as being exported.

It doesn't work like that in browsers because they are required to support legacy code. The example from the original post would indeed create global `myFunc` (in non-strict mode only).

But, it's a legacy feature that should be avoid

[2019-11-16 06:50] mysticatea commented on #12568
If parsing errors happened, it doesn't know the errors are in `eslintConfig` or not. This is similar to that core rules cannot work if parsing errors happened.

Hmm, how about the following steps:

1. Read the content of `package.json`
2. Check if the content includes the constant string `"eslintConfig"` or not. If not, skip parsing.
3. Parse the content as JSON.

Therefore, if the package.json fi

[2019-11-16 10:08] eakl commented on #12538
Correct, I'm using Node v12.13.0 through nvm

[2019-11-16 18:07] kaicataldo commented on #12568
This is a good point. As I think on this more, I'm of the mind that invalid JSON should still throw, but that if we wanted to ignore completely empty JSON files, that seems like reasonable behavior.  As I think about this more, I actually think the new behavior in 6.0.0 makes a lot of sense.

@vladshcherbin Is there a particular reason the files can't just contain `{}` to indicate they are empty?

[2019-11-16 18:23] vladshcherbin commented on #12568
@vladshcherbin in a plugin I have user can set input `package.json` file path, if this file has invalid json format, I throw an error. In tests I want to test this case by providing invalid json file myself to see if correct error is thrown.

[2019-11-16 22:43] #12449 closed

[2019-11-16 22:43] #12424 closed

[2019-11-16 22:43] #12422 closed

[2019-11-16 22:43] #12421 closed

[2019-11-16 22:43] #12418 closed

[2019-11-16 22:43] #12269 closed

[2019-11-16 23:47] kaicataldo commented on #12568
So, to clarify, you want this feature for testing purposes? If so, there are many assertion libraries that include built-in support for testing this, or you can use try/catch or Promises and assert in the catch block or in the rejection callback as well.

[2019-11-17 00:24] miachenmtl commented on #12538
Same issue, using Node v12.8.0. Works fine with `npx eslint *.js`, but there's an error loading eslint in Atom. But downgrading to eslint@6.5.0 makes Atom work fine.

[2019-11-17 00:32] kaicataldo commented on #12538
@eakl Can you confirm that this behavior also occurs on the command line?

Both you and @miachenmtl seem to be using Atom, so it seems more likely that this is an issue with the Atom editor integration.

[2019-11-17 04:05] nwoltman opened #12574 "[indent] Incorrect expected indentation for jsx spread props"
**Tell us about your environment**

* **ESLint Version:** v6.6.0
* **Node Version:** v13.1.0
* **npm Version:** v6.12.1

**What parser (default, Babel-ESLint, etc.) are you using?**

`babel-eslint@10.0.3`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as t

[2019-11-17 07:27] vladshcherbin commented on #12568
@kaelzhang no, I use eslint only for linting, nothing else. When I try to lint `tests` folder which contains this empty package.json (created for tests) eslint throws an error when sees it and tries to use.

[2019-11-17 08:30] vladshcherbin commented on #12568
@kaicataldo here is [test repo for my case](https://github.com/vladshcherbin/eslint-invalid-json).

In `src` folder function [throws if passed package.json](https://github.com/vladshcherbin/eslint-invalid-json/blob/master/src/index.js#L3-L9) is invalid.
In `tests` folder there is [test for this error](https://github.com/vladshcherbin/eslint-invalid-json/blob/master/tests/index.test.js#L4).
In `tes

[2019-11-17 12:05] hornta opened #12575 "Prevent variables from being used if not guaranteed initialization."
**What rule do you want to change?**
https://eslint.org/docs/rules/init-declarations
It may be it's own rule because I couldn't really find a good fit for this.

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[2019-11-17 14:06] dimabory opened #12576 "[no-await-in-loop] should check for `await` keyword inside `forEach` loop"
**What rule do you want to change?**

[**no-await-in-loop**
](https://eslint.org/docs/rules/no-await-in-loop#disallow-await-inside-of-loops-no-await-in-loop)

**Does this change cause the rule to produce more or fewer warnings?**
More.

**How will the change be implemented? (New option, new default behavior, etc.)?**
It supposed to include new checks.

**Please provide some example code that this

[2019-11-17 14:48] aladdin-add commented on #12469
emm.. after thinking for a while, I think it's not fit for this rule:
+ its rulename: no-dupe-else-if :)
+ it can catch some mistakes, but also has a few false positives.

[2019-11-17 15:35] anatoly314 commented on #12538
I have the same issue with Node v12.13.0 using Webstorm

[2019-11-17 16:08] kaicataldo commented on #12538
@anatoly314 Can you confirm whether or not you see this same issue when running ESLint from the command line? If not, this is an issue with the editor integration.

[2019-11-17 16:40] anatoly314 commented on #12538
I confirm that I have same issue from the command line.
I tried to run the following command `eslint "src/Components/Tick.js" `
and get the following error:

[code]

[2019-11-17 16:49] anatoly314 commented on #12538
I think that I know how to solve the issue, at least with WebStorm it works. It looks like Webstorm grabs on startup default Node/NPM version. If you manage multiple Node/NPM versions by nvm and the default one is `v8.9.1` like in my scenario it won't work.

To fix it you need to go to: `Webstorm -> Preferences -> Languages and Frameworks -> Node.js and NPM` and select correct `Node interpreters`,

[2019-11-17 16:50] anatoly314 commented on #12538
And of course, in the command line, it worked without any issue with correct Node.JS/NPM :)

[2019-11-17 18:15] ilyavolodin commented on #12575
I think this rule is getting into a realm of typing (flow/typescript). I think those tools would be better to cover something like this, because ESLint will never be able to check this fully without going through all function calls (which we don't do).

[2019-11-17 18:20] hornta commented on #12575
I believe it doesn't have to go through all function calls. If it's just sent into a function call or returned from a function it is considered used. I imagined this rule to have to traverse all possible code paths and check for paths that a variable ends up being "used" without having been initialized. As soon as a traversal ends up initializing a variable that path can be closed and it would hav

[2019-11-17 18:40] ilyavolodin commented on #12575
Yes, theoretically you can do this. You would need to use [code-path analysis](https://eslint.org/docs/developer-guide/code-path-analysis) which is very complex, but it can check each branch of the code for you. However, here's a perfectly valid JS code that will always return false positives:
[code]

[2019-11-17 19:30] eakl commented on #12538
@kaicataldo Indeed, no error message when running ESLint from the command line.

[2019-11-17 19:37] kaicataldo commented on #12568
Appreciate all the info! I think the suggestion [here](https://github.com/eslint/eslint/issues/12568#issuecomment-554423743) is the right solution to this. As someone who works on language tooling, I’ve encountered these kinds of issues a lot, and what I tend to see done is to put test fixture files in a ‘test/fixtures` directory and ignore the whole directory when linting.

[2019-11-17 19:41] kaicataldo commented on #12538
Thanks for getting back to us! It does sound like an issue with the VS Code editor integration to me. If you’re unable to solve it, could you make an issue on the VS Code ESLint plugin repo? For what it’s worth, I use VS Code with the ESLint plugin and have not run into this issue.

[2019-11-17 20:11] mdjermanovic commented on #12575
There is a recently accepted proposal for `no-unassigned-vars` rule in #12497, with the ongoing discussion about its scope, which may include code path analysis. It looks like the suggested enhancements in the discussion there are same as this proposal.

[2019-11-17 21:50] G-Rath commented on #12078
@kaicataldo @g-plane could this issue be reopened?

[2019-11-17 22:43] #12439 closed

[2019-11-17 22:57] kaicataldo commented on #12078
Can you point me to the PR where this is being worked on? Maybe you’re referring to something else, but the PR I linked to above relates to adding type checking to ESLint internally through comments. I thought this was valuable to this discussion since it would add TypeScript as a dev dependency to the project, but it’s not actually implementing this proposal.

If you’d like to continue championin

[2019-11-17 23:11] kaicataldo commented on #12576
Thanks for the proposal. Can you explain what problem you’re trying to solve? If the intended behavior of the example code is to log “Done!” after the array values have resolved, there’s definitely a bug in this code. However, given that the rule is intended to help catch cases where async code is accidentally run in serial rather in parallel and since the promises in this example are being awaite

[2019-11-17 23:27] kaicataldo commented on #12574
I have verified this with the [demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwiaW5kZW50XCI6IFsyLCAyLCB7XCJTd2l0Y2hDYXNlXCI6IDF9XSAqL1xuXG5pbXBvcnQgUmVhY3QgZnJvbSAnUmVhY3QnO1xuXG5leHBvcnQgZGVmYXVsdCBmdW5jdGlvbiBCdXR0b24ocHJvcHMpIHtcbiAgcmV0dXJuIChcbiAgICA8YnV0dG9uXG4gICAgICB0eXBlPVwiYnV0dG9uXCJcbiAgICAgIHtcbiAgICAgICAgLi4ucHJvcHMgLy8gRVNMaW50IGlzIChpbmNvcnJlY3RseSkgZXhwZWN0aW5nIGxlc3MgaW5

[2019-11-17 23:32] G-Rath commented on #12078
Apologies, I meant the general idea was being worked on ("work" in this case including discussing, thinking, etc) which the auto-closing comment from the bot I felt didn't represent.

You've answered the question I should have asked: "What is the next step to move this forward, since the team didn't seem to be not interested in it?"

I'm happy to give it a shot - I'll try to get an RFC drafted som

[2019-11-17 23:37] kaicataldo commented on #12078
Thanks for clarifying. Sounds good.

[2019-11-18 00:03] Aequitas737 opened #12577 "Use case where newline-per-chained-call doesn't work well"
**What rule do you want to change?**
newline-per-chained-call

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
My guess would be an option for it

**Please provide some example code that this change will affect:**

[code]

According to the rule the code should be like this:
[code]
Which

[2019-11-18 04:34] kaicataldo commented on #12577
Thanks for the proposal. What kind of heuristics do you think ESLint should use to determine what should be allowed on the same line?

[2019-11-18 04:41] Aequitas737 commented on #12577
Not really sure.

Maybe something to check if the lines follow a pattern?

[2019-11-18 04:59] kaicataldo commented on #12577
Can you explain how it would do this? I don't see how ESLint can know what methods can be inlined without being explicitly given the method names that are allowed next to each other.

I actually think the best thing to do in this case would be to use an `eslint-disable-*` comment.

[2019-11-18 05:06] Aequitas737 commented on #12577
I've got no idea of the inner workings of eslint. I was thinking of using [some regex](https://regex101.com/r/V8we5D/1) to get the name and then as long as it's used previously it should be allowed.

However this wouldn't handle the below case:

[code]

So yeh I'm not really sure there's a possible solution. I'll be disabling this rule most likely.

[2019-11-18 05:50] ryanelian commented on #11762
I also encountered this issue. The file exist but errored when linting.

[2019-11-18 12:02] dimabory commented on #12576
Hi, @kaicataldo 🙂

I got your point. It seems like I provided a controversial example, which can be either correct or not depending on the developer's needs.

I would like to give another one where an async code actually supposed to be run in parallel:
[code]

At first sight, it looks like the expected output is a fulfilled list of values, but the actual return value is an empty list.

How it shou

[2019-11-18 15:26] kaicataldo commented on #11762
@ryanelian Please create a new issue if you’re still experiencing this and we’ll do our best to help you.

[2019-11-18 15:35] kaicataldo commented on #12576
Agreed that this is buggy code, but I again don’t think it’s this rule’s responsibility to catch this, since the problem isn’t the use of `Array.prototype.forEach`, but the lack of awaiting the resolution of all the promises in the array.

While I do think catching this would be useful, I don’t think it’s the responsibility of this rule and I’m not sure how we could do it reliably without type inf

[2019-11-18 17:20] #12469 closed

[2019-11-18 17:22] #12312 closed

[2019-11-18 22:09] mdjermanovic commented on #12570
Maybe we could change the rule to:

* Check the number of params before anything else. If it isn't exactly 1 then the parens are mandatory and must be already there in the code, so there is no need to continue and do anything?
* To find out is that 1 param wrapped in parens, check the first token on the param node's left side. It should be an opening paren within the range of the arrow function.

[2019-11-19 00:28] g-plane commented on #12570
Yes.

[2019-11-19 04:39] fa93hws opened #12578 "Eslint is still using the cache when an eslint plugin is updated but the .eslintrc file remain the same"
**Tell us about your environment**
Not related

* **ESLint Version:**
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**
Not related

**Please show your full configuration:**
Not related

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**
`eslint --cache --cache-location

[2019-11-19 05:37] kaicataldo commented on #12122
Reopening and assigning to myself so it doesn't get auto closed again.

[2019-11-19 05:37] kaicataldo commented on #12127
Reopening and assigning to myself so that it doesn't get auto closed again.

[2019-11-19 05:52] kaicataldo commented on #12570
That makes sense to me, particularly if we can do it in a generic way. 👍🏼

[2019-11-19 10:34] leeDav commented on #12538
For me, this turned out to be _something_ to do with `nvm`, updating it to the latest version got it working again.

I can't recall if I deleted `node_modules` and reinstalled as I'd done that several times in debugging attempts.

My project, using create react app, had an extra problem of missing `browserlist` package (peer dep of `postcss-browser-comments` but manually adding that as in `devDeps

[2019-11-19 12:30] mysticatea commented on #12534
Thank you for your report.

This is intentional behavior.

Because the change from `readable` to `writable` is similar to the following.

[code]

Such a redeclaration causes errors. If you really want such a redeclaration, you can use `eslint-disable` directive comments.

Thanks.

[2019-11-19 17:22] ljharb commented on #12538
I very much doubt this is related to nvm specifically; perhaps just to running the wrong node version.

[2019-11-19 19:38] hnipps opened #12579 "no-underscore-dangle to check function params"
**What rule do you want to change?**
no-underscore-dangle

**Does this change cause the rule to produce more or fewer warnings?**
More warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
The updated rule will check if param Identifiers of FunctionDeclarations and ArrowFunctionExpressions have dangling underscores.

I suggest that underscore dangle in these s

[2019-11-19 19:41] hnipps commented on #12579
This update will help users migrating from TSLint to ESLint to reach feature parity because the TSLint [`variable-name`](https://palantir.github.io/tslint/rules/variable-name/) rule already has the proposed feature.

[2019-11-19 19:47] webOS101 commented on #12579
I would suggest this be configurable, as well, or, perhaps allow a single underscore in parameter names by default, given the common pattern of using `_` for unused parameter.

[2019-11-19 22:43] #12456 closed

[2019-11-19 22:55] JHilker commented on #12534
Ahh yeah, that's a good way to think about it 👍. I've always considered it `readonly` / `writeable` for globals in terms of what *should* be done rather than what *could* be done, but if this is WAD, happy to use `eslint-disable` comments instead. Thanks!

[2019-11-19 22:55] #12534 closed

[2019-11-20 01:03] kaicataldo commented on #12579
I agree that this seems like an oversight of the rule and support this change. I do think it needs to be put behind an option to avoid a breaking change (maybe `allowFunctionParams: true` by default) and that in addition to `FunctionDeclaration`s and `ArrowFunctionExpression`s, I think it should also check `FunctionExpression`s.

[2019-11-20 05:02] g-plane commented on #12448
@willlma I've implemented this in a separated plugin. You can try: https://github.com/g-plane/eslint-plugin-mayaka/blob/master/docs/arrow-body-parens-linebreak.md .

[2019-11-20 07:55] dimabory commented on #12576
Hm... I'm just curious about the difference between the example provided for [no-await-rule](https://eslint.org/docs/rules/no-await-in-loop#disallow-await-inside-of-loops-no-await-in-loop) rule using for/of statement vs. `Array.prototype.forEach` :
[code]

[2019-11-20 11:57] MarkusLund commented on #12565
Ok, thanks for taking you time clarifying.

[2019-11-20 11:57] #12565 closed

[2019-11-20 14:30] aymericbouzy opened #12583 "eqeqeq : documentation is misleading : rule is not autofixable"
**The version of ESLint you are using.**
v5.16.0

**The problem you want to solve.**
Documentation https://eslint.org/docs/rules/eqeqeq says rule eqeqeq is auto-fixable, whereas it isn't (as mentionned in https://github.com/eslint/eslint/issues/4578)

**Your take on the correct solution to problem.**
Update documentation

**Are you willing to submit a pull request to implement this change?**
Yes!

[2019-11-20 15:04] ilyavolodin commented on #12583
`eqeqeq` does have some autofixing. It's very limited to either `typeof` comparisons or comparisons where both sides contain literal. Here's the link to the comment in the code: https://github.com/eslint/eslint/blob/master/lib/rules/eqeqeq.js#L140

[2019-11-20 15:10] dimabory commented on #12576
@kaicataldo I've been thinking how to deal with such kind of buggy code, but TBH I have no idea right now how to enforce this rule 🤷‍♂️ ... and yes, you're definitely right that it has little to do with _no-await-in-loop_ rule.

[2019-11-20 15:29] aymericbouzy commented on #12583
oh I see. Maybe I can update the documentation to specify when the autofixing happens?

[2019-11-20 16:36] matmalkowski commented on #12570
Do you by any chance have example PR of such refactor I could refer to? I'd like to contribute and seems like its a good starting issue

[2019-11-20 17:53] CharlyPoppins opened #12584 "TypeError: Cannot read property 'type' of undefined"
**Tell us about your environment**

* **ESLint Version:** v.6.6.0
* **Node Version:** v12.4.0
* **npm Version:** 6.13.0

**What parser (default, Babel-ESLint, etc.) are you using?** @typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well a

[2019-11-21 02:19] #12481 closed

[2019-11-21 03:41] kaicataldo commented on #12127
Whoops, thanks @platinumazure

[2019-11-21 03:44] kaicataldo commented on #12584
The core rules aren't guaranteed to work with TypeScript. You'll want to use the [`@typescript-eslint/eslint-plugin`](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin).

[2019-11-21 03:46] kaicataldo commented on #12570
That's great! You can find an example [here](https://github.com/eslint/eslint/pull/8111). Please feel free to ask questions here or to stop by our [Gitter chat](https://gitter.im/eslint/eslint).

[2019-11-21 03:48] kaicataldo commented on #12583
Contributions clarifying documentation are definitely welcome!

[2019-11-21 08:04] CinKon commented on #12122
It's still closed though ;)
I'd really like to get this fixed too, as I have to disable the indent rule on test-files otherwise...

[2019-11-21 08:41] piranna opened #12585 "Rules engine?"
Is there a packet with just only the rules engine to be used on third party projects as a dependency? I'm thinking about creating a projects linter (not only code, but also files structure a projects best practices), and although I could disable eslintrc file and all rules and provide the ones I like as arguments, I ser It mostly as a hack and superfluos.

[2019-11-21 09:15] CharlyPoppins commented on #12584
As you can see in my eslint config I'm using @typescript-eslint/eslint-plugin as plugin.
I'll post an issue on their repo, thanks.

[2019-11-21 09:37] g-plane commented on #12584
You may need to check out: https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md .

[2019-11-21 09:48] Redsandro opened #12586 "Unexpected token = in class constructor shorthand"
### Environment Info:

**Node version:** v12.13.0
**npm version:** v6.12.0
**Local ESLint version:** Not found
**Global ESLint version:** v6.6.0 (Currently used)

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

[code]

**What did you expect to happen?**

Lints without error

**What actually happened? Please include the actual, raw output from ESLint.**

[2019-11-21 10:48] g-plane commented on #12586
Thanks for your report.

ESLint only supports Stage 4 features. To use class fields, you can use `babel-eslint` as parser.

[2019-11-21 11:09] Redsandro commented on #12586
I had to google that. Good to know, thank you.

https://2ality.com/2015/11/tc39-process.html

[2019-11-21 11:09] #12586 closed

[2019-11-21 16:46] matmalkowski commented on #12570
I've created initial PR #12587 with 2 additional test cases that should cover this bug, bug it doesn't get reproduced in the tests, I'm confused now :/

I've even added additional test with following code:
[code]
so exactly how it is in my case in my repo, and the test still passes on my local, while when I try to run eslint, in fails [(As on travis CI)](https://travis-ci.org/matmalkowski/react-ha

[2019-11-21 18:12] CharlyPoppins commented on #12584
I wasn't but I do now.
Error is still triggered,  I continue my research

[2019-11-21 19:13] kaicataldo commented on #12122
Whoops, sorry. Reopened now!

[2019-11-21 20:39] mdjermanovic commented on #12570
Seems that your configuration is:

`"arrow-parens": ["error", "as-needed", { "requireForBlockBody": true }]`

And the rule most likely crashes on an arrow function that has block body.

[2019-11-21 20:58] mdjermanovic commented on #12567
It seems that each of the 'naming' rules has it's own logic on which `Identifier` nodes should be checked.

Rules: `camelcase`, `id-blacklist`, `id-length`, `id-match`, `no-underscore-dangle`.

Would it make sense to have a consistent logic, e.g., to check only places where variables/properties are created in all 5 rules? Or maybe to make one `id-style` rule which would replace all 5 rules.

[2019-11-22 00:15] ilyavolodin commented on #12585
You can use (Node API)[https://eslint.org/docs/developer-guide/nodejs-api#linter] directly and supply your own config to it. It will skip resolving configs from file system.

[2019-11-22 02:41] NE-SmallTown opened #12588 "[require-atomic-updates] rule may ignore some cases"
**Tell us about your environment**

* **ESLint Version:** 6.6.0
* **Node Version:** 10.16.1
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command th

[2019-11-22 03:01] matmalkowski commented on #12570
Nice catch! Yeah, added another 2 test cases, this time with `requireForBlockBody` and it fails / crashes. I will keep the current PR (I guess it can be merged?) and will try create another one on top of it with fix

[2019-11-22 03:53] #12041 closed

[2019-11-22 05:45] qiuguixin opened #12589 "@typescript-eslint/no-unused-vars autofix"
Tell us about your environment

**ESLint Version: 5.14.1
Node Version: 8.12.0
npm Version: 6.4.1**

**The problem you want to solve.**
fix vars which defined but never used.
rules: eslint(@typescript-eslint/no-unused-vars)
can we add a autofix feature to auto fix this problem.

**Your take on the correct solution to problem.**
I solved these problems manually.

![image](https://user-images.githubu

[2019-11-22 06:55] kaicataldo commented on #12589
`@typescript-eslint/no-unused-vars` is a rule in the [typescript-eslint repository](https://github.com/typescript-eslint/typescript-eslint). Please make an issue there.

[2019-11-22 09:09] piranna commented on #12585
That was my idea (that, or wrap `eslint` cli passing it some arguments), but my question was more related about don't need to download `espree` parser and other javascript specific dependencies if I'm not going to need them. Is that an option?

[2019-11-22 09:54] g-plane commented on #12585
ESLint can't run without those dependencies, so it's impossible that you don't download them.

[2019-11-22 11:48] biolauri commented on #12283
I just want to link the issue on @typescript-eslint: typescript-eslint/typescript-eslint#1226 for reference and if anyone stumblesupon this.

By the way, the issue is already fixed and will be released on monday, as stated in https://github.com/typescript-eslint/typescript-eslint/issues/1226#issuecomment-556091942.

[2019-11-22 12:36] piranna commented on #12585
I know :-D But they are only needed for the Javascript parsing, I think they are not needed for the rules engine, that's why I ask if it's available as a standalone package. Maybe would it need to be split out? :-)

[2019-11-22 12:51] g-plane commented on #12585
This is wrong, so you can't run ESLint without any dependencies.

[2019-11-22 14:09] ilyavolodin commented on #12585
@piranna At some point in the past there was talk about splitting ESLint into generic linter/rules engine, but there wasn't a lot of movement done on that part. As it is currently, it would be a major undertaking to do so and we currently don't have any plans for it.

[2019-11-22 14:09] aymericbouzy commented on #12583
Actually it is already mentioned in the documentation, I simply didn't see it 😳

Sorry for that.

[2019-11-22 14:09] #12583 closed

[2019-11-22 14:19] piranna commented on #12585
Ok, thank you. Where should I look to move this forward?

[2019-11-22 17:00] ilyavolodin commented on #12585
This would be a major change, so it would require a very large, well thought-out RFC (https://github.com/eslint/rfcs) that would have to go through the normal approval process. Because the change would be very large (basically it would require breaking up ESLint into a bunch of separate packages) I would not expect this process to move quickly (just a heads-up, don't want to scare you off, but wan

[2019-11-22 17:20] #12198 closed

[2019-11-22 17:48] #12574 closed

[2019-11-22 18:02] #12277 closed

[2019-11-22 18:06] kaicataldo commented on #12585
I think this would be a really interesting thing to explore, as I could see it improving the experience for custom parsers (Babel, TypeScript) significantly, since we could separate out all the language-specific functionality into separate packages.

[2019-11-22 18:59] kaicataldo commented on #12501
ESLint v6.7.0 has been released. Please only merge semver-patch PRs until we can evaluate whether we need to follow up with a patch release or not.

[2019-11-22 19:02] ZenVoich opened #12590 "new-parens: add ability to allow chained prop/method access"
**What rule do you want to change?**
new-parens

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Displays an error

**What will the rule do after it'

[2019-11-22 19:56] platinumazure commented on #12589
Closing as this is not an ESLint issue. Thanks for contributing!

[2019-11-22 19:56] #12589 closed

[2019-11-22 21:59] mdjermanovic commented on #12590
Hi @ZenVoich, thanks for the proposal!

I guess you would like an exception to the `"never"` option? And that's because removing the parens in this case requires adding necessary outer parens, and `(new Date).getFullYear()` doesn't look any better than the original `new Date().getFullYear()` ?

[2019-11-22 22:43] #12473 closed

[2019-11-22 23:01] mdjermanovic opened #12591 "Add suggestions for no-unsafe-negation"
It might be useful to have some Suggestions in the core rules, as a working example for rule plugins and a ready test for editor integrations? This rule looks to me like a place where suggestions make sense and should be simple enough to implement for the start.

**What rule do you want to change?**

`no-unsafe-negation`

**Does this change cause the rule to produce more or fewer warnings?**

same

[2019-11-23 01:45] willlma commented on #12448
Many thanks!

[2019-11-23 01:45] #12448 closed

[2019-11-23 04:23] platinumazure commented on #12591
Yes! This is a great example/test case for the Suggestions feature. Let's do this!

[2019-11-23 10:00] andreineculau opened #12592 "Schema validation modifies exported config object in .eslintrc.js"
**Tell us about your environment**

* **ESLint Version:** 6.7.0
* **Node Version:** 12.13.1
* **npm Version:** 6.12.1

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command t

[2019-11-23 14:54] ZenVoich commented on #12590
Yes

I didn't think about the first option. I think this can be used as a workaround at the moment. But I'd prefer the second)

[2019-11-23 16:27] xiaoxiangmoe opened #12593 "Support .eslintrc.cjs and .eslintrc.mjs file"
node 13.2 has been released with .mjs support without flag: https://github.com/nodejs/node/releases/tag/v13.2.0

Can we use `.eslintrc.cjs` and `.eslintrc.mjs` as config file?

[2019-11-23 17:14] kaicataldo commented on #12593
Please track https://github.com/eslint/rfcs/pull/43.

[2019-11-23 17:19] kaicataldo commented on #12592
`eslint-plugin-babel` is maintained by a different team. Please file an issue with https://github.com/babel/eslint-plugin-babel.

[2019-11-23 19:22] andreineculau commented on #12592
This has nothing to do with babel or any other plugin. I'm on the mobile now but i think the problem can be reproduced via

let errorConfig = ['error'];
module.exports = {
  rules: {camelcase: errorConfig, 'default-case': errorConfig}
};

Where eslint will complain that default-case doesn't know of camelcase's options with default values.

[2019-11-23 19:30] andreineculau commented on #12592
correction: let errorConfig = ['error', {}]

[2019-11-23 19:45] ljharb commented on #12592
I would expect the json schema to reject an empty object, and to require at least one key to be present. Is that the case here?

[2019-11-23 20:44] andreineculau commented on #12592
Eslint barfs with
[code]

due to configuring ajv with `useDefaults: true` in https://github.com/eslint/eslint/blob/219aecb78bc646d44bad27dc775a9b3d3dc58232/lib/shared/ajv.js#L21, which [means](https://github.com/epoberezkin/ajv#assigning-defaults) that the options for `camelcase` will mutate into `{ignoreDestructuring: false}`.

I don't think anyone expects the configuration passed to `module.expo

[2019-11-23 21:46] ljharb commented on #12592
ah, gotcha. your use of the term "dereference" confused me since JS has no dereferencing and no pointers; objects are "reference values" :-)

So specifically, you're saying that the validator should apply to the original config, not to the ajv-mutated one?

[2019-11-23 21:54] andreineculau commented on #12592
yup

[2019-11-24 02:29] kaicataldo commented on #12459
Reopening this since it seems to have slipped between the cracks.

This makes sense to me, but I’d like to hear what the rest of the team has to say.

[2019-11-24 04:40] mysticatea commented on #12459
Sorry for the lack of activity here.

This makes sense to me.

[2019-11-24 04:41] ljharb commented on #12459
This makes sense to me too, but a regular `async function` also might never need to use `await` for identical reasons, so if this change makes sense, I'd suggest this entire rule be removed in the next major :-)

[2019-11-24 05:42] suchverynice opened #12595 "TypeError: Cannot read property 'value' of undefined"
**Tell us about your environment**
Node version: v10.13.0
npm version: v6.4.1
Local ESLint version: v6.6.0
Global ESLint version: v6.6.0 (Currently used)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

Given this to lint:
[code]
With my custom ru

[2019-11-24 05:46] kaicataldo commented on #12595
Just to clarify, is the code you’re writing here a snippet of a custom rule you’re writing? And if so, does the error occur when running it? Or are you running into this issue when linting the code snippets above?

[2019-11-24 05:52] suchverynice commented on #12595
The first snippet is what I wanted to lint... or codemod rather

[2019-11-24 07:49] kaicataldo commented on #12595
So it sounds like this is occurring while linting and ESLint is crashing. In that case, can you share the stack trace you’re seeing in the output? Seeing the full error would be very helpful.

[2019-11-24 08:14] suchverynice commented on #12595
Here you go:
[code]

[2019-11-24 11:34] ibc opened #12597 "key-spacing behavior changed from 6.6.0 to 6.7.0 in objects with a single key"
**Tell us about your environment**

$ ./node_modules/.bin/eslint --env-info
Environment Info:

Node version: v12.13.0
npm version: v6.12.0
Local ESLint version: v6.7.0 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**W

[2019-11-24 11:43] ibc commented on #12597
In other words:

[code]

* In ESLint 6.6.0 `foo1` is considered a multiLine object.
* In ESLint 6.7.0 `foo1` is considered a singleLine object.

So `key-spacing` rules apply in a different way.

[2019-11-24 15:02] ibc commented on #12597
AFAIS this happens due [this](https://github.com/eslint/eslint/pull/12472) change.

[2019-11-24 17:14] kaicataldo commented on #12597
Thanks for reporting this. I agree that this looks like a regression. Will verify when I’m in front of my computer.

[2019-11-24 22:43] #12488 closed

[2019-11-24 22:43] #12403 closed

[2019-11-24 22:43] #12393 closed

[2019-11-24 22:43] #12486 closed

[2019-11-24 23:58] gwardwell commented on #11899
Since this issue is now closed, I guess what we’re left with is turning this rule off in order to stop the false positives. If you, the ESLint team, won’t fix the bugs, then you should consider turning it off by default and making it opt-in or removing the rule altogether. 🤷‍♂️

[2019-11-25 00:00] jwalton commented on #11899
You can always submit a PR to fix it, or a PR to remove it from recommended.

On Sun, Nov 24, 2019, 18:58 Greg Wardwell <notifications@github.com> wrote:

[2019-11-25 00:07] gwardwell commented on #11899
@jwalton fair enough. I think I’ll take the route of removing from recommended when I can make time for a PR. I’m going to assume it works for some people, so it should remain.

[2019-11-25 00:22] kaicataldo commented on #12595
If this is a linting error can you please fill out the [bug report template](https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md), as requested? We ask for this information so that we can better triage issues.

[2019-11-25 00:34] kaicataldo commented on #11899
Sorry, folks - this should not have been closed. The TSC made a determination to [remove this rule from `eslint:recommended`](https://github.com/eslint/eslint/issues/11899#issuecomment-541714523), and it looks like we forgot to update labels. I'll make a PR for this right now.

[2019-11-25 01:15] suchverynice commented on #12595
??? What further info is needed?

Basically, the main issue appears that the `value` can't be read as an `if` condition. Expected to return `true` per `console.log()`.

[2019-11-25 03:19] kaicataldo commented on #11414
We decided to revert the PR that closed this due to a regression. @yeonjuan We would love to work with you on finding an alternate solution, if you'd like still to work on this!

[2019-11-25 03:31] btmills commented on #12501
We just merged #12598 and did a patch release as v6.7.1 to fix a regression. Please continue merging only semver-patch PRs until we verify there are no further patch releases required.

[2019-11-25 06:55] yeonjuan commented on #11414
@kaicataldo
I still want to work on this :)
[code]
The line *(1)* should be checked by a multiline option(`multiLine.beforeColon, multiLine.afterColon`) because the *obj* should be considered as a multi-line object.

But I think the `multiLine.align` is for vertical aligning. What about just not checking a `multiLine.align`option in this case?

[2019-11-25 13:36] fflorent opened #12601 "False positive with `no-sync`"
**What rule do you want to change?** no-eslint

**Does this change cause the rule to produce more or fewer warnings?** fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?** New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?** It produces a false-positive : the above `en

[2019-11-25 14:02] mdjermanovic commented on #12595
@suchverynice I'm guessing that `nodes.parent.parent.test.value` crashes on some other `if` statement, not the one from the example.

If that isn't the case, could you please post the entire content of both files?

[2019-11-25 14:52] mdjermanovic commented on #12590
This makes sense to me. An option to allow only necessary parens (those that wouldn't require adding outer parens instead), either as an additional modifier for the `"never"` option or maybe as a new value for the string option (something like `"as-needed"`).

I left :+1: for the proposal. A rule enhancement needs 3 votes from the team and a champion to be accepted.

[2019-11-25 16:02] Ionaru commented on #12567
It seems the "ban-keywords" option in the [TSLint "variable-name" rule](https://palantir.github.io/tslint/rules/variable-name/) should actually be translated to a combination of ESLint rules:
- [no-redeclare](https://eslint.org/docs/rules/no-redeclare)
- [no-shadow with the "builtinGlobals" option](https://eslint.org/docs/rules/no-shadow#builtinglobals)

With these results enabled, it gives me the

[2019-11-25 16:10] ZenVoich commented on #12590
@mdjermanovic Thanks!

[2019-11-25 18:36] ibc commented on #12597
Confirmed that 6.7.1 fixes the issue. Well, AFAIS it's just a commit revert so it makes sense :)

[2019-11-25 18:53] kaicataldo commented on #12597
Thanks for the report!

[2019-11-25 18:53] #12597 closed

[2019-11-25 19:00] kaicataldo commented on #11414
The configuration options for this rule are really confusing 😬

I think your proposal makes sense and we should ignore aligning a line when it contains multiple properties.

So these would be correct:

[code]

Curious what other team members also think.

[2019-11-25 19:10] kaicataldo commented on #12601
Thanks for the issue. Just to clarify, I think you meant `no-sync` for the rule you want to change, correct?

I'm supportive of this change! Can you expand on why you think AST selectors would be a better option than a list of identifiers to ignore?

[2019-11-25 22:15] dbjorge commented on #12246
I think the analysis of this rule in https://github.com/standard/standard/issues/1442 brings up a second, more important reason that would make me prefer to see this rule either deprecated or at least not-recommended-by-default, which is that it sets a trap for an assortment of different types of refactoring (see that issue for more details). Frankly, I think the refactoring traps are enough that

[2019-11-25 22:34] dbjorge commented on #12246
Further, I agree with the argument that the difference in stack trace usability and performance should be treated as an implementation detail, but I think that this should encourage picking the choice that leads to code which is easiest for a maintainer to understand regardless of whether some implementations might use an extra wrapping layer with the extra await, and I think making the sync/async

[2019-11-25 22:43] #12453 closed

[2019-11-25 22:48] ljharb commented on #11989
Ping again :-) can this get a label that prevents collateral damage?

[2019-11-26 02:17] allan2coder commented on #12117
It's a bug in eslint, just upgrade eslint to v6.7.1.

[2019-11-26 03:45] suchverynice commented on #12595
Yes, you are right! Silly me, why didn't I think of that?

Thanks for taking your time to help me!

[2019-11-26 03:45] #12595 closed

[2019-11-26 03:53] btmills commented on #12501
With no further regressions, we're completing this release cycle. You may resume merging semver-minor changes!

[2019-11-26 03:53] eslint[bot] opened #12603 "Scheduled release for December 6th, 2019"
The scheduled release on Friday, December 6th, 2019 is assigned to:

* (needs volunteers)
* (needs volunteers)

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Re

[2019-11-26 04:40] kaicataldo commented on #11989
Is there an RFC for this?

[2019-11-26 14:52] kufii opened #12604 "[6.7] running eslint through npm script throws error."
I don't experience the issue when using eslint v6.6.x.

I have the following script in my package.json:

[code]

If I run `eslint .` directly in the console it works correctly, but when I run `npm run lint`, it throws an error. It seems like it's using the wrong config?

[code]

[2019-11-26 15:14] mdjermanovic commented on #12590
I'll champion and I could work on this. Removed my vote to avoid confusion, so this now needs two more :+1: from the team to be accepted.

In favor of the proposal, the same code which would be added for this enhancement can be also used to improve the fixer for the existing behavior. In particular, to avoid unnecessary parens in the autofix when the option is `"never"`. In the actual version, the

[2019-11-26 15:36] mdjermanovic commented on #12567
This also looks like a bug as the rule effectively restricts importing `foo` although it's renamed:

[code]

[Online demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgaWQtYmxhY2tsaXN0OiBbXCJlcnJvclwiLCBcImZvb1wiXSovXG5cbmltcG9ydCB7IGZvbyBhcyBiYXIgfSBmcm9tIFwibW9kXCI7IC8vIGVycm9yOiBJZGVudGlmaWVyICdmb28nIGlzIGJsYWNrbGlzdGVkLiIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6Niwic291cmNlV

[2019-11-26 15:59] fabiospampinato commented on #12434
A bunch of my issues have been closed for the same reason, one question: if I submit a PR implementing would it still be considered? In case they will be considered should I perhaps jump in the individual issues again in the future in order to discuss potential solutions before attempting to implement them?

[2019-11-26 16:15] captbaritone opened #12605 "Treat type casts as used expressions"
Code like this is useful for forcing Flow to treat a switch statement as exhaustive:

[code]

But currently the type cast will trigger `no-unused-expressions` I'd like it not to.

**What rule do you want to change?**

no-unused-expressions

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?*

[2019-11-26 16:18] adamklepacz commented on #12604
I have the same problem but with eslint-prettier-plugin.
I've been adding prettier to eslint on Saturday and everything works fine, but today on the new project I've got this:

[code]

Should I downgrade the eslint to the previous release?

[2019-11-26 17:10] ilyavolodin commented on #12605
ESLint doesn't support framework/library specific rules. So exceptions like that belong to plugins, not core rules. eslint-plugin-flowtype already has a rule that does exactly what you are looking for: https://github.com/gajus/eslint-plugin-flowtype#eslint-plugin-flowtype-rules-no-unused-expressions

[2019-11-26 17:45] Digznav commented on #12604
Same here. I was updating the dependencies today and the error pop up when testing with `eslint@6.7.1`

[code]

I then installed a previous version `eslint@6.6.0`, and it worked as expected.

[2019-11-26 18:02] kaicataldo commented on #12434
@fabiospampinato We appreciate your proposals, regardless of whether or not the team reaches consensus on implementing them. You can find our issue acceptance policy [here](https://eslint.org/docs/maintainer-guide/issues).

As for specific feedback on your proposals, I think some of them have been a bit too niche for core rules, making it difficult to reach consensus from the team. Fortunately, ES

[2019-11-26 19:16] fabiospampinato commented on #12434
@kaicataldo Thanks. Did my proposals not reach consensus because the maintainers thought they would bloat ESLint without providing enough value?

I'll consider developing custom plugins for my use case, but I think that would probably require me to spend a few days developing them, at least, and I would then have the burden to backport (or "frontport" I guess? 🤔) any improvements you guys may do o

[2019-11-26 19:58] mysticatea commented on #12604
Hi. Thank you for your reports.

Would you provide the repro steps from scratch?
I'm troubled to reproduce it.

Thanks.

[2019-11-26 20:18] kufii commented on #12604
[code]
create `.eslintrc` in the root of the project, use these contents

[code]
add the following script to `package.json`

[code]
run `npm run lint`

[2019-11-26 20:19] kufii commented on #12604
also it might be important to have a .eslintrc in your home folder as well? so if this doesn't work try adding .eslintrc to your home folder with the same contents

[2019-11-26 20:25] mysticatea commented on #12604
Thank you.

Hmm, I put `{"extends": "adpyke-es6"}` and `eslint-config-adpyke-es6` into both cases of the current directory and home directory, but I couldn't reproduce it.

[2019-11-26 20:42] kufii commented on #12604
can I see your package.json?

[2019-11-26 20:47] mysticatea commented on #12604
[code]

[2019-11-26 21:05] kufii commented on #12604
that looks right. And you have an .eslintrc in both your project folder and your home folder?

[2019-11-26 21:08] mightyiam commented on #12246
Should this be re-opened, please?

[2019-11-26 21:09] mightyiam commented on #12246
Not for the purpose of removing it, because some are interested in it, but perhaps for a different solution, like documentation changes?

[2019-11-26 21:13] mysticatea commented on #12604
Yes, I have tried either and both.

[2019-11-26 21:14] Digznav commented on #12604
I have an `.eslintrc.json` in my home folder:

[code]

And also have a `.eslintrc.json` in my project folder: `~/projects/packages/eslint-config`

In which I have the following structure:

[code]

In config file:

[code]

`index.js`:

[code]

[2019-11-26 21:52] mysticatea commented on #12604
Ah, OK, I have found what it happens. Thank you for providing the information.

This happens under the following conditions:

1. You have ESLint config in your HOME directory, but the config doesn't work because of lacking dependencies in your HOME directory. (this behavior has been same since 6.0.0)
1. You have ESLint config in your project directory as well and it works well.
1. You started lint

[2019-11-26 22:58] kaicataldo commented on #12434
I can’t speak for any of my colleagues, but the trade-off of maintenance burden is always a consideration.

[2019-11-27 00:14] mdjermanovic opened #12606 "Suggestion data"
**The version of ESLint you are using.**

6.7.1

**The problem you want to solve.**

A couple of things I noticed while working on #12591:

* It isn't documented that a suggestion object should have its own `data` property for interpolation.  This is probably intuitive for most people, but I was still initially expecting the base `data` object from `context.report({ data: {} })` to be used for all

[2019-11-27 01:05] mysticatea commented on #12604
**Side note:** As you may know, [we have deprecated the config files in HOME directory](https://eslint.org/blog/2019/11/eslint-v6.7.0-released). The error of this issue looks like thrown from unused config files in HOME directory (because it should not work since ESLint 6.0.0), therefore I'd like to recommend to remove it.

[2019-11-27 01:34] mdjermanovic commented on #12606
This seems to have enough votes, but since it's a core enhancement I think it needs to be accepted by a  TSC member?

[2019-11-27 01:46] mysticatea commented on #12606
To me, this looks like a bug that our tester cannot test suggestions with `messageId` + `data`.

[2019-11-27 03:27] ilyavolodin commented on #12606
Agree. I think it's just something that we missed in the original feature PR. Don't think it needs to go through TSC, also it's already up-voted by 3 members of TSC, so I think we should be good.

[2019-11-27 04:58] mysticatea commented on #12501
Unfortunately, one more issue has been reported after closed. I reopen this.

[2019-11-27 05:36] captbaritone commented on #12605
Oh excellent. I didn’t know about that rule in the flowtype plugin. I’ll close this, since I think that solves my problem.

Thanks for all your hard work, it’s an amazing project.

[2019-11-27 05:36] #12605 closed

[2019-11-27 10:00] rfgamaral opened #12610 "The new ignorePatterns option does not exist in json.schemastore.org/eslintrc"
I'm using the [`vscode-eslint`](https://github.com/microsoft/vscode-eslint/) for Visual Studio Code and this extension uses `http://json.schemastore.org/eslintrc` to validate `.eslintrc` files. However, this file hasn't been updated with the `ignorePatterns` option (introduced with ESLint v6.7.0, more particularly [this PR](https://github.com/eslint/eslint/pull/12274)) and the extension throws an

[2019-11-27 10:52] rfgamaral commented on #12610
I've just found out it's a different repo maintained by someone else...

[2019-11-27 10:52] #12610 closed

[2019-11-27 11:03] rfgamaral commented on #12610
For the ones interested, I've opened a PR with SchemaStore:

- https://github.com/SchemaStore/schemastore/pull/870

[2019-11-28 07:03] ljharb opened #12614 "v6.7.0 broke autofixing for eslint-plugin-react"
Tests pass on master in https://github.com/yannickcr/eslint-plugin-react on v6.6, and fail on v6.7.0 or v6.7.1. https://travis-ci.org/yannickcr/eslint-plugin-react/jobs/616996307 is an example of the failures; they're related to whitespace placement, within jsx.

I'm not sure which item in the [changelog](https://github.com/eslint/eslint/blob/master/CHANGELOG.md) might be responsible, but perhaps

[2019-11-28 08:45] mysticatea commented on #12614
Thank you for your report.

I confirmed it.
As you mentioned, #12491 has changed the behavior of the `isSpaceBetweenTokens()` method about JSXText tokens that contain only spaces.

[2019-11-28 14:41] LinusU commented on #12246
I really don't think it is though. `return await foo` and `return foo` is really two very different things.

It isn't an implementation detail though, if the engine _did_ "correctly recording async function into stack trace" when you returned a thenable from your async function, that would actually be wrong since that function shouldn't be on the call stack anymore.

I feel like you are contradict

[2019-11-28 14:49] osdiab opened #12618 "--strict mode flag to treat warnings as errors"
**The version of ESLint you are using.**
6.6.0

**The problem you want to solve.**
https://github.com/facebook/create-react-app by default treats warnings as warnings while you're developing, but as errors if the `CI` flag is set to `true`.

To follow the same conventions on my packages that aren't `create-react-app` apps, I would love to be able to flip that flag easily with the `eslint` CLI, but

[2019-11-28 14:51] osdiab commented on #12618
Current workaround is the last comment in that issue.

https://github.com/eslint/eslint/issues/2309#issuecomment-286649686

[2019-11-28 15:05] medikoo opened #12619 "qute-props with 'consistent-as-needed' doesn't behave as expected"
It doesn't recognize quoted method shorthands, which is unexpected

**Tell us about your environment**

* **ESLint Version:** v6.7.1
* **Node Version:** v13.2.0
* **npm Version:** v6.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**

None

**Please show your full configuration:**

https://github.com/medikoo/eslint-config-medikoo/blob/219731aa5d9d9596dccb2341f070be6224c4d04a/index.j

[2019-11-28 15:44] platinumazure commented on #12618
Have you tried using `--max-warnings 0`? That's more or less the same thing, isn't it?

[2019-11-28 17:26] DanCaton opened #12620 "Invalid regular expression flags catch on no-octal-escape rule"
**Tell us about your environment**

* **ESLint Version:** 6.7.1
* **Node Version:** 10.16.3
* **npm Version:** 6.12.1

**What parser (default, Babel-ESLint, etc.) are you using?**  babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command

[2019-11-28 22:43] #12500 closed

[2019-11-28 23:40] kaicataldo commented on #12246
Feel free to make a new issue if you’d like to advocate for this change.

[2019-11-29 00:23] osdiab commented on #12618
@platinumazure ah I didn’t realize that was a thing, thanks for pointing it out to me!

[2019-11-29 00:23] #12618 closed

[2019-11-29 12:20] aliclark opened #12621 "require-atomic-updates false positive"
**Tell us about your environment**

Node version: v10.16.3
npm version: v6.9.0
Local ESLint version: v6.7.1 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing

[2019-11-29 14:07] bertho-zero commented on #12604
You can replace
[code]

with
[code]

[2019-11-29 16:25] da3monHunter opened #12622 "Rule: for-direction not working with '+=' syntax"
* **ESLint Version: 6.7.1**
* **Node Version: 13.1.0**
* **npm Version: 6.12.1**
* **parser: Babel-ESLin**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[code]

**What did you expect to happen?**
The

[2019-11-29 22:43] #12505 closed

[2019-11-30 00:20] mdjermanovic commented on #12619
Hi @medikoo, thanks for the bug report!

(configuration is: `"quote-props": ["error", "consistent-as-needed"]`)

This rule completely ignores methods (as well as shorthand properties and computed properties).

Consistency is checked and enforced between the remaining properties only. In the example, `"propertyName"` is the only one.

Since the (necessarily quoted) method in the example doesn't cou

[2019-11-30 00:29] mdjermanovic commented on #12620
Hi @DanCaton, thanks for the report!

This could be the same issue as #12538.

Do you see the same error when running ESLint from the command line?

[2019-11-30 01:46] mdjermanovic commented on #12622
Hi @da3monHunter, thanks for the report!

`for-direction` rule does work with `+=` and `-=`, but only in some cases.

For example, the rule reports an error on the following code:

[code]

[Online Demo Link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGZvci1kaXJlY3Rpb246IGVycm9yICovXG5cbmZvciAobGV0IGkgPSAwOyBpIDwgMTA7IGkgLT0gMSkge1xuICBjb25zb2xlLmxvZyhpKTtcbn0iLCJvcHRpb25zIjp7InBhcnNlck9wdGlv

[2019-11-30 07:11] Rotinx opened #12623 "Cannot find module 'eslint-plugin-import'"
**Tell us about your environment**

Node version: v10.16.3
npm version: v6.13.1
Local ESLint version: v6.7.1
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**
eslint-config-airbnb-base

**Please show your full configuration:**

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2019-11-30 07:30] da3monHunter commented on #12622
@mdjermanovic 'out of scope for static code analysis' makes sense, as it will never know what happens with the variable on runtime. Thanks for explaining :)

[2019-11-30 07:30] #12622 closed

[2019-11-30 12:21] medikoo commented on #12619
@mdjermanovic while understand, why it doesn't work like that now, I can hardly believe anyone would expect the output as following with `'consistent-as-needed'`

[code]

And this is the way it works now.

Maybe it'll be good to create some poll, to confirm on that.

Assuming that 99% of users expects the following:

[code]

The right move is to just change the current behavior. It can be marked a

[2019-11-30 13:00] aladdin-add commented on #12623
what's the output after running `npm ls eslint eslint-config-airbnb-base eslint-plugin-import`?

[2019-11-30 13:08] aladdin-add commented on #12621
Duplicate of eslint/eslint#11899 eslint/eslint#11954 eslint/eslint#11900

[2019-11-30 13:08] #12621 closed

[2019-11-30 15:49] brkn commented on #12018
Is there any plan on fixing this?

[2019-11-30 15:53] mastacheata commented on #12018
Obviously not, The issue is closed, so noone will have it on their radar for things to fix.
Unless anyone affected by this problem has enough knowledge about ESLint internals to at least draft a PR, this is unlikely to ever be fixed.

[2019-11-30 16:42] #12604 closed

[2019-11-30 16:43] #12614 closed

[2019-11-30 17:09] mysticatea commented on #12501
We released ESLint v6.7.2 to fix two regressions: #12604 and #12614. Please continue merging only semver-patch PRs until we verify there are no further patch releases required.

[2019-11-30 17:11] Rotinx commented on #12623
![image](https://user-images.githubusercontent.com/39930952/69903656-5f9f0000-1401-11ea-909a-00d4cef9c4f8.png)

[2019-11-30 18:00] aladdin-add commented on #12623
emm.. not sure what happened -- I was not able to repro it.

just noticed the eslint v6.7.1 in OP, but actual insalled eslint v6.1.0. can you retry to make a clean install:
[code]

[2019-11-30 18:20] Rotinx commented on #12623
![image](https://user-images.githubusercontent.com/39930952/69904382-e3111f00-140a-11ea-8208-9b7c184f6e26.png)
![image](https://user-images.githubusercontent.com/39930952/69904385-ea382d00-140a-11ea-8089-0187aca4bf65.png)

Still not working, restarted vs code to make sure. Good catch though I didn't notice that.

[2019-11-30 18:35] aladdin-add commented on #12623
seems like npm's issue to me -:) can you provide a repo(with package-lock.json) please?

[2019-11-30 18:40] Rotinx commented on #12623
um thats really werid I just created a new folder and it works fine.

[2019-11-30 18:41] Rotinx commented on #12623
I'll upload the project that I had issues with.

[2019-11-30 18:44] Rotinx commented on #12623
https://github.com/Rotinx/broken

[2019-11-30 18:54] aladdin-add commented on #12623
(o_ _)ﾉ  works fine on my computer.

anyway, glad to see it works!

[2019-11-30 18:57] Rotinx commented on #12623
so weird I appreciate your help.

[2019-11-30 18:57] #12623 closed

[2019-11-30 20:55] Slapbox commented on #12508
Unfortunately I'll never find the time to make a repro. I can describe the issue to help resolve, but until it's resolved I'll just have to stay on `6.5.1`

Upgrading `Sublime Linter` and the associated Sublime addons didn't help, despite it referencing compatibility with `yarn`, `lerna`, and `eslint6.6` being features of the newest version.

[2019-11-30 21:35] mdjermanovic commented on #12619
I agree that this particular example might be unexpected, but what should be expected for the following code when the option is `'consistent-as-needed'`:

[code]

If the rule should consider methods in its logic, then it should also require/disallow quotes in method names?

[code]

Then, it should also require quotes in all method names when the option is `'always'` as it probably doesn't make sen

[2019-11-30 21:55] kaicataldo commented on #12508
It's a bit of a wild goose chase at the moment. Sounds like it might be beneficial to file an issue with the Sublime plugin you're using - they might be able to chase this down!

[2019-11-30 22:52] mdjermanovic commented on #12018
Reopening to clarify, as this doesn't look like a bug.

`object-curly-newline` rule enforces line breaks after `{` and before `}`, i.e. between `{` and the first property and between the last property and `}`.

`object-curly-newline` does work with named imports, and from the examples above it seems that it works as intended (please feel free to post again an example where it doesn't work well if

[2019-11-30 23:02] mastacheata commented on #12018
But isn't the Multiline option of that rule exactly for this situation?
Also, IIRC (not at a computer to double check right now) if you have more items on one line, ESLint complains and offers to fix it, but doesn't fix it...
At least to me,that is in fact a bug.

[2019-11-30 23:41] mdjermanovic commented on #12018
`multiline` option in `object-curly-newline` requires or disallows linebreaks after `{` and before `}` depending on whether the content inside is multiline or not. It doesn't enforce line breaks between properties/names inside `{}`. Line breaks between (or inside) properties/names are 'input' to determine what should be enforced on braces.

Could you please post an example where it seems that the

[2019-12-01 00:09] mastacheata commented on #12018
I'll gladly provide an example on Monday afternoon when I'm in the office again.

[2019-12-01 05:15] ark120202 opened #12626 "Add an option to check multiline template literals with `no-trailing-spaces`"
**What rule do you want to change?**
[no-trailing-spaces](https://eslint.org/docs/rules/no-trailing-spaces)

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this c

[2019-12-01 22:23] mdjermanovic commented on #12606
I'm working on the rule tester now. Looks like this issue can be marked as accepted?

There is one problem - the actual version allows `desc` and `messageId` in the same test. Even [the example](https://eslint.org/docs/developer-guide/nodejs-api#testing-suggestions) has both fields.

This is different from the error tests validation (`message` and `messageId` can't be defined on the same error obj

[2019-12-01 23:42] tehnools opened #12628 "cannot use word "case" as an element in map"
Ubuntu 19.10
Intel i5 6500k
Using VS CODE 1.40.2

Eslint version 6.7.1
Node.js Version 13.2.0
NPM version 6.13.1
* **ESLint Version:**
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**
using the default parser

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue

[2019-12-01 23:59] mdjermanovic commented on #12628
Hi @tehnools, thanks for the issue.

`case` is a [keyword](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-keywords), it can't be used as an identifier. You will get a similar error when you run the same code in an engine.

[2019-12-02 05:55] tehnools commented on #12628
thanks i will read more on keywords

[2019-12-02 05:55] #12628 closed

[2019-12-02 09:03] mysticatea opened #12629 "Support `export * as ns from "source"`"
**The version of ESLint you are using.**

6.7.2

**The problem you want to solve.**

ESLint doesn't support a new syntax [`export * as ns from "source"`](https://github.com/tc39/ecma262/pull/1174).

**Your take on the correct solution to problem.**

ESLint supports that under `ecmaVersion: 2020`.

- [x] **ESTree:** https://github.com/estree/estree/pull/205
- [x] **Acorn:** https://github.com/acorn

[2019-12-02 09:10] medikoo commented on #12619
Other thing I forgot to mention, is that the way it currently works in ESLint, is not on par with how same rule works in Prettier: https://prettier.io/playground/#N4Igxg9gdgLgprEAuc0DOMAEEBGArTAXk2EwB0QppMMBDKAE1oCcHMBbOGACwjalqcKACgCUJAL4AaTAAdmEWXGYwAngDlBcJJMwSA3CCkhFMAJbpkoFgoDuABRYI0yELQBuEMwyMgczWjAAay4AZVlAsygAc2QYZgBXOGNuGHYAGwB1bjN4NAiwOFDnXLN3XNVXMDQXYyi0ZRh7AOj2WmQAM1p0huM8NAAPACEA4LCtA

[2019-12-02 09:48] DanCaton commented on #12620
Looks like it could be, I was seeing this error from Atom as well.

I don't see the same error when running ESLint from the command line this morning - though I am also not seeing the error in Atom either - no code has been changed, just a restart of my PC

[2019-12-02 10:11] manuth opened #12630 "Allow plugins and parsers to initialize configuration"
Hey guys
So I've been working with `@typescript-eslint` for quite a while and I've noticed that if I'm using the `parserOptions.project` setting which points at a `tsconfig.json` `eslint` acts differently depending in which directory I am.

The reason is because the path to the `tsconfig.json`-file (like, for example `./src/App/tsconfig.json` isn't resolved to its absolute path on initialization.

[2019-12-02 10:16] manuth opened #12631 "Add `ConfigArrayFactory` and `CascadingConfigArrayFactory` to the public API"
In some cases people might want to know which config-files are used for running `eslint` and whether a `package.json` even contains `eslint`-settings.

While it's easily possible to write such a functionality on one's own it's pretty much butthurt to maintain this coad oneself while `eslint` already has such a feature built-in.

It would be awesome if you could export `ConfigArrayFactory` and `Cas

[2019-12-02 10:46] mdjermanovic commented on #12619
Prettier's `consistent` seems to work as described in [the comment](https://github.com/eslint/eslint/issues/12619#issuecomment-560023149) above, i.e. treat methods in same way as other properties.

This also means that it requires quotes in all method names whenever at least one method or  property has necessary quotes, so the following code is invalid:

[code]

This behavior as a user's preferenc

[2019-12-02 18:37] nkas17 commented on #12620
I am also seeing this exact error in VSCode when using the extension - https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

[2019-12-02 18:38] fraywing commented on #12508
I have this same issue after upgrading, but I'm not using Sublime. I don't think this is an issue with an external plugin. I'm having it while using yarn workspaces and Atom.

[2019-12-02 18:39] fraywing commented on #12508
Downgrading stopped the issue, but broke a nested Gatsby app that is in a workspace.

[2019-12-02 19:12] nkas17 commented on #12620
I'm not seeing an issue from the command line

[2019-12-02 19:42] yuliapi opened #12633 "no-duplicate-case incorrect error"
These two cases give `Duplicate case label` error.
[code]

[2019-12-02 20:33] Slapbox commented on #12508
@kaicataldo I understand this might not be resolvable with the currently known information. That said, I feel reasonably, but not entirely, confident that the issue is in ESLint itself.

[2019-12-02 20:56] mdjermanovic commented on #12633
Hi @yuliapi, thanks for the bug report!

I couldn't reproduce the error using the code parts you provided. Here's an [online demo link](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tZHVwbGljYXRlLWNhc2U6IFwiZXJyb3JcIiovXG5cbnZhciBjb25zdGFudHMgPSB7XG4gIFRZUEVTOiB7XG4gICAgICAgU1RBVFNfMV9QUk9QX1pfVEVTVDogJ1NUQVRTXzFfUFJPUF9aX1RFU1QnLFxuICAgICAgIFNUQVRTXzJfUFJPUF9aX1RFU1Q6ICdTVEFUU18yX1BST1BfWl9U