[2015-11-11 17:15] mathieumg commented on #4370
Cool! Sure, I'm just not sure when I'll get around to it in the next month as I'll be very busy with school and finals. :P Perhaps on a calm Friday night!

[2015-11-11 17:20] platinumazure commented on #4373
@nzakas I agree that we need to be more careful about applying fixes than we were before #4329. However, #4329 took it too far by misunderstanding the exclusive nature of the upper bound of a range, and now we are "too" careful about applying fixes. The approach I suggested above (apply neither fix when the exact range of two fixes overlaps) should work well enough in most cases.

For eqeqeq and s

[2015-11-11 17:36] sindresorhus commented on #4380
The first issue is definitely a bug, as for the second, those modules were made long before template strings were a thing, but happy to add support for template strings too. @IanVS is working on that in https://github.com/sindresorhus/to-single-quotes/pull/10, but he's having some problems with the regex. I'm traveling at the moment and I don't have time work on this. Happy to merge PRs, but I'll

[2015-11-11 17:38] platinumazure commented on #4385
"On one line" meaning, in a block which is contained on one line and containing only one statement?

[2015-11-11 17:54] sindresorhus commented on #4378
How about outputting the fixed file on stderr and the lint errors on stdout?

[2015-11-11 18:00] nzakas commented on #4379
The configuration is inherited. Anything you put in your top level .eslintrc applies to the subdirectory as well. You can also use inheritance: http://eslint.org/docs/user-guide/configuring#extending-configuration-files

[2015-11-11 18:00] #4379 closed

[2015-11-11 18:24] ljharb commented on #1512
How will anybody know to submit a PR if it's closed? ◉︵◉

[2015-11-11 18:43] rjbailey commented on #4379
I know--this issue is a feature request to allow disabling inherited `env`s.

I would like to be able to define an .eslintrc like this:

[code]

which prevents the `node` env from being used in that directory, even if some parent directory has an .eslintrc that enabled the `node` env.

[2015-11-11 18:59] JCMais commented on #3395
@IanVS Sure

[2015-11-11 20:14] nzakas commented on #4378
Still a bit too magical for me.

[2015-11-11 20:20] nzakas commented on #4385
As best I can tell, the number of statements doesn't matter. It's that the block is on one line, so you don't need the last semicolon. These would be valid:

[code]

While these would be invalid:

[code]

We'd need to come up with a good name for the option, though, as I'm not sure `always-except-online` is accurate.

[2015-11-11 20:26] alberto opened #4389 "Bug: Handle comments in comma-spacing"
Right now, `comma-spacing` doesn't correctly handle comments.

This should not error:
[code]

And this should be valid:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28169203-bug-handle-comments-in-comma-spacing?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bo

[2015-11-11 20:28] nzakas commented on #4373
You don't need permission to put together a proof of concept - I'm just concerned that forcing an exception only when ranges exactly match will leave us vulnerable to other incorrect fixes. Any overlap should mean not applying both fixes, so I'm curious to see if such a specific exception would work.

[2015-11-11 20:32] nzakas commented on #4339
ESLint works on an `EventEmitter`. Whatever is exported from a rule (like `Identifier`, `BlockComment`, etc.) is automatically subscribed to that `EventEmitter` when the rule is loaded.

[2015-11-11 20:34] nzakas commented on #4355
I'm not a designer, I just know what I like and what I don't when I see it. :)

[2015-11-11 20:35] nzakas commented on #4366
Just for clarification: `rulesdir` isn't being removed in 2.0.0. It's been deprecated and we'll likely remove it in favor of something else in the future, but there are no definitive plans regarding that. As such, we don't want to extend the usage of `rulesdir` into configuration files.

[2015-11-11 20:35] #4366 closed

[2015-11-11 20:40] nzakas commented on #4309
@michaelficarra I understand what's being requested. He's setting a maximum statement count that applies to all files and wants to be able to do that despite the UMD wrapper. So right now he's manually disabling the rule for just that line. Effectively, that increases the maximum statement count by one, and I'm asking why not just do that in the configuration file using the already-existing option

[2015-11-11 20:41] adametry commented on #4373
Just to clarify, this issue, #4373, is in regards to an off-by-one error that effected a scenario with no overlap.

[2015-11-11 20:48] TheSavior commented on #4378
I'd be fine with an additional flag that just outputs the fixed text.

It also seems like we could just define the fix flag in the CLI as `attempt to fix code` instead of `lint code attempting to fix what can be fixed`.

What are the use cases for trying to fix piped in data and needing the lint errors for that as well (opposed to fixing files which would give the lint errors)?

[2015-11-11 21:01] alberto commented on #4339
Maybe I'm missing something, but from the debugging I made, estraverse somehow is also aware of the comments. `context.getAncestors();` (which delegates to `estraverse.parents()`) returns the ancestors of a given comment node and returns a different last ancestor depending on whether the if body is empty or not (`IfStatement` vs `BlockStatement`). I don't think that should be the case, should it?

[2015-11-11 21:40] nightwing commented on #4380
Only the first issue is related to `to-single-quotes`, code for the second one is in [eslint](https://github.com/eslint/eslint/blob/master/lib/rules/quotes.js#L44)

It is possible to use a simple solution https://github.com/eslint/eslint/pull/4381#issuecomment-155654293 to convert between three quote types, but with that approach code doesn't naturally split into three different modules.

Since th

[2015-11-11 22:19] natesilva opened #4393 "Document that ~/.eslintrc will be skipped if there’s a project-specific config"
After a some confusion and a `--debug` session, I figured out that `~/.eslintrc` is ignored in the configuration hierarchy if there is a project-specific. `.eslintrc` or `package.json` config.

That makes sense, but is not documented and is confusing (see #2724). The docs should call this out.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-11-11 22:31] steelbrain opened #4394 "How to get rule ID in a formatter?"
I am using eslint `v1.9.0` and don't get `ruleId` in my formatter. These are all the keys that I get `['column', 'fatal', 'line', 'message', 'severity']`. I am getting these using `Object.keys(results[0].messages[0])` with a file having this as content
[code]

Am I doing anything wrong or is this actually a bug?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://w

[2015-11-11 22:32] steelbrain commented on #4394
@eslintbot, well, I already did that :wink:

[2015-11-11 23:24] #4320 closed

[2015-11-11 23:26] nzakas commented on #4394
`fatal` errors don't have a rule ID because they come from the parser. Our Node.js API docs go into this a bit: http://eslint.org/docs/developer-guide/nodejs-api.html#linter

[2015-11-11 23:26] #4394 closed

[2015-11-11 23:29] nzakas commented on #4393
Where are you looking? We cover how configuration works pretty extensively here: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

[2015-11-11 23:31] nzakas commented on #4373
There's no overlap, but there is adjacency, correct?

[2015-11-11 23:32] nzakas commented on #4378
We aren't going to change the meaning of `--fix` now that it's been released.

The autofix feature was always viewed as a way to fix potential issues as possible, and otherwise report the remaining issues. We never considered it a "only apply fixes and don't report other problems" mode.

[2015-11-11 23:35] nzakas commented on #4339
estraverse is not aware of comments. The functionality of `estraverse.parents()` just uses whatever the last node it traversed to as the base. It doesn't traverse to a comment because comments are not formally stored in the AST.

[2015-11-11 23:37] nzakas commented on #4380
Ideally, we should only try to keep escaping as similar as possible to the original string without any additional escaping or unescaping.

[2015-11-11 23:42] platinumazure commented on #4373
I think the idea is that adjacency shouldn't be a problem as long as there
is no overlap.

I'll get a pull set up tomorrow.
On Nov 11, 2015 5:31 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-11-11 23:56] nzakas opened #4395 "Update eslint.verify() signature"
Per #4186:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28174513-update-eslint-verify-signature?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=gi

[2015-11-12 00:09] natesilva commented on #4393
Yes, that’s what I’m looking at. That page doesn’t mention that `~/.eslintrc` (in your home directory) will be ignored in some cases. In addition, one of the examples is confusing.

With this:

[code]

The following configs will be used when linting `main.js`:

1. `/home/user/projectA/lib/.eslintrc`
2. `/home/user/projectA/.eslintrc`
3. ~~`/home/user/.eslintrc`~~ (this will **not** be used; this f

[2015-11-12 00:10] nzakas commented on #4284
Working on this.

[2015-11-12 00:17] nzakas commented on #4395
Working on this.

[2015-11-12 00:37] Zenwolf opened #4397 "Exported function that calls an undeclared function is not caught"
**Version:**
1.9.0

**Config:**
[code]

**Example broken code:**
[code]

**Command line:**
[code]
Where `src/foo.js` has the example code above.

**Result:**
`bar()` is not reported as an undefined function. If I remove the `export` then `bar()` is caught.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28175260-exported-function-tha

[2015-11-12 00:51] Zenwolf commented on #4397
This must have been a recent change since it does not happen in version `1.8.0`.

[2015-11-12 01:23] remitbri commented on #4182
Theoretically, yes. Practically/honestly: I don't quite have the time yet.
If I finally find it, I'll ask first if anyone's already on the issue.

[2015-11-12 01:38] mysticatea commented on #4379
I guessed this is duplicate of #3915

[2015-11-12 01:40] adametry commented on #4373
Correct. In the example the no-extra-semi fix applies to index 10, and the no-trailing-spaces fix applies to index 11.

If it's any help, here's what's happening in our cultural language (adapted from source-code-fixer.js):
[code]

[2015-11-12 01:42] nzakas commented on #4397
Could potentially be an escope issue, we will have to double check.

[2015-11-12 02:15] rails4sandeep commented on #4382
if i do this

[code]
and then try to use `console.log(formatter(report.results));` i am getting an error `formatter is not a function`

[2015-11-12 02:38] #4284 closed

[2015-11-12 02:40] #4395 closed

[2015-11-12 02:43] ilyavolodin commented on #4397
Sorry, but your config file doesn't have `no-undef` in it. Is it just a typo?

[2015-11-12 02:48] IanVS commented on #4382
It's difficult to tell what you are trying to accomplish.  It would be very helpful if you gave a complete, minimal reproducible snippet and explained your use case.

[2015-11-12 02:51] impinball commented on #4309
@nzakas No, it's not an off-by-one. And comments don't count towards the statement count. They are attached separately to the AST by nearly every parser out there.

You're still not quite there: the difference between the current option and what I'm requesting is the difference between these:

- Current option:

[code]

- What I would like:

[code]

You understand what I mean better?

[2015-11-12 02:53] Zenwolf commented on #4397
@ilyavolodin I believe the default has always been to error:
https://github.com/eslint/eslint/blob/master/packages/eslint-config-eslint/default.yml#L62

Also, in version `0.24.1` this error was caught correctly with no specific "no-undef" in the config. I also added it here to see if it made a difference, and it doesn't.

[2015-11-12 03:09] IanVS commented on #4397
As of version `1.0.0`, there are no rules enabled by default.  Please see http://eslint.org/docs/user-guide/migrating-to-1.0.0 for more information.

[2015-11-12 03:57] nzakas commented on #4397
@Zenwolf please provide the exact output when you run ESLint.

[2015-11-12 05:26] Zenwolf commented on #4397
@ilyavolodin @nzakas Ah, I was incorrect in assuming the defaults were still used. This is most likely the problem. I created a new project from scratch and verified the expected and unexpected behavior was due to not explicitly setting the `"no-undef": [2]` rule. There must have been something else interfering with the rule when I tested it in my other project. Glad to hear this is not a bug and

[2015-11-12 05:37] #4397 closed

[2015-11-12 07:55] drBenway commented on #3504
would the following be a correct workaround?

var args = Array.from(arguments);
[MDN has a polyfill](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/from)

[2015-11-12 08:02] zloirock commented on #3504
@drBenway `Array.from` will work, but `Array.from` will not be fast, only inline loop. Anyway, MDN polyfill incorrect because does not support iterables. Use [correct polyfill](https://github.com/zloirock/core-js#ecmascript-6-array).

[2015-11-12 12:11] mik01aj commented on #1817
Is there any official markdown plugin based on this API? I couldn't find any.

[2015-11-12 12:40] BaggersIO opened #4399 "no-eval don't match on `window.eval()`"
Hey,

the `no-eval` rule works fine with `eval()`, but eslint don't detect `window.eval()` expressions.

My rule:
[code]

My env:
[code]

ESLint version: `1.8.0`

Cheers,
Peter

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28187226-no-eval-don-t-match-on-window-eval?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues

[2015-11-12 16:30] nzakas commented on #4393
Hmm, yeah, I can see how that is confusing. Do you want to submit a pull request to fix it?

[2015-11-12 16:38] nzakas commented on #4309
@impinball yes, I understand what you're requesting, I'm just having a hard time understanding why increasing your max statements by 1 doesn't solve your problem. Here's what I think I know:

1. You want a statement not to count towards the maximum.
2. You want this setting to be in a config file, not in each source file.

Is any of that incorrect?

What you're asking for, effectively, is to incre

[2015-11-12 17:01] michaelficarra commented on #4399
It looks like no-eval only detects direct calls to eval, which makes sense, since those are the only ones that give you dynamic scope and kill performance.

[2015-11-12 17:03] platinumazure commented on #4309
@nzakas I don't think that's going to work. It won't scale. Take a look at the example below, supposing he wants 2 statements per block except on the outermost function expression:

[code]

In this example, he is basically exporting a bunch of functions to global, and he wants no limit on the number of statements in that outermost IIFE since each statement is just a simple property assignment. But

[2015-11-12 17:04] platinumazure commented on #4399
@michaelficarra Wait, `window.eval` does not evaluate in global/dynamic scope? And I can't imagine the `eval` variable lookup is the rate-limiting step when calling that function.

[2015-11-12 17:10] natesilva commented on #4393
I did but I would need to review and sign a contributor agreement, which I don’t have time for right now. Hence this bug report.

[2015-11-12 17:17] FND commented on #4261
FWIW, I agree with @kevinSuttle: While i understand the impulse to follow established conventions, being able to _optionally_ combine `.eslintrc` and `.eslintignore` would avoid some noise in repsitories' root directory.

[2015-11-12 17:23] michaelficarra commented on #4309
@nzakas Maybe if we think of statement lists like arrays.

[code]

Notice how none of the above arrays are, *individually*, longer than 3 elements. The exception that is being requested here is not that any of the arrays are allowed to be longer than 3 elements. It is that the outermost array, containing 0, 1, and another array, be allowed to have a different or even arbitrary maximum length. This

[2015-11-12 17:30] michaelficarra commented on #4399
@platinumazure You should look into the difference between direct/indirect eval.

Direct eval:

[code]

[code]

Indirect eval:

[code]

[code]

Performance dies because you pretty much can't predict anything at all about what's going to happen when direct eval is used, so the JS engine will drop down into a naïve interpreter mode.

[2015-11-12 17:39] platinumazure commented on #4399
Crazy. Learn something new every day. Does `window.eval` count as an indirect eval?

[2015-11-12 17:46] michaelficarra commented on #4399
Yes. A direct call to eval must appear as a call to the identifier `eval`, and it must resolve to the original value of the `eval` property of the global object (called `%eval%` in the spec).

[code]

[code]

[2015-11-12 18:50] platinumazure commented on #4301
@nzakas I've been meaning to come back to this but I just haven't had the
free time to put in the level of thought that this deserves. In the hope of
keeping the discussion going, let me call out the two main pain points I
have had contributing to and maintaining ESLint plugins and we can see
where it goes from there.

1. Ensuring that all rules are exported and included in `rules` and
`rulesConfi

[2015-11-12 20:26] freejosh opened #4400 "`no-magic-numbers` doesn't catch assignment operators"
Using ESLint 1.9.0:

Input:
[code]

Result:
[code]

I'd expect to also get an error for line 3.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28200784-no-magic-numbers-doesn-t-catch-assignment-operators?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](http

[2015-11-12 20:31] nzakas commented on #4045
This is turning into quite the refactoring of the config loader. I think that's a good thing. :)

[2015-11-12 21:09] thetalecrafter opened #4402 "Settings are ignored using CLIEngine"
I'm having trouble using the CLIEngine to create a cli tool for validating internationalization (via format-message).

I was able to create a plugin that works great when using the actual eslint cli, but cannot seem to getting `settings` to get through to the rules using `CLIEngine`. I have tried putting `settings` on both the root options object, as well as inside a `baseConfig` object, and eithe

[2015-11-12 21:10] thetalecrafter commented on #4402
This is on eslint 1.9.0.

[2015-11-12 21:16] gyandeeps commented on #4402
Have you tried this:

[code]

[2015-11-12 21:32] thetalecrafter commented on #4402
\o/ That gets settings through! I could have sworn I tried that, but perhaps I had a typo in there :confused:.

Thanks!

Now to figure out why I'm not seeing the lint errors I expect...

[2015-11-12 21:32] #4402 closed

[2015-11-12 21:36] trevordmiller opened #4403 ""File" object throws error, even though "browser" env is set to true"
File is an official object that should be recognized when using the `env.browser = true` option in an `.eslintrc`, but currently it is throwing an ESLint error:

<img width="214" alt="screen shot 2015-11-12 at 2 35 42 pm" src="https://cloud.githubusercontent.com/assets/5497885/11131995/acebaa48-894a-11e5-80f4-abe677be090b.png">
<img width="531" alt="screen shot 2015-11-12 at 2 35 33 pm" src="https

[2015-11-12 21:42] alberto opened #4404 "Docs: Document semi-spacing behaviour"
`semi-spacing` doesn't check spacing when the semicolon is the first token in the line of when it is after an opening parens or curly brace, but the docs don't reflect that.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28202838-docs-document-semi-spacing-behaviour?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2015-11-12 21:48] pizza2code opened #4405 "JSON parsing error - colon before array bracket"
This valid JSON
[code]
results in the following error:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28203017-json-parsing-error-colon-before-array-bracket?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=p

[2015-11-12 21:48] lo1tuma commented on #4301
That’s probably hard to do, because there is no specification how a plugin author should organize the rules and files within the plugin. You could just have one file which directly defines and exports the rule functions.

[2015-11-12 21:50] gyandeeps commented on #4405
This might help: http://stackoverflow.com/questions/33530729/why-json-is-a-subset-of-javascript

[2015-11-12 21:54] pizza2code commented on #4405
Sorry, I thought ESLint was also a JSON linter.  Have been using JSHint for some time, which does error-check JSON files.  Perhaps this should be a request, then, to support JSON linting.

[2015-11-12 22:00] #4405 closed

[2015-11-13 00:29] michaelficarra commented on #4403
You should instead open this issue on [sindresorhus/globals](https://github.com/sindresorhus/globals).

[2015-11-13 00:47] xjamundx commented on #3993
This is a clever solution, but the biggest thing for me, is that it doesn't really solve the problem that I see for a first time user.

- `eslint --init`
- pick a style guide and install some plugins
- `eslint .` complains there is no plugin installed

I'd personally be more into a "favor local plugins" kind of setup, if that were at all possible

[2015-11-13 00:56] iamstarkov opened #4407 "is it possible for presets to install all required deps, like in babel now"
if I would like to install babel preset `es2015` then i just run `npm i -S babel-preset-es2015` and I have this preset and all required deps. On the other, if I want to add `airbnb` eslint preset then I should run `npm i -S eslint-config-airbnb eslint-plugin-react`, because right now presets are not installing all deps with them. Is it possible to fix?

<bountysource-plugin>
---
Want to back this

[2015-11-13 00:58] iamstarkov commented on #4407
sorry @eslintbot it’s not a bug, its just question/proposal about presets feature

[2015-11-13 00:59] ratherblue opened #4408 "ESLint fails when un-ignoring a file in an ignored directory in Windows"
I made a demo repository here that reproduces the issue: https://github.com/ratherblue/eslint-ignore-bug.

ESLint version: 1.9.0 (happens at 1.4.0 and up)
Windows version: Windows 7

When a directory is ignored in `.eslintignore`, and then a file underneath it is *unignored*, the linter fails. This does not happen in OS X.

Steps to reproduce on Windows:

1. `git clone https://github.com/ratherblu

[2015-11-13 03:16] micky2be opened #4409 "[Feature Request] Show me my TODOs (no-warning-comments)"
When getting output about the no-warning-comments rule, it would be nice to show the actual comment associated with the terms (TODO, FIXME, ...)

That could become very useful for developers

The code:
[code]
could output:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28209994-feature-request-show-me-my-todos-no-warning-comm

[2015-11-13 04:37] ilyavolodin commented on #4408
Closing as a duplicate of the #4136 We do not currently support `!` pattern in eslintignore. Feel free to reopen if you think this is different then the issue above.

[2015-11-13 04:41] ilyavolodin commented on #4409
I'm not sure it's a great idea. While I think it can be very helpful, comments can span multiple lines and have special characters in them, which might break some of the formatters. @eslint/eslint-team anyone feels this is worth it to start escaping every error message inside formatters?

[2015-11-13 04:51] msmicker commented on #1200
I can't seem to get this working - for me these two lines still give a warning:
/* exported bootstrap */
var bootstrap = require('bootstrap');

[2015-11-13 04:55] IanVS commented on #4409
What exactly would the benefit be here?  If you don't want those types of comments in your code, isn't it enough to know that one exists (and it's type) in a file at a particular location?

[2015-11-13 04:57] ilyavolodin commented on #4409
If it's set as a warning, you can use it as a quick task list. Some editors, like Visual Studio, will automatically pull them out and let you see all of the TODO comments from the whole codebase.

[2015-11-13 04:58] IanVS commented on #1200
What version of ESLint are you using?  Please give the output of ESLint and your config file.

[2015-11-13 04:59] IanVS commented on #4409
Hm.  That's not really the purpose of this rule though, the point of turning it on is to prevent such comments.  I guess I'm still :-1: but I don't feel strongly about it.

[2015-11-13 05:09] micky2be commented on #4409
The way I see it for this rule is not that you wrote "TODO" in your code but that you actually have an unfinished task. So let's informed the developer.
That's kinda the goal of TODOs.

Leaving as it is just feel like, "hey! you wrote '// TODO:' in your code and we don't allow it".
If the real goal is to avoid this kind of comments, well people are gonna write comments without putting TODO as a pr

[2015-11-13 05:38] platinumazure commented on #4409
Not sure that's the purpose of a linting tool honestly. Lint tools are for
detecting "lint" (that is, undesirable patterns) in code and helping you
remove them. If you want to allow TODO comments, then they're not really
lint in your project and having ESLint report on them goes beyond the
purpose of this project.

If you want something that will enumerate your TODOs and you can't find a
satisfact

[2015-11-13 06:46] ratherblue commented on #4408
This isn't the same as #4136. This is documented as a feature of ESLint. If you no longer support it you should update the information on this page: http://eslint.org/docs/user-guide/configuring

It still works in OS X and it used to work in Windows until version 1.4.0, so it would be a great feature to have back in so that my configuration can be consistent between operating systems.

[2015-11-13 06:49] ratherblue commented on #4408
@ilyavolodin Can you please reopen this bug?

[2015-11-13 07:13] michaelcontento commented on #4407
:+1: it would be awesome to bundle custom rulesets together and use them without worrying about the nested dependencies!

[2015-11-13 07:15] michaelcontento commented on #4407
Related: #4263

[2015-11-13 08:01] sindresorhus opened #4410 "False positive for `no-implicit-coercion` rule"
[code]

It shouldn't require me to explicitly coerce function calls unless it can determine that the function doesn't return a number, which I'm pretty sure ESLint can't do.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28213642-false-positive-for-no-implicit-coercion-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium

[2015-11-13 08:09] micky2be commented on #4409
Understood. No problem about that philosophy.

[2015-11-13 08:09] #4409 closed

[2015-11-13 08:36] sindresorhus opened #4411 "False positive for `arrow-body-style` rule when used as a noop"
[code]

Sometimes you have to pass a noop function. In this example the braces are required, but ESLint still complains, even though the setting is `as-needed`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28214191-false-positive-for-arrow-body-style-rule-when-used-as-a-noop?utm_campaign=plugin&utm_content=tracker%2F282608&utm_med

[2015-11-13 08:53] alberto commented on #4411
From the docs:

I think you'll have to use an inline comment to ignore that.

[2015-11-13 08:59] michaelficarra commented on #4410
Why are you multiplying by 1?

[2015-11-13 09:03] sindresorhus commented on #4411
I don't understand why that's mixed into this rule. It should at least be an option.

I think empty functions are much more common than returning an empty object.

[2015-11-13 09:10] sindresorhus commented on #4410
Yeah, that makes no sense :p

Was just copied from a PR I got: https://github.com/sindresorhus/caprine/pull/30/files#diff-168726dbe96b3ce427e7fedce31bb0bcR81

I should have looked at it closer. Sorry for the noise.

[2015-11-13 09:10] #4410 closed

[2015-11-13 11:59] mysticatea commented on #4411
I thought there are some notations for a noop arrow.

[code]

And `() => {}` is confusable to beginners IMO.
So I'd like to warn it by default.

I vote for an option, `[2, "as-needed", {"allowEmptyBlock": true}]` ?

[2015-11-13 13:40] iamstarkov commented on #4407
@michaelcontento yeah, it would be awesome!

[2015-11-13 13:42] iamstarkov commented on #4263
i can see, that issue has been accepted, so can i expect in near future eslint support for self-contained presets like in babel now?

[2015-11-13 13:51] platinumazure commented on #4263
Issue being accepted means ESLint team agrees it should be implemented, but
it doesn't guarantee that anyone is on it right that second. Sometimes an
issue will be accepted but the core team might not have the resources to do
it themselves; in that case, they will accept pull requests from interested
contributors.

Are you interested in writing a pull request for this?
On Nov 13, 2015 7:42 AM, "Vl

[2015-11-13 13:58] iamstarkov commented on #4263
@platinumazure I am. Is there any intro into eslint inner architecture to get started?

[2015-11-13 14:13] loopmode commented on #2657
Well, undefining certain globals may indeed be useful nonetheless, for example "self" or "history".
In our react application, using react-router, we use 'history' a lot. Now in certain cases, even when there is no defined 'history' variable, we have no warnings whatsoever because of "env": "browser".
I would very much prefer a solution that forces me to use window.location if that's what I meant.

[2015-11-13 14:47] ilyavolodin commented on #1200
And what environment do you have on?

[2015-11-13 14:56] ilyavolodin commented on #4263
@iamstarkov Yes, intro is located [here](http://eslint.org/docs/developer-guide/architecture)

[2015-11-13 15:32] xjamundx commented on #1200
I see require so I assume you're in a node environment, where exported does
not work (because your have module scope.)

If you want bootstrap globally accessible you'll need to assign it to
window.bootstrap.

Or if you just need to require() it and not assign it to any variable you
can do that as well!

On Fri, Nov 13, 2015 at 6:47 AM Ilya Volodin <notifications@github.com>
wrote:

[2015-11-13 15:53] iamstarkov commented on #4263
yay, will take a look

[2015-11-13 16:49] nzakas commented on #4411
Yeah, I'm not sure why this check in this rule, either. The rule is about style, I think we should remove that extra check.

[2015-11-13 16:51] nzakas commented on #4263
I'm refactoring how this works right now.

[2015-11-13 16:53] nzakas commented on #4408
We are completely rewriting how ignores work for 2.0.0. There are already plenty of issues tracking this, and we won't be making any other changes prior to that.

[2015-11-13 16:53] #4408 closed

[2015-11-13 16:53] iamstarkov commented on #4263
@nzakas should I wait for a while, then?

[2015-11-13 16:54] nzakas commented on #4407
Duplicate of #4263.

[2015-11-13 16:54] #4407 closed

[2015-11-13 16:56] nzakas commented on #3993
We've been unable to agree of this as a team. The general get feeling is that we will have a bunch of confusing behaviors that will be hard for users, and as such, we aren't going to do this. Thanks for the discussion and investigation.

[2015-11-13 16:56] #3993 closed

[2015-11-13 17:02] nzakas commented on #4309
@platinumazure @michaelficarra ah! Thank you, guys. I now realize my confusion is that I forgot `max-statements` operates on individual functions. In that context, this request makes sense.

[2015-11-13 17:04] xjamundx commented on #4209
We have  a stupidly simple version of this that we use at PayPal:

[code]

[2015-11-13 17:09] xjamundx commented on #1200
@msmicker can you join the chat at https://gitter.im/eslint/eslint to discuss this more or look at https://github.com/eslint/eslint/issues/3833 for more details?

[2015-11-13 17:09] nzakas commented on #4399
This rule is about blocking all uses of `eval`, so it makes sense to block `window.eval` as well.

[2015-11-13 17:10] nzakas commented on #4209
Yeah, it's not hard to make, it's just inaccurate, which is why we can't have it as part of core right now.

[2015-11-13 17:11] michaelficarra commented on #4399
Then an option should be added to allow safe forms of eval.

[2015-11-13 17:13] nzakas commented on #4399
Can you file an issue for that?

[2015-11-13 17:13] michaelficarra commented on #4399
Also, it is impossible to detect all indirect calls to eval statically. Where are you going to draw the line?

[2015-11-13 17:17] michaelficarra commented on #4399
"If we ever change no-eval to detect indirect calls to eval, we should add an option to disable it"? I'm not creating an issue for that, it should be discussed here.

[2015-11-13 17:27] nzakas commented on #4399
This issue is a bug, we did not mean to miss window.eval. we will fix that bug and this issue will be closed. You're requesting a new option that distinguishes between direct and indirect eval, which is an enhancement, so we need a separate issue.

[2015-11-13 17:34] rightaway commented on #2053
+1

[2015-11-13 18:36] mminer opened #4412 "Specify allowed console methods in no-console rule"
In some codebases I use `console.info` for permanent messages and `console.log` for occasional debugging. It would be helpful if ESLint's *no-console* rule could be configured to warn about instances of `console.log` (which shouldn't be committed) while ignoring `console.info`.

Something like this:

[code]

I'm unsure how many developers differentiate between console methods in this manner, but I

[2015-11-13 18:41] msmicker commented on #1200
Sure, thanks. I am using node/webpack. Removing the var for bootstrap worked. I recently split my project from one large one into several files. The entry file no longer references React in my own code but is 'required' for react-router. I cannot remove the var but setting to global.React worked. I am new to js and don't completely follow but that's ok :)

[code]

[2015-11-13 18:50] ilyavolodin commented on #4412
Duplicate of #2621 This has been brought up before, and since the rule is called `no-console` it would be strange to allow use of `console` as an option. Somebody already created a custom rule that does what you are looking for: https://github.com/joeybaker/eslint-plugin-no-console-log
Closing, as I think what you are asking for is outside of the scope of the rule. Feel free to reopen if you disag

[2015-11-13 18:50] #4412 closed

[2015-11-13 18:58] xjamundx commented on #1200
This is getting into pure webpack advice, but you probably actually just want to do this in your webpack config, which will mean you don't even need this file.

[code]

Also react-router *does not* require a global reference to `React`...

ping me the chatroom mentioned above and i can help with this stuff....

[2015-11-13 19:10] mminer commented on #4412
Being outside the scope of the rule is a fair assessment, though I still think there's a place for more fine-grained control over console given that some of its methods are typically used for debugging, others for routine logging. The custom rule you linked to looks like it'll do the job though; thanks for pointing it out.

(also, apologies for the duplicate issue, I searched through past ones but

[2015-11-13 21:33] rightaway opened #4413 "arrow-parens with async keyword"
In code like this with eslint 1.9.0 using babel-eslint parser

[code]

There's a warning on the first line `Expected parentheses around arrow function argument. (arrow-parens)`, even though there are parentheses around the actual arguments `(a, b)`.

This error doesn't appear if I replace `(a, b)` with either `(a)` or `a`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!

[2015-11-13 21:49] rightaway opened #4414 "New option for padded-blocks"
`padded-blocks` has 2 options, `always` and `never`. I suggest a 3rd one, for example `whenBlankLines`.

The idea is that if the block has any blank lines within it, then it should act like `always`. If it doesn't have any blank lines, then it should act like `never`.

Here are examples of code that wouldn't product warnings

[code]

This in my opinion looks nicer than

[code]

<bountysource-plugi

[2015-11-13 21:58] rightaway opened #4415 "generator-star-spacing warning on async function"
I'm using eslint 1.9.0 with babel-eslint parser. I have generator-star-spacing option set to `before` in .eslintrc.

A function signature like `export async function test(b, c) {` gives an error `Unexpected space after *. (generator-star-spacing)`, and shows the error happening in column 23. My IDE underlines the 24th character, which in this case would be the `e` in the function name `test`. For

[2015-11-13 22:26] ilyavolodin commented on #4413
ESLint doesn't support experimental features directly. As such we can't guarantee that our rules will work with experimental syntax. You might want to file an issue with [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) if they do not already support this.
If you can reproduce this case without using async, please reopen this issue.

[2015-11-13 22:26] #4413 closed

[2015-11-13 22:28] ilyavolodin commented on #4414
So what you are asking for is if there is at least one blank line anywhere within a given block, block should be padded, right?

[2015-11-13 22:31] ilyavolodin commented on #4415
I think your example got cut off, since I don't see a generator function anywhere. However in general, ESLint doesn't support experimental features directly. As such we can't guarantee that our rules will work with experimental syntax. You might want to file an issue with [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) if they do not already support this.
If you can reproduce t

[2015-11-13 22:31] #4415 closed

[2015-11-13 22:43] rightaway commented on #4414
@ilyavolodin That's right.

[2015-11-13 22:44] rightaway commented on #4415
There isn't a generator or `*` anywhere in that function, so it's quite strange.

[2015-11-13 23:08] ilyavolodin commented on #4415
Ahhh.. That looks like a bug in `babel-eslint` for some reason function is marked as `generator`. @hzoo I assume it shouldn't be, right?

[2015-11-13 23:10] ilyavolodin commented on #4414
I guess it's reasonable option. @eslint/eslint-team thoughts?

[2015-11-14 00:05] hzoo commented on #4415
We had a bunch of things we added so eslint wouldn't break on other rules that I slowly removed as more es6 and other stuff got added.

https://github.com/babel/acorn-to-esprima/blob/master/src/toAST.js#L69-L78

It's basically

[code]

which we can remove but it might affect how other rules work not sure so I left it in at the time.

[2015-11-14 00:08] hzoo commented on #4415
Published acorn-to-esprima@1.0.6 which removes the transform above so you just need to update.

[2015-11-14 00:15] nzakas commented on #4263
Yes. I actually found myself right in the middle of this issue today, and it looks like extending a file was always intended to work relative to the config file. There's even a comment saying that's how it works, so this is definitely a bug rather than a breaking change/enhancement.

I'll see if I can fix it while I'm in here.

[2015-11-14 00:29] nzakas commented on #4263
Just tested with my current work and it seems that this bug will be fixed by it.

[2015-11-14 03:52] IanVS commented on #4414
Hmmm. I understand how the examples given might arguably look better that way, but it still feels to me like introducing inconsistencies which the whole point of using ESLint is to avoid them.  Besides, switching behavior based on finding a single blank line seems like a weak heuristic.  I would argue to either pick one style or the other, or turn the rule off.  Or of course it could be a custom r

[2015-11-14 05:21] snowcxt commented on #3782
Just update to 5.0.0. I got the error Cannot find module 'eslint-plugin-react' and  `npm install -g eslint-plugin-react` can't resolve this issue.

[2015-11-14 09:16] rightaway commented on #4414
@IanVS Something doesn't have to be identical to be consistent. For the same reason many of the options for http://eslint.org/docs/rules/curly allow for different variations that follow the same pattern, wheree for example if there's one statement, don't require curly braces, but if there's more than one, then require them. It's still being consistent, allowing for the best variation of the code b

[2015-11-14 10:43] nkbt opened #4417 "no-arrow-condition does not recognise legitimate func"
<img width="960" alt="20151114-213400" src="https://cloud.githubusercontent.com/assets/175264/11163110/a532c574-8b17-11e5-9681-692806f30050.png">

Code from https://github.com/nkbt/react-collapse/blob/master/src/Collapse.js#L45-L53:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28244078-no-arrow-condition-does-not-recognise

[2015-11-14 10:48] nkbt commented on #4417
1.  The version of ESLint you are using (run eslint -v)
  1.9.0

2. What you did (the source code and ESLint configuration)
[code]
  .eslintrc
[code]

3. The actual ESLint output complete with numbers
[code]

4. What you expected to happen instead
  No errors, it is a function, not a condition

[2015-11-14 11:46] nightwing commented on #4380
@nzakas would you accept https://github.com/eslint/eslint/compare/master...nightwing:issue4380? it correctly handles converting between three quote styles, and escapes only the minimal set of characters.

@sindresorhus do you see a way to use the above algorithm in `to-single-quotes` `to-double-quotes` without duplicating  the code.

[2015-11-14 11:49] nightwing opened #4418 "Implement autofixing for comma-dangle rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28244725-implement-autofixing-for-comma-dangle-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=gi

[2015-11-14 14:48] platinumazure commented on #3782
ESLint isn't at 5.0.0 yet. What did you actually update?
On Nov 13, 2015 11:22 PM, "Thomas Cui" <notifications@github.com> wrote:

[2015-11-14 15:24] mysticatea commented on #3782
Maybe it's about Atom's `linter-eslint`.
If so, I'd like to recommend you to open an issue in https://github.com/AtomLinter/linter-eslint/issues

[2015-11-14 15:30] IanVS commented on #3782
The issue has been reported at: https://github.com/AtomLinter/linter-eslint/issues/259

[2015-11-14 15:34] mysticatea commented on #3782
Oh, thank you!

[2015-11-14 15:40] platinumazure opened #4423 "eqeqeq autofix should replace operator to avoid clashes with space-infix-ops"
Instead of adding one character immediately after the `==` operator, we should replace the whole operator with `===`. It makes more sense semantically and it also ensures that other rules that want to insert immediately after `==` (e.g., space-infix-ops) can do so without interference and without the fixes being applied in the wrong order.

This should help unblock the reversion of (or at least mo

[2015-11-14 15:59] nzakas commented on #4423
Good point

[2015-11-14 16:00] #4404 closed

[2015-11-14 16:03] nzakas commented on #4380
Yeah, if there's no easy way to get this into the modules, then I'm fine with that.

[2015-11-14 16:06] #4423 closed

[2015-11-14 16:24] alberto commented on #4418
Adding the trailing comma can conflict with other spacing rules, so this kind of fixes are not currently being implemented.

[2015-11-14 16:34] nzakas commented on #4417
This is expected behavior. Your code is the equivalent of this:

[code]

You are testing the truthiness of a function, which is always true.

[2015-11-14 16:40] nzakas commented on #4418
We might be able to do this, as I think comma-dangle might be such a specific use case that it won't conflict. @nightwing if you want to pursue this, please try a few cases with comma-spacing and comma-style to see if invalid code is created.

[2015-11-14 17:00] michaelficarra commented on #4417
@nzakas That's wrong, your parser has a precedence bug. Conditional expressions allow logical or expressions as the test, not assignment expressions.

[2015-11-14 17:09] mysticatea commented on #4417
`no-arrow-condition` seems to report all arrow functions which has `ConditionalExpression` in its body.
I felt this behavior is noisy.

[2015-11-14 17:11] michaelficarra commented on #4417
Oh, wow. Yeah there doesn't seem to be any reason for that check.

[2015-11-14 17:13] platinumazure commented on #4373
I fixed the eqeqeq/space-infix-ops problem. Next step for me is to check that #4329 could theoretically be reverted (i.e., check that the original issue is fixed), followed by setting up a pull request to try to compare for identical ranges only.

One question: Where should I write test cases for multiple rules interacting with each other? Would that be acceptable in `source-code-fixer` or `eslint

[2015-11-14 17:20] gyandeeps commented on #4373
Go for `source-code-fixer` to put down your tests.

[2015-11-14 17:27] mysticatea commented on #4411
Hmm, as I mentioned above, there are several notations for a noop arrow, so I don't think the empty block in a arrow function's body is *needed*. So I think that to report the empty block by this rule is reasonable.

But I don't oppose strongly if separate that behavior to new rule such as `no-arrow-empty-block`.

[2015-11-14 18:33] Famlam opened #4427 "no-extra-parens false positive with objects that have their keys read out immediately"
With option `no-extra-parens: 1` the following JS code:
[code]
generates the warning `Gratuitous parentheses around expression.`

This can be "resolved" by using
[code]

However, the latter generates a syntax error (at least in Chrome), while the former is valid JS (and returns `false`)

I'm using the current version on the web demo (presumably 1.9.0)

<bountysource-plugin>
---
Want to back this i

[2015-11-14 19:26] snowcxt commented on #3782
Yes, thank you so much!

[2015-11-14 19:55] sindresorhus commented on #4403
@michaelficarra https://github.com/sindresorhus/globals/blob/4968331eef0beb0c4cb712472990ec1688fc7779/globals.json#L167

[2015-11-14 20:33] alberto commented on #4418
@nzakas it's going to conflict at least with `array-bracket-spacing` and `object-curly-spacing`

[2015-11-14 21:00] platinumazure commented on #4418
This will make a good test case for the changes I am proposing re:
overlapping fixes. I'll be sure to take a hypothetical comma-dangle fix
into account when writing test cases.
On Nov 14, 2015 2:33 PM, "alberto" <notifications@github.com> wrote:

[2015-11-14 21:08] nmai commented on #3880
This is still an issue

[2015-11-14 21:43] btmills commented on #4229
Right now no-extra-parens accepts one option: a string, either `"all"` (default), or `"functions"`. I propose adding a second option, an exceptions object. Right now it would have one possible key, `jsx`, with possible values `"never"` (default), `"all"`, or `"multiline"`. This is what it looks like added to the schema:

[code]

When the `jsx` exception is unset or set to `"never"`, nothing change

[2015-11-14 22:17] SBoudrias commented on #3880
It's explained in the tracking issue (#3395), but that's a Node.js bug https://github.com/nodejs/node/issues/2996

[2015-11-14 22:28] nkbt commented on #4417
@nzakas arrow func in this case is confused with a check in condition. It is not a check, it is a callback function with arguments destructuring.

[code]

which is effectively

[code]

[2015-11-15 00:34] IanVS commented on #3880
I believe it's been fixed on Node.js master, and is being ported back to LTS (4.x).  Just need to wait for a new release.

[2015-11-15 00:58] alberto commented on #4418
Now that I think more about it, I don't think it will conflict with the rules I mentioned if we just add or remove the comma without altering the spacing.

[2015-11-15 01:02] platinumazure commented on #4418
`{a: true}` with `object-curly-spacing` and `comma-dangle` both on (and set
to always) will result in a conflicting insertion. This could maybe be
mitigated by supporting metadata to indicate if the fix is meant to be
"attached to" the token before or after, but I don't think the
maintainability/learning curve is worth it for a one-character fix.
On Nov 14, 2015 6:58 PM, "alberto" <notifications@g

[2015-11-15 01:09] nightwing commented on #4418
`comma-style` doesn't have an autofix https://github.com/eslint/eslint/blob/master/lib/rules/comma-style.js

`comma-spacing`, `array-bracket-spacing`, `comma-dangle` all compete with each other, but it is not much different from the case
[code]
when eslint on the first run removes the trailing space on the second one extra semicolon, and only after the third run reaches a stable state.
or from the

[2015-11-15 01:14] sulhome commented on #3880
@IanVS what about Node 5?

[2015-11-15 01:16] IanVS commented on #3880
Yes, it will land in 5 as well.

[2015-11-15 01:19] sulhome commented on #3880
@IanVS currently I have v5.0.0 installed. Are you talking about another release?

[2015-11-15 01:20] nightwing commented on #4418
metadata to resolve conflicts with adjacency, can work in some cases
[code]
but won't work in many others, when applying fix from one rule, makes the fix from other one obsolete
[code]
or
[code]

[2015-11-15 01:21] nmai commented on #3880
@sulhome Yes, the next release in both v4 and v5 will have the fix. Currently 5.0.0 is the only v5 release.

[2015-11-15 01:22] platinumazure commented on #4418
Yeah, then I'm leaning towards just checking identical ranges like I had
been before. We'll see how it goes.
On Nov 14, 2015 7:20 PM, "Harutyun Amirjanyan" <notifications@github.com>
wrote:

[2015-11-15 01:28] platinumazure commented on #4418
Also, don't forget that each rule can only submit one fix. In `x = { a:true  ,  }`, the comma-spacing fix (replace spaces-comma-spaces with comma) and the object-curly-spacing fix (remove extra spacing) overlap so the fixer will apply only one if that.

[2015-11-15 01:34] mysticatea commented on #4347
I'm working on this.

[2015-11-15 02:48] mysticatea commented on #4362
I'm working on this.

[2015-11-15 04:08] mysticatea commented on #4399
I will work on this.

My plan:

- Checks `evel` property of the host object.
  - When `env: "browser"` is specified, the host object is `window`.
  - When `env: "node"` is specified, the host object is `global`.
  - Other idea?
- Checks indirect-calls in an expression.
  - `(0, eval)(...)`
  - `[eval][0](...)`
  - `{a: eval}.a(...)`
- Does NOT check indirect-calls via other variables. To detect th

[2015-11-15 10:40] carlesba opened #4432 "Error no-unused-expression on arrow functions"
I'm getting a linting error when using short hand arrow functions:

[code]

The error description says: 'expected an assignment or function call and insted saw an expression'.
The error disappears when adding return statement.

Using eslint: v1.9.0 and babel parser v 4.1.4

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28260875-erro

[2015-11-15 12:58] alberto commented on #4432
Braced arrow functions do not implicitly return, so it is an unused expression.

[2015-11-15 13:06] alberto commented on #4375
This was fixed in #4422

[2015-11-15 13:06] #4375 closed

[2015-11-15 15:02] briandipalma opened #4434 "strict rule erroring for scripts when module ecma feature enabled"
ESLint version: 1.9.0

Using the configuration.

[code]

Running on this script.

[code]

I expect this script (in reality the script that is triggering an error is a `webpack.config.js` file) to not cause any errors to be logged. Instead I receive,

`error  "use strict" is unnecessary inside of modules  strict`.

I was wondering if the `strict` rule could be changed to check for the module featur

[2015-11-15 15:25] platinumazure commented on #4373
Noting this is still in "triage" state. I've put together a POC of my proposed fix in #4431, which I believe solves @adametry's problem while still safely preserving the intended overlapping fix behavior. Any chance this issue could be accepted?

[2015-11-15 15:46] nzakas commented on #4434
Modules are in strict mode by default. You need to define if your code is a module upfront, as there are different semantics. It's not just the presence of `import` or `export` that are the difference. When modules are natively supported in the browser and Node, you'll have to indicate you're loading a module upfront as well.

[2015-11-15 15:46] #4434 closed

[2015-11-15 15:48] nzakas commented on #4417
@michaelficarra ah! I see, thanks for explaining. This is a big in Espree then.

[2015-11-15 15:49] nzakas commented on #4417
Oops, just saw @mysticatea's comment, so that's an easier fix.

[2015-11-15 16:07] nzakas commented on #4229
:+1:

[2015-11-15 16:08] #4362 closed

[2015-11-15 16:13] #4339 closed

[2015-11-15 18:16] briandipalma commented on #4434
Yep, I'm aware of that. This was a question about making it more convenient for people who are using ES modules for most of their code apart from the few node tooling CJS modules. Once node added support for ES modules you would rewrite your `module.exports` etc code to use import/export form which would then cause the triggering the strict error.

Maybe this could be a config option?

[2015-11-15 19:06] michaelficarra commented on #4432
Yep, no bug here.

[2015-11-15 19:50] rioc0719 opened #4435 "Do `no-native-reassign` and `no-redeclare` cover the same use case?"
When using `no-declare` with the `builtinGlobals` option set to `true`, it seems to cover the same use case as `no-native-reassign`. Is there a reason that there are two separate rules that both check for assignments to built-in objects?

By the way, I am using eslint 1.9.0, and the issue where it was decided to have both options is #3070.

<bountysource-plugin>
---
Want to back this issue? **[Pos

[2015-11-15 21:35] carlesba commented on #4432
Oops, you're right. ```'x1': (d)=> d.source.x``` works perfectly.

[2015-11-15 21:35] #4432 closed

[2015-11-15 23:30] andy-hanson opened #4436 ""curly": "multi" doesn't work on for loop"
This is the code I'm linting:

	// This correctly warns.
	if (true) {
		console.log(true)
	}

	// This doesn't warn.
	for (var key in {}) {
		console.log(key)
	}

And here's my package.json:

	{
		"scripts": {
			"lint": "eslint src test"
		},
		"devDependencies": {
			"eslint": "1.9.0"
		},
		"eslintConfig": {
			"rules": {
				"curly": [1, "multi"]
			}
		}
	}

I get the following output:

	/hom

[2015-11-16 01:38] Jxck opened #4437 "new rule proposal for classes"
I create plugin for classes.

https://github.com/Jxck/eslint-plugin-classes

works fine for me, and quite general so i'm suggest to merging this for default rules.
of course I can PR my code.

any comments are welcome.

detail from readme is below.

---

## Rule Details

### space

should no space between method name and parens.

The following patterns are considered warnings:

[code]

The followi

[2015-11-16 02:55] mysticatea commented on #4437
Some rules seem to be existing in builtin, that `space` is the same as [space-before-function-paren](http://eslint.org/docs/rules/space-before-function-paren), and `super` is [constructor-super](http://eslint.org/docs/rules/constructor-super) and [no-this-before-super](http://eslint.org/docs/rules/no-this-before-super).

[2015-11-16 03:01] Jxck commented on #4437
@mysticatea  thanks for cover.
then rest proposals are

- classes/name
- classes/constructor
- classes/style

[2015-11-16 03:24] mysticatea opened #4438 "`no-extend-native` rule crashed at `Object.defineProperties()`."
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28274922-no-extend-native-rule-crashed-at-object-defineproperties?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_mediu

[2015-11-16 07:20] michaelficarra commented on #4229
I think a better option would be `[no LineTerminator here]`, which allows parens around any multi-line expression following that spec production so it can be put on the following line.

[2015-11-16 07:30] btmills commented on #4229
@michaelficarra To confirm my understanding, you're saying that rather than being specific to JSX as proposed, the rule should be made aware of the cases where the parens are significant and stop flagging those as gratuitous?

[code]

Since the expression in the example is not on the same line as the return statement, the parens cannot be removed without changing the logic of the code. Right now,

[2015-11-16 07:34] michaelficarra commented on #4229
@btmills Yep, that's right. Remember, it's only when an *expression* follows it, so the only productions are

    ReturnStatement[Yield]:
      return [no LineTerminator here] Expression;
      return [no LineTerminator here] Expression[In, ?Yield];

    ThrowStatement[Yield]:
      throw [no LineTerminator here] Expression[In, ?Yield];

    YieldExpression[In]:
      yield [no LineTerminator here

[2015-11-16 07:42] btmills commented on #4229
@eslint/eslint-team I think @michaelficarra makes a great point here. Right now, the rule recommends a change (deleting parentheses) that could alter the function of the code if a developer either doesn't know or doesn't remember to move the start of the contained expression to the line above. In these cases, the parentheses are significant, and I don't think it should flag them. Such a change wou

[2015-11-16 08:06] michaelficarra commented on #4399
How about top-level `this.eval` in scripts? `eval.call(null, "...")`? `Function.prototype.call.call(eval, null, "...")`?

[2015-11-16 08:21] michaelficarra commented on #4399
@nzakas The rule currently distinguishes between direct/indirect eval, whether intentional or not. If you remove this capability in a bugfix, those that are okay with indirect eval and not direct eval (and it is not unreasonable to have this preference) will have no way to configure the rule for their preference. I think the best way to move forward with this *for eslint users* is to give an optio

[2015-11-16 08:30] michaelficarra commented on #4403
Hmm, that should be available in globals@8.2.0, and eslint depends on globals@^8.11.0, so it should be there. @trevordmiller Which versions of eslint and globals do you have installed?

[2015-11-16 08:45] michaelficarra commented on #4427
The entire expression should be parenthesised, since that's all that is strictly necessary. The rule is correct here.

[code]

[2015-11-16 09:28] mysticatea opened #4441 "Rule Option Proposal: `no-eval` allows indirect-evals"
Spawned from #4399

Indirect `eval` calls are not danger relatively than direct `eval` calls.
So I propose an option to allow indirect `eval` calls.

[code]

This option considers the following patterns are problem:

[code]

This option considers the following patterns are NOT problem:

[code]

I'm happy to work on this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](

[2015-11-16 09:29] iam4x opened #4442 "`space-before-function-paren` false positive"
With rule: `'space-before-function-paren': [2, 'never'],` and using `babel-eslint@5.x` this is a false positive:

`export default async function({ flux, history, location }) {`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28279860-space-before-function-paren-false-positive?utm_campaign=plugin&utm_content=tracker%2F282608&utm_mediu

[2015-11-16 09:34] michaelficarra commented on #4441
For the second example (`function foo ...`), it should be stated that this is a direct eval, but we just can't catch it. So this is also not reported if `allowIndirect` is `false`.

[2015-11-16 09:44] mysticatea commented on #4441
Wow... `function foo(eval) { eval("var a = 0"); }` is a direct eval?

[2015-11-16 09:49] michaelficarra commented on #4441
Yep. See https://github.com/eslint/eslint/issues/4399#issuecomment-156181448.

[2015-11-16 09:53] mysticatea commented on #4441
Ah... sorry, thank you.
Hmm.

[2015-11-16 10:06] mysticatea commented on #4399
Oh, I had not noticed those. `eval.bind(null, "...")()`, haha, I have a headache.

I'm going to change strategy.

- `no-eval` just checks the variable object of the global `eval`.
  Then reports all references (contains readonly) of the variable.
  This is blocking most indirect `eval` calls.
- Checks `evel` property of the host object.
  - When `env: "browser"` is specified, the host object is `w

[2015-11-16 10:13] mysticatea commented on #4399
No, `no-invalid-this` does not check sloppy mode code....

[2015-11-16 10:16] joebandenburg opened #4443 "valid-jsdoc: Throws exception when @returns has no type"
Given `test.js`:

[code]

When I run `eslint --rule 'valid-jsdoc: 1' test.js`:

Then:

[code]

If the JSDoc comment instead reads:

[code]

Then ESLint runs as expected with no output.

Run with ESLint 1.9.0, Node v4.1.2 and NPM 3.4.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28280864-valid-jsdoc-throws-exception-when-returns-

[2015-11-16 13:38] #4438 closed

[2015-11-16 13:51] StephanBijzitter opened #4444 "Ignored files should not count as warnings and should not spam the console"
Running `grunt-eslint 17.3.1` which relies on `eslint 1.5.1`.

[code]
I got 326 files that I ignore, and 326 lines in my console that keep telling me the same thing over and over again. In the event I do get an actual warning, there's a chance that terminal has already gotten rid of the line containing the warning.

I would expect either of:
* One message is logged at the end of the test stating t

[2015-11-16 14:18] czjvic opened #4445 "Rule valid-jsdoc - TypeError for invalid jsdoc comment"
**Settings**:
[code]

**Source code**:
[code]

**EsLint output**:
[code]

**Expected result**:
- Similar result as in version 1.3
[code]

**Other info:**
- Version: 1.9.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28285996-rule-valid-jsdoc-typeerror-for-invalid-jsdoc-comment?utm_campaign=plugin&utm_content=tracker%2F282608&utm_m

[2015-11-16 15:18] gyandeeps commented on #4445
Possible duplicate https://github.com/eslint/eslint/issues/4443

[2015-11-16 15:20] anshulguleria opened #4446 "[rule: no-unused-vars] not working properly"
I am using `eslint --version   #v1.9.0`.
 My sample code is:
[code]
This snippet should give error for `name` argument not getting used but it is not giving error, but its giving proper error for `pwd` argument.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28287752-rule-no-unused-vars-not-working-properly?utm_campaign=plugin&utm_c

[2015-11-16 15:21] gyandeeps commented on #4443
I have not checked with `doctrine` but could be bug in the parser.

[2015-11-16 15:22] Tomdye opened #4447 "Doctrine 0.7.1 seems to break ESLint"
ESLint version: 1.7.1 (But seen upto 1.9.0)

In our project, getting:
[code]

Diff between our passing and failing log files shows the doctrine version changing.
![screen shot 2015-11-16 at 3 08 51 pm](https://cloud.githubusercontent.com/assets/814453/11187153/30b8fbca-8c7d-11e5-8d8b-227b24e9f14e.png)

Fixing doctrine to version 0.7.0 fixes

PR Raised: https://github.com/eslint/eslint/pull/4448

<

[2015-11-16 15:30] Tomdye commented on #4447
Pull request raised: https://github.com/eslint/eslint/pull/4448

[2015-11-16 15:31] npasquet opened #4449 "`space-before-keywords` false positive"
With ``` eslint@1.9.0```

and rules:
[code]

I'm getting the error:

[code]

when writing my conditional block like that:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28288074-space-before-keywords-false-positive?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-11-16 15:33] ilyavolodin commented on #4445
Closing as a duplicate of #4443 In order to avoid this error, you can use `returns {void}`

[2015-11-16 15:33] #4445 closed

[2015-11-16 15:35] ilyavolodin commented on #4446
I don't think `no-unused-vars` is checking object properties. I'm not sure we wouldn't want it to start doing that, since it might lead to some unpredictable behavior. CC: @eslint/eslint-team

[2015-11-16 16:24] nzakas commented on #4447
Can you provide more detail? Can you narrow down some code that is causing a problem?

[2015-11-16 16:27] mmoss commented on #4447
With doctine 0.7.1 we saw this same error with ES6 [rest/spread](https://github.com/lukehoban/es6features#default--rest--spread) arguments.

[2015-11-16 16:28] nzakas commented on #4434
I'm sorry, I don't want to provide incorrect information to users. You can disable modules if you want the behavior of non-module.

[2015-11-16 16:33] nzakas commented on #4447
@mmoss same comment: please provide more information.

I really want to help you both, but simply saying "got this error" isn't enough to go on.

[2015-11-16 16:34] mmoss commented on #4447
Example: (error occured on the arrow function with **`...rest`**

[code]

[2015-11-16 16:35] Tomdye commented on #4447
It looks like the 0.7.1 version of Doctrine even has a failing build, the problem is that they released a new tag and the selector in ESLint's package.json looks for ^0.7.0 so it picked it up itself. Fixing the version to 0.7.0 until doctrine is fixed solves the problem

[2015-11-16 16:38] nzakas commented on #4444
This only happens when you directly pass files on the command line that you are also ignoring in `.eslintignore`. If you don't want the warning, you can just not pass the files you don't want to lint.

We can't do a rollup warning because it would break formatter output, and I'm not sure removing the warning makes sense because it would hide the fact that files you explicitly passed on the command

[2015-11-16 16:41] nzakas commented on #4411
This rule is about style, which is just about using braces or not. For an empty body, you need the braces. We can argue that you can have other bodies for noop functions, but since this is just about style, you must have braces for a zero statement body.

[2015-11-16 16:44] trevordmiller commented on #4403
@michaelficarra:

eslint: `1.9.0`
globals: `6.4.1`

So, it looks like I'm using an old version of `globals`...but I'm not sure why. I've tried removing `node_mdoules` and re-`npm install`ing, but `npm install eslint --save-dev` keeps installing `globals` 6.4.1. Not sure why. It looks like the [ESLInt project's package.json lists 8.11.0 as the dependency](https://github.com/eslint/eslint/blob/maste

[2015-11-16 16:47] nzakas commented on #4447
Closing in favor of #4443

[2015-11-16 16:47] #4447 closed

[2015-11-16 16:48] nzakas commented on #4443
Looks like we are assuming that the return always has a type, but it doesn't have to. This is an ESLint bug.

[2015-11-16 16:49] nzakas commented on #4446
@ilyavolodin `name` is an argument to that function.

@anshulguleria how are you configuring the rule?

[2015-11-16 16:51] nzakas commented on #4403
Try removing ESLint completely (npm rm eslint) and then reinstalling.

You didn't just happen to upgrade to npm 3, did you?

[2015-11-16 16:55] nzakas commented on #4435
They are not the same. This is a redeclare:

[code]

This is reassign:

[code]

[2015-11-16 16:55] #4435 closed

[2015-11-16 16:57] nzakas commented on #4442
You're using an experimental syntax that ESLint doesn't natively support. Please file an issue on babel-eslint. cc @hzoo

[2015-11-16 16:57] #4442 closed

[2015-11-16 16:58] trevordmiller commented on #4403
@nzakas No dice. However, I'm using npm scripts to use the project's local `eslint` package, so I don't think that should make a difference. I've been using npm 3 for a couple months.

[2015-11-16 17:01] nzakas commented on #4403
Clear npm cache? At this point, I think you'd be better off filing an issue on npm to get some help.

[2015-11-16 17:04] anshulguleria commented on #4446
@nzakas I am using `.eslintrc` for it. Its configured as:
[code]

[2015-11-16 17:07] arv commented on #4442
@hzoo Do you know when this changed? My build started breaking due to this as well.

[2015-11-16 17:12] michaelficarra commented on #4446
`name` is being used to put `pwd` in the second parameter position. Remove the second parameter and you will get a report for the first. This is working as intended.

[2015-11-16 17:15] anshulguleria commented on #4446
@michaelficarra `name` is not being used. While returning `name` is key not the argument received from function. Thus the argument value is still not getting used.

[2015-11-16 17:20] michaelficarra commented on #4446
This is intentional and we have [tests specifically for this case](https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-unused-vars.js).

[2015-11-16 17:23] michaelficarra commented on #4229
:confused: well okay then

[2015-11-16 17:29] anshulguleria commented on #4446
Ok I understand now. So even though first parameter is not used but since its just for being able to receive second parameter so its counted as used. Thanks @michaelficarra.

[2015-11-16 17:35] michaelficarra commented on #4446
Correct.

[2015-11-16 17:37] jkrems commented on #4442
Afaict a possible fix is the following:

[code]

Which doesn't explain why it broke though.

[2015-11-16 17:39] platinumazure commented on #4446
@anshulguleria If you look at the rule documentation, you'll see there is an ["args" setting][1] which can be configured to "all" if you want to verify the usage of all arguments. This might cause problems elsewhere, though, so do think carefully about whether or not you want to use this option.

  [1]: http://eslint.org/docs/rules/no-unused-vars.html#args

[2015-11-16 17:45] anshulguleria commented on #4446
Thanks @platinumazure. Also can you tell some use case where `all` might cause problem.

[2015-11-16 17:58] platinumazure commented on #4446
Mostly I was thinking of external API consumption via callbacks. For
example, Backbone.JS emits an event "change:attr" which takes a callback
that includes a Backbone.Model instance, the new attribute value, and an
options object. If the model in question is easily accessible in other ways
(e.g., you are in a Backbone.View object and can get at the model via
`this.model`, you might decide you don'

[2015-11-16 17:59] ilyavolodin commented on #4446
Closing as this is working as intended. Sorry I didn't notice `name` in the list of arguments initially.

[2015-11-16 17:59] #4446 closed

[2015-11-16 18:23] nzakas commented on #4229
Yeah, I think @michaelficarra's exactly right here. If we can solve this in a way that isn't specific to JSX, then let's do that.

[2015-11-16 18:24] btmills commented on #4229
I'm going to do a PR to revert #4440 until we know exactly what needs to happen here. We may not need the JSX options at all.

[2015-11-16 18:32] nzakas opened #4451 "Treat package.json just like .eslintrc files"
When we first added `package.json` support, we made the decision that if there was a `package.json` and an `.eslintrc` file in the same directory, that we would use them both and combine the configuration. While it seemed like a good idea at the time, this setup has created some complexity in the calculation of configs that doesn't useful or worthwhile. It's unlikely that people are ever going to

[2015-11-16 18:35] gyandeeps commented on #4451
Sounds good to me. :+1:

[2015-11-16 18:36] ilyavolodin commented on #4451
Agree.

[2015-11-16 18:43] btmills opened #4452 "Allow revert commits in commit message verification"
When we revert a PR using the GitHub web interface, it automatically creates a commit message of the form `Revert "Update: Add JSX exceptions to no-extra-parens (fixes #4229)"`. This caused #4450 to fail Travis. The commit message verification step should allow this format for commit messages.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-11-16 19:15] #4045 closed

[2015-11-16 19:15] #4263 closed

[2015-11-16 19:48] hzoo commented on #4442
This is basically because of https://github.com/babel/acorn-to-esprima/commit/482350ca852f2b5cd5007212c535424ad623c118 as a result of https://github.com/eslint/eslint/issues/4415#issuecomment-156594730.

I left it in there before since I figured it would break other rules. We can really only fix this by adding rules in https://github.com/babel/eslint-plugin-babel.

[2015-11-16 19:54] mysticatea commented on #4442
I think a side effect of #4428 fixes this.

[2015-11-16 20:00] StephanBijzitter commented on #4444
Aah, then I think the message should be changed to clarify why the message is shown. I'll list this as a bug on `grunt-eslint`. In this case, I do believe the warning is fair indeed.

[2015-11-16 20:00] #4444 closed

[2015-11-16 21:09] steelbrain commented on #4394
@nzakas That works! Thanks!

[2015-11-16 21:25] lagden commented on #4088
@thefourtheye `let` make more sense! Don't you?
I did some test using Firefox 42.

`const` doesn't work!

with or without `'use strict';`

<img width="329" alt="const" src="https://cloud.githubusercontent.com/assets/130963/11194399/ef7d7b34-8c92-11e5-9cc2-f517e6d6ffbb.png">

<img width="247" alt="let" src="https://cloud.githubusercontent.com/assets/130963/11195136/6ec8cd04-8c97-11e5-969c-a947e64f4

[2015-11-16 21:26] lagden commented on #4088
Wow!! never mind!!!

[2015-11-16 22:23] iamstarkov commented on #4263
@nzakas thanks for fixes. is it going to be published soon?

[2015-11-17 02:28] ilyavolodin commented on #3565
Here's an update on where this is at:
1. I have created ProcessPool library and it's checked in to `multithreading` branch
2. In order to get this to work properly with existing codebase, cli and cli-engine needs to be refactored. Cli-engine currently holds the main function for linting called `executeOnFiles`. This is the main entry point, and should be refactored to allow for creation of another

[2015-11-17 04:42] mysticatea commented on #4417
I thought we can just deprecate `no-arrow-condition` rule, because `no-constant-condition` rule is covering all of `no-arrow-condition` rule.
`ArrowFunctionExpression` is a constant, and `no-constant-condition` is reporting that.

[2015-11-17 09:31] doque opened #4455 "Cannot read config file .eslintrc when running /node_modules/.bin/eslint"
My setup includes a Makefile, which invokes `eslint` like this:

    NODE_BIN = node_modules/.bin/
    build-js:
       $(NODE_BIN)eslint /js/*.jsx -c .eslintrc

The directory structure (`/project/`) looks like this:

    /js/
        Foo.jsx
        Bar.jsx
    /node_modules
    Makefile
    .eslintrc

When running `make build-js` from within , the `.eslintrc` seems to be unavailable:

    node_m

[2015-11-17 09:46] #4455 closed

[2015-11-17 09:46] doque commented on #4455
Had a trailing comma after `.eslintrc`.

[2015-11-17 12:16] oh-ren commented on #2077
+1 :) (Still an issue in 1.9.0)

Btw, although somewhat a different discussion, when using smart-tabs, I also have to set `VariableDeclarator` to `0` in my `indent` options, otherwise I get complaints from that :)
It's my feeling when using smart-tabs, this should be handled in a smart way too. Setting to `0` is of course undesirable, as the linter then also just accepts no 'smart' indenting/align

[2015-11-17 13:27] hzoo commented on #4415
Getting a lot of complaints about other rules breaking so I guess reverting that fix in 1.0.7. Not sure what to do.

[2015-11-17 13:27] peterjuras opened #4457 "[no-extra-semi]: Unnecessary semicolon when semicolon necessary"
Hi.

We're using eslint with babel and I found a case where the 'no-extra-semi' rule gets fired although the semicolon is necessary for the code to remain correct. The following code throws the warning:

[code]
However, if the semicolon is removed the code will no longer work correctly because the array declaration is treated like the array-access syntax and the code breaks.

This probably due to

[2015-11-17 13:49] mysticatea commented on #4457
Thank you for reporting!

I think this is correct behavior because that class is a declaration (not an expression).
If you enclose the class declaration with parentheses, it becomes an expression. Then it needs a semicolon.

[code]

This is similar to:

[code]

[code]

[2015-11-17 14:41] peterjuras commented on #4457
Thanks, I added parantheses and it works as expected now.

[2015-11-17 15:06] nightwing commented on #4373
@platinumazure reverting #4329 won't help, since any weaker form of it will allow competing fixes to produce invalid output. There is no way to allow adjacent ranges without getting invalid code.

The better solution is to call `eslint.verify` second time if https://github.com/eslint/eslint/blob/bbbcaaa22b4c/lib/cli-engine.js#L230 contains unapplied fixes.

I think #4424 needs to be reverted, sinc

[2015-11-17 15:12] michaelficarra commented on #4457
Woah, you don't want to add the parentheses, you want to remove the semicolon. It's unnecessary.

[2015-11-17 15:28] gajus opened #4458 "arrow-body-style: [2, "as-needed"] should ignore arrow functions in object declaration"
[code]

This is producing error:

[code]

Using eslint 1.9.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28320413-arrow-body-style-2-as-needed-should-ignore-arrow-functions-in-object-declaration?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://w

[2015-11-17 15:34] platinumazure commented on #4373
Could you provide an example of adjacent fixes resulting in invalid code
when #4329 is reverted?
On Nov 17, 2015 9:06 AM, "Harutyun Amirjanyan" <notifications@github.com>
wrote:

[2015-11-17 15:37] gajus commented on #4458
Unless I am misunderstanding something, this is a bug, where ESLint thinks that `foos: {  }` is a redundant block.

[2015-11-17 15:40] gajus commented on #4458
Sorry. Totally misunderstood the error.

[2015-11-17 15:40] #4458 closed

[2015-11-17 16:14] nightwing commented on #4373
[code]
becomes
[code]
notice 2 spaces before the `}` instead of one.

[code]
becomes
[code]
with undetected trailing whitespace.

Number of conflicts like these will increase as more rules fixing non-whitespace errors, are added.

[2015-11-17 16:18] platinumazure commented on #4373
Your first example actually shows that the rules themselves are in conflict, not that autofix of adjacent ranges is problematic. The expected lone space between comma and right brace are both expected by the same rule, but our rules intentionally cannot interfere with nor know about the others. To me, the example you brought up simply means the rules need to be redesigned to avoid clashing with ea

[2015-11-17 16:38] nzakas commented on #4263
This Friday. We do releases every other week

[2015-11-17 16:44] nzakas commented on #4457
A declaration doesn't need a semicolon, it should work fine by removing it. If not, then please file a bug with Babel.

[2015-11-17 16:44] #4457 closed

[2015-11-17 16:53] ipanasenko opened #4459 "Proposal: remove label in file-finder.js, replace it with IIFE"
Following this discussion: https://github.com/eslint/eslint/pull/4406#discussion_r44852862
What do you think about replacing label and `break` statement with IIFE and `return` statement?

Will create PR in a moment

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28323130-proposal-remove-label-in-file-finder-js-replace-it-with-iife?ut

[2015-11-17 16:55] ipanasenko commented on #4459
PR: https://github.com/eslint/eslint/pull/4460

[2015-11-17 16:59] benmosher opened #4461 "--quiet: only execute error rules vs. filtering out their output"
Looking at the implementation of the `--quiet` flag, it appears to me that warning rules are still executed, and their reports are filtered out at the end of linting.

It seems it would be more efficient to simply not run them at all, and only execute error-level rules.

Does this make sense? or are there possible side effects to running warning rules that must be considered?

I can imagine workin

[2015-11-17 17:00] nzakas commented on #4414
Yeah, I feel like this is a pretty fuzzy heuristic that I don't see getting a lot of use. It would involve a bunch of backtracking that I think would overcomplicate the rule. I'd suggest creating a custom rule if you want this functionality.

[2015-11-17 17:00] #4414 closed

[2015-11-17 17:04] #4347 closed

[2015-11-17 17:09] nzakas commented on #4436
Confirmed in demo, looks like a bug.

[2015-11-17 17:14] nzakas commented on #4427
@Famlam do you have a larger example where this is used? As-is, the statement does nothing.

[2015-11-17 17:18] nzakas commented on #4399
@michaelficarra every bug fix is backwards incompatible, we don't always need to keep previous behavior if it was incorrect.

[2015-11-17 17:18] nzakas commented on #4399
Oops, hit wrong button.

[2015-11-17 17:22] #3901 closed

[2015-11-17 17:26] nzakas commented on #3565
Aren't `executeOnFile`, `executeOnText`, and `processText` already helpers?

[2015-11-17 17:27] STRML commented on #3916
I'm finding that this would be useful for a pattern I often use as a form of self-documentation:

`let FooComponent = module.exports = someConstructor({...`

Unfortunately, `no-unused-vars` always marks `FooComponent` as unused because it is not referenced elsewhere in the file.

Setting `/*eslint no-unused-vars:0*/` shuts off var checking for the whole file. For now I've been prepending an unders

[2015-11-17 17:27] nzakas commented on #4417
Interesting. `no-constant-condition` warns about a lot more things, though. Will people want all the warnings or just arrow functions?

[2015-11-17 17:29] #4449 closed

[2015-11-17 17:30] nzakas commented on #2077
@oh-ren please open a separate issue for that discussion.

[2015-11-17 17:34] #4459 closed

[2015-11-17 17:36] nzakas commented on #4461
It's an interesting idea, but I am concerned about the increased complexity it might cause. Do you want to try prototyping this!

[2015-11-17 18:18] ilyavolodin commented on #3565
They are not, they are part of the main stack trace. `executeOnFiles` calls into `executeOnFile`, which calls into `executeOnText`, etc. until the call into `verify`. The point is, for making async function the depth of the stack trace has to be minimal, otherwise, every step of the stack trace has to be turned async as well.

[2015-11-17 18:24] kentor opened #4462 "`isPathIgnored()` should consider extension"
It seems reasonable that the `CLIEngine`'s [`isPathIgnored()`](http://eslint.org/docs/developer-guide/nodejs-api#ispathignored) method should return `true` for files that don't match the extensions given to `CLIEngine`.

[code]

This is causing `eslint-watch` to lint files such as `.git/index` or `npm-debug.log` when files are changed. See: https://github.com/rizowski/eslint-watch/issues/52, https

[2015-11-17 18:28] benmosher commented on #4461
I'm up for trying it out, if I get a chance. (bearing in mind [open source rule #11](http://www.advogato.org/article/395.html) 😅)

I haven't dug in to see concretely what might need to happen, but abstractly speaking, I'm imagining translating the existing `if (isQuiet) { messages = filterOnlyErrors(messages) }` into `if (isQuiet) { rulecConfig = filterOnlyErrorRules(ruleConfig) }` somewhere earli

[2015-11-17 18:57] adjavaherian commented on #3782
@pawelgrzybek seems to have nailed it. `npm install -g eslint-plugin-react`

[2015-11-17 19:01] aldendaniels opened #4463 "Can't Disable Env"
First, thanks for all the hard work on the ESLint project. ESLint is a fantastic gift to the JS community and makes coding more fun and more efficient every day.

I'm having trouble "turning off" an environment in my `.eslintrc` file.

My directory structure looks like this:
[code]

In my `__TEST__` directory I'd like to turn off the "browser" env so that browser globals are flagged, since my moch

[2015-11-17 19:02] Famlam commented on #4427
@nzakas yes, I encountered it in the following code:
[code]

[2015-11-17 19:05] ilyavolodin commented on #4463
Duplicate of #4379 This is a known issue/feature.

[2015-11-17 19:09] aldendaniels commented on #4463
Thanks! Missed that.

On Tue, Nov 17, 2015 at 1:06 PM, Ilya Volodin <notifications@github.com>
wrote:

[2015-11-17 19:21] bjrmatos opened #4464 "Incorrect no-undef error"
i have some code:

[code]

and I'm getting an error -> "restData" is not defined

<img width="531" alt="captura de pantalla 2015-11-17 a las 2 20 34 p m" src="https://cloud.githubusercontent.com/assets/4262050/11222076/68170760-8d36-11e5-8e18-59ab7c5ca7b9.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28327629-incorrect-no-und

[2015-11-17 19:22] bjrmatos commented on #4464
eslint version: 1.9.0

[2015-11-17 19:23] bjrmatos commented on #4464
my .eslintrc file

[code]

[2015-11-17 19:30] lukekarrys commented on #4417
When I ported `no-arrow-condition` over from a plugin, there was some previous discussion about this, so I wanted to add some background as to why legitimate arrow functions are being flagged.

The original plugin would [always flag statements](https://github.com/Jxck/eslint-plugin-arrow-function/pull/5#issuecomment-148886003) like the following because it *could be* a mistake so the author should

[2015-11-17 20:21] oh-ren commented on #2077
@nzakas Will do, was already thinking about that myself as well.

[2015-11-17 21:32] nzakas commented on #4461
If you can, cool, if not, we will likely close this as it would be so low in the priority list as to not get done. So, just let us know either way.

[2015-11-17 21:32] #4463 closed

[2015-11-17 21:36] nzakas commented on #4464
It's because you're using the experimental object spread property. escope doesn't recognize experimental properties, so not sure if this is fixable.

[2015-11-17 22:07] lukekarrys commented on #4417
I think that's a good idea. That rule would catch these cases and there'd be no need for an option since that's all the rule would cover. Then `no-constant-condition` would cover the rest, and `no-arrow-condition` could be deprecated.

[2015-11-17 22:08] michaelficarra commented on #4427
You've moved your expression to statement position, which changes things. Leave it in expression position and you're fine. Otherwise, you're allowed to parenthesise the whole ExpressionStatement. There's no bug here, really.

[2015-11-17 22:23] bjrmatos commented on #4464
thnks, i will be waiting to know if this problem can be solved

[2015-11-17 22:28] michaelficarra commented on #4399
@nzakas Sorry, that only works when the observed ("incorrect") behaviour could not have been reasonably expected as intentional behaviour. Since the current behaviour could be reasonably expected (if you thought "eval" meant "direct eval") and *useful*, it should be preserved. Anyway, this shouldn't matter as it seems @mysticatea is already handling it this way.

[2015-11-17 22:54] mccord commented on #2897
How would you formulate "only apply the rule for line comments, not block" in the current spec? The following does not work because it is expecting an object instead of "false."

"spaced-comment": [2, "always", { block: false }]

[2015-11-17 23:47] ilyavolodin commented on #3565
A helper function (in my own made-up definition) is a function that takes a set of arguments and returns back a value, it can call other functions, but it shouldn't be on the main execution path of the code. For example, in the current version of cli-engine I consider `calculateStatsPerFile`, `calculateStatsPerRun`, `createIgnoreResult`, etc. to be helper functions, they are called by a function o

[2015-11-18 00:31] mysticatea commented on #4464
I think this is duplicate of #3271.
I had fixed this in `escope`, but `escope` has not been released yet.

[2015-11-18 01:25] kentor commented on #4462
sure

[2015-11-18 03:50] tshinnic commented on #4365
The ["rules" doc page](http://eslint.org/docs/rules/) says

That referenced ["configuring" page ](http://eslint.org/docs/user-guide/configuring) then has no mention of 'inherits'.

There is a section there regarding **'extends'** ["Extending Configuration Files"](http://eslint.org/docs/user-guide/configuring#extending-configuration-files) but it doesn't show anything quite like the form actually n

[2015-11-18 03:51] IanVS commented on #2112
In the last two weeks, there have been nearly 650 people visiting this issue, which makes it one of the top most-viewed pages in this repo.  I'm curious, could someone explain why this issue is so popular?

[2015-11-18 03:58] tshinnic commented on #4365
Oh, and the **real** issue for me behind all this was that, using the CLI first time on a trial JS file, no errors.  Nada.  Didn't work at all.  Since "I'm perfect" is an impossibility I figured `eslint` was broken.  Only after figuring out what the hey was meant re: recommended and including the magic line in the manually constructed .eslintrc (cuz the `--init` problem on 5.0.0) did I begin to se

[2015-11-18 05:18] doberkofler commented on #2897
@mccord like this
[code]

[2015-11-18 07:43] Zorgatone opened #4468 "`eslint-disable-line` causes line `max-len`"
[code]
[code]
Could we add another comment like this, to disable the next line?
[code]

My `ESLint` version is `v1.9.0`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28349913-eslint-disable-line-causes-line-max-len?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bount

[2015-11-18 08:42] roberto68 opened #4469 "TypeError: pluginNames.forEach is not a function"
eslint (eslintrc) have problems with plugins - I've 2 react, meteor.
[eslintrc.txt](https://github.com/eslint/eslint/files/37652/eslintrc.txt)

when I run npm run lint I get this:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28350922-typeerror-pluginnames-foreach-is-not-a-function?utm_campaign=plugin&utm_content=tracker%2F282608&u

[2015-11-18 08:49] roberto68 commented on #4469
eslint -v
3.3.6
Ok my bad it plugins supposed to be

      /* "eslint-plugin-meteor", */
	  /* "eslint-plugin-react"  */

[2015-11-18 09:20] nightwing opened #4470 "Display errors closer to the place where fix should go"
`space-after-keywords` and  `no-sequences` rules display errors on wrong lines for the following snippet
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28351671-display-errors-closer-to-the-place-where-fix-should-go?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-11-18 14:21] lagden commented on #3104
`eslint 1.9.0`

I am having a lot of troubles with `prefer-const`.

Using **Node.js v5.0.0** with `strict mode`

[code]

Using **Node.js v5.0.0** without `strict mode`

[code]

I did some tests with Firefox DE and doesn't work with `const`! With or without `strict mode`.

<img width="329" alt="const" src="https://cloud.githubusercontent.com/assets/130963/11243195/cd6f3bfc-8ded-11e5-93b1-c1fc52d67e

[2015-11-18 14:32] lijunle commented on #4140
I think [this approach](https://github.com/eslint/eslint/pull/4266) is better. Thanks all! :smiley:

[2015-11-18 15:08] ilyavolodin commented on #4469
Sorry, I'm slightly confused. Can you provide your .eslintrc file? Also, we haven't released version 3.3.6 of ESLint yet (we haven't even released 2.0 yet).

[2015-11-18 15:12] mysticatea commented on #3104
Syntax is http://tc39.github.io/ecma262/#sec-iteration-statements

[code]

`LeftHandSideExpression` does not include `const` keyword (on the other hand, `let` is not keyword in sloppy mode code, so `LeftHandSideExpression` includes `let` identifier).

Runtime Semantics: http://tc39.github.io/ecma262/#sec-runtime-semantics-forin-div-ofbodyevaluation-lhs-stmt-iterator-lhskind-labelset

`5.e.iii.` cr

[2015-11-18 15:16] ilyavolodin commented on #3104
I'm not sure extra option will help all that much, because once we add it, people will be complaining that it's not on by default.

[2015-11-18 15:32] michaelficarra commented on #3104
This is a temporary issue. It will be going away very soon. I wouldn't want to forever support an option that will be useless in the near future.

[2015-11-18 16:18] lagden commented on #3104
ok folks...
@michaelficarra: I hope so.

Thanks everyone!

[2015-11-18 16:19] mincedmit commented on #3678
[code]
        return React.createElement(cls, {
          dispatch: this.context.store.dispatch,
          test,
          anotherTest
        });
[code]
return React.createElement(cls, {
          ...{
            dispatch: this.context.store.dispatch
          },
          ...this.props,
          ...this.state
        });
[code]

[2015-11-18 16:47] joezimjs commented on #2112
@IanVS I think the big issue is that the documentation doesn't make it clear that the babel-eslint parser is required when using ES2015 modules. Though, I haven't upgraded to Babel 6 yet, so it may also need some changes after that?

[2015-11-18 16:52] nzakas commented on #2112
@joezimjs you don't need to use babel-eslint, as I stated in the first comment: https://github.com/eslint/eslint/issues/2112#issuecomment-83633766

[2015-11-18 16:58] #4470 closed

[2015-11-18 17:01] nzakas commented on #3565
Got it, thanks for explaining

[2015-11-18 17:05] joezimjs commented on #2112
It never worked for me without babel-eslint

[2015-11-18 17:17] nzakas commented on #2112
ESLint natively supports all of ES6, you don't need babel-eslint for any of it. Just make sure you remember the correct `ecmaFeatures`. If you still get an error, then chances are your using a syntax that only Babel supports (and is therefore not standard ES6).

[2015-11-18 17:25] nzakas commented on #4417
Cool, let's do that. We will deprecate `no-arrow-condition` in favor of `no-constant-condition`, and add `no-confusing-arrows` to cover the rest.

[2015-11-18 17:27] nzakas commented on #4427
Ah, good point. When used with `return`, those parens are not required. Thanks @michaelficarra

[2015-11-18 17:27] #4427 closed

[2015-11-18 17:28] nzakas commented on #4464
Ah yes, closing in favor of #3271

[2015-11-18 17:28] #4464 closed

[2015-11-18 17:30] nzakas commented on #4468
You can already do this:

[code]

[2015-11-18 17:32] Zorgatone commented on #4468
@nzakas That requires two lines, but ok... I thought that wasy was cleaner

[2015-11-18 17:32] michaelficarra commented on #4468
You can also do

[code]

[2015-11-18 17:35] Zorgatone commented on #4468
@michaelficarra that's not the issue here. I'm using the variable afterwards. I was trying to keep the code not longer that 80 columns, and putting the comment there was causing the rule to trigger.

I also think it's cleaner to have one comment before the line that you want to ignore, instead of inlined

[2015-11-18 17:40] michaelficarra commented on #4468
If you were actually using the variable, you wouldn't have to disable no-unused-vars. If you don't disable the rule, you don't have the comment. If you don't have the comment, you don't exceed the max line length.

Your claims are inconsistent.

[2015-11-18 17:41] Zorgatone commented on #4468
The code here is an example

[2015-11-18 17:42] #4468 closed

[2015-11-18 17:54] sindresorhus opened #4472 "CLIEngine `cwd` option"
It would be useful to be able to set the `cwd` (current working directory) of where ESLint works from. My specific use-case is that I use ESLint in an Atom Editor plugin where `process.cwd() === '/'`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28365464-cliengine-cwd-option?utm_campaign=plugin&utm_content=tracker%2F282608&utm_med

[2015-11-18 18:35] guerrero opened #4473 "Proposal: Create option to disable `no-shadow` rule for switch/case statements"
It would be nice to create an option for `no-shadow` rule to prevent errors when variables are declared in different `case` statements. For example, the following code returns an error and that's OK due that I'm creating a new scope but, as far as I know, there isn't a real shadowing problem here because these `case`s are mutually exclusive
[code]
**1. When the rule won't warn enabling this option

[2015-11-18 18:51] ilyavolodin commented on #4473
If I'm not mistaken, your assumption is incorrect (sorry, I don't use ES6, so I might be wrong here). `case` statements don't create code blocks, so all of the declarations inside case statements are scoped to the `switch`, in which case this rule is doing the right thing. See #4278 for more information.

[2015-11-18 19:23] michaelficarra commented on #4473
@ilyavolodin is correct here, the switch cases share a single lexical environment.

[2015-11-18 19:25] guerrero commented on #4473
Yes @ilyavolodin, `case` statements don't create code blocks – es6 has the same behaviour – and I'm not trying to say that, sorry if my explanation is not sufficiently clear.

I don't want a feature to enable something like a scope for `case`s, instead what I intend to propose is an option to enable `no-shadow` on `switch` statements due that its `case`s are mutually exclusive when there's a `retu

[2015-11-18 19:29] PhilVargas opened #4474 "`prefer-const` and `init-declarations:never` conflict?"
The two rules `prefer-const` and `init-declaration` (set to never) don't really perform well together.
When i use `init-declaration` set to never i initialize all variables like so:

[code]

however, when this setting is active, it pretty much never triggers `prefer-const` because an assignment IS set even though it is never re-set after definition. consider the function:

[code]

vs

[code]

Esse

[2015-11-18 19:45] ilyavolodin commented on #4473
I'm not really sure it's a good idea to create an option like that, since it's actually likely to cause side effects. Also, this would also only apply to cases which are terminated by `return` or `break`, and until we have full code analysis in place, we can't create rules that will guarantee that every branch of the code is terminated.

[2015-11-18 20:11] nzakas commented on #4472
Agree, this has been in the back of my mind for a while. Do you want to submit a pull request?

[2015-11-18 20:18] nzakas commented on #4473
@guerrero your first example is behaving correctly. The `const` declaration applies to the whole `switch`, not just the `case`. Therefore, your function is shadowing a variable from the enclosing scope, so I don't see us adding an exception for this.

[2015-11-18 20:18] #4473 closed

[2015-11-18 20:18] sindresorhus commented on #4472
I don't have the time right now as I'm traveling, but I will eventually if no one else steps in.

[2015-11-18 20:22] nzakas commented on #4474
It's pretty tricky to track assignments for all declared variables, so I don't see us doing that.

When you say "doesn't work", what does that mean?

As the previous comment states, please paste the exact output from ESLint when discussing what you are expecting or not expecting.

[2015-11-18 20:46] PhilVargas commented on #4474
i put the output from eslint in the comments of example 1 and two. also edited the OP. when i say it doesnt work, i mean that the rule doesnt throw an error when it should be throwing an error. I understand this would be a pretty hard ticket, and i had a peek at the prefer-const code and am pretty sure i wont be able to implement this suggestion.

so for a recap:

example 1
currently: eslint throw

[2015-11-18 20:47] ilyavolodin commented on #4437
Classes name would already be partially covered by `new-cap`, not at the point of creation of the class, but at the point of instantiation. I'm not sure why `constructor` has to be present everywhere, but then I'm not use ES6, so it might be a valid rule. Classes style rule seems to be helpful, but I'm not sure how widely it would be used.

[2015-11-18 21:00] lukekarrys commented on #4417
Sounds good, I can work on that.

Should I split this up into two PRs (one to create `no-confusing-arrows` and one to add a deprecation notice to `no-arrow-condition`)?

[2015-11-18 22:00] ilyavolodin commented on #4469
Thanks, @dferber90 Feel free to reopen if it's still a problem

[2015-11-18 22:00] #4469 closed

[2015-11-19 00:24] btmills commented on #3678
Looks like my fix only addressed ES6. @mincedmit can you file a new issue for that?

[2015-11-19 04:15] zba opened #4475 "unclear documentation"
Many rules has no documented options, for example

http://eslint.org/docs/rules/no-console.html

     /*eslint no-console: 2*/

what means "2" here ? why not 1 ?

or worse:

http://eslint.org/docs/rules/eol-last

it turns, that in eslintrc there should be array. Why and what values should it have ?

eslint version 1.x

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](htt

[2015-11-19 04:41] ilyavolodin commented on #4475
It's documented here: http://eslint.org/docs/user-guide/configuring#configuring-rules
As the first value applies to every single rule in ESLint, we did not document it in every rule (which would be a lot of repeated information), and instead created a section in user guide that describes that the first option in the array represents a state of the rule. 0 for off, 1 for warning and 2 for error. If

[2015-11-19 04:41] #4475 closed

[2015-11-19 10:18] wmertens commented on #4472
It's not even as simple as that, it should go in the same directory as the package.json file/node_modules dir, otherwise the module is not found strangely enough.

[2015-11-19 13:43] tmsdnl commented on #2735
Came across a custom rule by @bahmutov:
https://github.com/bahmutov/eslint-rules/blob/master/no-commented-out-code.js

Any thoughs?

[2015-11-19 13:51] ilyavolodin commented on #2735
I saw that plugin a while back, and it basically runs every comment through espree. If it gets valid AST - it's commented out code. Problem is, you might have commented out just a few statements, for example, just a `case` block inside a `switch` which will not parse properly, but it is still a commented out code.

[2015-11-19 15:44] bathos commented on #3678
@btmills I think that issue might fall under the purview of babel-eslint / eslint-plugin-babel.

[2015-11-19 16:30] btmills commented on #3678
@bathos why's that? We have experimental support for object spread in the default Espree parser, so that syntax should be supported.

[2015-11-19 16:35] nzakas commented on #4417
Yes, please.

[2015-11-19 16:36] nzakas commented on #4437
I'd say for now let's leave these as custom rules. I think we already cover the most important cases, and you've created a plugin that covers the others. If we get requests for any of these in the future, we can revisit.

[2015-11-19 16:36] #4437 closed

[2015-11-19 16:39] nzakas commented on #4474
@mysticatea can you think of any easy way to do this?

[2015-11-19 17:30] #4443 closed

[2015-11-19 17:33] #4268 closed

[2015-11-19 17:41] michaelficarra commented on #4474
This should be simple. escope gives you a list of the write references for each variable.

[2015-11-19 17:57] #4380 closed

[2015-11-19 17:58] #4348 closed

[2015-11-19 17:59] #4389 closed

[2015-11-19 18:09] nzakas opened #4476 "Write JS, JSON, YAML files from --init"
Since we now have config files with extensions, we should update `--init` to output a file with an extension.

The last question should now also allow you to select JavaScript as an option, and the file should have an appropriate extension based on the type selected.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28406958-write-js-j

[2015-11-19 19:09] ilyavolodin commented on #4476
Should we still have an option for just `.eslintrc`?

[2015-11-19 19:27] nzakas commented on #4476
Nah, I don't see a need for it at this point.

[2015-11-19 19:57] nzakas commented on #4393
Working on this.

[2015-11-19 20:03] nzakas commented on #4365
Working on this.

[2015-11-19 20:05] nzakas commented on #4111
Working on this.

[2015-11-19 20:09] nzakas commented on #3916
Working on this.

[2015-11-19 20:17] #4365 closed

[2015-11-19 21:12] #3916 closed

[2015-11-19 21:12] #4111 closed

[2015-11-19 21:19] dtothefp opened #4481 "Update in Escope 3.2.1 Breaking es6 Spreads"
Took me a while to find this but started to get an issue with `es6` spreads.

<img width="578" alt="screen shot 2015-11-19 at 4 17 35 pm" src="https://cloud.githubusercontent.com/assets/4656726/11284660/115312ee-8ed9-11e5-9a99-12968f26f071.png">

[code]

[code]

Turns out the issues is with `escope` if I install 3.2.0 all works as expected or I guess more accurately as before

<img width="1067" al

[2015-11-19 21:24] michaelficarra commented on #4481
0. Those are rests, not spreads, and in particular they are in object binding position.
0. This is an experimental future ECMAScript feature, not supported by eslint.
0. There are many duplicates of this issue, closed, with this same information.

[2015-11-19 21:34] happydogcat opened #4482 "command line formatter option is broken in 1.9.0"
This used to work perfectly in 0.21.0
eslint --reset -f myformat.js --rulesdir C:\myeslint-rules runengine.js
Now it is broken after I update to 1.9.0. After spending a lot of time searching online for a fix, I found page mentioning --reset is default in the new version and no longer available as option, so I also tried:
eslint -f myformat.js --rulesdir C:\myeslint-rules runengine.js
eslint -forma

[2015-11-19 21:36] nzakas commented on #4476
Working on this.

[2015-11-19 21:57] nzakas commented on #4481
@dtothefp What version of ESLint are you using?

[2015-11-19 21:57] nzakas commented on #3271
@mysticatea I believe v3.2.1 was released, can you check this issue?

[2015-11-19 22:02] nzakas opened #4483 "Drop support for Node < 4"
We've supported Node.js versions 0.10 and up for a while now. We didn't want to move off of it until the Node.js ecosystem solidified. This would mark the second time we've end-of-lifed support for an older version of Node.js, the previous being when we dropped 0.8 (#734).

We'd like to start using Node.js 4 so we can start writing ES6 and enable as many ES6 rules as possible on our code base (dog

[2015-11-19 22:18] BYK commented on #4483
Strong +1 for sooner since Node 4 is marked and marketed as LTS and already getting updated in that nature. Node 4 is almost fully backwards compatible too. There's also a Node 5 already. So I don't see a lot of reasons to not going forward with Node 4+ only.

[2015-11-19 22:29] brownie3003 commented on #4365
Thanks @nzakas!

[2015-11-19 23:01] nzakas commented on #4482
Try doing this:

[code]

[2015-11-19 23:09] robcolburn commented on #3271
This is no longer an issue for my React projects… but, i've been an alternate config.
[code]

[2015-11-19 23:44] dtothefp commented on #4481
@nzakas I'm using `1.9.0` but went back to `1.8.0` with no luck. Had to diff my node_modules against a working version in a coworkers local version to find the issue in `escope`. When I constrain `escope` to `3.2.0` in my package.json so eslint uses it rather than it's local version the problem is solved.

Also, put the same issue no `escope` as I'm not sure where this needs to be addressed?

http

[2015-11-20 00:42] tshinnic commented on #4365
Indeed, thank you.  (Oh, and regarding "I'm not perfect" = 353 'errors'  ;-) )

[2015-11-20 01:24] nzakas commented on #4474
Cool, let's do it

[2015-11-20 01:34] psypersky opened #4485 "Maximum call stack size exceeded"
[code]

Looks like a dependency killed a lot of eslint versions since today

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28429770-maximum-call-stack-size-exceeded?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=

[2015-11-20 01:41] #4476 closed

[2015-11-20 01:42] ilyavolodin commented on #4485
That looks like an issue with escope. CC: @michaelficarra

[2015-11-20 01:44] gyandeeps commented on #4485
@psypersky Can you please provide more details for your error?
Things like:
* What were you trying to do?
* Any kind of reproducible code?
* Steps to reproduce this issue?
Something along these lines.

This would help the person in investigating the issue.

[2015-11-20 01:47] mysticatea commented on #3271
I checked with ESLint `v1.9.0` and new escope, it's working correctly now!

[2015-11-20 01:57] michaelficarra commented on #4485
Wow, nice. Someone is probably passing a graph with a cycle to escope.

[2015-11-20 02:02] mysticatea commented on #4474
I think the following pattern should be excluded.

[code]

[2015-11-20 02:30] mysticatea commented on #4481
I could not reproduce this with:

[code]

[code]

## `eslint@1.9.0` and `escope@3.2.1`

[code]

This is as expected.

## `eslint@1.9.0`, `escope@3.2.1`, and `babel-eslint@4.1.5`

[code]

This is not as expected, but `no-redeclare` is not appeared.

[2015-11-20 02:56] ilyavolodin commented on #3271
So this issue can be closed?

[2015-11-20 02:57] dtothefp commented on #4481
Use 'env: { node: true}'

[2015-11-20 03:37] mysticatea commented on #4481
Hmm, I got the same result with `node: true`.

[2015-11-20 03:57] mysticatea commented on #3271
I will add a test for this, so please wait...

[2015-11-20 04:50] ilyavolodin commented on #3271
Sounds good. Thanks.

[2015-11-20 05:37] jamespercy commented on #4485
A similar errors started appearing in our builds today.

[code]

[2015-11-20 05:51] willmcclellan commented on #4485
Same here

[code]

[2015-11-20 06:08] willmcclellan commented on #4485
This looks like a problem wtih escope@2.3.1

See #4481 and https://github.com/estools/escope/issues/88

[2015-11-20 06:17] mysticatea commented on #4485
The default parser of ESLint does not make cyclic references in AST, so the new escope should be not problem.
Please answer @gyandeeps 's questions.
That would help the person in investigating the issue.

[2015-11-20 06:19] afc163 commented on #4481
Remove `"parser": "babel-eslint"` is useful for me. :+1:

[2015-11-20 06:55] jamespercy commented on #4485
Hi @gyandeeps, basically we're trying to lint our es6 react application with gulp. We've tried with various versions of eslint between 1.4.0 and 1.9.0 with more or less the same result. Unfortunately I'm not allowed to post more code than that.

package.json:
[code]
.eslintrc
[code]

[2015-11-20 07:29] happydogcat commented on #4482
I tried all the possible path formats ./myformat.js, .\myformat.js, myformat.js(while run in the same dir as myformat.js) and absolute path c:\mypath\myformat.js,all give the same Could not find formatter error, it's definitely a bug.
Thanks. 
      From: Nicholas C. Zakas <notifications@github.com>
 To: eslint/eslint <eslint@noreply.github.com>
Cc: happydogcat <happydogcat@yahoo.com>
 Sent: Thurs

[2015-11-20 07:29] hung-phan commented on #4481
Same issue:

1.Eslint 1.9.0
2. Source code and eslint config

Source code
[code]

Eslint
[code]

3.
![screen shot 2015-11-20 at 2 28 41 pm](https://cloud.githubusercontent.com/assets/3093244/11294081/0b8474f6-8f93-11e5-8b49-5592fd89aa3b.png)

4. I expect will not see this error fired by eslint

[2015-11-20 09:08] qubyte opened #4487 "ESLint wants properties that are constructors to use object literal shorthand."
With the `object-shorthand` rule active, ESLint complains at the following snippet:

[code]

It wants it to look like:

[code]

The issue is that object literal shorthands [cannot be used as constructors](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Method_definitions#Method_definitions_are_not_constructable), so this transformation is invalid.

Seen with eslint@1.9.

[2015-11-20 10:29] mysticatea commented on #4399
Oh...
I cannot get `env` setting from `RuleContext`...

[2015-11-20 10:30] Uhsac commented on #4481
Same issue for me with 1.9.0
This is my configuration file :
[code]

And the line that cause the problem :
`const { errorMessage, errorCode, errorResponse, ...othersProps } = error;`

[2015-11-20 10:52] netei opened #4488 "Disallow global"
I would like to be able to disallow global variables, for example `Promise` , which I don't want to use because we use Bluebird ( with `var P = require("bluebird");`)

Is it somehow possible to disallow the use of a global ?

Because the Promise global is in the buitlin part of https://github.com/sindresorhus/globals/blob/master/globals.json , I do not think it is possible to remove it.

I can see

[2015-11-20 10:54] netei commented on #4488
It would maybe even make sense to put this in the core of eslint (since we already have a `globals` key in the config, maybe we could write the following instead :

"globals": {
  "Promise": 2
}

[2015-11-20 11:43] Constellation commented on #4481
The fixes are comming in each repository. :)

[2015-11-20 13:48] dtothefp commented on #4481
@Constellation thanks for investigating. :+1:

[2015-11-20 13:51] ilyavolodin commented on #4485
Is this only happens with `babel-eslint` or can somebody reproduce it with `espree`?

[2015-11-20 14:02] chriscartlidge commented on #4485
We are having the same issue here :( From having a look into the issue it seems the error was introduced in https://github.com/estools/escope/releases/tag/3.2.2 which is a dependancy of eslint.

Rolling back escope to https://github.com/estools/escope/releases/tag/3.2.0 seems to fix the issue..

[2015-11-20 14:49] IanVS commented on #4482
`0.21.0` to `1.9.0` is a pretty big jump, any chance you can help narrow down the version where you start seeing problems?

[2015-11-20 14:57] michaelwallett commented on #4485
Having the same issue. @chriscartlidge downgrading escope worked for me too!

[2015-11-20 15:41] michaelficarra commented on #4487
If you want to use it as a constructor, use class, not function.

[2015-11-20 15:46] qubyte commented on #4487
Perhaps, however that doesn't change that the shown ESLint behaviour is in error.

[2015-11-20 15:48] qubyte commented on #4487
(assuming the convention that constructors use an initial upper cased character)

[2015-11-20 16:11] nzakas commented on #4485
I'm thinking this is actually an issue with babel-eslint. @hzoo

[2015-11-20 16:13] nzakas commented on #4488
See our guide on proposing new rules: http://eslint.org/docs/developer-guide/contributing/new-rules

[2015-11-20 16:13] michaelficarra commented on #4487
This rule shouldn't care about casing. If you plan to call it as a function, use a method. If you want to construct it, use a class.

[2015-11-20 16:14] nzakas commented on #4487
We can add an option for this.

[2015-11-20 16:16] nzakas commented on #4482
@happydogcat unfortunately, I cannot reproduce locally.

Have you made changes to formatter.js recently? Are you sure it's valid and free of errors?

[2015-11-20 16:17] nzakas commented on #4481
Closing, as this was a babel-eslint error.

[2015-11-20 16:17] #4481 closed

[2015-11-20 16:30] hzoo commented on #4485
Haven't looked at it enough but it might be https://github.com/estools/escope/commit/cebbcf404f34791ea86a7284f99b556233fa5bc3 and how we are using `SpreadProperty`

[2015-11-20 16:34] chriscartlidge commented on #4485
FYI explicitly referencing escope 3.2.0 in your package.json fixes the issue... (For me anyway)

[2015-11-20 16:40] soluml commented on #3339
+1 from me as well.  It'd be nice if VariableDeclarator could just be separate from the indent rules (instead of a multiplier), but in the interim changing VariableDeclarator to allow numbers (then rounding to nearest whole number) would be ideal:

    "indent": [
        2,
        4,
        {
            "SwitchCase": 1,
            "VariableDeclarator": {"var": 1, "let": 1, "const": 1.5}

[2015-11-20 16:43] mourner commented on #4483
No, it is breaking in many ways if you consider native modules. Moving everything over is a lot of effort and will take time, especially if you're working for a company with hundreds of modules, many of which rely on C++ bindings (I work for https://github.com/mapbox/).

@nzakas are there any obstacles that prevent you from going further with Node 4+ while keeping compatibility with Node 0.10, at

[2015-11-20 16:51] cjihrig commented on #4483
Are you planning any type of long term support? 0.10 will be in maintenance support until Oct. 2016. 0.12 will be in active LTS until April 2016, followed by a maintenance period. I don't think this is necessarily important for ESLint given the nature of the application (no security patches, etc.), but I thought I'd bring it up.

For what it's worth, the hapi ecosystem has already made semver majo

[2015-11-20 17:01] michaelficarra commented on #4487
@nzakas Can you elaborate what you mean by "this"?

[2015-11-20 17:15] koorchik opened #4490 ""no-redeclare" does not work in node 0.10 with ES6 code"
"babel-eslint": "^4.1.5"
"eslint": "^1.9.0"

Code to verify
[code]

.eslintrc
[code]

fails with errors
[code]

The latest versions of nodejs (node 5.1, for example) will not throw the error

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28463566-no-redeclare-does-not-work-in-node-0-10-with-es6-code?utm_campaign=plugin&utm_content=t

[2015-11-20 18:01] nzakas commented on #4483
@mourner We'd like to start writing ES6 code in ESLint, which we can't do using Node.js < 4 (the team is against preprocessing). Writing ES6 code would allow us to test our ES6 rules on our own code, which we do with as many rules as possible to find bugs. The cost of continuing to support Node.js < 4 is that we cannot do that.

@cjihrig no, we don't do LTS versions. While that would be nice, we s

[2015-11-20 18:02] #4387 closed

[2015-11-20 18:07] bathos commented on #3678
Oh -- for some reason I thought eslint only concerned itself with the official spec and left everything else to plugins, but I don't know how I came to believe that so it may well be untrue.

[2015-11-20 18:07] nzakas commented on #4202
Since we're unable to detect the type on which `toString()` is called, we're not going to add this exception.

[2015-11-20 18:07] #4202 closed

[2015-11-20 18:11] mzgol commented on #4483
IMO it makes sense to support Node.js LTS versions while they are in the Active state as then new apps may still use it. I'd expect the Maintenance state of Node LTS to be meant for apps already deployed that are no longer developed but have to have security fixes applied.

Therefore, I think it's ok to drop 0.10 support now and 0.12 support in May 2016 when it moves into Maintenance mode.

[2015-11-20 18:11] btmills commented on #3678
In every other case you'd be exactly right, but we made an exception for `experimentalObjectRestSpread` to enable usage with React. See eslint/espree#163 if you're interested.

[2015-11-20 18:50] gyandeeps opened #4491 "Updates to release function"
Add the following commands to the top of release function inside Makefile.js

[code]

This would help us to make sure our local copy is in sync with remote copy before release.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28466882-updates-to-release-function?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_so

[2015-11-20 19:54] jonkoops commented on #4483
I would agree with @mourner and @mzgol here. Ideally packages would maintain compatiblity with LTS versions of Node. From my knowledge a lot of folks are still stuck on 0.12 because of breaking changes in native extensions, so supporting it until it's EOL makes sense.

[2015-11-20 20:01] lo1tuma commented on #4483
I vote for dropping node < 4 support sooner than later.
If somebody wants to use eslint with a node version < 4 he could just use the latest version which is compatible (this is similar to how [jsdom deals with node versions < 4](https://github.com/tmpvar/jsdom/blob/56323fc29e79fb567253d96a77886e41a7a37e03/README.md#install)). ESLint is almost always a devDependency, so it is not critical for prod

[2015-11-20 20:55] nzakas commented on #4490
Duplicate of #4481

[2015-11-20 20:55] #4490 closed

[2015-11-20 21:00] nzakas commented on #4487
Yes, we can add an option that omits uppercase methods from this check.

[2015-11-20 21:03] nzakas commented on #4474
Is there any easy way to determine that?

[2015-11-20 21:05] nzakas commented on #4485
This is related to the larger babel-eslint/escope intersection problems that have cropped up, so not an ESLint issue per se. Since we pull in the latest patch and minor releases of escope automatically, this will be fixed when the escope fix is pushed out and babel-eslint is updated, so there's nothing for ESLint to do here.

[2015-11-20 21:05] #4485 closed

[2015-11-20 21:08] nzakas commented on #4399
@michaelficarra you're assuming users have a much deeper understanding of the language than is typical. When we say "disallow eval", I'd be shocked to see any number of people believe that what we really meant was "disallow direct eval." I've already agreed to add an option so you can make such a distinction if you want, so I'm not sure why you're still debating this.

[2015-11-20 21:25] ilyavolodin commented on #4399
I agree with @nzakas While @michaelficarra has a good point, I know for a fact that every JavaScript developer I ever worked with does not know the distinction between direct and indirect eval, it's just not something you run into on a daily bases.

[2015-11-20 21:30] BelfordZ opened #4492 "consistent-this should allow for extra aliases"
In some cases, it make sense to use two or more names for this alias's.

proposed:
`"consistent-this":  [ 2, "self", { extraAllowedAliases: [ "vm" ] } ]`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28475140-consistent-this-should-allow-for-extra-aliases?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source

[2015-11-20 21:56] ilyavolodin commented on #4492
Can you provide some example when you think it makes sense to use two or more alias?

[2015-11-20 22:10] platinumazure commented on #4492
Why not just have the first rule argument accept an array or a string?

[2015-11-20 22:13] ilyavolodin opened #4494 "Update rules format to allow for metadata"
We would like to add metadata to all of the rules in the repository to allow for automation of documentation creation and other tasks. Current proposal for rule format would be to convert `module.exports` from a function to an object with the following signature:
[code]

This issue is to discuss the new format before converting all of the existing rules. You can see example of the new format in th

[2015-11-20 22:13] mbernardy opened #4495 "Freeze context object"
I don't know if this is an issue with eslint or the react plugin but since my setup broke between using eslint@1.9.0 and 1.10.0 I figured here is probably the right place.

With the relevant sections of my package.json
[code]
eslint installs as version 1.9.0 (obviously) and `npm run lint` runs fine.

If I change the dependencies  (don't touch the lint command) to
[code]
npm installs eslint 1.10.0.

[2015-11-20 22:19] gyandeeps commented on #4495
With eslint `1.10.0` we freeze the context parameter that gets passed to each rule. With that being said the react plugin is trying to add more properties to the context object of each rule.

I think thats what is happening.

[2015-11-20 22:20] ilyavolodin commented on #4492
I would like to first understand the reasoning behind this request. This rule was created specifically so you don't use multiple alias. If you are using multiple alias, it's probably a good idea just to turn off this rule.

[2015-11-20 22:26] nzakas commented on #4495
Eesh, didn't realize the react plugin was extending `context`. It was really not our intention to allow plugins to add arbitrary properties to `context`, as they could collide with existing or future properties.

@yannickcr Can you give us some insights into what you were trying to accomplish with adding this property to `context`?

[2015-11-20 22:26] BYK commented on #4483
+1 to @lo1tuma but also +1 to @mzgol for the graceful approach. Still, my heart is closer to ES6.

[2015-11-20 22:37] oh-ren opened #4496 "indent VariableDeclarator and smart-tabs (possible rule change)"
Derived from https://github.com/eslint/eslint/issues/2077#issuecomment-157352716

When using *smart tabs* (tabs for indent, spaces for alignment) I have to set `indent`'s `VariableDeclarator` to `0`, otherwise, by default, I would get e.g. (first level of indentation): `Expected indentation of 2 tab characters but found 1.` But by setting it to `0`, I'm left without variable declaration indent/ali

[2015-11-20 22:41] BelfordZ commented on #4492
@ilyavolodin
Thanks for reading up my issue.

A specific case where this is useful is in angular, it is considered best practice to use 'controllerAs' in the directive compile object. Most people set this as `vm`. In your controller, rather than including $scope, the pattern is to at the top of your controller, put `let vm = this;`. This makes a lot of sense, vm being the view model, and `this` in

[2015-11-20 22:41] nzakas commented on #4495
In the meantime, I'm going to revert the change that introduced this issue as it was done primarily for performance reasons. We can reintroduce it for v2.0.0 as a breaking change, and that will give us time to figure out a better way for `eslint-plugin-react` to do what it wants to do.

[2015-11-20 22:47] nzakas opened #4497 "Update messages from ESLint Bot"
I've updated the ESLint Bot so it can use EJS templates to create messages on new issues and pull requests. This will let us create more customizable responses based on what is found in the issues/PRs.

Now I just need to update our templates to match.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28479821-update-messages-from-esli

[2015-11-20 22:48] gyandeeps commented on #4497
Nice . :+1:

[2015-11-20 22:56] ilyavolodin commented on #4492
@BelfordZ thanks for the explanation. Could you explain why do you want to keep this rule on in that case? You are not gaining much by doing that.

[2015-11-20 23:05] BelfordZ commented on #4492
@ilyavolodin Currently I am working on a big project with many devs who have been using all kinds of different aliases. self, that, you name it, its there. I want to enforce consistency, but the consistency I want to enforce is not quite singular. Not having the rule would mean it will mean I will have to manually check peoples PRs to make sure they are using either `vm` or `self`.

[2015-11-20 23:07] yannickcr commented on #4495
The idea was to expose some react-specific utility functions for the rules, but yes, it was not a great idea to put them in the context. https://github.com/yannickcr/eslint-plugin-react/pull/324 seems to correctly fix the problem, I will review this and certainly publish a patch release in the following hour.

[2015-11-20 23:12] nzakas commented on #4492
This seems like a pretty low-effort, decent-value change, so I'm :+1:

I'd much prefer, though, that the configuration be:

[code]

[2015-11-20 23:12] happydogcat commented on #4482
Should be. Other than my own devbox, I can repro the same issue on another 2 clean boxes that are clean and nodejs just installed.More interesting, I just tried my code again on one box and after update to the latest 1.10.0 version, the behavior changes with a different error for 2 scenarios on 3 although it still doesn't work:
F:\NodejsSecRun>eslint --format .\package.json --rulesdir f:\NodejsSec

[2015-11-20 23:13] oh-ren commented on #4496
Btw; I do have some doubts about  `VariableDeclarator` being connected to indent level / being a multiplier, why not specify exact number of spaces?
When using smart-tabs I always want 4 spaces for `var` and `let` and 6 for `const`. And it gives me trouble when spaces = 4..
BUT I already noted some discussion going on regarding this.. :) #3339

[2015-11-20 23:15] nzakas commented on #4495
We've also pushed out a fix - we didn't realize this would be a breaking change, so we reverted it. We'll reintroduce in v2.0.0. Since it looks like you have a better solution already, we're all looking good now. :)

[2015-11-20 23:15] BelfordZ commented on #4492
thanks for the vote of confidence @nzakas
What would the schema for that look like? I wanted that configuration pattern too, but I didnt know what the schema for it would be.

[2015-11-20 23:17] platinumazure commented on #4492
@BelfordZ You'll have to do the full object schema and include the config level (i.e., the 0/1/2 for turning on the rule). It's not possible to declare a "rest of array" pattern in JSON Schema as far as I can tell.

[2015-11-20 23:17] BelfordZ commented on #4492
@platinumazure Thanks for the suggestion. The reason I went without the array as first arg is so that configs using older versions wouldnt break.

[2015-11-20 23:19] nzakas opened #4500 "Create downstream automated tests"
We recently introduced a change that broke `eslint-plugin-react` inadvertently. It would be good to have some automation around popular downstream projects to catch these problems faster. We can start with `eslint-plugin-react` and then add more projects if this is successful.

Some things we need to figure out:

- [ ] **When to run the tests?** How do we know we've not intentionally introduced a

[2015-11-20 23:19] BelfordZ commented on #4492
@platinumazure thanks for the tip! I will give that try!

[2015-11-20 23:20] #4497 closed

[2015-11-20 23:20] platinumazure commented on #4492
@BelfordZ Actually I don't know how well it will work since that still requires a varargs construct of some kind.

Worst case, you could have 1 argument to the rule (besides warning level), which can use JSON Schema's "oneOf" to require either a single string or an array of strings. That would be backward compatible with older configurations.

[2015-11-20 23:25] nzakas commented on #4482
Can you run with `--debug` and paste that log here?

[2015-11-20 23:27] nzakas commented on #4482
Also, it looks like you ran `--format package.json`, which will definitely cause an error. Be sure to put a Javascript filename instead.

[2015-11-20 23:28] nzakas commented on #4492
#3265 would make this a lot easier. I'd suggest waiting until that is complete.

[2015-11-20 23:29] mourner commented on #4483
@nzakas can you elaborate more on this? This is potentially a painless set-it-and-forget-it step, where you only care about ES5 when `npm prepublish` script generates transpiled files to push to NPM.

[2015-11-20 23:30] yannickcr commented on #4495
I just published eslint-plugin-react `3.10.0` that should fixes the problem.

[2015-11-20 23:30] ilyavolodin commented on #4500
I think we can try it on commit, but I think better way would be run it only on a master. That might mean that we will have master with broken builds, but that's not the end of the world (just need to make sure we don't do a release with a broken master). `eslint-plugin-react` is by far the most popular plugin out there, but angular, standard and babel are pretty popular too.

[2015-11-20 23:31] oh-ren commented on #3339
Agreed. But as the original issue has been resolved, perhaps a new issue should be created for this?

If `indent` *will* undergo breaking changes, please also consider #4496

[2015-11-20 23:33] nzakas commented on #4483
@mourner No, I'd prefer not to start a debate about preprocessing vs. not. We'd like to use native ES6 or else stick with ES5.

The issue at hand is about when it makes sense to drop support for different Node.js versions. As I said, I don't see us sticking to Node.js's LTS strategy. As @lo1tuma showed, jsdom already did something similar and is, arguably, a much more important part of people's ap

[2015-11-20 23:34] nzakas opened #4501 "Test issue - please ignore"
Just testing the new bot

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28482230-test-issue-please-ignore?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_s

[2015-11-20 23:34] nzakas commented on #4501
Thanks bot, good job.

[2015-11-20 23:34] #4501 closed

[2015-11-21 00:10] alberto commented on #4494
Why not use [jekyll's front matter](http://jekyllrb.com/docs/frontmatter/)?

[2015-11-21 00:45] ilyavolodin commented on #4494
@alberto We are talking about rules them self, not documentation for rules. And rule documentation is not the only place we would want to use metadata in. For example, we can use metadata to provide more information to our online demo, or to auto-generate index page for rules, or to provide more information about the rule on the command line, etc.

[2015-11-21 00:57] ilyavolodin commented on #4495
@nzakas I think we should close this issue and create another one to add performance optimization back for 2.0, since this issue has been already addressed.

[2015-11-21 01:08] mzgol commented on #4483
I'm not sure if jsdom is the best example. It breaks compat with older versions pretty quickly, mostly for two reasons:

1. It uses ES6 features that are necessary to implement new DOM APIs reliably and as close to the spec as possible (e.g. Symbols).
2. jsdom's current maintainer cares mostly about current v8

Also, note that Node.js 4 (and even 5) doesn't give you full ES6, some quite important

[2015-11-21 01:56] nzakas commented on #4495
I'd like to keep this open as the tracking issue for adding it back in and documenting it as a breaking change. This way, we can keep all related commits together through one issue in case we need to track this down again. Maybe we can just change the title of this issue?

[2015-11-21 02:33] impinball opened #4504 "Redeclaring global variables should trigger "no-redeclare", not "no-undef"."
Minimal repro case:

[code]

Expected:

[code]

Found:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28486767-redeclaring-global-variables-should-trigger-no-redeclare-not-no-undef?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2015-11-21 02:50] impinball commented on #4483
Dropping support for these would require that I create a workaround script just to change versions so I can run this. I have to support 0.10 and 0.12 for one of my projects.

[2015-11-21 12:14] mysticatea commented on #4483
@nzakas We have [a online demo](http://eslint.org/demo/), but using ES2015 means dropping support for some browsers (e.g. IE). Is it OK?

[2015-11-21 12:54] Constellation commented on #4481
Published `escope@3.3.0` :)

[2015-11-21 13:42] DavidBruant commented on #4483
One option I haven't seen mentioned here would be to provide eslint as a Docker container. This way, people could use the latest eslint version (based on whatever version of Node you want) without having to worry about the Node version installed on their machine.

This option adds a dependency to Docker for those who are not using recent versions of Node, but allows the eslint team to be as aggres

[2015-11-21 13:45] feross commented on #4483
I don't mind dropping node < 4. But as @mzgol points out, the eslint team should be aware that lots of people still test their code on node 0.10 and 0.12 using Travis (or other CI) and they'll be forced to drop support for these node versions if their tests start failing. Or, they can just lock the eslint version.

[2015-11-21 14:48] michaelficarra commented on #4504
Why not?

[2015-11-21 15:06] ilyavolodin commented on #4504
`toString` is reserved JavaScript keyword and you are trying to override it. While it might not be clear why `no-undef` is the rule that's reporting this issue, it's a valid issue never the less.

[2015-11-21 15:35] nzakas commented on #4504
To be more precise, `toString` exists globally due to `Object.prototype.toString`, so it should behave like any other global.

That being said, `no-undef` should not be making this check as it should be covered by `no-redeclare`. We should fix this for 2.0.0.

[2015-11-21 15:37] nzakas commented on #4462
Closing per discussion on #4465

[2015-11-21 15:37] #4462 closed

[2015-11-21 15:48] nzakas commented on #4483
@mzgol wouldn't locking in on the last working version solve all the problems you mention? They could upgrade as soon as they moved off older Node.js versions.

According to https://github.com/nodejs/LTS/, 0.10 needs to be supported with critical big fixes until October of next year, and 0.12 with critical bug fixes until April 2017... If we follow LTS, won't we need to also follow the maintenance

[2015-11-21 15:49] #3271 closed

[2015-11-21 15:50] nzakas commented on #4500
Running on commit will work so long as we don't have breaking changes. When we do have breaking changes, it will break. Any thoughts on how to deal with that?

[2015-11-21 15:53] impinball commented on #4504
Should there be an option to exclude Object prototype members?

Also, there's a lot of other cases where no-undef is erroneously complaining when other rules should be.

[2015-11-21 15:53] happydogcat commented on #4482
package.json was a typo, here is the debug output:C:\work\nodejs\NodeJSSecRun>eslint -f docuformat.js --rulesdir C:\docusign_source\SecTools\Code\nodejs\NodejsSecRun\eslint\eslint-rules --debug test.js  eslint:cli Running on files +0ms  eslint:cli-engine Loading rules from C:\docusign_source\SecTools\Code\nodejs\NodejsSecRun\eslint\eslint-rules +156ms  eslint:glob-util Creating list of files to pr

[2015-11-21 15:53] nzakas commented on #4494
For additional information: we will still support the original style of rules so as not to break existing plugins, this proposal will be in addition to the current rule format.

One addition that might make sense: what if `fixable` could be more descriptive. For instance, if the value could be "whitespace" or "syntax", we would have the ability to run fixes in waves, the first fix being syntax and

[2015-11-21 15:57] nzakas commented on #4504
Can you explain the other cases?

[2015-11-21 15:59] impinball commented on #4483
I'm probably going to write a short shell script to temporarily switch nvm versions for ESLint exclusively.

[2015-11-21 16:03] nzakas commented on #4482
And what do you see if you do `--f ./docuformat.js`?

Have you made changes to docuformat.js recently? Are you sure it's valid and free of errors?

[2015-11-21 16:05] impinball commented on #4504
I meant other cases like the one above. The rest seem functionally identical to the fact it should be reported by `no-redeclare`. My bad on the part of really bad phrasing.

[2015-11-21 16:09] impinball commented on #4504
I updated the initial post.

[2015-11-21 16:12] nzakas commented on #4496
Sorry, I'm having a hard time following. Can you please clarify what it is you are proposing?

[2015-11-21 16:25] mysticatea commented on #4504
Yes, `no-redeclare: [2, {builtinGlobals: true}]` is catching `var toString = 0`.
And `no-native-reassign` is catching `toString = 0`.

So I think `no-undef` 's message can be removed.

[2015-11-21 16:29] mourner commented on #4483
I agree with @feross and @mzgol, and would suggest to wait at least until May 2016 before dropping 0.12 (which will be in active LTS until that time). You can drop 0.10 now though.

![](https://raw.githubusercontent.com/nodejs/LTS/master/schedule.png)

[2015-11-21 16:31] impinball commented on #4483
@mourner +1

[2015-11-21 17:09] mzgol commented on #4483
@nzakas

I'm not sure if there is any official recommendation but let me repeat what strategy seems sensible to me:

If an app is not developed anymore but only has critical fixes applied then I expect it doesn't need future ESLint versions working as it's not supposed to apply regular dependency updates. If it's still developed it should move from an LTS in Maintenance state to an Active LTS ASAP

[2015-11-21 18:23] mysticatea commented on #4474
Hmm, yes.

I thought variables which satisfies the following conditions can be replaced with `const`.

- There is only one write-reference.
- Other references are inside of the scope (or nested scopes) which has the write-reference.

If there is a read reference outside of the scope which has the write reference, the read reference cannot access the variable after the declaration was moved to the

[2015-11-21 18:48] cjihrig commented on #4483
I think it's also worth pointing out that there is a 6 month overlap where there are two active LTS versions. At the moment, that is 0.12 and 4.2.x (Argon). The purpose of that overlap is to give LTS users an upgrade period. Since Argon is available, and pinning to an older version of ESLint is a perfectly fine option, dropping 0.12 support should be fine.

[2015-11-21 19:08] ilyavolodin commented on #4494
Sure that sounds good. Do we want to define a map somewhere with allowed values, or just deal with strings?

[2015-11-21 19:21] sanemat opened #4507 "v1.10.0 breaks command line `--ignore-pattern` behavior"
v1.9.0 and earlier accepts command line option `--ignore-pattern` with `{}` like `--ignore-pattern "foo-{bar,baz}.js"`.
But v1.10.0 or newer does not accept `--ignore-pattern "foo-{bar,baz}.js"`.
Both v1.9.0 and v1.10.0 accepts `--ignore-pattern "foo-bar.js"`.

Is this expected behavior?

[code]

#### reproducing repository

https://github.com/sanemat/eslint-ignore-pattern

[code]

[code]

[code]

[2015-11-21 20:00] oh-ren commented on #4496
I'm proposing:

1. make the `indent` rule able to validate smart-tabs;
2. make the `no-mixed-spaces-and-tabs` rule obsolete by making it part of the `indent` rule;
3. make `VariableDeclarator` take an absolute value, instead of an indent-width multiplier.

Mainly this issue is about #1 though. #3 is being discussed in issue #3339, but that one is closed already, as the original issue has been reso

[2015-11-21 20:17] happydogcat commented on #4482
As I mentioned earlier, I tried all possible path formats, all give the same "could not find formatter" error.The format file used hasn't been changed for 5 months, as you can see the time stamp shown by the output:06/12/2015  10:16 AM             2,840 docuformat.js

Just last week I can still run the complete command successfully with the original 0.21.0 version, then found out this issue when I

[2015-11-21 20:34] nzakas commented on #4507
A change was made to allow me than one pattern to be passed, but that shouldn't have caused such a change. Definitely a bug.

[2015-11-21 20:56] XeeD opened #4508 "no-spaced-func: Cannot read property 'value' of undefined"
ESLint 1.10.1 fails on this code:

[code]

Version 1.9.0 works correctly and parses the code without any problems.

Stack trace:
[code]

Node version: 4.2.1

Thanks for help!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28501854-no-spaced-func-cannot-read-property-value-of-undefined?utm_campaign=plugin&utm_content=tracker%2F282608

[2015-11-21 21:04] nzakas opened #4509 "Test issue - please ignore"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28502007-test-issue-please-ignore?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github).
</bountysou

[2015-11-21 21:05] #4509 closed

[2015-11-21 21:06] nzakas opened #4510 "Test issue - please ignore"
Once more, just to double check.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28502020-test-issue-please-ignore?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issu

[2015-11-21 21:06] #4510 closed

[2015-11-21 21:22] ilyavolodin commented on #4508
Looks like this might be a regression. @mysticatea could you take a look?

[2015-11-21 21:33] dtothefp commented on #4481
@nzakas any plan to bump escope to 3.3.0

[2015-11-21 22:13] gyandeeps commented on #4481
Reinstall eslint, you would get escope `3.3.0`.

[2015-11-21 22:39] ariporad opened #4511 "Required Comment rule"
Hi! Thanks for making something as awesome as ESLint.

I've come to request a "required comment" rule. My use case is to require a comment at the top of each file with a licensing header.

With this rule properly configured to require the comment `MyApp by MyCorp. Licensed under the MIT License`, the following are errors (imagine that each example is the entire file:

[code]

[code]

[code]

[code

[2015-11-21 22:40] platinumazure commented on #4511
This sounds like a great use case for a plugin. Not sure it would fit in
core ESLint.
On Nov 21, 2015 4:39 PM, "Ari Porad" <notifications@github.com> wrote:

[2015-11-21 22:54] ariporad commented on #4511
@platinumazure: Ok, how would I go about making a plugin for this?

[2015-11-21 22:59] platinumazure commented on #4511
Check out the [plugin guide][1] to get started. In your case, you can skip processors and just focus on making rules. You can find examples of plugins on NPM (using "eslint-plugin" keyword search) or GitHub.

[eslint-plugin-backbone][2] is a great example maintained by one of the core team of this repository.

  [1]: http://eslint.org/docs/developer-guide/working-with-plugins.html
  [2]: https://g

[2015-11-22 00:33] brettz9 opened #4512 "Merge variable rules into other sections of docs"
Hi,

I think your rules are now mostly well-categorized, but I would suggest a fully "faceted browsing" approach, i.e., more mutually exclusive categories, except where there is very good reason to separate a category out.

As it is currently, I think that you currently have two good, coherent high-level facets, namely, the degree of seriousness (Possible Errors, Best Practices, and Stylistic Issu

[2015-11-22 06:02] BerkeleyTrue opened #4513 "argument destructuring and rest params triggers no-redeclare rule twice."
eslint v1.10.1 (seen in 1.9.0 as well)

Code
[code]

Expected no lint warnings.
Actually got lint warnings:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28507726-argument-destructuring-and-rest-params-triggers-no-redeclare-rule-twice?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We

[2015-11-22 09:13] rvagg commented on #4483
It might be worth prodding at the Hapi strategy for dealing with this. I quite like the approach being promoted there: https://github.com/hapijs/hapi/issues/2765 — forward progress but throwing a bone to folks stuck on old versions. You could probably even get someone who is more invested in older versions of Node to put up their hand to maintain an LTS ESLint branch. Also, npm are doing a similar

[2015-11-22 10:58] lo1tuma commented on #4483
I’ve never seen a developer tool which has a LTS version. Why not running ESLint with a different node version (or `babel-node`) than your production code, like @impinball suggested?

[2015-11-22 13:36] mzgol commented on #4483
@rvagg npm 3 supports Node >= 0.8 so it's a little different... Also, npm 2 is included in Node 4 so the obligation to keep the old version of npm working & patched is higher.

[2015-11-22 15:11] nzakas commented on #4513
Are you using babel-eslint?

[2015-11-22 15:24] nzakas commented on #4483
@rvagg I'm really interested in avoiding needing to maintain two versions. The team just isn't big enough to be able to absorb that level of overhead, even if someone stepped forward to volunteer.

@mzgol you make some good points. I can definitely buy that support during the maintenance period can be handled via version pinning as people transition off older versions.

@DavidBruant The Docker app

[2015-11-22 15:25] nzakas commented on #4511
Agreed, this is pretty personal, so you're better off creating a custom rule.

[2015-11-22 15:25] #4511 closed

[2015-11-22 15:28] nzakas commented on #4482
As I mentioned, I am unable to reproduce the error locally with a test setup. Any chance you can share docuformat.js?

Also, what shell are you using? Do you have ESLint installed globally or locally?

[2015-11-22 15:29] nzakas commented on #4494
I think strings are OK.

[2015-11-22 15:38] beenokle commented on #4513
We are faced with the same issue
eslint 1.10.1
babel-eslint 4.1.5

[2015-11-22 15:49] nzakas commented on #4513
Duplicate of #4481. Please reinstall ESLint.

[2015-11-22 15:49] #4513 closed

[2015-11-22 15:53] nzakas opened #4515 "Shrink wrap dependencies?"
We just had an issue (#4481) where a dependency patch upgrade introduced a problem for some users. I'm wondering if it makes sense to shrink wrap our dependencies so this doesn't happen in the future?

The advantage of doing so is that we can know with 100% certainty which versions of which dependencies people are using. The disadvantage is that we will need to pay close attention to patch and min

[2015-11-22 16:07] platinumazure commented on #4515
I think the current approach is fine, but it would be a good idea to bump a
dependency after a patch version comes out when there is a known issue. In
the example you gave, escope would be bumped above the problematic version
when it is known that the new patch version is good, and ESLint would do a
patch release for that.

Right now, it's possible to have someone directly consume the problematic

[2015-11-22 16:16] happydogcat commented on #4482
I installed eslint globally. I figured out a workaround by copy my custom file into the format system location. I think this is a bug introduced in 1.9.0(or some earlier version) but it works fine in 0.21.0.It's not related with my custom formatter. I can repro the bug in the following way:C:\work\nodejs\NodeJSSecRun>copy C:\Users\xun.he\AppData\Roaming\npm\node_modules\eslint\lib\formatters\styli

[2015-11-22 17:05] ilyavolodin commented on #4483
I'm impartial either way, but it sounds like supporting 0.12 till May might be a good idea and would lessen the stress on consumers. So I'm for that.

[2015-11-22 17:06] ilyavolodin commented on #4494
Sounds good. I'll modify original post.

[2015-11-22 19:44] alberto commented on #4483
I'm in favor of dropping it sooner than later, since there are alternatives for people running on old node versions (staying on eslint 1.x, or running it through nvm or docker).

For people mantaining packages for multiple node versions, do they really need to run eslint for all of them?

[2015-11-22 19:47] andy-hanson opened #4516 "Confusing wording for location of no-fallthrough"
Here's the code I'm linting:

	function f() {
		switch (0) {
			case 1:
				console.log(2)
				break
			case 3:
				console.log(4)
			case 5:
				console.log(6)
		}
	}

And here's my package.json:

	{
		"scripts": {
			"lint": "eslint src"
		},
		"devDependencies": {
			"eslint": "1.10.0"
		},
		"eslintConfig": {
			"rules": {
				"no-fallthrough": 1
			}
		}
	}

I get the following output:

	/hom

[2015-11-22 21:13] dtothefp commented on #4481
@Constellation as far as I can tell this issue is still not resolved with `3.3.0`. Made a demo repo here

https://github.com/dtothefp/escope-broken

I am using `babel-eslint` as @nzakas suggests, but as far as I can tell it just references the local `escope` https://github.com/babel/babel-eslint/blob/master/index.js#L40. I'm happy to move this conversation to another repo if it is not appropriate

[2015-11-22 22:23] maximilianschmitt opened #4518 "Is this an error? Expected indentation of 6 spaces but found 4"
Hi, I'm getting the following error:

![screen shot 2015-11-22 at 23 18 51](https://cloud.githubusercontent.com/assets/3694962/11326679/a626bc2a-916f-11e5-8b35-ac264482e7d6.png)

The formatting looks correct to me. My `.eslintrc`:

[code]

My versions:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28520198-is-this-an-error-

[2015-11-22 22:24] #4518 closed

[2015-11-22 22:25] maximilianschmitt commented on #4518
Sorry, I should have used standard-react instead of react.

[2015-11-22 22:46] mysticatea commented on #4508
Oh, I'm sorry.
I'm working on this.

[2015-11-22 23:06] alberto commented on #4516
Should we fix the message or error line reported?

[2015-11-22 23:24] mzgol commented on #4483
@alberto

Theoretically they don't. But it's not always that simple; sometimes ESLint is invoked deep in the test pipeline, sometimes as a Grunt task etc. In these cases you'd often have to create extra logic inside your code to exclude running ESLint on older Nodes. It's not (usually) terribly hard but it is still additional work done purely for ESLint.

[2015-11-22 23:28] rvagg commented on #4483
My personal position is that I'd rather see packages drop support for <= 0.12 entirely at this stage. They are _old_ (0.12 not so much in terms of years but definitely in terms of distance from where Node is now) and difficult to maintain and I'm happy for the upgrade pressure to be applied to the community.

However, having said that, I'm concerned about the same logic being applied to v4.x into

[2015-11-22 23:51] mysticatea commented on #4516
I also felt odd the message while #4251.
I think changing the location is fine, because it's near to actual mistaken location.

[code]

[2015-11-23 00:01] mysticatea commented on #4504
At the same time, I want to set `{builtinGlobals: true}` of `no-redeclare` by default. Thought?

[2015-11-23 00:21] kaicataldo commented on #4436
I'd like to take a crack at this one, though might be a little delayed due to upcoming holidays.

[2015-11-23 00:40] andy-hanson opened #4520 "brace-style for object literal in if-else"
Here's the code I'm linting:

	function f() {
		if (true)
			return {x: 1}
		else {
			var y = 2
			return y
		}
	}

Here's my package.json:

	{
		"scripts": {
			"lint": "eslint src"
		},
		"devDependencies": {
			"eslint": "1.10.1"
		},
		"eslintConfig": {
			"rules": {
				"brace-style": 1
			}
		}
	}

I get the following output:

	/home/andy/git/ESLINT/src/foo.js
	  4:7  warning  Closing curly

[2015-11-23 00:58] andy-hanson opened #4521 "no-use-before-define is too strict for function bodies"
Here's the code I'm linting:

	function f() {
		return one
	}
	var one = 1

Here's my package.json:

	{
		"scripts": {
			"lint": "eslint src"
		},
		"devDependencies": {
			"eslint": "1.10.1"
		},
		"eslintConfig": {
			"rules": {
				"no-use-before-define": 1
			}
		}
	}

I get the following output:

	/home/andy/git/ESLINT/src/foo.js
	  2:9  warning  "one" was used before it was defined  no-use-

[2015-11-23 01:00] platinumazure commented on #4521
Just out of curiosity, what's wrong with moving the variable declaration
up? That's the whole point of the rule after all- make it easier to find
variables by putting the declaration/definition first.
On Nov 22, 2015 6:58 PM, "ESLint Bot" <notifications@github.com> wrote:

[2015-11-23 01:30] ilyavolodin commented on #4500
Do we want to lock down specific version of plugins? Because otherwise, commits might break due to the changes in plugin, and not in our code. Also, no idea how to deal with breaking changes. I don't think Travis allows for downstream builds (as in run this build after the main build, but don't block the main build if this one files?)

[2015-11-23 02:41] andy-hanson commented on #4521
My context is within a module where the two declarations may be far apart. I like to put exports at the top, and things that they depend on at the bottom. It looks like this:

	// public stuff

	export function double(x) {
		// bad optimization
		return commonDoublings.get(x) || 2 * x
	}

	// private stuff

	const commonDoublings = new Map([[1, 2], [2, 4], [3, 6], [4, 8]])

[2015-11-23 02:41] janpaul123 commented on #3435
Ping, it has been a few weeks. Would love to see this get merged! :)

[2015-11-23 03:15] IanVS commented on #3435
@nzakas, I missed this before, but I think that principle of least surprise dictates that this should be an option, not a default.

[2015-11-23 04:13] mysticatea opened #4523 "Rule Proposal: `no-unmodified-loop-condition`"
In a loop condition, if there is a variable which is not modified in the loop body, probably it's mistake.
So this rule reports unmodified variables in a loop condition.

The following patterns are considered problems:

[code]

The following patterns are considered not problems:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2015-11-23 04:24] mysticatea commented on #4108
I'm working on this.

[2015-11-23 04:32] #4508 closed

[2015-11-23 04:34] platinumazure commented on #4523
What about if you're checking an object property and passing the object to
a function that could modify it? The modification of that property would
not be detectable via static analysis, yet it may well be modified by this
other function. (Note that I'm talking specifically about property changes-
I'm well aware that reassignments to a parameter don't have any side effect
in the calling function.)

[2015-11-23 04:35] ilyavolodin commented on #3435
I think I would go with an option too.

[2015-11-23 04:38] ilyavolodin commented on #4523
Agree with @platinumazure Your first example in the invalid section has a good chance of modifying `node` inside `doSomething` function (if `node` is a complex type)

[2015-11-23 04:40] platinumazure commented on #4523
Maybe it could work if the loop condition checks an identifier only?
On Nov 22, 2015 10:38 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-11-23 04:41] ilyavolodin commented on #4523
I think it can be done they way @mysticatea proposes with an additional option to clear any condition variable that is passed as a parameter of a function call inside the body of the loop.

[2015-11-23 05:44] mysticatea commented on #4523
I'm thinking this rule does not support object properties in this time.
It just checks `escope.Reference` and there are write references in the loop.

[2015-11-23 07:36] XeeD commented on #4508
@ilyavolodin @mysticatea  Thank you!

[2015-11-23 08:53] iamstarkov commented on #4263
@nzakas thank you for release!

[2015-11-23 08:57] smashercosmo commented on #4481
Issue is still relevant for 1.10.1

[2015-11-23 14:10] #4452 closed

[2015-11-23 15:59] xjamundx commented on #4483
A couple of quick things:

- PayPal will probably be on 0.10 until Feb. or so. (then move to node 4)
- ES6 features in node 4 are still fairly limited (no destructuring, rest/spread, default params, etc. let doesn't even work properly). Those are my go-to features. What features are we planning to really adopt? (Generators/Promises might be interesting, but would result in a pretty huge API change

[2015-11-23 16:07] lo1tuma commented on #4483
IMHO this is a completely different discussion, as ESLint is a developer tool which doesn’t face any enduser of production which has ESLint in its pipeline. Also I don’t see a reason why the node versions for production and for executing ESLint have to be the same, just use `nvm exec 5 ./node_modules/.bin/eslint`.

[2015-11-23 16:11] xjamundx commented on #4483
@lo1tuma that's not realistic where I work, I don't have much control over my CI environment or my production environment. I'm currently working hard to get the whole company to move to `eslint` and I'm worried something like this will get everyone to be a bit skittish about such a move. It will probably still happen, but it will take a lot more work if we also have to modify all of our CI environ

[2015-11-23 16:36] nzakas commented on #4481
Please follow up with babel-eslint, there's little we can do on our side.

[2015-11-23 16:52] nzakas commented on #4483
@rvagg this is why I'm not proposing anything other than his we drop < 4, I'd like to see what the expectations, upgrade cycles, and community sentiment around both are prior to establishing a formal policy.

@xjamundx stuff like Maps and Weakmaps will help a lot and could speed us up. Promises are also a big one. There's plenty in Node.js 4 that could have a tangible effect on us.

What would mak

[2015-11-23 16:53] #4516 closed

[2015-11-23 16:56] nzakas commented on #4521
This is exactly the case the rule is intended to catch. It has nothing to do with whether or not a variable is accessible during runtime, it's if the definition comes before usage in the source code.

Since your style involves having private declarations after public ones, you should disable this rule.

[2015-11-23 16:56] #4521 closed

[2015-11-23 17:27] #4491 closed

[2015-11-23 17:33] ilyavolodin commented on #4512
I think `no-undef` and `no-shadow-restricted-names` makes sense for `Possible Errors`. However, `no-delete-var` seems like it would be misplaced there, since deleting a var just isn't going to do anything, and would be unlikely to cause any errors. It just means user doesn't really understand functionality of `delete` keyword.

I'm not sure I follow 100% the rest of what you are suggesting. Do you

[2015-11-23 17:42] gyandeeps commented on #4507
Update:

I think its a problem with `optionator` project

if this is the argument provide `"eslint --ignore-pattern \"raise-{warning,foo}.js\" ."`
Optionator creates an array of ignore patterns in this format
[code]

Since we switched the option definition from `string` to `[string]` array of string

[2015-11-23 18:29] nzakas commented on #4507
@gkz is there any way to avoid splitting the option value on the comma?

[2015-11-23 18:41] nzakas commented on #4500
We'd need to include the downstream tests in our build.

Locking down the versions could make sense, but then we'd have to manually update all the time.

[2015-11-23 18:41] nzakas commented on #4504
Why?

[2015-11-23 18:46] nzakas commented on #4520
Confirmed. This appears to be a problem only when there's no semicolon before the `else`

[2015-11-23 18:48] nzakas commented on #4436
Okay, we may need to get it fixed before the holidays, so just comment back here when you start.

[2015-11-23 18:51] mzgol commented on #4483
@rvagg

Is there any difference between an Active LTS and one in Maintenance phase from the perspective of package authors then? Node.js 4 will have similarly old v8 when Node 6 gets released as Node 0.12 (its v8 went stable on 2014-10-07) has now. Supporting it through Maintenance phase as well would mean having to work on v8 that's 3 years old (and up to 4 Node versions), that seems a lot consid

[2015-11-23 18:51] nzakas commented on #3435
@janpaul123 there's no open PR for this.

Okay, let's go for an option. Suggestions for a name?

[2015-11-23 18:52] gyandeeps commented on #4520
This might behave correctly with `acorn`.

[2015-11-23 18:54] nzakas commented on #4520
I'm not sure that's true. I think the rule is just looking at the token before `else`

[2015-11-23 19:28] brettz9 commented on #4512
Sure, I will see if I can make some time in the next couple of days for such a PR. As far as `no-delete-var`, the reason I put it there is because, if the developer is expecting such `delete` usage to have an effect, they may have possible errors in their code design (e.g., if they are say type-checking the supposedly deleted variable and expecting `undefined`).

[2015-11-23 19:29] jcostello84 opened #4527 "if (!requireReturn && !functionData.returnPresent && tag.type.name !=="
Hello!

I am getting a weird error when trying to lint some js files, and I am not sure how to proceed. I am using the following version: ```eslint -v: v1.10.1```

I am executing the following command:
```eslint -f jslint-xml pwd/file.js > ~/Desktop/jslint.xml ```

I am getting this result:
[code]

[2015-11-23 19:36] gyandeeps commented on #4527
Here is my guess, look for jsdoc i your code where you have a return with no type or description.
Maybe something like this:

[code]

[2015-11-23 19:47] dbazile opened #4529 "Global eslint can't find locally installed plugins"
Not sure if this is a bug or intended behavior.

I have `eslint` installed globally and it doesn't pick up plugins installed locally.  For example:

[code]
node | npm | eslint
--- | --- | ---
5.1.0 | 3.3.12 | 1.10.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28546514-global-eslint-can-t-find-locally-installed-plugins?utm_campaig

[2015-11-23 19:55] Slayer95 commented on #4523
It can:
[code]

[2015-11-23 20:22] nzakas commented on #4529
Intended behavior. Global installation requires global plugins.

[2015-11-23 20:22] #4529 closed

[2015-11-23 20:23] #4520 closed

[2015-11-23 20:24] #4527 closed

[2015-11-23 20:29] ilyavolodin commented on #3435
`excludePrivate`?

[2015-11-23 20:30] ilyavolodin commented on #4512
Good point on the expectation, that might happen.

[2015-11-23 20:31] ilyavolodin commented on #4523
@Slayer95 We wouldn't be able to catch that though static analysis anyways. The example I had in mind was more like:
[code]

[2015-11-23 20:34] IanVS commented on #3435
`exceptThis`?

[2015-11-23 20:39] mysticatea commented on #4523
@Slayer95 Ah, I see. That pattern is analyzed correctly by escope, so we can catch it with `escope.Reference ` simply.

@ilyavolodin Parameters in JS is not pointers of C :)

[2015-11-23 20:41] nzakas commented on #4507
@sanemat while we are trying to get this straightened out, you can work around the issue by putting a slash before the comma ("\,").

[2015-11-23 20:51] gyandeeps commented on #4507
I dont think backslash before the comma `\,`would fix the problem.  What you can do right now is
[code]

[2015-11-23 20:59] mysticatea commented on #4504
Because now `no-undef` is catching it by default.

[2015-11-23 21:20] gyandeeps commented on #4436
This never handled `ForInStatement`. So I am not sure if we should flag this as a bug or an enhancement.

[2015-11-23 21:26] janpaul123 commented on #3435
@nzakas I was referring to https://github.com/eslint/eslint/pull/3822, but an option for this seems reasonable!

[2015-11-23 22:49] just-boris commented on #3435
Well, this is what I did at first, but then @nzakas asked me to rewrite it without option.
:disappointed:

[2015-11-23 22:53] jcostello84 commented on #4527
@gyandeeps Thanks so much!

[2015-11-23 23:40] gyandeeps commented on #4527
:+1:

[2015-11-23 23:59] AndrewRevinsky opened #4531 "Destructuring assignment and spread operator break no-undef rule"
In the ES6 code:

[code]

..usage of the object `rest` is highlighted with error. Babel-node eats it just fine, though.

Eslint (`.eslintrc`) settings are:
[code]

Babel's (`.babelrc`) are:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28553309-destructuring-assignment-and-spread-operator-break-no-undef-rule?utm_campaign=plu

[2015-11-24 00:28] nzakas commented on #4531
What do you mean by "highlighted in red"? Does your editor support this syntax?

Please note the information requested in the previous comment.

[2015-11-24 01:13] gkz commented on #4507
@nzakas I'll look into it

[2015-11-24 02:44] ronkorving opened #4532 "User guide first mentions eslintrc, but not its extensions"
In the very first bullet list on http://eslint.org/docs/user-guide/configuring, configuration file names are mentioned, but the newly supported file extensions are not. I found this a bit confusing.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28556167-user-guide-first-mentions-eslintrc-but-not-its-extensions?utm_campaign=plugin&u

[2015-11-24 02:44] rvagg commented on #4483
You're correct, sorry. 0.12 has been really hard to manage and it's effectively close to maintenance now. We'll still be caring for it (I've been poking at a potential memory leak in the last couple of days with 0.12 actually) but we'd prefer that people find an upgrade path asap. The end-of-2016 thing for 0.12 is strictly about losing OpenSSL support then, we can't be responsible for it if OpenSS

[2015-11-24 08:27] albertosantini opened #4533 "no-use-before-define edge case"
I get the following error

`4:5  error  "baz" was used before it was defined  no-use-before-define`

Notice the same function commented.
That version doesn't raise the error.

Do we consider it a legit case of `no-use-before-define` or an edge case "won-t fix" or anything different?

The real case is json_parse function in https://github.com/douglascrockford/JSON-js/blob/master/json_parse.js.

Wit

[2015-11-24 08:32] raulmatei commented on #4481
Hi guys,

It looks like we've had the same issue on some machines that we're running older version of NPM (2.x). Upgrading to 3.3.x seems to solve the issue. I'm not sure how this two relates with each other, We're running latest version of ESLint from Gulp and all other deps are to their latest versions.

[2015-11-24 09:51] nikogu opened #4534 "escope update to v3.3.0 eslint throw a error"
https://github.com/estools/escope/issues/91

because ^3.2.0 - > 3.3.0....

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28562685-escope-update-to-v3-3-0-eslint-throw-a-error?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm

[2015-11-24 12:12] wrak commented on #4534
I have a same issue. After escope new release (since 3.2.1), eslint stopped work with these erroros

[code]

[2015-11-24 12:33] platinumazure commented on #4534
Should be fixed with escope 3.3.2. Uninstall and reinstall ESLint to get
you going again. We're discussing how to handle this sort of thing going
forward in another issue.
On Nov 24, 2015 6:12 AM, "Pavel Rak" <notifications@github.com> wrote:

[2015-11-24 12:37] platinumazure commented on #4533
Function declarations (your commented version) are hoisted. Function
expressions are not, but the variable declaration is. Your uncommented
version is equivalent to the following:

[code]

The rule is stylistic and meant to catch cases where a variable use comes
before its definition and the rule is working as designed.
On Nov 24, 2015 2:28 AM, "ESLint Bot" <notifications@github.com> wrote:

[2015-11-24 12:51] platinumazure commented on #4534
#4515 is the issue where discussion is occurring. Not a lot of discussion just yet but give it time :-)

[2015-11-24 13:50] jakubholynet opened #4535 "space-before-function-paren: <object> is invalid configuration"
According to http://eslint.org/docs/rules/space-before-function-paren.html, this should be legal: `"space-before-function-paren": {"anonymous": "never", "named": "always"}`. However `eslint myfile.js` fails with

[code]

`eslint --version => v1.10.1`

And `.eslintrc`:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28568764-s

[2015-11-24 13:52] jakubholynet commented on #4535
I see my error now; the config should have been

[code]

[2015-11-24 13:52] #4535 closed

[2015-11-24 14:16] gajus opened #4536 "Rule: no-const"
The current `const` (https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/const) implementation only protects variable from overwriting a reference. It does not make it immutable. For this reason I would like to avoid in my codebase.

The rule should restrict use of ES6 `const` keyword.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bo

[2015-11-24 15:01] #4533 closed

[2015-11-24 15:37] gajus opened #4537 "Rule: newline-per-var"
This rule should warn when multiple variables are declared on the same line.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28572525-rule-newline-per-var?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=is

[2015-11-24 15:38] gyandeeps commented on #4537
Possible duplicate https://github.com/eslint/eslint/issues/1622

[2015-11-24 15:40] gajus commented on #4537
@gyandeeps it isn't.

That rule considers the following example valid.

[code]

[2015-11-24 15:42] gyandeeps commented on #4537
Read the discussion at the bottom. We did talk about a lot of things.
Is its not an exact duplicate but for sure this issue is a variation of #1622

[2015-11-24 16:11] gajus opened #4538 "Rule: newline-per-method [$50]"
Require that each method is on a separate line.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
There is a **[$50 open bounty](https://www.bountysource.com/issues/28573889-rule-newline-per-method?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** on this issue. Add

[2015-11-24 16:20] nzakas commented on #4536
You should make a custom rule for this.

[2015-11-24 16:20] #4536 closed

[2015-11-24 16:23] gajus commented on #4536
What are the guidelines for determining what belongs in a custom rule and what belongs on its own?

[2015-11-24 16:23] nzakas commented on #4536
There's a link in the first comment.

[2015-11-24 16:26] gajus commented on #4536
@nzakas I have read that multiple times. The only requirement that this proposal is (potentially) not meeting is:

Is that what you are referring to?

[2015-11-24 16:29] nzakas commented on #4538
@gajus I think this will be too difficult to implement in a way that won't clash with `indent`. I'd suggest trying to write it yourself and let us know how it works when `indent` is enabled.

[2015-11-24 16:30] gajus commented on #4538
@nzakas How would it clash with `indent` rule?

The reason I am asking is because I am using `indent` rule and the latter example is how I am structuring all my code already. It is just not enforced.

[2015-11-24 16:33] nzakas commented on #4536
Rules are evaluated on a case-by-case basis. We made a decision a while ago to not keep creating rules that disallow specific language features. We made `no-restricted-syntax` to cover most cases. Anything else needs to be a custom rule.

This proposed rule would also conflict with existing rules.

[2015-11-24 16:34] gajus commented on #4536
Thank you. I forgot about `no-restricted-syntax`.

[2015-11-24 16:34] nzakas commented on #4538
As I said, please try writing it yourself and see what happens. It might be okay, but it might not.

[2015-11-24 16:35] nzakas commented on #4534
For everyone who might find this issue: this is a babel-eslint problem, not an ESLint problem.

[2015-11-24 16:38] nzakas commented on #3435
@janpaul123 yup, that PR is closed.

@just-boris I'm sorry, sometimes that happens when discussing solutions. That's why we recommend people wait until the discussion concludes before starting to implement something. We mark issues with the "accepted" label when they are ready for implementation.

[2015-11-24 16:39] nzakas commented on #4436
It's a bug. There's no logical reason we shouldn't cover for-in. It's an accident, for sure.

[2015-11-24 16:41] nzakas commented on #4504
Ah, so you're saying if we changed `no-redeclare`, we could keep the same behavior?

[2015-11-24 16:44] nzakas commented on #4523
Can you tell if the variable is modified inside the loop vs. Outside the loop?

[code]

[2015-11-24 16:47] just-boris commented on #3435
Well, now issue has `accepted` label. And what's the final conclusion about property name?
It matters for me, because I already using my fork and I want to switch back to master as it will be possible

[2015-11-24 16:47] nzakas commented on #4496
Thanks, that helps.

`no-mixed-spaces-and-tabs` might be able to be merged into `indent`. I'm not sure changing indent to support smart tabs. @gyandeeps ?

[2015-11-24 16:49] nzakas commented on #3435
We are still trying to determine the option name (see last couple comments).

I think I like `allowThis` the best. What does everyone else think?

[2015-11-24 16:50] gajus commented on #4536
@nzakas For the record, `no-restricted-syntax` does not work in this case.

https://gitter.im/eslint/eslint?at=565492e2f59a8f0758a6765c

[2015-11-24 16:54] gyandeeps commented on #4496
**Idea:** Sounds good.

**Implementing:** I have not given it much thought but from the nature of indent calculations and other complicated stuff, seems beyond the reach (Guesstimating here as we have to actually try some implementation before we can say anything).

**Current Status:** We have so many pending items for indent rule (bugs and enhancements), I am not sure if this would ever get done.

[2015-11-24 16:56] just-boris commented on #3435
As for me, `true` value of the option should enable dangles after `this`. So, `allowThis` is ok.

[2015-11-24 17:36] eTorAken opened #4539 "What "enabling support for ECMAScript 6" really means?"
Sorry for this question, but we are using ES6 in our code (and using `for of` statements) but when I set the `ecmaFeatures.forOf` to `false`, nothing seems to change.

We are using eslint@1.10.1

Could someone enlight me please?

[2015-11-24 18:15] nzakas commented on #4539
ecma Features enable individual features for the language. `forOf` enables the `for-of` loop (when false, using `for-of` is a syntax error. See http://eslint.org/docs/user-guide/configuring.html#specifying-language-options

[2015-11-24 18:15] #4539 closed

[2015-11-24 19:14] ilyavolodin commented on #3435
`allowThis` sounds good to me.

[2015-11-24 20:03] matanh-tzmedical opened #4540 "--fix ((expression) != 0)"
Using --fix with an expression like this:
[code]
Produces:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28581048-fix-expression-0?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-11-24 20:05] platinumazure commented on #4540
Hell. I'll take a look.
On Nov 24, 2015 2:04 PM, "ESLint Bot" <notifications@github.com> wrote:

[2015-11-24 20:06] matanh-tzmedical commented on #4540
Thanks
Let me know if you need any more info.

ESLINT v1.10.1

[2015-11-24 23:20] kaicataldo commented on #4436
I'll take a look at this tonight, as long as no one else has claimed it :)

[2015-11-25 00:03] scinos commented on #1086
Any plans to merge this in ESLint?

[2015-11-25 00:11] platinumazure commented on #4540
Just to confirm, this is for eqeqeq, right?

[2015-11-25 00:16] matanh-tzmedical commented on #4540
Right, this is what I get with --debug
[code]

[2015-11-25 00:35] nzakas commented on #4540
@matanh-tzmedical can you please provide your full ESLint config?

[2015-11-25 00:36] nzakas commented on #1086
@scinos we are looking for someone to volunteer. Interested?

[2015-11-25 00:39] matanh-tzmedical commented on #4540
https://gist.github.com/matanh-tzmedical/7a3162f3c128514ccb65

[2015-11-25 01:39] jonkoops commented on #4483
An LTS version of Node v0.12 [has just been released](https://nodejs.org/en/blog/release/v0.12.8/), it will as LTS until the end of 2015 and in maintenance until end of 2016.

[2015-11-25 01:45] mzgol commented on #4483
@rvagg You wrote in the blog post that 0.12 active state ends at the end of 2015, as you wrote here before. Could you correct it?

[2015-11-25 02:02] #4534 closed

[2015-11-25 03:30] josh opened #4542 "Rule: prevent global scope var/function pollution"
I feel a little dumb asking this, but is there already a rule for preventing `var` and `function` global scope leaks in browsers?

The following patterns are considered problems:

[code]

The following patterns are considered not problems:

[code]

[code]

Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28590518-rule-prevent-

[2015-11-25 03:57] voithos commented on #2194
This appears to have had a regression, unless I'm doing something wrong. I'm running into the message using latest `gulp-eslint`, but am also able to reproduce it with `eslint` standalone.

[code]

[2015-11-25 04:58] #4436 closed

[2015-11-25 06:35] lo1tuma commented on #2194
@voithos this is the expected behavior, the semicolon in your example isn't necessary.

[2015-11-25 09:30] eTorAken commented on #4539
Thanks for your answer @nzakas but it seems that `ecmaFeatures.forOf` set to `false` does not throw any syntax error.

I'm using this code:
[code]

Running `eslint` (v1.10.1) does not throw anything here.

[2015-11-25 12:14] gajus commented on #4538
@nzakas cool bot.

[2015-11-25 16:57] nzakas commented on #4539
You probably are using either the es6 environment or babel-eslint. Both will override that setting.

[2015-11-25 17:00] nzakas commented on #4542
What do you mean by "global scope leaks"? Do you mean you want a warning whenever a global variable is defined?

[2015-11-25 17:01] nzakas commented on #3435
OK, let's do it

[2015-11-25 17:11] nzakas commented on #4538
Bountysource does it when a bounty is applied. Does this mean you aren't going to try writing this yourself? (This issue isn't accepted at this point, which means we aren't committed to doing it.)

[2015-11-25 17:12] josh commented on #4542
Yeah, without an explicit `window` or `self` assignment.

Its pretty common for developers to leak global helper functions if they are working outside an IIFE scope.

[code]

Suggest using an IIFE if they didn't mean for `onClick` to be global. And if they did, they should explicitly assign it as a `window` property.

[2015-11-25 17:13] michaelficarra commented on #4542
Only through top-level declarations in a script.

[2015-11-25 17:13] josh commented on #4542
Yep.

[2015-11-25 17:15] josh commented on #4542
@michaelficarra still used to the CoffeeScript world were a file based IIFE is implied 😄

[2015-11-25 17:20] eTorAken commented on #4539
You are right. TY

[2015-11-25 17:21] michaelficarra commented on #4542
@josh Is GitHub finally dumping CoffeeScript?

[2015-11-25 17:24] josh commented on #4542
@michaelficarra haha, yeah. Thats the plan. Basically getting the new env setup with babel and eslint. @atom is making the same transition as well.

[2015-11-25 17:24] ilyavolodin commented on #4542
Sorry, I might be missing some context here. For browser script, what exactly is a difference between `window.foo = function() {...}` and `function foo() {...}` and why would you want to enforce first one? I would think that in most cases you would want the second one, since the script might be wrapped in the IIFE and in that case `foo` is not going to be polluting global scope.

[2015-11-25 17:27] josh commented on #4542
`window.foo` is explicitly setting a global. Most people don't realize `function foo() {...}` will be made a global if its defined at the root scope.

You statically check to ensure thats the case.

[code]

[2015-11-25 17:28] ilyavolodin commented on #4542
Ahh.. Ok, so this is a stylistic rule request, to lower possible confusion. OK, got it.

[2015-11-25 17:29] josh commented on #4542
Definitely.

[2015-11-25 17:30] josh commented on #4542
Theres also some interesting ES6 block scoping cases,

[code]

[2015-11-25 17:32] michaelficarra commented on #4542
@ilyavolodin The goal is to force developers to explicitly distinguish between the two forms so you don't ever do one while expecting the behaviour of the other.

@josh It's about time. FYI, in the future, you can just use modules and then top-level declarations don't implicitly create properties on the global object.

[2015-11-25 17:34] josh commented on #4542
@michaelficarra yeah, I'm planning on keeping "scripts" and "modules" organized separately. Then only apply this rule in the "scripts" `.eslintrc`. None of our current code uses modules yet, but we'll make that transition in another step.

[2015-11-25 17:34] michaelficarra commented on #4542
@josh Actually, you said you were using babel. In that case, you should be using modules right now and this won't be a problem. Unless you need sloppy mode for something? But I doubt that.

[2015-11-25 17:41] nightwing commented on #4418
@nzakas what do you think about https://github.com/eslint/eslint/issues/4418#issuecomment-156768640? dangle-comma fix only adds conflicts similar to the conflicts that already exist between other rules, and doesn't produce syntax errors.

[2015-11-25 18:35] alberto commented on #3509
@nzakas If we where to fix this, should we report two or four errors (two errors for each of the comment blocks)?

[2015-11-25 18:39] gajus commented on #4538
Thats fine. I opened the bounty to motivate someone else try it who needs it as much as I do. Unfortunately, I am over the capacity.

[2015-11-25 18:45] dak opened #4543 "Add method option for space-before-function-paren"
**Proposal:**
Add a new `method` option for the `space-before-function-paren` rule to specify whether a method on a class should have a space following it.

**Reason:**
A common coding style for ES2015 is to never add a space after a named function (ie: `function name()`), but to still always add a space after a class method name, (ie: `class A { constructor () {} }`).
This style is currently not

[2015-11-25 20:05] platinumazure commented on #4540
I'm working on this and am about to submit a PR.

[2015-11-25 20:25] matanh-tzmedical commented on #4540
Wow, that was fast. Thank you!

[2015-11-25 20:41] platinumazure commented on #4540
:neutral_face: It was my regression, so I wanted to get a fix out as quickly as I could. Sorry for the inconvenience.

[2015-11-25 20:46] platinumazure opened #4545 "valid-jsdoc tests failing with doctrine@<0.7.1"
ESLint at master (v1.10.1)
Doctrine 0.7.0 (`^0.7.0` is specified in ESLint's package.json)

I'm assuming this is more likely a Doctrine problem, but I wanted to create an issue here in case anyone else had the same problem.

Three `valid-jsdoc` unit tests are failing on my machine (and not on Travis) with a reported ESLint error of "JSDoc syntax error":

[code]

<bountysource-plugin>
---
Want to b

[2015-11-25 20:49] gyandeeps commented on #4545
Please also share the doctrine version you have installed.
FYI, some test would fail if you dont have latest `doctrine`.

[2015-11-25 20:53] platinumazure commented on #4545
@gyandeeps 0.7.0, also edited into original post. I see there's a 0.7.1 now, do I need to get that in? I did run `npm prune && npm install` a little bit ago so I'm surprised that didn't put 0.7.1 on my machine...

[2015-11-25 20:54] gyandeeps commented on #4545
Yes, you need `0.7.1`.
Run `npm update`.

[2015-11-25 20:55] platinumazure commented on #4545
Understood. Thought of `npm update` only after my last post.

If we really rely on 0.7.1, we should note that in our package.json. Let me know if I should write a PR for that.

[2015-11-25 20:56] gyandeeps commented on #4545
Sure, You can send one by referencing this issue.
Start your commit message with "Upgrade:".

[2015-11-25 20:59] platinumazure commented on #4545
@gyandeeps Written as #4546. Thanks!

[2015-11-25 21:25] platinumazure commented on #4532
This is a pretty simple issue, but is there a preference on how it should be handled? Should we just link to the file types section from within the list, or should we move some sections around?

[2015-11-25 22:31] jcrugzz opened #4548 "prefer-const and for loop/block scope `let` semantics"
I am currently using `eslint@1.10.1` and I wanted to clarify `prefer-const` in regards to `let` scope semantics. I have a snippet similar to the following which errors with `"prefer-const": 2`. The errors occur with `scope`, `endpoint`, `stream` within the `if` statement block.

[code]

My assumption is that `prefer-const` would not error on `scope` `endpoint` or `stream` because of the block scop

[2015-11-25 23:00] ilyavolodin commented on #4548
Can you provide exact output of linting? And also which version you are using.

[2015-11-26 00:00] nzakas commented on #4548
This rule doesn't care about block scope. The only thing that matters is that you're using `let`, and the binding is never modified. For that reason, the rule tells you to use `const`.

[2015-11-26 00:00] #4548 closed

[2015-11-26 00:02] nzakas commented on #4532
I'd just change the reference in the first section to say `.eslintrc.*` and reference the latter section.

[2015-11-26 00:02] #4545 closed

[2015-11-26 00:40] mysticatea commented on #4504
Exactly!

[2015-11-26 01:28] AlicanC opened #4549 "Add popular parsers to --init"
I think you should add popular parsers like `babel-eslint` too. The default parser (espree?) can't parse any of our projects.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28619553-add-popular-parsers-to-init?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2015-11-26 01:48] mysticatea commented on #4523
@nzakas There are not write references in the while-loop, so the `node` identifier at line 2 is warned. It's a cause of an infinity loop.

----

If a write reference exist in a local function, I will check whether or not the local function is called in the loop.

[code]

[2015-11-26 02:24] platinumazure commented on #4549
Worth noting that babel-eslint is actually a fork of this project, I
believe because babel is not esprima-compatible. So you can't use it as a
parser for ESLint.
On Nov 25, 2015 8:12 PM, "ESLint Bot" <notifications@github.com> wrote:

[2015-11-26 02:28] hzoo commented on #4549
babel-eslint is a compatibility layer for babel/eslint - it's not exactly a fork of eslint - it's purpose is to make the ast output esprima-compatible. It uses the "parser" option in eslint.

[2015-11-26 02:48] gkz commented on #4507
I can fix the problem, but it would mean that you wouldn't be able to create an array with `--ignore-pattern a,b`, but would need to use `--ignore-pattern` twice, eg. `--ignore-pattern a --ignore-pattern b` - since it can't know whether the comma is for delimiting values, or just part of your value. Is that acceptable?

[2015-11-26 03:00] platinumazure commented on #4549
Ah, my mistake, it is a parser after all. Sorry! I'd be curious to know
what other parsers should be added for --init, then.
On Nov 25, 2015 8:28 PM, "Henry Zhu" <notifications@github.com> wrote:

[2015-11-26 03:18] AlicanC commented on #4549
@platinumazure I don't think there are other candidates. The choice of parser is very irrelevant unless you are using experimental features anyways.

[2015-11-26 03:29] voithos commented on #2194
@lo1tuma Ah, you're right! That's... unexpected. Thanks!

[2015-11-26 03:32] gyandeeps commented on #4507
Thats fine, as that how we accept to form an array in this option as well as for other options.

[2015-11-26 03:49] sindresorhus commented on #4537
[code]

I wouldn't consider those statements the same. Should at least be separate options in the rule for those.

[2015-11-26 05:11] jonkemp opened #4550 "calling eslint index.js does nothing"
I'm having the same issue as #2388 but that issue is closed. Running `eslint index.js` returns nothing.

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28622259-calling-eslint-index-js-does-nothing?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2015-11-26 06:58] michaelficarra commented on #4550
Congratulations.

[2015-11-26 07:10] platinumazure commented on #4550
You have no linting errors. That's a good thing! Or are you expecting lint
errors? If so, please follow the request given by the ESLint bot and show
us your file and configuration.
On Nov 26, 2015 12:58 AM, "Michael Ficarra" <notifications@github.com>
wrote:

[2015-11-26 07:53] gajus commented on #4537
Agreed. The first one is the most important for me. The second one is open to debate.

[2015-11-26 09:43] eTorAken commented on #4539
By the way, this may be a new rule to include.

[2015-11-26 11:17] voronianski opened #4551 "Strange "Maximum call stack size exceeded" exception"
Using  latest eslint version:

[code]

Running through Makefile command:

[code]

Got this exception everytime:

[code]

Any ideas? Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28628535-strange-maximum-call-stack-size-exceeded-exception?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2015-11-26 13:28] platinumazure commented on #4539
Try no-restricted-syntax with a node type of ForOfStatement. :-)
On Nov 26, 2015 3:43 AM, "Clément Fiorio" <notifications@github.com> wrote:

[2015-11-26 14:15] jonkemp commented on #4550
Ah, thanks. Sorry.

[2015-11-26 14:15] #4550 closed

[2015-11-26 17:11] nzakas commented on #4551
Duplicate of #4485

[2015-11-26 17:11] #4551 closed

[2015-11-26 17:13] nzakas commented on #4549
Yeah, basically babel-eslint is the only popular alternative parser, and as mentioned, isn't really needed unless you're using experimental features. Having this option would likely confuse newcomers more than it would help.

[2015-11-26 17:13] #4549 closed

[2015-11-26 17:15] nzakas commented on #4507
@gkz sounds good. Would it be possible to apply that just to this one option? Or would it need to be for all options?

[2015-11-26 17:20] nzakas commented on #3509
Four seems right to me

[2015-11-26 19:49] michaelficarra commented on #4543
I think you're going to have to back up your claim that this is a common style with evidence. I just cannot believe that people would distinguish method and function syntax like that.

[2015-11-26 20:55] alberto opened #4553 "Upgrade: js-yaml has invalid dependency"
js-yaml latest version depends on [inherit](https://github.com/dfilatov/inherit), which doesn't declare a license in package.json, so build is failing.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28641603-upgrade-js-yaml-has-invalid-dependency?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2015-11-26 22:01] gyandeeps commented on #4553
Can we fix this by sending a PR to `inherit` repo to update the license attribute inside package.json file?
As `inherit` already has an MIT license.
https://github.com/dfilatov/inherit/blob/master/LICENSE.md

[2015-11-27 01:21] nzakas commented on #4553
+1 for sending a PR to inherit

[2015-11-27 02:32] scottohara commented on #4236
It is an interesting question: when should a raw integer be considered 'magic'?
Always? Or only in certain circumstances?

(Just to be clear - I'm only adding commentary to the discussion here; I'm not arguing one way or another).

The docs have good examples of what I personally would typically consider as "magic numbers".  Possibly one of the reasons I consider them magic is that they're used in

[2015-11-27 04:04] jacksonrayhamilton opened #4556 "Ability to analyze AST before applying rules"
&#49;. The version of ESLint I am using: 3d712c3
&#50;. The problem I want to solve: I'd like to be able to write an extension to ESLint that analyzes the AST and sets configuration before applying rules. This is because I'd like to integrate ESLint with a preprocessor, leveraging that preprocessor's comment syntax to create inline linting configuration. For instance:

[code]

In the above snippet

[2015-11-27 05:52] jacksonrayhamilton commented on #4556
Sorry, I no longer have a need for this issue to be resolved.

[2015-11-27 08:49] alberto commented on #4553
Yeah, I have submitted a PR. I just thought we would like to fix this in the meantime.

[2015-11-27 09:42] cytopia opened #4557 "Definition for rule 'quote-probs' was not found"
I am using the following `quote-probs` rule:

[code]

When I run `eslint` it tells me that the rule was not found:
[code]

Anything that I am missing?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28650679-definition-for-rule-quote-probs-was-not-found?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=git

[2015-11-27 10:22] arturparkhisenko opened #4558 "Rule Proposal: warn about duplicates in switch cases"
`v1.9.0`

[code]

It's can be warn :warning: .. or error (typo error).

Yes if we have to use this rule in other cases of duplicates

Currently not enough an experience to create it. :persevere:

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28651637-rule-proposal-warn-about-duplicates-in-switch-cases?utm_campaign=plugin&utm_content

[2015-11-27 10:23] lo1tuma commented on #4557
The rule is called `quote-props` not `quote-probs`.

[2015-11-27 10:24] lo1tuma commented on #4558
There is already a rule for this: [`no-duplicate-case`](http://eslint.org/docs/rules/no-duplicate-case.html).

[2015-11-27 10:25] arturparkhisenko commented on #4558
@lo1tuma disabled by default? sorry, thanks, my bad :/

[2015-11-27 10:25] #4558 closed