[2015-07-17 22:25] janmarek opened #3055 "valid-jsdoc: check union types"
According to https://developers.google.com/closure/compiler/docs/js-for-compiler union types should be wrapped with parenthesis like this:

    @param {(number|string)} name

In current version of rule you can type it without parenthesis and no error is shown.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24524483-valid-jsdoc-check

[2015-07-17 22:30] janmarek opened #3056 "valid-jsdoc: validate that scalar types are written in lowercase"
I personally write number, string, boolean and function types in lowercase and Object and Array with first capital letter. I would appreciate if it could be validated.

    @param {number} num
    @return {Object}
    ...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24524709-valid-jsdoc-validate-that-scalar-types-are-written-in-lo

[2015-07-18 00:52] coladarci opened #3057 "Unable to disable key-spacing rule"
Our deployment is now breaking because eslint was bumped and we now get this error:

[code]

For reference, here is our entire `.eslintrc`: You'll notice we are disabling `key-spacing` which worked in `0.22.1` but doesn't work in `0.24.1`

[code]

[2015-07-18 01:06] IanVS commented on #3057
Hi, this is because a rule configuration validator was added in `0.24`, and your rule configuration does not match the accepted format.  You will need to change any rules currently set to `true` or `false` to a number `0` (off), `1` (warn), or `2` (error).  Please see http://eslint.org/docs/user-guide/configuring#configuring-rules for complete details of configuring rules.

[2015-07-18 01:46] IanVS opened #3058 "Add git commit message check in Makefile.js"
To encourage contributors to correctly format their git commit messages and avoid manually checking the messages, it would be useful to add a test to `Makefile.js` which would check the most recent non-merge commit message for the correct format.  This way, contributors would be alerted to the problem before pushing (assuming they `npm test`), or the build would fail in Travis to prevent being mer

[2015-07-18 01:58] michaelficarra commented on #3048
Why does it respond with the entire guide instead of just linking to it? The bot as it is right now is very spammy.

[2015-07-18 02:08] coladarci commented on #3057
Thanks for be quick response, I'm sure that'll do the trick!

[2015-07-18 02:08] #3057 closed

[2015-07-18 02:48] gyandeeps commented on #3058
I think this is good topic to discuss. I was curious when I saw sinonjs doing it also.
https://github.com/cjohansen/Sinon.JS/blob/master/scripts/jscs-pre-commit

They lint code before anyone can commit code. pretty interesting.

[2015-07-18 02:58] IanVS commented on #3058
That would be one strategy, but personally I think adding a client-side git `commit-msg` hook would be too heavy handed.  The committer may want to push a few "incorrectly formatted" commits to show progression and then squash at the end.  I think by causing `npm test` to fail on a bad message, the contributor would at least be aware of the problem, and it would be apparent in Travis as well after

[2015-07-18 02:59] gyandeeps commented on #3058
sounds good and completly agree @IanVS  :+1:
I was just showcasing an example.. :smile:

[2015-07-18 03:17] ilyavolodin commented on #3058
Agree. I marked the issue as accepted.

[2015-07-18 06:25] mysticatea commented on #3054
[code]

Its result is same as

[code]

So I guess the `apply()` is useless.
`apply()` is 2x slower than the normal invocation.

Yes, I made that comparing just source code text to keep performance.  Such as `x.y().z[0]`, we can use any expression as `this`.
But I'm not sure it's the best way.  Do you have a better idea?

[2015-07-18 09:21] tomecko commented on #1658
Hey, I think I'll deliver it (one-rule variant) in coming days.

[2015-07-18 09:21] tomecko commented on #1283
Hey, I think I'll deliver it ("consistent") in coming days.

[2015-07-18 10:15] jhford opened #3060 "add a rule to warn/error on usage of for(.. in)"
##### Which version of ESLint you're currently using
[code]
##### If you have any interest in addressing the issue yourself
I have already written the code and some docs and posted it in the now closed https://github.com/eslint/eslint/pull/3044

##### The problem you want to solve.
The `for (x in y) {}` construct is nuanced.  I'm not an expert js developer, but my understanding is that it is not r

[2015-07-18 14:07] Globegitter opened #3062 "space-before-blocks does not consider ES6 classes"
The code `export default class Response{` does not seem to throw an error when configured as `"space-before-blocks"     : 2,` in my .eslintrc.

In my opinion this should also throw an error. Let me know if you need any more information/code/etc to reproduce.

Edit: my eslint version: v1.0.0-rc-1

[2015-07-18 15:02] nzakas commented on #2949
Hmm OK. I think the larger question here is if we are saying "ignore errors" or "set exit code". I'd there a scenario where we would want to arbitrarily set the exit code to something other than 0?

[2015-07-18 15:04] nzakas commented on #3039
@Rob--W we don't check rules that are turned off because they can't affect execution.

[2015-07-18 15:05] #2977 closed

[2015-07-18 15:07] shinnn commented on #2543
I implemented the feature mentioned in https://github.com/eslint/eslint/issues/2543#issuecomment-102441119:

I'll submit a pull request soon.

[2015-07-18 15:08] nzakas commented on #3055
We use a separate parser for JSDoc cashed doctrine. I'm pretty sure JSDoc has always supported union types without parentheses. @constellation

[2015-07-18 15:10] gyandeeps commented on #2949
Long long time back, i had the need and then I created [gruntify-eslint](https://github.com/gyandeeps/gruntify-eslint) which had an silent option to not exit with code 1. I know at that time the `CLIEngine` was not available.

[2015-07-18 15:10] shinnn commented on #2543
Completed. #3063

[2015-07-18 15:12] nzakas commented on #3048
Because having the information front-and-center usually works better than asking people to click a link and read. We will try it out and gather feedback to see what we need to adjust.

[2015-07-18 15:14] #1621 closed

[2015-07-18 15:26] nzakas commented on #1658
Thanks!

[2015-07-18 15:26] Rob--W commented on #3039
@nzakas They don't affect execution, but they do take up space in the eslintrc files. Having an option to validate rule definitions would be nice.

That nice-to-have is not related to my initial issue, and my issue has several work-arounds, so I'll close this ticket. If you think that this suggestion is indeed a nice feature, feel free to open a new ticket for it.

[2015-07-18 15:26] #3039 closed

[2015-07-18 15:30] nzakas commented on #3060
I'm not sure saying to use for-of in place of for-in makes sense as a general rule. They do two entirely different things, as opposed to `var` and `let`, which do the same thing (declare a variable).

You might prefer for-of to forEach() or even the regular for loop, I'm just not sure it tracks to ban for-in. This might be better off as a custom rule.

[2015-07-18 15:37] nzakas commented on #3062
Agreed, looks like a bug.

[2015-07-18 15:38] #3015 closed

[2015-07-18 15:39] LinusU opened #3064 "phantomjs environment broken"
For some reason a file like the following fails with `"phantom" is not defined.`.

[code]

[2015-07-18 15:47] #3029 closed

[2015-07-18 15:57] jhford commented on #3060
var and let both declare a variable, but they do it completely differently.  Var does hoisting, can be redeclared multiple times and is function scope where let cannot be redeclared, does not hoist and is block scope.  Having a general rule to block makes as much sense as general rule as something to block using for-in.

I'm not trying to suggest that people ought to use for-of instead of for-in,

[2015-07-18 16:01] IanVS commented on #3062
Parsing "`class resolve{}`" results in:

[code]

So, @nzakas should `ClassBody` be added to `space-before-blocks` rule?

[2015-07-18 16:11] gyandeeps commented on #3062
@ilyavolodin I think so as this was added to some other rule also. I think in lines-around-comment rule.

[2015-07-18 16:20] ljharb opened #3065 "Request: `no-extra-parens` option to ignore `&&`/`||`"
Although the rules for precedence of `&&` and `||` are clear, using parentheses to visually group these is often very helpful to ensure programmer intentions. ie: `a || (b && c)` even though `a || b && c` is the same.

Most of the time, I don't want extra parens - but around selection operators, I very much do. Can we add an option to this rule so it ignores `&&`/`||` operators? (for stylistic rea

[2015-07-18 16:24] gyandeeps commented on #3062
working on this.

[2015-07-18 16:33] #3064 closed

[2015-07-18 17:36] nzakas commented on #3042
Fixed in #3051

[2015-07-18 17:36] #3042 closed

[2015-07-18 17:38] nzakas commented on #2870
I'll add qunit.

[2015-07-18 18:39] nzakas opened #3068 "Add bot comment when someone hasn't signed the CLA"
I setup the bot so it can comment when someone hasn't signed the CLA. We can infer from that that they are a first-time contributor, so we can give them a nice welcome message.

The filename needs to be PR_NO_CLA.md in the root directory.

The bot will already add a "CLA Found" label to any pull request where the author has signed the CLA.

<bountysource-plugin>
---
Want to back this issue? **[Pos

[2015-07-18 18:49] #2870 closed

[2015-07-18 20:42] mysticatea opened #3070 "`no-redeclare` and `no-shadow` not handling built-in globals."
## test.js

[code]

## Command & Actual

On master branch:

[code]

No errors.

## Expected

[code]

----

Currently, those pattern is warned by the `no-native-reassign` rule, but I think it is a work of the `no-redeclare` rule and the `no-shadow` rule.

The cause seems:
- `no-redeclare` is checking a count of `variable.identifiers`, but built-in definitions don't have its identifier node.  Built-

[2015-07-18 21:05] alexfedoseev commented on #2253
I think it's +1:

[code]

[code]

[2015-07-18 21:45] tomecko commented on #1658
My implementation follows nzakas's last proposal with one exception: I found `consistent-as-needed` to be a rather confusing name, in my opinion `always-if-needed` is a good name for proposed behavior (as this option is indeed about quoting ALL properties IF a certain condition is met). Curious to see what you think ;)

[2015-07-18 22:04] mysticatea commented on #1600
I will work on this.

I will add an option to `no-param-reassign` to disallow assigning to properties of parameters.

[code]

To start, I will not support the following pattern:

[code]

This pattern needs execution path analysis...

How is this thought?

[2015-07-18 22:17] gyandeeps commented on #1600
@nzakas above post from @sindresorhus , the correct solution doesn't actually solve the problem since its a shallow copy.
I think `Object.assign` repo should say that so that the consumers are not confused. I bet very few people know this.

[2015-07-18 22:22] mysticatea commented on #1600
In short...

[code]

Is this?

[2015-07-19 00:27] pdehaan opened #3071 "CLI tool for converting .jshintrc files to .eslintrc?"
I've been using https://github.com/valorkin/eslint-rules-mapper/ [which is very neat], but it'd be nice if there was something like this that was built into the ESLint CLI and official (and more actively maintained).

[2015-07-19 00:32] #3062 closed

[2015-07-19 06:49] impinball opened #3073 "False positive in `one-var` for successive `for-in` and `for-of` loops"
Minimal repro case:

[code]

[code]

Output:

[code]

Same problem with with `let` and `const`, and with `for-of` loops (both with `--env es6`).

[code]

As for `let`/`const`, the semantics are different, so it should never trigger the warning, but it probably shouldn't for `var`, either.

[2015-07-19 09:15] bucaran opened #3074 "Configuration rules should be more conspicuous in the documentation"
Judging from my own usage since I switched to ESLint and subsequent behavior when looking up rule documentation, I think finding which rule one needs is the less troublesome part of the process, but what I tend to forget the most is what is the configuration ID. Incidentally, IMO this bit is probably the less conspicuous thing in all of the documentation.

This is a kind suggestion, please conside

[2015-07-19 12:38] silverwind opened #3075 "`no-extra-semi` advice is ill on loops without a body"
[code]

[Real life example](https://github.com/nodejs/io.js/blob/c7d8b091623b5dd30977d29f946051c0bf328ad1/lib/cluster.js#L157)

While I agree this is hardly readable and should be refactored, `extra-semi` does incorrectly advice to remove the semicolon here, which would lead to the next line being considered the body of the loop, changing behaviour. The same issue can happen on a `while` loop:
[co

[2015-07-19 12:49] michaelficarra commented on #3075
The curly braces are not required in a do-while.

[2015-07-19 13:51] silverwind commented on #3075
Another common pattern that's triggering this rule is calling a function until it returns a falsy value:

[code]

Please provide an example.

[2015-07-19 13:53] michaelficarra commented on #3075
`do;while(0)`

[2015-07-19 13:56] silverwind commented on #3075
Right, valid example there. It should probably be handled as well, even thought it's equivalent to a bodyless `while` there.

[2015-07-19 14:01] lo1tuma commented on #3068
Looks like a duplicate of #2503.

[2015-07-19 15:01] mysticatea commented on #1600
Yup, it looks a seed of a rule, but I guess very difficult to make...

[2015-07-19 15:03] btmills commented on #3073
In the case of `var`, the preferred style would be to declare both variables at the top of the scope instead of inside the loop. For `let`, however, that looks correct since the loop would create a new scope. I'd say that part is a bug with how the rule determines scopes.

[2015-07-19 15:10] ilyavolodin commented on #3075
Hmm.. This is interesting. While all of the examples above are valid code (although not the most readable), I'm not really sure how we can identify body-less loops in AST. I'm not sure static analysis can pull this off.

[2015-07-19 15:11] ilyavolodin commented on #3068
I'll close #2503 in favor of this. This issue is more concrete.

[2015-07-19 15:12] ilyavolodin commented on #2503
Closing in favor of #3068

[2015-07-19 15:12] #2503 closed

[2015-07-19 15:12] mysticatea commented on #3074
I agree, the part is very important but hard to find.

[2015-07-19 15:19] lo1tuma commented on #3075
@ilyavolodin This can be detected by checking if a loop body contains an `EmptyStatement`.

[2015-07-19 15:22] ilyavolodin commented on #3075
@lo1tuma Ahh.. Nice, didn't realize that. Thanks for pointing that out.

[2015-07-19 15:31] lo1tuma commented on #3075
Working on this.

[2015-07-19 15:32] nzakas commented on #3060
I'm sorry, I don't see this as general enough to include. We generally don't have rules that simply disallow syntax unless there's an obvious replacement or a known problem.

[2015-07-19 15:32] #3060 closed

[2015-07-19 15:37] nzakas commented on #3070
I think if we add an option that allows people to opt-in to this behavior, then we can add it. Maybe `checkGlobals`?

[2015-07-19 15:41] ilyavolodin commented on #3070
If we add those options, do we need `no-native-reassign` anymore?

[2015-07-19 15:48] ilyavolodin commented on #3075
It looks like this pattern should be fixed in `curly` rule as well.

[2015-07-19 15:49] nzakas commented on #1658
Can you send a pull request?

[2015-07-19 15:51] ilyavolodin commented on #1658
@nzakas #3069

[2015-07-19 15:51] nzakas commented on #3071
I'm not against it, but it would be a constant maintenance issue as rules in both projects change. I'd need to have a volunteer to manage it. Any volunteers?

[2015-07-19 15:53] btmills commented on #3075
@ilyavolodin what's the issue with curly? It's working fine for me in both `multi` and `multi-line` modes.

[2015-07-19 16:09] michaelficarra commented on #3071
I think this should be a separate project (like the one you mentioned).

[2015-07-19 16:10] nzakas commented on #1600
I'd say don't worry about anything that needs path analysis. Just doing a basic check is good enough to start.

[2015-07-19 16:14] nzakas commented on #3070
Shadowing is about declaration, not assignment. So yes, we still need it.

[2015-07-19 16:22] ilyavolodin opened #3077 "Curly doesn't work with empty loops"
With the following code:

[code]

You get the curly error:

[code]

It should not error for a body-less loops.

This is reproducible in online demo (so, version 0.24.1)

[2015-07-19 16:22] ilyavolodin commented on #3075
@btmills I opened a new issue for curly here: #3077

[2015-07-19 16:26] btmills commented on #3077
Isn't this case handled by the "multi" and "multi-line" modes? Using either of those in the demo removes the warning for me, and based on the docs, this case is exactly what curly's "all" mode (default) is designed to catch.

[2015-07-19 16:30] ilyavolodin commented on #3077
I don't think so. Default configuration for curly should warn if you didn't use curly braces around a single statement body of loops or conditions, but in this case, there is no body at all. If I would like to use default configuration (as in, always require curly braces around any block-like based construct), I should be able to do so, when they body doesn't exist.

[2015-07-19 16:47] btmills commented on #3077
Ah, so you're saying there should be a special case for when the body is just an `EmptyStatement`, so that the following snippet would be valid?

[code]

(Right now in the demo it has two, one from `no-extra-semi`, which will be removed by #3076, and the other from `curly`.)

[2015-07-19 16:48] michaelficarra commented on #3077
That's really not true at all. The body is a statement. Sometimes it's a block statement which contains other statements. This one is basically the no-op statement.

[2015-07-19 16:51] ilyavolodin commented on #3077
@michaelficarra Well sure. But the bottom line, requesting curly braces after this type of loop is incorrect, as there's nothing that should be wrapped into those braces.

@btmills Correct. I think curly shouldn't complain about loops with `EmptyStatment` as a body under any of the available options.

[2015-07-19 17:08] lo1tuma commented on #3077
I think the current behavior of this rule is correct. You should write `for (var i = 0; i <= 5; console.log(i++)) {}` instead.

[2015-07-19 17:20] #3075 closed

[2015-07-19 17:24] btmills commented on #3077
I'm with @lo1tuma on this - we need a way to prohibit accidental empty bodies, so the current behavior works.

[2015-07-19 17:25] nzakas commented on #3077
Agree with @lo1tuma - this rule is supposed to force you to use blocks, so this warning is expected.

[2015-07-19 17:32] ilyavolodin commented on #3077
Ok, sounds good. Closing.

[2015-07-19 17:32] #3077 closed

[2015-07-19 17:43] stremlenye opened #3079 "arrow-spasing rule warns in multiline case"
version: `v1.0.0-rc-1`
message: `Unexpected space after =>     arrow-spacing`
In case:
[code]
and configuration:
[code]
warning appears.

[2015-07-19 18:21] silverwind commented on #3075
Great work, awesome response time - thanks!

I just ran the updated rule against my cases, and they all look to be fixed. :+1:

[2015-07-19 19:15] mysticatea commented on #3073
I will try to fix this.

[2015-07-19 19:19] killercup commented on #3079
I'm also having issues with this. [The documentation](http://eslint.org/docs/1.0.0/rules/arrow-spacing) says:

Thus, I would very much like to see another option for `after` that allows a single space or a line break.

[2015-07-19 19:25] mysticatea commented on #3070
Thanks. I will add the option.

[2015-07-19 19:45] mysticatea commented on #3079
The behavior which enforces *one space* is different from other spacing rules. It's a work of `no-multi-spaces`.
So I guess this rule should allow multi-spaces and line-ending (together with spaces of indent).

[2015-07-19 20:54] impinball commented on #3073
Does that also fix the `for ... in` case?

[2015-07-19 20:58] impinball commented on #3073
And in terms of how variables are defined, the semantics are identical between the two, IIRC.

[2015-07-19 21:18] jrvidal commented on #3073
The `for-in` case is correctly reported. The difference is not the loop type itself, but the fact that you are using `var` instead of `let`.

[2015-07-19 21:55] mysticatea commented on #3073
@impinball

[code]

This `a` is a variable in the global scope.
But this `b` is a variable in the scope of `for-in` loop.

So the two are different in semantics.
This time, the logic which makes scopes of `for-in`/`for-of` for `let`/`const` was wrong.

----

I have one question.

[code]

This `a` is initialized or uninitialized?

Currently, it's handled uninitialized. But it looks initialized to m

[2015-07-19 22:05] mysticatea commented on #3054
OK, I got an idea.
I will fix a bug about spaces and comments.

[2015-07-19 22:18] mysticatea commented on #3073
Ah, I'm sorry, I misstook understanding `between the two`.

[2015-07-19 22:29] #3073 closed

[2015-07-19 23:14] impinball commented on #3073
According to the spec, as far back as ES3, it is initialized each iteration to the current priory (although successive iterations are visibly equivalent to the user as assignment). See section 12.6.4 in the ES3/5/5.1 specs. ES6 has similar semantics, but it's not as explicit within the spec itself because has to handle the destructuring special case (section 13.7.5.13).

[2015-07-19 23:15] impinball commented on #3073
It's actually being initialized at declaration time each iteration, though.

[2015-07-19 23:16] impinball commented on #3073
So could this be reopened?

[2015-07-19 23:24] aparajita opened #3082 "Bug: block-scoped-var rule incorrectly flags break/continue with label"
Currently, the `block-scoped-var` rule generates false warnings for `break` and `continue` statements that use labels.

**Version:** v0.24.1

**Source:**
[code]

**Config:** Invoked with `eslint --no-eslintrc --reset`, so the complete config is in the source config.

**Output:**
[code]

[2015-07-19 23:27] aparajita commented on #3082
I'll resubmit this when I have all of the required info.

[2015-07-19 23:44] #2898 closed

[2015-07-19 23:50] aparajita commented on #3082
I have a fix, will be submitting it soon.

[2015-07-20 02:16] IanVS opened #3084 "Docs: Rule Option Explanation Standardization"
From reading through the docs for rules, I notice that the explanations for rule options are inconsistent.  Similar to https://github.com/eslint/eslint/issues/3074, I think it would be useful if there were a standard section and format to summarize the options of each rule.  Now that there are schemas, maybe something can even be generated automatically.  I don't know how it should look, but it co

[2015-07-20 02:22] ilyavolodin commented on #3084
Related or possibly a dupe of #2860

[2015-07-20 02:36] IanVS commented on #3084
Seems so, although I think you have a much grander vision than I had in mind.  I'll close and keep conversation there.

[2015-07-20 02:36] #3084 closed

[2015-07-20 02:39] IanVS commented on #2860
It seems to me like option documentation is important enough that it should be fairly early in the rule docs.  Imagine needing to scroll to the very bottom of [object-curly-spacing](http://eslint.org/docs/rules/object-curly-spacing) to find the options.

[2015-07-20 03:02] ilyavolodin commented on #2860
Agree. But without knowing how the document is structured, it's hard to insert auto-created pieces in the middle.

[2015-07-20 03:05] IanVS commented on #2860
Could we manually put a placeholder in all the rule docs?  Perhaps stub out the header "### Rule Options" or similar?

[2015-07-20 04:38] mysticatea commented on #2860
Or I think to generate TOC automatically is good for large rules.

[2015-07-20 04:46] IanVS commented on #2860
I agree, looks like it was discussed in https://github.com/eslint/eslint/issues/1073, but I don't see it live on the site.

[2015-07-20 08:49] Standard8 opened #3087 "Regression: "TypeError: Cannot read property 'length' of undefined" using arrow functions and strict rule in 1.0.0-rc-1"
Testing out v1.0.0-rc-1 versus 0.24.0. I'm now seeing eslint crash in v1.0.0-rc-1 when processing a file using arrow functions (it didn't used to in 0.24.0):

[code]

Here's a minimal .eslintrc:

[code]
with a minimal test case:

[code]

[2015-07-20 11:01] olalonde commented on #795
Could this rule be only disabled on files that start with `#!/usr/bin/env node` or that are `+x`?

[2015-07-20 12:41] hasenstein opened #3088 "There is no executable in ./bin/ in the latest 0.24.1 package"
This leads to errors with WebStorm which expects the binary to be in the ./bin/ directory of the eslint npm package.

This bug report is about today's 0.24.1 npm update package that replaces the 1.0-rc1 that was there for a few days.

[2015-07-20 12:48] IanVS commented on #795
@olalonde In `v1.0` of ESLint, all rules are turned off by default.  You will need to explicitly set the rule, or extend a configuration which has it turned on.

If you're asking for a new feature feel free to open an issue, but I believe the best way to handle individual cases like executables is with a [configuration comment](http://eslint.org/docs/user-guide/configuring#configuring-rules) at th

[2015-07-20 13:03] IanVS commented on #3087
Arrow functions were not being checked by this rule prior to 1.0-rc-1.  Looks like a bug.

[2015-07-20 14:33] olalonde commented on #795
@IanVS ok thanks that's what I ended up doing. By the way, I just did a `npm install -g eslint` but `eslint --version` returns `v0.24.1`, why is that?

[2015-07-20 14:39] flekschas opened #3089 "Typo on website for `array-bracket-spacing` rule"
I found a little typo at http://eslint.org/docs/rules/array-bracket-spacing. Under **Options** it's written `"arrays-bracket-spacing": [2, "always"]`. The **s** at **arrays** shouldn't be there.

[2015-07-20 14:57] jrvidal commented on #3087
This is already fixed in #3028

[2015-07-20 14:59] #3082 closed

[2015-07-20 14:59] willklein commented on #3089
I'm posting a PR to the docs repo.

[2015-07-20 15:01] ilyavolodin commented on #2860
It is live. Or at least anchors on all headers are. If you mouse over any header, you should see a link icon pop up.

[2015-07-20 15:05] IanVS commented on #2860
You're right, I wasn't clear.  The anchors are there, but there are no TOC.

[2015-07-20 15:09] ilyavolodin commented on #795
We marked version 1.0.0-rc1 as `next` in npm, and 0.24.1 as `latest`. So if you install eslint using command above, you get latest stable version. You'll have to install with the following command `npm install -g eslint@next` to get 1.0 RC. We had some complaints from people that 1.0RC was marked as latest.

[2015-07-20 15:15] olalonde commented on #795
@ilyavolodin oh thanks! didn't know about that npm feature.

[2015-07-20 15:19] willklein commented on #3089
This is already fixed: https://github.com/eslint/eslint/commit/59dda649c3534316b5ff1cb71942a1b18a724e4e

[2015-07-20 15:34] #2815 closed

[2015-07-20 15:46] #3079 closed

[2015-07-20 15:47] #3054 closed

[2015-07-20 15:48] nzakas commented on #3088
Can you double check that something didn't remove this? We've made no changes to the binary recently, so it should get installed as expected.

[2015-07-20 15:53] hasenstein commented on #3088
I had eslint-1.0-rc1 installed from an "npm update" last week, and I performed the same (npm update) ending up with eslint 0.24.1 today (yes, I don't have a version in my package.json, just "*" to install whatever is latest). Afterwards this happened.

[2015-07-20 16:49] drewed commented on #2965
:+1: I'm with @Cellule and @mysticatea on this.  And while I acknowledge that an object literal is not a code block, per se, as pointed out by @btmills, @mysticatea is correct that a class body is not a block either yet it's treated by the allowBlockStart exception.  It seems to me that the object literal and the class body should be treated equivalently by this rule (but that's my opinion).

It d

[2015-07-20 17:20] ilyavolodin commented on #3088
Could you try manually removing eslint from node_modules and reinstalling it again? It might've been just a glitch of some sort.

[2015-07-20 17:30] #3089 closed

[2015-07-20 17:40] hasenstein commented on #3088
If this (below, screenshot) is how it's supposed to be than it's okay now. It's not in the module's bin directory, but WebStorm finds it now, in the npm path.

![unbenannt-1](https://cloud.githubusercontent.com/assets/199179/8782622/02b00cb4-2f17-11e5-81d9-e1c8fb99ae74.png)

[2015-07-20 18:25] michaelficarra opened #3090 "disallow templates that can be replaced with strings"
Untagged templates with no interpolation and no newlines end up behaving just like strings. To indicate that I'm not taking advantage of any template features, I prefer to use strings in these cases. This rule should let me know if I can replace any templates in my program with strings.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2015-07-20 18:39] sam-github commented on #3010
@btmills I could add an inline eslint rule in every file we do `'use strict';`, but that's too manual, I want my tools to tell me when my code is invalid in strict-mode.

That's OK, we don't rely on eslint telling us when our js is invalid, our CI still does that, albeit after the PR is made, thanks for considering this.

[2015-07-20 18:39] #3010 closed

[2015-07-20 18:45] willklein commented on #3089
That commit was 20 days ago... I meant to ask, @gyandeeps, should this have reflected in the docs in the release 5 days ago (RC1)?

[2015-07-20 18:59] gyandeeps commented on #3089
I think docs are still based on `0.24.1` release.
Can you confirm @nzakas

[2015-07-20 19:01] ilyavolodin commented on #3089
You can access v1.0.0 docs by navigating to this url: http://eslint.org/docs/1.0.0/rules/ The default site's documentation is still based on 0.24.1

[2015-07-20 19:03] ilyavolodin commented on #3088
@hasenstein That's correct layout of the files. I think everything should be working fine now.

[2015-07-20 19:06] #3088 closed

[2015-07-20 19:31] willklein commented on #3089
Should we merge that commit to the 0.x branch?

[2015-07-20 19:37] IanVS commented on #3089
Only bugfixes are being applied to the 0.x branch at this time.

[2015-07-20 19:40] drewed opened #3091 "one-var and no-mixed-requires conflict"
Given the following rule configuration:
[code]

I've got a block of code that can't satisfy eslint (v.0.24.1) as follows:

[code]

Separating the require call from the locale definition also errors:

[code]

It seems like there should be a way to get the two rules to play nicely with each other.

[2015-07-20 19:48] xjamundx commented on #3091
I think this is an interesting problem. What would you like to see? (for me I just use es6 `import`, which you **can't** mix wiht a `var` block), but I'm not sure what other folks would like to see

[2015-07-20 19:51] SamuelBolduc commented on #3050
You are right, this is probably bad practice anyways to declare my functions below. Also, @btmills is right about the analysis required to make such a rule.

In the end, I changed my function declarations from `const myfunc = (foo, bar) => {};` to the more conventional `function myfunc(foo, bar) {}`.

I personally don't need this rule modification anymore, and will just make sure I write my code a

[2015-07-20 19:51] #3050 closed

[2015-07-20 19:57] okonet opened #3092 "More options for padded-blocks"
It would be cool to have something similar to JSCS's http://jscs.info/rule/requirePaddingNewLinesAfterBlocks.html

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24666576-more-options-for-padded-blocks?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:/

[2015-07-20 20:02] okonet opened #3093 "False positive for no-unused-expressions in shorthand arrow function syntax"
For the following example:

[code]

I get the `no-unused-expressions` false positive

ESLint v0.23.0

[2015-07-20 20:12] michaelficarra commented on #3093
This is not a false positive, it is unused. Are you familiar with how arrows work?

[2015-07-20 20:15] okonet commented on #3093
Oh I don't need the block there. Closing it.

[2015-07-20 20:15] #3093 closed

[2015-07-20 20:26] lo1tuma commented on #3091
Looks like a duplicate of #1232 and #2009.

[2015-07-20 21:24] drewed commented on #3091
@xjamundx I'd like to see the no-mixed-requires take precedence over the one-var rule such that one-var would request duplicate rules be lumped into the appropriate declaration block while still allowing the two groups to be separated which would be different from simply disabling one or the other rule as indicated in #1232.  In other words, one-var should be aware of the state of no-mixed-require

[2015-07-20 21:26] willklein commented on #3089
I think doc fixes should also be applied. Is there a plan to merge them later?

[2015-07-20 21:33] ilyavolodin commented on #3091
@drewed Every ESLint rule is a plugin, so none of the rules are aware of the state of other rules. We could possibly add an option to `one-var` that would ignore variables that have a value of require function, but we can't make `one-var` behave differently depending on the state of `no-mixed-require`

[2015-07-20 21:35] ilyavolodin commented on #3089
@willklein I don't think we had any plans to merge anything other then bug-fixes into 0.24.1 branch. The site will switch over to 1.0.0 branch as soon as we release stable version of 1.0 (timing of which will depend on feedback from users).

[2015-07-20 21:49] willklein commented on #3089
Ok, I'm hearing that the 0.24.1 docs will still be available post 1.0. I think it might come up again, before 1.0 on the main site, and potentially afterwards on the 0.24.1 docs, where doc issues are reported that have been fixed on master.

[2015-07-20 21:51] gyandeeps commented on #1636
Would PR https://github.com/eslint/eslint/pull/2857 solve this issue?

[2015-07-20 22:02] drewed commented on #3091
@ilyavolodin Makes sense.  One wouldn't want to over-complicate the system with cross-dependencies.

[2015-07-20 22:28] nzakas opened #3095 "Adopt Code of Conduct"
Today, the TODO Group announced the Open Code of Conduct and a lot of companies have jumped on board. I think this is a great opportunity to join the movement with a code of conduct (something I've wanted to do for a while but didn't know where to start). Here's the announcement:

http://todogroup.org/blog/open-code-of-conduct/

The code of conduct would be this text (would be added to eslint.org)

[2015-07-20 22:33] mzgol commented on #1636
It seems it would. :)

[2015-07-20 22:34] gyandeeps commented on #1636
closing as per the above discussion.

[2015-07-20 22:34] #1636 closed

[2015-07-20 22:39] stremlenye opened #3097 "Padded-blocks false positive with decorators"
version: `v1.0.0-rc-1`
message: `Block must not be padded by blank lines  padded-blocks`

Code:
[code]

Rule:
[code]
Version:
[code]

[2015-07-20 23:09] feross opened #3099 "`no-throw-literal` does not catch concatenated exception messages"
Using eslint `master`, and the following code:

[code]

and the following rule:

[code]

I expect an error, but get none.

[2015-07-20 23:57] ilyavolodin commented on #3097
Which parser are you using?

[2015-07-21 00:00] stremlenye commented on #3097
[code]
[code]

[2015-07-21 00:00] ilyavolodin commented on #3099
This is reproducible in online demo.

[2015-07-21 00:03] IanVS commented on #3099
Working on it.

[2015-07-21 00:04] ilyavolodin commented on #3097
I think this might be `babel-eslint` issue. I do not know what they do with decorators and how they are translated into AST. If they are just removed and empty line is maintained instead, that would be the source of your issue.

[2015-07-21 00:04] #2954 closed

[2015-07-21 00:06] nzakas commented on #2860
I don't think there are enough sections on rule docs to have a TOC... Most have three, four sections at most. I'm not a big fan of boilerplate like that.

[2015-07-21 00:07] IanVS commented on #2860
This is getting off topic, but how about some of the larger pages like [Configuring ESLint](http://eslint.org/docs/user-guide/configuring)?

[2015-07-21 00:14] nzakas commented on #3091
I think this might be one of those situations where you need to manually disable one-var around areas, or possibly create a custom rule. I'm not sure special casing requires in one-var makes sense.

[2015-07-21 00:18] nzakas commented on #3097
I'm not sure there's anything we can do here. Using experimental features means some parts of ESLint aren't going to work.

[2015-07-21 00:19] nzakas commented on #2860
I think the larger pages should be broken up into smaller ones

[2015-07-21 00:21] stremlenye commented on #3097
Ok. I'll open an issue on babel-eslint.
Thanks for explanation.
Close for now.

[2015-07-21 00:21] #3097 closed

[2015-07-21 00:34] mysticatea commented on #1636
Sorry, I had been missing this issue.

[2015-07-21 00:45] mysticatea commented on #1636
FYI: When there is the `@this` tag in JSDoc comment, `this`s in the function are not warned, it's similar to `/* jshint validthis:true */`.

[2015-07-21 02:21] IanVS opened #3101 "`no-throw-literal` does not catch literal template strings"
##### ESLint Version:

Master

##### Code:
[code]

##### .eslintrc:
[code]

##### Expected:
Should report an error.

##### Actual:
No error is reported.

[2015-07-21 02:49] gyandeeps commented on #962
@eslint/eslint-team  I was planning to work on this, few questions I have:
* Should I create a folder for `ast-utils` and then have individual files for each kind of utils like
    * comments
    * stylistic (eg spaces, same line checks , etc)
    * node checks or something
* Can any of the functions accept the context because it might be needed in some cases?

Please share your thoughts and also

[2015-07-21 04:09] michaelficarra commented on #3101
It should ignore tagged templates, since they could produce an error object.

[2015-07-21 05:30] SgtPooki commented on #3009
That makes sense. I was running 0.24.1, pulled down fresh from npm. My bad :)

[2015-07-21 05:30] #3009 closed

[2015-07-21 08:54] mysticatea commented on #962
To separate utilities to multiple files is really good.

Utility functions that I could remember are...

- [isNullOrUndefined](https://github.com/eslint/eslint/blob/master/lib/rules/no-useless-call.js#L30-L41)
- [isCallee](https://github.com/eslint/eslint/blob/master/lib/rules/no-invalid-this.js#L58-L65)
- [equalTokens](https://github.com/eslint/eslint/blob/master/lib/rules/prefer-spread.js#L42-L6

[2015-07-21 09:46] goloroden opened #3102 "Feature Request: extends may support .js files"
Currently, when using `extends`, you have to either specify a module name or a configuration file in `.json` format.

Since shareable configurations [apparently need to be written as `.js` files](http://eslint.org/docs/developer-guide/shareable-configs#creating-a-shareable-config) (do they?), it would be great if one could also extend from a `.js` file.

What do you think about this?

<bountysourc

[2015-07-21 12:09] mysticatea commented on #3090
[code]

Looks good to use together with #3014.

[2015-07-21 12:27] mysticatea commented on #3087
I confirmed the error on `1.0-rc-1`.
And yes, as @jrvidal points out, it was fixed on master.

Thanks!

[2015-07-21 12:49] satya164 opened #3103 "space-infix-ops gives false positive"
Consider following scenario,

[code]

I've the following,

[code]

ESLint output,

[code]

ESLint version - `v0.24.1`.

[2015-07-21 13:06] gyandeeps commented on #3102
If I understand your question correctly, you are asking if shareable config can extend from another config?
The answer to that question is Yes.

[2015-07-21 13:08] gyandeeps commented on #3087
Based on the above discussion. its already fixed.

[2015-07-21 13:08] #3087 closed

[2015-07-21 13:15] michaelficarra commented on #3090
Exactly.

[2015-07-21 13:18] michaelficarra commented on #3103
Does it still happen if the unnecessary parentheses are removed?

[2015-07-21 13:19] gyandeeps commented on #3103
I was not able to reproduce it on online demo. I will try it locally later.

[2015-07-21 13:20] TimeForAChange opened #3104 "rule prefer-const not usable for for-loop variable"
eslint 0.24.1

eslintrc: https://gist.github.com/hasenstein/004514113cb2eaf8d772

Even the example on http://eslint.org/docs/rules/prefer-const.html

<blockquote>The following patterns are considered warnings:</blockquote>

    for (let i in [1,2,3]) { // `i` is re-defined (not modified) on each loop step.
        console.log(i);
    }

does not work when I use const (I tried with io.js):

    for

[2015-07-21 13:20] satya164 opened #3105 "Allow to enable/disable environments and rules according to file extension"
I use ESLint extensively both at work and in my personal projects. If the projects are big and old, then sometime it ends up being a mix of ES5 and ES6 code as we're gradually transitioning to ES6 over time. It's not possible to enable ES6 transpilation for everything at once as some libraries/files won't work with strict mode enabled (which is automatically enabled by babel in strict mode).

The

[2015-07-21 13:21] btmills commented on #3103
I tried the demo and locally at both v0.24.1 and current master and was unable to reproduce this. @satya164 can you try creating a reproducible case in the [online demo](http://eslint.org/demo/) so we can see what's going on?

[2015-07-21 13:24] hasenstein opened #3106 "prefer-const: wrong alarm"
Code example (ES6, io.js):

    'use strict';
    const conf = {a: 1, b: 2, c: 3};
    const foo = () => {
        let obj = {};
        for (let x in conf) {
            obj[x] = conf[x];
        }
        return obj;
    };
    console.log(foo);

I get a complaint from the "prefer-const" rule for "obj". But obj clearly <i>is</i> modified?

[2015-07-21 13:25] btmills commented on #3105
Glob matching is [on the roadmap for 2.0](https://github.com/eslint/eslint/issues/2203#issuecomment-120438720). Since you have different file extensions, you could try running eslint twice - `eslint -c es5config.json --ext .js . && eslint -c es6config.json --ext .jsx --ext .es6 .`. Would that work?

[2015-07-21 13:25] #3106 closed

[2015-07-21 13:27] hasenstein commented on #3106
IGNORE.

[2015-07-21 13:27] satya164 commented on #3103
@michaelficarra it no longer happens when parentheses are removed.

I wasn't able to reproduce it in the online demo. This is very weird that when I try it with the globally installed eslint, it doesn't give me any warning. But when I try with the locally installed eslint, it gives warning.

[2015-07-21 13:29] btmills commented on #3103
Is your locally installed ESLint a different version? (`node_modules/.bin/eslint -v`)

[2015-07-21 13:31] satya164 commented on #3103
@btmills Both give the same version.

[code]

[2015-07-21 14:29] nzakas commented on #962
These should not make use of context, otherwise they become too tied to current implementation of rules.

I'd prefer to have all methods in one object.

[2015-07-21 14:31] nzakas commented on #3102
He's asking to use foo.js in the extends clause of a config.

I think that's a good idea

[2015-07-21 14:32] nzakas commented on #3090
This could conflict with quotes rule when backticks are selected.

[2015-07-21 14:34] nzakas commented on #3104
@mysticatea ?

[2015-07-21 14:36] nzakas commented on #3103
@satya164 is it possible you have another config that overrides the one you shared?

[2015-07-21 14:37] satya164 commented on #3103
@nzakas Nope. I've only one config. I know this is very weird :(

[2015-07-21 14:50] michaelficarra commented on #3090
Yep. Good thing we allow incompatible rules.

[2015-07-21 14:51] michaelficarra commented on #3104
Looks like we need to add exceptions for declarations in loop heads.

[2015-07-21 15:16] hasenstein commented on #3104
Is this a missing ES6 block-scope implementation feature in V8 / io.js?

http://stackoverflow.com/questions/31542849/es-2015-declaring-loop-variables-with-let-or-const#31542912

[2015-07-21 15:38] michaelficarra commented on #3104
Yes, V8 hasn't implemented const properly yet. The spec semantics (which V8 plans to implement soon) will allow a const in this position, but if the loop is allowed to iterate more than once, a runtime error will occur. At least until recently, V8 treated const simply as an alias of var, hoisting semantics and all.

Anyway, we should have an exception for this rule to allow `let` instead of `const

[2015-07-21 15:41] xjamundx commented on #3091
I'm pretty sure this issue is about to get closed, but one idea I had would be a `functions-only` version of `one-var`. Where it only applies inside of functions and never at the root level (including globals, es6 modules or node modules). But I personally don't really worry that much about either of these rules, because I use `let` and `import`, so it doesn't really apply and I don't want to cham

[2015-07-21 15:46] ilyavolodin commented on #3105
Closing in favor of #2203

[2015-07-21 15:46] #3105 closed

[2015-07-21 15:51] ilyavolodin commented on #3103
@satya164 Would you mind running local installation of eslint with DEBUG flag?
[code]
and sharing the output here?

[2015-07-21 16:07] satya164 commented on #3103
Here is my eslint config

[code]

Here's the output

[code]

[2015-07-21 16:09] btmills commented on #3103
I don't know what transform is causing this, but you'll want to file an issue with babel-eslint.

[2015-07-21 16:13] Canop commented on #3104
This only happens when the code is run in non strict mode, which is the correct behavior.

[2015-07-21 16:17] hasenstein commented on #3104
That was the result on Stack Overflow - and I can recreate that strict vs non-strict on the io.js console. unfortunately I don't know what I had done originally any more - I'm sure I found this *in my project* before using console examples. And my project is "use strict" throughout... anyway, cannot recreate, probably a fluke. Closing....

[2015-07-21 16:29] satya164 commented on #3103
Ah. Found an issue in babel-eslint's repo - https://github.com/babel/babel-eslint/issues/149

[2015-07-21 16:29] satya164 commented on #3103
Thank you. Closing this then as it's not eslint bug.

[2015-07-21 16:29] #3103 closed

[2015-07-21 16:35] gajus opened #3107 "no-extra-parens should not raise an error when using parenthesis to wrap a multiline JSX"
Doing:

[code]

Will raise an error:

I'd argue that parentheses in this case are necessary. Without them, I would have to move JSX inline with the `return` statement:

[code]

[2015-07-21 16:38] gajus commented on #3107
Having written down the requirement makes me question whether I am right. Parenthesis that are used only for style reasons are not necessary.

[2015-07-21 16:42] michaelficarra commented on #3107
Exactly. See previous issues. You can also style it as

[code]

[2015-07-21 17:06] drewed commented on #3091
@nzakas That would be a work around but shouldn't be a long term solution as it creates a poor user experience to have to disable eslint around "proper syntax" (in terms of no-mixed-require).

I will understand if the decision is made to not support the two rules used in tandem in which case I urge for the documentation to reflect that the two rules should not be used simultaneously.

[2015-07-21 17:22] nzakas commented on #3107
@gajus exactly. :)

[2015-07-21 17:22] #3107 closed

[2015-07-21 17:57] xjamundx commented on #1092
I'm :+1: something like this. @andersekdahl did you make any progress?

Basic thought is if you `then()` something you should `catch()` as well

[2015-07-21 18:02] nzakas commented on #3074
Working on this

[2015-07-21 18:08] gyandeeps opened #3109 "root: true not behaving correctly for config"
Version: `master`
Parser: `Default`

Command to run: `npm test` on master

Scenario: I have `eslint` folder and also have an `.eslintrc` file alongside it. when I run the `npm test` command on `eslint` folder it also grabs the `.eslintrc` file from outside eslint folder. Important to note that our `.eslintrc` file has `root:true` so that means it should not grab the file from outside.

Output:

[c

[2015-07-21 18:10] nzakas commented on #3109
Looks like a bug, we should add some debug logging so it's easier to tell when `root: true` was found and when it was not.

[2015-07-21 18:13] nzakas commented on #3090
My point is that we try to avoid them wherever possible, and we definitely should think through whether the benefits outweigh the costs before doing so.

In this case, I'm not sure this rule general enough. There's no downside to using template literals for all strings, regardless of concatenation...what's the rationale for disallowing unless there are replacements?

[2015-07-21 18:16] nzakas commented on #3104
I think we do need to allow `for-in` to use `let` in this case to avoid the error @michaelficarra points out.

@michaelficarra is this just for `for-in`? I thought that `for-of` and `for` could use `const` safely?

[2015-07-21 18:19] michaelficarra commented on #3090
I have the rationale in my original proposal:

It is very easy for others to quickly determine that nothing funny is going on. This is why shell has single versus double quoted strings, for instance. Same thing is common in CoffeeScript, which has had interpolation in double quoted strings for years.

[2015-07-21 18:26] michaelficarra commented on #3104
All three behave the same as far as I'm aware. I could troll though the spec again to confirm.

[2015-07-21 18:31] hasenstein commented on #3104
I think the rule is just fine, it seemed to be my experiments. I can use `const` now, I actually have a loop starting with `for (const key of imapKeysInConf) {` in my code and it works. My command line experiments failed because I didn't know about the "strict mode" requirement.

So the rule does exactly what it says it does and I don't think you need an exception.

[2015-07-21 18:36] gyandeeps commented on #3109
I think why its happening is before we can say that we are going to ignore a particular config file, we have to load the config. In my case during the load of that it blows up because I dont have `eslint-config-ideal` installed.
I think the way to fix this is as soon as you find a config file with `root:true`, then we should exit the loop. As of now we keep reading and loading configs.

Would this

[2015-07-21 18:43] IanVS commented on #3109
The problem with exiting immediately is that there may be eslint configuration in a package.json and we'll as an .eslintrc in the same folder.  If you exit immediately, you could miss one of them.

[2015-07-21 18:46] nzakas commented on #3091
@drewed Unfortunately, we can't support every variation of code that people come to us with - it's just not scalable. That's why we have the inline comments to disable around particular patterns as a way of working around that fact.

In this case, though, I'm not sure I understand what you're trying to accomplish. It seems like you definitely want one `var` statement only. Given that, why do you a

[2015-07-21 18:47] nzakas commented on #3104
@TimeForAChange as mentioned, V8 has an incompatible implementation of `const`, so we shouldn't be encouraging people to rely on that behavior as it will go away eventually.

[2015-07-21 18:52] nzakas opened #3110 "Move ESLintTester back into repo"
We've been having too much trouble with ESLintTester, so it's time to move it back into this repo. We can copy as-is and I believe it should work correctly. We'd also need to export it from the package so others can use it.

I think longer-term we need to create a new tester, but for now this is the way to get us out of the bad state we're in.

[2015-07-21 18:55] nzakas commented on #3110
Working on this.

[2015-07-21 18:57] IanVS commented on #3109
I think the best thing to do is move the check (https://github.com/eslint/eslint/blob/master/lib/config.js#L244) to before the config is loaded.

[2015-07-21 19:01] gyandeeps commented on #3109
That would work too. Sounds good to me. Will have thew PR ready :+1:

[2015-07-21 19:18] drewed commented on #3091
@nzarkas The intent of the `one-var` rule is to consolidate variable declarations scattered throughout a single scope to one place which generally makes for cleaner code (in my opinion).  The `no-mixed-requires` directs that require calls assigned to values should not be mixed with other variable declarations which can help set apart external dependencies from internal data.  What I would like to

[2015-07-21 19:20] xjamundx commented on #3091
@drewed I think you propose an interesting solution and I'd be happy to create a `two-var` plugin if you want to work on that. It would basically combine both rules into a single one.

[2015-07-21 20:17] drewed commented on #3034
@michaelficarra Actually, the parenthesis are required for multi-line JSX statements, otherwise the transpiler fails.  So while @nkt's example could be solved by expressing the JSX in a single line, other examples will hit this issue.  For example:

[code]

Technically, this example could also be expressed as a single line too but it would become significantly less readable.  I also realize that R

[2015-07-21 20:24] drewed commented on #3091
@xjamundx What help would you like me to provide?

[2015-07-21 20:26] xjamundx commented on #3091
Well basically I'm saying. I don't think this is going to go into eslint at this time, but if you're interested in creating a plugin to provide the functionality I'd be happy to offer support.

[2015-07-21 20:38] drewed commented on #3091
If you're willing to point me in the right direction, I'm happy to dive in.  I've forked the repo and setup the dev environment.

[2015-07-21 20:39] xjamundx commented on #3091
Okay @drewed any chance you can join https://gitter.im/eslint/eslint and I'll work with you directly (and hopefully we can close this for now)

[2015-07-21 20:43] btmills commented on #3034
@drewed Where are you seeing that? Your example works fine [with](http://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&code=class%20App%20extends%20Component%20%7B%0A%20%20%20%20%2F*%20...%20*%2F%0A%20%20%20%20render()%20%7B%0A%20%20%20%20%20%20%20%20return%20(%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cdiv%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3CHeader%0A%

[2015-07-21 21:09] mlarcher commented on #2829
Just so you know, I'm working on the PR. I have the core feature working, I'm now working on unit tests.

[2015-07-21 21:15] nkt commented on #3034
@btmills you're right. JSX allows this. But eslint is a tool for code linting, so in this case `extra-parens` makes code more readable, that's why I've suggested to add exception for jsx code, or just for `return` statements.
Now I have to use `"no-extra-parens": [2, "functions"]` config, and eslint doesn't help me make code more readable in other cases, like `const a = (b + c);`, where I can drop

[2015-07-21 21:17] ChristianMurphy opened #3113 "Rule Suggestion: Func Style Arrow"
Requires function be declared using the new arrow syntax over the ES5 function syntax.

This is a stylistic rule, for people that would want to take advantage of the syntactic sugar added in ES6.

Warnings
[code]

Not Warnings
[code]

[2015-07-21 21:17] drewed commented on #3034
@btmills I'm certainly no expert in JSX.  I dug through most of the examples on facebook (most of which use the parenthesized multi-line syntax) and tried one out on react's jsfiddle (https://jsfiddle.net/reactjs/69z2wepo/) Running the multi-line JSX without the parens caused the code to break.  So, yes, you're probably right that it's a bug in the JSX in-browser transpiler.

[2015-07-21 21:26] rahatarmanahmed opened #3114 "File level rules aren't used in some cases"
Experiencing some very bizarre behavior. I've got a file with the following:
[code]
The env and rule are of course enabled in my `.eslintrc`. I have an npm script that runs eslint without any errors. However, when the script is run in a [TravisCI build](https://travis-ci.org/squelch-irc/squelch/jobs/72017175), it's as if those inline rules are ignored, and an error occurs. Strangely enough, I get

[2015-07-21 21:35] gyandeeps commented on #3114
Can you run globally as you have been running but run it with this command
`DEBUG=eslint:* eslint `

And please share the output.

What kind of parser are you using?

[2015-07-21 21:42] platinumazure opened #3115 "What's the best way to modify and print a tree node as part of an error message?"
I was just wondering, is there an easy way to print the source of an arbitrary syntax node (even one that wasn't already in the file)?

Here's my use case: I'm using the Sinon.js library, and it is possible to create "stub functions" broadly in two ways:

    var sandbox = sinon.sandbox.create();

    obj.subObj.prop = sandbox.stub();    // Option 1
    sandbox.stub(obj.subObj, "prop");    // Opti

[2015-07-21 21:44] xjamundx commented on #3091
We're going to work on a plugin https://github.com/drewed/eslint-plugin-twovar will post an update here once it's done

[2015-07-21 21:48] platinumazure commented on #3115
Actually, never mind-- I just realized I can use `context.getSource` on child nodes, and that *should* get me what I need for string interpolation. Closing for now, will reopen if I get stuck again.

[2015-07-21 21:48] #3115 closed

[2015-07-21 21:49] gyandeeps commented on #3114
FYI, you cannot disable `es6` environment inline inside a file.
Reference: https://github.com/eslint/eslint/issues/2614

[2015-07-21 21:51] duereg commented on #3114
I'm also seeing this issue. This only started very recently - I'm guessing an underlying dependency must have changed.

My file and line comments are being ignored

[2015-07-21 21:54] gyandeeps commented on #3114
Are you guys `babel-eslint` as a parser?

[2015-07-21 21:56] duereg commented on #3114
yes, I'm using babel-eslint

[2015-07-21 21:57] gyandeeps commented on #3114
They released a new version like 30 mins back and they changed things with respect to comments.
Even their tests are failing.
@hzoo

[2015-07-21 21:58] duereg commented on #3114
gotcha, I'll pin the correct version. Thanks!

[2015-07-21 21:59] gyandeeps commented on #3114
I am not sure if thats the root cause. Because that what has changed recently.
I would open an issue on their repo.

[2015-07-21 22:12] gyandeeps commented on #3114
Apparently it was a known issue: https://github.com/facebook/react/pull/4449
I think with the recent release (like 40 mins back) they have fixed it.
Give it a shot again.

[2015-07-21 22:42] moll opened #3116 "block-scoped-var incorrectly warns on a break with a label outside of a loop"
With `no-empty-label` and `no-labels` set to `0`, **block-scoped-var** still warns on the following even with ESLint v0.24.1:

[code]

[code]

[2015-07-21 22:53] rahatarmanahmed commented on #3114
Can confirm, updating to `babel-eslint@3.1.24` fixed the issue.

[2015-07-21 22:53] #3114 closed

[2015-07-21 22:57] lo1tuma commented on #3116
Looks like a duplicate of #3082.

[2015-07-22 00:01] #3074 closed

[2015-07-22 00:02] #3109 closed

[2015-07-22 00:03] nzakas commented on #3113
Can you be more specific? Under what circumstances would a function be flagged? Always? (in which case, you're really talking about an extension to `func-style`?) Or just in certain situations?

[2015-07-22 00:04] nzakas commented on #3091
I think @xjamundx's assessment is correct here - you're asking for a setting that can't rationally exist in ESLint between these two rules, so a plugin is definitely the better way to go.

Closing this issue so we don't track it, but feel free to post updates.

[2015-07-22 00:04] #3091 closed

[2015-07-22 00:06] nzakas commented on #3116
Yup. @moll this was fixed on master.

[2015-07-22 00:06] #3116 closed

[2015-07-22 00:37] ChristianMurphy commented on #3113
It would be flagged always and would do well in `func-style`

[2015-07-22 00:55] mysticatea commented on #3104
I'm sorry my late response. Just midnight, I had been sleeping...
Thanks @michaelficarra.

Yes, a `const` declaration at head of `for-in/of` is valid.
But currently, V8 allows only in strict mode.

On other hand, a `const` declaration at head of `for` is possibly invalid.
`for` statements don't handle it specially, the constant cannot be modified as normally.

Details are below:

[ForBodyEvaluatio

[2015-07-22 00:58] IanVS commented on #3113
My limited understanding is that arrow functions are only syntactic sugar around what used to be accomplished by `self = this;`, but that in the process you give up the true power of `this` style coding, at least according to [YDKJS](https://github.com/getify/You-Dont-Know-JS/blob/master/this%20%26%20object%20prototypes/ch2.md#lexical-this).

Is it therefore useful to create a rule option which wo

[2015-07-22 01:08] levithomason opened #3118 "Float is no longer a reserved keyword"
![image](https://cloud.githubusercontent.com/assets/5067638/8815788/ca2673d0-2fd2-11e5-8794-8eeb85a8784e.png)

Should this still be the case since `float` was only a reserved keyword for [old specs](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Future_reserved_keywords_in_older_standards) (ECMA 1-3)?  It is not in the list of [currently reserved](https://develop

[2015-07-22 01:10] levithomason commented on #3118
Here you are bot:

Eslint v0.23.0.

[2015-07-22 01:18] IanVS commented on #3099
[This commit](https://github.com/taromero/latte/commit/924200626589743b3056f9c1b5b987c4f5d6bf04) appears to be what precipitated this issue report.

The problem with trying to catch something like this would be testing for the following:

[code]

The above throws an actual Error, and should be considered valid.  Whereas:

[code]

ends up throwing a literal and ideally would be flagged.  However, I

[2015-07-22 01:24] bucaran commented on #3074
:+1: Thank you.

[2015-07-22 01:25] ilyavolodin commented on #3113
I agree with @IanVS I do not think this rule would be very useful and valid. Arrow functions work completely differently with `this` then regular functions. You will not be able to properly use arrow functions, for example, as properties on the object (at least as far as I understand it). So this rule would produce massive amount of cases where arrows couldn't actually be used.

[2015-07-22 01:40] feross commented on #3099
Does your first example actually throw an Error? Looks like it throws a string to me.

[2015-07-22 01:41] IanVS commented on #1260
@royriojas Since you've created a formatter and even made a writeup, would you be willing to submit a PR to add documentation to the eslint.org site?

[2015-07-22 01:44] mysticatea commented on #3034
Actually, this issue is not related with JSX. Such as [this](https://github.com/eslint/eslint/blob/master/lib/rules/no-shadow.js#L51-L58) is warned by `extra-parens`.
Also, I want to use parens in expressions which are a mix of `&&` and `||` even if it's extra, so I prefer `[2, "functions"]`.

[2015-07-22 01:45] IanVS commented on #3099
Hm, looks like you're right.  I get:

[code]

Which at first glance looked like an error but isn't, the error was recast to a string.

So, maybe one solution would be to catch any `throw` with a `BinaryExpression` argument, since it will not result in a real error?

[2015-07-22 02:23] mysticatea commented on #3099
Yes, I guess this rule should catch below:

- `ArrayExpression` (an array literal)
- `FunctionExpression` (a function literal)
- `ArrowFunctionExpression`
- `ClassExpression` (a class literal)
- `TemplateElement` (a string literal)
- `UnaryExpression` (converted implicitly to boolean, number, string, or undefined)
- `BinaryExpression` (converted implicitly to boolean, number, or string)
- `UpdateE

[2015-07-22 02:33] royriojas commented on #1260
sure @IanVS, but where should that be? any guidance on where add it would be nice

[2015-07-22 02:37] IanVS commented on #1260
My guess would be a new file `working-with-custom-formatters.md` in https://github.com/eslint/eslint/tree/master/docs/developer-guide.

@nzakas @ilyavolodin ?

[2015-07-22 02:55] ilyavolodin commented on #1260
Yes, that sounds right. I will add it to website menus after it's checked in and release is published.

[2015-07-22 03:30] jrvidal commented on #3118
`no-reserved-keys` only makes sense if you care about ES3. In ES5+ you don't need to quote keywords to use them as property keys. There is an [open issue](https://github.com/eslint/eslint/issues/1539) about merging this rule with `quote-props` and allow for some more control.

[2015-07-22 04:03] ChristianMurphy commented on #3113
I would say it is useful, and *could* produce more valid code.
Lexical scoping was chosen to follow the principle of least astonishment for object oriented style.
Yes it is less flexible than the existing functions, but that is intentional.
Functionally there is nothing that could be acomplished before that can't be accomplished with arrow functions, the syntax is is just different.
In most cases

[2015-07-22 05:55] zyklus opened #3120 "Can't disable key-spacing.[before|after]Colon"
The key-spacing rule seems to be overloaded so that I can't just disable the `beforeColon` rule without also disabling `align` and `afterColon`.  What I want:

[code]

[2015-07-22 05:59] zyklus commented on #3120
eslint v0.24.1

Also note that this applies to _all_ compound rules.  I think you should be able to disable, for instance, `comma-spacing.before`, etc.

[2015-07-22 06:03] IanVS commented on #3120
Your configuration would only work if all property keys are exactly the same length.  That doesn't seem like a very common situation.  Or am I missing something?

[2015-07-22 06:46] zyklus commented on #3120
@IanVS - I'm saying I want to _disable_ the rule, as in I don't care if there is spacing before a colon or not.  e.g. I want these to be valid:

[code]

But back to my main point, I don't think `align`, `beforeColon`, and `afterColon` should be "all or nothing".  The same goes for any other rule that has multiple sub-rules.  I think it should be possible to disable _any_ rule, at any level.

[2015-07-22 06:52] olalonde opened #3122 "All rules disabled in ~/.eslintrc ?"
Is there a way to disable all rules by default unless eslint finds an eslintrc file? I'm using syntastic+ eslint in Vim and often work on 3rd party projects which do not follow my usual eslint rules and don't want the error list constantly popping up on them.

eslint v0.24.1

[2015-07-22 06:52] ljharb opened #3123 "shareable config must start with `eslint-config-`?"
I published https://www.npmjs.com/package/@ljharb/eslint-config as a scoped module, so I wouldn't pollute the global namespace with my own config.

However, when I do `"extends": "@ljharb/eslint-config"`, I get `Error: Cannot find module '@ljharb/eslint-config-eslint-config'`

It seems like there's a regex that accounts for scoped package namespaces, but it requires a trailing "-" - could it not?

[2015-07-22 07:04] ljharb commented on #3123
Perhaps altering https://github.com/eslint/eslint/blob/cd8f1d1f5a0f1d8494079a1a9b449e71c6fed07b/lib/config.js#L88-L95 ?

[2015-07-22 08:23] mysticatea commented on #3123
To resolve `{"extends": "@user"}` to `{"extends": "@user/eslint-config"}` might be good idea.

I also tried `@mysticate/eslint-config`, but I could not use it, so I'm using `eslint-config-mysticatea` now.

[2015-07-22 08:29] lo1tuma commented on #3122
There is the [`--reset`](http://eslint.org/docs/user-guide/command-line-interface#reset) CLI flag which disables all default rules. Note that this will be the default behavior in ESLint v1.0.0 and therefore the `--reset` flag will be removed.

[2015-07-22 08:44] olalonde commented on #3122
Ah ok, so I guess I will have to find out how to tweak syntastic.

[2015-07-22 11:08] olalonde opened #3124 "block-scoped-var false positive on destructuring in function argument"
I am refactoring an Express app to es6 and tried to do this:

[code]

It runs and compiles as expected using babel. However, eslint gives me a bunch of `block-scoped-var` errors:

[code]

Is that a bug or am I doing something wrong?

Also posted on Airbnb style guide repo as it might be a problem with their `.eslintrc` file. (https://github.com/airbnb/javascript/issues/434)

`v0.24.1`

[2015-07-22 11:52] mysticatea commented on #2253
I will try to fix bugs around `block-scoped-var` rule.

[2015-07-22 11:53] mysticatea commented on #2747
I will try to fix bugs around `block-scoped-var` rule.

[2015-07-22 12:10] zyklus opened #3125 "key-spacing.align doesn't like line-breaks"
This works fine:

[code]

This doesn't:
[code]

throws `key-spacing: Extra space after key "foo".`

Also, comments should work:

[code]

eslint version = `v0.24.1`

[2015-07-22 12:12] zyklus commented on #3125
Also, I fully realize that there are multiple use-cases here.  I think either should work:

[code]

[code]

[2015-07-22 12:15] confiks commented on #2203
I might be able to help as well with adding i18n to eslint. I'm interested in it mainly for educational purposes, specifically coding in Dutch middle school, where the students only have a very basic understanding of English.

I've looked through PR #2861, and I understand there are some concerns about where the translations should live, and the need for a more thorough proposal for i18n in eslint

[2015-07-22 12:36] IanVS commented on #3125
The reason your second case is failing is that the group after the empty line is seen as a new group (as discussed in https://github.com/eslint/eslint/issues/1439).

What is it you're asking for here?

[2015-07-22 12:41] IanVS commented on #3122
Until you are able to upgrade to v1.0.0 (which you can try the release candidate now with `npm install eslint@next`, you can copy the `/config/eslint.json` [file](https://github.com/eslint/eslint/blob/master/conf/eslint.json), change all of the rules to 0, and save as your `.eslintrc`.

[2015-07-22 13:26] mysticatea commented on #3124
Thank you for the report.

This is probably duplicate of #2253.
I'm fixing just now :)

[2015-07-22 14:11] nzakas commented on #3104
OK, so we should flag for-in and for-of if `let` is used and not flag `for` if `let` is used?

[2015-07-22 14:16] nzakas commented on #3118
Yeah, `no-reserved-keys` mimics ES3 behavior for people who need it, so it's functioning correctly.

[2015-07-22 14:16] #3118 closed

[2015-07-22 14:19] olalonde commented on #3124
Oh yeah, seems like duplicate. Will follow that issue.

[2015-07-22 14:19] #3124 closed

[2015-07-22 14:20] nzakas commented on #3113
Let's not argue the relative benefits of doing this or not, as that's not how we evaluate rules. I see no harm in adding an arrow function option to the rule. However, func-style only flags functions that are in a declaration, so functions passed to other functions would not be caught by this rule, not would functions on object literals.

So @ChristianMurphy , we really need you to be specific abo

[2015-07-22 14:23] olalonde commented on #2253
Thanks @mysticatea :+1:

[2015-07-22 14:26] olalonde commented on #3122
Thanks, I actually fixed the problem with this line in my `~/.vimrc`: `let g:syntastic_javascript_eslint_args = "--reset"`

[2015-07-22 14:26] #3122 closed

[2015-07-22 14:30] nzakas commented on #3120
@zyklus these are not subrules, they are related options. I think you just want `align: "colon" `, per the docs:

You can just leave off the options.

[2015-07-22 14:32] nzakas commented on #3123
Seems like a good idea, but only for scoped modules. We don't want someone squatting on the global eslint-config.

[2015-07-22 14:41] nzakas commented on #3125
@btmills

[2015-07-22 14:43] #3058 closed

[2015-07-22 14:45] #3110 closed

[2015-07-22 15:02] btmills commented on #3125
@zyklus are you asking for what's proposed in #2668?

[2015-07-22 15:05] btmills commented on #3123
[code]

Is that the new mapping? If so, I like it! Especially the `@user` shorthand.

[2015-07-22 15:24] feross opened #3127 "Set custom parser via CLIEngine options"
Using latest ESLint, there's not an easy way to set a custom parser via the node.js API.

I expect this to work:

[code]

Instead I have to write the config file to disk and use the `configFile` option in order to get `CLIEngine` to recognize the `parser` option.

[2015-07-22 15:46] michaelficarra commented on #3104
@nzakas It looks to be that way, yes. @mysticatea Thanks for doing the research. I wasn't sure where we ended up with that.

[2015-07-22 15:49] ChristianMurphy commented on #3113
So there are two possible ways that I see this.

1. add an option to func style the will only flag declarations (as you mention)
2. add a new option in the es6 section

something like
[code]

where the rule could be enabled always or never.
and exceptions could be made for "declaration", "callback" or "object" where the rule would be ignored.

Warnings for always
[code]

Not Warnings for always
[c

[2015-07-22 15:53] IanVS commented on #2668
For determining the default behavior, I think it's necessary to follow the principal of least surprise. Is it more surprising for an empty line or multi line to create a new group (and thereby a new level of alignment), or for all values within an object to follow the "align" setting specified as the option? I like the ability to beak up into groups with their own alignment, but I have to think th

[2015-07-22 16:06] timkendrick commented on #2808
FYI, this decision is also causing issues when using the babel-eslint parser, which strips out these comments as part of its compilation process (see babel/babel-eslint#141, babel/babel#1904, babel/babel#758).

It seems a shame that we need to rely on third-party plugins to get this feature working, but as @sindresorhus says, it's clear we're seeing things differently.

[2015-07-22 16:37] feross opened #3128 "ESLint aborts early with ecmaFeatures { "modules": true }"
Config:

[code]

Code:

[code]

In v0.24.1, this works as exepcted and returns `t.js:4:13: Missing space before function parentheses.`.

In v1.0.0-rc1, this aborts early with the message `t.js:4:-10: Strict mode function may not have duplicate parameter names` and an invalid column number of `-10`.

[2015-07-22 16:41] ilyavolodin commented on #3120
@zyklus If I understand what you are saying correctly, then what you want is:
[code]

That will disable the rule completely. Any of the rules in ESLint can be disabled by providing 0 as a first (or only) parameter.

[2015-07-22 16:44] michaelficarra commented on #3034
@drewed I cannot reproduce what you have claimed. I think people just don't typically know that you can't have a line terminator between `return` and its expression.

[2015-07-22 16:51] gyandeeps commented on #3046
@nzakas Is this still an issue?

[2015-07-22 17:08] btmills commented on #3128
The error message is correct, though the column number looks like an espree issue: eslint/espree#173.

[2015-07-22 17:12] ljharb commented on #3123
Agreed, only for scoped modules :-)

[2015-07-22 17:14] ljharb commented on #3123
So basically `filePath.replace(/^@([^\/]+)\/(eslint-config)?$/, '$1/eslint-config')` should be acceptable?

[2015-07-22 17:30] feross commented on #3128
In v1.0.0-rc1, this error causes eslint to abort early and report this single error, skipping all other errors. In v0.24.1, this error was not fatal.

[2015-07-22 17:42] IanVS commented on #3128
I believe it should indeed be fatal, since it is a parsing error and not a linting error.  The 0.24.1 case sounds like a bug.  Or are you saying it's somehow related to `ecmaFeatures { "modules": true }` as the issue title suggests?

[2015-07-22 17:44] nzakas commented on #3127
Per the [docs](http://eslint.org/docs/developer-guide/nodejs-api#cliengine), this isn't a supported option. Are you requesting an enhancement?

[2015-07-22 17:47] nzakas commented on #3113
I'm fine with adding an option to `func-style`, that's painless and makes sense.

A `prefer-arrow-function` rule could work, but we couldn't check declarations there because it would overlap with `func-style`. I'd almost prefer a `prefer-arrow-callback` rule instead, that only looks at callbacks. In general, you probably don't want arrow functions attached to objects because you lose `this`.

[2015-07-22 17:50] nzakas commented on #2668
The principle of least surprise applies only to things that are new. For existing things, the burden of proof shifts to what will cause the least pain to existing users.

[2015-07-22 17:51] btmills commented on #3128
I just checked v0.24.1 and saw the same behavior as v1.0.0-rc-1. Did you have an older version of espree installed under v0.24.1? Anytime ESLint encounters a parse error, it reports just that error since that means there's no AST for the rules to check.

[2015-07-22 17:52] nzakas commented on #2808
Or you could ask babel to not strip those comments. :)

[2015-07-22 17:59] nzakas commented on #3046
I am. I can't reproduce in the online demo, though I'm using 1.0.0-rc-1 and the demo isn't.

[2015-07-22 18:00] nzakas commented on #3046
Oops, I meant yes this is still an issue for me. Can't quite figure out what's going on.

[2015-07-22 18:00] nzakas commented on #3123
I believe so.

[2015-07-22 18:01] feross commented on #3127
Yep, I'm requesting an enhancement. I find it odd that `CLIEngine` and `.eslintrc` are almost identical, but have a few differences like missing the `parser` option, for instance.

[2015-07-22 18:04] gyandeeps commented on #3046
whats your config for the rule?

[2015-07-22 18:04] nzakas commented on #3128
Fixed Espree error location bug: https://github.com/eslint/espree/releases/tag/v2.2.3

[2015-07-22 18:05] reintroducing opened #3129 "no-unused-vars reported for a used var"
First off let me start by saying that ESLint is a *fantastic* tool and while incorporating it into the SpotHero website I've been amazed at how many times it has caught something that I did not think was possible.  You have done a fantastic job in developing this and the team should be commended for it.

That being said, here are some details about the issue at hand.  I have a Browserify module th

[2015-07-22 18:13] IanVS commented on #3129
Maybe I'm missing it, but how is `startDatePicker` being used?  I only see where you've defined it.

[2015-07-22 18:15] reintroducing commented on #3129
version: gulp-eslint 0.15.0 which uses 0.24.0
config:
[code]

[2015-07-22 18:15] reintroducing commented on #3129
@IanVS The second code block shows how it is being used. It gets assigned to a pickadate().

[2015-07-22 18:17] reintroducing commented on #3129
@IanVS I think I just realized what you're asking.  Just assigning it does not mark it as used, actually then using it does, which makes complete sense because I just realized it does not get used after it gets assigned.  Is that what you're leading at?

[2015-07-22 18:17] IanVS commented on #3129
It is being initialized there, but not actually *used*.  It's like saying:

[code]

If you're not going to do something with `a`, why create it as a variable?  So, it seems to me like the rule is behaving correctly and flagging what it is supposed to.

[2015-07-22 18:18] reintroducing commented on #3129
@IanVS Yep that makes absolute sense now.  I did not realize how damn smart this thing was, it's catching me not even using my assigned variables.  That's damn impressive!

[2015-07-22 18:18] #3129 closed

[2015-07-22 18:19] IanVS commented on #3129
Glad you like it, and thanks for taking the time to submit an issue.

[2015-07-22 18:23] ChristianMurphy commented on #3113
:+1: sounds good to me.
should `prefer-arrow-callback` be a new issue?

[2015-07-22 18:28] reintroducing commented on #3129
@IanVS So I'm going through my code just now to get rid of the properties which this applied to which I had marked for ignoring.  There is one scenario I'm coming across that would be slightly misleading.

[code]

MapView is a Backbone view that is self rendering (meaning it does not need render() called on it after it is initialized) so it does need instantiation but no other calls to it are made

[2015-07-22 18:46] IanVS commented on #3129
I'm no expert in Backbone (or anything else for that matter), but I believe that ESLint is still doing its job in this case.  From the [no-new docs](http://eslint.org/docs/rules/no-new):

So, it seems that the way `MapView` is used in Backbone does not conform to this particular convention, and I would recommend disabling `no-new` for that line, or for your project in general if this is a common B

[2015-07-22 18:54] reintroducing commented on #3129
@IanVS So that would make sense except I have that rule turned on and in this case I am indeed assigning the resulting object to a variable.  Granted I am not using it later but I do need to instantiate it and I'm assigning it because I believe in that being a good convention.  Maybe I'm missing something here (entirely and likely possible)?

[2015-07-22 18:57] bgw opened #3130 "no-undef errors incorrectly if function is defined within block and block binding is enabled"
[code]

gives

![screen shot 2015-07-22 at 11 50 43 am](https://cloud.githubusercontent.com/assets/180404/8834246/f0911ff8-3067-11e5-9d27-a7ec41c2de44.png)

When using espree with `blockBindings: true` or babel-eslint.

[code]

It seems related to [this bit of code in escope](https://github.com/estools/escope/blob/dd36f30eb8b23bae1bc6ff58bf086349b954c1df/src/referencer.js#L587).

[2015-07-22 19:02] IanVS commented on #3129
Yes, so:
 you should not be getting `no-new` errors with `mapView = new MapView(mapViewOptions);`

with this config:
[code]

You will get:
[code]

I am suggesting to change your config to:
[code]

And your code to:
[code]

That is one way you could avoid linting errors, by disabling the rule which does not fit with your coding style.

[2015-07-22 19:05] btmills commented on #3130
In ES5, function declarations inside blocks were invalid, so I'm assuming this is ES6, in which case `bar` would only be defined within the consequent of the first `if`, right? If you combine the contents of the two `if`s, does it still report an error?

[2015-07-22 19:07] DmitrySoshnikov commented on #3130
So in ES6 it should be be "bar is not defined", but in ES5 it should throw error "function declarations cannot be defined inside blocks" (even if most of the browsers deviated from the spec, and implemented the function statements in blocks -- though, with a lot of bugs and deviations even from each other).

[2015-07-22 19:10] btmills commented on #3130
Yep

Yes, though we have a separate rule for this: [no-inner-declarations](http://eslint.org/docs/rules/no-inner-declarations)

[2015-07-22 19:10] bgw commented on #3130
@btmills @DmitrySoshnikov, Thanks, it seems like this isn't a bug in eslint, just a strange detail of the spec.

[2015-07-22 19:10] #3130 closed

[2015-07-22 19:23] kentcdodds opened #3131 "Suddenly getting `Cannot read property 'type' of undefined at isSemicolon`"
Not sure what happened here. But I'm now getting this error (using `webpack` with `eslint-loader` and `babel-parser`):

Here's what `./app/index.js` looks like:

[code]

The code that's throwing the error is [here](https://github.com/eslint/eslint/blob/10ec3c1ab7d88ec9d58205a46c5a75d1db5b36de/lib/rules/semi.js#L36):

[code]

The code that's calling into this is:

[code]

If I `console.log(node);`

[2015-07-22 19:24] kentcdodds commented on #3131
Nice bot! Sorry, hadn't finished my ticket... command+enter mistake... More details coming.

[2015-07-22 19:28] kentcdodds commented on #3131
Alright, I updated the original issue, anyone watching from email, I think you'll have to open the issue to see the updates. Really appreciate any help!

[2015-07-22 19:30] reintroducing commented on #3129
Gotcha. I'd rather not disable that rule (no-new) because I do want to enforce it since my preference is not to write code that way so I think the best solution for my case is just the disable line I originally had for this particular case.

Thanks again for your help and keep up the great work.

[2015-07-22 19:43] btmills commented on #3131
I just tried this with the default espree parser and wasn't able to reproduce it. Are you able to get this to happen without babel-eslint? If not, it's probably a problem with babel-eslint - I believe I heard something about babel's parser changing how it does tokens recently.

[2015-07-22 20:44] drewed commented on #3034
@michaelficarra You're right.  I wasn't aware of that restriction on the return statement so when I removed the wrapping parenthesis from the multi-line JSX it left the first line of the expression on a different line from the return statement and the JSX transpiler on JS Fiddle didn't give me any output.  Not because the JSX was illegal but because the JS syntax was bad.  If I remove the parenthe

[2015-07-22 21:25] kentcdodds commented on #3131
Hmmm... Not sure what the issue was (especially because I hadn't updated any of my dependencies), but upgrading all related dependencies seems to have fixed the issue. Perhaps I should give `npm shrinkwrap` a little bit of more serious consideration... Thanks @btmills for looking into this. Sorry to take your time.

And again, super awesome bot... I should build one for my project. Is yours open s

[2015-07-22 23:00] lozandier opened #3132 "`use strict` surrounded by backticks not correctly recognized by the strict rules being valid when quote backticks rule is also enforced"
## Detailed information about the problem
For some reason, `use strict` surrounded by backticks seems to be incorrectly flagged as not adhering to rules regarding `strict` being used (`"strict`, deprecated `"global-strict"`) when strings are also enforce being backticks `"quotes": [2, "backticks" ]`.

From all the JS environments I've used w/ the support of ES6 template strings (Chrome, Firefox, B

[2015-07-22 23:18] #3131 closed

[2015-07-22 23:28] IanVS opened #3133 "Appveyor tests time out"
Mocha has a 2 second timeout for each test.  Appveyor seems to be running slowly enough that a non-deterministic set of tests seems to be failing consistently.

I suggest setting the test timeout to something like 3 seconds for windows environments in an attempt to restore useful Appveyor tests.

[2015-07-22 23:42] nzakas commented on #3127
`CLIEngine` reflects the options available on the command line, some of which are represented in `.eslintrc` and some of which are not. The mapping is really between the command line options and `.eslintrc`, and `CLIEngine` just happens to be in the middle.

In any event, this seems like a good option to have on the command line, so we'd need to add a `--parser` flag as well as an option for `CLIE

[2015-07-22 23:43] nzakas commented on #3046
Haha, caught me. :)

[code]

[2015-07-22 23:46] nzakas commented on #3131
@kentcdodds thanks, and it's not open source. It's a pile of horrible, untested Node.js code that I'm too embarrassed to show anyone. I'm going to see if I can find some time to clean it up or at least make it usable by others easily.

[2015-07-22 23:47] nzakas commented on #3132
What warnings are you getting?

[2015-07-23 00:01] nzakas opened #3134 "Implement autofixing"
I've been doing some thinking about how this would work. I know that JSCS is pursuing using a concrete syntax tree (CST) for this purpose, and that might be useful for some fixes, but waiting for that effort to complete and then getting a working implementation for us to use would likely take a whole lot of time. So, I've been trying to figure out how to get autofixing in the short-term and came u

[2015-07-23 00:17] xjamundx commented on #3134
Looking for any help? Maybe if you do the main fixer stuff, we can all pitch on the individaul rule fixers?

[2015-07-23 00:22] bgw commented on #3134
I like that you're approaching simple string transforms first. It seems very pragmatic, and that's what I did with my naive autofixer wrapper. AST transforms will end up being more complicated (but are of course way more powerful). FYI: You mention quotes, and while that's doable with string transformations, exchanging `\'` and `\"` escapes is messy and error prone.

While it obviously hurts perfo

[2015-07-23 00:23] mysticatea commented on #3104
I believe to flag `let` at `for-in/of` is nice.

Currently V8 does not implement `let` and block-scoped `const` outside of strict mode, but would implement soon. So `const`s are changed its behavior at the time, and it might make bugs. I recommend using `strict` rule if people used `let/const` now. Thus I think this rule does not need the exception for `for-in/of`.

[2015-07-23 00:24] gyandeeps commented on #3133
I think this fix help us but As per my issue logged with appveyor they are actually having disk issue. Thats why the tests which perform a lot of file operations (create/delete files/directories) timeout.

[2015-07-23 00:28] feross commented on #3128
It may be a parse error in ES2015 terms, but there's no reason that espree couldn't return a parse error and an AST in this case. It's not "fatal" in the sense that espree doesn't have enough information to construct a complete AST.

It's obviously your call, but from a UX perspective, it'd be nice to avoid the scenario where the user thinks they only have one error, fix the error, re-run the lint

[2015-07-23 03:08] dcousens commented on #3128
I have to agree with this entirely,  1 warning from the linter is easily ignored,  1000's not so much.
This potentially stops 1000's from ever popping up.

[2015-07-23 03:23] michaelficarra commented on #3132
@lozandier

Templates cannot be directives. See [14.1.1](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-directive-prologues-and-the-use-strict-directive)

[2015-07-23 03:23] btmills commented on #3035
Apologies to all analogies abused hereafter: While I see this as a footgun, at least it's unloaded by default. If someone in their own codebase wants to load it and is prepared to be very careful when doing so, I suppose that's their prerogative. I'm not opposed.*

--

*Since it's [already available as a plugin](https://www.npmjs.com/package/eslint-plugin-shadow-exception), is this use case common

[2015-07-23 04:33] mysticatea commented on #3132
Yes, Templates cannot be directives. So...

## test.js

[code]

## Command & Actual

[code]

## Expected

No errors.

[2015-07-23 05:05] zyklus commented on #3120
No, I want `align` to be enabled, but _not_ `beforeColon`

@nzakas -- sub-rules, related-options, it's just semantics :)  My point is that you can't enable `key-spacing.align` and disable `key-spacing.beforeColon`

Leaving out the `beforeColon` option, e.g. `"key-spacing": [1, {align: "colon"}]"` just sets it to its default value.

To clarify:

I _want_ to see `key-spacing.align` warnings.  I don'

[2015-07-23 05:07] zyklus commented on #3125
@btmills, yes that's basically what I'm asking for.  I'll chime in there.

[2015-07-23 05:13] zyklus commented on #2668
My only concern is that we don't _disallow_ mis-aligned groups with any option.  i.e. I'm good with an option that _allows_ different groups to be aligned, but you should be able to mix styles, e.g. I want this code to be valid:

[code]

[2015-07-23 05:31] lozandier commented on #3132
@michaelficarra @mysticatea

Thanks to you both for enlightening me about this, making me much more informed about ES6 template tags than I thought possible from an issue!

Should the `quotes: [2, "backticks"]` rule accordingly then ignore directives?

It seems that individuals or teams who want to explore enforcing backticks within their JavaScript scripts wouldn't want lint errors in sections of

[2015-07-23 06:05] mysticatea commented on #3132
I thought this is a bug.
`quotes: [2, "backticks"]` should not warn the directive prologue.

I have a question, should `quotes: [2, "backticks"]` enforce single/double quotes on the directive prologue?

[2015-07-23 06:42] lozandier commented on #3132
@mysticatea That's a good question. That should be an option, IMO. The naming for that may be tricky.

Being purposely imaginative, perhaps something like `"single-when-needed"`, "double-when-needed", "single-or-double-when-needed"  or the object equivalent  `{ "when-needed": "double" }`/ { "last-resort": "single" }?

[2015-07-23 07:44] lo1tuma commented on #3134
How do you want to apply the fixes? Do you want to write them directly to
the source file? What happens when someone passes the source code directly
to the the CLIEngine?
On Jul 23, 2015 02:22, "Benjamin Woodruff" <notifications@github.com> wrote:

[2015-07-23 10:01] Globegitter commented on #2621
I agree with @hgl that there should be options that you can `allow` warn and/or `err`. We allow `console.warn` in our production code and also other third-party libraries such as ReactJS or pixi.js do that. So I do think there is enough of a real-world use-case to reconsider.

But of course I also do respect the choice of the main contributors if that is set in stone.

[2015-07-23 12:02] btmills commented on #3125
Closing in favor of #2668.

[2015-07-23 12:02] #3125 closed

[2015-07-23 13:36] michaelficarra commented on #3104
@mysticatea This rule will currently reports `for(let a in b);`, but one cannot simply replace that with `const`. It needs the exception.

[2015-07-23 13:51] michaelficarra commented on #3132
Just add a `directives` option with values `any`, `single`, and `double`. Default to single/double/any for quote styles single/double/backtick respectively.

[2015-07-23 14:27] michaelficarra commented on #3128
Espree should support disabling early error checks. See [my writeup on how I did this](http://engineering.shapesecurity.com/2015/04/two-phase-parsing.html) in the Shift parser.

[2015-07-23 14:40] wbecker opened #3137 "no-unused-vars doco should explicitly mention that relates to the /*global*/ variable"
[Here](http://eslint.org/docs/rules/no-unused-vars.html) it should have an example showing that if you have an unused variable like

`/*global sinon */`

but then do not use the variable in the comment, this is also picked up by this rule.

[2015-07-23 14:41] wbecker commented on #3137
This would helped me figure out why I was tripping this rule. I'll try and do this myself...

[2015-07-23 14:45] IanVS commented on #3132
This is getting complicated.  To keep matters simple, I think the rule should not check for directives if `backticks` option is set, and leave it up to the user whether to use single or double quotes.  Behavior should remain as-is for `single` and `double` options.

[2015-07-23 14:56] michaelficarra commented on #3130
The tricky part here is that if you wrap the entire thing in an IIFE

[code]

then this program should not have any runtime errors according to ES6. Block-level function declarations leak their binding to the function scope only if

1. not in strict mode
1. doing so would not cause an early error (due to a conflicting block binding in the containing scope or anywhere along the way)
1. the binding

[2015-07-23 14:59] ericj79 opened #3139 "Indent rule flagging multi-line variable declarations"
Using eslint@1.0.0-rc-1 (on Windows 7 in case that matters) with the indent rule configured as: <code>"indent": [2, 2, {"indentSwitchCase": true}]</code>
I get errors when I declare multiple variables in a more than one line. For instance, the following works fine:
<pre>var geometry, box;</pre>
but this produces errors:
<pre>
  var geometry, box, face1, face2, colorT, colorB, sprite, padding, maxW

[2015-07-23 15:01] segrey commented on #2856
Created IntelliJ issue https://youtrack.jetbrains.com/issue/WEB-17378
Related discussion - how IntelliJ calculates working directory https://github.com/eslint/eslint/issues/1601#issuecomment-99798501

[2015-07-23 15:11] nzakas commented on #3113
Yes, that would be helpful.

[2015-07-23 15:13] #1661 closed

[2015-07-23 15:13] #2221 closed

[2015-07-23 15:13] #2934 closed

[2015-07-23 15:14] nzakas commented on #3035
OK, let's do it.

[2015-07-23 15:19] nzakas commented on #3120
I'm sorry, I'm having a really hard time understanding what you're describing. Can you please provide the exact ESLint output for your example code and point out what messages you don't want to see?

[2015-07-23 15:23] ChristianMurphy opened #3140 "Rule Suggestion: Prefer Arrow Callback"
A rule for ES6 to recommend use of arrow functions in callback

Warnings when Arrow function is preferred
[code]

Not Warnings when Arrow function is preferred
[code]

Warnings when standard es5 function is preferred
[code]

Not Warnings when standard es5 function is preferred
[code]

Rule Example
[code]

or rule could alternatively look like:
[code]

ref conversation in #3113

[2015-07-23 15:26] gyandeeps commented on #3139
I will get this fixed.
Thanks for reporting.

[2015-07-23 15:27] nzakas commented on #3134
@bgw thanks for the insights. I figure we can start with a naive implementation and see where it takes us. Recast is cool, but it completely loses whitespace and comments for rewritten areas, which is why the CST approach is what I'd be looking towards in the future. And I'd definitely like some help! ( @xjamundx, you too)

@lo1tuma written directly to the source file. When code is piped in, the f

[2015-07-23 15:28] #3133 closed

[2015-07-23 15:33] nzakas commented on #3104
@mysticatea we should make rules that work with how the language is supposed to work, to help people account for browser errors. So even though V8 allows it, we should still be telling people it's a bad thing to do.

[2015-07-23 15:35] nzakas commented on #3128
The error is already thrown as a tolerant error, but we don't run in tolerant mode. We could give that a try, I'm just not sure the effort involved.

[2015-07-23 15:38] nzakas commented on #3137
Good idea.

[2015-07-23 15:39] nzakas commented on #3132
Agree with @ianvs. Let's keep it simple.

[2015-07-23 15:42] #1600 closed

[2015-07-23 15:55] TimeForAChange commented on #3104
Sorry to chime in again, but don't the last two comments say the exact opposite of what went before? I got from the discussion that according to the specs it is _okay_ to use `const` in for...in. @nzakas even says so (or asks) 5 comments above.

[2015-07-23 15:59] ChristianMurphy opened #3141 "Rule Enhancement: `no-extra-bind` arrow function"
[Arrow functions](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions) are permanently Lexically Scoped.
Calling bind on an arrow function has no affect.

Example
[code]

Calling bind where it has no effect seems to be a violation of best practice.

ref comments by @IanVS and @ilyavolodin in #3113
ref [You don't know javascript](https://github.com/getify/You

[2015-07-23 16:04] michaelficarra commented on #3104
Sorry, I made a mistake. I will delete the confusing content.

[2015-07-23 16:14] JoaoHenriquePereira opened #3143 "New Rule suggestion: sort-dependencies"
### Acronyms
TBD - to be discussed
### The use case for the rule - what is it trying to prevent or flag? Include code examples.

This rule would flag unordered dependencies preferably configurable.

<strong>Env: Node</strong>

Default flagging: Symbols -> Upper case letters -> Lower case letters

### Examples flagged

#### es6
[code]

#### es5

[code]

### Examples fixed
#### es6
[code]

#### es5

[2015-07-23 16:35] wbecker commented on #3137
Sorry - created a new PR for this because the other one was done via the github editor and got a bit screwey.

[2015-07-23 17:06] SgtPooki commented on #2834
I have found that being able to define config files per directory usually solves these problems as long as my server side code (usually build files, grunt, gulp, express and the like) are in separate folders from the client side. Config files placed appropriately usually get me the config I need.

[2015-07-23 17:18] bgw opened #3145 "no-new-func should warn if Function is called without `new`"
[We currently only check NewExpressions](https://github.com/eslint/eslint/blob/70656a1a5aff4feb370aa3d9b7cb1864223f69e2/lib/rules/no-new-func.js#L16), but [according to MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function):

I'm willing to submit a PR fixing this (it seems pretty easy).

[2015-07-23 17:29] #1260 closed

[2015-07-23 17:33] #3137 closed

[2015-07-23 17:52] #3139 closed

[2015-07-23 17:54] #2960 closed

[2015-07-23 17:59] #3123 closed

[2015-07-23 18:07] lo1tuma opened #3146 "Shareable config package prefix is not checked correctly"
As discovered in [#3136](https://github.com/eslint/eslint/pull/3136/files#r35300730) the package prefix `eslint-config-` of shareable configs is not checked to appear exactly at the beginning of the package name. So currently package names like `fooeslint-config-bar` are allowed.

[2015-07-23 18:09] bgw commented on #3143
A common pattern is also for people to group dependencies and then sort within those groups. Eg. third party dependencies followed by a blank line and then local dependencies:

[code]

It'd be nice if this theoretical rule had an option to only check groups of require statement that don't have blank lines between them.

[2015-07-23 18:18] mysticatea commented on #3132
OK, I will try to fix.

[2015-07-23 18:27] hzoo commented on #3134
JSCS has a similar approach for how it's currently doing autofixing with tokens (since right now it's all the spacing rules, newlines, quotes, commas, semicolons). You fix with `jscs . --fix` or `jscs . -x`. There's a `_fix` method for rules now for things that aren't general (otherwise we have helper methods for common fixes between rules) - so looks good!

[2015-07-23 18:32] bgw commented on #3134
FYI: If you're adding/removing characters, it's going to shift the AST locations and ranges for everything after that token. A nifty trick [that Arcanist uses](https://secure.phabricator.com/book/phabricator/article/arcanist_lint/) (which works as long as none of the changes are overlapping) is to collect all the desired modifications, and then to apply them at the end from last-to-first, because

[2015-07-23 19:02] mlarcher commented on #2829
I have submitter a PR for the regexp-match rule. @nzakas please let me know if something needs fixing.

[2015-07-23 19:13] ljharb commented on #3123
Yay! How soon can this get released? (preferably in both 0.24.x and 1.x but I'd be fine with just 1.x) I'm looking forward to applying my so-named config everywhere :-)

[2015-07-23 20:10] IanVS commented on #3123
@ljharb Looks like it's in `1.0.0-rc-2` already.

[2015-07-23 20:18] IanVS commented on #1025
@tqc Do you still have interest in submitting a pull request for this issue?

[2015-07-23 20:25] ljharb commented on #3123
<3 yay thanks

[2015-07-23 21:29] JoaoHenriquePereira commented on #3143
+1, I guess it all boils down to performance

[2015-07-23 22:07] xjamundx commented on #3143
Sounds like this is some mix of `sort-vars` and `no-mixed-requires`?

[2015-07-23 22:43] jgoz opened #3149 "Bad path to ESLintTester in api.js"
As of `1.0.0-rc-2`, the path to `ESLintTester` [appears to be wrong](https://github.com/eslint/eslint/blob/master/lib/api.js#L12).

It is set as:

[code]

But should probably be:

[code]

[2015-07-23 22:45] gyandeeps commented on #3149
Thanks for reporting.
We will get that fixed.

[2015-07-23 23:11] #3149 closed

[2015-07-23 23:43] nzakas commented on #3146
Yeah, let's get that fixed.

[2015-07-24 02:21] tqc commented on #1025
@IanVS Sorry, got most of the way there then suddenly got very busy with other things. Pull request coming up.

[2015-07-24 08:10] zyklus commented on #3120
I want these to pass:

[code]
[code]

but not these:

[code]
[code]

As I said, I just want to disable the `beforeColon` rule, that's all.  @ilyavolodin's suggestion to disable the `key-spacing` rule is _not_ what I want because it disables `align` as well.

And in a more general sense:

There are numerous "sub/related" rules like this.  I don't think there should _ever_ be rules tied together.

[

[2015-07-24 08:20] zyklus commented on #3120
@nzakas -- I _think_ your confusion might stem from a mis-understanding of the way this rule works.  You said:

If you leave off the options, they're still on.  They have default values that you can't disable.

[2015-07-24 08:44] nfroidure opened #3152 "max-nested-callbacks: Ignore/ponderate some functions names"
This rule is pretty useful but i'd like to be able to configure some function names for which the depth of nesting would not be increased.

I thought to this option because mocha tests are based on callback nesting and the limit is reached too quickly so i'd like to be able to ignore 'describe/after/before/afterEach/beforeEach' or better being able to give them a ratio (1/2).

It could look like:

[2015-07-24 08:51] JoaoHenriquePereira commented on #3143
My initial idea was kind of a ```sort-imports``` ended up by calling it dependencies as I thought it was "more correct"

[2015-07-24 08:51] ljharb opened #3153 "no-native-reassign gives false errors"
[code]

Assuming the function style is valid, `no-native-reassign` will error out here with `Redefinition of 'valueOf'       no-native-reassign`

However, because of `var valueOf`, the native isn't being reassigned. `valueOf` may be a global in some engines (and === to `Object.prototype.valueOf`) but unless I omit the `var`, I'm certainly not reassigning the native value - I'm simply shadowing it.

[2015-07-24 09:06] lo1tuma commented on #3152
Out of curiosity, why you don't simply disable this rule for your tests? That's how I do it in my projects.

[2015-07-24 09:52] evilebottnawi commented on #2856
@ilyavolodin bump!

[2015-07-24 09:57] neemzy commented on #3152
:+1:

[2015-07-24 10:23] segrey commented on #2856
@evilebottnawi Probably, it'd be better to close this issue, because the issue should be resolved in IDE integration, not ESLint itself. Well, odeally, ESLint could be working directory agnostic, but looks like there are reasons to not do that.
Clarification: unfortunately, WebStorm 10.0.4 detects `.eslintignore` incorrectly, so working directory is always set to the nearest content root.
The bug

[2015-07-24 10:34] mysticatea commented on #3104
@nzakas To make clear, this is a topic of strict mode. On iojs 2.4.0, following codes do not work both.

[code]

On the other hand, following codes do work both.

[code]

I believe `prefer-const` is working fine, and this issue can be closed.

[2015-07-24 10:54] nfroidure commented on #3152
@lo1tuma our tests are in the same directories than our code so folder scope .eslinrc is not possible.

Also, the idea of specifying rules override in every file bother me.

And finally, i like the idea of being able to customize / prioritize nested callbacks.

[2015-07-24 11:24] mysticatea commented on #3153
Thank you for the report.

I could reproduce that.

Actually `no-native-reassign` is checking redeclarations and shadowing. So, we are going to move those checks to `no-redeclare` and `no-shadow` currently.

Please see #3070 and #3086.

[2015-07-24 11:35] Nasga commented on #3152
:+1:

[2015-07-24 11:42] stevemao opened #3155 "Consider using conventional-changelog to generate changelog"
we have [conventional-changelog](https://github.com/ajoslin/conventional-changelog) or [conventional-github-releaser](https://github.com/stevemao/conventional-github-releaser) (there are also grunt/gulp tasks) to automate the process of writing the changelog. As you are using formatted commit messages so the logs can be generated well according to the parts of the message. We use handlebars for te

[2015-07-24 11:45] stevemao commented on #3155
Sample logs

### Build

* Check commit message format at end of tests (fixes #3058) ([8ea4c51](https://github.com/eslint/eslint/commit/8ea4c51)), closes [#3058](https://github.com/eslint/eslint/issues/3058)
* Increase Windows Mocha timeout (fixes #3133) ([f6c068c](https://github.com/eslint/eslint/commit/f6c068c)), closes [#3133](https://github.com/eslint/eslint/issues/3133)
* readd phantomjs depen

[2015-07-24 11:48] stevemao commented on #3155
I see you include the committer name in the github release. We could add it to the eslint preset.

[2015-07-24 12:10] xvw commented on #3152
+1

[2015-07-24 12:23] lo1tuma commented on #3152
@nfroidure Thats why we going to plan supporting glob-pattern based configurations for ESLint 2.0.

[2015-07-24 12:33] lo1tuma commented on #3155
I would be very happy if we could remove some of our completely untested code in `Makefile.js`.

[2015-07-24 13:24] gre opened #3156 "api.js is broken"
in current master, if I require `api.js` in "production" mode:

[code]

because chai is in devDeps

(this error came when trying to use Atom's linter-eslint with eslint's master)

[2015-07-24 13:31] gre commented on #3156
BTW if fixing myself this first point,
it is still not working in linter-eslint:

Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "script-src 'self'".

This errors comes from `is-my-json-valid` when doing the `validate` call.

So the current eslint is broken when used from linter-eslint.

[2015-07-24 13:45] gre opened #3157 "Rule no-undef breaks with spread operator on not declared object / require() call"
On current eslint@1.0.0-rc-2

[code]

with:

[code]

it also breaks with:

[code]

[2015-07-24 13:53] mysticatea opened #3158 "`block-scoped-var` should check re-declarations and shadowing."
I thought `block-scoped-var` rule emulates the block-scoped bindings for `var`.

But currently, the rule does not warn re-declarations and shadowing. And the rule reports duplicate warnings of `no-undef` rule.

I want to add checking re-declarations and shadowing into `block-scoped-var` rule.
Also I want to remove checking duplicates of `no-undef` rule.

- `no-redeclare` rule does conflict with `b

[2015-07-24 14:16] IanVS commented on #3156
Are you sure you're not accidentally requiring the api.js in the tests directory?  That's the only place where chai is used.

[2015-07-24 14:19] michaelficarra commented on #3104
@mysticatea This really has nothing to do with strict mode or any particular implementation. Please stop referring to V8 as some source of truth.

[2015-07-24 14:52] mysticatea commented on #3104
I'm sorry, what I understand seems to be wrong, but I have not understood what it is... I have been confused, so I will stop saying.

[2015-07-24 15:23] nzakas commented on #3141
@ChristianMurphy what are you asking for? Are you reporting a bug? Requesting a feature? Please see the guidelines above for the information we need.

[2015-07-24 15:25] nzakas commented on #3145
Sounds good to me.

[2015-07-24 15:25] #3070 closed

[2015-07-24 15:27] nzakas commented on #3134
@hzoo thanks for the insights! I thought about doing tokens as well, but it would complicate this a great deal for us due to the single traversal we make through the AST to apply rules.

[2015-07-24 15:32] mysticatea commented on #3157
Thank you for the report.

I can reproduce it.

[2015-07-24 15:35] nzakas commented on #3120
I'd like to ask again: can you please show your example code, plus your configuration, plus the output you're seeing? This info is really helpful for us to better understand what you're seeing.

@btmills can you chime in here?

[2015-07-24 15:36] ChristianMurphy commented on #3141
Requesting a new feature, in an existing rule.

1. Problem calling bind on an Arrow Function is a violation of best practice.
2. For each arrow function stored to a variable, check if `bind()` is called on the variable.

[2015-07-24 15:37] gre commented on #3156
Yes I'm sure.
chai is imported in lib/testers/eslint-tester.js which is imported from lib/api.js.

https://github.com/eslint/eslint/blob/master/lib/api.js#L12
->
https://github.com/eslint/eslint/blob/master/lib/testers/eslint-tester.js#L47

[2015-07-24 15:39] IanVS commented on #3156
Ah yes. A side effect of bringing the tester back into core.

[2015-07-24 15:42] nzakas commented on #3143
Seems like `sort-vars` would already solve the case of `require`? We can do `sort-imports`, I just wouldn't mix in dealing with `require`

[2015-07-24 15:45] #3132 closed

[2015-07-24 15:46] hzoo commented on #3134
Ah ok, I'm not exactly sure but I think we loop through the configured rules per file which I guess would be simpler but not as performant?

An example of the helper I was talking about would be like https://github.com/jscs-dev/node-jscs/blob/master/lib/rules/disallow-space-after-keywords.js#L72-L75

So we have like `errors.assert.noWhitespaceBetween` and `errors.assert.whitespaceBetween` which al

[2015-07-24 15:49] nzakas commented on #2856
From a quick look, it seems that would make sense. I don't use WebStorm so it's a little hard for me to know for sure.

[2015-07-24 15:50] gyandeeps commented on #3156
working on this

[2015-07-24 15:50] mysticatea commented on #3157
I will try to fix.

[2015-07-24 15:51] nzakas commented on #3153
@mysticatea is this fixed by those two issues?

[2015-07-24 15:53] nzakas commented on #3152
I'd recommend creating your own custom rule if this is the functionality you want. I don't see it as being general enough to be included in the core.

[2015-07-24 15:53] #3152 closed

[2015-07-24 15:57] nzakas commented on #3155
@stevemao this looks suspiciously like an advertisement for your modules. :)

I'm a bit uncomfortable relying on a project that has only been around for a month vs. the script we've been using for nearly two years. I've been bitten in the past when people recommended their own modules and then disappeared and no longer responded to issues.

[2015-07-24 16:00] nzakas commented on #3158
`block-scoped-var` only makes sure that you use a variable within the same block it was defined. It's not supposed to fully emulate block bindings. Does that change your thinking?

[2015-07-24 16:02] nzakas commented on #3104
@mysticatea V8 isn't implementing things correctly, so we cannot go by that, we need to go by what I'd in the specification.

So in this case, we can warn when `let` is used in a `for-in` or `for-of`, but we should not warn when `let` is used in a `for`.

[2015-07-24 16:06] #3146 closed

[2015-07-24 16:14] mysticatea commented on #3153
@nzakas Yes, I removed a check of shadowing from `no-native-reassign` in #3086.

I double checked:

- `no-native-reassign: 2` does not warn the code.
- `no-shadow: 2` does not warn the code.
- `no-shadow: [2, {builtinGlobals: true}]` warns the code. Because there is a variable `valueOf` in global (https://github.com/sindresorhus/globals/blob/master/globals.json#L58).

[2015-07-24 16:20] michaelficarra commented on #3141
@ChristianMurphy The latter is impossible to do statically. That's entirely a runtime concept.

[2015-07-24 16:25] mysticatea commented on #3158
Ah, I'm sorry, I misunderstood from the rule name...

Please feel free to close this issue.
But this implement is not difficult, so I can make if anybody wanted it.

[2015-07-24 17:09] ChristianMurphy commented on #3141
@michaelficarra
It is entirely a runtime concept, because variables can be overwritten at any point in time?
Or is there another reason?
If that is because of overwriting, this could be checked on an arrow function assigned to `const` which guarantees that it cannot be overwritten at run time.
Correct?

[2015-07-24 17:10] mysticatea commented on #3104
Thanks.

It's the current behavior of `prefer-const` :)

[2015-07-24 17:14] #3157 closed

[2015-07-24 17:15] #3145 closed

[2015-07-24 17:22] #3156 closed

[2015-07-24 17:31] gre opened #3163 "master breaks in Atom context"
Following issue https://github.com/eslint/eslint/issues/3156 , the current master does not run in Atom context's because of the use of `is-json-valid` at https://github.com/eslint/eslint/blob/master/lib/testers/eslint-tester.js#L74

The error is following:

[code]

caused by `/Users/gre/dev/eslint/node_modules/is-my-json-valid/node_modules/generate-function/index.js:55`

So if you want to preserve

[2015-07-24 18:15] evilebottnawi commented on #2856
@nzakas sorry for offtop, but what you use?

[2015-07-24 19:06] mysticatea commented on #3163
As far as I know, in Atom, a special way is needed to use `Function` constructor. (see also https://github.com/AtomLinter/linter-eslint/issues/99#issuecomment-112214088)

`eslint-tester` is loaded at https://github.com/eslint/eslint/blob/eaa37c265bc407afa4944e49bbbfac6de770def0/lib/api.js#L12.
And as @gre pointed out, `Function` constructor is used in  https://github.com/eslint/eslint/blob/eaa37c2

[2015-07-24 19:34] jeffscottward commented on #1051
I disagree. I'm a beginner. I don't know how to turn this off.

[2015-07-24 19:37] puzrin commented on #1051
That's no longer relevant. Since 1.0.0 no rules are enabled by default.

[2015-07-24 19:42] michaelficarra commented on #3141
Also, @nzakas has said previously that he does not want any data flow analysis in rules.

[2015-07-24 19:44] IanVS commented on #1051
Hi @jeffscottward, hope you're liking ESLint so far.  To learn how to turn rules on and off, please checkout the [configuring rules](http://eslint.org/docs/user-guide/configuring#configuring-rules) section of the user guide.  And if you have any questions on how to use ESLint, feel free to jump in the [gitter chat](https://gitter.im/eslint/eslint).

And yes, if you are using the 1.0.0 release cand

[2015-07-24 19:46] ChristianMurphy commented on #3141
Without flow analysis, this rule would be kinda useless, closing this issue out.

[2015-07-24 19:46] #3141 closed

[2015-07-24 22:21] ljharb commented on #3146
Thanks, sorry I missed that!

[2015-07-24 22:39] stevemao commented on #3155
I'm definitely happy to do a PR and I won't disappear (hence it's actively maintained). Also this shouldn't be an advertisement for my modules, this was created (also about two years ago I think) and used by the angular team but they are too busy to fix all the issues so I took over it. Reason I think this can be used by other modules other than angular is that
1. The concepts are similar. So othe

[2015-07-25 00:38] nzakas commented on #3155
I've heard this before, too. :) I appreciate that you're passionate about this, but I need to see that the project is being maintained over several months before I'd consider switching. There's no problem with what we are using now, so I don't feel the need to move onto something until I'm completely comfortable with it.

[2015-07-25 00:41] nzakas commented on #3163
@gre can you explain more? I'm having a hard time understanding what's going on.

[2015-07-25 00:48] stevemao commented on #3155
absolutely no problem :)
Just FYI, `conventional-changelog` is not a new module. I fixed a lot of bugs before I posted the issue here.
Also its probably not an issue but you just list all the commit messages in the releases so using well formatted commit messages is a bit wasted.
Anyway, I'm very confident that `conventional-changelog` can make your release notes much better :)

[2015-07-25 01:35] zyklus commented on #3120
@nzakas -- I'm at a loss how to explain this more clearly.  I want to disable the `beforeColon` rule, that's it...

I didn't post the output because it's not useful since the rule produces the same warnings whether they're coming from having `align` or `beforeColon` set, but here:

source:
[code]

using the following configs:

[code]
[code]

yields:

[code]

and this config:

[code]

yields:

[cod

[2015-07-25 02:30] gyandeeps commented on #2584
@eslint/eslint-team Any suggestion/input guys as this has been open for a while now.

[2015-07-25 02:31] gyandeeps commented on #2730
@nzakas are we doing this?

[2015-07-25 02:33] gyandeeps commented on #2744
@yaycmyk are you still interested in this and if yes then please provide more info.

[2015-07-25 02:36] gyandeeps commented on #2835
based on the above convo I  think this can be closed.
if anyone feels otherwise, feel free to reopen.

[2015-07-25 02:36] #2835 closed

[2015-07-25 02:37] gyandeeps commented on #2852
@evilebottnawi Waiting for your response.

[2015-07-25 02:38] gyandeeps commented on #2899
@malandrew did you get your question answered?

[2015-07-25 02:41] gyandeeps commented on #2967
@eslint/eslint-team input please.

[2015-07-25 07:36] ide commented on #3163
Atom puts some restrictions on eval with CSP and one of eslint's dependencies (namely is-my-json-valid -> generate-function) calls `Function.apply` which breaks the Atom linter. I'll see if that loophole module helps.

[2015-07-25 08:28] segrey commented on #2856
@nzakas Thanks. `Working directory` field will be added if there is a real use-case when working directory is guessed wrongly.

[2015-07-25 10:13] targos opened #3164 "Indent rule does not allow variable declaration with aligned names"
Since v1.0.0-rc-1, the indent rule has a new behavior regarding variable name alignment in multiline declaration.
With `indent: [2, 2]` it is currently allowed to write code like the following:
[code]
However in v1.0.0, this results in an error:
[code]

Is that an intended change?
If so, I think a rule setting to allow that would be very useful.

[2015-07-25 14:55] nzakas commented on #3134
Yeah, JSCS's approach is a lot less efficient than ours because it queries each time. The side effect is that for each change, you are working on a complete tree, so you can safely alter the structure and every other change is applied on top. For us, a rule works on traversal, so if you make changes, some rules will get confused.

[2015-07-25 14:57] nzakas commented on #3153
Great, thanks!

[2015-07-25 14:57] #3153 closed

[2015-07-25 14:57] #3158 closed

[2015-07-25 14:58] nzakas commented on #3104
Awesome! That was a lot of discussion to decide what we are doing is correct. :)

[2015-07-25 14:58] #3104 closed

[2015-07-25 15:09] #3155 closed

[2015-07-25 15:18] nzakas commented on #3120
@zyklus I wouldn't ask for something that isn't helpful for my understanding. I'm fact, this cleared it up for me. What you want is not to turn beforeColon off, you want is to be "either". I'm assuming you want this to warn?

[code]

[2015-07-25 15:21] nzakas commented on #2584
Totally missed this. Does someone want to champion this change?

[2015-07-25 15:22] nzakas commented on #2730
I think we should hold off - let's see if it's requested again.

[2015-07-25 15:22] #2730 closed

[2015-07-25 15:26] nzakas commented on #2967
@gmathieu what about if modules is false? Is the behavior different?

[2015-07-25 15:27] nzakas commented on #2899
We aren't planning on doing custom environments, so closing.

[2015-07-25 15:27] #2899 closed

[2015-07-25 15:28] nzakas commented on #2856
I use Sublime Text 3.

[2015-07-25 15:28] #2856 closed

[2015-07-25 15:29] nzakas commented on #3164
Yes, that is intended. You specified you want an indent of 2 spaces, but you used 4.

[2015-07-25 16:45] olalonde opened #3165 "no-unused-var exception when destructuring?"
In the code below (es6), eslint throws an no-unused-var error on the `_` argument:

[code]

When destructuring, it is a common to use `_` to denote variables that won't be used. Would there a way for eslint to ignore those kinds of unused variables?

See https://github.com/airbnb/javascript/issues/435

`eslint v0.24.1`

[2015-07-25 19:07] ljharb commented on #3153
Cool, so this will be released in rc 4 then?

[2015-07-25 22:08] JoaoHenriquePereira commented on #3143
That reduces the scope and probably simplifies, makes everyone happy I guess:)

[2015-07-25 22:47] btmills commented on #3120
@nzakas I'll leave it to you to decide whether this case is sufficiently prevalent to justify its inclusion if somebody's willing to implement it. @zyklus do you have an idea for how this option would work without breaking backwards compatibility?

[2015-07-26 00:27] zyklus commented on #3120
@nzakas -- No, I really do want it to be off, as in the rule shouldn't ever trigger a warning.  I have no idea where our cross-talk is here?  The code you posted is fine and should not throw warnings

- I don't care if there is space before a colon or not
- I do care that colons aren't aligned

If this was 3 separate rules, instead of one "joined" rule, it wouldn't be an issue:

[code]

[2015-07-26 00:34] zyklus commented on #3120
@btmills --

Yes, I propose being able to disable sub/related-rules.

[code]

I'd argue that this currently exists for "align" -- the default is, effectively:

[code]

[2015-07-26 05:00] mysticatea commented on #2584
I want.

[2015-07-26 05:21] mysticatea commented on #2967
I confirmed this issue, and #3126 fixes this.

## test.js

[code]

## .eslintrc

[code]

## Command & Actual

[code]

[code]

No errors.

## Expected

No errors.

[2015-07-26 05:32] mysticatea commented on #3153
This is included in `v1.0.0-rc-3` :)

[2015-07-26 05:37] ljharb commented on #3153
oh huh, i was pretty sure the issue i was reporting was in rc-3. it may have been rc-2 tho, i'll confirm.

[2015-07-26 05:47] mysticatea commented on #3165
I guess this is a bug of espree.

[code]

[2015-07-26 05:51] mysticatea commented on #3165
This might be duplicate of #2321 :)

[2015-07-26 11:01] zyklus commented on #3163
+1

[2015-07-26 13:11] mysticatea commented on #2895
I will try to fix.

[2015-07-26 20:58] btmills commented on #3120
Instead of `0`, how about `"optional"` or `"either"`?

[2015-07-27 00:09] seeden opened #3169 "TypeError: Cannot read property '0' of undefined"
Hi I can see this error: TypeError: Cannot read property '0' of undefined
 - eslint version  0.24.1
 - directory ./app/ has one file with content import React from 'react';

stack trace:
[code]

[2015-07-27 00:36] gyandeeps commented on #3169
Can you share the content of the file and also how have you configured your eslint?

[2015-07-27 01:03] kiddkai commented on #3169
Same issue here, just happen today after installing the `node_modules`, here's the config:

[code]

[2015-07-27 01:21] mjt01 commented on #3169
Have started getting this failure also. I am currently trying to work out which eslint dependencies have updated.

[2015-07-27 01:26] kiddkai commented on #3169
Diff with working version in global

[code]

[2015-07-27 01:55] mjt01 commented on #3169
Eslint dependencies for last passing build:
[code]

Eslint dependencies for first failure:
[code]

So `is-my-json-valid` appears as the likely culprit moving from `2.12.0` to `2.12.1`

[2015-07-27 03:07] gyandeeps commented on #3169
I tried it right now and everything works fine for me.
Note I am using the default parser.

This is an known issue with `babel-eslint`: https://github.com/babel/babel-eslint/issues/155

[2015-07-27 03:25] allanhortle commented on #3169
That fixed it for me. I was using babel-eslint `^3.1.20`. Upgraded to `4.0.5` and everything is alright again.

[2015-07-27 03:28] gyandeeps commented on #3046
I cant reproduce it using the same config. Are you sure you dint have `tabs` instead of `spaces`?
Also can you share code where it can be reproduced?

[2015-07-27 03:29] gyandeeps commented on #3169
closing this issue as its `babel-eslint` issue.

[2015-07-27 03:29] #3169 closed

[2015-07-27 04:20] olalonde commented on #3165
Oh sorry, I didn't realise I could do that.

[2015-07-27 04:20] #3165 closed

[2015-07-27 04:24] mjt01 commented on #3169
Ah right you are, its `babel-eslint` not `eslint`. thanks i'll follow that issue

[2015-07-27 04:27] seeden commented on #3169
Thanks

[2015-07-27 05:07] unphased opened #3170 "Rule no-undef-init false positive"
This is an interesting situation relating to [the rule](http://eslint.org/docs/rules/no-undef-init.html).

The construction of `var v = undefined;` has a situation where it is very much not the same as `var v;`. That situation is if the code is in the body of a loop...

Now that I have been bitten by this (where we "cleaned" up (read: broke) code by heeding the suggestion of the rule) I will likel

[2015-07-27 06:08] jimCresswell commented on #3163
+1 thanks @ide

[2015-07-27 06:20] ide commented on #3163
I got it working but needed to patch loophole, which I'm waiting on.

[2015-07-27 06:38] jimCresswell commented on #3163
Much appreciated, I wonder how many semicolons I've lost while it's been broken :smile:

[2015-07-27 08:16] mattanbi opened #3171 "browserified version"
Hey Guys,
Repository - https://github.com/angelozerr/codemirror-lint-eslint
contains an eslint version for the browser.
Does someone know how to generate a "browserified" version? It is exactly what I need for my application.

[2015-07-27 09:07] satya164 commented on #2077
Have the same issue. Anyone working on it yet?

[2015-07-27 10:06] zyklus commented on #3120
My objection to "either" is that it seems @nzakas' interpretation of that is "true or false", i.e "enforce one or the other, as long as there is consistency".  I personally want to drop all enforcement.  I vote for `0` solely because it's the convention for "top-level" rules.  Having `0` some places and `"optional"` others would lead to confusion, no?

[2015-07-27 11:56] BYK commented on #2949
I think setting the exit code directly or forcing `0` is a bit useless. As far as I can understand a non-zero exit code indicates something went wrong when running the program and linting failed completely instead of indicating there were errors. At least that's what Arcanist thinks.

I guess a potential workaround for this can simply be writing a linter wrapper in Arcanist (which is quite common)

[2015-07-27 12:00] BYK commented on #2584
I support this change too. That said what happens when someone uses `Immutable["Map"]`? Do we catch them or not?

[2015-07-27 12:47] IanVS commented on #2077
@satya164 It's all yours if you want it. Looks like some tweaking is needed in: https://github.com/eslint/eslint/blob/master/lib/rules/no-multi-spaces.js#L73

[2015-07-27 12:59] btmills commented on #3170
The first two things I would try:

1. Move the declaration outside of the loop since it's hoisted anyway, then set it to `undefined` inside the loop, and the rule will be happy.
2. Use `// eslint-disable-line no-undef-init` on the line of the declaration to silence the rule.

[2015-07-27 13:12] IanVS commented on #3163
Great, can someone confirm this is fixed in AtomLinter, and this issue can be closed?

[2015-07-27 13:17] joezimjs commented on #2112
[code]

That's what I have and I still keep seeing "Illegal import declaration" and "Illegal export declaration" for all of my files. I just installed everything yesterday, so it should be up-to-date. I've tried several different ways of doing ES2015 imports and exports (e.g. named vs default exports, etc.), but I'm still getting the errors.

[2015-07-27 13:18] jimCresswell commented on #3163
I'm waiting for the linter-eslint project to release an update with the changes so I can check in that context  https://github.com/AtomLinter/linter-eslint/releases

[2015-07-27 13:20] IanVS commented on #3170
If you are declaring a variable within a loop and want a new variable each time, you could use `let` from ES6.  Otherwise, it's best to avoid setting `var foo` inside a loop, since as @btmills mentioned, the declaration will be hoisted out of the loop which can cause surprising bugs.

[2015-07-27 13:26] IanVS commented on #2112
Have you tried using the default parser?  (Remove the `"parser": "babel-eslint",` line).

[2015-07-27 13:32] IanVS commented on #3171
You can take a look at how the demo works on eslint.org (source for demo page at https://github.com/eslint/eslint.github.io/blob/master/demo/index.html).  Does that help you at all?

[2015-07-27 13:37] IanVS commented on #3171
Also, we browserify eslint during our build process here: https://github.com/eslint/eslint/blob/master/Makefile.js#L527

[2015-07-27 14:39] nzakas commented on #3171
When you check out the code, you can run `npm run browserify` to generate a version that will work in a browser. Just keep in mind that this isn't an officially supported environment for ESLint, it's just there so we could put a demo on the site.

[2015-07-27 14:39] #3171 closed

[2015-07-27 14:41] joezimjs commented on #2112
Yea I tried the default parser. I found the issue. I was using gulp-eslint, which doesn't directly support the parser option in the configuration unless pulling the configuration from a file. Apparently this is because the eslint API doesn't accept a parser: https://github.com/adametry/gulp-eslint/issues/39

[2015-07-27 14:42] nzakas commented on #2967
@mysticatea can you add a test case for this in #3126?

[2015-07-27 14:44] satya164 commented on #2077
@IanVS I can work on it, can you point me to documentation for writing rules?

[2015-07-27 15:31] #1283 closed

[2015-07-27 15:31] #1658 closed

[2015-07-27 15:32] nzakas commented on #3143
@JoaoHenriquePereira do you want to try creating this?

[2015-07-27 15:36] nzakas commented on #3046
I can't share the code, otherwise I would have. :(

Yes, I'm sure I don't have tabs.

[2015-07-27 15:42] nzakas commented on #3120
I don't think we can go from true/false to adding a string value on top, nor do I think `0` would make any sense (again, these are options, not rules).

Unfortunately, I don't see a good way to support this change. We can't always accommodate every style everyone has, and so I think the best way to go would be for you to copy the existing rule into a custom rule and make the modifications you need

[2015-07-27 15:44] nzakas commented on #2949
@BYK Are you saying you don't think this option is necessary?

[2015-07-27 15:49] #2784 closed

[2015-07-27 15:52] IanVS commented on #2077
Yep, rule development docs are at: http://eslint.org/docs/developer-guide/working-with-rules

I would suggest to create a test case first which fails, and then update the regex I linked to so that the test passes.  Feel free to hop in the [Gitter room](https://gitter.im/eslint/eslint) if you need more guidance.

[2015-07-27 16:31] JoaoHenriquePereira commented on #3143
@nzakas yes I already forked the repo I'm just waiting for that extra time to do it. Probably by the end of this week.

[2015-07-27 16:44] mathieumg commented on #2965
@nzakas Has a resolution path been decided for this? (See my previous reply) Thanks!

[2015-07-27 17:04] BYK commented on #2949
@nzakas - I'm saying if we cannot converge on a common ground for such an option (or a complete change of behavior) there is an alternative way for a specific use case, that is Arcanist. I don't think forcing a `0` exit code even if something else fails (such as file read errors or parsing errors) is valuable.

[2015-07-27 17:20] KnutHelland commented on #2715
Just wanted to give my support to silverwinds suggestion here. It makes a lot more sense if plugins follows `require` conventions. It's a shame that it is impossible to have eslint-rules inside the actual project where they're used. It is very useful to make some very project-specific rules, and it is really annoying that it needs to be put into node_modules which is usually ignored by git.

[2015-07-27 17:32] mysticatea commented on #2967
@nzakas Sure.

[2015-07-27 17:41] gyandeeps commented on #3164
As its working as expected so closing.

[2015-07-27 17:41] #3164 closed

[2015-07-27 18:35] TheSavior opened #3172 "new-cap on object method"
I have a function constructor stored on an object that I would create like this:

[code]

I don't want obj to need be capitalized since the constructor is . JSHint's `newcap` behavior does this and is what I want.

[code]

[2015-07-27 22:08] nzakas commented on #3170
@unphased as mentioned in the first comment, please provide actual source code, your rule configuration, and the actual ESLint output.

[2015-07-27 22:08] nzakas commented on #3143
:+1:

[2015-07-27 22:10] TheSavior commented on #3172
This also comes up when using d3:

[code]

[code]

[2015-07-27 22:10] nzakas commented on #2965
See my previous reply: https://github.com/eslint/eslint/issues/2965#issuecomment-121102412

[2015-07-27 22:12] nzakas commented on #2949
Okay, at this point we're going in circles and I don't see a resolution forthcoming. So, I'm closing and recommending that people create a wrapper around ESLint to do with the exit code as you please.

[2015-07-27 22:12] #2949 closed

[2015-07-27 22:13] #2895 closed

[2015-07-27 22:14] nzakas commented on #3172
Is there a reason you don't disable the rule?

[2015-07-27 22:20] TheSavior commented on #3172
This rule is something we follow throughout our codebase and have been while we were using JSHint. While converting to ESLint, this is behavior that isn't supported. We want to be enforcing this on everything except keys on objects.

[2015-07-27 22:21] mysticatea commented on #2584
I thought this does not need to catch computed properties because there are not keywords which starts with upper case. But my plan will compare the source code text (excludes spaces and comments), so `Immutable["Map"]` is caught with `"capIsNewExceptions": ["Immutable[\"Map\"]"]`.

I will work on this.

[2015-07-27 22:42] feross opened #3173 "function body indentation false positive ("indent" rule)"
With this code:

[code]

And this config:

[code]

There is an unexpected error:

[code]

I expect to be able to use 2 spaces indentation for the function body. The indentation of the function parameters should not effect the body.

[2015-07-27 22:44] gyandeeps commented on #3173
Multi-line is still a problem with `indent` rule.
Kinda related https://github.com/eslint/eslint/issues/1801

[2015-07-28 00:33] dcousens commented on #3128
Is this classifiable as a bug?

[2015-07-28 00:49] xjamundx opened #3175 "avoid deep-merge of rule config"
Recently in #2963 we implemented a deep-merge of nested configs. Rule configs probably shouldn't be deep-merged though. Here's what I mean.

.eslintrc
[code]

public/js/.eslintrc
[code]

#### Result

The config sent to the rule is this incompatible combination:
[code]
#### Expected

I expected the config in `public/js` to overwrite the earlier config, because merging in this case produces an incom

[2015-07-28 01:00] nzakas commented on #3175
Agreed.

[2015-07-28 01:27] xjamundx commented on #3175
A good one to test might be `no-restricted-modules` which appears to be getting merged with some odd effects.

[2015-07-28 02:20] IanVS commented on #3128
@dcousens what would the bug be?  I believe it is operating as intended.

[2015-07-28 02:22] feross commented on #3128
Bug: Source code has 100 errors, eslint only reports 1 error.

[2015-07-28 02:32] gyandeeps commented on #3175
I already have the solution for this, I will send the PR tomorrow.

[2015-07-28 02:39] unphased commented on #3170
Well, the issue is relating to how the warning/error message prompts the end-user to potentially make a bug-creating error (as I did 4 days ago, and discovered before I posted this issue).

I don't need any help with any specific instance of code or anything. The problem is very very simple. `var x = undefined` CANNOT be harmlessly converted to `var x;` in all situations... namely, when the declar

[2015-07-28 04:03] dcousens commented on #3128
@IanVS,  more succinctly,  `eslint` is marking the outlined parsing case as a show-stopper to all other parsing, when in fact it could continue parsing quite easily.

[2015-07-28 04:28] janmarek opened #3176 "Define exceptions to no-unused-vars rule"
With [react-hot-loader](https://github.com/gaearon/react-hot-loader) there needs to be a `React` variable present in a component's file even if you don't use it directly in your code.

So I write my react components like this:

[code]

I would appreciate a possibility not to check `React` variable with this rule.

[2015-07-28 13:24] pola88 opened #3177 "attachComments needs range information"
Hi guys,

I have installed the version '0.21.0' and I get the following error:

[code]
I couldn't find in the doc what I am missing.
BTW, it was working properly before, It begins to fail when I downloaded the package again.

Thanks,
PoLa

[2015-07-28 13:31] gyandeeps commented on #3177
Can you please share some code and also what kind of parser are you using?

[2015-07-28 13:56] pola88 commented on #3177
@gyandeeps Thanks for answer!

I am using "babel-eslint".

It fails in all of my files, it is not in only one.

[2015-07-28 14:05] gyandeeps commented on #3177
`babel-eslint` had some issue with comments attachment few days back. I hope you are using thier latest version.
Can you also share the console out of eslint.

[2015-07-28 14:21] pola88 commented on #3177
Thanks for your help! I was using an old version of ```babel-eslint``` I updated and It works properly now.

[2015-07-28 14:25] #3177 closed

[2015-07-28 14:30] #3175 closed

[2015-07-28 14:35] nzakas commented on #3172
Somewhat related: #2584.

[2015-07-28 14:45] nzakas commented on #3172
OK, we can add a `properties` option that is true by default and you can turn it off.

[2015-07-28 14:56] nzakas commented on #3170
I'm afraid this is not clear. Can you give an actual example where this is a problem? It would help to see real code and have you explain what the actual problem is. (You've only said this can't be doing safely, if like to know what bug occurs when you do.)

[2015-07-28 14:58] michaelficarra commented on #3170
@nzakas he was relying on the variable being reinitialised to undefined in each iteration of the loop.

[2015-07-28 14:59] nzakas commented on #3176
You need to use `eslint-plugin-react`: https://github.com/yannickcr/eslint-plugin-react

[2015-07-28 14:59] #3176 closed

[2015-07-28 15:41] TheSavior commented on #3172
Thank you

[2015-07-28 16:16] olalonde commented on #2253
Need help? :)

[2015-07-28 16:26] xjamundx commented on #3017
[code]

Will show

[code]

Seems like a bug

[2015-07-28 16:27] unphased commented on #3170
Sorry I could have been more clear about it. What @michaelficarra said.

[2015-07-28 16:32] xjamundx commented on #3017
The examples here don't show a space:
http://eslint.org/docs/user-guide/configuring#specifying-globals

I didn't even realize a space was allowed.

[2015-07-28 16:35] xjamundx opened #3179 "Rule Merge Issue"
.eslintrc
`"no-restricted-modules": [1, "nconf", "underscore"]`

public/js/.eslintrc
`"no-restricted-modules": [2, "requirejs"]`

console.logging the options inside of no-restricted-modules.js
[code]

Expected:
[code]

[2015-07-28 17:47] brianblakely opened #3181 "Requiring backtick quotes must provide exception for ES modules"
Version: v1.0.0-rc-1
Rule: "quotes": [2, "backtick"]

If I require backticks as my quote style, ESLint complains when I use single or double quotes for imports, like so:
[code]
However, you can't use backticks to reference imported modules (it isn't valid).

[2015-07-28 18:30] IanVS commented on #3017
@malandrew, is there still an issue here, or can this be closed?  Perhaps a note in the docs would prevent confusion.

[2015-07-28 18:31] IanVS commented on #3017
@xjamundx Why is this a bug? Or did you change your mind in your second comment?

[2015-07-28 18:32] IanVS commented on #3170
@unphased can this be closed?

[2015-07-28 18:58] IanVS commented on #3181
We just went though a similar issue with directives (https://github.com/eslint/eslint/issues/3132).  What other uses of template strings are not valid?  @michaelficarra or @mysticatea?

[2015-07-28 19:02] michaelficarra commented on #3181
Both of these places are not string expressions, though, so I don't even think of them as exceptions -- these are bugs. An exception would be object property names, but that can be avoided by using computed property names.

[2015-07-28 19:04] IanVS commented on #3181
Then let's ask this, what are uses of quotes (single or double), which are not string expressions?

[2015-07-28 19:04] michaelficarra commented on #3181
See above: property names.

[2015-07-28 19:35] ide commented on #3163
I think this issue can be closed as a wontfix since linter-eslint can work around it.

[2015-07-28 19:59] feross opened #3182 ""space-in-parens" false positive with backtick ` strings"
With this code:

[code]

And this config:

[code]

The following false positive occurs:

[code]

[2015-07-28 20:33] feross commented on #1600
Is there any way to get the `{ props: true }` behavior without enabling `no-param-reassign`?

[2015-07-28 21:00] unphased commented on #3170
Can I suggest an adjustment (addition of a note) to the error message. Something like...

[2015-07-28 21:25] nzakas commented on #3163
Sounds good

[2015-07-28 21:25] #3163 closed

[2015-07-28 21:38] nzakas commented on #3182
What version are you using? I think we might have fixed this.

[2015-07-28 21:38] #3179 closed

[2015-07-28 21:47] feross commented on #3182
1.0.0-rc3

[2015-07-28 22:24] brianblakely commented on #3181
To clarify (in case there is confusion): ESLint shouldn't raise a flag in this case when you use quotes instead of ticks, as quotes are the only syntactically-correct option.

[2015-07-28 23:53] mysticatea commented on #2253
Thank you, but I'll get done soon :smile:

[2015-07-29 00:34] mysticatea commented on #3181
Oh...

Similar issues are:

- import sources.
- property names.

Does anyone have more ideas?

[2015-07-29 01:00] mysticatea commented on #3170
Hmm, I thought this is a seed of new rule.

`no-use-uninitialized-var` -- It reports reading references before writing references.

Valid:

[code]

[code]

Invalid:

[code]

This rule needs execution path analysis.

[2015-07-29 03:06] unphased commented on #3170
@mysticatea Yes that is a much more challenging thing to detect. I would imagine that detecting whether a statement is inside a loop or not would be easier, but it's also plausible that it is the same amount of difficulty. Hence my concession that perhaps we can just adjust the message.

[2015-07-29 04:58] michaelficarra commented on #3181
@mysticatea don't forget about exports. This issue should cover all module specifiers.

[2015-07-29 08:40] BYK commented on #2203
The path we chose at where I work was to treat translations as a dependency and use Transifex as our "translation manager" just like many projects use `npm` for their code dependencies. The model has been working for us quite well for almost 2 years now.

[2015-07-29 09:03] zyklus commented on #3120
@nzakas -- what's wrong with `enum: [true, false, 'optional']`?

And I'm not suggesting that every _style_ be accommodated, I'm suggesting that every _option_ be disableable.

[2015-07-29 12:09] mysticatea commented on #3181
@michaelficarra Thank you.

I searched the language spec, syntax which uses `StringLiteral` is below:

- [Directive Prologues](http://www.ecma-international.org/ecma-262/6.0/#sec-directive-prologues-and-the-use-strict-directive) (✔)
- [LiteralPropertyName](http://www.ecma-international.org/ecma-262/6.0/#sec-object-initializer)
- [ModuleSpecifier](http://www.ecma-international.org/ecma-262/6.0/#sec

[2015-07-29 14:17] nikolay-bukharev opened #3183 "Improve checkstyle format"
Please just add proper source to errors:
lib/formatters/checkstyle.js:58

[code]

then checkstyle will parse category (eslint) and type (ruleId) properly.

[2015-07-29 14:35] IanVS commented on #3183
It seems you have provided a solution, but could you please give us some details about the problem you're having?

[2015-07-29 15:06] olalonde commented on #2253
Ok :+1: thanks!

[2015-07-29 15:24] lo1tuma opened #3184 "no-extra-semi warns about unnecessary semicolon in export statement"
The `no-extra-semi` rule warns about the following code:

[code]

Testcase on current master:
[code]

throws the following assertion error:

[code]

If I export a variable (e.g. `export default foo;`) instead of a function expression I got no error.

-----

Is this a bug in the parser because the semicolon after the export statement is represented as an `EmptySatement`?

[2015-07-29 15:44] willrstern opened #3185 ""destructured" option for camelCase rule"
when destructuring an underscore_spaced request:
`const { category_id: category } = query;`
camelCase errors that `category_id` is not in camel case

It would be nice to have a "destructuring" option, or just ignore when destructuring non-camel-case props to camelCase.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25126622-destruct

[2015-07-29 16:10] btmills commented on #3185
Since the pattern key is "external" code*, my first reaction is that we should be ignoring that by default, no option necessary. Thoughts?

--

*If it comes from a response, then it's truly external. If it comes from an object created elsewhere, camelcase will catch the issue then. Either way, the local variable is what matters.

[2015-07-29 16:16] willrstern commented on #3185
Sorry, I meant to say "request" not "response".
In this use case, I'm destructuring a POST request query - so as to only have camelCased locals.

I can do it without destructuring:
`const category = query.category_id;`
just not with:
`const { category_id: category } = query;`

[2015-07-29 16:18] btmills commented on #3184
I did an analysis of this part of the spec back in [#2194 (comment)](https://github.com/eslint/eslint/issues/2194#issuecomment-88575851). Based on that, an `ExportDefaultDeclaration` whose `declaration` is a `FunctionDeclaration` (among other alternatives) does not have a semicolon. It looks like this is being parsed correctly as an export followed by an empty statement, but feel free to recheck m

[2015-07-29 16:22] btmills commented on #3185
Thanks for the extra context.

[code]

The above is valid per the demo, so I'm even more convinced now that its destructuring equivalent should also be considered valid.

[2015-07-29 16:43] nzakas commented on #3017
I don't believe there's a bug here - this is expected behavior, unless I'm missing something.

[2015-07-29 16:44] #2829 closed

[2015-07-29 16:45] nzakas commented on #3182
Damn, guess not. Okay, we'll get this fixed.

[2015-07-29 16:46] #2253 closed

[2015-07-29 16:46] #2747 closed

[2015-07-29 16:46] #2967 closed

[2015-07-29 16:48] nzakas commented on #3170
@mysticatea I think we already have too many rules that do similar things, so I'm not sure it's worthwhile to create a whole new rule.

@unphased the message is a bit too long, and I'm not sure adding that for every warning makes sense. Maybe a note of caution on the rule docs would suffice?

[2015-07-29 16:51] lo1tuma commented on #3184
In my example I have a `FunctionExpression` instead of a `FunctionDeclaration`.

[2015-07-29 17:01] lo1tuma commented on #3184
Interesting, [14.1.3](http://www.ecma-international.org/ecma-262/6.0/#sec-function-definitions-static-semantics-boundnames) in the spec says an anonymous functions can be `HoistableDeclaration` if it’s used in a export declaration.
So you are probably right @btmills, that the rule is behaving correctly.

[2015-07-29 17:02] btmills commented on #3184
Parsing

[code]

Yields

[code]

It's weird, but it's an unnamed function declaration. For more discussion on it, see [estree/estree#36 (comment)](https://github.com/estree/estree/pull/38#issuecomment-76960163).

[2015-07-29 17:05] nzakas commented on #3120
@zyklus I'd appreciate it if you could refrain from lecturing me. We deal with hundreds of requests from people who want to tweak this or that rule, and unfortunately we can't always accommodate everyone's desires. That's exactly why we made ESLint pluggable, so you can create your own rules whenever we can't support what you want. That way, you're never blocked on getting what you want just becau

[2015-07-29 17:06] #2584 closed

[2015-07-29 17:06] lo1tuma commented on #3184
Alright, thanks for the clarification @btmills.

[2015-07-29 17:06] #3184 closed

[2015-07-29 17:10] nzakas commented on #3185
I think this should be covered by the `properties` option, shouldn't it?
http://eslint.org/docs/rules/camelcase#options

[2015-07-29 17:19] nzakas opened #3186 "Create RuleTester to replace ESLintTester"
By moving ESLintTester into this package, we're now also bound to include chai and mocha, which sucks. It would be better to have a tester that doesn't have bindings to any particular testing frameworks. So, I'm going to make a new RuleTester object, which would be used like this:

[code]

Then, we'd just use `describe()` directly in our tests and I can remove ESLintTester from the package. Thus,

[2015-07-29 17:35] tomekwi commented on #1862
+1 this is definitely unexpected behavior. See here: <https://github.com/stoeffel/chickencurry/issues/13#issuecomment-126015491>.

Your user guide [says](http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories): *“Any file that follows the standard ignore file format can be used.”* JSHint (via `.jshintgnore`) and git (via `.gitignore`) both handle `/file` correctly. And I don’

[2015-07-29 17:37] unphased commented on #3170
@nzakas Hmmm well... it would be better than nothing...

[2015-07-29 17:40] nzakas opened #3187 "Error when running tests"
When I pulled in the latest from the repo, I get this error when running `npm test`.

[code]

Working on this.

[2015-07-29 17:42] nzakas commented on #3187
New module was using old ESLint Tester. Easy fix.

[2015-07-29 17:43] gyandeeps commented on #3187
why is the travis build passing?

[2015-07-29 17:44] nzakas commented on #3187
No idea.

[2015-07-29 17:45] gyandeeps commented on #3187
I just ran it on my machine, worked fine. :fearful:

[2015-07-29 17:47] nzakas commented on #3187
That's great - it still needs to be fixed. :)

[2015-07-29 17:48] gyandeeps commented on #3187
lol. I have the eslint-tester still there.
Thats shocking that `travis` doens't do a clean install into a new folder.

[2015-07-29 17:49] #3187 closed

[2015-07-29 17:59] ilyavolodin commented on #3186
Sorry, I might be missing something, but how is this different for existing ESLintTester? `describe` still needs to come from there.

[2015-07-29 18:08] nzakas commented on #3186
The difference is that you won't need `describe` or `it` to exist for it to work. The renaming is just to better indicate what it's doing. PR forthcoming.

[2015-07-29 18:34] gyandeeps opened #3189 "Remove eslint-tester from devDependencies"
Remove `eslint-tester` from `devDependencies` as its not needed anymore.

[2015-07-29 19:01] willrstern commented on #3185
The `properties` option would probably cover it, but it's really covering up the fact that parsing isn't distinguishing between destructuring-renaming from object-property-naming.

Adding `properties` would also stop camelCasing checks on all other properties throughout the project.

here's a more simple use-case:
[code]
.eslintrc
[code]

[2015-07-29 19:04] AsaAyers opened #3191 "New rule suggestion: detect modified const"
`prefer-const` can track when I declare a variable that is never modified. It would be nice to have the inverse to detect if I messed up and declared something a `const` but it really needs to be a `let`.

Today I didn't pay close enough attention and I converted a `let { a, b, c } = ...` to a `const { a, b, c } = ...` because `prefer-const` was recommending I convert the first variable, but not a

[2015-07-29 19:09] AsaAyers commented on #3191
1. The use case for the rule - what is it trying to prevent or flag?

[code]

2. Whether the rule is trying to prevent an error or is purely stylistic

I think it's a syntax error, but I'm not totally sure. I know babel errors when I try to use it, but I don't know how it works when using it in a native runtime.

3. Why you believe this rule is generic enough to be included

modifying a `const` is

[2015-07-29 19:25] nikolay-bukharev commented on #3183
Checkstyle plugin for Jenkins uses source to find type and category for errors. It parses "source" of error based on dots :) so I just want to have more suitable source for checkstyle plugin.
For instance, you have source="semi":
- with existing code and it means empty type and empty category for us.
- with my proposal it means type = eslint, category = semi. And you can sort or filter them in Jen

[2015-07-29 20:13] tomekwi commented on #2253
Thanks, works like a charm!

[2015-07-29 20:35] tomekwi commented on #2253
Works like a charm! Thanks!

Can’t wait for the v1!

[2015-07-29 21:04] nkbt commented on #2253
Legend!

[2015-07-29 21:53] nzakas commented on #3185
Hmm, yeah, we probably need to distinguish between MemberExpression and Property nodes rather than treating them the same.

[2015-07-29 21:55] #3189 closed

[2015-07-29 21:57] nzakas commented on #3183
Are these attributes on XML elements? Can you show us an example?

[2015-07-29 22:01] nzakas commented on #3191
Already coming in 1.0.0: http://eslint.org/docs/1.0.0/rules/no-const-assign

[2015-07-29 22:01] #3191 closed

[2015-07-29 22:02] nzakas commented on #1862
@tomekwi yup, we just need someone to look into this.

[2015-07-29 22:04] kevinburkeshyp opened #3193 "Improve validation error messages"
I'm interested in automated checking for my project, specifically the following settings:

- enforcing trailing commas
- erroring for unreachable code
- erroring for unused variables
- erroring on use of undefined variables
- warning for unused function parameters
- single quotes everywhere.

I download ESLint by running `npm install eslint`. The project adds 500 lines to my npm-shrinkwrap, which,

[2015-07-29 22:08] kevinburkeshyp commented on #3193
Hopefully information to reproduce should be available above. I'm using whatever the current version of ESLint on npm is, looks like 0.24.1.

[2015-07-29 22:11] AsaAyers commented on #3191
Thanks :) I didn't think to check 1.0
On Jul 29, 2015 6:01 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-07-29 23:20] nzakas commented on #3193
Thanks, we do have an open issue to address this on the site: https://github.com/eslint/eslint.github.io/issues/101

Do you think the readme is better for starters?
https://github.com/eslint/eslint/blob/master/README.md

[2015-07-29 23:30] dozoisch commented on #3193
@nzakas README is a very good start imo!

[2015-07-29 23:41] kevinburkeshyp commented on #3193
Yeah, that looks more useful then the website. I'm still confused about what key I need to set in the `comma-dangle` settings.

[2015-07-29 23:44] IanVS commented on #3193
About half-way down on the page you gave up on is the information you seek: http://eslint.org/docs/user-guide/configuring#configuring-rules

Essentially, you need to provide a severity (`0` = off, `1` = warn, `2` = error), in addition to `"always"`.

[2015-07-29 23:50] IanVS commented on #3184
I just ran across this concept yesterday in: https://leanpub.com/exploring-es6/read#ch_modules.  It was surprising to me as well.

[2015-07-29 23:52] kevinburkeshyp commented on #3193
@IanVS Any chance the error message can be made more clear, so I don't need to post an issue to determine what the correct configuration setting should be?

[2015-07-30 00:03] zerkms opened #3194 "False positive for `async` keyword"
Disclaimer: I'm not sure if the support for `async` / `await` is even declared at all

For this code:

    let v = {
        async foo() {}
    };

eslint v0.24.1 produces the warning:

    2:10  error  Unexpected space after *     generator-star-spacing

The corresponding configuration rule is

    "generator-star-spacing": [2, "before"]

[2015-07-30 00:13] IanVS commented on #3193
What do you suggest it should say?

Also, you can run `eslint --init` in your project, and it will step you through a few questions in an initialization wizzard to set up a basic config file.  That's a cool feature for beginners and should probably be made more obvious on the website.  I've made that suggestion on the other tracking issue mentioned above.

[2015-07-30 00:15] nzakas commented on #3193
The error messages come from the JSON schema validator we use, so I'm not sure how much configuration of messages we can do. @btmills might know.

[2015-07-30 00:21] nzakas commented on #3194
I'm guessing you're using babel-eslint, and it's probably converting the code into a generator to pass to us. Unfortunately, we don't formally support ES7 features until they are finalized.

[2015-07-30 00:21] #3194 closed

[2015-07-30 00:26] nzakas commented on #3184
Another good source: https://leanpub.com/understandinges6/read#leanpub-auto-modules

;)

[2015-07-30 01:01] zyklus commented on #3120
@nzakas - My apologies, didn't mean to come off accusatory.  I was responding to what I perceived as a dismissal from your end and I've had more than a few conversations like this about flat out bugs in JSHint and was dismissively told "Don't care, change your code, won't fix, <closes issue>".

I definitely appreciate all the work you've put into eslint :)  It's a great tool and the philosophies b

[2015-07-30 01:02] IanVS commented on #3182
Working on it.

[2015-07-30 01:27] IanVS commented on #1025
@nzakas Since https://github.com/eslint/eslint/pull/3151 went a direction you weren't happy with and was closed, can you give a little more guidance on what you'd like to see in this change?  Your comment in https://github.com/eslint/eslint/issues/1025#issuecomment-47809989 was a little unsure sounding.  Is that definitely the direction to go here?

[2015-07-30 01:36] IanVS commented on #3184
Oh man, how did I not know about this?  Definitely going to grab a copy.  :)

[2015-07-30 04:45] mysticatea commented on #3017
Since #3167 (I refactored the rule), `markers` option works as expected :)

[2015-07-30 05:03] zaggino opened #3196 "no-restricted-modules doesn't check es6 modules"
setting
```no-restricted-modules: [2, "cluster"]```
doesn't throw error on
```import cluster from "cluster";```
probably due to:
https://github.com/eslint/eslint/blob/2f36f92e1c8d7000252f905c0a90764ff06e7249/lib/rules/no-restricted-modules.js#L61

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25149954-no-restricted-modules-doesn-t-c

[2015-07-30 05:49] malandrew commented on #3017
Since @mysticatea said that the refactored rule allows you to set something like `/*eslint` as a marker, this issue can be closed. I haven't tried it yet though. I'll reopen this if necessary or file a new issue if appropriate.

[2015-07-30 05:49] #3017 closed

[2015-07-30 05:53] xjamundx commented on #3017
I guess I'm still confused. Can we add a section to the docs about directives? Currently the section on "configuring comments" says it has to be in the following format (no space):
http://eslint.org/docs/user-guide/configuring#configuring-rules

Obviously I can go and try out each permutation, but I swear at some old point back in the day I remember trying `// global jquery` or whatever and it not

[2015-07-30 05:57] xjamundx commented on #3196
Yeah that sounds like an oversight to me.

[2015-07-30 06:51] nikolay-bukharev commented on #3183
[code]

[2015-07-30 08:25] czjvic opened #3197 "Multiline functions indent"
Is there some rule, which support this indent?

Wrong (I need error/warning for this situation):
[code]

Expected (close brace at the same column as function):
[code]

I tried every configuration param in 1.0.0 RC3 version but I didn't find it.

[2015-07-30 08:31] czjvic opened #3198 "space-after-keywords allow enter"
Following code is allowed by *space-after-keywords* in *always* mode
[code]

Expected force
[code]

In plugin should be check for count of spaces between. Currently there is only:
[code]

Version: 1.0.0 RC3

[2015-07-30 09:00] guocheng opened #3199 "Eslint crash error"
I am new to eslint. After installling it globally via npm here is an error I got when trying to lint a js file:

[code]

Does anybody know how to fix it?

BTW, I am using eslint ver **0.24.1**

Thank you!

[2015-07-30 09:03] guocheng commented on #3199
Sorry, a misconfigured .eslintrc file is causing the trouble. Sorry about that.

[2015-07-30 09:03] #3199 closed

[2015-07-30 09:04] steelbrain opened #3200 "Don't suggest const to be used inside a loop"
Took me hours to investigate the bug, it was because I was following eslint's prefer const rule.
That rule shouldn't suggest in scenarios like
[code]
to change to
[code]

[2015-07-30 09:05] steelbrain commented on #3200
Version v0.24.0

[2015-07-30 09:06] mysticatea opened #3201 "`block-scoped-var` reports the duplicate warnings of `no-undef`."
`block-scoped-var` reports the duplicate warnings of `no-undef`.
I thought the warnings should be removed.

## test.js

[code]

## Command & Actual

[code]

## Expected

[code]

----

In current implementation, it's just to remove a function.
See Also: https://github.com/eslint/eslint/pull/3126#issuecomment-125307709

[2015-07-30 09:37] mysticatea opened #3202 "`init-declarations` false positive at `for-in/of`."
## test.js

[code]

## Command & Actual

[code]

## Expected

No errors.

[2015-07-30 09:49] mysticatea commented on #3200
Thank you for the report.

`for (const key in something) {` is valid code in ES2015. :)
Please see also: http://eslint.org/docs/rules/prefer-const

[2015-07-30 09:51] steelbrain commented on #3200
:heart_broken:

[2015-07-30 09:51] #3200 closed

[2015-07-30 12:03] ismay opened #3205 "Add embertest from globals"
Could the [embertest globals](https://github.com/sindresorhus/globals/blob/master/globals.json#L985) be added to eslint as an env preset? They've recently been added to the globals repo and would be useful for an ember(-cli) testing environment.

[2015-07-30 13:36] btmills commented on #3193
I think I can improve some of the error messages at least - we could check manually for severity and enums and have friendlier messages for those, since they're our most common cases and more easily handled.

[2015-07-30 13:51] gyandeeps commented on #3197
Duplicate https://github.com/eslint/eslint/issues/1801
I will close this issue, please follow https://github.com/eslint/eslint/issues/1801 for updates.
Thanks

[2015-07-30 13:51] #3197 closed

[2015-07-30 14:27] nzakas commented on #3193
Cool, I'll keep this open for that change.

[2015-07-30 14:28] #3182 closed

[2015-07-30 14:29] #3201 closed

[2015-07-30 14:30] #3202 closed

[2015-07-30 14:31] #3181 closed

[2015-07-30 14:33] nzakas commented on #3196
Not an oversight - this was created for `require` syntax. We generally do not treat `require` the sand as ES6 modules because they behave differently.

[2015-07-30 14:37] nzakas commented on #3205
Yup, do you want to create a pull request?

[2015-07-30 14:40] nzakas commented on #3198
Yeah, we should double check that it's a space rather than a new line.

[2015-07-30 14:42] nzakas commented on #3017
What permutations? Just follow your normal code conventions as enforced by this rule. Am I missing something?

[2015-07-30 14:43] nzakas commented on #1025
Yes

[2015-07-30 14:44] nzakas commented on #3183
OK, just so I'm clear, `source` is currently just "semi" and you want it to be "eslint.semi"?

[2015-07-30 15:00] xjamundx commented on #3017
Maybe something like this:

### Directives

Directives, also known as configuration comments, can be found in two types: file-level directives and line-level directives. These allow you to change rules, environments or other configuration for one file or just one part of a file. You can choose to use either line or block comments for your directives.

The following block-level directives exist:
-

[2015-07-30 15:52] bebraw opened #3209 "Fails to give an error if parser is not found"
In short if parser is missing, it doesn't let you know that it's missing. [Example](https://github.com/bebraw/eslint-parser-fail)

[2015-07-30 15:57] gyandeeps commented on #3209
This is what I got:
[code]

[2015-07-30 16:07] alallier opened #3210 "One var rule giving indentation errors"
ESLint version `1.0.0-rc-3`

Code example:
[code]

Rule:
`"one-var": [2, "always"]`

ESLint Output:
[code]

[2015-07-30 16:11] gyandeeps commented on #3210
Duplicate https://github.com/eslint/eslint/issues/3164
Rule is working as expected.

[2015-07-30 16:24] resistdesign opened #3211 "Don't trigger `block-scope-var` if `no-undef` is already triggered."
Got a linting error in this order:
[code]

I would think that the `block-scope-var` error would be unnecessary once you have a `no-undef` error.

[2015-07-30 16:31] alallier commented on #3210
`"indent": [2, 2]` Although changing this to 4 would require every line in the js code to have an indentation of 4. The one var rule should have an indentation of 4 with the rest of the js code should have an indentation 2. This was working correctly 0.24.1

[2015-07-30 16:36] gyandeeps commented on #3210
In 0.24.1, we never accounted for this scenario for indent rule. Similar concern as #3164 .
You want all of your code to have 2 indent but here you want 4 indent. Which is not correct.

[2015-07-30 16:38] alallier commented on #3210
Yes that is what I want

[2015-07-30 16:41] bebraw commented on #3209
Ok, got it... There was a global install of `babel-parser` hanging around. I suppose it's safe to close this. :+1:

[2015-07-30 16:41] #3209 closed

[2015-07-30 16:46] kethinov commented on #3210
The idea behind it is this:

[code]

That is a common way of doing indenting and there should be a config that will allow it to pass eslint.

4 spaces for var lists, 2 spaces for everything else.

[2015-07-30 16:49] gyandeeps commented on #3210
Here is when its gets dirty, since right now you are suing `var` thats why you want 4 but what would you do when you use `const`?

[2015-07-30 16:54] kethinov commented on #3210
I see nothing wrong having a rule that also permits this to be valid:

[code]

People commonly want to comma separate their var/const/whatever lists with newlines and want it line up with the first item on the list, just as @targos from #3164 did. If eslint 1.x.x sees a stable release with this change that many would see as a regression, I suspect we'll see a lot more issues like this filed.

[2015-07-30 16:56] gyandeeps commented on #3210
@eslint/eslint-team Suggestions/views?

[2015-07-30 16:59] IanVS commented on #3210
It seems like a reasonable request to me. It does look a lot better than:

[code]

[2015-07-30 17:06] tomekwi commented on #1862
By the way, the [`package.json` `files` field](https://docs.npmjs.com/files/package.json#files) [handles these correctly](https://github.com/tomekwi/virtual-dom-lite/blob/1f70eac9a73ea89f75f963a10d60b1fb63a82324/package.json#L31-L37) too.

Perhaps it’s a module which resolves these inside *npm*? Perhaps you could use their logic? I’d love to help but I’m completely buried with work t the moment.

[2015-07-30 17:14] ilyavolodin commented on #3211
This has been fixed in #3207 should be available with the next release.

[2015-07-30 17:14] #3211 closed

[2015-07-30 17:20] ilyavolodin commented on #3210
I think it's actually a valid request, it's just phrased incorrectly. For `var` it's not indentation, it's actually an alignment. You are aligning based on variable names. If you view a request under that light, I think it's a perfectly valid approach.

[2015-07-30 17:34] kethinov commented on #3210
Ah yes, you're right. Alignment is definitely a much better way to describe this.

[2015-07-30 17:34] #3186 closed

[2015-07-30 17:36] #3099 closed

[2015-07-30 17:36] #3101 closed

[2015-07-30 17:38] nzakas commented on #3210
You can slice and dice semantics, but at the end of the day, this is indentation (with the purpose of alignment).

I think this is one of those things were we need to provides options to increase or decrease indentation level based on some AST node. So maybe instead of `indentSwitchCase: true`, we should have `SwitchCase: 1` (default of 0) and then in this case we'd have `VariableDeclarator: 2` (d

[2015-07-30 17:42] ilyavolodin commented on #3210
@nzakas That sounds reasonable, and should cover us for other scenarios as well. (like `const`)

[2015-07-30 17:42] xjamundx commented on #3196
@nzakas because it's called `no-restricted-modules`, would it be ok to add import declarations to the list of places that could trigger the warning. I don't think it makes sense for people to make that list twice.

[2015-07-30 17:58] nzakas commented on #3210
Let's defer on `const` for now and focus on everything else.

[2015-07-30 18:27] gyandeeps commented on #3210
working on this.

[2015-07-30 18:31] ismay commented on #3205
No problem!

[2015-07-30 18:32] dar5hak opened #3212 "New environment: Jest"
[Jest](http://facebook.github.io/jest/) is a unit testing framework. I intend to add a new environment for it in ESLint. It only includes [a bunch of global variables](https://github.com/dar5hak/globals/commit/10204a0cdd160fec83893e2ab353cc7276f462b3).

Here's what I'm going to do:
- Update the version of `globals` to 8.3.0
- Add a `jest` property to `conf/environments.js`
- Add an entry to `docs/

[2015-07-30 21:11] btmills commented on #3198
Working on this.

[2015-07-30 21:13] nzakas commented on #3196
Wouldn't people be using one or the other? Not both?

[2015-07-30 21:13] nzakas commented on #3212
That looks perfect!

[2015-07-30 21:14] #3036 closed

[2015-07-30 21:19] #3198 closed

[2015-07-30 21:26] nzakas commented on #3120
We definitely don't want to dismiss concerns when they're brought up to us. The difference between JSHint and ESLint in this regard is that with ESLint, you actually have the option to create a custom rule to do exactly what you want. So when we can't or won't do what is asked, that doesn't mean *you* still can't do exactly what you want to do. When we suggest creating a custom rule, it's definite

[2015-07-30 22:01] nikolay-bukharev commented on #3183
bzzz.eslint.semi :)
https://github.com/jenkinsci/checkstyle-plugin/blob/f93909d278db9758647353bfc383c58f06ab3b33/src/main/java/hudson/plugins/checkstyle/parser/CheckStyleParser.java
113

it wants to have structure like <anything>dot<category>dot<type>

[2015-07-30 23:50] xjamundx commented on #3196
Not in our case where we have a transitioning codebase, but I know you've
been consistent about this elsewhere so I'm fine with a new rule...

On Thu, Jul 30, 2015 at 2:13 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2015-07-31 01:36] KenPowers opened #3216 "Multiple spaces found before 'from'"
I align my `import ... from ...` declarations as such:

[code]

This produces the error `Multiple spaces found before 'from'` from the `no-multi-spaces` rule. I have the following rule configuration in my `.eslintrc`:

[code]

Is there another node type I can use to get my preferred import style to work with eslint?

[2015-07-31 04:32] pixelmike commented on #1200
Hi, how do I enable this?

[2015-07-31 05:03] IanVS commented on #1200
@pixelmike You'll need to use `1.0.0-rc-3`, and the docs are at http://eslint.org/docs/1.0.0/rules/no-unused-vars#exporting-variables.

[2015-07-31 05:32] michaelficarra commented on #3196
I'd be really disappointed if this rule couldn't handle both styles.

[2015-07-31 07:08] TheSavior opened #3218 "A rule to disallow properties from being called on an object [$15]"
We want to be able to lint that we don't check in code in our tests with

[code]

and a few others.

It would be nice to have a customizable rule like http://eslint.org/docs/rules/no-restricted-modules where we can configure it with the name of the object (if any), the function name, and an optional message to use to tell the user if that function is called.

<bountysource-plugin>
---
There is a *

[2015-07-31 12:02] lozandier opened #3220 "Minor bug: The use of 'expected' instead of `unexpected` for indent violations."
For violations of the indent rule, the error message has a typo that makes it seem that the user's incorrect indentation is correct because `Unexpected` is used instead of `Expected` to describe the violation:
<img width="545" alt="screen shot 2015-07-31 at 12 49 42 am" src="https://cloud.githubusercontent.com/assets/1223224/9006766/14705d24-3759-11e5-9cea-0ee22e0145c6.png">

This *may* be related

[2015-07-31 13:39] IanVS commented on #3220
In your screengrab of the error, the message indeed uses `Expected`, as it should.  Can you describe the issue a little more?

[2015-07-31 13:45] lozandier commented on #3220
@ianVS  Maybe I'm interpreting the error message wrong this whole time, Yeah, I thought it would say something along the lines of `Unexpected indentation of 8 characters` as `Expected` sounded to me that I wanted an indentation of 8 characters instead of 2.

Maybe I implicitly thought the error message would say something along the lines of being clear on *how* to fix the line complying with an in

[2015-07-31 13:51] IanVS commented on #3220
You should be able to tell how many characters of indentation you have by looking at your code, so telling you in the message how many are there would be less-than-useful.  Instead, the message is telling you how many there should be, so it's a simple matter of checking your code, and putting in the number of characters that are expected.

If this is still confusing, maybe if you can share a simpl

[2015-07-31 14:05] gyandeeps commented on #3220
I agree with @IanVS . With this style it helps me to fix the code by telling me the expected indent.

[2015-07-31 14:42] #3205 closed

[2015-07-31 14:49] nzakas commented on #3183
What is "bzzz"?

[2015-07-31 14:53] nzakas commented on #3220
"Expected x but found y." Is a really nice template for error messages. If we can easily add " but found 12" at the end, I think we should do it.

[2015-07-31 14:56] gyandeeps commented on #3220
Thats pretty simple as I am already calculating what we have vs expected. It just I dont display it.
Should I do it with the existing PR?

[2015-07-31 15:47] #3210 closed

[2015-07-31 16:37] joezimjs commented on #1766
I'd like to vote up this issue. Generally, this can be worked around by moving code that needs different rules into a separate file and making sure you do linting before combining files, but this may not be ideal since we'd break things down based on linting preferences rather than what makes sense for the code itself.

[2015-07-31 17:09] #3220 closed

[2015-07-31 17:12] moretti opened #3223 "`prefer-const` should optionally ignore destructuring assignments"
The following block will throw a warning/error about `path` not being modified when [`prefer-const`](http://eslint.org/docs/rules/prefer-const.html) is enabled:

[code]
    `path` is never modified, use `const` instead

I know that it could be rewritten to:

[code]

but It seems like an overkill.

I think there should probably be an additional option for disabling the rule when there is a destruct

[2015-07-31 17:15] #1539 closed

[2015-07-31 17:40] michaelficarra commented on #3223
The second program clearly expresses your intent better. I guess an option would be okay, but I would highly discourage its use. The rationale would basically be laziness.

[2015-07-31 18:24] nikolay-bukharev commented on #3183
Just a placeholder. Please use "io.github" instead, to have full name like  io.github.eslint.semi
or "org", to have org.eslint.semi - don't know what you prefer.

[2015-07-31 19:06] mhart commented on #3198
Hmmm, I think this may have been too hasty and has caused some weirdness with keywords like `else`.

For example, with `"space-after-keywords": [2, "always"]` and the following code:

[code]
I get the error: `Keyword "else" must not be followed by a newline`

I don't think this is the intent of this rule.

[2015-07-31 19:26] KenPowers commented on #3216
I changed `"VariableDeclaration"` to `"ImportDeclaration"` and it worked.

[2015-07-31 19:26] #3216 closed

[2015-07-31 19:49] btmills commented on #3198
Yikes. Can you open a new issue for that? I'm thinking we should only warn for new lines of the next token is `(`, but we should discuss that on the issue first.

[2015-07-31 19:54] mhart commented on #3198
(yeah, or `{` I imagine too)

[2015-07-31 19:57] mhart opened #3226 "Keyword "else" must not be followed by a newline"
The fix for #3198 has created a quirk in the way the `else` keyword is handled.

`"space-after-keywords": [2, "always"]` with the following code:

[code]

Results in the error: `Keyword "else" must not be followed by a newline`

I believe this rule of strictly being a space is really intended to be applied to keywords where the next token is `(` or `{` – as in `if(something)` or `else{ whatever()

[2015-07-31 19:59] mhart commented on #3226
Actually, now that I say that, perhaps `{` is a case where a newline could be fine – but `(` is not

[2015-07-31 20:00] mhart commented on #3198
(or maybe not... not sure. Anyway, filed a new issue, cheers: #3226 )

[2015-07-31 20:03] btmills commented on #3226
`{` should be covered by brace-style, however that's configured.

[2015-07-31 21:02] zloirock opened #3228 "Problem with migration to 1.0, `indent` rule."
Old rule: `"indent": [2, 2]`.
New rule: `"indent": [2, 2, {"VariableDeclarator": 2, "SwitchCase": 1}]`.
[Example 1](https://github.com/zloirock/core-js/blob/v1.0.1/modules/%24.array-methods.js#L27):
[code]
[Example 2](https://github.com/zloirock/core-js/blob/v1.0.1/modules/%24.ctx.js#L7):
[code]

[2015-07-31 21:18] joezimjs opened #3229 "max-len to ignore Regular Expressions"
Is there a way to add an option to ignore regular expressions that are too long? Sometimes those things can get huge. For example, URI.js needs a very long regex to parse a URL: https://github.com/medialize/URI.js/blob/gh-pages/src/URI.js#L207

[2015-07-31 21:36] #3212 closed

[2015-07-31 21:40] nzakas commented on #3183
Oh, I see, it has to have three pieces. How about `eslint.rules.semi`?

[2015-07-31 21:42] gyandeeps commented on #3228
Working on this.

[2015-07-31 22:17] gcochard opened #3231 "Inconsistent off-by-one errors with column numbers"
Reported after scrooloose/syntastic#1494 was closed. I have replicated the behavior with eslint `v1.0.0-rc-3` and `v1.0.0`.
[code]

When using vim, it highlights the column **after** the semicolon as shown in the screenshot below:
<img width="332" alt="screen shot 2015-07-31 at 2 23 24 pm" src="https://cloud.githubusercontent.com/assets/2836237/9018094/5b09e4b2-3790-11e5-9521-a4f1d678984b.png">

N

[2015-07-31 23:09] btmills commented on #3231
Had the vim integration been updated for the 1-based column indexing we switched to in 1.0?

[2015-07-31 23:21] xjamundx commented on #2318
I'll take a stab at this...

[2015-08-01 00:07] gcochard commented on #3231
Yes, I confirmed that the vim integration was working properly.

[2015-08-01 01:02] kentor opened #3232 "Addendum to no-unneeded-ternary"
This is also a case of an unnecessary ternary:

[code]

Could just be

[code]

http://eslint.org/docs/rules/no-unneeded-ternary

[2015-08-01 04:02] pantocrator27 opened #3233 "predefined configurations for eslint"
Is there a set of predefined configurations for eslint?

[2015-08-01 04:51] willklein commented on #3218
I've written a rule just like that, I will try to share it over the weekend.

I don't know if it makes more sense as a core rule or a plugin. The rule on its own would not have any defaults, and to enable it you'd also need to provide disallowed keys.

[2015-08-01 06:39] aparajita commented on #3226
For those of us who don't enforce braces, the "fix" to #3198 totally broke this rule with `else`.

[2015-08-01 08:35] nikolay-bukharev commented on #3183
It would work, so I'm fine with this proposal.

[2015-08-01 09:12] mysticatea commented on #3233
Yes, you can use [`"eslint:recommended"`](http://eslint.org/docs/user-guide/migrating-to-1.0.0#all-rules-off-by-default) or [sharable configs](https://www.npmjs.com/search?q=eslintconfig).

[2015-08-01 12:40] silverwind opened #3235 "`indent`gives strange advice on wrapped arguments"
To keep lines within 80 characters, we wrap function arguments like this:
[code]
In 1.0, it errors on the `console` line with `Expected indentation of 13 characters but found 2`, which seems like a bug to me in the new `indent` rule using these settings:

`indent: [2, 2, {"SwitchCase": 1, "VariableDeclarator": 2}]`

cc: @gyandeeps

[2015-08-01 12:50] IanVS commented on #3235
Possible duplicate of https://github.com/eslint/eslint/issues/3228?

[2015-08-01 12:54] silverwind commented on #3235
Could be a seperate issue from the looks of it.

[2015-08-01 13:05] targos commented on #3228
Cross-referencing: https://github.com/nodejs/io.js/pull/2286

[2015-08-01 13:11] targos commented on #3235
looks like a duplicate of #3173

[2015-08-01 13:18] silverwind commented on #3235
Yeah, it is. Thanks for digging that out.

[2015-08-01 13:18] #3235 closed

[2015-08-01 13:30] targos opened #3236 "Indent rule problem with object and array literals"
Version 1.0.0

Rule:
[code]

Code:
[code]

Result:
[code]

The rule accepts any indentation for the object or array literal if it starts on a new line. Then it uses this indentation as a reference for the next errors, so we see an expected odd indentation (9, 7) when the rule is set to 2.

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-01 13:51] Standard8 commented on #3233
Unfortunately, I can't find anywhere in the docs that says what exactly is the recommended list.

The docs say that its slightly different to 0.x, but it doesn't say what, it just gives a list of rules to review.

I think eslint:recommended is defined by the contents of the ```conf/eslint.json``` file, if so, it'd be nice to be able to point to that or have it documented somehow.

[2015-08-01 14:02] targos opened #3237 "Indent rule with object and array elements"
Version 1.0.0

Rule:
[code]

Code:
[code]

Error:
[code]

I expect the rule to warn about the indentation of array and object elements (should be 2 instead of 4), but it is flagging the last line of the literal instead.
Note: when indentation of the elements is correct, there is no problem.

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-01 14:16] targos opened #3238 "Indent rule and nested one-line blocks"
Rule:
[code]

Code:
[code]

Error:
[code]

I expect no error in this case.

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-01 14:28] targos commented on #3173
Cross-referencing: https://github.com/nodejs/io.js/pull/2286

[2015-08-01 14:46] nzakas commented on #3233
You can find predefined configs on npm: https://www.npmjs.com/browse/keyword/eslintconfig

The recommended rules are indicated on the rules page: http://eslint.org/docs/rules/

Search for "(recommended)"

[2015-08-01 14:46] #3233 closed

[2015-08-01 14:51] nzakas commented on #3229
See the `ignorePattern` option: http://eslint.org/docs/rules/max-len#options

[2015-08-01 14:55] nzakas commented on #3231
Are you sure? It looks like it hasn't been updated yet:

https://github.com/scrooloose/syntastic/blob/master/syntax_checkers/javascript/eslint.vim#L52

[2015-08-01 14:58] nzakas commented on #3231
Ooh, nevermind, I see what they're doing.

Can someone confirm if this behavior is seen on the command line?

[2015-08-01 15:01] nzakas commented on #3226
Yeah, seems like this is the wrong warning. Really, we shouldn't warn about a newline at all, we should just ignore it.

[2015-08-01 15:02] #3228 closed

[2015-08-01 15:03] btmills commented on #3226
Wouldn't that just revert to the pre-#3198 behavior?

[2015-08-01 17:46] gyandeeps commented on #3237
what is expected when we have multiple variable declarations.
rule config: `[2, 2, {"VariableDeclarator": 2, "SwitchCase": 1}]`

A:
[code]

B:
[code]

Based on above examples, which is correct `A` or `B`?

[2015-08-01 18:00] gcochard commented on #3231
The issue post shows the direct eslint output on the command line, at the very top of the post. If you look at the output and then count the characters in the line, there are 43, not 44.

It could be that the behavior is expected, as it is warning on the newline character, not on the semicolon. Thoughts on that?

[2015-08-01 20:46] sindresorhus opened #3239 "Make `CLIEngine#getFormatter()` a static method"
The method doesn't carry any state and it can be useful on its own without an instance.

Currently I have to do this:

[code]

I want to be able to do:

[code]

I realize you don't want to break anything, but it can easily be aliased and available as both a static method and on the prototype.

[2015-08-01 21:16] TrySound opened #3241 "Update inquirer"
https://github.com/SBoudrias/Inquirer.js/releases/tag/v0.9.0

[2015-08-01 23:37] btmills commented on #3241
Is there an issue we have right now that would be solved by upgrading?

[2015-08-01 23:53] sindresorhus opened #3242 "Expose `getErrorResults()`"
https://github.com/eslint/eslint/blob/0cedd009ca9175587f2db7c9dbd847130b60d689/lib/cli.js#L116

I had to [copy it](https://github.com/sindresorhus/grunt-eslint/blob/1342bf2a964818922ca1b267deff285891f8ac28/tasks/eslint.js#L6-L23) for `grunt-eslint`. Would be nice if it were exposed.

[code]

[2015-08-02 00:04] IanVS commented on #3237
My vote is for `B`.

[2015-08-02 00:41] sindresorhus commented on #3241
The dependency tree will be 4MB smaller => https://github.com/SBoudrias/Inquirer.js/issues/259

[2015-08-02 08:59] targos commented on #3237
I'm also for `B`.

[2015-08-02 09:30] steelbrain commented on #1805
@nzakas I am still getting this error, here's some minimal repro code
[code]

[2015-08-02 10:27] dandv-idr opened #3244 "Updates to the announcement blog post"
I've learned about ESLint from http://davidwalsh.name/eslint, which links and quotes http://www.nczonline.net/blog/2013/07/16/introducing-eslint/. Should some updates be made to that blog post to help spread accurate and updated information?

For example,

* Espree instead of Esprima.
* is this still accurate? Didn't see it echoed exactly in the README, though the README does mention parsing the e

[2015-08-02 12:16] mlarcher opened #3245 "rule name in wrong position in list"
I just noticed that id-match in the rules list on http://eslint.org/docs/rules/ was left at the position it had when it was still named regexp-match. It doesn't follow the alphabetical order there.
@nzakas Do you want a PR ?

[2015-08-02 12:20] mlarcher opened #3246 "Wrong encoding of UTF-8 character in rules"
The files used for id-match rule have wrong encoding. They are encoded in windows-1252 instead of utf-8. My bad.
As a result, page on http://eslint.org/docs/rules/id-match displays a missing character on the citation.
I'll send a PR asap.

[2015-08-02 13:43] michaelficarra commented on #1805
@steelbrain What? Your code doesn't include const or switch.

[2015-08-02 13:44] steelbrain commented on #1805
@michaelficarra it does include a `let` I was referred to this issue from https://github.com/eslint/eslint/issues/1834

[2015-08-02 13:52] michaelficarra commented on #1805
The original error was

Is that the error you see? The error was also triggered by interaction with switch. Do you have a switch?

[2015-08-02 14:02] steelbrain commented on #1805
The error I see is `Unexpected token let`, You can find out more using the repro example above.

[2015-08-02 14:55] nzakas commented on #3231
This could just be a quirk of how the rules are written. For instance:
https://github.com/eslint/eslint/blob/master/lib/rules/semi.js#L27

If you are disallowing semicolons, then the last token would be the semicolon and the end location is the spot right after it. It could be that we are doing something similar in a handful of rules.

We should double check semi and no-trailing-spaces to make sur

[2015-08-02 15:02] nzakas commented on #3245
Sure, alphabetical order is nice. :)

[2015-08-02 15:05] nzakas commented on #3244
I don't think the parser switch is all that important. Plus the post is over two years old, I'm hoping people would follow through to the project and read the readme for up-to-date information.

[2015-08-02 15:05] #3244 closed

[2015-08-02 15:07] nzakas commented on #3242
Sounds good.

[2015-08-02 15:09] nzakas commented on #3239
Sure, we can expose that staticly as well.

[2015-08-02 15:19] nzakas commented on #3237
B for sure

[2015-08-02 15:27] nzakas commented on #3218
Yeah, I'm on the fence for inclusion in core - filtering on object properties is always dicey because many objects can have the same properties.

[2015-08-02 15:28] nzakas commented on #3226
Not exactly. If a space is expected but a newline is found, that seems like it should be an error?

[2015-08-02 15:31] nzakas commented on #3223
I'm not sure I understand why destructuring should be considered an exception, especially when one or more of the variables doesn't change. Can you explain more about why you think this option is necessary?

[2015-08-02 15:33] nzakas commented on #3232
Good point. Would you be interested in making that change?

[2015-08-02 15:39] nzakas commented on #3196
I'm just really worried about bundling these together when we don't know what format module strings will ultimately take. People "using" ES6 modules today are doing so built on the back of `require`, but there's no guarantee that module strings will be in the same format when native implementations arrive.

[2015-08-02 15:52] btmills commented on #3226
It looks like this rule needs a little more work. Consider:

[code]

It will earn about the space between `else` and `c`, but that space is required.

[2015-08-02 16:03] mhart commented on #3226
It seems to me that `else` should just be excluded from this rule, no? You always have to have a space of some sort after else don't you?

[2015-08-02 16:04] mhart commented on #3226
Oh, unless it's a brace, but @btmills you [seemed to indicate](https://github.com/eslint/eslint/issues/3226#issuecomment-126799575) that should be covered by other rules.

[2015-08-02 16:27] btmills commented on #3226
Braces on new lines (or not) are covered, but not the space between else and the brace

[2015-08-02 18:33] reviling opened #3248 "No output when using .eslintrc with versions 1.0.0-rc-1 and above"
TL;DR: Using a .eslintrc file with any settings works in version 24.1 will output to the console all the various errors. Using versions 1.0.0-rc-1 and above will output nothing to the console.

This is my .eslintrc file:
[code]
If I install 24.1, things work.
[code]
If I install 1.0.0-rc-1 and above, things don't work. :(
[code]
If I make my .eslintrc file look like the following, things will "wor

[2015-08-02 18:41] btmills commented on #3248
We don't enable any rules by default anymore in 1.0. If you want some of the same behavior, try adding `"extends": "eslint:recommended"` to your eslintrc. That will enable our recommended set of rules to catch potential errors, but you'll want to set stylistic rules yourself.

[2015-08-02 18:45] reviling commented on #3248
Aha! That did indeed do the trick. I feel as though the documentation needs to be updated to reflect this fact.

[2015-08-02 20:26] BlaMaeda opened #3249 "no-cond-assign not working with "always" option"
This is my setup:

A `main.js` file with:

    var answer = 42;
    if (answer = 42) {
        console.log("Something");
    }

and a `.eslintrc` file with:

    {
        "root": true,
        "rules": {
            "no-cond-assign": [2, "always"]
        }
    }

Then, running `eslint main.js` doesn't produce an error.

Replacing the rule with `"no-cond-assign": 2` or `"no-cond-assign": [2, "exc

[2015-08-02 21:36] IanVS commented on #3218
Sounds to me like the perfect use-case for a plugin.

[2015-08-03 02:20] TheSavior commented on #3218
@nzakas, I'm not proposing blocking a specific property on all objects.

I wrote this rule for JSCS before I started using ESLint, and the configuration for the rule looks like:

[code]

[2015-08-03 02:37] IanVS commented on #2518
What is the correct relationship if one config extends from another config?  For example, I want to create `eslint-config-ianvs` which extends `eslint-config-standard` and tweaks a few things to my liking.  Seems to me like I'd use a direct dependency on `eslint-config-standard` and a peer on `eslint`, correct?

[2015-08-03 03:00] #3241 closed

[2015-08-03 03:12] cjihrig commented on #3232
I've got a patch for this. Should this new functionality go behind a rule configuration to avoid breaking existing code?

[2015-08-03 03:34] C0deMaver1ck commented on #1805
I just had this error as well.

<img width="1392" alt="screen shot 2015-08-02 at 11 33 59 pm" src="https://cloud.githubusercontent.com/assets/925716/9030314/ffd57d14-396e-11e5-82c2-51d0123d23c3.png">

[2015-08-03 03:40] ilyavolodin commented on #1805
@C0deMaver1ck Can you share your .eslintrc file please?

[2015-08-03 03:48] C0deMaver1ck commented on #1805
The previous screenshot was without one. When I used this:

[code]

I got
[code]

[2015-08-03 03:52] IanVS commented on #1805
What version are you using?  If you're on `1.0.0`, there is likely an `.eslintrc` file somewhere up the directory structure, or possibly in your `~/`.  Without some kind of eslint configuration, ESLint will do nothing in version `1.0.0`.

[2015-08-03 04:20] ronkorving opened #3253 "Selecting "node" env in --init sets browser: true"
So it seems the Node selection doesn't really work. No matter if I pick Node or Browser, the result is:

[code]

ESLint version:

[code]

[2015-08-03 04:24] ronkorving commented on #3253
My bad. "Use space", it's a multi-select, and didn't realize.
Stupid user, or perhaps the UX can improve a bit. Either way, closing this.

[2015-08-03 04:24] #3253 closed

[2015-08-03 04:25] IanVS commented on #3253
That one option is a bit different from the others, so it is indeed a bit tricky.  Any suggestions for how the UX could be improved?

[2015-08-03 04:49] mysticatea commented on #1805
@C0deMaver1ck You are using arrow functions, so need `arrowFunctions: true` in `ecmaFeatures` section. Or...

[code]

[2015-08-03 07:28] mysticatea opened #3254 "`context.getScope()` returns an wrong scope when `blockBindings: true`."
I'm really surprised.

----

[code]

[code]

No errors.
I expected an error, "Unexpected `this`."

Of course, this simple case exists in [its unit test](https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-invalid-this.js#L108).
This problem happens only when `--env es6` was specified.

----

[code]

[code]

It's OK if there is not `es6: true`.

----

If `--env es6` is specified, [here]

[2015-08-03 07:36] mysticatea commented on #3254
I could reproduce with:

[code]

.....[here](https://github.com/eslint/eslint/blob/master/lib/eslint.js#L1043)?

[2015-08-03 09:17] willklein commented on #3218
@TheSavior, I created a plugin to address this. Let me know if it works for you: https://github.com/willklein/eslint-plugin-disallow-methods

I used the same configuration you suggested above, without the message, for now. I can work on adding it later.

[2015-08-03 10:37] moretti commented on #3223
I think it should be a less strict option, just like `no-unsued-vars` has an option for disabling the check on function arguments, for example.
`prefer-cost` is excellent when you can simply replace a `let` with a `const` statement, but this cannot always be done in conjunction with a destructuring assignment.
I think the first example above reads better than the latter, but this is just a matter

[2015-08-03 11:56] czjvic opened #3257 "Global scope is ignored by block-scoped-var & no-use-before-define when VAR is used"
[code]

Wrong result:
[code]
Expected result:
nothing - a is defined in global scope

Version 1.0.0