[2022-05-08 23:19] justingolden21 commented on #15857
Another (unrelated) inconsistency:

![image](https://user-images.githubusercontent.com/30274440/167319934-b358bdef-dc0e-4baf-885e-7b1f6568fd54.png)

![image](https://user-images.githubusercontent.com/30274440/167319941-6bd4d19b-173a-4c2c-ac94-5bd2640ba829.png)

[2022-05-09 02:25] aladdin-add commented on #15857
If you are using prettier, you'll need to disable all stylish rules.

[2022-05-09 11:03] mdjermanovic commented on #15848
Hi @leonheess, thanks for the issue!

ESLint also supports [`ignorePatterns` in Config Files](https://eslint.org/docs/user-guide/configuring/ignoring-code#ignorepatterns-in-config-files). You can load the alternate ignore file in the config module and use its content in `ignorePatterns`:

[code]

I can see how the proposed new configuration option would be useful, but since there is a relatively e

[2022-05-09 21:45] mdjermanovic commented on #15805
No regressions were reported, so this concludes the v8.15.0 release. Please feel free to merge semver-minor PRs again.

[2022-05-09 21:45] #15805 closed

[2022-05-09 21:45] eslint-github-bot[bot] opened #15858 "Scheduled release for May 20th, 2022"
The next scheduled release will occur on Friday, May 20th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hig

[2022-05-10 08:06] regseb opened #15859 "Bug: 'structuredClone' is not defined with env 'browser'"
### Environment

Node version: v18.1.0
npm version: 8.8.0
Local ESLint version: 8.15.0
Global ESLint version: none
Operating System: Ubuntu 20.04.4 LTS

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

No errors reported.

### What actually happened?

[code]

### Partic

[2022-05-10 09:13] mdjermanovic commented on #15859
Hi @regseb, thanks for the issue!

For environments, we are using the [globals](https://www.npmjs.com/package/globals) package. If some variables are missing, you can open an issue/PR here:

https://github.com/sindresorhus/globals

When the variables are added and a new version is released, we could update the dependency.

[2022-05-10 09:18] AnderssonPeter opened #15860 "Bug: no-restricted-imports group matches what is written in file instead of relative to root?"
### Environment

Node version: 14.17.6
npm version: 6.14.15
Local ESLint version: 8.10.0
Global ESLint version: 8.10.0
Operating System: Windows 10 20H2

### What parser are you using?

Default (Espree) (I'm not 100% sure I'm using angular 13)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

Lets say my file is in the ui folder then I can have 2 different types

[2022-05-10 09:34] regseb commented on #15859
Thanks for the feedback. I created the pull request https://github.com/sindresorhus/globals/pull/190

[2022-05-10 09:44] AnderssonPeter commented on #15860
Changing to `"group": ["**/ui/**"],` resolved my issue!

[2022-05-10 09:44] #15860 closed

[2022-05-10 16:25] kinb98 opened #15864 "Change Request: Add specific links to labels in the Contributing Guidelines"
### ESLint version

v8.15.0

### What problem do you want to solve?

Currently in the contributing guidelines, in the [working on Issues](https://eslint.org/docs/developer-guide/contributing/working-on-issues) page, there are various labels mentioned (like bug, good-first-issue etc.) but only some of those point to the url of those labels in the Issues page.

![Screenshot of Guidelines](https://us

[2022-05-10 22:08] mdjermanovic commented on #15864
Hi @kinb98, thanks for the suggestion!

I believe it's intentional that only labels we're using for accepted issues have links pointing to the list of issues, because those are the only issues that are ready to implement and thus the issues we want to direct new contributors to.

We had links for other labels, but we removed them in https://github.com/eslint/eslint/commit/7d390b29272cef351d95ed595

[2022-05-11 01:23] loynoir commented on #3458
Was using `pnpm`, this was never a problem with `public-hoist-pattern[]=*eslint*`.

But, recently I try yarn berry.

Does any one know what's the workaround for yarn berry, the hoist way, or any way to let yarn berry auto install peer dependency?

[2022-05-11 02:24] mmkal commented on #3458
I got tired of waiting and dealing with gotchas with the module resolution patch libraries so I wrote a small library that lets you “wrap” dependencies’ rules, so you can add any plugins or configs you like as regular JavaScript dependencies: https://www.npmjs.com/package/eslint-plugin-wrapper

We use it at my work with pnpm (rush) but since it’s playing by eslint’s rules without hacks, it should

[2022-05-11 21:42] KurtPreston opened #15870 "Bug: no-mixed-operators rule not catching violations"
### Environment

Node version: 14.18.2
npm version: 6.14.15
Local ESLint version: 8.15.0
Global ESLint version: n/a
Operating System: Linux

### What parser are you using?

@typescript-eslint/parser

### What did you do?

I am trying to use `no-mixed-operators` to catch cases where the `if` clause in a ternary is ambiguous. There's an example provided [in the no-mixed-operators rule documentation]

[2022-05-12 09:23] sgronblo commented on #15010
Am I naive for thinking that you could just add the flag as an experiment `--experimental-no-warn-ignored` and then we wouldn't need to wait an unknown amount of time for an RFC to be created just to silence this error?

Currently we have to resort to using `push --no-verify` every time we add/change a file that is ignored by eslint.

[2022-05-12 11:12] mdjermanovic commented on #15870
Hi @KurtPreston, thanks for the issue!

To clarify, when configured as `'no-mixed-operators': 'error'`, this rule reports a lint error on `a && b || c || d`, but you are also expecting a lint error on `a && b ? c : d` which isn't reported?

[2022-05-12 11:35] Zamiell opened #15872 "Feature: no-useless-return noFix option"
### What rule do you want to change?

no-useless-return

### What change to do you want to make?

This is a feature request for a new option for the `no-useless-return` rule called "noFix", or something similar.

### Description

Like many JavaScript/TypeScript developers, I have my IDE configured to automatically run Prettier and run ESLint --fix on save. Most of the time, this is absolutely fant

[2022-05-12 15:44] KurtPreston commented on #15870
@mdjermanovic Correct. Sorry for confusion, I realized I copied the wrong line in my report. Updating the ticket description now.

[code]

[2022-05-12 17:43] ccalderon9411 opened #15873 "Bug: strip-ansi version vulnerability in ansi-regex"
### Environment

Node version:  16.14.2
npm version: 8.5.0
Local ESLint version: 8.15.0
Global ESLint version: 8.15.0
Operating System: Linux, Windows, MacOS

### What parser are you using?

@babel/eslint-parser

### What did you do?

Generate a new porject and run
npm i eslint

### What did you expect to happen?

Update strip-ansi libary to last versión

### What actually happened?

Veracode test

[2022-05-12 20:39] fab1o opened #15874 "Rule Change: (wrap-iife)"
### What rule do you want to change?

wrap-iife

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Nothing

### What will the rule do after it's changed?

Not allow

### Participation

- [ ] I am willing to submit a pull reques

[2022-05-12 20:43] fab1o commented on #15874
What's the rule for not allow self-invoking functions of any kind? That's what I'm looking for... Thanks!

[2022-05-12 20:58] mdjermanovic commented on #15870
This works as intended because this rule reports only operators that are in the same group.

Default groups are as in the configuration example provided at the beginning of the [Options](https://eslint.org/docs/rules/no-mixed-operators#options) section.

For example:

[code]

Neither of the default groups includes ternary operator, so by default it can be mixed with any other:

You can reconfigure

[2022-05-12 20:58] #15870 closed

[2022-05-12 21:49] mdjermanovic commented on #15874
Hi @fab1o, thanks for the issue!

The wrap-iife rule doesn't disallow IIFEs, it just requires additional parentheses.

[code]

The rule doesn't apply to arrow functions because the syntax already requires them to be parenthesized when they are immediately invoked.

[code]

We don't have a core rule that disallows IIFEs, but you can configure the [no-restricted-syntax](https://eslint.org/docs/rules

[2022-05-12 21:49] #15874 closed

[2022-05-13 00:31] nzakas commented on #15010
We don’t add temporary CLI options. Either a feature is fully thought out and developed or else we don’t move forward with it.

You are welcome to submit your own RFC instead of waiting for someone else.

[2022-05-13 00:49] nzakas commented on #15872
We don’t support the ability to turn off fixing on a per-rule basis in the core. I generally think it’s a bad idea to automatically run ESLint with fixing enabled on save. I don’t know if it’s possible to configure, but there is the `—fix-type` CLI option that allows you to only fix specific types of problems. I’m not sure if the editor plugin supports it, but if not, it may be worth requesting it

[2022-05-13 02:07] Zamiell commented on #15872
Too bad.

For now, I [forked the plugin rule](https://github.com/IsaacScript/eslint-plugin-isaacscript/blob/main/docs/rules/no-useless-return-no-fix.md) and stripped out the fix function. But consider this a feature request for adding that to the core, because frankly it seems pretty silly that I have to fork the entire rule simply to turn off the auto-fixer. Perhaps we can convert this issue into

[2022-05-13 02:27] #15859 closed

[2022-05-13 02:33] aladdin-add commented on #15872
you can use the plugin [eslint-plugin-no-autofix](https://www.npmjs.com/package/eslint-plugin-no-autofix) to turn off the fixer. :)

[2022-05-13 02:51] Zamiell commented on #15872
That's nifty, thanks.

[2022-05-13 03:22] #15872 closed

[2022-05-13 05:56] amareshsm commented on #15839
I am interested to work on this. can I pick this one?
@Bwallker let me know if you are working on this.

[2022-05-13 06:37] Bwallker commented on #15839
I'm not, just saw the reply. Go ahead please 👍

[2022-05-13 09:53] domnantas commented on #15010
I was putting this off for a long time, sorry about that. Finished the RFC: https://github.com/eslint/rfcs/pull/90

[2022-05-13 11:53] mdjermanovic commented on #15839
@amareshsm we only accept PRs for issues labeled "accepted", and this issue isn't accepted yet. You can find more details here:

https://eslint.org/docs/developer-guide/contributing/working-on-issues

[2022-05-13 13:29] amareshsm commented on #15839
@mdjermanovic  Makes sense to me, can you open a new change proposal with details about the suggested fix?  >> Change proposal means? Should I need a issue with the title as change request?

[2022-05-13 16:17] mdjermanovic commented on #15839
I suggested opening a separate issue for the functionality that was mentioned at the end of https://github.com/eslint/eslint/issues/15839#issuecomment-1119300679, because it is different from the original proposal.

The original proposal (this issue) is to add an option that would allow empty `while` loops, while the proposal in https://github.com/eslint/eslint/issues/15839#issuecomment-1119300679

[2022-05-15 00:18] mdjermanovic commented on #13689
Sorry for the delay, here's a detailed proposal.

Default configuration:

[code]

All examples are for "incorrect" code, `foo` can be any expression.

[code]

[code]

[code]

I didn't include conditional expressions because that would overlap with the `no-unneeded-ternary` rule (option [`defaultAssignment: false`](https://eslint.org/docs/rules/no-unneeded-ternary#defaultassignment)).

Notes:

* `e

[2022-05-15 01:47] ljharb commented on #13689
It’s worth noting that the variable assignments would have the same getter risk inside a with statement in sloppy mode, or if the variables are globals (in any location)

[2022-05-15 18:30] amareshsm commented on #15703
I am interested to work on this issue and i am looking into it.

[2022-05-15 18:31] Gautam-Arora24 commented on #15703
@amareshsm Go for it :)

[2022-05-15 22:42] eng-dibo opened #15881 "Bug: Cannot read config file .eslintrc.js"
### Environment

Node version: 16.15.0
npm version:  8.8.0
Local ESLint version: 8.15.0
Global ESLint version: -
Operating System: windows 8.1 x64

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]
[code]

### What did you expect to happen?

to read .eslintrc.js file and to lint without any error

### What

[2022-05-16 01:08] snitin315 commented on #15881
@eng-dibo Can you share a repo in which this is reproducable? I am not able to reproduce this locally.

[2022-05-16 03:26] eng-dibo commented on #15881
https://github.com/eng-dibo/dibo/tree/feat/eslint

[2022-05-16 03:53] ormanlis opened #15883 "Bug: Brand new setup: Oops! Something went wrong! :( ESLint: 8.15.0 AssertionError [ERR_ASSERTION]: Node must be provided when reporting error if location is not provided"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.15.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.4.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

On a brand new setup of aslant wizard it breaks.

 - yarn add -D eslint
 - npm init @eslint/config

wi

[2022-05-16 03:55] ormanlis commented on #15883
Adding

[code]

  Fixes it, but as a user is a bad UX to get started and get an error immediately. Maybe this could be fixed.

[2022-05-16 07:25] aladdin-add commented on #15881
I was not able to repro too. :-O

It looks like the module `callsites` was not correctly installed. can you try to clean the npm cache (`npm cache clean -f`) and retry?

[2022-05-16 22:34] #15644 closed

[2022-05-17 16:43] davidhcefx opened #15885 "Bug: False positive `comma-dangle` when linting multiline operators"
### Environment

Node version: v14.16.1
npm version: v8.3.0
Local ESLint version: v8.15.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

The line with the multiline string produced a `  7:25  error  Missing trailing comma  (co

[2022-05-17 17:29] mdjermanovic commented on #15885
Hi @davidhcefx, thanks for the issue!

This works as intended, as per the [documentation](https://eslint.org/docs/rules/comma-dangle) for the `comma-dangle` rule:

In the provided example, the argument is in a different line than the closing parenthesis, and therefore the rule requires a trailing comma after the argument. The rationale is that it improves the clarity of diffs when additional argum

[2022-05-17 17:29] #15885 closed

[2022-05-19 16:42] drzraf commented on #14308
Aside from discussing on Discord, I think it's an actual bug (or rather disappeared feature). Don't you think the former behavior were failing safe was privileged over argument validation/consistency would be desirable.
eslint being a tool used within editors, command-line & CI, I do think it has great advantage to handle the absence of file arguments.

[2022-05-19 19:21] mdjermanovic commented on #15844
The example with related rules no longer applies since those links now start with `/` , but we'll still have a problem with relative links.

For example, links on this page work well:  https://new.eslint.org/docs/user-guide/configuring/

But, if user opens this (no trailing slash): https://new.eslint.org/docs/user-guide/configuring

the underlying `docs-eslint.netlify.app` redirects to a URL that

[2022-05-19 20:53] kenlyon commented on #15644
7 days, eh? Can this count as an update? I have the same problem after upgrading to react-scripts@5. I already have root: true in my config. I don't see the named file elsewhere in my node_modules.
[code]

[2022-05-19 21:50] joshkel opened #15895 "Rule Change: Allow restricting only default imports in no-restricted-imports"
### What rule do you want to change?

no-restricted-imports

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

When used with a no-restricted-imports configuration of

[code]

ESLint rejects with the following error:

[code]

### What w

[2022-05-19 23:04] aaronadamsCA opened #15896 "Rule Change: Allow `declare var` with `no-var`"
### What rule do you want to change?

no-var

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

`Unexpected var, use let or const instead.`

### What will the rule do after it's changed?

Nothing.

### Participation

- [X] I a

[2022-05-20 00:12] mdjermanovic commented on #15896
Hi @aaronadamsCA, thanks for the issue!

Core rules do not support TypeScript-specific syntax, so we can't update the core `no-var` rule to recognize `declare var`.

You can ask in https://github.com/typescript-eslint/typescript-eslint repo for an [extension rule](https://github.com/typescript-eslint/typescript-eslint/tree/main/packages/eslint-plugin#extension-rules).

Alternatively, you can confi

[2022-05-20 00:12] #15896 closed

[2022-05-20 03:05] qq326943819 opened #15897 "Bug: Why does eslint seem to ignore ".*/*" by default, but I don't see the instructions in the documentation?"
### Environment

Node version: v16.15.0
npm version: v8.5.5
Local ESLint version: v7.32.0
Global ESLint version: Not found
Operating System: win32 10.0.19043

### What parser are you using?

@typescript-eslint/parser

### What did you do?

[minimal reproduction case click here](https://stackblitz.com/edit/node-vizujo?file=.scripts%2Fmain.ts,script%2Fmain.ts)

### What did you expect to happen?

Wh

[2022-05-20 03:16] aladdin-add commented on #15897
it will be changed in the new config. As of now, you can use `--ignore-pattern "!.*"` to unignore it.

[2022-05-20 08:29] aaronadamsCA commented on #15896
Ah, that's my mistake, then - I did not understand that from the prior conversation.

Thank you for the help, and for the suggested workaround!

[2022-05-20 10:51] mdjermanovic commented on #15858
- [ ] @eslint/eslintrc v1.3.0
- [ ] eslint v8.16.0

[2022-05-20 10:56] #15809 closed

[2022-05-20 11:48] mdjermanovic commented on #15839
VS Code supports suggestions.

Rules marked with 💡 in the [list of rules](https://eslint.org/docs/rules/) provide suggestions.

For example, if you have this code:

[code]

`\` will be underlined as an error. When you hover over it, VS Code will offer Quick Fix:

![image](https://user-images.githubusercontent.com/44349756/169520307-785c32c9-b25d-4525-a96e-ecfe562310e9.png)

![image](https://user-i

[2022-05-20 12:45] amareshsm opened #15899 "Rule Change: no-empty suggest to add comments inside empty blocks"
### What rule do you want to change?

no-empty

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Throws an error because an empty while loop is not allowed.

### What will the rule do after it's changed?

show a suggestion to a

[2022-05-20 13:02] mdjermanovic commented on #15899
Thanks for the proposal!

I have two questions:

1. This rule disallows empty block statements. Is the proposal to provide suggestions for all empty block statements, or only for those in while loops?
2. How will the suggestion fix the code?

[2022-05-20 13:27] mdjermanovic commented on #15899
Why only while loops?

[2022-05-20 19:17] amareshsm commented on #15899
I think we can show suggestion for all empty block statements.

[2022-05-20 19:56] whaaaley opened #15900 "Change Request: Autofix eqeqeq when set to "smart""
### ESLint version

8.14.0

### What problem do you want to solve?

Auto fixing `eqeqeq` was removed a long time ago https://github.com/eslint/eslint/issues/4578

Could auto fix for `eqeqeq` be added again but in a limited capacity, just for `smart`? Which are the safe places to use `==`?

### What do you think is the correct solution?

Autofix `eqeqeq` when set to `smart` and `smart` only.

### P

[2022-05-20 20:24] mdjermanovic commented on #15900
Hi @whaaaley, thanks for the issue!

Can you provide a few examples of code that could be autofixed?

[2022-05-20 20:43] whaaaley commented on #15900
Sure! Basically only these cases mentioned here: <https://eslint.org/docs/rules/eqeqeq#smart>
+ Comparing two literal values
+ Evaluating the value of `typeof`
+ Comparing against `null`

The following:
[code]

Would become:
[code]

I'd like this just for consistency within files when using the `smart` option.

[2022-05-20 23:07] mdjermanovic commented on #15858
ESLint v8.16.0 has been released:

https://eslint.org/blog/2022/05/eslint-v8.16.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-05-22 01:51] Samuel-Beslogic opened #15905 "Rule Change: [padding-line-between-statements] Support arrow functions, conditions and member access"
### What rule do you want to change?

padding-line-between-statements

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]
[code]

### What does the rule currently do for this code?

Nothing

### What will the rule do after it's changed?

Allow targetting statements that will catch the extra

[2022-05-22 10:38] regseb opened #15906 "Change Request: global variable only in scope function"
### ESLint version

v8.16.0

### What problem do you want to solve?

I use [Playwright](https://playwright.dev/) to control a browser from a Node script. With Playwright, you can write JavaScript that will be executed in the browser (with [`page.evaluate(pageFunction[, arg])`](https://playwright.dev/docs/api/class-page#page-evaluate)).

[code]

ESLint reports that `window` isn't defined ([_no-unde

[2022-05-22 15:11] mdjermanovic commented on #15905
Hi @Samuel-Beslogic, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `padding-line-between-statements` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-05-22 15:11] #15905 closed

[2022-05-22 15:23] mdjermanovic commented on #15899
Since this rule allows block statements with a comment inside regardless of the context in which the block statement appears (as in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLWVtcHR5OiBcImVycm9yXCIgKi9cblxue1xuICAvKiBlbXB0eSAqL1xufVxuXG5pZiAoZm9vKSB7XG4gIC8qIGVtcHR5ICovXG59IGVsc2Uge1xuICAvKiBlbXB0eSAqL1xufVxuXG53aGlsZSAoZm9vKSB7XG4gIC8qIGVtcHR5ICovXG59Iiwib3B0aW9ucyI6eyJwYXJz

[2022-05-22 15:47] mdjermanovic commented on #15900
Thanks for clarifying! But given how the rule works, this looks like a request for different functionality of the `"smart"` option rather than just autofixing, because `"smart"` allows all these cases, as in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgZXFlcWVxOiBbXCJlcnJvclwiLCBcInNtYXJ0XCJdKi9cblxuLy8gdGhlc2UgYXJlIGFsbG93ZWRcbnR5cGVvZiBmb28gPT09ICd1bmRlZmluZWQnXG4naGVsbG8nICE9PSAn

[2022-05-22 16:17] amareshsm commented on #15899
I agree we can suggest adding comments to all empty block statements.

[2022-05-22 16:47] mdjermanovic commented on #15906
I think this problem is much more complex than just handling globals. Are variables that appear to be in upper scopes available in the function?

[code]

[2022-05-22 16:56] mdjermanovic commented on #15899
Suggestion that adds `/* empty */` comment inside the reported empty block statement makes sense to me :+1:

Since all new features need a consensus from the team, let's wait for more opinions.

[2022-05-22 19:25] regseb commented on #15906
The variables in the upper scope aren't available in the function. I think `evaluate()` does a `toString()` on the function and sends the string to the browser. For this problem, I don't find a solution to solve it.

[2022-05-23 07:36] likyh opened #15908 "Bug: (fill in)"
### Environment

Node version:
npm version:
Local ESLint version:
Global ESLint version:
Operating System:

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

lint success

### What actually happened?

[code]

I‘m very sure that `key={\`pipeline-task-key-${tIdx}\`}` g

[2022-05-23 08:31] aladdin-add commented on #15908
you could use `"parser": "@babel/eslint-parser"` instead.

[2022-05-23 21:57] mdjermanovic commented on #15858
No regressions were reported, so this concludes the v8.16.0 release. Please feel free to merge semver-minor PRs again.

[2022-05-23 21:57] #15858 closed

[2022-05-23 21:57] eslint-github-bot[bot] opened #15911 "Scheduled release for June 3rd, 2022"
The next scheduled release will occur on Friday, June 3rd, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hig

[2022-05-23 23:09] mdjermanovic commented on #15710
@btmills would you agree with adding an option to allow references in `export { }`?

[2022-05-24 10:59] Twixes opened #15913 "Change Request: Support `eslint-expect` in addition to `eslint-disable`"
### ESLint version

v8.4.0

### What problem do you want to solve?

`eslint-disable` is a crucial part of ESLint – without it, any rule false positives would completely ruin the experience, and it'd extremely cumbersome to fix issues gradually (let's say, with multiple smaller PRs instead of one huge one). _After_ the warning/error (no matter if a false positive or a real acknowledged issue) is go

[2022-05-24 11:17] mdjermanovic commented on #15913
Hi @Twixes, thanks for the issue!

I think this can already be achieved by using [eslint-comments/no-unlimited-disable](https://mysticatea.github.io/eslint-plugin-eslint-comments/rules/no-unlimited-disable.html) rule to require specifying rules, and CLI option [`--report-unused-disable-directives`](https://eslint.org/docs/user-guide/command-line-interface#--report-unused-disable-directives) or con

[2022-05-24 13:16] regseb opened #15914 "Bug: `key-spacing` with character encoded as two code units"
### Environment

Node version: v18.2.0
npm version: 8.10.0
Local ESLint version: 8.16.0
Global ESLint version: none
Operating System: Ubuntu 22.04 LTS

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

No error reported.

### What actually happened?

[code]

### Particip

[2022-05-24 18:10] slice-anuj opened #15916 "[no-duplicate-imports]: issue while using --fix"
### Environment

Node version: v16.13.2
npm version: 8.1.2
Local ESLint version:  8.15.0
Global ESLint version: 8.15.0
Operating System: macOS

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>
if two import is similar then, its merge them both which create a new issue which not identified by eslint.

`
import {a} from "./foo";
import {a} from "./

[2022-05-24 19:04] amareshsm commented on #15844
In new docs, a lot of links seem to be not working. I have listed a few samples.
link - https://new.eslint.org/docs/user-guide/getting-started/

In the below image configuration, command line interface and integration links redirects to 404 page
<img width="842" alt="image" src="https://user-images.githubusercontent.com/30730124/170111954-92db152c-f06d-44ac-95d6-f2123890d83b.png">

I have created

[2022-05-24 19:12] mdjermanovic commented on #15916
Hi @slice-anuj, thanks for the issue!

The core rule `no-duplicate-imports` doesn't provide fixes. Can you run eslint without `--fix` to see which rule reports this error?

[2022-05-24 19:36] ljharb commented on #15914
@mdjermanovic you probably want to calculate it based on grapheme clusters instead - for example, `🏳️‍🌈`  is 6 code units, 4 code points, but 1 grapheme cluster.

`Intl.Segmenter` or https://npmjs.com/grapheme-cluster can be helpful.

[2022-05-24 20:34] mdjermanovic commented on #15914
Would this depend on the locale? According to the [proposal FAQ](https://github.com/tc39/proposal-intl-segmenter#why-should-we-pass-a-locale-and-options-bag-for-grapheme-boundaries-isnt-there-just-one-way-to-do-it) ("Why should we pass a locale and options bag for grapheme boundaries?"), it seems that we might get different results in different environments for the same input.

I'm getting "packag

[2022-05-24 20:48] ljharb commented on #15914
oh sorry, https://npmjs.com/grapheme-splitter :-)

yes, it might vary by locale, but eslint could have the locale be configurable and consistent.

[2022-05-24 21:22] Twixes commented on #15913
Thanks! That does indeed seem to solve the use case really well. TBH I'd still be up for adding this to `eslint` just as an exercise if there's interest from someone else in this exact solution, but I'll close for now.

[2022-05-24 21:22] #15913 closed

[2022-05-24 21:51] mdjermanovic commented on #15844
On the current site, this page is https://eslint.org/docs/user-guide/getting-started (without trailing slash). Relative links on the page were set based on the URL without the trailing slash, and the current site redirects https://eslint.org/docs/user-guide/getting-started/ to https://eslint.org/docs/user-guide/getting-started, so it always works well.

On the new site, redirects don't work, and w

[2022-05-25 00:23] edwin177 commented on #15542
Also having this issue with versions:

"eslint": "8.8.0",
"@typescript-eslint/parser": "5.18.0",

Will see if I can come up with a simple repro.

[2022-05-25 07:37] arleyGuoLei opened #15921 "Bug: The parameters in the path are missing - No files matching the pattern"
### ESLint version

v7.32.0

### What problem do you want to solve?

[code]

`$app$copyright` The parameters in the path are missing

[2022-05-25 07:46] aladdin-add commented on #15921
not sure I got your point; can you explain what's the `$app$copyright`?

[2022-05-25 08:19] arleyGuoLei commented on #15921
The file path contains these two strings，my filename is `render$app$copyright#.tsx`

[2022-05-25 09:05] arleyGuoLei commented on #15921
sorry, glob string `$` has a mistake, resolve

[2022-05-25 09:05] #15921 closed

[2022-05-26 10:57] mdjermanovic commented on #15906
It seems that the right solution would be to lint those functions separately, which might be a good case for a custom [processor](https://eslint.org/docs/developer-guide/working-with-plugins#processors-in-plugins) that would split the file into code blocks, for which different override configurations could then be defined. I’m curious what other team members think.

[2022-05-26 12:58] amareshsm commented on #15844
In our case can't we use netlify’s Pretty URLs feature by any means? if not then we can consider 3rd option (Allow all URLs with and without a trailing slash)

[2022-05-27 08:57] piranna opened #15928 "Rule Change: ignore URLs in comments only if they're the only content in the line"
### What rule do you want to change?

max-len

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

if `ignoreUrls` is enabled and line has an URL, full line is ignored, no matter if it's on code or a comment or has some extra text.

### Wh

[2022-05-27 10:13] mdjermanovic commented on #15928
Hi @piranna, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `max-len` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

For this particular case, I think you could also use the existing option [`ignorePattern`](https://esl

[2022-05-27 10:13] #15928 closed

[2022-05-27 10:31] voxpelli commented on #14231
@nzakas I think this one can be closed as complete now, right?

[2022-05-27 10:38] piranna commented on #15928
In fact, I was thinking on using `ignorePattern` as an alternative :-D Just only I was worried about how to detect the URLs inside the multi-line comments, that's why I didn't tried it first. Do you have any clue? As you've showed, for the trailling comments syntax, regular expression to detect them is trivial :-)

So this is only just due to being set the eslint rule as a comment for example purp

[2022-05-27 11:05] mdjermanovic commented on #15928
multi-line comments where the URL is on a separate line, like this one?

[code]

Exactly, in a configuration file it can be `"\\s*//\\s*\\S*[^:/?#]://[^?#]\\S*$"`, there's no need to wrap the first part in `(?:)`.

[2022-05-27 12:11] piranna commented on #15928
Yes, like that one, maybe with a `*` at begin of the line for aesthetics, nothing else.

Great, thank you :-) Just only, with the final `$` at `[^?#]\\S*$`, that would prevent to have any anchor or query in the URL, isn't it? Maybe we should remove that part and just only left the schema and the `://` fragment?

[2022-05-27 12:25] voxpelli commented on #14708
Works for Renovate bot now at least: https://github.com/voxpelli/eslint-config/pull/103

[2022-05-27 12:25] #14708 closed

[2022-05-27 20:33] 12Me21 opened #15930 "Bug: leading semicolon after single-line block = wrong indentation"
### Environment

Node version: v18.0.0
npm version: v8.6.0
Local ESLint version: Not found
Global ESLint version: v8.16.0 (Currently used)
Operating System: linux 5.10.0-9-amd64

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

(no errors)

### What actually happened?

[2022-05-27 22:51] Krinkle commented on #15730
(Still an issue.).

[2022-05-28 01:08] mdjermanovic commented on #15873
No response, so closing.

[2022-05-28 01:08] #15873 closed

[2022-05-28 18:09] vitonsky opened #15931 "Bug: inconsistent ignoring files"
### Environment

Node version: 14.18
npm version: 6.14.15
Local ESLint version: 7.32
Global ESLint version: 7.32
Operating System: ubuntu

### What parser are you using?

@typescript-eslint/parser

### What did you do?

- add `node_modules` to `.eslintignore` file
- run `eslint --fix **/*.{ts,tsx,js}`

### What did you expect to happen?

All files in project except `node_modules` will scanned and

[2022-05-28 18:49] mdjermanovic commented on #15931
Hi @vitonsky, thanks for the issue!

Your shell expands the glob and sends a list of files to eslint, which then sees them as if they were entered one by one on the command line and reports the ignored ones because it assumes you would not want to skip linting any files that were explicitly listed on the command line.

Can you try with quotes:

`eslint --fix "**/*.{ts,tsx,js}"`

This way, eslint w

[2022-05-28 18:57] vitonsky commented on #15931
Yes, it's solve my problem, thank you.

But what about some CLI flag allowed ignore to all files listed explicitly?

It's useful to other cases. For example, when i use eslint with `lint-staged`, all files will specify explicitly. In case when all these files should be ignored, we may got this error. I got this error just now, but for `stylelint`.

I think it's be useful if we can do something lik

[2022-05-28 22:48] mdjermanovic commented on #15931
Actually, for an ignored _file_ eslint will just return a lint warning. In your example, `node_modules/big.js` is a directory (npm package named `big.js`).

Since `lint-staged` specifies a list of files, it should work well because lint warnings do not cause exit with error status.

Unless you're using [`--max-warnings`](https://eslint.org/docs/user-guide/command-line-interface#--max-warnings) fla

[2022-05-28 22:56] vitonsky commented on #15931
Ok, thanks for explaining. Now all clear for me.
I hope other users will find this page while googling this error.

[2022-05-28 22:56] #15931 closed

[2022-05-28 23:03] mdjermanovic commented on #15928
It's to disallow additional text after the URL, for example:

[code]

`\\S*$` ensures that all characters after `://` belong to the url, as it would not match if there is a space.

Here's a [demo example](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG1heC1sZW46IFtcImVycm9yXCIsIHtcbiAgICBjb2RlOiA2MCxcbiAgICBpZ25vcmVVcmxzOiBmYWxzZSxcbiAgICBpZ25vcmVQYXR0ZXJuOiBcIig/OlxcXFxzKikvL1xcXFxzKlxcXFxTKlt

[2022-05-28 23:34] mdjermanovic commented on #15928
Here's a version that allows urls after `//` or `*`:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG1heC1sZW46IFtcImVycm9yXCIsIHtcbiAgICBjb2RlOiA2MCxcbiAgICBpZ25vcmVVcmxzOiBmYWxzZSxcbiAgICBpZ25vcmVQYXR0ZXJuOiBcIl5cXFxccyooPzovL3xcXFxcKilcXFxccypcXFxcUypbXjovPyNdOi8vW14/I11cXFxcUyokXCJcbn1dKi9cblxuLy8gaHR0cDovL2V4YW1wbGUuY29tL2EtdmVyeS1sb25nLXVybC1hcy1zaW5nbGUtaXRlbS1pbi1h

[2022-05-29 03:58] rfool opened #15932 "Rule Change: (fill in)"
### What rule do you want to change?

space-unary-ops

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

The current implementation of rule _will always apply_ both its `words` and `nonwords` options.

The `overrides` option, when used, _will

[2022-05-29 08:34] piranna commented on #15928
You are right, we want the line end there and don't have more values... I was not sure if `max-len` was checking just for the URL or the full line, now it makes more sense, thanks.

Good point :-D I was worried about how to detect the `*`, but seems it's only possible when inside a comment or a multiline string template, anything else `eslint` gives an error that it can be parsed since it's not va

[2022-05-29 13:22] mdjermanovic commented on #15932
Hi @rfool, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options (including new values for existing options) to the `space-unary-ops` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-05-29 13:22] #15932 closed

[2022-05-29 13:54] caub opened #15934 "Rule Change: multiline-ternary add always-start option"
### What rule do you want to change?

multiline-ternary

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option: `always-start`

### Example code

[code]

### What does the rule currently do for this code?

It rejects it

### What will the rule do after it's changed?

It would allow it with `"multiline-ternary": ["error"

[2022-05-29 14:42] mdjermanovic commented on #15934
Hi @caub, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `multiline-ternary` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-05-29 14:42] #15934 closed

[2022-05-29 16:37] kaocong opened #15935 "Bug: (fill in) misinformation no shadow"
### Environment

Node version:  v14.19.3

npm version:  6.14.17

Local ESLint version:  7.32.0
Global ESLint version:
Operating System:  window

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

no error  with first const message and options

### What actually happened?

[2022-05-29 20:14] mdjermanovic commented on #15935
Hi @kaocong, thanks for the issue!

Can you please share your configuration for the `no-shadow` rule?

(the one you provided is for `no-shadow-restricted-names`, which is a different rule)

[2022-05-29 20:57] wesdse001 opened #15941 "[Node 18] Global `fetch` API is available by default, but `"fetch" is not defined` is reported"
### What rule do you want to change?

no-undef

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

The `no-undef` rule throws an error because in earlier version of Node, `fetch` is not defined.

### What will the rule do after it's changed?

F

[2022-05-29 21:59] mdjermanovic commented on #15941
Hi @wesdse001, thanks for the issue!

This is already supported. Which version of ESLint are you using, and can you share your configuration?

We have updated global variables to include `fetch` in Node environments (https://github.com/eslint/eslintrc/pull/81) as of ESLint v8.16.0.

Here's an [online demo](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgcmVzID0gYXdhaXQgZmV0Y2goJ2h0dHBzOi8vbm9kZWpzLm9y

[2022-05-30 00:04] TheAlphaReturns opened #15942 "New Rule: `let`/`const`/`var`/etc. should always be required when defining a new variable."
### Rule details

Make it so that a keyword (e.g. `let`) should always be used before defining a new variable

### Related ECMAScript feature

Typescript needs this.

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

It is required for typescript to function. Also required if you are

[2022-05-30 00:41] mdjermanovic commented on #15942
Hi @TheAlphaReturns, thanks for the issue!

I believe this is already covered by the [no-undef](https://eslint.org/docs/rules/no-undef) rule.

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVuZGVmOiBcImVycm9yXCIgKi9cblxuLy8gYmFkIGNvZGUgZXhhbXBsZSwgKGUgd2Fzbid0IGRlZmluZWQgdXNpbmcgYSBkZWNsYXJhdGlvbiBrZXl3b3JkKVxuZTEgPSA3XG5lMSA9IDhcblxuLy8gZ29vZCBjb2RlIGV4YW1wbGUgKG5vdGljZSB0aGU

[2022-05-30 03:34] cakoose opened #15943 "Rule Change: Maybe prefer-const should not autofix"
### What rule do you want to change?

prefer-const

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

The autofix will change the `let` to a `const`. This fixes the symptom and further hides the true bug.

### What will the rule do after it's c

[2022-05-30 06:10] kaocong commented on #15935
'no-shadow-restricted-names': 'error',

[2022-05-30 06:16] kaocong commented on #15935
sorry, i wrote it wrong

[code]

[2022-05-30 06:34] kaocong commented on #15935
i also use rule 'no-else-return'.
if i use "hoist: never", It will not report errors.

I think it's a choice between a code  block of and return.
but, i prefer no else return, it's more concise

![image](https://user-images.githubusercontent.com/50489475/170930096-f7cb1a97-5ab7-4e8e-97e2-339d3c008181.png)

Don't know if this is a usage issue or a bug

[2022-05-30 11:11] mdjermanovic commented on #15935
This works as intended since the variables are indeed declared in an upper scope and you have `hoist: 'all'` so the rule reports shadowing regardless of whether the declarations in the upper scope appear in the source code before or after the declarations in the inner scope.

If you prefer `if { /*...*/ return; }  /*...*/ ` over `if { /*...*/ return; } else { /*...*/ }`, then you'll need to rename

[2022-05-30 12:30] mdjermanovic commented on #15935
This isn't a bug, since `hoist: 'all'` works as intended, but it can be argued that it is too restrictive. Some of the problems that may occur due to shadowing, for example when the inner variable declaration is removed (or renamed) and then unintentionally its references become references to the outer variable, might be less important if the inner variable was used only while the outer variable i

[2022-05-30 12:30] #15935 closed

[2022-05-30 13:07] TheAlphaReturns commented on #15942
oh, I see. Could we make it so that it would automatically add `let` when using `--fix`?

[2022-05-30 14:05] mdjermanovic commented on #15943
This indeed looks like a case where autofix for a best practice / stylistic rule hides an actual bug in the code. I think that should be avoided in general.

Given the above, this seems reasonable. However, this particular autofix is very useful when enabling this rule for the first time in a large codebase. The fix is technically correct as it doesn't change the behavior of the code. If the user

[2022-05-30 14:28] mdjermanovic commented on #15942
`--fix` should never change the behavior of the code, even if the change would be such as to avoid runtime errors, so we can't automatically add `let`.

Also, an undefined variable is often a typo in the reference, which should be corrected to match an existing variable name rather than adding a new declaration.

[2022-05-30 14:53] mdjermanovic commented on #15930
Hi @12Me21, thanks for the issue!

This does seem like a bug. I'm working on the fix.

[2022-05-30 19:53] btmills commented on #14231
We're still in the middle of this migration right now, where we're using our own tooling adapted to work with conventional commits. The checklist at the top has a couple more tasks that will allow us to move off of our custom tooling entirely.

[2022-05-30 20:50] btmills commented on #15710
TDZ-only makes sense to me :+1:

[2022-05-30 23:48] cakoose commented on #15943
There was an earlier issue for this: https://github.com/eslint/eslint/issues/7549. That discussion there ended up centering on CLI autofixes vs IDE autofixes. I think a slightly better way to frame it is in terms of autofixes that are always safe vs autofixes that you must explicitly opt in to.

For you example of enabling a new rule in a very large codebase, you can opt in to the more aggressive

[2022-05-31 00:58] nzakas commented on #15726
I’m testing Renovate on my own repos. Will report back with feedback.

[2022-05-31 10:48] dharmarajrdr opened #15946 "Trying to execute json file"
### Environment

Node version:
npm version:
Local ESLint version:
Global ESLint version:
Operating System:

### What parser are you using?

Default (Espree)

### What did you do?

module.exports = {
    meta: { ... },
    create: function(context) {
        // declare the state of the rule
console.log(context);
        return {
            ReturnStatement: function(node) {
                // at a

[2022-05-31 13:12] mdjermanovic opened #15948 "[new docs site] print style is broken"
### Environment

`main` branch and `docs-ui-update` branch.

`npm start` in the `docs` directory.

### What parser are you using?

Default (Espree)

### What did you do?

Ctrl-P in Chrome to print the docs homepage.

### What did you expect to happen?

Document without unnecessary navigation elements.

### What actually happened?

With the current `main` version, there is an unnecessary "Table of

[2022-05-31 13:29] wesdse001 commented on #15941
Hi @mdjermanovic, thank you so much for the quick reply!

I was using `"eslint": "8.14.0"`.

I just updated to the latest version and everything is good now. I should have check the latest version. Sorry!

[2022-05-31 23:02] piranna commented on #15928
I've updated my previous RegExp to `^\\s*(?://|\\*)?\\s*\\S*[^:/?#]://[^?#]\\S*\\s*$` so it can pass if the line has whitespaces at the end, so it will not fail if it's not trimmed.

[2022-06-01 04:56] btmills opened #15949 "Bug: Ignores don't apply to processor blocks"
### Environment

Node version: v18.2.0
npm version: v8.9.0
Local ESLint version: v8.16.0 (Currently used)
Global ESLint version: v8.16.0
Operating System: darwin 21.5.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]

[code]
</details>

[code]

For a more complete demo, see https://github.com/jeremymeng/eslint-markdown-rep

[2022-06-01 16:57] mdjermanovic commented on #15710
I'm working on this.

[2022-06-01 17:26] mpsijm opened #15952 "Change Request: Output rule creation time as well as execution time for TIMING environment variable"
### ESLint version

v8.7.0

### What problem do you want to solve?

ESLint currently shows the rule execution time when setting the environment variable `TIMING=1`. However, as I found in https://github.com/francoismassart/eslint-plugin-tailwindcss/pull/143/commits/487121afb23e22d67f7665cd4292f8621934c261, these timings do not include the time to _create_ a rule. There is currently not really a si

[2022-06-01 21:36] nzakas commented on #15942
Seems like we are already covered here, so closing.

[2022-06-01 21:36] #15942 closed

[2022-06-01 22:25] mdjermanovic commented on #15952
Hi @mpsijm, thanks for the issue!

Makes sense to me. I tried this on our codebase and, for example, `lines-around-comment` spends 2x more time in `create()` than in listeners, so the current timing report is not entirely representative.

I think summing, but let's hear more opinions from the team.

[2022-06-02 10:13] RodrigoTomeES opened #15954 "New Rule: sort-exports"
### Rule details

Should be the same as sort-imports but for exports

### Related ECMAScript feature

export

### What type of rule is this?

Enforces a formatting/stylistic preference

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Because if there is a rule for imports why not for exports

### Participation

- [ ] I am willing to submit a pull request to

[2022-06-02 11:30] mdjermanovic commented on #15954
Hi @RodrigoTomeES, thanks for the issue!

Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we will only accept new rules when they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, so this rule doesn't qualify. You can always make a custom rule and publish a plugin.

[2022-06-02 11:30] #15954 closed

[2022-06-02 11:33] mdjermanovic commented on #15916
No response, so closing.

[2022-06-02 11:33] #15916 closed

[2022-06-02 11:35] mvshvets opened #15955 "Error starting eslint when using the object option in the no-extra-boolean-cast rule"
### Environment

Node version: v14.18.3
npm version: 6.14.15
Local ESLint version: 8.16.0
Global ESLint version: -
Operating System: macOS Monterey 12.4

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

ESLint is running, the object option is working

### What actually

[2022-06-02 11:55] mdjermanovic commented on #15955
Hi @mvshvets, thanks for the issue!

I can't reproduce this. Can you run `eslint -v` to check which version you are using?

[2022-06-02 12:52] adrienharnay opened #15956 "Bug: "overrides" doesn't work with specific configuration"
### Environment

Node version: v16.13.2
npm version: 8.1.2
yarn version: 1.22.17
Local ESLint version: 8.16.0
Global ESLint version: /
Operating System: MacOS

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

const RESTRICTED_IMPORTS = ["some", "things"];

module.exports = {
  root: true,
  parser: "@babel/eslint-parser",
  par

[2022-06-02 13:07] RodrigoTomeES commented on #15954
@mdjermanovic hi, thanks for your quick reply. I understand your rules policies but I think the request of sort-export is a petition to achieve parity between the rules. It is strange that there is one for imports and not for exports. From ignorance, wouldn't it be possible to take "the code" of the sort-import code for sort-export but replacing the import keyword with export?

[2022-06-02 13:27] eng-dibo opened #15957 "Rule Change: [sort-import] disable memberSyntaxSortOrder"
### What rule do you want to change?

sort-import

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

only allow sorting `memberSyntaxSortOrder`

### What will the rule do after it's changed?

turn the option `memberSyntaxSortOrder` off

[2022-06-02 13:39] mvshvets commented on #15955
@mdjermanovic

<img width="411" alt="image" src="https://user-images.githubusercontent.com/46225129/171642190-691beea1-be7a-46ad-8911-e091aaf73e2a.png">

[2022-06-02 13:41] mvshvets commented on #15955
Perhaps there is some additional library that can influence this?

[2022-06-02 19:19] mdjermanovic commented on #15957
Hi @eng-dibo, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `sort-imports` rule.

You can use the existing option [`"ignoreDeclarationSort": true`](https://eslint.org/docs/rules/sort-imports#ignoredeclarationsort) to disable sorting of declaration statements, and keep sor

[2022-06-02 19:19] #15957 closed

[2022-06-02 19:26] mdjermanovic commented on #15955
If you run `eslint -v` you will see the version you're using when you run `eslint ./src --ext .js,.jsx,.ts,.tsx`.

It's possible that you have an older version globally installed, and that `eslint ./src --ext .js,.jsx,.ts,.tsx` is actually running that version instead of the one locally installed.

If you have `8.16.0` locally installed in node_modules, you can run it with `npx eslint ./src --ext

[2022-06-02 21:48] mdjermanovic commented on #15954
We can't cover all stylistic preferences in the core. You can always make a custom rule or a plugin with additional rules.

Depends on desired functionalities of the sort-exports rule, but the code of sort-imports would probably be a good starting point.

[2022-06-02 21:53] mdjermanovic commented on #15730
I think this is the same as https://github.com/eslint/eslint/issues/15509, just technically different node types, so I'll mark this as accepted too. I believe this will be included in https://github.com/eslint/eslint/pull/15555.

[2022-06-02 22:50] eng-dibo opened #15958 "Bug: ignorePatterns doesn't follow the extended glob pattern"
### Environment

Node version: 16.15.0
npm version: 8.8.0
Local ESLint version: 8.16.0
Global ESLint version: 8.16.0
Operating System: win 8.1 x64

### What parser are you using?

@typescript-eslint/parser

### What did you do?

[code]

### What did you expect to happen?

-

### What actually happened?

-

### Participation

- [ ] I am willing to submit a pull request for this issue.

### Addition

[2022-06-02 22:54] sam-s4s commented on #12156
Just another +1 for this issue. I was about to make a new one but luckily found this.

My scenario is simple - we don't use double quotes at all. We use single quotes in all cases when that is viable, and template literals when not.

The case that I cannot currently do with this rule is when you have single quotes in your string and you want to use a template literal so you don't have to escape th

[2022-06-03 09:33] mdjermanovic commented on #15958
There is not enough information about the problem. Can you fill out the rest of the bug report form?

Note that ignorePatterns works per the [.gitignore specification](https://git-scm.com/docs/gitignore), which doesn't support brace expansion.

[2022-06-03 13:27] mvshvets commented on #15955
I don't have eslint installed globally. Without specifying enforceForLogicalOperands everything works fine

Starting with npx:

[code]

[2022-06-03 13:53] TotallyInformation opened #15961 "Bug: Does not allow node.js public class fields if ecmaVersion is less than 13"
### Environment

Node version: 16.14.0
npm version: 8.3.1
Local ESLint version: 8.16.0
Global ESLint version: 8.16.0
Operating System: Windows 10

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

According to caniusethis, public class fields were supported from node.js

[2022-06-03 16:48] aladdin-add commented on #15961
it's working as expected - class fields was introduced in es2022/13.

[2022-06-03 16:48] #15961 closed

[2022-06-03 17:40] mdjermanovic commented on #15955
Can you run the following and share the output:

[code]

[2022-06-03 19:59] claudio-di-sciacca opened #15962 "Bug: no-useless-constructor when readonly params"
### Environment

Node version: 18.0.0
npm version: 8.6.0
Local ESLint version: 8.14.0
Global ESLint version: 8.14.0
Operating System: Debian GNU/Linux 11 (bullseye)

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

No error to be shown since declaring "readonly

[2022-06-03 20:23] mdjermanovic commented on #15962
Hi @claudio-di-sciacca, thanks for the issue!

This rule doesn't support TypeScript. You should use [@typescript-eslint/no-useless-constructor](https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-useless-constructor.md) rule instead.

[code]

[2022-06-03 20:23] #15962 closed

[2022-06-03 20:28] #15710 closed

[2022-06-03 20:39] #15930 closed

[2022-06-03 20:50] mvshvets commented on #15955
It turns out that I introduced myself when I used the `npm view` command, and I don't have the newest version of eslint installed locally. Do I understand correctly that object option will not work with the current version?

<img width="391" alt="image" src="https://user-images.githubusercontent.com/46225129/171950040-dbea78d8-279f-410b-be33-90298d0a4475.png">

[2022-06-03 20:59] mdjermanovic commented on #15955
The `enforceForLogicalOperands` option was added in ESLint v7.0.0, so you can only use this option with ESLint >= 7.

ESLint < 7 will throw a configuration error, as in the original post. Since you have ESLint v6.8.0, this is the expected behavior.

[2022-06-03 21:50] TotallyInformation commented on #15961
No it isn't and that isn't correct. Public class variables were, as I said, introduced in node.js v12

https://onecompiler.com/nodejs/3y5zhpz3d

[2022-06-03 21:56] TotallyInformation opened #15964 "Bug: #15961 was incorrectly closed. There is an error in eslint for node.js public class variables"
### Environment

Node version: v12
npm version: N/A
Local ESLint version: 8.16.0
Global ESLint version: 8.16.0
Operating System: Windows 10

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

See https://github.com/eslint/eslint/issues/15961
</details>

[code]

### What did you expect to happen?

In node.js, public class variables we

[2022-06-03 22:03] mdjermanovic commented on #15911
ESLint v8.17.0 has been released:

https://eslint.org/blog/2022/06/eslint-v8.17.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-06-03 22:29] mdjermanovic commented on #15964
`parserOptions.ecmaVersion` is a version of the ECMAScript Language Specification.

Class fields are added in ECMAScript 2022 Language Specification: https://tc39.es/ecma262/2022/

They didn't exist in ECMAScript 2021 Language Specification: https://tc39.es/ecma262/2021/

You can check which feature was added in which version (the "Expected Publication Year" column) here:

https://github.com/tc39/

[2022-06-03 22:43] mvshvets commented on #15955
Thank you for helping me figure it out

[2022-06-03 22:43] #15955 closed

[2022-06-04 00:59] nzakas commented on #15844
I think the first step here should be to find what is different between the current site setup and the new site setup. We are using the same source files so we should be able to generate the same files to deploy. If we aren’t, it’s probably a misconfiguration in Eleventy.

[2022-06-04 01:10] nzakas commented on #15895
This is interesting. I’m not sure if a namespace import should or should not count towards blocking exported names. This could be a good candidate for a new option (I’d suggest maybe excludeNamespaceImports for clarity).

Id like some other opinions from the team.

[2022-06-06 21:00] mdjermanovic commented on #15911
No regressions were reported, so this concludes the v8.17.0 release. Please feel free to merge semver-minor PRs again.

[2022-06-06 21:00] #15911 closed

[2022-06-06 21:00] eslint-github-bot[bot] opened #15968 "Scheduled release for June 17th, 2022"
The next scheduled release will occur on Friday, June 17th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2022-06-06 21:47] JESii opened #15969 "TC39 top-level-await is now stage 4 -- please handle as expected"
### Syntax name

top-level-await

### Syntax proposal URL

https://github.com/tc39/proposals/blob/main/finished-proposals.md

### Example code

[code]

### Implementation Checklist

- [ ] Ecma262 update:
- [ ] ESTree update:
- [ ] Acorn update:
- [ ] `eslint-visitor-keys` update:
- [ ] `espree` update:
- [ ] `eslint-scope` update:
- [ ] `eslint` update:

### Participation

- [ ] I am willing to su

[2022-06-06 21:59] ljharb commented on #15969
It should work fine if you have ecmaVersion set to 2022, and the file is an ESM module.

[2022-06-06 22:14] mdjermanovic commented on #15969
ESLint supports top-level await syntax since [v8.0.0](https://eslint.org/blog/2021/10/eslint-v8.0.0-released). You'll just need to set `parserOptions.ecmaVersion` to `2022` or `"latest"`.

[code]

Here's a [demo example](https://eslint.org/demo#eyJ0ZXh0IjoiYXdhaXQgcHJvY2Vzc0xpbmVCeUxpbmUoaW5wdXRGaWxlKVxuICAvKiBlc2xpbnQtZGlzYWJsZS1uZXh0LWxpbmUgbm8tdW51c2VkLXZhcnMgKi9cbiAgLnRoZW4oKHJlc3VsdCkgPT4ge1x

[2022-06-06 22:14] #15969 closed

[2022-06-07 00:41] nzakas commented on #15844
I’ll take a closer look at the proxying issue.

[2022-06-07 06:24] belgattitude commented on #3458
Wort sharing this workaround: https://github.com/microsoft/rushstack/tree/main/eslint/eslint-patch

[2022-06-07 16:54] JESii commented on #15969
Thanks much @mdjermanovic ; lots of plugin updates to get v8 to work, but now on v8.17.0.

[2022-06-08 00:31] nzakas commented on #15784
I’m 👎 to making a change here. Unless someone else wants to champion a change, we should close this issue.

[2022-06-08 00:32] nzakas commented on #15899
Makes sense to me.

[2022-06-08 00:34] nzakas commented on #15943
@mdjermanovic what are you looking for feedback on here?

Im 👎 to disabling autofix for this rule. There will always be edge cases but the utility of this autofix has been proven over time.

[2022-06-08 00:35] nzakas commented on #15952
I like the idea. Can’t go wrong with more data.

[2022-06-08 00:37] nzakas commented on #15848
The current config system is frozen and so we aren’t making any further changes. The new config system doesn’t load anything for you, so it would be up to you to manually load ignore patterns from wherever you want.

[2022-06-08 00:37] #15848 closed

[2022-06-08 00:41] nzakas commented on #15906
Having spent a bunch of time with Puppeteer, I can confirm that this is more complex than it appears because some functions are not closures depending on which method they are passed into.

I also think any change to how the global comment works would be a massive breaking change that could cause a lot of issues for existing code bases.

A possible option would be to add another directive comment

[2022-06-08 07:51] cakoose commented on #15943
Agree that the tool can't always be perfect, but this was the first time I ran into a case where an ESLint rule identifies a real bug (indirectly) and the autofix _masks_ that bug. And, subjectively, the situation didn't feel like _too_ much of an edge case.

But I'm just a casual ESLint user. Maybe someone with more experience knows of other similar autofixes? (As someone who is on the more conse

[2022-06-08 07:54] Semigradsky opened #15973 "Change Request: replace dependency"
### ESLint version

latest

### What problem do you want to solve?

It is suggestion: to replace [`json-stable-stringify-without-jsonify`](https://github.com/samn/json-stable-stringify) to [`fast-json-stable-stringify`](https://github.com/epoberezkin/fast-json-stable-stringify).
It is totally the same but slightly faster (without `Array.isArray` and `Object.keys` polyfills in code).

`fast-json-st

[2022-06-08 14:20] ilyub opened #15975 "Rule Change: [class-methods-use-this] Add option to also check static methods"
### What rule do you want to change?

class-methods-use-this

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

No warnings

### What will the rule do after it's changed?

Warn "f", but not "g"

### Participation

- [ ] I am willing to s

[2022-06-08 18:23] nzakas opened #15977 "[new docs site] UI bug with on rules index and details pages"
For the new documentation site, we have a UI bug when displaying information about recommended/fixable/suggestions on both the rule index page and the rule details pages.

Basically, we can have 0-3 of these showing at any time. When only one is shown, it should take the full width of the page, like this:

![Frame 407](https://user-images.githubusercontent.com/38546/172688886-4cb4aae0-51a3-4031-8b

[2022-06-08 18:48] nzakas commented on #15844
Enabling pretty URLs on the prototype docs site seems to work as-is:
https://docs.eslint.org/rules/no-cond-assign
https://docs.eslint.org/rules/no-cond-assign/

I also enabled it on in-repo docs site, and we don't get 404s, but each URL loads separately:
https://new.eslint.org/docs/rules/no-cond-assign
https://new.eslint.org/docs/rules/no-cond-assign/

It seems like at this point we can probably e

[2022-06-09 00:57] william-fargues opened #15979 "Bug: indent rule not working with optional chaining"
### Environment

Node version: 14.15.5
npm version: 6.14.11
Local ESLint version: 7.6.0
Operating System: Windows

### What parser are you using?

@typescript-eslint/parser

### What did you do?

Normal situation:
[code]
In this scenario everything is working fine.
So, I can't do this because I'll have the indent warning on the 2nd line:
[code]
But as soon as I add an optional chaining operator th

[2022-06-09 02:22] btmills commented on #15977
I believe this is working as intended. In sufficiently wide windows (~1300px), I'm seeing the three side by side on https://new.eslint.org/docs/rules/. On narrower windows, it automatically wraps due to the [`auto-fit` and `minmax` on the `grid-template-columns`](https://github.com/eslint/docs.eslint.org/blob/080f0366a5ac7e30018f9cbd75ee90c1cadafd90/src/assets/scss/components/rules.scss#L1-L17).

[2022-06-09 02:59] aladdin-add commented on #15979
what's your eslint config? To work with ts, you'll need to the alternative rule: `@typescript-eslint/indent`.

[2022-06-09 12:09] mdjermanovic commented on #15844
Ideally, https://new.eslint.org/docs/rules/no-cond-assign/ would 301 to https://new.eslint.org/docs/rules/no-cond-assign, the same as it currently works on eslint.org.

If that's not possible with proxying on Netlify, I think the next best option would be to return 404. Would disabling Netlify's Pretty URLs option on docs-eslint.netlify.app achieve this?

If neither 301 nor 404 is possible to set

[2022-06-09 14:30] moshest opened #15981 "Rule Change: Improve `max-lines-per-function` on test files"
### What rule do you want to change?

max-lines-per-function

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

count lines for each test function `it` as well as for the global section function `describe`.

### What will the

[2022-06-09 15:43] mdjermanovic commented on #15975
Hi @ilyub, thanks for the issue!

Can you provide more details on why would using `this` be required in static methods? Static methods are a common way to expose utility functions related to the class, and they often don't need `this`. For example, in the ESLint class we have [`static outputFixes`](https://github.com/eslint/eslint/blob/f31216a90a6204ed1fd56547772376a10f5d3ebb/lib/eslint/eslint.js#

[2022-06-09 16:13] amareshsm commented on #15899
I am working on this. I will send a PR soon.

[2022-06-09 16:27] amareshsm commented on #15948
I would like to work this bug. Can I pick this?

[2022-06-09 17:12] william-fargues commented on #15979
Here's my config:
[code]

  Yes, I have tried the ```@typescript-eslint/indent``` rule and it's the same

[2022-06-09 17:42] nzakas commented on #15844
I don't think we are going to be able to get the exact same behavior as the current site, and I think that's fine. There's no reason to believe the current behavior is any more correct than any other behavior so long as people can find the content they are looking for. Most sites operate with a trailing slash on their URLs, so I'm not too worried about it. As long as the canonical URLs are correct

[2022-06-09 17:44] nzakas commented on #15977
Ah gotcha. My screen apparently doesn't go wide enough to see that view.

Then the only outstanding issue is that the background colors and borders are missing.

[2022-06-09 18:35] nzakas commented on #15844
I dug into this a bit more -- Netlify doesn't allow you to add or remove trailing slashes using redirects.

I'm not sure if this matters much as long as we put in canonical URLs, especially because we will be changing from `/docs/*` to `/docs/latest/*`, so we're already changing URLs going forward.

However, we can certainly see if we can get a behavior closer to what we have already by merging ht

[2022-06-09 18:35] mdjermanovic commented on #15844
If both URLs return the same content, and that content has document-relative links, on one of those two URLs those links will be broken.

* https://new.eslint.org/docs/user-guide/configuring - links like Environments, Globals, Rules, and Plugins under "Here are some of the options that you can configure in ESLint" are broken.
* https://new.eslint.org/docs/user-guide/configuring/ - the same links w

[2022-06-10 01:42] polkhovsky-norc commented on #15644
Funny thing. I had the same error. By chance I looked at my package.json and found this snippet:

[code]

Removing it fixed the issue for me.

[2022-06-10 03:46] cakoose commented on #15943
Yes, it can't know for sure, but some assumptions have worse consequences than others. For example, with the trailing whitespace autofix, it's locally predictable and there's very little chance of masking a real bug. With the prefer-const autofix, that's not the case.

If you have a somewhat well-tested codebase that doesn't follow the prefer-const rule, I can see how the autofix is useful for get

[2022-06-10 06:15] aladdin-add commented on #15979
still cannot repro it tho: https://typescript-eslint.io/play/#ts=4.7.2&sourceType=module&code=DYUwLgBAZg9jEF4IFYAMA6VqBQE-4L1hgH50wYAxASwA8QATACgCYBKIA&eslintrc=N4KABGBEBOCuA2BTAzpAXGUFIAEAuAngA4oDG0AlkXgLQrwUB2eA9EwCaLPpgDaAjABoATIOBQAygHcKeUgAsAwgENkiHvwC+AXXBhNITUA&tsconfig=N4KABGBEDGD2C2AHAlgGwKYCcDyiAuysAdgM6QBcYoEEkJemy0eAcgK6qoDCAFutAGsylBm3TgwAXxCSgA

can you upgrade eslint & ts-eslint to

[2022-06-10 21:19] nzakas commented on #15943
@cakoose Again, we just can't know every situation for everyone's code. We aim to get things right 90% of the time, and given how long this rule has been around, I think we are hitting that. I'm sorry it didn't work for your use case, but I don't think that necessarily means we need to make a change. But maybe someone else on the team feels differently.

I don't think it's worth either of our time

[2022-06-11 00:43] nzakas commented on #15981
I’m sorry, core rules cannot know about the test runner being used, so we can’t implement this change. You can always create a custom rule by copying the existing rule and modifying it to do what you want.

[2022-06-11 00:43] #15981 closed

[2022-06-11 00:46] nzakas commented on #15973
We don’t normally switch dependencies unless there is some significant gain from doing so. There is a nonzero risk in switching from a known dependency that we’ve used for a while to something new for a small performance gain.

If you can quantify the gain as significant, or there is some other value in switching, please let us know.

[2022-06-11 00:47] #15958 closed

[2022-06-11 00:48] nzakas commented on #15900
We won’t be making a change here, so closing.

[2022-06-11 00:48] #15900 closed

[2022-06-11 00:49] nzakas commented on #15864
We aren’t making any changes here, so closing.

[2022-06-11 00:49] #15864 closed

[2022-06-11 00:50] nzakas commented on #15772
@ota-meshi any idea if regexpp will land this update?

[2022-06-11 00:50] #15784 closed

[2022-06-11 02:20] ota-meshi commented on #15772
@nzakas I will try to contact him after the community RFC is in the final stages.
However, I do not know if I will be able to reach him 😓.

[2022-06-11 02:31] cakoose commented on #15943
I also don't want to rehash points where we fully understand each other but simply disagree. But your reply of "we just can't know every situation for everyone's code" made me think maybe there's still a misunderstanding?

To clarify where I'm coming from:
1. I don't expect ESLint to work for every situation for everyone's code. But that doesn't mean there's never room for improvement.
2. I'm not

[2022-06-11 14:45] amarg26 opened #15987 "Bug: (fill in) Failed to load plugin 'flowtype' declared in 'BaseConfig messages after npm start"
### Environment

Node version:  14.19.0
npm version:  8.9.0
Local ESLint version: 8.17.0
Global ESLint version: None
Operating System: Windows 11

### What parser are you using?

Other

### What did you do?

Updated to eslint latest version

### What did you expect to happen?

Can we have a fix for this? I have updated to the latest Eslint version for my react app. Getting too much of this message

[2022-06-11 16:48] william-fargues commented on #15979
I did it and it worked thank you !

[2022-06-11 16:48] #15979 closed

[2022-06-12 01:25] PythonCoderAS opened #15988 "Bug: Using `eslint --config .eslintrc` triggers errors that do not occur when omitted"
### Environment

Node version: v18.3.0
npm version: v8.11.0
Local ESLint version: v8.17.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.5.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

The linting to work

### What actually

[2022-06-12 08:46] moshest commented on #15981
So maybe we can address that with additional options?

[code]

[2022-06-12 09:19] foolioo opened #15989 "New Rule: prefer-optional-chain"
### Rule details

Enforces using concise optional chain expressions instead of chained logical ands.

### Related ECMAScript feature

https://tc39.es/ecma262/multipage/ecmascript-language-expressions.html#prod-OptionalExpression

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

The

[2022-06-13 18:09] #15989 closed

[2022-06-13 18:11] nzakas opened #15997 "[new docs site] Remove table of contents from markdown text"
On each page with a table of contents under the header, the last couple of items in the table of contents are not styled correctly. This happened within the last few days, so it's likely that there's a recent pull request that caused this problem.

Example:
https://new.eslint.org/docs/head/user-guide/configuring/rules

Screenshot:
![Screenshot 2022-06-13 at 11-09-46 Rules](https://user-images.gith

[2022-06-13 19:44] mdjermanovic commented on #15997
By the last couple of items that are not styled correctly, did you mean this?

![image](https://user-images.githubusercontent.com/44349756/173431044-82a56863-e9d4-48fb-8e26-0882551a5232.png)

This is table of contents we manually added to this document:

https://github.com/eslint/eslint/blob/1324f10ac58d3685fdb656a4fc9d1e5c9d035e42/docs/src/user-guide/configuring/rules.md?plain=1#L13-L14

For the

[2022-06-14 00:27] nzakas commented on #15997
Yes that’s it. I didn’t even think we had added that manually. Yes, we should remove it from the markdown text.

[2022-06-14 07:32] moshest opened #16000 "Rule Change: Support test files with `max-lines-per-function`"
### What rule do you want to change?

max-lines-per-function

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

count lines for each test function `it` as well as for the section function `describe`.

### What will the rule do after it'

[2022-06-14 07:33] moshest commented on #15981
I submit a new issue with different suggestion here: https://github.com/eslint/eslint/issues/16000

[2022-06-14 10:07] OliverJAsh opened #16001 "Bug: `--ignore-pattern` doesn't work if path starts with `./`"
### Environment

Node version: 16.3.0
npm version: 7.15.1
Local ESLint version: 8.17.0
Global ESLint version: none
Operating System: macOS 12.4

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

`main.js`:
[code]

`type-tests/foo.js`:
[code]

Run `eslint . --ignore-pattern ./type-tests/`.

### What did you expect

[2022-06-14 11:03] OliverJAsh commented on #16001
You are right 😄 TIL!

[2022-06-14 11:03] #16001 closed

[2022-06-14 12:01] mdjermanovic commented on #15956
This seems to work as intended, so I'm closing this issue.

[2022-06-14 12:08] mdjermanovic commented on #15839
I agree. Since https://github.com/eslint/eslint/issues/15899 has been accepted, I'm closing this issue in favor of https://github.com/eslint/eslint/issues/15899.

[2022-06-14 12:08] #15839 closed

[2022-06-14 19:09] smac89 opened #16002 "Bug: `reportUnusedDisableDirectives` with value `warn` is not respected by the cli"
### Environment

Node version: v16.15.1
npm version: v8.11.0
Local ESLint version: v8.17.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.18.1-arch1-1

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

When linting using the cli, it

[2022-06-14 21:02] Reboot-Codes opened #16003 "Change Request: Dissable errors for directories with files that are all unsupported."
### ESLint version

v8.5.0

### What problem do you want to solve?

Currently there are some directories which are empty, or contain files that are not supported by ESLint (e.g. different language than JS/TS); when ESLint encounters one of these directories, it throws an error and exits with a non-zero exit code. I would expect that the `--no-error-on-unmatched-pattern` CLI option would disable th

[2022-06-14 21:06] mdjermanovic commented on #16002
Hi @smac89, thanks for the issue!

This works as intended. In configuration files and configuration objects (like `baseConfig` and `overrideConfig` in the [API](https://eslint.org/docs/developer-guide/nodejs-api#-new-eslintoptions)), allowed values for `reportUnusedDisableDirectives` are only `true` and `false`.

API options are not necessarily the same as config options.

There is a proposal to a

[2022-06-14 21:06] #16002 closed

[2022-06-14 21:19] mdjermanovic commented on #16003
Hi @Reboot-Codes, thanks for the issue!

How did you run ESLint, and what error did you get? `--no-error-on-unmatched-pattern` should prevent errors for unmatched patterns and patterns that match only ignored files.

[2022-06-14 21:21] Reboot-Codes commented on #16003
[code]

**Context:** A Next.js project with an empty public directory.

[2022-06-14 21:49] mdjermanovic commented on #16003
This seems to be an [error message](https://github.com/prettier/prettier/blob/5530ad24b952e0c48d6b13a17fbba0c45b645f8d/src/cli/expand-patterns.js#L153) from Prettier, I don't think we have this error message in ESLint.

[2022-06-14 22:11] Reboot-Codes commented on #16003
Weird, well, looks like I'll have to go fix prettier then, thank you for your help!

[2022-06-14 22:12] #16003 closed

[2022-06-15 00:13] #15952 closed

[2022-06-15 00:19] nzakas commented on #15772
Okay, then we should decide how we want to proceed here. Perhaps we can find a different utility?

[2022-06-15 03:19] ota-meshi commented on #15772
Do you want this issue to be resolved before the eslint-community RFC is finished? https://github.com/eslint/rfcs/pull/91
If so, I will try to contact mysticatea, regardless of the status of the eslint-community RFC.

I think regexpp is the most compatible lib for ESLint.
Other than that, I think regjsparser is good, but it seems to handle esnext syntax. Therefore, I think it may be difficult to i

[2022-06-15 06:51] luckylooke opened #16004 "Bug: no-useless-escape false alarm example"
### Environment

Node version: v14.19.2
npm version: 6.14.17
Local ESLint version: eslint@7.32.0
Global ESLint version: (empty)
Operating System: MacOS 12.4

### What parser are you using?

Default (Espree)

### What did you do?

Hi, my code hits no-useless-escape rule
`450:35  error  Unnecessary escape character: \[  no-useless-escape`

but escape is needed there, otherwise it does not work

<sum

[2022-06-15 07:43] aladdin-add commented on #16004
it can be rewritten to `/[[\]]/g`?

[2022-06-15 08:54] bezenson opened #16005 "Rule Change: padded-blocks"
### What rule do you want to change?

padded-blocks

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Nothing

### What will the rule do after it's changed?

Remove empty line

[code]

### Participation

- [ ] I am willing to submit a p

[2022-06-15 11:10] #16005 closed, assigned to nobody

[2022-06-15 12:45] snitin315 commented on #15948
@amareshsm Yes, feel free to send a PR

[2022-06-15 12:48] fabis94 commented on #15010
Would be great to see a new CLI parameter that disables this warning sometime soon, glad that there's an RFC in progress :) Even if you would like `lint-staged` to work differently, lint-staged isn't the only tool or use case for when you'd want to run ESLint on an ignored file, so this param would definitely be very useful

[2022-06-16 00:49] nzakas commented on #15772
RFCs are open for a minimum of 28 days, so there’s still time to go on that. If you’d rather focus on the RFC, that’s fine, but I don’t think we should assume that it blocks this.

[2022-06-16 01:53] ota-meshi commented on #15772
Yeah. I don't think it's blocking.
For now, I think the community RFC is in the not too distant future, so I just want to contact mysticatea once or a few times rather than contacting it many times. I don't want him to be busier than he is now.

[2022-06-16 02:04] ota-meshi commented on #15772
To make progress in this situation, I think that we need to consider whether to create a fork project for regexpp or use a different package.
(Or should we also consider freezing regex rules?)
Do you have any package ideas to consider other than regjsparser? Also, what do you think about using regjsparser?

[2022-06-16 21:37] mdjermanovic opened #16008 "[new docs site] Add 'Version' section to rules"
Rule pages on the new docs site are missing the Version section.

Example on the current website:

https://eslint.org/docs/rules/no-constant-binary-expression#version

[2022-06-16 21:49] mdjermanovic opened #16009 "[new docs site] Add Formatters page"
This page is missing from the new document site:

https://eslint.org/docs/user-guide/formatters/

[2022-06-16 21:54] mdjermanovic opened #16010 "[new docs site] Missing images for Code Path Analysis Details"
Images for this page are not copied over to the site:

https://new.eslint.org/docs/head/developer-guide/code-path-analysis

[2022-06-16 22:12] mdjermanovic opened #16011 "[new docs site] Missing image for the Architecture page"
Dependency graph image for this page is not copied over to the site:

https://new.eslint.org/docs/head/developer-guide/architecture/

Also, this page is not in the document index (left-side menu). Is it intentional? On the current website, it is in menus under 'Developer guide'.

[2022-06-16 22:28] mdjermanovic opened #16012 "[new docs site] Disable ligatures in code examples"
For example, `</` and `/>` form arrows.

![image](https://user-images.githubusercontent.com/44349756/174188694-30372271-6a7d-4a95-a788-019b951b48ce.png)

https://new.eslint.org/docs/head/rules/jsx-quotes

In the playground, this was fixed by https://github.com/eslint/playground/pull/65

[2022-06-17 00:01] mdjermanovic opened #16013 "[new docs site] Add `::: correct` and `::: incorrect` in all rule docs"
In all rule docs, we should wrap correct examples in `::: correct`, and incorrect examples in `::: incorrect` containers.

This adds ✓ or ❌ to the upper right corner.

An example is `semi` rule, updated in https://github.com/eslint/eslint/pull/15998.

https://new.eslint.org/docs/head/rules/semi

![image](https://user-images.githubusercontent.com/44349756/174196547-8c9ea12c-4b15-49af-87c7-73ee946d2

[2022-06-17 00:47] snitin315 commented on #16012
I'll fix it here.

[2022-06-17 10:17] mdjermanovic commented on #15975
Thanks for clarifying! I'm not in favor of this change because I don't think this should be a responsibility of the `class-methods-use-this` rule, and I don't think that using arrow functions instead of static methods that don't use `this` generally makes the code better. Given that there's already another thumb down from a team member, it's very unlikely that we will accept this proposal so I'm c

[2022-06-17 10:17] #15975 closed

[2022-06-17 10:25] aladdin-add commented on #16004
closing, as it's working as expected.

[2022-06-17 10:25] #16004 closed

[2022-06-17 18:24] DeepshikaS commented on #16008
I would like to work on this. I will send a pr.

[2022-06-17 18:26] DeepshikaS commented on #16013
I would like to work on this. I will send a pr.

[2022-06-17 19:40] DeepshikaS commented on #15977
I would like to work on this. Border and background color needs to be added right?

1. Current UI:
<img width="600" alt="image" src="https://user-images.githubusercontent.com/30730124/174390327-bca34051-2f23-41a4-be3a-2d2043c41c30.png">

2. Expected UI :
<img width="600"  alt="image" src="https://user-images.githubusercontent.com/30730124/174390353-a6c45c99-a2fc-4f67-8094-701e33ddb288.png">

Basic

[2022-06-17 20:51] petar8903 commented on #16013
Start mi bonus

На пт, 17.06.2022 г., 3:02 ч. Milos Djermanovic ***@***.***>
написа:

[2022-06-17 21:06] mdjermanovic commented on #15968
ESLint v8.18.0 has been released:

https://eslint.org/blog/2022/06/eslint-v8.18.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-06-18 00:57] nzakas commented on #15977
Correct. 👍

[2022-06-18 04:34] harish-sethuraman commented on #16013
There are lot of rules. Would you like to split effort?

[2022-06-18 04:37] harish-sethuraman commented on #16012
Just noticed the issue and I had already made a PR sorry 😅
- https://github.com/eslint/eslint/pull/16019

[2022-06-18 12:48] moshest opened #16023 "Rule Change: Mark only the function name instead of all of the function lines"
### What rule do you want to change?

max-lines-per-function

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It mark all the function lines as error (lines `02-06` and `08-12`)

### What will the rule do after it's changed?

[2022-06-18 13:30] remcohaszing opened #16024 "Change Request: replace `js-yaml` with `yaml`"
### ESLint version

8.18.0

### What problem do you want to solve?

ESLint doesn’t parse YAML files correctly, because `js-yaml` isn’t strictly compliant with the YAML spefication. I’ve provided some more details in [this discussion answer](https://github.com/orgs/remarkjs/discussions/1006#discussioncomment-2955255).

As a result, tools that do use a spec compliant YAML parser, may interpret `.esl

[2022-06-19 06:54] luckylooke commented on #16004
Ok, my mistake, I probably removed both escaping chars instead of just the one.. thank you for your support 🙏

[2022-06-20 11:11] kkmuffme opened #16028 "Bug: incorrect camelcase"
### Environment

Node version: v16.14.2
npm version: v8.12.1
Local ESLint version: Not found
Global ESLint version: v8.17.0 (Currently used)
Operating System: linux 4.18.0-348.7.1.el8_5.x86_64

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

Error for camelcase, since correct code would be:

[code]

### What actually happened?

No

[2022-06-20 11:28] amitbeck commented on #13689
@mdjermanovic Can we expect this rule to be released soon?

Also I suggest naming it `logical-operator-assignment` to align with [`operator-assignment`](https://eslint.org/docs/rules/operator-assignment).

[2022-06-20 11:55] mdjermanovic commented on #16028
Hi @kkmuffme, thanks for the issue!

This works as intended. Per [Rule Details](https://eslint.org/docs/rules/camelcase#rule-details), this rule reports identifiers with underscores in the name. Since `FooBar` does not contain underscores, it's valid for this rule.

[2022-06-20 11:55] #16028 closed

[2022-06-20 12:53] mdjermanovic commented on #16023
Hi @moshest, thanks for the issue!

Each error/warning marks a continuous range, so we can't mark only the brackets. We could consider marking the first line that counts or something like that (e.g., function header) instead of the whole function, but marking only `{` and `}` isn't doable.

[2022-06-20 12:58] moshest commented on #16023
Function header sound great, I've update the description.

[2022-06-20 13:43] mdjermanovic commented on #16024
This seems like a breaking change because ESLint could start interpreting existing user configs differently after the change. Since eslintrc config functionalities are frozen, we are not making any changes to the loading of eslintrc YAML config files. The new [Flat Config](https://github.com/eslint/eslint/issues/13481) system will not support YAML config files.

Other than config files, we use `js

[2022-06-20 15:27] moshest commented on #16023
Btw, the rule "max-lines" (for files) mark only the lines that exceed the limit. maybe we can have the same solution here.

[2022-06-20 18:32] nzakas commented on #16024
I agree. Given that YAML configs are going away in the near future, I don’t see the value in risking a breaking change at this time.

[2022-06-20 18:32] #16024 closed

[2022-06-20 21:40] mdjermanovic commented on #15968
No regressions were reported, so this concludes the v8.18.0 release. Please feel free to merge semver-minor PRs again.

[2022-06-20 21:40] #15968 closed

[2022-06-20 21:54] #16012 closed

[2022-06-20 22:15] eslint-github-bot[bot] opened #16029 "Scheduled release for July 1st, 2022"
The next scheduled release will occur on Friday, July 1st, 2022.

## Release Day Checklist

- [ ] Remove the 'tsc agenda' label on this issue
- [ ] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [ ] Start the release on [Jenkins](https://jenkins.eslint.org)
- [ ] Update the release blog post with a "Hig

[2022-06-21 02:01] snitin315 opened #16030 "[Documentation] Missing `Architecture` and `Code Path Analysis` in Table of contents"
### Environment

https://new.eslint.org/docs/latest/

### What parser are you using?

Default (Espree)

### What did you do?

- Go to https://new.eslint.org/docs/latest/
- Open the Developer Guide Section in the sidebar
- See no `Architecture` sub section like in old docs

<img width="299" alt="Screenshot 2022-06-21 at 7 27 59 AM" src="https://user-images.githubusercontent.com/46647141/174700540-4

[2022-06-21 09:29] aladdin-add commented on #16030
sounds an oversight.

[2022-06-21 11:25] mdjermanovic commented on #16030
I think Code Path Analysis is not in the menus/sidebar on both the current and the new site because it's only of interest for working with rules, and there are links to it on the [Working with Rules](https://new.eslint.org/docs/latest/developer-guide/working-with-rules) page. This is the same as with the pages for [Selectors](https://new.eslint.org/docs/latest/developer-guide/selectors) and [Scope

[2022-06-21 12:44] RickCardoso opened #16033 "Bug: can't test TemplateLiteral rules"
### Environment

Node version: v16.14.2
npm version: 8.5.0
Local ESLint version: 8.14.0
Global ESLint version: N/A
Operating System: macOS Monterey 12.4

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

When trying to run tests for a `TemplateLiteral` rule, the template literal declaration character (`) is not re

[2022-06-21 12:56] DeepshikaS commented on #16013
Hey, I've missed this comment. I had already started working on this pr-https://github.com/eslint/eslint/issues/16013#issuecomment-1159132012 and didn't think it was that complex even if done manually. Initially I had started doing this manually, but while working on the add version pr-https://github.com/eslint/eslint/pull/16022 I found out that this can also be done via script and did using that.

[2022-06-21 13:21] #15948 closed

[2022-06-21 15:43] ctjlewis commented on #15539
Trying to use a shareable config published as ESM, can't - check Google, find issue, oh right, I posted it!

[code]

Do we think this is ever going to be supported? It's actually really only CJS command-line tools like ESLint, PostCSS, etc. that I run into this issue with now.

[2022-06-21 17:46] #15997 closed

[2022-06-21 17:51] nzakas commented on #16033
Unit tests relates to running the tests inside of the eslint repo. The correct location for these options is in the rule tester docs.

[2022-06-21 17:51] #16033 closed

[2022-06-22 00:26] mdjermanovic commented on #15792
Closing since we think this works as intended.

[2022-06-22 00:26] #15792 closed

[2022-06-22 00:28] mdjermanovic commented on #15796
@eslint/eslint-tsc thoughts about this?

[2022-06-22 00:38] nzakas commented on #15772
I don’t have any particular knowledge or preference as to other packages to use.

[2022-06-22 00:47] nzakas commented on #15796
This seems like a case that ignoreConstructors wasn’t intended to handle. I might be inclined to add a new ignorePrototypeConstructors option or else change the ignoreConstructors option to be a string that can be “all”, “capitalized”, “prototype”, where true is the same as “capitalized”

[2022-06-22 00:49] nzakas commented on #16030
Architecture should be in sidebar navigation. Code path analysis should not.

[2022-06-22 02:10] fasttime opened #16038 "Bug: not all override patterns containing ".." should be rejected"
### Environment

Node version: 18.4.0
npm version: 8.12.1
Local ESLint version: 8.18.0

### What parser are you using?

Default (Espree)

### What did you do?

**Configuration**:

[code]

### What did you expect to happen?

I was expecting the config to be accepted.

### What actually happened?

The configuration above results in an error:

[code]

There is no reason to forbid override patterns co

[2022-06-22 04:16] harish-sethuraman commented on #16030
I'd like to work on this issue 😄

[2022-06-22 04:49] snitin315 commented on #16030
@harish-sethuraman just wait for some time before sending a PR for the author's reply, especially when `I am willing to submit a pull request for this issue.` is checked. This leads to duplicate efforts.

[2022-06-22 04:54] harish-sethuraman commented on #16030
Sure 👍🏻 acknowledged :)

[2022-06-22 11:22] a7madgamal opened #16040 "Change Request: Allow the same rule with different severty"
### ESLint version

8.17.0

### What problem do you want to solve?

The level of customisation in eslint is amazing and is the reason why it won the linters world cup :D
However, this opens the door for a feature that will take this to the next level: allowing the same rule to be defined with different severty levels based on different configs.
Sometimes I want to define a rule with a certain conf

[2022-06-22 17:27] #16040 closed

[2022-06-22 18:21] nzakas opened #16041 "Determine where prerelease docs go"
With the new documentation site, we push to the `latest` branch with each release. This causes the docs to show up at `/docs/latest/` (instead of `/docs/head/`).

When we do a prerelease, where do we want those docs to go? Maybe `/docs/next/` so that `/docs/latest/` preserves the docs for the latest official release?

This will need to be updated in `Makefile.js`.

[2022-06-22 18:33] mdjermanovic commented on #16041
:+1:  for `/docs/next/`

[2022-06-22 18:42] mdjermanovic opened #16042 "[new docs site] Broken line numbers in code blocks"
Something's wrong with the line numbers in _some_ code blocks.

For example https://new.eslint.org/docs/head/rules/function-paren-newline, see `bar` and `baz` lines.

![image](https://user-images.githubusercontent.com/44349756/175111595-846ab83e-25c8-48e0-ae45-a39ce26a3ed4.png)

Note that this isn't caused by the recently added `::: correct` / `::: incorrect` containers because it was the same wit

[2022-06-22 18:45] mdjermanovic commented on #16013
Fixed by https://github.com/eslint/eslint/pull/16021

[2022-06-22 18:45] #16013 closed

[2022-06-22 19:29] cgarrovillo opened #16043 "Bug: prefer-destructring should not trigger on array indices > 0"
### Environment

Node version: 18.4.0
npm version: 8.12.2
Local ESLint version: 8.18.0
Global ESLint version: N/A
Operating System: MacOS 12.2.1

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

`prefer-destructuring` should not trigger when accessing array indices of >

[2022-06-22 19:45] mdjermanovic commented on #16010
Fixed by https://github.com/eslint/eslint/pull/16017

[2022-06-22 19:45] #16010 closed

[2022-06-22 20:04] DeepshikaS commented on #16042
The `bar` and `baz` lines should be considered as highlight-line but it is currently being considered as a token, thus it's not coming in a new line. I will look into this.

[2022-06-22 20:14] cgarrovillo commented on #16043
Didn't know that array destructuring isn't autofixable!

The problem stemmed from doing a `'some string'.split(' ')[1]`,  but ESL was not aware of what `.split` is (any type)

[2022-06-22 20:14] #16043 closed

[2022-06-22 20:57] mdjermanovic commented on #15844
This is still an issue. For example, all relative links on https://new.eslint.org/docs/latest/user-guide/configuring are broken.

The sidebar link, sitemap, and Canonical URL will all point to `https://eslint.org/docs/latest/user-guide/configuring/`, which is good, but someone could still land on `https://eslint.org/docs/latest/user-guide/configuring` by following a link from an external site.

Th

[2022-06-23 00:59] nzakas commented on #15844
I wonder if we can handle this case with specific redirects instead of the generic ones?

Otherwise, I think it’s time we just go through and update the markdown files to have fully qualified URLs. I’m pretty sure we can use the Nunjucks url filter in markdown.

Do you have other ideas?

[2022-06-23 01:27] mdjermanovic commented on #15844
Redirects are the best practice for the trailing slash problem, but even if this is feasible they would have to be stored in new.eslint.org repo and basically every URL is problematic so it could be difficult to maintain.

Given what options we have until Netlify provides some built-in solution, this might be the best choice.

We could maybe try out [`<base>` tags](https://developer.mozilla.org/en

[2022-06-23 02:04] btmills commented on #16041
:+1: to `/docs/next/` as well. Matches npm tags.

[2022-06-23 17:35] #16008 closed

[2022-06-23 17:35] #16009 closed

[2022-06-23 18:51] nzakas commented on #15844
Ooh, `<base>` seems like a good idea. Let's try that:
https://github.com/eslint/eslint/pull/16046

Alternate approach:

[code]

[2022-06-24 00:44] nzakas commented on #16041
Sounds like we have an agreement on this. If someone feels like picking this up, feel free. Otherwise we can wait for the next major release to address.

[2022-06-24 11:18] gadzbi123 opened #16049 "Bug: no-unused-vars shows only for 1 if result"
### Environment

Node version: v16.15.0
npm version: v8.5.5
Local ESLint version: v8.18.0 (Currently used)
Global ESLint version: v8.18.0
Operating System: win32 10.0.22000

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Should't it give me warning(error) for the first string as

[2022-06-24 17:43] harish-sethuraman opened #16050 "add ESLint init commands instead of installation commands"
### ESLint version

v8.18.0

### What problem do you want to solve?

[code]

we right now have npm and yarn commands to install and get started with ESLint. How about adding pnpm to the docs as well. We do support `pnpm` via `@eslint/config` so it might be nice to provide that as well

### What do you think is the correct solution?

Adding `pnpm` commands equivalents to the getting started page.

[2022-06-24 18:31] nzakas commented on #16050
I'd prefer not to start adding every package manager into the docs. I wonder if we can just now say `npm init @eslint/config` rather than instructing people to manually install ESLint?

[2022-06-24 18:33] nzakas opened #16051 "Remove duplicate rule descriptions"
For the rule documentation page, there are currently two descriptions being shown: one right under the page title and one under the table of contents. Two tasks for each rule:

1. The one under the table of contents is hardcoded into the markdown files and should be removed. These files are all in `docs/src/rules`.
2. The one under the title is pulled from the rule's meta information, so we need t

[2022-06-24 20:37] amareshsm commented on #16051
I would like to work on this. I will send a PR.

[2022-06-25 00:32] mdjermanovic commented on #16049
Hi @gadzbi123, thanks for the issue!

This works as intended. This rule reports unused variables (those that are never read), but not every unused assignment to the variable.

For example, the following code is valid for this rule:

[code]

[ESLint Playground link](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVudXNlZC12YXJzOiBcImVycm9yXCIgKi9cblxubGV0IHN0cmluZzE7XG5cbmlmIChmb28pIHtcbiAgc

[2022-06-25 00:32] #16049 closed

[2022-06-25 00:38] nzakas commented on #16051
Thanks!

[2022-06-25 04:19] harish-sethuraman commented on #16050
That would be better as well. Should we then remove the npm installation commands and replace them with `npm init @eslint/config`?

[2022-06-25 06:37] SDAdham opened #16053 "Bug: calling eslint from yarn hits the roof in memory consumption"
### Environment

Node version: v14.15.3
npm version: v6.14.9
Local ESLint version: v8.18.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.18.4-1-default

### What parser are you using?

@typescript-eslint/parser

### What did you do?

I have 2 commands:

- `npx eslint -c ./.eslintrc.json projects/<sub-project>/**/*.ts --ext ts`
- `yarn lint` which runs the same command

[2022-06-25 10:40] mkahvi opened #16055 "Bug: no-useless-return triggers wrongly in switch"
### Environment

Node version: v16.15.0
npm version: v8.11.0
Local ESLint version: v8.17.0
Global ESLint version: Not found
Operating System: win32 10.0.19043

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

The return statement to be kept.

### What actually happe

[2022-06-25 10:49] mkahvi commented on #16055
I know I could've written break in the example, but I was in process of writing much longer code and the return is needed when it's fully done. Pretty sure return isn't any more useless than break there either way.

[2022-06-25 22:39] mdjermanovic commented on #16055
Hi @mkahvi, thanks for the issue!

I can't reproduce this error. Here's [your example in ESLint playground](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVzZWxlc3MtcmV0dXJuOiBbJ2Vycm9yJ10gKi9cblxuZnVuY3Rpb24gZG9vdChibGFoKSB7XG4gIHN3aXRjaCAoYmxhaCkge1xuICAgIGNhc2Ugc29tZXRoaW5nOlxuICAgICAgcmV0dXJuO1xuICAgIGNhc2Ugc29tZXRoaW5nRWxzZTpcbiAgICAgIGRvU29tZXRoaW5nUmVhbCgpO1xuICAgICAgYnJlYWs7XG4gIH1

[2022-06-26 01:22] ljharb commented on #14274
bump

[2022-06-26 03:36] mkahvi commented on #16055
Alright, I'm guessing it was only issue when writing up the structure before any code, as removing the function call makes it trigger as reported, which I guess technically is right for the error?
[code]

[2022-06-26 04:54] snitin315 commented on #16055
Yes. That seems to be the intended behavior to me.

[2022-06-26 16:14] brandongregoryscott commented on #14274
I took a stab at this over the weekend - will throw up a PR for feedback later today!

[2022-06-27 13:16] mozfreddyb opened #16061 "Bug: eslint fixer.replaceText on TemplateElement is breaking the syntax"
### Environment

Node version: v18.3.0
npm version: 8.11.0
Local ESLint version: 8.18
Global ESLint version: None
Operating System: darwin 21.5.0

### What parser are you using?

Default (Espree)

### What did you do?

We are developing a patch for an existing plugin. The new functionality should work with TemplateElemenets.

[code]
We also have a reproducer here on [ast-explorer.net](https://aste

[2022-06-27 15:16] mdjermanovic commented on #16061
Hi @mozfreddyb, thanks for the issue!

This works as intended.  `fixer.replaceText` replaces the range of `node`, which starts with a backtick and ends with `${`, with text `r` that doesn't include a backtick and `${`.

[code]

`TemplateElement#value.raw` represents [TRV](https://tc39.es/ecma262/#sec-static-semantics-trv) (values passed to tag functions as [raw strings](https://developer.mozilla.o

[2022-06-27 15:16] #16061 closed

[2022-06-27 15:26] #16055 closed

[2022-06-27 17:50] mdjermanovic commented on #15797
Removed "stale" label as there's a RFC for this change: https://github.com/eslint/rfcs/pull/89

[2022-06-28 00:52] #15844 closed

[2022-06-28 00:58] nzakas commented on #16053
Please contact the typescript-eslint team about this. It’s an issue with that plugin, not ESLint itself.

[2022-06-28 00:58] #16053 closed

[2022-06-28 00:59] nzakas commented on #16050
Seems fine to me. Let’s see what the rest of the team thinks.

[2022-06-28 01:00] nzakas commented on #14274
@mdjermanovic if you think it’s a good idea then I’m 👍

[2022-06-28 04:36] Gautam-Arora24 commented on #16041
Would like to work on this.

[2022-06-28 07:31] snitin315 commented on #16041
@Gautam-Arora24 go ahead.

[2022-06-28 08:15] mozfreddyb commented on #16061
Thank you for the quick feedback! This worked. 🥳

[2022-06-28 10:36] kkmuffme opened #16065 "Bug: eslint-disable does not work in comment blocks or in slashed comments"
### Environment

Node version: v16.14.2
npm version: v8.12.1
Local ESLint version: Not found
Global ESLint version: v8.17.0 (Currently used)
Operating System: linux 4.18.0-348.7.1.el8_5.x86_64

### What parser are you using?

Default (Espree)

### What did you do?

Tried to disable eslint with comment:

[code]

[code]

[code]

[code]

### What did you expect to happen?

That eslint-disable actuall

[2022-06-28 11:19] mdjermanovic commented on #16065
Hi @kkmuffme, thanks for the issue!

This works as intended. [`eslint-disable`](https://eslint.org/docs/latest/user-guide/configuring/rules#disabling-rules) can only be used in block comments (`/**/`), and the comment must start with `eslint-disable`.

These comments do not start with `eslint-disable`, so ESLint doesn't interpret them as eslint-disable directives.

As mentioned, `eslint-disable` c

[2022-06-28 11:19] #16065 closed

[2022-06-28 11:24] mdjermanovic commented on #14575
Related discussion: https://github.com/eslint/eslint/issues/14960

[2022-06-29 00:39] nzakas commented on #16041
This will involve two steps:

1. Makefile.js needs to be updated to push to the “next” branch during prerelease instead of “latest”.
2. We need to update the docs site to use pathPrefix of “/docs/next/“ when deployed from the “next” branch. We also need the drop down to be updated to include “NEXT” beneath “HEAD”.

[2022-06-29 00:49] nzakas commented on #13689
@amitbeck no one is currently working on this rule.

[2022-06-29 15:12] kkmuffme opened #16069 "Eslint inline rule config applies for code above the config"
### Environment

Node version: v16.14.2
npm version: v8.12.1
Local ESLint version: Not found
Global ESLint version: v8.17.0 (Currently used)
Operating System: linux 4.18.0-348.7.1.el8_5.x86_64

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

"quotes" error only for `const b = 'b';`

When changing/setting a eslint rule config, the

[2022-06-29 17:12] EloB commented on #15341
@nzakas I might have another use case for this. I'm not sure that it needs to be extensible fs but it might be good.

# My current problem
The project I've joined had a broken Eslint configured for quite awhile. Don't ask me why. So they piled up a lot issues approx 20k warnings/error. A lot of these were fixable by `--fix` but they still have a lot of issues and they will never prioritize this. I

[2022-06-30 00:33] nzakas commented on #15820
Leaving open to discuss for v9

[2022-06-30 00:36] #16051 closed

[2022-06-30 00:45] nzakas commented on #13689
Thanks!

[2022-06-30 00:53] nzakas commented on #16050
@eslint/eslint-tsc this is a quick one, shall we change our docs to recommend `npm init @eslint/config` as the way to install ESLint?

[2022-06-30 00:57] nzakas commented on #16069
This is working as intended. Rule configs inside of files apply to the entire file. You can only disable rules around specific areas, you can’t configure them this way.

[2022-06-30 00:57] #16069 closed

[2022-06-30 00:59] nzakas commented on #15988
The way that configs are calculated is fairly complicated, so passing a config on the command line is not the same thing as when ESLint finds a config on its own. This doesn’t necessarily mean that there’s a bug. If you want to explore the details, you can run with the —debug flag.

The current config system is frozen and we aren’t making any further changes to it as we work on switching to a new

[2022-06-30 00:59] #15988 closed

[2022-06-30 02:34] aladdin-add commented on #16050
sounds good! as the `eslint --init` has been moved to `@eslint/create-config`, it's no longer needed to manually install.

[2022-06-30 08:34] Gautam-Arora24 commented on #16041
Thanks for the explanation @nzakas

[2022-06-30 14:28] IncPlusPlus opened #16072 "User Guide has broken links"
### ESLint version

v8.18.0

### What problem do you want to solve?

On the [configuring](https://eslint.org/docs/latest/user-guide/configuring) area of the ESLint docs, the links to other sections are all broken (on the main content of the page, not the navigation sidebar) and bring me to a 404. For example, clicking the Configuration Files directs to the URL https://eslint.org/docs/latest/user-g

[2022-06-30 15:02] harish-sethuraman commented on #16072
I think  removing the `./` in the `./configuration-files#configuration-file-formats` path should fix the issue? Works for me in local. Would you like to send a PR and verify the fix in preview if you have any?

https://github.com/eslint/eslint/blob/3ae0574fc78c4a2b406625e4792cb2859cb9bcb1/docs/src/user-guide/configuring/index.md?plain=1#L31

[2022-06-30 15:22] mdjermanovic commented on #16072
This is fixed by https://github.com/eslint/eslint/pull/16046, but the `latest` branch has not been updated yet.

I'll leave this open to doublecheck after tomorrow's release (https://github.com/eslint/eslint/issues/16029) which will update the content under `https://eslint.org/docs/latest/`

[2022-06-30 17:43] VictorioMolina opened #16073 "Bug: Failed to load config "@scope/custom-local-eslint-config" (Yarn Monorepo)"
### Environment

Node version: v16.15.1
npm version: 8.11.0
yarn version: 1.22.19
Local ESLint version: ^8.2.0
Global ESLint version: -
Operating System: macOS Monterey

### What parser are you using?

@babel/eslint-parser

### What did you do?

__I have decided to refactor my monorepo, creating multiple local ESLint config files (as workspaces):__

[code]

### My idea is:

1. `eslint-base` export

[2022-06-30 18:19] VictorioMolina commented on #16073
The error was the name of my packages!

Renaming them to: `@company/eslint-config-blah-blah-blah` solves the issue! It seems that `eslint-config` need to be at the beginning, so `@company/eslint-blah-blah-blah-config` will not work.

You can read more about this [here](https://eslint.org/docs/latest/developer-guide/shareable-configs).

[2022-06-30 18:19] #16073 closed

[2022-06-30 19:25] erdemgonul opened #16074 "Bug: @types/eslint/-/eslint-8.4.4.tgz - Not found error on npm install"
### Environment

Node version: v16.15.1
npm version: v8.11.0
Operating System: MacOS

### What did you do?

After I delete my package-lock.json I can not run **'npm install'** successfully.

### What did you expect to happen?

I expect to install packages successfully

### What actually happened?

npm ERR! 404 Not Found - GET https://registry.npmjs.org/@types/eslint/-/eslint-8.4.4.tgz - Not found

[2022-06-30 19:35] czuniga9 commented on #16074
I have the same issue when trying to install laravel-mix (which has a direct dependency to eslint), you can reproduce it with this:

[code]

[2022-06-30 19:38] DCampagnola commented on #16074
There is a new version in @types/eslint but DefinitelyTyped hasn't updated it in npm.
As said in this FAQ, it should be fixed in minutes.

[My PR is merged; when will the @types npm package be updated?](https://github.com/DefinitelyTyped/DefinitelyTyped#my-pr-is-merged-when-will-the-types-npm-package-be-updated)

[2022-06-30 19:50] erdemgonul commented on #16074
We can see the new version in here. There should be another problem here.
https://www.npmjs.com/package/@types/eslint/v/8.4.4

[2022-06-30 19:51] Foozie3Moons commented on #16074
Yes, the version is published, but https://registry.yarnpkg.com/@types/eslint/-/eslint-8.4.4.tgz is still 404ing.

[2022-06-30 19:52] Victugord commented on #16074
Still gives  GET https://registry.npmjs.org/@types/eslint/-/eslint-8.4.4.tgz error (ERR_PNPM_FETCH_404)

[2022-06-30 19:53] claytongroth commented on #16074
I am also encountering this issue.

[2022-06-30 19:54] mdjermanovic commented on #16074
Thanks for the issue!

The [@types/eslint](https://www.npmjs.com/package/@types/eslint) package isn't maintained by the ESLint team.

If there are problems with it, please open an issue here:

https://github.com/DefinitelyTyped/DefinitelyTyped

[2022-06-30 19:54] #16074 closed, assigned to nobody

[2022-06-30 20:07] Dyktus opened #16076 "Missing eslint on npmjs"
### Environment

Linux with node v18

### What parser are you using?

@typescript-eslint/parser

### What did you do?

I was trying to create a new app with nestJS and noticed that @types/eslint is missing from npmjs
[code]

[code]

So you released something badly :)

### What did you expect to happen?

Install it :)

### What actually happened?

Cannot create new nest project because of missing l

[2022-06-30 20:21] MarioBanovac commented on #16076
Also have the same problem when using create react app

[2022-06-30 20:22] kalras commented on #16076
Seeing the same for Angular App.

[code]

[2022-06-30 20:24] mdjermanovic commented on #16076
Duplicate of https://github.com/eslint/eslint/issues/16074

Please see https://github.com/eslint/eslint/issues/16074#issuecomment-1171617408

[2022-06-30 20:24] #16076 closed

[2022-06-30 20:55] fredDesign opened #16077 "Error: 404 Not Found - GET https://registry.npmjs.org/@types/eslint/-/eslint-8.4.4.tgzBug: (fill in)"
### Environment

Node version:
npm version:
Local ESLint version: 8.4.4
Global ESLint version: 8.4.4
Operating System:

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

install laravel mix package

### What actually happened?

404 on eslint 8.4.4

### Participation

- [ ] I am wil

[2022-06-30 21:03] smerkousdavid commented on #16077
This isn't an issue with eslint but rather @types/eslint. Please checkout https://github.com/DefinitelyTyped/DefinitelyTyped/issues/61032

[2022-06-30 21:03] lucasff commented on #16077
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@types/eslint/-/eslint-8.4.4.tgz
npm ERR! 404
npm ERR! 404  '@types/eslint@*' is not in the npm registry.
npm ERR! 404 You should bug the author to publish it (or use the name yourself!)
npm ERR! 404 It was specified as a dependency of '@types/eslint-scope'
npm ERR! 404
npm ERR! 404 Note that you can also install from a
npm

[2022-06-30 21:12] mdjermanovic commented on #16077
Duplicate of https://github.com/eslint/eslint/issues/16074.

As mentioned, this isn't an issue with ESLint.

[2022-06-30 21:12] #16077 closed

[2022-07-01 00:45] nzakas commented on #16038
Thanks for the report. Indeed we can’t fix it in the current config system at this point. We can check similar behavior in the new config system when it’s finished.

[2022-07-01 00:47] nzakas commented on #16000
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-07-01 00:47] #16000 closed

[2022-07-01 02:31] tunnckoCore opened #16080 "Bug: no-param-reassign's `ignorePropertyModificationsFor` is not respected"
### Environment

Node version: v18.3.0
npm version: v8.12.1
Local ESLint version: v8.18.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.15.44-1-lts

### What parser are you using?

Default (Espree)

### What did you do?

No config, just that.

[code]

[or link to eslint play](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXBhcmFtLXJlYXNzaWduOiBbXCJlcnJvclwiLCB7

[2022-07-01 12:56] mdjermanovic commented on #16080
Hi @tunnckoCore, thanks for the issue!

This works as intended.  `ignorePropertyModificationsFor` only allows property modifications. Therefore, `bar.ok = 123` is not reported because it is a property modification, but `bar = bar ? 1 : 2` is reported because it isn't a property modification but a param reassignment.

[2022-07-01 12:56] #16080 closed

[2022-07-01 15:18] mdjermanovic commented on #15988
This is caused by https://github.com/eslint/eslint/issues/12592.

`eslint-config-airbnb-typescript` loads `eslint-config-airbnb-base` to get its configurations for core rules and use them as configurations for typescript-eslint plugin rules. But it doesn't deep-clone the configurations, so the same objects end up in configurations for multiple rules. During the validation for `@typescript-eslint/d

[2022-07-02 00:44] nzakas commented on #16050
Marking as accepted.

[2022-07-02 00:53] nzakas commented on #16042
@DeepshikaS are you still working on this?

[2022-07-02 01:30] #14274 closed

[2022-07-02 02:22] btmills commented on #16029
ESLint v8.19.0 has been released: https://eslint.org/blog/2022/07/eslint-v8.19.0-released/

I encountered two issues during the release process:

1. The initial site build [failed](https://app.netlify.com/teams/eslint/builds/62bfa316adb5e100086b030a) with `Error: template not found: partials/author_bios/.md`. You can repro this yourself running `git checkout v8.19.0 && npm run build`. It worked af

[2022-07-02 04:38] harish-sethuraman commented on #16072
This has been fixed in the main as well :) We can close this issue.

[2022-07-02 13:34] mdjermanovic commented on #16029
This is probably because `eslintbot` user is missing from `all_authors.json`. We added this user in https://github.com/eslint/eslint.org/pull/236, but the daily update script removed it in https://github.com/eslint/new.eslint.org/commit/db3b33b1f32db74219118b95359926f4f2ec856a. There's an open issue to fix this: https://github.com/eslint/eslint.org/issues/238

I merged https://github.com/eslint/es

[2022-07-02 13:39] mdjermanovic commented on #16072
This is fixed now on the website. @IncPlusPlus thanks for reporting the problem!

[2022-07-02 13:39] #16072 closed

[2022-07-02 15:46] bmish opened #16086 "Stricter validation of return value from a rule's `create()` function"
### Current behavior

ESLint currently allows objects, arrays, functions, and literal values to be returned by a rule's `create()` function. I suspect it's unintentional that we allow anything but objects right now.

Rule visitor functions should be defined in a returned object. For someone wanting to bail out of a rule early, the current convention is to return an empty object:

[code]

### Propo

[2022-07-03 20:42] PierBJX opened #16091 "Bug: func-style not working in a class"
### Environment

Node version: 16.15.1
npm version: 8.11.0
Local ESLint version: 8.18.0
Global ESLint version: N/A
Operating System: Windows 10

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]
[Reproducible link](https://eslint.org/play/#eyJ0ZXh0IjoiY2xhc3MgbXlDbGFzcyB7XG4gIHRlc3QgPSBmdW5jdGlvbiA

[2022-07-03 22:54] mdjermanovic commented on #16091
Hi @PierBJX, thanks for the issue!

This works as intended. The option `"declaration"` enforces the use of function declarations instead of variables initialized to functions. It doesn't disallow the use of function expressions in other contexts such as callbacks or class field initializers.

This is the case this option is intended to report, and it expects the variable declaration to be replaced

[2022-07-03 22:54] #16091 closed

[2022-07-04 09:35] PierBJX commented on #16091
Thanks for you quick answer @mdjermanovic

Is there any alternative for that ?
Indeed, we are moving from tslint to eslint and this [rule](https://palantir.github.io/tslint/rules/only-arrow-functions/) was checking func style in both case.

[2022-07-04 11:59] mdjermanovic commented on #16091
There isn't a core rule that specifically enforces this, but you could configure the [no-restricted-syntax](https://eslint.org/docs/latest/rules/no-restricted-syntax) rule to disallow the use of function expressions as class field initializers:

[code]

Here's a [playground example](https://eslint.org/play#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXJlc3RyaWN0ZWQtc3ludGF4OiBbXCJlcnJvclwiLCB7XG4gICAgc2VsZWN0b3I6

[2022-07-04 13:14] PierBJX commented on #16091
Thank you, it works very well!

Do you think, I could make this rule doing the same job that `func-style`? Like this, I could have the same custom output message?

[2022-07-04 18:29] DeepshikaS commented on #16042
The default behavior of the 11ty syntax highlighting seems to be causing the issue- https://github.com/falldowngoboone/falldowngoboone-com/issues/116.
I'm trying to find out if there is any other way to solve it.

[2022-07-05 00:55] nzakas commented on #15631
Not to repeat myself, but there’s an RFC open for this issue.

[2022-07-05 01:01] nzakas commented on #16086
Can you explain what currently happens for various types of values and then explain what you would like to happen instead?

When you say “not allowed”, does that mean an error is thrown? Something else?

[2022-07-05 10:17] aladdin-add commented on #16029
seems no regression issues reported.🎉

[2022-07-05 15:42] eslint-github-bot[bot] opened #16099 "Scheduled release for July 15th, 2022"
The next scheduled release will occur on Friday, July 15th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2022-07-05 15:46] MiloParigi opened #16100 "Bug: comma-spacing is conflicting with array-bracket-spacing"
### Environment

Node version: v16.15.1
npm version: v8.11.0
Local ESLint version: v8.18.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.4.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

You can see an ESLint demo [here](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IHF1b3RlczogW1wiZXJyb3JcIiwgXCJkb3VibGVcIl0gKi9cbmxldCBhID0gWz

[2022-07-05 16:36] AlexanderKosmehl opened #16101 "Bug: (ESLint ignores indentation rules in TypeScript interfaces)"
### Environment

Node version: 16.5.1
npm version: 8.3.0
Local ESLint version: v8.19.0
Global ESLint version: v8.19.0
Operating System: Windows 11 (22000.739)

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

ESLint should detect indentation rule violation in a

[2022-07-05 19:56] mdjermanovic commented on #16101
Hi @AlexanderKosmehl, thanks for the issue!

The core `indent` rule does not support TypeScript-specific syntax. You can use the [`@typescript-eslint/indent`](https://typescript-eslint.io/rules/indent) rule instead.

[2022-07-05 19:56] #16101 closed

[2022-07-05 20:16] mdjermanovic commented on #16100
Hi @MiloParigi, thanks for the issue!

I agree. `comma-spacing` already ignores spacing before `)` to avoid conflicts with other rules. It should ignore spacing before `]` and `}` as well. I'm working on this.

[2022-07-05 20:43] Reeywhaar opened #16103 "Bug: no-warning-comments does not work with multiline comments"
There is exact same issue, that marked as **resolved**, but it seems there is regression?

**Previous issue**: https://github.com/eslint/eslint/issues/9884

I will copy description from linked issue, except I've updated the environment.

### Environment

Node version: 18.2.0
npm version: 8.9.0
Local ESLint version: 8.13.0
Global ESLint version: 8.13.0
Operating System: macOS 12.4

### What parser

[2022-07-05 21:14] mdjermanovic commented on #16103
Hi @Reeywhaar, thanks for the issue!

We were just discussing this in https://github.com/eslint/eslint/pull/16090, and it doesn't seem that the original issue https://github.com/eslint/eslint/issues/9884 was actually resolved at the time.

I agree that this rule should treat these two comments as starting with 'todo' despite the extra `*` characters. But since the original issue was closed a long

[2022-07-06 00:48] nzakas commented on #16086
Thanks that’s very helpful.

Some thoughts:

- For null/undefined, I feel like the current behavior is correct. While yes, someone may want to exit early, I tend to think of that as an edge case. I don’t think it’s a regular occurrence for someone to create a rule that doesn’t return listeners. I think the more common case is that this was an error, so throwing a better error seems like the right

[2022-07-06 00:52] nzakas commented on #15977
Fixed by https://github.com/eslint/eslint/pull/16082

[2022-07-06 00:52] #15977 closed

[2022-07-06 02:27] bmish commented on #16086
@nzakas okay, given your preference, I'm fine with keeping the current behavior of throwing an exception for null/undefined. The benefit of this choice is that we maintain only a single way `return {};` of bailing out early. I have updated the proposal to reflect this.

Regarding other data types, I'm still unclear why/how arrays or functions could be an acceptable return type here, given that we

[2022-07-06 02:32] btmills opened #16104 "Change Request: Allow processors to report syntax errors"
### ESLint version

v8.19.0

### What problem do you want to solve?

Originally discussed in https://github.com/eslint/eslint/discussions/16015, the `@graphql-eslint/graphql` processor is encountering a syntax error in the file that is being processed (the "physical" file, if code blocks are "virtual" files). That syntax error results in an exception thrown within the processor that currently cras

[2022-07-06 02:42] JounQin commented on #16104
Thanks for pinning, I'm going to work on a fix soon, then.

[2022-07-06 04:04] JounQin commented on #16104
@btmills Done in #16105.

[2022-07-06 21:21] Reeywhaar commented on #16103
I am not expert at `ast`, but is there a way to get "effective comment text" as [discussed previously](https://github.com/eslint/eslint/issues/9884#issuecomment-390371414)?

[2022-07-06 22:36] ljharb commented on #15767
here's the suggestion: https://github.com/eslint/eslint/issues/15767#issuecomment-1097455674

[2022-07-07 00:41] nzakas commented on #15767
It looks like we never really came to a conclusion here. The question is: do we update the docs to reflect the current behavior or do we change how the rule works?

Im more inclined to just update the docs as this rule has been around for a while and changing it now might be confusing.

@eslint/eslint-tsc what do you all think?

[2022-07-07 00:55] nzakas commented on #16086
If arrays or functions have own properties defining visitors, they will still work today. Why someone would want to do that is beyond me, but it’s not really an error condition. These are still just objects so I’m not sure if there’s a good reason to make them an exception case, but we can see what others think.

[2022-07-07 03:44] clockwiser opened #16114 "Bad value <%= BASE_URL %>favicon.ico for attribute href on element link: Illegal character in path segment: < is not allowed"
### Environment

Node version: v16.15.0
npm version: 8.5.5
Local ESLint version:
    "eslint": "^7.32.0",
    "eslint-plugin-vue": "^8.0.3"
Global ESLint version:
Operating System: Windows

### What parser are you using?

vue-eslint-parser

### What did you do?

1. Create a vue project by running command as below
  vue create project
2. In the process, select "Vue3 with eslint".
3. After project c

[2022-07-07 07:56] #16114 closed

[2022-07-07 07:57] clockwiser commented on #16114
Can't reproduce the problem. Reopen when the problem occurred again.

[2022-07-08 00:44] nzakas commented on #15851
Closing as we won’t be making a change here.

[2022-07-08 00:44] #15851 closed

[2022-07-08 00:45] nzakas commented on #15973
Closing as we won’t be making this change.

[2022-07-08 00:45] #15973 closed

[2022-07-08 00:48] #16100 closed

[2022-07-08 01:14] JounQin commented on #15943
The bug is introduced by yourself, not autofixing IMO.

[2022-07-08 08:00] kkmuffme opened #16116 "no-unmodified-loop-condition false positives for "set" functions and only 1 modified"
### Environment

Node version: v16.14.2
npm version: v8.12.1
Local ESLint version: Not found
Global ESLint version: v8.17.0 (Currently used)
Operating System: linux 4.18.0-348.7.1.el8_5.x86_64

### What parser are you using?

Default (Espree)

### What did you do?

Simplified example, where start/end are `new Date` objects.

[code]

### What did you expect to happen?

No error

start is modified b

[2022-07-08 17:43] #16104 closed

[2022-07-08 18:05] bradzacher opened #16117 "Bug: [no-unused-private-class-members] false positive with nested classes"
### Environment

Latest (website)

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

[playground](https://eslint.org/play#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVudXNlZC1wcml2YXRlLWNsYXNzLW1lbWJlcnM6IFsnZXJyb3InXSAqL1xuXG5cbmNsYXNzIEMge1xuICAgICN1c2VkSW5PdXRlckNsYXNzO1xuICAgIGZvbygpIHtcbiAgICAgICAgY29uc3QgZm9vVGhpc

[2022-07-08 18:08] bradzacher commented on #16117
Ah damn - whilst this case is syntactically valid - I now realise in testing that it's not semantically correct, and would error at runtime because you're accessing a private property on `Foo` within `Bar`.

So there's no need to worry about the false-positive here.

[2022-07-08 18:08] #16117 closed

[2022-07-08 18:11] SevenOutman commented on #3458
Is is possible with ESLint 8 now? I notice [`eslint-config-react-app` has removed mentioning peer dependencies from their installation guide](https://github.com/facebook/create-react-app/blob/main/packages/eslint-config-react-app/README.md#usage-outside-of-create-react-app).

[2022-07-08 18:54] mlwyatt opened #16118 "Rule Change: (space-in-parens)"
### What rule do you want to change?

space-in-parens

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]
[code]
Fixed:
[code]

# Never
[code]
Fixed:
[code]

### What will the rule do after it's changed?

What I would like to achieve is requiring spaces within conditionals but not function c

[2022-07-08 18:58] mlwyatt commented on #16118
Also similar is #14102

[2022-07-08 20:33] mdjermanovic commented on #16117
`#foo` always refers to `#foo` of the innermost enclosing class that defines a `#foo` private member. Private member basically shadows private members that have the same name ([9.2.1.2 ResolvePrivateIdentifier](https://tc39.es/ecma262/#sec-resolve-private-identifier)).

This is not a false positive on the outer `#usedInOuterClass`, because `#usedInOuterClass` in `fooThis.#usedInOuterClass` does no

[2022-07-08 20:43] mdjermanovic commented on #16118
Hi @mlwyatt, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `space-in-parens` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-07-08 20:43] #16118 closed

[2022-07-08 21:22] haykam821 commented on #3458
@SevenOutman It looks like `eslint-config-react-app` uses [`@rushstack/eslint-patch`](https://www.npmjs.com/package/@rushstack/eslint-patch) for this functionality.

[2022-07-09 00:51] mdjermanovic commented on #15943
I'm not in favor of removing the autofix feature from the `prefer-const` rule.

I would be in favor of adding a configuration option to disable autofixing for specified rules. We tend not to provide autofixes that could mask bugs. For example, `no-unused-vars` could automatically remove unused variable declarations, but that might mask a bug in the form of missing code that was intended to use tho

[2022-07-09 01:36] SevenOutman commented on #3458
Ahh, missed that one.

[2022-07-09 22:31] mdjermanovic commented on #16086
My thoughts:

* `undefined` - this could indicate a bug, in particular forgetting to return visitors in some code paths or at all. I think the current behavior is more useful than accepting `undefined` and silently doing nothing.
* `null` - this is less likely to be a bug, so it might be an alternative way to say that there are no visitors, but I'd still keep this simple and allow only a single wa

[2022-07-10 14:04] qqpann commented on #15644
Any updates or workaround for this issue?

[2022-07-10 19:48] btmills commented on #15767
Reading through the original rule proposal, specifically how it differs from https://github.com/eslint/eslint/issues/8447, it seems to me the intention was always to make this about significant digits of precision, but we didn't use that precise (ha) mathematical term in the docs. I'm in favor of updating the docs to reflect the rule proposal and implementation. I might rephrase to something like:

[2022-07-10 20:33] ljharb commented on #15767
@btmills that's certainly a path forward. altho "lose precision at runtime" isn't accurate, since `.toPrecision` is not the sole, or primary, arbiter of what precision a number has.

[2022-07-10 23:57] lachlanhunt commented on #16103
I had a go at stripping decorative punctuation in #16120 based on that previous discussion. The difficulty with this, though, is that there needs to be a clearly agreed upon definition of what counts as decorative punctuation in comments that should be stripped.

Rather than just stripping all leading and trailing punctuation, I looked for sequences of a few specific characters, and I picked chara

[2022-07-11 11:08] mdjermanovic commented on #16103
I think this issue is only about comments that have "decoration" characters before the effective text starts. If we add the `m` flag, that would significantly change the meaning of `"location": "start"`. For example, the following comment would be detected as a comment that starts with `"todo"` term:

[code]

[2022-07-11 11:34] mdjermanovic commented on #16103
A problem with removing some characters from the comment and then searching for terms in the stripped text is that terms in existing configurations can contain those characters.

For example, if we remove all leading `*`, then this would no longer match:

[code]

A backward-compatible solution could be to keep the current behavior as is, and add an option to specify characters that should be skipp

[2022-07-11 11:39] lachlanhunt commented on #16103
That was indeed my interpretation of the issue: Matching the start of any line in a comment, rather than just the start of the first line.

But implementing it the way you suggest would just require stripping decorative punctuation characters and leading whitespace up to the first non-punctuation character. It could be simplified further by only stripping asterisks and whitespace, if that's the de

[2022-07-11 12:01] mdjermanovic commented on #15914
I think we would rather use the standardized built-in `Intl.Segmenter`. But, per [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Intl/Segmenter#browser_compatibility), it's available in Node >= 16.0.0, so perhaps we could revisit this when we drop support for Node < 16, and in the meantime maybe update the rule to account for surrogate pairs only.

@eslint/es

[2022-07-11 12:24] mdjermanovic commented on #15949
I agree that ignore patterns should apply to virtual filenames, and I agree that it would be best to implement this behavior in the flat config but not in the current eslintrc.

[2022-07-11 12:42] mdjermanovic commented on #15539
ESM config files will be supported in the new Flat Config system (https://github.com/eslint/eslint/issues/13481).

I'm closing this issue as this feature is included in https://github.com/eslint/eslint/issues/13481, and we're not making any changes in the current eslintrc config system.

[2022-07-11 12:42] #15539 closed

[2022-07-11 13:49] jjspace commented on #15767
I will point out again what I said in my follow up [comment](https://github.com/eslint/eslint/issues/15767#issuecomment-1093041405) above. The "immediately lose precision at runtime" was the _main_ cause of my confusion and why I thought my original value was a false positive. I don't think it's accurate or helpful to keep that wording in the docs, however they're updated. See my comment above for

[2022-07-11 14:32] mdjermanovic commented on #15796
It would be best to add a generic option that accepts a regex. Properties whose name matches the regex and value is a function would be ignored. This would avoid having built-in assumptions on what names correspond to functions that will be used as constructors (or used in any other way for which the differences between function expressions and methods might be important).

[2022-07-11 15:07] ljharb commented on #15914
grapheme-splitter mirrors Intl.Segmenter since both use CLDR, the industry standard for this stuff.

iow, there's no benefit to waiting til node < 16 is dropped except a slightly simpler implementation.

[2022-07-12 00:50] nzakas commented on #16086
In general, breaking changes require an RFC to get as much feedback as possible.

Strictness is useful for finding conditions that will not work. My concern is that arrays and functions are just specific types of objects (fulfilling what is specified in the documentation) and will also currently work without error. I’m not sure that there’s a benefit to rule developers to disallow something that c

[2022-07-12 00:51] #16050 closed

[2022-07-12 00:59] nzakas commented on #16103
I believe the current behavior is intentional. I wouldn’t mind adding an option to support the JSDoc-style behavior, maybe allowing a user to specify the text to be skipped at the start of the comment?

I don’t think there’s a good heuristic for knowing which characters after the first asterisk should and shouldn’t be considered by this rule automatically.

[2022-07-12 08:54] Reeywhaar commented on #16103
As a workaround I've tried to amend rule as follows:
[code]

And failed :-)

Also, I think I should mark that comment can be indented:
[code]

So `text to be skipped` should be kind of regex.

[2022-07-12 14:48] jdforsythe opened #16123 "Rule Change: no-promise-executor-return should allow returning resolve/reject"
### What rule do you want to change?

no-promise-executor-return

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

error

### What will the rule do after it's changed?

Add an option to allow (or better yet, to _require_) `return` of t

[2022-07-12 19:28] monkpit opened #16124 "Bug: documentation site is missing links for versions older than v8.19.0"
### Environment

<img width="528" alt="image" src="https://user-images.githubusercontent.com/5297293/178577175-8735dcd9-6d3a-4021-8991-25870dc61dfd.png">

The documentation site seems to be missing all old versions of eslint.

### What parser are you using?

Other

### What did you do?

Visit the documentation: https://eslint.org/docs/latest/

### What did you expect to happen?

Expected to be abl

[2022-07-12 21:23] dusan-dragon opened #16125 "Rule Change: no-unused-vars: Should return warning / error for function definition not it usage in recursion fn"
### What rule do you want to change?

no-unused-vars

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It marks issue on line:
`const restOfTheList = await fetchList()`

with Error:
`'fetchList' is assigned a value but never u

[2022-07-12 21:46] mdjermanovic commented on #16125
Hi @dusan-dragon, thanks for the issue!

The core `no-unused-vars` rule already works this way. You can check in [ESLint Playground](https://eslint.org/play#eyJ0ZXh0IjoiY29uc3QgZmV0Y2hMaXN0ID0gYXN5bmMgKCkgPT4ge1xuICBjb25zdCBvcmRlckxpc3QgPSBbXVxuXG4gIGNvbnN0IHJlc3RPZlRoZUxpc3QgPSBhd2FpdCBmZXRjaExpc3QoKVxuICByZXR1cm4gWy4uLm9yZGVyTGlzdCwgLi4ucmVzdE9mVGhlTGlzdF1cbn0iLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnM

[2022-07-12 21:46] #16125 closed

[2022-07-12 22:03] dusan-dragon commented on #16125
Ahh thank you, my bad... confused the tslint / eslint

[2022-07-13 00:59] nzakas commented on #15914
@regseb please open a separate issue for that.

grapheme-splitter seems like the right approach to me. Thanks @ljharb!

[2022-07-13 15:30] regseb opened #16127 "Bug: `indent` with character encoded as two code units"
### Environment

Node version: v18.4.0
npm version: 8.13.2
Local ESLint version: 8.19.0
Global ESLint version: none
Operating System: Ubuntu 22.04 LTS

### What parser are you using?

Default (Espree)

### What did you do?

[Demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IGluZGVudDogW1wiZXJyb3JcIiwgMiwge1wiRnVuY3Rpb25EZWNsYXJhdGlvblwiOiB7XCJwYXJhbWV0ZXJzXCI6IFwiZmlyc3RcIn19XSAqL1xuXG5mdW5j

[2022-07-13 17:09] stefan-toubia commented on #3458
It's amazing that this issue still exists today. What a silly thing to not allow packaging plugins with the configs **that depend on those plugins**.

[2022-07-13 20:03] bmish opened #16128 "Bug: Anchor link missing on headers"
### URL(s)

Any page on the new ESLint website. Example: https://eslint.org/docs/latest/developer-guide/working-with-rules

### What did you do?

Hover over section header. For example, the "Rule Basics" section header.

### What did you expect to happen?

An anchor link icon to appear that can be used to directly link to a particular header inside a page. The direct section link https://eslint.or

[2022-07-14 00:44] nzakas commented on #15767
@jjspace does removing the word “immediately” solve the problem for you?

[2022-07-14 02:40] harish-sethuraman commented on #16128
I believe we were using https://www.npmjs.com/package/anchor-js to add anchors to the heading elements in the archive website. If we want to do the same i'm up for grabs to change it in all docs site :)

[2022-07-14 03:12] Swivelgames opened #16129 "Bug: --fix causes `no-useless-rename` to cause `no-restricted-exports`"
### Environment

Node version: v18.6.0
npm version: 8.13.2
Local ESLint version: v8.19.0
Global ESLint version:  v8.19.0
Operating System: `Linux ****** 5.17.4-arch1-1 #1 SMP PREEMPT Wed, 20 Apr 2022 18:29:28 +0000 x86_64 GNU/Linux`

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

### What did you e

[2022-07-14 03:48] Swivelgames commented on #16129
Looking into this further, it looks like `no-restricted-exports` is the culprit here, actually. This may be as intended, but I'm not 100% sure if it is. Digging through, I'm having trouble finding out where the list of restricted names comes from in `no-restricted-exports`.

https://github.com/eslint/eslint/blob/845c4f40274ccb3727c624db44c7a23aafa71318/lib/rules/no-restricted-exports.js#L50-L67

[2022-07-14 04:00] Swivelgames commented on #16129
https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/es6.js#L65-L70

![oops](https://user-images.githubusercontent.com/1456302/178894903-ef5659cb-c0da-4458-b53d-b8e95cbbf4b1.gif)

[2022-07-14 04:00] #16129 closed

[2022-07-14 14:01] bmish commented on #16086
This is a good point. I think the reasoning comes from how one pattern commonly found on the internet to "check if a variable is an object" goes like this:

[code]

As you point out, the array part of this could be considered arbitrary/incomplete given that it's just one of many possible data structures.

Given this, would you support enforcing a simple `typeof yourVariable === 'object'` check?

R

[2022-07-14 20:03] nzakas commented on #16128
@harish-sethuraman yes, please go ahead. 🙏

[2022-07-14 20:44] kboucher opened #16131 "Apparent discrepancy in the definition of a block between rules"
### Environment

Node version: 16.14.1
npm version: 8.5.0
Local ESLint version: 7.32.0
Global ESLint version: N/A
Operating System: OS X

### What parser are you using?

@babel/eslint-parser

### What did you do?

For the `lines-around-comment` rule, setting `allowBlockStart: true` is not respected for `switch` statements.

According to this issue: https://github.com/eslint/eslint/issues/9653, tha

[2022-07-15 00:47] nzakas commented on #16124
Yeah, we didn’t actually have previous versions of documentation published separately. The goal is to do that going forward, so new versions will be added in the drop down but we don’t have the bandwidth to pull out old docs and get them formatted in the new docs site.

You can still see the raw docs in the repo, though:
https://github.com/eslint/eslint/tree/v7.32.0/docs

[2022-07-15 00:47] #16124 closed

[2022-07-15 00:51] nzakas commented on #16131
Yeah, that definitely seems inconsistent. Unfortunately, these things happen when you have hundreds of rules to manage.

It seems like the best way forward here would be to add the options suggested in https://github.com/eslint/eslint/issues/9653#issuecomment-347386313: allowSwitchStart and allowSwitchEnd.

Let’s see what the rest of the team thinks.

[2022-07-15 00:54] nzakas commented on #16127
Thanks. Related:
https://github.com/acornjs/acorn/issues/342

[2022-07-15 00:57] nzakas commented on #16116
This is a limitation of the rule. “Modified” means that the variable was assigned a new value during the loop. ESLint doesn’t know that start and end are Date objects, we there’s no way to know that the value they represent is modified. You’ll need to manually disable the rule in this case using a disable comment.

[2022-07-15 00:57] #16116 closed

[2022-07-15 01:05] nzakas commented on #16123
What version of ESLint are you using? I’m not getting an error with your example.

I wouldn’t expect to get an error because the return statements in your example are not for the executor, they’re for a callback in the executor, which is a completely different scope and exempt from this check.

[2022-07-15 03:53] btmills commented on #16099
This release should also include major versions of

- [ ] `generator-eslint` (https://github.com/eslint/generator-eslint/issues/137)
- [ ] and `eslint-plugin-markdown`
- [ ] in addition to `eslint` itself.

[2022-07-15 07:48] kkmuffme commented on #16116
Could there perhaps be an option to allow certain functions, so we don't get that error? (e.g. `.set`)

[2022-07-15 12:37] JounQin commented on #15475
For now, you can try https://github.com/un-ts/synckit

See https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-mdx/src/worker.ts for example.

[2022-07-15 17:51] kboucher commented on #16131
Totally not judging. 😁

I would just like to be able to add a comment before the first `case` in a `switch` statement without having to turn off the `padded-blocks` rule.

Looking forward to a possible solution. Thanks!

[2022-07-16 21:06] btmills commented on #16099
ESLint v8.20.0 has been released: https://eslint.org/blog/2022/07/eslint-v8.20.0-released/

There were no issue building the new site this time!

[2022-07-16 21:40] mdjermanovic commented on #16131
`allowBlockEnd: true` already applies to `switch` statements so it would be consistent that `allowBlockStart: true` applies as well.

[code]

[Playground link](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IGxpbmVzLWFyb3VuZC1jb21tZW50OiBbXCJlcnJvclwiLCB7XG4gIGJlZm9yZUxpbmVDb21tZW50OiB0cnVlLFxuICBhZnRlckxpbmVDb21tZW50OiB0cnVlLFxuICBhbGxvd0Jsb2NrU3RhcnQ6IHRydWUsXG4gIGFsbG93QmxvY2tFbmQ6IHRydWVcbn1

[2022-07-16 21:51] mdjermanovic commented on #15914
Agreed, marking as accepted.

[2022-07-17 01:14] Yash-Singh1 opened #16137 "Bug: False Negative `no-redeclare`"
### Environment

Node version: N/A
npm version: N/A
Local ESLint version: N/A
Global ESLint version: N/A
Operating System: N/A

See playground link

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

https://eslint.org/play#eyJ0ZXh0IjoiZnVuY3Rpb24gYSgpIHsgXG4gIHJldHVybiBudWxsXG59XG5pZiAodHJ1ZSkge1xuICBsZXQg

[2022-07-17 18:27] andyanday33 opened #16139 "Bug: enums in typescript triggers no-unused-vars even when they are being used."
### Environment

Node version: v16.15.0
npm version: v8.5.5
Local ESLint version: v8.18.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.3.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Since the 'directions' is being used, I

[2022-07-17 20:34] mdjermanovic commented on #16137
This works as intended. The `no-redeclare` rule reports multiple declarations of the same variable. In this case, inner `a` (`let a`) and outer `a` (`function a`) are two different variables, so this is not a case with multiple declarations of the same variable. This is a case that would be reported by the [no-shadow](https://eslint.org/docs/latest/rules/no-shadow) rule:

https://eslint.org/play#e

[2022-07-17 20:34] #16137 closed

[2022-07-17 20:46] mdjermanovic commented on #16139
Hi @andyanday33, thanks for the issue!

The core `no-unused-vars` rule does not support TypeScript code. You should use [`@typescript-eslint/no-unused-vars`](https://typescript-eslint.io/rules/no-unused-vars/) rule instead of the core rule.

[code]

[2022-07-17 20:46] #16139 closed

[2022-07-18 07:08] edhenderson opened #16140 "Bug: Parsing error: Unexpected token 0"
### Environment

[code]

[code]

### What parser are you using?

Default (Espree)

### What did you do?

Line in question:
[code]

Red error line appears in VSCode as per below:

<img width="537" alt="Screenshot 2022-07-18 at 08 05 18" src="https://user-images.githubusercontent.com/1378582/179459974-3f7fcefb-9a4c-4045-b0a5-2433b9fd8360.png">

### What did you expect to happen?

This error to not b

[2022-07-18 08:06] coderaiser commented on #16140
What is `njk` plugin? There is no such a plugin as `eslint-plugin-njk` in npm. Maybe it’s related.

[2022-07-18 08:23] zuhairtaha opened #16141 "Rule Change: (require-await at inherited class methods)"
### What rule do you want to change?

require-await

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

At class `B` it shows an error on the method `getNames()`.

### What will the rule do after it's changed?

It should not sh

[2022-07-18 09:13] edhenderson commented on #16140
@coderaiser Thanks for the prompt response. This isn't my project so let me tell you what I can find:

From `package.json`:

[code]

Then from it's local `package.json`:

[code]

[2022-07-18 09:14] edhenderson commented on #16140
https://npm.io/package/eslint-plugin-exclude-nunjuck-tags

[2022-07-18 10:43] Jason3S opened #16143 "Change Request: Notify plugins when a fix has been applied"
### ESLint version

v8.20.0

### What problem do you want to solve?

## Context
As the author of the spellchecker plugin: [@cspell/eslint-plugin](https://www.npmjs.com/package/@cspell/eslint-plugin), I would like to present the user a "fix" that allows the user to add a word to their custom dictionary. See: [CSpell ESLint Plugin: Configuration option to add words to the dictionary · Issue #3233](h

[2022-07-18 14:35] asportnoy opened #16144 "Rule Change: No prefer-destructuring for array -> array assignments"
### What rule do you want to change?

prefer-destructuring

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Enforces use of the second method above, which is hard to read.

### What will the rule do after it's changed?

Allow assignin

[2022-07-18 19:01] AshHeskes opened #16145 "Bug: indent vars "first" with de-structuring assignment gives unexpected results."
### Environment

Node version: 16.15.00
npm version: 8.10.0
Local ESLint version: 8.20.0
Global ESLint version: v8.20.0
Operating System: MacOS

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[Problem Demo Link:](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IFwiaW5kZW50XCI6IFsgXCJlcnJvclwiLCAyLCB7IFwiVmFyaWFibGVEZWNsYXJhdG9yX

[2022-07-18 20:44] #16144 closed

[2022-07-18 21:02] mdjermanovic commented on #16140
This does seem to be caused by `eslint-plugin-exclude-nunjucks-tags`, as it [replaces code with `0`](https://github.com/ibrahim12/eslint-plugin-exclude-nunjuck-tags/blob/67967324a69dfcccaa7e9891d46c420cae169efd/lib/index.js#L4).

@edhenderson can you remove `plugins: ['njk']` from your config file and try linting the same code again?

[2022-07-18 21:14] edhenderson commented on #16140
@mdjermanovic I did some digging today and removed plugin, that does indeed fix it. My thanks and apologies for all the help. Very much appreciated.

[2022-07-18 21:14] #16140 closed

[2022-07-19 00:47] nzakas commented on #16131
Oh wow, didn’t realize that. In that case, I agree it’s a bug and we should fix it so allowBlockStart also applies to switch statements.

[2022-07-19 05:02] btmills commented on #16099
I don't see any regressions reported in any of the three packages that were released, so that concludes this release process!

[2022-07-19 05:03] #16099 closed

[2022-07-19 05:03] eslint-github-bot[bot] opened #16146 "Scheduled release for July 29th, 2022"
The next scheduled release will occur on Friday, July 29th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2022-07-19 07:49] m-nathani opened #16147 "Bug: TypeError: Failed to load plugin 'jsx-a11y' declared in '.eslintrc': Invalid attempt to spread non-iterable instance."
### Environment

Node version: 14.18.0
npm version:  7.24.2
Local ESLint version: 8.20.0
Global ESLint version:  -
Operating System:  linux- ubuntu 20.04

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

My eslintrc.js file

[code]
</details>

Following is the my eslint npm package trace:

[code]

### What did you expect to hap

[2022-07-19 12:01] #16147 closed

[2022-07-19 12:04] snitin315 commented on #16131
I'll  prepare a fix for it.

[2022-07-19 14:57] Yash-Singh1 opened #16148 "Change Request: Better documentation for Scopes"
### ESLint version

N/A

### What problem do you want to solve?

Currently, the documentation just contains a [reference](https://eslint.org/docs/latest/developer-guide/scope-manager-interface) for the `ScopeManager` and `Scope` interfaces. There aren't any basic examples to using it such as `context.report` and `fixer`.

### What do you think is the correct solution?

Add some simple examples to

[2022-07-20 00:38] nzakas commented on #16131
Thanks @snitin315

[2022-07-20 00:50] nzakas commented on #16148
We are looking at rewriting the docs from scratch going forward. While we don’t have a timeline, you’ll see some improvements.

In the meantime, if anyone wants to update the current docs for this, please feel free to submit a pull request.

[2022-07-20 00:54] nzakas commented on #16143
Interesting idea, though I’m actually not sure about the timing aspect as fixes are applied after linting is complete.

However, if you’d like to do some research and put together an RFC, we can certainly consider it.

[2022-07-20 00:57] nzakas commented on #16141
Unfortunately, this is beyond ESLint’s capabilities. Tracking classes and subclasses requires some type checking data that ESLint does not have access to. It treats each method as if it were standalone. In this case, your best option is to use a disable comment for the method in question.

[2022-07-20 00:57] #16141 closed

[2022-07-20 14:47] pmcelhaney commented on #14827
I think this is a great idea and I'm willing to champion it. I'll do some research and add a comment here that fleshes out @nzakas's proposal and incorporates the suggestions in this thread. If you don't hear from me by August 1 please send me a gentle reminder. :)

[2022-07-20 22:19] #16128 closed

[2022-07-21 00:33] nzakas commented on #14827
@pmcelhaney much appreciated! 🙏 this has been in my list to circle back to.

[2022-07-21 00:55] nzakas commented on #16145
Thanks for the report. The indent rule does have a lot of edge cases because indentation is a complex process. This looks like it’s a bug.

Fixes to the indent rule are low priority right now, but if you’d like to dig in and see if you can fix it, we will gladly review the PR.

[2022-07-21 05:54] NieZhuZhu opened #16152 "Change Request: (I want to use the configuration in the conf directory externally)"
### ESLint version

`>=8`

### What problem do you want to solve?

I want to use the configuration in the conf directory externally

### What do you think is the correct solution?

`package.json` add exports for the conf directory

### Participation

- [X] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-07-21 11:03] aladdin-add commented on #16152
does the `--config` works for you?

[2022-07-21 21:44] dougludlow commented on #16147
I just ran into this, @m-nathani did you discover the cause?

[2022-07-22 00:06] nzakas commented on #16152
We aren’t making any changes to the current config system while we work on the new one.

[2022-07-22 00:06] #16152 closed

[2022-07-22 01:47] NieZhuZhu commented on #16152
When will the new config system be ready 🤣

[2022-07-22 02:17] aladdin-add commented on #16152
they had been exported. you can already use:
[code]

[2022-07-22 03:16] NieZhuZhu commented on #16152
I am not end-user, I am developer user. Before version 8 I could use it like this
[code]
But now I can only use it like this

[code]
Useful but ugly and not make sense 🙈

[2022-07-22 21:43] henry-filosa opened #16155 "Bug: allowNamedExports not an accepted config option for no-use-before-define"
### Environment

Node version: v14.19.1
npm version: v8.5.1
Local ESLint version: v7.32.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.15.0-41-generic

### What parser are you using?

@typescript-eslint/parser

### What did you do?

I attempted to configure the allowNamedExports setting of no-use-before-define which is documented [here](https://eslint.org/docs/latest

[2022-07-22 22:49] mdjermanovic commented on #16155
Hi @henry-filosa, thanks for the issue!

You are using `@typescript-eslint/no-use-before-define` plugin rule, which doesn't have this option yet: https://github.com/typescript-eslint/typescript-eslint/issues/5324

The core `no-use-before-define` rule has this option since [ESLint v8.17.0](https://eslint.org/blog/2022/06/eslint-v8.17.0-released/).

[2022-07-22 22:49] #16155 closed

[2022-07-24 20:44] kkmuffme opened #16156 "Bug: report-unused-disable-directives should report unnecessary eslint-enable"
### Environment

[eslint playground](https://eslint.org/play#eyJ0ZXh0IjoiLyogZXNsaW50IHF1b3RlczogW1wiZXJyb3JcIiwgXCJkb3VibGVcIl0gKi9cbi8qIGVzbGludC1lbmFibGUgKi9cbmNvbnN0IGEgPSAnYic7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoibGF0ZXN0Iiwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6eyJjb25zdHJ1Y3Rvci1zdXBlciI6WyJlcnJvciJdLCJmb3ItZGlyZWN0aW9uIjpbImVycm9yIl0sImdldHR

[2022-07-25 06:53] ilyub opened #16157 "Bug: Disabling rule with VSCode context menu broken when there is description"
### Environment

Node version: 18.4.0
npm version: 8.12.1
Local ESLint version: 8.20.0
Global ESLint version:
Operating System: Win 10

### What parser are you using?

vue-eslint-parser

### What did you do?

1. Disable some rule in VSCode:
[code]
![image](https://user-images.githubusercontent.com/70687432/180714886-bcc5b5c4-90fb-41c9-83a6-fea94df4fadc.png)

2. Add comment
[code]

3. Disable anoth

[2022-07-25 09:43] aladdin-add opened #16158 "support hashbang"
### Syntax name

hashbang

### Syntax proposal URL

https://github.com/tc39/proposal-hashbang

### Example code

[code]

### Implementation Checklist

- [ ] Ecma262 update: https://github.com/tc39/ecma262/pull/2816
- [ ] ESTree update:
- [ ] Acorn update:
- [ ] `eslint-visitor-keys` update:
- [ ] `espree` update:
- [ ] `eslint-scope` update:
- [ ] `eslint` update:

### Participation

- [X] I am wi

[2022-07-25 20:50] mdjermanovic commented on #16157
Hi @ilyub, thanks for the issue!

ESLint doesn't provide an API for adding eslint-disable comments. This feature is implemented in the vscode-eslint extension. If it doesn't work as expected, you can open an issue in this repository:

https://github.com/microsoft/vscode-eslint

[2022-07-25 20:50] #16157 closed

[2022-07-25 21:03] mdjermanovic commented on #16158
Per https://github.com/estree/estree/pull/224, this will not be included in ESTree.

Acorn update: https://github.com/acornjs/acorn/commit/b2ecf7a378097a95c9244209cd5e4aff748c2b2c (released in Acorn v8.8.0)

It doesn't seem that this requires any changes in `eslint-visitor-keys` and `eslint-scope`.

[2022-07-25 21:17] ilyub commented on #16157
Thx. Submitted issue as you suggested:
https://github.com/microsoft/vscode-eslint/issues/1505

[2022-07-25 22:16] mdjermanovic commented on #16158
ESLint already supports hashbang comments, regardless of parser and ecmaVersion, by [replacing `#!` with `//`](https://github.com/eslint/eslint/blob/2aadc93272f1ab7f40246c6b18c4056660f2b3a2/lib/linter/linter.js#L779) before parsing to make it appear as a line comment, and then [updating that comment's type to `"Shebang"`](https://github.com/eslint/eslint/blob/2aadc93272f1ab7f40246c6b18c4056660f2b3

[2022-07-25 22:33] mdjermanovic commented on #16156
Makes sense to me :+1:

[2022-07-26 01:03] nzakas commented on #16158
Yeah, I don’t think a change in ESLint is necessary.

:+1:

[2022-07-26 01:04] nzakas commented on #16156
Me too 👍

[2022-07-26 03:14] snitin315 commented on #16156
Since the name explicitly includes `disable directives`, should we also update the option's name? Like, `report-unused-enable-or-disable-directives`, `report-unused-directives`?

[2022-07-26 18:43] nzakas commented on #16156
No, that's too big of a change for this. I think the name is fine, as we are still tracking disable directives that don't cause an error and it's likely that an unused enable directive is because the accompanying disable directive was ignored.

[2022-07-27 13:02] vinilvasani commented on #16156
Hey folks,
Would like to work on this issue and take this up as my first contribution to eslint and open source software.

[2022-07-27 13:19] snitin315 commented on #16156
@vinilvasani Thanks. Feel free to ask anything if needed.

[2022-07-27 19:19] kboucher commented on #16131
Thank you @snitin315!

[2022-07-28 00:23] snitin315 commented on #16131
@kboucher the next release is scheduled on 29th July.

[2022-07-28 00:41] nzakas commented on #15949
Here’s a rough sketch of something I think could work but might take some time and elbow grease:

1. add `processorOptions` into the config in ESLint core (would need to be in flat config)
2. Add a processor option that allows you to override the virtual filename format, so you could choose something like `{block_number}.{meta}.{ext}` for your use case.

[2022-07-29 00:47] nzakas commented on #16103
@eslint/eslint-tsc what do we think about adding a new option for the desired behavior?

[2022-07-29 00:49] nzakas commented on #15906
@eslint/eslint-tsc what do we want to do here?

[2022-07-29 00:51] nzakas commented on #14881
@eslint/eslint-tsc does anyone on the TSC want to champion this change? If not, it’s time to close this issue.

[2022-07-29 00:52] nzakas commented on #13291
Closing due to no further action needed here. The release process has evolved and v8 went very smoothly.

[2022-07-29 00:52] #13291 closed

[2022-07-29 00:55] nzakas commented on #11129
Closing due to age.

[2022-07-29 00:55] #11129 closed

[2022-07-29 00:59] nzakas commented on #11512
I just noticed that CrowdIn has a free option for open source projects. I’ll investigate that some more.

[2022-07-29 06:57] NerOcrO opened #16167 "Fix automaticcaly the "sort-keys" rule by alphabetically"
### ESLint version

8.20.0

### What problem do you want to solve?

The "sort-keys" is awesome by the fixable command line is not implemented :(
It's boring to do it by hand.

### What do you think is the correct solution?

Some examples where this feature is implemented:
- eslint-plugin-import → [import/order](https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/order.md)
- styl

[2022-07-29 09:23] BIG293 opened #16168 "no-extra-parens rule doesn't work properly"
### Environment

ng lint --fix

### What parser are you using?

@typescript-eslint/parser

### What did you do?

const subject = new ReplaySubject<(number | string)[]>(1)

I've enabled the no-extra-parens rule

### What did you expect to happen?

nothing

### What actually happened?

the invocation parentheses are marked as extra and removed by the --fix option

### Participation

- [ ] I am willi

[2022-07-29 19:29] nzakas commented on #16167
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-07-29 19:29] #16167 closed

[2022-07-29 22:10] mdjermanovic commented on #16168
Hi @BIG293, thanks for the issue!

For TypeScript code, you should use [`@typescript-eslint/no-extra-parens`](https://typescript-eslint.io/rules/no-extra-parens/) rule instead of the core `no-extra-parens` rule.

If `@typescript-eslint/no-extra-parens` removes these parentheses, please open an issue in the typescript-eslint repository:

https://github.com/typescript-eslint/typescript-eslint

[2022-07-29 22:10] #16168 closed

[2022-07-29 23:26] mdjermanovic commented on #16103
I agree that this should be fixed by adding a new option.

The option could accept an array of characters to (optionally) skip at the start of the comment when checking whether it starts with disallowed terms? Similar to https://github.com/eslint/eslint/issues/16103#issuecomment-1180304234:

[code]

These characters would be added to the [`prefix`](https://github.com/eslint/eslint/blob/1cdcbca8a96

[2022-07-30 00:34] nzakas commented on #16103
I like it. 👍

[2022-07-30 10:34] zhangKunUserGit opened #16169 "no-redundant-vars to fix Local variable is redundant"
### Rule details

Local variable is redundant

### Related ECMAScript feature

ES6

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

<img width="691" alt="image" src="https://user-images.githubusercontent.com/13297317/181906425-6e492bef-6239-4715-badf-b98ec3dc6213.png">

Local variable 'svgEleme

[2022-07-30 12:58] #12759 closed

[2022-07-30 12:59] #15914 closed

[2022-07-31 09:54] kkmuffme opened #16171 "Bug: priority of no-lonely-if over no-else-return is wrong"
### Environment

[Playground](https://eslint.org/play/#eyJ0ZXh0IjoiZnVuY3Rpb24gZm9vKCkge1xuICAgIGlmIChmb28pIHtcbiAgICAgICAgcmV0dXJuIGZvbztcbiAgICB9IGVsc2Uge1xuICAgICAgICBpZiAoYmFyKSB7XG4gICAgICAgICAgICByZXR1cm4gYmFyO1xuICAgICAgICB9XG4gICAgfVxufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6ImxhdGVzdCIsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsibm8tbG9uZWx5LWlmI

[2022-07-31 10:25] Gautam-Arora24 commented on #16156
After looking into this issue, does adding both `disable` and `enable` directives' problems into the `disableDirectivesForProblem` array will work in this [line](https://github.com/eslint/eslint/blob/92bf49a4b39dde728fbc6d348e62c7009e21cf7d/lib/linter/apply-disable-directives.js#L217)?

[2022-07-31 13:59] bovealexandre opened #16172 "Bug: Parsing error: The keyword 'const' is reserved"
### Environment

Node version: 16.5.0
yarn version: 1.22.10
Local ESLint version: latest
Global ESLint version: latest
Operating System: Widnows

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

it's supposed to lint a string that looks like this :

[code]

### What actually happe

[2022-07-31 16:30] pmcelhaney commented on #14827
Here's a list of the current script names and where they're used, [generated with this script](https://gist.github.com/pmcelhaney/3f18f2e9f0f96f02015c914c83a6095a#file-analyze-mjs).

[code]

[2022-07-31 16:47] pmcelhaney commented on #14827
Here's a proposed standard which fleshes out @nzakas's original request.
# ESlint Package Script Naming Conventions

## Names

npm script names MUST contain only lower case letters, colons (`:`) to separates parts, `-` to separate words, and `+` to separate file extensions. Each part name SHOULD be either a full English word (e.g. `coverage` not `cov`) or a well-known initialism in all lowercase (

[2022-07-31 19:43] btmills commented on #16103
@mdjermanovic's suggestion looks good!

[2022-08-01 02:37] aladdin-add commented on #16172
the default ecmaVersion is 5, you'll need to config it >=6, to use the features like `let/const`.

https://eslint.org/docs/latest/user-guide/configuring/language-options#specifying-parser-options

[2022-08-01 04:07] #15661 closed

[2022-08-01 04:07] #15683 closed

[2022-08-01 04:56] btmills commented on #16146
ESLint v8.21.0 has been released: https://eslint.org/blog/2022/08/eslint-v8.21.0-released/

Since this went out late in the weekend, I'll wait until Tuesday evening US time before determining whether there are issues worthy of a patch release. Until then, please merge only semver-patch changes.

[2022-08-01 13:19] jdforsythe commented on #16123
Indeed it was a version issue and not a rule issue. Thank you.

[2022-08-01 13:19] #16123 closed, assigned to nobody

[2022-08-01 21:44] mdjermanovic commented on #16169
Hi @zhangKunUserGit, thanks for the issue!

This is a stylistic rule that isn't related to new ECMAScript features that reached stage 4 in the preceding 12 months, so per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies/) it doesn't qualify for inclusion in the core. You can always make a custom rule and publish a plugin.

[2022-08-01 21:44] #16169 closed

[2022-08-01 22:17] mdjermanovic commented on #16171
Hi @kkmuffme, thanks for the issue!

I can't reproduce this. `no-else-return` by design replaces the whole function and thus has precedence over `no-lonely-if`.

For this code:

[code]

I'm getting the following code after running eslint with `--fix`:

[code]

Can you provide steps to reproduce this behavior locally, as the order of fixes cannot be determined from the playground?

[2022-08-02 10:48] jimmywarting commented on #15561
https://github.com/eslint/eslint/issues/15341

[2022-08-03 00:50] nzakas commented on #15561
@jimmywarting can you provide some context as to why you left that comment?

[2022-08-03 03:49] btmills commented on #16146
I don't see any issues warranting a patch release, so that concludes this release process!

[2022-08-03 03:49] #16146 closed

[2022-08-03 03:49] eslint-github-bot[bot] opened #16179 "Scheduled release for August 12th, 2022"
The next scheduled release will occur on Friday, August 12th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "

[2022-08-03 06:43] jimmywarting commented on #15561
if the point is to make something more web compatible eslint version than i wish there was a possibility to also hook in a own filesystem like the whatwg/fs provided by the browser

[2022-08-04 01:03] nzakas commented on #15561
Yeah, that’s not really relevant to this effort. What you’re asking for is a change to the ESLint class, which is not possible due to the number of packages that use “fs” directly. What we are talking about here is using the Linter class, which is already runtime agnostic.

[2022-08-04 09:13] maxvelua commented on #15644
Just found a solution that works for my team, add `DISABLE_ESLINT_PLUGIN='true'` in your `package.json` for `start` command. It will disable `eslint` when your application is running, but it will still check your code in ide.

[2022-08-04 09:44] TalhaBlueEast commented on #15802
I'm facing the same issue about this error. I add the below code to my **package.json** file.

    "resolutions": {
      "@types/react": "17.0.2",
      "@types/react-dom": "17.0.2",
      "graphql": "^16.5.0"
    },

Then, Run `yarn install` on a terminal.

It works for me.

[2022-08-04 14:18] pmcelhaney commented on #14827
Related: https://github.blog/2015-06-30-scripts-to-rule-them-all/

[2022-08-04 18:34] jjspace commented on #15767
@nzakas Sorry for forgetting to following up on this. I think removing "immediately" would help. Then I wouldn't be as inclined to think the behavior of https://github.com/eslint/eslint/issues/15767#issuecomment-1093041405 was wrong, just that this value was at some point losing precision? I think it would also help to include the "significant digits" part that @btmills [suggested](https://github.

[2022-08-04 23:21] mdjermanovic commented on #15796
Maybe `functionsIgnorePattern`?

[2022-08-05 00:57] nzakas commented on #15796
Would “methods” be better than “functions” here?

[2022-08-05 07:03] mcjambi commented on #15802
i have the same issue, not really an error, but make me confuse!

[2022-08-05 08:19] tkalliom opened #16182 "Rule Change: Add option to func-names to only check async functions"
### What rule do you want to change?

func-names

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Two errors are output: `Unexpected unnamed function` for the first callback, and `Unexpected unnamed async function` for the second one.

[2022-08-05 11:41] DazKins opened #16183 "Bug: (Unexpected new line between function and parentheses when no function is declared)"
### Environment

Node version: v16.16.0
npm version: v8.11.0
Local ESLint version: Not found
Global ESLint version: v8.21.0 (Currently used)
Operating System: darwin 21.5.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

I declared a boolean variable and then on the next line direct called an in-line promise.

[2022-08-05 16:17] DazKins commented on #16183
Just realised when this code executed that nodejs also reject it saying: `false is not a function` which is similar to what I described above.

Perhaps ESLint isn't so wrong about this then, but the error message could be more accurate here.

[2022-08-05 17:30] mdjermanovic commented on #16183
This works as intended because `false(async () => {})` is a function call. If the current message is causing confusion, maybe we could change it to `Unexpected newline between callee and ( of function call`?

[2022-08-05 17:34] mdjermanovic commented on #15796
`methodsIgnorePattern` sounds good to me.

[2022-08-05 23:59] sstchur opened #16184 "Bug: (fill in)"
### Environment

Node version: 16.4.2
npm version: 8.5.0
Local ESLint version: 8.19.0
Global ESLint version: N/A
Operating System: Github Codespaces (Linux VM), but this repos on Windows and Linux and everywhere I've tried it

### What parser are you using?

@typescript-eslint/parser

### What did you do?

The simplest way to see the issue is to clone this repo: https://github.com/sstchur/eslint-r

[2022-08-06 00:36] sstchur commented on #16184
I figured out the issue.  It was due to the absent-mindedly pasted `schema: []` which I totally didn't notice.  Closing this out.

[2022-08-06 00:36] #16184 closed

[2022-08-06 03:39] snitin315 commented on #15703
@amareshsm Can I finish this if you are not working on it actively?

[2022-08-06 04:22] lachlanhunt commented on #16103
I updated my PR to address the comments here. But I went with a single `decoration` property that takes a string of characters, rather than an array. It was easier to then just include that within the regex for location "start" using a character class.

given

[code]

The regex becomes `/^[\s\*]*ESCAPED_TERM\b/iu`

[2022-08-06 11:41] amareshsm commented on #15703
@snitin315 Yes, I will complete this today.

[2022-08-06 16:01] mdjermanovic commented on #15796
I can work on this.

[2022-08-07 00:37] mdjermanovic commented on #16103
String as a list of characters might be confusing. For example, `"decoration": "/*"` (docs example from https://github.com/eslint/eslint/pull/16120) looks like it should skip `/*` sequences rather than individual characters `/` and `*`. I think arrays of characters like `["/", "*"]` in configs would be clearer. We can internally `.join("")` them and work with a string.

[2022-08-07 02:14] lachlanhunt commented on #16103
I thought about, but there's no easy way to enforce that each string in the array is a single character anyway. I could change it to allow either a string or array or strings, and then explain in the docs that they're equivalent.

[2022-08-07 16:09] fahad0samara commented on #15802
I have the same problem

[2022-08-07 19:07] romainmenke opened #16188 "Eslint 8.21.0 introduced a few new dependencies, can we review these?"
### ESLint version

8.21.0

### What problem do you want to solve?

Each dependencies is a potential attack vector and slows down npm install, ....

see :

- https://npm.anvaka.com/#/view/2d/eslint/8.20.0
- https://npm.anvaka.com/#/view/2d/eslint/8.21.0

Were these dependencies sufficiently reviewed?

### What do you think is the correct solution?

Confirm that these dependencies are the right cho

[2022-08-07 19:16] mdjermanovic commented on #16103
We can use `pattern` to enforce single-character string values:

[code]

`\S` is to disallow specifying whitespace characters to emphasize that they're always included automatically.

[2022-08-08 10:59] NilsBaumgartner1994 commented on #15802
Same

[2022-08-09 00:59] nzakas commented on #16156
I don’t think so but you can always try it and see what happens. :)

[2022-08-09 01:47] ygongdev opened #16189 "Change Request: Support for more RuleTester hooks or async control"
### ESLint version

6.8.0

### What problem do you want to solve?

ESLint currently only support a minimal set of overrides [here](https://eslint.org/docs/latest/developer-guide/nodejs-api#ruletester).

Sometimes, we write custom rules that needs certain setup/teardown to work properly in the `RuleTester` tests.
One example is writing a testing lint that enforces each file to have a corresponding

[2022-08-09 09:41] liuxy0551 commented on #14058
This problem still exists.

[2022-08-09 12:32] DianSSIE commented on #15802
I had to just make sure the version numbers for:
"@types/react" x.x.x
and
"@types/react-native" y.y.y

match with:
"react": x.x.x
and
"react-native" y.y.y

[2022-08-10 00:24] nzakas commented on #14827
I like the proposal 👍 Thanks for putting this together.

If others agree, I think we can just document it under Developer Guide and then move forward with PRs to other repos.

@eslint/eslint-tsc what do you think?

[2022-08-10 00:32] nzakas commented on #16188
Is there a particular package you are concerned about?

[2022-08-10 00:33] nzakas commented on #16182
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-08-10 00:33] #16182 closed

[2022-08-10 00:54] nzakas commented on #16189
I don’t think you need any additional hooks to do what you want. I believe if you just wrap ruleTester.run() in another describe(), you should be able to use beforeEach() as you would normally.

In general, I don’t think we want to start adding in all the features of every test framework. RuleTester is meant to be a minimal framework for simple tests. When you start to get into more complicated te

[2022-08-10 01:36] ygongdev commented on #16189
Interesting, can you share a rough code snippet of what you mean?

If I understood correctly, is it something like this?

[code]

[2022-08-10 01:37] ygongdev commented on #16189
And I agree on avoiding adding more features into the test framework. I'm more than happy to create a new Linter, but it was really hard to access the AST-related testing functionalities.

[2022-08-10 06:54] romainmenke commented on #16188
As long as each package is really needed and the maintainer is trusted by you there is no concern. I couldn't find any discussion in a relevant pull request about the added dependencies : https://github.com/eslint/eslint/pull/16149

Just caught my attention to see the number of installed packages go up by a non-trivial amount.

[2022-08-10 21:23] #16171 closed

[2022-08-10 22:02] nzakas commented on #16188
Yeah, that's because we implemented the new config system, which required a bunch of new dependencies. If you have any specific concerns, please feel free to open another issue.

[2022-08-10 22:02] #16188 closed

[2022-08-10 22:05] nzakas commented on #16189
Yeah, sorry, I was on my phone for the previous comment so it wasn't conducive to writing out a long code example. You have the general idea correct with this example:

[code]

Because `ruleTester.run()` programmatically calls `describe` and `it`, you should be able to drop it right in the middle of any other `describe` and have it work correctly. Let me know if that doesn't work for you.

[2022-08-10 23:56] ygongdev commented on #16189
Yes it did work. Since this solves my immediate problem at hand. I will close this request. Thanks for the help @nzakas !

[2022-08-10 23:56] #16189 closed

[2022-08-11 07:27] littleboarx opened #16192 "Bug: "RangeError: Maximum call stack size exceeded" in indent rule using colon in tsx"
### Environment

Node version: v16.16.0
npm version: v8.11.0
Local ESLint version: v8.21.0
Global ESLint version: Not found
Operating System: win32 10.0.18362

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>
        {
            files: ['*.tsx'],
            extends: [
                'eslint:recommended',

[2022-08-11 08:13] electriquo opened #16193 "Bug: no-unused-vars inconsistency"
### Environment

Node version: v16.16.0
npm version: v8.14.0
Local ESLint version: v8.21.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

[code]

### What actually happened?

[code]

##

[2022-08-11 13:49] #16193 closed, assigned to nobody

[2022-08-11 13:54] aladdin-add commented on #16192
eslint does not officially support ts. you should be using `@typescript-eslint/indent` instead.

[2022-08-11 20:46] nzakas commented on #16192
It looks like they are using `typescript-eslint` already. The question here is if we can reproduce with the given configuration.

[2022-08-11 20:47] nzakas commented on #16192
Oops, sorry, I misread your comment. Yes, please use the TypeScript-specific version of indent:
https://typescript-eslint.io/rules/indent

[2022-08-11 20:47] #16192 closed

[2022-08-11 20:50] nzakas commented on #16183
I don't think making a change to the wording would improve the situation. It will still be a bit vague because we don't necessarily know what the stuff coming before the `(` was intended to be. It looks like a function call, that's all we know.

[2022-08-12 11:32] avalanche1 opened #16195 "Rule Change: [max-lines] - add an option to ignore imports"
### What rule do you want to change?

max-lines

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

https://github.com/eslint/eslint/issues/12875

### What will the rule do after it's changed?

https://github.com/eslint/eslint/issues/128

[2022-08-12 18:38] nzakas commented on #16195
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-08-12 18:38] #16195 closed

[2022-08-12 23:05] simlu opened #16198 "Bug: eslint cant load esm plugin"
### Environment

Node version:
npm version: 16.15.0
Local ESLint version: 8.21.0
Global ESLint version: -
Operating System: Ubuntu

### What parser are you using?

Default (Espree)

### What did you do?

Trying to load an esm plugin with `new ESLint` and I can't get it to work. Below should work according to documentation [here](https://github.com/eslint/rfcs/pull/40/files#diff-350c9b4a729ce6a1b3b

[2022-08-13 05:01] harish-sethuraman commented on #16198
I suppose this should be a problem?

[code]

[2022-08-13 05:35] ljharb commented on #16198
This isn't a bug; eslint uses `require`, and you can't require ESM. Additionally, ESM is async, and eslint plugins/configs must be sync.

[2022-08-13 11:53] simlu commented on #16198
According to this ticket you can though?
https://github.com/eslint/eslint/issues/15453#issuecomment-1001200953

[2022-08-13 12:24] amareshsm commented on #16041
@Gautam-Arora24 Are you still working on this? I would like to work on this.

[2022-08-13 12:25] Gautam-Arora24 commented on #16041
@amareshsm You can work on this.

[2022-08-13 15:01] ljharb commented on #16198
No, this comment clarifies that you can’t. https://github.com/eslint/eslint/issues/15453#issuecomment-1002015088

[2022-08-13 15:32] simlu commented on #16198
I was talking about the comment after the one you linked. The last one in the ticket! It details that you can when using eslint programmatically

[2022-08-13 15:38] ljharb commented on #16198
I suppose that’s true, altho I’m not sure why you’d want to do that.

[2022-08-14 00:15] btmills commented on #14827
This is great! Since this isn't an external API, it's easy to change as we learn, so I agree there's no need for an RFC. Thanks @pmcelhaney!

[2022-08-14 00:33] #15796 closed

[2022-08-14 01:48] btmills commented on #16179
ESLint v8.22.0 has been released: https://eslint.org/blog/2022/08/eslint-v8.22.0-released/

Please merge only semver-patch changes until we've determined whether a patch release is necessary.

[2022-08-14 14:37] thisrabbit opened #16200 "Bug: Conflict rules in TypeScript on whether or not to have a semicolon after an `export default interface`"
### Environment

Node version: v16.13.2
npm version: 8.17.0
Local ESLint version: v8.21.0
Global ESLint version: (Not appliable)
Operating System: Windows 10 / macOS

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

As other TS rules did, code style should conf

[2022-08-14 17:47] amareshsm commented on #16041
I will send a PR.

[2022-08-14 21:25] mdjermanovic commented on #16200
Hi @thisrabbit, thanks for the issue!

The core `semi` rule does not support TypeScript code. You should use the [`@typescript-eslint/semi`](https://typescript-eslint.io/rules/semi/) rule instead.

[code]

[2022-08-14 21:25] #16200 closed

[2022-08-14 21:55] mdjermanovic commented on #16198
@simlu the latest API documentation is here:

https://eslint.org/docs/latest/developer-guide/nodejs-api

You can use `options.plugins` to pass in the plugin implementation.

[code]

[2022-08-15 13:45] hugo-vrijswijk opened #16205 "New Rule: no await in Promise.all/race/reject/resolve statements"
### Rule details

Warn when `await` statement is used inside a `Promise.all` (or other Promise method) call. Using `await` inside a `Promise.all` statement is _extremely likely_ to be a user error and can cost a lot of performance because the `awaited` promise will first complete before the rest of the statement is run.

### Related ECMAScript feature

Promise

### What type of rule is this?

Warn

[2022-08-15 20:11] ImanMahmoudinasab commented on #15560
Hi everyone. I'm wondering what is the last state of this migration.
In our case, we have updated our webpack config to EMS (webpack.mjs)  and then I tried to use `eslint-plugin-import` and pass the webpack config for path resolving. And finally, I found out that eslint is only running in common js and I can't have esm webpack config.

[2022-08-15 20:17] nzakas commented on #14827
Marking as accepted. @pmcelhaney please proceed. 👍

[2022-08-15 20:31] nzakas commented on #16205
Thanks for the suggestion. This is a bit too generic a proposal to be considered in the core (await can cause problems in many places that have callbacks), but you can always create a custom rule that does exactly what you want.

[2022-08-15 20:31] #16205 closed

[2022-08-15 20:41] hugo-vrijswijk commented on #16205
Yes, I've taken to publishing my own plugin, but I doubt that will reach many bugs by itself 😅: https://www.npmjs.com/package/eslint-plugin-no-await-in-promise

Could you explain what you mean by this? My proposed rule would only trigger for code that already uses `await`.

[2022-08-15 22:22] JounQin commented on #15560
commonjs is fine to be imported in ESM, what is the actual issue?

[2022-08-16 05:55] btmills commented on #16179
I see no regressions reported! This concludes the 8.22.0 release process.

[2022-08-16 05:55] #16179 closed

[2022-08-16 05:55] eslint-github-bot[bot] opened #16210 "Scheduled release for August 26th, 2022"
The next scheduled release will occur on Friday, August 26th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "

[2022-08-16 10:57] infacto opened #16211 "Rule Change: (no-restricted-imports) Resolve to absolute paths."
### What rule do you want to change?

no-restricted-imports

### What change to do you want to make?

Implement suggestions

### Description

It would be great if this rule can treat all paths as absolute paths.
For example paths like `../../bar` > `src/foo/bar`. This makes configuration easier and offers more options especially in a monorepo.

TL;DR: Scroll at the end of this issue. The core issu

[2022-08-16 17:45] ImanMahmoudinasab commented on #15560
@JounQin Thanks for the reply. The issue is the eslint is only published as commonjs and when IDE's like vs code or Jetbrians finds the executable of eslint in the node packages and run it, it always will be run as commonjs and all imported packages have to be commonjs. This is my understanding from the error message thrown by eslint server (on both IDEs):
[code]
And this is the config (`.eslintrc

[2022-08-16 18:29] ljharb commented on #15560
@ImanMahmoudinasab supporting that requires eslint to support async, via `import()` - it does NOT require any change of eslint itself to ESM.

[2022-08-16 21:05] nzakas opened #16212 "docs: Hardcode eslintVersion.js on release"
## Problem

Right now, `docs/_data/eslintVersion.js` reads from the root `package.json` to retrieve the version of ESLint. This makes it difficult to copy the docs files into another repo (for translation purposes).

## Solution

Instead of reading the version dynamically, we should instead just hardcode this value whenever we do a release. So in `Makefile.js`, we can add a step where we write the

[2022-08-16 21:20] ljharb commented on #16212
what about `require('eslint/package.json').version`, and then making eslint be a dep of the docs?

[2022-08-17 00:26] JounQin commented on #15560
@ImanMahmoudinasab

See also https://github.com/import-js/eslint-plugin-import/issues/2069#issuecomment-1189581492

You can contribute to integrate https://github.com/rx-ts/synckit as I mentioned above into `eslint-import-resolver-webpack`, so that it'll not be a blocked.

[2022-08-17 01:44] ZackKuhn commented on #15802
1. Paste in **package.json** file:
`"resolutions": {
    "@types/react": "17.0.14",
    "@types/react-dom": "17.0.14"
  },`
2. Run `yarn install` on a terminal.

[2022-08-17 08:18] DJ-Icebear commented on #15802
For me the issue was I was importing types explicitly when not needed:
I removed two lines from the package.json:
[code]

[2022-08-17 10:36] hidragos opened #16214 "Bug: ESLint crashes with Error: Invalid Options: - Unknown options: allowTrailingCommas"
### Environment

Node version: v16.13.0
npm version: v7.6.0
Local ESLint version: v8.22.0
Global ESLint version: Not found
Operating System: darwin 21.5.0

### What parser are you using?

@angular-eslint/template-parser

### What did you do?

<details>
<summary>Repro steps</summary>

[code]
</details>

### What did you expect to happen?

ESLint is expected to run on with default configuration.

##

[2022-08-17 16:31] simlu commented on #16198
Perfect, this seems to work well

[Reference PR](https://github.com/blackflux/js-gardener/pull/1696/files)

Closing this, thank you all for your input!

[2022-08-17 16:31] #16198 closed

[2022-08-17 18:50] kkmuffme opened #16215 "New Rule: disallow concat for innerHTML - use insertAdjacentHTML instead"
### Rule details

disallow appending to innerHTML

### Related ECMAScript feature

Element.innerHTML

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Basic operation

Concat with .innerHTML re-adds all existing HTML and leads to removing all the listeners attached to the re-added elements.
Use