[2016-02-12 13:44] fcanela commented on #5207
I worked a little bit with that style and I think that it leads to a lot of code for a simple issue.

For this:
[code]
I would have to code this so no eslint issue is arose:
[code]

If the team accepts this behavior as  acceptable I will disable the callback return rule and go just with:
[code]
But I would prefer to benefit from this eslint rule without having to do weird transformations to my cod

[2016-02-12 13:45] agilob commented on #5205
Give gitlab a try. I wrote [a post on my blog](https://www.b.agilob.net/choose-gitlab-for-your-next-project/) trying to show I like the most about gitlab. I'm in no way affiliated with them.

[2016-02-12 13:55] joshmanders commented on #5205
For what it's worth, GitHub responded to dear-github; https://github.com/dear-github/dear-github/pull/115

[2016-02-12 13:57] Bounga commented on #5205
@agilob If Github doesn't work for them, how Gitlab would? I'm using it every day at work and it's more or less a Github clone. The only benefit is it's self-hostable and free.

[2016-02-12 14:10] jmm commented on #5205
@nzakas

Awesome! Thanks. Is there info anywhere on how your bot is setup?

[2016-02-12 14:15] platinumazure commented on #5219
Should `var` statements be included? And should the let/const bindings only be counted at the block level, or function?

Example of what I mean by my last question:

[code]

Four total bindings in the function, two in each block scope. Should the rule warn or not? And if they were var declarations, should this rule warn in that case?

[2016-02-12 14:19] agilob commented on #5205
@Bounga Because it covers their requirements in 100%

Supported, configured in repo settings, for both issues and merge requests.

All supported by GitLab CE (gitlab.com). Issues also have weights, votes and belong to milestones, have labels and users can vote on issues.

Not sure about pull requests, but issues and wiki are supported.

[2016-02-12 14:20] sarunast commented on #5205
Looks like github is promising some changes soon: https://github.com/bkeepers/dear-github. (The reply of github is at the end of page)

[2016-02-12 14:20] mrbinky3000 commented on #3782
FWIW.  I quickly set up a local dev environment and ran into this error.   The error said it could not find `eslint-plugin-react` and it was installed.  However, a few minutes later, I realized that I never installed `eslint`.  The error message was a little misleading.   Saying it can't find a plugin implies that you actually installed the main module itself.  For me, this was not the case.

[2016-02-12 14:21] MoOx commented on #5205
Pull request on GitLab are called "merge request" (which is the appropriate name according to the action) :)

@sarunast already posted.

[2016-02-12 14:27] IanVS commented on #3782
You must have had eslint installed somewhere, maybe globally?  How did you run eslint to get the error if it wasn't installed?

[2016-02-12 14:28] rafaelrinaldi commented on #5205
Some great points on this subject from the folks behind successfull open source projects such as [Rails](https://github.com/rails/rails) and [Elixir](https://github.com/elixir-lang/elixir) (@josevalim): ["Tips for keeping your Open Source Software issues tracker tidy"](http://blog.plataformatec.com.br/2014/05/tips-for-keeping-your-open-source-software-issues-tracker-tidy)

Might help providing som

[2016-02-12 14:37] christophermancini commented on #5205
We struggle with this too @ Basho. We are using JIRA and GH, which is kind of a pain. We have product development, custom development, and project management in JIRA while GH gets most of the bug & community stuff. We have a service that links the two, but the problem is that we are bouncing around, getting double notifications for things and it can create a confusing user experience for users in

[2016-02-12 15:01] brainwane commented on #5205
First off, thank all of you for working on ESLint!

I've worked on a bunch of open source and closed source software projects, using GitHub, Trac, Phabricator, Bugzilla, Mantis, FogBugz, and other issue tracking systems. Yes, none of them are perfect. GitHub has less customizability than, for instance, Bugzilla. I wouldn't be surprised if you do decide GitHub doesn't work for the particular workfl

[2016-02-12 15:37] Kmaschta commented on #5205
I'm with @Nejuf and @JaKXz to suggest you [waffle.io](waffle.io)

![waffle](https://waffle.io/resources/images/waffle_board.jpg)

For using it on a daily basis, it's pretty ergonomic and allows you to benefit the hosting power of Github without pain (or, at least, less pain).
I haven't tested it with a larger project as yours, but it deserve to be tested IMO.

[2016-02-12 15:51] michaelficarra commented on #5219
@platinumazure Why would var declarations be counted differently? That would make no sense.

@gilligan Would parameter bindings and catch bindings be included in the count?

[2016-02-12 16:07] platinumazure commented on #5219
@michaelficarra I asked because the original proposal didn't include var
bindings at all, so there was ambiguity. Maybe there's another rule that
covers var bindings already. Maybe the user meant for them to be included,
as you suggest. Maybe the user didn't think about it at all. Don't make
baseless assumptions about why a question was asked just because you think
you know the answer.
On Feb 12,

[2016-02-12 16:14] michaelficarra commented on #5219
Well then let's confirm everything to be on the safe side. @gilligan Are function declaration bindings counted? How about generator function declaration bindings? Are class declaration bindings counted? Are function expression name bindings counted? How about generator function expression name bindings? Are class declaration immutable inner bindings counted? Are class expression name bindings coun

[2016-02-12 16:37] nzakas commented on #5207
I'm sorry, this is too specific an exception to add. If you're looking for an alternative, try https://github.com/gajus/eslint-plugin-jsdoc.

[2016-02-12 16:37] #5207 closed

[2016-02-12 17:47] nzakas commented on #5205
@marak Thanks for that, these suggestions are very useful. We can definitely make it clearer what is expected and how to request help.

This is incorrect. We want a system that allows us better control of the contributions and communications. A side effect is that we'd lose some of it, but as I've said previously in this thread, I believe what we lose would be mostly low-level noise.

[2016-02-12 17:56] nzakas commented on #5205
One thing I want to point out to a few people who have said things along the lines of "projects much bigger than you seem to be doing okay on GitHub."

Projects much bigger than us tend to have full-time developers and/or much larger teams. Node.js has not only a large number of contributors, but paid developers and the support of a foundation. npm has a company backing it. React/ReactNative have

[2016-02-12 18:20] creationix opened #5220 "init doesn't output anything"
I'm trying to add eslint to a new project, but running `eslint --init` doesn't seem to have any side effects other than asking me some questions.

[code]

And then nothing.  The process exits without an error code there is no new .eslintrc file anywhere on my filesystem.

Am I using this wrong or is it broken?

[2016-02-12 18:25] btmills opened #5221 "Automatically assist with common exceptions"
One idea that came from yesterday's discussion in #5205 is automatically handling common exceptions. If the tool can provide guidance for common cases, that solves the user's problem faster, and the team saves time. Similarly, when we added rule schemas, users were able to solve configuration errors themselves, and those issues stopped coming in.

I found a few examples from the last couple weeks

[2016-02-12 18:29] ilyavolodin commented on #5220
@creationix Are you saying that after running this, you don't have `.eslintrc.js` (since you selected JavaScript format, file will have .js extension) file created in your `www` directory? Would you mind trying the same exact thing but with a `--debug` flag? As in `eslint --init --debug` it should provide some additional information. If you could post the result here, it would help us debug this p

[2016-02-12 18:37] creationix commented on #5220
https://asciinema.org/a/4g9lhuvch583q6mbe5w4mctz0

[2016-02-12 18:42] mkurz commented on #5205
GitHub responded to the "Dear GitHub" open letter: https://github.com/dear-github/dear-github/pull/115
New features are coming to issues soon! Maybe wait for if them and give GitHub a second chance before switching to some other tool?

[2016-02-12 18:45] young-steveo commented on #5205
@mkurz https://github.com/eslint/eslint/issues/5205#issuecomment-183340958

[2016-02-12 18:49] lo1tuma commented on #5221
I like the idea. I think #1961 is related to this.

We could also think about a `eslint bug-report` command which would extend a given description with information like eslint version, content of .eslintrc etc.

[2016-02-12 18:53] ilyavolodin commented on #5220
Hmm.. Ok, that's very strange. Could you try it with `--debug` it might give us insight into what happened and why the file wasn't created. I have a feeling that I know what happened, but want independant confirmation anyways.

[2016-02-12 18:57] ilyavolodin commented on #5221
@btmills I don't think I agree with "time not spent on the rest of ESLint". We have over 1.5m downloads per month, anything that we can do to make user's life easier is time well spent on ESLint. So I think it's worth investigating and trying something like npmlog.

[2016-02-12 18:59] btmills commented on #5220
I'm able to reproduce this linked from latest `master`. Not sure what's going on. Neither `--debug` nor `DEBUG=eslint:all` produce any output. It's failing inside `processAnswers` with two errors:

- `TypeError: Cannot read property 'forEach' of undefined`
- `TypeError: Cannot read property 'plugins' of undefined`

[2016-02-12 19:02] ilyavolodin commented on #5220
Oh, that's not what I expected at all. I thought that the changes that we made to `config-file` would output config into location of global eslint installation.

[2016-02-12 19:05] IanVS commented on #5220
@btmills does it give line numbers?

[2016-02-12 19:10] btmills commented on #5220
With these changes:

[code]

I get:

[code]

[2016-02-12 19:11] btmills commented on #5220
It seems `inquirer` may have been swallowing errors, which is why we weren't getting stack traces before.

[2016-02-12 19:12] cweagans commented on #5205
Saw this on HN today: http://gitmagic.io/

Might be helpful.

[2016-02-12 19:14] IanVS commented on #5220
Yes, it does unless you call the callback with the errors.  It's kind of annoying to work with inquirer, honestly.   I think I know what's going on, gimme a few min to dig deeper.

[2016-02-12 19:19] IanVS commented on #5220
Got it.  PR incoming.

[2016-02-12 19:41] aldanor commented on #5205
if GitHub indeed rolls out new issue features in the coming weeks, maybe that would be sufficient?

[2016-02-12 19:43] brodock commented on #5205
GitLab have "Page Hosting" support like GitHub Pages. There is a WIP Merge Request to have CNAME and SSL supported for next release: https://gitlab.com/gitlab-org/gitlab-ee/merge_requests/173

[2016-02-12 19:49] #5220 closed

[2016-02-12 22:26] nzakas commented on #5205
@aldanor yes, it could be enough to keep us around. I want to see what improvements are made before committing to anything, though. In the meantime, we're still going to be exploring other options so we're better informed.

[2016-02-12 22:31] nzakas commented on #5221
Definitely worth investigating. If we could create an eslint-crash.log whenever there's a crash, and instruct users to paste that into an issue, that would go a long way.

[2016-02-12 22:34] #4104 closed

[2016-02-12 22:39] nzakas commented on #3484
@ilyavolodin can you show an example?

[2016-02-12 22:40] ilyavolodin commented on #5219
@gilligan Could you please expend on what this rule is trying to solve? There's a pretty good understand (at least I think there is) of why too many function arguments are a bad thing, but I'm not sure I understand why too many local variables are bad.

[2016-02-12 22:40] nzakas opened #5223 "Switch release process to use eslint-release"
I've been testing eslint-release on some other projects and I think it's ready for use here. It's basically a lot of the release procedure already in `Makefile.js`, just extracted into a reusable package. This should help reduce the size of `Makefile.js` and give us more consistent releases across projects.

[2016-02-12 22:42] ilyavolodin commented on #3484
[code]
Don't take this proposal as me wanting to champion this feature though. I'm not convinced this is a necessary enhancement. Just wanted to move discussion one way or another (it's been sitting around without resolution for a long time).

[2016-02-12 22:52] platinumazure commented on #5223
Nice!

[2016-02-13 00:05] nafarlee opened #5226 "--init fails silently if no package.json present"
Just installed version 2.0.0

Running --init on a folder missing a package.json will prompt the user to answer all of the questions, but upon answering the final question, will exit without creating an .eslintrc or signaling any type of failure. It also signals to the command line that it exited successfully.

[2016-02-13 00:13] nafarlee commented on #5226
Further testing reveals that the --init question path that allows the user to "Answer questions about your style" seems to fail no matter what.

[2016-02-13 00:18] gyandeeps commented on #5226
Probably duplicate of https://github.com/eslint/eslint/issues/5220

[2016-02-13 00:25] randycoulman opened #5227 "no-empty-function rule raises TypeError"
When I run ESLint 2.0 on this file:

[code]

with this configuration file:

[code]

I get the following error:

[code]

I'm not sure where in the file it's failing.

[2016-02-13 00:40] ilyavolodin commented on #5226
Yes, this is a duplicate of #5220 and it has been fixed in #5222 Should be released with the next patch.

[2016-02-13 00:40] #5226 closed

[2016-02-13 00:51] ilyavolodin commented on #5227
Verified. @mysticatea could you take a look?

[2016-02-13 01:22] ShaneCurcuru commented on #5205
The real question: is this truly a technical issue, or is it a community issue?  I.e. are there ways to grow the community by using your governance and docs to draw in new contributors who can do useful work, not just submit incomplete tickets or the like?

Just a thought from the peanut gallery.  If you're having this big a discussion on the details of tools that you use for the work, perhaps it'

[2016-02-13 03:18] isiahmeadows opened #5228 "`no-constant-condition` should also count `typeof x`"
This, alone in any condition, is always truthy (always one of seven truthy values), and is probably a mistake in any case.

[2016-02-13 03:18] isiahmeadows commented on #5228
I think this could make it into 2.0 as well.

[2016-02-13 03:26] Qix- commented on #5205
/quote
- Must host the repo along with the related tools
- Must be able to run automated tests on pull requests
- Must allow contributions from anyone
- Must have a way to setup issue templates prescribing what fields are required
- Must have ways to organize issues other than labeling (milestones, priorities, etc.)
- Must import existing GitHub issues and pull requests
/endquote

Seriously? What

[2016-02-13 03:40] faceleg commented on #5083
I can do my best to help triage issues. You might want to talk to @sheerun about how the bower team is handling this, we went through / are going through similar organisational changes.

[2016-02-13 03:51] ilyavolodin opened #5229 "Bot responds to person who tagged the issue"
I just tagged an issue with "needs info" and bot responded to me, not to the original poster. As in it included my name, not the name of the person who opened an issue.

[2016-02-13 03:56] platinumazure commented on #5083
@nzakas Let me know if I can help with triaging issues.

[2016-02-13 04:15] mysticatea commented on #5227
Oops, I'm really sorry! :astonished: :confounded:

[2016-02-13 04:44] #5227 closed

[2016-02-13 04:55] randycoulman commented on #5227
Wow, thanks for the quick fix @mysticatea !  Thanks everyone for your work on this project.  I've been finding it very useful and valuable lately!

[2016-02-13 05:23] thejameskyle commented on #5205
So GitHub reached out and talked to me after [responding to the dear-github letter earlier today](https://github.com/dear-github/dear-github/pull/115). It sounds like the letter did more good than I expected it to, and all I'm going to say is that I'm looking forward to the things that they'll be doing in the next few weeks or so.

@nzakas I would hold off on making a decision for now. And you mig

[2016-02-13 09:09] WhyEvenTry opened #5231 "Inline JSDoc parameter type info for arrow-functions is mistaken for JSDoc documentation on the function"
eslint 2.0

Because WebStorm is able to use the type information I use inline JSDoc type info (which is valid JSDoc). Such type-info of course is just that - it has nothing to do with documenting a function (@param,@returns) - it's just type information.

Second, I use inline arrow functions and I leave out the parenthesis when there is only a single parameter to such an inline arrow function.

Ex

[2016-02-13 09:18] darkred opened #5232 "(eslint:recommended) which rules are new or have been updated in v2"
In the [announcement post for the v2 release](http://eslint.org//blog/2016/02/eslint-v2.0.0-released) it says that:

But in the [rules page](http://eslint.org/docs/rules/) it doesn't show which of the recommended rules in v2 are new or have been updated _(there's only this paragraph in: [Migrating to v2.0.0](http://eslint.org/docs/user-guide/migrating-to-2.0.0#default-changes-when-using-eslintreco

[2016-02-13 09:29] WhyEvenTry opened #5233 ""no-empty-function" causes TypeError in eslint 2.0"
I added "no-empty-function" to the rules and when I tried to run eslint (2.0) I got

[code]

[2016-02-13 09:46] sindresorhus opened #5234 "Allow enforcing single/double-quotes without preventing use of template literals"
How it worked in ESLint 1.0.0 worked perfectly. I could enforce single-quotes everywhere `'quotes': [2, 'single']` and still use template literals when convenient, e.g. if the content had single-quotes so not having to escape it. With ESLint 2.0.0 template literals are now awkwardly forced into the rule and there's no way to enforce single-quotes without also preventing use of template literals wh

[2016-02-13 09:50] mysticatea commented on #5232
Thank you for this issue.

As far as I remember, rules which were added to `eslint:recommended` are below:

- [array-callback-return](http://eslint.org/docs/rules/array-callback-return)
- [constructor-super](http://eslint.org/docs/rules/constructor-super)
- [no-case-declarations](http://eslint.org/docs/rules/no-case-declarations)
- [no-class-assign](http://eslint.org/docs/rules/no-class-assign)
-

[2016-02-13 09:51] BYK commented on #5233
Hi,

Can you provide the actual code that caused this issue along with any additional ESLint configuration you are using such as another parser etc.?

[2016-02-13 09:52] BYK commented on #5233
lol @eslintbot

[2016-02-13 09:53] WhyEvenTry commented on #5233
@BYK, I'd think the `body.body` is obviously wrong in the eslint code....?

[2016-02-13 09:54] BYK commented on #5233
@WhyEvenTry we don't have "obviously wrong code" since we have tests to cover each rule. Also I have been using this rule without any issues so if you can provide the code that generated the error, it would help enormously.

[2016-02-13 09:59] BYK commented on #5233
Closing this since it looks like it is a duplicate of #5227.

[2016-02-13 09:59] #5233 closed

[2016-02-13 10:00] BYK commented on #5229
Happened to me as well. I'll see if I can pinpoint the reason and fix this.

[2016-02-13 10:11] mysticatea commented on #5232
Oops, `eslint:recommended` has not included `array-callback-return`.

[2016-02-13 10:11] BYK commented on #5206
@ilyavolodin I think the reason is `/*eslint-disable */` requires a matching `/*eslint-enable */` afterwards and doing that only for a single line, just because the line gets too long with the `// eslint-disable-line ` directive is a bit wasteful. At least that's how I feel and why I'd support something like this.

@bionikspoon is that accurate?

[2016-02-13 10:43] BYK commented on #5221
I was thinking about something very similar myself so :+1: to this. Also willing to give a hand with the implementation.

[2016-02-13 10:45] BYK commented on #5221
I'd also like to automate this if possible with user's consent. We can start asking a question in `--init` saying "Would you like to send anonymous usage statistics and crash reports?" and make it a configuration setting too.

[2016-02-13 10:46] BYK commented on #5104
@jmm - Sure, I'd give that a shot. Thanks for the suggestion!

[2016-02-13 11:41] WhyEvenTry opened #5237 "eslint (2.0) erroneously complains about correct spacing"
Test files (renamed to have ending .txt for github to accept them as issue attachment):

[test.js.txt](https://github.com/eslint/eslint/files/129084/test.js.txt)
[.eslintrc.js.txt](https://github.com/eslint/eslint/files/129085/default.eslintrc.js.txt)

The code

[code]

causes warnings/errors of the type

    Expected indentation of 12 space characters but found 8   indent

for the lines containin

[2016-02-13 12:04] BYK commented on #5104
@jmm - Welp, looking at the code again. I think that would be a redundant comment since the type info is also associated with that line. Taking no action for the time being.

[2016-02-13 12:35] BYK commented on #5237
@gyandeeps - looks like a bug to me. What do you think?

@WhyEvenTry - according to your eslintrc file looks like you are using ESLint 2.0.0 but can you provide us the specific version you are using (beta/rc etc. or release?) and Node version you are on?

[2016-02-13 12:37] WhyEvenTry commented on #5237
v2.0.0, node.js 5.6.0

[2016-02-13 12:46] BYK commented on #5237
Hey, thanks for providing the info. I tried adding the following test case to `indent` rule and it passes:

[code]

[2016-02-13 12:48] BYK commented on #5237
@WhyEvenTry - anything jumps out from my isolated test case that is different than your code?

[2016-02-13 13:12] BYK commented on #5183
@nzakas - Is the action item "This rule shouldn't apply for a default export.", thus make the rule skip on default exports?

[2016-02-13 13:19] WhyEvenTry commented on #5237
Yes, you test with `module.exports` - which is exactly the one of the two cases of my submitted test cases that passes.

[2016-02-13 13:23] leftstick opened #5239 "`strict` warning shown unexpected"
I am using `eslint` `2.0.0`

My lint config as following:

[code]

And my code is very simple:
[code]

According to the [strict-safe-doc](http://eslint.org/docs/rules/strict#safe-default),

I think it should be treated as a `commonjs` module, and `global strict` directive is fine.

But i got warning:

[code]

Am i wrong in the configuration? Why should i `use function form of 'use strict'`?

[2016-02-13 13:25] BYK commented on #5237
@WhyEvenTry - lol, I thought the reverse. Anyways, I was able to reproduce this with `const func =`. Looks like it has something to do with `VariableDeclarator` option since setting that to `0` removes the error.

I'll see if I can fix this.

[2016-02-13 13:30] nfroidure opened #5240 "Typo error in consistent-this.md options"
https://github.com/eslint/eslint/blob/master/docs/rules/consistent-this.md#options

[2016-02-13 13:34] Turbo87 opened #5241 "ESLint@2 only working with npm@3?"
It appears to me that ESLint@2 is only working with npm@3 now. Is that correct?

I was trying to run [mocha-eslint](https://github.com/BadgeLabs/mocha-eslint) with ESLint@2 and npm@2, but it complained that it `Cannot find module 'espree' from '/Users/tbn/Code/mocha-eslint/node_modules'`. If I use npm@3 instead it works fine.

I've stepped through the code and it looks like ESLint@2 expects `espre

[2016-02-13 13:39] albertosantini commented on #5240
Thanks for the feedback.

Where is the typo?

[2016-02-13 13:41] albertosantini commented on #5240
I see. Thanks for the PR.

(Next time add `working on it`) :)

[2016-02-13 13:42] nfroidure commented on #5240
@albertosantini ok, thanks for working on eslint, best linter ever ;)

[2016-02-13 13:44] pawelgrzybek opened #5243 "2.0 eslint --init doesn't save the config file"
1. I use version 2.0 (just installed)
2. I typed in my command line 'eslint --init', answered the questions and tried to save as an js of jaml file
3. I expected to save my config file on my current directory.
4. Nothing happened, file didn't save on my directory.

[2016-02-13 14:18] BYK commented on #5241
I had no problem using ESLint@2.0.0 with NPM@2 but I didn't do a clean install. This is with Node v4. It would be great if you can also provide your Node version.

[2016-02-13 14:21] BYK commented on #5241
I've also verified I have `node_modules/eslint/node_modules/espree` and not `node_modules/espree`. Does this help?

[2016-02-13 14:21] guyellis commented on #5234
:+1: I've just run into this in upgrading to ESLint 2.0.0 as well. Just to be sure that I understand what @sindresorhus is asking, this is what I'd like see:

`"quotes": [2, "backtick", "single"]`

i.e. Allow both backticks and singles but not doubles.

This obviously opens up the discussion/ability to allow any permutation of the 3 quote types in JS.

[2016-02-13 14:27] BYK commented on #5239
This looks like a bug to me since the current code only looks at `globalReturn` and doesn't care about `commonjs`:

[code]

This might be an oversight. @nzakas thoughts?

[2016-02-13 14:28] platinumazure commented on #5243
I think this is a known issue that will be fixed in `2.0.1`. @IanVS can you confirm this is a duplicate?

[2016-02-13 14:30] BYK commented on #5234
I think this would be covered with the second "avoid-escape" option if it is not already.

[2016-02-13 14:30] IanVS commented on #5243
Need a little bit more info.  @pawelgrzybek, what answer did you give to the first question it asked?

[2016-02-13 14:31] Turbo87 commented on #5241
@BYK you can try it with https://github.com/Turbo87/mocha-eslint/tree/30b2f3e987cc44fa641969058fa5ab3be6498f6d:

- `nvm use 4` (results in `node v4.2.4 (npm v2.14.12)` for me)
  - `rm -rf node_modules && npm install && npm test` -> fails

- `nvm use 5` (results in `node v5.4.1 (npm v3.3.12)` for me)
  - `rm -rf node_modules && npm install && npm test` -> success

[2016-02-13 14:32] BYK commented on #5234
And it seems like it is not.

[2016-02-13 14:36] BYK commented on #5241
@Turbo87 - I can verify that I hit the same problem when I followed your example. Using Node v4.3.0 and NPM v2.11.0

[2016-02-13 14:37] joshmanders commented on #5205
Awesome news, and great work @thejameskyle!

[2016-02-13 14:38] Turbo87 commented on #5241
good to know, thanks for the fast reply and taking the time to reproduce this!

[2016-02-13 14:52] ilyavolodin commented on #5231
I'm not all that familiar with jsDoc but it does look like this shouldn't be an issue. @gyandeeps should this be parsed as jsDoc at all?

[2016-02-13 14:56] #5229 closed

[2016-02-13 15:00] BYK commented on #5241
Okay, I think I now understand the issue. Since `espree` is the default parser, you shouldn't be setting the `parser` value since ESLint expects the parser to be installed in the project folder, not inside `eslint` folder. Does that make sense?

@nzakas - can you verify me?

[2016-02-13 15:03] #5240 closed

[2016-02-13 15:09] btmills commented on #5239
The `commonjs` environment enables `globalReturn`, but the config file is explicitly overriding that setting. @leftstick does the warning still show if you remove the line that disables `globalReturn`?

[2016-02-13 15:10] Qix- commented on #5234
:+1: yeah this was a bad move. I dont use template strings everywhere - only when they're convenient.

[2016-02-13 15:14] Turbo87 commented on #5241
@BYK removing `"parser": "espree"` from `.eslintrc` indeed seems to solve the problem. Is there a reason for still doing the lookup if the parser is set to `espree`?

[2016-02-13 15:17] ilyavolodin commented on #5241
That's an interesting bug. @Turbo87 we don't make a special case for `espree` it's just a default, so it doesn't have a separate code-path for `espree` and handles it as any other parser.

[2016-02-13 15:18] #5232 closed

[2016-02-13 15:36] mysticatea commented on #5007
Just I'm waiting for new release of `escope`.

[2016-02-13 15:43] nzakas commented on #5241
This is due to the change in how parser path is calculated. When `oarser` is provided, its path is calculated differently in 2.0.0 than in 1.x. We should probably just remove `parser` if it's set to "Espree" so the default case is used.

[2016-02-13 15:45] #5223 closed

[2016-02-13 15:46] Turbo87 commented on #5241
@nzakas that is what I was suggesting, yes. It might prevent people from using different `espree` versions though than the one installed for `eslint`, but I don't think that would be a big issue.

[2016-02-13 15:47] nzakas commented on #5221
Hmmm, not sure I want automatic crash info sent to us. Ideally, a crash happens and we prevent people from opening issues because the error message helps them figure it out.

[2016-02-13 15:50] leftstick commented on #5239
Thanks @BYK @btmills
The warning disappeared while explicitly set `globalReturn` to `true`.

Then i got another warning with following snippet:

[code]

[code]

A very simple `iife`, which should be treated as `Everywhere else, "safe" mode corresponds to "function" mode and enforces strict mode directives inside top-level functions`.

But warning was shown, am i wrong again?

[2016-02-13 15:51] btmills commented on #5239
Are you still using the same config from above?

[2016-02-13 15:52] nzakas commented on #5234
I like @guyellis's suggestion. Anyone want to submit a PR?

[2016-02-13 15:57] WhyEvenTry commented on #5231
Just an aside, I'm not sure that syntax comes from JSDoc - I think it comes from the Google Closure Compiler (there are examples for these inline-types on https://developers.google.com/closure/compiler/docs/js-for-compiler). Anyway, WebStorm makes no distinction, it supports and calls "JSDoc support" everything that is in either the official JSDoc documentation or on the Google Closure Compiler ty

[2016-02-13 15:57] nzakas commented on #5239
As far as I can tell, there's no bug here. In the first instance, you were resetting `globalReturn` to false, which made the rule enforce function strict mode. In the second, the safe setting is now global and you have it in a function.

[2016-02-13 15:58] BYK commented on #5234
@nzakas I'd love to but wouldn't that suggestion collide with the `avoid-escape` option?

[2016-02-13 16:02] nzakas commented on #5234
I don't think so. There's no limit to the number of items in the array. We'd just need to ensure that we don't assume any specific position for each option.

[2016-02-13 16:07] nzakas commented on #5231
It will parse as just a description, not as a type. I'm not sure this is something we can fix because there's no good way for us to tell if something is a one-word description or a type.

[2016-02-13 16:09] WhyEvenTry commented on #5231
I don't understand. It sees that type - and suddenly wants me to document the inline(!) function with a full JSDoc comment. I don't expect or need it to parse as a "type".

[2016-02-13 16:10] nzakas commented on #5060
`overrides` seems like a good way to solve it.

[2016-02-13 16:11] nzakas commented on #5183
Yes

[2016-02-13 16:12] IanVS commented on #5234
I believe the way schemas work is they do assume a position for each option, don't they?  Instead of potential collisions, I would suggest changing the first option from `enum` to `oneOf: [ enum, array ]`.  So, the final config might look like:

[code]

Explicitly placing them in an array is a bit more clear to me in any case, and I think it will avoid problems with schema validation and autoconfi

[2016-02-13 16:12] ilyavolodin commented on #5231
@WhyEvenTry point is, we see jsDoc comment, the rule specifies that we should require `return` for all valid function jsDoc comments. In this case, we have nothing to tell us that this isn't really a valid jsDoc comment and we should just ignore it. Basically we can't differentiate between those two cases:
[code]
and
[code]

[2016-02-13 16:14] nzakas commented on #3484
I'm thinking this is best off as a custom rule for now. I don't see a big need for this in core.

[2016-02-13 16:14] #3484 closed

[2016-02-13 16:14] WhyEvenTry commented on #5231
But your example is not what my code/my example says.

[2016-02-13 16:15] ilyavolodin commented on #5060
So proposed schema will look like this:
[code]
Slightly more verbose then I'd like, but more descriptive, and less confusing, I think.

[2016-02-13 16:16] BYK commented on #5234
I think `avoid-escape` option should cover this. Currently it allows `"Fred's"` but it doesn't allow `` `Fred's` `` with the config `quotes": [2, "single", "avoid-escape"]`

[2016-02-13 16:18] nzakas commented on #5231
@WhyEvenTry these are just examples. What he's saying is that we do not have a way to know if a JSDoc block is meant as an inline type or not. People can put complete JSDoc comments where you have the inline type, and there's no good way for us to know what you intended.

[2016-02-13 16:21] IanVS commented on #5234
We've said previously that backticks should only be allowed if they are providing functionality which is impossible with the chosen quote type.  If you want to avoid escaping a single quote, you can use a double quote, right?

[2016-02-13 16:21] WhyEvenTry commented on #5231
If you can see that a function is *inline* you can prevent the "return required" rule - which makes no sense in any setup in that situation? I have yet to see anyone trying to fully document - with @param and @return(s) - an inline function. That's not in any example for either JSDoc or Google Closure Compiler either. Inline you just document types.

If you think keeping the mechanism to require @

[2016-02-13 16:22] nzakas commented on #5234
@IanVS I don't think embedding another array makes sense as an end user. We have other rules that have multiple items, I'm not sure why this one would be a problem.

@byk I don't think that's correct. `avoid-escape ` lets you switch quote marks only if you'd have to escape the preferred quote Mark, which is not the issue here.

[2016-02-13 16:29] evilebottnawi opened #5245 "2.0 eslint rule newline-per-chained-call bug with array access"
[code]
Output:
[code]

But:
[code]
Work fine.

[2016-02-13 16:33] mdhooge commented on #5243
Same problem here with version v2.0.0: It just stops after the last question, with no errors (even with --debug flag).
I tried both answering questions & using popular guide, with output in the 3 formats.

[2016-02-13 16:40] IanVS commented on #5243
@mdhooge, what you are experiencing when answering questions is https://github.com/eslint/eslint/issues/5220, which has been fixed and will go out in a patch release after the weekend.  I suspect it is also what @pawelgrzybek is reporting.

If you're seeing this when choosing second option (choosing a popular guide), then that is a new issue.  I'll try to look into it later, but I'm in the middle

[2016-02-13 16:47] albertosantini commented on #5245
just an idea to reproduce the issue:

[code]

[2016-02-13 16:59] albertosantini commented on #5245
Be aware, using `ignoreChainWithDepth` (default equals to 2):
http://eslint.org/docs/rules/newline-per-chained-call

[code]

[2016-02-13 17:02] evilebottnawi commented on #5245
@albertosantini i think it is bug, array access should not considered in chain.

[2016-02-13 17:03] mdhooge commented on #5243
I upgraded to commits #980e139 & #098ecad (at least, I do think I did according to the gitHead value of the package.json created by npm…).
With the same empty result when using the standard popular style with JSON output.

[2016-02-13 17:06] vdemedes commented on #5234
Agree with @sindresorhus, this change brings unexpected behavior. Would be great to keep the old one.

[2016-02-13 17:06] mdhooge commented on #5243
That's ok for me if you look into it later, it isn't a blocking bug :)

[2016-02-13 17:17] evilebottnawi opened #5246 "eslint 2.0 newline-after-var bug with brackets"
[code]
Output:
[code]

Rule `newline-after-var` must be ignored brackets.
[code]
Also with bugs.

[2016-02-13 17:18] ilyavolodin commented on #5245
Sounds like bug, I agree that array access shouldn't be part of the check here.

[2016-02-13 17:21] ilyavolodin commented on #5246
This rule enforces new line after variable declaration. As far as I can tell, it's doing the right thing here. Are you proposing an enhancement to the existing rule? Could you also answer bot's questions please?

[2016-02-13 17:25] evilebottnawi commented on #5246
@ilyavolodin
1. 2.0.0
2.
[code]
[code]
3.
[code]
4. Ignore brackets.

[2016-02-13 17:27] #5237 closed

[2016-02-13 17:28] WhyEvenTry commented on #5237
You guys are fast!

[2016-02-13 17:29] kaicataldo commented on #5241
I can make a PR for this, if you'd like. Is the default parser set in a config file somewhere that we can check against, or should we be checking if `parser === 'espree'` manually?

[2016-02-13 17:53] Qix- commented on #5234
Depends on the user I suppose.

[code]

is super clean, but doesn't make sense on the technical (schema) level.

[code]

makes sense on the technical level, and to technical people, but not to those who prefer aesthetics to code.

Are there any other rules that have embedded arrays/multiple choices? Or is this the first?

[2016-02-13 17:53] Qix- commented on #5205
@thejameskyle that's exciting. Agreed on all points.

[2016-02-13 17:58] platinumazure commented on #5241
I'm not sure I agree with ignoring the `espree` parser specified manually. It could be that someone has monkey-patched it and needs custom behavior (or has pinned it as a dependency).

I think it would be much better to generate a warning when the parser couldn't be found, and if the parser is espree, we could note that the configuration setting should be removed unless the user is trying to use a

[2016-02-13 18:44] kaicataldo commented on #5241
Totally aware more discussion might be needed, but thought I'd take a stab at fixing this :)

[2016-02-13 19:30] kaicataldo commented on #5009
Finally have a little time to look at this this weekend.

Looked at the original issue, and it doesn't look like single line return statements are covered. I generally like to format early returns like so:
[code]
Thoughts on including an option that allows for this use case?

[2016-02-13 20:07] SpadeAceman commented on #5234
Since [backticks aren't purely equivalent to single or double quotes](https://hacks.mozilla.org/2015/05/es6-in-depth-template-strings-2/), ideally another option is needed beyond `avoid-escape`, to ensure that the appropriate quote type is employed for the functionality being used (e.g., single quotes for regular strings, backticks for template literals/multi-line strings). `prefer-template` doesn

[2016-02-13 21:09] btmills commented on #5246
I'm in favor of add an exception to `newline-after-var` to ignore brackets. Without the exception, we have a conflict with `padded-blocks`:

[code]

[code]

[2016-02-13 21:14] btmills commented on #5234
We can ignore the schema here - figure out what the right options are, and then we (I volunteer if necessary :hand:) can figure out a schema to make it work.

[2016-02-13 21:20] btmills commented on #5009
@kaicataldo I don't think you have to worry about that at all. As I understand it, this rule would allow `return` statements that are the only child of a block, so we wouldn't even need a separate option for the single-line style. Permitting that early return style would be up to the `brace-style` rule's `allowSingleLine` option.

[2016-02-13 21:32] ljharb opened #5249 "2.0 question re ecmaVersion + feature flags"
I have polyfills that require ecmaVersion 3, but in some of the code branches, use ES6 features. For example, https://github.com/es-shims/RegExp.prototype.flags/blob/master/.eslintrc#L6-L9.

http://eslint.org/docs/user-guide/migrating-to-2.0.0 implies that I can not use ecmaVersion 3, and also the regex U and Y flags. Is this correct?

If so, what is my recourse for using eslint v2 with this packa

[2016-02-13 21:34] kaicataldo commented on #5009
@btmills Ah, that makes sense. Thanks!

[2016-02-13 21:36] mrbinky3000 commented on #3782
@BYK.  You are correct, I just discovered that eslint was installed globally, but not locally, so the reason it couldn't find eslint-plugin-react was because the global version of eslint couldn't fine the locally installed version, which is correct behavior.

[2016-02-13 21:58] ljharb opened #5250 "2.0 no-new-symbol rule redundant?"
I'm confused why `no-new-symbol` is a rule when http://eslint.org/docs/rules/no-new-wrappers should already be covering `Symbol`?

[2016-02-13 22:42] btmills commented on #5249
@ljharb can you provide some examples of code you're trying to parse? I read that as you're writing ES3-compatible code but using ES6 syntax, which doesn't make sense.

[2016-02-13 23:25] ljharb commented on #5249
@btmills https://github.com/es-shims/RegExp.prototype.flags/blob/master/test/index.js#L29-L33 for example - it makes perfect sense in any code that is doing feature detection, which this particular polyfill is.

[2016-02-13 23:32] btmills commented on #5249
It looks like the example there would be a runtime exception since you're using the constructor and not the equivalent literals. Since it's just function calls, it parses fine in ES3 mode - you only need the parser options if you're using literals.

[2016-02-13 23:59] ljharb commented on #5249
@btmills sorry I wasn't clear before - eslint v2 is currently warning on these lines
[code]

However, eslint v1 did not, because I have the feature flags enabled [here](https://github.com/es-shims/RegExp.prototype.flags/blob/master/.eslintrc#L6-L9)

[2016-02-14 00:35] bionikspoon commented on #5206
@BYK @ilyavolodin Yes!  The idea is to reduce visual noise from your code.  Instructions for your build tools should be relegated to the background.

Long lines can be noisy, and especially noisy when the content is ancillary.  I tried to illustrate this.    If you use text wrapping in your editor, it's even noisier as it effectively takes another line.  As @BYK says, wrapping your code in an open

[2016-02-14 00:44] platinumazure commented on #5206
For what it's worth, I would support this too.

[2016-02-14 01:16] alberto commented on #5246
Agreed.

[2016-02-14 01:27] erikdesjardins opened #5251 "`prefer-const` reports variables initialized in another function scope"
ESLint 2.0.0, npm 3.3.6, node 5.0.0.

Config:

[code]

Code:

[code]

ESLint reports:

`1:5  error  'foo' is never modified, use 'const' instead  prefer-const`

But `foo` couldn't be `const` because `baz` isn't known immediately.

IIRC this worked correctly (i.e. didn't report) in ESLint 1.10.3.

[2016-02-14 01:39] ilyavolodin commented on #5206
We already have 3 different ways to turn off rules in the comments. I'm not sure we want fourth way. @eslint/eslint-team what do you think?

[2016-02-14 01:42] ilyavolodin commented on #5251
Hmm.. That does look like a bug, since you could do:
[code]
@mysticatea could you confirm for me that this is an oversight?

[2016-02-14 01:45] michaelficarra commented on #5183
:unamused: unnamed default exports

[2016-02-14 01:51] leftstick commented on #5239
Hi @btmills, i am still using the above config except `globalReturn` was enabled, as following:

[code]

Let me describe my issue a bit. I have two flavors coding style in my project:

1. written in `commonjs` module
2. legacy code, written in `iife`

When i saw the [strict-safe-doc](http://eslint.org/docs/rules/strict#safe-default), i thought this mode might provide me some "smart" way to determi

[2016-02-14 02:04] michaelficarra commented on #5234
The `avoid-escape` option is not sufficient here. With config `"quotes": [2, "single", "avoid-escape"]`, I still want to be warned if I use an untagged single-line template with no interpolation. I am expecting the `avoid-escape` option here to allow me to use double quotes, not to allow the use of untagged single-line templates with no interpolation. It seems the rule requested by #3090 really sh

[2016-02-14 02:05] michaelficarra commented on #5250
I may want to allow `new Boolean`, but `new Symbol` is an error, plain and simple. They deserve to be separate.

[2016-02-14 02:15] btmills commented on #5249
Ah, now I see what's going on. In the future, please be sure to include all of the [requested information](https://github.com/eslint/eslint/issues/5249#issuecomment-183766964).

I'd recommend disabling the rule, either globally in your config or using inline comments. Since you have a shim, you've essentially supplanted the built-in `RegExp` constructor with something different, and `no-invalid-re

[2016-02-14 02:51] cxreg opened #5253 "2.0 allow alternate moduleDirectory"
In lib/config/config-file.js, the module "resolve" is used to load dependencies.  It allows for an alternate module directory to be specified using  the moduleDirectory option.  In my case, it fails to find the espree module without it, since I'm using separate packaging to deploy my node_modules from my application:

Error: Cannot find module 'espree' from '/path/to/eslint/conf'

It would be nice

[2016-02-14 05:42] mysticatea commented on #5251
In this case, the `foo` variable is not never used outside of the `bar` function. So `prefer-const` considers the variable can be moved to the function.
The following patterns are not warned.

[code]

[code]

[code]

[2016-02-14 05:46] ljharb commented on #5250
That seems like it'd be an option to `no-new-wrappers` - the name of which means "the entire rule is to forbid using `new` with primitives' wrapper constructors".

While I'm not sure why anyone would want to allow `new Boolean` rather than `Object(true)` or similar, it doesn't make any sense to me to make an entirely separate rule for what "no new wrappers" clearly should subsume.

[2016-02-14 05:48] ljharb commented on #5249
I provided it initially by linking to the project in question, I apologize if it wasn't explicit enough.

I think this is a flaw in the assumptions made here - that the ecma features used are tightly coupled to the base ecma version set in the parserOptions. In v1, it was both possible *and* used to use a base ecma version that was lower than some of the ecma features required. In v2, it seems tha

[2016-02-14 06:04] erikdesjardins commented on #5251
Huh, you're right.

I was seeing this in quite a few places in our code, but when I look closer it seems that, for every single occurrence, the var *could* be moved inside the function.

Sorry about that!

[2016-02-14 06:04] #5251 closed

[2016-02-14 06:23] mysticatea commented on #5251
Hm, this behavior may be good to split out to something like new `prefer-small-scope` rule. I noticed this rule is doing two things, "detecting it's never modified" and "detecting it can be moved".

[2016-02-14 06:34] WhyEvenTry commented on #5231
I experimented and slept over it a bit more. I have `require-jsdoc` turned OFF - so any errors are only due to rule `valid-jsdoc`.

Two observations:

1) A simple type-only JSDoc coment *is* valid JSDoc.

2) I have in my `valid-jsdoc` rule

    "requireReturn": false,

yet I get errors like

    166:7   error  Missing JSDoc @returns for function                      valid-jsdoc

So as I see it, th

[2016-02-14 06:39] mysticatea commented on #5250
Yeah, I had considered about adding `new Symbol` to `no-new-wrappers`. But I thought `Symbol` is not a wrapper because the wrapper object of symbols doesn't exist, so I made a new rule.

[2016-02-14 06:41] ljharb commented on #5250
@mysticatea absolutely it exists. `Object(Symbol())` is a wrapped Symbol object.

[2016-02-14 06:43] mysticatea commented on #5250
Is `foo instanceof Symbol` true?

[2016-02-14 06:47] sudaraka opened #5255 "Unable to extend modules from global node_modules"
`extends: '@scope/myrules'` was not attempting to load
`@scope/eslint-config-myrules` module that installed/linked in the global
`node_modules`.

ESLint version 2.0

Issue started around v2.0.0-beta.3

P.S. I'm working on a fix.

[2016-02-14 06:51] ljharb commented on #5250
@mysticatea `Object(Symbol()) instanceof Symbol` is absolutely true. It is an axiom that will never be violated that `Object(primitive) instanceof PrimitiveWrapper` will always be true, even when `new PrimitiveWrapper()` throws.

[2016-02-14 06:53] mysticatea commented on #5250
On I had not known it. Hmm.

[2016-02-14 07:16] pawelgrzybek commented on #5243
Hay @IanVS These are my answers:

? How would you like to configure ESLint? **Answer questions about your style**
? Are you using ECMAScript 6 features? **Yes**
? Are you using ES6 modules? **Yes**
? Where will your code run? **Node, Browser**
? Do you use CommonJS? **Yes**
? Do you use JSX? **Yes**
? Do you use React **Yes**
? What style of indentation do you use? **Spaces**
? What quotes do you

[2016-02-14 07:58] albertosantini commented on #5253
Hope this helps:
https://github.com/eslint/eslint/issues/5241

[2016-02-14 08:00] albertosantini commented on #5255
Did you read this issue https://github.com/eslint/eslint/issues/5160?

[2016-02-14 08:30] sudaraka commented on #5255
@albertosantini yes I saw that issue, but if I'm not mistaken your issue is with globally installed eslint and config, correct?, and has your issue been solved in the released v2?

In my case I have eslint installed in my project `/home/me/work/myproject/node_modules` and my base config is in `/home/me/opt/npm/lib/node_modules`. And in this setup it still fails to find the config module.

I had si

[2016-02-14 08:58] albertosantini commented on #5255
Correct. I suggested that reading only to give a minimal of context.

Your use case, if I understood correctly, is the following one:
- eslint tool installed in the project
- eslint config installed in the project
- eslint config extension installed globally (so called shareable config)

Really I don't know if it is intentional not to mix the installations, local eslint tool and global shareable c

[2016-02-14 09:19] sudaraka commented on #5255
@albertosantini your are correct about my setup.

What I have in global is the base rules for all my projects and keep adjusting it from time to time. Therefore I need that module to be global so changing one place applies to all projects without publishing and updating each time.

I understand my setup can be an edge case, I will submit the PR anyway as it doesn't disrupt anything (hopefully).

[2016-02-14 09:55] gilligan commented on #5219
Wow, quite some responses here. Thanks for your interest. I clearly was not as well prepared as I had thought.

@ilyavolodin I think in the end both are about keeping functions small and adhering to the single responsibility principle and readability.

[code]

Sure enough the bindings `v1`..`vn` are all local to the function scope of `f` but the human brain is pretty bad at juggling around more th

[2016-02-14 10:56] nMustaki commented on #5205
Hi,
what about having the bot sending a nice email directly to the bug reporter, asking him to respond the bot with a provided template ? It would then be posted to Github.
It won't be a silver-bullet, but it may be coded quickly and hopefully reduce at least a bit the unactionnable issues.

[2016-02-14 11:20] WhyEvenTry commented on #5231
Regarding the reporting of `Missing JSDoc @returns for function` despite having the rule option `"requireReturn": false`, is the if statement in line 280 (https://github.com/eslint/eslint/blob/master/lib/rules/valid-jsdoc.js#L280) correct, should that be && instead of ||?

                if (requireReturn || functionData.returnPresent) {
                    context.report(jsdocNode, "Missing JSDo

[2016-02-14 12:00] WhyEvenTry opened #5260 "TypeError: Cannot read property 'name' of undefined"
**What version are you using?**
eslint 2.0.0 (for node.js 5.6 code using ES 2015)

**What did you do?**
Create a test file with this code:

[code]

The eslintrc is the same as the one I attached to this issue: https://github.com/eslint/eslint/issues/5237 (linked in the first comment)

**What happened?**

The JSDoc syntax `@returns {Promise.<type1|type2>}` causes an error:

[code]

I checked the fi

[2016-02-14 12:08] ta2edchimp opened #5261 "2.0 env es6: imperfect detection of calling super"
Correct callings of `super()` in a constructor are not correctly detected.
Affects rules:

* `constructor-super`
* `no-this-before-super``

**What version are you using?**

[code]

**What did you do?**

I created a class, extending from another class. Within the constructor, called `super()` and accessed properties via `this`. So far no problems.
When creating new blocks (for example, using a `for

[2016-02-14 12:10] SpadeAceman commented on #5040
From the comments here, there's some interest in exploring the idea of splitting out rules from core. I propose a single, separate ESLint Rules repo.

Right now, when going through the open issues here for ESLint, it's a mix of:

* bugs & issues with ESLint core, alongside
* a large number of new rule requests and bug reports for existing rules.

I believe that splitting out rules from the core wo

[2016-02-14 12:36] SpadeAceman commented on #5250
The point made by @michaelficarra remains valid – `new Symbol` [throws](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol), which means `no-new-symbol` covers a true coding error. Whereas `no-new-wrapper` attempts to flag a likely error of *intent*, which otherwise won't throw when executed. Both rules make sense to have separately. (`Object(PrimitiveWrapper()

[2016-02-14 13:17] sindresorhus commented on #5255
You should not be using `NODE_PATH`... It's a big anti-pattern.

From the Node.js [docs](https://nodejs.org/api/modules.html#modules_loading_from_the_global_folders) about it:

Just add the config as a local dependency.

That's not how Node.js or npm works anymore. Stop trying to work around it and force your tools to do the same. Use `npm link`, git dependency, a tool, https://docs.npmjs.com/file

[2016-02-14 13:59] codvio opened #5263 "wrong error for keyspacing"
Test case:

[code]

error:
[code]

[2016-02-14 14:53] ilyavolodin commented on #5243
@pawelgrzybek Thanks for the details. This is a duplicate of #5220 and has already been fixed. The fix will be released with the next patch version. Closing as fixed.

[2016-02-14 15:01] ilyavolodin commented on #5255
@sudaraka Currently if eslint is installed locally, all of the configs/plugins should also be installed locally, including the ones you are extending from. If you, for some reason want to extend globally installed config, you will need to provide full path when extending. This is working as designed.
We will be taking a look at the whole global vs. local installation in v3.0.0 timeframe as it's be

[2016-02-14 15:03] ilyavolodin commented on #5219
@gilligan Thanks for the answer!
@eslint/eslint-team Anyone wants to champion a rule like this?

[2016-02-14 15:06] msolovyov commented on #5243
I have eslint from the latest commit f3ee22d60c52d8d9437812f971ef3aa441910d1c, I get a .eslintrc file generated when I do the answer questions init, but when I do the use popular style I get nothing.

[2016-02-14 15:08] platinumazure commented on #5219
Not in the core team, but I'm wondering if this isn't perhaps covered by `max-statements`. I'd like to hear from @gilligan on what this new rule would buy us that `max-statements` could not.

[2016-02-14 15:10] ilyavolodin commented on #5231
@WhyEvenTry `requireReturn` is poorly named options. I ran into the same issue recently as well, and it should be named something like `requireReturnOnlyIfNecessary`, as in, `requireReturn:true` will always require return, but `false` will only require it if the function has a return statement (in your case, you are using arrow functions, which have implicit return).
We also use a different parser

[2016-02-14 15:14] ilyavolodin commented on #5260
Thanks for a nice bug report. @mysticatea @nzakas Could you take a look at this? I think rule shouldn't error out, even if the format is slightly incorrect (and I don't know if it is or not).

[2016-02-14 15:16] ilyavolodin commented on #5261
Thanks for the report. @mysticatea could you take a look? Sounds like a bug to me. (I know I keep mentioning you on all of those issues, but that's what you get for creating all of those fancy rules:-)

[2016-02-14 15:22] ilyavolodin commented on #5243
@msolovyov Thanks! Reopening the issue. Looks like popular style is still causing problems.

[2016-02-14 15:51] TrySound opened #5265 "Upgrade inquirer"
Lodash was updated. Dep tree will be 1mb less.

[2016-02-14 16:01] lo1tuma commented on #5219
@platinumazure e.g. `var foo, bar, baz;` would be counted as one statement, but it creates 3 bindings.

[2016-02-14 16:05] sudaraka commented on #5255
Ok, thanks everyone for the information.

For now I'm settling for symlinking global node_modules to `$HOME/node_modules`. Hopefully we'll get a better solution in the future.

[2016-02-14 16:05] #5255 closed

[2016-02-14 16:26] nzakas commented on #5250
`Object`, `Number`, and `Boolean` are wrappers and return an object when used with `new`. `Symbol` is not a wrapper object and throws an error if used with `new`. So the former is valid but not preferred syntax while the latter is invalid. Two different considerations, so two different rules.

[2016-02-14 16:26] #5250 closed

[2016-02-14 16:34] nzakas commented on #5241
@platinumazure that situation doesn't apply. In 1.x, you could not load anything other than the bundled Espree. This change would ensure the 1.x behavior without errors.

[2016-02-14 16:46] nzakas commented on #5239
Please see https://github.com/eslint/eslint/issues/3306 for background

[2016-02-14 16:46] #5239 closed

[2016-02-14 18:13] mysticatea commented on #5261
Thank you for this issue.

I confirmed this, I will fix.
I'm sorry for a number of my bugs! :astonished:

[2016-02-14 18:21] btmills commented on #5263
This is a duplicate of #2668, which is accepted and just needs someone to implement it. @codvio want to send a PR?

[2016-02-14 18:21] #5263 closed

[2016-02-14 18:29] btmills commented on #5243
[code]

[2016-02-14 18:36] btmills commented on #5243
@msolovyov does the `package.json` in your directory already have a `devDependencies` section, or do you not have any `devDependencies` yet?

[2016-02-14 18:41] btmills commented on #5243
I've found at least one bug: If `package.json` exists, but it does not specify both `devDependencies` and `dependencies`, then the `check()` method in `npm-util` will fail. Hopefully it's the same issue @msolovyov is seeing.

Working on a fix.

[2016-02-14 18:47] platinumazure commented on #5219
I understand that. My question is, are we sure the variable declarations
represent the cognitive load, or would the statements that initialize and
use the variables represent the true cognitive load?
On Feb 14, 2016 10:01 AM, "Mathias Schreck" <notifications@github.com>
wrote:

[2016-02-14 18:52] msolovyov commented on #5243
I don't have a package json in my project directory.
On Feb 14, 2016 10:41 AM, "Brandon Mills" <notifications@github.com> wrote:

[2016-02-14 18:55] btmills commented on #5243
:+1: Got it. I'm able to reproduce that. I'm submitting a PR to fix the issue I found earlier, then I'll see if I can track down what's causing that.

[2016-02-14 19:00] platinumazure opened #5268 "Augment eslintbot to annotate PRs with why Travis or AppVeyor failed?"
We could probably save some time on reviewing pull requests if we could get a label or comment after Travis or AppVeyor completes, with information about what went wrong. For example, failed unit tests, commit message problems (including needing an issue), lint errors.

I don't know if this sort of thing is remotely feasible. Thoughts?

[2016-02-14 19:02] ilyavolodin commented on #5268
That would be pretty nice. I'm not sure it's possible right now, since that means bot has to have access to Travis/AppVeyor. I think Travis does expose an API, but I'm not sure about AppVeyor at all.

[2016-02-14 19:14] btmills commented on #5243
npm-util line 73 is throwing an error (intentionally) saying it can't find the package.json file. Inquirer is suppressing it, and init fails silently. @IanVS what's the intended behavior if no package.json is found?

[2016-02-14 19:16] ilyavolodin commented on #5243
@btmills I think it should create one, since we can't install shareable configs without it.

[2016-02-14 19:25] IanVS commented on #5243
Hm, setting up a `package.json` seems a little out of scope for this.  I would suggest exiting with a message that sharable configs require an npm project to be initialized.  I can work on this, @btmills, if you would like.

[2016-02-14 19:26] btmills commented on #5243
Sure, go ahead and take that one.

[2016-02-14 19:33] #5265 closed

[2016-02-14 19:46] cxreg commented on #5253
This was caused by substack's resolve module being incompatible with my environment.  While I would like it to be more configurable, I was able to work around it with a symlink.  Since this is no longer affecting me and I have a non-standard setup, I won't bother requesting the fix

[2016-02-14 19:46] #5253 closed

[2016-02-14 20:08] emmettnicholas opened #5269 "Add option for consistent-return to support methods which throw"
My code base makes use of this pattern:

[code]

This understandably violates the "consistent-return" rules since ESLint doesn't know that `throwError` throws.

Locally I forked consistent-return to accept a "throwPattern" option, e.g.:

     "consistent-return": [2, {"throwPattern": "^throwError"}],

I'm curious to know whether this is worth polishing and submitting a PR for.

[2016-02-14 20:45] platinumazure commented on #5269
Just out of curiosity, what if you returned an error from that function and explicitly threw?

Something like:

[code]

[2016-02-14 20:47] platinumazure commented on #5268
What if we handled it similarly to coveralls? I think in that case we have the script post to coveralls (abstracted by a node module), no? If we augmented the build script to support posting to a web hook, maybe that could then post a comment or label on the PR?

[2016-02-14 20:52] emmettnicholas commented on #5269
That would work. In fact refactoring the code, instead of augmenting ESLint, may be the superior option now that I think about it more.

[2016-02-14 22:33] alberto commented on #3092
I'm not sure keeping this in the same rule is a good idea anymore, given:
- https://github.com/eslint/eslint/issues/5056 and https://github.com/eslint/eslint/issues/5092 would add additional parameters, making the configuration quite complex, and this rule would make the options `always` and `never` even more confusing.
- There are some optional exceptions in the original jscs rule (http://jscs.in

[2016-02-14 23:09] #5246 closed

[2016-02-15 00:33] demrks opened #5270 "Inner grouping parens"
1) I think there should be a rule to disallow spaces inside of **inner** grouping parentheses:

[code]

The rule `space-in-parens` is only for the _"outer"_ parentheses, but there is currently no rule to enforce or disallow spaces for _inner grouping_ ones. Probably something like `space-in-inner-parens` or a new exception?

2) There should probably also be a new exception for `space-in-parens` to

[2016-02-15 00:46] alberto commented on #5270
There is an `exceptions` option that deals with some of the exceptions shown `idiomatic.js`, but not all. This one is not covered.

[2016-02-15 00:49] alberto commented on #5270
For reference, here are the exceptions in `idiomatic.js` (pasting since I can't directly link to the section):

[code]

[2016-02-15 00:53] demrks commented on #5270
Most of them are already covered though, except the _inner grouping parens_ and the _functions with callbacks_.

[2016-02-15 01:03] emmettnicholas commented on #5269
After thinking about it some more, the code in my original post feels like an anti-pattern; I'm going to close this.

[2016-02-15 01:03] #5269 closed

[2016-02-15 03:03] btmills commented on #5249
@eslint/eslint-team What do you think of adding an option to `no-invalid-regex` to make it "shim-aware"? Such an option would tell the rule "I have a custom `RegExp` implementation that supports features x, y, and z." (Or in this case `u` and `y` probably.)

[2016-02-15 03:07] btmills commented on #2640
I think this can be closed here now that eslint uses eslint-release. Does it need to be migrated to the eslint/eslint-release issue tracker?

[2016-02-15 03:09] mysticatea commented on #5249
In my opinion, it's good to support the case: "I use polyfills but don't use transpilers."
I think it's one of popular options.

[2016-02-15 03:14] ilyavolodin commented on #2640
Agree. Up to @nzakas if he want's a new issue in `eslint-release` for this. I think it would be nice to automate this step.

[2016-02-15 03:14] #2640 closed

[2016-02-15 03:15] ilyavolodin commented on #5249
Problem I see with supporting polyfills is we will have to modify more rules then just this one. And it will be hard to configure them all properly.

[2016-02-15 03:18] btmills commented on #5249
That's my concern exactly. I think this would be a great case for a plugin containing a bunch of rules for shim-/polyfill-able cases.

[2016-02-15 03:27] IanVS commented on #5243
Nearly done...

[2016-02-15 03:43] ljharb commented on #5249
I think this was just an uninformed decision (to tie ecmaFeatures to the ecmaVersion). Rules which deal with syntax - which are unpolyfillable - absolutely make sense to tie to the ecmaVersion. However, any rules which do not, like the RegExp constructor, should not be.

[2016-02-15 04:56] SimonSchick commented on #5187
Sorry, I wrote this in a hurry.

What I want to request is something like this:

`/*eslint new-cap: [2, {"capIsNewExceptions": ["someLibraryWithUppercaseFunctions.*"]}]*/`

So you don't have to whitelist all function separately.

[2016-02-15 05:56] thedark1337 commented on #5187
I also run into this issue whilst using Sequelize with the rule.

In my .eslintrc.json I have to list specifically the items I want to whitelist. Such as

[code]

I think it would be much better if wildcard support was added so it could turn into something like:

[code]

[2016-02-15 06:11] thedark1337 commented on #5245
Personally , I want to ask if its possible to have an option to chain function calls only and not object access as well?

 I really don't mind the newline-per-chained-call for those but it seems sometimes it gives me a false positive when it shouldn't. Such as what is reported here (Array access) and some weird ones such as `options.level` and `Object.keys(options.meta)`

Example:

[code]

[code]

[2016-02-15 08:03] btmills opened #5272 "yield-star-spacing documentation references ecmaFeatures.generators"
https://github.com/eslint/eslint/blame/master/docs/rules/yield-star-spacing.md#L78

Now that this flag doesn't exist in 2.0, it should be changed to suggest `ecmaVersion: 6` or the `es6` environment.

[2016-02-15 08:23] holymonson opened #5273 "Rule no-unused-vars: destructuring assignment in function args"
Example:
[code]

This code is valid in ES6, but `argA` is treated as `no-unused-vars`. Could it be handled like `args: "after-used"` to leave those before-used argument not be checked?

[2016-02-15 08:46] mysticatea commented on #5273
Thank you for this issue.

I guess this is the same as #4620.
You can omit unused elements in an array pattern:

[code]

[2016-02-15 09:11] lukeapage opened #5274 "New Rule Proposal: enforce template strings don't contain complex expressions"
Fail:
[code]
Pass:
[code]

Reasoning - maybe not shown in this simple example, but a complex expression in the template is difficult to read. By abstracting to a variable, the template string is easier to read and you have named the result of the expression.

[2016-02-15 09:28] BYK commented on #5245
@thedark1337 - Agree with an option to ignore members that are not called but I think that should be a separate issue as an enhancement proposal.

[2016-02-15 09:39] holymonson commented on #5273
Thanks @mysticatea , omitting unused params works well. And as @nzakas in #4620 said, it could not count as a bug. I will close this issue and feel free to reopen if needed.

[2016-02-15 09:39] #5273 closed

[2016-02-15 09:52] BYK commented on #5249
My thoughts exactly.

I see where you are coming from that said AFAIK ECMAScript versions come with both built-in API specs (like what `RegExp` supports and what it doesn't etc.) in addition to syntax rules. @nzakas, @michaelficarra can you confirm me?

[2016-02-15 09:53] BYK commented on #5268
:+1: - I think for commit messages we can move the commit message check to the bot itself.

[2016-02-15 10:05] mysticatea opened #5277 "`newline-after-var` rule seems to throw a TypeError."
When I run `npm run perf` on master branch.

[code]

[2016-02-15 10:06] BYK commented on #5219
I think a rule like this would be useful and I think (re @platinumazure) the bindings are just another metric of complexity in addition to number of statements.

I'm willing to give a hand to move the rule forward (either via code or supporting @gilligan if he's willing to create a PR).

[2016-02-15 10:18] BYK commented on #5277
Can't repro.

[2016-02-15 10:19] BYK commented on #5277
To be precise, can't repro with the following:

- Windows 10
- Node v4.3.0
- NPM 2.11.0
- ESLint `41be483115ef7ca439f2a366d5fffd8349fbcec6`

[2016-02-15 10:20] mysticatea commented on #5277
`npm run perf` is running with `{silent: true}`.
Could you rewrite it as `{silent: false}` then run it?

[2016-02-15 10:24] BYK commented on #5277
Alright, that did it (changed the value at https://github.com/eslint/eslint/blob/master/Makefile.js#L977).

This means we should also check the return code from perf runs.

[2016-02-15 10:34] mysticatea opened #5279 "`npm run perf` command should check the exit code."
From #5277.

Currently `npm run perf` is ignoring error silently.
Should check the exit code.

(The following result is failed. The result of single file and multi files are the same time....)

[code]

[2016-02-15 10:52] BYK commented on #5279
I'd say this is a bug, not an enhancement. @eslint/eslint-team  - what do you think?

[2016-02-15 10:54] mysticatea commented on #5279
You are right :)
Thank you very much!

[2016-02-15 12:16] sodatea opened #5282 "Docs: `keyword-spacing` default options are wrong"
Currently in the doc:
[code]

However, `{"before": true, "after": true, "overrides": null}` is not valid according to [the rule's schema](https://github.com/eslint/eslint/blob/master/lib/rules/keyword-spacing.js#L496).

The correct options are
[code]

[2016-02-15 12:23] BYK commented on #5282
Thanks! Would you like to submit a PR to fix it? :)

[2016-02-15 12:24] WhyEvenTry opened #5283 ""prefer-const" should not complain when I (have to) declare a variable in an outer scope but the only assignment is inner scope"
**EDIT:** See comments below and #5251 - ticket changed to

"Please amend the error message to include that the variable is not used anywhere else and can be moved inside the function"

Or as @mysticatea says under #5251 :

<br>

-----

<br>

**What version are you using?**
eslint 2.0.0 (for node.js 5.6 code using ES 2015)

**What did you do?**
Create a test file with the code below. The point is

[2016-02-15 12:26] BYK commented on #5283
Looks like a potential bug to me. @eslint/eslint-team ?

[2016-02-15 12:26] mysticatea commented on #5283
Thank you for this issue.

I guess this is the same as #5251.

[2016-02-15 12:26] WhyEvenTry commented on #5283
Yes indeed.

[2016-02-15 12:28] WhyEvenTry commented on #5283
I reopened because #5251 was closed, but it's valid.

[2016-02-15 12:33] WhyEvenTry commented on #5283
Actually - everything already said in #5251 is correct, but in this case I would like to change the ticket to instead say something like

"Please amend the error message to include that the variable is not used anywhere else and can be moved inside the function"

Otherwise I expect more people will look at it as an error.

[2016-02-15 12:36] BYK commented on #5283
I think the rule should simply check for any nested contexts or not warn here. Also I support @mysticatea's suggestion in https://github.com/eslint/eslint/issues/5251#issuecomment-183829644 for a "prefer smaller scope" rule.

[2016-02-15 12:50] mysticatea opened #5284 "Rule Proposal: `prefer-smaller-scope`"
Currently `prefer-const` has two behaviors.
1. detecting it's never modified.
2. detecting it can be moved to a smaller scope.

This seems to be confusing people (e.g. #5283, #5251) (I'm sorry...).
So this proposal is separating the 2nd behavior to new rule: `prefer-smaller-scope`.

`prefer-small-scope` is aimed at eliminating variables in too wide scope.
This rule warns variables which can move t

[2016-02-15 12:51] mysticatea commented on #5283
I opened the issue: #5284

[2016-02-15 12:53] WhyEvenTry commented on #5283
I don't think my issue is needed any more, so I'll close it (again).

[2016-02-15 12:53] #5283 closed

[2016-02-15 12:56] mysticatea commented on #5283
@WhyEvenTry I'm sorry to take your time.

[2016-02-15 13:43] WhyEvenTry commented on #5283
@mysticatea I don't understand, misunderstanding? I just think my ticket is obsolete now that there is one describing the actual issue much better.

[2016-02-15 13:46] Chrisui opened #5285 "Rule proposal: no-this"
**When does this rule warn? Please describe and show example code:**

This rule would prevent specific usage of `this`. It is currently specifically  concerned with reference and assignment of properties of `this`.

Eg. These would cause lint errors in any parent block *by default*:

[code]

**Is this rule preventing an error or is it stylistic?**

Stylistic but limiting use of a JS feature common

[2016-02-15 14:02] callumlocke opened #5286 "The root:true option doesn't seem to work in a package.json"
**What version are you using?**

v2.0.0

**What did you do?**

Used the `root: true` option in my package.json's `eslintConfig`.

**What happened?**

eslint merged my project's config with an `.eslintrc` file found in a parent directory.

**What did you expect to happen?**

For it to just use my local config.

[2016-02-15 14:02] sodatea commented on #5282
@BYK Seems it was fixed in the main repo hours ago https://github.com/eslint/eslint/commit/68c6e22e3c3cae43ae879f204b96d519c7697c06

But the website has not been updated yet.

[2016-02-15 14:06] BYK commented on #5282
Alright, closing then. Thanks for the heads up! :)

[2016-02-15 14:06] #5282 closed

[2016-02-15 14:08] jmm commented on #5104
@BYK Just delete this then (because it's wrong)?:

[2016-02-15 14:08] BYK commented on #5286
Hi @callumlocke - thanks for the report. Can you provide a bit more information such as the contents of these configuration files and the exact behavior you observed?

[2016-02-15 14:10] BYK commented on #5104
@jmm - Why do you think it is wrong?

[2016-02-15 14:11] BYK commented on #5104
Shall we say "A key-value mapping for the rules where keys are rule names and values are the rules' configuration"?

[2016-02-15 14:47] jmm commented on #5104
@BYK I'm not sure how we have a disconnect on this, since you partially fixed it like this:

[code]

It is an `ESLintConfig` object, not a hash of rule name => rule config. The rules are in `config.rules`. No?

(BTW, what format exactly are you using for the docs in the source [`@param`, etc.]?)

[2016-02-15 15:07] BYK commented on #5104
@jmm - you're right, sorry. Context switching :) Submitted #5288.

[2016-02-15 15:07] #5272 closed

[2016-02-15 15:08] BYK commented on #5104
No sure I understand this question. Can you clarify?

[2016-02-15 15:17] #5277 closed

[2016-02-15 15:22] jmm commented on #5104
@BYK

No problem. Ah yes, that age old culprit.

Thanks!

Sure. I mean is it JSDoc, Doxygen, ...? In particular, is `@param` for sure the right thing [here](https://github.com/eslint/eslint/blob/194b718ad10c24272ee7aaccf3db1a183bc7a19b/lib/eslint.js#L647-L652)? Should it not be `@property` or something?

[2016-02-15 15:24] BYK commented on #5104
@jmm yup, they should have been `@property` tags, good catch!. Let me update #5288 accordingly.

[2016-02-15 15:28] jmm commented on #5104
@BYK Thanks!

[2016-02-15 15:48] sebastienbarre commented on #1842
Thanks for creating this rule. Was wondering if I'm missing something here. Shouldn't it be triggered for `FunctionExpression` as well? This, for example, doesn't trigger any error, even though it has no doc block:
[code]
The source code seems [to mention it] (https://github.com/eslint/eslint/blob/master/lib/rules/require-jsdoc.js#L62), but `FunctionExpression` is not an [accepted configuration op

[2016-02-15 15:53] ilyavolodin commented on #5245
@thedark1337 Could you open a new issue with the proposal for a new option please?

[2016-02-15 15:55] ilyavolodin commented on #5249
@ljharb The reason this change was implemented was to match other tools (acorn, escope, etc.) None of them had ability to fine-tune language features, and we had to create conversions for each one.

[2016-02-15 15:55] #5183 closed

[2016-02-15 15:56] ilyavolodin commented on #5219
Looks like @BYK is championing this rule, so marking as accepted.

[2016-02-15 16:00] ilyavolodin commented on #5285
@Chrisui Could you edit you original message to follow Proposing a New Rule template (link in bot's message). It makes it easier for us to consider new requests in a standard template.

[2016-02-15 16:04] ilyavolodin commented on #5282
@sodatea Website updates with releases (otherwise our documentation would be out of sync with latest release). It will automatically update with next release (hopefully today or tomorrow).

[2016-02-15 16:11] michaelficarra commented on #5285
Why don't you prohibit `this` entirely using the [no-restricted-syntax](http://eslint.org/docs/rules/no-restricted-syntax) rule? Why would one want to only report property assignments to `this`?

[2016-02-15 16:26] Chrisui commented on #5285
@ilyavolodin Will update, thanks!

@michaelficarra Personally I'm working within a React environment where we have hundreds of classes *needing* to access `this.state`, `this.props` and `this.setState`. Obviously the ideal would be to say "right don't do that anymore" but refactoring all the existing code as well as coming up with solutions for component-level state across the application is not a

[2016-02-15 16:29] michaelficarra commented on #5285
In that case, I don't think this is an appropriate eslint core rule. It doesn't sound like that is a common enough need.

[2016-02-15 16:33] gyandeeps commented on #1842
Yup we do not support `FunctionExpression` (ref docs).

[2016-02-15 16:40] sebastienbarre commented on #1842
@gyandeeps Thanks. Any particular rationale? I was wondering about the code in the rule:
[code]

[2016-02-15 16:44] Chrisui commented on #5285
Happy to bow if this is the case. I was unsure whether it was totally suitable for core but thought It'd be better to propose and work here than make a custom plugin and merge later :)

I do think it would still be very useful for people wanting to control usage around `this` (which is such a common place for misuse and misunderstanding). Also for my argument (I may be remembering incorrectly) I s

[2016-02-15 16:48] thedark1337 opened #5289 "Feature Request: Add option to newline-per-chained-call for func calls only"
Personally , I want to ask if its possible to have an option to chain function calls only and not object access as well?

Example:

[code]

I'm not sure what to name the option, perhaps `funcCallOnly` ? e.g

[code]

[2016-02-15 16:53] nzakas commented on #5249
Let's not expand this case too far. The problem reported is isolated to this one rule, and the syntax in question is valid and parseable evennin ES3. Let's just add an option to the rule that allows loosening of this check. Maybe `aalowConstructorFlags: ["u", "y"] `?

[2016-02-15 16:55] #5243 closed

[2016-02-15 16:56] nzakas commented on #5268
@ilyavolodin I'm working on an enhancement to check commit message on the PR. Should have it working this week.

@platinumazure its not possible to get the error message from Travis in any sort of useful way.

[2016-02-15 17:03] platinumazure commented on #5268
@nzakas Dang. What about writing a script (presumably as a function in
Makefile.JS) and configuring it as an after-script in .travis.yml which
would send that info somehow?
On Feb 15, 2016 10:56 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-02-15 17:06] nzakas commented on #5284
I don't think this is the correct solution to this problem. In both of the referenced issues, the problem is that a `let` binding is created without initialization and is assigned later. Why don't we just stop warning on that case?

Example:

[code]

[2016-02-15 17:08] nzakas commented on #5268
@platinumazure I don't think that's very useful, honestly. All we need to do is say, "Please check the automated tests".

[2016-02-15 17:09] platinumazure commented on #5268
Fair enough. At least we agree that the commit message is something we
shouldn't have to waste time diagnosing.
On Feb 15, 2016 11:08 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-02-15 17:10] ilyavolodin commented on #5268
Yes, commit message check with the link to the documentation should take care of most of the issues.

[2016-02-15 17:13] ljharb commented on #5249
Thank you, that sounds like a totally legitimate solution.

[2016-02-15 17:41] jakepusateri commented on #5166
[code]

The above example produces the following errors:

    error  'x' is not modified in this loop       no-unmodified-loop-condition
    error  'offset' is not modified in this loop  no-unmodified-loop-condition

`y` is changing in this loop, so `x` and `offset` should be allowed to be constants, correct?

[2016-02-15 17:55] BYK commented on #5289
I'd prefer `onlyMethods` or `memberAccess` or `propertyAccess`. That said the initial explanation of the rule just mentions method calls so may be we should exclude member access completely. That would be a breaking change though.

[2016-02-15 17:57] BYK commented on #5284
@nzakas - Agree with your solution but I still think a rule like this would be useful.

[2016-02-15 18:13] #5245 closed

[2016-02-15 18:17] #5279 closed

[2016-02-15 18:19] jakepusateri opened #5290 "no-useless-constructor rule causing crash"
The version of ESLint you are using.
[code]

Env and parserOptions
[code]

What you did.
`"no-useless-constructor": 2`

What you expected to happen.
eslint not to crash.

What actually happened.
eslint crashed.

## Repro 1

[code]
[code]

## Repro 2

[code]
[code]

[2016-02-15 18:23] michaelficarra commented on #5284
:+1: I like this proposal.

[2016-02-15 18:30] ilyavolodin commented on #5290
That looks like a bug. We should crash on the rules. @mysticatea could you take a look please?

[2016-02-15 18:48] veeracs opened #5291 "Getting unused vars error when the variable is used in JSX"
Getting following error,
   9:8   error    "favicon" is defined but never used                   no-unused-vars

when my React's render method code is,
[code]

[2016-02-15 18:50] veeracs commented on #5291
here's my eslint config,
[code]

my eslint dependencies,

[code]

[2016-02-15 20:13] nzakas commented on #5291
Can you try it with the default parser instead of babel-eslint?

[2016-02-15 20:16] nzakas commented on #5284
Just so that I'm clear, the proposal here is also just to target `let` declarations that are uninitialized?

[2016-02-15 20:26] nzakas commented on #5289
I'm pretty sure this is a bug, the rule even says "chainable call".

[2016-02-15 20:27] nzakas commented on #5249
Wow, didn't realize how badly autocomplete mangled that previous comment. Just to be clear, I think the solution here is to add `allowConstructorFlags` as an option that lets you pass an array of flags that should be valid regardless of the `ecmaVersion` setting.

[2016-02-15 20:31] nzakas commented on #5285
I agree with @michaelficarra, I think this is too specific a case for the core and would suggest creating your own rule.

For others who may come across this issue, you can achieve blocking all use of `this` already using:

[code]

[2016-02-15 20:31] #5285 closed

[2016-02-15 20:34] nzakas commented on #5219
To move forward, I think the following needs to be addressed:

1. Is "bindings" the correct term for this rule?
1. Can this really be done just be considering function scope? For instance, what about this:

[code]

Would you consider `z` to be part of the overall bindings for the function? Would it count towards the max even though it ceases to exist once the program flows out of the `if` statemen

[2016-02-15 20:35] darkred opened #5294 ""YAMLException: Cannot read config file: .eslintrc""
(using `npm v3.3.12` in win10 x64)
Today I updated from v2.0.0 to `eslint v2.1.0`.

I have the following `.eslintrc` _(which I have generated using the new `--init` parameter)_ :
(located in `C:\Users\Kostas`)
[code]

Here is what I get whenever I lint any file in command prompt:

[code]

[2016-02-15 20:36] nzakas commented on #5260
The format is correct, we're just making an incorrect assumption that the format always has `name`. Definitely a bug.

[2016-02-15 20:36] ljharb commented on #5249
+1, that seems better than the 1.x behavior even

[2016-02-15 20:38] nzakas commented on #5294
If you want to use a JavaScript format for your configuration file, then you need to name it `.eslintrc.js`.

You mentioned that you used `--init` to create this file, did you rename it or was it created this way?

(Also, there were some bugs in `--init` that we fixed in v2.1.0, so can you try upgrading to see if you can create a correct config?)

CC @IanVS

[2016-02-15 20:38] veeracs commented on #5291
@nzakas will give it try, thanks!

[2016-02-15 20:46] veeracs commented on #5291
@nzakas

It actually fixes the issue with  no-unused-vars. But it's giving a different parser issue on several files,
0:0  error  Parsing error: parser.parse is not a function

It could be an issue with babel-eslint or some missing config.

[2016-02-15 21:04] michaelficarra commented on #5284
@nzakas No, not at all.

[2016-02-15 21:05] darkred commented on #5294
First of all, in case it was not apparent my OP: I use `.eslintrc` in my home folder for global settings.
That's why I have my `.eslintrc` in `C:\Users\Kostas`.
<br>

Yes, I renamed it to omit the `.js` extension, but even after re-appending it, the issue remains.
i.e. I renamed the file located in `C:\Users\Kostas` from `.eslintrc` to `.eslintrc.js`
and I get the same error.

<br>

I have already

[2016-02-15 21:21] gilligan commented on #5219
@nzakas fair enough, I agree that first of all the rule name needs refinement. I will provide some suggestions tomorrow and also try to address the scope question.

[2016-02-15 21:25] nzakas commented on #5294
Okay, so this is not a problem with `--init`.

Can you run ESLint with the `--debug` flag and paste the output into this issue?

[2016-02-15 21:27] nzakas commented on #3065
Would `nestedBinaryExceptions` only apply when using `"all"`?

[2016-02-15 21:28] nzakas commented on #5092
Or we just do the nonbreaking change for now.

[2016-02-15 21:31] #5268 closed

[2016-02-15 21:36] feross commented on #5166
@jakepusateri Are you sure you're using the latest version of eslint? The code you pasted works fine for me.

[2016-02-15 21:37] darkred commented on #5294
Yes, of course:

[code]

[2016-02-15 21:40] darkred commented on #5294
Here it is:

[code]

[2016-02-15 21:57] feross opened #5295 "`indent` rule false positive"
Starting with eslint 2.1.0, I get incorrect `indent` behavior.

With this config:

[code]

And this code:

[code]

I get this error:

[code]

In 2.0.0, this reported no errors. Starting in 2.1.0, it does.

This might be caused by @gyandeeps's fix for https://github.com/eslint/eslint/issues/5237 which was released in 2.1.0.

[2016-02-15 21:58] feross commented on #5237
This fix may have introduced a new bug: https://github.com/eslint/eslint/issues/5295

[2016-02-15 22:05] gyandeeps commented on #5295
@BYK Can you please evaluate this against your latest fix in #5237 ?

[2016-02-15 22:16] gyandeeps commented on #5260
@WhyEvenTry Can you please share the configuration for the rule?
I used it from the file you linked, I am not able to reproduce the error with that config.

[2016-02-15 22:16] tsilenzio commented on #3065
Yes, similar to `conditionalAssign`.

[2016-02-15 22:23] btmills commented on #5092
So for now, we have this?

[code]

Where `"padded-blocks": [2, "always"]` covers only blocks (not class bodies, not switch statements), and opt-in options to individually configure other types.

Last question: `blocks`/`classes`/`switches` or `block`/`class`/`switch` for the option names?

[2016-02-15 22:45] WhyEvenTry commented on #5260
[code]

[2016-02-15 23:02] jezstephens commented on #3380
I also agree with @sgoll. It's very common for people to use different styles for these different uses of `=` so I'd expect ESLint to support that. Personally I would be happy just being able to configure function and destructuring defaults with one rule, and variable expressions and initialisations with another (either `space-infix-ops` or a new rule specifically for `=`). But I don't really see

[2016-02-16 04:57] afahim commented on #2077
I've taken a stab at this, let me know if you have any comments / suggestions.

[2016-02-16 05:43] xyyjk commented on #5294
In v2.x version I also encountered the same problem, remove the rule 'no-eval' will be normal.

[2016-02-16 06:12] benjycui opened #5297 "Implement auto-fixing for quote-props rule"
I tried, and it works fine in my project. If you think it is OK, I will complete it and pull request.

-----------

Edit:

I hope that quote-props rule could be fixable. For example:

[code]

Then, I run `eslint --fix path/to/file.js`. The source code will be:

[code]

But quote-props is not fixable now. I tried to modify eslint, and the modified version works fine in my project. If you think this

[2016-02-16 06:22] afahim opened #5298 "Unexpected error when running commit checker."
**What version are you using?**

2.1.0

**What did you do?**

Added a commit, then checked out a new branch (for renaming purposes). Rebased from upstream. Ran `npm run check-commit`

**What happened?**

Got an error saying  `More than one commit found, please squash.`

**What did you expect to happen?**

Since I only added one commit, I didn't expect to see this message. My local master wasn't up

[2016-02-16 06:57] abernix commented on #5295
Same bug I believe... This is causing many of our builds to fail.  Here were my findings:

[code]

[code]

[2016-02-16 07:48] BYK commented on #5295
@gyandeeps - definitely a fall out from that. Taking on, hope to get a fix out soon.

[2016-02-16 08:02] BYK commented on #3380
I'm guessing the decision is to create a new rule, `space-ops` and move the functionality there. Right @nzakas?

[2016-02-16 08:07] Turbo87 commented on #5241
@kaicataldo did you open a PR for that fix commit yet?

[2016-02-16 08:08] BYK commented on #5237
@feross it indeed did. Submitted a fix to fix the fix :P

[2016-02-16 08:13] BYK commented on #5290
Able to repro, working on it.

[2016-02-16 08:28] BYK commented on #5298
I think `upstream` is the name you've given to the original ESLint repo. This wouldn't work for the project maintainers since we have it under `origin`. This wouldn't necessarily work for everyone who may add the original repo under a different name.

A better way might be to check if the branch is up to date with the latest master or try to find the common ancestor. @eslint/eslint-team thoughts?

[2016-02-16 08:31] BYK commented on #5297
@benjycui - Can you follow our [Contribution Guidelines for features](http://eslint.org/docs/developer-guide/contributing/changes) requests and update your original issue?

[2016-02-16 08:50] afahim commented on #5298
I see your point. Yes I was just looking at at from a contributor's point of view; I believe upstream is a commonly given name.

[2016-02-16 08:50] mysticatea commented on #5290
Thanks @BYK , I could not take it for now.

[2016-02-16 08:51] BYK commented on #5298
@afahim I agree that `upstream` is a common name, I use it myself too. But sometimes I use the original repo as `origin` and name my own fork as `byk` for instance. My point is, this is a very fragile solution and it may lead to more confusion than it is trying to fix. That said I still see some value in this work if guided correctly, hence the mention to the team :)

[2016-02-16 08:52] mysticatea commented on #5298
Ah actually I have been seeing the same error always.
I fork branches from `eslint/master`. This `eslint` is the organization name, GitHub added it to the remote list by default.

[2016-02-16 09:07] benjycui commented on #5297
Updated.

[2016-02-16 10:14] mastertinner opened #5301 "error 'use strict' is unnecessary inside of modules"
I am writing Node.js code and am getting `error  'use strict' is unnecessary inside of modules` because i use `'use strict';` at the top of all my files. However, if I remove the `'use strict';`, then it tells me that I cannot use `let` or `const` because they are only available in strict mode. Can you tell me how to solve this?

I am using https://github.com/mastertinner/eslint-config-mastertinne

[2016-02-16 10:57] Alaneor commented on #5060
That looks good to me. As long as I can override individual operands. :)

The only argument against a third `overrides` property that comes to mind is that I don't think I have seen such option on any other rule. That was the reason I proposed the configuration to be a single object.

[2016-02-16 11:15] alberto commented on #5092
@btmills yes, that should be it.

Plural seems more consistent with other rules (e.g. `no-use-before-define`)

[2016-02-16 12:26] albertosantini commented on #5301
Related with https://github.com/eslint/eslint/issues/4936

[2016-02-16 13:21] kaicataldo commented on #5241
Yep! https://github.com/eslint/eslint/pull/5247

[2016-02-16 13:24] Turbo87 commented on #5241
@kaicataldo ah awesome, was missing the crosslink to here ;)

[2016-02-16 13:47] IanVS commented on #5301
@mastertinner You have `sourceType: "module"` set in your config, therefore you get `strict` mode for free (meaning, you shouldn't use the `"use strict"` directive).  What is the warning you are getting about `let` and `const`?

[2016-02-16 14:01] jaydeep17 commented on #5206
+1

[2016-02-16 14:36] freele opened #5302 "Varibales are treated as unused when used in a string template"
[code]

[2016-02-16 14:42] michaelficarra commented on #5302
That's not a template, it's a string. You're using the wrong delimiter.

[2016-02-16 14:53] freele commented on #5302
Yeah, not the delimiter, but wrong quotes. My mistake. Thank you.

[2016-02-16 14:53] #5302 closed

[2016-02-16 14:54] mastertinner commented on #5301
@IanVS, the error I'm getting is the following
[code]

and it's about the following file:
[code]

The same happens when I try to use `class`. Oddly enough, there are files where I use `const` but there I'm not getting an error (even without `'use strict';`).

[2016-02-16 15:10] nre commented on #5301
@mastertinner, `sourceType: "module"` is only for ES6 modules (`export`, etc). Your modules are Node.js modules (`module.exports`, etc). You should keep the strict-mode directives in your modules, and remove `sourceType: "module"` from your config.

(I made a similar mistake in #4832).

[2016-02-16 15:17] mastertinner commented on #5301
Thanks so much, @nre! That solved it.

[2016-02-16 15:17] #5301 closed

[2016-02-16 15:26] ilyavolodin commented on #5060
We have a few rules that do that:
http://eslint.org/docs/rules/keyword-spacing.html#options
http://eslint.org/docs/rules/operator-linebreak.html#ignore-override

[2016-02-16 16:05] maury91 commented on #4418
I've changed the comma-dangle rule to handle auto-fixing before reading this issue,
This is the pull request :
https://github.com/eslint/eslint/pull/5303

After reading that I'm not sure if is a good idea to merge the code, but used alone ( without the rules no-extra-semi, no-trailing-spaces, array-bracket-spacing, comma-spacing ) works really fine without introducing new bugs.
But I'm pretty sure

[2016-02-16 16:21] nzakas commented on #5294
@darkred can you rename your config file as .eslintrc.js and give me the output with `--debug`?

[2016-02-16 16:26] zbinlin commented on #5291
I reproduced this bug in eslint **2.0**, but not in eslint **1.0**.

[2016-02-16 16:27] #5241 closed

[2016-02-16 16:29] nzakas commented on #5203
I think `name-like` is confusing, best to keep block terms away from this.

[2016-02-16 16:31] nzakas commented on #5083
@faceleg @platinumazure thanks, let me see if I can set you up.

[2016-02-16 16:37] nzakas commented on #5270
If we do anything, it would have to be a modification of `space-in-parens`.

[2016-02-16 16:39] nzakas commented on #5187
Seems reasonable. We would need to stick to just `*` representing a wildcard, but that's feasible. @SimonSchick @thedark1337 can one of you submit a pull request?

[2016-02-16 16:40] darkred commented on #5294
Yes. Here is the output with `--debug`:
_(Now linting works ok, please see PS)_
[code]

PS. Before renaming config file to .eslintrc.js ,
I had ran `npm install -g eslint` on top of my v2.1.0 installation
and two files were updated (I didn't take note which)

[2016-02-16 16:40] hughescr commented on #5203
Total fly-by here by me (though I'm very interested in seeing the feature), I actually like "name-like" if it's not just going to be "name".  Each name very clearly describes where the braces will be placed that "same-level" or "same-line" just doesn't.  For example, 1tbs is partially same-line (on the opening brace) and partially "same-level" (for the closing brace).  Then there's Stroustrop styl

[2016-02-16 16:41] nzakas commented on #5284
@michaelficarra I read the original description, but the examples cited do not show any other instances. If you want to flesh out the proposal, then please show some other instances.

[2016-02-16 16:45] nzakas commented on #5219
Sounds good. For the record, I'm concerned about this rule as I am unclear as to why limiting the number of variables is a good idea. In my experience, I've generally encouraged people to use more variables rather than fewer, as I've found it aids clarity and decreases cognitive load (like `no-magic-numbers`).

[2016-02-16 16:45] nzakas commented on #3065
Sounds fine to me. Does someone want to submit a PR?

[2016-02-16 16:45] michaelficarra commented on #5284
@nzakas There's no reason class and function declarations wouldn't also be affected.

[2016-02-16 16:54] nzakas commented on #5298
This script is run as part of our automated tests and is really designed primarily for that, so we need to make sure it works for that case. It might just be better to either add a different check to run locally or just don't recommend people run it anymore.

[2016-02-16 16:55] nzakas commented on #5297
Sounds good, I think it's safe to add.

[2016-02-16 16:57] nzakas commented on #5206
I think it's fine, but we will need someone (outside the ESLint team) to contribute this change.

[2016-02-16 16:58] Alaneor commented on #5060
Oh, I see! I totally missed that.

[2016-02-16 17:02] nzakas commented on #5291
@veeracs what do you have `parser` set to in your config? Is it present? If so, just remove it. If you still get an error, please run with `--debug` and share the output.

[2016-02-16 17:03] nzakas commented on #5294
OK great, looks like the problem is solved.

[2016-02-16 17:03] #5294 closed

[2016-02-16 17:17] SimonSchick commented on #5187
I might, just a little low on time right now.

Is there any simple pattern matching utility included in the code base?

[2016-02-16 17:29] Cortys opened #5304 "prefer-const wrongly reports `let` declarations (without initialization)"
Using eslint 2.1.0 (also reproducible in 2.0.0).

**Example:**
[code]

`let` declarations without initialization are wrongly rejected by the `prefer-const` rule, which is nonsensical since there are no `const` declarations without init value is JS.

Restructuring the code to use `const` would only be possible by using a ternary expression (e. g. `const a = Math.random() > 0.5 ? 1 : undefined`) and

[2016-02-16 17:52] alberto commented on #5297
Wouldn' it cause issues with `key-spacing` rule and the `align` option?

[2016-02-16 17:54] darkred commented on #5294
Thanks for the replies

[2016-02-16 18:10] gyandeeps commented on #5304
Duplicate: https://github.com/eslint/eslint/issues/5283

[2016-02-16 18:25] stebunovd commented on #5291
I have the same problem after upgrade to 2.1.0, and I was also using babel-eslint as a parser. I tried to switch to default as suggested above, but it didn't helped.

My config (after switch to default parser):
[code]

It produces ``2:8  error  'NavLink' is defined but never used  no-unused-vars`` for the following file:

[code]

[2016-02-16 18:33] Cortys commented on #5304
I see. Didn't see those since they are closed.

I guess this can be closed as well in favor of #5284.

[2016-02-16 18:33] #5304 closed

[2016-02-16 18:39] ilyavolodin commented on #5291
Oh, I think I know what this is. You don't have any rules for `eslint-plugin-react` specified in your config. Before v2 we supported default configuration for plugins (as in, plugins had ability to enable some of their own rules by default, as soon as you said you want to use that plugin). Now that functionality has been removed and replaced with embedded configs. So you need to enable one of the

[2016-02-16 18:47] globexdesigns opened #5305 "Unclear warning about "sort-imports" rule when mixing single and multiple imports in a single line"
The following code:

[code]

Returns the following error: `Member 'Component' of the import declaration should be sorted alphabetically`

There appears to be no way to control the case where you're importing a default as well as multiple parts of a module.

[2016-02-16 19:05] nzakas commented on #5291
@stebunovd this is a different issue that the one originally reported here. @ilyavolodin is correct for your case, because `eslint-plugin-react` needs to modify identifier lookup in JSX tags. The original report is about expressions inside of JSX, which we should support natively.

[2016-02-16 19:39] BYK commented on #5219
May be this is better as a plugin then?

[2016-02-16 20:08] stebunovd commented on #5291
ok, thank you for your help!

[2016-02-16 20:38] EvanCarroll opened #5306 "What is the purpose of props:true in no-param-reassign?"
I'm just wondering how this is better than not having it. The only thing I can see it doing is causing code to go from..

[code]

to

[code]

Which becomes something we can't check for... Not to mention, attaching methods on an object is frequently done, as in the case of reduce's accumulator (https://github.com/airbnb/javascript/issues/719). This is just part of Javascript. If you don't want your

[2016-02-16 20:43] alberto commented on #5304
I'm not sure it's the exact same issue, since in this case `a` is used outside the `if` consequent. @mysticatea ?

[2016-02-16 20:48] ilyavolodin commented on #5306
I believe this is the reason for `props` argument: https://github.com/eslint/eslint/issues/1600#issuecomment-113007156

[2016-02-16 20:49] ljharb commented on #5306
It is a common (albeit not the only) coding style that mutation should be avoided in all its forms. JavaScript makes this very difficult. This particular rule causes a programmer who is mutating a passed-in object to have it brought to their attention - clearly there's a number of patterns that they can use to work around it, but that's not the point. The concern for me is that this linter warning

[2016-02-16 21:04] ilyavolodin commented on #5305
Do you still get the same error if you do it the other way around:

[code]

[2016-02-16 21:24] wyze commented on #5305
That is not valid syntax.

Gives `Unexpected token` from Babel. ESLint throws fatal error, `Parsing error: Unexpected token`.

[2016-02-16 21:37] EvanCarroll commented on #5306
I *fully* agree mutation should be avoided, ideally. But, there is no "copy object" operator in JavaScript. It's simply [call by sharing](https://en.wikipedia.org/wiki/Evaluation_strategy#Call_by_sharing). You're going to be fighting this every step of the way. If you want to make the object frozen, your only option is to `Object.freeze()` from the caller. If you want to fundamentally change the w

[2016-02-16 21:39] alberto commented on #5298
I'm not sure what's the problem. I've run that script with an outdated local master many times and didn't run into problems.

[2016-02-16 21:56] ljharb commented on #5306
The warning here isn't to fix it - it's to prevent you from not knowing that what you're doing is dangerous. If you know what you're doing, that's what override comments are for, but the default should be for the linter to assume you don't realize you're doing it.

[2016-02-16 21:57] globexdesigns commented on #5305
Correct. `import {Component}, React from 'react';` is not valid syntax and doesn't work.

[2016-02-16 22:37] ilyavolodin commented on #5306
@EvanCarroll ESLint's job is not to prevent errors, it's to notify you when there's a potential for an error. We have other rules that go against JavaScript syntax. Like `no-use-before-define`. In JavaScript due to hoisting, this is not a problem, but a lot of developers come to JavaScript from other languages, and might not be aware of the potential problems that could occur due to JS syntax, so

[2016-02-16 22:38] ilyavolodin commented on #5305
Ah, sorry, not using es6 myself, so wasn't aware of that. In that case, it sounds like a bug. @eslint/eslint-team how should this be fixed?

[2016-02-16 22:42] BYK commented on #5260
I was able to reproduce this with the provided configuration. Working on a fix...

[2016-02-16 23:12] EvanCarroll commented on #5306
Sure, it's the job to *notify you of errors* seems to be an excuse here.. Though it's not really an error, it's just JavaScript: namely that the language itself is not call-by-value, but instead call-by-sharing. We're assuming I don't know that, and that's why it's notifying me. But, we don't assume that the user knows `=` is assign by reference and not by value. So the end result is that the user

[2016-02-16 23:16] demrks commented on #5270
Probably something like `"exceptions": ["function"]` for the _functions with callbacks_ exception. Not sure about _inner grouping parens_ though.

[2016-02-16 23:16] alberto commented on #5102
Closing since 2.0 is out.

[2016-02-16 23:16] #5102 closed

[2016-02-16 23:17] ljharb commented on #5306
I would never expect (nor have I ever seen) someone bypass this linter rule with your second example, unless they are explicitly trying to sneak past the spirit of the linter rule.

At any rate, this is a rule that some of us find helpful. Thus, objectively, it is a useful rule to have. If you do not find it helpful, there's tons of easy ways to disable it! However, even if you are not convinced o

[2016-02-16 23:17] alberto commented on #5270
This case isn't covered either:
[code]

[2016-02-16 23:26] ilyavolodin commented on #5306
Agree with @ljharb this is a useful rule for some people. If you do not find it useful, just turn it off in the config completely, and you will never have to worry about it's errors. Not every rule in ESLint apply to everyone, nor should they. We have a lot of users, and they do not have the same needs.

[2016-02-16 23:30] demrks commented on #5270
@alberto True, but it's probably too specific. At least I don't know of any other styleguide that enforces space in parens, but only if it's not a single string. Since I'm using idiomatic.js myself, I'd love to see it implemented thought.

This is related to https://github.com/eslint/eslint/issues/1142, but as far as I know, it is not limited to arrays. So the following patterns are not considered

[2016-02-16 23:30] alberto commented on #5175
@feross can you check again now that #5164 is fixed?

[2016-02-16 23:36] #5306 closed

[2016-02-16 23:50] mysticatea commented on #5284
@nzakas Yes, I will stop warning in that case. Plus, I don't want to delete the 2nd behavior merely, so I made this proposal.

I'm thinking this rule applies to both `let` and `const`.
I will use a logic based on `prefer-const`, but I need to consider difference between real constants and readonly values.
I'm thinking: if all references in the scope are non-writable, it checks the moving doesn't g

[2016-02-16 23:54] mysticatea commented on #5304
This `if` block does not have a block.
I must consider this pattern in #5284.

[2016-02-17 00:18] mysticatea commented on #5305
I think the rule should check members inside of curly braces.
On ESTree, the rule should check only [ImportSpecifier](https://github.com/estree/estree/blob/master/es6.md#importspecifier)s. The `React` is a `ImportDefaultSpecifier`.

[2016-02-17 01:02] thedark1337 commented on #5187
I might be able to.  I think using glob would help with this (which is included in ESLint) , I'll take a look and see

[2016-02-17 01:04] SimonSchick commented on #5187
I think minimatch is ok since it's already a sub dependency via glob.

[2016-02-17 01:10] thedark1337 commented on #5187
imo using a dependency is better than relying on its sub. I'll start working on it as soon as I get the time :+1:

[2016-02-17 02:14] globexdesigns commented on #5305
So then, the sorting will ignore the ImportDefaultSpecifier? ie:

[code]

[2016-02-17 02:16] mysticatea commented on #5305
Ah, I meant about sorting inside of one import declaration.

[2016-02-17 03:24] kaicataldo commented on #5206
I'll try to take a look at this over the next week

[2016-02-17 03:47] benjycui commented on #5297
Here is a problem I met while trying to implement the auto-fixing.

[code]

But I cannot infer which kind of quote should be used(single quote / double quote / backtick).

So, I tried to get the options of quotes rule. But it seems that there is no way to get other rules' options while developing a rule.

I had Google / read source code, but I haven't found a solution. Could you provide some advic

[2016-02-17 04:10] platinumazure commented on #5297
This would be yet another case where some sort of "repository settings" object detailing the overall "style" of the repository (with rules being turned on or off to enforce those settings, as desired) would help solve what should be a "simple" auto-fix problem...

[2016-02-17 04:10] chinesedfan opened #5307 "Add version tips about `preferType` option of the `validate-jsdoc` rule"
This option was first introduced in release `v2.0.0-beta.2`. But the [document](http://eslint.org/docs/rules/valid-jsdoc) does not mention about it.

BTW, should the title be highlighted?
[code]

[2016-02-17 04:28] brettz9 commented on #2112
I found I was getting the error (even with `"ecmaFeatures": {"modules": true}`) within a closure:

[code]

...but not when the import was outside of the closure.

[2016-02-17 04:43] ilyavolodin commented on #5297
@benjycui Unfortunately we do not currently have a way to determine this. Our rules do not have access to each other. So I think this will not be fixable for now. We are going to be taking another look at those problems in 3.0.0 timeframe, and hopefully will come up with a way to propagate this information without creating cross-dependencies.

[2016-02-17 04:46] ilyavolodin commented on #2112
@brettz9 imports are only valid in the top level scope. Babel allows you to do them in the inner scopes, but that's incorrect and doesn't adhere to the es6 spec.

[2016-02-17 04:53] brettz9 commented on #2112
Thanks, @ilyavolodin  . Hopefully this may identify issues for others here, as I wasn't otherwise sure that this placement issue would fall under "a syntax that only Babel supports".

[2016-02-17 05:02] platinumazure commented on #5040
I've put this out there before but I think this deserves further consideration: Repository settings/properties, as a way of being able to share basic style properties of your repository and have rules read from them. This simplifies the more complicated auto-fixes for many rules.

Example: `quote-props` auto-fix is impossible to implement because `quote-props` rule does not know whether to use dou

[2016-02-17 05:04] hzoo commented on #2112
Babel only allows it with parser option: `allowImportExportEverywhere` set to true

[2016-02-17 05:12] platinumazure commented on #5297
I just realized my post above, with all the quotes, might have come off as snippy or sarcastic. I do apologize- that was definitely not my intent! I was using quotes to highlight words with uncertainty.

Anyway, I used this proposal to bring out my repository settings idea in the 3.0.0 roadmap issue: https://github.com/eslint/eslint/issues/5040#issuecomment-185024896

I do hope we can figure out h

[2016-02-17 05:15] michaelficarra commented on #5297
@platinumazure: :+1: I've been wanting to propose that for a while now.

[2016-02-17 05:17] hzoo commented on #5040
@platinumazure Sounds like a good idea to me and something to explore! Yeah, it sounds like their might be many rules than need the same information - `quotes` and `quote-props` being an example like mentioned. Instead of duplicate data, you take the data from a higher level config option (Could just overwrite the value in the rule if necessary and warn that it is doing so so the user can remove o

[2016-02-17 05:49] kaicataldo commented on #5206
Actually, was pretty simple to figure out! PR opened.

[2016-02-17 06:29] doberkofler commented on #5284
I would really like this new rule

[2016-02-17 06:52] benjycui commented on #5297
Yep, it seems that quote-props cannot be fixable now. I had been too optimistic before. :-(

Separate contexts of different rules make the source code clearly, but it is difficult to solve conflicts between rules for they cannot communicate.

Close now, and waiting for 3.0.0 :-)

[2016-02-17 08:10] benjycui commented on #5297
Here is another example which need accessing other rules' options.

If I want to make object-shorhand fixable, the following case need accessing quote-props and quotes rules' option.

[code]

[2016-02-17 10:47] nrotta commented on #4487
I'm currently using the object-shorthand rule to flag the following code as valid (as previously discussed in this thread):
[code]
I'm using eslint **v1.10.3** and the following is the content of my .eslintrc.js file:
[code]
However, when running eslint the following error is raised:
[code]
Am I missing anything? I would appreciate your help.

[2016-02-17 12:43] PhiLhoSoft commented on #5203
@hughescr I lean toward `name-like`, mostly because they are familiar and bring quick visualization of the style.
Indeed, `same-xxx` is a bit ambiguous / inconsistent. `same-line` means "opening braces (brackets) remains on the same line than the declaration / usage / assignment" while `same-level` means "braces (brackets) are aligned at the same indentation level".

I will try and implement this,

[2016-02-17 12:58] sephie commented on #5093
Sorry for the delay, but here's the code I referenced in relation to the fallthrough. I've still omitted the contents of the `if` blocks for clarity.
There are multiple `switch` statements used similar to this one, but this is the one from which I took the errors.

This gives no errors with our current ESLint config (ESLint v1.10.3). I see ESLint v2 has been released. Congrats! I'll see to upgradi

[2016-02-17 13:17] mysticatea commented on #5305
I'm working on this.

[2016-02-17 14:25] ilyavolodin commented on #4487
@nrotta `ignoreConstructors` option was added to v2.0.0 so it's not available for 1.10.3 You would need to upgrade to latest to use this option.

[2016-02-17 14:28] #5261 closed

[2016-02-17 14:54] sephie commented on #5093
Using ESLint 2.1 with parser babel-eslint. Parent directory also contains a `.eslintrc`:
[code]

With the code in my previous comment, after upgrading I get one type of error (two times):
`warning  Unreachable code  no-unreachable` for two `break;` statements that follow:
[code]
My observations:
- `eslint-recommended` settings have both `no-unreachable` and `no-fallthrough` flags enabled by defaul

[2016-02-17 14:54] #5295 closed

[2016-02-17 15:18] #5305 closed

[2016-02-17 15:33] #5206 closed

[2016-02-17 16:00] wyze opened #5311 "Clarification of `sort-imports` rule with destructuring imports"
ESLint version `2.1.0`.

I think any destructuring import should be grouped together when using `sort-imports` rule.

Right now, this is valid with default options:

[code]

Where as, it is easier to read if everything that started with a `{` were grouped together, like so:

[code]

While technically, it is a single import, I find it looks out of place. So, I am not sure if this would be considere

[2016-02-17 16:08] nzakas commented on #5060
@Alaneor do you want to submit a pull request?

[2016-02-17 16:16] nzakas commented on #5219
Yeah, I'm thinking this is best as a custom rule.

I'm the future, let's make sure to discuss rule details a bit before championing them for core.

@gilligan you can still create this rule for yourself. If you do, feel free to comment back here to share.

[2016-02-17 16:16] #5219 closed

[2016-02-17 16:19] nzakas commented on #5270
I don't think there's an easy way to support all of these variations without hardcoding idiomatic-specific knowledge into the rule. You may need to create a custom rule for this.

[2016-02-17 16:20] ForbesLindesay commented on #5072
#5310 does the transformation from `let` to `const` only when the transformation is safe and simple.  i.e. it only handles the following three cases:

[code]

I'm very much aware that more complex cases are very challenging to get right, so I ensure that it only offers to autofix these very simple cases.  I think this will correctly fix things in 90% of cases, with no obvious downside.  Is there a

[2016-02-17 16:20] nzakas commented on #5187
You just need to create a regex. Replace `*` with `.*` and escape the rest.

[2016-02-17 16:23] nzakas commented on #5307
We don't generally include versions when options are added. We should update the heading so that it's code formatted.

[2016-02-17 16:26] nzakas commented on #5284
I think `require` is a dangerous case for this rule, since a lot of people use all `require` statements at the top of the file.

[2016-02-17 16:28] ilyavolodin commented on #5072
@ForbesLindesay We've only been doing autofixes for whitespace rules, as there's too much potential for conflict with others. We are going to be revisiting autofixing in 3.0.0 timeframe and hopefully will make it safer to use for other rules.

[2016-02-17 16:32] ForbesLindesay commented on #5072
1. What about semicolons.  You have autofixes for those, so this doesn't look like a rule that's set in stone.
2. Where can I read the discussion of that?
3. Why is this waiting for 3.0.0, seems like a simple policy update rather than any actual code update is required.

I was very careful to ensure that I only autofix when it won't conflict with other rules that I could think of.  What rules does

[2016-02-17 16:34] nzakas commented on #5093
This looks like the correct behavior. Both `break` statements are unreachable. Fallthroughs are not flagged when the cases are directly next to each other. Is there something else you're concerned about?

[2016-02-17 16:44] nzakas commented on #5311
Have you tried changing the default options? http://eslint.org/docs/rules/sort-imports.html#membersyntaxsortorder

[2016-02-17 17:15] nrotta commented on #4487
Works!! @ilyavolodin thanks for the quick response.

[2016-02-17 17:19] sephie commented on #5093
Ah, I didn't know about no-fallthrough and having cases right below each other. Thanks! It should be fine then.

[2016-02-17 17:22] michaelficarra commented on #5072
@ForbesLindesay Unfortunately, you basically can't ever change the source text without risk of violating *some* (usually alignment-based) rule. The difference in length between `let` and `const` can affect `indent`

[code]

[code]

as well as push a line over the length limit enforced by `max-len`.

[2016-02-17 17:26] michaelficarra commented on #5311
Duplicate of #5305?

[2016-02-17 17:35] joshmanders commented on #5205
GitHub has added issue templates silently. https://github.com/dear-github/dear-github/issues/125

All you have to do is add a `issue_template.md` file to your repo and when a new issue is created it should prefill in.

[2016-02-17 17:42] ilyavolodin commented on #5311
I think it's slightly different then #5305 because it deals with multiple import statements. However, @wyze would you mind testing the same code with the latest master? We just merged a fix for import sorting, and it might resolve your issue too.

[2016-02-17 17:52] wyze commented on #5311
@nzakas I haven't changed the default options, as the destructuring of one import is considered a `single`, I don't see how the options would solve that.

@ilyavolodin I tried the latest master and it reports the same as before.

[2016-02-17 17:52] brianjking commented on #5205
@joshmanders It doesn't work with mobile access (Chrome on my Nexus 6P) or ForkHub on Android though, but it's definitely a start.

[2016-02-17 17:55] joshmanders commented on #5205
@brianjking indeed, just checked on my iPhone 6, it don't work. But agreed. Great start.

[2016-02-17 18:54] kaicataldo opened #5313 "GitHub Issue Templates"
Looks like GitHub issue templates are a real thing now! Maybe we can use them in conjunction with the bot to ensure higher quality issues? I'm happy to make a PR if this gets approved and what should be included gets decided on, but also understand it probably makes more sense for a core team member to do this.

Example: https://github.com/samccone/issue-template

[2016-02-17 19:09] ForbesLindesay commented on #5072
That example was one I'd already excluded (by only converting them if there is a single variable per declaration).  The max-len is, I suppose, a potential issue, but that rule can be broken by pretty much any of the autofixers (e.g. adding a semicolon can break max-len).

[2016-02-17 19:22] nzakas commented on #5313
Yes yes yes yes yes.

The interesting part here is how do we distinguish between a bug and a change request? Is there a way to have a template that works for both?

[2016-02-17 19:23] ilyavolodin commented on #5313
I think we should have one big template for both, bug first, feature second.

[2016-02-17 19:25] platinumazure commented on #5313
We could have a template for both, but I think we need to send feature requests to GitHub to provide more granular control. E.g., user is first presented with radio buttons "Issue type:", Bug vs Enhancement Request, and get two different templates based off of that.

And it would be nice to be able to configure this as a repo setting rather than requiring yet another file in the Git repository. Bu

[2016-02-17 19:26] kaicataldo commented on #5313
Are there any fields specific to either of those types of issues? If they have similar fields, might make sense to have a **Type of Issue** field, otherwise @ilyavolodin seems like the best solution given the current limitations of the feature

[2016-02-17 19:30] ilyavolodin commented on #5313
@kaicataldo Unfortunately github doesn't yet allow custom fields, so we have to stick with the same form for all of the issues. Hopefully they can add that in at some point, but at least having some sort of template is a step in the right direction.

[2016-02-17 19:37] kaicataldo commented on #5313
Yeah, you're right, can't have multiple templates. All I meant above was that if they're essentially the same template for both types of issues, then an easy way to differentiate could be something like:
[code]
If they're vastly different in requirements, makes sense to just have two sections in one big template, like you said. :+1:

[2016-02-17 19:37] nzakas commented on #5205
@thejameskyle as I mentioned earlier, we are continuing to investigate alternatives. While I'm happy about issue templates, I don't see any reason to stop looking into what other alternatives are out there. I've been having some great conversations with the folks at GitLab about their plans, and I'll post more about that when I have a second.

However, I am locking this issue at this point, not be

[2016-02-17 20:55] rawalter21 opened #5314 "IgnoredPaths option "dotfiles" causes issue with relative paths"
When the working directory is outside of the directory in which the Javascript files are stored the relative paths can cause the "dotfiles" option to ignore files incorrectly. For example, if the relative path starts with a dot like in the following example:

[code]

the "dotfiles" option will cause all of these files to be ignored. You are able to get around this by setting dotfiles to false but

[2016-02-17 21:14] demrks commented on #5270
@nzakas Yes, I already thought that the _single argument string literal_ won't be covered by eslint. Is there a way to create a custom rule for this at all without having to built a customized `space-in-parens` rule? Since I can't built custom exceptions for the existing `space-in-parens`, I can't just do something like this:

"rules": {
    "space-in-parens": [2, "always", { "exceptions": ["{}",

[2016-02-17 21:18] alberto commented on #5270
No you'll have to disable `space-in-parens` and use your own rule. Just copy and modify it as needed.

[2016-02-17 21:24] demrks commented on #5270
@alberto Ok thanks, but why is this issue closed? Is the `functions with callbacks` exception or the `inner grouping parens` exception not going to happen/in discussion either?

I was thinking that @nzakas was only referring to `custom-single-argument-string-literal` exception with his comment?

[2016-02-17 21:35] alberto commented on #5270
Sorry, I thought you were intending to create a custom rule for all the cases.

[2016-02-17 21:52] yairEO commented on #4787
I have this problem as well (all packages are fully updates) and this solution didn't help remove the error log

[2016-02-17 22:26] DerZyklop opened #5315 "'consistent-this' does not accept multiple aliasses"
The [documentation](http://eslint.org/docs/rules/consistent-this) says `"consistent-this": [ 2, "self",  "vm" ]` should work, but my eslint grunt task says

[2016-02-17 22:46] platinumazure commented on #5315
Looks like the docs are incorrect. The aliases need to be in their own array: `"consistent-this": [2, ["self", "vm"]]`

Can you try that out and make sure that works for you? If so, then we just have a docs bug. If that doesn't work, we have different problems :cry:

[2016-02-17 22:57] ilyavolodin commented on #5315
@platinumazure Is right, looks like documentation is incorrect. It should be an array inside an array.

[2016-02-17 22:58] ilyavolodin commented on #5314
Sorry, I'm not sure I follow exactly what you mean. Could you provide a few examples of files being ignored and patterns that cause it?

[2016-02-17 22:59] alberto commented on #5315
Yes, the doc is wrong, but it is not only a doc issue. This rule was updated to accept more aliases, but that was a breaking change. Should we add back the original option to make it non breaking? @eslint/eslint-team Or should we just add it as a breaking change for 2.0.0 in the docs?

[2016-02-17 23:00] ilyavolodin commented on #5311
Looking at the available options, it seems that this would be a new feature request. Right now we are sorting based on the first member.

[2016-02-17 23:02] ilyavolodin commented on #5315
Hmm... I assume previously it just took a single string instead of the array? In that case, yes, looks like an oversight on our part. We should probably add back original option for backwards compatibility.

[2016-02-17 23:03] alberto commented on #5315
Yes.

[2016-02-17 23:06] alberto commented on #5315
Working on this

[2016-02-17 23:32] wyze commented on #5313
You can do something similar to react-router here: https://github.com/reactjs/react-router/issues/new

They embed instructions as HTML comments in the markdown, so it appears when writing, but not in preview/submission.

[2016-02-17 23:34] wyze commented on #5311
I would be willing to submit a PR for this, given some direction of course. If it would be another option that could be passed to the rule, and naming around that option.

[2016-02-17 23:39] mysticatea commented on #5315
https://github.com/eslint/eslint/blob/master/tests/lib/rules/consistent-this.js#L51
Is this not working?

[2016-02-17 23:57] ilyavolodin commented on #5315
Hmm.. That's very strange. That should be failing schema validation:
https://github.com/eslint/eslint/blob/master/lib/rules/consistent-this.js#L132

[2016-02-17 23:57] mysticatea commented on #5315
Looks it's working.

[code]

[code]

I think we should write the version options were added.

[2016-02-17 23:58] ilyavolodin commented on #5315
That looks like bug in schema validation in that case. @btmills any ideas?

[2016-02-18 00:03] mysticatea commented on #5315
I believe schema validation is correct.

[code]

[2016-02-18 00:18] mysticatea commented on #5315
This rule has consistency in docs, tests, and implementation.
It's intentional and not a breaking change, I believe.

Just the additional aliases' feature has been supported in 2.0.0 and later.

@DerZyklop What is the version of eslint you are using?

[2016-02-18 00:46] ilyavolodin commented on #5315
Ahh.. you are correct, I should've looked closer. In that case, it looks like @DerZyklop might be using older version of ESLint.

[2016-02-18 00:48] mysticatea commented on #5284
I think this way can handle `require()`s safely.

However, I can make an exception for `require()`s.

- If the variable has `require()` in their initializer, this rule skips the variable.

I hope to turn this exception off by an option (e.g. `{exceptRequires: false}`) when I use this rule (It can prevent importing actually unused modules, though, I know core doesn't have rules for performance...).

[2016-02-18 01:39] bionikspoon commented on #5206
@kaicataldo awesome!  Glad to hear this idea panned out.

[2016-02-18 03:04] onlywei opened #5316 "Parsing error when declaring multiple const at once:"
At the demo: http://eslint.org/demo/

Just turn on "es6" in the env and type:

[code]

And you get a parsing error at version 2.1.0.

I don't think this is correct?

[2016-02-18 03:18] ilyavolodin commented on #5316
Thanks for the issue. Demo hasn't been update for version 2.0 yet. We are currently working on it, and should have a new update soon-ish.

[2016-02-18 03:20] onlywei commented on #5316
@ilyavolodin I get this locally on version `2.1.0` as well, so I don't think it's *just* the demo?

[2016-02-18 03:21] ilyavolodin commented on #5316
Gah, bot is sleeping on the job again. Could you provide your config please?

[2016-02-18 03:23] onlywei commented on #5316
After reflecting on this - maybe this **is** correct behavior? You don't expect to initialize the value of a `const` after declaration ever, and I don't get this error for `var` and `let`.

[2016-02-18 03:35] gyandeeps commented on #5316
This is a correct behavior as all the `const` should be initialized during declaration (according to specs)

[2016-02-18 03:37] onlywei commented on #5316
Awesome, thanks.

[2016-02-18 03:37] #5316 closed

[2016-02-18 04:13] afahim opened #5317 "Unexpected no-unused-vars behavior."
**What version are you using?**
2.1.0

**What did you do?**
Ran `no-unused-vars` rule against unused `requirejs` imports.

[code]

**What happened?**
ESLint didn't throw an error.

**What did you expect to happen?**
I expected ESlint to throw an error, since two variables here, `backbone` and `underscore` aren't being used.

Let me know if this error is actually not within the scope of this rule.

[2016-02-18 04:16] afahim commented on #5317
Oh I see, just learned about after-args. Never mind.

[2016-02-18 04:16] #5317 closed

[2016-02-18 04:57] kaicataldo commented on #5313
I think that's pretty cool! My only concern is that making people read a lot of stuff might make people less likely to report things because it seems like a hassle. I can make a PR for this - thoughts on what should be included?

[2016-02-18 06:24] thedark1337 commented on #5187
Sorry, @SimonSchick  are you able to work on this? I haven't started yet on adding it in.

[2016-02-18 06:30] chinesedfan commented on #5307
Well, seems that users can check release notes to find out whether an option is valid. I have fixed the heading.

[2016-02-18 07:06] yukidarake opened #5319 "Crash in `constructor-super`"
**The version of ESLint you are using (run eslint -v)**

[code]

**The source code that caused the problem**
[code]

**The configuration you're using (for the rule or your entire config file)**
[code]

**The actual ESLint output complete with line numbers**
[code]

[2016-02-18 07:30] alberto commented on #5315
Yes, after looking closer, it's working fine. The schema tricked me up. Sorry for causing confusion here.

It works in 2.1.0 and fails with the above message in 1.10.3.

[2016-02-18 08:24] BYK commented on #5319
I was able to reproduce on latest master. Thanks for the great issue report @yukidarake!

[2016-02-18 08:54] fredguest commented on #4103
@nzakas, i agree with @gre that this is not being handled correctly at the moment. for the linter to remain silent when `foo` in the code example above is unused would not be a special affordance, it would be the correct behavior in every instance. the analog is the linter's behavior in this scenario:
[code]
the linter does not warn about arg1 being unused, because it accounts for the fact that it

[2016-02-18 08:59] BYK commented on #4103
I think the best way to handle this is to use [varsIgnorePattern](http://eslint.org/docs/rules/no-unused-vars#ignore-identifiers-that-match-specific-patterns) option and use names that match that pattern.

[2016-02-18 09:26] gre commented on #4103
having to change the variable names to make this silent does not sound "the best way" to me.
Especially that you can't really change that variable names as they are just the object property names (in my initial example).

Now I understand that destructing assignment with spread object is an experimental feature, not even in ES6, but I think when this gets in and when eslint supports this, we shoul

[2016-02-18 09:35] DerZyklop commented on #5315
You are right. My package was **1.10.3**.

I was confused because i thought `npm install --save-dev eslint` or at least `npm update --save-dev eslint` would give me the latest version. Sorry guys.

[2016-02-18 09:35] BYK commented on #4103
Oh, right. I was thinking about array spread for some reason. I agree having an option similar to the one we have for later arguments in functions would be useful when this feature solidifies. Until then, disabling the line looks like the best way forward. Personally, I prefer this over the linter silently ignoring this to make it explicit that my intention was indeed to ignore those.

[2016-02-18 09:37] gre commented on #4103
fair point

[2016-02-18 10:47] mysticatea commented on #5319
Thank you for this report!

[2016-02-18 11:35] alberto commented on #5315
`npm install` and `npm update` restrict versions to what's configured in `package.json`. If you had `^1.10.3` it won't install or update to 2.0.0 or higher.

[2016-02-18 11:35] #5315 closed

[2016-02-18 12:18] mischah commented on #3837
I know you hate those `+1` comments.

… but I love to see this :kissing_heart:

[2016-02-18 13:55] platinumazure commented on #3837
@mischah Issue is accepted, so if you want to write a pull request, have at it! It's like somebody said (I forget who, maybe Gandhi?), "Be the change you wish to see in the world". So he probably would have also said "If you want something, write it yourself" :grin:

[2016-02-18 14:31] #5307 closed

[2016-02-18 14:38] #5319 closed

[2016-02-18 15:11] rawalter21 commented on #5314
Here is some more info to help debug this:

We are currently running version 2.1.0

We are were using gulp-eslint as follows:

[code]

This is an example file path that is being used by eslint:

`../app_storefront_core/cartridge/js/pages/content/two-column.js`

I was only able to get this, and the other files, to appear by adding:

`"dotfile": true`

to the **.eslintrc.json** file.

Otherwise esli

[2016-02-18 16:09] ThaJay commented on #3395
I just had this bug in Windows 10 with Git Bash, Node 5.6.0 and eslint 2.1.0.
As all topics I have found say this is fixed, I reinstalled Git for Windows (version 2.7.1).
The arrow keys still did not work.

[2016-02-18 16:11] ilyavolodin commented on #3395
@ThaJay The original issue was a bug in Node itself, and has been fixed in v5.3.0 so it should be working for you. You might be running into some other problem.

[2016-02-18 16:28] ThaJay commented on #3395
Any leads as to where I should look?
Just tried in powershell and I have the same issue there. The difference is, in git bash the arrow keys  move an invisible cursor (I see chars in different places when I type) but in powershell it stays at the end of the last line.

[2016-02-18 16:37] hgcummings commented on #3395
I can confirm that this has regressed. On Windows 10:

- Works in Node.js v5.4.1
- Broken in Node.js v5.6.0

@ThaJay, I suggest that you re-open the original Node.js issue referred to above (or I can do so if you like).

[2016-02-18 16:46] ThaJay commented on #3395
All right, I just did. Thanks for confirming.
https://github.com/nodejs/node/issues/2996#issuecomment-185809376

[2016-02-18 16:55] nzakas commented on #5093
Sure thing. For reference, here's the docs:  http://eslint.org/docs/rules/no-fallthrough

[2016-02-18 16:55] #5093 closed

[2016-02-18 17:03] nzakas commented on #5311
What would that option be? Keep in mind, this is not destructuring, it's individual binding import. Looks similar, behaves differently.

[2016-02-18 18:21] timseverien opened #5324 "SyntaxError: Unexpected token"
When running `--init` and choosing a popular style guide, any option seems to throw the following error:

[code]

Node.js: 5.6.0
npm: 3.7.2
eslint: 2.1.0

[2016-02-18 18:24] timseverien commented on #5324
Following these exact steps on eslint 2.0.0 works fine.

[2016-02-18 18:28] timseverien commented on #5324
Turns the error is caused by a corrupted package.json. Sorry!

[2016-02-18 18:28] #5324 closed

[2016-02-18 19:06] jraller opened #5325 "--init ouput to Javascript format doesn't respect user style for quotes"
Answering single for quote style and outputting using the JavaScript format results in a `.eslintrc.js` file that uses double quotes. It properly builds the correct rule for single quotes, but uses double quotes throughout the file.

[2016-02-18 19:18] #5067 closed

[2016-02-18 19:20] ilyavolodin commented on #5325
Ah. nice catch!:-) Didn't think about that at all.

[2016-02-18 20:12] jraller commented on #5325
Maybe while fixing that also look at tabs versus spaces?

[2016-02-18 20:16] diegoddox opened #5326 "duplicated mapping key at line 110, column 17 "new-cap""
I'm getting a duplicated error but I do not have more than one "new-cap" and even if I remove the only one "new-cap" I still get this error.

my .eslintrc file
[code]
I'm running on the command line: node_modules/.bin/eslint . --ext .js --ext .jsx || true
[code]

[2016-02-18 20:25] gyandeeps commented on #5326
Are you sure you dont have any other `.eslintrc` being read?
Can you run `eslint` with `--debug` flag and share the output?

[2016-02-18 20:28] ilyavolodin commented on #5325
Agree. That would be something else to fix. `init` command was added before we had support for `.js` files, that why it wasn't trying to conform to the style you selected.

[2016-02-18 20:55] Erid opened #5327 "Indentation for dot-location"
I was looking for a way to enforce the indentation on chained properties and I found https://stackoverflow.com/questions/33784939/enforcing-indentation-of-properties-with-eslint.

In summary we want a way to enforce (or prevent) indentation like:
[code]

And avoid having:
[code]

We can probably extend the rule "dot-location" to accept a configuration for indentation, right now it doesn't care whe

[2016-02-18 20:57] darkred opened #5328 "--fix doesn't fix all errors in a single execution"
(Using eslint v2.1.0 in win 10 x64)

run  `eslint --fix 1.js`
where 1.js is [this script](https://bitbucket.org/balpha/user-scripts/raw/tip//dudewheresmycursor/dudewheresmycursor.user.js).
It will find 417 problems.

Then run `eslint --fix 1.js` (1st time)
it will show that there are 139 problems now.

Then run `eslint --fix 1.js` again (i.e. 2nd time)
it will show that there are 75 problems now.

[2016-02-18 20:57] darkred commented on #5328
Here is the `.eslintrc` that I use

[code]

[2016-02-18 20:59] gyandeeps commented on #5327
Please follow the discussion on https://github.com/eslint/eslint/issues/5073

[2016-02-18 21:07] ilyavolodin commented on #5328
In general `--fix` doesn't guarantee that it will be to fix all of the supported rules. For example, if two rules want to fix same code, or overlapping ranges, first one wins. So that's probably what you are seeing. Do you know which rules is doing fixes?

[2016-02-18 21:09] ilyavolodin commented on #5327
Thanks for the issue. This is a know issue with indentation of multi-line expression. We do not currently have a good solution for it, but we are discussing different options in #5073
Closing as a duplicate of #5073

[2016-02-18 21:09] #5327 closed

[2016-02-18 21:23] nzakas commented on #5325
This happens because we just JSON serialize the config and output it into a JS file.

[2016-02-18 21:23] nzakas commented on #5325
@jraller do you want to submit a pull request to fix this?

[2016-02-18 21:33] nzakas commented on #5313
I think the most common issue type is bug reports, probably closely followed by rule changes and new rules. So maybe we should try optimizing for bug reports first, something like:

[code]

[2016-02-18 21:35] nzakas commented on #5314
@rawalter21 can you confirm that this isn't just a problem with `gulp-eslint`? We don't manage the Gulp plugin, and I think it's a good idea to confirm with them.

[2016-02-18 21:36] diegoddox commented on #5326
You right! I have another .eslintrc on the above folder.

  eslint:config Loading /project/redux-toastr-devlopment/react-redux-toastr/.eslintrc +4ms
  eslint:config-file Loading config file: /project/redux-toastr-devlopment/react-redux-toastr/.eslintrc +1ms
  eslint:config Using /project/redux-toastr-devlopment/react-redux-toastr/.eslintrc +420ms
  eslint:config Loading /project/redux-toastr-devlo

[2016-02-18 21:53] darkred commented on #5328
The 1st time it fixes multiple
`Expected linebreaks to be 'LF' but found 'CRLF'  (linebreak-style)`
and a few
`Unnecessary semicolon  (no-extra-semi)`
`Unexpected space after unary operator '-'  (space-unary-ops)`
`Missing semicolon  (semi)`
`There should be no space after '{' / '}' (object-curly-spacing)`
and 1 `Newline required at end of file but not found  (eol-last)`  (in the end)

-----

The

[2016-02-18 21:57] nzakas commented on #5183
Here's my concern: I just don't believe that people who want their functions to look like this:

[code]

are also going to want default exports to look like this:

[code]

Nor do I think that forcing them to remove the ID makes any sense if they prefer function expressions because, again, this isn't about hoisting or about names, it's about the preferred style for writing functions as either an as

[2016-02-18 22:04] ilyavolodin commented on #5314
From what I can gather, it sounds like `gulp` issue. I'm not sure what `dotfile` options is for, but I don't think we have anything like that in ESLint.

[2016-02-18 22:06] ilyavolodin commented on #5326
@diegoddox That's the normal behavior of ESLint. We cascade configs based on folders. You can avoid that by adding `root: true` to your config. Once ESLint finds `root: true` flag, it will not traverse into parent folders. You can find more information about configs here: http://eslint.org/docs/user-guide/command-line-interface#options
Feel free to reopen this issue if you run into a problem with

[2016-02-18 22:06] #5326 closed

[2016-02-18 22:08] jraller commented on #5325
I followed the logic from `config-initializer.js` to `config-file.js` which is using https://github.com/substack/json-stable-stringify which correctly only uses double quotes as single quotes aren't valid for JSON.

I'm uncomfortable with the idea of post processing the result with a replace for fear of altering a double quote character that might be escaped as an option for a rule, so the best th

[2016-02-18 22:08] #5325 closed

[2016-02-18 22:11] ilyavolodin commented on #5328
Ahh.. Missing semicolon, trailing spaces and linebreaks will all have overlapping ranges. So I think this is expected behavior. I don't think we can do anything about this issue right now. We will be revisiting autofix behavior shortly, and hopefully can improve this situation.
Closing as this is not something we can fix right now.

[2016-02-18 22:11] #5328 closed

[2016-02-18 22:27] nzakas opened #5329 "Fixing autofix"
There have been a few issues recently with people asking to add more autofixing. This is definitely something we want to address, but we can't do it with the way autofixing works right now. This (unfortunately long) issue is meant to outline what we currently have, its limitations, and start towards thinking about how to fix autofix so we can use autofix in as many places as possible.
## Intro

Wh

[2016-02-18 22:31] nzakas opened #5330 "npm run perf goes crazy"
I just pull the master branch and tried to run `npm run perf`. It goes crazy outputing thousands of lint errors to the console (20,451 to be exact) and then throws an error "Performance test failed".

I haven't kept a good eye on the change to `npm run perf`, but it's definitely not supposed to be outputting lint messages to the console.

[2016-02-18 23:10] juanmnl commented on #5085
A quick draft! :D
![eslint_draft_1](https://cloud.githubusercontent.com/assets/699945/13161293/d65d35a0-d66a-11e5-8d71-dc634a0be300.png)

[2016-02-18 23:42] zxqfox commented on #5329
Guess, 'fix' should gracefully degrade to 'error' since user expects fixed error. But I still not sure we need 'fix' as severity since users want linting by default that means autofix should be under a flag. The last means we shouldn't mark rules in configuration as fixers. IMO.

[2016-02-18 23:59] michaelficarra commented on #5183
@nzakas Then why not have an exception for all export forms? How is it different than preferring

[code]

to

[code]

which this rule would currently enforce?

[2016-02-19 00:16] btmills commented on #5330
Working on this. I've narrowed down the break to b32ddad494c9d766aa71144dcccecd040246b040. Working on a fix now.

[2016-02-19 00:17] rawalter21 commented on #5314
I apologize for not adding this earlier but here is the offending code (eslint/lib/ignored-paths.js line 162) that was added in commit #3948:

[code]

You are correct in that this is techincally a gulp-eslint issue but there was no issue until the above code was added. What is happening is that the ".*" pattern is causing the relative paths given by gulp-eslint to be ignored. I understand why this

[2016-02-19 00:26] ilyavolodin commented on #5329
@zxqfox We had requests to allow fixing of just a few specific rules, and not everything.
I don't think I really like `fix`, due to the fact that it has a specific meaning, which is very confusing when you'd run in lint mode. Something like `fixOrError`, `fixOrWarn` might be clearer, although more verbose (and I don't like it either).
With multipass approach we have to watch out for rules conflict

[2016-02-19 00:35] zxqfox commented on #5329
Good examples are:
[code]

Feels like it's possible with some kind of CST. All we need is fix tokens directly.

Guess, the example should answer on this. Depends on what we have in tree.

That's how JSCS worked (before CST). It's not ideal solution.

Yeah, but... We can do more ;-)

[2016-02-19 01:23] ilyavolodin commented on #5329
If you fix tokens directly (in CST or AST, doesn't matter), that invalidates the tree, and we have to re-run it though escope, and all of the rules. We have over 200 rules (and that's not counting plugins), we should be very careful about invalidating syntax tree, or autofixing will take forever, even on a single file.

[2016-02-19 04:01] nevir commented on #5040
Support for multiple formatters (and support for file output) would be awesome.  I.e. something like:

[code]

[2016-02-19 04:02] dtinth opened #5332 "`no-confusing-arrow` flags conditionals inside parentheses."
__ESLint Version:__ 2.1.0

This is a pattern I use frequently in JavaScript code:

[code]

Note that the conditionals are inside parentheses. In this case, the meaning is not ambiguous. You can’t interpret `a => (1 ? 2 : 3)` as `(a >= 1) ? 2 : 3`.

## Test Case

[code]

## Expected Result

No lint errors.

## Actual Result

Arrow function used ambiguously with a conditional expression. (no-confusi

[2016-02-19 04:09] ilyavolodin commented on #5040
@nevir That's always been possible. `eslint -f junit -o report/eslint.xml`

[2016-02-19 04:27] nevir commented on #5040
Well, hell! Thanks for the tip

[2016-02-19 04:51] platinumazure commented on #5040
@ilyavolodin Not sure we support multiple formatters, do we? (Not that it
would be that hard to use one easily convertible formatter in ESLint and
then use other build steps to copy/transform that into other forms, but
having one formatter for standard out and one or more files would be nice.)
On Feb 18, 2016 10:27 PM, "Ian MacLeod" <notifications@github.com> wrote:

[2016-02-19 06:28] feross commented on #5175
eslint 2.1.0 works better, and the example in the original issue works now. But it's not working correctly when `eslint` is hoisted to a higher level `node_modules` than the configs are at.

Here's an example. Passing this config into the `CLIEngine` constructor:

[code]

Does not work when npm decides to install `eslint` at the top level.

[code]

Instead of using the config path (which is inside

[2016-02-19 07:33] feross commented on #5234
+1 to splitting out template-strings-only-as-needed from the quotes rule.

While we're considering changes to the `quotes` rule, I'll mention that `standard` would like to enforce this:

1. default rule: use single quotes
2. if string contains a single quote: use single quotes (w/ escaping), or double quotes (to avoid escaping)
3. if string contains single **and** double quotes: use single quotes

[2016-02-19 08:37] chinesedfan opened #5334 "Specify results of `no-unused-var` with different `args` options"
The document provides [3 samples](https://github.com/eslint/eslint/blob/master/docs%2Frules%2Fno-unused-vars.md#args), but what are their results?

[2016-02-19 09:25] inetphantom opened #5335 "FATAL Parsing Error when using keyword "let""
The keyword let is used to define a variable with block scope ([More information on mdn](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Statements/let))

I got following code(which works with Chrome, I double checked that):

`return function foo(){
    if (true){
        let it = "be";
        console.log(it);
        debugger;
    }
}`

I am getting:

Same error on the line with a

[2016-02-19 09:34] zxqfox commented on #5329
@ilyavolodin I don't see problem with invalidation since the bottleneck is CPU and we can clone original tree to the fixed one (or just put our meta-data to the original tree), right? Don't get why you trying to avoid using tokens btw. If you skipping information about whitespaces, last commas in arrays, you can't guarantee that you did all right.

[2016-02-19 09:52] inetphantom commented on #5335
The Error only exist, when es6 is not set to true. But never the less the feedback to the user is not good. It should be something like

[2016-02-19 10:33] julienw opened #5336 "In keyword-spacing overrides option, we should be able to disable a check at all"
Currently, `before`, `after` and `overrides` entries are boolean to allow or disallow the spacing. But it would be useful to be able to just disable the check: for some cases, we don't want to check the spacing.

For example in my styleguide I don't mind whether `switch` is followed by a space or not.

I could configure like this:
[code]

[2016-02-19 13:46] MethodGrab opened #5338 "Temporary files created by a test are not cleaned up"
Following on from #5068:

– https://github.com/eslint/eslint/pull/5068#discussion_r53169443

[`writeTempConfigFile`](https://github.com/eslint/eslint/blob/master/tests/lib/config/config-file.js#L72) / `tmp` is supposed to automatically clean up the temp dir when the process exits but it isn't doing so.

[2016-02-19 15:13] michaelficarra commented on #5234
@feross That is a very complex style preference. I don't think something like that is appropriate for a core rule.

[2016-02-19 15:48] nzakas commented on #5335
You need to either set the es6 environment to true or set `ecmaVersion` to 6. See http://eslint.org/docs/user-guide/configuring#specifying-parser-options

[2016-02-19 15:48] #5335 closed

[2016-02-19 15:53] nzakas commented on #5175
I'll take a look

[2016-02-19 16:02] nzakas commented on #5332
Confirmed. Do you want to submit a pull request for this?

[2016-02-19 16:04] nzakas commented on #5334
I believe those are all valid, but we should be saying that somewhere.

[2016-02-19 16:08] nzakas commented on #5270
Inner parens is feasible to add. I'm not 100% sure about the callback, as that seems really specific to idiomatic. And would it be just functions or also any single argument?

[2016-02-19 16:09] nzakas commented on #5284
OK, sounds good.

[2016-02-19 16:10] #2077 closed

[2016-02-19 16:11] nzakas commented on #5314
@rawalter21 unless you can confirm that this is a problem using ESLint outside of Gulp, then the best course of action is to followup with gulp-eslint.

[2016-02-19 16:12] julienw commented on #5336
I use eslint v2.1.0.

Code examples are
[code]

I'd like to use `keyword-spacing` to check spacing for other keywords (like `if`, `for` etc), but I don't want to check for `switch`, which means that both cases above should not give an error.

So I want to be able to configure the `keyword-spacing` rule to disable one of the keyword check. Now that I think this a little more, it should be possible

[2016-02-19 16:53] mikesherov commented on #5329
Perf on autofix shouldn't be a huge concern IMO because it's not the majority use case. Unless it's extremely slow (slow enough to be noticeable on one file), then the main use case is *run once* on entire codebase, then run a bunch of times (like on save) for individual files. Simplicity wins for me here personally.

With that said, whitespace fixes are a solved problem: as long as there is an in

[2016-02-19 17:08] rawalter21 commented on #5314
In this case it would always be a problem if you passed in relative paths (as opposed to absolute paths) no matter how ESLint is used assuming the paths start with a dot.

[2016-02-19 17:24] matthewrose commented on #5314
I also can confirm that this problem happens with all relative paths due to the pattern `".*"` matching any relative path that starts in a dot, such as `../path-to-js`. This is in the eslint codebase [here](https://github.com/eslint/eslint/blob/master/lib/ignored-paths.js#L163).

[2016-02-19 17:25] nzakas commented on #5183
@michaelficarra if I'm not mistaken, you can do this:

[code]

But you cannot do this:

[code]

So it seems like checking nondefault exports is still a valid use case.

[2016-02-19 17:33] michaelficarra commented on #5183
Oh okay, so you just don't think users who prefer function expressions would want to use the parentheses in export default position. I can accept that.

[2016-02-19 17:34] jrencz commented on #5183
maybe this rule should just ignore exports and we need another rule just to handle exports?

[2016-02-19 17:39] nzakas opened #5340 "Pull request check incorrectly marking valid commit messages as invalid"
It looks like the commit message check is not exactly correct on pull requests. Right now, it incorrectly assumes that the commit message is just one line, so this will trigger the max length warning and the warning about a missing issue reference:

[code]

The solution is to only take the first line of the commit message and validate that, leaving the rest alone.

[2016-02-19 17:47] kaicataldo commented on #5313
Great - I'll take a look at this this weekend!

[2016-02-19 18:07] #5340 closed

[2016-02-19 18:42] nzakas commented on #5040
@ilyavolodin I think @nevir means two formatters at the same time, which don't support right now.

[2016-02-19 18:47] nzakas commented on #5329
@ilyavolodin we can always shorten to something line "wfix" for warning or fix and "efix" for error or fix. I agree with you, it seems like being explicit is the right way to go.

@zxqfox I don't think he's trying to avoid using tokens, it's just that changing tokens could result in a different AST from those tokens. Keeping around the original tree and a modified tree is an interesting idea.

[2016-02-19 18:54] nzakas opened #5342 "More auto-fill responses"
The "needs info" experiment seems to be working pretty well. I'd like to explore adding some more autoresponses so we can further cut down on the amount of issue triage we have to do. Here are some ideas:

* `question` - if we add this label, it should mean that the issue is not a bug report or change request, but rather a general question ("how do I?"). In this case, I'd like to autocomment askin

[2016-02-19 19:08] nzakas commented on #5175
Did this second case work in ESLint 1.x?

It looks like `eslint-config-standard-jsx` isn't in the lookup path from `eslint`. The call to `require()` is happening inside of `eslint`, so it starts looking up from `eslint/node_modules` and would miss `standard/node_modules` regardless of what I'm doing.

(Side note: It's amazing how much trouble npm 3 introduced with this feature. Just doesn't seem w

[2016-02-19 19:10] nzakas commented on #5234
Agreed. @feross, that's far too specific for a core rule, and if you could please not add enhancement requests to already-accepted issues, I'd appreciate it. It gets very hard to track conversations and requests when that happens.

[2016-02-19 19:19] nevir commented on #5040
@nzakas correct

[2016-02-19 19:30] ilyavolodin commented on #5342
Sounds reasonable to me. Although I was never a fan of redirecting questions to other information sources. If I already spend time to mark question with labels, and then have to spend time answering the same question in chat, I might as well spend less time answering it in the issue directly. But that's a personal opinion.
I think additional rule options template would be nice too.

[2016-02-19 19:57] BYK commented on #5342
I like it too. I'd prefer `invalid` to `as designed` since it is more in line with other issue trackers I use but both are fine at the end of the day.

[2016-02-19 20:54] nmote opened #5344 "Pass filename as an argument to `parse`"
I have been experimenting with type-aware lint rules. The prototype I have combines [Flow](https://github.com/facebook/flow) with `babel-eslint` to annotate the AST with type information.

However, for Flow to be able to provide complete type information it needs the path to the current file so that it can properly resolve imports/requires. To that end I would like to pass the file name as an argu

[2016-02-19 21:52] ilyavolodin commented on #5344
I seem to remember that we already have something like that. We had a request a while back to pass filenames to rules, so we added a function to the rule [`context`](http://eslint.org/docs/developer-guide/working-with-rules#the-context-object). So it should be available inside parse in one form or the other.

[2016-02-19 22:10] nmote commented on #5344
I don't think the `context` object is available to the `parse` function. It's called [here](https://github.com/eslint/eslint/blob/40fec5812417e608d97f89f5028d551a0ef1a4e9/lib/eslint.js#L577) with only the program text and the `parserOptions` object.

[2016-02-19 22:43] ilyavolodin commented on #5344
Oh, sorry, for some reason I though you were talking about `validate` method, not `parse`. I'm not 100% sure we want to pass filename to parser, but I'll let others decide.

[2016-02-19 23:21] nmote commented on #5344
In #5040 @nzakas suggests "better support TypeScript and Flow." This would be a great start. CC @jeffmo.

[2016-02-20 01:29] feross commented on #5234
@michaelficarra @nzakas I should have been clearer. My request is related to the current discussion.

I think we can satisfy everyone if we:

1) Add new rule to disallow untagged single-line template with no interpolation. (e.g. `"use-template-string-only-when-necessary"`)

2) Change `"avoid-escape"` to allow using any quote type to avoid escaping, including backticks. This is the pre-v2 behavior

[2016-02-20 01:36] feross commented on #5234
Yes, but what about the case where the user has a string that contains a single quote and a double quote? Then using a template string is necessary to avoid escaping.

If the changes I suggested in my previous comment are made, and I enable both rules, i.e.:

[code]

Then I would want the following code to be allowed:

[code]

Because I'm using backticks to avoid escaping, `"avoid-escape"` won't c

[2016-02-20 04:11] chinesedfan commented on #5334
Codes in the 3 samples are the same. I think only the last one is valid.

[2016-02-20 04:49] bsbeeks opened #5348 "Proposed no-magic-numbers option: ignoreJSXNumbers"
eslint version: 2.1.0

When using the `no-magic-numbers` rule, numbers that are placed inside of JSX props are caught by the rule. Example:
[code]
returns
[code]
Assigning numbers to props is similar to assigning them to variables, where the name of the prop makes the meaning explicit. In these cases the rule should be ignored. I propose a new option is added to this rule called `ignoreJSXNumbers`

[2016-02-20 06:22] platinumazure commented on #5348
I think this has been discussed before. If you just put the number in quotes (and not in braces), then it won't be parsed as a numeric literal. I don't know JSX though, so maybe there's a reason that wouldn't work.

[2016-02-20 06:26] bsbeeks commented on #5348
Typically with JSX and React you define `propTypes` to validate component props. One of these is `React.PropTypes.number` which requires the prop to be a number and not a string. In those cases (which are common) using quotes won't work.

[2016-02-20 06:28] bsbeeks commented on #4182
Thought I'd take a stab at this one. See :point_up:

[2016-02-20 07:53] afahim commented on #5249
I'll take a look at this over the weekend.

[2016-02-20 11:53] demrks commented on #5270
Just functions, so only if the word 'function' comes right after a paren.

[2016-02-20 12:57] alberto commented on #5329
Ok, here are some ideas. Sorry if we already do any of this or if some idea is stupid or wrong:
- Just make eslint faster:
  - Run multiple parallel processes (assuming we are CPU bound).
  - Enable cache by default.
  - Cache eslint results per file and only rerun for modified files.

- Run fixable rules once, and run eslint without autofix to expose all fixes.

- Multipass:
  - Rerun only for th

[2016-02-20 13:17] alberto commented on #5342
Sounds good. I would try to centralize questions in just one place. Right now, people ask questions in the following places (that I know of): the issue queue, the mailing list, the chat and stackoverflow.

[2016-02-20 13:53] alberto commented on #5332
What about this?
[code]

[2016-02-20 17:06] nzakas commented on #5342
@ilyavolodin the goal wrt to questions is to keep them out of issues so issues only represent tasks. If we stop answering questions in issues, people will eventually stop asking questions in issues. If we answer them, then they will keep doing it. This is a bit of social training.

@byk I think `as designed` is a lot clearer than `invalid`. I want to be as clear as possible.

Another idea, auto co

[2016-02-20 17:33] michaelficarra commented on #5234
@feross The template is *not* necessary there. It is untagged, it has no interpolation, and it is not multiline. The `use-template-string-only-when-necessary` rule would report that.

[2016-02-20 17:41] albertosantini commented on #5313
Also with respect to https://github.com/eslint/eslint/issues/5342 I would describe the label meanings in the CONTRIBUTING docs. (I know nobody read CONTRIBUTING docs).

http://eslint.org/docs/developer-guide/contributing/
https://github.com/eslint/eslint/blob/master/CONTRIBUTING.md

Maybe we add a brief paragraph to the footer of the template, explaining the issue workflow, the main labels and lin

[2016-02-20 20:07] mtpc commented on #5289
Bumping this, since I often face this issue myself.

[2016-02-20 20:23] mdebruijne opened #5350 "prefer-const generates false positive (same scope)"
There already is an issue report that prefer-const generates false positives when variables are declared in a higher scope (issue #5251), but also in the same scope prefer-const generates false positives.

Code (simplified);

[code]

ESLint output;
[code]

ESLint config;
[code]

Versions;
[code]

If you need more information then please let me know.

[2016-02-20 20:40] mdebruijne commented on #5251
@mysticatea, question; this bug and duplicates are closed by the reporter, but is this the expected behavior of prefer-const? In the examples you and others provided you clearly cannot replace let with const without breaking the code.

If this is not the expected behavior of prefer-const then would you be so kind to reopen this issue report?
If this is the expected behavior of prefer-const then wo

[2016-02-20 20:50] jacksonrayhamilton opened #5351 "Rule: Require assigning `this` to a variable"
**When does this rule warn? Please describe and show example code:**

This rule would only permit the `this` keyword if `this` were being assigned to a variable.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

**Is this rule preventing an error or is it stylistic?**

This rule prevents errors. `this` is always originally obtain

[2016-02-20 21:14] michaelficarra commented on #5350
What makes you think that you can't replace that with a const?

[2016-02-20 21:16] ilyavolodin commented on #5350
@mdebruijne You example can be safely re-written with
[code]

[2016-02-20 22:34] mdebruijne commented on #5350
@michaelficarra, @ilyavolodin

I am aware that this can be rewritten to ```const myVar = 'myValue'```

This simplified example demonstrates the incorrect error message ```error  'myVar' is never modified```. The error message is incorrect (and therefore confusing) as the myVar variable is modified in the example provided. The error should probably be changed to something like ```error  'let myVar'

[2016-02-20 22:46] michaelficarra commented on #5350
:-1: This rule is talking about reassignment. You've simply separated declaration from initialisation, but you've still not used any reassignment. I'd be in favour of changing the wording from "modified" to "reassigned".

[2016-02-20 23:01] mdebruijne commented on #5350
Agree. Changing "modified" to "reassigned" better reflects the reasoning behind this rule and makes the error message less confusing.

Pull request required?

[2016-02-20 23:52] platinumazure commented on #5350
@mdebruijne I would advise waiting for the issue to get an "accepted" label, but then yes, you may submit a pull request if you like. I highly doubt this is something the core team would jump on since there are higher priorities.

[2016-02-21 00:28] ilyavolodin commented on #5350
modified -> reassigned sounds good to me. PRs welcome.

[2016-02-21 01:47] mysticatea commented on #5251
@mdebruijne This was the intentional behavior of `prefer-const`. The `foo` can be moved into the `bar` function safely in this case. But I have a plan to delete the behavior and split out to `prefer-smaller-scope` rule (#5284).

[2016-02-21 05:38] juanmnl commented on #5085
Draft #3

![eslint_draft_3](https://cloud.githubusercontent.com/assets/699945/13201144/fee841da-d832-11e5-8f1b-2401dd6d9e0b.png)

[2016-02-21 08:27] axefrog opened #5354 "eslint unable to find babel parser, even though it's installed and referenced correctly"
**Note:** please read the followup comment further below for subsequent context.

In my project root I have .eslintrc specifying "babel-eslint" for the parser. Under normal circumstances everything works fine, but as soon as I stick a node_modules folder in a project subdirectory, eslint fails to find the babel parser when looking at any js file at, or descended from, the folder where the addition

[2016-02-21 08:38] axefrog commented on #5354
Just as a quick followup, in Atom at least, it seems to be able to continue successfully linting a file if it's already open, even after I add a node_modules folder, but if I open it after adding the node_modules folder, the problem presents itself.

[2016-02-21 12:17] tleunen opened #5355 "[newline-per-chained-call] Cannot read property 'loc' of undefined"
I just upstead to eslint 2.2.0 and I'm getting this error now.
I have no idea what causes this. I also use the react plugin.

[code]

[2016-02-21 12:26] tleunen commented on #5355
Ok so I think it's because babel-eslint has not been updated for eslint 2.
The bind operator seems to cause the error.

I keep the ticket open just for you to see it, if there's something you could do, otherwise you can close it.

[2016-02-21 12:57] jeremejevs commented on #5332
This bug is even worse with `arrow-body-style` set to `as-needed`. It essentially makes it impossible to express `a => 1 ? 2 : 3` without ESLint showing an error.

[2016-02-21 13:15] khakulov commented on #5289
This code causes error by me
[code]
i think also, this is a bug

[2016-02-21 15:05] ilyavolodin commented on #5085
Thanks @juanmnl I'm not sure that's the right direction. It's too abstract for me, and doesn't really convey the idea, I think. Also not a huge fan of the font, looks a bit out of place too.

[2016-02-21 15:10] ilyavolodin commented on #5354
@axefrog If ESLint is installed globally, all of the dependencies (parser, plugins, configs) should also be installed globally, and visa versa for local installation. As far as I remember Atom is using local installation of ESLint (unless you changed that in the options). You have to verify that if Atom is running ESLint locally, `babel-eslint` is also installed locally.

[2016-02-21 15:20] WhyEvenTry commented on #5295
Are you sure this was fixed? Code example below, the first version is fine, the second version causes indentation complaints. My setting is

    "indent": [1, 4, {"SwitchCase": 1}]

[code]

Screenshot (WebStorm: the yellow marks eslint errors):
![unbenannt-1](https://cloud.githubusercontent.com/assets/199179/13203374/e66e2b5e-d8b6-11e5-9232-34352d5a7c43.png)

eslint output:

[code]

[2016-02-21 15:50] mdebruijne commented on #5251
@mysticatea; thanks for clarifying, nice rules, much appreciated.

[2016-02-21 17:06] jacobp100 commented on #5085
My vote's for @omerbalyali. Or the current logo. The current logo is still very good and recognisable.

[2016-02-21 17:45] #5350 closed

[2016-02-21 18:23] gilbarbara commented on #5332
Hey! I just ran into this problem..
With `no-confusing-arrow` and `arrow-body-style` rules on, I can't seem to pass the validations.

[code]
triggers `no-confusing-arrow`

[code]
triggers `arrow-body-style`

I think that allowng parentheses around the expression will be great.

[2016-02-21 19:54] jacksonrayhamilton opened #5358 "Create no-global-assign rule"
**What version are you using?**

`2.2.0`

**What did you do?**

I have the file `test.js`:

[code]

I have the configuration `.eslintrc.yaml`:

[code]

I linted the file with the command-line argument `eslint test.js`.

**What happened?**

It did not report any errors.

**What did you expect to happen?**

I expect it to warn me that I am assigning to a global variable with the `false` flag, as des

[2016-02-21 21:34] DelvarWorld opened #5359 "eslint does not error when using var instantiated on same line"
I don't think it should be allowed by eslint, even though it's technically valid javascript (I don't think it creates an implicit global val?). This just bit me and it seemed like eslint should have caught it.

Code:
[code]

[code]

v2.2.0

[2016-02-21 21:55] chrisdias opened #5360 "Add VS Code to list of supported editors"
Can we add [VS Code](https://code.visualstudio.com) to the list of supported editors on the [integrations](http://eslint.org/docs/user-guide/integrations#editors) page in the docs?

The ESLint Extension can be found in the [marketplace](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint).

I don't see the page in `docs/user-guide` to make a P/R.  If there is one, please let

[2016-02-21 22:05] ilyavolodin commented on #5360
@chrisdias Page is located in the website repository here: https://github.com/eslint/eslint.github.io/blob/master/docs/user-guide/integrations.md If you want to send a PR, I'll merge it.
Closing, as this is website issue.

[2016-02-21 22:05] #5360 closed

[2016-02-21 22:06] DelvarWorld commented on #5359
I appreciate @eslintbot but the original ticket contains all of that information.

[2016-02-21 22:09] ilyavolodin commented on #5358
Verified. I think we removed check for overriding global variables from `no-undef` rule, since it didn't make sense to keep there. But this should be erroring on `no-redeclare` with `builtinGlobals` option on, but it doesn't. So it looks like globals overrides are not captured by anything at this point.

[2016-02-21 22:10] ilyavolodin commented on #5359
@DelvarWorld It looks like you are proposing new rule. Could you follow our instructions please? I'm not at all clear why you think the pattern that you posted above should error.

[2016-02-21 22:19] DelvarWorld commented on #5359
Explicitly:

**The version of ESLint you are using (run eslint -v)**
v2.2.0

**What you did (the source code and ESLint configuration)**

[code]

**The actual ESLint output complete with numbers**
There is not output because it passes the eslint check.

**What you expected to happen instead**
You can see on this line:
[code]

That `val` is both the declared variable name and the object key lookup.

[2016-02-21 22:33] michaelficarra commented on #5358
It should not be erroring on `no-redeclare`. There's no declaration here.

[2016-02-21 22:44] juanmnl commented on #5085
Good to know @ilyavolodin :D
Just to break a bit the abstraction (why i made them like that):
The first draft is the (node) hexagon with the edges protected/wrapped (by eslint). The second is a little variation of the same idea, without the top and bottom hard edges, so it seems like a protective case for the hexagon. And the third is by taking the js logo (square) as 2D, the node hexagon (perspec

[2016-02-21 22:54] axefrog commented on #5354
@ilyavolodin but if it's not installed globally, you can't use it on the command line... are you saying that if you want to use it locally it must be via a separate tool such as gulp or an IDE integration?

[2016-02-21 23:16] ilyavolodin commented on #5358
Ah.. sorry, you are correct. I guess in that case it should trigger `no-native-reassign`. Although this is not a native method... Not sure. @eslint/eslint-team anyone knows which rule should be catching this?

[2016-02-21 23:18] ilyavolodin commented on #5354
No, you can still run it through full path, i.e. `node node_modules/eslint/bin/eslint.js`. But when you run it like that, it will be searching for locally installed plugins/parser. So in your case it's working fine. It looks like your Atom might be setup to run global installation of ESLint, and you don't have `babel-eslint` installed globally.

[2016-02-21 23:51] kaicataldo commented on #5313
@albertosantini The template is for creating new issues, and I don't know the person creating the issue is the one making labels, etc. I wonder if it might make sense to put that in a pull request template (which we haven't discussed here yet).

[2016-02-22 00:14] chrisdias commented on #5360
awesome, thanks.  PR created!

[2016-02-22 00:54] alberto opened #5362 ".eslintignore paths should be absolute"
Our .eslintignore patterns are recursive. This is one:
[code]
is causing [issues](https://travis-ci.org/eslint/eslint/jobs/110553031#L503) with the build because it incorrectly matches `tests/templates/pr-create.md.ejs.js`

[2016-02-22 01:23] alberto commented on #5362
After looking into it, this doesn't seem to be the cause of the PR failure, since it's just a warning and not an error. So the issue is just the current pattern prevents the above file from being linted (and could prevent others in the future).

[2016-02-22 01:33] ilyavolodin opened #5363 "One-var incorrectly flags declarations"
**What version of ESLint are you using?**
v2.2.0
**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
No error
**What actually happened? Please include the actual, raw output from ESLint.**
[code]

Don't think this is correct behavior, since there'

[2016-02-22 01:54] alberto commented on #5363
I think the rule is working as intended since there is no block scope.

[2016-02-22 03:21] kaicataldo commented on #5363
I think what @alberto said is correct. `catch()` is a function, but the `try` block is not, so it is in the same scope as the first two `var`s. I tried this in the Chrome's console and this was the result:
[code]
Executing the above code yields:
[code]

[2016-02-22 04:08] platinumazure commented on #5363
@ilyavolodin This seems like correct behavior to me as there is no new scope. I think the "correct code" in that case is as follows:

[code]

[2016-02-22 05:51] kaicataldo commented on #5009
Just an update, since it's taken me longer to get to this than I first expected: I looked at the old code and decided I wanted to take a different approach. I worked on it a bit tonight and have the rule and basic tests working. Planning to add a lot more test cases so we know it REALLY works and then will write the docs and open a PR.

[2016-02-22 08:56] albertosantini commented on #5313
@kaicataldo The aim of the suggestion was a try to lower the effort to manage the issue.

For instance, adding the label `needs info` is a good surrogate for a comment "asking more info". Quite often the user ignores the label, because they don't know what are the next steps (or because they are `users`).

So I suggested that kind of sentence or link in the template, avoiding to add the usual comm

[2016-02-22 09:11] diorahman commented on #5363
How about using `let`?

Does `try {` open a new scope?

[2016-02-22 09:56] dtinth commented on #5332
Would love to work on it, but have been quite busy, so I am not sure whether I’ll have time to do it.

@nzakas @jeremejevs @gilbarbara What do you think about @alberto’s case? Does `var x = a => (true ? 2 : 3)` look confusing?

For me, I think it’s pretty clear that it’s a function that returns some value, because I get used to seeing this: `=> (`.

[2016-02-22 11:52] BYK commented on #5358
My hunch is `no-implicit-globals`

[2016-02-22 11:56] BYK commented on #5342
Alright, fair point :)

:+1:

[2016-02-22 12:01] madgeniy commented on #667
Please, help me to avoid annoying "chained call to function" when I use JQuery calls. How I can do it?

[2016-02-22 12:06] BYK commented on #5351
I think with the introduction of arrow functions and `.bind` makes this an anti-pattern for :-1: for including this in core. That said this is a good idea for a custom plugin if you want to use it.

Btw. I think you should trim down your examples a bit to make it very clear which part would cause a warning and would not. Inline comments or just shorter examples can help.

[2016-02-22 12:25] mysticatea commented on #5351
Thank you for this issue.

I think `no-invalid-this` rule has the same purpose.
Is `no-invalid-this` rule not enough to you?

[2016-02-22 12:27] BYK commented on #5289
Working on this.

[2016-02-22 12:30] mysticatea commented on #5359
Can you use `no-use-before-define` rule?

[2016-02-22 12:34] mysticatea commented on #5354
May [eslint-plugin-node](https://www.npmjs.com/package/eslint-cli) help you?

[2016-02-22 13:46] BYK commented on #5260
This is taking a bit longer than I expected so anyone willing to give it a try, don't wait for me :)

[2016-02-22 13:51] ilyavolodin commented on #5009
:+1:

[2016-02-22 15:07] gyandeeps commented on #5358
Look at scenario 3 here https://github.com/eslint/eslint/issues/5143 and also the comments on this issue.
it might help to diagnose this issue.

[2016-02-22 15:15] ilyavolodin commented on #5363
Now that I had time to think about it, it does look like the rule is doing the right thing. It's a bit inconvenient from time to time, but it just wants all of the declarations under one `var` statement, which makes sense.
@diorahman Not sure if `try` is treated as a block for `let`. You might want to try it with `one-var` rule, and if it behaves incorrectly, open a new issue.

[2016-02-22 15:15] #5363 closed

[2016-02-22 15:16] ilyavolodin commented on #5354
It seems like ESLint is behaving as described in the documentation for this case. Closing. Feel free to reopen if you do not agree.

[2016-02-22 15:16] #5354 closed

[2016-02-22 15:18] ilyavolodin commented on #5348
Not familiar enough with React to comment. @btmills @xjamundx could you comment please? It feels like a valid case, as I know `propTypes` are considered one of the best practices for React. On the other hand, ESLint doesn't support React, and this is not part of the JSX spec, so maybe it should be a request for `eslint-plugin-react` instead of core?

[2016-02-22 15:25] ilyavolodin commented on #5336
Rule severity is controlled by the core engines. Rules can't affect it. So severity is not possible to change. Adding `overrides` for different keywords seems like an overkill to me, but let's see what the rest of the team feels like.
CC: @eslint/eslint-team

[2016-02-22 15:45] jeffshaver opened #5366 "semi: [2, "never"] not erroring when semi-colon is after a static property"
ESLint Version: 2.1.0

If I have `semi: [2, "never"]` set, I would imagine this would cause an error:

[code]

Currently, I am getting 0 output from ESLint about this.

* [Actual source code](https://github.com/jeffshaver/safe-framework/blob/scatter-plot-component/src/DefaultScatterPlot/DefaultScatterPlot.jsx#L13)

* [ESLint Config](https://github.com/jeffshaver/safe-framework/blob/scatter-plot-co

[2016-02-22 15:53] platinumazure commented on #5332
I think an arrow shouldn't be considered "confusing" (as in, could be confused with `>=`) if there is a parenthesis token in between. Or at least, there should be an option for it. (I was trying to think if `>= (` was always non-parseable, but unfortunately it does parse in many cases, so it should probably be an option for the user.)

[2016-02-22 16:00] nzakas commented on #5344
@nmote can you explain how you see this working? Keep in mind, we'd need something that won't interfere with how other parsers work.

[2016-02-22 16:04] tdd opened #5368 "The "no-irregular-whitespace" rule prevents proper typography in comments outside English."
Hey there,

So I moved to Standard, and am advocating it. It finally got me to jump ship on semicolons, and I use this despite the "space before function decl/expr opening parens" rule, which I find fugly.

So thanks a ton for this cool tool!

**But…**  The `no-irregular-whitespace` rule is messing with my comments. I'm a trainer among other things, and many of my codebases are for teaching purpos

[2016-02-22 16:04] #1598 closed

[2016-02-22 16:06] nzakas commented on #5366
This is because you are using babel-eslint and an experimental ES feature. Please follow up with babel-eslint.

[2016-02-22 16:06] #5366 closed

[2016-02-22 16:09] nzakas commented on #5358
Looks like this use case fell through the cracks. I don't know that there's an existing rule where this check makes sense. Do we need `no-global-assign` or something similar?

[2016-02-22 16:12] nzakas commented on #5342
Here's another:

* `babel` - when added, autocomment that the issue is related to babel-eslint and close the issue.

[2016-02-22 16:21] jeremejevs commented on #5332
@alberto Your example isn't limited to ternary, though. Any (every?) "concise body" arrow function can be confusing in one way or another, no?

[code]

Isn't this static typing jurisdiction?

[2016-02-22 16:32] ilyavolodin commented on #5358
@nzakas This check used to be in `no-undef`, but was removed from there. I think we should add a new rule. `no-global-assign` sounds reasonable.

[2016-02-22 16:38] nmote commented on #5344
I think the clearest thing would be for me to just put up a PR and we can discuss there. What I have is just a third argument passed to `parse` with the filename. Since current parsers only use the first two arguments it would not interfere with existing parsers. I'm certainly open to other ideas on how to accomplish this but this idea seems simplest.

[2016-02-22 16:49] hzoo commented on #5344
So either `parse(code: string, options: Object, filename: string)` or `parse(code: string, options: Object)` where you can use `options.filename`?

[2016-02-22 16:54] nmote commented on #5344
Both of those would be fine with me, although perhaps `options` would need to be renamed if we go with the latter.

[2016-02-22 17:01] jacksonrayhamilton commented on #5351
Arrow functions do not completely (adequately) solve `this` binding issues. Actually, I contend that arrow functions and `.bind` are both anti-patterns. Assigning `this` to a variable solves the same issues in a more consistent manner.

For arrows, see my post [here](http://stackoverflow.com/a/28135120/1468130), under "Regarding lexical `this`". You're free to disagree, but at the very least this

[2016-02-22 17:30] jeffshaver commented on #5366
Here is the babel-eslint issue:  babel/babel-eslint#260

[2016-02-22 17:52] DelvarWorld commented on #5359
@mysticatea with
[code]
in my `.eslintrc`, same behavior, no error

[2016-02-22 17:56] mysticatea commented on #5359
Hmm, it's strange...

In my local:

[code]

[2016-02-22 18:03] DelvarWorld commented on #5359
Ah ok, using the `no-use-before-define` rule **does** work for me, thanks. I was using an older version of eslint by accident by forgetting to select the correct node version with nvm in a new shell.

[2016-02-22 18:03] #5359 closed

[2016-02-22 18:49] bsbeeks commented on #5348
@ilyavolodin that's a good point. I was thinking since ESLint supports JSX it would live here, but given the React `propTypes` scenario adding it to `eslint-plugin-react` would make more sense. If that's the case, is there a way to extend/add to this rule from within the plugin? It seems overkill to create an entirely new rule for something that can be solved with a rule option.

[2016-02-22 19:24] ilyavolodin commented on #5348
@bsbeeks Unfortunately we don't currently have a mechanism to extend existing rules. It's been brought up a few times before, but we don't have any concrete proposals for solving this now. So in `eslint-plugin-react` it would have to be a new rule.

[2016-02-22 19:41] xjamundx commented on #5348
My 2 cents is that we should exclude JSX from these checks, by default.

Do we ever want magic number checking in JSX?

Why should it warn on  `<input maxLength={10} />`?

[2016-02-22 19:45] ilyavolodin commented on #5348
@xjamundx Because 10 is a magic number?:-)

[2016-02-22 19:45] bsbeeks commented on #5348
@xjamundx I agree. The only use case I can think of where I'd want it to check is if the number is inside an array `<MyComponent someProp={[2, 6]} />`. In that case I'd want those numbers assigned to variables.

[2016-02-22 19:48] xjamundx commented on #5348
haha I guess I don't know what a "magic number" is for this rule.

[2016-02-22 20:15] jfmengels opened #5369 "Improve error message when missing errors field in `rule-tester`"
In version 1.10.3 (and probably earlier), when I forget to specify the `errors` field in an invalid case when using `rule-tester`, I get the error `'Cannot read property 'length' of undefined'`. I think it would be nice to give a more explicit error message.

[code]

I'm willing to submit a PR [(actually already prepared one, to update when accepted)](https://github.com/jfmengels/eslint/tree/throw

[2016-02-22 20:17] gyandeeps commented on #5369
Yes, It happened to me also this morning. I think it would be good to have an appropriate message.

[2016-02-22 20:22] BYK commented on #5351
I'd prefer you to not express your own opinions as mere facts. Arrow functions and `.bind` fixes the issues you mentioned quite properly. jQuery or any other library overloading `this` is not the fault of those features.

Anyways, I'm not convinced but I'm just one person so deferring to @eslint/eslint-team for more opinions.

[2016-02-22 20:28] #5218 closed

[2016-02-22 20:32] alberto commented on #5332
@jeremejevs Every arrow function with a concise body and taking exactly one argument, yes. I think that's (or should be) the purpose of the rule.

[2016-02-22 20:40] jacksonrayhamilton commented on #5351
Apologies, I'm not trying to express opinion as fact. When I use language like "it is too hard" and "it is much easier," I actually do mean "for myself;" I use that language with the expectation that it would be true for other people (just based on counting the number of places where an error could occur).

FWIW, ESLint does take a library into account in one of [its examples](http://eslint.org/do

[2016-02-22 20:45] BYK commented on #5351
@jacksonrayhamilton no worries, I just thought your response a bit too aggressive :)

Anyways, your points make sense, hence I deferred back to the team. Me not being convinced doesn't mean it won't end up in ESLint core ;)

[2016-02-22 20:46] alberto commented on #5369
+1

[2016-02-22 21:16] pillowfication opened #5371 "`no-self-assign` rule failing for shorthand assignment operators"
[code]
This fails for all the [similar operators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Assignment_Operators) when it should be allowed.

[2016-02-22 21:21] nzakas commented on #5329
I had an "ah ha" moment this weekend. The reason why we care about conflicts is because we report linting errors during autofixing, and if two rules conflict, you're going to get a linting error reported that is inaccurate. To me, that's the cardinal sin of the current implementation - lying to the user. We should never lie, even by accident.

Then it occurred to me: we can remove this problem by

[2016-02-22 21:23] mysticatea commented on #5371
Thank you for this issue.

It's my mistake!

[2016-02-22 21:29] platinumazure commented on #5329
Just speaking for myself, I think it's a much worse sin when we apply a fix and then that *introduces* a linting error. I don't think I've seen cases where lint errors were inaccurate as a result of a fix, unless you're referring to the omission of an error that should show up when you say we "lie to the user"?

[2016-02-22 21:41] ilyavolodin commented on #5369
Sounds good to me! Accepted

[2016-02-22 21:44] nzakas commented on #5329
I disagree. Lying about what's actually going on is much worse than introducing a linting error. If you're being lied to, you don't know what to fix.

[2016-02-22 22:33] mikesherov commented on #5329
In JSCS, we kept number fixer until number of remaining errors didn't go down. Then we stopped and reported the remaining number of errors we couldn't auto fix. Does that sound right @nzakas?

[2016-02-22 23:06] nzakas commented on #5329
@mikesherov are you asking me if you're correct or suggesting that ESLint might do that?

[2016-02-22 23:08] mikesherov commented on #5329
Suggesting it should be the desired behavior.

[2016-02-22 23:18] nzakas commented on #5329
Ah okay. That's basically what we're already doing (though we just do one pass), and that's why we have issues with creating conflicts and how we ultimately end up lying to the user.

My original claim (in this issue) is that `--fix` shouldn't bother doing any work that cannot possibly result in a fix, because I'm not sure of the value of doing that other work. (We had a long-ish discussion about

[2016-02-22 23:36] nzakas commented on #5344
I thinking something in the options object makes the most sense. My fear of adding another parameter is that we could run into collisions should a parser randomly decide they want to add a third parameter.

My only fear about `filename` in the options object is whether or not that could potentially clash with another parser's options. We might need something a bit more specific.

[2016-02-22 23:38] nzakas commented on #5205
I just wanted to add some data I got from GitLab:

1. They'd be willing to give us an Enterprise Edition license so we could run it ourselves
1. They already have an easy way to import a project from GitHub. The only thing that doesn't currently work is importing milestones: https://gitlab.com/gitlab-org/gitlab-ce/issues/13421
1. They're working on a unified way to look at issues across repos: htt

[2016-02-22 23:38] nmote commented on #5344
Sounds good to me. Suggestions for a specific option name? `currentFilename`?

I'll put together a PR.

[2016-02-22 23:41] nzakas commented on #5351
@jacksonrayhamilton Thanks for the suggestion. While you bring up some interesting points, I think this is best left as a custom rule. It's a bit too specific to a pattern that I haven't seen a lot of. The good news is that you can create your own rules and publish them as plugins, so you can still make this rule for yourself: http://eslint.org/docs/developer-guide/working-with-plugins#rules-in-pl

[2016-02-22 23:41] #5351 closed

[2016-02-23 00:18] nmote commented on #5344
`pathToFile`? `pathToCurrentFile`?

[2016-02-23 00:36] ilyavolodin commented on #5344
@nmote Do you just need filename, or do you need a full path to a file?

[2016-02-23 00:42] platinumazure commented on #5329
I seem to be missing something. Can you please give me an example of how we lie to the user in the current implementation? Thanks!

[2016-02-23 01:06] jacksonrayhamilton commented on #5351
That's unfortunate for me to hear. A reason I would like for this functionality to be built-in would be to raise awareness about the continued effectiveness of assigning `this`. I don't find the trade-offs of the newer binding methods worthwhile, despite that they seem to be popular.

I have another idea, which might result in less specificity: We could update `no-invalid-this` to be a bit more ge

[2016-02-23 01:23] platinumazure commented on #5351
@jacksonrayhamilton Not speaking for the core team, but I think you would do better to "show me the money" by creating a custom rule in a plugin, and then let the NPM downloads prove the utility of your use case. At this point, I (at least) am skeptical, and I think you would need to evangelize your suggested pattern (but that the issue tracker of this repo is not the place to do it). If you belie

[2016-02-23 02:04] nmote commented on #5344
Well, we at least need a relative path. Sorry for not being clearer throughout. With that in mind I think `pathToFile` probably makes more sense.

[2016-02-23 02:19] #5371 closed

[2016-02-23 02:21] ilyavolodin commented on #5344
That's why I asked. Yes, or `filePath` would be another options. Although all of them sort of imply that the variable only contains directory that the file is in, not the file name itself.

[2016-02-23 02:48] #5338 closed

[2016-02-23 03:48] platinumazure commented on #5329
Also @nzakas, unrelated to our other discussion, I'm wondering if I should hold off on implementing plugin autofix for a while? Unless you think the actual fix representation (range to replace, text to replace with) is highly unlikely to change, in which case I can press on. What do you think?

[2016-02-23 04:11] IanVS commented on #5313
@albertosantini Our bot adds a [comment](https://github.com/eslint/eslint/issues/5355#issuecomment-186856149) whenever we add the `needs info` label.  If there are other labels which aren't obvious, maybe we could consider a similar approach.  I could see having one for `accepted` along the lines of "This issue has been marked accepted, and is free for anyone to submit a pull request (link to pull

[2016-02-23 04:55] xjamundx commented on #5351
Happy to help anyone write a custom rule and publish it to NPM.. Always a
great testing ground for new ideas! You at all interested
@jacksonrayhamilton?

On Mon, Feb 22, 2016 at 5:23 PM Kevin Partington <notifications@github.com>
wrote:

[2016-02-23 05:46] jeremychone opened #5376 "no-unused-vars raised when template literals"
Not sure if I am missing something but variables used template literals do not seem to count as used vars.

![image](https://cloud.githubusercontent.com/assets/74671/13242825/a6afc124-d9ad-11e5-84c5-7db1585f339c.png)

[code]

Traditional javascript do not raise any warning.
![image](https://cloud.githubusercontent.com/assets/74671/13242863/006a152a-d9ae-11e5-9724-924791ad0559.png)

Here is my .esl

[2016-02-23 05:49] mysticatea commented on #5376
Thank you for this issue.

[code]

This is a string, not a template.
Please fix it with:

[code]

[2016-02-23 05:55] jeremychone commented on #5376
Ho, now, I am embarrassed, you are right, it passes now.
![image](https://cloud.githubusercontent.com/assets/74671/13242906/85a37ab0-d9ae-11e5-8387-7061e0d62a58.png)

Silly and lazy copy/paste when playing around. Strange thing is that my wrong code ran on node.js 5.x.

Btw, just moved to eslint from jshint and looks very good and smooth so far. Great job!

[2016-02-23 06:01] jacksonrayhamilton commented on #5351
@platinumazure, I have been trying to get into blogging for a while, I think that would be a good outlet to share my findings in code quality and style.

Thanks for the offer @xjamundx! I am pretty comfortable with ASTs and am confident I can write this myself.

[2016-02-23 06:02] mysticatea commented on #5376
Thank you for using ESLint! :+1:

Actually, backticks seem to be confusing people a bit.
I have seen reports about template literals sometimes.