[2016-05-13 12:38] #6137 closed

[2016-05-13 12:42] mysticatea commented on #6127
Sounds good to me.
I'm also not sure it's which a bug or an enhancement.

[2016-05-13 12:59] Xflofoxx opened #6155 "Error in the CLIEngine.getErrorResults(report.results) returned array of objects."
**What version of ESLint are you using?**
eslint@2.9.0
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint@6.0.4

**What did you do? Please include the actual source code causing the issue.**
I'm using the grunt-eslint module that do this call:

[code]
**What did you expect to happen?**
I think it should filter the results getting only the "errors".

**What actually happened?

[2016-05-13 13:14] #6124 closed

[2016-05-13 13:15] ilyavolodin commented on #6146
Agree. I think this is better as plugin.

[2016-05-13 13:16] ilyavolodin commented on #6144
I think we should just update documentation to make it clear that configs are deep-merged.

[2016-05-13 13:25] #6130 closed

[2016-05-13 13:27] gausie commented on #6152
I understand that JavaScript will not stop you from modifying an object's properties if you use `const`. This is more to support a developer/team's decision that they might want to indicate (for code readability) that they intend for an object's properties to be changed by using `let` instead of `const`.

I definitely don't think this should be the default behaviour, but it seems like a reasonable

[2016-05-13 13:31] #6085 closed

[2016-05-13 13:38] alberto commented on #5936
That would be a refinement for `as-needed`, not a third option, which is what @nzakas and @mikesherov proposed. Also I am not sure the terminology `skip` (or `allow`) is clear in this case.

[2016-05-13 14:18] Mouvedia commented on #3218
@willklein [space-before-function-paren](http://eslint.org/docs/rules/space-before-function-paren#anonymous-always-named-never)

[2016-05-13 14:21] danny-andrews commented on #6144
It still doesn't solve these types of issues where you can't override behavior from extended configs. A non-breaking change we could make is to allow a predefined string to be passed as the second argument of a rule which tells eslint to use defaults. Something like,
[code]
This would disable merging of rule options for this rule and use the defaults defined for this rule.

[2016-05-13 14:25] Mouvedia commented on #6146
#6078 is related as well.

[2016-05-13 14:39] CodyReichert commented on #6152
I agree with @mysticatea that not throwing an error would be misleading - since that's how JavaScript works. I can see the benefit of having it as an option, though. Maybe an option on `prefer-const`, say `property-assignment`, that could be set to `always` or `never` would be helpful.

As far as the default behavior of the rule - it should match the JS specification.

[2016-05-13 14:58] Mouvedia commented on #6059
related: #938

[2016-05-13 15:10] Mouvedia commented on #6009
-1 the bot won't be able to tell the difference.

[2016-05-13 15:30] btmills commented on #5613
@Kyle-Mendes I believe so.

@eslint/eslint-team what do you think about https://github.com/eslint/eslint/issues/5613#issuecomment-216624115?

[2016-05-13 15:31] ilyavolodin commented on #6152
This is not something we can do with static analysis 100% correctly. Here's an example:

[code]

No way for us to track that `temp` will modify a property of an object.

[2016-05-13 15:41] platinumazure commented on #6137
@mysticatea I'm not sure `no-shadow` covers object properties- does it?

[2016-05-13 16:28] mikesherov commented on #6009
The bot could tell the difference very easily. And it was only when the issue went truly dead. Relevant issues would not be closed too early.

We would be able to say `@eslintbot pending` in a comment, and if anyone responds at all, don't close.

Point being there are infinite ways to make this work functionally if we like the idea.

[2016-05-13 17:44] ilyavolodin commented on #6137
@platinumazure This issue is not about object properties (and with object properties there is no shadowing). This is about having the same name for function and arguments.

[2016-05-13 17:45] #6116 closed

[2016-05-13 20:49] alberto commented on #6144
I think there should be an explicit default option for `eqeqeq`

[2016-05-13 21:30] alberto commented on #6155
Confirmed using --quiet breaks the output of some formatters.

Working on this.

[2016-05-13 23:45] ming-codes opened #6158 "2.10 parse error"
**What version of ESLint are you using?**

2.10

**What parser (default, Babel-ESLint, etc.) are you using?**

Tried both default and babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No parse error

**What actually happened? Please include the actual, raw output

[2016-05-13 23:54] guyellis commented on #6158
Just upgraded to 2.10. I'm hitting this same error.

[2016-05-14 00:01] 311chaos commented on #6158
Same here. Latest build picked up 2.10. I am now getting 2 errors. Both seem to be related to usage of `async`.

```export default async context => {.... }```

and

```export default async (context) => { ...} ```

[2016-05-14 00:04] gyandeeps commented on #6158
@guyellis @ming-codes Does same setup works with `1.9.x` of eslint?

I think this is more of an issue with `babel-eslint` as we dont support `async` parsing right out of the box.

[2016-05-14 00:11] guyellis commented on #6158
@gyandeeps yes. works on 2.9.x. The [previous Travis build](https://travis-ci.org/guyellis/plant/builds/130137262) on the project I linked had no lint errors. The only change (from greenkeeper) was to change the eslint version to 2.10.0. [This is the commit that changed eslint](https://github.com/guyellis/plant/commit/3999a57eb54ba38bb55cf554e4052e5741b7e38a) that kicked off that build.

[2016-05-14 01:03] gyandeeps commented on #6158
Found the issue: Currently its not loading the external parser rather using the default (espree) parser.
Regression introduced here : https://github.com/eslint/eslint/pull/6108

[2016-05-14 01:11] dennyferra opened #6159 "TypeError: Cannot read property 'value' of undefined"
**What version of ESLint are you using?**
2.10.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Just ran eslint on my project as normal

**What did you expect to happen?**
No parser error

**What actually happened? Please include the actual, ra

[2016-05-14 01:12] framerate commented on #6159
I'm seeing this too this morning. eslint@2.10.0 and eslint@latest both

[2016-05-14 01:12] CodyReichert commented on #6159
Also see https://github.com/eslint/eslint/issues/6159

[2016-05-14 01:15] framerate commented on #6159
If I drop to 2.9.0 I get
[code]

FYI

[2016-05-14 01:18] gyandeeps commented on #6159
its because of #6158 .

[2016-05-14 01:45] CodyReichert commented on #6159
Pinning `eslint@2.9.0` and using `babel-eslint@latest` should be working.

[2016-05-14 01:45] meeber commented on #6159
This particular issue occurs with the default parser as well. Here's a barebone example:

**ESLint Config:**

[code]

**File being linted:**

[code]

**Error:**

The error only occurs in `2.10.0` and only when the `no-return-assign` rule is enabled.

[2016-05-14 01:48] gyandeeps commented on #6158
@guyellis @ming-codes Guys can u try the solution on here #6160

[2016-05-14 01:49] nzakas commented on #6158
The mistake is here: https://github.com/eslint/eslint/pull/6108/files#diff-f7bf2b665273dfa66ffa4ad7c0a52bb9R252

`parser` or `parserOptions` shouldn't be provided in that object literal if they are null or undefined.

[2016-05-14 01:56] 311chaos commented on #6158
I tested #6160 changes against 2.10.0, and it resolved the issues that I was seeing.

[2016-05-14 02:01] gyandeeps commented on #6159
Guys can u plz try the solution on here #6160

[2016-05-14 02:01] gyandeeps commented on #6158
Thanks for testing @311chaos

[2016-05-14 02:06] SpainTrain commented on #6158
Also tested https://github.com/eslint/eslint/pull/6160 and solved the issue for me as well.

[2016-05-14 02:12] meeber commented on #6159
@gyandeeps Same error using that build.

A similar-looking error occurs with the new `returnAssign` option in the `no-extra-parens` rule.

This example is also with the default parser. I'm not using babel.

**ESLint Config:**
[code]

**File being linted:**
[code]

**Error:**

[2016-05-14 02:16] gyandeeps commented on #6159
@meeber Can u plz log a separate issue for ur error.

[2016-05-14 02:24] gyandeeps commented on #6159
@meeber Plz log a separate issue for that rule. thanks

[2016-05-14 02:34] meeber opened #6161 "TypeError from returnAssign option in no-extra-parens rule"
**What version of ESLint are you using?**

2.10.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

```yml`
rules:
  no-extra-parens:
    - error
    - all
    - returnAssign: false
[code]

**What did you expect to happen?**

For `eslint` to exit without error.

**What actually happened? Please include the actual, raw output from ESLi

[2016-05-14 09:26] mysticatea commented on #6135
I'm working on this.

[2016-05-14 09:33] alberto commented on #6146
Agree it's a better fit for a custom rule, but not in core.

[2016-05-14 09:53] RRMoelker opened #6167 "key-spacing rule fixer"
The key-spacing rule does not yet have a fixer for auto formatting object declarations. I would like to have a fixer to add and remove whitespaces where applicable for both single and multiline code fragments.

I already made the code to solve this issue. I'll link the PR a.s.a.p.

[2016-05-14 10:07] mysticatea commented on #6097
I'm working on this.

[2016-05-14 11:41] mysticatea commented on #6058
I added `accepted` label since there are 3 :+1:s in our team.

[2016-05-14 13:09] mysticatea commented on #6072
@ilyavolodin It seems to be closed already: #5203

[2016-05-14 13:11] mysticatea commented on #6072
I updated this proposal.
If there is not objection opinions, I want to implement this.

[2016-05-14 13:18] mysticatea commented on #6073
I updated this proposal.
Especially, I added the table of related rules. I think that keeping the separation of this and #6072 is fine because the table.

If there are not objection opinions, I want to implement this.

[2016-05-14 13:20] mysticatea commented on #6075
I updated this proposal.
If there are not objection opinions, I want to implement this.

[2016-05-14 13:26] mysticatea commented on #6077
I updated this proposal by the result of discussion.

[2016-05-14 13:37] mysticatea commented on #6065
@eslint/eslint-team Any insights about combining?

[2016-05-14 13:38] alberto commented on #6077
I would use `ignorePattern` instead of `ignoreWords`

[2016-05-14 13:41] mysticatea commented on #6077
I updated it.

[2016-05-14 13:59] alberto commented on #6065
Now that I read this again I am not sure it is a big problem if the rules are separated.
I was thinking there would be a conflict between `func-names: never` and `func-name-matching: on`

Given this code:
[code]

We would get two errors on `bar`, one saying "Unexpected named function expression bar" and the other "Function name does not match property name". But it's less of a conflict than I toug

[2016-05-14 14:07] egoroof commented on #6158
I'm the same here. Will it be short release 2.10.1 with the fix or it will come in 2.11?

[2016-05-14 14:10] mysticatea commented on #6158
Sorry about this.
We have a plan to release v2.10.1 within this weekend.

[2016-05-14 14:45] mikesherov commented on #6065
This seems like two rules to me, like @alberto said.

[2016-05-14 14:48] alberto commented on #6065
heh, it was actually @mysticatea who was proposing that. I just backed out 😅

[2016-05-14 14:52] #6159 closed

[2016-05-14 14:53] ilyavolodin commented on #6167
Seems reasonable to me.

[2016-05-14 15:00] ilyavolodin commented on #6072
:+1:

[2016-05-14 15:04] #6158 closed

[2016-05-14 15:06] #6161 closed

[2016-05-14 15:13] alberto opened #6171 "`max-statements-per-line` max option has no minimum"
max should be >= 0

Not sure if this would qualify as a bug.

[2016-05-14 15:14] #6155 closed

[2016-05-14 15:17] #6097 closed

[2016-05-14 15:27] guyellis commented on #6158
@gyandeeps apologies for the tardy response. Yes that fixes it. I just [referenced the current tip](https://github.com/guyellis/plant/commit/5d9ce6fa5241c5351fd9710cc0ac2abe2f384aed) of the master branch in ESLint and that fixes the build. Travis is complaining about the direct reference to GitHub however everything is building and passing localy.

You and the others working on this are awesome! T

[2016-05-14 15:56] alberto commented on #6171
I had forgotten I proposed this for other similar rules: https://github.com/eslint/eslint/issues/4941 XD

[2016-05-14 16:01] mysticatea commented on #6171
Actually, `>=1`?

[2016-05-14 16:04] vtfn commented on #6153
Should this be fixed already in 2.10.1?
If so I am still having the same issue.

[2016-05-14 16:08] alberto commented on #6171
I set it to 0 to go in line with the other rules, just to be safe.

[2016-05-14 16:15] alberto commented on #6153
@vtfn oh, I see. I missed the first line and it seems I didn't completely fix the issue.

[2016-05-14 16:15] mysticatea commented on #6153
Ops, I confirmed it. It's my mistake.

![image](https://cloud.githubusercontent.com/assets/1937871/15269457/c16a21a4-1a39-11e6-8ced-454190d670be.png)

The `const` declaration have that range, so 2 statements exist in line 5.
We should use the last token's position at [max-statements-per-line.js#L78](https://github.com/eslint/eslint/blob/51e05af39829b047cead58c1f89f0f3d48bba7dc/lib/rules/max-statem

[2016-05-14 16:19] mysticatea commented on #6171
Fair enough.

[2016-05-14 17:05] mysticatea commented on #6073
Ops, `array-bracket-spacing` is covering destructuring's ArrayPattern nodes. So this rule also should cover it as well.
So..., this rule should be able to configure of line breaks each kind (literals / patterns).

[code]

[2016-05-14 17:28] pedrottimark commented on #5774
Discovered while prototyping: rule descriptions can contain backticks and removed / recommended / fixable paragraphs contain links, so **gensite** function in Makefile.js is where to use the metadata in markdown notation before processing by kramdown. It also keeps the new logic in JavaScript 😀

To avoid conflict with pull requests in progress, it can ignore obsolete manually edited lines.

@nzaka

[2016-05-14 18:01] alberto commented on #6153
@mysticatea I am not sure what you are proposing, or what to do here, since we shouldn't skip every multiline statement. Do you want to take over this?

[2016-05-14 19:16] kaicataldo commented on #6123
Ah, re-read this and realized I misunderstood your question. I'm not aware of any discussions to actually add this functionality into core (for some reason I read that as moving it into the org - not the same thing!).

[2016-05-14 19:24] onemen opened #6173 "Wrong error from max-statements-per-line on version 2.10.1"
**What version of ESLint are you using?**
2.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw output from ESLint.**
error on line 8: ```

[2016-05-14 19:51] mysticatea commented on #6153
Sure, I'm working on this.

[2016-05-14 19:53] alberto commented on #6173
This was introduced in #5993

[2016-05-14 19:53] kaicataldo commented on #6173
Was able to reproduce this locally. The rule actually completely ignores `else` statements if they are BlockStatements. Seems like a bug to me, especially considering the `if` is allowed.

[2016-05-14 19:55] kaicataldo commented on #6173
I can work on this.

[2016-05-14 19:56] andrewvaughan opened #6175 "Support separate requires in one-var"
**ESLint Version:** 2.10.1
## Problem:

A common request (e.g, #3091, #1232) is for the `one-var` rule to properly function in tandem with `no-mixed-requires`.  I agree with this opinion, as the two methods are part of the core set of rules provided with ESLint and should properly support each other.  I also believe there is a way to support this without introducing a dependency between the two ru

[2016-05-14 20:10] mysticatea commented on #6173
I found a fun thing.

[code]

[code]

This is caused by traversal order.
In block body is traversed by `for` loop in BlockStatement handler. So it address inside of the `if` statement after `bar;`.

[2016-05-14 20:14] andrewvaughan opened #6176 "Allow padding on simple returns for newline-before-return"
**ESLint Version:** 2.10.1

## Problem:
Using `newline-before-return` with `padded-blocks` causes a conflict, as `padded-blocks` insists on padded spacing for functions, and `newline-before-return` complains if there is a newline before a return statement by itself in a function.

## Recommended Solution:
Add an option to `newline-before-return` to ignore scenarios where the only statement in a fu

[2016-05-14 21:23] alberto commented on #6176
I think `newline-before-return` should not error when it is the first statement in a block, regardless of the newlines and that should be left to `padded-blocks`.

The doc says (emphasis mine):

[2016-05-14 21:30] kaicataldo commented on #6176
I support @alberto's suggested change :+1:

[2016-05-14 22:22] RRMoelker opened #6179 "no-multiple-empty-lines, max beginning of file bug"
**What version of ESLint are you using?**
2.10.0 , sha: 8b78697f1c2f20fda8a4ec53819be76be3de2193

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
The *no-multiple-empty-lines* rule flagged code as invalid even though it should work according to the do

[2016-05-14 22:35] alberto commented on #6179
Confirmed.

I'm working on this.

[2016-05-14 23:00] RRMoelker commented on #6179
Ah, so am I. Please see if the PR matches your work.

[2016-05-14 23:02] RRMoelker commented on #6179
Actually the problem seems to be both at the beginning and ending of a file, the following test will also fail:

[code]

PR fixes it, but test is missing. I'll add it

[2016-05-15 00:54] AnthonyAstige opened #6181 "Formatting in docs inconsistent"
I've been reading over just about every rule at http://eslint.org/docs/rules/, and noticed inconsistent formatting between the individual rule pages.

For example I like how http://eslint.org/docs/rules/block-scoped-var looks with green and red highlighted blocks for good and bad.

Where as http://eslint.org/docs/rules/wrap-regex (and others) don't follow this.

Feels like the code for those pages

[2016-05-15 01:15] gyandeeps commented on #6181
@AnthonyAstige Its a work in progress. We are moving all the old rules to that new look in installments.
I am going to close this issue for now since we are actively working on this.
Thanks

[2016-05-15 01:15] #6181 closed

[2016-05-15 02:19] mysticatea commented on #6075
`array-bracket-spacing` is covering array patterns of destructuring.
So this rule also should cover array patterns as well.

This is my current draft: https://gist.github.com/mysticatea/0103594541d487d8a176271fe9564f7d

[2016-05-15 07:06] bebraw commented on #6158
Are you certain this was fixed fully?

I can confirm the cli works correctly now but I'm still seeing https://github.com/MoOx/eslint-loader/issues/92 and Gulp guys seem to have problems too https://github.com/adametry/gulp-eslint/issues/153 .

[2016-05-15 08:32] michael-wolfenden opened #6182 "eslint 2.10.1 - Parsing error: Unexpected token"
**What version of ESLint are you using?**
2.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

I have a sample demonstrating the issue at:
https://github.com/michael-wolfenden/eslint-2-10-1-issue

but running eslint via webpack with:

[code]

[2016-05-15 09:05] hustcer commented on #6182
I got the same warnings when use it witch gulp.

[2016-05-15 09:21] alberto commented on #6182
Confirmed. CLIEngine gets the wrong parser.

[2016-05-15 09:39] alberto commented on #6182
@michael-wolfenden @hustcer @bebraw does #6183 fix it for you?

[2016-05-15 10:04] michael-wolfenden commented on #6182
@alberto Can confirm that this fixes the issue for me

[2016-05-15 11:31] AaronHarris commented on #5583
Yes, after my comment above I found out about [import/order](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md), and import module in general is probably better suited to handle nuances of a yet-unsupported-without-babel pattern.

My only response to the above was, shouldn't the `env: { node: true }` or `env: { browser: true` in .eslintrc give a clue as to whether o

[2016-05-15 12:40] bebraw commented on #6182
@alberto Works for me. 👍

[2016-05-15 12:49] perrin4869 commented on #6182
@alberto Looking forward to the PR landing :)

[2016-05-15 13:53] #6128 closed

[2016-05-15 15:55] AnthonyAstige opened #6184 "Way to enforce strict mode on ES6 modules when not implicit due to transpiling issue?"
In my `.eslint.js` I have something like

[code]

When I place `'use strict';` on the top of my JavaScript files ESLint gives me the error:

I was hoping this error wouldn't appear since I'm disabling the `impliedStrict` [parser option](http://eslint.org/docs/user-guide/configuring#specifying-parser-options).

However `impliedStrict` is defined as

And I'm inside a module there, so perhaps this is

[2016-05-15 16:13] nzakas commented on #6175
I'm not in favor of adding a CommonJS-specific option to a general rule, so I'm 👎 On this suggestion.

[2016-05-15 16:17] nzakas commented on #6184
I'm sorry, ES6 modules are always parsed in strict mode, and theres no easy way to change that. `impliedStrict` only enables global strict mode, it cannot disable it.

[2016-05-15 16:43] nzakas commented on #6014
@sindresorhus  there's no way it could actually work based on how ESLint works. You'd have to somehow ensure that a plugin rule doing that would run before all other rules that might check unreachable paths.

I think @mysticatea's rule is the best solution here, so closing.

[2016-05-15 16:43] #6014 closed

[2016-05-15 16:47] nzakas commented on #3229
@markelog can you explain your proposal?

[2016-05-15 16:52] nzakas commented on #6175
Looks like there's already a lengthy discussion of this here: https://github.com/eslint/eslint/issues/4680

So closing as a duplicate.

[2016-05-15 16:56] nzakas commented on #4680
@ilyavolodin are you saying "neighbor" is unnecessary because `vars-on-top` covers that case?

[2016-05-15 17:25] AnthonyAstige commented on #6184
Perhaps an option could be added to the `strict` rule instead (which is where the lint error comes from).  This would make sense if this is a common enough problem across multiple frameworks.

If it's an uncommon problem, maybe only to Meteor's module implementation, then maybe an ESLint plugin with a new rule would be better.

[2016-05-15 17:33] ilyavolodin commented on #4680
No, as far as I understand the proposal neighbor option actually doesn't have anything to do with `vars-on-top` at all. I assume what it would do is force combining blocks of variable declarations into a single one. None of the blocks have to be on top. I was just commenting on the example that @mysticatea posted above. I think he was thinking that `one-var` and `vars-on-top` are conflicting, and

[2016-05-15 17:38] michaelficarra commented on #6184
:-1: We do not need eslint to accommodate for a transitory bug in meteor. Hopefully for you, they will realise this is a bug and not a breaking change.

[2016-05-15 17:41] Trott opened #6185 "Rule Proposal: Disallow deprecated `__defineGetter__` and `__defineSetter__`"
**When does this rule warn? Please describe and show example code:**

This rule will warn when code uses or accesses `Object.prototype.__defineGetter__()` or `Object.prototype.__defineSetter__()`. Both are deprecated.

* Ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/__defineGetter__
* Ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Refere

[2016-05-15 17:45] michaelficarra commented on #6185
:+1: I think this rule should warn about usage of all [B.2.2](https://tc39.github.io/ecma262/#sec-additional-properties-of-the-object.prototype-object) properties.

[2016-05-15 17:45] Trott commented on #6185
Added sample good and bad code.

[2016-05-15 18:33] nzakas commented on #6026
@eslint/eslint-team we still need a champion for this (we have three 👍s)

[2016-05-15 18:42] nzakas commented on #6106
@alberto not breaking. #6084 changed the type of asserting being done, this is just changing the message.

What I don't understand if why the actual and expected aren't being output already. I thought Chai did that when using comparisons by default?

[2016-05-15 18:49] nzakas commented on #6141
Here's what I understand this proposal to be:

1. The rule should warn when curlies are required but are missing.
2. The rule should not warn when curlies are present but are not required.

Assuming that's the correct description of the proposal, please indicate your support by adding a 👍 to this comment.

[2016-05-15 18:50] nzakas commented on #4483
@Mouvedia you'll need to continue using an older ESLint version if you need to use an older Node version.

[2016-05-15 18:51] BigstickCarpet opened #6186 "Proposed new rule: wrong-quotes-for-template-string"
**When does this rule warn? Please describe and show example code:**
This rule would warn when a string appears to use ES6 template string variable substitution, but isn't using a backtick quotes.  The goal is to eliminate an easy code mistake, such as the following:

**This code would warn:**
[code]

**This code would _not_ warn:**
[code]

**Is this rule preventing an error or is it stylistic?**

[2016-05-15 18:58] nzakas commented on #5936
We could do `allowObjectLiteralBody` with a default value of `true` and let people switch to `false` to force the use of curlies.

@byk as champion, can you drive this discussion to a conclusion?

[2016-05-15 18:59] ben-page commented on #6141
@nzakas, yes exactly. Thank you.👍

[2016-05-15 19:00] mourner commented on #4483
The comment above was mine, but now that it's May 2016, I fully support the breaking switch to Node 4+. :)

[2016-05-15 19:01] nzakas commented on #5613
I'll be honest, this rule is pretty far above my head, so I'm not sure my opinion is helpful. I'll defer to @btmills opinion.

[2016-05-15 19:04] nzakas commented on #6065
I also think having two rules makes the most sense.

[2016-05-15 19:06] diegohaz opened #6187 "export default from './file' throws Parsing error: Unexpected token './file'"
**What version of ESLint are you using?**
^2.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-05-15 19:08] nzakas commented on #5774
@pedrottimark a heading with the rule ID should be okay. I wouldn't want to make it more complicated than that because it would further complicate the build process.

[2016-05-15 19:11] nzakas commented on #5583
Closing as consensus is that this is better in a plugin.

[2016-05-15 19:11] #5583 closed

[2016-05-15 19:19] nzakas commented on #4680
Ah I see, OK.

Then lets refocus on the current proposal with "neighbor". I don't think that's the clearest term we could use, though the option seems correct. Other thoughts?

Also, I'm a bit uneasy with an option for `require` being built into this rule. In general, we have tried to keep environment-specific options out of generic rules.

[2016-05-15 19:31] nzakas commented on #6185
Some thoughts:

1. We have a rule baking that would allow flagging any properties by name: https://github.com/eslint/eslint/pull/5872. You could use that for this purpose.
2. I think on its own, this rule proposal is too specific for core.
3. A rule that flags all deprecated syntax, as @michaelficarra proposes, would be more appropriate for core, but we would likely run into people asking for all

[2016-05-15 19:32] jonnyreeves commented on #5583
+1. Thanks again for all your contributions to the javascript community.

On Sun, 15 May 2016, 20:12 Nicholas C. Zakas, <notifications@github.com>
wrote:

[2016-05-15 19:33] nzakas commented on #6186
Duplicate of https://github.com/eslint/eslint/issues/5850

[2016-05-15 19:34] nzakas commented on #6187
It looks like you're using `babel-eslint` as your parser. Can you try using the default parser instead? You can just delete the `parser` from your config file to switch to the default parser. Make sure you configure the [parser options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options) as well.

[2016-05-15 19:35] michaelficarra commented on #6187
It *is* a syntax error. You need curlies:

[code]

[2016-05-15 19:35] platinumazure commented on #6187
I think `export ... from` is still experimental and not part of the ECMAScript standard. If that's the case, then our default parser "espree" will not support that, and you need to use a different parser.

@michaelficarra Can you confirm that `export ... from` is experimental?

I see you're using `babel-eslint`, so your best option is to open an issue on that repository. At any rate, this is not a

[2016-05-15 19:38] nzakas commented on #6139
@ben-page I'm sorry, there's a pretty strong consensus against doing this. As many have mentioned, what you are proposing is functionally equivalent to the "warn" use case, so it doesn't add much to ESLint.

Thanks for the suggestion.

[2016-05-15 19:38] #6139 closed

[2016-05-15 19:42] diegohaz commented on #6187
Thank you for the answers. I see. @michaelficarra's solution works with `babel-eslint`, but I switched to this form (I think it's supported by eslint default parser, right?):
[code]

[2016-05-15 19:42] #6187 closed

[2016-05-15 19:43] BigstickCarpet commented on #6186
Damn.  I searched to make sure I wasn't creating a duplicate issue, but forgot to search _closed_ issues.

So, since #5850 has been closed, does that mean this rule won't get implemented?  Or is there still a chance?  I know it's a bit anecdotal, but I've seen this mistake bite myself and some other devs on my team quite a few times.

[2016-05-15 19:43] platinumazure commented on #6139
@ben-page For the specific use case you outlined, you could use two separate configurations (one for normal development, one for CI specifically). The CI configuration would extend the main configuration but set more rules to "error" level as needed. Your "info" rules are represented by rules set to "warn" in both configurations; your "fix before check-in" rules are represented by rules set to "wa

[2016-05-15 19:44] ben-page commented on #6139
That's a shame. I was hoping to use ESLint (via plugins) as a platform for
even more detailed inspections, such as spell checking and allowing NPM
modules to set warnings about common usage mistakes. Having multiple
warning levels is vital for that.

On Sun, May 15, 2016, 2:39 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-05-15 19:45] platinumazure commented on #5850
@ljharb Did you end up creating a custom rule?

@nzakas Given the second issue we've had on this, is it worth reopening this for consideration for core?

[2016-05-15 19:46] ben-page commented on #6139
@platinumazure, thank you. That's a very good idea.

[2016-05-15 19:46] platinumazure commented on #6187
@diegohaz Yes, `export ... from` is experimental and not supported in espree (default parser), but it's supported in babel-eslint.

[2016-05-15 19:48] download13 opened #6189 "no-unused-vars after-used option should apply to destructured array"
**What version of ESLint are you using?** 2.10.1

**What parser (default, Babel-ESLint, etc.) are you using?** [linter-eslint](https://github.com/AtomLinter/linter-eslint)

**The problem you want to solve.**

When using eslint on the following file (with es6 enabled obviously):

[code]

The error `'first' is defined but never used` shows up.

If the `after-used` option could apply to destructured

[2016-05-15 19:48] AnthonyAstige commented on #6184
@michaelficarra Yeah Meteor's implementation regarding module strict mode is counter to ES2015 spec afaict. I think this issue has been with Meteor since September 2015 ([Meteor 1.2 release](http://info.meteor.com/blog/announcing-meteor-1.2)) though, and I suspect enabling it now could break a lot of people's code. So there is a reason for them to wait for a 2.0 release, which could be a while. Th

[2016-05-15 20:10] DrewML commented on #6189
@download13 I think the better alternative here would be to use an elision in the array pattern.

[code]

See section `1.8` [here](http://www.2ality.com/2015/01/es6-destructuring.html)

Example with rule: http://astexplorer.net/#/4V9oHYAq90

[2016-05-15 20:11] mysticatea commented on #6185
Sounds good since we have [no-proto](http://eslint.org/docs/rules/no-proto), so if `__defineGetter__`, `__defineSetter__`, `__lookupGetter__`, and `__lookupSetter__` are covered, we get covering all legacy methods of Object. Maybe `no-legacy-getter-setter`.

But #5872 is a solution as well.

[2016-05-15 20:22] bjb568 commented on #6173
Reproduced this. In my project I have an error for every time I use an else statement without brackets. Definitely broken.

[2016-05-15 20:35] pedrottimark commented on #6026
I will be champion to work through the rest of the process with @scriptdaemon

[2016-05-15 20:36] ilyavolodin commented on #6026
Ok, looks like we have everything we need. Marking as accepted.

[2016-05-15 20:37] mysticatea commented on #6065
OK, I saw consensus.
I updated an option of this rule to fit to original JSCS rule.

In future, I hope the option to match the containing file's name for `module.exports` and `export default`. Of course, I'm happy if it's now.

[2016-05-15 20:46] alberto commented on #5845
@nzakas can we consider this accepted? Any further steps with this (should this be documented?) or shall we close it?

[2016-05-15 20:49] mysticatea commented on #6186
I will give :+1: for this.
There are 5 issues (#6143, #5408, #5376, #4286, #2170) about this in this repo, and my coworker also had this mistake before.
Plus, autofixing for this is usefull to me. I cannot modify both quotes by one step.

[2016-05-15 21:26] mysticatea commented on #4680
I'm sorry for I had gone far.

Please reword the `"neighbor"`. I just took it from a Japanese‐English dictionary. :smile:

Indeed, the 2nd option object is awkward, so I hope better idea caming.
I think `require()` is used generally in Node and front-end (browserify, webpack, ...). And I understand the request to separate incoming things from internal things.
Hmm, is actual requirement #6175, not

[2016-05-15 21:35] mysticatea commented on #6173
I will work on this.
I think we need to rewrite the traversal way of this rule.

[code]

Currently, this `d;` should be warned, but not.
Because the traversal order of this is `a;` → `if (b)` → `z;` → `c;` → `d;`.

[2016-05-15 21:44] DrewML commented on #6106
@nzakas I don't think Chai's `assert` API is being used here. I believe the behavior we're seeing is just the behavior of node's built in `assert` module when a message is passed.

Example:
[code]

[2016-05-15 21:58] josh opened #6190 "Lint unnecessary disabled reporting comments"
_Repost of #6188 as an Issue_

ESLint configuration comments are handy for temporarily allowing an exception or hack. But sometimes the hack is fixed but the comment is still left in place.

A clever way to implement this would be with a eslint rule itself. However this is error prone. The most obvious thing is that disabling all rules in a file would then disable this meta rule.

Similar to `allo

[2016-05-15 22:00] ilyavolodin commented on #6184
I agree. Meteor plugin could just clone `strict` rule and modify it to work specifically for meteor's needs. Closing as it doesn't look like we need to address anything here.

[2016-05-15 22:00] #6184 closed

[2016-05-15 22:12] andrewvaughan commented on #4680
The `neighbor` and #6175 suggestions are different.  The neighbor suggestions recommends that one-var accept situations in which there are non-declarative statements between variable blocks.  The recommendation from #6175 is an ask for compliance with the `no-mixed-requires` rule that is not compatible with `one-var`

[2016-05-15 22:23] kaicataldo commented on #6058
Sounds good - I can start work on this soon.

[2016-05-15 22:27] AnthonyAstige commented on #6184
Feature request opened on eslint-plugin-meteor at [Enforce strict mode on ES6 modules when not implicit due to transpiling issue](https://github.com/dferber90/eslint-plugin-meteor/issues/208)

[2016-05-15 23:16] ljharb commented on #5850
@platinumazure no, creating a custom rule for a generic warning seems silly when it isn't a path to it being included in core, so I haven't made the time yet. I'd certainly use one if it were created tho.

[2016-05-15 23:28] midascodebreaker opened #6191 "Eslint with .vue extension How to Auto fix it?"
I added eslint in atom editor,
and and added my eslintrc.js with eslint --init...
i added html plugin also globally...

yes it linted the error in .vue file but on save it cannot fix it...
do i need additional plugin for this?

coz eslint works by fixing only .js files....

Hope someone can give me clarity about this thanks

[2016-05-16 00:13] AnthonyAstige commented on #5311
I found the current default sort order confusing. ie; it was weird to me that `import { ModuleName } from ...` is grouped with `import Job from ...`. In sorting my imports it made me think something was wrong with the rule before I read this issue.

[2016-05-16 00:29] ilyavolodin commented on #6191
Autofixing should work with any extension (correct me if I'm wrong). I'm assuming this has something to do with Linter-ESLint. Maybe it's hardcoding autofixing only to js files? You might want to open an issue there.

[2016-05-16 00:43] michaelficarra commented on #6187
No, the export-from syntax I listed is valid ES2015 (meaning espree *should* parse it). The originally posted syntax is not, nor is the syntax in @diegohaz's follow-up comment.

[2016-05-16 00:58] platinumazure commented on #6191
@ilyavolodin Just a note: Auto-fix works fine if it's only the extension that is different and no preprocessing needs to be done on the file. If preprocessing is needed (to extract lint-ready JavaScript), then auto-fix won't work because the locations will be wrong.

@midascodebreaker As mentioned above, you should ask in the linter-eslint repository.

[2016-05-16 01:04] danielcavanagh commented on #6067
the other problem with `allowSingleLine` is that it can't **enforce** the use of a single line, so `--fix` does nothing

it seems that positioning of the single line, whether braced or not, should be part of this one rule (perhaps renamed to `single-statement-body-position`?) and the ruling on whether to brace should be left to `curly` (which should probably also be renamed...)

[2016-05-16 01:36] Mouvedia opened #6193 "Rule Proposal: no-useless-spread"
**When does this rule warn? Please describe and show example code:**
It warns when the iterable object is inlined.

[code]
**Is this rule preventing an error or is it stylistic?**<del>
It is an error in the sense that's it's useless to use the spread operator in that case.</del>
Stylistic.

**Why is this rule a candidate for inclusion instead of creating a custom rule?**
There are other rules of t

[2016-05-16 02:13] ljharb commented on #5667
The documentation [here](http://eslint.org/docs/rules/object-property-newline) implies that there's no way to replicate the [JSCS behavior](http://jscs.info/rule/requireObjectKeysOnNewLine) of `"allExcept": ["sameLine"]` - in other words, with jscs I allow "all object properties and curly braces on one line" or "each curly brace and property/value pair are on their own lines", and I can't seem to

[2016-05-16 02:36] kaicataldo commented on #6190
Hey there - I believe this has already been discussed and it was decided that this doesn't belong in core, though it would be a great tool to add to the community. The issue also had a suggestion as to how this could be achieved! https://github.com/eslint/eslint/issues/5801

[2016-05-16 02:55] leeyeh commented on #6158
@bebraw I'm using grunt-eslint and this issue remains. The CLI works fine now.

[2016-05-16 02:56] markelog commented on #3229
Sure, regular expression could be very long - like so https://github.com/jquery/jquery/blob/95c7ab68970ce201a2bbff48c8e951d38c228ce8/src/manipulation.js#L32

It would be cool if this rule would have an option which would allow to ignore such long regexes, same as
[maximumLineLength](http://jscs.info/rule/maximumLineLength) `allExcept: ["regex"]` option of JSCS.

[2016-05-16 04:04] download13 commented on #6189
Oh cool. I didn't realize that was valid syntax. I was just trying to use throwaway names like `_`.
Thanks for clearing that up!

[2016-05-16 04:04] #6189 closed

[2016-05-16 08:37] phaistonian commented on #6182
Any ETA on thew "fix" release?

[2016-05-16 09:42] duncanbeevers commented on #5936
@byk @alberto

What do you think of using an extension similar to the `avoidQuotes` option used for the [`object-shorthand`](http://eslint.org/docs/rules/object-shorthand) rule?

[code]

[2016-05-16 09:51] jsnajdr opened #6195 "generator-star-spacing: work better together with space-before-function-paren"
**What version of ESLint are you using?**
2.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**
I'd like to define the following coding standard for functions and generators:

[code]

I.e.:
1. No space before function paren
2. One space after generator star, no space before
3. No space before funct

[2016-05-16 11:08] vitorbal commented on #5667
Hi @ljharb, is the option `{ "allowMultiplePropertiesPerLine": true }` what you are looking for? It's described [here](http://eslint.org/docs/rules/object-property-newline#allowmultiplepropertiesperline) in the documentation.

[2016-05-16 13:07] avindra commented on #6158
Just updated to `2.10.1` and still seeing unwarranted:

` 1:1  error  Parsing error: 'import' and 'export' may appear only with 'sourceType: module'`

In webpack build

[2016-05-16 13:11] MoOx commented on #6158
https://github.com/eslint/eslint/issues/6182

[2016-05-16 14:49] jryans commented on #6195
(I am a member of the team @jsnajdr is representing above.)

I think for the fifth case of generator shorthands, we would actually prefer:

[code]

so, the complete set would be:

[code]

To support this level of detail, I think `generator-star-spacing` would need to allow specifying star placement in 3 separate cases: `anonymous`, `named`, and `shorthand`. So, like @jsnajdr says, it could gain ad

[2016-05-16 15:17] ljharb commented on #5667
@vitorbal no, it is not. Of the two "good" examples given, the second is one I wish to prohibit. With `allowMultiplePropertiesPerLine` set to `false`, and a hypothetical `allowSameLine` set to `true`, these would be OK:
[code]
and these would not:
[code]

[2016-05-16 15:30] nzakas commented on #6106
@DrewML ah, good call. I forgot we weren't using Chai.

I'm 👍 For this.

[2016-05-16 15:34] nzakas commented on #6186
Okay, we need a champion and two more 👍

@BigstickCarpet if accepted, we will ask you to try to implement it yourself (see http://eslint.org/docs/developer-guide/contributing/new-rules#implementation-is-your-responsibility for details). The core team just doesn't have the time to implement every rule that is suggested.

[2016-05-16 15:35] nzakas commented on #5311
No team members stepped forward to champion this change, so closing.

[2016-05-16 15:35] #5311 closed

[2016-05-16 15:36] nzakas commented on #4680
Maybe `consecutive ` instead of `neighbor `?

[2016-05-16 15:41] nzakas commented on #3229
@markelog sorry, what I meant was, what is your proposal for the new rule option?

[2016-05-16 15:45] nzakas commented on #5936
I don't think `avoidParens` is specific enough. I would expect that option to also flag `a => (B)`

[2016-05-16 15:48] nzakas commented on #5845
Oh yeah, we should document this. Probably in the user guide?

[2016-05-16 15:51] DrewML commented on #6106
Cool - I'll start working on this tonight. Safe to assume we want to do this for all the assertions in that same area?

For reference:

[code]

[2016-05-16 15:55] alberto commented on #5917
Duplicate of #6106

[2016-05-16 15:55] #5917 closed

[2016-05-16 15:57] kaicataldo commented on #5845
Looks like we'll also want to update the site with the /docs/rules/deprecated/ page and move the list of "Removed" rules there.

[2016-05-16 16:01] nzakas commented on #6009
@ilyavolodin i think we all need a better PR workflow. If the workflow is "merge immediately or ignore," that's not really sustainable. What I do is I use notifications first and then, once or twice a week, I scan all open PRs to see what their status is so nothing gets forgotten.

@alberto it's hard to label something as ready, because if it's ready, why wasn't it merged? AMD what if someone find

[2016-05-16 16:03] nzakas commented on #5845
@kaicataldo the removed rules shouldn't be grouped with the deprecated rules, as those are two different things. We should ask @pedrottimark what he thinks about having a separate page vs. a new section. We don't have any deprecated rules right now, so this is all future work.

[2016-05-16 16:04] nzakas commented on #6106
Yes, I think so.

[2016-05-16 16:05] kaicataldo commented on #5845
@nzakas Got it. Just wanted to make sure we don't reference a page that doesn't exist in our docs :)

[2016-05-16 16:13] josh commented on #6190
Isn't good enough for me. That requires two passes of an entire codebase. Also, `--no-inline-config` disables `/* eslint env:0 */` configurable which should still be respected. I'm talking about `// eslint-disable` comments which behave much different. The linters on those lines still run and don't reported.

Its pretty silly to make another pass at the file when eslint already has all the informa

[2016-05-16 16:30] tomfun opened #6196 "no-extra-parens confilct with no-confusing-arrow"
ESLint - v2.9.0 (and 2.10.1 - see below)
parser - default
this code:

[code]

 -- give "no-extra-parens" error.

and this:

[code]

 -- give "no-confusing-arrow" error

[code]

 -- part of configuration

I already have tried update ESlint to 2.10.1, and change configuration to:

[code]

It did not help.
I expect, that "no extra parens" error would not appear in that case.

[2016-05-16 16:31] vitorbal commented on #5667
@ljharb thank you for the detailed explanation!

However, the `allowMultiplePropertiesPerLine ` option follows exactly the behavior of the `allExcept: ["sameLine"]` from JSCS. You will notice that [their example](http://jscs.info/rule/requireObjectKeysOnNewLine#valid-for-allexcept-sameline) for "good" when that option is present also has the curly braces on separate lines.
I also just tested this

[2016-05-16 16:35] mikesherov commented on #6009
:+1:

[2016-05-16 17:47] nzakas commented on #6182
Thanks for the comments everyone - we are investigating this issue as quickly as we can. There's some disagreement over the correct approach to fixing the problem, so we're working to resolve that. If you are stuck in the meantime, please consider downgrading to ESLint v1.9.0 until resolved.

If you want updates, please use the "Subscribe" button instead of leaving a comment (which trigger notific

[2016-05-16 18:05] nzakas commented on #6182
I'm getting a different issue in the demo repo, which is making it a bit harder to debug:

[code]

[2016-05-16 18:19] pedrottimark commented on #6009
👍 it is good for us to follow this relevant guideline from Node.js, and also sets a good example by us.

[2016-05-16 18:30] ssbiswal1987 opened #6197 "Parsing error: Unexpected character '@' with eslint 2.10.1 and babel-eslint"
Eslint complains usage of decorators with babel-eslint, when updated to 2.10.1.

It seemed to work well with eslint 2.9.0

[2016-05-16 19:03] platinumazure commented on #6197
CLIEngine is currently not respecting custom parser and is attempting to parse with espree. Duplicate of many issues. Please downgrade to ESLint version 2.9 as a workaround. We hope to fix this soon. Thanks!

[2016-05-16 19:03] #6197 closed

[2016-05-16 19:08] nzakas commented on #6182
Okay, so narrowed down the problem and why @alberto's fix works: we have a file called `cli-options.js` that has the default CLI options. For the most part, the CLI options are blank, and the ones that aren't don't actually affect the config. The `parser` is the only one that is provided and affects the config.

[2016-05-16 19:54] ccorcos opened #6198 "comma-dangle always only-multiline"
**What version of ESLint are you using?** v2.10.1

**What parser (default, Babel-ESLint, etc.) are you using?** default?

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

I expected it to complain about the lack of a dangling comma

**What actually happened? Please include the actual

[2016-05-16 20:07] #6182 closed

[2016-05-16 20:08] nzakas commented on #6182
A new release with this fix is now starting.

[2016-05-16 20:12] nzakas commented on #6191
@midascodebreaker as @platinumazure pointed out, we can only autofix regular JavaScript files. Since .vue files are really HTML files, you'd need a preprocessor to get it to work in ESLint, and ESLint doesn't currently support autofixing in preprocessed files.

[2016-05-16 20:12] #6191 closed

[2016-05-16 20:14] nzakas commented on #6196
Can you please use our issue template? https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE.md

[2016-05-16 20:23] nzakas commented on #6190
@josh we can consider it, but there needs to be a lot more discussion. Your PR is pretty involved, and so we need to decide if that level of change is something we want to consider for this use case (which is pretty narrow).

To give some more structure to this conversation, here's what I'd like to ask you to do:

1. Clarify the problem you're trying to solve.
2. Explain the solution you have in m

[2016-05-16 20:25] nzakas commented on #6193
Thanks for the rule submission. Can you please update your proposal to follow the guidelines in our docs? http://eslint.org/docs/developer-guide/contributing/new-rules#proposing-a-rule

(You can also click the "Create an issue" link in that section to pre-fill an issue.)

[2016-05-16 20:27] Salakar commented on #2532
@ilyavolodin 's suggestion works for me 👍

[code]

[2016-05-16 20:54] glenjamin opened #6199 "False positive from no-implicit-conversion"
**What version of ESLint are you using?**
v2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`{"no-implicit-coercion":"error"}`

**What did you do? Please include the actual source code causing the issue.**
[code]
[code]

**What did you expect to happen?**

No error

**What actually happened? Please include the actual, raw output

[2016-05-16 21:13] Mouvedia commented on #6193
@nzakas I have updated [the proposal](https://github.com/eslint/eslint/issues/6193#issue-154945704) using your template.

[2016-05-16 21:19] josh commented on #6190
Awesome! Thats all I hoped for. ❤️

Yeah, I don't like the implementation at all, but its a point of discussion.

I want to ensure `// eslint-disable` comments are cleaned up from the codebase as issues are addressed. Its not always on the same line, so not obvious when you say fixed the last "no-var" case.

[code]

At a high level, if a comment can be removed and no new errors would be reported.

[2016-05-16 21:37] tomfun commented on #6196
Tried to update issue, Is that good enough?

[2016-05-16 21:41] trusktr opened #6200 "What's the installedESLint option for?"
Google leads me to no results.

[2016-05-16 22:03] trusktr commented on #1566
async/await, pleeeease?

[2016-05-16 22:55] ilyavolodin commented on #6200
I'm not sure what option you are talking about. Could you provide some more information?

[2016-05-16 22:57] ilyavolodin commented on #1566
@trusktr Espree (ESLint's default parser) does not implement support for experimental features. You need to use `babel-eslint` if you want anything below Stage 4 features.

[2016-05-16 23:41] ilyavolodin commented on #6198
From the documentation of the rule:

"only-multiline" allows (but does not require) trailing commas when the last element or property is in a different line than the closing ] or } and disallows trailing commas when the last element or property is on the same line as the closing ] or }

Please note "allows (but does not require)" part. It looks like you want to use `always-multiline` option instea

[2016-05-16 23:41] #6198 closed

[2016-05-16 23:44] ilyavolodin commented on #6199
That looks like a bug. Don't know why it would think this is coercion, since we have no idea what the values of either `x` or `y` are. @mysticatea could you take a look please?

[2016-05-16 23:46] ilyavolodin commented on #6195
@btmills @alberto is this something we want to add to the rule? (sorry, don't work with generators, so no idea).

[2016-05-17 00:09] glenjamin commented on #6199
I'm pretty sure the reason is that `y * 1` is a coercion, and it doesn't attempt to apply operator precedence rules so never sees the `/4`.

In this case I changed the line to `y / 4` to avoid the problem, so it's not hugely problematic.

[2016-05-17 00:33] ilyavolodin commented on #6199
Ah, that makes perfect sense. But I don't know how we fix the rule without implementing some very complex logic. Maybe if there's more then one operator in the expression, we don't consider it coercion?

[2016-05-17 00:58] ccorcos commented on #6198
ahh. that makes more sense

[2016-05-17 02:27] hzoo commented on #6200
I would search the repo - https://github.com/eslint/eslint/pull/5873/files?

[2016-05-17 04:11] michaelficarra commented on #6199
`y * 1/4`, despite the deceptive spacing, is disambiguated as `(y * 1) / 4`. This rule is working as intended, reporting your usage of `y * 1`, which is useless other than for type coercion.

[2016-05-17 04:44] mysticatea commented on #5936
`avoidWrappedObjectLiterals`?

[2016-05-17 08:38] jdforrester commented on #5858
Wikimedia is also a current jscs preset, BTW. :-)

[2016-05-17 09:42] gajus commented on #3155
@nzakas can this be reconsidered now?

It would it encourage more people to adapt the convention that ESLint is using.

[2016-05-17 09:56] stevemao commented on #3155
Also I have been actively maintaining the project. A lot of bugs have been fixed and features have been added.

[2016-05-17 10:01] beliefgp opened #6203 "Parsing error: 'import' and 'export' may appear only with 'sourceType: module'"
import * as aaa from './aaa';
export default function (id) {};

export is allow,but import throw error ‘Parsing error: 'import' and 'export' may appear only with 'sourceType: module'’

[2016-05-17 11:40] glenjamin commented on #6199
Oh whoops, for some reason I thought divide was higher than multiply - but I was mistaken!

[2016-05-17 11:40] #6199 closed

[2016-05-17 12:48] platinumazure commented on #6203
Can you please edit your post to follow our issue template?

Also, just taking a quick stab at the problem, you may need to include a `parserOptions` config section with a `"sourceType": "module"` key/value pair within your configuration file.

[2016-05-17 12:54] mysticatea commented on #6176
I added `accepted` label since there are 4 :+1:s from core team.

[2016-05-17 13:06] mysticatea commented on #6023
I'm a champion, but I have not gotten 3 :+1:s from core team yet. If this is accepted, I will work on this.
@eslint/eslint-team I'm happy if somebody supports me.

[2016-05-17 13:10] alberto commented on #6023
Here's another one 👍

[2016-05-17 13:14] mikesherov commented on #6023
👍

[2016-05-17 13:32] alberto commented on #6176
There is still the question of whether this is a breaking change and it should instead be treated as an enhancement go behind an option @eslint/eslint-team

[2016-05-17 13:41] alberto commented on #6023
@michaelficarra expressed disagreement about this, so I think the 3 votes aren't enough in this case.

[2016-05-17 13:53] mysticatea commented on #6176
I think we can modify the default behavior because this change is relaxing, so it probably will not break existing CI tests of users.

[2016-05-17 13:55] michaelficarra commented on #6023
I don't see how this is specific to logical operators. Any infix operators with mixed precedence can cause an issue if left unparenthesised. For instance, I may intend `a + b * c` to mean `(a + b) * c` if I don't consider the precedence difference between `+` and `*`. So my understanding of the ask here is a rule that is completely the opposite of `no-extra-parens`.

[2016-05-17 14:05] platinumazure commented on #6023
One could argue that there's a difference in comprehensibility between
(mixed operators for calculating a value) versus (missed operators for
determining flow of control). It seems like it might be slightly more
important to have unambiguous code in a control flow condition.

That said, I agree with @michaelficarra and wonder if no-extra-parens
should be re-envisioned as a rule about precedence en

[2016-05-17 14:08] BYK commented on #5936
I'm +1 to `allowObjectLiteralBody: true` suggestion for now. If we get 2 more 👍s I'd say we go with that.

[2016-05-17 14:27] BYK commented on #6009
👍

[2016-05-17 14:47] mikesherov commented on #6176
In JSCS, relaxing rules was not considered a breaking change.

[2016-05-17 15:17] markelog commented on #6176
Can we document what should be considered as breaking change? See JSCS example https://github.com/jscs-dev/node-jscs/blob/master/OVERVIEW.md#user-content-versioning--semver for reference

[2016-05-17 15:19] gajus opened #6204 "Role proposal: "no-arguments-in-arrow-function""
https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Functions/arguments

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#Lexical_arguments

This rule prevents accidental reference to a parent function's `arguments` object when the developer intention is to get parameters of the current function. This rule prevents accidental reference to an un

[2016-05-17 15:25] ljharb opened #6205 "New option proposal for `requireObjectKeysOnNewLine`"
Per https://github.com/eslint/eslint/issues/5667#issuecomment-219334864

The JSCS rule `requireObjectKeysOnNewLine` had an `allExcept: ['sameLine']` option, that `eslint` currently lacks. The idea was to configure it so that the following code warned:
[code]
and only the following did not:
[code]

The `allowMultiplePropertiesPerLine` isn't quite the same thing. Can an option be added to support th

[2016-05-17 15:28] ljharb commented on #5667
Sure, filed #6205 to track this.

[2016-05-17 15:28] #5667 closed

[2016-05-17 15:38] alberto commented on #5936
I'm sorry but I'm still not sure if you intend that as a new option or as a refinement for `as-needed`. @nzakas @BYK

[2016-05-17 15:49] nzakas commented on #6193
Thanks! At first glance, this seems like it would be better as a plugin. (We don't accept a lot of new rules into the core because we already have so many. )

@eslint/eslint-team thoughts?

[2016-05-17 15:51] mikesherov commented on #6193
Belongs as plugin IMO, too much of an edge case for core.

[2016-05-17 15:56] nzakas commented on #6190
Thanks for the details! I think the big question here is around user experience: do people want ESLint checking this all the time, or is it something people will use periodically?

And it seems like you're saying these problems should be reported as normal messages, but are they errors or warnings? Would we need a way to configure that?

[2016-05-17 15:58] michaelficarra commented on #6190
I want eslint checking this all the time. But I wouldn't mind if it was behind a configuration flag.

[2016-05-17 16:03] nzakas commented on #6196
That's better, in the future, please use the issue template.

I don't see a way to satisfy both rules right now. @eslint/eslint-team thoughts?

[2016-05-17 16:05] josh commented on #6190
I personally want them as error, I want our CI to fail in this case. This again whats nice about it being a rule, you can configure it as an error or warning level.

Still thinking on a way it could be handled as a proper rule, I think we'd need a few new APIs. Some kind of `api.getRuleConfig`, some way to skipping `ruleConfig` via `api.report(... force: true)`. But this still the issue of when it

[2016-05-17 16:05] nzakas commented on #5858
@jdforrester are you sure? I looked here: https://github.com/jscs-dev/node-jscs/tree/master/presets

[2016-05-17 16:08] nzakas commented on #6023
Yes, an active dissent means we need to talk through this some more.

[2016-05-17 16:12] nzakas commented on #6009
Okay, it seems we have a consensus on waiting being a good idea. Let's dig into some specifics point-by-point.

I think waiting 48/72 hours before closing an issue is fairly uncontroversial, but let's start there. Any concerns about this for issues only? My thought is that this would only really apply to enhancement and feature requests. Bugs should be fixed as soon as possible, questions can be c

[2016-05-17 16:15] markelog commented on #5858
Yeah, we just were slick about it - https://github.com/jscs-dev/node-jscs/blob/9eaa1f7c619a356b4d887c60760d2eb36543a59f/package.json#L73 :)

[2016-05-17 16:16] markelog commented on #5858
@jdforrester do you want to create eslint config yourself? Or maybe you already did it?

[2016-05-17 16:18] platinumazure commented on #6205
Marked as enhancement since there is a separate feature request issue (#5667) for the rule itself. Feel free to change the labels if I goofed.

[2016-05-17 16:19] platinumazure commented on #5936
Added "needs bikeshedding" label since we're still hashing a few things out.

[2016-05-17 16:20] alberto commented on #6009
Do you mean for closing rejected ones?

Otherwise I don't know how we can take them separately from PRs.

[2016-05-17 16:22] nzakas commented on #5858
Ooh tricky!

[2016-05-17 16:23] platinumazure commented on #6196
I would say we should enhance `no-extra-parens` to support allowing "extra" parens around a complex single-expression arrow function body. (`no-confusing-arrow` is being flagged here because the arrow could be a mistaken `>=` token which then makes sense in a conditional expression, so I assume the intent of `no-confusing-arrow` is to require parentheses to disambiguate.)

[2016-05-17 16:24] ilyavolodin commented on #6193
Agree. I think this is better off as a plugin. I don't see people hitting this rule too often, might be just an occasional typo.

[2016-05-17 16:25] markelog commented on #5858
@nzakas ideas was to move all presets to external dependencies

[2016-05-17 16:26] platinumazure commented on #6190
I think this would definitely be cool to include in core and to have it be available behind a CLI option. However, I can see maintainability being a problem since `api.report()` is already so complex and all of the functions it calls are pretty sprawling.

I think this could be a prompt for a good refactoring of that space. Specifically, all the logic that checks if a particular node report locati

[2016-05-17 16:28] ilyavolodin commented on #6190
I don't have a very strong opinion, but I don't think this should be in the core. I think it's a great use-case for additional tool, but linting our own comments is too meta for my taste. Now, I think we should expose functionality that would allow something like that to be done in a 3-rd party tool, but still not convinced at all about merging this into the core. This feels a lot like other reque

[2016-05-17 16:28] alberto commented on #6193
Agree. It doesn't cause an unexpected error, and I don't believe this would be very common

[2016-05-17 16:29] JuHwon commented on #3611
Yeah it would be awesome to configure custom environment like `mocha` for all files named `*.spec.js`.

[2016-05-17 16:31] #6135 closed

[2016-05-17 16:32] platinumazure commented on #5845
@nzakas Could we extend the `meta` section of new-style rules to include a deprecation date? If so, we could then enhance core to automatically warn or error for deprecated or "removed" rules. We could also add other fields for things like reason why deprecated, or replacement rule(s), etc.

Would that be worth doing? We could try to "retrofit" for existing removed rules by recreating metadata-onl

[2016-05-17 16:34] alberto commented on #6196
Isn't this solved by https://github.com/eslint/eslint/issues/5332 ?

[2016-05-17 16:34] #6153 closed

[2016-05-17 16:34] #6173 closed

[2016-05-17 16:34] #6179 closed

[2016-05-17 16:36] jdforrester commented on #5858
@markelog We've not created an eslint config preset yet for Wikimedia; I was kinda-hoping you lot would show the way forward so we could do it more easily. :-) No huge rush from our end.

[2016-05-17 16:37] jdforrester commented on #5858
(Also, can I +1 the idea of mastering presets outside of the main repo? It's architecturally much nicer, and it'd be good if we weren't the only ones.)

[2016-05-17 16:43] Mouvedia commented on #6193
Using a plugin entails me to have a name in the form `@pluginName/ruleName`. It's not appropriate in my case since the plugin is the rule.

IMHO if [no-useless-computed-key](http://eslint.org/docs/rules/no-useless-computed-key) is warranted I don't see why this one is not. It's the same use case more or less.

[2016-05-17 16:47] markelog commented on #5858
@jdforrester ok-ok, i'm doing one for jquery so can do the same for you.

Do you have link to canonical wikimedia jshint config? Since i presume you use jshint?

[2016-05-17 17:07] vtfn commented on #6153
Still having the same problem

[2016-05-17 17:16] jdforrester commented on #5858
@markelog Awesome, thank you!

Our [typical jshint config](https://www.mediawiki.org/wiki/Manual:Coding_conventions/JavaScript#Linting) is:

[code]

[2016-05-17 17:19] alberto commented on #6153
@vtfn this was just merged. did you try it on master?

[2016-05-17 17:21] Mouvedia commented on #6193
Using a plugin entails me to have a name in the form `pluginName/ruleName`. It's not appropriate in my case since the plugin would have *one* rule.

IMHO if [no-useless-computed-key](http://eslint.org/docs/rules/no-useless-computed-key) is warranted I don't see why this one is not. It's the same use case more or less.
The only main difference in #5402, is that he considers it stylistic; would that

[2016-05-17 17:30] vtfn commented on #6153
Yeah, the master worked. I thought that, as the version was 2.10.2 already, it should be working. My mystake, sorry, and thanks for the fix by the way.

[2016-05-17 18:26] pedrottimark commented on #5845
Will put information architecture for future deprecated process into my mental slow cooker. While retrieving data for the following point, I got a taste of how it affected the rules index in the past.

At this very moment (related to #5774 to automatically generate the rules index page) I am making a prototype of a file to contain:
* the `meta` object from removed rules
* `Replaced by` rules
* aux

[2016-05-17 18:41] BYK commented on #5936
I think this should be an option for `as-needed` mode.

[2016-05-17 19:10] danny-andrews commented on #6144
I feel like that is a bit of a band-aid solution, as this is an issue for other rules as well.

[2016-05-17 19:31] joshkel commented on #2309
[`--max-warnings`](http://eslint.org/docs/user-guide/command-line-interface#max-warnings) can serve this purpose: `--max-warnings=0` means that any warnings cause eslint to report an error.

[2016-05-17 19:47] alberto commented on #6144
Then we should add options for those as well.

[2016-05-17 19:55] vitorbal commented on #6205
I mentioned this in [#5667 (comment)](https://github.com/eslint/eslint/issues/5667#issuecomment-219473401) already, but just to make sure this doesn't get lost:

The `allowMultiplePropertiesPerLine` option follows *exactly* the behavior of the `allExcept: ["sameLine"]` option from JSCS. When the option is present, both of the following are valid:

[code]
You will notice that [their example](http:/

[2016-05-17 20:28] vitorbal commented on #5417
@nzakas @ilyavolodin @pedrottimark Would love to help out and get the ball rolling for this one. How do we usually go about marking an old doc file as deprecated? Do we keep it and rename it, and link to it from the new doc that super-seeded it?

[2016-05-17 20:43] danny-andrews commented on #6144
Fair enough. Just seems error prone to have to add those options on a rule-by-rule basis.

[2016-05-17 20:57] ljharb commented on #6205
Thanks for clarifying - in that case, I misunderstood the previous jscs behavior to be sufficient for my use cases. New option it is!

[2016-05-17 20:58] ljharb commented on #6205
Essentially what I want, then, is "either all on one line, or everything on its own line" - meaning, if it can't fit on one line, i never want multiples on the same line. I'm not sure what a good option name would be.

[2016-05-17 21:04] ilyavolodin commented on #5417
@vitorbal Are you talking about `working-with-rules-new`? We never deprecated doc file before. Usually, we just mark something as `deprecated` in the documentation and put a link to the new one.

[2016-05-17 21:44] alberto commented on #5936
Thanks, that makes more sense to me. I was bit confused. Should we use `requireForObjectLiteral` instead?. My concern is `allow` doesn't convey not using braces is discouraged in that case.

[2016-05-17 21:49] ericclemmons commented on #2309
@joshkel WHaaaaaaaaaaaaaaaaaaaaaat?

Thanks, I didn't know :)

[2016-05-17 22:38] ntwb commented on #5858
Adding this here for reference for anyone else looking:
https://github.com/wikimedia/jscs-preset-wikimedia/blob/master/presets/wikimedia.json

I just ran both the JSHint and JSCS configs through [polyjuice](https://github.com/brenolf/polyjuice):
https://gist.github.com/ntwb/ee9f90589dbbfeee8bebd13d8b1481e9

[2016-05-17 22:46] markelog commented on #5858
Keep in mind that polyjuice is not ideal at the moment, i have found couple issues with it, so i would recommend to nevertheless the check it's output

[2016-05-17 22:54] pedrottimark commented on #5417
It looked to me like all the existing links to working-with-rules are better pointing to the new content, and also links on search engines. Suggest:
* new content goes to original file name
* original content goes to something like working-with-rules-old with maybe two links to it from working-with-rules and blog post to have links to both
* next time there is a change which produces old content r

[2016-05-17 23:14] fatfisz opened #6206 "Having .eslintrc in the root dir causes eslint tests to fail"
**What version of ESLint are you using?**
2.10.2
**What did you do?**
I cloned the `eslint` repo and ran tests.
**What did you expect to happen?**
No errors.
**What actually happened?**
A few errors (about 70 or so).

I think I might be the only one that has such a troubling configuration, because I've already created a few PRs to other quite popular repos, which added `"root": true` to the `.esli

[2016-05-17 23:41] fatfisz opened #6207 "object-property-newline has problems with the experimental object rest spread feature"
**What version of ESLint are you using?**
2.10.2
**What parser (default, Babel-ESLint, etc.) are you using?**
default, Babel-ESLint - both don't work
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
No errors.
**What actually happened? Please include the actual, raw output from ES

[2016-05-18 00:56] fatfisz commented on #6207
I think I have a fix for this, but it's late and I'll have to continue after having a good sleep :smile: I want to add a few more tricky test cases, but my brain is fried rn.

By the way, just to make sure: should this be ok with `object-property-newline` turned on?
[code]
Currently there's no error thrown for that and I think that's wrong, because the second property starts at the first line.

Al

[2016-05-18 01:50] philipwalton opened #6208 "Add `IntersectionObserver` and related globals to the browser env"
I just ran into errors that these weren't defined when linting my code. Here's the spec with the full list of new globals:
https://wicg.github.io/IntersectionObserver/

[2016-05-18 02:12] beliefgp commented on #6203
1.version v2.10.2
2.my config:{
               "root": true,
		"extends": "eslint:recommended",
		"env": {
			"browser": true,
			"jquery": true,
			"node": true,
			"es6": true,
			"amd": true,
			"mocha": true
		},
		"parser": "babel-eslint",
		"parserOptions": {
			"ecmaVersion": 6,
			"ecmaFeatures": {
				"jsx": true
			}
		},
		"rules": {
			"indent": [2, "tab", {"SwitchCase": 1}],
			"no-ex

[2016-05-18 03:54] mysticatea commented on #4680
`consecutive` sounds pretty good.

I looked [the document of `no-mixed-requires`](https://github.com/eslint/eslint/blob/master/docs/rules/no-mixed-requires.md), yeah, `no-mixed-requires` is conflicting with `one-var: always`.
Hmm, I felt that adding the same behavior as  the `grouping` option of `no-mixed-requires` rule is overspec for `one-var`...

[2016-05-18 04:23] isiahmeadows opened #6209 "[no-undef] should accept `typeof` as proof a variable exists"
In the following code, it's statically verifiable through code path analysis that `x` must be defined in the body of the `if` statement below.

[code]

Most commonly, I need this conditional thing when targeting ES6 and ES5 globals, or targeting both the browser and Node. Things like this are very common:

[code]

Could `no-undef` follow code paths and consider variables with `typeof` guards to be

[2016-05-18 04:24] isiahmeadows commented on #6209
To clarify, all statements in both code blocks above fail in the latest `npm` release of ESLint.

[2016-05-18 04:36] scriptdaemon commented on #6209
This is what `/*global ...*/` is for.

Ex:

[code]

[2016-05-18 05:01] Slayer95 commented on #6209
@scriptdaemon, the issue intends something like

** Correct code **

[code]

** Incorrect code **

[code]

[2016-05-18 05:07] scriptdaemon commented on #6209
I think I see now. This is what `/*global ...*/` comments are for.

[code]

[2016-05-18 05:07] Mouvedia commented on #6146
`func-body-max-length` already exists with another name: [v8-func-inline](https://github.com/jpellizzari/eslint-plugin-v8-func-inline).

[2016-05-18 09:22] mysticatea commented on #6204
[code]

This is warned by `no-undef`.

[code]

This is waned by `prefer-rest-params`.

I'm not sure this is proper for core because there are overlaps.

[2016-05-18 09:39] mysticatea commented on #6067
Thank you @danielcavanagh .
I had misunderstood it. I have read tests of `requireNewlineBeforeSingleStatementsInIf`, then it's warning statements in a block as well.

Also, original rule is warning the first statement of a block which has multiple statements as well.

[2016-05-18 09:39] isiahmeadows commented on #6209
I know this already, and I've done similar already in a few cases. It's still just another band-aid workaround that doesn't fix much.

I'm also looking into cases like if you target both the browser and Nashorn, and you probably don't want all those Nashorn globals glossing over potentially undefined variables in browser-specific code within a file. There's so little intersection beyond the requir

[2016-05-18 09:46] mysticatea commented on #6205
I'm seeing a separate rule for line breaks inside braces: https://github.com/eslint/eslint/issues/6072

[2016-05-18 09:48] vitorbal commented on #6205
True! I think it looks like it would satisfy what you want, @ljharb?

[2016-05-18 10:44] SohKai opened #6210 "Export { x } from ... doesn't generate variable declaration"
Using v2.10.2, re-export statements in the fashion of `export { x } from ...` or `export { x as y } from ...` results in nodes that have `declaration: null`. I'm not well-versed enough with how the parsing is done to know if these statements would make sense having a declaration (since they don't declare variables the same way a `export var x = y` would do), but this lack of a declaration breaks r

[2016-05-18 10:57] mysticatea commented on #6023
Thank you, everyone, I'm happy :smile:

I did not have the rule's idea for parentheses of arithmetic operators.
I'm OK to generalize this proposal for all binary operators. Then, #6081-like, we can have preferences for each operator.

----

# no-mixed-operators

Enclosing complex expressions by parentheses makes more clarity of developer's intention, then the code would get more readability. This

[2016-05-18 12:10] mysticatea commented on #6190
Me too.

- This is similar to `no-unused-vars` rule, I think this is a basic feature.
- `no-unused-vars` rule has warning for `/*global */` comments. And `no-undef` rule has warning for `/*exported */` comments. This sounds a similar thing to me.
- Useless codes can be confusing us, so we have many rules to report useless codes, and this would be one of them. But a rule should not know other rules

[2016-05-18 12:16] kevva opened #6211 "`object-property-newline` with enhanced object literals"
Using the `object-property-newline` rule in conjunction with an object containing only enhanced object literals written on the same line reports as an error, as expected. What I want is an option to allow for writing the props on the same line _if_ it contains only enhanced object literals. Since those are defined outside the object it makes it kinda moot to write them on different lines.

![](htt

[2016-05-18 13:21] lemonmade opened #6212 "Rule extension proposal: id-blacklist accepts regular expressions"
**What version of ESLint are you using?**

2.10.2

**What problem do you want to solve?**

We are in the process of converting a large CoffeeScript codebase to ES2015+. That conversion generates a lot of temporary variables that we would like developers to provide more meaningful names for before committing. These temporary variables all have the format `ref\d*` (`ref`, `ref1`, `ref2`, etc). I wou

[2016-05-18 13:59] ilyavolodin commented on #6208
Global variables are controlled by this package: [globals](https://github.com/sindresorhus/globals) please open an issue there if you want to add some variables to the browser envrionment.

[2016-05-18 13:59] #6208 closed

[2016-05-18 14:02] ilyavolodin commented on #6203
Please take a look at http://eslint.org/docs/user-guide/configuring#specifying-parser-options As error message specifies, `import` and `export` statements can only be used with modules. You need `sourceType: module` added to your config, under `parserOptions`.

[2016-05-18 14:02] #6203 closed

[2016-05-18 14:06] ilyavolodin commented on #6146
It looks like v8-func-inline is exactly what you are looking for. Since it already exists as a plugin, that is easily installable, I'm going to close this issue, because I don't think those types of specialized rules are a good fit for the core. If you disagree, please feel free to reopen.

[2016-05-18 14:06] #6146 closed

[2016-05-18 14:17] ilyavolodin commented on #6209
What should happen with the following code:
[code]

While we could make some assumptions based on the code with static analysis, I'm not really sure it's worth it, in this particular case. It would be very complex code with a lot of edge cases, and could easily be replaced by just declaring a global variable.

[2016-05-18 14:22] ilyavolodin commented on #6210
Is that a valid syntax? Shouldn't it be `export default from 'your-package';` instead? Sorry I'm not really up to date on `export` syntax. But in any case, we should fix the rule crash, I think.

[2016-05-18 14:26] ilyavolodin commented on #6212
Hm. I thought we already had support for RegExp in `id-blacklist`. I think it's a reasonable enhancement. 👍

[2016-05-18 14:35] michaelficarra commented on #6210
@ilyavolodin Yes, it is. No, your suggestion is not valid.

[2016-05-18 14:58] pedrottimark commented on #5417
Instead of `working-with-rules-old` what do you think about `working-with-old-rules` so the file name is consistent with the title and main heading **Working With Old Rules**

[2016-05-18 15:55] #5477 closed

[2016-05-18 15:59] ljharb commented on #6205
Yes, absolutely the combination would work for me :-)

Feel free to close this in favor of #6072, otherwise I'll leave this open until the other one is closed.

[2016-05-18 16:01] #6026 closed

[2016-05-18 16:11] nzakas commented on #6193
@Mouvedia we already have over 200 rules, so we aren't adding new rules unless we believe that they are very important. (More details: http://eslint.org/blog/2016/03/updated-rule-policy)

This one is clearly important to you, and that's why we let people write their own rules: so you don't have to convince us. You can either distribute your rule in a plugin or use `--rulesdir` to load your rule at

[2016-05-18 16:11] #6193 closed

[2016-05-18 16:20] nzakas commented on #5417
what I had in mind:

1. working-with-rules renamed to working-with-rules-deprecated
1. working-with-rules-new renamed to working-with-rules
1. Notice at the top working-with-rules saying "if you're looking for documentation on the rule format used prior to ESLint v2.10.0, please see the deprecated documentation."
1. A blog post explaining the new format and why we did it, and hopefully, pointing t

[2016-05-18 16:44] Mouvedia commented on #6193
@nzakas thanks for the `--ruledir` trick.

[2016-05-18 17:29] nzakas commented on #6207
Thanks for the bug report. @vitorbal what do you think about https://github.com/eslint/eslint/issues/6207#issuecomment-219897227? Also, @markelog can you confirm if the JSCS version of this rule catches the examples in https://github.com/eslint/eslint/issues/6207#issuecomment-219897227?

[2016-05-18 17:31] #6171 closed

[2016-05-18 17:36] #2693 closed

[2016-05-18 18:07] markelog commented on #6207
[disallowObjectKeysOnNewLine](http://jscs.info/rule/disallowObjectKeysOnNewLine) works with computed properties, but doesn't catch this -

[code]

there is no analogue to `allowMultiplePropertiesPerLine` option as i recall

[2016-05-18 18:24] vitorbal commented on #6207
Thanks for the bug report, @fatfisz!
@nzakas I think both examples should trigger an error since the beginning of the object property starts at the `[`.
I'm just wondering if the second example not being caught by JSCS could cause any compatibility issues with people migrating over to ESLint from JSCS?
@markelog the analogous option in JSCS for `allowMultiplePropertiesPerLine` would be `"allExcept

[2016-05-18 18:29] markelog commented on #6207
@vitorbal oh sorry confused disallow and require rules, yeah it doesn't

[2016-05-18 18:46] Slayer95 commented on #6209
While I would prefer myself for that use case __to warn__, I understand the impossibility of asserting that the function is always called from safe places, specially when it's exported.

So I would be happy instead to help the linter with an ``/* eslint disable no-undef */`` on top of any such functions. Or better yet, ``/* eslint no-undef ["error", {"except": ["Symbol"]}] */`` (new feature: ``exc

[2016-05-18 19:13] scriptdaemon commented on #6209
@Slayer95 The problem with an `except` option is that it provides the exact same functionality as using `/*global ...*/`, which is redundant and is extra work for no benefit.

[2016-05-18 19:18] Slayer95 commented on #6209
No, because globals cannot be unset.

[2016-05-18 19:45] pedrottimark commented on #5774
@ilyavolodin @vitorbal What do you think about this example property in a file containing metadata for removed rules to automatically generate:
* Removed section at the end of the rules index
* main heading and iconized sentences in rule docs (removed) / was (recommended) / was (fixable)

[code]

* The main idea is when a rule is removed (if ever again ;) to copy-and-paste the meta object.
* What

[2016-05-18 19:46] BYK commented on #5936
@alberto - I'm not really sure actually. `requireForObjectLiteral` implies "require 'arrow function body' for object literal" which is an option to make the rule more strict. AFAIK we tend to have options that relax the original rule and `allowObjectLiteralBody` fits into that.

What do you think?

[2016-05-18 20:14] ilyavolodin commented on #6209
`/* eslint */` directives are hoisted on a file bases. So you can't just set them around a function (or rather, you can, but they will apply to the whole file).

[2016-05-18 20:18] ilyavolodin commented on #5774
I think I would make it a lot more verbose:
[code]

[2016-05-18 21:11] ayrton opened #6214 "False positive no-duplicate-imports for flow types"
**What version of ESLint are you using?**

2.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No errors, because as far as I know there's no way to merge both imports.

**What actually happened? Please include the actual, raw output from ESLint.

[2016-05-18 21:18] platinumazure commented on #6211
I'd love to see more examples of both good and bad code here. I'm not following the proposal as initially stated.

[2016-05-18 21:20] platinumazure commented on #6212
@ilyavolodin Does `id-match` subsume this functionality? (I've been wondering for some time now if we should condense all of those rules into one. I'm not necessarily advocating that we require users to use a massive regular expression to cover all their needs, but rather that we could have rule options in one rule to support lengths, blacklists/whitelists, and regexes.)

[2016-05-18 21:30] alberto commented on #5936
Ok, I think I see your point.

[2016-05-18 21:57] alberto commented on #6127
@eslint/eslint-team more opinions?

[2016-05-18 22:20] mikesherov commented on #6127
Thanks for contributing. Double negatives are harder to reason about than positive assertions. Do we have an `--include-pattern` option? Would that make more sense? I'd also imagine that'd be much easier to implement than the negative negative match.

[2016-05-18 22:30] nzakas commented on #6214
Unfortunately, I don't think we can do anything about this. We don't natively support Flow, so we can't put in exceptions for it. Your best bet is to either manually disable the rule or file an issue with babel-eslint to see if maybe they can do something on that end.

[2016-05-18 22:36] nzakas commented on #6209
This is crossing over into evaluating code, not just staticly analyzing it, and that's a lot more complicated than just code path analysis. We don't have any capacity for conditionally defining variables as we evaluate code, which would also be a prerequisite.

👎

[2016-05-18 22:37] nzakas commented on #6200
No response, and not enough information, so closing.

[2016-05-18 22:37] #6200 closed

[2016-05-18 22:39] nzakas commented on #6206
Can you share all the errors you're seeing?

[2016-05-18 23:07] fatfisz commented on #6206
Right - I will paste the short 13-error version then:
[code]

[2016-05-18 23:09] fatfisz commented on #6206
As you can see, the errors can be grouped into these categories:
- expected the array containing `.eslintrc` files to have one element less
- expected the array containing `.eslintrc` files to match an array without the root config file (`D:\.eslintrc`)
- expected `parserOptions` not to contain the `"es6": true` rule

[2016-05-18 23:12] fatfisz commented on #6206
@nzakas I can also post the 70-error version if it will help.

[2016-05-19 00:34] Berkmann18 commented on #2606
Sorry for the bump.
I keep getting "Split into declaration and initialization" warnings (which I don't want) but according to this thread the rules which are init-declarations and one-var but both are off, why is that happening ?

[2016-05-19 00:39] ilyavolodin commented on #2606
@Berkmann18 Please open a new issue.

[2016-05-19 05:19] nickclaw opened #6218 "Proposal: ignore `no-param-reassign` for spread arguments."
**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Since I believe the above code is equivalent to:
[code]

I think it would make sense to not treat this as

[2016-05-19 06:36] Slayer95 commented on #6209
I got a [proof of concept working (@MIT License)](http://hastebin.com/pexapeyuku.coffee).
But I am sure it can be improved upon with ESLint's integrated path analysis tools.

[2016-05-19 07:39] kevva commented on #6211
Bad:

[code]

Good:

[code]

[2016-05-19 08:46] mysticatea commented on #6067
So, the intention of original JSCS rule is "Disallow that any statements locate at beside IfStatements.".

For JSCS compatibility:

- We can use `{allowSingleLine: false}` option of `brace-style` rule if there is a block.
- We can use this rule if there is not a block.

[2016-05-19 08:47] jpzwarte opened #6219 "no-extra-parens false positive"
[code]

The above triggers a false positive for the no-extra-parens rule: if you remove the parens, the value is different.

**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
ecmaVersion: 6

**Please show your full configuration:**
https://gist.github.com/jpzwarte/46351dfd29063ceaf3f2447916112a22

**What actually happened? Please include

[2016-05-19 09:06] mysticatea commented on #6203
@beliefgp The modules are different from scripts. For example,

- ECMAScript makes modules strict mode always.
- ECMAScript adds some new reserved words to modules.

So if we handled all codes as modules, it would break the Web.

- Browsers will handle the code as modules only when a code was loaded by `<script type="module" src="foo.js">`.
(https://html.spec.whatwg.org/#the-script-element)
- Node

[2016-05-19 09:27] mysticatea commented on #6210
Thank you for this issue.

I confirmed it.
I will fix it.

[2016-05-19 10:06] isiahmeadows commented on #6209
@ilyavolodin

In your code sample here:

[code]

That should most definitely warn, because that function can in theory be called from outside the code block, and as @nzakas pointed out, that would literally require code execution to find out whether it's actually defined or not. I'm strictly requesting that within a single code branch, it is seen as defined, and not checked. Had it been defined li

[2016-05-19 10:10] isiahmeadows commented on #6209
@nzakas Have you thought of using a hash map of identifiers that you whitelist to ignore within the rule? You can add them when you see the `typeof`, and remove them after you leave the code path. Or can you not add code path-specific data that inherits prototypically or similarly as such?

[2016-05-19 10:48] mysticatea commented on #6214
I think [this issue](https://github.com/babel/eslint-plugin-babel/issues/59) is for this.

[2016-05-19 11:13] vitorbal commented on #5774
@pedrottimark I think keeping the **README.md** as the template sounds okay. I was actually trying to achieve this by having it renamed to *README.md.ejs* and passing it through EJS, like we do for `templates/blogpost.md.ejs` at the moment.

with regards to the new `docs` fields, I like @ilyavolodin suggestion, in that case `deprecationInfo` would also cover the extra sentence needed for `global-s

[2016-05-19 11:36] mysticatea commented on #6218
Could you try `no-param-reassign: ["error", {"props": false}]`?
AirBnB config has `{"props": true}` setting.

- http://eslint.org/docs/rules/no-param-reassign#props
- https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/rules/best-practices.js#L152

[2016-05-19 11:39] mysticatea commented on #6219
Thank you for this issue.

Where is `17:23`?

[2016-05-19 11:45] jpzwarte commented on #6219
That's the line i pasted at the top of the issue.

[2016-05-19 11:47] mysticatea commented on #6219
I'd like to see the exact position. Is it the first open paren?

[2016-05-19 11:49] mysticatea commented on #6219
Because the first parentheses in your code is surely extra parentheses.
You can remove it safely.

[2016-05-19 11:50] jpzwarte commented on #6219
I made a simpler example:

[code]

[code]

So 9 is the first opening parens.

[2016-05-19 11:51] jpzwarte commented on #6219
Ah, you'r absolutely right. First parens is superfluous, but the second isn't. Thanks.

[2016-05-19 11:51] #6219 closed

[2016-05-19 13:08] gajus opened #6221 "Whats the difference between "build" and "chore" (git commit guidelines)"
http://eslint.org/docs/developer-guide/contributing/pull-requests#step2

It seems like Chore covers Build most of the time, e.g. aren't tests part of the build process?

[2016-05-19 13:16] mysticatea commented on #6023
I rethought my proposal. The new proposal has `groups` option instead of `ignore` option.
In this proposal, we can specify groups of operators we want to prevent mixed uses.
I'd like to make forward with this proposal.

----

# no-mixed-operators

Enclosing complex expressions by parentheses makes more clarity of developer's intention, then the code would get more readability. This rule warns a us

[2016-05-19 13:25] gajus opened #6222 "ESLint does not resolve plugin dependencies of a config when using npm link"
I have a custom ESlint config:

[code]

That config is using plugins, e.g. `eslint-plugin-import`.

Then I link this config in my project:

[code]

Then I try to lint the project:

[code]

and I get the an error complaining that:

[code]

I can confirm that `eslint-plugin-import` is installed in the `eslint-config-foo`:

[code]

The only workaround that I have found is to install all config ESLint

[2016-05-19 13:26] platinumazure commented on #6219
@jpzwarte Also remember that you can always use inline configuration comments if you honestly believe that the code reads better with the rule violation:

[code]

[2016-05-19 13:47] mikesherov commented on #6023
I really like the groups proposal but I think we may want to have a couple of keywords as shorthand: `logical`, `mathematical`, and `comparison`. IMO, this will make the standard cases people will use easier to configure, considering that a lot of folks know about PEMDAS for mathematics but not the precedent of logical operators nor comparison operators.

[2016-05-19 13:49] jfmengels commented on #6023
@mysticatea I'm not sure I got this: In both your examples, would `a + b - c` be good or bad? I think this would be fine, as their precedence is the same.

And i was about to propose the same thing as @mikesherov: keywords/"presets" of operators. I think that a lot of people would not think of adding the `**` operator for instance (at least currently).

[2016-05-19 14:15] btmills commented on #6195
Consistency with another rule sounds like a compelling argument to me. There are cases for normal functions that `space-before-function-parens` covers that we can't cover right now for generator functions because `generator-star-spacing` lacks similar options. I'm in favor 👍  @jsnajdr @jryans are either one of you willing to put together a PR for this if the issue is accepted?

[2016-05-19 14:16] mysticatea commented on #6023
Thank you for the feedbacks!

Presets idea looks great!
But I have a concern. As you know, `**` was added in ES2015. So operators can be added in future. I think adding new operators into presets is a breaking change. There is maintenance cost on presets.

`ignoreSamePrecedence` option (default is `false`) is fine to me. I'd like to add it.

[2016-05-19 14:18] chalda commented on #3611
so was the glob based configuration ever merged into eslint? I'm also looking for a ways to specify an environment just for *.spec.js files.

[2016-05-19 14:25] mysticatea commented on #6195
:+1:

Also, please remember classes.
I would prefer `methods` instead of `shorthand`.

[2016-05-19 14:27] jsnajdr commented on #6195
@btmills Yes, I'm willing to create a PR that will add support for the following syntax options:
[code]
The existing syntax will set the rules for all three forms, like it does now.
For `method`, the `before` space doesn't make sense, so it will be ignored.

@mysticatea Is there anything else we need to cover for classes? `method` option is enough, isn't it?

[2016-05-19 14:28] btmills commented on #6206
While we should still add `root: true` to our config, I'm curious about your use case for this. Do you intentionally want to modify project configs that don't specify `root: true`, or are you really just looking to provide your own personal default for projects that don't specify a config at all? If all you're going for is a fallback config, you can move your `.eslintrc` to your user home director

[2016-05-19 14:33] #6167 closed

[2016-05-19 14:57] michaelficarra commented on #6023
@mysticatea That's not a breaking change, since they were not using the operator before it was added to the language. You can think of it as the operator always having been in the preset.

[2016-05-19 15:11] jfmengels commented on #6023
It is for people who were using `**` before upgrading to a version of ESLint who supports it. In this case, it will probably be in there from the start, but if new operators get into JS and some people use low stages of Babel very early on, then some new ESLint errors could appear in their codebase.

[2016-05-19 15:22] michaelficarra commented on #6023
@jfmengels No, the rule will support whatever is supported by the default parser. If someone uses a different parser, they need to use different rules. This project cannot be concerned with making each of its rules work with every imaginable parser.

[2016-05-19 15:59] btmills commented on #6222
@gajus this looks like a duplicate of #3458. It's been open for a while, but we don't have a spec for what a fix would look like yet. Nobody's claimed it yet - any good ideas? You could probably pick it up and run with it.

[2016-05-19 15:59] #6222 closed

[2016-05-19 16:10] ilyavolodin commented on #3611
No, glob based configuration has never been fully implemented (that's why this issue is still opened), as such it was never merged in.

[2016-05-19 16:20] captainbrosset opened #6224 "Definining the max-len rule with ignorePattern containing a colon inline in a file results in a JSON parsing error"
**What version of ESLint are you using?**
2.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
In .eslintrc I have configured the max-len rule to be:
`"max-len": [2, 80, 2, {"ignoreUrls": true, "ignorePattern": "data:image\/|\\s*require\\s*\\(|^\\s*loader\\.lazy|-\\*-"}],`

**What did you do? Please include the actual source code cau

[2016-05-19 16:26] mikesherov commented on #6023
presets should definitely include new operators as they're added to the language. exponentiation operator is a mathematical operator. To not have it in the `mathematical` preset would be confusing.

[2016-05-19 16:58] gajus commented on #6222
I have my hands full at the moment.

Thank you for referring to the correct issue.

[2016-05-19 17:09] btmills commented on #6084
Though we can't change the output format, could we add some sort of hint like this to the message?

[2016-05-19 17:20] fatfisz commented on #6206
@btmills Oooh, I didn't know about that. Yes, I was using this as a fallback config for my new projects, thanks for the advice.

[2016-05-19 17:25] ilyavolodin commented on #6206
I still think the original issue is correct and we should add `root: true` to our config. I know I've ran into an issue when I created .eslintrc file for testing in the folder above eslint, and then all of my unit tests started failing within ESLint. Took me a little while to figure out what's going on.

[2016-05-19 17:28] gyandeeps commented on #6206
Our project `.eslintrc` has `root: true` in it. I think the test are failing because some of the test gets copied into the temp folder for execution and thats when it goes and hits the home directory .eslintrc' file. I think i have this right, but correct me if i am wrong.

[2016-05-19 17:30] fatfisz commented on #6206
@gyandeeps Yes, I think I saw some error reports coming from files contained in `D:\Temp`, which is my default temporary directory.

[2016-05-19 18:22] RRMoelker opened #6225 "no-multiple-empty-lines fixer"
The no-multiple-empty-lines rule does not yet have a fixer for auto removing extra lines. I would like to have a fixer to remove these lines where applicable.

I already made the code to solve this issue. I'll link the PR a.s.a.p.

[2016-05-19 18:45] gyandeeps commented on #6206
When I tried on my machine (Windows 7), i got 11 errors but only 5 had error output :confused:

[code]

Used the same steps as @fatfisz mentioned above.

[2016-05-19 18:54] jfmengels opened #6227 "Make RuleTester test runner agnostic"
Hey guys!

I have a few ESLint plugin repos I'm maintaining, where we use `AVA` as the test runner instead of `mocha` (including `eslint-plugin-ava` :smile:). What we did until now was to wrap the whole RuleTester call in one AVA test, which made the test feedback pretty bad (it's all good or all fail, you don't know which one crashed, and the error messages were simplistic), just like if you woul

[2016-05-19 19:25] ilyavolodin commented on #6227
RuleTester used to have a hard dependency on Mocha, but it was removed to satisfy some plugin requirement of using Jasmine instead. It works by the fact that both Mocha and Jasmine use the same syntax (`describe`, `it`). I'm not really sure how we could make it completely framework agnostic. Even if we were to expose two variables that you could override, it would work for every use case (for exam

[2016-05-19 19:45] jfmengels commented on #6227
QUnit has `modules`, which seem similar (could be wrong). `AVA` doesn't have a `describe`. What I did in `eslint-ava-rule-tester` was [this](https://github.com/jfmengels/eslint-ava-rule-tester/blob/master/index.js): store the description of the `describe` and prefix it to every "it". It could have been an even simpler function that just calls the passed method, no problem there.

Yeah, probably no

[2016-05-19 20:06] ilyavolodin commented on #6227
I would be fine with adding another optional parameter to the RuleTester constructor that could supply overrides for `describe` and `it`. It would still not make RuleTester portable, since you are locked into Chai, but that would at least provide an easier way to use it with a different test runner. I think if accepted, this would be a pretty low priority for the team, so you might need to submit

[2016-05-19 20:29] jfmengels commented on #6227
Yeah, understandable, especially since I do have a work around for this. If this gets accepted, I may try to submit a PR, depending on how complicated this will be.

And yeah, still dependent on `chai`, meaning we can't benefit from AVA's power-assert feature :s.

[2016-05-19 20:30] jamestalmage commented on #6227
RuleTester appears to only [depend on `assert`](https://github.com/eslint/eslint/blob/master/lib/testers/rule-tester.js#L44). I don't see any Chai `.should` usage in there either. Perhaps I'm missing something.

👍 - `adapter` or `testRunnerAdapter` would be good names for this option.

Assuming I am right about `assert` above, it *might* be worth also allowing a replacement `assert` API (it would

[2016-05-19 20:30] jfmengels commented on #6227
Yeah, understandable, especially since I do have a work around for this. If this gets accepted, I may try to submit a PR, depending on how complicated this will be.

[2016-05-19 20:40] nmn commented on #5989
Name suggestion: `no-arrow-newline`

[2016-05-19 21:08] nzakas commented on #6227
Sorry, trying to get caught up here.

First, `RuleTester` is already library-agnostic. If you don't have Mocha installed, it will still run the asserts. It also "just works" with Jasmine, since it defaults to using global `describe` and `it` if found, and just uses an empty function if not.

You can already override `describe` and `it` on a `RuleTester` to do whatever you want, so I'm not sure why

[2016-05-19 21:10] nzakas commented on #6225
Sounds good!

[2016-05-19 21:12] nzakas commented on #6221
Build has to do with strictly with the build process - creating a new build task, updating the release script. Basically, "Build" is for changes to `Makefile.js`.

Everything else is a chore.

[2016-05-19 21:13] nzakas commented on #6221
By the way, can you please ask questions like this in the chatroom? It saves us time from triaging issues. Thanks

[2016-05-19 21:13] #6221 closed

[2016-05-19 21:14] nzakas commented on #6214
Thanks @mysticatea. That seems like the right place to continue discussing.

[2016-05-19 21:14] #6214 closed

[2016-05-19 21:15] nzakas commented on #6206
Since the errors are limited to the `Config` file, we can probably just go through all the fixtures for `Config` and add `root:true`.

[2016-05-19 21:19] nzakas commented on #6123
We aren't going to merge `eslint-cli` into the core. We've made attempts before but could never come to an agreement on how to do it without causing massive confusion.

Changing dependency lookup paths is tricky, so we still recommend that you either use everything installed locally or everything installed globally.

[2016-05-19 21:20] nzakas commented on #6121
Doing a new release of Doctrine that supports uppercase JSDoc tags now. Should be ready in a few minutes.

[2016-05-19 21:21] nzakas commented on #6209
@isiahmeadows all of this is done inside of `escope`, which is mostly a black box for us. It doesn't have these dynamic capabilities. That's why I'm saying, what you're asking might be technically possible, but it would be a massive amount of work to do it correctly and I just can't see us taking on that amount of work at this point.

[2016-05-19 21:22] nzakas commented on #6207
@markelog do you consider the JSCS rule not catching the multi-line computed property as a bug?

[2016-05-19 21:24] nzakas commented on #6084
@btmills I wouldn't want to do that as part of the normal output. We just can't know how going to multiple lines for output is going to affect people consuming the output.

This sounds more like you should run `--init` with autoconfig.

[2016-05-19 21:28] jfmengels commented on #6227
@nzakas The main thing would be semver garantees.
Right now, I'm doing what you just said, but I'm hacking it, and I have no garantee that the ESLint team will not remove it, as you might consider it as something internal.

Then as @jamestalmage mentionned, if we could inject an `assert` object, we could potentially do some more cool stuff.

@ilyavolodin I just checked what @jamestalmage said, and

[2016-05-19 21:31] ilyavolodin commented on #6227
Ah, you are correct. `assert` used to come from `chai` in the initial version of the RuleTester, but not anymore.

[2016-05-19 21:41] ayrton commented on #6214
You're right, thanks

[2016-05-19 21:49] mysticatea commented on #6195
yes, method option is enough.

[2016-05-19 21:56] alberto commented on #6121
Cool, thanks

[2016-05-19 21:57] gyandeeps commented on #6206
I dont think just adding `root: true` would completely solve the problem. Function under testing is [`findLocalConfigFiles`](https://github.com/eslint/eslint/blob/master/lib/config.js#L295) whose job is to discover all the files with a particular file name from the a directory to all the way up to home/base directory. Since its just discovering the files up the chain and not looking inside the con

[2016-05-19 22:13] mysticatea commented on #5989
#6067 might be related.

[2016-05-19 23:06] dfmartin commented on #2771
@ilyavolodin how would I configure quotes to allow template literals?

[code]
I have tried "allow-template-literals" and various other permutations, but I keep receiving: Value "allowTemplateLiterals" no schema.  Much appreciated.

[2016-05-19 23:35] jamestalmage commented on #6227
Implementing this would greatly improve, [this situation](https://github.com/eslint/eslint/blob/master/tests/lib/testers/rule-tester.js#L23-L39) .

At a minimum, let's add a few tests validating what happens when you replace `it` and `describe`.

[2016-05-20 00:34] #6121 closed

[2016-05-20 00:37] nickclaw commented on #6218
Oh duh. That makes a lot of sense, I even saw that option but somehow didn't connect the dots. Thanks!

[2016-05-20 00:37] #6218 closed

[2016-05-20 01:25] ilyavolodin commented on #2771
@dfmartin Please join gitter chat if you have question about configuring ESLint. Old closed issues are not correct place for this type of questions.

[2016-05-20 04:10] kaicataldo commented on #6123
Appreciate you filling us in, @nzakas. I'm going to go ahead and close this. Thanks for the issue, @gajus.

[2016-05-20 04:10] #6123 closed

[2016-05-20 08:51] hujb2000 opened #6232 "The indent rules can't work fine in a complex case of jsx"
eslint: v2.10.2

parser: default

.eslintrc
[code]

The actual source code come from https://github.com/hujb2000/easynode-ipc/blob/master/plugins/js/forms/ProgressBar.jsx that context below:
[code]

when I run  eslint js --ext .js,.jsx  that console below:
[code]

when I run eslint js --ext .js,.jsx then the ProgressBar.jsx file was formatted like below that is not what I expected obviously
[code]

[2016-05-20 10:35] markelog commented on #6207
I definitely do

[2016-05-20 10:45] mysticatea commented on #6224
Thank you for this issue.

I confirmed it.
I guess the cause is this line: https://github.com/eslint/eslint/blob/777941e7ba6c1424572380edf5fd1b19b7c0e07c/lib/eslint.js#L83

I'm not sure how to fix this...

[2016-05-20 11:20] peet opened #6233 "Bug: Auto Fix comma-dangle wipes file with 'always' and a final paren wrapped item with no comma"
**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
None

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I ran `eslint --fix commas.js`

**`commas.js`:**
[code]

**What did you expect to happen?**
An additional training comma added: `('bad'),`

**What actually

[2016-05-20 12:00] mysticatea commented on #6233
Thank you for the investigating and report.
Wow, this is a big bug.

I will try to fix this.

[2016-05-20 12:10] mysticatea commented on #6233
I guess we need 2 step to fix this:

- Stop auto fixing loop if the previous auto fixing's result has a syntax error.
- Then fix `comma-dangle`'s wrong fixing.

[2016-05-20 15:12] justinmchase opened #6236 "Class fields do not produce forbidden semi-colon errors"
**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

Standard forbids semi-colon usage
[code]

**What did you expect to happen?**
I expected the linter to product an error about the semi-colon on the

[2016-05-20 15:28] nzakas commented on #6227
@jfmengels RuleTester is part of our exported API, so it follows semver when it comes to changes.

Allowing `assert` to be overwritten seems like an easy thing to do if that's helpful.

@jamestalmage we happily accept pull requests with more tests.

[2016-05-20 15:38] nzakas commented on #5774
Can't we simplify this info?

[code]

I don't think the date is useful or practical for this purpose (manually including dates is notoriously inaccurate). Since no further changes so be made to the file, you can just look at the last commit with a change to this file to get the date when necessary.

[2016-05-20 15:43] pedrottimark commented on #5774
In https://github.com/eslint/eslint/issues/5774#issuecomment-220136972, I omitted the following information because it is already available:

* ./conf/replacements.json has the **Replaced by** rules
* ./versions.json has ESLint version in which rule was added and removed

[2016-05-20 15:46] nzakas commented on #6072
@eslint/eslint-team need some more feedback here.

👍

[2016-05-20 15:47] nzakas commented on #6206
Ah, good point.

[2016-05-20 15:50] nzakas commented on #6127
@mikesherov `ignore-pattern` lets you specify a pattern as if it were in `.eslintignore`, so the "ignore" is not a verb, it's a noun.

I do think anything we support in `.eslintignore` should be possible using `--ignore-pattern` 👍

[2016-05-20 15:51] nzakas commented on #6127
Oh, and this looks more like a bug to me since inclusions work in the file.

[2016-05-20 15:53] nzakas commented on #5774
I think `replacements.json` is only updated when a rule is removed, so the info is best kept in a deprecated rule until that point.

[2016-05-20 17:57] platinumazure commented on #5774
@nzakas The reason I suggested a datetime is because we could actually handle expirations in that way. (I don't think we need a deprecation datetime, but rather an expiration datetime.) That way, we could note in the documentation when we plan on removing a rule. (Presumably that would be a year out from deprecation, per the other discussion on rule deprecation/removal.) But perhaps that's not as

[2016-05-20 18:21] gyandeeps commented on #6206
So far https://github.com/tschaub/mock-fs looks promising as we can fake the directory structure rather than using the real directory structure.

[2016-05-20 19:42] mpal9000 opened #6237 "Allow config packages to define plugins as their dependencies"
It would be nice to install and update less devDependencies in our projects. Config authors, should have the choice to define plugins, parsers and maybe more in the future, as dependencies of their config modules. A self-contained config package is better dev experience in my opinion, than having to install and maintain a config, a parser, and a few plugin packages on every project.

One way to do

[2016-05-20 20:54] mikesherov commented on #6127
I'll relent considering that this is a bug, but I don't buy the "it's a noun not a verb so double negative isn't a problem" argument.

Mike Sherov

[2016-05-20 23:39] jeremyruppel opened #6238 "require-jsdoc doesn't recognize comment blocks with newlines afterward"
**What version of ESLint are you using?**

2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No errors. jsdoc allows whitespace between the comment block and the commented node.

**What actually hap

[2016-05-21 02:28] nzakas commented on #6238
This was done intentionally. It's tricky to detect appropriate JSDoc comments for pieces of code, so one of the heuristics we use is proximity. We help to narrow the possibilities by assuming that JSDoc comments always appear on the line immediately above the code it describes.

So, I'm not sure we would want to change that, and if we did, it would have to be an option rather than a default behavi

[2016-05-21 02:56] kaicataldo commented on #6236
Hey, thanks for the issue. It looks like you're using babel-eslint, which uses its own parser. I just tried this using http://astexplorer.net/. It looks like Espree (the default ESLint parser) does actually throw on the semicolon, while Babylon (babel-eslint's parser) does not. Can you try this with the default parser (you can do so by deleting the parser key from your .eslintrc), and let us know

[2016-05-21 02:59] kaicataldo commented on #6206
mock-fs is great!

[2016-05-21 03:58] mikesherov commented on #6238
I would say this is a relaxing option that detects doc-blocks as long as there is no other token between the docblock and the thing it's describing. This seems like a totally legit ask IMO

[2016-05-21 06:10] BYK commented on #6072
👍

[2016-05-21 13:26] yaycmyk commented on #905
Can this also be added as an .eslintrc option @nzakas?

[2016-05-21 14:13] ilyavolodin commented on #6236
Class Property Declarations are stage 1 proposal (so, very far from being accepted). As such, ESLint doesn't have support for them. You should open an issue for `eslint-plugin-babel`. Closing, as this is not supported.

[2016-05-21 14:13] #6236 closed

[2016-05-21 15:13] kaicataldo commented on #6072
Unless there's already a convention to use items when referring to object props, I wonder if there is a better name for the minItems option. minProps/minProperties? A little more verbose, but that's the terminology I'm used to using/seeing.

Otherwise, :+1: from me

[2016-05-21 16:22] nzakas commented on #6206
If someone wants to give it a try, go for it!

I had a lot of trouble with mock-fs when I tried to use it in some tests previously, but it's entirely possible I didn't know what I was doing. :)

[2016-05-21 16:23] nzakas commented on #6072
@kaicataldo agreed, we should use "props" or "properties" for consistency

[2016-05-21 16:28] nzakas commented on #6238
For some context, The problem we were trying to avoid was this:

[code]

Basically, there's no guarantee that a JSDoc block preceding a function actually refers to that function (and there are numerous types of JSDoc comments that do not).

@mikesherov so is that a :+1: from you?

[2016-05-21 16:38] #5845 closed

[2016-05-21 17:01] mikesherov commented on #6238
Yeah, thats the exception that proves the rule. It's a :+1: from me to have an optional "relaxed" mode.

[2016-05-21 19:55] justinmchase commented on #6236
Ok, thanks for the reply. I'll push the bug on up.

[2016-05-21 20:04] hzoo commented on #6236
This is basically https://github.com/babel/eslint-plugin-babel/issues/43 - modify semi and friends to support class properties.

[2016-05-21 20:34] DelvarWorld commented on #2112
The above doesn't work with babel 6: `Unknown option: .babelrc.ecmaFeatures.`. Still investigating

[2016-05-21 20:35] ilyavolodin commented on #2112
@DelvarWorld Those are configuration for ESLint, not babel, so they should go into your .eslintrc file.

[2016-05-21 23:43] mysticatea commented on #6072
Thank you!

I'll update my PR by feedback.

[2016-05-22 01:27] isiahmeadows commented on #6209
@nzakas Should this be opened as an issue against `escope` instead, to request an `isTypeofGuarded()` method?

[2016-05-22 02:30] mockdeep opened #6240 "Configuration to enable all rules"
I would love to have a configuration that enables all rules, that way I can selectively disable them:

[code]

This way I can easily be made aware of new rules when I upgrade, and don't have to go hunting through the docs to figure out which ones to add to my configuration file.

[2016-05-22 06:40] mysticatea commented on #6023
Honestly, I want not to add presets for this time. JS has keyword operators, so presets may be confusable.

    {groups: [["logical", "arithmetic", "instanceof"]]}

 Instead, documents show [categories of operators](https://github.com/eslint/eslint/pull/6241/files#diff-9281570e12d9d9c973cc09aa963063ccR63) (copyable).
We can add presets in future, but cannot remove/modify it without breaking.

[2016-05-22 07:09] mysticatea commented on #6073
@eslint/eslint-team #6072 got accepted, so, how about this rule? This and #6072 are pretty similar.

Thank you.

[2016-05-22 08:57] zanona commented on #820
I am not sure if this belongs to this issue however when having the following structure:

[code]

where `~/.eslintrc`

[code]
and `~/path/to/my/project/.eslintrc.yaml`

[code]

Where the file inside my project is reseting the configuration set on my home directory rather than extending it? Is this the intended behaviour?

[code]

[2016-05-22 15:06] ilyavolodin commented on #6073
I'm :+1: but I still wonder if we should merge all of those 3 rules into one.

[2016-05-22 15:07] ilyavolodin commented on #820
@zanona Configuration in home directory will only be used if no other configuration is found. This is intended behavior.

[2016-05-22 15:50] aarongreenwald commented on #5150
I'm going to add to the chorus requesting an exception (and if it would be accepted, I'd be willing to work on a PR to get it done).

I like having `no-return-assign`, but I also want to error when braces are used in arrow functions that contain only one line. And I don't want to add visual weight to my code. For me, one of the key benefits of arrow functions is the ability to write clean, concise

[2016-05-22 23:25] DelvarWorld commented on #4085
Since this is the first google result for "eslint promise is not defined" I feel like it would be helpful to explicitly state the solution to this error here:

add `"env": { "es6": true }` to your `.eslintrc`.

[2016-05-23 02:29] dominicbarnes commented on #4943
I recently ran into an issue when using linter-eslint in Atom.

I was using `--cache` in my own repo/project, but linter-eslint is running w/o specifying `cache: true` and my `.eslintcache` file was being deleted for no apparent reason. This was confusing to me, and I never expected that leaving out `cache: true` would delete the cache from previous runs.

Now that I've read through this thread, I

[2016-05-23 03:19] mysticatea commented on #6240
Related: #2730.

[2016-05-23 03:36] mysticatea commented on #6073
Hmm, The implementation of `object-curly-newline` rule and `array-bracket-newline` rule are almost same surely, but I feel merging is an opposite of spacing rule's decision. The 2 spacing rules (`object-curly-spacing` and `array-bracket-spacing`) seemed to be separated from `space-in-brackets`. I'd like to hear reasons for the decision.

[2016-05-23 04:08] mockdeep commented on #6240
Oh, okay. Should I comment there instead? I hacked together a basic script which does it, but it would be great to have something out-of-the-box. Needs some cleanup, but it did the trick:

[code]

[2016-05-23 06:59] captainbrosset commented on #6224
Indeed, it does look like this line is responsible for this bug.
So, any property value that has a colon in it will hit the bug:

`{a:"foo:bar"}` will produce `{"a":""foo":bar"}`

One option would be to not try and modify the string at all and only accept valid JSON, just like in .eslintrc. But I'm guessing that would cause compatibility issues.

[2016-05-23 08:56] jsnajdr commented on #6195
There's one more case to consider: `class Foo { static *foo(){} }`

[2016-05-23 10:49] mysticatea commented on #6224
Another option is to make a fallback which parses it as valid JSON.

[code]

@eslint/eslint-team does anybody have any insight here?

[2016-05-23 15:49] nzakas commented on #6009
@alberto yes, I mean closing issues we aren't going to do.

[2016-05-23 18:04] adokania commented on #3720
I am still seeing the same issue. Tried multiple different versions(2.2.0, 2.10.2, 1.0.0) of eslint. My eslintignore file includes the following:
`view_study/`

and i see the following warning when running eslint:

`/view_study/ignored_test.js
  0:0  warning  File ignored because of a matching ignore pattern. Use --no-ignore to override`

[2016-05-23 18:04] rhalff commented on #5633
I'm having a similar issue with the `spaced-comment` rule:

[code]

[code]

Perhaps eslint itself could just ignore the shebang?

The line is not related to javascript and should therefor not be parsed by any rules.

Else if that's considered too expensive have the affected rules test for a shebang whenever an error occurs and let them ignore their own error.

[2016-05-23 18:33] mik-jozef commented on #1229
I'd also welcome this. Sometimes I do
[code]

[2016-05-23 19:07] tjwebb opened #6243 ""no-unused-vars" rule should not fail when vars are actually used"
**What version of ESLint are you using?**
2.10

**What parser (default, Babel-ESLint, etc.) are you using?**
none

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expected there to be no rule violation

**What actually happened? Please include the actual, raw output from ESLi

[2016-05-23 19:12] #6233 closed

[2016-05-23 19:13] #5502 closed

[2016-05-23 19:14] #6210 closed

[2016-05-23 19:17] nzakas opened #6244 "Formalize semantic versioning policy"
Continuing from https://github.com/eslint/eslint/issues/6176#issuecomment-219751132, JSCS had a very clear semantic versioning policy on its README (https://github.com/jscs-dev/node-jscs/blob/master/OVERVIEW.md#user-content-versioning--semver) that made it obvious when something should be a breaking change or not. We should come up with a similar statement.

[2016-05-23 19:18] nzakas commented on #6176
I concur that this is a bug as the documentation seems to indicate that the desired behavior.

I've opened an issue so we can discuss formalizing a semver policy: https://github.com/eslint/eslint/issues/6244

[2016-05-23 19:21] nzakas commented on #6237
Hmm, I'm a bit confused. Your pull request doesn't seem to have anything to do with allowing shareable configs to specify plugins as dependencies. That request is already being tracked in #3458.

Your PR looks more like it's proposing a way to load plugins from the filesystem without having to install a package through npm.

Am I missing something?

[2016-05-23 19:22] #6176 closed

[2016-05-23 19:26] tiemevanveen commented on #5498
@platinumazure I've added your example to the docs https://github.com/eslint/eslint/pull/6242/files \0/

[2016-05-23 19:28] ilyavolodin commented on #6243
Why do you think `ParcelService` is used? It's assigned to, but nothing in your code example uses the value of that variable. Based purely on the code that you posted, you can safely remove that variable without affecting anything.

[2016-05-23 19:32] nzakas commented on #632
I'm going to close this issue. Since we only had one thing missing from the list, and no one seems to know if it's important or not, I'd rather move on and see if anyone files an issue for it.

[2016-05-23 19:32] #632 closed

[2016-05-23 20:21] IanVS commented on #3720
@adokania, how did you invoke eslint?  Are you using symlinks?  From what I can tell, what you're experiencing seems to be unrelated to this issue.  Feel free to hop on our Gitter room if you'd like some help.

[2016-05-23 20:23] nzakas commented on #6240
We can discuss here. The concern with having all rules enabled is that not all of them have defaults that make sense for most people. For instance, people are generally split between double and single quotes, so what would you expect that rule to do when enabled by default? Maybe it doesn't matter, but I'm not sure.

I'm not opposed to the idea, I just want to make sure we have a good idea of peop

[2016-05-23 20:27] nzakas commented on #6232
What is it that you didn't expect? What did you expect instead?

(Note: it helps us a lot of you can use the issue template instead of deleting it.)

[2016-05-23 20:29] nzakas commented on #6224
I believe @ilyavolodin wrote this bit initially.

[2016-05-23 20:32] nzakas commented on #6211
I think what you're saying is that if you are using shorthand initialization for properties, that it should not require new lines?

Note: it helps us a lot to follow our contribution guidelines (http://eslint.org/docs/developer-guide/contributing/rule-changes).

[2016-05-23 20:36] kevva commented on #6211
Yeah, exactly :). Or at least having an opttion to allow it for objects containing only shorthands.

[2016-05-23 20:37] nzakas commented on #6209
@isiahmeadows no, that's beyond on the scope of escope. If anything, escope would have to be changed to allow dynamic scope changes, however, there's very little work being done on escope, so I doubt any significant change that isn't completely necessary would happen.

As I've said, the amount of work necessary to implement what you're requesting makes it unlikely to happen unless you want to take

[2016-05-23 20:43] pedrottimark commented on #5774
Any thoughts whether it communicates or confuses in the doc for a removed rule:
* To display recommended icon if the rule was recommended at the time it was removed. If yes, I will verify that the 3 I think might have been really were.
* To display recommended (if yes to above) and fixable icons in gray to reinforce past tense “enabled” and “fixed” in the sentences.

<img width="1024" alt="5774 re

[2016-05-23 20:44] nzakas commented on #6190
I don't see a way that this functionality can be implemented as a rule without breaking some of the abstractions we have in place. For instance, rules intentionally cannot know about other rules or other rule configurations. That's important to keep in place to avoid improper coupling of rules.

If anything, I think this would have to be a CLI flag. We can't start having people's builds failing be

[2016-05-23 20:44] ilyavolodin commented on #6224
I might've. I really don't remember now:-) I think the reason why that regular expression exists is that comments are usually not in a valid JSON form, so we need to quote key-names. What we might want to do is modify RegExp, so it wouldn't ignore colons that are already inside quotes. Or @mysticatea solution would work (although would be slower in the case of edge case like the one described abov

[2016-05-23 20:48] jfmengels commented on #6240
If you want to familiarize yourself with all the rules by turning them on and seeing what kind of errors it shows in your codebase (and reading their doc file only when needed), you're better off copy-pasting the content of this file (https://github.com/eslint/eslint/blob/master/conf/eslint.json) (though I think it's a bit hidden) and setting everything to `error`.

If you want to find out about n

[2016-05-23 21:06] platinumazure commented on #6224
@nzakas @ilyavolodin Is it worth using levn to parse the strings instead? If nothing else, it means that (discounting shell escapes) the CLI syntax for toggling rules one-off (i.e., the `--rule` option) and the syntax for inline configuration would be the same. That could be a breaking change, though.

[2016-05-23 21:29] mysticatea commented on #6224
Actually, I tried levn, but I could not replace it by levn without breaking changes -- currently we can omit commas between rules, but levn cannot omit it. `/*eslint no-alert:2 no-console:2*/`

I think we can:

1. try parsing by levn.
2. do the current parsing as a fallback.
3. (remove the fallback in v3)

[2016-05-23 21:59] platinumazure commented on #6224
Well, before we commit to levn we should make sure that the OP's use case would be helped by that maneuver. (I apologize, I haven't had time to test it.)

[2016-05-23 22:00] AGhost-7 commented on #3565
For those looking for a temporary solution I wrote this which works for my purposes:

Master process:
https://github.com/AGhost-7/dyna-table/blob/master/linter-worker.js

Worker processes:
https://github.com/AGhost-7/dyna-table/blob/master/linter-worker.js

Makes a very big difference with my quad-core processor.

[2016-05-23 22:57] ilyavolodin commented on #3565
@AGhost-7 Thanks for sharing. Very nice! The only problem is you are bypassing our glob resolution and all of the cli switches, but I'm sure for your use-case it would be perfectly fine. In our case, we need to continue to support all CLI switches as well as glob resolution, so it's a bit more complicated.

P.S. Edge-case, but since you are loading fork processes with 10 files at a time, you might

[2016-05-23 23:12] AGhost-7 commented on #3565
Yea its just a quick throwtogether to spread the workload for now. Far from perfect.

[2016-05-23 23:16] mockdeep commented on #6240
To me it actually doesn't matter which one is the default. For my own part, I'm happy to go about reconfiguring things to suit my needs, but I want to have a simple way to be made aware of new rules, or rule changes, without having to go hunt them down in the changelog or elsewhere. It's easy to miss a new rule, also, for one reason or another, so unless I go to the pain of re-copying the default

[2016-05-23 23:18] josh commented on #6190
Would you 👍 reopening https://github.com/eslint/eslint/pull/6188, that was basically my approach there?

[2016-05-24 00:15] leizhao4 commented on #2613
@torarvid I think you reported this correctly. I don't agree with your second comment, which implied that parentheses should increase indentation level. It shouldn't. If they do, we will have very ugly code looks like this:
[code]
or
[code]

It doesn't look right to me. How about this?
[code]

Much better, right? That means, the indentation level increase does not come from the parentheses. It com

[2016-05-24 00:19] mysticatea commented on #6195
I think it's a method :)

[2016-05-24 00:30] nzakas commented on #6240
@mockdeep a significant downside of "eslint:all" would be that every time we added a new rule, that would automatically be enabled for you. In essence, "eslint:all" would be different every time you upgrade ESLint, meaning you'd constantly need to update your config for every upgrade.

Technically, that would be a breaking change every time we add a rule, and I'm not sure that's good for anybody.

[2016-05-24 00:33] nzakas commented on #6196
Good point. @tomfun can you try upgrading to the latest version and using the new option: http://eslint.org/docs/rules/no-confusing-arrow#options

[2016-05-24 00:39] nzakas commented on #6224
Let's shoot for a non-breaking change first. This is simple enough that a really basic tokenizer could handle it. We can try using Espree's tokenizer and write a small parser on top of it.

[2016-05-24 00:43] sarbbottam commented on #6240
[eslint-find-rules](https://github.com/sarbbottam/eslint-find-rules#usage) can help you in this regard.

let `eslint-find-rules -u path/to/eslintconfig` run before your `lint` task.

for example:
[code]
It would error out, if there are unused rules, or in other words, updated/upgraded `eslint`, `eslint-plugins` have added new rules, which are not part of your `eslintconfig`.

[2016-05-24 00:51] mockdeep commented on #6240
@nzakas I would actually prefer that. That's the way it works with other tools like rubocop unless you configure it otherwise, so it's a nice convenience as far as I'm concerned. When I'm in the mode of upgrading my tools, chances are I want to be made aware of rule updates and do something or other about them. Reducing the work that I have to do for that is doing me a favor.

Again, I'm not argui

[2016-05-24 01:10] ilyavolodin commented on #2613
@leizhao4 I personally agree with all the cases you posted, except the last one. In that one `doStuff()` should be indented two levels, same with the comment following it. While we would love to support every possible case, indent is by far the most complicated rule that we have (out of 200+ rules), and it's in a bad state currently.

[2016-05-24 01:32] ilyavolodin commented on #6232
Indent has issues with autofixing, that's known. However, based on your example, rules is warning you about correct things. You setup a rule without specifying configuration, so it will fall back to the default, which is 4 spaces. While you use 4 spaces indentation in your `let data` array block, you are using 2 spaces everywhere else. That's what the rule is complaining about. You should change c

[2016-05-24 01:46] isiahmeadows commented on #6209
Okay. Thanks!

On Mon, May 23, 2016, 16:37 Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-05-24 01:59] leizhao4 commented on #2613
Hmm, I start to get confused because when I try the same code in ESLint Demo, I get different results, which is my expected behavior.

![screen shot 2016-05-23 at 8 56 54 pm](https://cloud.githubusercontent.com/assets/763847/15489887/29160188-2129-11e6-8f02-0ede1c64a7b4.png)

[2016-05-24 02:39] ilyavolodin commented on #2613
All of those issues that you listed are related to multi-line statements, which is a known issue with indent.

[2016-05-24 07:04] rhys-vdw commented on #3964
Just throwing in my 2c here. Global event fails in both modern versions of IE and Firefox (but passes in Chrome). Since I do all my development in chrome this one just slipped by ESLint and (thankfully) ended up being caught in a PR review:

[code]

I'd certainly prefer a linter error if an undefined `event` exists in scope. My take is that if you're doing this deliberately, then you can add manua

[2016-05-24 08:55] kileras commented on #3964
@rhys-vdw Well as the one I opened the ticket originally I totally agree 😄  .... but its kind of fixed now with the implementation of "no-restricted-globals" which basically allow you to prevent the use of any globals. So if you do:
[code]
Then in theory (to be honest I didn't test it yet) any uses of event as global will show an error in eslint. So basically a new default setting in all my eslint

[2016-05-24 11:11] michaelficarra commented on #6224
Can't you parse it using `js-yaml`, which is already a dependency?

[2016-05-24 11:28] mynameislau commented on #6240
I am totally in favor of this, I wanted to implement every rule the other day and it is very time consuming + your config won't cover any new rule. As a result, my config is only partially complete, since I am procrastinating about it. This is exactly the feature I wish I had.

[2016-05-24 13:18] wenjoy opened #6246 "error when eslint --init"
I have trouble when I try to generate a eslint config by run `eslint --init ` on v2.10.2.my system is os10.11.4.And the problem happen when i select 'Use a popular style guide',if i select 'Answer questions about your style',it will work , it will generate  a config for me.

and there is the error info:

[2016-05-24 14:04] gyandeeps commented on #6206
Here I have a sample work done for `findLocalConfigFiles` tests inside config.
https://github.com/eslint/eslint/commit/1b7b823c50685827b0a290a16a9006a04234bdca

With this change now the unit test are not failing using the same scenario as described in this issue.
I think like this we can fake all our fixtures in the future. :smile:
@eslint/eslint-team thoughts?

[2016-05-24 15:11] gyandeeps commented on #5297
@eslint/eslint-team Since now we do multiple runs, I think can do this now since we can start putting `"` and `quotes` auto-fix will correct it on the next run. thoughts?

[2016-05-24 15:39] nzakas commented on #6206
Very cool! Is there a way to split up that giant blob of data? Maybe each test can register just what it needs?

[2016-05-24 15:42] nzakas commented on #6240
Generally, the agreement is that something you opt-in to should continue to work the same way unless there's a major release. However, we can always tell people up front that this is the behavior of "eslint:all" so buyer beware.

Okay, @mockdeep, if you want to submit a pull request,  we can review it.

[2016-05-24 15:43] gyandeeps commented on #6206
Yes, ideally i want to create a json file for each kind of fixture and keep the file their. So the one I have is the exact json version of our fixtures/config-hierarchy (physical version).
Since its going to be a massive overtaking to convert all the files, i would propose to move to mock-fs from here on. Also as we touch different parts then we can slowly convert them.

[2016-05-24 15:47] nzakas commented on #4680
Let's keep this focused on `consecutive` and open a new issue for `no-mixed-requires`.

I'm 👍

[2016-05-24 15:50] mockdeep commented on #6240
Okay, I'll see what I can do. May take a few days, though, so if anybody else wants to take up the banner in the meantime, feel free.

Out of curiosity, do you issue a new major release when rules change under the `eslint:recommended` extension?

[2016-05-24 15:58] nzakas commented on #6073
Agree with @mysticatea - I think having separate rules is the better approach.

👍

[2016-05-24 16:01] nzakas commented on #6211
@eslint/eslint-team thoughts on this?

@kevva are you willing to implement this if we accept this proposal?

[2016-05-24 16:04] nzakas commented on #5774
@platinumazure as I mentioned, we can get the date time from the git log whenever we want. I'd prefer not relying on human-provided dates, which can easily be mistyped or otherwise incorrect.

@pedrottimark if a rule was removed, then i think we shouldn't show anything about it being recommended.

[2016-05-24 16:07] nzakas commented on #6190
@josh we should talk through some more of the details to see if we can get consensus on whether or not we want to do this before spending more time on code.

[2016-05-24 16:09] nzakas commented on #6206
I think we can probably start with just updating these few failing tests so we can unblock potential contributors. Agree that we should use mock-fs going forward.

[2016-05-24 16:10] nzakas commented on #6240
Yes. Whenever we plan on doing a major release, we update "eslint: recommended".

[2016-05-24 16:27] #6207 closed

[2016-05-24 16:33] nzakas commented on #5438
Sorry, lost track of this. @martijndeh are you still interested?

I'll champion this change since there's a PR already.

[2016-05-24 16:57] mockdeep commented on #6240
Would you recommend implementing as a `.js` file similar to above? (with the react stuff removed of course). It seems like the cleanest option is ideally to not have to duplicate `json` files with different settings, but I could do that as well.

[2016-05-24 16:57] mockdeep commented on #6240
Above being [here](https://github.com/eslint/eslint/issues/6240#issuecomment-220883650).

[2016-05-24 17:03] platinumazure commented on #6240
@mockdeep You can do that if you're sure that conf/eslint.json will always have all rules. You might find it easier to just use the `fs` module to iterate over the rules directory, take each filename (stripping the `.js` extension), and exporting a config object with every rule name set to "error".

[2016-05-24 17:40] martijndeh commented on #5438
No worries. Yes. Personally I really want this rule. If there is support I'll make sure the PR gets fixed.

[2016-05-24 18:15] mockdeep commented on #6240
@platinumazure thanks, I'll give that a shot. I wonder if there is a significant performance difference between handling it programmatically versus having a static json file. A third option, if so, might be to have a separate json file, but a build-time verification that it has all the rules listed in it.

[2016-05-24 20:43] kevva commented on #6211
@nzakas, sure, no problem.

[2016-05-24 21:33] mysticatea commented on #4680
:+1:

[2016-05-24 21:53] mczepiel commented on #4376
FWIW, I'd really prefer if you could just switch to `allman` style for multi-line conditionals, leaving the closing parent on the conditional instead of bringing it to the new line.

[code]

Seems like it might be more acceptable to have the existing rule vary between already existing  strategies based on the conditional being a single or multi-line  as opposed to a new rule.

But yeah, I'm not su

[2016-05-24 22:31] codemakerlive opened #6247 "no-undefined bugs out on yoda"
Gone to the dark side you have.

This used to work (yoda convention):

if( undefined !== typeof foo ) { /* do something... */ }

Now the rule bugs out with "Unexpected use of undefined"

eslint@2.10.2
"parser": "babel-eslint"

[2016-05-24 22:34] codemakerlive commented on #6247
Ignore my late night stupidity - "undefined" is obviously the correct use

[2016-05-24 22:34] #6247 closed

[2016-05-25 04:00] alberto commented on #6244
Related: https://github.com/eslint/eslint/issues/6240

[2016-05-25 06:04] doberkofler opened #6250 "Rule proposal: "deprecated" to identify deprecated functionality"
I do not yet have a concrete proposal for this rule and just wanted to discuss, if there is interest and what options there might be, to identifying deprecated functionality in JavaScript using an eslint rule.

I currently see two options on how to identify deprecated functionality:
- specify deprecated functionality using identifiers (function, object, method, etc.)
- using meta information on wh

[2016-05-25 06:21] mysticatea commented on #6250
Thank you for this issue.

- You might be interested in [node/no-deprecated-api](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-deprecated-api.md) rule.
- Maybe [no-restricted-globals](http://eslint.org/docs/rules/no-restricted-globals), [no-restricted-properties](https://github.com/eslint/eslint/pull/5872), and [no-restricted-modules](http://eslint.org/docs/rules/no-re

[2016-05-25 08:10] rhys-vdw commented on #3964
@kileras Yeah, I discovered that afterwards. I realized afterwards there are a host of things attached to `window` that I don't want in every scope. `name` being an example.

So my solution

[code]

If you want to use `alert` it needs to be `window.alert`.

In short I don't think that `env.browser` is a useful option.

[2016-05-25 11:26] mysticatea opened #6251 "Rule Enhancement Proposal: object-property-newline with never and some options"
From [disallowObjectKeysOnNewLine].

I had forgotten to make this proposal in my previous vacation.

JSCS has [disallowObjectKeysOnNewLine] rule, but `object-property-newline` rule doesn't support it, so I think we need to add `"always"`/`"never"` and some other options into `object-property-newline` rule. It would be similar options to #6072, #6073, and #6075. These options are "conditions to nee

[2016-05-25 11:30] mysticatea commented on #6251
Ugh, I had gotten small trouble of labels and milestone by restoration of closed tabs.

[2016-05-25 13:44] qodesmith commented on #2631
I was experiencing the same thing. I ended up just putting all the globals I was using inside the `globals` property within my `.eslintrc.js` file. The only drag was that each one had to be named individually like such:
[code]

Since each global is going to get a value of `true` anyway, would have been nice to be able to do it in an array like so:
[code]

[2016-05-25 14:03] develar commented on #4261
But what if we specify config in the `package.json`? I think, in this case it is possible to get rid of `.eslintignore`, right?

[2016-05-25 14:23] w0rp commented on #5982
I'd like to :+1: this one. eslint does a pretty amazing job at enforcing consistent code style. Enforcing blank lines before control statements would be the final piece of the puzzle for me.

[2016-05-25 15:52] nzakas commented on #5438
@eslint/eslint-team can I get some 👍s for this? I think it makes sense and the PR is basically already done.

[2016-05-25 15:53] gyandeeps commented on #5438
:+1:

[2016-05-25 16:08] ilyavolodin commented on #4680
👍  for `consecutive`

[2016-05-25 16:09] mikesherov commented on #5438
👍

[2016-05-25 16:11] nzakas commented on #6227
@jfmengels can you refine your proposal based on this discussion?

[2016-05-25 16:29] alberto commented on #6240
I'm not sure this is worth adding to core for the following reasons:
- There is already a package that gives you that info. (Can't this be created as a plugin instead?)
- We would make an exception for semver for this one.
- Are we sure ALL present and future rules have defaults?
- Are we sure ALL present and future rules can be enabled at the same time without causing conflicts?

[2016-05-25 16:30] amb26 commented on #4931
This fix has done the opposite of what we want. There is now a warning for ignored default files which is impossible to turn off, since the option which disabled it has been removed. Look at the following code in glob-util.js:
https://github.com/eslint/eslint/blob/master/lib/util/glob-util.js#L165
We've just verified that the file passes "-f", which implies that the following check "-d" will fail,

[2016-05-25 16:31] jfmengels commented on #6227
My initial proposal is basically solved if you tell me that you consider the `it` and `describe` functions of `RuleTester` as part of the public API. If you tell me I can safely override those functions until at least ESLint v3, then I'm fine with this. @sindresorhus @jamestalmage do you agree?

On the proposed `assert` object injection, @jamestalmage is better suited to make a proposal (but might

[2016-05-25 17:12] alberto commented on #6127
Actually it would be harder, since we would have to negate it to pass it to `node-ignore`.

[2016-05-25 19:19] UnsungHero97 commented on #3493
I'll chime as well with my use case:

[code]

[2016-05-25 19:36] goloroden opened #6254 "New rule: disallow-class"
The `class` keyword is one of the most polarizing features of ES2015: You either love it or you hate it.

For the latter case it would be helpful to have a rule, `disallow-class`, that forbids usage of the `class` keyword, and hence forces you to stick to the classical, prototypic approach.

PS: There is a [bounty of 20$](https://www.bountysource.com/issues/34575790-new-rule-disallow-class) availa

[2016-05-25 20:01] tomfun commented on #6196
@nzakas I updated eslint, it doesn't help.
![http://joxi.ru/D2P6EPesdNpnGr](http://joxi.ru/D2P6EPesdNpnGr.jpg)
Of course I used old configuration:

[2016-05-25 20:27] ilyavolodin commented on #4931
Hmm.. that's actually a good point. That second attribute doesn't change. Strange. Can you link a ember-cli-eslint issue?

[2016-05-25 20:30] mherodev commented on #2017
Just went hunting for this -- seems like core material.

[2016-05-25 20:33] ilyavolodin commented on #6254
@goloroden You can use (no-restricted-syntax)[http://eslint.org/docs/rules/no-restricted-syntax] to get this functionallity. Configuration should be something like:

[code]

This has been requested before, and we always said that we don't want to create separate rules for disabling part of JavaScript syntax (one exception is `no-with`), that's why we created `no-restricted-syntax` rule.
Closing as

[2016-05-25 20:33] #6254 closed

[2016-05-25 20:34] goloroden commented on #6254
Perfect, thanks for pointing this out :-)

[2016-05-25 21:32] kangax opened #6255 "Better dead code elimination"
no-unreachable fails to detect some of the cases of unreachable code. For example,

[code]

should warn about `dead` function (since it's statically determinable).

[2016-05-25 21:38] ilyavolodin commented on #6255
While this is statically determinable to the point, we usually stayed away from trying to inspect values of the variables. This is more of the realm of Flow. I'm not against adding something like this in, but historically this is something we stayed away from.

[2016-05-25 21:45] kangax commented on #6255
I understand that it's a bit of a rabbit hole. Perhaps separate (experimental?) rule? Good point about Flow; unfortunately it's just not always possible to use it (even though we at Facebook try to, there's still older files that's difficult to port or that no one just got around to).

[2016-05-25 23:26] mysticatea commented on #6255
Unfortunately, ESLint doesn't have type inference feature.
Though it's one of what I want to do.

[2016-05-25 23:46] qjlee opened #6256 "strange beeslint glob option does not seem to work properly"
**What version of ESLint are you using?**
2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Run `eslint test/e2e/**/*` which should by default lint all .js files but the output shows me that it lints other non-js files such as .json files an

[2016-05-26 00:03] qjlee commented on #6256
I used bash and iTerm2 on `OS X 10.10.5`,  both produced the same results above.

[2016-05-26 00:24] IanVS commented on #6256
This is not correct.  As the docs mention, if you pass a glob, the glob is respected verbatim.  Meaning, we do not change the glob to only look at `.js` files.  Some shells expand the glob for you, and ESLint receives a list of all files matching the glob, so that is the same as explicitly passing them to ESLint.

If you pass a directory, that is when we limit linting to `.js` or whatever you spec

[2016-05-26 00:44] qjlee commented on #6256
Thanks @IanVS,  it is not eslint issue, it is bash issue that does not handle the glob like I would expect. `zsh` output all files in all sub dir properly.

As your suggestion, using `eslint "test/e2e/**/*.js"` with double quotes works perfectly now in bash.

[2016-05-26 00:47] IanVS commented on #6256
Great, glad it works for you.

[2016-05-26 00:47] #6256 closed

[2016-05-26 00:56] jhliberty commented on #5623
Can we add a rule to not display a warning when an ignored file is linted? It's really frustrating to save an ignored file and see warnings thrown.

![screenshot](https://cloud.githubusercontent.com/assets/449321/15560603/c065d7d6-22b2-11e6-9b09-2bad49c164b2.png)

[2016-05-26 01:49] mockdeep commented on #6240
I've mentioned some of this in previous comments, but responding directly:

The package doesn't really do what I'm asking for here. It tells you about rules you don't have in your config file, whereas I want to just have all rules enabled by default, and simply configure as necessary away from the defaults.

It could, I suppose, though it seems like a core configuration concern, so it would be nic

[2016-05-26 03:29] mysticatea commented on #5438
Sounds good to me :+1:

[2016-05-26 09:10] mysticatea commented on #6175
I reopened this since this matter was separated from #4680.

[2016-05-26 09:24] petertrotman opened #6257 "Syntax Error on eslint --init (ask questions about style) when package.json is malformed"
On running `eslint --init` I get the following error. I've tried a few different choices and all result in the same problem. The init phase never succeeds.
[code]

**What version of ESLint are you using?**
[code]
[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

n/a

**Please show your full configuration:**

n/a

**What did you do? Please include the actual source code causing

[2016-05-26 12:16] IanVS commented on #4931
I believe the issue is https://github.com/ember-cli/ember-cli-eslint/issues/63, but it's unclear to me whether it's a problem in ESLint or it is a matter of Atom's linter-eslint not using the correct `eslint` executable.  There's a difficulty in that ember-cli-eslint seems to package its own version of eslint, which atom won't pick up on in npm@2 because it is a nested dependency (https://github.c

[2016-05-26 14:08] platinumazure commented on #6257
Totally guessing here, but I'm wondering if we're trying to parse your `package.json` here and maybe there's a syntax error in that file? Could you post that here and/or try running the contents of `package.json` through jsonlint.com?

[2016-05-26 14:22] newswim commented on #3622
I'm using the .yml config and had to add this line (surrounded with **'s):

[code]

[2016-05-26 14:28] petertrotman commented on #6257
You are correct! I've continued working on this project and now the package.json is correctly formatted and eslint --init works fine... I'll close the issue but it might be worth catching this error and showing a more useful error message :-)

[2016-05-26 14:31] platinumazure commented on #6257
I agree we should handle this better. Hope it's okay if i reopen and retitle the issue. :smile:

[2016-05-26 14:44] platinumazure commented on #6257
Reproduced with package.json file consisting solely of an open curly brace. We should catch this and display a friendly message to the user (IMO).

[2016-05-26 14:45] platinumazure commented on #6246
Wondering if this is the same as #6257. @wenjoy Can you please provide your package.json here and/or run it through jsonlint.com?

[2016-05-26 15:24] nzakas commented on #6243
Per the [docs](http://eslint.org/docs/rules/no-unused-vars#rule-details), a variable is not considered to be used unless it's value is read. In this example, the variable is only ever assigned to but never read, so it is unused.

[2016-05-26 15:24] #6243 closed

[2016-05-26 15:28] #6058 closed

[2016-05-26 15:52] nzakas commented on #4680
@eslint/eslint-team we need one more 👍 here

[2016-05-26 15:54] nzakas commented on #6227
Yeah, `it` and `describe` are part of the API. We should probably document them specifically.

@jamestalmage if you want to propose something around assert, please open a new issue.

[2016-05-26 15:58] nzakas commented on #3493
Thanks everyone for the feedback. It's not helpful to have more people say they're experiencing the same issue. We are aware, that's why the issue is open. The "help wanted" label means we need someone from the community to take ownership of this issue and drive it forward to create a prototype (https://github.com/eslint/eslint/issues/3493#issuecomment-178060080).

[2016-05-26 15:59] jadengore commented on #3493
@nzakas Maybe lock this issue from further comments?

[2016-05-26 16:01] alberto commented on #4680
Here is another 👍  , and an alternative name suggestion just in case: `grouped`

[2016-05-26 16:06] nzakas commented on #5438
Okay @martijndeh we are good to move forward. Sorry for the delay.

[2016-05-26 16:14] nzakas commented on #3493
@jadengore we need to leave it open so someone can express interest in addressing it.

[2016-05-26 16:38] ExplodingCabbage commented on #3493
Isn't @UnsungHero97's example actually a different issue, unrelated to the `var`/`let`/`const` indent rules that this issue is about? His example probably needs its own issue, doesn't it?

There are a bunch of unhelpful "me too" comments above his, but his post is something new. If it's unhelpful, it's only by virtue of being in the wrong place.

[2016-05-26 16:41] benjamingr commented on #2375
I think now that generators are mainstream and async functions are becoming mainstream this should be revisited. Users are also complaining about this in the context of fibers: http://stackoverflow.com/questions/37466508/are-there-any-objective-reasons-to-favour-for-over-while-for-an-infinite-loo

[2016-05-26 16:45] wojdyr opened #6259 "Option for not indenting the body of closure that wrap entire file"
This is a follow up of https://github.com/eslint/eslint/issues/632#issuecomment-221071694
I'm opening a new issue for this as requested.

Consider adding an option for not indenting the top-level function.

[jquery guide](https://contribute.jquery.org/style-guide/js/):

[google guide](https://google.github.io/styleguide/javascriptguide.xml?showone=Code_formatting#Code_formatting):

with such an ex

[2016-05-26 17:00] UnsungHero97 commented on #3493
@all, apologies for the spam. my use case seems relevant to this issue, but I'd be happy to open a new issue if that's not the case.

[2016-05-26 18:20] wenjoy commented on #6246
thanks a lot,read the reference and find solution.It's the 'pre-commit' field the cause the error.here is my package.json:
  1 {¬
  2   "name": "prelint",¬
  3   "version": "1.0.0",¬
  4   "description": "none",¬
  5   "main": "index.js",¬
  6   "directories": {¬
  7     "test": "test"¬
  8   },¬
  9   "scripts": {¬
 10     "test": "echo \"Error: no test specified\" && exit 1"¬
 11   },¬
 12   "au

[2016-05-26 18:23] platinumazure commented on #6246
Your pre-commit is fine. You're missing a comma on the line above.
On May 26, 2016 1:21 PM, "wenJoy" <notifications@github.com> wrote:

[2016-05-26 19:17] platinumazure commented on #6246
Closing as duplicate of #6257. (Actually this one came first, but #6257 has more information in it.) @wenjoy Please follow #6257 in order to know when this is resolved. Thanks!

[2016-05-26 19:17] #6246 closed

[2016-05-26 20:20] ilyavolodin commented on #2375
@benjamingr This has already been fixed with the last release.

[2016-05-26 21:39] benjamingr commented on #2375
Thanks! In generators? I think the problem with that question is that OP is using fibers. Not sure if that's an issue as I expect node fibers to go away when async await lands which was ~ a week ago (so Node 7)

[2016-05-26 21:47] pedrottimark commented on #6227
@jfmengels Could you = we who submits a pull request to document `it` and `describe` 😀

[2016-05-26 21:52] ilyavolodin commented on #2375
https://github.com/eslint/eslint/pull/6202 It's a flag that doesn't care if you are doing generators or fibers or something else. It will just allow you to do `while(true)`.

[2016-05-26 21:57] jfmengels commented on #6227
@pedrottimark I can give it a shot yeah. Would this be a good spot to put it http://eslint.org/docs/developer-guide/working-with-plugins#testing? There's no other section dealing with it afaik.

[2016-05-26 22:53] kaicataldo commented on #6257
Working on this!

[2016-05-26 23:33] alberto opened #6260 "--no-ignore should not prevent --ignore-pattern"
According to the doc the purpose of `--no-ignore` is to "Disables excluding of files from `.eslintignore` and `--ignore-path` files. However it also prevents any usage of `--ignore-pattern`.

**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
N/A

**What did you do? Please include the actu

[2016-05-26 23:47] Mouvedia commented on #2505
@nzakas Could you add a ¶ about the fact that the rule ignores for loops on that [page](http://eslint.org/docs/rules/one-var)?

[2016-05-27 02:16] btmills commented on #6244
Copying over the JSCS policy and adding my own comments in *italics*. [For reference](https://github.com/eslint/eslint-release/blob/bb033f9e469d3d063bf06904ef9601fb8a6877b2/lib/release-ops.js#L253-L259), currently `Breaking:` is the only major-level tag, `New:` and `Update:` are minor-level, and [all other](http://eslint.org/docs/developer-guide/contributing/pull-requests#step-2-make-your-changesa

[2016-05-27 02:57] platinumazure commented on #6259
Can you clarify the enhancement request you're making here?

Do we want an `indent` option which simply ignores the first level of indentation throughout the file, requiring the first "indentation level" to have no extent and then revert to normal indentation thereafter?

[2016-05-27 03:00] platinumazure commented on #6250
@doberkofler I don't think there will be a lot of discussion here until you can flesh out some of your proposals. In addition it would be good to hear your thoughts on @mysticatea's suggestions.

Speaking for myself, I'm intrigued but again would like to see some more concrete thoughts.

[2016-05-27 08:31] wojdyr commented on #6259
Yes.
Even better if the first level of indentation was ignored only when inside a function, i.e. like this
[code]

[2016-05-27 09:24] PhiLhoSoft commented on #6072
#5203 isn't actually covered by this proposal.
For this, we would need a rule to "require/disallow line breaks BEFORE open object curlies" (and brackets too, in the other proposals).
Not sure if this must be included in this rule or addressed by a different rule.

[2016-05-27 16:05] nzakas commented on #6227
@jfmengels yeah, that's a good spot. Probably just a section for customizing RuleTester there would do.

[2016-05-27 16:07] #6127 closed

[2016-05-27 16:21] mattbrooks2010 opened #6262 "Add formatter for VSO (aka TFS, VSTS)"
## FEATURE REQUEST
Add a new formatter to support VSO / TFS integration.

## PROPOSED SOLUTION
The solution would be to emit [VSO logging commands](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md), which are similar to [TeamCity service messages](https://confluence.jetbrains.com/display/TCD9/Build+Script+Interaction+with+TeamCity#BuildScriptInteractionwithTeamCity-se

[2016-05-27 16:29] platinumazure commented on #6262
We have a Visual Studio formatter already, is this different?

[2016-05-27 16:30] mattbrooks2010 commented on #6262
Yes it is. The existing Visual Studio formatter is actually an MSBuild formatter.

[2016-05-27 18:48] #6257 closed

[2016-05-27 19:14] nzakas commented on #6262
We aren't really adding any more formatters to the core at this point. It would be better to publish your formatter as a separate package under the name `eslint-formatter-vso` (or whatever you think is appropriate) so you can take advantage of this when it's complete: https://github.com/eslint/eslint/issues/5900

[2016-05-27 19:16] nzakas commented on #6260
I think the documentation just needs to be updated. `--no-ignore` is meant to turn off all ignore features outside of the defaults.

[2016-05-27 19:28] nzakas commented on #6255
Historically we've stayed away because we just didn't have any easy way to do this.

@kangax can you share how you were able to identify dead code in your project? Did you end up needing Flow information or were you doing something else?

[2016-05-27 19:30] nzakas commented on #5912
@scriptdaemon @pedrottimark what do you want to do with this issue?

[2016-05-27 19:33] platinumazure commented on #6260
@nzakas If that's how we want `--no-ignore` to behave, then I think we should also have an option that suppresses ignore files so that users can still specify ignore patterns. I still think that's a valid use case (ignore file exists, user wants to invoke with no ignore file, user wants to provide patterns); do you?

[2016-05-27 19:34] kittens commented on #6255
We're working on some Babel tooling that uses it's APIs. Our scope tracking tracks constant values and knows that `foo` will always be `null`. Then some of our evaluation helpers determine that `if (!foo)` will always be `true`. There's no Flow type information required.

[2016-05-27 19:41] mpal9000 commented on #6237
You can normally install the plugins in the "config" package (with --save) and define them using file paths, using something like require.resolve(). When you install the config inside an app, it also installs the plugins (and parser) dependencies and when you run eslint it imports these plugins from it's own node_modules.

[2016-05-27 19:51] pedrottimark commented on #5912
@nzakas Thank you for reminding us of this. What do you think of the following way forward:

1. Keep this issue as **evaluating** until the build process uses the `meta.docs.description` property. My bad to forget to add the questionable descriptions that I have found while editing 😳
2. During the first week **after** the first ESLint version with improved build process, we invite the rest of the

[2016-05-27 20:11] mpal9000 commented on #6237
[code]

[code]

[2016-05-27 20:37] ilyavolodin commented on #6255
If we were to add something like this to ESLint, I would seriously consider adding it to Escope instead. Escope already checked all of the declarations in the AST, so enhancing it to track type inference would be simpler then adding something like that to ESLint core itself.

[2016-05-27 20:37] alberto commented on #6078
@eslint/eslint-team opinions?

[2016-05-27 20:41] alberto commented on #6077
@eslint/eslint-team I can champion this one if it gets accepted

[2016-05-27 20:46] alberto commented on #6065
@eslint/eslint-team opinions?

I can champion this one

[2016-05-27 20:47] alberto commented on #6059
@eslint/eslint-team opinions?

I can champion this one

[2016-05-27 21:01] alberto commented on #6260
@nzakas What would be the reasoning for also ignoring `--ignore-path`, since both would be command line options?

[2016-05-27 21:12] daltones opened #6264 "max-statements-per-line and es6 export"
**What version of ESLint are you using?**
v2.11.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default (babel-eslint shows the same issue)

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No warnings.

**What actually happened? Please include the actual, raw ou

[2016-05-27 21:14] nfriedly opened #6265 "Cascading configuration does not work as documented for globalReturn with Babel-ESLint parser"
**What version of ESLint are you using?**
2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

public/js/.eslintrc:

[code]

root .eslintrc

[code]

**What did you do? Please include the actual source code causing the issue.**

I have a node.js app that also includes some front-end JS in the `public/js/` folder. I have a few f

[2016-05-27 21:21] ilyavolodin commented on #6265
@nfriedly You forgot to mention that you are using `babel-eslint` in both stackoverflow question as well as mailing list post. `babel-eslint` parses everything as module, there is no other mode. JS module has global return by definition, so no matter what you are going to do in the configuration you will not be able to use `exported` functionality with babel-eslint. I'm pretty sure environment ove

[2016-05-27 21:23] daltones opened #6266 "no-useless-rename triggered when there's no rename"
**What version of ESLint are you using?**
v2.11.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Default (babel-eslint shows the same issue)

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Just one warning in line 4.

**What actually happened? Please include the

[2016-05-27 21:24] nfriedly commented on #6265
I didn't realize it myself until I filed the bug and looked it up... and
then I didn't realize that it changes the config behavior. I'll try it
without that
On May 27, 2016 5:21 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2016-05-27 21:33] kaicataldo commented on #6266
Thanks for the issue. Not sure what's going on, but I'll look into this when I'm back at my computer.

[2016-05-27 21:37] nfriedly commented on #6265
Yes, switching to the default parser does indeed make the cascading behavior work as expected. I had no idea that could be overridden.

[2016-05-27 21:51] alberto commented on #6266
Confirmed.

[2016-05-27 21:53] platinumazure commented on #6264
Seems like a bug to me. My guess is we use FunctionDeclaration node as a "top level statement node", but in reality it is a child of the export node. We need to add a check that the FunctionDeclaration isn't a child of the export declaration node.

Or something like that. :grin:

[2016-05-27 21:58] mysticatea commented on #6264
Thank you for this issue.

I confirmed it.
This bug was introduced in #6192.
This rule should ignore child node of ExportDeclarations as similar to such IfStatement.

I'm working on this.

[2016-05-27 22:53] kaicataldo commented on #6266
Figured this out. Oversight on my part when I wrote his rule - fix incoming.

[2016-05-27 22:55] kaicataldo commented on #6266
Oh, just saw @alberto's got this covered. Am on mobile and missed it. Thanks - somehow completely missed this in my tests (sorry!).

[2016-05-27 23:28] ilyavolodin commented on #6265
In that case, I'm not sure anything can be done about this. `babel-eslint` parses everything as a module, that's just how it works (I'm not even sure if babel is capable of script parsing). And everything seems to be behaving correctly with ESLint itself.
Closing as the issue seems to be resolved and no work needs to be done.

[2016-05-27 23:28] #6265 closed

[2016-05-28 02:58] mikesherov commented on #6078
:+1:

[2016-05-28 02:59] mikesherov commented on #6077
:+1:

[2016-05-28 03:00] mikesherov commented on #6059
:+1:

[2016-05-28 06:05] mattbrooks2010 commented on #6262
Thanks for the info. The proposed solution in #5900 makes sense. However, my motivation for doing this is due to the way Sass Lint currently works. It (surprisingly) uses ESLint formatters directly:

Documentation — https://github.com/sasstools/sass-lint/blob/develop/docs/options/formatter.md
Implementation — https://github.com/sasstools/sass-lint/blob/develop/index.js#L248

So I think I'm blocked

[2016-05-28 06:42] ljharb commented on #2693
The commit message here doesn't mention the rule name, so its' not in the changelog :-/ i think it's "no-prototype-builtins"?

[2016-05-28 07:39] mysticatea commented on #2693
Yes: http://eslint.org/blog/2016/05/eslint-v2.11.0-released#new-rules

[2016-05-28 17:13] mgtitimoli commented on #6264
In case it helps, this is also happening when exporting classes as follows

[code]

[2016-05-28 21:15] daltones commented on #6264
Thanks for the fast replies! :)

[2016-05-28 21:15] daltones commented on #6266
Thanks for the fast replies! :)

[2016-05-28 21:29] Mouvedia commented on #6059
👍

Here's another reason—if you care about cross-browser issues—to make this happen: https://kangax.github.io/nfe/#safari-bug

[2016-05-29 01:38] Mouvedia opened #6271 "no-extra-semi exception or new option"
http://eslint.org/docs/rules/no-extra-semi

- ESLint 2.9.0
- being able to safely concatenate several JS files into one and use no-extra-semi at the same time

If the first character of the file—excluding the eventual preceding whitespace—is `;` it should be ignored.
cf http://stackoverflow.com/q/1873983/248058

[2016-05-29 01:44] platinumazure commented on #6271
I could support a new option for this, where if semicolon is the first token (not counting comments or whitespace) then this rule would not report that violation. Leading semicolon is a common defense against ASI problems when concatenating scripts.

Maybe something like `"allow-bof": true` or `"except-bof": true`?

Haven't had a chance to make sure this is still an issue on latest, but I hope I w

[2016-05-29 01:44] platinumazure commented on #6271
Oh, and I am happy to implement if this issue is accepted, unless @Mouvedia should prefer to have the opportunity.

[2016-05-29 01:46] Mouvedia commented on #6271
@platinumazure Ill let you have it.

Concerning the name. I am gonna have to google "bof" to know what it is so it's probably not good.

[2016-05-29 01:47] platinumazure commented on #6271
Certainly open to other options, but we have used eof and bof to mean end
of file and beginning of file elsewhere in this repository.
On May 28, 2016 8:46 PM, "Marc G." <notifications@github.com> wrote:

[2016-05-29 01:48] Mouvedia commented on #6271
I am all for consistency. 👍  for BOF.

[2016-05-29 02:44] kaicataldo commented on #5958
@vitorbal Pinging here to see how things are going

[2016-05-29 06:44] alberto commented on #5958
I am not sure if this kind of fixes (assuming the `linebreak-style` rule is enabled) are a good idea anymore :/. What if it is not enabled because the user only develops on windows, so he doesn't think he needs that rule?

[2016-05-29 10:39] doronpr opened #6274 "error when linting valid async function with generator-star-spacing rule enabled"
Getting `TypeError: Cannot read property 'value' of undefined` error when linting valid *async function* with `generator-star-spacing` rule enabled.

**What version of ESLint are you using?**
`2.11.0`
(works in `2.10.*` [this](https://github.com/doronpr/eslint/commit/9fce04e76dcbae96445e9f6868947aba07d0d662#diff-0893bcac2ba523393aaab76d47c7da39R66) is the commit that created the issue).
**What par

[2016-05-29 10:43] vitorbal commented on #5958
Another problem i encountered is that:

If there's a comment on a line just above the return statement, then I dont
know how to determine if the newline should go above the comment or below
it.

On Sun, May 29, 2016 at 7:44 AM alberto <notifications@github.com> wrote:

[2016-05-29 10:44] mysticatea commented on #6274
Thank you for this issue.

Unfortunately, ESLint core rules don't support experimental features (async function is still stage 3).
Please use [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel#readme) instead.

[2016-05-29 10:44] #6274 closed

[2016-05-29 10:57] mysticatea commented on #6274
Out of mere curiosity, why does `babel-eslint` create AST with `node.generator == true` for async functions?

[2016-05-29 11:25] doronpr commented on #6274
@mysticatea Thanks. I'm not sure why `node.generator == true` for async functions. I opened an [issue](https://github.com/babel/babel-eslint/issues/316) with `babel-eslint` to inquire as this would definitely fix the issue.

[2016-05-29 11:29] mysticatea commented on #6274
Thank you, @doronpr !

[2016-05-29 11:30] alberto commented on #5679
I'm working on a simple fix for this for the default ignores, as mentioned [here](https://github.com/eslint/eslint/issues/5679#issuecomment-215831547)

[2016-05-29 12:57] hzoo commented on #6274
The reason why transformations like `node.generator = true` for async or various other transforms is because encountering a unexpected node caused issues with certain rules (at least at the time it was done). Whether it's true or false at least one rule is broken.

Looking back at the history, it was a change made very early on. Not sure what can be done other than certain rules being able to acco

[2016-05-29 14:13] shahankit commented on #4531
@nzakas
I'm using `babel-eslint` with version `6.0.4` and facing same issue for following code snippet for `react-native` on the ... line:
[code]

[2016-05-29 17:57] kaicataldo commented on #5958
Hm, yeah. The rule has also changed in the mean time, meaning the more clear-cut fix removing extra newlines is no longer necessary. Perhaps we should just close this.

[2016-05-29 20:39] sasha240100 commented on #4671
Any progress there?

[2016-05-29 23:06] ilyavolodin commented on #4531
@shahankit Can you try it without babel-eslint? If it works with Espree, but doesn't with babel-eslint, this is an issue that you should create in `babel-eslint` repository.

[2016-05-30 00:37] mysticatea commented on #6255
A week ago, I made [a rule which uses value tracking](https://github.com/mysticatea/eslint-plugin-node/commit/624aed0ead4aa1fd2a656de4c6ca5ca3e21ccb99). This rule got pretty complex, so it's great if type inference / value tracking come to ESLint core (or escope).

[2016-05-30 01:03] mysticatea commented on #6274
@hzoo Thank you for the explanation. True, it's great if there is a way to override parts of core rules/core behavior. I also have made [such a rule](https://github.com/mysticatea/eslint-plugin-node/commit/bdd2c27ee48853df388562e1d897d2c120b5e5d4) before, and I'm going to make such rules in future... (e.g. https://github.com/mysticatea/eslint-plugin-node/issues/4)

----

BTW, for this issue, we ca

[2016-05-30 02:01] hzoo commented on #6274
Yeah its basically just returning/bailing https://github.com/babel/eslint-plugin-babel/blob/5c20dd610e8ffef752f8df44157f76d7722c3e13/rules/generator-star-spacing.js#L63

It would be interesting to figure out a clean way to allow hooking into certain parts of rules/visitors/branch statements.

[2016-05-30 02:05] zxqfox commented on #6078
👍

[2016-05-30 07:49] danielrentz opened #6280 "no-unmodified-loop-condition too restrictive"
**What version of ESLint are you using?**
2.11.0 (via grunt-eslint 18.1.0)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**
Minified example:

    function checkThis() { ... }
    function checkThat() { ... }

    var cond = something();
    while (checkThis

[2016-05-30 09:32] Kovensky opened #6281 "`TypeError: Cannot read property 'value' of undefined` in eslint 2.11.0's generator-star-spacing.js"
Updating eslint from 2.10.2 to 2.11.0 caused the following crash to happen (with no other context printed) when trying to lint:

[code]

Reverting eslint to 2.10.2 makes all lints pass.

The last few lines printed before the crash:

[code]

The file actually does not contain any generators, though it does include `async` functions.

Config file:
[code]

[2016-05-30 11:53] slikts opened #6282 "for (;;) should count as a constant condition"
`for (;;)` is functionally equivalent to a constant condition so it should be caught by the constant conditon rule.

eslint version: 2.8.0

[2016-05-30 12:44] lukeapage opened #6283 "add 'requireParams' option to valid-jsdoc rule"
Proposal for new option on `valid-jsdoc` rule. `requireParams` defaulting to `true`.

### why?
We do not put jsdoc on all methods, but if we want to indicate that a function is only for private usage we use the `@private` tag.
However, although I have all the 'requireX` options set to false, it fails.

### example

[code]

currently produces

[code]

I suggest that with requireParams, it does not

[2016-05-30 13:34] shahankit commented on #4531
@ilyavolodin Thanks for quick reply. I removed the `"parser": "babel-eslint"` line. Still giving me same error:
<img width="319" alt="eslint-error" src="https://cloud.githubusercontent.com/assets/4739743/15650868/4c0d43b6-2699-11e6-90f1-74179d4d176e.png">

[2016-05-30 14:54] deveb commented on #6281
I have the same issue. It occurs after re-install all npm packages. Is there any solutions?

[2016-05-30 15:14] platinumazure commented on #6280
Hmm. Seems we should be deciding that `checkThis`, being a function call, is potentially modifiable even if `cond` isn't.

@mysticatea What do you think? Is this a bug?

[2016-05-30 15:18] platinumazure commented on #6282
Originally it was decided that since there was no actual explicit condition, it would not count as a constant condition. Additionally, until 2.11.0 (latest release), there was no other way to potentially allow infinite loops (such as in generators), so `for (;;)` was the only way it could be done. So I don't think we can consider this a bug.

I think we could certainly consider an enhancement requ

[2016-05-30 15:21] platinumazure commented on #6283
To be clear, are you saying there is no `requireParams` option and you would like one? Or that you were using an option you thought would do the job, and it didn't?

Can you please show your `valid-jsdoc` configuration?

[2016-05-30 15:25] lukeapage commented on #6283
This is a feature request for a rule option that does not currently exist.

[2016-05-30 15:26] platinumazure commented on #6283
Thanks! I'll tag the issue appropriately when I get to my desktop.
On May 30, 2016 10:25 AM, "Luke Page" <notifications@github.com> wrote:

[2016-05-30 15:28] EvNaverniouk opened #6284 "`no-useless-rename` fails on spread operators in destructured statements"
The new `no-useless-rename` rule will fail with:

[code]

When a spread operator is encountered, such as in this code:

[code]

The issue is in the `checkDestructured` function which is expecting a `properties[i].key` to exist. But the ExperimentalSpread AST object does not have a `key` defined.

[2016-05-30 15:33] platinumazure commented on #6281
Oops, this is a duplicate of https://github.com/eslint/eslint/issues/6274. Please look at that issue.Basically

 this is a babel-eslint problem, and using eslint-plugin-babel's version of generator-star-spacing might be what you want here.

Sorry for my confusion.

[2016-05-30 15:33] #6281 closed

[2016-05-30 15:34] platinumazure commented on #6284
Could you please provide your configuration (at least for the rule), for ease of reproduction? Thanks!

[2016-05-30 15:38] EvNaverniouk commented on #6284
My apologies for not following the template. The rule configuration used in my case was the default:

[code]

[2016-05-30 15:41] platinumazure commented on #6284
Thank you! I agree this seems like a bug- hopefully we can get on it pretty quickly.

Ping @mysticatea?

[2016-05-30 15:44] michaelficarra commented on #6284
eslint doesn't support object spread. That is part of a stage 2 proposal.

[2016-05-30 15:45] EvNaverniouk commented on #6284
I should clarify that I am also using `"parser": "babel-eslint"` with `babel-eslint` version `6.0.4`

[2016-05-30 15:45] platinumazure commented on #6284
This is where the issue template comes in handy :-)

[2016-05-30 15:56] #6264 closed

[2016-05-30 15:57] #5935 closed

[2016-05-30 15:59] #6224 closed

[2016-05-30 16:39] danielrentz commented on #6280
Maybe this is a better example, involving a modifiable loop variable used in the condition:

var obj = new Thing();
var cond = something();
while (obj && (obj.checkThis() || (cond && obj.checkThat()))) {
    ...
    obj = obj.next();
}

[2016-05-30 16:43] danielrentz opened #6286 "RE literal starting with an equals sign not usabe"
**What version of ESLint are you using?**
2.11.0 (via grunt-eslint 18.1.0)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

**What actually happened? Please include the actual, raw output from ESLint.**
"no-div-regex" and

[2016-05-30 16:55] platinumazure commented on #6190
Wondering if anyone had any thoughts about [my comment above](https://github.com/eslint/eslint/issues/6190#issuecomment-219773700)? I think refactoring disabled rule logic will make it easier to determine how feasible this is in core and will hopefully improve maintainability.

[2016-05-30 17:03] platinumazure commented on #6286
We'll need to enhance one of the rules for sure. The question is, which one?

[2016-05-30 17:03] nzakas commented on #6280
I don't think this is a bug. `cond` is always the same value inside of the loop condition so it is an unmodified loop condition, and the rule is flagging it correctly. All we are doing is saying "is `cond` assigned to inside the loop?" The answer to that question is no.

[2016-05-30 17:07] ilyavolodin commented on #6284
@EvNaverniouk Can you try this with default parser? We do not maintain `babel-eslint`, and if the issue is coming from parser, there's nothing we can do about it.

P.S. @michaelficarra Object Rest/Spread is the only experimental feature that we support, it's controlled by `experimentalObjectRestSpread` switch in `ecmaFeatures`.

[2016-05-30 17:12] platinumazure commented on #6280
@nzakas But clearly the overall loop condition is modified... Are you
suggesting that a secondary purpose of the rule might be to help flag
variables that don't need to be in the loop condition if they're constant?

I think the question comes down to "what is a loop condition"? Either it's
the entire loop test expression, or it's each condition within a complex
test. If you think the entire loop t

[2016-05-30 17:15] danielrentz commented on #6286
Maybe "no-div-regex" should let pass the RE if it is enclosed in parentheses?
    if ((/=/).test(...)) { ... }

[2016-05-30 17:17] michaelficarra commented on #6286
Duplicate of #6098. See my suggestions for the many ways you can avoid this issue: https://github.com/eslint/eslint/issues/6098#issuecomment-217487031.

[2016-05-30 17:17] #6286 closed

[2016-05-30 17:20] michaelficarra commented on #6098
I recommend we close this, since there's many ways to avoid the issue. The rules do not conflict.

[2016-05-30 17:21] nzakas commented on #6190
We have a lot of other, higher-priority work to do right now, so I wouldn't want to delve too deep into any major refactorings until we get further along on the JSCS compatibility work.

I also think we are still at the phase of figuring out the correct user experience, so it doesn't make too much sense to dig into implementation details until after that.

[2016-05-30 17:22] michaelficarra commented on #6284
@ilyavolodin That's strange. Why do we make such an exception?

[2016-05-30 17:25] ljharb opened #6287 "`max-statements-per-line` error should indicate how many statements it found"
**What version are you using?**
2.11.0

**What did you do?**
Set `max-statements-per-line` to $N, and lint a line that had > $N statements on it.

**What happened?**
Got "This line has too many statements. Maximum allowed is $N"

**What did you expect to happen?**
When N is 1, I'd expect "This line has 2 statements. Maximum allowed is 1"

[2016-05-30 17:27] danielrentz commented on #6286
Hm, do not like so much to be forced by a tool to use some workarounds, but it's a minor issue, so ok with me :)

[2016-05-30 17:28] nzakas commented on #6262
Oh wow - that's pretty sneaky. Can you open an issue with them and post the link back here? I can comment on it.

[2016-05-30 17:32] nzakas commented on #6255
@kittens Thanks for the info, that's very helpful.

Agree with @ilyavolodin, if this was going to be supported, we'd want it in escope rather than ESLint core. If they aren't willing to do that, then we'd probably need to fork escope to add it in.

For now, I'd say this is a pretty low priority until we get through the JSCS work. So we can either leave this open and not worry about working on it o

[2016-05-30 17:34] nzakas commented on #6078
:+1:

[2016-05-30 17:35] nzakas commented on #6077
:+1:

[2016-05-30 17:36] nzakas commented on #5912
Sounds like a plan. :+1:

[2016-05-30 17:38] EvNaverniouk commented on #6284
This issue is reproducible without `babel-eslint`.

Command used to test: `node_modules/.bin/eslint test.js`

Contents of `test.js`:

[code]

ESLint configuration:

[code]

Output:

[code]

[2016-05-30 17:38] nzakas commented on #6260
@alberto sorry, I'm not sure what you're asking.

@platinumazure I don't think so. Again, as I said in my comment, `--no-ignore` is meant to turn off all ignore features. I'm not sure why you'd want to have an ignore file but not use it and then specify an ignore pattern on the command line. Given that we've received zero requests to change that behavior, I'd venture to say this isn't a common use

[2016-05-30 17:41] nzakas commented on #6072
@PhiLhoSoft the goal here is not to implement a solution for #5203, it's to create an ESLint rule that is equivalent to two JSCS rules. Those rules only deal with inserting newlines inside of braces and that's what this issue is implementing.

[2016-05-30 17:46] BYK commented on #6077
:+1:

[2016-05-30 17:57] platinumazure commented on #6287
I think this could really help with debugging, both for end users and for us if someone reports a bug with the rule. I'm :+1: on this.

[2016-05-30 18:02] platinumazure commented on #6078
For `skipComments`, I assume that refers to lines with only comments on them?

Lines I assume count under that definition:

[code]

Lines I assume don't count under that definition:

[code]

And I'm happy to take this on if @alberto isn't super attached.

[2016-05-30 18:05] platinumazure commented on #6260
@nzakas Okay. I do think the use case I have outlined is valid, but I don't feel strongly enough about it to consider your interpretation wrong. If someone requests an enhancement to allow patterns but suppress ignore files, we can revisit then.

[2016-05-30 18:07] platinumazure commented on #6284
@ilyavolodin @michaelficarra Now that we have a reproduction without babel-eslint, I think we need to accept this issue, unless I'm missing something. For what it's worth, I'm :+1: to avoiding rule crashes where possible.

[2016-05-30 18:20] platinumazure commented on #6282
One other possibility I could see is to remove the `for (;;)` exception by default, making it a flagged constant condition, now that we have the loop exception option. However, that would be a breaking change.

[2016-05-30 18:21] ilyavolodin commented on #6262
Didn't realize that `sass-lint` was using our formatters whole-sale. I would say that they should implement support for loading formatters from outside of ESLint core. It would be very backwards to add formatters to ESLint just so you could use them in sass-lint.

[2016-05-30 18:22] platinumazure commented on #6271
@eslint/eslint-team Thoughts on this? Leading semicolons at the beginning of a file are somewhat commonplace and I think this is a worthwhile enhancement. I am happy to implement, as well, so I think we just need a champion and three :+1:'s.

[2016-05-30 18:29] michaelficarra commented on #6271
:-1: for a number of reasons

- you shouldn't be naively concatenating your files together
- a semicolon at the beginning is not effective to allow safely naively concatenating files
- adding this option will implicitly endorse this anti-pattern

[2016-05-30 18:34] platinumazure commented on #6271
@michaelficarra I'm not sure that "it's an anti-pattern" really counts since ESLint is [not supposed to be opinionated](http://eslint.org/docs/about/#philosophy). I would love to see an example of why a semicolon is not always effective here.

[2016-05-30 18:35] Mouvedia commented on #6271
@michaelficarra interesting; do you have a source that supports that claim?

[2016-05-30 18:41] michaelficarra commented on #6255
@nzakas @ilyavolodin I wouldn't say this is appropriate for escope at all. Currently, escope knows nothing about control flow or about JavaScript's values. This would be a completely unrelated responsibility, and if it was proposed to be added to escope, I would strongly object to it.

[2016-05-30 18:46] michaelficarra commented on #6271
@Mouvedia You shouldn't rely on appeal to authority. Instead, I will describe for you a pair of programs that cause it to fail. If the left program ends in a single-line comment (`// ...`), the leading semicolon in the right program will be contained within the comment. To avoid this, you would need to join on a LineTerminator-semicolon sequence. As a second example, if either program has a direct

[2016-05-30 18:49] ilyavolodin commented on #6284
@platinumazure Agree. Seems like a valid bug, rules shouldn't just crash.
@michaelficarra Mostly due to two reasons. This was number one requested new feature, and we were getting a lot of requests for it. And we were also getting a lot of false-positives from `babel-eslint` users, because they couldn't switch to Espree due to the lack of objectRestSpread, which is suggested by a lot of React exam

[2016-05-30 18:51] platinumazure commented on #6284
Working on this.

[2016-05-30 18:53] ilyavolodin commented on #6255
@michaelficarra I think I might've phrased it wrong. What I meant was that escope is a better fit for this then ESLint core. It might be not be the best fit, and we might need to create another tool to deal with this, but I don't think it should be part of ESLint core.

[2016-05-30 18:56] alberto commented on #6260
Sorry, I'll try to explain myself better.

What you are saying is that `--no-ignore` invalidates `--ignore-pattern`, so I wouldn't ever make sense using both at the same time.

I was thinking it could be somewhat useful to not invalidate it (and it's a trivial change to do so). So, for example someone with an `.eslintignore` file which ignores some parts of his project, could run with `--no-ignore

[2016-05-30 19:11] Mouvedia commented on #6271
@michaelficarra I don't care about "authority". I was just curious. IMO your comment example would warrant a new rule for ESLIint but that's off topic.

Concerning the problem at hand, the principle behind front-end concatenation is to reduce the number of http requests. But that is almost always preceded by minification which removes comments; to reduce the size of the resulting file (except lice

[2016-05-30 19:19] Mouvedia commented on #6271
@michaelficarra I don't care about "authority". I was just curious. IMO your comment example could warrant a new rule proposal for ESLIint but that's off topic.

Concerning the problem at hand, the principle behind front-end concatenation is to reduce the number of http requests. But that is almost always preceded by minification which removes comments; to reduce the size of the resulting file (ex

[2016-05-30 19:39] platinumazure commented on #6271
Let's be careful not to mis-characterize each other's comments.

@Mouvedia I think by "appeal to authority", @michaelficarra was referring to the Stack Overflow link, but I don't think you were actually trying to cite it as an authority (rather, you were more likely just using it as a reference). As much as possible, we should try to assume positive intent and assume that @michaelficarra was just

[2016-05-30 20:23] slikts commented on #6282
Sorry, which option is that? I wasn't able to find it.

`while (true)` is preferable to `for (;;)` because it's more explicit, but the latter is not completely implicit either, so it's kind of inconsistent that it's allowed and using it for generators just because of that is hacky. It'd be nice if there was a way to allow just infinite loops in generators.

[2016-05-30 20:26] oreqizer opened #6289 "[2.11.1] Module not resolved"
I'm using `airbnb` preset, with `babel-parser` in a React project.

The problem is, one of the modules is claimed to be unresolved, although I can CMD+click there in Webstorm, and it works as expected.
It happens for example [here](https://github.com/oreqizer/reactizer/blob/develop/src/web/modules/Signup/LoginForm.jsx#L5).

My [configuration](https://github.com/oreqizer/reactizer/blob/develop/.esl

[2016-05-30 20:39] kaicataldo commented on #6289
Hey there, thanks for the issue. I think we need some more info here - can you share the actual error output? You're saying that you get an error for an unresolved module when running `eslint` from the command line?

[2016-05-30 20:46] platinumazure commented on #6282
@slikts The option is called [checkLoops](http://eslint.org/docs/rules/no-constant-condition#checkloops) and it was just added with our latest release :smile: It's all or nothing, though- any loop, whether in a generator or not.

[2016-05-30 21:44] daltones commented on #6266
I've just upgraded to 2.11.1 and the problem was fixed for _default_ parser.

But it is still there when using **babel-eslint**.

[2016-05-30 21:49] kaicataldo commented on #6266
babel-eslint parses the code differently than the default parser and can cause some rules to not work. Consider creating an issue directly with babel-eslint to see if this can be resolved either in the parser itself or in a plugin like https://github.com/babel/eslint-plugin-babel.

[2016-05-30 21:56] kaicataldo commented on #6057
How do we want to proceed with this, since the plugin already exists? Do want to just close this or do we need to track it elsewhere so we remember to point users to the plugin?

[2016-05-30 22:10] alberto commented on #6266
Mmmm, while what @kaicataldo says is generally true, I think in this case I was relying on a parser internal (reference equality), so we should probably fix that. Sorry, my fault.

PR is coming.

[2016-05-30 22:14] kangax commented on #6255
@ilyavolodin if not part of ESLint core, then the other option is to just make a standalone (unofficial) plugin?

[2016-05-30 23:29] kaicataldo commented on #6066
@mysticatea Curious about why you think this might not belong in core? Seems like it's general enough to me

[2016-05-30 23:37] ilyavolodin commented on #6255
@kangax That would be one way to do this, but it would be very complex. ESLint uses Escope to track variable scoping. It also uses estraverse to navigate AST. As I mentioned above, solution might be to enhance escope to not jus track variable scoping, but also variable typing. Or if that's not an option, creating another tool that basically mimics what Flex does and plugging it into ESLint core wo