[2020-04-23 00:35] #13137 closed

[2020-04-23 00:36] nzakas commented on #13139
Not enough info to pursue, so closing.

[2020-04-23 00:36] #13139 closed

[2020-04-23 00:37] nzakas commented on #13125
It looks like the conversation is stalled here. As this is a question rather than an action item, I'm closing the issue. If you still need help, please send a message to our [mailing list](https://groups.google.com/group/eslint) or [chatroom](https://gitter.im/eslint/eslint). Thanks!

[2020-04-23 00:37] #13125 closed

[2020-04-23 00:37] nzakas commented on #13114
It looks like the conversation is stalled here. As this is a question rather than an action item, I'm closing the issue. If you still need help, please send a message to our [mailing list](https://groups.google.com/group/eslint) or [chatroom](https://gitter.im/eslint/eslint). Thanks!

[2020-04-23 00:37] #13114 closed

[2020-04-23 00:39] nzakas commented on #13170
Sorry we lost track of this. If you run ESLint with —debug, you might be able to figure out what’s happening.

[2020-04-23 01:52] mysticatea commented on #13170
Looks like you are using old ESLint. Would you try the latest version? Because ESLint 6.0.0 has changed the configuration loading logic from scratch.

[2020-04-23 03:29] kaicataldo commented on #13208
I'll champion this.

[2020-04-23 03:39] #13069 closed

[2020-04-23 04:01] kaicataldo commented on #13212
This sounds useful. I'm generally in support of this, though I'm not convinced of the command line flag name. I wonder if it would also make sense sense to add a corresponding option to the public Node API as well.

Since this is an addition to core, would you like to create an [RFC](https://github.com/eslint/rfcs)?

[2020-04-23 04:12] kaicataldo commented on #13185
Closing this issue since the question has been answered.

[2020-04-23 04:12] #13185 closed

[2020-04-23 04:19] kaicataldo commented on #12822
My guess is that the issue author is using a custom parser that can parse this. When using the default parser, this would currently be a parser error.

[2020-04-23 08:18] liuliangsir opened #13214 "ESLint might give wrong position information"
As the above title says, It's because that ESLint give wrong position information.

**Tell us about your environment**
- ESLint Version: 6.8.0
- Node Version: 10.15.3
- npm Version: 6.4.1
- OS System: Windows 10 Pro(64-bit)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration**:
[Here](https://gist.github.com/liuliangsir/5b69133e73577576771ff

[2020-04-23 08:54] anikethsaha commented on #13214
I can't reproduce this in the demo. as it does shows parsing error when you remove the right-most curly brace. I did try with the wrapped text and its working fine.

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiYXN5bmMgKCkgPT4ge1xuICBmdW5jdGlvbiBmb28oKSB7XG59Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e31

[2020-04-23 10:48] Frozen-byte commented on #12822
Yes I am using "babel/no-unused-expressions" to get around that other issue.

[2020-04-23 10:59] anikethsaha commented on #13212
this seems good enhancement.
currently using `--debug` you can get the list of file which will be linted.

![image](https://user-images.githubusercontent.com/26347874/80091806-557fc880-857f-11ea-98b5-12675f922c0f.png)

[2020-04-23 11:12] gregid commented on #13212
Sure I will take a look at starting the RFC. As to the name it was just the first thing that came to mind. How about `--ls-files` similar to git ls-files which does something similar.
As to Node API, I haven't had a need to use it yet but being able to get list of files to be linted may be useful from there as well.
`--debug` gives pretty much all information but it also executes the lint itself,

[2020-04-23 20:22] mschipperheyn opened #13216 "bad curly"
**Tell us about your environment**
Environment Info:

Node version: v12.16.1
npm version: v6.13.4
Local ESLint version: v6.8.0 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actu

[2020-04-23 20:23] #13113 closed

[2020-04-23 20:23] eslint[bot] opened #13217 "Scheduled release for April 24th, 2020"
The scheduled release on Friday, April 24th, 2020 is assigned to:

* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](https://esli

[2020-04-23 20:39] modernserf opened #13218 "`prefer-const` false positive"
**Tell us about your environment**

eslint.org/demo

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[reproducible on eslint.org/demo

[2020-04-23 20:47] modernserf commented on #13218
(this is solved if you write `let foo = undefined`, but then `no-undef-init` complains)

[2020-04-23 20:57] mdjermanovic commented on #13214
@liuliangsir thanks for the issue!

I believe @anikethsaha's analysis is correct, so you'll probably need to adjust the code that transforms positions from the wrapped input to the original input.

Nevertheless, there's not enough information to evaluate if this is really a bug with reported locations. Could you please make a file with the code in question, then run eslint with `-f json`  on that

[2020-04-23 21:08] mdjermanovic commented on #13218
Hi @modernserf, thanks for the issue!

For cases like this, you can use [ignoreReadBeforeAssign](https://eslint.org/docs/rules/prefer-const#ignorereadbeforeassign) option.

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci1jb25zdDogW1wiZXJyb3JcIiwgeyBpZ25vcmVSZWFkQmVmb3JlQXNzaWduOiB0cnVlIH1dICovXG5cbmxldCBmb287XG5cbmZ1bmN0aW9uIGJhciAoKSB7XG5cdGNvbnNvbGUubG9nKGZvbylcb

[2020-04-23 22:30] kaicataldo commented on #13216
Do you know which rule is causing this? Is it possible to share the text from the error message at that location?

[2020-04-23 23:27] mdjermanovic commented on #13216
I'm guessing there is some range overlapping in the second iteration, so `prettier/prettier` rule doesn't manage to delete `{` before `return` but it does insert `{` after `if (open)` because it's a separate error.

In addition to initial errors, it might be helpful to set `"eslint.codeActionsOnSave.mode": "problems"` in VS Code settings, and also share the reported errors after the first save.

[2020-04-24 01:21] AbdelrahmanHafez opened #13219 "Rule to enforce consistent indentation to multiline conditions"
**Please describe what the rule should do:**
AFAIK, there is currently no way to enforce consistent indentation for multiline-conditions, the rule should do that.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[X] Enforces code style (layout)
[ ] Other (please specif

[2020-04-24 03:39] #12969 closed

[2020-04-24 04:54] fishcharlie opened #13220 "Max Warnings Configuration Option"
**The version of ESLint you are using.**

6.8.0

**The problem you want to solve.**

Keep configuration all in one place instead of separating between CLI and configuration file, specifically for [`max-warnings`](https://eslint.org/docs/user-guide/command-line-interface#max-warnings).

**Your take on the correct solution to problem.**

Add `maxWarnings` option to configuration file that has same b

[2020-04-24 06:07] anikethsaha commented on #13220
I do think this should be a part of [RFC](https://github.com/eslint/rfcs) first as this is a change in the core.
cause currently `max-warnings` is being resolved and used in the `cli.js`.
Some options are being passed to `cli-engine.js` from `cli.js` but I think the reverse is not true.

[2020-04-24 06:19] anikethsaha commented on #13219
it can be an option for `indent` instead of a separate rule.

[2020-04-24 07:36] anikethsaha opened #13221 "[Internal Rule]: no-unused-messageId"
**Please describe what the rule should do:**
It should report whenever there is a message id defined in rule's meta property but its not been used anywhere in the rule's definition

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[X] Enforces code style (layout)
[ ] Ot

[2020-04-24 13:13] aminnairi opened #13222 "sort-imports not behaving as expected"
**Tell us about your environment**

* **ESLint Version:** 6.8.0
* **Node Version:** 13.12.0
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?** `@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

*Extract from aminnairi/eslint-config*

[code]

</details>

**What did you do? Please include the

[2020-04-24 13:46] anikethsaha commented on #13222
I think It is working as expected.
Your order of sort is `["none", "all", "single", "multiple"]`, so that `{Link}` is single and uppercase as your config has `ignoreCase : false`, it will prioritize the uppercase over the lowercase so it is correct order.

`import {makeStyles} from "@material-ui/core/styles";`
is not with `{Link}` because between them, all the uppercase so those will be sorted fir

[2020-04-24 14:10] aminnairi commented on #13222
Thanks for your answer @anikethsaha.

I see, do you know what set of rules I should use in order to get the intended behaviour, meaning having my `import {Link}` sorted with named imports first?

[2020-04-24 14:56] anikethsaha commented on #13222
I think currently there is no option to group them.
for this specific snippet, you can try `ignoreCase: true`

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHNvcnQtaW1wb3J0czogW1wiZXJyb3JcIix7IFwiaWdub3JlQ2FzZVwiOiB0cnVlLCBcImlnbm9yZURlY2xhcmF0aW9uU29ydFwiOiBmYWxzZSwgXCJpZ25vcmVNZW1iZXJTb3J0XCI6IGZhbHNlLCBcIm1lbWJlclN5bnRheFNvcnRPcmRlclwiOiBbXCJub25lXCIsIFwiYWxsXCIsIFwic2luZ2xlXCIsIFwibX

[2020-04-24 15:51] #13218 closed

[2020-04-24 16:07] jodranata opened #13223 "Object destructuring for variable declaration"
**Tell us about your environment**

* **ESLint Version: ^6.8.0**
* **Node Version: v.13.13.0**
* **npm Version: 6.14.4**

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the comman

[2020-04-24 16:32] #13223 closed

[2020-04-24 16:43] yeonjuan commented on #13094
I agree with it 👍  and marked as accepted.

[2020-04-24 16:46] anikethsaha commented on #13094
I would like to work on this if its ok by others!

[2020-04-24 19:58] #13190 closed

[2020-04-24 20:07] #12883 closed

[2020-04-24 22:43] kaicataldo commented on #13217
ESLint v7.0.0-rc.0 has been released, and this concludes this release cycle.

[2020-04-24 22:43] #13217 closed

[2020-04-24 22:43] eslint[bot] opened #13224 "Scheduled release for May 8th, 2020"
The scheduled release on Friday, May 8th, 2020 is assigned to:

* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](https://eslint.

[2020-04-24 23:09] kaicataldo commented on #13094
@yeonjuan We still need a champion for this proposal. Would you like to champion it?

[2020-04-25 02:36] Mister-Hope opened #13225 "[Suggestion] Make breaking changes conspicuously"
I dont think the description on the release page looks good.
Can we make a part to place all the breaking changes as other repo? Maybe something like this:

Thanks.

BTW, there isn't a classification like "Suggestion" or "Feature Request", so I choose the bug.

[2020-04-25 03:39] #13033 closed

[2020-04-25 03:39] #13028 closed

[2020-04-25 05:25] yeonjuan commented on #13094
@kaicataldo sorry for mislabeling,  I'm willing to champion this : )

[2020-04-25 13:23] anikethsaha commented on #11849
@mdjermanovic are you working on this? if not I would like to take this

[2020-04-25 13:44] anikethsaha opened #13226 "[new option]: "allow" option for quote-props to allow pattern"
Ref https://github.com/eslint/eslint/issues/13053

**What rule do you want to change?**
`quote-props`

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?*

[2020-04-25 16:16] Lonniebiz opened #13227 "no-unused-vars produces frequent False Positives Involving Async/Await"
Anytime you set a variable equal to the output of an async function and then do some other work before awaiting the returned promise, eslint falsely assumes that the variable is unused, when it actually is used.

Here's the shortest example I could quickly come up with:
[code]

This reminds me of a similar issue I reported 8 months ago:
https://github.com/eslint/eslint/issues/11967

[2020-04-25 16:26] anikethsaha commented on #13227
This is an intended behavior but there might need some changes with the location and the message.
It is under discussion here https://github.com/eslint/eslint/issues/13181 .

Hope it helps.

[2020-04-25 16:56] Lonniebiz commented on #13227
In async programming, the pattern of doing something else (while waiting on another thing to finish) is so common that I can't see how eslint would consider this "intended behavior".

This is a false positive, and in my coding, it is a frequently used technique that gets a lot of stuff done simultaneously (rather than waiting unnecessarily).

If this rule is not sophisticated enough to recognize s

[2020-04-25 17:13] anikethsaha commented on #13227
This is my opinion, not eslint's. as I may be wrong or missing something about it.

you can use the `varsIgnorePattern` option in order to make it error-free.

This rule clearly focuses on whether the variable is being used (not self-reassigned) or not.
If your example above, you are not using it, you are doing self-assignment.  So in a way, you don't need that variable. you can simply do `await f

[2020-04-25 17:23] Lonniebiz commented on #11899
To me, this issue seem very similar to one I'm starting to see with the `no-unused-vars` rule:
https://github.com/eslint/eslint/issues/13227

[2020-04-25 18:36] Lonniebiz commented on #13227
Obviously, the example I've provided is **contrived** for the purpose of succinctly exemplifying the essence of the issue being reported. In practice, it is indeed the "awaited resolved promise" of `usedVariable` that gets used later in that vary code block. Its just that, I'm doing other work before awaiting the promise (concept: do other work while you wait). As is, you could use `usedVariable`

[2020-04-25 19:09] mdjermanovic commented on #13227
@Lonniebiz thanks for the issue!

I agree that we should improve this rule to show a different message and report the location of the last self-assignment, as proposed in #13181.

That being said, the provided example doesn't look like a false positive, because `usedVariable` isn't used after the `usedVariable = await usedVariable;` line.

[2020-04-25 19:12] mdjermanovic commented on #13226
Seems reasonable to me, given the use case described in #13053 and the fact that `dot-notation` already has a similar option.

[2020-04-25 19:14] mdjermanovic commented on #11849
@anikethsaha I'm not working on it at the moment, feel free to take this!

[2020-04-25 20:08] Lonniebiz commented on #13227
The point I've tried to make, is that you can using 1000 times after that line, and eslint will still consider it unused.

Perhaps this will make my point more clear:
[code]
eslint still considers `usedVariable` unused. Is that clear?

[2020-04-25 20:24] Lonniebiz commented on #13227
Ok, I'm starting to understand what you guys are telling me.

You all are saying that the real issue is that the wrong line is being reported as unused by eslint and that anytime a reassignment isn't used that's fair game, but it should be marked as "unused reassignment" (with the correct line instead). Yes, indeed, that is what has confused me.

@anikethsaha : I finally understand what you were s

[2020-04-25 20:30] Lonniebiz commented on #13181
This bug confused me (as shown in #13227).

[2020-04-25 21:34] mdjermanovic commented on #13219
@AbdelrahmanHafez thanks for the issue!

I agree with @anikethsaha, this should be a new option in `indent` rather than a separate rule.

There is already an open proposal #12248 for this enhancement (`MultilineExpression` option).

[2020-04-25 22:36] mdjermanovic commented on #13222
@aminnairi thanks for the issue!

This works as intended, because `"single"` and `"multiple"` are just counting imported names.

I'd personally support an enhancement to have `"default"` and `"named"` as an alternative to  `"single"` and `"multiple"`, like #12065. Please feel free to open a rule change request.

Unfortunately, I don't think there is a way to achieve this at the moment, other than

[2020-04-25 22:41] mdjermanovic commented on #13227
Thanks for clarifying this!

I'm closing this issue as a duplicate of #13181.

[2020-04-25 22:41] #13227 closed

[2020-04-25 23:02] mdjermanovic commented on #13221
That would be great, but would it be possible to do this without false positives?

There are some rules where it's more complex than `context.report({ messageId: "..." })`, for example [arrow-body-style](https://github.com/eslint/eslint/blob/fdfa364c1b0d88689d02cbe8ae848a3e323209aa/lib/rules/arrow-body-style.js#L123) or [generator-star-spacing](https://github.com/eslint/eslint/blob/fdfa364c1b0d886

[2020-04-26 00:27] g-plane commented on #13221
I think those message ids which can't be checked statically can be skipped, and most of rules are still able to be checked.

[2020-04-26 03:39] #13080 closed

[2020-04-26 05:34] anikethsaha commented on #13221
I would prefer to skip them.

though we can check all `Literal` and check for their `value`. this would solve the `arrow-body-style` but not for  `generator-star-spacing` so I would prefer to skip for this rule may be by disabling this rule ?

WDYT ?

[2020-04-26 06:05] g-plane commented on #13221
Another suggestion: implement this rule into [eslint-plugin-eslint-plugin](https://github.com/not-an-aardvark/eslint-plugin-eslint-plugin).

[2020-04-26 07:53] anikethsaha commented on #13221
yeah, this seems good as well 👍 .

[2020-04-26 08:14] AbdelrahmanHafez commented on #13219
Oh, I didn't see that. So let's close this issue and follow progress on #12248.

[2020-04-26 08:14] #13219 closed

[2020-04-26 08:32] liuliangsir commented on #13214
@mdjermanovic using the awkward workaround is a sad thing. Check out https://github.com/babel/babel-eslint/issues/829 and https://github.com/codemirror/CodeMirror/issues/6240 for more details.

Here is the code
[code]
And here is the output
[code]

[2020-04-26 09:01] aminnairi commented on #13222
Thanks for the time you took to answer my really a question more than an issue at this point.

I'll try to get my head into this project and when I'll feel confident enough I'll let you know if I can find a workaround.

I think it's safe now to say that this "issue" is closed now.

[2020-04-27 03:39] #13097 closed

[2020-04-27 03:39] #13095 closed

[2020-04-27 03:39] #13070 closed

[2020-04-27 08:45] anikethsaha commented on #13222
I too think `named` and `default` are much better.

[2020-04-27 15:14] hbergren opened #13229 "Bug: `capitalized-comments` yelling about an inline comment"
**Tell us about your environment**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**
`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[code]

**What did you

[2020-04-27 15:25] anikethsaha commented on #13229
This is the intendent behavior if you are using this rule without any option.

however, I tried with [`ignoreInlineComments`](https://eslint.org/docs/rules/capitalized-comments#ignoreinlinecomments) [here](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGNhcGl0YWxpemVkLWNvbW1lbnRzOiBbXCJlcnJvclwiLCBcImFsd2F5c1wiLCB7IFwiaWdub3JlSW5saW5lQ29tbWVudHNcIjogdHJ1ZSB9XSAqL1xuY29uc3QgZXhhbXBsZSA9IHtcbiAgbm

[2020-04-27 20:16] kaicataldo opened #13231 "[release]: generating website during prereleases can be improved"
**The version of ESLint you are using.**
`master`

**The problem you want to solve.**
There are currently a few issues with our site generation script surrounding the process of releasing prerelease versions.

1. The [`_data/rules.yml` file](https://github.com/eslint/website/blob/master/_data/rules.yml) in the website repo gets updated to include rules that have been added during the prerelease. T

[2020-04-27 20:35] kaicataldo commented on #13229
Closing this issue since the question has been answered.

[2020-04-27 21:01] hbergren commented on #13229
@kaicataldo , it hasn't been answered. There's a bug with the `ignoreInlineComments` option of the `capitalized-comments` rule.

[2020-04-27 21:18] kaicataldo commented on #13229
Whoops, sorry about that. Reopening.

[2020-04-27 21:24] kaicataldo commented on #13229
For what it's worth, this looks like it's working as expected to me. From the [documentation](https://eslint.org/docs/rules/capitalized-comments#ignoreinlinecomments) (emphasis my own):

Since there can't be tokens on the line after a line comment, line comments will always warn.

[code]

See demo [here](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGNhcGl0YWxpemVkLWNvbW1lbnRzOiBbXCJlcnJvclwiLC

[2020-04-27 21:28] kaicataldo commented on #13225
Can you clarify what you mean by this?

[2020-04-27 21:38] mdjermanovic commented on #13229
If the intention is to ignore line comments (those starting with `//`), this rule doesn't have an explicit option for that, but `ignorePattern` can be used as a workaround, e.g.:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGNhcGl0YWxpemVkLWNvbW1lbnRzOiBbXCJlcnJvclwiLCBcImFsd2F5c1wiLCB7XG4gIGxpbmU6IHtcbiAgICBpZ25vcmVQYXR0ZXJuOiBcIi5cIlxuICB9XG59XSAqL1xuXG4vLyBsaW5lIGNvbW

[2020-04-27 21:39] ulrichb opened #13232 "Support ES6 default exports in 'rulesdir'"
**The version of ESLint you are using:** 6.8.0 (same with current 7.0)

**The problem you want to solve.**

Atm. when using ES6 "default exports" (`exports.default = { /* ... `) in a `--rulesdir` rule / (instead of `module.exports = { ...`), ESLint fails with _"Error while loading rule 'my_rule': rule.create is not a function"_.

See https://developer.mozilla.org/en-US/docs/web/javascript/referenc

[2020-04-27 22:00] mdjermanovic commented on #13214
Thanks for the additional info!

I also couldn't think of a better workaround for top-level await than the one you found.

As for the position issue, `(3:2)` seems like a valid location in the wrapped input.

If it helps, you can use [SourceCode#splitLines()](https://eslint.org/docs/developer-guide/nodejs-api#sourcecode-splitlines), or `linter.getSourceCode()` (please see the last section of [Lint

[2020-04-28 03:39] #13103 closed

[2020-04-28 03:39] #12948 closed

[2020-04-28 04:26] kaicataldo commented on #13232
I'm :-1: because this output is not standard Node syntax. `exports.default` in CommonJS is not equivalent to ESM `export default`, and I think we should be putting out efforts towards supporting actual ESM rather than special casing output from a specific compiler.

[2020-04-28 04:52] anikethsaha commented on #13229
According to this , this seems intentional behavior. 👍

But I would consider an inline comment to be ignored with this option even if its next to the line
like this

[code]

because `no-inline-comments` do consider them as [inline comments](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgZXhhbXBsZSA9IHtcbiAvLyBUaGlzIG5leHQgbGluZSB3aWxsIGVycm9yLlxuICBub25jZTogJ2FiYycsIC8vIGEgbnVtZXJpYyBzdHJpbmdcbn1cblx

[2020-04-28 11:00] ulrichb commented on #13232
I agree that supporting ES6 modules fully (using the async dynamic `import()` function) would be better.

But as this is still [marked as experimental in Node](https://nodejs.org/dist/latest-v14.x/docs/api/esm.html#esm_ecmascript_modules) (and available without a flag only since Node 13/14) I'd vote for an solution until we have it.

Two more arguments:

* The `exports.default` isn't some weird pr

[2020-04-28 11:03] davc0n opened #13233 "Auto-fix typescript's no-unused-var rule using --init"
**The version of ESLint you are using.**
6.8.0

**The problem you want to solve.**
https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md

**Your take on the correct solution to problem.**
Using eslint --init, if chosen that typescript is in use, those rules should be added automatically.

**Are you willing to submit a pull request to

[2020-04-28 12:35] avalanche1 commented on #13201
#12611 looks fine by me.
actually I wan't aware of default params with destructuring assignment

[2020-04-28 16:19] kaicataldo commented on #13232
I'm personally not in favor of adding special cases when there is a clear path forward, but let's see what other team members have to say. As a workaround in the meantime, I believe you could add a wrapper module that imports `exports.default` and exports as `module.exports`.

[2020-04-28 16:25] kaicataldo commented on #13229
That's a really good point. We should be trying to be consistent with our definitions within our rules. Given this, I wouldn't be against relaxing the definition of inline comments in `capitalized-comments` to mean "a comment that is not the first token on the line", since it wouldn't be a breaking change. Curious how others feel about this!

[2020-04-28 16:27] mat813 commented on #12948
mmmm

[2020-04-28 16:46] kaicataldo commented on #13233
I don't think we should get in the business of picking specific rules to enable in `--init`, but I do think it could make sense to enable `plugin:@typescript-eslint/recommended` (we do the same for the React plugin).

[2020-04-28 16:52] anikethsaha commented on #13233
`plugin:@typescript-eslint/recommended` will be added if `eslint:recommended` is added.

[implemented-here](https://github.com/eslint/eslint/blob/master/lib/init/config-initializer.js#L327-L329)

adding of `eslint:recommended` depends on `purpose` name from the interactive cli.
@davc0n can you share your answer which you shared.

@kaicataldo maybe we should add the typescript-eslint/recommended ad

[2020-04-28 16:54] anikethsaha commented on #13229
sorry if I am not getting, did you mean adding notes in docs or changing the rule ?

[2020-04-28 16:57] kaicataldo commented on #13233
It's a bit confusing, but we add `plugin:@typescript-eslint/eslint-recommended`, not `plugin:@typescript-eslint/recommended`. The former is designed to be used with `eslint:recommended`, and adjusts the config for a TypeScript codebase. You can see more details [here](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#recommended-configs).

What I suggested a

[2020-04-28 16:58] kaicataldo commented on #13229
No worries! This would be changing the behavior of the rule (and then updating the docs!).

[2020-04-28 17:01] anikethsaha commented on #13233
I didnt know there are two recommended configs from typescript-eslint 😄

[code]

yes, this is much better. 👍

[2020-04-28 17:03] anikethsaha commented on #13229
cool, yes I think this will be good change 👍

May be this is an `enhancement` instead of `bug` cause currently, the rule is working as intended 👍

[2020-04-28 17:41] davc0n commented on #13233
In the init process I did specify that typescript is in use, so those extends are present in config:
[code]

`"plugin:@typescript-eslint/recommended"` includes the following rules ?

[code]

If so, adding the additional extend when typescript is chosen should be fine. Otherwise, I would simply include those rules, without an explicit question (actually some rules might be asked, but I think this o

[2020-04-29 03:39] #13041 closed

[2020-04-29 19:37] Floriferous opened #13236 "--ignore-pattern from CLI is ignored if it is set in eslintrc"
I'm using the eslint CLI in parallel with a `eslintrc.js` config. In the config I have a set of `ignorePatterns []`. We use symlinked directories in our repo, but we let eslint format each of the symlinks so it doesn't matter where you access that symlink from.

However, when running CLI commands, to speed things up, we'd like to ignore those symlinks. This is why I add a `--ignore-pattern` flag t

[2020-04-29 19:52] anikethsaha commented on #13236
I think it would be better to use `.eslintignore` for your case as `--ignore-pattern` 's pattern adds up with the entries in `.eslintignore`'s files.

[docs](https://eslint.org/docs/user-guide/command-line-interface#ignore-pattern)

[2020-04-29 20:17] Floriferous commented on #13236
Well then maybe we should unify the behavior of `eslintrc` and `eslintignore`. I specifically stopped using `.eslintignore` because it appeared to be exactly the same.

Are there other such gotchas where they differ? Maybe it'd be worth documenting that.

[2020-04-30 00:27] nzakas commented on #13208
@Siilwyn can you open a pull request for this?

[2020-04-30 00:46] gaearon opened #13237 "Consider nullish coalescing in code path analyzer"
We [use](https://github.com/facebook/react/blob/dd7f0deb947f836170cd1019dbbc2e44d30a21ce/packages/eslint-plugin-react-hooks/src/RulesOfHooks.js#L121-L132) the code path analyzer for `react-plugin-react-hooks/rules-of-hooks`.

Currently, it understands `foo || useHook()` is a conditional function call, but it doesn't understand that for nullish coalescing `foo ?? useHook()`. We have some bugs creep

[2020-04-30 02:55] aladdin-add commented on #13237
related #12642

[2020-04-30 05:10] Zzzen opened #13238 "[no-constant-condition] all literal should be treated like boolean literal"
**What rule do you want to change?**
no-constant-condition

**Does this change cause the rule to produce more or fewer warnings?**
More warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Only the first `if` statement is

[2020-04-30 05:32] kaicataldo commented on #13237
Thanks for the issue. Now that [this PR](https://github.com/acornjs/acorn/pull/890) has been merged, we should be able to add support when Acorn publishes its next release.

For some more context around why we don’t support this yet, it’s been difficult to nail down the AST spec for optional chaining and nullish coalescing operator syntax [in ESTree](https://github.com/estree/estree/pull/204), and

[2020-04-30 06:11] blake-regalia commented on #12518
## For those who came here by search engine:
Here is the actual issue being tracked for `import.meta`: #13133

[2020-04-30 07:35] Antonius-S opened #13239 "`no-magic-numbers`: allow numbers in expressions"
Now the rule forbids usage of numbers even when they construct a constant with some expression. F.ex., if we want to correctly set a 2-min timeout value we'll write something like below getting rule report
[code]

**What rule do you want to change?**
no-magic-numbers

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, ne

[2020-04-30 08:27] DenyVeyten commented on #13186
I've got the point, some custom parser should be used as per https://eslint.org/docs/developer-guide/working-with-custom-parsers
Thanks for explanations!

[2020-04-30 08:27] #13186 closed

[2020-04-30 10:07] Siilwyn commented on #13208
@nzakas I can but it seems @kaicataldo is already up for the PR?

[2020-04-30 10:38] yeonjuan commented on #13238
[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tY29uc3RhbnQtY29uZGl0aW9uOiBcImVycm9yXCIqL1xuXG5pZiAodGhpcy5sb2dpbnBhZ2UgfHx0cnVlKSB7fSAvLyBFcnJvclxuaWYgKHRoaXMubG9naW5wYWdlIHx8IDEpIHt9IC8vIEVycm9yXG5pZiAodGhpcy5sb2dpbnBhZ2UgfHwgJzEnKSB7fSAvLyBFcnJvclxuXG5pZiAodHJ1ZSB8fCB0aGlzLmxvZ2lucGFnZSkge30gLy8gRXJyb3JcblxuaWYgKDEgfHwgdGhpcy5sb2dpbnBhZ2UpIHt9IC8vIE5vIGVycm9yXG5pZiAoJzEnIHx8IH

[2020-04-30 10:52] anikethsaha commented on #13238
I agree with above comment.

[code]

[2020-04-30 10:57] golopot opened #13240 "Rule proposal: no unused assignment"
**Please describe what the rule should do:**
Report unused left hand side (LHS) in an assignment.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in ESLint (instead of a plugin)?**
The purpose of this rule is very similar t

[2020-04-30 10:57] anikethsaha commented on #13239
this is an intended behavior that is in the scope of this rule.
 I don't have any strong opinion for changing the rule behavior with these cases cause this is what the rule is meant to do.

Maybe others have better approach to this.

[2020-04-30 13:14] Raduuu commented on #13240
I think it could be a rule named like `no-unused-reassignments` for this or, as you said, as an option of `no-unused-vars`.

[2020-04-30 16:31] bcko opened #13241 "add variable ignore list for `block-scoped-var`"
**The version of ESLint you are using.**
v6.8.0

**The problem you want to solve.**
`block-scoped-var` does not offer a progressive path to enable this rule.
Therefore, users have to fix all existing violations in order to enable this rule.
For a large pre-ECMAScript 2015 codebase, it is quite difficult to fix all existing violations and enable this rule all at once.

**Your take on the correct so

[2020-04-30 16:39] anikethsaha commented on #13241
Not sure whether having a option will help you completely or not cause as you mentioned the codebase is large so you still need to do a search of variables and need to add them in the list unless you have some pattern already existed.

I think disabling might help more.

[2020-04-30 17:17] Zzzen commented on #13238
Because I'm not sure what's the rationale behind these lines 😂

https://github.com/eslint/eslint/blob/fdfa364c1b0d88689d02cbe8ae848a3e323209aa/tests/lib/rules/no-constant-condition.js#L76

[code]

[2020-04-30 17:27] bcko commented on #13241
@anikethsaha thank you for your comment. I agree that there are many cases having variable ignore list won't help much.
For my company's case, having variable ignore list helps greatly.
My team evaluated `block-scoped-var` and wants to immediately enable this rule so that new code follows this rule. Existing violations + false positives (pre-webpack era module loading in the front-end) sum up to a

[2020-04-30 17:37] anikethsaha commented on #13241
I don't have any strong opinion for any of the cases as to have it or not.

lets see what others think.

[2020-04-30 17:39] bcko commented on #13241
sounds good. Thank you!

[2020-04-30 18:47] yeonjuan commented on #13241
Hi @bcko :)

If it is the reason for the proposal, what about [setting error level](https://eslint.org/docs/user-guide/configuring#configuring-rules) with `warn` or using [eslint-disable comment](https://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments)?

[2020-04-30 19:23] nzakas commented on #13208
He assigned the issue to himself as the team champion to indicate his enthusiastic support, not necessarily to say he will implement it. We would still appreciate you opening a PR for this as our backlog is quite large and otherwise this may sit for a while.

[2020-04-30 19:28] charvey77 commented on #13170
Thanks for the feedback folks!

I'll need to get a wider approval to update to the latest version, but I'm hoping to be able to get there within the next month or two.

In the meantime, using --debug, I was finally able to get an instance of our sporadic failure. I have attached two log files, both from the same component but from different jobs in our automated system.

At line 54 of the failing

[2020-04-30 21:13] bcko commented on #13241
Hi @yeonjuan  Thank you for your comment.

My team considered setting error level & using disable comment. However, decided against these alternatives due to below conditions.
- When eslint rule `block-scoped-var` is applied, the codebase emits a lot of false positives (thousands) due to the way the front-end handles modules (the front-end code needs to adopt module bundler such as Webpack to fix

[2020-05-01 02:06] dimaqq opened #13243 "Support simple key filter using spread operator"
**What rule do you want to change?**
`no-unused-vars`

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
I don't know

**Please provide some example code that this change will affect:**

From: https://github.com/tc39/proposal-object-rest-spread/issues/16#issuecomment-233218801

To filter o

[2020-05-01 02:07] kaicataldo commented on #13241
I don't think a whitelist makes sense for this rule, since there isn't necessarily a pattern/convention for the variable declarations that are checked by this rule - they can really be named anything. I also don't think a whitelist is going to help you very much, because a whitelisted variable name won't warn in the event a new variable is added that shares the same variable name. This would mean

[2020-05-01 02:11] kaicataldo commented on #13243
Just to confirm, are you taking about the rest operator? If so, this functionality is already available using the [ignoreRestSiblings](https://eslint.org/docs/rules/no-unused-vars#ignorerestsiblings) configuration option.

[2020-05-01 02:13] dimaqq commented on #13243
Ah, you are right, @kaicataldo thank you!

[2020-05-01 02:14] kaicataldo commented on #13243
No problem! Glad you were able to resolve it 😄

[2020-05-01 02:14] kaicataldo commented on #13243
Closing this issue since the question has been answered.

[2020-05-01 02:14] #13243 closed

[2020-05-01 02:36] kaicataldo commented on #13240
I have a few questions:

1. Just to be clear, this rule won't warn if the variable is declared in a parent scope, correct?
2. How would this rule handle global assignments that might be used in a different file?

[2020-05-01 02:37] kaicataldo commented on #13186
No problem!

[2020-05-01 02:57] kaicataldo commented on #13239
I agree with @anikethsaha that this is exactly what the rule is intended to enforce. In this specific example the `2` doesn't seem like a magic number because it's fairly clear what this it's referring to, but if it were a larger number it would be confusing. For instance, if the code snippet looked like this, I think the rule should warn:

[code]

Given the above, I'm not sure how the rule would

[2020-05-01 02:58] kaicataldo commented on #13239
And FWIW, I do think that if you're disallowing the use of magic numbers, this should be written as:

[code]

[2020-05-01 05:09] Lonniebiz commented on #13133
I'm so glad this is finally stage 4, because I've been eagerly awaiting eslint support for `import.meta` for [over a year](https://stackoverflow.com/questions/54337576/). I hope it isn't too tough to implement.

Does anyone dare to predict an ETA?

[2020-05-01 09:17] alejandroclaro opened #13244 "Add support to multiple formatters or access to configuration options from formatter to create a tee-like formatter"
**The version of ESLint you are using.**
6.6.0

**The problem you want to solve.**
Generation of different outputs using formatters without running eslint cli several times. A specific use case we have is the generation of a checkstyle report on our CI server, but also the inspection of results the standard output in both CI server and development environment.

**Your take on the correct solution

[2020-05-01 09:27] Siilwyn commented on #13208
Oh thanks for clearing that up, I misunderstood what that meant.

I'll see if I can make time for this in the coming months, I did give it a shot yesterday but the tests take forever and don't seem to test the interactive prompts.

[2020-05-01 12:56] Zzzen commented on #13238
Do we have any rules for `if (false || a){}`? It's likely a mistake ( just like an unused expression ), although not a constant condition.

[2020-05-01 13:06] anikethsaha commented on #13238
I think it should be reported as well with an unused condition as `if (false || a){}` is equal to `if (a){}`. It can be done in this rule itself instead of a separate rule.

[2020-05-01 13:17] anikethsaha commented on #13244
I think having a custom formatter and reading the environment variable and run the specific formatter conditionally can be a solution for this case.

 about your second solution

is it something like passing data from the config file to the formatter ?

[2020-05-01 15:14] Zzzen commented on #13238
It would be a big breaking change.

[2020-05-01 22:24] kaicataldo commented on #13208
@Siilwyn Sorry for the misunderstanding. Thanks for being willing to work on this!

[2020-05-01 22:38] mdjermanovic commented on #13238
We don't have such a rule. It might be worth exploring whether an option in `no-constant-condition` to treat LHS of a logical operator as condition makes sense.

[2020-05-01 23:51] mdjermanovic commented on #13238
I believe the only reason to not report `1 || foo` as a constant condition in `if (1 || foo);` would be to avoid overlapping with another rule (or an option in this rule) that would report `1` in `1 || foo`.

In that case, `true || foo` in `if (true || foo);` shouldn't be reported as well.

`foo || 1` is different because it can be a valid code, depending on the context.

Even if we add such a rul

[2020-05-02 01:42] multics opened #13247 "multiple parser in one project"
**Tell us about your environment**

* **ESLint Version:** 6.8.0
* **Node Version:** 14.0.0
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**
Here the problem comes.
babel-eslint, vue-eslint-parser, typescript-eslint-parser

What if my project needs two parsers to do lint work, how should I configure .eslintrc?

**Please show your full configuration:**

<detail

[2020-05-02 03:39] #13040 closed

[2020-05-02 05:06] kaicataldo commented on #13247
Hi, you can use [glob based configuration](https://eslint.org/docs/user-guide/configuring#configuration-based-on-glob-patterns) to achieve this by specifying the parser for a particular glob of files.

[2020-05-02 14:19] tmcdos opened #13248 "Bug in template-curly-spacing rule"
**Tell us about your environment**
This is a standard Vue project created by Vue-CLI v4.2.0

* **ESLint Version:** 6.8.0
* **Node Version:** 13.13.0
* **npm Version:** 6.13.6

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actua

[2020-05-02 17:33] devansvd opened #13249 "no-useless-backreference and default-case-last - docs page 404"
URL - [https://eslint.org/docs/rules/no-useless-backreference](https://eslint.org/docs/rules/no-useless-backreference) is missing 404 in the docs ? Is this intentional ?

I can see this inside docs repo - https://github.com/eslint/eslint/blob/master/docs/rules/no-useless-backreference.md

Also, default case last doc 404 - URL - https://eslint.org/docs/rules/default-case-last

![Screen Shot 2020-05

[2020-05-02 18:10] anikethsaha commented on #13249
they are added in `7.0.0-apha.0` check [here](https://eslint.org/docs/7.0.0/rules/no-useless-backreference) , [here](https://eslint.org/docs/7.0.0/rules/default-case-last)

[release note](https://eslint.org/blog/2020/01/eslint-v7.0.0-alpha.0-released#top)

I think it will reflect as default when `7.0.0` is out of alpha. *not sure tho*

[2020-05-02 18:22] devansvd commented on #13249
Ok got it thanks

[2020-05-02 18:22] #13249 closed

[2020-05-02 18:27] anikethsaha commented on #13248
I didnt notice interpolation in the code given (let me know if I missed)

also, if you meant empty interpolation
[code]
it is an invalid code. it cant be empty.

i think it cant be undefined if there is a valid template literal. also,  adding this check can be fine too but the thing is it cant be undefined if there is a `TemplateElement` node.

let me know if I missed something 👍

[2020-05-02 20:07] valtlai opened #13250 "Require spesific name for placeholder variables"
**What rule do you want to change?**
[no-unused-vars](https://eslint.org/docs/rules/no-unused-vars)

**Does this change cause the rule to produce more or fewer warnings?**
More.

**How will the change be implemented? (New option, new default behavior, etc.)?**
A new option, I think.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for t

[2020-05-02 20:25] valtlai commented on #13250
Just noticed there’s a option for that:

[code]

So closing.

[2020-05-02 20:25] #13250 closed

[2020-05-03 03:39] #13131 closed

[2020-05-03 14:19] sptGabriel opened #13253 "TypeScript Reactjs: Assignment to property of function parameter 'state'"
Hello I have a problem in my estlint:

Assignment to property of function parameter 'state'. eslintno-param-reassign

on this code:

state.sideisOpen = action.payload;

interface SideBar {
  sideisOpen: boolean;
}

const INITIAL_STATE: SideBar = {
  sideisOpen: true,
};

const sideBar = createSlice({
  name: 'toggleSide',
  initialState: INITIAL_STATE,
  reducers: {
    toggleSide: (state, action:

[2020-05-03 14:51] anikethsaha commented on #13253
state.sideisOpen = action.payload;
},

I think it is because of ^ these

can you share your eslint config ?

make sure [props](https://eslint.org/docs/rules/no-param-reassign#props) option is not set to `true`

_Also, make sure you are using [`typescript-eslint`](https://github.com/typescript-eslint/typescript-eslint) 's parser and plugins/rules as your code is in Typescript._

[2020-05-03 17:56] tmcdos commented on #13248
This is exactly my point - that there is **NO** interpolation in the given code.
If you do not believe me that the `token` can be undefined - then please try
[code]
with the following simple project
[test.zip](https://github.com/eslint/eslint/files/4571218/test.zip)

[2020-05-03 18:01] anikethsaha commented on #13248
can you try [this](https://github.com/mysticatea/vue-eslint-parser) ?
there might be some parsing issue.

[2020-05-03 18:33] krainboltgreene commented on #12829
How can I help with this?

[2020-05-03 19:02] sptGabriel commented on #13253
hii
i have this code :

// .eslintrc
{
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["airbnb-typescript", "react-app", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "indent": "off",

[2020-05-03 20:02] anikethsaha commented on #13253
the code which I am suspecting is lint free for js . so I think this rule is working as expected 👍

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgIHJlZHVjZXJzID0ge1xudG9nZ2xlU2lkZTogKHN0YXRlLCBhY3Rpb24pID0+IHtcbnN0YXRlLnNpZGVpc09wZW4gPSBhY3Rpb24ucGF5bG9hZDtcbn1cbn0iLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjExLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7I

[2020-05-04 02:37] JoshuaKGoldberg opened #13255 ""ESLint couldn't find the plugin" notice loses a last character"
**Tell us about your environment**

* **ESLint Version:** 6.8.0
* **Node Version:** 12.0.0
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**

Not relevant, but `"@typescript-eslint/parser"`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing

[2020-05-04 03:39] #13107 closed

[2020-05-04 07:25] tmcdos commented on #13248
I tried both v7.0.0 and v6.0.5 of Vue-ESLint-parser - no difference, the error is still there. I will post the issue on their tracker, too.

[2020-05-04 09:43] emattias opened #13256 "Config any rule to only apply to changes after certain git sha/date"
### Problem to solve
In a large code base introducing a new lint rule can be very disruptive and require a lot of changes that can cause bugs/problems. Especially when doing alot of changes all over the code base.

### Suggestion
Add option to any rule to only apply to code changed after a certain git commit sha (or maybe date to be vcs agnostic)

This way you can add a lint rule to a large code b

[2020-05-04 11:37] yeonjuan commented on #13255
Hi @JoshuaKGoldberg  :) Thanks for the reporting.  😀

It seems a bug to me; I agree that the error message should be improved

Maybe not, 🤔 because the actual reason is incorrect configuration.

[code]

The "plugin:xxx" means the use of exported configuration from other plugins.
so it should be consists of  `"plugin:"` + `{package name}` + `"/"` + `{configuration name}`
- [Using the configuration

[2020-05-04 16:32] 137717unity opened #13259 "Non-rule change request"
**The version of ESLint you are using.**

**The problem you want to solve.**

**Your take on the correct solution to problem.**

**Are you willing to submit a pull request to implement this change?**

[2020-05-04 17:02] yeonjuan commented on #13248
Hi @tmcdos  😀
It is a bug in babel-eslint. you can find details here -  babel/babel#10904

[2020-05-04 17:19] backbone87 opened #13260 "report-unused-disable-directives reports false positive with eslint-disable-next-line no-fallthrough"
**Tell us about your environment**

Node version: v12.5.0
npm version: v6.14.4
Local ESLint version: v6.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to

[2020-05-04 17:21] anikethsaha commented on #13259
@yeonjuan I think this is a spam a account , ref https://github.com/eslint/eslint/pull/13257, https://github.com/eslint/eslint/pull/13258

also, I checked his/her account and other PRs, all same.

I think this issue and other PR can be close with a note if its fine !

[2020-05-04 17:23] anikethsaha commented on #13248
sorry for pointing to wrong repo .

[2020-05-04 17:30] tmcdos commented on #13248
@yeonjuan Are you certain that Bable is the cause of the issue ? I have suspicion that `getFirstIndex()` and/or `getLastIndex()` functions in `eslint/lib/source-code/token-store/utils.js` are producing wrong result (e.g. last index being smaller than first index). Can you confirm or disprove my suspicion ?

[2020-05-04 18:34] yeonjuan commented on #13248
Hi 😁 @tmcdos

Well .. I do not well know about the `babel-eslint` project at the code levels so I don't know the actual reason. but It seems fine in eslint with default parser  - [online demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgdGVtcGxhdGUtY3VybHktc3BhY2luZzogXCJlcnJvclwiKi9cblxuZXhwb3J0IGRlZmF1bHRcbntcbiAgbmFtZTogJ0FwcGxpY2F0aW9uJyxcbiAgZGF0YSAoKVxuICB7XG4gICAgcmV0dXJuIHtcbiAgICAgIGJ

[2020-05-04 19:04] emattias commented on #13256
I implemented a proof of concept for this: [eslint-plugin-disable-before](https://github.com/emattias/eslint-plugin-disable-before)

You set this:

[code]
Then the rule `import/no-anonymous-default-export` will be disabled for all lines where that lines commit is before `2020-05-01`.

Let me know if you think I should change anything! :)

[2020-05-04 21:07] kaicataldo commented on #13256
I don't think this should be added to core and believe this is best implemented in a plugin, like you've already done!

[2020-05-04 21:11] emattias commented on #13256
ok, do you have any thoughts on options for how to do this? What APIs can/should be used to implement this?

I didn't dig into all the parts of my implementation. It was mostly a repurposing of eslint-plugin-disable! 😅

[2020-05-05 00:28] gcmarques commented on #13189
@mdjermanovic I see, it makes sense. I agree with the statement below:

 What name do you suggest?

[2020-05-05 03:39] #13124 closed

[2020-05-05 03:39] #13071 closed

[2020-05-05 08:33] g-plane commented on #13259
@anikethsaha Thanks for figuring out that!

@137717unity Closing since it's not a valid issue. You can ask questions at [Gitter](https://gitter.im/eslint/eslint).

[2020-05-05 08:33] #13259 closed

[2020-05-05 10:51] hamboomger opened #13261 "Change no-use-before-define default behaviour for functions"
**What rule do you want to change?**
no-use-before-define
**Does this change cause the rule to produce more or fewer warnings?**
This change will cause fewer amount of warnings
**How will the change be implemented? (New option, new default behavior, etc.)?**
New default behaviour - disable the `no-use-before-define` for functions by default, because it seems like there is no reason to have it enab

[2020-05-05 10:55] alejandroclaro commented on #13244
Hi @anikethsaha,

It is not very elegant, but it could work. However, there are still some problems with this:

1. We have many packages in a monorepo. We manage the linter configuration exporting the configuration from a package with preset configurations for the building and analysis tools. One thing we don't want to do is to write the invocation of eslint with the formatter argument in every pl

[2020-05-05 11:56] anikethsaha commented on #13260
I think this is because ` no-fallthrough` was never reported for `case 'basic':` because it has a return statement at the end and this rule does not reports for that.

[refer this](https://eslint.org/docs/rules/no-fallthrough#when-not-to-use-it)

[2020-05-05 12:07] backbone87 commented on #13260
but when i remove the `// eslint-disable-next-line no-fallthrough` the rule does report an error (cli and via vscode), so the rule clearly triggers on that case

[2020-05-05 12:14] anikethsaha commented on #13261
Thanks for the issue.

**IMO**, In this above example, currently there is no way to tell which function is private or which one is not. also, access specifier is available only for classes (as methods )  and also the [proposal is still in Stage 3](https://github.com/tc39/proposal-private-methods) and eslint doesn't support stage-3 concepts in core rules.

Umm, I don't think I can agree in this, In

[2020-05-05 12:23] anikethsaha commented on #13260
this is because of the case `Credentials`. the error is in `Credentials` so you need to use `no-fallthrough` in that case instead of in `basic`. the `Basic` case is working as expected and is lint-free so when you are using disable comment, it reports because it was never reported.

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiZnVuY3Rpb24gZm9vICgpe1xuXG5cbnN3aXRjaChkKXtcblxuY2FzZSAnQ3JlZGVudGlhbHMnO

[2020-05-05 12:28] hamboomger commented on #13261
I think any exported function can be considered public and every other function can be considered private in scope of a file, I was not talking about ES6 classes, but rather about functions in scope of a file (bad terminology from my side, maybe)

But why should we avoid functions declarations after their usage? Is it considered a bad practice? It's safe to use, because function declarations are h

[2020-05-05 12:38] anikethsaha commented on #13261
it's good for code readability.  also, the hoisting is not true for anonymous  (`FunctionExpression`) functions.

they hoist the name instead of assignment (def).

[Refer this](https://github.com/airbnb/javascript#hoisting--anon-expressions)

[2020-05-05 15:11] yeonjuan commented on #13260
Ht @backbone87  :) thanks for the reporting 😀

I think there is a conflict between **no-fallthrough**'s default [commentPattern](https://eslint.org/docs/rules/no-fallthrough#commentpattern) and the eslint directives.

The **no-fallthrough** use default commentPattern -`/falls?\s?through/i`.
And it seems **no-fallthrough**  treats the directive(`// eslint-disable-next-line no-fallthrough`) as a com

[2020-05-05 15:18] anikethsaha commented on #13260
ummm....yes, that can be conflicting, I suppose we can change the default pattern to this

`^[\s]*falls?\s?through`

[2020-05-05 16:39] backbone87 commented on #13260
@yeonjuan that makes sense

however i wonder why the rule does provide its own way to "skip" it and does not rely on `// eslint-disable` comments. i know some probably think using disable directives is evil, but imho its the exact same effect. usually i expect a comment why rule was skipped and its easier to validate that all disable directives have proper comments

[2020-05-05 16:43] 185driver opened #13262 "Add `multiline-return` STATEMENT_TYPE to padding-line-between-statements rule"
**What rule do you want to change?**
`padding-line-between-statements`
Specifically, add a `multiline-return` STATEMENT_TYPE to it.

**Does this change cause the rule to produce more or fewer warnings?**
more

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option.

**Please provide some example code that this change will affect:**

[code]

**What does the rul

[2020-05-05 16:56] hamboomger commented on #13261
@anikethsaha anonymous functions are considered as variables by this ESLint rule, and I'm proposing to disable the rule for functions only - I fully agree that you should not use anonymous functions before declaration. So even if you disable the `no-use-before-define` rule for functions as I propose, ESLint will still throw an error if you try to use anonymous functions in such way

[2020-05-05 17:02] anikethsaha commented on #13261
I would suggest to use `/*eslint no-use-before-define: ["error", { "functions": false }]*/` for this.

lets see what others think 👍

[2020-05-05 17:58] aladdin-add commented on #13221
it has been accepted in https://github.com/not-an-aardvark/eslint-plugin-eslint-plugin/issues/57

PRs are welcome! 😄

[2020-05-05 18:26] kaicataldo commented on #13233
@aladdin-add Can you explain why this is marked as accepted?

[2020-05-05 18:34] aladdin-add commented on #13233
it is as you suggested in https://github.com/eslint/eslint/issues/13233#issuecomment-620731808 ?

or we need 3+ 👍 from the team?

[2020-05-05 18:42] kaicataldo commented on #13233
Yeah, I don't think we should bypass our standard approval process. I'd like for other members of the team to have the chance to give their input.

[2020-05-05 18:43] kaicataldo commented on #13233
I'm championing this, but for the sake of making it easier to understand where we stand, can supporting team members please put :+1:s on the [corresponding PR](https://github.com/eslint/eslint/pull/13235) rather than this issue?

[2020-05-05 21:32] justin13888 opened #13263 "ESLint complains about unused variable when variable of it is used to define Typescript parameter type"
**Tell us about your environment**

* **ESLint Version:** 6.8.0
* **Node Version:** 12.16.3
* **npm Version:** 6.14.5

**What parser (default, Babel-ESLint, etc.) are you using?**
@typescript-eslint/parser
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as t

[2020-05-06 05:30] anikethsaha commented on #13263
You need to extend [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#usage) rules if you are using it for typescript.
for `no-unused-vars`, use [this rule](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md) and [`no-unused-vars-experimental`](https://github.com/typescrip

[2020-05-06 05:41] mysticatea commented on #13237
I'm closing this issue as a duplicate of #12642.

New syntax support needs time because we need to work on upstream that there are many stakeholders. Please check https://github.com/eslint/eslint/pull/13196 for progress.

[2020-05-06 05:41] #13237 closed

[2020-05-06 05:43] anikethsaha commented on #13262
[code]

is considered as object, so if it is to be included in `multiline-block-like`, then this code will throw an error as well.

[code]

IMO, the purpose of the rule is to pad the code in order to group similar kinds of tokens.

Let's hear from others, as I might be missing something.

[2020-05-06 06:07] mdjermanovic commented on #13261
It isn't always safe. For example, this would throw on `f()`:

[code]

I'd personally expect from this rule to enforce "no use before define" on everything by default, which is the actual behavior.

[2020-05-06 14:24] markjackson02 opened #13264 "Inline comment option to warn instead of disable"
**The version of ESLint you are using.**
6.8.0

**The problem you want to solve.**
I have reviewed an eslint error and decided it should be a warning. Currently I do not see a way to override a line to set it to warning at the line level. It looks like currently the only options are either 1) override at the config level / file level, or 2) disable the rule completely on the line using `// eslint-

[2020-05-06 14:40] 185driver commented on #13262
@anikethsaha I agree. What I'm proposing above misses the mark and shouldn't be done. On further reflection, I think the feature request I intended could more clearly be described as the addition of a `multiline-return` `STATEMENT_TYPE` to the `padding-line-between-statements`rule:
[code]
This was my actual intent. I'm wondering if I should a) close this and open a new issue, b) edit this issue to

[2020-05-06 15:08] justin13888 commented on #13263
Thanks. Really hope they implement the work around soon.

[2020-05-06 15:08] #13263 closed

[2020-05-06 16:18] anikethsaha commented on #13263
eslint supports typescript through `typescript-eslint` project. So I guess it is expected behavior.

[2020-05-06 16:24] anikethsaha commented on #13262
if `multiline-return` is concerned, I think it can be doable.

I think you can edit this issue with a detailed approach.

[2020-05-06 16:35] zoujian3820 opened #13265 "Error in running lintfix locally"
npm run lintfix

eslint --fix --ext .js,.vue --ignore-path .gitignore .

Oops! Something went wrong! :(

ESLint: 6.8.0.

ESLint couldn't find the config "prettier" to extend from. Please check that the name of the config is correct.

The config "prettier" was referenced from the config file in "E:\study\kwdoctor\node_modules\eslint-plugin-prettier\eslint-plugin
-prettier.js".

[2020-05-06 17:12] grosch opened #13266 "Ignore "used before defined" with forwardRef"
**What rule do you want to change?**

@typescript-eslint/no-use-before-define

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

Ideally default behavior, but an option is an option :)

**Please provide some example code that this change will affect:**

[code]

**What does the rule curre

[2020-05-06 21:03] 185driver commented on #13262
Edited the issue to match my intent. Thank you for the feedback.

[2020-05-06 22:46] justin13888 commented on #13263
The code you mentioned isn't automatically generated when using `eslint --init`. So others may easily face this issue as well in the future.

[2020-05-07 02:58] g-plane commented on #13266
@grosch Hello, this rule isn't in ESLint core. You can create issue at [here](https://github.com/typescript-eslint/typescript-eslint/issues).

[2020-05-07 03:39] #12968 closed

[2020-05-07 05:05] anikethsaha commented on #13264
I think this needs a [RFC](https://github.com/eslint/rfcs) as it belongs to the core 🤔

[2020-05-07 14:09] anikethsaha opened #13269 "[New option] shorthand first for sort-keys"
**What rule do you want to change?**
`sort-keys`

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option. default false

**Please provide some example code that this change will affect:**
New options

[code]

[code]

[code]

Mainly when `shortHand` options will be `true`, all keys wil

[2020-05-07 16:48] #13266 closed

[2020-05-07 21:19] kaicataldo commented on #13264
I'm not sure I understand why you would want to do this - can you explain what problem this solves? We would also need to think about the API, because the relationship between `eslint-enable` and `eslint-warn` is not very clear. Also, if someone wanted to enable both rules as errors and rules as warnings, do they have to use two different types of directive comments?

Agreed that this should go th

[2020-05-08 00:02] markjackson02 commented on #13264
@anikethsaha Thanks. I will plan on opening an RFC. I'll leave this open for conversation until I open the RFC.

@kaicataldo As an example of when I would use this: ESLint generates an error that is normally a quick fix, but the code is complex and I don't want to tackle refactoring it immediately. I don't want ESLint to generate an error for this line and therefore fail CI builds, nor do I want t

[2020-05-08 03:39] #12972 closed

[2020-05-08 04:36] mdjermanovic commented on #12874
Reopening since we have a PR for this issue.

[2020-05-08 04:38] mdjermanovic commented on #13263
This should be fixed with #13235

[2020-05-08 18:36] brandon-leapyear opened #13272 "[require-await] Don't trigger when throwing errors"
**What rule do you want to change?**
`require-await`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
Ideally, new default behavior, but it could be implemented as an option

**Please provide some example code that this change will affect:**

The following functions are differen

[2020-05-08 18:54] davidbwaters opened #13273 "[Suggestion] Allow paths to configs in 'package.json' key"
Hi, when adding a config using the package.json eslintConfig key, it only allows objects.  It would be nice to have it try to resolve a path when it gets a string value.  It would keep the file cleaner and look consistent other popular project's conventions.

[2020-05-08 18:58] anikethsaha commented on #13273
Can you share a bit more about the structure and your eslint setup.

[2020-05-08 19:22] kaicataldo commented on #13224
ESLint v7.0.0 has been released! I ran into an issue in releasing `eslint-release` that I resolved [here](https://github.com/eslint/eslint-release/pull/38), but other than that the release went off without a hitch. Thanks to @btmills for adding the post-prerelease changelogs feature. You saved me a lot of manual work :)

Now that we are back to regular releases, please only merge semver-patch PRs

[2020-05-08 19:53] anikethsaha commented on #13272
This issue has been [documented in the docs](https://eslint.org/docs/rules/require-await#when-not-to-use-it)

It is recommended to turn off the rule or disable the line.

[2020-05-08 19:57] brandon-leapyear commented on #13272
Thanks!

[2020-05-08 19:57] #13272 closed

[2020-05-09 03:39] #13156 closed

[2020-05-09 03:39] #13123 closed

[2020-05-09 05:20] #13221 closed

[2020-05-09 08:03] yoavain opened #13276 "node/no-process-exit does not work in 7.0.0"
I just followed the migration guide from 6.8 to 7.0:
https://eslint.org/docs/user-guide/migrating-to-7.0.0

I replaced the following rule:
```"no-process-exit": 0```

with this one:
```"node/no-process-exit": 0```

Expected result:
```New rule should behave like the old one in version 6.8```

Result:
```error  Don't use process.exit(); throw an error instead  no-process-exit```

[2020-05-09 08:50] anikethsaha commented on #13276
May be you need to turn off the `no-process-exit` (from eslint) as well cause it doesn't come with `node/recommended`

[2020-05-09 13:51] davidbwaters commented on #13273
Actually, this appears to work with eslint from the command line, but the eslint VSCode extension throws an error when the param is not an object, so maybe I should open an issue there.  ESLint 7.0.0 on Windows, NPM 6.14.4.

[2020-05-09 18:09] kaicataldo commented on #13276
Yes, it looks like you still have `no-process-exit` configured to error.

[2020-05-09 18:55] kinsi55 opened #13278 "Support for different keyword-spacing with optional catch binding syntax"
**What rule do you want to change?**

keyword-spacing

**Does this change cause the rule to produce more or fewer warnings?**

Fewer, depending on other configuration (Never more)

**How will the change be implemented? (New option, new default behavior, etc.)?**

Probably new option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for t

[2020-05-10 01:18] dumbmatter opened #13279 "no-dupe-else-if inappropriately triggering if two conditions are identical in terms of code, but are not deterministic, so it is not true that the second branch will never run"
**Tell us about your environment**

* **ESLint Version:** v7.0.0
* **Node Version:** v14.1.0
* **npm Version:** v6.14.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2020-05-10 03:39] #13141 closed

[2020-05-10 04:16] ljharb commented on #12756
This remains a bug, please reopen.

[2020-05-10 06:26] anikethsaha commented on #13278
Thanks for the issue

currently for `catch` clause, this rule checks spaces around `catch` not around `catch(...)`
so the rule is working as expected . with

`"catch": {"after": false}`

[code]

This behavior is the same for `if`, `for`, and others as well.
this rule doesn't check for any space after `()`, so

you can use this

[code]
It will be consistent spacing around `catch` and for `"catch":

[2020-05-10 06:32] kinsi55 commented on #13278
I'm aware of how the current implementation works, but optional catch binding was ofc not a thing when it was designed. I prefer no space behind most keywords (if, for, catch, ...), however only because of the () section that follows behind it. Before / after the curly braces I want there to be a space - currently the only thing I would be able to do is remove the override for catch like you sugge

[2020-05-10 07:11] anikethsaha commented on #13278
Maybe I am not getting your proposal, can you give some snippet on how you want this to be changed. It would be helpful.

Thanks.

[2020-05-10 07:14] kinsi55 commented on #13278
Maybe something like this:

[code]

With that, both these should not cause an error
[code]

[2020-05-10 07:32] anikethsaha commented on #13278
Thanks for clearing,

though the rule is working as expected cause it checks `catch` not `catch(..)`

I think it can be done behind an option 👍.

also, about the option, `afterNoBinding`, IMO new option should be something like `noBinding : boolean` which when set to true will follow/use the config set for `catch` in order to keep these two consistent. and if `false` , do nothing like the current

[2020-05-10 07:43] anikethsaha commented on #13279
Thanks for the issue,

IMO, eslint doesnt know about whats the operation being done by the function/method. so even if we can have a list of known function which we want to ignore like for `Math.random` as you mentioned, there might be some user-defined function like this

[code]

it would still fail even if we have `Math.random` in ignore list or something like this

[code]

it would still fail,

[2020-05-10 08:30] Mister-Hope opened #13280 "Curly bugs"
**Tell us about your environment**

* **ESLint Version:**
7.0.0
* **Node Version:**
12.16.3
* **npm Version:**
yarn 1.24.4

**What parser (default, Babel-ESLint, etc.) are you using?**
eslint
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2020-05-10 08:33] Mister-Hope commented on #13225
You can have a look at your release page, it can take people an hour time wasted if they are on alpha channel with your team,

Please mark every breaking changes in every version clearly.

[2020-05-10 08:34] Mister-Hope commented on #13225
https://github.com/eslint/eslint/releases/tag/v7.0.0 Look here, emm the other repo's release page is definitly not like this.

[2020-05-10 08:38] anikethsaha commented on #13225
maybe [this](https://eslint.org/docs/user-guide/migrating-to-7.0.0) can be helpful 👍

[2020-05-10 08:47] anikethsaha commented on #13280
Thanks for the issue.

This is the intended behavior as you are using `multi` option for the rule and it allows `{ }` only if it contains more than one statement in them.

so in your code.

[code]

[refer this](https://eslint.org/docs/rules/curly#multi)

[2020-05-10 09:18] mdjermanovic commented on #13280
@Mister-Hope thanks for the bug report!

I can't reproduce this in our [online demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGN1cmx5OiBbXCJlcnJvclwiLCBcIm11bHRpXCJdICovXG5cbiAgZm9yIChjb25zdCBbbGluZUlkLCBsaW5lXSBvZiBsaW5lcy5lbnRyaWVzKCkpXG4gICAgaWYgKHJlZ2V4cCA9PT0gZmFsc2UpIHtcbiAgICAgIGZvciAoY29uc3QgcmVnIG9mIHJlZ2lvblJlZ2V4cHMpXG4gICAgICAgIGlmICh0ZXN0TGluZShsaW5lLCByZWcsIHJlZ2lvbk5hbWUpKSB

[2020-05-10 09:37] Mister-Hope commented on #13280
emm I do have a version 6.8.0 globally installed, I will check jt out after I return home. thanks

[2020-05-10 09:41] Mister-Hope commented on #13225
I know this page, but I open this issue a few days ago. It's not a good experience for me following all the alpha versions.

I think people will be more willing to follow the alpha version and report bugs if the breaking changes are all marked up clearly.

[2020-05-10 09:52] mdjermanovic commented on #13279
@dumbmatter thanks for the bug report!

I think this is a good case for an `eslint-disable-*` comment, as described in the [When Not To Use It](https://eslint.org/docs/rules/no-dupe-else-if#when-not-to-use-it) section.

As for the message, I don't have a strong opinion. It's indeed incorrect in this particular case, but it usually provides useful additional info about the effect of the error in th

[2020-05-10 11:22] avalanche1 commented on #12892
hmm.. I think there was enough activity here to not auto-close

[2020-05-10 20:35] ChayimFriedman2 opened #13281 "Support Specifying Ignore Patterns For consistent-return"
**What rule do you want to change?**
consistent-return

**Does this change cause the rule to produce more or fewer warnings?**
Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option,

**Please provide some example code that this change will affect:**
[code]

**What does the rule currently do for this code?**
When set, this rule warns about inconsistent

[2020-05-11 01:41] #13280 closed

[2020-05-11 03:39] #13168 closed

[2020-05-11 03:39] #13160 closed

[2020-05-11 12:11] yoavain commented on #13276
Thanks!
Rule came from eslint-plugin-node which is still not compatible to ESLint 7.x:
https://github.com/mysticatea/eslint-plugin-node/issues/223

[2020-05-11 12:12] #13276 closed

[2020-05-11 12:47] bartlomiejzuber opened #13283 "Failed to load config "react-app" to extend from."
Hey, after upgrade to v7.0.0 I see those build errors:
![image](https://user-images.githubusercontent.com/9931428/81562436-20ec7900-9395-11ea-9671-0e06931d00ab.png)

**Tell us about your environment**

* **ESLint Version: v7.0.0**
* **Node Version: v13.14.0**
* **npm Version: v13.14.0**
* **react-scripts Version: v3.4.1**

**What parser (default, Babel-ESLint, etc.) are you using?**
The one react-

[2020-05-11 13:06] kushthedude commented on #13130
Hey @nzakas ,
Congrats to ESLint team on getting selected as a mentoring organisation for GSoD. I would like to work on **A new getting started guide** as I have been working ESLint for quite a time now.
I will pick up some issues & will go through docs to see some new documentation issues.

[2020-05-11 13:37] math-alpha commented on #13130
Greetings @nzakas I would like to contribute to Eslint through the GSoD program.
I will like to work on the "Common tasks documentation" project.
Looking forwards for guidance and in the meantime, I will be working on some issues. Thanks

[2020-05-11 17:16] pankajparashar commented on #13130
I have never used ESLint before, but I'm willing to try so that I can offer a beginner perspective on what part of the docs were useful in getting me started with the library and what part needs to be improved.

Off the shelf, before I begin to use any lint-rule library, I have three questions in my mind,

1. How to install the library?
2. How to add/configure new lint rules?
3. How to integrate i

[2020-05-11 18:47] Ajitesh13 commented on #13225
Hello, Is this bug confirmed and open to contributions?

[2020-05-11 20:13] nzakas commented on #13130
Thanks, everyone, for your interest! Please take a moment to read over the [technical writer guidelines](https://developers.google.com/season-of-docs/docs/tech-writer-guide). Right now, we are here to answer any questions you might have. To officially participate, you’ll need to apply as a technical writer to the Season of Docs program (discussed in the above link).

[2020-05-11 22:02] swetankraj commented on #11512
Hey @nzakas  I'd really love to help translating this into Hindi language. Do let me know how to begin.

[2020-05-11 22:04] kaicataldo commented on #13283
To be clear, do you mean as ESLint v6 behaved?

My guess is that you might need to use the new `--resolve-plugins-relative-to` CLI flag since [plugin resolution has changed in v7](https://eslint.org/docs/user-guide/migrating-to-7.0.0#plugin-resolution-has-been-updated).

[2020-05-11 22:11] kaicataldo commented on #11512
@swetankraj We really appreciate you wanting to help out! As @nzakas mentions above, we don't have a system for translations in place at the moment, but we'd love your help once we figure that out.

[2020-05-11 22:14] kaicataldo commented on #11512
For posterity, [here's a post](https://www.webstoemp.com/blog/multilingual-sites-eleventy/) detailing how someone solved this with Eleventy (the static site framework we use for our website).

[2020-05-11 22:18] kaicataldo commented on #13225
@Mister-Hope We do list breaking changes in their own category (see https://eslint.org/blog/2020/01/eslint-v7.0.0-alpha.0-released#breaking-changes, for example), which it sounds like is the ask. If I'm wrong about that, can you clarify what you mean?

[2020-05-11 22:19] kaicataldo commented on #13225
@Ajitesh13 I don't believe there is a bug here, but are always happy to improve our release notes.

[2020-05-11 22:26] kaicataldo commented on #13278
Looks to me like we just missed this when we added support for optional catch binding syntax and that this is actually a bug in the rule. I think that this should be caught by default (i.e. check for a space after the `catch` keyword when there is no binding and after the closing parenthesis when there is one).

That being said, it might be prudent to initially put it behind an option to avoid add

[2020-05-11 22:28] swetankraj commented on #13225
@kaicataldo A suggestion - wouldn't it be nice to format CHANGELOG markdown file (here https://github.com/eslint/eslint/blob/master/CHANGELOG.md) something like this they do in Angular (here https://github.com/angular/angular/blob/master/CHANGELOG.md) decriptive, sections dedicated to releases, bugs and also addressing breaking changes?

[2020-05-11 22:31] kaicataldo commented on #13225
@swetankraj I'm personally definitely not against that! We should already have the logic that creates these changelogs because that's how we format our release notes. For some context, we treat the release notes on the ESLint website (see https://eslint.org/blog/2020/05/eslint-v7.0.0-released, for example) as our official changelog/release notes.

[2020-05-11 22:32] kaicataldo commented on #13156
@yeonjuan Sorry we missed this. Is this still an issue? If so, can you reopen it and assign it to yourself?

[2020-05-11 22:33] swetankraj commented on #11512
@kaicataldo I'll take a look at that. Thank you!

[2020-05-11 22:54] kaicataldo commented on #13147
Apologies for just getting around to following up. I misunderstood what you were reporting. I believe this is because ESLint traverses all the configuration files it finds to build up the list of files it needs to lint before it applies ignore patterns.

This does feel like unexpected behavior from a user standpoint, though, and it would be nice to remove this behavior. Since [`ignorePatterns` in

[2020-05-11 23:06] kaicataldo commented on #13281
How would you design the API for `ignorePattern`?

Also, is there a reason you don't want to follow the rule here (note that the following code was modified to remove a few extra parentheses in the original example, as they are syntax errors)?

[code]
You can see this in action using our [demo](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgYXBwID0gZXhwcmVzcygpO1xuYXBwLmdldCgnLycsIGZ1bmN0aW9uKHJlcSwg

[2020-05-11 23:10] swetankraj commented on #13225
@kaicataldo If ESLint's website is serving the purpose, then we shouldn't be worried. But if someone is landing on github shouldn't the format must stay here similar too ? Or a link to offical changlelog/release notes ? Otherwise would it be hard to append those "well structured" release notes in markdown file from website? Just curious. :D

[2020-05-11 23:13] kaicataldo commented on #13225
I do think it would be an improvement, yes. I’d love to hear opinions from the rest of the team.

[2020-05-11 23:54] swetankraj commented on #13130
@nzakas For the given project list do I need to select one of them or a participant will be handling all the mentioned requirements in the list?

[2020-05-12 00:32] nzakas commented on #13130
To apply, you would select one of the projects in this list and describe your plan for completing it. You can also propose a project not listed that you think would be useful (check out the link in my previous comment for more details).

[2020-05-12 00:59] swetankraj commented on #13130
@nzakas thank you. I'll take a look at the link you provided. I'll take a deep look into mentioned documents and do let you know.

**Here's something I'd like to add:**

1. Spliting up pages into more modular forms. Which results in better structured form.
2. For example, if we take a look at [Prettier Docs](https://prettier.io/docs/en/index.html), the section **About** has been splitted up into *

[2020-05-12 01:50] Mister-Hope commented on #13225
Wow, I did not know that, I believe there are some people like me wound like to watch this repo for release and look at the release page directly

[2020-05-12 01:51] Mister-Hope commented on #13225
That's what I mean, format changelog and release description like this

[2020-05-12 03:39] #13119 closed

[2020-05-12 03:39] #13067 closed

[2020-05-12 05:32] anikethsaha commented on #13281
I do think that even a ignore pattern won't help here much.

I agree this is a typical express like design pattern, I think a custom rule would be best here or turning the rule off as eslint doesn't cover individual frameworks.

[2020-05-12 05:56] aleczratiu opened #13284 "Typescript with eslint: 'property' is missing in props validation eslint(react/prop-types)"
We are using typescript in our project and when I try to access some property from an object, occur an eslint error as in the example below:

**Tell us about your environment**

* **ESLint Version:** 6.8.0
* **React Version:** 16.13.1
* **typescript-eslint/eslint-plugin** 2.21.0
* **typescript-eslint/parser** 2.21.0
* **eslint-plugin-react**: 7.19.0

**What did you do? Please include the actual so

[2020-05-12 06:27] anikethsaha commented on #13284
Thanks for the issue.

I think it is because `eslint-plugin-react/prop-types`  doesn't parse/uses typescript's types.
IMO you can turn off this rule as you are using typescript which does that for you. or you can write proptypes for the component as well.

*not sure though, I might miss something*

[2020-05-12 06:28] anikethsaha commented on #13119
can we open this one ?

[2020-05-12 07:29] Antonius-S commented on #13239
As for me, this manner looks weird and awkward.

[2020-05-12 07:30] bartlomiejzuber commented on #13283
Ahh sorry, yes I meant v6. :)

Thanks for sharing. I found out that the root cause is probably the change of default ignore pattern from `/node_modules/*` to `/**/node_modules/*`. I've checked the location of `eslint-config-react-app` and it's under `node_modules\react-scripts\node_modules` which means it being ignored.

Problem can be solved via:
[code]
But I think it's far from ideal.

Due to th

[2020-05-12 08:40] cambiph commented on #13187
Bump

[2020-05-12 09:12] jpike88 opened #13286 "@types/eslint is out of date"
https://www.npmjs.com/package/@types/eslint

Version 7 is not on @types yet

[2020-05-12 11:26] aladdin-add opened #13287 "devdeps: leche has been deprecated"
**The version of ESLint you are using.**
v7.0.0(latest)

**The problem you want to solve.**
https://github.com/box/leche#deprecated

**Your take on the correct solution to problem.**
do we want to switch to jest, or just find an alternative?

**Are you willing to submit a pull request to implement this change?**
y

[2020-05-12 11:30] aladdin-add commented on #13286
Thanks for the report! however, the typings was not maintained by eslint team.

[2020-05-12 12:19] LeeCheneler commented on #13286
Found this when updating https://ts-engine.dev/ to use ESLint 7 too.

Put together just the types that we need and stopped using @types/eslint.

If someone wants to complete them and submit a PR to DefinitelyTyped feel free

[code]

[2020-05-12 13:33] robinloeffel opened #13288 "Rule "array-bracket-spacing" throwing with conditional objects in arrays"
**Tell us about your environment**

* **ESLint Version:** 7.0.0
* **Node Version:** 14.2.0
* **npm Version:** 6.14.4
* **Custom config:** https://github.com/robinloeffel/eslint-config-sweet
* **Reproduction:** https://github.com/robinloeffel/cosha/blob/master/rollup.config.js

**What parser (default, Babel-ESLint, etc.) are you using?**
`default`

**Please show your full configuration:**

<details

[2020-05-12 15:19] nzakas commented on #13130
Thanks for the ideas. WRT to video: we’ve found this difficult because they get out of date quickly and we don’t have the cycles to keep making new ones.

[2020-05-12 15:31] suyashsingh234 commented on #13130
Hello @nzakas
I am Suyash Singh. I would like to participate in GSOD 2020 and would like to work on the project idea "A new getting started guide". I have written on Clang Static Analyzer and LLVM sanitizer before.
What is the correct gitter/channel to communicate regarding my proposal?

[2020-05-12 16:52] nzakas commented on #13287
Switching to Jest doesn't make sense just to update this small dependency. I'm not sure we need to change anything if our tests are still working, but if we do want to change something, I'd just keep it local to the tests using the dependency.

[2020-05-12 16:54] nzakas commented on #13130
If you have general questions, you can post them on this issue so we can share the answers with everyone. You can also use the [mailing list](https://groups.google.com/eslint) to send in questions that you think might be more specific to your proposal.

[2020-05-12 21:19] kirill-konshin commented on #3458
I've got a question regarding 7.0.0 release notes: https://eslint.org/blog/2020/02/whats-coming-in-eslint-7.0.0#plugins-loaded-from-config-file-directory

This is a confusing statement. Seems that it means just the root config, not the ones that it extends.

[2020-05-12 21:57] jescalan commented on #13225
Just want to pitch in here and agree with the sentiment - I was upgrading to `7.0.0` and headed over to the releases to see a changelog there in a nightmarish format with all commits just listed in order. Only found the migration link in the blog in this issue.

I feel like it would be more useful even to remove the commit log from the github releases and replace this with a link to the blog post

[2020-05-13 03:01] UthpalaPitawela commented on #13130
Hello @nzakas
I'm Uthpala Pitawela. I would like to participate to Google Season of Docs 2020. I have gone through the project ideas you have mentioned and would like to contribute to "Reorganize/rewrite configuration documentation".  I'll come up with some suggestions and ideas for the existing documentation and currently working on them. Thank you

[2020-05-13 03:39] #13132 closed

[2020-05-13 05:47] aleczratiu commented on #13284
@anikethsaha yeah, but we also have a lot of old written component js/jsx where should work with `prop-types` check because only recently we migrate to typescript.

Also I still get this error just in that function scope, if I moved that destructuring `color.left` outside of that scope all seems to be working well, very strange.

[2020-05-13 06:08] anikethsaha commented on #13284
the code you have given seems fine, the rule is reporting because of no proptypes mentioned.
IMO, you can turn off the rule as I mentioned above cause of TS.

This might be because proptypes are for components, outside of function scope is non react component space, so no error from the rule.

even if this is an issue (which I don't think it is), you can open an issue in [eslint-plugin-react](http

[2020-05-13 08:40] anikethsaha commented on #13288
although I am not sure about this (didn't try it out. )

I think it is because of the logical operator (` !(watch || development) && {`) as it doesn't come under any of the options (`singleValue`, `objectsInArrays`, `arraysInArrays`)

[2020-05-13 09:36] robinloeffel commented on #13288
Yes, I suspect this is the culprit, as well.

[2020-05-13 10:55] edg2s opened #13289 "Settings object can't have keys that conflict with Object.prototype"
**Tell us about your environment**

* **ESLint Version:** 7.0.0, 6.8.0, probably all others
* **Node Version:** any
* **npm Version:** any

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you expect to happen?**
These settings are available to the plugin.

**What actua

[2020-05-13 11:54] kaicataldo commented on #13130
Thanks to everyone for the interest. Please feel free to ping me in these discussions going forward, as I’ll be a dedicated mentor for the program this summer. I’ll also respond to questions sent to our mailing list. Excited to make our docs better!

[2020-05-13 12:14] kaicataldo commented on #13287
Agreed with @nzakas. We only use `leche` in a [handful of places](https://github.com/eslint/eslint/search?q=leche&unscoped_q=leche), and it looks like we use it for two purposes:

1. Creating mocks
2. Running the same test with multiple inputs/outputs

We should be able to replace it by:

1. Use Sinon for mocking (which we already do in the majority of tests)
2. Use native JS syntax

Example (base

[2020-05-13 12:47] kaicataldo opened #13291 "ESLint v7.0.0 Release Postmortem"
# ESLint v7.0.0 Release Postmortem

@eslint/eslint-team Hi everyone!

Thank you for all the hard work on ESLint v7.0.0! Now that we have completed the release process, I thought it would be beneficial to have a postmortem to discuss things we thought went well and to figure out where we can improve for future major releases.

Some initial thoughts from me:

## Wins

1. Everyone on the team pitched

[2020-05-13 12:49] kaicataldo commented on #13224
I don’t see any issues that would necessitate a patch release, so I think we’re good to go here. 🎉 Please feel free to begin merging semver-minor PRs once again.

[2020-05-13 12:49] #13224 closed

[2020-05-13 12:49] eslint[bot] opened #13292 "Scheduled release for May 22nd, 2020"
The scheduled release on Friday, May 22nd, 2020 is assigned to:

* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](https://eslint

[2020-05-13 13:07] bandantonio commented on #13130
Hello @kaicataldo
I would also like to participate in GSoD 2020 and work on the "A new getting started guide" project.
Do I understand correctly that the first step is to join [this discussion](https://groups.google.com/forum/#!forum/eslint) and share my thoughts on possible improvements?

[2020-05-13 13:19] kaicataldo commented on #13130
@bandantonio This part of the process is intended for applicants to speak with participating projects so that they can learn about the organization and the proposed projects and decide which projects to apply for in June.

I’m happy to discuss your ideas over the the mailing list!

[2020-05-13 13:23] anikethsaha commented on #13289
I think `Object.prototype.hasOwnProperty` can be an easy win here.

👍

[2020-05-13 14:41] SuperOleg39 opened #13293 "SourceCode not optimize for RuleTester changes"
**Tell us about your environment**

* **ESLint Version: 7**

**What parser (default, Babel-ESLint, etc.) are you using?**

1. babel-eslint
2. @typescript-eslint/parser

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

We using RuleTester for custom rule, and have this code inside rule:

[code]

After updating to Esli

[2020-05-13 15:07] nzakas commented on #13291
Can someone put together a rough timeline of when prereleases started and then why they were started? I wasn’t actively involved during that period of time so a little context would be helpful.

One problem is that the feature set wasn’t locked down until a couple months of prereleases were done (again, having a timeline would be beneficial for this analysis).

Another problem I noticed is that th

[2020-05-13 15:18] SuperOleg39 commented on #13293
also, SourceCode unit tests failed in my branch with fix, and i see a difference between start, end and range

https://github.com/eslint/eslint/blob/master/lib/source-code/source-code.js#L352

[code]

[2020-05-13 15:19] kaelzhang opened #13294 "Upgrade ignore to 5.x?"
**The version of ESLint you are using.**

7.0.0

**The problem you want to solve.**

The latest eslint still uses `ignore@^4.0.6`, but the latest version of `ignore@5.1.3` solves many known issues.
- .gitignore(.eslintignore) rules should always check paths that are relative to some directory which is usually the base dir of .gitignore file or the root directory of a repo. ignore <= 5 actually DON

[2020-05-13 15:23] pcarn commented on #9259
@coderaiser It doesn't seem to work for function params:

[code]

[2020-05-13 15:50] Vovch commented on #13255
Hi, everyone!

Stumbled upon this issue in other person's code yesterday.

As a solution I might propose adding the next code:

[code]

This way it is possible to also give an understandable error in some cases when the user mistakenly prints `\` sign. E.g.:
`Error: 'extends' requires a configuration name for 'plugin:prettier\recommended', provided after '/' sign.`

instead of:
`ecommende". becaus

[2020-05-13 16:07] SuperOleg39 commented on #13293
Difference between range and start, end - it is adaptation to [Esprima behaviour](https://github.com/eslint/espree/blob/master/lib/espree.js#L156)

[2020-05-13 16:32] Shinigami92 opened #13295 "[New option] lines-between-class-members allow empty lines between properties but not member functions"
**What rule do you want to change?**

lines-between-class-members

**Does this change cause the rule to produce more or fewer warnings?**

depends

**How will the change be implemented? (New option, new default behavior, etc.)?**

default behavior as is

new additional option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this cod

[2020-05-13 16:33] Shinigami92 commented on #13295
https://github.com/typescript-eslint/typescript-eslint/issues/977#issuecomment-628082706

[2020-05-13 16:39] anikethsaha commented on #13295
Thanks for the issue

class fields are still in [stage 3](https://github.com/tc39/proposal-class-fields) and eslint supports proposals which are in stage 4

[2020-05-13 16:43] Shinigami92 commented on #13295
Oh ok, good to now.
`typescript-eslint/typescript-eslint` told me I should create this here so it's more a TypeScript kind of problem on my side.

[2020-05-13 16:49] anikethsaha commented on #13295
IMO, we should wait until the proposal lands or it can be done through a custom rule as I think [babel-eslint](https://github.com/babel/babel-eslint) might support the parsing of fields.

[2020-05-13 18:18] coderaiser commented on #9259
@pcarn yep, for this case it doesn't work, and will not. I don't think that it's very readable. But you can always use code like:

[code]
And this case will work as expected :).

[2020-05-13 20:39] kaicataldo commented on #13293
As mentioned [here](https://github.com/eslint/eslint/pull/13296#pullrequestreview-411278341), `SourceCode#getComments()` is deprecated and we recommend using  `SourceCode#getCommentsBefore()`, `SourceCode#getCommentsAfter()`, and `SourceCode#getCommentsInside()` instead.

[2020-05-13 21:30] mysticatea commented on #13255
Thank you for your report.

But it's not a bug. The `plugin:` specifier needs a plugin name and a config name: `plugin:foo/bar`. Here, the `foo` is a plugin name, it means loading `eslint-plugin-foo`, and the `bar` is a config name, it means using the `require("eslint-plugin-foo").configs.foo` config object.

[2020-05-13 22:33] mysticatea commented on #13283
Ignore patterns affect only lint targets, so it's not related to config/plugin loading.

---

Would you provide concrete repro steps?
I'd like to debug it, but I'm not sure how to reproduce it.

I tried:

[code]

but it works well (it should use `"extends": "react-app"` setting).

[2020-05-14 04:34] mdjermanovic commented on #13295
We should absolutely discuss this if and when this syntax reaches stage 4.

In the meantime, the existing [`"exceptAfterSingleLine": true`](https://eslint.org/docs/rules/lines-between-class-members#options) option might be useful.

[2020-05-14 04:35] JonathonChen opened #13297 "Quick Fix: fix all auto-fixable problems in vscode will remove unused function parameter"
before quick fix:
[code]
using fix all auto-fixable problems
![image](https://user-images.githubusercontent.com/20022758/81893863-20482280-95e1-11ea-8ca1-b025d6c47e12.png)
![image](https://user-images.githubusercontent.com/20022758/81893885-2f2ed500-95e1-11ea-9902-7243e7b70ecd.png)

after quick fix:

[code]
problem: function parameters order changed  causing function doesn't effect what it should

[2020-05-14 05:36] mdjermanovic commented on #13288
@robinloeffel thanks for the issue!

Looks like this works as intended, per the documentation:

On the other hand, there is a sort of inconsistency with a similar rule, `object-curly-spacing`:

[code]

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgb2JqZWN0LWN1cmx5LXNwYWNpbmc6IFtcImVycm9yXCIsIFwiYWx3YXlzXCIsIHsgXCJvYmplY3RzSW5PYmplY3RzXCI6IGZhbHNlIH1dKi9cbi8qZXNsaW50IGFycmF5LWJyYWNrZXQtc3B

[2020-05-14 05:37] anikethsaha commented on #13297
This is an expected behavior.
use [after-used for args](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tdW51c2VkLXZhcnM6IFtcImVycm9yXCIsIHsgXCJhcmdzXCI6IFwiYWZ0ZXItdXNlZFwiIH1dKi9cbmZ1bmN0aW9uICByZUVkaXRJbnB1dE9uY2hhbmdlKHJvdywgZmllbGRzLCBpbmRleCwgdmFsdWUpIHtcbiAgICByb3cubWF0Y2hBbW91bnQgPSB2YWx1ZTtcbiAgICB0aGlzLm1vbmV5SW5wdXRbaW5kZXhdICYmIHRoaXMubW9uZXlJbnB1dFtpbmRleF0udmFsaWRhdGUoKTtcbiAgICB0

[2020-05-14 07:21] AnjaliSharma1234 commented on #13130
Hello everyone!
I am keenly interested in contributing to Google Season of Docs 2020 under ESLint.
@kaicataldo @nzakas How about proposing something new or if I have to discuss my proposal with the organization personally? How would I proceed in such a scenario?

[2020-05-14 07:31] SuperOleg39 commented on #13293
`SouceCode#getComments()` is [deprecated](https://eslint.org/docs/developer-guide/working-with-rules#deprecated), so i just add `@deprecated` comment and close this issue

[2020-05-14 09:26] ldrick commented on #13283
I found the problem, I hope. And I confirm @bartlomiejzuber seeing `eslint-config-react-app` being under `node_modules\react-scripts\node_modules`.

This happens only if you use yarn for setup. npm brings `eslint-config-react-app` directly under node_modules.

I did:

[code]

[2020-05-14 09:31] mdjermanovic commented on #13165
Reopening because this looks like a bug in the rule's schema.

[2020-05-14 09:34] mdjermanovic commented on #12892
Reopening since this is an accepted issue, we just need to figure out the design.

[2020-05-14 09:52] mdjermanovic commented on #13189
I'm not sure what would be a good name for this option.

Alternatively, it could be an option for itself (not an option that modifies the other option), like `"allowSingleLine"`.

[2020-05-14 10:10] bartlomiejzuber commented on #13283
Yes, that's wrong path.

That's right, just tried and indeed problem exists when using `yarn` instead of `npm`. Nice catch @ldrick . 👍

[2020-05-14 10:11] mdjermanovic commented on #12829
@krainboltgreene this enhancement doesn't have [consensus](https://eslint.org/docs/maintainer-guide/issues#accepting-issues) from the team yet.

If and when this issue gets accepted, a PR will be welcome :)

[2020-05-14 11:25] mdjermanovic commented on #11843
@mysticatea looks good! But, it seems like a different approach (`minimatch` vs `ignore`) and I'm not sure is it compatible with the actual configuration for this rule?

In particular, if we allow everything to be defined in the same way, how would we distinguish between what represents a path and what represents an `ignore` pattern?

For example, we currently treat this as a "path", and compare i

[2020-05-14 12:55] mysticatea commented on #11843
Yes, it's a different approach -- similar to the existing `name` version but just can use glob.

[code]

[code]

[code]

[code]

[code]

That's straightforward (a simple list of the pattern/message pairs) and flexible.
The `node/no-restricted-import` was a new rule, so I didn't mind compatibility. That's what I wanted to use.

If we want to port that, it will bring one more variation into the `no-

[2020-05-14 14:13] darksabrefr commented on #12865
Technically, the return type of an `async function` is always a `Promise` and never `undefined`, the rule documentation is false on this point. Moreover, in `async function`, the `return` statement does not mean you are returning a value. The two significations are:
- resolve (with or without a value) the `Promise` the `async function` returns
- delegate the `Promise` resolution to another `Promis

[2020-05-14 15:45] krainboltgreene commented on #12829
Ahhh, that makes sense thanks!

[2020-05-14 18:17] kaicataldo commented on #13294
Upgrading to latest to take advantage of the things you listed above sounds great. Looking at the [migration docs](https://github.com/kaelzhang/node-ignore#upgrade-4x---5x), is it true that we could avoid it being a breaking change for our users by filtering out the invalid paths?

[2020-05-14 18:41] kaicataldo commented on #13020
@G-Rath I support this change, but it doesn't appear there enough support from the team as a whole this time around. Feel free to create a new issue with a proposal if you'd still like to advocate for this (the PR can serve as the proposal as well, if you don't mind filling out the relevant template.

[2020-05-14 18:42] kaicataldo commented on #12850
@nickharris v7.0.0 was released last Friday!

[2020-05-14 18:43] kaicataldo commented on #12248
@eslint/eslint-team Would anyone else like to support this proposal? If not, I think it's unfortunately time to close this issue.

[2020-05-14 18:50] jsejcksn commented on #12248
@kaicataldo In this context, what is the meaning of “support this proposal”?

[2020-05-14 18:52] kaicataldo commented on #12453
I don't think we do, no. My concern is mostly with 3rd party plugins, since there are no guarantees that they won't conflict with core rules or each other. As an example, `eslint-plugin-babel` and `@typescript-eslint/plugin` both contain rules that are intended to replace core rules (you want to turn core rules off and the replacement rule on) to handle non-standard syntax. This means that this fe

[2020-05-14 18:54] kaicataldo commented on #12248
Our definition of reaching consensus is outlined [here](https://eslint.org/docs/maintainer-guide/issues#accepting-issues). In this case, we have a champion and one supporter from the team. We need two more supports from the team before we can accept this proposal.

[2020-05-14 18:55] kaicataldo commented on #12995
@mdjermanovic Are you still championing this? If so, I think we need to try to reach consensus on its approval. It's been open for quite a while now.

[2020-05-14 18:58] kaicataldo commented on #13094
@eslint/eslint-team Looks like we just need one more :+1: from a team member.

[2020-05-14 19:00] kaicataldo commented on #13040
@hafezdivandari Sorry for the delay here. ESLint is designed in a way that allows anyone to make a custom rule to enforce whatever they want! My feeling in this case is that this would be a better fit for a 3rd party custom rule than a change in core. You can read more about how to write a custom rule [here](https://eslint.org/docs/developer-guide/working-with-plugins).

[2020-05-14 19:03] #13233 closed

[2020-05-14 19:07] kaicataldo commented on #13264
Thanks for the explanation. This seems like a valid use-case to me, though I think we'll want to really make sure the API is easy to use and clear. We already have a lot of directives, and it's already difficult for users to keep track of all of them.

[2020-05-14 19:09] kaicataldo commented on #13225
Why not both? :smile:

[2020-05-14 19:16] jsejcksn commented on #12248
@kaicataldo Thanks for the link.

One thing I don’t see in the content is this: how are team members made aware of proposals which still need consensus? Are they notified somehow? Or might they just miss certain proposals if they don’t search for them?

[2020-05-14 19:20] kaicataldo commented on #12248
It's on the champion to try to seek consensus. We have a very small team made up mostly of volunteers who work on the project in their free time, and this process is intended to allow us to prioritize proposals that the team deems highest priority. This does mean that many proposals aren't accepted (even if some team members support them), but it's what allows us to keep the project alive.

[2020-05-14 19:20] nickharris commented on #12850
yup already using it :) thank you!

[2020-05-14 19:22] kaicataldo commented on #13130
@AnjaliSharma1234 Feel free to ask us questions. The program will require a formal application in June, and this time is intended for those who are interested in participating to discuss with maintainers and see what projects they would like to apply to.

[2020-05-14 19:35] ani-sha commented on #13130
Hey, @nzakas @kaicataldo. I would like to take part in Google Season of Docs 2020. Looking forward to getting started :)

[2020-05-14 20:06] G-Rath commented on #13020
@kaicataldo sure thing 🙂

[2020-05-14 20:15] G-Rath opened #13299 "[no-void]: allow void arrow functions"
**What rule do you want to change?**
`no-void`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
Option - could also be implemented as standard behaviour depending on interpretation of the rules description.

**Please provide some example code that this change will affect:**

[code]

**Wh

[2020-05-14 20:48] AnneCHPostma opened #13300 "ESLint 7.0.0 showing v.6.8.0 with the 'eslint -v' command"
**Tell us about your environment**

Node version: v13.11.0
npm version: v6.13.7
Local ESLint version: Not found
Global ESLint version: v6.8.0 (Currently used)

**What parser (default, Babel-ESLint, etc.) are you using?**
n/a

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.*

[2020-05-14 20:57] ljharb commented on #13300
What does `which eslint` say?

[2020-05-14 22:51] CareLuLu-Gabriel commented on #13189
`allowSingleLine: true` would allow if both brackets and properties are on the same line and not affect any other behavior. Is that what you mean?

[2020-05-15 00:33] nzakas commented on #13039
I think at this point it makes sense to make the move to shut down our Gitter and move everything to Discord. One big thing is we will need to update our docs to mention Discord everywhere Gitter is currently mentioned.

[2020-05-15 00:43] mysticatea commented on #13294
Currently, we allow relative paths to the parent (`../*`), so I think we need breaking changes to upgrade.

[2020-05-15 00:53] mysticatea commented on #13283
[code]

That makes the error is the correct behavior.
Because the `app/package.json` doesn't have `eslint-config-react-app`, it means `require("eslint-config-react-app")` go to fail, but your `.eslintrc.js` depends on `eslint-config-react-app`.

In fact, the popular package managers have "dedupe" behavior, and the side-effect of the "dedupe" sometimes changed `require(foo)` for indirect dependenci

[2020-05-15 00:58] mysticatea commented on #12995
It looks like a bug to me. Autofix should not remove comments accidentally.

[2020-05-15 02:17] kaelzhang commented on #13294
@mysticatea Those relative paths to the parent (../*) is defined in .eslintignore file or command-line arguments

[2020-05-15 02:18] kaelzhang commented on #13294
I guess it is possible to make a smooth upgrade.

[2020-05-15 07:21] JonathonChen commented on #13297
Thx, but my expectation is fixing all fixable problems without causing bugs, especially when I got a old project and want to add eslint.
I can add this rule in the eslintrc, but I also want new code can use this rule.

[2020-05-15 07:35] anikethsaha commented on #13297
can you share your eslint config. cause this is a [valid code with default rule's config](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tdW51c2VkLXZhcnM6IFtcImVycm9yXCJdKi9cbiAgZnVuY3Rpb24gcmVFZGl0SW5wdXRPbmNoYW5nZShyb3csIGZpZWxkcywgaW5kZXgsIHZhbHVlKSB7XG4gICAgcm93Lm1hdGNoQW1vdW50ID0gdmFsdWU7XG4gICAgdGhpcy5tb25leUlucHV0W2luZGV4XSAmJiB0aGlzLm1vbmV5SW5wdXRbaW5kZXhdLnZhbGlkYXRlKCk7XG4gICAgdGhpcy

[2020-05-15 07:36] ldrick commented on #13283
Thanks @mysticatea , so maybe it is better to ask in create react app project to add this to their docs https://create-react-app.dev/docs/setting-up-your-editor/#experimental-extending-the-eslint-config

[2020-05-15 09:49] JonathonChen commented on #13297
I tried again just now and it didn't happen again...so weird...

[2020-05-15 09:49] #13297 closed

[2020-05-15 09:57] AnneCHPostma commented on #13300
I put it in the header and in the message .. how can this not be clear?
ESLint 7.0.0 showing v.6.8.0

[2020-05-15 10:03] AnneCHPostma commented on #13300
Never mind, it shows the proper version on a clean install on my laptop, so it is probably a glitch (local issue) on my Mac.

[2020-05-15 10:03] #13300 closed

[2020-05-15 10:06] StringEpsilon commented on #13225
Here a slightly improved version of the current changelog for v7:

https://gist.github.com/StringEpsilon/327709e8cc49b7485d6f5b22960e892f

I basically just took the existing list, moved the commit IDs to the right side, sorted the list alphabetically to get the categories grouped. Then I moved some stuff around and condensed / deleted some duplicated entries (such as "Sponsors: Sync README with we

[2020-05-15 10:59] cookiengineer opened #13301 "Bump: Add --ext mjs to default file extensions"
This is the same issue as https://github.com/eslint/eslint/issues/9592 that was closed due to old age (and that the TSC, at the time, decided against its consideration).

1. Now we have 2020, and Browser Modules have shipped in all stable Browser channels, see https://caniuse.com/#feat=es6-module

2. All Browsers (meaning Firefox, Chromium, Edgium, Safari 12+ and all downstream forks, including We

[2020-05-15 12:34] Tayflo commented on #12248
If I may say, this would seem very useful to me (simple eslint user) since it would be a _wide-range_ ruling option, concerning multiples operators (assignment, arithmetic, logical, string, ternary...), hence a lot of statements (especially declarations and condition expressions).

The absence of such a rule allows writing of nasty (and inconsistent) code without warning, and it seems quite unavoi

[2020-05-15 15:20] samrobbins85 commented on #13130
Hi all, I'd love to work on the getting started guide, but I'd be very happy working on any section of the documentation

[2020-05-15 15:20] regseb opened #13304 "[no-await-in-loop] ignores the await that may not be executed"
**What rule do you want to change?**
**[no-await-in-loop](https://eslint.org/docs/rules/no-await-in-loop)**. I suggest not to produce warnings when the `await` may not be executed. Because:

- it's in the *consequent* or *alternate* of a `if`;
- it's in the *consequent* or *alternate* of a conditional (ternary) operator;
- it's to the *right* of a logical expression;
- there is a `continue` (not i

[2020-05-15 16:29] kaicataldo commented on #13130
Hey all, while we're thrilled to see so much interest, we would appreciate it if we could keep this issue thread focused on discussions around the projects themselves. There will be a [formal application phase](https://developers.google.com/season-of-docs/docs/tech-writer-guide#technical_writer_application_phase) (from June 9 - July 9, 2020) where you can express interest and submit an application

[2020-05-15 17:05] kaicataldo commented on #13304
I think this option goes against the intention of the rule, because the loop iteration will still be blocked by the awaited async function. If all the values aren't asynchronous, it seems like it would be better to do something like the following (contrived example):

[code]

To me, this seems like a case where it would be better to either disable the rule for the loop or disable the rule entirely

[2020-05-15 17:17] anikethsaha commented on #13301
Thanks for the issue.

if I am not wrong, this might need `sourceType : module` by default then, 🤔 ?

[2020-05-15 17:21] kaicataldo commented on #13225
I'm personally for formatting the release notes changelogs, but we'll want to make sure it's automated so that we don't have to manually sort everything during a release.

[2020-05-15 17:25] UthpalaPitawela commented on #13130
Hi,

I would like to contribute to Google Season of Docs 2020 as a technical
writer. I have gone through the projects ideas. Project idea #2 is to
rewrite the configuration documentation and as far as I have understood
project#1 also has that as a subtask.  According to my understanding, both
configurations are related to ESLint. Am I correct or is there any other
configuration document specified

[2020-05-15 17:30] kaicataldo commented on #13130
Thanks for your interest. Project 1 and 2 are separate tasks that don't overlap. The goal of Project 1 is to create a better "Getting Started" or onboarding guide for new ESLint users. The goal of Project 2 is to come up with a way to make the [full configuration docs](https://eslint.org/docs/user-guide/configuring) easier to navigate and understand.

[2020-05-15 17:48] robinloeffel commented on #13288
I suppose you might be right in that it could be breaking for some users. But on the other hand this would fix an inconsistency with another rule. How about adding a new option, like `logicalOperatos`? The default could be `false` to maintain the current behaviour.

[2020-05-15 18:06] kaicataldo commented on #13187
This should be enabled by default in v7.0.0 (see the [migration guide](https://eslint.org/docs/user-guide/migrating-to-7.0.0#default-ignore-patterns). If you can't upgrade, you should be able to also explicitly ignore these directories by specifying them in your `.eslintignore` file.

[2020-05-15 18:18] kaicataldo commented on #13289
I haven't verified this yet, but if this is the case this definitely seems like something we should fix.

[2020-05-15 18:41] nzakas commented on #13039
Documentation updates are complete on the website and in this repo. Leaving this open until we complete the automation piece for TSC meetings.

[2020-05-15 22:40] gajus opened #13309 "getText() for `type foo = string[][]` (array of string arrays) is invalid"
Environment Info:

Node version: v14.1.0
npm version: v6.14.5
Local ESLint version: v7.0.0 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**

`babel-eslint`

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect to happen?**

Expec

[2020-05-15 23:32] petermikitsh opened #13310 "ESLint hangs after linting complete"
**Tell us about your environment**

* **ESLint Version:** 7.0.0
* **Node Version:** v12.14.1
* **npm Version:** 6.13.4

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well

[2020-05-15 23:39] petermikitsh commented on #13310
The issue went away after running `eslint 'packages/**/*.{js,ts,tsx}' --fix` and then the original command, `eslint 'packages/**/*.{js,ts,tsx}'`.

[2020-05-16 01:12] petermikitsh commented on #13310
I observed this issue again when building in a CI environment (linux). It took about 30 minutes to complete, but the issue originated from prettier running against [ANTLR](https://github.com/antlr/antlr4)-generated JS files (producing thousands of linter errors).

[code]

Ignoring the ANTLR files did the trick. For other users encountering this issue, I would recommend looking in your project for

[2020-05-16 03:39] #13178 closed

[2020-05-16 03:39] #13129 closed

[2020-05-16 04:05] ljharb commented on #12758
This remains a bug with an open PR; please reopen. cc @mdjermanovic

[2020-05-16 04:16] mdjermanovic commented on #12995
There is indeed the autofix bug, and there is this request to not warn at all about unneeded parentheses when there's a comment inside (if the new option is set or as the new default behavior).

Is it accepted to not warn at all, as the new default behavior (no option) which would solve both the bug and this issue?

[2020-05-16 05:03] anikethsaha commented on #12995
I think it should be default behavior cause removing of comments seems bug right?

[2020-05-16 05:08] golopot commented on #12995
Aside from the autofix bug, there is the problem that the parentheses are needed when the code is type checked by [TypeScript --checkjs](https://www.typescriptlang.org/docs/handbook/type-checking-javascript-files.html#type).

[code]

[2020-05-16 05:55] mdjermanovic commented on #12995
Yes, but the bug can be fixed by modifying the fixer to remove just parens and keep everything inside, or more likely by not doing the autofix if there are any comments inside (given the @golopot's comment).

This is different from not reporting the error at all. Which is also fine, just wanted to doublecheck what's exactly accepted.

[2020-05-16 05:59] anikethsaha commented on #12995
ahh, yeah IMO, not to warn should be the default behavior.

[2020-05-16 06:02] anikethsaha commented on #13309
Thanks for the issue 👍

I haven't check for `babel-eslint` , I checked `context.getSourceCode().getText` in master, it seems working.

 _didnt use the given example as default parser wont parse it._

[2020-05-16 06:28] mysticatea commented on #12995
@mdjermanovic

Personally, yes.

If there is a comment in a parameter list, I think someone intentionally did so, therefore the relative comment location should be kept. Removing parentheses of a parameter list moves the relative comment location from "before a parameter" to "before a function". We cannot remove the parentheses along with keeping the "before a parameter", so I consider the parenth

[2020-05-16 06:44] mdjermanovic commented on #12334
`semi` provides end location, except for the case where the start location is at the end of file.

Any ideas on how could we change this? Or maybe we should leave this in its current state?

There's a similar problem for `eol-last`.

[2020-05-16 06:49] anikethsaha commented on #12334
maybe line can be the same as `first.line` but the end column can be `first.column + 1` ?

[2020-05-16 06:54] mdjermanovic commented on #12995
Agreed, thanks for clarifying!

[2020-05-16 06:56] anikethsaha commented on #12995
Is anyone working on this? if not, I can give this a go 👍

[2020-05-16 07:01] mdjermanovic commented on #12995
Most likely not, feel free to work on this!

[2020-05-16 08:35] cookiengineer commented on #13301
@anikethsaha Yep, `mjs` are the extension that forces node and the Browser into using `ESM` import syntax, whereas `js` files cannot use `import` and neither `export`.

[2020-05-16 08:50] mysticatea commented on #13291
- [2019-10-10 meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2019/2019-10-10.md#eslint-v7-schedule) ... v7 schedule was proposed.
- 2019-11-28 ... all RFCs of v7 had been present.
- [2019-12-05 meeting](https://github.com/eslint/tsc-meetings/blob/master/notes/2019/2019-12-05.md#when-to-start-merging-eslint-v7-breaking-changes) ... tweaked due to 4-week releases.
- 2019-12-21 ...

[2020-05-16 08:53] anikethsaha commented on #13301
yes, it needs `ecmaVersion` to `2015` by default as well. (_breaking_)

This might need [RFC](https://github.com/eslint/rfcs)

let's hear from others.

[2020-05-16 19:28] andreymal commented on #13225
The current changelog is awful, it's very hard to read. A raw and unsorted commit list is always a bad changelog.

StringEpsilon's suggestion is good (but not ideal).

[2020-05-17 03:39] #13172 closed

[2020-05-17 06:37] mdjermanovic commented on #12334
Sorry, I didn't understand this.

For example, this case is problematic (there is no linebreak at the end of line 3)::

![image](https://user-images.githubusercontent.com/44349756/82137392-c0878c80-9817-11ea-95d6-43a9a27908fd.png)

In this case, `semi` reports the very last possible location as `start`, without `end`.

[2020-05-17 06:55] anikethsaha commented on #12334
I meant if the end can be like this

[code]

[2020-05-17 16:59] osher opened #13315 "no-empty-pattern - configure behavior for function parameters"
**What rule do you want to change?**
`no-empty-pattern`

**Does this change cause the rule to produce more or fewer warnings?**
fewer if you use it as is.
more if following the change I'll be able to enable it.

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option

**Please provide some example code that this change will affect:**

Consider a place where an

[2020-05-17 17:39] sharmaaditya570191 commented on #13130
Hello everyone!
I am Aditya Sharma. I am currently working as a student developer on a web based open source project in `Google Summer of Code 2020`. I work on various technologies like `Node.js` , `React` , `Headless CMS based on Node.js (Strapi)` and `GraphQL`. `ESLint` is something which I have used from the very beginning and have seen it grow. I am really interested in working on setting up a

[2020-05-18 02:16] UthpalaPitawela commented on #13130
Hi,

When configuring ESLint, don't we need to mention prerequisites?  Is it
enough to have them only on 'getting started'? Looking forward to your
response.

Thanks

On Sun, May 17, 2020 at 11:09 PM Aditya Sharma <notifications@github.com>
wrote:

[2020-05-18 03:39] #13174 closed

[2020-05-18 03:39] #13169 closed

[2020-05-18 05:39] anikethsaha commented on #13315
Thanks for the Issue.

IMO, this is what the rule is to enforce you to not use `{}`. so I think you can turn off the rule or use something like `app.use((...args) => ...)`.

let me know if I missed something

[2020-05-18 10:37] sayak119 commented on #13130
Hi everyone!
I am Sayak Kundu. Google Season of Docs 2020 as a technical writer. I am interested in **Project 1** (A new getting started guide). I have worked with the Internet Archive for past 1 year on their Google Action and Alexa Skill as a developer and this job also required me to write technical reports. I have experience with `ESLint` along with other frameworks. I would like to contribute

[2020-05-18 14:29] barklund commented on #12687
The use-case coming up in [google/web-stories-wp](https://github.com/google/web-stories-wp) is:

[code]

This false negative from `no-shadow` is assumed to be fixed by this issue as well. If not, adding it here for consistency.

[2020-05-18 14:39] nzakas commented on #13130
@UthpalaPitawela Yes, the only prerequisite is to have Node.js installed. Because Node.js comes with npm, you can then use npm to install ESLint.

[2020-05-18 14:45] nzakas commented on #13130
Hi everyone,

Just to reiterate, this period is for prospective technical writers to learn about ESLint and ask questions to clarify what the project is looking for. Please see the Season of Docs timeline:

https://developers.google.com/season-of-docs/docs/timeline

If you have questions about how to apply to work on ESLint for Season if Docs, please see the technical writer guide:

https://develo

[2020-05-18 15:15] AlansCodeLog opened #13319 "array-bracket-spacing autofix removes inline comments"
**Tell us about your environment**

* **ESLint Version: 7.0.0**
* **Node Version: v14.2.0**
* **npm Version: v6.14.4**

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
I can reproduce it with just:

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue

[2020-05-18 16:25] anikethsaha commented on #13319
Thanks for the issue.

It seems it is a bug.

[repl](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgYXJyYXktYnJhY2tldC1zcGFjaW5nOiBbXCJlcnJvclwiLCBcIm5ldmVyXCJdKi9cbi8qZXNsaW50LWVudiBlczYqL1xuXG52YXIgYXJyID0gWyAnZm9vJywgJ2JhcicvKiogZ2Vra28gKi8gXTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjExLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19)

[2020-05-18 16:38] mdjermanovic commented on #13315
@osher thanks for the rule enhancement proposal!

I'm not sure how common this pattern is, since it can't be used for all parameters. In particular, `{}` will throw if it gets `undefined` or `null` argument value.

Is such usage of empty destructuring patterns recommended by a popular style guide?

`no-unused-vars` has [argsIgnorePattern](https://eslint.org/docs/rules/no-unused-vars#argsignorepatt

[2020-05-18 16:55] seanpmaxwell opened #13323 "Enforce 2 (or more) lines not just one [lines-between-class-members]"
**What rule do you want to change?**

[lines-between-class-members]

**Does this change cause the rule to produce more or fewer warnings?**

Possibly more.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Modification to setting in eslint file.

[code]

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do f

[2020-05-18 17:22] oliikit commented on #13050
For those with really old `package-lock.json` and not a tightly controlled `package.json`, completing wiping the `package-lock.json` to reinstall dependencies can break their application. I'd recommend the following option:

[code]

That will update all the subdependencies in `eslint` without you be in dependency hell.

[2020-05-18 17:42] mdjermanovic commented on #13319
@AlansCodeLog thanks for the bug report!

Confirmed. I think we should check all "whitespace" rules and figure out a consistent approach on how to fix this.

[2020-05-18 17:48] evanplaice commented on #13050
@oliikit The latest SemVer major release (ie v6.x) of ESLint removes the need for this change altogether.

Id recommend upgrading if possible

[2020-05-18 18:21] anikethsaha commented on #13319
With respect to this rule's issue.

a check for comments before/after and if there is, then last/first range of the comment should be considered in fixer.

[2020-05-18 21:52] JackieBinya commented on #13130
Hello I'm Jacqueline 🙋🏾‍♀️
What technology or tools was used to build the ESLint Documentation?
I'm particularly interested in project number 2, am I able to submit my proposal now so that we may discuss ideas I have at the moment?

[2020-05-19 00:52] nzakas commented on #13130
Here’s a good article about the Season of Docs program:
https://www.freecodecamp.org/news/cracking-google-season-of-docs-2020/

[2020-05-19 00:54] nzakas commented on #13130
@JackieBinya the documentation is stored in Markdown files in this repo (the docs directory). We then use a build process to publish them on the website. This happens automatically, so you would just need to feel comfortable working with Markdown files.

Please see the links I provided in my previous comment for more details about the timing of submissions.

[2020-05-19 01:23] #12374 closed

[2020-05-19 02:32] ilyavolodin opened #13324 "ajv seems to be major contributor to performance slowdown"
**The version of ESLint you are using.**
v7.0.0

**The problem you want to solve.**
ESLint is taking a pretty long time to run even on a single file (1.2s on a single file). After doing some high level performance profiling I found that ajv seems to be taking roughly about 5% of the execution time of the whole linting process (running current master branch on ./lib/linter/linter.js).
![image](http

[2020-05-19 03:39] #13192 closed

[2020-05-19 09:03] cambiph commented on #13187
Works with v7, thanks for the info!

[2020-05-19 09:03] #13187 closed

[2020-05-19 10:19] anikethsaha commented on #13319
@mdjermanovic I submitted a PR to make the procedure better for discussing the fix.

[2020-05-19 11:41] JackieBinya commented on #13130
Thank you for the clarification @nzakas
Well in the past I have written blog tutorials on several topics as exemplified by this tutorial [Joi Tutorial-Using @hapi/joi version 16.1.7 to validate a request body in a RESTful API](https://dev.to/jacqueline/using-hapi-joi-version-16-1-7-to-validate-a-request-body-in-a-restful-api-bje)
_@hapi/joi is an npm module_

Well in my previous writing experience

[2020-05-19 15:04] nzakas commented on #13130
@JackieBinya we would like you to become familiar with the project, and then we will work with you to come up with content ideas that you would then expand into full documentation. You’ll work with a mentor on the team (@kaicataldo) who will guide you through the process.

[2020-05-19 15:05] nzakas commented on #13130
Hi everyone, we’ve started a season of docs channel in our Discord server to answer questions about the ESLint project and our suggested Season of Docs projects. You can visit by going to https://eslint.org/chat

[2020-05-19 15:26] gforcada opened #13327 "[no-unused-vars] flagged though it is used inside an object"
**Tell us about your environment**

* **ESLint Version:** 6.6.0 as well as 7.0.0
* **Node Version:** 12.16.3
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the actual source code causing the issue, as well as th

[2020-05-19 16:48] platinumazure opened #13329 "Node.js API page could co-locate deprecated API information better"
(Originally opened as eslint/website#731)

Main page: https://eslint.org/docs/developer-guide/nodejs-api

There's a few different references to the same deprecated APIs. I think some of them are redundant.

* Full sections still present, with note about deprecation:
    * [`linter`](https://eslint.org/docs/developer-guide/nodejs-api#linter-1)
    * [`CLIEngine`](https://eslint.org/docs/developer-g

[2020-05-19 16:51] platinumazure commented on #13327
Are you sure you want to redeclare `placedAt`?

Seems this would make more sense:

[code]

Also, no-unused-vars is expecting another use of `placedAt` after the reassignment. With the code you have provided, you could call `myFunction` without assigning the result, and this would both satisfy the rule and have no observable effect on behavior:

[code]

If you do intend to reassign to `placedAt`, s

[2020-05-19 17:30] #13293 closed

[2020-05-19 17:36] dillionmegida commented on #13130
Hi @nzakas, it seems you have a broken link in ESLINT rules list. I think it should be /docs/rules.

[2020-05-19 17:41] kaicataldo commented on #13130
Thank you! I have edited the link.

[2020-05-19 18:33] regseb commented on #13304
If the promises are heavy and not all of them are necessary: it can be counterproductive to execute all promises.

In these two examples, the first does not execute unnecessary requests; the second sends all requests.

[code]

[code]

It's a shame to have to manually manage each loop by disabling this rule when it could be automated.

[2020-05-20 00:07] #11279 closed

[2020-05-20 03:38] brettz9 opened #13331 "`brace-style`: Option for styles to be enforced on curly brackets around `case` statements"
**What rule do you want to change?**

- `brace-style`

**Does this change cause the rule to produce more or fewer warnings?**

More warnings, though in the case of the initial bracket of the `switch` statement with `1tbs`, it could also end up producing fewer (see comment within the `1tbs` example below).

**How will the change be implemented? (New option, new default behavior, etc.)?**

New optio

[2020-05-20 03:39] #13194 closed

[2020-05-20 03:39] #13183 closed

[2020-05-20 03:39] #13104 closed

[2020-05-20 04:09] cherryblossom000 opened #13332 "max-lines-per-function ignores arrow IIFEs"
**Tell us about your environment**
* **ESLint Version:** 7.0.0
* **Node Version:** 12.16.2
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2020-05-20 08:17] 0623175423 opened #13334 "#8758"
**Tell us about your environment**

* **ESLint Version:**
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[co

[2020-05-20 08:18] anikethsaha commented on #13331
Though this enhancement is doable.

One thing I think can be conflict/inconsistent is the indentation for the `case` blocks. usually they are one level more indented than the outer block (`switch`) so may be style like `allman` may be affect that.

let me know if I missed something about this.

[2020-05-20 08:57] g-plane commented on #13309
Hi @gajus , can you tell us what problems have you encountered?

[2020-05-20 13:54] yeonjuan commented on #13332
@cherryblossom000
Thanks for the reporting! It seems a bug to me.

[2020-05-20 14:26] yeonjuan commented on #13323
Hi. @seanpmaxwell
Thanks for the proposal.😁It seems to duplicate with this pr- #12663

[2020-05-20 16:03] gforcada commented on #13327
@platinumazure thanks for the quick feedback!

I see that I removed too much to simplify the example, the code looks like this:

[code]
So the `myFunction` returns a position, which is needed for the next call.

[2020-05-20 16:23] kaicataldo commented on #13323
Can you expand on the configuration API? I don't currently see how it fits into the existing API. What does `true` mean, in this context? How would this be configured with the options object? Is this a no-op when the rule is set to "never"?

[2020-05-20 16:32] kaicataldo commented on #13309
@gajus Since the default parser isn't able to parse this, is there any chance you can make an example repo we can look at? These kinds of issues that crop up are really hard to debug without a repro case because of integration between different projects.

[2020-05-20 16:33] #13334 closed

[2020-05-20 16:42] seanpmaxwell commented on #13323
Ideally I would like it to be configured just tslint-lines-between-class-members found here https://github.com/chinchiheather/tslint-lines-between-class-members#readme. So true means the rule is being enforced.

[2020-05-20 16:58] platinumazure commented on #13327
Hi @gforcada,

The logic is the same as before: On the last reassignment, you could just call the function for its side effects, without reassigning the variable.

[code]

Or you can add another usage:

[code]

Basically, the last assignment is what is unused here. Either drop that reassignment, or use the variable again, and the rule will be satisfied.

[2020-05-20 17:02] kaicataldo commented on #13195
I personally think this should be classified as a bug, but agree that we should be consistent between rules.

[2020-05-20 17:27] kaicataldo commented on #13324
Thanks for reporting this! Marking as accepted since we would accept PRs to improve the performance. Ideally, we would be able to look into why `ajv` is taking so long and either make issues or create PRs to improve performance upstream.

[2020-05-20 18:27] gforcada commented on #13327
Oh I see know :facepalm: sorry for the noise and thanks for the (very quick :+1: ) explanations!! :bow:

[2020-05-20 18:27] #13327 closed

[2020-05-20 18:29] gforcada commented on #13327
Final minor disclaimer that might be worthy: I did report it as `eslint` was complaining of `no-unused-vars` on the line where `placedAt` was being defined, not on the last usage that is indeed superfluous. Maybe that could be updated/improved (the error line where it is reported)?  :thinking:

[2020-05-20 20:24] IgorNovozhilov commented on #13323
I also thought about this when I was working on PR #12663. But since the review of the changes took a long time, I left the idea with the revision for later.

[2020-05-20 20:32] seanpmaxwell commented on #13323
Would be awesome if implemented. tslint-lines-between-class-members is still growing in npm downloads so def would be useful to a lot of people if implemented.

[2020-05-21 03:24] mdjermanovic commented on #13327
There's an enhancement proposal for this: #13181

[2020-05-21 09:19] kuyezhiying commented on #12567
I used the latest eslint package with version 7.0.0, but it seems we still have the problem that the rule reports error on the following case:
`let foo = undefined; // Identifier 'undefined' is blacklisted`

[2020-05-21 10:57] mdjermanovic commented on #12567
This was supposed to be fixed, and I can't reproduce it in our [online demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgaWQtYmxhY2tsaXN0OiBbXCJlcnJvclwiLCBcInVuZGVmaW5lZFwiXSAqL1xuXG5sZXQgZm9vID0gdW5kZWZpbmVkOyAvLyBubyBlcnJvclxuXG5mdW5jdGlvbiBiYXIoKSB7ICBcbiAgICBsZXQgZm9vID0gdW5kZWZpbmVkOyAvLyBubyBlcnJvclxufVxuXG5mdW5jdGlvbiBiYXooKSB7XG4gICAgbGV0IHVuZGVmaW5lZDsgLy8gZXJyb3Jcbn1cbiIsIm9wdGlvbnM

[2020-05-21 13:22] dartess opened #13338 "Rule proposal: forced disabling reason"
**Please describe what the rule should do:**

oblige the developer to explain the reason for disconnecting the linter

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[x] Other (please specify:) —  reduce the number of thoughtless shutd

[2020-05-21 18:59] kaicataldo commented on #13338
This has already been implemented in 7.0.0. Please see [the migration guide](https://eslint.org/docs/user-guide/migrating-to-7.0.0#description-in-directive-comments) for more details.

[2020-05-21 19:57] dartess commented on #13338
@kaicataldo I probably did not explain well that I was proposing **a new rule**, not the ability to post comments.
Implemented the ability to write comments.
My suggestion is to add a rule that makes writing comments mandatory.

[2020-05-21 20:09] kaicataldo commented on #13338
I don't think this in scope for core rules and that a 3rd party plugin like [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments) would be a a better fit for enforcing this.

[2020-05-21 21:02] steveluscher opened #13339 "no-fallthrough reports false positive when commenting cases"
Consider the following code:

[code]

Lint is fine with that, until such time as you try to add a comment admidst the cases.

[code]

…at which point the `no-fallthrough` error is raised.

A comment here doesn't affect the runtime behavior, right, so to error here is a false positive?

Repro [link](https://eslint.org/demo#eyJ0ZXh0IjoidmFyIHZhbHVlID0gJ09ORSc7XG5zd2l0Y2ggKHZhbHVlKSB7XG4gIGNhc2UgJ09O

[2020-05-21 21:53] mdjermanovic commented on #13339
Hi @steveluscher, thanks for the issue!

It seems that this works as intended, please see the discussion in #5799.

There is also a [test case](https://github.com/eslint/eslint/blob/3a5fbb3d634be688615950c0a5fa8aead6ff08b5/tests/lib/rules/no-fallthrough.js#L137) similar to this example.

The following is allowed:

[code]

Also, [commentPattern](https://eslint.org/docs/rules/no-fallthrough#commentp

[2020-05-22 01:48] ota-meshi opened #13341 "Rule proposal: no-dupe-characters-character-class"
**Please describe what the rule should do:**

This rule reports if there are duplicate characters in the RegExp character class.

Finding duplicate characters may help find other problems. I think this problem often appears when you use the escape incorrectly.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[X] Suggests an alter

[2020-05-22 02:25] kuyezhiying commented on #12567
@mdjermanovic Thanks for taking the try. Sorry it's my bad, it's indeed fixed in v7.0.0, it works when I use eslint directly. However, I met the problem because I am using gulp-eslint to setup the workflow, but I just found the when I install the latest version of gulp-eslint (v6.0.0), the dependent eslint was v6.8.0 which may not containing the fix.

[2020-05-22 03:39] #11678 closed

[2020-05-22 03:39] #13202 closed

[2020-05-22 10:49] mightyiam opened #13342 "Lint (do not ignore) dot files by default"
Following up from #10341.

**The version of ESLint you are using.**

v6.8.0

**The problem you want to solve.**

ESLint ignores dot files by default. I don't see a reason for this behavior. One could wrongly assume that ESLint is linting their dot files (of which there may be many) when in fact no linting is occurring. And when one does find this out, it's just a waste of time figuring it out.

**

[2020-05-22 16:12] aladdin-add commented on #13342
I'm in favor of the change. Just a reminder: eslint v7.0.0 starts linting `.eslintrc.js` (•_•)

[2020-05-22 16:14] #13247 closed

[2020-05-22 18:13] kaicataldo commented on #13342
As mentioned [here](https://github.com/eslint/eslint/issues/10341#issuecomment-445313707), this is a breaking change in core and such requires an [RFC](https://github.com/eslint/rfcs). We would be happy to evaluate an RFC proposal.

[2020-05-22 19:31] tscpp opened #13345 "Invalid ident error in switch statement"
**Tell us about your environment**

* **ESLint Version:** v6.8.0
* **Node Version:** v14.3.0
* **npm Version:** 6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2020-05-22 20:37] kaicataldo commented on #13345
Using the [`Switchcase`](https://eslint.org/docs/rules/indent#switchcase) option should solve your problem.

[2020-05-22 21:16] DaniGuardiola commented on #12642
I encountered [this](https://github.com/eslint/eslint/issues/11045) problem and figured this is the right place to mention it :)

As per [this](https://github.com/babel/eslint-plugin-babel/issues/185#issuecomment-547368879) comment:

[2020-05-22 22:24] NemoStein commented on #12642
As I understand, we are waiting for Optional Chaining syntax to be added to ESTree to merge this PR.
@mysticatea may correct me if I'm wrong (sorry to bug you)...

[2020-05-22 23:33] #12995 closed

[2020-05-23 00:33] #13332 closed

[2020-05-23 01:48] kaicataldo commented on #13292
ESLint v7.1.0 has been released! 🎉 Please only merge semver-patch PRs until we determine whether a patch release is needed or not.

[2020-05-23 07:07] merlinnot opened #13346 "[no-loss-of-precision] The rule reports false positives for values with numeric separators"
**Tell us about your environment**

* **ESLint Version:** v7.1.0
* **Node Version:** v14.0.0
* **npm Version:** v6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

It's in a public repository: https://github.com/ridedott/eslint-config

**What did you do? Please include the actual source code causing the issue

[2020-05-23 07:22] anikethsaha commented on #13346
I think it should be reported in `typescript-eslint` repo ?

cause [numeric-separator](https://github.com/tc39/proposal-numeric-separator) is still in Stage 3 and eslint doesnt support stage 3 proposal .

also, the [compiled](https://typescript-play.js.org/#code/MYewdgzgLgBAHgLjAVwLYCMCmAnGBeGARgH0AGcgbiA) JS for this TS code is working [fine with eslint](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2

[2020-05-23 09:40] OoDeLally opened #13347 "no-unused-vars should have an importIgnorePattern"
**The version of ESLint you are using.**
6.8.0

**The problem you want to solve.**

I have a custom `stringify` helper that I may add in any file for debugging purpose, and I'm tired of adding/removing the import constantly. I cannot leave the import in the file, as eslint would nag me constantly about the unused import.
I do not wish either to have `// eslint-disable-next-line no-unused-vars` in

[2020-05-23 10:42] mightyiam commented on #13342
https://github.com/eslint/rfcs/pull/55

[2020-05-23 10:49] pubmikeb opened #13348 "Remove deprecated rules from Rules Configuration tool"
**The version of ESLint you are using.**
7.1.0

**The problem you want to solve.**
[Rules Configuration tool](https://eslint.org/demo) contains rules, which are deprecated already, e.g. `no-catch-shadow`.

**Your take on the correct solution to problem.**
To cleanup the list of rules and extract all deprecated rules into separate section in https://eslint.org/demo

**Are you willing to submit a pu

[2020-05-23 15:32] kaicataldo commented on #13347
Can you share a simplified code sample? I'm not currently understanding why you would want to create an import binding and then not use it.

[2020-05-23 15:34] kaicataldo commented on #13346
As @anikethsaha mentions above, this is still currently experimental syntax. We will add support for this syntax in core rules once it reaches stage 4.

[2020-05-23 15:35] brettz9 opened #13349 "`fixable` property only necessary when `meta` is present"
**What did you expect to happen?**

Per the docs:

Based on this, I would expect a rule without any `meta` at all to also not be fixable.

**What actually happened? Please include the actual, raw output from ESLint.**

A rule without `meta` is successfully fixed when it has a fixer.

The docs are true, however, if there is a `meta` object of some sort (including an empty object); in such a case, a

[2020-05-23 15:49] kaicataldo commented on #13349
@brettz9 Can you fill out an issue template? It's not clear to me what the desired outcome of this issue is. Thanks!

[2020-05-23 15:59] brettz9 commented on #13349
I've updated to include those two headings relevant to a doc bug.

[2020-05-23 16:21] kaicataldo commented on #13349
Thank you for clarifying. Agreed, and PRs to improve documentation are always welcome!

[2020-05-23 16:35] anikethsaha commented on #13349
agreed. but shouldn't it?

IMO, the fixer shouldnt work or throw an error if meta is not present.
cause in rule authoring docs, it is mentioned that we can omit `docs` but it is not mentioned about the `meta`. (or maybe I am missing.)

thoughts?
otherwise I think `bug` label can be removed then ?

[2020-05-23 16:45] liesislukas opened #13350 "max-len ignoreImports option"
Imports are OK to be longer then a normal code. It's often more "clean" and easier to read the code when all imports take one line each. Yet some imports's width is bigger than normal and it wraps. It destroys the beauty and that's... 😥😵

**What rule do you want to change?**
max-len

**Does this change cause the rule to produce more or fewer warnings?**
doesn't change with default but opt-in to sh

[2020-05-23 16:49] OoDeLally commented on #13347
The rationale is exactly the same as ignoring an unused function argument.

Let's say I have the following file
[code]

Great, I can see what `getSomeValue` returns, and I've found the mistake. I can now remove the log:
[code]

Of course, now `eslint` nags me about `stringify` not being used.
Sure, I could remove it, but being in the process of building my thing, I know I will have to reuse it in

[2020-05-23 16:53] anikethsaha commented on #13350
Thanks for the issue.

may be [ignorePattern](https://eslint.org/docs/rules/max-len#ignorepattern) can be helpful here !

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbWF4LWxlbjogW1wiZXJyb3JcIiwgeyBcImlnbm9yZVBhdHRlcm5cIjogXCJpbXBvcnRcIiB9XSovXG5cbmltcG9ydCB7c29tZVZlcnlMb25nTG9vb29vb29vbmdWYXJpYWJsZSBhcyBfc29tZUxvY2FsVmFyaWFibGUsIGFub3RoZXJMb29vb29vb29vb25nVmFyaWFibGUgYXMgYW5vdGhlckxvY2F

[2020-05-23 17:06] liesislukas commented on #13350
that's what i'm using at the moment, yet imports is popular thing to have in code so maybe it would make sense to have a flag to ignore those?

[2020-05-23 17:33] anikethsaha commented on #13350
Sorry if I am not understanding this, can you give some example/case where `ignorePattern` won't solve your issue ?

[2020-05-23 17:35] liesislukas commented on #13350
it does, yet we still have ignoreUrls and other pre-defined options

[2020-05-23 17:41] anikethsaha commented on #13350
`ignoreUrls` may be implemented because ( may be I can be wrong ) regex for URLs are bit complicated so it can be easy to have a general regex that can be used via an option.

yes it can be done via the same option as well.

[2020-05-23 17:42] #13350 closed

[2020-05-23 18:19] mdjermanovic commented on #13347
This doesn't look like the same thing to me. Would you want to commit a change with an unused import?

[2020-05-23 18:27] OoDeLally commented on #13347
Yes, I would like to commit it with an unused import.
Not every commit, and further, not every repo is public and must be canonically clean.
It really boils down to the convenience / cleanliness ratio, and there are some situation where I would prefer it as such.

[2020-05-23 20:46] merlinnot commented on #13346
Thanks, I'll be waiting for it :)

[2020-05-24 00:40] brettz9 commented on #13349
Re: it not mentioning `meta`, yeah, the [Working with Rules](https://eslint.org/docs/developer-guide/working-with-rules) page doesn't mention that `meta` can be omitted.

As far as whether it should be a breaking change to require `meta.fixable` always, I'd personally even be in favor of always requiring `meta` (specifically so as to require `meta.type` even for non-fixable rules--though that is n

[2020-05-24 03:39] #13207 closed

[2020-05-24 03:39] #13206 closed

[2020-05-24 06:39] anikethsaha commented on #13348
Thanks for the issue.

IMO, a `deprecated` note/label next to their name can be done I guess.

[2020-05-24 06:44] anikethsaha commented on #13347
It looks like it can be good for a custom [plugin](https://eslint.org/docs/developer-guide/working-with-plugins) / [rule](https://eslint.org/docs/developer-guide/working-with-rules).

[2020-05-24 06:58] pubmikeb commented on #13348
Where can I find a `deprecated` note/label? For instance, `callback-return` is deprecated, but I don't see  any label next to this rule on https://eslint.org/demo:

![24_085631](https://user-images.githubusercontent.com/17231333/82747734-83357880-9d9c-11ea-8fb7-9693813f9c49.png)

Any way, it would be great to have a separate subsection under Rules to be able enable/disable all deprecated rules at

[2020-05-24 07:14] anikethsaha commented on #13348
it is not implemented as of now. I meant we can add like that

[2020-05-24 07:16] pubmikeb commented on #13348
I think label is good but not enough, ideally is to be able to switch on/off all deprecated rules with one single click.

[2020-05-24 10:21] dartess commented on #13338
from eslint-plugin-eslint-comments's repo:

@kaicataldo thanks for the right direction.

[2020-05-24 10:21] #13338 closed

[2020-05-24 10:34] osher commented on #13315
I'll do my best to explain.
Here's my concrete case.

Consider a DI framework that lets you define your components as factories.
You are **_guarantered_** to be passed with an `options` and a `ioc` bag.

So far this framework is prorietary for an organiztion with a business of about 100 micro-services, all in node-js, but there are talks to open-source the core of the infra, however, I cannot guar

[2020-05-24 15:00] mdjermanovic commented on #13315
Thanks for the additional explanation! Makes sense to me :+1:

[2020-05-24 15:20] jbnv commented on #13222
I support this as well. I just spent several minutes and almost submitted a Stack overflow question because of this. This is what I expect and want:

[code]

This is what flags no errors, but is not what I wanted or asked for:

[code]
It does not "work as expected." The documentation shows nothing about this case and clearly gives the impression that `import { named }` would be sorted before `impo

[2020-05-24 15:47] mdjermanovic commented on #13222
Indeed, we don't have any examples with a single named import.

PR to improve the docs and clarify the actual behavior is welcome!

[2020-05-24 16:36] osher commented on #13315
@anikethsaha  - in case like express error-handler - can't use `(...args)` - because it makes the arity of the function to be zero, where by definition - it has to be 4 to be considered an error handler.

Arraity of a function = `func.length`
example:
[code]

[2020-05-24 23:18] ota-meshi commented on #13341
I readed the [Changes to our Rules Policies](https://eslint.org/blog/2020/05/changes-to-rules-policies).
I understand that you probably won't accept this rule, if you know of a plugin repository that would suggest this rule please let me know.

[2020-05-25 03:39] #13216 closed

[2020-05-25 03:39] #13212 closed

[2020-05-25 04:18] bakert opened #13352 "Syntactically invalid try … catch block in eslint.js"
There's a bare `try { … } catch { … }` in 7.1.0's eslint.js. It's not valid js to have a try/catch block without an error variable after the catch as in `try { … } catch (error_var) { … }`. This causes eslint to break in some places (but not all).

**Tell us about your environment**

Node 11 on heroku via Travis.
Also found invalid by https://esprima.org/demo/validate.html
Also breaks the spec fou

[2020-05-25 08:24] anikethsaha commented on #13181
I have submitted the PR https://github.com/eslint/eslint/pull/13354 to move this issue forward quickly.

[2020-05-25 10:00] aladdin-add commented on #13352
we don't officially support Node v11, so please consider using:https://github.com/eslint/eslint/blob/d55490fa73ff69416de375e4c1cd67b6edba531c/package.json#L144

[2020-05-25 10:15] aladdin-add commented on #13352
it surely is a valid JS, please see https://node.green/#ES2019-misc-optional-catch-binding
![image](https://user-images.githubusercontent.com/13050025/82803758-aacb3480-9eb3-11ea-96aa-8179b9275384.png)

[2020-05-25 10:31] aladdin-add commented on #13240
Thanks for your interest in improving ESLint. As of 2020, unfortunately, we have decided to [only accept rules related to new ECMAScript features](https://eslint.org/blog/2020/05/changes-to-rules-policies). We prefer that new rules be implemented in plugins, so I'm closing it.

Since ESLint is pluggable and can load custom rules at runtime, it doesn't need to be a blocker for you using this in you

[2020-05-25 10:31] #13240 closed

[2020-05-25 10:32] aladdin-add commented on #12368
Thanks for your interest in improving ESLint. As of 2020, unfortunately, we have decided to [only accept rules related to new ECMAScript features](https://eslint.org/blog/2020/05/changes-to-rules-policies). We prefer that new rules be implemented in plugins, so I'm closing it.

Since ESLint is pluggable and can load custom rules at runtime, it doesn't need to be a blocker for you using this in you

[2020-05-25 10:32] #12368 closed

[2020-05-25 10:33] aladdin-add commented on #9259
Thanks for your interest in improving ESLint. As of 2020, unfortunately, we have decided to [only accept rules related to new ECMAScript features](https://eslint.org/blog/2020/05/changes-to-rules-policies). We prefer that new rules be implemented in plugins, so I'm closing it.

Since ESLint is pluggable and can load custom rules at runtime, it doesn't need to be a blocker for you using this in you

[2020-05-25 10:33] #9259 closed

[2020-05-25 12:06] bricss commented on #13346
Hi everyone,

I hit this issue today as well, and I can see potential problem in here.

Fan fact, is that [Numeric separators](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Lexical_grammar#Numeric_separators) is broadly used in many projects and supported already by ALL modern browsers and node as well, for around of one year. Plus, it doesn't have anything to do with TS, at al

[2020-05-25 13:26] AnnAngela opened #13355 "Rule require-atomic-updates falsely reported error"
(Please forgive my poor English ...)
**Tell us about your environment**

* **ESLint Version:** v7.0.0
* **Node Version:** v14.1.0
* **npm Version:** v6.14.4

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing th

[2020-05-25 14:12] #13345 closed

[2020-05-25 16:25] jaganathanb commented on #13255
I faced same kind of issue but for `@typescript-eslint/eslint-plugin`. The surprising thing is that the issue is because of `eslint-nullish-coalescing` which changed the content of `node_modules\.bin\eslint.cmd` file to some thing like below.

[code]
I installed eslint version 7 but the error message was showing up as 4.19.1 which the `eslint-nullish-coalescing` package version which is a fork of

[2020-05-25 16:48] ljharb commented on #12368
What a really unfortunate decision :-/

[2020-05-25 23:23] bakert commented on #13352
Ah, I see. We will upgrade our node version on travis. Thank you.

[2020-05-25 23:23] #13352 closed

[2020-05-26 01:12] nzakas commented on #12592
Just for some context, the Ajv docs make it clear that `useDefaults` modifies original data: https://github.com/ajv-validator/ajv#assigning-defaults

@epoberezkin we seem to be having an issue with the behavior of `useDefaults`, as we missed that it modifies the object that is passed. Would it be at all feasible for Ajv to have an option to clone the object instead of modifying it? It seems like a

[2020-05-26 03:04] zWingz opened #13359 "Local Config File Resolution throw error in file protocol"
https://cn.eslint.org/docs/developer-guide/shareable-configs#local-config-file-resolution

I create my config `@scope/eslint-config-myconfig` in local, and install it by `npm install file:../eslint-config-myconfig`

**eslint-config-myconfig**
[code]

**project-1**
[code]

when i run `eslint src`, it throw error

[code]
but it succeed after published to npm

**Tell us about your environment**

* **

[2020-05-26 03:39] #13220 closed

[2020-05-26 06:00] anikethsaha commented on #13359
Thanks for the issue.

can you try with linking the package, like using `npm link`

[2020-05-26 06:27] mysticatea commented on #13359
Hi.

What happens if you execute `require("@scope/eslint-config-myconfig")` in the `vue.js` file of `eslint-config-myconfig` package? It's what ESLint does.

If a file contains `extends:"eslint-config-foo"`, ESLint loads it as similar to `require("eslint-config-foo")` in the file.

[2020-05-26 07:00] zWingz commented on #13359
throw error `Error: Cannot find module '@scope/eslint-config-myconfig'`

[2020-05-26 07:07] zWingz commented on #13359
@anikethsaha as same as `npm install file://`

[2020-05-26 07:15] anikethsaha commented on #13359
for modules, if you have them as dep, it should work irrespective of the path to the module.

are you using mono repo? like for Lerna, I guess the command is `lerna link`.

[2020-05-26 07:25] mysticatea commented on #13359
OK, so this is the designed behavior. You have to write `eslint-config-myconfig` as working fine with this behavior.

I'm not familiar with lerna, so I mention another solution: I guess you can use `extends:"./index.js"` or something like instead of `extends:"@scope/eslint-config-myconfig"`, because `require("./index.js")` in the `vue.js` should work fine.

[2020-05-26 07:53] zWingz commented on #13359
@mysticatea yes, i use './base` to resolved, but document recommend to use full-pkg-name

[2020-05-26 08:19] mysticatea commented on #13359
Ah, I got it. So this looks a documentation issue. Because package names in `extends` are similar to `require("package-name")` and we should not write `require()` with packages what the `dependencies` field doesn't contain.

---

...In fact, recently Node.js has supported resolving self-references (https://github.com/nodejs/modules/issues/306). So if you are using Node.js v12.16.0/v14.0.0 (or abov

[2020-05-26 08:40] scinos opened #13360 "node.range in TemplateElement doesn't match code"
**Tell us about your environment**

Node version: v12.16.1
npm version: v6.13.4
Local ESLint version: v7.1.0 (Currently used)
Global ESLint version: Not found

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full code:**

Repo with reproduction in https://github.com/scinos/eslint-v7-template-literal-range/blob/master/index.js

Example of a broken rule:
<de

[2020-05-26 10:49] medikoo opened #13361 "Support "ignorePath" as top level configuration setting"
Currently the only way to use alternate ignore file is to pass `--ignore-path` into CLI, and that's quite limited as it doesn't ensure that desired _ignore file_ is respected by default in every lint check for given project.

That affects IDE configurations. e.g.  on my side in most of the projects I want ESLint by default to treat `.gitignore` as _ignore file_, for that I have _lint_ scripts conf

[2020-05-26 11:26] epoberezkin commented on #12592
@nzakas my decision not to clone in Ajv was because in general case you cannot clone a JavaScript object. You can clone plain objects (e.g. the result of JSON.parse) and quite a few other things, but ajv can be used to validate all types of objects... Doing it in eslint would be easier because eslint can rely on some assumptions about what the object is - whether `JSON.parse(JSON.stringify(obj))`

[2020-05-26 11:29] epoberezkin commented on #12592
@nzakas @kaicataldo let me know what you think - happy to help if needed.

[2020-05-26 12:31] mysticatea commented on #13361
Thank you for your request.

You can do like below:

[code]

[2020-05-26 12:37] mysticatea commented on #13360
Thank you for your report.

But, actually, the `start`/`end` properties are wrong. Like the range of string literal nodes contain quotes, the range of `TemplateElement` nodes contains backtick. It's intentional.

[2020-05-26 12:43] medikoo commented on #13361
@mysticatea thanks, that indeed works as workaround. Still it'll be nice to be able to achieve without a need of JS file configuration or copying a settings

[2020-05-26 12:49] mysticatea commented on #13360
Sorry, I missed your point.

- The `node.value.raw` property contains text before processing escape sequences.
- The `node.value.cooked` property contains text after processing escape sequences.

The `node.value.cooked`  and `node.value.raw` properties are corresponded. But the `node.value.raw` doesn't mean the whole text of the node. It just means the content before processing escape sequences.

[2020-05-26 13:05] scinos commented on #13360
@mysticatea thanks for your answer.

That makes lots of sense, looks like I misunderstood the purpose of `node.value.raw`.

I'll close this issue now.

[2020-05-26 13:05] #13360 closed

[2020-05-26 13:27] mjsalinger commented on #13178
@mdjermanovic - We don't use babel, but node.js just added support for top-level await.  What is the recommended course if we want to use this feature of node without using Babel?

[2020-05-26 13:40] anikethsaha commented on #13178
top level await is still in [stage 3](https://github.com/tc39/proposal-top-level-await).

eslint supports stage 4 proposal.

[2020-05-26 14:22] vipcxj opened #13363 "All typesrcipt file are not resolved."
**Tell us about your environment**

* **ESLint Version:** 6.8.0 (I can't use 7 because airbnb not support it)
* **Node Version:** 13.6.0
* **npm Version:** 6.13.4

**What parser (default, Babel-ESLint, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actu

[2020-05-26 14:36] mdjermanovic commented on #13363
Hi @vipcxj, thanks for the issue!

[code]

These errors are coming from third-party rules and are not related to eslint itself. Can you please open an issue in [benmosher/eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import) repository?

[code]

This seems like a correct error, there is no need to import from `'react'` if you're not using it in that module?

[2020-05-26 14:51] richardkazuomiller opened #13364 "Plugins not being loaded relative to the configs that reference them"
ESLint version: 7.1.0
Node version: 12.16.3
npm Version: 6.14.4

---

I have two configuration files. One is in a npm package and the other extends it.

`@my-org/eslint-config/typescript/index.js`:

[code]

`.eslintrc.js`:

[code]

I get the following error when running ESlint:

[code]

The documentation says:

[code]

but it seems that plugins are loaded from whatever directy the root config is i

[2020-05-26 15:21] vipcxj commented on #13363
The App is a function component. It will use the `React` module.

[2020-05-26 17:43] mdjermanovic commented on #13363
`no-unused-vars` warns about a possible error if you forget to use declared/imported variable. When you use `React`, the warning will disappear.

Rules are configurable, so if you don't want to be notified about unused variables, you can turn this rule off in the config file:

[code]

[2020-05-26 18:18] mdjermanovic commented on #13178
@mjsalinger our default parser supports only stage 4 proposals. You could use `babel-eslint` as a parser for eslint. without using Babel to transpile the code.

[2020-05-26 18:42] kaicataldo commented on #13348
Can we take this discussion to the https://github.com/eslint/website repository? The demo can definitely use some love, and ideally will be entirely redesigned with the rest of the site in the future.

[2020-05-26 23:51] #13339 closed

[2020-05-27 00:46] nzakas commented on #12592
Yeah, that’s what we are trying to do in https://github.com/eslint/eslint/pull/13034

Turns out to be tricky even with assumptions.

[2020-05-27 03:39] #13226 closed

[2020-05-27 09:31] AnnAngela commented on #13355
Confirmed that thess error messages showed up in Eslint v7.1.0

[2020-05-27 10:50] StringEpsilon commented on #13225
Just saw that there was a new release. Took a couple minutes to make a slightly beautified changelog for that one as well:

https://gist.github.com/StringEpsilon/ed2b1f90f5dd42c46b981b2baee2961f

[2020-05-27 15:22] kaicataldo commented on #13292
This concludes this release cycle. Please feel free to merge semver-minor PRs again.

[2020-05-27 15:22] #13292 closed

[2020-05-27 15:22] eslint[bot] opened #13366 "Scheduled release for June 5th, 2020"
The scheduled release on Friday, June 5th, 2020 is assigned to:

* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](https://eslint

[2020-05-27 17:16] roth-j commented on #12822
Has this issue been addressed? I am still seeing the eslint error for an unused expression when using optional chaining
[code]

[2020-05-27 18:20] pubmikeb commented on #13348
@kaicataldo, yeah sure.
The key idea is to allow to get the ESLint config file with a set of supported rules only.

[2020-05-27 18:36] mdjermanovic commented on #13195
I'm working on this.

[2020-05-27 19:37] charvey77 commented on #13170
A quick update: I have gotten approval to update our internal version to 6.8.0. I'm qualifying our changes to see if this clears up the issue I originally reported. I'll will follow up once I have a good sample size of builds using the latest version, and how they respond to the latest ESLint version.

Thanks again for all of the feedback here! Be in touch soon!

[2020-05-27 21:27] garrett-gottlieb commented on #12822
In the meantime, you can ignore with `"no-unused-expressions": "off"`.

[2020-05-28 01:41] mdjermanovic opened #13368 "multiline-ternary "never" allows multiline ternaries"
**Tell us about your environment**

* **ESLint Version:** v7.1.0
* **Node Version:** v12.14.0
* **npm Version:** v6.13.4

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you us

[2020-05-28 19:06] nzakas commented on #13341
Thanks for the suggestion. As you mentioned, this doesn't really qualify for consideration as a new rule in the core. I was trying to consider if this would catch any errors, but it seems like this is really more of a preference. While I can't recommend any specific plugin for this rule, you can always create your own plugin to distribute it.

Thanks for your understanding.

[2020-05-28 19:06] #13341 closed

[2020-05-28 19:09] nzakas commented on #13261
Yeah, I don't see us changing the default behavior on this rule, which is one of our oldest. There are plenty of options for changing how the rule behaves, including using a disable comment. If you want to create your own version, I'd suggest looking at [eslint-rule-composer](https://github.com/not-an-aardvark/eslint-rule-composer), which lets you run an existing rule and then filter out the messa

[2020-05-28 19:09] #13261 closed

[2020-05-28 19:13] nzakas commented on #12497
@mdjermanovic do you still intend to work on this? Technically it wouldn't qualify under our [new rules policy](https://eslint.org/blog/2020/05/changes-to-rules-policies) but since you already started on it, I think we can make an exception if you intend to follow up.

[2020-05-28 19:15] nzakas commented on #10264
As already discussed, and as [announced](https://eslint.org/blog/2020/05/changes-to-rules-policies), we are no longer adding new core rules that simply disallow syntax. It's possible to use `no-restricted-syntax`, or to create your own rule to focus on just blocking this pattern.

Thanks for the discussion, everyone.

[2020-05-28 19:15] #10264 closed

[2020-05-28 19:16] nzakas commented on #12248
@kaicataldo how do you want to proceed here? According to our [new rule policy](https://eslint.org/blog/2020/05/changes-to-rules-policies) this change would be excluded, but since you championed this before the announcement we can make an exception if you have a plan for it.

[2020-05-29 02:12] zWingz opened #13369 "[prefer-destructuring] used to reassign variable"
declaration a `let` variable by object destructuring, and reassign it after, it will throw warning(error), but i don't need object destructuring

**What rule do you want to change?**
https://eslint.org/docs/rules/prefer-destructuring

![image](https://user-images.githubusercontent.com/13031838/83213459-bc069080-a194-11ea-8ef4-0b2534012bcb.png)

**How will the change be implemented? (New option, ne

[2020-05-29 03:39] #13214 closed

[2020-05-29 05:53] kaicataldo commented on #12826
Reopening this because this is a bug that results in the autofixer changing the execution of code.

[2020-05-29 05:57] kaicataldo commented on #13231
Reopening this to track any work we do to solve #2.

[2020-05-29 06:03] kaicataldo commented on #12248
It's been 14 days since I left [this comment](https://github.com/eslint/eslint/issues/12248#issuecomment-628819305) and we still haven't been able to reach consensus, so I think it's time to close it.

Thanks for the discussion, all!

[2020-05-29 06:03] #12248 closed

[2020-05-29 12:35] vipcxj commented on #13363
I think this is a bug about eslint config generate tool. I told the tool I need use typescript, react, and arnbib. but the generate config not work well. I found that arnbib config is designed to work with pure js, not typescript, I need a lot of extra config to make it work with typescript. Then I found [eslint-config-airbnb-typescript](https://www.npmjs.com/package/eslint-config-airbnb-typescrip

[2020-05-29 13:12] dennisat opened #13370 "Please provide a tslint.json example for allowAllPropertiesOnSameLine set to false"
According to [help page](https://github.com/eslint/eslint/blob/master/docs/rules/object-property-newline.md) I want every property in a new line.

So
[code]
Should be
[code]

But this
[code]
seems to not work, or it is wrong configured. Could you help?

[2020-05-29 13:27] anikethsaha commented on #13370
Thanks for the issue.

It seems working.

Check the [demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgb2JqZWN0LXByb3BlcnR5LW5ld2xpbmU6IFtcImVycm9yXCIsIHsgXCJhbGxvd0FsbFByb3BlcnRpZXNPblNhbWVMaW5lXCI6IGZhbHNlIH1dKi9cblxudmFyIHBlcnNvbiA9IHsgXG4gIG5hbWU6ICdMb2xhJywgXG4gIGFnZTogMzJcbn07Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e

[2020-05-29 14:14] mdjermanovic commented on #13370
Hi @dennisat, thanks for the issue!

I'm guessing you'd want to use [object-curly-newline](https://eslint.org/docs/rules/object-curly-newline) rule in addition to `object-property-newline`.

Please see this [demo example](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgXCJvYmplY3QtcHJvcGVydHktbmV3bGluZVwiOiBbXCJlcnJvclwiLCB7XCJhbGxvd0FsbFByb3BlcnRpZXNPblNhbWVMaW5lXCI6IGZhbHNlfV0qL1xuLyplc2xpbnQgb2

[2020-05-29 14:41] mdjermanovic commented on #13369
Hi @zWingz, thanks for the issue!

I think this option already exists, but please let me know if I didn't understand this proposal.

This rule, by default, requires `({ b } = c);` instead of `b = c.b`.

If you don't want to enforce the use of object destructuring in assignments, you can set `AssignmentExpression.object` option to `false`, for example:

[code]

[Online Demo](https://eslint.org/demo

[2020-05-29 15:17] mdjermanovic commented on #12497
I'm willing to work on this, for sure! On the other hand, I believe that this still needs a lot of additional analysis & design, and would end up being a fairly complex rule, so I definitely wouldn't mind closing this in regard to the reasons for the new rules policy.

[2020-05-29 17:34] kaicataldo commented on #12822
As [mentioned above](https://github.com/eslint/eslint/issues/12822#issuecomment-577475930), we're still blocked by ESTree deciding on the AST spec.

[2020-05-30 02:10] haykam821 commented on #13039
For people who want to stick with Gitter or IRC, perhaps a chat bridge could be set up.

[2020-05-30 03:39] #13232 closed

[2020-05-30 03:39] #13229 closed

[2020-05-30 03:39] #13201 closed

[2020-05-30 06:09] kaicataldo commented on #13039
Closing this since we now have the ability to generate TSC Meeting transcripts in Discord.

[2020-05-30 06:09] #13039 closed

[2020-05-30 09:38] zWingz commented on #13369
@kaicataldo thanks

[2020-05-30 09:38] #13369 closed

[2020-05-30 14:17] Hubro opened #13376 "Output relative paths rather than absolute paths"
**The version of ESLint you are using.**
v7.1.0

**The problem you want to solve.**
Currently when I run eslint on a directory, it groups the errors by file, and each group has the absolute path to the file at the top.

I would like to request that eslint prints the relative path to the file instead.

For example, when I run `eslint --ext ts,tsx src/` in my project root, I get several blocks like

[2020-05-30 15:52] kaicataldo commented on #13376
This seems like a bug report/feature request for VS Code.

Changing the default formatter for this specific case feels a bit like a kludge to me. I think we should stick with absolute paths in the default formatter because there's no ambiguity around which file the result is referring to, and we should always be striving for less ambiguity and less magic in the default happy path.

ESLint allows f

[2020-05-30 16:20] anikethsaha commented on #13229
Can this be open ? this issue seems reasonable

[2020-05-30 16:57] aladdin-add commented on #13364
does the [`--resolve-plugins-relative-to`](https://eslint.org/docs/user-guide/command-line-interface#resolve-plugins-relative-to) help?
also, please make sure you have installed `@typescript-eslint/eslint-plugin`. :)

[2020-05-31 00:55] richardkazuomiller commented on #13364
I'm aware of that option but it's not clear that I need it based on the documentation. I thought v7 resolved plugins relative to the configuration file that references them. `@typescript-eslint/eslint-plugin` is installed in `@my-org/eslint-config` but it only gets loaded if it is installed to the project that extends the configuration

[2020-05-31 03:39] #13236 closed

[2020-06-01 11:22] mdjermanovic commented on #13363
By the eslint config generate tool, you mean `eslint --init`?

Can you please share the steps (copy & paste the output) and the generated config file?

[2020-06-01 12:11] Hubro commented on #13376
Yes I wasn't suggesting anything should change by default, I was rather hoping that a setting existed that could affect this.

After quickly skimming the custom formatters page you linked, it seems like options can be added to formatters through environment variables. Would you be opposed to add an option like `STYLISH_PRINT_RELATIVE_PATHS=1` to make the stylish formatter resolve relative paths ra

[2020-06-01 12:39] seahindeniz opened #13378 "Lines between variable/property/any assignments"
**What rule do you want to change?**
padding-line-between-statements

**Does this change cause the rule to produce more or fewer warnings?**
Less and more warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
It doesn't hav

[2020-06-01 15:22] anikethsaha commented on #13378
Thanks for the issue.

IMO, having a `call` expression for statement type in the options might solve this issue.
I couldn't find any `STATEMENT_TYPE` for that or similar. (may I missed something.)

like this.

[code]

[2020-06-01 16:01] seahindeniz commented on #13378
I think an expression is not an assignment and can be referred to this usage:
[code]
The `no-unused-expressions` rule will be going to complain about the express usage. So I think the `prev: "expression"` config will not be a good approach here.

Allow me to provide some possible more stricted examples
[code]
[code]
[code]
[code]
[code]

[2020-06-01 16:32] nzakas commented on #12497
Okay, let's close this then. Thanks!

[2020-06-01 16:32] #12497 closed

[2020-06-01 16:39] #13181 closed

[2020-06-01 17:08] Lonniebiz commented on #13181
@nzakas Thanks. Hey, got any new books for me to buy? I always buy your books. I can proof-read too.

[2020-06-01 19:00] kaicataldo commented on #13376
I personally don't think we should be changing existing formatters at this point, particularly since custom formatters are already supported. Let's see what the rest of the team thinks.

[2020-06-01 19:08] kaicataldo commented on #13378
Since the API of stylistic rules are now frozen (please see [here](https://eslint.org/blog/2020/05/changes-to-rules-policies) for more details), we won't be able to accept this proposal. Thanks for wanting to help improve the project!

[2020-06-01 19:31] seahindeniz commented on #13378
Hi @kaicataldo
As far as I understand, we can't ask for new rules. Which is sad and acceptable due to number of rules.
But I think the issue is about adding a new statement type, not a different kind of stylistic rule that is going to increase the current number of rules. The rule that is related to this issue already exists :slightly_frowning_face:

[2020-06-01 23:43] kaicataldo commented on #13378
Thanks for your understanding. This proposal would fall under this category:

[2020-06-02 03:39] #13241 closed

[2020-06-02 03:39] #13238 closed

[2020-06-02 13:07] mysticatea commented on #13376
Actually, custom formatter cannot convert paths to relative because formatters cannot know the current working directory (`cwd` option of `CLIEngine`/`ESLint` classes). They can use `process.cwd()`, but I'm not sure if it's safe.

I wonder if we should support to access `cwd` from formatters.

[2020-06-02 13:35] Hubro commented on #13376
In what scenario would it not be safe to use `process.env.PWD`? (Is there any practical difference between that and `process.cwd()`?)

I mean, if the user explicitly clears the environment before calling ESLint it would be unavailable:

[code]

But all shells (afaik) will always make PWD available to subprocesses, even when called with an empty environment and without *any* initialization scripts:

[2020-06-02 17:20] nickofthyme opened #13381 "prefer-destructuring after delcaration"
**What rule do you want to change?**
[`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring)

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New behavior

**Please provide some example code that this change will affect:**
When a variable (`color`), is declared prior

[2020-06-02 17:42] nickofthyme opened #13382 "prefer-destructuring maxIndex option"
**What rule do you want to change?**
[`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring)

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option to add to second options with `enforceForRenamedProperties`, something like `maxIndex`.

**Please provide some exa

[2020-06-02 18:31] hbergren commented on #13229
Echoing @anikethsaha , can this issue be re-opened?

[2020-06-02 18:47] nickofthyme opened #13383 "prefer-destructuring function parameters"
**What rule do you want to change?**
[`prefer-destructuring`](https://eslint.org/docs/rules/prefer-destructuring)

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option to add to second options with `enforceForRenamedProperties`, something like `enforceFunctionParameters`.

**Please

[2020-06-02 21:47] ghostrib opened #13384 "Indent rule - flatTernaryExpressions set to true falsely reporting errors"
**Tell us about your environment**

* **ESLint Version:** v7.1.0
* **Node Version:** v10.15.3
* **npm Version:** v6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2020-06-02 21:57] vjpr commented on #3458
If you are working in a monorepo, your natural instinct is to bundle all your plugins, extends, and rules into a single dependency to declutter your dependencies, and share this amongst all your packages. But it seems this is not possible.

I would assume that most people would come to eslint thinking that the config would behave the same as babel where you can do `require.resolve('plugin')` or `r

[2020-06-03 00:20] octogonz commented on #3458
@vjpr I solved it using the monkey patch described [in this comment](https://github.com/eslint/eslint/issues/3458#issuecomment-516716165). It patches ESLint's module resolution to work the way you would expect.

I later opened PR https://github.com/eslint/eslint/pull/12460 to propose integrating this feature into ESLint, however that PR got hamstrung by the RFC process.

I gave up because the monk

[2020-06-03 00:53] vjpr commented on #3458
@octogonz The workaround I posted works is currently working for me. Need to patch IntelliJ though because its missing one line config option [here](https://youtrack.jetbrains.com/issue/WEB-43692).

[2020-06-03 04:10] kaicataldo commented on #13378
I'm going to go ahead and close this, but we appreciate your willingness to contribute, regardless!

[2020-06-03 04:10] #13378 closed

[2020-06-03 04:11] kaicataldo commented on #13376
Ah, I didn't know this. That seems like information a formatter should have, given that filepaths are such an important part of reporting results.

[2020-06-03 05:18] octogonz commented on #3458
I did consider `--resolve-plugins-relative-to` but for our case it had a couple issues:
- It can only resolve relative to one thing -- what if you have more than one shared package?
- CLI parameters aren't discoverable by ESLint tools such as the VS Code add-in. Even if the add-in provides some setting that can modify the CLI, it's going to be a proprietary feature that is different for each edito

[2020-06-03 06:28] mysticatea commented on #13376
@Hubro Our [Node.js API](https://eslint.org/docs/developer-guide/nodejs-api#%E2%97%86-new-eslint-options) has `cwd` option and users can give arbitrary path as cwd. ESLint uses the given cwd at all. But, currently, formatters cannot access that cwd. So we should support to access cwd from formatters.

@kaicataldo I will write an RFC for that.

[2020-06-03 07:49] MaximeBernard opened #13385 "ESLint couldn't determine the plugin uniquely."
I'm trying to upgrade to eslint@7.1.0 but some breaking changes in the plugin resolution seems to get in the way.
I'm using a monorepo with **yarn workspaces** and the **noHoist** setting.
My current tree looks like this

[code]
but when I run `yarn workspace app lint`
[code]
My packages .eslintrc configuration files are just
[code]
which are supposed to help us load specific plugins per package (

[2020-06-03 10:47] anikethsaha commented on #13383
Thanks for the issue.

IMO, this would need type information for the function parameters to know whether they can be destructible or not.

May be this is a suitable enhancement for TS side, i.e. [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint)

let me know if I missed any

[2020-06-03 11:07] anikethsaha commented on #13382
Thanks for the issue,

Though I have never seen any code which accesses a long index, if it does so,  this seems good enhancement.

[2020-06-03 11:15] anikethsaha commented on #13384
May be because the colons (`:`) are the leading instead of trailing ?

[I guess this  is the explanation 🤔 ](https://github.com/eslint/eslint/blob/master/lib/rules/indent.js#L1176-L1189)

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgaW5kZW50OiBbXCJlcnJvclwiLCAyLCB7IFwiZmxhdFRlcm5hcnlFeHByZXNzaW9uc1wiOiB0cnVlIH1dKi9cblxuY29uc3QgdGVzdCA9IChhLCBiKSA9PiB7XG4gIGNvbnN0IHJlc3VsdCA9IFxuICAgIGEub

[2020-06-03 13:37] nickofthyme commented on #13383
Ok thanks. But couldn't you infer the type when each parameter is used.

[code]
In this case, the `p1` argument is not passed anywhere in the function as the object, only taking `foo` from the object. In such case, you can assume the destructuring of `p1` is allowable, right? And in this example, `p2` is not detructurable because we don't know the type and nothing in the signature tells us about t

[2020-06-03 13:39] nickofthyme commented on #13382
Yeah, I guess you're right, it may be seldomly seen. I only came across it accessing mock data for jest tests.

[2020-06-03 15:17] ghostrib commented on #13384
I think you're right. The label "flatTernaryExpressions" is a little confusing then.

[2020-06-03 19:49] binoche9 commented on #12924
@kaicataldo Would you be willing to consider this idea? If I'm understanding correctly, the proposed behavior would match [arrow-return-shorthand from TSLint](https://palantir.github.io/tslint/rules/arrow-return-shorthand/), and would thus help those migrating from TSLint.

[2020-06-03 23:28] ajmas opened #13388 "False positive no-unused-vars on import in custom.d.ts"
**Tell us about your environment**

Node version: v12.16.2
npm version: v6.13.6
Local ESLint version: v6.8.0 (Currently used)
Global ESLint version: Not found
OS: macOS 10.15.5

**What parser (default, Babel-ESLint, etc.) are you using?**

 default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual

[2020-06-04 03:39] #13253 closed

[2020-06-04 10:08] janosh commented on #12670
I'm still seeing `'globalThis' is not defined. eslint(no-undef)` in v7.1.

From reading [the release notes](https://eslint.org/blog/2020/05/eslint-v7.0.0-released#enhancements), I thought support for `globalThis` landed in v7. Am I missing something?

[2020-06-04 10:20] borekb opened #13389 "Respect .gitignore files by default?"
#### Current situation

ESLint has several features around ignoring things, e.g.:

- `.eslintignore`
- some built-in rules like ignoring `node_modules` automatically (this changes over time, see e.g. [7.0.0 release notes](https://eslint.org/blog/2020/05/eslint-v7.0.0-released))
- `ignorePatterns` in config files
- `--ignore-path`

Still, it's currently quite hard to configure ignore rules correctl

[2020-06-04 10:21] borekb commented on #13389
Similar Prettier proposal: https://github.com/prettier/prettier/issues/4081.

[2020-06-04 11:57] yeonjuan commented on #13381
@nickofthyme
Hi :) Maybe [`AssignmentExpression` option](https://eslint.org/docs/rules/prefer-destructuring#options) is helpful to you
* [online-demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci1kZXN0cnVjdHVyaW5nOiBbXCJlcnJvclwiLCB7QXNzaWdubWVudEV4cHJlc3Npb246IHsgYXJyYXk6IHRydWUsIG9iamVjdDogZmFsc2UgfX1dICovXG5cbmxldCBjb2xvcjtcbmlmIChzcGVjLmNvbG9yICkge1xuICAgY29sb3IgPSBzcGVjLmNvbG9yO

[2020-06-04 12:07] yeonjuan commented on #13381
I'll mark it as a "question" since it seems already support the proposal. If I miss something, please leave a comment.

[2020-06-04 12:19] yeonjuan commented on #13388
@ajmas
Hi :)  some eslint rule does not work properly with typescript code.
What about use [typescript-eslint/no-unused-vars](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-unused-vars.md) instead?

[code]

[2020-06-04 13:34] yeonjuan commented on #13382
Hi :) @nickofthyme
I'll mark it as "evaluating" since it needs the [consensus](https://eslint.org/docs/maintainer-guide/issues#consensus) of the team members.

I do not strongly disagree with this option.
but IMO, directly accessing array by large literal index seems quite a unique case where [eslint-disable comment](https://eslint.org/docs/2.13.1/user-guide/configuring#disabling-rules-with-inline

[2020-06-04 13:41] nickofthyme commented on #13381
Hey @yeonjuan, thanks for the comments.

Ideally, I would like to avoid disabling object `AssignmentExpression` just for this case. But if you think this is not an enhancement, that is fine with me.

You are right about the `({ color }) = spec)` I didn't think about that, ugly but it works. 👍

[2020-06-04 13:42] nickofthyme commented on #13382
@yeonjuan Thanks for the update. Sounds good, I'm in no hurry 👍.

[2020-06-04 13:54] Shinigami92 opened #13390 "valid-jsdoc respect type guard"
**What rule do you want to change?**

valid-jsdoc

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

Be less strict

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Print warning for valid type guard return t

[2020-06-04 14:13] yeonjuan commented on #13390
Hi :) @Shinigami92
`require-jsdoc` is deprecated in eslint core since ESLint v5.10.0. - details in [here](https://eslint.org/blog/2018/11/jsdoc-end-of-life#current-jsdoc-support-in-eslint)

As described in the docs, `valid-jsdoc` will no longer be updated.
Alternatively, there is an [eslint plugin for jsdoc](https://github.com/gajus/eslint-plugin-jsdoc) (I'm not sure the plugin contains exactly sa

[2020-06-04 14:14] #13390 closed

[2020-06-04 15:38] und3fined-v01d commented on #13349
Hey guys I am looking to contribute to ESLint. I would like to work on this issue however based on what I read, I am not sure if this requires just a documentation fix. Can anyone appropriately guide me to work on it. I have already set up ESLint on my machine.

[2020-06-04 17:10] kaicataldo commented on #13349
This is marked as accepted for a documentation update, though I do think this is unclear behavior.

[2020-06-04 17:16] kaicataldo commented on #13382
The team has made the difficult decision to freeze stylistic rules (please see https://eslint.org/blog/2020/05/changes-to-rules-policies for more details), and we unfortunately won't be able to accept this proposal.

The good news is that this should be fairly easy to enforce by creating a custom rule using [eslint-rule-composer](https://www.npmjs.com/package/eslint-rule-composer)!

Thanks for con

[2020-06-04 17:16] #13382 closed

[2020-06-04 17:20] yeonjuan commented on #13382
@kaicataldo oops. Sorry for mislabeling

[2020-06-04 17:24] anikethsaha commented on #13382
it is a stylistic rule indeed. in rule's meta it is written as [`ECMAScript 6`](https://github.com/eslint/eslint/blob/master/lib/rules/prefer-destructuring.js#L17)

Shouldnt this be `Stylistic Issues`?

[2020-06-04 17:36] nickofthyme commented on #13382
No worries, Thanks @anikethsaha, @yeonjuan and @kaicataldo for the consideration. I think I might just start my own custom plugin to expand my personal preferences on top of all the amazing work y'all are doing.

Just for clarity, how do you define a _stylistic rule_?

[2020-06-04 17:44] kaicataldo commented on #13382
@anikethsaha Can you clarify what you mean? Not sure I understand.

@nickofthyme Thanks for your understanding. ESLint was intended to have a very small core rule set with the idea that folks could make their own rules to enforce whatever they would like to!

Stylistic rules are ones that don't warn about a potential problem. As an example, this rule enforces a preference rather something that mig

[2020-06-04 17:46] anikethsaha commented on #13382
@kaicataldo [this](https://github.com/eslint/eslint/blob/master/lib/rules/prefer-destructuring.js#L17) should be `Stylistic Issues` right ?

[2020-06-04 17:47] kaicataldo commented on #13381
FWIW, I think this rule shouldn't exist at all. There are times when member access is clearer than destructuring, and vice versa, and always enforcing one or the other, while consistent, leads to harder-to-read code, in my opinion.

[2020-06-04 17:49] kaicataldo commented on #13382
I do think we should get rid of the ECMAScript 6 category, but since it exists, I think this is correctly categorized.

[2020-06-04 17:51] kaicataldo commented on #12670
Do you have the [`es2020` environment](https://eslint.org/docs/user-guide/configuring#specifying-environments) enabled?

[2020-06-04 17:54] janosh commented on #12670
@kaicataldo Ah, that was the missing piece. Thanks a lot!

[2020-06-04 17:58] anikethsaha commented on #13382
sorry if I am not understanding, but this rule is a stylistic rule right ? so the category should be same ?

[2020-06-04 18:00] kaicataldo commented on #13389
You can always feel free to create another RFC, but for some more context, this was recently discussed in [this RFC](https://github.com/eslint/rfcs/pull/9#issuecomment-636955833).

[2020-06-04 18:01] #13381 closed

[2020-06-04 18:02] kaicataldo commented on #13382
We also have the ECMAScript 6 category, and so this could fit in either (it looks like we have other ES2015 syntax-specific rules in the stylistic section). For consistency and ease of understanding, I do think it would be better to get rid of the ECMAScript 6 category and move all those rules into the other, more descriptive categories. If you'd like to make an issue for that, feel free!

[2020-06-04 18:05] anikethsaha commented on #13382
ahh, I see.

yea I will make an issue soon.

[2020-06-04 18:38] borekb commented on #13389
@kaicataldo Thank you, I even saw that RFC but missed that it also discusses `.gitignore`. There are probably many other things that that RFC tackles but I'll post my comment there anyway. Thanks again.

[2020-06-04 18:45] hbergren opened #13391 "Add `maxWarnings` as a configuration option"
**The version of ESLint you are using.**
`7.1.0`

**The problem you want to solve.**
I want to be able to set `maxWarnings` property in a `.eslintrc.js` file, and not just on the command line.

**Your take on the correct solution to problem.**
`reportUnusedDisableDirectives` can be set in the configuration file or as a command line option. I think `maxWarnings` should be handled the same way.

**A