[2016-07-16 15:05] platinumazure commented on #6693
Seems like this is something our TSC should discuss.

Worth noting that this is really about espree, the default parser for ESLint.

[2016-07-16 16:40] ljharb commented on #6693
Thanks, would you prefer I file it there? My hope was that it'd be an eslint policy, in the case that eslint ever switches its default parser.

[2016-07-16 17:25] alberto commented on #6693
I think we can discuss it here. I'm also removing the `tsc agenda` label for now. We can add it later if we can't reach consesus here.

@ljharb this doesn't seem accurate:

As you said it's not until stage 4 that at least two browsers have implemented it. I understand there can be a span when 2 browsers have implemented it but the proposal hasn't moved yet into stage 4. But adding stage 3 support

[2016-07-16 17:46] ljharb commented on #6693
@alberto Stage 4 requires a TC39 meeting; which means that it can be shipping in 2+ browsers for many months before that happens.

I agree, adding support in stage 3 means it would be before any browser has implemented it - but that's kind of the point :-) ideally a linter can help locate problems before it's too late for browsers to adapt to them.

[2016-07-16 18:01] btmills commented on #6691
The object `align` option applies to properties that are in a group and can be aligned. Try the `case1.js` config on this:

[code]

Since `foo` and `align1` are the only properties on adjacent lines in the same object literal, they're the only ones where `align` applies. All of the other properties are individual and will follow the rules for a `multiLine` object literal. Assuming that modified ex

[2016-07-16 19:43] whizark commented on #6691
@btmills Thank you for you explanation.  I had a slight misunderstanding about *align*... :flushed:
I tried to lint the first code in [align and multiLine](https://github.com/eslint/eslint/blob/67c3cc2fa655e9e92e01d7a88e9a9d60cd4a4ce9/docs/rules/key-spacing.md#align-and-multiline) with `case1.js` config and the code actually passed, so I also tried to lint another code based on the code above.

[c

[2016-07-16 19:47] acontreras89 commented on #3587
Go for it, @onurtemizkan :smiley:

[2016-07-16 20:07] btmills commented on #6691
@whizark is right - `align` isn't respecting its own `mode` at all, and is instead using `multiLine`'s `mode` value.

Two steps to fixing this:

1. Change the schema to allow `mode.align`. Right now just `multiLine.align.mode` is permitted.
2. Change the code so that `mode` uses `align`'s setting, if present, when properties are part of a group.

[2016-07-17 07:45] mattkrick opened #6695 "object-curly-spacing "never" fails when "exporting from""
**What version of ESLint are you using?**
3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
no error

**What actually happened? Please include the actual, raw output from ESLint.**
`There should be n

[2016-07-17 11:37] alberto commented on #6695
That syntax is still experimental and not supported directly by `eslint`. You should open an issue in `babel-eslint`

[2016-07-17 11:37] #6695 closed

[2016-07-17 11:48] FredyC opened #6697 "Rule arrow-body-style with "as-needed" kinda forces long lines of code"
**What version are you using?**
eslint: 2.9.0
eslint-plugin-babel: 3.2.0

**What did you do?**
[code]

**What happened?**
_Unexpected block statement surrounding arrow body. (arrow-body-style), Line 1, Column 1_

Rule is configured as: `"arrow-body-style": [1, "as-needed"]`

**What did you expect to happen?**
Essentially I want to keep explicit return here, because it's harder to understand it at

[2016-07-17 12:27] alberto commented on #6697
You can break the body in multiple lines like
[code]

[2016-07-17 12:30] alberto commented on #6693
That looks like a bug in the TC39 scheduler 😜

[2016-07-17 12:33] cristian-sima commented on #5959
Any update on this auto-fix?

It is so frustrating to add them manually :)

I think as long as you detect them, there should not be very difficult to add a `\n` at the end of the var block

[2016-07-17 12:53] FredyC commented on #6697
Thanks, but I don't like that much either.

[2016-07-17 15:39] lukeapage commented on #6619
I wanted this rule (newline-between-switch-case), but didn't want to wait for this to be accepted, so have implemented in a plugin - https://github.com/lukeapage/eslint-plugin-switch-case
Please feel free to use the code as the basis for putting this rule in core (might need a bit more tidying/documentation/code formatting)

[2016-07-17 18:54] not-an-aardvark opened #6698 "`valid-typeof` does not report invalid comparisons to `undefined`"
**What version of ESLint are you using?** 3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expect ESLint to report an error, since the global `undefined` value is not a valid typeof comparison.

**

[2016-07-17 18:56] mysticatea opened #6699 "no-use-before-define has false negative"
**What version of ESLint are you using?**

- v3.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

- Linted the following code:

[code]

**What did you expect to happen?**

`no-use-before-define` rule should warn references on `ForOfStatemen

[2016-07-17 18:59] ilyavolodin commented on #6698
How should we handle the case like this:

[code]

ESLint is a static analysis tool. We can't track values of variables, and `undefined` can be reassigned when using ES3.

[2016-07-17 19:05] ljharb commented on #6698
`undefined` can be redefined everywhere, except in the global scope in ES5+.

That said, eslint certainly should be able to track the values of variables in the same file, and couldn't `var undefined`, `let undefined`, or `const undefined` being present cause the requested warning to be skipped?

[2016-07-17 19:20] not-an-aardvark commented on #6698
Thanks for the explanation @ilyavolodin; I had forgotten that it was possible to redeclare `undefined` as a local variable.

Based on [this table](https://kangax.github.io/compat-table/es5/#test-Immutable_globals_undefined), it seems like all modern browsers don't allow `undefined` to be redeclared in the global scope. I'm unsure of whether ESLint supports any of the environments that do allow red

[2016-07-17 20:01] ilyavolodin commented on #6698
Unfortunately, tracking value in JS is not quite that easy:

[code]
We currently don't have a way to reliably track variable values. It's something we want to look into in the future, but nothing is currently available for this.

@not-an-aardvark We don't set requirements for JS support, there are plenty of sites that still have to support IE8 (or even IE6 in some cases) out there, so we can't ass

[2016-07-17 20:09] ljharb commented on #6698
@ilyavolodin would it not be reasonable to say that if a user is doing something like that, they are welcome to turn off the linter rule?

[2016-07-17 20:10] not-an-aardvark commented on #6698
@ilyavolodin Fair enough. While I understand your reasoning, it's unfortunate that we have to account for that, since I'm guessing statements such as `typeof x === undefined` are errors much more often than not.

[2016-07-17 20:16] ilyavolodin commented on #6698
@ljharb That's one way to go, but there are much simpler cases too:

[code]

In any case, while we can track variable declarations currently through Escope, it doesn't track variable values. As I said, that's something we want to look into in the future. For now we just don't have the tools required to do this.

[2016-07-17 20:19] ljharb commented on #6698
I think this would still be useful, even if there exists some edge cases it would be a false positive on. Anyone doing `var undefined =` is violating (what should be) another linter rule anyways :-p

eslint isn't just to catch errors, and most rules don't apply to every scenario, which is why they're configurable. If this was an option - especially defaulted to off - then any users who wish to red

[2016-07-17 20:22] ilyavolodin commented on #6698
Very well, that's a valid argument. I marked this issue as evaluating and enhancement. Let's see what the team thinks.

[2016-07-18 00:28] pabigot commented on #6524
@nzakas @platinumazure It doesn't look like this is getting much traction.  I've gone ahead and implemented what I need in [eslint-plugin-pabigot](https://github.com/pabigot/eslint-plugin-pabigot).  That path was much easier, as I could support both the `camelcase` and `id-match` base styles without having to worry about backwards compatibility.

[2016-07-18 00:28] #6524 closed

[2016-07-18 03:04] IanVS commented on #6557
How about breaking this up a bit, and adding an option object with keys like `one-arg` and `with-braces`?  The values for these could be `always`, or `as-needed`.  I don't love this and I'd prefer to make them booleans, but I'm not sure how to do that in a way that makes sense.  Hopefully this comment might spark a better idea.

The upshot would be making this a bit more flexible and still accommo

[2016-07-18 03:26] chenzhenxi commented on #3229
I use ignorePattern for work around this.
hope this gonna helpful.
`"ignorePattern": "^\\s*(const|let|var)\\s+\\w+\\s+\\=\\s+\\/.*\\/(|i|g|m|ig|im|gm|igm);$",`

[2016-07-18 04:41] Herst commented on #3229
@chenzhenxi Shouldn't that be forward slashes?

[2016-07-18 05:03] platinumazure commented on #6698
I definitely think `valid-typeof` should enforce comparisons against string literals, since most of the time that is the intent. If this needs to be behind an option to avoid breaking existing behavior, I would be fine with that, but I strongly believe it should be possible for users to restrict `valid-typeof` to compare against only literals containing the strings that the `typeof` operator can r

[2016-07-18 11:46] nene opened #6701 "Rule proposal: no-null"
A rule to warn when `null` literal is used anywhere in the code.

**Motivation for avoiding null**

Because of historic accident JavaScript has two null-ish values: `undefined` and `null`. The language itself uses `undefined` for any uninitialized variable and it's also the default return value of functions. Therefore one can argue that `undefined` is the natural null-value to use in JavaScript wh

[2016-07-18 13:41] #6689 closed

[2016-07-18 15:42] nzakas commented on #6690
Looking this over again, it looks like this should be a new option as we aren't actually taking about IIFEs in this case?

[2016-07-18 15:43] TheCycoONE commented on #6690
This is identical to the ```goog.scope``` case, where a particular function executes it's argument automatically. As far as I know, the only way to detect it would be to have a list of such functions.

[2016-07-18 15:48] #6616 closed

[2016-07-18 15:48] TheCycoONE commented on #6690
It's worth noting that the Google style guide requires no indentation for the function defined within ```goog.scope```.

https://google.github.io/styleguide/javascriptguide.xml#goog-scope

[2016-07-18 17:23] platinumazure commented on #6701
Hi @nene, thanks for this detailed proposal.

I like the idea of having such a rule available, but I don't know if this proposal meets the (admittedly high) [guidelines for inclusion](http://eslint.org/docs/developer-guide/contributing/new-rules#accepting-a-rule) which state, among other things, "any new rules must be deemed of high importance to be considered for inclusion in ESLint."

I can't vo

[2016-07-18 17:44] #6687 closed

[2016-07-18 18:04] platinumazure opened #6702 "Should we remove indent's autofix?"
There are a lot of issues around indent's auto-fix, including but not limited to the following:

* Comments lose their alignment with nearby code
* Behavior is completely incorrect if fixing towards or away from a tab-based setup
* Sometimes the reasoning for an indent level is unclear or possibly incorrect (at least we get questions on that sort of thing a lot); auto-fix makes that problem worse

[2016-07-18 18:05] ilyavolodin commented on #6702
I would 👍  this, but I think it would be considered a breaking change, and we can't do that until 4.0.

[2016-07-18 18:09] platinumazure commented on #6702
@ilyavolodin I can definitely see the argument, but I think the eqeqeq one was treated as a patch. Personally I think it merits at least a minor since it's a fundamental change in behavior, though.

[2016-07-18 18:15] nzakas commented on #6690
I think what we're really after here is anything in these formats:

[code]

Where both `module.exports` and `someFunction` can be pretty much anything.

[2016-07-18 18:18] nzakas commented on #6702
I'm :-1:. Indenting is one of the biggest pains for developers, so I'd rather invest the time to fixing autofix rather than removing it entirely. Like the comments indenting, for example, is probably pretty easy.

Let's see if we can get to some consensus on this issue before discussing at the TSC meeting. The TSC meeting is supposed to be for problems that we aren't able to resolve on issues, and

[2016-07-18 18:19] platinumazure commented on #6702
Adding "tsc agenda" label. This can be discussed at the same time as the other indent issue listed in the linked tsc-meetings issue.

Questions I think should be considered:
* If we don't come up with a plan for fixing or rewriting indent, should we turn off auto-fix?
* Even if we do come up with a plan, should we turn off auto-fix just due to possibility of confusion/large number of potentially i

[2016-07-18 18:28] nzakas commented on #6407
@kaicataldo why don't you start with the `object-shorthand` rule and we can follow up with the other stuff.

[2016-07-18 18:30] nzakas commented on #6701
To me this seems like a very personal preference, so I'm :-1: on inclusion in the core. This would be better as a custom rule.

[2016-07-18 18:32] nzakas commented on #6698
I think the only way we can possibly do something that makes sense is to add an option like `requireStringLiterals` that ensures the RHS is always a string. Anything else is just guessing and not appropriate for this rule.

[2016-07-18 18:33] nzakas commented on #6694
@cyChop can you please provide the actual output from ESLint that you're seeing? (I'm assuming you're reporting what you think is improper ESLint output since your expectation is that it's valid.)

[2016-07-18 18:35] nzakas commented on #6678
I agree with @mysticatea, I believe this rule is behaving as expected.

[2016-07-18 18:37] nzakas commented on #6681
In order to avoid hardcoding YUIDoc-specific logic into the rule, we could consider adding an option for tag synonyms. Something like:

[code]

I'd champion such a change as I think it will make other instances of similar problems easier.

[2016-07-18 18:41] cyChop commented on #6694
@nzakas Yes, I basically copied an example from the JSDoc's documentation, so I expected it to be valid.

Here is what ESLint tells me though:

[code]

As said above, I have no more information, so I don't know at all what I can do to fix the error.

Same error reported using gulp-eslint or eslint as integrated within IntelliJ IDEA (which is logical since they both use the installed ESLint module)

[2016-07-18 18:41] nzakas commented on #6693
@ljharb the big problem here is the overhead. Because Acorn (which Espree relies on) doesn't support anything lower than stage 4, that would mean we'd have to write the logic ourselves in Espree rather than wait for Acorn (which negates a lot of the value we get from using Acorn).

The other problem is that with stage 3, there is no way to know which ECMAScript version these features belong to. I

[2016-07-18 18:42] graingert commented on #6678
@mysticatea @nzakas what's the difference between calling a method and adding a string?

What operations are allowed on a required object?

[2016-07-18 18:42] nzakas commented on #6694
My hunch is that the parser can't parse `external:"jQuery.fn".beverages`. Do you need the quotes around jQuery.fn?

[2016-07-18 18:44] nzakas commented on #6668
I'll champion this for removing extra `"use strict"`, as I think that's helpful.

[2016-07-18 18:45] nzakas commented on #6668
@NickHeiner are you willing to submit a pull request for this?

[2016-07-18 18:46] cyChop commented on #6694
Your hunch appears to be correct. Removing the quotes does suppress the error.

But it also makes my function disappear from the generated doc, so I guess I do need them.

[2016-07-18 18:47] ilyavolodin commented on #6668
👍

[2016-07-18 18:47] nzakas commented on #6592
Proposal looks good to me. Also looks like we have a majority of TSC members giving a :+1:, so feel free to start work.

[2016-07-18 18:49] nzakas commented on #6582
@pmcelhaney we are just trying to be respectful of everyone's time. It's generally a lot less time to write up a proposal than to implement, and likewise, it's a lot less time for the team to be able to review a narrative proposal of what you're thinking than to look through the code and try to figure it out.

[2016-07-18 18:51] nzakas commented on #5136
@kewisch we never claimed to support that use case. The role of processors is transform the code into a format that ESLint can understand and then pass back the results so you can munge them however you'd like. Processors will never be allowed to know rule configurations as they are not designed to care about them. Perhaps you want to outdent your code in the processor before passing it to ESLint

[2016-07-18 18:52] nzakas commented on #3845
@HeroicAutodidact issues are closed when they are fixed, so no, this is not fixed.

@azhang496 you should feel free to work on this. I don't believe anyone is working on it currently.

[2016-07-18 18:54] nzakas commented on #6694
Okay, well this is a problem in Doctrine (the JSDoc parser) rather than in ESLint, so there's not much we can do on our side alone. Would you mind opening a bug on the Doctrine repo? https://github.com/eslint/doctrine/issues

We can leave this issue open just in case any other ESLint user ends up with the same problem.

[2016-07-18 18:55] nzakas commented on #6678
@graingert it's easier if you take a look at the constructed AST in each case. Plug them into astexplorer.net and you should be able to spot the difference.

[2016-07-18 18:57] nzakas commented on #6583
@mysticatea that looks good. Is that with a new option or by default?

[2016-07-18 18:59] graingert commented on #6678
@nzakas they are clearly different tree names, but there doesn't seem to be a reason why one is allowed and other is not.

```import x from 'foo'.default();```
does not work just as much as
[code]

[2016-07-18 19:00] ljharb commented on #6693
That's a fair concern - absolutely something in stage 3 may not make it into any given year of publication (async/await didn't make it into ES2016 and who knows if it'll get into ES2017). However, I think the thing that should be gotten away from is the concept of a "version" mattering - per-feature parser options imo are the right path forward, since "hitting stage 4" is the moment when a feature

[2016-07-18 19:01] nzakas commented on #3092
@ilyavolodin Hmmm, `padded-blocks` doesn't handle padding after blocks, only inside. The only options are "always" and "never", and those both apply to *inside* the blocks only. That's why I think a new rule is the right way to go.

[2016-07-18 19:01] nzakas commented on #6543
@sstur are you still working on this?

[2016-07-18 19:02] nzakas commented on #5858
Nice! We can probably start adding the extras to the `--init` option in ESLint at this point.

[2016-07-18 19:03] cyChop commented on #6694
Done. [Direct link to the Doctrine issue](https://github.com/eslint/doctrine/issues/166).

Thanks for having taken the time to look in on that.

[2016-07-18 19:08] nzakas commented on #6557
Do we have a champion for this?

I'd suggest we look at a configuration like:

[code]

(Generally I think "block" is a more appropriate description, but could also be `requireForBracedBody`.)

[2016-07-18 19:12] IanVS commented on #6557
@nzakas, I think we would also need `requireForMultipleArguments`, to match AirBnB style, but I like that strategy.

[2016-07-18 19:13] nzakas commented on #6693
@ljharb unfortunately, we've already found that having multiple independent feature flags for new features is a big pain for everyone (ESLint developers and users alike) and I don't see us going back to that model.

As always, if you'd be willing to invest some time in researching and prototyping some other options, we're happy to evaluate such work.

[2016-07-18 19:19] nzakas commented on #6557
@ianvs hmmm, I'm not sure I understand. You can't have multiple parameters for an arrow function without parentheses (it's a syntax error). Can you explain a bit more?

[2016-07-18 19:21] IanVS commented on #6557
Doh, of course.  I was just reading the styleguide way too literally and trying to invert it without thinking about it:

[2016-07-18 19:42] NickHeiner commented on #6668
Yep, I'll submit a PR. Out of curiosity, do you have a label other than "evaluating" you use if you've accepted the proposal?

[2016-07-18 19:46] ilyavolodin commented on #6668
@NickHeiner Yes, we have "accepted" label. We encourage people to wait until the issue is accepted, before submitting a PR, to avoid situation when we don't get consensus and have to close your PR. In order to mark an issue as accepted, we need a champion and 3 +1s from the core team. Right now we have champion (nazakas) and one +1, need to wait for 2 more before it's accepted.

[2016-07-18 19:48] NickHeiner commented on #6668
Ok, thanks for the clarification. So I will wait until I see that label before I start working on a PR.

[2016-07-18 20:08] kaicataldo commented on #6557
I can champion this!

[2016-07-18 20:20] alberto commented on #6557
👍  to `requireForBlockBody`

[2016-07-18 20:28] alberto commented on #6668
👍

[2016-07-18 20:32] captbaritone opened #6703 "Used variable is being reported as unused in a small edge case."
**What version of ESLint are you using?**

3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
Online Demo

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected to see an error on line 2 indicating that I didn't use the "replaced" version of `string`.

[2016-07-18 20:33] alberto commented on #6080
I can champion this one

[2016-07-18 20:43] platinumazure commented on #6703
Seems to me like you would just want to invoke `string.replace` for its side effects:

[code]

Am I missing something here?

[2016-07-18 20:44] platinumazure commented on #6080
I would support a rename. Double negatives would be confusing.

[2016-07-18 20:55] alberto commented on #6080
Good point, I agree. Maybe `func-spacing` or `func-parens-spacing`?

[2016-07-18 20:59] platinumazure commented on #6080
I liked the `"call-spacing"` @mysticatea had proposed. (Sorry, when I said "support" I was referring to his proposal, but I should have made that more clear.)

[2016-07-18 21:54] captbaritone commented on #6703
@platinumazure Correct. Removing the assignment is the correct fix to the code, and my concern it is showing a misleading message on a misleading line.

The self-assignment check seems to be trumping the fact that I _am_ using `string` inside this function.

[2016-07-18 21:59] platinumazure commented on #6703
Yeah, I guess I'm not sure why that was implemented as default behavior instead of an option. My vote was to have an option.

If we are going to leave this as default behavior, then I would say we should change the message for the self-assign case. Maybe something like `"Self-assigned variable 'string' is not used anywhere else"`.

[2016-07-18 22:22] mikesherov commented on #6703
I think it's a bug fix that breaks builds and so was therefore minor (not patch).

[2016-07-18 22:27] captbaritone commented on #6703
If we change the error message to "Self-assigned variable 'string' is not used anywhere else" we would also need to move it to the line where the self-assignment happens. Currently it is attached to the first instance of the variable: the function argument.

[2016-07-18 23:09] ilyavolodin commented on #6703
I'm not 100% sure I'm following the argument presented here. In the end, `string` is unused. Whether it was self assigned or not, it's still unused. Consider the following simplified example:
[code]
Should `string` not be marked as unused in this case? I'm also not sold on changing the message. Again, since self-assignment is not usage of the variable.

[2016-07-18 23:53] captbaritone commented on #6703
@ilyavolodin `string` is "used" in so far as changing the value of `string` that you pass the function will change what code gets executed inside the `replace` callback function. In my attempt to make my example minimal, I think I wrote a very confusing example. Perhaps this is a better example:

[code]

https://jsbin.com/nemidi/edit?js,console

As you can see, the `string` argument affects the ou

[2016-07-19 00:04] ilyavolodin commented on #6703
Ah, OK. This example makes much more sense. However, in this case the output of the replace function is never used. And this rule reports the error correctly. The error highlight variable declaration location, which I also think is correct. I'm not sure we can do anything else in this case.

[2016-07-19 00:20] captbaritone commented on #6703
It's true that the output of `string.replace()` is never used. But in this case the error is reported on line one where the `string` argument of `logDigits` is specified.

[2016-07-19 00:50] ilyavolodin commented on #6703
Correct. We always report location of variable declaration. In this case, variable is declared as an argument of a function. If we were to switch to the second line, we wouldn't be able to handle a case like this:

[code]

Either we would have to report 3 errors, or we report the location of the error the same way we do now, which is line 1.

[2016-07-19 01:00] ilyavolodin commented on #6081
Is this something we want to add? Can somebody provide an example of why you would want space before infix operator but not after? I do like `overrides` though.

[2016-07-19 01:03] ilyavolodin commented on #6076
I'll support it, :+1:

[2016-07-19 01:09] captbaritone commented on #6703
Got it. This is enough of an edge case, that it may not be worth discussing any further, but I wonder if this particular version of this error (unused __re__assignments) should be either a separate rule or trigger a different message.

In this case "is defined but never used" is not really true. The defined variable __is__ used. It's the reassignment that is not used. I would expect an error messa

[2016-07-19 01:13] ilyavolodin commented on #6703
The reason for reporting variable declaration is that in most cases, if the variable isn't used, it's safe to remove it. And to remove it, it's better to know where it's declared. Once you remove declaration, all the uses will be highlighted by `no-undef` rule.

Regarding error message, I don't have a strong feelings about it. In my mind, a variable is a variable, in the end, it's not used, and th

[2016-07-19 01:34] platinumazure commented on #6703
Since we iterate over all the reads of a variable and we are already discriminating between self-assignment and other uses (and only counting the latter as uses per the rule), I personally think it would be nice to track whether one or more self-assigns have occurred and change the message (without changing the report location) to note that self-assign doesn't count as use.

Or, even better, we co

[2016-07-19 02:16] ilyavolodin commented on #6703
@platinumazure I disagree, I don't think this should be an option. This is what rule was supposed to catch from the begging, it was just an oversight. As I said, the variable is unused, everything else is just details.

[2016-07-19 02:26] chenzhenxi commented on #3229
@Herst good catch, I edited my comment.

[2016-07-19 02:28] mikesherov commented on #6703
Agreed, this is why we have our semver policy. Minor can be used for bugfixes that fail builds. :-1: on reverting and :-1: on an option.

[2016-07-19 03:01] captbaritone commented on #6703
For the purposes of this discussion it might be worth drawing a distinction between a "variable", a "variable declaration" and a "variable assignment".

In this case, it seems to me that the following is true:

| Term | Used | Unused | Rational |
| --- | --- | --- | --- |
| "Variable" | ✔️ | | The `string` variable is used by the `.replace()` method's callback |
| "Variable Declaration" | ✔️ | | T

[2016-07-19 04:01] jmeas commented on #6489
@travi is this still an issue for you in 3.x?

[2016-07-19 04:23] travi commented on #6489
based on where this conversation ended, it did not sound likely that the behavior would be able to change so i simply updated my config to include the extension. has something changed to make it more flexible?

[2016-07-19 04:54] wKich opened #6705 "spaced-comment auto generated docs artefacts"
In the rule description on http://eslint.org/docs/rules/spaced-comment#always has git-conflict artefacts, something like this
[code]

[2016-07-19 09:24] vitorbal commented on #6705
Thanks, @wKich! probably it went unnoticed during a merge.

[2016-07-19 09:48] mysticatea commented on #6703
Granted, the error message is confusing in this case.

I think there are 2 solutions:

- **A:** we change the message and the location for unused reassignments.
- **B:** we separate the check of unused reassignments from this rule.

### **A:** we change the message and the location for unused reassignments.

It will move the error location to the last self-reassignment.

[code]

### **B:** we sepa

[2016-07-19 10:08] mysticatea commented on #6619
:+1: I like `newline-between-switch-case` idea. This is similar to #5949.

[2016-07-19 10:41] mysticatea commented on #6081
I don't mind to remove the `before/after` option, though, my coworker prefers `condition? value : anotherValue`-like style.

[2016-07-19 10:47] all3fox opened #6706 "What about checking commit message style with commitplease?"
ESLint follows this [commit message style][1]. If I am not mistaken, it is checked by [the following code from Makefile.js][2] when the developer manually runs `npm run check-commit` [as instructed at step 5][3]. If the check fails, the developer has to go back and slightly rewrite some local git history, rinse and repeat.

Would you like this commit message style check to happen automatically whe

[2016-07-19 10:48] mysticatea commented on #6080
I thought that `func-spacing` is confusing between call expressions and function declarations. It's the reason I chose `call` word.

[2016-07-19 11:03] mikesherov commented on #6703
I'm against a new rule for this. Unused is unused whether you've mistakenly re-assigned or not. As @ilyavolodin said, this is how this should've always worked.

Regarding the messaging, our two choices are: keep as is and singularly report where the binding was introduced, or to report ALL the instances of reassignment without use. e.g.:

[code]
either has to report line 1, or report line 1, 2, an

[2016-07-19 11:05] mysticatea commented on #6668
Hmmm, though I'm glad if it inserts `"use strict"` directive, I can understand that concern.

:+1:

[2016-07-19 11:10] alberto commented on #6080
Yeah, sorry, I lost focus on the scope.

[2016-07-19 11:11] alberto commented on #6668
@NickHeiner it's accepted now. Go for it! :)

[2016-07-19 11:14] mysticatea commented on #6583
I think it's good for default behavior.
CLI does not show the range of problems, but people can distinguish whether unreachable code(s) exist or not.

[2016-07-19 12:16] vitorbal commented on #6705
@nzakas might have something to do with the merge conflicts you mentioned during the patch release yesterday.

[2016-07-19 12:56] vitorbal commented on #6706
Hi @all3fox, thanks for reaching out!

With regards to changing our commit message format to the one from jQuery, I believe there are a couple more open questions to talk about:

- In our commit message style, the "Tag" prefix is used to determine what kind of version bump will the next release be. For instance, if there is a commit with tag "Breaking" then the next release will be a major release

[2016-07-19 13:11] danpoltawski commented on #6681
Thanks - but hmm, but its not a direct synonym because it implies more than `@return` (i.e. the return type is implicitly defined)

[2016-07-19 13:28] all3fox commented on #6706
@vitorbal thank you for such a prompt and meaningful response!

In jQuery, this "Tag" is called a "Component" and is primarily used to determine the location of the change (like "Docs", "Tests" or "Core"). It looks to me like you use it for both things: "Build", "Chore" and "Docs" primarily for location and "Breaking", "New", etc for version bump.

However, from the commitplease viewpoint the mean

[2016-07-19 14:11] alberto commented on #6676
Closing for the reasons explained above

[2016-07-19 14:11] #6676 closed

[2016-07-19 14:50] btmills commented on #6076
The proposed options make sense to me. :+1:

[2016-07-19 15:20] KeitIG commented on #1542
bump ! :)

[2016-07-19 15:23] platinumazure commented on #6081
Well, if we want to be JSCS-compatible, I don't know if we have much choice but to support before and after. @ilyavolodin Does our "JSCS-compatible" goal allow us to avoid adding options we don't think we need, even if it means the original JSCS rules are not fully implemented in ESLint?

[2016-07-19 15:28] platinumazure commented on #6706
@all3fox How many distinct commit message styles do you have to support right now?

I'm wondering if it would be possible to create a commit style format which might look something like this:

{tag}: {summary} (fixes {issue})

Which represents the ESLint summary style. Presumably jQuery style would just be {tag}: {summary}.

If you do something like that, you would only need to handle a few tokens

[2016-07-19 15:32] platinumazure commented on #1542
@seemsindie @KeitIG Please stop by our [Gitter chat](https://gitter.im/eslint/eslint) if you need help with this. Thanks!

[2016-07-19 15:33] ilyavolodin commented on #6081
@platinumazure We already skipped a few rules that were jQuery specific, that were implemented in JSCS. So I think we should evaluate all options before blindly accepting a feature.

[2016-07-19 15:34] platinumazure commented on #6081
Awesome- I didn't realize we had precedent.

In that case, my vote is to avoid before/after until we have people
demanding it.

On Jul 19, 2016 10:33 AM, "Ilya Volodin" <notifications@github.com> wrote:

[2016-07-19 15:51] laoqiren opened #6707 "the eslint makes wrong error about react"
I import a react component ,just like this:
`import HeaderComponent from './header.js';`

and then ,I render it like this:
`ReactDOM.render(<FooterComponent introContent = {introContent}/>,$('#footer')[0]);`

but the eslint makes the error: 'the HeaderComponent is defined but never been used, so I think this is a bug , wish that you can resolve this problem. Thanks.

[2016-07-19 16:08] laoqiren opened #6708 "wrong error about react"
eslint version : v3.1.1
os： windows7
I import a react component ,just like this:
import` HeaderComponent from './header.js';

and then ,I render it like this:
ReactDOM.render(<FooterComponent introContent = {introContent}/>,$('#footer')[0]);

but the eslint makes the error: 'the HeaderComponent is defined but never been used, so I think this is a bug , wish that you can resolve this problem. Thank

[2016-07-19 16:27] platinumazure commented on #6707
Hi @laoqiren, this is a commonly asked question when using React.js. You need to use `eslint-plugin-react` and enable the rule `react/jsx-uses-vars`.

Please work with the [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) if you need any further help.

[2016-07-19 16:29] platinumazure commented on #6708
Closing as a duplicate of #6707.

[2016-07-19 16:29] #6708 closed

[2016-07-19 16:47] platinumazure commented on #6186
I might be willing to implement this if we can find a champion.`

[2016-07-19 17:02] nzakas commented on #6705
Yeah. This has to be fixed on `eslint.github.io` directly as it has to do with what is published, not what is stored in this repo.

[2016-07-19 17:07] platinumazure opened #6709 "RuleTester docs don't mention filename or settings being available"
Per [discussion on Gitter chat](https://gitter.im/eslint/eslint?at=578e5db1ac85f2507acedd37), filename and settings are [valid RuleTester test options](https://github.com/eslint/eslint/blob/master/lib/testers/rule-tester.js#L69-L73), but this is not mentioned in the [Working with Rules](http://eslint.org/docs/developer-guide/working-with-rules) documentation.

It would be good to write (small) sec

[2016-07-19 17:19] all3fox commented on #6706
[jQuery style][1] and [Angular style][2]

Well, yes and no. I am not very advanced myself, but you are beginning to describe a "context free grammar" for a commit message. [We have thought][3] about it a bit already. The tricky part in your thinking is here: "but would be able to allow consumers to choose their style in configuration", i.e. how complicated a parser are you willing to write for tha

[2016-07-19 17:34] rocketmonkeys opened #6710 ".eslintignore patterns are not excluded from globbing, so performance can be very slow"
**What version of ESLint are you using?**
v3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
Default (espree?)

**Please show your full configuration:**

In .eslintignore:

    /some/folder/with/lots/of/files/**

**What did you do? Please include the actual source code causing the issue.**
run `eslint .`

**What did you expect to happen?**
eslint should be quick, since I've exclu

[2016-07-19 17:35] rocketmonkeys commented on #5679
@platinumazure @ilyavolodin @Zarel - I've made a follow-up issue to improve on this fix here: #6710 .  I also have a very rough PR (that I'm sure isn't good yet) that I can link to on that issue.

[2016-07-19 17:49] platinumazure commented on #6706
Thanks for the thorough reply.

I don't believe I was advocating for a context-free grammar-- I was really advocating for a regular language parser, where tokens (e.g., `{tag}` in my examples) would essentially be parsed by a regex (tokenized I guess?), then the value is run through some simple predicates.

I did look at the Angular.js commit guidelines and I admit that perhaps, in order to descri

[2016-07-19 17:50] platinumazure commented on #6710
I think the dust has mostly settled from our last attempt to fix globbing of ignored directories (in the default ignore directories), so I'd love to see us take another crack at this. But we'll see what the team thinks.

[2016-07-19 17:55] nzakas commented on #6705
I'll fix this.

[2016-07-19 17:55] #6705 closed

[2016-07-19 18:26] alberto commented on #6710
Thanks for opening the issue. I think I have an idea of how to do this, so I'll take a stab at this.

[2016-07-19 18:44] markelog commented on #6524
Since this options are used in Google/Grunt code styles and was present in JSCS is there any ideas how we can achieve parity? Or we already have? If so can we add such examples in the docs?

[2016-07-19 18:54] nzakas commented on #6709
Partly a duplicate of #4810.

In the future, please provide more of a description so we don't have to jump between links. If you can provide the information directly in the comment, that's a lot more useful.

[2016-07-19 18:59] nzakas commented on #6706
We actually check the commit message format in only one place right now, which is by our bot on pull requests. The `check-commit` task is no longer run automatically because we can always fix the commit message in the PR directly. Plus, as we can now squash commits in PRs, we don't need to check every commit, just the first one.

So, I don't see a lot of value in switching to something else. I'm v

[2016-07-19 19:00] platinumazure commented on #6709
@nzakas Apologies, I was only trying to provide citations for my claims. I had thought that the description was otherwise self-sufficient, but I will try to be more clear in the future.

[2016-07-19 19:10] markelog commented on #3458
Since this was possible in JSCS and it is needed for good amount of plugin writers (including me) i think we can treat it as priority.

If no one minds i'd like to talk about this on the next TSC meeting

[2016-07-19 19:21] BobChao87 commented on #6703
The problem with reporting on only line 1 in the example proposed by @mikesherov, is that a developer might also go through the same logic as when reporting the error on only the last line. "Oh, this variable is never used, I can safely delete this declaration." And when one does so, then the `no-undef` rule fires and this is bad code. There needs to be some sort of differentiation with the messag

[2016-07-19 19:42] markelog commented on #5858
Just give me a week, i'm hoping to cover all those by that time and then i will check out what `--init` stuff is all about :)

[2016-07-19 19:50] ilyavolodin commented on #6707
Closing as the question has been answered.

[2016-07-19 19:50] #6707 closed

[2016-07-19 19:53] markelog commented on #5959
It is on my list, I even started it at one point, but there is a lot of to be done here, so i'm a will kick this up again in few weeks hopefully

[2016-07-19 19:54] platinumazure commented on #5959
@markelog Is it worth unassigning yourself in case someone else wants to jump in on this? (Or, better, is there anything other team members can take off your plate?)

[2016-07-19 20:03] lukeapage commented on #6702
I for one get daily benefit from the existing autofix. Autofix should not mean unseen - when following good coding practices code is still reviewed, hopefully before check in and before merging. So autofix not fixing comments is a pain as i have some manual work to do, but less than if i couldnt autofix.

It seems to me the fear of bad autofixing comes more from fear of issues being raised than ne

[2016-07-19 20:08] platinumazure commented on #6702
@lukeapage Auto-fix works wonderfully (for the most part) if you are in a space indent environment. If you are in a tab indent environment, it is horrendous. So it's not just fear from issues being raised-- I do have personal experience.

It is possible to disable/enable individual rules from linting, but when `--fix` is specified on the command line, all linted rules that are fixable will try to

[2016-07-19 20:13] platinumazure commented on #6623
@nzakas The problem that users have is that if we use ES6 syntax, or a dependency of ours uses ES6 syntax, an unhelpful SyntaxError is raised as soon as a module is required or imported in, and it just points out the alleged syntax error in the module. The error message is confusing and unhelpful.

The error message does not do either of these two things which might make it useful:

1. Making a re

[2016-07-19 20:27] philiiiiiipp opened #6716 "no-case-declarations examples are very similar and hard to distinguish"
Hey,

looking at http://eslint.org/docs/rules/no-case-declarations#rule-details I cannot really see the difference between correct and incorrect code. Either I am missing something or the declarations should be removed there.

[2016-07-19 20:37] platinumazure commented on #6716
@philiiiiiipp Thanks for reporting this-- at a quick glance I have to agree that there's a problem. Just wondering, why did you close this?

[2016-07-19 20:39] platinumazure commented on #6716
Never mind, I see it-- it's the braces. The point is that `case` declarations don't in themselves introduce a new block scope, so you need braces to create a new block scope.

That's extremely subtle and I think it could be improved. I'm going to reopen the issue, if that's okay.

[2016-07-19 20:44] azat-io opened #6717 "Cannot find module config"
Hi there!

I'm using ESLint `3.1.1 v.` and `eslint-cofig-standard#5.3.5`.

Here is my `.eslintrc` file:

[code]

When I'm trying to use it via console I get an error:

[code]

What's wrong?

[2016-07-19 20:49] platinumazure commented on #6717
Hi @azat-io, can you please confirm that you have installed `eslint-config-standard` globally?

If you want to run ESLint with local project dependencies (i.e., you ran `npm install --save-dev eslint-config-standard` without a `-g` flag), then you need to run ESLint locally as well.

From a shell:

[code]

Or you can simplify that by creating an npm script:

(package.json)
[code]

(on the shell)
[

[2016-07-19 20:51] platinumazure commented on #6717
Also, you may wish to review our [Installation and Usage](https://github.com/eslint/eslint/blob/master/README.md#installation-and-usage) guide in our project README. Thanks!

[2016-07-19 21:04] azat-io commented on #6717
It works locally and not works globally:

[code]

[2016-07-19 21:13] platinumazure commented on #6717
Awesome-- that means you should run ESLint locally in order for it to find your locally-installed `eslint-config-standard`. As I noted earlier, you can make this a little easier by making an npm script (but that's not required).

Closing as I believe the question has been answered. Please reopen if I have missed anything. Thanks!

[2016-07-19 21:13] #6717 closed

[2016-07-19 21:18] markelog commented on #5959
Am still planning do it, but if someone ready to start working on it right now, then yeah, re-assign away :)

[2016-07-19 23:26] nzakas commented on #6703
I'm of the mind that we should just update the docs to explain this case. The rule is behaving as intended and the only issue is that some may find the error message confusing. Error messages are short and are not meant to encompass all of the meaning on their own, that is precisely why we have documentation for rules: so we can provide more information than that single phrase can.

So I'm 👎 for a

[2016-07-19 23:27] nzakas commented on #6681
@danpoltawski fair enough. What would you propose instead?

[2016-07-19 23:29] xjamundx commented on #6427
Will open this at `eslint-plugin-standard` for now, thanks!

[2016-07-19 23:29] #6427 closed

[2016-07-19 23:32] nzakas commented on #6702
@platinumazure if there's a problem with tabs, then let's spend some time finding solutions. It sounds like you have code that relies in tabs, so do you have any thoughts on how to fix it?

FWIW, you can always disable a rule on the command line when you fix:

    eslint --rule 'indent:0' --fix .

[2016-07-19 23:33] nzakas commented on #5858
No problem. We can also do them one by one, so don't feel like they have to go in all at once. It's up to you.

[2016-07-19 23:37] SpadeAceman commented on #6703
I've been following the progression of recent changes to is rule (such as in issues #6348, #2342 and #6646), and while I agree that the rule's current behavior is generally good, an improved error message does seem warranted, based on these recent discussions.

For what it's worth, here's my suggestion:

**`assignments to variable 'string' are not used elsewhere`**

This would more clearly explain

[2016-07-19 23:41] nzakas commented on #6623
@platinumazure people already see a warning when they install ESLint on Node < 4,  so I'm curious why you think we need a second warning? We had one instance of confusion, but we get plentyof one-off issues from people who are confused about various things, so I'm not sure why this is different.

[2016-07-19 23:44] nzakas commented on #6583
Sounds good. We should make sure to update the docs to make it clear what this new behavior is.

@eslint/eslint-team we need a couple more 👍s here.

[2016-07-19 23:56] markelog commented on #6583
SGTM

[2016-07-20 00:14] ilyavolodin commented on #6583
:+1:

[2016-07-20 00:36] SpadeAceman commented on #6424
Wow @mysticatea – that example hurts my brain!

I've been using my own custom-written version of this rule since I saw it suggested here. It's helped me identify and clean up some confusing code I'd written a while back, so to me it seems like a good core rule to have. (Using multiple assignments can seem like a good implementation of DRY, but IMO what it gains in being concise it loses in being l

[2016-07-20 00:37] nzakas commented on #6710
We did say we would do this, so marking as accepted.

[2016-07-20 00:40] ilyavolodin commented on #6577
Regression build is setup and running. It will send an email to eslint-team google group whenever there's a broken build. In the future we should add more projects to it, as well as automate it to open up a new issue in this repository on the broken build, instead of sending an email.
Closing for now, since we are doing some regression testing now.

[2016-07-20 00:40] #6577 closed

[2016-07-20 00:41] nzakas commented on #6716
@platinumazure how would you improve the examples?

[2016-07-20 01:10] dacz commented on #6339
`reduce` is a function that would be nice to allow modifying `accumulator` (with the rule on).

[2016-07-20 01:13] rocketmonkeys commented on #6710
My PR (https://github.com/rocketmonkeys/eslint/pull/1) has a really naive attempt at fixing this.  It's probably all sorts of wrong, but it does work for at least my case, and speeds things up a ton.

[2016-07-20 01:45] ilyavolodin commented on #6710
@rocketmonkeys Unfortunately, it wouldn't work for all cases. .eslintignore is using gitignore style, but traversal is done using globs. While those two patterns intersect and have common syntax, they are not the same, and in a lot of cases, glob will not understand gitignore patterns. That's the reason we couldn't fix it correctly the first time around.

[2016-07-20 02:21] platinumazure commented on #6424
This seems simple enough to implement and could be useful (as a stylistic rule).

One thing that would probably help rustle up some :+1:s from the team is if you can find a prevalent style guide or a JSCS rule which disallows multiple assignments.

[2016-07-20 02:36] Zzzen opened #6718 "`no-self-assign` failing for property assignment"
**What version of ESLint are you using?**
3.1.1
**What parser (default, Babel-ESLint, etc.) are you using?**
Default
**Please show your full configuration:**
[code]
var a = 123;
a = a;

var b = { a };
b.a = b.a;
[code]

[2016-07-20 02:50] platinumazure commented on #6718
Hmm... Seems like MemberExpressions just aren't being checked, even though a lot of other kinds of self-assignments are.

@mysticatea Is there a reason MemberExpressions aren't checked in this rule, or was it maybe just an oversight?

[2016-07-20 03:33] platinumazure commented on #6716
@nzakas A couple of things come to mind:

1. Have some declarations outside of the switch, to show those are okay
1. Add comments to point out the new block scope being introduced with braces
1. Use var in case statements and explain that that is valid due to function-scope hoisting

Okay if I try to show what I mean with a PR?

[2016-07-20 03:39] platinumazure commented on #6623
I guess it's because npm produces a lot of output most of the time and I don't even notice warnings sometimes. I don't think it's reasonable to assume users will watch those carefully since npm is so lenient about version mismatching.

I do concede, though, that it would be *far* better if we could find some small, easily installed package that could do this for us, instead of actually implementin

[2016-07-20 04:26] anhkhoi commented on #2409
thanks @michaelficarra

[2016-07-20 06:31] isiahmeadows commented on #3565
@ilyavolodin Is that ever done locally? 40 threads is a lot more than how many active processes most PCs can support (even the Macbook). Maybe, ESLint might work best with about 1.5 threads per core, since ESLint still has to read files and various configs (although in a multithreaded implementation, that's less of a problem), but I'd be shocked if that wasn't at least configurable or CI-specific.

[2016-07-20 07:19] drifkin commented on #3565
It's not actually 40 different workers, it's a maximum of 40 files per worker at a time. The default number of workers is equal to the number of cores reported by Node's `os` module

[2016-07-20 07:26] isiahmeadows commented on #3565
Oh. I didn't really read the file's 284 lines that closely. Nice to know!

[2016-07-20 08:55] vitorbal commented on #6407
@kaicataldo May I suggest that we use [this jscodeshift](https://github.com/cpojer/js-codemod/blob/master/transforms/object-shorthand.js) transform to automate that. I've used it before in a pretty large codebase and it saved us a lot of time!

[2016-07-20 09:32] mysticatea commented on #6718
Thank you for this issue.
I believe simply I had forgotten MemberExpressions.

[2016-07-20 12:02] philiiiiiipp commented on #6716
1. The option of making the declarations outside seems obvious, but is probably nevertheless good to have in a complete example.
2. A comment about the braces would have solved some confusion for me in an instant.
3. You would then violate the [vars-on-top](http://eslint.org/docs/rules/vars-on-top) rule though.

I am not sure if I find it any better or worse to use only one case, since multiple ca

[2016-07-20 14:27] kaicataldo commented on #6407
@vitorbal Cool! I was planning on using our own autofix - seems like a good use case for it :) Is there a reason why you think we should use the jscodeshift transform instead?

[2016-07-20 14:36] mik01aj opened #6722 "New rule: disallow nested es6 destructuring"
The rule should warn in these scenarios:

[code]

The rule should NOT warn in these scenarios:

[code]

This rule is stylistic. Destructuring of nested objects can be confusing and is usually better written in several smaller steps.

I think it's generic enough for core.

I'm thinking also about configuration options to ignore array destructuring (then examples 3 and 4 would be valid).

I don't th

[2016-07-20 14:57] platinumazure commented on #6722
Proposal looks complete except for the configuration options to ignore array destructuring.

I do have one question about ignoring array destructure:

[code]

Should that be flagged? Can you add a few more examples along those lines to show what would be valid or invalid with the configuration option?

[2016-07-20 15:28] mik01aj commented on #6722
with `{allowArrays: true}` it should still warn in these scenarios:

[code]

but it should NOT warn in these ones (these would be invalid without the option):

[code]

[2016-07-20 15:40] jzaefferer commented on #6706
I still see some value for you in improving onboarding new contributors. The earlier a tool yells at me when I made a mistake, the better. The bot can only act after submitting a PR. Commitplease gets involved right when committing.

If you agree with that, @all3fox could take care of adding whatever extra validation is needed to make this work. So there's little effort involved for the eslint tea

[2016-07-20 18:00] #6355 closed

[2016-07-20 18:02] #6009 closed

[2016-07-20 18:13] #5231 closed

[2016-07-20 18:36] nzakas commented on #6706
@jzaefferer as I said, this really isn't a big concern for us and we don't have a lot of problems with people improperly formatting commit messages. Even so, we've found that having the bot catch it on the pull request tends to be very effective at helping people fix the commit message format. And last, we rarely ask people to update commit messages, we just fix them when we merge the PR. So, I'm

[2016-07-20 18:47] justin-calleja commented on #3640
Hi,

I'm extending a base eslint config in my .eslintrc and have overridden "no-unused-vars" with the pattern in the [doc](http://eslint.org/docs/rules/no-unused-vars#varsignorepattern):

[code]

I'm using:

[code]

But this code is still giving me a warning:

[code]

[code]

Also, the pattern I'm looking for is "anything which starts with an underscore". Would this do it: "^\_.+"

Thanks

[2016-07-20 18:49] nzakas commented on #6407
I'd actually suggest we use ESLint autofixing for that to see how far we get.

[2016-07-20 18:51] nzakas commented on #6716
@platinumazure sounds good, feel free to open a PR (documentation improvements are always welcome).

I also think that the introduction could be expanded to include an example or two -- right now it's pretty bare.

@philiiiiiipp we don't have to worry about violating other rules because we don't know which ones a user will have enabled.

[2016-07-20 19:00] nzakas commented on #6710
@rocketmonkeys you should read through the whole thread on https://github.com/eslint/eslint/pull/6215 where we discuss some of the gotchas.

[2016-07-20 19:01] nzakas commented on #6583
Assuming that @markelog's "SGTM" is the same as :+1:, marking as accepted.

[2016-07-20 19:02] nzakas commented on #6703
Changing this over to a documentation task.

[2016-07-20 19:05] nzakas commented on #6489
Sorry, lost track of this. Yeah, I think we're at the point where we're not going to make a change here. I think asking people to include extensions is reasonable given how we have to support a few different config file formats. Leaving open a couple more days to see if anyone else on the team feels strongly otherwise.

[2016-07-20 19:06] nzakas commented on #6557
Okay @kaicataldo, the power is yours!

[2016-07-20 19:09] nzakas commented on #6678
IIRC, the `require("foo").default()` case was allowed because it was pretty common, but I'm not 100% sure. It doesn't really matter in the evaluation of this proposal, though, as we can't really remove existing functionality that people might be relying on whereas we can decide not to add new functionality without paying a cost.

I'm of the mind that we shouldn't make any change here, but I'll lea

[2016-07-20 19:13] nzakas commented on #6722
@mik01aj thanks for the submission. Please take a moment to read over our guide on proposing new rules: http://eslint.org/docs/developer-guide/contributing/new-rules

Specifically, we do require proposers to implement their suggestions if accepted (we just can't be a rule factory for everyone's ideas), so your willingness to implement it is a key decision point.

My own evaluation: I don't see thi

[2016-07-20 19:18] nzakas opened #6724 "Calculate leading/trailing comments"
**Problem**

Right now, leading and trailing comments are calculated in Espree and passed to ESLint. ESLint depends on these comments from things like configuration and determining if someone has opted-out of a rule (such as providing a comment in an empty block). That works well when using Espree, but if you're using a different parser, it forces that parser to reimplement the same comment attach

[2016-07-20 19:19] nzakas commented on #6718
Are we sure that this should be a default behavior? As mentioned, properties can have getters/setters, so we need to be certain that this makes sense as a default.

And since this is flagging something that wasn't flagged before, this should be an enhancement "Update".

[2016-07-20 19:24] kaicataldo commented on #6557
Thanks! Have we decided that `requireForBlockBody` is config option name we want?

[2016-07-20 20:28] vitorbal commented on #6407
You guys are absolutely right, even better if we use our own autofixing for
dogfooding. Don't know why I didn't think of that first :S
On Wed, Jul 20, 2016 at 8:49 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-07-20 20:53] sholladay opened #6725 "Typo in error message for object-curly-newline"
**What version of ESLint are you using?**
2.13.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
[code]

**What did you expect to happen?**
Receive a grammatically correct error message.
[code]

**What actually happened? Please include th

[2016-07-20 21:02] platinumazure commented on #6725
Not sure if a rule message error counts as a bug or merely a docs change-- my assumption is bug because it involves a code change. Thus labeling bug/evaluating/rule.

I'm :+1: for this change, personally.

[2016-07-20 21:47] ilyavolodin commented on #6724
Question, does Espree currently makes a second pass to attach comments? Moving this into ESLint would require second pass. If Espree does it in a single pass, moving it into ESLint core will slow things down quite a bit.

[2016-07-20 21:50] ilyavolodin commented on #6725
It's a bug, and I don't think we need +1s for this. I'll mark it as accepted.

[2016-07-20 21:53] 10thfloor commented on #3880
Still having this issue with Node 6.3.0

[2016-07-20 23:10] mysticatea commented on #3640
http://eslint.org/docs/rules/no-unused-vars#argsignorepattern

[2016-07-20 23:30] mysticatea commented on #6725
The article is difficult for me (my language does not have it). :sweat_smile:

[2016-07-21 00:38] nzakas commented on #6724
Espree does the attaching as it parses, so there's no second pass. This calculation does add extra time to the parser -- I'll get some hard numbers when I'm able.

What I'm suggesting did not require a full traversal so it wouldn't add a second pass.

I don't believe what I'm suggesting will slow things down a lot because we will likely not be calculating comments for every node, only for the ones

[2016-07-21 00:40] nzakas commented on #6557
Yup!

[2016-07-21 00:59] ilyavolodin commented on #6724
We shouldn't evaluate idea purely on performance, but it's one of the variables that goes into the list of pros and cons. If performance isn't going to suffer greatly, I don't think it should be blocking. Out of curiosity, which parsers out there do not support attaching comments? Esprima can do it, right? So can Acorn and Babylon. Are we talking about future hypothetical parsers?

[2016-07-21 02:18] markelog commented on #5858
Config for wikimedia (eslint-config-wikimedia) created - https://github.com/markelog/eslint-config-wikimedia

Related polyjuice issue created - https://github.com/brenolf/polyjuice/issues/85

PR for the wikimedia project is opened - https://github.com/wikimedia/jquery.i18n/pull/107

--

[2016-07-21 05:19] bfred-it opened #6726 "`no-unused-vars` vs `arguments` vs default parameters"
**What version of ESLint are you using?**

3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error, `bar` is _used_ by `arguments` and it has to be defined because I'm setting its default value.

[2016-07-21 05:33] mysticatea commented on #6726
Thank you for this issue.

As far as I know, default parameters don't affect `arguments` variable. You can remove `bar` safely.

    $ node -e "function foo(a = 1) { console.log(arguments); } foo()"
    {}

[2016-07-21 05:45] bfred-it commented on #6726
Ouch, I didn't even test the function. That's unexpected but it's ES6' fault :(

[2016-07-21 05:45] #6726 closed

[2016-07-21 08:08] mysticatea commented on #6718
I removed `accepted` label by this is an enhancement. I will move forward my PR after this issue is accepted.

I think it's good for default behavior since it does not expect that self-assignments have side-effects, normally.

[2016-07-21 08:36] moll opened #6727 "Ignore files (`.eslintignore`) in parent folders _should_ be considered"
Hey,

I know https://github.com/eslint/eslint/issues/5087 and other discussions have been about removing support for `.eslintignore` files in parent folders. I'd like to propose that be changed back. It's inconsistent with `.eslintrc`which _is_ "inherited", e.g. from the home folder, and inconsistent with how Git and other tools work. I often `cd` into folders to run commands and move files. Execu

[2016-07-21 09:29] vitorbal commented on #6727
Hi @moll, thanks for reaching out. #5087 fixed a bug, `.eslintignore` was never supposed to have that behavior according to the docs and the discussion in that ticket. Because of that, I'll mark this as an `enhancement` suggestion.

I actually agree with you and think you have a valid point but I wonder if the decision for the current behavior was made due to performance reasons.
Hopefully we can

[2016-07-21 09:35] moll commented on #6727
Thanks.

An acceptable compromise would probably be to go upwards from the current directory during startup only. The common case, I presume, is people having either a project ignore file AND/OR one in the home directory. Merging them two would be a nice addition. Project-local, but nested ignores a rarer thing.

[2016-07-21 09:39] vitorbal commented on #6725
I'll take care of this.

[2016-07-21 10:07] justin-calleja commented on #3640
@mysticatea thanks! (haven't tried it out - I'll do that later. Didn't know there was an argsIgnorePattern in addition to a varsIgnorePattern).

[2016-07-21 10:59] mysticatea commented on #6724
I think, simply we can publish the package to attach comments as postprocessing to npm?

[2016-07-21 14:48] evpozdniakov commented on #3587
Still not resolved since Aug 29, 2015?

[2016-07-21 16:08] nzakas commented on #6724
@ilyavolodin my point is that we should never say, "I think this will be slow, so let's not do it." We should say, "this is the right thing to do, so let's see if we can make it work." Your opening position was that this would be slow without mentioning if you thought the idea had merit or not. We shouldn't operate like that.

I think you'rea bit confused about comment attachment. I'm talking abou

[2016-07-21 16:10] #5179 closed

[2016-07-21 16:10] #4810 closed

[2016-07-21 16:10] #6709 closed

[2016-07-21 16:12] nzakas commented on #6718
My question is, can we assume that? I'm not sure we can.

[2016-07-21 16:29] platinumazure commented on #6718
Can we put it behind a rule option so users can make that call?

On Jul 21, 2016 11:12 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-07-21 18:03] ilyavolodin commented on #6724
@nzakas Sorry, I think you misunderstood me. I haven't worked with comment attachments before, those messages above were honest questions, not sarcastic way to say we don't need this. I was trying to gather information about how this stuff currently work, to understand how proposed modification might affect it.

[2016-07-21 18:04] ilyavolodin commented on #6718
I think I would prefer this behind an option as well. Just to be on a safe side. Maybe the option can be on by default, but at least that way users will have a way to turn it off.

[2016-07-21 18:24] facboy opened #6731 "indent expects wrong indentation for logical/arithmetic expressions"
**What version of ESLint are you using?**

3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected it not to have an error about the indentation on lines 3-6

**What actually happened? Please in

[2016-07-21 18:49] nzakas commented on #6718
For best backwards compatibility, I'd suggest having the option off by default and allow people to opt-in.

[2016-07-21 19:06] platinumazure commented on #6718
:+1: to @nzakas' proposal.

[2016-07-21 20:23] epoberezkin commented on #6623
Node 0.10-0.12 is still used quite a lot. So if I want to test the package in travis with these node versions and also use eslint I have to install two node versions and manually switch them that would result in longer execution time and more complex setup. Would you maybe consider providing an optional build step that would make eslint supported by 0.10-0.12? It probably should be another issue..

[2016-07-21 20:54] nzakas commented on #6079
Per TSC meeting, we've accepted the `no-tabs` proposal.

[2016-07-21 20:56] nzakas commented on #6065
Per TSC meeting (7/21/16), marking as accepted.

[2016-07-21 20:57] nzakas commented on #6080
How about `func-call-spacing`, as I'm not sure "call" is obvious on its own?

[2016-07-21 20:59] nzakas commented on #6080
Per TSC meeting (7/21/16), marking as accepted.

Note that is proposal includes deprecating `no-spaced-func` in favor of the new `func-call-spacing` rule.

[2016-07-21 21:01] nzakas commented on #6068
Per TSC meeting (7/21/16), marking as accepted.

[2016-07-21 21:03] nzakas commented on #6076
Per TSC meeting (7/21/16), marking as accepted.

[2016-07-21 21:05] nzakas commented on #6054
I'm not sure the name makes much sense. I'd see something like `no-array-destructured-return` as being easier to understand.

[2016-07-21 21:09] nzakas commented on #6069
Do we need to check padding before? That would almost always be covered by `padded-blocks`, wouldn't it?

[2016-07-21 21:10] nzakas commented on #6053
@markelog @mikesherov @mdevils @hzoo @zxqfox can you provide some insights for @mysticatea?

[2016-07-21 21:15] alberto commented on #6075
@mysticatea do you still want plan to include the option `minColumn` from your first comment? If so, can you add some examples? I'm not sure I understand its purpose.

[2016-07-21 21:19] nzakas commented on #3458
Per TSC meeting (21-Jul-16), it would be good to get an overview of the JSCS plugin use case plus a description of how JSCS currently solves this problem. Then, we need a proposal for how to overcome the problems discussed earlier in this thread (primarily, what happens when two different versions of a plugin are required by different configs used in the same project?).

[2016-07-21 21:21] mysticatea commented on #6080
Should we need to tweak `eslint:all` preset for deprecated rules?

[2016-07-21 21:26] zxqfox commented on #6053
Nested destructures are not so easy to read as :
[code]

Guess we just need to support the basic JSCS functionality to allow users to migrate.
But personally I'd say here should be an option to restrict or require nested ones.

[2016-07-21 21:27] mysticatea commented on #6069
I had imaged the previous padding for shebang and header comment.

[code]

[code]

[2016-07-21 21:30] alberto commented on #6080
@mysticatea I think it's better to discuss that as a separate issue

[2016-07-21 21:34] ilyavolodin opened #6732 "Local vs. Global installation"
This has been brought up many times before, but the resolution was never reached. Currently if you install ESLint globally, all of the plugins need to be installed globally. And visa-versa for local installation. I believe shareable configs do not to be installed globally any more, but will be relative to the configuration file itself.
We've had suggestions to have global installation of ESLint fa

[2016-07-21 21:43] ilyavolodin opened #6733 "ESLint long-term vision"
After every major release we try to discuss features and enhancements that we want to focus on for the next major milestone. What I would like to know is what does the team thinks should be a long-term vision for ESLint? Any specific features you think are missing and should be considered? They don't have to be reachable in the near future, that's more of question about final state of ESLint as a

[2016-07-21 21:46] alberto commented on #6727
@moll doesn't `--config` solve your problem?

[2016-07-21 21:47] kaicataldo commented on #6732
I think some of the cognitive dissonance for our users is that I see a lot of us advocate using a local installation (myself included), while our documentation says to install globally. We've talked in the past about how having to understand npm and the difference between a local and global installation is a barrier for entry, but I feel like most users end up having to overcome that hurdle anyway

[2016-07-21 21:52] mysticatea opened #6734 "Proposal: 'eslint:all' preset should not include deprecated rules"
**The version of ESLint you are using:**

- 3.1.1

**The problem you want to solve:**

We have several accepted issues we will deprecate rules. (#6080, #6586)
We generate `eslint:all` preset from rule files automatically, and this would include deprecated rules.

I think `eslint:all` preset should not include deprecated rules.

**Your take on the correct solution to problem:**

1. It adds `depreca

[2016-07-21 21:53] mysticatea commented on #6080
I opened #6734.

[2016-07-21 21:58] ilyavolodin commented on #6734
Agree!

[2016-07-21 22:03] kaicataldo commented on #6724
@ilyavolodin Acorn provides a hook (check out the onComment option in https://github.com/ternjs/acorn#main-parser) that Espree uses to collect and attach comments as it parses, which allows us to process the comments in a single pass.

I love the idea of moving this into ESLint core! The fix I worked for Espree ended up having to be manually copied over to Babylon, and took a while to get merged (

[2016-07-21 22:06] platinumazure commented on #6734
Agreed: If we have deprecated a rule, the vast majority of the time we already have a preferred replacement available, so rule coverage is not lost. Regarding burden of user having to potentially configure for new rule, that burden is already accepted by the user for completely new rules by using `eslint:all`. So I definitely think we should make this change.

[2016-07-21 22:06] kaicataldo commented on #6722
I'm not entirely sure this should be in core either, but just a thought: what if the rule allowed for more fine-grained control over how many levels deep you can destructure?

[2016-07-21 22:10] kaicataldo commented on #6702
I know this issue is for autofixing in particular, but we have a very large number of issues with bug reports of the `indent` rule. Is there a larger discussion going on about how we we want to approach fixing this? Seems like it needs some attention and maybe a plan of attack (though I understand JSCS compatibility currently takes precedence).

[2016-07-21 22:28] mysticatea commented on #6623
@epoberezkin I think that linting is not required in all node versions in CI, so you can consider a use of [if-node-version](https://www.npmjs.com/package/if-node-version)-like tool.

[2016-07-21 22:35] markelog commented on #6053
How do we address nested destructuring?

Where?

Anyhow we can do this in two steps - first implement basic functionality and if there would be a request for it deal with nested stuff, I also think it could be an option disabled by default.

Also none of use actually did implementation for these rules.

@seanpdoyle Maybe you would like to help us port it these rules to ESLint?

[2016-07-21 22:40] markelog commented on #3458
Oh, there is bunch of issues then that, will try to document a proposal and tackle them when I finish with couple other issues.

Will put a JSCS label here (not sure if it needed or not), so feel free to remove it if you feel it is not appropriate here

[2016-07-21 22:51] ljharb commented on #6623
You can also configure that in your [.travis.yml](https://github.com/ljharb/is-callable/blob/master/.travis.yml#L55).

[2016-07-21 23:45] alberto commented on #6586
There is a problem with this. `no-native-reassign` is part of `eslint:recommended` so I guess we can't disable it until next major? Should we create `no-global-assign` and replace it then?

[2016-07-22 00:37] nzakas commented on #6069
I see. So then this rule's `before` would not apply in blocks?

[2016-07-22 01:42] LegNeato opened #6736 "sort-imports should treat single import of multiple style as "multiple" type"
**What version of ESLint are you using?**
HEAD

**What rule do you want to change?**
`sort-imports`

**What code should no longer be flagged as incorrect with this change?**

[code]

**What happens when the rule is applied to this code now?**
`X:Y  error  Imports should be sorted alphabetically`

**Root cause**
The rule uses `node.specifiers.length` to determine if an import is of type `multiple`

[2016-07-22 01:43] LegNeato commented on #6736
I have a patch for this.

[2016-07-22 02:51] platinumazure commented on #6736
Thanks @LegNeato! Seems like this could be a bug-- hopefully the team will accept pretty quickly. (I'm not familiar with import statements, so I don't feel comfortable accepting this myself.)

[2016-07-22 04:28] wavebeem opened #6738 "`no-unused-vars` message does not end with a period"
**What version of ESLint are you using?**

2.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I linted code and got back a message without a period.

[code]

**What did you expect to happen?**

I expected the message from the `no-unused-vars`

[2016-07-22 04:36] moll commented on #6727
As a workaround I _am_ using `--ignore-path ~/.eslintignore`, but I'm proposing the seek in parent directories were default behavior for reasons described above.

[2016-07-22 05:01] platinumazure commented on #6738
Just to avoid potential confusion for people who use the most common formatter, "stylish", it's worth noting that that formatter explicitly strips periods off the end of messages. My opinion is that we should still end lint messages with periods in general, because most or all other formatters carry those through.

@wavebeem Thanks very much for the issue and for submitting a pull request to addre

[2016-07-22 05:05] platinumazure commented on #6727
We can't allow for dynamic .eslintignores (i.e., multiple levels) because for performance reasons, we apply glob patterns and traverse directories once (linting as we go). So we can only work with one `.eslintignore` per lint run.

I do believe that we could hypothetically consider an option for looking in parent directories to *find* the one `.eslintignore` file that we could use, but with `--ign

[2016-07-22 05:29] platinumazure opened #6740 "Could we put lint messages in rule metadata?"
Inspired by #6738, where it was noticed that some of our lint messages are inconsistent about ending in periods.

I think it would be really awesome to have lint messages as a part of rule metadata. This does not have immediate benefit for linting, but it would allow us to do interesting things with auto-generated documentation, and even allow searching by error message on the site.
## Proposed AP

[2016-07-22 05:49] moll commented on #6727
My argument was for consistency and user-friendliness. The arguments to and for should be identical to `.eslintrc`s in parent or home directories.

I don't understand the reasoning for performance, though. Mind clarifying? We're talking about a linear search up the tree from the current location (at minimum) and one extra comparison while doing directory listings for recursion. Compared to the tho

[2016-07-22 08:31] mysticatea commented on #6718
Hmm, OK.
I agreed we need an option (maybe `{props: true}`), `false` by default.

[2016-07-22 08:48] vitorbal commented on #6731
Thanks for reaching out, @facboy!

I can reproduce this in the demo. Just to be clear for other readers, the second `var` declaration in the example does **not** trigger any error messages, so it might have something to do with the way the `indent` rule deals with ternary conditions and object literals.

@ilyavolodin may be of interest for you because of the `indent` rule improvement coordination.

[2016-07-22 08:49] mysticatea commented on #6733
The thing I was going to write has been already written. :laughing:
Variable type/value tracking is the feature I really want.
I will investigate it if I get enough time.

BTW, ["Control Flow Analysis for Types" of TypeScript 2.0 β](https://blogs.msdn.microsoft.com/typescript/2016/07/11/announcing-typescript-2-0-beta/#user-content-control-flow-analysis-for-types) is excellent.

[2016-07-22 08:55] alberto commented on #6727
Yes, sorry, I meant `--ignore-path`.

I am against this since:
- Ignore files are typically project specific, so I don't see this being benefitial to a lot of people.
- Making this the default option would be a breaking change, so I doubt we would do that. We would have to use some custom comment inside the file or add command-line flag.
- Parent lookup is not known to many people and catches them

[2016-07-22 09:10] mysticatea commented on #6732
For what it's worth, I have written a tutorial of ESLint in Japanese before: [The first step to using ESLint](http://qiita.com/mysticatea/items/f523dab04a25f617c87d).
In this tutorial, it's using global-installed eslint to explain, but there is a big note ("In fact, we recommend a use of local-installed eslint, but this article uses global-installed eslint to make this explanation easy.") in insta

[2016-07-22 09:52] mysticatea commented on #6069
[code]

[2016-07-22 09:55] mysticatea commented on #6069
Sorry, I click a wrong button...

I'm thinking `before` would apply if there is a comment at the top of blocks.

[2016-07-22 09:56] mgol opened #6741 "no-fallthrough: accept falls-through comments from inside if-else blocks"
**The version of ESLint you are using.**
3.1.1

**The problem you want to solve.**
I want to have the `no-fallthrough` rule enabled but sometimes still be able to fall through. This is now handled via the `// falls through` comment but it doesn't work if you use `if-else` and want to fall through only in one of those cases.

This came up while trying to migrate the [AngularJS](https://github.com/a

[2016-07-22 10:09] platinumazure commented on #6741
I believe you can avoid this (at least in your simplified case) by removing your else block:

[code]

[2016-07-22 10:19] mgol commented on #6741
The actual code is more complicated and the `else` block is not empty. See the linked Angular example.

[2016-07-22 14:28] justin-calleja commented on #3640
Works as advertised - thanks!

[2016-07-22 16:04] wavebeem commented on #6738
@platinumazure Oh, that's a good thing to call out! I was wondering why this wasn't noticed sooner, and that makes sense. I found this while making a tool that wraps ESLint, so I might have to copy that approach of trimming final periods!

[2016-07-22 16:22] mgol commented on #6407
I don't think rules requiring the use of arrow functions can be enabled in Node 4. While it does support arrows, rest params are available only from Node 5 (now EOL'd) and since arguments is not available in arrow functions that means you can't have arrows with non-specified number of arguments.

[2016-07-22 17:20] kevinSuttle opened #6742 "eslint-disable-next-line [rule] doesn't work"
❯ eslint -v
v3.1.1

**What version of ESLint are you using?**
❯ eslint -v
v3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint`

**Please show your full configuration:**
package.json:
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
<img width="792" alt="screen shot 2016-07-22 at 1 12 06 pm" src="https://cloud.githubuserconte

[2016-07-22 18:32] ilyavolodin commented on #6742
You have to specify that this rule is from react plugin, try changing your comment to this:

[code]

[2016-07-22 18:43] nzakas commented on #6724
@ilyavolodin I didn't think you were being sarcastic, I was just trying to get focus in on whether or not this seems like a good idea absent implementation concerns.

@kaicataldo cool!  Let's see if others like this idea, too. If so, I'll share some of the implementation thoughts I have.

[2016-07-22 18:45] nzakas commented on #3587
@evpozdniakov that's correct, if the issue is opened then it hasn't been resolved. The "help wanted" label indicates that it won't be done by the core team but a PR would be accepted.

[2016-07-22 18:48] nzakas commented on #6702
@kaicataldo yes, @ilyavolodin is going to review the open issues and put together an overview.

[2016-07-22 18:52] IanVS commented on #6722
:+1: Personally I've spent way too much time trying to decipher nested destructurings, and would love to see a rule like this.  Whether it's in core, or a plugin is up for debate, but I think it would be a great rule regardless.

[2016-07-22 18:52] nzakas commented on #6586
We weren't going to disable it, only deprecate it, so that shouldn't affect anyone.

This is also why I thought having one rule reference the other was a good idea, so the references act the same.

In any case, we can't change `eslint: recommended` until the next major version.

[2016-07-22 18:53] nzakas commented on #6718
That sounds good. Since this is an enhancement now, we need one more 👍

[2016-07-22 18:54] nzakas commented on #6069
Doesn't `padded-blocks` already cover that case, too?

[2016-07-22 18:56] nzakas commented on #6407
@mgol that's just one very narrow use case. I don't think that means we can't use arrow functions.

[2016-07-22 18:57] ilyavolodin commented on #6718
:+1:

[2016-07-22 18:59] nzakas commented on #6722
@ianvs the issue here is whether or not it belongs in core, not necessarily if the rule is useful. Remember, we purposely raised the bar for the core because we already have over 200 rules.

And a reminder for everyone: our job is not to determine if a rule is useful, it's to determine if it's so important that ESLint would seem incomplete without it. Our guidelines: http://eslint.org/docs/develop

[2016-07-22 19:00] kevinSuttle commented on #6742
That did it. Thanks @ilyavolodin! Might be something worth noting in the docs?

[2016-07-22 19:03] #5211 closed

[2016-07-22 19:05] #6699 closed

[2016-07-22 19:08] mgol commented on #6407
I didn't say you can't use arrow functions but that you can't **require** using them in every case where e.g. the `prefer-arrow-callback` rule would require them. Unless you never use callbacks with indeterminate number of parameters or decide to manually disable ESLint for those lines.

[2016-07-22 19:13] nzakas commented on #6740
This was discussed as part of the original metadata proposal and was dropped due to the complexity of referencing those strings from within the rule body (search for "meta" in closed PRs -- I'm sure you'll find those old discussions).

We saw the same benefits of doing this, but the logistics ended up getting in the way, so we abandoned that part of the proposal. We even  discussed something like

[2016-07-22 19:14] nzakas commented on #6734
Agree. We should document this.

[2016-07-22 19:20] danez commented on #5211
Thank you so much.

[2016-07-22 19:21] nzakas commented on #6727
The decision was made because of the complexity involved with calculating ignore paths from multiple locations. The multiple`.eslintignire` support was actually a bug that wasn't even working correctly (so, there's nothing to "restore"). The ignore process is already complicated and we've had to completely rewrite it already. It's finally stable after a long time of instability, so I'm not in favo

[2016-07-22 19:22] nzakas commented on #6741
@mgol can you include a small repro case that shows the problem you're having now and what ESLint is doing?

[2016-07-22 19:24] nzakas commented on #6725
Remember, bugs can be marked as accepted if you can reproduce. Only enhancement requests and new rules need consensus.

[2016-07-22 19:25] nzakas commented on #6738
@wavebeem do you want to submit a PR for this?

[2016-07-22 19:34] ilyavolodin commented on #6727
I agree. Cascading ignore files has been removed from ESLint before version 1.0 and this is the first time I've seen somebody asking for this feature. Which tells me it's not a priority for vast majority of users.

[2016-07-22 19:35] ilyavolodin commented on #6738
@nzakas #6739

[2016-07-22 19:35] wavebeem commented on #6738
@nzakas I already have, but it needs some work still (https://github.com/eslint/eslint/pull/6739)

[2016-07-22 19:39] alberto commented on #6407
Thanks @mgol. That's something to take into account. 👍

[2016-07-22 19:41] alberto commented on #6734
Is it ok to exclude it from `eslint:all` even if it is enabled in `eslint:recommended`? I guess yes...

[2016-07-22 19:47] alberto opened #6743 "Remove Node v5 from travis"
Node v5 is in EOL since July 1st, so we can stop supporting it.

[2016-07-22 19:47] nzakas commented on #6733
Agree with 1 & 2 completely.

For 1, my feeling is that we will likely have to fork escope in order to accomplish this unless it can be made a lot more pluggable than it is today. I also need something that can adjust to Flow/TypeScript syntax so that references are correctly understood by ESLint.

For 2, this has been on my mind a lot. Figuring out an efficient way to do multi-file linting is an

[2016-07-22 19:52] monolithed opened #6745 "valid-jsdoc: optional properties"
[code]

[code]

How to mark optional properties?

[2016-07-22 20:52] ilyavolodin commented on #6734
Yes, because we said right from the start that `eslint:all` will not be subject to semantic versioning, while `eslint:recommended` is. So we will remove deprecated rules from `eslint:recommended` with a next major release, but we can remove them from `eslint:all` at any time.

[2016-07-22 21:06] ilyavolodin commented on #6733
For number 3, what I mean is a much more robust autofixing, basically. Right now, autofixing basically changes your code to match selected style. However, once we add autofixing to simple rules, we will end up with complex cases that we can't fix automatically, because there's more then one possible way to fix a rule. For example, `init-declarations` rule will not be a candidate for autofixing, be

[2016-07-22 22:45] platinumazure commented on #6742
If this isn't covered in the docs, we should fix this. @kevinSuttle Would you mind sharing what docs you were looking at?

[2016-07-22 22:49] platinumazure commented on #6733
@ilyavolodin So maybe you're saying, what if we had definite/canonical fixes (which all rule fixes are currently assumed to be) and suggestions/possible fixes (which are not automatically applied by `--fix` but could be handled by editors via context menus)? If I'm understanding correctly, I'm intrigued by the concept.

[2016-07-22 23:02] ilyavolodin commented on #6733
@platinumazure Correct. Autofixing will stay as is for rules that can be autofixed. For rules that are too complicated to be automatically fixed we provide a set of suggestions that require user input. This would be API-only feature, and not part of the CLI, since asking user on the command prompt about suggestion would probably not be a great UX. This can be extended later to provide ability to c

[2016-07-23 00:08] gyandeeps commented on #6733
very interesting ideas @ilyavolodin :+1:

[2016-07-23 03:51] kevinSuttle commented on #6742
Sure. Neither `eslint-disable-next-line` nor the presets are here: http://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments

[2016-07-23 03:51] platinumazure commented on #6740
I should have known I wasn't the first to think of this. Sorry about that!

I would like to suggest one more possible implementation that might be less onerous to developers:

* Rule metadata still has an optional `messages` key. In this proposal, `meta.messages` must be an object if it is provided.
* `context.report()` accepts a `messageId` property, which must be one of the keys in the `messages

[2016-07-23 03:55] platinumazure commented on #6742
@kevinSuttle I do see eslint-disable-next-line in those docs, but it couldn't hurt to remind folks that plugin rules must be prefixed.

@ilyavolodin Is it worth reopening this issue (or creating a new one) to clarify the docs here?

[2016-07-23 04:44] feross commented on #6274
This issue is thorny. It's creating problems in `standard` since the user can specify their own parser. That makes it impossible for us to know what to put in our config:

[code]

Or:

[code]

Since we obviously can't put both.

Does anyone have ideas for how to improve this situation?

[2016-07-23 05:43] lukeapage commented on #6745
just guessing but maybe it supports the google closure syntax?

[code]

http://usejsdoc.org/tags-param.html

[2016-07-23 10:26] monolithed commented on #6745
https://closure-compiler.appspot.com

[code]

    get ({ provider, features = [] }) { }
           ^
JSC_POSSIBLE_INEXISTENT_PROPERTY: Property features never defined on $jscomp$destructuring$var1 at line 6 character 21
    get ({ provider, features = [] }) { }

[code]

    get ({ provider, features = [] }) { }
    ^
JSC_INEXISTENT_PROPERTY: Property provider never defined on String at line 6 char

[2016-07-23 10:57] alberto commented on #6710
My intention was to do glob ignoring only when we have an ignored folder in a glob compatible syntax (no wildcards or any special syntax? absolute path?) an we can ensure it's not unignored later.

[2016-07-23 11:19] platinumazure commented on #6274
@feross Don't forget you could have your configuration be a JavaScript file where the config object is computed at runtime and the result is assigned to `module.exports`. Would that solve your use case, or am I missing something?

[2016-07-23 12:05] hzoo commented on #6274
Kind of like https://github.com/eslint/eslint/issues/5211, another option is for the original eslint rule to account for async functions or for the logic to work such that having the presence of `async function` won't make the rule error. Could look at how someone implemented the rule in the babel plugin https://github.com/babel/eslint-plugin-babel/blob/master/rules/generator-star-spacing.js#L63.

[2016-07-23 12:21] kaelzhang commented on #6710
I found that eslint uses `glob.sync` to glob user-specified patterns.

I thought we could inherit `glob.GlobSync`(`glob.sync.GlobSync`) class, override `prototype._process` method, and use our own `childrenIgnored` method.

Our custom `childrenIgnored` could support both `minimatch` patterns and gitignore patterns.

But there is still maintainence issue.

[2016-07-23 13:48] evpozdniakov commented on #3587
I see. Lets say, I want to help. How do I start? What should I read before starting development, etc?
Thank you.

[2016-07-23 15:21] nzakas commented on #6743
One second, are you saying stop supporting or just stop testing? (These are two very different things.)

We can stop testing, but we do say we support Node 4 and higher, and we can't change that without a major release.

[2016-07-23 15:24] #6725 closed

[2016-07-23 15:27] #6583 closed

[2016-07-23 15:28] #4943 closed

[2016-07-23 17:32] nzakas commented on #6141
@ilyavolodin it looks like you objected to the proposal. Can you please explain so we can finish the discussion?

[2016-07-23 17:38] nzakas commented on #6505
@eslint/eslint-team looks like we lost track of this. Does anyone want to champion this proposal?

[2016-07-23 18:12] btmills commented on #6742
Working on this.

[2016-07-23 18:27] ilyavolodin commented on #6141
As far as I understand the proposal, this would require tri-state option. We always tried to avoid this. If this can be done with a boolean option, I'm fine with the change.

[2016-07-23 18:46] btmills commented on #6080
Working on this.

[2016-07-23 19:01] TobiasBales commented on #6505
@nzakas what exactly does champion in this case mean?
Take responsibility? That would be great.
Implement it? I already did that including tests - see #6504

[2016-07-23 19:04] hzoo commented on #6068
I can probably take this one (made the JSCS rule originally)

[2016-07-23 19:08] platinumazure commented on #6745
@monolithed You linked to the closure compiler standard- just want to note that we use Doctrine to parse JSDoc comments, and Doctrine does not claim to support all of the Closure Compiler documentation constructs. You may wish to read up on Doctrine to see if your use case is supported.

[2016-07-23 19:37] adambuczynski commented on #6583
Thanks guys :tada:

[2016-07-23 20:43] mysticatea commented on #6069
`padded-blocks` checks lines before the top comment in the block.

[code]

[2016-07-23 21:08] mysticatea commented on #6075
It was the challenge to avoid to conflict with `max-len` rule.

[code]

But this check is affected by the comma spacing setting, it's not good.
Maybe, it should be removed from this proposal.

[2016-07-23 21:24] mysticatea commented on #6076
I will work on this.

[2016-07-23 22:00] monolithed commented on #6745
I have not found the right way to describe the optional properties, so I close this issue. Feel free to reopen.

[2016-07-23 22:00] #6745 closed

[2016-07-23 22:01] btmills commented on #6736
I'm not able to reproduce this. @LegNeato any ideas?

[code]

[code]

[code]

[2016-07-24 01:11] #6738 closed

[2016-07-24 12:06] mjomble opened #6750 "ES2015 aliases for ES6?"
This is similar to #5169, but in a backwards-compatible way.

Basically, an ability to specify `ecmaVersion: 2015` that would behave just like `ecmaVersion: 6` without deprecating the value `6`.
And an `es2015` environment that would just be an alias for the `es6` one.

I understand if you think the maintenance overhead from this isn't worth it, but I wanted to check first :)

[2016-07-24 13:09] wmertens commented on #5297
Is there a chance of this getting merged after all?

[2016-07-24 16:47] boneskull commented on #5765
:+1: to this.  I was just remarking how silly the whole "writable == `true`" and "not-writable == `false`" thing is.  Gonna guess that was adopted from JSHint, which was probably inherited from JSLint.  In other words: I blame Crockford.

[2016-07-24 17:16] ljharb opened #6751 "Rule option request: `multiline-ternary` to disallow newlines"
The `multiline-ternary` rule allows me to require ternaries to be multiline - I'd like an option that requires ternaries *not* be multiline.

**What version of ESLint are you using?**
v3.1.1

**What rule do you want to change?**
`multiline-ternary`, I'd like a "disallowMutliline" option added.

**What code should be flagged as incorrect with this change?**
[code]

**What happens when the rule is a

[2016-07-24 18:09] granteagon commented on #2153
Looks like template strings aren't allowed.  I must be missing something:

[code]

I get a 'no-unused-vars' "prop" is defined but never used.

My config:
[code]

[2016-07-24 18:14] ljharb commented on #6750
Since ES7/ES2016 was the last one that was colloquially referred to by the edition number, and ES2017 likely won't be called "ES8", this seems like a good idea - provided that "edition" support stops before edition 15 :-p (and to be safe, edition 9, since ES5 could potentially be referred to as ES2009).

[2016-07-24 18:19] vitorbal commented on #6750
Thanks for reaching out, @mjomble!
I don't know how much maintenance overhead would this imply (not very familiar with that part of the codebase yet), but agreed with @ljharb that this might be a good idea.

However I don't think this would be high in priority for the team since everyone is very focused on JSCS compatibility at the moment.

Would you be willing to work on a PR for this proposal if

[2016-07-24 18:31] vitorbal commented on #5297
@benjycui Is this something you would be willing to continue work on?

@eslint/eslint-team Would anyone be against re-opening this or disagree that it's reasonable, now that we have multi-pass, to add this autofix?

[2016-07-24 18:36] efegurkan commented on #6438
@ljharb I just sent a pull request to fix this. Sorry for blocking so long :disappointed: .

The problem was the tests as we guessed before. I was not checking literal's on tests instead I was checking literals on a string. Basically /\x01/.toString() is not equal to "/\x01".toString() .

As soon as 8ffb1f0 gets aprroved you will be safe to work on the fix for #6293. Sorry for delaying again.

[2016-07-24 18:51] mjomble commented on #6750
I'd be interested in working on a PR, depending on how complex it ends up becoming :)

[2016-07-24 18:58] kewisch commented on #6620
Looks like this feature is not very well received within the team. I still think this is very useful for the general public because it allows customizing the rule, but of course I am aware that I could write my own rule (as with anything). What is the further process? Are there more team members that would vote on this, or should the issue be closed?

[2016-07-24 19:07] kripod opened #6753 "Add `requireParamTypes` option to the `valid-jsdoc` rule"
While using [babel-plugin-typecheck](https://github.com/codemix/babel-plugin-typecheck), I realized that specifying parameter types is redundant, as they can be retrieved from the [Flow](https://github.com/facebook/flow) syntax.

See [TypeDoc's DocComments](http://typedoc.io/guides/doccomments.html) for further reference about the accepted documentation format with `requireParamTypes` set to `fals

[2016-07-24 19:15] kripod opened #6754 "Add rules for FlowType annotations"
Requiring types to be specified in an entire project could greatly improve code maintainability, and unlike with TypeScript, language extensibility (with Babel) doesn't have to be sacrificed to work with type-annotated code.

[2016-07-24 19:28] mikesherov commented on #5297
:+1: reopen.

[2016-07-24 19:30] kripod commented on #6754
I just came across [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype), and it seems to fit my needs.

[2016-07-24 19:30] #6754 closed

[2016-07-24 19:54] alecharmon commented on #6731
Hey all I'm new to the community but I'll try my hand at taking this on if there are objections.

[2016-07-24 20:14] ilyavolodin commented on #6731
@alecharmon We would definitely appreciate a pull request for this issue. However, keep in mind, this is most likely part of the multiline issue with indent rule, which is much larger. You can search open issues for other reports related to multiline indentation problems.

[2016-07-25 01:33] benjycui commented on #5297
I will create a PR this weekend :-)

[2016-07-25 01:44] azhang496 commented on #3845
@nzakas after looking into this, I think it's a bit out of my depth as a newcomer to the project. will defer to anyone else who wants to work on it

[2016-07-25 01:56] azhang496 commented on #5187
i can continue work on this since that PR was never merged!

[2016-07-25 08:35] mysticatea commented on #2153
@granteagon it's just a string literal (it's enclosed by double quotes), not a template literal.

[2016-07-25 08:41] mysticatea commented on #6740
`messageId` sounds good to me.
It may make easy supporting i18n.

[2016-07-25 09:18] kripod commented on #6753
# enforce valid JSDoc comments (valid-jsdoc)
## Options

* `"requireParamTypes": false` allows missing type in parameter tags

### requireParamTypes

Example of additional **correct** code for this rule with the `"requireReturn": false` option:

[code]

Example of a use case with [Flow](https://flowtype.org/) type annotations:

[code]

---

The rule should be in the core because it extends the fun

[2016-07-25 09:59] lordgiotto opened #6755 "camelcase lint error on module import when deconstructing"
**ESLint version:**

3.1.1
___
**Rule:**

`"camelcase": [2, { "properties": "never" }]`
___
**Problem**

Lint fails on module import when deconstructing  properties and aliasing.

[code]

But with 186e8f0a555701f02ba0207e8e71b3d941de665a that rule should ignore camelcase during deconstructing.

_(I know that import deconstructing is not a real object deconstructing, but probably it should follow t

[2016-07-25 12:29] vitorbal commented on #6753
Hi @kripod, thanks for your submission. Please take a moment to read over our guide on proposing rule changes: http://eslint.org/docs/developer-guide/contributing/new-rules

Specifically, we do require proposers to implement their suggestions if accepted, so your willingness to implement it is a key decision point.

Currently, the team is very focused on improving compatibility between JSCS and ES

[2016-07-25 12:41] granteagon commented on #2153
@mysticatea Okay, but it still throws 'no-unused-vars' validation because it thinks prop is unused.  That's the problem I'm trying to solve.

![no-unused-vars](https://s3.amazonaws.com/f.cl.ly/items/210L0e3Y3S0x132l1S1u/Image%202016.07.25%208%3A38%3A06%20AM.png?v=ee15e64c)

[2016-07-25 12:46] mysticatea commented on #2153
@granteagon Yes, the `prop` is not used. So it's correct message.

    "`${ prop.icon.className }`"

is a string literal (it's enclosed by double quotes), just a text, so it's not using `prop`.

Maybe your intention is:

[code]

[2016-07-25 12:50] mysticatea commented on #6407
I'm working on this for `no-var` and `prefer-const`.

[2016-07-25 12:50] granteagon commented on #2153
@mysticatea, got it.  What I was trying to do was:

[code]

Got my syntax confused.  Thanks!

[2016-07-25 13:01] vitorbal commented on #6549
Sorry to bother you again, @nkt, could you come back to us on the questions above? Otherwise I'm afraid we don't have enough information to consider your proposal. Thanks!

[2016-07-25 13:12] mysticatea commented on #6186
I'm a champion. (and we need one more :+1:)

[2016-07-25 13:55] ilyavolodin commented on #6753
I'm slightly confused, as far as I understand, jsDoc exists for documentation purposes, and Flow for pre-compile type validation. I'm not sure I see why having Flow should affect not having good documentation. @kripod Could you explain please?

[2016-07-25 14:33] kripod commented on #6753
Good documentation could be generated by inheriting expected types from Flow syntax, and combining them with descriptions specified using JSDoc comments. Similar to how TSDoc and C#'s built-in XML documentation provider work, JSDoc should not require parameter types to be provided explicitly whether they are already clearly defined by Flow syntax.

[2016-07-25 14:52] nkt commented on #6549
Sorry for so long delay. I've updated first message @platinumazure @vitorbal

[2016-07-25 14:55] vitorbal commented on #6755
Hi @lordgiotto, thanks for reaching out!

Just verified that this is true. Even without the `properties` option set to `never`, I would expect the example code to not cause a lint error, for the same reasons outlined in https://github.com/eslint/eslint/issues/3185 for object destructuring.

So, to recap:

**Valid**:
[code]

**Invalid**:
[code]

**Invalid**:
[code]

@lordgiotto Would this be someth

[2016-07-25 14:57] michaelficarra commented on #6755
@lordgiotto The workaround you listed is wrong. It would be

[code]

[2016-07-25 15:39] mysticatea commented on #6488
I'd like to forward https://github.com/eslint/eslint/issues/6488#issuecomment-227383081.
This proposal allows people to make readable line breaks anytime. (also, this maybe resolve #6369 and #6549).

@eslint/eslint-team May I be given :+1:s, or other thoughts?

[2016-07-25 16:04] lordgiotto commented on #6755
@michaelficarra Oh, sorry, you're right! I fix it now.

@vitorbal It would be a pleasure, but to be honest I never read ESLint source code and I should at least study how it's designed before be able to send a PR. So I could do it, but i would need some time :P

[2016-07-25 16:13] ilyavolodin commented on #6753
@kripod I'm not sure if you are explaining ideal situation or what is happening right now. Are there any tools out there that would generate documentation by combining jsDoc and Flow?
And in general, ESLint doesn't naively support Flow. It's only supported through `babel-eslint`. So we would need much more generic scenario to consider adding an option to disable typing for jsDoc in the core. Other

[2016-07-25 16:18] vitorbal commented on #6620
@kewisch I don't believe there's a high chance this will be accepted into the core, in my opinion, especially since I don't think there are any popular style guides out there that advocate for this amount of granularity when it comes to template literals (please correct me if I'm wrong).

@eslint/eslint-team does anyone feel strongly in favor of this enhancement and would like to champion it?

[2016-07-25 16:32] nzakas commented on #6743
I'm reverting this change after discussion with @ilyavolodin (who merged it). Because dropping a Node version requires a breaking change, that means the TSC needs to decide as a group.

Even though Node 5 is EOL, we need to continue supporting it until we formally remove support in a major release. As such, we should continue to test until that time.

Reopening this issue for more discussion.

[2016-07-25 16:50] alberto commented on #6743
Sorry, I missed your previous comment. I meant not actively supporting it, yes. I understood that from the node 4 issue. It made sense to me not supporting it beyond upstream, but I understand your concern. I also agree that if we are going to support it we should keep testing it.

[2016-07-25 17:13] alberto commented on #6743
Where do we say that? We could also say we support any maintained node version >= 4.

[2016-07-25 17:20] ljharb commented on #6743
In general, official EOL of a platform in no way means that other things can stop supporting it - IE 10 is EOL but most websites still have to support it and will for years, for example.

[2016-07-25 17:50] BYK commented on #6549
I'm 👍 to this suggestion.

[2016-07-25 17:51] kripod commented on #6753
If I recall correctly, [documentation.js](https://github.com/documentationjs/documentation) supports Flow type annotations. I'll submit an issue for [eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) based on your suggestion, but I'm leaving this issue open for further discussion. Thank you for your assistance!

[2016-07-25 17:51] BYK commented on #6488
I'm in! :)

[2016-07-25 17:54] nzakas commented on #6743
@alberto we made a big deal about it in our 3.0.0 release: http://eslint.org/blog/2016/07/eslint-v3.0.0-released

(We should probably also add that to the README.)

We can look at changing the policy going forward, we just need to have the TSC decide as a group on such changes since any change requires a major release.

[2016-07-25 17:55] nzakas commented on #6727
It seems like we have a consensus against adding this feature, so closing.

[2016-07-25 17:55] #6727 closed

[2016-07-25 17:58] nzakas commented on #3587
@evpozdniakov this is the best place to start: http://eslint.org/docs/developer-guide/

[2016-07-25 18:02] nzakas commented on #6141
Hmm, I'm not seeing tri-state behavior here. The proposal is to add an option that suppresses all "unnecessary" warnings.

[2016-07-25 18:07] nzakas commented on #6505
@TobiasBales rule changes require a team member champion its inclusion (per our [guidelines](http://eslint.org/docs/developer-guide/contributing/rule-changes#accepting-a-rule-change)).

[2016-07-25 18:08] nzakas commented on #6068
Sweet, thanks @hzoo!

[2016-07-25 18:13] nzakas commented on #6069
Ah, I see. Got it.

👍

[2016-07-25 18:16] nzakas commented on #3845
@azhang496 no problem, thanks for giving it a shot.

[2016-07-25 18:17] nzakas commented on #6740
Sounds rational. @ilyavolodin thoughts?

[2016-07-25 18:19] nzakas commented on #6186
Looks like @michaelficarra have a 👍 On the issue, so marking as accepted.

[2016-07-25 18:22] ljharb commented on #6186
Hooray, glad this is finally going to be added :-D

[2016-07-25 19:18] ilyavolodin commented on #6141
I'm simplifying it a little bit, but right now we have two options, always require curly braces, and disallow them if it's a single statement. This adds a third state "don't care". Now, our options are not laid out that way, so maybe my concerns have no base, but when you oversimplify what this rule does, we are adding third state here, which we always tried to avoid.
Please correct me if I'm wron

[2016-07-25 19:23] ilyavolodin commented on #6740
Sounds good to me. I would love to move messages into metadata. My only concern is that we have to support both IDs and strings (for backwards compatibility), in `context.report`, so there's no way to enforce this, other then with another rule (which is not a bad idea).
Also, when I prototyped adding messages to metadata, @nzakas has a concern that metadata comes first, and report comes late in th

[2016-07-25 19:45] BYK commented on #6740
Wrapping those strings in `gettext` calls should do quite a lot for this.

[2016-07-25 21:51] hafuta commented on #3782
For those of you who still have difficulty finding the cause for this error when using the eslint plugin for VSCode, I had the same issue, eslint and eslint-plugin-react were installed locally, I verified that I don't have the eslint and the plugin installed globally but the problem still happened.
Running eslint from local installation (./node_modules/.bin/eslint) was working fine.

I've managed

[2016-07-25 23:17] platinumazure commented on #6740
I think I count 3 approvals (@mysticatea, @nzakas, @ilyavolodin) and I'm willing to champion and implement.

Regarding i18n, I propose that we agree to try to implement in an i18n friendly manner, but that we do not attempt to include i18n in this specific proposal or to choose a particular library for it in this discussion.

Regarding potential implementation, I would propose something like this:

[2016-07-26 00:40] ilyavolodin commented on #6740
Documentation update should go with step 2 as well.

[2016-07-26 00:44] platinumazure commented on #6740
Good call @ilyavolodin, edited accordingly.

[2016-07-26 00:57] platinumazure commented on #6186
Ah, I didn't see @jfmengels' comment earlier. Still want to implement? I'm out of town for a week so I won't try to stake a claim here :smile:

[2016-07-26 02:25] ratherblue opened #6759 "When running eslint from another directory and using --ignore-path, paths are not relative to .eslintignore location"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Project structure:

[code]

.eslintrc

[code]

.eslintignore

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Expected `C:\dev\eslint-bug\src\foo.js` to be ig

[2016-07-26 07:03] jfmengels commented on #6186
Yes :) I'll try to take a stab at it tonight.

[2016-07-26 08:06] danpoltawski commented on #6681
I see the concern about having a config flag for something like this and agree it's not ideal.

Discussing with my colleague, he suggested the proposal of something which looks the same as your suggestion, but doesn't imply a synonym:

`valid-jsdoc: ["error", { impliedBy: { "return": "chainable" } } ] `

Another alternative would be to allow `@chainable` to imply the return because I think its exp

[2016-07-26 08:56] vitorbal commented on #6753
I think we can continue the discussion on the [eslint-plugin-flowtype issue you opened](https://github.com/gajus/eslint-plugin-flowtype/issues/37), so I will close this. We can always re-open if anyone thinks there's still something to be discussed here.

[2016-07-26 08:56] #6753 closed

[2016-07-26 09:06] vitorbal commented on #6750
@mjomble Great!
We can accept this issue once someone on the ESLint team champions this rule and three other people endorse the change (with no one voting against it).
Hopefully we can get more feedback from the rest of the team soon.

[2016-07-26 09:08] vitorbal commented on #6751
Thanks, @ljharb, I know it can be a bit tedious, but would you mind filling in the [template for proposing a rule change](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change)?

[2016-07-26 12:27] gaearon commented on #3458
Just to add another use case example for this. We recently released [Create React App](https://facebook.github.io/react/blog/2016/07/22/create-apps-with-no-configuration.html)—a tool that creates React apps with no build configuration. Internally we use ESLint but we are intentionally keeping it non-configurable. (There is an escape hatch for people who want configuration: they can “eject” and the

[2016-07-26 13:08] gaearon commented on #3458
On a related note, I posted a proposal for a `configurator` field in `package.json`. It is intended for zero-conf tools like `standard` and `create-react-app`, and I think a convention like that could solve this issue. Please let me know what you think: https://github.com/facebookincubator/create-react-app/issues/215

[2016-07-26 13:09] mgcrea commented on #4376
I think we should also handle non `if-related` cases, eg.

[code]

enforced as

[code]

Or is there another rule to target this specific case?

[2016-07-26 13:54] mjomble commented on #6750
Cool :)

I've had a brief look at the code and having seen many checks like `ecmaVersion >= 6`, I think the first thing I'd do is add validation to the `ecmaVersion` option, locking it down to only accept a specific set of values, such as `3`, `5`, `6`, `7`, `2015` and `2016` - more could be added in future versions. And after that they could be converted to a normalized comparable form to avoid p

[2016-07-26 15:01] markelog commented on #5858
I'm not sure if `crockford` and `mdcs` require eslint packages, they do not seem popular, looking back at it, I'm puzzled of why we added `crockford` preset, since there is such thing as `eslint`.

Thoughts?

[2016-07-26 15:20] markelog opened #6762 "Dots at the end of many messages are omitted"
**What version of ESLint are you using?**
3.1.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Example for `array-bracket-spacing` but this issue is not limited to this rule only -

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Have a dot at the end -
`

[2016-07-26 15:45] ljharb commented on #6751
@vitorbal ah, sorry, i didn't realize there was a template for that as well. Will update.

[2016-07-26 15:52] platinumazure commented on #5858
The issue is mostly about adding popular presets, so (just from my own perspective) I feel we could avoid adding Crockford until requested, at least.

[2016-07-26 15:55] platinumazure commented on #6762
As I noted in another issue, be careful to check this with a formatter that isn't "stylish", which does strip periods from all messages. (The ESLint demo is a sufficient tool for checking the error messages, as well as most if not all of the other formatters.)

[2016-07-26 16:20] #6743 closed

[2016-07-26 16:22] nzakas commented on #5858
@markelog the original description just listed out all of the supported JSCS presets so we could decide which ones to support. If you feel those two aren't popular enough then we definitely don't need them.

[2016-07-26 16:32] nzakas commented on #6681
I don't think there are other situations that would apply to an "impliedBy" option, making what looks generic actually be very specific. If we are going to be specific, then we should also be explicit and do something like `impliedReturn: ['chainable']`.

@eslint/eslint-team thoughts?

[2016-07-26 16:37] nzakas commented on #6740
Just as a reminder, this is really a "nice to have," so if you have some free time, it would be great to use that on the JSCS tasks first. We can always come back to this at a later time.

(Not trying to detail, we just really need to focus our attention, both coding and reviewing, on the highest priority stuff first.)

[2016-07-26 16:40] platinumazure commented on #6740
Fair enough @nzakas, I'll re-evaluate when I get back in town. Perhaps you
would like to add a "backlog" label or similar to indicate that it is
currently a lower priority? Just a suggestion. Thanks either way.

On Jul 26, 2016 8:37 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-07-26 16:57] markelog commented on #6762
What do you mean? Can't we just check the source? If we want to act on it, then I would prefer to add `beginner` label, this issue seems perfect for the first timer

[2016-07-26 17:04] markelog commented on #6762
Looking it from the other perspective we can just remove the dots from all the rules and re-add them with reporter, this would be an opposite to the `stylish` logic.

That way, we wouldn't need to "remember" check those dots when reviewing new PRs

[2016-07-26 17:07] markelog commented on #6762
With this path though, we would need to check for absence of those dots :), but I guess reporters could check for their presence, but that wouldn't work for custom reporters then, doesn't sound like a perfect solution

[2016-07-26 17:09] markelog commented on #5858
Okay, then sounds like we good here.

@nzakas what do you think we should do with this issue? Should we close it and open different one for the `--init` flag? Or deal with it here?

[2016-07-26 17:47] nzakas commented on #6750
@vitorbal that's not accurate. The champion+3 method of decision making is only for rules. For core features, TSC support is required.

Keep in mind that these features come through from Espree, so we'd need to determine whether or not to make changes there or if it makes more sense to make them just in ESLint.

[2016-07-26 17:49] nzakas commented on #5858
@markelog I'd say just deal with it here, as it gives a nice close to the discussion and work.

[2016-07-26 17:55] ilyavolodin commented on #6141
OK, I'll withdraw my objection, since this is not `true`, `false` case. Looks like the issue can be accepted now.

[2016-07-26 17:55] nzakas commented on #6620
We have two :-1:s from the team, so I'm going to close this issue. As always, creating a custom rule to do just what you want is an option.

[2016-07-26 17:55] #6620 closed

[2016-07-26 18:03] nzakas opened #6765 "Proposal: Issue commenting period"
**Problem**

Our open issue list is growing faster than we're able to close issues. We used to try to keep open issues under 100, and then we passed 200, and now we're well on our way to 300. I don't think keeping such a long issue list is of benefit to anyone -- the older issues rarely, if ever, get resolved, and they never get any other type of attention. Most of the open issues are stuck in the

[2016-07-26 18:06] jrencz opened #6766 "Make `max-lines` report the actual number of lines"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue.**
I enabled the max-lines rule

**What did you expect to happen?**
Rule should tell me how many lines each too long file has

**What actually happened? Please

[2016-07-26 18:35] vitorbal commented on #6750
Thanks, @nzakas, sorry for the mix up! I'll have that in mind from now on.

[2016-07-26 18:41] JamesHenry commented on #6724
Well... you know _I_ love this idea 😄

[2016-07-26 19:07] alberto commented on #6702
Closing per discussion in last TSC, there are plans to try to improve the situation with the `indent` rule.

[2016-07-26 19:07] #6702 closed

[2016-07-26 19:30] jrencz opened #6769 "`object-curly-newline` non-gramatical error when line break is not expected"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue.**
I enabled the `object-curly-newline` rule

**What did you expect to happen?**
I got `47:15  error  Unexpected a line break after this open brace    object-cu

[2016-07-26 19:34] jrencz opened #6770 "`object-curly-newline` allow options common for both ObjectExpression and ObjectPattern to be defined as root level option"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
(Partial configuration for mentioned rule only)

[code]

**What did you do? Please include the actual source code causing the issue.**
I enabled the `object-curly-newline` rule

**What did you expect to happen?**
Rule works, `multiline` opt

[2016-07-26 19:37] gyandeeps commented on #6079
Working on this, require suggestions on

1. Error message
2. Should we activate this rule for eslint project

[2016-07-26 19:41] jrencz opened #6771 "`object-curly-newline` New option suggestion: enforce missing new line but not mention present new line"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue.**
n/a

**What did you expect to happen?**
n/a

**What actually happened? Please include the actual, raw output from ESLint.**
n/a

I think it would be reasonab

[2016-07-26 19:57] ilyavolodin commented on #6765
I agree. I would, however, like to propose maybe 3 week period of time. People go on vacation, or just don't have time to pay attention to issues every day, so 3 weeks seems like a reasonable amount of time to wait for feedback. I would also suggest that we go through and evaluate all issues that are currently in `evaluating` stage. It would not be fare to close them in bulk due to the fact that w

[2016-07-26 20:50] Igloczek commented on #3210
How about `const` weird behaviour?

[2016-07-26 21:51] alberto commented on #6769
Thanks for reporting, but this is fixed in master

[2016-07-26 21:51] #6769 closed

[2016-07-26 22:17] LegNeato commented on #6736
@btmills I wonder if it is because I am using `babel-eslint` and it is doing something funky?

[2016-07-26 23:00] btmills commented on #6736
That's quite possible. Can you try it with the default parser?

[2016-07-27 01:05] platinumazure commented on #6766
Seems reasonable to me. :+1:

[2016-07-27 01:28] mysticatea commented on #6766
I think helpful that the rule warns those violated lines rather than the top of files?

[2016-07-27 01:36] mysticatea commented on #6770
Thank you for this issue.

This is intentional behavior at this point.
I thought a mix of types (`ObjectExpression` and `ObjectPattern`) and other settings is confusing.

[2016-07-27 01:45] mysticatea commented on #6765
:+1:

GitHub's reaction button does not trigger notifications, but for an example, :+1: reactions are intentions of support. I'm glad that the bot will handle such reactions.

[2016-07-27 01:58] mysticatea commented on #6771
Thank you for this issue.

I think this is duplicate of #6488.
Please feel free to reopen if I misunderstood.

[2016-07-27 01:58] #6771 closed

[2016-07-27 02:29] mysticatea commented on #6751
I set JSCS Compatibility milestone since JSCS has [disallowMultiLineTernary](http://jscs.info/rule/disallowMultiLineTernary) rule.

[2016-07-27 04:08] lukeapage commented on #5837
yes thats right - I raised this on the react plugin - https://github.com/yannickcr/eslint-plugin-react/issues/716
I've created a test repo https://github.com/lukeapage/eslint-react-bug-prefer-const-716

after some investigation, as @stevoland suggested, eslint-plugin-react marks the variable with eslintUsed which then causes prefer-const to ignore the variable because of this line - https://github

[2016-07-27 04:31] mysticatea commented on #5837
@lukeapage Thank you for investigating.

`prefer-const` does not touch `var` declarations. :)
It's handling only `let` declarations.

Actually, the rule ignores variables if `eslintUsed` is `true`, because rules cannot distinguish reasons of used. (e.g., `/*exported*/` comments set `true` to `eslintUsed`)

[2016-07-27 04:36] mysticatea commented on #5837
Hmm, "used" is not modifications, so it may be no problem that we remove the check of `eslintUsed`.

[2016-07-27 04:44] lukeapage commented on #5837
How does the reasons of usage change whether prefer-const should be applied? Can you give an example?
I was going to follow up that eslintUsed could maybe instead be an array of scopes.. but do you have a better idea?

[2016-07-27 05:25] mysticatea commented on #5837
I'm sorry, I was confused. I found my memory.
Originally, `prefer-const` was warning the following patterns:

[code]

But in the following case (i.e., if there is read before write), the rule should not warn the code.

[code]

Now, in the following case, if variable `a` is "eslintUsed", the rule cannot check the location of the read.

[code]

So, I wrote the condition `!(variable.eslintUsed && var

[2016-07-27 05:29] mysticatea commented on #5837
But currently, `prefer-const` does not warn variables if the variable is initialized in the another scope from the declaration.

[code]

So probably we can remove the check of `eslintUsed` simply.

[2016-07-27 05:40] ljharb commented on #5837
Just to confirm, `prefer-const` should however still *not* warn on:
[code]

[2016-07-27 05:55] mysticatea commented on #5837
@ljharb It would be warned by default. It can be modified to:

[code]

Also, we can make the rule ignoring that case by [ignoreReadBeforeAssign](http://eslint.org/docs/rules/prefer-const#ignorereadbeforeassign) option.

[2016-07-27 05:59] ljharb commented on #5837
@mysticatea ah sorry. My mistake. https://github.com/eslint/eslint/issues/5822 Ended up being resolved by adding the option you mentioned.

[2016-07-27 06:40] jrencz commented on #6771
@mysticatea you're right: I mean the same but I made up some different syntax to express that

[2016-07-27 08:13] alberto commented on #6765
I agree, the growing number of issues makes me a little nervous. Something between 2 weeks and 1 month seems fine.

[2016-07-27 08:14] alberto commented on #1098
Closing for lack of activity

[2016-07-27 08:14] #1098 closed

[2016-07-27 08:16] alberto commented on #2308
Closing by lack of activity

[2016-07-27 08:16] #2308 closed

[2016-07-27 08:18] alberto commented on #4496
Closed by lack of activity

[2016-07-27 08:18] #4496 closed

[2016-07-27 08:18] puzrin commented on #1098
Lack of activity !== useless. It's not good that eslint can hang for a noticeable time after run.

[2016-07-27 08:23] alberto commented on #3938
Closed by lack of activity

[2016-07-27 08:23] #3938 closed

[2016-07-27 08:28] alberto commented on #3453
Closed by lack of activity

[2016-07-27 08:28] #3453 closed

[2016-07-27 08:29] alberto commented on #2716
Closed by lack of activity

[2016-07-27 08:30] mysticatea commented on #2716
@alberto I think this should be reopened.

[2016-07-27 08:33] kobezzza opened #6773 "[Bug] Async function declaration"
eslint 3.1.1
"parser": "babel-eslint"

[code]

Output:

[code]

With

[code]

All fine.

[2016-07-27 08:39] mysticatea commented on #6773
Thank you for this issue.

Async functions are not a part of JavaScript yet (it's a proposal).
You can use [babel-eslint] and [eslint-plugin-babel] in order to use such features.

Especially, you can use `babel/generator-star-spacing` rule for that error.

[babel-eslint]: https://github.com/babel/babel-eslint#readme
[eslint-plugin-babel]: https://github.com/babel/eslint-plugin-babel#readme

[2016-07-27 08:39] #6773 closed

[2016-07-27 08:44] kobezzza commented on #6773
@babel-eslint i always use babel-eslint, and ESlint crashes. Toggle off generator-star-spacing fixed it, thanks.

[2016-07-27 09:07] alberto commented on #6710
@eslint/eslint-team any opinions on how do we want to approach this? @kaelzhang also submitted https://github.com/eslint/eslint/pull/6730 that addresses this by forking glob

[2016-07-27 10:36] mysticatea commented on #6710
Though I don't understand this issue completely.
If we use monkeypatching, [Glob.prototype._readdir](https://github.com/isaacs/node-glob/blob/1728df825b1401351c326e04b905192debf862fb/sync.js#L260) might be proper.

My image is:

[code]

[2016-07-27 10:54] cristian-sima opened #6774 "one-var and export minimize the readability"
Let's assume two things:
- I use [Redux](https://github.com/reactjs/redux)
- I need a lot of [action creators](http://redux.js.org/docs/basics/Actions.html) (thus a lot of action types)

In the same way I want to have `one-var` rule activated, because inside the functions I want to have a clear code with one declaration of `var`, `let` or `const`.

Therefore, I end up with this code for my `action

[2016-07-27 11:09] aaugustin commented on #5553
I believe this is a duplicate of #3587.

[2016-07-27 11:41] mysticatea commented on #6488
@lukeapage I'm sorry for I have missed you.

I designed this option as "the condition that it requires line breaks."
Granted, it may be confusing...
I'm interesting to investigate more proper options.

Separating `disallow` and `require` in options sounds good to me.
Maybe...:

[code]

[2016-07-27 12:26] rwwagner90 opened #6775 "ES7 Decorator errors with no-undef"
**What version of ESLint are you using?**
2.13.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
This just pertains to the no-undef rule
**What did you do? Please include the actual source code causing the issue.**
`@alias('fieldName') foo` is the part causing the issue, and the whole file is:

[code]
**What did you expect to happe

[2016-07-27 12:38] merlinpatt opened #6776 "Warn on one Parameter, Error on a different Parameter"
**What version of ESLint are you using?**
2.9.0
**What problem are you trying to solve?**
The initial issue that made me think of this was with the [https://github.com/eslint/eslint/blob/master/docs/rules/max-lines.md](max lines rule). What I'd like to do is have ESLint warn the developer if a file is over 50 lines and error if it is over 100.

This would allow us to have our own internal rule tha

[2016-07-27 12:40] dbashford commented on #6775
[Related error in eslint-babel](https://github.com/babel/babel-eslint/issues/204) which was closed without fix indicating that there may be no fix.

[2016-07-27 14:28] 5minpause commented on #1801
@Trott You are still working on this feature, right? Did a quick check of your fork. I hope to hear about a merged PR via this issue. Thanks for your work.
If you need some help on this somehow I'd like to help.

[2016-07-27 14:31] ilyavolodin commented on #6775
ESLint doesn't support decorators, so this is purely the domain of `babel-eslint`. @dbashford posted a link to the issue in `babel-eslint` that seems to suggest this is correct behavior.

Closing, as decorators are still stage 1 proposal, and it's going to be a very long while before ESLint will support them.

[2016-07-27 14:31] #6775 closed

[2016-07-27 14:41] Trott commented on #1801
@5minpause The work I did was merged in 95ea25a45ee4ae327f2e306272d39384e5d4602f. I imagine it will be in the version of ESLint that comes out in a few days.

[2016-07-27 14:54] 5minpause commented on #1801
Woah awesome. Thanks @Trott

[2016-07-27 15:30] rwwagner90 opened #6777 "Allow generator-star-spacing to have optional spaces"
**ESLint Version:**
2.13.1

**Rule to change:**
`generator-star-spacing`: I would like to add functionality where you can specify only `before` or `after` and the one you leave off will be optionally space or no space acceptable.

**Code I would like to be acceptable:**

[code]

**What happens without change:**
One or the other will fail, as if you specify `'generator-star-spacing': ['error', {'be

[2016-07-27 15:48] vitorbal commented on #6774
@cristian-sima thanks for the report! Could you do us a favor and fill in the [template for proposing a rule change](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change)?
That will help the team understand and give feedback on your proposal faster. Thanks!

[2016-07-27 15:51] vitorbal commented on #6777
Hi there @rwwagner90, thanks for reaching out!

Could you do us a big favor and fill in the [template for proposing a rule change](http://eslint.org/docs/developer-guide/contributing/rule-changes#proposing-a-rule-change)?
That will help the team understand what you are proposing and allow us to give quicker feedback on your proposal. Thanks a lot!

[2016-07-27 16:23] cristian-sima commented on #6774
The version of ESLint you are using
`v3.1.1`

The rule you want to change
`one-var`

The code you want to be flagged as incorrect

[code]

What happens when the rule is applied to the code without your change

It works. But I should be allowed to both have this code

[code]

I better explained above

[2016-07-27 16:23] cristian-sima commented on #6774
@vitorbal done

[2016-07-27 16:24] rwwagner90 commented on #6777
Hi @vitorbal, I just tried to update to use the template, but my rule is the opposite of the template. I want to define what should pass, not be stricter on what should fail. Please let me know if my description is adequate.

[2016-07-27 17:29] jrencz opened #6778 "Rule suggestion: symbol-description"
_(bug report template was previously here. It was removed)_

I suggest new rule: `symbol-description` with options `always` and `never`: It should check if all (or neither of) symbols created in code have the description as described in the Spec: [19.4.1.1 Symbol ( [ description ] )](http://www.ecma-international.org/ecma-262/6.0/#sec-symbol-description)

Rationale: symbol description is optional

[2016-07-27 18:41] rwwagner90 opened #6779 "newline-after-var not working for let and const"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
`const abc = 2; const blah = 5;`

**What did you expect to happen?**
I expected an error to be thrown because of `'newline-after-var': ['error', 'alw

[2016-07-27 18:48] nzakas commented on #6750
Taking a quick look at the implementation -- escope also uses `ecmaVersion`, so it's best to normalize in ESLint so (so 2015 is converted to 6 and 2016 is converted to 7) before passing the value to escope or Espree.

I like the idea, will run it by the TSC for input.

[2016-07-27 19:02] nzakas commented on #6765
My only concern about three weeks is that it's a long time to wait for such feedback (although, compared to forever, like now, it's definitely better).

Can people comment on what they feel is the best waiting period?

And agree @ilyavolodin about going through old issues. That's why I wanted to get this policy in place, so we can go close a bunch of old issues and point back to this discussion.

[2016-07-27 19:03] nzakas commented on #2716
@mysticatea can you please share why you think this should be reopened? There was no activity in 8 months.

[2016-07-27 19:05] nzakas commented on #6710
I don't think we want to fork glob to solve this problem. Inheritance seems like a better option.

[2016-07-27 19:08] nzakas commented on #6488
We have stayed away from having both "disallow" and ` require" in the same rule because it's a bit confusing. Let's try to come up with something a bit clearer.

[2016-07-27 19:49] kaicataldo commented on #6751
Interestingly enough, this was discussed and we ended up deciding to only implement "always". I'm happy to add this in if/when it's accepted.

[2016-07-27 20:40] saltire commented on #4263
Note on module resolution: if you have eslint installed globally, you need to have the eslint config module (and its peer dependencies) installed globally as well.
If you have the eslint config installed to the local folder, make sure you are running the locally installed eslint binary.

[2016-07-27 20:51] alberto commented on #6765
I mentioned 1 month because 2 weeks sounded a bit aggressive (not against it, though) and it's easier to do the math with 1 month than 3 weeks :). Also because it's the same timespan we have (in theory) for accepted issues in our [maintainer guide](http://eslint.org/docs/maintainer-guide/issues.html#when-to-close-an-issue).

For reference, the current timeframe in that policy to close an issue is

[2016-07-27 21:07] alberto commented on #6776
I think this has been requested in the past, yes, so I'd say it's not very likely to happen. For a start this should be done in a backwards compatible way, so if you want this to have any chance of being done, you should frame it taking that into account.

One workaround is having two different configs, one for warnings and another for errors and to run both.

[2016-07-27 21:22] ilyavolodin commented on #6776
Another workaround is to clone this rule and re-name it, run both, one as a warning, and one as an error. ESLint doesn't support warning/errors from inside the rules, it's done in the core, base on the first parameter of the configuration value, so this is not possible to do in a way you are requesting.

Since there are two workaround, closing, as this is not something we could implement.

[2016-07-27 21:22] #6776 closed

[2016-07-27 22:31] nzakas commented on #6750
After a quick offline chat, the TSC is all 👍 for this, so marking as accepted.

@mjomble feel free to submit a pull request

[2016-07-27 22:34] mjomble commented on #6750
Excellent, will try to find time for this soon :)

[2016-07-28 02:38] IanVS commented on #6498
@quinncomendant has this problem ever cropped up again for you?

If not, I think maybe we can close the issue and do some more investigating if we see it pop up again.

[2016-07-28 04:38] IanVS opened #6780 "Do not remove unlinted files from cache if `--cache` is used"
First, here's a little background on the problem I'm trying to solve:

I run a linting step on my entire project prior to every commit.  I use `--cache` to speed up linting and check only the files which have changed. So far so good.

However, between commits I also am saving code in Atom, using linter-eslint's `auto-fix on save` option.  This executes ESLint without the `--cache` flag, so my cach

[2016-07-28 04:43] DavidAnson opened #6781 "Build: Update markdownlint dependency to 0.2.0"
Changes:

* 0.2.0 - Add MD042/MD043, enhance MD002/MD003/MD004/MD007/MD011/MD025/MD041, dependencies.

PR to follow

[2016-07-28 04:45] mysticatea commented on #2716
@nzakas I think this is a rule to prevent enough common problem and this is accepted.

Accepted issues are good start points for new contributors, but until now, rule's deprecation process is not clear; I guess it was a barrier to contributing to this issue. Just now, we are making some rules deprecated. I think we can go to advance this as well. (I can work on this later)

[2016-07-28 05:38] kaelzhang commented on #6710
@nzakas Ok，I'm working on this.

[2016-07-28 08:10] lordgiotto commented on #6755
@vitorbal PR done :)

[2016-07-28 11:57] merlinpatt commented on #6776
@alberto I believe my third option of `warnRules` and `errorRules` as top level configs should be backwards compatible, shouldn't it? You could have those or have the regular `rules` param.

[2016-07-28 13:25] IanVS commented on #6759
It seems reasonable to me to use a provided `--ignore-path` directory as the base dir when we [convert the filename to a relative path](https://github.com/eslint/eslint/blob/1025772a5692d1f46fc35c5d4cb927eaca6c2031/lib/ignored-paths.js#L179).  I've tried a possible implementation of this and it seems to work and not break any of our existing tests, would be happy to submit a PR if this is accepted

[2016-07-28 15:43] nzakas commented on #6765
We don't have to do math, the days open is listed at the top of the issue. :) We removed the time-based constraints here because we never followed them: https://github.com/eslint/eslint/commit/e7b1e1c3ea690d60c06016d5ded44ce201e39fde

The 30 day waiting period was for accepted issues (which we can definitely do). What I'm talking about is for unaccepted issues.

My goal is to be as aggressive as p

[2016-07-28 15:50] vitorbal commented on #6765
In my opinion, 3 weeks is an acceptable middle ground. I agree with @ilyavolodin that 2 weeks may be a tad too aggressive.
We could re-evaluate after some time, if we still see a lot of "forgotten" issues.

[2016-07-28 15:54] nzakas commented on #2716
@mysticatea we have "help wanted" issues for new contributors and our policy has been to close accepted issues if they have been open for 30 days without being completed. This is pretty far beyond 30 days. :)

If you want to implement it, that's fine, just be sure to say that when you reopen an issue.

[2016-07-28 15:59] nzakas commented on #6781
@DavidAnson can you explain why this upgrade is useful for us?

[2016-07-28 16:03] kmdavis opened #6785 "Feature Request: multiple max-len rules"
It would be nice to be able to configure eslint such that a line with a length greater than, say 80 characters, is a warning, but a length greater than, say 100, is an error.

[2016-07-28 16:23] IanVS commented on #6765
:-1:

I've seen other projects do something similar, closing out issues after a certain period of inactivity.  As a previous user of Sails.js, I felt disappointed and a little abandoned when they implemented their bot and closed out a bunch of old issues which were valid problems but hadn't had much activity (because at some point, once an issue is determined to be a bug, there's not much useful a

[2016-07-28 17:29] rwwagner90 commented on #6779
I believe this issue is not what I thought. I think the rule works "correctly", but I think that there should be a rule that requires each variable declaration to be on a new line. Is this rule supposed to do that?

[2016-07-28 17:38] platinumazure commented on #6777
@rwwagner90 Thanks for calling out the fact that the rule change template implies only stricter changes might be allowed. I've observed that independently and I do intend to raise the issue with the team. I think what you have in your post is reasonably clear. Thanks for bearing with us!

[2016-07-28 17:41] rwwagner90 commented on #6777
No problem @platinumazure! Thanks for looking into this 😄

[2016-07-28 17:56] kevinSuttle commented on #1669
100% serious: there's an easy way to find out what the most commonly used are now.
https://twitter.com/fatih/status/758355980442828800
https://cloud.google.com/bigquery/public-data/github

[2016-07-28 17:56] kaicataldo commented on #6765
I agree with @IanVS that we need to be careful about how we go about this, as it could easily make our users contributing issues feel like their voices aren't being heard. I'd also be worried about closing viable issues that we just haven't gotten around to fixing yet.

That being said, it's hard to imagine that all the order issues will be resolved - I tried to go through and close out some of th

[2016-07-28 18:10] joelbarker2011 commented on #5867
Somewhat related is the situation of functions within objects. I expected the following to be flagged by the `require-jsdoc` option, but it wasn't:
[code]

[2016-07-28 18:49] nzakas commented on #6765
First, I think there's been a misunderstanding here: the bot isn't going to do any closing, we are. This is explicitly *not* a discussion about what the bot should do, it's about our overall policy. We can have a separate issue to talk about what changes, if any, the bot should have to support our overall policy at a later point in time.

@IanVS I think you missed some of my earlier points. The co

[2016-07-28 18:54] kaicataldo commented on #6765
Understood - sorry for going off on a tangent. I'm :+1: for 3 weeks.

[2016-07-28 19:15] alberto commented on #6785
Duplicate of https://github.com/eslint/eslint/issues/6776

[2016-07-28 19:15] #6785 closed

[2016-07-28 19:30] alberto commented on #6765
I was wrong about when relative dates become absolute so :+1:  to 3 weeks

[2016-07-28 19:51] aem opened #6786 "ESLint doesn't handle higher-order JSX usage"
**What version of ESLint are you using?**
`eslint@3.1.1`

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint`

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I'm writing a higher-order React component (though this isn't relevant to React), and using the functions argument in JSX still triggers a

[2016-07-28 20:00] IanVS commented on #6765
Ah yes, I didn't read carefully enough and got spooked.  Three weeks seems like a reasonable timeframe after which to close an unaccepted feature request or enhancement which hasn't had movement (or a bug that hasn't been reproducible or whose original poster hasn't been responding).

[2016-07-28 20:26] platinumazure commented on #6776
@merlinpatt One problem with your suggested approach is that, with the current architecture, both rules would be completely independent from each other and a file with a violation of both the warning and error settings would actually generate both a warning and an error. That's not a good user experience; but also, attempting to detect "duplicate" reports would be technically somewhat complex, and

[2016-07-28 20:29] platinumazure commented on #6786
Per our [README](https://github.com/eslint/eslint/blob/master/README.md#does-eslint-support-jsx), ESLint supports the parsing of JSX but that does not give you React semantics. Look into [eslint-plugin-react](https://www.npmjs.com/package/eslint-plugin-react) and enable their `jsx-uses-vars` rule to get what you need.

[2016-07-28 20:30] #6786 closed

[2016-07-28 20:31] platinumazure commented on #6765
:+1: to three weeks. :-1: to any automated closing (but @nzakas has clarified that's not the case, just making my opposition to that clear).

[2016-07-28 20:37] #6438 closed

[2016-07-28 20:48] gyandeeps commented on #6779
@rwwagner90 The above rule is working as intended.

What you can use is [`one-var-declaration-per-line`](http://eslint.org/docs/rules/one-var-declaration-per-line) rule.

I personally use [eslint-plugin-ideal](https://github.com/gyandeeps/eslint-plugin-ideal) `vars-on-newline` rule because this rule also accounts for the code example you have above.

You can refer to the docs for both rules to see

[2016-07-28 21:05] alberto commented on #6759
Changing that would be a breaking change.

[2016-07-28 21:14] IanVS commented on #6759
Or would it be a bugfix?  I can't think of a single reason why someone would want the behavior of the `.eslintignore` file to depend on cwd when linting is performed.  I doubt that was intended, but maybe I'm wrong.  That's something for the TSC to decide anyway.  I'm tossing it on the agenda.

[2016-07-28 21:36] iDuran90 opened #6787 "Posible error when setting a variable in an arrow function."
**What version of ESLint are you using?**
2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
gulp-babel

**Please show your full configuration:**
`'no-unused-vars': [2, { 'vars': 'local', 'args': 'after-used' }]`

**What did you do? Please include the actual source code causing the issue.**
`let myVar;`
`const myObject = {};`
`myObject.myFunction = () => {
  myVar = true;
};`

**W

[2016-07-28 21:40] alberto commented on #6787
It's considered unused if you never read its value

[2016-07-28 21:48] iDuran90 commented on #6787
Oh, ok, Thanks.

[2016-07-28 21:48] #6787 closed

[2016-07-28 22:18] pmcelhaney commented on #6762
How about updating the reporter to add the dot if and only if it's missing? That way 3rd party rules would also be normalized. (Not sure if that's a big or a feature. :))

[2016-07-28 22:28] markelog commented on #6762
@pmcelhaney it still be inconsistent in the sources though.

btw, @wavebeem do you want to get in on this?

[2016-07-28 22:40] pmcelhaney commented on #6762
Yeah.

catching manually in PR < fixing at runtime < catching at build time < catching and fixing with a custom ESLint rule

Just not sure what's possible at this point.

[2016-07-28 22:53] pmcelhaney commented on #6762
Okay, maybe a check for proper formatting can be added to rule-tester.jd.

https://github.com/eslint/eslint/blob/master/lib/testers/rule-tester.js#L407

Is there a way to add that check only to this repo but not affect third-party rules that doesn't affect the spirit of rules being independent?

[2016-07-28 22:53] wavebeem commented on #6762
Hmm, normalizing the presence/absence of `.` at the end of messages in code sounds pretty smart to me, especially considering custom rules are a core feature of ESLint. I dunno.

[2016-07-28 23:12] fatso83 opened #6788 "Implicit --quiet when not specifying config file"
**What version of ESLint are you using?**
3.1.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
<details>
<summary>.eslintrc</summary>
[code]
</details>

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
The same lines should be output, including all warnings.

**Wh

[2016-07-29 00:05] pmcelhaney commented on #5514
Tried with ESLint 2.8.0, ESLint 3.1.1, and XO 0.16.0 and couldn't reproduce. It always reports the error at character 56.

[code]

[2016-07-29 00:05] mysticatea commented on #6779
Yes, it's intentional behavior. `newline-after-var` rule enforces *a blank line* after a chunk of variable declarations.

[code]

[code]

On the other hand, [max-statements-per-line](http://eslint.org/docs/rules/max-statements-per-line) rule enforces the number of statements on a line.

[code]

[2016-07-29 01:23] hzoo commented on #6274
Well now that it's stage 4, we can remove that change in babel-eslint once it's enabled in eslint. Someone can ping me/babel-eslint repo when it happens if I don't see it myself. https://github.com/babel/babel-eslint/issues/350

[2016-07-29 01:33] rwwagner90 commented on #6779
Okay, thanks guys!

[2016-07-29 01:33] #6779 closed

[2016-07-29 03:14] DavidAnson commented on #6781
@nzakas Sure!

There are two new rules:
* MD042 no-empty-links - No empty links
* MD043 required-headers - Required header structure

The first is automatically applied and makes sure no links are empty or just "#", both of which are common placeholder/editing mistakes. The second is not in effect, but could be used to ensure that all rule documentation had a common header structure like "Introduc

[2016-07-29 03:21] ilyavolodin commented on #6788
I was able to verify, however, this is working as expected. If you notice, `test` directory has it's own .eslintrc file that overrides the rules that are warning if you run with just top level config. When you supply config through `-c` flag, it overrides local config files, so you see warnings, but if you don't specify config, then eslint will cascade all of the config files it finds.
Closing as

[2016-07-29 03:21] #6788 closed

[2016-07-29 05:52] royriojas commented on #6780
Hi @IanVS, I remembered the reason I didn't keep the files, it is because otherwise files that were deleted will stay forever in the cache. I might have to find another solution to make sure files are not kept in the cache forever if they are not longer present. Or maybe that's not an issue and users can simply delete the files manually. It seems the benefits of keeping the files are greater than

[2016-07-29 08:00] vitorbal commented on #6762
We could add a custom internal rule for checking that the last dot is
always present, similar to what we did for enforcing the correct structure
of the "meta" property in rule definitions.
I just wonder if that wouldn't be overkill.
On Fri, Jul 29, 2016 at 12:53 AM Brian Mock <notifications@github.com>
wrote:

[2016-07-29 08:48] fatso83 commented on #6788
Not one of my proudest moments, but thanks for pointing it out 😊

[2016-07-29 11:47] tokenvolt opened #6790 "Remove output in browser console"
Is there a way to remove output of eslint from browser console?

[2016-07-29 12:20] yekver commented on #3490
I also agree with @cytopia. ESLint should have an ability to ignore symlinked files or at least broken symlinks. It's really hard to describe all symlinks in .eslintignore file.

Guys, I think we have to reopen this issue

[2016-07-29 13:15] IanVS commented on #6780
I hadn't thought of purging deleted files, that's a good point.  I guess the only "real" downside there is filesize and processing time of the cache file, yes?  Those seem to me to be fairly small penalties, in the grand scheme of things.  I suppose you could also check for files and purge missing ones each time the cache is used, although I'm not sure of the performance penalty for that.

Thanks

[2016-07-29 13:45] pmcelhaney commented on #6762
I messed around with adding another `assert` at line 395 of rule-tester.js.

[code]

And found the following messages. If there's an interest, I may go through and normalize all of the messages in the source code this weekend.

[code]

While I'm at it I'll go ahead and capitalize "expected". :)

[2016-07-29 13:47] markelog commented on #6762
@vitorbal

always present

You mean custom ESLint rule? I'm not sure if that is possible for static analysis tool, for example, you would need cases like that - https://github.com/eslint/eslint/blob/ddea63a6dbc73e9ef2c2c5625826d02d586de774/lib/rules/array-bracket-spacing.js#L78

@pmcelhaney

I think this is our best bet, it shouldn't reflect on rules which are not part of our repo, so we wouldn't

[2016-07-29 14:05] pmcelhaney commented on #6762
@markelog The change to rule-tester.js is simple, but how do we prevent it from affecting third party rules? Don't they use rule-tester.js in their tests?

I was thinking maybe add a flag to package.json, so that it only affects the ESLint repo, but plugins can opt in to enforcing the strict message style if they want.

[2016-07-29 14:23] markelog commented on #6762
Wow, you right indeed, `RuleTester` is actually public interface.

Seems a bit radical.

Or we can add additional option to it signature like `strict: true` doesn't seem to be clean solution though since we would need to add it everywhere or make this behaviour by default but wait for major?

[2016-07-29 14:49] pmcelhaney commented on #6762
Yeah, a flag that would have to be set every time RuleTester is constructed would defeat the purpose. So maybe add a property to the constructor itself?

[code]

[2016-07-29 16:15] #6079 closed

[2016-07-29 16:16] nzakas commented on #5867
@zxqfox are you planning on addressing this?

[2016-07-29 16:26] zxqfox commented on #5867
Wow. Yeah, I'll try to give this a shot!

[2016-07-29 17:26] ilyavolodin commented on #6762
I know that keeping all of the error messages in the same style is important, but is it important enough to add something like that to RuleTester, or create additional complexity in some other way?
I think we should just go through and add dots at the end of every message. Sometime in the future we can just do another pass. It's not like it takes all that much time.

[2016-07-29 17:40] nzakas commented on #6781
That helps, thanks! We just like to have rationale for upgrading other than "it's nice to upgrade." :)

[2016-07-29 17:41] #6781 closed

[2016-07-29 18:16] cristian-sima opened #6791 "Entire site is giving 404s"
So:

1. Go to [this link](http://eslint.org/docs/rules/)
2. Choose any of the rules
3. Click

It does not work :-1:

[2016-07-29 18:17] le0nik opened #6792 "Links to rules are broken (404)"
1. Go to this page: http://eslint.org/docs/rules/
2. Click on any link to rule, for example http://eslint.org/docs/rules/no-control-regex
3. Get 404 in response, like [this](http://i.imgur.com/QygGgXw.png).

[2016-07-29 18:18] le0nik commented on #6792
Duplicate of https://github.com/eslint/eslint/issues/6791.

[2016-07-29 18:18] #6792 closed

[2016-07-29 18:22] marvinhagemeister commented on #6791
Seems like the whole documentation under `eslint.org/docs/` returns a 404.

[2016-07-29 18:23] nzakas commented on #6791
Confirmed. Something happened in the course of the release that broke our documentation. Looking into it now.

[2016-07-29 18:38] markelog commented on #6762
Maybe not important per se, but I think it would be a good thing, from my perspective though not at this point of time, I think in scope of this ticket we can just add periods and probably continue this discussion at 4.0 time, sounds good?

[2016-07-29 18:56] amilajack opened #6794 "PR: Mispelling inferences"
Would a PR for something like this be welcome:

[code]

When linting this code, eslint would output something like so:

[code]

instead of:
[code]

[2016-07-29 18:57] ZakariaRidouh commented on #6794
This would be very useful to catch small issues 😄

[2016-07-29 19:37] markelog commented on #5858
Okay, so what configs we want to add (right now we have `Google`, `Airbnb` and `Standard`)?

All available ones? Or we should cherry-pick?

At this point, I'm not sure if wikimedia people are happy with their config (@jdforrester?). I would suppose `jQuery` might be good fit there? /cc @scottgonzalez, @timmywil, @dmethvin.

Maybe  idiomatic /cc @rwaldron, @leobalter?

Wordpress?

Or never mind tha

[2016-07-29 20:00] leobalter commented on #5858
@markelog QUnit follows the jQuery Code Style, so I'm +1 for `jquery`.

[2016-07-29 20:30] ilyavolodin commented on #6762
That sounds like a good plan to me.

[2016-07-29 20:33] markelog commented on #6762
Okay, cool.

@pmcelhaney, @wavebeem would any of you want to help with this one?

[2016-07-29 20:48] Trott opened #6795 "New MemberExpression functionality in indent rule is a breaking builds"
**What version of ESLint are you using?**

3.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

`indent: 2`

**What did you do? Please include the actual source code causing the issue.**

This throws an error:

[code]

**What did you expect to happen?**

I expected the indentation to be counted from `bar` and not `var`. Or at least

[2016-07-29 21:15] pmcelhaney commented on #6762
Sure, I'll do it this weekend.

[2016-07-29 21:15] wavebeem commented on #6762
Be my guest; my weekend is looking a little busy. Thanks.

On Fri, Jul 29, 2016 at 2:15 PM, Patrick McElhaney <notifications@github.com

[2016-07-29 21:20] kaicataldo commented on #6795
Looks like we merged in a breaking change. `MemberExpression` (which was not being linted before) is now defaulting to `1` for its indentation level.

[2016-07-29 21:29] kaicataldo commented on #6795
@eslint/eslint-team We should fix this right away. @hzoo and I have already experienced this in our CI build at work.

Relaying info from the Gitter chat:

We actually can't have this on by default - even setting the option to `0` is a breaking change because we weren't checking `MemberExpression`s at all previously. Seems like the only way to make this not a breaking change is to have the `Member

[2016-07-29 21:34] Trott opened #6797 "MemberExpression option is currently breaking builds, needs to be made opt-in"
**What version of ESLint are you using?**

3.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

n/a

**Please show your full configuration:**

n/a

**What did you do? Please include the actual source code causing the issue.**

Code like this used to pass:

[code]

Now it throws an error because the new `MemberExpression` option of `indent` is not opt-in

**What did you expect to ha

[2016-07-29 22:16] markelog commented on #6795
According to our semver [policy](https://github.com/eslint/eslint/blob/9c36ecf53af02d36a81fc18a3f58045323cc90b0/README.md#semantic-versioning-policy) this is not a breaking change -

A bug fix in a rule that results in ESLint reporting more errors.

So these changes are completely justified since they were released in minor.

If we not provide an option for this and make your preference by default

[2016-07-29 22:22] markelog commented on #6795
btw, this will happen again, if not with this rule but with next one, you should consider using tilde for ESLint dep in your `package.json` if you don't want such breakages in future

[2016-07-29 22:26] Trott commented on #6795
Not an ESLint member, but since my code caused the issue and I'm offering up two fixes (that are non-exclusive--they both could land), I guess I feel like I should say something:

* I agree that it's debatable if this was a breaking change or not. I think the real issue (as is alluded above) is just how disruptive is it.

* As it stands, it is terribly disruptive (in my opinion).

So there are two

[2016-07-29 22:27] Trott commented on #6795
(And, of course, reverting the change entirely is always an option. That would make me sad, but that's not a reason to avoid it.)

[2016-07-29 22:30] platinumazure commented on #6790
Are you using the online demo, or a webpack'd or browserify'd version of the Node package?

[2016-07-29 22:33] platinumazure commented on #3490
It'd be nice to somehow try/catch and at least log in ESLint debug logs, so that linting can continue but the info is available to us in `--debug` printout. However, if the implementation adds too much complexity, we may have to decide not to do this change.

I'm going to reopen, but don't hate me if the team closes the issue again :smile:

[2016-07-29 22:36] tokenvolt commented on #6790
I'm using eslint with webpack through eslint-loader. It outputs the errors and warnings to the terminal and also to the browser.

[2016-07-29 22:38] platinumazure commented on #6794
I'm not sure I understand why the example would give a parse error. Are you using ecmaVersion: 6 or later?

The no-undef rule should already flag this sort of thing.

[2016-07-29 22:45] markelog commented on #6795
Oh, so there is a option for this, wasn't aware of it, then yeah, it seems we are already following my proposal, heh.

I like this style btw -
[code]

:), matter of style is very subjective, I vote for https://github.com/eslint/eslint/pull/6798.

Also, I brought up a revert as a quick fix only, so we could figure this out thoroughly with time on our hands and your changes would be incorporated lat

[2016-07-29 22:54] ntwb commented on #5858
Not yet, I'm half way through refactoring much of the WordPress config.

(That said, I'm hoping I'll have it finished this weekend)

[2016-07-29 22:55] markelog commented on #6797
Is that a duplicate of https://github.com/eslint/eslint/issues/6795?

[2016-07-29 23:04] Trott commented on #6797
Fix for 6795 is "ignore assignment statements". Fix for 6797 is "make it
opt in". These are not mutually exclusive fixes. I recommend doing both.
On Fri, Jul 29, 2016 at 3:56 PM Oleg Gaidarenko <notifications@github.com>
wrote:

[2016-07-29 23:08] markelog commented on #6797
But both PRs are sent to fix one "breaking change"... but okay, I understand the logic behind it

(let's not discuss this in two places :)

[2016-07-30 00:07] nzakas commented on #6795
Our policy is not to rush out fixes. We tend to do releases on Friday so we affect as few people as possible and then do patch releases on Monday if necessary. So, let's not rush the fix for this so we can be sure we are solving the problem correctly.

[2016-07-30 00:13] nzakas commented on #6797
Let's just use #6795 to discuss the overall problem, this issue isn't really separate.

[2016-07-30 00:13] #6797 closed

[2016-07-30 00:14] markelog commented on #6795
@nzakas sounds good, what your assessment of the issue overall?

[2016-07-30 00:19] nzakas commented on #6791
The site is fully functional as of 6 hours ago.

[2016-07-30 00:21] markelog commented on #6765
I also had pretty frustrating experience with sails bot, although their team is not as active as ESLint  but I think we should be very careful on how we want to handle this, specifically on who to phrase bot messages

[2016-07-30 00:23] nzakas commented on #6794
@amilajack there's really not enough information here for us to evaluate. Your example doesn't work that way so we can't be sure what you are proposing. Are you proposing a change to a single rule? All rules? Something else?

[2016-07-30 00:26] hzoo commented on #6795
@markelog I think what you said above in https://github.com/eslint/eslint/issues/6795#issuecomment-236307606 is good.

Minor release (might break your lint build)
A bug fix in a rule that results in ESLint reporting more errors.

I don't think anyone is suggesting the default be 0 or 1 just that any default was set. But according to the policy that will happen. I think we just need to signal that

[2016-07-30 00:28] nzakas commented on #6795
First, it's definitely not the worst post-release issue we've had, so we can all relax. :)

Then, I think we have to go back to ask the question, what was the original intent of the change? Was it to just indent chained MemberExpressions only if they weren't in an assignment? Or was the intent to cover all of the instances? @Trott

@hzoo that's a good point. Want to put together a PR for the readm

[2016-07-30 00:30] ljharb commented on #6795
I think one concern with the "indent" rule particularly is that because each of the suboptions accepts an integer, there's no way to *disable* that category of checking.

I think if that was possible - by passing `null`, or `-1`, or "off", or something - then it wouldn't be so disruptive if a minor version added a new category type.

[2016-07-30 00:33] nzakas commented on #6795
Oops, forgot to mention, I think #6798 is along the lines of what we probably should have done initially. I'm not sure of #6796 without getting a better understanding of the original intent.

[2016-07-30 00:33] amilajack commented on #6794
I'm proposing to add functionality that can 'guess' the correct spelling of variables/code.

[2016-07-30 00:38] markelog commented on #6795
Yeah, I think it would be a good move, in JSCS we had similar postulation about `^` and `~`. Users would need to be accustom to this practise though, maybe we could put some parts about semver tactic in our github template.

I suppose this is a bit off-topic though

[2016-07-30 01:05] kaicataldo commented on #6795
I honestly didn't know/had forgotten about our policy on minor releases allowing for breaking changes in those situations. Looks like this has been a productive discussion, just want to make clear that I wasn't suggesting an alternative default.

I actually agree with this:

which is why it seemed like having the option be entirely opt-in and off by default made sense to me. That being said, given

[2016-07-30 01:24] kaicataldo commented on #6794
@amilajack Are you envisioning this as a linting rule? Something that happens at the parser level? What if you intended to use `Promis` and this rule wouldn't let you? Interested to see how you envision this could work.

[2016-07-30 01:46] amilajack commented on #6794
@kaicataldo my current linter configuration (which extends the airbnb config) throws a parser error when a variable is not defined. It believe it ignores globally defined variables. That way, eslint knows that this is indeed a spelling mistake (because i am not importing `Promis`).

[2016-07-30 01:57] Trott commented on #6795
@nzakas wrote:

I did not specifically seek to exclude anything originally but I do think it's fair to say that the intention was to deal with all situations where consistent indentation would be obvious and unsurprising. Judging from what I've seen in projects I work on and some of the things that have cropped up elsewhere, that would seem to exclude assignments.

If I haven't missed anything, it

[2016-07-30 02:02] nzakas commented on #6795
Yeah, I think #6798 is the right fix. I would, however, like to get consensus on whether #6796 makes sense. Basically, I'd rather have all the pain of these changes bundled together instead of doing a slow drip of pain to minimize the negative impact.

[2016-07-30 02:04] nzakas commented on #6794
@amilajack I'm sorry, but you haven't answered any of the questions that the team has asked. We really can't evaluate this without very specific information. Please read over our comments again and answer the questions that were asked.

[2016-07-30 02:17] amilajack commented on #6794
Ideally, this can be configured by a rule. I'm sure that some work needs to be done with the parser in order to manually handle Parser errors.

Ideally, there would be a single rule, say something like:
[code]

Yes

If rules do not have access to handle Parser errors then there will need to be some changes to the parser.

This is an idea from the ruby community. [This ruby package](https://github.

[2016-07-30 02:19] Trott commented on #6795
#6796 makes things more permissive so I think if we are looking to minimize pain, landing it in addition to #6798 is the way to go. With #6796, variable declarations and assignments will be treated exactly as they were before today's release.

We can always add configuration options later to address variable declarations and assignments. I believe there has been talk of changing the way indentatio

[2016-07-30 03:26] ilyavolodin commented on #6794
@amilajack Could you provide a complete example to reproduce this? As well as your configuration file? Undefined variables do not throw "Parser error". Parser errors is for invalid syntax that just can't be parsed into AST. Undefined variables, while a cause of runtime issues, are perfectly legal syntax. `no-undef` rule should catch those and display appropriate message (without the guessing part)

[2016-07-30 09:35] mysticatea opened #6801 "no-dupe-keys: false negative between a normal property and a getter."
**What version of ESLint are you using?**

- 3.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

    $ echo "var obj = {a:1, get a() { return 1 }}" | eslint --stdin --rule no-dupe-keys:2 --env es6 --no-eslintrc

**What did you expect to hap

[2016-07-30 09:43] mysticatea commented on #6778
Thank you for this issue.

I like this idea :+1:.

[2016-07-30 09:44] alberto commented on #6759
We prefer an open discussion in the issue before putting in in the TSC agenda, so we can get feedback from everyone.

One possible use case is someone keeping the ignore file outside the project.

[2016-07-30 09:45] mysticatea commented on #6790
@tokenvolt So, is this `eslint-loader`'s issue?

[2016-07-30 10:05] adiachenko commented on #6773
@mysticatea Async functions proposal has been [moved to stage 4](https://github.com/tc39/proposals/commit/e8c03544751b071b973064ef7d437a34ac6752cd). I don't know if I'm correct but I seem to have read somewhere that you may support stage 4 proposals.

[2016-07-30 10:11] mysticatea commented on #6759
Hmm, does `git` have the feature correspond to our `--ignore-path` for `.gitignore`? If yes, we should make the same behavior as that. In this case, this is a bug.

If no, we should consider proper behavior. In this case, I think too aggressive if we address this as a bug. For example, there might be people which use `--ignore-path` as like:

[code]

[2016-07-30 10:27] mysticatea commented on #6773
@adiachenko It happened after this issue. :smile:

Now we are working for supports of the new stage 4 features.
We need several steps.

1. Acorn, the base of our parser,  supports those: https://github.com/ternjs/acorn/issues/441
2. Our parser supports those: https://github.com/eslint/espree/issues/287
3. Then, ESLint rules support those.
   Actually, wrong AST nodes of `babel-eslint` cause the er

[2016-07-30 10:36] tokenvolt commented on #6790
I'm not sure what is exactly responsible for this, so I created an issue. Should I look into eslint-loader then?

[2016-07-30 10:49] mysticatea commented on #6790
I'm not familiar with webpack and eslint-loader, but I guess eslint-loader runs eslint in browsers and outputs the result to browser's console.

FWIW, [Our online demo](http://eslint.org/demo/) does not output the result to browser's console.

[2016-07-30 11:09] epoberezkin opened #6803 "indent rule is changed in v3.2.0 breaking backwards compatibility"
**What version of ESLint are you using?**
3.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

fails indent rule:

[code]

[code]

[code]

[code]

**What did you expect to happen?**

Pass indent rule, as it did in version 3.1.1

**What actually ha

[2016-07-30 11:11] mysticatea commented on #6803
Thank you for this issue.

This is a duplicate of #6795.
Please track the issue.

[2016-07-30 11:11] #6803 closed

[2016-07-30 11:17] alberto commented on #6722
There was also discussion about nested destructuring at: https://github.com/eslint/eslint/issues/6053

[2016-07-30 14:10] hzoo commented on #6795
Yeah I'l give it a shot

[2016-07-30 14:45] platinumazure commented on #6778
My only question is whether this is important enough to meet our new rule criteria. If not, I could see a use for a symbol-themed plugin.

Not sure if I want to endorse just yet, but I'm not doing thumbs-down either.

[2016-07-30 16:01] #6791 closed

[2016-07-30 16:05] nzakas commented on #6795
@Trott sounds like a good plan.

On the plus side, the lack of activity on this issue means it's not been a huge deal for the community.

[2016-07-30 16:07] ljharb commented on #6795
@nzakas i think the same argument you made in https://github.com/eslint/eslint/issues/6795#issuecomment-236323174 means you absolutely can not extrapolate that it's not a huge deal just yet.

[2016-07-30 16:07] amilajack commented on #6794
@ilyavolodin Sorry that was a mistake. Its actually the`no-undef` rule that does this. So there wouldnt need to be any work done with the parser.

[2016-07-30 16:15] nzakas commented on #6795
@ljharb I'm not sure why you're arguing this point, but let me try to explain.

When we have a significant problem affecting a lot of people, the issue fills up very quickly with references to other issues and pull requests in other projects. This tends to happen within a couple hours of release (which are always on Friday). So by Saturday, there are usually people screaming about how horrible it

[2016-07-30 16:19] connor4312 commented on #6795
Maybe adding an alerting system would be beneficial for ESLint. It looks like Greenkeeper immediately caused failures on [~100 repos](https://github.com/issues?utf8=%E2%9C%93&q=is%3Apr+eslint%403.2.0+breaks+build+created%3A2016-07-29) after the last ESLint version was pushed, it would be simple to create a script that scrapes that a few minutes after publishing. If a non-major version causes an ab

[2016-07-30 16:19] platinumazure commented on #6733
I would like to throw analytics in the ring. No idea how it would be done, but here are some statistics I would be interested in collecting:

* Usage frequency of shareable configurations
* Usage frequency of particular configurations of rules (e.g., how often is indent used with tabs, etc.)

And I'm sure there are plenty more possibilities. Of course, I would want that to be strictly opt-in and t

[2016-07-30 16:49] ljharb commented on #6795
@nzakas Understood, and sorry if it seemed I was stepping on toes. Is the implication that if you released on, say, a Monday, you'd just have a much larger number of people yelling, but that by releasing on Friday, you still get the response, just at a more manageable level? If so, then that makes sense, sorry.

[2016-07-30 17:01] hzoo commented on #6773
@mysticatea https://github.com/babel/babel-eslint/issues/350

[2016-07-30 18:04] mikeerickson opened #6806 "Different actions between `npm script` and CLI call"
**What version of ESLint are you using?**

3.2

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

1 Running from npm script (see above) nothing happens
[code]

2. Running from CLI (basically identical call, just not as an npm script)

[code]

**

[2016-07-30 18:31] platinumazure commented on #6795
Do we have consensus on accepting both #6798 and #6796, or just #6798? Hard to tell with the side conversations.

[2016-07-30 19:24] nzakas commented on #6765
@markelog please see my note earlier that this is *not* about bots. :)

[2016-07-30 22:23] alberto commented on #6806
You should use double quotes in the command line to avoid shell expansion:
`eslint './src/**/*.js'`

See #https://github.com/eslint/eslint/issues/5796 https://github.com/eslint/eslint/issues/5780 for more info.

[2016-07-30 22:23] #6806 closed

[2016-07-30 23:23] mikeerickson commented on #6806
@alberto Great, thanks!  That fixed the issue and I have learned something valuable today =)

[2016-07-31 00:22] ankitr opened #6809 "Issue with command line interface after installing"
**What version are you using?**
I'm using version 3.2.0.

**What did you do?**
I installed eslint with `npm install -g eslint`. After the installation, I ran `eslint --init` as suggested in the Getting Started guide.

**What happened?**
I got an error with this output:
[code]
It turns out that the same thing happened whenever I ran any command with `eslint`.

**What did you expect to happen?**
Nor

[2016-07-31 00:27] gyandeeps commented on #6809
Make sure you use NodeJS version >= 4 since we require that for Eslint 3.0
I hope this helps.

[2016-07-31 00:29] ankitr commented on #6809
That fixed it! Thanks!

[2016-07-31 00:29] #6809 closed

[2016-07-31 01:39] moylop260 opened #6810 "no-implicit-coercion: Show the only the first line of violation"
**What version of ESLint are you using?**
eslint --version
v3.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
I have created a `file.js` with the following code:

[code]

Run command:
`eslint --format=unix file.js`

**What did you expect to happ

[2016-07-31 02:08] ilyavolodin commented on #6794
In that case, `no-undef` already notifies you about usage of undefined variables. What's the advantage of us guessing what you might've meant if the rule already points you to the location of the wrong variable? Chances are, we can't really guess correctly what was supposed to be there in the first place. User would know much better what he was planning to type there. I don't see this is useful en

[2016-07-31 02:09] ilyavolodin commented on #6733
@platinumazure I suggested it at some point, but @nzakas feels pretty strongly against "phoning home".

[2016-07-31 03:01] ilyavolodin commented on #6765
Quick question, what if the team couldn't reach consensus originally and the discussion is still ongoing after 21 days? Should we put something like after 21 days since opening and 5-7 days of inactivity?

[2016-07-31 03:05] alberto commented on #6765
Good point. It's not mentioned in the PR, but I assumed from the first comment that this was only to close issues that showed no support.

[2016-07-31 14:41] pmcelhaney commented on #6780
What happens when the config is updated? Does the cache file become invalidated at that point?

If I  was going to use this feature (and I probably will if the mentioned problem with Atom is resolved), I would probably add an npm install and/or git checkout hook to delete the cache file on a regular basis. So the size of the cache file would never become a problem.

[2016-07-31 14:47] IanVS commented on #6780
Yes, the cache is invalidated if config is changed.

[2016-07-31 17:18] niftylettuce commented on #2156
You need to use https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md

[2016-07-31 20:11] alberto commented on #6077
I'm working on this and I have one question. If a custom `ignorePattern` is specified, should we add it to the default one or replace it? The JSCS rule adds it. Otherwise we would report on eslint comments, for example, unless users add it to their custom pattern.

[2016-07-31 20:19] mysticatea commented on #6077
Replacing was my intention because I thought good that there is a way to opt the default ignored patterns out.
But I think just adding is good as well.

I don't have strong opinions here.

[2016-07-31 20:26] ripter opened #6811 "Errors on 'no-empty-label' when there is no rule with that name."
**What version of ESLint are you using?**
eslint v3.2.0
node v6.3.0
npm 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
No config needed to show issue.

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
[code]

**What actually happened? Please include the ac

[2016-07-31 20:28] platinumazure commented on #6077
I like replacing on principle (always a bad idea to lock a developer into a certain pattern). However it would be convenient if we provided a way to add patterns. Could we do something like "ignoreDefaultPatterns: true" to allow users to add patterns while simultaneously continuing to ignore the patterns ignored by default? (Pick a better name for the option, of course, but you get the idea.)

[2016-07-31 20:29] platinumazure commented on #6811
We do need your configuration: Somehow the `no-empty-label` rule is being enabled in your configuration. We do not enable any rules by default in ESLint (since 1.0.0). Please show your configuration.

[2016-07-31 20:31] ripter commented on #6811
I have no .eslint file. I removed it trying to debug the issue. Here is the output of ll
[code]

[2016-07-31 20:33] platinumazure commented on #6811
You might be using an .eslintrc file from a parent directory or your user
home directory. Please run ESLint with the `--debug` flag and include the
output here (and you can read that output to determine what configuration
file(s) is/are being used).

On Jul 31, 2016 3:31 PM, "Chris" <notifications@github.com> wrote:

[2016-07-31 20:35] ripter commented on #6811
Ah, that was it. I didn't know eslint would go out of my root directory searching for a config. There was a bad .eslintrc file in my root dev folder. I removed it and everything is working as expected. Thank you!

[2016-07-31 20:36] gyandeeps commented on #6811
you can use `root: true` inside a config file that way eslint will stop looking upwards from that config.

[2016-07-31 20:36] #6811 closed

[2016-07-31 20:45] platinumazure commented on #6733
@ilyavolodin For very good reasons, I'm sure! What about if statistics were collected locally, maybe stored in the lint cache directory or something, and then a `eslint --send-usage-report` could send statistics "home", completely out-of-band from linting? (And of course, collection of statistics locally would only be done if a user opts in.)

An approach similar to how coveralls operates might wo

[2016-07-31 21:13] ilyavolodin commented on #6733
@platinumazure I'm not sure how many users will do that manually. I see no incentive for them to do it. More than that, I don't think it's all that necessary, since we can do those analysis off-band on github projects: https://github.com/blog/2201-making-open-source-data-more-available (I was planning to look into this at some point).

[2016-07-31 23:08] platinumazure commented on #6733
Good points, hadn't thought of Github analytics. I would have just thumbs-up'd your comment but it seems that feature is disabled when an issue is locked to contributors, so apologies for the extra notification.

[2016-08-01 00:38] platinumazure commented on #6765
@nzakas Slightly beyond the original scope of the issue, but do we want to add anything to the policy regarding the reopening of closed issues (i.e., if there seems to be traction or if an ESLint team member wants to champion it)?

This may address @ilyavolodin's question, if we decide that the issue will be closed by date only but that an ESLint team member can reopen the issue if it seems like t

[2016-08-01 00:54] kaicataldo commented on #6765
@platinumazure Mind expanding on what you think the benefit is of having another policy to have to remember when someone can just open a new issue (referencing the old issue if necessary)? We already have [a policy](http://eslint.org/docs/maintainer-guide/issues.html#when-to-close-an-issue) for closing duplicate issues, which I feel like covers this situation:

Totally understand your concern, but

[2016-08-01 01:01] platinumazure commented on #6765
@kaicataldo Good point. However, I'm wondering if the intent of the duplicate issue policy should really be about *any* duplicate issue, or just a subset? For example, we should obviously close duplicate issues when the other issue is still open (user didn't bother searching), or when the other issue is closed and it's clear we're not going to implement the issue.

I'm not trying to add policies p

[2016-08-01 01:08] kaicataldo commented on #6765
Gotcha, thanks for explaining. I think it's a valid discussion, though perhaps we could make a new issue to discuss?

Doesn't seem to me like pruning current issues due to lack of interest/activity has to mean we wouldn't be willing to look at a new similar issue that comes in at a later time. We're just trying to avoid a giant backlog of inactive issues that we'll most likely never get to.

[2016-08-01 08:07] sstur commented on #6543
Hi @nzakas and @btmills. Thanks for all the input and sorry for the delay. I am working on this now. I expect to get a PR out early this week.

The plan as I understand it is:

[code]

The previous "ignore" is equivalent to `allow-null`.

I will proceed with that plan. Thanks!

[2016-08-01 08:30] vitorbal commented on #6810
Hi @moylop260, thanks for reaching out! Just to be clear, are you proposing that we limit the amount of characters that we show in the error message of this rule?

[2016-08-01 10:59] royriojas commented on #6780
@IanVS I added the option on the underlaying dependencies. I was thinking that maybe we need to make that optional (if we want to keep non visited keys). This can be done like:

[code]

Or would you suggest to just make this the default behavior so no new option is added?

if that is the case the only thing left is to do this:

[code]

Let me know I can just make the PR.

[2016-08-01 13:18] x1a0 opened #6813 "No indentation error with object destructuring assignment."
**What version of ESLint are you using?**
`v3.2.0`

**What parser (default, Babel-ESLint, etc.) are you using?**
`default`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
Source code:

[code]

**What did you expect to happen?**
I expect it gives error about incorrect indentation (should be 2 spaces however I use 4 spa

[2016-08-01 14:10] btmills commented on #6801
This is interesting:

[code]

But if I remove `--env es6`:

[code]

[2016-08-01 14:29] platinumazure commented on #6801
@btmills `--env es6` both enables an environment and changes a `parserOptions` property (`ecmaVersion: 6`). Can you please use `--parserOptions ecmaVersion:6` in your tests to help isolate env vs parserOptions?

[2016-08-01 14:31] btmills commented on #6801
Good call, @platinumazure. I get no errors:

[code]

[2016-08-01 14:44] gyandeeps commented on #6813
Currently, the rule doesnt check for `import` or `export` specifiers.

[2016-08-01 14:47] hzoo opened #6814 "Better messaging about `^`"
Ref #6795
Ref https://github.com/eslint/eslint/pull/6804

Also I was just thinking that `npm install eslint` which also automatically uses `^`.  Just brainstorming, but I think we can maybe add a warning somehow (maybe after install) about using `~` instead of `^`?

Most users will still be surprised since they won't see the README/semver policy (mostly for our sake since we'll probably get a lot

[2016-08-01 14:50] #6765 closed

[2016-08-01 15:03] kaicataldo commented on #6732
@eslint/eslint-team Any other thoughts on this? Would love to make some headway here :)

[2016-08-01 15:15] markelog commented on #6732
This is how `grunt-cli`/`gulp` staff works right? Also JSCS worked in the same way, I don't think anyone was or is confused about it. But it is confusing to see plugin not found errors.

So strong +1 from me to fix this

[2016-08-01 15:15] himdel commented on #6732
Just a note - falling back to local is exactly what gulp does. And given its popularity, I'd argue it's equally confusing to do something different..

Definitely +1 on encouraging local installs, since it's impossible to work on more than 1 project with global..

[2016-08-01 16:06] nzakas commented on #6795
@ljharb yes, exactly.

[2016-08-01 16:10] nzakas commented on #6795
@connor4312 that's an interesting idea. Can you open a new issue for that?

[2016-08-01 16:11] moylop260 commented on #6810
Thanks for reply

@vitorbal
Yes, I have a file with many lines and the output is hijacked by this check because are showed all lines.
The most important information is just the fisrt word of the refactoring proposal.

IMHO should be showed just the first word without the full file.

[2016-08-01 16:23] nzakas commented on #6795
@platinumazure yeah, sorry it is unclear. I think it makes sense to do both.

[2016-08-01 16:28] #6762 closed

[2016-08-01 16:42] nzakas opened #6816 "Nested dependency circular-json is failing our license check"
For the master branch, Travis checks are now failing because the license checker is saying that `circular-json` doesn't have a correct license. It's likely that one of our dependencies just started including it. We need to figure out which one and probably just set a stricter version to work around this.

Longer-term, we can probably send a pull request to `circular-json` to get the license inform

[2016-08-01 16:45] nzakas commented on #6816
Looks like it's a transitive dependency:

`file-entry-catch` -> `flat-cache` -> `circular-json`

CC: @royriojas

[2016-08-01 17:17] platinumazure commented on #6810
Thanks @moylop260 for the clarification. I hope it's okay that I have changed the issue title for clarity.

At this point, I'm treating the current behavior as "designed", and I see this as an enhancement request to report a shorter message. (I think we can start with just reporting the first line, and see what happens from there. Sound okay?)

I'm :+1: to this change.

[2016-08-01 18:04] platinumazure commented on #6816
Just for record on this issue: circular-json has accepted my PR to add a license to their package.json, so hopefully we can proceed without having pinned dependencies in the future.

[2016-08-01 18:22] royriojas commented on #6816
hi @nzakas,

Sorry for that, I was working on another PR #6780 and just published the new version that includes `circular-json` as a way to handle cycles. I fail to notice the license though, sorry I should have checked that before.

Hopefully it seems it is now fixed.

[2016-08-01 18:31] #6795 closed

[2016-08-01 18:38] #6816 closed

[2016-08-01 18:57] nzakas commented on #6778
@jrencz please read over our [guidelines for submitting rule proposals](http://eslint.org/docs/developer-guide/contributing/new-rules) and update your description to match the format.

In general I like the idea, but I'd like to see a proper proposal before evaluating.

[2016-08-01 18:58] nzakas commented on #6759
@IanVS please add a comment for the TSC that summarizes what you're seeking guidance on (see http://eslint.org/docs/maintainer-guide/issues.html#when-to-send-to-tsc for the format).)

[2016-08-01 19:00] moylop260 commented on #6810
@platinumazure
Just reporting the first line LGTM
Thaks

[2016-08-01 19:02] nzakas commented on #6732
Previously, there was some strong feelings that we *should* support this, but we found a lot of complexity when it came time for implementation. I think everyone would still be in favor, we just really need a solid technical proposal to consider. For reference, here's the previous discussion: https://github.com/eslint/eslint/issues/3993 (it's a long read, but covers a lot of the concerns).

@kaica

[2016-08-01 19:09] nzakas commented on #1846
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-01 19:09] #1846 closed

[2016-08-01 19:12] nzakas commented on #4795
It looks like you're using `babel-eslint` as your parser. Can you try using the default parser instead? You can just delete the `parser` from your config file to switch to the default parser. Make sure you configure the [parser options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options) as well.

[2016-08-01 19:12] #4795 closed

[2016-08-01 19:12] nzakas commented on #4795
Oops, sorry about that last comment. What I meant:

Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn'

[2016-08-01 19:13] nzakas commented on #4887
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-01 19:13] #4887 closed

[2016-08-01 19:13] nzakas commented on #5071
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-01 19:13] #5071 closed

[2016-08-01 19:18] #6586 closed

[2016-08-01 19:18] #6734 closed

[2016-08-01 19:24] #6755 closed

[2016-08-01 19:37] alberto commented on #5505
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 19:37] #5505 closed

[2016-08-01 19:41] alberto commented on #5592
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-01 19:41] #5592 closed

[2016-08-01 19:44] alberto commented on #5749
Duplicate of https://github.com/eslint/eslint/issues/5982 https://github.com/eslint/eslint/issues/3092

[2016-08-01 19:44] #5749 closed

[2016-08-01 19:46] alberto commented on #5726
Is anyone championing this? @eslint/eslint-team

[2016-08-01 19:47] markelog commented on #6732
Can someone summarize that thread?

[2016-08-01 19:49] platinumazure commented on #5726
I count one :+1: (@ilyavolodin, maybe a stretch). I will add one more :+1:.

@vitorbal, you could champion or add :+1:. Then we need whatever you don't do. :smile:

[2016-08-01 19:49] alberto commented on #5672
@ilyavolodin @platinumazure what's your opinion on @michaelficarra comment?

[2016-08-01 19:54] platinumazure commented on #5672
Given what @michaelficarra has posted here, I guess I would at the very least want this change to be behind an option (off by default). That way the user gets a choice. I can no longer get behind unconditionally removing the no-magic-numbers check from default parameters.