[2016-03-26 22:02] oliviertassinari commented on #4880
@bryanrsmith What's you work around regarding this point?
It seems that disabling the rule is the best option for Material-UI.

[2016-03-26 22:52] renanvaz opened #5691 "Error: Cannot find module 'through'"
eslint installed today (v2.5.1). And i got this error on try to init:

`$ eslint --init`

[2016-03-26 23:27] hzoo commented on #5691
Thanks for reporting! This is similar to https://github.com/eslint/eslint/issues/5687 and others. I think it's recommend to use v2.4.0 for `--init` right now

[2016-03-26 23:37] ilyavolodin commented on #5691
This is a known issue. We've had trouble with npm with the latest release, and `--init` is currently broken. We'll be doing patch release sometime next week to fix it. Closing as a duplicate of #5687

[2016-03-26 23:37] #5691 closed

[2016-03-27 02:53] #5678 closed

[2016-03-27 04:27] michaelficarra commented on #5672
I very strongly disagree with this. The name given in the parameter list is the meaning of the number within a particular context. The name given to a constant describes the number regardless of any context.

Contrast

[code]

with

[code]

Notice that 22 is `portNumber` in the context of `startServer`. But that doesn't tell us anything about what 22 means outside that context. The second example

[2016-03-27 06:26] alberto commented on #5672
Mmmm, good point.

[2016-03-27 06:33] alberto commented on #5687
Good catch identifying the origin of issue @kaicataldo!

Wouldn't budledDependencies get overwritten in every release?

[2016-03-27 07:57] lukeapage opened #5692 "conflict between prefer-const and no-use-before-define (2.5.0 regression)"
**What version of ESLint are you using?**
2.5.0 (I think my previous version that didn't fail was 2.4.0, but it could have been a different 2.x)
**What parser (default, Babel-ESLint, etc.) are you using?**
Default
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
no warnings
**What

[2016-03-27 07:58] lukeapage commented on #5692
work-around is to un-necessarily assign null to the let declaration.

[2016-03-27 10:25] mysticatea commented on #5685
Thank you for this issue.

Yeah, I feel inconsistent, too.

@eslint/eslint-team May we add `maximum` option to `max-statements-per-line` rule and deprecate `max` option?

[2016-03-27 11:52] pvamshi commented on #5228
am working on this

[2016-03-27 11:57] mysticatea commented on #5689
I noticed we have [no-multi-str] rule.
So I vote `no-useless-escape` allows multiline strings.
We can forbid multiline strings with [no-multi-str] rule.

[no-multi-str]: http://eslint.org/docs/rules/no-multi-str

[2016-03-27 12:09] pvamshi opened #5693 "`no-constant-condition` should respect partial conditions too"
Not sure if I got the title correctly, but we are valuating for a whole condition but if its part of multiple conditions, we are not checking them.

I was working on #5228 and came across this bug . Please suggest if its a valid bug and I can take care fixing it.

**What version of ESLint are you using?**
1.5.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your

[2016-03-27 12:13] alberto commented on #5687
Also, this doesn't fix the underlying issue, so we should discuss additional measures to avoid this from happening again.

[2016-03-27 15:09] mysticatea opened #5694 "The default value of CLIEngine's `options.cwd` is decided when ESLint is loaded."
From https://github.com/mysticatea/eslint-plugin-node/issues/28

- [`getRelativePath` function of Atom's `linter-eslint` changes the current directory](https://github.com/AtomLinter/linter-eslint/blob/977fe57693e23b4bd664673496f4d6509518bbfb/src/worker-helpers.js#L103) and returns a relative path from the new current directory. And it executes linting of the file.
- At the time, `eslint.CLIEngine`

[2016-03-27 15:15] kaicataldo commented on #5687
@alberto From my understanding, the packages in bundledDependencies are bundled when `npm publish` (or `npm pack`) is run. Looking at `eslint-reslease`, it looks like we use a 3rd party package to actually create the bundledDependencies list, and in looking over that package's source, it doesn't look like it accounts for this bug in npm@2.

Realizing this, it seems like my PR actually isn't the ri

[2016-03-27 16:12] michaelficarra commented on #5689
@mysticatea That works for me.

[2016-03-27 17:01] BYK commented on #5694
LGTM

[2016-03-27 17:16] michaelficarra commented on #5228
If `typeof` in boolean position is reported by this rule, `void` should be as well.

[2016-03-27 17:25] ljharb commented on #5687
This is a breaking change in a minor version, so it'd be awesome if this could be fixed soon - I'd love to use the new rules :-/

[2016-03-27 18:46] #5694 closed

[2016-03-27 19:32] kaicataldo commented on #5685
I'm a fan of making this consistent, too 👍 This would technically be a breaking change though, so we'd have to make both options work for now, right? I can make this change when we've decided.

[2016-03-27 19:43] alberto opened #5698 "`eslint --init` default option for indentation is wrong"
**What version of ESLint are you using?**
2.5.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
None.
**What did you do? Please include the actual source code causing the issue.**
`eslint --init` and select the default options. When the question about indentation style appears, there is no default option selected. Press Enter.
**What di

[2016-03-27 19:53] alberto commented on #5692
ping @mysticatea

[2016-03-27 20:17] #5698 closed

[2016-03-27 20:36] scriptdaemon commented on #5685
There are also other rules that use `max` to consider (e.g. `no-multiple-empty-lines` and `id-length`).

[2016-03-27 21:14] alberto commented on #4828
I didn't mean to imply that we shouldn't allow overriding. I was thinking of overriding directly in `.eslintignore`. This would add more flexibility than a flag (as you said, with a flag most people would need to then at least ignore `.git`) and would be in line with the ability override of `node_modules` & `bower_components`.

[2016-03-27 21:40] kaicataldo commented on #5658
Thanks for the PR! I'd personally also love to see a test or two covering the expected (valid) usage.

[2016-03-27 22:11] ilyavolodin commented on #5685
So 3 with `max` and 5 with `maximum`. Even though `maximum` appears in more places, I would rather have `max` as the default. `Max` is self-explanatory and less typing.

[2016-03-27 22:17] kaicataldo commented on #5685
Cool, sounds good. I can start working on this!

[2016-03-27 22:19] ilyavolodin commented on #5685
@kaicataldo Wait for @nzakas to accept it first. I'm pretty sure we want to fix this, but I don't know which way we are going to go.

[2016-03-27 22:21] kaicataldo commented on #5685
@ilyavolodin Was just editing my previous comment when I saw yours. Thanks, still learning the ropes :smile:

[2016-03-27 22:24] kaicataldo commented on #5608
Closing as the question has been answered

[2016-03-27 22:24] #5608 closed

[2016-03-27 22:28] kaicataldo commented on #5612
Opened a [PR to doctrine](https://github.com/eslint/espree/pull/265) to attempt to fix this. I've already tested that branch of doctrine with ESLint locally and can make a PR with tests covering this and bumping the doctrine version if that gets merged.

[2016-03-27 22:40] ilyavolodin commented on #5417
I started re-writing documentation for this today, but I'm not sure if I should replace all the old syntax with the new one, in documentation, or should I add new one, and mark old as deprecated? Since both of them supported, it feels like latter is probably more correct, but it also feels like it might confuse users.

[2016-03-28 00:44] tikotzky opened #5701 "[array-callback-return] an async function should be considered a proper return."
**What version of ESLint are you using?**
v2.5.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Expected to get no errors from eslint since `async` functions implicitly `return` a promise which can b

[2016-03-28 00:49] ilyavolodin commented on #5701
ESLint doesn't support rules for experimental features. You should open an issue for [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel). Closing as this is outside of the scope of the core.

[2016-03-28 00:53] IanVS commented on #5149
I would think that we could try generating as many configs as possible, but as soon as a non-autoconfigurable field is hit, we stop.

[2016-03-28 01:08] IanVS commented on #4828
Actually now that you mention that, it should already be possible, by putting `!.*` in the `.eslintignore` (in 2.5.0 onward).

@radek-holy, could you try that and see if it meets your need?

[2016-03-28 01:18] IanVS commented on #5547
Unfortunately it looks like https://github.com/eslint/eslint/pull/5648 did not fully fix this issue.  It addressed it inside of `ignored-paths.js`, but we also do some checking for `options.ignore` in `cli-engine.js` in [isPathIgnored()](https://github.com/eslint/eslint/blob/866743150898bf109efa3cb320a18b444f9683d4/lib/cli-engine.js#L695) and [executeOnText()](https://github.com/eslint/eslint/blob

[2016-03-28 03:39] EricHenry commented on #4826
Hey guys, I helped out with the no-console rule before. If no one else is working on this issue, I'd like to help. Do you guys have a good recommendation on how to start?  I think I only scratched the surface on figuring out how aslant actually works last time. Any guidance would be helpful. Thanks!

[2016-03-28 03:55] pvamshi commented on #5667
If we have a rule for this and is enabled in eslint project, all the test cases will need to be reformatted . :smile:
We should also have the `fix` added to the rule.

[2016-03-28 04:07] platinumazure commented on #5667
@pvamshi We usually don't enable stylistic rules in the ESLint project unless there's a strong preference-- I doubt this would make the cut.

Regarding auto-fix, that would be awesome but I don't see how it could be done reliably with the current mechanism. Consider:
* Rule `object-curly-spacing` determines if ObjectExpressions with the first key on the same line as the opening brace, and/or the l

[2016-03-28 04:54] pvamshi commented on #5667
Agree to everything said above.
Probably we should have options like number of properties OR if the length of the statement crosses maximum number of chars allowed ?

Autofix is just a nice to have feature . Let not continue discussing about that , the user can just do replace `,` with `,\n` and get it formatted.

[2016-03-28 10:24] es6Test commented on #1238
Just trying this for the first time and would like eslint to check for local versions 1st.

[2016-03-28 10:39] smoltron opened #5703 "Cannot init, fresh install, Windows 10"
I have a fresh global install of eslint in Windows 10.
From git bash:

[code]

**What version of ESLint are you using?**
2.5.1

**What parser (default, Babel-ESLint, etc.) are you using?**
Not applicable, cannot init

**Please show your full configuration:**
Not applicable, cannot init

**What did you do? Please include the actual source code causing the issue.**
eslint --init

**What did you expe

[2016-03-28 11:27] gajus commented on #5013
If there is a need to automate the process, you can use https://github.com/gajus/bundle-dependencies.

[2016-03-28 11:37] alberto commented on #5013
@gajus https://github.com/eslint/eslint-release is already using it, but are having issues with npm@2. See https://github.com/eslint/eslint/issues/5687 and https://github.com/eslint/eslint/issues/5680

[2016-03-28 11:55] zackarychapple commented on #5667
I agree with @pvamshi that an option on the number of properties would be would be nice.

[2016-03-28 13:38] pvamshi commented on #5667
@zackarychapple , thats @platinumazure's idea :+1:

[2016-03-28 14:19] alexmngn opened #5704 "eslint does not satisfy its siblings' peerDependencies requirements"
**What version of ESLint are you using?** 2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**eslint config**
[code]

**package.json dependencies for eslint**
[code]

I get an error when try to install eslint on a fresh project:
[code]

I also tried with the latest version 2.5.1 but it doesn't change anything.

Any idea what's wrong? I looks like a dependency change

[2016-03-28 14:24] platinumazure commented on #5704
Can you please share what ESLint shareable configurations, plugins, or other node modules you are using? ESLint doesn't declare any peer dependencies, so someone else has a peer dependency requirement which ESLint isn't satisfying.

[2016-03-28 14:28] alexmngn commented on #5704
@platinumazure Just updated the ticket with the eslint config file.

[2016-03-28 14:31] ilyavolodin commented on #5704
@alexmngn What were you doing when you run into this error? Just `npm install`? In that case, we would need to see your package.json file too.

[2016-03-28 14:33] alexmngn commented on #5704
@ilyavolodin yes just an `npm install`

[2016-03-28 15:14] bryanrsmith commented on #4880
@oliviertassinari For now I used the `varsIgnorePattern` workaround described above.

[2016-03-28 15:39] isaacl opened #5705 "no-param-reassign fires when changing properties on parameter"
**What version of ESLint are you using?**
v2.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
This is not a reassignment of parameter, it is setting a side effect. Maybe eslint should track t

[2016-03-28 15:49] BYK commented on #5705
This is not a bug since the `props` option for that rule is `true` in AirBNB style guide: https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/rules/best-practices.js#L89

See http://eslint.org/docs/rules/no-param-reassign#props for more info.

[2016-03-28 15:52] isaacl commented on #5705
fair enough, thanks.  Still, the rule is misnamed. This is not reassigning a prop.

[2016-03-28 15:52] isaacl commented on #5705
Could the text eslint prints be changed when you set a prop to indicate it's from props: true?

[2016-03-28 15:59] btmills commented on #5704
babel-eslint v5 is for eslint v1. You should be able to upgrade to babel-eslint v6, which is no longer in beta, and has been updated for compatibility with eslint v2.

[2016-03-28 16:03] platinumazure commented on #5705
@BYK @isaacl Personally I think that's a worthwhile enhancement (changing the error text to be more clear). Can we reopen this as an enhancement request?

[2016-03-28 16:10] BYK commented on #5705
WFM.

It is mutating a parameter. I can see why this is confusing but I'd argue this is a more important check than reassigning arguments :)

[2016-03-28 16:27] nzakas commented on #5687
This only occurred because npm was flakey when the package was created. I already updated the release script in #5688, so there shouldn't be any other change necessary besides doing a new release, which I'll do sometime today.

@ljharb this is just a bug, not a breaking change. It's akin to forgetting to include a dependency in package.json. We are doing the best we can to resolve this as quickly

[2016-03-28 16:28] nzakas commented on #5658
@kaicataldo can you leave that feedback on the PR?

[2016-03-28 16:30] nzakas commented on #5547
So this would only affect people using the API?

[2016-03-28 16:30] nzakas commented on #4041
Thanks @gronke !

[2016-03-28 16:37] IanVS commented on #5547
The fix only was made in `ignored-paths`, which caused its own tests to pass.  The API and CLI are still broken.

[2016-03-28 17:03] alberto commented on #5547
Ooops, sorry. I would swear I had also manually tested it... :(

[2016-03-28 17:07] alberto commented on #5687
@nzakas are you sure? It looks exactly like the issue mentioned above. I hope you are right :)

[2016-03-28 17:11] web2style opened #5707 "node_modules is not ignored"
**What version of ESLint are you using?**

`"eslint": "^2.5.1"`

**What parser (default, Babel-ESLint, etc.) are you using?**

`"babel-eslint": "^6.0.0"`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Run `eslint . ./`.

**What did you expect to happen?**

Ignore `node_modules` and lint files in other directories.

[2016-03-28 17:13] kaicataldo commented on #5658
Oh yeah, of course.

[2016-03-28 17:35] nzakas commented on #5685
Yeah, we should fix this for sure. Assuming we stick with `max` everywhere, that would mean that we'd need to:

1. Ensure rules that accept `maximum` also accept `max` (update the rule schema so it accepts both).
1. Change the rule docs to use `max` while adding a note that the option name `maximum` is deprecated and will be remove at some point in the future.

[2016-03-28 17:39] nzakas commented on #5687
@alberto not I'm not sure. :) I had done a quick test on Saturday that seemed to indicate I was right, but doing another test right now, it's broken again.

We'll just revert to not using bundled dependencies for now and revisit at some later point.

[2016-03-28 17:40] nmote commented on #5344
I do, sorry for the delay: I've been busy with other things. It's near the top of my list and I'll do it this week.

[2016-03-28 17:46] nzakas commented on #5013
This didn't quite work the way we had hoped, so we reverted this functionality for now. There appears to be a bug in npm 2 with regards to bundled dependencies:
https://github.com/eslint/eslint/issues/5687#issuecomment-201929791

[2016-03-28 17:50] nzakas commented on #5417
I'd say create separate docs alongside the existing ones, but don't link to them. Instead, we'll use the new docs to get people started on updating the core rules. Once the core rules are updated and we've validated that the new docs are good enough for that purpose, we can link to the new rules documentation and mark the old ones as deprecated.

[2016-03-28 17:50] #5687 closed

[2016-03-28 17:56] ilyavolodin commented on #5417
Sounds good to me. So I'll clone "Working with Rules" documentation page and change it for the new rule structure. Should be able to take care of that this week.

[2016-03-28 18:01] alberto commented on #5667
Please, keep the issue on-topic. I am not sure what is being proposed here, if anything at all. Can someone summarize it following our rule proposal template?

[2016-03-28 18:04] #5704 closed

[2016-03-28 18:19] dizlexik commented on #5679
I'd love to help out, but after reviewing the code in this area I don't see any easy way of determining whether or not any node_modules paths are unignored, so it looks to me like some changes will be required at a lower level.

I see that `ingored-files.js utilizes the `ignore` package, which doesn't appear to expose anything useful regarding this so some manual testing of each ignore pattern may

[2016-03-28 18:24] gaurav21r commented on #4570
For anyone else landing up here, you might find this helpful :point_down:

http://stackoverflow.com/questions/23436437/why-can-i-change-value-of-a-constant-in-javascript

[2016-03-28 18:28] viveleroi opened #5709 "Enforce newline rule for comments inside objects/arrays"
**When does this rule warn? Please describe and show example code:**

Currently `lines-around-comment` has an option to `allowArrayStart`, which allows comments immediately following the opening of an array. Because it's optional, there's room for inconsistency as to whether there's a newline or not. I'd like the ability to enforce whether the newline exists or not.

For example, if a new line is

[2016-03-28 18:46] alexmngn commented on #5704
@btmills This fixed my issue and it's very weird! I was using v5 of babel for a month and it was working very well before something suddenly happened during this weekend...

[2016-03-28 18:50] btmills commented on #5704
@alexmngn glad I could help! Here's your culprit: https://github.com/babel/babel-eslint/commit/e29eedb037bab1b88cf44403aff9db0a1c4e400b. Released as 5.0.1 over the weekend.

[2016-03-28 19:21] isaacl commented on #5705
@BYK pull request #5706 ready for your review.

[2016-03-28 19:22] platinumazure commented on #5709
I'm not sure I understand your goal here.

Is your goal to enforce the padding even for comments? If so, you should be able to set `allowArrayStart: false` in the lines-around-comment rule and that should then work harmoniously with padded-blocks, no? If that's not it, what are you trying to do exactly?

Can you please show your *exact* configuration that you're trying to use, as well as what case

[2016-03-28 19:33] viveleroi commented on #5709
The goal is to disallow empty lines inside the top of blocks/objects/arrays even when I'm also requiring an empty line before comments. Because these rules conflicted, the project added `allowObjectStart` and `allowArrayStart` options for `lines-around-comment`. Problem is, "allow" allows either of two formats, but I want to enforce one.

Using config:

[code]

The following is valid, and is what

[2016-03-28 20:16] nzakas commented on #5703
Please try upgrading to 2.5.3.

[2016-03-28 20:18] nzakas commented on #5707
Can you try upgrading to 2.5.3?

[2016-03-28 20:19] nzakas commented on #5707
@IanVS maybe related to #5547?

[2016-03-28 20:20] nzakas commented on #5709
@viveleroi are you requesting a new rule or a change to an existing one? It seems like you want an enhancement to `lines-around-comment` but you used the new rule issue template.

[2016-03-28 20:21] ljharb commented on #5687
@nzakas fair enough, thank you for fixing it!

[2016-03-28 20:22] nzakas commented on #5693
So you're saying this should flag the `false` because it short circuits? If so, I agree.

[2016-03-28 20:23] nzakas commented on #5686
Agree with @BYK. Seems pretty close to what we already have, and since you already have a plugin that does this, I'd suggest continuing to use that.

Glad you found writing custom rules easy, that's the goal! :)

[2016-03-28 20:23] #5686 closed

[2016-03-28 20:25] IanVS commented on #5707
Maybe, but it doesn't seem like he's using `--no-ignore`.  I'm thinking it's more related to the `eslint . ./` command.

@web2style Can you try `eslint .` instead?  Is there a reason you are using that syntax?  Were you successfully using that command previously?

I'll have to take a closer look at this later tonight to try and figure out what it's actually doing.

[2016-03-28 20:27] platinumazure commented on #5693
I'm wondering if this should be a new rule maybe? `no-constant-condition` flags constant conditions on if statements and other clear Boolean-context syntax locations; something like `false && foo` could also be flagged on an AssignmentExpression or VariableDeclarator as well.

But then the question would become, how to make sure `no-constant-condition` also catches it...

[2016-03-28 20:39] nzakas commented on #5644
Working on this.

[2016-03-28 21:21] viveleroi commented on #5709
I'm honestly not sure how it would be handled. I don't know how priority is handled internally so it could be a new configuration option to either `padded-blocks` or `lines-around-comment`. In retrospect it does seem more like a modification than a new root-level rule, but it's a new style enforcement, so I mentally tossed a coin.

[2016-03-28 21:25] olmokramer opened #5711 "vars-on-top conflicts with `export`"
**What version of ESLint are you using?**
2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I wouldn't expect the `vars-on-top` rule to error because even though one of the variables is exported, they ar

[2016-03-28 21:47] platinumazure commented on #5711
My guess is the rule only looks at VariableDeclaration nodes and doesn't check for ExportDeclaration nodes.

Personally I think the first error is symptomatic of a bug (the statement is on top), but the second error is more an indication that we need to enhance to allow for ExportDeclarations.

Not really sure the best way to triage this. @eslint/eslint-team Thoughts?

[2016-03-28 22:07] platinumazure commented on #5188
I'll do quote-props this week. If anyone wants to jump on the other ones, feel free.

[2016-03-28 22:19] gyandeeps commented on #5188
@platinumazure Can you please maintain a tasklist on the issue so that we know whats already done whats left?

[2016-03-28 22:23] nzakas commented on #5175
@feross can you try this branch and see if your issue is resolved? https://github.com/eslint/eslint/pull/5712

[2016-03-28 22:23] nzakas commented on #5468
@dsilva can you try this branch and see if it fixes your issue? https://github.com/eslint/eslint/pull/5712

[2016-03-28 22:26] platinumazure commented on #5188
@gyandeeps Sure, I'll edit the initial post with a task list when I get home. Thanks for the suggestion.

[2016-03-28 22:26] gyandeeps commented on #5188
@platinumazure thanks :+1:

[2016-03-28 22:41] #5644 closed

[2016-03-28 22:42] gyandeeps commented on #5188
Working on `newline-after-var` and `one-var-declaration-per-line`

[2016-03-28 23:01] alberto opened #5714 "Add jsdoc to .eslintignore"
`npm run docs` generates project doc at `/jsdoc` and it shouldn't be linted.

[2016-03-28 23:24] #5714 closed

[2016-03-28 23:52] dsilva commented on #5468
@nzakas I tried that branch but still run into the same issue:

[code]

[2016-03-28 23:55] dsilva commented on #5468
this is how I used your branch:

[code]

Then symlinked the resulting directory (/private/tmp/el/eslint/x/package/) as my eslint package directory in $NODE_PATH.

[2016-03-29 00:12] #5658 closed

[2016-03-29 00:21] huozicheng opened #5716 "v2.5.3 not working with chalk v1.1.2"
**What version of ESLint are you using?**
v2.5.3
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
{
  "extends": "name",
  "rules": {
    "no-useless-call": 1,
    "comma-dangle": 2
  }
}

**What did you do? Please include the actual source code causing the issue.**
npm install
**What did you expect to happen?**
working
**What actually h

[2016-03-29 00:32] jsdelfino commented on #5716
Running into the same problem on Node 4.2 (5.9 works). Looks like a problem with the stylish formatter, as switching to the unix of compact formatter as a workaround works.

[2016-03-29 00:39] nzakas commented on #5468
Hmm OK, I'll keep digging

[2016-03-29 00:39] ilyavolodin commented on #5716
I just did a clean install of eslint v2.5.3 and it comes with chalk v1.1.3. Everything is working correctly for me. Which version of NPM are you using? If you are using NPM 3, it might be that chalk is required by some other dependency in your project and NPM is screwing up deduping. Can you also try doing a clean reinstall (delete node_modules directory completely).

[2016-03-29 00:40] huozicheng commented on #5716
It is chalk v1.1.2, it updated to 1.1.3? 1.1.2 is like 10 minutes ago.

[2016-03-29 00:41] huozicheng commented on #5716
https://github.com/chalk/chalk/issues/106

[2016-03-29 00:41] huozicheng commented on #5716
I think it's fixed.

[2016-03-29 00:41] #5716 closed

[2016-03-29 00:47] nzakas commented on #5711
This is tricky. This was created before ES6, so it definitely doesn't check exports. On the other hand, I'm not sure what the expectation would be here. Exports can occur anywhere, so there's an argument to be made that the rule is behaving as designed, since you could move the export under the var. The only real question is if `export var` should be treated the same as `var` or differently, and I

[2016-03-29 00:47] nzakas commented on #5228
@michaelficarra can you open a separate issue for that?

[2016-03-29 00:48] Qix- commented on #5716
Yeah. We had an issue earlier today so I've been doing damage control. As long as you're not requiring *exactly* v1.1.2 it should be fixed by simply reinstalling packages.

Apologies.

[2016-03-29 00:49] nzakas commented on #5693
@platinumazure sorry, I can't quite follow your rationale for a new rule. The example code in the original description is a constant condition that we are missing.

[2016-03-29 00:50] nzakas commented on #5679
Unfortunately, it's unlikely to get done unless we get a volunteer. I'll flag it as such to see if we get any takers.

[2016-03-29 01:32] pvamshi commented on #5693
@nzakas Yes , after fixing #5228 I will work on this .

[2016-03-29 01:47] michaelficarra commented on #5711
I don't think `export var` should be treated any differently than `var` for this rule.

[2016-03-29 02:39] scottohara opened #5718 "Inside a switch statement, newline-before-return conflicts with lines-around-comment"
#### Background info
`lines-around-comment: ["error", {beforeLineComment: true, allowBlockStart: true}]` requires a blank line before any single-line comments, *except* where the comment is the first line of the block:

[code]

`newline-before-return: "error"` requires a blank line before any return statements, *except* where the return is the only statement in a statement group.

[code]

#### Pro

[2016-03-29 03:21] Jokcy opened #5721 "Cannot find module 'eslint-plugin-react' error in a no react project"
**What version of ESLint are you using?**
v2.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint(default runs into the same error)

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
or in webpack
[code]

**What did you expect to happen?**
lint the src files

**What actually happened? Plea

[2016-03-29 03:39] scottohara commented on #5718
A workaround is to move the comments to above the case labels, eg.

[code]

[2016-03-29 04:00] kaicataldo commented on #5685
Cool, I'll try to get to this this week then.

[2016-03-29 04:02] kaicataldo commented on #5612
Changes merged to doctrine. Will finalize this PR when the next doctrine version is released.

[2016-03-29 05:10] OKNoah opened #5722 "Cannot use spread parameter"
My `.eslintrc` says

    "ecmaFeatures": {
      "generators": true,
      "restParams": true,
      "spread": true
    }

`Package.json` says

    "eslint-config-airbnb": "^2.0.0",
    "eslint-plugin-react": "^3.13.1",

I have the same configuration in another project, not sure why this does work here.

[2016-03-29 05:19] smoltron commented on #5703
No effect:
[code]

[2016-03-29 05:36] platinumazure commented on #5722
Assuming you're using ESLint@^2.0.0, there are some breaking changes between 1.x and 2.x regarding parser options. Please read the Migrating to 2.0 document for more information.

[2016-03-29 06:02] pvamshi commented on #5228
If you are creating different task, I will ignore void and take care of typeof alone in this issue. Can you guys please confirm.

[2016-03-29 07:33] michaelficarra commented on #5228
I don't see why it's different. They're both unary operators that return an unconditionally truthy/falsey value.

[2016-03-29 07:48] DarkPark opened #5723 "Inconsistent max-statements-per-line rule format"
This rule requires one mandatory option "max":

[code]

But many other max rules

http://eslint.org/docs/rules/max-len
http://eslint.org/docs/rules/max-statements
http://eslint.org/docs/rules/max-depth
http://eslint.org/docs/rules/max-nested-callbacks
http://eslint.org/docs/rules/complexity
http://eslint.org/docs/rules/max-params

do not require it and allow to specify value without config object

[2016-03-29 10:09] zaygraveyard opened #5724 "TypeError in key-spacing rule when using object rest spread"
**What version of ESLint are you using?**
`v2.5.3`

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
The linting passes with no errors.

**What actually happened? Please include the actual, raw output from ESL

[2016-03-29 10:44] radek-holy commented on #4828
@nzakas, I apologize. I didn't want to be rude. That must be my poor English...

@IanVS:
[code]
It doesn't seem to work. Did I miss something? But it looks promising. I guess that it would meet my needs.

[2016-03-29 11:59] olmokramer commented on #5711
I agree with @michaelficarra. After all it *is* a variable declaration, just one for a variable that happens to be exported.

Or maybe there can be an option for `vars-on-top` that changes behaviour with respect to the `export` keyword. Something like
[code]

[code]

[2016-03-29 12:37] platinumazure commented on #5228
@michaelficarra It's just about scope creep for the issue, I think. If we
want void accounted for as well, I have no problem with that- but it should
be tracked separately since the original issue was about typeof.
On Mar 29, 2016 2:33 AM, "Michael Ficarra" <notifications@github.com> wrote:

[2016-03-29 12:38] ilyavolodin commented on #5721
v2.5.0 had an issue with npm bundle. Could you try upgrading to v2.5.3?

[2016-03-29 12:55] danielepennati opened #5725 ""strict" rule doesn't work properly"
Hello,
we are using eslint v2.4.0 extending the [eslint-config-airbnb](https://www.npmjs.com/package/eslint-config-airbnb)
Here it is our config:

[code]

We want to get error if there is no "use strict" statement in the file.
The issue is that we never get the error.
If we change the strict rule to "function" or 'never' and we have a "use strict" in global scope we get this error

Anyway we never

[2016-03-29 13:00] platinumazure commented on #5725
Are you using modules or scripts? Meaning, are you using import/export keywords intentionally, or skills each file be treated merely as a script?

It is possible the airbnb configuration assumes the former but you want the latter. If so, try adding the following to your configuration:

[code]

[2016-03-29 13:01] platinumazure commented on #5725
Gah, ignore the space before sourceType. (Sorry, I would edit but the mobile Github interface does not support message editing)

[2016-03-29 13:10] danielepennati commented on #5725
**parserOptions** did the magic!
thanks a lot for the support
daniele

[2016-03-29 13:18] pvamshi opened #5726 "[ no-constant-condition] should validate 'void' too"
**Request type** : Enhancement

**Rule** : `no-constant-condition`

**What version of ESLint are you using?**
2.5.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
Error as it is a constant condition

**What a

[2016-03-29 13:56] gyandeeps commented on #5724
Based on your config you are using default (espree) parser. Since object spread is not part of ES6 or ES7 that why we dont support it out of the box.
Link: https://github.com/eslint/eslint#what-about-ecmascript-6-support

For your purpose please use `babel-eslint`.

[2016-03-29 14:16] LewisMcMahon opened #5727 "no-unused-vars not working as it should"
**What version of ESLint are you using?**
v2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
 'deltaTime' is defined but never used no-unused-vars yet it is used in the else statement

[code]

**What did you expect to happen?**
nothing this code

[2016-03-29 14:21] web2style commented on #5707
Thank you, @nzakas. Upgrading to 2.5.3 solved the issue.

[2016-03-29 14:21] #5707 closed

[2016-03-29 14:25] ilyavolodin commented on #5725
Looks like this issue is resolved. Closing. Feel free to reopen if this is still a problem.

[2016-03-29 14:25] #5725 closed

[2016-03-29 14:25] OKNoah commented on #5722
`eslint -v` gets `v0.11.0-alpha.0`.

@platinumazure The things to be migrated are in `eslint-config-airbnb`, so I don't want to do that.

[2016-03-29 14:26] ilyavolodin commented on #5726
Sounds reasonable to me. Although I think the primary case should be:
[code]

[2016-03-29 14:30] platinumazure commented on #5727
The `deltaTime` variable isn't used, only assigned to. Furthermore, it's declared in the same scope and I don't see any closure which uses it. I think the lint error is correct and this is a sign that you might need to ensure you are using `deltaTime`.

[2016-03-29 14:35] ilyavolodin commented on #5722
@OKNoah That's an extremely old version of ESLint, any reason to not upgrade to at least 1.x version, if not to 2.x?

[2016-03-29 14:36] rstudner opened #5728 "eslintignore ! not working. (exclude)"
Using eslint 2.5.1

my .eslintignore file is:
[code]

This doesn't work.  It ignores pickAnyFolder.  I can't seem to use the ! syntax at all with 'conflicting rules'.

Is this a known issue (I can't seem to find it)

so I have to do:
[code]

basically... and then just not include a specific directory in the ignore.  Pain!

[2016-03-29 14:36] ilyavolodin commented on #5727
@LewisMcMahon variable is considered as used when it's assigned to another variable or used in a function call. You are just assigning a value to that variable, but that value is not used anywhere in the code you provided. The rule is doing the right thing in this case.

[2016-03-29 14:37] ilyavolodin commented on #5728
@rstudner v2.5.1 had some known issues with npm bundling, could you try this same thing with v2.5.3 please?

[2016-03-29 14:46] rstudner commented on #5728
Didn't make any positive difference.  The ! appears to not be working.

BTW, I'll try from the command line -- i'm currently using RubyMine to 'visualize' the results and possibly this is affecting things

(though again, if I don't try to rely on !, everything works 100%)

[2016-03-29 14:47] alberto commented on #5728
You can't unignore something in an ignored folder.

Instead, you can do
[code]

[2016-03-29 14:49] OKNoah commented on #5722
@ilyavolodin When I update things, I just get an array of other errors. I've been trying to just duplicate the environment I have on another project on the same machine which works fine. But using the exact same `eslint` and `airbnb` still gives this error.

e.g. I just updated to `eslint 2.5.3` and updated `eslint-config-airbnb` and now I get

    Error: /Users/.../node_modules/eslint-config-airb

[2016-03-29 14:50] rstudner commented on #5728
alberto - I tried that syntax as well, has no different effect for me at least

[2016-03-29 14:51] rstudner commented on #5728
[code]

It won't run on any files under visibility_dashboard with the above.

[2016-03-29 14:53] LewisMcMahon commented on #5727
Turns out im an idiot ill close this

[2016-03-29 14:53] #5727 closed

[2016-03-29 14:59] zaygraveyard commented on #5724
I remembered that I had previously found a similar bug #4763.
And after further investigation I found that I had missed a branch of the `if` which is causing this error.
Would gladly do a PR with the fix if needed.

[2016-03-29 15:00] ilyavolodin commented on #5722
@OKNoah Error is telling you that configuration for the rule `react/display-name` changed, and what you have in your config is no longer valid. v0.11.0 is over 2 years old at this point, so I really suggest you upgrade to the latest.

[2016-03-29 15:07] OKNoah commented on #5722
@ilyavolodin That's _after_ updating. I seemed to fix that after updating `linter` from atom and `linter-eslint`. Now with the latest `eslint` and `eslint-config-airbnb`, I still get this `Unexpected token ...` error.

[2016-03-29 15:21] alberto commented on #5728
Confirmed on 2.5.3

[2016-03-29 15:31] isiahmeadows commented on #5726
@ilyavolodin You mean `if (void foo) {}`? :wink:

[2016-03-29 15:50] ilyavolodin commented on #5722
@OKNoah could you provide your full config please?

[2016-03-29 15:51] ilyavolodin commented on #5726
Yes I do:-)

[2016-03-29 15:54] btmills commented on #5724
Verified on master. Yes @zaygraveyard, please do send a PR!

[2016-03-29 15:55] OKNoah commented on #5722
@ilyavolodin
    {
      "extends": "airbnb",
      "root": true,
      "globals": {
        "__DEV__"      : false,
        "__PROD__"     : false,
        "__DEBUG__"    : false,
        "__DEBUG_NW__" : false
      },
      "ecmaFeatures": {
        "generators": true,
        "restParams": true,
        "spread": true
      },
      "rules": {
        "comma-dangle": [1, "never"],
        "sem

[2016-03-29 16:09] btmills commented on #5718
Wow, thank you for the thorough report @scottohara!

I agree with your first option because I think that a `case`, while not technically a `BlockStatement`, can be treated like one for the purposes of `allowBlockStart`. @eslint/eslint-team what do you think?

[2016-03-29 16:12] platinumazure commented on #5718
Since we already seem to do this in padded-blocks, I would be okay with it in this rule.

[2016-03-29 16:12] zaygraveyard commented on #5724
PR at #5729

[2016-03-29 16:36] ilyavolodin commented on #5722
@OKNoah You need to change some options, especially around `ecmaFeatures` to make them work with eslint v2. Take a look here http://eslint.org/docs/user-guide/migrating-to-2.0.0 for more information.

[2016-03-29 16:53] morrissinger commented on #5716
I ran into this issue. It looks like the problem is that package.json isn't hard-versioned, and chalk issued a breaking change in the point-point release by removing their export of the `stripColor()` method from the strip-ansi package.

See: https://github.com/eslint/eslint/blob/master/package.json#L39

I fixed this by bringing in the strip-ansi dependency directly. See PR: https://github.com/esl

[2016-03-29 17:03] #5724 closed

[2016-03-29 17:11] dryoma opened #5732 ".eslintignore relative pathes"
Hi!

ESLint 2.5.3. Using this .eslintignore:
[code]
The project has a structure like this:
[code]
Before (on v2.4.0) running eslint (actually, gulp-eslint) in the project root would ignore all `bower_components/` from subprojects, which was really great. But now it doesn't: everything in those folders gets linted.

Is this a feature or something is broken?

[2016-03-29 18:08] platinumazure commented on #5732
Does this ignore work for you? `**/bower_components/`

[2016-03-29 18:20] Qix- commented on #5716
That has been reverted. This shouldn't be a problem anymore...

[2016-03-29 19:32] ilyavolodin commented on #5722
@platinumazure Hmm.. Maybe. I think it would be a nice feature to build, but we would need to make it generic somehow. Do you want to open a new issue for this, so we can discuss?

[2016-03-29 20:00] cbrwizard opened #5734 "Enhance no-multiple-empty-lines to allow different approaches for different block sizes"
Hey, I have a use case to add a new option to the no-multiple-empty-lines rule.
I use Eslint 1.10.3, though latest (2.5.3) [docs](http://eslint.org/docs/rules/no-multiple-empty-lines) show that this option is not added yet to the rule.

Check out [this pull request](https://github.com/facebook/react/pull/6360) for React, click on 'Show 2 comments' on the outdated diff. The code was:

[code]

Note

[2016-03-29 20:42] nzakas commented on #5085
Okay, I'm going to make an executive decision and say we'll go with #8080F2 as the official logo (we can always tweak later if necessary).

@omerbalyali can you share a .ai file with that one and the white-on-purple version?

[2016-03-29 22:22] gyandeeps commented on #4009
Based on the time line and attention on this issue, i think this is better off as a plugin, thoughts @eslint/eslint-team ?

[2016-03-29 22:23] gyandeeps commented on #4127
Any updates here or is it safe to close this issue?

[2016-03-29 22:30] csilvers commented on #4127
The issue is still open and unaddressed, as far as I can tell.

These omnibus rules, where you set the settings for two uses-cases at once, lack the ability to say "I want to enforce a rule for one of those use-cases, but I don't care for the other use-case."  None of the comments in this thread address that lack.  It would be useful to us, and I think others, if it were addressed, so I'd suggest

[2016-03-29 22:35] alexeyraspopov opened #5735 "Replace `eslintConfig` with `eslint` in package.json config"
Hey guys! At first I want to thank you all, who participate in creating this tool. I'm using it everyday and I appreciate the work you're doing.

I'm not that good in contributing and this change request won't be technical. But I hope it will reduce the level of entropy in the world and make the usage more predictable.

**What version of ESLint are you using?**
`2.5.3`

**What parser (default, Bab

[2016-03-29 23:46] mysticatea commented on #5689
I think we can move forward this.

- This was intended, but we can change the behavior to allowing multiline strings as [no-multi-str] is covering this. I think this is not a breaking change since this is easing.

I will work on this within a few days.

[no-multi-str]: http://eslint.org/docs/rules/no-multi-str

[2016-03-29 23:49] ilyavolodin commented on #4009
Agree. I think this is better off as plugin.

[2016-03-30 00:04] mysticatea commented on #5692
Thank you for this issue.

I'm sorry for late.

Surely, the 2 rules can conflict.
But in this case, actually, these are not conflicting because you are using `"nofunc"` option of `no-use-before-define` rule.

[code]

I think we can do 2 things.

- Moving the location of the error to the declaration if the reference was read before the assignment.
- Adding an option of `prefer-const` rule to allow

[2016-03-30 00:25] nzakas commented on #5703
Hmm, that's strange. What version of Node.js are you using? And is there a stack trace output when you see this? If so, can you please include the full stack trace here.

[2016-03-30 00:27] nzakas commented on #4009
Agreed. @frodosamoa I'd recommend taking a look at our plugin docs for more information: http://eslint.org/docs/developer-guide/working-with-plugins

[2016-03-30 00:27] #4009 closed

[2016-03-30 00:33] IanVS commented on #4009
@frodosamoa if you do make this rule as a plugin, please post back here and let us know.  I, for one, would use it.

[2016-03-30 02:11] ilyavolodin commented on #5703
I verified that on my local machine everything is working correctly, with Windows 10, Node 4, NPM 2

[2016-03-30 03:37] pvamshi commented on #5693
Created a pull request.

[2016-03-30 04:09] kaicataldo commented on #5612
PR opened with the bumped version of Doctrine and some tests covering this case

[2016-03-30 04:50] OKNoah commented on #5722
[code]

No joy with this either.

[2016-03-30 04:59] smoltron commented on #5703
Sorry, this was my fault. There was an old node version in the portion of my path that was used only by Git Bash. Somehow Git Bash has appended /Users/USER/bin to the path. This is not in my environment and other programs do not see it. The bin directory contained this old node, which I had forgotten.
I am sorry about the extra work.

[2016-03-30 05:09] Jokcy commented on #5721
@ilyavolodin I updated and nothing changed. Also I tried to move the project to another folder the it runs OK. I don't understand

[2016-03-30 05:12] platinumazure commented on #5721
Maybe you have a config file in an ancestor directory (above project root) that is pulling in react? Try setting `root: true` in your project config.

[2016-03-30 06:03] dryoma commented on #5732
@platinumazure that works, thanks. And that is a reasonable pattern to think of. (sigh) In the end late night deploy pushes are really bad for one's thought processes )=

[2016-03-30 08:43] DarkPark commented on #5723
@platinumazure your point is clear, but it seems as unnecessary repetition.
The word "max" is already present in the option name.
If I exaggerate it a little bit it will look like this:

[code]

What about such streamline variant?

[code]

Where field "value" represents the main option value.

But actually if there is one main option value it's seems logical to use this form:

[code]

[2016-03-30 11:44] dostalleos commented on #5644
Hello,

I just updated to the latest version (2.5.3) and it's still same.

[2016-03-30 11:46] Alaneor commented on #5644
I don't think this is released yet, 2.5.3 went out before this was merged. I am assuming the fix for this issue will be available as 2.5.4 or 2.6.

[2016-03-30 12:26] alberto commented on #5732
The first method should also work. Not sure if it's an issue with `node-ignore` or ours. I will take a look

[2016-03-30 12:27] alberto commented on #5728
I'll have a look at this

[2016-03-30 13:04] BYK commented on #5013
What if we used shrinkwrap + bundleDependencies? I feel like that would solve these issues.

[2016-03-30 13:40] #5612 closed

[2016-03-30 14:00] ilyavolodin commented on #5703
Looks like this issue is resolved. Closing.

[2016-03-30 14:00] #5703 closed

[2016-03-30 14:18] gyandeeps commented on #5188
@platinumazure I have commited changes for 2 more rules. can you plz update your list with that?

[2016-03-30 14:25] platinumazure commented on #5188
@gyandeeps Edited the initial post with what I believe the list should look like. Please let me know if I missed something. Thanks!

[2016-03-30 14:47] OKNoah commented on #5722
Apparently the correct key is `"experimentalObjectRestSpread"`, which is not what it says in the docs.

[2016-03-30 15:06] nzakas commented on #5644
Yes, this fix hasn't been released yet.

[2016-03-30 15:15] nzakas commented on #5735
Duplicate of https://github.com/eslint/eslint/issues/2670

[2016-03-30 15:15] #5735 closed

[2016-03-30 15:18] nzakas commented on #5567
This would be a pretty big hack and would likely have a lot of false positives, so I don't think we can implement this.

[2016-03-30 15:18] #5567 closed

[2016-03-30 15:19] nzakas commented on #5175
Ping @feross I'd really like your feedback on this before we merge. Can you please give the branch mentioned above a try?

[2016-03-30 16:55] nfriend opened #5737 "no-control-regex: Invalid example in documentation doesn't trigger a warning on the demo page"
**What version of ESLint are you using?**
2.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Here's my `.eslintrc.js`:

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected this code to cause a linting error. This code snippet is the first incor

[2016-03-30 17:31] mohsen1 commented on #5626
I had this issue again today. I don't think it's the "correct" behavior. Most CLI applications take local configuration first and if that doesn't exists use global configuration.  Take for example `. gitattributes` of Git.

Imagine this scenario:

You clone a repo and install its dependencies. Now if you run `eslint` to check for lint errors, it's going to complain about lack of global installatio

[2016-03-30 17:37] ilyavolodin commented on #5013
@BYK That's what we did. The issue is due to the known bug in NPM 2 with bundleDependancies. Shrinkwrap doesn't help with that:-(

[2016-03-30 17:39] ilyavolodin commented on #5722
@OKNoah documentation does mention `experimentalObjectRestSpread` and states that you need to enable that for object rest/spread.

[2016-03-30 17:52] platinumazure opened #5738 "no-unmodified-loop-condition: Inconsistent behavior in calling function on loop condition var depending on whether condition checks member or not"
**What version of ESLint are you using?**

2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Example 1:
[code]

Example 2:
[code]

**What did you expect to happen?**

Both examples feature the loop condition being modified, via a function call

[2016-03-30 19:08] lukeapage commented on #5692
for the 2nd option, its only valid (in the case of `let`) inside a function because of TDZ so it seems a very specific extra option to work-around the rule being overly aggressive - it doesn't seem to me to be that much of a relaxation to not create an error if its read in a sub function scope.
I'm in 2 minds as to what is most important - define before use or mark variable as const - because that

[2016-03-30 19:40] #5175 closed

[2016-03-30 19:40] #5468 closed

[2016-03-30 20:39] mysticatea commented on #5738
Honestly, I hadn't noticed that simple comparisons can have side effects.
I think we should describe `valueOf`, `toString`, and `[Symbol.toPrimitive]` as known limitations in the document of this rule.

No longer I can believe comparisons in JS. :(

[code]

[2016-03-30 20:44] vinsonchuong opened #5739 "eslint still processing files in `node_modules` despite not showing any linting errors for them?"
**What version of ESLint are you using?**
2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
See the repo https://github.com/vinsonchuong/test-eslint-ignore for the full source code.
[code]

**What did you expect to happen?**
I expected `eslint .`

[2016-03-30 21:09] nzakas commented on #5469
I think so. @BenoitZugmeyer made a pretty strong case.

[2016-03-30 21:10] nzakas commented on #5469
That probably means this is also an enhancement now instead of a bug.

[2016-03-30 21:11] dsilva commented on #5468
Hi @nzakas, sorry for the delay -- your updated branch worked over here too.

[2016-03-30 21:12] nzakas commented on #5449
I think having special cases for literals is fine. We do want to try to warn people about as much as possible before they run code, so if there's something we can easily detect, I think we should do it.

[2016-03-30 21:13] vitorbal commented on #5685
hey, @kaicataldo any chance you would be willing to share this issue? Would love to help out, it looks like a good starting point to get my feet wet with contributing :)

[2016-03-30 21:15] nzakas commented on #4826
@EricHenry sure, we'd love the help. I think what we're looking at is a configuration that looks like this:

[code]

[2016-03-30 21:16] btmills commented on #5739
This looks to be a duplicate of #5679. What's happening is when you specify `index.js`, ESLint only looks for `index.js`, but when you specify `.` as the path, it traverses through the current directory, including `node_modules`, before it then excludes everything under `node_modules` from linting, so it's the traversal that's taking extra time. #5679 would provide ignore information to the traver

[2016-03-30 21:16] #5739 closed

[2016-03-30 21:17] nzakas commented on #5709
Unfortunately, this would end up as a pretty low priority based on the current workload. I do think that this would be best as an option on `lines-around-comment`, and if someone wants to suggest an implementation, we can definitely review it.

[2016-03-30 21:19] nzakas commented on #4828
@ianvs we have a bug where `!` isn't working right now: https://github.com/eslint/eslint/issues/5728

We can wait until that gets resolved and then revisit this.

[2016-03-30 21:21] nzakas commented on #5711
Let's go with @michaelficarra's opinion. I can't think of any good rationale why `export var` is different than `var`, so we can treat them the same.

@olmokramer are you interested in submitting a PR?

[2016-03-30 21:22] nzakas commented on #5228
@michaelficarra what @platinumazure said. The PR was already in progress, and it's unfair to contributors to move the finish line once they've started on a solution. In general, any comment that's "and also" to an issue should end up as its own issue for tracking purposes.

[2016-03-30 21:23] nzakas commented on #5468
:+1: sweet, thanks for verifying! This will go out on Friday.

[2016-03-30 21:23] nzakas commented on #5718
Sounds good to me.

@scottohara do you want to submit a PR?

[2016-03-30 21:29] nzakas commented on #4127
I'm fine with adding `"anonymous": "ignore"` as an option to `space-before-function-parens`. If someone wants a similar option for another rule, please open another issue.

@csilvers the only way this moves forward is if someone steps forward to drive it to completion as the core team doesn't prioritize small rule enhancements like this. We'll leave this open for a bit longer to see if anyone step

[2016-03-30 21:30] nzakas commented on #5013
We can definitely at least do shrinkwrap during the release, so we pin the dependencies to what was there during the release process. I don't think we can do bundling until we find a way to address that npm 2 bug.

[2016-03-30 21:38] scottohara commented on #5718
Will do.  Might take a day or two to find some time, but I can certainly take this on.

[2016-03-30 21:41] ilyavolodin commented on #5013
I think the fix might need to be on @gajus side. I'll open an issue there.

[2016-03-30 22:00] csilvers commented on #4127
Totally understood.  I feel bad posting the issue without having the time to step forward myself.  I'll keep my fingers crossed that someone else does!

[2016-03-30 22:41] platinumazure commented on #4127
I don't know when I'll have time, but I'm happy to get this done at some point. (But if someone else has time and motivation before I do, please don't wait for me!)

[2016-03-30 22:49] platinumazure commented on #5709
Personally, I think the options like `allowBlockStart` need to become three-state options, with values equivalent to "require", "forbid", or "either"/"tolerate".

And at that point, if it's already a breaking change, I'd also change the names to "atBlockStart" (or just "blockStart"), etc.

In theory, it could be possible to map the current style to the new one (allowBlockStart: false becomes "requ

[2016-03-30 23:06] bighuggies commented on #5692
However this was working previously was perfect. What errors are now being caught that weren't before because of this?

[2016-03-31 00:04] mysticatea commented on #5692
@bighuggies Before, when the initialization was separated, `prefer-const` had been warning variables even if the assignment exists in another block. So it had a different logic with now. The cases that the assignment exists in another block will be separated to another rule: #5284

----

I try to more explain my 2 proposal. I intended both 2 proposals apply.

Currently, `prefer-const` shows errors

[2016-03-31 00:15] OKNoah commented on #5722
@ilyavolodin What does `"spread"` do then?

[2016-03-31 00:27] kaicataldo commented on #5685
@vitorbal Go for it, more contributors are always welcome!

[2016-03-31 01:22] IanVS commented on #5728
I think the double globstar (`**`) is not what you want here.  Instead, it should be:

[code]

With that syntax, everything works as expected when I test (meaning, everything is ignored except for `pickAnyFolder`).

[2016-03-31 01:24] rstudner commented on #5728
I believe a "great odin's raven" works out nicely here.

That works for me as well thanks :)

Now, the key, is that how it is *supposed* to work hah.

[2016-03-31 01:44] IanVS commented on #5728
Yes, our `.eslintignore` file is supposed to work the same way as a `.gitignore` file.  And using a trailing `**` doesn't work in a `.gitignore` file either.

[2016-03-31 01:44] #5728 closed

[2016-03-31 01:54] IanVS commented on #4828
I did a little digging, and I think I figured out what's going on.  When you pass in `.` as the argument to eslint, we convert it into a glob like `/absolute/path/to/your/path/**/*.js`.  We then use [node-glob](https://github.com/isaacs/node-glob) to get a list of files to process.  By default, node-glob will not match files and folders which begin with a `.` (https://github.com/isaacs/node-glob#d

[2016-03-31 02:43] alberto commented on #5728
@IanVS According to the [git docs](https://git-scm.com/docs/gitignore) it should, but I tested on my machine (git 2.6.2) and it didn't work either. Maybe the docs are wrong?

[2016-03-31 03:26] alberto commented on #5732
And it does work.
[code]

Closing for now. @dryoma Feel free to reopen with additional info, maybe a simplified example you can reproduce with your actual file structure and eslint setup and output.

[2016-03-31 03:26] #5732 closed

[2016-03-31 05:52] alberto commented on #5469
Is the proposed name `always-multirow` ok for you?

This goes back to whether multiline is meant for items or brackets. @BenoitZugmeyer considers them, @ffxsam doesn't.

So maybe something like `ignoreBrackets` or `ignoreBracketsPosition`?

[2016-03-31 05:53] ffxsam commented on #5469
No, I'm on board with @BenoitZugmeyer now.

[2016-03-31 06:08] scottohara commented on #5531
With eslint 2.5.3, still seeing this issue with a `// no default` comment in a `switch` statement.

[code]

[code]

Removing the comment fixes the error (but clashes with `default-case`)

[2016-03-31 06:22] alberto opened #5742 "Change order in `eslint --init` environment options"
This is a minor thing, but I think it's worth fixing anyways. :)

When running `eslint --init`, the question about environment shows `browser` option as selected by default, but I think it is a bit confusing that it is not the first option of the list (which is the one that gets the focus).
![eslint-init-enviroment](https://cloud.githubusercontent.com/assets/72561/14167058/d9f77cec-f718-11e5-8919-

[2016-03-31 06:41] orangewise commented on #2112
this works for me:

[code]

[2016-03-31 09:48] dmitry-zaets commented on #5583
This should go first one, before `import moment from 'moment';`

[2016-03-31 09:48] bajtos opened #5744 "one-var reports error for a variable declared in a for-loop after an uninitialized variable declaration"
**What version of ESLint are you using?**
v2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Here is a small code snippet reproducing my issue. Just save it to a file and run `eslint` with the config shown above.

[code]

**What did you expect

[2016-03-31 09:49] vitorbal commented on #5685
Thanks! FYI: #5743

[2016-03-31 11:28] bajtos commented on #5744
A case that I find even more confusing:

[code]

The error message suggests merging the declaration of `ix` with `k`, which is rather nonsense to me.

[2016-03-31 12:48] ilyavolodin commented on #5722
@OKNoah nothing anymore. It has been removed (as noted in the link that I provided), but before, when it existed, it controlled array spread (which is part of ES6 spec, vs. object rest/spread which is stage 2 proposal, and not even part of ES7 spec).
I assume, based on your comments, that the issue has been fixed and can be closed?

[2016-03-31 12:52] #5689 closed

[2016-03-31 12:56] #5718 closed

[2016-03-31 13:07] ilyavolodin commented on #5744
@bajtos I assume the second example is done with the configuration as the first one? Because second example makes sense if configuration would've been:
[code]
In that case, the example should be re-written as:
[code]

[2016-03-31 13:27] bajtos commented on #5744
@ilyavolodin thank you for coming back to me. Yes, the second example is using the same configuration as the first one.

Perhaps I should explain our coding style, here is an example:

[code]

Thoughts?

[2016-03-31 13:35] kaicataldo commented on #5531
Hey @scottohara, thanks for letting us know! Can you file a new issue for this? There's a good chance this is caused by the same bug, but it may also be a problem with one of the rules you mentioned. A new issue will help us triage this better.

[2016-03-31 14:02] BYK opened #5745 "valid-jsdoc cannot handle FieldType"
**What version of ESLint are you using?**

2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default (Espree)

**Please show your full configuration:**

Only pasting the relevant part:
[code]

**What did you do? Please include the actual source code causing the issue.**

Tried to validate the following snippet:

[code]

**What did you expect to happen?**

The code to pass valida

[2016-03-31 14:03] BYK commented on #5745
Working on this.

[2016-03-31 14:09] BYK opened #5746 "valid-jsdoc cannot handle ArrayType"
**What version of ESLint are you using?**

2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default (Espree)

**Please show your full configuration:**

Only pasting the relevant part:
[code]

**What did you do? Please include the actual source code causing the issue.**

Tried to validate the following snippet:

[code]

**What did you expect to happen?**

The code to pass valida

[2016-03-31 14:10] BYK commented on #5746
Working on this.

[2016-03-31 14:28] ilyavolodin commented on #5744
Hmm... In that case, it sounds like we have a bug with uninitialized variables and loops. I was able to confirm this in the online demo. @bajtos do you want to submit a patch to fix this issue?

[2016-03-31 14:34] bajtos commented on #5744
:+1:

Uff, I am very tight on time, but I may give it a try, because I do want to get this fixed soon.

@ilyavolodin could you please point me in the direction where to start? Could it be this line, which treats differently only `ForStatement`, but not `ForInStatement` and `ForOfStatement`?

https://github.com/eslint/eslint/blob/7374d2b4b3838e6c14d2c45291687c25f5f7f191/lib/rules/one-var.js#L253

I

[2016-03-31 14:44] #5722 closed

[2016-03-31 14:48] ilyavolodin commented on #5744
@bajtos That looks like the right place. I verified that the rule doesn't warn for regular `for` loop statements, only for `for...in` and `for...of`, so it sounds like you just need to add those as special case along with `ForStatement`. And yes, tests would go into the file you linked.

[2016-03-31 15:14] isaacl opened #5748 "performance: improve config caching"
**What version of ESLint are you using?**
2.53.

Eslint currently caches config for each src directory, which leads to lots of redundant config parsing. This is the most expensive step on our repository when --cache is active since airbnb config takes ~50ms to parse.

One alternative would be to split out the logic for determining config files from the actual loading of them, cache this for a give

[2016-03-31 15:14] viveleroi opened #5749 "Rule enforcing new line spacing between variables and blocks"
I've looked through the docs, asked on gitter/stackoverflow but it seems clear this rule doesn't exist.

**When does this rule warn? Please describe and show example code:**

This rule will enforce a number of new lines between code.

[code]

It seems like ` newline-after-var` would handle enforcing a new line after the var but there's no rule to enforce new lines between each block. For example i

[2016-03-31 15:28] platinumazure opened #5750 "no-useless-escape is missing \B regex escape"
**What version of ESLint are you using?**

2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error-- `\B` is a valid regex escape, meaning the inverse of `\b` (that is, `\B` is a zero-width assert

[2016-03-31 15:32] platinumazure opened #5751 "no-useless-escape could flag exact location of invalid escape sequence"
This is an enhancement request for `no-useless-escape`. Right now, we report on the literal node, which results in an error message location that points to the beginning of the string or RegExp; it would be awesome if we could take into account the offset of the offending character so that we could give a more precise location.

The issue is more obvious when you have multiple problems in your lit

[2016-03-31 15:46] platinumazure commented on #5738
@mysticatea It's unfortunate that comparisons can have side-effects and I'm okay with documenting that `toString`/`valueOf`/`Symbol.toPrimitive` *with side effects* cannot be realistically covered by this rule.

However, my examples above (even the moment.js one) does not involve side-effects during the comparison. Rather, it involves a side-effect in the loop afterthought which is not being accou

[2016-03-31 18:13] alberto commented on #5469
Should we close this then?

[2016-03-31 18:21] ffxsam commented on #5469
I'm cool with that if everyone else is.

[2016-03-31 18:41] #5745 closed

[2016-03-31 18:41] #5746 closed

[2016-03-31 21:32] scottohara opened #5754 "Comment in SwitchCase triggers newline-before-return"
This issue is similar to #5531 (raising as a separate issue on request of @kaicataldo).

`// no default` comment in a `SwitchCase` triggers `newline-before-return` error.

**What version of ESLint are you using?**
2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source co

[2016-03-31 22:57] jamielesouef commented on #4344
thanks @gasolin ! your fix worked for me (babel-eslint 6)

[2016-03-31 23:14] kaicataldo commented on #5754
Do you mean that it looks similar to https://github.com/eslint/eslint/issues/5480?

[2016-03-31 23:15] scottohara commented on #5754
Yes, similar to #5480; sorry.

[2016-04-01 01:36] #5705 closed

[2016-04-01 02:00] mysticatea commented on #5738
Ah, sorry, my intent was that implicit conversions (`valueOf`, `toString`, ...) are known limitations.

I think, normally we don't expect to modify a reference by calling a method of the reference.
`foo.doSomething()` can modify a state of `foo`, but it doesn't modify `foo` itself generally.

`foo < 10` expression might be `foo.valueOf() < 10`. It's an implicit conversion. `no-unmodified-loop-cond

[2016-04-01 02:49] kaicataldo commented on #5754
No problem - just wanted to make sure I understood :)

[2016-04-01 06:01] elgubenis commented on #4353
Hey, I'm not sure what I am doing wrong, but somehow found this Issue related, I get an eslint error in these examples:

[code]

[code]

could someone be so kind to give me a little hint? the error is: ```Unexpected block statement surrounding arrow body.```

[2016-04-01 06:18] mysticatea commented on #4353
@elgubenis It's [arrow-body-style](http://eslint.org/docs/rules/arrow-body-style)'s warning.
The arrow function of your code has only a `return` statement in the body, so you can rewrite them with `() => foo` style.

[2016-04-01 06:50] mysticatea commented on #5750
![image](https://cloud.githubusercontent.com/assets/1937871/14199631/1a317f20-f821-11e5-93c8-c0275b23fa55.png)
![image](https://cloud.githubusercontent.com/assets/1937871/14199650/35765670-f821-11e5-868c-2af522c7b8d4.png)

[2016-04-01 07:04] mysticatea commented on #5751
I like this idea.

I think `error 1:20 - Unexpected escape sequence: '\c'` or something like is good.
`no-unused-vars` is similar, the rule is warning at variable names in a comment node.

![image](https://cloud.githubusercontent.com/assets/1937871/14199974/e4e2f6ee-f822-11e5-8ae4-ed0b281e85c2.png)

[2016-04-01 07:26] sjdemartini opened #5756 "Unexpected parsing error with trailing comma in destructuring pattern"
**What version of ESLint are you using?**
v2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
`"ecmaVersion": 7,`

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No linting errors.

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-04-01 08:57] bajtos commented on #5744
Ouch, I just realised I need to get an approval from my employer before I can contribute. It will take at least several days to get it processed. If there are any other volunteers to contribute the fix, then please don't hesitate to take this over.

[2016-04-01 09:25] alvov opened #5757 "Add `commentPattern` option to `no-fallthrough` rule"
**What version of ESLint are you using?**
2.5.3
**What rule do you want to change?**
`no-fallthrough`
**What code should be flagged as incorrect with this change?**
[code]
**What happens when the rule is applied to this code now?**
Errors:
`Expected a 'break' statement before 'case'.`
`Expected a 'break' statement before 'default'.`

It seems useful to be able to customize the comment pattern for

[2016-04-01 09:29] bajtos commented on #3229
@nzakas could you please share an example of the RegExp that describes a line containing regexp definition only, possibly with an assignment to a variable? I think the expression would be pretty complex and thus it may be better to implement his particular exception as a first-class eslint option.

Here is an example of  what I would like to achieve:

[code]

For example, jscs's `maximumLineLength

[2016-04-01 11:42] anders-lifelike opened #5758 "r"
**What version of ESLint are you using?**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-04-01 11:43] #5758 closed

[2016-04-01 11:49] whitneyit opened #5759 "`quotes` not working with backticks and function string arguments"
**What version of ESLint are you using?**
eslint@2.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
For the double quotes in the `replace` function to be valid because of the `avoid-escape` option.

**Wha

[2016-04-01 11:54] mysticatea commented on #5759
Thank you for this issue.

You can use backtick in `replace` function arguments.

[code]

[2016-04-01 12:01] whitneyit commented on #5759
I didn't even know that was possible :open_mouth:

With that info, does this mean that the warning is correct? I feel like it should throw a different error message so as to inform the user that is is possible to nest backticks.

I dunno, could just be that I'm silly :flushed:

[2016-04-01 12:02] vitorbal commented on #5726
I would love to tackle this one if it gets accepted!

[2016-04-01 12:15] mysticatea commented on #5759
Yes, the warning is correct.
We can write any expression (yeah, includes template strings) between `${` and `}`.

[code]

Surely, this is funny. :smile:
But I'm not sure whether we need to change the error message or not.

Further Reading: https://tc39.github.io/ecma262/2016/#prod-TemplateLiteral

[2016-04-01 13:22] ForbesLindesay opened #5760 "Rule to prevent redundant `Promise.resolve` or `Promise.reject`"
**When does this rule warn?**

When wrapping a value returned from a Promise handlerFn in `Promise.resolve` or `Promise.reject`

[code]

**Is this rule preventing an error or is it stylistic?**

It helps users to understand how promise values propagate.

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

Promises are widely used, but currently still not well underst

[2016-04-01 13:26] ForbesLindesay opened #5761 "Rule to prevent no-op promise handlers"
**When does this rule warn?**

When the identify function is used as the success handler of a Promise or the "throw function" is used as the failure handler of a Promise.

[code]

**Is this rule preventing an error or is it stylistic?**

It helps users to understand how promise values propagate.

Usually when people write `.catch(err => { throw err; })` they intend to throw the error into the next

[2016-04-01 14:17] ilyavolodin commented on #5757
Hmm... I thought at some point (a while back) we made a change that would consider any comment as a fallthrough comment.

[2016-04-01 14:18] #5685 closed

[2016-04-01 14:20] #5750 closed

[2016-04-01 14:59] platinumazure commented on #5757
@ilyavolodin I took a spin through `no-fallthrough`, `default-case`, `no-empty`, and `no-empty-function`. Here is what I found:

* `no-fallthrough` expects the regex cited in the initial post of this issue
* `default-case` expects a comment to have the value "no default"
* `no-empty` allows any comment
* `no-empty-function` allows any comment

I think `no-fallthrough` and `default-case` should be

[2016-04-01 15:19] diki commented on #5744
I would like to work on this, i think can submit the fix at weekend.

[2016-04-01 15:19] olmokramer commented on #5711
@nzakas Sure, #5762 should fix it, although I see that it's complaining about the commit messages. I'll fix them right away.

[2016-04-01 15:28] luisincrespo commented on #3737
+1

[2016-04-01 15:32] #5594 closed

[2016-04-01 16:05] lencioni commented on #5329
What do you think about integrating a tool like [jscodeshift](https://github.com/facebook/jscodeshift) for autofixing?

[2016-04-01 17:27] ilyavolodin commented on #5757
I guess it makes sense for `no-empty` and `no-empty-function` to accept any comment vs. `no-fallthrough`. I would be OK with adding a new option to both `no-fallthrough` and `no-default-case` to accept RegEx.

[2016-04-01 17:28] ilyavolodin commented on #5744
Sounds good @diki I think @bajtos outlined what needs to be done quite well in his previous post.

[2016-04-01 17:28] alvov commented on #5757
@platinumazure I think I get your point (though I'm not 100% sure), but in that case the change will be breaking. I mean, existing code with 'fall through' comments will generate errors if the option becomes required. Of course I will fix my PR if thats okay.
@ilyavolodin should I add a new option to `no-default-case` in this PR or create another issue?

[2016-04-01 17:32] ilyavolodin commented on #5329
@lencioni jscodeshift doesn't keep track of whitespaces (at least I don't think it does), so it will actually reformat your code in a lot of ways.

[2016-04-01 17:34] ilyavolodin commented on #5757
@alvov We need input from other members of the team before accepting this issue, but `no-default-case` should be tracked as a separate issue and PR

[2016-04-01 17:34] #5711 closed

[2016-04-01 17:47] aliak00 commented on #2808
jslint has an IMO nice approach where if you name the variable `ignore`, well, then, it's ignored. And it complains if the variable named `ignore` is used in a catch block. I'd assume it comes with the option to disable/enable I guess. Would that work for eslint?

[2016-04-01 18:08] zpao opened #5764 "indent rule uses ClassBody node to determine indent level, causing false positives"
**What version of ESLint are you using?**
master (currently 2.5.3)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
es6, indent: 2, 2

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No indentation rule vioations

**What actually happened? Please include the actu

[2016-04-01 20:00] bdkjones opened #5765 "CLI Request: Support ":write" as well as ":true" for writeable globals"
Currently, to pass a writeable global to the ESLint CLI, you must use: `globalName:true`. I propose that the CLI also accept `globalName:write`.
### Why?
1. It makes the intent much clearer. For newcomers, "true" doesn't make much sense; it's not immediately clear what that means.
2. `:write` is the standard used by JSHint and JSLint, which makes migration easier.
3. Supporting both `:true` and `:

[2016-04-01 20:23] platinumazure commented on #5765
I'm pretty sure the original reason we did `:true` was because it was based off of JSHint, so if JSHint now supports `:write`, then we don't have much of a reason not to. I would champion this.

What about `:false`, is there a `:read` or similar?

[2016-04-01 20:35] platinumazure commented on #5759
@mysticatea Just to confirm, you don't think this is a bug? So either this is invalid, or an enhancement request to change the error message?

If you don't think this is a bug, one of us can label this as an enhancement under evaluation. Thanks!

[2016-04-01 20:49] bdkjones commented on #5765
Well hell, I just checked JSHint's docs and they do show `:true`. I don't know when that changed, but I could swear it used to be `:write`. I've been using `:write` for years, at any rate. I still think the proposal makes sense regardless though—`:write` is a lot more intuitive than `:true`. And as long as we support both, there's no cost.

[2016-04-01 20:52] radiovisual opened #5766 "'no-irregular-whitespace' catching zero-width non-breaking spaces (UTF8 BOM)"
**What version of ESLint are you using?**
2.3.0

**What configuration and parser (Espree, Babel-ESLint, etc.) are you using?**
- configuration: [eslint-config-xo](https://github.com/sindresorhus/eslint-config-xo/blob/master/index.js)
- parser: [XO](https://github.com/sindresorhus/xo)

**What did you do? Please include the actual source code causing the issue.**

I ran ESLint (via XO) on the follow

[2016-04-01 20:53] platinumazure commented on #5765
@bdkjones Well, in any case, as long as we support both I have no objections.

I guess the only problem I could see is, "if we support write, what else are people going to ask us to support"? But I'll let the rest of the team weigh in here.

[2016-04-01 20:59] bdkjones commented on #5765
Not sure anything else needs to be supported if `:write` or (optionally, instead) `:writeable` is implemented. It would be tough to get any clearer than that!

[2016-04-01 21:35] platinumazure commented on #5765
Perhaps those who don't have English as a first language might disagree. :smiling_imp:

[2016-04-01 21:41] bdkjones commented on #5765
Ha. Touché. But :true is English!

Sent from my iPhone

[2016-04-02 01:19] kaicataldo commented on #5754
Alright, sorry it took me a bit to get to this. I've verified this happens, but only with `babel-eslint`. The bug is that `babel-eslint` is incorrectly adding `// no default` as a `leadingComment` of the `return` statement. We had the same issue with `espree` (our default parser), but that has been fixed and is working as intended.

[2016-04-02 01:21] mysticatea commented on #5756
Thank you for this issue.

I confirmed this on the online demo.

Surely, `ArrayBindingPattern` allows trailing comma ([spec](https://tc39.github.io/ecma262/2016/#prod-ArrayBindingPattern)).
Acorn seems to throw this syntax error only in the parameters of arrow functions.
@michaelficarra Do you have any insights?

![image](https://cloud.githubusercontent.com/assets/1937871/14223195/215693e0-f8b6-11

[2016-04-02 01:28] kaicataldo commented on #5764
Able to reproduce with both v2.5.3 and v2.6.0

[2016-04-02 01:42] mysticatea commented on #5760
Thank you for this issue.

I think this is stylistic rule since this rule doesn't catch any error.

Though we cannot confirm whether that `something` is surely an object of ES2015 Promise or not, there are many Promise-like libraries (e.g. jQuery.Deffered, Q, Bluebird, ...), do those have the same spec?

[2016-04-02 01:47] nfriend opened #5768 "array-bracket-spacing: No linting errors for some arrays that contain line breaks"
**What version of ESLint are you using?**
2.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Here's my `.eslintrc`:

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected this code to cause a linting error.  This code is taken from [the documenta

[2016-04-02 01:57] mysticatea commented on #5761
Thank you for this issue.

I have a concern as same as #5760.

[2016-04-02 02:25] mysticatea commented on #5766
Thank you for this issue.

I cannot reproduce this.

![image](https://cloud.githubusercontent.com/assets/1937871/14223927/7c1035ca-f8c5-11e5-8adf-75ff298c9354.png)

ESLint is stripping Unicode BOM before analyzing since #4878 (v2.0.0-beta.2), so `no-irregular-whitespace` should not warn BOM.

[2016-04-02 02:41] mysticatea commented on #5768
Thank you for this issue.

Surely, the document says that code is a problem, but the implementation doesn't report it.
But I'm not sure which is wrong.

[2016-04-02 02:56] mysticatea commented on #5734
Thank you for this issue.

I don't think good that we make rules getting changeable setting by block size.
We have many rules related in line breaks (`padded-blocks`, `lines-around-comment`, `newline-after-var`, `newline-before-return`), so this would introduce much complexity.

I'd like to recommend to make a plugin for this.

[2016-04-02 03:04] mysticatea commented on #5737
Thank you for this issue.

I confirmed it.
This rule seems to rely on An old spec of AST.

[2016-04-02 05:55] mysticatea commented on #5188
Just my feeling, I hate `vars-on-top` style...

By the way, Node v6 will be released soon, and we have a plan to drop supports of Node 0.x.
After that, I guess we use `no-var` rule. The `let` declarations are block-scoped, so I think we will get worse upgrade path if we apply `vars-on-top` now.

[2016-04-02 09:50] mysticatea opened #5770 "Extra output in test."
**What version of ESLint are you using?**

master branch.

**What did you do? Please include the actual source code causing the issue.**

`npm test`

**What actually happened? Please include the actual, raw output from ESLint.**

![image](https://cloud.githubusercontent.com/assets/1937871/14225590/4ef9a68c-f903-11e5-969e-0ef397348dfc.png)

The cause is [here](https://github.com/eslint/eslint/blob/

[2016-04-02 10:08] #5770 closed

[2016-04-02 10:18] BYK commented on #5188
I'm with @mysticatea - I don't think `vars-on-top` is a good practice to have.

[2016-04-02 10:52] alberto commented on #5768
It's a doc issue.

[2016-04-02 11:08] cbrwizard commented on #5734
I agree, @mysticatea. This sounds like a good rule for a [eslint-plugin-jasmine](https://github.com/tlvince/eslint-plugin-jasmine).
However, I have another related idea. How about adding an option `minBlockSize` to a `newline-before-return` rule? I personally would like to use that rule, but I really don't want to force a new-line in a function like this (took from docs)
[code]

[2016-04-02 11:13] mysticatea commented on #5734
@cbrwizard It's a bad case. :)

[code]

[2016-04-02 11:31] neoziro commented on #4880
I have the same problem, is it possible to tweak using a plugin?

[2016-04-02 11:38] cbrwizard commented on #5734
Oops @mysticatea you're right, that's a bad example [:
So basically, `newline-before-return` has a `minBlockSize`-ish option enabled by default and set to 1. How about giving an option to change it to a different number? Here is an example with this option set to 2.
Note: `minBlockSize` counts the lines with content inside the block, so it ignores empty lines inside. Probably a `minLOCInBlock` nam

[2016-04-02 11:41] mysticatea commented on #5734
No, it's checking whether a ReturnStatement exists at the head of a block or not.

[2016-04-02 12:06] oliviertassinari commented on #4880
@neoziro I think that https://github.com/babel/eslint-plugin-babel would be the right location to add the support for this feature.

[2016-04-02 12:44] radiovisual commented on #5766
I have done more research, and I can't get reproduce the issue if I use ESLint outside of XO, but because XO is using ESLint, it seems connected somehow. I am going to open an issue with XO, and report back.

[2016-04-02 14:09] radiovisual commented on #5766
I have opened an issue with XO, and I have also [created a small repo that helps setup/demonstrate the problem](https://github.com/radiovisual/eslint-bom-test).

[2016-04-02 14:19] maxtruxa opened #5773 "Allow `require` in object expressions under the `global-require` rule"
**What version of ESLint are you using?**
2.5.3

**What rule do you want to change?**
`global-require`

**What code should be flagged as correct with this change?**
[code]

**What happens when the rule is applied to this code now?**
[code]

**Why would you want to write code like that?**
Some libraries (like `lodash`) offer standalone modules for single functions (like `lodash.assign`).
Using this

[2016-04-02 16:28] diki commented on #5744
Hi,

I want to clarify some points before going further.This code:

[code]

fails with this configuration:

[code]
I think it is expectable, if so don't you think the same rule applies for uninitialized variables in ```ForInStatements```? Adding conditions to [one-var.js](https://github.com/eslint/eslint/blob/7374d2b4b3838e6c14d2c45291687c25f5f7f191/lib/rules/one-var.js) for uninitialized variable

[2016-04-02 17:52] rik opened #5774 "Show if rule is enabled by eslint:recommended on rule page"
Website change so I skipped the eslint version questions.

**What did you do? Please include the actual source code causing the issue.**
Land on a rule page from a search engine.

**What did you expect to happen?**
See if the rule is enabled in "eslint:recommended".

**What actually happened? Please include the actual, raw output from ESLint.**
No indication of the rule being enabled.

The indicat

[2016-04-02 18:18] #5768 closed

[2016-04-02 18:21] ilyavolodin commented on #5760
I think this should be added to [eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) instead of the core.

[2016-04-02 18:21] ilyavolodin commented on #5761
I think this should be added to [eslint-plugin-promise](https://github.com/xjamundx/eslint-plugin-promise) instead of the core.

[2016-04-02 18:33] alberto commented on #5774
There is already a notice for fixable rules

[2016-04-02 18:59] alberto commented on #5469
@nzakas what do you want to do?

[2016-04-03 09:28] onemen opened #5775 "arrow-body-style: ["error", "as-needed"] not respecting other rules"
**What version are you using?**
2.6.0

**The actual source code that is causing the issue**
[code]

**My configuration**
[code]
**The complete and actual output from ESLint**
[code]
**At the moment I am forced to use:**
[code]
**What did you expect to happen?**
The rule 'arrow-body-style' should not report an error for function x1, when the one line version function x2, is restricted by 'no-confus

[2016-04-03 16:14] lucendio opened #5776 "[switch-case] space between colon and opening brace whend defining a case"
**What version of ESLint are you using?**
`2.6.0`

**What parser (default, Babel-ESLint, etc.) are you using?**
`Espree`

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
that the opening braces in the same line of each `case` wont get marked, because there is a space in front of

[2016-04-03 18:09] mysticatea commented on #5776
I think you need a space in the first line.

[code]

[2016-04-03 18:51] platinumazure commented on #5776
@mysticatea If that fixes the issue, that means the error message is wrong. It should say a space is needed before the block.

@luciendo Could you please add the line and column number from the error message you're getting? Right now it's not clear if it is happening on the switch line or the case line. Also, you don't need braces for case statements- does the error go away if you remove the brace

[2016-04-03 18:52] platinumazure commented on #5776
@lucendio Oops, I typed your name wrong and can't edit. Please read the message above this one and please accept my apologies for getting your name wrong. Thanks!

[2016-04-03 18:53] mysticatea commented on #5776
Ah!
Sorry, I was wrong.

[2016-04-03 19:00] platinumazure commented on #5776
@mysticatea Not necessarily. The rule could have a bug and output the wrong error message. I just wanted to get the questions out there since I haven't had time to dig in. Sorry if I came off as rude.

[2016-04-03 19:12] mysticatea commented on #5776
@platinumazure No worries. I had forgotten `"never"` option of `space-before-blocks` rule and I had focused on the number (1) of messages in the issue before I read it enough. I confirmed `space-before-blocks` is warning between `:` and `{`.

`no-case-declarations` enforce the blocks in switch-case in order to introduce block-scoping for each `case`.

Indeed, eslint does not have the rule to enfor

[2016-04-03 19:24] ehom opened #5777 "Bad link to "Code Path Analysis" page"
This page contains the bad link:
http://eslint.org/docs/developer-guide/working-with-rules#accessing-code-paths

"details here" text is currently linked to:
http://eslint.org/docs/developer-guide/code-path-analysis

It was just missing the ".html"
http://eslint.org/docs/developer-guide/code-path-analysis.html

Very good documentation. Thank you.

====

[2016-04-03 19:27] kaicataldo commented on #5777
Hey there, thanks for the issue. We have a fix in the pipeline, so this should no longer be an issue very soon!

Issue here: https://github.com/eslint/eslint.github.io/pull/232

[2016-04-03 19:28] kaicataldo commented on #5777
I'm actually going to close this and move the issue over to the website repo. Thanks again.

[2016-04-03 19:28] #5777 closed

[2016-04-03 19:30] kaicataldo commented on #5777
Issue opened here, if you're interested: https://github.com/eslint/eslint.github.io/issues/233

[2016-04-03 19:30] ehom commented on #5777
Oh, Okay.

Thanks!

Erwin

On Sunday, April 3, 2016, Kai Cataldo <notifications@github.com> wrote:

[2016-04-03 20:07] lucendio commented on #5776
@platinumazure no worries, all good :)
as you reqested:
[code]
Becasue of the problems metioned in [no-case-declarations](http://eslint.org/docs/rules/no-case-declarations), I like the idea of enforcing braces for each case. But since there is no explicit rule for that, just configured `no-case-declarations`.
Yes the errors goes away when I remove the braces, and thats only because my example does

[2016-04-03 21:16] alberto commented on #5775
For the first case, it's a duplicate of [this issue](https://github.com/eslint/eslint/issues/5332).

For the second one, you should write it as:

[code]

Otherwise, you should use a [eslint comment](http://eslint.org/docs/user-guide/configuring#configuring-rules) to disable the error for that portion of code.

[2016-04-03 21:16] #5775 closed

[2016-04-03 21:20] alberto commented on #5766
Thanks. Since it doesn't seem to be directly related to eslint, I'm closing this for now.

[2016-04-03 21:20] #5766 closed

[2016-04-03 23:25] scottohara commented on #5754
Thanks for clarifying.

Would this mean `babel-eslint` simply needs to update their `devDependency` from `espree: ^3.0.0` to `espree: ^3.1.0`?  Or is it more complex than that?

[2016-04-03 23:49] mysticatea commented on #5754
`babel-eslint` is not using `espree` and handling comments by a different method: https://github.com/babel/babel-eslint/blob/master/babylon-to-espree/attachComments.js

So, you can open an issue on https://github.com/babel/babel-eslint

[2016-04-03 23:55] mysticatea commented on #5773
Thank you for this issue.

I confirmed this on the online demo.
Looks like a bug since object literals don't make any scope.

[2016-04-04 00:04] scottohara commented on #5754
Done. Thanks @mysticatea .

https://github.com/babel/babel-eslint/issues/289

[2016-04-04 02:30] #5754 closed

[2016-04-04 02:32] kaicataldo commented on #5761
@ilyavolodin Agreed, since the plugin exists. Though it might be worth considering including the plugin in core at some point, now that native promises are a thing :)

[2016-04-04 06:15] maxtruxa commented on #5773
If you want me to, I can create a pull request later today. The fix is pretty straight forward.

[2016-04-04 06:24] mysticatea commented on #5773
@maxtruxa Thank you so much. Of course, we welcome the patch!

[2016-04-04 10:54] filipesilva opened #5779 "Cannot use arrow keys to choose options on `eslint --init` on Windows"
**What version of ESLint are you using?**
v2.6.0
**What parser (default, Babel-ESLint, etc.) are you using?**
none yet
**Please show your full configuration:**
none yet
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
Expected to be able to choose second option using arrow keys.
**What actually happened? Please include the actu

[2016-04-04 11:54] filipesilva opened #5780 "Linting doesn't work on Windows when node_modules is present in folder"
**What version of ESLint are you using?**
v2.6.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
I expected that running `eslint ./**/*.js` the second time would show the same result as the first time.
**What ac

[2016-04-04 12:31] platinumazure commented on #5779
I think as a workaround, you can use numbers plus the Enter key. There's one question where it says use a space to select (Node vs Browser), in which case the sequence is something like 2-space-enter.

Unintuitive, I know, but it might get you on your way. (I'm using Windows 7, though, so maybe not.)

[2016-04-04 12:49] filipesilva commented on #5779
You're right, that does work! A bit unintuitive yeah, but enough to get by until it's fixed.

I also noticed this while following your suggestion:

Typing a number shows it in front of the last option of the first prompt:
![image](https://cloud.githubusercontent.com/assets/4172079/14248316/e001e8f6-fa6b-11e5-9ea6-32f4e8264e0a.png)

While on subsequent prompts, typing a number highlights that optio

[2016-04-04 12:50] ilyavolodin commented on #5780
`node_modules` and `bower_components` are ignored by default by ESLint. If you would like to lint those, you need to un-ignore them in `.eslintignore` files. Take a look at this issue https://github.com/eslint/eslint/issues/5410 for more information.

[2016-04-04 12:52] filipesilva commented on #5780
I understand that happens, but in my case I still had a file with lint errors *outside* the `node_modules` directory, I simply made a copy and put it inside the dir. Linting should still have shown the errors for the original file.

[2016-04-04 12:54] ilyavolodin commented on #5779
@filipesilva Unfortunately, this is a NodeJS bug, and we can't really do much about it. It's been fixed before, but I think latests Node version re-introduced it. Work-around that @platinumazure provided should work until NodeJS fixes this again.
Closing as this is not an issue with ESLint itself.

[2016-04-04 12:54] #5779 closed

[2016-04-04 12:56] ilyavolodin commented on #5780
Ah. I see. Sorry, I didn't notice `cp`. I'm not 100% sure if `./**/*.js` should include `./test.js`. Theoretically `./**/` means any directory in the current folder, and as `./tests.js` is not in the directory, it might be bypassed by globbing. @alberto @IanVS is this behaving correctly?

[2016-04-04 12:57] filipesilva commented on #5780
I suppose it should, because initially the same command caught errors in it:

[code]

[2016-04-04 13:02] filipesilva commented on #5779
Ah well. It's this one, I suppose: https://github.com/nodejs/node/issues/5384

[2016-04-04 15:05] alberto commented on #5780
Thanks @filipesilva for the detailed report!

I was able to reproduce this on a mac too.

It's not directly related to `node_modules` I think:
[code]
Note it's erroring for `foo/test.js` but not for `./test.js`

[2016-04-04 15:10] alberto commented on #5780
Also note `eslint .` produces the expected output (also with a `node_modules` folder):

[code]

[2016-04-04 15:15] platinumazure commented on #5780
I think the correct glob syntax is `**/*.js` (I believe we replace `.` with `**/*.js` somewhere in CLIEngine).

[2016-04-04 15:22] alberto commented on #5780
@platinumazure I tried that and it doesn't work either.

[2016-04-04 15:23] filipesilva commented on #5780
I can confirm that `estlint .` gives the expected result. This pattern doesn't allow me to filter for only `.js` files though.

I tried with `eslint **/*.js` and did not get anything.

[2016-04-04 15:24] platinumazure commented on #5780
@alberto @filipesilva My mistake, then. It seems pretty likely that we have a bug.

[2016-04-04 15:24] alberto commented on #5780
@filipesilva eslint filters for `.js` file extension by default.

[2016-04-04 15:30] filipesilva commented on #5780
Ah that is great to hear! I tried using `eslint .` with a well configured `.eslintignore` on the main project I had issues in, and that worked well.

Thank you!

[2016-04-04 15:39] ilyavolodin commented on #5780
Are we handling patterns starting with `.` correctly now? I think there used to be a bug in `--init` where anything starting with dot would be ignored. Since we merged logic for glob unwrapping between `init` and CLI, maybe we have that bug in CLI now?

[2016-04-04 15:44] IanVS commented on #5780
@ilyavolodin the bug in `--init` should be fixed.  Are you referring to https://github.com/eslint/eslint/issues/4828#issuecomment-203714300 perhaps?

[2016-04-04 15:46] IanVS commented on #5780
I think I see where you're going with this, and it's totally possible.  Maybe [this line](https://github.com/eslint/eslint/blob/master/lib/ignored-paths.js#L118) needs to be changed to:

[code]

[2016-04-04 15:50] ilyavolodin commented on #5780
@IanVS That sounds like a possible fix. @alberto Since you were able to reproduce this issue, could you try and see if the fix that @IanVS suggested corrects this issue?

[2016-04-04 17:52] vitorbal commented on #5417
Hi @ilyavolodin, I think this is a great idea! From what I understand, the final goal is to autogenerate the  list of rules in the README.md file, right? I would love to help out, would there be anything you need some assistance with? :)

[2016-04-04 18:04] ljharb commented on #3065
@ilyavolodin thank you!

[2016-04-04 18:49] ilyavolodin commented on #5417
@vitorbal The goal is to auto-generate the list of rules (at minimum), but also look into auto-generating part of rule documentation, as well as provide structure for some of the internal information. Maybe even do something about rules for plugins at some point.
After this pull request will be merged, next step would be to start converting our existing rules to new format. So far I've only conver

[2016-04-04 19:51] #5764 closed

[2016-04-04 20:02] d4rkr00t opened #5783 "The `no-magic-numbers` rule should ignore indexOf === -1"
**What version are you using?**
`2.6.0`

**What did you do?**
[code]

**What happened?**
`error  No magic number: -1 no-magic-numbers`

**What did you expect to happen?**
Consider `indexOf(something) === -1;` as ok, because it's a common pattern for checking whether `something` is in array.

[2016-04-04 20:07] ilyavolodin commented on #5783
Is there a reason why you don't want to whitelist -1:

[code]

[2016-04-04 20:08] d4rkr00t commented on #5783
Yes, because then, in any other case -1 will be considered as ok. But I want it only for indexOf.

[2016-04-04 20:12] d4rkr00t commented on #5783
Here is a pull request https://github.com/eslint/eslint/pull/5784 you can take a look at.

[2016-04-04 20:20] lo1tuma commented on #5783
I don’t think a commonly used pattern makes the number less magic. The meaning of this number is still implicit.

[2016-04-04 20:22] ilyavolodin commented on #5783
I agree with @lo1tuma on this. I think the best bet is to either whitelist `-1`, or better yet, whitelist `0` as it is self-explanatory and use:
[code]

[2016-04-04 20:48] d4rkr00t commented on #5783
`-1` is documented output for the indexOf method which makes it less magic. At least, you can read documentation and find out what `-1` means.

But may be you're right and I should try to whitelist `[-1, 0, 1]` because it will help with another issue with sort method :).

Closing this.

[2016-04-04 20:48] #5783 closed

[2016-04-04 20:49] feross opened #5786 "No trailing whitespace should ignore multiline template strings"
**What version of ESLint are you using?**

2.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Whitespace could be significant inside multiline template strings, so the rule should ignore it.

**What a

[2016-04-04 21:09] platinumazure commented on #5786
I'm unable to repro due to the ESLint online demo not supporting ES6 yet, but if this is confirmed, I think this can safely be called a bug.

[2016-04-05 00:09] csilvers commented on #4127
OK, I carved out some time after all...

[2016-04-05 01:37] mysticatea commented on #5786
Thank you for this issue.
I confirmed.

@platinumazure The online demo is supporting ES6. There is a configuration panel at the bottom of the page.

[2016-04-05 01:51] JustinLivi commented on #1842
Are there any plans to support function expressions? It seems very useful when documenting modules. For example, right now there's no way to consider this a problem:

[code]

[2016-04-05 02:41] kaicataldo commented on #5786
I can take a look at this one

[2016-04-05 04:35] maxtruxa commented on #5679
From the looks of it this could be a huge performance improvement. Provided nobody else wants to solve it in the near future, I'll take a look at it until the end of the week.

[2016-04-05 06:33] vobujs commented on #1842
+1 on this

[2016-04-05 06:47] alberto commented on #5780
@ilyavolodin @IanVS It doesn't

[2016-04-05 09:37] spadgos commented on #3065
:bow:

[2016-04-05 10:50] gajus commented on #3488
@nzakas, @hzoo can someone review the PR?

[2016-04-05 11:56] platinumazure commented on #1842
Please open a new issue if you want an enhancement to this rule. Thanks!

[2016-04-05 12:48] ilyavolodin commented on #3065
Re-opening this issue, since the commit has been reversed for a patch release. @spadgos I'm very sorry about this, could you re-open your PR please?

[2016-04-05 13:06] tleunen commented on #4914
What about the default export? Why isn't this supported by eslint?

[2016-04-05 13:10] btmills commented on #4914
@tleunen try `export { default as hello } from './hello';`. The shorthand form isn't yet standardized (stage 2 right now I think? I'm on my phone or I'd check).

[2016-04-05 13:16] tleunen commented on #4914
Weird.. I tried it before posting, and it didn't work. I tried it again, and it works now.. Well, thanks :)
Seems to be still stage 1: https://github.com/leebyron/ecmascript-export-default-from

Anyway.. thanks @btmills!

[2016-04-05 13:37] alberto commented on #5523
Please provide the requested info.

[2016-04-05 13:37] #5523 closed

[2016-04-05 15:13] tuhoojabotti commented on #2702
@jrvidal I get the problem with this following code:

`let test = a => ({ a: 1, b: 2, c: 3 }[a]);`

But without the parenthesis it does not work: `Parsing error: Unexpected token :`

[2016-04-05 15:22] jrvidal commented on #2702
Is that code (without the parenthesis) valid ES6? When I try to run it on the Chrome console I also get a `SyntaxError`.

[2016-04-05 15:22] platinumazure commented on #2702
@tuhoojabotti Please open a new issue.

[2016-04-05 15:23] platinumazure commented on #2702
@jrvidal I doubt it's valid ES6. Probably the ObjectExpression check needs to be expanded to also check MemberExpression where the object property is an ObjectExpression.

[2016-04-05 15:54] tuhoojabotti opened #5789 "Gratuitous parentheses in arrow function with object reference"
**What version of ESLint are you using?** 2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
`let test = a => ({ a: 1, b: 2, c: 3 }[a]);`

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw outpu

[2016-04-05 15:54] tuhoojabotti commented on #5789
Similar to #2702

[2016-04-05 15:56] nzakas commented on #5773
I mentioned on the PR, but this is *not* a bug. This rule is meant to emulate where `import` can be used, not necessarily about the global scope. We also don't allow require inside of if statements, so this change doesn't make sense.

[2016-04-05 16:02] #4127 closed

[2016-04-05 16:03] ilyavolodin commented on #5773
@nzakas `import` can't be used inside object expression?

[2016-04-05 16:06] platinumazure commented on #5789
Confirmed in online demo. Seems like a bug.

As I mentioned in the other issue, I think the special check for `ObjectExpression` needs to be expanded to also check `MemberExpression` with its `object` node having a type of `ObjectExpression`.

[2016-04-05 16:09] nzakas commented on #5773
Nope

[2016-04-05 16:12] nzakas commented on #5757
@eslint/eslint-team thoughts on this?

[2016-04-05 16:16] platinumazure commented on #5757
@alvov I can't see why this would be a breaking change. If the rule option is omitted, we can use the same regex we're currently using as a fallback.

@nzakas For what it's worth, I would champion this on usability/i18n grounds.

[2016-04-05 16:53] alberto commented on #5780
Ok, after digging into this, I don't think it is a bug.

If you use a glob in the command line, it turns out [the shell with expand the globs](http://wiki.bash-hackers.org/syntax/expansion/globs) (at least on UNIX).

So `eslint ./**/*.js` generates this `process.argv`:
[code]
Note this differs from node's `glob` expansion, in that it will only look match js files in one-level-deep directories (it

[2016-04-05 16:57] platinumazure commented on #5780
I assume the reason you're using single quotes is to ensure the shell won't
interpret the quotes, so that a glob strong with quotes is passed to node
glob?
On Apr 5, 2016 11:53 AM, "alberto" <notifications@github.com> wrote:

[2016-04-05 17:06] alberto commented on #5780
Yes, by quoting it, the argument is passed as a literal.

[code]

[2016-04-05 17:22] platinumazure commented on #5757
@alvov And I see where I went wrong in my earlier comment. When I said I wanted to require a regular expression, I meant that I don't want the rule to accept any comment as a fall-through indicator. Rather, the user should provide a regular expression or we should use the default. Sorry for being unclear.

[2016-04-05 17:27] btmills commented on #5789
`() => ({}.a.b)` would be two nested `MemberExpressions`, so we'd have to do some sort of recursion. Would it be better, instead of checking node types that we know begin with `{`, to just check for a `{` token immediately following the `(`? Checking tokens seems like it might be a more direct solution.

[2016-04-05 17:31] platinumazure commented on #5789
@btmills True- this is a tokenizing problem rather than a parsing problem.
Checking the token makes sense.
On Apr 5, 2016 12:27 PM, "Brandon Mills" <notifications@github.com> wrote:

[2016-04-05 19:04] michaelficarra commented on #5756
@mysticatea Acorn has a bug.

[2016-04-05 19:40] elliottsj opened #5791 "`TypeError: Cannot read property 'concat' of undefined` when running ESLint via Jest"
This error occurs when running ESLint from a Jest test:

[code]

**What version of ESLint are you using?**
[`eslint@2.7.0`](https://github.com/elliottsj/eslint-jest-issue/blob/e7a0a3c60ed5dff81cacd29a10a6184a832ca732/package.json#L20)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
https://github.com/elliottsj/eslint-jest-issue/blob/m

[2016-04-05 20:05] nzakas commented on #5085
@omerbalyali sorry to ping you again, but can you upload the final file when you get a second?

[2016-04-05 20:07] nzakas commented on #4828
@IanVS can you summarize what your proposal is at this point?

[2016-04-05 20:13] nzakas commented on #5791
@elliottsj can you please fill in questions you left empty above? It really helps us to better triage (many of us check in on phones and tablets, so having all the info in the issue lets us be a lot more efficient than needing to go to a different repo).

[2016-04-05 20:24] #5780 closed

[2016-04-05 20:34] onemen opened #5793 "env:browser globals is missing KeyEvent"
**What version of ESLint are you using?**
2.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2016-04-05 20:37] elliottsj commented on #5791
@nzakas Sorry if it was unclear; for the first four questions, you can take a look at the example project: https://github.com/elliottsj/eslint-jest-issue

I'll fill in the answers for clarity

[2016-04-05 20:53] vitorbal commented on #5417
@ilyavolodin That sounds great! Yes, I would love to contribute :) How should we coordinate it? Should we share a branch?

[2016-04-05 21:14] michaelficarra commented on #5789
See [my comment](https://github.com/eslint/eslint/issues/2702#issuecomment-109335937) in #2702. That's still correct. The first token of the expression must not be `{` or `function`. #2772 was not at all the proper fix.

[2016-04-05 21:18] adamweeks opened #5794 "Global vs Local version mismatch message"
**What version are you using?**
v2.7.0

**Request**
When running eslint on a project that contains a local version of eslint, if the global version does not match, print a status message that the versions mismatch. This is similar to the gulp version mismatch message when running gulp:

This would be a good "workaround" for #3993

[2016-04-05 21:46] platinumazure commented on #5793
You're using KeyboardEvent in one place and KeyEvent in another. Is this intentional?

[2016-04-05 21:46] ilyavolodin commented on #5417
@vitorbal I don't think we need a separate branch. Those changes are non-breaking (I already modified the core to support both old and new style). If you want to, you can start from the bottom of the rules in the `lib/rules` directory, and I'll start from the top (sorted alphabetically). And we'll meet somewhere in the middle.

[2016-04-05 22:00] BYK commented on #5757
I'm :+1: for what @ilyavolodin and @platinumazure says

[2016-04-05 22:31] onemen commented on #5793
KeyboardEvent is instanceof KeyEvent

[2016-04-05 22:35] alberto commented on #4828
He's proposing to change `glob` options in `glob-util` to make it consider dot files and folders. This won't change anything by default since they are ignored by eslint, but it will allow unignoring them in `.eslintignore`. I'm :+1: on that.

[2016-04-05 22:40] josectello commented on #4711
If no one is currently working on this, I'd love to give it a shot and pickup where @fakewaffle left off.

[2016-04-05 23:04] ilyavolodin commented on #4711
@josectello Go for it!

[2016-04-05 23:20] filipesilva commented on #5780
Would just like to say thanks for all the help all. You found a solution for my issue, got to the bottom of it and even added docs. Very cool. Cheers!

[2016-04-05 23:22] michaelficarra commented on #5726
There's also some other missing expression types in the `isConstant` function. ConditionalExpression stands out to me. I think this issue should be about generally expanding that function as best we can.

[2016-04-05 23:30] filipesilva opened #5796 "Glob arg behaves differently if ran from npm script"
**What version of ESLint are you using?**
2.6.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
I expected eslint to show the same result when running directly or from an npm script while using a glob pattern en

[2016-04-06 00:23] kentcdodds commented on #5794
May consider doing the same for plugins as well

[2016-04-06 01:45] gyandeeps commented on #5796
Can you try it by not using `'` around the glob pattern.
Something like this
[code]

Also in your case you can simple say `eslint .`

[2016-04-06 01:50] gyandeeps commented on #5793
@onemen Can you point us to docs for `KeyEvent` as I tried it in chrome and its undefined?

[2016-04-06 01:55] ilyavolodin commented on #5796
@gyandeeps globs behave differently when quoted, see https://github.com/eslint/eslint/issues/5780#issuecomment-205891984 for discussion

[2016-04-06 01:58] gyandeeps commented on #5796
ah gotcha.

[2016-04-06 02:04] filipesilva commented on #5796
@gyandeeps I did try with `eslint .` and can confirm it works correctly via CLI and via npm script. I think the issue is specific to globs, which are necessary for some more complicated patterns.

[2016-04-06 06:35] alberto commented on #5796
I can't reproduce this on a mac. Can you also try with `**/*.js`?

[2016-04-06 07:52] Grandrath opened #5799 "no-fallthrough doesn't seem to work"
Maybe I am missing something, but the following code snippet lints successfully when I enter it into http://eslint.org/demo/. I expected it to fail with `no-fallthrough`.

[code]

[2016-04-06 08:33] scriptdaemon commented on #5799
This rule allows for empty case clauses, which explains why that snippet of code that does not generate a warning. A similar snippet is included among the examples of passing code for this rule: http://eslint.org/docs/rules/no-fallthrough.

[2016-04-06 08:56] SystemParadox commented on #4007
This sounds like a good idea.

[2016-04-06 09:04] Grandrath commented on #5799
Thank you for the clarification. Do you think it might be useful for others to add an option (e.g. `AllowEmptyCase`) to change this behavior? In a current project of mine a fellow developer commented out the content of a `case` clause. This didn't cause a bug in this particular instance but it would have been good if ESLint caught this right away.

[2016-04-06 11:00] onemen commented on #5793
You are right, it look like KeyEvent is only available in Firefox

[2016-04-06 11:00] #5793 closed

[2016-04-06 12:22] dgilliam commented on #3782
thanks @jeffwesson !

[2016-04-06 12:31] filipesilva commented on #5796
Trying with `'**/*.js'` gives me the same result:

[code]

[2016-04-06 12:36] filipesilva commented on #5796
I don't know if this helps, but on other projects when we usually have trouble with paths on windows only, the culprit seems to be usage of `process.end.PWD` which exists on mac/linux, but not on windows.

http://stackoverflow.com/questions/30991319/whats-the-difference-between-process-cwd-vs-process-env-pwd

[2016-04-06 13:04] filipesilva commented on #5796
I was also having a very similar issue with `tslint`, and after some debugging it seems `glob` itself isn't returning the expected files: https://github.com/palantir/tslint/issues/1091#issuecomment-206094290

[2016-04-06 13:53] filipesilva commented on #5796
I reproduced this issue on the `glob` repo, with a simpler example: https://github.com/isaacs/node-glob/issues/257

[2016-04-06 15:28] kaicataldo opened #5800 "Add `ignore-catch` option to `no-empty`"
**What version of ESLint are you using?**
v2.7.0

**Change proposal**
I would like to propose an `ignore-catch` option for the `no-empty` rule that would not warn for empty catch blocks. This would allow users the option to have have the same behavior as the corresponding JSCS rule [disallowEmptyBlocks](http://jscs.info/rule/disallowEmptyBlocks). The description of said rule is, "Disallows empty b

[2016-04-06 15:30] gyandeeps commented on #5800
I think if you put a comment inside your empty block it will not flag it. Also if you are leaving a catch block empty then you should describe why.

[2016-04-06 15:33] kaicataldo commented on #5800
@gyandeeps Yeah, putting a comment inside the block makes it not warn. I do think it's valid to allow for empty catch blocks though (as an option that can be opted into), especially as it helps us have parity with JSCS rules (and makes it easier to switch).

[2016-04-06 15:41] kaicataldo commented on #5800
I don't disagree with you that putting comments in the empty `catch` blocks is a good practice. But since empty `catch` blocks are a legitimate use case, I also think users should be given the option of being warned for all empty blocks except for `catch` blocks and not be forced into writing a comment.

[2016-04-06 16:03] nzakas commented on #5757
Okay, we will use this issue to track `no-fallthrough`. Please open a separate issue for `no-default-case`.

[2016-04-06 16:08] hzoo opened #5801 "Feature: Alert when an inline disable comment can be removed"
Example:

[code]

This could be a separate command (say `eslint --check-disabled-comments`, or something crazier like after updating to a new version given an eslintrc). After running, it will iterate over every disable comment (like `// eslint-disable-line`, etc) and then try to try the file with the rule/rules specified and see if it doesn't error anymore. If it doesn't then it will tell the use

[2016-04-06 16:10] nzakas commented on #4828
@alberto it's not clear if he meant just that or that and a command line flag.

@IanVS can you clarify?

[2016-04-06 16:11] sindresorhus commented on #5800
Duplicate of https://github.com/eslint/eslint/issues/2808 and #1841. I still think it's a valid use-case and it's obvious now many users agree.

[2016-04-06 16:12] nzakas commented on #5791
@elliottsj thanks. It's a lot easier when the questions are answered in the issue.

What version of Node are you using?

[2016-04-06 16:13] kaicataldo commented on #5800
Ah, thanks @sindresorhus. I tried to search for pre-existing issues but clearly didn't do a good job.

[2016-04-06 16:13] nzakas commented on #3065
@ilyavolodin you can just revert the revert locally rather than doing another PR

[2016-04-06 16:15] nzakas commented on #3488
@gajus the bot left you feedback to address on the PR. Please address that feedback and then we will review it.

[2016-04-06 16:16] nzakas commented on #5469
The best work is no work. Let's close it.

[2016-04-06 16:16] #5469 closed

[2016-04-06 16:20] nzakas commented on #5709
I'm not a big fan of introducing breaking changes for this, and it would negatively impact autoconfig as well.

[2016-04-06 16:24] elliottsj commented on #5791
@nzakas Node v4.4.1

[2016-04-06 16:31] alberto commented on #5796
Thanks @filipesilva. Keep us updated.

[2016-04-06 16:33] filipesilva commented on #5796
Will do, thanks for all the help so far!

[2016-04-06 18:15] platinumazure commented on #5801
Don't we already have a CLI option for ignoring inline ESLint config comments? If so, I don't know that we actually need this.

[2016-04-06 19:23] gajus commented on #3488
Sorry, somehow missed those. Updated the PR.

[2016-04-06 19:41] hzoo commented on #5801
What do you mean by ` ignoring inline ESLint config comments`?

I'm saying that the user has some disable comments currently in the code (due to an eslint error), but the comments could actually be removed either because the code was modified, eslint fixed a bug, or there was a new rule option that was added that would make the code pass without the comment.

[2016-04-06 19:49] platinumazure commented on #5801
I mean we have a CLI switch which ignores the inline disable comments and
other configuration comments.

However, I now see the problem: The report you get with that switch is the
exact opposite of what you want. You would see errors for those sections of
code with inline disable comments that actually have problems, and you
would see nothing for error-free code that still has inline comments. It

[2016-04-06 21:38] alvov opened #5803 "Add `commentPattern` option to `default-case` rule"
**What version of ESLint are you using?**
2.7.0
**What rule do you want to change?**
`default-case`
**What code should be flagged as incorrect with this change?**
[code]
**What happens when the rule is applied to this code now?**
Error occurs:
`Expected a default case.`

Originated in #5757, that issue is addressing configurable comment pattern for `default-case` rule. The point of proposed `comme

[2016-04-07 01:06] IanVS commented on #4828
I no longer think it's necessary to include a command line option, since the same can be easily accomplished with a `!.*` pattern.  Alberto's understanding was correct.

[2016-04-07 03:57] mysticatea commented on #5800
Honestly, I'm surprised in that this option has been requested frequently.
IMO, empty catch blocks are hateful bad practice. It would squash original causes of errors (except on a `catch`/`finally` block).

[2016-04-07 06:40] mysticatea commented on #5796
As far as I know, `cmd.exe` does not strip single quotes, and npm-scripts are executed by `cmd.exe` on Windows.

[code]

[2016-04-07 06:49] mysticatea commented on #5796
So I think we have to strip single quotes before we give it to glob.

[2016-04-07 08:51] mysticatea commented on #5796
A side note: `cmd.exe` does not concatenate args in single quotes.

[code]

[2016-04-07 09:30] paribaranwal commented on #1849
Always put last else block at end of its previous block like:
if(){
} else {
}

[2016-04-07 09:47] qfox commented on #4743
Food for thought?

[code]
now must be
[code]
to satisfy this rule with the paren exception, or
[code]
with the strict rule in place. Unless you disable the rule altogether, of course.

The counter case is:
[code]
which is only checkable under certain assumptions, with hard edge cases.

Still, the initial case had me scratching my head and led me here.

[2016-04-07 10:39] BYK commented on #5751
I don't see a reason for not doing this. Gonna champion this and @onurtemizkan mentioned he already has a patch waiting so accepting.

[2016-04-07 11:01] omerbalyali commented on #5085
@nzakas This is the final logo .ai file.

I made really small changes to the icon. I'm attaching an image file that shows the geometric blueprint of the new icon. (Inner hexagon and the space around it slightly changed to snap to the rectangle boxes, which are proportionally located inside the outer-big hexagon)

Also I'm preparing a Brand Guideline for the logo, including colors, proportions, etc

[2016-04-07 13:55] IanVS commented on #4828
Regarding my last statement above, I think this highlights a deeper problem, similar to https://github.com/eslint/eslint/issues/5547.  Using `--no-ignore` should not unignore the default ignores (dependency folders and dotfiles).

So to be clear, my proposal is:

1. Prevent dotfiles from being unignored by `--no-ignore`.
2. Return dotfiles from glob-util as described in https://github.com/eslint/e

[2016-04-07 15:26] filipesilva commented on #5796
@mysticatea that's it! I tested using the example in https://github.com/isaacs/node-glob/issues/257, and got the intended behavior.

I added ```console.log(`------${process.argv[2]}------`);``` and this is what I got with single quotes:

[code]

And here is with double quotes:

[code]

So yeah. In windows it seems args in npm scripts have to use double quotes instead of single quotes, both because

[2016-04-07 16:09] nzakas commented on #4828
Sounds good.

[2016-04-07 16:11] nzakas commented on #5791
Hmm, that's strange. It looks like `module.paths` is missing for some reason, and as far as I know, that's not possible. Ill have to investigate a bit

[2016-04-07 16:15] ljharb opened #5805 "new rule option request: max-len ignores strings"
Currently, `max-len` [supports](http://eslint.org/docs/rules/max-len) `ignoreComments`, `ignoreUrls`, etc. I'd like to request an additional option, `ignoreStrings`.

My rationale is the following:
 - strings are an atomic token, and it is a code smell to treat them as anything other than a single unbroken unit.
 - trivial changes in the string contents might necessitate the string being re-joined

[2016-04-07 16:17] platinumazure commented on #5805
Sounds good to me, but let's see what the rest of the team thinks.

[2016-04-07 16:18] platinumazure commented on #5803
As I've said in #5757, I am :+1: to this change because (among other reasons) it makes ESLint more usable by folks who don't speak English and who would prefer to write comments in another language.

[2016-04-07 16:19] platinumazure commented on #5801
@hzoo I have preliminarily labeled this as CLI (i.e., would be toggled by CLI option). But do you think there is value in having this available in the CLIEngine API? If so, I can switch the "cli" label to "core".

[2016-04-07 16:26] platinumazure commented on #5799
I think it would be good to return a lint error in this case:

[code]

Basically, I think an argument could be made that line 3 should be warned (i.e., any comment between two case labels, which otherwise represents an empty case block, should not be considered fully empty for the purpose of this rule-- unless the comment has "falls through" or whatever other language in it).

[2016-04-07 17:06] SamVerschueren commented on #5800
I also believe it's a valid use case to be honest.

[2016-04-07 17:10] platinumazure commented on #5800
As long as it's still possible to require a comment in empty catch blocks (for those who still want the rule to enforce that), I have no problem with a new option being created to allow catch blocks to be ignored from this check (for those who want to use that feature).

But I think we'll have to let @nzakas weigh in on this one.

[2016-04-07 17:12] platinumazure commented on #5794
How would you propose to do this, exactly?

[2016-04-07 17:13] kaicataldo commented on #5800
Right, my idea was a configuration option that would be off by default, but would allow for this case for users who want to opt into it.

[2016-04-07 17:35] ilyavolodin commented on #5799
Code example that you provided would be an enhancement, and we would need to put it behind an option.

[2016-04-07 17:36] adamweeks commented on #5794
This is how gulp handles it. https://github.com/gulpjs/gulp/blob/098e1825469ecb0b72c74e81db600678b625fea0/bin/gulp.js#L99

If this seems worthwhile, I don't mind looking into and creating a PR. Didn't want to work on it if it was out of scope.

[2016-04-07 20:37] platinumazure commented on #5188
Any objections if I remove `vars-on-top` from my list?

If everyone is on board with it, I will then either file a PR in eslint.github.io or ask @nzakas to do so, in order to remove that stipulation from the coding guidelines.

[2016-04-07 20:41] platinumazure commented on #5799
@Grandrath To be clear, are you requesting an option to enable lint errors for all empty cases, or just ones that are empty syntactically but which have comments that don't match the "falls through" expression?

Put another way, should this warn on the `case 1` line?

[code]

[2016-04-07 21:16] nzakas commented on #5800
That sounds fine. Compatibility with JSCS is important for people who are coming over, so I think @kaicataldo's suggestion is good. The only change I'd make is that we've tried to move away from dash-cased option names, so I'd prefer something like:

[code]

Where the default is `false`.

[2016-04-07 21:17] kaicataldo commented on #5800
Sounds good to me - I'll get to this in the next few days.

[2016-04-07 21:21] nzakas commented on #5799
We originally had this as an exception because it's a pretty common way to say you want fall through (even JSLint allows it):

[code]

My opinion is that this should still not warn. However, this definitely should warn:

[code]

So, if I've read this issue correct, it's really the latter case that is problematic and I'd say it's a bug that it's not being flagged right now. @Grandrath is that corre

[2016-04-07 21:21] ilyavolodin commented on #5188
Fine by me. I would also add `no-console` to the list, although it's not a coding standard, we just had to do a patch release due to the left-over console statement. Feels like a good rule to enable.

[2016-04-07 22:27] BYK commented on #4007
I find this a bit too specific to be part of the core.

[2016-04-07 22:30] platinumazure commented on #5188
@ilyavolodin I would imagine we use it extensively in CLI- how would you
recommend handling that case?
On Apr 7, 2016 4:21 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2016-04-07 22:48] platinumazure commented on #4007
:+1: with @BYK. I think this should be written in a plugin. Please let us know if you need help writing this rule in a plugin.

[2016-04-08 02:07] ilyavolodin commented on #5188
Disabling it with comments in the places where it's actually needed should be find, I think.

[2016-04-08 02:10] ilyavolodin commented on #4007
I agree. This is more of a personal preference. It's a good case for a plugin though. @machineghost if you run into problems creating this, stop by our gitter channel and we'll try to help. Also, if you do end up creating this, please post a link here in case somebody wants to use the same style.

[2016-04-08 02:10] #4007 closed

[2016-04-08 04:51] alberto commented on #5188
If we are not enabling `vars-on-top`, we should also remove `one-var` from the list.

[2016-04-08 08:21] Grandrath commented on #5799
@nzakas Yes, that is correct.

[2016-04-08 08:39] spadgos commented on #5799
This would be quite strange to me. What about code like this which uses comments to document the cases?

[code]

[2016-04-08 10:24] louy opened #5808 "Rule request: forbid control flow statements in finally"
Adding a `return` statement in a `finally` block is a very confusing thing. Thrown errors get ignored, `return` statements in `try` blocks get ignored, and your mind explodes.

I'd love to have a rule to forbid this. Especially now that we're having `async`/`await`.

examples:
[code]

[2016-04-08 11:11] mysticatea commented on #5808
Thank you for this issue.

Indeed, ReturnStatements in a `finally` block may hide actual errors or results.
I think also ThrowStatements is similar to it.

I like this idea, but we need to wait for opinions of other members.

[2016-04-08 11:44] BYK commented on #5808
I'm :+1: since this is a core language issue and a pitfall quite easy to fall into without realizing consequences. We should add this to `eslint:recommended` too IMO.

[2016-04-08 13:00] c089 opened #5809 "Rule: don't parse date strings using `new Date` or `Date.parse`"
I would like to see a rule `no-date-parse` (better name welcome) that will prevent developers from passing strings to the Date constructor or explicitly using `Date.parse`.

The following would be considered errors:

[code]

The following would not be considered errors:

[code]

This prevents errors resulting from different implementatins across browsers. Using this to parse date strings is "stron

[2016-04-08 13:16] mattyclarkson commented on #2051
The following doesn't work either:

[code]

[2016-04-08 14:23] ilyavolodin commented on #5809
I'm not sure this is a good fit for the core rule. But just to clarify, should a code below be flagged by this rule?
[code]

[2016-04-08 14:26] c089 commented on #5809
If we can detect the type of that variable, yes.

[2016-04-08 14:28] ilyavolodin commented on #5809
No we can't detect the type of variable passed in. Static analysis is limited in that regard. So in that case, the only thing that would be flagged by this rule is Date constructor or `Date.parse` with a string parameter?

[2016-04-08 14:34] c089 commented on #5809
All of Date.parse, but only string literals for the ctor. So bad would be:

[code]

Okay would be:
[code]

[2016-04-08 14:54] michaelficarra commented on #5799
@spadgos That would be better written without the magic numbers to begin with:

[code]

[2016-04-08 15:25] #5786 closed

[2016-04-08 16:36] vitorbal commented on #5417
@ilyavolodin As discussed, I've created a jscodeshift transform to automate this. I've run it locally and it works like a charm. I'll send a pull request once #5719 gets merged!

[2016-04-08 16:47] vitorbal commented on #5726
Should it really be addressed in this issue? I have a PR ready for the `void` case otherwise.

[2016-04-08 16:58] nzakas commented on #5799
@Grandrath thanks. Do you want to submit a PR?

[2016-04-08 16:59] nzakas commented on #5417
If like to suggest that the transforms be done in batches rather than all at once to avoid merge conflicts with other PRs.

[2016-04-08 17:10] #5800 closed

[2016-04-08 17:11] nzakas commented on #5188
:+1: to enabling `no-console`.

[2016-04-08 17:13] #5449 closed

[2016-04-08 17:17] #5757 closed

[2016-04-08 17:19] #5751 closed

[2016-04-08 19:08] #3488 closed

[2016-04-08 20:25] alberto commented on #4693
Closing since it's out of our scope right now.

[2016-04-08 20:25] #4693 closed

[2016-04-08 20:27] alberto commented on #4543
Closing since this didn't get much traction.

[2016-04-08 20:27] #4543 closed

[2016-04-08 20:37] alberto commented on #4677
Closing because of lack of information required.

[2016-04-08 20:37] #4677 closed

[2016-04-08 20:51] alberto commented on #3366
@spadgos are you interested in submitting a PR?

[2016-04-08 21:05] alberto commented on #3481
@denis-sokolov do you still intend to submit a PR for this?

[2016-04-08 21:12] alberto commented on #4400
Seems reasonable to me. @eslint/eslint-team opinions?

[2016-04-08 21:18] ilyavolodin commented on #4400
I think this is not an enhancement but a bug, and I think we should fix this.

[2016-04-08 21:40] idchlife commented on #1599
Guys, but what about .map? Lint saying this is bad, when I use reassignment in .map

[2016-04-08 21:57] ilyavolodin commented on #1599
Why would you ever want to do reassignment in `map`? The whole point of `map` is to translate from one array to another, not to mutate the original array.

[2016-04-08 22:01] idchlife commented on #1599
@ilyavolodin

You mean when I'm doing like this:

    surveyWithIds.questions = survey.questions.map((q: QuestionType): QuestionType => {
      q.id = uniqid();

      if (q.type === 'choice_list') {
        q.choices = q.choices.map((c: ChoiceType): ChoiceType => {
          c.id = uniqid();

          return c;
        });
      }

      return q;
    });

It is considered bad practice? Old surv

[2016-04-08 22:02] denis-sokolov commented on #3481
I suppose it’s safe to close it in the meantime.

[2016-04-08 22:02] #3481 closed

[2016-04-08 22:15] xjamundx commented on #1599
Yeah so for example, what about `q.choices.map(c => { ...c, id: uniqid() })`

[2016-04-08 22:25] idchlife commented on #1599
@xjamundx I suggest you to fix your example by adding additional curly brackets and return statement, because show function syntax won't work that way.

Yep, that's actually the stuff. Thanks!

[2016-04-08 22:29] idchlife opened #5810 "arrow-body-style function short syntax when returning object."
The thing is, if I remove return and curly brackets I will have syntax error because of function short syntax.

 (c: ChoiceType): ChoiceType => {
      return { ...c, id: uniqid() };
    }

[2016-04-08 22:30] xjamundx commented on #1599
@idchlife this is valid in chrome `[1,2].map(c => ({a: 1}))` not sure about TypeScript?

[2016-04-08 22:33] idchlife commented on #1599
@xjamundx oh, I see. I did not know about () around {} when returning object in short function.

That's actually just flowtype, not typescript.

[2016-04-08 22:53] pedrottimark commented on #5417
@vitorbal Concerning the excellent goal to auto-generate the rule index as you mentioned in https://github.com/eslint/eslint/issues/5417#issuecomment-205414536 just wanted you to know:
* #5778 has big improvements to the rule descriptions which will be the final source (instead of the h1 headings in the rule docs) but that does not need to stop an initial transform
* Format of rules in README.md m

[2016-04-08 23:25] jgautsch commented on #5805
I too would like this, and would be happy to take a crack at a PR.

[2016-04-09 00:37] ilyavolodin commented on #5417
@pedrottimark No metadata for removed rules, that would have to be a separate file somewhere. Index would be generated as part of the release script, so we will be able to add that file in as well. Format would be a simple change in the template. Rule description - yes, that we would have to change once you guys agree on the format, but again, not any more complicated then what it already is (alth

[2016-04-09 01:05] ilyavolodin commented on #5805
So to clarify, should this apply to every node of type `Literal` or should there be some exceptions?

[2016-04-09 01:34] platinumazure commented on #4400
:+1: to @ilyavolodin on both counts.

[2016-04-09 02:27] ljharb commented on #5805
@ilyavolodin I was only thinking string and template literals - however, I'd be equally fine with the option being called `ignoreLiterals`, since if I happened to have a very long number or regex, i wouldn't want to have to split it across lines.

[2016-04-09 12:48] calebmer opened #5812 "New rule proposal—no-arrow-class-methods"
In ES7 you can use the [class fields and static properties](https://github.com/jeffmo/es-class-fields-and-static-properties) feature to do the following:

[code]

This can be a convenient pattern, however it has some downsides. To see such downsides clearly, refer to how babel transforms this code (to ES6):

[code]

Note that a new function is being created every time the `Hello` class is construc

[2016-04-09 12:57] alberto commented on #2053
Closing due to lack of activity.

[2016-04-09 13:00] alberto commented on #1961
Superseded by https://github.com/eslint/eslint/issues/5221

[2016-04-09 13:00] #1961 closed

[2016-04-09 13:07] alberto commented on #4376
@evilebottnawi do you still want to submit a PR?

[2016-04-09 13:20] alberto commented on #4918
Closing due to lack of response.

[2016-04-09 13:20] #4918 closed

[2016-04-09 13:33] alberto commented on #5812
Sorry, but we don't support experimental features.

[2016-04-09 13:33] #5812 closed

[2016-04-09 13:40] alberto commented on #5810
If you want to return an object you have to enclose it in parens

[code]
[code]

[2016-04-09 13:40] #5810 closed

[2016-04-09 13:47] alberto commented on #3620
Closing due to lack of activity (and detail).

[2016-04-09 13:47] #3620 closed

[2016-04-09 13:52] idchlife commented on #5810
@alberto this is true. Despite this syntax, is it ok for linter to say that there is no need for a body when using return {}...

I'm sticking to 50/50, because of short functions syntax. Will checking of it and it's return value will change in future, or will it stay the same.

[2016-04-09 14:00] alberto commented on #5675
So what are you proposing? An option to `prefer-arrow-callback` so that it only applies to anonymous functions?

[2016-04-09 14:03] evilebottnawi commented on #4376
@alberto no time

[2016-04-09 14:06] alberto commented on #4376
OK, closing then.

[2016-04-09 14:06] #4376 closed

[2016-04-09 14:19] #4400 closed

[2016-04-09 14:19] vtfn commented on #5675
Actualy I think it should only apply to anonymous functions by default since one cannot have a named arrow function. But an option could be ok as well.

[2016-04-09 15:05] platinumazure commented on #5675
@vtfn If it applied by default, that would be a breaking change and we would have to wait for the next major release. I would also argue that the rule name does not lend itself to an assumption that named functions should be allowed, so I would personally consider that behavior a weird default. I'm sure we can do an enhancement where it is an option people could use, though.

[2016-04-09 15:28] alberto commented on #5799
Mmm, I tried to submit a PR and it failed in a couple of places in our own codebase because of the concerns expressed by @spadgos
From `lib/rules/valid-jsdoc.js`:
[code]

From `lib/rules/no-mixed-spaces-and-tabs.js`:
[code]

[2016-04-09 15:45] pedrottimark commented on #5417
In case I was unclear, am suggesting that the improved and ready-to-be-merged rule descriptions in README.md would be the source for meta.docs.description in rule files whether by editing or code transform. The rule files become the source after the index file can be auto-generated.

We can update the h1 headings in rule docs according to README.md (or rule files) in batches as part of the task to

[2016-04-09 15:46] UltCombo commented on #2053
I don't have time to implement this feature at the current time.
This feature-request seems to have good acceptance, but well, do whatever you please.

[2016-04-09 16:13] pedrottimark commented on #5799
Yeah, even though there is a better way https://github.com/eslint/eslint/issues/5799#issuecomment-207466093 haven’t most of us done it? It feels like a breaking change.

The following code passes JSLint with default options:

[code]

[2016-04-09 16:15] vtfn commented on #5675
I understand,  well an option should do it just fine then, and I agree with the name argument you've raised

[2016-04-09 16:16] platinumazure commented on #5675
@eslint/eslint-team What do you think? Should we accept this?

[2016-04-09 16:28] nzakas commented on #5799
The only time it should fail is when there is an extra line between the cases. This should not fall:

[code]

This should fail:

[code]

[2016-04-09 16:29] #2053 closed

[2016-04-09 16:47] mysticatea commented on #4376
oh, may I make this later?
I want to use this.

[2016-04-09 18:30] ilyavolodin commented on #5417
@pedrottimark Ah ok, got it. So you want to merge #5778 first, and then generate metadata off of the new version, right? I know that @vitorbal had to make some manual changes (specifically around `fixable` attribute), but I think those were limited, so it shouldn't be a huge deal to regenerate metadata, I think.

Bigger chance for merge conflicts is due to the fact that descriptions will now live

[2016-04-09 18:33] ilyavolodin commented on #5799
Hmm I'm curious should this example fail?
[code]

[2016-04-09 18:35] ilyavolodin commented on #4376
@mysticatea Whenever you have time to work on this, either reopen this issue, or just create a new one pointing back to this and mark it as accepted.

[2016-04-09 18:57] xjamundx commented on #5675
Sounds to me like a diff rule altogether. Either you want named function
expressions or you want arrow functions. I don't see the use case for
"either".

On Sat, Apr 9, 2016 at 9:16 AM Kevin Partington <notifications@github.com>
wrote:

[2016-04-09 18:57] vitorbal commented on #5417
@pedrottimark @ilyavolodin hi guys, thanks for all the feedback. @ilyavolodin is right, I can easily re-generate the metadata i need for the transform, as I wrote a small script that creates a "mapping" for them by scraping the eslint.org/docs/rules page. So I would propose that we merge #5778 first and I will re-run the scraper and transform after that.

I can also do the changes in batches as @n

[2016-04-09 19:07] platinumazure commented on #5675
@xjamundx Iterating on your thought for a moment, maybe this rule should be
deprecated in favor of a "callback-style" rule? User would choose between
named function expression, anonymous function expression, or arrow function
(or any combination thereof). What do you think?
On Apr 9, 2016 1:57 PM, "Jamund Ferguson" <notifications@github.com> wrote:

[2016-04-09 21:32] alberto commented on #5799
I think he meant the comment starts in a different line

[2016-04-09 21:36] alberto commented on #4376
Since we have tightened our requirements for new rules, up to @nzakas to decide if this would still be appropriate.

[2016-04-09 21:41] alberto commented on #5809
Why would you allow
[code]

but discourage
[code]
?

[2016-04-09 21:45] pedrottimark commented on #5417
@ilyavolodin Yes, #5778 is ready, I think. @vitorbal Great work, and glad you are enjoying it!

Here is content that seems to come from another source than rule meta properties:

* **h1** heading: Rules
* **introduction** following h1 heading Rules in ESLint… (intro text will be rewritten soon)
* **order** of the h2 headings which correspond to meta.docs.category
* **paragraph** following h2 headi

[2016-04-09 22:20] alberto commented on #3586
@IanVS are you still interested in implementing this?

[2016-04-09 22:22] alberto commented on #2819
@dashed @roadhump are you interested in submitting a PR?

[2016-04-09 22:30] sgnl commented on #4832
I was about to post that I'm experiencing this issue but after restarted ST3 about 4 times the error is gone...  ¯\_(ツ)_/¯

[2016-04-09 22:36] alberto commented on #2693
Does this still fit our [criteria for new rules](http://eslint.org/docs/developer-guide/contributing/new-rules#core-rule-guidelines)?
Do we have a champion?
@sindresorhus are you willing to implement this yourself?

[2016-04-09 22:53] alberto commented on #3587
It's been a long time without any movement.
Is this still a good fit for core?
Is anyone willing to implement this?

[2016-04-09 22:58] alberto commented on #5502
So, @ath88, do you want to implement this?

[2016-04-10 04:50] dashed commented on #2819
@alberto It's been a while since I last have a need for this. Unfortunately, I'm not intimately familiar with eslint to produce the necessary and sufficient pull request.

[2016-04-10 09:32] alberto commented on #5796
Thanks @mysticatea @filipesilva. We should update the docs then. I think it is safe to recommend using double quotes also in unix for better compatibility, since [the only difference](http://www.gnu.org/software/bash/manual/html_node/Double-Quotes.html) is with a few special characters.

[2016-04-10 10:50] alberto commented on #5789
@michaelficarra can you provide an example with an incorrect use of `function` within the arrow expression?

[2016-04-10 11:34] BYK commented on #3587
Sigh, I should start working on this as a new rule as agreed above: `space-ops`. I'm a bit swamped but I think this belongs to core.

[2016-04-10 11:56] alberto commented on #5742
If I label it as a (usability) bug, can I sneak this in? 😇

[2016-04-10 12:07] alberto commented on #5760
Agreed

[2016-04-10 12:07] #5760 closed

[2016-04-10 12:07] alberto commented on #5761
Agreed

[2016-04-10 12:07] #5761 closed

[2016-04-10 13:17] akloeber opened #5815 "eslint does not ignore node_modules in sub projects"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I created the following folder structure:
[code]
File `mod.js` contains a missing semicolon:
[code]
Then I ran `node_modules/.bin/eslint .` in the root fo

[2016-04-10 13:58] platinumazure commented on #5742
I can get behind this. As it is, it's not clear whether pushing enter would preserve the selected choice (Browser), or change your choice and select that (Node). By moving Browser up, that ambiguity is removed.

[2016-04-10 14:59] alberto commented on #5815
This is by design https://github.com/eslint/eslint/issues/5646

[2016-04-10 14:59] #5815 closed

[2016-04-10 15:17] michaelficarra commented on #5789
@alberto I misspoke. It is just `{`. See https://tc39.github.io/ecma262/#prod-ConciseBody.

[2016-04-10 15:54] #5796 closed

[2016-04-10 16:10] platinumazure opened #5816 "newline-before-return throws exception if `return` is first token in file"
**What version of ESLint are you using?**

2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

(Note: This is a config based off of the shell command I wrote below.)

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error (newline-before-return is

[2016-04-10 16:26] gyandeeps commented on #5816
Seems like a bug in `espree` as this is invalid code. It should throw parsing error.
Just tried it on https://astexplorer.net/

[2016-04-10 16:28] platinumazure commented on #5816
@gyandeeps Not true-- global return is allowed in Node modules and in some other contexts. `espree` has a globalReturn option which the `node` env enables. astexplorer must not be equipped to handle that.

[2016-04-10 16:36] gyandeeps commented on #5816
k. thanks for explaining

[2016-04-10 18:41] pedrottimark commented on #5774
Stay tuned to critique some pictures of a possible design on Monday.

[2016-04-10 19:16] alberto commented on #5801
I think this should better be done as a custom tool

[2016-04-10 19:38] ilyavolodin commented on #5801
Agree with @alberto There has been a few requests for stuff like this (rules that can be enabled without any new errors, marking unused comments, etc.), and I don't think this fits into the core. It would be pretty easy to create a custom tool for this, though. Just run eslint once with `--no-inline-config` and once without and compare the output.
We wouldn't really have any better way of doing th

[2016-04-10 20:27] platinumazure commented on #5816
I'm willing to fix this if the issue is accepted.

[2016-04-10 20:33] btmills commented on #5789
Working on this

[2016-04-10 22:38] kaicataldo commented on #5816
I wrote this rule and didn't consider this possibility. For my own edification, mind sharing what some example cases of global returns are? Thanks!

If it is only valid in a Node environment, maybe we can only use the suggested fix when the `node` environment option is turned on?

[2016-04-10 22:41] #5789 closed

[2016-04-10 22:42] platinumazure commented on #5816
@kaicataldo The problem is that the rule throws an exception, which causes the linting process to terminate. This means other rules cannot function. Surely we can agree that that is something worth avoiding at all costs?

This happens because the rule code simply assumes there will always be a token before `return`. That's not always true. I don't see why the rule needs to be aware of whether it's

[2016-04-10 22:47] kaicataldo commented on #5816
Yes, of course it should be fixed - just trying to fully understand the issue at hand. Just for my own education, mind sharing an example or two where this is valid code? Not questioning that it is, but want to understand fully and learn from my mistake :)

[2016-04-10 22:48] platinumazure commented on #5816
@kaicataldo Please feel free to look at at PR #5818. I didn't make any sweeping changes and all the other test cases should still work as they had been.

As for a valid example, well... I accidentally found this when trying to run ESLint on a Node.JS repository where some test files had literally been prevented from executing by adding a `return;` statement at the beginning of the file. So somethi

[2016-04-11 00:45] IanVS commented on #5547
Working on this.

[2016-04-11 00:56] NameFILIP opened #5819 ""arrow-body-style" rule for returning objects with computed keys"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel with webpack

**Please show your full configuration:**
I use aibnb config

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
No errors or warnings

**What actually happened? Please include the actual, raw output fr

[2016-04-11 01:00] platinumazure commented on #5819
Confirmed in online demo with default parser (espree). However, I believe this is working as designed-- you should be able to use a concise body:

[code]

That works on the online demo.

[2016-04-11 01:07] NameFILIP commented on #5819
Elegant! I confirm that it works. Thanks a lot!

[2016-04-11 01:11] platinumazure commented on #5819
No problem. The ECMAScript grammar handles the ambiguity of an open brace after an arrow by assuming it must be a block, but you can force an expression with parentheses.

Please feel free to close this if you are happy with the solution and don't believe there is a bugfix or enhancement needed here. Thanks!

[2016-04-11 01:14] NameFILIP commented on #5819
I am more than happy with the solution! Thank you for your help! :+1:

[2016-04-11 01:14] #5819 closed

[2016-04-11 02:04] gyandeeps commented on #5819
I think the rule should be smart enough to detect the above use case and not throw a warning.

[2016-04-11 02:07] michaelficarra commented on #5819
@gyandeeps No, that's exactly what this rule is designed to report.

[2016-04-11 02:08] platinumazure commented on #5819
If we want to enhance the rule to allow the proposed style, perhaps we
should discuss in a separate issue. Thanks!
On Apr 10, 2016 9:07 PM, "Michael Ficarra" <notifications@github.com> wrote:

[2016-04-11 02:15] kaicataldo commented on #5816
Got it - thanks for the explanation, @platinumazure! Totally agree that this needs to be fixed :+1:

[2016-04-11 02:19] kaicataldo commented on #5816
Was able to reproduce locally.

[2016-04-11 03:51] IanVS commented on #4828
My point number one above should be covered by https://github.com/eslint/eslint/pull/5820.  After that is merged, I'll work on number two.

[2016-04-11 03:59] IanVS commented on #3586
Yeah, this dropped off my radar.  I'll submit a docs PR within the next day or two.

[2016-04-11 06:36] alberto commented on #5799
I updated the PR to reflect that, let me know if you don't think this is the right solution.

[2016-04-11 08:44] vitorbal commented on #5417
@pedrottimark Thanks, I am definitely enjoying it :)

My experience with Jekyll and Liquid templating is also very limited, but I imagine if we decide on the table output we could have a partial that generates a table using the [tablerow](https://docs.shopify.com/themes/liquid/tags/iteration-tags#tablerow) tag, and feed it with a JSON [data file](https://jekyllrb.com/docs/datafiles/) with the cate

[2016-04-11 09:15] c089 commented on #5809
Yes, e.g. current stable version of Chrome parses `2012-01-01 00:00:00` while Safari returns NaN.

[2016-04-11 14:24] promag commented on #3845
Ping.

[2016-04-11 15:14] pedrottimark commented on #5774
Expanding the scope a bit, here are sentences which could appear after the main heading in rule docs.

The following pictures are 768px width simulated iPad in portrait orientation. What do you think?

recommended
![5774 768 recommended comma-dangle](https://cloud.githubusercontent.com/assets/11862657/14431928/ecb80098-ffd5-11e5-85c1-d9fdda8cc8dc.png)

recommended and fixable
![5774 768 recommende

[2016-04-11 15:24] pedrottimark commented on #5774
The following pictures are 600px width simulated Nexus 7 in portrait orientation. What do you think?
* Right now, a media query omits the icons because the margin is too narrow, but we could display then inline instead.
* If we go in that direction, it probably implies moving the thumb-down and thumbs-up from the code well to the preceding example sentence. See no-extra-semi in this and the next c

[2016-04-11 15:27] pedrottimark commented on #5774
Here is possible change to position of icons for incorrect and correct code at 768px width. Only a small minority of rule docs will have separate adjacent code fences (for example, vars-on-top).

![5774 768 incorrect correct no-extra-semi](https://cloud.githubusercontent.com/assets/11862657/14432436/294ced82-ffd8-11e5-9f61-5948c474dba5.png)

[2016-04-11 15:36] xjamundx commented on #5675
@platinumazure Yeah, I think that makes more sense than adding an option here.

[2016-04-11 15:40] xjamundx commented on #3845
There's been a lot of talk of re-writing indentation rule altogether, so I was holding off on that happening. There's also the tab vs. space bug which would affect comments as well. I took an hour or two on this but didn't make any great progress. Does anyone know the status of the indentation rewrite that I've heard folks talk about?

[2016-04-11 15:43] michaelficarra commented on #5773
So can we close this?

[2016-04-11 15:44] ilyavolodin commented on #3845
@BYK ping

[2016-04-11 15:44] ilyavolodin commented on #5773
This looks like it's behaving as expected. Closing, since this rule is created to emulate `import`.

[2016-04-11 15:44] #5773 closed

[2016-04-11 16:07] michaelficarra commented on #5783
@d4rkr00t Instead of whitelisting `-1` everywhere, you might want to define a constant `const INDEXOF_NOT_FOUND = -1;` and compare against that.

[2016-04-11 16:27] nzakas commented on #5799
@ilyavolodin yes it should.

@alberto I meant whenever cases are more than one line apart, whether because of empty lines or comments, it should warn. So @ilyavolodin's example should warn.

[2016-04-11 16:37] nzakas commented on #5808
Seems like a good idea. Does anyone want to champion this? @eslint/eslint-team

@byk we only change `eslint:recommended ` when we do a major release because it's a breaking change.

[2016-04-11 16:49] michaelficarra commented on #5808
If `return` is forbidden, all control flow operations should be forbidden: `throw`, `break`, and `continue`.

[2016-04-11 16:53] nzakas commented on #5675
We have to be very careful about creating new rules at this point. We basically can't remove rules anymore, because doing so breaks existing configs, so adding a new rule that does more or less the same thing means we will need to keep around two similar rules. Is this important enough to do that?

[2016-04-11 16:55] bobsilverberg commented on #5234
@BarryThePenguin Just wondering if you are planning on submitting a PR, and if so what your timing is. We just updated eslint and are getting warnings which the fix to this issue would eliminate. I'd like to hold off updating my code to address the warnings if a fix is coming soon.

[2016-04-11 17:00] alberto commented on #5799
Should this warn too?
[code]

[2016-04-11 17:01] michaelficarra commented on #2808
@aliak00 I like that. Can you open a new issue for it?

[2016-04-11 17:06] alberto commented on #5675
@xjamundx I see why someone could want to use arrow functions for simple one-liners like `filter(x => x % 2)` but use named function expressions for more complex ones, to aid debugging.

[2016-04-11 17:07] nzakas commented on #5809
I'm sorry, this doesn't fit the [criteria](http://eslint.org/docs/developer-guide/contributing/new-rules) for new core rules. If you still want the rule, you can always create a [custom rule](http://eslint.org/docs/developer-guide/working-with-rules) instead.

[2016-04-11 17:07] #5809 closed

[2016-04-11 17:08] nzakas commented on #5801
Agree with @alberto and @ilyavolodin, so closing.

[2016-04-11 17:08] #5801 closed

[2016-04-11 17:11] maxtruxa commented on #5773
Agreed. I'll actually go with the alternative syntax that isn't flagged anyways, because after thinking about it a bit longer I decided it looks cleaner.

[code]

[2016-04-11 17:13] nzakas commented on #5794
I'm generally not a fan of dirtying the output of ESLint, especially when people rely on the output in CLI and other tools, as it's hard to know what people might be depending on.

[2016-04-11 17:14] nzakas commented on #5799
Yup. If the two cases aren't directly adjacent, then it should warn.

[2016-04-11 17:16] nzakas commented on #5765
This would introduce a fair amount of complexity for only a minimal benefit, so I don't see us doing this.

[2016-04-11 17:18] nzakas commented on #5742
Go for it

[2016-04-11 17:19] nzakas commented on #5721
@Jokcy any update?

[2016-04-11 17:58] #5742 closed

[2016-04-11 18:04] bdkjones commented on #5765
No offense, @nzakas, but that's a pretty dismissive reply. What is the "fair amount of complexity" that gets added? Why is the much greater clarity a "minimal benefit"?

Responses like this are the worst part of the open source community. I understand that not every feature can or should be implemented (and perhaps this one does rightly fall into that category). But it would be far better to addre

[2016-04-11 18:30] platinumazure commented on #5808
:+1: to @michaelficarra. Perhaps the rule could be called something like `no-finally-control-flow`?

[2016-04-11 19:15] vtfn commented on #5675
@alberto That is exactly my point. So I think it's valid to have an option to ignore `prefer-arrow-callback` if the callback function has a name.

[2016-04-11 19:35] pedrottimark commented on #5446
If a rule has options, then heading level 2 **Options** follows the Rule Details section.

Look at the schema or meta.schema array in module.exports in the rule file: lib/rules/*.js

For each “slot” in the array, include a sentence like one of the following to introduce a bulleted list. The brackets contain example rules for your further study. Do not include them, of course.
* This rule has a str

[2016-04-11 19:49] d4rkr00t commented on #5783
Hi @michaelficarra , thanks, but I added ```[-1, 0, 1]``` to whitelist and this's works fine for me.

[2016-04-11 19:58] pedrottimark commented on #5529
From #5470 Best Practices part 1:

- [ ] eqeqeq: **correct** code for this rule

[2016-04-11 20:01] pedrottimark commented on #5529
From #5506 Best Practices part 2:

- [ ] no-extend-native: **correct** code for this rule

[2016-04-11 20:02] BarryThePenguin commented on #5234
@bobsilverberg PR is linked above

[2016-04-11 20:05] pedrottimark commented on #5529
From #5544 Best Practices part 3:

- [ ] no-native-reassign: **correct** code for this rule [if there is any that makes sense]
- [ ] no-native-reassign: additional **correct** code for this rule with a sample `"exceptions"` option
- [ ] no-script-url: **correct** code for this rule [if there is any that makes sense]

[2016-04-11 20:10] pedrottimark commented on #5529
From #5596 Best Practices part 4:

- [ ] no-self-compare: **correct** code for this rule
- [ ] no-void: **correct** code for this rule
- [ ] no-with: **correct** code for this rule
- [ ] strict: **incorrect** and **correct** for this rule with the default `"safe"` option

[2016-04-11 20:26] ath88 commented on #5502
@alberto Oh, yes! I will try to submit a PR this week. :)

[2016-04-11 20:26] bobsilverberg commented on #5234
Thanks @BarryThePenguin! I look forward to seeing that land. :)

[2016-04-11 20:28] platinumazure commented on #5502
To confirm, we'll be implementing `unicode-bom` with always/never, not `no-bom` with no option, correct?

If so, can someone please change the title of this issue accordingly? Thanks!

[2016-04-11 21:21] nzakas commented on #5675
I think an option for this is fine, can anyone suggest an option name?

Also, does anyone want to champion this change?

[2016-04-11 21:30] platinumazure commented on #5675
@nzakas Maybe `allowNamedFunctions: true` (false by default)?

Complete sample schema:

[code]

[2016-04-11 21:33] vtfn commented on #5675
how about  a boolean `ignore-named`?

[2016-04-11 22:14] alberto commented on #5675
@nzakas I do.

+1 to `allowNamedFunctions`

[2016-04-11 22:28] kaicataldo commented on #4826
@EricHenry Any specific questions you have or things you've had trouble with in getting started working on this?

[2016-04-11 23:32] ljharb opened #5822 "`prefer-const` rule warns when "let" is needed for scoping"
on eslint v2.7.0.

`echo 'let foo; const bar = function bar() { return foo; }; foo = 3; console.log(bar());' | ./node_modules/.bin/eslint --stdin --rule 'prefer-const: 2' --no-eslintrc --parser-options=ecmaVersion:6`
gives
[code]

I'd like it not to warn here, since the `let` is required to be able to refer to it without violating the `no-use-before-define` rule. If it does warn, then must I disab

[2016-04-11 23:43] platinumazure commented on #5822
Why not do `const foo = 3;` at the beginning?

Or if, as I suspect, this is a simplified use case, could you please post your actual use case?

[2016-04-12 00:51] kaicataldo commented on #5472
@ffxsam Curious if @mysticatea's suggestion worked - this is how I would handle it too!

[2016-04-12 01:27] ffxsam commented on #5472
Yes, it does. But you should be able to use arrow functions, though. To complain about something not being defined, which is clearly being defined, is a bug in eslint IMO.

[2016-04-12 01:46] EricHenry commented on #4826
@kaicataldo After re-reading the issue, I am thinking my implementation is probably wrong. Right now I am only looking for references to 'window' or 'self', but realized that I have to determine if those are references to the global scope.

Thanks to @fritx  and @mysticatea I am looking at the no-alert rule and the and the no-eval rule because both have that functionality. I know that I could copy

[2016-04-12 01:55] kaicataldo commented on #5472
Hm, maybe I'm missing something, but I agree with @platinumazure's comment above:

If you disagree, mind explaining why? The problem doesn't seem to be with the arrow function. According to your comment above, this would also warn, right?
[code]
The problem seems to me that ArtistSettings is never declared

[2016-04-12 01:58] ffxsam commented on #5472
But if you're declaring it while exporting it, is that not declaring it?

    export default ArtistSettings = ...

[2016-04-12 02:52] ljharb commented on #5822
This is indeed simplified.

The real use case is recursive React PropType shapes:
[code]

[2016-04-12 08:42] BYK commented on #5808
@nzakas - I know. I wanted to raise the flag to include this in 3.0.0 planning :)

I can champion the rule. @onurtemizkan interested in implementing?

[2016-04-12 08:57] onurtemizkan commented on #5808
Sure! :smile:

[2016-04-12 09:25] jrencz opened #5826 "Feature suggestion: options patching"
I recently worked on adding [aotaduy/eslint-plugin-spellcheck](https://github.com/aotaduy/eslint-plugin-spellcheck/) to my project and I found out that I have to put all the configuration in the root `.eslintrc` or I have to duplicate entries.

The rule `eslint-plugin-spellcheck` provides `skipWords` option and it's an array of strings that should never be treated as spelling errors. Because of th

[2016-04-12 09:26] jrencz commented on #5040
I added options patching feature suggestion. It may be considered a bullet on this wish list: #5826

[2016-04-12 09:59] josuapedersen opened #5827 "Rule no-unused-vars does not pick up vars in formatted strings"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
No linter error.

**What actually happened? Please include the actual, raw output from ESLint.**
error  'par

[2016-04-12 10:14] BYK commented on #3845
Still in progress. I made some mental progress but nothing to show as a code yet.

[2016-04-12 11:00] ianlovell opened #5828 "ESLint -> Lint"
Is there any reason this project can't be generalised to lint all file types? e.g. SCSS/CSS, .NET files, package files etc? Is this something that's been considered?

[2016-04-12 11:22] josuapedersen commented on #5827
Right, only works with back ticks as strings. Closing this as it's working as intended.

[2016-04-12 11:22] #5827 closed

[2016-04-12 12:43] michaelficarra commented on #5765
I am very much in favour of this feature. True and false mean nothing and are arbitrary in this context, in the same way 0, 1, and 2 were arbitrary and obtuse in severity context.

[2016-04-12 12:56] michaelficarra commented on #5472
That's not a declaration.

[2016-04-12 12:56] ilyavolodin commented on #5828
This project heavily relies on AST for JavaScript - ESTree. And depends on a lot of tools that are very specific to ESTree (estravers, escope, etc). As such, it would never work for other file types. Now the core could possibly be generalized and made reusable. But then it would be a different project all together.

[2016-04-12 13:24] #5228 closed

[2016-04-12 14:06] jrencz commented on #2118
The syntax might be

[code]

[2016-04-12 15:48] alberto commented on #5828
Closing since the question has been answered

[2016-04-12 15:48] #5828 closed

[2016-04-12 15:56] alberto commented on #5826
I think that adds a lot of complexity. For something like this to get it, it should prove itself useful in general for rules. Do you have more examples of rules where this would be really useful?

[2016-04-12 16:11] ffxsam commented on #5472
Ok, so it’s an expression. But the eslint rule is called `no-undef`, not `no-undecl`.

Can we stop splitting hairs here? The fact is that the rule has a bug.

[2016-04-12 16:14] busches opened #5831 "no-useless-escape matching wildcards for globs"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
eslint-config-xo-space - https://github.com/sindresorhus/eslint-config-xo/blob/v0.13.0/index.js

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No error, `\**\*` is a

[2016-04-12 16:19] jrencz commented on #5826
I agree that this is a complex syntax. I'll try to solve my problem with eslintrc.js but let's not close this one and let others voice their opinion.

I think spellchecker is one of the plugins with the most numerous configuration. Other plugins I know provide much more fine grained rules (as they should)

[2016-04-12 16:19] michaelficarra commented on #5831
This is not a bug. `"\*" === "*"`.

[2016-04-12 16:22] michaelficarra commented on #5472
@ffxsam It most certainly doesn't. An assignment is very different from a declaration. In fact, you should be getting a runtime ReferenceError because of your assignment to an undeclared variable in strict mode. In other words, your program wouldn't even work.

[2016-04-12 16:52] ffxsam commented on #5472
Wow.. ok, you're right on all fronts. My apologies. I have the following code:

[code]

And with strict mode, it complains that `InsightDetailPage` is not being exported. Actually, I get two different errors. In my IDE, it complains it's not being exported, and in the browser console it says it's not defined.

I suppose I'm curious now why `export default` doesn't allow you to declare a variable i

[2016-04-12 16:53] #5472 closed

[2016-04-12 17:04] platinumazure commented on #5831
Or, more likely, the correct pattern is `generators\\**\\*.js`, where the backslash is actually properly escaped.

[2016-04-12 17:13] nzakas commented on #5808
Okay @byk is championing this rule. Please work with @onurtemizkan to implement the rule using the [new format](https://github.com/eslint/eslint/blob/master/docs/developer-guide/working-with-rules-new.md).

[2016-04-12 17:16] busches commented on #5831
@platinumazure that makes more sense, thanks!

[2016-04-12 17:16] #5831 closed

[2016-04-12 17:21] nzakas commented on #5675
Okay, @alberto is championing this change. Please work with @vtfn to get this implemented.

Also, :+1: to `allowNamedFunctions`

[2016-04-12 17:55] mperham opened #5833 "Can't install eslint"
I followed the install instructions: `npm install -g eslint` and then this:

[code]

Running `eslint lib`  gives this:

[code]

I'm new to the JavaScript world - please let me know if you need more info.

[2016-04-12 17:55] alberto commented on #5675
@vtfn are you interested in implementing this yourself?

[2016-04-12 17:58] platinumazure commented on #5833
Can you please include the generated `.eslintrc.js` file (or similar name), as well as the output of running `npm ls` on the shell in your project root directory? Thanks!

[2016-04-12 18:00] mperham commented on #5833
[code]

[2016-04-12 18:20] alberto commented on #5833
I think you may need to install `eslint` locally.

[2016-04-12 18:30] btmills commented on #5833
@IanVS if ESLint is installed globally, should `--init` check and also install plugins globally and forego `--save-dev`? I can see reasons why it should always install locally, so the current behavior may be intentional. We also might be getting into an issue of transitive plugin dependencies with `eslint-plugin-promise`.

[2016-04-12 18:47] IanVS commented on #5833
Ergh, sometimes I wish we could disable global installs of eslint altogether, for all the confusion it causes.

I tend to think it would be a bad thing to install plugins globally during `--init`, as even more than ESLint itself they will vary from project to project.  But, I'm not sure the right way to approach this.  Maybe we can try to detect if `--init` was run from a global installation, and

[2016-04-12 19:21] vtfn commented on #5675
@alberto  I'd love to, but since I've never done a change to help in this project, I'd have to study the source code first and I'm too busy to do it right now. If it isn't too much problem for you, could you do this one? Or, I can wait until I can do it myself.

[2016-04-12 19:35] btmills commented on #5833
Hear, hear!

I agree. For example, running `eslint --init` in one project could potentially clobber another project's build. Can we encourage local installs and discourage global usage? I don't think we can warn and immediately disable since that would be a breaking change, but perhaps a "proceed at your own risk" warning? Something like

[2016-04-12 19:42] pedrottimark commented on #5040
👍 When I studied the declarative schema to find patterns for option descriptions in rule docs, I felt some some mental friction comparing them to the imperative code for default values.

[2016-04-12 20:04] alberto commented on #4483
We are already in April, so nodejs@0.12 is officially in maintenance mode (and nodejs@6 will release in a few weeks), but it looks like eslint@3.0.0 is still far from now. What do we want to do?

Also, we talked about dropping node < 4, but, shouldn't it really be node < 4.2.0, since that is the first LTS version?

[2016-04-12 20:11] mgol commented on #4483
For any `n` only the latest `n.x.y` release is supported by upstream and I don't think it makes sense to support versions not supported by upstream so that would be achieved by definition. ESLint is already tested [on latest version for each major](https://github.com/eslint/eslint/blob/e0543720bd8154b847d80b6bc56ac62b3e983b36/.travis.yml#L6) so that seems to be the current policy.

[2016-04-12 20:45] nzakas commented on #5826
I'm :-1: for this suggestion. Way too much complexity for a very narrow use case.

[2016-04-12 20:49] nzakas commented on #5833
Some editor plugins rely on global installation, so we can't really disable it.

The problem here is that `--init` is installing `standard` locally, which has a peer dependency on ESLint. ESLint isn't installed locally, so npm is warning to install it. I think the only real action needed here is to make `--init` install ESLint locally if it's missing.

[2016-04-12 20:52] nzakas commented on #5085
@omerbalyali thanks! In order to file a trademark with the logo, we need you sign something saying you grant us the rights to use the logo. Can you contact me at Nicholas (at) nczconsulting (dot) com?

[2016-04-12 20:57] nzakas commented on #5822
I don't think there's an easy way to do this. Your best bet is to just manually disable the rule on that line.

Also, please stick to using the issue template when reporting bugs. It helps us a lot.

[2016-04-12 20:59] nzakas commented on #5805
@eslint/eslint-team does anyone want to champion this?

[2016-04-12 21:00] nzakas commented on #5803
Sounds good. @alvov do you want to submit a PR?

[2016-04-12 21:09] ilyavolodin commented on #5826
I agree, right now I'm having trouble coming up with any other use cases for config patching. We also discussed possibility of removing config cascading all together and substituting it with glob configs, so this might be a very complex, short lived feature.

[2016-04-12 21:17] alberto commented on #5805
What is the proposed behaviour here? Ignore the whole line if it contains a string, like `ignoreUrls`? Discount the length of the string from the line length?

[2016-04-12 21:26] alberto commented on #4418
Closing since we can't do this kind of fixes right now.

[2016-04-12 21:26] #4418 closed

[2016-04-12 22:02] lemonmade commented on #5675
I'm interested in starting to contribute to ESLint, if no one else wants to I can take a stab at this.

[2016-04-12 22:20] alberto commented on #5675
Sorry @lemonmade, I have just pushed this.

[2016-04-12 22:22] lemonmade commented on #5675
No worries!

[2016-04-12 22:41] ljharb commented on #5805
@alberto i'd be fine with either. discounting the length of the string seems most useful to me, however.

[2016-04-12 23:05] lemonmade commented on #3366
I'd be happy to take a stab at this. Is `avoid-quotes` an acceptable name for the option?

[2016-04-12 23:26] IanVS commented on #5833
Oooo, I like that idea. That will also mitigate the global usage of eslint
as well.

On Tue, Apr 12, 2016, 16:49 Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-04-12 23:35] ilyavolodin commented on #3366
`avoid-quotes` sounds reasonable.

[2016-04-12 23:37] ilyavolodin commented on #5833
Hmm.. how would that help? If they used global instance of ESLint to run init, even if you install local copy, it's doubtful they will start using local version. They might not even be aware that it was installed. Although, I guess, since we change plugins to start resolving based on the location of the config file, it will fix immediate issue of not finding plugin.

[2016-04-13 00:10] lemonmade commented on #3366
A few other questions: should this option only report keys that would be invalid identifiers? So, this reports:

[code]

but this does not:

[code]

Seems like there is some overlap here with the `quote-props` rule.

I'm also wondering if there's an issue here in that computed properties aren't really checked one way or another. So, this passes even when set to `always`:

[code]

Is this something

[2016-04-13 00:23] kaicataldo commented on #1101
Hey @afahim, are you still working on this?

[2016-04-13 00:35] nzakas commented on #4483
We will drop support for older Node versions when 3.0.0 is released (whenever that happens to be). If nothing important comes up as a breaking change in the next couple months, then we can discuss doing a 3.0.0 purely to drop older Node support.

And yeah, the policy should likely be we support the latest LTS version and higher.

[2016-04-13 00:37] nzakas commented on #5833
@ilyavolodin it helps complete the installation without error. It probably makes sense for us to also outputva message letting the user know that we installed ESLint locally for them and suggest that they use that instead of the globally installed version.

[2016-04-13 00:39] nzakas commented on #5826
@jrencz we aren't going to investigate this further. For your use case, you might want to consider using your own config file read from the rule rather than relying on the ESLint config.

[2016-04-13 00:39] #5826 closed

[2016-04-13 03:31] kaicataldo commented on #5833
I can try to find some time to look at this - interested in learning how `--init` works!

[2016-04-13 04:31] lukeapage commented on #5822
this is a duplicate (or at least extremely similiar) to #5692. In there the suggestion was you would have to write

[code]

and then turn off the rule for no-use-before-define.

as in that issue, an alternative to these is to write this (I assume it will also work here):
[code]

@mysticatea suggested on that issue an option in prefer-const to not warn if the reference was read before assignment an

[2016-04-13 06:27] ayushya opened #5836 "Eslint Plugin for Atom Doesn't allow ` ` backticks"
This error has started with the new version,
 The rule
"quotes": [2, "single"]

Used to work for both single quotes and backticks, earlier.
After upgrading to the latest plugin of eslint in Atom for Mac, eslint is throwing error that
"string must use singlequotes", on using backtick.
 Eg : `Website`  <<< Throws Error
'Website'  << Works great

I need backticks to work as i am using Template Litera

[2016-04-13 08:17] fabienjuif opened #5837 "`prefer-const` not triggered (regression from 2.4.0)"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
`prefer-const` should trigger and ask me to change `let dynStyle` to `const dynStyle`

**What actually happened? Please

[2016-04-13 12:05] jrencz commented on #5826
@nzakas that's what I did.
I moved to `.eslintrc.js` which allows me to import and concatenate what I want

[2016-04-13 12:57] ilyavolodin commented on #5837
@mysticatea Could you take a look please?

[2016-04-13 13:19] trongthanh opened #5839 "`eslint .` take longer time than a list of files"
**What version of ESLint are you using?**
2.6.0
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
.eslintrc
[code]
(I think my config is not related so I minify it to avoid clutter)

.eslintignore
[code]
**What did you do? Please include the actual source code causing the issue.**
My app is a keystone website, it is just created from a ye

[2016-04-13 13:24] inuscript opened #5840 "no-irregular-whitespace: Inside of regexp irregular whitespace"
**What version of ESLint are you using?**
2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

I wrote those code.

[code]

**What did you expect to happen?**

[code]

I think this may bug because string literal is ignored on this rule.

If this is

[2016-04-13 14:38] ilyavolodin commented on #5839
This is most likely a duplicate of #5679 Basically, while `node_modules` directory is excluded from linting by default, it's not excluded from globbing.

[2016-04-13 15:49] #5816 closed

[2016-04-13 15:51] nzakas commented on #5822
@mysticatea thoughts?

[2016-04-13 15:52] #3065 closed

[2016-04-13 15:59] nzakas commented on #3366
@lemonmade can you open a separate issue about computed properties? Let's not mudfy the waters with that discussion here.

This option very simply says if the name of the function requires quotes in shorthand form, don't suggest it. So `"foo"` would not warn because it can be written without quotes but `"foo-bar"` cannot be written without quotes, so it should not warn.

[2016-04-13 16:06] #5693 closed

[2016-04-13 16:21] alvov commented on #5803
@nzakas, yes, sure.

[2016-04-13 17:24] cwgorman opened #5841 "`prefer-const` doesn't work on `var`s"
So a project I'm working on has a rather unusual dev environment, where we support `var` and `const`, but not `let`. The reason being that [`const` is supported](http://caniuse.com/#search=const) (at least partially) on all the browsers we support, but [`let` is not](http://caniuse.com/#search=let).

So we'd like to use `const` when possible, and the `prefer-const` rule seems to be exactly what we

[2016-04-13 17:44] trongthanh commented on #5839
Did some test scenarios, I have to agree that it take longer because of the `node_modules` globbing.

I take a look at  #5679. I think that, while sometimes it's needed to un-ignore some folders in `node_modules`, but they're rare. Most of the time we don't want to lint or glob node_modules folder at all.

I think it's not uncommon for people to use `eslint .` as their linting script and in my cas

[2016-04-13 18:07] ilyavolodin commented on #5839
@trongthanh #5679 has been accepted as an issue that we should fix. So we agree that this is a bug. If you want to submit a PR with a fix, we would be greatful!
Closing this as duplicate of #5679

[2016-04-13 18:07] #5839 closed

[2016-04-13 19:12] ljharb commented on #5822
@nzakas sorry, i'll try to stick to the template in the future.

[2016-04-13 19:52] jfmengels opened #5843 "Naming convention: Visitors / event-handlers?"
This is not a bug report, just a discussion about documentation, or rather, naming. I was wondering what the name of the type of function associated with `Identifier` in the following example is.
[code]
I know that Babel uses the term [`Visitor`](https://github.com/thejameskyle/babel-handbook/blob/master/translations/en/plugin-handbook.md#toc-visitors), as related to the [visitor pattern](https://

[2016-04-13 20:18] tommck commented on #3218
I see a commit to @willklein's branch, but I don't see it getting merged.  This would be useful

[2016-04-13 21:27] TheSavior opened #5844 "Cache configuration files when running"
When running eslint and watching what files are being accessed, by running on my mac:
[code]

And then running eslint, it looks like eslint reads the same configuration files over and over and over again for every file in every different folder of files. It seems like those file contents should be cached in memory so that they don't have to be read every time.

Here is an snippit of the output fro

[2016-04-13 21:59] #5234 closed

[2016-04-13 22:01] #5799 closed

[2016-04-13 22:03] #5675 closed

[2016-04-13 22:05] nzakas commented on #5841
This is by design. You can't just replace `var` with `const` because they have different rules around scoping. Specifically, `const` is block-scoped while `var` is function-scoped.

[2016-04-13 22:05] #5841 closed

[2016-04-13 22:07] nzakas commented on #5837
@fabienjuif
It looks like you're using `babel-eslint` as your parser. Can you try using the default parser instead? You can just delete the `parser` from your config file to switch to the default parser. Make sure you configure the [parser options](http://eslint.org/docs/user-guide/configuring#specifying-parser-options) as well.

[2016-04-13 22:09] nzakas commented on #5843
The instances you point to are two different things. `"Identifier"` is implementing the visitor pattern because it indicates a node type to visit in the tree. The code path analysis events are not the visitor pattern, they are event handlers that are triggered along the way. So even though it's a bit confusing, I think the terminology between these two is accurate as they are today.

[2016-04-13 22:13] nzakas commented on #5844
The config file contents are cached in memory and indexed by directory:
https://github.com/eslint/eslint/blob/master/lib/config.js#L220

I think what you're seeing is directory access/file existence checking rather than actual reading of the files.

If you want to take a look at the code and suggest how we might change it to minimize those, we'd happily accept a pull request.

[2016-04-13 22:18] jfmengels commented on #5843
Ah, yes, you're correct. So would it be right in your opinion to name `"Identifier"` a `Visitor`?

[2016-04-13 22:26] nzakas opened #5845 "Proposal for deprecating rules"
## Background

ESLint has a long, depressing history of removing old rules. We did this a lot pre-1.0.0, probably longer after we should have. We stopped doing that outside of major releases after 1.0.0, which means we removed a bunch of rules in 2.0.0 as well. We rationalized this as important to keep the code base clean and we always replaced removed rules with better alternatives. We figured pe

[2016-04-13 22:28] nzakas commented on #5843
Yup!

[2016-04-13 22:35] jfmengels commented on #5843
Thanks for the answer :)

[2016-04-13 22:35] ilyavolodin commented on #5845
In general, I agree. I'm a bit worried that after some time we would be swimming in deprecated rules, though. Maybe at some point in the future, we could add some statistic collection to ESLint and once a deprecated rule falls below a certain threshold, we could actually remove it? We should also be very careful about replacing rules/creating new rules that do almost the same thing. I assume the s

[2016-04-13 23:06] Icehunter opened #5846 ""no-empty-label" error warning when not in config file"
**What version of ESLint are you using?**
2.7.0 (package.json), various others in submodules

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Any file I create gives the "no-empty-label" error at the top of the file, no matter what is there.

Cod

[2016-04-13 23:13] JaKXz commented on #5623
@alberto sorry to continue a closed thread, but I don't really follow the similarities in #4828 -

I'd prefer not to have to use the `--quiet` flag to suppress ALL warnings when I've specifically listed files in my `.eslintignore` that I want eslint to ignore. Is there a good reason for this behaviour that I'm missing? The docs say it's because eslint is unsure about the files that I want to ignor

[2016-04-13 23:14] platinumazure commented on #5845
@nzakas Could we have a more generous deprecation schedule? For example, deprecate a rule on 3.0.0 release, then actually remove it in 4.0.0 (or 5.0.0).

The Django project has this down to a accidence, although they also have a lot more infrastructure around this sort of thing. But maybe we could evaluate their model and other models and make a decision?

[2016-04-13 23:37] bdougherty commented on #5845
What about something like https://github.com/jamestalmage/ava-codemods to help with updating?

[2016-04-14 00:14] skarfacegc opened #5847 "--fix doesn't appear to completely indent"
**What version of ESLint are you using?**
v2.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`
{
  "extends": "google"
}
`
**What did you do? Please include the actual source code causing the issue.**
`node_modules/.bin/eslint --fix foo.js`

**What did you expect to happen?**
re-indent foo.js from 4 spaces to 2 spaces

**What actu

[2016-04-14 00:22] kaicataldo commented on #5845
I agree with @ilyavolodin and @platinumazure's concerns about discussing some kind of long term plan for keeping the number of deprecated rules under control. If we do implement some kind of long term strategy for removing deprecated rules, I think that having a long runway between deprecation and final removal, clearly setting expectations, and being very transparent about the process will be key

[2016-04-14 00:45] mysticatea commented on #5840
Thank you for this issue.

Indeed, `no-irregular-whitespace` ignores spaces in string literals.
So I feel this is a bug.

![image](https://cloud.githubusercontent.com/assets/1937871/14513794/635ce0a0-0225-11e6-85c7-26a718998525.png)

[2016-04-14 00:57] IanVS commented on #5836
This appears to be a duplicate of https://github.com/eslint/eslint/issues/5234, which was just closed a few hours ago.  If you have other questions about it, or believe your issue is something different, please let us know and we can reopen.

[2016-04-14 00:57] #5836 closed

[2016-04-14 01:04] IanVS commented on #5759
I agree this isn't a bug, and I'm not really a fan of changing the error message.  Going down that rabbit hole can get very complicated very quickly, for little (if any) gain.  Even if there are some unexpected situations like this that cause some research or an issue to check whether it's a bug, in the end it all worked out and now there's a github issue that others can learn from as well.  So, p

[2016-04-14 01:10] ilyavolodin commented on #5846
Could you try running `eslint filename --print-config`? That should print out the whole configuration used to lint this file. If `no-empty-label` shows up in that list, you could try running `eslint filename --debug` to see which config files are being loaded. ESLint cascades configuration files, so `no-empty-label` might be coming from some directory above your current configuration.

[2016-04-14 01:14] ilyavolodin commented on #5847
I think this might be a known issue. Indent rule works by offsets from the previous lines, so on the first run it fixes issue with first level indentation, on the second it finds and fixes second level indentations, etc. @gyandeeps @BYK could you confirm and close if we already have a duplicate for this issue?

[2016-04-14 01:19] IanVS opened #5848 "Use .gitignore by default if no .eslintignore is found"
This is a proposal intended to reduce the friction for the adoption of eslint into a project.  Most times, files which are not version controlled are also not linted (`node_modules` being a common example, but also compiled code and dynamically generated files as well).  Currently, every project must either create an `.eslintignore` file to specify those files, or if they are using a `.gitignore`,

[2016-04-14 01:28] pmcelhaney commented on #5845
The more automation the better. At a minimum print a warning when deprecated rules are in use. If possible provide a script to help update to the replacement rules.

Come to think of it, it would be nice if there was a script that introduced users to newly added rules and helped them update their configs. I might play with that idea this weekend.

[2016-04-14 02:22] Icehunter commented on #5846
...

It seems I had another eslintrc in the parent folder GitHub for some reason. I had incorrectly assumed it would walk the tree until it found one and stopped ^^;

Thanks! Removing that file fixed it all.

[2016-04-14 02:49] ilyavolodin commented on #5846
If you want ESLint to stop at the first file it finds, you can add `root: true` to that file, and it will stop the cascading. Closing, as it looks like the issue is resolved.

[2016-04-14 02:49] #5846 closed

[2016-04-14 03:09] platinumazure commented on #5188
Okay, clearly I didn't know what I was talking about when I said I would do `quote-props`. That's back on the table.

On the other hand, I am about to start `no-console`.

[2016-04-14 05:49] ljharb opened #5850 "rule request: warn on template literal syntax inside normal strings"
**When does this rule warn? Please describe and show example code:**
Any time a string literal with single or double quotes has `${foo}` in it, *where `foo` would evaluate in the scope of the string*.

[code]

**Is this rule preventing an error or is it stylistic?**
This rule is attempting to prevent a developer error from using the wrong kind of quotes, when they intended to use a template litera

[2016-04-14 07:01] alberto commented on #5623
Yes, by using `eslint **/*.js` (without quotes) you are explicitly including all files and asking `eslint` to lint them. `eslint` is trying to be helpful telling you that it is not linting some of the files you asked him because they are ignored.

Try using `eslint .` instead.

[2016-04-14 07:14] fabienjuif commented on #5837
**Config file :**
[code]

**Code :** Is the same
**How do I run it  ? :** ./node_modules/eslint/bin/eslint.js _[...]_/ToolBar.js
**Result :** Blank.

[2016-04-14 07:22] alberto opened #5852 "Remove workarounds for espree and escope issues from codebase"
There are a number of places where we have workarounds for bugs in `espree` and `escope` that have been fixed.

This are the files:
[code]

I think in this case it's easier to see the code, so I'll do a PR.

[2016-04-14 07:38] Jokcy commented on #5721
@nzakas Sorry for replying so late, root: true is OK for me now.

[2016-04-14 08:24] lo1tuma commented on #5845
If a user configures a deprecated rule, can we not just map this to the replacement rule and execute it instead?

[2016-04-14 09:34] aliak00 commented on #2808
@michaelficarra Heya! Issue creation guide page say implementation is my responsibility. But I don't think I'd want to implement this. It was just a suggestion I threw in as a compromise instead of globally turning off empty catch blocks, which I personally don't think is a good idea :) - and which I see has gone in with #5800 - and I frankly don't mind just adding a `// eslint-disable-line no-emp

[2016-04-14 10:00] adriantoine opened #5854 "Would you accept an autofix for comma-dangle?"
Hi,

Sorry I'm not following the issue template but I'm not really reporting an issue, it's more a question related to https://github.com/eslint/eslint/issues/5131.

I have made a change to allow `comma-dangle` to be fixable: https://github.com/adriantoine/eslint/commit/7c0b794498b43920f30f461c292241ad5f6a57c6 it is ready (except that I don't have any issue to reference in the commit message), how