[2015-09-16 14:53] gyandeeps commented on #3342
I Think the rule is behaving as expected. What wrong with these errors?
What do you expect to happen?

[2015-09-16 14:55] ndaidong commented on #3769
@mysticatea : how to get this new feature? I've updated to 1.4.3 and nothing changes.

[2015-09-16 15:35] remko commented on #3342
I understand these rules do what they're supposed to do. The indentation rule didn't flag any problems with my code pre-1.0 though, so I was wondering what the rules were back then, and whether it would be feasible to introduce an option to get this more liberal behavior back. It seemed that it was more liberal about spaces inside data (e.g. objects, arrays), but i'm not sure that was the rule, or

[2015-09-16 15:38] gyandeeps commented on #3342
Pre 1.0 rule was so simple and it never used to check for a lot (really a lot) of stuff. So after that we did a reqrite to make it work for a lot of scenarios and nodes.
I am gonna go with lucky here as the rule was dumb at that time. You can always disable rules inline like this
[code]

[2015-09-16 15:42] remko commented on #3342
Fair enough.

[2015-09-16 15:42] #3342 closed

[2015-09-16 16:02] globexdesigns commented on #3720
+1

Is this a difficult issue to fix? It has a pretty huge impact on projects which rely on symlinks. This also wasn't an issue in ESLint 1.3.x.

[2015-09-16 16:31] BYK commented on #3720
This is another side effect of switching to `node-glob` for file discovery. It should be just enabling an option but I'm not sure if it would break anything.

@globexdesigns - I can push a branch that has the fix and you can test that locally. Would that be okay?

[2015-09-16 16:54] #1983 closed

[2015-09-16 16:54] #3801 closed

[2015-09-16 16:58] #3769 closed

[2015-09-16 17:00] btmills commented on #1338
Looks like this was unintentionally closed by a phrase in the description for #3821. The commit merged there does not reference this issue.

[2015-09-16 17:01] nzakas commented on #3815
In all likelihood, we should just run in tolerant mode by default.

[2015-09-16 17:02] nzakas commented on #3055
Not moved, since it's a bug for us, but definitely reported on the doctrine repo.

[2015-09-16 17:04] nzakas commented on #3055
Worth noting that I think, traditionally, JSDoc has accepted union types without parentheses. Can someone verify that?

[2015-09-16 17:07] nzakas commented on #3525
I agree. Here's what I have in mind:

1. Create a `packages` directory
1. Create a subdirectory called `eslint-config-eslint`
1. Have a `package.json` in that directory
1. Update build script to translate `.eslintrc` into a JSON file and do a release whenever a regular ESLint release is done
1. Always do major releases for `eslint-config-eslint`, since any change is breaking

Thoughts?

[2015-09-16 17:08] nzakas commented on #3819
Nice catch

[2015-09-16 17:08] nzakas commented on #3798
Working on this.

[2015-09-16 17:09] btmills commented on #3525
Sounds good!

I'd amend step 4 to check to see if the config has actually changed before doing the release.

[2015-09-16 17:14] nzakas commented on #3781
Working on this.

[2015-09-16 17:20] nzakas commented on #3685
Working on this.

[2015-09-16 17:23] globexdesigns commented on #3720
@BYK Sure, that would be great.

[2015-09-16 17:34] nzakas commented on #3170
Working on this.

[2015-09-16 17:42] nzakas commented on #3095
Looks like the changes to the open CoC are taking a while to get through. In the meantime, I'm going to suggest we adopt the jQuery code of conduct instead: https://jquery.org/conduct/

I think it addresses a lot of the concerns people had.

[2015-09-16 17:43] nzakas commented on #3037
@ilyavolodin we've done some grouping already, do you think this is still necessary?

[2015-09-16 17:43] nzakas commented on #2692
Changing this to implement a `--debug` flag. That will make it a bit easier than the current method.

[2015-09-16 17:44] nzakas commented on #2692
Working on this.

[2015-09-16 17:45] gyandeeps commented on #3095
Sounds good to me.

[2015-09-16 18:05] hulbert commented on #1983
:clap: thanks @dotnil

[2015-09-16 18:22] #3798 closed

[2015-09-16 18:45] ilyavolodin commented on #3769
@ndaidong It was just merged in, you need to wait for next release for this feature to be available.

[2015-09-16 18:52] ilyavolodin commented on #3525
Sounds like a plan!

[2015-09-16 18:53] #3781 closed

[2015-09-16 18:54] #3685 closed

[2015-09-16 18:55] #3170 closed

[2015-09-16 18:56] ilyavolodin commented on #3037
I think this can be closed for now. I still would like to do some reorganization, but I think we should wait until after metadata is added.

[2015-09-16 18:56] #3037 closed

[2015-09-16 19:00] ilyavolodin commented on #3814
I think in order to provide such an option, we would need to rename this rule.

[2015-09-16 19:29] unphased commented on #3170
Thanks!

[2015-09-16 20:13] IanVS commented on #1101
@ralphholzmann and @fastotter, this is an [accepted enhancement](http://eslint.org/docs/developer-guide/contributing/working-on-issues#issue-labels), which means it is pretty low on the priority list for the core team but anyone is welcome to submit a PR.

[2015-09-16 20:26] SpadeAceman commented on #3543
I would definitely be interested something like this. I'd recommend adding an option to existing rule `no-unused-vars` - its current documentation doesn't mention this, but caught exception variables are allowed to remain unused, even when the "all" options are specified:
[code]
So, perhaps adding some kind of "errs" option would accomplish this:
[code]

[2015-09-16 21:20] BYK commented on #3095
:+1:

[2015-09-16 21:24] BYK commented on #3720
@globexdesigns https://github.com/eslint/eslint/tree/issue-3720

[2015-09-16 21:38] jonathandelgado commented on #3814
Oh ok, will close then, no need to break backwards comparability for this.

[2015-09-16 21:38] #3814 closed

[2015-09-16 21:54] globexdesigns commented on #3720
@BYK No luck with that branch. Still seeing these warnings for all symlinked files:

[code]

[2015-09-16 21:57] BYK commented on #3720
@globexdesigns thanks for checking. Will do some more research and update here.

[2015-09-16 22:11] nzakas commented on #2211
Working on this.

[2015-09-16 22:15] #2692 closed

[2015-09-16 23:16] alberto opened #3829 "Implement auto fix functionality for semi-spacing rule"
Implement auto fix functionality for semi-spacing rule

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26743689-implement-auto-fix-functionality-for-semi-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2015-09-16 23:19] mysticatea commented on #3543
:+1: to @SpadeAceman

[2015-09-17 01:18] chemoish commented on #3493
Slightly tangental…

[code]

[code]

I am thoroughly confused with the variations of indent rules that pass/don't pass (@silverwind's and variation).

- Is the above expected?
- Does this fall into the single-line statement case?

[2015-09-17 01:22] zaggino commented on #3543
yeah, that'd be great too, nice idea @SpadeAceman

[2015-09-17 01:42] ndaidong commented on #3769
@ilyavolodin :+1: got it, thank you for your hard work.

[2015-09-17 03:27] hotoo opened #3832 "indent rule bug?"
## Information

eslint@1.4.3

.eslintrc

[code]

JavaScript code: (The first line indent error)

[code]

eslint result:

[code]

![eslint-indent-error](https://cloud.githubusercontent.com/assets/143572/9923891/99ee50a2-5d2c-11e5-9085-01fe92438586.png)

right code:

![2015-09-17 11 16 54](https://cloud.githubusercontent.com/assets/143572/9924108/e3601d9a-5d2e-11e5-863e-79baf60ac83e.png)

## Problem

[2015-09-17 10:38] kotodamagic opened #3833 "exported comment does not work in env:node"
## Environment

* Same error is displayed in:
    * node.js@4.0.0 and eslint@1.4.3
    * node.js@4.0.0 and eslint@1.2.0
    * node.js@4.0.0 and eslint@1.4.1
    * node.js@0.12.7 and eslint@1.4.1

## Minimal code to reproduce

.eslintrc:

[code]

code:

[code]

result:

[code]

## Issue

* If .eslintrc doesn't contain `"env": { "node": true }`, no errors are displayed.

[2015-09-17 11:43] mysticatea commented on #3735
OK, thanks a lot @nmschulte.
I found the minimum environment which reproduces it.

**~/.eslintrc**

[code]

**~/src/.eslintrc**

[code]

In this case, the `commonjs` environment should overwrite the `globalReturn` feature with `true`, but I got `false`.

[2015-09-17 12:29] evilebottnawi opened #3834 "Feature: options to ignore try,catch for rule global-require"
Example:
[code]
Now i get error global-require

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26755799-feature-options-to-ignore-try-catch-for-rule-global-require?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=pl

[2015-09-17 12:40] btmills commented on #3834
This pattern is explicitly disallowed in the docs, but I've seen it before when trying to import an optional dependency. @evilebottnawi what would such an option look like?

[2015-09-17 12:46] evilebottnawi commented on #3834
@btmills i see two ways import optional dependency.
First:
[code]
Second:
[code]
I think first way is better, less code and faster.

[2015-09-17 13:05] btmills commented on #3834
[code]

That works today, but it's ugly.

[2015-09-17 13:06] IanVS commented on #3833
In node, variables are not added to the global scope, so `thisIsExported` would be only at the module scope.  Since it is not being used in the module, the error is correct.

[2015-09-17 13:07] #3833 closed

[2015-09-17 13:08] evilebottnawi commented on #3834
@btmills What is required is not always the fallback

[2015-09-17 13:13] IanVS commented on #3833
The docs currently say:

Perhaps it would be more explicit to say:

[2015-09-17 13:17] SimenB opened #3835 "Feature: Enforce using logical or instead of ternary for falsy assignment"
Really bad title, but I have no idea what to name it.

I'd like the following to error

[code]

It can be written shorter and (IMO) more readable
[code]

This is mostly stylistic, but it could provide some security against typos, as one of the properties is not typed twice

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26756850-feat

[2015-09-17 13:44] IanVS commented on #3835
Sounds like one way would be to add an option on [no-terniary](http://eslint.org/docs/rules/no-ternary) which only prevents ternarys if the first assignment expression is equal to the condition.

[2015-09-17 13:46] IanVS commented on #3832
@gyandeeps @BYK Looks like the first line is setting indentation for the rest of the file?  Is that intended?

[2015-09-17 14:02] nmschulte commented on #3735
So, I'm confused: aren't all of the `ecmaFeatures` for ES6+ features?  How does the `globalReturn` feature resolve this (and why does setting the `commonjs` environment flip this on)?  In reality, doesn't the CommonJS wrapper keep this from actually being a "global return"?  I'm not familiar with how ESLint works under the hood, but I imagine it literally stuffs the src in a function wrapper, e.g.

[2015-09-17 14:23] mysticatea commented on #3735
Actually `ecmaFeatures` is espree's option, so it's parser switches. It includes es6, jsx, and some relaxing options. `globalReturn` is to allow `return` statements in the global. And yes, this option creates extra function scope for global variables.

`env` is composit option. It's converted to `ecmaFeatures` and definitions of implicit global variables.
https://github.com/eslint/eslint/blob/mast

[2015-09-17 15:32] SpadeAceman opened #3837 "Option Proposal: for `no-unused-vars`, add `exceptions` and `exceptionsIgnorePattern` options"
Following from the discussion in #3543, I propose the addition of options to the `no-unused-vars` rule, allowing us to specify how we want to handle exception variables defined in the `catch()` clause of a try/catch statement.

Currently, the documentation doesn't address this, and the rule allows caught exception variables to remain unused, even when the `"all"` settings are used for the current

[2015-09-17 16:25] mysticatea commented on #3835
Maybe http://eslint.org/docs/rules/no-unneeded-ternary

[2015-09-17 16:29] IanVS commented on #3835
Good call, I forgot about that one.

[2015-09-17 18:24] SamuelBolduc opened #3838 "Force consistent function declaration syntax"
Given [this little test](http://jsperf.com/function-declaration-compare) I put together, wouldn't it be a good idea to have a rule to enforce declaring functions without assigning them via a `var`, `const` or `let` declaration?

In the example I linked, only the last one should be valid with this potential new rule.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-09-17 18:33] ilyavolodin commented on #3838
Sorry, it's pretty hard to figure out what you are proposing from that test, could you provide information requested in [Proposing a New Rule](http://eslint.org/docs/developer-guide/contributing/new-rules)?

[2015-09-17 18:44] SamuelBolduc commented on #3838
Warnings:
[code]
No warning:
[code]

The rule doesn't really prevent an error nor is it stylistic. In some environments (Webkit for instance, so Node.js) it is much faster to declare functions via the last method (`function fn(a, b) { return a + b; };`).

On the other hand, in other environments (SpiderMonkey is an example) declaring via `const fn = (a, b) => { return a + b; };` is much faster. So

[2015-09-17 18:52] michaelficarra commented on #3832
@IanVS That'd be what I would expect. Base indentation should be inferred from the indentation of the first line of code.

[2015-09-17 19:03] BYK commented on #3832
What @michaelficarra says :)

[2015-09-17 19:03] ilyavolodin commented on #3838
I think what you are looking for is `func-style: [2, "expression"]` which will flag any function declaration and force function expressions instead.

[2015-09-17 19:03] gajus opened #3839 "Force a space between JSDoc description and properties"
Force:

[code]

to be:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26765407-force-a-space-between-jsdoc-description-and-properties?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=trac

[2015-09-17 19:06] IanVS commented on #3832
Make sense to you, @hootoo?

[2015-09-17 19:07] gajus opened #3841 "Force no space between properties"
[code]

Have a rule to detect a space between properties.

[2015-09-17 19:10] #3735 closed

[2015-09-17 19:11] #3676 closed

[2015-09-17 19:15] nzakas commented on #3829
I'd like to hold off on this one for a little bit before implementing. I'm a bit concerned about overlap with the `semi` rule fixes. So I'll mark as accepted, but would like to wait a release or two before merging.

[2015-09-17 19:16] #3560 closed

[2015-09-17 19:23] nmschulte commented on #3388
Just for the record, I second @ronkorving's suggestion to better clarify the categories/organization of the rules.  Folks tend not to dig deeper than the surface, especially for a tool such as this, and therefor the category names are rather misleading.  I too, had the same confusion as @ronkorving.  In my own `.eslintrc`, I have stopped using your categories, because they are simply too opinionat

[2015-09-17 20:03] nzakas commented on #3435
I don't think we have identified the best solution yet, so let's keep talking.

Ultimately, I think we want to say "allow dangling underscore if preceded by `this`". Does everyone agree with that?

[2015-09-17 20:05] nzakas commented on #3307
:+1:

[2015-09-17 20:07] nzakas commented on #3525
Good point.

[2015-09-17 20:10] nzakas commented on #3841
This isn't enough information to evaluate. Please read the documentation referenced in the previous comment and update with more information.

[2015-09-17 20:12] nzakas commented on #3832
@hotoo The team has indicated that this is the expected behavior. We always start looking at indentation based on the indentation of the first line to account for people's stylistic preference. Does that make sense to you?

[2015-09-17 20:14] nzakas commented on #3488
Okay, let's go with `allow`.

[2015-09-17 20:21] #2211 closed

[2015-09-17 20:21] #3841 closed

[2015-09-17 20:21] gajus commented on #3841
Will re-open in a couple of days with a lot more information.

[2015-09-17 20:48] mysticatea commented on #3435
Agreed

[2015-09-17 21:35] nzakas commented on #3308
Or `allow` to really go in the direction we're heading with other rules?

[2015-09-17 21:37] nzakas commented on #2135
Okay, how about we just simplify here. We're adding `allow` options to several rules, so we can do the same here. I'll assume this is a void-your-warranty option so people who use it accept the possibility of it flagging more than expected.

[2015-09-17 21:38] nzakas commented on #1338
Oops, nice catch!

[2015-09-17 21:41] nzakas commented on #3543
Good suggestion. Let's do this (though maybe `errors` instead of `errs`).

[2015-09-17 21:48] sgtpepper43 commented on #3090
Rubocop has an almost identical rule to this for Ruby; if you set your quote preference to single quotes, it will complain when you use double quotes and don't interpolate a value. This doesn't need to be a new rule, it could easily be added to the current quotes rule as an option, similar to the "avoid-escape" option.

[2015-09-17 22:05] SimenB commented on #3835
Oh, I didn't know about the second linked. `defaultAssignment: false` does exactly what I want. Thanks!

This is a dupe of #3232

[2015-09-17 22:05] #3835 closed

[2015-09-17 22:46] ilyavolodin commented on #3308
Yes, `allow` is probably better in this case. As in allow this pattern.

[2015-09-17 22:57] alberto commented on #3829
@nzakas are you ok with me implementing any other spacing fixes or do you want to put all of them on hold for now?

[2015-09-17 23:02] platinumazure commented on #3555
What about doing solely `(parser)`, i.e., fake rule identifier for now, and then see where that lands us? Is that acceptable?

[2015-09-17 23:09] platinumazure commented on #3838
@ilyavolodin Or maybe the reverse in this case, since OP seems to want declarations.

[2015-09-17 23:20] ilyavolodin commented on #3838
Right, sorry, I was looking at documentation and didn't notice that example was marked as failing. `func-style: [2, "declaration"]` is what you are looking for. Closing as there's an existing rule that covers this proposal.

[2015-09-17 23:20] #3838 closed

[2015-09-17 23:23] #3758 closed

[2015-09-17 23:24] necolas commented on #2211
Thanks Nicholas

[2015-09-17 23:31] gyandeeps commented on #3651
@czjvic does the suggestion above by @ilyavolodin helps? If yes, then we close this issue but if no then can explain why?

[2015-09-17 23:53] gyandeeps commented on #3603
As of right now, we have not implemented the multi-line indentation logic, with that being said the rules is behaving as expected because the object start `{` has a 4 level indentation so the body has to be 6.

[2015-09-18 02:22] necolas opened #3843 "Sharing configs and their dependencies"
I'm having some difficulty composing configs in a nice way. It seems like using a sharable config means having to install all its dependencies.

For example, in `@co/eslint-config-co/index.js`:

[code]

The package implicitly depends on `babel-eslint`, `eslint-config-standard`, `eslint-config-standard-react`, `eslint-plugin-standard`, and `eslint-plugin-react`. Whenever a consumer installs `@co/es

[2015-09-18 04:35] sindresorhus commented on #3843
:+1: I absolutely agree. Duplicate of #3458.

[2015-09-18 06:42] mrmckeb commented on #3218
Hi @willklein, how did you go with this one? We're keen to add this into our project and wanted to know if you were still going ahead with the PR.

[2015-09-18 06:44] czjvic opened #3845 "Indent of comments"
[code]

[code]

Expected result:

[code]

ESLint version
v1.3.1
v1.4.3
Both has same result - "no warning/no error".
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26775724-indent-of-comments?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bount

[2015-09-18 06:51] necolas commented on #3843
Cool, I'll close.

[2015-09-18 06:51] #3843 closed

[2015-09-18 06:52] czjvic commented on #3651
Hi,
I think I can not...

[code]

The rule force set space or not space after the "/" character.

[2015-09-18 07:37] hotoo commented on #3832
Is any rule for Start indent or First line indent?

[2015-09-18 10:04] BYK commented on #3845
Can you please answer all the questions @eslintbot asked? Most importantly, ESLint version is missing.

[2015-09-18 10:22] czjvic commented on #3845
Sorry, updated.

[2015-09-18 10:37] just-boris commented on #3435
@nzakas @mysticatea, so you want to keep this rule without configuration, but add exception regarding `this` keyword?

[2015-09-18 10:38] BYK commented on #3845
@gyandeeps does your latest indent patch fix this?

[2015-09-18 11:09] silverwind commented on #3493
@ilyavolodin can't recall my train of thought there, but my initial assumption that this issue is realted to `VariableDeclarator` was proven wrong anyways, so it shouldn't matter.

[2015-09-18 11:51] SteveGZr commented on #3603
Alright, thanks for the answer.

[2015-09-18 11:51] #3603 closed

[2015-09-18 13:27] SpadeAceman commented on #3543
Oops, I jumped the gun and created #3837 for this, thinking it needed a separate issue opened instead.

As for `errors` vs. `errs`, upon reflection neither felt right to me, so in #3837 I went with `exceptions` (which is what the `catch()` clause actually catches).

[2015-09-18 13:49] gyandeeps commented on #3845
This is not a bug as currently rule doesnt support indentation check for comments.
Its tricky also as the comments sometime belong to 2 nodes based on trailing comments or the other way around.

[2015-09-18 13:50] BYK commented on #3845
Ah, okay :)

[2015-09-18 14:07] lo1tuma opened #3846 ".eslintrc is ignored when cwd is the home directory"
Given the following directory structure:

[code]

where `/app` is the home directory of the current user AND the current working directory of the eslint process.

When I run `DEBUG=eslint:* eslint /app/lib/foo.js`, I get the following output:

[code]

As you can see, `/app/lib/.eslintrc` is used but not `/app/.eslintrc`. This is because `.eslintrc` files in the home directory [are always ignored](

[2015-09-18 14:11] gyandeeps commented on #3846
Questions:
* What version of eslint are you using?
* Do you have `root: true` in any `.eslintrc` file?

[2015-09-18 15:03] lo1tuma commented on #3846
ESLint versin: `1.4.3`
`root` is not set at all for my examples above, but I’ve tried it and it doesn’t have any impact.

[2015-09-18 15:17] lo1tuma commented on #3846
FWIW: the workaround mentioned above doesn’t work if you have multiple `.eslintrc` files. Putting the content of the `/app/.eslintrc` file into the  `package.json` works.

[2015-09-18 15:36] nzakas commented on #3543
Okay, let's regroup on #3837 since there's a concrete proposal there.

[2015-09-18 15:36] #3543 closed

[2015-09-18 15:37] nzakas commented on #3837
Looks good, let's do it.

[2015-09-18 15:40] nzakas commented on #3834
I'm not sure an exception makes sense here. It seems like a very special case that might best be handled via configuration comments.

[2015-09-18 15:41] nzakas commented on #3839
@gajus since you're writing a plugin for JSDoc related rules, do you still want to propose this for core?

[2015-09-18 15:43] #3770 closed

[2015-09-18 15:44] nzakas commented on #3090
@sgtpepper43 can you make a concrete proposal for the change here?

[2015-09-18 15:46] nzakas commented on #3829
Just this one. However, if you want to implement auto-fixing in a rule, file an issue and wait for it to be accepted before starting work. We are intentionally going slow on this to account for bugs we will find a long the way, so we don't want to add a lot of auto-fixing rules at once.

[2015-09-18 15:47] nzakas commented on #3555
I think we probably need to play it safe here. Maybe prepending the message with "Parsing error:" is best?

[2015-09-18 15:48] platinumazure commented on #3555
Works for me.
On Sep 18, 2015 10:47 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-09-18 15:49] nzakas commented on #3651
@czjvic we need a better description for what you are suggesting. We don't know what you want just from the code you provided.

[2015-09-18 15:51] nzakas commented on #3846
Sounds like we need an exception if the cwd is the home directory?

[2015-09-18 15:51] #3614 closed

[2015-09-18 15:51] #3799 closed

[2015-09-18 15:52] nzakas commented on #3435
Yes, that's the proposal. @janpaul123 would that work for you?

[2015-09-18 16:53] alberto commented on #3829
Understood
El 18/09/2015 17:46, "Nicholas C. Zakas" <notifications@github.com>
escribió:

[2015-09-18 17:13] nzakas opened #3847 "Error during release"
It looks like the formatter example generation isn't working correctly. I got an error during release:

[code]

I'm working on this to finish the release.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26788906-error-during-release?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept boun

[2015-09-18 17:26] nzakas commented on #3566
This is happening because we are copying over `.gitattributes` as if it were rule documentation. We need to omit any files beginning with `.`.

[2015-09-18 17:31] nzakas commented on #3566
Working on this.

[2015-09-18 18:22] willklein commented on #3218
@mrmckeb, thanks for checking in. I've been meaning to get back to this, give me the weekend. :sweat_smile:

[2015-09-18 18:36] bebraw opened #3851 "Ignore pattern differences between 0.24.1 and 1.5.0?"
I noticed that while bumping the version of ESLint at [my project](https://github.com/survivejs/webpack_react) the performance went down significantly. On 0.24.1 linting **project_source** takes 5 seconds. On 1.5.0 it's over 80 seconds.

**Configuration:**

**.eslintrc**

[code]

**.eslintignore**

[code]

## How to Reproduce?

1. Check out [the project](https://github.com/survivejs/webpack_react)

[2015-09-18 18:51] czjvic commented on #3651
I want to validate syntax of comments. I want to force allow only two types of comment syntax.
1) inline - start with exactly 2 slashes
[code]
- do not check space after slash
- check typo
[code]
2) block - start with slash and 2 asterisk
[code]

I think I can use "spaced-comment" when the space will be optional

[code]
or
[code]

[2015-09-18 18:55] #3847 closed

[2015-09-18 18:56] #3566 closed

[2015-09-18 19:26] lo1tuma commented on #3851
I can’t reproduce this.

* eslint 0.24.1: `npm run lint  5.82s user 0.24s system 105% cpu 5.739 total`
* eslint 1.5.0: `npm run lint  4.72s user 0.19s system 106% cpu 4.633 total`

It is even faster with 1.5.0, probably because we don’t have any rule enabled by default, so there are not many rules executed for your config.

[2015-09-18 19:28] lo1tuma commented on #3846
Yes, I think an exception is needed to fix this.

[2015-09-18 19:32] ilyavolodin commented on #3851
I can't reproduce this either with eslint 1.5.0 I'm getting 4.501s. Btw, since your npm lint script just calls `eslint .` it will always use global version of eslint, not local. Can you check what version do you have installed globally `eslint -v` and try to reinstall it?

[2015-09-18 19:37] bebraw commented on #3851
It does make sense it should be **faster**.

More info:

* Node - v0.10.40
* OS X - 10.10.5

[Debug output](https://gist.github.com/bebraw/f274ac158fe77694fc72). Esp. the first op takes a lot of time!

I'll try with different versions of Node tomorrow to see if that makes a difference. If not, then I'll dig the version where it stops performing.

I got rid of the global version so npm script will

[2015-09-18 19:50] lo1tuma commented on #3851
@ilyavolodin
* npm run-script adds `./node_modules/.bin` to the `PATH`, so the local eslint version is used (see [npm documentation](https://docs.npmjs.com/cli/run-script#description))
* we don’t have performance tests for directory traversal or other parts of the cli-engine so it might be possible to introduce a performance regression.
------
I’ve executed eslint with iojs 3.2.0 on OS X Yosemite.

[2015-09-18 19:52] lo1tuma commented on #3851
The debug output is interesting, 31 seconds to process a single file doesn’t look normal.

[2015-09-18 20:01] mysticatea opened #3853 "Using power-assert in our tests."
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26792447-using-power-assert-in-our-tests?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github).
</bo

[2015-09-18 20:13] #3819 closed

[2015-09-18 21:13] gyandeeps commented on #3845
@eslint/eslint-team Should we add this functionality to check for comment indentation?
If yes, then how do we calculate indentation, based on `trailingComments` or `leadingComments` or combination or node specific (trailing or leading based on node type)?

[2015-09-18 21:24] mantoni commented on #3784
Ok, I've made a little something: https://www.npmjs.com/package/eslint_d
The speedup is quite remarkable and exceeds my expectations. Thanks for ESLint!

[2015-09-18 21:42] sgtpepper43 commented on #3090
Yeah, sure. I'll just go through the proposing a rule thing?

#### When the rules will warn. Include a description as well as sample code.
Taken from above:
[code]
The rule will warn whenever backticks are used unnecessarily, ie, no interpolation is taking place, no line breaks exist, and the tag function is not being utilized.

#### Whether the rule prevents an error or is stylistic.
Stylistic, b

[2015-09-18 22:39] xjamundx commented on #3090
Won't `prefer-template` + `quotes` already produce the desired effect or is there some subtle incompatibility?

[2015-09-18 22:51] ilyavolodin commented on #3784
Very nice! Thanks for sharing

[2015-09-19 01:45] michaelficarra commented on #3090
@xjamundx in what way would it do that?

[2015-09-19 01:46] platinumazure commented on #3853
Just out of curiosity, why?

[2015-09-19 03:06] mysticatea commented on #3853
I like `power-assert`'s philosophy.
And this modification doesn't break behaviors of ESLint and RuleTester.

`power-assert` is simple and powerful.
The API which users must learn is only one: `assert(expression);`.

Conventional `assert(expression)` shows useless information (only `true` or `false`), so most assertion libraries have many APIs to show useful debug information. So we must learn thos

[2015-09-19 08:38] BYK commented on #3845
I think we should have this functionality. Not sure if a node based approach would cover all the cases though. For instance in this example hoe would we access to the comment in the function body?

[2015-09-19 14:00] remcohaszing opened #3854 "space-before-keyword matches getters"
After updating from ESLint 1.4.3 to 1.5.0 I noticed the `space-before-keywords` rule with configuration `always` matches getters and setters.

[code]

This conflicts with `space-before-function-paren` set to `never`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26802582-space-before-keyword-matches-getters?utm_campaign=plugin&utm_

[2015-09-19 14:17] xjamundx commented on #3090
I thought that the `quotes` rule would warn in this case (when set to `double` for example):

[code]

But it only shows an errors for the `z` declaration, not the `y` declaration.

So yeah, the proposal is what I thought was already happening :+1:

[2015-09-19 18:33] bebraw commented on #3851
I tried with both Node 0.12 and 4.10. Similar results. Total run in 73656ms range.

Here's my `package.json` (bumped versions) if you want to try with the exact deps which I have when testing:

[code]

Please note that my directory structure has likely more files than yours. I.e. each project has a set of `node_modules` installed. Maybe that's the difference? Though I have an ignore rule against t

[2015-09-19 19:05] andy-hanson opened #3856 "Curly braces around inner `if`"
I'm linting this code:

	if (true) {
		if (false)
			console.log(1)
	} else if (true)
		console.log(2)

With this package.json:

	{
		"eslintConfig": {
			"rules": {
				"curly": [ 1, "multi" ]
			}
		}
	}

And I get this output:

	$ node_modules/eslint/bin/eslint.js file.js

	/home/andy/mason3/ESLINT/file.js
	  1:1  warning  Unnecessary { after 'if' condition  curly

	✖ 1 problem (0 errors, 1 war

[2015-09-19 21:53] kentor commented on #3493
Just leaving a note here, I've switched to enforcing `one-var: never` to get around this issue.

[2015-09-19 22:09] kentor commented on #3851
Try `**/node_modules/**` instead of `**/*/node_modules/`?

[2015-09-19 22:51] alberto opened #3857 "Implement auto fix functionality for object-curly-spacing rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26808850-implement-auto-fix-functionality-for-object-curly-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=

[2015-09-19 22:53] alberto opened #3858 "Implement auto fix functionality for array-bracket-spacing rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26808873-implement-auto-fix-functionality-for-array-bracket-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium

[2015-09-19 22:57] gyandeeps commented on #3856
I dont think I completely understand what you are reporting here, if there is a bug can you please mention what is the current output and what do you expect the output to be?

[2015-09-19 22:57] alberto opened #3859 "Implement auto fix functionality for block-spacing rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26808916-implement-auto-fix-functionality-for-block-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2015-09-19 22:58] alberto opened #3860 "Implement auto fix functionality for arrow-spacing rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26808917-implement-auto-fix-functionality-for-arrow-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2015-09-20 00:04] mmrko commented on #3854
Thanks for reporting this @remcohaszing. Unfortunately I won't have time look into this until after next week. Should be a relatively easy fix however :)

[2015-09-20 00:17] alberto opened #3862 "Docs: Incorrect method signatures in working-with-rules"
The `remove` and `removeRange` `fixer` signatures are wrong. They should be:

* `remove(nodeOrToken)` - removes the given node or token
* `removeRange(range)` - removes text in the given range

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26809566-docs-incorrect-method-signatures-in-working-with-rules?utm_campaign=plugin&utm_conten

[2015-09-20 00:23] IanVS commented on #3862
Good catch.

[2015-09-20 00:44] #3862 closed

[2015-09-20 01:28] IanVS commented on #3698
Is this accepted?

[2015-09-20 01:33] michaelficarra commented on #3856
@gyandeeps You can't remove the curlies without changing the program due to how dangling else is parsed. The `curly` rule should have an exception for this case.

[2015-09-20 01:38] IanVS commented on #2271
These are the rules mentioned above which have issues:

* [ ] indent (DavidAnson/markdownlint#5)
* [ ] no-trailing-spaces (DavidAnson/markdownlint#5)
* [ ] no-void (purposeful syntax error, no way to mark as expected)
* [ ] no-warning-comments (#3619 - fixed)
* [ ] valid-jsdoc (eslint/eslint-plugin-markdown#9 - fixed)
* [ ] no-delete-var (turn off modules/strict mode)
* [ ] no-dupe-args (turn off

[2015-09-20 02:21] IanVS opened #3865 "Docs: In rule examples, combine multiple expected errors"
Some of the docs are a bit ugly when there are more than one expected error on a single line, for example:

![selection_003](https://cloud.githubusercontent.com/assets/4616705/9978883/a1e7261c-5f1b-11e5-95d7-62b1f22ce808.png)

Now that https://github.com/eslint/eslint-plugin-markdown/pull/13 has landed, it's possible to simplify these cases to simply `// 2 errors`:

![selection_004](https://cloud.

[2015-09-20 04:33] mrmckeb commented on #3218
@willklein not a problem! Take as long as you need - it's great news that this is coming to ESLint.

[2015-09-20 05:25] bebraw commented on #3851
@kentor Thanks a lot! That did the trick. Completes in four seconds now using Node 4.1. :+1:

Any idea why `**/*/node_modules` worked before but doesn't work anymore?

[2015-09-20 06:08] dlwalsh opened #3867 "no-dupe-args error thrown for nested array destructuring"
I get the following:

[code]

for the following code.

[code]

The code functions exactly as I expect it to.

I'm using eslint 1.5.0 and eslint-plugin-react 3.4.2.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26812035-no-dupe-args-error-thrown-for-nested-array-destructuring?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medi

[2015-09-20 06:10] dlwalsh commented on #3867
My .eslintrc looks like this:
[code]

[2015-09-20 06:34] mysticatea commented on #3867
Thank you for the report.
I can reproduce this in the online demo.
I will work on this.

![image](https://cloud.githubusercontent.com/assets/1937871/9979530/1eae9770-5fad-11e5-901f-d0d414052866.png)

[2015-09-20 15:06] moander commented on #1238
Why is this issue closed? To call this fixed because the `npm run` workaround is documented is absurd. Node is all about simplicity, and lint is about deploying coding standards across teams, so this should in my eyes be considered a major bug..  :-1:

[2015-09-20 15:11] lo1tuma commented on #1238
This would be pretty hard if you have to tell everyone to install eslint globally in a specific version.

[2015-09-20 15:19] mysticatea commented on #3854
Thanks for the report.
I can reproduce this in the online demo.
I will try to fix this.

![image](https://cloud.githubusercontent.com/assets/1937871/9981373/31f66526-5ff6-11e5-9ad9-04ce2b9b1b08.png)

[2015-09-20 15:22] gyandeeps commented on #3854
@mysticatea Can you share on how you are going to solve this?
This would help everyone to understand what the change is going to be so that everyone can weigh in on it. Situation like these some times produce breaking changes.

[2015-09-20 15:25] moander commented on #1238
Having eslint installed is just as easy as having npm or gulp installed.. But would you maintain all your gulp and grunt plugins globally too? The logic comes from project-defined plugins and configuration. The correct eslint is shipped as a devdep anyway, and npm scripts or a build server or whatever takes care of the final validation.. But in the meantime your IDE continues to work unless there

[2015-09-20 15:32] lo1tuma commented on #1238
Sorry, I can’t follow your argumentation. What is the problem you are trying to solve and why do you think a globally installed eslint version should work with locally installed plugins?

[2015-09-20 15:38] mysticatea commented on #3854
@gyandeeps Oh, OK. I realized that `get` is a keyword right now.
I had been making `space-before-keywords` ignoring getters and setters. But actually, spacing which is between `}` and `get` (or `set`) should be handled by this rule.

[2015-09-20 16:01] mysticatea opened #3869 "`keyword-spacing` from merged `space-before-keywords` and `space-after-keywords`"
I thought the way of detecting keywords is the same in [space-before-keywords](http://eslint.org/docs/rules/space-before-keywords) and [space-after-keywords](http://eslint.org/docs/rules/space-after-keywords), so I made an idea that merges two.
This rule is similar to [semi-spacing](http://eslint.org/docs/rules/semi-spacing), [comma-spacing](http://eslint.org/docs/rules/comma-spacing), and [arrow-

[2015-09-20 16:36] mysticatea commented on #3854
In fact, `get` and `set` are not keywords: http://www.ecma-international.org/ecma-262/6.0/#sec-keywords

Hmm, `class A { foo(){} bar(){} }` spacing which is between `foo(){}` and `bar` is not handled by this rules. I rethought `space-before-keywords` should ignore getters, setters, and methods merely.

[2015-09-20 16:36] nzakas commented on #3865
Why aren't they also block comments?

[2015-09-20 16:40] #3846 closed

[2015-09-20 16:40] IanVS commented on #3865
They needed to be line comments for the valid-jsdoc rule, so that's how they were implemented in `eslint-plugin-markdown`.  No reason we couldn't implement block comments as well though.

[2015-09-20 16:52] nzakas commented on #3865
not sure I understand - JSDoc comments are always block comments, and there's no JSDoc comments in your example. How are these related?

[2015-09-20 17:19] IanVS commented on #3865
Sorry, I should stop trying to reply from my phone and be more explicit.  The expected errors in [valid-jsdoc](http://eslint.org/docs/rules/valid-jsdoc#rule-details) include one case where there are two errors, and using a block comment is not possible inside the JSDoc:

[code]

[2015-09-21 07:02] alberto opened #3873 "Implement auto fix functionality for generator-star-spacing rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26830548-implement-auto-fix-functionality-for-generator-star-spacing-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_mediu

[2015-09-21 07:21] winterbe opened #3874 "Add support for Java 8 Nashorn JavaScript Engine"
Java 8 ships with a new JavaScript engine called **Nashorn**. As the successor of Rhino, Nashorn compiles JavaScript into JVM Bytecode and executes the code natively on the JVM.

Since Nashorn defines a few global variables, Nashorn script files cannot properly validated with the current ESLint Version 1.5.0. I propose to introduce a new environment `nashorn` into ESLint to respect all nashorn-spe

[2015-09-21 07:25] moander commented on #1238
The globally installed eslint could just check for a lockally installed version of it self..

[2015-09-21 07:55] lo1tuma commented on #3874
Sounds reasonable to me.

[2015-09-21 08:24] winterbe commented on #3874
Submitted PR #3875

[2015-09-21 09:03] evilebottnawi commented on #3834
@nzakas maybe then it can be put in the documentation

[2015-09-21 09:07] magwo commented on #3805
@nzakas what is the reasoning behind this? This looks like a nice PR and seems like a simple and obvious addition. Why make the distinction between whitespace and non-whitespace fixing?

[2015-09-21 09:37] alberto commented on #3805
@magwo see https://github.com/eslint/eslint/pull/3806

[2015-09-21 09:59] magwo commented on #3805
I see.

[2015-09-21 13:13] callumlocke commented on #2614
I can see why it's impossible to switch environments halfway through a file, because switching environments probably implies a different parser.

But there are obvious cases where I need to switch environments for a particular file, or for a particular directory, e.g. a single project containing both ES6 files for running in Node 4, and ES5 files for running in the browser... Is there any way I ca

[2015-09-21 13:16] mysticatea commented on #1238
Can this help you?
I made a tool that runs the local eslint merely.
https://www.npmjs.com/package/eslint-cli

[2015-09-21 13:20] moander commented on #1238
Unfortunately no. I have no idea how to make my IDEs use a different command for eslint.

For the command line I solved it temporarily by adding ./node_modules/.bin to $PATH :)

[2015-09-21 13:25] ilyavolodin commented on #2614
@callumlocke Having another .eslintrc file in subdirectory will work. ESLint cascades all config files, so you can just turn off unneeded environments or add new ones for subdirectories.

[2015-09-21 13:41] mysticatea commented on #1238
@moander This tool doesn't need a different command.

[2015-09-21 13:46] moander commented on #1238
I know, but it still requires you to control the PATH of your third party programs. Your solution is perfect if it's implemented in the original eslint binary.

[2015-09-21 14:17] jonathanewerner opened #3876 "object-curly-spacing throws false positives for export statements"
[code]

This throws
[code]
... which seems like a false-positive to me?

---
eslint-version: v1.5.0
relevant rule in .eslintrc: `"object-curly-spacing": [1, "never"],`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26840401-object-curly-spacing-throws-false-positives-for-export-statements?utm_campaign=plugin&utm_content=tracker%2F28

[2015-09-21 14:34] michaelficarra commented on #3876
That's not valid ECMAScript. Put curlies around your export specifier list.

[2015-09-21 14:36] michaelficarra commented on #3876
What parsing are you using that accepted that as a program? You should report a bug there as well.

[2015-09-21 14:55] jonathanewerner commented on #3876
babel. I use `babel-eslint` with `eslint-loader` via webpack. The code compiles fine.

[2015-09-21 14:59] michaelficarra commented on #3876
They must be implementing a proposal or just have a bug. Either way, it shouldn't work, and this is not a bug in eslint.

[2015-09-21 15:01] lo1tuma commented on #1238
@moander maybe you should file an issue on the issue tracker of your IDE to support locally installed eslint versions. Having global dependencies is a bad practice IMHO, you should always prefer to keep dependencies local.

[2015-09-21 15:04] moander commented on #1238
The issue here is clearly not the IDEs fault. The problem is related to eslint's no-local-plugins feature.

[2015-09-21 15:16] lo1tuma commented on #1238
Now we are talking about two different things.

1. Global eslint should work with local plugins
2. Global eslint should run a local eslint

----

1. Is not a good idea because you don’t know if the locally installed plugin is compatible with the globally installed eslint version. Apart from that you could also have conflicts if you have a plugin installed locally and globally but in different vers

[2015-09-21 15:22] moander commented on #1238
1. The global eslint should check if a local eslint exists, and if yes use it. So all local plugins will work as long as they are compatible with the locally installed eslint.
2. It's dead simple. What's complex is to NOT support locals. Look at eslint-cli from @mysticatea

[2015-09-21 15:26] woodyrew opened #3877 ""key-spacing" align colon issue with comma-first"
ESLint version: **v1.5.0**

`.eslintrc`:
[code]

Failing source code - `fail.js`:
[code]

Result:
[code]

The error disappears when an extra two spaces are added before the first colon in the object.
e.g.
`no_fail.js`:
[code]

Am I missing something here? If more information is required, let me know.

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.

[2015-09-21 15:48] ilyavolodin commented on #1238
@moander ESLint supports local plugins perfectly fine. You just need to install and run ESLint locally to use them. Based on your comments, it seems that you are unaware of that feature.

[2015-09-21 15:50] ilyavolodin commented on #3877
It looks like it might be related to comma-first style. (2 extra spaces would match comma+space)

[2015-09-21 16:01] moander commented on #1238
I can run global gulp from path using local modules. I can not run global eslint from path using local modules. Eslint claims to focus on extensibility, so loading extensions  should be a priority. To discuss if this is an issue or not for a tool like this is absurd, so this is my last comment.

[2015-09-21 16:34] mysticatea commented on #3876
Thanks for reporting @jonathanewerner.

I agree with @michaelficarra.
That syntax is not supported in ECMAScript yet.
I recommend using [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) since you are using the `babel-eslint` parser.

[2015-09-21 16:45] nzakas commented on #3865
Then how about changing the other one to a line comment? Switching back and forth between comment styles looks messy to my eye

Also, I'm not sure "2 errors" is very useful. It's already hard to tell what the actual error is in each example, and hiding the messages doesn't help that.

What if you put the error messages beneath the code instead of to the right?

[2015-09-21 16:50] #3876 closed

[2015-09-21 16:53] feross opened #3878 ""space-before-keywords" and "space-unary-ops" conflict [$10]"
Using eslint 1.5.0 and this config:

[code]

You run into this problem:

[code]

Should we change `space-before-keywords` "always" to make an exception for unary operators? The rule was meant to prevent these kinds of situations:

[code]

So ignoring unary operators seems okay. Thoughts?

<bountysource-plugin>
---
There is a **[$10 open bounty](https://www.bountysource.com/issues/26844880-space-be

[2015-09-21 16:55] #3867 closed

[2015-09-21 16:57] nzakas commented on #3834
What would you suggest be put in the documentation?

[2015-09-21 17:02] IanVS commented on #3865
This is possible. Would you want that change throughout all the docs, or just in cases like this where we are mixing messages and counts? Initially they had to be block comments in order to have multiple per line, but now there's no reason they need to remain block comments. I think it could be a simple regex find/replace.

Again, do you mean in all cases, or only when there are multiple errors on

[2015-09-21 17:03] just-boris commented on #3435
Updated my PR. Now it consists only exception for properties after `this`

[2015-09-21 17:04] nzakas commented on #3865
Throughout. Consistency in documentation is important.

Throughout. Consistency in documentation is important. :)

[2015-09-21 17:16] woodyrew commented on #3877
I agree, but the `key-spacing` rule shouldn't care where the comma is placed as long as the parameter name and colons line up.

[2015-09-21 17:18] IanVS commented on #3865
I agree to the first point, not so sure about the second.  I think this would still be consistent:

[code]

The alternative which I think you are suggesting is:

[code]

Which in this case doesn't look too bad, but consider this from `curly`:

[code]

In this case, the error is on line 1, but it's not clear from the example unless you know that the error comment occurs on the line following the er

[2015-09-21 17:19] danielmoore opened #3879 "space-before-keywords with shorthand properties"
This appears to be pretty much the same thing as #3756.

Expected success:
[code]

Actual:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26845501-space-before-keywords-with-shorthand-properties?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-09-21 17:21] danielmoore commented on #3879
Oops, looks like this was already reported in #3854

[2015-09-21 17:21] #3879 closed

[2015-09-21 17:21] IanVS commented on #3877
I think the problem is that we assume the lines are on the same level of indentation, which in your case they are not.  If your indentation is not consistent, it's very hard to do any vertical aligning.

[2015-09-21 18:20] mysticatea commented on #3678
@nzakas I'm sorry for late. I thought it's possible: https://gist.github.com/mysticatea/27f32288f1ac024c88af

- This `property-colon-spacing` has an option `onlyLongestKey`.
- This `property-alignment` checks only positions which are between a property and the next property.

In this way, it can divide the work of `key-spacing`.
But this idea was thought before autofix arrived, so not autofix frie

[2015-09-21 18:27] darrenmce commented on #1101
have been using `DEBUG=eslint:*` but noticed that in v1.5 a `--debug` flag was added to the cli that does just this

[2015-09-21 18:36] woodyrew commented on #3877
That's part of the problem, the assumption that the indent level is where the parameter name starts but not limited to. It seems to assume the parameter name is the length from the first non-whitespace character.

Using the npm coding style: https://docs.npmjs.com/misc/coding-style#comma-first is even worse.
e.g.
[code]
No errors:
[code]

[2015-09-21 18:41] IanVS commented on #1101
@darrenmce As noted in https://github.com/eslint/eslint/issues/1101#issuecomment-54732556, `--debug` (which now exists), is not the same as `--verbose` (which is what this issue is for).

[2015-09-21 19:10] sgtpepper43 commented on #3090
This might not even need to be a new option, but just be the standard behavior, now that I think about it. Like @xjamundx is talking about, if you've set `quotes` to `double`, it should warn when you don't use double, except in the case that `double` can't be used. Which is basically the same context as `avoid-escape`. The only difference is that we have `prefer-template` as a separate rule, so by

[2015-09-21 19:16] #3789 closed

[2015-09-21 19:29] darrenmce commented on #1101
@IanVS ah yes, your right. I was off-focus since this issue was the issue that actually helped me solve my `--debug` need (prior to the new flag).

[2015-09-21 19:36] Mark-Broadhurst opened #3880 "Running `eslint --init` doesn't work"
So I've installed eslint today (v1.5) and trying to get started with it.
I installed with `npm install -g eslint`
then I ran `eslint --init` I'm then displayed with

? What style of indentation do you use? (Use arrow keys)
  Tabs
  Spaces

Arrow keys are unresponsive and pressing enter quits the process and returns me to the command prompt, also no file is created. If I type something then it appe

[2015-09-21 19:43] alberto opened #3881 "Docs: Add reference of popular projects using eslint to README"
Here are some popular projects using eslint.

https://github.com/facebook/react
https://github.com/facebook/react-native
https://github.com/driftyco/ionic
https://github.com/babel/babel
https://github.com/webpack/webpack
https://github.com/Leaflet/Leaflet

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26849008-docs-add-reference-of-

[2015-09-21 19:47] nzakas commented on #3476
This should be unblocked due to Doctrine 0.7.0 released. Anyone want to take this on?

[2015-09-21 19:48] nzakas commented on #1598
Can someone double check this with Doctrine 0.7.0?

[2015-09-21 19:48] nzakas commented on #2270
Can someone check this with Doctrine 0.7.0?

[2015-09-21 19:54] gyandeeps commented on #1598
The fix for this hasn't landed in doctrine yet.

[2015-09-21 20:14] alberto commented on #3858
I'm working on this

[2015-09-21 20:14] alberto commented on #3859
I'm working on this

[2015-09-21 20:14] alberto commented on #3860
I'm working on this

[2015-09-21 20:15] alberto commented on #3873
I'm working on this

[2015-09-21 20:31] IanVS commented on #3090
I was thinking the same thing, that it should be default behavior to allow backticks only in cases where they are actually necessary.  I'm not sure if it would be considered breaking.  It seems like more of a bug fix / refinement to me.

[2015-09-21 20:41] ilyavolodin commented on #3877
@BYK @btmills any ideas if this is something we want to fix and how hard would it be?

[2015-09-21 20:49] ilyavolodin commented on #3880
I can't reproduce this on my Windows 10 box with Node 0.10 in either command prompt or git bash. However, there seems to be an issue open on inquirer for this: https://github.com/SBoudrias/Inquirer.js/issues/266
I'm going to close this issue, since it's a dependency problem and once the new version of Inquirer is release, we will upgrade to it.

[2015-09-21 20:49] #3880 closed

[2015-09-21 20:50] #3854 closed

[2015-09-21 20:59] nzakas opened #3885 "Proposal: combine semi, no-extra-semi"
I've been looking at these rules for auto-fixing, and came to the conclusion that it might be best to combine them. In the case of `semi`, we need to know what kind of spacing rules should be applied when a semicolon is inserted in order to avoid triggering a warning from `semi-spacing`. Since rules don't know about each other, we can't do that right now.

If we combined the rules, though, all the

[2015-09-21 21:02] nzakas commented on #3880
Duplicate of #3395. We need to keep an issue open even when it's a dependency problem so we can double check that the issue is fixed. So we will track on #3395.

[2015-09-21 21:03] nzakas commented on #1598
Are you sure? There were some unreleased changes that I just pushed, so it would be best for someone to check to make sure.

[2015-09-21 21:05] nzakas commented on #3881
We started doing this on eslint.org instead of the readme, so I'm not sure we need it in the readme anymore. Thoughts?

[2015-09-21 21:10] ilyavolodin commented on #3885
I'm not sure I like combining rules to fix our internal shortcomings. While I think it's fine to combine semi and no-extra-semi, I'm not sold on semi-spacing. That rule is aimed at quite a different thing in my mind.

[2015-09-21 21:11] ilyavolodin commented on #3881
I think it doesn't hurt. It give a new user a quick look into how popular/used this project is, if the are just browsing github.

[2015-09-21 21:24] alberto commented on #3881
It is also nice to be able to see what rules those repos use.

[2015-09-21 21:26] michaelficarra commented on #3090
:grin: That would be great!

[2015-09-21 23:30] hotoo opened #3889 "Warning @return is better than @returns when valid-jsdoc rule with perfer.returns"
eslint@1.5

.eslintrc:

[code]

When jsdoc missing `@return` and `@returns`, warn message is:

[code]

But I think use `@return` is better than `@returns` for this rule:

[code]

See PR #3872 .

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26853791-warning-return-is-better-than-returns-when-valid-jsdoc-rule-with-perfer-returns?utm_

[2015-09-21 23:52] m4n3z40 opened #3890 "Error mentioned at #1965 back after update to 1.5.0"
Is the error mentioned at #1965 back?

I`ve just updated eslint to 1.5.0 in my project and now I'm getting that same error.
Before, everything was just working fine. Now, even if I downgrade eslint the error does not go alway.
Am I doing something wrong?

Oh and I've updated NPM as well, so the folder structure inside 'node_modules' is all flat now, don't know if it has something to do with anythi

[2015-09-22 00:28] m4n3z40 commented on #3890
After downgrading NPM from @3 to @2, everything started working again, must be an issue with the new path system.

I`m gonna open a issue there, if it`s not already open and link the issue to here.

[2015-09-22 01:01] IanVS commented on #3890
If you can reproduce with NPM 3 again, can you say what version of `estraverse` is in your `node_modules`?  NPM 3 uses a flattened structure, so I'm wondering if that has something to do with this.

[2015-09-22 01:23] gyandeeps opened #3891 "Consume latest doctrine"
Consume latest `0.7.0` version of doctrine.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26855350-consume-latest-doctrine?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_m

[2015-09-22 01:48] gyandeeps commented on #1598
The above jsdoc doesnt throw any errors

[2015-09-22 01:51] #3891 closed

[2015-09-22 01:58] nicjansma opened #3893 "Crash in valid-jsdoc with invalid JSDoc"
Seeing a crash in valid-jsdoc.js:

[code]

It appears that this invalid JSDoc triggers the crash:
[code]
Basically, the `[optional]` text confuses the parser and makes it so there is no `tag.name`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26855825-crash-in-valid-jsdoc-with-invalid-jsdoc?utm_campaign=plugin&utm_content=tracker%

[2015-09-22 01:59] gyandeeps commented on #3893
relate https://github.com/eslint/eslint/issues/2270

[2015-09-22 02:00] gyandeeps commented on #2270
for the code:
[code]

The rule code doesnt crashes and it gives out warning as expected.

[2015-09-22 02:02] nicjansma commented on #3893
I guess according to https://github.com/eslint/eslint/issues/2270 the JSDoc is invalid.  Still, we can avoid crashing until the parser can handle this alternate syntax.

[2015-09-22 02:05] gyandeeps commented on #3893
We have fixed the parser and released it. The update will be shipped with next version of eslint.

Upgrade : https://github.com/eslint/eslint/pull/3892

[2015-09-22 02:08] gyandeeps commented on #3893
I am going to close this in favor of #2270

[2015-09-22 02:08] #3893 closed

[2015-09-22 07:00] fishbar opened #3897 "es6 multiline bug"
eslint v1.5.0, with env setting "es6", sample code:
[code]

eslint can not find the error, but node.js will report error:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26859539-es6-multiline-bug?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-09-22 07:28] michaelficarra commented on #3897
That's a runtime error. Which eslint rule were you expecting would catch this error?

[2015-09-22 08:42] netei opened #3898 "Ignore path doesn't understand trailing slash"
If I write in my .gitignore:

    /bar/foo.js

inside my `.gitignore`

and write the file ./bar/foo.js , and run :

    eslint bar/foo.js --ignore-path .gitignore

This will not print the message : "File ignored because of your .eslintignore file."

This is probably related to how [minimatch](https://github.com/isaacs/minimatch) works, however, it would be great to be able to use the `.gitignore`

[2015-09-22 08:46] lo1tuma commented on #3898
Duplicate of #2365

[2015-09-22 08:46] netei commented on #3898
1. Using v1.5.0
2. Specified
3. The output is in the issue
4. Specified

[2015-09-22 08:47] BYK commented on #3898
There's a plan to make `.eslintignore` act the same as https://github.com/eslint/eslint/issues/2365#issuecomment-135823297

That said I think you shouldn't use "absolute" paths in your ignore files :)

[2015-09-22 08:47] netei commented on #3898
Ok, thanks, I'm suscribing to that issue

[2015-09-22 08:51] netei commented on #3898
Why do you think I shouldn't use "absolute" paths in ignore files ?

[2015-09-22 08:51] #3898 closed

[2015-09-22 08:56] BYK commented on #3898
Because that changes the "universal" meaning of `root`. I mean this is just a personal opinion. :)

[2015-09-22 10:34] netei commented on #3898
It's the only way I know to match a folder specifically. For example if you write `vendor/`, it will match `./vendor/` (relative to the root of the repository) but also, `./src/vendor/` which is sometimes not wanted.

[2015-09-22 11:04] m4n3z40 commented on #3890
Yeah, I managed to reproduce. I think it really has something to do with the new flattened structure. The version that NPM installs of ```estraverse``` it's the ```1.9.3```, but the version that ```eslint``` requires in its ```package.json``` it's ```^4.0.0```. I really don't get it.

I guess it could be some kind of collision with another lib that requires ```estraverse``` and NPM is not handling

[2015-09-22 11:06] Swatinem opened #3899 "Implement auto fix functionality for prefer-const rule"
It would be nice if eslint could just replace my `var` or `let`s with `const`s. There might be some special handling regarding `one-var` rule though, so I don’t think it might be that straight forward.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26864295-implement-auto-fix-functionality-for-prefer-const-rule?utm_campaign=plugin&u

[2015-09-22 11:08] Swatinem opened #3900 "Implement auto fix functionality for no-var rule"
It would be nice if it could just replace my `var`s with `let` or `const` depending on which is appropriate. This will surely have some interaction with the `one-var` rule.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26864324-implement-auto-fix-functionality-for-no-var-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_med

[2015-09-22 12:26] m4n3z40 commented on #3890
I have [opened an issue](https://github.com/npm/npm/issues/9708) at the NPM repo, I'm guessing it's some kind of incompatibility with the ```escodegen``` package, but I could be wrong, and frequently I am haha.

[2015-09-22 13:33] ilyavolodin commented on #3899
We are in early stages of testing autofixing for now. And we are only focusing on whitespace rules for now. We might get to other rules later.

[2015-09-22 13:35] ilyavolodin commented on #3900
Same as #3899

[2015-09-22 15:23] #3476 closed

[2015-09-22 16:03] #2270 closed

[2015-09-22 16:08] nzakas commented on #3651
@czjvic you would need to create a custom rule for your use case. `spaced-comment` only enforces spacing, it doesn't make sense to ignore it.

[2015-09-22 16:08] #3651 closed

[2015-09-22 16:10] nzakas commented on #3845
I think we should.

@byk use LineComment and BlockComment in the rule to listen for comments.

[2015-09-22 16:10] tofumatt opened #3901 "Add configuration: disallow inline rule configuration"
**What version are you using?**
v1.1.0

**What did you do?**
We would like use eslint to help us [validate the code inside Firefox Add-ons](https://github.com/mozilla/addons-validator). We should be able to use eslint to do so, but we'd like an option to ignore inline rules (eg `/*eslint eqeqeq:0*/`) so our code quality checks can't be defated by add-ons with inline ESLint comment configuration li

[2015-09-22 16:11] nzakas commented on #3493
@gyandeeps @byk can you comment on this?

[2015-09-22 16:14] nzakas commented on #3869
Are all the exceptions you list already implemented in the existing rules?

[2015-09-22 16:16] nzakas commented on #2614
Closing in favor of #3698

[2015-09-22 16:16] #2614 closed

[2015-09-22 16:16] gyandeeps commented on #3493
Based on the issue, I think its the expected behavior under the `VariableDeclarator` flag. Sometimes its difficult to have both sides of the world legit because then when do we say something is wrong.

I think this whole discussion is going against the expected behavior of `VariableDeclarator` flag.

[2015-09-22 16:17] nzakas commented on #1598
I'm not sure about merging that, it has some problems.

[2015-09-22 16:20] nzakas commented on #3897
When I try this, ESLint reports:

[code]

That's expected.

[2015-09-22 16:24] nzakas commented on #3897
Actually, I missed turning on es6 environment, which has no error. Should this be a syntax error @michaelficarra ?

[2015-09-22 16:26] silverwind commented on #3493
@gyandeeps: It seems most if not all of the issues here are related to multi-line Object and Array literals. Maybe an exception could be made for these so they don't strictly have to follow the indent level of `VariableDeclarator`?

[2015-09-22 16:32] nzakas commented on #3865
Ugh, I'm really not looking any of this. I'm getting concerned about the complexity of the docs and I'm wondering if we aren't just better off not having the messages in the code samples. Remember, we need people submitting rules to include documentation, and I'm starting to think this is way too much to ask people to do for little benefit.

I think there's value to linting the code examples, I'm

[2015-09-22 16:37] nzakas commented on #3885
We've done this before when we had three rules related to strict mode, and also with the two comment spacing rules. I think this also nicely encapsulates everything related to semicolons in one rule, which I'd argue makes it easier on users who, right now, need to search through and fund three rules.

I'm open to other ideas. The goal here is to find a way to allow auto-fixing for all three rules.

[2015-09-22 16:39] nzakas commented on #3881
It doesn't hurt, but does it help? The readme is already long, and we already ask people to submit logos for eslint.org. I'm thinking having it on eslint.org is plenty and we should remove from readme altogether.

[2015-09-22 16:42] nzakas commented on #3090
What's the proposal now?

Note: quotes "double" currently allows backticks.

[2015-09-22 16:44] nzakas commented on #3889
Can you explain some more? Are you saying you want to change the message?

[2015-09-22 16:46] nzakas commented on #3901
@lo1tuma had a similar use case, so this seems worth exploring.

How do you envision this working?

[2015-09-22 17:17] tofumatt commented on #3901
I'll admit I'm not very familiar with the internals of eslint, but I knowing what I know:

This would be an option enabled **only in [Command line or Project-level configuration](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy)**.

Once enabled I would think it **could not be disabled/overridden** (even by `/*eslint-disable*/`) for obvious reasons.

I know rules

[2015-09-22 17:28] robcolburn commented on #1622
+1 @gyandeeps

~~My~~  @cowboy's two cents:
http://benalman.com/news/2012/05/multiple-var-statements-javascript/

[2015-09-22 17:37] lo1tuma commented on #3901
How should eslint  react if it finds an inline configuration, I think the following options would make sense:
- ignore inline configuration
- fail on inline configuration
- warn on inline configuration

[2015-09-22 17:40] tofumatt commented on #3901
For our validator particular use-case, we would want to ignore inline configuration.

But you bring up a good point: an option to configure ignore/warn/fail would be useful. I could imagine a project wanting to maintain rules only in the config saying "any override is a failure" or at least a warning.

[2015-09-22 17:45] lo1tuma commented on #3885
I agree with @ilyavolodin. If autofixing is the only reason to combine these rules then you also need to include the `max-len` rule,because adding whitespace could conflict with this rule.

[2015-09-22 17:58] nzakas commented on #3885
`max-len` is a special case that I'm not too worried about right now. I have some theories on how to address that, just need to try prototyping to see if it works.

I'm not sure autofixing is the only reason to combine the rules, but it's definitely one reason. I'm of the mind lately that having so many separate rules related to the same thing is doing us more harm than good. With almost 200 rules

[2015-09-22 17:59] robcolburn opened #3902 "Rule-proposal: prefer-import"
I would ESLint to tell me to always use `import` in some project as opposed to `require`.
[code]

#### Considerations/Bike-sheds:
* Variable `require` statements.  These can cause issue for bundlers (WebPack/Browserify), so I'm okay w/ warning (forcing user to acknowledge the un-advised pattern w/ ignore).  But, I'm also cool w/ just allowing it.
[code]
* `Require` only to call a function. Should

[2015-09-22 18:00] nzakas commented on #3901
Ignoring means we'd probably need a command line flag. Warnings/errors mean we could do it with a rule.

And would warning/error be in addition to ignore? Or without ignore?

[2015-09-22 18:14] tofumatt commented on #3901
For our validator use-case, **we could live with warnings instead of ignoring**. They would be redundant for us (there'd be a warning right above an error, presumably, if someone were trying to disable a rule) at best. They could get a bit annoying as someone with their own coding styles might have inline ESLint config that we'd be alerted to erroneously, but that's hardly the end of the world.

I

[2015-09-22 18:21] gyandeeps commented on #1622
In my plugin I have created a rule which checks for vars on new line without any exceptions to it.
https://github.com/gyandeeps/eslint-plugin-ideal

[2015-09-22 18:27] lo1tuma commented on #3885
The problem I see with these particular rules is that one could be interested in disallowing extra semicolons but doesn’t even care about spacing. If you combine them you can only enforce or disallow whitespace on certain locations but you can’t avoid the whitespace check completely.

[2015-09-22 18:30] lo1tuma commented on #3901
If we implement this with a rule, you could still disable the rule with inline configuration or just do `/* eslint-disable */`.

[2015-09-22 18:42] sgtpepper43 commented on #3090
It seems to now be more of a bug fix than a new rule, at this point. The expected behavior (or new expected behavior) of `quotes` is that it should not allow alternative quote types if the chosen quote type can be used. To get really specific, if the expression enclosed in quotes can be fully enclosed in the preferred quote type, it should be.

Since the only alternative to the special things that

[2015-09-22 18:46] ilyavolodin commented on #3885
@nzakas I think my alternative proposal would be to combine `semi` and `no-extra-semi` but keep `semi-spacing` separate. I know it doesn't solve your problem with autofixing, but I'm just not 100% sure about combining whitespace rule with general code syntax rule.
In general, I think if we want to be able to get the full power of autofixing out, we need to do one of the following things:
* Exposed

[2015-09-22 19:07] tofumatt commented on #3901
The idea is that this rule/configuration option stops ALL inline rule/environment change parsing.

Do you mean achieving this would be architecturally unfeasible? (Would we have to modify each rule?)

- Matthew Riley MacPherson | tofumatt.com

On Tue, Sep 22, 2015 at 7:30 PM, Mathias Schreck <notifications@github.com>
wrote:

[2015-09-22 20:21] mysticatea commented on #3897
@nzakas This is not a syntax error.
The first two backticks are parsed to a tag of TaggedTemplateElement. But a tag must be a function, so it's a run time error.

We can think a rule that checks tags are a function or not (no-invalid-tagged-template). But we cannot estimate a type of variables statically.
I guess, we can make a rule `no-litelal-tag`. But I'm not sure that rule is useful.

[2015-09-22 20:27] michaelficarra commented on #3897
@mysticatea is right. I wouldn't expect any existing eslint rule to catch this, and I don't think it's worth it to add one. Similarly, `5(five)` is an error, but you just don't see that enough to make it worthwhile. Maybe I'm wrong, though.

[2015-09-22 20:57] mysticatea commented on #3885
I guess there are problems similar to this in:

- no-var and prefer-const
- prefer-allow-callback and arrow-spacing.
- no-multi-spaces and key-spacing with align.
- brace-style and indent.
- etc...

So I think doing in multi passes is good idea.

[2015-09-22 21:36] wabain opened #3903 "Allman brace style is not honored for switch statements"
I would expect that if `"allman"` is specified for `brace-style`, ESLint would ensure that the opening brace of a switch statement is on a new line. However, ESLint [always](https://github.com/eslint/eslint/blob/0b3732bf3bbefacb3ccf0a4436a9b4b6139bd4b2/lib/rules/brace-style.js#L181) ensures that the brace is on the same line as the controlling statement. In ESLint 1.5.1, given the input:

[code]

[2015-09-22 21:42] #3740 closed

[2015-09-22 21:45] ilyavolodin commented on #3897
ESLint isn't designed to catch all runtime, it's easy enough to catch those in browser/node. It's designed to catch possible errors or issues. I think if somebody really wants to catch this, they should create a custom rule.

[2015-09-22 21:45] #3897 closed

[2015-09-22 21:50] ilyavolodin commented on #3903
Verified this in the demo. It looks like switch statement is not covered for some reason.

[2015-09-22 21:53] gyandeeps commented on #3903
Working on this

[2015-09-22 21:58] hotoo commented on #3889
yes.

[2015-09-22 22:59] paveleremin opened #3905 "Error while check the code"
Here is the code
[code]
Here is the error
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26881491-error-while-check-the-code?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2826

[2015-09-22 23:03] paveleremin commented on #3905
1. v1.5.0
2.
[code]
3.
4. seems it's a bug

[2015-09-23 00:25] ilyavolodin commented on #3905
@BYK @gyandeeps could you take a look?

[2015-09-23 00:26] mysticatea commented on #3905
Thank you for reporting.

However, I could not reproduce this.
I guessed this is `babel-eslint` issue.

## Without `babel-eslint`

[code]

Note: Added config `"ecmaFeatures": {"modules": true, "jsx": true}`

## With `babel-eslint@4.1.3`

[code]

Note: Added config `"ecmaFeatures": {"modules": true}`

[2015-09-23 00:36] #3903 closed

[2015-09-23 00:36] nzakas commented on #3889
Got it, thanks for explaining. Sounds good.

[2015-09-23 00:41] #3860 closed

[2015-09-23 00:43] mysticatea commented on #3905
I'm sorry, I correct the result which is with `babel-eslint@4.1.3`.

[code]

[2015-09-23 00:43] #3859 closed

[2015-09-23 00:45] #3873 closed

[2015-09-23 00:50] gyandeeps commented on #3905
@mysticatea What is your final conclusion here?

[2015-09-23 00:54] gyandeeps commented on #3905
@paveleremin what version of `babel-eslint` are you using?

[2015-09-23 01:23] hzoo commented on #3905
I get the same output with babel-eslint@4.1.3 and eslint@1.5.1 - what @mysticatea put above.

[2015-09-23 01:26] mysticatea commented on #3905
@gyandeeps I guess this is duplicate of #3596, and it was fixed.

[2015-09-23 01:30] #3889 closed

[2015-09-23 01:31] ilyavolodin commented on #3905
Closing as it looks like it's been fixed already. Feel free to reopen if it's still an issue.

[2015-09-23 01:31] #3905 closed

[2015-09-23 02:31] mysticatea commented on #3869
@nzakas No, The first exception is not implemented. So `space-before-keywords` can be conflicting with `semi-spacing`, `arrow-spacing`, `comma-spacing`, `key-spacing`, and `space-infix-ops` (#3878) in the following patterns.

![image](https://cloud.githubusercontent.com/assets/1937871/10036733/80c07952-61e6-11e5-9ba4-ce29f250fcf2.png)

But I'm not 100% sure this exception is proper.

2nd and 3rd e

[2015-09-23 03:25] janpaul123 commented on #3435
Thanks all so much, this is a perfect solution! :+1:

[2015-09-23 04:13] platinumazure commented on #3555
@IanVS Are you working on this?

[2015-09-23 06:36] sindresorhus commented on #3902
:+1:

Until we get [`System.get()`](https://babeljs.io/docs/learn-es2015/#module-loaders) for dynamic imports, we're stuck with using `require` inline for dynamic and conditional requires, so I think there's should be some kind of an exception for this.

`import` can easily be used here. The only reason to use the `require('foo')()` is to save a few characters. Not worth it IMHO. Not even worth an

[2015-09-23 07:09] eksperimental opened #3906 ""'object' === typeof foo" Faliing"
the following code
`if ('object' === typeof event) {`

is giving me this error

eventhough it is declared as a valid use in test:
https://github.com/eslint/eslint/blob/master/tests/lib/rules/valid-typeof.js#L29

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26887810-object-typeof-foo-faliing?utm_campaign=plugin&utm_content=tracker%2

[2015-09-23 08:47] ld0rman opened #3907 "CLI - unexpected behaviour with --rulesdir"
Eslint version: 1.5.1

I am using the `--rulesdir` flag with the CLI. Specifically the use case is within the linter plugin for Sublime Text 3 - SublimeLinter with [Eslint plugin](https://github.com/roadhump/SublimeLinter-eslint), however this problem is reproducible from running the CLI directly.

The path that I pass with the `--rulesdir` flag contains a folder where there is a node_modules - wi

[2015-09-23 10:29] evilebottnawi commented on #2645
@nzakas
[code]
Add also error `no-shadow`, in my opinion it also referred to the problem

[2015-09-23 10:34] IanVS commented on #3555
I got hit by a cold and have not started yet. Feel free to jump in, should be a very simple change.

[2015-09-23 10:35] BYK commented on #3906
This looks like a `yoda` error to me.

[2015-09-23 10:36] eksperimental commented on #3906
Yes, thats what i meant

[2015-09-23 10:49] lo1tuma commented on #3906
That’s the expected behavior of the `yoda` rule.

[2015-09-23 11:14] dmcaodha commented on #1238
I agree with @moander here, It seems illogical to install a plugin globally. There is no sense in that. I have lost half a day to this, trying to find out that I need to use an __npm run__ workaround in order to get eslint to work. It is unintuitive.

[2015-09-23 12:01] alberto opened #3908 "Docs: Fix example in no-negated-condition.md"
The first example
[code]
is a leftover from the doc I used as a reference to create this one, and has nothing to do with this rule.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26893407-docs-fix-example-in-no-negated-condition-md?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept boun

[2015-09-23 12:36] BYK commented on #3845
Roger.

[2015-09-23 12:38] BYK commented on #3877
My hunch is that this not being too hard to fix (and I think this is something we should fix). I'm way behind my e-mail and ESLint stuff though so can't promise a timely patch. Will see what I can do over the weekend (or close to it).

[2015-09-23 13:58] johnnyreilly opened #3910 "Prevent function redeclaration / possible problem with no-func-assign"
Hi,

First of all, well done on eslint.  I gave it a try yesterday just to see if it was any better than jshint and once I got past the initial setup it started to find problems in my code that jshint hadn't picked up!  (Particularly around variable shadowing.)

Related to that I've been digging my through the rules and a rule to prevent function redeclaration doesn't seem to be in place.  ie Some

[2015-09-23 14:03] jdb8 opened #3911 ""indent" rule --fix issue"
**What version are you using?**
v1.5.0

**What did you do?**
Set `"indent": 2` in my config, and ran `eslint --fix` on a file with incorrect indentation:
[code]

**What happened?**
Running eslint without `--fix` produces the following, as expected:
[code]

but running with `--fix` only partially fixed the indentation:
[code]

Running eslint again without `--fix` confirms the file still has indenta

[2015-09-23 14:06] erikmueller commented on #3807
Maybe https://github.com/eslint/eslint/issues/3698 would also solve this issue as it basically let's you define a file as an es6 module?

[2015-09-23 14:38] gyandeeps commented on #3911
Its not an issue with `fix` but with the rule actually flagging the code with wrong indentation.
Related https://github.com/eslint/eslint/issues/3737

Whats happening here is that the start of the function on line 3 has a wrong indentation, thats why its calculating the indentation of the body incorrectly.
Secondly, same concept applies to the close of the function on line 5. Since in your first r

[2015-09-23 14:47] jdb8 commented on #3911
@gyandeeps although in this case 2 runs does fix it, with a more complex example it's possible to require more, since as each layer is fixed, the next run identifies new indentation issues.

I haven't looked into the implementation yet, but it seems that the jscs 4-space indentation autofix works as expected.

[2015-09-23 14:50] gyandeeps commented on #3911
Our logic is way different from theirs. I dont want to lay down the comparisons here but with this limitation, the advantage we have is that we cover a lot of scenarios which jscs counter part doesnt.

[2015-09-23 14:55] ilyavolodin commented on #3907
`--rulesdir` is only needed if you are trying to run custom rules. Also keep in mind that `--rulesdir` will be removed in the future versions, it's somewhat unsupported even now and has been replaced with plugins.
I'm not sure I understand what you are trying to do based on your description of the problem. Can you explain why you need `--rulesdir` and why you are running it on node_modules?

[2015-09-23 14:57] ilyavolodin commented on #3906
As @lo1tuma noted, this is expected behavior. Try switching your code to:
[code]

[2015-09-23 14:57] #3906 closed

[2015-09-23 15:04] ilyavolodin commented on #3910
Have you tried `no-redeclare`?

[2015-09-23 15:05] ld0rman commented on #3907
Hi, I'm trying to use sublime-linter to lint my js within Sublime Text. It's using the globally-installed `eslint` which is in my PATH variable.

Normally we lint through a custom script, so we have one global `.eslintrc` in our custom workflow repository. The `.eslintrc`file is never located in the actual project that one is working on. So, I want to point the linter to the directory where the `.

[2015-09-23 15:13] ilyavolodin commented on #3907
`--rulesdir` is meant for completely different purpose . What you are looking for is `--config` or `-c`

[2015-09-23 15:17] ld0rman commented on #3907
Okay thanks for clueing me in, it seems like a problem with the sublime-linter-eslint docs then.

[2015-09-23 15:31] gyandeeps opened #3912 "no-trailing-spaces: Auto fix issue"
**Eslint:** 1.5.1
**Parser:** Default

**Code:**
[code]

**Current Fix Output:**
[code]

**Expected Fix Output:**
[code]

**Issue:** On line 2, it got rid of the comma at the end. Which it shouldn't.

Confirmed: this is only happening when you have a empty line on top of the issue line.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2015-09-23 15:32] johnnyreilly commented on #3910
Bingo!  Thanks chap.

[2015-09-23 15:32] #3910 closed

[2015-09-23 15:33] #3907 closed

[2015-09-23 15:38] BYK commented on #3911
Hah, this is very interesting. @gyandeeps I'd rather fix this instead. May be instead of relying on the parent indentation, we should detect the nesting level and calculate the "ideal" indent directly from that.

What do you think?

[2015-09-23 15:48] woodyrew commented on #3877
@ilyavolodin @BYK Thanks. If I can help in any way, let me know.

[2015-09-23 15:51] gyandeeps commented on #3911
Yup, we need to come up with a way to accomplish this.
that why I have an issue for it: #3737

My guess is this would apply to any kind of node because we always calculate the indentation based on the parents indentation.

[2015-09-23 15:58] StephanBijzitter opened #3914 "Curly notation: if, else if, else for, else while, else do, else"
It may be a bit against common convention, but that's what we have options for.
I would propose an option to treat `else for`, `else while` and `else do` as `else if` with regards to curly braces.

I have currently set up my rules as follows `"curly": [2, "all"]`:
[code]

But I would like to be able to write my code this way:
[code]
Realising that `else if` allows further statements, I do recognis

[2015-09-23 16:05] StephanBijzitter commented on #3914
Just read the bot's help topic for proposing a new rule, it would be nice if it were to be included in the contributing message Github shows me when opening an issue.

I would be willing to develop this rule myself, given some pointers on how to proceed. The topic also introduced me to the plugins section, which would indeed be useful. I will try to create a plugin first to demo the rule before as

[2015-09-23 16:14] #3908 closed

[2015-09-23 16:18] nzakas commented on #3902
`require` and `import` have some subtle differences that make them not exactly equivalent, so I don't feel comfortable having this as a core rule. I'd suggest creating a custom rule for now. When Node finally implements ES6 modules, we can always revisit once we know the implications.

[2015-09-23 16:18] #3902 closed

[2015-09-23 16:22] nzakas commented on #3090
I'm having a hard time rationalizing this as a bug fix vs. a new option. Can you explain?

[2015-09-23 16:23] sindresorhus commented on #3902
@nzakas Many people use `import` today in Node through [Babel](https://github.com/babel/babel), though. I would like to enforce `import` in those cases. They're subtly different, true, but not in a way to makes a difference in most cases. I use `import` in all [my test files](https://github.com/sindresorhus/pageres/blob/771dc2a0a4a5eb866f5d0bc1dea3d73918bc4d45/test/test.js#L1-L8).

[2015-09-23 16:25] nzakas commented on #3901
@lo1tuma good point. That means having a rule is out.

@tofumatt he's not saying that at all, he's saying it can't be done by creating a rule.

That means we are back at a CLI option.

Follow-up: what is the complete list of comments you want to disable?

[2015-09-23 16:26] BYK commented on #3877
@woodyrew you can try submitting a PR as soon as this gets approved. Feel free to ping me or anyone else on the Gitter channel (use @-mentions to make sure you ping someone) for help if you ever need it :)

[2015-09-23 16:29] sgtpepper43 commented on #3090
Basically, since a backtick is just another quote type, the standard behavior of the `quotes` should warn if you use a backtick while another option is selected.

The only problem with that is that there are things you can only do with backticks (ie, template strings). To accommodate this currently, the `quotes` rule is just ignored when backticks are used, which shouldn't be how the rule works. A

[2015-09-23 16:30] BYK commented on #3911
Then we should close this one as a dupe of #3737, right?

[2015-09-23 16:32] robcolburn commented on #3902
Cool, so to be sure [ES6 rules](http://eslint.org/docs/rules/#ecmascript-6) policy is based on support by Node 4.x w/o flags?

[2015-09-23 16:34] nzakas commented on #3885
In general, I don't see a path towards nonwhitespace auto-fixing in the near future. Too hairy, so let's focus on solving do it whitespace fixes right now.

@ilyavolodin I don't think you realize the complexity of doing two passes. The only way to do that is to reparse the code and run ESLint again, which will basically double the time it takes. We have zero optimizations that can be made because

[2015-09-23 16:35] robcolburn commented on #3902
Subtle differences will likely persist, like `let/const` vs `var`, so it's up to repo maintainer to know the code style choices they prefer.  But, it's good to know ESLint's stance on rule additions.

[2015-09-23 16:38] nzakas commented on #3902
@sindresorhus that's fine, you can create a custom rule for that.

@robcolburn nope, not at all. Each rule is evaluated on its own. The bar for core rules is high so we don't accumulate too many. We do have a doc on rule proposals here: http://eslint.org/docs/developer-guide/contributing/new-rules.

Really, our goal is to enable developers to create their own rules. We don't want to be the gatekee

[2015-09-23 16:46] nzakas commented on #3869
Can you explain the first exception some more? I'm not sure I understand what it would do.

[2015-09-23 16:50] tofumatt commented on #3901
My hope was that **this option would disable all inline config/rules/options** from changing. Because we want to use it to validate code with no wiggle room and to an exact config, everything from modifying acceptable global variables to changing options would be out.

Effectively, I want to **not parse any ESLint comments**. So that's everything in http://eslint.org/docs/rules/, and really anythi

[2015-09-23 16:52] BYK commented on #3493
:+1: to @gyandeeps

[2015-09-23 16:53] #3912 closed

[2015-09-23 16:54] nzakas commented on #3914
We've found most people dont read the contribution message on new issues. It does currently link to the full contribution guidelines on our site.

If you want to try implementing this change, we can consider it. I'm skeptical it can be done in a way that 1) will make sense to most people, and 2) won't add a ton of complexity to the code. I could be wrong, though, so happy to entertain a pull reque

[2015-09-23 16:58] nzakas commented on #3901
What about `/*global*/`? Again, it would be helpful to see the full list you expect to be ignored so we can avoid confusion.

[2015-09-23 17:05] tofumatt commented on #3901
Okay, sorry. :)

## Inline things I want to ignore:

* /*eslint-disable*/ and /*eslint-enable*/
* /*global*/
* /*eslint*/
* /*eslint-env*/

## Future-proofing?

I want to ignore *literally everything*.

We might use plugins to extend ESLint for our validator, and I'd want to protect against the plugin and its options being modified/removed too, so my thought is it's not a subset of options but an

[2015-09-23 18:04] vegarturo commented on #3363
:tada:

[2015-09-23 19:10] ilyavolodin opened #3915 "globalReturn is not reset when node environment is set to false"
Using ESLint v1.5.0 and the following directory structure:

[code]

If the top level .eslintrc file has
[code]
and the one inside `src` directory has
[code]
For test.js file environments correctly cascade to `node: false` and `browser: true`, however, `globalReturn` ecmaFeature is still set to `true`. I don't think that's correct behavior. This can be reproduced by using `no-unused-vars`, declarin

[2015-09-23 19:14] ilyavolodin opened #3916 "no-unused-vars reports exported variables as unused in node environment"
ESLint v1.5.0
The following code:
[code]
reports the following:
[code]

expected behavior is to not have any errors. This is due to `globalReturn` flag being on for node environment. I assume the same happens for commonjs environment as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26904628-no-unused-vars-reports-exported-var

[2015-09-23 20:23] MikaAK opened #3917 "no-unused-vars is complaining when not true"
I was writing out a test spec and I noticed that my eslint went off so I thought I would report a bug.

__*ESLint Version `1.5.1`*__

### Error
[code]

### Reproduction Code
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26906462-no-unused-vars-is-complaining-when-not-true?utm_campaign=plugin&utm_content=tracker%2F282608&utm_

[2015-09-23 20:29] michaelficarra commented on #3917
It's not read. The write is not observable. This is an unused variable. Read the documentation for more info: http://eslint.org/docs/rules/no-unused-vars

[2015-09-23 21:00] MikaAK commented on #3917
Ah ok! Thanks

[2015-09-23 21:00] #3917 closed

[2015-09-23 21:34] mysticatea commented on #3915
Okay, I will do.

[2015-09-23 21:43] Moeriki opened #3918 "SourceCodeFixer on api"
I'm trying to add the fix option to atom's [linter-eslint](https://github.com/AtomLinter/linter-eslint).

As to not duplicate the fixing logic it would convenient to have the SourceCodeFixer on the api as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26908380-sourcecodefixer-on-api?utm_campaign=plugin&utm_content=tracker%2F28

[2015-09-23 23:23] yourself-yourorg commented on #3720
I am also seeing this error.

[code]

[2015-09-23 23:33] akras14 opened #3920 "Question: Check prototype in custom rules"
Might be a dumb question, regarding custom rules, but may be there are other people who have a similar question.

Let say I have a logger instance i.e. `var log = require('bunyan')` and it has a `log.error` method. and somebody went ahead and added another object
[code]
And let say my app looks like this:

[code]

Is there a way I can tell, by looking at log.error through a custom rule, that it is

[2015-09-24 00:17] mysticatea commented on #3915
The cause is that [createEnvironmentConfig](https://github.com/eslint/eslint/blob/107f8be42917e2f0773aa0fabcc17c687dd30cdf/lib/config.js#L79-L108) checks only environments which are set `true`. I had mistaken checking inside of this function.

Now, `env`s have globals but we cannot turn globals off, so it cannot overwrite globals with `env: false`.
So I need to rewrite the overwriting-logic.

[2015-09-24 00:19] IanVS commented on #3890
Looks like this is being handled in npm: https://github.com/npm/npm/issues/9663#issuecomment-141577775.

[2015-09-24 00:19] #3890 closed

[2015-09-24 01:04] ilyavolodin commented on #3920
I guess it would be possible to check all `require` statements and then track the variable that it was assigned to. But you will error on cases like `var log2 = log; log2.error(...)`. In general static code analysis is not a really good tool for what you are looking for.

[2015-09-24 01:06] ilyavolodin commented on #3915
Sounds good. Thanks for looking into it.

[2015-09-24 02:29] gyandeeps commented on #3918
Can you explain here little more as to what you are trying to accomplish.

Here is how I use `Eslint API`:
- Use `CLIEngine` and create an object of it
- Since in your case you want to fix the errors also then set the `fix` flag on `CLIEngine` object
- Use the [static function](http://eslint.org/docs/developer-guide/nodejs-api#outputfixes) `CLIEngine.outputFixes(report)` to write the fixes to the

[2015-09-24 02:56] IanVS opened #3922 "`no-mixed-requires` uses boolean option [$10]"
[no-mixed-requires](http://eslint.org/docs/rules/no-mixed-requires) is the only rule with a boolean option.  Its schema is:

[code]

Normally, when there is a need for a boolean, we wrap it in an object.  Therefore, I propose a breaking change for `2.0.0` to change the schema to:

[code]

In the meantime before `2.0.0`, we could deprecate the old method and encourage the object style.  The schema

[2015-09-24 03:12] IanVS opened #3923 "`global-require` rule does not export a schema"
[global-require](https://github.com/eslint/eslint/blob/master/lib/rules/global-require.js) should have a schema:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26912071-global-require-rule-does-not-export-a-schema?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [

[2015-09-24 07:03] ptarjan opened #3927 "Rule Proposal: Use variables when present"
**When does this rule warn? Please describe and show example code:**

[code]

[code]

**Is this rule preventing an error or is it stylistic?**

stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

This is generally useful to most javascript authors.

**Are you willing to create the rule yourself?**

Yes

<bountysource-plugin>
---
Want to back this issue? **

[2015-09-24 07:35] gotofritz opened #3928 "Change proposal: add exceptions to no-underscore-dangle rules"
Hi. Thanks for the great work.

The no-underscore-dangle rule is great, but sometimes there are variables / functions which cannot be controlled (e.g., third party libraries, JSON data, etc). It is tedious and error prone to write `/* eslint-disable no-underscore-dangle */` around every line in every file that handles those variables.

It would be handy to have an exceptions object, like other rul

[2015-09-24 09:37] Moeriki commented on #3918
I'm trying to adapt an existing package so please pardon me as I'm not fluent in either `eslint` or `linter-eslint`.

As-is `linter-eslint` does this.

* take `linter` and `CLIEngine` off api
* constructs `CLIEngine` with options
* `engine` is used to get config for a file
* `linter` is used to verify file with config

I already added the fix option to the `CLIEngine` options (based on an Atom set

[2015-09-24 11:38] damonmcminn commented on #3678
FWIW, as I liberally use object literal shorthand notation, the `key-spacing` rule in my `.eslintrc` has to be commented out as:

1. a group containing shorthand and regular notations will always fail
2. separating them into distinct groups *and* using `--fix` incorrectly "fixes" the code

[2015-09-24 12:41] mysticatea commented on #3915
It's hard.
I will try in a few days.

[2015-09-24 13:32] mysticatea commented on #3869
The first exception limits checking spacing to avoid conflicting with other spacing rules.
(I found missed pattern right now, so I modified a bit)

- Only when the previous token is one of `)`, `]`, and `}`, it checks spacing between the previous token and a keyword.

[code]

- Only when the next token is one of `(`, `[`, and `{`, it checks spacing between the next token and a keyword. If `space-r

[2015-09-24 13:33] btmills commented on #3927
Is [no-unused-vars](http://eslint.org/docs/rules/no-unused-vars) what you're proposing?

[2015-09-24 14:08] gyandeeps commented on #3918
Aah, I see. I will let @nzakas take it from here.

FYI, Since this feature is still kinda experimental we (eslint) dont want to expose a lot right now because then it becomes an issue for us to make changes.

[2015-09-24 16:12] bebraw commented on #3851
@gyandeeps Is `**/*/node_modules/` an invalid pattern now? Why did you close the issue?

[2015-09-24 16:14] gyandeeps commented on #3851
oops, i dint see you following question.

[2015-09-24 16:16] bebraw commented on #3851
No worries. It would be a good idea to check out that pattern and whether you want to support it like earlier. :+1:

[2015-09-24 16:17] nzakas commented on #3918
We aren't exposing this object directly until fixing is no longer experimental. We still have way too many issues to figure out.

[2015-09-24 16:17] #3918 closed

[2015-09-24 16:22] nzakas commented on #3851
I can't think of a reason why this would be different, as the ignore code hasn't changed. Maybe has to do with globbing? @byk

[2015-09-24 16:23] #3920 closed

[2015-09-24 16:26] nzakas commented on #3869
Ah, I see. Thanks for explaining.

@eslint/eslint-team thoughts?

[2015-09-24 16:27] nzakas commented on #3877
Up to @btmills on whether to accept this

[2015-09-24 16:29] nzakas commented on #3901
@lo1tuma is that also your use case?

[2015-09-24 16:29] btmills commented on #3877
Very well, accepted. I'm not positive, but [`getFirstNodeInLine`](https://github.com/eslint/eslint/blob/master/lib/rules/key-spacing.js#L106) seems like a pretty good place to start looking for the culprit.

[2015-09-24 16:31] nzakas commented on #3493
So I think we are in agreement that this is the expected behavior given the configuration. The question note is if we can add an option to allow this as an exception?

This is a fairly common pattern, so I'm sure the request will come up again.

[2015-09-24 16:32] btmills commented on #2668
It's been a week with no objections, so let's go with this.

[2015-09-24 16:36] nzakas commented on #3922
Good idea, though I'd rather support both Boolean and object going forward. I don't think it's worth breaking things.

[2015-09-24 16:38] nzakas commented on #3678
@damonmcminn can you file a separate issue about your trouble with `--fix`?

[2015-09-24 16:40] IanVS commented on #3922
OK, I thought in the past you had said you didn't like configurations like `[2, true]` because of the ambiguity of what `true` represents in this case.  It's not clear that this turns on the grouping option:

[code]

That thinking, combined with the fact that it's the only such rule using this format, were what led me to suggest a breaking change.

[2015-09-24 16:43] nzakas commented on #3922
Yup, I have said that, and you'll note I didn't object to this change. However, I don't think it's important enough to warrant forcing everyone to update their configs. Breaking changes are always a last resort, and if there's ever a way to be backwards compatible, we need to take that option.

[2015-09-24 16:43] akras14 commented on #3920
@ilyavolodin Thank you! Figured this match but wanted to get a second opinion in case I missed some magic feature.

[2015-09-24 16:44] nzakas commented on #3928
Duplicate of #2135

[2015-09-24 16:44] #3928 closed

[2015-09-24 16:48] IanVS commented on #3922
OK, I misunderstood what you meant by supporting boolean moving forward. You mean just in this one case, not starting to support for all rules.

This makes sense, thanks.

[2015-09-24 17:33] gyandeeps opened #3930 "Performance: Lazy loading rules boosts performance"
Currently the startup time of Eslint is slightly higher than expected. Some of the main reason are:
* Loading all the rules up front
* Loading `inquirer` (takes 85ms to require) modules even if its not needed

For brief findings/results: https://gist.github.com/gyandeeps/300c6061e93ae9d834b8

**Proposal:**
* Apply lazy  loading for rules.
  * Only load the rules which are needed and not all the ru

[2015-09-24 18:13] lo1tuma commented on #3901
Not exactly, I would prefer to have warnings for each inline configuration, because in some rare cases they are needed.

[2015-09-24 18:57] ptarjan commented on #3927
@btmills More of it the other way. I want to use local variables whenever they are present.

[2015-09-24 19:55] tofumatt commented on #3901
If we had to pick one, I'm okay with warnings, just not errors. We’d like to prevent these from “fooling” our validator into _not_ reporting something, but we don’t mind if they are there and result in warnings as long as our config/rules are kept intact.

[2015-09-24 19:57] platinumazure commented on #3927
Seems like the goal of this is to examine all AssignmentExpressions and VariableDeclarators which have MemberExpressions (or CallExpressions?) as their initializer, track those initializers, and then warn if the same expression comes up later on?

I think a rule like this would probably need minimum "depths" before warning. In the author's example, that might be 3.

[2015-09-24 20:08] michaelficarra commented on #3927
Certainly not calls. Function in JavaScript frequently have side effects.

[2015-09-24 20:29] IanVS commented on #3927
Maybe others feel differently, but personally I can't envision this being widely-applicable and useful enough to warrant a core rule.  It could be a decent plugin though.

[2015-09-24 20:34] IanVS commented on #3567
Getting started on this.  So far I'm generating configurations for empty schemas and enums.

[2015-09-24 20:40] nzakas commented on #3922
Yes, sorry I wasn't clear. We definitely don't want to introduce new rules that do this.

[2015-09-24 20:42] #3930 closed

[2015-09-24 20:44] nzakas commented on #3901
@lo1tuma can you describe your use case?

Ignoring inline comments is fairly straightforward, but picking and choosing is a lot more complicated, so I want to be sure I understand if that's what you're asking for.

[2015-09-24 20:47] nzakas commented on #3927
I agree. This is also likely to be extremely complicated, if not impossible, to get 100% correct. Might make an interesting plugin, but definitely not for core.

[2015-09-24 20:47] #3927 closed

[2015-09-24 20:59] #3923 closed

[2015-09-24 21:02] mohsen1 opened #3933 ""indent" rule blames the wrong line if initial line is indented badly"
This is the code that I had:

[code]

The warnings were pointing to any line but the one that was indented badly:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26934095-indent-rule-blames-the-wrong-line-if-initial-line-is-indented-badly?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** W

[2015-09-24 21:07] gyandeeps commented on #3933
duplicate https://github.com/eslint/eslint/issues/3832

[2015-09-24 21:07] #3933 closed

[2015-09-24 21:08] ptarjan commented on #3927
Ok, thank you. I agree, that avoiding side-effects while still being useful would be difficult. I'll save this and not write it as my first foray into eslint plugins.

[2015-09-24 21:12] mohsen1 commented on #3832
With current logic, if a file is entirely indented the indent rule will pass which I don't think is intended.

For example if I refactor a file from this state:

[code]
to this state by removing the wrapper `module.export`
[code]
the indent rule will not catch the issue.

[2015-09-24 21:24] platinumazure commented on #3927
I agree with closing this, but I wanted to raise one point:

@michaelficarra You are correct about calls having side-effects but I think you are wrong in asserting that this means a rule should not be able to work with them at all. Sometimes the actual side effect is less important than the fact that it happens and is expensive. In that case, a rule along these lines could be *incredibly useful*.

[2015-09-25 00:15] robcolburn commented on #3271
I believe this is fixed now :cake: I think `escope` pushed a version to npm w/o pushing tag to GitHub.

[2015-09-25 00:44] #3858 closed

[2015-09-25 00:50] #3857 closed

[2015-09-25 00:55] ilyavolodin commented on #3817
Closing as there was no response to questions by the team. Feel free to reopen if you have new information.

[2015-09-25 00:55] #3817 closed

[2015-09-25 00:55] ilyavolodin commented on #3762
Closing as there was no response. Feel free to reopen with additional information.

[2015-09-25 00:55] #3762 closed

[2015-09-25 01:23] mysticatea commented on #3271
Oh, I had not noticed 3.2.0 since git tag is nothing. Thanks @robcolburn
I will add some tests to ESLint to close this issue.

[2015-09-25 01:50] michaelficarra commented on #3271
@mysticatea I just added the `3.2.0` tag for you: https://github.com/estools/escope/tree/3.2.0

[2015-09-25 02:26] mysticatea commented on #3271
@michaelficarra Thanks! :)

[2015-09-25 02:36] michaelficarra commented on #3762
I suspect @jamestalmage was writing a block statement with a label named `default`, thinking it was an object initialiser.

[2015-09-25 03:04] michaelficarra commented on #3927
@platinumazure Few programs have no side-effecting function calls in them (where it would always be safe to do this), and even fewer have nothing but side-effecting function calls (where it would never be safe to do this). I'm saying that you cannot make this judgment about the entire program, so it needs to be handled on a case-by-case basis by the programmer. Maybe I'm wrong and this rule would

[2015-09-25 04:48] jamestalmage commented on #3762
@michaelficarra you suspect wrong

The links provided by myself and @sindresorhus answer all 4 requirements posted by your bot and then some. However, since that appears insufficient I have made a repro here: https://github.com/jamestalmage/eslint-3762-repro

[2015-09-25 04:57] jamestalmage commented on #3762
So the issue seems to be the `keywords: true` argument in the config.

Does not appear this is an `eslint` issue at all. I've recently switched from `jshint`/`jscs` to `xo`, so I've not really delved into config specifics.

[2015-09-25 06:20] BYK commented on #3851
@nzakas I don't think so. We're not really relying on `glob` to ignore things after your patch. I mean we do both so not sure.

That said I can't really figure out what is the intention with that ignore rule. Ignore any `node_modules` folders in any subdirs? Why not just `**/node_modules/**`?

[2015-09-25 07:08] bebraw commented on #3851
@BYK `**/node_modules/**` would have been a better choice, yes. I recall the assumption was that `**/*/node_modules/` would skip entire directories and it seems like that's the way it worked at `0.24.1`.

It is actually possible that was buggy behavior and that glob shouldn't have worked in the first place. I've fixed the rules of my project regardless.

[2015-09-25 11:41] lo1tuma commented on #3901
Generally I want to forbid inline configuration, but it’s not always possible in some rare cases I have to use inline configuration. For example, I’ve configured `max-params` to not allow more than 4 parameters for every function, but I use an external dependency which requires me to write a callback function which receives 5 parameters. The only way to fix this would be to replace the dependency

[2015-09-25 11:43] mourner commented on #2668
@btmills just to clarify, would your proposal cover the following use case?

[code]

[2015-09-25 11:56] btmills commented on #2668
@mourner no, please file a separate issue if you'd like to discuss that.

[2015-09-25 12:01] keithamus commented on #3358
@nzakas I realise this has been sitting here for a while, I've been a little busy but I've just had a chance to revisit this...

However, given the new comments in #3488 - which talks about a whitelist of acceptable identifier names, the conclusion was slightly different (an option rather than a new rule).

I'd suggest that both be options to `id-match` - as the options `allow` and `deny`. If that

[2015-09-25 12:06] BYK commented on #3851
I feel like `**/*/node_modules` is indeed buggy since we don't really ignore directories (we ignore files). That said I'm bad at glob internals. @eslint/eslint-team thoughts?

[2015-09-25 12:09] mourner opened #3938 "key-spacing with align doesn't allow mixed styles"
This issue continues the discussion in #1728. Here is a use case I'd love to see supported:

[code]

The lack of support for this has been preventing me from using `key-spacing` rule in most of [my projects](https://github.com/mourner/projects), and I think the case is much more common than what `align` option currently enforces.

The most common style I've seen in JS projects is not aligning prop

[2015-09-25 12:12] mourner commented on #2668
@btmills thanks, created #3938.

[2015-09-25 13:16] jmccaskill opened #3939 "no-unreachable not reporting all unreachable code"
1. The version of ESLint you are using.
v1.5.1

2. What you did.
An `if-else` where the `if` and the `else` both have a `return`, so anything after the `if-else` is unreachable.
[code]

3. What you expected to happen.
I expected the code after the `if-else` to be reported as unreachable.

4. What actually happened.
The code after the `if-else` was not reported as unreachable.
My original test case

[2015-09-25 13:58] ilyavolodin commented on #3939
Code path analysis would be able to help with this.

[2015-09-25 14:20] damonmcminn commented on #3678
@nzakas will do

[2015-09-25 14:47] damonmcminn opened #3940 "Incorrect autofixing with key-spacing rule"
Given the rule: `"key-spacing": [2, {"align": "value"}]`

And an object literal in the form:
[code]

Autofix will rewrite the literal as:
[code]

If the properties with shorthand notation are grouped with properties with regular notation, the key-spacing rule will always fail but autofix will do nothing (i.e. leave it unchanged).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2015-09-25 14:59] rosshadden opened #3941 "no-undef triggers false positive with es6 classes"
When using `no-undef`, references to classes result in an error.  The following is an example with three common uses that trigger this false positive.

[code]

This occurs in both eslint 1.3.1 and 1.5.1.

/cc @crispy1989 @oppenlander

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26948742-no-undef-triggers-false-positive-with-es6-cl

[2015-09-25 15:04] gyandeeps commented on #3941
I think the rule doesnt account for classes. I might be wrong too.
Need someone else to verify.

[2015-09-25 15:44] jdb8 opened #3942 "Provide output for --fix'ed code"
**What version are you using?**
v1.5.1

**What did you do?**
Ran --fix on files which had fixes to be applied, containing no unfixable errors.

**What happened?**
eslint returned 0, a success error code.

**What did you expect to happen?**
Since errors were detected and fixed, either an error code of 1 or some non-zero error code would differentiate a successful 'no linting errors detected' to an

[2015-09-25 16:03] mhipszki opened #3943 "indent reports only subset of lines with tabs when it's set to spaces"
1. The version of ESLint you are using (run eslint -v)

**1.4.3**

2. What you did (the source code and ESLint configuration)

![screen shot 2015-09-25 at 16 27 35](https://cloud.githubusercontent.com/assets/220661/10105315/f23fffec-63a5-11e5-980c-776b00f59834.png)

eslint config:

[code]

3. The actual ESLint output complete with numbers

<img width="785" alt="screen shot 2015-09-25 at 16 28 11"

[2015-09-25 16:05] lucsky opened #3944 "no-use-before-define should have an option for ES6 classes"
The "no-use-before-define" rule has a "nofunc" option which allows to specify that using a function before it has been declared is ok. It should be possible (with a "noclass" option for example) to also do that with ES6 classes where it would allow a class name to be used before the class is declared later in the file.

Ex, this triggers the "Bar was used before it was defined" error:

[code]

<bo

[2015-09-25 16:09] gyandeeps commented on #3943
It would never report line 7 as we dont check for comment indentation yet.
I think the rule gave correct results, the only reason it skipped line 14 and 18 is because it calculates the indetation relative to its parent. What that means is that the closing brace on line 14 is in line (indentation wise) with the opening brace indentation on line 12. We already have an issue open for this kind of beh

[2015-09-25 16:10] gyandeeps commented on #3944
Duplicate https://github.com/eslint/eslint/issues/3941

[2015-09-25 16:12] michaelficarra commented on #3942
Then don't configure it to make fixes in your pre-commit hook. Have it check, and upon failing give the user the option to automatically make the fix.

:-1:. When the fixing succeeds, exit code should definitely be zero.

[2015-09-25 16:14] #3874 closed

[2015-09-25 16:14] michaelficarra commented on #3944
I guess this new option should apply to anything that hoists with TDZ. Sounds good, though definitely dangerous.

[2015-09-25 16:15] mhipszki commented on #3943
@gyandeeps thanks for the clarification!

is there a way to enforce consistency in spaces or tabs usage across all the files in a project?

`no-mixed-spaces-and-tabs` only checks individual *lines*, and apparently `indent` does not support it either :(

[2015-09-25 16:17] jdb8 commented on #3942
@michaelficarra My main proposal is to give scripts which use eslint's CLIEngine to fix code the information on the files which were fixed. I'm not pushing to change the error code output of eslint as a whole (despite my personal feelings on the matter), but I wanted to provide context for my request.

Your suggestion wouldn't work for me since I'm trying to integrate eslint's fixer with https://g

[2015-09-25 16:18] IanVS commented on #3943
There is also https://github.com/eslint/eslint/issues/3638#issuecomment-137428544, to clarify the message.

[2015-09-25 16:18] gyandeeps commented on #3943
This was discussed before but was not added to the core rules.
I have a plugin which checks for tabs in a file with no exceptions: https://github.com/gyandeeps/eslint-plugin-ideal
Checkout the rule: https://github.com/gyandeeps/eslint-plugin-ideal/blob/master/docs/rules/no-tabs-in-file.md

[2015-09-25 16:21] nzakas commented on #3942
@jdb what information are you looking for? Number of fixes applied? Just true/false that fixes were applied?

[2015-09-25 16:23] jdb8 commented on #3942
@nzakas Any of the above would be enough, in order to provide a non-zero error code for pre-commit. Ideally though, an array of filenames would be great in order to provide a nicer console output (in the same way as https://github.com/pre-commit/pre-commit-hooks/blob/master/pre_commit_hooks/autopep8_wrapper.py#L20).

[2015-09-25 16:27] nzakas commented on #3901
Okay, then I think your use case is too different from this request, so we will need to address separately.

[2015-09-25 16:30] nzakas commented on #3358
What if the rule had both `allow` and `deny`?

I don't believe we can automatically whitelist anything, as people may not want to allow built-ins as well.

[2015-09-25 16:31] IanVS commented on #3942
if you are using CLIEngine, couldn't you examine the reports which are returned, and check them for `fix` before running [outputFixes()](http://eslint.org/docs/developer-guide/nodejs-api#outputfixes)?

[2015-09-25 16:32] nzakas commented on #3851
If it used to work, we should find out why it no longer does. I still think this must have to do with globbing returning filenames in a different format than we used to, so the matching isn't quite the same.

[2015-09-25 16:33] nzakas commented on #3939
Blocked on code path analysis. Cc @mysticatea

[2015-09-25 16:34] nzakas commented on #3940
Thanks, we will take a look

[2015-09-25 16:37] nzakas commented on #3941
This might be an issue with escope, since this rule relies on scope info almost exclusively.

[2015-09-25 16:41] nzakas commented on #3944
Won't that code cause a runtime error?

[2015-09-25 16:43] nzakas commented on #3942
@IanVS not all fixes are applied.

@jdb8 the array of filenames that what?

[2015-09-25 16:46] michaelficarra commented on #3944
No, TDZ errors occur when the reference is evaluated before the declaration. So there's no way that this program would have a problem, regardless of what follows it.

[2015-09-25 16:50] jdb8 commented on #3942
@IanVS that seems like exactly what I want, but indeed if not all fixes are applied it won't work for me.

@nzakas the array of filenames that had fixes applied during `--fix` or `eslint.CLIEngine.outputFixes(report)` if running from a script.

I'm curious what you mean about not all fixes being applied though. Looking at `outputFixes`, it seems to simply check if an `output` key exists, and if so

[2015-09-25 16:50] BYK commented on #3851
@nzakas - I have no idea why it did work in the past because that pattern does not make much sense to me.

[2015-09-25 16:58] ilyavolodin commented on #3851
I agree. I think `**/*/node_modules` is an invalid glob patter. It basically says take any number of nested directories that have any directory under it with node_modules directory child. That seems very strange and can easily be replaced with `**/node_modules`

[2015-09-25 17:05] mhipszki commented on #3943
thanks, will give it a try! :)

Sent from my iPhone

[2015-09-25 17:55] #3943 closed

[2015-09-25 18:44] rohitgirme commented on #3600
I am playing with ESLint. Specifically the rule no-invalid-this
when using underscore and its loops, I get an error from this rule
but this is a valid use of 'this'
e.g.
_.each(elements, function(element) {
this.someVar.push(element);
}, this);
any suggestions on this one?
I know I can add exceptions close to the code like
/*eslint-disable no-invalid-this*/
or the jsdoc
but this solution does not

[2015-09-25 19:35] nzakas commented on #3435
@just-boris thanks, the PR looks good.

I just want to get a final tally from everyone to make sure this is the best solution. The current solution is to just ignore (automatically, for everyone) properties that are preceded by `this`, so `this._foo()` now no longer warns for anyone. Is that the right solution? (Other approach: add an option to turn this behavior on instead of doing it by default.

[2015-09-25 19:38] nzakas commented on #3944
Oh right, because the reference doesn't occur until `new` is called. Got it.

[2015-09-25 20:07] gyandeeps commented on #3940
`key-spacing` rule doesn't do fixing yet.
Maybe this is done by some other rule?
@damonmcminn Can you give us more context of the code and config?

[2015-09-25 20:36] nzakas commented on #3942
Yes, that will do the same thing. `applyFixes()` basically just loops through and copies `output` into `filePath` from the results.

What you're seeing returned from `executeFiles()` is files that have had some fixes applied, however, not all fixes that were indicated in the results were applied to the file. So, you if you had 10 possible fixes, you might end up with only 1 applied due to overlapp

[2015-09-25 20:53] mysticatea commented on #3939
Yeah, I'm rewriting totally no-unreachable in #3559.
It should fix this.

[2015-09-25 20:54] keithamus commented on #3358
Are you asking what should be done if `allow` and `deny` contained the same identifier? I'd say we just pick a precedent ant document it - e.g. anything in `allow` is explicitly allowed, even if is in `deny`.

My suggestion to automatically whitelist was due to the fact that there are many inconsistencies between ecmascript and the DOM, for example `JSON` is a ES global which is an acronym and so

[2015-09-25 20:55] keithamus commented on #3358
Having said all of that, I'm keen to get this PRd ASAP, so for now am I good to go ahead adding `allow` and `deny` options to `id-match`?

[2015-09-25 21:14] IanVS commented on #3942
My mistake, I haven't worked with autofix very much, and was just looking at the docs and saw the `fix` property on the messages.   I wasn't aware of `output`, which seems much better to use.

So, @jdb8 it sounds like you have something that will meet your need, yes?

[2015-09-25 21:16] mysticatea commented on #3944
I think "noclass" is confusable.
The following pattern is a runtime error different from functions.

[code]

So I favor of "allow-outer-scope" or something like.

[2015-09-25 21:51] jdb8 commented on #3942
@IanVS yep, the code I pasted above should suit my needs. Thanks!

@nzakas I think a `true`/`false` return value for `outputFixes` would make sense, although I won't be using it in this case necessarily. At this point given the functionality for accessing fixed filenames is accessible via the CLIEngine method, I don't feel strongly that it should be added anywhere else. I'm sure if someone has a n

[2015-09-25 21:51] #3942 closed

[2015-09-25 21:53] SpaceviewMob opened #3945 "Multiple default exports"
Note: I am running with the babel-eslint parser.

If I have the following code:

[code]

The first `a` is exported as default and `b` is silently ignored as an export.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26959109-multiple-default-exports?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)

[2015-09-25 22:00] hzoo commented on #3945
Do you only have the issue with `babel-eslint`? What's the issue?

[2015-09-25 22:01] gyandeeps commented on #3945
I dont understand what being reported here?
@SpaceviewMob Can you please answer all the question asked here https://github.com/eslint/eslint/issues/3945#issuecomment-143362612

[2015-09-26 05:47] jamestalmage commented on #3834
If nothing else the documentation should use a different word than "scope"

To me that infers variable scope, but most of the `warn` examples have nothing to do with variable scope (`try` blocks included).

The argument regarding the performance implications of require only apply if it is **actually** in a nested variable scope (a function which can be deferred).

I personally see nothing wrong wi

[2015-09-26 14:17] damonmcminn commented on #3940
@gyandeeps that's what confused me!

I think I've managed to dial it down to `no-trailing-spaces`:

command: `eslint --ext js --fix`

`.eslintrc`:
[code]

In the source examples below, I use `☠` to indicate whitespace. Whitespace is not stripped upon saving the file. It makes no difference whether shorthand notation or regular notation comes first, only that the property has trailing spaces.

####

[2015-09-26 15:26] nzakas commented on #3851
Not quite the point. We can't just say "oh well" when something used to work and no longer does. Maybe it shouldn't have worked initially, but we can't decide that retroactively. We need to figure out why this isn't working anymore.

[2015-09-26 15:33] nzakas commented on #3940
Can you try without babel-eslint? I suspect it's misrepresenting the source code to ESLint so the fixes are being applied in the wrong spot.

[2015-09-26 15:42] nzakas commented on #3944
Good point, though I don't think `allow-outer-scope` is clear enough. Is it even possible to accurately flag one but not the other in the error?

[2015-09-26 15:45] nzakas commented on #3358
No. I'm asking what happens when both `allow` and `deny` are present? You can't actually apply both a whitelist and a blacklist at the same time, so I'm afraid we would get a lot of bug reports.

I'm not convinced we should have these two options in the same rule, I'm still thinking a separate blacklist rule makes more sense.

[2015-09-26 16:04] damonmcminn commented on #3940
Same result without babel-eslint and vanilla ES5:

`.eslintrc`:
[code]

Before:
[code]

After:
[code]

All of this is with 1.5.1

[2015-09-26 16:05] nzakas commented on #3899
We won't be able to do this with auto-fixing. Changes like this could affect many other rules, so it's an unsafe fix.

[2015-09-26 16:05] #3899 closed

[2015-09-26 16:06] nzakas commented on #3900
Too risky to make this change automatically, as it could affect multiple other rules.

[2015-09-26 16:06] #3900 closed

[2015-09-26 16:14] nzakas commented on #2226
@xjamundx there was a bounty on this issue that you can claim

[2015-09-26 16:14] nzakas commented on #2225
@xjamundx there was a bounty on this issue that you can claim

[2015-09-26 16:59] xjamundx commented on #2225
Thanks can you give to charity?

On Sat, Sep 26, 2015 at 9:14 AM Nicholas C. Zakas <notifications@github.com>
wrote:

[2015-09-26 19:57] mdziekon opened #3946 ""space-before-keywords" doesn't work nicelly with ES6's "super" keyword"
The following code throws with ``space-before-keywords: [2, "always"]`` enabled:

[code]

Error thrown:
``Missing space before keyword "super". (space-before-keyword)``

I think ``super`` keyword in ES6 could be considered as a "normal" variable, so this rule kind of breaks on normal use cases.

ESLint version: ``v1.5.0``

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!]

[2015-09-27 13:58] gronke opened #3949 "validate commit message before running tests"
When opening a pull-request the test runner runs all the tests [before validating commit messages](https://travis-ci.org/eslint/eslint/jobs/82415447). The process could be speeded up by doing the sanitizing upfront.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26983125-validate-commit-message-before-running-tests?utm_campaign=plug

[2015-09-27 15:19] mysticatea commented on #3941
Hmm?
I might not understand this issue, but, I cannot reproduce this in the online demo.

![image](https://cloud.githubusercontent.com/assets/1937871/10123513/5e082a66-6576-11e5-8614-de737f45067e.png)

[2015-09-27 15:58] nzakas commented on #2225
You should claim the Bounty and donate to whatever you want. :)

[2015-09-27 16:01] nzakas commented on #3949
Interesting idea, though I'm not sure what's more valuable: if both the commit message and the tests are broken, wouldn't you want to know about the tests first?

[2015-09-27 16:05] gyandeeps commented on #3949
I think I always want to know both.

[2015-09-27 16:08] nzakas commented on #3946
Yeah, `super` should be treated like `this`

[2015-09-27 16:09] nzakas commented on #3941
@rosshadden can you provide your configuration?

[2015-09-27 16:12] gronke commented on #3949
I would not have to wait for all the tests to pass, before I figure out the commit message was invalid. Imagine the following serial flow:

 1. Push Commit
 2. remote: run tests
 3. remote: validate commit message
 4. Rebase Commit Message
 5. Force Push Commit
 6. remote: run tests
 7. remote: validate commit message>

Step 2 can be skipped and save a few minutes of waiting for a result.

@gyande

[2015-09-27 18:17] mzgol opened #3951 "Error: Unknown node type AssignmentPattern"
The following code:
[code]
breaks ESLint 1.5.1 (i.e. the latest one) completely:
[code]

One issue is that this code is valid ES6 and should be recognized; another one is that a parse error should at least show which file cannot be parsed; it's very hard to find the reason when you have thousands of files and you just know one of them is causing this.

<bountysource-plugin>
---
Want to back this i

[2015-09-27 18:26] gyandeeps commented on #3951
Looks like an issue with `estraverse` module.
Quick question: Are you saying this used to work before with older versions of eslint?

[2015-09-27 18:32] mzgol commented on #3951
Another example:
[code]
*A lot* of files in one of my project are causing these errors and it used to work.

It seems not connected to ESLint versions, thought. It worked when I used ESLint via `grunt-eslint@17.1.0` on September 9 so quite recently. `grunt-eslint@17.1.0` depends on `eslint@1.1.0` and now all ESLint versions from 1.1.0 to 1.5.1 fail on this code.

[2015-09-27 18:54] TrySound opened #3952 "Update minimatch"
https://github.com/isaacs/minimatch/issues/69
The only thing was changed is removed browserified file. So, non-breaking for this package.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26986850-update-minimatch?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-09-27 19:10] gyandeeps commented on #3638
How do we report an scenario where we have mix of both spaces and tabs?

Lets say I expect 4 spaces on a line, but currently it has 2 spaces and 2 tabs.

[2015-09-27 19:22] gronke commented on #3952
Might be related: #3948 is replacing minimatch with node-ignore.

[2015-09-27 19:55] DavidAnson opened #3954 "Upgrade markdownlint dependency to 0.0.8 in service of #2271"
@IanVS asked for the ability to disable/enable rules inline via DavidAnson/markdownlint#5; that's now possible with markdownlint 0.0.8.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26987695-upgrade-markdownlint-dependency-to-0-0-8-in-service-of-2271?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=gith

[2015-09-27 21:15] rosshadden commented on #3941
Maybe I had a typo in my code which was causing it.  I'll close this untill/unless I can recreate a minimal example.  Thanks!

[2015-09-27 21:15] #3941 closed

[2015-09-28 01:32] mysticatea commented on #3951
I cannot reproduce this in the online demo.

![image](https://cloud.githubusercontent.com/assets/1937871/10126332/37c713b2-65cb-11e5-9473-c8c83d3107a3.png)

What is the version of `/Users/mgol/Documents/projects/bn/cbn/repo/polona-gui/node_modules/estraverse`?
ESLint requires `estraverse@4.1.0` or later.
If you are using `npm@3`, `npm@3` cannot install ESLint correctly (npm/npm#9663, npm/npm#9708)

[2015-09-28 06:34] mysticatea opened #3955 "The `complexity` rule shows "anonymous" for shorthand methods."
The rule should show the method name instead of "anonymous".
Plus, the position should be at the head of each method name.

**Code:**

[code]

**Actual:**

ESLint v1.5.1

![image](https://cloud.githubusercontent.com/assets/1937871/10129163/18046928-65f6-11e5-9abc-24511aeafa7b.png)

**Expected:**

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bounty

[2015-09-28 08:15] donaldpipowitch opened #3956 "async object-shorthand: Unexpected identifier"
Having this:

[code]

Throws ` Unexpected identifier`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26995672-async-object-shorthand-unexpected-identifier?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&ut

[2015-09-28 08:23] donaldpipowitch commented on #3956
Ups, I probably missed `"parser": "babel-eslint",`

[2015-09-28 08:36] #3956 closed

[2015-09-28 08:36] donaldpipowitch commented on #3956
Yes, that was the problem.

[2015-09-28 08:47] keithamus commented on #3358
That is the same question that I assumed, if you have a rule like:

[code]

Alternatively we could just throw an error early (`Error: Duplicate identifier 'foo' exists in both id-match allow and id-match deny`). If someone is putting the same identifier in both allow and deny, they're already doing something pretty wrong and should probably be notified of it. I don't see how having it as a separat

[2015-09-28 10:29] mik01aj opened #3957 "Rule idea: detect code duplication"
I'd like eslint to produce a warning when I have pieces of duplicated code.

Precisely, I'd like no *n*- (default 3) line chunk to be repeated more then *k* (default 2) times. If it happens, the *k+1*-th occurrence should trigger a warning: "These *n* lines are duplicated for *k+1*-th time".

Quite possibly we will also need to only take into account lines containing alpha-numeric characters, beca

[2015-09-28 11:46] mysticatea commented on #3856
I will try to fix this.

[2015-09-28 12:11] Lexicality opened #3959 "Ability to ignore globals created by window?"
There are a lot of silly globals produced by everything in window being also global, such as `name`, `self` and `top`.
The code that I'm working on uses these words in it, and this is making my refactor annoyingly difficult.
For instance I can't use the `builtinGlobals` option for `no-shadow` and `no-undef` just now didn't notice when I deleted a variable called `self` without removing all uses fi

[2015-09-28 12:15] Lexicality commented on #3959
version:
[code]
.eslintrc:
[code]

[2015-09-28 12:45] lo1tuma commented on #3957
ESLint rules only operate on the context of a single file. So you won’t be able to detect duplicated code across multiple files.

I suggest to use tools like [`jscpd`](https://github.com/kucherenko/jscpd) or [`jsinspect`](https://github.com/danielstjules/jsinspect).

[2015-09-28 12:59] mysticatea commented on #3271
escope v3.2.0 does not include https://github.com/estools/escope/commit/cebbcf404f34791ea86a7284f99b556233fa5bc3, so this issue is not fixed yet.

[2015-09-28 13:52] mhipszki opened #3961 "no-invalid-this error is suppressed in node environment"
**The version of ESLint you are using (run eslint -v)**

1.5.1

**What you did (the source code and ESLint configuration)**

source code

[code]

eslint config

[code]

**The actual ESLint output complete with numbers**

*nothing*

**What you expected to happen instead**

Expected ESLint to report `no-invalid-this` error, but instead got nothing.

`this` refers to the module object itself in a con

[2015-09-28 13:58] mhipszki commented on #3943
@gyandeeps would you mind pointing me to the discussion about this "project wide" indentation rule so I can better understand the reasons behind the decision?

[2015-09-28 14:04] omuryolcu opened #3962 "Parser displaying wrong lines in error messages."
**What version are you using?**
1.9.0

**What did you do?**
I've declared a var like "let foo" in the code but it was also declared inside a case statement a few lines BELOW. This caused a warning that a variable has been used before it was declared. ESLint is displaying the wrong line number because the declaration is inside a case statement below.

**What happened?**
Displays the wrong line numb

[2015-09-28 14:12] mik01aj commented on #3957
Wow, both `jscpd` and `jsinspect` seem awesome! I didn't know them. I will most definitely try them both.

But in the meanwhile, having a simple check like this, in scope of a single file, would still make sense to me.

[2015-09-28 14:23] gyandeeps commented on #3943
I dint understand, what do you mean by "project wide"?

[2015-09-28 14:26] mhipszki commented on #3943
I meant to check if a file in a project only contains either tabs or spaces for indentation, as opposed to only checking individual lines. If I understood right from what you've said:

[2015-09-28 14:27] gyandeeps commented on #3943
Oh yeah. I have to dig through closed issue but I soon as i find it i will post here.

[2015-09-28 14:31] mhipszki commented on #3943
@gyandeeps many thanks :)

[2015-09-28 14:33] gyandeeps commented on #3943
Here we go: https://github.com/eslint/eslint/issues/3521

[2015-09-28 14:42] callumacrae opened #3963 "ES6 destructuring in object assignment broken?"
This is, as far as I can see, valid ES6 code:

[code]

Babel compiles it fine. ESLint, with the es6 flag enabled, says "Unexpected token ..". Any ideas what is causing this? Is it a bug, or am I doing something wrong?

Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27003277-es6-destructuring-in-object-assignment-broken?utm_c

[2015-09-28 14:45] callumacrae commented on #3963
turns out my eslint version was massively out of date, oops. fixed now!

[2015-09-28 14:45] #3963 closed

[2015-09-28 14:58] mhipszki commented on #3943
cheers! :)

[2015-09-28 15:02] kileras opened #3964 "Don't add event as global when browser: true"
Right now when you configure your env with "browser: true" you will get a event variable automatically added to your globals so this would lint perfectly despite event not being defined (tested in the online demo):

[code]

I think that this is incorrect as the event variable is only defined inside an event context, so its not totally global and may end up preventing eslint form catching some pote

[2015-09-28 15:10] mhipszki opened #3965 "environments cannot be turned off after enabled"
**The version of ESLint you are using (run eslint -v)**

1.5.1

**What you did (the source code and ESLint configuration)**

source code

[code]

eslint config

[code]

**The actual ESLint output complete with numbers**

[code]

**What you expected to happen instead**

Expected ESLint to remove all introduced globals by the `node` environment and add ones from the `browser` environment.

Apparentl

[2015-09-28 15:24] michaelficarra commented on #3962
This is not broken. Switch cases do not create blocks. You are using that variable before its declaration and will get a TDZ error in a conforming implementation.

[2015-09-28 15:29] michaelficarra commented on #3963
It's still not ES6. Probably ES2016, though. Object rest/spread is still a proposal.

[2015-09-28 15:40] michaelficarra commented on #3964
Not true, it is always there. Run `"event" in this` in your console.

[2015-09-28 15:49] michaelficarra commented on #3961
This is simply a bug in `no-invalid-this`. It should report top-level `this`, but is likely getting tripped up by the implicit top-level function wrapper in node programs.

[2015-09-28 16:09] kileras opened #3966 "Add a no-restricted-globals rule to prevent the use of the specific globals [$25]"
So following my comments in https://github.com/eslint/eslint/issues/3964, I think that adding a rule to prevent the use of the global event variable will be useful and potentially avoid some issues like the one described with react due to the magic of the global event variable.

<bountysource-plugin>
---
There is a **[$25 open bounty](https://www.bountysource.com/issues/27005725-add-a-no-restricte

[2015-09-28 16:09] kileras commented on #3964
Ok fair enough, I didn't realise that it exists but is undefined :smile:

So instead I created an issue for a new rule to disable the use of the global event variable.

[2015-09-28 16:20] michaelficarra commented on #3966
There's probably a number of historic globals that can be avoided entirely.

[2015-09-28 23:38] platinumazure commented on #3957
@mik01aj Even if the project team doesn't think your rule is a good idea, there is nothing stopping you from writing a plugin which includes this as a rule. How about giving that a shot? Let us know if you need help getting started.

[2015-09-29 00:13] mysticatea commented on #3965
Thanks for the report.

Yes, currently we cannot overwrite envs with `false`.
And I'm fixing now :)
Related: #3915, #3958.

[2015-09-29 00:35] mysticatea commented on #3959
If there is an option that `no-shadow` and `no-undef` have ignoring specific globals, it's useful. I want it.
On the other hand, `no-redeclare` should not ignore these.

[2015-09-29 00:48] platinumazure opened #3968 "Autofix unit test fails on Windows"
Using version 1.5.1. (Well, this is really a development issue, no functional impact to consumers.)

Test "CLIEngine executeOnFiles() Fix Mode should return fixed text on multiple files when in fix mode" fails in my environment. In the `output` properties, the linefeeds are `\n`, but that code produces `\r\n` in my environment.

Output (edited somewhat for readability):

<bountysource-plugin>
---

[2015-09-29 01:04] mysticatea commented on #3961
Thanks for the report.
It's a bug of `no-invalid-this`.
I will fix it.

[2015-09-29 01:16] platinumazure commented on #3954
Pull request is in #3953.

[2015-09-29 01:29] platinumazure opened #3969 "semver devDependency insecure (REDoS)"
The [`semver` devDependency is insecure][1] at `4.1.0`. We should consider upgrading to `4.3.2` or higher.

  [1]: https://nodesecurity.io/advisories/semver_redos

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27017812-semver-devdependency-insecure-redos?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=g

[2015-09-29 02:41] platinumazure commented on #3969
Never mind, what we have in package.json is good enough and we can treat this as noise. Feel free to reopen if getting rid of the noise on David is desirable.

[2015-09-29 02:41] #3969 closed

[2015-09-29 10:34] BYK commented on #3638
@gyandeeps - how about we try to say exactly that: `found 2 spaces and 2 tabs`. We can even tell them the exact order like `found 1 space 2 tabs and 2 spaces` but that might be excessive.

[2015-09-29 13:40] Lapixx opened #3971 "Overriding Promise does not trigger errors"
**What version are you using?**
v1.5.1

**What did you do?**
We recently upgraded to Node 4.0.0 which includes Promises by default. As we have been using Bluebird Promises before, we want to remove this dependency where possible, and rename the variables we assign Bluebird to (e.g. to something like `BBPromise` to easily see the difference with native Promises).

JSHint always reported about the `

[2015-09-29 13:49] gyandeeps commented on #3971
I think this is the rule you are looking for: http://eslint.org/docs/rules/no-native-reassign

[2015-09-29 14:03] Lapixx commented on #3971
Damn, have been looking through the docs forever.

Looks like only [no-redeclare](http://eslint.org/docs/rules/no-redeclare) with `{"builtinGlobals": true}` does the trick, which is a bit weird because the docs make me think that this should behave the same as [no-native-reassign](http://eslint.org/docs/rules/no-native-reassign) in this case.

So thanks for pointing me in the right direction! My p

[2015-09-29 14:05] gyandeeps commented on #3971
I will furthur investigate this.
@ilyavolodin any feedback here?

[2015-09-29 14:10] ilyavolodin commented on #3971
I think this is correct behavior for all rules involved. This should not be flagged by `no-shadow` since, it's not really shadowing anything (same scope as built-in Promise). This should not be flagged by `no-native-reassign` because you are not assigning new value to an existing variable, you are creating a new variable with the same name as an existing variable - hence `no-redeclare`.

[2015-09-29 14:14] Lapixx commented on #3971
@ilyavolodin Makes sense. Trying to `Promise = require("bluebird");` triggered `no-native-reassign` (and also `no-undef` for that matter) indeed. I guess I didn't read correctly, thanks anyway :)

[2015-09-29 14:20] mzgol commented on #3951
Yeah, I've used npm@3, it works fine with npm@2.

I hope it gets fixed soon! Node 5 that will arrive in less than a month (next releases will come in 6 month intervals, this is the last release coming so shortly after the previous one) will have npm@3 included so breaking with npm@3 will mean not supporting Node 5.

[2015-09-29 14:21] gyandeeps commented on #3971
Alright thanks everyone for the discussion.

[2015-09-29 15:29] michaelficarra commented on #3971
@ilyavolodin

That's not true. Top-level lexical declarations in modules shadow bindings in the global scope (see [ES2015 §15.2.1.16.4](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-moduledeclarationinstantiation)). `no-shadow` should catch those. Top-level *vars* are just redeclarations of globals.

[2015-09-29 15:50] #3922 closed

[2015-09-29 15:54] nzakas commented on #3949
Sorry, I think our current approach is best. I'd rather check tests first, commit message last. You can always check your commit message locally: http://eslint.org/docs/developer-guide/contributing/pull-requests#step-6-double-check-your-submission

[2015-09-29 15:54] #3949 closed

[2015-09-29 15:54] #3940 closed

[2015-09-29 15:55] nzakas commented on #3952
@TrySound what's the reason to upgrade?

[2015-09-29 15:55] #3954 closed

[2015-09-29 15:58] nzakas commented on #3358
We can't do cross-rule configuration validation.

Having a separate rule means you are being explicit. `id-match` isn't really for blocking specific identifiers, it's for defining a set of allowable identifiers. An `id-blacklist` for would then work to further limit that set.

[2015-09-29 16:03] damonmcminn commented on #3940
Brilliant, thanks! :smiley:

[2015-09-29 16:08] nzakas commented on #3962
@omuryolcu you haven't told us the line number information. Which line is being reported? Which line did you expect to be reported?

[2015-09-29 16:11] nzakas commented on #3966
I don't see us adding a rule just to block use of one variable. #3358 is somewhat related.

Maybe we could have a rule that complains on the use of a user-specified list of variables.

@kileras can you explain the use case you're thinking of? Also, note the link to our rule proposal guidelines in the first comment

[2015-09-29 16:13] nzakas commented on #3957
As @lo1tuma suggested, this isn't an area where ESLint is the best tool, as each file is looked at separately.

[2015-09-29 16:13] #3957 closed

[2015-09-29 16:16] nzakas commented on #3965
#3915 is the same, let's track there

[2015-09-29 16:16] #3965 closed

[2015-09-29 16:18] nzakas commented on #3959
@Lexicality can you explain what you're saying from ESLint? I'm not understanding your use case.

[2015-09-29 16:19] michaelficarra commented on #3966
@nzakas It's different from #2258 because it's not a "bad identifier"; you just don't want to reference a global of that name. Shadowing that global should be fine because you'd like to pretend it isn't even there.

[2015-09-29 16:28] nzakas commented on #3951
I'm really hating npm 3 these days. Really sucks that they've broken peer dependencies so royally.

The only good solution here is for us to depend on estraverse directly and manually add in the JSX node references (basically, copy estraverse-fb into an ESLint source file).

[2015-09-29 16:30] nzakas commented on #3966
I know it's different, hence the word "somewhat" :)

I'm trying to cross reference rules dealing with identifiers because there are a lot.

[2015-09-29 16:34] ilyavolodin commented on #3971
@michaelficarra I was thinking about it as I was writing my response. However, those are mechanics of the language itself. I'm not really sure it would be obvious to anyone outside of a few people who really know how global scope works in modules. And since this error is correctly reported by `no-reassign` already, I think it achieves expected result. We want to avoid situations where the same err

[2015-09-29 17:09] omuryolcu commented on #3962
hey @nzakas there is a bug on that linter but I think I'm too tired to explain it correctly. I've moved on since reporting the issue btw.

The reporting on the third one should be marked as faulty. The variable dropdownContentValue is already declared at the very top (not visible on the screenshot) however the other ones are still marked.

The variable at the bottom should be marked as it's the on

[2015-09-29 17:09] #3962 closed

[2015-09-29 17:22] nzakas commented on #3971
Remember, node environment adds an extra scope, so `const Promise` is a shadow and not a redeclare. `no-shadow` should be able to flag that.

[2015-09-29 17:25] ilyavolodin commented on #3971
In that case, should `no-redeclare` not mark it?

[2015-09-29 17:55] Sensiblemnd opened #3973 "package.json error on npm install IGNORE"
npm install -g eslint

npm ERR! Darwin 13.4.0
npm ERR! argv "node" "/usr/local/bin/npm" "install" "-g" "eslint"
npm ERR! node v0.12.1
npm ERR! npm  v2.7.4
npm ERR! file /Users/34903/.npm/es6-iterator/0.1.3/package/package.json
npm ERR! code EJSONPARSE

npm ERR! Failed to parse json
npm ERR! No data, empty input at 1:1
npm ERR!
npm ERR! ^
npm ERR! File: /Users/34903/.npm/es6-iterator/0.1.3/package/

[2015-09-29 17:57] Sensiblemnd commented on #3973
IGNORE

[2015-09-29 18:05] ilyavolodin commented on #3973
I assume Ignore means that this is not an issue? Closing. Feel free to reopen if this is still a problem.

[2015-09-29 18:05] #3973 closed

[2015-09-29 18:14] IanVS commented on #3951
This has been brought up previously in https://github.com/eslint/eslint/issues/3890 as well.

It sounds like there may be a fix coming upstream in NPM.  Is it worth adding the `blocked` label and waiting for that fix?

[2015-09-29 19:06] alberto commented on #3946
I can't get a failing test case.
This is passing in master:
[code]

[2015-09-29 19:15] alberto commented on #3668
@mysticatea are you working on this?

[2015-09-29 19:21] ilyavolodin commented on #3962
@omuryolcu Sorry, I don't see any problem in @michaelficarra response. He just simply stated the fact that switch cases do not create separate scopes in ES6, and as such, based on the information you provided the rule was reporting the right errors.

[2015-09-29 19:30] alberto commented on #3946
Ok, this one fails:
[code]

[2015-09-29 19:38] nihey commented on #1663
`eslint .` lints all `.js` files recursively. But I have a project full of `.jsx` files, and my `.eslintrc` has:
[code]
In this case, `eslint .` doesn't seem to be looking for any of the `.jsx`.

This is not a critical issue to me, as there are ways to work around it. But what do you think? Should it look for the `.jsx` files?

[2015-09-29 19:57] alberto commented on #3946
@nzakas do you mean there shouldn't be any checks for super, like there aren't for this?

[2015-09-29 19:57] keithamus commented on #3358
Okay, makes sense, I see your point. I'll get to work on this.

[2015-09-29 20:34] omuryolcu commented on #3962
Never mind.

[2015-09-29 21:00] dferber90 opened #3974 "make location of root eslintrc file available to rules"
**The problem I want to solve.**
In Meteor the location of a file implies the values of `Meteor.isClient` and `Meteor.isServer`. It also determines whether some methods are available or not, e.g. `Meteor.publish` is only available if the file is located in `project/server/`, but not if it's in `project/client/` or  `project/client/server`. To enable rules that correctly understand the context of t

[2015-09-29 21:05] alberto opened #3975 "Implement auto fix functionality for computed-property-spacing"
I can work on this one.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27043375-implement-auto-fix-functionality-for-computed-property-spacing?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tra

[2015-09-29 21:13] mysticatea commented on #3668
@alberto No yet. I am happy if you work on this :)

[2015-09-29 21:16] alberto commented on #3668
Thanks, I'll give it a try. :)

[2015-09-29 21:17] alberto opened #3976 "Implement auto fix functionality for space-unary-ops rule"
I can work on this one

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27043688-implement-auto-fix-functionality-for-space-unary-ops-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2

[2015-09-29 21:27] TrySound commented on #3952
@nzakas Smaller dependency. Smaller dependency tree.

[2015-09-29 21:32] lo1tuma commented on #3974
I think you best option would be to use `process.cwd()`. The topmost `.eslintrc` isn’t necessarily located in the project folder, you can even use eslint without any `.eslintrc` file. The `root` flag is optional and not enabled by default, you could even have multiple `.eslintrc` files where `root` is set to `true` in different subtrees of your project.

[2015-09-29 21:52] akras14 commented on #3565
Just wanted to chime in. We have a medium size project, linting 1370 (larger) files with a good number of rules in a powerful VM, and it takes about 30 seconds. It's manageable, but painful.

[2015-09-29 22:11] dferber90 commented on #3974
Thanks for your feedback. I considered the points you pointed out before opening this PR.

As getFilename provides a default when the filename is unkown, the same could be done for getRootConfigPath.

The eslint-plugin-meteor would only work in projects where an eslintrc file with `root: true` is included in the root. This would be a known limitation that exists because Meteor fails to make it's g

[2015-09-29 22:35] lo1tuma commented on #3974
ESLint doesn’t know the root path of your project, it starts looking for files in the current working directory und resolves config files relative to those files.
Your suggested solution would give you the  same result as `process.cwd()`.

-----

A different approach would be to require the users of your plugin to explicitly configure the project path via [shared settings](http://eslint.org/docs/u

[2015-09-29 23:02] dominicbarnes opened #3978 "ESLint is traversing ignored paths (but not linting them)"
I'm working on migrating to ESLint 1.x, and I encountered this error today:

[code]

The error itself is **not** the problem, as that symlink in question is definitely broken. I believe is a cross-platform issue between Mac/Linux or something. Regardless, it is an external dependency that I don't control. As mentioned before, that isn't the reason for this ticket.

That file exists in an ignored d

[2015-09-29 23:07] gyandeeps commented on #3978
Can you share the patterns you use for ignore?
Also can you run eslint using `--debug` flag and share the output?

[2015-09-29 23:46] alberto opened #3979 "Implement auto fix functionality for no-multi-spaces rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27046617-implement-auto-fix-functionality-for-no-multi-spaces-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issue

[2015-09-29 23:48] dominicbarnes commented on #3978
Sure thing, the ignore file looks like:

[code]

and the folder looks like:

 - bin/
 - build/
 - client/
 - components/
 - node_modules/
 - scripts/
 - server/
 - spec/
 - test/
 - package.json

[2015-09-30 00:03] lo1tuma commented on #3979
This could conflict with `key-spacing`.

[2015-09-30 00:17] alberto commented on #3979
How so?

[2015-09-30 00:18] alberto opened #3980 "Implement auto fix functionality for lines-around-comment rule"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27047126-implement-auto-fix-functionality-for-lines-around-comment-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=

[2015-09-30 00:23] lo1tuma commented on #3979
If `key-spacing` is configured with align on value or align on colon then multiple spaces are required. There is an exception in `no-multi-spaces`, `exceptions: { Property: true }`, which is on by default, but could be disabled.

[2015-09-30 00:31] lo1tuma commented on #3980
This could conflict with `linebreak-style`.

[2015-09-30 00:51] lo1tuma opened #3981 "linebreak-style doesn’t detect multiple problems per file"
The `linebreak-style` rule only reports the first problem that was detected, even if there are more.

When running following command

[code]

I get the following output:

[code]

I would expect 2 problems.

ESLint version: `1.5.1`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27047592-linebreak-style-doesn-t-detect-multiple-problem

[2015-09-30 01:40] jmm opened #3982 "ignorePattern: accept array, document"
`eslint@1.5.1`

1. `ignorePattern` should be documented as an [API option](http://eslint.org/docs/developer-guide/nodejs-api#cliengine), right? It is used, and provides parity with the CLI, so I assume the lack of documentation is just an oversight.

2. Can it please accept an array? It's passed through to `glob` as the `ignore` option (which accepts an array), and the value passed is an array by

[2015-09-30 03:37] michaelficarra commented on #3981
So if the wrong line terminators are used throughout the file (almost certainly the most common case), you want every single line to be reported?

[2015-09-30 04:08] Daniel15 opened #3985 "Add note about typeof check for isNaN"
`isNaN` gives surprising results unless you also check the `typeof` the variable is `number`. Explicitly calling this out in the documentation at http://eslint.org/docs/rules/no-self-compare so people don't end up writing broken checks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27049891-add-note-about-typeof-check-for-isnan?utm

[2015-09-30 05:56] dferber90 commented on #3974
Maybe you misunderstood my request, because the result would not be the same as cwd. The result with cwd depends on the directory ESLint is run from, right? The proposed solution would not.

I know ESLint doesn't know the root of my project, and it doesn't have to. That's not what I was saying. For this to work, the developer is required to add one `.eslintrc` to the root of his project, which has

[2015-09-30 07:19] Diokuz commented on #2621
+1 for no-console-log

[2015-09-30 08:01] dferber90 commented on #3974
Just implemented a working proof of concept. It works coupled with the `.meteor` check. Thank you once again.

[2015-09-30 08:01] #3974 closed

[2015-09-30 08:35] alberto commented on #3979
This is more of an issue with the two rules conflicting with each other rather than an autofix issue, right?

[2015-09-30 13:01] ilyavolodin commented on #1663
You have to tell ESLint that you want to lint `.jsx` files by specifying [`--ext` CLI option](http://eslint.org/docs/user-guide/command-line-interface#ext).

[2015-09-30 13:15] nihey commented on #1663
Nice catch, using `eslint . --ext .jsx` seems good enough.

[2015-09-30 14:27] ctrlplusb commented on #3611
:+1:

[2015-09-30 14:48] Journerist opened #3987 "access other files to check class relations"
I like to create a custom rule that check a class's properties and compare them to its parent's properties. Is it possible with ESLINT?

Example:

Class A has an object : {
   /**
    * JSDoc comment
    **/
    myProperty : '1'
}
Class B has an Object: {myPropertyy : '2'}

Class B extends A

The intention of this check is to find type errors. Class B has a Variable without a comment. So it should

[2015-09-30 14:50] #3555 closed

[2015-09-30 14:51] #3985 closed

[2015-09-30 14:55] Koblaid commented on #2730
I'd like to support the idea of this issue. ESLint has 177 rules right now, and I expect that I'll turn > 90% on with `[2]`. In this case it's not easy to see which rules are disabled or have a different configuration.

Inheriting from `eslint:all` would enable me to easily see the disabled rules. I'd just have to disable the rules that I don't like.

Also writing all 177 rules to the config file

[2015-09-30 14:58] #3955 closed

[2015-09-30 15:00] #3684 closed

[2015-09-30 15:19] ilyavolodin commented on #3987
You can only do this if both `Class A` and `Class B` are located in the same file. ESLint works on each file individually.

[2015-09-30 16:34] nzakas commented on #3971
Correct. In the node environment, it's not a redeclaration, it's shadow.

[2015-09-30 16:35] nzakas commented on #3951
Let's just fix it on our side. I have little faith that an npm fix is coming soon.

[2015-09-30 16:35] nzakas commented on #3946
Yup

[2015-09-30 16:36] nzakas commented on #3975
Go for it

[2015-09-30 16:36] nzakas commented on #3976
Go for it

[2015-09-30 16:37] nzakas commented on #3952
We are currently in the process of redoing ignore files without minimatch, so it will be removed soon.

[2015-09-30 16:37] #3952 closed

[2015-09-30 16:40] nzakas commented on #3978
In order to create the list of files to lint, we first traverse all files and folders, then we remove the ones that should be ignored. I'm not sure there's another way to do it right now.

[2015-09-30 16:41] nzakas commented on #3980
Yeah, I don't think we can do this right now.

[2015-09-30 16:41] #3980 closed

[2015-09-30 16:46] nzakas commented on #3982
Sounds reasonable.

[2015-09-30 16:50] nzakas commented on #3981
IIRC we did this intentionally because otherwise you would get spammed if the entire file is formatted incorrectly. I'm not sure it's a good idea to do that.

[2015-09-30 16:52] nzakas commented on #3979
I think this is okay. It's possible to set up these two rules so they conflict, but I think it's rational to assume people will set them up to not conflict.

[2015-09-30 16:53] #3987 closed

[2015-09-30 17:24] TrySound commented on #3952
@nzakas Okay, now it's smaller.)
https://github.com/kaelzhang/node-ignore/commit/d49ca605e289fdd7743a94cab673721f59139f11

[2015-09-30 17:33] dominicbarnes commented on #3978
Given my `.eslintignore` file, it is not ambiguous that the `components` directory should be excluded altogether.

Is ESLint currently traversing `node_modules` in this fashion too? If not, there's no reason the same can be applied to other ignored directories. If so, it's a big opportunity for improving performance.

[2015-09-30 17:46] dominicbarnes commented on #3978
Ah, I see what you mean now, generating the list of files is being done by `glob`, and the ignores are [being passed in as an option](https://github.com/eslint/eslint/blob/13c9e989c063321bfe1a1feb61e90b91adc2cee4/lib/cli-engine.js#L510). I'll investigate a little further, maybe this needs to be submitted upstream.

[2015-09-30 17:56] kileras commented on #3964
Hi again,

I actually have the opportunity to check this again as I had the feeling that I was forgetting something about the event global and I found out that is actually not a global, or at least it is not in a consistent way. So basically event is a global variable in Webkit/Blink and Trident engines, but it is not in Gecko so in firefox if you do:
[code]
It will failed and said that event is n

[2015-09-30 17:57] dominicbarnes commented on #3978
All right, thanks for your time! I'm going to submit an issue upstream with `glob`, as I think I've found something. In the meantime, using `components/**` works and does not throw the same error. (a reasonable workaround, at least in the short-term)

[2015-09-30 18:14] kileras commented on #3966
Well the global event variable is a magic variable that was created a really long time ago as the way of inline event listeners to have access to the event object like:
[code]
Nowadays thats not used anymore, or shouldn't at least, so the use of that globally defined event variable should be avoided and it's a bad practice and the event listener receive an event object. Also In some situations, as

[2015-09-30 18:26] michaelficarra commented on #3964
Wow, fringe legacy web features are weird...

[2015-09-30 18:29] ilyavolodin commented on #3964
@kileras Just to confirm, are you saying `event` should be added to globals or shouldn't be?

[2015-09-30 18:33] lo1tuma commented on #3981
I see. If we want to implement auto fixing for this rule I think we need to
report every problem.
So we need to decide what would be more valuable.
On Sep 30, 2015 6:50 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-09-30 18:35] alberto commented on #3981
I'm sorry, I didn't realize this was not already accepted.

[2015-09-30 18:40] alberto commented on #3980
You could find out the linebreak-style from the document itself and use that.

[2015-09-30 18:50] lo1tuma commented on #3980
This could be still different to what you have configured for
linebreak-style.
On Sep 30, 2015 8:40 PM, "alberto" <notifications@github.com> wrote:

[2015-09-30 19:00] alberto commented on #3980
As it works right now, it only raises one error per file, as it is being discussed in #3981. If it doesn't match what is configured for linebreak-style it means that file already has incorrect linebreaks, so it won't add new errors.

It could be a problem if you decide to change that rule behaviour to report all errors.

There is no way to read the configuration for another rule, right? At least `

[2015-09-30 19:16] lo1tuma commented on #3980
What I was trying to say is, that you can’t figure out the linebreak-style from the file itself because you don’t know how linebreak-style is configured and if the current file would cause raising an error by linebreak-style. It doesn’t really matter how many errors are reported.

Currently there is now way to get the configuration of other rules.

[2015-09-30 19:23] alberto commented on #3980
What I meant is that if you guess it from the file and you get it wrong (because linebreak-style is configured otherwise), that means the file already had at least one error causing that file to be reported.

[2015-09-30 19:37] lo1tuma commented on #3980
You are right, but I still think detecting the linebreak style could be problematic, e.g. if you detect `\u2028` instead of `\r\n` or `\n`.

[2015-09-30 20:14] jamestalmage opened #3993 "global CLI should check for local installation"
If you have installed `eslint` globally and run `eslint` from the command line, it should check to see if there is a local installation in `node_modules` and preferentially run that version.

Many build tools follow this pattern (`gulp` and `grunt` to name a few popular ones). If you have installed `eslint` as a (dev)dependency of your project, you almost certainly want that version and set of plu

[2015-09-30 21:33] nzakas commented on #3981
Good point. We should try to get some input from our users before going forward.

To summarize: right now, we only warn on the first instance of an incorrect line break, assuming that if there's one problem, you'll reformat the whole file. However, auto-fixing is tied to individual lint messages, so we must have a message for each fix in case the fix cannot be applied.

To make this rule auto fix,

[2015-09-30 21:40] alberto commented on #3981
It could also be a configuration option for the rule.

[2015-09-30 21:45] nzakas commented on #3981
That would be hard to manage, as those who want auto-fixing might not realize the difference between the two modes.

[2015-09-30 21:48] #3979 closed

[2015-09-30 21:48] #3975 closed

[2015-09-30 22:21] alberto commented on #3981
Well, that's what the docs are for. ;)

Just for reference, I checked JSCS and they have a `reportOncePerFile` config option: http://jscs.info/rule/validateLineBreaks.html

[2015-09-30 22:23] alberto commented on #3981
Another option would be to report all the errors only when in auto-fix mode (if there is a way to check that).

[2015-09-30 23:46] jmm commented on #3982
Great, thanks. I'll be back.

Can you please just take a look and comment on where I put the new test? I made my best guess about where it fit in.

[2015-10-01 00:00] Scotchester commented on #3938
:+1: Yes, please!

[2015-10-01 00:39] ilyavolodin commented on #3982
If the change is in `ignored-paths` then the test should go into corresponding file as well.

[2015-10-01 00:47] hzoo commented on #3981
Maybe postpone warning on every instance until autofix is implemented?

[2015-10-01 00:54] gyandeeps opened #3994 "Add load performance check inside perf function"
Current perf function inside Makefile calculates the runtime performance of eslint. I want to add load performance of eslint to it so that it would help us determine the impact whenever new dependencies gets added to the project.

We recently improved our load performance: https://github.com/eslint/eslint/pull/3931

We can use [load-perf](https://github.com/gyandeeps/load-perf) module by consuming

[2015-10-01 01:39] mysticatea commented on #3959
Although I think what I will say in this comment is too peculiar as the core rule, I try to say.

----

The `browser` environment has many variables of general names: `name`, `top`, `event`, ...

This can make ESLint missing detection of typo.

[code]

This pattern, `nama` and `name` are not warned.
Before, I had sometimes gotten a mistake while I was renaming variables for refactoring because of

[2015-10-01 01:46] mysticatea commented on #3993
Related: https://www.npmjs.com/package/eslint-cli

If this issue is accepted, I will remove the tool in future.

[2015-10-01 01:49] mysticatea commented on #3994
:+1:

[2015-10-01 02:36] jmm commented on #3982
@ilyavolodin Thanks. I think I have it in the right file, I was less certain about which `describe` block:
https://github.com/eslint/eslint/compare/master...jmm:ignore-pattern-array

[2015-10-01 06:13] saadq opened #3995 "Unexpected token ILLEGAL with escaped quote"
I'm having an issue caused by this line of code:

    let suffixes = [', '\'', '2'];

I basically want the second value in that array to be a single quote, but eslint is complaining about it. Is there any way to stop an error from coming?

v1.5.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27078986-unexpected-token-illegal-with-e

[2015-10-01 06:22] saadq commented on #3995
Sorry, my mistake.

[2015-10-01 06:22] #3995 closed

[2015-10-01 06:31] Lexicality commented on #3964
Bear in mind that in certain versions of IE (I think <9) `window.event` is the *only* way to access the current event.
This doesn't matter if you're using jQuery, but if you're mucking about with events manually it's more important.

[2015-10-01 06:36] mysticatea opened #3996 "`space-in-parens` warns multiline with a comment."
When there is a comment after an opening parenthesis, this rule warns spacing which is between the parenthesis and the comment.
This behavior is different from other spacing rules (`block-spacing`, `object-curly-spacing`, `computed-property-spacing`, `array-bracket-spacing`)
Is this intended behavior?

[code]

v1.5.1

![image](https://cloud.githubusercontent.com/assets/1937871/10214022/055945cc-68

[2015-10-01 08:34] kileras commented on #3964
@ilyavolodin I'm saying that it shouldn't be added since thats not true for all the browsers. If someone needs it for some specific reason then they can add it themselves but it shouldn't be a default.

@Lexicality I'm afraid that's not actually true, I think you may be confusing the fact that IE prior to version 9 didn't have addEventListener and you need to use attachEvent, but that method also

[2015-10-01 09:57] terebentina opened #3997 "cli --stdin --stdin-filename not working"
I am trying to run eslint with the following args:

`node node_modules/eslint/bin/eslint.js --format=checkstyle --stdin --stdin-filename /full/path/to/BaseView.jsx`

Nothing happens and the process never returns, I need to ctrl+c interrupt it.
Running `node node_modules/eslint/bin/eslint.js /full/path/to/BaseView.jsx` works but I need it working with the above command. I tried with eslint 1.3.1 to

[2015-10-01 10:11] lo1tuma commented on #3997
ESLint waits until it receives the file content via stdin. In your example you didn‘t provide any data to stdin.

[2015-10-01 10:14] terebentina commented on #3997
[code]
So according to the help shown on the command line, the content to stdin should have came from `--stdin-filename`.
Besides, I tried using just `--stdin-filename` without `--stdin` and it simply returned the help (usually meaning there was an error with my command).

[2015-10-01 10:24] kunalgolani opened #3998 "Duplicate key 'undefined'"
Happens when I have two spread operators in an object literal, like:

    var foobar = {
        ...foo,
        ...bar
    };

eslint version 0.24.1

checking if this has been fixed in a newer version

[2015-10-01 10:36] kunalgolani commented on #3998
Updating eslint fixed this

[2015-10-01 10:36] #3998 closed

[2015-10-01 11:05] lo1tuma commented on #3997
`--stdin-filename` is only used for reporting. If you use stdin ESLint can’t determine the filename automatically, so you have to provide it via `--stdin-filename`.

[2015-10-01 11:23] terebentina commented on #3997
I see, thank you for clarifying

[2015-10-01 11:23] #3997 closed

[2015-10-01 12:31] BigstickCarpet commented on #2965
Any update on this?  It seems that everybody is in agreement about the right way to fix it, and the code has already been committed by @mathieumg.   Will this fix be included in the next version of ESLint?

[2015-10-01 12:41] mathieumg commented on #2965
I still have to add tests, update the documentation and get it reviewed by collaborators. (Plus rebase my changes on top of master, they were made on ESLint 1.3) School has started again so I'm really busy with that nowadays, but perhaps I can put in some time to move this past the finish line during "reading week" in a week and a half. Of course, if it's more urgent I wouldn't mind if anyone took

[2015-10-01 14:37] OliverJAsh opened #3999 "Unexpected token < for script tag in HTML file"
When I have a script tag in a HTML file, ESLint gives me this error:

[code]

That's fine. When I use the `eslint:recommended preset`, however:

[code]

I get this error:

[code]

Why is ESLint trying to lint the HTML file without the HTML plugin, only when I enable the preset?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27089554

[2015-10-01 14:39] OliverJAsh commented on #3999
ESLint v1.5.1.

[2015-10-01 14:52] gyandeeps commented on #3999
Can you gives us an insight on how you call eslint to run?

[2015-10-01 14:54] OliverJAsh commented on #3999
I was just doing `eslint foo.html`, where `foo.html` is:

[code]

[2015-10-01 15:24] ilyavolodin commented on #3999
Can you share your .eslintrc file please?

[2015-10-01 15:28] OliverJAsh commented on #3999
@ilyavolodin I shared that in my original post. See the code with comment `.eslintrc`.

[2015-10-01 15:38] ilyavolodin commented on #3999
I assume that what you shared is an incomplete config, since it doesn't mention anything about `eslint-plugin-html`. Could you provide a full config?

[2015-10-01 15:40] danyshaanan opened #4001 "New rule: no-unneeded-match"
I'm opening this issue now only after I've created the RP: https://github.com/eslint/eslint/pull/4000

**When does this rule warn? Please describe and show example code:**

`no-unneeded-match` catches uses of `String.prototype.match` which are used only for their boolean value, which therefore be better written with `RegExp.prototype.test`:

[code]

**Is this rule preventing an error or is it styl

[2015-10-01 15:42] OliverJAsh commented on #3999
I don't actually need to add the plugin to my ESLint config for it to pick it up, oddly. The error occurs with the exact code described above, whenever there's a copy of `eslint-plugin-react` inside `node_modules`.

[2015-10-01 15:45] lo1tuma commented on #4001
Should this only work when `match` is called on string literals or even for identifiers?

The latter could be problematic because you don’t know if `match` is the same as `String.prototype.match`.

[2015-10-01 15:49] ilyavolodin commented on #3999
Hmm... Ok, that's very strange. Would you mind running eslint with `--debug` flag for both cases, and providing output for each of them here? It looks like eslint might be picking up some stray config from some other location. ESLint have absolutely no knowledge of any plugin (including `eslint-plugin-html`) until they are declared in config file, so it must be coming from somewhere.

[2015-10-01 15:51] gyandeeps commented on #3993
Currently, the plugin installation is strongly tied to the installation of eslint (location wise).
How would this change impact the current functionality?

I would not quote grunt as its so unstable (very frustrating) with loading of its plugins just because of the nature of grunt-cli and other things.

Personally, I would keep using `eslint-cli`, if you need functionality like this.

[2015-10-01 15:57] ilyavolodin commented on #3993
As far as I understand, if you have local copy of eslint installed in the directory you are linting, it will use local plugins as well. @jamestalmage would you mind profiling performance difference by running `npm run perf` with and without your change?
In general, I think it's a good change, but I'm a bit worried about performance impact.

[2015-10-01 15:57] OliverJAsh commented on #3999
[code]

[code]

[2015-10-01 16:09] ilyavolodin commented on #3999
Ok, so the issue with `Unexpected token <` is expected and correct behavior. You are passing in html file into ESLint without the use of processor. ESLint will pass it into Espree which will try to parse it and fail, since it's not a valid javascript file.
I'm much more confused by the behavior you saw without the use of `eslint:recommended`. Would you be able to reproduce that issue again, and pr

[2015-10-01 16:09] danyshaanan commented on #4001
@lo1tuma You are right. It only works on string literals, yeah. I don't see any reasonable way to work around it.

[2015-10-01 16:11] OliverJAsh commented on #3999
Sure:

[code]

[2015-10-01 16:12] OliverJAsh commented on #3999
Seems like without the config, it loads the plugin. :confused:

[2015-10-01 16:14] ilyavolodin commented on #3999
Ahh.. ok, do you have an .eslintrc file in your `~/` directory. It looks like even though you have .eslintrc file locally, it's empty and eslint considers it non-existing, so it looks into your home directory for a config file. Maybe config file in your home directory uses `eslint-plugin-html`?

[2015-10-01 16:19] julien-f commented on #3946
@nzakas I think the problem is more general (#3878 for instance), I think the rule should not applied when a keyword is used in place of an expression which can be the case for `super`, `yield` and `await` for example.

[2015-10-01 16:21] OliverJAsh commented on #3999
Aha! Yes, that's it.

I thought ESLint config worked by traversing the file system and merging configs, so `~/.eslintrc` would be merged with `project/.eslintrc`.

[2015-10-01 16:21] #3999 closed

[2015-10-01 16:43] aparajita opened #4002 "brace-style "allman" fails with switch"
**What version are you using?**

v1.5.1

**What did you do?**

Using `"brace-style": [2, "allman"]`, I wrote the following code:

[code]

**What happened?**

eslint flagged the `switch` with the message "Opening curly brace does not appear on the same line as controlling statement.".

**What did you expect to happen?**

Nothing. With "allman" style the opening curly brace should be on the next lin

[2015-10-01 16:49] aparajita commented on #4002
I looked around and I could not find an example of `switch` in the `allman` style, but since the `allman` style is all about putting braces separate from the control statement, it seems to me the current implementation is incorrect.

[2015-10-01 16:50] ilyavolodin commented on #4002
Reproducible in the online demo. I agree. In allman style all braces should be on separate lines.

[2015-10-01 17:05] lo1tuma commented on #4002
Looks like a duplicate of #3903.

[2015-10-01 17:11] ilyavolodin commented on #4002
Ahh! Thanks @lo1tuma Forgot that it's already been fixed. Closing in favor of #3903 which has already been fixed.

[2015-10-01 17:11] #4002 closed

[2015-10-01 17:20] aparajita commented on #4002
Sorry guys, but that code is wrong. Comparing with "1tbs" is wrong, because "stroustrop" then fails to do the right thing. My version is correct.

[2015-10-01 17:39] aparajita commented on #3903
@ilyavolodin Comparing with "1tbs" is wrong, because "stroustrop" then fails to do the right thing. #4003 is correct.

[2015-10-01 17:44] lo1tuma commented on #4002
@aparajita So you are saying the fix for #3903 introduced a new bug? If so, can you please file a new issue an give an example what kind of code causes the new bug?

[2015-10-01 18:02] aparajita commented on #4002
Sorry, I don't have time. My version works.

[2015-10-01 18:26] aparajita commented on #4002
@lo1tuma It's quite unfair for you to ask me to show you why a wrong fix was accepted when I made the correct fix already. Isn't it your responsibility to verify the fixes?

[2015-10-01 18:50] ilyavolodin opened #4004 "brace-style stroustrup fails on switch statement"
With the latest master `brace-style` with stroustrup option will fail on the following code:
[code]

error message returned by ESLint is:
[code]

This is a result of #3904. @aparajita already provided a PR with a fix for this issue here: #4003

P.S. I think error message is also incorrect and should point to the brace that is causing a problem

<bountysource-plugin>
---
Want to back this issue? **

[2015-10-01 18:57] ilyavolodin commented on #3994
:+1:

[2015-10-01 19:18] jamestalmage commented on #3993
As long as that is `eslint` standard behavior when it is run locally (with `npm run lint`, etc), then yes that is correct. The shim simply works by looking to see if a copy is available in `./node_modules`, and then requiring, otherwise it requires the one installed alongside it. Once that decision is made, the shim is out of play. From there on, it is all native requires (I am not intercepting re

[2015-10-01 20:01] jamestalmage commented on #3993
@grandeeps

I only quoted grunt-cli because it is popular. I looked at how each of the examples I mentioned implemented this feature, and was bewildered at the complexity (a big reason why I created `fallback-cli`). They do a lot of "things" before getting on with executing the actual cli implementation. A common strategy is to parse `process.argv`, and turn it into an `options` object to pass to

[2015-10-01 20:10] lo1tuma commented on #4002
@aparajita I haven’t asked you why the fix for #3903 was accepted. My question was what kind of new bug this fix introduced. Anyway @ilyavolodin filed an issue for this #4004.

[2015-10-01 20:10] #3976 closed

[2015-10-01 20:12] nzakas commented on #3981
@hzoo that doesn't really help because it's easy to implement auto-fixing.

[2015-10-01 20:19] nzakas commented on #3959
We can't really talk about solutions until @Lexicality defines a problem. Right now we don't have enough detail to know what the real issue is.

[2015-10-01 20:19] lo1tuma commented on #3993
Is there still a way to explicitly run the global eslint version even if a local eslint version exists?

[2015-10-01 20:20] nzakas commented on #3996
I think that's a bug.

[2015-10-01 20:25] jamestalmage commented on #3993
Not in this PR, and not a feature `fallback-cli` supports at the moment. I could easily add that if people want.

[2015-10-01 20:25] nzakas commented on #3964
@kileras not quite true. If you attach an event handler using DOM 0 style (onclick=) in IE <9, you still need window.event. Since this is present in nearly every browser, I'm not sure I see a good argument for removing it.

[2015-10-01 20:28] nzakas commented on #4001
We already decided against adding such a rule in #3477 because this is very limited. I think it's best left as a custom rule.

[2015-10-01 20:29] nzakas commented on #3946
Yeah, I think that's correct. Can you provide some test cases that fail right now?

[2015-10-01 20:30] nzakas commented on #4004
It looks like #4003 deals with Allman style, not stroustrup as this issue reports. Are there two bugs?

[2015-10-01 20:30] ilyavolodin commented on #3981
I like @alberto suggestion about reporting all errors only when `--fix` flag is passed in. I don't think I would want to see an error per line in the error report.

[2015-10-01 20:33] nzakas commented on #3994
:+1:

[2015-10-01 20:35] nzakas commented on #3981
That would mean a rule behaves differently based on the mode - are we comfortable with that?

[2015-10-01 20:37] ilyavolodin commented on #3993
Performance increase seems negligible. I would be fine with this feature and it might help new users. However, I do have a few points that I think would be problematic. This change would make it significantly harder for us to debug new issues (since not all users might be aware of this feature). It also makes it near impossible to run global installation of ESLint. First issue can be resolved by o

[2015-10-01 20:39] ilyavolodin commented on #3964
I think I agree with @nzakas 3 out of 4 major browsers have it as default. Unless you are coding specifically for firefox, linter should be able to notify you of issues that are related to global `event`.

[2015-10-01 20:42] ilyavolodin commented on #4004
#4003 fixes the same issue that #3904 fixed. The only difference is #3904 introduced a new issue reported here, and #4003 does not. It's basically all in this line of code: https://github.com/eslint/eslint/pull/4003/files#diff-224abf2dae2a4049db4b0ff3ae3e8d90R185

[2015-10-01 20:43] nzakas commented on #3993
What sort of debug problems are you thinking of? If -v still works, won't that give us the info we need?

[2015-10-01 20:43] jamestalmage commented on #3993
@lo1tuma @ilyavolodin
How do you want to trigger the use of global? A `--use-global` flag?

Note that it would be easy to support when run directly from the command line, hard to support inside `package.json` scripts (`npm run lint`) for instance. The latter doesn't really seem to make sense anyways.

For sake of argument, why would you ever want to run the global version if a local one is install

[2015-10-01 20:43] ilyavolodin commented on #3981
Rules already behave somewhat differently based on `--fix` flag (at least from users' perspective) I think it should be fine.

[2015-10-01 20:44] nzakas commented on #4004
So should this issue say "Allman" instead of "stroustrup"? And should #4003 be fixing this issue instead of #4002?

[2015-10-01 20:51] jamestalmage commented on #3993
@nzakas
`-v` still works. So you should be fine there.

Most of the other suggestions are pretty easy to accommodate, so just let me know how you want it to look and I will update the PR.

[2015-10-01 20:51] ilyavolodin commented on #3993
@nzakas Debugging issue that I can think of are:
* Having to chaise users for specific version of eslint, because they might not run `eslint -v` from the same directory they are linting from.
* Issues with globally installed plugins not working when executing eslint through global installation
* Documentation issues. Having to explain to users that even though you are running global installation,

[2015-10-01 20:56] lo1tuma commented on #4004
We need a test for a switch statement with "stroustrup" style anyway, which isn’t added by #4003. So I think we should continue with this issue about "stroustrup".

[2015-10-01 20:56] ilyavolodin commented on #4004
Ehh.. It's a bit confusing, I know:-) Original issue was allman switch statements not being supported. #3904 fixed that, but broke stroustrup switch statements (`style === '1tbs'` vs `style!=='allman'`). #4003 should be renamed and commit message should be updated to point to this issue instead of #4002 . If @aparajita will be willing to do that, we can merge his commit, if not, we'll just need to

[2015-10-01 21:09] jamestalmage commented on #3993
Would it be a good idea to set some value like `process.env.ESLINT_INSTALLATION="local" | "global"`, then you can provide a helpful message at the point where it fails to resolve a plugin? Do users need to explicitly enable plugins? Put another way, do you have a way of knowing exactly which plugins they expect to be installed?

[2015-10-01 21:46] Cortys opened #4006 ""space-after-keywords: never" + "space-before-blocks: always" incompatible with try & `else"
Using eslint 1.5.1. This issue might be related to #1338.

I want to configure the following code style:
[code]

Obviously I have to enforce spaces before blocks via `space-before-blocks: always`. To additionally forbid things like `if () {}` I only found the `space-after-keywords: never` rule.

This however makes it impossible to write `try` and `else` statements:
[code]

I see that this configur

[2015-10-01 21:51] gronke commented on #3550
@JulianLaval could you please do a rebase against master? I'd like to merge your commit on top of https://github.com/gronke/eslint/tree/issue-2365 as @nzakas suggested in https://github.com/eslint/eslint/pull/3948

[2015-10-01 21:52] mysticatea commented on #3964
I think there is a problem, we cannot remove (overwrite) env's global variables in .eslintrc. On the other hand, we can add globals.

BTW, IE<9 will expire after 3 months.

[2015-10-01 22:29] jamestalmage commented on #3993
So, here is what I think is being requested so far:

1. Add a `--use-global`**?** flag that forces it to use the global install.
2. When preempting with the local installation, log a debug message. (`console.log`**?** or `console.warn`**?**). Is there any specific formatting**?** wording**?**
3. Provide helpful messages when the config calls for a plugin, but it is not found. Especially when we ha

[2015-10-01 23:01] machineghost opened #4007 "Request for New "curly" Option: "multi-or-nest-and-exit""
The current options for the "curly" rule are great, but it would be really nice if it was possible to express an added constraint: in order for a one-line statement to be allowed, it has to exit somehow (ie. `return` or `break` or `continue`).  In other words, this proposed "multi-or-nest-and-exit" option would be identical to "multi-or-nest", except that:

    if (foo) bar += 1;

would be invalid

[2015-10-01 23:08] machineghost commented on #4007
@eslintbot I'm neither reporting a bug nor requesting a new rule, I'm simply proposing a new option for an existing rule.  However, I'd be happy to provide any further information if I left anything out.

(And yes I do know that I'm talking to a bot ... but I assume a human will read this and let me know if more is needed.)

[2015-10-01 23:27] rich-hansen opened #4008 "JSON.strigify returns a different string for the same objects, so the cache option is less effective than it could be"
I'm passing the cache option to grunt-eslint, I see the .eslintcache file created, but I'm not seeing any material increase in speed.

eslint task took ~35 seconds before enabling cache

eslint task is taking ~35 seconds after enabling cache. This is consistent over multiple runs, with no change in the source files.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-10-01 23:27] rich-hansen commented on #4008
This is on eslint 1.5.1

[2015-10-01 23:35] gyandeeps commented on #4008
Have you tried using eslint directly to see if there is any difference?
Are you changing config between runs?

[2015-10-01 23:38] rich-hansen commented on #4008
Same exact config, same exact files.

[2015-10-01 23:39] rich-hansen commented on #4008
Also, did console.log in the grunt-eslint code to make sure config was passed properly, this is verified by the fact the .eslintcache file was created.

[2015-10-02 00:01] gyandeeps commented on #4008
I just ran things on my side and find out that cache is actually working correctly with grunt also.

Can you run eslint directly by activating the debug flag. So with first run you should see all the files. But after that you should see less number of files.
`eslint . --debug`

Important note: If a file has issue then eslint will run on that file everytime.

[2015-10-02 00:07] hzoo commented on #3981
Oh ok I don't why I was assuming everyone would use `--fix` for some reason. I would agree with @alberto's suggestion as well then.

[2015-10-02 00:52] frodosamoa opened #4009 "New rule: Multiline destructuring for many variables"
**When does this rule warn? Please describe and show example code:**

So, let's say I want to destructure lots of variables at once like so:

    const { foo, bar, baz, abc, xyz, foobar, foobaz, bazfoo, barfoo, abcxyz, xyzabc, foobarbaz, bazbarfoo } = foobarbazabcxyz;

the line length can get pretty long. Readability decreases. I think it could be useful if there was a rule that detected the amoun

[2015-10-02 00:52] lo1tuma commented on #4008
I can reproduce this.

Without cache:
[code]

With cache (after several runs without code or config changes):
[code]

I’ve enabled the `--debug` flag and couldn’t see any `"Skipping file since hasn't changed:"` message in the console output. The I’ve added a few `console.log`s manually  in the [cli-engine](https://github.com/eslint/eslint/blob/13c9e989c063321bfe1a1feb61e90b91adc2cee4/lib/cli-engin

[2015-10-02 00:53] MeoMix opened #4010 "Allow enabling of autofix via configuration"
I'm migrating from JSCS to ESLint. JSCS allowed task runners to enable auto-fixing when they called it.  Currently, I believe ESLint only allows auto-fix through the command line. It would be nice to be able to have that (easily) through a task runner.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27104025-allow-enabling-of-autofix

[2015-10-02 01:14] lo1tuma commented on #4008
Looks like `JSON.strigify` returns a different string for the same objects.
node 4.1.0
Mac OS X

-----

Maybe we should use [`json-stable-stringify`](https://www.npmjs.com/package/json-stable-stringify) or [`object-hash`](https://github.com/puleos/object-hash).

[2015-10-02 01:18] lo1tuma commented on #4009
You could use [`max-len`](http://eslint.org/docs/rules/max-len).

[2015-10-02 01:25] ilyavolodin commented on #4010
Most of the task runners (I assume you are talking about gulp, grunt, browserify, etc.) are using eslint through [CLIEngine](http://eslint.org/docs/developer-guide/nodejs-api#cliengine). We allow for fixing through API. Keep in mind that autofixing is pretty new to ESLint, and majority of tools might've not implemented it yet.