[2016-01-29 05:51] mysticatea commented on #4842
@sanyamagrawal If you installed eslint into both local and global, Atom might be using unexpected one. Could you verify it?

[2016-01-29 06:00] mysticatea commented on #5083
Ooh, よろしくです @sotayamashita :)

[2016-01-29 06:04] sotayamashita commented on #5083
@mysticatea よろしくです :smile: (Nice to meet you !!)

[2016-01-29 06:36] sanyamagrawal commented on #4842
I have installed both local and global. How do I verify that ?

[2016-01-29 06:39] mysticatea commented on #4842
Hmm, for example, the following commands can be used to verify the version of both.

[code]

[2016-01-29 06:46] mysticatea commented on #4842
Or from the stacktrace, Atom is using `/Users/sanyamagrawal/xb/node_modules/eslint`.

[code]

(I'm not sure whether this command works or not, though)

[2016-01-29 06:59] julienw commented on #5087
Right (to last comment).

Maybe the logic of "ignoring first" could be changed to "first check .eslintrc for this file, then check whether it's ignored" to be more consistent. Yet I don't see this as a urgent bug, while the current behavior is confusing. I suppose the second issue I'm mentioning is also a direct consequence of this ?

[2016-01-29 08:11] christianharke opened #5092 "ES6 class padding"
We would like to enforce padding for ES6 classes. Due to our styleguide those are treated differently than other blocks, which shouldn't be padded:

[code]

and

[code]

Is it intended to add a rule/option for treating them separately?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30325593-es6-class-padding?utm_campaign=plugin&utm_

[2016-01-29 08:32] sanyamagrawal commented on #4842
Both are v1.10.3

[2016-01-29 08:42] mysticatea commented on #4842
Hmm, strange.
To make sure, did you restart Atom after you upgraded ESLint?
If yes, I have no more idea.... :disappointed_relieved:

[2016-01-29 09:00] sanyamagrawal commented on #4842
running eslint in command line also gives the same error. I think it has to do with some dependency :( .. Have been trying to figure this out for 2 days now

[2016-01-29 09:54] sephie opened #5093 "no-fallthrough triggers on Linux build agent but not locally on OS X"
I'm using ESLint v2.0.0-beta.2 and I found a bug. I used this code

[code]
and this configuration
[code]
And got this output:
*Local (OS X):*
unreachable code triggered (correctly). fixed by commenting `break;`
no errors after that

*Build agent (Linux): *
`build	28-Jan-2016 15:06:19	  127:9  error  Expected a "break" statement before "case"  no-fallthrough`

I expected this instead:
Same output o

[2016-01-29 12:16] phcorp commented on #5009
:+1:

[2016-01-29 12:43] BenoitZugmeyer commented on #5040
I would love to see some work on processors. I already raised the issue in #3422 , and have been told that it would require too much work for now, but it could be a nice addition in the future major version. To further illustrate my needs (and apparently I'm not alone #4153 ), I made a tiny prototype of how it could work : https://github.com/eslint/eslint/compare/master...BenoitZugmeyer:plugin-api

[2016-01-29 13:18] KyleHodgetts commented on #5090
Lesson learned, always use updated versions.
Thanks a lot

[2016-01-29 13:18] #5090 closed

[2016-01-29 13:36] btmills commented on #5093
@sephie what happens if you use the default parser instead of babel-eslint?

[2016-01-29 13:40] mysticatea commented on #4729
I'm working on this.

[2016-01-29 13:42] btmills commented on #5092
This convention seems pretty common. Are class bodies sufficiently visually similar to blocks that adding an option to padded-blocks makes sense, or are they semantically different enough that it should be a separate rule? I'm leaning toward the former, but I could see arguments either way. Thoughts?

[2016-01-29 15:55] nzakas commented on #3626
We can do case insensitive to make it easy. Final list:

* "off"
* "warn"
* "error"

Maybe in the future we can also have "fix", but not right now. :)

[2016-01-29 16:08] nzakas commented on #5085
I like the idea of a different color in the middle, can you try a lighter shade of purple?

[2016-01-29 16:09] #3659 closed

[2016-01-29 16:13] SamuelEnglard commented on #5085
@nzakas I think a non purple color in the middle is better for contrast

[2016-01-29 16:14] nzakas commented on #5042
I think 3 sounds good, too

[2016-01-29 16:17] ilyavolodin commented on #3626
Sounds good to me.

[2016-01-29 16:17] nzakas commented on #5087
That's a lot more expensive, which is why we ignore first.

It's not an urgent bug, but it's not working as intended, so we need to fix before 2.0.0.

[2016-01-29 16:21] #5045 closed

[2016-01-29 16:23] TrustNik opened #5095 "Add more params to no-console rule"
Hi guys!
Thanks for the awesome tool!

So I am using eslint with recommended preset. It has **no-console** rule turned on.
That's fine, I need to check against `console.log(message)` left after development. But there are some places where I actually use `console.warn(message)` or `console.error(message)` according to the business logic of the application. And I don't want to ignore that all the ti

[2016-01-29 16:27] nzakas commented on #5093
Is it possible you're using different versions of ESLint (or babel-eslint) on your computer?

[2016-01-29 16:28] omerbalyali commented on #5085
Bottom-left is the most appropriate shade from these 4. It has enough contrast even in smaller size, like website header. Keep in mind that it surely looks different when used with other components and colors (like buttons, other sections with background etc.) So right now we can choose to "use purple", and we can tweak the shade of the color later.

![eslint-logo-purpleshades](https://cloud.githu

[2016-01-29 16:29] nzakas commented on #5092
I'm thinking the former, as well.

[2016-01-29 16:35] nzakas commented on #5085
@SamuelEnglard could be, easier to tell when you look at it. I'm not thinking it's too bad.

[2016-01-29 16:42] xjamundx commented on #3626
I like this a lot :)

[2016-01-29 16:43] xjamundx commented on #3626
Would there be any sort of complaining for invalid values?

[2016-01-29 16:45] tsaiDavid commented on #5083
Wouldn't mind helping with the Twitter at all!

[2016-01-29 16:47] ilyavolodin commented on #3626
Schema validation will complain automatically. We don't even need to implement anything for that.

[2016-01-29 16:51] xjamundx commented on #3626
@ilyavolodin :+1:

[2016-01-29 17:59] #3567 closed

[2016-01-29 18:00] nzakas commented on #3885
Working on this.

[2016-01-29 18:12] nzakas commented on #3885
Eh, once I got in here, I found that this is a bit complicated. There's a pretty difference between enforcing or disallowing semicolons and flagging unnecessary semicolons, so I don't think merging the rules actually makes sense. So, closing.

[2016-01-29 18:12] #3885 closed

[2016-01-29 18:57] q42jaap opened #5097 "Inconsistent indents depending on where object literal open bracket is placed."
ESLint: `eslint@1.10.3`

[code]
my indent settings are `"indent": [1, 2, {"SwitchCase": 1}],`

I would expect the contents of the first parameter to findAndModify not to align with the `.then` continuation.

Because, when an argument is added:
[code]
Then the object literal shifts an indentation. Imho, the choice of where the opening curly is placed should not influence where a closing `})` is loc

[2016-01-29 19:38] ilyavolodin opened #5098 "Auto-config seems to skip some rules"
I've used autoconfig branch and created 3 different configs using 3 folders in my repository. For the most part, process went pretty smoothly, however, I noticed that some rules were turned off in all 3 config files, and when I turned them on, there were no errors reported. Rules in question were `no-undefined` and `no-use-before-define`. I don't know if any other rules were off that could be on,

[2016-01-29 19:40] q42jaap commented on #4696
I have the same question about this https://github.com/eslint/eslint/issues/5097

[2016-01-29 19:49] spencerhakim opened #5099 "CLI option for printing effective configuration"
With the ability to inherit multiple other rule configurations, it'd be very helpful to be able to print out the unified configuration.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30344780-cli-option-for-printing-effective-configuration?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We acc

[2016-01-29 20:10] IanVS commented on #5098
Thanks.  Can you say what answers you chose for the questions?

[2016-01-29 20:53] ilyavolodin commented on #5098
Slightly different for all 3, but basically:
ES6 - yes,
CommonJS - yes,
Browser,
JSX - no,
Whatever the last question is (can't remember of the top of my head) - no

[2016-01-29 20:58] ilyavolodin commented on #5099
Due to the way configs cascade, you can have a different config for more or less every file that you lint. When you pass in a pattern to the linter, we have no way to identify which merged config to print. And having an option that would only work for a single file would go against our current strategy.

[2016-01-29 21:02] platinumazure commented on #5099
@ilyavolodin What about having debug code before parsing a given file which spits out the effective config for that file? Yes, that's a lot of output potentially, but users can tailor that by passing only certain files on the CLI.

[2016-01-29 21:05] BelfordZ commented on #4492
@nzakas Hey bud, After finally getting caught up after the xmas holidays I have updated and rebased the PR. Please have a look!

[2016-01-29 21:06] ilyavolodin commented on #5099
Hmm.. Maybe, but it would be a lot of extra output. And we don't really have a way of filtering debug statements right now.

[2016-01-29 21:25] nzakas commented on #5083
Thanks @sotayamashita. There's nothing very official to do, but if you hang out in the chatroom and help to answer questions, that will help!

@tsaiDavid that would be great! would you mind sending a note to the mailing list so we can discuss some of the details?

[2016-01-29 21:26] spencerhakim commented on #5099
I'm not asking for per-file config output, I just want to be able to point to a directory or specific `.eslintrc` and have it resolve. Config comments in files are definitely outside of this scope.

[2016-01-29 21:27] nzakas commented on #5099
The only real way we can do this is to have a different mode altogether, something like:

[code]

(The name `--config-calc` is horrible, let's not use that.)

In this case, ESLint would just output the calculated config for the given file without doing any linting.

[2016-01-29 21:30] nzakas commented on #5095
We can probably extend the rule so you can do something like:

[code]

Do you want to submit a PR?

[2016-01-29 21:31] nzakas commented on #5097
I'm not sure what it is you're reporting. Can you include the ESLint output and explain what it is about the output that is unexpected?

[2016-01-29 21:44] spencerhakim commented on #5099
Yep, that's more or less what I'd love to see, no need to do any actual linting in this mode. :+1:

[2016-01-29 22:27] jmm opened #5100 ""Configuring ESLint" reference to "default rules""
[Configuring ESLint](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/docs/user-guide/configuring.md) says::

While according to [Rules](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/docs/rules/README.md):

It seems that perhaps Configuring is referring to `eslint:recommended`. If that's the case, then since that's not mentioned anywhe

[2016-01-29 22:37] jmm opened #5101 "linter.verify() params documentation incorrect"
In [`nodejs-api.md`](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/docs/developer-guide/nodejs-api.md) it says:

But only enumerates 3 parameters. Inspecting the [source code and comments](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/lib/eslint.js#L644-L657) reveals these differences from what's documented:

* It accepts 3-4 argume

[2016-01-29 23:15] ilyavolodin commented on #5100
I think that's a leftover from before 1.0.0 release, where we actually had defaults. Was probably just overlooked, but should be fixed anyways.

[2016-01-29 23:17] jmm commented on #5100
Thanks @ilyavolodin!

[2016-01-29 23:18] ljharb opened #5102 "Backport @scope fix from #4803 to 1.x"
Per https://github.com/eslint/eslint/pull/4803#issuecomment-172354150

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30350368-backport-scope-fix-from-4803-to-1-x?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2016-01-30 00:38] jmlopez-rod commented on #5086
@nzakas I'm having a similar issue in which I want to disable the rule, but only for particular functions. In this case it just happens when I use angular. For now I keep the linter happy by doing something like this:

[code]

But really I would love to just do this

[code]

this is useful specially if I start adding more arguments to the constructor. In this case, by using `...arguments` the lint

[2016-01-30 04:53] tsaiDavid commented on #5083
@nzakas - totally, added a note to the group (Google Group) - you can reach out to me via email too if that makes sense: **david@whataniceguy.com**

[2016-01-30 06:41] EricHenry commented on #5095
Hi @nzakas, I believe that I have properly extended the no-console rule to what you described. This will be my first pull request / contribution to an OSS. I did my best to follow the code convention on the official documentation. However I am not sure which branch I should make the PR on, If that is not the right question, how should I proceed?
Thanks.

[2016-01-30 10:35] egoroof commented on #5040
I wish async await from ES7 parser support because `babel-eslint` isn't a good solution. Thats all.

[2016-01-30 10:59] mysticatea commented on #5040
Unfortunately, we have started implementing ES7, but `async/await` dropped from ES7 (probably).
I'm really sad :cry:

[2016-01-30 11:03] sindresorhus commented on #5040
[Browsers are implementing it now regardless.](https://twitter.com/bterlson/status/692489384654999552) I don't see why ESLint, or rather Acorn, would wait.

[2016-01-30 11:35] egoroof commented on #5040
oO didn't know about it. What is the cause?

[2016-01-30 12:09] mysticatea opened #5103 "Update `eslint:recommended`"
From #5081.
Refs #5042.

`no-unused-labels` is added to `eslint:recommended` instead of `no-empty-label`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30361014-update-eslint-recommended?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountyso

[2016-01-30 12:20] scottwoodall commented on #3784
Thank you for sharing @mantoni, it really makes a huge difference. Nice job!

[2016-01-30 14:28] jmm opened #5104 "linter.verify() `config` param under- / mis-documented"
The [`linter.verify()` docs](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/docs/developer-guide/nodejs-api.md#linter) provide no explanation of what `config` consists of, and the [source code docs](https://github.com/eslint/eslint/blob/2436cc6c1816a7890e35dab38e609daee84d7530/lib/eslint.js#L591) are incorrect:

Please consider:

* Updating the source code docs for

[2016-01-30 15:00] jmm opened #5105 "`no-empty` rule description on index page is inaccurate"
On the [Rules index](https://github.com/eslint/eslint/blob/a9fccf41e5f12610c1c358c86d996c4a28ba3223/docs/rules/README.md) `no-empty` is described as:

It should be:

I'm surprised it's not actually called `no-empty-block`, but that's another story (though you could change it for v2).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30

[2016-01-30 15:01] ilyavolodin commented on #5095
@EricHenry You should create a fork of the repository and then a new branch on in your fork, make your changes there. You create a pull request against master branch of ESLint repository.

[2016-01-30 15:11] ilyavolodin commented on #5040
@egoroof Timing. It's still stage 3 proposal, but it needs to be stage 4 by March 1 in order to be accepted. It's very unlikely that it will make it.

@sindresorhus `object.observe` was implemented in Chrome and Opera too. Would not be a good thing to implement something and then have to rip it out.

[2016-01-30 15:11] #4492 closed

[2016-01-30 15:13] ilyavolodin commented on #5104
Thanks for noticing @jmm

[2016-01-30 15:15] ilyavolodin commented on #5105
Agree. Although there is no such think in JS as empty statement in general.

[2016-01-30 15:17] jmm commented on #5105
I beg to differ :smiley_cat:

http://www.ecma-international.org/ecma-262/6.0/#sec-empty-statement

http://astexplorer.net/#/6Wg0Hfe9Ml

[2016-01-30 16:43] Aweary opened #5106 "TypeError: Cannot read property 'match' of undefined"
We're getting this error on Travis CI for some reason. The latests stable `eslint` release `1.10.3` is being used with node `4.2.6`

[code]

Our `eslintConfig` in our `package.json` is as follow:

[code]

The stack trace seems to point towards this `if` statement:

[code]

Which seems to indicate that `node.raw` is returned undefined. What are some potential root causes for something like this?

<

[2016-01-30 16:43] michaelficarra commented on #5105
Hahaha this project is hilarious sometimes. @jmm to add additional confusion, there's also a rule that reports empty statements *in the stylistic issues section* called no-extra-semi. Both of these need to be renamed very badly.

[2016-01-30 16:47] brad-decker commented on #5106
seems to relate to babel/babel-eslint#216 but validated we are on the latest of both eslint and babel-eslint.

[2016-01-30 16:49] nzakas commented on #5099
@spencerhakim do you want to submit a PR for it?

[2016-01-30 16:49] ilyavolodin commented on #5106
Can you try it without babel-eslint?

[2016-01-30 16:50] nzakas commented on #5101
Thanks, do you want to submit a PR with an update?

[2016-01-30 16:53] nzakas commented on #5095
@EricHenry we have a bunch of docs to help: http://eslint.org/docs/developer-guide/

The first two sections, getting the source code and setting up a development env, should get you started.

[2016-01-30 16:55] platinumazure opened #5107 "Suggestion: Ask for parser in eslintbot issue-create template"
Not that I expect a lot of people read that template, but for those that do, they sometimes do what it says but forget to mention a crucial detail such as using babel-eslint. I would like to propose augmenting the template so that item number 2 also references the parser.

Maybe something like this?

[code]

My feeling is we can come up with a relatively nonverbose way of asking, even if what I pr

[2016-01-30 16:56] Aweary commented on #5106
`eslint` seems to lint properly if we remove `"extend: "airbnb"`, which is where our `babel-eslint` dependency is coming from. It looks like `babel-eslint` is the culprit then.

[2016-01-30 17:05] michaelficarra commented on #5040
@ilyavolodin It's not unlikely, it's impossible now. All stage advancement has to happen at a face-to-face meeting of TC39. We don't have any more meetings before March 1.

[2016-01-30 17:07] Aweary commented on #5106
Closing since this is an issue with the `babel-eslint` `acorn-to-esprima` version `2.0.7` release.
https://github.com/babel/babel-eslint/issues/242

[2016-01-30 17:07] #5106 closed

[2016-01-30 22:59] btmills commented on #5005
Working on this.

[2016-01-30 23:04] btmills commented on #5100
Working on this.

[2016-01-31 00:13] #5005 closed

[2016-01-31 00:37] mysticatea commented on #5059
I'm working on this.

[2016-01-31 00:38] #5100 closed

[2016-01-31 00:44] sindresorhus commented on #5040
@ilyavolodin Highly unlikely that will happen to async functions. Object.observe was a more risky bet. But doesn't matter. We have Babel.

[2016-01-31 02:08] EricHenry commented on #5095
@ilyavolodin & @nzakas thanks a lot for your help and direction. I hope that the pull request is of good quality. Let me know if anything needs to be changed.

[2016-01-31 02:37] hzoo commented on #5040
@egoroof babel-eslint would be ok if eslint rules understood async/await syntax. Transforming to es5/es6 is necessary https://github.com/babel/acorn-to-esprima/blob/b20845f56af9a02b4e7ae45a97a53702e480ec34/src/toAST.js#L210-L226 since otherwise other rules would break too. The only current solution is to rewrite rules like in https://github.com/babel/eslint-plugin-babel that can account for async/

[2016-01-31 02:54] jeffmo commented on #5040
"Dropped from ES7" is probably better worded as "didn't make the train schedule for ES7". Async/await just didn't meet the formal requirements in time -- but this doesn't mean much about its eventual viability..

Async/await will ship. It's just more likely to be ready later this year than in the next month or two. Getting into the spec is a formality, what matters is what browsers and impls do

[2016-01-31 03:07] mysticatea commented on #5040
Sorry, I'm not used to English. Sure, I believe `async/await` will come to ES8 early time.

[2016-01-31 03:22] mysticatea commented on #5049
I'm working on this.

[2016-01-31 03:34] spencerhakim commented on #5099
@nzakas I'm not at all familiar with the internals of eslint, but I'm willing to try. Any hints for where to start looking?

[2016-01-31 04:45] ilyavolodin commented on #5099
@spencerhakim Here's a few links to get you started:

https://github.com/eslint/eslint/blob/master/lib/cli.js#L125
https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L690
http://eslint.org/docs/developer-guide/contributing/

[2016-01-31 05:09] #5095 closed

[2016-01-31 16:30] nzakas commented on #5107
We already ask for the config, which contains the parser, so this seems a bit redundant without adding much. If people include the config, then we have the parser, and if they don't include the config, chances are they ignored the bot comment, so adding more to it probably doesn't make a difference.

[2016-01-31 16:32] nzakas commented on #5102
2.0.0 is pretty close to being done, do people still want this?

[2016-01-31 16:42] nzakas commented on #5040
Just want to pull back the conversation a bit. This issue is for ESLint features only. What we support language-wise is dependent on what [Espree] (https://github.com/eslint/Espree) supports and so is not tied to ESLint versions.

[2016-01-31 17:22] ljharb commented on #5102
Yes, please. Releasing a new major shouldn't cause bugfixes to cease hitting a previous one, and releasing a patch should be low-cost.

[2016-01-31 17:29] platinumazure commented on #5107
My limited experience triaging recent issues has suggested otherwise, but it is quite possible that your greater experience informs your reasoning.

In that case, may I suggest just adding the word "full" before "ESLint configuration"? (Or possibly " FULL" or "*full*" for emphasis) If not, you can close this.

[2016-01-31 18:19] ilyavolodin commented on #5040
One more thing that I would want to brainstorm is ability to extend default rules. If we are planning to branch out to support typescript and flow, as well as newer features through babel-eslint, most of our built-in rules would not work correctly out of the box. It would be nice to give plugins ability to somehow extend existing rules. Not sure how to do that right, but I also don't want to see c

[2016-01-31 21:37] Kos commented on #3493
An elegant solution would be to add a parameter like `VariableDeclarator: "hanging"` that would work like (assuming indent with 2 spaces):

    let a = 10,
        b = 20,
        c = {
          foo: bar
        };
    const d = 30,
          e = 40;
    let f = [
      10, 20, 30
    ];

This is analogous to typical hanging indentation with parentheses:

    letfunc(a,
            b,

[2016-01-31 21:58] ExplodingCabbage commented on #3493
Agreed - it's unclear to me that the "multiple of normal indentation" approach ever made sense in the first place. Is there actually any use case for it other than allowing declarations to be lined up vertically?

[2016-01-31 23:48] btmills commented on #5092
Sounds good. How about this?

Current options:

[code]

New options:

[code]

This retains backward compatibility for the `[2, "always/never"]` form, which would only check blocks and not classes. It also allows blocks and classes to be configured separately: for example, I would configure this as `[2, { "blocks": "never", "classes": "always" }]`. Both `blocks` and `classes` are optional, though a

[2016-01-31 23:55] btmills commented on #5056
I just made a [proposal](https://github.com/eslint/eslint/issues/5092#issuecomment-177662072) on #5092 that would add support for class bodies. I won't cross-post the entire proposal here, but tl;dr:

[code]

That's if you all think switches should be separate from blocks. If not, then that proposal is irrelevant.

[2016-02-01 00:04] btmills commented on #5055
Working on this.

[2016-02-01 00:17] ilyavolodin commented on #5092
Would it be better if backwards compatible option configured both at the same time, and if you wanted finer control, you could do either?

[2016-02-01 00:21] pwmckenna opened #5116 "rule duplication"
I'd like to be warned if I specify a rule with the same arguments as the config that I'm extending. This is just a convenience, as I could just manually inspect the config that I'm extending, but it would be very helpful for trimming my rules down to just what is actually having an effect.

PS. Happy to take a crack at this if it is approved, though I might need to be pointed in the right directio

[2016-02-01 02:52] vilic opened #5118 "`();` should be syntax error"
v1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30396853-should-be-syntax-error?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github).
</bo

[2016-02-01 03:31] IanVS opened #5119 "Improve autoconfig debug logging"
It's difficult to troubleshoot autoconfig issues because of a lack of debug logging.  Additional debug statements should be inserted to log out the name of files being processed, the constructed options that are used when linting, and (importantly) the results registry from which config decisions are made.

Additionally, parsing errors should be displayed to user regardless of debug mode.  Otherwi

[2016-02-01 03:40] platinumazure commented on #5118
Possibly an issue with espree?

[2016-02-01 03:58] IanVS commented on #5098
@ilyavolodin, I haven't been able to reproduce this issue so far.  I've realized that I need some better logging to help troubleshoot these kinds of issues.  So, would you mind running `eslint --init --debug` while using the branch from https://github.com/eslint/eslint/pull/5120?  There will be two interesting pieces in there that would be great if you could copy in here:

1. One of the first line

[2016-02-01 04:24] platinumazure opened #5121 "Supporting auto-fix in plugins with processors"
Auto-fix for source code that was run through a processor was intentionally not implemented, presumably so we could get something working for auto-fix rather than trying to hit every corner case. I know there are still some issues with auto-fix that make it impractical to try to use it on many of our rules, but I believe this particular problem is quite solvable at this point.

Here is what I prop

[2016-02-01 04:32] bluejamesbond opened #5122 "CLI not checking subdirectories"
How can you make the `eslint` command check all subdirectories as well?

**Version**
[code]

**Attempted**
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30398317-cli-not-checking-subdirectories?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https:

[2016-02-01 04:50] AprilArcus opened #5123 "no-unreachable: break after continue in switch statement incorrectly flagged"
[code]

Reported in 2.0.0-beta.3

Seems to be a regression from https://github.com/eslint/eslint/issues/1220 / https://github.com/eslint/eslint/pull/1221

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30398568-no-unreachable-break-after-continue-in-switch-statement-incorrectly-flagged?utm_campaign=plugin&utm_content=tracker%2F282608

[2016-02-01 04:59] ilyavolodin commented on #5098
I'll try it tomorrow at work and see what I can come up with.

[2016-02-01 05:07] ilyavolodin commented on #5121
I guess I don't see a problem with doing this. Should be easy enough, I think.

[2016-02-01 05:10] ilyavolodin commented on #5122
@bluejamesbond `eslint .` or `eslint ./` should be able to check all sub-directories. Also, no need to supply config file on the command line if it's in the same folder as lintable files. ESLint will automatically find all applicable config files. If you are not sure if files are getting checked you can run `eslint . --debug` command, and you will be able to see which config is being used and whic

[2016-02-01 05:12] bluejamesbond commented on #5122
[code]
![](https://www.dropbox.com/s/tqrii4ebsfijq5m/Screenshot%202016-01-31%2023.11.30.png?raw=1)

[2016-02-01 05:12] ilyavolodin commented on #5123
Sorry, I'm not sure I understand the question correctly. `continue` statement means stop execution and go to the next loop cycle immediately. Which means `break` statement will never be executed and is not needed. Hence the "unreachable" message.

[2016-02-01 05:13] ilyavolodin commented on #5122
Do you have any files with `.js` extension? ESLint will only pick up `js` files by default.

[2016-02-01 05:17] AprilArcus commented on #5123
Oh excuse me, you're entirely correct. I'll close this issue.

[2016-02-01 05:17] #5123 closed

[2016-02-01 05:18] bluejamesbond commented on #5122
I did. Guess I overlooked the `--ext` argument. Sorry about this, seems like its good now

[2016-02-01 05:18] #5122 closed

[2016-02-01 05:41] kaicataldo commented on #5099
I'd love to work on this if @spencerhakim doesn't take this on. Been looking for a chance to get to know ESLint's internals a bit better!

[2016-02-01 06:04] pwmckenna commented on #5116
Its pretty rough, but this branch at least handles the logic of detecting and logging redundant rules that are duplicates of the config being extended: https://github.com/eslint/eslint/compare/master...pwmckenna:redundant?expand=1

[2016-02-01 08:12] TrustNik commented on #5095
@EricHenry Thank you!

[2016-02-01 08:12] sephie commented on #5093
No change as far as the fallthrough issue is concerned.

Locally, the default parser equally complains about the unreachable code
After removing the offending unreachable `break;` statements it also does not complain about the fallthrough that occurs. It should be noted that the two aren't related anyway.
I'm not able to test this on the build env on short notice, but the problem seems to lie with

[2016-02-01 08:35] sephie commented on #5093
@nzakas , both environments build from the same package.json and I've verified that the same version was used.
I've switched to ESLint v1 for now, since we're going to use it on production.

[2016-02-01 10:31] mysticatea commented on #5098
Thanks for the Great Works, @IanVS !
`eslint --init` generated what I expected almost perfect.
But I also found some missing rules, so I report it here.

Repo: https://github.com/mysticatea/npm-run-all
Log and Result: https://gist.github.com/mysticatea/1bc768a22148a71e24a9

- `eqeqeq`, `max-statements`, and `valid-jsdoc` seem to be missing.
- Some rules are turned off. e.g. I expected `space-befor

[2016-02-01 11:43] nre commented on #4832
@nzakas

The `impliedStrict` option has been merged in Escope, but I think it might be weeks/months until it is released. (I have requested a new release: estools/escope#98.) That is the only issue blocking the `impliedStrict` option in ESLint.

Would you reconsider permitting the [AST-mutation Escope workaround](https://github.com/eslint/eslint/issues/4832#issuecomment-168335647)? It would look l

[2016-02-01 15:57] ilyavolodin commented on #5116
Can you explain why you think this should be part of the core and not a stand-alone utility? I'm not sure I see this being used all that widely. Also, if we do implement this, it will need to go behind CLI switch, since it will affect performance.

[2016-02-01 15:59] ilyavolodin commented on #5118
When I run example above in the online demo for espree, I get `Line 1: Unexpected token ;` what am I missing? Can you please provide more information?

[2016-02-01 16:00] ilyavolodin commented on #5093
@sephie Is the same issue happening with ESLint v1.10.3?

[2016-02-01 16:17] gajus opened #5124 "Rule proposal: method-is-parameter-maybe"
Every function that has a name `/^is[A-Z]/` must have first parameter name `/^maybe[A-Z]`, e.g.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30415417-rule-proposal-method-is-parameter-maybe?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://

[2016-02-01 16:26] nzakas commented on #4832
Why would there be such a delay for escope?

[2016-02-01 16:34] nzakas commented on #5121
Seems reasonable. @platinumazure do you want to submit a PR?

[2016-02-01 16:36] michaelficarra commented on #4832
@nre I've published escope 3.4.0.

[2016-02-01 16:37] nzakas commented on #3493
I like the suggestion, does one of you want to try prototyping so we can take a look?

[2016-02-01 16:37] nzakas commented on #4832
Thanks @michaelficarra!

[2016-02-01 16:41] platinumazure commented on #5124
That seems awfully specific and (to my eyes) seems better as a custom rule or plugin rule.

[2016-02-01 16:42] platinumazure commented on #5121
@nzakas I can work on a PR in the next week or two, if that's acceptable. (I don't see a strong need to make 2.0.0 with this, but let me know if you disagree.)

[2016-02-01 16:43] nzakas commented on #5102
Yes, in a perfect world, you are correct. I just don't have the time or energy to backport and validate every bug fix into a previous version, nor to support multiple versions.

I'll see if I can do this easily, but I can't promise anything.

[2016-02-01 16:44] platinumazure commented on #3493
To be completely honest, I never thought it made sense either. It just happened that `var`/`let`/`const` plus space were multiples of 2, and so could be made to work with that common 2-space indentation style. But with this style, it is impossible to have the default indentation be 4 and the `const` be 6 (for alignment) without getting into floating point stuff, which just seems weird. We really s

[2016-02-01 16:46] nzakas commented on #5107
Can you share some examples of this experience?

[2016-02-01 16:47] nzakas commented on #5040
@ilyavolodin are you talking about just exposing the core rules through an API so people can access them? Or are you talking about more than that?

[2016-02-01 16:48] nzakas commented on #5121
Yup, no rush, it's not breaking.

[2016-02-01 16:48] platinumazure commented on #5107
@nzakas When I get time this week, I'll read the GitHub advanced search docs to find out what I commented on and I'll get some samples to you.

Long story short, though, I've seen a few examples where *rule config* would get posted right away, but full config would not be and we would have to ask for a parser or other info. But I'll get some evidence when I can this week.

[2016-02-01 16:48] nzakas commented on #5124
Agree with @platinumazure, this is best as a custom rule.

[2016-02-01 16:48] #5124 closed

[2016-02-01 16:55] marcstober commented on #3720
Can't reproduce on 2.0.0-beta.3.

[2016-02-01 17:35] djMax opened #5125 "error linting es6"
No idea what else to tell you, but...

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30418113-error-linting-es6?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_mediu

[2016-02-01 17:42] gyandeeps commented on #5125
@djMax Please answer all the questions from [above comment](https://github.com/eslint/eslint/issues/5125#issuecomment-178088069).

[2016-02-01 17:46] thetalecrafter commented on #5125
Same issue as babel/babel-eslint#243, estools/escope#99

[2016-02-01 17:53] djMax commented on #5125
Yep, sounds like a dupe/hot issue. I'll leave it to y'all if you want to close or keep open for tracking.

[2016-02-01 18:00] jgodi commented on #5125
Instead of using `^3.3.0` for the `escope` version, should `~3.3.0` be used to help lock the version down and circumvent these kinds of issues?

[2016-02-01 18:20] nhz-io commented on #5125
+1

[2016-02-01 18:24] #5052 closed

[2016-02-01 18:24] #5044 closed

[2016-02-01 18:25] #4729 closed

[2016-02-01 18:28] #5049 closed

[2016-02-01 18:35] nzakas commented on #5086
@jmlopez-rod if it's really per-function, then you need to manually disable it using inline comments. If you just want arguments to not count, then you can configure that: http://eslint.org/docs/rules/no-unused-vars.html#options

@chrylis I'm sorry, there's just no good way to distinguish between variables that are functions and variables that are not (given the multiple ways that functions can be

[2016-02-01 18:35] #5086 closed

[2016-02-01 18:37] nzakas commented on #5107
Thanks! I'm all for updating the comment to be more specific, just want to make sure we're not increasing the length in doing so.

[2016-02-01 18:40] dysfunc commented on #5125
+1

[2016-02-01 18:45] nhz-io commented on #5125
shrinkwrap with 3.3.0 for now

[2016-02-01 18:45] ilyavolodin commented on #5097
Closing as a duplicate of #1801 Feel free to reopen if you don't agree.

[2016-02-01 18:45] #5097 closed

[2016-02-01 19:00] omnidan commented on #5125
I'm having the same issue (Reproduction: `npm install` on [pl12133/redux-undo](https://github.com/pl12133/redux-undo)):

[code]

And the version:

[code]

[2016-02-01 19:06] nhz-io commented on #5125
## Workaround for now

1. `npm shrinkwrap --dev` your project
2. open `npm-shrinkwrap.json` and locate the `"escope": {` block
3. replace it with the following for now:
[code]

[2016-02-01 19:18] TylerBrock commented on #5125
Would you mind doing a release for this fix?

[2016-02-01 19:21] davidjnelson commented on #5125
extraneous: history@1.17.0 <path>/node_modules/history

[2016-02-01 19:21] tony99nyr commented on #5125
+1 Yeah I agree with @jgodi.  Updated patch versions only please.

By the way if you stumble on this issue and are looking for a fix right now, you can add `escope 3.3.0` to your dependencies in your package.json:

[code]

[2016-02-01 19:23] jgodi commented on #5125
For a temporary fix, I just forked eslint and updated the `1.x` branch to use `3.3.0` of `escope`. You can use it too if you would like.

Just use `jgodi/eslint#1.x` as your version.

[2016-02-01 19:24] tonyhb commented on #5125
@tony99nyr that fix works here, thanks.

[2016-02-01 19:26] nhz-io commented on #5125
Either `rm -rf node_modules/history` or `npm install --save history` to fix it

[2016-02-01 19:33] sbussard commented on #5125
+1

[2016-02-01 19:36] davidjnelson commented on #5125
@tony99nyr works great, thank you.

[2016-02-01 19:38] nzakas commented on #5092
@ilyavolodin that would make it not backwards compatible anymore. :)

[2016-02-01 19:40] nzakas commented on #5125
Closing per https://github.com/estools/escope/issues/99#issuecomment-178146025. It's a babel-eslint issue.

[2016-02-01 19:40] #5125 closed

[2016-02-01 19:44] hzoo commented on #5125
Everyone can follow https://github.com/babel/babel-eslint/issues/243 instead. Has to do with escope updating to babel 6 - will do a new release.

[2016-02-01 19:54] nzakas commented on #5087
Working on this.

[2016-02-01 20:01] nzakas opened #5126 "Remove pending tests"
I've recently noticed that when our tests run, there are three pending tests. Pending tests look like this:

[code]

I haven't been able to track down where these are, but we should remove them.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30423233-remove-pending-tests?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=is

[2016-02-01 20:05] gyandeeps commented on #5126
They were introduced here: https://github.com/eslint/eslint/pull/4467
I am not sure what the reson was. Maybe we want to activate those tests?

[2016-02-01 20:21] platinumazure commented on #5126
I looked at [lo1tuma/eslint-plugin-mocha](https://github.com/lo1tuma/eslint-plugin-mocha) and saw there was unfortunately no rule for this scenario. But I wanted to ask anyway, is it worth opening an issue in that project and then consuming eslint-plugin-mocha as a devDependency to avoid this in the future?

[2016-02-01 21:51] xjamundx commented on #3737
I may want to help on this

[2016-02-01 22:34] hzoo commented on #5040
@ilyavolodin do you mean like in https://github.com/babel/eslint-plugin-babel/pull/44/files - where we have to clone a rule and modify a part of it to take advantage of an experimental feature?

[2016-02-01 23:14] ilyavolodin commented on #5040
@hzoo Yes, exactly. I think even better example would be react rule that marks `React` as used, so ESLint wouldn't complain about it.
@nzakas I think we talked about this briefly at some point. With es7, typescript and flow, we have a lot of deviations from normal rules ahead of us. I would like to at least think about possibility of making it easier for plugins to either provide an override for a

[2016-02-02 01:20] #5059 closed

[2016-02-02 01:20] #5103 closed

[2016-02-02 01:41] vilic commented on #5118
Hmm, sorry my bad again (I've made a lot of mistakes recently). That very project is still configured to use JSHint.

[2016-02-02 01:41] #5118 closed

[2016-02-02 03:19] mkwtys opened #5130 "sort-imports: type error in ignoreCase"
type error in the case, including the import only in ignoreCase.

v2.0.0-beta.3

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30435154-sort-imports-type-error-in-ignorecase?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2016-02-02 03:27] ilyavolodin commented on #5130
@mkwtys Which parser are you using, default, or babel-eslint?

[2016-02-02 03:30] mkwtys commented on #5130
@ilyavolodin It default parser

[2016-02-02 08:12] sephie commented on #5093
No it does not happen. This issue came to light when I upgraded to the v2 beta.
v1.10.3 does not complain about any of the two errors.
To be clear, this is the code as it is now, with no errors in ESLint v1:

[code]
`break;` is unreachable and the `case` below it falls through without any error.

I hope I haven't missed anything. We're implementing Babel+ESLint and are removing JSHint+JSCS, so it'

[2016-02-02 08:33] janmarek opened #5131 "Question: More fixable rules"
Hi,
how much work would it be to make rules like comma-dangle, no-extra-parens, arrow-body-style, prefer-const etc. automatically fixable? Do you have any plans on that. Can we help?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30440941-question-more-fixable-rules?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2016-02-02 11:11] mysticatea commented on #5130
Thank you for this issue.

I could reproduce this.
I will try to fix.

[2016-02-02 13:46] MayhemYDG opened #5133 "Invalid `no-loop-func` error"
1.10.3 or http://eslint.org/demo/

Disabled every rules except for `no-loop-func`, and enabled the `es6` environment.

[code]

No `no-loop-func` error.

`6:19 - Don't make functions within a loop (no-loop-func)`

Surprisingly, if you replace
`obj[key].forEach(val => t(val));`
with
`obj[key].forEach(val => val);`
you don't get that error anymore.

<bountysource-plugin>
---
Want to back this issue?

[2016-02-02 14:00] ilyavolodin commented on #5093
@sephie This is very strange. The only thing that might differ between operating systems is file traversal. Once you get a chance, could you run eslint with `--debug` flag on both machines and verify that the same files are being processed?

[2016-02-02 14:02] ilyavolodin commented on #5131
@janmarek It doesn't take a lot of effort to make rules auto-fixable. But we have been holding back, due to the high risk of auto-fixer creating conflicts with other rules. We will be revisiting this subject in 3.0 time-frame, and hopefully will make auto-fixing more stable.

[2016-02-02 14:03] #5130 closed

[2016-02-02 14:06] ilyavolodin commented on #5133
This has been fixed in #5044 just a few days ago, it should be released as part of 2.0.0. Closing, as this is already done. Feel free to reopen if you run into this problem again after 2.0.0 released.

[2016-02-02 14:06] #5133 closed

[2016-02-02 15:05] mikestopcontinues opened #5135 "`no-use-before-define` fails on destructuring assignment in 2.0.0-beta.3"
After updating (to fix another issue), given this:

[code]

I get this:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30452819-no-use-before-define-fails-on-destructuring-assignment-in-2-0-0-beta-3?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](h

[2016-02-02 15:15] #4538 closed

[2016-02-02 15:16] gyandeeps commented on #5135
Please answer all the question from the above comment.

[2016-02-02 16:10] nzakas commented on #5131
To be more precise, some of these fixes are not possible right now. We can do whitespace fixes easily, nonwhitespace fixes are harder, and things like `prefer-const` are not possible because it changes scoping information.

[2016-02-02 16:10] #5131 closed

[2016-02-02 16:12] nzakas commented on #5093
@sephie any chance you can share the full switch statement?

[2016-02-02 16:14] #5087 closed

[2016-02-02 16:19] nzakas commented on #5040
@ilyavolodin I understand the background, Im asking more about what you think is the solution. In my mind, it's kind of already possible to do what you're saying by grabbing a rule file, so I'm wondering what you think a solution looks like. Also worth mentioning: we would basically never be able to remove rules if we did that, so I'm very interested in how you see this working.

[2016-02-02 16:22] nzakas commented on #3720
Interesting, this might have been fixed with the ignore file rewrite. Can anyone else confirm?

[2016-02-02 16:25] nzakas commented on #5105
`no-empty` started out as a direct port of the JSHint rule of the same name. It's too late to change the rule name, but we can definitely fix the docs.

[2016-02-02 16:26] #5042 closed

[2016-02-02 16:41] ilyavolodin commented on #5040
@nzakas I'm not really sure what the solution might be like. Ideally, we would make each rule a "class" with all of the functionality isolated into class methods. That way somebody could inherit from it. And yes, people can currently copy the whole code of the rule and modify it, as @hzoo mentioned, but they can't substitute built-in rule with their own implementation. They can name it the same wa

[2016-02-02 17:33] platinumazure opened #5136 "Passing config.settings to plugin processors"
I was hoping we could add `config.settings` to processors (e.g., pass them in on `preprocess()` and `postprocess()`). Right now, those settings are only accessible in rules.

One way I could see it being done is adding a third argument to those function contracts. To avoid further argument creep, though, it might be worth creating a sort of "pluginContext" or "processorContext" object that concept

[2016-02-02 17:38] epoberezkin opened #5137 "no-invalid-this exclusions proposal"
Given that at the moment (v1.10.3) @this in jsdoc makes valid-jsdoc fail (see #1598) maybe it's worth to allow `this` if jshint comment is present (in addition to existing exclusions)?

The only workaround seems to be enable/disable trick which is a bit verbose. Am I missing some other options?

In general, @nzakas, does making eslint rules to take jshint comments into account make sense to you? I

[2016-02-02 17:48] epoberezkin commented on #5137
Ok, I have probably missed /* eslint no-invalid-this: 0 */. It just isn't clear what is the scope of this instruction.

[2016-02-02 18:37] mikestopcontinues commented on #5135
[code]

.eslintrc:

[code]

[2016-02-02 19:05] nzakas commented on #3561
Looks like we've cleared the board for 2.0.0, so closing.

[2016-02-02 19:05] #3561 closed

[2016-02-02 19:32] puzrin commented on #5073
Any thoughts? I could try to implement it. The only things i need to know - will it be accepted & option name.

[2016-02-02 19:37] ilyavolodin commented on #5136
Third argument sounds reasonable to me. Although, I would make it an object with settings as a key. If we need it, we can make it into an pluginContext later.

[2016-02-02 19:39] ilyavolodin commented on #5135
Can you try it without `babel-eslint`?

[2016-02-02 19:40] ilyavolodin commented on #5073
@gyandeeps @BYK could you take a look please? I know you had plans to rewrite indent rule in the future.

[2016-02-02 19:45] deepsweet opened #5138 "`cli.isPathIgnored` doesn't work with absolute path"
[code]

[code]

I'm not 100% sure but in my opinion it's a bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30463944-cli-ispathignored-doesn-t-work-with-absolute-path?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2016-02-02 19:46] platinumazure commented on #5136
@ilyavolodin Fine by me. Whether the object will later have methods or not, and whether the object was constructed via a constructor or via `{}`/`Object.create(null)` doesn't make much difference from inside the plugin.

[2016-02-02 21:07] nzakas commented on #5138
Can you try with the master branch? It might already be fixed.

[2016-02-02 21:43] btmills commented on #5040
In previous discussions we've tossed around the idea of splitting rules out into separate packages. That approach seems to have worked well for Babel 6. Might that be a small step toward solving the extensibility issue? (Or worth doing even if it doesn't solve extensibility?)

[2016-02-02 21:54] ilyavolodin commented on #5040
@btmills Oh yeah, I totally forgot about that discussion. Maybe that would help too. Although I have a feeling that people would then expect us to maintain separate plugins for normal js, typescript and flow at the same time.

[2016-02-03 00:39] pwmckenna opened #5139 "no pure functions inside of es6 classes"
I'd like to write a rule that complains if a class method does not use this. Sort of the opposite of no-invalid-this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30473627-no-pure-functions-inside-of-es6-classes?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountyso

[2016-02-03 04:42] kaicataldo commented on #5099
Hey all, just wanted to follow up. I'd love to get started on this if no one else is currently working on it.

[2016-02-03 04:52] kaicataldo commented on #5009
Doesn't look like anyone is working on this. I can take it on.

[2016-02-03 04:57] kaicataldo commented on #4826
Just to be clear - the accepted change is for the no-console rule to warn for `window.console`, correct?

[2016-02-03 05:24] michaelficarra commented on #5139
:+1: That would be great.

[2016-02-03 06:53] bryanrsmith opened #5141 "rule-tester should correctly pluralize error message"
"Should have 1 errors but had 0" should be "Should have 1 error but had 0".

Sorry this is a silly issue. Just creating it to pass the PR check.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30481502-rule-tester-should-correctly-pluralize-error-message?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=gi

[2016-02-03 07:41] janmarek commented on #5131
`prefer-const` should be ok if it only replaced `let` occurences. Am I right?

[2016-02-03 07:43] lo1tuma commented on #5131
@janmarek see #5072 for the discussion about autofix for `prefer-const`.

[2016-02-03 08:38] phcorp commented on #5009
@kaicataldo great! thank you

[2016-02-03 13:15] zandaqo commented on #5040
How about making autofix more flexible by allowing a user to choose rules that she wants to automatically fix or avoid fixing? Not only would it give more liberty to a user, I believe having this ability in core would allow for more aggressive fixes in rules. We can make the current, "safe", fixes applicably by default, and leave optional the more "dangerous" new fixes for the user to opt-in if sh

[2016-02-03 13:26] deepsweet commented on #5138
there is no such bug with eslint@v2.0.0-rc.0, so I'll wait for major release. feel free to close this if you have no plans to port this into eslint@1.

[2016-02-03 13:43] tarjei commented on #3611
@lo1tuma how much work is left? I.e. when do you think it could be released into the wild?

[2016-02-03 13:53] ilyavolodin commented on #5099
@spencerhakim How is your progress on this? Do you want @kaicataldo to take over or are you fine finishing it yourself?

[2016-02-03 13:55] ilyavolodin commented on #4826
@kaicataldo That's correct. Currently it only catches `console.` it should also be catching `window.console.` as well. We also need to verify that `window` is a global variable, and hasn't been overridden.

[2016-02-03 13:59] ilyavolodin commented on #5139
Hmmm.. It seems to be a fairly limiting rule. I'm also not sure what would be a good reason to discourage using pure functions. @pwmckenna could you provide more information about why you are looking for this rule and follow our [new rule proposal template](http://eslint.org/docs/developer-guide/contributing/new-rules)?

[2016-02-03 14:03] ilyavolodin commented on #5141
Sure, sounds good.

[2016-02-03 14:04] #5141 closed

[2016-02-03 14:07] ilyavolodin commented on #5009
@kaicataldo Sounds good. Take a look at the old PR (#2493) I think it was mostly completed, just a few things that needed to be tweaked.

[2016-02-03 15:03] michaelficarra commented on #5139
@ilyavolodin If it doesn't mention `this`, it can be safely made static. There's no reason to put a function like this on a prototype.

[2016-02-03 15:05] lo1tuma commented on #5139
I would definitely use such a rule :+1:.

[2016-02-03 15:11] ilyavolodin commented on #5138
We are very close to 2.0 release. I think at this point we have no plans of back-porting anything into 1.0 branch. Closing as it looks like it's fixed now.

[2016-02-03 15:11] #5138 closed

[2016-02-03 15:13] ilyavolodin commented on #5139
Ok, sounds good to me, in that case. Thanks @michaelficarra

[2016-02-03 15:43] pwmckenna commented on #5139
@ilyavolodin I'll definitely use that template next time, thanks for linking. I'd be happy to make a first pass at implementing this, though I suspect I'll need to ask for help along the way. I'll have something up in the next couple of days.

[2016-02-03 16:17] christophercrouzet commented on #5099
Heya,

For information I've just been looking for such a feature and landed on this issue.

Thanks to @ilyavolodin links, the implementation seemed straighforward enough so I decided to give it a quick go. So far I got a basic version to work but the output log is quite long, especially since `getConfigForFile()` also includes the `globals` config. As an alternative I've started to look into defin

[2016-02-03 17:24] #4832 closed

[2016-02-03 17:27] nzakas commented on #5099
I wouldn't filter, it's fine to just dump the whole config. People can always save to a file and filter however they want.

I can live with `--print-config`.

[2016-02-03 17:32] nzakas commented on #5139
@pwmckenna I'd still like to see the info from the rule proposal posted to this issue. It really helps both with the evaluation and communicating to others the intention of this rule.

[2016-02-03 18:08] spencerhakim commented on #5099
I'm fine with someone else grabbing it if they're interested, it was hard to find time to work on it myself.

[2016-02-03 18:09] kaicataldo commented on #5099
Bummer - was looking forward to maybe working on this, haha. But glad it's getting done!

[2016-02-03 20:34] gyandeeps opened #5143 "no-redeclare unexpected behavior"
**Eslint version:** master

**Scenario 1:**
I have global defined inside config file:

Config:
[code]
Code:
[code]

Output:
[code]

**Scenario 2:**
I have a global variable defined in a comment inside js file.

Config:
[code]
Code:
[code]

Output:
no errors

Expected:
Same output as scenario 1.

<hr>
**Scenario 3:**
This is little different than scenario 1.

Config:
[code]
Code:
[code]

Output:
no

[2016-02-03 21:28] mysticatea commented on #5143
Scenario 2 looks like a bug indeed.
But 3 is not a redeclaration, it's just a reassignment. So as my memory, it's warned by no-native-reassign.

[2016-02-03 21:34] platinumazure commented on #5136
Actually, folks, I've run into a use case where I also want `settings` (or some other configuration object) in order to determine what file extensions I actually want to provide my processor for. Is that possible now? And if not, should we pass in settings to plugins (...somehow) and then a processor can just get at those settings?

[2016-02-03 21:53] ilyavolodin commented on #5136
@platinumazure Not sure I'm following you. Can you explain in more details what you want to do?

[2016-02-03 23:42] nzakas commented on #5085
Had a thought: I wonder if the outer purple color is too dark? Could we try some options with lighter shades of purple?

[2016-02-03 23:58] Mouvedia commented on #4412
+1

[2016-02-04 03:09] IanVS commented on #5126
I added them in.  They are for functionality I planned to add to autoconfig, but didn't yet have a chance to.    They won't pass yet, so they shouldn't be enabled.  I'll submit a PR to remove them, then re-add them when I have a chance to implement the enhancements to autoconfig.

[2016-02-04 03:11] IanVS commented on #5126
@nzakas, these tests actually of the form:

[code]

[2016-02-04 03:42] #5126 closed

[2016-02-04 04:15] IanVS commented on #5098
@mysticatea thanks for the report and logs!  Here are my answers:

- `eqeqeq` had failures with the default config (`2`) so that can't be used, and it found no errors if an option was set (either `[ 2, 'smart' ]` or `[ 2, 'allow-null' ]`).  The problem is, which option should the autoconfig choose?  I made the decision that if more than one option is valid not to arbitrarily choose a winner.

- `m

[2016-02-04 04:16] feross opened #5147 "[quotes] Clarify that "avoid-escape" does not allow backticks"
Using the latest eslint (2.0.0-rc.0).

Rules:

[code]

Code:

[code]

Gives the following false-positive error:

[code]

The ` string should be allowed, because it's being used to avoid quotes.

Changing the code to:

[code]

causes the error to go away. This is inconsistent and contrary to what the docs say.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.

[2016-02-04 04:19] feross commented on #5147
It's also worth noting that this worked correctly in 1.x.

[2016-02-04 04:23] IanVS commented on #5147
I believe the reason for this is that backticks are only allowed when they are not the chosen quote type if they add value.  See https://github.com/eslint/eslint/issues/3090.  If you want to avoid escaping the single quotes, you should use double quotes.

The docs contain the line:

But perhaps it could probably be explained more clearly with regards to "avoid-escape".

[2016-02-04 04:26] feross opened #5148 "`no-unexpected-multiline` false positive (eslint 2.0.0)"
Using the latest eslint (2.0.0-rc.0).

Rules:

[code]

Code:

[code]

Results in the following false positive:

[code]

This does not trigger an error in eslint v1.10.3.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30520351-no-unexpected-multiline-false-positive-eslint-2-0-0?utm_campaign=plugin&utm_content=tracker%2F282608&utm_med

[2016-02-04 04:31] feross commented on #5147
Ah, I see. Thanks for explaining. I agree with the rationale.

This was a breaking change for several packages that use `standard` because they were using backticks to avoid escaping. But we're going to release a new major version (6.0.0), so I think this is okay.

[2016-02-04 04:33] IanVS opened #5149 "Autoconfig generates invalid intermediate rule configs"
As noted in https://github.com/eslint/eslint/issues/5098#issuecomment-179617324, if autoconfig can't create a valid set of configs for a schema element, it will skip it entirely and go on to the next element in the list.  This is incorrect, and can result in schema validation errors.

This brings up an associated bug, which is that when autoconfig generates an invalid config and tries to lint with

[2016-02-04 04:35] IanVS commented on #5147
Let's keep this open so we remember to clarify in the docs that `"avoid-escape"` only applies to single quotes and double quotes.

[2016-02-04 05:32] mysticatea commented on #5098
@IanVS Thank you for the answer!

Fair enough, these rules are off :)

Just I felt that I'm glad if I can look at the list of off rules after `--init`.
For example, it collects off-rules to one chunk in the generated .eslintrc

[2016-02-04 05:50] feross opened #5150 "`no-return-assign` behavior changed with arrow functions"
Using the latest eslint (2.0.0-rc.0).

Rule:

[code]

Code:

[code]

Produces the error:

[code]

The rule is functioning correctly, because there's an implicit return with arrow functions. But I'm wondering if there isn't a way to keep the rule enabled but accommodate this kind of usage with arrow functions.

The intent of the rule is, primarily, to catch cases where the user intended a compariso

[2016-02-04 12:04] TxHawks opened #5151 "Rest params in jsDoc"
I get a `valid-js` error When doing:

[code]

As per the [jsDoc documentation for @param](http://usejsdoc.org/tags-param.html#multiple-types-and-repeatable-parameters) (under `Allows a parameter to be repeated`), this should be valid.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30530398-rest-params-in-jsdoc?utm_campaign=plugin&ut

[2016-02-04 12:10] TxHawks commented on #5151
ESLint version: `1.10.3`

The relevant lines in my config file:
[code]

[2016-02-04 13:01] mysticatea commented on #5007
New version of esrecurse was released.
I'm working on escope.

[2016-02-04 13:26] IanVS commented on #5007
Way to go, nicely done!

[2016-02-04 13:37] IanVS commented on #5126
@platinumazure There is https://github.com/Nate-Wilkins/eslint-plugin-bdd/blob/master/docs/rules/exclude.md, which will check for `xit` and `xdescribe`.

[2016-02-04 14:04] IanVS commented on #5098
I'll see what I can do about sorting them.  I've also thought it would be nice to group by enabled/disabled rules, and then alphabetize within each group.

[2016-02-04 14:31] platinumazure commented on #5126
@IanVS :+1: I didn't spot that plugin.

[2016-02-04 14:33] #4037 closed

[2016-02-04 15:19] gyandeeps commented on #5151
Can you also share the exact error message you get?

[2016-02-04 15:56] zandaqo commented on #5135
`const {main, side, ...props} = this.props;`

As far as I know, the rest pattern for object destructuring is not in the current (ES2015/ES6) standard; chances are Espree simply doesn't support it.

[2016-02-04 16:30] nzakas commented on #5040
@zandaqo we can explore letting people indicate which rules to fix. There's a few issues to work through, but seems feasible.

[2016-02-04 16:32] nzakas commented on #5040
@btmills we can explore that again. I'm not sure how feasible it is without having dedicated maintainers for each package and a way to aggregate rules onto the site for documentation purposes, but if someone wants to investigate, that seems like an interesting direction to go.

[2016-02-04 16:35] ilyavolodin commented on #5135
Espree supports object rest/spread (that's the only post ES6 feature we support). You need to enable `experimentalObjectRestSpread` in the config `ecmaFeatures` property.

[2016-02-04 16:36] nzakas commented on #5137
`@this` doesn't cause any problems, so I'm not sure what you're referring to. If you are reporting a bug, please answer the four questions above. From your comments, its not at all clear what you are asking.

[2016-02-04 16:36] nzakas commented on #5073
Can someone indicate if this is a bug or a enhancement request?

[2016-02-04 16:37] nzakas commented on #4826
We should probably allow configuration of the global object so you can specify window or something else.

[2016-02-04 16:38] gyandeeps commented on #5073
Seems like an enchancement but I am not quite sure what changes are being proposed here?
CC @puzrin
Can you give a more concrete proposal (with examples) of what are you trying to accomplish here?

[2016-02-04 16:39] nzakas commented on #5143
Agreed

[2016-02-04 16:50] nzakas commented on #5148
Looks like a bug. Do you want to submit a PR for it?

[2016-02-04 16:54] nzakas commented on #5150
If we omitted arrow functions, would it just be for concise bodies? Or also for block bodies?

[2016-02-04 17:24] michaelficarra commented on #5150
Since you're not using the return value here, it'd be appropriate for you to put the body in curlies. :-1: This rule is doing exactly what was intended.

[2016-02-04 17:27] gyandeeps commented on #5143
False alarm here. It works fine with rc0.

[2016-02-04 17:27] #5143 closed

[2016-02-04 17:47] pwmckenna commented on #5139
@nzakas definitely!

#### When the rules will warn. Include a description as well as sample code.

This rule will warn whenever this is not used from within a class method.

Good:
[code]

Bad:
[code]

#### Whether the rule prevents an error or is stylistic.

This rule is stylistic, but has performance implications. If a function is not using `this`, it is unnecessarily copied whenever a new instan

[2016-02-04 18:06] platinumazure commented on #5150
@michaelficarra I agree with your reasoning but I can see why it could be confusing or frustrating for users since there is no way to "omit the return" without going to braces (and the rule messaging doesn't make that clear either). Surely this still merits a change of some kind? Either:

1. Change the messaging for concise arrow functions
1. Allow an option to suppress warnings on concise arrow f

[2016-02-04 18:14] TxHawks commented on #5151
Of course  -

[code]

Line 124 is the beginning of the above comment block

[2016-02-04 18:24] platinumazure commented on #5136
@ilyavolodin Yes, absolutely, sorry about that.

Currently, a plugin exports `rules` and `processors`:

[code]

As you can see, the plugin is expected to export an object, so it has no way of accessing settings at that level. This implies that the extensions the plugin will process must also be static/constant.

What I'm hoping to do is allow users to specify what extensions they want covered in m

[2016-02-04 19:31] ilyavolodin commented on #5136
Yes, I think this is a separate issue. Basically you want to be able to create dynamic processors. I'm not sure that's a good idea, due to the fact you might have multiple processors fight for the same files. I think this might be outside of the scope for processors.

[2016-02-04 19:47] platinumazure commented on #5136
@ilyavolodin I'll open a separate issue. I don't agree with your rationale about it being "not [...] a good idea" because that's already a possibility as it is (ESLint picks the first plugin that accepts the file extension, and no, this isn't documented), but I'll take further discussion to that new issue. Thanks!

[2016-02-04 19:51] platinumazure opened #5155 "ESLint should control plugin use by extension, not plugins"
Per discussion in #5136, I am opening a separate issue.

It is currently not possible to dynamically configure the extensions a plugin will operate on. Currently, a plugin exports rules and processors:

[code]

As you can see, the plugin is expected to export an object, so it has no way of accessing settings or any dynamic information at that level. This implies that the extensions the plugin will

[2016-02-04 21:00] epoberezkin commented on #5137
Thanks, I have been using the wrong syntax for @this. Sorry.

[2016-02-04 21:00] #5137 closed

[2016-02-04 21:45] feross commented on #5148
Sorry, wish I could, but I don't have time at the moment.

[2016-02-04 22:06] feross commented on #5148
Actually, I'm kinda curious what the cause is, so I'll take a quick look.

[2016-02-04 22:17] feross commented on #5148
Think I figured it out :+1:

[2016-02-04 22:20] feross commented on #5148
PR sent here: https://github.com/eslint/eslint/pull/5156

[2016-02-04 23:23] nzakas commented on #5155
I think the way we setup processors today is backwards. I take full responsibility because (I believe) it was my idea to have plugins export the extensions that processors apply to. That's an inversion of responsibility that just doesn't make sense. In no other way can plugins impose behavior on an ESLint run.

What I'd rather do, instead of doubling-down on this broken plugin processor model, is

[2016-02-04 23:57] platinumazure commented on #5155
@nzakas Before I say anything else, I just wanted to thank you for being upfront about the previous design decision. It takes a lot of guts to do that.

Okay, I think I can see how this can be done with a backward compatibility layer until 3.0. It's not pretty, though...

1. CLIEngine should build an extension-to-process mapping earlier in the process (no need to iterate through all plugins every

[2016-02-04 23:59] mattfysh opened #5158 "Extends syntax does not allow reference to internals of an eslint-config package"
For example, when using `extends: "@scoped/eslint-config/lang"`, the following error occurs:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30555394-extends-syntax-does-not-allow-reference-to-internals-of-an-eslint-config-package?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accep

[2016-02-05 00:00] mattfysh commented on #5158
Fixed in #5157

[2016-02-05 02:24] platinumazure commented on #5136
Okay, opened #5155 for the plugin extension issue. The proposal put forward by @nzakas on that issue means the third parameter with `settings` on it will work satisfactorily for this issue.

[2016-02-05 02:55] mikestopcontinues commented on #5135
After removing "babel-eslint", given this input:

[code]

I get:

[code]

But given this input, everything's ok:

[code]

[2016-02-05 03:11] ilyavolodin commented on #5135
@eslint/eslint-team Does Espree supposed to be able to parse this?

[2016-02-05 03:25] gyandeeps commented on #5135
Yes it works. This is how the config should be setup

[code]

[2016-02-05 03:26] mysticatea commented on #5135
Yup.

**.eslintrc**

[code]

**test.js:**

[code]

**Result:**

[code]

This result is correct.

[2016-02-05 03:53] #5148 closed

[2016-02-05 04:44] ilyavolodin commented on #5135
@mikestopcontinues looks like original issue is `babel-eslint` specific. You might want to open an issue there.

[2016-02-05 06:55] ljharb opened #5159 "feature request: "allowEmpty" option for `arrow-body-style`"
Basically, I want an option so that:
[code]

is not an error, but:
[code]
is.

In other words, "an arrow function that might intend to return an empty object" is not a thing I'm worried about - and in fact i *want* to use that as a noop function that returns `undefined` - but "an arrow function that might intend to return a non-empty object literal" is a thing I'm very worried about.

<bountysourc

[2016-02-05 06:59] ljharb commented on #5159
)I'd like this option in both 1.x and 2.x)

[2016-02-05 07:37] albertosantini opened #5160 "With 2.0.0-x Error: Cannot find module 'eslint-config-eslint'"
Linting `foo.js` with `.eslintrc.yml` containing `extends: "eslint"`.
`eslint` and `eslint-config-eslint` are installed globally.

With `rc.0` and `beta.3`, executing `eslint foo.js`, I get the following error:
[code]

With `beta.2` it is ok.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30563714-with-2-0-0-x-error-cannot-find-modu

[2016-02-05 10:06] mysticatea commented on #5159
Thank you for this issue.

Actually, now the rule is not warning empty blocks.
Related: #4411

The `const foo = () => { a: 1 };` pattern is warned by other rules such as `no-labels`, `no-unused-labels`, and `no-unused-expression`.
So I'm not sure whether this rule should warn it or not.

[2016-02-05 10:20] mysticatea commented on #5158
Thank you for this issue.

Perhaps, is this the same problem as #4800?
I'm wondering we should have tests for this...?

[2016-02-05 10:51] mysticatea commented on #5160
Thank you for this issue.

I can reproduce this.
mmm, `eslint@2.0.0-beta.3` and later seem to be searching in local installed configs even if the eslint was installed to global.

@nzakas Is this intentional behavior?

[2016-02-05 11:17] mikestopcontinues commented on #5135
Thanks!

[2016-02-05 11:17] #5135 closed

[2016-02-05 11:26] mysticatea opened #5161 "Rule Proposal: `no-empty-function`"
[code]

If the body of an arrow function is `{}`, it's a block statement, not an empty object literal.
This might confuse developers.

This proposal is that we add the option to warn such empty arrow function to the `no-empty` rule.

----

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
Want to back thi

[2016-02-05 12:56] Kirill89 commented on #5073
This is useful in case of chained call expressions (like in mongoose). I think should be allowed to indent function body from first identifier in chain. Could you take a look to [this example](https://github.com/nodeca/eslint-plugin-nodeca/blob/master/lib/indent.js#L90-L100).

[2016-02-05 13:14] michaelficarra commented on #5159
Agreed with @mysticatea. We already have a number of more general rules that will catch this error.

[2016-02-05 14:47] mourner commented on #5012
Up all up for replacing non-lodash modules with lodash, but can you elaborate on the advantage of including the whole lodash instead of a few modules? It's a 4MB download.

[2016-02-05 15:41] alberto commented on #5151
@TxHawks can you provide a full example exposing the bug?

I tried the following on the [online demo](http://eslint.org/demo/) and I don't get any error.

[code]

[2016-02-05 15:52] alberto commented on #5092
@nzakas It depends on what do you consider `backwards compatible`. The rule config is still compatible, meaning it won't stop working for people using it. But it will now report more errors now than it did previously. We already do this for many rules, right? Even for this rule, see https://github.com/eslint/eslint/issues/5056

I also think it would be surprising that `always` wouldn't mean always

[2016-02-05 16:20] nzakas commented on #5160
Yes, this is intentional. We changed it so we search for shareable configs relative to the config file that references it. http://eslint.org/blog/2016/02/eslint-v2.0.0-rc.0-released#shareable-config-changes

I think the question note is if we want to add back an exception for global install or not? Iirc, fixing people to install shareable configs globally was a point of confusion.

[2016-02-05 16:26] nzakas commented on #5155
Sounds like a good direction. We may want to consider using a full glob rather than just extension.

[2016-02-05 16:26] #5105 closed

[2016-02-05 16:28] nzakas commented on #5161
Sounds good

[2016-02-05 16:33] platinumazure commented on #5136
@nzakas Apologies for pinging you again, but do you think the third-parameter approach will work here? Or do we need to discuss other options before accepting the issue? Thanks!

[2016-02-05 16:47] #5147 closed

[2016-02-05 16:53] ljharb commented on #5159
Sorry if I was unclear - this rule *already* warns on that, but it also warns when I use explicit return when the body is returning a single expression.

I want an option so that I can preserve "warn when I use explicit return when the body is returning a single expression" but skip *only* the common noop pattern `() => {}`.

[2016-02-05 16:54] michaelficarra commented on #5159
What rule are you talking about?

[2016-02-05 16:57] ljharb commented on #5159
`arrow-body-style` (in the title)

[2016-02-05 17:04] michaelficarra commented on #5159
From the rule documentation,

You want an option to disable this additional check? I'd say it's probably best to split it out to its own rule.

[2016-02-05 17:31] albertosantini commented on #5160
I read that note and it should not be valid for a global setup.
At least, I didn't understand it would be applied also for the global setup.

If `eslint` is installed globally, at the moment with `rc.0`, I would be compelled to create a complete config file without `extends` field to lint casual files (out of a project).

It would be not an issue for the "projects", because `eslint` and `eslint-co

[2016-02-05 17:52] nzakas commented on #5160
I need to update the description for sure. To be honest, I didn't realize it would affect the global setup as I forgot that globally installed modules weren't in the hierarchy from the current working directory.

Making this change not apply in the case of a global install isn't easy - there's no real indication as to whether ESLint is running from a global install or a local install.

So yes, in

[2016-02-05 17:56] nzakas commented on #5158
@mattfysh what version are you using?

[2016-02-05 18:04] ilyavolodin commented on #5160
@nzakas With this change, configs/plugins are resolved based on the path of the .eslintrc file, right? What happens when a user only have config file in the user directory?

[2016-02-05 18:04] nzakas commented on #5158
Confirmed as duplicate of #4800.

[2016-02-05 18:04] #5158 closed

[2016-02-05 18:06] nzakas commented on #5160
@ilyavolodin `extends` and `plugins` are calculated relative to that file as well.

[2016-02-05 18:20] alberto commented on #5053
Nevermind, if no one else in the team sees this as something valuable, then it's not worth adding it.

[2016-02-05 18:20] #5053 closed

[2016-02-05 18:27] nzakas opened #5164 "Problems with config file extends/plugins resolution and home directory"
With 2.0.0-rc.0, the `extends` and `plugins` fields of config files are resolved relative to the config file itself. This can cause issues when, for example, the home directory config file is used (`~/.eslintrc`). In that case, the resolution for `extends` and `plugins` would begin in the home directory rather than in the project directory, meaning that the shareable config or plugin won't be foun

[2016-02-05 18:33] ilyavolodin commented on #5164
Just for a record, here's another example that will not work with this change:

1. Project is located in `~/projects/foo`
2. `.eslintrc` file is located in the project root folder and uses plugin `blah`
3. Subdirectory `~/projects/foo/bar` is the one that has `package.json` and `node_modules` folder, with plugin `eslint-plugin-blah` installed in it.
4. ESLint is run from `~/projects/foo/bar`

This

[2016-02-05 18:34] ilyavolodin commented on #5164
And, again, for the record. This also means that even if you have ESLint installed globally, you should install plugins and configs locally, relative to the location of the `.eslintrc` file. This is a major breaking change from previous behavior (not necessarily a bad one, just major change).

[2016-02-05 18:40] ljharb commented on #5159
That would be fine also - whatever ends up with me being able to use `arrow-body-style` without the additional "empty block" check :-)

[2016-02-05 20:13] mysticatea commented on #5159
I meant, the additional empty block check had been removed already.

[2016-02-05 23:27] nzakas commented on #5164
Global/local differences discussed here: https://github.com/eslint/eslint/issues/5160

[2016-02-06 00:03] ilyavolodin commented on #5164
Yes, just wanted all of the changes noted in one place.

[2016-02-06 00:50] ljharb commented on #5159
@mysticatea that doesn't appear to be in 1.x. Has it been backported?

[2016-02-06 01:35] feross opened #5166 "`no-unmodified-loop-condition` false positive"
Using eslint 2.0.0-rc.0.

Code:

[code]

Rules:

[code]

I get this unexpected error:

[code]

The examples in the docs indicate that this rule is smart enough to handle cases where "the result of a binary expression is changed in the loop". Seems there's a bug.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30594986-no-unmodified-l

[2016-02-06 01:37] feross commented on #5166
The docs indicate that this detection works fine for for-loops, for instance:

[code]

Where it detects that `j` is modified here.

[2016-02-06 01:49] feross opened #5167 "`no-whitespace-before-property` false positive"
Using eslint 2.0.0-rc.0.

Code:

[code]

Rules:

[code]

Gives the following error:

[code]

The rule shouldn't consider this to be invalid whitespace, since the whitespace occurs *within* the square brackets. Spacing within square brackets is already covered by another rule.

This should be continue to be considered an error:

[code]

But not this:

[code]

<bountysource-plugin>
---
Want to back

[2016-02-06 01:52] ilyavolodin commented on #5166
Well in the example from the documentation `j` is actually modified. In your case, only `i` is modified, but `j` stays static. So your code can be rewritten as:
[code]
I think the rule is doing the right thing in this case.

Although `j` is not used inside the loop, so I'm not sure if this is correct behavior. @mysticatea any insights?

[2016-02-06 01:55] ilyavolodin commented on #5167
Agree. Looks like a bug. And the error message shouldn't be saying `undefined` either.

[2016-02-06 02:07] feross commented on #5166
Right. But it seems like the *intent* of the rule, based on the docs and even the rule name, was to detect unchanged *conditions*. Not to check that every variable in the condition is modified.

[2016-02-06 02:44] mysticatea commented on #5159
We have not backported changes in 2.00 pre-release yet.

@nzakas do we have a plan?

[2016-02-06 02:49] mysticatea commented on #5166
Thank you for good catch!
Yes, this is a bug. I will fix this.

[2016-02-06 03:19] gyandeeps commented on #5159
I am guessing [same comment](https://github.com/eslint/eslint/issues/5102#issuecomment-178061768) applies here.

[2016-02-06 03:30] mysticatea commented on #5159
Ah, sorry, that has 'breaking' label, so we cannot backport that.

[2016-02-06 03:31] ljharb commented on #5159
Why must it be breaking? Can't it just be opt-in behavior?

[2016-02-06 03:43] IanVS commented on #5166
@ilyavolodin I agree this looks like a bug.  Your counter example of how the code could be rewritten introduces a magic number (10), and I agree with @feross that the intent is just to make sure _something_ in the condition is changing.

[2016-02-06 03:45] IanVS commented on #5167
We should seriously put @feross on the QA payroll, for the number of :bug: he finds.

[2016-02-06 03:48] feross commented on #5150
An option to suppress warnings on concise arrow functions would be perfect.

[2016-02-06 04:25] isiahmeadows commented on #2657
Also, for Bluebird users, it would be nice to undefine Promise, since Bluebird is significantly faster than native Promises as well as being lighter on memory in practice. And the lack of subclassing doesn't really matter too much.

[2016-02-06 04:38] michaelficarra commented on #5159
I believe @nzakas has said in the past that he considers the removal of a warning a breaking change, not just the addition of one. I disagree with this.

[2016-02-06 05:08] ljharb commented on #5159
I'm not requesting the default behavior change in any way - I'm requesting a new option be added. That qualifies as semver-minor imo.

[2016-02-06 05:11] michaelficarra commented on #5159
But @ljharb for 2.0 it appears to already have been removed. We wouldn't *also* add an option to disable it.

[2016-02-06 05:13] ljharb commented on #5159
Ah - I guess I'm asking for the removal to be guarded by an option, in 1.x only. ie, it'd be a minor in 1.x, and dropping the option guard in 2.x is the major bump.

[2016-02-06 05:14] michaelficarra commented on #5159
I think you should forget about 1.x. As I understand, it's not going to be maintained separately.

[2016-02-06 05:17] ljharb commented on #5159
It's unfortunate that the possibility of a clear upgrade path vanished the instant 2.x became a possibility :-/ I'd hope that 1.x would be maintained at least to the point where the transition to a *released* 2.x was as minimally breaking as possible.

[2016-02-06 05:47] feross commented on #5167
@IanVS Just happy to help! :+1:

This is one of the advantages of the `standard` test suite running against [real user code](https://github.com/feross/standard/blob/master/test/clone.js#L3-L9). Currently we test the top ~400 packages that use `standard`, ranked based on the # of npm dependents. You find lots of odd code out there in the wild!

It's a mixed blessing though, as your tests will fail

[2016-02-06 05:59] michaelficarra commented on #5159
Maintenance doesn't normally include feature requests.

[2016-02-06 06:02] kaicataldo commented on #5167
I can look into fixing this - pretty sure I wrote that rule 😬

[2016-02-06 06:47] ljharb commented on #5159
Sure, but a prerelease also doesn't normally kick a major line into maintenance mode :-)

[2016-02-06 11:46] chrisveness opened #5169 "Config environment es6 / es2015"
Now that ES6 has officially become ES2015, would the 2.0.0 release be a good opportunity to rename the "es6" environment to be "es2015" instead?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30602389-config-environment-es6-es2015?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bount

[2016-02-06 12:15] albertosantini commented on #5164
I vote for solution 3: using `require`.

I read again the following docs:
- [Configuration Cascading and Hierarchy](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy)
- [Shareable Configs](http://eslint.org/docs/developer-guide/shareable-configs)

I recap the complete configuration hierarchy:

1) Inline configuration
2) Command line options
3) Project-level config

[2016-02-06 15:07] mysticatea opened #5171 "Code Path Analysis cannot handle LabeledStatement with other than switches or loops."
I had not known it at that time.
This causes some false positive of rules which are using code path (e.g. `no-unreachable`).

[code]

I will fix this.

[2016-02-06 15:19] mysticatea commented on #5171
[This foolproof code](https://github.com/eslint/eslint/blob/master/lib/code-path-analysis/code-path-state.js#L1202-L1206) has prevented crash :D

[2016-02-06 16:31] nzakas commented on #5012
How did you calculate 4MB for lodash?

[2016-02-06 16:35] nzakas commented on #5092
Backwards compatible means it works the same way with the exception of bug fixes. If we start flagging things we didn't because we are expanding the scope of the rule, that's no longer backwards compatible.

We can make "always" flag classes too, but that's a breaking change because we are expanding the scope of the rule and changing the meaning of "always". Class bodies are not block statements e

[2016-02-06 16:42] gajus commented on #5012
I can only assume:

[code]

[2016-02-06 16:42] nzakas commented on #5136
If we do #5155, is this still necessary?

[2016-02-06 16:46] #5055 closed

[2016-02-06 16:47] gajus commented on #5012
It is not. You are downloading a `.tar.gz`, which is 234K.

[2016-02-06 16:47] nzakas commented on #5169
I don't see a good reason to rename it. "ES6" is universally understood and is used in a lot of places. No need to create a breaking change for this.

[2016-02-06 16:47] #5169 closed

[2016-02-06 16:48] #5166 closed

[2016-02-06 16:51] platinumazure commented on #5136
IMO yes. #5155 doesn't have anything to do with config.settings being available in plugins. I had assumed I would need config.settings for extension management, but you proposed having ESLint reclaim control of extensions, which makes sense.

My use case here has more to do with knowing if certain rules' errors should be ignored by my plugin, which I think is still a use case for config.settings.

[2016-02-06 17:25] ilyavolodin commented on #5092
non-breaking fix sounds good to me, in that case.

[2016-02-06 18:08] platinumazure commented on #4829
@nzakas Does the discussion in #5155 seem like something that would help this issue out? Or, put another way, is #5155 the beginning of the "[dramatic] change [to] how processors work" that would be needed to allow this?

[2016-02-06 18:09] platinumazure commented on #5155
@nzakas If we want to think about full glob configuration, maybe this discussion should be folded into #3611? What do you think?

[2016-02-06 20:12] mysticatea commented on #5160
`plugins` and `extends` seem to be difference on `rc.0`.
`extends` is calculated relative to `.eslintrc`, but `plugins` seem to be not.

[code]

[code]

[2016-02-06 20:44] ilyavolodin commented on #4829
I don't think #5155 alone is going to help here. We would need glob support for something like this.

[2016-02-06 21:22] callumacrae opened #5173 "What changed in 1.0.0"
I'm sure this has been asked 1000 times before, but I can't find anything in the changelog or previous issues!

The latest version of eslint isn't returning any errors for me:

<img width="389" alt="screen shot 2016-02-06 at 21 15 34" src="https://cloud.githubusercontent.com/assets/472830/12869442/bbd55f7a-cd17-11e5-8820-cb0685d7ab66.png">

Any ideas what could be causing this?

Thanks for eslint!

[2016-02-06 21:23] digencer commented on #4923
I released my rule as a plugin. Here is the link: https://www.npmjs.com/package/eslint-plugin-expires

[2016-02-06 21:26] callumacrae commented on #5173
eslintrc: https://gist.github.com/callumacrae/810fe74c04680e39e9fc

[2016-02-06 21:45] ilyavolodin commented on #5173
@callumacrae In 1.0 we removed all of the defaults. Nothing is on by default, unless you tell it otherwise. You can find more information here: http://eslint.org/docs/1.0.0/user-guide/migrating-to-1.0.0#all-rules-off-by-default

[2016-02-06 21:48] alberto commented on #5173
And that rule (`no-extra-semi`) is not in your .eslintrc file. If you add it, it should work as expected.

[2016-02-06 21:49] #5173 closed

[2016-02-06 22:07] alberto commented on #5092
Well, I'm not sure what our policy is then, if any. Do we strive for correctness (as mentioned above, IMO the expected behavior for `always` in any rule would be to apply to every possible case) or try to avoid breaking changes that would cause users to adjust their rule config?

[2016-02-06 22:19] callumacrae commented on #5173
Thank you!

[2016-02-06 22:24] #5050 closed

[2016-02-07 00:46] #5119 closed

[2016-02-07 00:47] alberto commented on #5056
Per the conversation in #5092, this would also be breaking, so the same decision should be applied here.

[2016-02-07 01:21] btmills commented on #5092
#5162 (fixes #5056) is waiting on a decision here.

@alberto To me, blocks, switches, and classes are separate, albeit visually similar cases. I would want to be able to configure the three separately, so for my uses, `always` suddenly applying to switches and class bodies would be incorrect and a breaking change. That it doesn't check them right now is not a bug but a feature for me. I could see

[2016-02-07 05:13] feross opened #5175 "New config file plugin/extends resolution not working with node.js API and `configFile` option"
The file resolution for the `plugin` and `extends` options works differently in eslint 2.0.0.

`standard` 6.0.0 is using `eslint` 2.0.0-rc.0 and the `configFile` option to the node.js API. [The code](https://github.com/feross/standard/blob/39a54d33f95ca564d976ea2cb97f4c3a45ed0c09/options.js) looks roughly like this:

[code]

This `.eslintrc` file contains:

[code]

The `eslint-config-standard` and

[2016-02-07 05:14] gyandeeps commented on #5175
Might be related to https://github.com/eslint/eslint/issues/5164

[2016-02-07 05:15] feross commented on #5175
Yeah, the bug probably crept in with that change, but I think this may be a separate issue.

[2016-02-07 05:35] feross commented on #5175
I noticed that `applyExtends()` is called [here](https://github.com/eslint/eslint/blob/1803f87bf4784e5103932e9bcd1e73e595d4e8ef/lib/config.js#L63) with a `filePath` that's an empty string.

But even if that's fixed, in `applyExtends()`, it still takes a code path where the `filePath` argument isn't taken into account during `resolve()`.

[2016-02-07 07:56] yangli1990 opened #5176 "npmignore"
eslint@1.10.3

I realised that when downloading eslint from npm it downloads a node_modules/ folder. Probably need an .npmignore file to ignore this folder when uploading?

[2016-02-07 12:15] radiovisual opened #5177 "'no-unused-vars' throws on valid variable"
I have this bit of code:

[code]

which results in:

[code]

Is there some reason why the linter can't see the use of the variable `a` directly below the declaration?

I can refactor to clear up this error, but in the case that I have stumbled onto a bug, or edge-case, then I wanted to report it.

**Thanks for all your hard work, btw!**

*Have a hamburger >* :hamburger:
*or if you're vegan, a palm

[2016-02-07 12:29] alberto commented on #5177
The variable is assigned but its value is never used, so eslint is reporting correctly. You can safely remove the variable.

[2016-02-07 12:35] alberto commented on #5176
That's how npm works. node packages install their own dependencies inside a node_modules folder in their own root folder.

[2016-02-07 12:35] #5176 closed

[2016-02-07 15:33] ilyavolodin commented on #5177
As @alberto noted, the variable is only marked as used if it's value is being read somewhere or assigned to another variable. Neither of those things are happening currently, so the variable is marked as unused. The rule is behaving correctly in this case.
Closing as this is expected behavior. If you disagree, feel free to reopen this issue.

[2016-02-07 15:33] #5177 closed

[2016-02-07 15:51] michaelficarra commented on #5176
This is why there's a "files" field in package.json.

[2016-02-07 16:49] radiovisual commented on #5177
right, I see what you mean now. Thanks! :+1:

[2016-02-07 16:56] BYK commented on #5104
working on this.

[2016-02-07 17:05] BYK commented on #5101
Working on this.

[2016-02-07 17:05] #5171 closed

[2016-02-07 17:08] nzakas commented on #5136
Can you explain more about your use case?

[2016-02-07 17:10] nzakas commented on #5155
Hmm, perhaps. I suppose the question is if we want one way to configure globs at the top level or multiple levels.

[2016-02-07 17:12] nzakas commented on #5160
@mysticatea you're correct, I mistyped. `plugins` work the same as always, its `extends` and `parser` that are resolved from the config file.

[2016-02-07 17:15] nzakas commented on #5175
Pretty sure this is just a symptom of #5164. I'll leave this open until I can confirm.

[2016-02-07 17:18] nzakas commented on #5092
My point is that we can do a breaking change for 2.0.0 if we think that's the right thing to do, I'm just not sure if it is.

:-1: for renaming the rule. I think we've hit our quota for such changes in 2.0.0.

[2016-02-07 17:20] #5099 closed

[2016-02-07 17:32] pwmckenna commented on #5116
@ilyavolodin I don't really have a good product reason for why this should be a part of core. I would have made it standalone, but I quickly decided against re-implementing the login in config-file.js because of the complexity. Is there any interest in exposing the eslint config resolution logic via a seperate npm module?  Probably too much work, but it would make writing tools that worked with es

[2016-02-07 17:43] feross opened #5179 "Allow setting "extends" via the Node.js API"
The [`CLIEngine` constructor](http://eslint.org/docs/2.0.0/developer-guide/nodejs-api#cliengine) seems to be missing an `extends` option.

My workaround is to use `baseConfig`, like this:

[code]

Is there a reason why this isn't exposed like `rules`, `globals`, `env`, etc.?

[2016-02-07 17:44] feross commented on #5179
Also, `plugins` is missing too.

[2016-02-07 18:30] ilyavolodin commented on #5116
@pwmckenna We actually expose that logic through the API. Take a look here: http://eslint.org/docs/developer-guide/nodejs-api#getconfigforfile This should give you the ability to get config object for a given file path. I think this can be made into a standalone CLI utility, which can de-dupe configs, find unused rules (like if they are always set to 0 in all of the cascading configs), and merge c

[2016-02-07 18:51] pwmckenna commented on #5116
Awesome! Sorry, should have rtfm-ed...this looks super useful.

[2016-02-07 18:51] #5116 closed

[2016-02-07 20:49] #5101 closed

[2016-02-07 20:49] #5104 closed

[2016-02-07 22:05] platinumazure commented on #5155
What do users want? I mean, personally I'm not a huge fan of having multiple configuration files, but I'm also not super familiar with globbing and until recently would have assumed that there was no good way to do configuration in one file. Now I'm beginning to think it could be doable... but that's just my experience/opinion. Probably worth asking the broader community somehow.

[2016-02-07 22:11] platinumazure commented on #5136
@nzakas Actually, sorry, that's a bad example because glob configuration would solve the use case I presented. (What I was getting at was it would be nice to allow users to suppress certain rules' messages simply because they made no sense for microtemplates. But if rules and plugin processors can be configured via glob configuration, then users can simply disable rules directly.)

Here's a better

[2016-02-08 04:51] btmills commented on #3834
Working on this.

[2016-02-08 06:25] mysticatea commented on #5160
@nzakas I have expected `extends` and `plugins` (`eslint-config-*` and `eslint-plugins-*`) to behave in the same way. Perhaps people is as well.

I guess the following pattern may raise an unexpected error:

[code]

Could we change the behavior of `plugins` for 2.0.0?

[2016-02-08 12:30] gajus commented on #5160
This is breaking tools such as [Canonical](https://github.com/gajus/canonical) and [Standard](https://github.com/feross/standard).

A program has its own [`eslintrc.json`](https://github.com/gajus/canonical/blob/v3.0.3/src/syntaxes/js/eslintrc.json). That it then uses to [lint text using CLIEngine](https://github.com/gajus/canonical/blob/v3.0.3/src/syntaxes/js/lintText.js#L7-L18). When attempting

[2016-02-08 12:40] mysticatea commented on #5160
@gajus Please see also: #5164

[2016-02-08 12:45] gajus commented on #5160
That issue is more relevant. Thank you

[2016-02-08 13:11] jrencz opened #5183 "[func-style] error when anonymous function is exported as default"
Consider the following one-liner:

[code]

Eslint config (from demo):
ECMA features:
- [x] modules

Rules:
- [x] func-style

Error is reported:

[code]

Although the example given is obviously not a function expression there might be a way to define exception in the rule for the case when one want to have all functions created using function expressions but allow anonymous (or maybe even named?) f

[2016-02-08 13:52] michaelficarra commented on #5183
[code]

There, now it's a function expression.

[2016-02-08 13:54] #3834 closed

[2016-02-08 14:12] jmm commented on #5101
Thanks all!

I'm not sure this part is totally clear:

Since it's optional it sounds like it could be that if you pass any value it'll override the 4th argument, but really if the 3rd argument is an object then the 4th argument will be ignored. It might be good to note that for the 4th param:

[2016-02-08 14:17] jmm commented on #5104
Thanks all!

It's great that you updated the source code docs with the `ESLintConfig` part. [This](https://github.com/eslint/eslint/blob/fd079258631d2f3d7941671654be017858c08fc5/lib/eslint.js#L658) still isn't a great description:

[2016-02-08 14:19] jmm commented on #5100
Thanks all! Is it worth moving that information to the top of the Rules page where `eslint:recommended` is discussed?

[2016-02-08 14:24] jrencz commented on #5183
@michaelficarra that's right, but then we're modifying the source just to meet the rule with its current possibilities.

Main benefit from using `func-style` is (as described in rule readme) disallowing functions to be hoisted. There's no other benefit from forcefully making this anonymous function a function expression than to make `func-style` pass - it won't be hoisted anyway in this very case.

[2016-02-08 14:32] michaelficarra commented on #5183
Well *technically* the binding *is* hoisted, but its name cannot be referenced from JavaScript code, so it's not observable. Anyway, if your goal is to never use function declarations, wrapping it in parentheses would indeed be the proper solution. If, however, your goal is to avoid a potential pitfall involving hoisting (I'm not sure what that pitfall is) then you are right, this one particular f

[2016-02-08 17:00] nzakas commented on #5183
This rule shouldn't apply for a default export.

[2016-02-08 17:20] platinumazure commented on #5107
I looked through old issues I had commented on and could only find one where the parser became relevant. That person, however, had not even provided rules config, so the bot comment as it stands is probably fine. I guess I had seen a few other posts I hadn't commented on and they were just outliers in a short timespan. Sorry for wasting your time.

[2016-02-08 17:20] #5107 closed

[2016-02-08 17:32] callumlocke opened #5184 "Proposed new rule: only-template"
entered incorrectly

[2016-02-08 17:39] #5184 closed

[2016-02-08 17:52] callumlocke opened #5185 "Proposed new rule: only-template"
**When does this rule warn? Please describe and show example code:**

The rule warns whenever you use a single- or double-quote as a string delimiter. That is, you have to use backticks for *every* string, even when you're not concatenating/interpolating a dynamic value into the string.

[code]

The only exception would be for non-computed object key names, where backticks are not allowed, therefo

[2016-02-08 19:23] nzakas commented on #5164
Starting work on this.

[2016-02-08 19:34] nzakas commented on #5160
Mentioned in the chatroom but will mention here as well: we cannot apply this behavior to plugins right now. There is a larger issue around how to deal with plugins that depend on plugins that we need to solve first. That's a much bigger issue that we would need to address, but it's too late to do that for 2.0.0.

[2016-02-08 19:35] platinumazure commented on #5121
Just started work on this. Hopefully I'll have a PR this week.

[2016-02-08 19:39] BYK commented on #5101
@jmm - I don't think the version you suggest makes a huge difference. That said if you feel strongly, I'd encourage you to submit another pull request.

[2016-02-08 19:39] hashedhyphen opened #5186 "Cannot find module of a parser installed globally"
With ESLint v2.0.0-rc.0, babel-eslint installed globally (not locally), and .eslintrc like below:

[code]

I ran into an error:

[code]

This issue doesn't occur with ESLint v1.10.3, or with babel-eslint installed locally, so I wonder this might be a regression related to #5022

I will file a workaround :-)

[2016-02-08 19:40] BYK commented on #5104
@jmm - Anything you have in mind to make it better/more descriptive?

[2016-02-08 19:50] mattfysh commented on #5102
thanks @nzakas - how close is v2 to release, days/weeks/months?

[2016-02-08 19:59] SimonSchick opened #5187 "Add wildcard support to new-cap: capIsNewExceptions"
In some cases it would be nice to be able to specify to ignore a whole library for instance.

I ran into this problem when using sequelize types.

eg.

[code]

[2016-02-08 20:04] platinumazure commented on #5185
Just out of curiosity, is there any reason why this couldn't work as an opt-in option for `prefer-template`? (Yes, I know the docs explaining the rationale of that rule would have to change, but besides that.)

Something like:

[code]

Except with a less crappy option name.

[2016-02-08 20:10] mysticatea commented on #5185
Thank you for this issue.

Actually that rule has exist already.
You can use `quotes` rule with `"backtick"` option.

http://eslint.org/docs/rules/quotes

I think we need "Related Rule" section in the `prefer-template` doc.

[2016-02-08 20:26] platinumazure opened #5188 "Getting eslint-config-eslint in line with coding standards"
Per discussion in chat, the goal of this issue is to document (and eventually implement) changes to the Coding Standards and/or `eslint-config-eslint` to bring both in line as much as possible.

------

Actionable items:

* [x] Enable space-in-parens to enforce no spaces in parentheses
* [x] Enable quote-props (as-needed) to enforce unquoted properties
* [x] Enable lines-around-comment to require

[2016-02-08 20:27] nzakas commented on #5164
Okay, so after digging around in the code a bit, it seems like the best solution is this:

If the config file path is a descendant of the *project path*, then resolve relative to the config file. Otherwise, resolve relative to `__dirname` (which is basically what `require()` does).

The project path is the project that has ESLint installed. For instance:

[code]

That is different than the CWD, be

[2016-02-08 20:59] kaustavha opened #5190 "Eslint with popular style guides is mildly broken"
I get this error:
[code]

After using `eslint --init` like so:
[code]

I'm using node v5 and tried 5.5 as well on OSX 10.10.5

`npm install eslint-config-standard` returns this:
[code]

Using the answer questions about your style approach works flawlessly.
Additionally a similiar error pops up using either the airbnb or google standards.

Trying to install eslint 2.0.0 rc 0 returns this:
[code]

[2016-02-08 21:06] #5012 closed

[2016-02-08 21:09] ilyavolodin commented on #5102
@mattfysh We ran into a problem with previous RC, so we will have to do another RC this week. If everything goes right, then v2 should follow after that.

[2016-02-08 21:13] callumlocke commented on #5185
Awesome, I guess this can be closed then, thanks

[2016-02-08 21:13] #5185 closed

[2016-02-08 21:37] platinumazure opened #5192 "prefer-template could point to quotes for people who want only template strings"
Creating this in the wake of #5185.

If someone wants only template strings in their code, they might look at `prefer-template` first since it has the word "template" in it. That rule's documentation could reference `quotes` as the place to be for users who want to have only template strings in their code regardless of concatenation.

[2016-02-08 21:59] platinumazure commented on #5185
@callumlocke I created #5192 to cover the documentation adjustment we could/should do. Feel free to submit a PR for that if you like.

[2016-02-08 22:01] nzakas commented on #5186
Duplicate of #1560.

[2016-02-08 22:01] #5186 closed

[2016-02-08 22:02] nzakas commented on #5186
There's a PR up for a fix to #5160. You can try it here: https://github.com/eslint/eslint/pull/5191

[2016-02-08 22:09] nzakas commented on #5179
The object passed to `CLIEngine` is not an ESLint config object, so it doesn't have the same fields.

* There's no such thing as `extends` on the CLI because there's no configuration to extend. You can use `configFile` to specify the same value as `-c` on the CLI or `baseConfig` to specify the base config to use, including `extends`.
* It looks like `plugins` is present. When you say "it's missing

[2016-02-08 22:11] nzakas commented on #5187
There's not enough information here to know how to respond. Please either add more details to the problem you're reporting or more details to the proposal you're making.

[2016-02-08 22:14] gajus commented on #5192
Just a word caution:

I have jumped to using ES templates for everything. The end result was that I have came across several instances where I had to use single/ double quotes because template quotes are simply not supported, e.g. You cannot use template strings in import statements and you cannot use template statements for JSX properties.

Furthermore, template strings do not have impact to perf

[2016-02-08 22:23] jmm commented on #5104
@BYK Is the in-source documentation used to generate anything else? If not, maybe just replace that description with something like "See the ESLintConfig type definition.", since it's right there above it. Or even just "See above"?

[2016-02-08 22:26] jmm commented on #5101
@BYK Ok, thanks. I definitely think it's a bit ambiguous now, and unambiguous is preferable.

[2016-02-08 22:29] mattfysh commented on #5102
awesome! thanks @ilyavolodin

[2016-02-08 22:36] feross commented on #5179
Okay, fair enough. Though this means that it's not possible to invoke the CLI directly on a shared configuration without creating an extra file on the filesystem and referencing that with `-c`. I expected this to work:

[code]

[2016-02-08 22:37] feross commented on #5179
`plugins` is missing from the [Node JS API documentation](http://eslint.org/docs/2.0.0/developer-guide/nodejs-api) for v2.0.0.

[2016-02-08 22:42] ilyavolodin commented on #5179
@feross I don't think `CLIEngine` supports plugins directly. You should use [addPlugin](http://eslint.org/docs/2.0.0/developer-guide/nodejs-api#addplugin) method instead.

[2016-02-08 23:19] clark800 opened #5193 "Rule Idea: Ensure yield on call to generator function"
When the code calls a generator function without a `yield` keyword. An optional setting may also make it warn when you yield the value of a function that is not a generator.

[code]

The output of the above script, when using "co", is "{}" rather than "4". After fixing the bug, the last line would be `console.log(yield f(2));`.

This prevents errors that are particularly difficult to debug when us

[2016-02-08 23:40] feross commented on #5179
@ilyavolodin Ah, missed that somehow. Thanks.

[2016-02-08 23:57] ilyavolodin commented on #5193
Thanks for proposal. I have a feeling we already have something like that. @eslint/eslint-team am I making this up?

[2016-02-09 00:15] gajus commented on #5013
First, without `bundledDependencies`:

[code]

[code]

Now, lets make a package using bundle dependencies:

[code]

To install the package that uses bundled dependencies:

[code]

[code]

To summarise: `eslint-bundled` installs 5.28 times faster than `eslint` (difference between 44 and 8 seconds).

[2016-02-09 00:21] platinumazure commented on #5179
@ilyavolodin Related, it seems pointless that `CLIEngine` excepts those plugins on its constructor but that it doesn't actually do anything unless you call `engine.addPlugin()`. Any reason why that option is even on the constructor in the first place?

[2016-02-09 00:26] platinumazure commented on #5193
@ilyavolodin Something like [`require-yield`](http://eslint.org/docs/rules/require-yield)?

[2016-02-09 00:46] mkscrg commented on #2657
+1

[2016-02-09 00:48] ilyavolodin commented on #5179
I don't think it's in the constructor. Constructor takes baseConfig, which is config object that can accept `plugins` among other things (or at least under regular conditions it can). Problem is, since `baseConfig` isn't processed by config-file, plugins will not be loaded. But documentation doesn't specify that you can supply `plugins` as part of `baseConfig` and have them be loaded (however, it

[2016-02-09 00:49] ilyavolodin commented on #5193
@mysticatea Does `require-yield` covers this proposal, and should it be updated?

[2016-02-09 00:54] mysticatea commented on #5193
No.

As my understanding, in this proposal, the rule warns call expressions if the callee is a generator function and without `yield`.
`require-yield` warns definitions of generator functions if the definition doesn't have `yield`.

Unfortunately, I don't think this proposal is feasible. ESLint is static analyzer, so it cannot know whether a callee is a generator function or not.

[2016-02-09 01:04] mysticatea commented on #5192
I think good adding references for related rules. Those would help people.

[2016-02-09 01:09] silverwind commented on #2657
How about a new rule like this?

[code]

[2016-02-09 01:12] mkscrg commented on #2657
@silverwind that would solve our problem! :ok_hand:

[2016-02-09 01:36] gajus commented on #5013
The biggest and the only downside is that you *bundle the dependencies*, e.g. if you have a dependency on `lodash` `^4.0.0` and `^4.0.1` comes out, users who install ESLint will get the version thats bundled with the package.

However, given a regular release cycle of ESLint, I see this more of a benefit (release stability does not depend on possible new bugs in the dependencies) than an burden.

[2016-02-09 01:47] clark800 commented on #5193
Generator functions are indicated with an asterisk in the function definition; there's no reason why that can't be statically determined. I understand that eslint works on each file individually, so it would not be able to apply this rule to "required" functions, but it should be possible for functions defined in the same file.

[2016-02-09 02:47] lo1tuma commented on #5013
I think the benchmark is a little bit unrealistic. Normally you would install eslint in a project which has a lot of other dependencies and the possibility is quite high that the project has some modules in common with eslint (I guess glob or lodash is in almost every dependency tree).

I’ve measured the time installing `eslint-bundled` in an existing project and it turns out that it takes longer

[2016-02-09 03:08] ilyavolodin commented on #5193
@clark800 Even withing the same file, there are problems linking calls to the functions. Here's a quick example:
[code]

Obviously, pretty much everything is possible with enough time and energy, but it's not easy.

[2016-02-09 03:23] mysticatea commented on #5190
Thank you for this issue.

This is duplicate of #5160.
Please see also: #5164 (PR #5191).

[2016-02-09 03:23] #5190 closed

[2016-02-09 04:40] michaelficarra commented on #5183
@nzakas Of course it should:

[code]

This is exactly the kind of thing this rule is meant to avoid. What we were discussing is whether it should apply to an unnamed default export.

[2016-02-09 05:16] EvanCarroll commented on #4263
Same problem as @chapinkapa .. The airbnb docs say to do just that..

[code]

Yet, when I run it I'm getting

[code]

[2016-02-09 05:27] chapinkapa commented on #4263
@EvanCarroll I can't remember how I got this to work. Looks like I am just extending "airbnb".

Here is an example of how I got it working:
https://github.com/chapinkapa/discussion/blob/master/.eslintrc

[2016-02-09 05:28] EvanCarroll commented on #4263
I can get it to work. I just have to do this..

[code]

There is something *seriously* wrong with module name resolution and I want to know how it works for anyone...

[2016-02-09 05:34] michaelficarra commented on #5192
This has no basis in truth. Maybe you're thinking of tagged templates.

[2016-02-09 08:03] alberto commented on #5092
In my view, if it were a new rule we were introducing, `always` should apply to everything. So, that's the "right thing" to do, for me. @btmills that would be a breaking change, yes, but it doesn't mean we don't add the additional options you mentioned for people that want different style for classes.

@eslint/eslint-team thoughts?

[2016-02-09 09:20] gajus commented on #5013
Is this benchmark done using npm 2 or npm 3?

[2016-02-09 10:15] lo1tuma commented on #5013
npm 3.3.6

[2016-02-09 11:23] tp opened #5195 "No empty lines between closing braces"
I would like to propose a rule that would flag the following cases:

[code]

[code]

In both cases the second to last line should be an error in my opinion.

I was unable to configure this using the existing rules.

[2016-02-09 12:19] isiahmeadows commented on #2657
That would work. :)

On Mon, Feb 8, 2016, 20:12 Mike Craig <notifications@github.com> wrote:

[2016-02-09 12:27] silverwind commented on #2657
Please reconsider https://github.com/eslint/eslint/issues/2657#issuecomment-181654103!

[2016-02-09 14:01] despairblue commented on #5150
No idea if that is important for this, but using brackets also suppresses the warning, although it's still returning the assignment.
[code]

[2016-02-09 14:03] platinumazure commented on #2657
I think we really should add a new rule. It is exactly parallel to our decision to fold ecmaFeatures into ecmaVersion and encourage people to use no-restricted-syntax. We're doing the same here with built-in environments and it would be good to provide a rule for allowing users a way to flag those globals they don't want used.

[2016-02-09 14:08] ilyavolodin commented on #5195
Could you feel out our [Proposing a New Rule](http://eslint.org/docs/developer-guide/contributing/new-rules) template please? It makes it easier for everyone to see all of the information in the same format. Thanks!

[2016-02-09 15:21] #5167 closed

[2016-02-09 16:02] mathieumg commented on #5040
@nzakas Regarding @btmills ' proposal, I imagine the core rules would still all live in this repo but get published individually like Babel core plugins. (Automated using https://github.com/kittens/lerna or something alike)

[2016-02-09 16:13] nzakas commented on #5193
I don't think this is possible without a lot of false negatives. Taking just a simple example: if you have a class where one method is a generator, that means you now have to track all instances of that class to verify if the method is called. Another example: importing a generator from a module, you'd have no idea its a generator.

Unfortunately, I don't see this as practical for inclusion in cor

[2016-02-09 16:13] #5193 closed

[2016-02-09 16:16] nzakas commented on #2657
Please see https://github.com/eslint/eslint/issues/3966

[2016-02-09 16:16] #2657 closed

[2016-02-09 16:18] michaelficarra commented on #5150
@despairblue That's an intentional exception to this rule.

[2016-02-09 16:49] alberto commented on #5195
There is a proposal for classes in #5092

[2016-02-09 18:22] vjeux commented on #5040
I'd really love to have a proper integration with github pull requests. I hacked up an integration for react-native but if possible I'd like not to maintain it :p https://github.com/facebook/react-native/blob/master/bots/code-analysis-bot.js

[2016-02-09 18:31] TheSavior opened #5196 "Add support for globals shared-node-browser"
shared-node-browser was added to globals a long time ago per this ticket: https://github.com/eslint/eslint/issues/3599

and globals was bumped to include it in eslint in this PR: https://github.com/eslint/eslint/pull/4035

Eslint 1.10.3 doesn't currently support it and users get
[code]

when they try to use it.

[2016-02-09 18:32] PhiLhoSoft opened #5197 "allowSingleLine in allman style for brace-style"
I use the Allman style of braces, so I have this setting in my .eslintrc.yaml file:

[code]
If I have this setting, brace style checking is entirely deactivated!
If I replace `allman` with `stroustrup`, it works, reporting lines with Allman style and not those in Stroustrup style, even on one line.
If I remove the last line, it works, but it complains on single line braces.

Sometime, eg. when mak

[2016-02-09 19:04] ilyavolodin commented on #5197
@PhiLhoSoft Thanks for the report. Could you provide information requested by @eslintbot please? Especially a few short code examples and output from ESLint.

[2016-02-09 19:04] vjeux commented on #5040
As @mysticatea gif shows well, I think that the next big step is going to integrate with the editor directly. At Facebook, the Nuclide team is thinking a lot about how to make writing JavaScript better and I hope that there can be some common work to be done between the two projects.

[2016-02-09 19:16] nzakas commented on #5179
It is accepted as part of the constructor options. So you can do:

[code]

Those get passed through to [Config](https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L492), which uses it to [load plugins](https://github.com/eslint/eslint/blob/master/lib/config.js#L254).

So, looks like it's just missing from the docs but actually does work.

[2016-02-09 19:20] nzakas commented on #5040
@mathieumg that's an interesting concept, but keeping all the rules in this repo doesn't give us the type of flexibility we really want with regards to separate release cycles for rules, separate maintainers, separate issue trackers, etc. We've already had a bit of trouble with `eslint-config-eslint` in this regard, it's unlikely we'll continue down that path.

@vjeux I've seen the bot, but I don'

[2016-02-09 19:21] nzakas commented on #5136
Hmm, I think we need to think more about this. Right now, your suggestion is to piggyback on top of settings as a way to pass data into plugins. We should think through if that's the right way to pass information to plugins or if there's another approach that is better suited to this use case.

[2016-02-09 19:29] nzakas commented on #5159
I'm sorry, I just don't have the extra time, energy, or health to donate to maintaining two separate versions for any period of time. I'm doing my absolute best to make upgrades as easy as possible, but when there's just one (chronically ill) person managing releases, there are severe limits to what is feasible.

In other news, as this seems to be addressed on master, I'm closing this issue.

[2016-02-09 19:29] #5159 closed

[2016-02-09 19:30] nzakas commented on #5188
And what's the approach? We need some seed information on this issue so people know what the direction is.

[2016-02-09 19:36] nzakas commented on #5183
The rule isn't about enforcing a name or not, it's about the stylistic preference between these:

[code]

Forcing people to put parentheses around or name a default exported function doesn't seem remotely related to that.

[2016-02-09 19:37] nzakas commented on #5192
Sounds like the action item here is to add `quotes` to "Related Rules` on the `prefer-template` page.

[2016-02-09 19:40] nzakas commented on #5150
I think that adding an exception just for arrow functions, or just for arrow functions with concise bodies, is a bit too specific an exception. We do have ways around this now, both by adding parentheses, adding braces, or using `/*eslint-disable*/`. I think @michaelficarra is correct in that this is really the type of nonobvious issue that the rule is trying to flag.

[2016-02-09 20:19] #5196 closed

[2016-02-09 20:22] #5160 closed

[2016-02-09 20:22] #5164 closed

[2016-02-09 21:21] PhiLhoSoft commented on #5197
Yes, I was thinking about this while coming here for updates...
A test case should be easy to set up.
I will come back with one soon...
Thanks for the quick response.

[2016-02-09 21:31] platinumazure commented on #5179
I'm not sure it does. I had to call addPlugin to make my plugin's
integration tests work. But this issue has gone off track, so I will open a
new issue if I can reproduce again.
On Feb 9, 2016 1:16 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-02-09 21:38] feross commented on #5150
@nzakas I get where you're coming from. That's what the rule is for.

This could be an accidental return:

[code]

But this is almost certainly intentional:

[code]

In any case, I don't feel too strongly about this. Feel free to close if this is out of the question.

[2016-02-09 21:46] ljharb commented on #5159
Thanks, hopefully the upgrade to v2 is smooth once it's released!

[2016-02-09 21:47] michaelficarra commented on #5183
@nzakas From the docs:

The style is that they don't want to see a reference to a function above the definition of that function. So this rule should certainly apply for a default export of a named function declaration. The only remaining question is whether this rule should treat a default export of an unnamed function declaration the same way.

[2016-02-09 22:15] LakhdarBALEH opened #5199 "config ES6 and NO-var"
where could i found the configuration of ES6 and no-var,
i need it for my project

[2016-02-09 23:02] ilyavolodin commented on #5199
Sorry, I'm not sure what you are looking for. ES6 is an environment, you can find information about configuring environments [here](http://eslint.org/docs/user-guide/configuring#specifying-environments), `no-var` configuration can be found [here](http://eslint.org/docs/rules/no-var).
Does that answer your question?

[2016-02-10 00:50] contra commented on #1238
gulp, webpack, grunt, etc. all follow the same pattern: global cli invokes the local module version and local plugins. There is no such thing as a global install or global plugins, installing plugins globally makes no sense.

Invoking the locally installed versions is more pure and more practical.

[2016-02-10 01:08] ljharb opened #5200 "exponentiation operator is stage 4, and thus standard"
`echo '3 ** 4' | eslint --stdin` (in the latest v1.x) results in
[code]

Presumably something upstream needs updating to be able to parse it, but since it's stage 4, and in ES2016, it's pretty urgent to support it.

[2016-02-10 01:10] gyandeeps commented on #5200
this is how parsing changes propagates: acorn -> espree -> eslint
With that, I would recommend opening this on [espree repo](https://github.com/eslint/espree) so that we can track it there plz.
Thanks

[2016-02-10 01:11] KevinGrandon commented on #5040
It seems there's been a lot of conversation over in https://github.com/eslint/eslint/issues/3458. It would be great if this could make it into 3.0. It would greatly help the extensibility story of eslint.

[2016-02-10 01:12] ljharb commented on #5200
Done, thanks!

[2016-02-10 02:54] mysticatea commented on #1238
I'd like to recommend https://www.npmjs.com/package/eslint-cli

[2016-02-10 10:23] mysticatea commented on #5161
From https://github.com/eslint/eslint/pull/5174#issuecomment-181991929, I updated this proposal.

https://gist.github.com/mysticatea/4e0141ce9148186e93a8

The new proposal has `"allow"` option to substitute for the `"methods"` option of `no-empty` rule and the behavior of old `arrow-body-style` rule.

[2016-02-10 11:57] mysticatea commented on #3307
I will work on this.

My plan is that I add `lineEnd` and `columnEnd` properties to the result of `eslint.verify()`.
And I will check all core rules.

[code]

Those properties are calculated from the arguments of `context.report(params)` in the following way.

[code]

For Example:

[code]

In short, the current code of core rules and plugins don't make `lineEnd` and `columnEnd`.
We should update r

[2016-02-10 12:07] Uninen opened #5201 ""Use of future reserved word in strict mode" parsing error"
I'm using eslint in es6 = true -mode (defined in .eslintrc), but I keep getting "Parsing error: Use of future reserved word in strict mode" with following code: " let me = this; "

I found #2134 that seems to relate to this, but I didn't find any solution there. Is there some related rules that would bypass the problem, which is that eslint dies here and stops linting the rest of the document?

(Y

[2016-02-10 12:41] gajus opened #5202 "Rule proposal: no-ineffective-disable-eslint"
This rule would report when when `eslint-disable` comment is used without an effect, e.g.

[code]

In this code snippet `no-console` has no effect.

The need for this rule is to prevent meaningless comments spread throughout the codebase.

[2016-02-10 13:11] PhiLhoSoft commented on #5197
OK, I made a fairly complete testbench... :smile:
[TestESLint.zip](https://github.com/eslint/eslint/files/124715/TestESLint.zip)

I wrote the config files both in Json and in Yaml format, because I was unsure of the Yaml format, so I wanted to check if results with both formats are the same. That's the case.

These tests shown the real issue with the Allman style check: if allowSingleLine is true,

[2016-02-10 13:26] puzrin commented on #5073
@gyandeeps is Kirill98's explanation enougth?

Suggestion is to allow any positive indent of function's body, counting from the first element of chain. Probably, via additional option. Examples are in the first post.

[2016-02-10 13:47] ilyavolodin commented on #3307
[code]
This wouldn't work if only node is passed in, but I get the general idea. :+1: from me

[2016-02-10 13:50] ilyavolodin commented on #5201
Could you provide your config file as well as what version of ESLint you are using? From the description, it sounds like es6 environment isn't getting turned on for some reason.

[2016-02-10 13:54] ilyavolodin commented on #5202
Sorry, I don't think something like that is possible. In order to figure out if rule has any errors/warnings, we need to run it, we can't run rules from inside other rules. More than that, rules that are disabled by inline comments do not even execute, so we can't even check if they error or not. Overall, I don't think something like that is feasible even in the future.

[2016-02-10 13:54] #5202 closed

[2016-02-10 14:11] Uninen commented on #5201
Thanks for quick reply! I'm using a long-ish template, modified from a gist, link in the attached whole file. I think the es6 environment works in other areas of the code, tho.

[eslinrc.txt](https://github.com/eslint/eslint/files/124849/eslinrc.txt)

[2016-02-10 14:12] PhiLhoSoft opened #5203 "brace-style for object and array literals"
It is a kind of follow up of #5197 where I briefly mention the issue.
The description of the `brace-style` made me think it can / should be applied to object literals. (The "declaration" part.)
That's not the case, so it is rather OK, although I think it should be more explicit in the doc.

So we need a new rule, or, actually, two: also one for array literals.

We have the `object-curly-spacing` a

[2016-02-10 14:39] gajus commented on #5202
Wouldn't it be as simple as removing the ESLint comments, converting code to AST and feeding it to the rule, then finally checking all the errors that have been triggered and matching their lines against the original comment position?

[2016-02-10 14:41] gajus commented on #5202
Yes, that would basically require rule itself to use CLIEngine to validate the code using all other inherited rules. (or at least those mentioned in the comments)

[2016-02-10 15:02] LakhdarBALEH commented on #5199
First, thank you for your  time. How  can we determine which `env`s are used from a rule, for example the `no-var` rule please?

[2016-02-10 16:35] tsilenzio commented on #3065
What about using `nestedBinaryExpressions` (or `nestedBinaryExpression`) within an object, similar to `conditionalAssign`? Like the following:
[code]

[2016-02-10 16:49] ljharb commented on #3065
@tsilenzio wouldn't that make absence of the "nestedBinaryExpressions" option the same as "true"? Typically it's not a good idea to make absence default to a truthy value, for readability.

[2016-02-10 17:23] alberto commented on #5151
Closing since I can't reproduce it. Please, open it again if you can provide more info.

[2016-02-10 17:23] #5151 closed

[2016-02-10 19:18] nzakas commented on #5201
@Uninen there's not enough information in this issue for us to respond. Please re-read what @eslintbot's comments requested and give us all the information.

[2016-02-10 19:20] nzakas commented on #5199
@LakhdarBALEH rules do not rely on environments, they are completely separate. If you're writing your own rule, it cannot tell which environments are enabled, and that's by design because the environment is just a grouping of global variables and, optionally, some other settings. The name of the environment isn't important, just it's effect.

[2016-02-10 19:20] #5199 closed

[2016-02-10 19:24] nzakas commented on #5203
Brace style is only relevant to block statements, so calling an object literal style "allman" or "1tbs" is inaccurate because there is no such style for literals.

I'm not against having rules that providing styling for object and array literals, but they shouldn't use the same terms used for block statement style, as that will be confusing.

Also, we don't have enough bandwidth to work on these r

[2016-02-10 19:34] nzakas commented on #3307
Sounds good to me, too.

[2016-02-10 19:38] nzakas commented on #5150
At the moment, it doesn't seem like there's much support for adding an exception to the rule, so closing (as always, we'll monitor to see if similar issues pop up in the future.)

[2016-02-10 19:41] nzakas commented on #5197
@PhiLhoSoft can you paste a simple repro-case directly into the issue? A lot of us respond to issues from phone or tablet, so downloading a file means we can't respond until at a computer. If you can put the information directly into a comment, then we can move faster.

[2016-02-10 19:41] nzakas commented on #5161
I thought we were going to do a `no-empty-function` rule instead of modifying `no-empty`?

[2016-02-10 19:43] nzakas commented on #5040
@KevinGrandon that's definitely on the list of things we're looking at (hence the open issue). Unclear if it would be a breaking change or not at this point.

[2016-02-10 19:46] nzakas commented on #5183
That's an inference that I don't think is 100% valid. We have another rule `no-use-before-define` that is a better indicator of this intent. This rule is just about style, and the docs explain the consequences of changing that style not as a rationalization for the rule but for the edification of the reader.

And yes, the question of this issue is about unnamed default export functions. My feeling

[2016-02-10 20:33] mysticatea commented on #5161
Yes.

[2016-02-10 21:19] oriSomething commented on #5139
@michaelficarra if there is a reason not to use `this` inside `class` instance `function`s is because classes like `React.Component`s where functions are being called outside the class as an `event`s hook.

[2016-02-10 21:41] trendzetter commented on #3737
Just as I was reading this someone starts fixing this. Really cool!

[2016-02-10 22:26] nzakas opened #5205 "Investigate switching away from GitHub"
As ESLint has continued to grow, we've started to outgrow the GitHub ecosystem. Team members spend hours each day triaging issues, many of which have incomplete information or are otherwise unclear. As such, we spend a lot of time just asking for more information ("what do you mean?", "what version are you using?", etc.). This has become increasingly frustrating for everyone on the team and ultima

[2016-02-10 22:41] ilyavolodin commented on #5205
Just to add a few more concerns:
* Integration with other tools. We are currently use Travis, AppVeyor (both fall under need to build after each issue), but we also integrate with Coveralls (not really a deal breaker, but nice to have).
* Even if people do find us in another location, would they be willing to create an account on the new service just to contribute to one project, or create an issu

[2016-02-10 22:46] ilyavolodin commented on #5202
Yes, that's what I was getting to. You have to have rule access CLIEngine to do something like that. We can't do that, that would be a horrible architectural decision. Our rules currently are completely stand-alone and have absolutely no knowledge about anything above them, other then `RuleContext`. Breaking this patter seems like asking for trouble in the future.

[2016-02-10 23:15] ilyavolodin commented on #5205
One other (pretty major) thing that I forgot is the ability to easily host/deploy site with support for markdown, as well as everything connected to that (plugins for markdown, custom domain name support, etc). I guess we could always go the route of separate website hosting, but it would mean more involved releases, and might be harder to maintain.

[2016-02-10 23:44] nzakas commented on #5205
We could also keep the website hosting on GitHub if that's a big concern.

I'm not opposed to doing separate hosting, either. My personal blog is a Jekyll site that I update automatically. It would be pretty easy to setup the same thing for eslint.org.

[2016-02-11 01:08] artyomtrityak commented on #5205
@nzakas you can just move issues to Phabricator as (babel)[https://phabricator.babeljs.io/] did

[2016-02-11 01:08] RReverser commented on #5205
As for organizing issues - can't you use ZenHub or alternatives so that repo would stay on Github? (doesn't solve the issue template though)

Personally, I find it much easier to track all popular open-source projects in one place (that's pretty much the only reason I moved from Bitbucket to Github couple of years ago) and ability to participate in any of them through one UI, cross-links between p

[2016-02-11 01:17] captbaritone commented on #5205
I would like to echo @rreverser's concern about keeping the barrier to participation low. Participation comes not just in the form of commits and filing issues, but also staying abreast of what those issues are, and how they are being handled. I have an app on my phone that allows me to follow GitHub repos. I see all the PRs, all the issues, and all the responses. I see new commits and tagged rele

[2016-02-11 01:27] afahim commented on #5205
As a fairly nascent developer, I think one of the things that I / people with my experience level care about is establishing credibility / getting credit for open source contributions, and whether we like it or not, github has become the first place to look whenever someone is trying to judge someone's contributions. It shows contribution activity loud and clear on profile pages, and this type of

[2016-02-11 01:47] bionikspoon opened #5206 "New rule: eslint-disable-next-line ..."
**Premise**

With the `// eslint-disable-line ...` comment, lines can get  a bit long.  It'd be nice to be able to put the comment on the preceding line.

**When does this rule warn? Please describe and show example code:**

For example:

[code]

Instead of:

[code]

It'd be great if the parser was smart enough to recognize when the line is effectively blank, it's referring to the next line.  Howe

[2016-02-11 02:39] ilyavolodin commented on #5206
We already support ```/*eslint-disable */``` ```/*eslint-enable */``` comments. As well as ```/*eslint*/``` comments. Are those not sufficient for your usecase? If not, can you explain why? Also, keep in mind this isn't a rule, this would have to be done in the core.

[2016-02-11 03:07] ilyavolodin commented on #5079
@harrykao Have you tried things that @nzakas suggested? This has been reported as a known issue with `babel-eslint`, I think they might've fixed it already.

[2016-02-11 03:08] ilyavolodin commented on #5077
@bob-v-t Have you tried @nzakas suggestion? Did it help?

[2016-02-11 03:09] mysticatea commented on #5205
Honestly, I love GitHub.

[2016-02-11 03:11] ilyavolodin commented on #5060
Sorry, it looks like this issue slipped through the cracks. I don't think I like proposed schema, since it might be very confusing, but maybe creating 3-rd parameter `overrides` which could accept an object might be fine. @eslint/eslint-team any problems with marking this as accepted?

[2016-02-11 03:12] ilyavolodin commented on #5008
@BYK could you provide information about this rule?

[2016-02-11 03:14] ilyavolodin commented on #5004
This has been proposed as one of the points to focus on in 3.0.0 timeframe. I'll close this issue for now, since there isn't much we can do to fix it before we address larger issues with autofix.

[2016-02-11 03:14] #5004 closed

[2016-02-11 03:16] ilyavolodin commented on #4918
@krainboltgreene @robcolburn  Have you tried @nzakas suggestion? Did it fix the issue?

[2016-02-11 03:18] ilyavolodin commented on #4877
Closing as it doesn't look like there's anything we need to fix here. Feel free to reopen if you do not agree.

[2016-02-11 03:18] #4877 closed

[2016-02-11 03:19] alberto commented on #5205
:-1: to moving away, unless there are very clear benefits.

What is making us move? Is it some or all of the points of the "Dear Github" open letter? Anything else? Can we solve it without moving away?

[2016-02-11 03:48] xjamundx commented on #3845
Can I work on this

[2016-02-11 03:50] xjamundx commented on #4690
There is some slightly different behavior for autofixing around comments landing with #4363 may be worth seeing if that will fix the problem

[2016-02-11 03:52] platinumazure commented on #4690
@xjamundx Doubt it. I'm just trying to avoid eating multiline comments.

[2016-02-11 03:58] xjamundx commented on #4690
With #4363 this goes the other way now and starts to grow the space in-between.

[2016-02-11 03:58] mysticatea commented on #5161
Yes.

I will add new `no-empty-function` rule and remove the `methods` option from `no-empty` rule.
I don't add `arrowFunctions` option to `no-empty` rule.

[2016-02-11 03:59] platinumazure commented on #4690
I wonder if we need to have no indentation enforcement (for now) on lines
where nodes follow comments?
On Feb 10, 2016 9:58 PM, "Jamund Ferguson" <notifications@github.com> wrote:

[2016-02-11 04:03] xjamundx commented on #4690
yes, and then we need indenting of the comments themselves, not what comes after them.

[2016-02-11 04:03] ilyavolodin commented on #5040
Few additional suggestions that came to my mind. I've tried doing schema normalization at one point, but we decided to not introduce it back then. I'd like to take another stab at it. Idea is to normalize rule's options based on the schema and provide object that describes rule's setup. I would also like to do a pass-through the rules and set up `defaults` for all schemas, and remove rule's logic

[2016-02-11 04:05] ilyavolodin commented on #3845
@xjamundx It's been opened for almost 5 month without a progress, I think it's safe to say nobody is working on it currently:-) Would be great if you could pick it up!

[2016-02-11 04:25] ilyavolodin commented on #2342
Marked this as accepted and removed documentation as it seems the decision was reached to make an implicit exception for ```for (x in y) return;``` pattern only (and same pattern for for..of).

[2016-02-11 04:30] ilyavolodin commented on #3420
@mysticatea I can't remember if `callback-return` has been upgraded to use code path analysis, if it has, could you close this issue as resolved? If not, we should probably mark this as accepted and update the rule.

[2016-02-11 04:31] ilyavolodin commented on #3436
@IanVS Is this something you'd like to add to autoconfig in the future? Should this be marked as accepted?

[2016-02-11 04:35] ilyavolodin commented on #3484
Can we add `exceptions` option that can either be `object` or/and `array`? This would be non-breaking change, since the default would still match existing behavior. Or do we just say that since there hasn't been any additional interest in this in over half-a-year, we are not going to do this?

[2016-02-11 04:39] mysticatea commented on #3420
I had not touched this rule before.
I can investigate this in future.

[2016-02-11 04:40] fcanela opened #5207 "valid-jsdoc fails to validate return of callbacks (with requireReturn: false)"
**Eslint version**: v1.10.3

# What I did

* I enabled valid-jsdoc and set "requireReturn" as false.
[code]
* I linted the following code
[code]
# What happened

It failed to validate asking me to add a return field in JsDoc.

# Expected result

Code being valid as this return was a for finishing the execution instead of giving back any result (validating callback-return rule). No return value sho

[2016-02-11 05:01] ljharb commented on #5205
Not being on Github is a huge barrier to entry. Babel's move to Phabricator was perhaps a clear win for the maintainers, but I believe it's a huge downside for everyone else.

While it's important to make sure maintainers are able to sustainably maintain a project, it would be a very sad thing if users had to bear a burden because maintainers wanted to lighten theirs.

[2016-02-11 05:33] btmills commented on #5079
I encountered this issue just a few days ago and did some digging. It's due to incorrect token locations produced by `babel-eslint`. `babel-eslint@4` uses `babylon@5`, which has the issue, but it's fixed in the beta versions of `babel-eslint@5`, which uses `babylon@6`.

[2016-02-11 05:38] btmills commented on #5092
I think I see the other side here. `"always"` does everything, and if that's not what you want, you can instead configure each individually. That makes sense to me after some thought.

What are the back-compat impacts here? Is making the breaking change even an option at this point?

[2016-02-11 06:43] janmarek commented on #5205
I know the issues on Github are terrible. But the benefits of the Github community are great. Please keep in mind there is a barrier for new users - everybody is familiar with Github which is not the case for Gitlab nor Phabricator.

[2016-02-11 06:43] MathRobin commented on #5205
What about bitbucket?

[2016-02-11 06:51] MathRobin commented on #5207
As you are returning something (you're using return), it's normal that you have to provide return comment, no?

[2016-02-11 07:25] szgabsz91 opened #5209 "Indent rule does not catch indentation mismatches in method chaining"
Hi,

I have some code like the following:

    angular.module('x', [])
    	.directive('MyDirective', MyDirective) // Tab - not caught
        .controller('MyController', MyController); // 4 spaces

    function MyDirective() {
        return {}; // 4 spaces
    }

    function MyController() {
    	console.log('MyController'); // Tab - caught
    }

When executing the `indent` rule with `[2, 4]`,

[2016-02-11 07:57] coderangerdan commented on #5205
Bit pbucket seems to have a lot of downtime, I would suggest following their Twitter account to check it's not an issue for you

[2016-02-11 09:29] Uninen commented on #5201
Hi,

sorry, I was in a hurry and didn't read the instructions well. Here's some further information:

1. The version of ESLint is 1.10.3 (bundled with Atom package linter-eslint v. 6.0.0)

2. What you did (the source code and ESLint configuration)

I have followng code (excerpt);

`class TplEditor extends BaseClass {

  get routes() {
    // FIXME: This breaks ESlint for some reason.
    let me =

[2016-02-11 10:06] BYK commented on #5205
As a long-time Phabricator user, it looks very compelling to me but the above-mentioned barrier to entry is quite high, especially for new comers. Right now GitHub even allows submitting a PR purely from the web interface which may help people get started with quick documentation fixes. This is not possible with Phabricator.

Idea: move everything to Phabricator, including bug reporting but keep a

[2016-02-11 10:17] BYK commented on #5205
https://github.com/travis-ci/travis-ci/issues/2143 is the ticket for TravisCI - Phabricator integration. Looks like it won't happen soon unless someone tries to do it themselves. https://github.com/travis-ci/travis-ci/issues/2143#issuecomment-73523461 shows a viable alternative.

[2016-02-11 11:58] PhiLhoSoft commented on #5197
The essence of my tests is: the setting works in all cases, except on Allman with allowSingleLine, because it doesn't check that braces are aligned in a single line case.

Rule:

[code]
(or `"brace-style": [ 1, "allman", { "allowSingleLine": true } ]`)

Test file:
[code]

[2016-02-11 12:07] PhiLhoSoft commented on #5203
Yes, I thought it could be a nice custom rule I could write: way to get started on these.
Maybe it can be integrated to the core later, if you wish.
I least, I got what i expected: a feedback on the rule definition.
Now to define these names.
Could be: "1tbs-like" and "allman-like". Pro: keep familiar names. Con: ugly...
Could be: "same-line" and "same-level". Pro: clear, I think. Con: similar nam

[2016-02-11 12:49] fcanela commented on #5207
Hello, Mathieu. Thanks for engaging.

From my point of view this return behaves like a break more than passing information to the caller. Sometimes functions that returns a callback can also return nothing (undefined), like in my example.

Should I then mark that return as optional to document the real behaviour? Am I able to do that with a "return" statement? I was unable to find how in a quick G

[2016-02-11 13:16] ilyavolodin commented on #5079
Thanks @btmills in that case, it looks like it's an issue for `babel-eslint` and there's nothing we can do about it. Closing. Feel free to reopen if you have reproduction case without `babel-eslint`

[2016-02-11 13:16] #5079 closed

[2016-02-11 13:21] ilyavolodin commented on #5209
Thanks for the issue. This is a known bug with multiline indentation which we haven't fixed yet. Closing as a duplicate of #1801 and #4076

[2016-02-11 13:21] #5209 closed

[2016-02-11 13:23] ilyavolodin commented on #5201
Could you try the following. Run eslint on this file from the command line with the `--debug` switch. That should list all of the configuration files that are being used to lint this file. See if maybe there's a config file that overrides your es6 environment somewhere?

[2016-02-11 13:27] ilyavolodin commented on #5207
Sorry, I'm not a jsDoc expert, but I think the way you do what you described is:
[code]
Although I might be wrong

[2016-02-11 13:31] krantos commented on #4018
i try with cmd and work fine the command 'bower init'

[2016-02-11 13:46] Uninen commented on #5201
Sanitized part of the paths, but here's the output:

Pandora:foo-start uninen$ node /Users/uninen/.atom/packages/linter-eslint/node_modules/eslint/bin/eslint.js client/js/tpleditor/TplEditor.js --debug
  eslint:cli Running on files +0ms
  eslint:glob-util Creating list of files to process. +68ms
  eslint:cli-engine Processing /data/foo/foo-start/client/js/tpleditor/TplEditor.js +3ms
  eslint:cli-e

[2016-02-11 13:56] natlibfi-arlehiko opened #5210 "eslint --init fails"
Using latest eslint from NPM (**1.10.3**)

Initialization of eslint fails because dependencies cannot be properly installed (I have only tried the *"Answer questions about your style"* selection but none of the style guides work).

**Example**:

[code]

[2016-02-11 14:13] btmills commented on #5210
It looks like `standard@5` requires `eslint@^2.0.0-rc.0`, which is causing this to fail. @xjamundx should we start specifying style guide versions (instead of taking default `latest`) when we install them in `--init`?

[2016-02-11 14:46] danez opened #5211 "Flow type triggers space-infix-ops error"
I know that eslint is not supporting flow types, but it seems that the space-infix-ops rule is assuming that between `left` and `right` side of an `ExpressionPattern`, there is only on `Punctation` which in the case of flow type is not true.
(https://github.com/eslint/eslint/blob/master/lib/rules/space-infix-ops.js#L32)

example:
[code]
triggers:
[code]

What would be a proper way to fix this? I t

[2016-02-11 14:53] ilyavolodin commented on #5211
This rule was create for JavaScript and it rightly assumes that there shouldn't be anything between left and right sides of an `ExpressionPattern`, since that's the case in JavaScript. I don't think we want to start adding exceptions for Flow into core rules. I think your best bet is to create a similar rule in `eslint-plugin-babel` that would account for Flow's deviation from standards.

[2016-02-11 15:45] knowbody commented on #5205
I think following [Babel](https://phabricator.babeljs.io/) example and moving to Phabricator might be a good solution. Perhaps @kittens could share how easy/difficult was to move to Phabricator.

[2016-02-11 15:46] saibotsivad commented on #5205
I'd like to reiterate @rreverser's comment about [Zenhub](https://www.zenhub.io). I'm not associated with it, and I don't use it for any serious organization yet, but I surveyed it for use in our company and it solves a lot of the problems brought up in "dear github".

Note that one thing that it doesn't "solve" is that, since it's used primarily as a browser extension, viewers of your repo who do

[2016-02-11 15:49] nzakas commented on #5205
I hear everyone's concerns about moving off of GitHub, it's not something I want to do. There's a clear barrier to participation elsewhere.

However, what we are doing right now is unsustainable. It's not just that the GitHub experience is suboptimal, it's that it aggressively undermines development. There's just no way we can keep up with the pace of issues anymore, especially when most of them l

[2016-02-11 15:52] nzakas commented on #5205
Oops, looks like ZenHub is free for open source: https://www.zenhub.io/open-source

[2016-02-11 15:53] knowbody commented on #5205
Zenhub is free for OSS

[2016-02-11 15:55] joshmanders commented on #5205
Have you considered a bot that would triage issues for you? Have it do some checks on the issue and respond with pre-configured responses and apply labels based on that?

I highly support the `dear-github` movement, but it's a catch 22. Leaving GitHub and staying with GitHub both bring their own pros and cons. Unfortunately, all the cons of leaving outweighs the pros in my eyes.

[2016-02-11 15:57] fcanela commented on #5207
You are right, @ilyavolodin: multiple return types could be expressed that way.

I opened a [Stack Overflow discussion](http://stackoverflow.com/questions/35343952/should-i-document-a-return-callback-as-return-value-if-it-is-not-intended-to) to gather some feedback.

If there is a good reason to force developers to document "return" even when working as flow control mechanism we can close this iss

[2016-02-11 15:59] ilyavolodin commented on #5205
@joshmanders We already have a bot that does basic request for additional information. Most of the people simply ignore it:-(

[2016-02-11 16:01] MoOx commented on #5205
Maybe working on the bot is not a bad idea. You could even auto close an issue if nobody responded to the bot request?

[2016-02-11 16:02] joshmanders commented on #5205
@ilyavolodin Have the bot pass through again after a time period and close the issue with a message.

[2016-02-11 16:02] ilyavolodin commented on #5207
@fcanela You can also always specify `requireReturn: false` [option](http://eslint.org/docs/rules/valid-jsdoc.html#requirereturn) and the rule will stop flagging missing returns. I think that's what you probably want to do, if specifying multiple return types isn't an option.

[2016-02-11 16:03] nzakas commented on #5201
Your config file has both the es6 environment and ecmaFeatures defined. ecmaFeatures overrides environment settings, and you're turning off block bindings. Remove everything from ecmaFeatures except modules.

[2016-02-11 16:04] BYK commented on #5205
Working on the bot also sounds like a good idea. It would automatically close the issue if certain values cannot be matched in the original issue message such as ESLint version etc.

[2016-02-11 16:05] joshmanders commented on #5205
@MoOx I have plans of creating a bot that does a lot of triaging and that for issues and help maintainers, unfortunately I haven't gotten farther than registering an account for it and start planning, but my goal is to create a bot that does a lot of offloading and providing it to communities to either host themselves, or remotely hosted.

I just wish I had more time to dedicate to it, because I k

[2016-02-11 16:06] ilyavolodin commented on #5205
We could beef up our bot to be much smarter, true. But in all honesty, in that case, we are going to be spending time developing bot's code, not ESLint:-( The other problem is that we already get complains from people thinking that our requirements are too strict. Having their issues auto-closed will only make it worse. I know that's not a good argument, but never the less, that's probably what's

[2016-02-11 16:09] MoOx commented on #5205
Bot can send sweet and kind request multiples times with different "degree" warnings. Automating what can be made is always a good idea. For another organization we are going to work on a small bot. I am sure this initiative could be shared for a lot of organization.

[2016-02-11 16:10] joshmanders commented on #5205
Have you guys considered how the Ionic team does things too? Seems helpful. http://blog.ionic.io/how-ionic-uses-github-better/

[2016-02-11 16:14] BYK commented on #5008
Not sure why I didn't get @btmills' direct mention. Anyways, this looks liek a bug. I was able to reproduce the behavior in the online demo. I'll see if I can get a patch up soon.

[2016-02-11 16:15] liquid commented on #5205
I wonder how other (even bigger) projects managed to stay productive on Github. Perhaps it would be worth getting in touch with core maintainers of bootstrap/node/jquery/etc to see how they managed to overcome the issues you mention above?

[2016-02-11 16:20] ariya commented on #5205
@ilyavolodin Users don't need to create a GitLab account to e.g. file an issue. They can sign in using their Github credential (done via OAuth).

![image](https://cloud.githubusercontent.com/assets/7288/12982088/4ef5f660-d098-11e5-9a4e-55826674691e.png)

[2016-02-11 17:07] ljharb commented on #5205
Phabricator allows the same thing, but "sign up with Github", while a prerequisite for usability, does not eliminate the friction of having to switch sites.

One other big problem is the auto-linking of issues/commits/PRs that Github allows that would simply not be possible if eslint was hosted elsewhere. It's incredibly helpful to be able to visually see on an issue/PR of mine that a linked issue

[2016-02-11 17:12] kevinSuttle commented on #5205
This has nothing to do with GitHub, but I see your point about lack of action/response from them.
ZenHub is great for sure as well. In fact, I keep a repo just for issues about GitHub, with a ZenHub-able label. Almost everything I want falls in there.

https://github.com/kevinSuttle/github/labels/Zenhub-able

[2016-02-11 17:13] fcanela commented on #5207
As I wrote in the report the problem is that the warning still appears after disabling `requireReturn`. I may have not configured it propertly, that's why I included the configuration string as said in the Contributors Code.

[2016-02-11 17:19] ilyavolodin commented on #5207
Ahh.. Sorry, I didn't notice that. OK, so that might be a bug in that case. @eslint/eslint-team I'm not very familiar with this rule, but based on the documentation if `requireReturn: false` is specified, you shouldn't see this error, correct?

[2016-02-11 17:31] Uninen commented on #5201
That resolved the issue, thank you!

Is this behaviour documented somewhere, or could I help somehow other newbies not to trip on this?

[2016-02-11 17:33] ilyavolodin commented on #5201
@Uninen this behavior is going to go away in 2.0.0 (for the most part), and we are very close to the 2.0.0 release, so I think documentation updates are not necessary at this point. But thanks for the offer!
Closing as it seems to be resolved.

[2016-02-11 17:33] #5201 closed

[2016-02-11 17:35] Uninen commented on #5201
Ok!

Thanks for making this awesome piece of software, it's been an invaluable tool :)

[2016-02-11 17:38] hzoo commented on #5205
I think the familiarity of github is super important, but it's obvious that with a large project github issues just can't scale.

Since Babel/Phabricator was mentioned, I'll say that we could of handled the move to it better and are probably losing some contributors by doing so. It's really nice to have things like issue templates and all that it provides (there's probably a lot that is yet to be

[2016-02-11 17:57] fcanela commented on #5207
If `requireReturn: false` is specified you only have to document "return" if there is any "return" in the code.

If you place "return;" you have to document nothing, but if you place "return callback();" then you have.

I can think some solutions:

* Enabling a "never" option so you are never asked for "return".
* Including "return callback();" in the list of exceptions (could require more changes

[2016-02-11 18:12] PhiLhoSoft commented on #5197
Proposed fix: in checkBlock(), replace
[code]
with
[code]
I will try and make a proper PR...

[2016-02-11 18:19] tsilenzio commented on #3065
Doesn't the flag `conditionalAssign` follow the same pattern as defined on: http://eslint.org/docs/2.0.0/rules/no-extra-parens.html?

[2016-02-11 18:38] ljharb commented on #3065
That's a fair point. @nzakas, do you think `nestedBinaryExpressions` would be an acceptable option name?

[2016-02-11 18:45] alberto commented on #5092
Yeah, I am afraid 2.0 will get released before we get any decision here and this is relegated to 3.0

[2016-02-11 18:57] thasmo commented on #5205
It was mentioned before; what about https://github.com/kentcdodds/issue-template as a first step or so.

[2016-02-11 19:07] nzakas commented on #5205
As far as I can tell, here's what would likely happen with any move (regardless of location):

## Pros

1. Much easier to triage issues by enforcing or at least suggesting proper information to include.
1. Easier to track and manage ongoing issues.
1. Better tools for managing code and releases.
1. More time spent on code, less time spent on issues.

## Cons

1. Lose visibility/discoverability.
1.

[2016-02-11 19:08] nzakas commented on #5205
@thasmo that only works if you can funnel people through a different link to file issues, which is virtually impossible. We've tried using different "Report bug" links and such, and no one ever clicks on them.

[2016-02-11 19:19] joshmanders commented on #5205
How about recruiting people to the team who's sole job is to just triage issues? I mean saying "Sure help out, tackle those issues" isn't as inviting, but saying "Anyone who is part of this group of people, will be official team members, just like core contributors, and will be recognized as an important part of the team." could be a little more inviting.

[2016-02-11 19:22] knowbody commented on #5205
@joshmanders it's 2016

[2016-02-11 19:23] joshmanders commented on #5205
@knowbody whatever that's supposed to mean.

[2016-02-11 19:24] knowbody commented on #5205
That we have computers to solve those problems.

[2016-02-11 19:25] joshmanders commented on #5205
Well clearly it's not helping. I'm just throwing ideas out there. The biggest issue seems to be triaging issues. Leaving Github I feel will hinder the project more than help it.

[2016-02-11 19:27] nzakas commented on #5205
@joshmanders what is that opinion based on? How would it hinder the project?

[2016-02-11 19:28] platinumazure commented on #5205
@nzakas Let's suppose (for discussion's sake) that ESLint decided to stay on GitHub, or at least was open to it iff folks in the community could help with triaging issues. What could people in the community do to help make that easier for you?

[2016-02-11 19:28] knowbody commented on #5205
I didn't mean to be rude sorry. I meant that we can either build something or use existing tools. Can't imagine having ppl to just dig through issues.

[2016-02-11 19:28] ljharb commented on #5205
I think it's unfortunate that "working on the code" is considered more important than "issue management". Just like when a company grows, as your responsibility increases, your individual contribution decreases. I think adding more collaborators, specialized in specific skills like issue triage and PR review, is analogous to the proven solution of growing a company by hiring similarly.

[2016-02-11 19:30] kittens commented on #5205
@ljharb I'm not sure why you got that impression from this issue because I got the opposite one. Babel moved from GitHub to Phabricator **precisely** so we could make managing issues more effective and scalable.

[2016-02-11 19:30] joshmanders commented on #5205
@nzakas discoverability is huge, and as easy as people think it'd be to just up and move to say GitLab, that's basically a death sentence for anyone hoping to receive help from the community. Take me for instance, I understand the usages of all those other services, but 99.999% of all of the things I use and help with are on GitHub, 1-3 projects leaving Github isn't going to get me to go "welp, ti

[2016-02-11 19:31] kittens commented on #5205
Also to the people saying discoverability is going to be halted, when projects reach a certain size user growth is less of an issue than maintaining the current user base. Once you reach critical mass and have something that's useful the location of the code and issues is less important. Most ESLint users will be using the websites documentation and this wont change because the repo shifts from on

[2016-02-11 19:31] nzakas commented on #5205
@ljharb Unlike with a company, no one is getting paid to do this. It's easy to say, "just get more people," but very hard to do in practice.

@joshmanders ESLint doesn't have a discoverability issue at this point. In the last 30 days, ESLint was downloaded 1.6 million times. Discoverability is a problem for new projects, not established ones.

[2016-02-11 19:32] platinumazure commented on #5205
@nzakas Is it possible to add users who have some collaborator permissions but not others? E.g., can label issues, can't push?

[2016-02-11 19:34] joshmanders commented on #5205
@nzakas Sorry discoverability was the wrong word. I mean support. As @kittens says Babel moved to phabircator, I have an account there and commented on one issue, and as heavily as I rely on Babel, I am not compelled to go to Phabricator to read issues or participate in them. It sucks that issues and code are separated. I'm personally just too lazy to go that extra step. I'm certain many are. I co

[2016-02-11 20:01] nzakas commented on #5205
@platinumazure not on GitHub.

@joshmanders what you're describing with Babel is the "casual contributors" I mentioned in my previous comment. Yes, we lose that, but in some ways, that's also what we're looking to filter out. People are no longer just going to happen upon ESLint and randomly decide to open an issue. Instead, they'll measure if their request is important enough to be worth the extr

[2016-02-11 20:04] #5161 closed

[2016-02-11 20:12] inikulin commented on #5205
I found it painful to navigate through and fill issues to Babel after it's move to Phabricator. Maybe it's just me, but I was not able to do some basic stuff in the search (like sorting issues by date). Filling issues was not fun as well: GH markdown is really handy comparing to what is present in Phabricator.  The overall impression was that transition made issues management easier for the mainta

[2016-02-11 20:14] jmm commented on #5205
I can't speak for anyone else, but I've been underwhelmed with the Phabricator experience since Babel issues moved there. Perhaps it has a lot of potential to improve things, but I also don't know how much work that would take or who's interested enough in figuring out Phabricator to do it.

Having a template for new issues is probably a great way to try to encourage higher quality reports, but it

[2016-02-11 20:20] nzakas commented on #5205
@jmm I don't think anyone expects all problems to go away, I do expect, however, that a certain level of noise will be eliminated.

[2016-02-11 20:26] jmm commented on #5205
@nzakas Maybe it will. I'm not convinced that's been the case with Babel. And meanwhile I find the Phabricator interface confusing and clunky. And since moving there reporters have been able to do crazy stuff like assign issues and set priority level themselves.

[2016-02-11 20:29] nickmerwin commented on #5205
@ilyavolodin @nzakas we have Gitlab support for Coveralls nearing completion -- probably a matter of weeks for release!

[2016-02-11 20:29] thejameskyle commented on #5205
@jmm that's largely just because we haven't setup permissions properly.

[2016-02-11 20:32] phated commented on #5205
My experience is with babel moving to phabricator is that I now contact the devs directly through other channels because the UI/UX barrier is too high.  I would expect the tweets/irc/whatever messages to dramatically increase if you move to phabricator.

[2016-02-11 20:34] thejameskyle commented on #5205
@phated I don't see how that's not a good thing. Issues are not for support-like requests, I'd rather have those discussions in other channels.

[2016-02-11 20:34] connorshea commented on #5205
I think GitLab's interface is definitely superior to Phabricator's, and I think feels a lot more familiar to GitHub users. I don't like that Phabricator has unclear names and icons for everything, makes it a pain to use compares to the Issues/Pull Requests (or Merge Requests)/Wiki vocabulary that's used by GitHub and GitLab .

With regards to GitLab.com's loadtimes, I should mention they're [makin

[2016-02-11 20:35] jmm commented on #5205
@thejameskyle

I understand, but as I mentioned earlier, an important consideration in thinking about that switch is if there are people who can and will take the time to figure out and actually do those kinds of things in Phabricator. Personally I have close to zero interest in spending time developing expertise with it.

[2016-02-11 20:36] inikulin commented on #5205
@thejameskyle

You can get the same workflow on github then, just by closing question issues and keeping only bug reports.

[2016-02-11 20:37] connorshea commented on #5205
Anecdotal evidence for the difficulty of switching, so it may not be worth all that much, but: I've started working on GitLab in my spare time over the past two weeks or so. There was a bit of an initial confusion with how the page was supposed to be navigated, but I could get started using it pretty quickly. When the Wikimedia Foundation switched to Phabricator it took a lot longer for me to beco

[2016-02-11 20:38] thejameskyle commented on #5205
We did do that, and it was a massive annoyance which lead us to leave GitHub

[2016-02-11 20:40] chadlittle commented on #5205
Happy to provide help or answer questions as needed. We're in #phabricator on freenode (clittle or epriestley).

[2016-02-11 20:43] egtann commented on #5205
It's worth considering that perhaps you don't need a web interface (Github, GitLab, etc.) at all. Git has all the tools to support distributed development, so a simple server with a `--bare` repo should suffice.

Google Groups or any other email group service would enable everyone to use whatever POP/IMAP client they choose (whether that's Gmail, Outlook, or Mutt), sort/filter issues, patches, and

[2016-02-11 20:47] inikulin commented on #5205
It doesn't scale from the user perspective. It would be good if eslint is the only project you are interested in/working on.

[2016-02-11 20:52] egtann commented on #5205
Of course it does! In fact it scales quite beautifully! :)

I'll use Gmail as an example, since that's probably the most common. Simply have the message board forward you emails with the format of  `youremail+label@gmail.com` and Gmail will automatically label the incoming messages. In this case, you could easily set up an `ESLint` label alongside, e.g. a `Linux` label, and then search by label.

[2016-02-11 20:56] tubbo commented on #5205
I'm a big fan of what MongoDB has done with their repos, consolidating issue tracking to https://jira.mongodb.org/ but keeping code hosting, pull requests, etc. available on GitHub. GitHub is a great code hosting platform, and provides rudimentary issue tracking capabilities, but JIRA is a much more complete means of tracking tickets.

[2016-02-11 20:58] yuvipanda commented on #5205
Just wanted to respond to @afahim: At wikimedia, we have our own code hosting setup, but we replicate all repositories to github (@wikimedia). This takes care of the 'but people look in one place only!' issue

[2016-02-11 20:59] inikulin commented on #5205
I'm trying my best to figure out how it's easier than what we have currently.

[2016-02-11 21:01] ariya commented on #5205
Will this be the case since both GitLab and Phabricator allows a sign-in using the user existing's Github/Twitter/Google account?

I do however agree with the (minor) "site switching" friction as pointed out by @ljharb.

[2016-02-11 21:02] phated commented on #5205
@thejameskyle I reached out to you like a month ago on twitter about a potential issue, which I was able to track down and work around, but I still think it is an issue and haven't filed it due to phabricator.  That's a major problem.

[2016-02-11 21:03] chadlittle commented on #5205
Phabricator supports multiple auth sources. You can login with GitHub credentials.

[2016-02-11 21:04] joshmanders commented on #5205
You still have the issue of jumping around between sites.

[2016-02-11 21:10] nzakas commented on #5205
I don't see "site switching" as a very high cost, especially if you can login with GitHub credentials. On a daily basis, I "site switch" numerous times a day between Twitter, Gitter, GitHub, Gmail, Google Docs (literally have these all open right now), sometimes talking about the same things.

[2016-02-11 21:10] simpleMonk commented on #5205
+1 for gitlab

[2016-02-11 21:12] chadlittle commented on #5205
We have "Nuance" on our roadmap for 2016, an "at the source" triage tool that will pull reports in from any source you choose, so people file bugs via Twitter, Stack Overflow, GitHub, or Twitch.

[2016-02-11 21:13] inikulin commented on #5205
@nzakas But you don't get notified about PR/issue status on Twitter and don't read tweets in Google Docs. Each site has it's focus and purpose.

[2016-02-11 21:14] dosire commented on #5205
For more information on how GitLab addresses issues encountered by large open source projects please see https://about.gitlab.com/2016/01/15/making-gitlab-better-for-large-open-source-projects/

For all your CI, code quality and deployment needs please have a look at https://about.gitlab.com/gitlab-ci/

We're very open to requests to add additional functionality, see https://about.gitlab.com/direc

[2016-02-11 21:20] psion commented on #5205
I've started using BitBucket recently for myself and organization.  As a small organization, I find that having to pay for one or two private repos a bit hard since I don't make that kind of revenue just yet.  Being on BitBucket lets me keep my team small and have private repos.  Plus, integration of issues with Jira is really nice.

[2016-02-11 21:22] joshmanders commented on #5205
Okay so we've identified that issues are a problem. Drive by issue creation that don't adhere to any specific format with helpful information. We've suggested the use of bots to triage as much as possible to handle these, and were retorted that they don't pay attention... So my question here is, if switching to gitlab is an idea, they currently only offers issue templates, if you set a template vi

[2016-02-11 21:22] Trevoke commented on #5205
I'm with @egtann ... If you have reached such size that this is a problem, consider the model that the Linux kernel uses.

[2016-02-11 21:23] xorgy commented on #5205
You could use the GitHub API to automatically close or delete issues which do not include required information. Maybe.

I would say GitLab is your best bet, and a further benefit is that if something doesn't currently work as you would expect, you could conceivably add the feature to GitLab CE, which is continuously deployed as the public site. That is, assuming the desired features have general a

[2016-02-11 21:33] davidjgoss commented on #5205
For what it's worth, I think a move to GitLab would be fine. It looks pretty nice, you can login with GitHub creds, and I like that they responded to the Dear GitHub and seem to have a lot of it already covered.

I wouldn't worry too much about visibility for regular users; type "eslint" into Google and the top two results are the website. It could do better, [as this issue points out](https://git

[2016-02-11 21:44] andyfleming commented on #5205
1. Stay on GitHub. Keep the barrier to entry for participating in the project low.
2. Consider disabling issues on the github repo(s) and using a separate service to track issues. Have clear documentation about where and how to create issues.

[2016-02-11 21:46] cweagans commented on #5205
For what it's worth, I do a lot of work with Drupal. The issue queues on Drupal.org are very complete in terms of the metadata that's tracked with each issue (version, subsystem, severity, etc). However, you would not believe how much time and energy people spend bickering about the "right" metadata for an issue. It seems like a very nice thing to have a lot of extra metadata like that, but speaki

[2016-02-11 21:49] Symmetric commented on #5205
On the question of bots, Google uses Github for Kubernetes (a project with 25k commits), and I know that they had a lot of complaints with the way Github handles issues and code reviews. They have built a bot to handle their issue flow:

https://github.com/kubernetes/contrib/tree/00f87a5fc4e01f5479c0b90f0cb5596d2090453c/mungegithub

This might be overly specific to their usecase, but maybe there's

[2016-02-11 21:55] dosire commented on #5205
@nickmerwin good to hear GitLab support for coveralls is coming soon https://github.com/eslint/eslint/issues/5205#issuecomment-183049738

[2016-02-11 21:56] young-steveo commented on #5205
Have you guys seen this tool from @fat ? https://github.com/fat/haunt

[2016-02-11 22:01] arthurnn commented on #5205
Hi,
I am part of the rails committer team, and we usually face similar problems. Specially around people opening issues without enough info to reproduce them, or issues that were already fixed and so on. We have a big amount of issues coming in every day. I would like to tell you how we solve those problems, and if you are interested I might be able to help out you to integrate them in here.

- Fi

[2016-02-11 22:09] Nejuf commented on #5205
If issue organization and management are the main problems, [Waffle.io](https://waffle.io/) may be what you're looking for.  Sorry, I haven't used it in project, so I can't provide much feedback on it.

[2016-02-11 22:10] marcosnils commented on #5205
It'd be nice to ask to the someone at docker team how the addresses these situations. I believe they're one of the largest and most active projects on Github.

[2016-02-11 22:14] BYK commented on #5192
Working on this.

[2016-02-11 22:19] prettydiff commented on #5205
This is an OSS project run by volunteers who have real jobs, real families, and limited time.  My thoughts on this matter is to push back crappy issues onto the users.

Here is how to manage this:

1. Create a set of requirements for new issues.  This is hard to enforce on Github where there is not a form (with required fields) that you can create, but can be documented well enough using a wiki pa

[2016-02-11 22:20] prettydiff commented on #5205
This is an OSS project run by volunteers who have real jobs, real families, and limited time.  My thoughts on this matter is to push back crappy issues onto the users.

Here is how to manage this:

1. Create a set of requirements for new issues.  This is hard to enforce on Github where there is not a form (with required fields) that you can create, but can be documented well enough using a wiki pa

[2016-02-11 22:27] BYK commented on #4774
@nzakas I know this wasn't accepted yet but I wanted to give this one-sentence patch a shot to see if it'd address @SpainTrain's concern.

[2016-02-11 22:34] #5192 closed

[2016-02-11 22:35] #4774 closed

[2016-02-11 22:36] BYK commented on #4104
Working on this

[2016-02-11 22:45] jmm commented on #5205
@prettydiff

I'm :+1: to these ideas generally and have (previously) [implemented them](https://github.com/substack/node-browserify/wiki/How-to-report-issues-with-browserify) with Browserify (which needs to institute a policy of no support requests in the issue tracker, but that's another story). I wish it were easier to link to a wiki page with some kind of shorthand and have it automatically pop

[2016-02-11 22:46] jmm commented on #5205
@prettydiff

I'm :+1: to these ideas generally and have (previously) [implemented them](https://github.com/substack/node-browserify/wiki/How-to-report-issues-with-browserify) with Browserify (which needs to institute a policy of no support requests in the issue tracker, but that's another story). I wish it were easier to link to a wiki page with some kind of shorthand and have it automatically pop

[2016-02-11 22:47] pygy commented on #5205
[Life is better with Rust's community automation](https://youtu.be/dIageYT0Vgg?t=15m00s) <== a talk about the Rust github bots, their contributor agreement, and how it improves their morale (skipping the beginning, which is not related to the issu at hand).

It would help if @eslintbot  was more anthropomorphic.

Also, [this HN comment](https://news.ycombinator.com/item?id=11083033) is insighful:

[2016-02-11 22:54] BYK commented on #5203
I think I'd prefer the `name-like` approach.

[2016-02-11 22:54] BYK commented on #5203
@eslint/eslint-team opinions?

[2016-02-11 22:55] krainboltgreene commented on #5205
ESLint user here who has contributed/owns a few popular projects. Please don't move to Phabricator. It was one of the worst bug reporting experiences I've encountered other than default old RedMine.

After two crappy experiences with babel's phabricator I simply won't be submitting bugs to them, it's not worth the effort. I'd rather fork and write a hack to fix the bug locally.

[2016-02-11 22:56] xixixao commented on #5205
It seems to me that the main problem are issues with bad quality. So I suggest to close them + label them as missing information. That should be a single keyboard shortcut. It seems that you don't want to do this (or just ignore the issues) because you don't want to piss off the community. But moving somewhere else is probably going to piss off / shut off the same people.

If the problem is that i

[2016-02-11 23:01] jmm commented on #5205
Re: the wiki idea with instructions on issue reporting...another idea I forgot to mention is to create a unique label for that situation and when you run into one of those issues, just apply the label and do nothing else (or maybe close), and have a bot that posts a generic reply to those issues that explains why it was closed and has a link to the "how to report" issues instructions.

[2016-02-11 23:07] jlukic commented on #5205
I'm currently sitting at around 800 unread notifications that have been plaguing me. For large projects the amount of issues that aren't correctly filed can end up being the majority of the projects issues.

As maintainers time ebbs and flows the ability to keep issues filed at "net zero" becomes more and more difficult, especially when most new issue triaging is really just informing people of in

[2016-02-11 23:08] nzakas commented on #5205
An update: I had a nice conversation with one of the folks at GitHub. It sounds like they do understand our concerns and have some plans to address them. Nothing set in stone as of yet, but it does seem that issue templates are on the roadmap. I've opened a dialogue with them that will continue to see if we can get to a resolution that will allow ESLint to stay on GitHub.

[2016-02-11 23:14] colinmegill commented on #5205
@joshmanders FWIW, all other issues aside, it's not realistic to have the least-in-the-know contributors in charge of deciding what issues are addressed by the core maintainers.

[2016-02-11 23:16] nzakas commented on #5205
@arthurnn thanks for the info. I've tried to rangle an issues team but haven't had any success. Do you have any insights as to how to build such a team? (I'll take a look at the other links as well, thanks!)

@prettydiff those are some good suggestions, and we can look into that. The only downside is that it still requires humans to start out the process, and that's what I'm trying to minimize.

@

[2016-02-11 23:18] colinmegill commented on #5205
@nzakas I'm glad to hear they have been responsive. I think doubling down on this service and helping them iterate through the growing pains is the best possible course for all concerned, though of course it's predicated on their willingness to get a roadmap in place.

[2016-02-11 23:20] bob-v-t commented on #5077
Actually, we haven't been experiencing this problem since we updated our package.json last week. It probably was caused by one of the related packages, since eslint itself wasn't updated.

Excerpt from the updated package.json:

[code]

Thanks for your time.

[2016-02-11 23:20] #5077 closed

[2016-02-11 23:22] glenjamin commented on #5205
One thing I think might be useful in this disucssion is to talk about the types of issues that are currently being received, and what should be happening to them.

eg.
Questions -> ideally on stackoverflow?
Bugs -> needs enough info to repro
New rules -> push out to plugins?
New features -> attempt to avoid?
Support for new JS language features -> probably need? Maybe push out to 3rd party parsers

[2016-02-11 23:22] joshmanders commented on #5205
@colinmegill Nothing to do with being in the know and all to do with a few select users who's whole job is to just triage issues and respond to invalid issues, close them, add tags, etc. Obviously if they have access to do so, they will be somewhat-in-the-know on how to handle things. Not like I'm suggesting randomly giving some github user access to close and tag issues.

[2016-02-11 23:24] rmcardle commented on #5205
GitHub isn't all or nothing. Why stop using their git hosting when their issue tracker is where your problems are? Just find a better issue tracker and keep your source code here. There are plenty of good issue trackers with GitHub integration.

[2016-02-11 23:25] jmm commented on #5205
@nzakas

If you get that up and running I'd be interested to see it in action / hear how it's working out.

[2016-02-12 00:02] ilyavolodin commented on #5210
@btmills specifying version means we are going to be on the hook of upgrading them regularly. On the other hand, issue like this is probably not a good idea. Not sure what would be the best approach.

[2016-02-12 00:03] xjamundx commented on #5210
@feross any thoughts? I assume we can link to a specic `standard` in `eslint-1` and then maybe go back to `@latest` for the 2.x release?

[2016-02-12 00:10] btmills commented on #5210
Yeah, I don't like being the ones responsible for that either, but I'm looking at it from the perspective of semver - I don't think there's a way we can assume compatibility of future major versions.

[2016-02-12 00:12] feross commented on #5210
Oh this is cool. Didn't know that eslint had this functionality under `--init` :+1:

`eslint-config-standard` v5.0.0 and later requires `eslint` v2.x. I jumped the gun a little bit and published it before eslint 2.0.0 is released. But this issue will affect the other configs too once they get updated for eslint 2.0.0 and eslint 1.0.0 users use `--init`.

[2016-02-12 00:14] xjamundx commented on #5210
Yeah sounds like we should lock down all of them :-/

[2016-02-12 00:15] StoneCypher commented on #5205
One thing participants of social networks often find is that metcalfe value massively exceeds tool value

There's a reason you don't use DARCShub

[2016-02-12 00:18] nzakas commented on #5211
I've been trying to get some standardization on where type annotations go in the tree, and I think I'm close. If it can be hammered down, we can add an exception.

[2016-02-12 00:19] nzakas opened #5217 "Test issue - please ignore"
Just testing changes to the bot.

[2016-02-12 00:19] #5217 closed

[2016-02-12 00:21] nzakas commented on #5205
@jmm got it working: https://github.com/eslint/eslint/issues/5217

[2016-02-12 00:21] joshmanders commented on #5205
https://github.com/notwaldorf/github-canned-responses by @notwaldorf might be helpful too.

[2016-02-12 00:22] nzakas commented on #5205
@rmcardle this was discussed way back at the top. No one wants to switch between one place for code and one for issues. That's a nonstarter for us.

[2016-02-12 00:22] nextdoor-engineer commented on #5079
Apologies for the lack of response. This got buried in my inbox. Yes, `babel-eslint 5` fixes it. Thanks for checking in.

[2016-02-12 00:24] #5008 closed

[2016-02-12 00:55] larkin commented on #5205
What you do is aggressively close issues that are poorly written or unhelpful.  If people won't follow the instructions in your CONTRIBUTING.md, then you don't need to give them the light of day.  You're not here to hand-hold junior developers-- they need to learn to investigate and get to the root cause of issues.  If they do a poor job of bug reporting, and they feel they should get more respect

[2016-02-12 01:03] dcposch commented on #5205
Just an observation: if Node itself is happily using Github, then a JS linting tool should def  be able to do so as well.

It just requires disciplined organization.

[2016-02-12 01:03] platinumazure commented on #5192
Thanks @BYK for fixing this!

[2016-02-12 01:10] platinumazure commented on #5205
Think I'm in agreement with @larkin. There's a difference between having expectations of developers and being "mean". We can't afford to "be nice" to junior developers when it drains so much time and productivity.

[2016-02-12 01:20] kittens commented on #5205
@dcposch

You're forgetting that Node has a very large contributor base relative to other large open source projects and it even has people paid fulltime to work on it.

[2016-02-12 01:53] IanVS commented on #5205
It seems React Native had some pain around issue management and prioritization, which drove the introduction of [Product Pains](https://productpains.com/product/react-native/).  Their bot leaves a comment on GitHub issues asking users to submit bugs and feature requests on Product Pains ([example comment](https://github.com/facebook/react-native/issues/5884#issuecomment-183126896)).

It would be i

[2016-02-12 02:19] joshmanders commented on #5205
@larkin Bingo.

[2016-02-12 03:07] JaKXz commented on #5205
I don't know if this has been suggested yet: waffle.io?

[2016-02-12 03:18] vjeux commented on #5205
@IanVS for React Native, what we've been trying to solve is how to prioritize what the community needs. At this point, there are way too many issues for our team to handle and most of them are very low value and would take far more time and energy to fully figure out than actually working on the project itself.

We've tried a bunch of things to extract actionable things from issues like tagging al

[2016-02-12 03:25] aloisdg commented on #5205
All problems wont be here if GitHub was a FOSS. New problems will rise and you cant do nothing about it. If you found an issue on Phabricator or GItLab you can report or even fix it. You are confined and limited on GitHub. We cant participate to all of this. It's manage by GitHub, only...

[2016-02-12 03:57] jlukic commented on #5205
Thanks @vjeux I find your commentary insightful. I think I've been feeling the same things lately. It's unfortunate for the public/private divide, but it doesn't seem like theirs much other recourse for maintainers.

[2016-02-12 04:12] jasom commented on #5205
Note that phabricator allows you to still use github for source-control; phabricator is perfectly happy with the repository being somewhere else.

[2016-02-12 04:44] jmurzy commented on #5205
@larkin You beat me to it.

[2016-02-12 05:08] mysticatea opened #5218 "`indent` rule are missing a problem at `else` when I'm using Stroustrup style."
`indent` rule are missing a problem at `else` when I'm using Stroustrup style.
On `v2.0.0-rc.1`.

**Code:** test.js

[code]

**Expected:**

[code]

**Actual:**

No errors.

[2016-02-12 05:22] evandrix commented on #5205
[GitLab](https://gitlab.com) FTW!

[2016-02-12 07:13] d1ffuz0r commented on #5205
nothing can beat JIRA here

[2016-02-12 07:15] BYK commented on #5192
My pleasure!

[2016-02-12 07:23] Marak commented on #5205
Well.

It seems your main issue is dealing with a large number of Github Issues.

As someone who has spent a lot of time triaging 1000s of issues across 100s of github projects for the past six years I can offer a small amount of advice no one else seems to be touching on.

If your users are filing too many support issues, that is a direct result of your software and documentation not offering eno

[2016-02-12 08:53] Martinspire commented on #5205
The way i see it:

1. Will people find us in another location?
-No probably not. But you can bet your ass that somebody is going to clone the repo and dump a github one right back.
2. How high is the barrier to entry for new contributors if we're not on GitHub?
-High, plus you don't see any/many other projects make the step. Got to facepalm when i saw the headline.
3. What about the Gitter chatroo

[2016-02-12 09:01] Bounga commented on #5205
@nzakas Bitbucket seems to fulfill all you requirements. I use it since 2008 and it is very good! They are very concern with their users issues. And even if it's not very important for you, you'll have unlimited private repos. You really should give it a try, just to see what it does.

@ilyavolodin You can login to bitbucket using your github account.

Github is not the only viable solution out th

[2016-02-12 09:03] glenjamin commented on #5205
This is getting "phased out" - https://bitbucket.org/account/signin/?next=/#social-auth

[2016-02-12 09:06] Bounga commented on #5205
@glenjamin Oh yes you're right. So use your google account, or just create an account (that's what? 2 or 3 clicks). If you don't have the motivation to create an account, I'm pretty sure you won't have the motivation to create a good PR or a good issue with all the relevant info.

[2016-02-12 09:43] pypingou commented on #5205
If self-hosting is not out of the game, maybe [pagure](https://pagure.io/pagure) could be an option.

It's all python, it provides quite a bit of the features github offers and it's entirely FOSS.
On the cons side, it's relatively new/young so there are likely some features that are missing but I am sure upstream would be very happy to see RFE being filled on the tracker :)

[2016-02-12 09:54] petetnt commented on #5205
I want to chime in and agree with what @Marak said.

If the **biggest** issue here is low quality issues, why on earth is the bug reporting guidelines stashed away under Contributing -> Bug Reporting -> Actual bug reporting page. Why not on the README.md itself right under the Usage and Configuration sections.

It might not be the prettiest place for it, but it seems to bring much more trouble to

[2016-02-12 09:57] kittens commented on #5205
fwiw for Babel we had literally a 3 line README.mda with the one notable in bold "don't post support questions here", we even had a massive H1 heading in bold in `CONTRIBUTING.md` saying not to do this. Want to guess what happened? Nobody read it and people opened issues anyway. People don't read the `README.md`, even if it's super tiny and people certainly don't read `CONTRIBUTING.md`.

GitHub ha

[2016-02-12 09:58] mysticatea commented on #5207
As far as I know, `requireReturn` option behaves as like below:

**In true case:**

[code]

**In false case:**

[code]

And that function is returning a value (the result of `callback()`), so it's intentional behavior.

----

I don't think making an exception here is good because this is too special. There are callbacks which returns a meaningful value such as `Array.prototype.filter`, `map`, and

[2016-02-12 10:02] DjebbZ commented on #5205
The Clojure Community led by Rich Hickey decided to use Github for code but use JIRA as an issue tracker. They also require contributors to sign a CLA and to send patches in JIRA issues, not patches. So the barrier of entry is very high, but all contributions/issues are meaningful. I'm not suggesting to do the same, just pointing to another successful OSS project that don't use Github. JIRA is by

[2016-02-12 10:14] petetnt commented on #5205
@kittens This is just hindsight 20/20 but if you look at how the 3 line page version (one of them, at least) looked at a certain point of time:

https://github.com/babel/babel/blob/f4a3b2f01ae17acddb78b00cee7fb5cbd4a1524f/README.md

[code]

While it's short, it's also very vague, especially for the demographic that contribute with bad issues. For example:

- What is gitter? What is StackOverflow?

[2016-02-12 11:07] gilligan opened #5219 "new rule: max-bindings"
#### motivation
There is already a rule that limits the maximum number of statements (`max-statements`). This new rule would instead limit the amount of const/let bindings per function.

#### type of rule
Like `max-statements` this would belong to the `stylistic` category

#### examples

The following would not create a warning:
[code]

The following would create a warning:
[code]
#### inclusion
A

[2016-02-12 11:32] fcanela commented on #5207
Thanks for your point of view, @mysticatea. After thinking a little bit those are my thoughs:

Those examples you proposed as "callbacks" aren't callback in the meaning of "ping me when the job is done", are utility functions which perform a work needed for the calling function. As it, they should not be called "callback" or "cb" as parameters and we can differentiate them doing the same inference

[2016-02-12 12:45] mysticatea commented on #5207
Thanks @fcanela.

Indeed, my examples were not "callback".
Hmm, about an option for callbacks, I will follow owner/reviewer's direction.

Just FYI: Actually `callback-return` rule allows the following pattern, I conformed it on the online demo:

[code]

http://eslint.org/demo/

[2016-02-12 13:01] awalGarg commented on #5205
AFAIU, the issue with moving to another platform like Phabricator is that it hampers support/discoverability/increases barrier to entry of contributors/etc; but if in a parallel universe, these problems weren't present, ESLint from that universe would have happily moved away to another issue tracker. Right?

If so... I suggest moving to another issue tracker in this very universe, and patch the af

[2016-02-12 13:25] fcanela commented on #5207
Ah, I missed that somehow. Thanks for pointing, @mysticatea.

I like to place the returns with the callback to avoid human errors but having eslint reduces the chances of that happenings and your solution clearly solves the problem with breaking both rules and having extra warnings.

I will wait too for a eslint team decision. If they think this is too granular to be implemented I will follow the