[2021-04-26 16:12] fgblomqvist commented on #3458
Did anyone ever decrypt the announcement in ESLint v7? The one @bodograumann pointed out. It seems like nothing changed in ESLint v7? Since this issue is still open can it be assumed that it is still not supported to have plugins as deps in shareable configs then? I will assume that it's not since at least we can't get it to work 🤷

[2021-04-26 16:52] jbzdarkid commented on #14478
I don't have the ESLint output directly, since it's getting parsed by Codacy. I guess I could try to build a minimal repro, but I don't know if I care that much, since I'm just ignoring this rule now.

[2021-04-26 19:02] nzakas commented on #11989
@harsha0609 awesome! We'd love to have you work on this issue. Please let us know if you need any help.

[2021-04-27 00:43] nzakas commented on #14231
Thanks, I’ll take a look. At first glance that seems a bit more complicated that what we need, but we still have time to evaluate several options.

[2021-04-27 00:47] nzakas commented on #14348
ESLint doesn’t natively support TypeScript, so without a reproducible case in JavaScript we can’t look into this any further. If you are having trouble with TypeScript-specific issues, I’d suggest opening an issue on the typescript-eslint project.

[2021-04-27 00:47] #14348 closed

[2021-04-27 00:55] nzakas commented on #14345
No details, so closing.

[2021-04-27 00:55] #14345 closed

[2021-04-27 01:44] mdjermanovic commented on #14319
No regressions reported, so this concludes the v7.25.0 release.

Please feel free to merge semver-minor PRs again.

[2021-04-27 01:44] #14319 closed

[2021-04-27 01:44] eslint-github-bot[bot] opened #14524 "Scheduled release for May 7th, 2021"
The next scheduled release will occur on Friday, May 7th, 2021.

## Release Day Checklist

- [ ] Remove the 'tsc agenda' label on this issue
- [ ] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [ ] Start the release on [Jenkins](https://jenkins.eslint.org)
- [ ] Update the release blog post with a "High

[2021-04-27 06:13] aladdin-add commented on #14478
sorry, we cannot help without enough info.

maybe you should report the issue to codacy's maintainers - if you are not directly using eslint.

[2021-04-27 06:25] jbzdarkid commented on #14478
Good suggestion, I'll try that.

[2021-04-27 06:25] #14478 closed

[2021-04-27 12:21] niceue commented on #13957
The problem is still not solved.

[2021-04-27 14:25] PodaruDragos opened #14527 "Autofix doesn't work with max-len rule."
[code]

This will produce an error in the editor/console but the autofix isn't able to fix this.
Are there any plans to support something like this ?

[2021-04-27 15:50] nzakas commented on #14527
It’s beyond our capability to properly wrap all syntax, so we can’t auto fix this rule.

[2021-04-27 15:50] #14527 closed

[2021-04-28 00:35] nzakas commented on #14111
Closing as there are other solutions available.

[2021-04-28 00:35] #14111 closed

[2021-04-28 00:37] nzakas commented on #14188
This seems to be an issue with gulp-eslint, which we don’t maintain. If you continue to have this issue, please contact the gulp-eslint project for help.

[2021-04-28 00:37] #14188 closed

[2021-04-28 00:38] nzakas commented on #14297
No repro case, so closing.

[2021-04-28 00:38] #14297 closed

[2021-04-28 00:38] nzakas commented on #14301
Not enough info to proceed, so closing.

[2021-04-28 00:38] #14301 closed

[2021-04-28 00:39] nzakas commented on #14281
@nemonemi do you still intend to create a repo for this?

[2021-04-28 06:58] nemonemi commented on #14281
Hi @nzakas, yes I do, however, at the moment I'm busy with other things. If you think it makes sense, we can close the ticket until the time I can come back to it?

[2021-04-28 09:43] oimmc opened #14533 "Error: Failed to load config "@ljharb" to extend from."
**Tell us about your environment**

* **ESLint Version:*v7.22.0*
* **Node Version:*v12.21.0*
* **npm Version:*6.14.11*
* **Operating System:*macOS Big Sur v11.2.3*

**.eslintrc.js**
[code]
run:
[code]

warning:
[code]

[2021-04-28 10:41] LukeOwlclaw opened #14534 "False positive "(ESLint) no-invalid-this" in class property method"
**Tell us about your environment**

* **ESLint Version:** v7.25.0
* **Node Version:** v12.20.1
* **npm Version:** v6.14.11
* **Operating System:** win32 10.0.19042

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

    "@typescript-eslint/parser": "4.22.0",
    "@typescript-eslint/eslint-plugin": "4.22.0",

**What did you do? Please include the ac

[2021-04-28 11:44] lawandothman opened #14537 "Cannot read property 'replace' of undefined while writing an import statement in .tsx file"
**Tell us about your environment**

* **ESLint Version:** `v7.25.0`
* **Node Version:** `v16.0.0`
* **npm Version:** `v7.10.0`
* **Operating System:**  `macOS Big Sur v11.3`

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?** `@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</

[2021-04-28 13:03] DanielSWolf opened #14538 "`indent` throws TypeError: Cannot read property 'loc' of undefined"
**Tell us about your environment**

* **ESLint Version:** v7.25.0
* **Node Version:** v14.16.0
* **npm Version:** 6.14.11 (Yarn 1.22.4)
* **Operating System:** macOS Catalina 10.15.7

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

I'm using `@typescript-eslint/parser`. The problem does *not* occur when using the default parser.

**Please show y

[2021-04-28 13:33] DanielSWolf commented on #14538
It appears that the fix is indeed a one-liner and I'd be happy to create a pull request. However, I'm not sure how to write a unit test that uses `@typescript-eslint/parser`. Or should I just fix the code without adding a new unit test?

[2021-04-28 14:34] ljharb commented on #14533
This is because you're linting node_modules, which you shouldn't be. If you're in a monorepo with nested node_modules dirs, you have to add `**/node_modules` to your `.eslintignore`.

[2021-04-28 14:35] ljharb commented on #14534
Class fields only recently gained stage 4, so eslint doesn't support them yet (see #14343).

(Separately, arrow functions in a class field are almost always a bad idea, and there's nothing in this example that suggests Baz should be an arrow function)

[2021-04-28 15:13] mifrej commented on #11843
So for more than 1.5 year plentiful people agrees on necessity and syntax but nothing follows to completion 🤔

[2021-04-28 15:14] ljharb commented on #11843
@mifrej it's almost like nothing happens by magic. are you volunteering time, effort, or money to help, while complaining? 🤔

[2021-04-28 15:16] mifrej commented on #11843
You got me here @ljharb 😏

[2021-04-28 15:17] mdjermanovic commented on #14534
Hi @LukeOwlclaw, thanks for the issue!

This rule will be updated as a part of #14343, so I'm closing this issue as a duplicate.

In the meantime, you can use a replacement rule [`@typescript-eslint/no-invalid-this`](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/no-invalid-this.md) from [@typescript-eslint/eslint-plugin](https://github.com/typ

[2021-04-28 15:17] #14534 closed

[2021-04-28 15:27] GiancarlosIO commented on #11843
😢

[2021-04-28 16:27] rowild opened #14540 "Web APIs throws "no-undef" errors"
No matter wwhich of the new Web APIs is used, they all throw an error.

[code]

I know that I can use `eslint-disable-next-line`, however, I thought I share that observation here - maybe it is not even a eslint-related problem and I misunderstand something - in which case I'd be happy to learn about my shortcomings.

Thank you!

![Bildschirmfoto 2021-04-28 um 18 24 48](https://user-images.githubus

[2021-04-28 17:35] aladdin-add commented on #14540
to allow web APIs, please set the browser env:
[code]

refs: https://eslint.org/docs/user-guide/configuring/language-options#specifying-environments

[2021-04-28 17:37] aladdin-add commented on #14537
seems the error was from `eslint-plugin-import`, which is not maintained by the eslint team.

please file the issue in that repo. :)

[2021-04-28 18:35] HartS opened #14541 "`prefer-template` configuration to ignore if resulting line would be over a configurable length."
**What rule do you want to change?**
prefer-template
**Does this change cause the rule to produce more or fewer warnings?**
Fewer errors/warnings (depending on configuration)
**How will the change be implemented? (New option, new default behavior, etc.)?**
New option
**Please provide some example code that this change will affect:**
[code]
**What does the rule currently do for this code?**
It give

[2021-04-28 18:36] rowild commented on #14540
Ah - phantastic! Thank you so much!

[2021-04-28 18:45] magicmark opened #14542 "no-return-await: Why?"
**What rule do you want to change?**

[https://eslint.org/docs/rules/no-return-await](https://eslint.org/docs/rules/no-return-await)

**What do you want to change**

Remove it or add a big warning label

**Are you willing to submit a pull request to implement this change?**

Yes

**Why?**

Looks like this is a can of worms that comes up every now and again:

- https://github.com/eslint/eslint/issu

[2021-04-28 18:47] ljharb commented on #14542
v8 isn't the only engine, and authoring your code based on engine quirks is a terrible idea.

`return await` is ALWAYS redundant outside of a `try` block, and it's simply bad/sloppy code to have it, even if, in *one* engine, it's been optimized away so the bad code isn't slow anymore.

[2021-04-28 18:49] magicmark commented on #14542
https://i.fluffy.cc/cfzM4PPfm33FXdZthNH2CGQRwcC3dG6C.html

Maybe i'm missing something, but I'm not using a try/catch block, and it doesn't look redundant to me?

[2021-04-28 18:51] ljharb commented on #14542
Stack traces aren't part of the language, and thus have no bearing on this conversation.

It is redundant. A return value in an `async function` is automatically awaited, so awaiting it yourself is unnecessary.

[2021-04-28 18:53] ljharb commented on #14542
I think it'd be totally reasonable to make sure the rule docs reflect current implementations; but the rule is still strictly necessary and will forever be. At some point in the future, v8 will hopefully fix their insufficiently helpful stack traces so this redundancy no longer provides a benefit.

[2021-04-28 19:14] magicmark commented on #14542
But it still affects us (folks using modern v8) in the real world. At the end of the day, I still have worse stack traces if I follow this rule.

So I'm unsure why this isn't considered part of the tradeoff, and not part of the conversation? Maybe I'm missing something?

(I get that eslint doesn't want to be bounced around by current market forces and wants to stay true to the spec, but in this sp

[2021-04-28 19:17] ljharb commented on #14542
It's certainly a tradeoff to be made, and a reason to disable the rule.

[2021-04-28 20:48] rowild commented on #14540
Actually this does not work. "new Accelerator()" still throws the error shown above... any ideas?

[2021-04-29 00:40] nzakas commented on #14281
Sounds good. Thanks.

[2021-04-29 00:40] #14281 closed

[2021-04-29 00:45] nzakas commented on #11843
Folks, let’s keep the discussion professional, please. Sarcasm isn’t helpful.

In case it wasn’t clear, this issue has been accepted and is available for anyone to implement. [This schema](https://github.com/eslint/eslint/issues/11843#issuecomment-586535703) is the agreed-upon approach. We are looking for a community member to implement this as we are busy preparing ESLint for v8.0.0.

[2021-04-29 00:48] nzakas commented on #14542
We won’t be removing the rule, but the documentation can certainly be updated with more information about the tradeoffs.

[2021-04-29 00:50] #14533 closed

[2021-04-29 00:50] #14537 closed

[2021-04-29 00:52] nzakas commented on #14541
Please update your issue to use the appropriate issue template:
https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/RULE_CHANGE.md

We will review once that’s done. Thanks.

[2021-04-29 00:57] nzakas commented on #12048
@mdjermanovic what do you want to do with this issue?

[2021-04-29 02:55] HartS commented on #14541
Hi @nzakas , please let me know if I've filled out the template adequately. I left the previous text at the end for more information on why the rule is important, and how I think the rule could work.

[2021-04-29 03:26] aladdin-add commented on #14540
I'm not very familiar with `Accelerometer`, is it a new added web api?(maybe it has not been supported yet)

2 ways:
* decalre it as a global Accelerometer refs: https://eslint.org/docs/user-guide/configuring/language-options#specifying-globals
* use `window.Accelerometer`

[2021-04-29 06:17] rowild commented on #14540
Adding it as a global works, thanks. :-) - "Accelerometer" and "Gyroscope " (and other) belong to the Sensor API, which is currently only supported well in Chromium Browsers:
https://developer.mozilla.org/en-US/docs/Web/API/Sensor_APIs

Could this be the reason, why eslint does not support it out of the box?

[2021-04-29 09:45] rightaway opened #14545 "isNaN vs Number.isNaN"
**Please describe what the rule should do:**

`isNaN` and `Number.isNaN` are not the same and have slightly different behavior that could lead to subtle bugs if the wrong one is used. There should be a rule to enforce one or the other to prevent accidental mistakes.

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)
[ ] Suggests an

[2021-04-29 10:14] mdjermanovic commented on #14545
Hi @rightaway, thanks for the issue!

Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we will only accept new rules when they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, which isn't the case here so I'm closing this issue.

You can make a custom rule, or enforce this by configuring some of the existing rules like [no-restr

[2021-04-29 10:14] #14545 closed

[2021-04-30 00:50] nzakas commented on #14541
Thanks, that’s just what we need. I’m not sure if there’s an appetite for adding more options to the rule, but let’s see what the rest of @eslint/eslint-tsc thinks.

[2021-04-30 01:53] oimmc opened #14546 "This is because you're linting node_modules, which you shouldn't be. If you're in a monorepo with nested node_modules dirs, you have to add `**/node_modules` to your `.eslintignore`."
This is because you're linting node_modules, which you shouldn't be. If you're in a monorepo with nested node_modules dirs, you have to add `**/node_modules` to your `.eslintignore`.

_Originally posted by @ljharb in https://github.com/eslint/eslint/issues/14533#issuecomment-828506394_

Still not available

[2021-04-30 02:00] ljharb commented on #14546
Seems like a spam/accidental issue?

[2021-04-30 02:16] oimmc commented on #14546
exclude: /node_modules/

you are right, I find it.

[2021-04-30 02:17] ljharb commented on #14546
Add it to `.eslintignore`, yes

[2021-04-30 03:14] aladdin-add commented on #14546
please move to the discussion: https://github.com/eslint/eslint/discussions/14544

[2021-04-30 03:14] #14546 closed

[2021-04-30 05:56] Mister-Hope opened #14547 "yml validate issue"
**Tell us about your environment**

Node version: v14.16.1
npm version: v7.7.6
Local ESLint version: v7.25.0
Global ESLint version: Not found
Operating System: win32 10.0.19042

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

@babel/eslint-parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</det

[2021-04-30 05:59] #14547 closed

[2021-04-30 08:15] DanielSWolf commented on #14538
Hi @mdjermanovic, thanks for your explanation!

I did create [an issue with `typescript-eslint/parser`](https://github.com/typescript-eslint/typescript-eslint/issues/3326). However, it turns out that they've [been aware of the problem](https://github.com/typescript-eslint/typescript-eslint/issues/1852) for more than a year now, and it doesn't look as if a fix was imminent.

Is there any chance of

[2021-04-30 16:01] btmills commented on #14541
To add yet another alternative, this is how Prettier wraps long template strings:

[code]

In my experience, the nudge to refactor long template strings with complex expressions inside leads to more legible code once I've rearranged it. When there's no better alternative, a disable comment is appropriate. I think the rule is doing the right thing here, and line length isn't its responsibility.

[2021-04-30 20:44] vassudanagunta opened #14553 "`import.meta.url` should not result in `Parsing error`"
**Tell us about your environment**

- Node version: v16.0.0
- npm version: v7.11.1
- Local ESLint version: v7.25.0 (Currently used)
- Global ESLint version: Not found
- Operating System: darwin 20.3.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

- @typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configu

[2021-05-01 00:55] nzakas commented on #14553
This is being generated by the typescript-eslint parser and not by ESLint itself. Please contact the typescript-eslint project for help.

[2021-05-01 00:55] #14553 closed

[2021-05-01 01:23] pmcelhaney commented on #11989
Until the issue is fixed, here's a work-around to disable affected rules for these bogus filenames.

[code]

Note that I'm specifically concerned about the `import/no-unresolved` rule in Markdown (`.md`) files. You may need to tweak to suit your needs.

[2021-05-01 03:23] btmills commented on #14198
I agree it's at the very edge of what might be considered breaking. In the strictest sense, any change that adds a requirement to third-party code or weakens a guarantee that we previously made third-party code is breaking. Here, we'd add a new requirement that processors preserve `message.data`, _unless_ we can be sure that other processors won't ever see a message with `data`. If we can be sure

[2021-05-01 03:51] JounQin commented on #14198
@btmills

I think maybe I get your point now.

We can add a new option maybe `passData?: boolean` which indicates whether `data` should be passed through into message?

[2021-05-01 23:49] KillyMXI commented on #14538
This is very annoying.
And it seems `typescript-eslint` team has a lot to do before being able to resolve it properly...

"Eslint: Quiet" setting in VScode doesn't seem to silence these notifications.

[2021-05-02 00:05] bonnie opened #14554 "repeated "TypeError: Cannot read property 'type' of undefined" while entering useEffect statement on VSCode"
**Tell us about your environment**

Node version: v15.13.0
npm version: v7.9.0
Local ESLint version: v7.25.0
Global ESLint version: v7.23.0 (Currently used)
Operating System: darwin 18.6.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summ

[2021-05-02 00:18] iliiliili commented on #14137
I just replace .eslintrc.js with .eslintrc.json and now it works 🤔

[2021-05-02 02:23] aladdin-add commented on #14554
the errors were from `eslint-plugin-react-hooks`, and `eslint-plugin-simple-import-sort` - not maintained by the eslint team.

can you file the issue in the that repo?

[2021-05-02 03:48] bonnie commented on #14554
Absolutely, my mistake!

[2021-05-02 03:59] bonnie commented on #14554
For future reference: the issue for `eslint-plugin-react-hooks` was reported by someone else, though it was closed. I will try to repro with the test case as suggested: https://github.com/facebook/react/issues/21342

I filed https://github.com/lydell/eslint-plugin-simple-import-sort/issues/72 with `eslint-plugin-simple-import-sort`.

[2021-05-02 03:59] #14554 closed

[2021-05-03 15:16] aladdin-add commented on #14325
seems it was not exactly related to comma operator.  imagine this code:

[code]

`a` will not be marked unused. ([demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXVudXNlZC12YXJzOiAyKi9cbnZhciBhO1xuYTtcblxuIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMiwic291cmNlVHlwZSI6Im1vZHVsZSIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6e30sImVudiI6e319fQ==)).
Technologically, it's working as

[2021-05-03 16:51] #14540 closed

[2021-05-03 18:09] nzakas commented on #11989
@harsha0609 just checking in to see if you're still planning on working on this? No worries if not, we just want to give you the time to dig in if you want.

[2021-05-03 18:58] harsha0609 commented on #11989
Sorry for the delay @nzakas, was caught up with some work stuff, so yeah I still would love to work on this, would please help out with the rule context object definition for this?

[2021-05-03 20:37] bmish commented on #14312
The implementation will be very similar to #14292 which I closed. It will contain:

* `docs/developer-guide/working-with-rules.md`
  * `Rule Basics`: Rename the `meta.docs.suggestion` property to `meta.hasSuggestions` and mention that this is required for suggetable rules
  * Update examples to show this new property
* `lib/linter.js`
  * Throw an error when the property is missing for suggestable

[2021-05-03 22:31] pmcelhaney commented on #11989
Hi @harsha0609, looks like the object is defined here:

https://github.com/eslint/eslint/blob/41b3570b6c014c534bb3208ed00050fd99842101/lib/linter/linter.js#L861

You'll want to add a `getPhysicalFilename()` method to that object. If you search for `getFilename()` you can also find the places where the tests and documentation will need to be updated.

[2021-05-04 00:20] nzakas commented on #11989
Thanks @pmcelhaney!

@harsha0609 you’ll also likely need to pass another argument to this function:

https://github.com/eslint/eslint/blob/41b3570b6c014c534bb3208ed00050fd99842101/lib/linter/linter.js#L833

[2021-05-04 00:25] nzakas commented on #14312
@bmish that looks good to me. Thanks for offering!

[2021-05-04 00:27] nzakas commented on #14318
No response, so closing.

[2021-05-04 00:27] #14318 closed

[2021-05-04 00:28] nzakas commented on #14357
Closing as there’s not enough info to proceed.

[2021-05-04 00:28] #14357 closed

[2021-05-04 00:28] nzakas commented on #14233
Closing as this is working as intended.

[2021-05-04 00:28] #14233 closed

[2021-05-04 00:29] nzakas commented on #14307
Not enough to proceed, so closing.

[2021-05-04 00:29] #14307 closed

[2021-05-04 00:32] nzakas commented on #14309
ESLint isn’t the best way to handle line endings. You can do so in VS Code itself (see https://qvault.io/2020/06/18/how-to-get-consistent-line-breaks-in-vs-code-lf-vs-crlf/) or use a .gitattributes file to have git do it for you.

[2021-05-04 00:32] #14309 closed

[2021-05-04 00:40] nzakas commented on #14343
Published new version of eslint-visitor-keys

[2021-05-04 01:25] Pinwheeler commented on #14318
Hey there, I did try using the default parser in the original production and got the same result. It's highly unlikely I'll be able to submit any repeatable version of this.

[2021-05-04 06:30] jpike88 opened #14563 "ban-null-checks-against-arrays"
**Please describe what the rule should do:**

Sometimes an array will be instantiated and accidentally null checked instead of 0 length checked

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Are you willing to submit a pull request to implement this rule?

[2021-05-04 06:54] jpike88 opened #14564 "no-restricted-imports using selector :not(ArrayExpression) doesn't work properly"
I tried to use 'no-restricted-imports' with this select rule: ```:not(ArrayExpression)```

It caused every line in my project to light up with errors and didn't work as expected.

Repro is simple, just plug that rule in and you should have the same problem.

Also want to ban lines containing ```ArrayExpression && *```, ```&& ArrayExpression```... the idea is to prevent arrays from having truthy ch

[2021-05-04 06:56] jpike88 commented on #14564
![Uploading Screenshot 2021-05-04 at 1.56.33 PM.png…]()

[2021-05-04 13:56] aladdin-add opened #14566 "eslint --init "Which framework does your project use?""
**The version of ESLint you are using.**
latest

**The problem you want to solve.**

when running `eslint --init`. the choice of question "Which framework does your project use?" defaults to react.
![image](https://user-images.githubusercontent.com/13050025/117014761-b231c980-ad23-11eb-9b08-168a013ace31.png)

I argue it make more sense to defaults to "none"(the 3rd choice)

**Your take on the corr

[2021-05-04 17:58] harsha0609 commented on #11989
@nzakas went through the code, guess won't be able to work on this. Sorry for the inconvenience.

[2021-05-04 19:45] pmcelhaney commented on #11989
I'll wait to see if anyone else wants to claim it, but I have a pretty good idea how to move forward, so I'll go ahead and share my thoughts.

There's an options object where the filename is replaced by "blockName".

https://github.com/eslint/eslint/blob/41b3570b6c014c534bb3208ed00050fd99842101/lib/linter/linter.js#L1303-L1326

We would need to put a copy of the original filename in the options ob

[2021-05-05 00:39] nzakas commented on #11989
That looks like a good approach 👍

[2021-05-05 00:55] nzakas commented on #14563
Thanks for the suggestion. This type of rule requires type checking, which we don’t support. You can probably make such a rule yourself if you want to keep track of arrays but this isn’t a good fit as a core rule.

[2021-05-05 00:55] #14563 closed

[2021-05-05 09:53] Mysak0CZ opened #14568 "`no-var`: Option to allow for usage of `var` in global context"
**What rule do you want to change?**
`no-var`
**Does this change cause the rule to produce more or fewer warnings?**
Optionally fewer warnings, based on options
**How will the change be implemented? (New option, new default behavior, etc.)?**
Adding new option, defaulting to old behaviour
**Please provide some example code that this change will affect:**

In the following code `var someGlobalVaria

[2021-05-05 16:54] #14564 closed

[2021-05-06 00:31] nzakas commented on #14541
There isn’t enough support on the team to add an additional option, so closing.

[2021-05-06 00:31] #14541 closed

[2021-05-06 00:32] #14137 closed

[2021-05-06 00:35] nzakas commented on #14568
Thanks for the suggestion. We aren’t making any further changes to this rule, so I’d suggest using an inline comment to disable this rule of you are using var in a global context.

[2021-05-06 00:35] #14568 closed

[2021-05-06 12:17] last-partizan opened #14570 "sort-imports: Inconsistent behaviour with named imports"
**What rule do you want to change?**
`sort-imports`

**Does this change cause the rule to produce more or fewer warnings?**
This change will produce less warnings, when modifying existing code.

**How will the change be implemented? (New option, new default behavior, etc.)?**
Default behaviour should be changed.

**Please provide some example code that this change will affect:**

This is `code 1`

[2021-05-06 13:05] Plopsi opened #14571 ".eslintcache could use relative pathes to give the opportunity of sharing the file in a project."
**The version of ESLint you are using.**
7.24.0

**The problem you want to solve.**
.eslintache should use relative pathes for saving informations about the linted file. This would be a nice to have feature, as a necessary or mandatory usecase is rare. It would open the possiblity to 'share' the .eslintcache file, or make use of it in a pipeline.

**Your take on the correct solution to problem.**

[2021-05-06 17:06] bmish commented on #14312
Another addition to the implementation: I'd like to disallow / throw an exception when the old property `meta.docs.suggestion` is included in a rule in order to ensure that that property gets cleaned up (it would be confusing if a rule specified both the old property and the new replacement property).

[2021-05-06 19:56] jramstedt opened #14572 "no-sequences doesn't work correctly with assignment in arrow function expression"
Node version: v15.5.0
npm version: v7.3.0
Local ESLint version: v7.25.0
Global ESLint version: Not found
Operating System: win32 10.0.19042

@typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint

[2021-05-06 20:22] nzakas commented on #13888
Hi everyone, in order to move forward with this, we are going to need an RFC.

What we are looking for in the RFC:

1. A description of the schema changes that are likely to break in plugin rules (lots of discussion around this on https://github.com/eslint/eslint/pull/13911)
2. An approach as to how we can upgrade with causing as few issues for the ecosystem as possible. We can always upgrade core

[2021-05-06 20:34] nzakas commented on #14023
Note: We want to use `import()` for flat config, so we probably want to ensure whatever minimum version we decide on supports that.

[2021-05-06 21:15] btmills commented on #14524
I'll release `@eslint/eslintrc` first and bump `eslint`'s dependency version before releasing `eslint`.

[2021-05-06 22:58] bmish commented on #14312
I have opened #14573 with the implementation.

[2021-05-07 00:49] nzakas commented on #14572
Confirmed, This is a bug. Both examples should have the same result, which is no warnings. The intent is for parentheses to indicate the sequence is intentional ([reference](https://github.com/eslint/eslint/blob/ee3a3ead893d185cc4b1ae9041940cb0968767e1/lib/rules/no-sequences.js#L119)).

[2021-05-07 00:50] nzakas commented on #14572
@jramstedt do you want to submit a pull request to fix this?

[2021-05-07 00:52] nzakas commented on #14571
This is an interesting thought, but without a use case there’s no reason to investigate this.

[2021-05-07 00:52] #14571 closed

[2021-05-07 00:54] nzakas commented on #14570
Please edit your issue to use one of our issue templates:
https://github.com/eslint/eslint/tree/master/.github/ISSUE_TEMPLATE

We can take a look at that point. Thanks I’m advance.

[2021-05-07 01:35] Plopsi commented on #14571
yeah... you are right, it was overall just a thourght and a I have a not necessary use case - I come back with a PR when I got time :)

later... sadly much later... :/

[2021-05-07 07:04] jeffrson opened #14574 "Feature request: improve how configurations may be extended/loaded from the command line"
**The version of ESLint you are using.**
7.24.0

**The problem you want to solve.**

I would like to "extend" rules by another set of rules contained in a "shareable configs" (inside a dependent package - https://eslint.org/docs/developer-guide/shareable-configs) from the commandline, like it is possible via package.json:
[code]

This way it would be possible to have a set of standard rules when u

[2021-05-07 07:23] jramstedt commented on #14572
No.
I don't currently have time to figure this out.

[2021-05-07 07:48] snitin315 commented on #14572
I can take it if there are no objections.

[2021-05-07 15:47] mdjermanovic commented on #14572
This is intended behavior, per https://github.com/eslint/eslint/issues/6082.

The rule requires double parentheses around arrow function body:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXNlcXVlbmNlczogZXJyb3IgKi9cblxuY29uc3QgdGVzdDEgPSAoKSA9PiAoKGFhID0gMTIzKSwgMTApOyAvLyBlcnJvclxuXG5jb25zdCB0ZXN0MiA9ICgpID0+ICgoKGFhID0gMTIzKSwgMTApKTsgLy8gb2siLCJvcHRpb25zIjp7InBhcn

[2021-05-07 15:58] mdjermanovic opened #14575 "Allow all directives in line comments"
This is an issue to track the development of https://github.com/eslint/rfcs/pull/34.

* [RFC Document](https://github.com/eslint/rfcs/tree/main/designs/2019-allow-all-directives-in-line-comments)

[2021-05-07 20:48] jsejcksn commented on #13319
Here's a screen recording to show what happens when it's used with auto fix on save in an editor:

![screen-recording](https://user-images.githubusercontent.com/868251/117506599-7a0ccf80-af4b-11eb-8812-1532ebbbd645.gif)

[2021-05-07 21:11] dignite opened #14576 "Add option customSortKeys to sort-keys, an array with keys to place first in objects if present"
**What rule do you want to change?**

sort-keys

**Does this change cause the rule to produce more or fewer warnings?**

Same amount, probably

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option customSortKeys, which is an array of keys in order to be placed first in the object, before the regular sort-keys sorting behaviour.

**Please provide some exampl

[2021-05-08 00:26] nzakas commented on #14572
Wow nice catch. This isn’t obvious from the docs for this rule, so I’d like to leave this open to improve the documentation. This special case should be called out explicitly.

[2021-05-08 00:37] #14315 closed

[2021-05-08 00:38] nzakas commented on #14566
I don’t think this matters one way or another. Someone will always think that the default is wrong based on their own usage so I’m not sure this is something we should spend any time on.

[2021-05-08 00:54] #14208 closed

[2021-05-08 02:26] btmills commented on #14524
v7.26.0 is out. I'll check back Monday to see if we need a patch release, but until then, please merge only semver-patch changes.

The first release attempt failed because Jenkins was a victim of the out-of-memory killer. The second attempt succeeded after I restarted Jenkins.

[2021-05-08 07:47] last-partizan commented on #14570
@nzakas i updated issue to use `RULE_CHANGE.md` template.

[2021-05-08 13:20] aladdin-add commented on #14566
well, I agreed it is not a big deal, although I don't think we should default to any framework. just like the option "jsx" was not enabled by default.

[2021-05-08 13:20] #14566 closed

[2021-05-08 19:57] lexholden commented on #11843
I needed this for a big project, so made it as a custom rule locally as per to the defined schema and opened the above PR for feedback. https://github.com/eslint/eslint/pull/14580

Happy to put a bit of time into getting it mergeable if there's any change suggestions.

[2021-05-09 14:36] fregante opened #14581 "`no-unused-expressions` should not allow unassigned/unreturned pure function calls"
**What rule do you want to change?**

`no-unused-expressions`

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior

**Please provide some example code that this change will affect:**

[code]

One might mistakenly think that `.concat` is one of the Array methods that mut

[2021-05-10 00:26] #14192 closed

[2021-05-10 18:33] ScottWaring opened #14582 "Space between functions (class methods)"
**Tell us about your environment**

* **ESLint Version:** 7.25.0
* **Node Version:** 10.15.1
* **npm Version:** 6.8.0

**Parsers**
@babel/eslint-parser": "^7.13.14",
"@typescript-eslint/eslint-plugin": "^4.22.1",
"@typescript-eslint/parser": "^4.22.1",

AngularJS: 1.6.3
Our `.eslintrc.json` file
[code]

I want eslint to error when there is no space between two function blocks.

[code]

</details>

[2021-05-10 18:57] ScottWaring commented on #14582
We have the our typescript parser, and the rules
[code]
behave the exact same way as the eslint rules do, which is to say not our desired behavior

[2021-05-10 18:58] ljharb commented on #14582
What I'm saying is that for the issue to be relevant to this repo, it would need to be using the default parser and valid JS code for it - at which point it'd be a stylistic change that's unlikely to get accepted.

For the TS change, you'd need to file an issue on the typescript-eslint repo.

[2021-05-10 21:17] epoberezkin commented on #13888
@aladdin-add - you probably know more about eslint to make the first draft and to propose how to make the transition easier… I’m happy to support with comments / any JSON schema related details.

Upgrading Ajv API is quite straightforward (I’ve made PR to v7, v8 is nearly the same), the main complexities are:
- JSON Schema draft 4 to draft 7 migration (or maybe we want to consider draft 2019/2020

[2021-05-11 00:56] nzakas commented on #14582
As @ljharb mentioned, this is TypeScript-related, so visiting typescript-eslint is the best path forward.

[2021-05-11 00:56] #14582 closed

[2021-05-11 00:59] nzakas commented on #14581
This isn’t a case we can handle. You’re asking us to know that storage is an array and that storage.concat() is a method on an array that doesn’t have side effects. This is a use case for a type checker, not for ESLint.

[2021-05-11 01:07] nzakas commented on #13888
Here’s my concern: I don’t want to have to keep updating schema formats. If we get better error checking, that’s good, but other types of changes are bad for the ecosystem.

I’m still not clear on what benefit ESLint gets from upgrading Ajv right now. I don’t know that the latest version of JSON schema provides us with any advantage over the one we are using.

What is the downside of us ESLint not

[2021-05-11 03:44] eslint-github-bot[bot] opened #14584 "Scheduled release for May 21st, 2021"
The next scheduled release will occur on Friday, May 21st, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hig

[2021-05-11 05:53] epoberezkin commented on #13888
@nzakas Actually, I am not too happy with the pace of change in JSON Schema that sometimes introduces quite radical changes (e.g. draft-2020-12) without clear benefits, and the resulting pressure from the users who actually do want to use the latest JSON Schema version - there were some epic exchanges in ajv issue tracker.

The reason to drop draft-04 was that it is very different from draft-07 an

[2021-05-11 09:18] fisker opened #14585 "Add fix/suggestions to `no-unused-vars` rule"
**What rule do you want to change?**

Add fix or suggestions to `no-unused-vars`.

**Does this change cause the rule to produce more or fewer warnings?**

No

**How will the change be implemented? (New option, new default behavior, etc.)?**

Not sure, but I think at least some variables not has side effect can be safely removed.

**Please provide some example code that this change will affect:**

[2021-05-11 10:07] #14570 closed

[2021-05-11 23:27] walkerburgin commented on #13654
I'm guessing this would also impact https://github.com/microsoft/rushstack/tree/master/stack/eslint-patch? (related to https://github.com/eslint/eslint/issues/3458)

[2021-05-12 01:55] walkerburgin commented on #13654
@nzakas it looks like `@rushstack/eslint-patch` works by reaching in and importing what I assume are ESLint package internals ([here](https://github.com/microsoft/rushstack/blob/master/stack/eslint-patch/src/modern-module-resolution.ts#L27-L41)) that wouldn't be accessible after this change. I'm not affiliated with Rush, but we use this package so that we can ship a self contained lint configurati

[2021-05-12 02:16] mysticatea commented on #14023
ES modules have gotten stable in `^12.22.0 || ^14.17.0 || >=15.3.0`.

- [v12.22.0 mark modules implementation as stable](https://nodejs.org/en/blog/release/v12.22.0/#:~:text=mark%20modules%20implementation%20as%20stable)
- [v14.17.0 mark modules implementation as stable](https://nodejs.org/en/blog/release/v14.17.0/#:~:text=mark%20modules%20implementation%20as%20stable)
- [v15.3.0 mark modules impl

[2021-05-12 03:00] btmills commented on #14023
Thanks for looking at that, @mysticatea. In addition to those class features, there are a few other features we'll be able to start using:

- `Object.fromEntries()`.
- `Array.prototype.flat()` and `flatMap()`. There's already a todo comment for this in #14287.
- `String.prototype.matchAll()`.
- Separators in numeric literals.

Those are all supported by every version where ESM is stable.

- For No

[2021-05-12 03:11] ljharb commented on #14023
(private methods and accessors only work in node v14.6+, unfortunately)

[2021-05-12 19:42] bmish opened #14586 "Provide a TypeScript type for the `.eslintrc.js` configuration file format"
**The problem you want to solve.**

I have various Node/TypeScript scripts that read the contents of `.eslintrc.js` in my packages/monorepos to check that things are configured consistently and correctly. Surely, there are various use cases for scripts needing to read, check, and even modify lint configuration values.

For TypeScript code, it is of course much easier and safer working with typed d

[2021-05-14 06:16] aladdin-add opened #14588 "reconsider the defaults of eslint config"
things has changed since eslint was created in 2013. It is time to reconsider the defaults of eslint config.
I would suggest the changes:

1. sourceType: "script" => "module"

* native esm has been supported by latest modern browsers and node.js
* a large number of devs are writing esm, and using something like babel/ts to support older browser/node.js versions.

2. ecmaVersion: 5 => "latest"
we h

[2021-05-16 17:38] aladdin-add commented on #13888
sounds good! I think we can remove it in [v8.0 project](https://github.com/eslint/eslint/projects/8) - as it's no longer a breaking change, and can be landed in later releases.

[2021-05-16 21:09] epoberezkin commented on #13888
Great!

You probably mean in earlier?

[2021-05-16 23:08] aladdin-add commented on #13888
earlier/later 😄

[2021-05-17 02:30] xixixao opened #14593 "no-unused-vars needs a better default"
Preface: `no-unused-vars` is one of the few rules that actually make me use ESLint in the world of Prettier and Snowpack etc. But if I use `eslint --init` I should get sensible defaults that let me write JS. Maybe not the defaults I prefer, but there should be a way to write all today's standard JS, and have workaround for each warning/error.

`no-unused-vars` forces me to dive into ESLint configu

[2021-05-18 14:16] mdjermanovic commented on #14325
I think it's fine to not account for this in `no-unused-vars`, because `a;` itself is a possible error and it's reasonable to expect that `no-unused-expressions` is enabled.

`no-sequences` is mostly stylistic, but this is also caught by `no-unused-expressions`.

[2021-05-18 19:32] NealGooch opened #14596 "[BUG] Fix logic for @angular-eslint/template/eqeqeq sometimes breaks source code"
**Tell us about your environment**

Node version: v12.14.1
npm version: v6.13.4
Local ESLint version: v7.26.0 (Currently used)
Global ESLint version: v7.24.0
Operating System: win32 10.0.19042

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

[2021-05-18 19:33] NealGooch commented on #14596
I should add that I'm currently experimenting to find the precise difference in the two samples that triggers the issue

[2021-05-18 19:45] NealGooch commented on #14596
Sadly if I reduce my source code to just the two samples then the code is fixed correctly so its something more subtle triggering the issue. (I am continuing to investigate)

[2021-05-18 19:53] NealGooch commented on #14596
Sorry - just realised I've reported this to ESLINT and not to @angular-eslint - will close here and open on correct project.

[2021-05-18 19:53] #14596 closed

[2021-05-19 00:35] nzakas commented on #14586
Thanks for the suggestion. We are purposely staying away from using TypeScript in this project as we are JavaScript-focused. As we are in the process of moving away from eslintrc, we also don’t want to be making any further changes related to it.

Related: https://github.com/eslint/eslint/issues/14249

[2021-05-19 00:35] #14586 closed

[2021-05-19 00:39] nzakas commented on #14585
We’ve discussed auto fixes for this before, but we decided against it because removing declarations is destructive and in the context of an editor, where fixes are applied quickly, this can be frustrating. It’s much better to let the end user investigate than assume we know that the declaration isn’t needed.

I’m not sure suggestions make much sense doe this rule. The only possible suggestion woul

[2021-05-19 00:44] snitin315 commented on #11989
Hi @pmcelhaney, are you still working on it? If not I would like to work on this one.

[2021-05-19 00:44] nzakas commented on #14593
Thanks for the input. We can’t guarantee that the defaults in ESLint will work with all coding styles, so we choose the settings that we thing apply most universally. Obviously this won’t work for everyone but at least it’s a starting point.

I can see an argument that perhaps ignoreRestSiblings should be on be default, though I’m not sure it’s any more compelling than having it off by default.

F

[2021-05-19 02:41] bmish opened #14597 "Ability to print out the list of top disabled rules"
**The problem you want to solve.**

In a large codebase, there can easily be hundreds or even thousands of places where inline disable directive comments (like `// eslint-disable-line no-console`) have been used.

There is not currently a convenient method to find out what rules developers are disabling like this other than manually searching the codebase or writing a custom regexp parsing script.

[2021-05-19 03:24] boutahlilsoufiane commented on #12758
Hi @mdjermanovic, I worked on your notes, could you review the PR, please?

[2021-05-19 05:04] btmills commented on #13888
Now that this doesn't have to be a breaking change anymore, I've removed the "breaking" label and removed this issue from the v8.0.0 project so that we can land it whenever it's ready. @epoberezkin thanks for your work on ajv and figuring out how to eliminate breakage in ESLint's plugin ecosystem!

[2021-05-19 05:53] btmills commented on #14593
I agree with @nzakas on this. I could possibly be convinced that `ignoreRestSiblings` could be on by default as in option A, but there are also strong arguments against it, so I give the benefit of the doubt to the status quo. Options B through D all prescribe a particular style of writing code. In cases where there's not a clear best practice, ESLint intentionally cedes stylistic decisions to end

[2021-05-19 09:43] tchakabam commented on #14585
@nzakas i'd agree with you about the "default" or "recommended" behavior for sure.

but then again, why not make this behavior optional also, so that people can opt-in when they want to run that autofix?

Imagine a codebase needing to be cleaned up with a lot of unused vars.

[2021-05-19 12:04] DamienCassou commented on #14585
That's exactly my use case. I'm fine checking hundred automatic changes but I'm too lazy to do the changes myself.

[2021-05-19 17:08] bmish commented on #14585
I kind of wish it was possible to mass apply a specific rule suggestion, but that capability was explicitly against the [suggestion RFC](https://github.com/eslint/rfcs/tree/main/designs/2019-suggestions). So if I really need to do that in order to migrate my large codebase, I'll actually go in and edit a rule to temporarily convert the suggestion into an autofixer.

In my plugin rules, I’ve also a

[2021-05-19 20:03] epoberezkin commented on #13888
You're welcome! I will probably release ajv 8.5 and the draft-04 support by the [ajv event tomorrow](https://us02web.zoom.us/webinar/register/2716192553618/WN_erJ_t4ICTHOnGC1SOybNnw) (a promotion :) - will mention it then.

[2021-05-20 04:44] xixixao commented on #14593
Why?

Which ones? (curious)

Do you agree that the two lines in the issue are part of the common mechanisms of JS the language? (the ability to destructure and ignore either named fields or indexes in arrays)

If we agree on that, then I think there are two styles (for each line), where the `_` style obviously aligns well together. Right now ESLint somewhat favors one style (`const [, bar] = bla;`

[2021-05-20 04:46] xixixao commented on #14593
Prettier does this well btw - you might not like its defaults, but there is no valid JavaScript you can write that will force you to go configure it.

[2021-05-20 05:46] btmills commented on #14593
Responding just to the portions replying to me:

Enabling that option by default weakens the rule. It would be surprising if `no-unused-vars`, given `const { used, unused, alsoUnused, ...rest } = obj;`, misses `unused` and `alsoUnused` by default. Sure, those variables might be _less_ unused than other unused variables, but the rule can't tell without a hint whether they're actually unused or this

[2021-05-20 05:58] ljharb commented on #14593
Using `_` to mean "ignore this" or "private" are both very common - that doesn't mean they're a good idea. It's *much* better to omit a binding when you can, than to create one that's only nonexistent by convention.

[2021-05-20 06:51] svenssonaxel opened #14598 "[Feature Request] object-curly-newline { "multiline-only-require": true }"
**What rule do you want to change?**
object-curly-newline

**Does this change cause the rule to produce more or fewer warnings?**
`multiline-only-require` would produce fewer than `multiline`.

**How will the change be implemented? (New option, new default behavior, etc.)?**
A new object option: `"multiline-only-require": true` requires line breaks if there are line breaks inside properties or bet

[2021-05-20 07:04] svenssonaxel opened #14599 "[Feature Request]: newline-per-chained-call { consistent: true }"
**What rule do you want to change?**

newline-per-changed-call

**Does this change cause the rule to produce more or fewer warnings?**

`{ consistent: true, ignoreChainWithDepth: 2 }` would produce more than `{ ignoreChainWithDepth: 2 }`.

**How will the change be implemented? (New option, new default behavior, etc.)?**

A new option `{ consistent: true }` that requires that either all or none of

[2021-05-20 08:34] aladdin-add commented on #14599
thanks for the suggestion, however stylistic rules are frozen according to our policy. please see https://github.com/eslint/eslint#stylistic-rule-updates

[2021-05-20 10:24] pkuczynski opened #14600 "padding-line-between-statements does not allow to prevent new lines in multiline let"
I tried many different things, yet I am not able to configure `padding-line-between-statements` to prevent such a situation

[code]

So to report there is unnecessary blank line between `a` and `b`.

[2021-05-20 16:45] epoberezkin commented on #13888
Draft-04 support is released: https://github.com/ajv-validator/ajv-draft-04 (it'll be 1.0.0 when it lands here).

Will update this PR over the weekend.

[2021-05-20 17:46] Honatas opened #14606 "no-unused-expresssions showing error on optional chaining"
**Tell us about your environment**
* **ESLint Version:** v7.24.0
* **Node Version:** v14.16.0
* **npm Version:** v7.10.0
* **Operating System:** Ubuntu 20.04

**What parser are you using?** @typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the actual source code causing the issue, as

[2021-05-20 22:55] #14599 closed

[2021-05-20 22:55] #14598 closed

[2021-05-21 00:47] nzakas commented on #14593
Given that there’s no strong support for making a change here, I’m closing this issue. As I mentioned previously, someone will always believe our defaults are incorrect based on how they write their code, and while there is plenty of room for debate on what the most correct take is, that’s not a debate that’s useful for us to have for each rule.

[2021-05-21 00:47] #14593 closed

[2021-05-21 02:40] aladdin-add commented on #14606
have you tried `@typescript-eslint/no-unused-expresssions`?

[2021-05-21 12:14] Honatas commented on #14606
I haven't, because I didn't knew it exist.

Well, actually I just did and it works as expected. The big problem I see now is that there is no easy way to find the docs on all rules available on @typescript-eslint. The md files are hidden in a deep folder inside the git repo and there is no link to them.

I suggest creating a md file as a rule list with links to all rules, and a link to this md fil

[2021-05-21 20:00] #11843 closed

[2021-05-21 22:45] #14325 closed

[2021-05-22 00:39] nzakas commented on #14585
@tchakabam we don’t have a way to optionally apply auto fixes in this way. Suggestions is intended primarily for the editor use case, so that also doesn’t solve your problem of wanting to remove all unused variables in a codebase. I suppose we could provide the suggestions and you could write a tool on top of ESLint that uses that data to apply the fixes, but I don’t see us adding a way to do this

[2021-05-22 00:50] nzakas commented on #14606
The typescript-eslint project isn’t maintained by this team. You should refer to that repo for documentation on that project.

[2021-05-22 00:50] #14606 closed

[2021-05-22 00:51] nzakas commented on #14588
We can consider this when we move to flat config. Changing this for eslintrc is likely to break a lot of existing users’ configurations.

[2021-05-22 01:56] mdjermanovic commented on #14584
ESLint v7.27.0 has been released:

https://eslint.org/blog/2021/05/eslint-v7.27.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2021-05-22 09:51] czlowiek488 opened #14613 "no-return-await rule is depraceted since node 10"
**What rule do you want to change?**
no-return-await

**Does this change cause the rule to produce more or fewer warnings?**
Remove warning and add different, maybe depend on used node version.
Or even maybe remove this rule and add different?

**How will the change be implemented? (New option, new default behavior, etc.)?**
New default behaviour, should depend on used node version.

**Please prov

[2021-05-22 10:00] czlowiek488 commented on #14613
This rule was introduced at [2016-10-10](https://github.com/eslint/eslint/commit/66fe9ffa72487343fd2e21673b79281424cff6ef) and node 10 was introduced at [2018-04-24](https://nodejs.org/download/release/v10.0.0/).

[2021-05-22 15:40] pmcelhaney commented on #11989
@snitin315 Yes, go ahead! Thank you!

[2021-05-24 10:07] B2o5T opened #14619 "Same code is fixed via `ESLint` cli, but breaks via `RuleTester`"
I wrote a new rule for `graphql-eslint` that can fix code and via ESLint cli all works perfectly fine, the new rule fixes the code as I expected.

But when I try to test the same code via `RuleTester`, this breaks with unexpected `output`.
I started thinking what the problem might be, it went on for many hours of debugging

And what I found https://github.com/eslint/eslint/blob/master/lib/rule-tes

[2021-05-24 11:13] tchakabam commented on #14073
Hi Eslint devs @nzakas & @mdjermanovic
there is a very popular VSCode plugin that does this job.

if the rule auto-fix would just do what this plugin does,

I think it addresses all concerns/issues and works just fine for a lot of people already.

Should be easy to re-use the code from this plugin for writing the fixing functionality ?

[2021-05-24 11:43] martinduo opened #14620 "Wrong error report"
**Tell us about your environment**

Node version: v16.1.0
npm version: v6.14.4
Local ESLint version: Not found
Global ESLint version: vundefined (Currently used)
Operating System: win32 10.0.19042
* **ESLint Version:**
* 7.27.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
 "@typescript-eslint/parser": "^4.24.0",

**Please show your full confi

[2021-05-24 12:04] mdjermanovic commented on #14620
Hi @martinduo, thanks for the issue!

The `no-useless-escape` rule works as intended in this case. Escaping `/` in character classes (`[]`) is unnecessary.

`/(^import.*from )('[.+/]+\w+')/g` is same as `/(^import.*from )('[.+\/]+\w+')/g`

[2021-05-24 12:04] #14620 closed

[2021-05-24 12:16] mdjermanovic commented on #14619
Hi @B2o5T, thanks for the issue!

[RuleTester](https://eslint.org/docs/developer-guide/nodejs-api#ruletester) runs only one pass of autofixing:

This is by design, please see the discussion in https://github.com/eslint/eslint/issues/11187.

[2021-05-24 12:16] #14619 closed

[2021-05-24 12:32] MohamedLamineAllal commented on #14073
There isn't much code to it! The list and regex matching can be reused! Otherwise it's about accepting making a fix for it!
I can make it! I've seen that there is a concern that not all want the irregular white spaces gone! Mainly we don't want them in code level! Except for strings! So we can add an option for the rule (it get passed in the array format)! Where string support get ignored or not!

[2021-05-24 12:57] mdjermanovic commented on #14585
Maybe the `autofix/no-unused-vars` rule from [eslint-plugin-autofix](https://www.npmjs.com/package/eslint-plugin-autofix) can be helpful for this use case.

[2021-05-24 14:12] tchakabam commented on #14585
I see, thanks for explaining Eslints general take on such things @nzakas 👍

[2021-05-24 15:04] martinduo commented on #14620
In my use case, it is necessary. Confirmed by testing here: https://regex101.com/r/cO8lqs/6
I am capturing the name of the exporting file in an import line, e.g.:

import { writeErrorLog, trace, isTraceActive, traceYear } from './moduleTraceFile'

With escape:
![image](https://user-images.githubusercontent.com/879852/119366056-8ea4d380-bc7e-11eb-87d5-302793740836.png)
![image](https://user-images.

[2021-05-24 15:35] mdjermanovic commented on #14620
Did you select ECMAScript flavor on regex101.com?

![image](https://user-images.githubusercontent.com/44349756/119370906-22de5d00-bcb6-11eb-9d77-79b851acfabc.png)

[2021-05-24 16:39] MohamedLamineAllal commented on #14073
# Question

The node as per this [Line (L162)](https://github.com/eslint/eslint/blob/master/lib/rules/no-irregular-whitespace.js#L162)
Is the Program node! The whole code source node!

My question is for fixing! And the multiple run of fixes! Does that pose problems with others fixes! How are the different fixes of different rules compared to each other! Is it by Range! Or by node!
If by range the

[2021-05-24 16:46] mdjermanovic commented on #14073
This issue is closed. If anyone has a concrete proposal on how this autofix should work, in particular which of the regular whitespace characters should be used as replacements for each of the irregular ones, please feel free to open a new issue (Rule change request).

[2021-05-24 17:56] MohamedLamineAllal commented on #14073
@mdjermanovic

I'm working a fix! And trying it out!

For irregular white spaces => Normal white space!

For end line delimeter => There is only two => we make it optional (meaning they can provided as a second param (first param is for skipping object)! If not provided! One can deduce it from one of the lines of the code source! Or just use the os command for the new line! I can simply implement

[2021-05-24 17:58] martinduo commented on #14620
No. It was set at PCRE(PHP<7.3. Stupid error by me. I found this page a
year ago and just dived in to build the Regex I needed. Never looked at the
left column. Big mistake. Sorry I bothered you guys. Thanks for the heads
up.

On Mon, May 24, 2021 at 11:35 AM Milos Djermanovic ***@***.***>
wrote:

[2021-05-24 19:21] #14585 closed

[2021-05-24 21:19] mdjermanovic commented on #14584
No regressions reported, so this concludes the v7.27.0 release.

Please feel free to merge semver-minor PRs again.

[2021-05-24 21:19] #14584 closed

[2021-05-24 21:19] eslint-github-bot[bot] opened #14621 "Scheduled release for June 4th, 2021"
The next scheduled release will occur on Friday, June 4th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hig

[2021-05-25 00:21] nzakas commented on #14613
Thanks for the issue. I think you’re trying to make the point that there may be a situation when you don’t want to use this rule. However, we do not change rule behavior based on the environment the rule is being used in. JavaScript code can be executed in many different runtimes, each with their own behaviors, and so we don’t make rules specific to any one runtime. (You can do that if you would l

[2021-05-25 00:21] #14613 closed

[2021-05-25 03:32] martyfmelb opened #14623 "no-implicit-coercion: <string expression> + "" triggers false positive"
**Tell us about your environment**

Node version: v10.15.0
npm version: v6.4.1
Local ESLint version: v7.25.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19042

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration<

[2021-05-25 19:09] NemoStein opened #14632 "Add Support for Top-level await"
Today Top-level await reached Stage 4.
This brings new depth to async modules, and I'm looking forward to seeing it implemented in ESLint in the near future.

- [x] Ecma262 update: https://github.com/tc39/ecma262/pull/2408
- [x] ESTree update: n/a
- [x] Acorn update: https://github.com/acornjs/acorn/pull/1040
- [x] `eslint-visitor-keys`
- [x] `espree` update: https://github.com/eslint/espree/pull/

[2021-05-25 19:47] janosh commented on #14632
For reference, the relevant comment in the [tc39 proposal](https://github.com/tc39/proposal-top-level-await/issues/113#issuecomment-848189231).

[2021-05-25 19:51] ljharb commented on #14632
(The canonical source of truth is here: https://github.com/tc39/proposals/commit/99fa42a0863b1915eccead5bd2939ed5f468caab)

[2021-05-25 22:27] tchakabam commented on #14073
Hey @MohamedLamineAllal , i guess in this case a few lines of code will say more than a 1000 words. To be honest, I could only fly over your text, most of it was TLDR.

If I may suggest though, as an interested user of the feature and happy to guide you a bit, you probably could proceed with:

1. Submit their "Rule change request" as @mdjermanovic suggested -> https://github.com/eslint/eslint/blob

[2021-05-25 22:48] MohamedLamineAllal commented on #14073
Don't worry hhh! The PR will comes soon! However a friend of mine will make it! We went for it both! We had a challenge! I completed a working version that does it well! But i'm not willing to write the tests! And may be add some extra customization! My friend too did! Will finish her work soon! She will send a PR!

Otherwise i resumed and shared the different points through the analysis of the co

[2021-05-26 09:24] boutahlilsoufiane commented on #12758
Hi @mdjermanovic, could you review the PR, please?

[2021-05-26 10:25] alextewpin opened #14633 "Crash with `"arrow-body-style": ["error", "always"]`"
### Environment Info
Node version: v12.19.0
npm version: v6.14.8
Local ESLint version: v7.27.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.4.0

### Parser
`"@babel/eslint-parser": "7.14.3"`

### Description
ESLint breaks using rule `"arrow-body-style": ["error", "always"]` on a very specific function signature.

In my case it's `const createMarker = (color) => ({

[2021-05-26 11:38] aladdin-add commented on #14633
thx! confirmed, it also happened with the default parser.

[2021-05-26 13:46] czlowiek488 commented on #14542
It may be a good idea to introduce new rule which work as opposite to `no-return-await`.
Maybe something like `force-return-await`?

[2021-05-26 14:48] ljharb commented on #14542
@czlowiek488 that would be actively harmful, since it forces an extra microtask, and would thus make your code slower.

[2021-05-26 14:52] czlowiek488 commented on #14542
@ljharb Imho it is more harmfull if it does not print stack traces, it may make debugging extremely hard if you are not aware of it. Microptimization should not be an excuse to hide those traces.

[2021-05-26 17:22] swatisahay opened #14636 ""Configured parser was not found" when using Linter API"
I'm attempting to run ESLint from the API to automatically lint some files. First, I get the local configuration  by eslint.calculateConfigForFile(.eslintrc.js), Then, I load the file text and run ESlint.Linter.verify(fileText, configuration, filePath). but  when I check the output messages, this is what I see:
 ruleId: null,
    fatal: true,
    severity: 2,
    message: "Configured parser '\\nod

[2021-05-27 00:47] nzakas commented on #14542
Folks, I don’t think this discussion is of benefit to the project. We can’t introduce a core rule that actively prescribed the opposite of another core rule. You can always create your own rule to do exactly what you want.

[2021-05-27 02:34] snitin315 commented on #14636
Thank you for creating this issue. However, issues need to follow one of our templates so that we can clearly understand your particular circumstances.

Please help us help you by recreating the issue using one of our templates.

[2021-05-27 03:59] aladdin-add opened #14637 "do not call the fix functions in no-autofix mode"
**The version of ESLint you are using.**
latest

**The problem you want to solve.**

eslint will always call the fix functions even in no-autofix mode.

**Your take on the correct solution to problem.**

do not call the fix functions in no-autofix mode. Pros:

* avoid crashing in no-autofix mode if there are bugs in the fixers. e.g., #14633
* Perf improvement in no-autofix mode.

[2021-05-27 08:37] mdjermanovic commented on #14637
Running ESLint in no-autofix mode doesn't necessarily mean that fixes are not needed. Autofix mode (`--fix`) is more like "automatically apply fixes". Integrations can use [`LintMessage#fix`](https://eslint.org/docs/developer-guide/nodejs-api#-lintmessage-type) property to manually apply fixes ([vscode-eslint example](https://github.com/microsoft/vscode-eslint/blob/2e046709d5fd3078b995e8c9bb26b0e9

[2021-05-27 08:57] aladdin-add commented on #14637
good point! but at the very least, it can be skipped in eslint cli. :)

[2021-05-27 09:12] mdjermanovic commented on #14600
Hi @pkuczynski, thanks for the issue!

`padding-line-between-statement` requires/disallows lines between statements, so it isn't possible to configure this rule to disallow lines between individual declarations in a declaration list. That feature would probably be a separate rule.

Given that the stylistic rules are frozen, and that this isn't related to a new ECMAScript feature (please find more

[2021-05-27 09:12] #14600 closed

[2021-05-27 10:49] pkuczynski commented on #14600
Got it! Thanks for taking your time and responding with details.

[2021-05-27 11:44] mdjermanovic commented on #14623
Hi @martyfmelb, thanks for the issue!

While it's true that there will be no string coercion, because all operands evaluate to string values, fixing `<expr> + ""` to `String(<expr>)` doesn't really change anything - both versions have the same behavior and both repesent intention to convert `<expr>` to a string value. I think this doesn't warrant adding a complex logic that would be able to determ

[2021-05-27 12:45] tinymins opened #14638 "Rule `indent` should report error while `multi-line if statement` contains wrong indent."
**Tell us about your environment**

* **ESLint Version:**7.26.0
* **Node Version:**14
* **npm Version:**6
* **Operating System:** Ubuntu 20.04

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actu

[2021-05-28 00:31] nzakas commented on #14632
Thanks for opening this. We can definitely start implanting it and would love some help to get started.

[2021-05-28 00:32] nzakas commented on #14597
This is an interesting idea. I’m not sure if this exact proposal is complete enough to dig in too deep, but I think we can at least discuss the overall direction and if the team is interested, we could progress to an RFC.

[2021-05-28 00:34] nzakas commented on #13974
Closing due to age

[2021-05-28 00:34] #13974 closed

[2021-05-28 00:37] nzakas commented on #14574
Thanks for opening this. It looks like there are two issues here:

1. you cant specify a shared config using the command line
2. there is no way to reference a config inside of a plugin from the command line

These are most likely unintentional oversights but I’d like some more opinions from the team.

@aladdin-add please only move issues to Triaging if you are actively working with the issue crea

[2021-05-28 00:38] #14581 closed

[2021-05-28 02:26] #14633 closed

[2021-05-28 02:27] #14572 closed

[2021-05-28 10:23] bilalmalkoc opened #14639 "ReferenceError: globalThis is not defined"
**Tell us about your environment**

* **ESLint Version:** 7.27.0
* **Node Version:** 12.22.1
* **npm Version:** 6.14.12
* **Operating System:**  MacOS 11.2.3 Big Sur with Apple silicon.

**Parser** @babel/eslint-parser
It is happeninng with default parser too.

**Configuration (.eslintrc)**

<details>
<summary>Configuration</summary>

[code]

</details>

Tried on this simple code:

[code]

[2021-05-29 00:34] nzakas commented on #14639
Can you please fill out the full issue template?
https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

Thanks!

[2021-05-29 00:39] nzakas commented on #14637
I’m not sure this is worth changing without quantifying what kind of performance change we might get.

@aladdin-add if you’re interested in pursuing this, I’d suggest creating a perf test that shows the difference between what we have now and what you’re suggesting. I’m guessing the actual change is probably pretty small.

[2021-05-29 00:39] nzakas commented on #14076
@btmills can you chime in on this?

[2021-05-29 04:21] btmills commented on #14076
:+1:, marking as accepted and moving to ready to implement. I don’t see a need for an RFC.

[2021-05-29 05:13] snitin315 commented on #14076
Can I work on this one?

[2021-05-29 11:37] ota-meshi opened #14640 "Add Support for RegExp match indices"
**The version of ESLint you are using.**

7.27.0

**The problem you want to solve.**

Support RegExp match indices officially, as it has reached stage-4.
refs:
https://github.com/tc39/proposals/blob/master/finished-proposals.md
https://github.com/tc39/proposal-regexp-match-indices

**Your take on the correct solution to problem.**

- [x] Ecma262 update: tc39/ecma262#1713
- [x] Acorn update: acornj

[2021-05-29 20:46] btmills commented on #14588
I like @nzakas' idea. Flat config gives us a chance to update defaults in a way that likely _reduces_ migration difficulty.

[2021-05-29 21:01] btmills commented on #14623
ESLint doesn't infer types, so the rule doesn't differentiate between string coercions of non-string values and redundant operations on values that are already strings. One could build two type-aware `@typescript-eslint` rules, one to replace the built-in `no-implicit-coercion` rule that doesn't have these false positives and a second `no-redundant-coercion` rule that instead flags these cases as

[2021-05-29 21:09] btmills commented on #14597
The reasons you listed for this being potentially useful are compelling. For codebases that don't configure globals, envs, or rule options inline, `--no-inline-config` can do this today: the new errors with that option would be the ones that were disabled inline.

[2021-05-29 21:31] bmish commented on #14597
Thanks for reviewing. Are there any areas to discuss/elaborate on before I start writing an RFC?

Note: I updated the output format to match that of the `TIMING` environment variable.

[2021-05-30 11:51] mdjermanovic commented on #14076
@snitin315 sure, thanks!

[2021-05-30 13:49] mdjermanovic commented on #14623
Completely agree with @btmills, this is something that could be done in [@typescript-eslint/eslint-plugin](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin) rather than in the core.

I marked this issue as accepted to fix this part only, and prepared PR https://github.com/eslint/eslint/pull/14641.

[2021-05-30 16:21] ota-meshi commented on #14632
I opened a pull request in acorn.
https://github.com/acornjs/acorn/pull/1040

[2021-05-30 17:54] henriqueleite42 opened #14642 "[no-magic-numbers]: Ignore file patterns"
**What rule do you want to change?**

`no-magic-numbers`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

Add a new optional option, that ignores the file patterns passed in an array.

[code]

**Please provide some example code that this change will affect:**

[code]

**Are you willing

[2021-05-31 03:51] aladdin-add commented on #14588
agreed. I will update the OP later.

[2021-05-31 05:54] ota-meshi commented on #14640
Since acorn has been released, I would like to specify a new acorn in the espree dependency and make changes to allow 2022 for ecmaVersion. Is this acceptable?

https://github.com/acornjs/acorn/blob/master/acorn/CHANGELOG.md#830-2021-05-31

When I make changes to ecmaVersion to allow 2022, acorn also tries to parse class fileds, but espree doesn't yet support it. Is es2022 syntax support done in v

[2021-05-31 09:01] mdjermanovic commented on #14642
Hi @henriqueleite42, thanks for the issue!

We don't have per-rule options like this, because it is possible to override settings based on glob patterns in a configuration file:

https://eslint.org/docs/user-guide/configuring/configuration-files#configuration-based-on-glob-patterns

If you want that a rule ignores certain files, you can turn it `"off"` for specified patterns:

[code]

I'm closing

[2021-05-31 09:01] #14642 closed

[2021-05-31 15:19] TheDutchCoder opened #14650 "--ext doesn't work on the command line"
**Tell us about your environment**

* **ESLint Version:** 7.27.0
* **Node Version:** 16.0.0
* **npm Version:** 7.15.0
* **Operating System:** Mac OS 11.4

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

NPM Script:
[code]

[code]

</de

[2021-05-31 15:41] morgoth opened #14651 "Non fixable code reported as error"
Environment Info:
[code]
I'm using `@babel/eslint-parser`

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

I noticed an issue on `@babel/eslint-parser` package update, but was directed here to report it.
The details are also here https://github.com/babel/babel/issues/13401

In short, the error reported by eslint is not possible to fix
https://eslint.org/demo#eyJ0ZXh0IjoiZnV

[2021-05-31 17:08] mdjermanovic commented on #14650
Hi @TheDutchCoder, thanks for the issue!

Per the [documentation for `--ext`](https://eslint.org/docs/user-guide/command-line-interface#-ext), it is only used when the arguments are directories, so it's ignored when used with `src/**/*.*` pattern (which matches all files in `src`, including `.css` files).

Can you try with the following script:

[code]

[2021-05-31 17:19] mdjermanovic commented on #14651
Hi @morgoth, thanks for the issue!

Can you please fill out our issue template:

https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md

[2021-05-31 17:58] mdjermanovic opened #14652 "Linter ignores multiline `/* eslint-env */` directives"
**Tell us about your environment**

* **ESLint Version:** v7.27.0
* **Node Version:** v12.18.4
* **npm Version:** v6.14.6
* **Operating System:** windows

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please inc

[2021-06-01 04:50] ota-meshi commented on #14640
I saw the meeting memo. My understanding is that support for the ES2022 syntax will not be added to ESLint v7.
https://github.com/eslint/tsc-meetings/blob/master/notes/2021/2021-05-20.md#espree-class-fields

[2021-06-01 07:45] aladdin-add commented on #14651
you can enable the option`{"ignoreStrings": true}` in this case. refs: https://eslint.org/docs/rules/max-len#options

[2021-06-01 09:50] aladdin-add commented on #14575
I made a simple implementation, and found ~41 inline comments which were not intended as a directive, but parse as directives.

[code]

[2021-06-01 11:30] mdjermanovic commented on #14575
I noticed the same, but it's actually 8 comments causing 41 errors (each comment defines multiple variables).

It was addressed in [Backwards Compatibility Analysis](https://github.com/captbaritone/rfcs/blob/466125076c80756a6a81c3efaee19cc51707f785/designs/2019-allow-all-directives-in-line-comments/README.md#backwards-compatibility-analysis), by treating this as a breaking change.

[2021-06-01 11:37] mdjermanovic commented on #14575
@aladdin-add are you already working on this? I was about to start writing code, but if you've already started you can take it.

[2021-06-01 11:50] aladdin-add commented on #14575
fine, I will take it, will make a PR in 1~2 days. thanks! ❤️

[2021-06-01 20:39] Slapbox commented on #14632
Related (but old and outdated) https://github.com/eslint/eslint/issues/13178

[2021-06-02 01:42] cseas opened #14655 "padding-line-between-statements: multiline-const rules are ignored when using export"
**Tell us about your environment**

Node version: v14.16.1
npm version: v7.15.0
Local ESLint version: v7.25.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.5.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

<details>
<summary>Configuration</summ

[2021-06-02 01:48] cseas commented on #14655
Code and steps to reproduce the issue is included. Not sure why `repro:needed` label got added.

[2021-06-02 02:41] aladdin-add commented on #14655
no worries, it only means needs a eslint team member to confirm it.

[2021-06-02 21:05] vitaliytv commented on #14156
Status update to Stage-4
https://github.com/tc39/proposal-top-level-await/commit/2762cc57808dd6c965257b5deec636362b4228de

[2021-06-03 00:47] nzakas commented on #14636
No response, so closing.

[2021-06-03 00:47] #14636 closed

[2021-06-03 00:49] nzakas commented on #14638
I believe this is working as intended. I don’t think we change indents in the middle of expressions, but could use another team member to confirm.

[2021-06-03 04:42] fisker opened #14659 "Conflicts between `no-prototype-builtins` and `no-useless-call`"
**Tell us about your environment**

* **ESLint Version:** 7.27.0
* **Node Version:** 16
* **npm Version:** 6
* **Operating System:** windows

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default(espree)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include

[2021-06-03 04:44] ljharb commented on #14659
Why would you want to check that Object.prototype has an own property?

[2021-06-03 04:46] fisker commented on #14659
Here is the case, https://github.com/sindresorhus/eslint-plugin-unicorn/pull/1330/files

I want ignore `objectLiteral.method` but not `objectLiteral.propertyIsEnumerable`

[2021-06-03 04:54] fisker commented on #14659
Here is another PR, https://github.com/sindresorhus/eslint-plugin-unicorn/pull/1296/files#diff-e409151331375f48a019cd347434ee0445bac8841d55bc8fa935e54e299d1ff1R107 doing the same thing.

//cc bmish

[2021-06-03 05:02] ljharb commented on #14659
This seems like a very obscure edge case to me, and using an override comment seems fine. Personally, I'd go with `Object.prototype.hasOwnProperty.call(Object.prototype, property)` since that's more explicit.

You may also be interested in the stage 3 proposal, https://npmjs.com/object.hasown, which allows you to `Object.hasOwn(Object.prototype, property)` and avoid both of these concerns.

[2021-06-03 05:05] fisker commented on #14659
We already have [`unicorn/prefer-object-has-own`](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prefer-object-has-own.md) rule, haha.

[2021-06-03 10:39] mdjermanovic commented on #14652
@eslint/eslint-tsc Thoughts about this? I think this is a bug, but would like another confirmation. We have PR https://github.com/eslint/eslint/pull/14660 prepared.

[2021-06-03 15:36] fisker opened #14661 "Change how to write rules"
**The version of ESLint you are using.**

Latest

**The problem you want to solve.**

Simplify rule implement

**Your take on the correct solution to problem.**

N/A

**Are you willing to submit a pull request to implement this change?**

Yes

----

As I understand the `create` function of rule returns an object with `listeners`(also known as "callback functions"), normally, the listener function

[2021-06-04 00:15] nzakas commented on #14652
Most likely a bug. I’m not sure how much it matters since this feature will be going away, but no objections to fixing it.

[2021-06-04 00:34] nzakas commented on #14597
@bmish i think you can start on the RFC. 👍

[2021-06-04 00:40] nzakas commented on #14661
I’m sorry, I don’t see any benefit to making such a change. It doesn’t seem to be addressing any major pain point and only increases the complexity of ESLint, as we will have to maintain multiple ways to report errors since we can’t remove context.report().

If you would like to write rules in the manner you describe, you can definitely create your own utility that can take a rule written in that

[2021-06-04 00:40] #14661 closed

[2021-06-04 00:58] fisker commented on #14661
Yah, I was going to create my own utility, but worth to take a shot here.

[2021-06-04 07:37] fisker commented on #14659
I updated expect to

`no-useless-call` rule should ignore `Object.prototype.hasOwnProperty.call(Object.prototype, ...)`

[2021-06-04 08:42] cseas opened #14664 "padding-line-between-statements: Add STATEMENT_TYPE for tests"
**What rule do you want to change?**
padding-line-between-statements

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New STATEMENT_TYPE

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
No way to enforce paddin

[2021-06-04 08:53] LukeSamkharadze opened #14665 "lines-between-class-members/exceptBetweenSingleLine"
**What rule do you want to change?**
Lines-between-class-members

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option for `lines-between-class-members` that will place newlines **before** & **after** a multiple-line member

**Please provide some example code that this change will a

[2021-06-04 10:47] webdif opened #14668 "Prefer-destructuring: an option to ignore reassignments"
An old issue (https://github.com/eslint/eslint/issues/7886) raised the concern of reassignment.
Use destructuring when reassign a variable require parentheses that can be hard to read.
It would be wonderful to prefer destructuring for assignment, but ignore the rule for reassignment.

**What rule do you want to change?**
`prefer-destructuring`

**Does this change cause the rule to produce more or

[2021-06-04 11:25] danschalow commented on #14651
I was experiencing the same issues. I then saw that:
 - `@babel/eslint` requires `@babel/core`
 -  I also had `babel-eslint` installed as a dependency

On the `babel-eslint` REAME there was a message, letting me know that `babel-eslint` had moved to the monorepo under `@babel/eslint`

On removing `babel-eslint` and installing `@babel/core`, I no longer had the `max-len` errors.

Might be worth che

[2021-06-04 15:48] #11989 closed

[2021-06-04 15:58] #12758 closed

[2021-06-04 15:58] #12760 closed

[2021-06-04 16:23] mdjermanovic commented on #14668
Hi @webdif, thanks for the issue!

That option already exists - you can [configure](https://eslint.org/docs/rules/prefer-destructuring#options) this rule to enforce destructuring only in declarations.

Example:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwicHJlZmVyLWRlc3RydWN0dXJpbmdcIjogW1wiZXJyb3JcIiwge1xuICAgICAgXCJWYXJpYWJsZURlY2xhcmF0b3JcIjoge1xuICAgICAgICBcImFycm

[2021-06-04 16:23] #14668 closed

[2021-06-04 16:27] #14623 closed

[2021-06-04 16:34] LukeSamkharadze commented on #14665
In the case of the current option

This would be correct

[code]

[2021-06-04 16:46] #14652 closed

[2021-06-04 16:59] mdjermanovic commented on #14664
Hi @cseas, thanks for the issue!

The team has made the difficult decision to freeze stylistic rules (please find more details in [this blog post](https://eslint.org/blog/2020/05/changes-to-rules-policies)), so we won't be adding any options to the `padding-line-between-statements` rule. You can always make a custom rule or publish a plugin.

I'm closing this issue per our [rules policies](https:/

[2021-06-04 16:59] #14664 closed

[2021-06-04 20:53] rain1 opened #14671 "eslint --init fails when there is no node project although it is possible to generate configuration."
**Tell us about your environment**

Environment Info:

Node version: v12.18.3
npm version: v6.14.6
Local ESLint version: Not found
Global ESLint version: v7.27.0 (Currently used)
Operating System: win32 10.0.17134

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default

**Please show your full configuration:**
none

</details>

**What did you d

[2021-06-05 00:32] nzakas commented on #14671
This looks like a bug. At one point, we were specifically asking if you want to install dependencies before attempting to do so.

I think the solution here is once again to ask if you want to install dependencies and if the user says no, just generate the config file without looking for package.json

[2021-06-05 00:36] nzakas commented on #14665
Thanks for reaching out. Per our [stylistic rule policy](https://github.com/eslint/eslint#stylistic-rule-updates), we aren’t adding any more options to this rule.

[2021-06-05 00:36] #14665 closed

[2021-06-05 05:40] ersachin3112 commented on #14671
Hi, I would like to submit a pull request for this issue.

[2021-06-05 09:44] aladdin-add opened #14673 "update eslint:recommended and eslint-config-eslint."
**The version of ESLint you are using.**
latest

**The problem you want to solve.**
update eslint:recommended and eslint-config-eslint.

**Your take on the correct solution to problem.**
* y: enable
* n: not enable
* ?: not sure

Name | Added in eslint version | eslint:recommended | eslint-config-eslint | Description
----- | ----- | ----- | ----- | -----
[default-case-last](https://eslint.org/docs

[2021-06-05 11:26] cseas commented on #14664
Thanks for the quick response! I figured out there is a plugin for this.
For anyone looking for reference, [eslint-plugin-jest-formatting](https://github.com/dangreenisrael/eslint-plugin-jest-formatting) does this.

[2021-06-05 20:36] applemonkey496 opened #14676 "Allow ignore option for one-var rule"
**What rule do you want to change?**
The `one-var` rule.

**Does this change cause the rule to produce more or fewer warnings?**
It would depend on the configuration, but it would be an option to disable warnings in some cases.

**How will the change be implemented? (New option, new default behavior, etc.)?**
I propose an `ignore` option for the `var`/`const`/`let` rule. The default is `always` fo

[2021-06-05 20:37] ljharb commented on #14676
Why would you want them to be inconsistent?

(Note that the debugger experience is significantly worse when there's not always one var/let/const per variable)

[2021-06-05 20:42] applemonkey496 commented on #14676
For me, I don't necessarily care whether `let` or `var` declarations are written as one statement or multiple statements, but for `const` I have a preference for separate declarations. I find it more useful to have `const` in front of each declaration so I can see that and remember not to accidentally reassign them.

Although not everyone would agree with my reasoning here, I don't think that this

[2021-06-05 20:46] ljharb commented on #14676
Given that, why not just force separate declarations for everything? (as all the common styleguides and eslint configs have mandated for many years)

[2021-06-05 21:58] applemonkey496 commented on #14676
I suppose, yes 👍

[2021-06-05 21:58] #14676 closed

[2021-06-06 03:49] aladdin-add commented on #14671
we had a plan to move the `eslint-init` related code to a separate package: https://github.com/eslint/rfcs/pull/79

I think we will have to wait that being done, and make the change in that repo.

[2021-06-07 12:01] Zenoo opened #14678 "Avoid prefer-destructuring for unknown indexes"
**What rule do you want to change?**

prefer-destructuring

**Does this change cause the rule to produce more or fewer warnings?**

Fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**

A new option or a default behavior would both work

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for thi

[2021-06-07 13:14] mdjermanovic commented on #14678
Hi @Zenoo, thanks for the issue!

In the provided example, the rule suggests the use of _object_ destructuring:

[code]

The option to disable this warning already exists, you can set `"enforceForRenamedProperties": false`.

(it's `false` by default, you probably have `"enforceForRenamedProperties": true` in your configuration)

[2021-06-07 13:18] Zenoo commented on #14678
Oh wow, I had no idea you could destructure an unknown index with this syntax !
Thanks a lot, problem solved !

[2021-06-07 13:18] #14678 closed

[2021-06-07 14:04] mdjermanovic commented on #14638
Yes, this is working as intended. The `indent` rule does not enforce indentation in the middle of expressions. This feature was discussed as an additional option (https://github.com/eslint/eslint/issues/12248).

I'm closing this issue since this isn't a bug, and per our [policies about stylistic rules](https://github.com/eslint/eslint#stylistic-rule-updates)  we won't be adding any more options to

[2021-06-07 14:04] #14638 closed

[2021-06-07 14:20] LukeSamkharadze opened #14679 "Default Severity"
**The version of ESLint you are using.**
7.28.0

**The problem you want to solve.**
Now both real code errors and ESLint errors appear at the same level in IDEs with red squiggles.
I can see an option to change all error severity to warn.
It would be nice to have yellow squiggles on ESLint ones (Now we have to manually list every rule and change its severity to `warn`)

**Your take on the correct

[2021-06-07 14:22] LukeSamkharadze commented on #14679
https://github.com/eslint/eslint/issues/10438

As I can see In the past issue was opened about same topic, but It was marked as a question, so I am opening this one as a feature request

[2021-06-07 21:09] molvqingtai opened #14680 ".eslintrc.js does not contain @typescript-eslint/parser"
**Tell us about your environment**

Node version: v14.16.1
npm version: v6.14.12
Local ESLint version: v7.28.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.5.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

[2021-06-08 00:41] nzakas commented on #14673
It’s not clear to me what exactly you are suggesting should change. Are you saying that rules with “y” in the eslint:recommended table should be *added*? I’m just not sure how to read this table.

Keep in mind that recommended rules must flag potential errors or suggest better ways of doing things. We can’t recommend any rules that are stylistic.

[2021-06-08 00:43] nzakas commented on #14659
Yeah, I also agree that this is more of an edge case and I can’t see a generic way to solve the conflict that doesn’t cause other problems. When there are as many core rules as ESLint has, it just gets difficult to make them all play together in every configuration.

[2021-06-08 00:45] nzakas commented on #13711
@A-Katopodis just checking in to see if you intend to implement this?

[2021-06-08 00:47] nzakas commented on #14679
How would you envision this working? Let’s say you set `severity: error` in the config, how do rules know to use that?

[2021-06-08 02:33] aladdin-add commented on #14673
yes! updated the issue to make it clearer.

[2021-06-08 02:49] snitin315 commented on #14680
Hi @molvqingtai, I followed your steps and was unable to reproduce the issue.

The following configuration was generated in my case -

<details>
<summary>Configuration</summary>

[code]
</details>

As you can see above, it contains `@typescript-eslint/parser`.  Am I missing something here?

[2021-06-08 04:54] mdjermanovic commented on #14621
No regressions reported, so this concludes the v7.28.0 release.

Please feel free to merge semver-minor PRs again.

[2021-06-08 04:54] #14621 closed

[2021-06-08 04:54] eslint-github-bot[bot] opened #14682 "Scheduled release for June 18th, 2021"
The next scheduled release will occur on Friday, June 18th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2021-06-08 07:08] LukeSamkharadze commented on #14679
Without affecting third-party config rules, ESLint itself would overwrite rules severity

A better word would be `maxSeverity`
[code]

Or another way is that we could try mapping severities
[code]

These both ways would affect any config in `extends` array, for example, if you have
[code]

It is debatable if it would also affect our custom rules, but as I think better way would be no
[code]

[2021-06-08 10:04] molvqingtai commented on #14680
I'm very sorry, but the contrast on my terminal is so low that I can't tell yes or no.

[2021-06-08 10:04] #14680 closed

[2021-06-08 19:59] nzakas commented on #14023
Per https://github.com/eslint/eslint/pull/14592#discussion_r645899221, we are also dropping support for v15.x, which is EOL this month.

[2021-06-09 00:39] nzakas commented on #14679
Sorry, I think I was unclear. I’m asking how will users know when a rule is using the default severity? All rules require a severity to be specified, so what will be different when a rule is supposed to use the default severity?

and I don’t think max severity makes sense. Default severity is easier to understand.

[2021-06-09 00:48] nzakas commented on #14673
Thanks, that helps. I think a lot of these rules fall under the category of stylistic, so I’m not in favor of adding them to eslint:recommended.

The ones I think make sense to add are:

* no-import-assign
* no-loss-of-precision
* no-nonoctal-decimal-escape
* no-promise-executor-return
* no-setter-return
* no-unreachable-loop
* no-unsafe-optional-chaining
* no-useless-backreference

I don’t care t

[2021-06-09 00:54] nzakas commented on #14655
@cseas can you try with the default ESLint parser to rule out a TypeScript-specific issue?

[2021-06-09 00:55] nzakas commented on #14639
No response, so closing.

[2021-06-09 00:55] #14639 closed

[2021-06-09 00:56] nzakas commented on #14650
No response, so closing.

[2021-06-09 00:56] #14650 closed

[2021-06-09 06:31] mdjermanovic commented on #14673
I vote for these four:

* no-loss-of-precision
* no-unsafe-optional-chaining
* no-useless-backreference
* no-nonoctal-decimal-escape

The first three flag errors in the code, and I can't think of any reason to not enable each.

no-nonoctal-decimal-escape flags the use of a legacy syntax that can be easily avoided.

---------

no-unreachable-loop

This can be problematic because by default it flags

[2021-06-09 08:24] bovandersteene opened #14685 "new-line-per-chained-call ignoreChainWIthDept=1"
**Tell us about your environment**

* **ESLint Version:**
7.28.0
* **Node Version:**
14.17.0
* **npm Version:**
7.16.0
* **Operating System:**
Mac OS

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

I would expect that the `newline-per-chained-call` would take over the ignoreCha

[2021-06-09 09:26] mdjermanovic commented on #14659
I also think this is a very edge case, and a good case for an `eslint-disable-*` comment.

[2021-06-09 09:45] mdjermanovic commented on #14685
Hi @bovandersteene, thanks for the issue!

 `newline-per-chained-call": ["error", { "ignoreChainWithDepth": 1 }]` auto-fixes `obj.method().method()` to:

[code]

[Online demo link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwibmV3bGluZS1wZXItY2hhaW5lZC1jYWxsXCI6IFtcImVycm9yXCIsIHsgXCJpZ25vcmVDaGFpbldpdGhEZXB0aFwiOiAxIH1dICovXG5cbm9iai5tZXRob2QoKS5tZXRob2QoKSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9

[2021-06-09 12:31] LukeSamkharadze commented on #14679
Ah, We could have
[code]

-----

But the thing is, for example in [**Airbnb-config**](https://www.npmjs.com/package/eslint-config-airbnb) or any other config file you use, they have to change every rule to **default** or they may not at all. In this case, `default` won't work. We could have mapping severities or `severity: 'warn'` that will change all rules severity, but not the ones you specified

[2021-06-09 12:31] JounQin opened #14686 "node_modules file is not ignored correctly if it contains eslint config"
Related: https://github.com/microsoft/vscode-eslint/issues/1240

And also #14533, #14546. They are both closed, but actually it is a bug IMO.

`node_modules` is already in my `.eslintignore`. (`**/node_modules` does not work too)

![image](https://user-images.githubusercontent.com/8336744/121353565-95129b00-c960-11eb-8b9b-71203113e747.png)

---

I don't know should it be fixed in ESLint core or th

[2021-06-09 13:45] aladdin-add commented on #14686
just curious why you want to lint node_modules?

[2021-06-09 13:47] JounQin commented on #14686
@aladdin-add I'm not, `vscode-eslint` is doing this.

[2021-06-09 16:02] A-Katopodis commented on #13711
@nzakas I do plan starting the implementation next week. So you can expect it in 1-2 weeks time.

[2021-06-09 16:53] ljharb commented on #14686
It seems like the fix in eslint would be "check eslintignore before attempting to load the eslint config for a given file"?

[2021-06-09 19:09] kickbk opened #14689 "Getting `is assigned a value but never used` although using the variable with Expo"
**Tell us about your environment**
Using VSCode
[code]

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
@typescript-eslint/parser

**Please show your full configuration:**

An expo app

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect t

[2021-06-09 19:53] kickbk commented on #14689
I just did some testing. When I use any version 4.X.X I get that error. Version 3.X.X doesn't give that error, but gives another error which is why I needed to upgrade.
Any ideas what I need to do to resolve this?

[2021-06-09 20:31] kickbk commented on #14689
Resolved by adding the following rules to my `babel.config.js` config:
[code]

[2021-06-09 20:31] #14689 closed

[2021-06-09 20:58] scotia673 opened #14690 "Allow multiple non-exported classes in one file"
**What rule do you want to change?**
max-classes-per-file

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
When the default behavior of 1 class per f

[2021-06-10 00:21] JounQin commented on #14686
Yeah, it should be the solution IMO.

[2021-06-10 00:50] nzakas commented on #13711
Great, thanks!

[2021-06-10 00:53] nzakas commented on #14659
Consensus on the team is to not make any changes here, so closing.

[2021-06-10 00:53] #14659 closed

[2021-06-10 00:56] nzakas commented on #14673
Happy to go along with @mdjermanovic’s suggestions.

[2021-06-10 03:10] aladdin-add commented on #14673
sounds good!

I can make 2 PRs: one for the `eslint:recommended`; one for `eslint-config-eslint`.

[2021-06-10 03:19] snitin315 commented on #14673
Sounds good to me 👍🏻

[2021-06-10 03:51] btmills commented on #14673
I also agree with @mdjermanovic for `eslint:recommended`. For `eslint-config-eslint`, similar to @nzakas I’m fine trying to enable the ones you suggested, and we can disable one if it’s too difficult to adopt.

[2021-06-10 07:00] morgoth commented on #14651
@mdjermanovic I updated it. Sorry for taking that long.
@aladdin-add I already have it, but it does not work
@danschalow Thanks, but I don't have it

[2021-06-10 11:26] aladdin-add commented on #14651
try this option `ignoreTemplateLiterals: true`, as you are using template. :)

https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbWF4LWxlbjogWzIsIHtpZ25vcmVUZW1wbGF0ZUxpdGVyYWxzOiB0cnVlfV0qL1xuZnVuY3Rpb24gU29tZXRoaW5nKCkge1xuICBmdW5jdGlvbiBoYW5kbGVQb3N0YWxDb2RlcygpIHtcbiAgICBmZXRjaChcbiAgICAgIGAvc3RhZmYvYXBpL3Bvc3RhbF9jb2Rlcz9jb3VudHJ5X2NvZGU9JHtzZWxlY3RlZENvdW50cnl9JmNlbnRyYWxfcG9zdGFsX2NvZGU9JHtjZ

[2021-06-10 11:27] aladdin-add commented on #14690
👍  to new option!

[2021-06-10 11:31] morgoth commented on #14651
I already have it:
[code]

[2021-06-10 11:36] aladdin-add commented on #14651
well, it seems related to the @babel/eslint-parser(it does not happen with the default parser).

can you file the issue in the babel repo?

[2021-06-10 11:38] morgoth commented on #14651
I did, but was sent here. I'll try again. I guess we're having more info now https://github.com/babel/babel/issues/13401

[2021-06-10 12:40] sunyatasattva opened #14693 "Add “consistent-as-needed” option for “quotes” (especially when “avoidEscape” is on)"
**What rule do you want to change?**

`quotes` rule

**Does this change cause the rule to produce more or fewer warnings?**

More warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

The rule `quote-props` has the `consistent-as-needed` option, which tells the user that if any of an object literal props require quotes, then all props should be wrapped in qu

[2021-06-10 12:46] hrazmsft opened #14694 "object-curly-newline multiline"
**Tell us about your environment**

Node version: v15.12.0
npm version: v7.15.1
Local ESLint version: v7.22.0 (Currently used)
Global ESLint version: Not found

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?** default (came from CRA)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What d

[2021-06-10 16:35] mdjermanovic commented on #14694
Hi @hrazmsft, thanks for the issue!

This is indeed incorrect code for `{ "multiline": true }` ([Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgb2JqZWN0LWN1cmx5LW5ld2xpbmU6IFtcImVycm9yXCIsIHsgXCJtdWx0aWxpbmVcIjogdHJ1ZSB9XSovXG5cbmNvbnN0IGl0ZW0gPSB7IFxuICAgIG5hbWU6IHRleHQsIGtleTogdGV4dCBcbn07Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMiwic291cmNlVHlwZSI6InNjcmlwdCIsIm

[2021-06-10 16:35] #14694 closed

[2021-06-10 16:47] hrazmsft commented on #14694
@mdjermanovic thanks for the comment. Actually, this example is one of many. It is happening with `import`, `export` and destructuring objects that `object-curly-newline` doesn't cover.

Any idea how to solve that in these cases?

I set the `minProperties` to 1 since I don't want a new line in empty objects...

[2021-06-10 19:36] nullromo opened #14695 "Strange behavior of require-atomic-updates"
**Environment**
* **ESLint Version:** v7.21.0
* **Node Version:** v14.16.1
* **npm Version:** v6.14.11

**Parser**
`react` plugin and `@typescript-eslint` plugin

**Full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do?**

[code]

[code]

**What did you expect to happen?**

Look at the `test1` function. I put a useless `await` inside, then I got a

[2021-06-11 00:34] aladdin-add opened #14696 "parserOptions was not passed to context"
this is from https://github.com/eslint/eslint/pull/14622#discussion_r647521786

**Tell us about your environment**

Node version: v16.0.0
npm version: v7.10.0
Local ESLint version: v7.28.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 4.19.128-microsoft-standard

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?** default

[2021-06-11 04:38] btmills commented on #14695
Strange indeed. I’m able to [repro this in the ESLint demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHJlcXVpcmUtYXRvbWljLXVwZGF0ZXM6IFwiZXJyb3JcIiAqL1xuXG5hc3luYyAob2JqKSA9PiB7XG4gIGNvbnN0IHByb3AgPSBvYmoucHJvcDtcbiAgYXdhaXQgMDtcbiAgb2JqLnByb3AgPSBwcm9wO1xufVxuXG5hc3luYyAob2JqKSA9PiB7XG4gIGNvbnN0IHByb3AgPSBvYmoucHJvcDtcbiAgYXdhaXQgMDtcbiAgb2JqO1xuICBvYmoucHJvcCA9IHByb3A7XG59Iiwib3B0aW9ucyI6

[2021-06-11 05:28] mdjermanovic commented on #14696
Hmm, I had tried all three tests from https://github.com/eslint/eslint/pull/14622#discussion_r647521786 on [aladdin-add:update/ecma-latest](https://github.com/aladdin-add/eslint/tree/update/ecma-latest) and they worked then.

This happens when there's a parsing error, so the rule isn't run and `ecmaVersion` keeps its initial value (`let ecmaVersion = null`). Parsing error isn't thrown from `linter

[2021-06-11 06:01] aladdin-add commented on #14696
oh, my bad! I just passed the wrong configs.

[2021-06-11 06:01] #14696 closed

[2021-06-11 11:12] cseas commented on #14655
Just tried removing the `"parser"` field from `.eslintrc.js` and could reproduce the error even without a parser specified.

[2021-06-11 13:51] mdjermanovic commented on #14655
This works as expected. `export const` is of the `"export"` statement type for this rule, so only the configuration for `"export"` applies.

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHBhZGRpbmctbGluZS1iZXR3ZWVuLXN0YXRlbWVudHM6IFtcImVycm9yXCIsXG5cdHsgYmxhbmtMaW5lOiBcImFsd2F5c1wiLCBwcmV2OiBcImV4cG9ydFwiLCBuZXh0OiBcImV4cG9ydFwiIH1cbl0qL1xuXG5leHBvcnQgY29uc3QgQ1VTVE9NRVIgP

[2021-06-11 14:44] mdjermanovic commented on #14690
This can be enforced using the [no-restricted-syntax](https://eslint.org/docs/rules/no-restricted-syntax) rule with the following selector:

[code]

[Online Demo with 1 exported class](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IFwibm8tcmVzdHJpY3RlZC1zeW50YXhcIjogW1xuICAgIFwiZXJyb3JcIixcbiAgICB7XG4gICAgICAgIFwic2VsZWN0b3JcIjogXCI6bWF0Y2hlcyhFeHBvcnROYW1lZERlY2xhcmF0aW9uLCBFeHBvcnREZWZhdWx0RGV

[2021-06-11 14:58] mdjermanovic commented on #14694
`object-curly-newline` covers `import`, `export` and destructuring patterns as well, but `object-property-newline` indeed covers only object expressions.

Unfortunately, [stylistic rules are frozen](https://eslint.org/blog/2020/05/changes-to-rules-policies), so the best course of action would be to make a custom rule based on `object-property-newline` that would also cover `import`, `export` and d

[2021-06-11 20:49] hrazmsft commented on #14694
Thank you

[2021-06-11 21:06] nzakas commented on #14640
Yes, we will be waiting to add ES2022 syntax in ESLint v8.0.0. This PR updates Acorn in Espree: https://github.com/eslint/espree/pull/505

[2021-06-12 00:56] nzakas commented on #14679
Thanks, I think I get it now. This seems interesting enough to explore in some further detail for implementing in the new config system (we aren’t making any further changes to the eslintrc format).

The TSLint model of having a defaultSeverity that is used whenever the severity is set as “default” for a rule makes sense to me. That won’t let you override other statically-set rule severities but i

[2021-06-12 12:20] cseas commented on #14655
Would it be possible to make this a feature request to add `"multiline-export"`?

Right now the `"export"` statement type applies to all exports. This might be undesirable when a file contains a lot of single line exports. Like in the case of `index.js` files that usually re-export things from a module.

[2021-06-12 15:23] LukeSamkharadze commented on #14679
Thanks for following up and amazing info

Let's discuss previous options and few new ones and try to come up with the best one

### Severity ⛔
I don't think this is a good option as it can also override rules with `off`. Some plugins override previous ones and turn some rules off to avoid conflicts. (Solution might be to ignore rules with `off`)
[code]

### MaxSeverity ⛔
It will be quite good for

[2021-06-12 18:17] fregante opened #14700 "`no-await-in-loop` false positive on exiting code path (break, return)"
**Tell us about your environment**

I'm testing this on eslint.org’s demo page, so I'm going to skip some N/A questions.

- **ESLint Version:**  v7.28.0
- Environment: browser
- Rules: only `no-await-in-loop`

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[eslint.org demo link only](https://eslint.org/demo#eyJ0ZXh

[2021-06-12 22:02] bakkot opened #14701 "no-fallthrough should allow the comment inside of a block when the case is a single block"
**What rule do you want to change?**

no-fallthrough

**Does this change cause the rule to produce more or fewer warnings?**

fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Error

**What will the rule do aft

[2021-06-13 02:21] aladdin-add commented on #14701
as a workaround, you can write the comment out the block:
[code]

IMHO, it seems a bug, no new option needed.

[2021-06-13 17:03] mdjermanovic commented on #14701
Agreed. If `consequent` consists of only one statement, and that statement is `BlockStatement`, then the rule should also look for the comment before its closing `}`. The rule will still allow comment after `}`.

[2021-06-14 02:06] bakkot commented on #14701
I'll prepare a PR for this unless someone is already working on it.

[2021-06-14 02:36] aladdin-add commented on #14701
@bakkot please feel free to open a PR, thanks!

[2021-06-14 02:37] bakkot commented on #14701
Done: https://github.com/eslint/eslint/pull/14702.

[2021-06-14 07:00] maluramichael opened #14703 "Extend padding-line-between-statements StatementTypes"
**What rule do you want to change?**
padding-line-between-statements

**Does this change cause the rule to produce more or fewer warnings?**
Potentially more

**How will the change be implemented? (New option, new default behavior, etc.)?**
By extending the `StatementTypes` object with a new test.

**Please provide some example code that this change will affect:**

There is a code style rule in ou

[2021-06-14 12:05] mdjermanovic commented on #14703
Hi @maluramichael, thanks for the issue!

This rule doesn't have a StatementType specifically for statements that consists of a function call, but they fall under `"expression"` so you can configure the rule to enforce a blank line between variable declarations and expression statements (incl. function calls) like this:

[code]

[Online Demo link](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IH

[2021-06-14 12:19] aladdin-add commented on #14640
update: [regexpp v3.2.0 was released](https://github.com/mysticatea/regexpp/releases/tag/v3.2.0)!

[2021-06-14 12:34] maluramichael commented on #14703
@mdjermanovic thank you for the quick answer. I think i tried that but had problems somewhere else. For example this code here should not add a space.

[code]

But with this setting it does.

[code]

Is there a finer way to differentiate between variable declaration (`const|let|var a = 10;` ) and just a variable assignment like `a=10;`

I tried to add a custom statement type for a quick test.

[co

[2021-06-14 12:34] ota-meshi commented on #14640
Thank you for letting me know!

[2021-06-14 17:45] nzakas commented on #14679
Thanks for mapping those out...I'm not sure any of those is simpler than the others implementation-wise. The TSLint approach of `defaultSeverity` and using `default` is actually the easiest to deal with.

Also, keep in mind that we are no longer making changes to the current config system, so any changes need to take into account how the [new config system](https://github.com/eslint/rfcs/tree/main

[2021-06-14 19:33] jamietre commented on #14202
Hi, just wanted to point out that this is a breaking API change; our build depended on "--quiet" ignoring warnings rather than just not printing them in our build.

[2021-06-15 00:29] nzakas commented on #14700
This is behaving as expected. The rule just looks for an await inside of a loop. It’s doesn’t discern how the await might affect the code path, as that could get really complex. This is an edge case so I’d suggest using a disable comment.

[2021-06-15 00:29] #14700 closed

[2021-06-15 02:26] fregante commented on #14700
I disagree that this is an edge case. This code is equivalent to

[code]

If the rule is behaving as expected, then the rule is “dumb”, i.e. the intent of a linter is to improve code, not prevent you from putting two keywords next to each other without understanding the intent or even just the resulting behavior. There’s only one promise to ever be awaited so the rule is marking it as a problem wh

[2021-06-15 02:30] fregante commented on #14700
I think only sub-situation where this should not be caught is if there’s a try/catch inside the for loop, because if there’s an error we could be  back to the original “sequential asynchronous loop” behavior.

[code]

[2021-06-15 09:54] voxpelli opened #14708 "Make Dependabot / Renovate pick up the formatted release notes"
### The version of ESLint you are using:

ESLint 7.27.0 to 7.28.0

### The problem you want to solve:

Neither Dependabot or Renovate are picking up the nice release notes that's posted on eslint.org: https://eslint.org/blog/2021/06/eslint-v7.28.0-released

Instead they both pick up what's in the CHANGELOG and/or GitHub Releases.

A Renovate example: https://github.com/voxpelli/eslint-config/pull/

[2021-06-15 20:59] bmish opened #14709 "Change default rule schema to `schema: []` and drop support for function-style rules"
**The problem you want to solve.**

Today, rule schemas ([meta.schema](https://eslint.org/docs/developer-guide/working-with-rules#rule-basics)) are optional. This has the following effects:

* If a rule does not specify a schema, nothing is enforced.
* Rules with options may not have a schema specified, despite it being best practice to specify a schema for rule options. This increases the chances

[2021-06-16 00:36] nzakas commented on #14708
When you say “nicely formatted” are you referring to the commits being grouped under the category names? Or are you also referring to the highlights?

Its worth noting that we are planning on moving to a new release tool at some point, so we may not take up any changes to the current tool in the meantime, but still good to get an idea about what folks would like.

[2021-06-16 00:42] nzakas commented on #14709
Interesting idea. I think we kept this as-is for maximum compatibility with older rules that were implemented before rules could specify schemas. The big question we need to answer is how many existing plugins would break.

Are you thinking this would apply just to object-based rules and function-based rules would still be schemaless?

I think it’s an idea worth exploring, though as a breaking cha

[2021-06-16 00:47] nzakas commented on #14693
I’m sorry, we are no longer making changes to rules that simply enforce stylistic preferences. (See the [README](https://github.com/eslint/eslint#stylistic-rule-updates) for details.)

[2021-06-16 00:47] #14693 closed

[2021-06-16 01:48] bmish commented on #14709
Targeting v9 should give us ample time (I assume a year) to communicate about this upcoming breaking change and help rules prepare for it. Other ways we could help rules prepare:
1. When running rule tests, ESLint could show a warning when the test case specifies `options` but the rule has no schema:

2. [eslint-plugin/require-meta-schema](https://github.com/not-an-aardvark/eslint-plugin-eslint-pl

[2021-06-16 06:05] sam-s4s opened #14712 "[keyword-spacing] override this before: false with greater than"
**Tell us about your environment**

* **ESLint Version:** 7.27.0
* **Node Version:** 14.17.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
`@typescript-eslint/parser`
but also tested with only using eslint and the problem still exists.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**

[2021-06-16 08:18] voxpelli commented on #14708
@nzakas Especially the highlights, as the grouping can be somewhat inferred from the release notes today, but both would be neat.

What I mainly look for in minor-level releases are what new features that could be of use to me, and that's pretty much the same purpose that the highlights serve.

Is there an issue tracking the new release tool? If so, I might subscribe and lurk around there 👍

[2021-06-16 09:16] DanielSWolf commented on #14538
@mdjermanovic If I created a PR that only added `node.declarations.length > 0 &&` to a single condition, would there be any chance of getting it merged?

All other ESLint rules that we use work fine with the output of `typescript-eslint/parser`. This is the only one that causes problems, and this simple change would make our coding experience so much better!

[2021-06-16 10:54] mdjermanovic commented on #14538
I'm really not in favor of adding these checks as there could be a lot of places where various rules can crash with a broken AST.

Can you try with the [IgnoredNodes](https://eslint.org/docs/rules/indent#ignorednodes) option?

I just tried with the following configuration:

[code]

test code:

[code]

It correctly reports wrong indentation on the `var x` line, but ignores the `var`-only line and d

[2021-06-16 11:44] aladdin-add commented on #14708
related: https://github.com/eslint/eslint/issues/14231

[2021-06-16 11:46] luver225 opened #14714 "there was a garbled code when gitcommit"
$ git commit -m "eslint test"
husky > pre-commit (node v14.15.1)
[STARTED] Preparing...
[SUCCESS] Preparing...
[STARTED] Running tasks...
[STARTED] Running tasks for src/**/*.ts
[STARTED] Running tasks for *.{js,css,md}
[SKIPPED] No staged files match *.{js,css,md}
[STARTED] eslint --fix
[FAILED] eslint --fix [ENOENT]
[FAILED] eslint --fix [ENOENT]
[SUCCESS] Running tasks...
[STARTED] Applying mod

[2021-06-16 11:48] aladdin-add commented on #14712
looks like a bug to me!

[2021-06-16 12:09] luver225 commented on #14714
sorry，a stupid mistake. because eslint is not installed yet

[2021-06-16 12:09] #14714 closed

[2021-06-16 12:40] DanielSWolf commented on #14538
Wow, that's brilliant! I did a quick test, and it appears to be working great.

Thank you very much!

[2021-06-16 14:27] esdmr opened #14715 "Support `Number.NaN` within `use-isnan`"
**What rule do you want to change?**
`use-isnan`

**Does this change cause the rule to produce more or fewer warnings?**
More.

**How will the change be implemented? (New option, new default behavior, etc.)?**
Perhaps as a default behaviour, as `NaN` and `Number.NaN` are equivalent.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for t

[2021-06-16 17:35] voxpelli commented on #14231
As mentioned in #14708, the highlights that are currently posted to eslint.org is quite useful, is there a way to add a highlight section manually when doing a release with `release-please`?

I love automation that removes repeated work, but I'm hesitant about automation that also completely removes the human part of a process, rather I think automation should make it so that more focus can be giv

[2021-06-16 20:34] villesau commented on #14284
Would be cool if e.g following would be supported `// eslint-disable-next-line react/no-array-index-key there is no other unique identiefier`. For example `// @ts-expect-error works this way and let's you write why this is here`. Alternatively the syntax could be e.g `// eslint-disable-next-line react/no-array-index-key # there is no other unique identiefier` if simple space is not compatible.

[2021-06-16 22:23] sam-s4s commented on #14712
I am unfamiliar with the lint code and internal process, so not sure if I'd be a good candidate. But it is possible, if that's the best option :)

Also the more I think about it, the more I wonder if `this` should be treated like a keyword at all. It's really just used like a variable, and this rule does not cover those. eg...
[code]
(possibly `new` also, aside from the fact that you always want a

[2021-06-17 00:26] nzakas commented on #14231
We haven’t made any final decision on tooling at this point but will revisit once we get v8.0.0 out the door.

[2021-06-17 00:27] snitin315 commented on #14715
Looks like a bug to me.

I can send a PR if this issue is accepted.

[2021-06-17 00:30] nzakas commented on #14708
We can definitely explore that. The problem with the highlights is that they are written by hand so tough to automate it everywhere. It’s probably worth doing something that can sync changes between the blog and the GitHub release when we revisit the release process.

[2021-06-17 00:33] nzakas commented on #14709
We are slowly making creating function rules harder, for instance, in v8.0.0 they can no longer be fixable (https://github.com/eslint/eslint/issues/13349) and can’t provide suggestions. So it’s not outside the realm of possibility that we could remove support completely.

[2021-06-17 00:48] JounQin commented on #14231
[changesets](https://github.com/atlassian/changesets)' CHANGELOGs are based on files, so it's full controlled by human easily. You can always change it before merging the final PR for releasing.

[2021-06-17 05:06] voxpelli commented on #14231
Looks interesting, seems to also have some [good automation](https://github.com/atlassian/changesets/blob/main/docs/automating-changesets.md) – both a [bot for PR:s](https://github.com/apps/changeset-bot) and [an action that creates a release PR](https://github.com/changesets/action)

[2021-06-17 07:35] aladdin-add commented on #14715
agreed it was a bug.

[2021-06-17 10:59] aladdin-add opened #14717 "//eslint-enable not working as expected"
**Tell us about your environment**

* **ESLint Version:** latest
* **Node Version:** n/w
* **npm Version:** n/w
* **Operating System:** n/w

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
default

**What did you expect to happen?**
report an error.

**What actually happened? Please copy-paste the actual, raw output from ESLint.**
no error report

[2021-06-17 15:55] mdjermanovic commented on #14717
Rule has to be configured in a config file or `eslint` comment.

`eslint-enable` just re-enables rules that were disabled with `eslint-disable`:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLWRlYnVnZ2VyOiBlcnJvciAqL1xuXG5kZWJ1Z2dlcjsgLy8gZXJyb3Jcbi8qZXNsaW50LWRpc2FibGUgbm8tZGVidWdnZXIqL1xuZGVidWdnZXI7IC8vIG5vIGVycm9yXG4vKmVzbGludC1lbmFibGUgbm8tZGVidWdnZXIqL1xuZGVidWdn

[2021-06-17 17:40] nzakas commented on #14715
Agree, looks like a bug.

[2021-06-17 17:48] #14717 closed

[2021-06-18 08:24] Tol1 commented on #14058
So... No updates? After upgrading I got 300+ errors about indent, so I downgraded after saw this issue. And seems like I still cannot upgrade if I don't want to run fixes back and forth

[2021-06-18 10:42] boris-petrov opened #14721 "Rule proposal: `prefer-logical-nullish-assignment`"
I searched and didn't see something like that requested...

**Please describe what the rule should do:**

[code]

Could be rewritten as:

[code]

**What new ECMAScript feature does this rule relate to?**

[Logical nullish assignment](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Logical_nullish_assignment).

**What category of rule is this? (place an "X" next to just

[2021-06-18 19:31] IvanKarnaukhov opened #14722 "Eslint does not understand the function type of <inside generic >"
**My environment**

Node version: v14.16.1
npm version: v7.11.1
Local ESLint version: v7.26.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19042

**What parser ("@typescript-eslint/parser": "4.24.0",) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the act

[2021-06-18 19:37] IvanKarnaukhov commented on #14722
Temporary solution - workaround.

[code]

[2021-06-18 19:42] #14701 closed

[2021-06-18 20:00] bradzacher commented on #13654
note - this should not have been closed yet.

[2021-06-18 20:07] btmills commented on #13654
Thanks for catching this @bradzacher, looks like automation got excited. Reopening and re-adding to project boards.

[2021-06-18 20:52] btmills commented on #14682
ESLint v7.29.0 has been released: https://eslint.org/blog/2021/06/eslint-v7.29.0-released

Please merge only semver-patch changes in case we need a patch release.

[2021-06-18 22:25] brettz9 commented on #3565
With further changes being made apparently toward dropping `CLIEngine` per [v7.29.0](https://eslint.org/blog/2021/06/eslint-v7.29.0-released), I wanted to register a concern while there is still time that due to async rules not apparently being in the works per [this comment](https://discord.com/channels/688543509199716507/711686958635548723/760341302771974154) from @nzakas (nor in the referenced

[2021-06-18 23:09] macabeus opened #14724 "Rule `import/no-unresolved` raise false positive when there is no `main` field in the `package.json`"
**Tell us about your environment**

* **ESLint Version:** `7.29.0`
* **Node Version:** `v12.18.4`
* **npm Version:** `7.14.0`
* **Operating System:** macOS Big Sur

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
`babel-eslint`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did yo

[2021-06-19 10:31] aladdin-add commented on #14724
hi, the plugin was not maintained by the eslint team, please file the issue in that repo, thanks!

[2021-06-19 10:31] #14724 closed

[2021-06-19 10:33] aladdin-add commented on #14722
the ts support is not maintained by the eslint team, please file the issue in https://github.com/typescript-eslint/typescript-eslint, thanks!

[2021-06-19 10:33] #14722 closed

[2021-06-19 16:39] overlookmotel opened #14727 "Allow overrides based on function call"
**The version of ESLint you are using.**

7.29.0

**The problem you want to solve.**

In some cases a glob pattern is not sufficient to configure an override.

For example:

NodeJS allows an application to contain a mix of CommonJS and ESM JS files. ESM files can be differentiated from CommonJS by (1) use of the `.mjs` extension or (2) by using the `type` field in `package.json`.

I would like to

[2021-06-20 00:47] G-Rath opened #14728 "RuleTester deeply merges default properties, including arrays (meaning specific elements are replaced, rather than the whole array)"
**Tell us about your environment**

Environment Info:

Node version: v14.16.0
npm version: v7.14.0
Local ESLint version: v7.29.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 4.4.0-19041-Microsoft

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

Default

**Please show your full configuration:**

<details>
<summary>Con

[2021-06-21 00:18] btmills commented on #14727
We’re working on a new config system, so we’re not likely to add any new features to the existing system. There are a few other ways you could tackle this particular problem within the existing config system. In increasing order of magic:

1. Manually add overrides for directories containing packages with the module type field.
2. In those `package.JSON` files, use the [`eslintConfig` key](https:/

[2021-06-21 08:34] wmertens commented on #14074
@btmills not everybody uses no-undefined, I personally find it annoying

[2021-06-21 17:33] mdjermanovic commented on #14728
`RuleTester` uses `lodash.merge`, which indeed merges arrays instead of overwriting them.

I agree with you that this is surprising for a general-purpose merging. However, it matches how our custom merging of eslintrc configs works with the `settings` property ([here](https://github.com/eslint/eslintrc/blob/7c43d7784e39cf0b7b102af64f703cade11252bb/lib/config-array/config-array.js#L304)).

For exam

[2021-06-21 20:20] G-Rath commented on #14728
Well, that's interesting behaviour...

I agree that it'd be best to have `RuleTester` match the `eslintrc` logic.

To be honest, I'm just trying to wrap my head around it; to me this feels like it effectively makes arrays in `settings` unusable, as I can't really think of any way you could work around this transparently to the user.

Do you have any thoughts on proposing to change the general logi

[2021-06-21 22:36] RainNapper opened #14731 "Support cwd in the top-level CLI"
**The version of ESLint you are using.**
7.29.0

**The problem you want to solve.**
I am working on using eslint as part of an arcanist lint flow. Arcanist runs linters via CLI and translates the output to its own format.

Running eslint via npm requires a specific task to be defined, so we opt to run eslint directly via `$repo/node_modules/.bin/eslint`, found from utilities like [`yarn bin`](http

[2021-06-22 03:13] orzhtml opened #14732 "ESLint: Failed to load plugin 'react' declared in '.eslintrc.json'"
**Tell us about your environment**
macbook pro / macOS Catalina v10.15.7
visual studio code v1.32.3

* **ESLint Version:** 7.29.0
* **Node Version:**v14.17.0
* **npm Version:** 7.17.0
* **Operating System:** macOS Catalina v10.15.7

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
    "@typescript-eslint/eslint-plugin": "^4.28.0",
    "@typescript

[2021-06-22 03:40] orzhtml commented on #14732
[Info  - 11:38:10 AM] ESLint server stopped.
[Info  - 11:38:11 AM] ESLint server running in node v10.2.0
[Info  - 11:38:11 AM] ESLint server is running.
[Info  - 11:38:13 AM] ESLint library loaded from: /Volumes/HDD/website/react-app/web-app-ts/node_modules/eslint/lib/api.js
[Error - 11:38:14 AM] ESLint stack trace:
[Error - 11:38:14 AM] TypeError: Failed to load plugin 'react' declared in '.eslin

[2021-06-22 05:09] aladdin-add commented on #14732
eslint v7 supports node.js `^10.12.0 || >=12.0.0`, but seems you are using node.js v10, not"**Node Version:**v14.17.0" as you described in the issue.

so, can you confirm which node.js version you are using?

[2021-06-22 05:13] aladdin-add commented on #14731
just a reminder: `CLIEngine ` has been deprecated, and can no longer be used in the new coming eslint v8.0. see: Breaking: define an exports field for our public API

[2021-06-22 06:11] orzhtml commented on #14732
I don't have Node V10.2.0 locally

Visual Studio Code comes with NodeJS?

[2021-06-22 06:39] aladdin-add commented on #14732
sounds like that way. you can run command line(e.g. `./node_modules/.bin/eslint .`), if working fine, it would be something related to vscode.

[2021-06-22 06:42] orzhtml commented on #14732
update Visual Studio Code v1.57.1  Ok！thank you~

![WX20210622-144135](https://user-images.githubusercontent.com/5866002/122876331-f75b9a80-d367-11eb-99ba-62319bb0f6e4.png)

[2021-06-22 06:42] #14732 closed

[2021-06-22 09:02] btmills commented on #14682
I see no regressions reported. This concludes the v7.29.0 release process. You may resume merging semver-minor changes.

[2021-06-22 09:02] #14682 closed

[2021-06-22 09:02] eslint-github-bot[bot] opened #14734 "Scheduled release for July 2nd, 2021"
The next scheduled release will occur on Friday, July 2nd, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hig

[2021-06-22 09:31] PHILLIPS71 opened #14735 "breaking-change: sort-imports via import specifier"
**What rule do you want to change?**
sort-imports

**Does this change cause the rule to produce more or fewer warnings?**
Potentially more with the addition of the mixed memberSyntaxSortOrder option

**How will the change be implemented? (New option, new default behavior, etc.)?**
The rule would accept a different array of ```memberSyntaxSortOrder``` options those being ["none", "all", "named", "m

[2021-06-22 14:29] mdjermanovic commented on #14735
Hi @PHILLIPS71, thanks for the issue!

The team has made the difficult decision to freeze stylistic rules (please find more details in [this blog post](https://eslint.org/blog/2020/05/changes-to-rules-policies)), so we won't be adding any new options or changing the existing ones in the `sort-imports` rule.

I'm closing this issue per our [rules policies](https://github.com/eslint/eslint#stylistic

[2021-06-22 14:29] #14735 closed

[2021-06-22 22:22] nojvek opened #14736 "Support eslint --watch/-w like tsc --watch"
**The version of ESLint you are using.**
v7.28.0

**The problem you want to solve.**
Run `yarn eslint --watch` to get live feedback as code is fixed. Re-running eslint especially with plugins such as `@typescript/eslint` is very expensive. There is ~10 second overhead on a medium sized project. The feedback cycle is too slow.

**Your take on the correct solution to problem.**
Same api as `tsc --wa

[2021-06-23 07:02] jpike88 opened #14739 "NEW RULE: no-unused-new-array"
**Please describe what the rule should do:**
This rule should ensure that fresh arrays are actually used somewhere instead of just mutated.

**What new ECMAScript feature does this rule relate to?**

**What category of rule is this? (place an "X" next to just one item)**

[x] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why shoul

[2021-06-23 09:00] tiziodcaio opened #14740 "Package-lock.json should be committed"
**The version of ESLint you are using.**
I'm not using now

**The problem you want to solve.**
Package-lock.json should be committed, as sayed [here](https://nodejs.dev/learn/the-package-lock-json-file)

**Your take on the correct solution to problem.**
Remove from .gitignore

**Are you willing to submit a pull request to implement this change?**
If you approve them I will happy to do it!

[2021-06-23 09:55] mdjermanovic commented on #14740
Hi @tiziodcaio, thanks for the issue!

We're not using package-lock.json for the reasons described here:

https://github.com/eslint/eslint#why-doesnt-eslint-lock-dependency-versions

[2021-06-23 10:20] mdjermanovic commented on #14739
Hi @jpike88, thanks for the issue!

Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we can only accept new rules if they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, so this proposal doesn't qualify. You can always make a custom rule and publish a plugin.

[2021-06-23 10:20] #14739 closed

[2021-06-23 10:21] jpike88 commented on #14739
Any tips on how to achieve this with existing rules?

[2021-06-23 10:37] mdjermanovic commented on #14739
I don't think this can be achieved with existing rules, it would have to be a new rule.

[2021-06-23 10:42] tiziodcaio commented on #14740
Ok don't worry if you think that, you can ignore the issue

[2021-06-23 10:54] mdjermanovic commented on #14728
I think the current behavior makes sense only when each position in the array has a specific meaning, but that should be rare and can be avoided by using objects instead of arrays.

`eslintrc` logic is now  frozen since we're working on the new config system (https://github.com/eslint/eslint/issues/13481). The new config will have a different merging logic, and the idea is to overwrite arrays (htt

[2021-06-23 13:19] #14740 closed

[2021-06-24 00:54] nzakas commented on #3565
@brettz9 did you mean to post this comment on https://github.com/eslint/eslint/issues/13654? It doesn’t seem related to this issue.

[2021-06-24 00:59] nzakas commented on #14736
Thanks for the suggestion. This has been brought up a few times (https://github.com/eslint/eslint/issues/13000 for one), and the team doesn’t believe this should be something built in to ESLint. There are plenty of other ways to accomplish the same thing, and we don’t feel we could provide a better experience than any of the available options today.

[2021-06-24 00:59] #14736 closed

[2021-06-24 01:04] brettz9 commented on #3565
Maybe I misunderstood, but the discussion covered switching the ESLint codebase to be async. While I know linting files in parallel is about the execution manner, I figured that asynchronous rules might fit with the discussion. I can file a separate issue, but it sounded like the issue might not be accepted, so just adding some pros in case they had not been taken into account.

[2021-06-24 14:19] phoenix741 opened #14742 "Eslint don't respect root: true if the directory name contains curly braces"
The problem is that if

* the directory contains curly brace (it is the case on our jenkins environment, because it is used to group job {PROJECT1}Job1, {PROJECT1}Job2, ...). So the directory will be /var/lib/jenkins/{PROJECT1}Job1/client ...
* the glob using to select file file to include include curl brace like in nest.js : eslint \"{src,apps,libs,test}/**/*.ts\" --fix

Eslint will read all dire

[2021-06-24 21:42] mdjermanovic opened #14744 "Remove `SourceCode#getComments()`"
**The version of ESLint you are using.**

ESLint 7.29.0 with Espree 8.0.0-beta.1

**The problem you want to solve.**

This test is failing:

https://github.com/eslint/eslint/blob/f113cdd872257d72bbd66d95e4eaf13623323b24/tests/lib/source-code/source-code.js#L909-L968

because `sourceCode.getComments(node)` uses `start` and `end` properties of nodes and tokens:

https://github.com/eslint/eslint/blob

[2021-06-25 00:43] nzakas commented on #3565
I think there may have been a subconversation about that, but we already have an async API via `ESLint`. There are no discussions about making `Linter` async, which is what would be necessary to create async rules.

We have no plans to create async rules and it isn't something I think is worth exploring at this point.

[2021-06-25 01:08] nzakas commented on #14721
I think this may be too narrow a use case for a core rule. I could see maybe adding something that is a general `prefer-nullish-coalescing` that would catch assignments as well as expressions, but I don't think we'd want to just flag assignments.

[2021-06-25 01:10] nzakas commented on #14744
I'm not opposed to removing it but since we already locked down and announced the changes coming in v8.0.0, it seems like we should wait until v9.0.0 and maybe just add a deprecation warning in v8.0.0?

[2021-06-25 01:12] nzakas commented on #14651
What's the status of this? Is there any other investigation ongoing or can we close this?

[2021-06-25 01:15] nzakas commented on #14655
@cseas we aren't currently adding new options to rules that just enforce stylistic preferences. You can, of course, create your own version of the rule that will behave the way you would like.

[2021-06-25 01:15] #14655 closed

[2021-06-25 01:20] nzakas commented on #14742
This has to do with the glob pattern you're using and isn't part of ESLint logic per se. Can you try escaping the curly braces in your pattern to see if that helps?

[2021-06-25 01:20] aladdin-add commented on #14651
I think we can close it, as it does not happen with the default parser.

[2021-06-25 01:20] #14651 closed

[2021-06-25 01:22] nzakas commented on #14686
@JounQin please fill out the correct [issue template](https://github.com/eslint/eslint/blob/master/.github/ISSUE_TEMPLATE/BUG_REPORT.md). Once we have all of those details fully listed in this issue we can evaluate further. Thanks.

[2021-06-25 01:24] nzakas commented on #14685
Looks like there is nothing else to do here, so closing.

[2021-06-25 01:24] #14685 closed

[2021-06-25 03:32] hsiaosiyuan0 commented on #3565
though ESLint has an aync API it internally delegates process to [CLIEngine.executeOnFiles](https://github.com/eslint/eslint/blob/aaf65e629adb74401092c3ccc9cb4e4bd1c8609b/lib/cli-engine/cli-engine.js#L803) so it still a blocking operation

[2021-06-25 05:36] boris-petrov commented on #14721
Well, there already is a [prefer-nullish-coalescing](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/prefer-nullish-coalescing.md) (albeit in `typescript-eslint`) but it doesn't work for assignment (it's even named in a way that would suggest so). That's why I opened the issue for the other case - assignment.

[2021-06-25 05:41] ljharb commented on #14721
Since there's now `&&=`, `||=`, and `??=`, what about a rule that detected all the cases that could use compound assignment?

In other words:
[code]
would all transform (or vice versa) to:
[code]

[2021-06-25 07:03] phoenix741 commented on #14742
Hi,

Thanks for the response.
I have try to escaping :

[code]

I always have the same problem.

[2021-06-25 07:45] mdjermanovic commented on #14076
@brettz9 the issue on relative keys is that syntax such as `:has( > Identifier)` isn't supported yet?

[2021-06-25 07:58] brettz9 commented on #14076
Right. A PR in https://github.com/estools/esquery/pull/61 attempted to offer it, but the review comments were never completed.

[2021-06-25 08:24] mdjermanovic commented on #14076
Is it expected behavior that selectors in the `:has()` list can match the element itself, or only its descendants?

[code]

[demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXJlc3RyaWN0ZWQtc3ludGF4OiBbXCJlcnJvclwiLCBcIkxpdGVyYWw6aGFzKExpdGVyYWwpXCJdICovXG5cbjEgLy8gZXJyb3IiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjEyLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sI

[2021-06-25 08:54] brettz9 commented on #14076
Hmmm. The tests don't refer to self-referential elements, and the only other reference I see is in the README comparing it to the CSS pseudo-selector: https://drafts.csswg.org/selectors-4/#has-pseudo . So I'm not sure.

In the latest esquery on `master`/1.4.0, it doesn't error but returns the same `Literal` as itself.

I wouldn't expect this to work myself, but that's just my own sense.

[2021-06-25 08:59] JounQin commented on #14686
@nzakas Updated.

[2021-06-25 09:11] brettz9 opened #14745 "Adding optionally synchronous ESLint class methods"
**The version of ESLint you are using.**

7.29.0

**The problem you want to solve.**

A few facts:

1. Per [the v7.29.0 blog release](https://eslint.org/blog/2021/06/eslint-v7.29.0-released), further changes are anticpated toward dropping `CLIEngine`.

2. Its replacement, the ESLint class, relies on some async-only methods.

3. However, ESLint rules do not, and per @nzakas in [this comment](https:

[2021-06-25 10:27] mdjermanovic commented on #14076
Sorry, by "error" I meant a linting problem, i.e., the selector in the `no-restricted-syntax` config matches literal `1`.

I filed an issue in esquery repo: https://github.com/estools/esquery/issues/122

[2021-06-25 11:09] mdjermanovic commented on #14744
Then we probably should fix it, since it will be broken with Espree 8.

[2021-06-25 18:22] nzakas commented on #14744
Agreed, sorry, that's what I meant to imply.

[2021-06-25 18:25] nzakas commented on #14745
Can you explain how you're using `CLIEngine` in the use cases you mention? This is the first I've heard of someone using `CLIEngine` within a rule, so it would be helpful to have some context as to why you're doing that instead of using `Linter`.

[2021-06-25 18:29] nzakas commented on #14686
@JounQin thanks. Someone will take a look soon.

[2021-06-25 18:34] nzakas commented on #14742
Hmmm. I'm not sure what else to suggest. ESLint itself doesn't parse the glob pattern, that's done by a dependency.

@mysticatea to you have any thoughts on this?

[2021-06-26 00:16] nzakas commented on #3565
@hsiaosiyuan0 that is true right now. Once we remove CLIEngine, that functionality will move into the ESLint class and will start changing into a fully async approach. And once the new config system is in place, it won’t be possible for this functionality to be sync.

[2021-06-26 04:33] brettz9 commented on #14745
Sure, basically we allow users to store the configuration they want to be used for their `@example`, etc., as ESLint `overrides`, and we leverage its `useEslintrc` option (or `configFile`) to be able to do the checking.

While users can pass in a `baseConfig` instead (and optionally leverage some suggested default rules), disabling eslintrc for the performance benefit, the RC approach has the adva

[2021-06-26 11:45] #14715 closed

[2021-06-26 12:34] mdjermanovic commented on #13957
Another solution: https://github.com/eslint/eslint/issues/14538#issuecomment-862280037

[2021-06-26 15:39] juggernautjp opened #14747 "ESLint cause error with correct Regexp input"
**Tell us about your environment**

- Node version: v14.17.1
- npm version: v6.14.13
- Local ESLint version: v7.27.0
- Global ESLint version: v7.29.0 (Currently used)
- Operating System: win32 10.0.19043

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default (I think)

**Please show your full configuration:**

<details>
<summary>Configuration<

[2021-06-26 16:05] mdjermanovic commented on #14747
Hi @juggernautjp, thanks for the issue!

Lookbehind assertions are ES2018, can you update your config file to set `ecmaVersion: 9` instead of `ecmaVersion: 8` (which is equivalent to 2017).

[2021-06-26 18:37] mdjermanovic commented on #14744
Prepared a quick fix: https://github.com/eslint/eslint/pull/14748

[2021-06-26 18:47] mdjermanovic commented on #14744
I added this to v9.0.0 project.

That would be throwing an error in RuleTester? It already throws on any access to start/end properties, so that might be good enough, though not all code paths in `SourceCode#getComments()` use start/end .

[2021-06-26 19:01] #12874 closed

[2021-06-27 02:21] btmills commented on #14709
I'm also intrigued by this. I'd feel better if we had some data about how many rules currently don't provide schemas because by doing this, we'd also be compelling them to make a breaking change.

[2021-06-27 02:33] btmills commented on #14721
We have [`operator-shorthand`](https://eslint.org/docs/rules/operator-assignment) for the mathematical operators. Would #13689 cover the logical operator request here?

[2021-06-27 03:35] #14302 closed

[2021-06-27 04:25] ljharb commented on #13689
Using no-restricted-syntax isn't helpful because it can't autofix in the reverse direction.

In other words, it seems pretty useful to have a rule that can be configured to autofix from the long form to the logical operator form, or the inverse.

[2021-06-27 05:23] gfyoung opened #14749 "[Possible Deprecation?] no-eq-null (Seems redundant against eqeqeq)"
`eqeqeq` allows for the specific and individual configuration of linting equality checks against `null`.

IMO this makes the `no-eq-null` rule (as a standalone) unnecessary.

FYI: I wasn't sure what the right issue category was for this, since this is a proposal (not a problem) to completely deprecate a rule (which is technically a change).  Depending on the response, happy to go through with this

[2021-06-27 10:08] glen-84 commented on #14721
This exact syntax is mentioned by @mdjermanovic [here](https://github.com/eslint/eslint/issues/13689#issuecomment-692465982). I think that it can be covered by that rule.

[2021-06-27 23:29] juggernautjp commented on #14747
Thank you very much. It dose work with no error, by replacing `ecmaVersion: 8` with `ecmaVersion: 9`.
Your advice fixed this bug and this issue is closed.

[2021-06-27 23:29] #14747 closed

[2021-06-28 03:44] btmills commented on #14749
You’re absolutely right that `eqeqeq` does everything `no-eq-null` does and more. However, `no-eq-null` was [originally added](https://github.com/eslint/eslint/pull/179) for compatibility with JSHint. `no-eq-null` reduces friction migrating to ESLint so users can gradually enable more powerful rules like `eqeqeq` later.

[2021-06-28 04:11] btmills commented on #14745
This use case sounds very similar to #14198. Here, we want to lint a JS file _and_ separately lint expressions from JSDoc comments. #14198 wants to lint a Markdown file _and_ separately lint the code blocks within.

I’m not thrilled about the API proposed in #14198. Similarly, the API proposed in this issue has some downsides including performance as you’ve already mentioned.

Looking at these two

[2021-06-28 04:33] btmills commented on #14198
@JounQin I haven’t really gotten comfortable with the API we’ve been discussing in this issue. However, #14745 looks to be an adjacent use case, and it gave me an idea:

Right now, ESLint either lints a file XOR runs it through a processor and lints its blocks. This issue and #14745 want to lint both a file and chunks within that file. What if we changed the processor API to allow both? Would that

[2021-06-28 04:44] JounQin commented on #14745
If I don't understand incorrectly, it is not true.

[code]

We're using this pattern at [eslint-plugin-mdx](https://github.com/mdx-js/eslint-mdx/blob/master/packages/eslint-plugin-mdx/src/processors/remark.ts#L11-L28).

[2021-06-28 04:49] JounQin commented on #14745
This issue is very similar with my original issue #14203, and I just ended up by using my pattern above.

But I'm not quite sure why #14198 is related, #14198 is for reading more info from messages in `postprocess`.

[2021-06-28 04:55] btmills commented on #14731
The `ESLint` constructor also supports a `cwd` option, so I’m not opposed to passing it through the CLI.

In the meantime, you may be able to get this working by passing a path as the `--format` argument instead of the module name. Here’s the method that loads the formatter, for reference: https://github.com/eslint/eslint/blob/278813a6e759f6b5512ac64c7530c9c51732e692/lib/cli-engine/cli-engine.js#L

[2021-06-28 06:44] gfyoung commented on #14749
Thanks @btmills for this context!  In that case, shouldn't this be documented?

[2021-06-28 06:49] ljharb commented on #14749
@btmills are people still trying to migrate from jshint?

[2021-06-28 07:06] brettz9 commented on #14745
Ok, good info and sounds promising as a possibility, but a few concerns with the processor approach at this point (not sure anything else would come up) are:

1. It does thankfully look per @JounQin 's example that we can pass on the whole text (since we wouldn't our other rules to be unaware of the `@example` blocks' presence), but are there restrictions on a processor targeting `js` files?
2. I'

[2021-06-28 07:51] JounQin commented on #14745
I think code block with custom filename + `overrides` maybe is all you want.

[code]

[code]

[2021-06-28 10:23] mysticatea commented on #14742
https://github.com/eslint/eslint/blob/278813a6e759f6b5512ac64c7530c9c51732e692/lib/cli-engine/file-enumerator.js#L398

The `pattern` variable value seems to be an absolute path. The file enumerator intended to start traversing from the outermost non-pattern place. For example, if `src/**/*.js` is present, it traverses in `$CWD/src/`. It intends to not check unrelated directories.

In this case, be

[2021-06-28 12:17] pladaria opened #14750 "Update `no-sparse-arrays` and `no-array-constructor` rules."
**What rule do you want to change?**
no-sparse-arrays
no-array-constructor

**Does this change cause the rule to produce more or fewer warnings?**
Probably more

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option would be fine

**Please provide some example code that this change will affect:**

1) Rule names are confusing:
* `no-sparse-arrays` allows creat

[2021-06-28 13:20] btmills commented on #14745
1. We shouldn’t be special casing JS files in processor handling. Returning the file’s entire text as an unnamed first block in @JounQin‘s example works around the “lint file XOR lint blocks” assumption today. We know it works on MD files, but I’m not aware of anyone trying it on JS files yet. We’d want to make sure the parent JS file looks to the rules during its lint run just as it would if ther

[2021-06-28 14:34] lougreenwood opened #14751 "Add `ignore-single-line-objects` option to `sort-keys`"
**What rule do you want to change?**
`sort-keys`

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

Applying the `sort-keys` rule to short objects which do not span multiple lines is arguably of less value than

[2021-06-28 17:43] mdfaizan7 opened #14753 "Tests failing due to licenses from a fresh pull from master"
[code]

**Tell us about your environment**

* **ESLint Version:**
* **Node Version:** v14.16.1
* **npm Version:** 6.14.12
* **Operating System:** Windows 10

**Are you willing to submit a pull request to fix this bug?**

[2021-06-28 19:24] mdjermanovic commented on #14753
I can't reproduce this.

spdx-* packages are dev-dependencies (transitive), so they were not supposed to appear in the "Validating licenses" check, and I can't see tweetnacl at all.

Can you run `npx npm-license` in your local eslint directory and share the output?

[2021-06-28 19:26] mdjermanovic commented on #14753
Also, could you please fill out the bug report template with steps to reproduce?

[2021-06-28 21:55] TimvdLippe commented on #14098
Good news! Removing Lodash removed 44k lines in NodeJS: https://github.com/nodejs/node/pull/38764

[2021-06-28 23:54] bmish commented on #14709
With some effort, we/I could write a script to download the ~3,500 eslint plugins ([titled eslint-plugin-*](https://www.npmjs.com/search?q=eslint-plugin-*&ranking=popularity&page=1&perPage=20) or [keyword:eslint-plugin,eslintplugin](https://www.npmjs.com/search?q=keywords%3Aeslint-plugin%2Ceslintplugin)) from NPM or github (hopefully without hitting rate-limiting), then check files in `lib/rules`

[2021-06-29 00:41] nzakas commented on #14709
@bmish that sounds like a great approach. If you have the time to do that, we would appreciate it.

[2021-06-29 00:44] nzakas commented on #14098
Nice. Great work, everyone.

[2021-06-29 00:53] nzakas commented on #14744
Throwing an error in RuleTester sounds good.

[2021-06-29 03:25] btmills commented on #14709
@bmish having that data available would be amazing as we make the sorts of decisions you mentioned! Please share the code if you’re able because I could see us running it periodically to answer new questions that come up.

[2021-06-29 04:28] brettz9 commented on #14745
Ok, good to know, and can hopefully look into it on our end to see if it works within the next week or two.

But yeah, we would definitely need the full content supplied again, as we wouldn't want chunks taken out of the JSDoc blocks, at least before the rest of `eslint-plugin-jsdoc` gets to them.

I was just curious if an expression like `*.md/*` would work to catch all fenced blocks within Markd

[2021-06-29 05:00] mdfaizan7 commented on #14753
├─ @babel/code-frame@7.12.11
│  ├─ licenses: MIT
│  └─ repository: https://github.com/babel/babel
├─ @babel/code-frame@7.14.5
│  ├─ licenses: MIT
│  └─ repository: https://github.com/babel/babel
├─ @babel/helper-validator-identifier@7.14.5
│  ├─ licenses: MIT
│  └─ repository: https://github.com/babel/babel
├─ @babel/highlight@7.14.5
│  ├─ licenses: MIT
│  └─ repository: https://github.com/babel/b

[2021-06-29 05:21] ljharb commented on #14753
Maybe you have NODE_ENV set, or an npm config value that forces checking of dev deps?

[2021-06-29 06:16] btmills commented on #14745
Aha, now I think I see how Markdown figures in. When you see an `@example` in a JSDoc comment, you want to ESLint to treat the example’s contents as Markdown, which could further contain JS, TS, or any other blocks. Do I have that right? (If I’m still not quite there, a snippet of such a comment might help.)

Given a file `parent.js`, today the plugin would run a JSDoc example’s contents through `

[2021-06-29 07:43] brettz9 commented on #14745
You've gotten the important gist in the rest of your message, but FWIW, the main reasons I've mentioned Markdown are:

1. It is an already existing processor, so in *my* mind, it was clearer to use it as the example, but I can see in the context of this issue, my side-discussing it may have been confusing.
2. We simulate it (as you correctly say in the except below) because Markdown like:

[code]

[2021-06-29 13:32] btmills commented on #14745
Thank you for getting me up to speed here.

As I understand it, there are two limitations of the processor API that would need to be resolved before it’s a good fit for `eslint-plugin-jsdoc`

1. There needs to be an officially-recommended way to run a file through a processor to lint its blocks while still longing the file itself. We could standardize the `return [text, …blocks];` approach or defi

[2021-06-30 00:59] nzakas commented on #14751
Thanks for the suggestion. However, we are no longer adding options to rules that just enforce stylistic preferences.

[2021-06-30 00:59] #14751 closed

[2021-06-30 05:53] lougreenwood commented on #14751
Thanks @nzakas, is there a blog post or something explaining this decision? I'm guessing this is the first steps of an effort to handover codestyle to Prettier?

[2021-06-30 10:27] ManhVuTien opened #14758 "Add ignore list to no-use-before-define"
**What rule do you want to change?**
no-use-before-define
**Does this change cause the rule to produce more or fewer warnings?**
fewer
**How will the change be implemented? (New option, new default behavior, etc.)?**
I want to add some variables that can be ignored when enabling rule
**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for t

[2021-07-01 10:25] iOiurson opened #14760 "no-unused-vars crashes for enum fields with quotes in Svelte TS file"
Hello !

I'm running against this error which concerns the `no-unused-vars` rule.

[code]

Commenting `no-unused-vars` solves it, using the equivalent `@typescript-eslint/no-unused-vars` too (my codebase is in TS).

This is my config:

[code]

* **ESLint Version:** 7.29
* **Node Version:** 14.13.1
* **npm Version:** 6.14.8
* **Operating System:** MacOS 11.4

[2021-07-01 10:33] mdjermanovic commented on #14760
Hi @iOiurson!

Can you please fill out the rest of the bug report template, we can't know why the rule crashes without a code example on which that happens.

[2021-07-01 10:57] iOiurson commented on #14760
Sorry about that, i admit that i was lazy earlier, i thought it was a generic issue.

This is actually quite specific.

It only occurs for `.svelte` files with TS.

The problem comes from defining enum fields with quotes.

Here is the repro:

[code]

Everything works fine in an equivalent `.ts` file.

[code]

[2021-07-01 11:38] aladdin-add commented on #14760
you will have to use '@typescript-eslint/no-unused-vars'(if you are using ts).

another point is: maybe we could fix it to make it not crash with the core rules.

[2021-07-01 17:06] mdjermanovic commented on #14760
The cause of the problem is that `no-unused-vars` expects an array of [identifiers](https://eslint.org/docs/developer-guide/scope-manager-interface#identifiers) which define the variable, but `@typescript-eslint/parser` doesn't populate this array with quoted enum fields because they're not identifiers but string literals.

This means that the core rule `no-unused-vars` and `@typescript-eslint/par

[2021-07-01 17:06] #14760 closed

[2021-07-01 22:38] mdjermanovic commented on #13888
In today's TSC meeting, we have decided to stay on Ajv 6.

The additional validations in Ajv 8 are a very nice feature, but Ajv 8 brings many other changes and it's difficult to predict the overall impact on the ESLint ecosystem of plugins.

As for the maintenance concerns, Ajv 6 seems very stable and works perfectly well for ESLint's use case. ESLint has been using Ajv 6 for years and we've never

[2021-07-01 22:38] #13888 closed

[2021-07-02 00:42] nzakas commented on #14750
As stated in the [docs](https://eslint.org/docs/rules/no-sparse-arrays), no-sparse-arrays is intended to catch array literals with empty slots, so we won’t be changing that rule. If you want to avoid the use of `Array(123)`, you can use no-restricted-syntax or create a custom rule.

And the [docs](https://eslint.org/docs/rules/no-array-constructor) for no-array-constructor explicitly states:

The

[2021-07-02 00:42] #14750 closed

[2021-07-02 01:32] snitin315 commented on #12334
Taking this up.

[2021-07-02 07:43] boris-petrov commented on #14721
I just noticed another case where that should work:

[code]

Could be rewritten as:

[code]

[2021-07-02 15:08] ljharb commented on #14721
Those have slightly different semantics, though - if Object.prototype.x existed as undefined or null, the first one wouldn’t set it, but the second would.

[2021-07-02 15:09] boris-petrov commented on #14721
Yes, you're right. Maybe that shouldn't be handled in that case...

[2021-07-02 15:52] mmkal opened #14761 "`no-unreachable`: downgrade from autofix to suggestion"
**What rule do you want to change?**

`no-unreachable`

**Does this change cause the rule to produce more or fewer warnings?**

Neither

**How will the change be implemented? (New option, new default behavior, etc.)?**

Change `fix: ...` to `suggest: [{ fix: ... }]`

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

It b

[2021-07-02 20:27] mdjermanovic commented on #14761
Hi @mmkal, thanks for the issue!

The `no-unreachable` does not fix code. That has to be another rule or another tool that deletes code.

[2021-07-02 20:36] mmkal commented on #14761
Ah, you are right. I just tried suppressing it and vscode is still deleting my precious work!

[2021-07-02 20:36] #14761 closed

[2021-07-02 22:36] mdjermanovic commented on #14734
ESLint v7.30.0 has been released:

https://eslint.org/blog/2021/07/eslint-v7.30.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2021-07-03 00:42] nzakas commented on #14758
We can’t really add an ignores list to this rule because the scope of the variable matters. If you were to ignore “styles”, it would ignore any variable named “styles” regardless of it were a global or local. Your best bet is to use a disable comment on just the variables you want to ignore.

[2021-07-03 00:42] #14758 closed

[2021-07-04 20:25] laukstein opened #14767 "ESLint v7.30.0 parsing regression when using `"ecmaVersion": "latest"`"
All works fine when parser:

    "ecmaVersion": 2021

But after changed to:

    "ecmaVersion": "latest"

it shows this error for mjs files:

Adding this wouldn't workaround the issue

    "ecmaFeatures": {
        "modules": true
    }

[2021-07-04 20:38] mdjermanovic commented on #14767
Hi @laukstein,

We don't have enough information to reproduce this issue. Can you please fill out the bug report template? Thanks!

[2021-07-04 20:51] mdjermanovic commented on #14767
Are you maybe using a custom parser? I can reproduce this with `@babel/eslint-parser` and `babel-eslint`.

[2021-07-04 21:34] laukstein commented on #14767
Here is my config

[code]

Can reproduce error on every [JavaScript module](https://v8.dev/features/modules) file when `"ecmaVersion": 2021,` replaced to `"ecmaVersion": "latest",`

@mdjermanovic Are you saying that using `"ecmaVersion": "latest"` I need to remove `"parser": "babel-eslint"`?

[2021-07-04 22:09] mdjermanovic commented on #14767
Thanks for the info!

The `"ecmaVersion": "latest"` feature is available with the default parser. 3rd-party parsers like `babel-eslint` have different parser options.

No, you probably shouldn't remove `"parser": "babel-eslint"` as there's a reason why you're using it instead of the default parser.

But, you can't use `"ecmaVersion": "latest"` with `babel-eslint`, since `babel-eslint` doesn't supp

[2021-07-04 22:09] #14767 closed

[2021-07-05 02:15] ManhVuTien commented on #14758
In my case I want to ignore all "styles" in project,

[2021-07-05 05:34] aladdin-add opened #14768 "Update: separate eslint --init"
[the rfc](https://github.com/eslint/rfcs/pull/79) has been accepted. the issue is to track its implementation.

[2021-07-05 16:49] btmills commented on #14721
Closing to combine into #13689. If you've left a :+1: here, feel free to add one there as well.

[2021-07-05 16:49] #14721 closed

[2021-07-05 22:53] mdjermanovic commented on #14734
Aside from https://github.com/eslint/eslint/issues/14767, which works as intended, there were no other regression reports, so this concludes the v7.30.0 release.

Please feel free to merge semver-minor PRs again.

[2021-07-05 22:53] #14734 closed

[2021-07-05 22:53] eslint-github-bot[bot] opened #14770 "Scheduled release for July 16th, 2021"
The next scheduled release will occur on Friday, July 16th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2021-07-06 08:36] scola84 opened #14772 "padding-line-between-statements: add multiline-return"
**What rule do you want to change?**
`padding-line-between-statements`

**Does this change cause the rule to produce more or fewer warnings?**
More (depending on the state of the code).

**How will the change be implemented? (New option, new default behavior, etc.)?**
A new `STATEMENT_TYPE` should be added, e.g. `multiline-return`, it would probably work like the other `multiline-*` types.

**Plea

[2021-07-06 11:48] mdjermanovic commented on #14744
Prepared https://github.com/eslint/eslint/pull/14769 to throw an error in RuleTester if `SourceCode#getComments()` was called, starting from ESLint v8.0.0.

The remaining task is to completely remove `SourceCode#getComments()` in ESLint v9.0.0.

[2021-07-06 15:34] aladdin-add commented on #14772
Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we can only accept add/change rule if they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, so this proposal doesn't qualify. You can always make a custom rule and publish a plugin.

[2021-07-06 15:34] #14772 closed

[2021-07-06 16:18] bmish commented on #14709
I put together a repository called [eslint-ecosystem-analyzer](https://github.com/bmish/eslint-ecosystem-analyzer) with scripts to perform an analysis of the ESLint plugin ecosystem. It retrieves the top ESLint plugin repositories by searching GitHub and then clones them so that metrics can be computed.

The analysis output is included below. To summarize the findings:

* For the top 100 ESLint pl

[2021-07-07 01:34] paleite opened #14775 "Files to be ignored depend on working directory"
I've created a minimal reproduction repo here: https://github.com/paleite/eslintignore-bug

**Tell us about your environment**

Node version: v14.16.1
npm version: v7.12.1
Local ESLint version: v7.30.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.5.0

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default

**Ple

[2021-07-07 01:35] paleite commented on #14775
Related PR, which was supposed to fix above issue back in v4.0.0: https://github.com/eslint/eslint/issues/6759

[2021-07-07 12:10] mozfreddyb opened #14776 "Allow valid/invalid cases in RuleTester to contain a syntax tree instead of example code"
**The version of ESLint you are using.**
v7.30.0

**The problem you want to solve.**
Background: I am maintaining an eslint plugin that tries to detect DOM-based XSS.
This plugin is very specific to Mozilla and uses our own set of trades-off in terms of false positives and false negatives. We don't claim perfect detection and there are some obvious gaps that one has to accept when dealing with a d

[2021-07-07 13:23] mdjermanovic commented on #14776
Hi @mozfreddyb, thanks for the issue!

If I correctly understand the request, this use case is already (indirectly) supported.

You can make a custom parser that returns a fixed AST, and specify it as `parser: "/absolute/path/to/module"` in the test case. We're doing that sometimes to test changes in rules to better work with unexpected syntax coming from third-party parsers.

Example: https://git

[2021-07-08 11:08] mozfreddyb commented on #14776
Awesome, that's exactly what I needed! However, it took me a time to get the right sort of AST into my custom parser. Simple examples derived from ast-explorer.net were lacking object properties that eslint required (comments, tokens, errors, ...) and the location data needed to be in a `loc` object instead of direct `start`, `end` keys.

I'd be interested if someone could give a suggestion on how

[2021-07-08 11:52] mdjermanovic commented on #14776
Glad it helped!

I'm using the parser directly, e.g.:

[code]

astexplorer.net should do the same, but you'll need to enable the options that are not set by default (loc, comment, and tokens):

![image](https://user-images.githubusercontent.com/44349756/124916417-f165ea80-dff2-11eb-8c9d-e1898048faf1.png)

![image](https://user-images.githubusercontent.com/44349756/124916796-5d485300-dff3-11eb-9834

[2021-07-08 12:14] mozfreddyb commented on #14776
Thanks! Very helpful. For now, we'll solve this in our plugin without an eslint change, but happy to continue in this if you end up seeing this as useful for eslint itself.

[2021-07-08 21:12] paulsmithkc opened #14782 "Forgetting "use strict" results in the entire file being underlined"
### Overview

With the rule configuration `strict: ['warn', 'global']`

If you forget to include the `'use strict'` directive at top of the file, it highlights the entire file, rather than just the first line.

![image](https://user-images.githubusercontent.com/6501079/124312495-07783480-db35-11eb-93b2-9699628aea74.png)

Expected behavior would be to only show the warning on the first line.

**Wha

[2021-07-08 23:35] aladdin-add commented on #14782
a good enhancement to me. I will support it!

[2021-07-09 00:41] nzakas commented on #14709
Wow, that is some fantastic analysis, thank you.

I agree, I think the data supports being able to make this change. I’d suggest putting everything into a single RFC as it will be easier to look at the situation holistically.

[2021-07-09 01:03] nzakas commented on #14775
Thanks for all the research and the repo case. Given that we wanted to fix this earlier, it seems like a good idea to revisit.

I think we once again need to decide if this is a breaking change or not. Given how long the behavior has been this way, I’m leaning towards it being a breaking change but I’d like to hear what others think.

[2021-07-09 02:59] aladdin-add commented on #11650
Closing because there hasn't been activity for a few days. If it still occurs, please file a new issue. thanks!

[2021-07-09 02:59] #11650 closed

[2021-07-09 04:07] bmish commented on #14782
I don't think we need a new option to control where the violation is reported...

[2021-07-09 05:41] BartaG512 opened #14783 "Wierd behaviour for fixing rules "padding-line-between-statements" "semi" same time"
**Tell us about your environment**

Node version: v14.17.0
npm version: v6.14.13
Local ESLint version: v7.28.0
Operating System: win32 10.0.19042
Vscode version: v1.57.1
Vscode Eslint Extension: v2.1.23

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the

[2021-07-09 06:25] btmills commented on #14709
That is amazing :clap: I'm also supportive and feel much better knowing that the vast majority of the ecosystem is already prepared.

[2021-07-09 06:33] Yiwei-Ding opened #14784 "Add suppression information in the output of ESLint"
**The version of ESLint you are using.**
v7.29.0

**The problem you want to solve.**
ESLint is a great and famous tool for identifying and reporting on patterns found in ECMAScript/JavaScript code. It helps a lot in our development. Sometimes we developers have to suppress warnings/errors in the code by adding `eslint-disable`, `eslint-disable-line` and `eslint-disable-next-line` comments, accordi

[2021-07-09 09:28] #14783 closed

[2021-07-09 16:23] bmish commented on #14709
Thanks for the feedback! I'll work on a single RFC in the near future.

[2021-07-09 20:15] nzakas commented on #14782
We don't need a new option, however, I'd argue that underlining the entire file is the correct behavior because strict mode applies to the entire file.

[2021-07-10 00:38] nzakas commented on #14784
Thanks for the issue. Can you list out what information you would expect for each suppression? It’s not very clear from the snippet.

[2021-07-10 08:03] snitin315 commented on #14686
Hi @JounQin, I tried with your reproduction and I was able to reproduce the error, but when I tried it on a different project ESLint did show a warning as per -  https://github.com/eslint/eslint/blob/aaf65e629adb74401092c3ccc9cb4e4bd1c8609b/lib/cli-engine/cli-engine.js#L290

<img width="918" alt="Screenshot 2021-07-10 at 1 16 35 PM" src="https://user-images.githubusercontent.com/46647141/125156158

[2021-07-10 08:05] JounQin commented on #14686
Right, that is what I described `if it contains eslint config`.

[2021-07-10 08:08] snitin315 commented on #14686
Yeah, are you still interested in sending a fix? otherwise, I will take care of it.

[2021-07-10 08:12] JounQin commented on #14686
If it is confirmed should be fixed, I'll take a look at tonight or tomorrow.

[2021-07-10 08:17] snitin315 opened #14786 "CamelCase rule doesn't account for initial character"
**Tell us about your environment**

* **ESLint Version:** 7.30.0
* **Node Version:** v14.16.0
* **npm Version:** 7.19.1
* **Operating System:**  MacOS

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include

[2021-07-11 08:39] paleite commented on #14775
Awesome! Thanks 🙂

I was hoping to get @IanVS to chime in, because he was the person who previously merged the original PR and made some really good points, imho.

[2021-07-11 09:23] snitin315 opened #14788 "consistent-return: wrong reporting location"
**Tell us about your environment**

* **ESLint Version:** 7.30.0
* **Node Version:** v14
* **npm Version:** v7
* **Operating System:**  macOS

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the act

[2021-07-11 12:15] paulsmithkc commented on #14782
@nzakas If the rules classify it as an error. I totally agree. However, when it is classified as a warning, that indicates fixing it is a "should" rather than a must.

So I think there are definitely arguments for highlighting the entire file in most cases. But I also see the need for an escape hatch when the rules are less strict.

Hence why I'd propose that the default behavior should stay for e

[2021-07-12 02:12] snitin315 commented on #14786
Probably not a bug as both `camelCase` and `CamelCase` are valid camel case but an enhancement to the rule by adding an option (maybe `lowerCase: true`) to force initial chacter as `lowercase` or `uppercase`.

[2021-07-12 09:27] Yiwei-Ding commented on #14784
Hi @nzakas , thanks for the reply.

A suppression entry contains a `kind` attribute and a `justification` attribute. `kind` is either `inSource` (using configuration comments) or `external` (using configuration files). It could be an attribute of `LintMessage`.

When disabling rules using configuration comments, the description after two or more consecutive `-` characters can be treated as the jus

[2021-07-12 12:53] IanVS commented on #14775
I haven't been involved in core ESLint dev for a while, but I did check out your repo @paleite, and as far as I can tell, the behavior changed / broke in 7.0.0.  I didn't dig too deeply, but if I had to guess, I'd say it is probably related to https://github.com/eslint/eslint/pull/12887, from the release notes:

[2021-07-12 12:55] fregante opened #14792 "Add autofix to `no-negated-condition`"
_Sorry for ignoring the template but nothing applied as this doesn't actually change the behavior._

Can `no-negated-condition` be autofixable? It seems "relatively easy" to swap the blocks:

[code]

[code]

Keywords: autofixed auto fix fixed fixable

[2021-07-12 16:01] sachinraja opened #14793 "no-console warns on assignment"
**Tell us about your environment**

* **ESLint Version:** v7.30.0
* **Node Version:** v16.4.0
* **npm Version:** v7.18.1
* **Operating System:** linux 5.8.0-58-generic

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**
`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</detail

[2021-07-12 17:45] nzakas commented on #14788
I believe this is working as intended. The rule flags the first return statement that is inconsistent with the previous return statements. So, we examine the first return statement and say that represents what return statements in this function should be. Then we look at the second statement and see that it doesn’t match the first, so we flag the second as inconsistent.

[2021-07-12 19:07] nzakas commented on #14784
The two cases you mention are handled very differently in ESLint: configuration files and inline comments.

When rules are disabled inside of configuration files, we don't do any tracking at all and that information is not returned to a formatter. We never run the rules at all so there are no lint messages to display.

When you use `eslint-disable` inside of a file, we still run the rules but then

[2021-07-12 19:09] nzakas commented on #14782
The rule doesn't know if its configured as an error or a warning, and that's by design, because we don't want rules to behave differently depending on how they are configured.

Given that it seems there's agreement that the current behavior is mostly correct, I don't see us making a change here.

[2021-07-12 19:09] #14782 closed

[2021-07-13 00:05] snitin315 commented on #14788
I see, that makes sense.

[2021-07-13 00:08] #14788 closed

[2021-07-13 06:43] BarbecueSilver commented on #14061
I am having the same issue, that we want `warnings` as well as `errors` for imports.
Thanks for pointing out, how to work around this issue :+1:

[2021-07-13 15:45] 4086606 opened #14797 "Add `ignoreDeclarations` option to `max-len`"
**What rule do you want to change?** `max-len`

https://github.com/eslint/eslint/blob/b77b4202bd1d5d1306f6f645e88d7a41a51715db/lib/rules/max-len.js#L66

**Does this change cause the rule to produce more or fewer warnings?** ?Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

Syntax: `["error", { "code": 120, "ignoreDeclarations": true }]`

**Please provide so

[2021-07-13 20:23] mdjermanovic commented on #14797
Hi @4086606, thanks for the issue!

Stylistic rules are [frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we won't be adding any more options to the `max-len` rule, but you can use the existing [ignorePattern](https://eslint.org/docs/rules/max-len#ignorepattern) option to ignore lines that match the specified regular expression.

You can specify pattern `\{$` (`"\\{$"`) to ignor

[2021-07-13 20:23] #14797 closed

[2021-07-13 20:36] mdjermanovic commented on #14786
I'm not sure if this option would be generally useful since codebases often have both (e.g. class names and user-defined components in React usually begin with a capital letter).

[2021-07-13 21:01] mdjermanovic commented on #14793
Hi @sachinraja, thanks for the issue!

This was already discussed in https://github.com/eslint/eslint/issues/7806, and it was eventually decided that this behavior shouldn't be changed.

If you want to disallow only method calls, you can use the `no-restricted-syntax` rule, as described in [When Not To Use It](https://eslint.org/docs/rules/no-console#when-not-to-use-it) section of `no-console` doc

[2021-07-13 21:17] 4086606 commented on #14797
Thanks for the code sample, it's helped immensely!

[2021-07-13 21:53] boutahlilsoufiane commented on #12756
I'm going to do this.

[2021-07-14 03:25] aladdin-add commented on #14575
oops.. hit the wrong button. sorry!

[2021-07-14 03:26] fisker opened #14799 "Selector `Property > .key` can't match key in `const {a = 1} = b;`"
**Tell us about your environment**

* **ESLint Version:** v7.30.0
* **Node Version:** v16.4.2
* **npm Version:** v7.9.0
* **Operating System:** win32 10.0.19043

**What parser (default, `@babel/eslint-parser`, `@typescript-eslint/parser`, etc.) are you using?**

The default parser.

The issue template doesn't fit, so I removed these sections.

I was making an eslint plugin, for this code

[code]

[2021-07-14 03:27] btmills commented on #14749
Good point, the [`no-eq-null` docs](https://eslint.org/docs/rules/no-eq-null) could certainly indicate it exists for compatibility but recommend `eq-eq-eq`. Are you willing to submit a documentation PR @gfyoung? We can reopen this if so!

It still gets a couple million monthly downloads, so I wouldn't want to close off the path without a strong benefit.

[2021-07-14 03:36] JounQin opened #14800 "Add `physicalFilename` option into rule tester"
@snitin315 @nzakas @mdjermanovic

I find `physicalFilename` is not available in `ValidTestCase`, so it makes testing cases for virtual filename unavailable, should that be supported?

Before `context.getPhysicalFilename`, I have a custom util `getPhysicalFilename` and a test case like:

[code]

But when I migrate to `context.getPhysicalFilename`, it results `context.getPhysicalFilename() === filen

[2021-07-14 03:43] ljharb commented on #14749
https://www.npmjs.com/package/jshint says 400K/week, so about 1-2 million a month, but sure, fair enough. Note tho, that it's not every jshint user, it'd only be the subset of those users that use that specific rule.

[2021-07-14 04:03] gfyoung commented on #14749
@btmills : I can open a PR for this. 👍

[2021-07-14 08:37] gfyoung commented on #14749
Thanks @btmills.  PR is already open as you saw.

[2021-07-14 18:05] nzakas commented on #14800
That seems reasonable to me. @eslint/eslint-tsc thoughts?

[2021-07-14 18:21] nzakas commented on #14786
This rule is intended to flag IDs in the form `foo_bar` as being invalid. Both `CamelCase` and `camelCase` are considered valid by this rule.

Given that this is just enforcing a style preference, we aren't making any further changes to this rule.

[2021-07-14 18:25] nzakas commented on #14792
The larger the area to fix, the more dangerous the fix becomes. Also, keep in mind that because autofix is applied in editors, it can be very disorienting to move around large blocks of code.

My opinion is that autofix isn't a good idea for this rule, but I'm open to other opinions.

[2021-07-14 18:27] nzakas commented on #14799
Where are you seeing this?

And can you provide a minimal repro case so we can see the behavior?

Note the query engine is [esquery](https://github.com/estools/esquery), so it could be an issue there.

[2021-07-14 18:43] fregante commented on #14792
I'm struggling to think of an issue that could arise from flipping 2 blocks, as long as their scope can be safely detected even without curly braces (which I assume it can)

The diff argument makes sense, but eslint and prettier also make larger diffs with the indentation/wrapping changes, which are not always hidden by "hide whitespace changes."

[2021-07-14 20:42] mdjermanovic commented on #14800
RuleTester uses [Linter API](https://eslint.org/docs/developer-guide/nodejs-api#linter). `physicalFilename` is not an option on the API. Values returned by `context.getFilename()` and `context.getPhysicalFilename()` are calculated from the passed `filename` and the output of processors applied during the process.

I think it would make more sense to support processors in RuleTester (https://github

[2021-07-14 21:14] mdjermanovic commented on #14799
This is a bug in Acorn 7 / Espree 7, nodes in a tree shouldn't have multiple parents. The bug is fixed in Acorn 8 / Espree 8 (relevant test is [here](https://github.com/eslint/espree/blob/bf57077e02dd61f82ab533d6bb0c160e2dfe40b8/tests/lib/parse.js#L229)).

Once we switch to Espree 8.0.0, we could add a test with `Property > .key` selector to confirm that it works well in ESLint.

[2021-07-14 22:04] mdjermanovic commented on #14792
I think it makes sense to provide this fix as a [suggestion](https://eslint.org/docs/developer-guide/working-with-rules#providing-suggestions), but given that stylistic rules are [frozen](https://github.com/eslint/eslint#stylistic-rule-updates), I'm not in favor of adding any new features to `no-negated-condition` since it is a stylistic rule.

[2021-07-14 22:16] ljharb commented on #14792
I like it as a suggestion versus an autofix particularly because half the time this rule warns me, i extremely intentionally and strongly want the negated condition to go first, so I appreciate the opportunity to put in the disable comment.

[2021-07-15 00:35] nzakas commented on #14792
If we do anything, I agree that a suggestion would be the best choice. I’m still not sure how useful it is but will defer to the consensus.

[2021-07-15 00:37] nzakas commented on #14799
Can you try by using Espree 8 locally and let us know the result?

[2021-07-15 00:39] nzakas commented on #14800
@mdjermanovic nice catch! That makes sense to me. I completely forgot about the RFC.

[2021-07-15 00:43] nzakas commented on #14800
**TSC Summary:** This issue requests to add a physicalFilename option to RuleTester to help with testing code blocks. There is already an RFC for enabling processors in RuleTester (https://github.com/eslint/rfcs/pull/31) that may be more appropriate.

** TSC Question:** How do we want to proceed here?

[2021-07-15 00:46] bmish commented on #14792
I'd support a suggestion for this. Perhaps suggestions should be exempt from the stylistic rule freeze:
* Suggestions are a [relatively new feature](https://eslint.org/blog/2019/11/eslint-v6.7.0-released#suggestions-api) so there are still many existing rules that could benefit from having them added
* All new code for a suggestion is typically confined to the suggestion function and not the rule'

[2021-07-15 01:14] fisker commented on #14799
Thank you, I didn't know that.

Confirmed, updating to Espree 8 fixes this.

---

Question: ETA for switch to Espree 8.0.0? Do we need workaround in ESLint before that?

[2021-07-15 01:33] snitin315 commented on #14786
That makes sense, I think we can close it then.

[2021-07-15 01:33] #14786 closed

[2021-07-15 08:56] #14749 closed

[2021-07-15 11:30] fisker opened #14802 "Check `!foo === bar` in `no-unsafe-negation` rule"
**What rule do you want to change?**

Forbid use `!foo === bar` and `!foo !== bar`

**Does this change cause the rule to produce more or fewer warnings?**

more

**How will the change be implemented? (New option, new default behavior, etc.)?**

Not sure

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Nothing

**What w

[2021-07-15 17:02] coderaiser commented on #14793
@sachinraja you can use [@putout/plugin-remove-console](https://github.com/coderaiser/putout/tree/v18.4.0/packages/plugin-remove-console) rule of [putout](https://github.com/coderaiser/putout) with help of [eslint-plugin-putout](https://github.com/coderaiser/putout/tree/v18.4.0/packages/eslint-plugin-putout). It works in the way you need it.

[2021-07-15 17:07] bmish commented on #14802
If this rule would catch "unsafe" behavior that "most of the time is a mistake" then it wouldn't be considered [stylistic](https://eslint.org/blog/2020/05/changes-to-rules-policies#what-are-the-changes) would it?

[2021-07-15 17:12] coderaiser commented on #14802
For [putout](https://github.com/coderaiser/putout) the rule will look like:

[code]

And it will end up with:

[code]

Because `bar` always `Boolean`. Or it can be:

[code]

But if `bar` has type `Boolean` and `foo` has different type it will work in another way.
The runtime behavior will be changed in any case, but what kind of `autofix` you think is more correct?
Do you have examples of such cod

[2021-07-15 17:42] fisker commented on #14802
Absolutely no auto-fix, this code is mistake.

https://github.com/prettier/prettier/commit/c7e354e38cfd051d3f64b56aeda35e9a0a669de6#r47946398

[2021-07-15 17:49] coderaiser commented on #14802
All right, such code:

[code]

Can and should be fixed to:

[code]

[2021-07-15 17:53] fisker commented on #14802
https://github.com/prettier/prettier/pull/10478/files

[2021-07-15 18:09] coderaiser commented on #14802
Just added your case to [@putout/plugin-simplify-ternary v1.1.0](https://github.com/coderaiser/putout/tree/master/packages/plugin-simplify-logical-expressions) 🎉

[2021-07-15 21:04] btmills commented on #14770
`@eslint/eslintrc` had a bug fix, so before releasing `eslint`, I'll release that and bump the dependency.

[2021-07-15 21:30] mdjermanovic commented on #14802
Makes sense to me :+1:

Thoughts about `==` and `!=`, too?

This would have to be a new option.

Should we also allow code where the right side is obviously a boolean, eg. `!foo === true`?

These would be [two suggestions](https://github.com/eslint/eslint/blob/39115c8b71d2629161359f6456f47fdbd552fddd/lib/rules/no-unsafe-negation.js#L103-L121) to fix the problem, like with other operators.

`no-uns

[2021-07-15 23:20] hsiaosiyuan0 commented on #3565
@leoswing maybe  [worker_threads](https://nodejs.org/api/worker_threads.html) is worth a try, send the lint task to worker threads and then notify back to master when the task is resolved, however whether the notify-back action is required or not, just depends on if the service is required to respond the results to its consumer

[2021-07-16 00:48] nzakas commented on #14799
@fisker thanks for the followup. The Espree upgrade will happen with the ESLint v8.0.0 release, which we hope we will have a preview release of in a couple weeks.

We can’t upgrade Espree in ESLint v7.x line due to breaking changes.

[2021-07-16 00:51] nzakas commented on #14728
@mdjermanovic should we close this now?

[2021-07-16 00:56] G-Rath commented on #14728
@nzakas if you're open to it, I think it would be good to discuss how supporting both the old and new config system would work.

It's awesome that this logic has been changed in the new system, but it raises concerns about expectations for plugin authors to support both systems (as I assume there will be a deprecation period, where both will be supported for at least one major version, which means

[2021-07-16 01:07] nzakas commented on #14728
@G-Rath please add a comment on https://github.com/eslint/eslint/issues/13481. I won’t be revisiting the new config system until after ESLint v8.0.0 is out, but if you leave a comment there I’ll be sure to look into it more. I think we likely won’t know how big of a deal this is until we have a prototype to play with.

[2021-07-16 01:17] fisker commented on #14802
I guess we can check them too.

I prefer to report this case too, I believe this code is also a mistake most time. If it's intentionally to check boolean,

[code]

[2021-07-16 07:13] coderaiser commented on #14802
By the way this case is handled by [@putout/plugin-remove-boolean-from-assertion](https://github.com/coderaiser/putout/tree/master/packages/plugin-remove-boolean-from-assertions).

[2021-07-16 07:31] fisker commented on #14802
@coderaiser Stop, please!

[2021-07-17 00:26] nzakas commented on #14802
@coderaiser you are starting to look a lot like spam at this point. Please stop.

[2021-07-17 00:30] nzakas commented on #14802
Looking at this more closely, I’m not sure adding checks for equality operators make sense. The point of this rule is to warn when negating a value will cause an unexpected result. It makes sense for the “in” and “instanceof” operators because you likely mistyped. It makes sense for comparison operators because you can’t really compare Boolean values. I’m having a hard time rationalizing that equa

[2021-07-17 04:33] leoswing commented on #3565
Thanks~  appreciated for your quick reply, I've just tried with `jest-worker` and it runs well

[2021-07-17 07:21] magic-akari opened #14806 "`yield` is missing in `no-unsafe-finally`"
**What rule do you want to change?**
no-unsafe-finally

**Does this change cause the rule to produce more or fewer warnings?**
It will produce more warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**
new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
No warning

[2021-07-17 09:59] hax commented on #14806
I'd like to provide an example of how `yield` in `finally` could cause problem:

[code]

In this simple example, the code only "do sth" but not "clean up" (the `return()` method of the generator will produce `{done: false}`.)

[2021-07-17 16:01] RastaAlex commented on #14802
@coderaiser proposed solution how to solve the problem that he has already solved in his project.

[2021-07-17 19:35] mdjermanovic commented on #14728
Closing since this works as intended with the current config system, and the discussion about the new config system will be continued in https://github.com/eslint/eslint/issues/13481.

[2021-07-17 19:35] #14728 closed

[2021-07-17 22:07] btmills commented on #14770
ESLint v7.31.0 has been released: https://eslint.org/blog/2021/07/eslint-v7.31.0-released

Please merge only semver-patch PRs while we wait to see if a patch release will be necessary.

[2021-07-19 03:16] btmills commented on #14800
In the most recent TSC meeting, we agreed to go with the approach described in RFC31. I'll be picking up that RFC to update it as necessary and get it through approval.

[2021-07-19 11:38] EmilyRosina opened #14810 "sort-keys: add option to only apply sort to specifically named Objects"
**What rule do you want to change?**
- [sort-keys](https://eslint.org/docs/rules/sort-keys)

**Does this change cause the rule to produce more or fewer warnings?**
- More, _if opted into_.

**How will the change be implemented? (New option, new default behavior, etc.)?**
- New option.
- This added opinion will allow devs to define the Object name/key to perform the sort upon.
  This will also mean

[2021-07-20 00:19] ota-meshi opened #14811 "Add support for `#x in obj` private-in syntax"
**The version of ESLint you are using.**

7.31.0

**The problem you want to solve.**

Support *Ergonomic brand checks for Private Fields* (`#x in obj` syntax) officially, as it has reached stage-4.
refs:
https://github.com/tc39/proposals/blob/master/finished-proposals.md
https://github.com/tc39/proposal-private-fields-in-in

**Your take on the correct solution to problem.**

- [x] Ecma262 update:

[2021-07-20 00:29] nzakas commented on #14811
The ESTree syntax is effectively done, just waiting for one last 👍.

Next we are blocked on Acorn

[2021-07-20 00:33] nzakas commented on #14810
As [noted in our README](https://github.com/eslint/eslint#stylistic-rule-updates), we are no longer adding options to rules that just enforce stylistic preferences. You can always copy the existing rule and modify it to create a custom rule to do what you want.

[2021-07-20 00:33] #14810 closed

[2021-07-20 04:11] btmills commented on #14770
I don’t see any regressions reported with this release, so this concludes the release process. You may resume merging semver-minor changes.

[2021-07-20 04:11] #14770 closed

[2021-07-20 04:11] eslint-github-bot[bot] opened #14812 "Scheduled release for July 30th, 2021"
The next scheduled release will occur on Friday, July 30th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "Hi

[2021-07-20 04:50] lazarljubenovic opened #14813 "Change `padded-blocks` to allow either, but enforce symmetry"
**What rule do you want to change?**

`padded-blocks`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

A new option.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Either always add padding lines, or alw

[2021-07-20 09:01] chenguzhen87 opened #14815 "@click="delete(item.id)" will be @click="deleteitem.id" in vue2"
1、ctrl+s in vscode
![image](https://user-images.githubusercontent.com/28331609/126292946-1174e09f-f014-44c2-8569-03c23c663532.png)