[2016-09-07 08:49] vitorbal commented on #7056
👍 from me as well

[2016-09-07 09:29] gabro commented on #7065
Sounds good to me! I'll get back to this later today

[2016-09-07 09:46] mgedmin opened #7069 "Documentation bug: missing Reflect.apply() argument in examples"
**What version of ESLint are you using?**

Not applicable.

**What parser (default, Babel-ESLint, etc.) are you using?**

Not applicable.

**Please show your full configuration:**

Not applicable.

**What did you do? Please include the actual source code causing the issue.**

Read the page at http://eslint.org/docs/rules/prefer-reflect

**What did you expect to happen?**

I expected the documentat

[2016-09-07 10:32] gabro commented on #7065
## Straw-man proposal
`no-underscore-dangle` will have two additional options:

 - `allowInMethods` (default: `true`)
 - `allowInClassProperties` (default: `true`)

---

#### `allowInMethods`
Examples of **correct** code for this rule with the `{ "allowInMethods": false }` option:

[code]

Examples of **incorrect** code for this rule with the `{ "allowInMethods": false }` option:

[code]

---

###

[2016-09-07 11:06] vitorbal commented on #7065
Thanks, @gabro!

I think `allowInMethods` could be `allowInMethodNames` to disambiguate from method invocations. What do you think?

Also, class properties are still stage 2 so I don't think we should/can support them yet.

One last thing, could you add some examples for concise object method names as well?

[2016-09-07 11:14] gabro commented on #7065
Yes, I agree in disambiguating. `allowInMethodNames` is fine. Or even `allowInMethodDeclarations`.

About the class properties matter, is this a general policy of ESLint? My perception is that class properties are quite standard in the React world for binding methods to the class, so this rule would be sort of incomplete without them. After all, babel-eslint supports them, and it seems harmless to

[2016-09-07 11:20] vitorbal commented on #7065
Small thing: the class definitions in your proposal have a typo:
[code]

[2016-09-07 11:22] gabro commented on #7065
woops, too many languages at the same time. That comes from scala :) Thanks, fixed

[2016-09-07 12:01] smmoosavi commented on #7059
Thank.
your suggestion solved the problem.

[2016-09-07 12:01] #7059 closed

[2016-09-07 12:35] vitorbal commented on #7065
Unfortunately, code with class properties won't even parse correctly with the default ESLint parser. Example: https://astexplorer.net/#/dBfzkR927u. This is only supported by babel-eslint for now, and we have a policy of only supporting features that have reached stage 4.

I understand this can be frustrating, but a stage 2 proposal is still prone to change, and the committee has even mentioned tha

[2016-09-07 12:37] gabro commented on #7065
I see you point and understand the concern.

I guess I can always roll my own plugin for supporting this while the feature reaches a more mature stage.

Should I go ahead and remove it from the proposal?

[2016-09-07 12:43] vitorbal commented on #7065
@gabro Yes, I think we can remove it. After that, from my part this looks good! Thanks for the quick replies. Now let's wait to see what the rest of the team thinks :)

[2016-09-07 12:44] gabro commented on #7065
## Straw-man proposal
`no-underscore-dangle` will have one additional option:

 - `allowInMethodNames` (default: `true`)

---

#### `allowInMethodNames`
Examples of **correct** code for this rule with the `{ "allowInMethodNames": false }` option:

[code]

Examples of **incorrect** code for this rule with the `{ "allowInMethodNames": false }` option:

[code]

The rationale between the additional op

[2016-09-07 13:46] #7057 closed

[2016-09-07 13:48] #5958 closed

[2016-09-07 13:49] ilyavolodin commented on #7056
👍  Just need somebody to champion this now.

[2016-09-07 13:51] platinumazure commented on #7056
I'll champion.

[2016-09-07 14:03] lucasbento commented on #5498
What about `arr.reduce()`? How can we fix this so ESLint does not claim it's wrong?

[code]

[2016-09-07 14:05] michaelficarra commented on #5498
@lucasbento

[code]

[2016-09-07 14:11] lucasbento commented on #5498
@michaelficarra oh, nice, thank you!

[2016-09-07 15:16] not-an-aardvark opened #7070 "Add an autofixer for no-floating-decimal"
I'm using Node v6.5.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the [`no-floating-decimal`](http://eslint.org/docs/rules/no-floating-decimal) rule. This would add a `0` before or after the decimal point in order to fix errors.

[code]

I would be willing to add this if the issue is accepted.

[2016-09-07 15:18] platinumazure commented on #7070
:+1:, sounds good to me.

[2016-09-07 15:54] dallonf opened #7071 "Docs: Explain why `{}.hasOwnProperty.call` is recommended"
A coworker just cleaned up a bunch of lint errors in the project, and left this headscratcher in the codebase:

[code]

When asked what was going on here and why not just use `obj.hasOwnProperty(key)` or even `Object.prototype.hasOwnProperty.call(obj, key)`, he pointed to the docs for [guard-for-in](http://eslint.org/docs/rules/guard-for-in), which, sure enough, recommends this pattern as a soluti

[2016-09-07 16:02] ljharb commented on #7065
It's unfortunate to have options where absence is not the same as `false` :-/ could we invert the option names so that the defaults can be `false`?

[2016-09-07 16:03] gabro commented on #7065
@ljharb you mean `allowInMethodNames` only, or the other existing options too?

[2016-09-07 16:04] platinumazure commented on #7065
I agree with @ljharb. In addition, we usually use "allow" as a synonym for tolerating certain practices (in other words, relaxing enforcement for a rule), whereas it seems to me that these are options for increasing enforcement (by running the rule logic on a different node type).

So I would prefer something like `enforceInMethodNames` (but let's iterate on that).

[2016-09-07 16:06] gabro commented on #7065
@platinumazure I agree, the "allow" semantic doesn't fit well in this case, now that you explained it.

`enforceInMethodNames` works for me. I'll update the proposal with this version.

[2016-09-07 17:30] #7010 closed

[2016-09-07 17:31] #7014 closed

[2016-09-07 17:41] alecharmon commented on #6731
Hey @sstern6 @ilyavolodin im still picking this up, life has been weird recently but I'm back on the horse! will get some code up in a pr soon!

[2016-09-07 18:06] nzakas commented on #6724
The expected behavior is in the Espree tests (https://github.com/eslint/espree/tree/master/tests/fixtures/attach-comments). Here's what I'd suggest as a path forward:

1. Convert the Espree tests into tests for the `SourceCode#getComments()` method such that they pass right now.
1. Turn of the `attachComment` option when ESLint calls `parse()`.
1. Attack each test failure.

In my mind, the algorit

[2016-09-07 18:14] nzakas commented on #6974
Yup, I just need to update the branch so all the CI passes (or, if you want, you can do that. As an org member, you have access to that branch). I'm not sure when I'll feel up to getting around to it. :(

[2016-09-07 18:44] not-an-aardvark commented on #7071
To answer your question, `Object.prototype.hasOwnProperty.call` is generally used for two reasons:

1. `hasOwnProperty` is defined on the object as something else, as you mentioned:

[code]

1. The object in question is being used as a map and doesn't inherit from `Object.prototype`, so it doesn't have `hasOwnProperty`:

[code]

See also: [`no-prototype-builtins`](http://eslint.org/docs/rules/no-p

[2016-09-07 18:57] joekrill commented on #3611
So I went ahead and did some work on this based on [my proposal](https://gist.github.com/joekrill/886f9d07b64ac1c98f280fd6cd915004) and submitted a PR (#7073) for the first feature (`includes`/`excludes` configuration options). If it's decided that this is the way to move forward with this I'll move on to the second part of my proposal.

[2016-09-07 20:32] nzakas commented on #7051
I can't see a scenario where someone is using `max:0`, because you can't write code with zero statements per line. (Can someone verify that?)

[2016-09-07 20:46] platinumazure commented on #7051
@nzakas Confirmed on online demo:

[code]

Result:
3:1 - This line has too many statements. Maximum allowed is 0. (max-statements-per-line)

[2016-09-07 21:42] ilyavolodin commented on #7051
In that case, I'm perfectly fine calling this a bug and doing as a semver-patch

[2016-09-07 23:50] alecharmon commented on #6731
code is ready for a pr, will work on getting that up tomorrow

[2016-09-08 00:42] jrsearles opened #7074 "Proposal to make brace-style fixable"
**What version of ESLint are you using?**
3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
N/A

**What did you do? Please include the actual source code causing the issue.**
Run eslint with fixable flag

**What did you expect to happen?**
Expect brace rule violations to be automatically fixed

**What actually happened? Please inc

[2016-09-08 00:43] jrsearles commented on #7074
This is a follow up to #6828 to allow the brace-style violations to be fixable, since these are stylistic in nature.

[2016-09-08 00:57] dwhieb opened #7075 "Docs: Reflect.getOwnPropertyNames does not exist"
In the [documentation](https://github.com/eslint/eslint/blob/master/docs/rules/prefer-reflect.md#reflectgetownpropertynames) and [source code](https://github.com/eslint/eslint/blob/master/docs/rules/prefer-reflect.md#reflectgetownpropertynames) for the `prefer-reflect` rule, the user is instructed to use `Reflect.getOwnPropertyNames` in place of `Object.getOwnPropertyNames`. However, `Reflect.getO

[2016-09-08 01:37] ilyavolodin commented on #7074
:+1:

[2016-09-08 02:18] platinumazure commented on #7074
:+1:, let's do this.

[2016-09-08 07:27] gucong3000 opened #7077 "New features: work with `editorconfig`"
I usually use `eslint` and `editorconfig` together, So I need a option property for these rules, let them use configuration of `editorconfig`
- indent
- no-trailing-spaces
- eol-last

I hope this option property is enabled by default, If configuration property of `editorconfig` is missing, please use the same logic as before.

see https://www.npmjs.com/package/editorconfig

[2016-09-08 08:20] CrabDude commented on #3611
**1\.Regarding Caching...**

I'm putting together a PR with cacheing support by config vector (See https://github.com/eslint/eslint/issues/3611#issuecomment-161701313).

Since the configs hierarchy for all proposals (`files`, `children` or top-level array) is a topologically sorted (by subdirectory) directed acyclic graph, we can cache by config vector (ordered combination):

[code]

*Side Note:*

[2016-09-08 08:20] CrabDude commented on #3611
Also, independent of the outcome, thanks @joekrill for putting together both a proposal and PR.

[2016-09-08 08:32] mysticatea commented on #7070
:+1:

[2016-09-08 08:49] #6941 closed

[2016-09-08 08:57] ljharb opened #7078 "`valid-typeof` with `requireStringLiterals` should allow two `typeof` comparisons"
**What version of ESLint are you using?**
v3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
just `'valid-typeof': ['error', { requireStringLiterals: true }]`

**What did you do? Please include the actual source code causing the issue.**
`echo 'typeof foo === typeof bar' | eslint --stdin --no-eslintrc --rule valid-typeof:'[2,{requ

[2016-09-08 09:02] #7002 closed

[2016-09-08 09:13] mysticatea commented on #7071
In addition, considering "[querystring](https://nodejs.org/api/querystring.html)" package in Node.js 6.

[code]

Like this, library might return an object which is created by `Object.create(null)`.

[2016-09-08 09:24] mysticatea commented on #7074
:+1:

It needs to not remove comments.

[code]

[2016-09-08 09:34] vitorbal commented on #7077
Thanks for reaching out, @gucong3000! I think this might be an interesting idea but there are some edge cases to iron out. For example, if the ESLint config file already has an indent rule set, does it get overridden or does that have priority over the editorconfig?

One more thing. Currently, the team is very focused on improving compatibility between JSCS and ESLint, so if you are not willing to

[2016-09-08 09:50] mysticatea commented on #6070
In my head, I wonder what is the difference between "assignments to `module.exports`" and "assignments to local variables".

[code]

Maybe, if someone wants blank lines around `module.exports = () => {\n}`, I guess they wants blank lines around `foo = () => {\n}`. So my concern is that this rule might be almost overlapping to `lines-around-block`-like rule.

Of course, there is a difference since

[2016-09-08 10:36] gucong3000 commented on #7077
I expect to be able to use this configuration file
[code]

[2016-09-08 11:04] mysticatea opened #7079 "`arrow-spacing` has false negative"
**What version of ESLint are you using?**

- master

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

    $ echo "(a = () => 0)=>1" | eslint --stdin --no-eslintrc --env es6 --rule arrow-spacing:error

**What did you expect to happen?**

- `arro

[2016-09-08 12:40] platinumazure commented on #7078
Cripes. On the one hand the option name seems fairly explicit, on the other hand I can see why this is a pain.

[2016-09-08 12:43] platinumazure commented on #7077
I would love to see `eslint --init` support creating a config from .editorconfig file. Not sure we want to couple normal execution to this, though. Another thought, maybe a third-party tool could detect differences between ESLint and .editorconfig and help keep ESLint in sync.

[2016-09-08 14:31] #7056 closed

[2016-09-08 14:46] ilyavolodin commented on #7070
👍

[2016-09-08 15:55] vitorbal commented on #7078
Judging by the examples in the docs, this was intentional, but looking back at #6698, it might have been an oversight.
@not-an-aardvark @btmills tagging you two as you were champion/implementer of the option. Any thoughts? Should this be considered a bug?

[2016-09-08 16:11] not-an-aardvark commented on #7078
At the moment, the option explicitly only allows comparisons to string *literals*, and it was implemented with that in mind (`typeof a === typeof b` is reported as an error in the docs and the tests).

However, I think the original goal of the option in #6698 was to be able to statically prove that a `typeof` comparison is valid, regardless of whether it actually uses string literals.

The regular

[2016-09-08 16:16] JamesHenry commented on #6724
Thanks @nzakas, let's see how it goes :)

[2016-09-08 16:26] platinumazure commented on #7077
Actually, even better: A shareable config "eslint-config-editorconfig" could be created, which creates an ESLint JS configuration that reads .editorconfig and maps the settings there to the appropriate rules. That's definitely your best bet.

[2016-09-08 17:00] ljharb commented on #7078
The spirit behind "requireStringLiterals" imo is as you said - to statically prove that a comparison is valid. Comparing to string literals *or* to another `typeof` comparison achieves that.

Perhaps the option name isn't correct, but the behavior imo should be that `typeof a === typeof b` is always considered valid.

[2016-09-08 17:02] platinumazure commented on #6828
@nzakas Can you please clarify which option names you would like to see improved, per your comment [here](https://github.com/eslint/eslint/issues/6828#issuecomment-243847759) and @jrsearles' question [here](https://github.com/eslint/eslint/issues/6828#issuecomment-244620869)? Thanks!

[2016-09-08 17:12] btmills commented on #7078
How bad would it be if `requireStringLiterals` permitted `typeof a === typeof b`, adding the exception without changing the name? That's the easiest route. It's compatible with the spirit of the option albeit not the name.

[2016-09-08 17:13] platinumazure commented on #7078
I'm going to do one better (slash crazier): Given that we haven't released,
can we fix behavior and name before tomorrow's minor release?

On Sep 8, 2016 12:12 PM, "Brandon Mills" <notifications@github.com> wrote:

[2016-09-08 17:16] btmills commented on #7078
The new option was included in [3.4.0](http://eslint.org/blog/2016/08/eslint-v3.4.0-released#enhancements). If it hadn't been released yet, I'd actually like that idea 😈

[2016-09-08 17:17] platinumazure commented on #7078
Oh damnit, I thought we had just put it in this week. Sorry, I'm tracking (trying to track) too many PRs.

[2016-09-08 17:18] ljharb commented on #7078
https://github.com/eslint/eslint/issues/7078#issuecomment-245669335 Is exactly what I'm suggesting, and it'd be semver-patch.

[2016-09-08 17:19] platinumazure commented on #7078
I can live with that for now. Maybe in a major (5.0?) we can rename the option or something.

[2016-09-08 17:22] kaicataldo commented on #6724
@JamesHenry Are you planning on working on this? Sounds like you are, but I have time this weekend to take a look at this so wanted to confirm :)

[2016-09-08 17:28] #5805 closed

[2016-09-08 18:04] jonataswalker commented on #5062
[Docs](http://eslint.org/docs/rules/no-multi-spaces) about `no-multi-spaces` don't mention this exception &mdash; `AssignmentExpression` &mdash; but yes, it works.

[2016-09-08 18:15] not-an-aardvark commented on #7078
Working on this.

[2016-09-08 18:27] #4828 closed

[2016-09-08 18:33] JamesHenry commented on #6724
Well if you don't mind then I would love to take you up on that offer. I have about 7 other things I could be doing to keep the typescript-eslint-parser project motoring, and working on the comment attachment would naturally come at the expense of (some of) those.

If you don't get chance to finish or want a second pair of eyes on something please let me know, and thanks a lot for offering!

[2016-09-08 18:57] calidion opened #7083 "module not found"
Error: Cannot find module 'eslint-config-xo'
Referenced from: xo-space

node v4.x
npm 2.x

[2016-09-08 19:11] calidion commented on #7083
thanks for the reply.

it is a problem due to an npm install.

it is caused by
[code]
because eslint is included inside gulp-eslint, and the error is thrown from eslint module.

so i issued here, hope this problem will be solved soon as i have encountered many times.

[2016-09-08 20:22] deniseli opened #7084 "quotes does not catch errors in strings wrapped in {...} within jsx"
**What version are you using?**
3.4.0

**What did you do?**
Run lint with `quotes` rule turned on (prefer single quotes) over jsx code that looks like:
`<SomeComponent someProp={"blah"} />`

**What happened?**
The linter passed, when it should have errored on the double quotes. This is not covered by jsx-quotes because the string is wrapped in `{...}`, which makes it a JS string and not a jsx stri

[2016-09-08 20:24] ljharb opened #7085 "`class-methods-use-this`: "exceptMethods" array option"
**What version are you using?**
3.4.0

**What did you do?**
Enabled `class-methods-use-this` and ran it on this code:
[code]

**What happened?**
`Expected 'this' to be used by class method 'componentDidMount'`

**What did you expect to happen?**
What I would *like* to happen is to be able to specify "componentDidMount", and all the other React lifecycle methods, as exceptions to this rule. In othe

[2016-09-08 20:53] Arcanemagus opened #7086 "no-multiple-empty-lines reports invalid column"
**What version of ESLint are you using?**

`eslint@3.4.0`

**What parser (default, Babel-ESLint, etc.) are you using?**

The default parser

**Please show your full configuration:**

_.eslintrc.json_:

[code]

**What did you do? Please include the actual source code causing the issue.**

Ran ESLint on the following code:

[code]

Note, files used in this test are available here: [linter-eslint_GH6

[2016-09-08 21:02] IanVS commented on #7086
Looks like the column location changed in https://github.com/eslint/eslint/commit/13fd818ae8d065a3a2ee7a54a47105bf8f066454#diff-0f6472c36e2e4d88a28a92f9b5148206R85.  It seems that it should be `0` instead of `1` there.

[2016-09-08 21:28] vitorbal commented on #6070
I think this rule focuses on `module.exports` purely because some people might opt to have blank lines around things that are exported from a module, but not for every expression statement, for purely stylistic reasons.

I think the biggest value of us doing this rule would be because of the JSCS compatibility goal, otherwise I would argue that we should have a more generalized rule, at least in t

[2016-09-08 21:38] platinumazure commented on #7085
What happens if you make that method static? Does React fail to work with it in that case?

[2016-09-08 21:46] vitorbal commented on #7083
Hi @calidion, as the @eslintbot says, could you provide us with the source code and ESLint configuration that cause the error? Could you also provide the **raw** output complete with stack trace and numbers? Thanks!

[2016-09-08 21:48] ljharb commented on #7085
Correct - React requires it to be an instance method.

This will likely come up with other frameworks as well, which is why I think a generic escape hatch is a good idea.

[2016-09-08 21:51] vitorbal commented on #7071
I think `no-prototype-builtins` could be mentioned in the "Related Rules" section of `guard-for-in`, to clarify this a bit. @dallonf would you be willing to cook up a PR for that?

[2016-09-08 21:54] ljharb commented on #7071
(fwiw, this is why the Airbnb style guide and virtually every "best practice" i've seen discourages use of `for..in` - `Object.keys(obj).forEach` does not have this problem)

[2016-09-08 21:57] platinumazure commented on #7085
Agreed-- to me the spirit of the rule is, when you're designing a class and you fully control the contract, you should use static unless the class method actually uses `this`. When you have to conform to a different contract, the rule is not as useful here.

If you can provide a suggested schema and example of correct/incorrect code, just so we have a proper proposal, I can endorse that.

[2016-09-09 00:29] ljharb commented on #7085
Essentially: `"class-methods-use-this": [2, { "exceptMethods": ["componentDidMount"] }]`, where "exceptMethods" defaulted to `[]` and was always concatenated to `["constructor"]` (ie, the default behavior).

Good code with the option:
[code]

Bad code without the option, or with an empty array:
[code]

Bad code with the option:
[code]

[2016-09-09 04:54] neliyacf opened #7091 "Infix operators must be spaced space-infix-ops"
**What version of ESLint are you using?**
-     "eslint": "^3.4.0"

**What parser (default, Babel-ESLint, etc.) are you using?**
-  "parser": "babel-eslint"

**Please show your full configuration:**
-

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
- I'm getting infix operator must be spaced error in line 34:41 but it doesn'

[2016-09-09 05:51] gucong3000 commented on #7077
@platinumazure

I put forward the same advice for `stylelint`. And I found a way to achieve it.

See: https://github.com/stylelint/stylelint/issues/1890

[2016-09-09 06:51] amilajack commented on #3565
What is the status of this issue? Will there be a migration to async?

[2016-09-09 07:56] #7091 closed

[2016-09-09 14:36] vitorbal commented on #7033
I think the issues linked by @mysticatea should cover what you are asking for, @alexsunxl. Could you confirm?

[2016-09-09 14:46] platinumazure commented on #7085
:+1: from me.

[2016-09-09 15:39] juliusosokinas commented on #4015
Set the environment for a browser inside the `.eslintrc` file:

[code]

[2016-09-09 16:26] mnpenner commented on #6563
Do we have a 3rd-party solution to this yet? I'd like this feature too. I use object spread to omit vars all the time; it's very common in React.

[2016-09-09 16:28] dallonf commented on #7071
Thanks for the explanation! I'll see if I can cook up a PR.

[2016-09-09 17:38] basicdays commented on #6563
Wish I've had time to write something for this, but haven't been able to get into it yet. I haven't looked to see if anyone else have written something yet though.

[2016-09-09 19:00] #7015 closed

[2016-09-09 19:01] #6979 closed

[2016-09-09 19:03] #7086 closed

[2016-09-09 19:04] #7070 closed

[2016-09-09 19:05] #7079 closed

[2016-09-09 19:37] sstern6 commented on #4161
@gyandeeps has there been any update on this?

Would like to take a swing at it, this will be my second issue patch in ESLint so will have some questions if I can take this one on?

Let me know

Thank you

[2016-09-09 20:02] dwhieb commented on #7075
Btw, I'm happy to make a PR for this if you'd like it addressed.

[2016-09-09 21:26] vitorbal opened #7098 "Proposal: add `sourceContext` property to the messages generated by the `eslint` object"
**Context:**
We would like to port the JSCS default formatter over to ESLint. That formatter prints out the lines around the location of an error/warning. See #5860 for an example output.

**Problem**
Unfortunately, with ESLint, there is currently no way to get those lines of "context" from a formatter, because:

1. The formatter is invoked with only one argument - the array of messages to report

[2016-09-09 22:05] CrabDude commented on #3611
# Summary of the current state of this issue

All current (3) glob proposals support the same functionality through differing APIs.

## All existing proposals allow the following features:

1. Specifying an ordered array of sub-configs via globs that cascade from preceding configs (other sub-configs or the same file's top-level config), with normal hierarchy rules applying.
1. An array of globs, w

[2016-09-10 00:24] meeber opened #7100 "Faulty option parsing in line-comment-position"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 6.5.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Linted the following file:

[code]

**What did you expect to happen?**

For there n

[2016-09-10 00:43] platinumazure commented on #7100
Confirmed in online demo. Thanks for the report, I'll work on a fix!

[2016-09-10 00:56] mysticatea opened #7101 "Stage 4 syntaxes in core rules"
`acorn`, the base of `espree`, has supported async/await and trailing function commas: [Acorn 4.0.0](https://discuss.ternjs.net/t/acorn-release-4-0-0/67)
`espree` is going to support those, coming soon: https://github.com/eslint/espree/issues/287

Then, I'm starting to modify core rules to support those.
In my head, the following rules need some tweaks.

- 1st
  - [x] #7170 no-dupe-args ... Duplic

[2016-09-10 01:45] hzoo commented on #7101
maybe generator-star-spacing? https://github.com/babel/eslint-plugin-babel has an override for that

[2016-09-10 01:49] mysticatea commented on #7101
`generator-star-spacing` should work for async functions since `node.generator` of async functions is `false`.

[2016-09-10 01:49] hzoo commented on #7101
Oh right, it was probably one of the rules you already mentioned then. Still need to fix it in babel-eslint. My mistake

[2016-09-10 02:43] ilyavolodin commented on #7084
Verified with the following code:

[code]

[2016-09-10 02:48] ilyavolodin commented on #7077
@gucong3000 Could you explain why you need filename?

[2016-09-10 02:58] ilyavolodin commented on #4161
@sstern6 Feel free to take over this. This issue has been sitting for a while without updates, so I'm pretty sure nobody is working on it currently! Let us know if you have any questions/need help!

[2016-09-10 03:03] ilyavolodin commented on #7075
That's correct. Spec doesn't include `getOwnPropertyNames` (http://www.ecma-international.org/ecma-262/6.0/#sec-reflect-object). Thanks for finding this, @dwhieb

[2016-09-10 03:06] mysticatea commented on #7101
Hmm. I have a question:

[code]

I guess `space-before-function-paren` is it.

[2016-09-10 04:18] platinumazure commented on #7101
@mysticatea Is `async function foo() {}` valid syntax? If so I would rather have `keyword-spacing` cover both cases. But I can see arguments for either way!

[2016-09-10 04:21] mysticatea commented on #7101
Yes, `async function foo() {}` is valid. But we cannot remove the space between `async` and `function`, so `keyword-spacing` rule ignores it.

[2016-09-10 08:12] okcoker opened #7106 "Question: Errors after timestamp"
A lot of times throughout the evolution of an app, you'll want to change rules or introduce new plugins/rules etc. In order to encourage usage of the newly imposed rules, whether solo or on a team, it is sometimes impractical to fix all of the new warnings/errors that have appeared at once. I was thinking it might be useful to have some sort of functionality to throw an error for certain rules if

[2016-09-10 08:36] ljharb opened #7107 "`no-unused-vars` bug"
**Tell us about your environment**
eslint v3.5.0, also http://eslint.org/demo/ with only "es6" and "no-unused-vars" checked.

* **ESLint Version:** 3.5.0
* **Node Version:** 6.5.0
* **npm Version:** whatever that comes with

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
ES6, plus `no-unused-vars` set to "error"

**What did you do? Pl

[2016-09-10 08:37] ljharb commented on #7107
whoops, i just realized the problem - disregard this :-)

[2016-09-10 08:37] #7107 closed

[2016-09-10 10:42] mikesherov commented on #7098
The line number is already passed to Formatters. I think sourceContext should only have to be an array as per your first example. I also think sourceContext is a fine name considering git calls this context too.

One last approach, which might be overkill, is to pass the entire source text as a property on each message object. This would allow much more flexibility in Formatters to print out as mu

[2016-09-10 13:05] EvgenyOrekhov opened #7108 "The config param of the linter.verify() method doesn't support "extends" property"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 6.5.0
* **npm Version:** 3.10.6

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expected `linter.verify()` to return an a

[2016-09-10 13:12] EvgenyOrekhov commented on #7108
Also
[code]
should throw an error saying `Cannot find module 'eslint-config-blablablabla'`, but instead it just executes successfully and returns an array with the "Undeclared 'console'" warning.

[2016-09-10 13:43] gyandeeps commented on #4161
@sstern6 Soory for late response but exactly what @ilyavolodin said.

[2016-09-10 13:53] gyandeeps commented on #7108
`require("eslint").linter` : Doesnt do any config evaluations. Its a very simple and flat api which takes code and config and runs eslint on it.

`require("eslint").CLIEngine` : On the other hand, CLIEngine has all the smarts build into it so that it can evaluate and run thorugh all the config magic like plugins, eslintrc files, etc.

Docs: http://eslint.org/docs/developer-guide/nodejs-api

[2016-09-10 14:38] EvgenyOrekhov commented on #7108
@gyandeeps these docs say the following about the `config` parameter of the linter:

which is not true.

Either the docs should be fixed or the linter should do config evaluations.
I would prefer the second option.

[2016-09-10 14:45] platinumazure commented on #7108
We can fix the docs. The capabilities of each object in the Node API follow from our architectural design, however, and configuration processing belongs to CLIEngine rather than the linter.

[2016-09-10 14:51] platinumazure commented on #7106
I don't see this happening in core, but you can definitely write a Node app that uses our CLIEngine API to run the linter (after processing configuration files and everything), iterates through the lint messages to change some of them to warnings as needed, and then invoking your formatter of choice to spit out the results.

[2016-09-10 15:03] #7071 closed

[2016-09-10 15:13] EvgenyOrekhov commented on #7108
I wish CLIEngine had an `evaluateConfig()` method that would receive a non-evaluated config object.
I think [this function](https://github.com/eslint/eslint/blob/58e6d765494902aba61ae76869f0f010339ddb68/lib/config.js#L43-L69) does what I need.
I would love it to be a part of the public API.

[2016-09-10 15:34] platinumazure commented on #7108
@EvgenyOrekhov Could you please elaborate on what problem you are trying to solve? Odds are, CLIEngine lets you solve it with the right configuration options.

[2016-09-10 15:52] adammockor opened #7109 "Memory leak with requireUncached"
**Tell us about your environment**
- eslint 3.5.0
- Node.js 6.5.0
- npm 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I am expecting not to have memory leaks while running linting via gulp.

**Wha

[2016-09-10 15:58] ariya commented on #6724
Can't escodegen.attachComments be used here?

[2016-09-10 15:59] EvgenyOrekhov commented on #7108
@platinumazure I have an ESLint config loaded from `.eslintrc.json` and an array of strings of JavaScript sources. I need to map those sources to ESLint warnings.
[code]
The problem is that `linter.verify()` doesn't evaluate the config and `extends` doesn't work here.

[2016-09-10 16:07] platinumazure commented on #7108
Hi @EvgenyOrekhov, okay, then you want to use CLIEngine's [`executeOnText()`](http://eslint.org/docs/developer-guide/nodejs-api.html#executeontext) method to run the linter against your source text strings.

Here's a rough idea of how you could do this:

[code]

That should hopefully be very close to what you want. If you need to tweak the configuration options due to unexpected output or any othe

[2016-09-10 18:19] ilyavolodin commented on #7106
I agree. I don't think this should be in the core. I think you can probably do it by creating a custom formatter, instead of a whole new Node application. The only thing I don't remember is if you can change exit code from inside formatter (I don't think you can).

[2016-09-10 18:27] #7108 closed

[2016-09-10 19:11] EvgenyOrekhov commented on #7108
@platinumazure Thank you! Your suggestion solves my problem.

[2016-09-10 19:27] kaicataldo commented on #7101
I think this should be warned by `keyword-spacing`. Given the intent of `space-before-function-paren`, my preference would be to maintain not checking `ArrowFunctionExpression`s in that rule. To me, it makes more sense for the checks to not care about whether the token following the `async` keyword is a `FunctionDeclaration`, `FunctionExpression`, or `ArrowFunctionExpression`, but rather for the c

[2016-09-10 20:01] sstern6 commented on #4161
@ilyavolodin @gyandeeps thanks will probably have this up by mid to end of this coming week.  Will definitely have questions for you!

Thank you

[2016-09-10 20:04] platinumazure commented on #7109
The change to `requireUncached` was in [this commit](https://github.com/eslint/eslint/commit/2977248603fcecc1ef5578c6c726038c04f7ca34), and it seems like we had a good reason to do it.

Is there anything we can/should be doing to release the memory so it doesn't leak?

[2016-09-10 20:04] okcoker commented on #7106
Thanks guys. If all the tools are available to create this functionality then that would be a start. Changing the exit code would be important 😏

[2016-09-10 20:06] platinumazure commented on #7106
@okcoker I'm not sure about creating a new formatter due to the exit code issue, but CLIEngine definitely lets you have finer control over the whole process. Please stop by our [Gitter chat](https://gitter.im/eslint/eslint) if you need help with anything.

[2016-09-10 20:07] #7106 closed

[2016-09-10 20:09] okcoker commented on #7106
@platinumazure Nope, we're good here. Thanks for listening.

[2016-09-10 20:22] feross opened #7111 "Add "variables" option to `no-use-before-define` rule"
- **ESLint Version:** 3.5.0

I want `no-use-before-define` to check for classes or functions that are used before they are defined. But I do not want to check for variables that are used before they are defined.

Right now there exist two options, which modify whether functions and classes are checked. For example, I can disable these two checks:

[code]

But I cannot disable checking if variables

[2016-09-10 20:42] feross commented on #7111
To make this clearer, here are some examples.

Examples of **incorrect** code for the `{ "variables": false }` option:

[code]

Examples of **correct** code for the `{ "variables": false }` option:

[code]

The way this works would be 100% analogous to the "classes" option, but for variables. The existing "classes" option is documented here: https://github.com/eslint/eslint/blob/master/docs/rules/

[2016-09-10 21:11] platinumazure commented on #7111
I'm not opposed, but I'd love to see a real-world case where this is a problem (especially if it's something that "standard" recommends but cannot enforce, or wants to recommend but cannot, due to this limitation).

That said, since we already have classes and function exceptions, it does seem like we should just add a variable option. So one could make an argument that the [rule is incomplete](ht

[2016-09-10 21:26] ljharb opened #7112 "`no-restricted-properties` is in the wrong category"
https://github.com/eslint/eslint/blob/master/lib/rules/no-restricted-properties.js#L18 is in http://eslint.org/docs/rules/#nodejs-and-commonjs and I'm not sure why - this is a generic rule and has nothing to do with node and commonJS. It seems like "best practices" or "stylistic" is a better category for it?

[2016-09-10 21:37] kaicataldo commented on #7112
I agree! My vote is for "Best Practices":

[2016-09-11 00:03] kaicataldo commented on #7062
@eslint/eslint-team Any other thoughts on this? Could use one more supporter/would love to hear any arguments against.

[2016-09-11 00:05] kaicataldo commented on #7046
Sounds like no one is really opposed to this but, given other priorities, it probably wouldn't happen in the near future.

[2016-09-11 00:25] mikesherov commented on #7062
It's a bug if it's not checking Template Literals. Should probably also check tagged template literals too.

:+1:

[2016-09-11 00:29] mikesherov commented on #7062
Err, I guess not for tagged template expressions because those could return non strings. Nvm.

[2016-09-11 01:18] ilyavolodin commented on #7062
:+1:

[2016-09-11 01:56] kaicataldo commented on #7062
Thanks all - I'll put together a PR

[2016-09-11 04:06] nruhe opened #7115 "Quotes rule docs has examples reversed for allowTemplateLiterals."
See [here](https://github.com/eslint/eslint/blob/master/docs/rules/quotes.md#allowtemplateliterals).

Double quotes example is listed for single quotes, and visa versa.

[2016-09-11 08:18] adammockor commented on #7109
I would said this can be related https://github.com/nodejs/node/issues/8443

[2016-09-11 13:15] feross commented on #7111
In `standard`, we would like to prevent clearly incorrect use-before-define cases like the following:

[code]

While still allowing cases that may be correct if the program executes in the right order:

[code]

There are just too many false positives for us when the latter example is disallowed.

[2016-09-11 13:16] feross commented on #7111
More specifically, here is the concrete code example that prompted this issue. We would like to disallow the following:

[code]

[2016-09-11 13:47] feross opened #7116 "Prevent confusing if-statement usage"
Is there a way to configure eslint to prevent confusing if-statements like the following?

[code]

This is confusing because at first glance it looks like the second `if` is an `else if`, but it's not.

I couldn't find a rule to enforce this. It seems that this could potentially be part of the [`keyword-spacing`](http://eslint.org/docs/rules/keyword-spacing) rule. Perhaps an option to require _new

[2016-09-11 16:05] finom commented on #2585
I'm using eslint in an application compiled by webpack. It works for me but I have to dance around tricks.

1) I have to pull and build eslint via ``install`` script
[code]
... instead of using it in my dependencies. The installing of deps and dev deps takes a lot of time.

2) Webpack outputs warnings
[code]

3) I cannot include ``babel-polyfill`` into the app because build/eslint already includes

[2016-09-11 17:10] gggauravgandhi commented on #2409
@michaelficarra
Thanks a lot, solved ugly error splitting.

[2016-09-11 18:41] daltones opened #7117 "Possible false positive in `prefer-const`"
**The version of ESLint you are using:**
v3.5.0

**The problem you want to solve:**
In some cases you _need_ to use `let`, even if you don't reassign the variable. Them `prefer-const` raises a false positive.

**Your take on the correct solution to problem.**
Check if the variable is referenced inside a child scope before the assignment.

Example:
I need to use the value of `id` inside a function,

[2016-09-11 19:26] mysticatea commented on #7117
Thank you for this issue.

You can rewrite the code:

[code]

Or you can use [ignoreReadBeforeAssign](http://eslint.org/docs/rules/prefer-const#ignorereadbeforeassign) option for this.

[2016-09-11 19:53] daltones commented on #7117
You're right. Sorry, my fault.

[2016-09-11 19:53] #7117 closed

[2016-09-11 20:59] ljharb commented on #7085
I've put up #7120, even though this is not yet accepted, since it seemed simple enough.

[2016-09-11 21:21] kaicataldo commented on #7115
Great catch! Thanks for the issue report :)

[2016-09-11 21:24] kaicataldo commented on #7112
Removing the bug label so it's clear this is a docs change. Sorry for the confusion!

[2016-09-11 21:36] chazmuzz commented on #5867
+1 I'm looking for it to flag returning a named function so that it works with my AMD solution.  Currently the following code is OK even though I have require-jsdoc:

[code]

However this similar code fails linting:

[code]

[2016-09-11 21:38] vitorbal commented on #5860
I opened an issue where I propose passing the "context" lines of code around a problem reported by ESLint, which would enable us to fully port the JSCS formatter over. Would love to hear your feedback on the proposal: https://github.com/eslint/eslint/issues/7098

[2016-09-11 21:57] vitorbal commented on #7007
friendly ping @BloodyStupidViktor, could you take a look at our questions above? Otherwise, I'm afraid we don't have enough info to help you. Thanks!

[2016-09-12 01:21] gucong3000 commented on #7077
@ilyavolodin
[editorconfig](https://www.npmjs.com/package/editorconfig) need filepath to match config. EditorConfig files use [globs](https://en.wikipedia.org/wiki/Glob_(programming)).

see http://editorconfig.org/#file-format-details

[2016-09-12 01:39] btmills commented on #7116
@feross how about `max-statements-per-line`?

[code]

Just tried that in the demo and got a warning on the second `if`.

[2016-09-12 01:43] btmills commented on #7085
:hand: I'll champion, this is a good idea. One more :+1: from the team?

[2016-09-12 01:45] gyandeeps commented on #7085
I already gave it on the issue.
But here it is again 👍

[2016-09-12 01:48] #7078 closed

[2016-09-12 02:02] demisx commented on #2614
Looks like this is now availabe, at least in v3.3.1 I am using:

[code]

More here: http://eslint.org/docs/user-guide/configuring

[2016-09-12 04:22] kaicataldo commented on #6724
@ariya Had a little time to look into this this weekend. I tried using `estraverse.attachComments` - since it [looks like](https://github.com/estools/escodegen/blob/master/escodegen.js#L2604) that's what `escodegen.attachComments` calls - and got different results from the current implementation. Can definitely look into it more though!

Starting in on @nzakas's suggested path forward, I have the

[2016-09-12 08:09] vitorbal commented on #7035
Seems like this is already planned in #3587 as @platinumazure mentions, so closing this in favor of that issue. Thanks for reaching out, @sc0ttyd!

[2016-09-12 08:09] #7035 closed

[2016-09-12 08:25] zhanfenghai commented on #2112
@IanVS i got the same problem ,i have see the the answers upstairs，but not work
![image](https://cloud.githubusercontent.com/assets/18130809/18429369/7be5a57e-7905-11e6-9712-5d050ae7c9cb.png)

[2016-09-12 08:44] mysticatea opened #7122 "`no-extra-parens` has false negative on octal numeric literals."
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** n/a - confirmed in our online demo. (Chrome 54)
* **npm Version:** n/a

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

Lint the following code on the online d

[2016-09-12 08:54] mysticatea commented on #7122
Note: Requires `acorn@4.0.2` to fix this. The problem of parsing `0123.toString()` has fixed in https://github.com/ternjs/acorn/commit/b14cb8bea7b5fd69fb6dcf2b75cf6fb772e79ed6

[2016-09-12 10:39] #7112 closed

[2016-09-12 11:03] #7051 closed

[2016-09-12 11:45] yury-dymov opened #7123 "'react/no-unused-prop-types' not working properly"
Situation bellow is considered as an error:

[code]

### Versions
[code]

[2016-09-12 13:13] maxlk commented on #3611
I suggest to use [Grunt globbing patterns](http://gruntjs.com/configuring-tasks#globbing-patterns). It's simple from one side, from another side it's much more powerful than regular glob or include/exclude pair, since it allows to include and exclude multiple times in any desired order.

For example: you want to match all js files under `src/` directory, but from `src/test/` directory you want onl

[2016-09-12 13:17] IanVS commented on #2614
@demisx yes you can add environments inline, but not disable them, which is what this issue was about.

[2016-09-12 13:19] IanVS commented on #3611
FWIW, It appears that grunt uses node-glob and minimatch for glob matching.

[2016-09-12 13:32] maxlk commented on #3611
@IanVS right, grunt just specify simple convention how array of patterns modifies files set

[2016-09-12 13:55] IanVS commented on #7098
I'd be curious about the performance impact of that.

[2016-09-12 14:07] julienw opened #7124 ""no-unused-vars" reports only the last function parameter"
With the following code:
[code]
only `next` is reported with the rule `no-unused-vars`.

This would not be an big issue but this actually triggers another bigger issue.

With the following code:
[code]
and the following configuration:
[code]
nothing is reported at all ! Which is IMO more serious.

[2016-09-12 14:07] ilyavolodin commented on #2585
@finom It was a conscious decision to not support anything other than Node (browser support for demo is internal only, and we don't provide support for it externally). You can read more about that here: https://www.smashingmagazine.com/2015/09/eslint-the-next-generation-javascript-linter/#legacy-problems

[2016-09-12 14:13] ilyavolodin commented on #7077
I think editorconfig does not cascade (as in, you can't have multiple editorconfig files in nested directories). In that case, you should just be able to pass it `process.cwd`

[2016-09-12 14:56] RanadeepPolavarapu opened #7125 "`max-len` rule `ignoreTemplateLiterals` not ignore multi-line template literals"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 6.2.1
* **npm Version:** 3.9.6

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-eslint

**Please show your full configuration:** Isolated config and used only one rule.
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
![untitled](https://cloud.githubuse

[2016-09-12 14:57] platinumazure commented on #7116
I'd be in support of a new rule. Conceptually it seems like the opposite of `no-lonely-if`, which checks for an else that has only an if in the block and requires the use of `else if`. This hypothetical new rule would say, if you're an if statement and not part of an else, it must be on a new line.

A more general rule that could cover this would be requiring a newline (not necessarily a blank lin

[2016-09-12 15:00] platinumazure commented on #7123
Besides the info we've asked for above, I'd like to also ask why you think this is an ESLint issue specifically, rather than eslint-plugin-react. Have you opened an issue on their repository as well?

[2016-09-12 16:06] vitorbal commented on #7098
So, I ran both versions in the eslint codebase, forcing ~4000 errors to show up, and it seems like passing the whole sourceCode with every message is quite memory intensive:

with no context: 190M
with a bit of context (max. 4 lines): 192M
with whole file as context: **236M**

IMO passing the whole source text might be overkill, for marginal value to formatters (I can't imagine a formatter wanting

[2016-09-12 16:10] IanVS commented on #7098
Personally I think that one line before and one after (or however much is needed to match JSCS reporter) should be enough to give the user context to the error in the code.  It could always be increased in the future if someone has a good pressing need for more.

[2016-09-12 16:25] vitorbal commented on #7098
Makes sense :+1:

[2016-09-12 16:46] platinumazure commented on #7098
Couldn't we leave it as a CLI option? By default return no extra context; if user specifies a number, return that many lines before/after; if user says "all" or similar, include full source.

Assumption is user can choose how much context they want, including none for formatters that don't even support it in the first place.

[2016-09-12 17:13] btmills commented on #7125
Thanks for the report, @RanadeepPolavarapu! Easy repro in the [demo](http://eslint.org/demo):

[code]

This gives a `max-len` error on the second and third lines of the literal. It looks like [`groupByLineNumber`](https://github.com/eslint/eslint/blob/c85fd84d627dc2788197b9cba26cb843dbe57d8d/lib/rules/max-len.js#L237-L241) is only handling the first and last lines of the literal and not any interi

[2016-09-12 17:15] btmills commented on #7098
Is there a way for the formatter to take as much or as little as it wants? Not passing the whole source, but what about an API that gives it access to the source? (Similar to the `sourceCode` API.)

[2016-09-12 17:19] yury-dymov commented on #7123
Hello @platinumazure,

 1. I didn't open issue there. I don't know much, how eslint works under the hood, therefore I haven't considered that it might be not your bug. I am sorry for inconveniences then.
 2. I was puzzled by "needs info" response. Eslint version was provided, reproducible source code was provided, affected rule was mentioned in the subject. My expectations are clear: eslint (or pl

[2016-09-12 17:31] deniseli opened #7126 "padded-blocks docs claim wrong default configuration"
**Tell us about your environment**
Chrome!

* **ESLint Version:** 3.4.0
* **Node Version:** 6.5.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**What did you do? Please include the actual source code causing the issue.**
config:
`"padded-blocks": 2,`

js that was linted:
[code]

**What did you expect to happen?**
Since http://eslint.org/docs

[2016-09-12 17:37] platinumazure commented on #7126
Can you try with the default parser?

Also, can you please edit the post to include the actual source code causing the issue?

A quick look at the source code shows that it does use "always" by default. There may be a bug here, but we don't have enough information to know for sure.

[2016-09-12 17:45] zirho commented on #5728
To exclude nested folder, something like this works.

public/js/*
!public/js/webpack
public/js/webpack/*
!public/js/webpack/src

[2016-09-12 17:54] #7123 closed

[2016-09-12 17:55] demisx commented on #2614
@IanVS Oh, I see. Sorry for misunderstanding.

[2016-09-12 18:13] deniseli commented on #7126
Sure! Just updated the post.

I got the same result with the default parser. Basically, when I explicitly set the config to `"padded-blocks": [2, "always"],` I get the following errors. When I don't, or when I set it to "never", I don't get errors.
[code]

[2016-09-12 18:18] platinumazure commented on #7126
Oh! Fascinating! I agree that looks like a bug. However, I can't reproduce in the online demo.

Here's what I tried (I took a subset of your code), maybe you can tell me if I've done something wrong?

/* eslint-env es6 */
/* eslint padded-blocks:2 */

[code]

[2016-09-12 18:30] nzakas commented on #7037
Closing as the release is now complete.

[2016-09-12 18:30] #7037 closed

[2016-09-12 18:31] deniseli commented on #7126
Weird, that looks right. Here's the rest of my config, minus the rule configurations. Is anything non-standard?

[code]

[2016-09-12 18:34] nzakas commented on #6724
@ariya We can't use `escodegen.attachComments` because the attachment is different. That's part of why we added comment attachment into Espree directly (also, doing it in Espree as much faster).

@kaicataldo that's an interesting case. I agree, it seems wrong to attach that comment as a trailing comment to the object expression, but on the other hand, where would we attach the comment otherwise? S

[2016-09-12 18:38] platinumazure commented on #7037
Not that there was much to report, but should we also use these issues for post-mortems or other release notes? (Well, not release notes, notes about the release.)

In this case, we just had a Jenkins disk space issue and then everything went smoothly, I think.

[2016-09-12 18:39] CrabDude commented on #3611
Also, since the OP is accepted and road-mapped, I'm still planning to submit a `files` PR with config-vector caching.

[2016-09-12 18:44] platinumazure commented on #7126
Ah, I didn't realize you were extending from a config. This is why we like the whole config :smile:

Our config extension process has one interesting bit of behavior: If a user extends a config with *just* an error level, then everything else about the base config for that rule is intact. This is intentionally done in case a user wants to use a rule and only change its error level, but otherwise l

[2016-09-12 18:44] nzakas opened #7129 "Traverse into type annotations"
Currently, we are not traversing into type annotations for either Flow or TypeScript. This is because the nodes on which these properties exist (`Identifier`, `FunctionDeclaration`, etc.) are already defined with a set number of children inside of `escope`, and so it doesn't search for unknown properties.

Now that we are doing more with type annotations, and the location of type annotation inform

[2016-09-12 18:45] deniseli commented on #7126
Ah, interesting! That was very helpful to learn. Thanks!

[2016-09-12 18:45] #7126 closed

[2016-09-12 18:46] platinumazure commented on #7126
@deniseli Please do let me know if the array (`[2]`) worked for you-- if not, I might open an issue to see if we can support both cases. Thanks!

[2016-09-12 18:47] nzakas commented on #7037
Ah yeah, that's a great idea.

Yes, so, the release was slightly delayed because the Jenkins VM ran out of disk space. I had to SSH in to free up some space so we could run the job.

The way we knew something was wrong was clicking "Schedule Build" resulted in nothing happening.

In the future, if that happens, first try to delete all of the workspaces for all of jobs on Jenkins. That probably wou

[2016-09-12 18:48] platinumazure commented on #7037
Thanks for all your hard work in automating the release process! Releases have been a lot smoother and less stressful (to my eyes, anyway) since I started contributing, and that can only be beneficial to everyone.

[2016-09-12 18:51] deniseli commented on #7126
@platinumazure Whoops - using the array didn't work. I'll just use the full config in this case, but supporting the list case *would* be cool!

[2016-09-12 18:53] platinumazure commented on #7126
@deniseli Thank you for testing that for me! I'll see if I can get the team on board to support different behavior for `2` vs `[2]` overrides.

[2016-09-12 19:43] kaicataldo commented on #6724
We actually do the opposite if a parsed file only contains a comment and attach it as a leading comment  to the program node (as opposed to a trailing comment in the example in my comment above). Is there any value to adding a new kind of comment key for cases where a node only contains a comment (what about a `comments` key? We could then just leave an empty file's program level key as `comments`

[2016-09-12 20:54] sethkinast opened #7130 "prefer-rest-params: ignore uses of ...arguments"
I would like to suggest a change to the **prefer-rest-params** rule.

My use case is thus:

[code]

In cases where a function takes many arguments, and you only want to operate on a subset, **prefer-rest-params** forces patterns like these:

[code]

The first pattern is not ideal because you have to change code in two places now if you change what variables you're using. The second pattern is not

[2016-09-12 20:59] platinumazure commented on #7085
@btmills @gyandeeps I count only two :+1:'s and champion (btmills champion, gyandeeps and platinumazure :+1:). Am I missing someone? Or should this not be accepted yet?

[2016-09-12 21:01] btmills commented on #7085
Could be I misunderstood the rules. Is it champion plus 3 :+1:, or can the champion count as one of the three :+1:?

[2016-09-12 21:02] platinumazure commented on #7085
My understanding is champion plus 3 :+1:s, maybe I have it wrong.

[2016-09-12 21:04] platinumazure commented on #7085
Never mind, found a buried :+1: by @vitorbal. We're good here, I'll review the PR now.

[2016-09-12 21:17] platinumazure commented on #7130
Hi @sethkinast, thanks for the issue. I can see this being a potentially worthwhile enhancement.

Unfortunately we do see dozens of issues a day, and it really helps us when issues follow a template. You have most of what we need, but can you please do me a favor and edit your post so it follows the "Proposing a Rule Change" template? Thanks so much!

[2016-09-12 21:20] sethkinast commented on #7130
The linked "Rule Change Proposal Template" at http://eslint.org/docs/developer-guide/contributing/rule-changes is 404

[2016-09-12 21:23] not-an-aardvark commented on #7046
Another short-term option would be to just run `npm run check-commit` in CI. eslintbot would keep doing what it normally does for incorrect commit messages (it would leave a comment explaining how to fix them), but there would be no need to comment "LGTM" for correct commit messages because the build would fail if the commit message was incorrect.

[2016-09-12 21:25] vitorbal commented on #7085
Sorry, if i have read this earlier I would've reiterated myself! But yeah, :+1: from me as well :)

[2016-09-12 21:27] platinumazure commented on #7130
Um. Cripes, we did a restructure of all those templates recently, sorry.

I do apologize, I meant [this template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md).

[2016-09-12 21:28] platinumazure opened #7131 "eslintbot message's template links are dead"
The eslintbot message now references documents in the developer-guide which have since been deleted and moved into templates in this repo. We need to change the bot so it points to the correct templates as well.

[2016-09-12 21:29] platinumazure commented on #7131
Never mind, no 404s here.

[2016-09-12 21:29] #7131 closed

[2016-09-12 21:30] platinumazure commented on #7130
@sethkinast Can't repro, still getting 404?

Are you using an HTTPS Everywhere extension that might be forcing https? Unfortunately the ESLint site doesn't support HTTPS.

[2016-09-12 21:32] sethkinast commented on #7130
No https. The bot links to https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal and under the heading "Proposing a Rule Change", the text "rule change proposal template" links to https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal which 404s for me (no .md extension)

[2016-09-12 21:33] sethkinast commented on #7130
Sorry, pasted the wrong link for what the bot links to.

[2016-09-12 21:34] sethkinast commented on #7130
Incidentally, I initially followed the link in the issue template, which goes to http://eslint.org/docs/developer-guide/contributing/changes and makes no mention of a template for rule changes, other than a little list which I did try to follow.

[2016-09-12 21:42] platinumazure commented on #7130
Ah, I think I get it. I think our website strips off .md extensions for hyperlinks (which is okay when the link is still in eslint.org), but it shouldn't do that for external links (to GitHub).

[This template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md) is the one we'll need. Thanks!

[2016-09-12 21:44] platinumazure commented on #7125
@ljharb FYI. Any chance you can take a look at this (and maybe help @RanadeepPolavarapu if s/he wants to put together a PR)? Thanks!

[2016-09-12 21:57] ljharb commented on #7125
Absolutely - @RanadeepPolavarapu please ping me if you need any help, or if you're not interested in making a PR, I can work on it.

[2016-09-12 22:10] sethkinast commented on #7130
See initial issue post for justification, explanation, etc.

**What rule do you want to change?** prefer-rest-params

**Does this change cause the rule to produce more or fewer warnings?** Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?** New default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule cur

[2016-09-12 22:12] platinumazure commented on #7130
Thanks! I'll champion this. (Assumption is that if the operand of a spread
operator is arguments, allow it, else follow the current behavior.)

On Sep 12, 2016 5:10 PM, "Seth Kinast" <notifications@github.com> wrote:

[2016-09-13 01:33] gucong3000 commented on #7077
@ilyavolodin
-   `editorconfig` does cascade.  you can have multiple editorconfig files in nested directories.
-   `process.cwd()` is often not the directory of the project.
-   `editorconfig` can create different configurations for different file names in  `.editorconfig` file.

[2016-09-13 01:38] kaicataldo commented on #6828
One more friendly ping for @nzakas

[2016-09-13 01:57] kaicataldo commented on #7124
Thanks for the issue report. I believe this rule is behaving as intended. It only warns on the last function parameter because you might have to define the previous parameters to be able to access it in the function body. It looks to me like `argsIgnorePattern` is also working as intended, as it then ignores any cases that match the regex (which, in your example, `_next` does). Does that make sens

[2016-09-13 02:21] platinumazure commented on #7124
@kaicataldo I'm not sure I agree. In the first example, next is unused, so req and res should not be "protected" by the (non-)use of next. In the second example, ignoring a parameter isn't the same as using it (or at least shouldn't be), so I wouldn't want req and res to be passed over in that case either.

Both of those seem like potential bugs to me, especially the second.

[2016-09-13 02:21] zoeingram commented on #7115
Hi, this is my first PR. I'll have it up in a day! Will let you know if I have any questions. Thank you :)

[2016-09-13 02:23] rkirsling opened #7134 "Add "allowStandalone" option to rule "no-plusplus"."
The stated purpose of [`no-plusplus`](http://eslint.org/docs/rules/no-plusplus) is to prevent errors caused by ASI/whitespace interaction; however, since such errors are already covered by [`space-unary-ops`](http://eslint.org/docs/rules/space-unary-ops), [`semi`](http://eslint.org/docs/rules/semi), and [`semi-spacing`](http://eslint.org/docs/rules/semi-spacing), this rule really just eliminates s

[2016-09-13 02:30] platinumazure commented on #7134
Are you requesting an option to allow ++/-- on single variables in statement position?

When you talk about replacing +=, that's a bit shaky because assignments are expressions in JavaScript:

[code]

[2016-09-13 02:32] platinumazure commented on #7115
@zoeingram Welcome to ESLint! Good luck with your PR and feel free to post here or stop by our [chat room](https://gitter.im/eslint/eslint) if you have questions or need help. Thanks in advance for your contribution!

[2016-09-13 02:35] rkirsling commented on #7134
Ack, thanks for pointing that out!

I had actually originally written "as standalone statements" and replaced it with "where they can be substituted for `+=` / `-=`", thinking the two to be equivalent, but I'd completely forgotten about the possibility you described.

I'll update the description accordingly.

[2016-09-13 02:48] mysticatea commented on #7124
Thank you for this issue.

This happens by the other option, [`args`](http://eslint.org/docs/rules/no-unused-vars#args).
The `args` option of `no-unused-vars` rule is `"after-used"` by default. This option will warn only the last argument. You can use another option `"all"`.

I'm interested in a change of the behavior.
It sounds good to me if `"after-used"` option warns the last parameter which is

[2016-09-13 02:52] mysticatea commented on #7124
By the way, @julienw might be interested in [no-use-ignored-vars](https://github.com/mysticatea/eslint-plugin/blob/master/docs/rules/no-use-ignored-vars.md) rule of my plugin. :smiley:

[2016-09-13 03:20] kaicataldo commented on #7124
@platinumazure Thanks for clarifying - that makes sense! I agree that an enhancement/bug fix for this would be great:

I'm :+1: for @mysticatea's suggestion to alter the `"after-used"` option to warn about the last parameter that isn't ignored (rather than simply the last parameter).

[2016-09-13 03:21] kaicataldo commented on #7124
Labeled as `enhancement`, but feel free to change it to `bug` if that seems more apt.

[2016-09-13 03:23] zoeingram commented on #7115
@platinumazure Thank you!  [PR is up](https://github.com/eslint/eslint/pull/7135) and ready for review :)

[2016-09-13 03:23] mysticatea commented on #7130
Thank you for this issue.

I'd like to see the concrete proposal.

- I'm not sure it should relax for `constructor(x) { super(...arguments, a, b) }`. I don't see differences between that and `constructor(x, ...rest) { super(x, ...rest, a, b) }`.
- I think `constructor(...args) { super(...arguments) }` this `arguments` should be warned.
- I think `constructor() { super(...arguments) }` this `argume

[2016-09-13 03:26] sethkinast commented on #7130
Interesting, thank you for the detailed thoughts.

For 1, I need to think about it more.
For 2, I agree.
For 3, I am not sure I agree-- I think this is the explicit case where the developer does not care about the arguments at all except to pass them along. This one is one of the primary drivers of my current issue. Could you elaborate on your reason for this one?

[2016-09-13 03:32] #6938 closed

[2016-09-13 03:33] mysticatea commented on #7130
Just it's the purpose of the rule :smile:
This rule prefers rest parameters than `arguments`.

[2016-09-13 03:37] #7115 closed

[2016-09-13 03:38] sethkinast commented on #7130
Haha, fair enough. I expected that the purpose of the rule was to avoid confusing uses of arguments (hence `prefer-` instead of `no-arguments`), but if that's the case I will probably not try to take this forward because it would not solve my primary problem with the rule.

I don't want to allow direct arguments property lookups, but I don't see the need to alias `arguments` just to pass it somewh

[2016-09-13 03:38] #7130 closed

[2016-09-13 04:51] not-an-aardvark commented on #7131
I'm not sure whether this is the same 404 that the other person was referring to, but I noticed that on [this page](http://eslint.org/docs/developer-guide/contributing/rule-changes), the link for "rule change proposal template" is broken. It goes to [here](/eslint/eslint/blob/master/templates/rule-change-proposal) which is a 404.

[2016-09-13 04:58] platinumazure commented on #7131
Yeah, it's the same. I misunderstood originally. I'm planning to reopen
once I can edit the original post.

On Sep 12, 2016 11:51 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-09-13 05:10] kdex opened #7136 "`eol-last`: Issues should be reported in last column, not the first"
Currently, `eol-last` always reports linting issues [in column 1](https://github.com/eslint/eslint/blob/master/lib/rules/eol-last.js#L42).

Earlier today, @kaicataldo and I had a [discussion about this](https://github.com/eslint/eslint/pull/6952#issuecomment-246533858) and thought that semantically, it would make more sense to report issues at: *last line, last column* (as opposed to: *last line,

[2016-09-13 05:11] not-an-aardvark opened #7137 "Allow the `object` or `property` option to be omitted with `no-restricted-properties`"
**What rule do you want to change?**

[`no-restricted-properties`](http://eslint.org/docs/rules/no-restricted-properties)

**Does this change cause the rule to produce more or fewer warnings?**

The default behavior of the rule would be unchanged.

**How will the change be implemented? (New option, new default behavior, etc.)? What will the rule do after it's changed?**

Currently, `no-restricted-

[2016-09-13 05:21] ljharb commented on #7137
My use case is to block `__proto__`, all the legacy getter/setter methods, and to block `splice`, all on any object.

[2016-09-13 05:23] not-an-aardvark commented on #7137
For what it's worth, you can already block `__proto__` with [`no-proto`](http://eslint.org/docs/rules/no-proto).

[2016-09-13 05:52] ljharb commented on #7137
With this change, `no-proto` could be deprecated in favor of the more generic rule :-p or at least reimplemented in terms of it.

[2016-09-13 06:06] ljharb commented on #7125
I'm going to put up a PR for this shortly, since this is my bug - @RanadeepPolavarapu, I hope you don't mind!

[2016-09-13 06:13] ljharb commented on #7125
https://github.com/eslint/eslint/pull/7138 filed

[2016-09-13 06:26] not-an-aardvark commented on #7137
Decided to go ahead and implement this; see #7139.

[2016-09-13 08:20] mysticatea commented on #6070
Thank you for the explanation. I got it.

If the rule checks `exports.foo` also, which is this rule's behavior?

A. Check around the sequences of exporting.

[code]

B. Check around each exporting.

[code]

[2016-09-13 08:27] vitorbal commented on #7098
@platinumazure I think that could make a lot of sense if a few of our formatters could output some context depending on the presence or absence of a `sourceContext`. But wouldn't it be weird to have a CLI option that only works with certain formatters?

@btmills I think the formatters were intentionally designed to be "dumb" and only export a function that takes in the array of problems and output

[2016-09-13 08:42] mysticatea commented on #7084
I'm working on this.

[2016-09-13 08:44] alexsunxl commented on #7033
@vitorbal  sure. thanks you all

[2016-09-13 08:44] #7033 closed

[2016-09-13 08:49] vitorbal commented on #7136
I think lines + 1 could create unexpected behavior as you mentioned, so "last line, last column" sounds good to me.
Not sure if this should be considered an enhancement or a bug fix, though.

[2016-09-13 09:07] vitorbal commented on #7137
Just a thought: could we use `"*"` or something similar when we want to signify "any object" or "any property"?
[code]

Another thought, what if `object` and `property` could take a regular expression? Would that be useful?

[2016-09-13 09:22] mysticatea commented on #7101
I agree! In the ideal world, definitely `keyword-spacing` should warn the space.
But in this world, I have the concern that the priority of spacing rules is confusing: a mix of `keyword-spacing > space-before-function-paren` or `keyword-spacing < space-before-function-paren`.

| | keyword-spacing | space-before-function-paren |
|:--:|:--|:--|
| Pros | don't need to modify `space-before-function-pa

[2016-09-13 09:55] mysticatea commented on #7124
Yeah, I think this is a bug since we can overlook unused variables.
I'm working on this.

[2016-09-13 10:04] nene commented on #6701
Published a custom rule for this: https://github.com/nene/eslint-plugin-no-null

[2016-09-13 12:35] platinumazure commented on #7136
:+1: for last line, last column. My vote is bug fix, because report count won't change and reports are currently wrong.

[2016-09-13 14:24] vitorbal commented on #7136
@platinumazure good point, agreed!

[2016-09-13 14:46] RanadeepPolavarapu commented on #7125
@ljharb Thanks for the PR. I apologize for my late reply, I fell ill and was resting.

[2016-09-13 14:50] cowboyd opened #7144 "eslint throws exception when no configuration file found."
When no configuration file is present, eslint prints an exception backtrace to the console and returns an exit status of `1`. This throws a spanner in the works of automated syntax checkers like flycheck [as seen here][1].

[code]

One possible solution would be to make this a warning not an error, or also to have an option to suppress the error / warning. e.g. `eslint --no-configuration-ok`

###

[2016-09-13 14:56] platinumazure commented on #7144
This was an intentional change with ESLint 3.0.0.

When ESLint doesn't have a configuration file and no .eslintrc.* file is found in the CWD, ancestor directories, or in a user's home directory, ESLint used to run with no rules turned on (so that it only parsed). That wasn't very useful to a lot of people, so we decided to require either a configuration file, or a CLI option that informed ESLint a

[2016-09-13 14:59] Simplify commented on #7144
Just for the record:
flycheck prefers structured output and we use --format=checkstyle. We are expecting result as XML but we get text output:

[code]

is it possible to format this error as CheckStyle XML for first line and first character in file? In that case error will be shown on the first line in Emacs buffer.

[2016-09-13 15:13] #7100 closed

[2016-09-13 15:14] platinumazure commented on #7144
@Simplify That's something we can consider. However, I want to make sure you're aware of another workaround you can already use: If flycheck is a Node app and/or if you're willing to write a simple Node app, you could use our [CLIEngine API](http://eslint.org/docs/developer-guide/nodejs-api) to run ESLint, and the error will be merely a thrown exception instead of CLI output. Then you could put a

[2016-09-13 15:19] cowboyd commented on #7144
@platinumazure flycheck is an elisp package, so would prefer not to have to install any extra supporting node packages into the environment just to support an editor.

The problem isn't so much that flycheck is erroring, but that it's impossible to distinguish the error from system level errors like not being able to resolve a dependent npm package. Kinda like an API that returns a `500` for a val

[2016-09-13 15:20] Simplify commented on #7144
@platinumazure [Flycheck](http://www.flycheck.org/en/latest/) is GNU Emacs extension written in Emacs lisp. It uses various syntax checking and linting tools to automatically check the contents of buffers while you type, and reports warnings and errors directly in the buffer, or in an optional error list. Our only option is to eslint executable.

[2016-09-13 15:27] platinumazure commented on #7144
@Simplify Thanks for explaining about your execution environment, that's helpful.

@eslint/eslint-team So we have two proposals for the problem described in this issue. One, provide a CLI option `--no-configuration-okay` or similar which disables the configuration check. Two, allow uncaught exceptions to be somehow output through the user's desired formatter. Can we consider either of these? Is th

[2016-09-13 15:28] #7085 closed

[2016-09-13 15:30] not-an-aardvark commented on #7137
@vitorbal The issue with wildcard strings is that they're indistinguishable from properties. For example, the following code currently reports an error:

[code]

[2016-09-13 15:36] Simplify commented on #7144
@platinumazure Please don't do `--no-configuration-okay`, there is already `--no-eslintrc` but we can not use it. The reason is that we can not detect that ESLint configuration is present, due to 6 different ways to configure ESLint. With most checkers/linters we can detect configuration up to users home directory, because most tools use same name for config file. With ESLint is that not possible,

[2016-09-13 15:38] platinumazure commented on #7144
@Simplify I added a third proposal in my earlier post (edited in later, so you may have missed it). That proposal is to use a different exit code for failed linting (which should output using the formatter) vs uncaught exception (in which all bets are off). Right now, both have an exit code of 1. If an uncaught exception had a different exit code, would that be sufficient to tell flycheck not to t

[2016-09-13 15:39] platinumazure commented on #7137
I'd prefer either omitting the property or using `null` as a wildcard (well, as an "unspecified" token I guess?). Just my two cents.

[2016-09-13 15:43] Simplify commented on #7144
@platinumazure No, don't think so, we always expect structured output.

@lunaryorn Any thoughts?

[2016-09-13 16:01] alphanull opened #7145 "Option to tolerate single lines with padded blocks"
**What rule do you want to change?**

"padded-blocks"

**Does this change cause the rule to produce more or fewer warnings?**

fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option. Could be similar to `{ "allExcept": ["singleLine"] }` in JSCS (http://jscs.info/rule/requirePaddingNewLinesAfterBlocks)

**Please provide some example code that this chang

[2016-09-13 16:05] alphanull opened #7146 "Option to enforce padded blocks only over a certain line threshold"
**What rule do you want to change?**

padded-blocks

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option. Maybe something like: `{ minLines: n }`

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

War

[2016-09-13 16:16] lunaryorn commented on #7144
@cowboyd @Simplify Thank you for bringing this issue up.

@platinumazure As a maintainer of Flycheck—i.e. a tool that runs eslint in an automated, noninteractive fashion—I'd prefer if it did not error out at all.

As things stand eslint is a lot less useful to us than it could be.  As it refuses to do anything in the absence of a configuration file we can't use it as default syntax checker and lin

[2016-09-13 16:21] btmills commented on #7145
Since the link seems to be broken at the moment, here's our [rule change proposal template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md).

[2016-09-13 16:22] alphanull commented on #7146
I actually did look up the "Proposing a Rule Change" page but the link to the template seems to generate a "404": https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal

Otherwise, I _think_ I have provided all information that is actually needed. So what could be missing?

[2016-09-13 16:24] btmills commented on #7146
@alphanull sorry about the broken link, we're working to fix that. [Here's the template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md). You got most of it, you should be able to tweak your existing posts a bit.

[2016-09-13 16:28] alphanull commented on #7145
No problem, I have updated my initial post. Hope its OK now.

[2016-09-13 16:35] alphanull commented on #7146
No problem, I have updated my initial post. Hope its OK now.

[2016-09-13 16:36] btmills commented on #7145
Thanks @alphanull. Since this is similar to a JSCS option, I've gone ahead and added it to the JSCS milestone.

JSCS has five possible exceptions for the [requirePaddingNewLinesAfterBlocks](http://jscs.info/rule/requirePaddingNewLinesAfterBlocks) rule:

Is this something where we should add them all at once, or just as requested (`"singleLine"`) in this case?

[2016-09-13 16:40] btmills commented on #7146
Thanks @alphanull, looks good now.

I don't have any strong opinions on this, let's see what the rest of the team thinks.

[2016-09-13 16:43] alphanull commented on #7145
`"singleLine"` would be what bothers me the most right now. But in this case other options could also be useful to other folks (and maybe even to me, not sure ATM), so why not add them all at once? Then it would also be fully compatible to JSCS. In addition, I would also like to see an option to specify minumum number of lines within a block, like described in #7146. And yes, adding options to enf

[2016-09-13 16:44] platinumazure commented on #7146
I don't use padded-blocks myself (my style is to add padding to the *outside* of blocks), but this seems like a reasonable request. I'll endorse (:+1:).

[2016-09-13 16:44] vitorbal commented on #7137
@not-an-aardvark ah, makes sense, thanks for the explanation! I don't have a strong opinion about this so I would be fine with omitting the property as well.

[2016-09-13 16:44] alecharmon commented on #7137
Wouldn't it be even clearer to introduce an  'all-objects' option that takes a bool rather than leave it to the ambiguity of null?

[2016-09-13 16:46] platinumazure commented on #7145
We just need to be careful about where we might be covering the other JSCS options in other ESLint rules. For example, "inProperties" might be covered by ESLint rule `object-curly-newline`.

[2016-09-13 16:46] ljharb commented on #7137
@alecharmon and also `all-properties`? The current proposal seems the clearest to me.

[2016-09-13 16:50] platinumazure commented on #7137
Ah, I didn't realize JSON Schema would let us require just one or the other (in conjunction with anyOf). Okay, I like the original proposal (just omit the config properties as needed) better and withdraw my suggestion of null valuing.

[2016-09-13 17:04] alphanull commented on #7146
Thank you platinumazure! Imho, the ability to add padding outside of blocks as well is also useful.

[2016-09-13 17:07] Simplify commented on #7144
Actually, having `--check-config` or '--show-config-location` option in ESLint that prints location of configuration  file of showing notice that there is no configuration is best solution to this problem. In the case that there is configuration, we can still be using ESLint as default JS checker in Emacs and keep ESLint as first JS checker. If there is no configuration we know that using ESLint c

[2016-09-13 17:08] ljharb opened #7147 "`no-restricted-properties`: does not work with destructuring"
**Tell us about your environment**

* **ESLint Version:**
v3.5.0
* **Node Version:**
v6.5.0
* **npm Version:**
3.something

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
n/a

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
[code]

**What actually happened? Pleas

[2016-09-13 17:16] alphanull commented on #7146
In addition, I think the following restrictions should apply to `minLines`:

* has to be an integer
* has to be greater than zero

[2016-09-13 17:35] nzakas commented on #7046
@not-an-aardvark we moved away from that because it blurs the line between a CI test failure (most likely a unit test or linting) vs. a commit format issue (that might be able to be fixed upon merging).

[2016-09-13 17:37] ljharb commented on #7046
Can test and lint failures not possibly be fixed on merging?

[2016-09-13 17:42] nzakas commented on #7046
@ljharb that would require merging the code and then someone manually fixing it, which doesn't scale. With commit message formatting, we can just change it right in the UI.

[2016-09-13 17:48] nzakas commented on #7124
Logistics: Use both "bug" and "enhancement" labels if it's a confirmed bug and the fix would result in more warnings being reported.

[2016-09-13 17:50] ftorrado opened #7148 "Rule extension proposal: id-blacklist option to ignore property names"
**What version of ESLint are you using?**

^2.11.1

**What problem do you want to solve?**

When using the "id-blacklist" rule, object properties are always included. There should be a way similar to what happens on the "id-length" rule where there is the option to ignore property names. Converting identifiers for existing data models is not an option in many cases.

---

EDIT:

**What rule do you

[2016-09-13 17:54] #7062 closed

[2016-09-13 18:08] ljharb commented on #7046
ah, i was assuming you were talking about merging from the command line, where you can change all those things.

[2016-09-13 18:14] nzakas commented on #7046
After discussing with the team, we do recognize that there's a bit of annoyance with the multiple "LGTM"s on pull requests. However, the amount of work it would take to do something more optimal is pretty high (it would require rewriting the bot), and given that this is a minor annoyance and our current solution is flexible enough to use in all of our repos, we aren't going to investigate this any

[2016-09-13 18:14] #7046 closed

[2016-09-13 18:17] nzakas commented on #6996
Let's just discuss directly on #7095 in order to avoid having the conversation in two places.

[2016-09-13 18:17] #6996 closed

[2016-09-13 18:22] #6731 closed

[2016-09-13 18:36] nzakas commented on #6828
Sorry, I get so many notifications that pinging me with mentions isn't really going to get my attention. It's best to try to catch me in the chatroom for faster turnaround.

I don't think `newLineFunction` and `newLineBlock` clearly describe what they do when enabled. In fact, I had to re-read this issue five times before I remembered exactly what this proposal was about, which is a good indicatio

[2016-09-13 18:40] nzakas commented on #6980
TSC Summary: There is a proposal to autofix the `no-tabs` rule. I believe there is no good way to do this because the rule doesn't know what the correct fix is in this case (it's only disallowing something). The proposal is to use a mixture of inserted spaces and/or removing tabs without replacement depending on location.

TSC Question: Should we do autofix for `no-tabs`?

[2016-09-13 19:16] nzakas commented on #7144
Can someone please summarize this thread? I'm having a hard time seeing a clear definition of the problem and the three proposals to consider.

One thing I do want to point out: we don't have a standard output format for non-code errors. Our formatters are designed specifically to output linting/parsing errors, or other errors that are found in the code. Our general approach is that all other erro

[2016-09-13 19:29] nzakas commented on #7098
I'm not a fan of adding another property to each message, as it seems like the possibility of adding redundant information to multiple messages is quite high. Before I delve into this, I'd like to offer some background.

## Background

The way formatters currently work is that all of the linting is done first and the results are aggregated into a `report` object. Then, the `report` object is used

[2016-09-13 19:39] nzakas commented on #6724
The empty-file-except-comment case is a special case, so I'm not sure we can look to that as a good example of what to do here.

Maybe it's worth having the concept of "child comments" when there are no child nodes except for comments? That would mean `getComments()` would return an object like:

[code]

[2016-09-13 19:42] kaicataldo commented on #6724
I'll have to figure out how to check the inside of nodes for comments, but I like that idea! Just to confirm, this is only when there is a comment but no child nodes to attach to, correct?

[2016-09-13 19:53] nzakas commented on #7037
After investigating a bit more, I found that there were over 30GB of jenkins logs in `/var/log/jenkins/`. I think that's what needs to be cleaned up more frequently.

[2016-09-13 19:59] Simplify commented on #7144
@nzakas let me summarize this problem:

1. Flycheck is Emacs extension. It uses various syntax checking and linting tools to automatically check the contents of buffers while you type, and reports warnings and errors directly in the buffer, or in an optional error list.
2. Flycheck supports around 80 different "checkers" for many different languages and ESLint is one of them. There are also extens

[2016-09-13 20:06] CrabDude commented on #3611
[[Copied from the mailing list, in case it's best discussed here.]](https://groups.google.com/forum/#!topic/eslint/A2aFaoRQ3m4)

I noticed config files are cached in `config.localConfigFinder` / `FileFinder`, but not the config contents. This makes a little sense since merged directory configs are cached, but it's also a weird since incremental cacheing is not utilized (i.e., traverse up config hi

[2016-09-13 21:14] platinumazure commented on #7144
@Simplify Just out of curiosity, what happens when you run `eslint --print-config` when no config is available? Wondering if that could give a clue about presence or absence of config, but it wouldn't be very useful if we populate some defaults in that case.

[2016-09-13 21:23] sstern6 commented on #7069
@vitorbal I can have a PR open for this today, should we simply remove the bad examples or replace the bad examples with new `correct` ones?

Thanks

[2016-09-13 21:29] Simplify commented on #7144
I just try it and now I'm confused. Without config I get same output as when running `eslint --help`. With config `.esintrc.js` file in same directory (just generated with `--init`) I also get same output. A bug?

[code]

Config is present:
[code]

Running with `--print-config` option:
[code]

[2016-09-13 21:34] vitorbal commented on #7069
@sstern6 I think we should replace them with correct ones!

[2016-09-13 21:35] platinumazure commented on #7144
Ack, my fault. You have to specify a file (`eslint --print-config some-file.js`).

[2016-09-13 21:35] sstern6 commented on #7069
@vitorbal will have it up for review this afternoon.

Thanks

[2016-09-13 21:55] Simplify commented on #7144
Ok, `--print-config String` in help will be more helpful.

With config file you get JSON configuration printed out, but when running without config, exit status is still 1 and same error message is displayed. Why just not print "ESLint can't find any configuration" or empty JSON `{}` when running with `--print-config` at least?

@lunaryorn We can try to use this exit status as workaround in `:pred

[2016-09-13 22:10] platinumazure commented on #7144
Thanks for trying that out, I agree that experience can be improved.

Let's see what the team thinks about your summarized proposal.

On Sep 13, 2016 4:55 PM, "Saša Jovanić" <notifications@github.com> wrote:

[2016-09-13 23:21] CrabDude commented on #3611
So, all tests are passing with vector-based cacheing except:

[code]

What is the reasoning for this test / disallowing iterative cacheing when using the same instance of Config? If a fresh cacheing is desired, why not instantiate a `new Config`, especially since directory cacheing is allowed & implemented? (e.g., `config.cache[directory]`)

[2016-09-13 23:39] sstern6 commented on #7069
@vitorbal PR open and ready for review.  Let me know if you need anything else.

Thanks

[2016-09-14 01:52] jrsearles commented on #6828
Hi @nzakas - thanks for the input. The PR ended up diverging from my original request to give a bit more flexibility so what you were referencing wasn't relevant. Sorry for the confusion. I've updated the original request to match what the PR contains.

To summarize, it enables individual handling of brace-styles per block.

I don't think the predefined styles make sense when it comes to individua

[2016-09-14 03:11] not-an-aardvark commented on #7147
I have a fix for this, but I ended up building it on top of #7139 to avoid having to rewrite it when/if #7139 gets merged. Should I add the fix to #7139, or wait until #7139 is merged and then submit a PR afterwards?

[2016-09-14 03:33] platinumazure commented on #7147
My suggestion is write on top of the other PR and rebase when the other one is merged, but do what's easiest for you!

[2016-09-14 03:38] not-an-aardvark commented on #7147
Thanks, but I meant to ask whether I should add the fix to the #7139 branch, i.e. have the fix and the rest of #7139 be part of the same PR. I supposed it's probably better to wait for #7139 to get merged and then make a PR for the fix separately.

[2016-09-14 03:40] platinumazure commented on #7147
As long as you rebase after the original PR is merged, I think you can do
basically whatever you like.

On Sep 13, 2016 10:38 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-09-14 05:22] sstern6 commented on #4161
@ilyavolodin think I have found where the issue is coming from but I am having trouble identifying what file the fix should come from.

When you run the code:

[code]
`ArrayExpression(node)` is never called, meaning this format of declaring a var never gets assigned to an ArrayExpression.

However, when the code is:

[code]
`ArrayExpression(node)` IS called triggering `checkIndentInArrayOrObjectBl

[2016-09-14 07:41] LukeusMaximus opened #7153 "consistent-this shouldn't flag up assignment of this to a variable outside current function."
**What version are you using?**
v3.4.0
**What did you do?**
[code]
**What happened?**
ESLint reported that `someVariable` is an unexpected alias of `this` (consistent-this)
**What did you expect to happen?**
ESLint not to flag this up as a contravention of the consistent-this rule because the assignment statement is assigning `this` to a variable outside the current function. Attempts to alias `th

[2016-09-14 09:11] Simplify commented on #7144
Well, out `predicate` runs every time before Emacs buffer is checked, so running `eslint --print-config <filename>` every time user changes buffer is not really an option.

[2016-09-14 09:39] lunaryorn commented on #7144
@Simplify I think we can handle that.  I believe that `--print-config` is sufficient for our purposes, and I think we should rather improve the way we filter checkers…

@platinumazure Thanks a lot for your help!

[2016-09-14 09:48] vitorbal commented on #7007
Still no response, so closing.

[2016-09-14 09:48] #7007 closed

[2016-09-14 10:07] vitorbal commented on #7098
@nzakas thank you for taking the time for the detailed response, really appreciate it!
I'm gonna give your proposed solution a try tonight and i'll report back :)

[2016-09-14 11:46] vitorbal commented on #7025
@platinumazure looks like we lost track of this one. @jankuca thanks for getting back to us. You could add "fallthrough" to the beginning of your comment like this:
[code]

Would that be enough to solve your issue?

[2016-09-14 13:19] vitorbal commented on #7148
hey @ftorrado, thanks for reaching out!

Could you do us a big favor and fill in the rest of the [template for proposing a rule change](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md)?

That will help the team understand what you are proposing and allow us to give quicker feedback on your proposal. Thanks a lot!

[2016-09-14 14:15] peet opened #7154 "line-comment-position and default-case exception comment"
**Tell us about your environment**
- **ESLint Version:** 3.5.0
- **Node Version:** 6.5.0
- **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** None

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The `// no default case` comment, as specifie

[2016-09-14 15:20] coljung commented on #5498
Sorry to bump this again, but after trying the multiple suggestion here, i'm still unable to make the error go away, this is my code:

[code]

[2016-09-14 16:59] vitorbal commented on #4161
If you drop the example code in astexplorer, you can see the ArrayExpression node in there: https://astexplorer.net/#/mdfJnwsl7S
So I don't think that's the problem. Are you sure `checkIndentInArrayOrObjectBlock(node)` is not being called? Maybe it is being called, but going into one of the early `return` statements of that function.

[2016-09-14 17:20] vitorbal commented on #6070
Good question. I would vote for B, but I am not sure. @eslint/eslint-team any thoughts on @mysticatea 's question above?

[2016-09-14 17:25] vitorbal commented on #6954
PR is up here: #7155

[2016-09-14 17:58] sstern6 commented on #4161
@vitorbal I put a `console.log` inside of this function https://github.com/eslint/eslint/blob/master/lib/rules/indent.js#L891 right before `checkIndentInArrayOrObjectBlock(node)`. When analyzing the code:

[code]

The console.log is never reached.  However, when running with:

[code]

The console.log is reached.

That is how I came to the conclusion.  Does that sound reasonable?  Will continue to

[2016-09-14 18:07] #4274 closed

[2016-09-14 18:20] nzakas opened #7156 "Updated process for evaluating rule proposals"
Right now, we have a process where we need one champion and three :+1:s to accept new rule proposals or new rule option proposals. However, with our issues getting a lot more traffic, it's becoming harder to easily see when one of these proposals has reached the necessary consensus. People add :+1: comments in addition to questions, and so we spend a lot of time scrolling up to find other :+1:s. A

[2016-09-14 18:23] nzakas commented on #7144
Does that mean we don't need to make any changes?

[2016-09-14 18:27] nzakas commented on #2645
Unfortunately, it looks like no one was willing to work on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that "help wanted" issues that aren't addressed within 90 days tend to never get addressed, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the

[2016-09-14 18:27] #2645 closed

[2016-09-14 18:27] nzakas commented on #2668
Unfortunately, it looks like no one was willing to work on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that "help wanted" issues that aren't addressed within 90 days tend to never get addressed, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the

[2016-09-14 18:27] #2668 closed

[2016-09-14 18:28] nzakas commented on #5709
Unfortunately, it looks like no one was willing to work on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that "help wanted" issues that aren't addressed within 90 days tend to never get addressed, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the

[2016-09-14 18:28] #5709 closed

[2016-09-14 18:29] mikesherov commented on #7156
:+1:

[2016-09-14 18:33] platinumazure commented on #7144
@nzakas I can't speak to whether we need to make changes for flycheck's issues, but I definitely will write a PR to improve the CLI documentation around `--print-config`. (I might actually restructure the option to take a file path string argument, which will require tweaking some of the code in `bin/eslint.js` as well since right now it looks for a positional file name argument when running in "p

[2016-09-14 18:33] nzakas commented on #7098
@vitorbal sure thing, here's a hint on how i'd go about implementing it:

In `CLIEngine#getFormatter()`, I'd make that return a function that already has the cache bound to it. Something like this:

[code]

Ugh, on second thought, it looks like we have a static `getFormatter()` method that wouldn't have access to a `sourceCache` object. :( So maybe my solution is a no-go.

[2016-09-14 20:00] nzakas commented on #7144
@platinumazure sorry for being unclear, I was asking @lunaryorn.

I don't think it's worth messing with exit codes. The last time we tried to change exit codes (make the exit code the number of lint errors), it was a disaster and broke a lot of people's CI systems. I don't think changing exit codes is useful enough to consider it again.

In the meantime, this is still labeled as a question. If it

[2016-09-14 20:06] nzakas opened #7157 "Proposal: Require reviews for all pull requests"
Today, GitHub released its pull request reviews feature (see https://help.github.com/articles/about-pull-request-reviews/). This gives an explicit signal as to whether a reviewer believes the PR should be merged.

I'd like to propose that we start requiring reviews for all pull requests and that we [protect the master branch](https://help.github.com/articles/about-required-reviews-for-pull-request

[2016-09-14 20:12] vitorbal commented on #7157
Totally agree. This should also make it easier to go through open PR's and find the ones that are ready to be merged or not.

[2016-09-14 20:32] kaicataldo commented on #6070
Maybe someone from the JSCS team can comment on the behavior of the original rule so that we can ensure compatibility. The docs only have examples of 1 `module.export`, so it's not entirely clear to me.

Either way, could it be worth making an option that allows the user to pick from the options above?

[2016-09-14 20:47] vitorbal commented on #6070
As far as I understood from the rule source, the original JSCS rules only looked for `module.exports`  and didn't care about `exports.foo = 1` format at all.
Maybe checking `exports.foo` format should be as a whole an option?

[2016-09-14 20:54] CrabDude commented on #3611
Following up on [my `require-uncached` comment]().

Looks like `require-cached` is necessary to avoid process-level caching via `require.cache` (https://github.com/eslint/eslint/issues/5067, https://github.com/eslint/eslint/commit/29772486, https://github.com/eslint/eslint/commit/f912e217).

However, since each "run" instantiates a `new Config`, caching at the `Config` instance level  (e.g., `conf

[2016-09-14 21:38] lunaryorn commented on #7144
@nzakas Let's say that we can cope with eslint's current behaviour: `--print-config` provides sufficient information to detect whether eslint would work for a particular file which—with some additional infrastructure in our code—provides what we need to make a decision about whether we should use eslint for a file.

So if you're asking me whether you can get away without making any changes to esli

[2016-09-14 22:16] vitorbal commented on #7098
@nzakas what if we add an additional property to the returned object of executeOnFiles(), like this: https://github.com/eslint/eslint/compare/jscs_formatter_v2?expand=1

[2016-09-14 23:10] ilyavolodin commented on #7157
My only concern is critical fixes. There were a few times when release broke something major and I had to push critical fix and merge it right in. However, that's probably less then 1% of our PRs, so I'm not sure we should focus on edge-case here.

[2016-09-14 23:16] sstern6 commented on #4161
@vitorbal ya through some additional searching it wasnt  what I thought, you were right, `checkIndentInArrayOrObjectBlock` was exiting too early.

Will have a fix up hopefully in the next day!  Thanks for the advice

[2016-09-15 01:50] michaelficarra commented on #7156
Sounds good.

[2016-09-15 02:29] ilyavolodin commented on #7098
@vitorbal One thing to keep in mind. We already had reports (couple of them a while back), that on a very large code base with a lot of errors, formatters run out of memory. If we add a lot of additional information to error code, those reports will most likely start showing up a lot more often.

[2016-09-15 03:48] robbiemu opened #7158 "exponentiation ** not accepted with es6 rules"
**Tell us about your environment**

* **ESLint Version:**
3.5.0
* **Node Version:**
4.4.0
* **npm Version:**
2.14.20

**What parser (default, Babel-ESLint, etc.) are you using?**
don't know. I'm using visual studio code's eslint extension.

**Please show your full configuration:**
The eslintrc.json? here it is:
[code]

**What did you do? Please include the actual source code causing the issue.**
[

[2016-09-15 04:05] zamb3zi commented on #4638
I think it would be great to have fixes like this that are clearly labelled beta/dangerous. I have no doubt people are implementing things like this for private use, but it would be great to share and possibly migrate them into the non-beta/recommended stream in future.

[2016-09-15 04:15] mysticatea commented on #7158
Thank you for this issue.

Exponential operators are not part of ES2015 (ES6).
You need the setting to enable ES2016.

[code]

[2016-09-15 04:21] mysticatea commented on #4638
@zamb3zi Currently, we are accepting autofix for codes. For `prefer-template`, we are discussing in #6978.

[2016-09-15 05:35] kaicataldo commented on #3763
Closing this issue as it has been open for more than 90 days and doesn't have anyone from the team or the community working on it.

[2016-09-15 05:35] #3763 closed

[2016-09-15 08:45] kumarharsh opened #7159 "Proposal to add a rule to hide the File ignored because of a matching ignore pattern. Use --no-ignore to override error"
**Tell us about your environment**

* **ESLint Version:** ALL
* **Node Version:** ALL
* **npm Version:** ALL

**What parser (default, Babel-ESLint, etc.) are you using?** ANY

**Please show your full configuration:** Doesn't Matter

**What did you do? Please include the actual source code causing the issue.** Refer to this issue: https://github.com/eslint/eslint/issues/5623

**What did you expect

[2016-09-15 08:48] mysticatea commented on #7144
I'm interested in this.
Our formatter feature cannot format error messages, but tools would expect formatted error messages.
It sounds reasonable to me if we add the feature to format error messages into formatters.

For example:

[code]

- If the `formatError` function is not defined, ESLint shows errors as same as current.
- Node.js API does not use this feature since someone can use `try-catch`

[2016-09-15 12:09] mysticatea commented on #7159
Thank you for this issue.

That warning is shown if you specify **one file** to lint it and if the file is ignored.
Someone intended to check the file but it was ignored. ESLint should show that the file was ignored.
So I don't think hiding the warning is reasonable.

Also, ESLint Node.js API does not return that warning by default. ([cli-engine.js#L732](https://github.com/eslint/eslint/blob/cd09c

[2016-09-15 12:36] kumarharsh commented on #7159
haha, sorry @mysticatea . Didn't really mean "ALL" all, but I've been seeing the issue for a long time, and didn't know (or didn't bother) where to check when this issue started coming.

Thank you for the clarification that the issue might lie with the plugin. I'll have a look in vscode-eslint's internals then. I guess this issue can be closed?

[2016-09-15 13:42] ilyavolodin commented on #7075
@ljharb Those two deal with arguments passed into `Reflect.apply`, so I don't think they are related to this issue.

[2016-09-15 15:33] not-an-aardvark commented on #6978
I can work on this (assuming @mysticatea isn't working on it already).

[2016-09-15 15:36] jscharett opened #7161 "max-statements does not count chained callbacks"
**What rule do you want to change?**
max-statements

**Does this change cause the rule to produce more or fewer warnings?**
It may cause it to produce more warnings, depending on codebase.

**How will the change be implemented? (New option, new default behavior, etc.)?**
Via a new option, so as not to break current functionality.

**Please provide some example code that this change will affect:**

[2016-09-15 15:45] ljharb commented on #7075
Oops, you're right. I was thinking of #7119.

[2016-09-15 16:25] platinumazure commented on #7161
I don't agree that max-statements or max-len statements-per-line should be modified in this case. Instead, there should be a rule that detects long call chains.

[2016-09-15 17:13] smdern opened #7162 "Infix operators must be spaced for flow"
**Tell us about your environment**
- **ESLint Version:**
  v3.5.0
- **Node Version:**
  v6.5.0
- **npm Version:**
  3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Not get a linting error right

[2016-09-15 18:06] jscharett commented on #7161
Well, I guess it comes down to what is considered a statement.  I'll buy into that a chained/composite statement can be considered a single statement, but isn't it ultimately a group of statements?  The fact that they are chained should not prevent counting them imo.

I think a rule to detect long chains would be a good idea,  but then it forces me to use 2 rules.  Maybe I just have the wrong idea

[2016-09-15 18:53] platinumazure commented on #7161
@jscharett The ECMAScript spec is very clear on what a statement is. Multiple chained calls constitute one statement. We have to be very careful about confusing our users by overloading the meaning of a term such as "statement".

Using two rules might sound painful, but really, the reason for two rules is because they would be used for two different purposes. One limits the total number of stateme

[2016-09-15 19:25] niksajanjic commented on #7085
Hi, why are docs updated to support exceptions array for this rule:

http://eslint.org/docs/rules/class-methods-use-this

When latest release of eslint 3.5.0 doesn't yet support it. I see it's been merged 2 days ago and latest version was released 6 days ago so it's obvious it isn't supported, but then again that adds confusion so I just spent some time figuring out why it doesn't work assuming it

[2016-09-15 19:28] gyandeeps commented on #7085
The docs doesnt show the exception array option. what am i missing?
I jus tried the link which you pasted

[2016-09-15 19:29] gyandeeps commented on #7085
I think now you just edited the link on your post:
this is the original link: http://eslint.org/docs/rules/class-methods-use-this

Thats what people should be looking at.

[2016-09-15 19:29] niksajanjic commented on #7085
Sorry, I pasted wrong link, but then again the link I edited afterwards isn't part of official eslint documentation so it is my fault. Sorry.

[2016-09-15 19:49] #5912 closed

[2016-09-15 19:51] dwhieb commented on #7075
Yeah, I'm working on getting #7119 in shape for merging to address this issue.

[2016-09-15 19:51] nzakas commented on #7157
Okay, looks like everyone is in favor of this, so I'm enabling the check on pull requests.

To summarize: make sure when you review a PR that you submit an official review that indicates comment, approved, or changes are required. PRs won't be able to be merged until there are approvals.

[2016-09-15 19:51] #7157 closed

[2016-09-15 19:55] nzakas commented on #7157
Oops, for some reason I didn't see the comments until I refreshed the page.

@ilyavolodin for critical fixes, we probably want to get another set of eyes on it.

...however, TSC members can merge without waiting for an approval if absolutely necessary. This is the default GitHub setting (admins can merge without approval).

[2016-09-15 20:29] btmills commented on #7129
In the 2016-09-15 TSC meeting, we decided to add traversals for [type annotations](https://github.com/estree/estree/blob/master/extensions/type-annotations.md) and [decorators](https://github.com/estree/estree/blob/master/experimental/decorators.md) in v4.0.

[2016-09-15 20:51] btmills commented on #6980
After discussion in the 2016-09-15 TSC meeting, we decided not to add autofix to the `no-tabs` rule.

[2016-09-15 20:51] #6980 closed

[2016-09-15 20:56] not-an-aardvark commented on #6978
What should the fixer do with comments in this case? There are no brackets where the comments can be placed.

[code]

[2016-09-15 20:59] platinumazure commented on #6978
@not-an-aardvark Unless someone with more experience than I suggests a better plan, I'd say let's just not auto-fix those cases. We can always add that functionality in later in the worst case.

[2016-09-15 21:05] nzakas commented on #7156
Okay, looks like we're all in agreement. If anyone wants to volunteer to update the maintainer guide docs for this, I'd appreciate it.

[2016-09-15 21:15] nzakas commented on #3611
I had mentioned on a PR somewhere (too tired to look it up now), that I'd prefer this approach instead:

[code]

As I see it, this has several advantages:

1. It's not file-pattern specific, so we have the option of having other overrides in the future (maybe we want to add an override based on an environment variable value, or some other condition).
2. Avoids the confusion between `.eslintignore`

[2016-09-15 21:19] mysticatea commented on #6978
@not-an-aardvark Thank you for implementing! `prefer-template` does not warn concatenations between string literals. it's warned by [no-useless-concat](http://eslint.org/docs/rules/no-useless-concat).

[2016-09-15 21:21] not-an-aardvark commented on #6978
I see; so should `prefer-template` just do this fix?

[code]

?

[2016-09-15 21:24] mysticatea commented on #6978
Yes.

[2016-09-15 21:30] sstern6 commented on #4161
@ilyavolodin @vitorbal @gyandeeps found where the issue is coming from.  Looks like https://github.com/eslint/eslint/blob/master/lib/rules/indent.js#L627.  What Im curious about is the best way to handle this.  Given the example above, I found if you check:

[code]

it handles the example @gyandeeps and @malyw showed thats breaking and doesnt break any current tests.  However, I was thinking of ot

[2016-09-15 21:33] dwhieb commented on #7075
The PR should be all set:
#7119

As I noted in the comments there, I had some troubles getting my CLA recognized and the commit summary validated, but I think both are okay. The CLA is signed, but one of my commits had GitHub's anonymized email, so the check didn't like it. The other commits have my actual email. The commit summary also couldn't be validated, but as far as I can tell it's formatte

[2016-09-15 21:43] platinumazure commented on #7075
If you can fetch the entire remote branch (including the first commit), you could squash the commits and force-push back to github. Presumably the squashed commit should have the right author info. Let me know if that doesn't work or if you need help (also feel free to stop by our Gitter chat, https://gitter.im/eslint/eslint).

[2016-09-15 22:07] kaicataldo commented on #7156
I can make a PR for this when I get back this weekend

[2016-09-15 22:30] hudson155 commented on #6505
With Angular 2 being officially released, this would be extremely useful

[2016-09-15 22:46] CrabDude commented on #3611
@nzakas The caching came up because it was the primary blocker for this issue since, it was unlikely this change would land if it broke config caching and/or had a significant performance impact. FWICT, the only viable caching strategy for patterns is the vector-based approach I proposed. As a result, config loading needed to be refactored to allow for vector caching, which required knowledge of w

[2016-09-15 23:06] calebmer opened #7163 "V8 “Strong Mode” expiremental rules"
Is there any interest in adding “strong mode” rules to eslint? For context, [Strong Mode is a V8](https://github.com/v8/v8/wiki/Experiments%20with%20Strengthening%20JavaScript#strong-mode) expirement to allow for better and more predictable JavaScript optimizations and has been implemented in the most recent version of V8. Such rules could be gleaned from the [Strong Mode Proposal](https://docs.go

[2016-09-15 23:33] eelyafi opened #7164 "Return statement closing bracket position is not linted by indent rule"
**Tell us about your environment**

* **ESLint Version: master, 3.5.0 the latest at this moment**
* **Node Version: v6.2.1**
* **npm Version: 3.9.3**

* **parser: default**

Code to test:

[code]

Issue:
position of ");" is off by 2 extra spaces, but linter didn't raise an error

Raw output:
[code]

[2016-09-16 00:14] mysticatea commented on #7163
Thank you for this issue.

As far as I know, V8 has removed the supports of strong mode already.

If there are general best practices, whether it's in strong mode or not, I think good if it's in core rules.

[2016-09-16 00:29] eelyafi commented on #7164
I think I have a fix for this one

[2016-09-16 01:58] not-an-aardvark commented on #6978
Looking at the examples, it seems inconsistent to do this:

[code]

Instead, maybe it would be better to keep all the whitespace around the plus sign:

[code]

Then [`template-curly-spacing`](http://eslint.org/docs/rules/template-curly-spacing) can fix the whitespace if necessary.

[2016-09-16 02:31] mysticatea commented on #6978
I definitely agree.
I'm sorry for that inconsistency.

Thank you!

[2016-09-16 07:21] barbalex opened #7166 "--fix converts to backtick, then valid-typeof reports error"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 6.5.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** "babel-eslint": "6.1.2"

**Please show your full configuration:**
.eslintrc.json:

[code]

package.json:
[code]

**What did you do? Please include the actual source code causing the issue.**

I added

`"quotes": ["error",

[2016-09-16 09:21] mysticatea commented on #7161
@jscharett `return fn1().fn2().fn3().fn4();` is a `ReturnStatement` which includes 4 `CallExpression`s. `CallExpression`s are not statements. Please see [the language spec](http://www.ecma-international.org/ecma-262/7.0/#prod-Statement).

I agree there are cases that long chains are bad. But I know that chained calls are a popular style. E.g., `Promise`, d3.js, jQuery, ....
So I'm not sure it's pr

[2016-09-16 09:37] mysticatea commented on #7154
Thank you for this issue.

You can use [ignorePattern](http://eslint.org/docs/rules/line-comment-position#ignorepattern) option for this.

Anyway, since [`default-case` rule has the special comment "no default" by default](https://github.com/eslint/eslint/blob/master/lib/rules/default-case.js#L7), I think reasonable if we add `^%s*no default%s*$` to the default ignore pattern.

[2016-09-16 09:47] adamterlson opened #7167 "no-restricted-properties fails when specifying more than one restricted property"
* **ESLint Version:** 3.5.0
* **Node Version:** 4.1.2
* **npm Version:** 3.5.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

In my eslintrc I've included no-restricted-properties and copy-pasted from [the example](http://eslint.org/docs/rules/no-restricted-properties).

[code]

Running eslint results in the following error:

[code]

If I replace the array of objects with a

[2016-09-16 10:11] mysticatea commented on #6070
If it handles `exports`, I remove `-default` from the rule name and imagine options:

[code]

[code]

[code]

[2016-09-16 10:13] mysticatea commented on #7167
Thank you for this issue.

Yes, the document is wrong currently. It has fixed in https://github.com/eslint/eslint/pull/7099/files

[2016-09-16 10:38] mysticatea commented on #7159
Weird.
I am a VSCode user, too. But my VSCode does not show that warning.
Could you ensure to use the latest versions of eslint/vscode-eslint? Especially, both local-installed eslint and global-installed eslint.

[2016-09-16 11:11] peet commented on #7154
Ah yes, somehow missed that option. Thanks.
+1 to adding "no default" to the default ignore pattern.

[2016-09-16 11:16] JamesHenry commented on #6724
Awesome progress, guys! Thanks for working on this @kaicataldo

[2016-09-16 12:49] platinumazure commented on #7167
The documentation will be fixed with our next release- in the meantime, you just need to remove the extra array brackets.

Closing as this seems to be resolved- please reopen if you disagree.

[2016-09-16 12:49] #7167 closed

[2016-09-16 12:53] platinumazure commented on #7154
That's one approach, but personally I think there might be a false error report.

The `line-comment-position` is only supposed to check if a comment is above or beside the main line of code. My guess is that "beside" comments are implemented by checking for trailing comments. The problem is, a comment *below* a line of code, with no code below it such that the comment could be a leading comment, i

[2016-09-16 14:42] #7125 closed

[2016-09-16 15:04] not-an-aardvark commented on #7166
It seems like the bug here is that `valid-typeof` doesn't allow comparisons to template literals. `typeof foo === \`string\`` should not cause an error to be reported.

[2016-09-16 16:04] adamterlson commented on #7167
Yup, that worked!  Thanks.

[2016-09-16 16:07] sstern6 commented on #3352
@nzakas this seems related to an issue im trying to patch right now https://github.com/eslint/eslint/issues/4161.  Waiting for feedback to proceed on the issue.  Id be happy to take a swing at this one as well if the community would like. If you'd like them separate I can tackle this once the other PR is up and ready!

Thanks and let me know how you reccomend proceeding.

[2016-09-16 16:23] platinumazure commented on #7166
Confirmed in online demo with this repro:

[code]

I do think this should be fixed in valid-typeof since template literals are string literals too. We would just need to check that there are no interpolations and that the content of the template literal is equal to one of the allowed string values.

[2016-09-16 16:35] platinumazure commented on #7166
@barbalex Can you please confirm whether or not the directive `'use strict';` was also improperly converted to backticks/template literal?

[2016-09-16 17:16] barbalex commented on #7166
No, that was correctly left as 'use strict'

Am 16.09.2016 6:35 nachm. schrieb "Kevin Partington" <
notifications@github.com>:

[2016-09-16 17:30] nzakas commented on #7156
Thanks @kaicataldo!

[2016-09-16 17:33] nzakas commented on #6724
@kaicataldo that is correct. What I would check:

1. `BlockStatement.body` is empty (zero-length array)
2. `ClassBody.body` is empty (zero-length array)
3. `ObjectExpression.properties` is empty (zero-length array)

In those situations, then you should search into the syntax to see if there's a comment.

[2016-09-16 17:38] nzakas commented on #7163
Duplicate of https://github.com/eslint/eslint/issues/2240.

If you'd like to propose a single rule, we can evaluate it, but there's no way for us to evaluate "add strong mode rules."

[2016-09-16 17:40] not-an-aardvark commented on #7166
See #7168

[2016-09-16 18:00] not-an-aardvark commented on #7101
It looks like a new version of espree just came out with acorn 4.0.0, so our tests are now failing on master ([example](https://travis-ci.org/eslint/eslint/jobs/160511636)).

[2016-09-16 18:05] ilyavolodin commented on #7101
Umm.. That's not good. That shouldn't be happening, since we haven't enabled ES2018 anywhere yet. I'll open a new issue for this.

[2016-09-16 18:08] ilyavolodin opened #7169 "Master unit tests are failing after Espree upgrade"
**Tell us about your environment**

* **ESLint Version:** Master branch
* **Node Version:** n/a
* **npm Version:** n/a

**What parser (default, Babel-ESLint, etc.) are you using?** Espree 3.2.0

After release of Espree 3.2.0 our unit tests started failing in master: See https://travis-ci.org/eslint/eslint/jobs/160511634 for example. This is not good, since we haven't enabled ES2017 anywhere yet, a

[2016-09-16 18:14] platinumazure commented on #7169
The Acorn change consumed by espree was semver-major. Maybe they introduced a general breaking change?

[2016-09-16 18:16] not-an-aardvark commented on #7169
The tests are failing due to a bugfix in Acorn. For example, this was previously parsed correctly by Acorn, but is actually invalid according to the ES2015 spec:

[code]

I think the test failures that we're seeing are cases where our tests used syntax that is invalid according to the spec.

[2016-09-16 18:25] ilyavolodin commented on #7169
I also just noticed that we don't get the name of the file that contains failing tests for some reason. I'm pretty sure we used to get that before.

[2016-09-16 18:27] jordalgo commented on #7169
+1 to this issue, seems like the upgrade to espree (3.2.0) caused it for me, because if I install 3.1.7 it doesn't happen.

[2016-09-16 18:45] calebmer commented on #7163
Sounds good 👍

[2016-09-16 18:45] #7163 closed

[2016-09-16 18:53] not-an-aardvark commented on #7169
For the time being, would it be best to just remove the failing tests to fix the build? For reference, here are the tests that are failing:

[code]

All of them are SyntaxErrors; it looks like they were only working before because Acorn incorrectly parsed them rather than throwing an error.

[2016-09-16 19:12] not-an-aardvark commented on #7169
See #7170

[2016-09-16 22:56] not-an-aardvark commented on #7101
I've been working on a few of the issues on this list; see #7172, #7173, #7174, #7175.

[2016-09-16 23:16] xjamundx commented on #7169
There were also a few minor cases where the column and line numbers became more accurate.

[2016-09-16 23:52] mysticatea commented on #7101
Oh, I have been late for the party. Thank you, @not-an-aardvark .
(often releases are done in midnight in my timezone.)

[2016-09-17 00:21] #7169 closed

[2016-09-17 01:02] mysticatea commented on #7101
I will send PRs for remaining items later.

[2016-09-17 02:00] gyandeeps commented on #4161
@sstern6 Thanks for all the efforts. I wont be able to reply for few days as i workin on some critical issue at work. Just wanted to let u know.
Posting this message without reading the whole thread. Sorry buddy but I will be back (Thanks for understanding). Again I want to thank u for all ur efforts.

[2016-09-17 04:29] kaicataldo commented on #6724
Thanks! I have another case I wanted to discuss, after working on this a bit more tonight.

When using the strategy we've discussed above (calling `getTokenOrCommentBefore()` and `getTokenOrCommentAfter()` in a loop and stopping when comments are no longer found), the following examples produce the following outputs:
[code]
This example attaches `/*aaa*/` to the Identifier `zzz` as a trailing comm

[2016-09-17 04:29] not-an-aardvark commented on #7164
Your "code to test" sample is displaying like [this](https://i.gyazo.com/6080e2b643bc59bf59a9ac07aba936e8.png) for me, which makes it hard to figure out what indentation you're using. Would you mind putting that in a code block like you did with the 'raw output' section?

[2016-09-17 15:10] mysticatea commented on #6978
Closing in favor of #7165.

[2016-09-17 15:10] #6978 closed

[2016-09-17 18:52] mysticatea commented on #7101
Filled all items with PRs.

[2016-09-17 20:13] not-an-aardvark opened #7184 "valid-jsdoc crashes with a TypeError when given an invalid parameter type"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 6.6.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to either report a J

[2016-09-18 00:06] #7136 closed

[2016-09-18 01:02] #7124 closed

[2016-09-18 02:05] kaicataldo commented on #7184
Rules should definitely never throw an error. I'll look into this.

[2016-09-18 05:07] mysticatea commented on #7154
Sounds reasonable to me.

Though the implementation does not use attached comments of AST. The rule just checks the previous token of comments is on the same line as the comment.
Maybe, in `beside` mode, the rule should ignore comments if the next token of the comment satisfies any of the following conditions:

- does not exist on the next line of the comment.
- is one of `)`, `]`, and `}`.

[2016-09-18 09:14] lukeapage commented on #6571
Thats #3845 to be specific

[2016-09-18 18:04] kumarharsh commented on #7159
Yes, I'm using everything latest. I'm getting it in my project, but not in a new repository with a few files and same settings... Maybe something is wrong somewhere in one of the eslint plugins, I'll investigate.

[2016-09-18 18:58] adambuczynski commented on #6571
This issue is not only related to comments. There's another bug with the level of indentation not being respected correctly, see my example above.

[2016-09-18 20:56] not-an-aardvark commented on #5946
I implemented something along these lines in #7189, but only noticed that this issue existed afterwards.

The implementation in that PR checks only the *indentation* of CallExpression parameters. In my opinion, other validations (such as requiring all parameters to be on the same line) would be better as part of separate rule, rather than overloading `indent` to check things other than indentation

[2016-09-18 21:21] kaicataldo commented on #6678
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2016-09-18 21:21] #6678 closed

[2016-09-18 21:25] kaicataldo commented on #5150
Has this been resolved?

[2016-09-18 21:29] kaicataldo commented on #5427
@julienw Any interest in making a PR for this change?

[2016-09-18 21:34] kaicataldo commented on #6363
Doesn't seem like we've made any headway towards consensus on this in a while. Maybe time to close this?

[2016-09-18 21:35] kaicataldo commented on #6238
Hasn't been any movement on this in a while - is this something we still want to discuss?

[2016-09-18 21:38] kaicataldo commented on #6190
@platinumazure are you still considering working on this? Want to confirm before closing.

[2016-09-18 21:41] kaicataldo commented on #6636
Doesn't look like we've made headway towards consensus on this in a while. Do we want to keep the discussion going or close this out?

[2016-09-18 21:43] kaicataldo commented on #6549
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2016-09-18 21:43] #6549 closed

[2016-09-18 21:47] kaicataldo commented on #6526
Don't `lines-around-comment`'s `allowBlockStart` and `allowBlockEnd` options cover this incompatibility?

[2016-09-18 21:57] #7084 closed

[2016-09-18 23:34] platinumazure commented on #6190
It's going to take me a while to get to, so let's close the issue and I'll
just write a PR when I get to this. Thanks for following up.

On Sep 18, 2016 4:38 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2016-09-19 00:53] not-an-aardvark commented on #7162
I can reproduce this. My guess is that the `<` before `<T: StyleDeclaration>` is getting interpreted by the rule as a less-than sign for some reason.

[2016-09-19 01:01] not-an-aardvark commented on #7162
Reduced test case:

Config:

[code]

Code:

[code]

I don't know very much about JSX, but

[2016-09-19 05:11] jschaf opened #7190 "Proposal: Treat goog.scope as IIFE in indent rule"
I'd like to modify the indent rule to treat code within a `goog.scope` function expression similarly to an IIFE.  The main reason is to correctly lint code that follows Google's style guide.

I'm willing to implement this change.

For example, the following has a valid indent according to the google style guide:

[code]

Previous issues about this topic:

- https://github.com/eslint/eslint/issues/

[2016-09-19 05:22] ljharb commented on #7190
@jschaf https://github.com/eslint/eslint/issues/6259 implies that there's an `outerIIFEBody` option to the rule for precisely this use case. Does setting that not resolve your issue?

[2016-09-19 05:22] platinumazure commented on #7190
I know this is covered by another issue, but I can't search for it easily on the mobile interface.

[2016-09-19 05:23] ljharb commented on #7190
ah, i see https://github.com/eslint/eslint/issues/6585#issuecomment-230361533 now

[2016-09-19 05:23] ljharb commented on #7190
so yes, that's not an IIFE - that seems like something that a separate google-specific rule (not in core) should probably address.

[2016-09-19 05:44] jschaf commented on #7190
The problem is that a plugin for this case would require re-implementing most of the indent functionality.  I figured the use case was common enough to include in eslint

[2016-09-19 06:50] julienw commented on #5427
Interest: yes; but time: not at the moment :(

[2016-09-19 10:05] #7137 closed

[2016-09-19 11:13] vitorbal commented on #7162
The default parser doesn't understand flowtype annotations, so it looks like it throws a parsing error because it thinks that code snippet is malformed JSX.

As for `babel-eslint`, I think this looks related to #6723, where the solution was to check for the `typeAnnotation` property and do an early return if present. @nzakas do you think we should add a check for this format of type annotations in

[2016-09-19 11:16] vitorbal commented on #7098
@ilyavolodin that's a good point, thanks for mentioning it! I'll make sure we're not increasing the memory usage by much for the final solution we come up with.

[2016-09-19 11:20] vitorbal commented on #7109
Not sure how to proceed here. Is there anything that could be done on our side to avoid the memory leak?

[2016-09-19 14:26] vitorbal commented on #7148
@ftorrado thanks for updating your original issue description!

The `id-blacklist` rule already excludes property names that are not assignments, like: `foo.data`, so I think an option named `properties` would be misleading. Maybe something like `propertyAssignments` would be better?

Personally I'm not in favor of this enhancement as I think the `id-blacklist` would lose a lot of its value if the

[2016-09-19 14:53] vitorbal commented on #7190
@jschaf Thank you for your issue. Could you do us a big favor and fill in the rest of the [template for proposing a rule change](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md)?

Also, in my opinion, for this enhancement to have a chance of being accepted in core, the rule option should be something that can be formalized in a more "generic" way and not specific to

[2016-09-19 15:44] platinumazure commented on #7190
Sorry for taking so long to find this. [This comment](https://github.com/eslint/eslint/issues/6690#issuecomment-233412041) covers a proposal we are entertaining which would fix this issue. So I'd like to close as a duplicate if the team doesn't object. Thanks!

[2016-09-19 16:07] andreineculau commented on #6910
FWIW I've "created" a very complex plugin :) https://www.npmjs.com/package/eslint-plugin-max-len-2 Thanks!

[2016-09-19 16:21] vitorbal commented on #7190
Sounds good to me!

[2016-09-19 16:30] coldacid commented on #3782
Why does eslint need a plugin to run when it's not configured to use it (or any other plugins which depend on it)?

[2016-09-19 16:43] #7190 closed

[2016-09-19 16:50] platinumazure commented on #3782
@coldacid The short answer is that ESLint probably *is* configured to use that plugin, and you just might not know it due to the use of a shareable config or plugin (which may itself use another shareable config or plugin, etc.). You can use `eslint --print-config someFile.js` to get your full, effective configuration for that file. If you're experiencing a specific issue, though, please open a ne

[2016-09-19 18:05] #7156 closed

[2016-09-19 18:05] #7184 closed

[2016-09-19 18:09] #7147 closed

[2016-09-19 18:18] jschaf commented on #6690
I'm willing implement this as I need it for the `goog.scope` case.  Treating the first function expression as special works goog.scope.  As far as names for the option, how about.

- `firstFunctionExpressionBody` - follows same pattern as `outerIIFEBody`

[2016-09-19 18:21] #7166 closed

[2016-09-19 18:21] platinumazure commented on #6690
Why the first? Seems to me like it should parallel `outerIIFEBody` and just be about "outermost" function expression assignments.

My suggestion would be to have two options:
* `outerFunctionExpressionAssignment` (covers `goog.scope` and `module.exports` and similar)
* `outerFunctionExpressionCallParameter` (covers `define()` and similar)

Open to suggestions on the names, of course.

[2016-09-19 18:24] eelyafi commented on #7164
@not-an-aardvark sorry for the confusion, I updated the code snippet

[2016-09-19 20:52] sssmall opened #7191 "valid-jsdoc has unexplained syntax errors"
**Tell us about your environment**

Mac OS X 10.11.6

* **ESLint Version:** 3.1.1
* **Node Version:** 5.12.0
* **npm Version:** 3.8.6

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

This code

[code]
results in a linter warning: `3:1  warning

[2016-09-19 22:48] jeremyruppel commented on #6238
I'd still really like the comment detection of eslint to match what JSDoc supports. Leveraging the real JSDoc parser under the hood would be ideal.

[2016-09-20 10:16] pabigot opened #7192 "no-unmodified-loop-condition: false positive plus bogus diagnostic"
**Tell us about your environment**
- **ESLint Version:** 3.5.0
- **Node Version:** 4.5.0
- **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No diagnostics should be emitted

**What

[2016-09-20 13:33] DinkDonk commented on #5982
+1 Looking forward to this addition!

[2016-09-20 14:52] tbassetto opened #7193 "no-lone-blocks doesn't catch lone blocks in SwitchCase statements"
**What rule do you want to change?**

[`no-lone-blocks`](http://eslint.org/docs/rules/no-lone-blocks)

**Does this change cause the rule to produce more or fewer warnings?**

More warnings hopefully.

**How will the change be implemented? (New option, new default behavior, etc.)?**

A new option to the rule.

**Please provide some example code that this change will affect:**

[code]

**What does t

[2016-09-20 15:33] platinumazure commented on #7193
It looks like the rule is currently designed to warn for blocks that are created either at the top level (parent is Program node), or which are within another block statement. In this case, the blocks are within a SwitchCase. So this would be an enhancement request to support checking lone blocks under SwitchCase nodes.

We do have a rule `no-case-declarations` which disallow `let`/`const` declara

[2016-09-20 15:40] platinumazure commented on #7192
The "bogus diagnostic" should go away if one of these two things happen:

1. Your code is changed so that the value of `flag` is changed in the loop. (Then the rule will report neither variable)
1. You use `void 0` instead of `undefined`, so that there are no longer two variables.

As for `flag` being flagged... I'm not sure what we can really do here. The variable is changed in the callback and t

[2016-09-20 15:42] platinumazure commented on #7191
I'm pretty sure these errors are cascaded up from doctrine. This is definitely a pain point, for sure, but this might be an upstream issue.

[2016-09-20 15:44] platinumazure commented on #7164
Confirmed with this snippet (no lint error on line 6 but there should be):

[code]

@eelyafi Please let us know if you need any help working on a fix, or if you won't be able to work on a fix after all so someone else might be able to take over. Thanks!

[2016-09-20 16:03] platinumazure commented on #7161
I think the team should discuss a possible new rule. The beauty about ESLint is that rules can be turned off by users if they are using jQuery or similar and don't want the rule to be used in those cases.

@jscharett If you are open to the possibility of a new rule, would you mind editing your first post to answer the questions in [this template](https://github.com/eslint/eslint/blob/master/templa

[2016-09-20 16:07] pabigot commented on #7192
@platinumazure Substituting `void 0` for `undefined` makes the code rather opaque.  If somebody manages to change the value of `undefined` there's a much bigger problem, so warning that it didn't change doesn't make sense in any situation.

This rule can't be implemented completely: for it to avoid false positives while providing true positives it has to solve the halting problem.  I've disabled i

[2016-09-20 16:53] nzakas commented on #7144
@mysticatea I disagree. I don't think it makes sense to have formatters also format errors. We specifically handle fatal errors differently so we can provide better console output. Letting formatters into that process not only complicates things, but also could make the output harder to read for humans.

[2016-09-20 16:58] nzakas commented on #7144
@lunaryorn what is unfortunate about the interface? AFAIK ESLint works the same as most command line tools with output formatting: expected results are formatted, unexpected errors crash.

Your comment made it sound like you had figured out how to solve your problem, but if not, feel free to share what you think a good solution would be.

[2016-09-20 17:00] nzakas commented on #6724
@kaicataldo can you provide a link to the changes or open a WIP PR? That makes it a lot easier for others to know where to look.

[2016-09-20 17:03] nzakas commented on #7162
Yeah, we can't really address this until #7129 is done. Then it should be easy (I think).

[2016-09-20 18:59] platinumazure commented on #7144
@nzakas Most CLI tools differentiate between normal failure output and fatal crash output by exit code, as well. As I said before, I think we should exit 2 for crashes.

[2016-09-20 19:12] Pomax opened #7194 "jsdoc linting error "JSDoc syntax error" for parameters/returns with spaces in the type"
Using JSDocs like this will trigger a "JSDoc syntax error":

[code]

It would be useful to have this report that spaces are not allowed in `@param`/`@return(s)`, with a separate documentation page for that error explaining that multiple types should use `{type1|type2|...}`

[2016-09-20 19:32] platinumazure commented on #7194
Unfortunately we just report the errors that [doctrine](https://github.com/eslint/doctrine) generates, so I think this might be an upstream issue. I agree that improving those error messages would be awesome, though.

[2016-09-20 20:33] nzakas commented on #7194
Yeah, that comes directly from Doctrine, which doesn't actually give anything other than a parsing error (it's just a parser, so that makes sense). I'm not sure there's anything we can do about this given that we don't get any information about why there was an error.

[2016-09-20 21:15] oatkiller commented on #6670
👍 Thanks for checking this out. I'm having the same issue.

[2016-09-20 21:29] mattcaldwell commented on #6670
👍

[2016-09-20 23:21] mysticatea commented on #7192
Actually, `no-unmodified-loop-condition` supports the situation if the arrow function is normal function declaration.

[code]

I think we can expand the support to function expressions and arrows.

[2016-09-21 02:28] marcfallows opened #7200 "no-unused-vars should allow imports for JSDoc"
* **ESLint Version:** 1.9.0

Using closure compiler for type checking we need to import dependencies that are included in the JSDoc annotations. `no-unused-vars` rule considers the import to be defined, but never used.

[code]
Results in:
[code]

[2016-09-21 02:59] sulliwane opened #7201 "EsLint 3.5, arrow-parens Error when using async arrow function"
**Tell us about your environment**

* **ESLint Version: 3.5**
* **Node Version: 6.2.0**
* **npm Version: 3.10.6**

**What parser (default, Babel-ESLint, etc.) are you using?**
[code]
**What did you do? Please include the actual source code causing the issue.**
![screenshot from 2016-09-21 10-43-35](https://cloud.githubusercontent.com/assets/1733686/18696199/df42ffc8-7fe9-11e6-88ae-fcbcfa6c562b.png

[2016-09-21 03:04] mysticatea commented on #6190
Just I found: https://github.com/github/eslint-plugin-github/blob/master/lib/rules/no-unused-disabled-rules.js

[2016-09-21 03:09] mysticatea commented on #7201
Thank you for this issue.

It has been fixed on master. :smile:
More info: #7101

[2016-09-21 03:09] #7201 closed

[2016-09-21 03:11] sulliwane commented on #7201
Ok. Many thanks for your fast reply :+1:

[2016-09-21 05:22] bryanrsmith commented on #4880
I've written a (hopefully temporary) plugin for this at https://github.com/bryanrsmith/eslint-plugin-no-unused-vars-rest. It basically just monkey patches the option into the existing core rule.

I'd be happy to submit a PR to eslint-plugin-babel if everyone would prefer that. It's a little odd, though, because it doesn't require babel-eslint. Espree's `experimentalObjectRestSpread` option covers

[2016-09-21 13:00] lunaryorn commented on #7144
@nzakas Yes we can solve our problems in Flycheck, and already in the process of doing so.  That said, I still disagree with much of what you said.

Is a missing configuration unexpected?  Let alone, a fatal crash?  I think not.  But then why throw a stracktrace at a user who just made a mistake that any user could make?  Might be just me but to me feels like being shown the "f*** you I don't care

[2016-09-21 14:25] cowboyd commented on #7144
Let me concur. Eslint is a fantastic tool, and I filed this issue in the hope to improve it. I am very happy with it now, but my on-boarding process was not as smooth as it perhaps could have been.

I don't know what the best solution is, but I can say as a brand new user (which I was), a missing configuration, be it invoked from the command line or from a tool, is almost _guaranteed_ to be the fi

[2016-09-21 14:46] peluja1012 commented on #6670
👍

[2016-09-21 14:59] arxpoetica commented on #1229
This is a real thing, not just a want. Editors like Atom put a trailing space when commenting out (`cmd+/`) blank lines that are sandwiched between other lines. Example:

Before:
[code]

After:
[code]

Note the extra added space by atom after the blank line comment, i.e., `// `. Imagine the tedium now with hundreds of blank lines. Quick comment (`cmd+/`) is no longer quick comment. It's labor inte

[2016-09-21 15:22] eomuraliev commented on #6670
👍

[2016-09-21 17:04] arxpoetica commented on #1229
FYI, this is not **done** but I started the ball rolling, if anyone feels like picking up the slack, OR, when I have more downtime I'll finish it off: https://github.com/eslint/eslint/pull/7203

[2016-09-21 17:29] jamestbrown commented on #6670
👍

[2016-09-21 17:35] platinumazure commented on #6670
@eslint/eslint-team Is this a bug or working as designed? I honestly don't know. There hasn't been much movement here.

[2016-09-21 17:37] TheSavior commented on #3218
@willklein and I decided on Girls Who Code instead.

![screen shot 2016-09-21 at 10 36 54 am](https://cloud.githubusercontent.com/assets/249164/18721881/5c7db968-7fe7-11e6-8c00-7de3c74e7302.png)
![screen shot 2016-09-21 at 10 35 33 am](https://cloud.githubusercontent.com/assets/249164/18721883/5de30204-7fe7-11e6-95d1-630cfa613187.png)

[2016-09-21 19:24] SturmB opened #7204 "Indentation warnings when the indentation is correct?"
**Tell us about your environment**

* **ESLint Version:** 1.0.6
* **Node Version:** Unknown. Perhaps installed with VS Code?
* **npm Version:** Unknown. Perhaps installed with VS Code?

**What parser (default, Babel-ESLint, etc.) are you using?** Default.

**Please show your full configuration:** Assuming you mean the .eslintrc.* files, here they are. (Seems indenting isn't working here):

*.eslin

[2016-09-21 19:33] demian85 commented on #4274
Any news on this issue? I'm still having the same problem and I cannot find a solution. Thanks.

[2016-09-21 19:35] platinumazure commented on #4274
@demian85 As you can see, the issue has been closed by a merged pull request, so this is fixed on master. Please wait for the next release (eslint@3.6.0 this Friday).

[2016-09-21 20:17] platinumazure commented on #7077
@gucong3000 If .editorconfig supports file globbing anyway, I want to note that unfortunately we don't yet support [glob-based configuration](https://github.com/eslint/eslint/issues/3611), so it will be very hard to do 1-to-1 mapping of .editorconfig to .eslintrc at the moment.

[2016-09-21 20:30] kaicataldo commented on #7200
Is this a rule enhancement request? If so, would you mind filling out the corresponding template? It also looks like you're using a very old version of ESLint.

This does not sound like a general enough use case to put in core to me - have you tried using an [`eslint-disable`](http://eslint.org/docs/user-guide/configuring#disabling-rules-with-inline-comments) comment?

[2016-09-21 20:45] kaicataldo commented on #7153
I know you filled out most of this, but would you mind reporting back with your configuration and the actual output from ESLint? Thanks!

[2016-09-21 20:48] not-an-aardvark commented on #7204
I think the issue is that your config is trying to find actual *tabs*, not one tab's worth of spacing. It's giving that error message because your files are indented with 0 tabs (and 4 spaces).

In the next version of ESLint, the error message will be a bit clearer (see #7076). In your case it would be something like "Expected indentation of 1 tab but found 4 spaces."

See also: #3638. (Actually,

[2016-09-22 02:31] kaicataldo commented on #6724
Oh yeah, of course - will hopefully be able to pick this up and finish it in the next few days again - https://github.com/eslint/eslint/commit/97af7d512653b231db602403cc1d590f48de87b2

[2016-09-22 05:14] kaicataldo commented on #7191
@sssmall can you confirm this also happens with the default parser? I tried this locally with your example code and am not seeing any linting errors.

[2016-09-22 05:16] kaicataldo commented on #7158
Closing this issue as it looks like this question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2016-09-22 05:16] #7158 closed

[2016-09-22 05:31] dmalshin commented on #3880
I have the issue in Git Bash. But interactive functionality works in Windows PowerShell.

[2016-09-22 06:05] liuyanjie opened #7208 "'self' is already declared in the upper scope"
ESLint Version: 3.5.0
Node Version: 4.4.4
npm Version: 2.15.1

**What parser (default, Babel-ESLint, etc.) are you using?**
Default Parser

**Please show your full configuration:**

This is the source code.

[code]

https://github.com/eslint/eslint/blob/master/lib/rules/no-shadow.js#L160

[code]

[2016-09-22 06:07] ljharb commented on #7208
`self` is a browser global. If your file is a script (not a module) and you have the browser env enabled, then you're shadowing it.

[2016-09-22 06:15] liuyanjie commented on #7208
Think you. This answer solved my problem.

[2016-09-22 06:15] #7208 closed

[2016-09-22 06:21] sstur opened #7209 "Negated ignore pattern not working in this case"
**Tell us about your environment**
Repro on eslint 3.4 and 3.5
Does not repro on 2.13.1
- **ESLint Version:** 3.5
- **Node Version:** 6.6
- **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
repro with both default and babel-eslint

**Please show your full configuration:**
`.eslintignore` config is as follows:

[code]

**What did you do? Please include the actual

[2016-09-22 09:00] LukeusMaximus commented on #7153
My .eslintrc is rather large, so here's a [pastebin](http://pastebin.com/JTSwYhGQ) of it.
I have an example file with the following (the eslint-disable ignores rules we don't care about right now):
[code]
This results in the following output:
[code]

[2016-09-22 09:34] tbassetto commented on #7193
@platinumazure: done

[2016-09-22 12:21] SturmB commented on #7204
Hey, thanks for the quick reply, @not-an-aardvark!

I'm glad to see that such an update regarding indentation is definitely in the works, but that still leaves a question: _Why is ESLint expecting a tab?_ I've already set the file to "Indent Using Spaces" in the Command Palette of VS Code, and it doesn't have these indentation warnings on another file that starts out in the exact same way (attache

[2016-09-22 14:05] platinumazure commented on #7204
You showed both an .eslintrc and .eslintrc.json. Are those in the same directory?

[2016-09-22 14:52] SturmB commented on #7204
That is correct. And unless I'm mistaken, the settings in them should apply to all files in subdirectories, too.

[2016-09-22 14:57] platinumazure commented on #7204
I'm pretty sure ESLint will only read one of those files per directory, but I could be wrong. You should use `eslint --print-config someFile.js` to double check that both config files are being considered.

[2016-09-22 15:06] SturmB commented on #7204
So apparently, I was incorrect. Run on a file in the same folder as those two settings files, I get:

`apaches-iMac:sky-artdept apache$ eslint --print-config OutputJ.jsx
{
  "globals": {},
  "env": {},
  "rules": {
    "no-alert": "off",
    "no-array-constructor": "off",
    "no-bitwise": "off",
    "no-caller": "off",
    "no-case-declarations": "error",
    "no-catch-shadow": "off",
    "no-cla

[2016-09-22 15:11] platinumazure commented on #7204
@SturmB If you want to do multi-line preformatted text (such as for code blocks or console output), you should use three backticks and then begin your text on a new line. Close also with three backticks on its own line. You can also throw in a language identifier on the first line, such as "js" for JavaScript. I edited your post so you can see how it's done.

[2016-09-22 15:16] SturmB commented on #7204
That's awesome, @platinumazure! It's totally okay by me, and thank you for letting me know so I can format my posts properly from now on! :~)

[2016-09-22 15:18] platinumazure commented on #7204
Okay, so I think @not-an-aardvark was correct earlier-- your file seems to have 4 spaces in it, but ESLint's indent rule, when configured with `["error", "tab"]`, requires actual tab characters. If you want to have "1 tab's worth of spaces", then you should use `["error", 4]`. Hope that helps!

I'm not sure why `--print-config` didn't show a whole config for the test file, but I'd say let's start

[2016-09-22 15:44] SturmB commented on #7204
Aha! so making that change to the `.eslintrc.js` file in the root folder of the project seems to have done the trick. And it does, as expected, apply to the files in the Test/ subdirectory, too.

Now I just have to figure out a good way to have it ignore all of the ExtendScript-specific javascript objects and commands. However, I thought that "Folder" was a built-in Javascript object. Perhaps I wa

[2016-09-22 16:13] KINFOO opened #7211 "`eslint --init` fails"
* **ESLint Version:** v3.5.0
* **Node Version:** v4.5.0
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`--init` failed, I have no configuration.

**What did you do? Please include the actual source code causing the issue.**
Well, I typed `$ eslint --init` in console.

**What did you expect to happen?**
Creat

[2016-09-22 16:32] platinumazure commented on #7211
Do you have any JavaScript files already created in the folder (or any subfolders thereof) where you were running the `eslint --init` command? The "Inspect your JavaScript files" method of creating config requires that at least one parseable file be present in the folder or in subfolders.

[2016-09-22 16:46] KINFOO commented on #7211
@platinumazure Hi,

I was not the case.

I just ran `eslint --init` in a folder which goes like:

[code]

At least `Gruntfile.js` is parseable, but ther is more in `public/`.

[code]

Well same __error__.

[code]

Thanks for your time

[2016-09-22 17:06] platinumazure commented on #7211
Ah, please forgive me, I misread your initial post.

[code]

I think you might be misunderstanding this question. This question isn't asking whether you prefer to examine files vs paths vs globs, but rather you need to enter all appropriate files, paths, or globs for ESLint to examine. My guess is "path" is being interpreted as a filename or folder to such, and when ESLint can't find either, it fa

[2016-09-22 17:56] nzakas commented on #6724
Left some comments - overall looks good, just a few questions.

[2016-09-22 18:07] nzakas commented on #7098
@vitorbal the downside of that approach is that the report object is no longer JSON-serializable.

We might just have to add a `source` property to the file result:

[code]

The total in-memory size would be the same as the `Map` approach, but would eliminate the need for an extra parameter to formatters.

We could further reduce the size of the results if we removed the `source` property from ind

[2016-09-22 18:09] nzakas commented on #7077
I'm not clear on what is being requested here, can someone please summarize?

As a note: I don't think it's a good idea for ESLint to either consume or produce configuration files other than its own. If you want to use a different type of configuration file to populate an ESLint configuration file, your best bet is to use a JavaScript ESLint configuration file, read in the editorconfig file, and p

[2016-09-22 18:09] nzakas commented on #7083
Not enough information to triage, so closing.

[2016-09-22 18:09] #7083 closed

[2016-09-22 18:14] nzakas commented on #7153
In your config file, you only have `"consistent-this": "error",`, so the rule is using the default configuration for `this` variables. If you want to use `handler`, then you need to configure the rule as `"consistent-this": ["error", "handler"]`. The rule only knows to check the names that you specify. Please see the documentation here: http://eslint.org/docs/rules/consistent-this

[2016-09-22 18:14] TheSavior opened #7212 "wrap-iife doesn't catch .call / .apply. JSCS does"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** N/A
* **npm Version:** N/A

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**
[code]

The following passes. window.foo is fine because it is wrapped in parens, but the others don't require it.

I'd expect that the functions that are called using `.call` a

[2016-09-22 18:19] nzakas commented on #7193
I think we have to be careful here, as using braces inside `case` statements is a convention I see fairly frequently. I'm on the fence as to whether this makes sense as part of `no-lone-blocks` or if it should be a separate rule, partly because I'm concerned that coming up with an option naming convention that makes clear this particular pattern vs. the ones it currently covers will be tricky.

[2016-09-22 18:21] nzakas commented on #7209
You're correct, it should work just like `.gitignore`, and if it's not, it's a bug. Unfortunately, it's also in one of the more complicated parts of the ESLint codebase (we fought with getting negated patterns working for quite a while).

Can you run with `--debug` and paste your output in this issue?

[2016-09-22 18:23] nzakas commented on #7211
Yes, @platinumazure is correct. You need to provide a path like `*.js` or `app.js` for `--init` to work.

[2016-09-22 18:26] kaicataldo commented on #7212
This sounds like a reasonable request to me, since it's something the corresponding JSCS rule checks. Seems like it should be treated as an enhancement of the rule and enabled with an option.

[2016-09-22 18:34] nzakas opened #7213 "Stdin input throwing unpretty error when config is missing"
(Split out from https://github.com/eslint/eslint/issues/7144)

**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 4.4.2
* **npm Version:** 2.15.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:** n/a

**What did you do? Please include the actual source code causing the issue.**

Ran this in the command

[2016-09-22 18:38] nzakas commented on #7144
@lunaryorn thanks for your feedback. I'd just like to answer some of your points, not to debate, but to explain the reasons why things are the way they are.

Yes, it is. This came after years of getting messages and bugs filed saying, "ESLint isn't doing anything." This just kept happening, so finally, we made it so you must have a configuration in order to run ESLint. You can see the discussion h

[2016-09-22 18:42] #6668 closed

[2016-09-22 21:55] sstern6 commented on #6670
@platinumazure working on something i believe is related, https://github.com/eslint/eslint/issues/4161#issuecomment-247742813.

Digging into `indent.js` looks like eslint is having issues indenting with arrays on multiple lines.  I have found a few viable ways to approach this but there are a few issues open related to this I am not sure how deep to go, and depending on the approach starts breakin

[2016-09-22 22:25] ikokostya commented on #6670
@sstern6

https://github.com/ymaps/codestyle/blob/5b379066a8f525f1c5d5e4838699ea0a716cfcaf/packages/eslint-config-loris/es5.js#L95

[2016-09-22 22:31] ahuth opened #7214 "object-shorthand rule's consistent-as-needed option does not work for certain inputs"
It appears that the object-shorthand rule has a bug. Specifically, the consistent-as-needed option is not functioning properly.

The option is supposed to enforce consistent use of object shorthand syntax per object literal, and to require shorthand syntax when otherwise we would have redundant key/values.

For instance, instead of

[code]

we should be required to use

[code]

The following is st

[2016-09-22 22:43] ahuth commented on #7214
Fixed in #7215

[2016-09-23 00:31] mysticatea commented on #7214
Thank you for the report and the fix!

I confirmed it.

[2016-09-23 01:15] ilyavolodin commented on #7204
Closing, as the original question has been answered.

[2016-09-23 01:15] #7204 closed

[2016-09-23 02:30] jamestalmage opened #7216 "Proposal: add a mechanism for rules to suppress others"
Inspired by #3480

##

It seems to me that some way for one rule to suppress another would be beneficial.

Instead of adding a bunch of exceptions to `no-extra-parens`, what if context had a `suppressRule` method.

[code]

I think you could have a number of suppression methods:
- `suppressRuleAtNode` - as used above - suppresses only on that particular node.
-  `suppressRuleWithinNode` - suppresse

[2016-09-23 03:02] platinumazure commented on #7216
I'm not comfortable with this, because there will be a great temptation to use that functionality even in cases where the rules could be designed more intelligently to avoid those collisions in the first place. Maybe that would be okay in plugins, but I don't think we would want that temptation available for core rules.

Just my take on it-- perhaps others on the team can be convinced.

[2016-09-23 03:28] jamestalmage commented on #7216
It's not possible to anticipate all the valid exceptions to a rule, and trying to make rules "more intelligent" to accommodate all possible usage patterns inevitably leads to bloat. In the case of #3480 you have a rule where pretty much everybody agreed it was a good exception, but that it wasn't worth bloating the `no-extra-parens` rule to accommodate. Also, doing so correctly would have meant as

[2016-09-23 03:35] platinumazure commented on #7216
I was focusing more on the maintainability of the ESLint core repository in my previous comment. If we hypothetically implemented such a feature against my reservations, I wouldn't care what plugins did with it, including disabling core rules. Sorry if I wasn't clear.

[2016-09-23 08:03] LukeusMaximus commented on #7153
Apparently you consider assigning to an existing alias declared in the outer scope as valid.

[2016-09-23 08:03] #7153 closed

[2016-09-23 09:16] KINFOO commented on #7211
[code]

![Thank You](https://i.imgflip.com/1b4i5f.jpg)

[2016-09-23 09:16] #7211 closed

[2016-09-23 09:50] KINFOO opened #7219 "After `eslint --init`: Configuration for rule "valid-typeof" is invalid"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 4.5.0
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I ran `eslint --init`.
Then ran `Atom` with [linter-eslint](https://github.com/AtomLin

[2016-09-23 14:21] ilyavolodin commented on #7219
Most likely what is happening is your local version of ESLint is different from your global version of ESLint. You ran `--init` with global version, but `linter-eslint` uses local version. Try running the following:
[code]
from the directory of your project and see if the versions match. If not, either rerun `--init` with the local version, or make sure both of them match.

[2016-09-23 14:21] gfarrell opened #7220 "no-unused-vars should ignore necessary variables in eslint comprehensions"
**Tell us about your environment**

* **ESLint Version:** v3.5.0
* **Node Version:** v6.2.1
* **npm Version:** 3.9.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
eslint to recognise that the first variabl

[2016-09-23 14:28] ilyavolodin commented on #7220
ESLint does have an option for this, try changing your configuration to:
[code]

[2016-09-23 14:51] mysticatea commented on #7191
@sssmall I could not reproduce this on my local environment. Could you ensure the reproduce step?

[2016-09-23 14:57] gfarrell commented on #7220
@ilyavolodin ok, thanks. I can't think of a case where this should not be the default behaviour, however. This variable is, effectively, in use.

[2016-09-23 15:20] mysticatea commented on #7220
You can remove the `_` safely since array destructurings allow holes.

[code]

[2016-09-23 15:40] KINFOO commented on #7219
Well,

After running this,
[code]

There is no issue opening same `Atom`...

Thanks @ilyavolodin

[2016-09-23 15:40] #7219 closed

[2016-09-23 19:56] dbashford commented on #6813
This isn't just `import`s as the title indicates but the example does not.  See screenshot below from demo page.

Note that it complains that I spaced the object properties in too far, but it doesn't complain that I spaced the `const` in too far.

![image](https://cloud.githubusercontent.com/assets/581127/18799501/e69b486c-81a5-11e6-9343-aaf95b31454a.png)

[2016-09-23 19:57] not-an-aardvark commented on #7213
Working on this.

[2016-09-23 21:17] arcanis commented on #4402
Also got bitten by this issue - it's not really intuitive, maybe a `console.warn` would be helpful 😐

[2016-09-24 00:42] not-an-aardvark commented on #4690
Does this issue still happen in v3.6.0? https://github.com/eslint/eslint/pull/7076 made some changes to the indent autofixer, and I think it fixes this issue.

[2016-09-24 00:45] not-an-aardvark commented on #3638
I think this is fixed as of https://github.com/eslint/eslint/pull/7076 (released in v3.6.0).

[2016-09-24 03:17] ilyavolodin commented on #4690
I believe that @not-an-aardvark fix should've resolved this issue. Closing as fixed. Feel free to reopen if this is still a problem.

[2016-09-24 03:17] #4690 closed

[2016-09-24 04:45] shvaikalesh opened #7226 "prefer-reflect: Reflect.deleteProperty considered harmful"
The rule tells that:

Putting conciseness of `delete` and "`Map` should be used instead" points aside, given strict mode enabled and considering only property references, `Reflect.deleteProperty` returns result of `[[Delete]]` call (boolean), but **does not throw** on `false`, unlike `delete` operator does.

Throwing if deletion fails (non-configurable property, `Proxy` trap) is what modern JavaSc

[2016-09-24 16:00] sindresorhus commented on #7216
This feature would be very value for plugin developers.

-

Then create a guideline that core rules should not use it. You control ESLint. You can choose not to use it.

[2016-09-24 16:29] hashchange commented on #6745
@monolithed An optional `@property` can't be annotated like a `@param`, so you can't use
[code]
or
[code]
Apparently, there isn't any special notation to mark a property as optional.

But an optional property is really nothing more than a property which can also be left undefined. So all you have to do is to declare it as
[code]

[2016-09-24 17:05] ilyavolodin commented on #7216
Technical issue with this proposal is that it assumes that plugin rule will run first, before the core rule that it's suppressing. Problem is, we don't really control order of execution of the rules. There is never a guarantee on which rule will execute first. While I do not oppose exposing something that would make it easier for third-party rules to change the behavior of built-in rules, I don't

[2016-09-24 17:23] platinumazure commented on #7216
If disable logic were refactored (see #6592), we could probably piggyback on that for actually handling the rule suppressions. But that doesn't solve the issue of rule order.

I wonder if metadata could be used to indicate rule "dependencies", and then we could create a DAG and do a topological sort before iterating through rules' event handlers? Right now, we probably just iterate through the rul

[2016-09-24 18:59] not-an-aardvark opened #7229 "`no-extra-parens` has a false negative with binary expressions that are only one level deep"
**Tell us about your environment**

* **ESLint Version:** 3.6.0
* **Node Version:** 6.6.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to report an error, be

[2016-09-24 20:37] not-an-aardvark commented on #7229
Working on a fix.

[2016-09-24 20:53] ljharb opened #7230 "Rule request: `prefer-object-spread`"
**Please describe what the rule should do:**
When it finds an `Object.assign` call where the first argument is an object literal, the rule should error, and recommend using the object spread operator instead.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[ ] Warns about a potential error
[x] Suggests an alternate way of doing something
[ ] Other

[2016-09-24 21:02] platinumazure commented on #7230
Object spread is still stage 2, right? It's one thing for us to have the parser option, but I'm not sure if we want to have rules around it just yet.

[2016-09-24 21:04] platinumazure commented on #7229
Confirmed the original example in online demo.

@not-an-aardvark Could you be more specific about what "some binary expressions" means here? Thanks!

[2016-09-24 21:10] ljharb commented on #7230
@platinumazure yes, it's still stage 2. My hope is that it will achieve stage 3 next week - at that point, would it be OK to have the rule?

[2016-09-24 21:11] not-an-aardvark commented on #7229
Updated the title to be more descriptive. (Additional explanation can also be found in https://github.com/eslint/eslint/pull/7231.)

[2016-09-24 21:12] platinumazure commented on #7230
Well, our policy is usually to wait until stage 4 (cf. async/await), but given that we have a parser option already... I have no idea what might happen in this case.

[2016-09-24 21:32] ljharb opened #7232 "async parsing rules are broken"
**Tell us about your environment**

* **ESLint Version:**
3.6.0
* **Node Version:**
6.6
* **npm Version:**
whatever it comes with

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`echo 'var foo = { async: 3 };' | eslint --no-eslintrc --stdin --parser-options='ecmaVersion:2017'`

**What did you do? Please include the actual source code

[2016-09-24 21:35] platinumazure commented on #7232
Probably an issue in espree.

Just so we can understand impact, does this happen with ecmaVersion of 7/2016?

[2016-09-24 21:36] ljharb commented on #7232
Nope! just with 8/2017.

[2016-09-24 21:45] platinumazure commented on #7232
Trying to repro, got some funkiness in my local environment right now. Added "blocked" label due to presumed upstream (espree) issue. Will confirm and mark "accepted" ASAP.

[2016-09-24 21:59] mysticatea commented on #7232
@ljharb What is the version of Acorn you are using? I think it has been fixed on 4.0.3: https://github.com/ternjs/acorn/pull/470

[2016-09-24 22:00] platinumazure commented on #7232
Acorn parses this fine and espree reproduces the issue when used directly, so I think it's definitely an espree issue. Unfortunately, that's all I have time for at this point, so someone else feel free to jump on it.

@mysticatea I reproduced on espree master but had no trouble when using espree's acorn dependency (and I just cloned espree and `npm install`'d five minutes ago), so I'm pretty sure

[2016-09-24 22:03] mysticatea commented on #7232
Ah, I'm sorry.
Yes, espree overrides the `parseObj` method completely. So espree needs to be fixed.

[2016-09-24 22:32] mysticatea commented on #7232
I sent a PR to fix.

[2016-09-24 22:47] marneborn opened #7233 "indent MemberExpression not working"
**Tell us about your environment**

* **ESLint Version:**
2.13.1
* **Node Version:**
v6.5.0
* **npm Version:**
3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
none

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**
Created tmp.js with this example from [doc](http://eslint.org/docs/rules/indent#memberexpressi

[2016-09-24 22:49] not-an-aardvark commented on #7233
The `MemberExpression` option was introduced in ESLint v3.2.1, and you're using ESLint v2.13.1.

Could you try upgrading to the latest version of ESLint, and see if the problem still happens?

[2016-09-24 23:12] not-an-aardvark commented on #7230
In my opinion, this might be better as an `object` option for `prefer-spread` rather than a new rule, since it's enforcing a similar thing and the name `prefer-spread` applies to both.

[2016-09-24 23:46] gabro commented on #7065
Ok, since it seems we reached an agreement here, I've submitted a PR.

[2016-09-25 00:24] ljharb commented on #7230
@not-an-aardvark that would be totally fine too! As long as there's a way to enforce it.

[2016-09-25 00:47] sstern6 commented on #4161
Will have a PR open for this shortly.

[2016-09-25 00:48] herodrigues commented on #7232
Same here: 3 problems only where async is present.

[2016-09-25 00:57] loganfsmyth opened #7235 "Allow `func-names` to not error for missing, but inferrable names"
The `func-names` rule is very aggressive at the moment and will error on any function expression with no name. While useful, in an ES6 environment there are now many places where the name will be automatically added by the execution environment, but where this rule will see an error.

Examples of current errors:

[code]

The rule has an `always` and `never` option right now. I'd propose adding an

[2016-09-25 04:57] platinumazure commented on #7235
I'm pretty sure this is the whole purpose of the rule: warn when a function expression lacks a name, even when it could be inferred. It doesn't warn on function declarations, because those require a name due to the ECMAScript grammar. So if you don't want those cases to be flagged, then simply don't use the rule.

Are there any examples you haven't listed, but for which you believe this option wou

[2016-09-25 05:47] loganfsmyth commented on #7235
Perhaps I was making off-base assumptions about this rule. My understanding of the objective of it is "make sure all functions have names in stack traces".

Totally. Given the goal of making stacktraces easy, inferred names aren't needed, but anywhere they won't be inferred would still need a name, which could be things like

[code]

would still need a name since none will be inferred as far as I

[2016-09-25 05:48] loganfsmyth commented on #7235
Also FYI the `rule change proposal template` link on http://eslint.org/docs/developer-guide/contributing/rule-changes does not work, it is missing the `.md` extension for some reason

[2016-09-25 11:44] sompylasar commented on #3480
Please could anyone explain this question about the community bias: https://github.com/sindresorhus/eslint-plugin-unicorn/issues/50#issuecomment-249417065 ?

[2016-09-25 14:06] djfm commented on #2102
Might be a lot of work for not a lot of gain, but wouldn't a rule that ignores "no-unused-expressions" when "env" is set to "mocha" and only for the few mocha magic properties (ok, undefined, ...) make sense?

[2016-09-25 14:37] ShirH opened #7238 "Eslint for the browser"
is there a version of eslint for use in web browser and ecma script 5?
Thanks,
Shir

[2016-09-25 14:44] JeremyTCD opened #7239 "Unable to setup developer environment"
**Tell us about your environment**

* **ESLint Version: Latest**
* **Node Version: 6.5.0**
* **npm Version: 3.10.8**

**What did you do? Please include the actual source code causing the issue.**

I forked eslint and followed the [developer guide](http://eslint.org/docs/developer-guide/development-environment) up till step 5. I then ran `npm test`.

**What did you expect to happen?**
Expected test

[2016-09-25 14:49] platinumazure commented on #7238
Nothing officially supported. ESLint is primarily a Node app that uses the filesystem to do linting. Technically we've built a web version for our online demo, but it's not suitable for production use in browsers.

[2016-09-25 14:49] kdex commented on #7239
The issue is reproducible in [Travis](https://travis-ci.org/eslint/eslint/builds/162571834) for Node 5.x and above.

[2016-09-25 14:52] platinumazure commented on #2102
In core ESLint, no, but you are absolutely welcome to write a plugin rule which emulates no-unused-expressions except in the circumstances you described.

[2016-09-25 15:01] djfm commented on #2102
Ok maybe some day when I'm really bored :) After a little more thought I don't think it's worth it or even conceptually such a good idea, eslint-disable-next-line is not so hard to write and provides more information to the reader.

[2016-09-25 15:34] not-an-aardvark commented on #7239
I can reproduce this. It might be caused by the release of `eslint-plugin-node@2.1.0`.

cc @mysticatea

[2016-09-25 16:00] not-an-aardvark commented on #7239
As a temporary workaround, you can fix the problem by using `npm install eslint --force`.

[2016-09-25 17:04] vitorbal commented on #7230
I think a new option for `prefer-spread` is a great idea, I'd get behind that.
But, like @platinumazure said, I just don't know if we're ready to add object spread support for rules or does the team prefer to wait until it reaches stage 4.

[2016-09-25 21:51] kaicataldo commented on #7239
Have confirmed this locally. Locking `eslint-plugin-node` to v2.0.0 fixes this, which makes me think it's not the `eslint` `peerDep` causing the issue (since that change was present in v2.0.0 as well).

[2016-09-25 21:52] sstern6 opened #7242 "Nested Data Structures within an Array does not error out properly with the indent rule."
**Tell us about your environment**
- **ESLint Version:** 3.6.0
- **Node Version:**6.5.0
- **npm Version:**3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
Inline at top of file: /\* eslint "indent": ["error", 4] */ and ran `eslint --no-eslintrc file.js`

**What did you do? Please include the actual source code causing the issue.*

[2016-09-25 21:56] not-an-aardvark commented on #7239
@kaicataldo The issue is [this line](https://github.com/mysticatea/eslint-plugin-node/blob/8788242783a299546e3fc64a969ec4ad2ed3722b/lib/rules/exports-style.js#L12), which was just added in the latest release. It's trying to require() a file within `eslint`, and throwing because it's not there.

[2016-09-25 22:03] kaicataldo commented on #7116
@feross does @btmills's suggestion work for your use case?

[2016-09-25 22:03] kaicataldo commented on #7238
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2016-09-25 22:03] #7238 closed

[2016-09-25 22:06] kaicataldo commented on #7194
@Pomax would you like to make an issue in the [Doctrine](https://github.com/eslint/doctrine) repo?

[2016-09-25 22:07] platinumazure commented on #7239
Wonder if we should consider creating a sub-package with some of the ESLint utils? That way eslint-plugin-node could just consume that (and I know of a few plugins which have wanted to use ast-utils or which have re-implemented their own ast-utils file).

[2016-09-25 23:24] ilyavolodin commented on #7235
@loganfsmyth We don't really have rules that branch reporting logic based on the version of ECMAScript you are enabling. I know that this change would, for example, be very hard to consume for me, since I have Rhino code that is still ES5 but all tests are ES6, and I want to force naming for all functions. At most, I think we could consider an opt-in option for this rule to disable enforcing names

[2016-09-25 23:27] loganfsmyth commented on #7235
Totally, that's what I'm proposing. To have `always`, `uninferred`, and `never` be three options for `func-names` instead of just the current two.

[2016-09-25 23:30] ilyavolodin commented on #7235
Hmm.. OK, I can buy the need for the `uninferred` option. I'll support it. 👍

[2016-09-25 23:41] platinumazure commented on #7235
As long as we don't actually detect ES6 as part of the new option (i.e., we just assume ES6 and note in the documentation that "uninferred" is according to ES6 rules), I can get behind this.

[2016-09-26 00:00] loganfsmyth commented on #7235
Cool, PR: https://github.com/eslint/eslint/pull/7244 Feedback welcome!

[2016-09-26 00:10] kaicataldo commented on #7235
I'll support this change. One thing to note - we have a PR open right now for a new rule that does actually detect the `ecmaVersion` being used: https://github.com/eslint/eslint/pull/7063#issuecomment-247884530. Following that pattern, we could actually potentially modify the "always" option to do a check for ES6+ in the rule (defaulting to ES5 if not present).

[2016-09-26 01:00] TheSavior opened #7245 "one-var-declaration-per-line doesn't support jscs behavior"
**Tell us about your environment**
- **ESLint Version:** 3.6.0

The corresponding JSCS rule [requireLineBreakAfterVariableAssignment](http://jscs.info/rule/requireLineBreakAfterVariableAssignment) defines the following to be invalid:

[code]

The ESLint rule `one-var-declaration-per-line` catches the second example, but not the first. This rule should support linting for there only being **one** d

[2016-09-26 01:10] TheSavior commented on #4345
This issue should probably be named a bit more generic since this isn't only affected by the enable and disable lines.

eslint-env also causes this problem.

[code]

[2016-09-26 01:20] TheSavior commented on #7212
Any thoughts on what the option should be called?

[2016-09-26 01:48] mysticatea commented on #7239
I'm sorry, I will publish `eslint-plugin-node@2.1.1` to resolve this soon.

[2016-09-26 02:06] mysticatea commented on #7239
I have done.
I'm restarting Travis jobs.

[2016-09-26 02:28] kaicataldo commented on #7245
I was originally going to champion this, and the more I thought about it the more I'm torn between enhancing this rule or making the docs clearer that this rule **only** enforces newlines for variable declarations with multiple assignments and leaving this responsibility to `max-statements-per-line`.

Even though it looks like the rule was originally designed to check for variable declarations wit

[2016-09-26 02:35] mysticatea commented on #7239
Closing as [PRs](https://github.com/eslint/eslint/pulls) seem good now.

I'm sorry, I had not realized this problem since I have the symlink of eslint in the node_modules of my local eslint repository.

[2016-09-26 02:35] #7239 closed

[2016-09-26 04:41] kaicataldo commented on #6724
I was able to look at this a little more tonight - feeling unsure of what the correct behavior is for the case I outlined above (copied and pasted here):

------
When using the strategy we've discussed above (calling `getTokenOrCommentBefore()` and `getTokenOrCommentAfter()` in a loop and stopping when comments are no longer found), the following examples produce the following outputs:
[code]
This

[2016-09-26 09:10] wmertens opened #7247 "API doesn't use `settings` key"
* **ESLint Version:** 2.12
* **Node Version:** 6.4
* **npm Version:** 3.10

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint v6

**Please show your full configuration:**
It is very big but I can add it if you like. See next question for explanation.

**What did you do? Please include the actual source code causing the issue.**
I'm using XO and I need to pass settings to th

[2016-09-26 09:27] wmertens commented on #7247
Config, as obtained by adding changing the runEslint function in https://github.com/wmertens/xo/blob/master/index.js#L65 to:
[code]

[code]

instrumenting `node_modules/eslint-plugin-import/lib/core/resolve.js` shows that it is not getting the settings.

[2016-09-26 09:46] vitorbal commented on #7065
We still need a champion and one more thumbs up from the team to mark this as accepted (assuming me and @platinumazure are the current +1's)

[2016-09-26 11:45] IvanSanchez opened #7248 "v3.6 ignores "smart-tabs" rule and notifies of indent errors"
I'm a maintainer of [Leaflet](https://github.com/Leaflet/Leaflet), and we use an [eslint config](https://github.com/Leaflet/Leaflet/blob/master/package.json#L44) with `smart-tabs`, like:

[code]

eslint 3.0 through 3.5 work just fine. However, after an upgrade to eslint 3.6, we've got error messages like the following:

[code]

This can be reproduced by checking out the [Leaflet repo](https://gith

[2016-09-26 11:51] IvanSanchez commented on #7248
Note that I've just clamped the [eslint dependency to 3.5](https://github.com/Leaflet/Leaflet/commit/434c4e9db33209bb1980cdafd2502a69e620f099). Please keep this in mind when trying to reproduce the bug, you might need to `npm install eslint@3.6; npm test`.

[2016-09-26 12:28] RecuencoJones opened #7249 "FunctionDeclaration not working with nested functions"
**Tell us about your environment**

* **ESLint Version:** 3.6.0
* **Node Version:** 6.3.0
* **npm Version:** 3.10.6

**What parser (default, Babel-ESLint, etc.) are you using?**
gulp-eslint@3.0.1 and default

**Please show your full configuration:**
Affected rule:

[code]

**What did you do? Please include the actual source code causing the issue.**
Cannot publish the original source, but some fil

[2016-09-26 12:49] platinumazure commented on #7248
We did recently add functionality to support reporting of mixed spaces and tabs in the indent rule. This was done as a generalization of solving the issue of indent failing to fix tabs to spaces or vice versa (i.e., not a mix, just the wrong character outright).

Given that we have no-mixed-tabs-and-spaces, I think indent should choose not to report mixtures. I think this could also be seen as a r

[2016-09-26 13:52] vitorbal commented on #7226
I think that's a good point. Judging by the conversation in https://github.com/eslint/eslint/pull/7171#issuecomment-248073052, I'd say this makes sense. Let's see what the rest of the team thinks.

@shvaikalesh would you be willing to submit a PR for this once it gets accepted?

[2016-09-26 16:39] Pomax commented on #7194
Sure thing: filed https://github.com/eslint/doctrine/issues/175 as specific issue; I don't know if a separate issue for "expose doctrine errors at all" is needed, but if so I can file that too, or I can leave that up to whoever triages the doctrine issues.

[2016-09-26 17:02] danpoltawski opened #7250 "no-unused-vars argsIgnorePattern affecting "args": "after-used" since 3.6.0"
**Tell us about your environment**

* **ESLint Version:** v3.6.0
* **Node Version:** v6.6.0
* **npm Version:** 3.10.7

**What parser (default, Babel-ESLint, etc.) are you using?** deafult

**Please show your full configuration:** https://github.com/moodle/moodle/blob/master/.eslintrc

**What did you do? Please include the actual source code causing the issue.**

When attempting to upgrade to eslin

[2016-09-26 17:05] shvaikalesh commented on #7226
@vitorbal sure, with pleasure

[2016-09-26 17:19] danpoltawski commented on #7250
(Note: this was detected because we have our argsIgnorePattern too liberally matching by mistake)

[2016-09-26 17:25] nzakas commented on #7226
What is the suggested change here?

Each of the 'Reflect' methods behaves slightly differently than the corresponding syntax or 'Object' methods as it relates to error conditions and return values. If we are going to say that deleteProperty isn't close enough to prefer it over 'delete' for these reasons, then we need to re-evaluate this rule as a whole because the same arguments can be made for ea

[2016-09-26 17:28] #7232 closed

[2016-09-26 17:52] shvaikalesh commented on #7226
From my point of view, there are 3 concerns with `prefer-reflect`:
1. Methods that swallow errors (to support legacy loose mode or other reasons): `deleteProperty`, `preventExtensions`, and `setPrototypeOf`.
2. Methods that behave *almost* the same: `getOwnPropertyDescriptor`, `getPrototypeOf` (except for `ToObject` thing). I am not sure we should recommend using them because some `Object` metapro

[2016-09-26 18:08] MikailBag opened #7251 "no-unused-vars + react = warnings"
**Tell us about your environment**

* **ESLint Version:** 3.5.0
* **Node Version:** 6.6.0
* **npm Version:** 3.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
 default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

[code]
**What did you expect to happen?**

no errors

**What actually happened? Please

[2016-09-26 18:21] not-an-aardvark commented on #7251
GitHub's markdown rendering made it a bit difficult to tell what was going on, so I took the liberty of repasting your source code example into a code block:

[code]

[2016-09-26 18:25] MikailBag commented on #7251
yes

[2016-09-26 18:30] platinumazure commented on #7251
Try using eslint-plugin-react and rule react/jsx-uses-vars.

[2016-09-26 19:24] MikailBag commented on #7251
thank's, works

[2016-09-26 19:24] #7251 closed

[2016-09-26 21:13] not-an-aardvark commented on #7250
This was probably caused by https://github.com/eslint/eslint/pull/7143.

I think the issue is that we now check for the last non-ignored parameter (in your case, `bar`) rather than the last parameter itself (`baz`). However, we don't account for cases where an ignored parameter is used.

[2016-09-26 21:28] platinumazure commented on #7250
Confirmed in the online demo. I think this is something we should consider for a patch release, if possible.

[2016-09-26 22:00] platinumazure commented on #7248
Confirmed in online demo with this example:

[code]

Hope it's suitable.

[2016-09-26 22:03] not-an-aardvark commented on #7248
@platinumazure I'm a bit confused by the example; shouldn't that report an error if the expected indent is 4 spaces?

[2016-09-26 22:12] TheSavior commented on #3092
What is the status of this issue?

I'm happy to help contribute to this to push it over the finish line. I wrote the JSCS rule this is discussing and this is one of the last rules left in my company's conversion from JSCS to eslint.

[2016-09-26 22:12] TheSavior commented on #5949
What is the status of this issue?

I'm happy to help contribute to this to push it over the finish line. I wrote the JSCS rule this is discussing and this is one of the last rules left in my company's conversion from JSCS to eslint.

[2016-09-26 22:13] TheSavior commented on #5982
What is the status of this issue?

I'm happy to help contribute to this to push it over the finish line. I wrote the JSCS rule this is discussing and this is one of the last rules left in my company's conversion from JSCS to eslint.

[2016-09-26 22:15] platinumazure commented on #7248
no-mixed-spaces-and-tabs flags mixture of space and tabs, except in certain circumstances. In "smart-tabs" mode, it allows you to use a mixture if it's for the purpose of lining up a variable name.

One could make an argument that perhaps the mixed tab/space responsibility does belong to indent, but historically they have been separate rules.

I'm still hoping for a better example from @IvanSanche

[2016-09-26 22:18] not-an-aardvark commented on #7248
I think I understand the general idea, but looking at your example:

[code]

The expected indent for that line is 4 spaces, so even ignoring the tabs, `indent` should throw an error since there are only 2 spaces.

[2016-09-26 22:19] platinumazure commented on #7248
Well, as I said, I'm making do and inferring based on insufficient information.

I guess the correct thing to do here is to have eslintbot get involved...

[2016-09-27 00:12] mysticatea commented on #7250
Thank you for this issue.

Though I'd like to say this is intentional since `baz` is ignored, we should fix this issue to prevent a breaking change without major version up.
I will work on this today (JST).

By the way, I'm interested in the option which warns such access to ignored variables. Maybe `disallowUseIgnored`. Or a separated rule such as [no-use-ignored-vars](https://github.com/mysticat

[2016-09-27 00:45] sstern6 commented on #3845
@nzakas would like to tackle this but having trouble reproducing the issue.

With eslint --version `3.6.0`, as @HeroicAutodidact mentioned, not getting any errors when running @czjvic example with with the eslint args.

Could someone please confirm they are able to still reproduce this issue?

[code]
Could it be possible as a result of another PR, this issue was inherently fixed?

Thanks

[2016-09-27 01:45] lukeapage commented on #3845
@sstern6 - it should warn, not give no errors

[2016-09-27 01:53] sstern6 commented on #3845
Thanks for the clarification @lukeapage.  Still not getting any `warnings` locally for the comments.

Were you able to reproduce?

[2016-09-27 02:45] feross commented on #7116
Unfortunately, it doesn't work for us. It prevents things like:

[code]

[2016-09-27 03:21] dandv opened #7255 "Can't override space-before-function-paren from Google config"
ESLint 3.6.1, Node 6.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No errors

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

I've flipped the values in .eslintrc

[2016-09-27 03:52] jfelchner commented on #6488
@nzakas I think it makes sense to do two things:

* `consistent` as a boolean which makes sure that if one curly has a newline, both curly's have newlines (and vice versa)
* `minProperties` needs to have a bug fixed.  The minimum number of properties required before the rule enables itself.  Right now if you set `minProperties` to `1`, the rule (with or without `multiline` set to `true`, still fai

[2016-09-27 04:00] jfelchner commented on #6488
I'm not sure, however, if this will fix the fact that `multiline` doesn't consider an object with a single property on its own line to be multiline.  This is a separate thing that seems like a bug.

[2016-09-27 04:02] lukeapage commented on #3845
The problem is that there is no warning and should be.. so no warnings means the bug is *not*  fixed.

[2016-09-27 04:11] sstern6 commented on #3845
Wow @lukeapage I am so sorry, I completely misread the initial bug.  Thank you for the clarification.  Will get on it.  Hopefully will have a patch in a few days.

Apologize for the miscommunication

Thanks

[2016-09-27 06:03] TheSavior commented on #7245
I agree that the original rule seems that it was meant to cover the case I specified.

I also happen to be happy with using max-statements-per-line since I am okay with only having 1 per line. I don't think the overlap with the two rules is quite sufficient since people might be okay with having multiple statements on a line but only want one var declaration per line.

[2016-09-27 06:16] valinaga opened #7256 "warning: flattenChildren(...)"
I fresh install ignite and create new app.
I run the app in ios.
Then click on the Component Example Screen i got this warning:

ExceptionsManager.js:78 Warning: flattenChildren(...): Encountered two children with the same key, `1:$Full Button`. Child keys must be unique; when two children share a key, only the first child will be used.
    in RCTView (created by View)
    in View (created by Scro

[2016-09-27 06:18] not-an-aardvark commented on #7249
I can reproduce this issue. I'll investigate it sometime tomorrow if no one else gets around to it by then.

[2016-09-27 07:31] IvanSanchez commented on #7248
OK, I'm not used to your workflow so I wasn't fully aware that you expected a *minimal* example from me. Sorry about that.

I copy-pasted some of our [production code](https://github.com/Leaflet/Leaflet/blob/master/src/layer/Layer.js) and made this small reproducible example:

[code]

It seems that tabs/spaces get lost in markdown formatting, so I've put [the code in a gist](https://gist.github.co

[2016-09-27 08:12] danpoltawski commented on #7250
Thanks! As mentioned above - in our case it was caused by a misconfiguration of argsIgnorePattern which matched a lot of args, so I am not sure how much you should be concerned about this being a problem in practice.

[2016-09-27 09:58] mysticatea commented on #7256
Thank you for this issue.

That warning seems to not related to ESLint.
I'm not sure what is it. I'm sorry.

[2016-09-27 09:58] #7256 closed

[2016-09-27 09:59] MathRobin opened #7257 "Unexpected token ( in lib/cli.js:123"
* **ESLint Version:** 3.6.1
* **Node Version:** 6.4.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**What did you do? Please include the actual source code causing the issue.**

[code]

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

[2016-09-27 10:09] mysticatea commented on #7257
Thank you for this issue.

Could you ensure your node version?
That error message is the message which is shown if node 0.12 executes ESLint.