[2019-08-05 15:29] kaicataldo commented on #12063
I'll champion this!

[2019-08-05 17:38] haykam821 opened #12064 "No nested template/string literals"
* **Please describe what the rule should do:** This rule should prevent template literals from containing nested template literals, by warning about template literals in their placeholders.
* **What category of rule is this? (place an "X" next to just one item)**
  * [ ] Warns about a potential error (problem)
  * [ ] Suggests an alternate way of doing something (suggestion)
  * [X] Enforces code

[2019-08-05 18:27] Conduitry commented on #11989
What's next here?

I don't know how much of the way the virtual preprocessed block's filename is constructed is part of the API contract. Using a query string or appending some other string that doesn't contain a forward slash would be tidier (and would probably remove the need for an option to control which filename we wanted), but it does seem to contradict what's in the docs: https://eslint.org

[2019-08-05 18:54] briman0094 opened #12065 "Allow syntax-based ordering for memberSyntaxSortOrder in sort-imports"
**What rule do you want to change?**

`sort-imports`

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

More options for the existing `memberSyntaxSortOrder` option property. Maybe new `ignoreAlphabetical` property?

**Please provide some example code that this change will affect:**

[cod

[2019-08-05 19:09] mdjermanovic commented on #12063
The code will not mix static and prototype methods, e.g.:

[code]

Both will be reported, as these are two unrelated elements that just happen to have the same name.

Also, rule should skip new elements for now, like [private instance accessors](https://github.com/tc39/proposal-private-methods#private-methods-and-fields), e.g.:

[code]

I guess the filter by `type = "MethodDefinition"` will skip t

[2019-08-05 19:47] kaicataldo commented on #12063
@mdjermanovic ESLint core doesn't support syntax features until they reach stage 4, so we can cross that bridge when we get to it.

[2019-08-05 19:50] kaicataldo commented on #12064
Do you mind clarifying what problem this proposal is attempting to solve? We have a lot of core rules, and for maintainability reasons we have a very high bar for the inclusion of new rules. Thanks for the proposal!

[2019-08-05 20:08] mdjermanovic commented on #12063
Yes, but still shouldn't crash on input that comes through `babel-eslint`? This probably wouldn't, I just thought to check could there be some false positives/negatives (most likely not, though).

[2019-08-05 20:11] haykam821 commented on #12064
It would help to reduce confusion, especially when using tagged template literals like with Chalk:

[code]

[2019-08-05 20:50] kcsparks commented on #11920
No problem!

[2019-08-05 21:25] platinumazure commented on #12059
@john681611

Could you please include an example of how it currently looks, and how it would look? I'm not sure I fully understand the proposal.

[2019-08-06 05:45] zypA13510 opened #12066 "Proposal: add new option `consistent-multiline` to `array-element-newline`"
**What rule do you want to change?**
[array-element-newline](https://eslint.org/docs/rules/array-element-newline)
**Does this change cause the rule to produce more or fewer warnings?**
more (than consistent) / fewer (than multiline)
see example below
**How will the change be implemented? (New option, new default behavior, etc.)?**
new option
**Please provide some example code that this change will

[2019-08-06 05:50] zypA13510 commented on #12066
Another approach would be to make `multiline` the third option rather than a direct replacement for `always`, `never` and `consistent`. But it would be a breaking change to existing configurations.

[2019-08-06 08:07] #11800 closed

[2019-08-06 08:37] john681611 commented on #12059
Current:
[code]

Proposed
[code]
<img width="666" alt="Screenshot 2019-08-06 at 09 35 56" src="https://user-images.githubusercontent.com/10814889/62524494-a0a94e00-b82d-11e9-81a8-a782f7b4439a.png">

Order between warnings and errors are in response order atm but could easily be sorted.

[2019-08-06 14:26] #11963 closed

[2019-08-06 14:28] platinumazure commented on #12064
@haykam821 Just for my understanding, for this chalk example, what would you recommend users do instead?

[code]

[2019-08-06 16:12] platinumazure commented on #12049
I'll champion this.

I like `classMembers` (or maybe `enforceForClassMembers`) and doing semver-minor updates to the rule as language features get to stage 4. But I'm open either way (re: whether to only cover methods for now).

[2019-08-06 16:52] haykam821 commented on #12064
@platinumazure, I'd recommend either of these solutions:

[code]

However, tagged template literals would be harder to autofix due to their nature. This rule could warn about them, but the scope is mostly on unnecessary nests.

[2019-08-06 20:30] mdjermanovic commented on #12049
There are already similar names:

* `enforceForArrowConditionals` in [no-extra-parens](https://eslint.org/docs/rules/no-extra-parens)
* `enforceForRenamedProperties` in [prefer-destructuring](https://eslint.org/docs/rules/prefer-destructuring)

The convention that `something = true` means 'enforce for something' instead of 'allow something' might be confusing. It was confusing to me as well, now I

[2019-08-06 20:52] platinumazure commented on #12049
Apologies, I should clarify that this is just my own opinion and the team might disagree. And also, I probably should say it is case by case- depending on if users would see the new language feature as a natural extension of the old, and therefore one they would want to enforce the same style on. If there's any doubt, then of course we should have separate options.

But the more options we have, t

[2019-08-06 23:10] mdjermanovic opened #12070 "Compare computed keys by tokens in no-dupe-keys"
**What rule do you want to change?**

no-dupe-keys

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

I'm not sure, it could be new default behavior.

**Please provide some example code that this change will affect:**

[code]
**What does the rule currently do for this code?**

No warnings

[2019-08-07 00:38] platinumazure commented on #12070
What should happen in this situation, where the keys have side effects?

[code]

[2019-08-07 00:54] mdjermanovic commented on #12070
That would be bad. Maybe to compare just identifiers, I guess that's the most common use case.

Albeit, in theory there could be  something like this:

[code]

[2019-08-07 00:57] platinumazure commented on #12015
Unfortunately, the ESLint TSC was not collectively available to do a release this past weekend. There haven't been a large number of merged PRs since the last release, and very few semver-minor ones, so we have decided to cancel this scheduled release.

Our next release will be on August 16th or the following weekend.

We greatly appreciate everyone's patience and understanding.

[2019-08-07 00:57] #12015 closed

[2019-08-07 00:57] eslint[bot] opened #12072 "Scheduled release for August 16th, 2019"
The scheduled release on Friday, August 16th, 2019 is assigned to:

* (needs volunteers)
* (needs volunteers)

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Rel

[2019-08-07 08:07] #11924 closed

[2019-08-07 13:01] Standard8 opened #12074 "Change commentPattern option of no-fallthrough to be case insensitive"
**What rule do you want to change?**

`no-fallthrough` - change the `commentPattern` regexp parameter to be treated as case insensitive.

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Adjust the existing option.

**Please provide some example code that this change will affect:**

[c

[2019-08-07 13:02] Standard8 commented on #12074
Note: the default regular expression `/falls?\s?through/iu` is already treated as case-insensitive, which is why I think it makes sense to make this change.

[2019-08-07 17:59] platinumazure commented on #9259
I'm not sure I understand why we want to focus on modifying `object-curly-newline`. I still think a new rule would make more sense, especially if we also want to handle array destructuring there as well.

@eslint/eslint-team Are we still looking for a concrete proposal here?

[2019-08-07 18:03] aparajita opened #12075 "Support class fields with lines-between-class-members"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 12.6.0
* **npm Version:** 6.10.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command th

[2019-08-07 18:35] kaicataldo commented on #12075
Hi @aparajita, thanks for the issue. While I understand the desire to use this syntax with ESLint core, the team's [policy around experimental features](https://github.com/eslint/eslint#what-about-experimental-features) is that we don't add support (though we avoid crashing on) features that are stage 3 and below.

[2019-08-07 18:47] kaicataldo commented on #12070
I know [my comment](https://github.com/eslint/eslint/pull/12069#discussion_r311306518) kicked off this discussion, but given the discussion above, I agree that this doesn't seem like a case we can enforce reliably and safely. I think the current behavior probably makes the most sense. @mdjermanovic Thanks for exploring this!

[2019-08-07 19:02] ljharb commented on #9259
Realistically, what’s needed is a generic rule for newlines in any curly braced structure, that allows configuring by import/destructuring/etc.

[2019-08-07 19:11] aparajita commented on #12075
Your policy does allow for exceptions. The parser is working, the rule is not. Actually, the rule just broke recently, it used to work.

[2019-08-07 19:34] kaicataldo commented on #12075
There have been exceptions in the past, and we decided to clarify this policy in an effort to be clearer and more consistent. Is the rule currently crashing? If so, we would definitely want to fix that (as per our policy). Otherwise, I suggest making an issue in https://github.com/babel/eslint-plugin-babel to see if a modified version of the rule can be added there.

[2019-08-07 19:42] kaicataldo commented on #12074
This would be a breaking change if we enabled this behavior by default. I do think it makes sense to allow for this behavior, but I'm not sure what the best way to go about it is.

Some options:
1. Put the behavior suggested here behind a flag (maybe `caseInsensitive: boolean`?)
1. Allow for configuration to pass an actual RegExp to the configuration (though this would only work in .js configurati

[2019-08-07 20:56] platinumazure commented on #12074
I would vote for option 1 for this issue, and I think we should have a larger issue about different ways to support regex options (including standardizing on something across the core rules if possible).

[2019-08-08 01:54] platinumazure commented on #12063
@mdjermanovic

I really appreciate your commitment to quality on this front. That said, I don't personally interpret our policy to mean that we should punish ourselves if we accidentally release an enhancement that does cause a crash for someone using a stage 3 feature. I see our policy as more reactive: If we discover, or are informed about, an issue where a stage 3 feature crashes, we can fix it

[2019-08-08 03:39] mdjermanovic commented on #12063
@platinumazure

That was very helpful, now I have a much better understanding of the stage 3 policy :)

[2019-08-08 04:05] G-Rath opened #12078 "Support .eslintrc.ts"
**The version of ESLint you are using.**
6

**The problem you want to solve.**
Allowing typescript users to write strongly typed `.eslintrc` configuration files that "just work" in the same manner as `.eslintrc.js`.

**Your take on the correct solution to problem.**
use `ts-node` to bootstrap `.ts` files if it's available.

This would be following in the footsteps of other libraries, including:

[2019-08-08 04:13] G-Rath commented on #12078
@SimenB @shellscape @bradzacher hope you guys don't mind me pinging you, but I'd love to know your thoughts on this, given your prior OSS art :)

[2019-08-08 04:26] ljharb commented on #12078
why would eslint support config in a language that’s handled by a third party parser? there’s no .eslintrc.flow either.

[2019-08-08 04:31] shellscape commented on #12078
@G-Rath I don't think you're going to find a sympathetic ear on the ESLint maintainers list for this one (previous somewhat snippy comment as evidence). That being said, it should be relatively easy to create a wrapper CLI that uses `rechoir` to load the config and forward that onto ESLint proper. I'd suggest that as an alternate route.

[2019-08-08 04:35] G-Rath commented on #12078
@ljharb

No, but there's also no @flow-lint.

Why would it support YAML when it requires another package?

I don't want eslint to support full blown typescript parsing - but given all that's needed is chucking it into `ts-node/register`, I don't think it's any greater than asking for `yaml` support.
-----

@shellscape

That's how I thought it'd be, but since I couldn't find an issue anywhere alrea

[2019-08-08 04:42] kaicataldo commented on #12078
@G-Rath @shellscape Hi! Please note that while @ljharb's opinion is valued here, they're not currently maintaining ESLint. I don't know if we would end up accepting this or not, but characterizing the maintainers in that light before any of us have had a chance to respond doesn't feel very fair to us.

Now, to the issue at hand! Maybe I'm misunderstanding something, but would you mind explaining w

[2019-08-08 04:46] kaicataldo commented on #12078
Looks like the above comment was edited after I posed my question. Thanks for explaining what you think the benefits are. That makes it a lot easier for us to evaluate the proposal.

While we're happy to discuss here, please also note that changes to core require an [RFC](https://github.com/eslint/rfcs) before we implement them.

[2019-08-08 05:01] g-plane commented on #12078
@G-Rath I'm curious about why you want to support `.eslintrc.ts`? Just a question, not means I oppose this proposal.

[2019-08-08 05:01] G-Rath commented on #12078
@kaicataldo Hi! Don't worry, I don't hold anything again @ljharb - and he had a valid point 🙂

To clarify, I was & still am expecting some negative pushback on this, as a library as big as `eslint` has to be very careful about what features it added.

Hahah yeah sorry about that. I'm done editing that comment now :)

Absolutely! Typescript can consume definition files for typings, which don't have

[2019-08-08 05:11] G-Rath commented on #12078
Another (minor) gain to supporting `.eslintrc.ts` is the general operability w/ other major packages, like `webpack`.

While this comes close to being one of my original reasons, and doesn't have a direct impact on `eslint`, I do think there is value in the ease-of-use of being able to switch to `.eslintrc.ts` in the same manner you can your `webpack.config.js` & `danger.js` (and hopefully soon `b

[2019-08-08 06:16] bradzacher commented on #12078
I ranted a bit here, sorry.
TLDR is that there are potential UX benefits for users that use/understand typescript in the form of clearer compile-time errors.

---

This is an interesting thought. I've considered it before, but I don't hugely want to deviate from eslint with a cli wrapper.

We've had an jump in the number of new users - both brand new users who've never linted before, as well as th

[2019-08-08 06:50] g-plane commented on #12078
**TL; DR: Just a joke.**

---

@G-Rath

I think you may want the GitHub languages status for your codebase to keep 100% TypeScript with blue color bar. Like this, right?
![图片](https://user-images.githubusercontent.com/17216317/62681097-743b3080-b9eb-11e9-88af-9710aec3f2a0.png)

I'm also a fan of doing this.

[2019-08-08 09:42] SimenB commented on #12078
What is it that we want changed in eslint? Supporting a `--require` flag where you can plug in `ts-node`? Finding `.ts` config file (and throw a nice error if the aforementioned `--require` flag is not passed)? Without any form of type checking, I'm not sure it's worth it to change anything within `eslint` itself, unless I'm missing something.
Is the thought that some sort of central drive from es

[2019-08-08 10:02] G-Rath commented on #12078
The problem I have w/ making it a flag, is that it's common place to just run `eslint` by itself, the way way you run webpack, which means it'll instantly break and you have to know the flag syntax.

But that's also something that can be changed later, and there are methods to work around it (tho I think a lot of tool defaults to just calling `eslint` w/ a file path, which'd be annoying :/)

-----

[2019-08-08 13:54] ljharb commented on #12078
With the checkJs flag, couldn’t typescript (possibly with some changes) just check it as if it’s TS? that would bypass the problem of pegging eslint to a typescript version, and would still provide the benefits @bradzacher mentions.

[2019-08-08 16:55] platinumazure commented on #12032
Hi @JounQin, thanks for the issue and sorry for letting this slide.

Could you please try running ESLint with the `--debug` command, and paste the output here?

[2019-08-08 18:24] bradzacher commented on #12078
`checkJs` will just do its best to infer types for `.js` files, but it doesn't enable you to write proper type annotations and the like. It'll use JSDoc to infer types as well.

Which means that typescript would just treat this as an object literal with no checks, because without type annotations, it doesn't "mean" anything special.
[code]

I believe that you could get around this easily(ish) by c

[2019-08-08 20:04] kaicataldo commented on #12078
Thanks for all the information - I have a much better understanding now!

Some thoughts:
1. Being able to type check the configuration would be a very cool feature! 😄
1. It seems unlikely to me that the team could commit to maintaining type definitions for every release (though if we wanted to pursue that, we definitely could bring it up in an RFC or bring it to the TSC). I know the idea is curren

[2019-08-08 21:26] aparajita commented on #12075
FYI, I submitted a PR at [babel/eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel/pull/184).

[2019-08-09 03:04] g-plane commented on #12078
I hope the TypeScript type definitions of ESLint can be maintained by our ESLint team.

[2019-08-09 03:30] mdjermanovic opened #12080 "Report '\08' and '\09' in no-octal-escape"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that y

[2019-08-09 08:07] #11969 closed

[2019-08-09 15:34] bradzacher commented on #12078
I believe that it would work as that's essentially what happens when you run `node -r ts-node/register`.
The obvious downside of that is that you have to have two `eslintrc`'s.

[2019-08-09 18:09] hhyyrylainen opened #12081 "Loading global plugins for CLI usage"
**The version of ESLint you are using.**
ESLint: 6.1.0.

Works as expected with v5.6.1
**The problem you want to solve.**
ESLint no longer loads global plugins (changed in major version 6), even when there is no `package.json` file present.

I get this output:
[code]
I have `eslint-plugin-html` installed globally:
[code]
Running the suggested command fixes it, but it also forcefully creates packag

[2019-08-09 19:13] platinumazure commented on #12081
For the team's context: I know there are a few similar issues about required local installs, but the key point in this case is that the project doesn't even have a `package.json`, so there is no intent to have dependencies locally.

In these cases, I think users should be able to opt in to a "full global mode", where ESLint, plugins, and configs are all expected to be installed globally.

Of cours

[2019-08-09 20:10] janakdr opened #12083 "ESLint with Google style warning on properly formatted code"
The following code is unchanged by `clang-format --style=Google`:

[code]

However, running it with ESLint gives the errors:

[code]

ESLint apparently wants the lines above to be:

[code]
This seems inconsistent with clang-format's concept of ContinuationIndentWidth. Is there a workaround for this? Or is my setup wrong? The contents of my .eslintrc are:

[code]

[2019-08-09 20:16] kaicataldo commented on #12083
It looks like you're extending off of [`eslint-config-google`](https://github.com/google/eslint-config-google). The configuration for that project can be found [here](https://github.com/google/eslint-config-google/blob/master/index.js#L208-L228). I'm not sure if there's a way to enforce this with the core indentation rule or not, but if you feel that `eslint-config-google` is not enforcing what yo

[2019-08-09 20:25] janakdr commented on #12083
Thanks! Filed https://github.com/google/eslint-config-google/issues/58

[2019-08-09 20:25] #12083 closed

[2019-08-09 20:27] kaicataldo commented on #12078
Relevant PR and discussion: https://github.com/eslint/eslint/pull/12082

[2019-08-09 21:13] not-an-aardvark commented on #12081
Can this already be solved using the `--resolve-plugins-relative-to` flag?

[2019-08-09 23:19] tnrich commented on #3458
@octogonz I'm getting the following error when trying to follow your steps:

[code]

I added a console log to see what file it is failing for. I'm not sure if your monkeypatch will always work depending on what is running the eslint.

[2019-08-09 23:22] octogonz commented on #3458
Are you using ESLint 5?  This feature requires ESLint 6+.

[2019-08-10 00:04] luislobo opened #12084 "no-extra-parens should be allowed for destructuring objects in a function parameter"
**What rule do you want to change?**
no-extra-parens

**Does this change cause the rule to produce more or fewer warnings?**
Fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
   error  Unnecessary parentheses arou

[2019-08-10 00:39] #12084 closed

[2019-08-10 06:11] davedoesdev commented on #11267
Did this happen though? I can't see `no-console` in https://github.com/eslint/eslint/blob/master/conf/eslint-recommended.js

[2019-08-10 08:07] #11971 closed

[2019-08-10 14:32] mdjermanovic opened #12086 "prefer-object-spread invalid autofix with accessors"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2019-08-10 14:50] platinumazure commented on #11267
We removed `no-console` from `eslint:recommended` in 6.0 ([migration guide](https://eslint.org/docs/user-guide/migrating-to-6.0.0#-eslintrecommended-has-been-updated)).

[2019-08-10 15:04] ljharb commented on #12086
The autofix did this, or you manually did?

If you want to preserve the behavior of reifying getters and setters, you’d need to do:
[code]

[2019-08-10 15:35] mdjermanovic commented on #12086
The autofix did this.

I guess it would be best to simply not fix the code at all if there are any getters/setters in source or target object literals?

Perhaps not even warn in Example 1. On the other hand, Example 2 is a possible error in user's code.

[2019-08-10 15:50] ljharb commented on #12086
Probably best to not autofix there at all, unless it can use the output i suggested.

[2019-08-10 15:51] ljharb commented on #12086
In general tho, I’d say if you’re relying on setters being triggered during an Object.assign call, that’s not something I’d let pass code review :-)

[2019-08-10 16:08] mdjermanovic commented on #12086
I agree, not my code just noted that the fix shouldn't change behavior, whatever it is.

An additional question might be should the rule warn at all in the first example?

[2019-08-10 16:20] platinumazure commented on #12063
@eslint/eslint-team We just need two more :+1:s to accept this enhancement!

[2019-08-10 16:50] platinumazure commented on #12075
Closing as ESLint doesn't support stage 3 features. If the syntax advances to stage 4, we can absolutely reopen this or discuss in a new issue. Thanks!

[2019-08-10 16:50] #12075 closed

[2019-08-10 17:15] moltar opened #12087 "ESLint not respecting ignore rules correctly"
**Tell us about your environment**

* **ESLint Version:** v6.1.0
* **Node Version:** v10.15.3
* **npm Version:** 6.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

See [`.eslintrc.js`](https://github.com/moltar/tsnm/blob/feature/eslint/.eslintrc.js) for details.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What did y

[2019-08-10 20:36] hhyyrylainen commented on #12081
It seems like `--resolve-plugins-relative-to /usr/lib/node_modules/` works, but I had to run `npm list -g` to find that path (it was different than what people were commenting on this issue: https://stackoverflow.com/questions/5926672/where-does-npm-install-packages)
It looks like the global node modules may be at some random path? If that's the case I can't hard code the path in my script that ru

[2019-08-10 22:41] kaicataldo commented on #12081
The location of global `node_modules` differs for different operating systems as well as the method which is used to install Node/npm. You might be able to use something like `npm config get prefix` in whatever script you use to run ESLint to ensure that it works across different machines.

[2019-08-11 08:07] #11975 closed

[2019-08-11 12:42] Havunen commented on #11876
For me this issue happened when updating eslint. One of the plugins was deprecated and did not with new version. https://github.com/eslint/typescript-eslint-parser

The plugin in question was:
`typescript-eslint-parser`

and was replaced with:
`@typescript-eslint/parser`

[2019-08-12 03:37] liunate commented on #11226
I found the destructured variable also shows identifier error when it's assigned to another variable.

It's OK when it's assigned to object property value or is fed to function parameter.

See latest eslint v6 [demo] (https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGNhbWVsY2FzZTogW2Vycm9yLCB7IGlnbm9yZURlc3RydWN0dXJpbmc6IHRydWUsIHByb3BlcnRpZXM6IFwibmV2ZXJcIiB9XSAqL1xuXG5jb25zdCBhbm90aGVyRnVuYyA9IC

[2019-08-12 06:21] silverwind opened #12089 "object-curly-spacing: comments should not trigger rule"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** 12.7.0
* **npm Version:** 6.10.0

**Please show your full configuration:**

[code]

**What did you expect to happen?**

This code to pass:

[code]

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

Maybe related to https://github.com/eslint/eslint/commit/67c08b67509c54acd96aab2

[2019-08-12 11:21] mysticatea commented on #11803
We are still awaiting ESTree's decide. I'm wondering that we should fork the AST spec because that PR has been inactive since two months ago.

[2019-08-12 12:29] mysticatea commented on #11803
Yay, that PR has been merged!

[2019-08-12 13:05] michal-autin opened #12090 "ESLint crashes on stat operation, not permitted"
* ESLint: v6.1.0 (Windows 10, cmder)
* Node.js: v10.16.0
* Yarn 1.17.3
Default parser for firebase functions project

<details>
<summary>Configuration</summary>

[code]
.eslintignore
[code]

</details>

Default firebase function deployment runs linting before. Linting crashes, and deplyment stops. Linting is made by

[code]
or (manually)
[code]

**What did you expect to happen?**
To lint the code

[2019-08-12 14:51] Industrial commented on #11924
That should be a code smell. An indicator for people to not write their code in this way. I don't think it should be a problem to be prevented by not implementing the sorting :S

[2019-08-12 14:54] mdjermanovic commented on #12089
This is same as #11902

[2019-08-12 14:59] ljharb commented on #11924
@Industrial it’s not always. Polyfills and shims are *supposed* to cause side effects and be written in that way.

However, typically the only imports with side effects are ones without a binding - just like it’s safe to reorganize properties as long as nothing crosses a spread, it’s safe to sort imports as long as nothing crosses a bindingless import.

[2019-08-12 14:59] mdjermanovic commented on #11902
Ignore the brace regardless of the options if the first non-comment token is on another line?

[2019-08-12 15:15] platinumazure commented on #12089
Closing this as a duplicate of #11902, please track that issue for resolution. Thanks!

[2019-08-12 15:15] #12089 closed

[2019-08-12 15:26] silverwind commented on #12089
Indeed, it is.

[2019-08-12 15:32] silverwind commented on #11902
This is a regression in 6.x, it did pass in 5.x. I suspect https://github.com/eslint/eslint/commit/67c08b67509c54acd96aab2cec22efb53bfe6265 introducted the regression.

CC: @g-plane

[2019-08-12 16:54] philip-peterson opened #12092 "arrow-body-style fix is overzealous for `as-needed`"
**Tell us about your environment**

* **ESLint Version:**
6.1.0

* **Node Version:**
11.10.1

* **yarn Version:**
1.16.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2019-08-12 18:05] tnrich commented on #3458
@octogonz I don't know if this is really the most appropriate place to have this discussion but I haven't been able to get it to work now that I'm using eslint v6. Maybe you could post an example repo where your method is working? Thanks!

[2019-08-12 18:06] ljharb commented on #12092
Why is this overzealous? JSX resolves to a single expression value; an arrow function that returns an expression should use the concise form when using "as-needed".

[2019-08-12 18:47] octogonz commented on #3458
Will do. BTW I'm reachable on gitter.im if you want to follow up offline.

[2019-08-12 18:53] philip-peterson commented on #12092
Fair point. Maybe it should work this way.

[2019-08-12 18:53] #12092 closed

[2019-08-12 21:00] mercmobily commented on #11803
acornjs/acorn#844 has been merged too

[2019-08-12 21:01] mercmobily commented on #11803
#11802 has also been merged

[2019-08-13 11:23] Svish opened #12093 "TypeError: Cannot read property 'meta' of undefined"
**Tell us about your environment**

* **ESLint Version:** 5.16.0
* **Node Version:** 12.8.0
* **npm Version:** 6.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
`@typescript-eslint/parser`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well a

[2019-08-13 11:52] abdonrd commented on #11803
https://github.com/eslint/eslint-visitor-keys/pull/8 has also been merged!

[2019-08-13 12:10] JounQin commented on #12032
<details>
  <summary>Debug Info</summary>

[code]

</details>

@platinumazure Sorry for delay.

[code]

[code]

[2019-08-13 14:46] mysticatea commented on #12093
Thank you for your report.

Sounds like a duplicate of https://github.com/eslint/eslint/issues/11586. Please try the latest ESLint.

[2019-08-13 15:53] jsg2021 commented on #11979
I second @dominikschreiber. The global comment directive should not trip this rule. 😕

[2019-08-13 20:40] #11704 closed

[2019-08-14 03:05] kaicataldo commented on #11226
@liunate Feel free to open up a new issue! We've found that reopening stale issues tend to still not get much attention.

[2019-08-14 14:47] GrayedFox opened #12097 "Warn against identical left and right hand ternary expressions (no-identical-ternary-expressions)"
**Please describe what the rule should do:**

This rule would detect identical left and right hand statements within a ternary operator.

The rule would only be configurable in a "warning" or "error" sense (like all other rules) or could be switched off, although to be honest I can't imagine why anyone would ever need to turn it off!

**What category of rule is this? (place an "X" next to just one

[2019-08-14 15:30] platinumazure commented on #12097
Hi @GrayedFox, thanks for the issue!

I'm personally wondering if this should instead be an enhancement to [`no-unneeded-ternary`](https://eslint.org/docs/rules/no-unneeded-ternary). In any case, I'm :+1: for adding this.

[2019-08-14 16:17] kumarashwin commented on #11717
Having the same issue. Tried all the different methods mentioned here to no avail.

[2019-08-14 16:28] platinumazure commented on #11717
@kumarashwin Please open a new issue and please fill in the information the new issue template asks for (including the configuration you're using). Thanks!

[2019-08-14 17:02] Svish commented on #12093
Need https://github.com/facebook/create-react-app/issues/7529 to be fixed first for that, because it's blocking our upgrade to ESLint 6, but will once that's resolved. 🙂👍

[2019-08-14 17:43] GrayedFox commented on #12097
Good point! Would be happy to instead extend that rule, but perhaps distinguish between error messages for identical left/right and the other types of unneeded ternary operators?

In both cases the ternary operator is strictly speaking unnecessary, however when we encounter identical left and right hand ternary expressions my assumption would be that the ternary is perhaps required, but that one o

[2019-08-14 20:30] mdjermanovic opened #12098 "no-unneeded-ternary incorrect documentation for defaultAssignment option"
This is a "documentation bug".

**The version of ESLint you are using.**

6.1.0

**The problem you want to solve.**

Documentation for `defaultAssignment` option of the [`no-unneeded-ternary`](https://eslint.org/docs/rules/no-unneeded-ternary) rule is incorrect.

`defaultAssignment = true` means don't report expressions such as `x ? x : y`.

`defaultAssignment = false` means report expressions suc

[2019-08-15 00:33] octogonz commented on #3458
@tnrich If you want to share a repro branch for your issue, I'd be happy to debug it.  I'm almost done converting my repo which can serve as an example, but I realized that seeing it work may not give much insight into why your project is failing.

[2019-08-15 06:34] ljharb opened #12101 "explicit ecmaVersion of `5` is reported as an invalid ecmaVersion"
**Tell us about your environment**

* **ESLint Version:** v6.1.0
* **Node Version:** v12.8.0
* **npm Version:** v6.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>.eslintrc</summary>

[code]
</details>

<details>
<summary>--print-config Configuration</summary>

[code]

</details>

**What did you do? Please inc

[2019-08-15 07:22] feross commented on #11018
This is the simplest workaround I've found:

[code]

It forces npm to install packages like it did in npm@2, with no attempt to flatten the tree (which is where the bug is happening).

[2019-08-15 08:07] #11836 closed

[2019-08-15 08:12] aladdin-add commented on #11414
reopen as it is happening in latest eslint and default parser: I've created a mini [demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgXCJrZXktc3BhY2luZ1wiOiBbXCJ3YXJuXCIsIHtcIm11bHRpTGluZVwiOiB7XCJhbGlnblwiOiBcInZhbHVlXCJ9fV0qL1xuXG5zdHlsZT17XG4gbWFyZ2luUmlnaHQ6ICc0cHgnLCBjb2xvcjogJyMwQzA5MEEnLFxufVxuIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoxMCwic291cmNlVHlwZSI6InNjcmlwdCIsIm

[2019-08-15 08:59] mysticatea commented on #12101
Thank you for your report.

This is intentional behavior. The `ecmaVersion` option requires a number rather than strings.

[2019-08-15 09:43] qq446506536 commented on #11876
So....Is any solution???

[2019-08-15 11:31] GrayedFox commented on #12097
Hmm... so, after poking around, I've reconsidered combining it with no-unneeded-ternary. Here is why, input welcome:

- the category of the no-unneeded-ternary rule is Stylistic Issues (which makes sense) however the identical left and right hand assignment would fall under Possible Errors
- if we combine it with no-unneeded-ternary, which some users might want to switch off, they would have to sw

[2019-08-15 13:57] mhuguet commented on #11957
Thanks for the tip @platinumazure. Our custom runner was using a relative path, which broke when uptaking the ESLint 6.x. I switched it to require("eslint").CLIEngine; and it worked as expected.

[2019-08-15 14:22] ljharb commented on #12101
Thanks; can you help me find where in the changelog this breaking change is mentioned?

Also, perhaps the error message for the wrong type, could be different from the message for the wrong value?

[2019-08-15 15:30] aladdin-add commented on #12101
changelog: https://github.com/eslint/eslint/blob/master/docs/user-guide/migrating-to-6.0.0.md#-the-default-parser-now-validates-options-more-strictly

refs:  eslint/eslint#9687, eslint/espree#384

and I agreed the error message can be improved! :-)

[2019-08-15 19:56] gkz commented on #11536
I can look into fixing this guys

[2019-08-15 20:00] gkz commented on #11536
Feel free to email me at the email in my profile if you have such issues in the future

[2019-08-15 20:18] kaicataldo commented on #11536
@gkz Thank you!

[2019-08-15 20:36] ilyavolodin commented on #12072
I'm available on Friday from 8pm till 11pm (EST) for the release. Will be unavailable during the weekend.

[2019-08-15 22:08] platinumazure commented on #12072
I might be available tomorrow evening but not 100% sure yet. Otherwise Saturday morning (e.g., 11am EDT/16:00 UTC) should work for me as well.

[2019-08-15 22:09] platinumazure commented on #12072
I'd like to release espree and upgrade espree and eslint-visitor-keys as part of the ESLint release.

Less critically, I think eslint-release is ready for a major release and upgrade at some point. But we probably don't need to include that in this weekend's release.

[2019-08-15 22:31] gkz commented on #11536
Do you guys have a suggestion for an alternative to using `wordwrap`? It seems unlikely to be updated

[2019-08-16 04:48] kaicataldo commented on #11536
I'm seeing a number of packages that look similar to `wordwrap` [on npm](https://www.npmjs.com/search?q=word%20wrap), though I don't have experience with any of them. Since the project is MIT licensed, another option could potentially be to copy [the code](https://github.com/substack/node-wordwrap/blob/master/index.js) (since it's a pretty small module) and its tests into `optionator` and, if the

[2019-08-16 08:07] #11988 closed

[2019-08-16 08:07] #11997 closed

[2019-08-16 08:49] unional commented on #12032
I get a similar error when using `overrides.extends`.

The error is:
[code]

It can be reproduced in https://github.com/unional/eslint-plugin-harmony

You can observe it in IDE or by running `yarn test`

[2019-08-16 08:51] unional commented on #12032
Here is the result for `npx eslint spec/recommended --debug`:

[code]

[2019-08-16 13:43] ilyavolodin commented on #12072
@eslint/eslint-tsc Please provide your availability on this issue. We need to do a release this weekend, because we skipped last release.

[2019-08-16 15:57] unframework commented on #10884
Folks, this turned out to be not enough of a priority to put out a polished-enough fix on my end - I just got used to a more indent-heavy code style anyway. Thanks for helping discuss this!

[2019-08-16 15:57] #10884 closed

[2019-08-16 16:10] NemoStein commented on #11803
Now that we have https://github.com/estree/estree/commit/9a38106c285853370ebf94fed05dccaa05b3f936 in ESTree spec, what is the status of this issue?

[2019-08-16 16:26] octogonz commented on #3458
@tnrich Here's a real life repo that illustrates how the patch works: [.eslintrc.js](https://github.com/microsoft/tsdoc/blob/746a8fb8fe89790107325c79e9077cdc8c83546a/playground/.eslintrc.js#L2)

[2019-08-16 18:00] platinumazure commented on #11803
@NemoStein Please look at the task list in the initial post. At this point, we have updated espree and just need to release espree and consume in ESLint, and then we can review and merge PRs like #11983.

I'm hoping we can make big strides in this area for our users with the upcoming ESLint minor release sometime this weekend. But I can't promise anything. :smile:

[2019-08-16 18:19] unional commented on #12032
I have figured out the cause of this bug.

It is because `overrides.extends` does not get merged property when the config is being extended.

Here is an example:

`style-guide.json`:
[code]

`.eslintrc`:
[code]

`eslint` can't handle the `extends` when the `style-guide` contains `overrides`.

[2019-08-16 22:39] tnrich commented on #3458
Thanks @octogonz I was able to get it working. I'll give you more feedback if I run into any issues with it. Are there any caveats or gotcha's with your patch?

I'm using it for a few large react apps extending Create React App's config and some smaller node projects.

[2019-08-17 03:16] platinumazure commented on #12072
I'll come online tomorrow morning (US time) to merge the last ready espree PR and cut a release there. Hopefully I'll be able to update the bigint/dynamic import PR as well.

I still would like to do the ESLint release with a second person.

[2019-08-17 05:42] yordis commented on #3458
Is there any reason why we can't make a PR fixing this issue? It seems that some people figured it out.

[2019-08-17 08:43] Skalman opened #12108 "require-automatic-updates doesn't understand when the condition is re-checked"
**Tell us about your environment**

* **ESLint Version:** v6.1.0
* **Node Version:** v10.14.1
* **npm Version:** v6.7.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-08-17 10:55] dwelle commented on #12070
IMO this is a useful feature to implement, even if for the simple case of:

[code]
where the key isn't an expression (as @platinumazure noted) other than a simple variable reference.

In our team, we've already had at least one painful debugging experience due to this.

If the worry is that doing e.g. `{ [o.id]: "a", [o.id]: "b" }` could result in false positive in case `o.id` was a self-increment

[2019-08-17 15:29] simlu opened #12109 "Prevent unnecessary parent-child traversal in require"
**Please describe what the rule should do:**

When a `require` references a relative file, but unnecessarily traverses up and down the file tree, this should be a warning.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)
[ ] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[ ] Other (plea

[2019-08-17 17:23] platinumazure commented on #12109
Hi @simlu, thanks for the issue.

I'm not convinced this should be in ESLint core, simply because we have a lot of rules now and we would prefer to add new rules that are really high value for users. I'm not convinced the value here is worth the maintenance burden. Maybe other team members will feel differently.

I think this would be a great feature for [`eslint-plugin-import`](https://github.com

[2019-08-17 22:40] kaicataldo commented on #11789
The TSC resolved this week to include a built-in TypeScript config preset and look into allowing plugins to provide additional init presets in the future.

[2019-08-17 22:42] kaicataldo commented on #12072
Sorry for the late notice, but I'm around this evening and could potentially help out with a release.

[2019-08-18 01:32] mdjermanovic commented on #12036
I'm working on this, but have a question. Should the rule also allow these:

[code]

[code]

I.e. ignore a comment that contains only a marker like it already ignores an empty `/**/`

The issue with `//#endregion` is that the rule requires a `\s` after the marker, but there is nothing. Linebreak is not included in comment's `value`.

`\\` immediately followed by the line ending is allowed simply b

[2019-08-18 03:12] platinumazure commented on #12072
Ack, I had a personal thing come up last night and forgot to do the espree stuff today. Sorry.

I can be on to release in an hour if needed, but it's pretty late. I should have time tomorrow afternoon (US) as well.

[2019-08-18 03:19] kaicataldo commented on #12072
Let's try for tomorrow afternoon!

[2019-08-18 04:36] octogonz opened #12111 "max-lines suppression should not need to be the first line in the file"
**Tell us about your environment**

* **ESLint Version:** 6.1.0
* **Node Version:** v8.15.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<summary>Configuration</summary>

[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.*

[2019-08-18 05:37] platinumazure commented on #12111
Hi @octogonz, thanks for the issue.

ESLint disable comments work based on the location of reported lint messages. Lint messages that occur after the disable comment and before any enable comment are filtered out.

The issue in this case is that `max-lines` reports on line 1 column 1, which is properly suppressed in a first-line disable comment but not suppressed if the disable comment is on the s

[2019-08-18 05:38] platinumazure commented on #12111
Also: In theory we could change the reporting location in the rule to be the last line, or the n+1 line, which would cover most cases. But I'm not sure I see much value in doing that when it seems that using rule configuration comments works and (in my opinion) makes more sense semantically for what the issue creator wants.

[2019-08-18 06:01] #11893 closed

[2019-08-18 06:01] #11906 closed

[2019-08-18 06:54] octogonz commented on #12111
Using `/* eslint max-lines: off */` makes sense and solves this problem.

But I'll mention that from a user experience perspective, the distinction between "disabling" and "configuring" is somewhat subtle.  It's not obvious why `max-lines` can't be disabled like other rules.  Consider that 99% of users aren't the person who initially configured ESLint for their company, so their entire interaction

[2019-08-18 08:07] #12002 closed

[2019-08-18 08:07] #12004 closed

[2019-08-18 13:46] platinumazure commented on #12111
You're absolutely right! I'll note that we're at least exploring whether we can remove the block comment vs line comment distinction [here](https://github.com/eslint/rfcs/pull/34). Otherwise, we would definitely welcome documentation PRs to provide a quick and intuitive introduction to inline comments.

[2019-08-18 13:55] nknapp opened #12114 "Patterns in `overrides[].files` don't match dot-files"
**This issue is fixed in version 6.1 (maybe even 6.0), but after writing all this text, I though I'd still add an issue (and close it), just in case somebody has the same problems and looks for a solution.

**Tell us about your environment**

* **ESLint Version:** 5.16.0
* **Node Version:** 10.15.1
* **npm Version:** 6.8.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

[2019-08-18 13:55] #12114 closed

[2019-08-18 19:43] simlu commented on #12109
As a reference, I've added this rule to the blackflux linting for now:
https://github.com/blackflux/eslint-plugin-rules/pull/264/files

[2019-08-18 20:09] devinrhode2 opened #12115 "Feature Request: Set custom formatter in .eslintrc"
**The version of ESLint you are using.**
6.1.0

**The problem you want to solve.**
Set custom formatter via eslintrc file. (https://eslint.org/docs/user-guide/formatters/#eslint-formatters)

It seems that eslint only supports custom formatters via the command line flag `-f` and via CLIEngine api.

I have dug around for a few hours and it looks like you can only set a custom formatter via cli OR th

[2019-08-18 21:47] platinumazure commented on #11916
@eslint/eslint-team This just needs a champion and we could accept this!

[2019-08-18 22:32] kaicataldo commented on #12072
`eslint@6.2.0` has been released! We had an issue with getting CI to pass after the Espree release, which was caused by us having `acorn@^6.1.1` in `devDependencies` (Espree updates this to `acorn@^7.0.0`):

[code]

This caused the version of acorn being used in tests to not match the updated version in Espree, causing tests to fail. Updating `acorn`'s version range in ESLint's `devDependencies` t

[2019-08-18 22:38] platinumazure commented on #12072
I think the reason ESLint uses Acorn directly is to make a "loose" parser. We may be able to remove that dependency if espree is updated to have a recoverable errors mode (see eslint/espree#417). I think this will avoid the dependency version conflict in the future.

[2019-08-18 23:17] kaicataldo commented on #11916
I'll champion this.

[2019-08-18 23:22] feross opened #12117 "ESLint 6.2.0 + babel-eslint + no-unused-vars false positive with for-in loop"
There's a new issue in ESLint 6.2.0 just caught by the `standard` test suite. Issue did not exist in ESLint 6.1.0.

**Tell us about your environment**

* **ESLint Version:** 6.2.0
* **Node Version:**10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

[2019-08-18 23:25] h4emp3 commented on #12117
I just noticed this as well, maybe a second example might help in finding the problem.

test.js
[code]

[code]

[2019-08-18 23:26] mdjermanovic commented on #11916
I'm working on this :)

What should be the name of the new option? The last was `enforceForArrowConditionals`

Maybe `enforceForSequenceExpressions` instead of just `sequenceExpressions`?

[2019-08-18 23:27] feross commented on #12117
This may have been caused by the change to the `no-unused-vars` rule introduced in this PR: https://github.com/eslint/eslint/pull/12055 cc @mdjermanovic

[2019-08-18 23:31] h4emp3 commented on #12117
Well, at least the rule doesn't result in a false positive for my example when I just add the additional condition again in a otherwise unchanged v6.2.0.

[2019-08-19 00:28] tmorehouse commented on #12117
We are getting man false positives with 6.2.0 as well:

[code]

[code]

[2019-08-19 00:38] mdjermanovic commented on #12117
`babel-eslint` is using `"eslint-scope": "3.7.1"`

[2019-08-19 00:47] platinumazure commented on #11916
I like `enforceForSequenceExpressions` personally. I generally don't like option names without a verb indicating what will happen if you turn it on. (Just my two cents; other team members may have their own opinion.)

[2019-08-19 02:06] mdjermanovic commented on #12117
Most likely it is that commit, with `babel-eslint` in the keyword example there is a `TDZ` scope between `function` and `for`, probably because it's using the old version of `eslint-scope`

[2019-08-19 02:08] kaicataldo commented on #12117
@feross Any chance you can test the same code out with the default parser to determine if this issue should be fixed in babel-eslint or here? @mdjermanovic's assessment is most likely what's going on here.

[2019-08-19 02:27] kaicataldo commented on #12097
The arguments for a separate rule make sense to me, though I wonder if we should also be checking binary operator expressions as part of this? i.e. `a && a` or `a || a`?

[2019-08-19 02:33] kaicataldo commented on #12115
Do you mind explaining the problem you’re trying to solve with this proposal? Please note that changes to core are required to go through our RFC process outlined [here](https://github.com/eslint/rfcs).

[2019-08-19 03:01] hellomrbigshot commented on #12117
The same question! I use 6.1.0 instead and it works.

[2019-08-19 03:01] feross commented on #12117
@kaicataldo The issue doesn't exist with the default parser.

[2019-08-19 03:18] devinrhode2 commented on #12115
Just a more convenient/accessible way to set a custom formatter. That's all. I had a hard time figuring out how to set loader options via craco for webpack's eslint-loader. Took be a while but I have it all figured out. So feel free to close. (My answer is on SO for anyone googling)

[2019-08-19 03:36] g-plane commented on #12063
It's accepted now.

[2019-08-19 05:29] y0y0z opened #12119 "eslint 6.2.0 unexpected token = and /"
**My environment**
[code]

* **ESLint Version:** 6.2.0
[code]
* **Node Version:** 12.8.1
[code]
* **npm Version:** 6.10.3
[code]

**Please show your full configuration:**
[code]
[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]
[code]

[code]
[code]

[code]

**What did you expect to happen?**
that all l

[2019-08-19 06:13] g-plane commented on #12119
Hi @y0y0z , it seems that there is something wrong with your configuration file.

The value of `ecmaVersion` must be a number, not a string.

[2019-08-19 06:16] ljharb commented on #12119
@g-plane i think that's a red herring; i'm getting the same in https://github.com/airbnb/react-dates when i try to upgrade to eslint 6, and i have it as a number.

[2019-08-19 06:20] y0y0z commented on #12119
@g-plane: i get the same error when changing `"2018"` (string) with `2018` (number)

[2019-08-19 06:36] g-plane commented on #12119
It seems that it works well on the demo:
[Demo 1](https://eslint.org/demo#eyJ0ZXh0IjoiXCJ1c2Ugc3RyaWN0XCI7XG5cbmltcG9ydCBSZWFjdCBmcm9tIFwicmVhY3RcIjtcblxuY2xhc3MgQXBwIGV4dGVuZHMgUmVhY3QuQ29tcG9uZW50IHtcbiAgcmVuZGVyKCkge1xuICAgIHJldHVybiAoXG4gICAgICA8ZGl2IGlkPVwiY29udGFpbmVyXCI+XG4gICAgICAgIDxwPlxuICAgICAgICAgIGhlbGxvIGludGVybmV0IVxuICAgICAgICA8L3A+XG4gICAgICA8L2Rpdj5cbiAgICApO1xuICB9XG59XG5cbmV4cG

[2019-08-19 06:40] y0y0z commented on #12119
@g-plane: clear to me that the lint should not fail, as this is the case with the previous version (6.1.0). also, i am not sure that the link that you posted coincide with the configuration excert above.

[2019-08-19 06:43] g-plane commented on #12119
The demo is running ESLint 6.2.0. It's the same version as you're using. Also, the parser options of the demo above are same with yours.

[2019-08-19 06:45] y0y0z commented on #12119
@g-plane: i did not see that the online linting respect my configuration. but if you are insisting it is, then we should not argue about it :)

[2019-08-19 06:49] ljharb commented on #12119
@g-plane it's possible that something in eslint's dep tree isn't deterministic, such that deduping might cause the wrong version of espree and/or acorn to be used. This was the case in eslint 5 as well; there's another closed issue about it.

[2019-08-19 06:55] g-plane commented on #12119
@ljharb So can we try removing the `node_modules` directory and installing dependencies again?

[2019-08-19 06:57] ljharb commented on #12119
@g-plane my issue is reproducible both locally and in CI (where node_modules is always fresh).

See https://travis-ci.org/airbnb/react-dates/jobs/572611629

[2019-08-19 07:25] GasimGasimzada opened #12121 "In ESLint 6, what is the logic behind for loops throwing "no-unused-vars" linter warning?"
I am using CRA whose new version updates ESLint to v6. Now, I am getting errors in `for ... of` and `for ... in` loops. Here is an example:

[code]

What's the logic and what does ESLint expect in this case?

[2019-08-19 07:33] ooflorent commented on #12121
I also encounter this warning using the following statements:

[code]

Works as expected in `6.1.0`
Broken in `6.2.0`

[2019-08-19 07:44] g-plane commented on #12121
Duplicate of #12117 . Please track that issue.

[2019-08-19 07:44] #12121 closed

[2019-08-19 08:51] estephinson commented on #11876
So, I've managed to solve this on my end. Issue seemed to surround the version for @typescript-eslint/parser, create-react-app set it at v1.6.0, and the SemVer wasn't set so it was stuck.

If you edit your package.json, set the version to "^1.6.0" and run npm update, it _should_ work

[2019-08-19 09:41] aladdin-add commented on #12119
possible duplicate of https://github.com/eslint/eslint/issues/11018, could you try `npm ls espree` and `npm ls acorn`?

[2019-08-19 10:01] aladdin-add commented on #12117
thanks for the feedback!

technically this is not an issue in eslint; but to avoid blocking users, **personally**(not for the team) I'd suggest to revert that change and release a patch.

we can reintroduce it when it was fixed in babel-eslint. :)

[2019-08-19 10:37] golopot commented on #12027
An example in ci https://travis-ci.org/yannickcr/eslint-plugin-react/jobs/573750631

[2019-08-19 11:50] y0y0z commented on #12119
@aladdin-add:

[code]

[2019-08-19 12:20] msvab opened #12122 "indent issue with tagged template literals"
**Tell us about your environment**

* **ESLint Version:** 6.2.0
* **Node Version:** 10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2019-08-19 12:33] Ferroin opened #12123 "function-call-argument-newline complains in some cases when it logically shouldn't."
**Tell us about your environment**

* **ESLint Version:** 6.2.0
* **Node Version:** 11.14.0
* **npm Version:** 6.7.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

This config is the minimum together with the example code below to reproduce the issue.

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you d

[2019-08-19 13:05] platinumazure commented on #12119
We saw this when releasing espree over the weekend and trying to release ESLint yesterday.

This is an npm issue. Npm does not deduplicate the dependency tree correctly in some cases, and as a result, an old version of Acorn (espree dependency) is pulled into espree.

The only way we've found to for sure avoid this is to `rm -rf node_modules` and then `npm install --legacy-bundles`, which forces n

[2019-08-19 13:08] platinumazure commented on #12027
I'll mark as accepted based on the CI example. Thanks!

[2019-08-19 13:47] y0y0z commented on #12119
@platinumazure:
i tried both:

forcing npm to un-flatten dependencies:
[code]
also tried

by executing
[code]

both did not work for me.

[1]: https://github.com/eslint/eslint/issues/11018#issuecomment-521543349

[2019-08-19 13:51] platinumazure commented on #12119
Hmm... Then I'm not sure what's going on... We'll need to investigate further.

[2019-08-19 14:02] g-plane commented on #12119
FWIW, I've tried with Yarn, and it works well.

[2019-08-19 14:09] ljharb commented on #12119
The Travis log i linked included using the legacy bundles option, so that’s not it.

If espree added acorn as both a peer and a regular dep, that might fix it, however.

[2019-08-19 14:17] platinumazure commented on #12119
@ljharb Why would adding a peer dep help here?

[2019-08-19 14:21] ljharb commented on #12119
Oh, i assumed the issue was that it was already a peer dep. it’s a regular dep now?

[2019-08-19 14:26] platinumazure commented on #12119
@ljharb espree declares acorn as a dependency, because it uses acorn to do the initial parse. (Basically, espree calls acorn, and then converts the output to ESTree.)

ESLint declares acorn as a devDependency. The reason for this is because we use acorn to create a loose parser for some tests (i.e., to handle recoverable errors as recoverable, which espree currently does not support).

Neither pro

[2019-08-19 14:34] ljharb commented on #12119
I guess I’m unclear then on how this bug happens. If espree declares acorn as a regular dep, and then npm gives it the wrong version, it should make `npm ls` fail, but it’s not failing.

[2019-08-19 14:45] wintercounter commented on #11914
Can we get some love here please? We cannot move forward to 6.x. We cannot have local deps, not allowed by our systems and never will be. Is it really necessary to force one use case?

[2019-08-19 15:27] andsav commented on #12117
This issue was introduced in 6.2.0. For example this code:

[code]

throws an eslint error:

`no-unused-vars:  'folder' is defined but never used`

[2019-08-19 15:58] tacoto12 commented on #12117
She needs to call me

On Mon, Aug 19, 2019, 10:28 AM Andrei Savin <notifications@github.com>
wrote:

[2019-08-19 16:52] juicyarts opened #12125 "Enable/Disable pair not working"
**Tell us about your environment**

* **ESLint Version: 6.1.0**
* **Node Version: v11.13.0**
* **npm Version: 6.7.0**

**What parser (default, Babel-ESLint, etc.) are you using?**
*  **babel-eslint: 10.0.2**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well a

[2019-08-19 16:55] jharris4 commented on #12117
I just hit the same issue with a bunch of false positives after upgrading to `6.2.0`. I'm also using `babel-eslint`.

Each of the false positives for the `no-unused-vars` that I'm seeing are related to variable declared in a for...of loop, like:

[code]

This triggers an error for `theVariable`.

[2019-08-19 16:58] hawkeye64 opened #12126 "`no-unused-vars` no longer works with `for (const key in keys)`"
This code for object keys worked with eslint: 6.1.0 and no longer works with 6.2.0
[code]
the error:
[code]
This may have been caused by this change:
https://github.com/eslint/eslint/commit/34ccc0cd81f495190e585c6efa8ae233d45bd3ed#diff-870af970159d7449848b5419fa485b96

**Tell us about your environment**

* **ESLint Version:**
6.2.0
* **Node Version:**
8.15.1
* **npm Version:**
6.10.3

**What parse

[2019-08-19 17:10] Bobsans commented on #12117
+1

[2019-08-19 17:32] kaicataldo commented on #12117
I'm not sure reverting the change is the best option.

Due to our [semver policy](https://github.com/eslint/eslint/#semantic-versioning-policy), we advise that `~` is used instead of `^`, since minor versions can include bug fixes that can increase the number of errors.

Locking the ESLint version or using `~6.1.0` should make sure people can continue using babel-eslint until babel-eslint fixes th

[2019-08-19 18:45] platinumazure commented on #12125
Hi @juicyarts, thanks for the issue.

This is related to the [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments) plugin.

That said, I think the rule is working as designed. The comment pair rule

[2019-08-19 19:22] kaicataldo commented on #12008
Apologies for the team missing this. Can you explain what errors you were expecting so we can evaluate this bug report?

[2019-08-19 19:24] kaicataldo commented on #12117
@feross Thanks for confirming! I see there's already [an issue open for babel-eslint](https://github.com/babel/babel-eslint/issues/791), and it looks like we have a lead on what might be causing it. I think we should leave this issue open until it's fixed in babel-eslint so that people who encounter this error find the temporary workaround, but can discussion on how to fix it move to that issue?

[2019-08-19 19:27] kaicataldo commented on #12115
Thanks for explaining. If you'd like to write up an RFC, please feel free!

[2019-08-19 19:27] kaicataldo commented on #12115
Alternatively, if you feel documentation can be at all improved, we'd love a PR :)

[2019-08-19 19:33] kaicataldo commented on #11979
I do agree that isn't intuitive behavior. So, just to clarify, the edge case here is having the same global defined in both a config file and locally in a file using a `/* global */` comment, correct? For this case, I feel like it would make sense to just merge the globals (accounting for if they're `"writable"` or `"readonly"` and warning when those don't match).

[2019-08-19 19:35] kaicataldo commented on #12126
Duplicate of https://github.com/eslint/eslint/issues/12117. Closing in favor of that issue.

[2019-08-19 19:35] #12126 closed

[2019-08-19 19:36] kaicataldo commented on #12098
I'm not against renaming the option if we do so in a backwards compatible way.

[2019-08-19 19:49] vincerubinetti commented on #12117
@kaicataldo I'd leave it open for discussion. As of writing, it's the first result on Google for this error.

[2019-08-19 19:50] kaicataldo commented on #12117
@vincerubinetti I think you and I just said the same thing 😄

[2019-08-19 19:57] kaicataldo commented on #12123
It looks like the rule is expecting the following:

[code]

That being said, I do think it's reasonable to configure it to account for multiline arguments in a way that allows for the expected behavior in the bug report. I wonder if that should be an option (something like `ignoreMultilineArgs`?)

[2019-08-19 19:59] kaicataldo commented on #12122
For clarity's sake, can you add comments in the example that show us exactly which lines the errors are being reported on?

[2019-08-19 20:00] Ferroin commented on #12123
I think an option would indeed be good.  What's got me confused here is that if it's just two arguments, it doesn't seem to care for some reason (regardless of whether the first, the second, or both are multi-line arguments).

[2019-08-19 20:06] kaicataldo commented on #12123
Yeah, that does seem like a bug. Here's some more inconsistency in our [demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgZnVuY3Rpb24tY2FsbC1hcmd1bWVudC1uZXdsaW5lOiBbXCJlcnJvclwiLCBcImNvbnNpc3RlbnRcIl0qL1xuXG5kb2N1bWVudC5ib2R5LmFkZEV2ZW50TGlzdGVuZXIoXG4gICAgJ3Njcm9sbCcsIFxuICAgIGZ1bmN0aW9uKCkge1xuICAgICAgICAvLyBkbyBzb21ldGhpbmdcbiAgICB9LCB7XG4gICAgICAgIHBhc3NpdmU6IHRydWUsXG4gICAgfVxuKTtcblxuZG

[2019-08-19 20:35] mdjermanovic opened #12127 "no-extra-parens never reports double parens"
**Tell us about your environment**

* **ESLint Version:** 6.2.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

same in ESLint 5.16.0, this is not regression.

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code

[2019-08-19 21:30] przemyslawzalewski commented on #12117
babel-eslint is using an outdated version of [eslint-scope](https://github.com/babel/babel-eslint/blob/c7e3817f3ee64801eb30c53e575099dc089cd915/package.json#L36) and doesn't really support ESLint 6 as the ESlint requires [eslint-scope@^5.0.0](https://github.com/eslint/eslint/blob/4aeeeedb656ee3519ea82ebf0cb41ca801215046/package.json#L52) but babel-eslint requires [a pinned version of 3.7.1](https:

[2019-08-19 21:45] platinumazure commented on #12127
CC @mysticatea

I'm wondering if this was caused by fee6acbe13cecd4c028e681e185fc6a6d6ba9452. I did remember seeing some changes in `no-extra-parens` in that commit...

[2019-08-19 21:46] platinumazure commented on #12127
@mdjermanovic Thanks for reporting. Any chance you can test with ESLint 6.1.x to make sure the issue isn't present there?

[2019-08-19 22:10] mdjermanovic commented on #12127
No, it wasn't that commit (tested with 6.1.0 to be sure), that change to a smarter `isParenthesised` might actually help to solve this, but this probably still needs a lot of work and testing. It's quite possible that these examples didn't work from the start, I believe this isn't a regression.

[2019-08-19 22:19] not-an-aardvark commented on #11914
You can make ESLint load globally-installed plugins by running it as follows:

[code]

While we don't recommend this for new projects (since this makes it confusing to keep plugins up to date with your config), it can be used as a workaround to allow you to update to ESLint 6 if your system needs global installations.

[2019-08-19 22:26] platinumazure commented on #12127
@mdjermanovic Just to confirm, you're saying the issue you reported also is also reproducible in 6.1.0? Thanks!

[2019-08-19 22:29] mdjermanovic commented on #12127
Yes, sorry about the confusing post. The same issue is also reproducible in 6.1.0

[2019-08-19 22:31] Martii opened #12128 "Question, perhaps a bug, on inline source implementation: `global` vs `globals`"
**Tell us about your environment**

* **ESLint Version:** Any
* **Node Version:** Any
* **npm Version:** Any

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

n/a and defaults in packages
</details>

**What did you do? Please include the actual source code causing the issue, as well as the command th

[2019-08-19 22:36] platinumazure commented on #12127
Thanks @mdjermanovic, I've removed the "patch candidate" label based on your last statement.

I'm not 100% sure what the intended design of the rule is here. I'm hoping someone else on @eslint/eslint-team might have an idea on how best to handle this issue.

[2019-08-19 22:45] mdjermanovic commented on #12127
If this is not the intended design, the problem is with conditionals like this, that doesn't account for double parens:

[code]

This could be solved by adding `|| hasDoubleExcessParens()` everywhere, or perhaps with a 'big' selector that would report double parens for all nodes, I'm not sure which solution is better. There is also a question of options, do they allow just one pair or more.

[2019-08-19 23:23] platinumazure commented on #12128
Hi @Martii, thanks for the issue.

Our [global configuration documentation](https://eslint.org/docs/user-guide/configuring#specifying-globals) recommends the use of `/* global */`. However, I think we support both `/* global */` and `/* globals */` for historical reasons.

[2019-08-20 02:43] wmhilton opened #12129 "enhance "quotes" fixer to take "avoidEscape" into consideration"
**What rule do you want to change?**
`eslint --fix` rewrote my template strings (containing single quotes) into single quote strings (containing escaped single quotes) despite the fact that the `avoidEscape` setting was true.

I'd like to enhance the fixer function for https://eslint.org/docs/rules/quotes to take the `avoidEscape` setting into account when converting quotes from backtick to single

[2019-08-20 04:02] devinrhode2 commented on #12115
Idk could probably add something like

"You cannot currently set formatter via eslintrc. If you don't run eslint
via the command line, you'll have to dig into whatever tools you are using
to run eslint to see how to configure a formatter.
You may find the readme for eslint-formatter-friendly a good starting
point: https://github.com/royriojas/eslint-formatter-friendly"

eslint-formatter-friendly r

[2019-08-20 04:30] mysticatea commented on #12119
This bug is:

1. `acorn-jsx` requires `acorn`.
2. `acorn-jsx` has `acorn` in `peerDependencies` because the `acorn` must be the same entity of end-user's `acorn`.
3. `espree` has `acorn` and `acorn-jsx` in `dependencies`.
4. npm doesn't hoist `acorn` if a different version of `acorn` existed on another place of the depencency tree, but hoists `acorn-jsx`. For example,
[code]
5. therefore, `acorn-j

[2019-08-20 04:33] y0y0z commented on #12119
@mysticatea: thank you for the details explanation. could you please offer a bypass without pinning eslint to version 6.1.0?

[2019-08-20 04:44] mysticatea commented on #12119
Please read https://github.com/eslint/eslint/issues/11018 :)

The solution is different per environments because the reason that npm doesn't hoist acorn is different per environments. The most reliable solution is [to use `npm@2`-style installation that was mentioned in that issue](https://github.com/eslint/eslint/issues/11018#issuecomment-521543349). (or use yarn)

npm Inc. has noticed this probl

[2019-08-20 04:46] ljharb commented on #12119
As i said above tho, npm 2 style install doesn’t fix the issue on react-dates.

[2019-08-20 04:48] mysticatea commented on #12119
Oh, sorry.

[2019-08-20 04:53] mysticatea commented on #12119
I hope to see `npm ls acorn acorn-jsx` (and how those placed in `node_modules` directory).

[2019-08-20 07:18] wintercounter commented on #11914
Unfortunately that only work with plugins and not with config. For now
we're testing to require.resolve them but it's causing several issues at
several places.

On Tue, Aug 20, 2019, 00:20 Teddy Katz <notifications@github.com> wrote:

[2019-08-20 07:29] wintercounter commented on #11914
`--resolve-plugins-relative-to` also won't work in case ESLint is being run by some 3rd party, eg: Webpack, VSCode, WebStorm, etc.
If that config would be exposed in `.eslintrc`, that would also work nicely. An additional `--resolve-configs-relative-to` would make it even better.

[2019-08-20 08:09] msvab commented on #12122
Done.

[2019-08-20 08:37] g-plane commented on #12074
If we apply option 3, it'll be better that the comment patterns can be an array, which allows user to define different patterns instead of a single string.

[2019-08-20 08:45] juicyarts commented on #12125
Hey @platinumazure ! Thanks for the reply and sorry for the wrong assignment of this issue to eslint instead of the [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments). I tried your suggestion but unfortunately it does not make any difference. I Also tried out their recommended way of disabling multiple rules.. this did not work either, going to open this i

[2019-08-20 08:50] #12125 closed

[2019-08-20 09:33] y0y0z commented on #12119
@mysticatea: i hope this would help (took it from my own project where i experience the issue)

[code]

[2019-08-20 10:28] gerardolima opened #12130 "Autofix (--fix) violations of `argsIgnorePattern`"
I just enforced the pattern for unused args and that yielded errors on more than 200 files. Although the changes are trivial, that's a lot of files and each change will be a chance of introducing bugs.

So I wonder if that could be an improvement to the `--fix` option, at least the most common cases such as the patterns that describe a prefix (i.e. ` "argsIgnorePattern": "^_"`).

[2019-08-20 10:32] kaicataldo commented on #11018
Since this issue seems to have been made worse by this past weekend’s release:

I don’t think we’re doing anything out of the ordinary here regarding Espree and its dependencies, and I’m curious if other projects are running into this issue at all.

[2019-08-20 11:35] sanchitrk commented on #12119
I am getting the same issue when using React app - I reverted back to eslint version 6.1

[2019-08-20 11:36] SimenB commented on #12119
`espree` depends on `acorn@7` and `acorn-jsx@5` - however `acorn-jsx@5` has a peer dependency on `acorn@6`. Yarn also prints a warning, but it doesn't fail at runtime.

`warning "eslint > espree > acorn-jsx@5.0.1" has incorrect peer dependency "acorn@^6.0.0".`

https://github.com/eslint/espree/blob/c0635bac4cd891cb612fb81655012e2579f4e2b1/package.json#L21-L22
https://github.com/RReverser/acorn-jsx

[2019-08-20 12:05] Xotic750 opened #12132 "v6.2.0 throws an error that v6.1.0 and earlier does not"
**Tell us about your environment**

* **ESLint Version:**
6.2.0
* **Node Version:**
8.11.4
* **npm Version:**
6.10.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

https://github.com/Xotic750/string-starts-with-x

</details>

**What did you do? Please include the actual source code caus

[2019-08-20 12:07] mysticatea commented on #12132
Thank you for your report.

Would you try the latest ESLint?
It should have been fixed already.

[2019-08-20 12:09] Xotic750 commented on #12132
Aha, I didn't see there was a new release just 40 mins ago. :) I will give it a try.

[2019-08-20 12:12] Xotic750 commented on #12132
With 6.2.1 all now seems fine, thanks.

[2019-08-20 12:15] GrayedFox commented on #12097
Hmm, that is a good point. I did think earlier on how it would be quite easy to extend this to also catch identical if/else blocks (but not identical if/else/elseif blocks where different conditions are used to execute the same code, since that is more of a style issue for the same reasons highlighted in the ternary example at the end of the first post)

[2019-08-20 12:49] #12132 closed

[2019-08-20 13:50] gerardolima commented on #12130
This is not a bug report, this is a suggestion for enhancement of the autofixer. The required information follows below:
- The version of ESLint you are using (run eslint -v)
_v6.1.0_
- What you did (the source code and ESLint configuration)

[code]
[code]
[code]
- The actual ESLint output complete with numbers
[code]
- What you expected to happen instead
I expected `myfile.js` to be autofixed as

[2019-08-20 13:54] gerardolima commented on #12130
Since `argsIgnorePattern` is a simple prefix (_and I assume here this is the most common case_), this would allow for automatically fixing the name of the parameter.

This is no big deal for one file, but adding this rule on an existing codebase can easily yield the need to manually changing a big number of files.

[2019-08-20 14:20] sindresorhus opened #12133 "Add `context.isFile` for rules"
**The version of ESLint you are using.**

6.2.1

**The problem you want to solve.**

I have some ESLint rules that needs to know whether the linted code is a string or an actual file. Currently, I use `context.getFilename() === '<input>' || context.getFilename() === '<text>'` (see https://github.com/sindresorhus/eslint-plugin-unicorn/pull/346).

**Your take on the correct solution to problem.**

A

[2019-08-20 15:03] Padchi commented on #12008
I'm expecting an error from `memberSyntaxSortOrder` since i have them in wrong order in the example above.
With `{ ignoreDeclarationSort: true, memberSyntaxSortOrder: ['all', 'single', 'multiple', 'none'] },`
the above example should look like this to get no errors:
[code]

[2019-08-20 15:10] y0y0z commented on #12119
@SimenB \ @aladdin-add \ @mysticatea: i've upgraded to version [6.2.1][1] and my issues are gone! :)

[1]: https://github.com/eslint/eslint/tree/v6.2.1

[2019-08-20 15:11] y0y0z commented on #12119
@ljharb: can you please also upgrade to 6.2.1 and check whether it solves the issue for you?

[2019-08-20 15:20] ljharb commented on #12119
Rerunning the CI job (which would install 6.2.1 via semver) did not fix it, with [npm 2 style bundling](https://travis-ci.org/airbnb/react-dates/jobs/572611629); I’ll give it another shot today with some of the workarounds removed.

[2019-08-20 15:24] y0y0z commented on #12119
@ljharb: can you bump the version of your npm and check? i am using npm version 6.10.3.

[2019-08-20 15:27] SimenB commented on #12119
Only code change in `6.2.1` is #12131 - doesn't seem like that should fix anything (unless you have a lockfile)? I'm currently locked to 6.1.0 anyways (#12117), so I haven't tested any upgrade

[2019-08-20 15:30] y0y0z commented on #12119
@SimenB: this is what i did in order to verify whether bumping eslint to version 6.2.1 solved my issue:

[code]

[2019-08-20 15:38] ljharb commented on #12119
@y0y0z npm is automatically bumped to latest in Travis-CI on react-dates using nvm install-latest-npm, so that has no impact.

[2019-08-20 15:53] aladdin-add commented on #12119
@y0y0z I think it's because `acorn-jsx` just published v5.0.2 😄
https://github.com/RReverser/acorn-jsx/releases/tag/5.0.2

[2019-08-20 16:24] kaicataldo commented on #12130
Thank you for filling out the template. I have a much better understanding what you're proposing now.

This seems like a reasonable behavior for the case you've described, however I'm not sure how we would go about actually implementing it since the configuration for this is a `RegExp`. In the case of an leading or trailing underscore like this, the fix is clear, but I don't know how the rule woul

[2019-08-20 16:27] kaicataldo commented on #12133
This seems like a reasonable request to me. It would be nice to abstract those internal input placeholders away from rule authors.

[2019-08-20 16:39] Martii commented on #12128
@platinumazure

Awesome. Thank you for taking a moment to explain it.

Hmmm seems to do this compatibility also at the [demo site](https://eslint.org/demo) with de/pluralization with:

[code]
vs
[code]

This makes it a bit easier. :+1:

Alright we'll look for more compatibility use cases and adjust accordingly when needed. Thank you again. :smile:

[2019-08-20 16:39] #12128 closed

[2019-08-20 20:13] ljharb commented on #12119
Still broken: https://travis-ci.org/airbnb/react-dates/jobs/574535275

<details>
<summary>`npm ls acorn acorn-jsx`</details>

[code]
</details>

acorn v6.3 is at the top level of node_modules, as is acorn-jsx v5.0.2.

[2019-08-20 20:20] fasttime opened #12134 "function-paren-newline reports wrong messages"
**Tell us about your environment**

* **ESLint Version:** 6.2.0
* **Node Version:** 12.9.0
* **npm Version:** 6.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2019-08-20 20:29] jabacchetta opened #12135 "New quote-props option for numbers"
**What rule do you want to change?**
`quote-props`

**Does this change cause the rule to produce more or fewer warnings?**
Depends on configuration.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
The current `"numbers": true`

[2019-08-20 22:09] kaicataldo commented on #12134
Verified using the demo link above. Thanks for reporting this!

[2019-08-20 22:47] mdjermanovic commented on #10627
Issue #5234 - request to allow backticks as a way to avoid escaped single quotes.

In the thread there was a [proposal](https://github.com/eslint/eslint/issues/5234#issuecomment-183698009) which is, I think, same as this one, but it was dismissed (the first two replies below the proposal).

The problem is that the same rule also [disallows templates that can be replaced with strings](https://githu

[2019-08-20 23:15] mdjermanovic commented on #12129
Hi @wmhilton, thank you for the proposal and for the relevant link.

Someone will correct me if I'm wrong, I think that this enhancement would be incompatible with #10627 and that the question should the rule report error should be resolved first.

[2019-08-20 23:55] simlu commented on #12109
Thank you for the feedback. I've now opened a new ticket here: https://github.com/benmosher/eslint-plugin-import/issues/1457

Closing...

[2019-08-20 23:55] #12109 closed

[2019-08-21 00:36] platinumazure commented on #12125
Oh, maybe I misspoke. Maybe the rule wants to see the enable comment of the first rule, before any other disables.

If that's the case, try putting both rules in a single disable comment: `/* eslint-disable rule-one, rule-two */`

Might also be good to see if that plugin has documentation for the rule name in your lint message, as well.

Good luck!

[2019-08-21 02:08] mdjermanovic commented on #12008
@Padchi

I think that I understand your example, but just to clarify how you expect this rule to work, there are probably two problems here:

1. How the statements are classified by syntax

`import React, { Component } from 'react'` - this should be `'single'`?
`import { theme } from 'styled-system'` -  this should be `'multiple'`?

2.  How the `ignoreDeclarationSort` option works

With the sort o

[2019-08-21 09:11] y0y0z commented on #12119
@mysticatea: do you consider this issue as resolved?

[2019-08-21 10:02] Padchi commented on #12008
Exactly @mdjermanovic

[2019-08-21 11:28] mdjermanovic commented on #12008
This is how the rule works at the moment:

1. Syntax

These are `single`:

[code]

These are `multiple`:

[code]

From the [documentation](https://eslint.org/docs/rules/sort-imports#options):

2. `ignoreDeclarationSort:true`

This will completely ignore order of statements, both by syntax and alphabetically.

From the [documentation](https://eslint.org/docs/rules/sort-imports#ignoredeclarationsort

[2019-08-21 12:12] aladdin-add commented on #12119
@ljharb  I guess it's working now -- acorn-jsx published a new version with peerDependency: acorn v7. can you give it a try?

[2019-08-21 13:50] Standard8 opened #12137 "Rule change: no-extra-boolean-cast should catch more cases"
**What rule do you want to change?**

[no-extra-boolean-cast](https://eslint.org/docs/rules/no-extra-boolean-cast)

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule curr

[2019-08-21 13:53] platinumazure commented on #12119
@aladdin-add See [this comment](https://github.com/eslint/eslint/issues/12119#issuecomment-523176305), I think Jordan was saying his CI is still not fixed.

[2019-08-21 13:59] gerardolima commented on #12130
hey, @kaicataldo, thank you for your response!

I understand that such a general autofix, one that could fix any `RegExp`, would not be feasible. Nevertheless, it seems that an implementation for the simple (and, I expect, most common) cases would already be a great help :)

[2019-08-21 14:35] aladdin-add commented on #12119
this is why the issue happening:
![image](https://user-images.githubusercontent.com/13050025/63440304-2d751e00-c462-11e9-8aca-1272792f0bdf.png)

it should  have been working to use npm2-style installing, but at that time `acorn-jsx` has a peer dependency acorn v6 (npm 2 will install peer deps) -- it was fixed now!

[2019-08-21 14:47] ljharb commented on #12119
I’ll rerun the job and try it again.

[2019-08-21 14:51] ljharb commented on #12119
Still failed, same error.

[2019-08-21 15:10] LunarTwilight opened #12138 "Support regex for globals in config"
**The version of ESLint you are using.**
6.2.1

**The problem you want to solve.**
Globals in eslint config do not support regex.

**Your take on the correct solution to problem.**
Allowing support for regex.

**Are you willing to submit a pull request to implement this change?**
No, as I don't know the code needed to implement it.

(I asked about #4158 in the glitter chatroom, and was told to cre

[2019-08-21 15:19] LunarTwilight commented on #12138
or if regex can't be added, then maybe wildcard support, so you could do `Common*`, which would still work well.

[2019-08-21 15:21] y0y0z commented on #12119
i am *not* experiencing the issue any more. this is my current environment and i hope it helps.

[code]

[2019-08-21 15:22] ljharb commented on #12119
The CI job I linked to includes a git branch; you can all clone it yourself and look into whatever you like :-)

[2019-08-21 15:35] nicholascm opened #12139 "Rule for Unnecessary Optional Chaining"
**Please describe what the rule should do:**

The rule will alert to the presence of unnecessary optional chaining / safe navigation calls.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Warns about a potential error (problem)
[x] Suggests an alternate way of doing something (suggestion)
[ ] Enforces code style (layout)
[ ] Other (please specify:)

**Provide 2-3 code

[2019-08-21 16:01] gaearon opened #12140 "Support the ?? operator for Code Path Analysis"
The [React Hooks lint rule](https://www.npmjs.com/package/eslint-plugin-react-hooks) uses [Code Path Analysis](https://eslint.org/docs/2.0.0/developer-guide/code-path-analysis) to analyze code path segments. Specifically, we verify that React Hooks aren't called conditionally.

The rule successfully flags this code as a violation:

[code]

But not this:

[code]

I suppose this is because `??` supp

[2019-08-21 19:44] mdjermanovic commented on #12137
:thumbsup: from me for the enhancement in general.

If accepted, this should probably be an option rather than default behavior, until the next major release.

The same could apply to `||` as well?

[2019-08-21 20:45] platinumazure commented on #12139
Hi @nicholascm, thanks for the issue.

Our policy for core ESLint rules is to only follow the latest standard (Stage 4) language features. (More info in our [README](https://github.com/eslint/eslint/blob/master/README.md#what-about-experimental-features).) So I don't think this is something we can accept at this time.

I would suggest making a feature request in `eslint-plugin-babel` if you think

[2019-08-21 20:48] #12139 closed

[2019-08-21 20:57] ljharb commented on #12139
Either way, this would only be useful when you'd used optional chaining on an object literal defined in the same file, and there's zero harm in using it in that case (because engines could optimize it out) - I'm not sure this is widely applicable.

[2019-08-21 21:08] mdjermanovic commented on #12130
Perhaps a 3rd party plugin like [eslint-plugin-autofix](https://www.npmjs.com/package/eslint-plugin-autofix) could help.

A recent modification in [this PR](https://github.com/aladdin-add/eslint-plugin/pull/59) looks like your example.

[2019-08-21 21:15] platinumazure commented on #12139
Good point.

If Typescript supports optional chaining, it could be good to open an issue in [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint).

[2019-08-21 21:26] platinumazure commented on #11942
@mysticatea You're the scope/variables expert these days :smile: Do you have any thoughts on whether this is a bug, or working as intended?

[2019-08-21 22:02] grantila opened #12141 "array-bracket-spacing for empty array (and object-curly-spacing, space-in-parens)"
**What rule do you want to change?**

I want: `{ x }`, `{ }`, `( x )`, `( )`, `[ x ]`, `[ ]`.

`"always"` should mean always, or be renamed `"mostly"`. So empty brackets, braces and parens should apply too. At least, there should be a way to enable even empty arrays, objects and parentheses. Currently it is impossible. In `space-in-parens` you can `"never", { "exceptions": ["empty"] }]` which does

[2019-08-21 22:07] kaicataldo commented on #12138
I'm personally of the mind that globals should be explicitly defined, but I'm curious what the rest of the team has to say.

[2019-08-21 22:08] kaicataldo commented on #12138
Also please note that, while we're happy to discuss on this issue, we require an [RFC](https://github.com/eslint/rfcs) for changes to core such as this.

[2019-08-21 22:20] kaicataldo commented on #12140
Our [policy](https://github.com/eslint/eslint#what-about-experimental-features) states that we only officially support language features that reach stage 4 (and that we'll update core to not crash on stage 3 syntax), since we allow for custom parsers to handle that syntax (like babel-eslint). We generally don't make exceptions to this (we used to, which led to us codifying our policy).

That being

[2019-08-21 22:41] przemyslawzalewski commented on #12117
I have proposed [another PR as a PATCH change](https://github.com/babel/babel-eslint/pull/793) for the babel-eslint repository that should be easier to integrate and I hope it will be merged soon.
In the meanwhile, I have released a forked package for the ^10 version with the fixes included:

https://www.npmjs.com/package/@przemyslawzalewski/babel-eslint/v/10.0.3

Usage is simple as changing some

[2019-08-21 23:36] tnrich commented on #3458
I'm using the patch that @octogonz made in ~6 repos now (some primarily reactjs code and some just node code) and haven't hit any issues with it.

I'm waiting for prettier-eslint for VS Code to upgrade to eslint v6 (https://github.com/prettier/prettier-eslint/pull/236) for my vscode prettier to work with this.

[2019-08-22 01:41] g-plane commented on #12137
I prefer this is as default behavior personally.

[2019-08-22 01:54] aladdin-add commented on #12119
@ljharb it's working well to use npm2-style installing🎉. see https://travis-ci.org/airbnb/react-dates/builds/575135825?utm_source=github_status&utm_medium=notification

[2019-08-22 02:23] ljharb commented on #12119
@aladdin-add wow, thanks. it was failing for me before, but i'll take the w.

For the record, npm bug or not, I'm still convinced that this is something eslint's dep graph can fix on its own - otherwise this same bug would be occurring in babel and react, both ecosystems that make heavy use of peer deps.

[2019-08-22 02:34] kaicataldo commented on #12119
I really would like to see if we can figure out why we're seeing this issue more than other projects.

[2019-08-22 03:09] aladdin-add commented on #12119
One possible option is: bundling eslint/espree(using something like [ncc](https://github.com/zeit/ncc)), it also brings a faster bootup(https://zeit.co/blog/ncc#faster-bootup)

[2019-08-22 03:42] mysticatea commented on #12119
Webpack and Rollup have the same problem.

If this is not a bug of npm then this is the problem in Acorn. This problem appears when two Acorns are different entities: (1) Acorn that plugins loaded, (2) Acorn that is using the plugins. If Acorn does pass self to plugins, this problem will not appear.

[2019-08-22 07:03] golopot opened #12145 "Indent false negative with comments on first line of a block"
**Tell us about your environment**

* **ESLint Version:** 6.2.1
* **Node Version:** 12
* **npm Version:** 6

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
/* eslint indent: [2, 2] */

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

https://esli

[2019-08-22 08:07] #12014 closed

[2019-08-22 09:05] gerardolima commented on #12130
hey, @mdjermanovic, yes it seems the PR you referred would indeed fix the situation I described; thank you!! Nevertheless, wouldn't that be a nice addiction to be incorporated into eslint?

_As a personal preference_, I try to avoid too many plugins, to reduce the risk exposure regarding different policies of tests/bug-fixes/releases/compatibilities/etc ... and, since eslint is not expected to be

[2019-08-22 09:13] SaiRS commented on #3458
I met the sasme problem when I try to make a custom eslint plugin.

[2019-08-22 10:33] PradheepGit opened #12146 "defintion for rule was not found"
**Tell us about your environment**

* **ESLint Version:6.2.1
* **Node Version:10.16.0
* **npm Version:6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESL

[2019-08-22 12:22] Standard8 commented on #12137
I guess if it is default immediately or not, depends on if it is seen as breaking behaviour?

[2019-08-22 13:11] platinumazure commented on #12137
As a reminder, we do need a team member to champion this rule proposal before we can mark this issue as accepted. Would anyone from the team like to champion this rule?

Regarding default behavior or not: If the proposal here is to change the default behavior, then this is a breaking change and a PR cannot be merged until the next major release. If we want the functionality available before then,

[2019-08-22 13:35] mdjermanovic commented on #12130
I personally see unused variables as a possible error, and wouldn't like the core rule to auto-fix and hide errors.

3d party plugin could be used just as a utility to fix the existing codebase (if you trust that already existing unused variables are not errors) before enabling the core rule.

[2019-08-22 14:00] mdjermanovic commented on #12008
Actually, there is already a request for the same enhancements in #12065.

@Padchi could you please take a look at #12065, would that solve this issue?

[2019-08-22 14:38] mdjermanovic commented on #12065
Hi @briman0094, sorry for waiting this long.

I'm :thumbsup: for this in general, and the solution you suggested looks good to me, as it is a non-breaking change.

There are certain design questions, I'm not sure is there a similar example in other rules. In particular, can the schema validation support this.

[2019-08-22 15:12] LastStranger opened #12147 "I found a problem, it seems a bug."
![image](https://user-images.githubusercontent.com/29811304/63526388-f0785c80-c531-11e9-8ea0-57a3d04ffe80.png)

**Tell us about your environment**

* **ESLint Version:*6.2.1*
* **Node Version:*10.12.0*
* **npm Version:*6.4.1*

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
[code]
<details>
<summary>Configuration</summary>

[code]

[2019-08-22 15:15] markogresak commented on #12147
I've encountered the same problem. But this title makes it difficult to find, so please use a better title next time.

Also, it's a duplicate of https://github.com/eslint/eslint/issues/12117.

[2019-08-22 15:24] mdjermanovic commented on #12147
Hi @LastStranger, thank you for the issue.

I'm closing this because it's a duplicate of #12117, which will be closed by [babel/babel-eslint#791](https://github.com/babel/babel-eslint/issues/791).

[2019-08-22 15:24] #12147 closed

[2019-08-22 15:57] mcandre opened #12148 "Enhancement: Set default parser ecmaVersion to 6"
Now that JavaScript 6 AKA ECMAScript 2015 is now widely supported across the majority of client and server JavaScript engines, let's go ahead and update the default eslint parser to accept JavaScript 6 syntax. This way, eslint "just works" with modern JS projects.

[2019-08-22 15:58] LunarTwilight commented on #12138
Ah, should I do an RFC now, or wait till its discussed here first?

[2019-08-22 16:04] ljharb commented on #12148
"majority" isn't the important metric. If *any* supported browsers still require ES5, then those users will silently be able to ship syntax error to their users.

It's best for this to remain an explicit choice for the foreseeable future.

[2019-08-22 16:17] mcandre opened #12149 "no-dupe-args: Accept a argsIgnorePattern, like no-unused-vars"
**What rule do you want to change?**

no-dupe-args.

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option, based on no-unused-vars' `argsIgnorePattern` option.

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this

[2019-08-22 16:22] btucker commented on #11948
@kevinbarabash I'm looking for this functionality as well. Did you make any progress?

[2019-08-22 16:55] mdjermanovic commented on #12149
Hi @mcandre, thank you for the suggestion.

I personally don't think that ESLint should have a rule/option that would encourage use of a legacy language feature, which is also available only in non-strict mode.

Parser fails most likely because your code is in `strict` mode (explicit or implicit e.g. a module). Duplicate parameter names are forbidden in `strict` mode.

[2019-08-22 17:18] simlu opened #12150 "Bug: "import/*" not applied"
**Tell us about your environment**

* **ESLint Version:** ^6.2.1
* **Node Version:** v10.16.3
* **yarn Version:** 1.15.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2019-08-22 19:48] ilyavolodin commented on #12148
It is very hard to define "widely". There are a lot of people who use ES6 and above. But there're also a lot of people who has to maintain legacy applications. Difference is, if we set the flag to es6 by default it would cause issues that would be hard to debug for people on the older code-bases. If we keep it at 5, the errors are a lot easier to debug.

[2019-08-22 19:50] ilyavolodin commented on #12138
I also agree with @kaicataldo perspective. I think globals should be defined explicitly and purposefully. I think both RegExp and wildcards might lead to unforeseen issues down the line where they are too inclusive and will not flag variables that are undefined.

[2019-08-22 19:54] ilyavolodin commented on #12146
Does `./` contains any rules? `--rulesdir` will automatically load them. But it does seem strange that `--no-eslintrc` would not completely clear your configuration. Could you try using `--print-config` flag and see if generated config contains the rules that are not found? You can also use `--debug` flag to see which config files are being accessed.

[2019-08-22 19:58] ilyavolodin commented on #12133
I would be fine with adding a utility like that. But out of curiosity, could you provide an example of a rule that needs to know if it's linting a file or a string?

[2019-08-22 20:17] ljharb commented on #12148
If anything, I'd say a good change for eslint would be to remove the default entirely - making eslint "out of the box" error with a helpful message, telling you to explicitly configure your target environments (ideally, not specifying something arbitrary like ecmaVersion, but instead specifying browser and/or node versions, a la babel-preset-env). That way, everyone would be strictly forced to exp

[2019-08-22 20:24] mdjermanovic commented on #12150
Hi @simlu,

This looks like an issue with  `eslint-plugin-import`, not eslint. While at the subject, by taking a quick look at the [test file](https://github.com/benmosher/eslint-plugin-import/blob/7ffbf03fc832df41c4e90ffd27fee43de3685224/tests/src/rules/no-useless-path-segments.js#L40) it seems that you would need to enable `"commonjs"` rule's option.

It worked for me, but as it isn't a document

[2019-08-22 20:38] LunarTwilight commented on #12138
Yeah, true, it would make it possible to have false positives, tho regex might not depending on how its done, for example, the way I'd use the regex in my personal config wouldn't require wildcards or etc, since I'm just trying to make it easier to read, since it would be simple regex vs several lines of similar prefixed globals.

[2019-08-22 20:44] ljharb commented on #12150
@mdjermanovic https://github.com/airbnb/javascript/issues/2077 has already been filed.

@simlu the airbnb config assumes that everything is a babel-transpiled ES Module; I missed that you were using `require`. if enabling the `commonjs` option makes it work for you, we can reopen https://github.com/airbnb/javascript/issues/2077 to discuss enabling that.

[2019-08-22 20:44] ljharb commented on #12150
Separately, please do file an issue or PR to document the option :-)

[2019-08-22 20:44] simlu commented on #12150
Thank you very much for the reply @mdjermanovic

I still can not get the rule to fire using my test-project example. I tried the following config

[code]

and get

[code]

Would you mind posting your configuration?

Cheers, L~

[2019-08-22 20:45] mdjermanovic commented on #12063
I'm working on this.

What would be a name, maybe `enforceForClassMembers` ?

[2019-08-22 20:46] ljharb commented on #12150
@simlu the `commonjs` option is for the rule, not for env.

[2019-08-22 20:51] simlu commented on #12150
@ljharb Would you mind telling me how to pass an option into a rule? I'm not an eslint expert :) Thank you!

Only thing I know is that (1) I use airbnb with eslint as documented (2) the rule `import/no-useless-path-segments` is set to `error` and (3) it doesn't fire when I expect it to.

[2019-08-22 20:53] ljharb commented on #12150
@simlu `"import/no-useless-path-segments": [2, { "commonjs": true }]`

Since the airbnb config expects you're not using require anywhere, only `import`, your expectation only holds for `import`.

[2019-08-22 20:56] feross commented on #12129
@mdjermanovic I don't see how the proposed change in this issue is incompatible with #10627.

If I understand correctly, this issue is proposing that when the rule `"quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": false }]` is in effect, ESLint should prefer correcting `console.log(`'a.txt' exists`)` to `console.log("'a.txt' exists")` rather than `console.log('\'a.txt\

[2019-08-22 20:58] simlu commented on #12150
@ljharb Ah!! Finally I understand what is going on. What a journey to get here :)

I'll do follow ups as necessary now.

Thank you very much for all the assist

[2019-08-22 21:05] simlu commented on #12150
Done [here](https://github.com/benmosher/eslint-plugin-import/issues/1459)

This is not an eslint issue, so closing.

[2019-08-22 21:05] #12150 closed

[2019-08-22 21:24] mdjermanovic commented on #12129
Makes sense, but the proposed change in #10627 is *no error reported*. That's why this is incompatible.

Or am I reading something wrong, one example is with single quotes the other with double quotes but it's the same situation with different proposals?

[2019-08-22 21:31] feross commented on #12129
I see. The reason I though this was unrelated is that we specify `"allowTemplateLiterals": false` and also `"avoidEscape": true` so there's no ambiguity about what type of quotes we prefer to be used to avoid escaping.

[2019-08-22 21:46] mdjermanovic commented on #12129
Yes, but the rule shouldn't work differently with the explicit option's value than with the implicit default value (`false`), so it's the same whether you put `"allowTemplateLiterals": false` or omit the option.

[2019-08-22 22:30] kaicataldo commented on #12148
That's a really interesting idea. While that requires more up front knowledge from a new user, it does seem like a way to help ensure that we ESLint is never making bad assumptions. It would be more difficult for less experienced developers (the barrier for entry would now involve understanding ECMAScript versioning and how environments implement features), but this could also potentially be shore

[2019-08-23 03:38] Sun79 commented on #12117
You can also solve this problem by adding the following code to package.json.
[code]

[2019-08-23 04:06] ljharb commented on #12117
@Sun79 that's not something npm supports.

[2019-08-23 04:08] yoyo837 commented on #12117
@Sun79 Only yarn works.

[2019-08-23 04:25] Sun79 commented on #12117
@ljharb @yoyo837 Sorry, I made a mistake.😭

[2019-08-23 05:04] PradheepGit commented on #12146
yeah ./ contains the single rule 'alert' so i got confused. sure  i will
try the suggested commands.

On Fri, 23 Aug 2019 at 01:24, Ilya Volodin <notifications@github.com> wrote:

[2019-08-23 07:07] PradheepGit commented on #12146
Config using --print-config
![image](https://user-images.githubusercontent.com/54398787/63573378-c9a63e80-c5a2-11e9-978b-0c3ecd90ebce.png)

[2019-08-23 08:07] #12010 closed

[2019-08-23 08:14] LunarTwilight commented on #12138
like
[code]
(maybe also use `^` and `$`?)

[2019-08-23 09:27] sindresorhus commented on #12133
This [`filename-case` rule](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/filename-case.md) lints the filename of JS files, and this [`prevent-abbreviations` rule](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prevent-abbreviations.md) prevents use of abbreviations in variables, properties, but also filenames.

[2019-08-23 10:18] OliverJAsh opened #12152 "`no-restricted-imports`: setting to to allow renames"
**What rule do you want to change?**
no-restricted-imports

**Does this change cause the rule to produce more or fewer warnings?**
Fewer, if a setting is enabled

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**

[code]

[code]

**What does the rule currently do for this code?**

Errors

[2019-08-23 10:23] mysticatea commented on #12133
- This is a core feature, so we need an RFC: https://github.com/eslint/rfcs#eslint-rfcs
- I'm wondering if `isFile()` is a good name because I'm not sure how it works if it's a valid filename but doesn't exist. For example, `engine.executeOnText(code, "a-dummy-filename.js")`. It's not a file but is a valid filename. For another example, `engine.executeOnText(code, "/path/to/a/directory/")`.
    -

[2019-08-23 10:30] kuworking opened #12153 "Disabling eslint in styled components"
I'm trying to disable `eslint` so that doesn't complain in `vscode` with `prettier` way of structuring code, but I can't (testing all possible solutions with `eslint-disable` and also with `prettier-ignore`, no matter what I do I cannot get rid of the warning)

This is a `GatsbyJS` component that uses `Styled Components`

[code]

![image](https://user-images.githubusercontent.com/4474004/63586256-

[2019-08-23 11:02] mysticatea commented on #11989
I'm sorry for my late response.

As a fact, `context.getFilename()` doesn't guarantee to return a real path. For example, people can give an arbitrary string as a filename.

[code]

In that case, ESLint doesn't check if the file path is valid or not.

Also, `eslint` command supports piping and `context.getFilename()` returns `"<input>"` if piped.

Additionally, processors may make dummy filenames

[2019-08-23 11:11] sindresorhus commented on #12133
Good point. I don't think it should be concerned with whether it's a valid filename or existing file. It should only indicate that the `filename` option / `--stdin-filename` was used. How about `.hasFilename`?

[2019-08-23 11:11] mysticatea commented on #12149
Because it's syntax error by the language spec. If you are using ES modules or strict mode, you cannot use duplicate names in arguments.

I agree with @mdjermanovic.

The `argsIgnorePattern` option for duplicate arguments is opposing the direction of the language. We would not want to encourage use of that.

[2019-08-23 11:24] mdjermanovic commented on #12152
Hi @OliverJAsh,

You want to import `Option`, but you don't want to have a variable named `Option` in your code?

This looks to me more like a case for the [`id-blacklist`](https://eslint.org/docs/rules/id-blacklist) rule.

[code]

(*) is currently reported as error, I believe it's a bug.

[2019-08-23 11:46] Exelord commented on #11326
Can we reopen that issue? Its still a pain :/ Warning shouldn't be reported in junit format as there is no support for them.

[2019-08-23 11:57] OliverJAsh commented on #12152
That won't work for us because we do want to allow `Option` identifiers to appear elsewhere—just not when importing from this specific module.

The reason I want this is because we're migrating from one library to another, and we want the old library to be named as such.

This is what we want:

[code]

[2019-08-23 12:01] lvkins commented on #11899
This fails for React refs too:

[code]

[2019-08-23 12:56] mdjermanovic commented on #12152
Thanks for the clarification!

I believe it isn't possible to enforce this with the existing set of rules/options, so it's open for evaluation now.

[2019-08-23 13:02] JESii opened #12155 "no-extraneous-dependencies failing on src/setupTests.js"
**Tell us about your environment**

* **ESLint Version:** V4.7.1
* **Node Version:** V10.15.3
* **npm Version:** V6.4.,1

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

<details>
<summary>package.json</summary
[code]
</details>

**What did you do? Please include the

[2019-08-23 13:20] mdjermanovic commented on #12155
Hi @JESii,

It looks like this is related to 3rd party plugin `eslint-plugin-import`, not the core eslint.

You can submit an issue there [https://github.com/benmosher/eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import)

[2019-08-23 13:49] ilyavolodin commented on #12146
This is very strange. Would it be possible to somehow create a basic repository with reproduction steps? This shouldn't be happening, but I don't know what might be causing this at all.

[2019-08-23 14:10] PradheepGit commented on #12146
But with older Version (5.16.0) it's working fine

[2019-08-23 14:20] PradheepGit commented on #12146
Working fine for the same file with version (5.16.0)
![image](https://user-images.githubusercontent.com/54398787/63599410-2d4e5d00-c5df-11e9-9421-06eb4c76ec24.png)

[2019-08-23 14:59] mdjermanovic opened #12156 "Redesign `quotes` options"
**What rule do you want to change?**

`quotes`

Current limitations:

* `"allowTemplateLiterals": true` allows *all* template literals, i.e. the rule ignores them. This could be a bug, the option is designed in #5234 just to allow backticks as the alternative to avoid escaping.
* `"single", "avoidEscape": true, "allowTemplateLiterals": true` does not enforce consistent style for the alternative, b

[2019-08-23 19:20] feross commented on #12156
@mdjermanovic Thanks for writing up this proposal. I wanted to chime in to confirm that this approach satisfies the issue raised in https://github.com/eslint/eslint/issues/12129.

[2019-08-24 00:44] platinumazure commented on #12152
Personally, I lean towards this being an edge case, and would suggest creating a custom rule using [eslint-rule-composer](https://github.com/not-an-aardvark/eslint-rule-composer) which could filter out linting reports for your specific case.

That's just my opinion; other team members might feel differently.

[2019-08-24 02:43] kaicataldo commented on #12153
It's difficult for us to help you without some more information:

1. What versions of ESLint, Node, and npm are you using?
1. What is the actual error you're experiencing?
1. Does it happen when you run `eslint` from the command line or only in VS Code?
1. It looks like you're using `babel-eslint` - does this happen with the default parser as well?

Not knowing the above, it looks to me like it wo

[2019-08-24 02:46] kaicataldo commented on #12072
@platinumazure and I just released `eslint@6.2.2` (`eslint@6.2.1` was a [planned security release](https://eslint.org/blog/2019/08/eslint-v6.2.1-released)). This concludes this release cycle. Please feel free to resume merging semver-minor PRs!

[2019-08-24 02:46] #12072 closed

[2019-08-24 02:46] eslint[bot] opened #12159 "Scheduled release for August 30th, 2019"
The scheduled release on Friday, August 30th, 2019 is assigned to:

* @btmills
* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](

[2019-08-24 05:47] kuworking commented on #12153
1. versions
`ESLint 6.2.2`
`npm 6.90`
`Node 10.16.0`
2. The error is that I get the warnings and I'm trying to solve them (by disabling `eslint` within the minimum code possible)
3. No, I run `eslint` while in `VS Code` and doing `prettier` manually (Alt Shift K), and I see the `eslint` and `prettier` warnings in `VS Code`
4. I'd say I have no problem when compiling, my problem is with the `VS Cod

[2019-08-24 06:54] kaicataldo commented on #12153
Can you please share the output of the warnings? If you could also share your configuration, that would be great. I can't tell without the information above, but if it's an issue with integrating ESLint and Prettier, [Prettier's docs](https://prettier.io/docs/en/integrating-with-linters.html) have a section about this.

[2019-08-24 08:07] #12017 closed

[2019-08-24 08:14] benwoodward commented on #12117
I just experienced this issue, here's another example:

[code]

[2019-08-24 09:53] kuworking commented on #12153
The warnings shows indeed a conflict with prettier, `eslint` wants an intendation that prettier doesn't respect, so my first approach was to just disable eslint for these very specific cases where both plugins seem not to cope with each other

[code]

I've also tried to disable prettier, but I've been unlucky with both approaches

[code]

[code]

Versions (vs code extensions)
[code]

[2019-08-24 10:43] astoilkov opened #12160 "require-atomic-updates bug"
**Tell us about your environment**

* **ESLint Version:** 6.2.2
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
typescript-eslint-parser but it doesn't work with the default parser as well

**Please show your full configuration:**

[ESLint Playground Link](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3QgeyByZWFkRmlsZSB9ID0gcmVxdWlyZSgn

[2019-08-25 08:07] #12020 closed

[2019-08-25 08:07] #12019 closed

[2019-08-25 10:24] mdjermanovic opened #12163 "New option in no-unsafe-negation to report ! a < b"
**What rule do you want to change?**

`no-unsafe-negation`

The rule currently targets only `in` and `instanceof`.

`<`, `>`, `<=`, `>=` are also [relational operators](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-relational-operators).

`! a < b` is equivalent to `(a ? 0 : 1) < b` (I think), which is rarely the intended meaning:

[code]

**Does this change cause the rule to pro

[2019-08-25 11:47] aladdin-add commented on #12032
seems like a bug to me.  thoughts? @mysticatea

[2019-08-25 13:24] aladdin-add commented on #12101
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2019-08-25 13:24] #12101 closed

[2019-08-25 14:19] shoonia opened #12165 "Bug: for-of loop (no-unused-vars)"
Eslint says the `const` and `let` declared into for-of loop brackets never used.

**Environment**

* **ESLint:** v6.2.2
* **Node:** v10.13.0
* **yarn:** v1.12.3

`babel-eslint` with `eslint:recommended`

**Configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

[code]

It works without errors in previous `eslint v6.1.0`

[2019-08-25 15:09] mdjermanovic commented on #12165
Hi @shoonia, thanks for the issue.

I'm closing this because it's a duplicate of #12117.

Please follow #12117 and babel/babel-eslint#791

[2019-08-25 15:09] #12165 closed

[2019-08-25 17:11] Artenes commented on #11269
Faced the same issue and `sudo npm cache clean --force` seams to solve the problem.

[2019-08-25 18:23] GrosSacASac opened #12167 "Distinguish between deprecated globals and the rest"
**What rule do you want to change?**

"no-shadow" with "builtinGlobals" from eslint 6.2.2

**Does this change cause the rule to produce more or fewer warnings?**

fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

The new default should not warn if a global deprecated variable is overshadowed.

"no-shadow": [1, { "builtinGlobals": true, includeDeprecated: fal

[2019-08-25 18:43] platinumazure commented on #12167
Hi @GrosSacASac, thanks for the issue.

Just out of curiosity, can this also be resolved by specifying `"event": "off"` in your globals configuration?

[2019-08-25 18:47] GrosSacASac commented on #12167
There are others as well

[2019-08-25 19:31] platinumazure commented on #12167
Sure, what I'm getting at is you or someone could create a new environment or shareable configuration with the necessary deprecated globals turned off. :smile:

[2019-08-25 23:09] kaicataldo commented on #12153
You’ll need to remove the following from your configured rules, as they’re overriding the configuration set by extending off of the Prettier plugin, resulting in the reported conflict:

[code]

Prettier handles both white space and semi styling.

[2019-08-26 02:00] Jessidhia opened #12168 "Rule proposal: no-redundant-array-map"
**Please describe what the rule should do:**
The `Array.from` method, introduced in ES2015, has a second argument that is used for mapping the input values to the produced array. This means that, in the majority of cases (where the 3rd argument to the `Array#map` callback is not used), using `Array.from(...).map(...)` is a redundancy that creates a useless intermediate array.

The rule should warn

[2019-08-26 02:22] yoyo837 commented on #12117
https://github.com/babel/babel-eslint/pull/794 fixed this.

[2019-08-26 03:01] platinumazure commented on #12168
Hi @Jessidhia, thanks for the suggestion.

I think we would want the rule name to very clearly indicate the `Array#map` function rather than the `Map` constructor, so maybe `no-redundant-array-map`. But others might have even better name suggestions. :smile:

I'm more or less okay with seeing this as a core rule, but we have to maintain a high bar for new rules because we already have way too many

[2019-08-26 04:41] Jessidhia opened #12169 "RegExp parse errors in regexpp are not tolerated and crash eslint"
**Tell us about your environment**

* **ESLint Version:** 6.2.1
* **Node Version:** 12.6.0
* **npm Version:** yarn 1.17.3

**What parser (default, Babel-ESLint, etc.) are you using?**
`@typescript-eslint/parser`, but the crash is in the `regexpp` instance used by the `no-misleading-character-class` rule.

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

[2019-08-26 05:09] platinumazure commented on #12169
Hi @Jessidhia, thanks for the issue.

I think at the very least, we should wrap the regex parse in a try/catch statement and then bail out gracefully if we can.

I'm very curious to know what happens in the default parser. Seems to me this should be a parse error, even before any rules are run.

[2019-08-26 13:37] arthurgeron opened #12170 "No-nested-ternary not working for"
**Tell us about your environment**

* **ESLint Version:** 6.2.2
* **Node Version:** 10.16.3
* **npm Version:** 6.11.2

**What parser (default, Babel-ESLint, etc.) are you using?**
 Babel-ESLint
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command t

[2019-08-26 16:10] Robloche opened #12171 "no-unused-vars false positive"
* **ESLint Version: 6.2.2**
* **Node Version: 8.12.0**
* **npm Version: 6.11.2**

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint.

<details>
<summary>Configuration</summary>

[code]

</details>

I have the following chunks of code which were not raising any error before I update to eslint 6.2.2:

[code]

[code]

[code]

**What did you expect to happen?**
No warning or er

[2019-08-26 18:25] mdjermanovic commented on #12169
It is indeed parsing error in the default parser ([demo](https://eslint.org/demo#eyJ0ZXh0IjoiL3svdSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTEsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb24iOjIsImdldHRlci1yZXR1cm4iOjIsIm5vLWFzeW5jLXByb21pc2UtZXhlY3V0b3IiOjIsIm5vLWNhc2UtZGVjbGFyYXRpb25zIjoyLCJuby1jbGFzcy1hc3NpZ24

[2019-08-27 00:25] mdjermanovic commented on #12123
This isn't related directly to the `consistent` option, e.g. this is also an error:

[code]

and is reporting a line break between `,` and `bar` ([Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgZnVuY3Rpb24tY2FsbC1hcmd1bWVudC1uZXdsaW5lOltcImVycm9yXCIsIFwibmV2ZXJcIl0gKi9cblxuZm9vKHtcbn0sIGJhcik7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjo2LCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZ

[2019-08-27 03:37] yoyo837 commented on #12117
@devinrhode2 upgrade `babel-eslint` to `v10.0.3`.

[2019-08-27 04:02] shubhranshu commented on #12117
I got eslint 5.15 and it works for me.

[2019-08-27 04:10] mysticatea commented on #12169
I agree that this is a problem in `@typescript-eslint/parser` for now. But once [RFC 19](https://github.com/eslint/rfcs/tree/master/designs/2019-recoverable-error-handling) was implemented, it will be a problem in that rule.

[2019-08-27 06:31] Robloche commented on #12171
OK, thanks!

[2019-08-27 08:07] #12025 closed

[2019-08-27 08:07] #12023 closed

[2019-08-27 08:07] #11968 closed

[2019-08-27 08:07] #12026 closed

[2019-08-27 08:07] #11964 closed

[2019-08-27 08:10] Serzh470 opened #12173 "Not correct placing of closing brackets inside objects"
# Enviroment

ESLint Version: 6.0.1
* **Node Version: 8.10.0
* **npm Version: 6.10.0

What parser (default, Babel-ESLint, etc.) are you using?
babel-eslint

Configuration, related to indentation:
[code]

Different behavior in indentation inside objects.

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

Right behavior

[2019-08-27 08:23] g-plane commented on #12173
Hi @Serzh470 , is your second example right or wrong?

[2019-08-27 08:30] Serzh470 commented on #12173
In the second sample I got an error in the 5 line, eslint demands "]" bracket must be on the same level, as curly bracket "}" in 6 line.

In first sample no errors or warnings occurred.

As I understand, eslint always count indent from first symbol in line, so if I use inline style for 1st curly brace and key and align keys by first, eslint count indentation for nested arrays/object not correct.

[2019-08-27 12:55] GrayedFox commented on #12097
@kaicataldo what do you think about me re-branding the rule as "no-unnecessary-conditionals", and expanding the logic to include checking for both binary and boolean operators? I guess if we are looking at illogical binary ops such as `a || a` we should also check for `a !== a`?

[2019-08-27 15:01] leohxj commented on #12010
Does eslint will support this feature?

[2019-08-27 15:18] leohxj commented on #12010
@octogonz What is the 'executable code', can they let eslint config work with `$schema`?

[2019-08-27 16:23] jakepoz opened #12175 "no-unused-vars warnings in array destructuring"
**Tell us about your environment**

* **ESLint Version:** 6.2.2
* **Node Version:** 10.14.1
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**  Babel-ESLint (Create React app)

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as we

[2019-08-27 16:30] #12175 closed, assigned to nobody

[2019-08-27 20:42] scottfr commented on #11914
Rolling back to 5.16 because of this issue.

For our use cases we want to have a single config automatically applied to all projects instead of individual projects being able to have different package versions and configs. Please restore the ability to have shared configs installed globally.

[2019-08-27 22:49] mysticatea commented on #12169
I think that ignoring syntax errors makes sense. Syntax errors are reported by parsers and the purpose of `no-misleading-character-class` rule is to report the character classes that behave unexpectedly due to multiple code unit characters.

[2019-08-28 00:26] octogonz opened #12177 "Rule proposal: no-null (revisited)"
Let's reopen the discussion https://github.com/eslint/eslint/issues/6701 regarding adding a `no-null` rule as part of ESLint core.

Currently this is solved by [eslint-plugin-no-null](https://github.com/nene/eslint-plugin-no-null), however it's awkward to rely on an external NPM package for such a simple and basic rule.

The previous issue was closed with the opinion:

I'd like to offer some count

[2019-08-28 04:52] wintercounter commented on #11914
For us this is not a solution:
- I cannot ask all my users using my software to set NODE_PATH on their own
(many company systems doesn't even allow.)
- Cannot pass `--resolve-plugins-relative-to` to 3rd party toolings such as
`eslint-loader`.
- As mentioned before, local node_modules folder is not allowed in our case.

I don't know what happened around the house of ESLint lately but the last 2
mon

[2019-08-28 08:07] #12033 closed

[2019-08-28 10:11] wintercounter commented on #11914
No, it doesn't make migration difficult. It makes it impossible for many of us. I know I can pass loader options. But again, it would require manual config from every user for every project then, which is unacceptable.

Imo ESLint should be able to resolve these things relative to the `eslint` module directory as well and that would solve this also.

Anyway, I'm starting to feel like I'll need to

[2019-08-28 14:50] GrayedFox commented on #12097
Great, I'll probably go ahead and put a bit more preliminary work into this, but I understand that the quality and clarity of core rules need to be crystal, but I expect some discussion and that it could take a while, no worries!

[2019-08-28 15:49] gkatsanos opened #12178 "Object Shorthand conflicts with func-names"
**Tell us about your environment**
[code]
* **Node Version:** v12.6.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[2019-08-28 16:37] mdjermanovic commented on #12178
It's indeed `func-names` (might have to scroll right a bit).

This should work:

[code]

[2019-08-28 19:26] mdjermanovic commented on #12178
Sorry, I wasn't clear enough, didn't mean to say this was a bug.

It works as intended, `func-names` is configured to always require explicit function names.

This is a valid example for the given configuration:

[code]

(or any other name instead of `$routeQuery`). Property name is still quoted.

[2019-08-28 21:36] octogonz commented on #12177
@platinumazure right, I'm aware that it can be solved using `no-restricted-syntax`.  Here's what I'm currently using:

[code]

`no-restricted-syntax` is fine for workarounds.  But it works by creating an array of different customized restrictions that all get the generic label `no-restricted-syntax` when reporting errors, or suppressing them.  This isn't a good general solution.  Core rules should

[2019-08-29 04:23] ljharb commented on #12178
It looks like a bug in object-shorthand tho.

[2019-08-29 08:07] #12034 closed

[2019-08-29 08:21] lastmjs opened #12179 "Add Ethereum address to FUNDING.yml"
**The version of ESLint you are using.**

NA

**The problem you want to solve.**

There is no Ethereum address to send funds to in the FUNDING.yml

**Your take on the correct solution to problem.**

I'd like to see an Ethereum address added to the `custom` property of the `FUNDING.yml` file for GitHub Sponsors. This would allow a canonical address to send funds to. For example, I'm building a proj

[2019-08-29 08:26] tacoto12 commented on #12179
I am at my brothers.  Come get me

Sent from my MetroPCS 4G LTE Android Device
-------- Original message --------From: Jordan Last <notifications@github.com> Date: 8/29/19  3:21 AM  (GMT-06:00) To: eslint/eslint <eslint@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: [eslint/eslint] Add Ethereum address to FUNDING.yml (#12179)

The version of ESLint you are using.
NA
Th

[2019-08-29 08:27] tacoto12 commented on #12179
Or do not fuck with me anymore 

Sent from my MetroPCS 4G LTE Android Device
-------- Original message --------From: Jordan Last <notifications@github.com> Date: 8/29/19  3:21 AM  (GMT-06:00) To: eslint/eslint <eslint@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: [eslint/eslint] Add Ethereum address to FUNDING.yml (#12179)

The version of ESLint you are using.
NA
The

[2019-08-29 08:37] mysticatea commented on #12178
I think this is the correct behavior.

- From the error message, I guess that you are using `avoidQuotes` option of `object-shorthand`. The `object-shorthand` rule reports the property which has quoted name correctly.
- From the error message, I guess that you are using the `always` option of `func-names`. The `func-names` rule reports the anonymous function correctly.

[2019-08-29 08:53] tacoto12 commented on #12178
Come on. Enough of the b.s.. 842 Lower Coalburg Rd Fultondale. Put up or shut ut

Sent from my MetroPCS 4G LTE Android Device
-------- Original message --------From: Toru Nagashima <notifications@github.com> Date: 8/29/19  3:37 AM  (GMT-06:00) To: eslint/eslint <eslint@noreply.github.com> Cc: Subscribed <subscribed@noreply.github.com> Subject: Re: [eslint/eslint] Object Shorthand conflicts with fu

[2019-08-29 15:27] gziolo commented on #12032
I think I run into a similar issue when trying to use `overrides` with `extends` for the package published to npm. Related PR: https://github.com/WordPress/gutenberg-examples/pull/87#issuecomment-526204832

I was able to track it down to the following line in code:

https://github.com/eslint/eslint/blob/00d2c5be9a89efd90135c4368a9589f33df3f7ba/lib/cli-engine/config-array-factory.js#L485

I also ad

[2019-08-29 16:41] ilyavolodin commented on #12177
Just a clarification, ESLint is not looking to replace TSLint. TSLint was deprecated by the team that was developing it. typescript-eslint parser was selected as a suggested replacement (it's a separate project, that doesn't have much to do with ESLint itself). So any typescript specific rules, or rules that are requested for feature parity with TSLint should go into typescript-eslint project, not

[2019-08-29 16:53] ljharb commented on #12178
@mysticatea are you suggesting that `avoidQuotes` should be complaining about property names that can't be unquoted?

[2019-08-29 17:57] tacoto12 commented on #12178
LET'S GET IT ON!!

On Thu, Aug 29, 2019, 11:53 AM Jordan Harband <notifications@github.com>
wrote:

[2019-08-29 18:54] kaicataldo commented on #12097
@GrayedFox You’re more than welcome to work on it, but we generally advise contributors to wait until an issue is accepted so as not to waste their time. Something that would be helpful is making a concrete proposal with where we are now, either by updating the original comment or creating a new comment below (the latter being better for posterity).

[2019-08-29 20:01] mysticatea commented on #12178
@ljharb No. I just talked about the current behavior.

[2019-08-29 20:34] mdjermanovic commented on #12178
The option doesn't enforce unquoted property names (this isn't the `quote-props` rule), it disallows shorthands with quoted names.

Rules are configured to enforce this code:

[code]

If you want to allow the following:

[code]

then set the `avoidQuotes` option to `false`.

[2019-08-29 21:13] octogonz commented on #12177
Here's Palantir's announcement, which details how they met in person with the TypeScript owners and made a strategic decision to join forces with ESLint, with the goal "to avoid bifurcating the linting tool space" between JavaScript and TypeScript: https://medium.com/palantir/tslint-in-2019-1a144c2317a9

And here's the announcement from the ESLint blog, expressing their enthusiasm and support for

[2019-08-29 21:18] octogonz commented on #12177
One more data point (from @nene's original issue):  The [coding guidelines](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#null-and-undefined) for the TypeScript compiler project say:

[2019-08-29 21:21] octogonz commented on #12177
One more data point (from @nene's original issue):  The [coding guidelines](https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines#null-and-undefined) for the TypeScript compiler project say, simpy:

They aren't advising everyone to do that, but there's a major code base, made by developers who certainly understand JavaScript pretty well.

[2019-08-30 03:37] aladdin-add commented on #12032
labelled accepted, as I was able to repro it. please feel free to re-label if needed.

[2019-08-30 08:07] #12030 closed

[2019-08-30 12:02] fylworker opened #12186 "About using eslint with nodejs api"
Hey, I am having a problem using eslint in the way of the nodejs api. Here is a detailed description:

**ESLint Version: 5.13.0**
**Node Version: 9.9.0**
**npm Version: 6.9.0**

**What parser (default, Babel-ESLint, etc.) are you using?**
No

**Full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLin

[2019-08-30 13:46] camyyssa opened #12187 "ESLint 6.2.2 + babel-eslint 10.0.3 + no-unused-vars false positive with for-of loop"
**Tell us about your environment**

* **ESLint Version: 6.2.2**
* **Node Version: 12.6.0**
* **npm Version: 6.11.2**

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint `10.0.3`

Also tried Babel-ESLint `10.0.2` but ran into https://github.com/eslint/eslint/issues/12117. Following the advice there, I tried running `10.0.3`

**Please show your full configuration:**

<details>

[2019-08-30 14:58] kaicataldo commented on #12186
This looks like a duplicate of https://github.com/eslint/eslint/issues/12030. Please let us know if you still run into issues!

[2019-08-30 17:00] davidroeca commented on #12187
Encountering the same

[2019-08-30 19:12] #11789 closed

[2019-08-30 19:20] #11916 closed

[2019-08-30 19:28] kaicataldo commented on #12179
Thanks for the issue. This isn't something the team would like to do at this time. Currently, our official source of funding is through Open Collective.

[2019-08-30 20:06] btmills commented on #12159
We just [released ESLint v6.3.0](https://eslint.org/blog/2019/08/eslint-v6.3.0-released). We'll check back at the end of the weekend to see if we need a patch release.

[2019-08-30 20:20] lastmjs commented on #12179
Sounds good

[2019-08-30 20:20] #12179 closed

[2019-08-30 21:11] hbarcelos opened #12190 "Environment plugin does not work if it is a scoped package"
**Tell us about your environment**

* **ESLint Version:** 6.2.2
* **Node Version:** 12.8.0
* **npm Version:** 6.10.2

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**

<details>
<summary>Attempt 1</summary>

[code]
</details>

<details>
<summary>Attempt 2</summary>

[code]
</details>

**What did you do? Please include the actual source

[2019-08-30 22:02] platinumazure commented on #12187
Could anyone encountering this issue please try running `npm ls eslint-scope` (or equivalent) and show the output?

[2019-08-30 22:04] Gaafar commented on #3565
Hey @nzakas, I'd like to pick up this one.

I made a quick and dirty PoC here https://github.com/eslint/eslint/pull/12191

The main idea is to split the files into X chunks that can be linted sperately on X workers, I used `workerpool` for the workers, but most likely it will change. The main issue I have now is passing the `ConfigArray` array object as it breaks when serializing/deserializing.

P

[2019-08-30 22:42] platinumazure commented on #12190
Hi @hbarcelos, thanks for the issue.

I think we should definitely support scoped packages here. We'll mark this as accepted if we can recreate the issue.

[2019-08-31 00:34] mdjermanovic commented on #11324
Source:

[code]

Error:

[code]

I think that:

* `"column": 12` is a **bug**, it should be `11`. The rule is reporting `!bar` node instead of `!!bar` node.
* `"range": [23, 28]` is **correct**, range is 0-based and `\n` counts as only 1.

For comparison, this is `no-implicit-coercion` error on the same code:

[code]

[2019-08-31 01:00] mdjermanovic commented on #12098
Perhaps to make this issue be just a task to fix the documentation (if confirmed that it's incorrect) ?

I could open another issue to evaluate renaming.

[2019-08-31 02:06] platinumazure commented on #11324
@mdjermanovic Nice work. I think we can accept this issue based on that investigation.

...This raises an interesting thought. Should the autofix logic allow a fix range outside of the range of the reported node?

[2019-08-31 02:29] mdjermanovic commented on #11324
I'll fix this soon.

Could be very interesting to test this, perhaps it would find similar bugs in other rules.

[2019-08-31 03:07] fylworker commented on #12186
@kaicataldo So, thank you for your answer.

[2019-08-31 06:17] mysticatea commented on #12119
I have opened an issue on acorn: https://github.com/acornjs/acorn/pull/870

I'm closing this issue because of duplicate. Please track on #11018 and https://github.com/acornjs/acorn/pull/870.

[2019-08-31 06:17] #12119 closed

[2019-08-31 07:32] mysticatea commented on #12190
Actually, this is the correct behavior.

To specify a plugin env, you have to use the naming convention as same as plugin rules'.

[code]

[2019-08-31 07:38] mysticatea commented on #12190
The naming convention:

- `eslint-plugin-foo` → `foo/a-rule`
- `@foo/eslint-plugin` → `@foo/a-rule`
- `@foo/eslint-plugin-bar` → `@foo/bar/a-rule`

[2019-08-31 07:42] mysticatea commented on #12127
I think that to handle this issue as a bug makes sense.

[2019-08-31 08:28] golopot opened #12194 "func-names does not report default exported function"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 12

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`func-names: [2, "always"]` or
`func-names: [2, "as-needed"]`

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

[2019-08-31 08:39] mysticatea commented on #12194
Thank you for your report.

I agreed.

In technical, `func-names` rule has checked only function expressions, but `export default function () {}` is a function declaration. I guess that this is an overlook in ES6 updates.

[2019-08-31 09:31] mdjermanovic commented on #12194
Would this be a bug fix or an enhancement, because by the documentation the rule works only with function expressions.

[2019-08-31 09:49] mysticatea commented on #12194
Indeed, it's a concern that the fix has big impact.

Personally, this is a bug -- I think that the rule intends the naming convention of functions (regardless of expressions/declarations) as we consider the fact that we could not omit function names on function declarations at the time the rule created. I can remember that the AST of `export default function () {}` was `FunctionExpression` at firs

[2019-08-31 10:31] mdjermanovic commented on #12194
I think that the following should be also discussed, because the proposed change doesn't treat function declarations in the same way as the rule at the moment treats function expressions when the option is `as-needed`:

The actual code is explicitly treating `export default (function () {})` as an automatically assigned name [in this line](https://github.com/eslint/eslint/blob/329e295ff95cb49c1ab5

[2019-08-31 15:39] ilyavolodin commented on #12186
Closing this issue as a duplicate of #12030

[2019-08-31 15:39] #12186 closed

[2019-08-31 15:43] ilyavolodin commented on #12168
I think this is borderline case. It's generic enough to be in the core. It also suggests best practice. But it feels like an edge case that will not be triggered too often. Hmm... not sure which way I'm leaning. Would want to see what others think.

[2019-08-31 20:55] sombhotlu commented on #12187
`-- react-scripts@3.1.1
  +-- @typescript-eslint/eslint-plugin@1.13.0
  | `-- @typescript-eslint/experimental-utils@1.13.0
  |   `-- eslint-scope@4.0.3  deduped
  +-- babel-eslint@10.0.2
  | `-- eslint-scope@3.7.1
  `-- webpack@4.39.1
    `-- eslint-scope@4.0.3

[2019-08-31 21:14] sombhotlu commented on #12187
I was facing same issue when using updated `react-script@3.1.1`  which suggests `babel-eslint@10.0.2`, but then I manually updated to `babel-eslint@10.0.3` it and all the warnings went away.

[2019-08-31 23:11] mdjermanovic commented on #12169
The rule will also crash with the default parser on this:

[code]

so this isn't just an issue with `@typescript-eslint/parser`

The other 3 rules that use `regexpp` (`no-control-regex`, `no-invalid-regexp` and  `prefer-named-capture-group`) already have try/catch.

@Jessidhia would you like to submit a PR for this fix?

[2019-08-31 23:54] platinumazure commented on #12041
@eslint/eslint-team I'll champion this. Can we get one more :+1: here?

[2019-08-31 23:58] mdjermanovic commented on #12041
:thumbsup:

[2019-09-01 00:41] mdjermanovic commented on #12049
This also needs one more :thumbsup: to be accepted?

[2019-09-01 01:35] mdjermanovic opened #12198 "computed-property-spacing errors with parens"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that y

[2019-09-01 04:42] mysticatea commented on #12198
Thank you for your report.

We have a utility function to check spaces: [sourceCode.isSpaceBetweenTokens()](https://github.com/eslint/eslint/blob/master/lib/source-code/source-code.js#L424). It intends to ignore comments on between the tokens.

[2019-09-01 07:12] jesperkristensen commented on #11803
I noticed today that dynamic imports now works with the latest eslint release, even though this issue has not been updated.

[2019-09-01 07:16] mercmobily commented on #11803
Hi,

Do they? From master, or npm?

Merc.

On Sun., 1 Sep. 2019, 3:13 pm Jesper Kristensen, <notifications@github.com>
wrote:

[2019-09-01 07:22] mysticatea commented on #11803
This issue is updated. See the issue description; we have not done the last item "ESLint Update 2: the following stuff look like to need update, but breaking changes.", we will do it on 7.0.0 release.

The syntax support is not completed, but you can use `ecmaVersion:2020` since ESLint 6.2.0.
See https://eslint.org/blog/2019/08/eslint-v6.2.0-released

[2019-09-01 07:31] jesperkristensen commented on #11803
Oh, the issue was updated, it's just GitHub that only sends notifications when a new comment is added, but not when a comment is edited.

[2019-09-01 08:07] #12039 closed

[2019-09-01 09:28] mdjermanovic commented on #12049
I'm working on this.

`enforceForClassMembers`

[2019-09-01 09:54] mdjermanovic commented on #12198
Meant to ask, should this rule see comments as equal with other tokens regarding the spacing logic.

For example, should this be valid:

[code]

It's currently an error, because there are spaces between the brackets and the `key` node (`a`). But, there are no spaces between the brackets and the comments and I think this should be no error.

Some other spacing rules see comments as equal:

[code]
[

[2019-09-01 10:59] mercmobily commented on #11803
Question: is everything except "ESLint Update 2: the following stuff look like to need update, but breaking changes." been released in the NPM distributed package?

[2019-09-01 11:43] mysticatea commented on #11803
Yes. Those are in 6.2.0.

[2019-09-01 12:04] mysticatea commented on #12198
Sounds good to me.

So maybe the `sourceCode.isSpaceBetweenTokens()` function is not useful because it cannot distinguish the space was placed on which side of the comment  :)

[2019-09-01 12:23] mdjermanovic commented on #12198
It could be useful, the logic can be modified to pick the first token (including comments) after `[` and first before `]`, then use  `sourceCode.isSpaceBetweenTokens()` on those tokens and brackets.

Though, it would be good to see what should be done with #11902 first.

[2019-09-01 13:42] mdjermanovic commented on #11902
I don't think this is a bug, the rule now works with comments same as with all other tokens.

Nevertheless, there is already a precedent for this particular exception, e.g. `space-in-parens` allows this:

[code]

The above is the only exception, the following are still errors:

[code]

I think it's okay to allow only this particular exception (`never` + line comment) in `object-curly-spacing` as a

[2019-09-01 21:21] phaux opened #12199 "Fallback to using `.gitignore` when `.eslintignore` doesn't exist"
**The version of ESLint you are using.**
6.2.2

**The problem you want to solve.**

There are a few problems with current behavior. Currently I always end up with multiple `.*ignore` files in the project root. They often have the same content too, it's usually `node_modules` and folders which contain build/coverage artifacts. Specifying `--ignore-path` doesn't help, because then the text editor wo

[2019-09-02 05:29] kuworking commented on #12153
I confirm that this solve the issue, thanks a lot!

[2019-09-02 05:29] #12153 closed

[2019-09-02 06:42] KillianTang opened #12201 "why no-global-assign doesn't work on impoart statement ?"
**Tell us about your environment**

* **ESLint Version:**  "eslint": "^5.13.0",
* **Node Version:**  v10.12.0
* **npm Version:**  6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
"babel-eslint": "^10.0.1",
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the

[2019-09-02 06:46] KillianTang commented on #12201
why I open this issue ：SonarQube report this ，and I add `no-global-assign` but no error report

![image](https://user-images.githubusercontent.com/25997259/64095031-3f26c180-cd90-11e9-9da8-fd8b42c845fe.png)

![image](https://user-images.githubusercontent.com/25997259/64095043-4cdc4700-cd90-11e9-8eb3-b5c31000c023.png)

[2019-09-02 07:04] mysticatea commented on #12201
Thank you for your issue.

Because it's a declaration, but not an assignment. The `no-global-assign` is a rule for assignments.

There are three rules around this.

- `no-global-assign` ... reports assignments of globals (e.g., `Object = 1`)
- `no-redeclare` ... reports redeclarations (e.g., `var Object = 1`)
- `no-shadow` ... reports shadowing (e.g., `function f() { var Object = 1 }`)

Then, what

[2019-09-02 07:35] camyyssa commented on #12187
@platinumazure output from `yarn list eslint-scope` on my project:

[code]

Regarding the comment from @sombhotlu, I have tried updating to `babel-eslint@10.0.3` (it was already mentioned in #12117 ). The original `no-unused-vars` errors disappeared, but in my project they were replaced by `no-unused-vars` in different locations ¯\_(ツ)_/¯ Thank you for mentioning a possible solution though! It mig

[2019-09-02 08:07] #12052 closed

[2019-09-02 12:02] hbarcelos commented on #12190
Thank's a lot for the clarification @mysticatea. It works exactly as you described.

I believe we should probably make this clear in the [docs](https://eslint.org/docs/developer-guide/working-with-plugins), because there is not much information there about working with plugins from scoped package names.

[2019-09-02 16:58] mdjermanovic commented on #12137
I'll champion this and there are already 3 other :thumbsup:, so marked as accepted!

This feature has to be behind an option at the moment. The option applies to both  `&&` and `||`.

Any ideas for the name, maybe `enforceForLogicalOperands`?

@Standard8 would you like to submit a PR to implement this option?

[2019-09-02 19:06] kaicataldo commented on #12199
Thanks for the proposal. Please note that we require any changes to core to go through the RFC process outlined [here](https://github.com/eslint/rfcs).

Since this is a breaking change, it would have to wait until a major version to be released. My biggest concern with the proposal is that it could cause a lot of pain in the community, since it's possible that files that were being linted before c

[2019-09-02 19:12] kaicataldo commented on #12159
This concludes this release cycle! Please feel free to resume merging semver-minor PRs.

[2019-09-02 19:12] #12159 closed

[2019-09-02 19:12] eslint[bot] opened #12203 "Scheduled release for September 13th, 2019"
The scheduled release on Friday, September 13th, 2019 is assigned to:

* @ilyavolodin
* @mysticatea

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guide

[2019-09-02 19:18] platinumazure commented on #12199
I agree with @kaicataldo here. Personally, I think it would be better to enhance the editor integrations to support `--ignore-path`. That way, the user's intent is crystal clear.

[2019-09-02 20:20] michdsouza opened #12204 "Eslint needs to update eslint-utils to patched version"
**Tell us about your environment**

* **ESLint Version:** 5.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**What did you expect to happen?**
Expect eslint to use patched version of eslint-utils

**What actually happened?**

| critical      | Arbitrary Code Execution                                     |
|---------------|--------------------------------------------

[2019-09-02 21:50] mysticatea commented on #12204
Thank you for your report.

But your ESLint is too old. Please use the latest version.

[2019-09-02 21:50] #12204 closed

[2019-09-02 23:23] phaux commented on #12199
@platinumazure editors usually support `--ingore-path` when you configure them, but they have no chance to figure this out automatically when it's only something you write in console or npm script.

[2019-09-03 02:32] kaicataldo commented on #12199
As an alternative solution, I wonder if we could add support for configuring this in config files (similar to https://github.com/eslint/rfcs/pull/22)? This would allow for consumers to easily be able to know what ignore file to use.

[2019-09-03 02:38] #11324 closed

[2019-09-03 02:48] platinumazure commented on #12187
@camyyssa It looks like your babel-eslint is still using the old eslint-scope for some reason. Try blowing away the node_modules and rerunning `npm install`, does that resolve your issue?

[2019-09-03 03:41] mysticatea commented on #12199
I don't think that the fallback makes sense because there is an important difference between `.eslintignore` and `.gitignore` -- `.gitignore` in subdirectories are valid, but `.eslintignore` in subdirectories are ignored silently.

[2019-09-03 03:49] mysticatea commented on #12194
Good point. I agree that to report anonymous default exported functions makes sense.

[2019-09-03 04:24] mysticatea commented on #12032
I'm sorry for my late response. I have confirmed it. I will work on this.

[2019-09-03 08:19] camyyssa commented on #12187
😳 It does!

I could have found the steps to resolve this on my own 😊. Sorry to waste your time @platinumazure  🙂 but thank you so much for the help!

For future me, and in case you stumble on this post because you have the same problem:
1. Upgrade dependency, remove `node-modules`, and try again
2. If you're using the library as a sub-dependency, try to fix it to the latest version using yarn reso

[2019-09-03 08:19] #12187 closed

[2019-09-03 10:52] fabb opened #12206 "Add CLI Option to Ignore Passed File Paths in case they are Ignored by eslintignore"
**The version of ESLint you are using.**

6.3.0

**The problem you want to solve.**

I use lint-staged for running eslint and prettier on each commit. The problem is that I have a few files in my repo that should be ignored by eslint. I have put them into eslintignore, but when I commit, lint-staged will call eslint with all committed files explicitly, i.e. `eslint —fix —ext *.{js,ts,tsx} path/to/

[2019-09-03 12:51] phaux commented on #12199
@mysticatea That's also a thing that could be changed to better align with other tools. [Relevant Prettier issue](https://github.com/prettier/prettier/issues/4081)

[2019-09-03 13:17] mdjermanovic opened #12207 "use-isnan options for implicit Strict Equality Comparison"
**What rule do you want to change?**

`use-isnan`

This rule targets `foo === NaN` ([Strict Equality Comparison](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-strict-equality-comparison))

(also targets `!==`, `==` and `!=`)

Currently, the rule checks only `BinaryExpression` nodes, i.e. only explicit comparisons.

This is a proposal to also check the following:

* [CaseClauseIsS

[2019-09-03 14:26] golopot opened #12208 "Indent does not handle JSX fragment"
**What rule do you want to change?**
indent
**Does this change cause the rule to produce more or fewer warnings?**
more
**How will the change be implemented? (New option, new default behavior, etc.)?**
New option or new default behavior.
**Versions**
eslint 6.3.0
**Parser**
espree
**Please provide some example code that this change will affect:**

[code]

https://eslint.org/demo#eyJ0ZXh0IjoiLyogZX

[2019-09-03 16:20] nbrady-techempower opened #12209 "Incorrect "no-useless-escape" warning"
eslint version: 5.12.0
node version: 12.9.1
npm version: 6.10.2

I am getting a `no-useless-escape` warning in the following RegEx:

[code]

`Line 51:  Unnecessary escape character: \-  no-useless-escape`

An escape is necessary for `-` in Character Sets when it's not denoting a range.

[2019-09-03 16:32] michdsouza commented on #12204
Thank you for you response! I didn't realize my version was so far behind. This has been resolved for me :)

[2019-09-03 16:33] nbrady-techempower commented on #12209
I'm a liar. Once upon a time I believed you did need to escape hyphens in character sets. Great work team.

[2019-09-03 16:33] #12209 closed

[2019-09-03 17:18] platinumazure commented on #12209
Hi @nbrady-techempower, hyphens don't need to be escaped in character classes if they are the first or last character in the character class. In all other locations in a character class, they must be escaped. Hope this helps!

[2019-09-03 17:20] nbrady-techempower commented on #12209
@platinumazure Thanks! I figured it out a few minutes too late.

[2019-09-03 17:24] nzakas commented on #12177
Hi everyone - A while ago the ESLint team made the decision that we would no longer be adding new core rules that simply disallowed some syntax. The primary reason for this is we knew if we continued down that road then everyone would want a rule to specifically disallow their least favorite syntax and we'd end up with hundreds of rules just for that. When we heard feedback that people didn't want

[2019-09-03 17:24] #12177 closed

[2019-09-03 19:26] kaicataldo commented on #12208
I've verified this and think we should treat it as a bug. I'm working on this!

[2019-09-04 01:16] mysticatea commented on #12207
Thank you for this issue.

Sounds a good idea.

[2019-09-04 01:21] platinumazure commented on #12207
I'm definitely :+1: for case clauses.

I'm less sure about `indexOf` just due to lack of strong typing, but I won't oppose that (and I acknowledge that we have precedent with other `Array.prototype` functions).

[2019-09-04 01:59] ljharb commented on #12207
it’d be better to make a custom rule forbidding indexOf in favor of includes, for that one.

[2019-09-04 02:26] mdjermanovic commented on #12207
The initial idea was one option for both, but exactly because of this user should have a way to disable `indexOf` check. I think it's still useful in most cases, but has to be always behind an option (unlike case clauses, which could be default behavior in next major version).

[2019-09-04 02:53] mdjermanovic commented on #12207
This can be easily done with `no-restricted-properties`. Or probably with `no-restricted-syntax` to disable just `=== -1`,  `>= 0`  etc. for which `includes` is equvalent.

[2019-09-04 03:06] mdjermanovic commented on #12194
A good thing for this is that `no-unused-vars` doesn't report `export default function foo () {}` although it is an unused variable in the module scope.

[2019-09-04 04:07] crystalfp opened #12211 "cygpath not found on windows with MINGW shell"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 10.15.0
* **npm Version:** 6.11.3
Windows 10 64bits
Using MSYS and MINGW (unknown version) to emulate Unix shell

**What parser (default, Babel-ESLint, etc.) are you using?** "@typescript-eslint/parser"

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]
</details>

**What

[2019-09-04 05:03] baerrach opened #12212 "--stdin flag fails when file size > 4096"
**Tell us about your environment**

* **ESLint Version:** `v5.16.0`
* **Node Version:** `v10.16.3`
* **npm Version:** `v6.9.0`

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

See ["Fix: ensure --stdin flag works when stdin is piped asynchronously"](https://github.com/eslint/eslint/pull/10393)

I'm getting this same

[2019-09-04 07:17] crystalfp commented on #12211
I reinstalled MINGW and MSYS just to see if cygpath is installed with some package, but was unable to find it (also the package cygutil does not provide cygpath). I suggest to change the case to detect only `*CYGWIN*` or remove it altogether.

The workaround is to change in the scripts `./node_modules/.bin/eslint` to `node ./node_modules/eslint/bin/eslint.js`

Thanks for considering!
mario

[2019-09-04 08:07] #12061 closed

[2019-09-04 11:32] avalanche1 opened #12213 "max-len: comments: ignores JSX"
**Tell us about your environment**

* **ESLint Version:**
^6.1.0
* **Node Version:**
12.9.0
* **npm Version:**
6.9.0
**What parser (default, Babel-ESLint, etc.) are you using?**
"@typescript-eslint/parser": ^2.0.0
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as w

[2019-09-04 13:22] dkarpeSS opened #12215 "Combine multiple files"
Hello, I'd like to ask how can I resolve this issue: I have two files(file1,file2), I'm calling from file1 function from file2, without import, etc.Also with variables. Can you please help what rule do I need to use? Something like combining all files to one.

[2019-09-04 13:38] dkarpeSS commented on #12215
rules:[
"no-unused-vars":[
            "error",
            {
                "vars": "all",
                "args": "after-used",
                "ignoreRestSiblings": false
            }
        ],
        "no-undef": "error"]
-----------------------------------------
file1.js :
function fileOne(){
 new fileTwo().innerFunction();
};
------------------------------
file2.js:
function fileTwo(){
th

[2019-09-04 17:30] Morgul commented on #11899
Just thought I'd say I was bit by this too.

Every project where I use `express` or `knex` and async/await triggered this. In none of the cases am I actually use an outdated value, I'm overriding a default value based on the return of an `await`.

[2019-09-04 17:58] jwilsson commented on #12058
I'd still be happy to submit a PR fixing either the behaviour or if it's just a docs issue. I just need someone with a bit more insight into what the expected behaviour should be :)

[2019-09-04 19:36] mysticatea commented on #12215
Hi. Thank you for your question.

ESLint verifies each file individually. There are some directive comments to tell ESLint about the existence of other files.

- `/* globals foo */` ... There are global variable `foo` that another file defined.
- `/* exported foo */` ... Global variable `foo` that this file defined is used in other files.

For example:

**file1.js:**

[code]

**file2.js:**

[code]

[2019-09-04 19:41] mysticatea commented on #12211
Thank you for your report.

However, `./node_modules/.bin/eslint` is not a part of ESLint. It's a part of `npm`. Therefore, we cannot control that file.

If you have problems in `./node_modules/.bin/eslint`, it's npm's problem. I'd like to recommend to open an issue on npm's repository.

Thank you.

[2019-09-04 19:41] #12211 closed

[2019-09-04 20:19] mdjermanovic commented on #11902
`block-spacing` and `comma-spacing` also have exception for line comments.

I'm working on this.

[2019-09-04 20:25] siric1 commented on #3458
@octogonz I have tested your patch and it works excellent, using ESLint 6.3.0. Could you please consider making a PR, sir?

[2019-09-04 21:09] kaicataldo commented on #12058
Maybe @aladdin-add can clarify this for us. It looks like maybe [this line](https://github.com/eslint/eslint/blob/master/lib/rules/comma-dangle.js#L57) should be changed to match [the change in this PR](https://github.com/eslint/eslint/pull/11519/files#diff-dd33e748952b0c362b1b9fbb73ae1d06R24).

[2019-09-04 21:10] kaicataldo commented on #12058
Adding "accepted" since either the documentation or the code should be updated to match.

[2019-09-04 21:26] feross commented on #12033
@platinumazure If you have to guess, would the RFC to deprecate and rename as you suggested have a decent shot at getting accepted? I'm wondering if we shouldn't keep this issue open a bit longer in case one of us eventually gets the time to write it up.

[2019-09-04 23:54] #12032 closed

[2019-09-05 00:10] mdjermanovic commented on #11939
From #9807 it looks like the option is designed for these use cases only:

1. To avoid useless 'renaming' when one wants just to skip a property:

[code]

2. To avoid 'double renaming' in situations like this:

[code]

For all other use, the rule is still expected to enforce camelcase:

[code]

[2019-09-05 00:40] platinumazure commented on #12206
I'm :+1: to this enhancement. The current behavior is intended for human users who want to explicitly lint an ignored file, but this is a case where a tool wants to be able to pass a list of paths rather than a glob.

[2019-09-05 02:24] mdjermanovic opened #12222 "no-inner-declarations inconsistency"
**Tell us about your environment**

* **ESLint Version:**  6.3.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-09-05 04:04] DemonCloud opened #12223 "ESLint 6.3.0 require plugin&preset relative node_modules"
MacOSX 10.14

node 12.9

npm 6.11.3 & yarn 1.17.3

my global eslintrc.js in hold on $HOME dir
[code]

<img width="752" alt="Screen Shot 2019-09-05 at 12 00 33 PM" src="https://user-images.githubusercontent.com/7436361/64310936-ccf2ee80-cfd4-11e9-8b2e-5b35cbee4eba.png">

<img width="1552" alt="Screen Shot 2019-09-05 at 11 56 12 AM" src="https://user-images.githubusercontent.com/7436361/64310815-4f2

[2019-09-05 04:12] DemonCloud commented on #12223
[code]

[code]

[2019-09-05 04:15] DemonCloud commented on #12223
Sorry!!
must delete ``root`` property!!

[2019-09-05 07:03] Mottoweb opened #12224 "no-unused-vars: wrong error with for of loop"
**Tell us about your environment**

* **ESLint Version: 6.3.0**
* **Node Version: 8.16.0**
* **npm Version: 6.4.1**

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-09-05 07:11] mysticatea commented on #12223
Thank you for your question.

ESLint 6 loads plugins relative to CWD. If you give `--resolve-plugins-relative-to` option, will load plugins from there.

I'm closing this issue as a duplicate of #11914.

[2019-09-05 07:11] #12223 closed

[2019-09-05 07:14] mysticatea commented on #12224
Thank you for your report.

This looks the same issue as #12117. Use the latest `babel-eslint`.

I'm closing this issue as a duplicate of #12117.

[2019-09-05 07:14] #12224 closed

[2019-09-05 08:07] #11920 closed

[2019-09-05 09:22] tiansh opened #12225 "no-constant-condition false positive on string compare"
[Check out Demo Page for more details](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tY29uc3RhbnQtY29uZGl0aW9uOiBcImVycm9yXCIqL1xuZnVuY3Rpb24gaXNEYXRlKHR5LCB0bSwgdGQpIHtcbiAgY29uc3QgW3ksIG0sIGRdID0gbmV3IERhdGUoKS50b0lTT1N0cmluZygpLnNwbGl0KC9bLVRdLykubWFwKHggPT4gK3gpO1xuICBpZiAoJycgKyBbeSwgbSwgZF0gPT09ICcnICsgW3R5LCB0bSwgdGRdKSB7XG4gICAgcmV0dXJuIHRydWU7XG4gIH1cbiAgcmV0dXJuIGZhbHNlO1xufVxuY29uc

[2019-09-05 14:01] mdjermanovic opened #12226 "no-regex-spaces false positive in character class"
**Tell us about your environment**

* **ESLint Version:**  6.3.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-09-05 15:10] mdjermanovic commented on #12226
I'm working on this

[2019-09-05 15:35] mi-mazouz commented on #12018
+1

[2019-09-05 16:12] kaicataldo commented on #12206
Since this would be an enhancement to core, would you kindly be willing to create an [RFC](https://github.com/eslint/rfcs) for your proposal?

[2019-09-05 16:38] fabb commented on #12206
Sure, might just take me a few days

[2019-09-05 16:56] KillianTang commented on #12201
@mysticatea
Thanks，` no-shadow` is the answer I need

[2019-09-05 16:56] #12201 closed

[2019-09-05 19:19] ericsoco opened #12227 "TypeError: Cannot read property 'type' of undefined"
**Tell us about your environment**

* **ESLint Version:**
5.16.0
* **Node Version:**
10.16.0
* **npm Version:**
6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint@10.0.1`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

https://gist.github.com/ericsoco/4fcaacaed0bb083fd72688fee5ee381f
[code]

</details>

**What did you do? Please

[2019-09-05 20:36] christianbundy opened #12228 "Add semi option to strengthen beforeStatementContinuationChars"
**What rule do you want to change?**

[semi](https://eslint.org/docs/rules/semi#options)

**Does this change cause the rule to produce more or fewer warnings?**

More.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option that disables the exception for `{ "beforeStatementContinuationChars": "never" }` that currently allows semicolons before statement conti

[2019-09-05 20:55] christianbundy commented on #12228
FWIW, here's a diff that gives the behavior that I'm looking for:

[code]

Assuming that the current behavior is desired, I'd love to add an option that disables the `maybeAsiHazardAfter()` check.

[2019-09-06 00:02] mysticatea commented on #12228
Thank you for your proposal.

But I don't think that this is a job of `semi` rule because removing such a semicolon will break code. In other words, it's not extra semicolons. To autofix that changes semantics is not acceptable at least. So I think that it would be good if it's a separated rule.

About adding the rule into core, I don't have strong opinions.

[2019-09-06 01:00] platinumazure commented on #12228
I don't understand. What would be the "correct" way of writing code in your example?

Note that this code is semantically different:

[code]

[2019-09-06 01:02] platinumazure commented on #12033
@feross I can't guarantee it, but if the RFC has enough level of detail and is responsive to feedback, I think it has a pretty good chance.

[2019-09-06 01:05] platinumazure commented on #12226
Should this instead collapse down to one space and still report an error?

[2019-09-06 01:18] platinumazure commented on #12194
I think it would be best to treat this as a breaking change or create an option, personally- just in case. I can see the case for it being a bug, but I'm concerned about potential large impact.

[2019-09-06 01:20] mdjermanovic commented on #12226
That would be a correct fix indeed :)

Though I don't think that's the intention of this rule, looks to me more like a case for a rule that would target duplicate characters in `[]`, and also report `[ a ]`, `[11]`, maybe even `[\d1]`.

[2019-09-06 01:24] mysticatea commented on #12228
@platinumazure From the original issue (https://github.com/standard/standard/issues/1402), I guess that it intends to disallow IIFE in that case. Instead, separate it to a declaration and a call expression. Therefore, the new rule will enforce to separate hazardable statements to a declaration and an expression instead of inserting the workaround semicolons.

[2019-09-06 03:40] christianbundy commented on #12228
Yes, you're absolutely right. Sorry I hadn't considered that this was still getting run with `--fix`. I'd be happy to add this as its own rule, do you have any suggestions on what it should be called? I don't want to stray from the usual naming scheme, but I haven't contributed very often to ESLint.

Yep, exactly. I'm currently using [`no-unexpected-multiline`](https://eslint.org/docs/rules/no-une

[2019-09-06 08:07] #12066 closed

[2019-09-06 08:07] #12064 closed

[2019-09-06 08:07] #12059 closed

[2019-09-06 11:24] Alexsey opened #12232 "False positive indent error for comment line before line started from semicolon"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 12.9.1
* **npm Version:** 6.11.3

**What parser (default, Babel-ESLint, etc.) are you using?** none

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you u

[2019-09-06 14:29] platinumazure commented on #12227
Hi @ericsoco, thanks for the issue.

Just out of curiosity, is this issue reproducible with the default parser?

[2019-09-06 22:11] mdjermanovic opened #12233 "prefer-named-capture-group is reporting incorrect locations"
**Tell us about your environment**

* **ESLint Version:**  6.3.0
* **Node Version:** 10.16.0
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that

[2019-09-06 23:11] mdjermanovic opened #12234 "no-obj-calls should report Atomics()"
Similar to `Math`, `JSON` and `Reflect`, which the [no-obj-calls](https://eslint.org/docs/rules/no-obj-calls) rule already reports, `Atomics` is not a function.

[Atomics in ECMAScript 2017 spec](https://www.ecma-international.org/ecma-262/8.0/index.html#sec-atomics-object):

**What rule do you want to change?**

`no-obj-calls`

**Does this change cause the rule to produce more or fewer warnings?*

[2019-09-07 01:31] mdjermanovic opened #12235 "array-callback-return should report .flatMap()"
[Array.prototype.flatMap](https://www.ecma-international.org/ecma-262/10.0/index.html#sec-array.prototype.flatmap) was added in ECMAScript 2019

**What rule do you want to change?**

`array-callback-return`

**Does this change cause the rule to produce more or fewer warnings?**

more

**How will the change be implemented? (New option, new default behavior, etc.)?**

new default behavior

**Please

[2019-09-07 03:09] amio opened #12236 "Make `max-lines-per-function` play nice with jsx"
**What rule do you want to change?**

`max-lines-per-function`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option: `skipJSX` (default `false`)

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?

[2019-09-07 04:16] platinumazure commented on #12236
Hi @amio, thanks for the issue.

I'm not sure we need to code a new option for this case. This sort of thing is exactly what ESLint disable comments are for.

[code]

[2019-09-07 04:21] mysticatea opened #12237 "Rule Proposal: disallow the updates of imported bindings"
**Please describe what the rule should do:**

Disallows the updates of imported bindings with ES Modules because such an update will cause runtime errors.

**What category of rule is this? (place an "X" next to just one item)**

[X] Warns about a potential error (problem)

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in ESLint (instead o

[2019-09-07 05:13] DemonCloud commented on #12223
@mysticatea  thanks

[2019-09-07 14:57] mdjermanovic commented on #12237
I guess there is no reason not to use this rule, it should be `recommended` in the next major version?

In `mod_ns.named = 3` it doesn't matter whether the `'named'` property (named export) exists, because  `mod_ns` is frozen so it's always a runtime error?

Also, the rule should still allow `named.foo = 3` and `mod_ns.named.foo = 3`?

[2019-09-07 16:06] #11361 closed

[2019-09-07 16:12] platinumazure commented on #12234
I'm okay with a semver-minor change for the refactor. As for adding `Atomics`, could we maybe only report it if it's already a known/accepted global? That way, pre-es2017 environments aren't impacted.

[2019-09-07 16:14] platinumazure commented on #12235
I'm worried about the potential breaking change impact.

Could we look for ecmaVersion >= 2019 in a semver-minor update, then maybe remove that check in the next major release?

[2019-09-07 16:36] mdjermanovic opened #12238 "New rule proposal: prefer-regex-literals"
**Please describe what the rule should do:**

Suggests to use regex literals instead of `RegExp()`/`new RegExp()` when these calls have:

* One argument that is a string literal.
* Two arguments and they are both string literals.

**What category of rule is this? (place an "X" next to just one item)**

[X] Suggests an alternate way of doing something (suggestion)

**Provide 2-3 code examples that

[2019-09-07 16:41] sbrth commented on #11899
This is also triggered when you simply want to reset a variable.

[code]

The example doesn't make sense because the real-world thing involves event triggers and a quasi-loop. I simply want to overwrite the "used-up" object with a new one for the next invocation, but for some reason this is a race condition. The new assignment doesn't involve anything about the old assignment...

[2019-09-07 17:05] platinumazure commented on #12238
Yes! I really want to see this in core. :+1: from me.

[2019-09-07 17:09] platinumazure commented on #12228
I definitely think it is unexpected/not ideal for "beforeStatementContinuationChars": "never" to sometimes allow a semicolon anyway. I don't know if we can safely autofix those cases, but I'm okay with reporting them with no fix.

I would want to look at the rule history and make sure this behavior wasn't intentional before accepting this as a bug fix. Otherwise, this should be a breaking change.

[2019-09-07 17:18] platinumazure commented on #12222
I would be :+1: for having 4 errors in your example.

[2019-09-07 17:24] mdjermanovic commented on #12234
That's the initial idea, to report only if it's a reference to a global variable. Not if it is shadowed, and not if the variable doesn't exist at all. That would apply to `Math`, `JSON`, `Reflect` as well, so the change could also generate fewer warnings.

Global `Atomics` could be from the enabled `es2017` environment, or manually added in config file/global comment (which is probably often the c

[2019-09-07 17:25] platinumazure commented on #12213
Hi @avalanche1, thanks for the issue.

Is the issue that we ignore JSX, or that comments are not ignored if they are not the last/only token on the line?

If my hypothesis is correct, then this example should not warn:

[code]

In this case though, maybe the issue is that it's impossible to write a comment in JSX without going into code block mode first? And that the best way to do that with minim

[2019-09-07 17:28] platinumazure commented on #12234
I was referring to having the global be identified as such through env or global config or `/* global */` comment, as opposed to an unexpected global reference that would be reported by `no-undef` or similar. But that might be a pain to implement, so I don't feel strongly about this.

[2019-09-07 17:37] mdjermanovic commented on #12234
I think it wouldn't be a problem to implement that check using the `ReferenceTracker` utility, there is an example in `prefer-named-capture-group`, I believe it's reporting only global `RegExp` calls.

[2019-09-07 18:05] ericsoco commented on #12227
@platinumazure is there a sandbox env somewhere where I can easily swap out parsers? Swapping in my project unsurprisingly generates a ton of parser errors (but does complete linting without crashing, which is maybe all the answer you need).

Also of note, my colleague found the workaround to be:
[code]

So the issue appears to be related to `eslint-plugin-jsdoc`. Let me know if I should move this

[2019-09-07 18:10] golopot commented on #12194
Creating an option - avoids breaking users' CI for now, but adds a vestige that burdens all future users.

[2019-09-07 20:01] mdjermanovic commented on #12194
This looks more like 2 options?

One to enforce the rule on function declarations, the other to change `as-needed` logic for `export default`.

[2019-09-07 20:11] mdjermanovic commented on #12235
I think it's a good idea.

Might be technically a bit more correct to check if an ES2019+ environment is activated rather than parser, but I don't think it's possible from within a rule at this moment.

[2019-09-07 20:44] christianbundy commented on #12228
I think this behavior was intentional, but I'd be interested in fixing it if we can reach consensus that the current `"never"` behavior isn't what we want: #9594

[2019-09-07 20:49] mdjermanovic commented on #12233
Marking this as accepted because this small bug is obvious.

I'll fix this, just need help with what would be a better solution:

1. Report the exact location of the disallowed group when it's possible, otherwise the whole `arguments[0]` node.
2. Or, always report the full location of the `arguments[0]` node, just to be consistent.
3. Or, always report the whole NewExpression/CallExpression node,

[2019-09-07 22:16] platinumazure commented on #12228
In my quick reading of #9594 (thanks for the link!), this does sound like a bug to me.

@mysticatea Do you agree this could be a bug? At the very least, the semi rule isn't reporting what it should. (There is no requirement for us to autofix always, or to autofix in all cases when the rule autofixes in a single case. We can have cases that don't fix.)

[2019-09-07 23:45] g-plane commented on #12233
I prefer Solution 1.

[2019-09-08 02:23] kaicataldo commented on #12213
@platinumazure Taking a quick look at the code, that seems correct! I do think it makes sense for us to account for the opening and closing brackets when checking comments using `max-len`. i.e. it would allow

[code]
I think it should only ignore/account for the brackets when the brackets only contain a comment, though - otherwise, it should behave as it does now.

[2019-09-08 05:45] g-plane commented on #12235
I don't think it's a breaking change, though it may break user's tests or CI.

[2019-09-08 06:08] psabharwal123 opened #12242 "false positive for no-unused-vars"
**Tell us about your environment**

* **ESLint Version:** 6.3.0
* **Node Version:** 10.16.3
* **npm Version:** 6.9.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2019-09-08 06:31] kaicataldo commented on #12232
Verified using [our demo](https://eslint.org/demo#eyJ0ZXh0IjoiY29uc3Qge2xvZ30gPSBjb25zb2xlXG5cbi8vIGNvbW1lbnQgPC0gZXJyb3Igb24gdGhpcyBsaW5lXG5cbjsoYXN5bmMgKCkgPT4ge1xuICAgIGxvZygnc3R1ZmYnKVxufSkoKSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTEsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb24iOjIsImdldHRlci1yZXR1cm4iOj

[2019-09-08 07:03] mysticatea commented on #12228
No, the current behavior is intentional.

The `"never"` option reports *extra* semicolons because to prevent *extra* semicolons is the purpose of `semi` rule with `never` option. The rule doesn't consider the semicolons as *extra* if those protect code from ASI Hazard because it will change semantics if we delete the semicolons.

As #9594 said, the `beforeStatementContinuationChars` option conside

[2019-09-08 07:31] mysticatea commented on #12194
I prefer changing the default behavior on 7.0.0. I'm not sure if there are the cases we use the options.

[2019-09-08 07:35] mysticatea commented on #12227
Yes, this looks like a bug in `eslint-plugin-jsdoc`. Please open an issue on their repo.

[2019-09-08 07:38] mysticatea commented on #12238
How about ``new RegExp(String.raw`\d\d\.\d\d\.\d\d\d\d`);``?

[2019-09-08 07:46] mysticatea commented on #12237
Yes, I think so.

Correct. The rule reports for all properties of namespace objects. It's runtime errors regardless of the existence of named exported members.

Correct. `named` is not a namespace object.

[2019-09-08 07:51] mysticatea commented on #12242
Your config is using `babel-eslint` (not default parser). Please ensure to use the latest `babel-eslint`.

I'm closing as a duplicate of #12117.

[2019-09-08 07:51] #12242 closed

[2019-09-08 08:00] psabharwal123 commented on #12242
babel-eslint does not even exist in package.json

[2019-09-08 08:01] psabharwal123 commented on #12242
and no it is not a duplicate, #12117 wasn't fixed completely - https://github.com/eslint/eslint/issues/12117#issuecomment-525133544

[2019-09-08 08:52] mysticatea commented on #12242
You have `extends: 'eslint-config-pogo'` and `eslint-config-pogo` depends on `babel-eslint`.

[2019-09-08 16:11] mdjermanovic commented on #12238
That style indeed doesn't have the problem with double escapes.

First idea was to disallow just string literals (maybe also simple template literals used as strings), but since the rule is `prefer-regex-literals` it might make sense to disallow this style, too?

[2019-09-08 18:42] avalanche1 commented on #12213
In my understanding, for the moment Eslint treats JSX comment construct (i.e. `{/*comment*/}` or `{//comment}` as code, not as comments.
That's why the false positives.

[2019-09-08 19:34] bmish opened #12245 "Unable to use `eslint-disable` comment to disable a rule that reports `loc` with a violation"
**Tell us about your environment**

* **ESLint Version:** 5.16.0, 6.3.0
* **Node Version:** 8.15.1, 10.16.3
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well a

[2019-09-08 23:34] Bamieh opened #12246 "Remove `no-return-await` rule"
**What rule do you want to change?**

[no-return-await](https://eslint.org/docs/rules/no-return-await).

The rule description body of the rule not longer valid. The rule states that this syntax is useless although it is a very valuable implementation:

**It has better performance than hand-written promises, and more importantly it produces better debugging stack traces.**

Read full details about

[2019-09-09 01:40] mysticatea commented on #12238
Yes, I think so.

[2019-09-09 01:54] kaicataldo commented on #12213
@avalanche1 That's right - just for clarity though, `{//comment}` is invalid because the closing bracket is part parsed as part of the line comment value.

[2019-09-09 03:14] amio commented on #12236
Thanks @platinumazure , I think disable comments is a patch for it. Since it's a very common use case for project using jsx, we might need an option like `skipComments` or `skipBlankLines` to handle it regularly.

For an react component, a `render` function often containing jsx more than 120 lines, and it's reasonably, while for a regular js function, it would be too loose to set the bar over 60.

[2019-09-09 03:26] platinumazure commented on #12236
Is it possible to use configuration overrides to only allow 120-line functions in files that tend to have large JSX templates, such as React components?

For example, if all your JSX functions are in `src/components`, a config could look like this:

[code]

If that's not feasible, then I wonder if we could instead create a more generic exception (e.g., specify a node type such as JSXElement and th

[2019-09-09 03:35] platinumazure commented on #12237
Would `no-reassign-imports` or `no-import-reassign` be a clearer name?

I realize that the actual import isn't technically an assignment statement, but I wonder if it would be easier for most users if they see the initial import as an "assignment", and then the actual assignment (that we warn on) would be a "reassignment".

I don't feel strongly about the name, though.

[2019-09-09 03:37] platinumazure commented on #12228
@mysticatea I'm sorry, but I'm still not understanding. Could you please provide an example? When should `"beforeStatementContinuationChars": "never"` report, and when shouldn't it report?

[2019-09-09 03:38] platinumazure commented on #12233
As I noted in the PR, I think I might (only slightly, not strongly) prefer solution 2. If we didn't specify the capture group content in the message, I would be strongly in favor of solution 1, but as it is, I think solution 2 would be a good experience for most users.

[2019-09-09 03:58] mysticatea commented on #12228
Sure.

[code]

[2019-09-09 04:20] mysticatea commented on #12228
At the start point, the old `semi` rule with `"never"` option *ignores* the latter cases regardless of the existence of semicolons. Therefore, `beforeStatementContinuationChars` has introduced to enforce a consistent style for the latter cases.

**any:** (this is the previous behavior as-is)

[code]

**always:**

[code]

**never:**

[code]

[2019-09-09 04:32] amio commented on #12236
That's feasible and good enough, thanks @platinumazure!

[2019-09-09 04:32] #12236 closed

[2019-09-09 04:38] mysticatea commented on #12228
Anyway, the `semi` rule should address only the semicolons which don't have any effect on semantics.

[2019-09-09 04:43] mysticatea commented on #12237
I prefer `no-import-assign` because most of the similar rules have the same naming convention.

- `no-const-assign` for const declarations
- `no-func-assign` for function declarations
- `no-class-assign` for class declarations
- `no-ex-assign` for catch bindings
- `no-global-assign` for built-in globals

Only one exception is:

- `no-param-reassign` for parameters

[2019-09-09 04:52] ljharb commented on #12237
Need it wait for a major? Code that can’t possibly execute isn’t really “breaking” people to warn on.

I think no-import-reassign makes the most sense, since it’s closest to no-param-reassign, conceptually.

[2019-09-09 05:48] mysticatea commented on #12237
Yes. [our Semantic Versioning Policy](https://github.com/eslint/eslint#semantic-versioning-policy) has declared it. And it might break people that are using ES Modules syntax with bundlers/transpilers.

[2019-09-09 06:48] platinumazure commented on #12237
New rules can be semver-minor. The only thing that must be semver-major is adding the rule to `eslint:recommended`.

[2019-09-09 08:07] #12078 closed

[2019-09-09 08:12] mysticatea commented on #12245
Thank you for this issue.

Because `/*eslint-disable*/` comment doesn't disable rules on the entire file. It disables rules between the end of a `/*eslint-disable*/` comment and the start of the next `/*eslint-enable*/` comment. In your example case, it disables `my-custom-rule` after `1:36`.

[2019-09-09 08:12] SimenB commented on #12078
Seeing as the above linked PR exists (even if it's about internal usage rather than public APIs), I disagree with that statement, mr bot

[2019-09-09 08:30] jsejcksn opened #12248 "indent: add option for multiline [assignment] statement"
**What rule do you want to change?**
[indent](https://eslint.org/docs/rules/indent)

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option (and hopefully default behavior 🤞)

**Please provide some example code that this change will affect:**

[code]

And line 3 is the specific one in

[2019-09-09 09:19] g-plane commented on #12207
Off topic:
`eslint-plugin-unicorn` has a [rule](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/master/docs/rules/prefer-includes.md) to advise to use `Array.prototype.indexOf`.

[2019-09-09 10:44] mdjermanovic commented on #12238
I agree! Working on this.

[2019-09-09 12:24] VadymBoguslavsky opened #12249 "Get rid of warning ignored files"
Hi, i have a question. After bump of sass-loader we need to use sassOptions in our next.config.js, but when i change it, like
`  sassLoaderOptions: {
        sassOptions: {
          includePaths: ['public/assets/styles']
        }
}`

and try to commit to github, eslint gives me
`0:0  warning  File ignored because of a matching ignore pattern. Use "--no-ignore" to override`

Our default eslint is

[2019-09-09 12:53] g-plane commented on #12249
Hi @VadymBoguslavsky , can you show us your configuration?

[2019-09-09 12:59] JakubKoralewski opened #12250 "Add new brace-style option supporting long multi-line declarations"
This is idea may be novel since, class declarations are usually quite short but when you think about the declaration in TypeScript being able to have both the `export`, `default`, `class`, `VeryLongName`, `extends`, `OtherLongName`, `implements`, `OtherLongName` then you can see how the maximum line length can be reached leading to the declaration spanning multiple lines breaking the `max-len` rul

[2019-09-09 13:14] VadymBoguslavsky commented on #12249
Ok. in `next.config.js` :

`const path = require('path');
const webpack = require('webpack')
const withSass = require('@zeit/next-sass');
const {
  WebpackBundleSizeAnalyzerPlugin
} = require('webpack-bundle-size-analyzer');
const { ANALYZE_SIZE } = process.env;

const withBundleAnalyzer = require("@next/bundle-analyzer")({
  enabled: process.env.ANALYZE === 'true',
});

const globalSass = [
  pat

[2019-09-09 14:08] zaygraveyard opened #12251 "function-paren-newline error when there's a multiline comment before first argument or after last"
**Tell us about your environment**

* **ESLint Version:** v6.3.0
* **Node Version:** NA (using https://eslint.org/demo)
* **npm Version:** NA (using https://eslint.org/demo)

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual sour

[2019-09-09 14:16] platinumazure commented on #12245
In order to disable a rule on the whole file, you should use `/* eslint rule-name: "off" */`.

The `/* eslint-disable */` comments disable from the end of the comment. I could see an argument to allow them to disable from the start of the comment, but that would need to be evaluated as a core enhancement (and would also be a breaking change).

[2019-09-09 14:45] bmish commented on #12245
Thank you for the explanations! The current behavior makes sense now. And switching to using `/* eslint rule-name: "off" */` achieves exactly what I want here.

[2019-09-09 14:45] #12245 closed

[2019-09-09 14:54] g-plane commented on #12249
What's your ESLint config?

[2019-09-09 14:57] VadymBoguslavsky commented on #12249
we have .eslintrc.yml

---

[code]

and ignore file .eslintignore
[code]

[2019-09-09 21:58] mysticatea commented on #12237
My position is that we should rename `no-param-reassign` to `no-param-assign`. Because `no-param-reassign` sounds like it allows the first assign in order to handle overloads, but not in fact.

[2019-09-09 22:15] ljharb commented on #12237
The first assignment is the function itself; reassign is the correct name imo.

[2019-09-09 22:33] mysticatea commented on #12237
In my feeling, as I enumerated in https://github.com/eslint/eslint/issues/12237#issuecomment-529297666, `no-param-reassign` is the only exception of similar rules. So I feel there is special reason for the word selection. And overload handling is the one is for parameters but not for the others. Therefore, I feel `no-param-reassign` has chosen the `reassign` word for overload handling. But it's no

[2019-09-10 04:49] yuanchieh-cheng opened #12253 "Support object distructuring in function parameters"
**What rule do you want to change?**
[prefer-destructuring](https://eslint.org/docs/rules/prefer-destructuring#prefer-destructuring-from-arrays-and-objects-prefer-destructuring)

**Does this change cause the rule to produce more or fewer warnings?**
Produce fewer warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option would be fine.

**Please provide

[2019-09-10 04:58] #12227 closed

[2019-09-10 04:58] ericsoco commented on #12227
Moved to `eslint-plugin-jsdoc`: https://github.com/gajus/eslint-plugin-jsdoc/issues/378

[2019-09-10 08:07] #12087 closed

[2019-09-10 08:07] #12081 closed

[2019-09-10 09:09] v1z commented on #9259
any news about this rule?

[2019-09-10 10:05] mightyiam commented on #12228
Thank you for the examples, @mysticatea. If the purpose is to have a set of rules that prohibits any statement-separating semicolons (as opposed to `for` semicolons, for example), should it be a change to the `semi` rule or a new rule or what, please?

[2019-09-10 10:15] mysticatea commented on #12228
As I said in https://github.com/eslint/eslint/issues/12228#issuecomment-528652769, I prefer a new rule. It would be `no-workaround-semi` or something like.

[2019-09-10 12:25] marcinlesek commented on #12117
Any updates here?

[2019-09-10 12:43] EmilyRosina commented on #12117
For me it has been fixed :woman_shrugging: we're on the latest version with no problems

[2019-09-10 14:29] platinumazure commented on #12228
I really don't see why `semi` couldn't be enhanced for this case.

Part of my difficulty with this is, I see `semi` as a rule primarily about semicolon tokens, but it seems @mysticatea (and maybe others) see this as a rule about the end of statements. So, because I see this as a rule about semicolon tokens, the current behavior of `"beforeStatementContinuationChars": "never"` is *utterly incompreh