[2015-11-27 10:46] cytopia commented on #4557
My bad. Thanks!

[2015-11-27 10:46] #4557 closed

[2015-11-27 10:57] darkred opened #4559 "Use the --fix flag in .eslintr"
I use eslint 1.10.1 inside Sublime Text 3 and Atom 1.3.0
_(using the plugins: `SublimeLinter-contrib-eslint` (ST3) and `linter-eslint` (Atom))_.
I have various rules in an .eslintr file and I have that file in c:\users\user (win10 x64).

**Is it possible to use the `--fix` flag in .eslintr?**  _[(related info)](http://eslint.org/docs/user-guide/command-line-interface.html)_
Meaning to either make

[2015-11-27 11:35] hekto opened #4560 "Should no-redeclare trigger for function locals?"
## test.js
[code]

## Version
[code]

## Actual
[code]

## Expected
Errors for `window` and `win` as well.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28653147-should-no-redeclare-trigger-for-function-locals?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2015-11-27 13:14] just-boris commented on #3435
Just found that you already have configuration option named `allow`. It is whitelist of identifiers which allowed to be with dangles. `allowThis` in this context means that it allows `this` identifier and it is confusing.

So, what about to name new option `allowAfterThis`? It will resolve the conflict in options meanings

[2015-11-27 13:19] just-boris commented on #3435
I almost finished implementation, but stuck with naming issue

[2015-11-27 15:45] nzakas commented on #3435
Sounds good.

[2015-11-27 15:46] nzakas commented on #4560
This is the correct behavior. `window` and `win` are shadows, not redeclarations.

[2015-11-27 15:46] #4560 closed

[2015-11-27 15:49] nzakas commented on #4559
It is not possible to use `--fix` in your config file as the flag puts ESLint into a completely different mode. I'd suggest filing an enhancement request with the editor plugin.

[2015-11-27 15:49] #4559 closed

[2015-11-27 15:51] nzakas commented on #4553
I'd prefer not to. That will mean we have to manually unpin later, and it won't help anyone for whom is already a problem.

[2015-11-27 15:51] darkred commented on #4559
Thanks for replying

[2015-11-27 15:59] nzakas commented on #4236
As far as I know, there is no definition that states function calls should be ignored. We try very hard not to make rules that change the meaning of well-known terms, so what I'm looking for is some documentation that shows omitting function calls is an acceptable practice with magic numbers.

[2015-11-27 16:08] #4553 closed

[2015-11-27 16:08] hekto commented on #4560
Shouldn't no-shadow trigger then?

[2015-11-27 16:12] hekto commented on #4560
Nevermind, `no-shadow: [2, {builtinGlobals: true}]` gives the behavior i'm looking for.
Thanks!

[2015-11-27 16:13] nzakas commented on #4553
I merged because I realized this was breaking all builds

[2015-11-27 16:20] nzakas commented on #4543
I'm not sure adding such an option is even possible with the current implementation. The options for named vs. anonymous functions are pretty clear, but methods are named functions, and I'm not sure we would want to force everyone to define a value for methods or have a magic relationship where methods always inherit from named unless otherwise specified.

@eslint/eslint-team thoughts?

[2015-11-27 16:22] nzakas commented on #4523
Ah, I see. Won't this overlap with no-constant-condition?

[2015-11-27 16:24] nzakas commented on #4504
I see. My thought was that we want to make as few breaking changes as possible to do this, so I'd prefer to keep no-redeclare as it is and just change no-undef.

[2015-11-27 16:25] #4540 closed

[2015-11-27 16:27] nzakas commented on #4538
We honestly just don't have enough people to keep up with the demand for new rules, that's why I ask people to create custom rule instead.

I'm still not sure this rule is a good idea, so if you're not going to try it yourself, then I need to close the issue.

[2015-11-27 16:28] nzakas commented on #4418
@nightwing we don't want to add more conflicts. Just because we have some bad situations already, it doesn't mean we should add more.

[2015-11-27 16:30] nzakas commented on #4542
Seems like a good idea. @josh do you want to submit a PR? We are pretty shorthanded at the moment, so otherwise this may not get done.

[2015-11-27 16:31] josh commented on #4542
Yeah, sure, I'll give it a shot!

[2015-11-27 16:32] platinumazure commented on #4523
@nzakas I wouldn't think so. `no-constant-condition` implies a condition like `true`, using a constant, but this rule would use a condition like `node` (as in, variable `node` is not falsy). The expression `node` is not a constant expression, but this rule would try to catch no modifications. Likewise, constant conditions would imply no loop variable at all, no? The only potential overlap I could

[2015-11-27 16:34] josh commented on #4542
Any suggestions on the rule name? Seems like it should fall under the current "Variables" category. `no-global-vars`, `no-global-scope-vars`, `no-top-level-scope-vars`?

[2015-11-27 16:37] mzgol commented on #4542
@josh `no-implicit-globals`?

[2015-11-27 16:40] nzakas commented on #4542
:+1: no-implicit-globals

There are edge cases to be aware of when `ecmaFeatures.globalReturn` or `ecmaFeatures.modules` are true.

[2015-11-27 16:45] platinumazure opened #4563 "Enhancement request: Add token value filtering to token-store methods"
When looking for a particular token between two other nodes or tokens, the best available approach at the moment seems to be using `getTokensBetween` and then iterating over the tokens manually. It would be awesome to be able to pass in a token value to those methods (or similar methods) and have some of the grunt work for looping be done in token-store or SourceCode.

Below are a couple of concre

[2015-11-27 17:05] platinumazure opened #4564 "Docs request: Diagrams for where whitespace rules can impact particular statements"
It could be pretty useful to have a diagram of various whitespace-related rules in the user guide and how they interact with each other. In addition, making this document could serve as a useful mental exercise for catching possible overlaps in these rules.

Examples might look something like the below, only prettier:

[code]

Basically the idea is, take some common statement types and show how it

[2015-11-27 17:20] just-boris commented on #3435
Done. PR #4562

[2015-11-27 17:27] nightwing commented on #4418
@nzakas is there some discussion on github i could read to understand this decision better.

Conflicts like this are not really creating any bad situations, they are just a minor annoyance requiring to run `eslint --fix` twice in rare edge cases.

Would you accept a pull request to run `eslint.verify` second time if [cli-engine.js#L230](https://github.com/eslint/eslint/blob/bbbcaaa22b4c/lib/cli-en

[2015-11-27 18:07] nzakas commented on #4564
This sounds nice in theory, in practice it's going to be a nightmare to maintain as rules added/changed/removed. We already have trouble keeping documentation in sync with rules, and I'm afraid adding a second spot to update when a subset of rules are changed will only lead to documentation that's always out-of-date.

[2015-11-27 18:07] #3509 closed

[2015-11-27 18:10] nzakas commented on #4563
Can you show some examples where this could be used? I can see some value in providing filtering, just not sure about the implementation you're suggesting. Some concrete examples would help.

[2015-11-27 18:14] nzakas commented on #4523
@platinumazure ah, good call

[2015-11-27 19:07] niftylettuce commented on #2102
:+1: for `dirty-chai`

[code]

[code]

[2015-11-27 19:41] gyandeeps commented on #4564
I agree with @nzakas

[2015-11-27 20:04] michaelficarra commented on #4542
What is the globalReturn edge case?

[2015-11-27 20:40] nzakas commented on #4542
Same as modules - the topmost scope is not global.

[2015-11-27 20:45] michaelficarra commented on #4542
I didn't know that that was implied by the globalReturn flag. I thought it just permitted top level returns in the parser.

[2015-11-28 04:50] mysticatea commented on #4564
I like this idea, but I understand what @nzakas said.
How about below?

1. To create sub category about spacing rules in style rules.
   There are many spacing rules and other style rules, so this helps people looking up their favorite spacing setting.
2. To create spacing style setting page like the online demo. When someone changes setting, a sample code is modified by the `--fix` option, then i

[2015-11-28 07:03] mysticatea commented on #4504
Hmm, OK.

[2015-11-28 08:08] FredyC opened #4567 "Rule: generator-star-spacing fails for async functions (ES7)"
Some time ago I have reported issue #4115 regarding `yield` keyword and this rule. Now I've embraced more future stuff and this rule is unhappy again. I know it's still a draft, so I am not sure if you want to support that yet.

[code]
Produces: **1:23  warning  Unexpected space after *  generator-star-spacing**
My setting: `"generator-star-spacing": [1, "before"],`

eslint: 1.9.0
babel-eslint: 4.

[2015-11-28 08:21] mysticatea commented on #3944
I'm sorry.

Currently, `no-use-before-define` has an string option `"nofunc"`.
We will add new option, so I think a use of an object is fine.

My proposal:

[code]

- `"functions"` (`boolean`) - If this option is `false`, `FunctionDeclaration`s are allowed to use before declarations. Default is `true`.
- `"outerClasses"` (`boolean`) - If this option is `false`, `ClassDeclaration`s are allowed to u

[2015-11-28 11:22] mysticatea commented on #2716
How about `no-unexpected-unary-ops`?

[2015-11-28 12:02] mysticatea commented on #4563
I like predicate functions (like `Array.prototype.filter`) instead of `value`.

As far as I know, this feature can be used at:

- Getting a token excludes `","`
  - https://github.com/eslint/eslint/blob/master/lib/rules/comma-dangle.js#L86
  - https://github.com/eslint/eslint/blob/master/lib/rules/object-curly-spacing.js#L193
- Getting a token of `"("`
  - https://github.com/eslint/eslint/blob/mas

[2015-11-28 13:04] hzoo commented on #4567
ESLint doesn't support async now without using babel-eslint

[2015-11-28 13:29] mysticatea commented on #4523
@platinumazure Thank you!

`no-constant-condition` is covering constant values in `IfStatement`s, `ConditionalExpression`s, and loop conditions.
This proposal is covering variables in loop conditions.
As @platinumazure mentioned,  only `const` variables are overlapped.

I'm OK that this is an option of `no-constant-condition`.
But I think new rule is better.

[2015-11-28 14:20] platinumazure commented on #4563
I'm okay with predicates too. I just like what underscore/lodash did in
some cases where they accept values that are transformed internally to
predicate functions.

In addition to examples provided by @mysticatea, what inspired this
originally from me is my recent adjustment to eqeqeq, where I need to get
"==" or "!=" tokens between the left and right side of a BinaryExpression.
On Nov 28, 2015 6:

[2015-11-28 14:42] nzakas commented on #4564
At one point, @ilyavolodin had an interactive demo that showed how spacing rules worked (I think).

[2015-11-28 14:44] nzakas commented on #3944
Why outer classes only?

[2015-11-28 14:45] nzakas commented on #2716
Are there other unary ops we care about other than "!"?

[2015-11-28 14:46] nzakas commented on #4567
@hzoo he's using babel-eslint, this has to do with how babel-eslint represents async functions to ESLint.

[2015-11-28 14:46] #4567 closed

[2015-11-28 14:47] nzakas commented on #4542
It's also used as a trigger to inject an extra scope to mimic Node.js scoping.

[2015-11-28 15:05] mysticatea commented on #3944
@nzakas Class declarations are not hoisted, so the following code raises a runtime error.

[code]

The following code is OK.

[code]

[2015-11-28 15:15] mysticatea commented on #2716
I'm not sure.
Sorry I didn't understand this thread.

[2015-11-28 15:20] FredyC commented on #4567
@nzakas Yes, that seems the case. Is there some solution except disabling the rule per line?

[2015-11-28 15:22] hzoo commented on #4567
Check out https://github.com/babel/eslint-plugin-babel

[2015-11-28 15:30] platinumazure commented on #2716
I'm busy for most of the day but I will try to weigh in with more detail
later. I do remember going through an operator precedence table to see if
it was worth flagging other unary ops with lower precedence than binary ops
and this seemed to be the only really important one. Less important ones
might have been relational binary operators (e.g., !a > b) though.
On Nov 28, 2015 9:15 AM, "Toru Nagash

[2015-11-28 16:12] FredyC commented on #4567
@hzoo And what about it? I am obviously using that...

[2015-11-28 16:24] FredyC commented on #4567
@hzoo Ah, didn't knew about that. Thanks !

[2015-11-28 18:00] Yamakaky opened #4568 "[react] Bug with <div className="">"
Previously: https://github.com/yannickcr/eslint-plugin-react/issues/335
The following file issues an error.

test.js:
[code]

error:
[code]

installed packages: babel babel-eslint eslint eslint-plugin-react

eslintrc:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28678383-react-bug-with-div-classname?utm_campaign=plugin&utm_

[2015-11-28 19:00] nzakas commented on #4568
This is most likely a babel-eslint bug. Can you try it with the default parser?

@hzoo

[2015-11-28 19:28] Yamakaky commented on #4568
If I remove `parser: babel-eslint`, there is now error.

[2015-11-28 21:33] hzoo commented on #4568
Should be fixed with babel-eslint - babel isn't providing the raw property so gota add that in

[2015-11-28 22:50] spence opened #4569 "False positive "space-before-keywords" for function in array"
Spaces before keyword `function` when it's the first item in an array should not cause an error.

[code]

[code]

eslint version: v1.10.2

Rule:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28682104-false-positive-space-before-keywords-for-function-in-array?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2015-11-28 23:42] platinumazure commented on #4569
Yes, this is a conflict with array-bracket-spacing and I would agree this
rule should not be enforced in that situation. I think the colon space rule
will also be problematic in the object case (can someone check that?).
On Nov 28, 2015 4:50 PM, "ESLint Bot" <notifications@github.com> wrote:

[2015-11-29 00:28] michaelficarra commented on #2716
It's the combination of unary ops and binary ops whose types don't align. For example, `!` works with `===`, but not `in`, `+`, `<`, etc; `~` works with `+`, `*`, `===`, etc. but not `in`, `<`, `instanceof`, etc.

[2015-11-29 02:56] jacksonrayhamilton commented on #4556
Interest revived!

[2015-11-29 09:38] Yamakaky commented on #4568
Solved

[2015-11-29 09:38] #4568 closed

[2015-11-29 12:43] logotype opened #4570 "prefer-const: incorrectly detects modified variable as unmodified"
The version of ESLint you are using: `1.4.0`

Source code that caused the problem:
[code]

The configuration you're using:
`"prefer-const": 2`

The actual ESLint output complete with line numbers:
[code]

Complete source here:
https://github.com/logotype/hashdog/blob/47738271a6f20122c263f392d4e9f0ab407ad300/src/hash/MD5.js#L148

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty o

[2015-11-29 12:47] platinumazure commented on #4570
The const keyword refers to variable references being unchanged, not that
properties are not modifiable. This is working as designed.
On Nov 29, 2015 6:43 AM, "Victor Norgren" <notifications@github.com> wrote:

[2015-11-29 12:51] #4570 closed

[2015-11-29 15:46] nzakas commented on #4556
You might be able to use processors to accomplish something like that: http://eslint.org/docs/developer-guide/working-with-plugins.html#processors-in-plugins

It only works on text, though, so your best bet would be to replace the comment with a var statement.

Otherwise, what you're asking is not possible and we are unlikely to add such an enhancement anytime soon.

[2015-11-29 15:46] #4556 closed

[2015-11-29 18:34] andy-hanson opened #4571 ""curly": "multi" doesn't work on for-of loop"
This is the code I'm linting:

	// This correctly warns.
	for (var key in {}) {
	    console.log(key)
	}

	// This doesn't warn.
	for (var key of []) {
	    console.log(key)
	}

And here's my package.json:

	{
		"scripts": {
			"lint": "eslint src test"
		},
		"devDependencies": {
			"eslint": "1.10.2"
		},
		"eslintConfig": {
			"ecmaFeatures": {
				"forOf": true
			},
			"rules": {
				"curly":

[2015-11-29 21:18] just-boris commented on #4227
Why it is needed an extra plugin for `React`, but JSX is supported from the box?
JSX can't be used without React, so why not to put JSX support and React-specific rules under a single configuration option?

[2015-11-29 21:43] alberto commented on #4569
Should this be tagged `enhancement` @eslint/eslint-team?

[2015-11-29 21:43] lo1tuma commented on #4227
@just-boris that's not correct. JSX can and actually is used without react.
Examples: [msx](https://github.com/insin/msx), [mercury-jsx](https://github.com/Raynos/mercury-jsx), [jsx-dom](https://github.com/vjeux/jsxdom).

[2015-11-29 21:51] just-boris commented on #4227
Well, but look at this from my side: I am using React, I see the `jsx` support and I guessed that is enough to enable React support for my project.

Maybe it should add a related warning near the `jsx` option, something like "If you are going to use JSX, don't forget to add a framework-specific plugin to get proper support". I can send a pull request with it.

[2015-11-29 22:00] lo1tuma commented on #4227
That’s already [mentioned in our README.md](https://github.com/eslint/eslint#does-eslint-support-jsx).

[2015-11-29 22:15] just-boris commented on #4227
At the bottom of file :)

Ok, I got this. It can be as is, unless more people come to the issue.

[2015-11-29 23:32] kaicataldo commented on #4571
I can take this - I added in the for-in loop in #4436.

[2015-11-30 07:45] balupton opened #4575 "space-before-function-paren.js:67 / TypeError: Cannot read property 'value' of undefined"
**What version are you using?**

[code]

Using `"babel-eslint": "^5.0.0-beta4",`

**What did you do?**

Rule file:
https://github.com/bevry/base/blob/68cbd95f76eedfc183e59db1c3d8f63728a9a8aa/.eslintrc.js

File in question:
https://github.com/bevry/projectz/blob/d2fc8ba9705d80d798670d7b1df4a45a484dc198/esnext/lib/person.js

[code]

Commenting out the failed rule provides:

[code]

Commenting out th

[2015-11-30 07:56] balupton commented on #4575
Downgrading to `"babel-eslint": "^4.1.6",` appears to work. Will cross-post.

[2015-11-30 11:27] rvagg commented on #4483
![LTS](https://raw.githubusercontent.com/nodejs/LTS/master/schedule.png)

i.e. 0.12 is "Active LTS" until the end of this year and then "Maintenance" until the end of 2016. These are really both forms of LTS but with different thresholds for what makes it in.

[2015-11-30 11:31] mourner commented on #4483
But it ends on Apr 2016 on the chart (not Dec 2015 to be called "end of the year"), right?

[2015-11-30 11:50] rvagg commented on #4483
ugh, ok, sorry my bad, you're right

[2015-11-30 14:21] thealjey opened #4576 "valid-jsdoc with inheritDoc"
Currently the following comment block is violating the `valid-jsdoc` rule.
[code]
Regardless of whether the method is documented in the parent class or not.
Is this a bug, a feature or something that will be changed in the future versions?
Can I use `@inheritDoc` with this rule right now?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-11-30 14:38] hzoo commented on #4575
If it doesn't error with the regular eslint parser you can close this one.

[2015-11-30 15:03] gyandeeps commented on #4576
I dont understand the issue here, can you please answer all the questions (above post)?

[2015-11-30 15:08] thealjey commented on #4576
Sorry, but it just seems like too much work for such a minor thing :smiley_cat:
I simply removed the `@inheritDoc` and copied the whole comment block from the parent class.
I'll let whoever this bothers more than it does me to worry about this)))

[2015-11-30 15:10] platinumazure commented on #4576
It's still not clear what happened, what you're expecting (and why you're
expecting it) vs what actually happened. Version information is also
helpful in case you're on an old version and this is fixable with an
upgrade. Please answer the questions above.
On Nov 30, 2015 9:08 AM, "Eugene Kuzmenko" <notifications@github.com> wrote:

[2015-11-30 16:04] thealjey commented on #4576
`JSDoc 3.4.0`
The rest is pretty much described in my original post (there's a documented method in a parent class and the same method in a child class with `/** @inheritDoc */`, that's it).
Sorry, but this is as much as I can bring myself to write right now.

[2015-11-30 16:52] nzakas commented on #4569
No, I think bug is correct

[2015-11-30 16:52] #4569 closed

[2015-11-30 16:54] #4571 closed

[2015-11-30 16:55] #4532 closed

[2015-11-30 16:58] nzakas commented on #4576
@thealjey We really need a clear example to work with to be able to both evaluate and potentially fix any bug. Keep in mind we get dozens of issues filed over the course of a week, so the more information you can provide, the more likely it is that someone will investigate further.

[2015-11-30 18:12] SamuelBolduc commented on #4369
Incorrect :

[code]

Valid:

[code]

There could be a parameter to the rule to set the max number of items on a single line maybe too!

[2015-11-30 18:55] nzakas opened #4578 "eqeqeq: Don't autofix"
Right now, the `eqeqeq` rule will correct this:

[code]

To this:

[code]

We should never autofix when `!=` is comparing against `null` or `undefined`, as the code might be relying on `null == undefined`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28723120-eqeqeq-don-t-autofix?utm_campaign=plugin&utm_content=tracker%2F282608&ut

[2015-11-30 18:58] platinumazure commented on #4578
Hang on. There's a special option "allow-null" which will avoid those being
reported as errors. Shouldn't we rely on that in determining whether or not
this is even an error in the first place?

Given the existence of that option, I think it makes more sense to
encourage users to use that option (and avoid an error being reported in
the first place, and thus avoid a bad auto fix) and let the fix l

[2015-11-30 19:19] nzakas commented on #4578
Yes, the `allow-null` option allows you to omit warnings, however, we should never do this replacement regardless of that option. There is no way for us to know that this is a safe replacement because it changes the meaning in a way that could break (this caused a bug in Espree). Whenever we see `!= null` or `!= undefined`, we should report the problem according to the `allow-null` option but we s

[2015-11-30 20:01] #4575 closed

[2015-11-30 20:06] nzakas commented on #2716
For this, we are strictly talking about using `!` with `in` and `instanceof`, though. I'm not sure it makes sense to extend the rule further than that.

I'm still thinking that `no-unsafe-negation` is clearest for this use case.

[2015-11-30 20:12] platinumazure commented on #2716
I'm okay with that for now, but I think it would be good to revisit this in 2.0 (as more of a general-purpose unary ops with higher precedence than binary ops sort of thing).

[2015-11-30 20:16] platinumazure commented on #4578
I'd love to hear more about the espree bug.

To me, users who configure ESLint in a particular manner are implicitly making a promise that they know what they're doing (notwithstanding any improvements we can make to our documentation or to follow principle of least surprise). If someone enables `eqeqeq` without `allow-null`, does that not imply that the user wants all `!=` changed to `!==`? If th

[2015-11-30 20:17] nzakas commented on #2716
This is for 2.0.0, and I'd prefer not to revisit again after this. If you have a proposal for something more than what is here, then now would be the best time to share. We can't keep deprecating and removing rules that do the same thing without seriously annoying users.

[2015-11-30 20:24] rosskevin opened #4579 "no-spaced-func complains about multi-line hash parameter"
## Env
[code]

## Error
[code]

## Code
[code]

## Summary

The line 130 problem report may be a mistake, when I comment it out it complains about the block above that is passing a hash as a parameter to `#css()`.   But then again, I converted the `#css()` block to interpolation, and it still complains about line 130.

It doesn't appear to me that this code violates [the rule](http://eslint.org/do

[2015-11-30 20:24] nzakas commented on #4418
I don't know what you're asking for here. If you're referring to me saying I don't want to add autofixing for this, all the documentation is in this issue. I know we have some conflicts already, and I don't want to add additional known conflicts because that will be one more thing we need to keep track of and try to fix in the future. I'd rather wait and see if we can figure out another way.

This

[2015-11-30 20:25] nzakas commented on #4523
Yup, sounds good!

[2015-11-30 20:26] nzakas commented on #4563
So what are we saying here? That you're fine with using predicate functions instead of new methods?

[2015-11-30 20:27] nzakas commented on #3944
Yes, that part I understand, I just don't understand the term "outer classes". What are you calling an "outer class"?

[2015-11-30 20:28] nzakas commented on #4369
@eslint/eslint-team anyone want to champion this rule?

[2015-11-30 20:33] nzakas commented on #4578
@platinumazure I'll try to explain this once again.

[code]

In Espree, I have `foo != null`. ESLint changed it to `foo !== null`. That caused the Espree tests to hang and it took me a while to track it back to this change because `foo` was coming in as `undefined` and therefore it wasn't equal to `null`.

Regardless of anything else ESLint does, it must not make changes that break functionality.

[2015-11-30 20:35] platinumazure commented on #4563
I'd like to have new methods (or optional parameters added to existing methods) added to token-store and source-code which will take a predicate function to allow for some filtering of what gets returned.

Nice-to-have would be a further overload which supports value predicates (e.g., `"!="` will assume that we are looking for a token with `value: "!="`), or object predicates (e.g., `{ value: "!="

[2015-11-30 20:40] platinumazure commented on #4578
I concede that it might be best for our users and am willing to drop the issue for that reason. My point remains, though, that this was really a configuration fault on your end and you really should have had `allow-null` enabled in espree. I'm okay with protecting users from themselves once in a while, and I can see this being a compelling enough case if it caused an hour to be wasted, but at the

[2015-11-30 20:41] nzakas commented on #4579
I'm unable to reproduce this problem locally. Can you try to narrow things down some more? Is there anything on line 131?

[2015-11-30 20:48] dciccale opened #4580 "["finally"] is better written in dot notation dot-notation"
`finally` is an es6 reserved keyword, shouldn't I be using it like `["finally"]` ?

UPDATE

1 ESLint version 1.5.1

2 code
[code]

3 relevant config

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28726602-finally-is-better-written-in-dot-notation-dot-notation?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues

[2015-11-30 20:50] platinumazure commented on #4580
What's your configuration for the `dot-notation` rule? Is it allowing keywords or not?

Modern browsers can handle reserved words as property names, even in dot notation. Unless you have `allowKeywords: false` configured, I think the rule is working as designed and that you might be making an incorrect assumption about the need to use bracket notation for that property.

[2015-11-30 20:52] dciccale commented on #4580
ok, I'll use it with dot notation, didn't know that we should do that even if it is a reserved word. thx

[2015-11-30 21:00] rosskevin commented on #4579
Hello @nzakas - I tried to provide a small sample above but perhaps the other errors are leading me down the wrong path.  I've fixed all the remaining, and indeed there is a line following which is problematic.  line 130 is now 108.
[code]

These are my remaining issues, the source can be viewed here:
https://github.com/FezVrasta/bootstrap-material-design/blob/v4-dev/js/src/ripples.js

[2015-11-30 21:05] platinumazure commented on #4579
What about your ESLint config? Can you include that?

[2015-11-30 21:07] rosskevin commented on #4579
Eslint config:
https://github.com/FezVrasta/bootstrap-material-design/blob/v4-dev/js/.eslintrc

[2015-11-30 21:42] rosskevin commented on #4579
So this is the culprit:

[code]

[2015-11-30 21:47] rosskevin commented on #4579
I'm not sure what that code was about, but I've rewritten it as a private method and all is well now.  Thank you.

[2015-11-30 21:47] #4579 closed

[2015-11-30 23:00] jaydenseric commented on #3056
This would be super useful, because I am constantly wondering what case to use for certain types. Actual JSDoc documentation is inconsistent in their examples.

[2015-11-30 23:16] platinumazure commented on #3056
I don't know if the JSDoc spec cares one way or the other, but even for "number" I could see arguments both ways (constructor is "Number", typeof output is "number"). So unless JSDoc itself proscribes one way or the other, I don't think ESLint should (that is, it should allow for both ways via configuration).

[2015-12-01 02:09] nzakas commented on #4580
Confirmed, working as intended. You can do `.finally` as of ES5.

[2015-12-01 02:09] #4580 closed

[2015-12-01 02:23] mysticatea commented on #3944
I imaged "class declarations in upper function scopes or global scopes", and I saw a Ja-En dictionary.
I want to get advice.

[2015-12-01 04:25] michaelficarra commented on #4578
If the goal is to never break their code, eslint can almost never replace `==` with `===`. @nzakas why are you only suggesting this for the `== null` case?

[2015-12-01 05:22] ilyavolodin commented on #4543
I think I'm with @michaelficarra on this. I, personally, don't see a difference between regular named function and class method. Maybe if more information is provided, I could see why someone would want to do that.

[2015-12-01 05:25] ilyavolodin commented on #4564
I did. I never finished it. Although now with the `fix` options available, it might actually be pretty easy to do (although only for rules with autofixing).

[2015-12-01 05:30] ilyavolodin commented on #4556
@jacksonrayhamilton You can already do this as is. You would need to write a processor, that can extract `// import` statements through RegEx, and substitute it with either `var a = ...` or `//globals a`.

[2015-12-01 06:15] RyGuyM opened #4581 "space-before-function-paren 'value' of undefined"
I just went from 1.10.1 to 1.10.2 and started getting this error. It doesn't look line validateSpacingBeforeParenteses has changed as part of the version update so I'm not sure where to look.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28737662-space-before-function-paren-value-of-undefined?utm_campaign=plugin&utm_content

[2015-12-01 06:30] gkz commented on #4507
I plan on making it a per-option option, so it would only affect `--ignore-pattern`.
This week is the last week of the term, so if you guys can wait one week for the fix, that would be great. If it is super urgent, let me know and I'll try to do something earlier.

[2015-12-01 08:21] Slayer95 commented on #4578
+1 @michaelficarra

Why do non-style rules even have an autofix implementation?

[2015-12-01 10:46] zbinlin opened #4582 "Supports to resolve "~" sign as home directory in the "extends" configuration?"
eslint: `v1.8.0`

pwd: `/home/xxx/test`

`.eslintrc`:

[code]

when run `eslint index.js`, it throws an Error:

[code]

Could supports to resolve `~` to home directory?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28742756-supports-to-resolve-sign-as-home-directory-in-the-extends-configuration?utm_campaign=plugin&utm_content=track

[2015-12-01 11:50] nightwing commented on #4418
I asked because, I saw several comments about not wanting new autofix rules from others too, and it sounded like there have been some previous discussion i was missing, sorry.

It is still way faster than fixing the errors manually! And it doubles the time only in rare cases
Efficiently updating AST without a complete re-processing would be nice, but to handle all possible fixes it would require c

[2015-12-01 13:47] platinumazure commented on #4578
+1 @michaelficarra, @Slayer95

I'm sorry to say it, but this issue honestly feels like a knee-jerk reaction to a frustrating experience that needs to be thought through a little further. I'm fairly sure you would say the same if someone else brought it up, especially if they were venting their frustration at the same time. I'm sorry if there is a better way I can put this that I haven't thought of

[2015-12-01 15:02] platinumazure commented on #4564
@ilyavolodin Is it on GitHub? I would be happy to contribute if so.

[2015-12-01 15:11] guyellis commented on #3196
I'm working on this.

Question. Trying to get `debug` to work while working on this. Added the expected require and calls in the code and ran with:

`DEBUG=eslint:no-restricted-imports ./node_modules/.bin/mocha tests/lib/rules/no-restricted-imports.js`

However can't produce any debug output. Any ideas on how to enable debug output when running a test?

Here is where I'm referencing it:
https://gi

[2015-12-01 15:39] nzakas commented on #4582
Unfortunately no, the `~` needs to be resolved by the shell to be accurate.

[2015-12-01 15:39] #4582 closed

[2015-12-01 15:42] nzakas commented on #3196
Seems like that should work. Maybe try `DEBUG=eslint:*` instead? (Avoid typos)

[2015-12-01 15:52] nzakas commented on #4578
@michaelficarra that's a fair point. Maybe the question is whether or not this rule should autofix at all.

@platinumazure I'd appreciate it if you could choose your words more considerately. I feel like you've been attacking me this whole thread because you disagreed. Disagreement is fine, but there are more constructive ways to express it (see how simply @michaelficarra both disagreed and expres

[2015-12-01 15:56] nzakas commented on #4418
It will double the time whenever the first pass has unapplied fixes. And what if there are unapplied fixes after the second pass? Do we do a third?

I'm not arguing that don't want this, I'm arguing that we don't have a good way of doing it.

[2015-12-01 15:57] IanVS commented on #4578
So far, I think we have limited fixes to mainly style and whitespace issues. Changing the equality operator fundamentally changes how the code works, so I agree with @michaelficarra that this rule should not be fixable.

[2015-12-01 16:00] nzakas commented on #4507
We can wait, thanks!

[2015-12-01 16:01] nzakas commented on #4581
@RyGuyM please provide the requested information above

[2015-12-01 16:03] nzakas commented on #3944
I think we can just use "classes" and have it work the way you describe. We just need to explain in the documentation.

[2015-12-01 16:04] nzakas commented on #3056
@platinumazure it doesn't matter what JSDoc does, we can still apply additional constraints. We just need to make them configurable.

[2015-12-01 16:07] nzakas commented on #4563
Got it. I think new methods are better.

[2015-12-01 16:08] platinumazure commented on #3056
@nzakas Agreed. What I was saying is, we shouldn't apply un-configurable
constraints unless JSDoc clearly proscribes said constraints.
On Dec 1, 2015 10:04 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-01 16:09] nzakas commented on #3056
Yup. That's what I said here: https://github.com/eslint/eslint/issues/3056#issuecomment-130733039

[2015-12-01 16:09] gyandeeps commented on #4578
I think we should remove the auto fix ability for this rule. There has been some concerns in my company also for this rule applying auto-fix.
Personally I dont mind this rule applying the auto-fix.

[2015-12-01 16:11] nzakas commented on #4578
OK, that's a lot of votes for not auto-fixing at all, so let's remove it.

[2015-12-01 16:18] nzakas opened #4583 "Update strict rule docs to be clearer"
We got some feedback that the `strict` rule documentation isn't scannable because it's missing the "Rule Options" header. We should reformat the docs to look more like the `radix` page.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28751621-update-strict-rule-docs-to-be-clearer?utm_campaign=plugin&utm_content=tracker%2F282608&utm_m

[2015-12-01 16:20] platinumazure commented on #4578
In minor/patch or in 2.0?
On Dec 1, 2015 10:11 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-01 16:35] nightwing commented on #4418
normally this will happen only to a couple of files in the project changed since last commit.

Do several passes then report that there are errors that can't be fixed automatically.
Even if it works only 80% of the time it is already much better than 0% it works now.

[2015-12-01 16:48] platinumazure commented on #4578
That was not my intent. My intent was to ensure you were thinking clearly rather than reacting out of frustration. As project lead, you have the ability to make snap decisions and implement them in a hurry, and I was afraid that was about to happen here. If that came off as a personal attack, I apologize. As for expressing things more constructively and simply, I did that early on, and then you re

[2015-12-01 16:57] RyGuyM commented on #4581
1. ESLint 1.10.2

2. This section of code causes an error, if I remove the space between `constructor (props)` it doesn't crash.
[code]
Eslint config for that rule:
`"space-before-function-paren": 2,`

3.
[code]

4. I expected it to not crash for this rule.

[2015-12-01 16:59] michaelficarra commented on #4578
Yeah, I had the same concern that @platinumazure had.

[2015-12-01 17:28] RyGuyM commented on #4581
Found the issue, it was babel-eslint. I downgraded to 4.1.6 and it works fine. https://github.com/eslint/eslint/issues/4575

[2015-12-01 17:28] #4581 closed

[2015-12-01 17:47] platinumazure commented on #4209
@nzakas Noticing this issue is open and has "help wanted" label, but not "accepted" (and comments seem to indicate this won't be accepted). Should the issue be closed and/or should the "help wanted" label be removed?

[2015-12-01 17:57] platinumazure commented on #4563
Sounds good. Waiting on an accept at this point, unless you want me to refine my proposal above?

[2015-12-01 19:15] nzakas commented on #4583
Working on this

[2015-12-01 19:23] nzakas commented on #4393
This was actually fixed in this commit: https://github.com/eslint/eslint/commit/b4dfd3a6afed2a9c40409a21ff3a75dd71a5600f

Typo in the commit message left it off of this issue.

[2015-12-01 19:23] #4393 closed

[2015-12-01 19:27] nzakas commented on #3095
Working on this.

[2015-12-01 19:34] natesilva commented on #4393
Thank you!

[2015-12-01 19:48] matoilic opened #4585 "Add third option "no-paren" to space-after-keywords"
A common style for spaces after keywords is to only require them if the keyword is not followed by parentheses. This should be supported out of the box by eslint.

Good
[code]

Bad
[code]

Bad
[code]

#4561 introduces a "no-paren" option to the space-after-keywords rule.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28758413-add-th

[2015-12-01 20:09] #4583 closed

[2015-12-01 20:18] #4399 closed

[2015-12-01 20:18] #4441 closed

[2015-12-01 20:20] #4474 closed

[2015-12-01 20:23] nzakas commented on #4209
Hmm, good point. Should be closed, thanks.

[2015-12-01 20:26] nzakas commented on #4418
Here's the situation I'm concerned with: if someone decides to use `--fix` on a project with a thousand files, it will already take a while. If we add a second pass to some percentage of those files, it can dramatically increase the total time it takes.

You make a good point that this will likely only happen a small number of times the first time ESLint is used, however, that first time could be

[2015-12-01 20:28] #4115 closed

[2015-12-01 20:30] #4411 closed

[2015-12-01 21:10] platinumazure opened #4587 "Any point in keeping an `0.x` branch around now that we have a `1.x`?"
Any point in keeping an `0.x` branch around now that we have a `1.x` branch and `master` is reserved for eventual 2.0? Do we regularly patch that branch anymore?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28761100-any-point-in-keeping-an-0-x-branch-around-now-that-we-have-a-1-x?utm_campaign=plugin&utm_content=tracker%2F282608&ut

[2015-12-01 21:13] #3435 closed

[2015-12-01 21:13] #4108 closed

[2015-12-01 21:13] #4193 closed

[2015-12-01 21:27] nzakas commented on #4495
Working on this.

[2015-12-01 21:35] nzakas commented on #4587
We don't patch 0.x anymore, but I like to leave these around in case someone uses an old version and ends up needing to make a change (or we agree a change is so bad that we really need to fix it).

[2015-12-01 21:35] #4587 closed

[2015-12-01 21:40] #4495 closed

[2015-12-01 21:45] #3530 closed

[2015-12-01 22:03] nzakas commented on #3625
I'll take a stab at this, I think it should be fairly easy.

[2015-12-01 22:10] chovy opened #4589 "error Missing space before keyword "function" space-before-keywords"
version:   ` "eslint": "^1.10.2",`

`error  Missing space before keyword "function"  space-before-keywords`

an array with an anonymous functions chokes the linter:

[code]

This works but its a hack to satisfy the linter more than proper coding:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28762750-error-missing-space-bef

[2015-12-01 22:13] platinumazure commented on #4589
This should be fixed with 1.10.3 (just released), can you update and give it another try?

[2015-12-01 23:05] chovy commented on #4589
that did it

[2015-12-01 23:05] #4589 closed

[2015-12-02 01:19] guyellis commented on #3196
PR submitted: https://github.com/eslint/eslint/pull/4590

This is my first PR for ESLint. Let me know if it needs finessing.

[2015-12-02 01:29] nzakas commented on #4563
Good to go. What I'm expecting is `find*` methods that correspond to the `get*` methods and accept a predicate function as an argument. Does that match what you're thinking?

[2015-12-02 01:43] platinumazure commented on #4563
Sure. I'll try to draw up a PR this week.

Good to go. What I'm expecting is find* methods that correspond to the get*
methods and accept a predicate function as an argument. Does that match
what you're thinking?

—
Reply to this email directly or view it on GitHub
<https://github.com/eslint/eslint/issues/4563#issuecomment-161150488>.

[2015-12-02 07:27] andy-hanson opened #4591 ""brace-style": "1tbs" should warn for brace-less `else` expression on wrong line"
This is the code I'm linting:

	// This correctly warns.
	if (true) {
		console.log(1)
		console.log(2)
	}
	else {
		console.log(3)
	}

	// This does not warn.
	if (true) {
		console.log(1)
		console.log(2)
	}
	else
		console.log(3)

And here's my package.json:

	{
		"scripts": {
			"lint": "eslint src test"
		},
		"devDependencies": {
			"eslint": "1.10.3"
		},
		"eslintConfig": {
			"rules": {

[2015-12-02 07:52] michaelcontento commented on #3458
Any news on this topic? I do understand that, from some point of view, `peerDependencies` might be the "theoretical right" spot to declare it.

But if we take a step back and think about the user, a more flexible / babeljs@6-like solution would be wunderful! Custom bundles of eslint rules/plugins are currently cumbersome to both
- install it in the first place (`npm install -D eslint-config-acme-c

[2015-12-02 11:28] mysticatea commented on #3944
OK.
I will work on this.

[2015-12-02 11:38] andyfleming commented on #2409
@michaelficarra :beers:

[2015-12-02 12:48] bobbyrenwick commented on #3587
@BYK what's the status of your new rule?

[2015-12-02 15:53] ilyavolodin commented on #4564
@platinumazure Nope, never got it far enough to post it on github (and it was small too, not really worth it's own repository).

[2015-12-02 16:06] ilyavolodin commented on #4418
Problem with two-pass approach is that at some point, you are going to run into a situation where 3 rules might affect the same part of code, so you will need to do three passes. Once you go the route of two-pass approach, it's too easy to make it into three-pass approach and so on. I think more correct way would be to apply code fixes as diffs and have an auto-merge routine that can resolve confl

[2015-12-02 16:46] nzakas commented on #4591
This rule does not enforce the use of braces. Use `curly` for that: http://eslint.org/docs/rules/curly.html

[2015-12-02 16:46] #4591 closed

[2015-12-02 16:46] #4504 closed

[2015-12-02 16:52] #3550 closed

[2015-12-02 16:55] nzakas commented on #4585
I'm not sure how common this is. Most style guides explicitly require a space after keywords to distinguish them from function calls.

@eslint/eslint-team thoughts on this?

[2015-12-02 16:58] clebert opened #4595 "Rule "space-before-function-paren" -> Cannot read property 'value' of undefined"
Code:

[code]

Error:

[code]

.eslintrc:

[code]

I think the error was introduced with commit: https://github.com/eslint/eslint/commit/65c33d85268790a095210c0d6d587ed636ebd2d3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28788586-rule-space-before-function-paren-cannot-read-property-value-of-undefined?utm_campaign=plugin&utm_con

[2015-12-02 17:02] nzakas commented on #3458
@michaelcontento no updates. This is quite a bit more difficult than Babel plugins because you can directly reference plugins in config files. If a shareable config depends on a plugin foo, and a user has manually installed that plugin as well, then when the end user references foo, what is the expected behavior? Which instance of the plugin should it refer to?

We will take another look after 2.0

[2015-12-02 17:05] IanVS commented on #4585
Yeah, I'd want to see some justification of calling this a "common" style.  I'm just a noob, but I've never heard of this.

[2015-12-02 17:15] platinumazure commented on #4595
You know you can run searches on the issue list page, right? See #4581, #4575, and this should be fixed with `eslint@1.10.3`.

If you're using 1.10.3, please include that in your original post and add any additional relevant information that could help us debug this.

[2015-12-02 17:17] platinumazure commented on #4585
I agree it's probably not nearly as common as the issue creator might claim, but is there any reason we shouldn't allow the extra option? (I'm certainly not suggesting that this should be a priority for the ESLint team to develop, but if a PR were to come in...)

[2015-12-02 17:19] IanVS commented on #4585
Personally, I think each option or rule we add to core has a cost in cognitive load for each new adopter of ESLint.  So, unless a use case or style reaches a certain subjective threshold of general applicability, I would argue it doesn't belong in core and should be a custom rule/plugin instead.

[2015-12-02 17:29] clebert commented on #4595
Ok thx for the referenced issues ;)
It seems to be a problem with babel-eslint: https://github.com/babel/babel-eslint/issues/218

[2015-12-02 17:29] #4595 closed

[2015-12-02 17:34] #4334 closed

[2015-12-02 17:38] platinumazure commented on #4585
Solid argument, and you've convinced me.
On Dec 2, 2015 11:19 AM, "Ian VanSchooten" <notifications@github.com> wrote:

[2015-12-02 18:05] sindresorhus commented on #4578
Why not just autofix `foo != null` to `foo !== null && foo != undefined`? That's what I would have expected.

[2015-12-02 18:15] platinumazure commented on #4578
@sindresorhus A few problems with that:

1. That could cause precedence issues if the implementation is not careful;
1. undefined can be overwritten;
1. And most importantly that's a massive fix that could easily collide with many other rules on that logical expression node and that could surprise users.

[2015-12-02 18:31] sindresorhus commented on #4578
1. Be careful then. Just wrap it in parens `(foo !== null && foo !== undefined)` if `foo !== null` is not alone.
2. If `undefined` is overridden it's the wild west anyways. Not something we should consider.
3. See 1. I don't see why users would be surprised if they already asked to error about it.

[2015-12-02 18:51] Slayer95 commented on #4578
What if ``foo`` is a getter with side effects? ``new Map([null, void 0])).has(foo)``?

Really, this is out of scope imo. Autofixing should not change the AST ever.

[2015-12-02 19:29] ilyavolodin commented on #4585
Sorry, I might be a bit slow today, but I'm not sure I fully understand the request. So if the keyword is not followed by parentheses it shouldn't require whitespace after? Does that mean whitespaces shouldn't be required, or whitespace is not allowed?
In any case, I do agree with the rest of the comments, I'm not sure how popular this style is.

[2015-12-02 19:36] lo1tuma commented on #4585
I think this would be possible in combination with `space-before-block`, but currently we have an issue that those two rules overlap (see: #1338).

[2015-12-02 19:53] michaelcontento commented on #3458
Thank you for the honest response!

Is there a target release date for 2.0.0?

[2015-12-02 23:14] nzakas commented on #3458
Targeting January.

[2015-12-03 03:52] andy-hanson commented on #4591
The final sample in the issue is what I want code to look like. **I don't want to enforce the use of braces.** When there are braces, I want the closing curly brace to appear on the same line as the subsequent statement.

[2015-12-03 04:27] mysticatea commented on #3458
FYI: Shareable configs can include some plugins in those `dependencies` field.

For example, [my config](https://github.com/mysticatea/eslint-config) is depending on `eslint-plugin-mysticatea`, `eslint-plugin-node`, and `eslint-plugin-react`. But user (me!) does not need to install the plugins manually (e.g. [package.json](https://github.com/mysticatea/npm-run-all/blob/master/package.json#L41)).
B

[2015-12-03 13:49] matoilic commented on #4585
The reasoning behind this style is the following:

It's common to not have a space after the `function` keyword if it's an unnamed one. So, if you don't enforce a space there, then why enforce one after the "if" or "switch" keywords. Most projects I've been part of in the past years followed that styling rule.

[2015-12-03 15:55] IanVS commented on #3611
@lo1tuma, I suddenly have a pressing need for this kind of functionality.  Is it something you're still planning to work on?

[2015-12-03 16:19] lo1tuma commented on #3611
@IanVS yes, I’ve already started working on this. The hart thing about this is that I don’t want to break the current in-memory caching during resolving the config for a file. Currently the config for multiple files in the same directory is always the same, that’s why it is cached per directory, but this isn’t true anymore if start merging the glob-pattern based configuration during the resolving

[2015-12-03 16:40] platinumazure opened #4598 "Docs: no-extra-semi refers to no-space-before-semi instead of semi-spacing"
On the [`no-extra-semi`][1] page, the "See Also" section references the `no-space-before-semi` rule. That rule has been deprecated in favor of `semi-spacing`, so I think the documentation of `no-extra-semi` should be updated accordingly.

  [1]: http://eslint.org/docs/rules/no-extra-semi

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2015-12-03 16:40] nzakas commented on #3611
Can we simplify this to apply to extensions only, rather than full glob patterns? Would that make it simpler?

[2015-12-03 16:57] lo1tuma commented on #3611
@nzakas I can’t really see how that would make it simpler. The configurations for different files in the same directory would still differ.

[2015-12-03 18:52] platinumazure opened #4599 "Should we dogfood no-underscore-dangle's "allowAfterThis" option?"
Now that #4562 is in, I know at least one case (cli-engine.js, _fileCache) of `// eslint-disable-line` which could be removed by changing our ESLint config, if desired.

Basically, this is suggesting that we consume `{ allowAfterThis: true }` in .eslintrc, and remove eslint-disable and eslint-disable-line comments that no longer need to exist.

Version: master
Not reporting a real bug per se, so n

[2015-12-03 19:03] platinumazure opened #4600 "Can we consume "qunit" as an environment from the globals project?"
I see that there is a "qunit" section in the globals project. Any chance we could add that as an environment? (We do have "mocha" as an environment, so we have some precedent for unit test globals as environments.)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28828039-can-we-consume-qunit-as-an-environment-from-the-globals-project

[2015-12-03 20:25] #4598 closed

[2015-12-03 20:54] enobufs opened #4602 ""no-unused-para-var" only check the last parameter"
I am not convinced by the conclusion with the previous issue, #4292. Let me open another issue here.

Just to recap, following code does not detect unused vars, arg1.

[code]

The previous issue concluded that it is an expected behavior with this justification:

The function in the above example obviously has a bug, and "no-unused-vars" is not capable of detecting it. I would definitely expect esl

[2015-12-03 20:59] IanVS commented on #3611
Only applying to extensions would not help me.  My use case is I have `__spec` directories spread throughout the code base, and files in those directories need to have a different environment set from the rest of the code.  Currently, each `__spec` directory needs to contain an eslint config file.

[2015-12-03 21:23] platinumazure commented on #4602
You can catch this scenario with `no-unused-vars: [2, { "args": "all" }]`.

[2015-12-03 21:28] enobufs commented on #4602
Ohh...  I did not notice that option.  Thank you!

[2015-12-03 21:28] #4602 closed

[2015-12-04 00:59] nzakas commented on #4600
We already have it: https://github.com/eslint/eslint/blob/master/conf/environments.js#L56

Is something not working?

[2015-12-04 01:02] nzakas commented on #4599
Yeah, I'm all for dogfooding rules.

[2015-12-04 01:04] #3625 closed

[2015-12-04 01:11] nzakas commented on #3458
@mysticatea that only works when the user hasnt also installed the plugins (maybe a different version). The risk is still there if you ever do that in the future.

Also keep in mind that npm 3 only flattens dependencies when there's no conflict amongst dependency versions for all dependents. If there is a conflict, the npm 2 approach is used.

[2015-12-04 02:22] platinumazure commented on #4600
I think it was just absent from the docs. I'll try it out and make sure
there aren't any problems. Sorry for not doing the proper research.
On Dec 3, 2015 6:59 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-04 02:46] IanVS opened #4603 "Add method on cliEngine to get sourceCode"
Currently, in order to get the sourceCode of a file or set of files, it's necessary to first lint those files, and then get the sourceCode afterwards.  It would be useful in some situations (for example, in autoconfig), to call a method on `cliEngine` to get the sourceCode directly.

The simplest way I've thought of to do this would be to lint the file with no rules enabled, then return the result

[2015-12-04 02:58] platinumazure commented on #4600
Nope, okay, I just completely missed it. I apologize for wasting your time.

[2015-12-04 02:58] #4600 closed

[2015-12-04 03:05] platinumazure commented on #4599
Working on this.

[2015-12-04 04:52] allenmanning opened #4605 "Add "No empty method" to no-empty for ES6 methods"
It would check for methods like this

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28840663-add-no-empty-method-to-no-empty-for-es6-methods?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_conte

[2015-12-04 05:57] platinumazure commented on #4605
What exactly defines "empty"? Should a comment make it non-empty, like in our empty block rule?

[2015-12-04 06:07] unional commented on #4280
Another issue:

[code]

[2015-12-04 06:29] mysticatea commented on #4605
I think that to add an option which covers functions into [no-empty](http://eslint.org/docs/rules/no-empty) is fine.

[2015-12-04 07:57] Grandrath commented on #3611
Same for me. I have my tests alongside the production code with the pattern `_*_spec.js`. And it would be really helpful to apply the `mocha` env only to files that match this pattern. Just the other day I had the situation that a fellow developer used an undefined `context` variable in the production code that ESLint was unable to pick up because the `mocha` env (which defines `context` as a glob

[2015-12-04 12:03] mysticatea commented on #4523
Thank you!
I'm working on this.

[2015-12-04 16:36] medains opened #4606 "Feature request: command line option to not follow symlinks"
When checking a large directory structure where one part symlinks to another, I would like to pass eslint a --no-follow command line parameter to have it not traverse symlinks so that either those files are not checked at all (if the symlink goes outside of the scope of the directory traversal) or only get checked once (when inside scope).

e.g.
[code]

Requested behavior
[code]

If I have some ti

[2015-12-04 16:39] IanVS opened #4607 "Cache results from executeOnText() if filename is provided"
Currently, the results of `executeOnText()` are not cached, which makes it impossible for build tools like [gulp-eslint](https://github.com/adametry/gulp-eslint) use eslint caching.  It seems from a cursory look that it might be possible to cache the results as long as a valid (resolvable) filename is provided as the second argument of `executeOnText()`.

@royriojas, @nzakas, is this something you

[2015-12-04 17:11] nzakas commented on #4607
Should work in theory, so long as we create and store the hash just like we do with files.

I wonder, though, why gulp-eslint is doing that instead of executeOnFiles?

[2015-12-04 17:11] royriojas commented on #4607
TL;DR: It is possible but we will have to expose the method to persist the cache.

It is feasible, but I guess we will have to expose a method to persist the cache, something like `CLIEngine.persistCache()`. That's because by default all operations in the cache are done in memory and just before the results are printed the cache is saved to disk.

So for example if they have an stream of 10 files,

[2015-12-04 17:13] ilyavolodin commented on #4606
Why can't you put a simlink directory into `.eslintignore` file? How is this behavior going to be different?

[2015-12-04 17:13] royriojas commented on #4607
@nzakas I guess because as part of the gulp philosophy, they load all files and convert them to a stream of files. Those streams are passed to the tasks, so they don't do I/O operations. Each task return the stream with the applied transform.

[2015-12-04 17:16] ilyavolodin commented on #4607
Not specifically related to the issue at hand, but `persistCache` would be reasonable method to add. In general, I think, the whole caching structure has to be extracted out of CLIEngine and re-written. Right now, the way it's done, is causing a number of issues with refactoring and adding new features (parallel linting and glob configs, for example).

[2015-12-04 17:17] nzakas commented on #4603
What's the use case for this request?

[2015-12-04 17:18] nzakas commented on #4280
@unional what's the issue?

[2015-12-04 17:19] #4599 closed

[2015-12-04 17:20] #3196 closed

[2015-12-04 17:23] nzakas commented on #4607
@royriojas ah, of course, thanks for explaining.

@ilyavolodin is parallel linting still coming? :)

[2015-12-04 17:24] IanVS commented on #4603
As part of autoconfig, I plan to grab the sourceCode of each file, and then lint multiple times with different rule sets.  This prevents hitting the disk over and over for each successive rule set.  It seems cleaner to get the sourceCode up front, and then perform the linting, rather than the alternative which would be to run one rule set, then get the sourceCode and use it for the remaining runs.

[2015-12-04 17:25] unional commented on #4280
Circular reference.
[code]

[2015-12-04 17:32] royriojas commented on #4607
@IanVS can you elaborate about the issues, parallel linting should not be an issue, Even keeping the sync calls to determine if the file has changed. Those can be changed as well if needed.

But what is glob configs?

[2015-12-04 17:40] sindresorhus commented on #4607
:+1: I could use this for [gulp-xo](https://github.com/sindresorhus/gulp-xo) too, which works similar to `gulp-eslint`.

[2015-12-04 17:41] unional commented on #4280
Here is a more liberate example:

[code]

[2015-12-04 18:19] ilyavolodin commented on #4607
@nzakas Eventually - yes:-) But not for v2:-(

@royriojas Caching isn't blocking parallel linting, it just makes it extremely hard to refactor existing code. Glob configs is an ability to specify different configs based on globs (like different rules for jsx vs js files, for example). Since we do caching per directory, and glob config breaks that assumption, it's blocking glob config feature to a

[2015-12-04 20:09] royriojas commented on #4607
Is parallel linting expecting launch different processes to divide the file list? is the division of the file list predictable?

the cache expects to be in memory until is time to save the results, so running eslint from multiple processes might be an issue. Unless there is a way to pass the cache object to each process and only call reconcile from the top process.

I would like to help to make th

[2015-12-04 20:11] royriojas commented on #4607
by the way if this is accepted I can work on the changes to use the cache from `executeOnText`.

[2015-12-04 20:12] IanVS commented on #4607
I was hoping you'd say that, @royriojas.  Thanks.  :smile:

[2015-12-04 21:02] ilyavolodin commented on #4607
@royriojas Yes, parallel linting would launch different processes for each file (or rather create a pool of N processes and reuse them). Caching will be handled in the main thread, as in, if the file is already cached, it will not even going to be passed to the pool. Caching is not really blocking parallel processing, it just makes it very hard to refactor CLIEngine to allow for both async and syn

[2015-12-04 21:26] royriojas commented on #4607
@ilyavolodin will it help if the cache is always handled from the main process? I mean once a linter process finish the linting then it sends a message to the parent process with the files that passed and the ones that don't. we cache the one that passed and remove from the cache (or simply don't store) the ones that failed. Will take a look to #3565 now

[2015-12-04 21:31] ilyavolodin commented on #4607
@royriojas Yes, that's exactly the way I implemented it. This isn't a problem, problem is that unless I refector cache out of CLIEngine, I need to duplicate a lot of cache logic in the code. Take a look at #3565 I explained there what is causing issues with parallel linting.

[2015-12-04 21:56] btmills opened #4608 "no-extra-parens missing YieldExpression"
While working on #4229, I came across this:

[code]

I ran the above code in the demo with only `no-extra-parens` and `semi` enabled and pasted the errors inline. I included `semi` and the `return` as sanity checks.

I would expect a warning about excess parens on `yield (2);`, but there was none. Looking at the source, `no-extra-parens` doesn't check `YieldExpression`s, so hopefully the fix is as

[2015-12-04 22:38] SpainTrain opened #4611 "Do not implicitly cache `package.json`"
Currently eslint will load the config stored in a project's package.json using require. The downside to this is that the json is cached in require.cache. Thus, if eslint is executed twice in the same process, and the config has changed in the interim, it will not read the new config. For an example of this causing a downstream bug in the wild see AtomLinter/linter-eslint#349

<bountysource-plugin>

[2015-12-04 23:01] BelfordZ commented on #4492
@nzakas status on this one? Should I clean up the PR for this change?

[2015-12-04 23:30] royriojas commented on #3565
hi @ilyavolodin,

So here is my take, I do agree with you that we should probably move the code for the cache to a better place where it is now (`executeOnFiles`). In a perfect world the process should be something like this:

**In the main process:**

- define which files need to be linted.
- if cache is enabled use the cache to filter out the ones that haven't changed since they pass with 0 lint

[2015-12-04 23:52] michaelficarra commented on #4608
Looks like the addition of YieldExpression support (#1992) only added support for YieldExpressions within other expressions, but not the other way around.

[2015-12-05 00:03] nzakas commented on #4578
@sindresorhus we try to make only surgical changes to the code to avoid breaking functionality. Your example is the simplest possible, but what if it's `getFoo() != null`, would we then change it to `getFoo() !== null && getFoo() !== undefined`? What if `getFoo()` has side effects?

In this case, the safest course of action is just not to do the autofixing.

[2015-12-05 00:09] nzakas commented on #4492
@BelfordZ sorry, I'm missing context. Is there a PR opened for this?

[2015-12-05 00:12] nzakas commented on #4603
Ah I see. I don't think it makes sense to add a method to `CLIEngine`, since this doesn't really have anything to do with the CLI or emulating it. I'd suggest maybe creating a helper function that does this for you, but not exposing it as part of the API.

[2015-12-05 00:20] sindresorhus commented on #4578
@nzakas My suggestion was for variables only, but even those can have side-effects, so makes sense :/

[2015-12-05 00:30] ilyavolodin commented on #3565
@royriojas That's exactly the way I was thinking about it. It's a bit more complicated though, since not just cache stuff needs to be refactored. Currently there are too many things happening on the main path of execution (for example, the list of files contains just filenames, for each one config needs to be constructed, content of the file has to be read, etc.). If all of those things will be tu

[2015-12-05 00:36] ilyavolodin commented on #4492
@nzakas PR is #4493

[2015-12-05 00:52] royriojas commented on #3565
@ilyavolodin I see, so instead of list of files is a list of objects with the filepath and the config object already inferred. right?

We are already taking the config in consideration for the cache, so once the methods are refactored adding the cache back shouldn't be an issue. I would say if you have a working branch on this, just remove the cache code, we can add it back to the right place.

My

[2015-12-05 00:58] ilyavolodin commented on #3565
Ideally, what I think should be done, is cache should be turned into a utility, and moved into it's own module. Each method that's publicly exposed should be doing one operation only (for example, given config object and file name, determine if the file is already cached and return true/false). This will allow caching to be used in async and sync `executeOnFiles` as well as in `executeOnText` with

[2015-12-05 01:01] royriojas commented on #3565
@ilyavolodin I see, it is currently pretty much a very small amount of code for the cache. So moving it to a helper shouldn't be complicated if #4607 is accepted then I can do that as part of the work on that issue.

[2015-12-05 04:38] IanVS commented on #4603
You're right, I'm not sure why I thought it would need to live in the CLIEngine.  Thanks for talking it through.

[2015-12-05 04:38] #4603 closed

[2015-12-05 05:53] kaicataldo commented on #4605
I'll work on this

[2015-12-05 11:30] mattdell opened #4613 "Spaces between functions?"
Is there a linter rule that would disallow this

[code]
In favor of...
[code]

I would really like to have consistent spacing between functions but I can't see a way to do this with eslint. Is there a rule I'm missing?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28875336-spaces-between-functions?utm_campaign=plugin&utm_content=tr

[2015-12-05 17:25] nzakas commented on #4613
There is no rule that enforces blank lines between class methods. I'd suggest creating a custom rule for that if you want to enforce this.

[2015-12-05 17:25] #4613 closed

[2015-12-05 17:27] #4608 closed

[2015-12-05 17:28] nzakas commented on #4492
Ah OK. Looks like it doesn't mention the issue number, so it's not on this page at all.

@BelfordZ yes, please update the PR. Be sure to adjust the commit message.

[2015-12-05 18:04] kaicataldo commented on #1086
I'd like to take a crack at this this week (have another issue in the pipeline as well)

[2015-12-05 18:19] nzakas commented on #4418
Diffs aren't syntax-aware, so they are inherently less safe than what we are doing now.

The safest approach would be to have concrete elements in the syntax tree and manipulate those directly. That's pretty complex, which is why we aren't doing that.

[2015-12-05 18:25] nzakas commented on #4585
@IanVS well said.

@platinumazure another consideration is agreeing to take on work that only a small number of people will benefit from. If we agree to do this, then it competes for attention with other issues that might be more critical. Since we have very few consistent contributors, we need to keep the backlog small and focused.

@matoilic typically because functions require no space prior to

[2015-12-05 18:27] nzakas commented on #4280
This is working as expected. You need to disable the rule to allow those patterns. Remember, this rule is not about when something is safe to use, is about whether something is defined prior to its use in your source code.

[2015-12-05 18:29] nzakas commented on #4607
Given that parallel linting is still a ways off, let's not make that a blocking consideration for this. We can always say caching won't work with parallel linting to start.

[2015-12-05 18:31] #4611 closed

[2015-12-05 18:34] nzakas commented on #4605
Agree, adding an option to `no-empty` that covers this case is fine. We probably want the option to be "methods" so that all functions aren't checked.

[2015-12-05 18:34] nzakas commented on #1086
Awesome, thank you

[2015-12-05 18:35] mysticatea commented on #4280
I will work on this after #4597 is merged.

[2015-12-05 18:49] mysticatea commented on #4605
@nzakas To be clear, does that `"methods"` contain ES5 style methods and getter/setter?

[code]

[2015-12-05 18:56] mysticatea commented on #4605
Ah, sorry, the title says "ES6 methods".

[2015-12-05 19:50] ilyavolodin commented on #4451
Small correction to the proposal above. `package.json` should only be used as a top level config file if it contains `eslintConfig` property, otherwise it should be discounted from the list of order of config files.

[2015-12-05 20:07] ilyavolodin commented on #4451
The idea of this change is to simplify the code and make it work the same way for all configuration files, however, correction that I added above actually ends up making code more complicated then it is now. Now `file-finder` actually has to be able to parse `package.json` file and verify that it has `eslintConfig` property before bailing out and saying that the file that should be used for config

[2015-12-05 21:11] mysticatea commented on #3395
Is this fixed in new node?

[2015-12-05 22:20] mysticatea opened #4615 "Proposal: Resolve references of global variables before start traversing."
Currently, references of global variables are failed to resolve.
So some rules need a fallback for references.

- [no-undef](https://github.com/eslint/eslint/blob/master/lib/rules/no-undef.js#L77)
- [no-unused-vars](https://github.com/eslint/eslint/blob/master/lib/rules/no-unused-vars.js#L125-L151)
- [no-func-assign](https://github.com/eslint/eslint/blob/master/lib/rules/no-func-assign.js#L19-L37)

[2015-12-05 22:27] ilyavolodin commented on #4615
@mysticatea Can you explain what exactly do you mean by "resolve references"? Add global variable names to the list? Or something more?

[2015-12-05 22:35] mysticatea commented on #4615
It's to make `Variable.references`, `Reference.resolved`, and `Scope.through` properties correctly.
Currently,

- `Variable.references` property of global variables are an empty array.
- `Reference.resolved` property of global variables are `null`.
- `Scope.through` of the global scope contains existing variables'.

[2015-12-05 23:19] ilyavolodin commented on #4403
Closing as this looks like an issue with npm. Feel free to reopen.

[2015-12-05 23:19] #4403 closed

[2015-12-06 00:09] IanVS commented on #3395
It should be. Can anyone confirm?

On Sat, Dec 5, 2015, 16:11 Toru Nagashima <notifications@github.com> wrote:

[2015-12-06 01:07] damassi commented on #3998
This problem seems to have reappeared. This throws `no-dupe-keys, Duplicate key 'undefined'`:

<img width="328" alt="screen shot 2015-12-05 at 5 05 35 pm" src="https://cloud.githubusercontent.com/assets/236943/11611136/91fb1522-9b72-11e5-970e-f5b6d6adf145.png">

[2015-12-06 01:07] ilyavolodin opened #4616 "`no-magic-number` issues"
I was working on fix for #4370 and I got very confused by the logic of this rule. Fix itself is easy to add, but I don't understand how some of the unittests are passing and I also don't understand what `detectObjects` supposed to do. `detectObjects` is very poorly tested and doesn't have a single valid test case. It's also clearly incorrect (as it will ignore any number who's parent has a type of

[2015-12-06 01:09] ilyavolodin commented on #3998
That looks like a different problem. Can you file a separate issue please?

[2015-12-06 03:03] IanVS commented on #4616
I'm going to take a wild guess here about why those tests are passing, but I have no real insider knowledge here.

I think `const foo = 42;` has to pass because it is assigning to a `const`, presumably in order to avoid using the `42` later on in the code (thus avoiding a magic number).

[2015-12-06 03:39] damassi commented on #3998
Sure thing

[2015-12-06 03:42] damassi opened #4618 "Duplicate key 'undefined'"
Version `v1.10.3`

This throws no-dupe-keys, Duplicate key 'undefined':

<img width="328" alt="screen shot 2015-12-05 at 5 05 35 pm" src="https://cloud.githubusercontent.com/assets/236943/11611136/91fb1522-9b72-11e5-970e-f5b6d6adf145.png">

As does this:

<img width="300" alt="screen shot 2015-12-05 at 7 41 27 pm" src="https://cloud.githubusercontent.com/assets/236943/11611536/3b757682-9b88-11e5-9

[2015-12-06 04:05] btmills commented on #4085
Working on this.

[2015-12-06 04:51] ilyavolodin commented on #4616
Ok, you are absolutely right about those tests. I lost the forest behind the trees, and it makes sense that assigning value to a variable should pass. So those unittests are passing correctly. Based on the code, however, I'm not sure why is `var min, max, mean; min = 1; max = 10; mean = 4;` passing, since the exception is made for `VariableDeclarator` and not for `AssignmentExpression`.
As far as

[2015-12-06 05:00] ilyavolodin commented on #4618
I can't reproduce this in online demo. Can you try it without `babel-eslint`? You will need to turn on `experimentalObjectRestSpread` ecmaFeatures.

[2015-12-06 05:31] hzoo commented on #4618
Most likely a babel-eslint or maybe babel issue - if you can't reproduce with the regular parser then report it at https://github.com/babel/babel-eslint

[2015-12-06 05:33] mysticatea commented on #4615
FYI, codes of rules which are using references reduced about: https://github.com/eslint/eslint/compare/master...mysticatea:core/resolve-references-of-global
Added code is only the first 12 lines.

But this might be breaking plugin rule behaviors if it's using `Scope#through` or `Reference#resolved` for global variables. Actually, `no-alert`, `no-eval`, and `no-native-reassign` had needed to modify

[2015-12-06 06:12] michaelficarra commented on #4615
@mysticatea escope purposely omits globals from its analysis because their references cannot be known statically.

[2015-12-06 06:24] damassi commented on #4618
Will do! Thanks for looking

[2015-12-06 06:24] #4618 closed

[2015-12-06 06:26] mysticatea commented on #1128
Now, #3530 was merged into master, so I'd like to work on this in next few days.

My plan is that the rule checks every code path in callbacks of array's functional methods returns a value, then the rule will say messages similar to `consistent-return`. I guess the detection way for callbacks of array's functional methods is similar to what `no-invalid-this` is using.

Well, I want to get suggesti

[2015-12-06 06:30] mysticatea commented on #3530
Ugh, my commits are spammy!

[2015-12-06 06:33] mysticatea commented on #4615
@michaelficarra And eslint is adding many global variables after escope's analysis :)

[2015-12-06 08:39] hgcummings commented on #3395
Hi, I have a Windows 10 box, with the latest stable ESLint (1.10.3) installed.

I can confirm that I could reproduce this issue on Node.JS v5.0.0, and that it's fixed after upgrading to the latest stable version (v5.1.1).

Cheers,
Harry

[2015-12-06 11:25] boneskull commented on #3458
:+1: to this.  ask anyone on npm team; if you need a package, you need to specify it as a dependency, flattened `node_modules` or no, or you're just asking for trouble

[2015-12-06 12:41] egoist opened #4619 "Problem with Method definitions and "space-before-function-paren""
When I set the rule `"space-before-function-paren": [2, "always"]`, the following works well (it shows error: `Missing space before function parentheses`):

[code]

but this (which there is a space before function paren):

[code]

throws an unexpected error:

[code]

My config:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2

[2015-12-06 12:46] boneskull commented on #3458
if anyone wants to mess around with this, here's [a quick-and-dirty monkeypatch](https://gist.github.com/boneskull/9078fb5cbc943236fd58) to avoid having to `npm install` *n* packages to get one config and the plugins it uses.

[2015-12-06 15:05] OliverJAsh opened #4620 "no-unused-vars after-used erroring for destructured parameters"
Given I am using the `eslint:recommended` preset, which implicitly sets `"no-unused-vars": [2, {"vars": "all", "args": "after-used"}]`:

`([ postSlug, post ]) => post.title` gives me:

[code]

I expect this not to error.

`(postSlug, post) => post.title` works as expected (no errors).

ESLint 1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysour

[2015-12-06 16:26] nzakas commented on #4451
Hmmm good point. I'll take a closer look when I can.

[2015-12-06 16:28] nzakas commented on #4615
@mysticatea are you just talking about globals added using `/* global */` and in a config file? Can you show an example of the problem?

[2015-12-06 16:28] ilyavolodin commented on #1128
Something like `loop-func-return`? `array-func-return`?

[2015-12-06 16:29] ilyavolodin commented on #4619
Can you try it without `babel-eslint` and see if you have the same issue with default parser?

[2015-12-06 16:30] nzakas commented on #3395
Thanks @hgcummings .

Can anyone confirm if it made it into the v4.x release?

[2015-12-06 16:34] #4229 closed

[2015-12-06 16:37] ilyavolodin commented on #3395
Just tried it with Node v4.2.3 and it's still not working on my main machine:-(

[2015-12-06 16:39] nzakas commented on #1128
`array-callback-return`?

[2015-12-06 16:40] #4246 closed

[2015-12-06 16:40] #3939 closed

[2015-12-06 16:41] ilyavolodin commented on #4616
@kombucha any insights?

[2015-12-06 16:42] nzakas commented on #4620
Can you provide more of the code? Is that variable actually used or not?

[2015-12-06 16:50] nzakas commented on #4451
Ah, how about this: if we make package.json the lowest priority, then we don't need to modify file Finder. Just use `ConfigFile.load()` and see if the return value is null. Since it will only be checked if no other standard config files are found, it should be fairly straightforward.

[2015-12-06 16:57] ilyavolodin commented on #4451
That would work, but I'm not sure if it makes sense from the user's perspective

[2015-12-06 16:59] nzakas commented on #4451
Because?

[2015-12-06 17:01] nzakas commented on #4605
We should keep "methods" to mean ES6 methods that are defined by shorthand notation in objects and classes.

[2015-12-06 17:02] OliverJAsh commented on #4620
You can see from the code I posted (a function definition) that the parameter is unused.

[code]

[2015-12-06 17:11] egoist commented on #4619
@ilyavolodin thx for the reply, using default parser solves this issue, definitely a` babel-eslint` issue then.

[2015-12-06 17:11] #4619 closed

[2015-12-06 17:14] ilyavolodin commented on #4451
I don't know, personally for me, package.json seems like a top level configuration that should override everything else. But that's only my personal feeling, don't know if it applies to anyone else.

[2015-12-06 19:59] WRidder opened #4622 "Parse error when using short arrow functions as default value in destructured object function argument."
I have the following construct:

[code]

This raises an error when running eslint: `parsing error: unexpected token =>`

However, the following does not raise an error:
[code]

Both versions do work correctly when executed btw.

My .eslintrc config:
[code]

Running on eslint versions:
[code]
`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-12-06 20:43] AvraamMavridis opened #4623 "Cannot override the `space-in-parens` rule"
I am using the airbnb eslint rules, but I can not override the `space-in-parens`  rule, any idea?

This is my file

[code]

ESLINT version: v1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28899939-cannot-override-the-space-in-parens-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** W

[2015-12-07 02:07] mysticatea commented on #4615
@nzakas I'm taking about "all references that can resolve but are not resolved". It contains `/* global */`', config files', `var` declarations, and `function` declarations. In short, I want to remove [the special fallback for unresolved references](https://github.com/eslint/eslint/blob/master/lib/rules/no-func-assign.js#L19-L37). Several rules have the same fallback, I think it's redundant duplic

[2015-12-07 02:18] nzakas commented on #4451
The goal here is really to eliminate the special case of merging .eslintrc files with package.json files in the same directory. Whichever is higher priority really doesn't matter unless you have two files already, in which case you'll need to combine the configs into one file.

[2015-12-07 02:22] ilyavolodin commented on #4451
Agree. I opened a PR with `package.json` at lowest priority. Even though it's still a bit confusing to me personally, but I think there's no default expected behavior for package.json config section, so people will be able to learn about priority from the documentation.

[2015-12-07 02:31] #4085 closed

[2015-12-07 02:34] nzakas commented on #4622
This is an Espree issue, can you file an issue there? https://github.com/eslint/espree/issues

[2015-12-07 02:34] #4622 closed

[2015-12-07 02:36] nzakas commented on #4623
@AvraamMavridis what do you mean by "cannot override"? Please tell us what you're expecting and what actually happened.

[2015-12-07 03:20] platinumazure commented on #4451
Do we know that a lot of people used merged configs? Speaking at least for myself, I know I would find that (i.e., having half my config in package.json and the other half in .eslintrc) confusing as hell.

[2015-12-07 03:42] ilyavolodin commented on #4451
@platinumazure We do not know, but we assume that not a lot of people do. That's why we are removing it.

[2015-12-07 05:03] allenmanning commented on #4605
Thank you.

One thing to consider as well is empty ES6 Constructors, or constructors that only call `super()`.

[2015-12-07 05:34] AvraamMavridis commented on #4623
@nzakas  airbnb's rules requires no spaces between a functions's argument, so I wanted to change this behavior using `"space-in-parens": [2, "always"],`. I am not 100% sure what is the problem or if there is one, because switching from a `js` eslint config file to a `json` solved it.

[2015-12-07 07:06] andyfleming opened #4626 "Warnings should be supressed for nested node_modules directories"
Similarly to a root-level `node_modules` directory, warnings should be suppressed for a nested node_modules directory (at least if it is ignored).

For example. I have a project with a module in a subdirectory with installed node_modules. I'm ignoring it in my `.eslintignore` file, but when I run eslint, I see a ton of warnings about the ignored files. This makes the experience of using eslint ter

[2015-12-07 09:54] boneskull opened #4627 "plugin w/ custom rule: what am I doing wrong?"
Given [this package](/boneskull/eslint-plugin-prototype-chain), running ESLint after installing it results in this:

[code]

Here's my `.eslintrc`:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28911564-plugin-w-custom-rule-what-am-i-doing-wrong?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=g

[2015-12-07 09:55] boneskull commented on #4627
[code]

[2015-12-07 10:50] mysticatea commented on #1128
@ilyavolodin @nzakas Thank you for suggestions!

I will go with `array-callback-return`.

[2015-12-07 13:56] IanVS commented on #1128
I'm really excited for this rule, @mysticatea.  Thanks for working on it.

[2015-12-07 15:05] btmills commented on #4627
Check out the configuration section for [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react#configuration) as an example. To configure plugin rules, first specify the plugin name, then the rule, i.e. `"plugin-name/plugin-rule": 1`. In your case, it looks like the plugin and the rule have the same name, so the rule configuration would be `"prototype-chain/prototype-chain": 1`. Do

[2015-12-07 15:08] gyandeeps commented on #4626
How are you running eslint? Can share the command you use to run eslint.

[2015-12-07 15:44] platinumazure commented on #4037
@gajus You working on this?

[2015-12-07 15:52] gajus commented on #4037
Its been done long time ago. I am using it in https://github.com/gajus/canonical.

I missed @nzakas adding the "accepted" flag.

I will raise the PR.

[2015-12-07 15:58] platinumazure commented on #4500
[This article by Ariya Hidayat][1] was brought up in chat, but I'm going to leave it here in case it happens to be of any use for others.

  [1]: http://ariya.ofilabs.com/2015/11/continuous-tests-of-downstream-projects.html

[2015-12-07 18:07] arnaugm commented on #4578
I found myself today in a similar situation. In our team we have been linting our code base as the starting point to have something cleaner. I set the "eqeqeq" rule as a warning because we want to encourage the team to use triple equals but I don't want to break existing code. The fix option changes it anyway so I either remove the option or I take the risk of breaking something.
Could it be possi

[2015-12-07 18:17] nzakas commented on #4578
No, we're specifically trying to avoid this. If we can't safely fix the rule 100% of the time, then we just won't fix it at all.

[2015-12-07 18:19] platinumazure commented on #4578
What about allowing all rules set as warnings not to be auto fixed, via a
CLI option?

On Dec 7, 2015 12:17 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

as not fixable through the configuration file?

rule 100% of the time, then we just won't fix it at all.

[2015-12-07 18:22] nzakas commented on #4623
It's good to hear you figured out a solution. Unfortunately, you haven't provided us with enough information to further investigate. Please note what we ask for in the first comment.

If you feel like this is no longer worth investigating, feel free to close this issue.

[2015-12-07 18:23] #4627 closed

[2015-12-07 18:51] arnaugm commented on #4578
I think not auto fixing warnings is a good idea. At least this is what I was expecting until I realized that they were fixed anyway.
If is not an option, then I would definitely set "eqeqeq" as not fixable due to its potential danger.

[2015-12-07 19:01] #4623 closed

[2015-12-07 19:10] ilyavolodin commented on #4578
@arnaugm I submitted a PR yesterday that removes autofixing from `eqeqeq`, so that shouldn't be a problem for much longer. I'm not sure about not autofixing warnings, I'll let other decide on that, since I don't really have use case for autofixing in general.

[2015-12-07 19:39] andyfleming commented on #4626
There's probably a better way, but here's what I'm running:

[code]

[2015-12-07 19:47] gyandeeps commented on #4626
Here is my quick tip: on your folder just run
[code]

Add all the folders you want to ignore to your `eslintignore`

[2015-12-07 19:52] andyfleming commented on #4626
Gotcha. Yeah, that fixed it for me. Thanks!

[2015-12-07 19:52] #4626 closed

[2015-12-07 20:24] whatknight commented on #4531
I've run into a similar issue destructuring using the rest operator inside of a function with `node v4.1.2` and earlier. No issues with `node 5` though.

here's a simple snippet that replicates the error with `eslint 1.10.3`
[code]
It outputs two errors for line 2.
[code]
here's the correspoding `.eslintrc`

[code]

[2015-12-07 20:29] nzakas commented on #4531
Your problem is most likely `babel-eslint`. Please try updating.

[2015-12-07 20:31] #4578 closed

[2015-12-07 21:29] platinumazure commented on #4623
My guess is the .JS configuration was actually .json and was therefore executed as a side-effect-free expression statement, rather than correctly exported from the module.

@AvraamMavridis Maybe you could confirm? Did your .js file assign to `module.exports` at all?

[2015-12-07 21:43] boneskull opened #4630 "strict rule not finding "use strict""
ESLint v1.10.3

`.eslintrc`:

[code]

sample output:

[code]

sample file:

[code]

Changing it to `"use strict";` (double-quotes) seems to have no effect.  This happened after an update from v1.9.0 to latest.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28930373-strict-rule-not-finding-use-strict?utm_campaign=plugin&utm_content=t

[2015-12-07 21:58] ilyavolodin commented on #4630
Could you try it with default parser? It's possible that it's an issue with `babel-eslint`

[2015-12-08 01:20] #4487 closed

[2015-12-08 01:22] nzakas commented on #4620
Yes, I was asking if that's the only code or if there's more in the same file.

Also, are you using babel-eslint?

[2015-12-08 01:25] nzakas commented on #4620
Ooh, I see what's going on. You're using destructuring, which is different than arguments. You could rewrite your code as:

[code]

Unlike arguments, destructuring does not require you to fill in previous values.

So, I don't believe this is a bug.

[2015-12-08 01:25] #4620 closed

[2015-12-08 01:28] nzakas commented on #4615
I see. How would you expose this information to rules?

[2015-12-08 01:28] qubyte commented on #4487
Thanks folks. Greatly appreciate. :)

[2015-12-08 02:20] ilyavolodin opened #4631 "Path Analysis output makes debug mode hard to read"
Path Analysis is adding a tone of output for every code path to the debug log. On Windows machine the amount of buffer is limited, mine is set to 1000 lines and linting just one file (Makefile.js from our repository) overflows the buffer and doesn't let me see the information in the begging of the output. Path Analysis output should probably be piped into a different log.

<bountysource-plugin>
--

[2015-12-08 03:05] calebmer opened #4632 "Some arrow functions parsed as a condition."
In the following snippet:

[code]

[`no-arrow-condition`](http://eslint.org/docs/rules/no-arrow-condition.html) throws an error. I'm pretty sure it's looking at `observer => observer ?` and interpreting it as *if* `observer` is less than or equal to `observer` then… when really I'm just checking if `observer` (the only argument of the arrow function) is a falsey value.

<bountysource-plugin>
---
W

[2015-12-08 03:20] ilyavolodin commented on #4632
`observer ? observer[method(value) : null` is a condition. It's checking for null value.

[2015-12-08 03:25] calebmer commented on #4632
I know, but the `no-arrow-condition` rule thinks that `observer => observer` is the condition.

[2015-12-08 05:32] ilyavolodin commented on #3815
@nzakas Does this apply for Espree 3.0 at all? If not, this issue should be closed.

[2015-12-08 08:38] salzhrani opened #4633 "Arrow functions and iife"
eg:
`var foo = ()=>{return 'bar'}();`
raises an error
`1:14 - Parsing error: Unexpected token = (undefined)`
and
`var foo = function(){return 'bar'}();`
passes

version `v1.10.3`
Not sure how to fix

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28941545-arrow-functions-and-iife?utm_campaign=plugin&utm_content=tracker%2F282608&utm_m

[2015-12-08 09:09] plievone opened #4634 "Problem with `comma-dangle: always-multiline` and types"
With eslint 1.10.3 and babel-eslint 4.1.6 or 5.0.0-beta4, the comma-dangle always-multiline rule gets confused in the following case (after `val`):
[code]
[code]

Is there a way to fix this in [isMultiline](https://github.com/eslint/eslint/blob/0240af8/lib/rules/comma-dangle.js#L68-L92) or is this a `babel-eslint` issue?

Use case is https://github.com/facebook/relay/blob/288d6a1/src/store/RelayPe

[2015-12-08 09:09] mysticatea commented on #4615
My plan is:

[code]

`Reference` object and `Variable` object have references each other. `Reference#resolved` property is a `Variable` object which the reference object is pointing. `Variable#references` property is an array of `Reference` objects which are pointing the variable. Several rules are using this information.

But, the reason the rules need the fallback is that there are cases `Refere

[2015-12-08 10:20] ExplodingCabbage commented on #3134
Quick suggestion - @nzakas, could you add a note to the bottom of https://github.com/eslint/eslint/issues/1332 that this feature now exists? https://github.com/eslint/eslint/issues/1332 is the top Google result for "eslint fix issues" and claims that the feature will never be implemented; it'd help the discoverability of this feature if there were a note there about the current situation.

[2015-12-08 12:02] nuxdie commented on #4630
@boneskull try use [babel-eslint@v4.1.6](https://github.com/babel/babel-eslint/releases/tag/v4.1.6) it helped me

[2015-12-08 12:29] mysticatea commented on #4632
I think this is duplicate of #4417.

[2015-12-08 12:38] mysticatea commented on #4633
Yes, it's according to the spec: http://www.ecma-international.org/ecma-262/6.0/#sec-expressions

`ArrowFunction` is a `AssignmentExpression`, so it cannot become a callee.
`FunctionExpression` is a `PrimaryExpression`, so it can become a callee.

You need parentheses here.

[code]

[2015-12-08 12:57] salzhrani commented on #4633
Got it ...

Thanks

[2015-12-08 12:57] #4633 closed

[2015-12-08 13:09] calebmer commented on #4632
@mysticatea I think so as well. This seems to be a pretty common pattern.

[2015-12-08 13:09] #4632 closed

[2015-12-08 13:45] IanVS commented on #4607
@nzakas does that mean this issue can get the "approved" tag added?

[2015-12-08 14:36] medains commented on #4606
It's a common pattern in command line tools to pass command line options specifying behaviour for symbolic links (chown and find both spring to mind) - maintaining a list of symbolic links to not traverse in .eslintignore, whilst a possible solution also feels excessive when the link can be determined during traversal.

[2015-12-08 14:39] sodatea opened #4635 "`props` option of `no-param-reassign` cannot handle es6 destructuring"
## ESLint version

v1.10.3

## test.js

[code]

## Command and output

[code]

## Expected

Since `from` is a property of the second parameter, there should be no errors.

[2015-12-08 15:07] jeromecovington opened #4636 "ESLint | error | undefined | Parsing error: Unexpected token ="
Working through some react relay tasks and I came across this error reported by eslint. Not quite sure what it means or how to configure `.eslintrc` to allow this.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28950397-eslint-error-undefined-parsing-error-unexpected-token?utm_campaign=plugin&utm_content=tracker%2F282608&utm

[2015-12-08 15:09] jeromecovington commented on #4636
I am at eslint v1.9.0, below is my `.eslintrc`

[code]

[2015-12-08 15:10] hzoo commented on #4636
If you are going to use es7 class properties you will have to use https://github.com/babel/babel-eslint

[2015-12-08 15:21] gyandeeps commented on #4636
@jeromecovington here is the answer: http://stackoverflow.com/questions/34125141/mysterious-eslint-parsing-error/34125219

[2015-12-08 15:40] ilyavolodin commented on #4636
As mentioned above, ESLint doesn't support experimental features (class properties, static, etc.) you will have to use `babel-eslint` as a parser for those. Feel free to reopen if it's still a problem with `babel-eslint`

[2015-12-08 15:40] #4636 closed

[2015-12-08 16:33] michaelficarra commented on #4634
It's a babel-eslint issue. Type signatures are not a part of ECMAScript.

[2015-12-08 16:54] nzakas commented on #4631
Any proposal for how that should work? How would we get debug info for code path analysis?

Is it possible to just reduce the debug messages rather than trying to filter?

[2015-12-08 16:58] #4451 closed

[2015-12-08 17:00] #4605 closed

[2015-12-08 17:00] nzakas commented on #3815
Yup, still applies.

[2015-12-08 17:01] nzakas commented on #4615
Got it. :+1:

[2015-12-08 17:04] ilyavolodin commented on #4631
I'm not really all that familiar with the `debug` and what could be done with it. As far as I understand it, we  name debug log for each file. What I was thinking was to name Path Analysis debug log something completely different from the rest of the ESLint, that way if somebody wants debug log specifically for Path Analysis, they can run `DEBUG=eslint:code-analysis` to get it. Not really 100% sur

[2015-12-08 17:06] nzakas commented on #4607
I'm having a philosophically hard time with the idea. `executeOnText` is meant to work on text only, and I'm having a hard time rationalizing that it should be augmented with caching, which is really for working with files.

Right now, we don't do caching for text that is piped in...I need more convincing that this is a good idea.

[2015-12-08 17:09] nzakas commented on #4606
@medains would you be open to submitting a pull request?

[2015-12-08 17:10] nzakas commented on #4635
Working as expected. `from` is a local binding that contains the same value as a property but I'd not a property itself.

[2015-12-08 17:10] #4635 closed

[2015-12-08 17:11] #4634 closed

[2015-12-08 17:13] nzakas commented on #4631
Which is why I ask, can we just reduce the amount of debug messages it creates?

Trying to filter is going to be a big pain, but if the debug messages aren't that useful, we should eliminate some.

[2015-12-08 17:27] revathskumar opened #4637 "Disabling esnext in file fails"
Disabling esnext in a file failes with error

[code]
Error Message
[code]

Version : v1.10.2

![screenshot from 2015-12-08 16 06 27](https://cloud.githubusercontent.com/assets/463904/11662709/20c87e24-9dfe-11e5-9273-5c6a4f3bb53e.png)

At some point I received this message as well

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issue

[2015-12-08 17:29] hzoo commented on #4637
I don't think esnext is a valid option in eslint (you are probably thinking of jshint)?

[2015-12-08 17:39] platinumazure commented on #4607
For what it's worth, I'm with @nzakas here. If a consuming tool chooses to send in text rather than files, they should do their own caching.

[2015-12-08 17:42] revathskumar commented on #4637
@hzoo I was using this with eslint version 1.7.2.

[2015-12-08 17:51] platinumazure commented on #4637
Inline configuration should use the same error level values as config files: 0, 1, or 2; and if any options are passed, they and the error level should be in an array.

For example:

[code]

In addition, as mentioned earlier, `esnext` does not correspond to an ESLint rule. (We don't have "options" for linting files really, but rather "rules" that can be enabled or disabled.)

Are you trying to con

[2015-12-08 18:31] akiellor commented on #848
In this situation, it could be an idea to have a failing build for when the duplication gets worse. New PR's would not be accepted with more duplication.

[2015-12-08 18:37] akiellor opened #4638 "Feature: --fix for prefer-template"
It seems possible to allow fixing for `prefer-template`.

I've noticed that there are only a few rules that are (fixable). Is fixable intended to be something that is completely safe?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28956887-feature-fix-for-prefer-template?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=is

[2015-12-08 18:42] platinumazure commented on #4563
@nzakas One question, should the `find*` methods in general return arrays of tokens, or just the first matching token? Should we include `filter*` (or a `{ multiple: true }` option, or...) to allow for both behaviors?

[2015-12-08 18:55] hzoo commented on #4638
I think it's hard to say if any of them can be completely safe - even add/removing a space in some cases could result in issues (random example: `a + +b` -> `a ++b`).

Rules just need to add fix functionality one at a time, so if it's not fixable yet either it doesn't make sense to do so (maybe there aren't any viable options) or no one has gotten around to doing it.

[2015-12-08 19:18] IanVS commented on #4607
If `executeOnText` is only meant to work on text, why do we allow a second argument to serve as a filename?  It has proven to be very powerful for tools like editor linters and gulp plugins, because it allows `.eslintignore` to be respected, while making it possible to lint streams and "dirty" (unsaved) files.  The `--cache` option is given to the CLIEngine constructor, not directly to the `execut

[2015-12-08 20:01] nzakas commented on #4637
@revathskumar we added configuration validation since 1.7.2 You were using a configuration that wasn't doing anything previously, you just didn't know because there was no error.

[2015-12-08 20:03] nzakas commented on #4563
@platinumazure can you list out the methods you're thinking of so we can be sure to be on the same page?

[2015-12-08 20:04] nzakas commented on #4638
We're mostly doing whitespace fixes, as these don't affect code execution. For the time being, I don't think this is worth pursuing.

[2015-12-08 20:04] #4638 closed

[2015-12-08 20:09] royriojas commented on #4607
@IanVS the cache feature in eslint is done by [file-entry-cache](https://www.npmjs.com/package/file-entry-cache). That's separated from eslint, technically `gulp-eslint` can use it directly if this issue is not finally accepted.

the method [hasFileChanged](https://github.com/royriojas/file-entry-cache/blob/master/cache.js#L29)

is the one that will work better in this scenario. If it is the first

[2015-12-08 20:10] nzakas commented on #4607
Some history: The optional filename was added so you could get some configuration information applied to the text and was requested for text editor implementations (who didn't want to write text to the disk in order to lint continuously). It doesn't necessarily follow that all features available for file-based linting are also available for text-based linting.

My main concern is that this is actu

[2015-12-08 20:14] akiellor commented on #4638
@nzakas any thoughts on why fixes are limited to whitespace.

If the concern is around making breaking changes, maybe we could do something like request user confirmation on suggested fixes?

I feel there is fair amount of value in providing fixes for this and other rules.

[2015-12-08 20:16] royriojas commented on #4607
I have to agree with @nzakas, but on the bright side, as I mentioned, it is fairly easy to integrate file-entry-cache in other projects as well. I can even help `gulp-eslint` with this if required, @IanVS.

[2015-12-08 20:16] IanVS commented on #4607
OK, that makes sense.  Thanks @royriojas for explaining how it could be done within a consuming tool.  Maybe that is the best approach after all.

[2015-12-08 20:17] #3944 closed

[2015-12-08 20:17] ilyavolodin commented on #4607
Can we just expose caching functionality through cli-engine and let people use it if the want? Might eliminate a problem and take a maintenance burden off our hands?

[2015-12-08 20:21] ilyavolodin commented on #4638
@akiellor Autofix implementation is pretty new. We already know that it's quite limited and we want to see how far we can take it without breaking things. So we are approaching autofixing from very cautious position. If there is a possibility of making a change that will break user code we skip that rule for now. That approach might change in the future, but we need to gather information first.

[2015-12-08 20:29] akiellor commented on #4638
@ilyavolodin ok sounds fair.

[2015-12-08 20:31] nzakas commented on #4616
These seem like they shouldn't be valid:

[code]

The intent of `detectObjects` was to toggle allowing this:

[code]

I agree, this is confusing. We should figure out a way to clean this up.

[2015-12-08 20:34] cbabos commented on #4630
For me the problem is related to babel-eslint@5.x
So I think it's only a problem with the new beta version, not with eslint itself.
Thanks for the tips @boneskull and @ilyavolodin. Maybe the issue can be closed.

[2015-12-08 20:35] #4630 closed

[2015-12-08 20:58] boneskull commented on #4630
this worked.  @nuxdie thx

[2015-12-08 21:05] mysticatea commented on #4631
On, sorry for this.
I think I can remove those debug messages except DOT outputs.

[2015-12-08 21:20] #4149 closed

[2015-12-08 21:40] adametry commented on #4607
@IanVS, I played around with this idea while developing `gulp-eslint@1.1.0`, prompted by a [feature request](https://github.com/adametry/gulp-eslint/issues/99). I even went as far as to use [file-entry-cache](https://www.npmjs.com/package/file-entry-cache) directly. Ultimately, it was left out for being to specific to a non-transformative/single-step, file-based scenario. Instead, I provide an exa

[2015-12-08 21:46] IanVS commented on #4607
Excellent, I hadn't seen that, @adametry.  Thanks for pointing it out, I'll give it a try.  Closing this issue since it sounds like there are sufficient workarounds and it's not a great idea to put into `executeOnText`.

[2015-12-08 21:46] #4607 closed

[2015-12-08 21:56] #4372 closed

[2015-12-08 22:14] nzakas opened #4640 "Make parsers more easily pluggable"
I've been looking at some of the hoops we jump through (and `babel-eslint` jumps through) to get parsers to work in ESLint. It seems like we could dramatically improve things with just a few simple steps. Here's what I'm proposing:

1. Parsers should export a `Syntax` object that contains the names of all AST nodes they support. Esprima and Espree already do this.
1. Parsers should also export a `

[2015-12-08 22:21] hzoo commented on #4640
That would certainly help with patching up the visitorKeys - so instead of monkeypatching it in babel-eslint, it would export the visitorKeys and eslint would patch it instead? This would help to remove https://github.com/babel/babel-eslint/blob/master/index.js#L44-L62

[2015-12-08 22:26] nzakas opened #4641 "Changing our parser options/ecmaFeatures"
As part of looking at better supporting other parsers, I've been thinking a lot about how we're configuring language features. Right now, everything is jam-packed into `ecmaFeatures`, something that only Espree supports, and it would be nice to create a more parser-agnostic way of configuring these features.

This proposal is not fully fleshed out, just looking to get some eyes on it.

## Proposal

[2015-12-08 22:27] nzakas commented on #4640
Yup! Exactly.

[2015-12-08 22:32] ilyavolodin commented on #4641
Sounds reasonable. My only small concern is once we implement `ecmaVersion` we'll start getting requests for es5 and es3 support.

[2015-12-08 22:33] nzakas commented on #4641
Acorn (and therefore Espree) supports ecmaVersion 3-6, so that's not a problem.

[2015-12-08 22:35] hzoo commented on #4640
Don't know if there is an easy way (or if you've thought of) doing the same for escope? There is a lot of patching done for flow, experimental features regarding `no-unused-vars` for that.

[2015-12-08 22:35] ilyavolodin commented on #4641
In that case, I have no objections.

[2015-12-08 22:43] nzakas commented on #4640
I haven't done much thinking around that, as it seemed like traversal was the lowest hanging fruit. Do you have a suggestion?

[2015-12-08 23:20] hzoo commented on #4640
It's a similar thing but instead we have to patch the escope visitor methods somehow to also visit the nodes it doesn't know about (example with decorators)

[code]

[2015-12-09 00:23] nzakas commented on #4640
It looks like you're doing more than just adding methods to the referencer, though. I'm not sure there's an easy way to do this generically.

[2015-12-09 00:26] hzoo commented on #4640
Most of it is either visiting certain nodes by rewriting the function to do so and then calling the original referencer methods or creating a scope variable if needed. Maybe this is more for escope

[2015-12-09 00:28] nzakas commented on #4640
Yeah, it seems like more of an escope thing. Though, I wonder if we could go through and use `VisitorKeys` to create default visitors for things to at least get part of the way there. We can keep thinking about it going forward, though I would like to see escope become more extensible so we're not reaching into files and hacking things in.

[2015-12-09 00:34] hzoo commented on #4641
Sounds good - especially if a lot of people are using `es6` already and others are confused about the other options.

[2015-12-09 00:36] betaorbust opened #4642 "Possible unsafe use of old Handlebars"
#### Issue
The `package.json` currently calls for `"handlebars": "^4.0.0"` but unfortunately, handlebars < 4.0.5 requires uglify < 2.6.0, which has a security vulnerability as reported by NSP here: https://nodesecurity.io/advisories/48

#### Proposed resolution
Update package.json to be `"handlebars": "^4.0.5"`

#### Bot questions:
1) Version is current master branch.
2) Ran `nsp check` against th

[2015-12-09 00:53] davis commented on #4485
@nzakas what is the workaround in the meantime?

[2015-12-09 01:49] #4642 closed

[2015-12-09 03:42] xjamundx commented on #4641
I generally am in favor of this idea. :+1:

Here are a few things I'd like to discuss:

- `ecmaVersion` really bugs me and is super imprecise with es2015/16/etc, but I agree for consistency it's probably :+1:
- `ecmaFeatures` for the remaining stuff makes sense
- We should also look at https://github.com/babel/babel/tree/master/packages/babylon which I suspect will be a super important parser movi

[2015-12-09 03:43] hzoo commented on #4641
Could change it to be es2015 instead of es6 if we wanted.

[2015-12-09 06:27] btmills commented on #4641
I like it. :+1:

I think `ecmaVersion` as 5/6/7 is fine, but if we get requests to support 201x, that implementation is simple:

[code]

[2015-12-09 06:31] platinumazure commented on #4641
:+1: from me. Is this something we would try to fit into the ESLint 2.0 roadmap, or will it be 3.0 or later?

[2015-12-09 08:48] revathskumar commented on #4637
ok. I enabled es6 in environment. Now how can I switch off es6 environment in a particular file?

[2015-12-09 10:12] FrederikNS opened #4646 "False Positive Detection of "no-redeclare""
I recently ran into a case where eslint detects a variable redeclaration, when a variable is declared in two mutually exclusive if-else branches. The code is a bit of a code smell, as variable hoisting could introduce issues, but I think the "no-redeclare" flag is a bit misleading, as the variable would never be declared twice.

This snippet shows the issue, and it can be run in the eslint demo he

[2015-12-09 12:36] mysticatea commented on #4280
lol

I found several potential bugs in ESLint by this enhancement.

[2015-12-09 13:50] platinumazure commented on #4646
That's the thing, though: due to hoisting, it is in fact declared twice. It's only initialized once, but two declarations via hoisting is exactly what this rule is supposed to catch.

What about if block bindings (I.e., `let`) are used? Will that trigger a warning? If not, then I would say this is working as intended.

[2015-12-09 15:48] FrederikNS commented on #4646
I might be wrong here, but isn't the variable only declared when it's first used, or when explicitly declared? or does the javascript engine declare all variables in a function up front?

[2015-12-09 16:49] unional commented on #4280
Nice! :+1:

[2015-12-09 16:49] shanewho opened #4651 "Add an option to 'semi' to enforce semicolons except when in single line functions"
With arrow functions, this won't be an issue but for us ES5 developers who like semicolons, it would be nice to not require them in single line, lambda-like function statements. Here is an example:

With Semicolons:
[code]

Without Semicolons:
[code]

I wouldn't mind doing this work but would like to know if this would be wanted, what the rule option name/value should be, any potential issues/thou

[2015-12-09 16:54] nzakas commented on #4637
You can't turn off environments in files currently. That's because environments can change how the parser works.

[2015-12-09 16:54] #4637 closed

[2015-12-09 16:56] nzakas commented on #4646
All `var` declarations are hoisted to the top of the function. It doesn't matter if execution flows into those branches or not, the variable is always declared.

[2015-12-09 16:56] #4646 closed

[2015-12-09 16:58] nzakas commented on #4641
I'd like to get it into 2.0.0 because it will help with flexibility for external parsers.

[2015-12-09 17:01] nzakas commented on #4651
Would this be for just one line functions? What about one line blocks (`if`, for example)?

[2015-12-09 17:02] #4507 closed

[2015-12-09 17:24] shanewho commented on #4651
I guess you could generalize it to 'no semi required for single statement blocks' or something like that?

Some possible examples:
[code]

Personally I write single line block statements without the blocks, so I don't really have an opinion on whether or not this **should** apply to if/while/for, but it definitely **could**. The difference between if/while/for and function is that function *requir

[2015-12-09 17:29] michaelficarra commented on #4651
@shanewho Do you write single line try/catch without a semicolon?

[2015-12-09 17:34] shanewho commented on #4651
Like this?

[code]

I don't, but I won't say it's a bad thing or that nobody does/shouldn't. I'm mainly interested in functions that work like lambdas (single statement with return passed as a parameter).

That said, if a rule allowed no semi in lambda-like functions **and** it also allowed no semi in if/while/for/try/catch, I wouldn't mind a bit.

[2015-12-09 18:31] pedrottimark commented on #4641
Your direction is consistent with principle of analogy for learning and usability: make complexity of ESLint config similar to corresponding Babel config. The most recent standard ES version is what many beginning to intermediate devs will need.

Some extra effort to add certain future features or omit certain current features (in ESLint, or in Babel not transpile features after supported in brows

[2015-12-09 18:44] AimeeKnight commented on #1092
@andersekdahl I'm also curious if you've made progress on this? :+1:

[2015-12-09 18:56] nzakas commented on #4641
Changes to Espree: https://github.com/eslint/espree/pull/223

[2015-12-09 19:19] mminer opened #4652 "no-fallthrough fails to warn about missing break inside braces"
With the following code, the `no-fallthrough` rule correctly warns about the missing break statement.

[code]

However, when braces surround the case statements, `no-fallthrough` fails to report the problem, even though all cases are indeed executed.

[code]

Using ESLint v1.10.3.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28991

[2015-12-09 19:29] nzakas commented on #4652
I believe this is already fixed on master, can you try it out?

[2015-12-09 19:34] nzakas commented on #4651
The thing I'm trying to avoid is creating an option that is so specific that it can only ever be used by you. :) Adding an option that is specifically for functions on one line is really specific, whereas saying something like the last statement of a single-line block shouldn't have a semicolon. So the option would disallow semicolons in those spots always...not sure if that solves your case.

[2015-12-09 19:35] nzakas commented on #4641
Starting work on this.

[2015-12-09 19:38] ilyavolodin commented on #4651
I'm not strongly opposed to creating an option like that, but at the same time, I feel that if you want to use semi-columns you should use them everywhere where they are needed. If you are relying on AST to clean up after you then you shouldn't use semicolumns at all. This in-between style can lead to newer people being confused and learning wrong things about the language when they read through y

[2015-12-09 20:00] mminer commented on #4652
Yep you're right, the problem is fixed in master. Glad to hear it. I'll go ahead and close this issue.

[2015-12-09 20:00] #4652 closed

[2015-12-09 20:03] shanewho commented on #4651
@nzakas That would be just fine for me. Any of these seem ok to me:
- Required but allow no semi if it is the only statement in a block (my favorite...)
- Required but disallow for the last statement of a single line block
(your suggestion, I think. Would work for me no problem, but seems a little weird to say it is required in case X but disallowed in case Y)
- Required but allow no semi if it is

[2015-12-09 21:03] ariya commented on #4641
If I may suggest something, call it `languageVersion` or something similar.

"Ecma" is a big umbrella (akin to IEEE, ITU, or W3C), rather than just ECMA-262.

[2015-12-09 21:09] whatknight commented on #4531
@nzakas The problem was indeed `babel-eslint`. Upgrading to `4.1.6` solved the issue. Thanks for the tip!

[2015-12-09 21:10] #4531 closed

[2015-12-09 21:13] gkz opened #4653 "Use Optionator's new type alias feature"
The latest version of [Optionator](https://github.com/gkz/optionator) added a type alias feature. This allows you to add aliases to the types used for parsing and checking input, and displaying help.

I propose that eslint adds type aliases:
[code]

Which would allow eslint to use "Path" instead of "String" when appropriate. This would simplify and shorten the help text.

Affected options:
* `--co

[2015-12-09 21:51] mysticatea commented on #4651
Is this the same as #4385?

[2015-12-09 21:55] shanewho commented on #4651
Yep, looks like it.

[2015-12-09 22:02] mysticatea commented on #4646
FYI: A rule to emulate block scoping for `var` exists in my plugin: https://www.npmjs.com/package/eslint-plugin-mysticatea

[2015-12-09 22:08] nzakas commented on #4641
The convention of `ecmaVersion` has already been set by other utilities (like Acorn and escope). I'd rather follow the convention than create something that has the same meaning with a different name.

[2015-12-09 22:45] Zarel commented on #2342
@RubenVerborgh

I have a suggestion: We can allow the key to be unread only when the loop ends in an unconditional `break` or `return`.

For instance, this would be an error:

    for (var key in object) {
      doSomething(object);
    }

But this would be fine:

    for (var key in object) {
      doSomething(object);
      break;
    }

The unconditional `break` or `return` implies that the `fo

[2015-12-09 23:51] garborg opened #4654 "Property accessors trip up `no-unneeded-ternary/defaultAssignment`"
eslint version:
[code]

test.js
[code]

eslint output
[code]

So `a ? a :` is caught, but `a.b.c ? a.b.c :` is not.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/28998697-property-accessors-trip-up-no-unneeded-ternary-defaultassignment?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept

[2015-12-10 00:23] fdelacruz opened #4655 "reporting multiple errors at once"
What's the underlining philosophy behind NOT supporting this the way it does with warnings.
I'm running eslint `v1.10.3`
Eslint produces a single error message even though there are more.
After that Eslint's parser can't resync.
All other checkers output a list of both errors and warnings at the same time.
Why can't eslint like it's 2015?

<bountysource-plugin>
---
Want to back this issue? **[Post

[2015-12-10 00:39] garborg opened #4656 "indent isn't being applied inside parentheses"
eslint version:
[code]

test.js:
[code]

eslint output
[code]

So it caught the over indentation within brackets, but not within parentheses.

I understand that neither is technically a block, but as the rule is applied in the first case like I'd expected, I'd expect it to apply in both cases.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-12-10 00:44] gyandeeps commented on #4656
duplicate https://github.com/eslint/eslint/issues/1801

[2015-12-10 01:10] garborg commented on #4656
Thanks @gyandeeps. Feel free to close if that's how duplicates are handled.

[2015-12-10 01:23] ilyavolodin commented on #4654
Verified in ESLint demo.

[2015-12-10 01:25] ilyavolodin commented on #4655
ESLint outputs both list of errors and warning at the same time. Can you provide an error that you are seeing? Without seeing it, I'm guessing it's not a rule error, but actual parser error. If we can't parse your code, we can't lint it.

[2015-12-10 01:26] ilyavolodin commented on #4656
Closing as duplicate of #1801

[2015-12-10 01:26] #4656 closed

[2015-12-10 01:30] fdelacruz commented on #4655
In the shot I have two errors (missing commas) in lines 2 & 3.
They get checked one at a time despite having set `syntastic_aggregate_errors`.
The warnings (missing semicolons) get totally ignored.
![shot2](https://cloud.githubusercontent.com/assets/148098/11693663/1d6f633e-9e74-11e5-8d4c-64de37715083.jpg)

This shot is of the warnings mentioned above being aggregated. Provided that there's no err

[2015-12-10 01:38] fdelacruz commented on #4655
The following is an output using `
![shot](https://cloud.githubusercontent.com/assets/148098/11704311/bb28f73a-9eb4-11e5-8355-f1c29c238e0c.jpg)
jshint`

[2015-12-10 01:51] ilyavolodin commented on #4655
Sorry, I'm really not familiar with Syntastic. Can you try running ESLint directly on the command line and providing output of the linting?

[2015-12-10 01:55] fdelacruz commented on #4655
Sure, from the command line we can see that eslint stops at the first error.
![shot5](https://cloud.githubusercontent.com/assets/148098/11700217/81cc7e9e-9e96-11e5-866f-8551333ac109.jpg)

[2015-12-10 02:09] ilyavolodin commented on #4655
Right, so "Parsing error: Unexpected token" is a parser error. Your code is not valid enough to be parsed by Espree, so we can't lint it. JSHint is less susceptible to parsing errors because it uses RegEx for the most part. ESLint, on the other hand have to have valid JavaScript code to lint.

[2015-12-10 02:11] nzakas commented on #4655
We use two phases: a parsing phase (delegates to an external parser) and a linting phase where we walk the AST and look for problems. If the parser throws an error, then no AST is generated and we can't do anything except show you the parsing error. As Ilya said, JSHint operates differently as it reports lint errors from within the parser directly.

[2015-12-10 02:11] #4655 closed

[2015-12-10 02:13] nzakas commented on #4653
I'm not sure "Path" is clearer than "path::String". What do others think?

[2015-12-10 02:17] ilyavolodin commented on #4653
Is the only difference in the new way of doing it just shorter string? If that's the case, I'm not sure it's worth it.

[2015-12-10 02:23] fdelacruz commented on #4655
I see Espress has tolerant: true to try to continue parsing if an error is encountered

[2015-12-10 02:52] willklein commented on #4485
@davis, not a workaround, but the solution: update `babel-eslint` to `4.1.6`. Tested with `eslint@1.10.3`.

[2015-12-10 02:55] davis commented on #4485
ah, thank you!

[2015-12-10 03:09] michaelficarra commented on #2342
@Zarel That's pretty creative. I like it. It should also work when the break/return statement is the body of the loop itself.

[2015-12-10 03:12] gkz commented on #4653
I believe it looks cleaner and it's only a couple of lines of code. But if you don't think it's an improvement, that's fine, that's why I made an issue before creating a pull-request!

In the future I hope to expand on this idea by allowing custom types, so you could set up a custom "Path" type that is not just an alias, but also parsers and checks to make sure it is in the proper format. When I a

[2015-12-10 04:26] babbelnedd commented on #632
@mysticatea how about

    self.emit('foo', onFoo($(this)));

[2015-12-10 06:35] dtinth opened #4658 "`no-unexpected-multiline` flags opening parentheses sent as first argument to a function call"
I am using `eslint@1.10.3`.

When sending a parenthesized expression on its own line to a function to a function call, `no-unexpected-multiline` rule flags that expression.

[code]

It is expected that the above code does not produce a warning, as it is clear that we are inside a call to function `compose`. There can be no ambiguity here.

However, the `no-unexpected-multiline` rule flags the newl

[2015-12-10 15:06] timruffles commented on #4488
@netei definitely a useful rule. Lots of people will be using a custom promise, and it's a *horrible* pain when you use the global promise instead.

The behaviour required would be disallow using the global variable:

[code]
& allowing creating shadowing/overwriting variables:

[code]

[2015-12-10 16:27] ilyavolodin commented on #2342
Reopening this issue, as there has been a few requests for this use case recently and we should try to find a solution. Solution that @Zarel proposed above feels a bit too magical for my taste. I think it will be hard to implement it so it wouldn't create false positives every time it sees break/return statement inside the body of the loop, and very hard to document in a clear fashion. But maybe o

[2015-12-10 16:30] Zarel commented on #2342
Do you mean a conditional `break`/`return`? I think it should be accepted in that case.

Or do you mean an unconditional `break`/`return`? In which case the code after the `break`/`return` would be unreachable anyway, so it should be purely a matter of ease of implementation.

[2015-12-10 16:31] gyandeeps commented on #2342
@ilyavolodin I think we should create a new issue.

[2015-12-10 16:32] michaelficarra commented on #2342
[code]

[2015-12-10 16:33] Zarel commented on #2342
Sorry, I misread "is the" as "is in the".

[2015-12-10 16:37] Zarel commented on #2342
In case it's relevant, I don't remember either JSHint or JSCS complaining about my code, so they may have done something like this.

[2015-12-10 16:47] nzakas commented on #2342
Pretty sure JSCS doesn't check variable usage, and JSHint has only very basic usage checking that tends to miss things.

I still don't see any good solution to this. We can choose to ignore `for (x in y) return` all the time, but I think anything more than that gets us into a really fuzzy area that's not helpful for anyone.

I'm definitely against the `break`/`return` proposal.

@ilyavolodin who e

[2015-12-10 16:49] nzakas commented on #4653
Again, I think we need to show that there is some benefit to the end user before making any changes. "Cleaner" is really subjective, so I'm not sure we can go by that. In my mind, this is removing "string" from the description, and I'm not sure if that makes it more or less confusing.

[2015-12-10 16:53] nzakas commented on #4488
We are still looking for a proposal for this rule. Please see the link referenced above.

[2015-12-10 16:55] nzakas commented on #4658
Looks like we are confusing the open paren as part of the function call.

[2015-12-10 16:58] nzakas commented on #4651
Ooh good catch. Yeah, lets close in favor of #4385.

[2015-12-10 16:58] #4651 closed

[2015-12-10 17:00] #4280 closed

[2015-12-10 17:24] ilyavolodin commented on #2342
It was brought up a few times in gitter chat room, I believe. I also don't see a good solution for the problem.

[2015-12-10 17:30] michaelficarra commented on #4654
Why should this be reported? That expression can have arbitrary effects.

[2015-12-10 17:59] garborg commented on #4654
Not in practice here, so catching would be more useful for me, but I understand if creating false positives and/or complicating the optional configuration are all ruled out as fixes.

[2015-12-10 18:15] kevinSuttle opened #4659 "Rule: Indentation of param list after a function call"
Style rule. No errors. Most likely custom, but wanted to check first.

1. v1.10.3
2.
[code]
3. No output
4. Enforcing rule of indented param lists

Is this a thing?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29021694-rule-indentation-of-param-list-after-a-function-call?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=

[2015-12-10 18:32] gyandeeps commented on #4659
Duplicate https://github.com/eslint/eslint/issues/1801

[2015-12-10 18:38] #4659 closed

[2015-12-10 18:38] kevinSuttle commented on #4659
Thanks @gyandeeps!

[2015-12-10 18:44] michaelficarra commented on #4654
For expressions containing only simple member accesses, I wouldn't be opposed. If you have side effecting getters, you deserve what you get.

[2015-12-10 18:55] gyandeeps commented on #4641
I am not in this boat but something to think about: Based on `nodejs 4.x`, it doesnt support all the ES6 feature by default, now with that being said people might want to turnoff those ES6 feature for their code. How do we tackle that? Or we dont have to tackle that?

Maybe the answer is to not use ESLINT 2.x but then we dont back port bug fixes, so indirectly we are forcing people to move to 2.x.

[2015-12-10 20:00] #4653 closed

[2015-12-10 20:11] gkz opened #4660 "Use type "Int" instead of "Number" for --max-warnings flag"
Just something I noticed while working around the options recently.

The `max-warnings` flag has the type `Number`, which can be any floating point value (eg. `2.3`). I think a better type for the flag would be `Int`, which would print an error if supplied with a non-integer value.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2902

[2015-12-10 20:47] gyandeeps commented on #4660
I think based on the explanation we should make this change.

[2015-12-10 21:37] nre opened #4661 "max-len overestimates the length of lines that contain tabs"
* Version 1.10.3.
* Input:
[code]
* Output:
[code]
* The lines do not exceed 16 characters. The problem is that the max-len rule assigns a fixed width to each tab *character*, instead of to each tab *stop*.

I have a PR ready to correct this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29027302-max-len-overestimates-the-length-of

[2015-12-10 21:48] ilyavolodin commented on #4661
Could you explain a bit more about tab stop vs tab character?

[2015-12-10 21:54] gyandeeps commented on #4660
I will work on this.

@gkz I tried it with Int and when I pass in `--max-warnings 10.2` it gives me 10 and not throw an error. Is that what you wre expecting too?

[2015-12-10 22:14] nre commented on #4661
If the tab width is 4 spaces:
[code]
But max-len will always replace each tab character with 4 spaces (never 3, 2 or 1), which is why it overestimates the length of some lines.

[2015-12-10 22:55] ilyavolodin commented on #4661
Ahh.. got it, thanks. In that case, I think it's a reasonable fix.

[2015-12-10 22:58] gkz commented on #4660
While exploring this I found a small bug in [levn](https://github.com/gkz/levn) which parses the input. On type `Int` levn uses `parseInt`, which will return `10` when given `10.2`, and then type checks the input (and thus will always pass). I was planning on fixing that before submitting a pull request to change the type of `max-warnings` to `Int`.

[2015-12-10 22:59] gyandeeps commented on #4660
feel free to send a PR and I can close mine then. How does that sound?

[2015-12-10 23:09] gkz commented on #4660
OK

[2015-12-10 23:52] nzakas commented on #4661
@nre do you want to submit a pull request for this?

[2015-12-10 23:54] nzakas commented on #4641
@gyandeeps as I mentioned in the original description, people can still use `no-restricted-syntax` to block a lot of features if they so desire. For any others, they can easily write custom rules.

[2015-12-10 23:55] nzakas commented on #2342
Here's my proposal: we just always allow patterns like `for (x in y) return`. That's the extent to which I think we should go to address this.

If there's disagreement on that, then I'd say this is best left to a custom rule.

[2015-12-10 23:56] nzakas commented on #4654
Yeah, I'm not 100% convinced on this. Properties can have side effects, and I'm pretty sure that's why we left this check off to begin with.

[2015-12-11 00:03] nevir opened #4665 "Adding comment line length enforcement"
I'd like to propose some additional options to the `max-len` rule, so that we can specify independent max lengths for source and comments:

A style that I have grown to prefer is a maximum line length of `80` characters for comments (to enforce readable paragraphs), but something a bit longer than that for code (`100`, or `120`, frequently).

It seems best to fold this log into the `max-len` rule

[2015-12-11 00:33] mzgol opened #4666 "Disabling the es6 env doesn't work"
I'm using [eslint-config-mzgol](https://www.npmjs.com/package/eslint-config-mzgol) with a config in the root of the project directory:
[code]
Then, in the directory `public/js` I have another `.eslintrc`:
[code]

and yet ESLint doesn't fail on ES6 code inside of this directory.

ESLint 1.10.3.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-12-11 00:47] nzakas commented on #4666
Can you provide some sample code that you are expecting to trigger a warning?

[2015-12-11 01:03] mzgol commented on #4666
@nzakas E.g.:
[code]

I see the error if I go to `node_modules/eslint-config-mzgol/eslint-config-mzgol.js` and comment out the `es6: true` part.

[2015-12-11 01:50] ilyavolodin commented on #2342
I think I can buy exception for `for in`.

[2015-12-11 02:07] mysticatea commented on #4666
I'm sorry, this is duplicate of #3915 (PR was #3958 but )

[2015-12-11 02:34] raisen opened #4667 "require-jsdoc failing with export default class"
I have a ES6 module defined as:

[code]

require-jsdoc is failing with Missing JSDoc comment on the class definition. I have all 3 options set as true:    FunctionDeclaration, MethodDefinition, ClassDeclaration

Am I missing anything?

eslint v1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29033448-require-jsdoc-failing-with-

[2015-12-11 02:40] platinumazure commented on #4667
I don't know JSDoc, but do you need a tag on the class documentation?

[2015-12-11 02:43] raisen commented on #4667
@platinumazure, according to JSDoc, [you don't need for ES6](http://usejsdoc.org/howto-es2015-classes.html).

[2015-12-11 02:45] gyandeeps commented on #4667
@raisen can u plz answer all the question from @eslintbot 's comment

[2015-12-11 02:52] raisen commented on #4667
@gyandeeps, ok here we go:

eslint v1.10.3

[code]

Warning I received:
[code]

eslintrc:
[code]

I was expecting eslint to not give that warning as it looks like I have a module with valid JSDoc.

[2015-12-11 03:58] nzakas commented on #4666
Ooh right, let's track in #3915.

[2015-12-11 03:58] #4666 closed

[2015-12-11 03:59] nzakas commented on #3915
I'll see if I can fix this

[2015-12-11 05:04] hax opened #4668 "Add prefer-arrow-callback option?"
Currently, `prefer-arrow-callback` ignore the callbacks refer `this` without `.bind(this)`.
I suggest to add an option to disable this exception.

As my team's experience, It's very hard to distinguish really need `this` or just forgetting `bind`. So dynamic `this` in callbacks is forbidden as our coding style. For example, we expect `addEventListener(function() { console.log(this.tagName) })` wil

[2015-12-11 05:08] aparajita opened #4669 "no-invalid-this false flags usage in ES2015 static methods"
**What version are you using?**

1.10.3

**What did you do?**

Use `this` in a static class method, like this:

[code]

**What happened?**

When I run `eslint --no-eslintrc` on this code, I get this error:

[code]

**What did you expect to happen?**

There shouldn't be an error, this code works fine. Using `this` in a static function to refer to the class is valid in node, Safari and Chrome.

<bou

[2015-12-11 06:03] mattkrick commented on #4353
I think this is worth a 2nd look, since it's a pattern that comes up often when using higher order functions, like HOCs and middlewares. Personally, removing the blocks or breaking apart a HOC is more confusing than just writing something like:
[code]

[2015-12-11 10:04] mzgol commented on #4666
Thanks, I wouldn't find it by the title of #3915. :-)

[2015-12-11 10:29] nre commented on #4661
Working on this.

[2015-12-11 14:31] netei opened #4671 "Fixable padded-blocks"
Feature to add : fixable padded-blocks.

PR coming

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29045585-fixable-padded-blocks?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&

[2015-12-11 15:06] lo1tuma commented on #4671
I think this could conflict with the `ines-around-comment` rule.

[2015-12-11 15:06] ilyavolodin commented on #4669
ESLint doesn't really support experimental features. You might need to make an issue for https://github.com/babel/eslint-plugin-babel

[2015-12-11 16:35] nzakas commented on #4668
The problem we face here is that if a function requires `this`, you will always get an error or else you'll need to do something like `var that = this`. Is that what you want?

[2015-12-11 16:38] nzakas commented on #4671
@lo1tuma can you show an example?

[2015-12-11 16:40] nzakas commented on #4669
@ilyavolodin this is ES6, not experimental.

This is a bug.

[2015-12-11 16:45] ilyavolodin commented on #4669
Ahh.. sorry about that. I was under the impression that `static` was not part of ES6 spec.

[2015-12-11 17:03] lo1tuma commented on #4671
If you configure `padded-blocks` with `never` and `lines-around-comments` with `beforeLineComment`. But in this case you would already get conflicting error messages, so this conflict is not exclusively related to autofixing.
Apart from that, inserting new lines will definitely conflict with `linebreak-style`.

[2015-12-11 17:08] #4641 closed

[2015-12-11 17:08] #4661 closed

[2015-12-11 17:09] #4542 closed

[2015-12-11 17:09] #1128 closed

[2015-12-11 18:04] nzakas opened #4673 "Tests failing"
Forgot to update tests for the newest rules to use `parserOptions`, so they are failing. The rules are:

* `array-callback-return`
* `no-implicit-globals`

The rules are fine, just need to update the tests to use the new syntax.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29051408-tests-failing?utm_campaign=plugin&utm_content=tra

[2015-12-11 18:12] #4673 closed

[2015-12-11 18:27] #4615 closed

[2015-12-11 20:31] msikma opened #4676 "Rule option proposal: permit non-spaced default parameter infix operator as special case"
This pertains to the [space-infix-ops](https://github.com/eslint/eslint/blob/master/docs/rules/space-infix-ops.md) rule. Requiring spaces around infix operators (e.g. `a = 'b'`) is possibly one of the most common rules in JS. It's almost impossible to find code that does not have these spaces, except legacy and (usually) sloppy code.

There's one exception to this rule: the spaces around [default

[2015-12-11 20:43] nzakas commented on #4676
Looks like a duplicate of https://github.com/eslint/eslint/issues/3587

[2015-12-11 21:07] #4676 closed

[2015-12-11 21:55] fourq commented on #1797
This is still an issue with the latest version. screenshot http://bad-request.fourq.io/0y102l321D3p

[2015-12-12 00:31] nzakas commented on #4671
@lo1tuma yup, I understand. I'm just asking if you can give an actual example so everyone can see it with their own eyes. Since this is the first time @netei has filed an issue, that background information is really helpful.

[2015-12-12 00:55] clark800 opened #4677 "Rule proposal: require-return"
When working with promises, it can be perilous to forget to return; sometimes it will make the application hang without showing an error message. In promise-heavy code, it would probably be worthwhile to require all functions to explicitly return a value to reduce this risk. One way this could be checked is by checking that the last line in each possible path starts with either `return` or `throw`

[2015-12-12 00:57] lo1tuma commented on #4671
Ok, so here is an example when an automatic fix of `padded-blocks` would create a new problem for `linebreak-style`.

config:

[code]

code as a string before fix is applied:

[code]

This code has two problems detected by `padded-blocks`:

* 1:16 - Block must be padded by blank lines. (padded-blocks)
* 3:2 - Block must be padded by blank lines. (padded-blocks)

If you want to automatically fix th

[2015-12-12 04:17] nzakas commented on #3869
@eslint/eslint-team we need to come to consensus on this proposal. Thoughts?

[2015-12-12 04:54] ssmlee04 opened #4678 "package.json inside some module folders"
I have some sub-folders that has package.json inside it.  And it seems eslint cannot work under these folders unless I change the name to pack.json or something else.  The thing is I cannot do that because there are other module engines that use this package.json.

Is there a way to let eslint to ignore this package.json and proceed?

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2015-12-12 05:06] ssmlee04 commented on #4678
eslint version is 1.10.3. thanks

[2015-12-12 05:51] xjamundx commented on #3869
Changing rules can be confusing for some folks, so without a bit more clear added value, I'm not overly enthused about it. Does this fit in with other efforts to combine rules? In general I've seen rules go the other way. Obviously a lot of thought has been put into it, so maybe there's more to it than that.

[2015-12-12 05:58] platinumazure commented on #3869
:+1: from me- I like how many of the other whitespace rules are symmetrical and I appreciate the thought that went into ensuring this new rule wouldn't conflict with existing rules.

[2015-12-12 07:10] btmills commented on #4678
@ssmlee04 can you share more details about what you're seeing? You said it cannot work, but we don't have enough information yet to understand what's happening. Your source code and configuration and ESLint's output would be helpful.

[2015-12-12 07:12] ssmlee04 commented on #4678
the folder structure is as follows:

[code]

for files inside the packages folder sublime-eslint is not working..

[2015-12-12 07:14] btmills commented on #4678
What do you mean when you say it's not working? Can you give us output? Try invoking ESLint from the command line to see what's happening.

[2015-12-12 07:18] ssmlee04 commented on #4678
oh I was using sublime-eslint and the for files in the same level of package.json you will see the error messages from eslint

![](http://i.stack.imgur.com/gYtcA.png)

but for files inside the packages folder that contains the inner package.json file sublime-eslint is not working

![](http://i.stack.imgur.com/Pe9kC.png)

[2015-12-12 07:19] btmills commented on #4678
Does ESLint work if you invoke it from the command line?

[2015-12-12 07:21] ssmlee04 commented on #4678
not sure. I was only using sublime to real-time tracking errors.

[2015-12-12 07:21] btmills commented on #4678
Can you try that? It'll help us diagnose what's happening.

[2015-12-12 07:27] ssmlee04 commented on #4678
I tried to do
[code]
 but both of them say:
[code]
but I have eslint-plugin-react inside package.json and node_modules though..

[2015-12-12 07:28] ssmlee04 commented on #4678
I can eslint on both files.
both files give me some results. in sublime only the outer folder index.js can work

[2015-12-12 07:30] btmills commented on #4678
See https://github.com/eslint/eslint/issues/1238. To run eslint from the command line, either install eslint-plugin-react globally, or use the local eslint in node_modules/.bin.

As for sublime-eslint, is eslint installed in a node_modules directly next to both package.json files? I'm guessing sublime-eslint runs eslint relative to the package.json, so when it encounters `packages/users/package.js

[2015-12-12 07:31] btmills commented on #4678
Fat-fingered the "Close and comment" button, though hopefully that fixes it and we can close this soon.

[2015-12-12 07:36] ssmlee04 commented on #4678
ya I guess that is why. but even after I copies the .bin folder over to under users folder sublime-eslint still doesn't work somehow.  Is the a bug for sublime-eslint?

[2015-12-12 07:39] btmills commented on #4678
You'll need to do a full install rather than just copying individual files. You can open an issue there if you feel like it's a bug, but from what I'm seeing it's working as I would expect it's designed. Closing here as ESLint itself is working fine.

[2015-12-12 07:39] #4678 closed

[2015-12-12 07:39] ssmlee04 commented on #4678
I see. lemme check with sublime-eslint side then. Thanks a lot man!

[2015-12-12 10:36] catalin-testenv commented on #2409
Thanks @michaelficarra !

[2015-12-12 10:48] sindresorhus commented on #4236
@nzakas There's no definite answer of what a magic number is either. Magic numbers by most explanations are numbers with unclear intent. With `t.plan(2);` the intent is clear. I could have done `var PLAN_COUNT = 2; t.plan(PLAN_COUNT);` but it wouldn't have made it any clearer. As for documentation, I think @scottohara documented it pretty clearly above. I don't think you're going to find any bette

[2015-12-12 12:17] hax commented on #4668
@nzakas `var that = this` is for lexical `this` binding which we could use arrow functions to replace. What our team suggest is callbacks may not use dynamic `this` binding at all. Of course there are some libraries/frameworks use callbacks with dynamic `this` and hard to replace like standard event listener api, that's why I suggest add an option.

[2015-12-12 14:37] confuser opened #4680 "JSCS modifications to one-var"
Starting to migrate from JSCS/JSHint and I was looking for the equivalent of [requireMultipleVarDecl](http://jscs.info/rule/requireMultipleVarDecl)

Unfortunately `one-var` doesn't cover this, as it prevents multiple variable declarations in a single scope. I'm looking for allowing multiple variables throughout the scope, but preventing consecutive var declarations.

Invalid:

[code]

Valid:

[cod

[2015-12-12 15:50] ilyavolodin commented on #3869
I don't see any problem with merging those two rules. Should be a bit easier to configure for new users.

[2015-12-12 16:11] #3306 closed

[2015-12-12 16:20] nzakas commented on #4236
I don't think "one argument is always clear" is necessarily a true statement. Our problem is that we cannot definitively know if intent is clear or not. For instance, I wouldn't know what `t.plan(2)` meant if I saw it without your description above, so to me is a magic number vs. `t.plan(EXPECTED_ASSERTS)`.

The other issue we have is that strangely specific exception cases are often misunderstood

[2015-12-12 16:27] nzakas commented on #4680
It sounds like this would have to be an additional option for `one-var`, just not sure what the option name would be.

[2015-12-12 16:30] nzakas commented on #3869
@xjamundx we've generally been merging `space-before-*` and `space-after-*` into `*-spacing` rules since people tend to configure both or neither.

If we want to do this, then it would be good to get into 2.0.0, otherwise we'd need to wait until 3.0.0.

[2015-12-12 16:30] confuser commented on #4680
@nzakas what about setting the option to multi?

E.g.
[code]

[2015-12-12 16:32] nzakas commented on #4671
Good analysis, I think we need to hold off on making this rule fixable until we have some way of resolving.

[2015-12-12 16:32] #4671 closed

[2015-12-12 16:35] nzakas commented on #4665
If we add options, then we should switch to something like:

[code]

That makes it clear what's going on and still allows your use cases. Would you mind updating your PR to match?

[2015-12-12 16:40] xjamundx commented on #3869
Makes sense :+1:

[2015-12-12 16:42] nzakas commented on #4668
The problem is we don't know if `this` is dynamic or not - we either need to always allow it or always disallow it. So, the option would have to be `functionsWithThis: true`, which would just remove the `this` exclusion.

Just to make sure I'm understanding correctly, can you provide some full sample code and show what you would like to be flagged?

[2015-12-12 16:43] platinumazure commented on #4671
@nzakas It seems some repository-level configuration options (such as CRLF vs LF) might need to be extracted out of rules into shared config somehow, so that rules don't have to know about each other but can rely on the same configuration. What do you think? Should I open an issue to discuss?

[2015-12-12 16:44] nzakas commented on #4680
"Multi" is pretty ambiguous in this context because it's the opposite of one (and we already have "always" and "never")

[2015-12-12 16:44] platinumazure commented on #4680
What about something like "non-consecutive" or "non-consecutive-only"?

[2015-12-12 17:23] hax commented on #4668
Yes, that's what I want :+1:

[2015-12-12 17:35] aparajita commented on #4669
It's actually a wrong design decision. The docs for that rule explicitly show this use case as being invalid.

[2015-12-12 17:53] gyandeeps commented on #4677
I dont know what the best solution is but something which cheks this would be really helpful as we have path analysis now.
So i am :+1:

[2015-12-12 18:06] ilyavolodin commented on #4677
We still have no way to identify promises though. So I'm not sure how we could do a rule like that without creating a lot of false positives.

[2015-12-12 18:08] platinumazure commented on #4677
What about just requiring `return` or `throw` in any case (allowing `return;` for those cases where the user really wants to return nothing)?

[2015-12-12 18:33] platinumazure opened #4681 "Documentation still implies RuleTester will log failures with zero valid or invalid tests"
This can be reproduced in master easily by writing empty rule tests.

[code]

Expected: Assertion error for lack of valid tests, assertion error for lack of invalid tests.
Actual: "0 passing"

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29071841-documentation-still-implies-ruletester-will-log-failures-with-zero-valid-or-invalid-te

[2015-12-12 20:53] mysticatea opened #4682 "ESLint (2.0.0-alpha-1) should not rewrite the given config object."
Here: https://github.com/eslint/eslint/blob/v2.0.0-alpha-1/lib/eslint.js#L405

`config.parserOptions.ecmaFeatures` is shallow copied, so L414 overwrites original config.
I encountered incorrect warnings caused by this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29074262-eslint-2-0-0-alpha-1-should-not-rewrite-the-given-config-ob

[2015-12-12 20:59] gyandeeps commented on #4682
huh but config.merge function is supposed to do a deep copy. Are we sure line L405 is the true cause of the issue?

[2015-12-12 21:06] mysticatea commented on #4682
I believe.

This `deep merge` is not `deep copy`.
When the destination property does not exist, `deep merge` is assigning merely.

https://github.com/eslint/eslint/blob/v2.0.0-alpha-1/lib/config/config-ops.js#L174

[2015-12-12 21:16] codeocelot opened #4683 "eslint throws error on arrow function class methods"
I think I've found a bug.  According to the es6 spec, class methods are free to use arrow function declarations.  However, eslint throws a `Parsing error: unexpected token =` when it encounters these methods.

Try the following:
[code]
I've tried configuring my .eslintrc to cover all the obvious features without success.
[code]

Edit: I'm using v1.10.3

<bountysource-plugin>
---
Want to back this

[2015-12-12 21:25] mysticatea commented on #4682
We can reproduce in this repo's branch: https://github.com/mysticatea/npm-run-all/tree/try-eslint-2a1

1. clone
2. checkout try-eslint-2a1
3. npm i
4. npm run lint

There is a mix of ES6 and ES5 in this repo, so I use two kind of eslint config.

- `extends: ["mysticatea", "mysticatea/modules", "mysticatea/node"]
- `extends: ["mysticatea/es5", "mysticatea/node"]

`mysticatea/node` has `parserOption

[2015-12-12 21:28] gyandeeps commented on #4682
if its an issue then we should fix it.

[2015-12-12 21:34] ilyavolodin commented on #4677
Not every function should return or throw, hence - false positives. Unless somebody can figure out a good way to identify promises, I'm not sure this rule will have a whole lot of value.

[2015-12-12 21:35] ilyavolodin commented on #4681
I noticed this too while debugging some rules. It must be a regression, since it was working at some point.

[2015-12-12 21:35] platinumazure commented on #4677
@ilyavolodin But every function *does* return, whether explicitly or not. If this is thought of as requiring explicit returns, and if that's the decision made by the project owner, then there is no such thing as a false positive.

Now, whether this is anywhere near OP's goal is certainly up for debate. :smile:

[2015-12-12 21:40] #4667 closed

[2015-12-12 22:05] gyandeeps commented on #4683
I havent read anywhere that we can have arrow function like that inside classes. FYI My ES6 knowledge is very limited.
Can you share some link which explains this?

[2015-12-12 23:50] mysticatea commented on #4683
@codeocelot ES6 does not support class properties. You cannot use arrow functions as class method.

See Also: http://www.ecma-international.org/ecma-262/6.0/#sec-class-definitions

[2015-12-13 00:00] #4669 closed

[2015-12-13 00:03] ilyavolodin commented on #4683
As per comments above, arrow functions are not allowed as class properties in ES6. Feel free to reopen if you find information that states otherwise.

[2015-12-13 00:03] #4683 closed

[2015-12-13 01:49] mysticatea commented on #4682
Oh, `RuleTester` freezes config object, so several plugin's tests are failed.

![image](https://cloud.githubusercontent.com/assets/1937871/11764906/fc52c0e0-a186-11e5-9485-d34af0a6ca9a.png)

[2015-12-13 02:32] aparajita commented on #4669
Thanks!

[2015-12-13 03:07] codeocelot commented on #4683
In general, there is very little documentation about if arrow class methods are allowed.  However, there are numerous examples of it being done.  In fact, React's [own docs](https://facebook.github.io/react/docs/reusable-components.html#no-autobinding) suggest using it to overcome the lack of autobinding `this`.

Unfortunately, [MDN's own 'Arrow Function'](https://developer.mozilla.org/en/docs/Web

[2015-12-13 03:30] ilyavolodin commented on #4683
@codeocelot React also recommends using object rest/spread which is not part of the ES6 spec. I'm not up to date on ES6 features, but @mysticatea linked official specification, which, as far as I understand, says that arrow functions are not allowed as class properties. I believe this is a proposed feature for ES7.

[2015-12-13 03:42] clark800 commented on #4677
Yeah, I was thinking of what @platinumazure is suggesting. I like functional programming, so I write very few functions that don't return something. I wouldn't mind adding an explicit `return null` to those functions  ; in fact it would probably be helpful even when not using promises.

[2015-12-13 03:43] mysticatea commented on #4683
@codeocelot

The spec of Class Property Declarations is stage 1 proposal currently: https://github.com/tc39/ecma262#current-proposals
See Also: https://tc39.github.io/process-document/

This feature is not part of ES2015(ES6) and perhaps not part of ES2016(ES7) also.
So ESLint does not support it yet.

`babel-eslint` might help you to use features which are under discussion.
Please note the spec m

[2015-12-13 07:18] btmills commented on #3095
This was resolved with #4586, but for some reason the "(fixes #3095)" part didn't close this automatically.

[2015-12-13 07:18] #3095 closed

[2015-12-13 13:50] pygy opened #4689 "RFC: space-in-parens: exception to distinguish between function calls and sub-expression grouping."
I like to use spaces in parentheses when grouping expressions, but not when calling functions, like this:

[code]

It allows one to visually mark semantically distinct uses of parentheses.

Would you accept a PR that implements this (and the opposite, off course)?

Edit: Thanks, eslintbot. So, a priori, the only unknown to me is whether it is "1. Widely applicable".
## <bountysource-plugin>

Want

[2015-12-13 15:51] platinumazure commented on #4677
So if we're willing to accept the notion of general require-return (regardless of whether the function is a Promise callback or not), that basically comes down to using code path analysis on function declarations and expressions and ensuring all paths return (via `ReturnStatement`) or throw.

[2015-12-13 16:32] nzakas commented on #4681
This was intentional. It used to error, but that meant you couldn't focus in on just one falling case to debug it, you'd always have to have one valid and one invalid. I don't see a great need for this type of check, especially as it makes it harder to debug.

[2015-12-13 16:38] platinumazure commented on #4681
Understood. Shall we remove references to that behavior in the docs and/or
code comments? I could file a PR for that under this issue if you like.
On Dec 13, 2015 10:32 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-13 16:42] nzakas commented on #4677
@clark800 please take a moment to read over our rule proposal guidelines and provide the information requested: http://eslint.org/docs/developer-guide/contributing/new-rules

[2015-12-13 16:43] nzakas commented on #4681
Yeah, if there are still lingering references, we should definitely remove them.

[2015-12-13 16:48] nzakas commented on #4689
Hmm, we need to be careful here as there are many different places parens are used:

1. Function parameters (declarations/expressions/arrows)
2. Function calls
3. Grouped expressions

That means we have a question of granularity, which makes adding an option a bit harder.

What would you suggest as a change?

[2015-12-13 16:51] #4417 closed

[2015-12-13 16:53] #4472 closed

[2015-12-13 16:56] platinumazure commented on #4681
Okay. I'll change the issue title when I'm at a PC.
On Dec 13, 2015 10:43 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-13 16:57] nzakas commented on #4668
OK, do you want to submit a pull request?

[2015-12-13 17:45] udnisap commented on #4677
I think this is a good idea. This is already there in coffee script.

[2015-12-13 18:13] pygy commented on #4689
Indeed. From an API standpoint, we could add exceptions: along the lines of `'(grouping)'`, `'fundef()'`, `'funcall()'`, or just `'grouping'`, `'funcall'`, `'fundef'` (or even `'function-call'` and `'function-definition'`).

That being said, I don't know if anyone uses spaces inside parens to tell function definitions from calls. I know people who put a space between the function name and the pare

[2015-12-13 21:50] alberto commented on #4483
do we have a decision on this, now that we are approaching eslint 2.0?

[2015-12-13 22:52] pygy opened #4690 "The indentation fixer is a glutton."
In my test suite, I have banners that look like

[code]

If they are mis-indented, the second line of the banner is gradually eaten.

[code]

After one run:
[code]

After two runs:

[code]
Then it stays like this. I guess it's full.

---
Edit: more info, thanks eslintbot.

Version: v1.10.3 and v2.0.0-alpha-1
Config:

[code]

ESLint is run from a NPM script as `eslint --fix foo.js`. Installed as a

[2015-12-14 00:14] pygy commented on #4690
The plot thickens:

The affected banner was the last one in my suite, but it has side effects on later ones too:

Here's my test session, step by step, with weird results.

[code]

[code]

Result:

[code]

---

At this point I was focusing on the first banner (no effect) and missed the fact that it mangled the indentation of the next three lines.
So I put the banner in a dummy function:

[code]

A

[2015-12-14 00:47] terinjokes opened #4691 "error from `loadPackage` swallowed in node 0.10 and 0.12"
While debugging why Travis CI was running into failing builds only with Node.js 4.2 for my ESLint plugin, I've noticed the errors from lib/config/config-file.js's `loadPackage` function are swallowed in Node.js 0.10 and 0.12.

[cloudflare/eslint-plugin-cflint Travis CI run](https://travis-ci.org/cloudflare/eslint-plugin-cflint/jobs/96641651)

In Node.js 4.2 the following error is reported with a n

[2015-12-14 01:09] andy-hanson opened #4692 "Feature: Force `else` to go on same line as closing brace"
Since I'm using "1tbs" for "brace-style", I prefer an `else` statement to go on the same line as the closing curly brace of an `if` statement.

However, eslint does not warn for this code:

	if (true) {
		console.log(1)
		console.log(2)
	}
	else
		console.log(3)

presumably because the `else` statement here does not have braces.

It would be nice if there were a way to detect this anyway. I would

[2015-12-14 02:12] #4682 closed

[2015-12-14 02:41] mysticatea commented on #3869
And may I merge `space-return-throw-case` also?
`returns`, `throw`, and `case` are keywords...

[2015-12-14 07:13] chapinkapa commented on #4263
I am still getting this error.

[code]

[2015-12-14 08:23] netei commented on #4671
@platinumazure yes, makes sense, and that should also be the case for other "config-like" items, such as tabs/spaces, ...

[2015-12-14 09:53] allenmanning commented on #2621
+1 for configuring which ones fail

[2015-12-14 09:54] allenmanning commented on #4412
+1

[2015-12-14 09:58] f1qwase opened #4693 "implement autofixing for object-shorthand rule"
e.g.
[code]
to
[code]

I have already done it, but then I found, that there is should be an issue for my pull request, so here is it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29103330-implement-autofixing-for-object-shorthand-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept

[2015-12-14 10:10] hax commented on #4668
Oh, I will try :fearful:

[2015-12-14 11:30] surajhp opened #4695 "Installation of ESLint runs indefinitely on Windows 7"
I am trying to install ESLint using npm command-

The installation starts but makes no progress.

![untitled](https://cloud.githubusercontent.com/assets/6647542/11779892/fdcdd146-a283-11e5-94e9-e2325d482cd4.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29107822-installation-of-eslint-runs-indefinitely-on-windows-7?utm_campaign

[2015-12-14 12:03] chpio commented on #4263
@chapinkapa

[2015-12-14 13:40] chapinkapa commented on #4263
I have tried with an absolute path to the module also. It throws the same issue.

[2015-12-14 13:51] evilebottnawi opened #4696 "indent bug?"
Eslint v1.10.3
[code]
[code]
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29107743-indent-bug?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_sour

[2015-12-14 13:55] platinumazure commented on #4695
Likely an npm issue. Please include your node and npm versions. And for what it's worth, I work on a Windows 7 machine at home and had no problem with a global install.

[2015-12-14 14:20] bORm commented on #4371
Not help me (

[2015-12-14 15:05] gyandeeps commented on #4696
Can you please narrow down your error message wrt the code as I cant understand which is line 29?

[2015-12-14 15:08] evilebottnawi commented on #4696
@gyandeeps
[code]
[code]

[2015-12-14 15:09] gyandeeps commented on #4695
I have seen this on some of my colleges machines. This is not specific to eslint as it happens to them for other package also. It happens sometime for them. Once they retry it works fine for them.

Have you tried this command again? Is it continuously failing for you? What version of node and npm u have?

[2015-12-14 15:10] gyandeeps commented on #4696
I think this is a know issue, Let me see if I can find an existing issue for something similar.

[2015-12-14 15:12] evilebottnawi commented on #4696
@gyandeeps maybe add label bug? i don't have time now to search existing issue

[2015-12-14 15:18] gyandeeps commented on #4696
Related https://github.com/eslint/eslint/issues/4081
and/or https://github.com/eslint/eslint/issues/4076

[2015-12-14 15:41] ilyavolodin commented on #4690
@gyandeeps Can you take a look?

[2015-12-14 15:43] ilyavolodin commented on #4691
Hmm.. interesting. What's the version of ESLint you are using?

[2015-12-14 15:48] ilyavolodin commented on #4692
Reproducible in online demo.

[2015-12-14 15:49] ilyavolodin commented on #4695
Closing as this is not an ESLint issue.

[2015-12-14 15:49] #4695 closed

[2015-12-14 15:51] ilyavolodin commented on #4696
@gyandeeps I think this one is slightly different than the issues you linked. This one is about multiline braces, and the one you linked is about multiline chaining.

[2015-12-14 16:02] terinjokes commented on #4691
eslint@1.10.3.

Worth noting that this ticket isn't about the error message itself, just
the fact that it's missing.
On Dec 14, 2015 7:43 AM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-12-14 16:58] nzakas commented on #4263
Please open a new issue and describe your problem.

[2015-12-14 17:04] nzakas commented on #4691
Have you experienced this when running locally, or just with Travis? If the latter, can you try running locally?

[2015-12-14 17:09] nzakas commented on #4483
Yeah, we will hold off until 3.0.0 and plan to do that around April 2016 to coincide with the end of active LTS for 0.12.

[2015-12-14 17:11] nzakas commented on #3869
What would configuration for this new rule be with all these options?

[2015-12-14 17:13] nzakas commented on #4693
We generally only autofix single character changes or whitespace changes in order to avoid conflicts with other rules. This change has the possibity to conflict with several of our rules around spacing, so I don't think it's safe to do this.

[2015-12-14 17:23] nzakas commented on #4696
@ilyavolodin this one is about chaining too

[2015-12-14 17:46] terinjokes commented on #4691
I'm able to reproduce this locally. The output with `DEBUG=*` is from my local system.

[2015-12-14 18:33] neverfox opened #4697 "key-spacing for one-liner object literals"
Would it be possible to have a way to enforce different key-spacing rules depending on whether or not the object is specified on one line or multiple lines? A style we use is something like this:

[code]
But for one-liners, we don't want `beforeColon: true`:
[code]

The reason for this style choice is that we prefer no space before colons *unless* the colons can align, which is only relevant in mu

[2015-12-14 18:48] neverfox commented on #4697
1. This rule will warn when spacing in single-line objects does not match the specified options for single-line objects. I believe this would have to somehow extend the key-spacing rule in order not to run afoul of the requirements for new rules.
2. stylistic
3. I will need to learn more about custom rules to see if that can handle this case
4. Sure

[2015-12-14 20:07] rocketmonkeys commented on #2614
@ilyavolodin - Just confirming your last comment...

I have a folder where I enable "node" environment at the root eslintrc, but then turn it off with a subfolder's esilntrc.  I want the subfolder to be client-files only (so "browser" env yes, "node" no).  From your comment it sounds like I can put "env: { node: false }" in the subfolder's eslintrc file and that will turn off the env, but it looks

[2015-12-14 20:30] nzakas commented on #4697
This is one of our more complicated rules, so I'm not entirely sure if we can support this option. @btmills what do you think?

[2015-12-14 20:35] btmills commented on #4697
This wouldn't be too terribly difficult to implement as custom rules. Basically copy & paste the existing rule twice into two custom rules: `single-line-key-spacing` and `multi-line-key-spacing`. Add a quick check on the object literal in each whether it spans multiple lines. Then they can be configured separately.

[2015-12-14 20:47] Kepro opened #4698 "11:19 error Parsing error: Unexpected token ="
Hi i using 1.10.3 eslint on linux package from latest npm and i have error if
on static $inject =
npm version 1.3.6
node version v0.10.36
older version work's well

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29120234-11-19-error-parsing-error-unexpected-token?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=iss

[2015-12-14 20:49] gyandeeps commented on #4698
here is the answer: http://stackoverflow.com/questions/34125141/mysterious-eslint-parsing-error/34125219

[2015-12-14 20:49] bmeck opened #4699 "for..of should not allow const"
this is an error in firefox, and according to the spec only 1 immutable binding should be created (and as such it should not have different values per body iteration) :

http://www.ecma-international.org/ecma-262/6.0/#sec-runtime-semantics-bindinginstantiation

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29120284-for-of-should-not

[2015-12-14 20:59] Kepro commented on #4698
@gyandeeps och thanks for fast response!

[2015-12-14 20:59] #4698 closed

[2015-12-14 21:28] ilyavolodin commented on #4699
Duplicate of #4088 #3104 and a whole bunch of others. Basically browsers implement `const` incorrectly currently, that's why it's an error in Firefox and Chrome. This will change soon (I think Firefox might've already changed it in nightly). `const` is not immutable, only reference cannot change. Closing as this is working as intended.

[2015-12-14 21:28] #4699 closed

[2015-12-14 21:29] bmeck commented on #4699
@ilyavolodin still will affect Node LTS for a long time.

[2015-12-14 21:34] ilyavolodin commented on #4699
@bmeck True, but the decision was made not to suggest incorrect patterns to the users (based on the spec, no implementation).

[2015-12-14 21:35] bmeck commented on #4699
@ilyavolodin guess this is a bit awkward for me, because it caused people who did not know the spec to change and break code at the suggestion of `eslint`.

[2015-12-14 21:38] ilyavolodin commented on #4699
Sorry, I don't use ES6 so don't have hands on knowledge of the problem, just repeating what others stated:-)

[2015-12-14 21:43] rocketmonkeys commented on #2614
@ilyavolodin - nevermind, I just saw #3915 - it is broken as I thought.  I'll post more on that ticket.

[2015-12-14 21:44] rocketmonkeys commented on #3915
@mysticatea @nzakas - I just ran into this bug and I can see where it's happening.  Are either of you currently working on a fix?  If not, I might try my hand (since I just spent an hour digging through this code).

[2015-12-14 21:46] ilyavolodin commented on #3915
@rocketmonkeys I would submit PR anyways (if it's not going to take a long time to do), since even if somebody else will work on it, they can verify their fix against yours. It's also been 4 days since @nzakas posted his message.

[2015-12-14 23:15] calebmer opened #4700 "Extends support for non-prefixed modules"
Is it possible to have the `.eslintrc` `extends` key extend from any package, not just `eslint-config-*` ones? For example, my organization has a master style guide module published with name (for example) `myorg-styleguide`. It contains our CSS linting rules, HTML rules, and we would like it to also contain eslint rules. What would like to do is write an `.eslintrc` which looks like the following

[2015-12-14 23:19] nzakas commented on #4700
This isn't possible. We're sticking with the naming convention for making it easier for people to identify packages that are shareable configs on places on npm.

You can have a `@org/eslint-config` package, that currently works.

Another option is if you have your `myorg-styleguide` package installed as a dependency,  you can do:

[code]

In other words, you can use a file reference instead of a p

[2015-12-14 23:19] #4700 closed

[2015-12-14 23:19] nzakas commented on #4697
@btmills are you saying this wouldn't be a good candidate to include in the current `key-spacing` rule?

[2015-12-14 23:31] calebmer commented on #4700
@nzakas I highly disagree with this decision. For a module that aims to be as universal as possible, it is silly to think that same module would want to limit universality in this regard. BabelJS supports this very divergence from namespaced packages why not also allow it here?

I also consider it very rude that this proposal was immediately closed without any discussion whatsoever.

[2015-12-14 23:33] nzakas commented on #4691
Hmm, I'm not able to reproduce this. I'm using Node v0.10.40 and I see the error being thrown and the exit code is 8. I also tried on v0.10.41 and got the same.

Can anyone else verify this on Node 0.10 or 0.12?

[2015-12-14 23:36] terinjokes commented on #4691
I think @sindresorhus was able to reproduce when I asked if he'd seen it before (and `xo` being his package)

[2015-12-15 00:06] curioussavage opened #4701 "Docs: add a line to configuration docs explaining that you can't configure file extensions"
In relation to https://github.com/eslint/eslint/issues/2419 and https://github.com/eslint/eslint/issues/2388#issuecomment-98183996

I spent a good amount of time trying to figure out why my `.jsx` files were not being linted. Maybe a section explaining that file extensions must be specified as command line arguments AND cannot be specified in the config. Most other development tooling (that I have

[2015-12-15 00:52] ilyavolodin commented on #4700
@calebmer It's never our intention to be rude. This is a long-standing design decision, that we would be unwilling to change unless presented with very compelling argument. We get dozens of new issues per day, and we do our best to triage them as quickly as possible. That sometimes means closing issues that we don't feel have a chance to be implemented right away.

[2015-12-15 03:35] kaicataldo commented on #1086
Ended up being busier than I anticipated, but I'm still interested in doing this. I'm not entirely sure what my schedule is going to look like with the upcoming holidays, so if someone else wants to try their hand please feel free and leave a note here. Don't want to hold anything up :)

[2015-12-15 05:36] mysticatea opened #4702 "Rule Proposal: `no-import-reserved-word`"
In the spec, the following code is valid:

[code]

Because reserved words are allowed there.
But we cannot use those variables.

[code]

So this rule reports import declarations which are defining variables of reserved words.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29131129-rule-proposal-no-import-reserved-word?utm_ca

[2015-12-15 05:38] michaelficarra commented on #4702
Those are not valid. Look again.

[2015-12-15 05:51] seekshiva opened #4703 "Issue with automating linting"
I got this weird issue while trying to lint:

when I do `eslint jsx/**` in my [fish shell](http://fishshell.com), I get this:

[code]

I tried adding this line to the list of scripts in package.json, so that linting can be done by running `npm run lint`:

[code]

but the linter doesn't output any error or warning.

Today when I tried running the same command `eslint jsx/**` in a bash shell instead

[2015-12-15 05:53] mysticatea commented on #4702
Oh, you're right.
So, this is parser's bug.

[2015-12-15 05:53] #4702 closed

[2015-12-15 08:47] bryce-larson opened #4704 "comma-dangle problem using es6 imports with new line"
We are having issues with comma-dangle when are using really long es6 import statements that we wrap with new lines.

eslint: v1.10.3
rule: "comma-dangle": [2, "always-multiline"],
error: Missing trailing comma

[code]

We would like the first example not to error, since the following works with the same rule:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](http

[2015-12-15 08:47] seekshiva commented on #4703
I discovered that eslint only parses js files.

My .eslintrc has:

[code]
in it. Yet, eslint doesn't look at the jsx files.

[2015-12-15 08:53] evilebottnawi opened #4705 "Configuring eslint for ecma5 and ecma6 together"
I have big project with some modules in ecma5 and ecma6. Is it possible to make the configuring to cover eslint settings for ecma5 and ecma6 together. And to these settings, showed no errors on files ecma5: `no-var`, `object-shorthand`, `prefer-arrow-callback`, `prefer-const`, `prefer-reflect` and etc.
Set default specification for all files in .eslintrc.  Add possibility to set  language specific

[2015-12-15 09:28] seekshiva commented on #4703
Using `eslint --ext js --ext jsx ./jsx` now, after following instruction in https://github.com/yannickcr/eslint-plugin-react/issues/34#issuecomment-86511721

[2015-12-15 09:28] #4703 closed

[2015-12-15 09:59] dmcminn-vccp commented on #4274
:+1:

[2015-12-15 10:21] lo1tuma commented on #4705
It is currently not possible to configure parser options via comments in the source file. We need those options before we actually parse the file to be able to interpret the configuration comments.

What you could do, would be to enable all es2015 features in your eslintrc and then use the no-restricted-syntax rule in your es5 files.

[2015-12-15 10:26] evilebottnawi commented on #4705
@lo1tuma Files very much and constantly added new ones in different syntaxes, it is not possible to enable this option. Also i think it is not good solution.

[2015-12-15 10:53] lo1tuma commented on #4705
Can you explain why this options is not possible to use? Currently I don’t see any other solution.

[2015-12-15 11:02] evilebottnawi commented on #4705
@lo1tuma in ecma5 should be `"no-var": 0`, in ecma6 should be `"no-var": 2`. `no-restricted-syntax` not solution this issue.

[2015-12-15 11:45] mysticatea commented on #3869
My plan for options of this rule:

[code]

- `"before"` (`boolean`, default is `true`)
  - If `true`, this rule checks there are space(s) between a keyword and the previous token of the token. If there are not the space(s) followed by a keyword, it warns the keyword.
  - If `false`, this rule checks there are not space(s) between a keyword and the previous token of the token. If there are the spac

[2015-12-15 11:46] lo1tuma commented on #4705
Those rules could also be disabled via inline configuration.

[2015-12-15 11:58] mjschlot commented on #632
I realize that the jQuery question is a few months old, but I wanted to post some details for anybody who finds this page using a Google search. Instead of using '/* @this HTMLElement */' to avoid linting errors there is an alternative.

With event listeners like 'click' you can use 'event.currentTarget'.
http://api.jquery.com/event.currentTarget/

With jQuery functions like 'each' there are is a

[2015-12-15 13:00] evilebottnawi commented on #4705
@lo1tuma there are many disable for each file. This is extremely inconvenient.

[2015-12-15 13:04] rhpijnacker opened #4708 "Visual Studio compatible formatter"
Using eslint v1.10.3.

We would like to run eslint from within Visual Studio and be able to double click on the reported issues.
The report should look something like
`
folder\filename.js(123,56): [Warning] here goes the message (rule-name)
`
Actually, Visual Studio cares about the part up to the colon, the format of the message is arbitrary.

<bountysource-plugin>
---
Want to back this issue? **[

[2015-12-15 13:21] gajus commented on #2017
@jacobrask Thank you for making the plugin.

@nzakas I am struggling to see how is this different from http://eslint.org/docs/rules/sort-vars. Feels like it should be part of the core.

[2015-12-15 17:11] nzakas commented on #4705
@evilebottnawi your best option is to put ES6 files in a separate directory from ES5 files. Then, you can use different config files for each directory. We are exploring glob-based configuration (#3611), but that likely won't be ready for a while.

[2015-12-15 17:11] #4705 closed

[2015-12-15 17:16] nzakas commented on #4691
Sorry, was looking for responses from the team, basically someone who can reproduce and investigate.

[2015-12-15 17:17] nzakas commented on #3915
I was going to look at it today, but feel free to submit a PR

[2015-12-15 17:17] nzakas commented on #4701
Where would you excited to see this in the docs?

[2015-12-15 17:19] nzakas commented on #4704
Can you please provide the requested information?

[2015-12-15 17:22] nzakas commented on #4708
Is this just visual studio or do other editors use this format too? Is it possible to configure Visual Studio to use a different format?

[2015-12-15 17:27] nzakas commented on #3869
Sounds good, let's try to get this into 2.0.0.

[2015-12-15 17:27] mzgol opened #4710 "New rule suggestion: no-global-event"
Relying on `event` being global in event handlers may cause the page to not work in some browsers as it's a non-standard feature implemented fully mainly in Trident/EdgeHTML & WebKit/Blink. Many people would prefer to make sure one does *not* use the global variable and instead uses the parameter to the event handler as you can see in the discussion at #3964.

Since removing `event` from browser g

[2015-12-15 17:27] nzakas commented on #1086
Thanks @kaicataldo

[2015-12-15 17:30] #4523 closed

[2015-12-15 17:52] mzgol commented on #4710
The rule would warn in three cases:
1. When it encounters `global.event` anywhere.
1. When it encounters `window.event` anywhere.
1. When it encounters `event` used as a variable but not declared in current scope or any of its parents. For example, these patterns would result in an error:
[code]
[code]

These would not result in an error:
[code]
[code]

In some cases it might be purely-stylistic b

[2015-12-15 17:53] mzgol commented on #3964
You might all be interested in my `no-global-event` proposal: #4710.

[2015-12-15 17:56] fakewaffle opened #4711 "callback-return does not work with object methods"
I've read the documentation for the [rule](http://eslint.org/docs/rules/callback-return), but did not see anything related to this; nor could I find an issue.

**.eslintrc**
[code]

**callback-return.js**

[code]

**console**

[code]

Given the options I supplied to the rule, I would expect ESLint to give an error for `send.fail();`.

Thoughts?

<bountysource-plugin>
---
Want to back this issue? *

[2015-12-15 17:58] terinjokes commented on #4691
Oh, sorry.

I'll upload a small case that fails here in a few minutes.
On Dec 15, 2015 9:19 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-15 18:14] rhpijnacker commented on #4708
As far as I know it is not possible to configure VS to recognize other formats.
I do not know about other editors that use this same format.

[2015-12-15 18:17] gyandeeps commented on #4711
Based on the call it only works for `callee as Identifier` and not for `callee as MemberExpression`.

@eslint/eslint-team Thoughts?

[2015-12-15 18:24] nzakas commented on #4710
This rule is too specific to be included in the core. We are exploring creating a rule that allows you to configure which globals you want to flag: https://github.com/eslint/eslint/issues/4488

[2015-12-15 18:24] #4710 closed

[2015-12-15 18:26] nzakas commented on #4708
Can you point to any documentation about this format?

[2015-12-15 18:39] nzakas commented on #4711
I'm open to this enhancement.

@fakewaffle do you want to submit a pull request?

[2015-12-15 18:41] nzakas commented on #4710
Oops, I meant this one: https://github.com/eslint/eslint/issues/3966

@mzgol if you'd like to submit a PR for that, we'd welcome it.

[2015-12-15 18:41] nzakas commented on #4488
Duplicate of https://github.com/eslint/eslint/issues/3966

[2015-12-15 18:41] #4488 closed

[2015-12-15 18:42] rocketmonkeys commented on #3915
I have a fix, but not the tests; those are harder since I'm not nearly as familiar with the mocha/testing setup we have.  Can I just PR the fix as is, or do I need the test in there before I do anything?

[2015-12-15 18:50] rhpijnacker commented on #4708
https://msdn.microsoft.com/en-us/library/yxkt8b26.aspx

[2015-12-15 18:52] nzakas commented on #3915
You can PR the fix if you'd like to get feedback, we just can't merge until there are tests.

[2015-12-15 19:09] terinjokes commented on #4691
@nzakas & team:

I've pushed a repository where I can reproduce the issue for 0.12. https://github.com/terinjokes/eslint-silent-error.

I've not yet determined why I'm not able to reproduce the 0.10 issue.

[2015-12-15 19:09] rocketmonkeys commented on #3915
@nzakas - ok, prelim PR here: https://github.com/eslint/eslint/pull/4713

I'm guessing it's not complete, as this is my first dive into the code.  It works for my use-case (parent folder enables env, but subfolder disables it).  Not sure about others.  I'll work on the test, no idea when I'll have that done.

[2015-12-15 19:15] nzakas commented on #3915
I'm also going to dig into this.

[2015-12-15 19:40] nzakas commented on #3915
The root cause is that we are applying environment settings as files are being loaded, instead of waiting until all merging is complete. So basically, just have to wait until after merging to do that.

[2015-12-15 19:46] gyandeeps commented on #3915
Now that makes it sound simple :smile:

[2015-12-15 19:46] fakewaffle commented on #4711
@gyandeeps `v1.10.3`.

@nzakas Yes!

[2015-12-15 20:19] nzakas commented on #4660
@gkz @gyandeeps where are we on this?

[2015-12-15 20:22] silverwind opened #4715 "Greasemonkey environment"
https://github.com/sindresorhus/globals/commit/88058dac77e191cc0703b3cf5019bc202ea853d3 added support for the [Userscript API](http://wiki.greasespot.net/Greasemonkey_Manual:API) available in [Greasemonkey](https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/), [Tampermonkey](https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo) and compatible engines. I'

[2015-12-15 20:32] gyandeeps commented on #4660
I had the PR (https://github.com/eslint/eslint/pull/4663) but then found a bug. So @gkz decided that he will fix that bug on hid end and then make a PR here.

[2015-12-15 20:45] gkz commented on #4660
I will be dealing with this in one week - my last exam is on the 21st. I don't know if I'd label this issue a bug, it's more of a user interface issue. eg. I doubt anyone is entering `10.2` instead of `10` now, but using `10.2` would still get the user the desired results.

[2015-12-15 20:52] mysticatea commented on #3915
please remember this issue: https://github.com/eslint/eslint/issues/3735#issuecomment-141051376

[2015-12-15 21:19] #3915 closed

[2015-12-15 21:20] nzakas commented on #4660
Okay thanks

[2015-12-15 21:23] nzakas commented on #4691
My VM got corrupted thanks to a power failure. As soon as I set it back up, I'll check your example.

[2015-12-15 21:24] nzakas commented on #4715
:+1:

[2015-12-15 21:30] nzakas commented on #4708
Okay great, I think  this will be a good addition.

[2015-12-15 21:31] alberto commented on #3829
@nzakas what's your take on this? I don't think the fix introduces any overlap.

[2015-12-15 21:43] nzakas commented on #3829
Can you explain why you think there's no overlap?

[2015-12-15 21:43] nzakas commented on #3829
Or rather, no conflicts?

[2015-12-15 21:44] nzakas commented on #4692
Working on this.

[2015-12-15 21:52] alberto commented on #3829
I think there is already a possible conflict, where a semi is needed and autofixed by the `semi` rule, but not according to the config of `semi-spacing`. Adding autofixing for `semi-spacing` doesn't fix this, but I don't see how it would create any other conflict. Maybe you see something that I am missing here.

[2015-12-15 22:13] nzakas commented on #3869
Sounds like this would also fix: https://github.com/eslint/eslint/issues/4006

[2015-12-15 22:16] nzakas commented on #4704
Confirmed with default parser.

@bryce-larson a quick question: did you see the comment from eslintbot?

[2015-12-15 22:44] bryce-larson commented on #4704
@nzakas, missed that I am using:
  "parser": "babel-eslint"

[2015-12-15 23:20] brianac commented on #3493
I've also encountered the use case above, where we have objects in our parameters that are erroring when they shouldn't.

For now we're going to turn off the variable declarator and put our lets and consts on the same line.

Adding my vote for a exception for this as well. We'd appreciate it

[2015-12-16 01:50] #4692 closed

[2015-12-16 04:44] mysticatea commented on #1086
BTW, is there a rule for spaces followed by a dot?

[code]

If no, I prefer a rule like `dot-spacing` instead.
The rule is for spaces before and after a dot of MemberExpression.

[2015-12-16 12:33] #4715 closed

[2015-12-16 12:53] gyandeeps commented on #4089
@nzakas @ilyavolodin What should be done here?

[2015-12-16 12:54] gyandeeps commented on #3938
@eslint/eslint-team thoughts here?

[2015-12-16 12:56] gyandeeps commented on #3839
@gajus Can u plz answer the above question?

[2015-12-16 12:58] gyandeeps commented on #3832
Closing as this is the expected behavior and since this thread is dead with no real outcome. Feel free to reopen if needed.

[2015-12-16 12:58] #3832 closed

[2015-12-16 13:00] gyandeeps commented on #3652
@eslint/eslint-team thoughts?

[2015-12-16 13:01] gajus commented on #3839
No, I don't. It is covered by https://github.com/gajus/eslint-plugin-jsdoc.

[2015-12-16 13:05] gyandeeps commented on #3481
@denis-sokolov R u still interested and will be willing to work on this?
@ilyavolodin @nzakas we r doing this right? (Confused as this has accepted and proposal both)

[2015-12-16 13:06] gyandeeps commented on #3480
So far I am hearing that this is not feasible.
Any updates?

[2015-12-16 13:06] #3839 closed

[2015-12-16 13:15] gyandeeps commented on #3325
Currently I see this when I run eslint on a invalid javascript code.

[code]

Is this what is expected or are we looking for something more than this?

[2015-12-16 13:21] gyandeeps commented on #3068
@nzakas I think all the work has been done and this can be closed?

[2015-12-16 13:21] IanVS commented on #3325
This issue is about returning the source along with the message, so that formatters like [eslint-friendly-formatteer](https://github.com/royriojas/eslint-friendly-formatter#example-of-the-output) can show the code where the error occurred.

[2015-12-16 14:13] Shutnik opened #4720 "Add ability to prevent global variables definition"
Global variables is bad practice. Sometimes you can forgot to wrap variables into IIFE if you don't actually want them global.

For example

[code]

instead of

[code]

Proposed core rule testcase:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29176024-add-ability-to-prevent-global-variables-definition?utm_campaign=plugin&u

[2015-12-16 14:17] medains commented on #4606
As it happens this behaviour has changed in 1.9.0 anyway.

As a result of moving from "processPath" to relying on glob in
https://github.com/eslint/eslint/commit/1a7ae98df7c607c47f6c9c7fdb0784c0fae1d002
#4305

The **/*.js now does not match anything within a symlinked directory.  Interestingly, I've tried to restore the "follow symlinks" behaviour by passing the "follow" option to glob - and it do

[2015-12-16 14:44] denis-sokolov commented on #3481
@gyandeeps, this is accepted. That is, if anyone submits an efficient PR, it will be merged.
But my PR was not perfect and it fell off my radar. I should have free time in the holiday season, perhaps I'll clean it up then.

[2015-12-16 15:23] Stephn-R opened #4721 "Too many Spread operator definitions"
In `ecmaFeatures` alone, there are 3 options for managing the spread operator:

There are more uses throughout the tool and frankly this can be a bit confusing even though they capture specific use cases. I would suggest renaming them or combining them.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29178099-too-many-spread-operator

[2015-12-16 15:50] nzakas commented on #3068
Yes, good catch.

[2015-12-16 15:50] #3068 closed

[2015-12-16 15:53] nzakas commented on #4720
We are adding this in 2.0.0: http://eslint.org/docs/2.0.0/rules/no-implicit-globals

[2015-12-16 15:53] #4720 closed

[2015-12-16 15:54] nzakas commented on #4721
This is being changed in 2.0.0: http://eslint.org/blog/2015/12/eslint-v2.0.0-alpha-1-released/#language-options

[2015-12-16 15:54] #4721 closed

[2015-12-16 15:55] nzakas commented on #3325
@gyandeeps every other error has a `source` property returned. This issue is to add that for fatal errors.

[2015-12-16 16:01] nzakas commented on #3829
We shouldn't add more conflicts just because some already exist. What I'm looking for here is examples showing this would not conflict or that it would.

[2015-12-16 16:03] nzakas commented on #1086
@mysticatea I believe that is what is being proposed here.

[2015-12-16 16:08] nzakas commented on #4089
Let's add the option. It's nice and explicit.

[2015-12-16 16:09] nzakas commented on #3938
Up to @btmills

[2015-12-16 16:11] nzakas commented on #3652
On the fence. Anyone want to champion this?

[2015-12-16 16:13] nzakas commented on #3480
Yeah, I don't think we can support this. Sorry, all.

Remember, custom rules can be made to do whatever you want.

[2015-12-16 16:13] #3480 closed

[2015-12-16 16:14] nzakas commented on #4606
Hmm, that's strange. Thanks for the follow-up.

[2015-12-16 18:10] ilyavolodin commented on #4691
I was able to reproduce an issue with Node v0.12.7 but not with v0.10. I'm not 100% sure that's ESLint's issue. It feels like it's something off with Node itself.

[2015-12-16 20:37] nzakas commented on #4691
I'm sick in bed today,  but I wonder if this could be the issue: https://github.com/eslint/eslint/blob/master/bin/eslint.js#L67

If 0.12 changed his process exiting worked at all, this could be a race condition we are losing.

[2015-12-16 20:38] #4708 closed

[2015-12-16 20:38] regseb opened #4722 "Property ruleId not null to the lintings fatal."
Hi,

When `verify()` method return a linting fatal : the message doesn't contain the property `ruleId`. But in [documentation](http://eslint.org/docs/developer-guide/nodejs-api.html#linter), it's written that the property `ruleId` is `null` when the message is fatal: "*`ruleId` - the ID of the rule that triggered the messages (or null if `fatal` is true).*"

<bountysource-plugin>
---
Want to back

[2015-12-16 21:48] robcolburn opened #4724 "How-To: Performance Tuning"
Last week, a teammate extended our lint command to tell eslint to also evaluate our `json` files. Since that time, I've felt better that our code is better tested and less likely to have less surprises out in production.  However, some time later, I noticed the performance of our lint command slowed down dramatically.

[code]

I'd really like to trim that down, so I started looking for culprits…

[2015-12-16 21:54] terinjokes commented on #4691
@nzakas 0.12 is when `process.exitCode` was added. For 0.10 I've used https://github.com/isaacs/exit-code as a shim (which ends up doing the same logic as what you have, but conditionally)

[2015-12-16 22:23] ilyavolodin commented on #4724
ESLint doesn't not lint json files. You should be getting a syntax error for every json file that is being linted by ESLint. Right now, we output a bit too much into debug log, there is an issue #4631 to fix this. But you should still be able to grep for "Linting " which would get you the list of files that are being linted. There are also a few formatters out there that would output you the list

[2015-12-16 23:21] robcolburn commented on #4724
@ilyavolodin,

Ah, you're right! We apparently have [`eslint-plugin-json`](https://www.npmjs.com/package/eslint-plugin-json) in our package.

My problem here was that piping to grep didn't seem to have any affect on the screen output.  Not sure what bash thing I did wrong there