[2015-05-16 21:04] taion opened #2552 "no-shadow errors are thrown twice in ES6 class definitions"
As mentioned in #2547, against both 0.21.0 and 0.21.1 + #2547, I get

[code]

I expect to only see this error once.

[2015-05-16 23:57] ilyavolodin commented on #1631
If we want to remove `space-after-keywords` and replace it with `space-keywords` this issue should be marked as required for 1.0.0, since we want to avoid removing existing rules after 1.0.0

[2015-05-17 02:10] gyandeeps commented on #2512
I tested above code with 0.21.1 version and it works fine.

[2015-05-17 02:18] gyandeeps commented on #2342
@nzakas I think we can close this as looking at the comments there are no issue here.

[2015-05-17 03:02] ericelliott commented on #2454
Now there's a [custom ESLint rule](https://github.com/johnstonbl01/eslint-no-inferred-method-name) for this issue. Thanks for the discussion. =)

And thanks for making ESLint customizable. That is a very useful feature.

Cheers!

[2015-05-17 06:01] RubenVerborgh commented on #2342
I don't think closing is the appropriate action at this time; @nzakas said
above we probably need to add an exception.

On Sunday, May 17, 2015, Gyandeep Singh <notifications@github.com> wrote:

[2015-05-17 06:59] adriano-di-giovanni opened #2554 "Cannot read property 'ecmaFeatures' of undefined"
SublimeLinter eslint plugin by @roadhump issues this command

[code]

and I can read this error in Sublime Text's console. I tried to run the same command from terminal and I get the same error.

Eslint version is 0.21.1. Same behavior down to 0.20.0

[code]

[2015-05-17 14:39] ilyavolodin commented on #2554
Can you paste your `.eslintrc` file here please? Also, could you try running eslint on the same file from the command line and without --stdin? Just `eslint filename` and see if the same error occurs.

[2015-05-17 16:39] yourcelf commented on #2345
This is cropping up for me with eslint ``0.21.0``.

.eslintrc:

    {
      "ecmaFeatures": {
        "jsx": true
      },
      "env": {
        "browser": true,
        "node": true,
        "es6": true
      },
      "rules": {
        "no-unused-vars": [2, {"vars": "all", "args": "none"}],
        "no-var": true,
        "no-underscore-dangle": false,
        "quotes": false
      }
    }

scr

[2015-05-17 16:51] yourcelf commented on #2345
Nevermind. I clearly had a typo -- ``soureName`` -- and eslint correctly caught it.  Sorry for the noise.

[2015-05-17 16:56] #2522 closed

[2015-05-17 17:01] nzakas commented on #1631
Or we just add `space-before-keywords`. We need to be careful about adding more things into the 1.0.0 milestone or we might never get there.

I'd say if someone wants to drive this starting now, fine, but if it sits, then it will be post 1.0.0

[2015-05-17 17:04] nzakas commented on #2512
Thanks, closing.

[2015-05-17 17:04] #2512 closed

[2015-05-17 17:05] nzakas commented on #2342
Yeah, we need to add the exception for these loops.

[2015-05-17 19:43] gyandeeps commented on #2270
I think this syntax is incorrect, with that being said It should flag as an syntax error rather than error out. After investigating more I found out the library `doctrine` doesnt thow an syntax error.
I have opened an issue with them asking the question here : https://github.com/Constellation/doctrine/issues/106
If they fix this on their side (ideally they should) then we dont need to make any cha

[2015-05-17 20:13] adriano-di-giovanni commented on #2554
I tried running just `eslint filename`:

[code]

Please, find my `.eslintrc` below

[code]

Thanks in advance,
Adriano

[2015-05-17 20:17] gyandeeps commented on #2554
Looks like you set `chai` environment in your `.eslintrc` file.
We don't have builtins for `chai`.

[2015-05-17 20:22] adriano-di-giovanni commented on #2554
Uh. Simple as that? Sorry for taking your time.

Inviato da iPhone

[2015-05-17 20:24] #2554 closed

[2015-05-17 20:47] elwayman02 commented on #1666
What's the status of this?

[2015-05-17 21:20] denis-sokolov opened #2555 "New rule suggestion: require-style"
_Combining ideas of #2539, #2541, #2542 into one rule. If this looks good, we shall close the other proposals._

I would like to add a new rule to eslint - `require-style`.
It would allow enforcing a particular module structure by validating local file `require` calls against multiple possible options.

The rule is very specific to a particular workflow, and definitely should be off by default (th

[2015-05-18 00:38] andy-hanson commented on #2321
mzgol's idea would be great. 99% of the time I intend to use every parameter, so having to type an underscore for ignored parameters is fine.

[2015-05-18 01:18] nzakas commented on #2270
It's not a syntax error - that's valid JSDoc (the type is not required). This is a bug in our rule that should be fixed.

[2015-05-18 01:19] #2545 closed

[2015-05-18 01:20] nzakas commented on #1666
This issue is no longer being used (oops). Please see the 1.0.0 milestone for progress.

[2015-05-18 01:20] #1666 closed

[2015-05-18 01:21] gyandeeps commented on #2270
but its an syntax error if you do the same for `returns` tag.
That's why I thought this might be a bad syntax.

[2015-05-18 01:26] jesstelford commented on #1666
[Milestone 1.0.0](https://github.com/eslint/eslint/milestones/v1.0.0) (link for those who had trouble finding it like I did)

[2015-05-18 01:36] nzakas commented on #2270
I'm not sure about `returns`, but I know `param` definitely doesn't require a type. We are probably throwing an error because we are assuming a type will be there.

[2015-05-18 01:43] gyandeeps commented on #2270
what should be expected when this rule is applied on this code (for sure the rule code should not error)

[code]

[2015-05-18 04:01] michaelficarra opened #2556 "no-shadow ignores function and class names that shadow outer vars"
[code]

This should have a `no-shadow` error, but does not. Same goes for

[code]

[code]

[code]

This behaviour is undocumented and was introduced in [an upgrade of escope](https://github.com/eslint/eslint/commit/a0717687110bdfe544bb8ee6482347d588623116#diff-bb960ca8871dafb0bbd3959858e00231R42).

[2015-05-18 04:18] michaelficarra commented on #2342
I don't think we should make an exception for these. They *are* unused. You can disable the rule for this line. I believe a previous issue also proposed that particular names be exempt from this rule: `"no-unused-vars": [2, ["unused", "ignored", "_"]]`.

[2015-05-18 10:06] OliverJAsh opened #2557 "Add env: Service Workers"
Browsers are beginning to add service workers, which have a new scope: https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorkerGlobalScope

Could this be added as an env?

[2015-05-18 11:39] RubenVerborgh commented on #2342
It all depends on your exact definition of _used_. The variable is not _read_, no. But it is _written_ to. And there is no way to write this code without the variable, nor is it necessary to read it.

[2015-05-18 11:43] RubenVerborgh commented on #2342
Also note that there is no way to write a functionally identical piece of code without switching of at least one warning: either `no-unused-vars` or `no-undef` is raised. I think it should at least be possible to write this code without needing to ignore anything. This is regardless of style, because no alternative exists.

[2015-05-18 12:49] michaelficarra commented on #2342
We've already defined usage as a read. I'm claiming that this is not a common or important pattern. I would use `Object.keys(...).forEach(...)` for this.

[2015-05-18 13:02] RubenVerborgh commented on #2342
I would then suggest clarifying on http://eslint.org/docs/rules/no-unused-vars.html that `use` means `read`. Note that `Object.keys(...).forEach(...)` is not equivalent, as this takes `O(n)` whereas the code I list above takes `O(1)`.

[2015-05-18 13:24] btmills commented on #2557
This looks like a duplicated of #2442, which you'll be happy to know will be fixed in #2537.

[2015-05-18 14:13] fsmanuel commented on #2449
@nzakas I guess other descriptions should have different RegEx patterns.

[2015-05-18 14:20] timkendrick opened #2558 "Optionally relax `no-empty` restriction for catch blocks"
I know this has been covered [before](https://github.com/eslint/eslint/issues/2187), however I find the need for an "this page is intentionally left blank" comment in a `catch` block a bit irritating, and I assume I'm not alone in this.

Context: I'm currently thinking of making the switch from JSHint to ESLint for all my public and private projects, so we're talking about a couple of hundred thou

[2015-05-18 14:21] ilyavolodin commented on #2557
Pull request for this is already waiting approval. Closing in favor of #2442

[2015-05-18 14:26] ilyavolodin commented on #2342
Somewhat unrelated, @RubenVerborgh unless I completely missed something, code you posted above is also O(n) and is an exact equivalent of what @michaelficarra suggested.

[2015-05-18 14:50] mathieumg commented on #1661
@adamnbowen At least GitHub indicates it was an email reply. :smile:

@nzakas What @adamnbowen said follows suit with what I had in mind, I just didn't think about block comments. So in addition to my examples above:

Valid:

[code]

[code]

[code]

[code]

Invalid:

[code]

[code]

I guess there could be an argument made about which character, if any, is at the beginning of an intermediary commen

[2015-05-18 14:53] bathos opened #2559 "Elision + space-in-brackets"
With space-in-brackets set to "always", the following is considered an error:

    let [ , var2 ] = someArr;

Instead, eslint wants `[, var2 ]`. My hunch is that this is not intended behavior -- as far as I can tell, it's inconsistent with the rule settings. Initial elision was an obscure case when it only occurred in array literals, but it's pretty common in binding patterns for destructured assi

[2015-05-18 15:12] matthewwithanm commented on #2522
Thanks!

[2015-05-18 15:37] rizowski opened #2560 "New formatter"
Would you guys be up to having a new formatter that only prints out the file name count of errors / warnings and leave out the details?

Use case:
I have built [eslint-watch](https://www.npmjs.com/package/eslint-watch) so I can quickly watch a directory without needing to pull in dependencies of webpack or grunt. I have a bunch of files that need to be linted over time and cannot be addressed all

[2015-05-18 15:38] lo1tuma commented on #2557
AFAIK the ServiceWorker is something different that the web worker.

[2015-05-18 15:40] xjamundx commented on #2560
Is there any precedence for this in other linters of what something like this should look like?

[2015-05-18 15:51] rizowski commented on #2560
It would just be a simple output of something like this:
[code]
As for precedence, it is just a formatter. However the webpack eslint plugin does lint all files on load, so I could see the benefit of having a formatter that doesn't spit out all the details on a file.

[2015-05-18 15:55] smfoote opened #2561 "no-multi-spaces inside of strings"
The `no-multi-spaces` rule should ignore multi-spaces within strings (especially ES6 template strings).

Use case: I am using template strings to create white space [formatted compiled code](https://github.com/smfoote/tornado), and ESLint complains about the spaces.

[2015-05-18 15:58] RubenVerborgh commented on #2342
I don't want to start a code-complexity war here :wink:, but:
[code]
only needs to assign one value to `key` and then return, hence it can be implemented in `O(1)` (regardless of how concrete JavaScript engines do it).

The code I posted was a simplified example from a real-word function, which needs to return `true` when there is at least one key, and `false` when there is none. At the time of im

[2015-05-18 16:06] nzakas commented on #2270
Ah, yeah, that's definitely a parser bug.

[2015-05-18 16:07] #2505 closed

[2015-05-18 16:09] nzakas commented on #2556
Are you saying this may be an escope bug?

[2015-05-18 16:26] xjamundx commented on #2558
@timkendrick My understanding is that ESLint won't ever be able to to provide every rule or every exception people might want to have. It was setup as a platform to make it easy for teams to write their *own rules* that were right for them. If you'd like help setting up a custom rule that disallowed empty blocks, except for `catch` I'd be more than glad to help!

[2015-05-18 16:28] nzakas commented on #2558
Thanks for the feedback. It's worth pointing out that being unopinionated means that we don't force you to do anything, you can opt-out of anything ESLint is doing, including turning off any rule you don't like. You can also create and distribute your own rules if you don't want to use the built-in ones.

Being unopinionated *does not* mean we always do what is requested. We have a lot of users to

[2015-05-18 16:29] nzakas commented on #2557
You are correct.

[2015-05-18 16:30] nzakas commented on #2560
I'd suggest making that as a custom formatter. You can pass any npm/JS name to `-f` and it will work.

[2015-05-18 16:30] #2560 closed

[2015-05-18 16:32] xjamundx commented on #2559
+1 for teaching me what an `Elision` is. I've never heard the term before.

FYI the `space-in-brackets` rule is being split into 2 rules with #2226 and #2225.

It might be useful to bring this particular issue as part of the discussion there as they will probably tweak the rules a little bit during the split!

[2015-05-18 16:33] nzakas commented on #2559
This rule is going away, so we aren't doing any more work on it. See #2226

[2015-05-18 16:33] #2559 closed

[2015-05-18 16:34] nzakas commented on #2561
Can you please include:

1. The actual source code
1. Your configuration settings
1. The actual console output

Thanks

[2015-05-18 16:41] nzakas commented on #2342
The problem I see here is that turning off the rule around an area is the nuclear option, you could be missing other unused variables. I think we need an exception of some sort, and am open to suggestions.

[2015-05-18 16:44] smfoote commented on #2561
1. Source code:

[code]

2. Config settings:
[code]

3. Console output:
[code]

Notes:
- The error refers to the first line in the if statement
[code]
- I am using `babel-eslint`

[2015-05-18 16:58] michaelficarra commented on #2556
No. These are [explicitly ignored](https://github.com/eslint/eslint/blob/3fec4186a80d1345f6d1e7dfb11c84664ba663da/lib/rules/no-shadow.js#L42-L43) for some reason. The comment does not explain why. The "upgrade of escope" commit also changed unrelated things like this.

[2015-05-18 17:01] szarouski opened #2562 "incorrect no-unused-vars for jsx files"
eslint reports `Button` and `Item` as unused vars in case when their values come from arguments array instead of function arguments. Note that `Button` and `Item` are used in the jsx markup.

Example code
[code]

[2015-05-18 17:05] gyandeeps commented on #2562
Can paste the output of eslint for the above code?
What version of eslint you are using?
What kind of parser are you using?

[2015-05-18 17:09] timkendrick commented on #2558
Thanks for the responses, and sorry if I sounded snarky in my original comment. I wasn't saying that you should always do what is requested, however I saw that some people called for a rule that raises an error empty `catch` blocks, while some people wanted to maintain the previous (JSHint-compatible) behaviour of allowing empty `catch` blocks, so that's why I assumed adding an option to the rule

[2015-05-18 17:11] szarouski commented on #2562
Hi @gyandeeps, eslint version is `0.21.1`. Parser is `esprima-fb`, version `15001.1.0-dev-harmony-fb`. Output: ESLint: Button is defined but never used (no-unused-vars) ESLint: Item is defined but never used (no-unused-vars)

Thank you.

[2015-05-18 17:14] xjamundx commented on #2558
Yeah @timkendrick give me like 30 minutes and I'll post up the code for you here.

[2015-05-18 17:17] timkendrick commented on #2558
Thanks @xjamundx – that'd be amazing! I've read through the docs on adding rules, and it all makes sense, it's just my unfamiliarity with AST tokens that's holding me back... probably a good opportunity for me to learn something new!

[2015-05-18 17:27] xjamundx commented on #2558
Basically what you want to do is take the existing rule https://github.com/eslint/eslint/blob/master/lib/rules/no-empty.js#L27 and add `CatchClause` as one of the exceptions on that line.

1. Then rename the file to something like `no-empty-except-catch.js` and stick it in a `rules/` folder.
2. Enable the rules in your config with `no-empty-except-catch: 2` and disable the old rule.
2. Then make s

[2015-05-18 17:31] ilyavolodin commented on #2561
This is a known issue with `babel-eslint`. This shouldn't happen with default parser.

[2015-05-18 17:31] hzoo commented on #2562
Maybe checkout eslint-plugin-react? https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md

[2015-05-18 17:31] xjamundx commented on #2558
p.s. if you want to dive into eslint a bit checkout this video starting around the 10th minute https://vimeo.com/119903352

[2015-05-18 17:33] szarouski commented on #2562
@hzoo thank you sir, that should work. I'll check soon and report back.

[2015-05-18 17:37] ilyavolodin commented on #2558
@timkendrick Getting familiar with AST is actually very easy. Just use this tool: http://esprima.org/demo/parse.html

[2015-05-18 17:39] timkendrick commented on #2558
Thanks @xjamundx, that worked like a charm! I had no idea it'd be that easy.

Also thanks for the link @ilyavolodin, looks like a great way for me to finally get to grips with AST!

[2015-05-18 17:39] #2558 closed

[2015-05-18 17:40] xjamundx commented on #2558
Awesome @timkendrick glad that worked! You can also check out this other video I did if you want to learn more about ASTs:
https://skillsmatter.com/skillscasts/5778-don-t-be-scared-of-abstract-syntax-trees

[2015-05-18 17:49] timkendrick commented on #2558
Great, checking that out now. Thanks again!

[2015-05-18 18:10] hzoo commented on #2561
I can't seem to reproduce this using the code snippet/config with latest `eslint, babel-eslint`?

[2015-05-18 18:22] smfoote commented on #2561
@ilyavolodin I have read that the default parser can't handle ES6 syntax yet. Is that no longer the case?

[2015-05-18 18:24] hzoo commented on #2561
It can - one way is to add `"es6": true` to your `"env"`.

[2015-05-18 18:38] nzakas commented on #2562
Working as intended. You must use eslint-plugin-react to get this functionality.

[2015-05-18 18:38] #2562 closed

[2015-05-18 18:40] bdougherty opened #2563 "object-shorthand rule errors on getters and setters"
The following code generates an error with `"object-shorthand": [2, "always"]`:

[code]

Did a little digging and `node.shorthand === false` for those, so maybe the rule should exclude nodes where are `node.kind === "get"` or `node.kind === "set"`.

Using version 0.21.1.

[2015-05-18 18:50] michaelficarra commented on #2563
Sounds good to me.

[2015-05-18 19:14] smfoote commented on #2561
Thanks, that solves the problem for me.

[2015-05-18 19:14] #2561 closed

[2015-05-18 19:27] nzakas commented on #2556
They aren't unrelated - escope changed how things worked, so our code had to change accordingly based on the tests we already had.

[2015-05-18 19:32] nzakas commented on #2342
Passing an option is an option (ha!) but the problem with options is always how to do them in such a way that they make sense and aren't overly broad or narrow. Like, do you really want to always to exempt all `for-in` loops? What about this:

[code]

In this case, it's more likely than not that you meant to include `foo` somewhere in there and just forgot, so I'd want that to be flagged.

If we t

[2015-05-18 19:33] nzakas commented on #2563
Makes sense. In the future, please be sure to include the exact output from ESLint when reporting an issue.

[2015-05-18 19:41] RubenVerborgh commented on #2342
There seems to be no way in general to guard against the `doSomething(bar)` scenario. I'm afraid that exempting either all `for in` loops or none is the only realistic option. Perhaps adjusting the error message to `foo is assigned to but never read` might also bring clarity.

BTW For a couple of scenarios where this case occurs, see [this code](https://github.com/RubenVerborgh/N3.js/blob/v0.4.3/l

[2015-05-18 22:35] woodb commented on #2552
:+1: Glad I'm not the only one that was seeing this, thanks for creating the issue @taion

[2015-05-18 23:06] nzakas commented on #1661
Sounds good. Should we just allow this by default or should it be an option?

[2015-05-18 23:11] nzakas commented on #2342
We'd need a more generic message, as declarations aren't always assignments and I really don't want to special-case messaging for assignments.

We could maybe do `foo is declared but never read`.

I'm a bit concerned that using "read" instead of "used" is introducing more ambiguity, but I'd like to hear opinions on that.

[2015-05-18 23:20] michaelficarra commented on #2552
Well you're shadowing two bindings created from a single construct, so this makes sense. You could argue it's not necessary to warn about both shadowings, but then this would be an enhancement, not a bug.

[2015-05-18 23:22] taion commented on #2552
I just filed this as requested per https://github.com/eslint/eslint/pull/2547#issuecomment-102644231. I do think it's fairly unintuitive and confusing to see this error twice, though.

[2015-05-18 23:23] michaelficarra commented on #2342
I prefer the message use "used" as it does now. If someone doesn't understand that, the documentation should describe in detail what actually constitutes a "use" with examples.

[2015-05-18 23:26] nzakas commented on #2552
@michaelficarra which two bindings are you referring to?

[2015-05-18 23:30] nzakas commented on #2342
Yeah, I thought we had updated the docs at some point, but apparently not. We should do that.

So, circling back to the original point, I don't think it's safe to have a flag that blocks warnings for all `for-in` loops, and it doesn't appear that there's a simple pattern to flag, so I'm going to change this over to a documentation task.

[2015-05-19 00:35] ORESoftware commented on #2217
:+1:

[2015-05-19 05:44] mprokopowicz opened #2565 "Some way to specify rules per file path pattern"
I've following project structure:

[code]

component.js is some front-end script, component.test.js is a mocha test.
I need different globals in component and component.test and a few different rules (Like disabling no-unused-expressions in test, because of mochas ```expect(rejectedSpy).to.have.not.been.called;```

For now, I end up with putting all this exceptions in comments at the beginning of

[2015-05-19 06:08] gcochard opened #2566 "Need automated way to update git tags with release notes"
I have a PR ready for this. Just creating an issue to track it.

[2015-05-19 06:15] RubenVerborgh commented on #2342
So summarizing, there is no way to write the above piece of code without either disabling one of the warning globally or locally?

[2015-05-19 07:21] fpipita opened #2568 "no-shadow: shadowing in the TDZ should be allowed"
Hi,

adding the following spec to ```tests/lib/rules/no-shadow.js``` among the valid rules:

[code]
it fails with the error ```x is already declared in the upper scope.``` at ```line 1```, ```column 6```, which is where the ```x``` inside the block is declared.

Due to TDZ, the ```x``` in the outer scope cannot be accessed until its ```let``` declaration statement is evaluated, so we *might* allow

[2015-05-19 07:57] omerts opened #2569 "Plugins ignored when using eslint in node.js"
Hello,

I am using eslint in a node.js app, specifically using the verify method. In the config object I pass as a parameter, I am using the 'react' plugin.
When running my app I get the following error:
[code]
(I have eslint-plugin-react installed)

[2015-05-19 08:44] neemzy opened #2570 "one-var not triggering a warning for mixed syntax"
Hi,

I just noticed the `one-var` rule, when activated, does not trigger a warning for cases such as :

[code]

If the rule is partially respected (first line), the violation on the second line isn't detected.
I'm using ESLint v0.21.1.

Thanks !

[2015-05-19 08:48] ablin commented on #2570
:+1:

[2015-05-19 08:59] lo1tuma commented on #2570
I can reproduce this with the [online demo](http://eslint.org/demo/).

[code]

Doesn’t give a warning, but

[code]

gives **one** warning for `var four;`.

[2015-05-19 09:44] lo1tuma commented on #2569
`verify` doesn’t load plugins. You have to use the `CLIEngine` for this. Have a look at the [documentation](http://eslint.org/docs/developer-guide/nodejs-api#addplugin()) for more details.

[2015-05-19 09:52] lo1tuma commented on #2565
This is not supported yet, but was already mentioned in the [ESLint 2.0 wishlist](https://github.com/eslint/eslint/issues/2203#issuecomment-88654556).

[2015-05-19 10:36] ted-piotrowski opened #2571 "Typo in shareable-configs"
Example

[code]

has an extra } at the end of always

[2015-05-19 10:38] lo1tuma commented on #2571
You are talking about the [example in the documentation](http://eslint.org/docs/developer-guide/shareable-configs#creating-a-shareable-config), right?

[2015-05-19 10:41] goloroden opened #2573 "Bug in newline-after-var"
The following code snippet

    /*eslint-disable no-process-env*/
    var logLevels = process.env.LOG_LEVELS;
    /*eslint-enable no-process-env*/

results in an error of the `newline-after-var` rule. Basically, the rule is right, but I think that this is a valid exception to the rule.

[2015-05-19 11:27] ted-piotrowski commented on #2571
Yes, that's correct.

[2015-05-19 13:27] michaelficarra commented on #2563
@bdougherty do you want me to open a PR for you with the referenced commit?

[2015-05-19 13:29] michaelficarra commented on #2552
@nzakas see https://github.com/estools/escope/pull/65#issuecomment-103055176

[2015-05-19 14:12] gyandeeps commented on #2573
I intent of this rule was to have a new line after var which doesn't allow even a comment after that. But i see where you are coming from, I faced the same issue few days back but I ended up actually giving a newline.

[2015-05-19 14:20] goloroden commented on #2573
You're basically right, but especially if you have this single line as a single block (which contains only the two comments and this line), then an additional new line looks really strange.

[2015-05-19 14:23] gyandeeps commented on #2573
You can always turn off the rule in-line.

[2015-05-19 14:23] goloroden commented on #2573
Not sure what you mean by "in-line". Can you elaborate, please?

[2015-05-19 14:26] gyandeeps commented on #2573
Sorry, multi-tasking...

Here is what you can do:

[code]

or

[code]

[2015-05-19 14:28] mathieumg commented on #1661
I think it should be opt-in since it allows to circumvent a rule, technically speaking. I don't really mind honestly, if most people want it as a default it would be fine too.

[2015-05-19 14:28] goloroden commented on #2573
Ah, okay, thanks :-)

[2015-05-19 14:54] michaelficarra commented on #2568
Yep, this looks like a bug.

[2015-05-19 15:04] gyandeeps commented on #2573
I am going to close this issue as I think we are good.
feel free to reopen if you have concerns.

[2015-05-19 15:04] #2573 closed

[2015-05-19 15:41] lo1tuma commented on #2573
[code]
This would be even more easier.

[2015-05-19 15:46] gyandeeps commented on #2573
@lo1tuma :+1:  :100:
This is the best solution.

[2015-05-19 15:59] goloroden commented on #2573
@lo1tuma Good idea, thanks :-)

[2015-05-19 16:18] rabbitfang opened #2575 "no-trailing-spaces does not properly handle skipBlankLines"
When running
[code]

with `test.js` as (where `_` is a space and `>` is a tab character)
[code]

outputs the following:
[code]

which is incorrect. The expected outcome is
[code]

This is being caused by the [regex used for detecting trailing whitespace](https://github.com/eslint/eslint/blob/master/lib/rules/no-trailing-spaces.js#L32).

[2015-05-19 16:41] ultrafez commented on #2135
I've encountered another use-case for whitelisting, and that is when working with an API that uses fields beginning with underscores. My particular use-case is that I'm working with an API that exposes MongoDB objects, which have the key "_id", which would be the perfect candidate for whitelisting.

[2015-05-19 16:44] nzakas commented on #2342
Correct.

[2015-05-19 16:46] #2569 closed

[2015-05-19 16:46] #2565 closed

[2015-05-19 16:47] #2571 closed

[2015-05-19 16:48] nzakas commented on #2552
Oh wow, had no idea that was the case. Thanks for explaining.

Even so, this behavior is confusing, so we should fix it.

[2015-05-19 16:52] nzakas commented on #1661
OK, let's make it opt-in

[2015-05-19 16:54] taion commented on #2552
Is that also the root cause of #2545, then? Would be good to take out the special-casing logic there if this can be resolved, if so.

[2015-05-19 16:55] rlidwka commented on #1661
I think it should be the default, because I know of no reason why somebody would want to explicitly split URLs.

[2015-05-19 16:59] nzakas commented on #2552
Looks like it may be.

[2015-05-19 18:25] sunjay opened #2576 "no-unused-vars does not account for destructing assignment"
http://eslint.org/docs/rules/no-unused-vars.html

The use of arguments here does not account for destructing assignment. Only functions.

Here's an example of what should be valid:

    for (const [arg1, arg2] of args) {
        console.log(arg2);
    }

In this case, there should be no error for arg1 even though it isn't used.

[2015-05-19 18:37] michaelficarra commented on #2576
No, you can use elision in this position, unlike function parameters.

[2015-05-19 18:38] xjamundx commented on #1344
A pretty early implementation, with very few tests, but it works for the basic cases so far.

[2015-05-19 18:40] sunjay commented on #2576
Cool! I did not know about that feature. Thanks!

For anyone who lands on this

    for (const [, arg2] of args) {
        console.log(arg2);
    }

is a valid way of handling the problem.

[2015-05-19 18:40] #2576 closed

[2015-05-19 20:08] pixeldrew opened #2577 "ES6 'no-unused-vars' ignore unused import declarations"
Would like to add an option to the 'no-unused-vars' rule to ignore unused imports.

For instance:
[code]
I see this as useful as there are many libraries that add to global objects that are required before the original global object is imported.

[2015-05-19 21:46] michaelficarra commented on #2577
:-1:. Use `import 'plugin'`.

[2015-05-19 23:38] mysticatea commented on #2405
I implemented this: https://github.com/estools/escope/pull/65
I will send a PR to upgrade after released it :)

[2015-05-19 23:40] mysticatea commented on #2310
I implemented this: https://github.com/estools/escope/pull/65
I will send a PR to upgrade after released it :)

[2015-05-19 23:59] #2563 closed

[2015-05-20 00:02] nzakas commented on #2577
Agree with @michaelficarra, there's already a way to support that case with regular syntax, so there's no need for a rule exception.

[2015-05-20 00:02] #2577 closed

[2015-05-20 00:02] nzakas commented on #2405
Awesome!

[2015-05-20 00:02] nzakas commented on #2310
:+1:

[2015-05-20 00:36] ilyavolodin commented on #2575
Which version of ESLint are you using?

[2015-05-20 01:40] ilyavolodin commented on #2575
I was able to reproduce this with the default parser and latest version of ESLint. Seems like a bug to me.

[2015-05-20 02:17] ilyavolodin commented on #2100
One more thing that I just though of. Would --reset by default disable plugin defaults as well? I'm pretty sure right now it doesn't (I don't remember writing any code for that, when I implemented plugin defaults).

[2015-05-20 03:37] xjamundx commented on #2100
I assume they shouldn't apply to plugins, because those are already opt-in?

[2015-05-20 05:35] xjamundx commented on #2543
Also with regard to the `default` options. We'll want to be able to turn them on from the command line easily.

[2015-05-20 05:44] mmahalwy commented on #2409
@mikehaas763, @nzakas is there a way to let the exit codes surface but without failing npm? So, I'd like to run the script via something else (git) and not have it break everything because it errors out.

[2015-05-20 05:47] michaelficarra commented on #2409
`eslint ...; exit 0`?

[2015-05-20 06:07] mmahalwy commented on #2409
@michaelficarra BO$$

[2015-05-20 15:01] samjewell commented on #2310
+1 for this

[2015-05-20 15:26] brad-decker commented on #2568
I just ran into this issue myself. If we could get an override option relating to TDZ that might be the best way to handle it so people can determine how to handle the TDZ for their projects.

[2015-05-20 15:58] lo1tuma commented on #2570
I think there is also a bug in an existing test-case: [`function foo() { var bar = true; var baz = false; var a; var b;}`](https://github.com/eslint/eslint/blob/40353732976da89e8902b6839e625f044ab4ed7d/tests/lib/rules/one-var.js#L319) with options `uninitialized: "always", initialized: "always"` is expected to only have 2 errors, but IMHO this should have 3 errors.

[2015-05-20 16:06] nzakas commented on #2100
Hmm, I'd say it shouldn't apply plugin rules, either.

[2015-05-20 16:07] nzakas commented on #2543
@xjamundx `-c "eslint:default" would do that

[2015-05-20 16:18] nzakas commented on #2568
My concern is that TDZ is not a well known concept right now, so I think our starting position should be to allow these patterns by default (principle of least surprise). Once it's been out in the wild for a bit, we will have a better understanding of whether an option is necessary.

[2015-05-20 17:18] #2508 closed

[2015-05-20 18:58] #1742 closed

[2015-05-20 18:59] #2442 closed

[2015-05-20 20:00] pixeldrew commented on #2577
ah, good to know. Thanks

[2015-05-20 22:02] ilyavolodin opened #2582 "Change Travis config to use docker"
Our builds are taking forever right now, so we should add
[code]
to travis config file, to force it to use docker, instead of spinning up new VM every time.

[2015-05-20 22:31] hzoo commented on #2582
nice!

[2015-05-21 01:33] #2582 closed

[2015-05-21 06:49] wincent opened #2584 "Teach `capIsNewExceptions` to grok "Foo.Bar""
I'm currently using the following config to prevent eslint from complaining about the "immutable" module's factory methods:

[code]

These are methods which you call like this:

[code]

The trouble is, if I want to use something like `Immutable.Map`, then I need to add `Map` to the list of exceptions too, which means that calls to the *native* `Map` constructor with a missing `new` keyword will no

[2015-05-21 08:34] omerts opened #2585 "Trying to use eslint in browser"
Hello,

I am trying to lint in a browser, and I have set the env config to browser: true, but I get errors because the eslint rule loader is trying to read files using fs, which isn't available in the browser.

[2015-05-21 09:43] segrey commented on #2365
Probably, eslint could change how it uses minimatch. For instance, eslint could pass paths relative to working directory, like it does for other files.
That would allow to enable the same behavior regardless of how a path to a given file is specified.
[code]

[2015-05-21 10:57] LinusU commented on #2584
Is there a reason why you aren't typing `let myList = new Immutable.List();`? Babel allows you to instantiate classes without `new` but the ECMAScript 6 standard says to throw a `TypeError`.

[2015-05-21 10:57] lo1tuma commented on #2585
You could use browserify or webpack to create a bundle which can be executed in the browser. This is what we are doing for our [online demo](http://eslint.org/demo/). This approach has some caveats, e.g. plugins are not supported that way.

Except for our online demo we don’t have any plans to provide a browser version of ESLint.

See also this [discussion](https://groups.google.com/forum/#!topic/

[2015-05-21 10:59] LinusU commented on #2584
[Sect. 9.2.2 in the spec](https://people.mozilla.org/~jorendorff/es6-draft.html#sec-ecmascript-function-objects-call-thisargument-argumentslist)

[2015-05-21 11:23] omerts commented on #2585
@lo1tuma, I am already using webpack. It looks like webpack bundles the fs usage into the compiled file.

[2015-05-21 13:49] #2570 closed

[2015-05-21 13:50] wincent commented on #2584
Yep, I'm aware of that. These aren't class constructors; they're factory
functions, like `Symbol`. See the very similar
https://github.com/eslint/eslint/issues/2023#issuecomment-80255655 for some
more context.
On Thu, May 21, 2015 at 3:59 AM Linus Unnebäck <notifications@github.com>
wrote:

[2015-05-21 13:52] nzakas commented on #2585
You can't use ESLint directly with webpack or browserify without modification. Your best bet is to check out the repo and run `npm run browserify` to create a browser version that works.

[2015-05-21 13:52] #2585 closed

[2015-05-21 13:56] denis-sokolov commented on #987
#2581 has been denied for performance reasons.
I might, of course, be wrong, but it seems to me there were no major algorithmic improvements possible to my implementation, which suggests this issue can be closed as there is no way to implement this.

[2015-05-21 14:30] LinusU commented on #2584
Hmm, interesting. I've never seen factory functions that are just the name with capital first char before. I wonder what the reasoning behind `Symbol` where...

[2015-05-21 16:45] gcochard commented on #2503
@nzakas I'd be willing to take a look at automating this if you share the code for the bot you wrote.

[2015-05-21 17:30] ilyavolodin commented on #2503
Btw, jQuery has a bot that checks for CLA, I wonder if they open-sourced it.

[2015-05-21 18:09] ilyavolodin commented on #2503
They did: https://github.com/jquery/jquery-license

[2015-05-21 18:16] michaelficarra commented on #2585
Maybe we should split the CLI portion of the project into its own module that consumes this one so we have a clear separation of responsibilities? (I know this is never going to happen, but I just couldn't live with myself if I didn't put it out there -- it's the right thing to do).

[2015-05-21 21:02] cwrea opened #2588 "Add spaced-line-comment option to ignore triple-slash introducing XML doc comments"
Microsoft's Visual Studio has supported the concept of "XML Documentation Comments" [since the advent of C#](https://msdn.microsoft.com/en-us/magazine/cc302121.aspx) in 2002. Microsoft later added support for [JavaScript XML doc comments](https://msdn.microsoft.com/en-us/library/bb514138.aspx) to Visual Studio 2008. XML doc comments for JavaScript are:

[code]
Such comments don't merely feed into

[2015-05-21 21:07] nobleach opened #2589 "no-eq-null rule ignored"
I have tried specifying the rule inline via eslint comment:

`/*eslint no-eq-null:0 */`

And finally tried setting its value to 0 in my .eslintrc. I'm still getting an error/exit code 1 when running eslint.

![screenshot 2015-05-21 15 01 28](https://cloud.githubusercontent.com/assets/217134/7759000/174620d0-ffcb-11e4-9f3e-2973e56e4c49.png)

[2015-05-21 21:26] #2589 closed

[2015-05-21 21:27] nobleach commented on #2589
Found a rogue inline comment re-enabling it.

[2015-05-21 21:55] ilyavolodin commented on #2588
Could you provide configuration for this rule as well as console output of the error for the code above. Have you tried setting `spaced-line-comment: [2, never]`?

[2015-05-21 22:00] ilyavolodin commented on #2557
@OliverJAsh We rely on [globals package](https://github.com/sindresorhus/globals) to provide list of global variables available in different environments. They do not currently have ServiceWorkers. You will need to file a ticket with them in order for us to add it to ESLint.

[2015-05-21 22:13] gcochard commented on #2588
I suppose there could be some value in allowing an exception to this rule to allow arbitrary text *after* a pattern.

Currently, it only allows the exception to be repeated to the end of the line. Maybe if it sees a space after an exception block, all is good? That way there could be an exception for `/` and then this use-case would work.

Adding another value to the `[always, never]` enum like `l

[2015-05-22 02:32] ilyavolodin opened #2590 "Low coverage"
We are currently one branch away from hitting coverage threshold. I think that's a bit too low, and might prevent people from creating pull requests if they can't pass `npm test`.

[2015-05-22 04:18] dominicbarnes opened #2592 "Shared config doesn't cascade properly"
I've been trying to isolate this bug, but it seems to only occur under very specific conditions. I'll continue trying to boil this down, but for now I'll report what I know.

I have a company shared-config, with 2 modes: `node` and `browser` Our app's config hierarchy looks like:

 * `.eslintrc`: `{ extends: "segment/node" }`
 * `app/client/.eslintrc`: `{ extends: "segment/browser" }`

When ESLint

[2015-05-22 10:08] lo1tuma commented on #2590
If this issue is only about allowing people to contribute code with bad coverage then I vote for 'won't fix'.

I agree that the coverage could be increased but then we should also increase our thresholds for `check-coverage`.

[2015-05-22 11:40] OliverJAsh commented on #2557
Tracking https://github.com/sindresorhus/globals/issues/31.

On Thu, 21 May 2015 at 23:00 Ilya Volodin <notifications@github.com> wrote:

[2015-05-22 13:27] MethodGrab opened #2594 "Multiple scoped shared configs require the prefix"
ESLint v0.21.2
Relevant code: ([#config.js#84](https://github.com/eslint/eslint/blob/master/lib/config.js#L84]))

### Expected:
Multiple, **scoped**, shared configs in a single module should be extendable from a `.eslintrc` without the `eslint-config-` prefix (as non-scoped configs are).

Assuming a module called `eslint-config-test` with a default config `index.js` and a sub-config `modern.js` th

[2015-05-22 13:38] gyandeeps commented on #2592
What version of eslint are you running?

[2015-05-22 13:57] ilyavolodin commented on #2590
@lo1tuma You are not taking into account branch coverage vs. statement and line coverage. I don't want to create a buffer for line/statement coverage, but brunch coverage is different. It's actually very easy to create fully tested code that still misses a branch or two here and there. We also had a pretty significant discrepancy between line coverage and branch coverage (branch coverage was quite

[2015-05-22 13:58] dominicbarnes commented on #2592
It is the latest version, `0.21.2`

[2015-05-22 14:04] gyandeeps commented on #2592
based on how you have solved this problem in your PR, it tells me that `assign` module does a shallow copy and not a deep copy.
Because if it does a deep copy then this problem should not come up.
I am saying this based on how you have solved the problem as I still have to look at the code at runtime.

[2015-05-22 14:06] dominicbarnes commented on #2592
Gotcha, yeah `object-assign` is definitely a shallow copy.

[2015-05-22 14:07] ilyavolodin commented on #2592
@gyandeeps You are correct. `object-assign` is only shallow copy.

[2015-05-22 14:11] gyandeeps commented on #2592
@ilyavolodin I agree. If we have a way to do a deep copy without including a new dependency then it awesome.

[2015-05-22 14:24] dominicbarnes commented on #2592
Do you guys mean something like:

[code]

instead of:

[code]

[2015-05-22 14:28] dominicbarnes commented on #2592
I've updated my PR accordingly, it appears to solve the problem equally well :)

[2015-05-22 14:28] ilyavolodin commented on #2592
To be more specific
[code]
But yes, mergeConfigs was created to do deep copy of config objects.

[2015-05-22 15:57] gyandeeps commented on #1016
Any update on how we are managing this as this issue has been opened for a long time now.

[2015-05-22 15:59] gyandeeps commented on #1636
@ilyavolodin @nzakas I think an agreement was reached here but we are missing the appropiate labels here.

[2015-05-22 16:09] gyandeeps commented on #1914
@okeydoke is this still an issue? I am going to close this issue now but if you feel this is an issue with eslint then please feel free to open this issue back again.

[2015-05-22 16:09] #1914 closed

[2015-05-22 16:12] lo1tuma commented on #2590
How is branch coverage different? And why do you call code "fully tested" if a coverage tool shows you that you missed one ore more branches?

[2015-05-22 16:14] bhamodi commented on #1787
+1. Also interested in an auto fix option. However, I'd like to be able to specify a certain rule to auto fix, not all of them. For example, just fixing all the semicolon and comma rule violations would be awesome.

[2015-05-22 16:24] michaelficarra commented on #2590
@ilyavolodin not only is that insufficient, but even if you had full branch coverage, you should also consider all paths through branches and all possible values at each branch. Partial branch coverage is *incredibly* far from "fully tested" code, at least in my book.

[2015-05-22 16:41] nzakas commented on #2585
There's already a very clear separation of responsibilities in the repo: http://eslint.org/docs/developer-guide/architecture

Not sure another module would have any benefit since the architecture would be the same.

[2015-05-22 16:43] nzakas commented on #987
I agree. This has been open nearly a year and we aren't even close, so likely won't happen.

[2015-05-22 16:43] #987 closed

[2015-05-22 16:49] btmills opened #2595 "Automatically validate rule options"
Pulling this back into an issue from #2179.

Now that we have the validator from #2523 and schemas from #2580, we can enable automatic validation. How should eslint-tester verify the tests?

[2015-05-22 16:50] nzakas commented on #2503
Looks like just the guts, not the actual not.

[2015-05-22 16:56] xjamundx commented on #2318
I'm with @nzakas in that a rule that checks for `require` outside of the global scope might be a good idea, essentially enforcing `import` rules. @Alaneor do you think that would be at least a good starting point? I still think the name is probably accurate, despite the limited feature set.

[2015-05-22 16:57] gcochard commented on #2503
I think it's enough to go off of. Would the `release` function of `Makefile.js` be a good place to put this?

[2015-05-22 16:58] gcochard commented on #2503
Also, @nzakas can you put up a one-line sample (my entry or bogus data is fine) of the google spreadsheet that is currently serving as the CLA?

[2015-05-22 17:00] nzakas commented on #2588
From what I can tell, there is no false positive here. It's a true positive because the third slash doesn't have a space before it. The third slash is part of the comment value, not a syntax hint.

I dont like the idea of an "anything goes" option, as that could bite people accidentally. This is still a line comment, so the question is if it makes sense to consider the third slash as part of the c

[2015-05-22 17:01] #1638 closed

[2015-05-22 17:03] nzakas commented on #2594
Looks like a bug.

[2015-05-22 17:05] nzakas commented on #2592
@ilyavolodin @gyandeeps have either of you confirmed that this is a bug?

[2015-05-22 17:07] nzakas commented on #1016
Let's just close it - it's been open almost a year without any progress.

[2015-05-22 17:07] #1016 closed

[2015-05-22 17:08] gcochard commented on #2594
Should it be inserting the `eslint-config-` after the *first* slash, rather than *last*?

[2015-05-22 17:09] ilyavolodin commented on #2592
I haven't tried it myself, but looking at the code, and knowing that @gyandeeps confirmed it last time, this sounds about right.

[2015-05-22 17:10] nzakas commented on #1636
Updated

[2015-05-22 17:14] ilyavolodin commented on #2590
Just an overly simplified example:
[code]
If you just cover happy path (pass in parameter), one branch out of two is going to be uncovered. It isn't fully tested code (I agree), however, do you really have to test unhappy path, and does that test provide any value? I know it's over-simplified code, but still. In a lot of cases, branches are created as defense mechanism, that will not ever get hit.

[2015-05-22 17:14] Alaneor commented on #2318
Hi guys!

Yup - I think that limiting the scope of this proposal to only check for `require`s in the global scope is a very good start.

Perhaps the rest is not really needed (or I will consider a separate proposal).

How do we proceed next? I am unsure if I can be of much assistance in the implementation phase, though I did write some tests in a [different PR](2314) for this. Perhaps I can reuse

[2015-05-22 17:16] nzakas commented on #2595
What do you think eslint-tester's job is in this regard? What are we trying to accomplish?

[2015-05-22 17:19] nzakas commented on #2503
My concern is that this appears to require the spreadsheet to be publicly accessible, and I don't like that - I don't want to have a list of emails anyone can peruse at their leisure.

[2015-05-22 17:19] nzakas commented on #2594
Yup

[2015-05-22 17:21] nzakas commented on #2592
Ok, marking as a bug

[2015-05-22 17:23] nzakas commented on #2590
Yes, you have to read unhappy path - that's usually where bugs hide.

[2015-05-22 17:23] nzakas commented on #2590
Er, test unhappy path

[2015-05-22 17:26] nzakas commented on #2318
Ok, let's go with `global-require` as the rule name. You can either take a stab at it, or we can leave it open for implementation. New rules are very low priority right now for the core team, so I'd suggest talking a stab at it or out could be a while.

[2015-05-22 17:30] gcochard commented on #2503
I'll look into the spreadsheets API and see if you can get at private data with an access token.

[2015-05-22 17:34] gcochard commented on #2594
I'll take this.

[2015-05-22 17:38] gyandeeps commented on #2009
Closing this as the suggestion was to make it as a custom rule.

[2015-05-22 17:38] #2009 closed

[2015-05-22 17:39] gyandeeps commented on #2011
Any update on this guys as I see this is not accepted yet.
CC @ilyavolodin @nzakas @lo1tuma @xjamundx

[2015-05-22 17:44] gyandeeps commented on #2086
I am going to close this issue as @xjamundx was to able to reproduce this issue.
@tracker1 Feel free to reopen this issue if you think this issue still exists.

[2015-05-22 17:44] #2086 closed

[2015-05-22 17:46] gyandeeps commented on #2108
@ndhoule any update on this?
Please reoen this issue if you want to continue the discussion this topic.
Thanks

[2015-05-22 17:46] #2108 closed

[2015-05-22 17:49] #2184 closed

[2015-05-22 17:51] gyandeeps commented on #2198
As there has been no progress on this discussion, I am going to close it as the suggestion was made to  create a custom rule.
Feel free to reopen this issue if needed for further discussions.

[2015-05-22 17:51] #2198 closed

[2015-05-22 17:53] gyandeeps commented on #2215
Going to close this discussion as the problem will be solved by issue: https://github.com/eslint/eslint/issues/2225

[2015-05-22 17:53] #2215 closed

[2015-05-22 17:58] gyandeeps commented on #2321
@nzakas I think we have all the info to make a decision and add the appropriate labels here.

[2015-05-22 18:01] gyandeeps commented on #2339
@nzakas should we close this?

[2015-05-22 18:03] gyandeeps commented on #2387
I am going to close this as I think the initial issue was resolved.
Feel free to reopen if it needs more discussion.
Thanks

[2015-05-22 18:03] #2387 closed

[2015-05-22 18:03] ilyavolodin commented on #2339
Related to #2134

[2015-05-22 18:14] gyandeeps commented on #993
@nzakas I think we nearly made a decision here (I am not sure tho)
I think we should add the appropriate labels if we are going to do this.

[2015-05-22 18:15] gyandeeps commented on #1086
@nzakas Based on the comments I think we are missing the `enhancement` label here. right?

[2015-05-22 18:19] btmills commented on #2595
Since we pulled validation out of `validate`, anything that accepts options is responsible for validating them. Because eslint-tester calls `validate` directly, eslint-tester will somehow need to call (either directly or indirectly) the `validateRuleOptions` method of `config-validator`. In #2179, adding a private API to eslint was discouraged, so I passed a reference to the validation function as

[2015-05-22 18:22] gyandeeps commented on #1787
I am going to close this issue as this is one of the items on this issue: https://github.com/eslint/eslint/issues/2203
For further discussions lets talk on the above mentioned issue.

[2015-05-22 18:22] #1787 closed

[2015-05-22 18:41] mathieumg commented on #2011
@gyandeeps https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-quotes.md  I think any rule React/JSX-related now lives in that repo.

[2015-05-22 18:52] gyandeeps commented on #2011
Sounds good.
@lo1tuma Should we close this issue then?

[2015-05-22 19:19] MethodGrab commented on #2594
Thanks for the confirmation and quick work on a fix! :+1:

[2015-05-22 19:39] gyandeeps commented on #2006
closing this as we have not received any feedback.
Feel free to reopen.

[2015-05-22 19:39] #2006 closed

[2015-05-22 20:04] lo1tuma commented on #2011
I still think this rule should be in ESLint, because it doesn’t have anything todo with react. I doesn’t makes sense to use `eslint-plugin-react` if you only use JSX but not react.

[2015-05-22 20:29] gyandeeps commented on #2331
@tikotzky Are you planning on working on this?

[2015-05-22 20:40] xjamundx commented on #2011
What is the use case for JSX without React?

test.js
[code]

command line
[code]

[2015-05-22 20:47] ilyavolodin commented on #2595
Would it be an option to separate out validator into it's own package? I'm not really sure it's a great idea, but that would simplify everything quite a bit.

[2015-05-22 20:51] ORESoftware opened #2598 "func-names included as stylistic but can issues for code correctness"
In the ESLint docs, in the rules section it mentions "func-names":

func-names - require function expressions to have a name (off by default)

as a stylistic concern.

However, eliminating anonymous functions in JS can be very useful for code correctness as far as debugging goes. So I think putting "func-names" in the stylistic concerns section is more than style problem :)

[2015-05-22 20:55] ilyavolodin commented on #2598
I agree. I think it might fit better under `Best Practices`.

[2015-05-22 21:06] ORESoftware opened #2599 "throw warning for same line variable declarations"
I would like my codebase to throw a warning for this type of code:

`var x = 5, y = 7, z = 4; //bad`

also maybe throw a warning for this also

`var x = 5; var y = 7; var z =4;  // this is bad also (all declars are on same line)`

how can I throw a warning for these types of variable declarations with ESLint?

I cannot find it in the docs..thanks

what I am looking for is to simply enforce this:

[2015-05-22 21:14] lo1tuma commented on #2011
I don’t know what CLI tool you are using, but JSX is just a [specification](https://facebook.github.io/jsx/) of a JavaScript syntax extension, without saying anything about react.
There are some other frameworks like mithril which [could be written in JSX syntax](https://www.npmjs.com/package/msx-optimized). Other examples: [virtual-dom-jsx](https://www.npmjs.com/package/virtual-dom-jsx), [mercury

[2015-05-22 21:31] lo1tuma commented on #2599
What about [newline-after-var](http://eslint.org/docs/rules/newline-after-var).

[2015-05-22 21:32] tikotzky commented on #2331
@gyandeeps definitely  won't be able to get to it before late next week. Feel free to tackle it if you'd like.

[2015-05-22 21:32] ilyavolodin commented on #2599
If I'm not mistaken you are looking for [space-infix-ops](http://eslint.org/docs/rules/space-infix-ops)

[2015-05-22 21:34] gyandeeps commented on #2599
@lo1tuma That rule only ensures a new line after all the `var` declarations. it doesn't take into account space between 2 declarations.
@ilyavolodin I am not sure if that would solve it.

[2015-05-22 21:36] gyandeeps commented on #2331
There is no rush from my side also. Take your time. I just wanted to know if you were still planning to do it or not.

[2015-05-22 21:37] ilyavolodin commented on #2599
[code]
returns
[code]

[2015-05-22 21:38] xjamundx commented on #2599
@ORESoftware can you update your post so that the `=` signs have spacing in the first example :)

[2015-05-22 21:38] gyandeeps commented on #2599
Thats for infix operator but I think what he wants is to have all the variable declaration on new lines and not on the same line. If I understand it correctly.

[2015-05-22 21:40] lo1tuma commented on #2599
Related https://github.com/eslint/eslint/issues/1622.

[2015-05-22 21:41] gyandeeps commented on #2599
yup its the duplicate of 1622.

[2015-05-22 21:41] ilyavolodin commented on #2599
Ahh.. sorry, misunderstood the question

[2015-05-22 21:41] lo1tuma commented on #2599
I don't think it is a duplicate, AFAIK #1622 is only about assignments within variable declarations.

[2015-05-22 21:44] gyandeeps commented on #2599
Again by going with the title of issue 1622, its a duplicate.

[2015-05-22 21:49] xjamundx commented on #2599
@gyandeeps I think there are 2 asks in this issue.

1. newline after declaration
2. newline after declarator

#1622 and to some extent http://eslint.org/docs/rules/newline-after-var address 2, but 1 is a new ask I think.

[2015-05-22 21:53] xjamundx commented on #2599
Interesting, it looks like the suggestion in #1622 actually has some version of this, per the rule they hope to copy in JSCS, which would allow this:
[code]

Seems like this *is* a dup.

[2015-05-22 22:57] clark800 opened #2600 "Recursive mode"
When the user runs `eslint --recursive index.js`, eslint recursively checks all files required in index.js and additionally checks the following new rules:
1. `no-undef-import`: for `var x = require('x');` checks that for all properties `y` accessed as `x.y` are defined in `module.exports` in x.js. In the less common case that `module.exports` is dynamically generated, the user can inline disable

[2015-05-22 23:47] xjamundx commented on #2198
The problem with the other approach is that you'd be effectively banning anything like this:
[code]

You could go further down and say no no we're only banning `module.exports` that export an `object` that only has `functions` or `intentifiers` as keys, which is probably the intent of this rule.

I get that there's a need for consistency here. Personally on my team I'd love to enforce this style:

[2015-05-22 23:51] btmills commented on #2595
The validate also needs to be able to pull in the rules to get the schemas, so that would still require us to either add an API or `require("eslint/lib/rules")`, which seems even more hackish.

[2015-05-22 23:55] timkendrick opened #2601 "Update: Allow .eslintrc files to be symlinks"
It would be great if `.eslinkrc` files could optionally be symbolic links, that point to an actual config file in a different location.

This change would allow you to share ESLint configuration between projects (e.g. in an npm submodule that both projects depend on)

[2015-05-22 23:55] ilyavolodin commented on #2595
You are correct. In that case, I don't see any other way then to expose verify on eslint object. I think that's better approach then injecting it into eslint-tester every time. I also don't think it's such a bad thing to expose it. It could be useful for plugins and maybe runners to verify custom rules.

[2015-05-23 00:02] ilyavolodin commented on #2600
While this is possible to do, I think it would be extremely hard. I can see how this would be useful, I just don't think the effort to get this in would be justifiable.

[2015-05-23 00:23] timkendrick commented on #2601
Sorry, this was already working in the current build!

Apologies for timewasting.

[2015-05-23 00:23] #2601 closed

[2015-05-23 01:18] ilyavolodin commented on #727
`one-var` already implements `never` option. Closing as there was no follow-up in over a year.

[2015-05-23 01:18] #727 closed

[2015-05-23 01:36] ilyavolodin commented on #1355
Closing this, as it's been a while without follow-up. Feel free to reopen if it's still something you want.

[2015-05-23 01:36] #1355 closed

[2015-05-23 01:57] gyandeeps commented on #2600
wow I didn't know about this CLI option, its an eslint option?
its not documented on the CLI page: http://eslint.org/docs/user-guide/command-line-interface

[2015-05-23 02:22] ilyavolodin commented on #2600
@gyandeeps It's a request, even though it's phrased like a statement.

[2015-05-23 02:32] CTAPbIuMABP opened #2603 "destructive assignment in import and jsx"
[code]

eslint says this code has error

[code]

[2015-05-23 02:36] #2603 closed

[2015-05-23 02:59] xjamundx commented on #2568
For reference: http://jsrocks.org/2015/01/temporal-dead-zone-tdz-demystified/

[2015-05-23 03:06] gyandeeps commented on #2600
lol... thanks for clarifying @ilyavolodin ... i got confused there....
I dont know why this sounds like a third part concept (from eslint behalf) where they (third party project) can use eslint to achieve this.
Just a thought...

[2015-05-23 03:25] xjamundx commented on #2203
@glenjamin really love the idea of better plugin discovery. my assumption is more that it would hook into NPM and rely on people tagging things properly.

I'd also love to find some better / easier way to explain how the various rules work. There are just so many of them now. Something like https://babeljs.io/docs/learn-es6/ but for rules might be interesting?

So many good ideas in this thread. I

[2015-05-23 09:37] remko opened #2604 "Unable to disable es6 env inline"
I seem to be unable to disable an `env` for a single file. This feature isn't documented (the docs only mention enabling envs by doing `eslint-env es6` without any parameters), but according to #2072, the following should give a file that doesn't validate:

     /* eslint-env es6:false */
     const x = 1;

However, the above file validates, which it shouldn't. (removing the `es6: true` setting fr

[2015-05-23 12:54] davidtheclark opened #2605 "no-multiple-empty-lines should ignore template strings"
Right now I'm getting warnings from this rule if I have the following:

[code]

But because that's essentially a string, I'd think the rule should ignore that, allow whitespace to be arbitrary there as it would ignore `"first\n\n\n\nsecond"`, right?

[2015-05-23 14:29] ilyavolodin commented on #2604
This is a duplicate of #2134 Unfortunately, we do not currently have a fix for enabling/disabling es6 environment inline, as es6 environment is a special case and controls parser. #2134 is sill open to track this issue, so closing this.

[2015-05-23 14:29] #2604 closed

[2015-05-23 14:31] ilyavolodin commented on #2605
Can you provide more details please? Which version of eslint? Do you by any chance use `bable-eslint`? We had similar reports for it.

[2015-05-23 14:33] #2566 closed

[2015-05-23 14:34] #2594 closed

[2015-05-23 14:39] davidtheclark commented on #2605
Apologies. I reduced what had going to a simple test case, and can see that I'm getting the error with ES Lint v0.21.2 without babel-eslint, with this config:

[code]

[2015-05-23 15:06] ilyavolodin commented on #2555
I think this rule can be useful, I'm not sold on the name. To me `require-style` is something that will deal with style of require statement, white spaces around it and such.

[2015-05-23 15:19] mathieumg commented on #2555
As stated in the aforementioned issues, I believe there is room for this rule. However, I'm not convinced about the name either. Would it also apply to ES6 `import` statements? I believe it would need to. (And thus a better name would be welcome!)

[2015-05-23 15:30] #1344 closed

[2015-05-23 15:31] #2590 closed

[2015-05-23 16:29] bedney opened #2606 "Rule suggestion: no variable declarations and assignments together [$50]"
I am wanting a (stylistic) rule where this would be disallowed:

[code]

But this is fine:

[code]

In other words, variable declarations and variable assignments have to be broken into 2 pieces.

Is there already such a rule and I missed it?

Thanks!

[2015-05-23 17:01] cwrea commented on #2588
Thank you all for your responses.

@ilyavolodin: Using `never` doesn't permit the behavior I'd like, which is to force a space after line comment markers. My eyes bleed when I see `//description` instead of `// description`. Yet, `always` complains about the triple-slash because it treats the first two slashes as introducing the comment, and the next as comment value, as @nzakas has pointed out, w

[2015-05-23 18:51] mysticatea commented on #2556
Working on this.

[2015-05-23 20:46] gyandeeps commented on #1622
My 2 cents here:
I think this should be an option in `newline-after-var` rule.
I think this rule should apply to variable declarations no matter if they have a value assigned or not.

[2015-05-23 20:55] mathieumg commented on #1622
I think this should follow the JSCS rule (as per the original post), i.e. if there is an assignation it must be alone on the line, otherwise multiple declarations on the same line are fine. I'm speaking regarding a single `var` statement, I think there should never be more than one per line in any case.

Valid:

[code]

[code]

Invalid:

[code]

[code]

[2015-05-23 20:58] gyandeeps commented on #1088
Since `spaced-line-comment` rule already does this for line comments, we can (as per comments above) actually name the rule `spaced-comment` and deprecate `spaced-line-comment` rule.
Do we agree on this?

[2015-05-23 21:01] gyandeeps commented on #1622
But we need to some how support functionality to disallow multiple `var` on same line to. Someone (+ me) is going to as for it in the future.

invalid

[code]

valid

[code]

[2015-05-23 22:49] mysticatea commented on #2568
I will work on this after #2608.

[2015-05-24 01:35] gyandeeps commented on #2606
I dont think so if we have a rule for your use case. You can also check if there is any plugin which satisfies your use case here: https://www.npmjs.com/search?q=eslintplugin

[2015-05-24 02:26] bedney commented on #2606
I checked for a plugin and it doesn't seem like there is one for this.

[2015-05-24 03:29] xjamundx commented on #2606
There are a number of options on the [one-var rule](http://eslint.org/docs/rules/one-var) that give us part of what is wanted here. Some variation of `{ uninitialized: "always", initialized: "never" }` is sort-of what you want. It's like you're asking for `{unitialized: "always", initialized: "no-really-not-ever" }` :)

[2015-05-24 04:18] bedney commented on #2606
Yea, I guess that's true. It seems to me like the one-var rule is already getting crowded with options, though.

[2015-05-24 04:47] xjamundx commented on #2598
Agreed as well.

[2015-05-24 09:58] lo1tuma commented on #2598
I'm not convinced. Can you explain why named functions are better for debugging? We had a similar discussion about this in #938 which recommends to NOT name all functions for better debugging.

[2015-05-24 14:54] ilyavolodin commented on #2598
@lo1tuma In both cases, named and unnamed, it's done for debugging convenience, no for styling. Naming functions allows stack traces to point you directly to the function that caused an issue. Based on discussion in #938 not naming function attacked to objects does the same. Hence - best practices.

[2015-05-24 20:43] denis-sokolov commented on #2555
Perhaps `relative-import-style`?

[2015-05-24 21:05] ilyavolodin commented on #2555
I feel like there are two keywords for this rule: `import` and `path`, since this will not affect npm module imports.

[2015-05-24 21:16] denis-sokolov commented on #2555
That's why I thought `relative` would be a good keyword. But `import-path-style` sounds just as well.

[2015-05-25 02:46] gcochard commented on #2503
It looks like the API allows access once a token has been created, but it may expire eventually. It would be easiest to create a web service for verification, but that would be an entirely new codebase. I would be happy to provide it, though hosting it would require something like Heroku which recently changed their free teir to require 6 hours of downtime per day.

If On the other hand, it was ru

[2015-05-25 03:56] #2592 closed

[2015-05-25 08:30] elrrrrrrr opened #2609 "Is there any way to disable all default rules by setting .eslintrc ?"
Is there any way to disable all default rules by setting .eslintrc .
[code]
which like
[code]

[2015-05-25 11:14] tqc opened #2610 "Allow preprocessor plugins to work with the AST"
A preprocessor plugin should be able to produce an AST directly rather than just stripping out anything that isn't javascript.

My initial use case for this is linting of angular templates. It should be fairly easy to convert

    Text content {{variable}} more text

into the AST for

    "Text content " + ngbind(variable) + " more text"

From there, writing rules for things like disallowing calcu

[2015-05-25 13:58] xjamundx commented on #2606
Agreed it's crowded, but mostly because of `let` and `const`. I think it's still the correct location for such a restriction. We'll have to wait and see what other team members think though before deciding if it's something we're able to add.

In the meantime, feel free to tweak the existing rule to meet your needs and distribute that as a plugin :)

[2015-05-25 15:17] ilyavolodin commented on #2609
We currently do not support this. However, starting with 1.0.0 release, reset will become default behavior (as in, you are not going to get any default rules).

[2015-05-25 15:17] #2609 closed

[2015-05-25 15:22] ilyavolodin commented on #2610
Being able to pass AST for validation has been discussed multiple times: #1025 As mentioned in that issue, AST alone is not enough, we need all tokens as well as text of the file itself. Many rules (like any white space rule) rely on tokens and text. And since you will have to generate text, you might as well pass it to `verify` and have it parse it into AST.

[2015-05-25 15:25] #2225 closed

[2015-05-25 17:10] xjamundx commented on #2605
Yeah I can see how this would happen ;)

[2015-05-25 18:25] bedney commented on #2606
I will respectfully disagree, mainly because of the name. `one-var` makes sense to me when discussing 'should there be one `var` statement to configure the locals for this function?'. But as more features get jammed into this rule, it seems to drift further and further away from the meaning imparted by that name. Maybe these other features should be split out into a rule that would be more appropr

[2015-05-25 22:08] tqc commented on #2610
When I say AST, I mean the output from parse() - an object including tokens. Maybe not technically an AST, but a lot easier to refer to. Being a plugin we also have the original text, though it may be text that the standard parser wouldn't like.

I did look at generated JS code and linting that, but then the error messages would refer to generated code rather than the original source, making the w

[2015-05-25 23:48] ilyavolodin commented on #2610
Eee... I think you might've missed big part of what processors provide. There are two functions that a processor supplies to ESLint, `preprocess` and `postprocess`. A good processor, given you example above should return error on line 3, not line 1, that's the whole point of postprocess. First eslint pipes code through preprocess, that's supposed to get the code into parsable state, it also suppos

[2015-05-25 23:52] ilyavolodin commented on #2610
Btw, here's an example of processor that maps error back to the original location in the code: https://github.com/BenoitZugmeyer/eslint-plugin-html/blob/master/src/index.js
If you look at postprocess function, you can see that it uses source map to find location of the error in the original source code (html).

[2015-05-26 00:19] tqc commented on #2610
Agree that the overly simplified example could be implemented with mapping in postprocess. However, what I am actually looking to do is significantly more complex than I can fit in a three line example.

Most of the regular expressions I see are just looking for newlines - the whole reason they look at the text rather than the AST is that the code is irrelevant for that rule.

I could do a PR for

[2015-05-26 01:02] ilyavolodin commented on #2610
Let me ask this, if your processor will create a custom AST from a file and pass it to verify, and that custom AST will be in the ESTree format, why not create a custom parser all on it's own, that can be plugged into ESLint? From what you are describing, you will basically implement that in a processor, but ESLint already provides a way to use custom parser. It seems like a duplication of already

[2015-05-26 01:32] tqc commented on #2610
I considered that, but it didn't seem the right way to go when there is a plugin system. The basic parser would be something like

[code]
That much is simple enough, but now how does it know that it should actually be using esprima-fb? What if I want to include more than one custom parser in a project? It works, but making it robust quickly ends up reimplementing a lot of stuff that is already the

[2015-05-26 03:02] ilyavolodin commented on #2610
I think you are over complicating it a bit. Here's how I would do this (until config per file extension are added).
Create a parser that only handles HTML files, no JS/JSX/Etc.
Create an empty processor and mark it for HTML files. You don't have to publish it, just npm link it to your project.
Create two grunt/gulp/webpack/whetere you are using for a build system, one for JS file, and one for HTML

[2015-05-26 03:03] #2552 closed

[2015-05-26 03:03] #2556 closed

[2015-05-26 04:21] tqc commented on #2610
Pretty sure I'm simplifying things actually :)

Plugins become significantly more powerful, allowing a lot of stuff that would otherwise require adding complexity to core.

I don't think running two separate configs would work very well. Maybe if I was just running ESLint as a build step, but things like linting in the editor would require rewriting more of the toolchain than I am comfortable with

[2015-05-26 04:45] tqc commented on #1025
I'm looking at implementing at least part of this (see #2610). My main concern is the implementation of SourceCode.validate.

The simple implementation is just

[code]

That would catch stupid mistakes, but will let more complex problems through.

The complete, provably correct implementation I strongly suspect reduces to the halting problem.

What level of validation is needed to consider a suppl

[2015-05-26 12:25] torarvid opened #2613 "Rule 'indent' complains on multi-line function definition"
Hi! Sometimes, I will write a unit test like

    it('Should do blah blah with bluh bluh and this line is '
        + 'very long so I break it up to two lines', function() {

        doStuff(); // <-- will complain about indentation here
    });

.. and eslint complains on the `doStuff` line (it wants another level of indentation). However, if the test description is short enough to fit on a singl

[2015-05-26 13:41] gyandeeps commented on #2613
Its a know issue.
Related https://github.com/eslint/eslint/issues/1801

[2015-05-26 13:46] callumlocke opened #2614 "Can't disable an env in a single file"
I've got a project all written in ES6, except for a single file that is in ES5.

In my .eslintrc:

[code]

In the single ES5 file:

[code]

I expected to get an eslint error for the fat arrow, but there's no error.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17855066-can-t-disable-an-env-in-a-single-file?utm_campaign=plugin&utm_c

[2015-05-26 13:51] gyandeeps commented on #2614
I just looked at the code and found out that there is no way you can disable environment but you can always enable environments. Basically they are not evaluated as boolean properties that why specifying `true` or `false` doesn't matter (this applies to in file declarations only).

[2015-05-26 13:58] callumlocke commented on #2614
So is this a bug? It seems like a common use case, e.g. writing a gulpfile in ES5 (because you're running it via the `gulp` CLI) but writing all your application files in ES6 (because you're compiling them through Babel).

[2015-05-26 14:33] ilyavolodin commented on #2614
Currently `es6` environment is a special case, you can't enable/disable it in inline comments. It's a known issue and we do not have a fix for it yet.
@gyandeeps You are correct, you can't do /* eslint-env es6:false */ that's just going to fail to parse, or will enable `es6:false` environment.

[2015-05-26 14:44] gyandeeps commented on #2614
It looks like a reasonable request/use case to me.

[2015-05-26 14:55] ilyavolodin commented on #2614
I think it's reasonable to be able to turn environments on and off based on inline config. es6 environment is a much larger problem though.

[2015-05-26 17:26] ilyavolodin commented on #2613
Closing in favor of #1801

[2015-05-26 17:29] ilyavolodin commented on #2610
There's no ETA on multiple configurations currently. It hasn't been approved or discussed yet, but there are enough people who want it, that I don't doubt that it will make it into ESLint at some point in the future.
You are correct about two configs and linting in IDE:-(
I think I really would want to hear what @nzakas thinks about your ideas before accepting and committing to making this happen.

[2015-05-26 17:52] tromey opened #2616 "eslint erroneously complains about arrow function"
Consider this code:

[code]

When I run eslint on this (using the "all off" config from https://bugzilla.mozilla.org/show_bug.cgi?id=887895), I get:

[code]

However, I think this code is actually correct, and eslint is incorrect in reporting an error.

A workaround is to reword the default argument from "(k)=>k" to "k=>k".  This has the same meaning but suppresses the eslint error.

[2015-05-26 18:04] xjamundx commented on #2616
If it's a bug it's likely an espree bug. See this in my node REPL:

[code]

Can you open up an issue with espree?
https://github.com/eslint/espree/issues

[2015-05-26 18:04] xjamundx commented on #2616
q: are you essentially using `(k)=>k` as a noop (empty function)?

[2015-05-26 19:58] ORESoftware opened #2617 "no-redeclare is misperforming"
var eventData = validator.validateEvent(event);
    var options = createOptionsData(getIngestURL(eventData), event);

this throws a no-redeclare problem for the var 'eventData'. However, eventData is not being redeclared - it is merely being passed to the getIngestURL function.

Is this a known ESLint issue?

[2015-05-26 20:01] gyandeeps commented on #2617
Can you share:
* version of eslint being used?
* What kind of parser?
* Screenshot of the actual output.

[2015-05-26 20:06] ORESoftware commented on #2617
$ eslint -v
v0.21.2

{
  //comments are OK in .eslintrc files
  //http://eslint.org/docs/user-guide/configuring

  "parser": "espree",
  "ecmaFeatures": {
    "blockBindings": true,
    "forOf": true,
    "jsx": true,
    "classes":true
  },
  "rules": {
    "semi": [2, "always"],
    "quotes": [1, "single"],
    "curly": [2, "all"],
    "strict":2,
    "no-console":1,
    "no-new":1,
    "brace-s

[2015-05-26 20:08] ilyavolodin commented on #2617
I can't reproduce this in online demo, it might be somehow related to `es6` environment.

[2015-05-26 20:08] gyandeeps commented on #2617
I mean the actual error message out on the console.

FYI, i just ran the code on the online demo and it didn't complain.

[2015-05-26 20:10] ORESoftware commented on #2617
it seemed to work - I just misread what line it was complaining about. you can close for now.

[2015-05-26 20:11] #2617 closed

[2015-05-26 21:16] gyandeeps commented on #2600
Now since I understand the proposal in this issue, I dont think I am convinced that this functionality should be built into eslint. As purpose of eslint is to lint files which are provided by the user.
Now you can build another tool which can depend on eslint internally and do the things which you are proposing. That would make sense to me.

Since you want the smartness built with `require` but th

[2015-05-26 21:25] tromey commented on #2616
https://github.com/eslint/espree/issues/145

It's the identity function.

I don't know the history or intent of the code in question -- it could certainly be clearer -- I was just trying to help convert some parts of the tree to be parseable by eslint and this came up as a seemingly erroneous error.  (The only one I found btw.)

[2015-05-26 21:26] xjamundx commented on #2616
Thanks @tromey we'll get this fixed!

[2015-05-26 21:26] lo1tuma commented on #2613
I'm not sure if this is a duplicate of #1801.
#1801 is about missing warnings on multiline expressions, but this issue is about a false extra warning **after** a multiline expression.

[2015-05-26 21:35] lo1tuma commented on #2598
So what is the best practice then? `func-names` can only enforce one of those cases which contradicts with the other.

[2015-05-26 21:50] ilyavolodin commented on #2600
Right now, you wouldn't be able to write a third-party tool for this, since we do not expose any way to affect escope per file.

[2015-05-26 21:52] ilyavolodin commented on #2613
Ahh, sorry, my bad, reopening.

[2015-05-26 21:53] gyandeeps commented on #2600
I think we can, Users will actually call the third-party-toll with their one file name. Then tool will be smart enough to figure out all the dependent files and call eslint withe the collection of files.
With this eslint doesn't have to change.

[2015-05-26 22:01] ilyavolodin commented on #2598
If you do name functions assigned to object properties, your stack trace is only going to contain function name, not object name. If you don't name any functions, your stack trace is going to be full of "Anonymous function" statements. Turning it on should be best practice, but maybe we should consider adding an option for object properties.

[2015-05-26 22:03] ilyavolodin commented on #2600
Proposed rules would have to be aware of all of the global/exported variables in each imported file, and will have to lint against them. In order to do that, we need to be able to modify scope property of ruleContext. We do not currently expose a way to do that (somebody found a way to hack it, but it's not supported functionality).
In any case, I think this is out of scope for ESLint itself.

[2015-05-26 22:13] bucaran opened #2618 "Bug: A space is required after ','. (comma-spacing)"
[code]

I just checked again, and there was indeed a space after the comma.

Ideas?

This is my `.eslintrc`
[code]

Thanks!

[2015-05-26 23:23] gyandeeps commented on #2618
Can you share:

* version of eslint being used?
* What kind of parser?
* Console output of eslint

[2015-05-26 23:27] xjamundx commented on #2618
FYI no errors with raw ESLint (not babel-eslint) version `0.21.0`:

[code]

[2015-05-27 00:50] hzoo commented on #2618
What version of `babel-eslint`? I should of fixed this in `3.1.9`. Is it just that single line giving an error because I can't reproduce it. Also if it's specific to `babel-eslint` then report it in that repo :smile:

[2015-05-27 02:16] xjamundx commented on #2616
We can probably close this now.

[2015-05-27 02:31] ilyavolodin commented on #2616
Closing for https://github.com/eslint/espree/issues/145

[2015-05-27 02:31] #2616 closed

[2015-05-27 04:10] xjamundx commented on #2618
Pretty sure we can close this one here!

[2015-05-27 05:24] bucaran commented on #2618
Updated to 0.21.0 and still getting the same problem.

[2015-05-27 05:28] bucaran commented on #2618
Alright, upgraded to `babel-eslint 3.1.9` and it's fixed. One thing though, now it does not show the error if I do it wrong, ie. not adding the space after the comma.

:sigh:

[2015-05-27 06:37] DelvarWorld opened #2619 "Crash on file ending in switch statement without close"
crash.js:

    hello = call( function( payload ) {

        switch( payload ) {

            case 'case':
                break;

This file will make eslint die forever

    $ eslint crash.js
    FATAL ERROR: JS Allocation failed - process out of memory
    Abort trap: 6

[2015-05-27 09:12] tlvince opened #2620 "Disable rules for given identifiers"
Is it possible to disable rules for given identifiers? For example, in CouchDB projects, I'm forced to scatter `/*eslint-disable no-underscore-dangle */` comments on every instance of `_id` or `_rev` as I'd otherwise like to keep this rule enabled globally.

Could this be part of a rule's configuration? Perhaps:

[code]

[2015-05-27 09:54] lo1tuma commented on #2620
Looks like a duplicate of #2135.

[2015-05-27 10:42] hzoo commented on #2618
I think that's right because it's a comma in a template string not a comma in a parameter list. It would be the same as "a,b" - the rule wouldn't error for the comma inside of a regular string right?

[2015-05-27 10:55] lo1tuma commented on #2618
Yes, that is the expected behavior, comma within a template string should be ignored by this rule.

[2015-05-27 13:27] gyandeeps commented on #2619
Can you share more stack trace for this error?
or this is it?

[2015-05-27 13:50] hzoo commented on #2619
Providing the ESLint version and config might be helpful too?

[2015-05-27 13:55] ilyavolodin commented on #2620
Closing in favor of #2135

[2015-05-27 13:55] #2620 closed

[2015-05-27 13:55] ilyavolodin commented on #2618
Closing as this is behaving correctly.

[2015-05-27 13:55] #2618 closed

[2015-05-27 14:04] ilyavolodin commented on #2613
Example above returns two errors:
[code]
I'm actually not 100% sure it's incorrect behavior. Since the opening bracket of the function is indented by 4 spaces, the body of the function should be indented by 8 (which eslint rightfully complains about). And the second error is for closing of function's body, which should be at the same indentation as opening brace (so 4 spaces).
Somebody who is more

[2015-05-27 14:06] ilyavolodin commented on #2619
It looks like online demo is crashing on this code as well, and taking browser with it.

[2015-05-27 14:30] hgl opened #2621 "Sub-option to allow console.warn and friends in no-console"
`console.warn` and `console.error` are pretty useful to help users report errors even in production code.

I wonder if it makes sense to add a sub-option to only report error on using `console.log`, which is mainly used for development debugging?

[2015-05-27 14:36] hgl opened #2622 "Allow omitting semicolons before braces"
This should be pretty common with arrow functions:
[code]

Currently enable `semi` requires a semicolon after `bar()`, and since space is usually required after semicolon, you need to write it like
[code]

This doesn't look balanced.

Do you think we should allow omitting semicolons here with `semi` enabled?

[2015-05-27 14:40] ilyavolodin commented on #2621
The rule was create to guard any output to console in production code, as it's considered a bad practice. There is no real difference between `console.warn` and `console.log` from my perspective. I think if you want to output to console, you should just disable this rule.

[2015-05-27 14:42] gyandeeps commented on #2621
Agree with @ilyavolodin .
If its an exception just once then you can actually disable the rule for that particular line

[code]

[2015-05-27 14:44] xjamundx commented on #2619
That's exceptionally cool

[2015-05-27 14:46] xjamundx commented on #2619
FYI espree handles this fine:
[code]

But if I put the same code in `test.js` and run eslint, it appears to hang.
[code]

[2015-05-27 14:47] torarvid commented on #2613
Hmm, first I thought you were not thinking clearly, @ilyavolodin - but now I think maybe **I** wasn't :wink:

Because you're saying that the right way to indent might be:

    it('long string',
        + ' blah blablah', function() {

            doStuff();
        }
    );

.. right? It feels like it's about the same as:

    it('long string',
        + ' blah blablah'
        , function() {

[2015-05-27 14:47] hgl commented on #2621
The problem is that my project uses `console.warn` and `console.error` in production code, but I do want to check for `console.log` in case I forget to remove them after debugging.

Having to to use comment *every time* I use `console.warn` and `console.error` doesn't sound very optimal.

It's pretty common for a browser extension to dump indexDB error to the console to help users report bugs for

[2015-05-27 14:55] xjamundx commented on #2621
My thought would be to create a custom rule for your project to do this. I don't think it would be something that we'd want to have globally, but it would be really easy to add this exception for your project. Do you want some help setting it up?

[2015-05-27 15:01] hgl commented on #2621
That would be great. Thanks. Does the doc cover it?

[2015-05-27 15:12] michaelficarra commented on #2622
You wouldn't write `function a() {if (foo) bar()}`, would you? Why should function bodies in arrows be treated differently?

[2015-05-27 15:17] hgl commented on #2622
I probably would for function expressions:

[code]

[2015-05-27 15:27] michaelficarra commented on #2622
Then you should turn off the rule because it is not for you.

[2015-05-27 15:31] ilyavolodin commented on #2619
Must be one of the rules.

[2015-05-27 15:32] xjamundx commented on #2621
Take a look at the [existing no-console rule](https://github.com/eslint/eslint/blob/master/lib/rules/no-console.js#L18).

You can add the following in order to make it only warn on `console.log` statements you need to update the `if` statement on line 18 to look like this:
[code]

1. Save that modified file into a `rules/` directory inside your project as `no-console-log.js`.
2. Open up your `.esl

[2015-05-27 15:35] ilyavolodin commented on #2613
@torarvid Both of the examples you provided do not error with indent on. So I think this is a non-issue.

[2015-05-27 15:51] gcochard commented on #2619
I get `1:79 - Unexpected end of input` in the online demo. No crash.

[2015-05-27 15:57] ilyavolodin commented on #2621
We have a whole section in the documentation dedicated to rule creation here: http://eslint.org/docs/developer-guide/working-with-rules
Let us know if you run into some problems.

[2015-05-27 15:57] #2621 closed

[2015-05-27 15:58] ilyavolodin commented on #2619
If you add an extra line break at the end, it crashes chrome for me. Just copy & paste didn't do it for me either.

[2015-05-27 16:47] #2605 closed

[2015-05-27 16:49] bucaran commented on #2618
@lo1tuma Well, yes, unless you set this rule:

[code]

Correct? So, is still behaving incorrectly.

[2015-05-27 17:16] ilyavolodin commented on #2622
Agree with @michaelficarra While this might be stylistic preference, this rule is there to make sure you put semicolons everywhere where they should exist. In this case, they are required (even though omitting them will not chance anything).

[2015-05-27 17:16] #2622 closed

[2015-05-27 17:16] xjamundx commented on #2621
@hgl feel free to join the chat room at https://gitter.im/eslint/eslint if you get stuck

[2015-05-27 17:17] ilyavolodin commented on #2613
Closing, as this seems to behave correctly.

[2015-05-27 17:17] #2613 closed

[2015-05-27 17:18] ilyavolodin commented on #2600
This feature is currently out of scope. Closing.

[2015-05-27 17:18] #2600 closed

[2015-05-27 17:21] xjamundx commented on #2431
I'd love to see this developed first as a plugin where maybe some of the kinks could be worked out. Internally we've played around with things like this to enforce for example names of things like `err` and `callback` and ban `error` and `cb`. It works alright, but there are a bunch of edge cases.

[2015-05-27 17:52] lo1tuma commented on #2605
A bit late, but shouldn't we make the same exception for multiline strings
and multiline comments?
On May 27, 2015 18:47, "Ilya Volodin" <notifications@github.com> wrote:

[2015-05-27 22:14] ilyavolodin commented on #2605
Umm.. That's a good point. I'm not 100% sure on multi-line comments, but multi-line string I think should be covered. I'll create a new issue for this.

[2015-05-27 22:16] ilyavolodin opened #2624 "no-multiple-empty-lines should ignore multi-line strings"
We added a fix for `no-multiple-empty-lines` to ignore template strings, but it should also ignore multi-line strings, and probably block comments as well.

[2015-05-28 00:19] hzoo opened #2625 "block-scoped-var issue with modules: true"
`warning  "wrapUserProvidedKey" used outside of binding context  block-scoped-var`

file.js
[code]

.eslintrc
[code]

Tested on master and latest ESLint.

Ref: https://github.com/facebook/react/pull/3968

I just picked a single file to isolate the issue.

Actual lines: https://github.com/facebook/react/blob/52752446760dee0bc7232b4146f5a309ac57f065/src/shared/utils/traverseAllChildren.js#L51-L82

[2015-05-28 00:26] hzoo commented on #2625
Oh after some searching this looks to be the same as https://github.com/eslint/eslint/issues/2291 actually.

[2015-05-28 00:27] michaelficarra commented on #2625
Yep, you give up function declaration hoisting when you enable that rule.

[2015-05-28 00:28] hzoo commented on #2625
Ok cool will close.

[2015-05-28 00:28] #2625 closed

[2015-05-28 01:19] nzakas commented on #2588
I think we need to think about this more generically as, "what type of special comments are out there?" Off the top of my head:

[code]

Any others?

[2015-05-28 01:29] nzakas commented on #2339
This isn't possible because it's a parser switch that we can't change mid-code.

[2015-05-28 01:29] #2339 closed

[2015-05-28 01:30] nzakas commented on #2011
I don't mind doing this as a separate rule, I just don't believe it should be part of the existing `quotes` rule as it's a completely different meaning.

[2015-05-28 01:32] nzakas commented on #1025
We just need all three pieces of data. I don't think `validate()` is necessary.

[2015-05-28 01:34] nzakas commented on #2503
I actually have already written code that does this. Just sit tight.

[2015-05-28 01:40] lo1tuma commented on #2011
@nzakas I'm ok with this. I also agree with @ilyavolodin that this rule should use the same logic as the `smart` option from the `quotes` rule by default.

Any suggestions how to name this rule? Maybe `jsx-attribute-quotes`?

[2015-05-28 01:58] tqc commented on #1025
Ok, that simplifies things. Would you be ok with adding a property to the result returned from esprima? That way we don't need a new object, just a requirement that ast.text is set by the time it gets to verify, same as it is with tokens.

[2015-05-28 02:27] stevemao opened #2626 "Missing details about error levels in the docs"
Should list all possible error levels and explain what are the differences between them.

[2015-05-28 02:30] gyandeeps commented on #2626
What kind of errors are you talking about? Can you please explain more?
Are you talking about rule errors: http://eslint.org/docs/user-guide/configuring#configuring-rules ?

[2015-05-28 02:40] stevemao commented on #2626
Sorry didn't see it in the first place.

[2015-05-28 02:40] #2626 closed

[2015-05-28 02:44] nzakas commented on #1025
No, I want to stick with esprima format as it is.

[2015-05-28 02:46] nzakas commented on #2011
Is `jsx-quotes` ambiguous in any way?

[2015-05-28 02:49] nzakas commented on #2606
This would have to be a separate rule. At the moment, new rules are very low priority as we move towards 1.0.0. Your best bet is to create the rule yourself, or else it could be a while.

[2015-05-28 02:51] nzakas commented on #2431
Agreed - where there isn't enough clarity, it's best to pursue as a plugin. We can't become the backlog for every rule everyone wants - this is exactly why we created plugins. :)

[2015-05-28 02:51] #2431 closed

[2015-05-28 02:53] nzakas commented on #2614
Duplicate of #2134. This is only a problem for `es6`, all other environments already work

[2015-05-28 02:57] nzakas commented on #2599
@ORESoftware can you please clarify what you're requesting?

[2015-05-28 02:57] hgl commented on #2621
Thanks guys. And thank you @xjamundx for taking the time writing the step by step instructions.

I will try it out.

[2015-05-28 03:01] nzakas commented on #2595
Why not export config validator from the ESLint package?

[2015-05-28 03:05] ilyavolodin commented on #2595
Ah, that's probably a cleaner way. Then eslint-tester can just import it, and it still should allow third-party tools to validate rules, if necessary.

[2015-05-28 03:19] hgl opened #2627 "Rule IDs are magic numbers"
I think the rule IDs are pretty cryptic:

[code]

What about we use some mnemonic strings instead?

[code]

Where `require` generates errors, `favor` generates warnings, and `ignore` turns the rule off.

[2015-05-28 03:35] ORESoftware commented on #2599
guys, I honestly have NO idea idea how to make it more clear :(

`var x=7,y=5;` //BAD!!!

`var x = 7;` //GOOD
`var y = 5;` //GOOD

[2015-05-28 04:17] fakewaffle commented on #2100
I agree with @nzakas.  Having default rules set has been very annoying.  We have 70+ repos/projects that rely on ESLint

[2015-05-28 04:26] fakewaffle commented on #994
Any update on this?

[2015-05-28 09:13] Jxck opened #2628 "new rule proposal for arrow function"
hi, I'm using my own plugin for arrow function.

https://github.com/Jxck/eslint-plugin-arrow-function

this works fine for me so i'm suggest to merging this for default rules.
any comments are welcome.

detail from readme is below.

---

## Rule Details

### parens

The following patterns are considered warnings:

[code]

The following patterns are not warnings:

[code]

this saves you from bizarr

[2015-05-28 12:52] cwrea commented on #2588
@nzakas Good point. FWIW, I know that [Doxygen](http://www.stack.nl/~dimitri/doxygen/manual/docblocks.html), which originated for C++ ca. 1997, now also supports multiple languages. While it doesn't yet JavaScript, it is conceivable that Doxygen or something inspired by its comment format *could* be adapted for use in JavaScript. Anyway, with respect to single-line special comments, Doxygen has:

[2015-05-28 13:23] ilyavolodin commented on #994
Issue is in accepted state. So anyone can submit a pull request for it. New rules are low priority for core team right now, so if you would like to see this rule, you might consider submitting a pull request.

[2015-05-28 13:23] #1105 closed

[2015-05-28 13:42] janhancic opened #2629 "global-strict should be off by default"
Since [global-strict](http://eslint.org/docs/rules/global-strict) is now deprecated I updated our `.eslintrc` to use the [strict](http://eslint.org/docs/rules/strict) rule.

But the `global-strict` was still being used so I had to disable it with `"global-strict": 0`.

I appreciate this is a breaking change, but maybe at least mention this in the documentation until the rule is removed.

[2015-05-28 14:32] htulipe opened #2630 "Rule to enforce Js "classes" declaration"
This more a question than an issue. I would like to prevent people from doing this:

	var MyClass = function() {
		this.sayHello = function() {
			console.log("hello");
		};
	};

Instead, they should do this:

	var MyClass = function() {};
	MyClass.prototype.sayHello = function() {
		console.log("hello");
	};

Am I correct by saying there is no built-in rule for enforcing such a behavior in eslint

[2015-05-28 14:44] btmills commented on #2619
Looks like the newline at the end is important. Adding it to @xjamundx's example will crash espree:

[code]

[2015-05-28 16:08] arturadib opened #2631 "no-unused-vars behavior with global variables"
When the scope is `all`, and you declare a global variable in one file:

[code]

but you only consume the variable in another file:

[code]

ESLint doesn't pass (because it's only looking at each file individually). Since almost invariably global variables are used across files, this really reduces the utility of the `all` option.

Any chance ESLint can do a quick pass across all files first so it

[2015-05-28 16:10] arturadib commented on #2631
PS: this is particularly helpful for Meteor

[2015-05-28 16:21] gyandeeps commented on #2631
Why not just say

[code]

On top of the file in which it gets consumed.
Docs: http://eslint.org/docs/user-guide/configuring#specifying-globals

[2015-05-28 16:25] gyandeeps commented on #2627
I think rule-ids are not magic numbers, what you are talking about is the warning level enums?
we have 0, 1 and 2 and you want them to say require, favor and ignore.

May I ask why do you think this change is needed?

[2015-05-28 16:39] xjamundx commented on #2631
Each file is read independently of the other files. Also in a lot of projects the files don't leak globals (most module systems used on both client and server), so this would be a pretty big change indeed.

[2015-05-28 16:45] xjamundx commented on #2627
**Pros**
- Less to explain / document (way more obvious)
- Easy to make backwards compat.

**Cons**
- Much longer to type
- Possibly harder to read at a glance
- Supporting more than 1 system adds complexity

[2015-05-28 16:49] xjamundx commented on #994
It sounds like @puzrin proposed it, @jrajav had some concerns and nobody has yet taken it up yet.

I built something like this for my team, at least some variation of it. It's amazingly hard to get right and does not really work perfectly, but I'd be happy to share what I came up with as a strawman in the coming days...

[2015-05-28 16:52] xjamundx commented on #994
So my rule is actually a little different. It's called `no-next-next` and it tries to prevent people from calling `next()` twice in middleware on accident. Trying to follow this, it sounds like it's not terribly related, but here's what I'm currently using for that (like I said, it's only half working):
https://gist.github.com/xjamundx/1d7ccfe4589f4cb306c4

[2015-05-28 16:56] puzrin commented on #994
@xjamundx sorry, i'm busy with other projects and have no plans to implement this rule in nearest future. I share all ideas, which can be useful for community or need further discussion, but implement only those which are critical for me. This one is interesting but not critical.

[2015-05-28 17:25] ilyavolodin commented on #2630
You are correct, we do not have a rule like that. I also think this rule is too specific for us to add to the core, but it wouldn't be hard to build it yourself as a plugin. You can take a look at the code for some of our existing rules, and read through documentation here: http://eslint.org/docs/developer-guide/working-with-rules. I'm going to close this issue, but if you have trouble creating th

[2015-05-28 17:25] #2630 closed

[2015-05-28 17:29] ilyavolodin commented on #2627
@xjamundx I'm not sure I agree on the pros. It's easier to read existing configuration - true, but it's probably harder to write configuration yourself (not even because of extra characters you need to type, but also because you have to remember that for warning you need `favor`, which is not really obvious).

[2015-05-28 17:42] arturadib commented on #2631
I did. Here's the file:

[code]

and here's the error message:

[code]

Using the default rule:

[code]

[2015-05-28 17:44] arturadib commented on #2631
We must be talking about something else. By definition, any global leaks. (`window.*` leaks on browsers, and so does `global.*`)

[2015-05-28 17:49] nzakas commented on #2610
To start, your initial proposal is too complex - I don't think its a good idea based on the number of areas that would have to change.

We also don't deal just with ASTs, we need tokens, source text, and comments - so one way or another we'd need the JS as a string, which is why processors work with text and not ASTs.

At the moment, I'm having trouble understanding why processors as they are toda

[2015-05-28 17:50] rabbitfang commented on #2631
The global variable declaration needs to occur in the file(s) that global is used in. So in `file1.js` you would add
[code]

[2015-05-28 17:54] arturadib commented on #2631
It is. Here it is the file again:

[code]

and here's the error message:

[code]

As discussed, this happens because ESLint doesn't know I'm actually using `myGlobal` in `file2.js`...

[2015-05-28 18:05] xjamundx commented on #2630
@htulipe it would probably look something like this:

[code]

You build rules around the abstract syntax tree. Paste the code you want to avoid here to get a sense of what sorts of nodes you need to check for:
http://esprima.org/demo/parse.html

For example your code example you're against looks like this:
[code]

[2015-05-28 18:31] lo1tuma commented on #2631
Related: https://github.com/eslint/eslint/issues/1200
On May 28, 2015 7:54 PM, "Artur Adib" <notifications@github.com> wrote:

[2015-05-28 18:32] nzakas commented on #2628
Given that you already have a plugin, why not just keep using the plugin?

[2015-05-28 18:47] xjamundx commented on #2627
Yeah I think I always disliked the `0`,`1`,`2` thing, but trying to come up with something better is pretty tricky!

[2015-05-28 18:50] xjamundx commented on #2631
@lo1tuma yeah that's probably a good idea. of course a short term fix would be just to use `window.myGlobal` which should not have that problem and will hopefully be a bit more explicit (for example if you ever move to module system without implicit globals

[2015-05-28 18:58] xjamundx commented on #2599
@ORESoftware I think you just want the [one-var](http://eslint.org/docs/rules/one-var.html) rule with the `"never"` option? I think that should solve the main use case.

[2015-05-28 19:02] ilyavolodin commented on #2631
@xjamundx `/*exported */` will only solve part of the problem. It will just mark certain variables that are unused as used, so they wouldn't show up in the error log. As far as I understand this question asks for more then that. Being able to do a full scan of all files first and build global scope from all of them and then verify local variable usage against that global scope.
@arturadib We use e

[2015-05-28 19:09] xjamundx commented on #2624
Aren't multiline stings illegal?

[2015-05-28 19:49] gyandeeps commented on #2599
Use cases:

1.
[code]

2.
[code]

3.
[code]

4.
[code]

5.
[code]

6.
[code]

7.
[code]

8.
[code]

What options would pass/fail: (here is my take)
1. Fail
2. Fail
3. Fail
4. Fail
5. Fail
6. Pass
7. Pass
8. Pass

Please share your views. Keep adding more options in your comments but make sure you follow the numbering. so that its easy to talk based on the use case number.

[2015-05-28 20:06] xjamundx commented on #2599
What if 5 was its own rule that was basically like `one-statement-per-line`

[2015-05-28 21:03] spruce-bruce opened #2632 "no-multi-spaces exception types"
Sorry to bring this up after #2006 had so recently been closed. I think the original poster of that issue was onto something.

I use React, for example, and would like to keep no-multi-spaces on, but have it ignore code like
[code]
I don't know how to set my exceptions up to ignore this code and I'm not sure what the best way to find this information would be. I certainly don't think that the docu

[2015-05-28 21:21] xjamundx commented on #2632
Is the question basically:
"Is there some way I can align to an `=` and still have the `no-multi-spaces` enabled?

[2015-05-28 21:28] xjamundx commented on #2632
FWIW here's what the AST of that code looks like in Espree:

[code]

[2015-05-28 21:29] ilyavolodin commented on #2632
@spruce-bruce I understand the problem with missing node type for exception. Unfortunately, this information would only be useful for this one rule, and the rest of the rules wouldn't have any use for it. I don't think it's a good idea to change our reporter format for just one rule. I also don't think it's a good idea to have a special case for this rule in reporter.
What I would suggest is creat

[2015-05-28 21:39] PiPeep commented on #2239
I think this is the same issue: https://gist.github.com/PiPeep/c2ace2fd7b82917cb263

[2015-05-28 21:42] spruce-bruce commented on #2632
@xjamundx the question is more 'does eslint provide a way to determine the type to provide to the exceptions object of the no-multi-spaces rule'

@ilyavolodin Ok thanks for the tip.

[2015-05-28 21:42] #2632 closed

[2015-05-29 00:41] hgl commented on #2627
@gyandeeps I didn't notice the explanation for rule id, and was always wondering what those number mean when reading rules. I initially thought it's part of the option value, where the number denote more/less than 2 lines or something, and then I guessed it might be some kind of version number, where a `[2, "never"]` might lint less than `[3, "never"]`. Not until I finally found the explanation di

[2015-05-29 01:11] hgl commented on #2627
BTW, I actually thought about these numbers have something to do with errors, but I thought it meant exit status. I thought eslint might exit on first lint error and then use the exit status as specified by the rule id.

As you can see, using number can result in different interpretations.

Using enums rule out version numbers, and return status, and the word `require`, `favor` should make it obvi

[2015-05-29 02:30] tqc commented on #1025
I have put together an initial implementation. Note that it isn't tested and I have deliberately left some errors in the interest of a clear diff, but it shows the general approach.

I have added a new api.verifyPreparedAST to provide a separate path for externally prepared ASTs that may need more validation and to keep the original api.verify simple, but it could be done with the object/string pa

[2015-05-29 02:37] nzakas commented on #2631
I'm sorry, this is very far outside the scope of what ESLint is meant to do and I don't see addressing this. I think the best advice we can offer is that you build a tool that grabs global definitions from your files and outputs an eslintrc file with the `globals` predefined. Then, you can use `extends` to import it.

[2015-05-29 02:37] #2631 closed

[2015-05-29 02:54] tqc commented on #2610
Ok, I think the initial idea can be simplified a bit. 1 goes away if #1025 is handled first, which looks like being easier to do than I initially thought. 3 can probably be handled separately - it would definitely be nice to have access to the context/config from a processor, and it ties into some of my ideas around multiple configuration, but it doesn't directly block the others.

That leaves jus

[2015-05-29 03:11] ilyavolodin commented on #2203
Here another idea for 2.0.0
To improve performance of eslint, we could change the code to use thread-pool of web worker threads, and run each file in it's own thread. Mostly everyone has a multi-core processor at this point, so we should get a pretty significant boost in performance.
In order to do this, however, we will have to make everything up to `cli-engine.executeOnFiles` async and use callb

[2015-05-29 07:30] lo1tuma commented on #2627
I agree that those magic numbers are a bad thing, especially for a code quality tool.

I'm not sure that your proposal really improves something because the enums aren't very meaningful without context.

I would prefer something like this:

[code]

[2015-05-29 07:44] c089 commented on #2627
:+1: for improving this. I like @lo1tuma 's suggestion, though I'm not sure why `serverity` would not jsut be an `option` itself?

[2015-05-29 08:32] lo1tuma commented on #2627
@c089 `options` isn't necessarily an object, e.g. `padded-blocks: { severity: "error",  options: ["always"]} `. I think it would be good idea to change this as well, so options are always object properties with a meaningful name, e.g. `padded-blocks: { severity: "error", requirePadding: "always"} `.

[2015-05-29 08:53] grabbou commented on #1842
@nzakas what about starting with all prototype methods and class methods in ES6? Once the feature is up & running, we can figure out other places where it should work. If that's something you'd like to see working, can submit the proposal.

[2015-05-29 09:17] hgl commented on #2627
@lo1tuma This is even more verbose, but I agree, it conveys the intention more clearly.

I actually thought about proposing things like this

[code]

I think this requires less typing and is very clear. But this probably won't work for the inline rule?

Would something like `/*eslint-error ...  */`, `/*eslint-warning ... */` be feasible?

[2015-05-29 10:33] lo1tuma commented on #2627
I don’t care how much I have to type. The only important thing is that the result leaves no room for confusion.

[2015-05-29 10:48] lo1tuma commented on #2011
I think attributes is currently to only place where quotes can appear in JSX, so `jsx-quotes` is a bit less specific but generally the name should work.

[2015-05-29 10:50] lxanders commented on #2627
Having everything readable and avoid confusion is IMHO one of the most important things in software development. It is not nearly valued enough (as well as avoiding duplication etc. but let's not start a discussion about software quality here).

In short: I like the idea to avoid these magic numbers and I like @lo1tuma s approach to this.

* I'd make the options mandatory so it is always

[code]

[2015-05-29 11:00] hgl commented on #2627
with `severity` implemented, you are more likely to order rules with regard to its value:

[code]

Then why not just nesting them under severity?

[2015-05-29 11:03] lo1tuma commented on #2627
@hgl: your approach has a problem as you can configure the exact same rules for multiple severity levels.

[code]

[2015-05-29 11:06] hgl commented on #2627
I think eslint can just warn users about duplicating rules.

[2015-05-29 11:13] lo1tuma commented on #2627
Yes, but I still think it would introduce a new kind of confusion instead of eliminating existing confusion.

[2015-05-29 11:17] hgl commented on #2627
This kinds of problem already exists:

[code]

We just choose to let vm deal with it. Worse, the result is actually random.

[2015-05-29 11:38] hgl commented on #2627
Probably not random. Just checked es5 spec, the last one with the same key wins if I'm not wrong.

But still, I don't think nesting rules creates this problem, it already exists, we simply can't prevent users from writing duplicating rules, but we can warn them.

[2015-05-29 12:08] davidaurelio opened #2633 "consistent-this incorrectly triggered when destructuring `this`"
[code]

Triggers `consistent-this`, but it should not.

[2015-05-29 14:38] xjamundx commented on #1842
I think any function declarations at the root of a file would be what I'd personally want to see, but I can see how this depends drastically on the project and language at hand.

We may also talk to @nrsedat about his plugin to see if he has any ideas:
https://github.com/nrsedat/eslint-plugin-require-jsdoc

[2015-05-29 16:12] mysticatea commented on #2333
I will try to make this.
I like const!

[2015-05-29 16:43] nzakas commented on #2627
I'm pretty hesitant to make such changes - config is the most complicated part of ESLint, and we have pretty clearly documented these values:
http://eslint.org/docs/user-guide/configuring#configuring-rules

I really don't like the idea of using strings for setting severity level. Part of the reason I went with numbers is that it's hard to mistype them and easy to compare against one another.

Most

[2015-05-29 16:47] nzakas commented on #2321
I think we need a better option name for using regular exclusions, but otherwise, looks good.

[2015-05-29 16:48] nzakas commented on #993
No one has taken it up, so closing.

[2015-05-29 16:48] #993 closed

[2015-05-29 16:50] #2477 closed

[2015-05-29 17:23] #2310 closed

[2015-05-29 17:54] #2633 closed

[2015-05-29 17:58] xjamundx commented on #2619
Will file this for espree and we can close here...

[2015-05-29 17:59] xjamundx commented on #2619
https://github.com/eslint/espree/issues/146

[2015-05-29 18:04] nzakas commented on #1086
Possible overlaps #746

[2015-05-29 18:13] nzakas commented on #1088
:+1: we should do this for 1.0

[2015-05-29 18:18] nzakas commented on #2555
How about `require-restrict` or `restrict-require`?

[2015-05-29 18:22] nzakas commented on #2598
The issue here is that there isn't general agreement as to whether the name helps debugging or not. I, for one, don't find it very useful and so consider it a stylistic choice for code readability.

[2015-05-29 18:23] mathieumg commented on #2555
Perhaps `restrict-module` or even `restrict-module-path`? If we want to cover both `require` and `import`.

[2015-05-29 18:24] nzakas commented on #2588
I'd like to avoid overcomplicating the rule, so I'm looking for an option that doesn't require a lot of configuration.

[2015-05-29 18:27] #2619 closed

[2015-05-29 18:27] nzakas commented on #2624
[code]

[2015-05-29 18:31] nzakas commented on #2599
@ORESoftware so far, your just saying "good" or "bad", you haven't talked about what rule configuration you've tried, what ESLint is currently doing, etc. I have no idea of you're asking for something new or something we already have. It would be helpful to use the standard issue format:

1. What code do you have?
2. What is the ESLint output?
3. What do you expect the output to be?

[2015-05-29 18:32] ilyavolodin commented on #2405
Closing as this issue has been fixed with latest escope upgrade.

[2015-05-29 18:32] #2405 closed

[2015-05-29 18:34] nzakas commented on #1025
Can you send a pull request?

Fwiw, I don't want a separate method.

[2015-05-29 18:37] nzakas commented on #2610
I'm sorry, I don't see us moving forward with this idea. You're asking for changes that are too dramatic for a use case that is uncommon. My advice remains: do text-to-text transform in the processor.

[2015-05-29 18:37] #2610 closed

[2015-05-29 18:38] nzakas commented on #2011
I'm fine with either - your choice

[2015-05-29 18:40] nzakas commented on #1842
@grabbou we need to stay with something that easily lends itself to extension later, that's the tricky part.

@xjamundx I think the naming is the big problem to solve here. Some of these are pretty ambiguous

[2015-05-29 18:41] nzakas commented on #2555
I don't know that we want to cover both with one rule

[2015-05-29 18:42] ilyavolodin commented on #2627
I really don't see this as a huge issue, honestly. I don't mind format that @lo1tuma suggested, but if we are going to add it, I really think it should be in addition to existing format, not as a replacement. If config will understand both formats, I'm fine with that. But making a breaking change just so people would avoid reading documentation doesn't sound right to me.

[2015-05-29 18:44] ilyavolodin commented on #2555
I would vote for `restrict-require` or `restrict-require-path` and make it apply to `require` statements only for now. If we get requests down the line for `import` support, we can add it, and rename the rule before 2.0.0.

[2015-05-29 18:47] nzakas commented on #2627
I don't want two ways of doing configuration, that increases complexity for very little gain.

@lo1tuma if you want to think about some incremental improvements for 2.0.0, add that to the wish list.

For now, we aren't going to make any changes. The documentation is pretty clear about these numbers, we should keep pointing people to it.

[2015-05-29 18:47] #2627 closed

[2015-05-29 18:48] mathieumg commented on #2555
Why not? It only applies to the "path" part for both, so the distinction wouldn't serve any purpose:

[code]

[2015-05-29 20:01] #2599 closed

[2015-05-29 20:02] ORESoftware commented on #2599
Thanks I think what I want is covered by the one-var rule

[2015-05-29 20:21] denis-sokolov commented on #2555
Frankly, indeed, `require` and `import` has identical semantics.
The intent of the rule is to restrict which modules are imported into the scope.
The syntax used for that does not matter.

[2015-05-29 20:27] xjamundx commented on #2555
Would someone need to enable `ecmaFeatures: { module: true }` to use this feature for `require` for example?

[2015-05-29 20:34] denis-sokolov commented on #2555
No, that requirement would not be beneficial. What about developers that rely on `require` alone and the current Node platform?

[2015-05-29 21:48] ORESoftware commented on #2598
you know what would be pretty cool. if we could generate unique ids for function names that had a certain format. likes names starting with $$$. then the ide could/would hide them. but you could search for them in your IDE and they would appear in stack traces. that would be cool. so in your codebase, the functions would appear to be anonymous, because the IDE would hide them.

[2015-05-29 21:49] ORESoftware commented on #2598
that's actually a crap idea hahaha

[2015-05-29 21:50] ORESoftware commented on #2598
function $$$hidden(){}

the "$$$hidden" would show up in plain text everywhere

[2015-05-29 23:19] nzakas commented on #2598
@ORESoftware please keep your comments related to the issue.

[2015-05-29 23:21] nzakas commented on #2555
@denis-sokolov unfortunately, the semantics are very different even though the syntax looks functionally similar.

[2015-05-30 00:13] ORESoftware commented on #2598
$$$

[2015-05-30 03:11] gyandeeps commented on #1229
Closing this as this is old and no one showed any interest.
Feel free to reopen if interested.

[2015-05-30 03:11] #1229 closed

[2015-05-30 03:43] feross opened #2636 "ecmaFeatures `globalReturn` stops working when `modules` is true"
`globalReturn` stops working when `modules` is true.

[code]

[2015-05-30 05:52] denis-sokolov commented on #2555
@nzakas, how so? For our purposes, restricting how deep we can navigate for dependencies, `import foo from 'foo'` is equivalent to `var foo = require('foo')` and `import { bar } from 'foo'` is equivalent to `var bar = require('foo').bar, is that not true?

[2015-05-30 06:37] tomprogers opened #2637 "Add configuration to no-unreachable"
Some people subscribe to the notion that you should always `break` in your `case` statements, even if the `case` `return`s. Like so:

[code]

It the code you get when you take the `no-fallthrough` rule to the furthest extreme.

It would make life easier if we could configure the `no-unreachable` rule to accept this kind of thing. Perhaps there is a broader, generalized form of this, like being abl

[2015-05-30 07:38] denis-sokolov opened #2638 "Yoda: optionally only apply to equality operator"
The premise of the Yoda rule is to prevent accidental assignment instead of comparison due to similarity of `=`, `==`, and `===`. This premise is confirmed in the [issue that initiated the yoda rule in eslint](https://github.com/eslint/eslint/issues/504), [in Wikipedia](http://en.wikipedia.org/wiki/Yoda_conditions), [on Stackoverflow](http://web.archive.org/web/20100715190839/http://stackoverflow.

[2015-05-30 09:07] htulipe commented on #2630
@xjamundx Thanks for the code sample and link. I thought it would take a longer piece of code.
@ilyavolodin Thanks for your advice. I must say I disagree when you say it is a too specific rule. The code I am trying to avoid is really bad practice because a new instance of every function will be created in memory each time you instanciate the "class". Whereas, with the prototype, only one instance

[2015-05-30 09:48] lo1tuma commented on #2637
Is there any reason why you don't disable this rule?

[2015-05-30 13:38] cwrea commented on #2588
Acknowledged. I'll interpret your *"doesn't require a lot of configuration"* as meaning either no added configuration, or the least possible, i.e. a boolean. From there, I propose any of:

- No configuration required, tight: The rule could accept the *specific* special single-line comment markers discovered already as equivalent to a single-line comment marker. Adding other variants would require

[2015-05-30 15:56] tomprogers commented on #2637
We still want to alert devs to things like this:

[code]

And just to be clear: "devs" in this case is me. ;)

[2015-05-30 15:57] ilyavolodin commented on #2630
@htulipe I understand that. However, the reason I said it's too generic, is because there are a lot of people who don't want prototypical behavior. So they would assign properties to an object directly, instead of doing it on the prototype. For example, whenever I create classes that way, I always create `initialize` method on the object, not on the prototype.
We don't have any way to determine wh

[2015-05-30 17:48] jrvidal commented on #2119
Working on this

[2015-05-30 19:07] htulipe commented on #2630
I get your point and will create a plugin. Thanks again for your reactivity and for the eslint project, it is great.

[2015-05-30 22:33] ilyavolodin opened #2640 "Auto publishing release notes throws an error"
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19027913-auto-publishing-release-notes-throws-an-error?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&ut

[2015-05-30 23:33] nzakas commented on #1806
As this has been open for a few months with no progress, we will close this unless someone comes forward to champion this change.

[2015-05-30 23:44] nzakas commented on #2555
The semantics of import statements are very different than `require` - while they appear to do the same thing, they actually do not. ES6 modules have their own scoping rules, create lexical bindings via import, etc.; `require` is just a method call and has no scoping or binding effects. So the code you mention is not actually equivalent.

You're talking about there being a logical equivalence betw

[2015-05-30 23:47] zloirock commented on #2477
Still not fixed in 0.22 =\

[2015-05-30 23:50] nzakas commented on #2598
Okay, to close this out - the categories are just logical groupings so we don't just have a giant list of rules. That's too say, I don't consider this distinction important enough to spend more time on.

[2015-05-30 23:50] #2598 closed

[2015-05-30 23:52] nzakas commented on #2636
As designed.

[2015-05-30 23:52] #2636 closed

[2015-05-30 23:56] olegafx opened #2641 "OSX version is broken: line endings"
After trying to run eslint:
[code]

`dos2unix` on entire `eslint` directory fixed problem

[2015-05-30 23:58] nzakas commented on #2638
The yoda rule is not just about equality, though your interpretation is that it should be. We never intended it to be just about equality, so we aren't going to make such a chance.

The best I can offer is an option that lets you restrict the Yoda rule to equality if you so choose.

Keep in mind, we have a ton of users, so we try not to change existing rules unless there are obvious bugs or missin

[2015-05-31 00:01] nzakas commented on #2637
I'd suggest disabling the rule manually in that case:

[code]

I'm sorry, but I can't rationalize adding an exception that allows unreachable code to this rule. :)

[2015-05-31 00:01] #2637 closed

[2015-05-31 00:03] nzakas commented on #2641
What version are using? Have you seen this in other versions?

[2015-05-31 00:05] olegafx commented on #2641
Version: 0.22.0
I upgraded eslint to latest version and my linter stopped working.

[2015-05-31 00:06] nickb1080 commented on #2641
just installed 0.22 on OSX Yosemite and see the same thing

[2015-05-31 00:10] nzakas commented on #2641
@olegafx what version were you using previously? Are you installing globally or locally? What command are you running?

Everyone: full console output including the actual command you're running would be helpful.

[2015-05-31 00:12] nickb1080 commented on #2641
At the command line:
[code]

Uninstalled 0.22 it and installed 0.21, works great.

[2015-05-31 00:12] olegafx commented on #2641
These commands helped. But it’s strange cause bin directory wasn’t change for 28 days…
[code]

@nzakas I don’t remember my previous version. Locally. `./node_modules/.bin/eslint`

[2015-05-31 00:14] jrvidal commented on #2477
I think the intention is to deprecate `no-wrap-func` and use the "functions" option in [`no-extra-parens`](http://eslint.org/docs/rules/no-extra-parens) instead

[2015-05-31 00:17] olegafx commented on #2641
I found `0.21.2` on another project and it works fine.

[2015-05-31 00:18] nzakas commented on #2641
Thanks, we are tracking down the bug to a local fit misconfiguration.

[2015-05-31 00:25] nzakas commented on #2641
So here's our theory of what happened.

This was the first time someone other than me did a release, and we find my repo was setup to normalize line endings to Unix despite being on Windows. However, the default setting on git for Windows is to normalize to Windows line breaks. So anyone else who did a release on Windows would unintentionally convert all files to Windows endings, so `npm publish `

[2015-05-31 00:26] zloirock commented on #2477
@jrvidal I don't use `no-wrap-func`, `no-extra-parens` enough for me, but after removing `no-wrap-func` from `.eslintrc` I still have this error.

[2015-05-31 00:30] zloirock commented on #2641
After updating `0.21` -> `0.22` on windows `eslint` works correct, but on travis / linux I have [the same error](https://travis-ci.org/zloirock/core-js/builds/64748374). Awaiting `0.22.1` :)

[2015-05-31 00:31] nzakas opened #2642 "automatically convert line endings in release script"
the release script today always publishes whatever files are on the local disk. That means misconfigured get repositories can change line endings and we can end up publishing files that won't work on Macs. We should add in a step that automatically converts all line endings to Unix style.

[2015-05-31 00:31] feross commented on #2636
Why?
On Sat, May 30, 2015 at 4:52 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2015-05-31 00:32] nzakas commented on #2641
Related: https://github.com/eslint/eslint/issues/2642

[2015-05-31 00:40] jrvidal commented on #2477
@zloirock Could you provide a test case? I am unable to reproduce it with your examples above.

[2015-05-31 00:42] nzakas commented on #2636
Modules can't be wrapped in function scope, so a global return isn't possible.

[2015-05-31 00:44] zloirock commented on #2477
@jrvidal https://github.com/zloirock/core-js :) after removing `"no-wrap-func": 0` from `.eslintrc` and updating to `0.22` - still this error.

[2015-05-31 01:02] jrvidal commented on #2477
@zloirock Oh, sorry, I didn't understand you. Yes, `no-wrap-func` hasn't been fixed. If you have `no-extra-parens` enabled, you'll get warnings for unnecessary function wrapping. Meanwhile, `no-wrap-func` is still enabled by default. I'll open an issue to deprecate it properly.

[2015-05-31 01:05] zloirock commented on #2477
@jrvidal looks like I didn't understand you too. I thought, you wrote `no-wrap-func` was deprecated in previous commits :)

[2015-05-31 01:05] jrvidal opened #2644 "Deprecate `no-wrap-func`"
We should deprecate `no-wrap-func` after #2578, and disable it by default. We could activate instead `no-extra-parens` as `[2, "functions"]` to substitute it.

[2015-05-31 01:33] ilyavolodin commented on #2641
I just published v0.22.1 that fixes line-endings on OSX and Linux (I only verified on OSX, but pretty sure it will work on Linux as well). Please open a new issue if you find other problems.

[2015-05-31 01:33] #2641 closed

[2015-05-31 08:33] ljharb opened #2645 "As of v0.22.0, `no-shadow` errors on function names"
The `no-shadow` rule previously allowed:
[code]

However, this appears to now warn, since the function's lexical name binding is technically shadowing the outer variable of the same name.

This is new breaking behavior - could there be a `no-shadow` option that ignores function names?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1

[2015-05-31 09:26] htulipe commented on #2630
For the record, I pushed a first draft here: https://github.com/htulipe/eslint-plugin-no-this-func

[2015-05-31 09:46] denis-sokolov commented on #2555
Note that I said "for our purposes". For our purposes, that is, restricting relative imports to a particular module structure as defined by the configuration, `var foo = require('foo')` is equivalent to `import foo from 'foo'`. If I want to use the rule and make sure me and my team do not import grand-children, I certainly do not care whether CommonJS or ES6 syntax is used to do so!

In my mind th

[2015-05-31 09:53] denis-sokolov commented on #2638
If you don't mind, what is the value behind extending the yoda rule for non-equality? Enforcing `2 == a` avoids the `a = 2` bug. What does enforcing `2 > a` achieve? Is there anyone else on the internet that uses the yoda rule for non-equality?

This change would be backwards-compatible, as it would not introduce new warnings, but decrease the number of previously existing warnings. I thought that

[2015-05-31 13:18] michaelficarra commented on #2645
See https://github.com/eslint/eslint/issues/2556. This was considered a bug fix, not a breaking change. Why are you writing code like that?

[2015-05-31 13:22] michaelficarra commented on #2638
I agree with @denis-sokolov here. I would only want the yoda rule to work on equality comparisons, and I think that is a better default.

[2015-05-31 15:43] ilyavolodin commented on #2642
I'm not sure about automatically converting line-endings dos2unix only does one file at a time, so you have to pull each file individually into it. But to verify line-endings, we can just run eslint with `linebreak-style: [2, 'unix']`.

[2015-05-31 15:52] nzakas commented on #2644
We don't change which rules are enabled by default because it messes up people's configs. We should track removing it in #1898.

In the meantime, we should add notes to the docs saying the rule is deprecated.

[2015-05-31 15:54] olegafx commented on #2642
@ilyavolodin
1. you could pass a whole dir to `dos2unix`. Something like:
[code]
2. You could use `sed`
3. To run `eslint` your `eslint` bin should work correctly :wink:

[2015-05-31 15:56] nzakas commented on #2642
There's also this: https://www.npmjs.com/package/linefix

[2015-05-31 16:04] nzakas commented on #2638
@denis-sokolov I've already said I'd accept an option and why I don't like changing rule defaults. That's all in going to say on the topic.

You have to realize, for every person who shares your opinion, there's another who wants it the way it is and would be upset with a change in default behavior. That's the burden of having a popular tool, we have to balance everyone's needs and expectations.

[2015-05-31 16:13] nzakas commented on #2588
Come to think of it, defining specific markers is probably the best way to go. I've been seeing some code that would not be happy with generic options. Maybe something like:

[code]

Thoughts?

[2015-05-31 16:18] ljharb commented on #2645
To both name a function and avoid the hoisting caused by a declaration. I've not only always written my functions this way, but I've long advocated others do it too.

[2015-05-31 16:19] ljharb commented on #2645
I certainly could name the function differently than its containing variable, but this should be configurable so I'm not forced to.

[2015-05-31 16:53] gcochard commented on #2588
`markers` sounds like a decent option given what they are doing.

Config should look like this:

[code]

[2015-05-31 17:00] btmills commented on #2644
`no-wrap-func` has been added to the deprecated rules list in #1898.

[2015-05-31 17:09] nzakas commented on #2555
Yes, logical equivalency, not semantic equivalency - this is an important distinction for tools like ESLint.

You have to realize, I've been doing this for two years, and so I know the problems that can happen when creating rules that are ill-defined or overly broad. Once rules are introduced, they will be there for a long time, so I have a vested interest in making sure the ones that are bundled

[2015-05-31 17:23] nzakas commented on #2645
@ljharb this is trickier than it seems - what is the pattern that should be excluded here? We can't just say function expression names don't count, as that will have a bunch of side effects (this was the bug @michaelficarra is referring to).

What about this?

[code]

(Note: semantically equivalent to your example.)

[2015-05-31 17:25] nzakas commented on #2588
Not quite, see my comment for what I think it should look like. No point in making people specify `//` all the time.

[2015-05-31 17:26] gcochard commented on #2588
@nzakas Copypasta error :disappointed:. Corrected below.

[code]

[2015-05-31 17:43] lencioni opened #2647 "object-curly-spacing possible bug with destructuring and trailing commas"
I have the following code:

[code]

With the new object-curly-spacing rule set to `always` in ESLint 0.22.1, I see the following output:

I wasn't able to find any mention of this in the documentation for the rule, so I'm not sure if it was intentional or not, but it seems a bit strange to me so I thought it might be a bug.

Thanks for all of your great work on this tool!

[2015-05-31 17:45] gcochard commented on #2640
Ack, I didn't realize `got` and by extension `gh-got` didn't automatically stringify the `POST` body. I will have this fixed in a few minutes.

[2015-05-31 17:46] tikotzky opened #2648 "some executeOnText() tests are in the wrong describe block"
see: https://github.com/eslint/eslint/blob/c6e1d2390e035237225a06ce76e2a92c8363452c/tests/lib/cli-engine.js#L289-L322

those lines are within `describe("executeOnFiles()", ...`
they should be move to be within ``describe("executeOnText()", ...`

[2015-05-31 18:25] denis-sokolov commented on #2638
Perhaps `onlyEquality` as the option name? With the option enabled the yoda rule would only care about `==` and `===`, but would not care about `!=`, `!==`, `<`, `>`, `<=`, and `>=`.

The following is a continuation of a discussion. Feel free to ignore it if you can't afford further debate.

Of course, every change [breaks someone's workflow](http://xkcd.com/1172/). I am trying to make eslint's de

[2015-05-31 18:28] tikotzky opened #2651 "processor tests are not testing that the processor is actually running."
The current tests are here: https://github.com/eslint/eslint/blob/c6e1d2390e035237225a06ce76e2a92c8363452c/tests/lib/cli-engine.js#L882-L926

They only assert that the regular rules still run when a processor is included. They don't actually test that the processor itself is ran.

[2015-05-31 18:36] denis-sokolov commented on #2555
The current proposal looks roughly like this: `import-path-style: { up: 2, down: 1 }`.
If a use case like this arises, we can support it by adding more options to the rule:
`import-path-style: { require-up: 3, import-up: 1, down: 1 }`, while allowing the common use case to use a shorthand of `up` and `down` options.
If you dislike that, should we make two rules `import-path-style` and `require-pat

[2015-05-31 19:21] tikotzky commented on #2331
@nzakas I made the changes needed to run processors when calling `executeOnText` here: https://github.com/tikotzky/eslint/tree/process-executeOnText

I'm waiting for #2651 to get merged before opening a PR because those tests are needed to prove that the processor is running when calling `executeOnText`

[2015-05-31 20:04] ilyavolodin opened #2653 "io.js is breaking Travis build"
It looks like there's a bug in io.js v2.2.0 described [here](https://github.com/nodejs/io.js/issues/1850) for now, we should lock io.js to version v2.1.0 until this issue is fixed.

[2015-05-31 20:16] #2653 closed

[2015-05-31 20:24] #2651 closed

[2015-05-31 21:11] #2648 closed

[2015-06-01 00:21] ljharb commented on #2645
Essentially yes, I want an option so that function expression names don't count. Your example would be allowed in this case as well.

I would want to know that function declaration names are shadowing, since that could be accidental, but if I'm assigning a named function to a same-named variable, that's explicit and intentional, and I don't want that to set off a warning.

[2015-06-01 05:43] mysticatea commented on #2645
@ljharb I guess your example code wasn't warned by `no-shadow` rule. This rule ignores this general pattern.

[code]

No errors as same as you expected.
But now, if the declaration was separated, it's warned.

[code]

Please see also #2608 and [a test for this pattern](https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-shadow.js#L24)

@nzakas If it's need, I can work to allow shadowin

[2015-06-01 06:48] ljharb commented on #2645
@mysticatea aha, thanks for clearing that up. This also happens with the following:
var Foo = (function () {
   /* some setup */
  return function Foo() { };
}());
[code]

[2015-06-01 07:25] mysticatea commented on #2645
@ljharb Oh, wow, I hadn't thought that pattern...

[2015-06-01 08:03] mysticatea commented on #2645
FYI, probably required fixes to allow the pattern are about [this scopes checking](https://github.com/eslint/eslint/blob/master/lib/rules/no-shadow.js#L53).

[2015-06-01 11:20] mzgol commented on #2653
io.js 2.2.1 is out, commit 8743897 can be reverted.

[2015-06-01 17:03] feross commented on #2636
Thanks for explaining.

[2015-06-01 17:26] silverwind opened #2657 "Feature request: Disable certain globals"
In node core, we want to discourage the usage of the `Buffer` global for certain reasons. We thought it would be nice to have the linter error on usage of this global, so I went ahead and removed the `node` environment and manually defined all available globals except `Buffer`.

This is going to require a bit of manual maintenance and I thought something like `disabled-globals` akin to `globals` c

[2015-06-01 17:37] ilyavolodin commented on #2657
I don't think that's a good idea for your use-case. If you were to remove `Buffer` from the list of global variables, you would get `no-undef` error. Which is not going to be true. `Buffer` is still defined and available, you just don't want people to use it.
I suggest you create a custom rule that prohibits use of `Buffer`, this way, people will get a clear message every time the use it.

[2015-06-01 17:38] silverwind commented on #2657
Yeah, it's a bit of abuse of `no-undef`, I agree. Will look into custom rules, thanks.

[2015-06-01 17:39] xjamundx commented on #2657
I mean it's not too much different from http://eslint.org/docs/rules/no-restricted-modules. `restricted-keywords` I think it makes sense. I manually rolled one to to ban jQuery from my project. @silverwind if you need any help. This will be the simplest rule ever.

[2015-06-01 17:58] ilyavolodin commented on #2647
I just verified it, and it does error out. However, I think the error is correct, the message is wrong though. I think it's erroring on a let statement, because with `always` keyword, you have to have a space after a comma. Now the message is saying that space is missing before the comma, so the message is clearly wrong.

[2015-06-01 17:58] nzakas commented on #2588
:+1:

[2015-06-01 18:04] pmcelhaney commented on #2575
That [regex](https://github.com/eslint/eslint/blob/master/lib/rules/no-trailing-spaces.js#L13) is a little weird.

    var BLANK_PREFIX = "[^( |\t)]"

It could be reduced to this. Not sure if that makes any difference.

    var BLANK_PREFIX = "[^ \t]"

[2015-06-01 18:10] nzakas commented on #2638
The option sounds okay. If you'd like to submit a PR, we will happily except.

I'm not interested in debate - the option is as far as this will go.

[2015-06-01 18:12] gcochard commented on #2588
I'll take this and have it patched today :smile:

[2015-06-01 18:13] gcochard commented on #2588
@nzakas just need the `accepted` label before I start.

[2015-06-01 18:28] nzakas commented on #2645
@ljharb so you literally want all function expression names exempted from this check regardless of where they appear?

[2015-06-01 18:32] nzakas commented on #2647
Isn't this rule specifically about the curlies? Why would it care about commas at all?

[2015-06-01 18:33] nzakas commented on #2588
Oops forgot. Thanks for the reminder.

[2015-06-01 18:59] xjamundx commented on #2647
I assume that's a typo, but will double check.

[2015-06-01 19:52] ljharb commented on #2645
Yes, I'd certainly be content with an option that exempted all function expression names from this check.

If there's a practical way to have more granular configurations, I'm always all for that :-)

[2015-06-01 19:55] jcbp opened #2661 "Rule names across different ESLint versions"
We are running ESLint from both a grunt task and a Brackets Editor plugin for the same project. There are other contributors to the same project who also run ESLint from Webstorm. We mantain a single .eslintrc file for all cases.
Since the ESLint version that plugins and grunt use may differ from each other, we faced in several situations ESLint failing due to different rule names for each ESLint

[2015-06-01 21:19] xjamundx commented on #2226
I'll take this on sometime this week.

[2015-06-01 21:24] xjamundx commented on #2647
Here's what I get with `0.22.1`:

[code]

[2015-06-01 21:25] zertosh opened #2662 "eslintrc getting skipped when $HOME is $PWD"
I'm having issues with our CI building our apps in the `$HOME` dir. If I have:

[code]

And `your-project` also happens to be `$HOME`. When linting `tests/test.js`, eslint will [skip](https://github.com/eslint/eslint/blob/665f87d01943e45f3aa9639ea3e921f7cd402b00/lib/config.js#L203-L206) `your-project/.eslintrc` (since it found `your-project/tests/.eslintrc`).

It makes sense to skip `$HOME/.eslint

[2015-06-01 21:30] xjamundx commented on #2647
We use `last = context.getTokenAfter(lastSpecifier);` because we don't handle the trailing comma. When we pass this to the reporter, it just reads the value for that token, which in our minds will always be `}` or ` `, but in this case it's `,`

[2015-06-01 22:05] ilyavolodin commented on #2662
Hmm.. that's strange, as far as I remember the code, it should find `.eslintrc` in the same directory first, and if it did, then it's just not going to look for the file in `$HOME`, but it shouldn't remove the one it found already.

[2015-06-01 22:07] zertosh commented on #2662
If you're testing `your-project/tests/test.js`, it finds `your-project/tests/.eslintrc` just fine, but it skips `your-project/.eslintrc` if `your-project` is also `$HOME`.

[2015-06-01 22:11] ilyavolodin commented on #2647
Hmmm.. I don't think adding explicit support for trailing commas would work. What about something like this:
[code]
or
[code]
It feels like we should find closing brace and check if the previous character is space.

[2015-06-01 22:12] xjamundx commented on #2647
I put together a quick PR which does it the way I described, feel free to comment in there with any feedback which I'll gladly apply

[2015-06-01 22:16] ilyavolodin commented on #2647
Nevermind, I just checked the examples I wrote, and they all work fine.

[2015-06-01 23:29] gcochard commented on #2588
No prob.

[2015-06-02 04:07] #2647 closed

[2015-06-02 09:39] Nyalab opened #2665 "no-irregular-whitespace should not be checked in template literals"
This rule works well for string surrounded by quotes but not for template literals

[2015-06-02 12:22] hzoo commented on #2661
Rules that are changed should already have a notice that they are being deprecated and it doesn't happen that often? You can include ESLint as a root dependency so that grunt and others will use that version. Also, a lot of plugins use a global ESLint anyway which can be updated.

[2015-06-02 13:42] sindresorhus opened #2666 "`no-process-exit` should be ignored in CLI's"
I want to use this option, but in CLI's it *does* make sense to use `process.exit()`.

Would be nice if ESLint could detect the hashbang `#!/usr/bin/env node` and disable the rule there or add some kind of mode for doing that (preferable the first).

Example: https://github.com/sindresorhus/trash/blob/e75f1489f626a729eaec00a2088cd5df76a91420/cli.js#L32

[2015-06-02 14:14] ilyavolodin commented on #2665
Can you provide sample code, version of eslint your are using and which parser do you use?

[2015-06-02 14:16] ilyavolodin commented on #2661
@jcbp We are planning on retiring all of the deprecated rules before 1.0.0 and after the first major release, we will be very cautious about removing existing rules. You can also setup editor integrations to use the same version as command line tool. At the very least you can definitely do that for WebStorm.

[2015-06-02 14:56] sindresorhus opened #2667 "`lines-around-comment` exception for first line in a block"
## Config

[code]

## Result

[code]

## Wanted

I want to be able to have a comment on the first line in a block without it being an error.

[code]

-

Same goes for `beforeBlockComment`.

[2015-06-02 15:02] mathieumg commented on #2667
I didn't install 0.22.x yet, but when reading the changelog I thought about this case. Especially with `padded-blocks` set to `never`, in which case you're damned if you do, damned if you don't. I'd welcome a way to have block-starting comments be valid. :+1:

[2015-06-02 15:18] ilyavolodin commented on #2666
Hmm.. That might be tough. If I'm not mistaken, we remove hashbang from the file before running validate on it. I don't remember this for sure, but I think @michaelficarra made that change a while back.

[2015-06-02 15:18] apierzch opened #2668 "Allow key-spacing to align separated groups as well"
Currently example in documentation says that separated groups will not align:
[code]

It would be useful to have option that would enforce or allow such alignment, so that I can have:
[code]

Same for aligning on colon.

I'll try to provide a PR if you agree with me.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19777393-allow-key-

[2015-06-02 15:21] ilyavolodin commented on #2668
If you want all of those properties to be aligned, why do you separate them out with a line break? Wouldn't it be easier to just remove line break?

[2015-06-02 15:52] webgefrickel opened #2669 "False positive with rule consistent-this"
I have the eslint rule consistent-this enabled in .eslintrc via:

[code]

For the following code snippet, i get a warning: "Unexpected alias 'sum' for 'this'  consistent-this":

[code]

I am not trying to assign this to anything, just trying to get the sum of all items in the total-array. (I know there are other ways to do that (without jQuery), nevertheless, there should no warning be thrown, if

[2015-06-02 16:29] michaelficarra commented on #2666
I like this proposal. Also, I don't see why we couldn't change the rule configuration for files that have the shebang stripped.

[2015-06-02 16:54] xjamundx commented on #2667
I also want a way to require a newline after a file-level block-level comment.

[code]

But without requiring newlines below other block-level comments.

[2015-06-02 16:56] xjamundx commented on #2667
@sindresorhus Can you suggest what that exception might look like in the configuration?

[2015-06-02 17:02] sindresorhus commented on #2667
Not sure, maybe something like:

[code]

[2015-06-02 17:03] mathieumg commented on #2667
For the first case:

[code]

For the second case:

[code]

Not sure they're the best names though.

[2015-06-02 19:27] nzakas commented on #2226
Thanks! Just to be clear: there are two rules to close this issue.

[2015-06-02 19:30] nzakas commented on #2662
I'm not sure if adding this exception is a good idea - an exception to an exception is always a bit dicey.

Do you have just one .eslintrc file in your project? If so, you might just want to pass it with `-c` on the command line

[2015-06-02 19:34] nzakas commented on #2645
In this case it's really all or nothing. I'm okay with adding suffering to exempt all function each expression names, it just means you'll miss things like this:

[code]

[2015-06-02 19:36] #2661 closed

[2015-06-02 19:38] nzakas commented on #2668
I'm sorry, I don't understand what you're asking, can you be more explicit?

[2015-06-02 19:40] nzakas commented on #2669
Working as expected. This is still an assignment, and so the rule is correctly warning you about it. You can use `// eslint-disable consistent-this` to disable around just that instance if you'd like.

[2015-06-02 19:40] #2669 closed

[2015-06-02 19:43] nzakas commented on #2666
I think I'm missing something here, why don't you just disable the rule in that file?

I don't foresee treating she-banged files differently, as I don't like implicit switches for things.

[2015-06-02 19:48] zertosh commented on #2662
At any given depth there are usually two `.eslintrc`: the root one, and another one that has a few browser or node specifics. So `-c` doesn't work for us.

This change would certainly make my life easier, but I understand the rabbit hole that is exceptions-to-exceptions. I'm not sure if there are any good workarounds (besides changing `$HOME` before running eslint), but if the matter is final, fee

[2015-06-02 19:49] nzakas commented on #2667
Let's keep this focused on one enhancement - @xjamundx can you for a separate issue for your request?

[2015-06-02 19:51] nzakas commented on #2662
Not final, trying to weigh making a not-terribly-obvious change against other possibilities.

Is it possible for you to check out to a non-`$HOME` directory?

[2015-06-02 20:02] sindresorhus commented on #2666
This is not about it not being possible to work around with an inline comment, it's more about making the check smarter and more developer friendly. I don't want to have a disable comment in all my CLI's, so without this I'm just going to disable the rule.

[2015-06-02 20:10] zertosh commented on #2662
That's not a feasible change in our build infra. I'm not sure what jenkins or travis sets for `$HOME`, but I imagine that setting the checkout directory as `$HOME` for the purposes of building is not impossibly rare in other automated setups.

We run eslint from a script for local dev'ing and as part of the pre-deploy build verification. The workaround we're using kinda-looks like this:

[code]

[2015-06-02 20:20] ljharb commented on #2645
As a configurable option that'd be great :-)

[2015-06-02 20:31] sindresorhus opened #2670 "Allow use of `eslint` in package.json"
Currently you can specify `"eslintConfig": {}` in package.json with ESLint config.

It would look a lot nicer it was named `"eslint": {}`. ESLint could just try reading both.

I know this is minor, but anything to make package.json less verbose and nicer looking.

[2015-06-02 20:40] jedverity opened #2671 "Erroneous no-unused-vars exception when using variable as object key in destructuring assignment"
This throws the no-unused-vars exception for `filename`:

[code]

I'll submit a patch if others agree this is not the desired behavior.

[2015-06-02 21:38] webgefrickel commented on #2669
Thanks a lot for pointing me to // eslint-disable!

[2015-06-02 22:14] ilyavolodin commented on #2662
One suggestion that I have, is to use `extend` in your test directory config pointing to a higher level config. If you run it locally, nothing will happen, (or rather the same file will be applied twice, with no result differences), but on your build machine, this would implicitly specify that the file in the upper directory should also be used.
Just add the following:
[code]

[2015-06-03 01:32] mysticatea commented on #2645
I think this issue is similar to the TDZ issue.
To warn shadowing on the uninitialized variable is problem, so I don't think to add the option is good.
Would ignoring shadowing of the declaring variable in the `VariableDeclarator` be not enough?

[2015-06-03 02:18] gyandeeps commented on #1088
Working on this. Will have it ready by this weekend.

[2015-06-03 02:51] gyandeeps commented on #2670
I like the proposal.

[2015-06-03 03:07] gyandeeps commented on #1898
@btmills Please add `spaced-line-comment` to the deprecate rule list.

[2015-06-03 03:54] AsaAyers commented on #2671
if a variable is unused you can remove it without affecting the rest of the code. Clearly if you remove `filename` the code isn't going to work. I can't imagine an argument where that would be the desired behavior given your example.

[2015-06-03 05:07] ljharb commented on #2645
The TDZ doesn't apply to function name bindings, only to "let" and "const", so I'm not sure how this relates?

[2015-06-03 07:12] mysticatea commented on #2645
I thought this is an issue about "uninitialized variables and shadowing", so felt similar.

[2015-06-03 09:44] heldinz opened #2674 "key-spacing sees separate alignment groups despite no blank lines"
I'm using the latest version of eslint (currently v0.22.1). The ability to signify different groupings for the key-spacing rule via newlines is great. However, it is biting me when long values within my object definition wrap, or when I have a value that is also an object.

As I have key-spacing configured to align on value, in these cases, I expect my definition to align the outer values with eac

[2015-06-03 09:57] mysticatea commented on #2671
I guess it had been fixed at #2635.

.eslintrc

[code]

test.js

[code]

command

[code]

[2015-06-03 13:05] jedverity commented on #2671
Ok great thx @AsaAyers @mysticatea

[2015-06-03 13:05] #2671 closed

[2015-06-03 14:07] btmills commented on #1898
@gyandeeps Updated to include `spaced-line-comment`.

[2015-06-03 14:47] gyandeeps commented on #2674
Can you please share the eslint output and the exact code you run on?

[2015-06-03 14:48] zertosh commented on #2662
@ilyavolodin Ugh of course! It worked! Thank you!

[2015-06-03 14:48] #2662 closed

[2015-06-03 14:56] heldinz commented on #2674
Ok. I'm working on a React project right now and I'm getting this issue in my `propTypes` definitions, e.g.

[code]

My `key-spacing` rule is defined as:
[code]

And the output I get is:
[code]

[2015-06-03 15:12] btmills commented on #2674
As of #2447, properties are only considered part of the same group if they start on consecutive lines. The reasoning behind the request was that properties with "stuff" filling lines between them are already broken up visually, and it's the visual groups we wanted to align.

[2015-06-03 15:27] heldinz commented on #2674
Thanks for clarifying the expected behaviour, @btmills. Shame it conflicts with IntelliJ's handling, which I personally prefer, but I can understand the reasoning.

[2015-06-03 15:29] btmills commented on #2674
Should there be an option that would match IntelliJ's behavior? `one-group: true` perhaps? @eslint/eslint-committers

[2015-06-03 15:40] apierzch commented on #2668
@ilyavolodin the example is oversimplified. The same problem appears when one property expands to multiline, as in this example:
[code]
In this example value of `x` is aligned to value of `longer`, but eslint treats it as a new group and reports error. For me this is undesired.

[2015-06-03 15:45] heldinz commented on #2674
That would certainly work for me. Or perhaps some sort of "strictness" option regarding grouping? Something like `"allow-newlines-in-group": true` ?

[2015-06-03 15:56] btmills commented on #2668
@heldinz encountered this in #2674, so I'll merge that discussion into this one. The example given there was:

[code]

Where currently `isDefault` currently errors with too much space because it's considered a separate group.

For me, the compelling argument in #2674 is that this is the style IntelliJ provides, and we don't support that.

To quote my own suggestion:

And the response from @heldinz

[2015-06-03 15:57] btmills commented on #2674
Looks like this and #2668 have ended up pointing the same direction, so let's merge this into that one. I tried to summarize this thread there, but feel free to jump in if I left something out.

Closing in favor of #2668.

[2015-06-03 15:57] #2674 closed

[2015-06-03 16:24] apierzch commented on #2668
Completely agree with your suggestion @btmills

My reasoning is actually the same - I use IntelliJ as well.

[2015-06-03 18:37] nzakas commented on #2666
As I mentioned, I'm not comfortable with automatically changing which rules are enabled based on the presence of shebangs. In 1.0.0, even environments won't automatically enable/disable rules. So, I'm afraid you will be left to manually disable this rule where you need it.

[2015-06-03 18:37] #2666 closed

[2015-06-03 18:41] nzakas commented on #2670
:-1: I don't like having two ways of doing things, especially when the only reason for the change is to save typing 6 characters one time. We already match `jshintConfig` and `jscsConfig`, it seems that the convention has pretty much been set.

[2015-06-03 18:43] gyandeeps opened #2677 "Default option for lines-around-comment rule is misconfigured in code"
Docs say "By default an empty line is required above a block comment" that means option `beforeBlockComment` is `true`. But based on the code its not true. https://github.com/eslint/eslint/blob/master/lib/rules/lines-around-comment.js#L58-L62

[2015-06-03 18:44] gyandeeps commented on #2670
If its matches the styles used by other modules then I think it makes sense.

[2015-06-03 18:46] nzakas commented on #2645
Lol, I see my autocorrect put "suffering" in my last reply - how Freudian. Okay, let's add an option (off by default) to exclude function expression names from the rule. Suggestions on the option name?

[2015-06-03 18:49] nzakas commented on #2677
Question is: is the documentation wrong? Or is the rule wrong?

[2015-06-03 18:50] sindresorhus commented on #2670
I don't like having two ways of doing things either, but you could always just document the `eslint` case, and have the old one as legacy. I know this is a long shot, but I'm looking for ways to make "annoying config I have to put into every package.json" look nicer and less verbose. I see no good reason the `Config` is there other than "the other project did it" fallacy.

[2015-06-03 18:50] gyandeeps commented on #2677
@xjamundx Any idea what part is wrong code or docs?

[2015-06-03 18:53] xjamundx commented on #2677
I *think* the code is wrong.

[2015-06-03 18:56] ljharb commented on #2645
Maybe `"functionExpressions": false` defaults to `true`, or `"excludeFunctionExpressions": true` defaults to `false`?

[2015-06-03 19:06] nzakas commented on #2670
I'm sorry, I don't find this line of reasoning to be convincing. "Look nicer" is far too subjective a reason to introduce redundancy. We will never be able to remove `eslintConfig`, as it's in use in too many places, so we would forever be stuck with two ways of doing the same thing.

[2015-06-03 19:06] #2670 closed

[2015-06-03 19:43] jcbp commented on #2661
Thanks for replying.
We were using a very old version in the Grunt integration and this is why we had a lot of conflicts. Now we have all the plugins and command line working with the same version and these works fine.
I look forward to the first major release.
Thanks again.

[2015-06-03 20:23] dominicbarnes opened #2678 "Unused var error missing when using es6 modules"
It appears that when you use ES6 modules to `export` a function, the `no-unused-var` rule does not run properly on those function arguments. (vars declared in the function body still lint correctly)

[code]

Given the following config:

[code]

When I run this in the CLI:

[code]

Notice that `fn1` gets linted correctly, but `fn2` does not report the unused `y` var.

[2015-06-03 21:21] gyandeeps commented on #2678
What version of eslint are you using?

[2015-06-03 21:41] dominicbarnes commented on #2678
[code]

[2015-06-03 22:24] #2331 closed

[2015-06-03 23:08] dominicbarnes opened #2679 "no-empty-character-class rule not working well with unicode flag (ES6)"
The `no-empty-character-class` rule gives a very confusing error whenever it encounters a regular expression using the ES6 `u` flag. (for unicode support)

To be clear, my regular expression does _not_ have an empty character class, and if I remove the `u` flag, it is not treated as an error anymore.

It looks like this is caused by the fact that the only recognized flags are `gimy`. (see [code](h

[2015-06-03 23:14] dominicbarnes commented on #2679
Just another thought, since that rule doesn't really need to care about the flags that are used, there's no reason to deal with adding `u` conditionally.

**tl;dr** Since the `y` flag isn't standard either, I see no reason to leave out `u`.

[2015-06-03 23:16] dominicbarnes commented on #2679
I'll submit a PR that simply adds `u` to that regex.

[2015-06-03 23:21] nzakas commented on #2679
Can you please provide:

1. The actual code your testing
2. The actual ESLint output
3. If you're using Babel-eslint?

[2015-06-03 23:27] nzakas commented on #2678
Why is this a bug? `b` is never used in your example?

[2015-06-03 23:27] nzakas commented on #2678
Oh I see, it's missing `y`.

Are you using Babel-eslint?

[2015-06-03 23:28] dominicbarnes commented on #2678
Nah, I'm just using `eslint` core.

[2015-06-03 23:29] nzakas commented on #2678
Thanks. We should double check that escope is doing the right thing here.

[2015-06-03 23:43] dominicbarnes commented on #2679
Here's a distilled version:

**.eslintrc**

[code]

**test.js**

[code]

**CLI**

[code]

I'm expecting that both regular expressions would pass the linter, but it flags the first one as an error. (the only difference is the `u` flag)

[2015-06-04 00:12] nzakas commented on #2668
@btmills this is your baby, I trust your instincts

[2015-06-04 00:14] nzakas commented on #2679
Thanks, very helpful.

[2015-06-04 00:16] #2678 closed

[2015-06-04 00:17] #2679 closed

[2015-06-04 00:20] silverwind opened #2682 "Update globals and possible new environments"
This is the issue for https://github.com/eslint/eslint/pull/2675 which updates the `globals` package and possibly would add two new environments. Dependency diff: https://github.com/sindresorhus/globals/compare/v6.1.0...7.1.0

Do we want to add `mongo` (https://github.com/sindresorhus/globals/pull/27) and `applescript` (https://github.com/sindresorhus/globals/pull/29) environments, or should I lea

[2015-06-04 02:19] #2644 closed

[2015-06-04 02:22] #1088 closed

[2015-06-04 02:28] ilyavolodin commented on #2667
Just to clarify @sindresorhus do you want first in block, or first in function? In ES6 block includes a lot of different things, like loops, function and just randomly sprinkled braces. Should this option cover all of those?

[2015-06-04 03:42] KevinGrandon opened #2684 "no-unused-expressions rule should allow `foo && foo()`"
From the rule docs, `This rule aims to eliminate unused expressions. The value of an expression should always be used, except in the case of expressions that side effect: function calls, assignments, and the new operator.`.

I believe the syntax ``foo && foo()` should be considered valid here as it's a function call with potential side effects. This syntax allows for quite clean truthfulness check

[2015-06-04 03:44] KevinGrandon commented on #2684
Added here: https://github.com/eslint/eslint/commit/6a4059392cb2d1018e57c6d7debfc319ecd4f3c2

[2015-06-04 03:47] michaelficarra commented on #2684
Duplicate of https://github.com/eslint/eslint/issues/2418.

[2015-06-04 10:05] sindresorhus commented on #2667
Yes, blocks.

[2015-06-04 13:45] pnuzhdin opened #2688 "Property 'propertyIsEnumerable' of object object is not a function"
Using fresh installed eslint 0.21.2 which install object_assign 2.1.0:

myproject/node_modules/eslint/node_modules/object-assign/index.js:19
		return obj.propertyIsEnumerable(key);
		           ^
TypeError: Property 'propertyIsEnumerable' of object object is not a function
    at myproject/node_modules/eslint/node_modules/object-assign/index.js:19:14
    at Array.filter (native)
    at ownEnumerab

[2015-06-04 13:50] ubenzer commented on #2688
This started happening ~10 mins ago. One of dependencies' interface might have been changed.

[2015-06-04 13:56] lukewaite commented on #2688
Yes - it comes from the most recent release of object-assign https://github.com/sindresorhus/object-assign/releases/tag/2.1.0 which was released sometime around 9AM EST.

There's a ticket open for it at https://github.com/sindresorhus/object-assign/issues/15 and the @sindresorhus has pulled version 2.1.0 from npm's registry.

[2015-06-04 13:57] pnuzhdin commented on #2688
Why you guys using ^ for the component versions? That's make your components potentially unstable

[2015-06-04 14:01] #2638 closed

[2015-06-04 14:10] sindresorhus commented on #2688
This was fixed right away. Can be closed.

[2015-06-04 14:12] ilyavolodin commented on #2688
Closing. Using ^ dependency versions is intentional.

[2015-06-04 14:12] #2688 closed

[2015-06-04 14:48] spadgos opened #2689 "New rule: always require parens in arrow functions"
A suggested lint rule: when using es6 arrow functions, require that the arguments list is always surrounded by parentheses. When there's only one argument the parens are optional but that introduces an inconsistent style which may be unwanted by developers.

With this rule enabled...

[code]

[2015-06-04 14:57] ilyavolodin commented on #2684
@KevinGrandon as stated in #2418 and in the text that you quoted above this rule is designed to flag expression where the value is unused. In the example you provided, the output of the function as well as the result of check is lost. This is exactly what this rule is aiming at flagging. If the rule doesn't fit with your coding style, you should just turn that rule off, or disable it inline if you

[2015-06-04 14:57] #2684 closed

[2015-06-04 14:59] ilyavolodin commented on #2667
Ok, then I think `allowBlockStart` is a pretty good name for an option to do this.

[2015-06-04 15:07] ilyavolodin commented on #2539
Closing this in favor of #2555 that make this idea an option of a larger rule.

[2015-06-04 15:07] #2539 closed

[2015-06-04 15:33] KevinGrandon commented on #2684
@ilyavolodin - How would I submit a feature request then to split this check out from `no-unused-expressions`?

I think you should be able to have something which warns on `"Hello world";`, but does not warn on `foo && foo()`.

[2015-06-04 15:38] KevinGrandon commented on #2689
There is a plugin for doing what you want: https://github.com/Jxck/eslint-plugin-arrow-function

And there is also a plugin for doing the exact opposite :) https://github.com/KevinGrandon/eslint-plugins/blob/master/lib/rules/arrow-function-parens.js

[2015-06-04 15:40] gyandeeps commented on #2689
Here is the perfect example of awesomeness of plugins. Now we dont have to build a single rule to accommodate both scenarios. people can just choose the correct plugin based on their need.
:100:

[2015-06-04 15:49] tborychowski opened #2691 "Warning: Property 'propertyIsEnumerable' of object object is not a function"
There's a but that crashes eslint with that warning:
[code]

I've managed to locate it to the `object-assign` module. The latest version (3.0.0) of that module works fine, the one eslint is using (^2.0.0) - doesn't.

Can you bump the version of `object-assign` to 3.0.0?

[2015-06-04 15:51] ilyavolodin commented on #2684
@KevinGrandon Unfortunately this has been discussed many times before, and in each case the decision was not to change the way this rule works. So I do not think we will make this change, unless some new and very persuasive arguments are made.
Your best bet is to either disable this rule inline for the cases that you want to allow, or disable this rule all together and create a plugin with a clone

[2015-06-04 15:54] ilyavolodin commented on #2691
This is a duplicate of #2690 `object-assign` already pulled version 2.1.0 that caused this issue from NPM. All you need to do is reinstall npm dependancies and it will pull version 2.0.0 again.

[2015-06-04 15:54] #2691 closed

[2015-06-04 15:54] tborychowski commented on #2691
thanks!

[2015-06-04 16:04] tborychowski commented on #2691
Although `v2.1.0` seems to be still there:
[code]

[2015-06-04 16:06] michaelficarra commented on #2691
Not for me:

[code]

[2015-06-04 16:11] spadgos commented on #2689
Good enough for me! Thanks all.

[2015-06-04 16:11] #2689 closed

[2015-06-04 16:57] denis-sokolov commented on #2542
So far this seems clearly convenient as an option in #2555.

[2015-06-04 16:57] #2542 closed

[2015-06-04 17:18] ilyavolodin opened #2692 "Create --debug flag"
It turns out `DEBUG=eslint:` is not mentioned in the documentation at all. This should be added to Developer Guide somewhere.

[2015-06-04 21:33] sindresorhus opened #2693 "Rule suggestion - Prevent using built-in prototype properties on an object"
Prevent use of built-in prototype properties on an object as these won't work on objects without a prototype, eg. object created with `Object.create(null)`. You never know when you'll get an object like that, so better be safe than sorry. This rule would have prevented #2688.

Should prevent the use of these:

[code]

Example of misuse:

[code]

Which will fail here:

[code]

Instead this should b

[2015-06-04 21:43] nzakas commented on #2693
You're suggesting to warn 100% of the time when these methods are not called from `Object.prototype`?

[2015-06-04 22:13] sindresorhus commented on #2693
Yes

[2015-06-04 22:17] ilyavolodin commented on #2693
I think it's a nice rule to have, but this should definitely be off by default (not that it matters after 1.0.0). I wonder if this could be made smarter though. If, for example, escope, tracked how the variable was created, this could flag only use of prototype properties on objects created through `Object.create`. But I'm pretty sure escope doesn't track that.

[2015-06-04 22:18] gyandeeps commented on #2693
FYI, if its created like this `Object.create(null)`, then only it applies.

[2015-06-04 22:21] sindresorhus commented on #2693
There's no way to track that reliably as the object might come from another dependency or dynamically created at runtime.

[2015-06-04 22:26] ilyavolodin commented on #2693
You are right, but I can dream, can't I?:-) But I still think it's a good rule to have.

[2015-06-04 23:13] gfxmonk opened #2694 "Allow a custom parser object (rather than module)"
When using a custom parser, it can be convenient to pass in an object with a .parse() method rather than a module name. Splitting a custom parser out into a module that `eslint` can require is an unnecessary step, and passing it directly allows custom parsers to be used in a context where `require()` isn't available (i.e. a browser).

I'm working on this.

[2015-06-05 00:09] gfxmonk opened #2696 "space-unary-ops rule hardcodes a list of unary expression keywords"
I believe this is unnecessary, and it causes errors with custom parsers which allow additional keywords (e.g. StratifiedJS).

I'm working on this.

[2015-06-05 00:21] gfxmonk opened #2698 "eslint mangles error messages thrown by parser which don't start with "line \d+:""
Custom parsers may throw error messages which don't start with e.g. "line 123:". The [current code][0] just strips off everything before the first colon in the error message, which leads to a mangled message if it didn't actually start with "line XX:".

[0]: https://github.com/eslint/eslint/blob/c8a56e2b7c3f27331f93c607947e8c18caa16c18/lib/eslint.js#L468

I'm working on this, but the tests depend

[2015-06-05 00:34] gyandeeps commented on #2698
Can you share an example?

[2015-06-05 00:42] gyandeeps commented on #2696
Can please share an example of what is the problem and why we need to solve it (if its a problem)?

[2015-06-05 01:18] gfxmonk commented on #2698
For example, the StratifiedJS parser can throw errors with messages like:

    unexpected token: `{`

Because the code trims off everything before the first colon, eslint strips of the first part and just reports a confusing error message of:

    `{`

My change will just replace `/^line \d+:/i` with the empty string, rather than removing everything before the first colon. If the above pattern doe

[2015-06-05 01:27] gfxmonk commented on #2696
For example, the StratifiedJS parser supports a superset of JS which includes a `spawn` keyword, e.g.:

    spawn someLongRunningFunction();

This rule explicitly whitelists unary keywords which may be followed by whitespace. Since it doesn't include the StratifiedJS `spawn` keyword, it erroneously reports:

    Unexpected space after unary operator "spawn"

Obviously, the code wouldn't compile if

[2015-06-05 02:35] ilyavolodin commented on #2682
@nzakas Are you OK with adding those two environments? In my mind they are fine to add. I'm not really sure how much value you can have by linting mongo scripts, but applescript seems reasonable.

[2015-06-05 02:40] ilyavolodin commented on #2696
I'm not sure I'm sold on this. With this change, `blah` now all of a sudden becomes valid unary operator. I do understand why you want to have this change, I'm just not sure it's the right thing to do... Another possible path would be to have a list of allowed unary operators and add an extra option to the rule, that would allow you to supply your own list to be merged with defaults. I can see how

[2015-06-05 02:44] ilyavolodin commented on #2628
I can see how `parens` and `space` can be useful to wider audience of users, but I think `no-condition` is too situational and specific to be considered for adding to the core.

[2015-06-05 03:19] fakewaffle opened #2699 "allow `extends` to be an array"
Currently, [extends](http://eslint.org/docs/user-guide/configuring#extending-configuration-files) only allows one file but it should allow an array:

**Sample `.eslintrc` file:**
[code]

[2015-06-05 03:24] gfxmonk commented on #2696
Only if it's generated by the parser. This rule's job is not to recognise JS keywords, it is only to make sure you don't place spaces between unary ops that are made of punctuation. The current code assumes anything other than `["delete", "new", "typeof", "void"]` is punctuation.

In other words, if the parser parses `blah 1` as a valid expression, then yes - `blah` really _is_ a valid unary opera

[2015-06-05 03:24] Jxck commented on #2628
@nzakas because I think it's a basic rules for arrow function, which can be built in to core.

@ilyavolodin `no-condition` seems part of plugin is make sense. in that case. I'll send a PR only `parens` & `space`.

[2015-06-05 03:32] fakewaffle commented on #2251
Would that also fix these conflicts?

![Image](https://www.dropbox.com/s/jtrei7ooidzan03/Screenshot%202015-06-04%2021.30.42.png?dl=1)
![Image](https://www.dropbox.com/s/9x75zbqq1r59h5p/Screenshot%202015-06-04%2021.31.25.png?dl=1)

[2015-06-05 04:58] tupton opened #2701 "Expand ~ to the current user's home directory for cli options."
So something like `eslint --config="~/.eslintrc" --ignore-dir="~/eslintignore" --rulesdir="~/.config/eslint/rules" --output="~/output"` works as expected and uses files in the user's home directory.

[2015-06-05 09:20] alippai opened #2702 "Gratuitous parentheses in arrow function return values"
This example fails:
```a => ({ a })```

You can't remove the parentheses as it wouldn't be the same expression

[2015-06-05 10:15] gfxmonk commented on #2696
On further inspection, I notice that it's unnecessary to have the `isWordExpression` check at all, since unary _words_ can be distinguished from unary punctuation by simply checking whether their type is `Keyword`. Please let me know if you can think of are any possible cases where this check could ever be incorrect, I can't come up with any.

[2015-06-05 12:16] phzbox opened #2703 "var {name, time, args} = obj; gives error Unexpected token ,"
`var {name, time, args} = obj;` returns `error  Unexpected token ,`

I have `"destructuring", true,` in my .eslintrc

[2015-06-05 12:46] hzoo commented on #2628
:+1: to `parens` (kind of like `curly`) and `space` (similar to `space-before-function-paren`). I'm adding the `parens` rule to JSCS too

[2015-06-05 12:49] hzoo commented on #2703
Maybe you didn't put it under `ecmaFeatures`?

[code]

[2015-06-05 13:23] ilyavolodin commented on #2699
How do we resolve conflicts in that case?

[2015-06-05 13:27] ilyavolodin commented on #2702
Can you provide more details? What is console output? What version of eslint are you using? Are you using `babel-eslint`?

[2015-06-05 13:28] ilyavolodin commented on #2703
Can you provide more details? What is console output? What version of eslint are you using? Are you using `babel-eslint`? Copy of you .eslintrc file.

[2015-06-05 13:28] mysticatea opened #2704 "Consider the default behavior of `no-use-before-define` rule"
Hello.

On JavaScript, a fact of function declarations are hoisted is well known.
I had been implementing (#2612), the `no-shadow` rule will treat functions as hoisted by default.
But now, the default behavior of the `no-use-before-define` rule is not so.  To use functions before each declaration, it requires `"nofunc"` option.

I want to discuss before `v1.0.0` - wouldn't we change or not the def

[2015-06-05 13:29] KolesnichenkoDS opened #2705 "Can't set env with a comment"
**Code**:
[code]
**Error**:
[code]

But when I remove comment and add **package.json** it works well:
[code]

[2015-06-05 14:16] michaelficarra commented on #2704
Agreed, this seems best. I also dislike the double negation with the option name.

[2015-06-05 15:00] fakewaffle commented on #2699
`.eslintrc-es6` would override `.eslintrc-jsx`, which would override `.eslintrc-defaults`.

`.eslintrc` would override all the extends.

[2015-06-05 15:22] gcochard commented on #2699
In other words: they override in-order, with the last array element taking highest precedence.

[2015-06-05 15:32] gcochard commented on #2705
This is a parser flag, and must be set before scanning begins. Duplicate of #2614.

[2015-06-05 15:39] phzbox commented on #2703
eslint version: `v0.22.1`

.eslintrc:
[code]

Example file:

[code]

[code]

I'm pretty sure the .eshintrc is being correctly parsed because this works fine:

[code]

and if I remove `arrowFunctions` then it gives an error (`error  Unexpected token >`)

[2015-06-05 15:45] michaelficarra commented on #2702
The first token of the expression should be checked [here](https://github.com/eslint/eslint/blob/master/lib/rules/no-extra-parens.js#L204). If it's `{`, it need the parens. Also, somebody seems to have broken [this test](https://github.com/eslint/eslint/blob/master/lib/rules/no-extra-parens.js#L235-L237). It should check for `{` or `function`, and there should be no exception for ObjectExpression.

[2015-06-05 15:46] roadhump opened #2706 "no-shadow: Duplicated error messages"
Now it seems that `no-shadow` rule outputs several identical error messages if variable was shadowed several times:

[code]

[code]

I suppose there should be only three non-duplicated messages

[2015-06-05 15:47] xjamundx commented on #2703
In `v0.21.2` I observe no errors when I run this:

[code]

[2015-06-05 15:48] xjamundx commented on #2703
Oh right here `"destructuring", true,` the comma instead of the `:`

[2015-06-05 15:51] michaelficarra commented on #2706
You're suggesting we only report the shadowing of the nearest declaration?

[2015-06-05 15:57] michaelficarra opened #2707 "space-unary-ops should enforce yield spacing"
I would expect `space-unary-ops` (with the default options) to report `yield(0)` and `yield+0`. I would probably expect it to report `yield*0` and the like as well.

[2015-06-05 15:59] roadhump commented on #2706
I suggest that errors should be
[code]

As I see in code, rule does not provide any info about which upper declaration was shadowed, only which variable shadows it. I suggest to output only first case when variable shadows any upper declaration, because messages are identical if there are several cases.

[2015-06-05 16:00] phzbox commented on #2703
Damn. It's working perfectly with the : ;-)

I'm glad it's not a sneaky bug.

Cheers, sorry about that.

[2015-06-05 16:00] #2703 closed

[2015-06-05 16:00] michaelficarra commented on #2706
Yeah, that sounds better. :+1:.

[2015-06-05 16:01] michaelficarra commented on #2696
I'm okay with this. :+1:

[2015-06-05 16:03] michaelficarra commented on #2693
I always pull Array and Object prototype members off fresh instances: `[].push.apply(...)` and `{}.hasOwnProperty.call(...)`. I suggest both patterns are allowed.

[2015-06-05 16:03] alippai commented on #2702
I'm using grunt-eslint with eslint version 0.22.1. It returns error for the expression above with setting
[code]

[2015-06-05 16:13] nzakas commented on #2696
I think this is OK, both from custom parser and future syntax points of view. The difference between a word and non-word is well-defined, so there's no reason we can't treat unknown words correctly. It's up to the parser to tell us the operator is valid, we just have to categorize.

[2015-06-05 16:15] nzakas commented on #2699
I was actually thinking about this, as well. I like the idea.

[2015-06-05 16:17] nzakas commented on #2645
Naming is hard, because it's not about function expressions, it's about their names. So maybe `excludeFunctionExpressionNames`? (Too long?)

[2015-06-05 16:19] nzakas commented on #2682
If you're OK with it, then I'm OK with it.

[2015-06-05 16:21] #2568 closed

[2015-06-05 16:23] #2677 closed

[2015-06-05 16:29] #2595 closed

[2015-06-05 16:31] nzakas commented on #2694
Let's talk about this some more. What is the use case you are trying to support?

[2015-06-05 16:34] silverwind commented on #2682
Personally, I have no need for them. I'm only interested in the variables update. So I'd be fine not adding them at this point.

[2015-06-05 16:35] sindresorhus commented on #2693
:+1: I do that too. `{}.hasOwnProperty.call(...)` => `({}).hasOwnProperty.call(...)`. OT, but V8 optimizes this, so it has the same perf as using the prototype directly.

[2015-06-05 16:47] ljharb commented on #2645
I like `excludeFunctionExpressionNames` - letters are free, and config keys typed once, so I'm not concerned about length :-)

[2015-06-05 17:07] ilyavolodin commented on #2705
This is a known limitation. We haven't figured out a way to get it to work for now. We have other tickets tracking this issue, so closing as duplicate

[2015-06-05 17:07] #2705 closed

[2015-06-05 17:10] ilyavolodin commented on #2706
Yes, I think reporting only the closest shadowing is a good idea.

[2015-06-05 17:13] #2119 closed

[2015-06-05 17:20] #2696 closed

[2015-06-05 17:21] #2682 closed

[2015-06-05 17:23] #2333 closed

[2015-06-05 18:05] nzakas commented on #2698
I think it's an OK change to make, but we do need tests to validate the change.

[2015-06-05 18:07] nzakas commented on #2701
Are you saying this doesn't currently work?

[2015-06-05 18:11] nzakas commented on #2707
Is yield considered an operator?

[2015-06-05 18:37] nzakas commented on #2628
Okay, can someone propose rule names?

[2015-06-05 18:40] nzakas commented on #2704
This is a bit of a different case than `no-shadow`. `no-use-before-define` is about treating things as if they aren't hoisted. `no-shadow` is about avoiding naming collisions. I'm not sure there's any relationship between these two rules.

[2015-06-05 18:44] nzakas commented on #2693
Okay, I think the easiest thing to check for is that some list of methods can only be called using `call` or `apply`, otherwise we need to worry about the various objects on which the methods reside. Would that work?

[2015-06-05 18:46] ilyavolodin commented on #2704
This rule was create to help developers who are not very familiar with JavaScript and hoisting. Basically, in any other language, the code where the function shows up after it was used would not even compile. Some people prefer to stick with that limitation, to avoid confusion. And yes, I do understand that in JavaScript it's a perfectly valid construct.

[2015-06-05 19:21] tupton commented on #2701
[code]

[2015-06-05 19:30] gcochard commented on #2706
FWIW I think reporting all instances of a shadowed var is a good thing. I know all areas to fix rather than fixing one, only to find another, and another, etc.

Should this be an option for the rule? Something like `suppressDuplicates`

[2015-06-05 20:34] ilyavolodin commented on #2706
All of them are going to be reported, just not for each instance. If you look at the example above and expected result, you can see that all of the instances of shadowing is reported, but current version reports each shadowing issue for each individual error (so geometric progression).

[2015-06-05 20:56] gcochard commented on #2706
Ah, right. I missed that this was the case :+1:.

[2015-06-05 21:34] gcochard commented on #2575
I'll take this on.

[2015-06-05 22:23] michaelficarra commented on #2707
Yield is an operator anywhere within a generator. Elsewhere, it's simply an identifier. But if you ever see a YieldExpression, yes, it's an operator.

[2015-06-05 22:26] michaelficarra commented on #2693
Can we have a concrete proposal for the list of names? I'm fine with catching `hasOwnProperty`, but `toString`, `push`, `valueOf`, etc. are probably not a good idea. It may need to be configurable.

[2015-06-05 22:29] michaelficarra commented on #2645
This exception seems so arbitrary to me. Are we going to add an exception for every declaration form? The justification for this exception is weak in my opinion.

[2015-06-05 22:50] gfxmonk commented on #2698
Cool, yeah it comes with tests. You can see my implementation [here](https://github.com/gfxmonk/eslint/commit/9d878ea37faee2e1521e729cd88ebfaf7aeb2a50), but as I mentioned the tests depend on #2694 so it can't be merged just yet.

[2015-06-05 22:58] ljharb commented on #2645
@michaelficarra what is the concern caused by shadowing in the first place, as you see it?

[2015-06-05 23:06] gfxmonk commented on #2694
So my use case is that I'm writing an eslint-compatible parser for StratifiedJS. It's built into the StratifiedJS distribution (which already has compiler backends for JS, minified JS, dependency bundling, etc). So it isn't convenient or useful to distribute it separately on NPM, as a separate module.

With this change I could just provide an inline object (from my wrapper which calls into `eslint

[2015-06-05 23:09] fakewaffle commented on #2699
I submitted a pull request. Let me know your thoughts. :)

[2015-06-05 23:13] gfxmonk commented on #2694
(also, it makes writing tests for #2698 much easier ;))

[2015-06-05 23:35] nzakas commented on #2701
What happens if you do this?

[code]

[2015-06-05 23:42] nzakas commented on #2694
Given that you have already solved this with one line of code, why do you feel a change should be made?

With regards to your solution: passing a parser object on config is a nonstarter. Configs must be completely serializable.

I'd really much rather focus on a way to not modify the parser and instead pass the parser output, such as #1025

[2015-06-05 23:49] nzakas commented on #2226
Rule names should be `array-bracket-spacing` and `computed-property-spacing`

[2015-06-06 04:36] michaelficarra commented on #2645
I'm not arguing for/against this rule in general. Shadowing is fine in my book. I'm just failing to see why someone would want to enable this rule but also follow a pattern that necessitates shadowing.

[2015-06-06 04:37] michaelficarra commented on #2701
@nzakas The shell will expand that. @tupton wants to have the option to pass `~` literally to eslint and have eslint do the expansion.

[2015-06-06 04:50] tupton commented on #2701
That works, presumably because my shell expanded "~" in that particular case.

It still stands that this doesn't work if you provide a path that starts with "~" when using eslint programmatically.

[2015-06-06 04:59] tupton commented on #2701
Is this not a common thing to do? Is it expected that you shouldn't pass paths starting with "~" to most tools?

If we really want to keep the current behavior, can we document the fact that you need to pass paths as either relative to cwd or absolute from the root directory? And maybe document the fact that paths beginning with "~" are treated literally and not expanded?

[2015-06-06 06:58] gfxmonk commented on #2694
I mostly just thought it was a good idea, particularly as it sidesteps the whole `require()` infrastructure which is not always present (i.e. in a browser).

It's not really about how much effort the workaround is - imagine if the current state was reversed, so that you _had_ to pass in an object and couldn't pass in a module name. The workaround if you wanted to use a string would then be entirel

[2015-06-06 07:01] ljharb commented on #2645
My rationale is that variable shadowing is often accidental, but function name shadowing is often intentional and explicit. Others' mileage may vary, which is why I'm happy to have it be configurable.

[2015-06-06 07:08] gfxmonk commented on #2694
Ahh, I missed your point that "configs must be completely serializable". That's a good point.

[2015-06-06 09:54] denis-sokolov commented on #2693
Correct me if I'm wrong, the use case we're covering is when `Object.create(null)` is used as a simple replacement for a `Map`. In that context, clearly `hasOwnProperty` and `propertyIsEnumerable` can be used, but `toString`, `push`, `valueOf` and `isPrototypeOf` are unlikely to be used on it.
Thus, perhaps covering `hasOwnProperty` and `propertyIsEnumberable` is enough?

[2015-06-06 10:42] michaelficarra commented on #2701
@tupton I don't know of a single GNU util (or any other program) that will expand a literal `~` for you. They all let you work with a directory named `~`. Expanding it would be a surprising feature.

[code]

[2015-06-06 12:18] hzoo commented on #2628
Maybe `arrow-parens`: with `always` and `never` and `arrow-spacing` with `before`, `after`, `both`, `never`?

[2015-06-06 13:37] #2699 closed

[2015-06-06 14:45] ilyavolodin commented on #2628
I would change the last option for `arrow-spacing` to `none` instead of `never`, but other then that, those names look good to me

[2015-06-06 15:38] #2629 closed

[2015-06-06 16:15] tupton commented on #2701
Fair enough. I think it can be expected that users who have paths beginning with "~" have to perform this expansion before giving the directory to eslint, whether by their shell or otherwise. Thanks for taking the time to look at this.

[2015-06-06 16:15] #2701 closed

[2015-06-06 17:29] nzakas commented on #2693
@sindresorhus provided his desired list in the original description.

[2015-06-06 17:32] nzakas commented on #2694
FWIW, we don't formally support ESLint in the browser, we only have a demo to let people try it before installing.

I'm not sold on the need for this, especially if we can get #1025 done, so closing.

[2015-06-06 17:32] #2694 closed

[2015-06-06 17:41] nzakas opened #2713 "Create "eslint:recommended" to extend from"
As part of the 1.0.0 change to use `--reset`, we need to define "eslint:recommended" as a way to back in recommended defaults.

- [ ] update eslint.json so only "potential errors" are on by default
- [ ] add "eslint:recommended" as a hardcoded option for `extends` that merges in eslint.json
- [ ] update `--init` to automatically add `extends: "eslint:recommended"` for easy quick start

[2015-06-06 17:57] michaelficarra commented on #2693
I didn't think that was a serious suggestion. `toString` is too commonly overridden. Also, the `__` accessors can't be simply `call`ed or `apply`ed. `Object.getOwnPropertyDescriptor(Object.prototype, "__proto__").get.call(obj)` is *not* a common pattern.

[2015-06-06 18:34] #2575 closed

[2015-06-06 20:33] feross commented on #2636
Any chance that we can revisit this?

When I have both of these rules enabled, I really want eslint to be a bit clever-er. When we're not in an ES6 module (no `export` keyword usage), my global return preference should be honored. Can we only forbid global return when we're in an ES6 module?

[2015-06-06 20:37] gcochard commented on #2713
I can take this on. Should have a PR ready today.

[2015-06-06 20:41] michaelficarra commented on #2636
@feross There's no way for the eslint parser to tell if you want to parse the program as a Script or a Module other than the fact that you told it which you wanted.

[2015-06-06 20:48] gcochard commented on #2713
One question, should we update the docs to state that rules that are on by default (e.g., missing "off by default") are the rules in `"eslint:recommended"`?

[2015-06-06 20:52] ilyavolodin commented on #2713
We would probably need to rewrite docs for this feature all together.

[2015-06-06 20:55] feross commented on #2636
Any advice for what a general purpose tool like [`standard`](https://github.com/feross/standard) should do in this situation?

[2015-06-06 20:58] #2588 closed

[2015-06-06 21:02] gcochard commented on #2713
I'll start with a branch that exhibits the correct behavior and update the tests so they all pass again.

After that's working, we should discuss what should change in the docs.

[2015-06-06 21:29] michaelficarra commented on #2636
You're not going to like it, but you need two modes: Script and Module. All ECMAScript tooling that supports ES6 has to operate under these two modes, and yours is no exception.

[2015-06-07 02:47] gyandeeps commented on #1846
did we land on something here?

[2015-06-07 02:49] gyandeeps commented on #1897
did we land somewhere?

[2015-06-07 02:53] gyandeeps commented on #1983
we haven't heard of any suggestion so far?
Is this discussion dead?

[2015-06-07 02:54] gyandeeps commented on #2077
@nzakas @ilyavolodin Based on the discussion, a decision has been made but the labels are not yet updated.

[2015-06-07 03:06] gyandeeps commented on #2253
I checked with 0.22.1 and its a bug. @ilyavolodin please update the labels.

[2015-06-07 03:21] gyandeeps commented on #2457
just to get the convo gng here, @armorik83 you are specifically talking about webstorm usage (i also use webstorm i find it helpfull tho) but what about all the jsdoc generators who make an html site for your docs. they use it.

[2015-06-07 04:00] gcochard commented on #2713
This will take a little bit longer than I originally estimated, as I will have to re-think the tests related to this behavior. I think I will modify all existing tests for configs to include an explicit `extends: "eslint:recommended"` and then add a few tests to ensure that only syntax errors are flagged with no config.

I will also update all tests related to the reset flag (if they exist) to dro

[2015-06-07 04:02] ilyavolodin commented on #2713
Take your time, no rush

[2015-06-07 08:00] silverwind opened #2715 "Feature request: rulesdir option in .eslintrc"
I'm using [sublime-eslint](https://github.com/roadhump/SublimeLinter-eslint) as well as the CLI itself where I use `--rulesdir`. sublime-eslint does allow CLI switches, but only on a global basis, not per-project (which I think is more of an SublimeLinter issue). This presents the problem that sublime-eslint would fail on line 1 of every file because of the custom rule being present in `.eslintrc`

[2015-06-07 08:47] rlidwka commented on #2657
It's no different from e.g. `escape()` which is warned about by `no-undef` rule even though this global exists in all environments I know about.

[2015-06-07 08:53] silverwind commented on #2657
Reopening for reconsideration. It turns out the custom rule isn't as straight-forward as I thought it would be, and maybe there's other use cases wher you want to undefine globals.

I just yesterday noticed the `escape` and `unescape` issue. Both are defined everywhere, but `globals` keeps them as a `nonstandard` environment, which prevents them from being added. Maybe they should be included in t

[2015-06-07 11:35] silverwind commented on #2657
Opened https://github.com/sindresorhus/globals/issues/35 for `escape` and `unescape` to not clutter this discussion further.

[2015-06-07 14:32] tornewuff opened #2716 "Rule suggestion: disallow !a instanceof b"
As the existing rule no-negated-in-lhs, it seems like it would be good to also disallow
[code]
since the developer certainly meant to write
[code]
instead. This prevents errors, and there's no legitimate case for the former that I can think of, so I think this could be enabled by default as with no-negated-in-lhs. I've thrown together a quick copy and paste job of no-negated-in-lhs which works; wi