[2022-08-17 19:05] juancsaenz commented on #15802
It solved my problem, thank you.

[2022-08-17 19:21] SandHani45 opened #16216 "Bug: (TypeError: CLIEngine is not a constructor)"
### Environment

Node version: 8.22
npm version: 14
Local ESLint version: 8.22
Global ESLint version:
Operating System: macOS

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

● Test suite failed to run

    TypeError: CLIEngine is not a constructor

### What actually h

[2022-08-17 19:35] mdjermanovic commented on #16216
Hi @SandHani45, thanks for the issue!

You are probably using a version of `eslint-webpack-plugin` that doesn't work with ESLint 8. Can you try with the latest version of `eslint-webpack-plugin`?

[2022-08-17 19:59] nzakas commented on #16212
I’m trying to eliminate the relationship between the docs site and the package.json. The docs site should know what version it represents without any external references.

[2022-08-17 20:09] nzakas commented on #16215
Thanks for the suggestion. The ESLint core rules are meant to be runtime agnostic, and because this rule would only apply to a browser runtime, it’s not a candidate for a core rule. You can definitely still create a custom rule to do this, though.

[2022-08-17 20:09] #16215 closed

[2022-08-17 20:10] nzakas commented on #16214
Please contact the angular-eslint team for this.

[2022-08-17 20:10] #16214 closed

[2022-08-17 20:11] nzakas commented on #15767
Okay, then let’s just remove “immediately” from the docs.

[2022-08-18 23:27] #15767 closed

[2022-08-19 07:04] c10342 opened #16219 "Bug: (TypeError: Cannot read properties of undefined (reading 'loc'))"
### Environment

Node version: v16.15.1
npm version: v8.17.0
Local ESLint version: v8.22.0
Global ESLint version: Not found
Operating System: win32 10.0.22000

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

There should be no errors

### What actually happene

[2022-08-19 12:26] krunalbad opened #16220 "Change Request: Suggestion to update disable message from UX POV"
### ESLint version

v7.5.0

### What problem do you want to solve?

I have a suggestion to update the disable camelcase message

### What do you think is the correct solution?

while disabling camelcase eslint gives the below message
`// eslint-disable-next-line camelcase`
but it should `// eslint-disable-next-line camelCase`

See below image from VSCode:
![Screenshot 2022-08-19 at 5 54 55 PM](htt

[2022-08-19 20:16] nzakas commented on #16220
Sorry, there's not enough information in this issue to know how to respond. Please explain exactly the change you want to make and why.

Please note, the ESLint VS Code extension is not maintained by this team.

[2022-08-20 00:40] joaomaranhao commented on #16219
You can add a rule to your eslint configuration file that solves that issue.

rules: {
  "indent": "off"
}

[2022-08-20 06:48] jon9090 opened #16221 "Bug: id-denylist throw an error on property"
### Environment

Node version: v16.15.1
npm version: 8.11.0
Local ESLint version: ~8.15.0
Global ESLint version:
Operating System: Mac Pro

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Axios have `data` property. eslint say it's restricted. I was expecting

[2022-08-20 10:13] krunalbad commented on #16220
@nzakas Okay understood. I have opened it here. https://github.com/microsoft/vscode-eslint/issues/1513

[2022-08-20 17:36] btmills commented on #14881
I'll take it 🖐️ This is a core API change, but it's pretty small, so I'll write up a proposal here and see if that's sufficient. I can turn it into a full RFC if necessary.

---

**Goal:** Allow formatters to take over output of the ["ESLint found too many warnings" message](https://github.com/eslint/eslint/blob/0e03c333a70bebd00307deead0befa519f983f44/lib/cli.js#L327-L330).

**Design:** Add a `ma

[2022-08-20 17:43] btmills commented on #15906
I agree that a custom processor would be the way to go. It would have specific knowledge of the library's semantics and know which function bodies to include in the main file lint and which to extract to a block. This will depend on #14745 to do it ergonomically, but there are examples in that thread of it being possible to do currently.

[2022-08-21 09:00] moshest commented on #16023
I'm using this rule for a few months now. I think it will be really helpful to warn only the function header and not all the body.

The code is not readable when all the function body is in warning and it's hard to refactor!

[2022-08-22 17:05] mdjermanovic commented on #12438
Closing per our [rules policies](https://github.com/eslint/eslint#stylistic-rule-updates).

[2022-08-22 17:05] #12438 closed

[2022-08-22 18:04] mdjermanovic commented on #16219
Duplicate of https://github.com/eslint/eslint/issues/14538

This is an issue with `@typescript-eslint/parser` that allows invalid syntax: https://github.com/typescript-eslint/typescript-eslint/issues/1852

@c10342 until this is fixed in `@typescript-eslint/parser`, you can configure the `indent` rule as described in https://github.com/eslint/eslint/issues/14538#issuecomment-862280037 to avoid thes

[2022-08-22 18:04] #16219 closed

[2022-08-22 18:31] mdjermanovic commented on #16211
Hi @infacto, thanks for the issue!

The core `no-restricted-imports` rule was designed to work only with bare imports (e.g, imports from `node_modules`). While the configuration for this rule accepts relative paths, `.` and `..` are treated just as directory names.  This rule was never intended to resolve paths and therefore it doesn't really support relative imports. For restricting in-project mo

[2022-08-22 18:31] #16211 closed

[2022-08-22 19:48] nzakas commented on #16023
There’s not enough support on the team to move forward, so closing.

[2022-08-22 19:48] #16023 closed

[2022-08-22 21:20] captbaritone opened #16227 "Change Request: Show red underlines in examples in rules docs"
### ESLint version

N/A

### What problem do you want to solve?

* Make the example errors in rules docs easier to understand.
* Have the rules docs more directly demonstrate the user experience of enabling the rule (what you see in the docs mirrors what you will see in your editor)
* (optional) Surface actual lint error messages in the example code on hover.

### What do you think is the correct

[2022-08-22 22:15] terrablue opened #16228 "Rule Change: Treat class / instance fields as named constants in no-magic-numbers"
### What rule do you want to change?

no-magic-numbers

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Shows these two errors:
`No magic number: 1`
`No magic number: 2`

### What will the rule do after it's changed?

Show n

[2022-08-23 02:46] snitin315 commented on #16227
I suppose you linked the wrong URL here.

[2022-08-23 03:03] captbaritone commented on #16227
Edited

[2022-08-23 05:41] GtechHardik commented on #15802
for me there was wrong version of type script
so
npm install --save-dev @types/react  @types/react-dom @types/react-native

solved the issue

[2022-08-23 12:54] flq opened #16230 "Bug: inline rule overrides via eslint-disable-next-line are ignored during linting"
### Environment

Node version: 16.13.2
npm version: 8.1.2 (but actually using yarn 1.22.15)
Local ESLint version: Not found (but via react scripts version 5.0.1 version 8.18.0)
Global ESLint version: Not found
Operating System: macOS 12.15.1 (darwin 21.6.0)

Through react scripts both parsers are present:
* "@babel/eslint-parser@^7.16.3"
* "@typescript-eslint/parser@^5.5.0"

### What parser are yo

[2022-08-23 14:05] Samuel-Beslogic opened #16231 "Rule Change: `object-curly-spacing` to support space in empty braces"
### What rule do you want to change?

object-curly-spacing

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

It is explicitly ignored.

### What will the rule do after it's changed?

When the option is turned on, Warn for empty braces w

[2022-08-23 14:15] mdjermanovic commented on #16231
Hi @Samuel-Beslogic, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we are not adding new options to the `object-curly-spacing` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-08-23 14:15] #16231 closed

[2022-08-23 15:21] crystalfp opened #16232 "Bug: after upgrade it displays "can't resolve reference #/definitions/directiveConfigSchema from id #""
### Environment

Node version: 18.4.0
npm version: 8.18.0
Local ESLint version: 8.22.0
Global ESLint version: 8.22.0
Operating System: Windows 11
"vue-eslint-parser": "^9.0.3",

### What parser are you using?

vue-eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

Here is the code, but any *.ts and *.vue file has the same effect
[code]

### What did

[2022-08-23 17:31] mdjermanovic commented on #16228
Hi @terrablue, thanks for the issue!

This rule has an option [`detectObjects`](https://eslint.org/docs/latest/rules/no-magic-numbers#detectobjects):

Default is `false`:

[code]

I think the `detectObjects` option should also apply to class field initializers (perhaps we missed considering this rule in https://github.com/eslint/eslint/issues/14857), but would like more opinions on this.

[2022-08-23 17:52] terrablue commented on #16228
I agree, since it's declarative in nature and represents an initial value, like `let baz = 2;`, I think it should be treated the same.

[2022-08-24 02:42] githuber0007 opened #16237 "get configfile and result in plugin"
### ESLint version

v8.22.0

### What problem do you want to solve?

[code]

1. I'm making an eslint plugin, the lint result of the plugin's rules may conflict with other rules, but in the existing context API I can't know which rule my plugin conflicts with. If I know, I can block the rules in this plugin that conflict with other rules in next loop.
2. Also I want to get the eslintrc configuratio

[2022-08-24 07:50] MahendraBishnoi29 commented on #16212
can you assign it to me :)

[2022-08-24 08:48] luckylooke opened #16238 "Bug: (fill in)"
### Environment

Node version: v16.15.1
npm version: v8.11.0
Local ESLint version: 8.22.0
Global ESLint version: none
Operating System: MacOS Monterey 12.5.1

### What parser are you using?

vue-eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

eslintrc.mjs
[code]
</details>

[code]

### What did you expect to happen?

quotes to be autofixed

### What actually happen

[2022-08-24 09:28] luckylooke commented on #16238
It is something related to configuration, as I have tried to replace content of eslintrc.mjs by this:

[code]

and it works as expected 🤔

[2022-08-24 10:16] luckylooke commented on #16238
I have debugged that "@vue/eslint-config-prettier" is the cause of the issue.
[code]
  once I comment it out it works as expected

  So I will open issue in their repo.

[2022-08-24 10:16] #16238 closed

[2022-08-24 16:41] krunalbad commented on #16220
@nzakas WRT this [comment](https://github.com/microsoft/vscode-eslint/issues/1513#issuecomment-1221946785) I am guessing this is the rule change that is managed by this repo itself

[2022-08-24 18:34] nzakas commented on #16212
@MahendraBishnoi29 absolutely. Thanks for your help!

[2022-08-24 19:10] thanhnguyen opened #16242 "Bug: Unable to resolve path to module when git+ssh is used"
### Environment

Node version: v12.22.12
npm version: 6.14.16
Local ESLint version: v8.22.0
Global ESLint version: v8.22.0
Operating System: Ubuntu 20 LTS amd64

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>
"depname":"git+ssh://someurl/someproject.git"
</details>

### What did you expect to happen?

eslint should recognize t

[2022-08-24 19:21] mdjermanovic commented on #16242
Hi @thanhnguyen, thanks for the issue!

Is this a reported lint error or an error in the execution? Can you please provide the exact output you're getting when you run ESLint on the command line?

[2022-08-24 22:18] nzakas commented on #14881
That works for me. Do we want the property name to be `maxWarningCount` to better match naming elsewhere?

Also, perhaps we should only make this change for `FlatESLint` so we can avoid duplicating work?

[2022-08-24 22:22] #16103 closed

[2022-08-25 05:38] binarytracer commented on #16232
Ive experience this one also, but when i upgrade to **@typescript-eslint/eslint-plugin@3.35.1** it disappears.

[2022-08-25 06:30] MahendraBishnoi29 commented on #16212
@nzakas can you guide me how do i do this i'm new to eslint 🙏🏻

[2022-08-25 16:01] adidahiya opened #16244 "Change Request: Improve RuleTester error message for fixer output assertion"
### ESLint version

8.21.0

### What problem do you want to solve?

I'm writing tests for my custom rules and I would like to see better output for the fix output assertions. Right now I just see "Output is incorrect." It seems like this problem was raised previously in #5917 and possibly fixed, but now it has regressed. Looking at the code, there is no diff printed here:

https://github.com/eslin

[2022-08-25 17:52] bmish commented on #16244
`assert.strictEqual()` should automatically show the diff between the actual/expected values so if it's not then something must be hiding that.

[2022-08-25 20:58] nzakas commented on #16212
@MahendraBishnoi29 there are instructions in the original issue description under "Solution".

[2022-08-25 21:02] nzakas commented on #16220
@krunalbad once again, there's not enough information for me to respond. I don't understand what it is you're asking or what kind of change you're requesting. Please use some sentences to describe what you think the problem is and what you think the solution is.

[2022-08-26 07:44] kecrily commented on #16220
I don't think rule name should use camelCase. and the wavy lines that appear in your diagram I think are caused by all your other extensions.

[2022-08-26 07:53] MahendraBishnoi29 commented on #16212
i didn't understand what to change there🤔

[2022-08-26 12:13] thanhnguyen commented on #16242
sorry this was caused by another issue. thanks

[2022-08-26 12:14] #16242 closed

[2022-08-26 13:09] adidahiya commented on #16244
Here's how I'm running RuleTester:

https://github.com/palantir/blueprint/blob/3f904f0077ae055a845982c064e86775cb2c1abb/packages/eslint-plugin/test/no-deprecated-type-references.test.ts#L25

Note that it's running via typescript-eslint, but that implementation just passes straight through to ESLint's RuleTester:

https://github.com/typescript-eslint/typescript-eslint/blob/39829c01906f326fec94e9b3a

[2022-08-26 14:32] 6XGate opened #16246 "Bug: Configuration that throws an error with an immutable message will crash ESLint with useless error"
### Environment

Node version: 14.19.3
npm version: 8.15.0
Local ESLint version: 8.22.0
Global ESLint version: N/A
Operating System: Manjaro

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

No linted code necessary

### What did you expect to happen?

ESLint to "crash out" with the TestError's message: `TestErro

[2022-08-26 16:35] nzakas commented on #16212
Ask us some questions. :smile: What can we answer that would help?

[2022-08-26 16:51] MahendraBishnoi29 commented on #16212
as you said we have to make change around [here](https://github.com/eslint/eslint/blob/main/Makefile.js#L285) right? but what changes i have to make here 😬

[2022-08-26 16:54] nzakas commented on #16227
Ooh this would be nice! We were actually planning on developing a custom element that was basically a mini playground to use in the docs, but if there’s something that can work already, I’m all for it.

[2022-08-26 16:57] nzakas commented on #16246
Can you create a reproduction case?

ESLint doesn’t execute your code, and the error you’re getting is a runtime error.

[2022-08-26 16:58] nzakas commented on #16244
The assertion will print out a diff. This is likely caused by your testing setup swallowing some output.

[2022-08-26 17:01] nzakas commented on #16237
Rules intentionally do not have access to other rules. Rules are supposed to be standalone and not have dependencies on the results of other rules.

Similarly, rules are only supposed to care about their own configuration, not anything else. Everything that is safe for a rule to access it already passed on the context object.

This was an intentional design decision in ESLint because of rules can

[2022-08-26 17:01] #16237 closed

[2022-08-26 17:03] nzakas commented on #16228
I think the utility of this rule is questionable at best so I’d rather not make any further changes to it.

[2022-08-26 17:05] nzakas commented on #16212
Sorry, I don’t know how to explain it better than in my original comment above:

[2022-08-26 17:10] ljharb commented on #16228
Many of us find the utility of this rule quite high.

[2022-08-26 17:38] mdjermanovic commented on #16210
Packages to release:

- [ ] espree v9.4.0
- [ ] @eslint/eslintrc v1.3.1
- [ ] eslint v8.23.0

[2022-08-26 17:58] #15703 closed

[2022-08-26 21:19] 6XGate commented on #16246
The config code is the reproduction case, it doesn't require any actual code to lint. The `.eslintrc.js` file is itself throwing an error on purpose.

The issue is; if the error thrown from the config file has an immutable/read-only message property, ESLint causes an new runtime error and swallow the more relevant error thrown by the config file. In this case, the TestError is completely lost and

[2022-08-26 21:25] MrBrN197 opened #16248 "Bug: (indent rules with parser)"
### Environment

Node version: 16.15.0
npm version: 8.10.0
Local ESLint version: 7.32.0
Global ESLint version: N/a
Operating System:  Windows (using WSL)

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Not to crash.

### What actually happened?

running `npx eslint file.js` thro

[2022-08-26 22:56] mdjermanovic commented on #16210
ESLint v8.23.0 has been released:

https://eslint.org/blog/2022/08/eslint-v8.23.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-08-26 23:16] mdjermanovic commented on #16248
Hi @MrBrN197, thanks for the issue!

This is a known problem in the now-deprecated `babel-eslint` parser. You should use [@babel/eslint-parser](https://www.npmjs.com/package/@babel/eslint-parser) instead.

[2022-08-26 23:16] #16248 closed

[2022-08-27 01:11] jooy2 opened #16250 "Bug: 'this.libOptions.parse is not a function' error after upgrading to ESLint 8.23.0"
### Environment

Node version: 16.17.0
npm version: 8.18.0
Local ESLint version: 8.23.0
Global ESLint version: none
Operating System: Windows 10 x64 21H2

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

The ESLint error should not be displayed in Jetbrain IDE(IntelliJ

[2022-08-27 01:37] prescience-data commented on #16250
Also just received this after upgrading:

![image](https://user-images.githubusercontent.com/65471523/187009196-59ed133f-a4f0-454a-82bc-269e96a03d9f.png)

[code]

[2022-08-27 02:06] snitin315 commented on #16156
I can think of the following cases when `eslint-enable` will be unused-

1. ESLint rules are re-enabled but those have not been disabled. (When a rule is already enabled in config.)

[code]
[code]

[code]

2. When the corresponding disable-directive is unused.

[code]

[2022-08-27 02:08] snitin315 commented on #16156
I suppose this issue targets only the second case? Since the auto-fix will remove the unused disable directives only and leave the unused eslint-enable ones.

[2022-08-27 06:14] johndebord opened #16251 "Reopening discussion for: `padding-line-between-statements` Add an option for padding object elements"
Having a padding option for more than just statements would be convenient.
e.g.,
[code]

[code]

[code]

Currently, there is no such rule (that I know of) that enforces this behavior

[2022-08-27 07:32] krunalbad commented on #16220
Ok @kecrily It was just a suggestion.

[2022-08-27 08:03] jugalthakkar commented on #16212
I am keen it pick this up as well, please let me know if it is ok with you @MahendraBishnoi29 @nzakas

[2022-08-27 08:51] jugalthakkar commented on #16212
Do we want to keep the ability to read the version from `env`? Else, we can altogether remove the `eslintVersion.js` file and always have it generated as you have mentioned.

[2022-08-27 14:25] JackieCheung commented on #16250
I got the same problem

[2022-08-27 14:27] GoodBoyNeon opened #16253 "Bug: airbnb/google's style guide doesn't show up"
### Environment

Node version: 18.7.0
npm version: 8.15.0
Local ESLint version: 8.23
Global ESLint version: None
Operating System: Windows 10 (x86)

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Reproduction</summary>

[code]
</details>

### What did you expect to happen?

While trying to setup eslint

### What actually happened?

![image](https://user-

[2022-08-27 16:40] mdjermanovic commented on #16250
Thanks for all the details!

Per this line of code, it seems that the plugin is reaching into the `eslint` package to load an internal module. ESLint's public API is defined in [`package.exports`](https://github.com/eslint/eslint/blob/dcf178e3c41e7777ee76ae9582387be85118118b/package.json#L12). Since the `lib/options.js` module isn't public, its API can change in non-major versions, as it did in th

[2022-08-27 16:44] mdjermanovic commented on #16251
Hi @johndebord, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `padding-line-between-statements` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-08-27 16:44] #16251 closed

[2022-08-27 16:50] mdjermanovic commented on #16253
Duplicate of https://github.com/eslint/create-config/issues/35

[2022-08-27 16:50] #16253 closed

[2022-08-27 18:02] mdjermanovic commented on #16156
These errors should definitely be reported due to the absence of accompanying disable directives, but I think in these examples it shouldn't matter whether or not the rule is present in config, because `eslint-enable` can only re-enable rules that have been disabled by `eslint-disable`. In other words, `/*eslint-enable no-undef-init*/` will not enable the `no-undef-init` rule if the rule wasn't se

[2022-08-27 23:48] johndebord commented on #16251
Hi @mdjermanovic, I wasn't aware that the rules were frozen. Thanks for the quick response & feedback

[2022-08-28 02:52] hansfpc commented on #16250
I got the same problem :c

[2022-08-28 07:30] ZLY201 opened #16255 "Migrate functional-red-black-tree to Js-sdsl OrderedMap"
### ESLint version

v8.4.1

### What problem do you want to solve?

Hey! I'm the developer of Js-sdsl. Official website: https://js-sdsl.github.io/

Now, we published the version 4.1.3.

I see you are using functional-red-black-tree.

In [benchmark](https://js-sdsl.github.io/#/test/benchmark-result?id=rbtree), we have confirmed that Js-sdsl is several times faster than functional-red-black-tree.

[2022-08-28 22:07] RDIL commented on #16250
Is a backwards compatibility shim possible/viable in the short term, until JetBrains is able to fix the issue?

[2022-08-29 02:35] aladdin-add commented on #16255
👍 sgtm! I can see it will be a big perf win to make the migration - it was used in the `indent` rule, and it has been the most time-consuming:
[code]

[2022-08-29 06:06] ZLY201 commented on #16255
Hey, I'm trying to make a PR, but when I run `npm run perf`, it occurs an error:

[code]

This error also occurs in the `main` branch.

Maybe I'm using this command incorrectly? I want some help.

Thanks!

[2022-08-29 06:24] aladdin-add commented on #16255
looks like it was caused by the new config system: https://github.com/eslint/eslint/pull/16235.

I'll make a fix later.

[2022-08-29 06:45] zhanglolo opened #16257 "Bug: pnpm exec eslint didn't work on Mac os"
### Environment

Environment Info:

Node version: v16.17.0
npm version: v8.15.0
pnpm version: v7.9.5
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

config

[2022-08-29 06:53] kecrily commented on #16257
Unable to reproduce

![image](https://user-images.githubusercontent.com/45708948/187140953-343554ec-a280-4231-b2ad-9650fca3cf68.png)

[2022-08-29 07:06] zhanglolo commented on #16257
@kecrily Windows look fine.  May be just Mac OS 12.5.1 happend. Need other Mac user feedback.

<img width="985" alt="截屏2022-08-29 15 03 09" src="https://user-images.githubusercontent.com/27875371/187142859-2a9a08de-3846-4180-8abf-b9278e7e0cc9.png">

[2022-08-29 08:36] daLeiStrive commented on #16250
Just fix eslint to 8.22
npm install eslint@8.22.0 --save-exact

[2022-08-29 10:33] kdy1 commented on #15475
I'm working on a separate package which can emit ESTree AST.

https://github.com/swc-project/bindings/pull/4

I postponed it because I'm busy and I'm not sure if anyone will use it.

Feel free to ping me if you are interested in it.

[2022-08-29 14:10] zhanglolo commented on #16257
It works after reopen vscode.

[2022-08-29 14:15] zhanglolo commented on #16257
did you config `eslint.config.js` like this:
[code]

[2022-08-29 15:00] kecrily commented on #16257
Yes, I copied it.

[2022-08-29 15:03] ljharb commented on #16257
If something works with npm but breaks with pnpm, then you may need to file an issue on pnpm.

[2022-08-29 16:23] ZLY201 commented on #16255
Hey, I also get an error in your PR (https://github.com/eslint/eslint/pull/16258) when I run `npm run test`:

[code]

[2022-08-29 17:56] nzakas commented on #16212
No, we don’t want to read from env. In order to make it easier to just copy the files over directly, we need the version to be static.

[2022-08-29 17:59] nzakas commented on #16246
Oh I see, thanks for explaining. We will take a look.

[2022-08-29 18:57] mdjermanovic commented on #16257
@zhanglolo thanks for the feedback on the new config system!

Can you add the [`--debug`](https://eslint.org/docs/latest/user-guide/command-line-interface#--debug) flag here, run the script again, and share the output?

[2022-08-29 20:21] mdjermanovic commented on #14881
Would we add a `maxWarnings` field only when it's exceeded? If we add it always, there will be a situation where formatters wouldn't be able to determine whether it was exceeded: with the `--quiet` flag, we don't pass warnings to formatters, but `--max-warnings` still applies and it can cause exit code 1. For example, [stylelint](https://stylelint.io/developer-guide/formatters/) adds a `maxWarning

[2022-08-29 22:53] mdjermanovic opened #16259 "Bug: [new config system] glob arguments with Windows separator `\` don't work"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

Running ESLint in a local ESLint repo, `main` branch.

[code]

### What did you expect to happen?

Successful linting and a list with the 4 files in the

[2022-08-29 23:16] mdjermanovic opened #16260 "Bug: [new config system] path to a directory lints files outside that directory"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

Running ESLint in a local ESLint repo, `main` branch.

[code]

### What did you expect to happen?

Successful linting and a list of the 12 files under t

[2022-08-29 23:26] jooy2 commented on #16250
Thanks for everyone's interest. I will close this issue as it will be fixed in the **next update (2022.2.2)** of all families of IntelliJ.

See: https://youtrack.jetbrains.com/issue/WEB-57089/ESLint823-TypeError-thislibOptionsparse-is-not-a-function

[2022-08-29 23:26] #16250 closed

[2022-08-29 23:52] mdjermanovic commented on #16255
This problem was fixed in https://github.com/eslint/eslint/pull/15041, do you have the latest version of the eslint repo locally?

[2022-08-30 00:25] mdjermanovic commented on #16210
Aside from https://github.com/eslint/eslint/issues/16250, which is a problem in an IDE integration that has already been fixed and is going to be released in the next update, there were no regression issues reported, so this concludes the v8.23.0 release. Please feel free to merge semver-minor PRs again.

[2022-08-30 00:25] #16210 closed

[2022-08-30 00:25] eslint-github-bot[bot] opened #16261 "Scheduled release for September 9th, 2022"
The next scheduled release will occur on Friday, September 9th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2022-08-30 00:29] mdjermanovic commented on #16250
In the short term, a workaround is to pin the `eslint` dependency to `"8.22.0"` or an earlier version.

[2022-08-30 01:03] zhanglolo commented on #16257
According to debug information, actually, this issue is `pnpm exec eslint src/**/*.js` did find `src/main.js` but `pnpm run lint`  or `npx run lint` didn't.

run `pnpm exec eslint src/**/*.js` in terminal and `"lint": "eslint src/**/*.js` in package.json find different files which need to handle.

## Detail information:
`pnpm run lint ` :
[code]

run `npm run lint`:
[code]

both find 7 js files in

[2022-08-30 04:27] btmills commented on #14881
I went with `maxWarnings` to match `--max-warnings` because I think it's slightly more important for the flag and its field to have the same name, but if you or anyone else feel strongly that using `maxWarningCount` for consistency with `errorCount` etc. is more important, I'm happy to make that change.

At least in its current form, most of the change is in `lib/cli.js`. The changes to `ESLint` a

[2022-08-30 09:21] githuber0007 commented on #16237
I know this is the original intention of your design, but we need a way to know if our plugin conflicts with other plugins. Otherwise, how can I make sure that my plugin rules don't conflict with the rules of other massive ESLint community plugins. It is obviously impossible to test one by one.

I think this is a very realistic scenario, and unless ESLint mandates that only one plugin can be enabl

[2022-08-30 09:38] mdjermanovic commented on #16257
Thanks for the info!

In both of these cases, before calling eslint the glob was expanded to a list of file paths which were then passed to eslint as individual cli arguments. I'm not sure why the lists are different, but either way this happens outside eslint and eslint has no control over it.

Can you try with quotes?

[code]

This way, the glob should be passed to eslint as-is, and eslint itsel

[2022-08-30 09:52] zhanglolo commented on #16257
@mdjermanovic modify package.json  `"lint": "eslint \"src/**/*.js\" --debug"`

`pnpm run lint`
[code]

`pnpm exec eslint "src/**/*.js`:
[code]

`npx eslint "src/**/*.js"`:
[code]

[2022-08-30 10:04] mdjermanovic commented on #16257
Does it work as expected now (i.e. does it report the `semi` warning in `src/main.js` when you run the package.json `lint` script)?

[2022-08-30 10:09] mdjermanovic commented on #14881
The stylelint's approach (1.) looks good to me тоо.

[2022-08-30 10:21] zhanglolo commented on #16257
Yes!
but, what makes me confuses is `pnpm run lint ` (`npm run lint`) get different  out put `eslint:cli CLI args: [...]`  from `pnpm exec eslint src/**/*.js`(`npx eslint src/**/*.js`).

May be npm have do something stuff.🤨

[2022-08-30 10:40] mdjermanovic commented on #16257
Then I think we can close this issue since eslint correctly resolves the glob when the glob is passed into eslint. The difference between the lists of files to which the glob is expanded before calling eslint might be a good question for npm/pnpm, as eslint has no control over it. ESLint's [Command Line Interface](https://eslint.org/docs/latest/user-guide/command-line-interface) documentation sugg

[2022-08-30 10:40] #16257 closed

[2022-08-30 11:57] mdjermanovic opened #16264 "Bug: [new config system] `.eslintignore` doesn't work like `.gitignore`"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

[code]

[code]

### What did you expect to happen?

[code]

Per the [.gitignore specification](https://git-scm.com/docs/gitignore), `foo

[2022-08-30 17:32] nzakas commented on #14881
👍 to stylelint’s approach

[2022-08-30 19:18] nzakas commented on #16264
Unfortunately this is not so easy. Because ignores in `eslint.config.js` work differently than in `.eslintignore` and yet are expected to work together (being able to unignore a file from `eslint.config.js` that was ignored in `.eslintignore`), I had to move to one common way of interpreting ignores. I can take another look, but I'm fairly certain this won't be a viable option.

Note: Originally t

[2022-08-30 19:19] nzakas commented on #16259
Seems like we can just normalize `\` to `/` before passing to `globby`?

[2022-08-30 19:21] mdjermanovic opened #16265 "Bug: [new config system] globs are ignoring dot files"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

[code]

### What did you expect to happen?

Per the [RFC](https://github.com/eslint/rfcs/blob/893b49194689fcf0d34743eac75773d098264656/d

[2022-08-30 19:21] nzakas commented on #16260
Sorry, I'm having a hard time understanding what you're reporting here. Can you explain what kind of project setup you have?

[2022-08-30 19:31] mdjermanovic commented on #16260
Setup is my local clone of the eslint/eslint repository.

The expected result is to lint files in [tools/](https://github.com/eslint/eslint/tools/) but it's also linting files in [tests/](https://github.com/eslint/eslint/tree/main/tests)

[2022-08-31 06:32] YeWills opened #16266 "Bug: Error fixing let to const."
### Environment

Node version:  v16.13.2
npm version: 8.1.2
yarn version: 1.22.19
Local ESLint version: v7.32.0
Global ESLint version: v7.15.0  (Not used)
Operating System:  macOS

### What parser are you using?

Other

### What did you do?

This is my project structure:

package.json:
[code]
.eslintrc.js

[code]

aa.js
[code]
run yarn install project:
[code]
Please use yarn to install,  because y

[2022-08-31 06:38] YeWills commented on #16266
What is more incredible is that if I reduce a variable `list,` the above problem will not exist and eslint will run normally.
将上面的aa.js 改成
[code]
[code]
Everything is normal, aa.js  will become normal:
[code]

[2022-08-31 10:56] mdjermanovic commented on #16266
Hi @YeWills, thanks for the issue!

This is indeed a bug we should fix. I can reproduce it in the latest ESLint v8.23.0 with the default parser, too. Here's a [playground repro](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50ICdwcmVmZXItY29uc3QnOiBbJ2Vycm9yJywge1xuICAgICAgZGVzdHJ1Y3R1cmluZzogJ2FueScsXG4gICAgICBpZ25vcmVSZWFkQmVmb3JlQXNzaWduOiB0cnVlLFxuICAgIH1dXG4gICAgLS0gZnJvbSBhaXJibmItYmFzZSBjb

[2022-08-31 10:57] YeWills commented on #16266
这是来自QQ邮箱的自动回复邮件。
 
您好，你的邮件我已经收到。谢谢！

[2022-08-31 14:46] ZLY201 commented on #16255
Hey, I have submitted a PR([#16267](https://github.com/eslint/eslint/pull/16267)), and the test results of this migration on my computer are as follows:

- environment

[code]

- main branch

[code]

- migrate branch

[code]

**I was wondering if this met your expectations, or if it met the requirements as a PR?**

[2022-08-31 16:37] mdjermanovic commented on #16264
I don't think it's viable for the two different styles to work together, because each style has its own rules about how a list of patterns as a whole should work. I think we should decide between the .gitignore style (with the .gitignore interpretation of individual patterns and the .gitignore rules about how lists of patterns work) and the other style (with globs and ESLint-specific rules about h

[2022-08-31 17:19] nzakas commented on #16264
I remembered last night why I didn’t use the ignore package. There were two issues:

1. in order to use ignore, we would need to write a new version of FileEnumerator just for that purpose instead of using something like globby, which already exists. I don’t think we should be maintaining a globbing utility when there are plenty of better-tested solutions out there. Globby only accepts strings as

[2022-08-31 20:46] nzakas commented on #16260
Okay, so I was confused by `npx`. That is actually not important to the issue because I can reproduce it via:

[code]

[2022-08-31 20:57] nzakas commented on #16260
So here's what's happening: the `findFiles()` function gathers all the `files` entries from the config, filters then, then appends them to the end of any directory that's passed. It should be filtering out anything that isn't inside of `tools`, but there's a logic error here:

https://github.com/eslint/eslint/blob/main/lib/eslint/eslint-helpers.js#L152-L175

Basically, it is continuing to search o

[2022-08-31 20:58] nzakas commented on #16265
Confirmed, this is a bug. We should be picking up dot files by default now.

[2022-08-31 21:03] nzakas commented on #16265
Because this example has a glob without quotes, that means the shell is expanding it and is therefore not including dot files. I don't think there's anything we can do about that.

However, I also see that quoting the glob pattern does not pick up dot files. That is a bug per the RFC:

[code]

This may end up being a case where we should mirror the shell expansion to avoid confusion?

[2022-09-01 08:54] mdjermanovic commented on #16265
Oh, I was running this in a windows shell and it passed `*.js` to eslint (I double-checked `process.argv`). I'll use quotes from now on to avoid ambiguity.

That would mean that dotfiles are effectively ignored by default?

[2022-09-01 10:55] mdjermanovic commented on #16265
I prepared https://github.com/eslint/eslint/pull/16269 to include dotfiles in glob and directory searches (per the RFC), if we decide that should be the behavior.

[2022-09-01 13:38] brianmhunt opened #16270 "New Rule: An `async` function should have at least one `await` or return a Promise"
### Rule details

Detect when an async function has no `await`

### Related ECMAScript feature

async/await

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

This seems like a fairly universal and consistent consideration.

### Participation

- [ ] I am willing to submit a pull request to implem

[2022-09-01 19:50] nzakas commented on #16265
Yeah, that's what I'm wondering. We obviously have control over what gets passed to globby, but, as in your example, it was unclear if the pattern was being passed directly to globby or if it was a shell expansion. I'm just wondering if it would make sense to keep the current behavior because then we at least know the result will be the same regardless of shell expansion or not?

[2022-09-01 19:52] nzakas commented on #16270
There is already a rule for this:
https://eslint.org/docs/latest/rules/require-await

We don't track whether or not a function returns a promise because we don't have the type information necessary to do so.

[2022-09-01 19:52] #16270 closed

[2022-09-01 19:52] nzakas commented on #16264
@btmills could use your input here.

[2022-09-01 19:54] nzakas commented on #16260
Working on this.

[2022-09-01 21:48] jesus2099 commented on #12438
So, @mdjermanovic, this eslint tool is also really that much anti-tabs?
When using tabs for indentation, it's normal to comment lines out with `//` preceeding tabs.
So we need the `allowInComments` for sure!

Someone took the time and effort to fix that with PR #16224 but it was closed by you. :-C

[2022-09-01 22:05] brianmhunt commented on #16270
Thanks @nzakas -- I appreciate you pointing me to this, and sorry I didn't see it when searching.  That rule certainly covers this, so thanks for responding and closing.

[2022-09-01 22:45] ljharb commented on #16270
It's also worth noting that `async function` has a ton of value even if it never uses `await` or returns a Promise, or even returns a *value*, which means the `require-await` rule (like this proposed one) is actually harmful when naively applied to a codebase. The `async` keyword guarantees, statically, that a function will never throw a synchronous exception, and will only ever return a Promise -

[2022-09-02 09:33] aksalsf commented on #16250
Otherwise, instead of change your project's eslint version, you can use manual eslint configuration to targetting eslint package in global scope. Assumes that you install eslint globally with lower version.

[2022-09-02 14:31] mdjermanovic commented on #16265
By the current behavior, do you mean current FlatESLint behavior or current eslintrc behavior?

[2022-09-02 22:34] #15797 closed

[2022-09-03 04:09] leechongren opened #16273 "Bug: Flagging the 'key' property as an unknown property"
### Environment

Node version: 14.4.0
npm version: 6.14.5
Local ESLint version: 8.23.0
Global ESLint version: 8.23.0
Operating System: Windows

### What parser are you using?

Other

### What did you do?

![bug-report](https://user-images.githubusercontent.com/59591074/188255270-69478480-4f58-4d2a-86d6-7484f413a352.JPG)

[code]

### What did you expect to happen?

It should not flag it as error be

[2022-09-03 04:14] #16273 closed

[2022-09-03 04:15] JustFly1984 commented on #16273
In continuation of this issue, can we highlight the key properties, which are not in the map loop? I'm frequently noticing key properties moved outside of the loop in refactoring process, and forgotten.

[2022-09-03 04:20] leechongren commented on #16273
Apologies, I realised the actual issue is actually in another library, `eslint-plugin-react`, and it was reported there already so i am closing this. They are currently working on a fix so it should be resolved soon.

https://github.com/jsx-eslint/eslint-plugin-react/issues/3380

[2022-09-03 18:47] sararita28 commented on #16212
I read the file changes and it seems like [jugalthakkar](https://github.com/jugalthakkar) met the latest requirements of [nzakas](https://github.com/nzakas) in the PR. Any other good first issues to work on [nzakas](https://github.com/nzakas)? I would love to contribute.

[2022-09-03 21:35] yuriy-yarosh commented on #3458
I'm getting some issues with `yarn berry` as well
@loynoir did you figure it out in the end ?

[code]

[2022-09-03 21:49] loynoir commented on #3458
@yuriy-yarosh No, I give up trying yarn berry

[2022-09-03 22:34] #15895 closed

[2022-09-04 06:26] mdjermanovic opened #16275 "Bug: [new config system] unmatched individual patterns are not reported"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

I ran the following command in my local clone of the eslint/eslint repo, `main` branch:

[code]

### What did you expect to happen?

Since there is no `

[2022-09-04 14:19] YeeJone opened #16276 "Bug: [no-useless-escape] fixer changes the original meaning of the code"
### Environment

Node version:  14.17.0
npm version: 7.21.1
Local ESLint version: 8.23.0
Global ESLint version: 7.32.0
Operating System:  MacOS

### What parser are you using?

Default (Espree)

### What did you do?

[Case Demo](https://eslint.org/play/#eyJ0ZXh0IjoiL15bLStdP1tcXGRcXC5dKyQvLnRlc3QoJzM0MzI0Jyk7Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoibGF0ZXN0Iiwic291cmNlVHlwZSI6In

[2022-09-04 19:39] mdjermanovic commented on #16276
Hi @YeeJone, thanks for the issue!

This works as intended because 'Replace the `\` with `\\` to include the actual backslash character.' is a [suggestion](https://eslint.org/docs/latest/developer-guide/working-with-rules#providing-suggestions), not autofix. Suggestions always require user interaction and are therefore generally allowed to change the functionality of the code. That's one of the pr

[2022-09-04 19:39] #16276 closed

[2022-09-05 01:46] YeeJone commented on #16276
OK, Thanks

[2022-09-05 06:38] aladdin-add opened #16277 "lint mjs => TypeError: Key "plugins": Cannot redefine plugin "n"."
### Environment

Node version: v18.8.0
npm version: v8.19.1
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 22.1.0

### What parser are you using?

Default (Espree)

### What did you do?

added an empty file "t.mjs" in the eslint codebase, and running `npx eslint t.mjs`. it throws an error:

[code]

### What did you expect to happen?

lint s

[2022-09-05 08:03] aladdin-add commented on #16277
👍 I've confirmed it was fixed if returns the same object. will make a PR later.

[2022-09-05 10:04] mkosir commented on #15010
Just wanted to say huge bow to @domnantas  🙇‍♂️  for putting together [RFC](https://github.com/eslint/rfcs/pull/90) 🚀

Once this feature will be merged, it will become super useful for our use cases with auto generated files, that must not be changed or linted, but they must be committed (through lint-staged).

[2022-09-05 11:15] Gautam-Arora24 commented on #16266
Hey! Willing to work on this issue.

[2022-09-05 17:38] #16212 closed

[2022-09-05 17:41] nzakas commented on #16220
Closing as we aren’t going to do anything here.

[2022-09-05 17:41] #16220 closed

[2022-09-06 00:42] btmills commented on #15631
To quote nzakas, there's an RFC open for this issue.

[2022-09-06 05:22] tr1s opened #16278 "ESLint randomly started enforcing new rule which is incorrect and breaking my builds"
### Environment

Node version: `v16.15.1`
npm version: `8.19.0`
Local ESLint version: `8.23.0`
Global ESLint version: N/A
Operating System: macOS Big Sur / M1 Mac

### What parser are you using?

Default (Espree)

### What did you do?

Configuration

[code]

My code is viewable [here](https://github.com/tr1s/nightizm).

| File | Vercel Build Error |
|:-------------:|:-------------:|
|![ESLint_ERRO

[2022-09-06 05:28] ljharb commented on #16278
This is an issue with v7.31.2-6 of eslint-plugin-react. Update to v7.31.7 and the problem should go away.

[2022-09-06 05:35] btmills commented on #16264
If there's no good way to have `.gitignore`-style `.eslintignore` alongside flat config, I'd agree we're better off taking this opportunity to drop it than trying to shoehorn it in and being stuck with it. If we get a ton of pushback, deciding not to support it now doesn't mean we can't add support in the future if someone cares enough to figure out how to make it work.

And as @nzakas pointed out

[2022-09-06 05:48] ljharb commented on #16278
@tr1s to be clear; this should be closed since it's not an issue with eslint. See https://github.com/jsx-eslint/eslint-plugin-react/issues/3380

[2022-09-06 05:49] tr1s commented on #16278
@ljharb neither of my projects are using that package, it's probably a peer dependancy though yeah. They're both using: `"eslint": "^8.23.0"` and `"eslint-config-next": "^12.2.5"`

Does that mean I have to wait for next.js to fix it under the hood or?

[2022-09-06 05:50] ljharb commented on #16278
No, it's a transitive dependency of eslint-config-next. You can either `npm update eslint-plugin-react`, or `npm install eslint-config-next`, or any number of things to update the transitive dependency.

In all of these cases, it's not an issue with eslint or eslint-config-next, so both of these issues should be closed.

[2022-09-06 05:51] tr1s commented on #16278
@ljharb okay thank you.

[2022-09-06 05:51] #16278 closed

[2022-09-06 20:12] deathgaze opened #16279 "Bug: Error parsing typescript config file"
### Environment

Node version: v16.13.1
npm version: v8.1.2
Local ESLint version: v8.4.1 (Currently used)
Global ESLint version: v8.23.0
Operating System: darwin 21.2.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

### What did you expect to happen?

ESLint should parse the TS configuration

[2022-09-06 20:21] Dhaxor opened #16280 "Rule Change: (fill in)"
### What rule do you want to change?

function-paren-newline

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

It just moves the function parentheses to a new line and not the arguments of a function declaration.

### What will the rule

[2022-09-07 02:12] aladdin-add commented on #16280
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-09-07 02:12] #16280 closed

[2022-09-07 15:06] DMartens opened #16281 "Rule Change: [indent] Basic support for smart tabs"
### What rule do you want to change?

indent

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Does not report in any of the mentioned cases.

### What will the rule do after it's changed?

Currently any line containing mixed tabs and s

[2022-09-07 19:56] nzakas commented on #3458
Hi folks! Just an update that the new ESLint configuration has now been enabled as an experiment. This new config system eliminates the special treatment of shared configs so that you can include plugins as direct dependencies. Read about it here:

https://eslint.org/blog/2022/08/new-config-system-part-1/
https://eslint.org/blog/2022/08/new-config-system-part-2/
https://eslint.org/blog/2022/08/new

[2022-09-07 19:56] #3458 closed

[2022-09-08 02:09] cakoose commented on #15943
Does anybody have ideas for the user experience of such a feature? Some ideas:

Option A:
- Allow the rule/autofix metadata to declare itself as "potentially dangerous"
- Have the `prefer-const` autofix declare itself as potentially dangerous.
- Provide an option in eslintrc or as a CLI flag to not apply potentially dangerous autofixes.

Option B:
- Provide a way in eslintrc to disable the autofix

[2022-09-08 10:32] c-harding opened #16282 "Rule Change: no-shadow with ignoreOnInitialization should allow nested callbacks"
### What rule do you want to change?

no-shadow

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It errors that `thing` is shadowing the previous definition, despite the `ignoreOnInitialization` option.

### What will the ru

[2022-09-08 11:46] thany opened #16283 "Change Request: (fill in)"
### ESLint version

8.19.1

### What problem do you want to solve?

I was making a HTML formatted overview of linter errors in our codebase, and to my surprise it also includes files without errors:
![image](https://user-images.githubusercontent.com/152227/189113905-18188e4b-f7e3-4cbc-8b18-6fcca4c2f83a.png)

I cannot find a way to skip those from being outputted, other than fiddling them away manu

[2022-09-08 18:07] nzakas commented on #16264
Okay, it sounds like we are in agreement to remove eslintignore support and see how things go.

[2022-09-08 18:11] nzakas commented on #16265
At the moment they are both the same: flat config and eslintrc both ignore dot files right now.

[2022-09-08 18:14] tdeo opened #16284 "Bug: cache doesn't invalidate on plugin version upgrade"
### Environment

Node version: v16.15.1
npm version: N/A - using yarn
Local ESLint version: 8.23.0
Global ESLint version: no global eslint installed
Operating System: MacOS 12.5.1

### What parser are you using?

@babel/eslint-parser

### What did you do?

I upgraded eslint-plugin-react from 7.37.1 to 7.37.7.

Due to new rules addition and the cache for the former version still being used, offense

[2022-09-08 18:14] nzakas commented on #16265
**TSC Summary:** Flat config was originally designed to include dot files by default when using glob patterns on the command line. The current behavior is that it doesn’t include dot files.

**TSC Question:** Should we keep the current behavior? Shell expansion for terminals typically does not include dot files, so we are only able to change for quotes globs passed to ESLint, so would it be too co

[2022-09-08 21:15] nzakas commented on #16283
ESLint always returns a list of all files it lints whether they have lint errors or not. If you want different output, you'll need to create a custom formatter to do that.

[2022-09-08 21:15] #16283 closed

[2022-09-08 21:16] nzakas commented on #16275
Verified as a bug.

[2022-09-08 21:35] nzakas commented on #16284
I think the only way we can guarantee this with the new config system is to ask plugin authors to include a `version` field in their plugin object, as we no longer know the `package.json` to read to get this info with the new config system.

[2022-09-09 02:42] aladdin-add commented on #16158
closing as completed.

[2022-09-09 02:42] #16158 closed

[2022-09-09 09:19] c-harding commented on #16276
@adam-gneiting A dot inside square brackets is parsed as a literal dot rather than an any-character matcher. See [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions/Character_Classes) (emphasis mine):

[2022-09-09 23:44] haykam821 opened #16290 "Change Request: Documentation for new configuration files seems to incorrectly specify how severities affect exit code"
### ESLint version

N/A

### What problem do you want to solve?

In [Rule severities](https://eslint.org/docs/latest/user-guide/configuring/configuration-files-new#rule-severities), the following information is given about the warn severity and how it effects the exit code:

However, in [Configuring Rules](https://eslint.org/docs/latest/user-guide/configuring/rules), the information is contradicte

[2022-09-10 02:49] joshwilsonvu commented on #15561
For building web editors, could you add a file exporting the `Linter` class alone to the packages exports public API? Though that class is supposed to be runtime agnostic, it's very difficult to access it in the browser without pulling in Node.js-only code with `import { Linter } from 'eslint'`.

- [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/websit

[2022-09-10 15:00] hornta opened #16294 "Bug: running eslint locally never finishes but finishes in Github Action CI"
### Environment

Node version: 16.13.0
npm version: 8.1.0
Local ESLint version: 8.23.0
Global ESLint version: -
Operating System: Windows 10

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

When I run eslint like so `npx eslint .` it never finish executing. I'

[2022-09-10 15:10] hornta commented on #16294
Someone told me to enable debug logging using `DEBUG=eslint:cli-engine eslint .` and I could see I accidently linted a super mega large JS file that took forever so I put it in eslintignore and not it works again.

[2022-09-10 15:10] #16294 closed

[2022-09-10 20:33] drazisil opened #16295 "Bug: Uncaught throw on `EACCES` when calling `fs.readdirsync()`"
### Environment

Node version: v18.8.0
npm version: v8.18.0
Local ESLint version: v8.23.0
Global ESLint version: Not found
Operating System: linux 5.15.60-1-MANJARO

### What parser are you using?

Default (Espree)

### What did you do?

Attempt to scan a directory that conatined another directory with `drw-------  3 root    root` for permissions. I was not root.

### What did you expect to happen

[2022-09-11 18:38] DevilsAutumn commented on #16275
I would like to work on this issue.

[2022-09-11 20:46] DevilsAutumn commented on #16275
I tried to implement the logic of looping through globbyPatterns and checking the globbyResult (later pushing into globbyResults) for each pattern and if ```globbyResult.length == 0``` it threw the NoFilesFoundError. This logic worked perfectly fine for the above issue but while running unit tests, I encountered an error which was caused due to ```lib/config/default-conf.js``` where  ``` "**/*.mjs

[2022-09-12 04:18] #16260 closed

[2022-09-12 04:34] #16255 closed

[2022-09-12 04:39] #16259 closed

[2022-09-12 04:50] #16266 closed

[2022-09-12 05:16] #16277 closed

[2022-09-12 05:52] btmills commented on #16261
This ended up being a semver-patch release, but it had a number of changes, so I'll follow the same procedure as usual. Please merge only semver-patch changes for the next couple days. I'll check back Tuesday evening US time to see whether a .2 will be needed.

[2022-09-12 07:10] mdjermanovic commented on #16290
Hi @haykam821, thanks for the issue!

PR is welcome. I think this was a typo in the last sentence, it should be "If only warnings are reported, the exit code will be 0."

[2022-09-12 09:07] mdjermanovic commented on #16265
In both eslintrc and the current implementation of flat config, dotfiles are effectively ignored in most cases, but the logic is not the same and there are many differences regarding the cases in which dotfiles are not ignored.

eslintrc:

* If the given pattern is a file path, and `--no-ignore` flag is set. For example, `eslint foo/.bar.js --no-ignore` will lint `foo/.bar.js`.
* If the given patt

[2022-09-12 09:39] mdjermanovic commented on #16275
Does this happen only when the pattern is a directory path? In that case, e.g. if the directory is `foo`, we're calculating globs as `[ 'foo/**/*.js', 'foo/**/*.mjs', 'foo/**/*.cjs' ]`, but it shouldn't be required that each of them must match something. If at least one of the globs calculated from `foo` matches something, than the original argument `foo` matches something and therefore it shouldn

[2022-09-12 11:09] jez9999 opened #16298 "New Rule: Require public instance fields syntax for class methods"
### Rule details

Public instance fields syntax would be required for class methods instead of public instance methods

### Related ECMAScript feature

Public instance fields & arrow function expressions

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Almost every developer is con

[2022-09-12 11:35] mdjermanovic commented on #16265
Some notable differences in use cases, as a consequence of the different logic:

* CLI: with eslintrc, unignoring a dotfile in `.eslintignore`/`ignorePatterns` is the way to automatically include it in glob searches. For example, `eslint "foo/*.js"` will include `foo/.bar.js` if there is an entry like `!foo/.bar.js` in `.eslintignore`/`ignorePatterns`. With flat config, including `foo/.bar.js` wou

[2022-09-12 13:49] mdjermanovic opened #16299 "Bug: [new config system] path to a directory can still lint files outside that directory"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.1 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

Folder structure:

[code]

Config file:

[code]

Content of `.md` files is not important.

Command:

[code]

### What did you expect to happen?

[code]

[2022-09-12 14:12] DevilsAutumn commented on #16275
I think its looking for files with extension ```.mjs``` and ```.cjs``` in all the  directories inside eslint codebase,  for the unit tests  the globbyPatterns array is ```[ '**/*.js', '**/*.mjs', '**/*.cjs', 'tools/*.js', 'tests/**/*.js' ]```  and for  ```'**/*.mjs'``` and ```'**/*.cjs'``` we are not specifying directory path hence globby is returning empty array which means no related filepath is

[2022-09-12 19:44] nzakas commented on #16275
Thanks for taking a stab at this. It’s pretty complex logic so it’s easy to get lost in there. Definitely not a gentle landing spot for a new contributor.

@mdjermanovic is correct: we don’t want every glob pattern to throw if there’s not a match. This particular issue points out that an explicit glob pattern passed on the command line that has no match should throw an error.

I think we should ha

[2022-09-12 19:49] nzakas commented on #16265
I believe this is true, but I’m still wary of glob patterns behaving different when they are shell expanded vs when they are not. It seems that the best path forward is to try and mimic eslintrc behavior as closely as possible?

[2022-09-13 07:48] mdjermanovic opened #16300 "Bug: [new config system] `ignores` should be relative to `configs.basePath`"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.1 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

Folder structure:

[code]

Config file:

[code]

Command:

[code]

### What did you expect to happen?

I would expect that `cd foo && npx eslint "**/*.j

[2022-09-13 09:26] mdjermanovic commented on #16281
As I understand it, this behavior is intentional (https://github.com/eslint/eslint/pull/7266) and the rule works as intended (i.e., this is not a bug). Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we're not adding new options to the `indent` rule. You can always copy the existing rule into a custom rule and make it behave the way

[2022-09-13 09:26] #16281 closed

[2022-09-13 09:33] mdjermanovic commented on #16216
No response so closing, and this is most likely not a problem in ESLint.

[2022-09-13 09:33] #16216 closed

[2022-09-13 10:38] mdjermanovic commented on #16295
Hi @drazisil, thanks for the issue!

Is this a common practice? If that is a directory that shouldn't be linted, then you could tell ESLint to ignore it by configuring [ignorePatterns](https://eslint.org/docs/latest/user-guide/configuring/ignoring-code#ignorepatterns-in-config-files) or [.eslintignore](https://eslint.org/docs/latest/user-guide/configuring/ignoring-code#the-eslintignore-file), or b

[2022-09-13 10:42] drazisil commented on #16295
I don't know if this is a common practice. Why does ESLint expect that a file not found is a normal error that should not be reported? I assumed that adding to it would be preferable to removing the code that eats the file not found error.

[2022-09-13 11:06] mdjermanovic commented on #16230
Hi @flq! Thanks for the issue and sorry for the lack of response.

By this info, it seems that you're getting the `react/jsx-no-target-blank` error on line 30 (`</a>`), while the disable comment applies to line 28 (`<a className=...`). Could you provide a repro repo? Otherwise, it would be very difficult to figure out what is exactly causing this problem (it could be the rule, parser, or some prep

[2022-09-13 11:49] BrianIto commented on #15802
To add more to this specific topic, **I was having this problem with every React Native Built-In Component** (like View, ScrollView, TouchableOpacity, etc.);

- Updating to matching types versions didn't worked;
- Removing the explicit ``@types`` for ``react, react-native, react-dom`` also didn't worked;

for me what solved was @GtechHardik below suggestion:

https://github.com/eslint/eslint/issue

[2022-09-13 13:12] mdjermanovic commented on #16282
Hi @c-harding, thanks for the issue!

This was discussed in [PR #14963](https://github.com/eslint/eslint/pull/14963) which introduced the [`ignoreOnInitialization`](https://eslint.org/docs/latest/rules/no-shadow#ignoreoninitialization) option. The logic for this option is based on the assumption that a callback function might be called immediately and therefore shadowing occurs before the outer va

[2022-09-13 13:44] mdnorman commented on #16250
This is still happening with the latest version, `8.23.1`. I believe it was supposed to be fixed, is that correct?

BTW, the workaround to revert the version is somewhat painful when you have several repos and Renovate running on them.

[2022-09-13 18:07] zloirock opened #16302 "[new config system] Performance issue"
### Environment

Node version: 18.8.0
npm version: 8.19.1 (local and 8.18.0 global)
Local ESLint version: 8.23.1
Global ESLint version: -
Operating System:  macOS 12.6
CPU: M1

### What parser are you using?

Default (Espree) + `jsonc-eslint-parser`

### What did you do?

I'm trying to migrate to the flat config.
Old config: https://github.com/zloirock/core-js/blob/master/.eslintrc.js
New config:

[2022-09-13 18:46] zloirock commented on #16302
Timing with old-style config:
[code]
Timing with new-style config:
[code]
However, it's not 5x difference.

[2022-09-13 23:27] mdjermanovic commented on #16302
@zloirock thanks for the issue!

I can reproduce a significant difference in performance on my computer. With [`.eslintrc.js`](https://github.com/zloirock/core-js/blob/master/.eslintrc.js) running eslint takes ~1.5 min, while with [`eslint.config.js`](https://github.com/zloirock/core-js/blob/eslint-flat/eslint.config.js) it takes ~5 min on the same branch ([`eslint-flat`](https://github.com/zloiro

[2022-09-14 01:50] btmills commented on #16261
I see no regressions reported, so closing this! We can resume merging semver-minor changes.

[2022-09-14 01:50] #16261 closed

[2022-09-14 01:50] eslint-github-bot[bot] opened #16303 "Scheduled release for September 23rd, 2022"
The next scheduled release will occur on Friday, September 23rd, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with

[2022-09-14 02:15] jzinn opened #16304 "Bug: flat config with "eslint:all" on a .cjs file recommends function form of "use strict" instead of global form"
### Environment

Node version: `v16.14.0`
npm version: `8.3.1`
Local ESLint version: `v8.23.1`
Global ESLint version: `zsh: command not found: eslint`
Operating System: `Fedora release 36 (Thirty Six)`

### What parser are you using?

Default (Espree)

### What did you do?

## package.json

Notice `type` is `module`.

[code]

## eslint.config.js

Using the new flat config file format.  The default

[2022-09-14 02:53] jzinn commented on #16304
The docs for `strict` mention two ways to make "safe" equal "global".

The first is to set the environment to `node` or `commonjs`.  I'm not sure how to do this with the new flat configuration files.

The second is to set `globalReturn` like this:
[code]

Setting `globalReturn` works, so I guess this issue is invalid.

It would be nice if this were a little easier to set up like by specifying the

[2022-09-14 03:54] AnnAngela opened #16305 "Bug: The `Reflect.getOwnPropertyNames` still doesn't exist"
### Environment

Node version: v16.17.0
npm version: v8.18.0
Local ESLint version: v8.23.0 (Currently used)
Global ESLint version: v8.23.0
Operating System: linux 5.4.0-1089-azure

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

Code:

[code]

### What did you expect to happen?

Due to the function `Reflect.getO

[2022-09-14 08:36] jjangga0214 opened #16310 "docs: Add configs from plugin usage for the new config system."
### What problem do you want to solve?

In the new config system, the specification of plugin is different.

For example, a property `configs` does not have any effect.

How plugin works in the new config system should be described in the docs.

### What do you think is the correct solution?

A new page should be introduced, like [this page](https://eslint.org/docs/latest/user-guide/configuring/co

[2022-09-14 08:45] btmills commented on #16265
In the 2022-09-08 TSC meeting, we discussed this and came to the conclusion that users likely expect glob patterns to exclude dot files by default because that's how eslintrc and shell expansions behave. We're intentionally deviating from the RFC so that glob patterns ignore dot files.

---

Speaking for myself now, if differences arise between eslintrc, flat config, and shells, I think it makes s

[2022-09-14 08:54] mdjermanovic commented on #16305
Hi @AnnAngela, thanks for the issue!

You're right, this looks like an oversight. But, this rule is [deprecated](https://eslint.org/docs/latest/rules/prefer-reflect) so we are not making any further changes to it.

To avoid this problem, you can add `"getOwnPropertyNames"` to [`exceptions`](https://eslint.org/docs/latest/rules/prefer-reflect#exceptions):

[code]

[Playground example](https://eslin

[2022-09-14 08:54] #16305 closed

[2022-09-14 09:31] AnnAngela commented on #16305
@mdjermanovic But at least I think it should be disclosed in documents. And if I make a PR about this, will it be able to be accepted?

[2022-09-14 10:35] jonny64 commented on #16038
let's say, I have following project structure:
[code]
how do I?
[code]

[2022-09-14 11:21] mdjermanovic commented on #16304
Hi @jzinn, thanks for the issue!

You're right, this is a bug.

The new config system works correctly in this case, as it automatically sets [`sourceType: "commonjs"`](https://github.com/eslint/eslint/blob/6ba269ed673f965d081287b769c12beeb5f98887/lib/config/default-config.js#L66) for `.cjs` files.

The problem is in the `strict` rule since its logic around CommonJS is based on `parserOptions.ecmaF

[2022-09-14 13:55] fasttime commented on #16038
@jonny64 The point here is how to specify files with two consecutive dots in their name, not files outside the current directory.

Your problem is different and seems pretty common. maybe ask in a forum or open a discussion?

[2022-09-14 16:31] mdjermanovic commented on #16264
The same applies to `--ignore-pattern` CLI option. Assuming that we want to keep this option, I think the patterns should have the same syntax and semantics as patterns in config `ignores: []`.  In other words, I think we shouldn't do [`.map(gitignoreToMinimatch)`](https://github.com/eslint/eslint/blob/6ba269ed673f965d081287b769c12beeb5f98887/lib/cli.js#L148) on these patterns.

Also the same for

[2022-09-14 19:51] nzakas commented on #16264
I agree. If we remove eslintignore then it makes sense for —ignore-pattern to use the same syntax as the config files.

That’s interesting. I think this comes from CLIEngine. The ESLint class is just a wrapper around CLIEngine, and it was difficult trying to reconcile the two files. I probably just copied it at some point and didn’t stop to verify.

https://github.com/eslint/eslint/blob/8cc0bbe440

[2022-09-15 10:13] mdjermanovic commented on #16302
This takes more than 2 minutes when linting [`eslint-flat`](https://github.com/zloirock/core-js/tree/00e94360baa038c59da967d0ac4771b580fb5b98):

https://github.com/eslint/eslint/blob/8cc0bbe440dc5e6af6ef02f00d0514a40ca07c24/lib/linter/linter.js#L1604-L1609

It's merging ~800 custom globals over ~70 builtin globals for each of ~7000 files.

To double-check, I ran this and it's indeed very slow:

[c

[2022-09-15 10:55] mdjermanovic commented on #16305
Yes, we can accept documentation updates for this rule. PR is welcome!

[2022-09-15 12:03] chenxsan opened #16312 "Change Request: Make table of contents sticky"
### ESLint version

N/A

### What problem do you want to solve?

I found it's sort of inconvenient to navigate on those long pages although there was a table of contents in the sidebar. You have to scroll back top to use the table of contents if you want to jump to another section on the page.

### What do you think is the correct solution?

It would be great if we can make the table of contents s

[2022-09-15 12:25] AnnAngela commented on #16305
@mdjermanovic can I directly remove the codes about `getOwnPropertyNames` in the rule file? so the rule will work fine and won't break peoples' work anymore.

[2022-09-15 12:51] harish-sethuraman commented on #16312
If we want to make it sticky it will anyways come below the AD that is placed above the TOC and we might anyways need to scroll to the bottom of the page when the TOC is too long?

[2022-09-15 12:54] kecrily commented on #16312
I think he means put the toc in the sidebar (like in his picture)

[2022-09-15 14:30] chenxsan commented on #16312
It's likely to happen when TOC is much higher than the viewport, but we can handle those cases with a scrollbar, e.g.:

![](https://user-images.githubusercontent.com/1091472/190430779-59f51dc1-dac0-4fb1-a52d-39c9e6b85b14.png)

[2022-09-15 15:52] sosukesuzuki opened #16313 "Rule Change: (`array-callback-return`) support `Array.prototype.findLast` and `Array.prototype.findLastIndex`"
### What rule do you want to change?

`array-callback-return`

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Ignores Stage 4 `Array.prototype.findLast` and `Array.prototype.findLastIndex`

### What will the rule do after it

[2022-09-15 17:15] ljharb commented on #16305
The appropriate Reflect method you should be using here is called `Reflect.ownKeys`.

[2022-09-15 21:39] mdjermanovic commented on #16313
Thanks for the issue! Marked as accepted.

Per our [semver policy](https://github.com/eslint/eslint#semantic-versioning-policy), this can be included in a minor release.

[2022-09-15 22:06] mdjermanovic commented on #16305
@AnnAngela per our [rule deprecation policy](https://eslint.org/docs/latest/user-guide/rule-deprecation), we're not making any changes to deprecated rules. In this case, we can make an exception to describe a workaround in the docs, but we're definitely not making any changes in the code.

@ljharb `Reflect.ownKeys` includes symbols, so it's not the same as `Object.getOwnPropertyNames `?

[2022-09-15 22:54] ljharb commented on #16305
@mdjermanovic that's a fair point, but it's just `Reflect.ownKeys(x).filter(x => typeof x === 'string')` ¯\\\_(ツ)_/¯

[2022-09-15 23:13] mdjermanovic commented on #16305
That would work, but this rule wasn't intended to suggest replacements of such complexity, so I think it's fine to add a note in the docs that `Object.getOwnPropertyNames` was added by mistake.

[2022-09-16 00:10] sosukesuzuki opened #16316 "Bug: `id-length` doesn't throw error for characters consisting of two code units"
### Environment

Node version: v16.14.2
npm version: v8.5.0
Local ESLint version: v8.23.1 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[ESLint Playground](https://eslint.org/play/#eyJ0ZXh0IjoiLyplc2xpbnQgaWQtbGVuZ3RoOiBcImVycm9

[2022-09-16 00:25] mdjermanovic commented on #16316
Thanks for the issue!

This looks like a bug to me, but I'd like more opinions from other team members before accepting this issue.

I think we should either count code points instead of code units, or use [`grapheme-splitter`](https://github.com/eslint/eslint/blob/8cc0bbe440dc5e6af6ef02f00d0514a40ca07c24/package.json#L80) here.

[2022-09-16 00:42] AnnAngela commented on #16305
@mdjermanovic OK, I will make a PR to change the documents only.

[2022-09-16 08:42] sosukesuzuki opened #16318 "New Rule: `no-empty-static-block`"
### Rule details

Restricts empty static blocks

### Related ECMAScript feature

https://github.com/tc39/proposal-class-static-block

### What type of rule is this?

Enforces a formatting/stylistic preference

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Static blocks is a core feature of ECMAScript

### Participation

- [X] I am willing to submit a pull

[2022-09-16 09:52] mdjermanovic commented on #16318
I support this :+1:

[2022-09-16 12:01] mdjermanovic commented on #16264
@nzakas I could take this if you haven't already started working on it.

[2022-09-16 14:24] #16313 closed

[2022-09-16 17:29] captbaritone commented on #16227
@nzakas Is there a timeline on the mini playground? Is the plan to use that for the code examples in the rules docs? If the mini playground would replace this solution in the near-ish future, it might not be worth the effort of building this static version.

[2022-09-16 17:47] #13689 closed

[2022-09-16 21:49] #16304 closed

[2022-09-16 23:52] B2o5T commented on #16318
@mdjermanovic what about current policies regarding stylistic rules of ESLint? why to give an exception to this rule?

[2022-09-17 02:01] sacummings91 opened #16320 "eslint linting submodule node_modules no matter what ignore pattern I use"
### Environment

Node version: 16.13.2
npm version: 8.1.2
Local ESLint version: 8.23.1
Global ESLint version: 8.23.1
Operating System: macOS Catalina 10.15.7

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]
I have tried many flavors of these in  .eslintrc.js and .eslintignore and none of them see

[2022-09-17 02:40] sacummings91 commented on #16320
Ok I managed to narrow this down to a typescript upgrade causing the issue. Upgrading from `4.7.4` -> `4.8.3` causes this issue. Running `eslint 'src/**/*.{ts,tsx}'`

[2022-09-17 03:55] snitin315 commented on #16316
Yes, Definitely a bug!

+1 for using [grapheme-splitter](https://github.com/eslint/eslint/blob/8cc0bbe440dc5e6af6ef02f00d0514a40ca07c24/package.json#L80).

[2022-09-17 04:06] snitin315 commented on #16221
This [works as intended](https://eslint.org/docs/latest/rules/id-denylist#rule-details). Since this is 3rd party API it makes sense to disable it for this particular instance.

[code]

[2022-09-17 04:06] #16221 closed

[2022-09-17 07:17] sosukesuzuki opened #16322 "New Rule: `no-new-bigint`"
### Rule details

Restricts calling `BigInt` with `new` like [`no-new-symbol`](https://eslint.org/docs/latest/rules/no-new-symbol)

### Related ECMAScript feature

[BigInt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/BigInt)

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instea

[2022-09-17 09:44] sosukesuzuki opened #16323 "New Rule: `no-literal-error-cause`"
### Rule details

Restricts to use literals as `cause` of `Error` like [`no-throw-literal`](https://eslint.org/docs/latest/rules/no-throw-literal).
[`Error.prototype.cause`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Error/cause) can contain any value, but for the purpose of the feature it is better to contain only Error. TypeScript doesn't solve this problem

[2022-09-17 12:33] #16290 closed

[2022-09-17 12:37] mdjermanovic commented on #16318
@B2o5T we can accept rules related to new ECMAScript features that reached stage 4 in the preceding 12 months.

[2022-09-17 12:52] mdjermanovic commented on #16298
By the thumbs-up on my comment, it seems the team is in agreement not to accept this rule.

[2022-09-17 12:52] #16298 closed

[2022-09-17 12:57] jez9999 commented on #16298
Do you know of a plugin that does have this rule?

[2022-09-18 08:40] sosukesuzuki opened #16326 "Rule Change: `no-useless-computed-key` should support ES2022 class fields"
### What rule do you want to change?

`no-useless-computed-key` should support ES2022 class fields

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Doesn't report any errors for computed keys with class fields.

### What will

[2022-09-18 10:15] snitin315 commented on #16318
I'm 👍🏻 for supporting this rule as well.

[2022-09-18 13:20] harish-sethuraman commented on #16312
That would mean we will have one scroll for the content and one scroll for TOC as well?

[2022-09-18 14:25] kkmuffme opened #16327 "Rule Change: no-implicit-globals should not report exported"
### What rule do you want to change?

no-implicit-globals

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

When using with lexicalBindings `/*eslint no-implicit-globals: ["error", {"lexicalBindings": true}]*/` it gives an erro

[2022-09-18 14:29] kkmuffme opened #16328 "Rule Change: no-implicit-globals lexicalBindings without functions"
### What rule do you want to change?

no-implicit-globals

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

When using with lexicalBindings `/*eslint no-implicit-globals: ["error", {"lexicalBindings": true}]*/` it gives an error

### Wha

[2022-09-18 15:14] drazisil commented on #16295
@mdjermanovic Do you have additional feedback, or is https://github.com/eslint/eslint/pull/16296 blocked on me in some way?

[2022-09-19 00:09] chenxsan commented on #16312
Right.

[2022-09-19 07:12] Jason3S commented on #16143
@nzakas,

Thank you. I'll file an RFC.

[2022-09-19 07:30] #16326 closed

[2022-09-19 07:41] mdjermanovic commented on #16320
Hi @sacummings91, thanks for the issue!

Can you provide the exact output you're getting when you run eslint?

[2022-09-19 08:43] sosukesuzuki commented on #16326
Ah thank you, sorry I didn't know.

[2022-09-19 08:55] mdjermanovic commented on #16328
The `lexicalBindings` option doesn't relate to functions. This rule checks and reports functions by default, regardless of this option, here's an example in [eslint playground](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLWltcGxpY2l0LWdsb2JhbHM6IFwiZXJyb3JcIiAqL1xuXG4vKipcbiAqIEByZXR1cm5zIHtpbnR9XG4gKi9cbmZ1bmN0aW9uIHRlc3RGdW5jKCkge1xuICAgIFwidXNlIHN0cmljdFwiO1xuXG4gICAgcmV0dXJuIDEgKyAyO1

[2022-09-19 08:56] #16328 closed, assigned to nobody

[2022-09-19 09:22] mdjermanovic commented on #16327
Makes sense to me :+1:

I think the main purpose of this rule is to prevent accidental creation of global variables. Declaring `/* exported testFunc */` indicates the intention to create a global `testFunc`, and is an alternative to the style `window.testFunc = function (){}` that this rule currently enforces.

[2022-09-19 13:55] flq commented on #16230
Yeah...we did actually try to reproduce but this isn't happening on a small repro. I know this is wholly unsatisfactory (imagine how it feels for us, considering you don't find a problem like that on google), but we were hoping for any pointers into which direction we could investigate.

E.g. (fully speculative):
* the code linting works (we get warnings and all)
* config works
* disabling based o

[2022-09-19 14:47] jonny64 commented on #16038
started a [discussion](https://github.com/eslint/eslint/discussions/16329).

[2022-09-19 16:26] sacummings91 commented on #16320
Sure thing, it looks like this. It seems to have a problem with their types:
[code]

[2022-09-19 18:00] nzakas commented on #16227
The mini playground will happen after the new config system is finalized and shipped, so no strict timeline but likely won’t be until next year.

[2022-09-19 18:59] mdjermanovic commented on #16295
I'm not sure if `EACCES ` errors should be ignored, and how we would implement that in the new FlatESLint class, which will replace the current ESLint class and FileEnumerator at some point. A solution could be to add an option to ignore all fs errors, which would translate to globby's [`suppressErrors`](https://github.com/mrmlnc/fast-glob#suppresserrors).

@eslint/eslint-tsc thoughts about this?

[2022-09-19 19:39] mdjermanovic commented on #16320
Thanks for the info!

Is this the complete output? This looks like an error coming from running `tsc`, not `eslint`.

[2022-09-19 21:16] mdjermanovic commented on #16230
It could be that the comments are stripped, but it looks more like the lines are different so the error is reported on a line that is not next to the `// eslint-disable-next-line react/jsx-no-target-blank` comment. Could you run ESLint with [json formatter](https://eslint.org/docs/latest/user-guide/formatters/#json) (`-f json`) and find the `"source"` key in the output for that file? The value sho

[2022-09-20 04:03] Woodz opened #16330 "New Rule: no-async-in-foreach"
### Rule details

Warn about using `async` within Array.forEach

### Related ECMAScript feature

ECMAScript 2017 - await/async

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

It is dangerous to use async inside `forEach` because the promises side-effects will not be evaluated before the `forEa

[2022-09-20 07:01] flq commented on #16230
Okay, when I do that for the component in question, I get the following

[code]

So if you expected the comment to be there, it isn't.

[2022-09-20 10:04] sosukesuzuki opened #16332 "New Rule: `no-string-module-specifier`"
### Rule details

Restricts module specifiers written as string literals

### Related ECMAScript feature

[Arbitrary module namespace identifier names](https://github.com/tc39/ecma262/pull/2154)

### What type of rule is this?

Enforces a formatting/stylistic preference

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

ES2022 allows arbitrary strings to be us

[2022-09-20 19:05] besfahbod opened #16334 "Rule Change: Allow-list/-regex for no-underscore-dangle"
### What rule do you want to change?

no-underscore-dangle

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Raise warning/error on the `.__id` usage.

### What will the rule do after it's changed?

Won't raise warning/error on using `

[2022-09-20 19:07] kamilio commented on #16334
This would be such a useful feature!

[2022-09-20 19:25] mdjermanovic commented on #16334
Hi @besfahbod, thanks for the issue!

This option already exists: https://eslint.org/docs/latest/rules/no-underscore-dangle#allow

Here's a [playground example](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IFwibm8tdW5kZXJzY29yZS1kYW5nbGVcIjogW1wiZXJyb3JcIiwgeyBcImFsbG93XCI6IFtcIl9faWRcIl0gfV0gKi9cblxubXV0YXRlKHtcbiAgbXV0YXRpb246XG4gICAgc29tZU11dGF0aW9uLFxuICB2YXJpYWJsZXM6IHtcbiAgICAvLyBzb21lIH

[2022-09-20 19:25] #16334 closed

[2022-09-20 19:50] besfahbod commented on #16334
Thanks, @mdjermanovic, for the quick response! Oops! Looks like I misunderstood the `allow` option from the docs. Great to see it's already available!

[2022-09-20 20:33] mdjermanovic commented on #16230
Can you check if you are running ESLint with [`--no-inline-config`](https://eslint.org/docs/latest/user-guide/command-line-interface#--no-inline-config) flag? Or, in the case that your setup runs ESLint through [API](https://eslint.org/docs/latest/developer-guide/nodejs-api#-new-eslintoptions), check if you have `allowInlineConfig: false` somewhere in your configurations (perhaps in the `craco` co

[2022-09-20 22:37] #16086 closed

[2022-09-21 17:52] nzakas commented on #16318
Is there a reason this needs to be a new rule instead of updating no-empty to include static blocks? I just don’t want to get into a situation where we keep adding new separate rules for each kind of block statement that gets introduced.

[2022-09-21 17:57] nzakas commented on #16322
Maybe it would be better to update no-new-wrappers to include bigint?

https://eslint.org/docs/latest/rules/no-new-wrappers

[2022-09-21 18:01] nzakas commented on #16330
Thanks for the suggestion. This is a bit too narrow for the core. The problem is that most array methods that expect callbacks will produce unexpected results when the callback is an async function, so there’s not a good reason to single out forEach().

We generally don’t like to add rules to the core that essentially type-check parameters for various methods. It’s a lot of work and it’s also pron

[2022-09-21 18:01] #16330 closed

[2022-09-21 18:03] nzakas commented on #16327
Makes sense to me. Should this be a bug rather than an enhancement?

[2022-09-21 18:37] nzakas commented on #16264
@mdjermanovic go for it!

[2022-09-21 18:54] nzakas commented on #16302
There is a [caching mechanism](https://github.com/humanwhocodes/config-array/blob/acea9b235dc32657bcb864cca487f4e12e3c85b2/src/config-array.js#L604-L608) built into ConfigArray#getConfig. It's cached based on the filename. I don't completely understand the eslintrc caching mechanism, but it looks like it's caching the indices of the elements in the array that match so that it can avoid doing a lot

[2022-09-21 19:28] Keyacom opened #16338 "Bug: ESLint via npm exec requires elevation, but shouldn't (Win11 21H2)"
### Environment

Node version: v18.9.0
npm version: v8.19.2
Local ESLint version: v8.23.1 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.22000

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

[code]
This was the actual problem with the f

[2022-09-21 20:53] nzakas commented on #16302
I've just posted https://github.com/eslint/eslint/pull/16339 with a new version of config-array. @zloirock can you try this PR with your project to see if it makes any difference? (I'm not seeing a difference in our perf tests but some real world data would be helpful.)

[2022-09-21 21:07] zloirock commented on #16302
With fixes from above, it takes about 36 seconds.

[2022-09-21 21:36] mdjermanovic commented on #16318
This was discussed in https://github.com/eslint/eslint/issues/15016 where the question was whether this belongs to `no-empty` or `no-empty-functions`, and the conclusion was that if we want to warn about empty static blocks then that should be a new rule.

[2022-09-21 22:27] mdjermanovic commented on #16322
A difference is that `new String(foo)`, `new Number(foo)` and `new Boolean(foo)` create wrapper objects, which `no-new-wrappers` rule intends to disallow, whereas `new BigInt(foo)` always throws `TypeError: BigInt is not a constructor`. If we follow the precedent of `no-new-symbol`, this looks more like a case for a new rule.

[2022-09-22 06:30] fisker opened #16340 "Bug: [new config system] Unexpected glob behavior in `FlatESLint`"
### Environment

Node version: 18.8.0
npm version:  N/A
Local ESLint version: 8.23.1
Global ESLint version: A/A
Operating System: Windows

### What parser are you using?

Default (Espree)

### What did you do?

Run `FlatESLint` with different cwd on same file.

### What did you expect to happen?

Should result the same.

### What actually happened?

They result differently.

### Participation

- [

[2022-09-22 11:36] Keyacom commented on #16338
The title does mention `npm exec`, but this is in `npx` as well. The reason I mentioned the former one is because the npm/npx repo is archived, since npx is now part of npm/cli.

[2022-09-22 13:09] mdjermanovic commented on #16302
With the performance fixes, I'm getting 89 seconds with `eslint.config.js`, 90 seconds with `.eslintrc.js`.

[2022-09-22 17:34] mdjermanovic commented on #16340
Only `test/integration/fixtures/vscode` cwd loads `test/integration/fixtures/vscode/.eslintignore`. That works as intended.

However, the patterns in that file should not ignore the `src/bootstrap-amd.js` file, but they do. In particular, it's ignored by [`**/fixtures/**`](https://github.com/fisker/flat-eslint-cmd-bug-repo/blob/b5d83269d9e6afe90d28169e8f0ac9acf4caff09/test/integration/fixtures/vsc

[2022-09-22 17:51] mdjermanovic commented on #16340
I'm getting the same behavior with the latest globby v13.1.2:

[code]

Is this the intended behavior?

[2022-09-22 17:53] fisker commented on #16340
No wonder I can't reproduce when trying to make the reproduction smaller. (Took me a while to setup)

[2022-09-22 18:04] mdjermanovic commented on #16340
Inside, `cwd` ends with `/globby-test-ignore`.

I would expect that `**/globby-test-ignore/**` ignores `/my/absolute/path/to/globby-test-ignore/**/globby-test-ignore/**`, but it effectively ignores `/my/absolute/path/to/globby-test-ignore/**`

[2022-09-22 18:09] fisker commented on #16340
Sounds like a bug to me.  But seems absolute ignore is expected? https://github.com/mrmlnc/fast-glob/issues/113

[2022-09-22 18:39] mdjermanovic commented on #16340
I can reproduce this behavior with `ignores` in our [`eslint.config.js`](https://github.com/eslint/eslint/blob/main/eslint.config.js).

[code]

(my local clone is in a directory named `eslint`).

[code]

[code]

[2022-09-22 19:53] nzakas commented on #16302
🎉 Awesome!

[2022-09-22 20:00] nzakas commented on #16322
Ah gotcha, read things a bit too fast.

We have said in the past that we didn’t want to add new rules that simply disallowed some syntax. I’m not sure it’s valuable to start going down the path of creating a new rule for each function that looks like a constructor.

[2022-09-22 20:31] nzakas commented on #16300
I actually also saw this when I was digging around trying to fix some other globbing issues. :+1:

[2022-09-22 20:40] nzakas commented on #16332
Thanks for the suggestion. Even though this is new syntax, we aren't adding new rules that just disallow some syntax. If this is important to you, you can still create a custom rule to enforce this stylistic preference. You can also use `no-restricted-syntax` to just disallow what you'd like.

[2022-09-22 20:40] #16332 closed

[2022-09-22 20:42] nzakas commented on #16338
This doesn't seem like it's ESLint-specific. Are you able to run other Node.js-powered command line utilities like Prettier?

[2022-09-22 20:46] nzakas commented on #16323
Thanks for the suggestion. This is actually more of a type-checking rule, which don't do for core rules. You can definitely create a custom rule if this is important to you.

[2022-09-22 20:46] #16323 closed

[2022-09-22 21:51] Keyacom commented on #16338
I will check this tomorrow after school.

[2022-09-22 23:30] #16302 closed

[2022-09-23 09:35] sosukesuzuki commented on #16327
Can I work on this?

[2022-09-23 10:42] mdjermanovic opened #16341 "Bug: [new config system] `baseConfig` option is unused in `FlatESLint`"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.23.1 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

To log a lint message for `id-denylist`.

### What actually happened?

Logs `[]`

### Participation

- [ ] I

[2022-09-23 14:32] Keyacom commented on #16338
As it turns out, this is not explicitly a problem with ESLint, but with npm exec.

[2022-09-23 16:50] drazisil commented on #16295
bump. Would like this discussion to not be marked state, and I forget what the cutoff is for the bot.

[2022-09-23 20:12] nzakas commented on #16338
Great, thanks for confirming. Closing as this is not related to ESLint directly.

[2022-09-23 20:12] #16338 closed

[2022-09-23 23:53] mdjermanovic commented on #16303
ESLint v8.24.0 has been released:

https://eslint.org/blog/2022/09/eslint-v8.24.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-09-24 03:26] MariaSolOs opened #16345 "Change Request: Define a `browser` entry point"
### ESLint version

8.24.0

### What problem do you want to solve?

In order to support [VS Code ESLint](https://github.com/microsoft/vscode-eslint) in the [browser](https://code.visualstudio.com/api/extension-guides/web-extensions) it would be great for ESLint to provide a [`browser` entry point](https://docs.npmjs.com/cli/v8/configuring-npm/package-json#browser) in `package.json`.

### What do y

[2022-09-24 15:01] mdjermanovic commented on #16327
I think this was an oversight in the design because the `/* exported */` comments feature already existed when this rule was created. Currently allowed way is to add a `/* global testFunc: writable */` comment (here's a [playground example](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLWltcGxpY2l0LWdsb2JhbHM6IFtcImVycm9yXCJdICovXG5cbi8qIGdsb2JhbCB0ZXN0RnVuYzogd3JpdGFibGUgKi9cblxuZnVuY3Rpb2

[2022-09-24 16:36] mdjermanovic commented on #16322
I agree. If we want to warn on `new BigInt`, then it might be better to add a rule that would warn on all globals that start with an uppercase letter but are not constructors (except those that are not functions, because they are included in [`no-obj-calls`](https://eslint.org/docs/latest/rules/no-obj-calls)). It would include `new Symbol`, so the `no-new-symbol` rule would be deprecated.

[2022-09-24 17:25] mdjermanovic commented on #16264
One question before removing `ignorePatterns` FlatESLint constructor option: was it maybe added to handle `--ignore-pattern` CLI option, as [this comment](https://github.com/eslint/eslint/blob/6ba269ed673f965d081287b769c12beeb5f98887/lib/eslint/flat-eslint.js#L384) implies?

I believe that patterns coming from `--ignore-pattern` should be relative to `cwd`. Currently, they're [copied into `overrid

[2022-09-25 22:43] TomerAberbach opened #16349 "Change Request: Allow manually opting into flat config without an `eslint.config.js`"
### ESLint version

v8.24.0

### What problem do you want to solve?

Right now you have to create an `eslint.config.js` file to use flat config. It would be nice if flat configs could be passed on the command line using the `-c` or `--config` argument. The [docs](https://eslint.org/docs/latest/user-guide/configuring/configuration-files-new#configuration-file-resolution) currently make it sound lik

[2022-09-26 02:22] TomerAberbach commented on #16349
I realized the CLI options are differentiated based on whether flat config is being used so maybe this could be configured by an environment variable instead

[2022-09-26 20:52] nzakas commented on #16264
Yes, that was the intent. But it looks like in eslintrc [this option was removed](https://github.com/eslint/eslint/blob/main/lib/eslint/eslint.js#L190-L192) rather than handled separately, which is why I think things got weird when I was trying to get flat config in. We should be mirroring what eslintrc did.

Agreed.

There is a distinction here: `baseConfig` (the default ESLint config) contains o

[2022-09-26 21:01] nzakas commented on #16345
I'm sorry, we don't officially support a version of ESLint to run in the browser. The API was not designed with the browser in mind and going back to do that work would be a major undertaking. You can Webpack/Rollup the `Linter` class and that will work in the browser.

[2022-09-26 21:01] #16345 closed

[2022-09-26 21:08] nzakas commented on #16341
I'm wondering if we actually need `baseConfig` for anything? It's unclear to me what the intended use case is.

[2022-09-26 21:11] nzakas commented on #16349
Thanks for the feedback. The docs are confusing -- they were written with the end state of flat config in mind.

I'm not opposed to adding an environment variable (it was discussed before). Let's see what the rest of the team thinks.

[2022-09-26 21:30] mdjermanovic commented on #16341
The use case is to provide a way for integrations to set default config: https://github.com/eslint/eslint/issues/2143 (issue wasn't marked as accepted, but PR https://github.com/eslint/eslint/pull/2197 was merged). In the config array, `baseConfig` is inserted before configs from config files, so user configs can override it, as opposed to `overrideConfig` which is inserted at the end and therefor

[2022-09-26 21:54] mdjermanovic commented on #16264
By `baseConfig` I mean the constructor option (https://github.com/eslint/eslint/issues/16341)

I _think_ the expected behavior would be that patterns in `overrideConfig` (and `baseConfig` constructor option if we decide to keep that option) are relative to `cwd`, as that's a known location for the consumer at the time constructor is called, unlike `basePath` (the location of `eslint.config.js`) wh

[2022-09-26 22:53] mdjermanovic commented on #16303
There were no regressions reported, so this concludes the v8.24.0 release. Please feel free to merge semver-minor PRs again.

[2022-09-26 22:53] #16303 closed

[2022-09-26 22:53] eslint-github-bot[bot] opened #16351 "Scheduled release for October 7th, 2022"
The next scheduled release will occur on Friday, October 7th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a "

[2022-09-26 23:22] nzakas commented on #16322
I don’t feel like this type of error rises to the level of importance to be included in the core. At this point, with over 300 core rules, I’d like to be sure any new rule we add is “must-have.”

[2022-09-26 23:35] nzakas commented on #16264
After thinking about this a bit, assuming we keep `baseConfig`, I think it might actually make sense to keep using `basePath`. I believe the intent was to define a config that would be inserted before any config found in a file, so the result would be [ default config, base config, config file config, override config ]. Because the base config can only be defined via API, we can assume a certain l

[2022-09-27 11:34] mdjermanovic commented on #16322
I wouldn't mind replacing (deprecating) `no-new-symbol` with a rule that would work the same, just checking a list of variable names - `["Symbol", "BigInt"]` at this point - instead of just [`"Symbol"`](https://github.com/eslint/eslint/blob/f6d57fb657c2f4e8e0140ad057da34c935482972/lib/rules/no-new-symbol.js#L35). Maintenance would be basically the same, and it would be easy to add new confusing gl

[2022-09-27 12:20] mdjermanovic commented on #16349
I'm not opposed to adding an environment variable either.

Do we want it to also include an option to opt-out of flat config even if `eslint.config.js` is present?

* `ESLINT_USE_FLAT_CONFIG=true` - forces flat config mode regardless of the presence of `eslint.config.js` (`--config` would be loaded as a flat config file; it would error if there is no `eslint.config.js` and `--config` was not speci

[2022-09-27 14:28] nickph7 opened #16353 "Bug: ESLint with typescript plugin does not initialize correctly after going through @eslint/config"
### Environment

Node version: v14.19.0
npm version: 6.14.16
Local ESLint version: 8.24.0
Global ESLint version: None
Operating System: Ubuntu 20.04.5 LTS
Typescript version: 4.8.3 (installed globally)

### What parser are you using?

@typescript-eslint/parser

### What did you do?

After initializing eslint on an empty project with typescript option, eslint complains that @typescript-eslint decla

[2022-09-27 14:50] nickph7 commented on #16353
I found that global install of typescript is unsupported

[2022-09-27 14:50] #16353 closed

[2022-09-27 16:47] #16316 closed

[2022-09-27 21:28] mdjermanovic opened #16354 "Bug: [new config system] inconsistent behavior of ignores with a directory path"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: v8.24.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

Project structure:

[code]

[code]

Command 1:

[code]

Command 2:

[code]

Command 3:

[code]

### What did you expect to happen?

I would expect the s

[2022-09-28 09:45] drazisil commented on #16295
Can I get a comment from the TSC?

[2022-09-28 14:47] xploSEoF opened #16360 "Change Request: Indent chained function/property references with suitable setting"
### ESLint version

v8.24.0

### What problem do you want to solve?

Our company operates with a lot of chained promise logic, but these seem to be adding an extra layer of indentation that makes reading so much harder.

Unfortunately, there doesn't seem to be a setting in the indent rule set that should apply to this logic, with the closest current match in terms of existing indentation options b

[2022-09-28 15:02] Alexnortung opened #16361 "Bug: [no-magic-numbers] false positive, default values for class members are not ignored by ignoreDefaultValues"
### Environment

Node version: 16.16.0
npm version: 8.11.0
Local ESLint version: 8.24.0
Operating System: Linux

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

I expected that the initializer for the field for the class would not be a magic number.
However th

[2022-09-28 15:04] xploSEoF commented on #16360
Alternatively, I should spend longer reading the documentation. It would seem I missed this guy: [MemberExpression](https://eslint.org/docs/latest/rules/indent#memberexpression)

[2022-09-28 17:23] nzakas commented on #16295
@drazisil please be patient. We have over 100 issues and PRs to tend to so lower priority ones like this will be addressed once the higher priority ones are handled.

In general, I don’t like suppressing file system errors but I haven’t had the time to look closely at this yet.

[2022-09-28 17:28] zhatongning commented on #16361
`duration = 200` is an **PropertyDefinition** type 。And from [the source code of the migic number rule](https://github.com/eslint/eslint/blob/1cc4b3a8f82a7945dcd8c59550b6a906a0fabbb4/lib/rules/no-magic-numbers.js#L103), the option `ignoreDefaultValues` only works with `AssignmentPattern` which  you could find in Default function parameters ast.

[2022-09-28 19:22] sstchur opened #16363 "Bug: multiple replaceTextRange calls returned in an array do not work unless the order of ranges is totally ordered"
### Environment

Node version: 16.14.2
npm version: 8.5.0
Local ESLint version: 8.13.0
Global ESLint version: N/A
Operating System: Ubuntu

### What parser are you using?

@typescript-eslint/parser

### What did you do?

Full repro available at: https://github.com/sstchur/eslint-repro

Given the following code snippet in a rule test:
[code]

And the following (contrived) rule code:
[code]

The fix

[2022-09-28 19:24] nzakas commented on #16349
That seems like a good idea. It would certainly make compatibility testing a lot easier.

I like the proposal so marking as accepted.

@TomerAberbach would you like to submit a PR for this?

[2022-09-28 19:25] nzakas commented on #16322
I’m on board for that approach. 👍

[2022-09-28 19:28] drazisil commented on #16295
I'm sorry if I seemed impatient. I wasn't sure how the stale bot works. My apologies.

[2022-09-28 19:36] nzakas commented on #16341
Ah got it.

[2022-09-28 19:37] nzakas commented on #16327
Just to clarify: you’re saying this is an enhancement because the rule intentionally didn’t consider this behavior?

[2022-09-28 21:19] sstchur commented on #16363
Actually, a clarification:  It seems that the ranges don't have to be totally ordered within a single `context.report` call; it's just that all the ranges in one `context.report`, have to come before all the ranges in subsequent `context.report` calls.

In addition to the order I mentioned in the "Additional comments" section above, the following order would also work:

[code]

Note that in this c

[2022-09-28 22:23] TomerAberbach commented on #16349
Yup! See #16356 😃

[2022-09-29 02:46] sosukesuzuki commented on #16322
Thank you. What should we name it: `no-constructor-call`? `no-new-call`?

[2022-09-29 08:39] aliak00 opened #16364 "Bug: conflicting warnings - array-callback-return and no-unreachable with ts strictNullChecks turned on"
### Environment

Node version: v16.17.0
npm version: v8.15.0
Local ESLint version: Not found
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>
More or less default with create react app 4 I think. Except for:

[code]

</details>

[code]

### What did you expec

[2022-09-29 16:25] mdjermanovic commented on #16364
Hi @aliak00, thanks for the issue!

The core rule `array-callback-return` does not have type information to know that all possible values of `a` are covered in the switch statement. There's an accepted proposal for a new rule in `@typescript-eslint/eslint-plugin` that could be used instead of the core `array-callback-return`: https://github.com/typescript-eslint/typescript-eslint/issues/2841

[2022-09-29 16:25] #16364 closed

[2022-09-29 16:26] ljharb commented on #16364
Why not do
[code]
?

[2022-09-29 16:28] sstchur commented on #16363
UPDATE: I wonder if this is actually a RuleTester issue?  I started debugging through `report-translator.js`, specifically the function `mergeFixes`, and from what I can tell, both fixes get applied properly.  That had me wondering, so I created a fake project and enabled my fake rule in that project.  I allowed VSCode to squiggly underline the offending code, and I chose "Quick fix" -> "Fix this

[2022-09-29 16:38] #16361 closed

[2022-09-29 17:36] mdjermanovic commented on #16363
`--fix` runs up to 10 passes of autofixing, while RuleTester by design runs only one.

This works as intended because fixes with overlapping ranges cannot be applied in the same pass, and these two fixes do overlap.

When you call `context.report()`, ESLint translates provided object to a [LintMessage](https://eslint.org/docs/latest/developer-guide/nodejs-api#-lintmessage-type) object. `fix()` is

[2022-09-29 17:36] #16363 closed

[2022-09-29 18:07] sstchur commented on #16363
Thanks for the explanation!
I totally understand what you're saying about the RuleTester and ranges `[9,73]` and `[22,83]`, which do indeed overlap.  When I debugged the ESLint code, I saw this in action, so it makes perfect sense to me.  But my point is that the docs aren't clear about this.  They seem to imply that as long as a single call to `context.report` specifies non-overlapping fixes in t

[2022-09-29 18:39] nzakas commented on #16264
I've been looking more deeply into this, and here's what I think is the best path forward:

1. I think that `baseConfig` and `overrideConfig` should both be relative to the `basePath` in the config array. I think it would be too confusing to try to make both of those relative to `cwd`. Because these are both API options (`baseConfig` isn't used through the CLI at all), I think it's fair to just ex

[2022-09-29 18:44] nzakas commented on #16354
I've been investigating other options besides `globby` and there doesn't appear to be another option that supports everything we need.

I'm now looking at the easiest way to replace `globby` that doesn't require that much code added into ESLint.

[2022-09-29 19:26] mdjermanovic commented on #16322
Maybe something like `no-new-function` or `no-new-nonconstructor`?

[2022-09-29 19:55] mdjermanovic commented on #16264
:+1:

I'd guess that specifying files/ignores isn't a common use case for these configs, so it seems better to simplify this greatly by not adjusting paths.

:+1:

I assumed we might want to keep `ignorePatterns` for `--ignore-pattern`, so its removal was left out from https://github.com/eslint/eslint/pull/16355.

[2022-09-29 20:32] mdjermanovic commented on #16363
Yes, rules generally shouldn't be concerned about overlapping fixes. as `--fix` runs linting and fixing again.

[RulTester docs](https://eslint.org/docs/latest/developer-guide/nodejs-api#ruletester) do say that there is only a single pass:

but that `` e.g. with the `--fix` command line flag `` part is confusing because `--fix` is multi-pass. PR to clarify this is welcome!

[2022-09-29 20:44] sstchur commented on #16363
Sounds good. Thanks for your help and explanation.  I'll see if I can find some time to put together a simple PR to clarify this a little.

[2022-09-30 00:08] bpmutter opened #16365 "Documentation Update Project"
### ESLint version

v8.24.0

### What problem do you want to solve?

a

### What do you think is the correct solution?

b

### Participation

- [X] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-09-30 00:17] bpmutter commented on #16365
@nzakas looks like i cannot set the labels for the issue. could you remove the `core` label and add a `documentation` label, in addition to any others you think necessary?

[2022-09-30 00:36] bpmutter commented on #16310
@nzakas could you provide a bit more info on how to use configs that are bundled with the plugin in the new (flat) config?

then, i'll add the update to the docs

[2022-09-30 02:22] snitin315 commented on #13721
Marked as accepted since we have 3 👍🏻

[2022-09-30 09:11] DamienCassou opened #16367 "Rule Change: There should be a way to specify ignores for no-param-reassign"
### What rule do you want to change?

no-param-reassign

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Report that `spec` is reassigned.

### What will the rule do after it's changed?

With `{ignore: ["spec"]}`, the rule should stop

[2022-09-30 16:33] sosukesuzuki commented on #16322
I prefer `no-new-nonconstructor`.

[2022-09-30 16:42] mdjermanovic commented on #16367
Hi @DamienCassou, thanks for the issue!

Can you provide more details on the motivation for this option? In particular, why should parameter reassignment only be allowed for certain names in an entire codebase?

[2022-09-30 22:07] arturenault opened #16370 "Rule Change: prefer-destructuring should have better differentiation between single and multiple destructuring"
### What rule do you want to change?

prefer-destructuring

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Example 1 gets converted into the following:
[code]

Example 2 gets converted into the following:
[code]

### What will the rule

[2022-09-30 23:23] brunocrosier opened #16371 "New Rule: No invalid JSON args"
### Rule details

Ensure the arguments passed to `JSON.parse()` and `JSON.stringify()` are valid

### Related ECMAScript feature

JSON

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

If this were a plugin, there would be nothing to configure. The arguments and return values of `JSON.parse()` a

[2022-09-30 23:32] nzakas commented on #16365
@bpmutter all set. 👍

[2022-09-30 23:41] nzakas commented on #16310
In the old config system (eslintrc), you could define configs inside of plugins like this:

https://eslint.org/docs/latest/developer-guide/working-with-plugins

in the new config system (flat config), there is no longer an “extends” option. Instead, you can just reference the configs property directly and insert the object into the array. So include a plugin in your config file as described here:

[2022-10-01 02:05] MariaSolOs opened #16372 "Change Request: Add Visual Studio support to editor integrations"
### ESLint version

8.24.0

### What problem do you want to solve?

There's no mention of Visual Studio in the editor integrations page, despite the latest version of the IDE having a [new linting experience](https://learn.microsoft.com/en-us/visualstudio/javascript/linting-javascript?view=vs-2022).

### What do you think is the correct solution?

Add Visual Studio to this list, possibly linking t

[2022-10-01 06:47] MariaSolOs commented on #16345
@nzakas I understand. Thank you for indicating the workaround!

[2022-10-01 20:08] twohair commented on #15943
I think it should be fixed automatically before committing.

[2022-10-01 22:16] CreativeTechGuy opened #16373 "Bug: no-implicit-coercion errors when multiplied by fractions with numerator of 1"
### Environment

Node version: N/A
npm version: N/A
Local ESLint version: 8.24.0
Global ESLint version: N/A
Operating System: N/A

### What parser are you using?

Default (Espree)

### What did you do?

[ESLint Playground Demo](https://eslint.org/play/#eyJ0ZXh0IjoiY29uc29sZS5sb2coTWF0aC5QSSAqIDEvNCkiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3QiLCJzb3VyY2VUeXBlIjoic2NyaXB0Iiw

[2022-10-02 14:21] DamienCassou commented on #16367
Hi @mdjermanovic. Thank you for reading my issue and asking questions.

We have a lot of code looking like:

[code]

This kind of (old-fashioned) code comes from the book "JavaScript: The Good Parts" by [Douglas Crockford](https://en.wikipedia.org/wiki/Douglas_Crockford) (author of JSON).

Our code base has 423 problems detected by `no-param-reassign` including 168 with the variable `my` and 183 w

[2022-10-02 16:51] Rohitbels opened #16380 "Can autofix on save be opt in."
### ESLint version

8.24.0

### What problem do you want to solve?

- So by default if rule is fixable the rule is fixed if auto save fix is enabled.
- Can add a meta option to make the rule be fixed only if explicitly clicked on the quick fix pop up and not
auto save.
- The current workflow can remain with no change just we add a extra optional meta option like

`autoSaveFix: true // defaultValue

[2022-10-02 17:20] mdjermanovic commented on #16370
Hi @arturenault, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `prefer-destructuring` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-10-02 17:20] #16370 closed

[2022-10-02 17:33] mdjermanovic commented on #16371
Hi @brunocrosier, thanks for the issue!

I think that calling JSON methods with arguments that can be statically determined, such as `JSON.parse(<string literal>)`, is a rare use case for these methods, and that therefore this rule doesn't qualify for inclusion in the core. If this is a common use case in your codebase, you can always make a custom rule.

[2022-10-02 17:33] #16371 closed

[2022-10-02 18:32] mdjermanovic commented on #16373
Hi @CreativeTechGuy, thanks for the issue!

I think the rule works as intended because this is technically `(Math.PI * 1) / 4`.

You could add parentheses around the expression that should logically be an operand of `*` to make it become an actual operand of `*`. In the original example, the expression would be `Math.PI * (1/4)`. Here's a [playground demo](https://eslint.org/play/#eyJ0ZXh0IjoiY29u

[2022-10-02 19:02] CreativeTechGuy commented on #16373
Hi @mdjermanovic! Thanks for the reply. I know it can be worked around, but I've been running into this so often lately when doing math that it seemed like it could be improved. It seems like always a false positive since I cannot think of a case where the `* 1 /` pattern is used and the intent is to coerce the number rather than multiply by a fraction. I guess I'm saying it shouldn't hurt and can

[2022-10-03 00:14] btmills commented on #16295
FWIW, at least on macOS, reporting an error and returning a non-zero exit code on denied access appears to have precedent in both `ls` and `find`:

[code]

Given that, and assuming that pattern is mirrored by other tools, I'd lean against suppressing `EACCESS`. Either removing inaccessible resources from the tree or explicitly ignoring them would be my recommendation.

[2022-10-03 07:57] mdjermanovic commented on #16380
Hi @Rohitbels, thanks for the issue!

ESLint provides fixes but is not aware of the context in which the fixes are applied (on save, on the quick fix pop-up click, on the fix all pop-up click, etc.), and those contexts can be different in different environments so I don't think this should be an option in the ESLint configuration but rather in environment configurations.

For example, [VS Code ESL

[2022-10-03 08:15] mdjermanovic commented on #16373
That's a good point, as `/` coerces its operands to numbers anyway. I'm not opposed to adding this exception (by default, no option) and treating this as a bug fix, but let's hear from the rest of the team first.

[2022-10-03 09:58] mdjermanovic commented on #16327
Sorry for the confusion. Supporting `/* global testFunc: writable */` as a way to allow global `function testFunc` by using eslint directives may imply that the other directives such as `/* exported testFunc */` were considered and intentionally not supported, but it's hard to tell because `exported` was not explicitly mentioned anywhere in the original issue and the PR.

Either way, I think we ca

[2022-10-03 19:29] mdjermanovic commented on #16354
My assumption was based on the behavior of FlatConfigArray at the time. But I don't think there's a standard on how ignoring with minimatch patterns should work (especially if negative patterns are allowed), so I believe we can design it however we think it would be best. Resembling .gitignore-style where patterns match both directories and files, and there's a rule that all files under an ignored

[2022-10-03 19:53] nzakas commented on #16340
Can someone summarize what the problem is here? I've re-read this a couple of times and can't quite tell how to create a simple repro case.

[2022-10-03 21:35] nzakas commented on #16354
Yes, this was always the intent, but things got weird when using `globby`. It is much easier to make this work without `globby`.

[2022-10-03 23:18] bpmutter commented on #16310
if you could provide a full example, that'd be helpful. i'm still not fully grasping the difference here.

[2022-10-03 23:18] nzakas commented on #16327
Sounds good.

[2022-10-03 23:25] nzakas commented on #15943
I think there is a lot hidden complexity down this path. We will need to consider shareable configs closely in this, because if shareable configs turn in auto fixing for all rules, putting it on the consumer of a shareable config to set everything back to default will be a laborious task.

I’m willing to entertain an RFC to convince me otherwise but my initial opinion is that this granularity of c

[2022-10-03 23:37] nzakas commented on #16372
We don’t actively maintain that page and just leave it up so anyone can edit to it. Please feel free to submit a PR with the changes you’d like.

[2022-10-03 23:44] MariaSolOs commented on #16372
#16381 Ta-da!

[2022-10-04 00:16] bpmutter opened #16382 "Core Concepts documentation"
### ESLint version

latest

### What problem do you want to solve?

high-level overview content of the core concepts of ESLint. rules, plugins, etc.

### What do you think is the correct solution?

add a "Core Concepts" page to the user guide

### Participation

- [X] I am willing to submit a pull request for this change.

### Additional comments

_No response_

[2022-10-04 01:18] Rudxain opened #16383 "Bug: `switch` shows errors when `case`s are indented"
### Environment

Node version: v16.17.1
npm version: v8.19.2
Local ESLint version: v8.24.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.15.0-48-generic

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

No errors, no warnings

### What actu

[2022-10-04 11:16] 1muen commented on #16383
Its documented here:
https://eslint.org/docs/latest/rules/indent#switchcase So think you would have to set
[code]

**But I also think this should be the deafult.**

[This is reproducable in the playground](https://eslint.org/play/#eyJ0ZXh0IjoiLyplc2xpbnQgaW5kZW50OiBcImVycm9yXCIqL1xuc3dpdGNoICh0eXBlb2YgXykge1xuXHRjYXNlICd1bmRlZmluZWQnOiAvL3RvLWRvXG5cdGRlZmF1bHQ6IC8vdG8tZG9cbn0iLCJvcHRpb25zIjp7InBhc

[2022-10-04 14:28] 1muen opened #16385 "indentation on .catch"
### Environment

[eslint playground](https://eslint.org/play/#eyJ0ZXh0IjoiLyplc2xpbnQgaW5kZW50OiBcImVycm9yXCIqL1xuaWYgKHRydWUpIHtcbiAgICBzdG9yZShcIlwiLFxuICAgICAgICBcIlwiLFxuICAgICAgICBcImFcIikudGhlbigoKSA9PiB7XG4gICAgICAgICAgICBjb25zb2xlLmxvZyhcInRoZW5cIilcbiAgICAgICAgfSkuY2F0Y2goKGUpID0+IHtcbiAgICAgICAgICAgIGNvbnNvbGUubG9nKChlKS5tZXNzYWdlKTtcbiAgICAgICAgfSk7XG59XG5cbi8vIGVzbGludCBkb2VzIHRoaXM6XG

[2022-10-04 15:16] mdjermanovic commented on #16383
This works as intended because the default value for the `SwitchCase` option is `0`. You can set `"SwitchCase": 1` as described in @1muen's comment to get the desired indentation for `case` clauses. Here's a [playground demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyplc2xpbnQgaW5kZW50OiBbXCJlcnJvclwiLCBcInRhYlwiLCB7IFwiU3dpdGNoQ2FzZVwiOiAxIH1dKi9cbnN3aXRjaCAodHlwZW9mIF8pIHtcblx0Y2FzZSAndW5kZWZpbmVkJ

[2022-10-04 15:16] #16383 closed

[2022-10-04 15:28] #16372 closed

[2022-10-04 15:38] ziloen opened #16386 "Bug: rule `no-extra-parens` conflict with JSDoc type assertions `/**@type {}*/`"
### Environment

Node version: 18.10.0
npm version: 8.19.2
Local ESLint version: 8.24.0
Global ESLint version: 8.24.0
Operating System: Windows 10 Enterprise LTSC

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>
VS Code JSDoc type assertions  need to wrapp variables in parentheses

[code]

### What did y

[2022-10-04 16:58] Rudxain commented on #16383
Thank you all for the info. I'll add the setting to my config. And I also think it should probably be the default

[2022-10-04 17:02] mdjermanovic commented on #16340
Here's a simplified example:

[code]

[code]

Running `eslint "*.js"` in the directory `foo`. This is project's root dir,  where the `eslint.config.js` file is. `basePath` = `cwd` = `"/path/to/foo"`.

Path to the project dir and project dir's name shouldn't matter, so the expected result is to lint `eslint.config.js` file.

Actual result:

[code]

because ignore pattern `**/foo/**`  matches absolu

[2022-10-04 17:38] nzakas commented on #16340
Got it, thank you! Working on this now

[2022-10-04 18:23] nzakas commented on #16310
It would look like this:

[code]

[2022-10-04 18:24] #13721 closed

[2022-10-05 15:39] abitrolly opened #16387 "Bug: Can't install without prompts"
### Environment

Node version: v16.17.1
npm version: 8.15.0
Local ESLint version:
Global ESLint version:
Operating System: Ubuntu 22.04

### What parser are you using?

Default (Espree)

### What did you do?

I am trying to install ESLint with all defaults be running `npm init` with `--yes` option, but it doesn't work.

[code]

### What did you expect to happen?

All options are chosen by default.

[2022-10-05 21:39] bertie-wheen opened #16390 "Bug: Invisible close paren from stylish formatter"
### Environment

Node version: 16.13.2
npm version: 8.1.2
Local ESLint version: 8.24.0
Global ESLint version: -
Operating System: Windows 11 (64 bit)

### What parser are you using?

vue-eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

This is probably nothing to do with Vue, but:
1. Scaffold an app using `npm init vue@latest`. (This is probably nothing to do with V

[2022-10-06 00:57] drazisil commented on #16295
Fair. I have closed my PR. :)

[2022-10-06 05:20] adamreisnz opened #16391 "Rule Change: (fill in)"
### What rule do you want to change?

spaced-comment

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Currently, the rules enforces it either one way or the other, but you can't have a different rule for inline vs docblock.

### What wi

[2022-10-06 07:57] jonny64 opened #16392 "eslint in a multi repository project"
let's say, I have following project structure:

[code]
how do I?
[code]

+500 reputation if anwsered on https://stackoverflow.com/questions/73797616/run-eslint-in-multi-repository-project

_Originally posted by @jonny64 in https://github.com/eslint/eslint/discussions/16329_

[2022-10-06 09:26] mdjermanovic commented on #16391
Hi @adamreisnz, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `spaced-comment` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-10-06 09:26] #16391 closed

[2022-10-06 09:29] adamreisnz commented on #16391
Thanks, can you clarify why? The blurb you linked only explains the
outcome, but not the reason why. Thanks.

On Thu, Oct 6, 2022, 22:26 Milos Djermanovic ***@***.***>
wrote:

[2022-10-06 09:32] mdjermanovic commented on #16391
The reasons for this policy are explained in this blog post:

https://eslint.org/blog/2020/05/changes-to-rules-policies/

[2022-10-07 01:05] sosukesuzuki opened #16393 "Rule Change: `no-obj-calls` should support `Intl`?"
### What rule do you want to change?

`no-obj-calls`

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

No errors.

### What will the rule do after it's changed?

Error: `'Intl' is not a function`

### Participation

- [X] I am

[2022-10-07 05:27] btmills commented on #16295
Makes sense! Would you be interested in working on a PR to improve the error message instead (or at least investigating whether that's practical)?

[2022-10-07 10:23] mdjermanovic commented on #16351
Packages to release:

- [ ] @eslint/eslintrc v1.3.3
- [ ] eslint v8.25.0

[2022-10-07 12:04] #14881 closed

[2022-10-07 17:15] Prinzhorn opened #16396 "Rule Change: `no-useless-catch`: don't consider it useless if there's a `finally` clause"
### What rule do you want to change?

no-useless-catch

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

### What will the rule do after it's changed?

:heavy_check_mark:

### Participation

- [ ] I am willing to submit a pul

[2022-10-07 17:16] ljharb commented on #16396
You don't need the `catch` at all - this is valid code:
[code]
in other words, the rule is correct, this catch is useless, and you should remove it.

[2022-10-07 17:17] Prinzhorn commented on #16396
Well, I knew I was missing something. Thank you very much!

[2022-10-07 17:17] #16396 closed

[2022-10-07 23:00] mdjermanovic commented on #16351
ESLint v8.25.0 has been released:

https://eslint.org/blog/2022/10/eslint-v8.25.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-10-09 23:56] drazisil commented on #16295
I'll keep in in mind. I don't want to commit to a timeframe though, if someone else wants to get to it sooner. Could be a nice #hacktober project for someone :)

[2022-10-10 07:00] fasttime opened #16402 "Bug: `FlatESLint` `getRulesMetaForResults` fails on messages without a `ruleId`"
### Environment

Node version: v18.10.0
npm version: v8.19.2
Local ESLint version: v8.25.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

I was running some unit tests for a custom formatter against the new flat config API, and I noticed that `getRulesMetaForResults` is now throwing a `TypeE

[2022-10-10 15:07] mdjermanovic commented on #16392
Duplicate of https://github.com/eslint/eslint/discussions/16329

[2022-10-10 15:07] #16392 closed

[2022-10-10 15:36] mdjermanovic commented on #16402
Confirmed, a PR to fix this is welcome!

[2022-10-10 16:17] mdjermanovic commented on #16386
Hi @ziloen, thanks for the issue!

Since these parentheses are only required for a specific tool, and are generally not needed in JS code, I think this is beyond the scope of the core `no-extra-parens` rule.

We could maybe consider adding a generic option that would allow parentheses preceded by a comment that matches a regular expression. Curious what other team members think about this.

[2022-10-10 19:28] fasttime commented on #16402
Thanks for confirming @mdjermanovic! I'll work on a PR.

[2022-10-10 19:58] mdjermanovic commented on #16351
There were no regressions reported, so this concludes the v8.25.0 release. We can resume merging semver-minor changes.

[2022-10-10 19:58] #16351 closed

[2022-10-10 19:58] eslint-github-bot[bot] opened #16406 "Scheduled release for October 21st, 2022"
The next scheduled release will occur on Friday, October 21st, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2022-10-11 09:43] simondean opened #16407 "New Rule: no-spread-args"
### Rule details

Prevent the array spread operator being used to pass method args with unspecified size

### Related ECMAScript feature

Array spread operator

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

See https://github.com/nodejs/node/issues/16870 for more info
[code]

[2022-10-11 13:11] hornta opened #16408 "Rule Change: no-constant-binary-expression should report `<expr1> ?? <non-nullish> ?? <expr2>`"
### Rule details

Inform developer of potentially unnecessary nullish coalescing operator

### Related ECMAScript feature

Nullish coalesing operator

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

I don't know.

### Participation

- [ ] I am willing to submit a pull request to im

[2022-10-11 17:00] mdjermanovic commented on #16408
Hi @hornta, thanks for the issue!

I think this would fit into the existing [no-constant-binary-expression](https://eslint.org/docs/latest/rules/no-constant-binary-expression) rule, because the second `??` always short-circuits.

[code]

[playground demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLWNvbnN0YW50LWJpbmFyeS1leHByZXNzaW9uOiBlcnJvciAqL1xuXG53aW5kb3cuYWJjICYmIGZhbHNlICYmIGFueXR

[2022-10-11 19:35] fasttime opened #16410 "Bug: `FlatESLint` `getRulesMetaForResults` fails on anonymous files when option `cwd` is set"
### Environment

Node version: v18.10.0
npm version: v8.19.2
Local ESLint version: v8.25.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

Using `FlatESLint`, the method `getRulesMetaForResults` thows an error for certain values of the option `cwd` when passed a result of an anonymous file. T

[2022-10-11 20:23] #16340 closed

[2022-10-11 20:23] #16354 closed

[2022-10-11 22:40] mdjermanovic commented on #16410
Thanks for finding this, PR is welcome!

That's the bug here, `"<text>"` in `getRulesMetaForResults` should be resolved the same way as unspecified `filePath` in `lintText`.

Makes sense, but we should probably account for the case when the file is ignored (so it has no config) but appears in the results with a "File ignored..." warning.

[2022-10-12 03:00] merrywhether opened #16412 "Bug: `no-restricted-properties` misses destructuring object returned from function call"
### Environment

Node version: v16.14.2
npm version: v8.5.0
Local ESLint version: v8.24.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

After targeting a property in `no-restricted-properties`, immediately destructuring an object returned from a function call and accessing the rest

[2022-10-12 08:04] mdjermanovic commented on #16412
Hi @merrywhether, thanks for the issue!

I think this is a bug. The following property accesses are basically the same, yet only the first is reported:

[code]

I couldn't find any mention of this in https://github.com/eslint/eslint/pull/7151, or a test case that would confirm intent to allow access to restricted properties when the destructuring source is not given as an identifier, so this is mo

[2022-10-12 08:44] mdjermanovic commented on #16412
The rule should probably check all object patterns. In each of the following examples, `bad` property of an object is accessed:

[code]

Currently, neither of the above examples is reported. Since this would introduce many new cases in which the rule warns, I'd like more opinions from the team.

[2022-10-12 09:21] mdjermanovic opened #16413 "Bug: [new config system] Files outside `cwd` were not found"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: `main` branch
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

Command:

[code]

### What did you expect to happen?

[code]

This was the actual result before https://github.com/eslint/eslint/pull/16369. This i

[2022-10-12 09:46] mdjermanovic opened #16414 "Bug: [new config system] Inconsistent behavior with ignored directory"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: `main` branch
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

Command 1:

[code]

Command 2:

[code]

Command 3:

[code]

### What did you expect to happen?

All three commands should treat the `foo/bar/a.js`

[2022-10-12 09:59] mdjermanovic opened #16415 "Bug: [new config system] Directories cannot be unignored"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: `main` branch
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

Command:

[code]

### What did you expect to happen?

I would expect `foo/bar/a.js` to be linted, because neither the file itself nor any of its pa

[2022-10-12 10:37] mdjermanovic opened #16416 "Bug: [new config system] Patterns cannot re-ignore"
### Environment

Node version: v16.14.0
npm version: v8.3.1
Local ESLint version: `main` branch
Global ESLint version: Not found
Operating System: win32 10.0.19044

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[code]

Command:

[code]

### What did you expect to happen?

I'd expect `a.js` to be ignored. It should be possible to re-ignore previously unignored file

[2022-10-12 15:51] fasttime commented on #16410
Thanks for the feedback @mdjermanovic.

Absolutely. Looking at the code, the calculated config is only ever used to fetch the rules meta for those results that contain messages (or message with a `ruleId`, at least after #16402 is fixed).

https://github.com/eslint/eslint/blob/173e82040895ad53b2d9940bfb3fb67a0478f00b/lib/eslint/flat-eslint.js#L696-L703

Currently, files without rule-related messag

[2022-10-12 17:23] #16310 closed

[2022-10-12 19:17] nzakas commented on #16183
Closing due to age

[2022-10-12 19:17] #16183 closed

[2022-10-12 19:34] nzakas commented on #16393
I think this makes sense. Would like some feedback from the rest of the team.

[2022-10-12 19:35] nzakas commented on #16408
Yeah, I don’t think it makes sense to add a new rule here.

[2022-10-12 19:36] nzakas commented on #16380
Yeah, this needs to be handled in the editor, not in ESLint.

[2022-10-12 19:36] #16380 closed

[2022-10-13 05:54] #16143 closed

[2022-10-13 07:19] #16349 closed

[2022-10-13 10:06] kaaboaye opened #16418 "Bug: no-dupe-keys ignore dynamic keys duplicates"
### Environment

ESLint version: v8.25.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

To detect dynamic keys duplicates

### What actually happened?

It didn’t

### Participation

- [ ] I am willing to submit a pull request for this issue.

### Additional comments

[2022-10-13 10:14] maritaria opened #16426 "Suggestion: Add documentation regarding eslint-ignore comments"
### What problem do you want to solve?

Give a comprehensive explanation of directive comments (e.g. `// eslint-disable-next-line`).

I wanted to know how to add a justification to an eslint directive, the only reference to directives (which I didn't know that's what they are called anyway) is for the `--no-ignore-lines` argument ([link](https://eslint.org/docs/latest/user-guide/command-line-inter

[2022-10-13 12:35] hirasawayuki opened #16419 "Bug: (getter-return: does not check Object.create )"
### Environment

Node version: v18.3.0
npm version: v8.19.2
Local ESLint version: v8.25.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.6.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

warnings on getters which have no return values.

[2022-10-13 16:13] mdjermanovic commented on #16410
`getConfig()` can be costly, but at that point config for the `filePath` should have already been calculated (because the file was linted) and cached. so it will just [return the cached config object](https://github.com/humanwhocodes/config-array/blob/b85184e94a4121df0deeab17b84af069070734b7/src/config-array.js#L637-L642). After finding a message that has `ruleId`, we could check if `config` is no

[2022-10-13 17:49] mdjermanovic commented on #16418
Hi @kaaboaye, thanks for the issue!

Detecting duplicate dynamic keys is not as reliable as detecting duplicate static keys, due to side effects that can occur during the evaluation of object initializers.

`no-dupe-keys` currently ignores computed property names by design, so this is not a bug.

I'm closing this issue since it's submitted as a bug report. If you have an idea about how detecting d

[2022-10-13 17:49] #16418 closed

[2022-10-13 19:06] jesus2099 commented on #12438
Hi @jblandry #11562, @jahorwitz #11563, @ab-pm #12438, @domnantas #12999, did you understand how to achieve what we want or **does eslint officially sucks?**

I saw several tickets like this closed because [they don't want to improve eslint](https://github.com/eslint/eslint#stylistic-rule-updates).
So eslint seems maintained by tab indentation haters who don't want to allow both styles being handl

[2022-10-13 19:42] #16415 closed

[2022-10-13 19:42] #16416 closed

[2022-10-13 20:13] nzakas commented on #16419
I support this change.

[2022-10-13 20:25] domnantas commented on #12438
Still deal with this, just ignore it now, but it is quite annoying.
<img width="664" alt="image" src="https://user-images.githubusercontent.com/51953549/195694060-b06aa71e-2542-4b0d-85b1-511dddf3b13c.png">

The solution proposed in https://github.com/eslint/eslint/pull/16224 adds 4 options, which is a bit excessive.

I don't think Eslint is dead, nor do the maintainers hate tabs. Eslint is a massi

[2022-10-14 00:53] fasttime commented on #16410
@mdjermanovic That sounds reasonable. So we'll just (re)load the config whenever a message with a `ruleId` is encountered and check if it's an object or undefined.
I can work on this. Shall I extend #16409 or create a new PR?

[2022-10-14 08:56] silverwind opened #16424 "Bug: Autofix for `prefer-object-spread` should preserve surrounding whitespace"
### Environment

Node version: v18.9.0
npm version: 8.19.1
Local ESLint version: v8.25.0
Global ESLint version: v8.25.0
Operating System: macOS

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Autofix to fix this to:

[code]

### What actually happened?

Autfix removed

[2022-10-14 10:05] mdjermanovic commented on #16424
This works as intended. It would be too complex to consider every formatting detail in each rule. `--fix` is multipass. After `prefer-object-spread` fixes a problem that is its responsibility, formatting rules can fix the formatting in subsequent passes. In this case, those rules are: `object-curly-newline`, `object-property-newline`, and `indent`. Here's a [playground demo](https://eslint.org/pla

[2022-10-14 10:05] #16424 closed

[2022-10-14 10:17] mdjermanovic commented on #16410
As #16409 is already being reviewed, it might be better to create a new PR that fixes the two problems from this issue (handling the `"<text>"` file path, and improving the error message when file doesn't have a config).

[2022-10-14 10:18] silverwind commented on #16424
Thanks, I see I have `object-curly-newline` and `object-property-newline` disabled in my config, so that's why the formatting result is not as expected.

[2022-10-14 15:02] #16327 closed

[2022-10-14 15:35] mdjermanovic commented on #16426
Hi @maritaria! I've transferred the issue to eslint/eslint since the docs are in this repository.

Makes sense to me, PR is welcome!

[2022-10-14 16:38] silverwind commented on #16424
Afraid I can not do `object-curly-newline: ["error",{"multiline":true}]` as it is too prohibitive because forbids single-line object literals entirely.

Best I can do is `"consistent": true`, but this [leaves the leading whitespace unfixed](https://eslint.org/play/#eyJ0ZXh0IjoiY29uc29sZS5pbmZvKE9iamVjdC5hc3NpZ24oe1xuICBmb286IHRydWUsXG4gIGJhcjogdHJ1ZSxcbiAgYmF6OiB0cnVlLFxufSwge3F1eDogdHJ1ZX0pKTsiLC

[2022-10-14 16:57] mdjermanovic commented on #16424
It allows single-line object literals. Maybe you're getting an error from `object-property-newline`? In that case, you could set `{ "allowAllPropertiesOnSameLine": true }`. Here's [playground](https://eslint.org/play/#eyJ0ZXh0IjoidmFyIG9iaiA9IHsgYToxLCBiIDoyIH07Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIjoibGF0ZXN0Iiwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWFGZWF0dXJlcyI6e319LCJydWxlcyI6ey

[2022-10-14 17:07] silverwind commented on #16424
It's a separate issue, but the problem I'm facing is with `object-property-newline` only and code like [this](https://eslint.org/play/#eyJ0ZXh0IjoiY29uc3Qgb2JqID0ge2ZvbzogdHJ1ZSwgcmVuZGVyOiBpdGVtID0+IHtcbiAgcmV0dXJuIGl0ZW07XG59fTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3QiLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7Im9iamVjdC1wcm9wZXJ0eS1uZXdsaW5lI

[2022-10-14 17:50] nzakas commented on #15687
This was completed with some of the other work, most notably #16415 and #16416.

[2022-10-14 17:50] #15687 closed

[2022-10-14 20:16] nzakas commented on #16414
Confirmed. Working on this.

[2022-10-15 19:11] mdjermanovic commented on #16414
I think this can be solved by updating `ConfigArray#isDirectoryIgnored` to recursively check parent directories up to the base path.

[2022-10-15 22:24] mdjermanovic commented on #16341
I'll work on this.

[2022-10-16 11:07] maritaria opened #16431 "Change Request: Option to require justifications on eslint-disable directives"
### ESLint version

v8.0.0

### What problem do you want to solve?

ESLint currently either allows usage of disable directives (the default) or bans them all together (via the `noInlineConfig` setting or `--no-inline-config` cli-switch).
Banning them altogether is often too heavy handed, there are always cases where stepping outside of the common style is desirable.
On the other hand, having disab

[2022-10-16 15:30] mdjermanovic commented on #16431
There's already a plugin rule that requires descriptions in eslint directives.

https://mysticatea.github.io/eslint-plugin-eslint-comments/rules/require-description.html

Would that solve the problem? We also use this rule in eslint codebase.

https://github.com/eslint/eslint/blob/1692840a2f763737a4891419dc304db4ebedab5d/packages/eslint-config-eslint/default.yml#L80

[2022-10-16 17:45] mdjermanovic commented on #16320
No response, so closing.

[2022-10-16 17:45] #16320 closed

[2022-10-17 15:49] jedwards1211 opened #16433 "Bug: [new config system] --ignore-path option disappears when eslint.config.js is used (is this undocumented behavior?)"
### Environment

Node version: v16.15.1
npm version: v8.11.0
Local ESLint version: v8.25.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

`--ignore-path` works in any case.  Is `--ignore-path` intentionally not supported when using `eslint.config.j

[2022-10-17 16:58] jedwards1211 commented on #16264
@nzakas FWIW I made a complete implementation of the gitignore spec: https://github.com/jedwards1211/gitignore-fs.
Would make it easy to implement an option to just ignore everything that git does, at least.  I could make a PR if you're interested

[2022-10-17 17:13] mdjermanovic commented on #16433
Hi @jedwards1211, thanks for the issue!

That's correct, `--ignore-path` and a few other CLI options are intentionally not supported when using `eslint.config.js`. I agree that it would be good to document this, but I'm not sure if it would be better to update the CLI docs or new config files docs. Since there are other features that are not supported when using `eslint.config.js`, such as automat

[2022-10-17 18:12] nzakas commented on #16433
Sure, we can add a "Differences from eslintrc" section in the flat config docs.

I don't want to start changing other places in the docs until we have finalized the features and behavior of flat config to keep the maintenance burden as low as possible.

[2022-10-17 18:23] nzakas commented on #16413
Working on this.

[2022-10-17 18:28] jedwards1211 commented on #16433
If code is released to production, then to me, the more relevant places the behavior is documented, the better

[2022-10-17 18:41] jedwards1211 commented on #16433
@nzakas I think it would be good to note in the warning at the top of the new config files docs that (AFAICT) the flat config features aren't guaranteed to adhere to semver compatibility between minor and patch releases.

[2022-10-17 20:18] nzakas commented on #16264
@jedwards1211 Thanks for the option but we are removing gitignore-style ignores.

[2022-10-17 20:33] #16433 closed

[2022-10-18 07:33] fritx opened #16439 "Change Request: Consider exporting ./conf/globals.js ?"
### ESLint version

v8.0.0

### What problem do you want to solve?

I was trying to import/require from 'eslint/conf/globals':
https://github.com/eslint/eslint/blob/main/conf/globals.js

but getting an error:

[code]

[code]

### What do you think is the correct solution?

Possible Solution is: Adding to the `exports` field in package.json
https://github.com/eslint/eslint/blob/main/package.json#L1

[2022-10-18 07:37] fritx commented on #16439
Sorry I just found a workaround: https://github.com/sindresorhus/globals/blob/main/globals.json

[2022-10-18 11:37] mdjermanovic commented on #16439
Hi @fritx, thanks for the issue!

Yes, [globals](https://www.npmjs.com/package/globals) package provides the same (and more).

`./conf/globals.js` is intended for internal use only.

[2022-10-18 11:37] #16439 closed

[2022-10-18 11:56] #16414 closed

[2022-10-19 04:08] verifiedanswer commented on #16250
[[Solved] TypeError: this.libOptions.parse is not a function](https://verifiedanswer.com/typeerror-this-liboptions-parse-is-not-a-function/)

[2022-10-19 17:24] #16264 closed

[2022-10-19 17:32] #16402 closed

[2022-10-20 03:01] nmschulte-aviture opened #16442 "[flat config] rules do not support `languageOptions.ecmaVersion`"
### Environment

Node version: v18.10.0
npm version: v8.19.2
Local ESLint version: v8.24.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.19.0-2-amd64

### What parser are you using?

Default (Espree)

### What did you do?

use `comma-dangle` with new flat config with `languageOptions.ecmaVersion = 'latest'` and `comma-dangle` configured as `['error', 'always-multiline

[2022-10-20 03:26] nmschulte-aviture commented on #16442
It seems the rules still check `parserOptions.ecmaVersion` though the flat config pulls this up a level (`languageOptions`).  Setting `languageOptions.parserOptions.ecmaVersion` (even as `'latest'`) mitigates this issue.

[2022-10-20 03:27] nmschulte-aviture commented on #16442
Possibly related to https://github.com/eslint/eslint/issues/15366 but that issue seems directed differently.

[2022-10-20 07:08] kosbog commented on #15802
Perfect solution! Thanks!

[2022-10-20 07:13] RettentoRectangle opened #16444 "Rule Change: padding-line-between-statements await keyword"
### What rule do you want to change?

padding-line-between-statements

### What change to do you want to make?

Implement autofix

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Nothing.

### What will the rule do after it's changed?

Apply padding line option for await keyword.

### Participation

[2022-10-20 09:08] mvorisek opened #16445 "New Rule: convert typeof xxx === 'undefined' to xxx === undefined"
### Rule details

convert typeof xxx === 'undefined' to xxx === undefined

### Related ECMAScript feature

ES5 §15.1.1

### What type of rule is this?

Enforces a formatting/stylistic preference

### Example code

[code]

should be fixed into

[code]

### Why should this rule be in the core instead of a plugin?

these rules, and recommended/normally enabled:

- https://eslint.org/docs/latest/rules

[2022-10-20 11:04] mdjermanovic commented on #16444
Hi @RettentoRectangle, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates), so we are not adding new options to the `padding-line-between-statements` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-10-20 11:04] #16444 closed

[2022-10-20 11:16] mdjermanovic commented on #16445
Hi @mvorisek, thanks for the issue!

As stated in [Changes to our rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies/), we don't accept new core rules that are suggestions or preferences unrelated to new ECMAScript features. There is already an accepted proposal to include this rule in  `eslint-plugin-unicorn`:

https://github.com/sindresorhus/eslint-plugin-unicorn/issues/14

[2022-10-20 11:16] #16445 closed

[2022-10-20 11:55] mdjermanovic commented on #16442
Does this problem only happen with `languageOptions.ecmaVersion = 'latest'`? Can you check with `languageOptions.ecmaVersion = 2023`, would it work as expected or the same as with `languageOptions.ecmaVersion = 'latest'`?

[2022-10-20 16:06] nmschulte-aviture commented on #16442
The `languageOptions.ecmaVersion` value is not respected at all, it doesn't matter if it's `2023` or `'latest'`, it's simply not cared about.

Only `parserOptions.ecmaVersion` is respected buy the rules currently, i.e. e.g.: https://github.com/eslint/eslint/blob/main/lib/rules/comma-dangle.js#L137

[code]

[2022-10-20 17:51] mdjermanovic commented on #16442
Okay, so `'latest'` itself is not the problem. The problem is that `comma-dangle` and a few other core rules are using `context.parserOptions.ecmaVersion`, which isn't set in the flat config mode.

Possible solutions are:

1. Update rules to use `context.languageOptions.ecmaVersion` instead.
2. Update `Linter` to set `context.parserOptions.ecmaVersion` (based on `context.languageOptions.ecmaVersio

[2022-10-21 04:10] me4502 opened #16450 "Change Request: stop running rules set to "warn" when `--quiet` is used"
### ESLint version

v8.25.0

### What problem do you want to solve?

Currently, running ESLint with `--quiet` will run all of the rules set to `"warn"` but disregard the results. This results in wasted time and resources for data that is never used. Given fixers are turned off for warnings when `--quiet` is in use, it makes sense for the actual rules to not run either.

It's fairly common practice

[2022-10-21 09:07] #16419 closed

[2022-10-21 10:42] mdjermanovic commented on #16450
Hi @me4502, thanks for the issue!

It looks like this could bring significant performance improvements in use cases like the one you described, so I'm supportive of exploring ways to implement this change. This change likely requires new options in the [ESLint APIs](https://eslint.org/docs/latest/developer-guide/nodejs-api), so it would have to go through the [RFC process](https://github.com/eslin

[2022-10-21 17:22] mdjermanovic commented on #16406
Packages to release:

- [ ] @eslint/create-config v0.4.0
- [ ] eslint v8.26.0

[2022-10-21 20:24] #16382 closed

[2022-10-21 20:26] #16299 closed

[2022-10-21 20:26] #16413 closed

[2022-10-21 20:31] #16341 closed

[2022-10-21 21:29] mdjermanovic commented on #16406
ESLint v8.26.0 has been released:

https://eslint.org/blog/2022/10/eslint-v8.26.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2022-10-22 00:43] chenxsan opened #16452 "Bug: UI inconsistency in site header"
### Environment

Node version: n/a
npm version: n/a
Local ESLint version: n/a
Global ESLint version: n/a
Operating System: n/a

### What parser are you using?

Other

### What did you do?

Per https://github.com/eslint/eslint/pull/16403#issuecomment-1287467273

The desktop version of eslint site has this border above its site header spanning the full width of the viewport:

<img width="2246" alt="

[2022-10-24 17:54] nzakas commented on #16442
Option 1 is the intended way to fix this. It should work for `eslintrc` configurations as well.

[2022-10-24 17:55] nzakas commented on #16275
I'll work on this now that we've completely rewritten the globbing logic.

[2022-10-24 21:25] mdjermanovic commented on #16406
There were no regressions reported, so this concludes the v8.26.0 release. We can resume merging semver-minor changes.

[2022-10-24 21:25] #16406 closed

[2022-10-24 21:25] eslint-github-bot[bot] opened #16457 "Scheduled release for November 4th, 2022"
The next scheduled release will occur on Friday, November 4th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2022-10-24 23:46] oliviertassinari commented on #15895
It might be stale but the problem is still real.

[2022-10-25 00:26] #16148 closed

[2022-10-25 21:21] oliviertassinari commented on #15895
A good alternative that works: https://github.com/mui/material-ui/pull/34878#issuecomment-1290679529

[2022-10-25 23:06] ljharb commented on #16228
bump, in hopes this useful rule can be improved.

[2022-10-26 09:18] apupier commented on #15873
When running npm audit on my project, I got:
[code]

[code]
It requires to move to strip-ansi 7: https://github.com/chalk/strip-ansi/blob/dd40fa7ced678f14dfb43eb9b62b8e7313fb7011/package.json#L50 as it is not fixed in 6.x https://github.com/chalk/strip-ansi/blob/4eba141b36de8153856fbd9a005398ac2747b154/package.json#L47

Is it still the case?

[2022-10-26 10:43] mdjermanovic commented on #15873
According to this link, ansi-regex@5.0.1 we are using via strip-ansi@6.0.1 is not affected.

[2022-10-26 11:16] apupier commented on #15873
you're right, I misinterpreted it. Sorry for the disturbance

[2022-10-26 11:28] LinusU commented on #15240
@nzakas did you hear back from the security plugin folks?

[2022-10-26 12:10] dbads opened #16463 "Rule Change: (max-len > ignorePattern)"
### What rule do you want to change?

ignorePattern option of max-len rule should accept multiple patterns. right now it accepts only a string

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

NA

### What will the rule do after it's changed?

[2022-10-26 12:43] mdjermanovic commented on #16463
Hi @dbads, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we are not adding new options or changing the existing options in the max-len rule.

You can use `|` regex syntax to merge multiple patterns into a single pattern: `"ignorePattern": "pattern1|pattern2|pattern3"`.

[2022-10-26 12:43] #16463 closed

[2022-10-27 03:13] mnosov622 commented on #16452
Hello !

I would love to work on this issue. Could you please assign it to, me ?

[2022-10-27 22:35] #15906 closed

[2022-10-27 23:39] nzakas commented on #15240
Yes, sorry, way too much going on. If you wouldn’t mind, you can suggest security related rules here:

https://github.com/nodesecurity/eslint-plugin-security

Still trying to get back around to fixing up that plugin but it’s the right place for rules like these.

[2022-10-27 23:40] nzakas commented on #16228
@eslint/eslint-tsc does anyone want to champion this change? If not, we should close this.

[2022-10-29 10:08] snitin315 commented on #16431
No response hence closing.

[2022-10-29 10:08] #16431 closed

[2022-10-30 02:18] snitin315 commented on #15509
I'll pick this.

[2022-10-31 00:06] bpmutter opened #16473 "Overviews & copy tweaks in user documentation pages"
### ESLint version

v8.x

### What problem do you want to solve?

When looking at the usr documentation of ESLint, it can be unclear what the page is about at the start of the page, and why users should care about that page's content.

There are also small copy changes to be fixed throughout these pages.

### What do you think is the correct solution?

- Review all pages in the user documentation

[2022-10-31 00:09] bpmutter opened #16474 "Standardize Rule Documentation"
### ESLint version

v8.x

### What problem do you want to solve?

there is currently a lot of variability in how rules are documented. rules pages structures and content varies significantly. this makes harder for an end user to navigate the docs, and harder for rule makers to know how to document rules.

### What do you think is the correct solution?

- Create a standardized way to document a rul

[2022-10-31 00:11] bpmutter opened #16475 "Standardize CLI documentation"
### ESLint version

v8.x

### What problem do you want to solve?

Different parts of the CLI have differing level of documentation. we should standardize the CLI commands reference docs for a clearer user experience.

### What do you think is the correct solution?

- Standardize reference documentation for [CLI](https://eslint.org/docs/latest/user-guide/command-line-interface).
- Have a unified an

[2022-10-31 00:13] bpmutter opened #16476 "Formatters Page Clean Up & Expansion"
### ESLint version

v8.x

### What problem do you want to solve?

clean up copy of the Formatters page, and expand key aspects to create a better reader experience.

### What do you think is the correct solution?

Miscellaneous changes on [Formatters](https://eslint.org/docs/latest/user-guide/formatters/) page:
- In the example source section, make fullOfProblems.js and .eslintrc: not headers.
- F

[2022-10-31 00:16] bpmutter opened #16477 "Integrations Page Clean up & Expansion"
### ESLint version

v8.x

### What problem do you want to solve?

clean up copy of the Integrations page, and expand key aspects to create a better reader experience.

### What do you think is the correct solution?

Miscellaneous change on [Integrations](https://eslint.org/docs/latest/user-guide/integrations) page:
- Add a sentence or two overview at top of each integration type section
- Look to

[2022-10-31 00:19] bpmutter opened #16478 "Configuring documentation section cleanup"
### ESLint version

v8.x

### What problem do you want to solve?

clean up copy of the Configuring section, and expand key aspects to create a better reader experience.

### What do you think is the correct solution?

Miscellaneous changes throughout the [Configuring section](https://eslint.org/docs/latest/user-guide/configuring/):
- Small cosmetic changes and refactor throughout the section
- As

[2022-10-31 07:19] u373693041 opened #16479 "can give eslint.options.baseConfigFile like eslint.options.overrideConfigFile"
### ESLint version

8.26.0

### What problem do you want to solve?

I want to have a baseConig in vscode-eslint, and this config should preferably be a file ,but I can't use require('.eslintrc.js') in json.
options.overrideConfigFile will overwrite my some configuration

### What do you think is the correct solution?

give options.baseConfigFile like options.overrideConfigFile

### Participation

[2022-10-31 09:22] TriMoon commented on #15710
@mdjermanovic thanks for implementing this :+1:

I'm just wondering why you choose to default to `false` in https://github.com/eslint/eslint/commit/f6d79209821241c8e03c183b5844a024da0efe8a#diff-c6cfabe41e087014db02d66b884c50157300e6309034ba79d548c2b421468f8eR128
Because the behavior of the language allows it by definition by hoisting them to top of the code :wink:
(I would prefer it to defaulting

[2022-10-31 11:52] mdjermanovic commented on #15710
This rule is primarily stylistic, so by default any reference that appears before the declaration is disallowed. References to function declarations are also disallowed by default, although they are hoisted.

[2022-10-31 18:08] nzakas commented on #16479
I'm sorry, I can't tell from your description what it is you're trying to do. Can you please be more descriptive about your use case?

[2022-10-31 18:49] nzakas opened #16482 "Complete rewrite of ESLint"
# Introduction

ESLint was first released in 2013, meaning it will be ten years old next year. During that time, the way people write JavaScript has changed dramatically and we have been using the incremental approach to updating ESLint. This has served us well, as we've been able to keep up with changes fairly quickly while building off the same basic core as in 2013. However, I don't believe con

[2022-10-31 18:49] ljharb commented on #16482
What about AST-based autofixing? That's the sole advantage prettier seems to have over eslint.

[2022-10-31 18:51] #16442 closed

[2022-10-31 18:52] #16410 closed

[2022-10-31 18:54] #16426 closed

[2022-10-31 21:54] bradzacher commented on #13481
I think it would be a good idea to include @typescript-eslint in the Phase 3 list.

IMO onboarding the project as early as possible is a hard requirement for the workstream. Without ts-eslint's onboarding the majority of ESLint users won't able to transition to flat configs without needing to use the compatibility tooling.

For reference - by weekly download volume `@typescript-eslint/eslint-plugi

[2022-10-31 23:04] nzakas commented on #16482
@ljharb Oh yes, forgot to include that.

[2022-10-31 23:09] kirill-konshin commented on #13481
Could not agree more @bradzacher. The success of tools like Next.js, Jest, Prettier and even Create React App proves that many users want simple tools, they need fast onboarding and prefer opinionated presets.

It's great to have a configurable tool, but for majority of users thousands of options are overwhelming. People simply do not have time to dig into nuances, they need a solution.

In my opi

[2022-11-01 02:12] leoswing commented on #3565
I've implemented a eslint api with multiple worker thread support，

[2022-11-01 06:14] u373693041 commented on #16479
can ESLint class API give a option like baseConfigFile,because I want to use a js file to manage my eslint basic configuration in vscode-eslint. But I can't t use require in settings.json
[code]
![image](https://user-images.githubusercontent.com/48196776/199168179-d8c90067-cd09-413e-86e2-69e199cf870a.png)
![image](https://user-images.githubusercontent.com/48196776/199170407-d611f1e2-01bc-411a-a2c8

[2022-11-01 17:26] nzakas commented on #13481
@bradzacher will do. The intent is to use phase 3 to test the ecosystem in general.

@kirill-konshin this is off topic for this issue, but you can use `npm init @eslint/config`. It’s listed right on eslint.org. 😄

[2022-11-01 18:27] tomdavidson opened #16485 "Bug: can not find flat file config"
### Environment

Node version:  18.11.0
npm version:  8.5.0
pnpm version:  7.14.0
Local ESLint version:  8.26.0
Global ESLint version:  8.26.0
Operating System:  Linux

### What parser are you using?

Default (Espree)

### What did you do?

eslint does not consistently find the config file - even when I pass `--config ./eslint.config.js`

I have a shared repo with several workspaces. The flat conf

[2022-11-01 22:56] roryabraham opened #16487 "Rule Change: (no-unused-vars)"
### What rule do you want to change?

no-unused-vars

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

No flag – the above code passes.

### What will the rule do after it's changed?

The rule should flag variables that are ex

[2022-11-01 23:42] BboyAkers opened #16488 "New Rule: ("tsconfig 'target' and eslint env do not match. Update target and env to same ECMAScript version ex. es2021")"
### Rule details

When using es2021 methods in typescript, eslint doesn't automatically detect this and gives an error of type 'any'

### Related ECMAScript feature

no-unsafe-call

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Many developers use typescript and eslint. This would definitely

[2022-11-02 08:55] u373693041 commented on #16479
overrideConfigFile  will cause some unexpected situations: like plugins or extends in  overrideConfigFile  conflicts with plugins in the project when I use vscode-eslint.
If there is no better way, I will try some other methods, sorry to bother, thank you.

[2022-11-02 12:22] EwanRoycroft opened #16489 "Rule Change: no-unused-vars should not flag function arguments used via the `arguments` object"
### What rule do you want to change?

no-unused-vars

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

The variable `myVar` is not considered to have been used:
[code]

### What will the rule do after it's changed?

The varia

[2022-11-02 12:45] mdjermanovic commented on #16487
Hi @roryabraham, thanks for the issue!

Core rules do not track variable usage in other modules.

You can use the `import/no-unused-modules` plugin rule with option `unusedExports: true` to catch variables that are exported but never imported.

https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-unused-modules.md

[2022-11-02 12:59] mdjermanovic commented on #16489
Hi @EwanRoycroft, thanks for the issue!

I think the current behavior is correct. `myVar` is never referenced, so it can be removed and the function will still work the same.

[code]

[2022-11-02 13:14] mdjermanovic commented on #16488
Hi @BboyAkers, thanks for the issue!

This is rather a question for typescript-eslint. Core ESLint doesn't access `.tsconfig` files, and [`no-unsafe-call`](https://typescript-eslint.io/rules/no-unsafe-call/) is a rule from `@typescript-eslint/eslint-plugin`.

You can open an issue in this repository:

https://github.com/typescript-eslint/typescript-eslint

[2022-11-02 13:14] #16488 closed

[2022-11-02 16:02] fasttime opened #16490 "Bug: `key-spacing` with `align: "value"` produces incorrect alignment"
### Environment

Node version: v19.0.0
npm version: v8.19.2
Local ESLint version: v8.26.0
Global ESLint version: Not found
Operating System: darwin 22.1.0

### What parser are you using?

Default (Espree)

### What did you do?

[code]

[**DEMO**](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IFwia2V5LXNwYWNpbmdcIjogW1wiZXJyb3JcIiwgeyBhbGlnbjogXCJ2YWx1ZVwiIH1dICovXG52YXIgZm9vID1cbntcbiAgY29kZTog

[2022-11-02 18:57] nzakas commented on #16479
Yeah, we don't have a good way to do what you're asking, and `baseConfig` is not intended to be used in this way.

[2022-11-02 18:57] #16479 closed

[2022-11-02 19:11] nzakas commented on #16485
That is strange. Is it possible you have your config file symlinked?

Can you share the output of `--debug`?

Can you create a minimal repro case in a GitHub repo? This is going to be difficult to debug without getting a repo setup where we can see it in action.

And yes, part of the design of the new config system is intended to make usage in monorepos easier, so I'd love to make sure this works

[2022-11-02 19:13] nzakas commented on #16489
Agree with @mdjermanovic. `arguments` is array-like, and I don't think going into each item and marking it as used makes sense for this rule.

[2022-11-02 19:13] #16489 closed

[2022-11-02 19:19] #15899 closed

[2022-11-02 19:30] brettz9 commented on #16482
Very exciting....

One big picture kind of feature I'd like to see as possible would be richer AST traversal too to ensure not only `parent`, but `parentProperty`, `nextSibling`, etc. on each supplied node, as well as a scoped `querySelector` (ala esquery).

[2022-11-02 20:31] scalvert opened #16492 "Change Request: Slight adjustment to logic introduced in #16348"
### ESLint version

^8.25.0

### What problem do you want to solve?

⚠️ I want to start by quickly saying that I acknowledge this issue I'm identifying is only manifesting due to our unorthodox usage of formatters. That said, I believe we can arrive at a reasonable solution that will maintain the current logic, while restoring the prior behavior in our formatter.

The PR #16348 added the ability t

[2022-11-02 21:35] BboyAkers commented on #16488
Will do! Thanks a ton for leading me in the right direction @mdjermanovic 🙂

[2022-11-02 23:25] brenelz opened #16493 "Change Request: Eslintcache relative"
### ESLint version

v8.26.0

### What problem do you want to solve?

I am currently trying to use the .eslintcache file in our jenkins ci.

Is there anyway the cache can use relative file paths? In our instance each branch is in a seperate dir but I want to reuse the cache.

### What do you think is the correct solution?

In order to move the .eslintcache around it would be great if the cache file

[2022-11-03 16:16] willster277 commented on #16482
Valid preference, but would there be any chance of providing types within ESLint rather than in the separate `@types` package?
Currently I'm scratching my head over the flat configs as there's no type definition for them, however the options use existing type declarations. I'm trying to figure out whether to declare my own interface or to modify an existing one.

It could be useful for the large n

[2022-11-03 16:54] mdjermanovic commented on #16490
This looks like a bug to me.

The different behavior seems to be because in the first case [`continuesPropertyGroup`](https://github.com/eslint/eslint/blob/74a5af487ac7296a46a8078e585f00df72b63d83/lib/rules/key-spacing.js#L343) considers the two properties to be in the same group, while in the second case they are in separate groups.

https://github.com/eslint/eslint/blob/74a5af487ac7296a46a8078e5

[2022-11-03 17:56] mdjermanovic commented on #16228
I'll champion this.

I think the best solution is to add a new option: `ignoreClassFieldInitialValues` (default `false` to keep the current default behavior).

[2022-11-03 18:16] mdjermanovic commented on #16393
The Internationalization API is optional, so a global `Intl` could be something else. Though, that's unlikely. I don't have a strong opinion. If others think that core rules should treat `Intl` as a known built-in global, I'll agree.

[2022-11-03 19:35] ljharb commented on #16482
Providing types in a package is a mistake; it conflates semver of the types with semver of the actual API.

[2022-11-03 20:07] nzakas commented on #16042
Another example of this:
https://eslint.org/docs/latest/developer-guide/package-json-conventions#names

[2022-11-03 22:19] tomdavidson commented on #16485
Hello @nzakas thank you for looking into this.

No symlink with the config file.

When I pass the --debug flag, the config file is found. Without the --debug flag the output is as per the issue description.

[code]

[Here](https://github.com/tomdavidson/moon-status-filter) is a trimmed dummy repo I shared for a [moon](https://moonrepo.dev/) issue (seems like an awesome mono repo too if anyone is l

[2022-11-04 00:58] snitin315 commented on #16393
This makes sense to me 👍🏻, I suppose rules treat `Intl` as global when [the environment is the browser](https://eslint.org/play/#eyJ0ZXh0IjoiSW50bCgpO1xubmV3IEludGwoKTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3QiLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7ImNvbnN0cnVjdG9yLXN1cGVyIjpbImVycm9yIl0sImZvci1kaXJlY3Rpb24iOlsiZXJyb3IiXSwiZ2V0dGVyLXJldHVybiI

[2022-11-04 12:37] mdjermanovic commented on #16485
This seems to be caused by the `import/no-unused-modules` rule, when it runs eslint's [`FileEnumerator`](https://github.com/import-js/eslint-plugin-import/blob/e85c694fd1ca190b4da72711cfe3813463882fe1/src/rules/no-unused-modules.js#L21) which is part of the eslintrc config system and looks for eslintrc config files.

Can you disable the `import/no-unused-modules` rule [in your config](https://gith

[2022-11-04 14:58] mdjermanovic commented on #16492
Hi @scalvert, thanks for the issue!

Formatters aren't really expected to modify the results, so there are many ways to break this. For example, we might decide to clone or freeze the results at some point to prevent accidental changes. I think a better course of action would be to explore other ways to solve the problem that `eslint-formatter-todo` aims to solve.

As for a temporary workaround, s

[2022-11-04 15:21] mdjermanovic commented on #16493
Hi @brenelz, thanks for the issue!

I think this is generally doable. We'd need to discuss details, like whether this needs a new option and what should be the base path (directory to which the file paths would be relative; would it be the current working directory, or location of the cache file, or something else). This is a non-trivial change in the core, so I think it should go through the [RFC

[2022-11-04 15:33] scalvert commented on #16492
Hey @mdjermanovic, thanks for taking the time to reply.

This is why my issues is prefaced with a big fat ⚠️ to indicate my awareness that we're deviating from what would be considered normal.

This is absolutely an option for us, but I was trying to minimize the formatter's fully escaping from the flow of the CLI. We can for sure use this as a workaround and put a comment in the code as to the wh

[2022-11-05 02:24] Lioness100 opened #16501 "Allow different arrow-body-style setting for callbacks"
### What rule do you want to change?

arrow-body-style

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Currently, eslint would either:

1. `"off"` - Ignore both
2. `"always"` - Transform the first statement to use curly braces
3. `"n

[2022-11-05 15:43] brenelz commented on #16493
If its a non-trivial change its probably not worth it. Seems like no one has really asked for it besides me. We were just trying to use the cache in our ci which I think we are unable to do currently.

[2022-11-05 15:53] fasttime commented on #16490
Thanks @mdjermanovic, I did some debugging and I think your analysis is correct. I can work on a PR to fix this.
It seems that there are currently to [unit tests](https://github.com/eslint/eslint/blob/c3ce5212f672d95dde3465d7d3c4bf99ff665f8b/tests/lib/rules/key-spacing.js) covering the case of a property where the value starts on a different line than the key, so I guess I will add some.

[2022-11-05 19:50] bpmutter commented on #16473
notes - https://gist.github.com/bpmutter/9693dc10b7fb6caae144208f38fad9bf

[2022-11-05 20:54] mdjermanovic commented on #16501
Hi @Lioness100, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we are not adding new options to the `arrow-body-style` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2022-11-05 20:54] #16501 closed

[2022-11-05 22:34] brenelz commented on #16493
Another option very specific to my use case would be if we could not include the path in hashOfConfig if that makes sense

[2022-11-05 22:44] ljharb commented on #15631
not to repeat comments, but $repetition

[2022-11-06 00:55] #16318 closed

[2022-11-06 00:57] snitin315 commented on #16490
@fasttime Thanks for taking this up. Yes, you will have to add corresponding test cases in your PR.

[2022-11-06 01:12] snitin315 commented on #16412
@mdjermanovic I feel the same that it should check all object patterns. So all the above examples should be reported 👍🏻

[2022-11-06 01:17] snitin315 commented on #16312
I feel this change makes sense. [MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/String) seems to have a similar implementation.

[2022-11-06 01:18] snitin315 commented on #16312
@chenxsan Are you still interested in working on this?

[2022-11-06 01:37] snitin315 commented on #16385
I feel the ideal indentation should be as following:

[code]

[ESLint Demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyplc2xpbnQgaW5kZW50OiBcImVycm9yXCIqL1xuXG5pZiAodHJ1ZSkge1xuICAgIHN0b3JlKFxuICAgICAgICBcIlwiLFxuICAgICAgICBcIlwiLFxuICAgICAgICBcImFcIlxuICAgICkudGhlbigoKSA9PiB7XG4gICAgICAgICAgICBjb25zb2xlLmxvZyhcInRoZW5cIilcbiAgICAgICAgfSkuY2F0Y2goKGUpID0+IHtcbiAgICAgICAgICAgIGNvbnNvbGUubG9nKChlKS5tZXN

[2022-11-06 01:47] #16390 closed

[2022-11-06 04:15] chenxsan commented on #16312
Let me try.

[2022-11-06 04:22] tomdavidson commented on #16485
@mdjermanovic gesh, how did you figure that out?

It is `import/no-unused-module`. ESLint works as expected when I disable, `unusedExport`
[code]

Thank you! Ill close this and open an issue with `eslint-plugin-import`.

[2022-11-06 04:34] tomdavidson commented on #16485
Oh wait, I see that I shouldnt have closed this yet. Sorry for the noise.

[2022-11-06 05:52] #16322 closed

[2022-11-06 06:33] fregante opened #16504 "Bug: `prefer-regex-literals` doesn't detect `new RegExp(/a/)`"
### Environment

Node version: v18.10.0
npm version: v8.19.2
Local ESLint version: Not found
Global ESLint version: v7.32.0
Operating System: darwin 21.6.0

### What parser are you using?

Default (Espree)

### What did you do?

[Demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci1yZWdleC1saXRlcmFsczogXCJlcnJvclwiICovXG5uZXcgUmVnRXhwKC9hLyk7XG5uZXcgUmVnRXhwKCdhJyk7Iiwib3B0aW9ucyI6eyJ

[2022-11-06 06:48] btmills commented on #16457
ESLint v8.27.0 has been released: https://eslint.org/blog/2022/11/eslint-v8.27.0-released/

While we wait to see if there are any regressions that would require a patch release, please merge only semver-patch changes.

Since this release technically went out on a Sunday (at least in my time zone), I'll follow up on a potential patch release Tuesday evening US time instead of the usual Monday.

[2022-11-06 09:37] yeonjuan commented on #16504
Hi @fregante There is an option `disallowRedundantWrapping` which make errors for those cases.( [see](https://eslint.org/docs/latest/rules/prefer-regex-literals#disallowredundantwrapping)  )

[code]
[demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci1yZWdleC1saXRlcmFsczogW1wiZXJyb3JcIiwge1wiZGlzYWxsb3dSZWR1bmRhbnRXcmFwcGluZ1wiOiB0cnVlfV0gKi9cbm5ldyBSZWdFeHAoL2EvKTtcbm5ldyBSZWdFeHAoJ

[2022-11-06 10:29] fregante commented on #16504
Ooh, I looked at the docs but didn't scroll down enough 😅

I suppose this could be closed, but I don't see why this would be an option, let alone off by default.

[2022-11-06 11:13] #16504 closed

[2022-11-06 18:57] bpmutter opened #16507 "Docs: Better example for shared setting"
### ESLint version

v8.x

### What problem do you want to solve?

Currently the example for shared settings in the docs doesn't show how the shared setting could be applied to rules.

This is the current example:

[code]

### What do you think is the correct solution?

expand the example so that readers can see how the shared setting is applied to rules.

apply the example to both configuration fi

[2022-11-06 19:01] bpmutter opened #16508 "Docs: Getting Started Clean up & Expansion"
### ESLint version

v8.x

### What problem do you want to solve?

clarify and expand the documentation user guide's [Getting Started](https://eslint.org/docs/latest/user-guide/getting-started) page.

### What do you think is the correct solution?

- Refactor introduction of page to be more about the value proposition of ESLint, rather than comparison to JSLint/JSHint.
- Cosmetic updates throughout

[2022-11-07 00:49] snitin315 commented on #16450
I'm in favor of this change 👍🏻.

However, changing how `--quiet` works by default can be a breaking change.

I feel that a generic solution would be better and we will have to check compatibility with `--max-warnings`, `--report-unused-disable-directives`, and `eslint-disable`. This change definitely needs an RFC.

[2022-11-07 01:04] snitin315 commented on #16386
I agree that this seems like out of the scope of the `no-extra-parens` rule.

But usage like this is common with tools like JSDoc, for example, we have many instances like this in the [webpack-dev-server](https://github.com/webpack/webpack-dev-server/blob/93d90a0addbdae4cdfac301b4e9e3e5d8af70215/lib/Server.js#L221) project.

[Playground Link](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLW

[2022-11-07 01:14] snitin315 commented on #16367
I feel it makes sense to allow users to ignore a few variables if they want to 👍🏻

[2022-11-07 01:22] snitin315 commented on #16373
I'm also not opposed to treat it as a bugfix 👍🏻

[2022-11-07 01:24] snitin315 commented on #16393
We have 3 👍🏻, marking it as accepted. @sosukesuzuki feel free to send a PR if you are interested.

[2022-11-07 10:41] danielrentz opened #16513 "Rule Change: overlapping "no-new-symbol" and "no-new-native-nonconstructor""
### What rule do you want to change?

no-new-symbol, no-new-native-nonconstructor

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

Both rules "no-new-symbol" and "no-new-native-nonconstructor" trigger.

### What will the rule do after it's c

[2022-11-07 10:53] snitin315 commented on #16513
Hi @danielrentz, Thanks for creating this issue. This was discussed in the PR and we decided not to deprecate the `no-new-symbol` as mentioned in https://github.com/eslint/eslint/pull/16368#pullrequestreview-1169545681

[2022-11-07 10:56] snitin315 commented on #16513
I would suggest you disable the `"no-new-symbol"` rule in favor of the `no-new-native-nonconstructor` rule

[2022-11-07 11:33] jacekkarczmarczyk opened #16514 "Bug: `prefer-destructuring` should not report error when variable is declared beforehand"
### Environment

Node version: 16.14.2
npm version:  8.7.0
Local ESLint version: 8.27.0
Global ESLint version: -
Operating System: windows 10

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

no error

### What actually happened?

`Use object destructuring` err

[2022-11-07 11:58] DMartens opened #16515 "Rule Change: Add fixer/suggestions for no-template-curly-in-string"
### What rule do you want to change?

no-template-curly-in-string

### What change to do you want to make?

Implement autofix

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

Reports the string literal but does not fix or offer a suggestion.

### What will the rule do after it's changed?

Automatically fix

[2022-11-07 12:28] yeonjuan commented on #16514
Hi, @jacekkarczmarczyk :) I think it's not a bug.

It can be fixed by changing the code to `({foo} = obj)`.
- [demo](https://eslint.org/play/#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci1kZXN0cnVjdHVyaW5nOiBcImVycm9yXCIgKi9cbmNvbnN0IG9iID0geyBmb286IDEgfVxubGV0IGZvb1xuaWYgKE1hdGgucmFuZCgpKSB7XG4gICh7Zm9vfSA9IG9iLmZvbyk7XG59IGVsc2Uge1xuICBmb28gPSAyXG59Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9uIj

[2022-11-07 13:23] jacekkarczmarczyk commented on #16514
doh, somehow I missed this option (or rather ignored it), thanks

[2022-11-07 13:23] #16514 closed

[2022-11-07 13:23] danielrentz commented on #16513
Thanks for the pointer, missed that

[2022-11-07 13:23] #16513 closed

[2022-11-07 14:21] mdjermanovic commented on #16373
I can work on this.

[2022-11-07 14:31] mdjermanovic commented on #16515
Auto-fixes should never change code behavior so this would always be a suggestion, but suggestions should also produce syntactically valid code. This was discussed in https://github.com/eslint/eslint/pull/15574 and we decided not to implement this change due to parsing-related complexity.

[2022-11-07 14:31] #16515 closed

[2022-11-07 15:00] DMartens commented on #16515
I did not see that PR but the part of the safe fixes still stands:
It is always safe to fix "${}" to `${}`.
This would allow adding dynamic portions to static strings by just adding ${}.
This is especially helpful if it is not only swapping the quotes but also escaping to existing backticks.

[2022-11-07 15:00] yeonjuan opened #16516 "Rule Change: Suggestions for prefer-regex-literals disallowRedundantWrapping option"
### What rule do you want to change?

prefer-regex-literals

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

The rule didn't suggest for unnecessarily wrapped patterns which disallowed by `"disallowRedundantWrapping": true`. [demo](https://esl

[2022-11-07 15:12] mdjermanovic commented on #16515
Empty `${}` is a syntax error. Suggestions are allowed to change code behavior but should never produce parsing errors. We would have to parse the whole file again to make sure that the new code is syntactically valid.

[2022-11-07 15:18] mdjermanovic commented on #16516
This was originally included in https://github.com/eslint/eslint/issues/15029, but we decided to split the implementations into two PRs because https://github.com/eslint/eslint/pull/15077 was already complex enough, so marking accepted and PR is welcome!

[2022-11-07 15:25] mdjermanovic commented on #16516
I'm not sure about this one. While it's technically the same as `/a/i`, perhaps the intent was to have `/a/gi` so maybe we should offer two suggestions, or perhaps no suggestions for this case?

[2022-11-08 13:20] yeonjuan commented on #16516
IMO, `/a/i` seems better because it didn't change behavior of the code after accepting suggestions is not changed.

[2022-11-08 13:49] Mattstir opened #16521 "Change Request: Add api support for timing information"
### ESLint version

8.22.0

### What problem do you want to solve?

Currently it is not possible to get the [TimingInformation](https://eslint.org/docs/latest/developer-guide/working-with-rules#per-rule-performance), when using the [Node.js API](https://eslint.org/docs/latest/developer-guide/nodejs-api).

Only CLI supports the output of the TIMING information. Adding this also for the nodejs api w

[2022-11-08 17:35] fasttime commented on #16490
This should be fine with `align: "value"`. I'm not sure about `align: "colon"`. So, for instance, this code is currently considered ok by the rule:

[code]

But if we change the logic such that a value on a different line doesn't continue the group, then the rule would report a problem, and the corrected output would be:

[code]

Any thoughts about this @mdjermanovic?

[2022-11-08 18:33] nzakas commented on #16493
Yeah, we’d need an RFC for this as it has the potential to break current cache file usage.

[2022-11-09 01:14] snitin315 commented on #16521
Since we already allow this for CLI, I feel it makes sense to support this with Nodejs API. I'd like to know what other team members think about this.

[2022-11-09 05:05] btmills commented on #16457
I don't see any regressions reported, so this concludes the v8.27.0 release process! You may resume merging semver-minor changes.

[2022-11-09 05:05] #16457 closed

[2022-11-09 05:06] eslint-github-bot[bot] opened #16524 "Scheduled release for November 18th, 2022"
The next scheduled release will occur on Friday, November 18th, 2022.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2022-11-09 17:29] JoshuaKGoldberg opened #16530 "Rule Change: prefer-named-capture-group: add suggestion fixer"
### What rule do you want to change?

prefer-named-capture-group

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It reports a complaint on the regular expression: `/`([^`]*)`/gi`

[code]

### What will the rule do after it's

[2022-11-10 03:11] SrBrahma commented on #16482
I would love love love if ESLint is written in Rust. In larger codes, it's noticeable a delay on save and on Intellisense. This is definitively the future. While I love JS/TS and work with it, there is really no performance comparison with Rust. It's more of a matter of time until we have a ready JS/TS linter in Rust, not **if** it's going to happen. There was https://github.com/rslint/rslint but

[2022-11-10 13:07] mdjermanovic commented on #16530
Makes sense to me, but would like more opinions from the team as this would be the first core rule suggestion that requires additional user action (renaming `temp1` to a meaningful name) after it's applied.

Alternatively, we could provide an example of the syntax in the error message.

[2022-11-10 13:32] mdjermanovic commented on #16516
Yes, it would be the same behavior, but `new RegExp(/a/g, 'i')` looks like redundant wrapping + possible error. This is somewhat similar to the cases that `no-useless-escape` reports, where the rule always provides two suggestions. For example, for `"\a"` there's a suggestion to fix to `"a"` (the same behavior) and a suggestion to fix to `"\\a"` (not the same behavior, but it's very possible that

[2022-11-10 13:35] mdjermanovic commented on #16516
As for these two cases, perhaps the rule could autofix them instead of providing suggestions?

[2022-11-10 13:41] jimbojw opened #16531 "Invalid option '--ext' - perhaps you meant '-c'?"
### Environment

Node version: v16.18.1
npm version: 8.19.2
Local ESLint version: 8.27.0
Global ESLint version: N/A
Operating System: Mac OS X

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

Running `eslint --ext .ts` should find and lint TypeScript files.

#

[2022-11-10 19:43] nzakas commented on #15631
I believe by assigning someone to the issue it will appease the bot.

[2022-11-10 19:43] nzakas commented on #16228
All right, marking as accepted.

[2022-11-10 19:49] nzakas commented on #16482
@willster277

Currently I'm scratching my head over the flat configs as there's no type definition for them, however the options use existing type declarations. I'm trying to figure out whether to declare my own interface or to modify an existing one.

Yes, that was my intent. I'll update the original text to indicate that.

[2022-11-10 19:53] nzakas commented on #16482
@JoshuaKGoldberg @bradzacher If you have time, I'd love to hear what we could change about ESLint to make working with TypeScript easier.

[2022-11-10 20:01] nzakas commented on #16450
I think this makes sense. We will likely only be able to implement it in `FlatESLint`, though, as I don't think it makes sense to implement in two places (`FlatESLint` and `ESLint`) given that we will be removing `ESLint`.

Let's move forward with an RFC.

[2022-11-10 20:43] willster277 commented on #16482
@ljharb I would say the types and the API are the same thing, if you take statically typed languages, it's usually impossible to separate the concepts simply because of the nature of static typing.
The API as you call it is less the interface and more the hidden magic, while the types are the interface; what to put in, what to expect out. Types *are* API.

Even if no types have changed, and only i