[2015-08-03 12:29] alallier opened #3258 "Indentation and One Var rule giving errors with objects"
Eslint version `1.0.0`

Code Example:

[code]

Rules:
`"indent": [2, 2, {"VariableDeclarator": 2, "SwitchCase": 1}],`
`"one-var": [2, "always"]`

Eslint Output:
[code]

[2015-08-03 13:06] IanVS commented on #3257
Does it make any difference if you remove the `:true` flags?

[2015-08-03 13:13] czjvic commented on #3257
[code]

[code]

it's worse...

[2015-08-03 14:01] lo1tuma commented on #3257
If `a` is a defined global, why are you trying to redeclare it using `var`?

[2015-08-03 14:14] lo1tuma commented on #3092
@okonet Can provide more information? What kind of problem are you trying to solve? Otherwise I think we will close this issue.

[2015-08-03 14:14] codemakerlive opened #3259 "Environment specification inside js file as comment appears to be ignored in 1.0.0"
Unexpected console warnings are now firing in node environment when using console.log()

At top of linted file:
#!/usr/bin/env node
/* eslint-env node, shelljs */

Note; Whether the node shebang is there or not makes no difference.

Parser used is espree

[2015-08-03 14:22] IanVS commented on #3259
What is the warning you are getting?

[2015-08-03 14:23] codemakerlive commented on #3259
warning  Unexpected console statement       no-console

[2015-08-03 14:26] IanVS commented on #3259
Keep in mind, that in `1.0.0` setting the `node` environment does not set any rules, as it used to.  If you've extended the recommended rules, then [no-console](http://eslint.org/docs/rules/no-console) will be turned on, which is giving the warning, and you should override the rule if you want to turn it off.

[2015-08-03 14:27] codemakerlive commented on #3259
Ok, thank you, I will do so in file.

[2015-08-03 14:29] IanVS commented on #3259
You can do it in the file, or more likely if you are creating a node application you'll want to set it in your `.eslintrc`.

[2015-08-03 14:29] #3259 closed

[2015-08-03 14:43] gyandeeps commented on #3258
Same as https://github.com/eslint/eslint/issues/3237
This will be fixed in next release.
Please follow https://github.com/eslint/eslint/issues/3237 issue for updates.
Thanks

[2015-08-03 14:49] alallier commented on #3258
Thank you

[2015-08-03 14:49] #3258 closed

[2015-08-03 14:55] lo1tuma commented on #3179
I still have this problem when using shareable configs:

.eslintrc
`"extends": "my-sharable-config/es2015"` which sets `no-var` to `2`

test/end2end/.eslintrc
`"extends": "my-sharable-config"` which sets `no-var` to `0`.

I get `no-var` errors for `.js` files in `test/end2end`.

[2015-08-03 14:56] michaelficarra commented on #3223
One of the declared bindings *is* constant, and you're choosing not to tell future readers of your code. This rule asks that you always let them know this. I don't think that's unreasonable. Still :-1: from me. You can disable this rule for those individual declarations you want skipped.

[2015-08-03 15:14] moretti commented on #3223
This rule already does something similar in the initialization expression of for loops.

From the [examples](http://eslint.org/docs/rules/prefer-const.html):

[code]

Just curious, why is this considered reasonable?

[2015-08-03 15:21] #3245 closed

[2015-08-03 15:21] #3246 closed

[2015-08-03 15:22] #3237 closed

[2015-08-03 15:22] #3238 closed

[2015-08-03 15:26] nzakas commented on #3248
It was mentioned in the blog: http://eslint.org/blog/2015/07/eslint-1.0.0-released/#reset-is-now-the-default

And also in the migration guide: http://eslint.org/docs/user-guide/migrating-to-1.0.0#all-rules-off-by-default

[2015-08-03 15:26] #3248 closed

[2015-08-03 15:28] moretti commented on #3223
cc to @mysticatea, who [implemented](https://github.com/eslint/eslint/pull/2639) the rule (and a big thanks for that :smile:)

[2015-08-03 15:28] nzakas commented on #3254
So `context. getScope` is returning the global scope inside of FunctionDeclaration?

[2015-08-03 15:32] nzakas commented on #3257
This behavior is correct. Your referencing `a` before it was defined and outside of the block in which it was defined. This code is not working the way you think it is. You probably want something more like this:

[code]

[2015-08-03 15:32] #3257 closed

[2015-08-03 15:35] nzakas commented on #3249
Looks like a bug, we will look into it.

[2015-08-03 15:36] nzakas commented on #3232
Yes, that's a good idea.

[2015-08-03 15:37] nzakas commented on #3218
@TheSavior ah, gotcha. That looks really cool and useful.

@willklein would you mind porting that to core?

[2015-08-03 15:43] nzakas commented on #3223
@moretti you cannot use `const` in a loop, it causes an error.

My question to you: given that you can manually disable the rule wherever you want via `/*eslint-disable prefer-const*/`, do you still feel the need for an option?

[2015-08-03 15:55] moretti commented on #3223
@nzakas That's what I'm currently doing.
But I do not understand why this code is acceptable:

[code]
when it could be written as

[code]

or simply:

[code]

and mine is not.

[2015-08-03 15:57] michaelficarra commented on #3223
Oh nice, that looks like a bug! Please file it separately.

[2015-08-03 15:59] moretti commented on #3223
@michaelficarra  It's not a bug, it's by design.
Please check out the examples in the official documentation:
http://eslint.org/docs/rules/prefer-const.html

[2015-08-03 16:07] michaelficarra commented on #3223
It is only by design if it declares a single binding. This rule should report when a variable declaration in that position has multiple declarators or a destructuring with multiple bindings.

[2015-08-03 16:21] willklein commented on #3218
I'll work on a PR, give me a couple days.

[2015-08-03 16:48] reviling commented on #3248
That is not enough. The main documentation eludes to how it was configured before, which will cause confusion like it did with me. I didn't even know the blog or migration guide existed until you mentioned it here. You should not expect new users to look beyond the user-guide as that should be expected to be kept up to date, which it is not.

Bad examples from: http://eslint.org/docs/user-guide/co

[2015-08-03 16:52] IanVS commented on #3248
Ah, it seems the `1.0.0` version of the user-guide didn't get moved over. http://eslint.org/docs/1.0.0/user-guide/configuring

[2015-08-03 16:55] IanVS commented on #3248
The first three bullets are still true, but I think you're right the wording in the last should be updated.

[2015-08-03 17:15] FrenchBen commented on #1978
Still having the same error 'Illegal import declaration (undefined) in atom.io:
`eslint@1.0.0`
`espree@2.2.3`
`escope@3.2.0`

[code]

[2015-08-03 17:21] reviling commented on #3248
This implies there are initial rules you can turn off, which there are not.

The second two point implies that reset doesn't reset everything, which is contradictory to what I would have expected. Where can I find details on the default settings?

Thanks.

[2015-08-03 17:27] IanVS commented on #3248
There still needs to be a parser, `reset` never affected it.  Same with es5, that is still the default unless you enable es6 features.  As you can see from the [0.24.1 docs](http://eslint.org/docs/0.24.1/user-guide/command-line-interface#reset), reset only applied to rules.  Syntax checking isn't part of the rules, it looks for invalid JavaScript which would crash if you tried to execute it.  That

[2015-08-03 17:32] IanVS commented on #1978
@frenchben, what is your `.eslintrc`? You will need to specify `ecmaFeatures: { modules: true }` as mentioned in http://eslint.org/docs/user-guide/configuring#specifying-language-options

[2015-08-03 17:45] FrenchBen commented on #1978
@IanVS eslintrc is as follow:

[code]

[2015-08-03 17:47] xjamundx commented on #3196
If *we* do make a new rule, I guess we'd have to create a new rule and then deprecated this one?

- `no-require-modules`
- `no-import-modules`

One argument in favor of making them separate: AMD modules. If we wanted to add a `no-define-modules` really it would be really easy to add that without having a fight as to if it's worth overloading the `no-restricted-modules` rule.

[2015-08-03 17:48] IanVS commented on #1978
Do you get the same error if you run eslint directly, outside of atom?

[2015-08-03 17:53] FrenchBen commented on #1978
It deosn't seem to complain about it - Guess the plugin/package for atom is to blame :[ ?
Package is: https://atom.io/packages/linter-eslint

[2015-08-03 17:54] IanVS commented on #1978
I'd suggest opening an issue there, if one does not already exist.

[2015-08-03 17:56] FrenchBen commented on #1978
will do - thanks for the quick response.

[2015-08-03 18:40] xjamundx commented on #3218
This is so great for things like `_.extend` which we're hoping to discourage :+1:

[2015-08-03 19:21] reviling commented on #3248
Thanks. That clears everything up for me. :)

[2015-08-03 19:30] yaycmyk commented on #2744
@gyandeeps the config I'm going for is
[code]

So basically, the only allowed single-line setup is a one-liner arrow function such as my original example.

[2015-08-03 19:41] #3239 closed

[2015-08-03 19:51] lo1tuma opened #3261 "Rules from shareable configs don’t override inherited rules config"
I have two `.eslintrc` files, one in my project root and one in the folder `test/e2e`.

Each config files extends from a shareable config:
* `.eslintrc` extends `my-shareable-config/es2015` (this enables e.g. the `no-var` rule)
* `test/e2e/.eslintrc` extends `my-shareable-config` (this explicitly disables the `no-var` rule)

If I lint files in the `test/e2e` folder I still get errors from the `no-

[2015-08-03 20:26] wavded opened #3262 "Unexpected error with assessor-pairs"
Running `eslint@1.0.0`:

With the following config:

[code]

Against the following file:

[code]

I get the following error:

[code]

Though I'm not using a setter here and would expect no error.

[2015-08-03 22:05] klamping commented on #3102
This issue is getting me right now for some basic tests I want to use for my shared ESLint config module. In order to share my config as a module, I have to use this format:

[code]

But I also want to create a second config that extends the first and adds a few more rules (for browser based files). To extend it, I need to use:
[code]

Except when I try that, I get parse errors because of the `mod

[2015-08-03 22:12] mysticatea commented on #3254
Yes. Maybe it returns a function scope as expected in `BlockStatement` of `FunctionDeclaration.body`. But it's returning the containing scope at `FunctionDeclaration`, only under `blockBindings: true`.

I will work on this.

[2015-08-04 00:22] mysticatea commented on #3262
Oh... Thank you for the report.

Yes, the rule should check whether or not the object literal is inside of `Object.defineProperty`/`Object.defineProperties`/`Object.create`.

[2015-08-04 01:11] gyandeeps commented on #3261
I am not able to reproduce the issue. I created the similar scenario as described by you.
Can you try running eslint with DEBUG and share the output.

[2015-08-04 01:36] mysticatea commented on #3223
[code]

This is `let` version of one of popular patterns for performance (although needless in V8/JSC).
I made the rule not warning this `end` variable, because this `end` is inside of the loop scope and I cannot make this `end` to be `const` *without changing the scope*. It's a matter of preference: small scoping v.s. const.

In a case of destructuring, I can rewrite the code with `const`, so I'm

[2015-08-04 02:50] #3242 closed

[2015-08-04 02:51] #3254 closed

[2015-08-04 03:05] nzakas commented on #3262
It's the difference between `{ get foo(){} }` and `{ get: function () {}`, so it shouldn't matter where the object literal is being used.

[2015-08-04 03:27] michaelficarra commented on #3262
No, it does matter because the following pattern is detected by this rule:

[code]

[2015-08-04 03:36] michaelficarra commented on #3223
Ah, very good point, @mysticatea.

[2015-08-04 05:08] lo1tuma commented on #3261
Interesting, if I run `./node_modules/.bin/eslint test/e2e` I get no error.

Here is the output with `DEBUG` enabled:

[code]

Only the `test/e2e` folder (exits without error):

[code]

I have also tried to deep freeze the exported config of my shareable config, which works fine if I lint the `test` folder (still with the unexpected `no-var` error), but crashes for the `test/e2e` folder:

[code]

[2015-08-04 05:22] lo1tuma commented on #3261
I figured it out, the problem was on my side.
My shareable config looks like this:

[code]

Each config flavor requires `baseConfig.json` and modifies it a little bit, due to the require cache they are all mutating the same object. So if you use multiple config flavors in the same eslint run it will cause problems.

[2015-08-04 05:22] #3261 closed

[2015-08-04 06:20] resetnow commented on #3095
How do you feel about this part? Is this what's called “equality”?

You might want to lock the discussion then so none of these privileged people can rise any doubts.

[2015-08-04 08:23] raybooysen opened #3265 "Unhandled Error when unknown env keys are used"
Consider the config below.  Due to a mistake a env key "require" was added.  This causes eslint to blow up.  Instead, the env keys should be validated against known values.

[code]

[2015-08-04 09:09] zyklus opened #3267 "`key-spacing.align` doesn't pay attention to non-whitespace before key"
I'll admit my code style is weird, but `key-spacing.align` doesn't actually enforce alignment of values/colons like the documentation states, it enforces the alignment of keys _and_ values/colons.

If this is intended, the docs should be updated (and theoretically the error messages changed).  But I don't think it is:

[code]

these pass:

[code]

what it "wants":

[code]

eslint 0.24.1, `"key-spa

[2015-08-04 10:18] mysticatea commented on #3262
I will work on this.

[2015-08-04 10:23] chandra92 opened #3268 "Configuration for rule "indent" is invalid:"
I have following indent rule in my `.eslintrc` file.
`"indent": [2, 2, {"SwitchCase": 1}]`
Version: `v1.0.0`

And it shows error:
[code]

[2015-08-04 12:09] moretti commented on #3223
Thank you for your clarification, @mysticatea :smile:
I'll close the issue because, like you're saying, it's easier to rewrite the code in a way that avoids the problem.

[2015-08-04 12:09] #3223 closed

[2015-08-04 14:16] gyandeeps commented on #3268
Config looks good me and we have unit test running using the same config.
Are you sure your setup is not accidentally using a different version of `eslint`?

[2015-08-04 14:34] btmills commented on #3267
Right now the rule is checking the length of keys, which I just realized is a really inefficient way to do it, in addition to suffering cases like this. We'd be much better off checking the locations of tokens, either the colon (for `"align": "colon"`) or the token immediately after it (`"align": "value"`).

[2015-08-04 14:40] btmills commented on #3265
This sounds like it would be a good check to add in the [config validator](https://github.com/eslint/eslint/blob/master/lib/config-validator.js).

[2015-08-04 14:49] TimDaub opened #3270 "Rule suggestion: The '&&' subexpression should be wrapped in parens."
Today, a colleague of mine was reviewing my code (we heavily rely on ESLint and it's been awesome for us so far!) and complained about that I'm adding parenthesis to `and` operators that are followed by an `or` operator.
As an example:

[code]

Since I totally agreed with him I started to look for rules in ESLint for exactly that. I only found the rule in JSLint (https://github.com/douglascrockfor

[2015-08-04 14:51] michaelficarra commented on #3095
@resetnow :blue_heart: Thank you. Anybody can feel excluded, not just people with special qualifications. A truly accepting community doesn't have this hierarchy.

[2015-08-04 14:53] robcolburn opened #3271 "Object Rest Spreads not quite working"
Object Rest Spreads aren't quite right in the esilnt though.  You can enable them with `experimentalObjectRestSpread`, however ESLint still considers the resulting variables as not defined.

[code]

[code]

[code]

This is troublesome for React JSX since the feature is recommended by the docs.
https://facebook.github.io/react/docs/transferring-props.html#transferring-with-...-in-jsx

You can somew

[2015-08-04 14:58] michaelficarra commented on #3270
No, this would be adding unnecessary parentheses. We only have a rule that suggests the opposite. I don't think a rule like the one you purpose would be used frequently enough to justify distributing it with eslint.

[2015-08-04 15:27] goloroden commented on #2852
Although I'm not @evilebottnawi, I'm going to answer here ;-)

I have the same problem, and at least for me this is a just an issue with ESLint comments (disabling / enabling a rule) around a `var`, `const` or `let`.

[2015-08-04 15:41] vrde commented on #3270
I disagree. They are not **unnecessary**, they help understand the code better, e.g.:

[code]

Also, eslint is easily configurable to set a rule off, on as a warning or on with an error, so at the end is up to the user or to the team to decide if they want to enforce the rule :)

Moreover, if we consider stackexchange as a good source of information, [developers agree](http://programmers.stackexch

[2015-08-04 15:54] michaelficarra commented on #3270
There is nothing to disagree about here. The parentheses are completely, *objectively* unnecessary: they may be removed, and the program will have identical semantics. You are saying they are *useful* for human readers. "Useful" and "necessary" are two distinct concepts. I was not making a judgement about the usefulness of the parentheses in my comment.

I still don't feel this is a common enough

[2015-08-04 16:02] iamale opened #3272 "Cannot read property 'loc' of null"
I've occasionally run ESLint on [JSON5's test cases][json5-tests] (forgot to add `node_modules` to `.eslintignore`), and it failed. [The test case][the-case] was:

[code]

[json5-tests]: https://github.com/aseemk/json5/tree/master/test/parse-cases
[the-case]: https://github.com/aseemk/json5/blob/master/test/parse-cases/arrays/leading-comma-array.js

My `.eslintrc` file is:

[code]

And the output

[2015-08-04 16:10] nzakas commented on #3196
No, I don't see any reason to deprecate the existing one, I'd just add `no-restricted-imports`

[2015-08-04 16:13] michaelficarra commented on #3272
Looks like the indent rule doesn't handle holes properly.

[2015-08-04 16:19] nzakas commented on #3095
We are working on the language of the CoC to address concerns like this. Overall, though, we will end up with a code of conduct that puts people's safety above all else.

[2015-08-04 16:21] nzakas commented on #2744
In that case, why not omit the braces?

[2015-08-04 16:21] nzakas commented on #3102
@klamping the issue is already marked as accepted, so all we need is someone to work on it. Interested?

[2015-08-04 16:26] nzakas commented on #3265
Agreed.

[2015-08-04 16:26] vrde commented on #3270
Using the distinction between *useful* and *necessary*, [many of the rules](http://eslint.org/docs/rules/#best-practices) eslint enforces are *useful* and not *necessary*. Adding extra parenthesis is *useful* for many reasons, that's why I believe it should be added to eslint.

[2015-08-04 16:27] nzakas commented on #3262
@michaelficarra ah right, I completely forgot about that.

[2015-08-04 16:28] #3262 closed

[2015-08-04 16:31] nzakas commented on #3268
@gyandeeps the schema is wrong: https://github.com/eslint/eslint/blob/master/lib/rules/indent.js#L484

I believe you need to specify that each property is optional.

[2015-08-04 16:33] michaelficarra commented on #3270
Again, I am not disagreeing that some people will believe these unnecessary parentheses are useful. I just don't think *enough* people will believe that. But I have no data that supports that, just my own personal experiences.

[2015-08-04 16:33] raybooysen commented on #3265
Sure, but in the same vein, the throw now gives a more meaningful error. So suggest we do a the config validator test + this change.

[2015-08-04 16:34] gyandeeps commented on #3268
huh, but the unit test pass if I dont specify any option: https://github.com/eslint/eslint/blob/master/tests/lib/rules/indent.js#L228

[2015-08-04 16:36] nzakas commented on #3267
@btmills so is this a bug?

[2015-08-04 16:38] nzakas commented on #3271
I believe this was due to a bug in estraverse, but I can't find the reference now. @mysticatea do you remember this?

[2015-08-04 16:39] nzakas commented on #2852
How would you expect this to behave?

[2015-08-04 16:47] nzakas commented on #3270
Okay, this isn't the way we should be discussing this issue. Rules are not determined by popularity, they are determined by usefulness.

Right now, we have a rule that would flag these parens as unnecessary. So, we can't add a rule that would enforce them otherwise we'd end up with two rules that contradict each other (this is against our policy). The best we could do is have an option that allows

[2015-08-04 16:48] nzakas commented on #3265
I'm sorry, we can't throw an error for this. We just went through a lot of trouble to avoid crashing on misconfiguration, and throwing an error would be a step backwards.

[2015-08-04 17:26] ilyavolodin commented on #3270
I agree, I think this is a good scenario for a custom rule.

[2015-08-04 18:16] mysticatea commented on #3271
Ah... I guess this needs a patch to make references in escope.
https://github.com/estools/escope/blob/master/src/referencer.js#L50-L65

However, that class is private!

[2015-08-04 19:25] nzakas commented on #3271
Can you create an issue on escope for that? Let's see if we can figure out a solution.

[2015-08-04 19:26] #962 closed

[2015-08-04 19:28] robcolburn commented on #3271
@nzakas,
I take it you're referring @mysticatea for that question? I'm afraid I don't understand the boundaries between this project and that one.

[2015-08-04 19:50] #2991 closed

[2015-08-04 21:19] mdouglass opened #3273 "False positive indentation message on single statement blocks within for loops"
test.js:
[code]

.eslintrc
[code]

Result
[code]

If curly braces are added either to the outer for-loop or the inner if-statement, the file passes validation without problem.

This is my first day with eslint, so apologies if I'm missing something obvious.

[2015-08-04 21:21] mdouglass commented on #3273
I believe that the inner statement can be any statement that has a block without braces. for-for, for-while, etc.

[2015-08-04 21:28] nzakas commented on #3271
Yes :)

[2015-08-04 21:29] gyandeeps commented on #3273
Duplicate https://github.com/eslint/eslint/issues/3238
It has been fixed but not yet released.

[2015-08-04 21:30] mdouglass commented on #3273
Darn, tried to search for it before reporting and missed it.  Thanks!

[2015-08-04 21:34] #3273 closed

[2015-08-04 21:36] jfsiii opened #3274 "Detect ternary operator in operator-linebreak rule"
For example, `after` disallows:

[code]

but

[code]

generates no warnings. Should this rule also match a `ConditionalExpression`?

[2015-08-04 21:54] jimbolla opened #3275 "id-length rule doesn't catch violations in arrow function parameters"
For example:

    function sortByString(propertyName) {
        return (a, b) => {
            const
                valueA = a && a[propertyName],
                valueB = b && b[propertyName];

            return (valueA || "").localeCompare(valueB || "");
        };
    }

The rule does not catch `a` or `b` despite the default being min length >= 2.

[2015-08-04 23:54] nzakas commented on #3275
Yup, looks like a bug. Probably just forgot to check arrow functions.

[2015-08-05 00:00] nzakas commented on #3274
I can't recall, but I think this might have been intentionally omitted because people tend to put the `?` and `:` at the front of lines even when everything else is at the end.

Anyone else recall?

[2015-08-05 00:14] xjamundx opened #3276 "Spaced Comment Exceptions Not Working"
I have the following config

[code]

I'm trying the following code:

[code]

It's giving me the following error:

[code]

I would assume that this would  **not warn**, because the docs give a similar example. Maybe it's an issue with `*` or something....

[2015-08-05 00:59] mysticatea commented on #3276
The cause of this is [this `$`](https://github.com/eslint/eslint/blob/master/lib/rules/spaced-comment.js#L114).

And this rule is not checking tailing spaces and exceptions.
Maybe this rule had been `spaced-line-comment` originally and what checks has not been changed...
I thought this rule needs tweaks for block comments.

[2015-08-05 01:25] leebyron opened #3277 "Configure arrow-parens to have opposite behavior"
Our codebase always favors `a => b` instead of `(a) => b` for less visual noise.

It would be great if the `arrow-parens` rule was configurable to ensure no parens are used if the arrow fn only has one argument.

[2015-08-05 01:29] leebyron opened #3278 "Configure arrow-spacing to specify exactly one space."
It would be awesome if eslint could help us ensure that >1 space is marked as a lint failure while exactly one is not.

I anticipate only needing this for the "before" condition, to allow for line breaks after =>

[code]

[2015-08-05 01:43] michaelficarra commented on #3274
That sounds like good enough reason to me. I use that style myself.

[2015-08-05 02:09] pdehaan opened #3279 "Changes to indent rule for empty blocks in eslint@1"
Previously we had code similar to this dummy code below and it looks and linted fine in eslint@0.24.x. Since moving to eslint@1 (awesome work, btw!) it seems like we're getting a few rogue errors like:

---

### dummy.js
[code]

### .eslintrc
[code]

### Output:
[code]

### Workaround:
If I'm understanding this correctly, this seems to be because my "ignore things" function is an empty block and d

[2015-08-05 02:18] jfsiii commented on #3274
IMO, that's a reason for choosing a default value, not a reason to prevent detection.

[2015-08-05 02:27] michaelficarra commented on #3278
I don't think your examples are rendering the way you intended.

[2015-08-05 02:29] michaelficarra commented on #3277
Can you split the second part into its own proposal? :+1: for this one, though.

[2015-08-05 05:12] leebyron opened #3280 "Proposed Rule: No arrow function in conditional block."
http://eslint.org/docs/rules/arrow-parens highlights the potential typo of writing `=>` when you meant `>=` in conditional bodies.

I would prefer a rule which explicitly tackles this particular issue regardless of if the arrow function parameters are wrapped in parens.

Examples:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-08-05 05:13] leebyron commented on #3277
Edited and done :)

[2015-08-05 05:15] leebyron commented on #3278
Ugh, Markdown! Thanks for letting me know

[2015-08-05 05:21] michaelficarra commented on #3280
:+1: This could catch some nasty typos.

[2015-08-05 07:11] mysticatea commented on #3278
There are reasons that `no-multi-spaces` is not used?

[2015-08-05 07:21] mysticatea commented on #3277
Thank you.
I want it, too.

I thought:

[code]

[code]

[2015-08-05 07:33] mysticatea commented on #3280
FYI: There is [a plugin](https://github.com/Jxck/eslint-plugin-arrow-function). Jxck is author of `arrow-parens`/`arrow-spacing`.

This rule looks good to me.

[2015-08-05 08:27] mysticatea commented on #3275
I will work on this.

[2015-08-05 09:25] Semigradsky opened #3281 "Missed `spread` in `es6` env"
For documentation:

But `es6` env does not have `spread` feature: https://github.com/eslint/eslint/blob/master/conf/environments.js

[2015-08-05 09:28] inikulin commented on #1806
@BYK Any progress on this?

[2015-08-05 09:29] BYK commented on #3275
@mysticatea  - Sorry I beat you to it :D

[2015-08-05 09:30] BYK commented on #1806
@inikulin - not yet. Turned a bit more complicated than I expected. You can take over if you are willing to work on it but I plan to get to this by this or next week.

[2015-08-05 09:36] mysticatea commented on #3275
Oh, OK.

[2015-08-05 10:02] raybooysen commented on #3265
Sure thing, I'll switch the PR to add the code to the config validator.

[2015-08-05 10:27] mysticatea commented on #3281
Thank you.

It seems to be missing `spread` and `newTarget`.

[2015-08-05 10:32] mysticatea commented on #3249
I will work on this.

[2015-08-05 10:45] chandra92 commented on #3268
I am using `"parser": "babel-eslint",` in my `.eslintrc` file.

And this is my terminal output(checking version):
`./node_modules/eslint/bin/eslint.js --version
v1.0.0
(ckoo7 scrollback) (master=)$ eslint --version
v1.0.0
(ckoo7 scrollback) (master=)$
`

[2015-08-05 11:06] mysticatea commented on #3268
To make sure, what is a version of `/node_modules/gulp-eslint/node_modules/eslint`?

[2015-08-05 11:09] chandra92 commented on #3268
its `v0.24.1
`

[2015-08-05 11:22] chandra92 commented on #3268
Updating `gulp-eslint` fixed the issue. Thanx @mysticatea

[2015-08-05 11:22] #3268 closed

[2015-08-05 13:40] btmills commented on #3267
In the case with leading commas, definitely - we should support that. Leading comments... potentially, but let's just fix both cases all at once with the token locations.

[2015-08-05 14:04] inikulin commented on #1806
I'm working on it.

[2015-08-05 14:21] gyandeeps commented on #3279
Multiline is a known issue.
Kinda related https://github.com/eslint/eslint/issues/1801

[2015-08-05 14:24] BYK commented on #1806
Alright then.

[2015-08-05 14:42] raybooysen commented on #3265
Just pushed a change to the PR, before I continue, is this the approach you'd favour?

[2015-08-05 15:08] nzakas commented on #3276
Related: #2897

[2015-08-05 15:09] nzakas commented on #3274
@jfsiii can you explain more what you mean by that?

[2015-08-05 15:11] nzakas commented on #3278
@leebyron here @mysticatea is correct, we have a rule that bans multiple spaces in a row. Does that solve your use case?

[2015-08-05 15:20] nzakas commented on #3277
:+1: to @mysticatea's proposal

[2015-08-05 15:22] nzakas commented on #3280
Makes sense. Maybe `no-arrow-condition`?

[2015-08-05 15:22] nzakas commented on #3275
@byk please be sure to add a comment on any issue you're working on so we can avoid duplication of effort.

[2015-08-05 15:24] #3275 closed

[2015-08-05 15:25] #3249 closed

[2015-08-05 15:28] nzakas commented on #3279
@gyandeeps so is this a new bug? Or is it covered by another issue?

[2015-08-05 15:29] nzakas commented on #3265
I believe so. @btmills can you take a look? #3266

[2015-08-05 15:53] xjamundx commented on #3277
Happy to work on this if @mysticatea hasn't started.

[2015-08-05 16:04] litzebauer opened #3284 "Unable to override indent rule"
I am trying to extend the Airbnb rules which use "indent": [2, 2].  In my rules I have "indent": 2 for 4 space indents.  Using Eslint version 1.0.0.

#### Errors
* 8:9   error    Expected indentation of 6 characters but found 8  indent
* 15:6   error    Expected indentation of 6 characters but found 4  indent
* 16:2   error    Expected indentation of 2 characters but found 0  indent

#### Source
[

[2015-08-05 16:04] xjamundx commented on #2897
I'll throw up a proposed solution to this problem and am happy to work on it as I'm running into similar issues.

[2015-08-05 16:14] TheSavior opened #3285 "Rule to require defining prototype functions with Object Notation"
I would like to have a rule where the following are warnings:

[code]

And the following is considered valid:
[code]

[2015-08-05 16:20] litzebauer commented on #3284
Changing my rule to "indent": [2, 4] resolved my issue.

[2015-08-05 16:20] #3284 closed

[2015-08-05 16:29] btmills commented on #3265
Yep, that's the right direction! We'll code review the PR when you tell us it's ready.

[2015-08-05 16:31] BYK commented on #3275
@nzakas will do

[2015-08-05 16:35] BYK opened #3286 "id-length rule does not detect all possible cases for defining identifiers"
Forked off of #3282, specifically https://github.com/eslint/eslint/pull/3282#issuecomment-127937612 reported by @mysticatea

`id-length` rule does not support the following cases:

       {
            code: "class x { }",
            ecmaFeatures: {classes: true},
            errors: [{ message: "Identifier name 'x' is too short. (< 2)", type: "Identifier"}]
        },
        {
            code:

[2015-08-05 16:35] BYK commented on #3286
I am working on this.

[2015-08-05 16:49] michaelficarra commented on #3285
What's the motivation behind this?

[2015-08-05 17:33] thedark1337 opened #3287 "no-invalid-this rule false positive"
I was running ESLint through my project and encountered an issue with the no-invalid-this rule.

ESLint version 1.0.0 and the output:
![screenshot_2](https://cloud.githubusercontent.com/assets/3173170/9092811/04dd13ac-3b6e-11e5-854f-745c2fad5176.png)

This is the code I was linting: https://ghostbin.com/paste/jfgjn

Log.apply(this, args); is where the error shows up.

I am using my own ESLint [con

[2015-08-05 18:09] TheSavior commented on #3285
Readability, preference, consistency. Same as most rules. :)

[2015-08-05 18:26] jfsiii commented on #3274
IMO, common usage should influence the API or defaults; not prevent the rule from working correctly (detect & enforce position of operators).

I used `after` in the notes, but the same issue exists for `before`. As written,  `before` and `after` values ignore `ConditionalExpression`s. This allows non-compliant code styles to avoid detection.

Say one wants `?` & `:` to start a line. Shouldn't the

[2015-08-05 20:44] gre opened #3288 "ES6: when exploding an array, eslint complaints of unused"
[code]

`* is defined but never used`  error will appear for `x, y, w, h, pageX`, but it should not because I'm using the latest pageY

[2015-08-05 20:54] bgw opened #3289 "no-spaced-func tends to report on the wrong line with long function chains"
Given code like:

[code]

Here the error is on the last line, but since `no-spaced-func` reports on the function callee, it reports on the `MemberExpression` and the output shows the first line.

Instead if the callee is a `MemberExpression`, it should report on `node.callee.property`, or alternatively `lastCalleeToken`.

**Edit**: Yes, I'd be willing to work on this.

[2015-08-05 23:02] feross opened #3291 "indent bug with braceless for loops"
Using eslint 1.0.0 and this config:

[code]

This code:

[code]

Gives these unexpected errors:

[code]

[2015-08-06 00:57] gyandeeps commented on #3291
Duplicate #3238
It has been fixed but not yet released.

[2015-08-06 01:00] Jxck commented on #3280
welcome to PR my plugin code for this rule :)

[2015-08-06 01:10] Jxck opened #3292 "Proposed Rule: No arrow function in conditional block"
http://eslint.org/docs/rules/space-before-function-paren covers space before function parens.

I would prefer a rule to care space **after** function parens.
maybe named as space-after-function-paren.

## example

The following patterns are considered warnings with `never`

[code]

The following patterns are not warnings with `never`

[code]

[2015-08-06 04:26] mysticatea commented on #3287
Thank you for the report.

I can reproduce that. I will work on this today (JST).

[2015-08-06 04:32] mysticatea commented on #3287
For an first aid: puts the comment after `return`.:

[code]

[2015-08-06 05:32] mysticatea commented on #3277
I has not started, please do!

[2015-08-06 05:35] mysticatea commented on #3286
:+1:

[2015-08-06 05:36] mtsweir commented on #1694
Not sure if I'm in the right place to post my issue, when I run grunt I get this error, I have installed the pushy via bower into the project which when I add the jquery to the main.js file I get this error.

This is the bower package file
https://github.com/christophery/pushy

Error below:

app/scripts/main.js
   4:0   error  "$" is not defined                             no-undef
   4:18  error

[2015-08-06 05:46] mysticatea commented on #3288
Thank you for the report.

I thought this is an correct behavior.
You can use one of below:

[code]

[code]

[code]

However, `const [ x, y, w, h, pageX, pageY ] = measure;` is self-described and readable, so I will not oppose supporting this.

[2015-08-06 05:51] mysticatea commented on #3289
Looks good to me.

[2015-08-06 06:08] michaelficarra commented on #3288
This issue has been raised before, and I believe the consensus was to use holes, as @mysticatea shows.

[2015-08-06 06:14] mysticatea commented on #3292
Thanks.

I guess `space-before-blocks` covers it.

[2015-08-06 06:24] Jxck commented on #3292
It works, thanks.

[2015-08-06 06:24] #3292 closed

[2015-08-06 07:05] goloroden commented on #2852
IMHO the rule `newline-after-var` should ignore lines after `var` that contain `eslint-disable`.

[2015-08-06 07:22] datatypevoid commented on #2346
+1 @lo1tuma

[2015-08-06 10:02] iamstarkov opened #3293 "eslint-global-vs-local"
global eslint cannot see local packages. And it kinda wrong: other tools like mocha, karma, grunt and gulp, user local versions of itself if it exists.

You can see the problem. You can run `eslint index.js` and `npm run eslint` in this repo

_index.js:_

    var some = '';

which violate airbnb codestyle. _.eslintrc:_

    { "extends": "eslint-config-airbnb" }

_package.json scripts field:_

[2015-08-06 10:21] mysticatea opened #3294 "Feature Request: `no-dupe-keys` covers classes."
## test.js

[code]

## Actual

[code]

## Expected

[code]

Note: allows same names between static and non static.

[2015-08-06 10:36] gre commented on #3288
Oh yeah, I've forgotten about this es6 feature. Make sense, thanks
On Aug 6, 2015 02:08, "Michael Ficarra" <notifications@github.com> wrote:

[2015-08-06 10:37] #3288 closed

[2015-08-06 13:37] t128 opened #3296 "[rule: spaced-comment] shebang errors if followed by import"
errors:
[code]

works w/o errors:
[code]

[code]

[2015-08-06 13:50] xjamundx commented on #3293
dup of #1238

[2015-08-06 13:56] iamstarkov commented on #3293
Yeah, I considering to change this behaviour. I dont think its hard to fix, because a lot of tools, already implemented it. And this is backward compatible change, so we dont need to wait until 2.0 to happen

[2015-08-06 13:58] xjamundx commented on #3293
FWIW I think the "correct" approach is to install it locally, though it's a harder sell for most people. For example, non-node.js projects would not likely ever do that.

[2015-08-06 14:03] iamstarkov commented on #3293
it’s correct, but global eslint which use local node_modules as environment, is just slight improvement. because, yes, as you say its better to have it locally, but then eslint command will not work =(.

[2015-08-06 14:04] xjamundx commented on #2820
Now that we do support rest object is this a valid issue?

[2015-08-06 14:05] iamstarkov commented on #3293
Right now, I have a problem, that I have local and global eslint, and `eslint` is shorter than `npm run eslint` to type and I think that eslint is smart enough (as other tools) to switch cli to local one in node_modules. So, I’m not considering break things, but use local things, if they are available.

[2015-08-06 14:14] IanVS commented on #3293
You can also install eslint-config-airbnb globally if you want to use your global eslint. It's maybe not ideal but it should work.

What other tools are smart enough to add themselves to the $PATH inside of a node project? That would be a neat trick I'd like to know how to do.

[2015-08-06 14:17] iamstarkov commented on #3293
I can, but then local eslint-config-airbnb will nothing in common with global one. its not what I want. I only want to have `eslint` shortcut to local copy of eslint.

As far as I know, karma do this

[2015-08-06 14:35] IanVS commented on #3293
Yes, that's why I said it's not ideal.

Looks like Karma has a separate cli tool to resolve the version: https://karma-runner.github.io/0.13/intro/installation.html

[2015-08-06 15:51] SamuelBolduc opened #3299 "Rule for spaces around "=" character"
I looked through the available rules but I can't seem to find how to enforce having spaces around a `=` character.

This should give a warning:
`const my_object={key: 'value'};`

This should not give a warning and should be considered valid:
 `const my_object = {key: 'value'};`

Is there already a rule to enforce this?

[2015-08-06 15:54] raybooysen commented on #3265
PR ready for your review

[2015-08-06 15:57] nzakas commented on #1694
Please file an issue with pushy

[2015-08-06 16:01] nzakas commented on #3274
Thanks for explaining. We should definitely do something here, just not sure what yet.

[2015-08-06 16:06] #1806 closed

[2015-08-06 16:06] #3291 closed

[2015-08-06 16:07] #3236 closed

[2015-08-06 16:08] nzakas commented on #3289
:+1:

[2015-08-06 16:11] nzakas commented on #2346
I believe all concerns have been addressed here, so closing.

[2015-08-06 16:11] #2346 closed

[2015-08-06 16:12] nzakas commented on #3294
I'm not sure this should work on classes because they aren't object literals. Maybe a new rule?

[2015-08-06 16:16] #3287 closed

[2015-08-06 16:17] nzakas commented on #3296
Per the last comment, we still need the following to triage your issue:

1. The configuration you're using (for the rule or your entire config file)
1. The actual ESLint output complete with line numbers

[2015-08-06 16:20] michaelficarra commented on #3294
Who would ever want to configure them individually? Really, nobody is going to want to disable either of these rules. They are clearly always errors. My vote is for just updating the existing rule to support classes.

[2015-08-06 16:27] nzakas commented on #3299
I don't believe so. We should definitely have one.

[2015-08-06 16:46] Sequoia opened #3300 "No defaults?"
ESLint seems to install with **no** rules enabled by default. Apparently in older versions of eshint, there were "sensible defaults" turned on and you could disable them.

I understand the motivation here: allow each person to set up their own config, avoid opinions etc, but this makes eslint **much** much more time-consuming (and confusing) to set up. One benefit of jshint is that you could learn

[2015-08-06 16:49] IanVS commented on #3300
There are no defaults, that's true, but it's very easy to pull in a set of recommended rules.  Please read the [migration guide](http://eslint.org/docs/user-guide/migrating-to-1.0.0#all-rules-off-by-default) for information how to do it.

[2015-08-06 17:00] Sequoia commented on #3300
Ah, thanks! I could not find that migration guide anywhere in your menus... where is it? [Google doesn't find any links to in anywhere.](https://encrypted.google.com/search?hl=en&q=link%3Ahttp%3A%2F%2Fjslint.org%2Fdocs%2Fuser-guide%2Fmigrating-to-1.0.0)

This should be one of the first things new users see when attempting to set up eslint for the first time, imo. "Here's how you install, here's a

[2015-08-06 17:04] IanVS commented on #3300
Yes, thanks for the feedback.  The migration guide is linked from the [1.0.0 blog post](http://eslint.org/blog/2015/07/eslint-1.0.0-released/), but I agree it's easy to miss.  There is an issue (https://github.com/eslint/eslint.github.io/issues/101) to make the installation/setup instructions more clear and prominent.

And quickstart is actually to run `eslint --init` after installing.  :)

[2015-08-06 17:11] Sequoia commented on #3300
OK. had to go to CLI page to find that; it's not on the configuration page. Anyway that makes homepage quickstart guid even shorter!

1. `npm i -g eslint`
2. `eslint --init`

And away you go! :smile_cat:

[2015-08-06 17:11] Sequoia commented on #3300
happy to send content PR if docs are on repo.

[2015-08-06 17:13] IanVS commented on #3300
Thanks, I already made a PR in fact(https://github.com/eslint/eslint.github.io/pull/107), there are just a few things I need to clean up I think.

[2015-08-06 18:07] nzakas commented on #3300
@Sequoia this information is also on the README, which can be viewed both on GitHub and on npm. We're working on improving the landing page for eslint.org via the ticket @ianvs mentioned, so closing this.

[2015-08-06 18:07] #3300 closed

[2015-08-06 18:26] IanVS commented on #3299
What should it be called?

[2015-08-06 18:49] garborg opened #3302 ""object-curly-spacing" insconsistently applied in imports"
[code]

To verify, clone [garborg/eslint-curly-test](https://github.com/garborg/eslint-curly-test) and `npm install && npm start`.

[2015-08-06 18:55] garborg commented on #3302
eslint -v -> 1.0.0

eslint output -> no errors, missing errors are noted in comments in snippet above

[2015-08-06 18:59] garborg opened #3303 "Can't require space inside block curly"
I've searched far and wide, through issues and  `spac*`-, `curly`-, and `block*`- related rules, but I couldn't find anything that worked:
Can I make the missing space inside this curly an error?:
`function nop() {return; }`

Am I missing something?
If not, I'll open a feature request.

[2015-08-06 19:02] sashaperigo opened #3304 "`Cannot read property 'type' of undefined at isSemicolon`"
I'm getting this error (using `webpack` with `eslint-loader` and `babel-parser`):
<blockquote>
node_modules/.bin/eslint app
/Users/sashaperigo/DataManager/node_modules/eslint/lib/rules/semi.js:36
        return (token.type === "Punctuator" && token.value === ";");
                     ^
TypeError: Cannot read property 'type' of undefined
    at isSemicolon (/Users/sashaperigo/DataManager/node_modu

[2015-08-06 19:04] sashaperigo commented on #3131
I'm running into this same issue. Reverting to an older version of our `npm-shrinkwrap.json` temporarily fixed the issue, but I filed a new issue anyways because this should be resolved.

[2015-08-06 19:17] btmills commented on #3304
What is the source code that caused this problem? Does the same thing happen using the default espree parser?

[2015-08-06 20:48] BYK commented on #3286
I have an almost done patch but holding it for the `({a: obj.x}) = {};` pattern which is quite tricky to handle.

[2015-08-07 00:18] estk commented on #3210
The const behavior is kinda weird. Is a fix planned?

[2015-08-07 01:45] tqc commented on #948
I'm looking at implementing this based on changes made in #3217 to fix #1025. I can see a couple of possibilities for the API:

Make parse a public method

    var code = new SourceCode(text, linter.parse(text, config));
    doSomething(code.parseResult);
    linter.verify(code, config);

Add a method similar to the existing getAllComments

    linter.verify(text, config)
    var code = linter.get

[2015-08-07 02:29] mysticatea commented on #3294
I thought the name of `no-dupe-keys` focuses on `keys` (== properties), and method definitions also are `keys`. So I believe `no-dupe-keys` should cover classes.

However, I'm worried that this is a breaking change or not.

[2015-08-07 06:08] sindresorhus commented on #3065
:+1: I do this too for the sake of readability.

[2015-08-07 06:57] sindresorhus opened #3306 "`strict` option should take `env` into account"
http://eslint.org/docs/rules/strict

## Problem

In Node.js it makes sense to use the `global` mode as files are implicitly wrapped in an IIFE by the runtime so you can safely put the use strict statement at the top of the file, but in the browser you'd want to use the `function` mode as you don't want to leak the use strict statement.

## Solution

Implement an `auto` mode to the `strict` option,

[2015-08-07 07:43] sindresorhus opened #3307 "Return range in the lint result"
Currently ESLint returns the `line` and `column` when linting. However, with editor plugins it would be useful to get the full range so instead of just visually showing where the violation starts it could mark the whole range of the violation.

For example, [here](https://github.com/AtomLinter/linter-eslint/blob/923ae69c1809ea85e0013daec266926ebb7aed77/lib/linter-eslint.coffee#L119) the Atomlinter

[2015-08-07 07:54] cvrebert opened #3308 "no-implicit-coercion: Separate options for !!x and ~x.indexOf("y") [$15]"
Currently, the `boolean` option of `no-implicit-coercion` controls both of these. I think it would be nice to be able to control/(dis)allow these separately.
Personally, I find `!!` tolerable but the `~` hack too obscure.

<bountysource-plugin>
---
There is a **[$15 open bounty](https://www.bountysource.com/issues/25472013-no-implicit-coercion-separate-options-for-x-and-x-indexof-y?utm_campaign=pl

[2015-08-07 08:19] cvrebert opened #3309 "Typo in changelog ("arrow-paces")"
Circa 1.0.0, the changelog currently says:

It should say:

[2015-08-07 08:26] SimenB opened #3310 "ES6: Disallow string concatenation (use template strings)"
Warn on
[code]

Correct is

[code]

Tried searching for similar issue, surprised I didn't find it. Apologies it it exists already

[2015-08-07 08:39] donaldpipowitch opened #3311 "Customize environments"
Hi, I'd like to use environments, but with little customizations. I use `"jasmine": true`, but I'd like to exclude `fit` and `fdescribe`, because I don't want them to get accidentally committed. Using something like `"globals": { "fit": false }` doesn't work.

Is this possible?

[2015-08-07 08:56] cvrebert commented on #3017
@xjamundx That would be a great addition to the docs. I agree that the current docs appear to imply that spaces aren't allowed in `/*global` etc.

[2015-08-07 09:01] t128 commented on #3296
oh, sorry

[code]
[eslint-config-airbnb](https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/.eslintrc)

[code]

[2015-08-07 09:24] cvrebert opened #3313 "spaced-comment: Treat exclamation in /*! as part of the comment delimiter"
`/*!` is the de facto standard opening delimiter for comments which JS source code transformers should preserve. Currently, using it runs afowl of ` "spaced-comment": [2, "always"]`. For example, ESLint will complain about:
[code]

Since this isn't a docblock-style comment, adding `!` to `markers` isn't appropriate. And I'm not using `!` as a header line-art character (a la `-` in `//-------------

[2015-08-07 09:25] cvrebert commented on #3310
X-Ref: http://jscs.info/rule/requireTemplateStrings.html

[2015-08-07 11:17] mysticatea commented on #3285
It looks anti-patterns to me.

Because:

- `MyObj.prototype.constructor` becomes wrong object.
- To add enumerable properties into the builtin prototypes confuse `for-in` loops.

[2015-08-07 11:29] mysticatea commented on #3307
:+1:

However, I guess it shows wrong ranges if semicolons are omitted.
Related: https://github.com/eslint/espree/issues/41

[2015-08-07 11:39] mysticatea commented on #3310
Thank you!

This is a duplicate of #3014.
I want to work on that after bug fixes for v1.0.0.

[2015-08-07 11:40] honzabrecka commented on #3034
I think that those extra parenthesis around JSX makes code more readable, so it should cause error.

[2015-08-07 11:46] SimenB commented on #3310
Ah, there we go. Thanks :smile:

[2015-08-07 11:46] #3310 closed

[2015-08-07 12:24] mysticatea commented on #3296
Umm, I cannot reproduce that with minimal set.

## .eslintrc

[code]

## test1.js

[code]

## test2.js

[code]

## Actual

[code]

No errors.

[2015-08-07 12:32] mysticatea commented on #3296
Reproduced with `babel-eslint`.

[code]

[code]

[2015-08-07 12:34] IanVS commented on #3309
Thanks, would you like to submit a PR to fix it?

[2015-08-07 13:30] t128 commented on #3296
so it's a babel problem?

[2015-08-07 13:37] SimenB opened #3315 "Empty catch block and no-empty, // Do nothing doesn't help"
Wow, a really bad title... Suggestions? :laughing:

I'm having an issue with the `no-empty`-rule. From the [docs](http://eslint.org/docs/rules/no-empty.html#rule-details), putting in `// Do nothing` should make it not error, but I'm still getting the error...

[code]

Using `eslint@1.0.0`
eslint output:
[code]

config:
[code]

[2015-08-07 13:47] #3272 closed

[2015-08-07 13:48] iamale commented on #3272
:+1:; thanks!

[2015-08-07 13:49] nzakas commented on #3302
Maybe an issue with having multiple imports in one statement.

[2015-08-07 13:50] nzakas commented on #3303
I don't believe we have a rule for this at the moment. I'm assuming this would apply only if the curlies are on the same line?

[2015-08-07 13:53] #3289 closed

[2015-08-07 13:53] #3281 closed

[2015-08-07 13:57] nzakas commented on #3306
Rules cannot change their behavior based on which environments are used. Keep in mind, you can apply both `node` and `browser` environments at the same time. Can you explain more about what you're trying to do?

[2015-08-07 13:59] nzakas commented on #3065
We'd need some generic way to do this, since these are all BinaryExpression nodes, but this rule applies not just to those types of nodes. Suggestions?

[2015-08-07 13:59] nzakas commented on #3311
What doesn't work about this?

[2015-08-07 14:00] #2134 closed

[2015-08-07 14:05] michaelficarra commented on #3065
@sindresorhus Then why don't you just disable this rule? What are you using it for at that point?

[2015-08-07 14:46] garborg commented on #3303
My goal is to require (horizontal or vertical) whitespace after any `{` and before any `}` (excepting `{}`) that occur outside of comments and templates (or inside interpolated js in templates, -- I was pleased "react/jsx-curly-spacing" respects "object-curly-spacing" inside outer curlies, for instance).

"object-curly-spacing", and "brace-style" get me most of the way there. I was going to say I'

[2015-08-07 14:46] gyandeeps commented on #3270
Related https://github.com/eslint/eslint/issues/3270

[2015-08-07 16:32] keradus opened #3316 "Invalid character in webpage docs"
http://eslint.org/docs/rules/id-match

see the hyphen before `Phil Karlton`.

In repo (https://github.com/eslint/eslint/blob/9a972612cb7b5b55681a50252dbce08dfba0a6fd/docs/rules/id-match.md) it looks ok, so perhaps this is a problem with parsing md into html ?

[2015-08-07 16:32] TheSavior commented on #3285
@mysticatea Can you elaborate on your points. What do you mean by "wrong object" and "confuses `for-in` loops"?

[2015-08-07 16:38] nzakas commented on #3313
Have you tried specifying "!" as a marker? `markers: ["!"]`

[2015-08-07 16:55] michaelficarra commented on #3285
@TheSavior You're setting the prototype object, losing the original `prototype.constructor` reference. And you're adding enumerable fields to the prototype, so for-in will iterate over them, something most people would not expect. These problems are the reason why you're one of the few people that prefer this pattern.

[2015-08-07 17:00] spadgos opened #3317 "no-extra-parens and no-cond-assign ("except-parens") don't play well"
Maybe I'm missing something, but it seems to be impossible to use the `no-extra-parens` rule alongside `no-cond-assign`, with its exception for conditionals wrapped in parentheses (the default).

That is, there's no way _(that I've found)_ to express this code without an error with both of the rules turned on:

[code]

`no-cond-assign` by default requires assignments within conditionals to be wrap

[2015-08-07 17:03] michaelficarra commented on #3317
I would not want this to be the default, but that sounds like a useful option.

[2015-08-07 17:23] ljharb commented on #3065
@michaelficarra For every other expression value? I don't want extra parens around strings, ternary conditionals - the only thing I want to allow 1 extra paren around is binary expressions. Someone could do `var x = (3);` and that shouldn't be allowed, to use a contrived example.

@nzakas What about using the esprima node type in a list of exceptions? Kind of like https://github.com/jscs-dev/node-

[2015-08-07 17:29] silverwind commented on #3306
The leaked strict mode is a concern when you bundle up scripts written for different modes.  I'm not sure if a `'use strict'` gets hoisted or not, but it sure will affect all scripts following it.

Unfortunately, it's probably impossible to determine whether a file is going to be ran in a browser or node.

[2015-08-07 17:32] ilyavolodin commented on #3293
This has been discussed before. The reason other tools like Grunt work when installed globally with local packages, because they split their distribution into multiple pieces. Grunt has GruntCLI and Grunt as separate packages. You only install GruntCLI globally, and then you use Grunt as a local package. We do not want to maintain two separate packages.
I'm not aware of any way of making it work w

[2015-08-07 17:39] ilyavolodin commented on #3307
I think this would be great to add. Unfortunately, it requires manually modifying every single rule we have (or at least most of them).

[2015-08-07 17:41] ilyavolodin commented on #3315
Your .eslintrc doesn't show it, but are you using `babel-eslint` by any chance?

[2015-08-07 17:42] ilyavolodin commented on #3311
I think the intention was to remove global variable `fit` with that comment. But globals can't be removed currently.

[2015-08-07 17:45] anselmbradford opened #3318 "no-process-env not to use copy is unclear"
https://github.com/eslint/eslint/blob/master/docs/rules/no-process-env.md#when-not-to-use-it reads:

[code]

Is this unclear to anyone else? What does this mean?

[2015-08-07 17:47] anselmbradford commented on #3318
How about instead:

[code]

[2015-08-07 17:48] SimenB commented on #3315
`airbnb` config uses babel, yeah

[2015-08-07 17:48] ilyavolodin commented on #3315
I think babel-eslint is stripping comments. At least it was at some point. Could you test the same setup with Espree?

[2015-08-07 17:50] ilyavolodin commented on #3285
I always used this style with Backbone, due to the fact that Backbone uses _.extends for inheritance and doing a `for-in` on the model is a bad idea to begin with. So I though that I could use a rule like that. But now I actually think it should not be in the core. It's a good use-case for a plugin though.

[2015-08-07 17:51] nzakas commented on #3065
The nodetype alone wouldn't be enough, though, because you want to focus in on the operators being used.

[2015-08-07 17:57] donaldpipowitch commented on #3311
Yes, this was my intention. I thought I could disallow a global variable that way.

[2015-08-07 18:46] alexindigo opened #3319 "valid-jsdoc is failing at hyphen in @alias module:module-name"
Examples:

- fails
[code]

- works
[code]

- works
[code]

.eslint
[code]

version:
[code]

actual log:
[code]

[2015-08-07 19:06] xjamundx commented on #3302
Will look into it today.

[2015-08-07 19:12] xjamundx commented on #3303
@garborg between es6 arrow functions and multi-line functions is this something you're seeing a lot of? generally i'd suggest just not allowing single line function which solves the problem nicely :)

[2015-08-07 19:19] cvrebert commented on #3313
Okay, that does work. The "docblock" reference (apparently that's PHP jargon) and misreading one of the examples threw me off. Sorry!

[2015-08-07 19:19] #3313 closed

[2015-08-07 19:23] cvrebert commented on #3309
No. Also, PRs would still leave https://github.com/eslint/eslint/releases with typos.

[2015-08-07 19:31] BYK commented on #3306
I also have this problem and had to disable this rule when transitioning into v1.0.0

The problem is `Gruntfile` being run on NodeJS but most other files running in the browser via AMD. We want the "function" version for browser files and the global one for the ones running on NodeJS.

[2015-08-07 20:39] garborg commented on #3303
I suppose not so much for that example, but it is in my code, and solving the problem would also require disallowing ever everything else covered by `"brace-style"`'s `"allowSingleLine": true`, which is farther than I'd like to go.

[2015-08-07 20:47] xjamundx commented on #3303
This really doesn't fall under the title of `object-curly-spacing` though it would be easy to add to that rule. Any obvious place to put this? `padded-blocks`? Or does it deserve its own rule?  `function-curly-spacing`  ?

[2015-08-07 20:52] garborg commented on #3303
Probably not `function-*`, because it would apply to `if` and the like, as well. I'm not sure if fits under `object-curly-spacing` any less than the already-covered destructuring, but agreed that it doesn't fit the name.

[2015-08-07 21:28] xjamundx commented on #3276
Investigating....

[2015-08-07 21:28] gyandeeps commented on #3319
Can you log an issue with `doctrine` module as we use that to evaluate jsdoc.

[2015-08-07 21:30] #3277 closed

[2015-08-07 21:32] #3302 closed

[2015-08-07 21:41] xjamundx commented on #3276
Yeah `exceptions` are not working properly for block comments. There are 0 test for them.

[2015-08-07 22:00] spadgos opened #3322 "Regression no-catch-shadow (1.1.0)"
It looks like 1.1.0 introduced a regression in the `no-catch-shadow` rule: it now complains about every `catch`.

[code]
"Value of 'e' may be overwritten in IE 8 and earlier  no-catch-shadow"

[2015-08-07 22:28] garborg commented on #3302
Appreciate the quick resolution, @xjamundx!

[2015-08-07 22:55] mysticatea commented on #3303
How about `block-spacing` which covers BlockStatement, SwitchStatement, and CatchClause?

[2015-08-07 23:02] xjamundx commented on #2897
So the suggestion is the following?

Current options:
- `"spaced-comment": [2, "always"]`
- `"spaced-comment": [2, "never"]`
- `"spaced-comment": [2, "always", { exceptions: [], markers: [] }]`

Proposed Options:

- `"spaced-comment": [2, "always"]`
- `"spaced-comment": [2, "never"]`
- `"spaced-comment": [2, "always", { block: false }]`
- `"spaced-comment": [2, "always", { exceptions: [], markers:

[2015-08-08 00:01] leebyron opened #3324 "object-curly-spacing false-positive with es6 import with trailing comma"
version: 1.0.0

[code]

with rule:

[code]

reports:

[code]

But I expected no error.

[2015-08-08 00:03] IanVS opened #3325 "Return source for fatal errors"
Currently, when a parsing (`fatal`) error occurs, the `source` is not included in the message that ESLint returns.  It may be worthwhile to investigate whether the source could be returned, which is used in some formatters to show clearly where the problem is.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25500931-return-source-for

[2015-08-08 00:04] xjamundx commented on #2318
Currently I'm disallowing them to be children of a block, but I found a few other cases we might like to include. What are your thoughts?

- `code: "var x = (x => require(x))('weird')",`
- `code: "switch(x) { case '1': require('1'); break; }",`

[2015-08-08 00:05] xjamundx commented on #2318
I'll push up my partial implementation just for discussion (early...)

[2015-08-08 01:03] alexindigo commented on #3319
Done. Thanks.

[2015-08-08 01:10] sindresorhus commented on #3065
Lots of things. Like preventing the following (which I often see in PRs):

[code]

[2015-08-08 02:43] gyandeeps commented on #3325
Do we need to do this here or inside `espree` project.

[2015-08-08 05:04] michaelficarra commented on #3065
Okay, then how about we add an option to allow binary expressions within other binary expressions to be parenthesised, regardless of whether they're necessary?

[2015-08-08 05:52] ljharb commented on #3065
At first glance that seems both reasonable and like it would entirely cover my use cases.

[2015-08-08 09:53] targos opened #3327 "Indent rule errors if nested callbacks end on the same line"
Rule:
[code]

Code:
[code]

Error:
[code]

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-08 10:12] targos opened #3328 "Indent rule errors if an array literal starts a new statement"
This issue appeared with v1.1.0.

Rule:
[code]

Code:
[code]

Error:
[code]

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-08 10:26] targos opened #3329 "Indent rule errors with array of objects"
This issue appeared with v1.1.0.

Rule:
[code]

Code:
[code]

Error:
[code]

Cross-reference: https://github.com/nodejs/io.js/pull/2286

[2015-08-08 14:09] garborg commented on #3303
I like that.

[2015-08-08 14:37] GianlucaGuarini commented on #3226
[we](https://github.com/riot/riot) can not upgrade eslint because of this issue. Is there any milestone assigned to this issue?

[2015-08-08 20:40] spalger commented on #3272
Could this change be why I'm now getting indent errors for code like this?
[code]

[2015-08-08 22:40] slacktracer opened #3333 "`object-shorthand` and "unexpected token }""
Having this piece of code:

    // test.js
    'use strict';
    function f(value) {
        return {
            value
        };
    }
    let o = f('some value');
    console.log(o);

And this .eslintrc:

    {
        "rules": {
            "object-shorthand": [
                2,
                "always"
            ]
        }
    }

I get the following:

      5:6  error  Unexpected token }

[2015-08-08 22:42] slacktracer commented on #3333
I'm using eslint v1.1.0.

[2015-08-08 23:12] michaelficarra commented on #3333
Looks like a parser bug. Please report to espree.

[2015-08-09 09:02] doberkofler commented on #2897
@xjamundx I think the option for line and block should rather be completely separated as if it would be two different rules as suggested by @nzakas

[code]

[2015-08-09 09:17] doberkofler opened #3334 "Setting the directory for custom rules (--rulesdir command line option) in the configuration file"
I was wondering, if there is a way to specify the directory where the custom rules reside in the (.eslintrc) configuration file?

[2015-08-09 09:22] doberkofler commented on #3334
duplicate (unfortunately this option will be removed)

[2015-08-09 09:22] #3334 closed

[2015-08-09 12:31] sateffen opened #3336 "no-cond-rules: expect-parens must be an enum value"
Hi there,

I've got a problem with eslint, and I don't know how to deal with it anymore.

I have a [boilerplate](https://github.com/sateffen/node-package-boilerplate) for my node packages, that provides me with a eslintrc file, that I'm using for quite a while now. After updating to `grunt-eslint` version `16.0.0` eslint didn't work, but I forgot about it. Now I updates `grunt-eslint` to 17.1.0 an

[2015-08-09 14:37] olalonde commented on #3296
Having same issue here. For some strange reason, it only gives me this error on some files and others not.

[2015-08-09 14:39] olalonde commented on #3296
So I found out that:

[code]

gives a spaced-comment error, while this does not:

[code]

[2015-08-09 17:33] sindresorhus commented on #3065
:+1:

[2015-08-09 19:42] SimenB commented on #3315
You are correct. See babel/babel-eslint#141
Seems like it's a `wontfix` following the links... :cry:

[2015-08-09 19:42] #3315 closed

[2015-08-09 22:53] ilyavolodin commented on #3311
@donaldpipowitch `false` just means that this global variable is not writable. Currently there is not way to remove globals that were already declared.

[2015-08-10 00:48] IanVS commented on #3336
Hi, looks like a simple typo in your config.  The option is `except-parens`, but you have `expect-parens`.

[2015-08-10 01:35] ilyavolodin commented on #3325
This should go to espree I think.

[2015-08-10 01:38] IanVS commented on #3325
Moved to https://github.com/eslint/espree/issues/185

[2015-08-10 02:28] btmills commented on #3333
ESLint operates in ES5 mode by default, so try enabling ES6 features by adding `"env": { "es6": true }` in your .eslintrc.

[2015-08-10 05:04] scottohara opened #3339 "Separate indent options for var, let and const"
In my variable declarations, I prefer to vertically align the identifiers within each `var`, `let` or `const` declaration, eg.
[code]
The following rule in ESLint@1.1.0:
[code]
...yields the error `Expected indentation of 2 characters but found 3. (indent)`.
This is because the const `b` is indented by 3 tabs instead of 2 to maintain alignment with `a` (due to the keyword `const` being longer than

[2015-08-10 05:11] sindresorhus commented on #3306
@nzakas I want to be able to use a sharable config with the strict option and have the strict option adjust acordingly when I toggle an env on a file by file basis.

#### gulpfile (Node.js)

[code]

#### main.js (browser)

[code]

[2015-08-10 06:33] sindresorhus opened #3340 "Improve error message for `indent` rule violation"
## Problem

If I have `{indent: [2, 'tab']}` and some code is wrongly indented with two spaces instead of one tab I get:

[code]

This is quite confusing if people don't realize something is `tab` indented.

## Solution

Add the type of indentation to the error message:

[code]

And with space indentation:

[code]

I would also recommend [pluralizing](https://github.com/sindresorhus/plur) the `cha

[2015-08-10 07:15] scottohara opened #3341 "ES2015 wishlist"
Below are some suggested ES2015 rules that may or **may not** be of interest.

I've searched through the open/closed issues and couldn't find anything similar having been requested, which could simply mean that these suggestions:
a) don't actually make sense, or
b) can't be implemented using the AST.

Therefore, please treat this as more of a 'conversation starter' than an actual proposal.

#####

[2015-08-10 08:35] BYK commented on #3303
I feel like `padded-blocks` is a better place to put this in since they are essentially enforcing the same rule. That said no idea about how to merge it with the current options.

[2015-08-10 08:37] BYK commented on #3299
I expected `space-infix-ops` to cover this but obviously `=` is not an infix operator. How about `space-assigment` as the name? This can cover the `:` in object expressions.

[2015-08-10 08:40] remko opened #3342 "Make `indent` only check code again"
Before 1.0.0, the `indent` rule would only check indentation of code, not data. This makes >1.0.0 break a lot of code for me. I have regular cases where I want to deviate from the standard indentation rules for data.

Please separate the `indent` option again so that I can use it on code only. This is blocking me from upgrading to 1.0.

[2015-08-10 09:39] sateffen commented on #3336
Now I feel sad...

To be honest, at first I didn't even see the difference in your comment as well, but writing it under each other showed me the difference.

Did this option change? Because It worked some day.

Anyway, big thank you! And sorry to bother you with my blindness.

[2015-08-10 09:42] sateffen commented on #3336
Another question, while I'm here: Is there something like a migration guide outside of the tool itself? Now it tells me a lot of rules changed (nothing bad, I rewrite the config), but I can't find a list outside of my console.

I would have expected a point like "Migrating Versions" under "User Guide", so people like me can see which changes to do between versions, or am I blind again?

[2015-08-10 09:51] sindresorhus commented on #3342
What is `data`? Can you provide an example of what's breaking?

[2015-08-10 10:54] remko commented on #3342
By data, I mean objects and arrays.

For example, the following doesn't validate:

    req.post(url, {
        username: username, password: password
      })
      .then(function () {
        doSomething();
      });

This is because the first indentation jumps 2 levels, because 1 level doesn't work well with the promises style. The only workaround is to put the opening `{` on the next line.

Ano

[2015-08-10 14:11] michaelficarra commented on #3336
@sateffen You are just blind: http://eslint.org/docs/user-guide/migrating-to-1.0.0

[2015-08-10 14:13] IanVS commented on #3336
No, he's not blind.  We've had a few people complain that it's hard to find the migration guide, so I think it's on us to make it more prominent somehow.

[2015-08-10 14:16] BYK commented on #3336
@IanVS - Adding it under `User Guide` menu + having a banner on the homepage may help. I couldn't find it even if I knew it exists.

[2015-08-10 14:24] IanVS commented on #3336
https://github.com/eslint/eslint.github.io/issues/111 submitted.

[2015-08-10 14:24] #3336 closed

[2015-08-10 14:28] #3328 closed

[2015-08-10 14:30] xjamundx commented on #3333
@slacktracer can you post your entire `.eslintrc` file?

[2015-08-10 14:36] xjamundx commented on #3324
I'll look at this today..

[2015-08-10 14:40] IanVS commented on #3299
For `:`, there is already [key-spacing](http://eslint.org/docs/rules/key-spacing), does that cover what you had in mind?

[2015-08-10 14:43] BYK commented on #3299
Yeah, I realized this half an hour I made this comment :) Still no solution for `=` case though.

[2015-08-10 14:44] michaelficarra commented on #3299
@BYK `space-assignment` would be an inappropriate name, since this is not assignment and assignment already gets checked by the `space-infix-ops` rule. I suggest `space-var-init`.

[2015-08-10 14:51] xjamundx commented on #3303
So something like this is what you're suggested?

`"padded-blocks": [2, "never", { singleLine: true }]` ?

[2015-08-10 14:52] BYK commented on #3303
@xjamundx yup

[2015-08-10 15:32] michaelficarra commented on #3341
@scottohara You've used the term "idempotent" in a way that suggests you don't know what it means. Idempotence simply means that applying a function more than once is the same as applying it once. For instance,

[code]

is idempotent, but

[code]

is not. The same concept, when applied to effects, would mean that

[code]

is idempotent, but

[code]

 is not. Notice how idempotence does not on its

[2015-08-10 16:19] okhomenko commented on #2613
Let's say

[code]
[code]

Not sure that it behaves correctly.

[2015-08-10 16:40] charleswhchan opened #3347 "Add support for Allman to brace-style rule, brackets on newline"
(Issue created based on [discussion](https://groups.google.com/d/msg/eslint/6foWM--eKTQ/dIKo6TZjCgAJ) in Google Groups.)

I am trying to setup ESLint to enforce brackets on newline, but can't find the right rule. Example:
[code]

Allman style: https://en.wikipedia.org/wiki/Indent_style#Placement_of_braces

[2015-08-10 17:23] ilyavolodin commented on #2613
@okhomenko Can you open a new issue for that error?

[2015-08-10 17:50] alallier opened #3349 "Indent Documentation Incorrect"
The [options](http://eslint.org/docs/rules/indent#options) section is incorrect.

[2015-08-10 18:07] gyandeeps commented on #2613
That is multi-line, which is an known issue. we already have an issue open for that.

[2015-08-10 18:24] IanVS commented on #3299
I presume this would apply to `const` and `let` as well, so perhaps `space-variable-init` to avoid confusion?

[2015-08-10 19:12] #3349 closed

[2015-08-10 19:17] alallier opened #3352 "Indent with only one object"
eslint version `1.1.0`

Code example:

[code]

Rules:

[code]

eslint Output:

[code]

Case 2 should be legal
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25616808-indent-with-only-one-object?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2015-08-10 19:28] gyandeeps commented on #3352
I think this was discussed and we agreed that case 2 will be illegal. There are so many variation people want for indentation is that its difficult to support all.

[2015-08-10 19:39] kethinov commented on #3352
I don't think there's a good reason that case 2 should be illegal while case 3 is legal.

Either both should be legal or neither should be legal.

Just adding another variable to the list should not completely change the alignment rules.

[2015-08-10 22:48] scottohara commented on #3341
My understanding of idempotence does indeed match your definition.  That was, in effect, my point.

Perhaps I confused the issue by suggesting "idempotent" === "no side-effects", when in fact what I really meant was:
 - a getter that doesn't mutate anything is, by definition, idempotent; and
 - a setter that *only* stores the value supplied, is also idempotent

Given an object (`Dog`) with a prope

[2015-08-10 22:56] slacktracer commented on #3333
Thank you, @btmills

I did not know. I thought setting the rule was enough.

Does the documentation mention this interdependence? I am sorry I missed it.

[2015-08-10 22:56] #3333 closed

[2015-08-10 22:59] nzakas commented on #3341
@scottohara thanks for the suggestions - there's way more than I can respond to in this post. Here's what I'd suggest: why don't you try creating a couple of these rules yourself and report back? We get a ton of rule requests, and we really don't have the bandwidth to implement them all. You can help us and also your own understanding of what is and is not possible by taking a stab at it yourself.

[2015-08-10 23:06] #3327 closed

[2015-08-10 23:08] #3286 closed

[2015-08-10 23:10] #3193 closed

[2015-08-10 23:10] #3183 closed

[2015-08-10 23:12] #3226 closed

[2015-08-10 23:12] #3231 closed

[2015-08-10 23:14] nzakas commented on #3316
It was an encoding issue. We fixed it in the repo but not sure it's pushed out yet. Are you still seeing it?

[2015-08-10 23:17] nzakas commented on #3352
@gyandeeps case 2 should be legal. If you're augmenting the indentation for `VariableDeclarator`, then that should apply even with object literals.

[2015-08-10 23:18] hawkrives opened #3353 "arrow-parens: as-needed doesn't account for destructuring arguments"
[code]

Both of these require parentheses, but `arrow-parens: as-needed` reports them as not needing parens.

BabelJS repl tests: [object destructuring], and [array destructuring].

[object destructuring]: http://babeljs.io/repl/#?experimental=true&evaluate=false&loose=false&spec=false&code=let%20x%20%3D%20%7Bitem%7D%20%3D%3E%20item%0A

[array destructuring]: http://babeljs.io/repl/#?experimental=

[2015-08-10 23:19] nzakas commented on #3319
Duplicate of #1598

[2015-08-10 23:19] #3319 closed

[2015-08-10 23:19] hawkrives commented on #3353
Oh yes, this comes about as a result of #3277. I like the rule, it's just a bit ... overzealous.

[2015-08-10 23:21] #3276 closed

[2015-08-10 23:22] #2642 closed

[2015-08-10 23:23] #3172 closed

[2015-08-10 23:25] nzakas commented on #3307
Yeah, this would be a significant change (need to update every rule, plus change the signature of `report()`) so I'm not sure if it's realistic to do this. Plus, third-party rules would all have to be updated if you assume every result will have a range.

@sindresorhus if only a handful of rules returned range information, would that be useful to you?

[2015-08-10 23:27] nzakas commented on #3311
Ah, in that case you'd probably want to define a separate config that has just the globals you want and then use `extends` to include that wherever you want it applied.

[2015-08-10 23:28] nzakas commented on #3342
Can you include the actual ESLint output you're seeing for each of these examples?

[2015-08-10 23:36] alexindigo commented on #1598
:+1:

[2015-08-10 23:39] xjamundx commented on #3353
Any ideas of other cases that might be missing?

[2015-08-10 23:47] leebyron opened #3354 "Async arrow functions always fail arrow-parens rule."
Async arrow functions always fail arrow-parens rule.

[code]

Produces error:

[code]

Note: I'm using the `babel-eslint` parser in order to support the async arrow function syntax. cc @hzoo

[2015-08-11 00:01] xjamundx commented on #2318
Any consideration of built-in exception for AMD-style `require([], function)`?

I use this in webpack all the time, because it uses async semantics. Maybe we can check for require() with a single argument?

[2015-08-11 01:06] ilyavolodin commented on #3333
@slacktracer Yes, documentation mentions this here: http://eslint.org/docs/user-guide/configuring#specifying-language-options

[2015-08-11 01:17] ilyavolodin commented on #3307
@nzakas We could probably modify it so that any time we use `context.report` and pass it an existing node, we extract both start and end position from the node. That would only affect some of the rules, but it's probably a good start.

[2015-08-11 02:04] xjamundx commented on #3324
Weird I'm getting:

[code]

With espree 2.2.0 and eslint 1.1.0.

Are you using `babel-eslint`? There may be a bug in espree assuming trailing commas are allowed there...

[2015-08-11 03:31] xjamundx commented on #3324
1. @leebyron I think this may be a `babel-eslint` issue in the way it's handing column numbers or something?
2. The destructuring trailing-comma case works as expected with eslint (though it wasn't being tested)
3. Espree currently does not support trailing commas in `import` and ... oh wait. it looks like I was supposed to fix that last month https://github.com/eslint/espree/issues/148

[2015-08-11 03:33] leebyron commented on #3324
Yes, I'm using the `babel-eslint` parser. cc @hzoo

[2015-08-11 03:33] xjamundx commented on #3353
There are also a number of typos in the docs which I'll sneak into this fix :)

[2015-08-11 04:27] scottohara commented on #3341
Thanks @nzakas, I would love to give this a shot when I have some time.

My initial post was more about validating the ideas first, just to be sure what was being suggested actually made sense to others (no point building rules that nobody else wants, or are fundamentally flawed).

If it turns out that there is some appetite for such rules, when I find some spare time I'll definitely have a crack

[2015-08-11 06:32] sublimator commented on #3322
Confirmed, we are experiencing this issue too @ [ripple-lib](https://github.com/ripple/ripple-lib)

version:
`v1.1.0`

source:
[code]

config:
[eslintrc](https://raw.githubusercontent.com/ripple/javascript-style-guide/3cf3cf978839d827218654a2b29462af8309319d/eslintrc)

output:
[code]

[2015-08-11 07:06] donaldpipowitch commented on #3311
Didn't know about `extends`. I _can_ do that, but it would be nice, if I could use an existing `environments` and customize it. Feel free to close this issue, if you don't want that feature.

[2015-08-11 08:34] keradus commented on #3316
nope

[2015-08-11 08:34] #3316 closed

[2015-08-11 09:45] sindresorhus commented on #3307
You don't have to assume that though. How about adding a `range` property to rule results incrementally while still preserving `line`/`column`. That way tools can first check `range` and fall back to `line`/`column`. Nothing breaks for existing consumers and external rules.

Yes, even just a few rules supporting it would improve the UI for editor linters.

[2015-08-11 09:55] mysticatea commented on #3014
I will work on this.

[2015-08-11 10:55] BYK commented on #3322
I think this is related to `eslint-babel` since I cannot reproduce with `espree`.

[2015-08-11 10:57] sublimator commented on #3322
Ah, thanks!

[2015-08-11 10:58] spadgos commented on #3322
So what's the workaround, exactly?

[2015-08-11 10:58] sublimator commented on #3322
what @spadgos said :)

[2015-08-11 11:20] SimenB opened #3357 "Rule Suggestion: Warn on usage of .bind(this), prefer arrow func"
Tried searching for it...

I'd like to get a linting warning on all usages of `function () {}.bind(this);`, as it could be replaced by `() => {}`. This is stylistic.

Warning:
[code]

OK:
[code]

Also OK:
[code]

[2015-08-11 11:21] BYK commented on #3322
@spadgos, @sublimator - I installed the latest version, which is `4.0.5`, and couldn't reproduce the issue. I looked at https://github.com/ripple/ripple-lib/blob/develop/package.json#L36 to see ripple-lib still at 3.x branch so I think that's the issue. If you upgrade it to 4.x I expect the issue to go away.

[2015-08-11 11:23] sublimator commented on #3322
@BYK

Thanks! I should have checked that! I just updated another repo to the `@latest` babel-* and was confused. I'll give that a try.

[2015-08-11 11:29] BYK commented on #3357
Related:

- #3140
- #3113
- #2800

[2015-08-11 11:39] SimenB commented on #3357
Yeah I found those. This is always safe though, as binding this is essentially the same thing, so you are _always_ safe with this change. Shouldn't be any need to check content or parents. But IDK how AST works, so I could be wrong :laughing:

[2015-08-11 11:42] sublimator commented on #3322
Updating did not work :(

I've narrowed it down to this conf
[code]

By changing blockBindings to false, it stops emitting the error

[2015-08-11 11:43] sublimator commented on #3322
Also, downgrading to eslint 1.0 and error will disappear also. So it seems to me a regression in eslint 1.1?

[2015-08-11 11:48] sublimator commented on #3322
Can anyone else repro with that reduced conf and npm eslint 1.1.0 ? Any ideas?

[2015-08-11 12:02] keithamus opened #3358 "Rule Proposal/Extension: Blacklist of bad identifier names"
The new `id-length` and `id-match` rules are fantastic for enforcing good quality identifier names, but they have room for improvement - one obvious win would be to introduce an `id-blacklist` rule, or extend `id-match` to include a `blacklist` option - for badly formed identifier names which still manage to slip by `id-match` and `id-length`.

### Example:

`id-blacklist` allows you to blacklist

[2015-08-11 12:05] BYK commented on #3322
@sublimator - Great work narrowing it down. I can now reproduce! Investigating the root cause.

[2015-08-11 12:31] BYK commented on #3358
This is a good idea. I feel like we should merge all these three rules actually since `id-match` theoretically covers `id-length` and this one can be baked in too.

[2015-08-11 12:31] BYK commented on #3322
@sublimator - Submitted #3360

[2015-08-11 12:33] sublimator commented on #3322
Awesome :)

[2015-08-11 12:40] keithamus commented on #3358
I was actually working on a plugin to do this, before the rule actually made it into eslint core. I found that just using the regexp was sufficient, and `id-length` wasn't needed - just simply make the regexp like `^[a-z]{3,20}$`. Having said that I think I prefer how explicit `id-length` is, not to mention it gives better error messages than `id-match` does.

[2015-08-11 12:42] keithamus commented on #3358
Just for posterity, here was the syntax style for my plugin:

[code]

[2015-08-11 13:20] thealjey commented on #3173
@feross you can reformat your code slightly to make it perfectly valid with the current version of ESLint (1.1.0):

[code]

[2015-08-11 13:44] hzoo commented on #3354
Hm, this is probably another rule that needs to be added to https://github.com/babel/eslint-plugin-babel similar to the `generator-star-spacing` rule and asyc/await. Don't think we can do much from the babel-eslint side other than transforming the code not to be `async` while linting.

`var token = context.getFirstToken(node); // returns async instead of ( or an identifier` - unless you have anoth

[2015-08-11 13:49] mysticatea commented on #3303
Umm, I'm using `"padded-blocks": [2, "never"]`, but I want a space inside of one line blocks.
I thought those are different thing.

[2015-08-11 13:55] vinsonchuong commented on #3127
@feross, I'm currently using:

[code]

I imagine that using `baseConfig` has the benefit of allowing per-directory overrides via `.eslintrc`. So I probably prefer to even have `rules` inside of `baseConfig`

[2015-08-11 13:58] xjamundx commented on #3014
Awesome!

[2015-08-11 14:17] hzoo commented on #3324
Ok since @xjamundx has a PR https://github.com/eslint/espree/pull/186 think this might be fixed eslint side?

[2015-08-11 14:40] hzoo commented on #3324
Ok made a PR to fix after https://github.com/eslint/espree/pull/186

[2015-08-11 14:42] sethlopezme opened #3363 "Key-spacing: allow 1+ spaces before/after colon"
Currently, there doesn't seem to be a way to allow more than 1 space before/after a colon. With my teams' particular use-case, we want to _allow_ devs to align values if they wish, but have _at least_ 1 space after a colon.

[2015-08-11 14:45] adrianp opened #3364 "radix rule does not apply for Number.parseInt (ES6)"
For `"radix": 2` the following code raises an error:

`paseInt("1")`

but the following:

`Number.parseInt("1")`

does not.

[Number.parseInt](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/parseInt) was added in ECMAScript 2015.

ESLint version: v1.1.0

[2015-08-11 15:30] nzakas commented on #3307
OK, I'm not sure we can commit to this at this point. Right now, each message contains the exact same data, and it's hard to tell what effect having different data on different messages would have in the ecosystem.

[2015-08-11 15:32] nzakas commented on #3363
Can you provide an example of what you're talking about?

@btmills

[2015-08-11 15:33] xjamundx commented on #3324
Awesome!

[2015-08-11 15:36] #3347 closed

[2015-08-11 15:37] #3322 closed

[2015-08-11 15:40] nzakas commented on #3303
`padded-blocks` is about lines, not spaces. I'd vote for `block-spacing` that deals with single line blocks and keep `padded-blocks` for multiline blocks.

[2015-08-11 15:41] nzakas commented on #3354
We can't support this natively, please follow up with @hzoo.

[2015-08-11 15:41] #3354 closed

[2015-08-11 15:44] sethlopezme commented on #3363
Sure! With this configuration:

[code]

The following happens:
[code]

We would like to be able to enforce _at least_ one space after the colon, but values can be aligned if the dev wishes. When the key-spacing `"align": "value"` option is used, anything that isn't aligned throws a warning. There doesn't seem to be any middle-ground.

[2015-08-11 15:44] nzakas commented on #3358
I think it's a good idea, question is, where would these IDs be restricted? All variables in all scores? What about properties? Arguments?

[2015-08-11 15:46] nzakas commented on #3357
@SimenB I'd suggest starting out with a custom rule for this, as it seems a bit too specific.

[2015-08-11 15:47] nzakas commented on #1598
Ping @Constellation are you still planning on working on this?

[2015-08-11 15:48] nzakas commented on #3296
@hzoo possible babel-eslint problem

[2015-08-11 15:50] nzakas commented on #3311
I'm sorry, that's not something we can support. Environments are not meant to be modified in this way.

[2015-08-11 15:50] #3311 closed

[2015-08-11 15:50] nzakas commented on #3340
Good suggestion.

[2015-08-11 15:50] hawkrives commented on #3353
@xjamundx: I don't think there are any others—unless there's a third type of restructuring syntax. Thanks for working on this!

[2015-08-11 15:54] keithamus commented on #3358
Everywhere where `id-match` and `id-length` currently restrict identifiers; so yes - variables, properties, function arguments, function names.

[2015-08-11 15:56] nzakas commented on #3065
Sounds good. Suggestions for the option name?

[2015-08-11 15:57] nzakas commented on #3339
This was a known limitation when we rewrote the rule. We still haven't quite figured out how to make these separately configurable.

[2015-08-11 15:58] nzakas commented on #3299
:+1:

[2015-08-11 15:59] nzakas commented on #3329
Can you point out what you expected to happen?

[2015-08-11 16:01] nzakas commented on #3285
Agree, I think it's better to write a custom rule.

[2015-08-11 16:01] #3285 closed

[2015-08-11 16:04] spadgos opened #3366 "[suggestion] object-shorthand to allow keys which aren't valid identifiers"
There are some times when you need to assign a function to a key on an object, where the key is not a valid identifier (and hence, might need quoting)

[code]

In these cases, to make sure that the `object-shorthand` method does not complain, you need to quote these, which leads to what might be considered some pretty ugly code:

[code]

I propose an additional option for that rule to allow the lo

[2015-08-11 16:05] nzakas commented on #3293
@iamstarkov you can solve your problem with a bash alias. Uninstall the global ESLint and then put this in your .bashrc file:

[code]

For now, we don't plan on making changes to support this use case.

[2015-08-11 16:05] #3293 closed

[2015-08-11 16:05] gyandeeps commented on #3299
I think the issue started with `=` character then some how the convo went into the use of `=` inside variable declarations.
Is our aim to create this rule for `=` inside variables only or everywhere?
CC @SamuelBolduc

[2015-08-11 16:06] nzakas commented on #948
I'm not sure I understand what problem this is solving. Can you explain?

[2015-08-11 16:07] michaelficarra commented on #3299
@gyandeeps Just variable declarations. Otherwise it would overlap with `space-infix-ops`.

[2015-08-11 16:07] nzakas commented on #3294
We've used "keys" to mean keys in object literals throughout the project. I think expanding that definition would lead to confusion.

[2015-08-11 16:08] nzakas commented on #3308
Do you have a proposal for how this could work?

[2015-08-11 16:09] IanVS commented on #3299
As @michaelficarra mentioned, `space-infix-ops` covers assignment. Are there other uses for = besides initialization and assignment?

[2015-08-11 16:11] nzakas commented on #3270
This is #3270 :)

@TimDaub I think the solution here is a custom rule.

[2015-08-11 16:11] #3270 closed

[2015-08-11 16:12] ljharb commented on #3065
`ignoreNestedBinaryExpressions`?

[2015-08-11 16:14] nzakas commented on #3317
That's an interesting conundrum. We probably need an option on no-extra-parens to allow that.

[2015-08-11 16:15] nzakas commented on #3318
Yeah, we can clean that up.

[2015-08-11 16:15] nzakas commented on #2897
Agreed

[2015-08-11 16:17] nzakas commented on #2318
Block scope and function scope. I don't know that it makes sense to have an exception for AMD.

[2015-08-11 16:18] nzakas commented on #3341
This is my point, by building them, you can determine this for yourself.

Some good ideas, but I too much for us to explore.

[2015-08-11 16:18] #3341 closed

[2015-08-11 16:23] targos commented on #3329
I expect this example to be valid, don't you ?

[2015-08-11 16:25] pmcelhaney opened #3367 "Rule for buried exceptions"
Is there a rule to prevent this monstrosity?

    try {
       // ...
    } catch (e) { }

[2015-08-11 16:32] xjamundx commented on #3367
http://eslint.org/docs/rules/no-empty.html

[2015-08-11 17:14] pmcelhaney commented on #3367
Perfect! Thank you.

[2015-08-11 17:14] #3367 closed

[2015-08-11 17:19] noahlt commented on #3329
TLDR: when linting an array literal with object literals, the indent rule with `{"VariableDeclarator": 2}` will always produce a lint error, complaining that it expected a different level of indentation.  If the user changes the level of indentation to the linter's "expectation", they find themselves in an endless loop of errors and suggestions.

So here's my test case:  In my directory I have `js

[2015-08-11 17:42] slacktracer commented on #3333
@ilyavolodin

I got it. I've read it before.

I wish the rule documentation mentioned you have to set some language option to use it properly.

Like: "To properly use this Rule you need to set ecmaFeature 'X'". In the options, perhaps. Or in the very beggining, "Prerequisites!".

Anyway, my bad. Thank you very much.

[2015-08-11 17:53] #3364 closed

[2015-08-11 18:33] lukekarrys opened #3370 "object-curly-spacing with never option warns for default and multiple named imports"
I added the following test (after cloning master) to the `valid` array in `tests/lib/rules/object-curly-spacing` and ran `npm test`.

**Test**
[code]

**Expected**

The tests would pass.

**Actual**
[code]

It warns for the comma between `house` and `mouse` which I believe shouldn't be a warning since there is already a passing test for `import {house, mouse} from 'caravan'`.

[2015-08-11 18:34] lukekarrys commented on #3370
If this is reviewed as an actual bug, I'd be interested in attempting to fix it with a pull request. :smile:

[2015-08-11 18:43] gyandeeps opened #3371 "`baseConfig` option inside `CLIEngine` behaves differently than other config options"
As of now all the configuration option works the same way accept when you use `baseConfig` option from `CLIEngine` which doesn't work the same way as all the others. The difference is that it doesn't apply extended configurations and plugins. The reason why this happens is because we [directly merge the `baseConfig` object](https://github.com/eslint/eslint/blob/master/lib/config.js#L378) into conf

[2015-08-11 20:08] IanVS commented on #3363
This seems similar to https://github.com/eslint/eslint/issues/3120, in that it's a request to separate the behavior of alignment and before/after colon spacing.  Do you agree @sethlopezme?

[2015-08-11 21:17] sethlopezme commented on #3363
@IanVS I think it definitely has some similarity. Rather than being able to disabled an option for a rule, I think this rule should be more explicit, perhaps?

It would be great if, perhaps, we could do something like this in the configuration:

[code]

[2015-08-11 21:37] #3309 closed

[2015-08-11 21:38] nzakas commented on #3318
Working on this.

[2015-08-11 21:39] #3318 closed

[2015-08-11 22:23] cvrebert commented on #3309
Blog post still has the typo: http://eslint.org/blog/2015/07/eslint-1.0.0-released/#features-100-rc-1

[2015-08-11 22:31] cvrebert commented on #3308
I suppose, for backward compatibility, allow `boolean` to accept *either* a single boolean or an object as its value. The new object would be something like (using strawman names) `{"not-not": true, "bitwise-not": false}`, thus allowing control over `!!x` and `~x.indexOf("y")` (respectively).
Setting `boolean` to a boolean value would set both of these sub-settings to the same value, thus retainin

[2015-08-11 22:34] xjamundx commented on #2318
@Alaneor were you hoping that your rule would stop this case:

[code]

I guess people can easily just declare these as exceptions if they want...

[2015-08-12 01:04] IanVS commented on #3357
For the record, binding `this` is not what happens in arrow functions, which lexically scope `this` (it is essentially sugar for `_this = this` or `self = this`, etc.).

[2015-08-12 01:15] awerlang commented on #3308
I agree to this proposed solution.

[2015-08-12 01:32] tqc commented on #948
@nzakas It's pretty much exactly what the title says - If you are using a tool alongside ESLint that requires an AST as input, this gives you access to the AST produced by ESLint rather than requiring you to generate a new one. Earlier comments suggest automatic configuration as a possible use case, and I can see some possibilities around automatically fixing errors where it would be quite useful.

[2015-08-12 02:21] gyandeeps commented on #3071
For me also it seems to be separate project. Because in future anyone can come up with xxx to eslint converter and if we start merging that into core becomes a lot to take care of.
Why not just add the existing tool to our integration guide?

[2015-08-12 02:26] gyandeeps commented on #2457
Feel free to reopen for further discussions.

[2015-08-12 02:26] #2457 closed

[2015-08-12 02:27] gyandeeps commented on #2665
Closing because of no communication.
Feel free to reopen.

[2015-08-12 02:27] #2665 closed

[2015-08-12 02:28] IanVS commented on #3071
I'd be willing to donate the domain `lintroller.io` to someone who has a good tool for converting between linting configs.  I intended to create something like that, but have no bandwidth for now.

[2015-08-12 02:28] charleswhchan commented on #3347
That was quick! Thanks @BYK, @nzakas

[2015-08-12 02:29] gyandeeps commented on #2733
Any updates here?

[2015-08-12 02:31] gyandeeps commented on #2997
Closing because of no response.
Feel free to reopen.

[2015-08-12 02:31] #2997 closed

[2015-08-12 02:33] gyandeeps commented on #3003
Closing because of no response.
Feel free to reopen with more info.

[2015-08-12 02:33] #3003 closed

[2015-08-12 02:33] gyandeeps commented on #3018
Asp er above discussion its a duplicate.

[2015-08-12 02:33] #3018 closed

[2015-08-12 02:34] gyandeeps commented on #3019
@divmain Are you still seeing this error or the issue can be closed?

[2015-08-12 02:37] gyandeeps commented on #3056
@eslint/eslint-team thoughts on this?

[2015-08-12 02:40] gyandeeps commented on #2807
Closing due to no response.
Feel free to reopen if the issue persists.

[2015-08-12 02:40] #2807 closed

[2015-08-12 02:43] gyandeeps commented on #848
@nzakas Can this issue be closed as we have created `ast-utils` now?

[2015-08-12 02:45] gyandeeps commented on #1940
Closing as we dont see any demand for this option.

[2015-08-12 02:45] #1940 closed

[2015-08-12 02:45] awerlang opened #3373 "Verify if a value is returned for all code paths"
I would like to work for a follow-up of #481.

Augment `consistent-return` rule with an option `allCodePaths` (off by default).

If it is on, then if a value is returned for a given code path, then a value should be returned for every code path.

These are warning:

[code]
[code]

These are not:

[code]
[code]

For this rule, only `return <expression>;` shall be considered.

Current version: v1.1.

[2015-08-12 03:07] michaelficarra commented on #3357
@IanVS in what way is that different? Please provide an example.

[2015-08-12 03:14] michaelficarra commented on #3347
FYI this brace style leads to hard-to-find errors like this:

[code]

[2015-08-12 03:17] IanVS commented on #3357
Here's an example from [YDKJS](https://github.com/getify/You-Dont-Know-JS/blob/master/this%20%26%20object%20prototypes/ch2.md#lexical-this):

[code]

[2015-08-12 04:55] mysticatea commented on #3294
I got it.
Well, how about `no-dupe-class-members`?

[2015-08-12 05:02] IanVS commented on #3357
Thanks for challenging me, I think I was misunderstanding [YDKJS](https://github.com/getify/You-Dont-Know-JS/blob/master/this%20%26%20object%20prototypes/ch2.md#lexical-this).  These two cases seem identical:

[code]

is the same as:

[code]

I think what I missed is that `bind` itself does not avoid lexical scoping, but can be used in ways that do.  I guess I need to do some more studying on this

[2015-08-12 05:15] BYK commented on #948
@nzakas - It would allow ESLint to be part of projects like https://github.com/asterjs/aster which I think is the future.

[2015-08-12 05:37] IanVS commented on #948
I wonder, couldn't the public `parse` method of Espree just be used to get AST?

As the [README](https://github.com/eslint/espree#usage) says:

[code]

What is the value of returning the AST from ESLint rather than straight from whatever parser you have configured ESLint to use (Espree, babel-eslint, etc.)?

[2015-08-12 05:42] mysticatea commented on #3140
I will work on this.

[2015-08-12 05:47] tqc commented on #948
@IanVS True, #1025 allows that much. However, the ESLint parse isn't exactly the same as the espree parse method - It includes things like finding the right parser to use and making sure that the result will include all the components needed by verify. The call to espree will end up being a lot longer than just parse(code).

[2015-08-12 05:54] mysticatea commented on #3140
I will make `prefer-arrow-callback`, no options.
Do we need an opposite style rule?

[2015-08-12 06:04] ev0rtex commented on #2733
@gyandeeps I have some code almost ready to go. I've been distracted on a lot of other projects but I'll try and get a PR put together ASAP. I just need to implement some more tests and make sure it's working correctly.

[2015-08-12 06:28] mysticatea commented on #3299
@IanVS default values.

[code]

[2015-08-12 07:53] Alaneor commented on #2318
@xjamundx Yes, `if`ing a `require` statement might seem like a nice thing, but then it forces you into checking for the module's presence every time you want to use it. Consider:

[code]

So I am against allowing conditional `require` statements.

As for the AMD-style `require`, I have no opinion on that matter as I have never worked with it. I'll defer to your good judgement. :)

Thanks!

[2015-08-12 09:13] BYK commented on #3299
I think we are lost in weeds. `space-infix-ops` supports this. PR upcoming for tests and updated documentation.

[2015-08-12 09:32] BYK commented on #3299
lol at myself

[2015-08-12 11:08] olalonde commented on #3296
Created an issue on babel-eslint (https://github.com/eslint/eslint/issues/3296).

[2015-08-12 11:20] ronkorving opened #3377 "CommonJS environment"
For browsers, there is currently the "amd" env, which is nice, as it gives me "require" and "exports". But it doesn't give me "module" (which may not be AMD, but it *is* [CommonJS](http://wiki.commonjs.org/wiki/Modules/1.1#Module_Context)).

Could something be done about this? Context: I'm a webpack user.

Either we could add `commonjs` as an environment, or expand AMD to register `module` as a gl

[2015-08-12 11:32] lo1tuma commented on #848
I think we should leave this issue open as we have more duplicated code now since the issue was created. I think it would be also a good idea to integrate `jscpd` in our test process, as @michaelficarra suggested.

Here is the updated `jscpd` output:

[code]

[2015-08-12 11:33] RReverser commented on #948
@IanVS The point is exactly not to parse code twice if ESLint does that anyway under the hood and you can just get and use it for further operations.

@BYK Thank you for mentioning aster! Didn't know someone still cares about that kind of projects ;)

[2015-08-12 13:37] michaelficarra commented on #3299
@BYK `space-infix-ops` should not handle the variable initialiser or default value cases.

[2015-08-12 13:38] BYK commented on #3299
@michaelficarra - why wouldn't it? Also it already does, that's my point.

[2015-08-12 13:38] BYK commented on #3299
Except for the default value case. It already does handle variable initializer, including `const` and `let`.

[2015-08-12 13:40] michaelficarra commented on #3299
Because the `op` in `space-infix-ops` stands for operator, and that is not an operator.

[2015-08-12 13:47] mysticatea commented on #3303
I will work on this.

[2015-08-12 13:50] Nyalab commented on #2665
ok sorry, i was into paternity holiday, i cannot reproduce this error right now, i guess it should have been fixed previously

[2015-08-12 13:51] ilyavolodin commented on #3140
@mysticatea I don't think so. Let's hold of on opposite style until somebody requests it.

[2015-08-12 13:53] #3299 closed

[2015-08-12 14:04] IanVS commented on #3357
According to [this comment]( https://github.com/getify/You-Dont-Know-JS/issues/513#issuecomment-130300480), there are indeed some differences between arrow functions and `.bind(this)`:

2. Arrow functions actually create lexical bindings for  `this` ,  `super` , and  `arguments` . Only  `this`  is bound by  `.bind(..)` .

With that in mind, would this rule still make sense?

[2015-08-12 14:16] getify commented on #3357
Arrow function also lexically binds `arguments` and `super`, which `bind(..)` does not. If either of those were present inside the function in question, warning about it needing to be an arrow would be a false signal, as that would alter its behavior. Also, if the function in question had a lexical name used for recursion purposes, changing it to an arrow would be inappropriate (as they are anonym

[2015-08-12 14:16] BYK commented on #3299
@michaelficarra - I understand the semantics and if we prefer to be pure you are correct. But I, like some other people assumed it would cover `=` too. Even weirder, looks like you were the one who added this behavior to fix #464 2 years ago so I'm really confused about the change of heart now.

[2015-08-12 14:21] IanVS commented on #3299
@ilyavolodin did you mean to close this issue from https://github.com/eslint/eslint/commit/ba818eee0fd69a50abe6289ae27b7ae4248c733d?  It seems like maybe that should have been a `(refs #2399)`.

[2015-08-12 14:21] BYK commented on #3299
@IanVS - I think it was automatic and it kind of addresses the original issue since `space-infix-ops` covers that case already.

[2015-08-12 14:31] getify commented on #3357
Another issue with blinding insisting on swapping `function(){}.bind(this)` for arrow: a bound function can be used in a `new` expression, but an arrow function cannot. So you'd need to be able to check to see how the function was being used to make sure this was a valid suggestion (warning) to make that wouldn't break the program.

[2015-08-12 14:32] BYK commented on #3339
@nzakas - if you're okay with the configuration schema I have a working prototype for this.

[2015-08-12 15:04] nzakas commented on #948
@BYK I'm not debating the usefulness, the issue has already been accepted. :)

@tqc I'm just trying to understand what you're suggesting because the two suggestions are very different in my mind. I think the second one is closer to what we want, but need to look more closely.

[2015-08-12 15:12] nzakas commented on #3309
Yup, but those are hosted in a separate repo.

[2015-08-12 15:16] nzakas commented on #3373
We've been unable to find an optimal way to make this work, which is why it hasn't been implemented. The issue is that many rules can benefit from path analysis, so we need to find a way to do it once and allow multiple roles to access the result. Are you interested in investigating that?

[2015-08-12 15:17] nzakas commented on #3358
Sounds good, do you want to work on it?

[2015-08-12 15:19] nzakas commented on #3366
Sounds fine to me. What would the option be called? Do you want to make the change?

[2015-08-12 15:22] nzakas commented on #3065
Hmm, may need a bit of thought considering we have "all" and "functions" as options now, so this would only apply in the "all" case

[2015-08-12 15:26] nzakas commented on #3329
@targos it's hard for me to tell without you explaining what you expected. It really helps to have more of a description of what you think is the incorrect behavior.

@noahlt thanks for this description, very helpful.

[2015-08-12 15:27] #3267 closed

[2015-08-12 15:29] nzakas commented on #3370
Definitely looks like a bug. Seems like it's checking the comma for some reason.

[2015-08-12 15:30] #3340 closed

[2015-08-12 15:33] nzakas commented on #3363
We have to be careful of introducing breaking change, so we can't change the meaning of `true` for this rule. There's also the interplay with the `align` option that we have to worry about.

[2015-08-12 15:35] nzakas commented on #3308
Interesting idea, though I think perhaps using the actual character y `!!` and `~` might be clearer?

[2015-08-12 15:36] #3353 closed

[2015-08-12 15:37] nzakas commented on #3071
Seems like this already exists: https://github.com/brenolf/polyjuice

Might be best to just let that be the way.

[2015-08-12 15:37] #3071 closed

[2015-08-12 15:38] nzakas commented on #3056
I like it!

[2015-08-12 15:39] nzakas commented on #3294
:+1:  that would also cover us in the case of properties in the future

[2015-08-12 15:40] keithamus commented on #3358
@nzakas What's the plan? To create a new rule called `id-blacklist` or to merge the three rules into one?

[2015-08-12 15:40] #3014 closed

[2015-08-12 15:41] michaelficarra commented on #3294
The spec calls them ClassElements btw.

[2015-08-12 15:42] nzakas commented on #3296
I believe it's a babel-eslint problem, so closing.

[2015-08-12 15:42] #3296 closed

[2015-08-12 15:43] nzakas commented on #3377
Why not use `node` environment?

[2015-08-12 15:44] nzakas commented on #848
I'm only going to leave this open if someone will volunteer to work on it. There's no point in leaving it open forever.

[2015-08-12 15:46] michaelficarra commented on #848
I don't get that mentality. Closing the issue does not mean the problem has gone away. It still needs to be addressed.

[2015-08-12 15:47] cvrebert commented on #3308
Sure, sounds fine. My names were just examples; I'n not attached to them at all.

[2015-08-12 15:56] nzakas commented on #848
Open issues indicate things we will do. An issue that has been open for over a year indicates something that isn't important enough to do. This issue if stake, and unless someone is willing to address this, there's no reason to keep it open.

This isn't a bug, it's an optimization we can choose not to pursue.

[2015-08-12 15:59] ljharb commented on #3065
It could still be a separate option that was just a noop in "functions" mode - alternatively, all/functions/allButNestedBinaryExpressions (but that seems gnarly)

[2015-08-12 16:01] BYK opened #3380 "`space-infix-ops` should either cover AssignmentPattern too or not cover VariableDeclaration"
#3299 sparked a new discussion:

Normally, the name `space-infix-ops` is not expected to cover `=` because it is not an operator but an "init statement". (paraphrased @michaelficarra) but #465 made it cover `VariableDefinition`, thus `=`. With the introduction of ES6 features, it has now lagged behind and does not cover "function defaults" and `=` sign in object destructuring which both happen to

[2015-08-12 16:05] BYK commented on #3363
This is a hack but how about casting the boolean values to integer when they are passed, accept integer values to be passed too and accept `Infinity` as a value which signals "whatever, I don't care about spaces".

Also as suggested in the ticket previously, the lack of that option (thus being undefined) may also signal "I don't care about spaces there" but would be a breaking change for people th

[2015-08-12 16:09] freejosh opened #3381 "Lost use case with `no-reserved-keys` to `quote-props` merge"
Previously I had `quote-props` turned off and wanted errors for `no-reserved-keys` but that now seems impossible. In other words, I don't care about property quoting, except if it's a keyword.

Another way to look at it is wanting `as-needed` to have an option to ignore unnecessarily quoted properties.

[2015-08-12 16:13] BYK commented on #848
I am willing to give this a shot.

[2015-08-12 16:25] michaelficarra commented on #3380
Except assignment expressions, where it is an operator.

My expectation is that `space-infix-ops` applies to infix operators and only infix operators, as its name would suggest. Default parameters, destructuring default values, and variable declarator initialisers are not in any way infix operators.

[2015-08-12 16:28] gyandeeps opened #3382 "valid-jsdoc: Return to accept `undefined` type"
Eslint: 1.1.0
Parser: Default

**Code:**
[code]

**Output:**
[code]

**Proposal:** It should allow `undefined` type as an acceptable return which doesn't require description as thats whats returned in javascript by default. Right now the rule support no description if we have `void` as type for return.

[2015-08-12 16:31] hawkrives commented on #3353
Thanks!

[2015-08-12 16:35] michaelficarra commented on #3382
The documentation says you can use `requireReturn: false` to be allowed to omit `@returns` when there is no return statement in the function. Between that and `@returns {void}`, I don't see any need for this.

[2015-08-12 16:37] gyandeeps commented on #3382
Use case that we need `return` in jsdoc. It just when there is nothing than we should be able to use `undefined` as we can do `void`.

[2015-08-12 16:39] michaelficarra commented on #3382
What's the difference? Why can't you just change it to `void`?

[2015-08-12 17:16] xjamundx commented on #2318
@Alaneor I'm assuming this should be allowed:

`var logger = DEBUG ? require('dev-logger') : require('logger');`

[2015-08-12 17:16] xjamundx commented on #2318
But I'm banning switch statements, because of complexity. Hope that's alright :)

[2015-08-12 17:17] xjamundx commented on #2318
Take a look at the PR I'm thinking it's probably ready to go...

[2015-08-12 18:16] tnunamak opened #3383 "Cannot load plugins via command line"
Going by the [plugin option docs](http://eslint.org/docs/user-guide/command-line-interface#plugin), any plugins I specify with the `--plugin` option are ignored. On the other hand, if I specify a plugins property in `.eslintrc`, they are loaded.

Digging into the `lib/cli-engine` and `lib/config` modules, it seems that `config.plugins` is undefined [here](https://github.com/eslint/eslint/blob/mast

[2015-08-12 18:26] ilyavolodin commented on #3056
I think this needs to be configurable in some way. Some people would use `object` and some would use `Object`.

[2015-08-12 19:10] spadgos commented on #3366
Hmm, maybe something in line with how the `quotes` rule has `"avoid-escape"`? This could be `"avoid-quotes"` ?

[2015-08-12 20:18] IanVS commented on #2271
I'll take a crack at this.

[2015-08-12 20:20] joezimjs commented on #3226
Just curious if there is an ETA on releasing this fix? Thanks

[2015-08-12 21:02] lukekarrys commented on #3370
I'm taking a look at this and should have a pull request ready in the next few days.

[2015-08-12 21:59] #3370 closed

[2015-08-12 22:10] mmrko commented on #1631
+1

[2015-08-12 22:31] tqc commented on #948
@nzakas Fair enough. I saw them as quite similar - both are three lines that can replace the existing call to verify if you want more control over the AST.

The main difference would be when you get access to the AST.

Calling parse, you get the AST first and could potentially use it to update the rule settings before calling verify. It also fits in quite naturally with #1025 - I like the idea of

[2015-08-13 00:26] ronkorving commented on #3377
Because I'm not using Browserify and because it's not Node (which have different globals from what I have in my browser)

[2015-08-13 00:31] slacktracer opened #3387 "Rules: defaults and categories"
Is https://github.com/eslint/eslint/blob/master/conf/eslint.json supposed to be the default for all rules?

If so, is it in any specific order? Would it benefit from being ordered by category as established on the rules page? (I'm doing this for myself and could share)

To show what I mean:

[code]

Note that `prefer-template` is not on the rules page yet.

Thank you very much.

[2015-08-13 00:43] nzakas commented on #3387
Yes, these are the defaults. We have them ordered in alphabetical order so rules are easy to find (separated into two groups - those beginning with "no" and all the others). This file isn't intended to be a guide for end users, so reorganizing by category isn't preferable. We'd much rather point people to the rule documentation for that information.

[2015-08-13 00:46] nzakas commented on #3377
`module` isn't part of AMD, so it wouldn't make sense to add to that environment.

Can you explain what you're doing? I'm a bit confused by this request.

[2015-08-13 00:47] nzakas commented on #3383
Just to be clear, you are reporting that `--plugin` doesn't work at all?

[2015-08-13 00:48] nzakas commented on #848
Sounds good to me!

[2015-08-13 00:51] ronkorving commented on #3377
I'm doing CommonJS in the browser using Webpack. But really a million other build systems do the same. It's not Node, it's a browser environment where modules get: require, exports and module.

[2015-08-13 01:24] IanVS commented on #3383
I can confirm, it is not working at all for me either.  It doesn't error out, but specifying a plugin on the CLI seems to do nothing.

[2015-08-13 01:25] gyandeeps commented on #3383
To add, I dint see any unit test in `cli` file. That is shocking ? :worried:

[2015-08-13 01:29] IanVS commented on #3383
Working on it.

[2015-08-13 02:00] IanVS commented on #3383
@gyandeeps it's a tough one to test.  The plugin has to be installed into node_modules, and the CLI option takes only the name.  The only way I've come up with so far is to create a fixture plugin and include it in `devDependencies`.  Or, is there a better way to use a fixture plugin?

[2015-08-13 02:12] gyandeeps commented on #3383
You can use `proxyquire` to fake certain modules. For examples please look at unit tests inside `config` file. Its very straight forward that ways.

[2015-08-13 02:29] ronkorving opened #3388 "[docs:rules] is no-multi-spaces not really "Stylistics issues"?"
Because of the support for YAML configuration (yay, thanks guys, I love it), I can cleanly separate all my rules per category. But I get the impression that some rules may be in the wrong category. This is relevant to me, as I don't enforce anything in the "Stylistic Issues" category (sorry guys, I use jscs for that). In the "Best Practices" I find [no-multi-spaces](http://eslint.org/docs/rules/no

[2015-08-13 04:05] ronkorving opened #3390 "no-undef: 2 with no-shadow: 0 is misreporting an issue"
Given the configuration:

- no-undef: 2
- no-shadow: 0

Should the following not be valid code?

[code]

[2015-08-13 04:12] IanVS commented on #3390
What is the actual ESLint output you get, and what version are you using?

[2015-08-13 04:13] ronkorving commented on #3390
Sorry, I should've pasted that in here of course:

[code]

[2015-08-13 04:14] ronkorving commented on #3390
FYI, I'm not running the require call and assignment in a function. It's at the top of my module.

[2015-08-13 04:25] IanVS commented on #3388
Hi, to answer at least part of your question, in `1.0.0` and above, enabling environments does not set any rules, but it does allow relevant globals to be set within your code without ESLint flagging them.

The grouping of rules is not hard-and-fast, they are just ways of breaking them up so it's not a very long list of rules all blending together on the page.  I suppose it could be debated if no-

[2015-08-13 04:45] IanVS commented on #3390
I'm guessing you have the `browser` environment set in your config file, right?  That is adding `Window` as a global read-only variable, and you're trying to overwrite it with your require.  If you really want to overwrite it, you should be able to add `/* global Window:true */` to the top of your file.

[2015-08-13 05:32] ronkorving commented on #3390
I have the browser environment, and because I'm using CommonJS, I'm not overwriting window.Window and I don't intend to either. I'm shadowing it within my module because the name happens to be the same as (window.)Window.

[2015-08-13 07:56] alexindigo opened #3391 "indent issue with 1.1.0, worked with 0.24.1"
I got following issue (in 1.1.0, worked perfectly in 0.24.1):

eslint config:

[code]

code #1:

[code]

output #1:

[code]

code #2:

[code]

output #2:

[code]

Thank you.

[2015-08-13 08:36] BYK commented on #3391
Case #2 looks normal but case #1 definitely looks like a bug. Would you mind giving a more complete code sample without the line numbers in front so people can easily copy/paste and test it?

I tested Case #1 and it fails, even with #3374 applied.

[2015-08-13 09:40] lo1tuma opened #3392 "comma-spacing conflicts with array-bracket-spacing"
### Problem description

Given the following config

[code]

and the following code:

[code]

then the `comma-spacing` rule warns about an extra space before to first comma in the destructuring statement.

[code]

when I remove the leading whitespace

[code]

then the `array-bracket-spacing` rule warns about a missing space after the opening bracket

[code]

Same problem exist for array literals:

[2015-08-13 11:04] feross commented on #3127
@vinsonchuong thanks for sharing!

[2015-08-13 13:20] slacktracer commented on #3387
Great!

Thank you, @nzakas!

[2015-08-13 13:20] #3387 closed

[2015-08-13 13:45] hzoo commented on #3296
Seems like the `LineComment` event is fired in `spaced-comment` for babel-eslint but not in the normal parser - I'm trying to figure out why..

It looks like in https://github.com/eslint/eslint/blob/c694db4740d3f8e3d9f908a4e7321c398e924225/lib/eslint.js#L804-L810 all the shebang comments are removed which seems to be the case in both cases since this happens after parse?

[2015-08-13 13:52] mysticatea commented on #3390
![image](https://cloud.githubusercontent.com/assets/1937871/9250955/8b3867be-420b-11e5-98dd-4d2c336a3894.png)

`no-undef` reports `Window` only in the global scope. And `var Window = 0;` rewrites `window. Window` in the global scope.

I guess you use a precompiler tool, so that is in the global scope, but that is modified into a module scope by tool.
So is this an issue about combination of eslint

[2015-08-13 14:47] ronkorving commented on #3390
I don't use a precompiler. I lint my code as-is. But yes, "only in the global scope". How does it know if my module is a module (which it is) or actual global scope at SCA time? It doesn't, right?

[2015-08-13 15:29] #3140 closed

[2015-08-13 15:35] nzakas commented on #3377
Okay, so I'm confused as to why you mentioned AMD. How is that related to your situation?

[2015-08-13 15:37] awerlang commented on #3373
Sure, will investigate.

Doing some basic research, I've found a handful of rules that could benefit from such infrastructure:

* Non-void functions that don't return a value on all code paths (this proposal);
* Use of unassigned variables;
* Unreachable code (`no-unreachable`, has issues);
* Variables that are initialized but never used (`no-unused-vars`).

Some of them are already implemented (i

[2015-08-13 15:38] nzakas commented on #3390
Currently, the only way to fix this is to use the `node` environment to add in the extra scope.

[2015-08-13 15:39] JCMais opened #3395 "eslint --init won't work on Windows 10 and io.js >= 2.5.0"
eslint version v1.1.0

It's not possible to use arrow keys to move.

Probably related to https://github.com/SBoudrias/Inquirer.js/issues/266

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25728709-eslint-init-won-t-work-on-windows-10-and-io-js-2-5-0?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github

[2015-08-13 15:40] nzakas commented on #3056
Object would not be checked by this option.

I do think it needs to be configurable. For instance, i use Function not function because functions are objects.

[2015-08-13 15:41] alexindigo commented on #3391
@BYK Thanks for the fast reply. Can you elaborate on "case #2 being normal"? Thank you.

This is better sample for both cases:

.eslintrc

[code]

buster.js
[code]

index.js

[code]

command I run:

[code]

Thank you.

[2015-08-13 15:41] nzakas commented on #3358
Create a new rule.

[2015-08-13 15:44] ronkorving commented on #3390
I guess. But the reason why I posted this issue is not to find a workaround. It's to find a proper long term solution that benefits the ESLint project and all of its users.

[2015-08-13 15:45] ronkorving commented on #3377
It's close, but no cigar. That's all.

[2015-08-13 15:47] xjamundx commented on #3377
@ronkorving I think for most folks in this situation they do the following:

[code]

Definitely works for us :)

[2015-08-13 15:49] nzakas commented on #3390
This is related to #3377 and the solution is the same: add a commonjs environment that has the extra scope.

[2015-08-13 15:49] ronkorving commented on #3377
But it registers a lot of globals (node) that aren't there. It may work, but it's cheating. I suggest we add a CommonJS env, just like we have an amd env.

[2015-08-13 15:51] ronkorving commented on #3390
Sure, if that does the trick :+1:

[2015-08-13 15:51] nzakas commented on #3395
Thanks, we will need to wait for a fix from Inquirer.

[2015-08-13 15:52] nzakas commented on #3377
That's fine, we can add a CommonJS environment. We just need to make the docs clear as to how it's different from the node environment.

[2015-08-13 15:56] nzakas commented on #3392
Not sure you really want to ignore null elements - you'd still want the extra space after, correct?

[2015-08-13 15:57] nzakas commented on #3373
Take a look at escope. I'd envision something similar for path analysis.

[2015-08-13 15:59] nzakas commented on #3357
Good discussion. End result is still the same: this is better off as a custom rule.

[2015-08-13 15:59] #3357 closed

[2015-08-13 16:03] nzakas commented on #3388
Best practices are generally accepted as correct. Stylistic issues are those where the correctness is in dispute (semicolons or not, single or double quotes, etc.).

Enabling rules doesn't automatically enable environments.

[2015-08-13 16:05] nzakas commented on #3382
@michaelficarra it's not our position to judge preferences like this. We want to enable as many logical preferences as possible.

@gyandeeps feel free to make the change.

[2015-08-13 16:09] nzakas commented on #3127
`baseConfig` is the lowest level of priority wheras the arguments passed to the CLI are highest, so not exactly the same.

[2015-08-13 16:14] michaelficarra commented on #3382
But where do we stop? If I want to write `@returns {nothing}`, are we going to allow that as well, or are you going to tell me to use one of the existing options?

[2015-08-13 16:36] BYK commented on #3391
@alexindigo - oh wait sorry. I misread case 2 because of the line numbers in it :D Yeah that looks weird too.

[2015-08-13 16:44] ronkorving commented on #3377
Sure. I think it's just a subset, really. Module scope, require/module/exports.

[2015-08-13 17:16] callumlocke opened #3398 "It's very hard to work out if a given rule is on/off by default"
The top of the [rules](http://eslint.org/docs/rules/) page says:

But there's no further explanation of which configuration setting will turn on which rules. On a specific docs page, e.g. [no-const-assign](http://eslint.org/docs/rules/no-const-assign), there is no mention of if/when the rule is enabled by default. Does this mean the rule is never on-by-default, even with the `es6` env enabled?

It

[2015-08-13 17:17] callumlocke commented on #3398
posted to wrong repo

[2015-08-13 17:20] alexindigo commented on #3391
Funny, I tried to make it easier to understand by adding line numbers, but looks like it went the opposite way. :)

[2015-08-13 17:23] #2370 closed

[2015-08-13 17:25] BYK commented on #3391
@alexindigo heh :) The following style is usually more helpful:

    module.exports =
    {
      'Unit tests':
      {
        rootPath: './',    // Expected indentation of 6 characters but found 4  (indent)

[2015-08-13 17:27] alexindigo commented on #3391
I see, thanks. I'll adopt it. :) I don't have much experience complaining about linters :)

[2015-08-13 17:32] RubenVerborgh commented on #2342
So this case in this issue was actually upgrade to consider it "usage", if I read 464e04cd93fc18e45c9d2ce5ee865cced6221098 correctly?

[2015-08-13 17:45] janmarek commented on #3056
I agree it should be configurable.

[2015-08-13 18:58] lo1tuma commented on #3392
@nzakas You are right, maybe we can just ignore the check for leading extra space of `null` elements?

[2015-08-13 19:21] gyandeeps commented on #3392
@lo1tuma I actually ended up filtering out the `null` elements in `indent` rule. Maybe we can have a function in `ast-utils` which can do that?

[2015-08-13 19:28] bobholt opened #3399 "`valid-jsdoc` test does not recognize aliases for `@param`"
According to http://usejsdoc.org/tags-param.html, both `@arg` and `@argument` are aliases for `@param`.

- eslint v.1.1.0
  - running via grunt-eslint 17.1.0

These fail under the test `valid-jsdoc`:

[code]

This passes:

[code]

This cannot be mapped in "prefer" because the aliases aren't acceptable to begin with.

[2015-08-13 20:22] codemakerlive opened #3400 "no-lonely-if flags when the if is not so lonely (nested if..else in else)"
eslint v.: 1.1.0
eslinrc contains: ```"no-lonely-if": 1```

The following gives "unexpected if as only statement in an else block (no-lonely-if)":

[code]

If the if in the else didn't have it's own else + nothing else, then fine (refactor!)... but it does so belongs without warning.

[2015-08-13 20:41] dozoisch commented on #3400
Shouldn't that be written as:

[code]

[2015-08-13 20:50] codemakerlive commented on #3400
Not in this case, I hoped the example would show that

if (something) {
&nbsp;&nbsp;&nbsp;//...
} else {
&nbsp;&nbsp;&nbsp;//... when in !something state, need to check something else
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// if that something else is true handle it one way
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;// else handle it a different way
}

If you wanted to refactor that the way you suggest it's

[2015-08-13 20:55] codemakerlive commented on #3400
I mean you're right, but is that really what the no-lonely-if is trying to accomplish...
Seems to me like it becomes not much of a refactor when the else has if...else inside.

[2015-08-13 20:58] IanVS commented on #3400
@codemakerlive, could you give a minimal example of working code and ESLint output that you don't agree with?

[2015-08-13 21:01] codemakerlive commented on #3400
I could but that's about as minimal as programming gets - can't see how an example is going to help?

Seems like the simple rule no-lonely-if secretly wants to be no-nested-if-else

[2015-08-13 21:02] IanVS commented on #3400
Examples help us understand what you are requesting.  Maybe I'm just missing it, but I'm not sure what you're asking for.

[2015-08-13 21:02] vegarturo commented on #3382
Running into the some problem here.

I would like to know

[2015-08-13 21:04] vegarturo commented on #3363
:+1:

[2015-08-13 21:20] codemakerlive commented on #3400
True usually, but in this case is just going to cloud over what this is about.

I see the following as useful (practically occuring when code has been manually refactored):

if( foo ) {
&nbsp;&nbsp;&nbsp;//...
} else {
&nbsp;&nbsp;&nbsp;if( bar ) {
&nbsp;&nbsp;&nbsp;&nbsp;// then lonely and really should be if...else
&nbsp;&nbsp;&nbsp;}
}

But this:

if( something ) {
&nbsp;&nbsp;&nbsp;//... handl

[2015-08-13 21:53] #3324 closed

[2015-08-13 21:55] ilyavolodin commented on #3399
Can you provide eslint output for the failed test?

[2015-08-13 21:55] gyandeeps commented on #3382
`undefined` and `void` both will be acceptable. Thats whats have been discussed so far.

[2015-08-13 22:05] callumlocke commented on #3398
I opened this on the website repo instead. This one can be closed

[2015-08-13 22:05] nzakas commented on #3398
This is the correct repo. No rules are on by default. You can turn on recommended rules by extending `eslint:recommended`, and the recommended rules are indicated on the rules page.

We should make this clearer. The documentation is stored on this repo.

[2015-08-13 22:05] bobholt commented on #3399
Given this jsdoc comment:

[code]

It produces this output:

[code]

[2015-08-13 22:08] nzakas commented on #3308
So what we're looking at is a configuration that looks like:

[code]

Looking at it again, I think this is confusing. So maybe this instead:

[code]

Thoughts?

[2015-08-13 22:11] nzakas commented on #3065
Yeah, not a big fan of no-ops - rule configuration is confusing enough as it is without throwing things in that sometimes do something and sometimes don't. Need to think a bit more about this.

Other suggestions?

[2015-08-13 22:15] nzakas commented on #3380
I think an end-user's expectation is that they can configure one rule to determine spacing for `=`. Maybe the rule's name is slightly misleading, but it seems like having one rule is more useful than being strict about naming and requiring 3-4 rules to determine spacing for `=` depending on its context.

[2015-08-13 22:17] #3371 closed

[2015-08-13 22:17] nzakas commented on #3377
Working on this.

[2015-08-13 22:22] cvrebert commented on #3308
How so?

[2015-08-13 22:27] nzakas commented on #3382
@michaelficarra you're going a little overboard here. Both `void` and `undefined` are part of the language, suggesting that we'd add `nothing` is just argumentative. It's this type of comment that is unnecessarily confrontational. Our job is to be as flexible as we can for our users, and sometimes that means having more than one way of doing things. I see this as a perfectly reasonable request giv

[2015-08-13 22:28] nzakas commented on #3308
Because:

1. You'd need to know that these are boolean coercions
2. You'd then expect to be able to do the same in the other sections
3. How would you set the default for `boolean`?

[2015-08-13 22:45] ljharb commented on #3065
Fair point. The problem with "all" and "functions" is that it kind of prevents any further modification to the rule structure.

I'd thought of `{ "ignoreNestedBinaryExpressions": false, "ignoreFunctions": false }` to mean "all", but then to get "functions" you'd need `{ "ignoreNestedBinaryExpressions": true, "ignoreFunctions": false, "ignoreEverythingElse": true }` which is funky.

[2015-08-14 00:13] ronkorving commented on #3377
Neat! Thanks :)

[2015-08-14 00:34] ronkorving commented on #3388
Thanks for the feedback guys. I understand now that it's simply for documentation clarity. That's great. Perhaps the documentation could be clarified to reflect that (not a huge deal, but would've avoided my confusion). How open are you to updating configuration to move some rules to fall under "Stylistic issues" when there's no safety argument to be made?

[2015-08-14 03:21] michaelficarra commented on #3400
@codemakerlive Just disable the rule. That's exactly the kind of thing this rule is intended to catch. Why do you want this rule turned on?

[2015-08-14 03:49] leebyron opened #3402 "Support glob path on command line"
Similar to mocha cli's ability to determine which files to run as tests by looking at a glob, it would be great if eslint could accept a glob pattern on the command line.

This would be nice when you could very concisely describe the set of directories and files to include or exclude with a single glob.

In my case, I would love to be able to write: `eslint @(src/resources)/**/*.js` to run eslint

[2015-08-14 07:54] BYK commented on #3380
@nzakas - Then do you think #3376 is good to go?

[2015-08-14 08:01] BYK opened #3403 "object-curly-spacing fails unless you run `npm update`"
#3362 relied on a fix which is only present in esprima@2.2.4 and in eslint's `package.json` file it is listed as `^2.2.0`. This causes tests to fail in old installations unless `npm update` is run.

[2015-08-14 08:14] mysticatea commented on #3373
escope is using [esrecurse](https://github.com/estools/esrecurse), this is a library to traverse AST.
But eslint is using estraverse, so cannot use esrecurse.

esrecurse can control timing of traversing child nodes. This is needed for code path analysis.
On the other hand, esrecurse cannot process many eslint rules in traversing once like estraverse. Because esrecurse's logic is recursively.

Now,

[2015-08-14 09:30] t128 commented on #1112
hi, is there a way to disable a plugin?

Im using *eslint-config-airbnb* but i don't need the react plugin. So i would disable it, but don't know how i should do it.

[code]

[2015-08-14 12:23] sodatea opened #3405 "Should the rule 'no-iterator' be deprecated?"
ESLint version: v1.1.0

[The document](http://eslint.org/docs/rules/no-iterator) says:

However, I can't find any spec that explains that feature.
AFAIK, the iterable & iterator protocols in ES2015 come with the well known `Symbol.iterator`, and there's no such thing as `__iterator__` property.
Was that an out-of-dated proposal?

If so, I think there's no point in keeping this rule in the code bas

[2015-08-14 13:37] IanVS commented on #3402
Hi, I'm not an expert on globs, and from a brief search I can't find a description of the `@` syntax. Can you explain your use case which our current CLI does not support?

[2015-08-14 14:10] kentaromiura opened #3408 "False positive on switch 'no duplicate case'"
In EcmaScript after the `case` token there can be any valid expression,
in particular this switch was raising a false `no duplicate case` positive:
[code]

in this case is because the [getHash function](https://github.com/eslint/eslint/blob/master/lib/rules/no-duplicate-case.js#L21-L35) does not handle ArrayExpression nodes;
the [if else cascade](https://github.com/eslint/eslint/blob/master/lib/ru

[2015-08-14 16:14] IanVS commented on #1631
@mmrko, would you like to make an attempt at a solution?  If the rule is important to you, the best way to get it implemented is to jump in and try it out.  :)

[2015-08-14 17:01] Dashed opened #3409 "Enforce requirement of non-whitespace characters on the same line as return"
I'm wondering if this can be a style requirement option for [`consistent-return`](http://eslint.org/docs/rules/consistent-return). Or call it `non-whitespace-after-return`.

The following are warnings wrt to this rule:

[code]

The following are not warnings wrt to this rule:

[code]

----

[2015-08-14 17:14] #3403 closed

[2015-08-14 17:16] #3383 closed

[2015-08-14 17:16] #3409 closed

[2015-08-14 18:17] #2543 closed

[2015-08-14 18:20] #3408 closed

[2015-08-14 18:20] #3399 closed

[2015-08-14 18:24] #3377 closed

[2015-08-14 18:25] #3329 closed

[2015-08-14 18:29] nzakas commented on #3381
I'm not quite sure what you're saying. Can you show an example of what you'd like to warn and not warn?

[2015-08-14 18:30] nzakas commented on #3402
@leebyron is there a reason you don't use your shell to do that?

[2015-08-14 18:32] nzakas commented on #3405
It was a SpiderMonkey extension: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Deprecated_and_obsolete_features#Object_methods

I'll add this to the documentation.

We're not going to remove the rule because you definitely shouldn't be using this feature. You can turn off the rule if you don't need it.

[2015-08-14 18:35] #3405 closed

[2015-08-14 18:48] nzakas commented on #3388
@ronkorving We generally don't move rules around because it can be confusing for users who group their config's rules into these categories. We only do cleanup if a rule is clearly in the wrong category.

[2015-08-14 20:34] freejosh commented on #3381
[code]

Gives me 2 errors, but I only want the one about the reserved key and not the unnecessarily quoted property.

[2015-08-14 23:38] ronkorving commented on #3388
I think the cases I pointed out are valid, but I'll leave that to you to decide.

[2015-08-15 04:16] goodwolf commented on #3095
I'm thankful @resetnow bring up this fine point. Any sort of extreme feminist / SJW bullshit types of code of conduct will fracture communities. At no time is reverse-racism, reverse-sexism and other -isms acceptable in ANY civilized society.

Here's how it's going to play out, we all remember the PyCon incident. If any SJW bullshit is kept in the TODOgroup OCoC and an incident occurs where a extr

[2015-08-15 10:24] Gillespie59 opened #3411 "Add link to is-my-json-valid project in the Rules documentation"

[2015-08-15 11:53] mysticatea commented on #3294
I'm not sure whether or not "elements" is a common word in this case.

[2015-08-15 14:42] btmills commented on #3411
is-my-json-valid isn't really concerning themselves with documenting the JSON schema format. It's probably more helpful to link to the official site (http://json-schema.org/) or the guide (http://spacetelescope.github.io/understanding-json-schema/), both of which I used heavily when adding schema validation.

[2015-08-15 14:49] ilyavolodin commented on #3381
@freejosh Can you paste ESLint errors that you are getting for the code above? Also, what version of ESLint are you using and what parser?

[2015-08-15 15:01] #3303 closed

[2015-08-16 01:34] IanVS commented on #3339
Does it really make sense to separately configure each of `let`, `var`, and `const`?  It sure would be nice if there could be a single option which would account for all of them.  Something like `"AlignVariableDeclarators": true`.  Specifying numbers for all of these seems very clunky...

[2015-08-16 02:01] freejosh commented on #3381
I'm using v1.1.0. For the above code I get

[code]

Which is correct for the current version, I'm just saying that I've lost the pre-1.0 behaviour where I could get the second error only.

For example, with v0.24.1 I would have used the rules `/*eslint quote-props: 0, no-reserved-keys: 2 */` to get the output:

[code]

[2015-08-16 04:06] gyandeeps commented on #3339
Single option is already available.

[2015-08-16 04:36] IanVS commented on #3339
Yes, that's what I mean.  It would be ideal to have one option which handles all three properly.  Is that impossible?

[2015-08-16 04:39] gyandeeps commented on #3339
Everything is possible but its just having 3 opens up for more option combinations. I dont have preference either way as I prefer separate declaration for every variable.

[2015-08-16 13:21] BYK commented on #3339
In all honesty I don't think this new addition would be useful except for the following configuration: `[2, { "VariableDeclarator": { "var": 2, "let": 2, "const": 3 }`. This is mostly because the original behavior was implemented as a multiplier to the original indent (which I kept in #3394 for bw. compatibility).

I think either automatically detecting the "preferred" indent and warning on that b

[2015-08-16 14:21] peduxe opened #3417 "rule 'no-unused-vars' not correctly applied"
Reports `no-unused-vars` for the variable `notOk` running eslint from the terminal with the following [eslint resource file](https://gist.github.com/peduxe/fbba0d9aa5328bd14962).

note: this behavior doesn't happen with imports:
[code]

target code:
[code]

Output: `teste.js 7:5 warning notOk is defined but never used no-unused-vars ✖ 1 problem (0 errors, 1 warning)`

babel-eslint@4.0.7
eslint@1.1

[2015-08-16 14:47] michaelficarra commented on #3417
Not a bug. It's never read.

[2015-08-16 15:15] peduxe commented on #3417
@michaelficarra Didn't say it is a bug though, by "**it's never read**", you mean even if I change the warning level it doesn't check against the rule? No, that doesn't happen.

[2015-08-16 15:16] ilyavolodin commented on #3417
This rule considers a variable as used when the variable value is either assigned to some other variable or used in the expression. Just assigning values to a variable doesn't mean that it's used somewhere.

[2015-08-16 15:56] peduxe commented on #3417
Ah okay, makes sense now, thanks.

[2015-08-16 17:59] #3417 closed

[2015-08-16 20:51] vincentcr opened #3418 ""semi" rule wrongly triggered in arrow function that return objects"
Using eslint 1.10, with the `"semi":2` rule configuration, this statement:
[code]
wrongly triggers a `error  Missing semicolon  semi` error, whereas this statement:
[code]
correctly doesn't.

Single-statement arrow functions should not be subject to the semi rule.

[2015-08-16 21:13] #3418 closed

[2015-08-17 00:01] mmrko commented on #1631
Okay, let me take a stab at this :)

[2015-08-17 08:28] keirlawson opened #3419 "Provide means for disabling all rules from a given plugin within a file"
I've been using hte eslint angular plugin which works great, but some of my files aren't angular ones which causes it to get conffused, it would be great if I could disable all rules associated with it within a given file using something like this:

`/*eslint "angular/*": 0*/`

[2015-08-17 09:05] yuvalsaraf commented on #2733
Would love to see that! :+1:

[2015-08-17 09:57] sindresorhus opened #3420 "False positive with `callback-return` rule"
ESLint 1.1.0. Concerning the [`callback-return`](http://eslint.org/docs/rules/callback-return) rule.

## Config

[code]

## Problem

[code]

I have many instances of this and similar code where I have a conditional whether to do something more or callback right away.

In the above example, both of the `cb` calls violates the `callback-return` rule. It should not however, as there is no code runnin

[2015-08-17 12:14] BYK commented on #3391
@alexindigo - okay, now looking at the code again, I think case-2 is not an issue with the indent rule. Why do you expect `;` to be indented?

[2015-08-17 12:16] BenoitZugmeyer opened #3422 "Enhance processors definition API"
I'm maintaining [a tiny eslint plugin](/BenoitZugmeyer/eslint-plugin-html) to lint inline script from HTML files. The main issue I have is that HTML files can have a large variety of extensions: of course, you have the `.html`, `.xhtml` and the glorious `.htm` ones, but I have got two pull requests to add various template engine extensions. This is very little work for me, I can add new extensions

[2015-08-17 14:27] gyandeeps commented on #3419
If those files sit inside s different folder than you actually make use of `.eslintrc` file inside that folder.
http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

[2015-08-17 14:28] gyandeeps commented on #3420
Can you please share the exact output of `eslint` for the above code?

[2015-08-17 14:33] alexindigo commented on #3391
Hey, thanks for looking into that. Rationale goes as follows:

__A__) Keeping semi on the previous line would defeat the comma-first approach:

[code]

Can't easily swap or remove the last line.

__B__) Having it in line with commas, it's how editors indenting it, and it looks visually balanced:

[code]

Nicely terminates `var` block, easy to scan.

__C__) Having it in the beginning of the line wo

[2015-08-17 14:46] #3380 closed

[2015-08-17 14:48] ilyavolodin commented on #3422
While I like the idea, I'm not sure it's possible. It's all about timing. Processors are not loaded before eslint resolves globs provided for linting. That's why extensions are given on command line right now.

[2015-08-17 15:01] BYK commented on #3391
Eh, I think I see your point. I think you should file a separate issue for this one though. It is completely different than the first error you reported. Is that okay?

[2015-08-17 15:04] sindresorhus commented on #3420
[code]

[2015-08-17 15:11] gyandeeps commented on #3420
Based on the [docs](http://eslint.org/docs/rules/callback-return#ifelse-statements), it has already discussed the case of if-else where the rule will warn. Why not just turn off the rule?

[2015-08-17 15:41] alexindigo commented on #3391
Just to clarify, it did work in `0.24.1`, but with new way of doing things it's considered a new feature or still a bug, but just different nature?

Thank you.

[2015-08-17 15:51] xjamundx commented on #3420
Yes, this is a known issue. I get where @sindresorhus is coming from: it's not great. This was primarily done to simplify the rule. Things were about to get very confusing and I 'd previously stumbled trying to create a rule that accurately accounted for those many edge cases. There even a bigger missing one which is the `process.nextTick(next)` situation, which is completely ignored currently. Th

[2015-08-17 16:04] sindresorhus commented on #3420
The rule has saved me multiple times, so I would like to use it.

I'd rather just turn off the rule than add moot code just to please ESLint.

[2015-08-17 16:04] BYK commented on #3391
This looks like a regression so I'd say it's a bug. That said may be it was not intentional before so I'd just file a new issue and let the team mark it as a bug or enhancement. I suggested making this separate is because it is very different from case-1 by nature.

[2015-08-17 16:12] alexindigo commented on #3391
Cool, thanks a lot for your help.

[2015-08-17 16:16] alexindigo opened #3423 "semicolon in comma-first setup regression from 0.24.1"
I got following issue (in 1.1.0, worked perfectly in 0.24.1):

eslint config:

[code]

code:

[code]

output:

[code]

Thank you.

PS. Discussed in greater details here: https://github.com/eslint/eslint/issues/3391

[2015-08-17 16:16] alexindigo commented on #3391
Created new issue, as per your suggestion: https://github.com/eslint/eslint/issues/3423

[2015-08-17 16:18] alexindigo commented on #3423
Detailed sample for both cases:

.eslintrc

[code]

index.js

[code]

command I run:

[code]

[2015-08-17 16:22] #3339 closed

[2015-08-17 16:25] nzakas commented on #3388
We can mention CommonJS in addition to Node.js if that makes it clearer. I don't think other changes are necessary.

[2015-08-17 16:33] nzakas commented on #3065
Yup, welcome to my life. :)

[2015-08-17 17:34] ShpuntiK opened #3424 "Prohibit blank line in object literal"
Is there a rule which allows to prohibit a blank line between keys in object literal?

For example the following code won't pass:
[code]

[2015-08-17 17:49] lo1tuma commented on #3423
FWIW eslint 0.24.1 didn't validate multiline var statements at all. So the semicolon was valid in any column.

[2015-08-17 17:59] alexindigo commented on #3423
Nice to meet you here :) Github is a small place. :)

Then it's a feature request/impaired implementation report.

[2015-08-17 18:17] BYK commented on #3339
@nzakas - no comments regarding https://github.com/eslint/eslint/issues/3339#issuecomment-131549701? :)

[2015-08-17 18:21] lagden opened #3425 "Arrow Function with Rest Parameter"
I have this script tested on Firefox Developer Edition, but the `eslint` accuses error:

[code]
:finnadie: **error Unexpected parentheses around single function argument  arrow-parens**

Ok, let's fix it...

[code]
:finnadie: **error  Unexpected token ..**

huuummm... and now?
Is missing some rule?
Which is the solution for that?

[2015-08-17 18:34] awerlang commented on #3373
Needed...? Can I ask you why?

[2015-08-17 18:51] michaelficarra commented on #3425
This is already fixed in master.

[2015-08-17 18:55] sindresorhus opened #3426 "Rule proposal: Prevent use of extended native objects"
Similar to [`no-extend-native`](http://eslint.org/docs/rules/no-extend-native), but the intention of this is to prevent usage of extended native objects, not creation.

When using external Node modules you can't control whether they extend native objects. I would still like to prevent usage of it. When the type can be detected it should check whether the property/method is a known native one, and

[2015-08-17 19:07] lagden commented on #3425
Nice! Tks...
I'll be waiting for the next release.

[2015-08-17 19:07] #3425 closed

[2015-08-17 20:59] nzakas commented on #3366
I like it.

[2015-08-17 21:00] nzakas commented on #3363
`Infinity` doesn't exist in JSON, so we can't rely on that.

[2015-08-17 21:00] samspot opened #3427 "Feature request - complexity: Would like to specifcy separate warning & error thresholds."
Complexity is a problem on my project.  In order to start with a lenient approach, I would like set complexity > 7 as a warning, and then come down harder and say that complexity > 13 is an error.  Sort of saying that some complexity is bad but acceptable, but past a certain threshold it is too much and we want to break the build.

I am on version 1.0.0.

Thanks!

[2015-08-17 21:02] nzakas commented on #3400
@codemakerlive I agree with @michaelficarra here. You're asking us to add an exception to a rule whose sole purpose is to flag the thing you don't want to flag. :) In that case, it's best to disable the rule.

[2015-08-17 21:02] #3400 closed

[2015-08-17 21:03] nzakas commented on #3095
I deleted a comment here due to inappropriate language.

[2015-08-17 21:04] nzakas commented on #3381
Okay, so you only want to enforce quotes for properties if a keyword is used, and ignore all others?

[2015-08-17 21:11] nzakas commented on #3422
Yeah, I don't see this as a practical change to make based on how things work today. While it might be technically possible to do this, the size of the change is massive and I'm not sure we'd be getting enough value to offset the risk we'd be incurring.

I would like to revisit how processors work in the future, but that's not in the near-term timeframe.

[2015-08-17 21:11] #3422 closed

[2015-08-17 21:13] goodwolf commented on #3095
There was no inappropriate language, only facts and behavior of extreme feminists clearly comparable to racist groups like the KKK / StormFront / New Black Panthers / White supremacists.

[2015-08-17 21:13] nzakas commented on #3420
In order to do this, we'd need path analysis, which we don't have right now (though it's being discussed #3373). So in the near-term, your only options are to turn off the rule, manually disable around things you know are okay, or add a `return`. When/if path analysis arrives, we can revisit this.

[2015-08-17 21:15] nzakas commented on #3424
No, such a rule doesn't exist. I'd suggest creating a custom rule for that rule if you need this warning.

[2015-08-17 21:15] #3424 closed

[2015-08-17 21:17] nzakas commented on #3423
@BYK @gyandeeps thoughts?

[2015-08-17 21:18] #3391 closed

[2015-08-17 21:19] nzakas commented on #3373
We're getting a bit off on a tangent here. It's possible to do path analysis using estraverse (@mysticatea had done it in a rule before), but we need it extract into a component shared by all rules so we can do:

[code]

[2015-08-17 21:21] nzakas commented on #3426
This sounds like a good idea for a custom rule, but not something I'd like to address as part of the core.

[2015-08-17 21:21] #3426 closed

[2015-08-17 21:21] goodwolf commented on #3095
Looks like I'll have to post my screenshots and publish them. If you feel to push the extreme feminist agenda to any company, rest assured I will be contacting VCs backing said companies.

[2015-08-17 21:22] nzakas commented on #3427
I'm sorry, each rule needs to be set as being a warning or error, there's no way to make rules return different severities based on options.

[2015-08-17 21:22] #3427 closed

[2015-08-17 21:24] nzakas commented on #3095
I've locked this issue due to repeated inappropriate comments. Sorry about that. We'll get the CoC in place soon.

[2015-08-17 21:27] samspot commented on #3427
What if we could specify the same rule to run twice with different settings?  Do you mean to say that it's completely impossible?

[2015-08-17 22:03] alexindigo commented on #3391
Thank you @BYK

[2015-08-17 22:29] xjamundx commented on #3427
@samspot this would be super easy to implement as a plugin. All you'd need was 2 rules that did the same thing with different names and rule settings. `"complexity-warn": 1, 10` and `"complexity-error": 2, 15` or whatever. Jump on https://gitter.im/eslint/eslint if you want help getting started or check out http://eslint.org/docs/developer-guide/working-with-plugins

[2015-08-18 00:36] freejosh commented on #3381
Yep!

[2015-08-18 00:39] mysticatea commented on #3373
@awerlang I had gone too far in saying. That's an easy way.
For example, `IfStatement`:

[code]

Such above, we can manage paths easily if we can control timing of visiting child nodes.
But this way cannot treat many rules in one traversing. It possibly is a performance issue.

@nzakas When I made `constructor-super`, I used the same way as esrecurse :)

Now I'm trying to create an utility which t

[2015-08-18 01:16] samspot commented on #3427
Thanks, that's a great idea!
On Mon, Aug 17, 2015 at 6:29 PM Jamund Ferguson <notifications@github.com>
wrote:

[2015-08-18 03:53] alexindigo commented on #3402
Shell is limited, especially in windows.
closest thing I could achieve using shell is via `find`, but it limits number of environments I can run it on.

So something simple and recursive would help bring more developers (on different platforms) on board.

Like `eslint .`, will find all the `.js` files (because --ext default is `.js`, and right now it reads all the files), and it will perform recur

[2015-08-18 04:10] leebyron commented on #3402
@nzakas using shell to expand globs directly isn't really ideal. @alexindigo brings up the good point that different shells support different features, which can make writing universal scripts quite hard.

Also, expanding the glob in a shell script would result in a node process running eslint for every matched file, which I would imagine would run less efficiently that allowing eslint to determin

[2015-08-18 04:50] sindresorhus commented on #3426
Too bad. I think it would be a lot more useful than `no-native-extend` as it's much more common to see usage of extended native objects than construction (that usually happens in libs). I guess I'll just have to show its usefulness through plugin popularity ;)

I've opened a module request. Happy to discuss there with any potential takers.

https://github.com/sindresorhus/module-requests/issues/25

[2015-08-18 08:28] BYK commented on #3363
Oh, I was hoping this wouldn't be the case :( How about a negative value or `null` implying this behavior? I wish we could use `undefined` but that would break backwards compatibility.

I guess `null` is the most practical choice here: it is supported on JSON and YAML, it is different than `undefined`, and you have to explicitly set it.

What do you think?

[2015-08-18 08:31] BYK commented on #3426
@sindresorhus - just wondering, why not use TypeScript or flow at that point?

[2015-08-18 08:35] sindresorhus commented on #3426
I don't understand the question. ESLint using Flow would make this kind of check a lot easier to make, but I don't think Flow has any linting capabilities. No idea how it would even relate to TypeScript.

[2015-08-18 08:39] BYK commented on #3423
@nzakas - I'm not a comma-first person, heck I'm actually a `one-var` person who hates commas with a passion. That said I searched a bit and looks like https://gist.github.com/isaacs/357981 is the definitive guide for the comma-first approach and it aligns with what @alexindigo reported.

I think we should support this as an unopinionated tool. It is popular enough. I'll try to implement this and

[2015-08-18 08:40] BYK commented on #3426
@sindresorhus - Oh, I thought you were trying to prohibit calls to undefined methods but now I realize you want to forbid the calls even if some framework defines it and ESLint misses that. Am I right?

[2015-08-18 09:02] sindresorhus commented on #3426
Yes. It should look at the usage, not the definition.

[2015-08-18 09:04] BYK opened #3429 "indent rule's code has typos in its comments"
And I want to fix them :)

[2015-08-18 12:13] goloroden commented on #2852
@nzakas Any thoughts on this?

[2015-08-18 13:31] BYK commented on #3429
Closing since we don't need tickets for doc improvements.

[2015-08-18 13:31] #3429 closed

[2015-08-18 13:57] BYK commented on #2897
I'm working on this.

[2015-08-18 14:21] alexindigo commented on #3423
Thanks a lot @BYK you're awesome. :) And you reminded me of Voltaire's saying. :)

"I disapprove of what you say, but I will defend to the death your right to say it." :)

[2015-08-18 15:40] IanVS commented on #2852
I understand the goal here is to avoid having to write:

[code]

But, simply treating the config comment as a newline seems to violate the spirit of the rule.

[code]

I propose instead that newline-after-var treat all comments immediately after var statements as additional var statements, and enforce a blank line after:

[code]

This might also be useful when temporarily commenting out vars (e.g.

[2015-08-18 15:53] BYK commented on #3423
@alexindigo - heh, no problem. That said I'd thank @gyandeeps who made the code quite easy to work with. Thus I was able to get that patch up this quickly :)

[2015-08-18 16:20] nzakas commented on #3373
Awesome!

[2015-08-18 17:24] silverwind commented on #3173
@thealjey that looks too confusing imho, and I think it wouldn't comply with the `1tbs` option of the `brace-style` rule :)

@gyandeeps I hope this issue is not forgotten. If I recall correctly, it's the last issue blocking us from upgrading 0.24 to 1.x in node.

[2015-08-18 17:39] gyandeeps commented on #3173
@silverwind Whenever we put the `accepted` tag to an issue that means it is open for people to contribute. So its never forgotten, it just that sometimes it takes time and sometimes its quick.

[2015-08-18 18:04] #3294 closed

[2015-08-18 18:17] goloroden commented on #2852
@IanVS I very much like your idea :-) … +1

[2015-08-18 18:40] thealjey commented on #3173
@silverwind yes, in fact, it does comply with `1tbs`

[2015-08-18 18:50] evilebottnawi commented on #2852
@goloroden thanks for answer for me, sorry i am busy.
@IanVS good news, thanks.

[2015-08-18 19:37] carlosmmelo commented on #1214
Wow nice to know! was driving me crazy until I read this and installed both globally.

Thanks.

[2015-08-18 20:34] #3423 closed

[2015-08-18 20:34] JediMindtrick opened #3434 "Using the cli on windows"
If there's a better forum to ask this, please let me know.  Right now my google-fu and stackoverflow are failing me.

I normally work on Linux or Mac, but now have to run the eslint command on a Windows machine.  My problem is that either eslint barfs on the paths I'm feeding it (no such file or directory), or if I get around that I get no output, even when I've intentionally put an error in one o

[2015-08-18 20:42] janpaul123 opened #3435 "Rule proposal: only allow function calls starting with underscore on `this`"
We have the convention to prefix private functions with an underscore. It would be useful to disallow direct calls to private functions unless from the same object, which can be reasonably be approximated by implementing a rule like this:

Good:
[code]

Bad:
[code]

To answer the questions as suggested:
- The use case for the rule - what is it trying to prevent or flag? Include code examples.

Thi

[2015-08-18 21:05] IanVS commented on #3434
It would help if you could provide the following:

* What version of ESLint are you using?
* What is the error in your code you are expecting to throw an error?
* What is your `.eslintrc` configuration for the rule you expect to be erroring?

[2015-08-18 21:41] ljharb opened #3436 "option to warn on tightenable rules"
If possible, it'd be awesome to have a command line/config option so that any rule set to "0" or "1" would pass when set to "2", I could be notified about it, so I have the option to set it to "2".

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/25922551-option-to-warn-on-tightenable-rules?utm_campaign=plugin&utm_content=tracker%2F28

[2015-08-18 21:48] gyandeeps commented on #3436
Based on the description, I can see a little bit use of this. But I also think this is something which should sit outside the eslint (means as an external tool). Thats my take on this.

We have tools which do a lot of extra things to help userd of eslint. like
- https://github.com/IanVS/eslint-nibble
- https://www.npmjs.com/package/eslint-watch
- https://github.com/willklein/dryer

This would be t

[2015-08-18 21:56] gyandeeps commented on #3435
Based on our docs, these are the points we touch on when deciding on new rules.
Link: http://eslint.org/docs/developer-guide/contributing#new-rules

Can you please provide more info.
We also provide the ability to create project or company specific rules by using plugin architecture. These come in handy specially when you have a usecase which is not generic enough.
More info: http://eslint.org/doc

[2015-08-18 22:04] JediMindtrick commented on #3434
Hi Ivan, thanks for responding.

The version is 1.1.0

I've introduced two errors that should trigger.  One being extra trailing whitespace and the other being use of an undeclared global.

Here's my .eslintrc:
[code]

[2015-08-18 22:10] IanVS commented on #3434
It looks like you don't have those rules enabled. In 1.x, no rules are on
by default.
On Tue, Aug 18, 2015 at 6:04 PM Brandon Wilhite <notifications@github.com>
wrote:

[2015-08-18 22:39] IanVS commented on #3436
Sounds like a great tool which could easily use the ESLint api. I'd be happy to work with you on it if you'd like.

[2015-08-18 22:51] JediMindtrick commented on #3434
You got it in one.  I was running 0.20.0 on the Mac and must've been pre 1.x the other times I've used this.  Thanks a lot for your time.

[2015-08-18 23:01] #3434 closed

[2015-08-18 23:45] nzakas commented on #3436
Can someone explain what's being requested here? I'm having a really hard time parsing the original description.

[2015-08-18 23:49] nzakas commented on #3402
Fair. We can look into it. I'm not sure how much work it will be, but since there's already a module to use, hopefully not much.

[2015-08-18 23:53] hzoo commented on #3271
Yeah had to make this patch to fix similar issue I think. https://github.com/babel/babel-eslint/blob/master/index.js#L266-L276. I guess a fix in escope/eslint would allow me to remove it!

[2015-08-19 00:02] pkosenko opened #3437 "Not all eslint 1.0.0 formatters work in grunt"
I notice that not all the formatters that ship with eslint 1.0.0 actually work with Grunt, although they do work on the eslint command line.  I moved the folder over to another location accessible by grunt and ran the following (running node.js on Windows 7):

    // Using gruntify-eslint
    eslint: {
      options: {
        format: "./formatters/compact",
       },

I replaced "compact" with th

[2015-08-19 00:04] hzoo commented on #3436
Oh @ljharb is saying that there should be a way to let a user know that a rule can be set to the error option (2) when it's currently off (0) / warning (1) so that you can be more strict about your config/rules. If you test the rule with 2 and see that no errors are reported from it then you can notify the user to change it to 2 if they wanted to.

[2015-08-19 00:14] gyandeeps commented on #3437
What happens when you use it like this:

[code]

`<format name>` = stylish or checkstyle or the other formats

[2015-08-19 00:26] pkosenko commented on #3437
Yes, I should have tried that.  As a quick test, at least ONE of the problem formatters ("tap") WORKS that way.  It is no doubt being accessed in the "./node_modules/eslint/lib/formatters" location.

So it seems that the problem has to do with trying to load the formatter modules using PATH info for modules that are not located in the standard eslint archive (which might happen if anyone tries cre

[2015-08-19 00:47] ljharb commented on #3436
Yes thank you @hzoo for rephrasing - another use case for me is, if a new rule is added, but I forget to add it to my eslint config, but my codebase already happens to pass it, I'd love to know that - or, if I change my codebase such that an *existing* rule set to "1" would start to pass at "2", i want to set it to "2". (like the console case)

A separate tool totally makes sense as well.

[2015-08-19 00:52] hzoo commented on #3436
Yeah that would be cool. If you update eslint (I would like this in jscs too), it could help to add the newer rules to your config so kind of like `--init` except for newer rules.

[2015-08-19 07:00] BYK opened #3438 "`object-curly-spacing` shows the incorrect column for opening brace"
The column number points to before `{` where as it should point right after when an error occurs. Example:

[code]

Column number here should be `10` instead since that is where the unexpected space is.

[2015-08-19 07:35] sindresorhus commented on #3426
@dustinspecker made a plugin https://github.com/dustinspecker/eslint-plugin-no-use-extend-native Yay!

[2015-08-19 08:04] glenjamin opened #3439 "Clearer 1-to-1 migration from 0.x"
Hello, I've just gotten around to upgrading, and followed the migration guide at http://eslint.org/docs/user-guide/migrating-to-1.0.0

This says to use `eslint:recommended`, and then lists a whole bunch of rules I should check manually. Would it be possible to provide a clearer list of things which used to be on-by-default, but are not included in `recommended`? Ideally as a JSON snippet I can jus

[2015-08-19 08:57] Dignifiedquire opened #3440 "Regression in 1.2.0: RangeError: Maximum call stack size exceeded"
After upgrading from `1.1.0 ` to `1.2.0` I get this error consistently:

[code]

Environment:

[code]

parser: `babel-eslint@4.0.10`
plugins: `esling-plugin-react@3.2.3`

[2015-08-19 08:59] Dignifiedquire commented on #3440
Sorry for the noise, updating `babel-eslint` to `4.0.10` solves the issue

[2015-08-19 09:03] Dignifiedquire commented on #3440
Oh god, I'm just too tired, running linting in the wrong folder. This issue is still at hand, and only goes away after downgrading to `1.1.0`

[2015-08-19 09:10] BYK commented on #3440
Can you please sharea code sample that we can test on?

[2015-08-19 09:14] demiazz commented on #3440
@BYK I have this problem too, and try reproduce them on simple code, like this:

[code]

Error raised on expression in case. If use simple value or variable - all works good.

[2015-08-19 09:44] lcjnil commented on #3440
I got into same trouble with these code: https://github.com/lcjnil/react-redux-scaffold/blob/1b7e9ec1da3d8f066145db98f8afc9195a28966f/src/reducers/todos.js

[2015-08-19 10:18] lo1tuma commented on #3392
@gyandeeps Not sure if we need to filter `null` elements completely in this case. I think we only want to make an exception for the check of leading space.

[2015-08-19 11:34] ShpuntiK commented on #3440
Has the same error with this code:

[code]

eslint 1.2.0
nodejs 0.12.7
babel-eslint 4.0.10
eslint-plugin-react 3.2.3

[2015-08-19 12:05] BYK commented on #3440
I'm pretty sure this is related to `babel-eslint` because I cannot reproduce locally with the provided examples.

[2015-08-19 12:12] BYK commented on #3440
I can reproduce with `babel-eslint@4.0.10`. Investigating...

[2015-08-19 12:14] ShpuntiK commented on #3440
@BYK yes, you're right. Without `babel-eslint` the error doesn't occur.

[2015-08-19 12:16] BYK commented on #3440
@gyandeeps - Adding `_paths` to the "ignore list" (on line 24) as suggested by someone else fixes the problem. What do you think? I can add that or ignore property names starting with `_`.

[2015-08-19 12:50] zyklus opened #3444 "`no-spaced-func` throwing incorrect line numbers"
Take the following code:

[code]

I get 2 errors on line 1: `Unexpected space between function name and paren.`

The errors actually refer to lines 2 & 3

eslint v0.24.1

[2015-08-19 13:21] BYK commented on #3444
Which version of ESLint are you using? This looks fine on `1.2.0` which is the latest.

[2015-08-19 13:37] zyklus commented on #3444
Sorry, was on an old version

[2015-08-19 13:37] #3444 closed

[2015-08-19 14:14] gyandeeps commented on #3440
What I am hearing so far is that the issue comes up when we use `babel-eslint`, have we logged an issue with that repo?
@BYK I think we need more info because of my above comment ^^.

[2015-08-19 14:16] hzoo commented on #3440
all the nodes have that property added https://github.com/babel/babel/blob/722e706a8c77cbeca182f67f68e4aff567060fef/doc/node-props.md#_paths

[2015-08-19 14:20] BYK commented on #3440
This looks like our fault for not detecting cyclic references in that hash
function. I'll try to fix that.

On Wed, Aug 19, 2015, 17:16 Henry Zhu <notifications@github.com> wrote:

[2015-08-19 16:51] juanjoLenero opened #3445 "Error: ELOOP, on trying to lint all subdirectories."
I'm getting an `ELOOP, too many symbolic links` error when running the `eslint .` command inside my project. This is under **eslint v1.2.0**

I'm using a [symbolic link](https://gist.github.com/branneman/8048520) to my `src` folder from inside the node_modules directory like so:
![image](https://cloud.githubusercontent.com/assets/2656008/9362619/21f3c0c2-4667-11e5-9e93-555c5e93f046.png)

My main d

[2015-08-19 17:07] nzakas commented on #3437
This seems like an issue to file with the grunt plugin?

[2015-08-19 17:10] nzakas commented on #3439
I actually added this at one point, but mistakingly put it in the wrong repo so it got overwritten. See: https://github.com/eslint/eslint.github.io/blob/645954867ecd1383404f2bc3fe37783b0af10c31/docs/user-guide/migrating-to-1.0.0.md

[2015-08-19 17:16] SeeThruHead opened #3446 "Key-spacing align"
eslint 1.2.0

[code]
[code]
![screen shot 2015-08-19 at 1 15 13 pm](https://cloud.githubusercontent.com/assets/8273939/9363443/6f183d12-4674-11e5-83dd-5afff36cec55.png)
[code]

[2015-08-19 17:16] nzakas commented on #3436
This seems better suited to a separate tool than as part of the core, unless I'm missing something.

[2015-08-19 17:22] ljharb commented on #3436
The primary advantage I see of it being part of core, is that it would always stay in lockstep with the supported rules - any [new] rule would automatically be available to this feature as well.

I'd also be fine if this existed as a separate tool, and I won't be upset if this gets closed in favor of that :-)

[2015-08-19 17:40] gyandeeps commented on #3446
I dont think I understand completely, so what behavior you expect here?

[2015-08-19 17:41] gyandeeps commented on #3445
Does it happen locally or is it only on travis?

[2015-08-19 17:43] gyandeeps commented on #3437
What does this mean?

[2015-08-19 17:43] SeeThruHead commented on #3446
yeah sorry disregard this

[2015-08-19 17:43] #3446 closed

[2015-08-19 18:19] kentaromiura commented on #3440
My bad, when sending the PR I did not test it with babel-eslint.

@BYK from the link posted by @hzoo just filteting "_paths" should fix the problem as it seems to be the only property on the AST node that can cause a cyclic reference, also the other properties should not cause the node to be unique (and create a different hash).

May I also suggest, if you want to support babel-eslint, to add it t

[2015-08-19 18:34] hzoo commented on #3440
I did some work to try to get eslint tests running with babel-eslint https://github.com/babel/babel-eslint/pull/116. Haven't really integrated it well yet though.

[2015-08-19 18:57] nzakas commented on #3440
I think we should change the logic - it's really being overly optimistic about what properties will be available on each object. The addition of an unforeseen property shouldn't cause a crash no matter what, because we'll never know when new properties might be added.

[2015-08-19 19:37] kentaromiura commented on #3440
@nzakas a safe alternative would be to use a serialization library that handles circular references like https://github.com/WebReflection/circular-json but that would kill performances.

Another is to handle every possible node type, that would be far more complicated to update as new syntax/node types gets introduced.

[2015-08-19 20:42] nzakas commented on #3440
Or we simplify the logic and use the source text instead of the AST for comparison purposes.

[2015-08-19 20:42] pkosenko commented on #3437
Nicholas may be right that it is a grunt or gruntify-eslint issue, but I am quite sure yet.  It didn't seem to me that gruntify-eslint was ITSELF doing any formatter module loading (but I may be mistaken).  That seemed to be done by eslint's engine.getFormatter(format).

I COPIED the "formatters" folder into the top level of the project to see how the PATH reference would work with Grunt there.  T

[2015-08-19 20:53] lo1tuma opened #3449 "one-var rule doesn’t have default options"
# Problem description

In my `.eslintrc` I’ve configured the `one-var` rule as `"one-var": 2`, according to the [rule documentation](http://eslint.org/docs/rules/one-var#options) the default option should be `"one-var": [2, "always"]`.

If I try to lint the following code with `"one-var":  2`

[code]

I get no error. When I set the configuration to `"one-var": [2, "always"]` in my `.eslintrc` then

[2015-08-19 21:07] IanVS commented on #3436
Perhaps we can take another look at this once we have [autoconfig](https://github.com/eslint/eslint/issues/2203#issue-65587914) implemented, and keep this use-case in mind while developing it.

[2015-08-19 21:25] gyandeeps commented on #3449
What is wrong here code or docs?

[2015-08-19 21:30] lo1tuma commented on #3449
I would say the code, because the rule does nothing although if you explicitly enable the rule.

[2015-08-19 21:33] gyandeeps commented on #3449
With that being said, `always` should be applied to `var` , `let` and `const` when the config is like this
`/*eslint "one-var": 2 */`

[2015-08-19 21:40] lo1tuma commented on #3449
@gyandeeps yes, `"one-var": 2` should have the same behavior as `"one-var": [2 "always"]`.

[2015-08-19 21:51] mathieumg opened #3450 "Add option to ignore property names in `id-length` rule"
I would like to suggest adding the `properties` configuration to the `id-length` rule such that property names are ignored, exactly like it's currently possible to do in http://eslint.org/docs/rules/camelcase#options

The rationale behind this is that object properties often have enough context to be shorter or are imposed by third-party interfaces (`url` and `src` come to mind), whereas other ide

[2015-08-19 22:03] gyandeeps commented on #3019
Closing because of no response.
Feel free to reopen if its still a issue.

[2015-08-19 22:03] #3019 closed

[2015-08-19 22:05] gyandeeps commented on #2800
@eslint/eslint-team Suggestions or feedback?

[2015-08-19 22:06] gyandeeps commented on #2555
@eslint/eslint-team Suggestions or feedback?

[2015-08-19 22:08] gajus opened #3451 "module style rule"
There are at least 3 different ways to use modules in JavaScript (babel supports 4, https://babeljs.io/docs/usage/modules/):

* CommonJS
* AMD
* ES6

I'd like there to be a rule that would enforce one of the above.

[2015-08-19 22:22] IanVS commented on #2800
I am :-1: as arrow functions are not a blind replacement for  all function expressions (lexical binding of `this`,  `super`,  and `arguments`).  See some discussion in https://github.com/eslint/eslint/issues/3357 as well as commentary about when it may or may not be appropriate to use arrows in https://github.com/getify/You-Dont-Know-JS/blob/master/es6%20&%20beyond/ch2.md#arrow-functions.

[2015-08-19 22:25] gajus commented on #3451
1. To prevent mixing of different module styles, e.g.

[code]

and

[code]

are functionally equivalent.

2. Stylistic.
3. ES6 module style is becoming part of the standard. There is going to be a lot of movement.

[2015-08-19 22:29] IanVS commented on #2555
From the original description:

Therefore I agree with the suggestion that this be written as a plugin.

[2015-08-19 22:38] xjamundx commented on #3451
- https://gist.github.com/xjamundx/30a2691765c555c30ed1 (`no-define`)
- https://gist.github.com/xjamundx/a711743696602d07b359 (`no-cjs`)

[2015-08-19 22:48] nzakas commented on #3381
So maybe what we need is:

[code]

"ignore" is a weird term to use, but since we already have `keywords:true`, I can't think of another way.

[2015-08-19 22:54] gajus commented on #3451
This should become part of the core.

[2015-08-19 22:54] freejosh commented on #3381
I was thinking maybe something like:

[code]

To me it's still doing the `as-needed` behavior, but we're turning off a subset of results (same way as `keywords` turned on a subset)

[2015-08-19 22:59] xjamundx commented on #2318
Sorry I've slept on this. Let me check out the feedback...

[2015-08-19 23:02] nzakas commented on #3437
@pkosenko I'd suggest filing an issue with the grunt plugin and let them investigate this. The interface you're using is `gruntify-eslint` and that's failing you, so there's likely an issue in the plugin itself that others will encounter as well. If it can be root caused back to us, then we can reopen this issue with more details.

[2015-08-19 23:02] #3437 closed

[2015-08-19 23:03] nzakas commented on #3363
No. :) There's no way that you can reasonably expect people to understand that `null` means `Infinity`.

I don't think this line of solution is going to bear fruit, so I'd suggest looking for another solution.

[2015-08-19 23:07] nzakas commented on #2852
@IanVS very creative solution, I like it.

[2015-08-19 23:13] nzakas commented on #3271
Filed here: https://github.com/estools/escope/issues/76

[2015-08-19 23:14] BYK commented on #3363
How about adding a string value: `"don't care"`? This would make the type quite complicated tho. Another option is to have a new namespace, `count` and favor that: `count: {beforeColon: 3}`. if you omit `afterColon`, that would mean "don't care". We may even expand this to ranges: `count: {beforeColon: [0, 3]}`.

[2015-08-19 23:15] daedalus28 opened #3453 "Allow key-spacing align to align to nearest indentation level instead of a single space"
The key-spacing align works great for this case:

    var x = {
        a: 1,
        b: 2
    }

But in my code, I prefer to align to the nearest indentation level (which in this case is 4-spaces). Note that there are two spaces between the colon and the value - this is because it would take two spaces to get it to the next indentation level (multiple of 4 spaces)

    var x = {
        a:  1,

[2015-08-19 23:16] nzakas commented on #3445
@juanjoLenero this isn't an ESLint error, it's a Linux error. Check to see if you have any symbolic links in your directories (or if you did `npm link`).

[2015-08-19 23:16] daedalus28 commented on #3453
I also want to point out that the second case also causes key-spacing to throw an error complaining that there are too many spaces. If nothing else, a simple flag to ignore extra whitespace provided all values are aligned would at least prevent eslint from throwing errors (preventing me from enforcing this rule)

[2015-08-19 23:19] nzakas commented on #3436
Ah, I hadn't even drawn the line between this request and autoconfig, that's a good point.

So autoconfig would say, "here are the rules we suggest based on your code." That would seem to cover this request, wouldn't it?

[2015-08-19 23:32] BYK commented on #3450
Currently, if you quote the properties, they are not checked (this was intentional). Would this solve your problem?

[2015-08-19 23:37] mathieumg commented on #3450
While it's good to know as a workaround, it's not enough. We also use `"quote-props": [2, "as-needed"]`.

[2015-08-19 23:37] zertosh opened #3454 "prefer-arrow-callback and named functions"
`prefer-arrow-callback` is incorrectly warning when using a named callback. If the function is named and it's being referenced, it should not warn because arrow functions can only be anonymous. Example:

[code]

[2015-08-19 23:39] nzakas commented on #2800
Yeah, I'm not sure about moving forward with this. We just introduced something along these lines, though: http://eslint.org/docs/rules/prefer-arrow-callback

I think that may be as far as we can rationally go in core.

[2015-08-19 23:40] BYK commented on #3450
Fair point. I don't want to complicate the rule too much but this seems like an okay improvement. Any thoguhts @eslint/eslint-team?

[2015-08-19 23:40] nzakas commented on #2555
I agree. I think in cases where we can't find a clear resolution, the best path forward is to suggest a custom rule/plugin. If and when such a rule/plugin is proven out, we can always decide it's important enough to include the core.

[2015-08-19 23:40] #2555 closed

[2015-08-19 23:41] nzakas commented on #3451
I'm sorry, I don't see this as appropriate for core. I'd suggest creating a custom rule for this purpose.

[2015-08-19 23:41] #3451 closed

[2015-08-19 23:42] xjamundx commented on #3451
This is basically the rule you need if you use webpack and it becomes a module free-for-all. @gajus would you be interested if I put together a plugin?

[2015-08-19 23:43] ljharb commented on #3436
If it suggested both rules, and more restrictive configurations for existing rules, then yes! :-D

[2015-08-20 00:28] pkosenko commented on #3437
Actually, the code in gruntify-eslint points to eslint.getFormatters() as the processing function that is handling the reference to the formatters (either module name or path).  So it looks to me like eslint should be looking into that.  It doesn't look like a grunt issue at all.

        formatter = eslint.getFormatter(options.format);
        if (!formatter) {
            grunt.warn("Formatter "

[2015-08-20 00:39] mysticatea commented on #3271
I'm sorry, I had filed escope/issues#74.

But I thought escope is not extensible for ES7 or others. So I guess a correct way to support ExperimentalRest/SpreadProperty is to fork escope.... And for parser plugins, we need a hook of reference analysis?

[2015-08-20 00:39] gyandeeps commented on #2800
@rightaway I think we are going to close this issue for now. Feel free to create a plugin and use it.
We can always check back in future if things change. Thanks.
Resources: http://eslint.org/docs/developer-guide/working-with-plugins

[2015-08-20 00:39] #2800 closed

[2015-08-20 00:51] #3440 closed

[2015-08-20 00:53] #3438 closed

[2015-08-20 01:54] nzakas commented on #3271
I'd rather not create a fork, let's see if we can work with @constellation to figure this out. Ideally, we can do a traversal regardless of what is in the AST.

[2015-08-20 01:56] nzakas commented on #3381
Ah! Good call, I like that.

[2015-08-20 01:58] nzakas commented on #3363
I'm not sure the complexity is worth it. This is starting to look more like custom rule territory.

[2015-08-20 01:59] nzakas commented on #3453
@btmills thoughts?

[2015-08-20 02:02] nzakas commented on #3450
Seems reasonable to me.

[2015-08-20 02:14] mysticatea commented on #3454
Thanks for the report.

You are right, I will fix this.

[2015-08-20 02:26] zyklus opened #3456 "`indent` not playing nice with comma-first style"
[code]

throws an error with `indent` expecting 2 spaces instead of 4.  However I prefer to align my keys like this instead of either of these:

[code]
[code]

Is there any way to get indent to be quiet here but keep it on everywhere else?  This didn't happen in v0.24, currently on v1.2.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-08-20 06:40] gajus commented on #3451
@xjamundx That would be very nice.

[2015-08-20 07:08] whitneyit opened #3457 "Missing protractor globals"
Re: sindresorhus/globals#47

[2015-08-20 07:09] sindresorhus opened #3458 "Support having plugins as dependencies in shareable config"
My shareable config uses rules from an external plugin and I would like to make it a `dependency` so the user doesn't have to manually install the plugin manually. I couldn't find any docs on this, but it doesn't seem to work, so I'll assume it's not currently supported.

[code]

I assume it's because you only try to load the plugin when the config is finished merging.

Other shareable configs tha

[2015-08-20 07:19] lo1tuma commented on #3458
We already discussed this in #2518 with the conclusion that a
peerDependency is the way to go.
On Aug 20, 2015 9:09 AM, "ESLint Bot" <notifications@github.com> wrote:

[2015-08-20 07:31] sindresorhus commented on #3458
Ugh, that's such a leaky abstraction. I guess I won't use plugins then...

The user shouldn't have to care what plugins I use for the rules. This is like requiring to manual install of Lodash when you want ESLint. A shareable config is a node module and should act like it.

// @feross

[2015-08-20 07:40] lo1tuma commented on #3458
We use `require` to load shareable configs or plugins, what would make it act more like a node module than that?

This issue should be also solved when using npm version 3 which installs all subdependencies in the top-level `node_modules` folder.

[2015-08-20 07:50] sindresorhus commented on #3458
Let the shareable config provide the plugin as an object:

[code]

That's an implementation detail and not always guanteed. Nobody should ever depend on that. npm@3 promises flat**ter** dependency tree, not flat. If there are conflicts, there will be nesting.

[2015-08-20 08:04] feross commented on #3458
The option to require the plugin in the config itself would allow users to use my shareable config without needing to manually install two other plugins.

I like this proposal.

[2015-08-20 08:59] lo1tuma commented on #3458
@sindresorhus good point about npm 3, let's forget about this.

I kind of like your proposal, but it has a few problems:
1. Eslint needs to know the name of the plugin. This could be solved easily by providing an object with the name e.g `plugins: [ { 'eslint-plugin-foo' : require('eslint-plugin-foo')} ]`
2. Eslint caches plugins once they are loaded. This could be a problem if you use different s

[2015-08-20 09:01] BYK commented on #3458
Or we can prefix plugins provided by shareable configs with the name of the config?

[2015-08-20 09:04] denis-sokolov opened #3460 "Ability to get a previous node from the context"
I am writing a few rules catching common typos in multiple assignment statements. For example:

[code]

Clearly this is a mistake. While I declare `ExpressionStatement` to be the scope of my rule, I need to "peek" to see the previous node and check whether it assigns to the same variable.

Currently `context` already provides `getTokenBefore`, `getNodeByRangeIndex`, and other convenience methods.

[2015-08-20 09:10] BYK commented on #3456
@zyklus - can you share your configuration for this rule too? I suspect your indent level is `2` because when I test this with `4` it works.

[2015-08-20 09:10] BYK commented on #3456
And by "it works" I mean it doesn't give me any warnings.

[2015-08-20 09:14] BYK commented on #3453
This seems a bit related to #3363

[2015-08-20 09:16] BYK commented on #3363
Eh, I'm not happy about the complexity either. I feel like this is an issue when the rule first got introduced and cleanest way forward is a breaking change.

I give up until we can find a decent way forward. I really want to do this if we can agree on a good solution.

[2015-08-20 09:27] zyklus commented on #3456
@BYK -- Sorry, yes it's set to `[2, 2]`

[2015-08-20 09:32] lo1tuma commented on #3458
@BYK how would you reference the rules then?  `configname/pluginname/rulename`? But I guess we would have the same problem if we avoid caching. We can't determine to which version of the plugin the rule belongs to.

That said, I think we should first decide if we want  this feature in ESLint.

[2015-08-20 09:39] lo1tuma commented on #3460
You could do the following:
[code]

[2015-08-20 09:47] denis-sokolov commented on #3460
That works if I use the 0-th range index, not the 1-st:

[code]

Thank you, @lo1tuma.

Still, this seems something that is beneficial to abstract away in a `getPreviousNode`, as opposed to copying across rules, isn't it?

[2015-08-20 10:20] BYK commented on #3458
Yep.

Agreed. Might be worth piggy backing on npm 3 instead of introducing this complexity.

[2015-08-20 10:21] BYK commented on #3456
@zyklus - then I think it makes sense for the rule to error. I don't think this is something that should be fixed.

[2015-08-20 10:41] zyklus commented on #3456
@BYK -- It's a conflict with a comma-first style and, similar to options like `const`, allows keys to be properly aligned:

[code]

If eslint supports a comma-first style, I believe it should be fixed :)

[2015-08-20 10:47] BYK commented on #3456
@zyklus - it doesn't conflict with comma first style actually because it works when you set the indent to `4` with that same code. The issue here is that code not adhering to 2-space indent rules really. If it gave a warning with the following example, I may have considered this as a bug:

[code]

[2015-08-20 10:51] zyklus commented on #3456
I don't consider this "proper" indentation like you're suggesting though:

[code]

[2015-08-20 10:56] zyklus commented on #3456
To clarify -- I acknowledge that the code doesn't adhere to a 2-spacing rule, but at the same time I believe it's "properly" spaced given a comma-first style.

So whether my original issue of "indent is broken" is correct, I believe there should be _some_ way to make the code pass linting while simultaneously keeping the 2-space rule for all other code.

[2015-08-20 11:02] BYK commented on #3456
Well, you can disable the rule for that part :dancer:

Anyways, I see what you say but still disagree with you. I also think trying to support this would make the already complicated rule even more complicated. That said I'm just one person so let's see what others think. @eslint/eslint-team, please weigh in :)

[2015-08-20 11:03] zyklus commented on #3456
how?  I don't see a way to disable it specifically for objects.

[2015-08-20 11:06] BYK commented on #3456
I was suggesting that (and sorry for the dancer emoji, I meant to put a `:D` there).

[2015-08-20 12:24] mathieumg commented on #2965
My stab at this: https://github.com/mathieumg/eslint/commit/3c4df6179b924dd27de08ce46cef0513d2936093

I didn't update the documentation or provide many tests, *yet*, because of some hurdles related to the discussion above. Should `allowObject__` and `allowArray__` options only consider proper objects/arrays or also consider destructuring using braces/brackets? If no, does it mean we need to add `a

[2015-08-20 12:39] btmills commented on #3453
If we had an option to the effect of "I want my (values|colons) aligned, but I don't care where", would that adequately cover this and #3363?

[2015-08-20 12:57] AndreyBelym opened #3463 ""key-spacing" crashes eslint on object literal shorthand properties"
Hi, I'm using shorthand properties for object literals in my code, and after I've added `key-spacing` rule to `.eslintrc`, `eslint` (version 1.2.0) throws an unhandled exception:

`index.js`:

[code]

`.eslintrc`:

[code]

eslint output:

[code]

Exception gone after removing `key-spacing` rule from `.eslintrc`.

[2015-08-20 12:57] btmills commented on #3363
If we had an option, "spacing", which accepted values "exact" (default, current behavior) or "any" (`true` means "at least one"), would that cover this?

[2015-08-20 12:58] btmills commented on #3453
To be more specific: If we had an option, "spacing", which accepted values "exact" (default, current behavior) or "any" (true means "at least one"), would that cover this?

[2015-08-20 13:04] netei opened #3464 "Rule to ensure that they are not lines with no effect"
I am searching for a rule to disallow lines that have no effect , like :

    foo.bar;

but I can't find it. I think I had seen this rule when we were at version 0.x, but can't now.

Does someone know where that is ?

[2015-08-20 13:06] BYK commented on #3463
I can reproduce this on master. Working on a fix.

[2015-08-20 13:11] lo1tuma commented on #3464
I guess [`no-unused-expressions`](http://eslint.org/docs/rules/no-unused-expressions) is what you are looking for.

[2015-08-20 13:29] playpauseandstop opened #3466 "Maximum call stack size exceeded in no-duplicate-case rule"
Got strange error after updating to ESLint 1.2.0 from 0.24.1,

[code]

I used next config file:

[code]

[eslint-config-ezhome](https://www.npmjs.com/package/eslint-config-ezhome) extends `eslint:recommended` ruleset, so `no-duplicate-case` rule is enabled.

----

In the JS code I have very small amounts of switch-cases and they all looks like,

[code]

----

To fix the problem I temporary disable

[2015-08-20 13:30] hzoo commented on #3466
Duplicate of https://github.com/eslint/eslint/issues/3440

[2015-08-20 13:37] playpauseandstop commented on #3466
@hzoo

Sorry, searched issue by `no-duplicate-case` keyword :(

[2015-08-20 13:37] #3466 closed

[2015-08-20 13:44] #3392 closed

[2015-08-20 13:48] gyandeeps commented on #3456
I agree with @BYK suggestion of diabling the rule here.
@zyklus Here is the link which explains how to disable rules: http://eslint.org/docs/user-guide/configuring#configuring-rules

[2015-08-20 13:49] #3463 closed

[2015-08-20 13:53] ilyavolodin commented on #3456
@zyklus While we would love to support this style, it's just not feasible for us to support every indentation style under the sun. Indent is already the most complicated rule that we have, and adding every additional style makes it even more complex. I would also suggest disabling this rule for declarations.

[2015-08-20 14:11] daedalus28 commented on #3453
The spacing option would be a great start and make the rule usable, but what I'd really like is to force alignment to the lowest possible indentation level that preserves alignment. The spacing option will stop it from throwing errors for our intended use case, but won't check to see if developers are aligning halfway between tab stops.

I think a great solution would be to add a third possible va

[2015-08-20 14:24] BYK commented on #3453
I like the `spacing` option idea @btmills! We can actually expand the existing `beforeColon` and `afterColon` settings to be numbers after that.

@nzakas - what do you think?

[2015-08-20 14:50] keirlawson commented on #3419
its not clear that that mechanism can be used to switch off a plugin that is enabled higher up the directory tree though?

[2015-08-20 15:52] gyandeeps commented on #3419
That can be used to turn off/on plugin rules.

[2015-08-20 15:59] gyandeeps commented on #3068
I think we have completed 50% work here. We just need to dfo this now:

[2015-08-20 16:20] nzakas commented on #3068
Yup!

[2015-08-20 16:24] #3454 closed

[2015-08-20 16:24] #3449 closed

[2015-08-20 16:28] nzakas commented on #3419
Plugins cannot be disabled, but rules within the plugin are off by default, so you don't really need to disable the entire plugin. Just work directly with the rules.

It might be easier in your case to have a separate config that enables the plugin rules, then use `extends` to include it where you want the rules enabled.