[2016-09-27 10:20] mysticatea commented on #7249
Thank you for this issue.

I confirmed it on our online demo.
It seems to expect always 4 indentation for some reason.

![image](https://cloud.githubusercontent.com/assets/1937871/18869441/5414b092-84e7-11e6-89c9-578e7aefe40e.png)

[2016-09-27 10:27] mysticatea commented on #7247
Thank you for this issue.

Document is here: http://eslint.org/docs/developer-guide/nodejs-api#cliengine

CLIEngine does not have `settings` in their options. So it's expected behavior.
Maybe you can use `baseConfig` option.

[2016-09-27 11:11] Gelio opened #7259 "Unexpected token ":" when defining object literal's properties"
**Tell us about your environment**

* **ESLint Version:** v2.13.1
* **Node Version:** v6.5.0
* **npm Version:** 3.10.7

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
I get linting errors when defining properties of object literals:
![](https://i.gya

[2016-09-27 11:18] mysticatea commented on #7259
Thank you for this issue.

`v2.13.1` is a super old version.
Could you confirm with the latest version?

[2016-09-27 11:28] Gelio commented on #7259
Upgraded to v3.6.1 and problem is fixed. Thank you for helping me realise that!

I installed eslint globally a long time ago and didn't update it for some reason since then.

[2016-09-27 11:28] #7259 closed

[2016-09-27 11:39] MathRobin commented on #7257
I have done node - v in my terminal and got this version number :s

[2016-09-27 11:48] vitorbal commented on #7098
@nzakas that's a good point about keeping the report object JSON-serializable.

I tried the approach of adding a `source` property to the file result and it works fine!
I also did some rough before/after instrumentation in two different scenarios (26817 errors in 767 files, and 15584 errors in 279 files) and this doesn't really seem to cause any significant increase in memory usage.

Regarding the

[2016-09-27 11:56] vitorbal commented on #7255
@dandv thanks for reaching out! The rules you want to override need to be inside a `"rules"` property in your config file. That's probably why the rule is not being overridden. Try this:

[code]

[2016-09-27 12:02] vitorbal commented on #7242
Thanks, @sstern6! I can confirm this on v3.6.1.

[2016-09-27 12:15] mikesherov commented on #7098
:+1: from me on "no breaking change" as part of this PR.

[2016-09-27 12:18] MathRobin commented on #7257
Tried nodejs -v and got 0.10. I guess my client uses nodejs and not node... hell. After update of both to node 6.6.0, verything works great. Thanks !

[2016-09-27 12:18] #7257 closed

[2016-09-27 13:43] Moeriki opened #7260 "Include function name in report message if possible / relevant"
I have these two warning about the same function in my code.
- **complexity** Function 'formatLog' has a complexity of 12.
- **max-statements** This function has too many statements (25). Maximum allowed is 16.

Notice that the latter says `This function`, where the former says `Function 'formatLog'`. This named notation I find really helpful.

I did a quick search in the rules and found a few mor

[2016-09-27 14:02] platinumazure commented on #7260
I like the idea. That said, since we are also discussing a rule change elsewhere about using a function's inferred name to suppress warnings, I would like to make sure we consolidate all that logic in one place (ast-utils maybe?).

[2016-09-27 14:08] kaicataldo commented on #7116
Looks like this proposal might be relevant: https://github.com/eslint/eslint/issues/5982#issuecomment-248302460

[2016-09-27 14:26] SirCmpwn opened #7262 "Missing semicolon erroneously raised"
**Tell us about your environment**

* **ESLint Version:**

    "babel-eslint": "^6.1.2",
    "eslint": "^2.13.1",
    "eslint-config-airbnb": "^9.0.1",
    "eslint-plugin-babel": "^3.3.0",
    "eslint-plugin-import": "*",
    "eslint-plugin-jsx-a11y": "^1.2.2",
    "eslint-plugin-react": "^5.1.1",

* **Node Version:** 6.6.0
* **npm Version:** 3.10.8

**Please show your full configuration:**

[code

[2016-09-27 14:28] SirCmpwn commented on #7262
Whoops, my bad, I totally misread the file that was causing the problem. Embarrassing...

[2016-09-27 14:28] #7262 closed

[2016-09-27 14:32] bsr203 commented on #7012
hi I still has issue with v3.6.1. Is async not available yet ? I read some mentioning it is in 3.6.0. thanks.

[2016-09-27 14:39] hzoo commented on #5860
Is there a particular reason for not using code-frame? https://github.com/babel/babel/blob/master/packages/babel-code-frame/README.md#usage - the api is pretty simple and it acts the same as JSCS. I added an option for changing the lines above/below as well.

[2016-09-27 14:46] #6954 closed

[2016-09-27 15:05] gandazgul opened #7263 "prefer-const false positive when assigning specific object keys instead of overwriting with a new value"
* **ESLint Version:** 2.7.0
* **Node Version:** v6.3.1
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
newSections should not be an error of pre-const as its used after the f

[2016-09-27 15:14] gandazgul commented on #7263
Apparently, using const for objects is not intuitive in that it allows adding keys to the object, so using const here will work and eslint is right in throwing the error.

[2016-09-27 15:14] #7263 closed

[2016-09-27 15:21] sundeepgupta opened #7264 "`max-len` is not allowing both `ignoreStrings` and `ignoreTemplateLiterals`"
* **ESLint Version:** 3.6.1 with eslint-config-google 0.6.0
* **Node Version:** 6.3.1
* **npm Version:** 3.10.5

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
With the above `max-len` config, these two lines produce the `max-len` error. I expected n

[2016-09-27 15:22] wmertens commented on #7247
Yes, but it seems to me that the CLIEngine should support all the options
that are possible in config files?
After all, it has all the other config keys, so I believe that it is an
oversight…

On Tue, Sep 27, 2016, 12:27 PM Toru Nagashima <notifications@github.com>
wrote:

[2016-09-27 15:27] platinumazure commented on #7247
@wmertens The top-level CLIEngine options should (mostly) correspond with CLI flags. Can you give me an example of a top-level CLIEngine option that is actually a configuration file key/value pair?

[2016-09-27 15:34] platinumazure commented on #7264
I think your configuration is wrong. You need to combine the options object in your configuration.

[code]

[2016-09-27 16:11] platinumazure commented on #7247
@wmertens CLIEngine was designed to emulate our command-line interface. What you are observing is that we have some CLI flags that are also usable in configuration (e.g., `--plugin` vs configuration "plugins"). However, "settings" is not a CLI flag, it is only a configuration value. This is not an oversight, this is how it was designed.

As @mysticatea noted above, the correct approach here is to

[2016-09-27 16:32] dandv commented on #7255
That worked, thanks!

[2016-09-27 16:32] #7255 closed

[2016-09-27 16:34] alberto commented on #7264
@platinumazure is right, so closing

[2016-09-27 16:34] #7264 closed

[2016-09-27 16:50] sstern6 commented on #7242
Thanks @vitorbal for accepting, will get on this as it is related to my open PR found: https://github.com/eslint/eslint/pull/7237.

Might have a few questions along the way though.

[2016-09-27 16:54] sundeepgupta commented on #7264
:facepalm: sorry for the false alarm

[2016-09-27 17:15] ilyavolodin commented on #7038
Release went smoothly overall. After minor release on Friday, we found an issue with Espree and did a follow-up patch release on Monday to upgrade Espree version. There are still 2 outstanding regressions from the Friday build that were reported, but still do not have a fix available. Right now, the main problem is not knowing if we should do another follow-up patch release after those issues are

[2016-09-27 17:33] nzakas commented on #7248
It looks like the only problem here is that the smart tabs option isn't being respected. If we can fix that, we should be good to go.

[2016-09-27 17:42] wmertens commented on #7247
Ah ok, thanks for clarifying.

On Tue, Sep 27, 2016, 6:11 PM Kevin Partington <notifications@github.com>
wrote:

[2016-09-27 17:43] nzakas commented on #7248
I'll take a look.

[2016-09-27 17:44] #7247 closed

[2016-09-27 17:49] platinumazure commented on #7248
@nzakas

I'm not sure it's that simple-- smart-tabs is an option in no-mixed-spaces-and-tabs, not in indent. That option *is* being respected in no-mixed-spaces-and-tabs, the problem is indent is now warning on mixed spaces and tabs when it shouldn't. (Long-term, I could see an argument for getting rid of no-mixed-spaces-and-tabs and folding that functionality into indent, but right now there's a

[2016-09-27 17:55] nzakas commented on #7248
Ah yes, looked at this too quickly, you're right. I'll look at reverting that for now and we can revisit whether or not there should be two rules at a later point.

[2016-09-27 17:59] nzakas commented on #7248
@platinumazure it looks like this change came in as a result of an issue you opened: https://github.com/eslint/eslint/issues/4274. Can you comment on the effect if we revert this commit? (https://github.com/eslint/eslint/commit/8b3fc321535b6e4103b9dbf66109af1cc9d3104d#diff-f7ae198ea24182d178b8f3376e61b6ed)

[2016-09-27 18:03] platinumazure commented on #7248
@nzakas Let me know if this makes sense:

1. The original problem I reported was that if a user used "tab" indent and ran ESLint on a file with spaces, or vice versa, the errors would show up as "Expected 1 tab but found 0" (i.e., no tab characters were found, because there were spaces).
1. Auto-fix with indent was not suitable due to this, because indent would effectively remove all indentation.

[2016-09-27 18:05] not-an-aardvark commented on #7248
A simple fix would be to have a special case in `indent` to avoid reporting "some tabs followed by some spaces".

[2016-09-27 18:10] platinumazure commented on #7248
@not-an-aardvark Agreed, that's the correct solution. The question is whether we want to put that in right before an emergency patch release, rather than just revert the commit so we're at least in a known state.

[2016-09-27 18:21] sunjay commented on #5867
The code I would like this to work for looks like this:

[code]

Similar to what everyone else is presenting except instead of `register: function(name) {` I'm using `register(name) {` which is allowed in ES6.

[2016-09-27 19:16] mysticatea commented on #7012
@bsr203 eslint supports async\await without babel-eslint now. You may remove `parser: babel-eslint` from your config. If you still need babel-eslint, you must update babel-eslint to the latest version. This issue caused by a bug of old babel-eslint.

https://github.com/babel/babel-eslint/releases/tag/v7.0.0

[2016-09-27 19:25] JonathanWolfe commented on #5982
@TheSavior Seems like this feature has stalled out. If you want to implement this and bring it in, I (and probably a lot of others) would greatly appreciate it.

[2016-09-27 19:34] nzakas commented on #7248
We inadvertently introduced a breaking change here, and we need to fix that quickly. If someone can make the correct fix, that's fine, but if no one has the time to do that today, then we should revert the commit to do a patch release. We can always add back the changes later with the correct fix.

This is also a good reminder to make sure each PR solves only one problem so that reverts are clean.

[2016-09-27 19:36] not-an-aardvark commented on #7248
I made a PR to fix the issue at https://github.com/eslint/eslint/pull/7266.

[2016-09-27 19:38] nzakas commented on #7226
That's why I'm saying maybe the whole rule should be removed. I don't think it makes sense to just remove a subset.

[2016-09-27 19:54] #7229 closed

[2016-09-27 20:05] JonathanWolfe commented on #7233
I'm on  `@latest` and see the same issue.

* **ESLint Version:** 3.6.1
* **Node Version:** 6.1.0
* **npm Version:** 3.8.6

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
A warning message about the missing i

[2016-09-27 21:08] TheSavior commented on #5982
I think this ticket should be closed as a duplicate of #3092. It sounds like people are in agreement that we should support more than just if statements and that we should merge space after with space before.

[2016-09-27 21:38] gyandeeps commented on #7038
I think the release very smooth and easy. Thanks for automating all this @nzakas .

[2016-09-27 21:40] Ivanca opened #7268 "vars-on-top"
Asking for rule change for vars-on-top rule:

**What you did:** Add a for loop in the middle of my code
**What you would like to happen:** For var-on-top to not complain about `var i` not being on top (because it is at the start of the for loop, meaning e.g. `for (var i; i < max;i++);`
**What actually happened:** eslint complains, so I have to disable the rule instead of just using it where I want

[2016-09-27 21:57] platinumazure commented on #6874
**TSC Summary**: This issue is accepted, but I wanted to see if this merited being included on the core roadmap project.

**TSC Question**: Should this issue be added to the core roadmap project?

[2016-09-27 21:57] platinumazure commented on #6740
**TSC Summary**: This issue is accepted, but I wanted to see if this merited being included on the core roadmap project.

**TSC Question**: Should this issue be added to the core roadmap project?

[2016-09-27 21:57] platinumazure commented on #6592
**TSC Summary**: This issue is accepted, but I wanted to see if this merited being included on the core roadmap project.

**TSC Question**: Should this issue be added to the core roadmap project?

[2016-09-27 22:21] kaicataldo commented on #4826
I'm closing this issues since it has been open since January and does not have anyone from the team or the community willing to step forward and own the work to complete to it.

[2016-09-27 22:21] #4826 closed

[2016-09-27 22:23] kaicataldo commented on #4904
Where do we stand on this? This issue has been open for a long time and I think it's hard for a contributor to know what, if anything, should be done.

[2016-09-27 22:32] kaicataldo commented on #6724
@eslint/eslint-team Any thoughts on my comment above?

[2016-09-27 22:55] dcousens commented on #7111
Another example that happens quite often and is impossible with this rule enabled:

[code]

[2016-09-27 23:13] michaelficarra commented on #4904
I still strongly feel that the exception for MemberExpressions in this rule is an error. It allows sub-expressions of  MemberExpression that have higher precedence than a MemberExpression to be parenthesised. The goal of this rule is to warn about exactly those kinds of situations. And the only opposition was on the grounds of user confusion, but now that we have auto-fixing, that argument is comp

[2016-09-28 02:03] not-an-aardvark commented on #7233
I think this is intended behavior: the [docs](http://eslint.org/docs/rules/indent#memberexpression) mention that "Any indentation is permitted in variable declarations and assignments".

[2016-09-28 03:54] #7069 closed

[2016-09-28 11:02] jochenberger opened #7269 "exporting a named function triggers no-undef"
The following ES6 module triggers the `no-undef` rule:
[code]
The error is:
`  1:16  error  'square' is not defined  no-undef`

[2016-09-28 12:09] #7268 closed

[2016-09-28 14:10] jez9999 opened #7270 "Allow disable of SwitchCase indent rule"
I like my switch case statements to be indented like so:

[code]

As the current indent rules don't allow enforcing this, perhaps it would be a good option to allow {"SwitchCase": "off"} to be an option for the "indent" rule config.

More info:
- What rule do you want to change?
  indent
- Does this change cause the rule to produce more or fewer warnings?
  Fewer
- How will the change be implement

[2016-09-28 14:19] L5eoneill commented on #900
I know this is really old, but the render should return (<div>...</div>) with parens around it. Our eslint has no problem with the jsx using this syntax. (Or maybe something else changed since 2014!)

[2016-09-28 14:54] platinumazure commented on #900
@L5eoneill We support JSX parsing in espree now, that's what changed. :smile:

[2016-09-28 14:57] platinumazure commented on #7270
Hi @jez9999, we can certainly consider a rule enhancement request for this use case. That said, could you please follow the link provided by eslintbot above and edit your post per the instructions on that page? It really helps us to have all the information filled out in your first post.

I also wanted to note that as a workaround, you could disable the indent rule within the switch statement:

[c

[2016-09-28 15:22] jez9999 commented on #7270
I have updated the original post with more information.

[2016-09-28 15:24] platinumazure commented on #7270
Thanks @jez9999! We'll evaluate in the next couple of days.

[2016-09-28 15:55] vitorbal commented on #7260
extracting that logic into ast-utils sounds good to me. Besides that, 👍 from me so we just need a champion now.

[2016-09-28 16:36] TheSavior commented on #7033
@alexsunxl based on your example, would your issue be solved with `newline-after-imports`? https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/newline-after-import.md

[2016-09-28 16:56] TheSavior commented on #3092
Let me give a different perspective on the original JSCS rule requirePaddingNewLinesAfterBlocks (I was the author). A simpler way to think about that rule is that it intends to enforce that every closing curly line should be followed by a blank line unless followed by another closing curly line.

It seems like one of the challenges of adding a `padding-around-blocks` rule is the implications of co

[2016-09-28 17:06] meeber opened #7272 "no-implicit-coercion autofixer can change logic"
**Tell us about your environment**

* **ESLint Version:** 3.6.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Ran `eslint --fix` on:

[code]

**What did you expect to happen?**

Expected ESLint

[2016-09-28 17:43] platinumazure commented on #7272
I agree, in this case the tree structure has changed significantly: UnaryExpression > UnaryExpression becomes BinaryExpression > (UnaryExpression, Literal). Acceptable fix would be to surround the new BinaryExpression in parentheses, but I think it would be best not to fix if the expression is preceded by a unary operator.

[2016-09-28 17:59] platinumazure commented on #7272
Pinging @TheSavior: Any chance you could take a look at this?

[2016-09-28 18:14] nzakas commented on #7038
While the initial release seems to have gone smoothly, I think the aftermath has been a bit messy. What I've picked up from the chat:

1. People were unsure if there was going to be a patch release on Monday.
2. There was a lot of confusion over whether or not there should be a second patch release. That confusion continued into Wednesday, at which point at least one semver-minor PR had been merge

[2016-09-28 18:52] TheSavior commented on #7272
Does this problem exist *only* when prefixed with a unary operator?

[2016-09-28 21:24] not-an-aardvark commented on #7272
No, it applies in cases like this as well:

[code]

So I think the solution is to only fix the `~`/`indexOf` case if the expression is always going to be evaluated as a boolean (e.g. in an `if` or `while` test).

[2016-09-28 21:42] meeber commented on #7272
@not-an-aardvark makes a good point, although his example contains a concerning lack of animal noises.

On a similar note:

[code]

[2016-09-28 22:37] joshrhoades opened #7273 "Quotes Refuses to Honor es6 Tempaltes"
Ok, trolled through similar issues, and they all seem to end up being solved with the addition of `allowTemplateLiterals` rule for `quotes`, but that isn't working for me and I think I'm about out of options or missing something so blatantly obvious that I will literally mock a kangaroo just to cause him to punch me, so here we are typing things into the webernets as a last-ditch effort.

It seems

[2016-09-28 23:11] TheSavior commented on #7272
So it seems like it is only an issue of `~`.

What if we always wrap the resulting indexOf check in parens if it is inserted into a larger expression?

[2016-09-28 23:27] #7213 closed

[2016-09-28 23:27] #7248 closed

[2016-09-28 23:34] kaicataldo commented on #5982
@TheSavior agreed - sounds like they're converging into the same rule. Will leave open while we discuss the other issue so that we don't lose track of this, since we need it for JSCS compatibility.

[2016-09-28 23:36] kaicataldo commented on #3092
I think having a rule called `padding-around-blocks` that only checks after the block is confusing.

My preference would be to fully implement `padding-around-blocks` right off the bat. It does seem like this issue is converging with https://github.com/eslint/eslint/issues/5982, as @TheSavior has pointed out. We would be able to solve both issues of compatibility with JSCS. @eslint/eslint-team tho

[2016-09-29 00:03] not-an-aardvark commented on #7272
That would still cause some issues, because the fixer changes its type to a boolean instead of a number.

[code]

[2016-09-29 00:29] ryb73 commented on #2026
Updated version of @nzakas's link for anyone interested: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

[2016-09-29 00:30] TheSavior commented on #7272
So perhaps the approach is that we just shouldn't autofix `~`

[2016-09-29 00:32] TheSavior commented on #3092
What is the standard eslint approach to handling the conflicts with other rules that will come when providing support for the blank lines before blocks?

[2016-09-29 01:27] kaicataldo opened #7274 "`indent` rule discussion"
Opening this issue to give us a place to discuss how we would like to move forward with the `indent` rule, given the number of open issues we have and the complexity of the rule. I'm leaving all the currently open `indent` issues open (even if they have reached the time we've agreed upon to close old issues) so we can take stock, but am not opposed to closing them after we discuss. Might even be w

[2016-09-29 01:35] kaicataldo commented on #7274
Getting the discussion going, @not-an-aardvark has been working on this rule recently - would love to hear your thoughts on this. Working on this has been pushed back while we have focused on JSCS compatibility, and hearing from someone with a fresh perspective could be really valuable!

It seems to me like we should focus on resolving known issues/accepted bugs (maybe even closing any enhancement

[2016-09-29 01:38] kaicataldo commented on #5540
@nzakas @ilyavolodin done! https://github.com/eslint/eslint/issues/7274

[2016-09-29 01:41] meeber commented on #7272
I think the following two statements are by far the most common use of `~` with `indexOf` and can both be safely autofixed:

[code]

But any other variation seems risky to autofix, as the user might be doing something whacky that'll break as a result of autofixing. Is it reasonable to only autofix the above two cases, but warn on any other case? Or is the complexity and lack of consistency not wor

[2016-09-29 01:45] kaicataldo commented on #6828
Looks like the original proposal has changed since this was initially accepted and the issue has stalled. We have an open PR for this, so would love to get the discussion going again. I'm still :+1: for this (put a reaction on the original comment as well).

[2016-09-29 05:01] kaicataldo commented on #3092
For compatibility with `padded-blocks`, we've done things like not check newlines before the first statement in the block and after the last (ex: http://eslint.org/docs/rules/lines-around-directive#rule-details). I believe we have some cases of creating config options that allow rules to be used simultaneously as well, but don't have any examples off the top of my head.

[2016-09-29 05:04] kaicataldo commented on #7269
The variable `square` isn't declared anywhere in your example, but it's hard to know what's going on without some more info.

[2016-09-29 05:16] not-an-aardvark commented on #7274
Thanks for putting these together. I've been working on a rewrite of the `indent` rule. [This](/not-an-aardvark/eslint/commit/06dd1f01a6a8d13cad80bfcf4d2338d93daad594) is what I have so far -- I would say it's roughly 90% done, but there are still a few edge cases that need to be fixed. Hopefully I'll have a PR up for that in the near future.

Here's my take on the issues:

https://github.com/esli

[2016-09-29 05:18] kaicataldo commented on #7273
I'm having trouble reproducing this locally. I ran the current master branch of eslint with the exact .eslintrc you provided on the following code:

[code]
and I'm not seeing any errors.

What happens if you run ESLint without rollup-plugin-eslint? Maybe a silly question, but is it running ESLint on the transpiled output? Just asking because I'd expect template literals to be transpiled to concate

[2016-09-29 06:30] #7269 closed

[2016-09-29 06:31] jochenberger commented on #7269
Apparently that syntax is not supported, so the issue is invalid.

[2016-09-29 06:40] alexsunxl commented on #7033
@TheSavior  thank you for your recommend very much.
I would read about after.

[2016-09-29 07:15] TheSavior commented on #3092
Do you have a proposal for how we can set up this rule such that it doesn't conflict with others? I don't have enough context to really have a recommendation here.

[2016-09-29 10:45] vitorbal commented on #5860
If we don't mind the extra dependency, then I don't see why not. I tried it out and it works quite well:

<img width="907" alt="screenshot 2016-09-29 12 12 36" src="https://cloud.githubusercontent.com/assets/626038/18950767/dbcbe73e-8641-11e6-99f7-00a82aca8b35.png">

The pointer renders a bit differently from the JSCS formatter though:
[code]
vs.:
[code]

[2016-09-29 12:22] lydell commented on #5860
@vitorbal If you try the latest version, the colors are nicer too :)

[2016-09-29 12:27] hzoo commented on #5860
Yep!

<img width="622" alt="screen shot 2016-09-29 at 8 27 26 am" src="https://cloud.githubusercontent.com/assets/588473/18953891/92e3e152-861e-11e6-9915-2e98526b7cc4.png">

If we want the `---` we can make that an option too.

I removed the babel-runtime dep so it's just https://github.com/babel/babel/blob/master/packages/babel-code-frame/package.json#L11-L13

    "chalk": "^1.1.0", // used in es

[2016-09-29 12:36] vitorbal commented on #5860
Oh, nice! Thanks for the screenshots. Mine were taken before the newest version.
This looks great, I'd be 👍 for using it. Let's see what the other folks think.

[2016-09-29 13:27] mathieumg commented on #7085
This might be handy as a starting point for React users leveraging this rule:

[code]

Depending on your codebase (if you use stateless components, if you don't have side-effects in your components, etc.) you probably only need a few of these, if any.

[2016-09-29 15:32] ljharb commented on #7085
There's a few more for React, that eslint- config-airbnb defines.

[2016-09-29 15:41] mathieumg commented on #7085
For reference, https://github.com/airbnb/javascript/blob/8468ed842314a5d66816927ba6c35f018035cffc/packages/eslint-config-airbnb/rules/react.js#L22-L33

I don't use external configurations, that's why posted my snippet. :) That being said, I forgot about context (not on the React lifecycle page since it's still technically not officially supported) and I use class properties that's why I didn't inc

[2016-09-29 17:15] alberto commented on #6740
@platinumazure what's the implication of being in the core roadmap? Why do you think this (and your other proposals) should be included?

[2016-09-29 17:34] joshrhoades commented on #7273
@kaicataldo I think you're onto something. Late last night, after I posted this, I also noticed eslint complaining about `this$$1` in some cases when I was using `consistent-this`, which could only exist in the transpiled version. I also ran against pure eslint (no rollup or rollup-plugin-eslint) involved with the same config and did not get any issues with `quotes` or `prefer-template`.

So looks

[2016-09-29 17:43] kaicataldo commented on #7273
No worries, glad we figured it out! Hope you get the rollup issue figured out :)
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2016-09-29 17:43] #7273 closed

[2016-09-29 17:44] vitorbal commented on #7273
Thanks for the update, @joshrhoades!
Closing this, as the issue seems to be resolved. Please reopen if there is more to discuss.

[2016-09-29 17:58] platinumazure commented on #6740
@alberto To me, it's a matter of asking if we want to consider these as important for the next big milestone (e.g., do we want these done in core as part of 4.0). The "core roadmap" project was added and some issues were added to that project with a not-very-transparent process, and I wanted to put these up as potential candidates. If the TSC decides they do not belong on a core roadmap, then at l

[2016-09-29 19:54] ilyavolodin commented on #6525
TSC Summary:
This is the proposal to add two new API methods:
 - `version` in both `linter` and `CLIEngine` objects. Would return current ESLint version
 - `getRules` in `linter` object. Would return an array of all rules currently loaded.

[2016-09-29 20:50] nzakas opened #7275 "Release on September 30, 2016"
The scheduled release on Friday, September 30, 2016 is assigned to:

* @nzakas
* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2016-09-29 20:51] nzakas opened #7276 "Release on October 14, 2016"
The scheduled release on Friday, October 14, 2016 is assigned to:

* @btmills
* @mysticatea

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2016-09-29 21:10] nzakas commented on #7275
We will plan on starting the release at around 2pm Eastern/11am Pacific.

[2016-09-29 21:45] platinumazure commented on #6828
I don't super enjoy using "1tbs" vs "allman" etc. as values for the individual configurations, because to me those are brace styles that apply equally to all blocks; however, I respect that there is practical value in using values that users will already be familiar with.

The only potential confusion I can see is the use of "allman" vs "stroustrup" for non-if blocks (e.g., function bodies). In th

[2016-09-29 21:59] kaicataldo commented on #6525
Marking as accepted as per the discussion during today's TSC meeting.

[2016-09-29 22:01] kaicataldo commented on #6592
As per the discussion during today's TSC meeting, this issue has been added to the Core Roadmap.

[2016-09-29 22:01] kaicataldo commented on #6874
As per the discussion during today's TSC meeting, this issue has been added to the Core Roadmap.

[2016-09-29 22:02] kaicataldo commented on #6740
As per the discussion during today's TSC meeting, this issue has been added to the Core Roadmap.

[2016-09-29 22:07] kaicataldo opened #7277 "Guidelines for patch releases"
Following up on the TSC discussion today, this purpose of this issue is to discuss the following:
- Come up with guidance around when on Monday patch releases should be made.
- Come up with guidance around when a Tuesday patch release should be made.
- How to notify the team when we are in "possible patch release" mode to avoid merging things.
- What is the proper course of action if a semver-mino

[2016-09-29 22:08] kaicataldo commented on #7038
As per the discussion in today's TSC meeting, we now have a `regression` label and the following issue to hammer out guidelines for patch releases: https://github.com/eslint/eslint/issues/7277

[2016-09-29 22:08] #7038 closed

[2016-09-29 22:09] kaicataldo commented on #5900
As per our discussion in today's TSC meeting, this issue has been added to the Core Roadmap.

[2016-09-29 22:14] kaicataldo commented on #7277
Could we use release issues such as https://github.com/eslint/eslint/issues/7275 and https://github.com/eslint/eslint/issues/7276 to track the status of the release? Could be done with labels or comments (my preference would be comments that ping the team), and we can make it clear that if the issue is open that patch releases may still be required.

[2016-09-29 23:02] ilyavolodin commented on #7277
Ideally (I know that's pretty hard to do), I would want GitHub integration that would just mark all PRs as not ready to merge (sort of like jQuery Foundation license checker).

[2016-09-29 23:18] SirSeim opened #7278 "Problem reading `\u{}` formatted unicode"
**Tell us about your environment**

* **ESLint Version:** v3.6.1
* **Node Version:** v4.5.0
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
Within `package.json`

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?** No Errors

**What

[2016-09-29 23:20] not-an-aardvark commented on #7278
I think this is happening because curly braces with unicode are an ES6 feature, and ESLint only parses ES5 by default. You can enable ES6 parsing by adding `env: {es6: true}` to your config.

[2016-09-29 23:24] SirSeim commented on #7278
@not-an-aardvark, you are awesome!

[2016-09-29 23:24] #7278 closed

[2016-09-30 01:05] TheSavior commented on #6070
I wrote the original JSCS rule and my intention was to ensure a blank space before the first exported thing in the file.

My company happens to only use `module.exports` currently, so I had no opinion on supporting exports. We only ever specify `module.exports` once in our files, which is why the tests in the JSCS rule only ever show a single assignment to `module.exports`

[2016-09-30 01:26] TheSavior commented on #7212
I imagine this should also require `.bind` to be wrapped. So it seems like the two things this rule needs to handle are `FunctionExpression` and `MemberExpression` inside of a `CallExpression`.

In order to maintain backwards compatibility, assuming that is important, is to have the following schema:

[code]

This current schema:
[code]
would be the same as:

[code]

The problem with this to me is

[2016-09-30 01:33] not-an-aardvark commented on #7212
I'm not sure I agree with requiring `bind` to be wrapped, since at that point it's not really an IIFE. But if other people want it or it's required for JSCS compatibility, then I could live with it.

Other possibilities for the option name:

* `{call: true, apply: true}` (both false by default, `true` indicates that parens are required for these cases
* Maybe something like `functionPrototypeInvoc

[2016-09-30 01:55] TheSavior commented on #7212
Im not tied to supporting bind either. Do we still need to support inside and outside on call and apply?

[2016-09-30 01:59] not-an-aardvark commented on #7212
I was assuming that people would want to use the same config for .call/.apply as regular IIFEs. For example:

[code]

[2016-09-30 02:34] TheSavior commented on #7212
Yes, totally agree. I think people would want the same behavior for all of them. That is the ideal change.

How do we feel about it breaking the backwards compatibility? Are we okay with that?

[2016-09-30 02:36] TheSavior commented on #7212
That sounds good to me. Are we able to break backwards compatibility and set those true by default? Or do we frown on that and make them false by default?

[2016-09-30 02:40] not-an-aardvark commented on #7212
I think we would make them false by default (at least for now), since making them true by default would be a semver-major change. We could consider changing the default next time a major release happens.

[2016-09-30 02:57] TheSavior commented on #7212
Great. Happy to implement this change once the ticket gets accepted.

[2016-09-30 03:09] not-an-aardvark commented on #7212
Sounds good, I'll champion the proposal.

I'm not sure `call` and `apply` are ideal option names (it might not be immediately clear what they do), but if we think of a better option name before the change gets merged, it shouldn't be too hard to update.

[2016-09-30 03:47] TheSavior commented on #7212
Great to hear.

If you aren't happy with `call` and `apply` (I'm cool with those), what about a single option called `MemberExpression`?

[code]

[2016-09-30 03:48] wghust opened #7280 "prefer-const，sometimes should not use const."
**Tell us about your environment**

* **ESLint Version: v3.5.0**
* **Node Version: v5.8.0**
* **npm Version: v3.7.3**

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-EsLint

[code]
![1a0451b0-0135-4a03-b3d1-1eef8f2667e8](https://cloud.githubusercontent.com/assets/3960935/18980122/a978eaee-8703-11e6-9ea6-3fb2e75d6b70.png)
![a8928b76-864a-499c-9210-82a6f9928a7a](https://cloud.gi

[2016-09-30 04:02] kaicataldo commented on #7212
I'm :+1: for this change, but not sure about the option name...I think it makes sense to have a single option over two - seems like if you want this rule to apply to `call` or `apply` you'd also want it to apply to the other.

`MemberExpression` isn't clear enough for my taste. I'll throw another one out there - `functionPrototypeMethods`?

[2016-09-30 04:03] not-an-aardvark commented on #7280
Thanks for the issue. However, I think this is a duplicate of https://github.com/eslint/eslint/issues/3104.

Node 5 has a bug where `const` declarations in `for` loops are handled incorrectly -- the value always remains at 0, as you showed in your screenshot. This is actually incorrect behavior (see the [V8 bug](https://bugs.chromium.org/p/v8/issues/detail?id=3305)), so it was decided in https://g

[2016-09-30 04:03] #7280 closed

[2016-09-30 04:14] TheSavior commented on #7212
I don't feel strongly about any of these. I mostly just want to get this behavior out. :P

Current (not shot down) proposals are:

`functionPrototypeMethods` and `functionPrototypeInvocations`. Anyone else have thoughts?

[2016-09-30 04:17] kaicataldo commented on #7212
Hope it doesn't actually feel like we're shooting your ideas down - that's not the intention!

[2016-09-30 04:18] TheSavior commented on #7212
Nope nope, it's fine. I legitimately don't care, just want to help push these forward. :) I'm cool with any option name

[2016-09-30 04:19] not-an-aardvark commented on #7212
I prefer `functionPrototypeMethods` over `functionPrototypeInvocations`.

[2016-09-30 04:20] TheSavior commented on #7212
Great, sounds like the three of us are good with `functionPrototypeMethods`. What's the next step?

[2016-09-30 04:22] kaicataldo commented on #7212
@TheSavior Really appreciate you staying on this :) Mind updating the original issue to include the proposed option name as well? Next step is for the the champion to gain consensus (3 supporters) from the team. I've put my thumb on it, so we just need two more to support this addition.

[2016-09-30 04:26] kaicataldo commented on #6070
I support this with the configuration suggested by @mysticatea in this comment: https://github.com/eslint/eslint/issues/6070#issuecomment-247565481

[2016-09-30 05:10] TheSavior commented on #7212
Updated the initial post with the current proposal

[2016-09-30 07:00] wghust commented on #7280
@not-an-aardvark in firefox 48.0.1, it still has this problem.
<img width="486" alt="qq20160930-1" src="https://cloud.githubusercontent.com/assets/3960935/18983293/7db46b70-871e-11e6-80e6-523454aeb8fc.png">

[2016-09-30 07:14] ljharb commented on #7280
@wghust for..in is for iterating over object properties on the entire prototype, not arrays and their own list of items - you should use a for loop, or `.forEach` etc, to do that anyways, which won't suffer from this problem.

[2016-09-30 07:23] wghust commented on #7280
@ljharb change the array to object, it still has this problem.
<img width="618" alt="qq20160930-2" src="https://cloud.githubusercontent.com/assets/3960935/18983842/c69dc824-8721-11e6-98e9-972d487c4353.png">

[2016-09-30 08:03] ljharb commented on #7230
As of this week, object rest/spread is stage 3, so it's just a matter of time :-)

[2016-09-30 08:26] verekia commented on #5583
For those who are wondering how to combine `eslint-plugin-import` with alphabetical order like `sort-import` does, this is not possible yet with the plugin. An [issue](https://github.com/benmosher/eslint-plugin-import/issues/389) is open on the plugin as a feature suggestion. So unfortunately, we can't currently both lint for alphabetical order and import type (absolute/relative).

[2016-09-30 09:29] elodszopos commented on #6053
Not to rush anyone, just interested in a status on this. Any news @kaicataldo ?

Would be awesome to have the possibility to enforce stopping the `this.props.blabla` flood.

[2016-09-30 09:53] mysticatea commented on #7280
@wghust Firefox has a bug, it does not support `let` and `const` on iteration scope.

http://kangax.github.io/compat-table/es6/

[2016-09-30 10:09] mysticatea commented on #7280
In funny fact, there are many duplicate issues: #6337, #5568, #4933, #4838, #4333, #4088, and #3104.

https://github.com/eslint/eslint/issues/3104#issuecomment-157743822 is a detail description.

[2016-09-30 11:31] mysticatea commented on #7260
[code]

This needs consideration for computed properties (it can become `undefined` on computed properties).
Maybe `name = astUtils.getStaticPropertyName(node.parent) || "(computed)"`?

[2016-09-30 13:06] tp opened #7281 "ESLint breaks on Flow 0.32.0 "closed object" syntax"
Flow 0.32.0 introduced a new way to annotate objects that _only_ contain specific fields.

[code]

Apparently the parser in ESLint does not expect the `|` and errors.

See the release notes here: https://github.com/facebook/flow/releases/tag/v0.32.0

(Sorry if this is not the right project for the report. I would gladly report this to the most appropriate project.)

**Tell us about your environmen

[2016-09-30 13:17] platinumazure commented on #7281
Hi @tp, thanks for reaching out!

You're using babel-eslint, so you should open an issue in that repository. We have no control over babel-eslint.

[2016-09-30 14:19] zertyuio commented on #3587
Hi, any update about this issue ?

I am also interested by this new rule, it looks great !
I was too presumptuous this morning with the idea that I could maybe implement this new rule 'space-ops'.
I haven't even managed to update the existing one 'space-infix-ops' with an option, which sounds like the easiest way to implement it (but it's not obvious to understand how eslint works).

As I couldn't

[2016-09-30 14:23] hzoo commented on #7281
Yep you can make an issue there (eslint doesn't support flow directly) - we updated babylon already but probably need to make another change as well.

[2016-09-30 14:23] #7281 closed

[2016-09-30 14:28] btmills opened #7282 "no-unused-vars false positive for use on right side of assignment"
**Tell us about your environment**

* **ESLint Version:** http://eslint.org/demo
* **Node Version:** n/a
* **npm Version:** n/a

**What parser (default, Babel-ESLint, etc.) are you using?**

Default

**Please show your full configuration:**

None, inline

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error. `foo` is us

[2016-09-30 14:54] kaicataldo commented on #6053
Hey, thanks for checking in - ended up being busier than I expected and haven't gotten to it yet. Finally have some free time this weekend and am hoping to start in on this, but if someone else has the bandwidth please feel free to take it on!

[2016-09-30 15:18] vitorbal commented on #6070
If @mysticatea and @platinumazure can get behind the configuration proposed in [the comment you mention](https://github.com/eslint/eslint/issues/6070#issuecomment-247565481), then we have enough to accept this. I'm willing to champion and implement!

[2016-09-30 18:05] #7249 closed

[2016-09-30 18:08] #7250 closed

[2016-09-30 19:02] kaicataldo commented on #7275
Release went smoothly. This issue will remain open until we can determine whether a patch release is necessary on Monday, 10/3/16.

[2016-09-30 19:54] sstern6 commented on #7274
@kaicataldo have been working on a few indent bugs in the codebase.  I am unsure how to proceed.  I was wondering if I should continue working through the bugs or wait until @not-an-aardvark 's PR is merged for the indent rewrite!

What do you think?

[2016-09-30 19:59] sstern6 commented on #7242
@vitorbal havent proceeded work on this because of the indent rewrite the community has been talking about.  Would you like me to still make a patch for this asap, or postpone?

[2016-09-30 20:07] platinumazure commented on #7260
I've decided to champion this. Just one more endorsement and we can accept this issue!

[2016-09-30 20:14] platinumazure commented on #7260
@Moeriki This is accepted now :smile:

You had promised us a broader list of rules that could use this improvement once the issue was accepted. Please present that list at your convenience. I look forward to seeing what we can do here! Thanks in advance!

[2016-09-30 20:23] not-an-aardvark commented on #7212
@TheSavior This issue is accepted now, so feel free to start implementing this (assuming you're still interested in doing so).

[2016-09-30 20:33] kaicataldo commented on #7214
Looks like this was actually fixed by https://github.com/eslint/eslint/pull/7215. The reason it didn't close was because the commit message is missing `fixes`.

[2016-09-30 20:33] #7214 closed

[2016-09-30 22:15] TheSavior commented on #7212
Sure, will do. This should be pretty straight forward. (Famous last words)

[2016-09-30 23:17] not-an-aardvark commented on #7282
Working on this.

[2016-09-30 23:19] vitorbal commented on #5860
I have a question about the formatter output: should we replicate the JSCS formatter 1 to 1, or could I take the liberty of making a few simple improvements? For example, here are two:

1. With JSCS, the formatter would output just the filename next to the error message:
<img width="829" alt="screenshot 2016-10-01 00 59 38" src="https://cloud.githubusercontent.com/assets/626038/19009278/5a667f9c-8

[2016-09-30 23:25] ilyavolodin commented on #5860
@vitorbal 👍 on proposed enhancements

[2016-09-30 23:26] not-an-aardvark commented on #7282
Actually, looking at this again, is it actually a bug? The assignment in line 7 is unnecessary, since `foo` is never used afterwards. (The line could be replaced with just `bar(foo);` and the rule would pass.)

I suppose it is a bit misleading to report an error on line 3 instead of line 7, though.

[2016-09-30 23:44] not-an-aardvark commented on #7235
I like this idea, but I'm not a big fan of the option name `uninferred`. In my opinion, that name doesn't describe the idea very well; it's a type of function, rather than an explicit preference for whether that function should have a name.

Maybe something like `as-needed` would be better? That would make the option names consistent with `quote-props`, `arrow-body-style`, and `arrow-parens`, and

[2016-09-30 23:58] btmills commented on #7282
The left side of the final assignment expression is unnecessary, but the variable is "used", at least according to my interpretation of the rule. You can look at the linked StackOverflow question for a less trivial example. In an ideal world (and I believe this is what you were getting at when you suggested warning on line 7 instead of the declaration), we'd be able to determine statically that th

[2016-10-01 00:13] not-an-aardvark commented on #7282
I think the current version of the rule *does* try to determine statically that the last assignment is unused, and that's why it reports an error in this case. (In the StackOverflow question, the line `stream = stream.pipe(gulp.dest(manifestRoot));` can be replaced with `stream.pipe(gulp.dest(manifestRoot));` without changing anything)

Perhaps the name `no-unused-vars` is a bit misleading (could

[2016-10-01 00:55] mysticatea commented on #7282
This was enhanced in #6348.

[2016-10-01 01:06] mysticatea commented on #7282
Also, there is a document issue: #6703

[2016-10-01 01:22] sstern6 commented on #6475
Would like to look into this one and make a PR to fix, but would like to know what the community would agree upon as "correct behavior" before diving in.  Seems like an interesting problem.

It seems like everyone agrees on evaluating LHS for errors and warnings, but should the rule trigger an error if reading from a property?

Any additional information is much appreciated.

Thanks

[2016-10-01 03:08] loganfsmyth commented on #7235
I don't have strong feelings about the name really, my initial concern was that `as-needed` didn't give enough info, but depending on your ES6 knowledge I guess that's the case with `uninferred` too. Definitely up for changing.

[2016-10-01 07:40] CapacitorSet opened #7285 "no-return-assign: except-parens does not behave correctly on arrow syntax"
**Tell us about your environment**

* **ESLint Version:** v3.7.0
* **Node Version:** v6.7.0
* **npm Version:** v3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error nor warning, as per [documen

[2016-10-01 14:40] iTob191 commented on #6195
For `let g = function*() {}`:
Maybe it would be sufficient if `space-before-function-paren` would take precedence over `generator-star-spacing`. I can't imagine that anyone wants to use `function()` and `function* ()`.

[2016-10-01 14:47] jez9999 commented on #7274
I suspect my #7270 proposal would be relatively easy to implement, as it's just turning off checking for indentation within switch blocks, rather than implementing some more advanced logic.

[2016-10-01 16:12] mlesk opened #7286 "no-unused-vars occurs even when variable is used in operator assignment"
Environment
-----------------------
ESLint Version: 3.6.1
Node Version: 4.1.0
npm Version: 3.10.8

parser : babel-eslint: 7.0.0

[code]

Problem
---------------
use of variable with operator assignment results in a no-unused-vars warning

[code]
I did not expect to receive a warning since the variable counter is used, but I received a no-unused-vars warning.

'counter' is defined but never used.(n

[2016-10-01 16:27] platinumazure commented on #7286
As the lint error notes, `counter` is never actually used. You could remove the variable and all references to it and consuming code wouldn't know the difference.

What are you intending to do with `counter`? Finish implementing your program and the error should go away.

[2016-10-01 16:33] nzakas commented on #5860
Agreed. These seem like good enhancements

[2016-10-01 16:41] nzakas commented on #6724
@kaicataldo my biggest concern about going too far from what Espree does is how that will affect custom rules. I like the new behavior you describe, as I think it makes more sense, but I'd like to see what sort of trouble that would get us into with existing custom rules. Maybe check against the react and import plugins to verify?

BTW, when posting a wall of text, its helpful to call out specific

[2016-10-01 16:53] nzakas commented on #7272
Lets just not auto fix `~`.  Our policy is not to auto fix unless it can be done safely, and in this case we obviously can't. (Trying to detect methods that return numbers is a step beyond what we should be doing.)

[2016-10-01 16:58] vitorbal commented on #7242
Thanks for the update on this! I think we should wait a bit and see what
the team agrees on in #7274, just in case we decide to merge the rewrite.
It would suck if you put in a lot of time for this fix and it is not
compatible with the refactored code.
Just wanted to reiterate what @kaicataldo said, we really appreciate your
help with the indent issues!

[2016-10-01 17:00] kaicataldo commented on #6724
Yeah, sorry about that - fair points about the wall of text, and appreciate you reading through it all. I'll do some exploration into this and report back!

[2016-10-01 17:01] nzakas commented on #7235
I'm against this change. The rule is strictly about whether a function has a formal name defined, not whether the name property has a value. ES6 specifically provides that all functions have a valid value for the name property, so this would amount to turning the rule off.

I don't think it makes sense to use this rule if you only care about the name property of functions. I think a new custom rul

[2016-10-01 17:05] nzakas commented on #7230
At first glance, this seems more appropriate as a custom rule. prefer-spread is a very narrow use case right now, and these changes don't fit well there. I'm also not sure about the relationship between Object.assign and spread properties as something that is generic enough to be included in core.

So, Id suggest creating a custom rule for this.

[2016-10-01 17:14] nzakas commented on #3565
@amilajack the issue is open, so we are planning on addressing it at some point. No one has the time to dig into it currently.

[2016-10-01 17:17] nzakas commented on #3352
Sure, I think a PR could help move this along.

[2016-10-01 17:20] nzakas commented on #5946
This is still indentation, just with a different target ending, so I think it could make sense as part of indent.

As a separate rule, it would clash with indent.

[2016-10-01 17:22] nzakas commented on #5150
With two :-1:s, and @btmills last comment, I think this can be closed.

[2016-10-01 17:22] #5150 closed

[2016-10-01 17:24] nzakas commented on #6363
Agreed.

[2016-10-01 17:24] #6363 closed

[2016-10-01 17:27] nzakas commented on #6690
I'm fine with omitting the check for a function being first, but I'm not sure it makes sense to have two options. It seems one should suffice.

[2016-10-01 17:29] nzakas commented on #6238
@jeremyruppel if you'd like to submit a PR for that, we'd love to take a look.

[2016-10-01 17:33] nzakas commented on #7098
Fine by me. Let's just be sure to open another issue to track the breaking part.

[2016-10-01 18:02] not-an-aardvark commented on #7285
Thanks for the issue. However, I was unable to reproduce it in the demo:

![](https://i.gyazo.com/0016d3d4f9721841addf0edbb60416be.png)

I don't see `no-return-assign` in your config. Is it possible that the option is being set to `no-return-assign: [2, "always"]`?

(You can view the full config for a file by using `eslint --print-config theFile.js`.)

[2016-10-01 18:12] mikesherov commented on #5946
TL;DR: JSCS had function call indentation separately because indentation was designed to not clash.

FWIW, JSCS did function args / param alignment as separate rule from generic indentation. It didn't conflict because the indentation rule was tri-state: correct, incorrect, or unimportant. Unimportant lines, when autofixed, moved with the previous important line.

The distinction is important, as y

[2016-10-01 18:23] CapacitorSet commented on #7285
Oh, yeah, that's why - thank you. I can't seem to find it in `eslint-config-google`, but if I replace `"extends": "google"` with `"extends": "standard"` it works without issues.

[2016-10-01 18:23] #7285 closed

[2016-10-01 19:24] ljharb commented on #7230
@nzakas spread props are, by spec, a 1:1 mapping to "Object.assign with an empty object literal as the target argument"

[2016-10-01 19:37] amilajack commented on #3565
I'd love to help out with this but i dont know where I should start. Any suggestions?

[2016-10-01 20:06] not-an-aardvark commented on #7282
So I propose we make the following changes:

* We should report every case where an unused assignment happens. (At the moment, we only report it in one place -- where the variable was declared.)
* We should improve the error message in cases like this (e.g. `Unused assignment to variable 'foo'`).

[2016-10-01 20:21] nzakas commented on #3565
@amilajack that tweet wasn't actually in reference to you, specifically, so I apologize if it seemed that way. There's just been a lot of these comments on various issues in the past week.

I'd suggesting reviewing our [architecture docs](http://eslint.org/docs/developer-guide/architecture) and reading over this thread, as there are a lot of details contained in the comments that will point you in

[2016-10-01 20:31] nzakas commented on #7282
:-1: That will be very noisy and I don't think it adds much to the user experience. This rule is not about assignments, it's about identifiers that were defined and then never used. We do not consider an assignment only to be used, so this should warn:

@mysticatea you removed "accepted" from this but didn't indicate why. Can you explain?

[2016-10-01 21:02] not-an-aardvark commented on #7282
@nzakas I see your point about which line to report. However, I still think we should improve the error in these cases (even if just by improving the error message when a variable is assigned but never read, like what happens in the following case):

[code]

This has led to a lot of confusion for users (see https://github.com/eslint/eslint/issues/3417, https://github.com/eslint/eslint/issues/3129,

[2016-10-01 21:29] mysticatea commented on #7282
@nzakas I thought this is the intentional behavior of #6348 and duplicate of #6703. What do I overlook?

[2016-10-02 00:09] ilyavolodin commented on #3565
@amilajack If you decide to take a stab at it, a good starting point would be this branch: https://github.com/eslint/eslint/tree/multithreading
It's very old and outdated, but it gives you an idea of want needs to be done. Basically everything between `cli.js` and `lib/eslint.js` has to become async in order to do multi-threading. I've tried doing that about 3 times but every time I ran into issue

[2016-10-02 00:58] loganfsmyth commented on #7235
Would you be up for elaborating on your reasoning behind that? Until ES6, those were one and the same anyway, but it seems like ES6 name inference opens that assumption up for reassessment. It feels like the core of my question here comes down to the definition of `has a formal name defined`, since to me `var foo = function(){}` does have a formal name defined.

That's not true for cases like `cal

[2016-10-02 01:04] not-an-aardvark commented on #7111
This seems like a reasonable enhancement. I'll champion this proposal.

@eslint/eslint-team Any support for this proposal? I think [this comment](/eslint/eslint/issues/7111#issuecomment-246179695) explains the use-case well. We already have a `classes` option that does the same thing for classes.

[2016-10-02 01:10] platinumazure commented on #7111
Endorsed. Apologies to @feross for losing track of this and thank you @not-an-aardvark for picking this back up.

[2016-10-02 02:07] amilajack commented on #3565
I see. Do you remember what the issues were?

[2016-10-02 02:34] sompylasar opened #7291 "comma-dangle reports incorrect position in array with ternary item"
**Tell us about your environment**

* **ESLint Version:** `3.7.0`
* **Node Version:** `4.2.2`
* **npm Version:** `3.10.7`

**What parser (default, Babel-ESLint, etc.) are you using?**

`babel-eslint@7.0.0`

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Reduced test case:

[code]

**What did you expect to happen?**

[2016-10-02 02:47] not-an-aardvark commented on #7291
I was able to reproduce this in the [demo](http://eslint.org/demo/). This does seem like a bug -- thanks for the report!

[2016-10-02 04:56] wavded opened #7293 "valid-jsdoc for option objects"
Given code as such:

[code]

The `valid-jsdoc` rule (as of ESLint 3.7.0) using the default setting currently tells me that I'm missing a param for `opts`.  However, I was hoping it would recognize `opts.*` as covering that case.  Is this something that could be supported?  As it stands adding a `@param {Object} opts Options.` line gets rid of the warning.

[2016-10-02 06:01] feross commented on #7111
No apology needed, @platinumazure! Thanks for the work both of you do on ESLint!

[2016-10-02 18:39] wavded commented on #7293
I did notice the official docs mention adding the additional `opts` param above the specific properties:

http://usejsdoc.org/tags-param.html

So perhaps this changed or I have been doing it wrong.  It doesn't seem like a hard and fast rule as I haven't had problems with the style above.

Thoughts?

[2016-10-02 19:25] miqmago opened #7294 "await for unused result: Expected an assignment or function call and instead saw an expression"
* **ESLint Version:** 2.7.0
* **Node Version:** 4.4.2
* **npm Version:** 3.8.5

**What parser (default, Babel-ESLint, etc.) are you using?**
    "eslint": "^2.7.0",
    "eslint-config-airbnb": "^6.2.0",
    "eslint-config-angular": "^0.5.0",
    "eslint-plugin-angular": "^1.0.1",
    "eslint-plugin-react": "^5.1.1",

**Please show your full configuration:**

*.eslintrc*
[code]
*.babelrc*
[code]

*

[2016-10-02 19:27] not-an-aardvark commented on #7294
Thanks for the issue.

I think this bug was fixed in https://github.com/eslint/eslint/pull/7175, which was released in ESLint v3.6.0.

Could you upgrade to the latest version of ESLint and try again?

[2016-10-02 19:33] ilyavolodin commented on #3565
@amilajack It was just refactoring that had to be done in order to enable code to work as both async and sync. Code is pretty complicated and the stack trace depth is quite substantial, so you have to refactor large number of methods and it's pretty easy to get lost on a way (and that's exactly what happened).

[2016-10-02 20:12] miqmago commented on #7294
Thanks, the problem here was that npm was outdated, so when trying to install `eslint@latest` it was installing:

[code]

I've updated npm@3.10.7 (3.10.8 is not working) and finally I could install `eslint@3.7.0`.

[2016-10-02 20:12] #7294 closed

[2016-10-03 03:10] TheSavior commented on #5442
I know this is long closed, but it is still a pain point for us as we move to eslint from jscs. We have our eslint and jscs configuration both in a package called `wealthfront-javascript`. If we write our own rules, we can use `rulesdir`. However, in many of your comments on other threads @nzakas, you have commented that you want to replace `rulesdir` with plugins.

Once we make the switch to esli

[2016-10-03 05:06] kaicataldo commented on #7293
It looks like the rule is following what the JSDoc docs say, as you mentioned above. From a more practical standpoint, if you're using JSDoc for type hinting, wouldn't you want to specify what type the top level parameter is?

[2016-10-03 12:23] wavded commented on #7293
@kaicataldo good point. Tern gives me a `?` without having that in there and a `{}` with it.

[2016-10-03 13:56] ilyavolodin commented on #5442
@TheSavior We don't have any plans to remove `rulesdir` currently. We think that plugins provide greater control and more options than `rulesdir`, but `rulesdir` has it's own uses, and should be available for the foreseeable future.

[2016-10-03 16:00] TheSavior commented on #5442
I've run into a problem with rulesdir in my 30 minutes of playing with it before writing that last comment that makes it a no go.

Since rulesdir is only a cli flag and can't be set in the eslintrc, for which there are many issues requesting that feature which @nzakas has closed, editor integrations for our team will be broken without manual configuration. They won't be able to work just by follow

[2016-10-03 16:57] TheSavior commented on #5442
It looks like Facebook found a work around by using package.json to create an npm module from a local folder: https://github.com/facebook/react/pull/4034/files

I can make that work.

[2016-10-03 17:21] moos commented on #3529
Would be very nice to have!

[2016-10-03 17:36] vitorbal commented on #6983
ping @ghost, any chance you could give us an update if your problem is fixed? Thanks!

[2016-10-03 17:43] vitorbal commented on #7064
ping @krainboltgreene, could you clarify what @kaicataldo mentioned above?

[2016-10-03 17:57] vitorbal commented on #7077
@gucong3000 considering [@nzakas' comment above](https://github.com/eslint/eslint/issues/7077#issuecomment-248982243),  it looks like the path ahead for what you want is indeed to use a js ESLint config file. Please let us know if there's anything else being requested here that we might have missed, but for now I'm closing this issue as I believe the original question has been answered. Thanks!

[2016-10-03 17:57] #7077 closed

[2016-10-03 18:05] vitorbal commented on #7116
@feross could you let us know if the proposal in #5982 solves your needs? Since that issue is part of the JSCS milestone, it should get some attention from the team in the very near-future. Thanks!

[2016-10-03 18:20] vitorbal commented on #7144
#7213 is merged and released as of v3.7.0. It also looks like all the questions brought up in this issue have been answered (apologies if that is not true, please correct me if I'm wrong). Is anyone opposed to closing this now?

[2016-10-03 18:22] vitorbal commented on #7159
Hi @kumarharsh, thanks again for reaching out! Any chance you had a moment to verify if the problem is caused by one of your eslint plugins?

[2016-10-03 18:23] vitorbal commented on #7191
ping @sssmall any chance you have some updates for us on this issue? Please see the questions above from @kaicataldo @mysticatea. Thanks in advance!

[2016-10-03 18:33] vitorbal commented on #7192
@mysticatea given your [comment here](https://github.com/eslint/eslint/issues/7192#issuecomment-248465421), I'm marking this as a rule enhancement. Do you remember if there were any reasons why `no-unmodified-loop-condition` does not already support function expressions and arrows?

[2016-10-03 18:34] vitorbal commented on #7192
Also, @pabigot if this enhancement gets accepted, would this be something you're willing to contribute a PR for?

[2016-10-03 18:38] vitorbal commented on #7220
My guess is the behavior is an option and no the default to avoid breaking changes, but I could be wrong. I think @mysticatea's suggestion is also a good alternative. Closing, as the issue seems to be resolved. Please reopen if there is more to discuss.

[2016-10-03 18:38] #7220 closed

[2016-10-03 18:55] krainboltgreene commented on #7064
Sorry, the difference is between my machine vs the online tryeslint.

[2016-10-03 19:05] Moeriki commented on #7260
I noticed `consistent-return` differentiates in its report messages between functions and methods.

`Expected to return a value at the end of this function.` VS `Expected to return a value at the end of this method.`. Do we want to keep this trend?

[2016-10-03 19:22] Moeriki commented on #7260
For anonymous functions do you prefer 1️⃣ `this function` or 2️⃣ `function 'anonymous'`?

Complexity does the latter right now. I'm more a fan of the former.

[2016-10-03 20:12] kumarharsh commented on #7159
@vitorbal updating my eslint to 3.x has *seemingly* fixed this error. I'm sorry, but I'm short of time to debug  the exact source of the problem. Perhaps you can close it, and if I (or someone else) does run into this problem again, this issue can be reopened?

[2016-10-03 20:20] kaicataldo commented on #7275
Waiting for final approval of https://github.com/eslint/eslint/pull/7289 before we do a patch release. @eslint/eslint-team Please continue to only merge semver-patch PRs.

[2016-10-03 20:25] Moeriki commented on #7260
I updated the issue.

1. Include `complexity`, `consistent-return`, `func-names`, `no-empty-functions`, and `strict`
2. Prefer `this function` over `function 'anonymous'`
3. Prefer `this method` / `method {{name}}` when function is object property / class method

[2016-10-03 20:33] pabigot commented on #7192
@vitorbal sorry, no; this rule is not something I find useful.

[2016-10-03 21:30] platinumazure commented on #7282
I'm not sure that the point of the rule is to detect that the most recent assignment of a variable is useless, if the variable was used (on an RHS, and not as part of a self-assign) before that assignment.

Seems we should be able to use code path analysis to determine if a variable has been used before being assigned to.

Am I missing something?

[2016-10-03 21:38] platinumazure commented on #7260
Looks good to me! (I prefer "this function" over "function 'anonymous'" in the unlikely event someone uses "anonymous" as a function name.)

[2016-10-03 21:39] platinumazure commented on #7098
@nzakas Do we have consensus to accept this issue (being a core change, not a rule change)? If not, should this be discussed at the next TSC meeting?

[2016-10-03 21:58] #7272 closed

[2016-10-03 22:07] #7291 closed

[2016-10-03 22:11] nzakas commented on #7098
## Design Summary

This change will be made in two phases:

1. Add a `source` property containing the entire file contents as a string into the linting results for each file that has linting errors. This can be used by formatters to output source code along with lint messages. This is a non-breaking change.
2. When we are ready for 4.0.0, we will remove the `source` property from individual lintin

[2016-10-03 22:21] nzakas commented on #7235
@loganfsmyth let's not get into debates over semantics (I was typing on a phone, so I try to make things as concise as possible). Speaking in terms of the AST, the original point of the rule was to make sure that there's always an `id` on a `FunctionExpression` node. Literally, that's [all it does](https://github.com/eslint/eslint/blob/master/lib/rules/func-names.js#L66).

What you're asking for i

[2016-10-03 22:28] kaicataldo commented on #7275
Patch release of v3.7.1 is complete.  @eslint/eslint-team Please feel free to merge all PRs again.

[2016-10-03 22:28] #7275 closed

[2016-10-03 22:44] jamesob opened #7296 "Running `eslint .` doesn't check all files"
**Tell us about your environment**

* **ESLint Version:** 3.6.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to check the desi

[2016-10-03 22:52] vitorbal commented on #7159
Thanks for the update! Since the error doesn't occur anymore, I'll close this issue. If someone else has the same error or a similar problem in the future, we can open a new one.

[2016-10-03 22:52] #7159 closed

[2016-10-03 23:01] nzakas commented on #7230
@ljharb I get that. My point is that I'm not sure there's much of a value proposition for using spread properties instead of `Object.assign`, whereas there's a big value proposition for using spread arguments instead of relying on `.apply()` to call a function with an array of arguments (eliminates some indirection).

Since we have a very high bar for including rules in the core, we really look fo

[2016-10-03 23:07] platinumazure commented on #7296
When you run ESLint with a folder path, ESLint looks for files based on extensions you specify. By default, that's just `.js`. Since you haven't specified any other extensions, the `.jsx` files aren't linted.

You have two options:

1. Use `--ext`: `eslint design --ext js,jsx`
    a. Or just `eslint design --ext jsx`
1. Use a glob pattern instead of a folder path: `eslint design/**/*.jsx`

[2016-10-03 23:09] nzakas commented on #7282
@not-an-aardvark I'm open to changing the message that's reported in order to avoid confusion in those cases. Maybe something like "foo is assigned a value but is never used" instead?

@mysticatea no need to apologize. It's just that you didn't leave a comment explaining why you removed "accepted," so I wasn't sure if you disagreed that this was a bug, or something else.

[2016-10-03 23:09] jamesob commented on #7296
Ah, okay, thanks for the explanation. Might be worth some kind of warning to stderr if there are no files processed and a number of potentially compatible files (i.e. files ending in '.jsx') present.

[2016-10-03 23:11] nzakas commented on #7144
Nope, it seems like we've resolved what we can resolve.

[2016-10-03 23:11] #7144 closed

[2016-10-03 23:11] feross commented on #7116
@vitorbal Looks similar, but I think that issue is about a rule that assumes that we want to enforce two newlines, like this:

[code]

[code]

We are happy to allow BOTH of the above cases. We just want to disallow the following:

[code]

[2016-10-03 23:35] ljharb commented on #7230
The value is that it's syntax, instead of API, so it's a) harder to mess up (ie, by forgetting to pass an empty object as the first argument, thus accidentally mutating the first argument), and b) easier for engines to optimize.

[2016-10-03 23:36] sstern6 commented on #3352
@nzakas based on the conversation going on here... https://github.com/eslint/eslint/issues/7274. I will wait until the indent rewrite is complete before continuing on indent related issues.  If you have any thoughts on that, I would appreciate the feedback.

[2016-10-03 23:36] ljharb commented on #7230
Avoiding accidental mutation imo is a pretty high value prop, much higher than enforcing indentation or trailing commas (which are also important, ofc), to name a few :-/

[2016-10-03 23:49] sssmall commented on #7191
Interesting, I'm no longer able to reproduce this issue. I'll go ahead and close it -- can always reopen it if I encounter it again.

[2016-10-03 23:49] #7191 closed

[2016-10-04 02:18] daltones opened #7297 "`comma-dangle` incorrectly requires commas after rest properties"
**What rule do you want to change?**
comma-dangle

**Does this change cause the rule to produce more or fewer warnings?**
I guess it depends. But probably more warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option, something like `{forbidAfterRest: true}`

**Please provide some example code that this change will affect:**
[code]

**What does the ru

[2016-10-04 02:28] not-an-aardvark commented on #7297
If having a trailing comma after a spread property is a syntax error, then there would be no point in having a separate option for it, since a parsing error would get thrown before the option had a chance to take effect.

However, we should ensure that the rule doesn't warn the user about missing trailing commas if adding the comma would result in a SyntaxError.

It seems to already do this with a

[2016-10-04 02:38] not-an-aardvark commented on #7297
I was able to reproduce the issue.

Config:

[code]

Code:

[code]

Expected no errors, but one error was reported:

[code]

This should not be reported as an error, since a trailing comma after a spread property is a SyntaxError according to the [spec](https://sebmarkbage.github.io/ecmascript-rest-spread/#Rest). (At the moment it seems like acorn parses that successfully, which is probably a sepa

[2016-10-04 02:43] daltones commented on #7297
@not-an-aardvark yes, this rule change proposal could be rethought as a bug report to Espree. But I was considering the Babylon case, which rolled back that SyntaxError because reported compatibility problems, making the trailing comma optional.

[2016-10-04 02:52] daltones commented on #7297
@not-an-aardvark Understood. So we can conclude that for linting purposes there would be no option about the trailing comma after array or object rest property, it's a matter of syntax. And for now we just found a false-positive for comma-dangle.

[2016-10-04 02:53] not-an-aardvark commented on #7297
I suppose there are a few things going on here:

* At the moment, the spec forbids trailing commas following spread properties. We have no reason to believe that the spec will change in this regard before it's finalized, especially since commas are already forbidden after spread elements in arrays.
* Acorn and Babel have slightly incorrect parsing at the moment; they don't throw errors with traili

[2016-10-04 02:56] daltones commented on #7297
@not-an-aardvark Sure, you're right. Thanks!

[2016-10-04 03:11] platinumazure commented on #7296
I think I could get behind your suggestion- it's the inverse of the warning we emit when a file is explicitly specified but ignored to `.eslintignore`. Instead of warning a user that a specific file was ignored, we could say that a specified path or glob didn't yield any files for the linter  to lint.

Let's see what the rest of the team thinks about this.

[2016-10-04 05:09] isiahmeadows commented on #3565
Would a primitive event loop or similar async helper like actors, hand
rolled futures, or whatever that's purely internal (i.e. not connected to
the browser/Node/etc) help make the stack traces easier to digest? In the
sync version, you could just run it with a final end callback until it
finishes, and then return the result pushed into the callback, but in the
async version, you could hook into t

[2016-10-04 07:49] jschaf opened #7302 "no-unused-vars: Allow variables with `@export` to be unused"
* The version of ESLint you are using.
v 3.3.1

* The problem you want to solve.
The [closure annotation `@export`](https://github.com/google/closure-compiler/wiki/Annotating-JavaScript-for-the-Closure-Compiler) isn't recognized as marking a variable as exported.

* Your take on the correct solution to problem.

If a variable has `@export` in an immediately preceding JSDOC comment, mark the variab

[2016-10-04 15:42] amilajack commented on #3565
@ilyavolodin >  It was just refactoring that had to be done in order to enable code to work as both async

Why did it need to work both sync and async?

[2016-10-04 15:49] omarcinp opened #7303 "'brace-style' couldn't handle `a.${b.prop}.${c.prop}`; syntax"
Rule 'brace-style' mark `a.${b.prop}.${c.prop}`; syntax as an error

**Tell us about your environment**
- **ESLint Version:3.6.1**
- **Node Version:6.6.0**
- **npm Version:3.10.3**

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did

[2016-10-04 16:50] platinumazure commented on #7303
Hi @omarcinp, thanks for the issue.

Could you please add the rest of the source and return the *full* error message from ESLint (including line and column number)? As it is, I can't tell which brace is being pointed to by the error.

[2016-10-04 17:31] nzakas commented on #7302
We generally don't make changes to rules based on specific tools (otherwise ESLint would have to know about all tools anyone might be using).

We do have our [own syntax](http://eslint.org/docs/rules/no-unused-vars#exported) for marking variables as exported:

[code]

I'd suggest putting that in your code.

[2016-10-04 17:38] nzakas commented on #7296
@jamesob if you'd like to propose something, please flesh out the idea and explain how you think it should work and under what circumstances. What you're described isn't specific enough for us to be able to evaluate.

[2016-10-04 18:19] dzek69 opened #7305 "object-shorthand consistent-as-needed crashes linting after last object-shorthand rule update"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 5.12.0
* **npm Version:** 3.8.6

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Eslint should finish its job of linting sp

[2016-10-04 18:36] jamesob commented on #7296
@nzakas I don't have the time/interest to do that. Thanks for the tool!

[2016-10-04 18:36] #7296 closed

[2016-10-04 18:42] jschaf commented on #7302
If I write a custom rule that marked variables with an `@export` using `markVariableAsUsed`, would that also work?

[2016-10-04 18:42] #7302 closed

[2016-10-04 20:27] jscharett commented on #7161
Is it better to edit it or just create a new issue?

[2016-10-04 20:32] platinumazure commented on #7302
@jschaf You are definitely welcome to write a custom rule for this scenario, and I think it could work. Please feel free to stop by our [chat room](https://gitter.im/eslint/eslint) if you need help!

[2016-10-04 20:34] platinumazure commented on #7161
@jscharett Either way is fine by me-- maybe closing this issue and creating a new one is cleaner, but it's up to you. If you edit the first post of this issue, that's fine too. Thanks!

[2016-10-04 20:35] platinumazure commented on #7296
For what it's worth, I like the idea enough that I'll create a new issue with a proposal at some point. I'll try to remember to link to that issue from here when I create it, but I make no promises.

[2016-10-04 20:40] not-an-aardvark commented on #7305
I was able to reproduce this -- it does look like a bug. Thanks for the report!

[2016-10-04 21:14] ilyavolodin commented on #3565
@amilajack Fully async and parallel linting will make it close to impossible to debug the code. Also, since Node only supports threaded application through child processes there is an overhead for parallel applications that only run on very low number of threads (like linting a single file only, for example).

@isiahmeadows Maybe, depends on the implementation details. The issue is that we need to

[2016-10-04 22:02] finom commented on #2585
I've found a way to "webpackify" it. If somebody is interested, let me know.

[2016-10-04 23:57] not-an-aardvark commented on #7305
Marked this as a "regression" since it looks like it worked fine in 3.6.

[2016-10-05 01:50] mlesk commented on #7286
You are correct. Thanks.

[2016-10-05 01:50] #7286 closed

[2016-10-05 02:20] Gawdl3y opened #7307 "valid-jsdoc @return validation doesn't take async into account"
**Tell us about your environment**
- **ESLint Version:** 3.7.1
- **Node Version:** 7.0.0 nightly
- **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The `@return` tag should accept re

[2016-10-05 02:36] Gawdl3y commented on #7101
I created #7307, which is a problem with the `valid-jsdoc` rule on async functions that I don't believe is mentioned here.

[2016-10-05 03:06] not-an-aardvark commented on #7307
Thanks for the report. I'm not convinced this is a bug -- the error message is technically correct in saying that the function has no return statement, and an async function without a return statement will always return `Promise<void>` anyway (as opposed to `Promise<somethingElse>`, like you have in your example). It's possible having an error here would point out cases where someone meant to have

[2016-10-05 03:08] Gawdl3y commented on #7307
You would still need to specify that it returns a Promise for the documentation, though, since there aren't any tags for async functions specifically. Even specifying that it returns `Promise<void>` will result in this error.

[2016-10-05 04:47] #7212 closed

[2016-10-05 05:58] anderson916 opened #7308 "cannot install eslint on Mac"
I got the following error messages when running 'sudo npm install -g eslint':

[code]

OS X version: 10.11.6
node v4.5.0
npm  v2.15.9

[2016-10-05 06:02] #7308 closed

[2016-10-05 10:58] vitorbal commented on #7307
I am also not convinced this is a bug – if anything, this might be a feature request for jsdoc, since it appears there [is still no support for Promises and async functions](https://github.com/jsdoc3/jsdoc/issues/509).

As an escape-hatch, we could check if a function is async and simply not report if a `@return` tag is present in that case? Or check against `Promise<void>`, as @not-an-aardvark me

[2016-10-05 14:12] Wilfred opened #7309 "Rule request: no-useless-return"
**Please describe what the rule should do:**

Forbid `return;` at the end of a function, as it is redundant. It's often a leftover from refactoring some callback code.

**What category of rule is this? (place an "X" next to just one item)**

[x] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code exa

[2016-10-05 14:38] platinumazure commented on #7309
@Wilfred Thanks for following our new rule proposal guidelines.

I've got just a couple of questions:

1. Should return statements with an expression be warned? (I assume no)
1. Should `return void 0` (or other uses of void operator) be warned?

Also, are you willing to create this rule yourself?

[2016-10-05 14:54] Wilfred commented on #7309
1. Return statements with an expression should not be warned -- I've updated the issue to reflect this.
2. I think `return void 0` should not be warned either -- that's probably a sign of the user doing it deliberately. There's already `no-void` and `consistent-return`.

I'd be willing to write the rule, but I may need a few pointers/patient reviewers.

[2016-10-05 14:58] platinumazure commented on #7309
Sounds great! I'll endorse this. With two more endorsements and a champion, we can accept this.

[2016-10-05 15:26] tbassetto opened #7310 "Rule request: no-useless-builtin-calls"
**Please describe what the rule should do:**

The rule would prevent users from creating an `Object` of an object, a `Number` if a number, a `Boolean` of a boolean, etc.

Note that:
- [no-new-object](http://eslint.org/docs/rules/no-new-object) will not block code like `Object({a:1})` (without the `new`)
- [no-restricted-globals](http://eslint.org/docs/rules/no-restricted-globals) could work with a

[2016-10-05 19:39] abritinthebay opened #7311 "Rule Proposal: no-unscoped-case"
**Please describe what the rule should do:**

This rule enforces using curly braces in switch case clauses to scope them. It pairs well with the no-case-declarations rule as that rule will not warn when case clauses are wrapped in lexical blocks.

This rule will specifically enforce a style that allows use of `let`/`const` statements inside case statements — even with the no-case-declarations rule

[2016-10-05 19:59] platinumazure commented on #7311
I could get behind this.

Possibly `prefer-scoped-case` to avoid the double negative? But I'm okay with either.

[2016-10-05 20:01] abritinthebay commented on #7311
Sure, could be. ESLint has a lot of `no-something-something` rules so I was more trying to copy existing style.

My only concern with "prefer" is that it sounds more optional though - which if you're throwing an error on this rule would be a bit wonky sounding.

No strong opinion tho ;)

[2016-10-05 20:23] Wilfred opened #7312 "no-multiple-empty-lines does not report any errors if file contains interpolated strings"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 6.4.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel, see full configuration

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

I ran eslint as follows:

[code]

**What did you expe

[2016-10-05 20:42] not-an-aardvark commented on #7312
Thanks for the report. I can reproduce this issue.

(To clarify, I don't think the problem is with the autofixer in particular -- the rule simply isn't reporting an error at all with that code, even when the `--fix` flag is omitted.)

[2016-10-05 20:50] pgilad commented on #3565
How about doing something like [Ava](https://github.com/avajs/ava) does?

[2016-10-05 20:54] amilajack commented on #3565
Ava only uses promises to parallelize. We're also planning to use threads

[2016-10-05 22:28] kaicataldo commented on #7310
If we decide to implement this, I do think it makes sense to deprecate `no-new-object` and create a new rule that warns for all these patterns (with the ability to turn each type on/off).

[2016-10-05 22:58] platinumazure commented on #7310
Wait, does [no-new-wrappers](http://eslint.org/docs/rules/no-new-wrappers) cover this use case?

[2016-10-06 00:53] kaicataldo commented on #7310
@platinumazure Good call - I hadn't encountered that rule yet!

[2016-10-06 00:56] ljharb commented on #7310
@platinumazure it does not seem like it covers `Object({ anObjectLiteral })` (without the `new`)

[2016-10-06 01:07] kaicataldo commented on #7310
I'm curious why we have both `no-new-object` and `no-new-wrappers`. Seems like this could all be one rule.

[2016-10-06 01:11] kaicataldo commented on #3815
Is this still a priority for the team? Curious if it should be in a milestone.

[2016-10-06 02:46] hzoo commented on #7297
some more context: It was pushed out as a patch version in babylon but it "broke" react-native. It was failing on react-native's own code so the user's would have to either change node_modules or wait for react-native to update. Thus we reverted it.

[2016-10-06 02:51] ljharb commented on #7297
… just to clarify, trailing commas are always permitted after spreads, they're just never permitted after rests - in both iterable or object destructuring, as well as in function argument signatures.

[2016-10-06 02:55] not-an-aardvark commented on #7297
Whoops, looks like I was a bit careless about that distinction when renaming the issue. (I think the fix does distinguish between rest and spread correctly, though.)

[2016-10-06 03:11] platinumazure commented on #7310
@ljharb Correct.

@kaicataldo Maybe, but `no-new-object` also covers any use of `new Object()` when object literal syntax would do (in other words, I see it as more than enforcing object wrappers). I wouldn't have a problem folding `no-new-object`'s empty constructor check into `no-new-wrappers`, or some other sensible combination of the rules.

[2016-10-06 03:13] platinumazure commented on #7312
For my sanity, could we definitively clarify whether the issue is "rule doesn't report" vs "rule reports but doesn't fix", and edit that into the title and original post? Thanks!

[2016-10-06 11:33] jonschlinkert opened #7316 "bug caused by shelljs modifying the String.prototype"
* **ESLint Version:** 3.6.1
* **Node Version:** 6.7
* **npm Version:**: 2.15.8

tldr: I've confirmed that this bug is fixed by updating to the latest version of shelljs.

**What parser (default, Babel-ESLint, etc.) are you using?**

I'm using gulp-eslint, but the bug is caused by shelljs 0.6.0, a dependency of eslint.

**What's happening**

I don't know why this is happening, but I can explain wha

[2016-10-06 12:08] mysticatea commented on #7307
`valid-jsdoc` rule handles `@returns {void}`/`@returns {undefined}` as nohting.
Yes, I think the rules should behave the same for the following cases:

- `@returns {Promise<void>}`/`@returns {Promise<undefined>}` for async functions.
- `@returns {Generator<void>}`/`@returns {Generator<undefined>}` for generator functions. ([Generator](http://www.ecma-international.org/ecma-262/7.0/#sec-generator-o

[2016-10-06 12:08] Wiebelt opened #7317 "no-unused-vars false positives on called back functions"
**Tell us about your environment**

* **ESLint Version: 3.0.0**
* **Node Version: 4.5.0**
* **npm Version: 2.15.9**

**What parser (default, Babel-ESLint, etc.) are you using?**
The default parser

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The code should produce no err

[2016-10-06 12:15] neilbmclaughlin commented on #4829
I was also looking to run eslint using eslint-plugin-json on a file without an extension and, through trail and error, came up with this:

`cat .bithoundrc | node node_modules/eslint/bin/eslint.js --stdin --stdin-filename=temp.json`

The use of the stdin-filename forces the file to be parsed as json rather than js. Just recording this here for anyone who is looking to do the same.

[2016-10-06 12:30] isiahmeadows commented on #3565
@ilyavolodin

I'm aware of that, and was mainly speaking of the core code, if that
requires any adjustments directly (it likely won't much).

I've already created my own parallelism utility [1] similar in
functionality to what's being requested here, where I created a job queue
to manage processes with a specified limit for a promise-based build tool
experiment (trust me in that it works). I'm sur

[2016-10-06 12:33] mysticatea commented on #7311
Thank you for this issue.

We have received a related issue: #7193
So I think `switch-case-brace-style`  (similar to [brace-style](http://eslint.org/docs/rules/brace-style) rule) or `switch-case-curly` (similar to [curly](http://eslint.org/docs/rules/curly) rule) in core sounds nice.

[2016-10-06 13:01] platinumazure commented on #7317
Definitely seems inconsistent- probably a bug. Marking as "evaluating" since I can't reproduce on this device.

[2016-10-06 14:11] tbassetto commented on #7310
At the moment, both [`no-new-wrappers`](https://github.com/eslint/eslint/blob/master/lib/rules/no-new-wrappers.js) and  [`no-new-object`](https://github.com/eslint/eslint/blob/master/lib/rules/no-new-object.js) are very similar. They only check `node.callee.name` for `NewExpression` against a blacklist. That should be an argument to merge them, or to add a different behavior to one of the rule so

[2016-10-06 15:05] ilyavolodin commented on #3565
@isiahmeadows I already created something similar on the branch I linked: https://github.com/eslint/eslint/blob/multithreading/lib/process-pool.js
Problem is, you need to spawn a new child process and run code in it separately (usually by executing cli command). We currently can't really do that, so the code needs to be refactored to support something like that, which is what I was getting stuck o

[2016-10-06 15:17] not-an-aardvark commented on #7317
I can't reproduce this issue in the demo:

![](https://i.gyazo.com/94b5d9d3c8cd4cad90978b30b23617b0.png)

Could you try upgrading to the latest version of ESLint (3.7.1 at the moment) to see if the issue still occurs?

[2016-10-06 15:52] mnpenner commented on #4880
Thank you @bryanrsmith. That's exactly what I was looking for! Was just about to disable `no-unused-vars` altogether because of this.

[2016-10-06 15:52] Wiebelt commented on #7317
Aah, yes. Upgrading to 3.7.1 fixed it, i should have thought of that!. Thanks :-)

[2016-10-06 15:52] #7317 closed

[2016-10-06 16:03] platinumazure commented on #7316
Just to be sure, if you remove the gulp-eslint task and ensure ESLint is not loaded, you definitely don't see the issue anymore?

[2016-10-06 16:07] platinumazure commented on #7316
Oh, and now I just saw that you said latest ShellJS fixes this.

Feel free to submit a PR if you like, otherwise we can try to upgrade at some point.

[2016-10-06 17:15] jonschlinkert commented on #7316
yes that's correct.

Great, I'll submit one in the next couple of days, unless someone beats me to it. thanks

[2016-10-06 17:30] platinumazure commented on #7316
Also: I do find it weird that shelljs is being loaded at all. I'm fairly sure we only use it in our internal Makefile.js, which shouldn't be loaded in normal linting flows. So I'll take a look at some point and try to find if we require it elsewhere or if maybe gulp-eslint is pulling that file in.

[2016-10-06 17:31] not-an-aardvark commented on #7316
If I put `console.log(''.to)` in a rule and run ESLint's tests, it gets identified as a function. So I think the problem is with ESLint and not with gulp-eslint.

[2016-10-06 18:50] Arcanemagus commented on #3307
Have any of the core rules been updated yet?

[2016-10-06 19:46] nzakas commented on #3458
## Summary

I know this is a popular issue, so I'm going to try to summarize where we are and why this is hard. The team is aware that this is a popular request, but unfortunately, popularity does not make the work any simpler or create the extra time needed to investigate how to solve this issue.

### History

ESLint supported plugins first, and sometime later, shareable configs were created. At

[2016-10-06 21:22] mnpenner opened #7318 "Option to disable key-spacing for singleLine"
**What rule do you want to change?**

`key-spacing`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**

The `singleLine` and `multiLine` options would gain a new valid setting, `"off"` (or alternatively, `false`). e.g.

[code]

**Please provide some example code that this change will aff

[2016-10-06 22:12] not-an-aardvark commented on #7318
Thanks for the feature request. To make it easier for other people who are going to look at it, would you mind filling out the [rule change proposal template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md)?

[2016-10-06 22:32] not-an-aardvark commented on #7074
I'll champion this proposal -- I think we should definitely do this.

[2016-10-07 01:53] isiahmeadows commented on #3565
I'm considering it. The parallelism will be tricky, but I'm considering
making a dedicated npm module out of it (I could use it myself for other
reasons). If and when I finish it, I'll link it here.

On Thu, Oct 6, 2016, 11:05 Ilya Volodin <notifications@github.com> wrote:

[2016-10-07 03:57] abritinthebay commented on #7311
Ah and have a string option for specifying style (with a default)? Yeah, that's nice and flexible. Best of all worlds, I like that a lot.

[2016-10-07 07:16] feross commented on #3458
@nzakas

This issue could potentially be addressed by allowing configs to include code, like this:

[code]

This way, each config can reference the exact version of the plugin that they list in their `package.json` under dependencies want to depend on. No need to crawl around the filesystem.

We could solve this by saying: you can only configure plugin rules if you require that plugin in your conf

[2016-10-07 08:39] delijah commented on #6196
I am also having troubles with those conflicting rules!

[2016-10-07 10:10] ikokostya opened #7319 "Rule Enhancement Proposal: "object-curly-newline" add configuration for named imports and exports"
ESLint version `v3.5.0`

Rule [object-curly-newline](http://eslint.org/docs/rules/object-curly-newline) currently supports:
- `"ObjectExpression"` configuration for object literals;
- `"ObjectPattern"` configuration for object patterns of destructuring assignments.
## Proposal

I propose to add similar configuration for named imports and exports:

[code]

Possible values:
### always

Examples of *

[2016-10-07 10:22] mysticatea commented on #7316
Thank you for this issue.

Ah, yes, ESLint imports `shelljs` to use `shelljs.test()` and `shelljs.exec()`.
It's not good if `shalljs` modifies the prototypes of built-in objects.

[2016-10-07 10:29] mysticatea commented on #3307
Yes, only `no-unreachable` rule uses this feature for now: #6583

[2016-10-07 11:24] mysticatea commented on #7311
This is concrete proposal:

# switch-case-curly

This rule enforces whether you should write braces on `case:`/`default:` clauses.
This rule has a string option.

- `"always"` (default) requires braces.
- `"never"` disallows braces.

If `"never"` is given, you can specify 2nd object option (e.g. `["never", {"allowDeclarations": true}]`):

- `allowDeclarations` allows braces if the `case:`/`default

[2016-10-07 13:44] stoikerty commented on #3458
@feross Essentially you're specifying a path, right? I don't see why that would have to be restricted to javascript. Babel does something similar where you can specify presets & plugin paths.
[code]

[2016-10-07 13:59] EvgenyOrekhov opened #7320 "indent rule issue"
**Tell us about your environment**
- **ESLint Version:** 3.7.1
- **Node Version:** 6.7.0
- **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No warnings

**What actually happened? Ple

[2016-10-07 16:10] abritinthebay commented on #7311
It's not so much an overlap to `no-case-declarations` as complementary to it - as that rule cares specifically about vars and it specifically doesn't warn when you use curly braces.

It would likely be listed on that page as a related rule: just like `no-fallthrough` is. In fact that was the direct intent.

[2016-10-07 16:57] #7305 closed

[2016-10-07 17:29] nzakas commented on #3458
@feross unfortunately, I don't think we can accept a solution that only works in a JS file with passing around objects. There are plenty of folks who don't use JS-based configurations, and we need to be able to support them, as well. We'd like to keep configs as data-only.

@stoikerty that's an interesting idea - we could do an intermediate step that allows you to pass in package by filepath. We'd

[2016-10-07 17:30] nzakas commented on #3307
@mysticatea if you want to keep this issue open, can you make a list of rules to that need to be addressed?

[2016-10-07 17:32] nzakas commented on #5949
I think there's still an open question around whether this should be a standalone rule or should be packaged as part of another rule (https://github.com/eslint/eslint/issues/3092). It looks like no one has expressed any strong opinion one way or another, so we should probably get that squared away.

[2016-10-07 17:35] nzakas commented on #5982
@TheSavior @kaicataldo could one or both of you converge these three issues (#5982, #3092, and #5949) into a single issue that summarizes the discussions to this point? I don't think we're going to get very far if we continue to jump back and forth between these issues.

[2016-10-07 17:37] nzakas commented on #6488
It seems like this conversation has strayed a bit from the original idea. Can someone please summarize the current proposal(s) using the [template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md)

[2016-10-07 17:45] nzakas commented on #4904
The rule, as currently implemented and described the docs, is designed to point out parens that can safely be removed without changing how the code works. I still feel that any change where removing parens causes a syntax error is the wrong thing for end users. I also don't believe that autofix for this rule should ever have to insert parens, as I don't believe that is expected.

So I'm still stro

[2016-10-07 17:46] samsch opened #7321 "no-constant-condition could check yield in generators"
**Tell us about your environment**
- **ESLint Version: 3.5.0 & 3.7.1**
- **Node Version: 6.6.0**
- **npm Version: 3.10.9**

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What actually happened? Please include the actual, raw output from

[2016-10-07 17:55] platinumazure commented on #7321
For what it's worth, if you use `for (;;)` or similar, that will not warn.

[2016-10-07 17:57] iroy2000 commented on #1657
I'm on "eslint": "^3.2.2"

Is that async await rule support already in place ?

[2016-10-07 17:58] platinumazure commented on #1657
@iroy2000 You need to upgrade to eslint@3.6.0 or later to use async/await rule support.

[2016-10-07 17:58] nzakas commented on #7274
@not-an-aardvark are you rewriting to have the same options as we currently have?

I think part of this discussion needs to be about the scope of the indent rule and whether or not we want/need to alter the way we specify options. For instance, there have been several discussions where it's been suggested that indentation level is not a good way to configure the rule, and rather, we should be spec

[2016-10-07 17:58] NTMan commented on #3677
Could you please describe this behavior in documentation?
http://eslint.org/docs/user-guide/configuring#using-configuration-files

[2016-10-07 18:00] nzakas commented on #6828
Can someone put together a formal proposal using the [template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-proposal.md). I feel like right now we are just voting on a ghost. :)

[2016-10-07 18:01] platinumazure commented on #7274
Just noting here since I was one of the people who originally suggested a need to change options: I think I'm okay with indent levels now, as long as there's also an "align" option for some things. For example, I loathe that there's no way to specify six-space indentation for const statements with a four-space default indent, because we have to use integral indentation levels. But an "align" optio

[2016-10-07 18:03] nzakas commented on #7230
@ljharb I understand that you feel it's important and useful, and the good news is that you can make this rule for yourself. I still don't see it as important enough to be in core at this point.

[2016-10-07 18:03] platinumazure commented on #3677
@NTMan It's documented in this section: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

If you believe it can be improved, please feel free to open a pull request.

[2016-10-07 18:04] not-an-aardvark commented on #7274
Yes, the rewrite is intended to be fully backwards-compatible, aside from the fact that a lot more errors are reported at the moment due to the checks being more strict. (This part might warrant a separate discussion.)

Personally, I think our current system of indent levels is fine. However, I would be interested to see the discussions about non-indent-level options.

[2016-10-07 18:09] ljharb commented on #7230
I don't understand that - why is `prefer-spread` important enough to include, but `prefer-object-spread` not? They're both equivalent - shorter syntactic forms of API, that help avoid footguns.

[2016-10-07 18:09] iroy2000 commented on #1657
👍   Thanks

[2016-10-07 18:10] not-an-aardvark commented on #7230
I agree with @ljharb that this rule would be a good idea, but I think it would be better as an additional option for `prefer-spread` rather than a separate rule as `prefer-object-spread`. I think being able to discourage `Object.assign` in favor of spread properties is just as notable as being able to discourage `Function.prototype.apply` in favor of spread elements.

[2016-10-07 18:13] nzakas commented on #7230
@ljharb I've already explained my position in a previous comment. And as our [guidelines](http://eslint.org/docs/developer-guide/contributing/new-rules) say, we are being very picky about new rules because we already have way too many in the core and people find it daunting.

If other team members feel strongly about it, I'll withdraw my objection. Just, to me, this is one of those preferences tha

[2016-10-07 18:14] nzakas commented on #3815
Better to close for now. At some point I'll get around to add this to Espree, but no sense in tracking that here.

[2016-10-07 18:14] #3815 closed

[2016-10-07 18:21] not-an-aardvark commented on #7230
I suppose there are two independent questions here:

* Are we comfortable introducing rule options that depend on stage 3 features? I have no strong opinion on this; one could argue that we would be better off waiting for stage 4, to minimize issues if the spec ends up changing.
* Setting aside the status as a proposal (i.e. pretending it was stage 4), is this option beneficial enough to include i

[2016-10-07 19:11] Krustal opened #7322 "[arrow-parens] enforce parens for chained functions"
**Environment**
1. ESLint Version: 3.7.1
2. Node Version: 5.9.1
3. npm Version: 3.7.3

**Parser:** default

**Config**

[code]

Pertinent change AirBnB makes to this rule:

[code]
1. What we did:
   ![screenshot 2016-10-07 11 57 06](https://cloud.githubusercontent.com/assets/442471/19202038/600b951e-8c85-11e6-88cb-160a28896d35.png)
2. What you would like to happen
   We would like there to be an o

[2016-10-07 19:14] not-an-aardvark commented on #7321
I see why one would want to do this, but I feel like it contradicts the point of the rule. The point of the rule is to make sure the while loop has no constant conditions, and the while loop in your function has a constant condition.

The only difference from other `while (true)` loops is that yours doesn't block the event loop, but I don't think that should be a determining factor in whether this

[2016-10-07 19:23] not-an-aardvark commented on #7322
Thanks for the feature request.

Personally, I don't think this option should be included in core. In this example:

[code]

`myFunc` is returning an expression, and it doesn't have a block body, so I would not expect `param` to be parenthesized. I don't think a special exception for arrow functions that return other arrow functions is a common enough use-case to merit an option in the core rule.

[2016-10-07 19:26] not-an-aardvark commented on #7320
Thanks for the report. I was able to reproduce this issue in the [demo](http://eslint.org/demo/).

[2016-10-07 20:18] #7312 closed

[2016-10-07 20:28] Wilfred commented on #7309
I've got three thumbs-up on my issue -- are those equivalent to endorsements?

[2016-10-07 20:32] platinumazure commented on #7309
@Wilfred Only thumbs-up from the core team count as endorsements in this case-- we're at 2 right now. (I thought we had documented this in the new rule/rule change processes, but I guess we don't-- see [here](http://eslint.org/docs/maintainer-guide/issues.html#consensus) for more info. Sorry for any confusion.)

[2016-10-07 21:05] gaearon commented on #3458
This might be ugly but could we consider an absolute filepath a valid plugin “identifier”?

[code]

We would not support relative filepaths which excludes any non-JS configs from supporting this feature, but presumably it's fine to make a subset of configs (JS-based ones) more powerful?

[2016-10-07 21:58] MethodGrab opened #7323 "no-mixed-spaces-and-tabs with smart tabs does not work as expected"
**Tell us about your environment**
- **ESLint Version:** 3.7.1
- **Node Version:** 6.3.0
- **npm Version:** 3.10.5

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[Also available as a Gist](https://gist.github.com/MethodGrab/3670dba9f8461385bae0d62

[2016-10-08 00:59] mnpenner commented on #7318
@not-an-aardvark Sorry, I somehow missed that template. I've edited the issue description to use the correct template. Thanks!

[2016-10-08 03:39] kevinbarabash commented on #2585
@finom I'm interested.

[2016-10-08 05:07] loganfsmyth commented on #7235
Sounds good. I think I just made an incorrect assumption about the overall goal of this rule. Our usecase of "always" has generally been for debugging, and I ended up associating this rule with `.name`. Looking at it from the other side, I can see that `never` for instance wouldn't make sense as an option for a `.name`-based rule.

Should I pursue this as a entirely custom rule, or do you think a

[2016-10-08 07:56] sarbbottam commented on #6525
getRules` will return _currently loaded_ w.r.t. to current `eslint config` and not _all the available_ `eslint` rules.

Is my understanding correct?

[2016-10-08 09:10] rightaway opened #7324 "File extensions in .eslintrc"
From the comment in https://github.com/eslint/eslint/issues/2274#issuecomment-91391976, is it possible now to revisit the feature to allow file extensions to be specified in .eslintrc rather than only on the command line?

[2016-10-08 10:48] Conaclos opened #7325 "feat(JSDoc): Recognize @type"
# Problem

JSDoc enabled to use [`@type`](http://usejsdoc.org/tags-type.html) to specify the type of a property/variable, including callbacks:

[code]

Currently, ESLint reports the last code as invalid:

[code]
# Proposition

If the documentation includes a tag `@type` then the use of the tag `@param` is optional.

If at least one tag `@param` is available then check the JSDoc like now (every par

[2016-10-08 14:56] Hirse opened #7326 "Automatic fix for yoda causes parsing error"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 6.7.0
* **npm Version:** 3.7.4

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[code]

**What actually happened? Please

[2016-10-08 15:56] randycoulman commented on #6525
@sarbbottam My understanding from the discussion above is that all of the core ESLint rules will always be loaded and returned by `getRules`.  But plugin rules will only be included if the plugin has been loaded first.

[2016-10-08 17:22] platinumazure commented on #7326
Hi @Hirse, thanks so much for submitting this issue. This is an unfortunate bug and I hope we'll be able to resolve this soon!

Ping @not-an-aardvark-- I might have a chance to look at this today, but if you find time and want to look at this, let me know.

[2016-10-08 19:15] not-an-aardvark commented on #7326
Oops. I'll look at if now if you're not already looking at it.

[2016-10-08 19:46] platinumazure commented on #7326
Had to run a few errands, please feel free to investigate. Thanks!

On Oct 8, 2016 2:15 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-10-08 21:03] not-an-aardvark commented on #7326
See #7326 for a fix.

[2016-10-08 21:39] not-an-aardvark commented on #3638
I'm going to close this issue now, as of https://github.com/eslint/eslint/pull/7076, ESLint gives a specific error message if a line contains tabs when spaces were expected (or vice versa)

[2016-10-08 21:39] #3638 closed

[2016-10-09 14:16] ilyavolodin commented on #6525
@randycoulman That's correct. Core rules should be always loaded. Plugins rules will only return if the plugin is loaded.

[2016-10-09 16:41] sindresorhus opened #7328 "CLIEngine API to resolve config name to absolute path"
Edit to clarify:

In [XO](https://github.com/sindresorhus/xo), I accept similar options like ESLint does in `package.json`. One of these are `extends`. When a user specifies `"xo": {"extends": "react"}` in package.json, XO reads it, adds it to `baseConfig.extends` and passes it to ESLint. The problem is that the user expects `react` to be resolved from their package.json's location, but `baseConfi

[2016-10-09 16:47] vitorbal commented on #7324
Hi @rightaway, thanks for reaching out. You can follow the progress of the glob-based configuration issue [here](https://github.com/eslint/eslint/issues/3611) and [here](https://github.com/eslint/eslint/pull/7177).

In case it doesn't cover the case you want, feel free to open a new issue to propose a new feature using the template for change requests: http://eslint.org/docs/developer-guide/contri

[2016-10-09 16:47] #7324 closed

[2016-10-09 16:50] vitorbal commented on #6070
Quick update: I'm planning to start work on this next week. Should have something to show by the following weekend!

[2016-10-09 17:29] sarbbottam commented on #6525
Thanks @randycoulman, @ilyavolodin.
With a little guidance I might be able to raise a PR.

I am not familiar with the code base, any pointer where should I start with?

[2016-10-09 17:36] platinumazure commented on #7328
Thanks @sindresorhus for your proposal. Seems reasonable to me, but being a core/CLI question, it needs to be discussed by our Technical Steering Committee. If this issue is not accepted before the next TSC meeting, it will be discussed there.

TSC Summary: See proposal in first post (will summarize later)

TSC Question: Shall we accept this proposal and put this issue on the Core Roadmap?

[2016-10-09 17:39] MarkHerhold commented on #1657
What's the rule to enable async/await? I'm getting `unexpected token function` when doing:
[code]

[2016-10-09 17:42] ljharb commented on #1657
@MarkHerhold set your `ecmaVersion` to `2017`.

[2016-10-09 17:43] platinumazure commented on #1657
@MarkHerhold You need to set ecmaVersion to 8 under parserOptions in configuration, or do the equivalent in CLI.

Configuration (JSON):

[code]

Via CLI:

[code]

[2016-10-09 17:45] MarkHerhold commented on #1657
@platinumazure That worked, thanks!

[2016-10-09 21:36] not-an-aardvark commented on #7323
Thanks for the report.

I'm a bit confused about the intended behavior here. You mentioned that the rule should report "Mixed spaces and tabs that are not used for alignment". Why is this the case for t2 and t5 but not any of the other examples?

[2016-10-09 21:51] MethodGrab commented on #7323
Sorry that test case probably isn't minimal enough, I was trying to work out which rule was causing the problem. t2 & t5 are the only examples with mixed spaces and tabs, t1 is valid and t3 & t4 are caught by the indent rule. I've updated the gist:

[code]

[2016-10-09 22:03] kaicataldo commented on #7325
I'm not seeing any examples for this specific syntax in the JSDoc docs - are you sure this is correct? Specifically, I'm having difficulty finding examples of the Flow-like parameter syntax in your example: `(a: Object)`.

Also, I'm getting two errors for the same example:
[code]

[2016-10-09 22:15] kaicataldo commented on #7319
I'm for the ability to enforce these styles, but I do think it's a little strange to have named `import` and `export` statements covered by this rule since they're not really objects. That being said, we do have precedence for this, as we currently check named `import` and `export` statements in [object-curly-spacing](http://eslint.org/docs/rules/object-curly-spacing).

[2016-10-09 22:17] kaicataldo commented on #7293
@wavded Has this been resolved by our discussion above? Want to make sure you're good before we close this.

[2016-10-10 00:08] not-an-aardvark opened #7330 "`prefer-template` fixer should remove quotes that are uselessly escaped"
**What rule do you want to change?**

`prefer-template`

**Does this change cause the rule to produce more or fewer warnings?**

The same amount

**How will the change be implemented? (New option, new default behavior, etc.)?**

The change will modify the default behavior of the fixer for `prefer-template`.

**Please provide some example code that this change will affect:**

[code]

**What does th

[2016-10-10 00:10] kaicataldo opened #7331 "no-useless-escape should check template literals"
`no-useless-escape` does not currently check template literals.

**What version are you using?**
v3.7.1

**What did you do?**
[code]
[code]
**What happened?**
No errors reported.

**What did you expect to happen?**
[code]

I can put together a PR to fix this.

[2016-10-10 01:37] mysticatea commented on #6190
Today, I published [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments) experimentally.

This plugin includes 6 rules to use ESLint directive-comments (e.g. `/*eslint-disable*/`) correctly. One of them is inspired by above GitHub's rule, but it has more correct behavior.

[2016-10-10 08:04] benjick opened #7333 "no-undef doesn't fire on self reference naming"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** v6.3.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
[code]

**What actually happened? Please

[2016-10-10 10:16] stoikerty commented on #3458
When eslint is parsing a config-file, is it able to distinguish between configs and their associated plugins?

Let's map this out. If you have the following:
⦿  pluginConfigA  ➤  pluginConfigB  ➤  userConfig  ◉

where:
- pluginConfigA uses `foo@0.2.0`
- pluginConfigB uses `foo@0.3.0` and includes pluginConfigA
- userConfig uses `foo@0.2.4` and includes pluginConfigB

What is the most reasonable wa

[2016-10-10 14:45] vitorbal commented on #7307
@mysticatea Thanks for the reply! In that case I think we should mark this as an "enhancement".

- When function is async, `@returns {Promise<void>}/@returns {Promise<undefined>}` means the function does not return something.
- When function is generator, `@returns {Generator<void>}/@returns {Generator<undefined>}` means the function does not return something.

I think we simply have to enhance th

[2016-10-10 14:47] #7282 closed

[2016-10-10 14:47] not-an-aardvark commented on #7307
Should we also make `@returns {undefined}` always be an error for async functions, since they cannot return undefined?

[2016-10-10 14:49] not-an-aardvark commented on #6703
Closing this issue as fixed; the error message was improved in https://github.com/eslint/eslint/pull/7315, which hopefully clarifies the error.

[2016-10-10 14:49] #6703 closed

[2016-10-10 14:50] vitorbal commented on #7307
@not-an-aardvark that's a good point. I think we should check for `{void}` as well, no?

[2016-10-10 14:52] not-an-aardvark commented on #7333
Hello, thanks for the report.

I think this is intended behavior; to prevent this, you should use [`no-use-before-define`](http://eslint.org/docs/rules/no-use-before-define) instead.

See also: https://github.com/eslint/eslint/issues/5437, https://github.com/eslint/eslint/issues/7111

[2016-10-10 15:00] benjick commented on #7333
This also happens with const, which aren't hoisted, right?

Thanks for the reply

[2016-10-10 15:23] wavded commented on #7293
I'm OK with keeping things the way they are so good to close IMO.

[2016-10-10 15:56] #7293 closed

[2016-10-10 16:00] ilyavolodin commented on #6525
@sarbbottam I haven't looked around the code to see where would be the exact place to start with this, but in general this should go into `linter` object, which is an export from `lib/eslint.js`. So that would be a good place to start looking.

[2016-10-10 16:02] ilyavolodin commented on #7330
Should this be handled by `prefer-template` or by `quotes` rule?

[2016-10-10 16:03] ilyavolodin commented on #3458
One other requirement that I wanted to mention is that the new way should be backwards compatible. We can't just break hundreds of plugins that are already published.

[2016-10-10 16:06] not-an-aardvark commented on #7330
I think it would be better handled by `prefer-template` (or if anything, `no-useless-escape`). `quotes` is only related in that it also handles escaping when it does fixes, but it doesn't actually check for uselessly-escaped quotes.

[2016-10-10 17:25] ilyavolodin commented on #6475
@eslint/eslint-team This issue has been in the accepted state for a while. It looks like the rule should only be checking declarations, and not variable/property access. However that would be a breaking change (I think). Any ideas what we should do here? I think I would like to change the rule to only change LHS of the assignments.

[2016-10-10 17:44] Conaclos commented on #7325
Yes, I've just edited the issue. I forgot to note that I disabled a default option...

You are right, I'm using an [ESDoc](https://esdoc.org/) syntax.
I think so, in JSDOc, this is more likely to be:

[code]

However it is not changing the core of the proposition :)

[2016-10-10 18:57] Krustal commented on #7322
Thanks for the response.

I think the currying syntax of chaining arrow functions is gaining tractions due to libraries like Redux (where I originally ran into this), for middleware and thunks, and React container components.

I can see an argument for this being too specific but our team was finding it easier to visually parse this syntax when the function params were all defined consistently acr

[2016-10-10 19:53] SimenB opened #7337 "Tabs used for indentation in comment not autofixed by `indent` rule"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Ran `node_modules/.bin/eslint file.js --fix`

[code]

(it's a tab character above, e

[2016-10-10 20:06] not-an-aardvark commented on #7337
Thanks for the report.

I think this is a duplicate of https://github.com/eslint/eslint/issues/6571. The issue is that the indent rule currently doesn't check the indentation of comments.

[2016-10-10 20:10] SimenB commented on #7337
Probably a dupe yeah, just easier repro steps 😄 Feel free to close, the issues are linked now anyways

[2016-10-10 20:21] SimenB commented on #7337
@not-an-aardvark Another case:

Not concerning tabs, but function arguments `echo 'someFunction(\n\tinvocation\n);' >file.js && node_modules/.bin/eslint file.js --fix`
Same result (tab not replaced). New issue for it?

[2016-10-10 20:29] not-an-aardvark commented on #7337
At the moment, the `indent` rule doesn't report function parameters by default. (Also see: https://github.com/eslint/eslint/pull/7189, https://github.com/eslint/eslint/issues/5946)

For a collection of all the issues on `indent`, see https://github.com/eslint/eslint/issues/7274.

[2016-10-10 20:31] not-an-aardvark commented on #7337
I'm going to close this issue as a duplicate, but please feel free to follow https://github.com/eslint/eslint/issues/7274 for updates!

[2016-10-10 20:31] #7337 closed

[2016-10-10 20:32] SimenB commented on #7337
Wow, that's a lot of issues. Will be following that one!
Any update after the "90%" of 2 weeks ago? 😄

[2016-10-10 20:34] not-an-aardvark commented on #7337
Still at around 90%, haven't had much of a chance to work on it lately.

[2016-10-10 20:41] platinumazure commented on #6571
@adambuczynski The indent rule still doesn't report or fix comments, but I'm wondering if some of the other issues you've experienced have improved at all? Can you please update us with what you experience in your given examples with latest ESLint? Thanks!

[2016-10-10 20:47] adambuczynski commented on #6571
@platinumazure I'll have a look and see what comes up

[2016-10-10 20:56] kaicataldo commented on #6475
I still feel the same way - seems like this should only be checking the LHS of assignments (including object properties). If we make this change, do we want to save this for the next major version? Definitely seems like a bug that the two examples above produce different error results.

[2016-10-10 21:31] machineghost commented on #3587
Also wondering about the status of this issue.  If it's not too much trouble, it would probably be very helpful to outsiders if even a single sentence explaining the ticket's resolution was added when the ticket is closed.  Right now it's impossible to tell if this `space-ops` will be in the next version of ESLint, or whether the ESLint has simply decided it hates ES6 ;-)

[2016-10-10 21:52] nzakas commented on #7098
Just one note that occurred to me: as we're planning on having 4.0.0 before the end of the year, it's probably best to keep the `source` property for each individual message until 5.0.0, to give people time to adjust their formatters.

[2016-10-10 21:56] #7297 closed

[2016-10-10 22:11] nzakas commented on #7328
@sindresorhus can you please rephrase your request by describing in more detail what your use case is?

I can't really evaluate the proposed solution without better understanding the problem you're running into.

[2016-10-10 22:18] nzakas commented on #6475
If we are warning on *fewer* instances, then that's not a breaking change.

[2016-10-10 22:22] vitorbal commented on #7098
Ok, sounds good. I'm gonna be making the follow-up issue to track those
changes in the coming days, was just a bit short on time lately!
On Mon, Oct 10, 2016 at 11:52 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-10-10 22:27] platinumazure commented on #7328
At @nzakas' request I am changing the labels to reflect that we need more information.

@sindresorhus I *think* I understand what you're trying to do, but just to be safe, can you walk us through the actual problem you're trying to solve? You mentioned processing user inputs that are config paths-- could you tell us some more about that? Thanks!

[2016-10-10 22:55] carlin-q-scott opened #7338 "'eslint --init' installs wrong versions of depencies for AirBnB"
**Tell us about your environment**
Windows 10
- **ESLint Version:** 3.7.1
- **Node Version:** 5.3.0
- **npm Version:** 3.3.12

**What parser (default, Babel-ESLint, etc.) are you using?**
N/A
**Please show your full configuration:**
AirBnB style guide
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected the node module

[2016-10-10 23:21] platinumazure commented on #7338
Ping @ljharb, can you help?

[2016-10-11 00:55] kaicataldo commented on #7325
Thanks for clarifying - it's difficult for us to discuss if we don't have a clear understanding of what the proposal is :)

[2016-10-11 01:09] ljharb commented on #7338
Please use the bash command in the readme of `eslint-config-airbnb` to install all the proper peer deps - reproduced here (i'm pretty sure i mentioned it in another issue as well):
[code]

I highly recommend reusing that command for anything you install that might have peer deps.

[2016-10-11 03:48] kaicataldo commented on #7322
I'm with @not-an-aardvark on this one. I can see why you would want to enforce that style if you write a lot of code that looks like that, but it does seem a little too niche for core (I don't have much experience with React/Redux, though). Curious what others on the team think.

[2016-10-11 07:31] SimenB opened #7339 "Request: Extract config loading into a separate module"
**What version are you using?**
3.7.1

**What did you do?**
Checked the source code to figure out what module you used to load config for a file (walking up the file tree), verify it, apply defaults, etc

**What happened?**
Found out that the code for it is part of this repo (mostly https://github.com/eslint/eslint/tree/master/lib/config and https://github.com/eslint/eslint/tree/master/lib/config.

[2016-10-11 09:19] #6065 closed

[2016-10-11 09:39] mysticatea commented on #3307
I will start to work on this within a week.
(I re-checked rules, then I found that several rules are using the range feature.)

- [ ] [accessor-pairs](http://eslint.org/docs/rules/accessor-pairs)
- [ ] [array-bracket-spacing](http://eslint.org/docs/rules/array-bracket-spacing)
- [ ] [array-callback-return](http://eslint.org/docs/rules/array-callback-return)
- [ ] [arrow-body-style](http://eslint.o

[2016-10-11 09:45] acontreras89 commented on #3587
The status of this issue is:

- It's a feature proposal regarding a new rule (labels _feature_, _rule_)
- It's been accepted (label _accepted_)
- Community help is wanted to get it implemented (label _help wanted_)

Moreover, this issue has not yet been closed.

Some people displayed interest in working on this issue. @onurtemizkan, @evpozdniakov, @loganfuller, has any of you made any progress at

[2016-10-11 10:26] mysticatea commented on #7307
Yes, that modification is simple on [isValidReturnType](https://github.com/eslint/eslint/blob/cd72bba8449718c7fa4d0f73ffcfe867539df941/lib/rules/valid-jsdoc.js#L126-L128).
The border between enhancements and bugs is sometimes unclear to me :worried:

@not-an-aardvark good point, but we should be careful if we introduce new warnings. I think it needs new option for the type check.

[2016-10-11 10:33] #7326 closed

[2016-10-11 14:02] darkred opened #7340 "Multiple declarations (for the same variable) located in different code blocks of `if ... else` should not cause 'no-redeclare' errors"
**Tell us about your environment**

* **ESLint Version:**   ESlint 3.7.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

On the following code I only have this rule:
[code]

**What did you do? Please include the actual source code causing the issue.**

I have this code:
[code]

**Wh

[2016-10-11 14:05] ilyavolodin commented on #6475
Ah, @nzakas is correct. This would result in fewer error messages so this would be a minor release ("Update"). In that case I think the resolution would be to modify this rule to only check LHS of the assignments/declarations.

[2016-10-11 14:08] ilyavolodin commented on #7338
@ljharb We can't use this command, since it wouldn't work on Windows. I'm not even sure it would work on OSX without some additional installations.

[2016-10-11 14:17] ilyavolodin commented on #7340
JavaScript uses hoisting for variable declarations (unless you are using `let`/`const`). On top of that, JavaScript is function-scoped, so all of the declarations will be moved to the top of the function (not a block). So you `a` variable will be declared twice once the code is re-written with hoisting in mind. The rule is behaving correctly in this case, because that's what it's built to prevent.

[2016-10-11 14:21] vitorbal commented on #7338
@ilyavolodin @ljharb how about something like this:
[code]
Would it be safe to assume that an npm executable is present? Otherwise we could still fall back to a hardcoded version..

(I was actually hacking a bit on this the other day, but paused it for now to pursue some JSCS milestone issues)

[2016-10-11 15:10] vitorbal commented on #7339
I think this might be a duplicate of https://github.com/eslint/eslint/issues/6651.

I'm guessing the comments there still apply, specifically:

However since you're willing to put it the work for this, maybe @nzakas and @ilyavolodin want to re-consider their opinion.

[2016-10-11 15:47] quinn commented on #3092
@kaicataldo @TheSavior What are the scenarios of this rule plus padded-blocks?

[code]

so if you want to * not * pad inner, but yes pad outer, you would need the last two to resolve the conflict.

does that make sense ? ! ?

[2016-10-11 16:50] ljharb commented on #7338
@ilyavolodin it absolutely works on stock OS X as well as any POSIX system with npm installed. You're right about Windows, but you can reimplement that command in JS pretty trivially, as shown above.

[2016-10-11 16:53] darkred commented on #7340
Alright, thanks for the information.

[2016-10-11 16:53] #7340 closed

[2016-10-11 16:53] TheSavior commented on #3092
Yeah, that makes sense.

So the conflicts arise when people use:

[code]

and they have code like:

[code]

No matter whether they have the blank line or not, one part of the rule will complain. At configuration time, we can detect these bad configurations and notify the user of the conflict, pushing them to use something to the effect of:

[code]

So essentially, we don't try and work with the co

[2016-10-11 17:18] SimenB commented on #7339
I'd also love to get `glob-util` as it's own thing, as I'm messing about getting a bunch of files to lint right now 😄

Could go crazy with stuff like `@eslint/glob-util`,  `@eslint/file-util`, `@eslint/config` etc.

[2016-10-11 18:06] ilyavolodin commented on #7338
Ok, I have no objections to doing it the way @vitorbal showed. To answer your question, yes, we should assume that npm executable is present.

[2016-10-11 18:11] ilyavolodin commented on #7339
Moving all of those bits out, while a good idea, can turn into a maintenance nightmare, if not done correctly. I think it might benefit a lot of people if we were to move it out (for example, stylelint could probably consume `config` package wholesale, same with `sass-lint`) and we might get more contributions for those, but it would definitely make our release process a lot more complicated. We a

[2016-10-11 18:21] SimenB commented on #7339
I agree your release process would get more complicated, but what about starting "small", like the globbing I linked to above, then see how it goes? That's not logic that often changes, and should be a stable code base (at least for a JS project).

Config is more complicated, and I would think it's also code that changes more often that traversing for files

[2016-10-11 18:29] platinumazure commented on #7339
I'm in favor of trying it out but will defer to the TSC on how much of a headache it would add to the release.

Personally I think we've made great strides already in making the release more reliable (the most recent espree issue was more of a code problem than a release problem, I think). That said, I know that the TSC (especially nzakas) puts in a lot of work behind the scenes to keep things smo

[2016-10-11 18:53] quinn commented on #3092
given some rules like this:

[code]

these would conflict:

[code]

but these would not:

[code]

also this would not conflict:

[code]

@TheSavior could that also work? this i think cuts down on complexity and allows the padded-blocks rule to remain unchanged.

[2016-10-11 18:58] quinn commented on #3092
the point of indent true or false would be to either invert or maintain the choice specified for outer-padded-blocks where the line of code is indented compared to the preceding (or following) line.

[2016-10-11 19:23] TheSavior commented on #3092
Can you elaborate more on `indent`? I'm not sure I follow the intended purpose.

I think I've been leaning towards this all being one rule since they are likely to be heavily related and people will be jumping between them.

[2016-10-11 19:29] not-an-aardvark commented on #3092
Hmm, this doesn't seem like a good solution to me. I want to be able to pick a configuration and not have the linter tell me later on that my config is self-contradictory.

Instead, if code like this is encountered:

[code]

The rule should just apply one of the config options (i.e. ensure that the config is followed for the outer block, and don't report any errors for the inner block config).

[2016-10-11 19:40] TheSavior commented on #3092
@not-an-aardvark So essentially we would be saying that one option takes precedence over the other?

If they are separate rules, then it seems like it would require one rule to check and read the configuration of another rule.

However, if they are new options to the same rule, then I think we would be fine. I think this approach would work.

[2016-10-11 19:43] SimenB commented on #7339
Ok, I'll clean up the "for" then, so it can be looked at as an example

[2016-10-11 20:23] quinn commented on #3092
@TheSavior @not-an-aardvark I agree that it seems weird to have rules that could conflict, but I'm having trouble envisioning how the options would be passed to a single "padded-blocks" rule. Given these examples are all valid with different configs:

[code]

[code]

[code]

[code]

[2016-10-11 20:49] not-an-aardvark commented on #3092
@quinn I'm having trouble understanding what "never/always pad inner" and "never/always pad outer" mean in this context. Could you clarify?

I'm also confused about how indentation is related. You sort of explained the indentation option in https://github.com/eslint/eslint/issues/3092#issuecomment-253011709, but I still don't understand -- could you provide examples of code that the indentation op

[2016-10-11 20:58] not-an-aardvark commented on #3092
Actually, I understand what you mean by "inner" and "outer" based on rereading the discussion above, so never mind that explanation.

Basically, I think that if we encounter a conflict, we should pick a direction and stick with it.

[code]

I think creating a new rule for this will cause conflicts, and the rule shouldn't unexpectedly fail due to conflicts sometimes. (If we want to declare specific

[2016-10-11 21:52] kaicataldo commented on #3092
Combining this into one rule makes a lot of sense to me, both for ease of configuration/discoverability and also because it allows us to better deal with situations where the two rules might conflict. Not sure if we want to deprecate `padded-blocks` in favor of a new rule or enhance the current `padded-blocks` rule (we would have to not enforce padding around/outside the braces by default to avoid

[2016-10-11 21:57] quinn commented on #3092
@kaicataldo ok, given your example, how would this be described:

[code]

It doesn't have opening after, and it * does * have opening before, but it doesn't in the case where opening before and opening after conflict. How is the conflict described?

[2016-10-11 22:06] kaicataldo commented on #3092
Sorry, not sure I'm following the question. Could you show me the configuration and the where the conflict is? I'm not necessarily advocating for opening/closing at the moment - was just an idea that we can potentially think about this configuration differently.

[2016-10-11 22:18] quinn commented on #3092
@kaicataldo yeah i'll try to explain it better.. so using the existing padded-blocks this is valid:

[code]

for me, personally, what I'm trying to do is enforce the spacing in between the blocks in the above example while still allowing for no padding on the inside of blocks. Using the example from @kaicataldo this could look like:

[code]

[2016-10-11 22:24] quinn commented on #3092
@kaicataldo fwiw I don't have an opinion on inner / outer vs opening / closing, I think this issue exists in either scenario. I think it boils basically down to these two edge cases:

 1. I want padding between blocks, and I also don't want padding at the beginning and end of a block (this is very common I think, e.g. a `class` block with methods that have one space between them)
 2. I want paddin

[2016-10-11 22:29] quinn commented on #3092
finally, more thinking thoughts, I think most people like a line of whitespace after the closing brace of a block, * except * when followed by another closing brace:

[code]

[2016-10-11 23:41] joscha opened #7341 "Bug: The prop value with an expression type of UpdateExpression could not be resolved."
**Tell us about your environment**

If you check out [this branch](https://bitbucket.org/atlassian/atlaskit/pull-requests/689/chore-update-eslint-to-v3/diff), and run
[code]

you can see the error.

* **ESLint Version:**
3.7.1
* **Node Version:**
6.5.0
* **npm Version:**
3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**

eslint w/ plugins

**Please show your full configuration:*

[2016-10-11 23:49] joscha commented on #7341
It seems as if https://github.com/evcohen/jsx-ast-utils/ doesn't know the JSX `UpdateExpression` type. Adding `UpdateExpression: noop` here: https://github.com/evcohen/jsx-ast-utils/blob/master/src/values/expressions/index.js#L67 seems to make eslint run, but I can't tell if that's the right way to fix it /cc @evcohen

[2016-10-11 23:50] not-an-aardvark commented on #7333
Yes, it does. I think the consensus on that issue was to still delegate that case to `no-use-before-define` rather than `no-undef`.

[2016-10-11 23:59] not-an-aardvark commented on #7323
I see, thanks for clarifying.

I think in those cases, the rule is just verifying that the line has a block of tabs followed by a block of spaces, rather then some other mixture of spaces and tabs. Since you have `smart-tabs` enabled, it assumes that the spaces are being used for alignment, so it doesn't report any errors.

Personally, I think there are a lot of different points of view on how man

[2016-10-12 00:06] not-an-aardvark commented on #7318
Thanks for filling in the info.

I suppose being able to disable checking for a particular option could be useful. However, I think passing `null` would be better than `false` or `"off"`.

[2016-10-12 00:19] TheSavior commented on #3092
@quinn The situation you are stating is the *exact* reason I wrote the original rule in JSCS. Check out the [valid and invalid options there](http://jscs.info/rule/requirePaddingNewLinesAfterBlocks).

The challenge is that we are trying to merge that use case with `padded-blocks` while trying to avoid conflicts.

What is your proposal for handling the case you stated?

[2016-10-12 00:31] quinn commented on #3092
idk.

/* padded-blocks: ["error", "never", {outer: "always", prefer: "inner"}] */

prefer states whether you should use the inner or outer rule if they contradict?

[2016-10-12 01:08] mnpenner commented on #7318
@not-an-aardvark That's fine by me. I only chose "off" because the root-level options use "off".

[2016-10-12 01:12] kaicataldo commented on #7310
Thinking about this some more, I'm not sure combining `no-new-object` and `no-new-wrappers` is the best course here, since we also have `no-array-constructor`. They all do slightly different things, and I think it might be best to leave them as is (though we should maybe consider naming them in such a way that it's obvious they're related).

Putting the discussion to combine `no-new-object` and `n

[2016-10-12 04:51] joscha commented on #7341
`jsx-ast-utils` version `1.3.2` fixes this.

[2016-10-12 05:07] #7341 closed

[2016-10-12 08:09] coderas commented on #6361
(it's gone a bit quiet...) Is anyone working on documenting this, or introducing a new feature that doesn't break the world ?

[2016-10-12 13:53] tbassetto commented on #7310
I obviously like the idea, and if the ESLint team think we should explore it I would like to create the PR for it :)

[2016-10-12 14:42] quinn commented on #3092
@TheSavior Does that syntax make sense to you? I tried to make it an extension of the existing "padded-blocks" so it is backwards-compatible.

[2016-10-12 14:46] quinn commented on #3092
Also if the eslint folks think this is headed towards something merge-able I'd be happy to put together a PR for this.

[2016-10-12 14:48] ekmartin commented on #3092
If the consensus lands on that extending `padded-blocks` might be a good idea I'd be happy to update #6445 as well (which does this, but with `above` and `below` for outer padding).

[2016-10-12 14:54] Wilfred opened #7343 "Proposal: add an ignoreRegexps option to max-len"
**What rule do you want to change?**

`max-len`

**Does this change cause the rule to produce more or fewer warnings?**

It adds an option so that `max-len` reports fewer warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Add an option `ignoreRegexps`, similar to the existing options `ignoreStrings` and `ignoreTemplateLiterals`. This would enable users to

[2016-10-12 14:55] quinn commented on #3092
@ekmartin cool. I think you are right that there should be a rule for blocks and not just for a specific type of block (e.g. class methods). I was thinking for the outer: option it could be `"above" | "below" | "always" | "never"` which would mean one less config option compared to your implementation. regardless, how does your implementation handle:

`{ "inside": "never", "above": "always", "belo

[2016-10-12 15:27] kevinSuttle opened #7344 "ESlint demo returns null"
http://eslint.org/demo/

**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.3

[code]
**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
- There t

[2016-10-12 15:44] vitorbal commented on #7344
@kevinSuttle thank you for your report.

The demo page doesn't really support setting `sourceType: module` at the moment. See https://github.com/eslint/eslint.github.io/issues/195.
There's also an effort to completely re-write the demo page, which will add support for that feature and more. See: https://github.com/eslint/eslint.github.io/pull/235.

Unfortunately, both issues haven't progressed muc

[2016-10-12 15:44] #7344 closed

[2016-10-12 15:46] kevinSuttle commented on #7344
Thanks for the info @vitorbal.

[2016-10-12 15:48] platinumazure commented on #7343
Hi @Wilfred, thanks for the issue.

I think I understand what you're getting at, but just to be safe, could you please edit your post to conform with our [Rule Change Proposal template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md)? Thanks!

[2016-10-12 15:55] SimenB commented on #7339
#7345

[2016-10-12 16:00] Wilfred commented on #7343
Sorry about that. I've updated the post.

[2016-10-12 16:04] platinumazure commented on #7343
Ack-- I do apologize, we have an existing issue for this: #3229.

Closing this as a duplicate.

[2016-10-12 16:04] #7343 closed

[2016-10-12 16:05] platinumazure commented on #3229
@markelog @nzakas Is anyone actively working on this?

[2016-10-12 16:48] TheSavior commented on #3092
Unfortunately, in order for this to satisfy the JSCS compatibility requirement, we need to support the same options that JSCS supports.

http://jscs.info/rule/requirePaddingNewLinesAfterBlocks

[code]

[2016-10-12 16:55] quinn commented on #3092
@TheSavior I think the scope here is broader than the old jscs rule, that seems to only be for padding after a block, whereas this covers the padding before and after a block as well as the padding inside a block (and the places where the two conflict). It seems what the jscs rule has that this one doesn't is more granular control over the type of block the rules are supposed to apply to.

Is ther

[2016-10-12 17:01] TheSavior commented on #3092
Yeah, we definitely are supporting a super set with our proposal to padded-block.

My comment was in reference to the type exceptions. Somehow we need to have answers for those options. Any recommendations?

[2016-10-12 17:09] quinn commented on #3092
@TheSavior I guess those aren't for the type of block it is, but rather where tho block is.. it seems to mostly be for when a block is contained in some sort of list (function call, new, array, property list), those exceptions could probably just work as-is right? as in, use the padded-block rule unless the block is part of an args list, port of a property list, etc?

[2016-10-12 17:12] TheSavior commented on #3092
Yeah, that sounds right to me. Any recommendation on how that fits into the proposed `padded-block` configuration?

[2016-10-12 17:18] quinn commented on #3092
[code]

?

[2016-10-12 17:21] kaicataldo commented on #7310
@tbassetto Thanks for your willingness - makes this a ton easier if the team decides to go this route!

@eslint/eslint-team Meant to ping on my previous comment - thoughts?

[2016-10-12 17:24] platinumazure commented on #7310
@kaicataldo I like that idea and I've put a thumbs-up on your comment. We should probably clean up this issue (or create a new one) to reflect the concrete proposal, can you take the lead on that?

[2016-10-12 17:47] kaicataldo commented on #7310
@platinumazure Yeah, I can definitely make a new issue with a real proposal - just wanted to float the idea to see what others thought :)

[2016-10-12 18:09] quinn commented on #3092
e.g.

[code]

[2016-10-12 18:12] TheSavior commented on #3092
So there would be `outerExceptions` and `innerExceptions` and they would just flip the other configuration for those cases? What is the first `"never"` for? It seems like in previous comments we have specified `inner` and `outer` with `before` and `after`.

[2016-10-12 18:16] jonschlinkert commented on #7316
Hmm, I tried updating and it caused tests to fail. I probably won't have time to investigate further, in case someone else wants to look into it.

[2016-10-12 18:22] quinn commented on #3092
the first `never` says "never pad the inside of a block". it's just doing what padded-blocks does currently. Then the `outer:` option says whether you want padding before, after, or both (always). `prefer:` states which takes precedence (inner or outer choice).

idk if there needs to be innerExceptions (maybe that is just for my uses), and I was thinking also for the exceptions it would just not d

[2016-10-12 18:25] quinn commented on #3092
@TheSavior `["error", "never"]` could be considered the same as `["error", {inner: "never"}]` for the sake of compatibility. i was thinking to just forego the latter and maintain the existing functionality without an alternative option that does the same thing.

[2016-10-12 19:43] #7330 closed

[2016-10-12 20:03] not-an-aardvark opened #7348 "Proposal: Allow a fixer to apply multiple fixes simultaneously"
## Problem

As of ESLint 3.7, the autofixer for a rule can only perform one "fix" at a time. In this context, a "fix" is an atomic change (removal/insertion/replacement) to a single contiguous range of code.

From what I understand, this restriction was introduced when the autofixers for core rules almost exclusively fixed whitespace, and didn't touch any tokens. The intention was to ensure that e

[2016-10-12 20:23] platinumazure commented on #7348
I'm just going to leave one example showing why this would be somewhat difficult:

Before:

[code]

Rules being applied:
* space-infix-ops (should add spaces to each side of + token)
* no-extra-parens (remove the parentheses)

Desired after:

[code]

Fixes to be applied:

[code]

The current implementation is efficient because fixes are applied in reverse order of starting range. This means we ite

[2016-10-12 20:42] not-an-aardvark commented on #7348
Interesting example. I'll think about whether it's possible to maintain linear time and atomicity, but I'm also wondering: How bad for overall performance would a quadratic-time implementation actually be?

For example, if a file has 100 fixes (probably much larger than the average), this requires updating ranges `O(10000)` times. I'm inclined to think that updating a range is computationally inex

[2016-10-12 22:13] not-an-aardvark commented on #7348
Here's a linear-time implementation:

1. Create a linked list of character blobs in the file. A character blob is a range of characters that is not split by any fixes. For n fixes, there will be at most 2n+1 blobs.
1. Match each fix to a starting blob and ending blob, based on the ranges of the fix.
1. Apply each fix by replacing the appropriate blobs for a given fix with a new blob for the replac

[2016-10-13 03:35] not-an-aardvark commented on #5909
I'll work on this.

[2016-10-13 05:59] TheSavior commented on #3092
I think having the alternative syntax is valuable for consistency. There is no rhyme or reason for the first one to inherently be "inner", it's just the case to maintain backwards compatibility. I'd imagine that over time that schema would be deprecated.

Do you feel like there are more outstanding questions?

We should write up something more comprehensive based on where we have landed and how di

[2016-10-13 10:36] w0rp commented on #3611
I'm looking forward to this feature, as it will allow me to specify that every file ending in `.spec.js`, containing tests, should permit a different set of globals for writing Jasmine tests. This is a pretty common pattern for AngularJS code.

[2016-10-13 12:27] Alaneor opened #7350 "Proposal: Add exception option to `no-extra-parens` to allow parens around React components"
The rule `no-extra-parens` currently flags parens around React components spanning multiple lines:

[code]

However, [some believe](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-wrap-multilines.md) that wrapping multiline React components is the preferred way to write them to increase readability.

### Proposal

Introduce a new exception option to this rule, `reactCom

[2016-10-13 12:46] mikesherov commented on #7310
An interesting aside is that `false` and `true` are not equivalent to `new Boolean(false)` and `new Boolean(true)`. Boolean objects allow properties, whereas literals do not. Famously used in Modernizr for their video support detection.

[2016-10-13 14:04] platinumazure commented on #7350
Hi @Alaneor, thanks for the issue!

We definitely can't make library-specific exceptions. We could possibly make an exception option for JSX or for multi-line expressions in general.

I'm fairly sure this is a duplicate of another issue, but I'm on a mobile device and can't search as easily. Just noting that this issue may be closed as a duplicate.

[2016-10-13 14:33] kaicataldo commented on #3092
A summary of this discussion and where the proposal currently stands would be really helpful! Could we create a new issue as requested [here](https://github.com/eslint/eslint/issues/5982#issuecomment-252314084)?

[2016-10-13 14:50] nunocastromartins opened #7351 "Linter forcing use of argument in class setter"
**Tell us about your environment**

* **ESLint Version:**
3.7.1
* **Node Version:**
6.8.0
* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The code should be valid. JavaScript forc

[2016-10-13 15:07] not-an-aardvark commented on #7351
Thanks for the report. I can reproduce this issue.

The rule currently ignores setter parameters in object literals, because a setter without a parameter is a syntax error. It should also ignore setter parameters in classes.

[2016-10-13 15:46] faassen opened #7353 "eslint returns exit code 8 with emacs client/server setup"
I'm trying to make flycheck work with eslint in emacs. After a lot of debugging it _only_ happens when I run emacs as a server and start clients with a emacsclient, not when I directly start emacs. That setup may explain why my problem is not reported commonly.

I found that beyond version flycheck v3.0.0 (even v3.0.1!) flycheck fails to run eslint; v3.0.0 and below work. I have gone a little way

[2016-10-13 16:01] not-an-aardvark commented on #7353
Thanks for the report.

If you're unable to reproduce the exit code issue on the command line, my guess is that the exit code problem isn't with ESLint; it's something else about your setup that is causing the wrong exit code to be reported. I don't think ESLint's exit code would be different depending on whether it's run from emacs.

To clarify, are you saying that this worked in eslint v3.0.0 an

[2016-10-13 16:14] faassen commented on #7353
Yes, it works with eslint v3.0.0 but not with eslint v3.0.1.

I realized that my distinguishing emacs server/client from plain emacs may have been premature -- when I tested with plain emacs I didn't load the rest of my emacs configuration, so that may also have been an issue.

[2016-10-13 16:18] faassen commented on #7353
I tried removing ``stripBom`` call from the change you indicated but don't see a difference in behavior. Nonetheless, it may be that my quick hack of directly editing the installed file in ``node_modules`` is not the right way to test this.

[2016-10-13 16:24] ljharb commented on #7310
That's true for all primitives but null and undefined (Symbol requires `Object()` ofc)

[2016-10-13 17:22] Alaneor commented on #7350
@platinumazure Thanks for the info! Of course the main issue is with the JSX syntax so naming the configuration option `jsxComponents` is totally fine with me.

I believe that having a `multiline` configuration option will work just as well for my use case and might actually be more helpful for the broader community since there might be more situations where such exception will be desired.

[2016-10-13 17:41] platinumazure commented on #7350
Here's the duplicate issue: #4229

That originally was closed with a JSX-specific commit, but I think we reverted it because we wanted to be more generic. Personally I like michaelficarra's idea of just allowing the parentheses in the case where `[no LineTerminator here]` appears in the spec (which includes return statements). So basically, if return is followed by open paren and then newline, the

[2016-10-13 17:47] platinumazure commented on #7350
Oh, wow, I'm dumb. Okay, the parentheses should be unnecessary because this isn't a return/throw/yield statement, so you should be able to just do this:

[code]

[2016-10-13 17:52] Alaneor commented on #7350
@platinumazure Yup, that would work - writing the component like that does not cause `no-extra-parens` to complain.

The problem is, that our team's coding style guides prefer wrapping multiline JSX components in parens, for clarity. That, however, causes a conflict with the `no-extra-parens` rule. And that's why I would like to have a new option in `no-extra-parens` to allow JSX components wrappe

[2016-10-13 17:54] platinumazure commented on #7350
Referencing [your earlier post](https://github.com/eslint/eslint/issues/7350#issuecomment-253579666), just want to re-confirm that a `multiline` option would also work for you?

[2016-10-13 18:02] Alaneor commented on #7350
@platinumazure Yup, I believe it would be of help here. Although I must say I am not quite certain I would enjoy seeing code like this:

[code]

I wonder if there's any use case for allowing parens around multiline, non-jsx expressions?

Perhaps it would really be better to add the `jsx` option as described [in the issue you linked](https://github.com/eslint/eslint/issues/4229#issuecomment-1567481

[2016-10-13 18:08] ljharb commented on #7350
This would be great, as it's blocking Airbnb's config from enabling `no-extra-parens` - precisely because our guide requires that multiline JSX be paren-wrapped.

However, it also *allows* single-line JSX to be paren-wrapped, which means `multiline` wouldn't suffice for our use case (@platinumazure)

[2016-10-13 18:45] kaicataldo commented on #7030
I think this is worth fixing, as it should be very difficult and would help people who write JSX out. JSX doesn't currently allow single line comments, so being able to write these comments as block comments would be beneficial. See https://github.com/facebook/react/issues/1831 for more info.

[2016-10-13 19:18] quinn commented on #3092
@TheSavior @kaicataldo wip here:

https://gist.github.com/quinn/ee7e4be90482c2b6517a8b090397e7f1

once it's hammered out we can create an issue? no point in starting yet another issue with 50+ comments....

[2016-10-13 19:34] kaicataldo commented on #3092
Appreciate you pulling that together.

I disagree - I think part of the reason this discussion has stalled so many times is that it spans multiple issues and is hard to piece together. Creating a new issue to pull it all together and distill what we've discussed on the other issue would make it a lot easier to discuss. Discussing on the gist just makes it harder to find, imo. Then we can close the

[2016-10-13 19:36] f0rr0 opened #7355 "Unused var React JSX"
Why is `Main` unused?

<img width="619" alt="screen shot 2016-10-14 at 1 07 12 am" src="https://cloud.githubusercontent.com/assets/8574219/19364139/997f60ee-91aa-11e6-9027-0624d3cd999d.png">

`.eslintrc` :

[code]

[2016-10-13 19:36] quinn opened #7356 "add outer padding to rule padded-blocks and cover existing jscs functionality"
# Update: please refer to this pull request for the current status of this issue:

https://github.com/eslint/eslint/pull/8099

## 1st proposal: updating padded-blocks
[code]

The above doesn't yet include additional options for backwards compatibility.

related issues:
- https://github.com/eslint/eslint/issues/3092
- https://github.com/eslint/eslint/issues/5982
- https://github.com/eslint/eslint/i

[2016-10-13 19:37] quinn commented on #3092
@kaicataldo ok created issue: https://github.com/eslint/eslint/issues/7356

[2016-10-13 19:38] quinn commented on #5949
superseded by https://github.com/eslint/eslint/issues/7356

[2016-10-13 19:38] kaicataldo commented on #3092
Thanks :+1:

[2016-10-13 19:38] quinn commented on #5982
superseded by https://github.com/eslint/eslint/issues/7356

[2016-10-13 19:39] kaicataldo commented on #7356
Closing the other issues so we can consolidate the discussion in one issue. Thanks @quinn!

[2016-10-13 19:40] #3092 closed

[2016-10-13 19:40] #5982 closed

[2016-10-13 19:44] kaicataldo commented on #7355
Hey there, thanks for the issue. I believe you need to use https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md to have vars used in JSX marked correctly as used.

[2016-10-13 19:47] f0rr0 commented on #7355
@kaicataldo right on, thanks!

[2016-10-13 19:47] #7355 closed

[2016-10-13 19:51] alberto commented on #7277
What do you think of using the team mailing list?

My point of view is that if we were going to do a patch release to fix a critical bug, we shouldn't pospone it because a minor change got in.

[2016-10-13 20:44] nzakas commented on #7235
I'm going to bring this up at the TSC meeting to get more clarity.

[2016-10-13 21:04] nzakas commented on #7339
I'm not comfortable moving a lot of the hidden pieces of ESLint into separate packages directly. Most of the files had very little thought put into their interface, so they're not really appropriate as standalone packages. `config.js` itself is a complete mess that I've been wanting to get rid of for some time, so I definitely wouldn't want to expose that as an interface we have to maintain.

So I

[2016-10-13 21:06] nzakas commented on #7277
Agreed. I think if there's a critical fix that has to be made, we just do the release and don't worry that it's a minor instead of a patch.

Do people pay attention to the mailing list? Most of the time when I write something, I get no response. I don't know if people have it filtered or otherwise. I agree with @ilyavolodin that somehow blocking PR merging would be best, I just don't know how to d

[2016-10-13 21:08] btmills commented on #7235
After discussion in the 2016-10-13 TSC meeting, we decided to accept this enhancement. A PR that closes this issue should also clarify in the rule's docs that the rule's aim is to ensure names are present for debugging purposes.

[2016-10-13 21:12] btmills commented on #7230
The TSC decided in the 2016-10-13 meeting not to accept this option into core.

[2016-10-13 21:13] #7098 closed

[2016-10-13 21:13] btmills commented on #7230
Speaking for myself, I would use this if someone were to implement it in a plugin!

[2016-10-13 21:16] kaicataldo commented on #7277
I read the mailing list, but I'm not a huge fan of using that for for this info. I still think tracking in the release issue would be preferable.

[2016-10-13 21:18] nzakas commented on #6361
We agreed to update documentation, but that hasn't been done yet. Do you want to submit a PR?

[2016-10-13 21:31] #7331 closed

[2016-10-13 21:33] vitorbal commented on #7353
Hi @faassen, as the bot says above, would you mind filling in the bug report template? It helps us understand quickly what you are experiencing and what your environment is like, and therefore there's a higher chance someone from the team knows how to help you out. Thanks for understanding!

[2016-10-13 21:37] nzakas commented on #7348
Related: https://github.com/eslint/eslint/issues/5329

If I'm understanding you correctly, it sounds like in the case of an autofix that needs to apply two changes, you'll apply the first one, then apply any intervening fixes while keeping an offset of the fixes already made so that the second one can be made in the correct location?

[2016-10-13 21:53] not-an-aardvark commented on #7348
Not quite: I was saying I would store the text of the file as a linked list and convert all the ranges appropriately at the start. That way, the fixer wouldn't have to deal with updating ranges and offsets, and it could still be O(n).

Although now that you mention it, keeping an offset might also allow for O(n) time while keeping the solution simpler overall.

Not to deter from the implementation

[2016-10-13 22:01] platinumazure commented on #7348
I'm okay with the API. I just want to make sure we agree on what the requirements of a new implementation should be (which may include things like linear time performance, atomicity of sets of fixes, etc.)

[2016-10-13 22:14] not-an-aardvark commented on #7348
Atomicity should definitely be required for all the fixes from a given reported problem. (A fix for removing parens, such as the one in the original comment, is only safe if the fixes are atomic).

I think linear-time performance should also be a requirement for the implementation, provided that linear-time performance is possible to achieve. I'm pretty sure it is possible, but if we discover that

[2016-10-13 22:15] vitorbal opened #7358 "Breaking: remove `source` property from individual eslint.verify messages"
This is a follow-up of #7098.

We should **remove the `source` property from individual linting error messages** that `eslint.verify()` outputs, in order to avoid duplicate information in the results.

For more information, please see [this comment](https://github.com/eslint/eslint/issues/7098#issuecomment-251242459).

This is a **breaking change**, and as agreed, we plan on introducing it only fo

[2016-10-13 22:17] vitorbal commented on #7098
Created a follow-up issue. You can find it here: https://github.com/eslint/eslint/issues/7358.

[2016-10-13 22:22] vitorbal commented on #7358
@nzakas marking this as accepted as we've already agreed on it in #7098. Hope that's okay!

[2016-10-13 22:56] ljharb commented on #7230
whoa, can we get some more context on this decision?

[2016-10-13 23:16] not-an-aardvark commented on #7230
@ljharb The meeting archive is [here](https://gitter.im/eslint/tsc-meetings/archives/2016/10/13).

[2016-10-14 00:37] ljharb commented on #7230
Thanks - I find that very sad. There is a *clear* level of indirection and footgun this avoids, which is "forgetting to use `{}` as the first argument, and accidentally mutating instead of creating a new object".

[2016-10-14 02:07] almirfilho opened #7361 "Rule Enhancement Proposal: add options to `object-curly-spacing` rule for imports and destructuring assignment"
**What rule do you want to change?**
Stylistic rule [`object-curly-spacing`](http://eslint.org/docs/rules/object-curly-spacing).

**Does this change cause the rule to produce more or fewer warnings?**
Yes. More or fewer, it depends on the configuration.

**How will the change be implemented? (New option, new default behavior, etc.)?**
With two new options, one for ES6 `import` statement and other

[2016-10-14 02:45] aaronjensen commented on #6612
@mrapogee did you end up doing this? I'm looking to do the same.

[2016-10-14 02:51] mrapogee commented on #6612
@aaronjensen Yup. I don't really have time to create a project, but here's a gist: https://gist.github.com/mrapogee/4c64a5c85064f9d907d8c9a5b4c8b045

[2016-10-14 06:02] SimenB commented on #7339
I haven't looked too closely into the actual API of those files, or given much thought to what I'd want out of it.

I'll give it a closer look later today, or at least this weekend, and come back to you with a somewhat structured proposal for an API and feature set 😄

[2016-10-14 08:28] silverwind opened #7363 "camelcase false positive with `global` and `new`"
**Tell us about your environment**

* **ESLint Version:** v3.7.1
* **Node Version:** v6.7.0
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
or
[code]

**What did you expect to happen?**
No error should be given, based

[2016-10-14 09:16] alberto commented on #7277
I read the mailing list too (there is just not much activity there). I proposed it because It's a push notification mechanism, as opposed to the release issue. Even if you get a github notification (via web or email), it is buried with all the rest, as opposed to the mailing list, which has low volume.

Blocking PRs would be ideal indeed, if possible. Actually, I would like to explore doing this.

[2016-10-14 10:01] willclarktech opened #7364 "Report format: log number of fixable problems"
I'm using eslint v3.7.1.

One of my favourite eslint features is the ability to fix a lot of problems automatically. When my team considers adding a new eslint rule, we take into account how many times the rule is broken and whether those new problems can be fixed automatically. So sometimes we want to know how many problems can be automatically fixed without actually running eslint with the `--fi

[2016-10-14 13:57] platinumazure commented on #7364
This is a cool idea, for sure! It'd be cool to see this happen.

Just a few practical concerns:

1. We support a few different formatters in ESLint core, so we need to figure out which of those can/should be enhanced. (Some formatters, the ones more designed for computer readability rather then human readability, may or may not support changes, and of course any change must be backward compatible.

[2016-10-14 14:24] kaicataldo commented on #7277
Definitely easy for notifications to get lost in the noise - but I like the idea of having a known place where we can check the status of the release. Would require us being aware a release is going on, but my assumption is that we all are (might be the wrong assumption). Blocking PRs would definitely be the best!

[2016-10-14 14:36] #6407 closed

[2016-10-14 14:47] #7351 closed

[2016-10-14 16:01] platinumazure commented on #7277
Agreed with @kaicataldo-- we should focus on what's already possible, and I think having a known place to check the release status addresses most of the biggest pain points (i.e., confusion around if it's still going on slash lack of authoritative, canonical place for information). Blocking PRs would be awesome but I think we should think incrementally in this case.

[2016-10-14 16:18] MethodGrab commented on #7323
– http://eslint.org/docs/rules/no-mixed-spaces-and-tabs

Oh I see. From the wording of the docs (and the smart-tabs example) I assumed it checked surrounding statements to verify that it was actually being used for alignment. If that's not the case then you can close this.

[2016-10-14 17:59] kylehg opened #7366 "indent does not report MemberExpression indents in function body of variable declarations"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 4.6.0
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Running eslint with `./node_modules/.bin/eslint --fix test.js`, where `test.js` is:

[2016-10-14 18:08] not-an-aardvark commented on #7366
Thanks for the report. I can reproduce this issue.

It looks like `indent` is intended to not report MemberExpression access on variable declarations:

[code]

In this case, the access isn't getting reported because the function that contains it is part of a variable declaration. This seems like a bug.

[code]

[2016-10-14 18:13] #6475 closed

[2016-10-14 18:17] kaicataldo commented on #7226
@eslint/eslint-team Thoughts? This discussion is blocking progress on a currently open PR, so we should probably figure this out.

[2016-10-14 18:22] not-an-aardvark commented on #7226
I'm not sure I agree with removing the rule -- I don't think we're claiming that the Reflect methods are identical to their counterparts. They're just similar enough that one could prefer to use them rather than their counterparts. If this was a proposal for a new rule I would say that it wasn't notable enough to meet our standard, but at this point I think removing it would just cause unnecessary

[2016-10-14 18:24] kaicataldo commented on #7226
For some context, we would only deprecate this rule for now. It would not actually be removed for quite a while. Check out http://eslint.org/docs/user-guide/rule-deprecation for more info.

[2016-10-14 19:28] SimenB commented on #7364
This would be great! Many people don't know about `--fix`, meaning they don't use it, and get annoyed at the linter. Having it print it at the bottom would be really awesome

[2016-10-14 21:25] #5909 closed

[2016-10-14 21:29] gabro commented on #7065
@vitorbal hey there, any news? Still missing a thumb up? :)

[2016-10-14 21:45] vitorbal commented on #7364
As far as I can tell, the following formatters should be okay to modify:

- stylish
- compact
- html
- table
- unix
- visualstudio

Would like someone from the team to double-check that list if possible, though. I'm also not sure what our policy is on changes to formatters.

[2016-10-14 21:52] platinumazure commented on #7065
@gabro Unfortunately I can't really tell which post is supposed to be the "canonical proposal". Any chance you could edit the initial post with whatever we're currently agreed on? Then @vitorbal and I can :+1: it and hopefully get a third member.

Sorry for losing track of this. It's not much of an excuse, but with 200-ish issues and 40-ish PRs open and only about 5-10 active team members, this is

[2016-10-14 22:09] kaicataldo commented on #6736
I agree with this change, but I also think the options should then be renamed (in a backwards-compatible way) to something like: `["none", "all", "named", "default"]`

[2016-10-14 22:18] kaicataldo commented on #6238
I think it's about time to close this unless we decide we want to accept the issue with `help wanted` for trying to leverage the real JSDoc parser instead of Doctrine.

[2016-10-14 22:19] kaicataldo commented on #7361
Seems like we should make all three cases individually configurable if we're going to do two

[2016-10-14 22:45] mikesherov commented on #7226
My vote would be to clarify this rule, educate users, and clean up the docs so they aren't false.

[2016-10-14 23:00] #7101 closed

[2016-10-14 23:05] gabro commented on #7065
@platinumazure thanks for your reply. I updated the original post with my final proposal!

No need to apologize, I understand this is a big project and it's easy to lose track of older issues. Mine was a reminder, not a complaint :) Thanks for your work!

[2016-10-14 23:37] btmills commented on #7318
I like that "off" is explicit. I'll give a :+1: for it. @mnpenner would you be willing to send a PR to implement this if it's accepted?

[2016-10-14 23:40] curiousdannii opened #7368 "Docs: Links to jslinterrors.com now go to an ads site"
For example http://eslint.org/docs/rules/one-var links to http://jslinterrors.com/combine-this-with-the-previous-var-statement/

See: https://github.com/jamesallardice/jslint-error-explanations/issues/39

There [looks to be 17 pages with links to jslinterrors.com](https://github.com/eslint/eslint/search?utf8=%E2%9C%93&q=jslinterrors). I would've submitted a pull request removing the links, but I d

[2016-10-14 23:41] almirfilho commented on #7361
@kaicataldo I just wanna hear from you guys if it seems a good ideia, then I can work on a PR for that =)

[2016-10-14 23:52] mockdeep commented on #1098
Would love to see something like this along with a progress bar.

[2016-10-15 00:41] mormahr opened #7370 "Version 3.8.0 comma-dangle breaks Flowtype annotations when a object rest parameter is used"
**Tell us about your environment**

* **ESLint Version:**
v3.8.0
* **Node Version:**
v6.7.0
* **npm Version:**
3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

.eslintrc.js
[code]

.babelrc
[code]

**What did you do? Please include the actual source code causing the issue.**
I created a "minimal" demo to reproduce the prob

[2016-10-15 00:48] not-an-aardvark commented on #7370
Thanks for the report. This is probably caused by https://github.com/eslint/eslint/commit/c8796e98af6804cccc947ab3e3b06d884a8d035f, or maybe https://github.com/eslint/eslint/commit/52da71e9bfcdb7f13c6077531b992d059af7391a.

[2016-10-15 00:54] not-an-aardvark commented on #7370
For what it's worth, I think your syntax is invalid based on the [current version of the rest/spread spec](https://sebmarkbage.github.io/ecmascript-rest-spread/); trailing commas aren't allowed after rest properties, since no property could actually be added after it. (See https://github.com/eslint/eslint/issues/7297 for more info.)

[code]

[2016-10-15 01:25] btmills commented on #6736
It seems like the rule didn't really account for these sorts of cases initially. How should it handle `import foo, { bar } from 'module';`?

[2016-10-15 03:50] jeremyruppel commented on #6238
@kaicataldo I disagree. I think having jsdoc-related rules that don't match the semantics of the actual jsdoc parser is a _defect_, not an "enhancement", and this issue should be labeled as such.

[2016-10-15 04:58] kaicataldo commented on #7361
Appreciate you being willing to take on the work of implementing this! Let's see what the rest of the team thinks :)

[2016-10-15 05:00] kaicataldo commented on #6736
Great point - seems like that would have to be another category...

[2016-10-15 05:05] kaicataldo commented on #6238
Oh, definitely not saying this isn't worth exploring. We've just found that issues that sit unaccepted for a long time without anyone stepping up and taking on the work tend to not get completed. We try to keep the issues list pruned to prevent overload, both for us as a team and to make it as easy as possible for contributors to find relevant things to work on.

As @nzakas mentioned, we'd definit

[2016-10-15 05:11] kaicataldo commented on #7368
Thanks for looking at this! Commented on the PR

[2016-10-15 05:30] not-an-aardvark commented on #7348
Slight correction: The existing implementation appears to be `O(n log n)` time, not linear time (since the list of fixes is sorted beforehand). So the new implementation should be at most `O(n log n)` time.

[2016-10-15 05:55] miqmago commented on #7338
Is this also related with https://github.com/airbnb/javascript/issues/1112?

[2016-10-15 06:07] ljharb commented on #7338
@miqmago yes, that's the current cause. however, because eslint configs need to use peerDeps, any time a breaking change peerDep of the config is released, this problem will re-present itself, unless `--init` explicitly installs the peer deps that the intended config version depends on.

[2016-10-15 06:15] not-an-aardvark commented on #7348
Sample `O(n log n)` implementation: https://github.com/eslint/eslint/commit/48357ea3d2631512584a07166dce5c88c8361c15

It ended up being simpler than I was describing it; the fixer now does the check for conflicts before any fixing takes place. This allows allows it to "undo" a fix by simply removing it from the list of fixes to apply if it later discovers a conflict on the same reported problem. A

[2016-10-15 06:57] janmarek commented on #3055
Actually rule for enforcing the same style in all comments would still be useful.

[2016-10-15 07:31] not-an-aardvark commented on #3458
I think the main issue here is that the current processing of config files doesn't allow contextual identifiers. In other words, `eslint-plugin-import` has to mean the exact same thing regardless of the config file that it appears in. This is very limiting, because if we want sharable configs to be usable independently from each other, they have to be able to have their own dependencies, and poten

[2016-10-15 08:15] BYK commented on #3458
Can we offer this as a JS-only feature to at least get started? I understand the concern around restricting configs to only data but if we had the actual JS and module system, it may open other doors. Existing JSON and YAML configurations are already compatible with this, just more limited and in the future if we decide to drop support for these, it should be trivial to write a tool (or may be eve

[2016-10-15 08:50] vitorbal commented on #7361
:+1: from me, but one question: are destructuring assignments and that
syntax of ES6 import technically considered objects? Just wondering if the
rule name wouldn't be misleading for those options, instead of a new rule?
On Sat, Oct 15, 2016 at 6:58 AM Kai Cataldo <notifications@github.com>
wrote:

[2016-10-15 08:58] vitorbal commented on #7065
@gabro thanks for the poke! I'm still :+1: on the updated proposal to add a new option to `no-underscore-dangle`. Hopefully we can get some more support as @platinumazure mentioned above.

[2016-10-15 13:02] rkrisztian opened #7373 "Indent check is too strict in multiline function calls with array parameters"
**Tell us about your environment**

* **ESLint Version:** 3.7.1
* **Node Version:** 6.2.2
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?**

Default (did not specify).

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I use double indentation for continuation, so that I do not conf

[2016-10-15 13:33] mormahr commented on #7370
You're right about the comma after spread, but the comma dangle error persists even after removing it.

[2016-10-15 13:36] mormahr commented on #7370
Thanks for the fast response and fix 👍🏻

[2016-10-15 16:32] not-an-aardvark commented on #7373
Thanks for the report.

However, I think this is a duplicate of https://github.com/eslint/eslint/issues/6990. Could you follow that issue for updates instead?

[2016-10-15 16:41] not-an-aardvark commented on #3458
@BYK I think it's worth figuring out a good solution first, rather than implementing if halfway and figuring out the rest later. If we implement it halfway, it will make it much harder to change the system later.

[2016-10-15 18:04] gaearon commented on #3458
@not-an-aardvark

It is not clear to me from the team responses so far whether making JS configs more powerful is considered implementing it “halfway”, and why.

This is a hard problem if you treat configs purely as data, precisely because data presumes constant plugin identities whereas the issue is about potentially conflicting plugins.

Other tools, such as Babel, have already successfully solv

[2016-10-15 18:28] not-an-aardvark commented on #3458
@gaearon My objection was mostly in response to offering as a JS-only feature "to at least get started". If we determine that JS-only is the solution we want to use, then that's fine, but I don't think we should rush to a temporary solution with plans to change it later, because that will cause backwards-compatibility issues.

I think the solution in https://github.com/eslint/eslint/issues/3458#is

[2016-10-15 19:11] nzakas commented on #7358
Yup!

[2016-10-15 19:16] onemen opened #7374 "The 'curly' rule fixer break 'brace-style' rule"
**Tell us about your environment**

* **ESLint Version:**
3.8.0
* **Node Version:**
6.8.1
* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
[code]

**What actually happened? Please in

[2016-10-15 19:22] not-an-aardvark commented on #7374
Thanks for the report.

I don't think this is a bug; fixing an issue in one rule will occasionally cause a new problem to be reported for another rule.

This particular case will be solved when https://github.com/eslint/eslint/pull/7347 is merged, because then `brace-style` will be autofixable.

[2016-10-15 19:36] onemen commented on #7374
OK.
I will test tomorrow if #7347 will fix all the errors after 'curly' rule fixer

[2016-10-15 19:56] not-an-aardvark commented on #7363
Thanks for the report. I can reproduce this.

I'm not sure what the intended behavior is here, but it seems like we should be consistent between `My_Global()` and `new My_Global()`.

[2016-10-15 19:56] not-an-aardvark commented on #7374
I'm going to close this issue since I don't think this is a bug, but please feel free to continue the discussion.

[2016-10-15 19:56] #7374 closed

[2016-10-15 19:57] not-an-aardvark commented on #7373
Closing this issue as a duplicate, but please feel free to continue the discussion or reopen it if you disagree.

[2016-10-15 19:57] #7373 closed

[2016-10-16 00:40] sstern6 commented on #7366
@not-an-aardvark working on this if thats ok, should have this completed by Monday morning

[2016-10-16 04:02] kaicataldo commented on #7361
I agree that the name is misleading. `curly-spacing` or `curly-bracket-spacing` would be better

[2016-10-16 04:08] kaicataldo commented on #6724
Having worked on this some more, I'm feeling more and more like we should try to get the same result from attaching comments in ESLint as we did in Espree. Even though my suggestion above might make more sense, I don't think benefits outweigh the risk of breaking plugins in the ecosystem. I'm going to try and get it as close as I can to the current location of attached comments in Espree - might b

[2016-10-16 04:11] platinumazure commented on #6724
This is a bit out there, but... Could we support multiple comment
attachment "strategies" and let users basically pick one?

On Oct 15, 2016 11:08 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2016-10-16 09:15] SimenB opened #7377 "Rule proposal: Prefer computed properties"
**Please describe what the rule should do:**
It would warn when assignment to properties whose names are variables could instead use ES6 computed properties.

Airbnb style guide recommends this (https://github.com/airbnb/javascript#objects, 3.2)

**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[ ] Warns about a potential error
[x] Suggests an altern

[2016-10-16 10:59] mikesherov commented on #6724
One of the things I think JSCS did better than ESLint was how it treated comments. If we're going to be moving comments into ESLint, and we're at least partially doing that to take the responsibility away from parsers, now seems like a good time to at least deprecate trailingComments and leadingComments?

Getting them out of the AST also means we can accept any ESTree AST as long as it also provid

[2016-10-16 13:00] LinusU opened #7380 "Proposal: extending object-curly-spacing with rules for empty objects"
**Tell us about your environment**
- **ESLint Version:** v3.8.0
- **Node Version:** v6.7.0
- **npm Version:** v3.10.7

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected that the rules should compl

[2016-10-16 14:01] platinumazure commented on #7377
This would require some type analysis, which ESLint is not really capable of.

Let me illustrate:

[code]

And it would get even better when closures are involved.

So I think either the proposal needs to be fleshed out a little more to reflect exactly when the rule should or shouldn't warn.

And at this point, if my assumption (that the rule can only warn if the most recent object assignment was

[2016-10-16 16:26] SimenB commented on #7339
I have looked into it somewhat now, and the current API surface is huge! Mostly because "everything" is exported (to be tested I presume). But all of that wouldn't be part of the public API of an extracted module, so no issue, I suppose.

What I would like as a public API boils down to (with the goal of this being used by linters and its like, not "generic configuration") a single function, `loadC

[2016-10-16 17:46] SimenB commented on #7377
Since it would only warn at the point of instantiation, it wouldn't be an issue for eslint to figure out `o` has been reassigned, would it?

It only makes sense if `o` is a `const ` (or could be `const`).

[2016-10-16 20:27] adambuczynski commented on #6571
@platinumazure still the exact same behaviour with eslint 3.8.0

[2016-10-16 20:28] kaicataldo commented on #7380
This seems like a reasonable enhancement to me. As a user, I would expect "never" to warn about the case outlined above. Seems like this be added into the options object, perhaps as `emptyObject`.

With this option, the following would be valid:
[code]
[code]
[code]

One thing I'm not sure about is what we should do when the option is set to `"always"`. The current behavior is to just not enforce

[2016-10-16 20:40] platinumazure commented on #6571
Thanks! We'll keep digging.

On Oct 16, 2016 3:27 PM, "Adam Buczynski" <notifications@github.com> wrote:

[2016-10-16 20:48] LinusU commented on #7380
Maybe `emptyObjects` should also be a string, `"always", "never"`, and default to `"never"`?

[2016-10-16 21:29] platinumazure commented on #7380
Agreed with @LinusU, we want to avoid boolean traps as much as we can.

[2016-10-16 21:33] kaicataldo commented on #6724
@mikesherov Just to be clear, the proposal in this issue is to move all this logic into [`sourceCode.getComments()`](https://github.com/eslint/eslint/blob/660e0918933e6e7fede26bc675a0763a6b357c94/lib/util/source-code.js#L193) which, when given a node, returns the comments for that node. The general strategy I've been looking into is outlined in [this comment](https://github.com/eslint/eslint/issue

[2016-10-16 21:41] kaicataldo commented on #7380
In general, I agree, but this rule has [other object options](http://eslint.org/docs/rules/object-curly-spacing#options) that use a boolean, and it feels like extra cognitive load for the user writing configuration to make this one different

[2016-10-16 21:42] kaicataldo commented on #7380
I'm not opposed to changing them all to `"always"` and `"never"`, though!

[2016-10-16 22:53] mikesherov commented on #6724
@kaicataldo, I think JSCS's way always acknowledged the lossy nature of the AST, and never attempted to attach comments to nodes.

You're starting to hit those limitations in doing your work, like you pointed out with `var a /**/ = zzz;`, but it's not about skipping punctuators, it's about the fact that individual AST nodes often contain more than one piece of syntax, and so the paradigm of `leadi

[2016-10-17 03:57] sstur commented on #7370
Yes, I can confirm this is an issue when upgrading to v3.8.0. Here is a much simpler repro example:
[code]

Let me know if you need my eslint config for this.

[2016-10-17 04:24] jokeyrhyme commented on #2666
FYI...

Upstream Node.js now recommends that we set [`process.exitCode`](https://nodejs.org/api/process.html#process_process_exitcode) and allow the process to terminate gracefully, instead of using [`process.exit()`](https://nodejs.org/api/process.html#process_process_exit_code)

[2016-10-17 04:37] not-an-aardvark commented on #7370
@sstur That part is actually intended; your code's syntax is invalid, so it wouldn't make sense for ESLint to require a trailing comma in that case. The error reported there is a result of the bugfix in https://github.com/eslint/eslint/issues/7297.

[2016-10-17 04:55] sstur commented on #7370
Oh, I see. I believe my syntax is valid for Stage 3 of ECMAScript and is handled for us by Babel. We use ESLint with some newer ECMAScript proposed features such as this (specifically we use the same ES feature set as ReactNative.) It has been working as long as I can remember but broke when upgrading from 3.7.1 to 3.8.0 (presumably because of the bugfix you referenced).

I am sticking to 3.7.1 no

[2016-10-17 05:00] not-an-aardvark commented on #7370
I understand that you're using babel, but a trailing comma after a rest property is not valid syntax even according to the [current proposal spec](https://sebmarkbage.github.io/ecmascript-rest-spread/), because there is nothing that could follow a rest property.

The same thing applies with the already-standardized rest elements:

[code]

In order to be more compliant with the spec, babel's parser

[2016-10-17 05:05] sstur commented on #7370
Oh, I see! This I did not know!

So Babel is being more liberal than the standards in what it accepts. Interesting.

Thank you for taking the time to explain this. I wonder how to get the word out there so people don't continue opening issues..

[2016-10-17 05:26] kentor opened #7382 "proposal: extend object-curly-newline to allow single line and single prop in new line"
**What rule do you want to change?**
[object-curly-newline](http://eslint.org/docs/rules/object-curly-newline)

**Does this change cause the rule to produce more or fewer warnings?**
fewer warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently

[2016-10-17 05:35] Kovensky opened #7383 "no-useless-escape false positive with tagged template literals"
Noticed with eslint 3.8.0.

The `no-useless-escape` rule incorrectly flags `\` characters inside `String.raw`-modified template strings. `String.raw` specifically ignores any escaping and emits the backslashes as-is, so they are never escaping anything at all.

Code snippet that triggered the false positives:

[code]

In this case, the backslashes are there specifically so they get emitted as back

[2016-10-17 05:41] not-an-aardvark commented on #7383
Confirmed. Thanks for the report.

This is caused by https://github.com/eslint/eslint/pull/7332, which allows `no-useless-escape` to report uselessly-escaped characters in template literals. This is reasonable behavior in most cases, but I think we shouldn't report these characters in tagged template literals, since the tag function can access the raw text.

[code]

[2016-10-17 06:14] SimenB commented on #7339
Another future API I'd like is something like strict mode, allowing either a severity, ot array of severity and a single object. While this might make people write more in the config, I don't think forcing people to look up docs to understand what the config does is any good.

E.g. `max-len: ["error", 80, 4]`. The `80` on its own is fine, but what does the 4 mean? If we instead enforced `max-len:

[2016-10-17 06:20] not-an-aardvark commented on #7339
I agree with you that the `max-len` schema is a bit confusing, but I'm not I agree that the CLI core should regulate that sort of thing. It seems like that's just a matter of designing the API well, but that is subjective enough that I think it would be difficult to do automatically.

[2016-10-17 06:23] SimenB commented on #7339
Yeah, strict mode (or whatever it's potentially called) should be optional, as I think it's too late for it in eslint's case 😄

And of course, just in the case it's extracted out (which is the point of this issue).

[2016-10-17 10:39] quinn commented on #7356
@kaicataldo Anything I can do to help? I would be happy to try an implementation but there are already multiple PRs and I don't want to redo anyone else's work. I could try to merge the existing PRs or something. If there's anything I can do let me know. thanks :)

@kaicataldo Maybe the discussion from this issue should be moved here? https://github.com/eslint/eslint/issues/7145 In my example abov