[2017-04-13 22:21] ilyavolodin commented on #8392
I agree with @mysticatea position. Just `VisitorKeys` seems insufficient to cover the need of new syntax. I'm not sure that I like the idea of substitution of eslint-scope completely by parser. It would be better to modify eslint-scope to accept some sort of hooks that would allow certain actions for certain node types.

[2017-04-13 22:23] ilyavolodin commented on #8458
We don't have any statistical data about usage of package.json for configuring ESLint, but my personal feeling from browsing various Github repositories is that very very few people use package.json to configure ESLint. I don't know if adding a feature specifically targeting those people makes sense.

[2017-04-13 22:48] soda0289 commented on #8392
The eslint-scope issue is another problem. I opened an issue for a possible fix here: https://github.com/eslint/eslint-scope/issues/30. This proposal was not meant to fix all the problems of new syntax. It was just to allow eslint to traverse new node types.

Right now you cannot write rules for Decorators or Type Parameters because they are children of known nodes. When we define VisitorKeys we d

[2017-04-13 22:52] soda0289 commented on #8392
I think if we exposed a `getVisitorKeys()` api function that could tell parsers what eslint currently traverses. And allowed parsers to pass in VisitorKeys, either via parser services or a module export, we could overcome the problem of eslint not traversing some node types.

[2017-04-14 00:52] ilyavolodin commented on #8392
I think the more appropriate way to do this is to enhance output object from the `parseForEslint` function in the parser, to include a list of keys.

[2017-04-14 00:58] not-an-aardvark commented on #8392
If I'm understanding correctly, we do two traversals: one traversal within eslint-scope to collect scope info, and another within eslint to emit rule listeners. Do those traversals use the same `VisitorKeys`?

[2017-04-14 01:04] soda0289 commented on #8392
Yes they use the VisitorKeys that are defined by estraverse.

We don't really traverse the entire AST in eslint-scope. We only scope nodes that have a key in the VisitorKeys object. It is up to the node handler to call visitChildren().

[2017-04-14 01:09] not-an-aardvark commented on #8392
Ok, I think we should expose the visitor keys as a parser service, and solve the eslint-scope separately.

(Whatever we do, I think we should also avoid monkeypatching estraverse, because we have no idea what other modules might be using estraverse at any given time.)

[2017-04-14 01:39] ilyavolodin commented on #8392
@not-an-aardvark We don't monkeypatch estraverse. We modified it a while back to accept VisitorKeys like we do here: https://github.com/eslint/eslint/blob/master/lib/util/traverser.js#L26

[2017-04-14 01:43] not-an-aardvark commented on #8392
Sorry, I was imprecise -- by "monkeypatch" I meant "mutate global state". Wouldn't our changes to VisitorKeys also affect any other modules using estraverse in the process?

[2017-04-14 03:52] danny-andrews commented on #8241
One additional feature that would be nice would be detecting duplicate rule definitions, e.g. (I extend eslint's config which defines `'eqeqeq': 'error'` and then add the same exact rule in my own config. This is definitely lower priority than warning about missing plugins/rules or deprecated rules, but might be a cool thing to add to phase two of this feature.

[2017-04-14 03:58] danny-andrews commented on #8241
Also, I feel like deprecation warnings should be opt-in, not opt-out. I'm not aware of any other library/framework/tool which has deprecations as opt-in. Fussy console messages get things fixed quickly.

[2017-04-14 16:57] wesleytodd opened #8461 "no-extend-native false positive"
Applying `standard@10.0.1` to the npm package [`migrate`](https://github.com/tj/node-migrate) and it has a constructor called `Set`.  Obviously it might not be the best name since it is a native constructor now, but eslint should probably recognize that it is not actually modifying the native.

[code]

[code]

[2017-04-14 17:28] platinumazure commented on #8461
I've only had a chance to skim the rule source, but I think I agree this is a bug. The rule is looking at built-in global names without using scope analysis to determine if a global scope reference is even being modified (which it clearly isn't in the example case).

[2017-04-14 17:33] platinumazure commented on #8461
I'll try to repro when I get on my laptop, and I'll try to get a fix in sometime this weekend.

[2017-04-14 17:34] soda0289 commented on #8392
The `parseForESLint()` returns two properties that are defined here:
https://github.com/eslint/eslint/blob/master/lib/eslint.js#L38-L44
[code]
Should we add a new property to this object or create a reserved keyword called VisitorKeys that is a child of the services object. The services object is exposed in the rules context which might be useful but I think the intention was for the parser to exp

[2017-04-14 18:07] not-an-aardvark commented on #8461
If `Set` is declared at the top level, wouldn't this result in reassigning the global?

[2017-04-14 18:10] wesleytodd commented on #8461
@not-an-aardvark Yes, but since this is in a module, it is scoped to the module function scope.  In my fork I changed the name to `MigrationSet` because I agree that it is better to just avoid the issue altogether.  If I had left it as `Set` it would mean you cannot access the global `Set` inside that module.

[2017-04-14 18:10] platinumazure commented on #8461
Sure, but that's not what this rule is for. This rule is about extending
the prototype of built-in objects. Also, in a Node module, no, it wouldn't
reassign the global.

On Apr 14, 2017 1:07 PM, "Teddy Katz" <notifications@github.com> wrote:

[2017-04-14 19:05] gyandeeps commented on #4081
@eslint/eslint-team I think we can close this ? No movement for so long and we haven't seen any big traction for this style.

[2017-04-14 20:47] not-an-aardvark commented on #8461
Sorry, I got this rule confused with `no-global-assign`

[2017-04-14 22:03] ilyavolodin commented on #4081
Closing this issue per comment above.

[2017-04-14 22:03] #4081 closed

[2017-04-14 22:39] justingreenberg opened #8462 "Buffer Overhead Vulnerability in concat-stream"
Node Security Project has [released a Buffer Overhead Vulnerability advisory](https://nodesecurity.io/advisories/142)  for `concat-stream` ([CVSS high priority](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:N/UI:N/S:U/C:H/I:N/A:N)) dependency

[2017-04-15 00:30] gyandeeps commented on #8454
Based on the votes above, I am marking it as accepted. I think we should do this with 4.0, thoughts?

[2017-04-15 00:38] not-an-aardvark commented on #8454
I think this should probably go through the TSC because it's an enhancement to core.

Assuming this is a semver-minor change, I don't think we should add it to 4.0 because we already have enough to do for 4.0, and we could always add it in another release afterwards.

[2017-04-15 02:13] justingreenberg commented on #8462
i can confirm this was addressed and NSP has pulled advisory, closing

[2017-04-15 02:13] #8462 closed

[2017-04-15 07:24] mysticatea commented on #8454
Definitely :+1:.

[2017-04-15 07:38] mysticatea commented on #8392
A strawman:

[code]

I think bad if we continue modifying `estraverse.VisitorKeys` global state, too.

[2017-04-15 14:21] #8442 closed

[2017-04-15 15:49] kaicataldo commented on #8392
@mysticatea I agree - modifying estraverse.VisitorKeys isn't great. Should make an issue/PR to estraverse that allows for pushing to existing VisitorKeys without overriding them? Seems like it would be fairly simple to implement.

[2017-04-15 17:02] royriojas commented on #2998
@dawsbot not sure I understand your question, but Eslint does support storing the cache in external locations.

[code]

[2017-04-15 17:25] mysticatea commented on #8392
It exists. However, we are not using it due to performance issue. The `keys` option of `estraverse` is merged with `VisitorKeys` then does traversing, so it has extra copy.

[The traversing logic of `estraverse`](https://github.com/estools/estraverse/blob/6f6a4e99653908e859c7c10d04d9518bf4844ede/estraverse.js#L459-L554) looks complex, so we might be able to simplify it by stop using it. For exampl

[2017-04-15 19:48] platinumazure commented on #8461
This example also results in a lint error:

[code]

This very clearly doesn't extend the global Set object, because I have shadowed it with a block-scope variable. So I think this is definitely a bug.

[2017-04-16 11:23] ajhyndman commented on #6701
I think it's a shame that this didn't make it into core.

I would love to be able to write in a programming language where the majority of code I read didn't have two quirk-filled null-ish values that need to be hacked around all the time (with rules like `"eqeqeq": ["error", "always", {"null": "ignore"}]`).

[2017-04-16 21:17] ihordiachenko commented on #8075
@eTorAken I've made a small [plugin](https://github.com/ihordiachenko/eslint-plugin-chai-friendly) that overrides default `no-unused-expressions` rule and makes it friendly towards chai `expect` statements. I hope this will help you.

[2017-04-17 09:19] lazex opened #8469 "Rule `no-unexpected-multiline` does not detect case which line starts with `/`"
**Tell us about your environment**

* **ESLint Version:**
v3.19.0
* **Node Version:**
v6.10.1
* **npm Version:**
3.10.10
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Three errors are detected as `no-unexp

[2017-04-17 09:55] SimenB commented on #8109
IDK if more requires could be made lazy, but especially shelljs should be possible to remove as a startup cost, right? It stands for 1/3 of the startup time.

[code]

[code]

[2017-04-17 14:53] platinumazure commented on #8461
Update: I'm about halfway through rewriting the rule to use eslint-scope to do scope analysis, but I got quite busy over the weekend. I'm hoping to have a fix for this in time for this week's planned alpha release on Friday.

[2017-04-17 16:47] wesleytodd commented on #8461
Wow, awesomely quick turn around on this.  Thanks @platinumazure!!

[2017-04-17 17:24] platinumazure commented on #8461
@wesleytodd Save your thanks until I can finish the job :smile:

[2017-04-17 22:52] webOS101 opened #8470 "Allow more sort-imports options"
1. Eslint 3.19.0
2. More flexible import ordering rules
3. Allow grouping of alphabetized sections based on relativity to importing module.

Basically, our house rules alphabetize imports as follows:

[code]

So, 'global' imports sorted, coming first.  Then relative modules  Then local level imports.

Would you be interested in a pull request that allowed this as an optional sort order?

[2017-04-17 23:13] gyandeeps commented on #8470
What you are looking for is already implemented in the plugin `eslint-plugin-imports` under [`order` rule](https://github.com/benmosher/eslint-plugin-import/blob/master/docs/rules/order.md).

[2017-04-18 00:09] kaspnilsson commented on #8379
@vitorbal I think using the selectors is good enough, thanks. Truth be told, I was hoping for a full rule to be implemented in the hopes that there was an auto fix as well :)

@mysticatea It would be cool to have it explicitly... I personally don't see an issue with having aggressive rules in core as long as they're optional, but it's not my judgement.

[2017-04-18 00:27] kaspnilsson opened #8471 "Issues with indent when lines are wrapped"
1. ESLint v3.19.0
2. Here is my ESLint config: https://pastebin.com/jjmEpKt8 (source below in explanation)
3. Output:

   ./test.js
   3:7  error  Expected indentation of 10 spaces but found 6  indent
   4:7  error  Expected indentation of 10 spaces but found 6  indent
   5:7  error  Expected indentation of 10 spaces but found 6  indent
   7:7  error  Expected indentation of 10 spaces but found 6

[2017-04-18 03:07] webOS101 commented on #8470
So it is!  Looks very nice.  Still, the question stands about whether this is a useful addition to the core or if one should rely on this module.  I'm happy either way.

[2017-04-18 03:21] platinumazure commented on #8470
Hi @webOS101, Thanks for the issue.

We have a large number of core rules already, so we've set a pretty high bar for inclusion of new rules. Basically, except for really critical things, we [prefer that new rules be implemented in plugins](http://eslint.org/docs/developer-guide/contributing/new-rules). So since there is already a good import-related plugin out there, I would assume there would be

[2017-04-18 08:20] rightaway commented on #8395
**Please describe what the rule should do:**

It should warn when declaring anything (e.g. variables, function parameters) specified in the rule. Examples would be `undefined`, which could be problematic if `undefined` is reassigned. Or something like `object`, which is a matter of code style and not a descriptive variable name.

**What category of rule is this? (place an "X" next to just one item

[2017-04-18 12:32] smeijer commented on #4103
@AsaAyers how's that different from:

[code]

That way you can easily delete the comment once the problem has been fixed.

[2017-04-18 14:55] kaicataldo commented on #8425
Wasn't able to get to this this weekend but am planning to do this in the next day or two.

[2017-04-18 15:12] soda0289 commented on #8440
@not-an-aardvark I was thinking about implement a fix for this. Would we need a whitelist of known nodes that should be indented and all others be ignored?

[2017-04-18 15:53] AsaAyers commented on #4103
It's not significantly better or worse, just another option. I like it because it's not tool-specific and I don't have to remember the right eslint comment syntax. I forgot `eslint-disable-next-line` is a thing, so when I need inline configs I usually surround my code with `eslint-disable <whatever>` and `eslint-enable`.

[2017-04-18 16:36] graingert commented on #8118
@mysticatea the timeline for this in core is when it hits Stage 4, correct?

[2017-04-18 17:54] mattcollier opened #8472 "`arrow-spacing` defaults are not working as expected."
* **ESLint Version:**
v3.19.0
* **Node Version:**]
v7.2.1
* **npm Version:**
3.10.10
**What parser (default, Babel-ESLint, etc.) are you using?**
none
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Issue can be demonstrated by using my .eslintrc file or not.

Run
[code]
on the following js code:

[code]

**What did y

[2017-04-18 18:31] not-an-aardvark commented on #8440
Yes, I think that would probably be the best way to do it. Another option would be to use `espree.Syntax`, but that could cause breakage if new node types were added to espree in a minor release. For now, I suppose you could use `espree.Syntax` to get a one-time list of node types, and then hardcode that list into the file.

We would also have to make sure that indentation gets checked if a node i

[2017-04-18 18:38] jedwards1211 opened #8473 "Rule proposal: no-unused-async-promise"
**Please describe what the rule should do:**

It should generate an error when a statement calls an async function without using the `Promise` returned by the async function.  I've often mistakenly typed `foo()` instead of `await foo()`, causing bugs.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[X] Warns about a potential error
[ ] Suggests an

[2017-04-18 18:42] kaspnilsson commented on #8471
Updated with relevant info. Formatting is somewhat jank, let me know if I need to do better.

[2017-04-18 18:48] not-an-aardvark commented on #8472
Thanks for the report. This is actually intended behavior -- ESLint is designed such that all rules are off by default, and the user needs to specify rules in a config file to enable them.

The "default configuration" mentioned in the `arrow-spacing` docs refers to the configuration if the rule is enabled but none of its configuration options are explicitly used. In other words, `arrow-spacing: "e

[2017-04-18 18:53] not-an-aardvark commented on #8473
Thanks for the rule suggestion. I think it would be useful to be able to detect errors like this, but I'm concerned that ESLint wouldn't be very effective at detecting them due to the limits of static analysis. Specifically, ESLint would only be able to tell that `foo` refers to an async function if it's explicitly declared in the same file (and it wouldn't be able to detect async method calls lik

[2017-04-18 18:57] mattcollier commented on #8472
OK, great!  That works, thank you!

[2017-04-18 18:57] #8472 closed

[2017-04-18 18:57] patrickml opened #8474 "False Positive Regex Escape"
When trying to use regex to parse out any `[]` from a string eslint is throwing a false positive for un-needed escape

![image](https://cloud.githubusercontent.com/assets/7581369/25147618/1ff27c6e-2446-11e7-9795-b6aeec5494af.png)

`replace(/[\[\]]/gi, '.')` != `replace(/[[]]/gi, '.')`

[2017-04-18 19:02] not-an-aardvark commented on #8474
Thanks for the report. It looks like the error message is only referring to escaping `[`. (The `]` character still needs to be escaped.) This would result in a regex like `replace(/[[\]]/gi, '.')`, which behaves the same as the original regex in your code.

[2017-04-18 19:04] patrickml commented on #8474
ah thank you @not-an-aardvark, that's my bad sorry for the false report

[2017-04-18 19:04] #8474 closed

[2017-04-18 19:04] not-an-aardvark commented on #8469
This looks like a bug to me. Thanks for reporting.

[2017-04-18 19:25] not-an-aardvark commented on #8469
I'm not sure about the best way to detect this pattern. For the most part, I think this is only a problem when the code that looks like a regular expression has flags (since a syntax error will occur if it doesn't have flags). There are a few esoteric cases where that's not true:

[code]

There are a few options that I can think of:

1. Disallow all division where the division operator is on a new

[2017-04-18 19:48] kaicataldo commented on #8473
While I agree this is useful, I don't see how this is possible given the limitations of static analysis. Flow/TypeScript seems like a better tool for catching these kinds of errors.

[2017-04-18 19:51] kaicataldo commented on #8450
Not sure how useful this is given we can't also determine if the contents are a complete sentence or not.

Contrived example, but what about a comment like the following?
[code]

Would the rule then require it to be written as the following?
[code]

Or a real world example, would it require a period for the following comment? https://github.com/eslint/eslint/blob/master/lib/api.js#L1-L4

[2017-04-18 19:58] platinumazure commented on #8450
I'm wondering if this could/should be generalized to a sort of `comment-pattern` rule which would, to oversimplify a bit, take one or more regexes and flag all comments that don't match any of the supplied regexes?

[2017-04-18 19:59] kaicataldo commented on #8450
Are you suggesting replacing the capitalized-comments rule as well?

[2017-04-18 19:59] kaicataldo commented on #8450
Whoops, sorry, hit the wrong button!

[2017-04-18 20:03] jedwards1211 commented on #8473
Oh, you're right!  I didn't think about the same file limitation.  Thanks for letting me know!

[2017-04-18 20:03] #8473 closed

[2017-04-18 20:10] platinumazure commented on #8450
@kaicataldo I didn't mean to suggest that, no. That could be tougher to replace since we added a few configuration options for that rule to make it easier to use. So I'm not sure what I would want to do there.

[2017-04-18 20:33] svipben opened #8476 "`require-jsdoc` for `constructor`"
**Tell us about your environment**

* **ESLint Version:** 3.9.0
* **Node Version:** 7.9.0
* **npm Version:** Using latest `Yarn`

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**
It's very huge, you can find it here [svipben/react-boilerplate](https://github.com/svipben/react-boilerplate).

**SUGGESTION**
I have suggestion to inclu

[2017-04-18 20:49] vhiroki commented on #2948
@mysticatea, it still doesn't complain of reassignments with `=` :
[code]

Is that right?

[2017-04-18 20:54] platinumazure commented on #8476
Seems reasonable to me. :+1: from me, let's see what the team thinks.

[2017-04-18 20:55] platinumazure commented on #8449
@jaredmcateer Would you be interested in writing a PR if this gets accepted?

[2017-04-18 20:55] svipben commented on #8476
@platinumazure Oh, you make me happy right now. :smile:

[2017-04-18 22:10] jaredmcateer commented on #8449
I am travelling for a few weeks but I would definitely be up for writing
this rule when I am back and have the time.

On Apr 19, 2017 4:55 AM, "Kevin Partington" <notifications@github.com>
wrote:

[2017-04-19 04:07] freshp86 opened #8478 "indent outerIIFEBody --fix not fixing comments"
ESLint Version: v3.19.0
Node Version: v6.10.1

[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[code]

**What actually happened?**
The comment was not fixed.
[code]

[2017-04-19 04:14] not-an-aardvark commented on #8478
Thanks for the report. This was a known issue with the `indent` rule in 3.x -- in fact, it didn't validate the indentation of comments at all. The issue was fixed by #7618, so please wait until the next release. (Alternatively, you can install `eslint@4.0.0-alpha.0` to run an experimental version of the release.)

[2017-04-19 04:14] #8478 closed

[2017-04-19 07:21] sabrehagen opened #8479 "--fix with rule option"
Hi,

I'd like to make a feature request. I often want to use the `--fix` command line option to fix one rule, but currently eslint attempts to fix all rules. My current workaround is to create a `.eslintrc` file with only the rule I want to fix, then run `--fix` against the codebase with that `.eslintrc`, then restore my original `.eslintrc` file.

Could you add an optional parameter to `--fix` wh

[2017-04-19 10:04] mourner opened #8481 "indent flatTernaryExpressions is broken when conditions and values are on the same line"
* **ESLint Version:** 4.0.0-alpha.0
* default parser

[code]

**What did you expect to happen?** No errors.

**What actually happened?**

[code]

ESLint suggest the following formatting, which doesn't make sense:

[code]

BTW, I strongly believe that `flatTernaryExpressions` should be `true` by default. I've never in my life seen this zigzag-style ternary formatting in any projects, while the flat

[2017-04-19 12:42] jessereitsma opened #8482 "ES6 - no-extra-parens on callback function"
**Tell us about your environment**

* **ESLint Version:** v3.19.0
* **Node Version:** v7.8.0
* **npm Version:** v4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
standard.js

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
To not get the following error:
[c

[2017-04-19 12:50] jessereitsma commented on #8482
As a workaround I've changed my code to use bluebird's `promisify`.
That will get rid of the callback, and also the error.
But I still think this isn't the expected behaviour.

[2017-04-19 13:57] platinumazure commented on #8481
Seems like a bug to me, but I'll let @not-an-aardvark confirm. Thanks for the report!

[2017-04-19 13:59] platinumazure commented on #8482
I think your example is missing a parenthesis. I assume this is what you meant?

[code]

If so, you can definitely remove the parentheses around the arrow function:

[code]

[2017-04-19 14:12] jessereitsma commented on #8482
Ah, of course!
I think I got it wrong where you normally have to do:
[code]
But it doesn't happen much that I have some other params before the function.

Thanks for your answer. Kinda stupid mistake :(

[2017-04-19 14:12] #8482 closed

[2017-04-19 14:37] deckar01 commented on #8458
- [Searching for "eslint" in public JSON files](https://github.com/search?l=JSON&o=desc&q=eslint&s=indexed&type=Code) returns 408,836 results
 - [Searching for "eslintConfig" in public JSON files](https://github.com/search?l=JSON&o=desc&q=eslintConfig&s=indexed&type=Code) returns 39,246 results

This sample indicates ~10% of public projects store some amount of eslint configuration in package.json

[2017-04-19 15:01] platinumazure commented on #8482
@jessereitsma Glad to help! And don't worry, that sort of thing can definitely happen to anybody-- that's why we use linting tools! :smile:

[2017-04-19 15:09] platinumazure commented on #8458
Thanks for the data, that really helps.

I think this could work as long as we follow the same caveats we currently do for `.eslintignore`:
1. Cascading ignore patterns will not be supported; and
1. The ignore patterns must be in the ESLint process's CWD.

Personally, I would assume it to be quite common to run ESLint from package root, so I don't think those restrictions would be too onerous.

Th

[2017-04-19 23:13] freshp86 opened #8483 "object-curly-newline --fix violates max-len"
ESLint Version: v3.19.0
Node Version: v7.9.0

[code]

**Before**
[code]

**After invoking ESLint with the --fix flag the file is modified as follows**
[code]
And there is an error reported
[code]

**What did you expect to happen?**
Fixing object-curly-newline violation should not ignore max-len rule.

**What actually happened?**
ESLint fixed object-curly-newline violation, but now it violates max-

[2017-04-19 23:23] not-an-aardvark commented on #8483
Thanks for the report. However, this is working as intended -- autofixers for rules such as `object-curly-newline` don't make any guarantees about how other rules will respond to a given autofix.

[2017-04-19 23:28] freshp86 opened #8484 "object-curly-newline --fix erroneously removes comment"
ESLint Version: v3.19.0
Node Version: v7.9.0

[code]

**Before**
[code]

**After invoking ESLint with the --fix flag the file is modified as follows**
[code]

**What did you expect to happen?**
The comment should have been preserved.

**What actually happened?**
The comment was removed.

[2017-04-19 23:31] freshp86 commented on #8483
Given that max-len is not autofixable, is there a workaround? Are there any plans to make max-len autofixable? Or perhaps this could be one more reason that fixing https://github.com/eslint/eslint/issues/7609 would be worth it (it would sidestep this problem).

[2017-04-20 01:05] platinumazure commented on #8484
Thanks for reporting this! We definitely don't want to remove comments via autofix.

[2017-04-20 01:48] not-an-aardvark commented on #8483
The workaround is to run eslint with the `--fix` flag, and then modify your code as appropriate to keep it within the maximum line length. Making `max-len` autofixable isn't out of the question, but it would be difficult for the `max-len` autofixer to determine where to put a linebreak because other rules like `object-curly-newline` might impose restrictions that would prevent linebreaks from bein

[2017-04-20 04:35] yangshun352607664 commented on #6303
'Iconfont' is defined but never used   ,what should I do ? please help me .Thanks

[2017-04-20 05:31] freshp86 commented on #8484
Thanks for triaging quickly. Just adding a few more cases that exhibit the same problem

**Before**
[code]
**After --fix both comments are removed**
[code]

[2017-04-20 05:37] freshp86 commented on #8479
Seems like a duplicate of https://github.com/eslint/eslint/issues/8018 and related to the discussion at https://github.com/eslint/eslint/issues/8039.

[2017-04-20 06:05] freshp86 commented on #8478
@not-an-aardvark: I tried v4.0.0-alpha.0, and the issue seems only partially fixed. Specifically if I use as a rule
[code]
Then the code is fixed correctly from
[code]
to
[code]
But if I use
[code]
then the following code
[code]

is changed to
[code]
where the commented remains at the wrong indentation level of +2. Should this bug be re-opened?

[2017-04-20 06:10] not-an-aardvark commented on #8478
I don't understand your second example. With this config:

[code]

the following code is correct, and isn't autofixed at all:

[code]

[2017-04-20 07:02] freshp86 commented on #8478
Oops, I messed up my copy paste buffers. Clarifying below: If I use
[code]
then the following code
[code]

is changed to
[code]
where the comment remains at the wrong indentation level of 0. Sorry for the confusion, I hope it is clearer now.

[2017-04-20 07:03] not-an-aardvark commented on #8478
That's also working as intended -- see the explanation in https://github.com/eslint/eslint/issues/8445.

[2017-04-20 07:11] freshp86 commented on #8484
FYI, I have a condidate fix at https://github.com/freshp86/eslint/commit/496568626008a44652d5e41aebc9295d64f92f97. Tested

[code]
and it becomes

[code]
which seems correct. If that seems promising I can look on how to add proper tests and send a PR (have not contributed to ESLint before).

Having said that, when I use my complete config object (not posted in this bug), I end up with the comments

[2017-04-20 10:58] w0rp opened #8485 "Support different levels of indentation for MemberExpression with indent at indent level 0"
**Tell us about your environment**

* **ESLint Version:** v4.0.0-alpha.0
* **Node Version:** v6.4.0
* **npm Version:** yarn v0.21.3

I have some AngularJS code like so:

[code]

I would like the code in the global scope _not to be_ up-indented, but I would like method chains inside of my functions _to be_ up-indented. As far as I'm aware, it's not possible to configure `eslint` to enforce this. Fo

[2017-04-20 12:56] mattdell commented on #1098
`activity += 1`

I could really use this right now trying to run ESLint on a slow machine. Is ESLint doing something or is it hanging?

[2017-04-20 15:20] kaicataldo commented on #8425
I started looking at this yesterday and it's taking longer than I expected. Sorry, really though I could get it done before tomorrow :( If anyone else wants to take it on who can get it done in a more timely manner, please feel free (just leave a comment here so I know to stop working on it!)

[2017-04-20 17:23] platinumazure commented on #8461
Update: No meaningful updates, been busy the last few days. Unfortunately this won't make tomorrow's release, but it'll get in before 4.0.0 is out.

[2017-04-20 18:51] #7809 closed

[2017-04-20 21:30] not-an-aardvark commented on #8485
Thanks for the proposal. Could you be more specific about how this would work? For example,
 if you're proposing a new option on the rule, what should the option do specifically? (Answering the questions in the [rule change proposal template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md) would be useful too.)

[2017-04-20 21:35] #8469 closed

[2017-04-20 21:37] #8408 closed

[2017-04-20 22:05] w0rp commented on #8485
Sure, I'll give that a go. I hope this will be informative.

Thanks to everyone for `eslint`, by the way. I swear by it as one of the most powerful development tools in existence.

**What rule do you want to change?**

`indent`

**Does this change cause the rule to produce more or fewer warnings?**

Possibly the same amount. It depends on the codebase.

**How will the change be implemented? (New o

[2017-04-20 22:16] kaicataldo commented on #8392
@mysticatea Interesting! Do you have an idea of what that might all look like? I'd love to get this figured out so we can say we officially support TypeScript (and make babel-eslint better in the process)!

[2017-04-21 09:55] Willibaur commented on #4812
Hi all, I have a similar situation than @satazor here is my piece of code where ESlin is complaining
[code]
According to the DOCS that is completely valid code,
[code]
So pls let me know what am I doing wrong here.
Thanks in advance.

[2017-04-21 10:14] nunofgs commented on #7886
I also had something along the lines of:

[code]

I had to disable the rule because of this :(

Is anyone working on the `AssignmentExpression` feature?

[2017-04-21 14:54] btmills commented on #4812
@Willibaur if you haven't figured out what was going on yet, can you open a new issue and @-mention me? The information in our bug report template will help us track down what's happening. For what it's worth, the code looks correct to me, and the [demo](http://eslint.org/demo) doesn't complain about it.

[2017-04-21 17:21] vitorbal commented on #7886
@nunofgs I don't think anyone is currently working on this. If you are willing to put in the leg-work for a PR, we can muster some support to get this accepted!

[2017-04-21 17:51] vitorbal commented on #8396
Thanks for the links, @SpadeAceman! Would you be willing to send a PR to add them?

[2017-04-21 18:05] not-an-aardvark commented on #8455
I'm working on this. There are a few related cases, such as:

[code]

We already handle this correctly with `MemberExpressions`:

[code]

[2017-04-21 19:25] not-an-aardvark commented on #8410
Closing because this is working as intended.

[2017-04-21 19:25] #8410 closed

[2017-04-21 19:25] not-an-aardvark commented on #8414
Closing because this is working as intended.

[2017-04-21 19:25] #8414 closed

[2017-04-21 19:26] not-an-aardvark commented on #8388
Closing because this question has been answered.

[2017-04-21 19:26] #8388 closed

[2017-04-21 19:27] not-an-aardvark commented on #8386
Closing because this is working as intended.

[2017-04-21 19:27] #8386 closed

[2017-04-21 19:28] not-an-aardvark commented on #8292
Closing because this is working as intended.

[2017-04-21 19:28] #8292 closed

[2017-04-21 19:28] not-an-aardvark commented on #8417
Closing because this is working as intended.

[2017-04-21 19:28] #8417 closed

[2017-04-21 19:29] not-an-aardvark commented on #8446
Closing because this is working as intended.

[2017-04-21 19:29] #8446 closed

[2017-04-21 19:53] #6488 closed

[2017-04-21 20:15] kaicataldo commented on #8476
According to the [official docs](http://usejsdoc.org/howto-es2015-classes.html), it looks to me like JSDoc comments should be required both before the class and also in the constructor, however they shouldn't duplicate information. I'd have to look into it more, but it seems like the change for this should be inside the `valid-jsdoc` rule, enforcing the correct parameters for both the class declar

[2017-04-21 21:33] ilyavolodin commented on #8449
Looks like we have enough votes to accept this. Just need a champion. Anyone willing to champion this issue?

[2017-04-21 21:53] platinumazure commented on #8449
I'll champion.

@jaredmcateer Let us know when you get a chance to start work on this, or if your schedule fills up and it looks like you won't be able to do it. No rush, and enjoy your travels!

[2017-04-21 22:06] kaicataldo commented on #8404
v4.0.0-alpha.1 has been released. We had a few issues during this release:
- The [changelog](https://github.com/eslint/eslint/commit/1c7efbd299029492b3b25bf3bd08daafb508178f) wasn't populated with the commits in this release
- I was unable to generate the site locally. @not-an-aardvark was able to run it after doing a fresh `npm install` (which I had done before starting the release).

[2017-04-21 22:06] #8404 closed

[2017-04-21 22:08] not-an-aardvark opened #8489 "Add tests for release process"
There were some issues with the release process today, which could have been caught if we had tests for the release build. We have a lot of untested code in `Makefile.js`, so it would be a good idea to add tests for it.

[2017-04-22 03:08] borela commented on #8451
@btmills Is it possible to disallow spacing for aliases but require it for key value pairs?

[2017-04-22 05:38] not-an-aardvark commented on #8457
Based on the number of :+1:s on @platinumazure's comment, it looks like there's consensus that adding a fix for this rule would be problematic, so I'm closing this issue.

[2017-04-22 05:38] #8457 closed

[2017-04-22 05:40] not-an-aardvark commented on #8351
Closing because not enough information was provided to triage this issue.

[2017-04-22 05:40] #8351 closed

[2017-04-22 05:45] not-an-aardvark commented on #5073
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a very long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn'

[2017-04-22 05:45] #5073 closed

[2017-04-22 05:46] not-an-aardvark commented on #6296
Re-closing this, as it's not handled by the indent rewrite and it looks like there's insufficient interest for the team to pursue this.

[2017-04-22 05:46] #6296 closed

[2017-04-22 05:47] not-an-aardvark commented on #6671
Re-closing this, as it's not handled by the indent rewrite and it looks like there's insufficient interest for the team to pursue this.

[2017-04-22 05:47] #6671 closed

[2017-04-22 05:48] not-an-aardvark commented on #8445
Closing this issue because the behavior is working as intended.

[2017-04-22 05:48] #8445 closed

[2017-04-22 05:49] not-an-aardvark commented on #6911
Closing this issue in favor of https://github.com/eslint/eslint/issues/8443.

[2017-04-22 05:49] #6911 closed

[2017-04-22 05:51] not-an-aardvark commented on #6990
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 05:51] #6990 closed

[2017-04-22 05:52] not-an-aardvark commented on #7270
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 05:52] #7270 closed

[2017-04-22 05:54] not-an-aardvark commented on #3307
I think this is basically fixed now that https://github.com/eslint/eslint/commit/b0c63f0a928cceff7cf6f060262dd7ac4bc0f8dc has been merged, so I'm closing this issue.

[2017-04-22 05:54] #3307 closed

[2017-04-22 05:55] puzrin commented on #5073
@not-an-aardvark could you mark such issues with some label? They become lost after such type of closure, without chance to find.

[2017-04-22 05:55] not-an-aardvark commented on #4041
Is this still a problem?

[2017-04-22 05:56] not-an-aardvark commented on #4606
Is this still a problem?

[2017-04-22 05:57] not-an-aardvark commented on #5149
This was fixed by https://github.com/eslint/eslint/pull/8326.

[2017-04-22 05:57] #5149 closed

[2017-04-22 05:59] not-an-aardvark commented on #6073
This was fixed by https://github.com/eslint/eslint/pull/8314.

[2017-04-22 05:59] #6073 closed

[2017-04-22 06:00] not-an-aardvark commented on #6542
Closing because this was fixed in `acorn@4.0.5`.

[2017-04-22 06:00] #6542 closed

[2017-04-22 06:04] not-an-aardvark commented on #5073
I'm not sure what you mean. Could you clarify what type of label you would want?

[2017-04-22 06:05] not-an-aardvark commented on #6976
This was fixed by https://github.com/eslint/eslint/pull/8323.

[2017-04-22 06:05] #6976 closed

[2017-04-22 06:07] not-an-aardvark commented on #7162
Is this still an issue in 4.0.0-alpha now that #7129 has been fixed?

[2017-04-22 06:09] not-an-aardvark commented on #7339
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 06:09] #7339 closed

[2017-04-22 06:09] puzrin opened #8490 "Suggestion: need label for timed-out issues"
IMHO it would be useful to have separate cemetery for timed out issues. Sometime issues become accepted and all agrees those are useful. But if not implemented for a long time, those are closed. I can understand such practice, but it would be useful to track back such issues somehow. Now useful ideas just become lost.

I think, new label will solve this problem.

Examples:

- https://github.com/es

[2017-04-22 06:14] not-an-aardvark commented on #7568
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for. Also, remember that you can always create an update

[2017-04-22 06:14] #7568 closed

[2017-04-22 06:16] puzrin commented on #5073
If you mark such issues as "timed-out" (or some better name), it will be easy to navigate those later. Usually, such issues still have good ideas.

I remember one more, closed the same way - it was suggested to show output on the fly, because eslint seems to hang on big projects.

[2017-04-22 06:27] btmills commented on #8451
@borela no, they're treated the same currently

[2017-04-22 06:58] not-an-aardvark commented on #7722
Closing this in favor of https://github.com/eslint/eslint/issues/7722. I think https://github.com/eslint/eslint/issues/7722 covers what this proposal is suggesting.

[2017-04-22 06:58] #7722 closed

[2017-04-22 07:00] not-an-aardvark commented on #7730
I can confirm that this is no longer an issue now that https://github.com/eslint/eslint/pull/7516 is merged.

[2017-04-22 07:00] #7730 closed

[2017-04-22 07:01] not-an-aardvark commented on #7757
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:01] #7757 closed

[2017-04-22 07:03] not-an-aardvark commented on #7765
@eslint/eslint-team This proposal has a lot of votes. Is anyone willing to champion it?

[2017-04-22 07:05] not-an-aardvark commented on #7774
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:05] #7774 closed

[2017-04-22 07:07] not-an-aardvark commented on #7806
This has 3 :+1:s and a champion, so I'm marking it as accepted. I added the "help wanted" label for now, but if anyone on the team wants to work on it, feel free to remove the label.

[2017-04-22 07:12] not-an-aardvark commented on #7886
I'll champion this proposal.

One subtlety that I forgot to mention in https://github.com/eslint/eslint/issues/7886#issuecomment-271177755: The `prefer-destructuring` rule already has options for arrays and objects, and we would probably want to make those independent of the variable and assignment options. Maybe something like this would be a better schema:

[code]

[2017-04-22 07:14] not-an-aardvark commented on #7900
Closing this issue because the `no-shadow` rule correctly reports this case.

[2017-04-22 07:14] #7900 closed

[2017-04-22 07:15] not-an-aardvark commented on #7922
Closing this issue in favor of https://github.com/eslint/eslint/issues/7886.

[2017-04-22 07:15] #7922 closed

[2017-04-22 07:19] not-an-aardvark commented on #7951
This is fixed by https://github.com/eslint/eslint/pull/8468.

[2017-04-22 07:19] #7951 closed

[2017-04-22 07:21] not-an-aardvark commented on #7981
@eslint/eslint-team We need one more :+1: from team members to accept this issue -- anyone willing to support it?

[2017-04-22 07:22] not-an-aardvark commented on #8043
Closing this as a duplicate of https://github.com/eslint/eslint/issues/7621.

[2017-04-22 07:22] #8043 closed

[2017-04-22 07:24] not-an-aardvark commented on #8088
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:24] #8088 closed

[2017-04-22 07:25] not-an-aardvark commented on #8093
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:25] #8093 closed

[2017-04-22 07:26] not-an-aardvark commented on #8125
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:26] #8125 closed

[2017-04-22 07:27] not-an-aardvark commented on #8169
@eslint/eslint-team We need one more :+1: from a team member to accept this proposal. Is anyone willing to support it?

[2017-04-22 07:29] not-an-aardvark commented on #8214
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-22 07:29] #8214 closed

[2017-04-22 07:30] not-an-aardvark commented on #8220
Based on the number of :+1:s on https://github.com/eslint/eslint/issues/8220#issuecomment-289287241, it seems like there's consensus that this option would not be a good fit for core, so I'm closing this issue.

[2017-04-22 07:30] #8220 closed

[2017-04-22 07:32] not-an-aardvark commented on #8260
Closing this issue because there hasn't been a response from the author in awhile.

[2017-04-22 07:32] #8260 closed

[2017-04-22 07:32] not-an-aardvark commented on #8261
Closing this issue because the release is finished.

[2017-04-22 07:32] #8261 closed

[2017-04-22 07:34] not-an-aardvark commented on #8308
Thanks for the report. I was able to reproduce this issue.

[2017-04-22 07:35] not-an-aardvark commented on #8344
Ping; @jonathanKingston, would you mind clarifying your request to answer @ilyavolodin's questions?

[2017-04-22 07:37] not-an-aardvark commented on #8387
Thanks for the rule suggestion. This seems like a good idea to me. :+1:

[2017-04-22 09:01] brenwell opened #8493 "Class & Fatarrow allman curly indentation after --fix issue"
Hello, first off, thanks for the great tool. I love it!

I tried to see if someone else had reported this, which I can't seem to find. So there is a good chance this is simply a config issue on my side. Sorry in advance if that is the case

**Tell us about your environment**

* **ESLint Version:** v4.0.0-alpha.1
* **Node Version:** v7.9.0
* **npm Version:** v4.2.0

**What parser (default, Babel-ES

[2017-04-22 12:28] IljaDaderko opened #8494 "no-shadow triggered by assigning defaults to function params"
*eslint@3.19.0*

I've got 2 exports for functions as shown below

[code]

second function `password` highlights (password = "") as `no-shadow` error. I assume this is because it was assigned to empty string in above function `passwordsMatch()`. I don' think this is valid behaviour?

*EDIT*

it seems that error is caused by functions being named same way as their params, not because it was declared

[2017-04-22 15:06] kaicataldo commented on #8490
Thanks for the suggestion. We try to keep our backlog of issues groomed so that it's easier both for us as maintainers to prioritize bugs and enhancements and for contributors to find issues to work on.

Issues that don't have activity for a while are closed for lack of sufficient interest, as the chances of them being completed are pretty slim without someone actively moving the proposal forward.

[2017-04-22 15:55] kaicataldo commented on #7765
Maybe I'm missing something, but why does this change need to happen in `func-style` instead of `arrow-body-style`? Seems to me like we're mixing responsibilities here.

[2017-04-22 16:02] kaicataldo commented on #7981
I support adding a rule for this, however it's not entirely clear to me where we stand with the proposal. It looks like there were two votes for a rule that specifically checks switch cases.

[2017-04-22 16:05] kaicataldo commented on #8169
This has now been accepted!

[2017-04-22 16:11] platinumazure commented on #8494
I think this is correct behavior- function names are a different scope than parameters, so you are indeed shadowing that declaration. You can either disable the rule using `// eslint-disable-next-line` or similar, or rename one of the declarations.

[2017-04-22 16:18] ilyavolodin commented on #8490
@kaicataldo if I'm understanding it correctly, @puzrin is not complaining about us closing inactive issues, he is just suggesting that any accepted issue that was closed due to inactivity will be marked with some extra label prior to closing, to make it easier to find in the future.

[2017-04-22 16:19] puzrin commented on #8490
1. That depends. I consider impolite & abusive to create issue again, after closed by repo owner. This issue is сreated because i see that "generally" does not work well in some cases.
2. Also see upvotes and comments after https://github.com/eslint/eslint/issues/1098#issuecomment-235517870.

See second example, i said in clear form, that i can spend resources and implement it. What kind of "activ

[2017-04-22 16:34] puzrin commented on #8490
@ilyavolodin you are right. I understand desire to keep tracker clear from garbage. But IMHO existing process of close is too illegible. I try to suggest constructive solution.

[2017-04-22 16:41] jddxf opened #8495 "no-unreachable didn't work with single if"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.10.2
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
ESLint report a no-unreachable error
**What ac

[2017-04-22 16:42] not-an-aardvark commented on #8493
Thanks for reporting. I was able to reproduce this issue.

[2017-04-22 16:48] Aladdin-ADD commented on #8449
working on this. maybe the following weekend.

[2017-04-22 23:14] kaicataldo commented on #8490
Oh I see, sorry for misunderstanding. I'm not opposed to that!

[2017-04-22 23:31] polomsky opened #8496 "no-unmodified-loop-condition reports even loop is interruptible (by yield)"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected that error is not reported. I

[2017-04-22 23:35] not-an-aardvark commented on #8490
This is also my position.

[2017-04-22 23:53] btmills commented on #7765
@jhnns building on what @kaicataldo suggested, could you accomplish this today with these two existing rules?

[code]

[2017-04-23 00:03] puzrin commented on #8490
I'd say, it's not very pleasant to get issue closed with unclear future. If issue is rejected as useless - that's ok. If there are no human resources, and user should participate - that's ok too. Polite but unclear answer - not ok, IMHO.

It's not a problem to close issue. Problem is that sometime feedback from team is completely unclear. I did not analyzed all cases, but i'm 100% sure in examples

[2017-04-23 00:20] puzrin commented on #8490
Another solution could be to say officially - "it's normal to create new issue after old one was timed out if team's answer is not clear".

[2017-04-23 14:05] FieryCod commented on #1663
Is there a way to lint files recursively on Windows like I do on Linux using `eslint .`?

[2017-04-23 17:16] brenwell commented on #8493
Awesome! Glad I didn't waste anyone's time

[2017-04-24 00:51] AkashiX opened #8497 "Syntax Error."
I get error when I write async/await keywrods with Vscode. Vscode integrates ESlint Plugin...Is it does not support for ES7 new syntax?

[2017-04-24 00:57] gyandeeps commented on #8496
Considering the static nature of eslint, we only operate within the module boundary. Based on your example, its not getting modified inside this particular module.
I would recommend disabling this rule for that particular line.

[2017-04-24 01:53] not-an-aardvark commented on #8440
@soda0289 Are you working on this? I'm hoping we can get it done in time for the next release since it's a blocker for 4.0.0. (I can work on it if you haven't started yet -- I just want to make sure someone handles it.)

[2017-04-24 03:00] not-an-aardvark commented on #8443
After looking into it a bit, it seems like it will be difficult to do this in a way that everyone would agree with -- there seem to be a number of different styles:

[code]

[code]

This isn't a blocker for 4.0.0, so I'm going to remove it from the milestone. We can always add an opt-in to checking these expressions in a semver-minor release later on.

[2017-04-24 03:10] not-an-aardvark commented on #8481
This is working as intended -- the top-level ternary expression is always offset by 1 to avoid confusion in cases like this:

[code]

The intent of the option is to flatten *nested* ternary expressions (while still indenting ternary expressions that aren't inside another ternary expression). Note that if the ternary expression isn't at the start of a line, there won't be any difference anyway.

Si

[2017-04-24 03:51] epmatsw commented on #8443
I guess in that case I'd really prefer that this case wasn't included in `--fix`. If the initial line is flagged but skipped by the fix, a developer will see the error and can go back and fix all of it manually. If it gets fixed, we'll never catch the now weirdly-indented subsequent lines...

[2017-04-24 05:16] platinumazure commented on #8461
Finished the basic changes, just need to debug some failing test cases. Hoping to have a PR up this week.

[2017-04-24 06:44] #7621 closed

[2017-04-24 06:59] #7677 closed

[2017-04-24 08:49] mourner commented on #8481
@not-an-aardvark I'm really confused by your answer. Does this mean the most common ternary indentation style won't be possible to support without turning off the `indent` option completely? I find the "only indent the first ternary" rule very arbitrary and inconsistent. It would be much less surprising to either indent every nesting level in a multi-line ternary, or indent none.

[2017-04-24 08:54] mysticatea commented on #8481
I expected this is valid:

[code]

[2017-04-24 08:55] medains commented on #4606
Is is still a problem (as of 3.19.0 anyway) - I don't have a lot of time to follow this up at the moment; but I have made an example repo that shows the issue that can be cloned for testing.

https://github.com/medains/eslint-test

[2017-04-24 08:58] mysticatea commented on #8481
However, yes, I expected this is valid:

[code]

The common point is `:` does not make indent, I think.

[2017-04-24 12:07] thealjey commented on #7886
@not-an-aardvark and what about function arguments and import/export statements? I think those can also benefit from this rule a lot

[2017-04-24 12:28] leonaves opened #8500 "[key-spacing] Option to enforce no newline between property key and value."
**Tell us about your environment**

* **ESLint Version:** 2.13.1
* **Node Version:** 6.9.5
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

The above causes no error, which is expected; from the [documentation

[2017-04-24 12:37] AkashiX commented on #8497
Full Name: VS Code ESLint extension
Version: 1.2.8 ( find it at changelog in Vscode Editor )
There's many people say it wrong in Vscode Forum related.
Here's a sample:
[code]
I got error for "[eslint] Parsing error: Unexpected token create" on method name. But when I uninstall this pulgin, it works well. So I guess this plugin does not support for ES7 new syntax, such like above ( async/await ).

[2017-04-24 12:52] soda0289 commented on #8440
@not-an-aardvark I didn't have time this weekend. I've just been trying to understand the code and find an optimal solution. I will make an attempt at a solution tonight and let you know how it goes.

[2017-04-24 12:57] jonathanKingston commented on #8344
Sorry missed this.

In the `executeOnFiles` and `executeOnText` the result messages would contain granular error properties above what a string would provide.

The documentation shows this example:

[code]

This would be changed to perhaps something like:
[code]
However the `context.report()` examples in my initial comment explain the use-case a lot better than this tenuous example.

Yeah exactly

[2017-04-24 14:37] evilebottnawi commented on #7319
/cc @kaicataldo what is real status, accept? I have to time to PR :smile:

[2017-04-24 14:45] platinumazure commented on #7319
I don't remember seeing this issue, so I've just given it a :+1:. If we can get a champion from the ESLint team who didn't :+1: this, or if we can get one more :+1: and a champion from someone who did :+1: this, then we could reopen and accept the issue.

@eslint/eslint-team Is anyone willing to champion this issue, or should we leave it closed? Seems @evilebottnawi is willing to make a PR if we a

[2017-04-24 14:56] platinumazure opened #8501 "Proposal: "object-curly-newline" add configuration for named imports and exports (or create new rule for import/export specifiers)"
I'm creating a new issue for this because I'd like to see it considered for inclusion.

From the original post (see #7319):

Regarding the above question, I like the idea of augmenting object-curly-newline if other object-related rules tend to apply to import/export specifiers, but it's also true that some elements of objects (e.g., keys/values) simply don't apply to import specifiers. So I'm okay

[2017-04-24 15:12] platinumazure commented on #8490
I like the idea of creating a "no consensus" label (meaning team never really reached a decision, we just closed to keep the backlog clean/relevant). We could also add a policy saying that we encourage new issues if a closed issue merits further discussion, and call out that "no consensus" issues are especially welcomed to be opened as new issues if needed.

A bit of clarity on how we would interp

[2017-04-24 16:33] not-an-aardvark commented on #8481
@mourner I'm hoping we can avoid that situation by changing the option behavior to more accurately match user intuition.

@mysticatea What should the behavior be for code like this?

[code]

To me, it seems like this would result in unexpected indentation in some cases. But maybe I'm not understanding the desired behavior correctly.

[2017-04-24 16:39] not-an-aardvark commented on #7886
@thealjey The rule currently does not support function parameters and import/export statements. It might be worth changing that, but it seems like that is orthogonal to this discussion. Feel free to create a new issue for that.

[2017-04-24 16:51] not-an-aardvark commented on #8344
Thanks for clarifying.

Would https://github.com/eslint/eslint/issues/6740 solve this issue? It seems like you need a way to get more info about short "CLI-suitable" messages to display more verbose messages on addons.mozilla.org. If https://github.com/eslint/eslint/issues/6740 was implemented, you could look in the `executeOnText` output for a message ID, and then map different message IDs to dif

[2017-04-24 18:00] alberto commented on #8495
Did you expect an error because the test condition is always true?

[2017-04-24 18:32] mourner commented on #8481
@not-an-aardvark I'd expect all subsequent lines to have the same indented position (4), same as any other statement that you break into multiple lines.

[code]

[2017-04-24 19:14] not-an-aardvark commented on #8495
I'm not sure this is a bug; in general the code path analysis algorithm doesn't evaluate subexpressions to determine which code paths are reachable. With expressions like `true` it happens to be obvious, but it's not possible in general to determine whether any given expression will always evaluate to `true`.

[2017-04-24 19:23] not-an-aardvark commented on #8481
You've mentioned that both of these should be valid:

[code]

[code]

In case 1, `qux` is indented by 4 spaces from the start of the ternary. In case 2, `qux` is not indented at all from the start of the ternary. How does the rule determine which indentation to use?

I ask because the rule is consistent in cases like this when analyzing other expressions:

[code]

[code]

In both case 3 and case 4

[2017-04-24 19:30] darkyndy opened #8502 "valid-jsdoc with matchDescription fails when documentation is done using @description"
**Summary**
valid-jsdoc with matchDescription fails when documentation is done using @description

**Tell us about your environment**

* **ESLint Version:**
```"eslint": "3.19.0",```
* **Node Version:**
```v7.3.0```
* **npm Version:**
```3.10.10```
* **yarn Version:**
```0.18.1```
* **other dependencies:**
[code]

**What parser (default, Babel-ESLint, etc.) are you using?**
`"parser": "babel-eslin

[2017-04-24 21:46] kaicataldo commented on #8392
@eslint/eslint-team any other thoughts on this?

[2017-04-24 23:38] jddxf commented on #8495
@alberto Yeah, but now it seems it shouldn't.

@not-an-aardvark Thanks for your explanation. I didn't think of that. Then is it a special case using loop constructs? For example, ESLint do report an error for following code block:
[code]

[2017-04-24 23:48] not-an-aardvark commented on #8495
Hmm, it looks like I was wrong -- we do evaluate literals such as `true` when doing code path analysis on loops (see [here](https://github.com/eslint/eslint/blob/d49acc309ad69d99db1e04e971c33a69fdf657da/lib/code-path-analysis/code-path-analyzer.js#L59-L75)). In that case I suppose it makes sense to use the same check for `if` statements as well.

[2017-04-25 00:07] jddxf commented on #8495
I'm not sure whether it makes sense. Seems that the code you refered to is used only to detect infinite loops. I can see that as ESLint don't report for
[code]

[2017-04-25 00:15] not-an-aardvark commented on #8495
`while (false)`

![](https://i.imgur.com/SMEpnna.gif)

Hmm, this seems like something we should do, but if it's just used for detecting loops then I suppose it's an enhancement rather than a bug.

[2017-04-25 00:33] jddxf commented on #8495
It's unlikely to use something like `while (false)`, `if (true)` or `if (false)` while `while (true)` is a common construct. So I'm just fine with the current behavior.

[2017-04-25 03:47] not-an-aardvark commented on #8392
It seems like the action items here are:

* Update estraverse somehow (or stop using estraverse) to allow traversing custom visitor keys without modifying global state
* Support a `VisitorKeys` option from `parseForESLint` and use it when traversing in eslint and eslint-scope

`eslint-scope` plugins can be handled separately, I think.

So to allow for custom visitor keys, we need to figure out a g

[2017-04-25 12:39] mysticatea commented on #8481
[code]

I think the 2nd line needs one level indentation because it's the 2nd line of the initializer expression.

[code]

The 3rd line looks one level unindented. I don't think `:` should unindent from the previous line.

[2017-04-25 12:55] mysticatea commented on #8481
[code]

I think the case 3 is a special case.
The initializer expression body has own indentation level of the object literal, so people probably want to avoid over indentation. However, initializer expressions have one indentation basically.

[2017-04-25 12:59] mysticatea commented on #8481
I know indentation is very complex...
I will get time in the next week, the long vacation in Japan, so I will investigate this.

[2017-04-25 13:03] eTorAken opened #8505 "Allow "no-restricted-properties" to check for in-depth properties"
**What rule do you want to change?**
no-restricted-properties

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
No change but `property` can handle an in-depth properties chain.

**Please provide some example code that this change will affect:**
I wish to use this with expect statements to

[2017-04-25 16:35] mockdeep opened #8506 "arrow-body-style suggestion: newline option"
* **ESLint Version:** 3.19.0

I would love some sort of a `multi-line-and-as-needed` configuration for the `arrow-body-style` rule that requires braces when there is more than one line, but not when it fits on one line:

[code]

The no-braces shorthand is nice on a single line for brevity, but I prefer the closure and explicitness of braces when something spans multiple lines.

[2017-04-25 16:49] #8374 closed

[2017-04-25 20:35] darkyndy commented on #8505
I did this using `no-restricted-syntax`.

[code]

other selector that I made for this rule is:
[code]

I know that doesn't look nice (needs improvement), but it works.

I like your proposal, will make things a lot easier.

[2017-04-25 21:23] OKNoah commented on #8346
This issues began suddenly for me as well,

[code]

[2017-04-25 21:25] polomsky commented on #8496
I can not image better alternative.

[2017-04-25 21:25] #8496 closed

[2017-04-25 22:23] feross opened #8507 "Auto fix `no-unneeded-ternary` changes code behavior"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 7.9.0
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

The following code (line 3) is considered an error by the `no-unneeded-ternary` rule

[2017-04-26 00:27] bigopon opened #8508 "[Feature Request] Ability to opt out a style in bracket style"
* **Eslint version**: latest
* **Problem**: I can choose only one among `1tbs`, `stroustrup`  and `allman` but I want to disallow only `allman`.
* Current argument against having more than 1 `if else` bracket styles is to have consistency, but i dont think there much distinction between `1tbs` and `stroustrup`. Enabling this can be helpful, ex `1tbs` can be used where the code inside `if/else` is

[2017-04-26 02:29] Borkes commented on #5498
so, if return is just an object, you do not need block statement. and if return is just a statement, you do not need 'return'

[2017-04-26 02:50] hulbert commented on #8214
@not-an-aardvark thanks for the suggestion, here is how I (think) I accomplished this.

---

Configuration:

[code]

Fails:

[code]

Passes:

[code]

[2017-04-26 06:21] whonow commented on #8214
On Apr 25, 2017 at 10:50 PM, <Scott Hulbert <notifications@github.com>>
wrote:

@not-an-aardvark <https://github.com/not-an-aardvark> thanks for the
suggestion, here is how I (think) I accomplished this.
------------------------------

Configuration:

{
  "rules": {
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[mike,mills!='parseInt'] >
Identifier[name='p

[2017-04-26 10:19] evilebottnawi commented on #8501
After accept this i can do PR :smile:

[2017-04-26 12:40] kaspnilsson commented on #8471
@gyandeeps can you please remove the needs-info label?

[2017-04-26 12:58] gHashTag opened #8509 "Parse Error: Illegal import declaration. React Native project"
**Tell us about your environment**
![2017-04-26 15 52 12](https://cloud.githubusercontent.com/assets/6774813/25435619/3ea48036-2a99-11e7-969b-e00ba8cd40e9.png)
* **ESLint Version:**
v3.19.0
* **Node Version:**
v7.9.0
* **npm Version:**
4.2.0
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**

[code]

**What did you do? Please include

[2017-04-26 13:09] evilebottnawi commented on #8509
@gHashTag incorrect `ecmaFeatures` usage, try to use
[code]

[2017-04-26 13:14] gHashTag commented on #8509
@evilebottnawi Tried it first and rechecked now, but still the error was omitted

[2017-04-26 13:22] gHashTag commented on #8509
And tried `rm -rf node_modules && npm install` it`s don`t working

[2017-04-26 15:41] platinumazure commented on #8509
Ping @kaicataldo @hzoo, can either of you help with this? I'm not familiar with babel-eslint's configuration.

[2017-04-26 15:51] kaicataldo commented on #8509
`"ecmaVersion"` and `"ecmaFeatures"` aren't required - Babylon supports latest syntax and JSX out of the box. That being said, I don't think that should make it error either.

Here are the configuration docs for [babel-eslint](https://github.com/babel/babel-eslint#configuration).

[2017-04-26 15:53] platinumazure commented on #8509
@gHashTag Might be worth running `./node_modules/bin/eslint.js --print-config path/to/file.js` so that you can see if a different configuration file is interfering.

[2017-04-26 16:59] not-an-aardvark commented on #8507
Thanks for reporting, I can reproduce this bug.

[2017-04-26 17:41] gHashTag commented on #8509
https://medium.com/usevim/in-editor-linting-with-syntastic-6814122bdbec

[2017-04-26 17:41] #8509 closed

[2017-04-26 22:34] vjeux opened #8510 "Prompt for autofix rules"
Inside of Facebook, when you run lint, it's going to show all the lint errors like eslint does but if there are rules with autofix, it's going to pause and write

[code]

and wait for the user to chose what to do. This makes for a good way to upsell the autofixes and less scary than running --fix on everything.

I'm not sure if you are interested in implementing this but I figured I would suggest

[2017-04-26 22:40] not-an-aardvark commented on #8494
Closing because this is working as intended.

[2017-04-26 22:40] #8494 closed

[2017-04-26 22:40] not-an-aardvark commented on #8483
Closing because this is working as intended.

[2017-04-26 22:40] #8483 closed

[2017-04-26 22:42] not-an-aardvark commented on #8471
Thanks for the report, but this is working as intended -- the rule expects the body of the function to be aligned with the start of the function.

[2017-04-26 22:43] not-an-aardvark commented on #8080
Thanks for your interest in improving ESLint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after a long time tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't int

[2017-04-26 22:43] #8080 closed

[2017-04-26 22:44] not-an-aardvark commented on #8379
Closing because it looks like this question has been answered.

[2017-04-26 22:44] #8379 closed

[2017-04-26 22:46] not-an-aardvark commented on #8497
Based on the information you've provided, it seems like this is an issue with the plugin and not an issue with ESLint.

[2017-04-26 23:27] cdanielsen opened #8511 "camelcase rule doesn't ignore default parameter assignment when disabled"
**Tell us about your environment**

**ESLint Version:** 3.19.0
**Node Version:** 6.9.4
**npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Disabling the `camelcase` rule does not appear to respect ES6 default parameter assignme

[2017-04-26 23:28] cdanielsen commented on #8511
Not sure if this is a bug or a rule change request; thanks for reviewing

[2017-04-27 00:30] kongakong opened #8513 "Incorrect ' Missing trailing comma comma-dangle' for a variable with '()' that spans across multiple lines"
**Tell us about your environment**

OSX 10.12.4

* **ESLint Version:** 3.19.0
* **Node Version:** v5.11.1
* **npm Version:** 3.10.6

Other eslint related in package.json
[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Flagged  `Missing

[2017-04-27 00:34] not-an-aardvark commented on #8513
This is working as intended, see https://github.com/eslint/eslint/issues/7851

[2017-04-27 07:44] JPeer264 commented on #8320
I could try to implement this, but I have absolutely no clue how to implement an autofixer for this. But I guess this can be also implemented later.

[2017-04-27 08:48] gHashTag opened #8514 "Vim & .eslintrc"
How to enable the syntax highlighting in vim editor the file .eslintrc ?

[2017-04-27 09:19] xtuc commented on #8514
I recommend you using https://github.com/neomake/neomake

[2017-04-27 13:18] edmorley opened #8516 "Links to sign the CLA are broken"
I'm trying to sign the CLA, and have tried the links on each of:
http://eslint.org/docs/developer-guide/contributing/
http://eslint.org/docs/developer-guide/contributing/pull-requests
https://github.com/eslint/eslint/blob/master/CONTRIBUTING.md

...however they point to either one of:
https://contribute.jquery.org/cla
https://contribute.jquery.org/CLA/

...which both redirect to https://js.foundat

[2017-04-27 13:27] edmorley commented on #8516
Bah wrong window focused, I submitted too soon. I've edited the OP to add the missing description.

[2017-04-27 13:39] not-an-aardvark commented on #8320
I've already started working on an implementation for this. (Sorry, I should have mentioned that earlier.)

[2017-04-27 14:17] platinumazure commented on #8516
@edmorley Thank you for raising this issue! Anything on jquery.org is definitely not the right place for the CLA, so we should update those. As soon as @kborchers comes in with clarification on the current status of and canonical link to the current JS Foundation CLA service, then someone on the team can hopefully fix the documentation. Thanks!

@kborchers Can you please clarify the up/down status

[2017-04-27 14:44] #8513 closed

[2017-04-27 14:50] vitorbal commented on #8511
Thanks for the report, @cdanielsen! I can reproduce this. Note that the following works:

[code]
I think the default assignment there is what's throwing the rule off.

[2017-04-27 15:07] ilyavolodin commented on #8516
I sent an email to @kborchers about it just now. Let's give JSF a chance to fix it.

[2017-04-27 15:12] kborchers commented on #8516
Sorry everyone. We are on it and hope to have it back up soon. I'll keep you posted.

[2017-04-27 15:19] svipben commented on #8476
@platinumazure @kaicataldo Or maybe it's better to add in rule `require-jsdoc` ignore property where I can exclude JSDocs for i. e. `constructor` and other methods?

[2017-04-27 15:32] kaicataldo commented on #8399
Apologies that we missed this. We can keep the discussion in the PR, but wanted to add some labels.

[2017-04-27 15:39] platinumazure commented on #8476
@kaicataldo Since we don't want rules to know about each other, if we accept this enhancement, we might have no choice but to augment both `require-jsdoc` and `valid-jsdoc` since they can't share config.

[2017-04-27 16:18] vitorbal commented on #8511
I'll work on this.

[2017-04-27 16:25] kborchers commented on #8516
Ok, CLA Assistant should be back up and running. Please let us know if you continue to experience issues.

As far as the link, the js.foundation/CLA should also be working again for viewing the CLA. For signing, the system is meant to be linked to from PRs. That said, there is an ongoing conversation about adding signing links to /CLA which you can view at https://github.com/JSFoundation/js.founda

[2017-04-27 20:00] not-an-aardvark commented on #8404
This release is finished, so I'm removing it from the TSC agenda.

[2017-04-27 20:25] platinumazure commented on #8404
My apologies. I had assumed that as TSC assigned themselves to the release, that they would remove the label. In future, I can try to keep an eye on the release issues.

[2017-04-27 20:31] platinumazure opened #8518 "Scheduled release for May 5, 2017"
The scheduled release on Friday, April 21, 2017 is assigned to:

* @ilyavolodin
* @not-an-aardvark

**Note**: This release will be a 4.x alpha or beta release.

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there

[2017-04-27 20:33] not-an-aardvark commented on #8404
Not a problem, I think someone from the TSC probably should have removed the label.

[2017-04-27 20:34] platinumazure commented on #8518
Friendly reminders to @eslint/eslint-tsc about the process for documenting release responsibilities:

* If you volunteer to run the release, then besides listing your name to the initial post, please also assign the issue to yourself so we can see it on the issue list
* Please remove "tsc agenda" when two TSC members are assigned to the release (assuming there are no outstanding questions about th

[2017-04-27 20:36] platinumazure commented on #8518
**TSC Summary**: Need to schedule two people for this release, per usual procedure. Also, it is not yet obvious if we should do another alpha release or if we can do a beta release.

**TSC Question**: Should this release be regarded as an alpha or beta release? Who wants to sign up for this release?

Please feel free to remove "tsc agenda" as soon as all questions above are answered, thanks!

[2017-04-27 21:21] kaicataldo commented on #8404
Yeah, we just missed it :)

[2017-04-27 23:45] ndresx opened #8520 "Autofix adds unnecessary spaces in template string expression"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.10.2
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
[code]

**What actually happened? Pleas

[2017-04-28 00:07] not-an-aardvark commented on #8520
Thanks for the report. This is working as intended -- the rule preserves spacing there so that it doesn't end up removing any comments that might appear on either side of the operator. You can use [`template-curly-spacing`](http://eslint.org/docs/rules/template-curly-spacing) if you want the whitespace there to be automatically removed.

[2017-04-28 00:14] ndresx commented on #8520
@not-an-aardvark Thanks and sorry then. With the additional rule it's working fine!

[2017-04-28 00:14] #8520 closed

[2017-04-28 00:16] not-an-aardvark commented on #8518
Whoever does this release should make sure to do a release of `eslint-release` first because https://github.com/eslint/eslint-release/issues/15 has been fixed on master.

[2017-04-28 01:05] ilyavolodin commented on #8516
Thanks @kborchers for the update. Looks like the issue is resolved, so closing.

[2017-04-28 01:05] #8516 closed

[2017-04-28 06:49] dantman opened #8521 "allow bypassing "'use strict' is unnecessary inside of modules" to require `'use strict';`"
Currently when `"sourceType": "module"` is defined, using the `strict` rule leads to this error:
[code]

I'm writing code in a [react-native](https://facebook.github.io/react-native/) environment. `import` and `export` are normally used and react-native's packager transforms code with babel and bundles it with browserify for use in react-native's basic non-node/non-browser/partially-polyfilled env

[2017-04-28 13:25] Aladdin-ADD opened #8522 "npm run test => error"
I'm trying `npm run test` on the branch `master`, but got an error.

**output:**
Validating rules

  [▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬]

  15794 passing (1m)
  1 failing

  1) bin/eslint.js reading from stdin gives a detailed error message if no config file is found:
     AssertionError: expected '\nOops! Something went wrong! :(\n\nESLint couldn\'t find the plugin "eslint-plugin-markdown". Th

[2017-04-28 14:38] edmorley commented on #8516
Many thanks for fixing the CLA system being down.

Are you still wanting to update the URLs in the OP so they (a) don't redirect, (b) point at something that isn't to do with jquery?

[2017-04-28 14:48] gyandeeps commented on #8522
Can you please share your system info and also what kind of CLI did you use since it relates to `stdin`?

[2017-04-28 14:56] Aladdin-ADD commented on #8522
os: mac os 10.12.2
terminal: vs code 1.11.0-insider terminal.integrated.shell.linux.
error log(/Users/zsd/.npm/_logs/2017-04-28T14_08_39_558Z-debug.log):

1 verbose cli [ '/Users/zsd/.nvm/versions/node/v6.9.1/bin/node',
1 verbose cli   '/Users/zsd/.nvm/versions/node/v6.9.1/bin/npm',
1 verbose cli   'run',
1 verbose cli   'test' ]
2 info using npm@4.5.0
3 info using node@v6.9.1
4 verbose run-script

[2017-04-28 15:23] kborchers commented on #8516
PRs to update those to https://js.foundation/CLA would be most appreciated

[2017-04-28 16:52] not-an-aardvark commented on #8521
Related: https://github.com/facebook/react-native/issues/5316

This seems reasonable to me. If a user explicitly sets `impliedStrict: false` in a module, then I think it's reasonable to take their word for it, so the `strict` rule should `"use strict"` in that case.

However, it's worth noting that some syntax (e.g. `with` statements) will be disallowed by the parser when parsing modules, even if

[2017-04-28 16:59] JPeer264 commented on #8254
`array-bracket-newline` will cover my expected behavior.

[2017-04-28 16:59] #8254 closed

[2017-04-28 17:41] Aladdin-ADD commented on #8522
I removed the config `.eslintrc` in home direcory. like this:
[code]
and it works.

this problem is very similar to https://github.com/eslint/typescript-eslint-parser/issues/211.
I think eslint locally installed should not use this config, so maybe there is something wrong with eslint. @platinumazure

[2017-04-29 00:38] blord-fullscreen opened #8524 "false positive for no-useless-escape"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.10.2
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**

The regex should be ok.

**What actually happened? Please include the actual, raw o

[2017-04-29 00:47] platinumazure commented on #8524
Thanks for the issue!

In JavaScript, a slash inside a character class doesn't need to be escaped, so that escape is indeed useless. So I believe this is working as intended.

[2017-04-29 00:57] blord-fullscreen commented on #8524
Thanks @platinumazure, you're right. I was mistakenly testing RegEx101 in its PHP flavor, and not in the JS flavor.

[2017-04-29 00:57] #8524 closed

[2017-04-29 16:00] platinumazure commented on #8461
@wesleytodd PR is up: #8528. Sorry for taking so long with this!

[2017-05-01 00:07] dtjohnson opened #8531 "New Rule Proposal: Consistent async function naming"
**Please describe what the rule should do:**

This rule enforces that `async` functions are named with an Async suffix and also that any function named with an Async suffix be marked as `async`. It is a common practice for functions that return promises to be named with an Async suffix to indicate to the caller that they should handle a promise. (They either need to `await` the result, call `.then

[2017-05-01 00:24] tsheaff commented on #3730
I agree that this could potentially lead to errors, but getting started using --fix for my codebase, which for historical reasons has highly inconsistent use of camelCase and snake_case, would be a huge time saver, even if it broke some other rules (eg no-redeclare as mentioned), would definitely save us a lot of time and manual and even-more-error-prone work.

Is there some compromise here, to au

[2017-05-01 00:28] not-an-aardvark commented on #3730
This was discussed in https://github.com/eslint/eslint/issues/7873, but the team didn't end up coming to a consensus on whether unsafe autofixes should be allowed.

[2017-05-01 01:47] tsheaff commented on #3730
Thanks for this context @not-an-aardvark .  I'll add my thoughts to #7873

[2017-05-01 01:54] tsheaff commented on #7873
I see that this was closed last month.  For what it's worth, I'm a big proponent of the Interactive prompts proposal.

In my case, our large codebase has highly inconsistent usage of camelCase and snake_case, and even though a `--fix` option for `camelcase` has some subtle edge-cases that may cause bugs, the vast majority of these would actually be much *safer* to do with an automatic tool.

@nzak

[2017-05-01 13:38] robertrossmann commented on #7985
I would really love to get this accepted and perhaps even open up a PR - could someone accept this proposal? Thanks!

_cc @platinumazure_

[2017-05-01 13:48] platinumazure commented on #7985
@robertrossman Thanks for following up! We need the rest of the team to take a look. Unfortunately it looks like this just completely slipped through the cracks, and for that I apologize.

This enhancement seems reasonable to me (helps that it proposes an option rather than change in default behavior), so I'll champion this.

@eslint/eslint-team Could we give this a review? Just need three :+1:s o

[2017-05-01 21:19] wesleytodd commented on #8461
I am not familiar enough with the codebase to meaningfully contribute to the conversation, but looks good to me!  Thanks @platinumazure for the quick work on this bug, it was not "so long" at all!

I will close this, but feel free to re-open it if you all need it for tracking purposes.  Thanks!

[2017-05-01 21:51] not-an-aardvark commented on #8461
Thanks @wesleytodd. I'll reopen this for tracking purposes just in case the PR ends up getting delayed/blocked for some reason (which I don't think will happen, but it's probably worth keeping the issue open anyway).

[2017-05-01 23:03] brentonhouse commented on #7825
Does this mean that exceptions are being removed from this rule as they don't currently work?

[2017-05-01 23:06] not-an-aardvark commented on #7825
No, exceptions work as documented. This issue proposed enhancing the rule to allow separate exceptions to be configured for line and block comments, but the team never ended up reaching consensus on that enhancement.

[2017-05-01 23:11] brentonhouse commented on #7825
Interesting...

I've tried `"spaced-comment": ["error", "always", { "exceptions": ["TODO"] }]` with `//TODO: this is a test` and it still is flagged as an error.

[2017-05-01 23:14] not-an-aardvark commented on #7825
See https://github.com/eslint/eslint/issues/7825#issuecomment-269748894 -- this seems to be working as intended. (Admittedly, this does seem like strange behavior for the rule -- I'm not sure why it was designed that way.)

[2017-05-01 23:16] brentonhouse commented on #7825
The comment you are pointing to talks about the `"never"` scenario.  I am using the `"always"` scenario.  If it does not work for either `never` or   `always` then I am not sure why it is included in the documentation...

[2017-05-01 23:20] not-an-aardvark commented on #7825
Oops, you're right. It seems like the "exceptions" array is accepting a list of strings to exactly match the comment, not regex patterns. So you could put this in your config to prevent that comment from being reported:

[code]

But that seems like a very non-useful option if it requires you to know exactly what your comments will say when configuring the rule.

[2017-05-01 23:45] wincent commented on #7806
Another use case: we do this kind of thing in tests [like this one](https://github.com/graphql/graphql-js/blob/163fbb4a8295559d3eedc5257d38cbb5e2ca7f4f/src/utilities/__tests__/assertValidName-test.js#L100):

[code]

For now, just suppressing with `eslint-disable no-console` comment in the test file.

[2017-05-02 00:42] Aladdin-ADD opened #8533 "test failing on windows 10 WSL."
**Tell us about your environment**

* **ESLint Version:**#master
* **Node Version:** v7.8.0
* **npm Version:** 4.5.0
* **os:** windows 10.0.16184 WSL

**`npm run test` output**

+ https://github.com/Aladdin-ADD/eslint/commit/0333d17d87a2d925700801c084a9fa9aa1947160

[2017-05-02 02:11] not-an-aardvark commented on #8531
Thanks for the rule suggestion.

Personally, I'm not sure about this -- I think this seems like this is an opinionated preference and would be a better fit for a plugin. However, let's see what the rest of the team thinks.

I think this rule would also be possible to simulate with a [`no-restricted-syntax`](http://eslint.org/docs/rules/no-restricted-syntax) configuration.

[2017-05-02 04:06] EthanRutherford commented on #6195
Please reconsider.

[2017-05-02 11:19] dtjohnson commented on #8531
The naming convention could also be configurable. The "Async" suffix is just what has been popularized by [.NET](https://msdn.microsoft.com/en-us/library/hh873175.aspx) and [Bluebird's promisifyAll](http://bluebirdjs.com/docs/api/promise.promisifyall.html). The key concept is some naming convention that makes it clear the return is async. This convention would help prevent the very common mistake

[2017-05-02 11:39] edi9999 opened #8535 "Complexity rule prefers and `&&` over or `||`"
* **ESLint Version:** 3.19.0
* **Node Version:** 7.7.3
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?** : babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

All functions check to check5 should have the same complexity

**What

[2017-05-02 13:15] soda0289 commented on #8535
There seems to be hardcoded logic in the rule that well only increase complexity for `||`:
https://github.com/eslint/eslint/blob/master/lib/rules/complexity.js#L138-L140

So it is working as intended.

I think the logic is saying that since an `||` could always be rewritten as a nested if statement it is more complex than and `&&` statement. This is not true in the worse case scenario, where each

[2017-05-02 13:27] villesau commented on #7451
This same is now happening with flow & flows new spread type syntax. Babel transpiles, but eslint fails into same error.

[2017-05-02 14:01] platinumazure commented on #6195
@EthanRutherford We close old issues that appear to be going nowhere to keep our issue backlog clean. That said, you are welcome to create a new issue asking that this be reconsidered.

[2017-05-02 14:09] evilebottnawi commented on #8501
/cc @platinumazure friendly ping

[2017-05-02 14:12] platinumazure commented on #8531
I like @not-an-aardvark's idea of using `no-restricted-syntax` with selectors to achieve this.

Maybe something like:

[code]

(ESQuery has tests which use a `!=` operator and a regex, so hopefully this will work.)

[2017-05-02 14:15] platinumazure commented on #8501
@kaicataldo @not-an-aardvark Is this something you would still be willing to :+1:?

[2017-05-02 15:17] villesau commented on #7451
Now when i parsed an AST using babylon (not the flow parser), GenericTypeAccotation looks like this:
[code]

[2017-05-02 20:29] morficus commented on #7307
Would anyone be interested in re-opening this?
I think what @vitorbal lays out would be great for async and generator functions.

[2017-05-02 20:37] basicdays commented on #7307
I'd be a fan of that. I have `return undefined; //hack valid-jsdoc` in a lot of my async functions just so I can still have jsdoc linting but to suppress this error.

[2017-05-02 22:07] anthonybrown commented on #8226
So the answer is the use `"react/jsx-uses-vars": true` in the .eslintrc.js file?

[2017-05-02 22:08] anthonybrown commented on #8226
This configuration is fine for React.js

[code]

[2017-05-02 22:11] ilyavolodin commented on #8226
No, `react/jsx-uses-vars: ["error"]` should be under `rules` section.

[2017-05-02 22:13] ilyavolodin commented on #8531
I agree with @not-an-aardvark I think this is pretty opinionated rule for the core, and should be part of a plugin (or as @platinumazure showed, should just be part of the configuration). Although I'm biased. I hate prefixes and postfixes for variable/function names.

[2017-05-03 09:30] albert-olive commented on #5498
What about this:

[code]

[2017-05-03 10:13] Epaminaidos opened #8537 "[Feature Request] Rule to show the version"
I am currently struggling with the version of ESLint that is integrated into Visual Studio 2017. It just does not work according to the current specs. What makes troubleshooting worse, is that I do not know, which version has been integrated into VS 2017.
Would it be possible to add a rule that does always fail and returns ESLint's version-number as error-message?
Of course, this rule would be dis

[2017-05-03 12:32] Ohar commented on #3339
Reopen please.
Float koefs fix it ofc.

[2017-05-03 13:51] Epaminaidos commented on #8537
I just found the sources. Probably, other solutions do include the sources as well.

If I'm not mistaken, VS 2017 uses version 2.0.0 (released 2016-02-12)

[2017-05-03 13:51] #8537 closed

[2017-05-03 14:30] soda0289 commented on #8392
@kaicataldo I think it should be possible to implement this. Estraverse allows for visitor keys to be passed in. Do you have time to create a PR? I can give it a shot this week if your busy.

[2017-05-03 14:56] platinumazure commented on #8501
I'll champion this, now this is accepted.

@eslint/eslint-team @evilebottnawi Any thoughts on whether this should be implemented as a new rule or as an extension of `object-curly-newline`?

[2017-05-03 15:00] evilebottnawi commented on #8501
@platinumazure for me in `object-curly-newline` :smile:

[2017-05-03 15:24] eTorAken opened #8538 "Forbid properties assignment when these are not declared in the class constructor"
**Please describe what the rule should do:**
It should forbid to assign properties with a static identifier to `this` if they did not have been assigned in the class constructor.

**What category of rule is this? (place an "X" next to just one item)**
[ ] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[X] Other (please specify:) Performance m

[2017-05-03 15:29] platinumazure commented on #8538
Hi @eTorAken, thanks for the issue.

I can get behind this for both performance reasons (as you have cited) and readability (always good to have one place to look for declarations, where possible). I'll :+1: this, but we'll see what the rest of the team thinks.

If the team decides this should not be a core rule, I would encourage finding or creating a plugin for this rule-- it does seem pretty us

[2017-05-03 15:40] eTorAken commented on #8538
Thanks @platinumazure, I look forward your team's decision.

[2017-05-03 16:05] kaicataldo commented on #8501
From the last issue:

[2017-05-03 16:16] Aladdin-ADD opened #8539 "proposal:add new option to rule `array-callback-return` and `getter-return`"
**What rule do you want to change?**
array-callback-return

**Does this change cause the rule to produce more or fewer warnings?**
fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option:
"allowImplicit": true -- allows implicitly returning undefined with a `return;` statement.

**Please provide some example code that this change will affect:**

[code]

[2017-05-03 16:44] not-an-aardvark commented on #8538
I like this idea, but it's worth noting that it could have false positives:

[code]

[2017-05-03 17:56] ljharb commented on #8539
Yes please - I never write `return undefined;` because `undefined` is not a keyword, and is not a safe token to rely on in non-app code.

I would love this option (and would enable it in the airbnb config).

[2017-05-03 20:54] evilebottnawi commented on #8501
@kaicataldo maybe it be good do in `v4`? Anyway i do PR, rename is not long procedure :smile:

[2017-05-03 23:37] mysticatea commented on #8533
I'm using Windows 10 Pro, but I could not reproduce it.

![image](https://cloud.githubusercontent.com/assets/1937871/25685818/eeeaba44-30a4-11e7-9a0f-24fb7260eeb1.png)

[2017-05-04 00:56] sdeering commented on #1098
+1

[2017-05-04 01:55] ryanhugh opened #8541 "Eslint --fix is breaking code with ".bind(this, variable)"."
**Tell us about your environment**
Windows 10
* **ESLint Version:**  v3.19.0
* **Node Version:** v6.10.2
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

I was converting some ES5 code to ES6 and `eslint --fix` broke some code

[2017-05-04 10:19] bardware commented on #7621
Hi,

in what version will these changes take effect? I pulled `npm install eslint@4.0.0-alpha.1 -g` with the result  being:
[code]
still becomes
[code]

[2017-05-04 11:52] bl4ckdu5t commented on #5498
@albert-olive try
[code]

[2017-05-04 14:07] platinumazure commented on #7621
Hi @bardware, the changes should be in this week's release.

[2017-05-04 14:53] kaicataldo commented on #8501
@evilebottnawi Awesome! Yeah, I don't think renaming should be a blocker. Let's just add it to `object-curly-spacing` now and deal with renaming afterwards.

[2017-05-04 15:10] daronjones commented on #7456
@murbanowicz You didn't supply a path to the command. Try:

`eslint --fix . --ext .js,.vue src`

[2017-05-04 17:04] #8213 closed

[2017-05-04 20:48] weikinhuang opened #8543 "[Feature Request] Allow specifying parser per file extension"
**Tell us about your environment**

* **ESLint Version:** `^3.x.x`
* **Node Version:** *latest*
* **npm Version:** *latest*

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint` & `typescript-eslint`

**Proposal**
It would be beneficial to include the ability for eslint to determine which parser to use based on file extension so that eslint can be run against a multi-languag

[2017-05-04 21:06] platinumazure commented on #8518
@not-an-aardvark Any reason eslint-release has to be released on release day? Wondering if it would be simpler to do eslint-release earlier.

[2017-05-04 21:06] platinumazure commented on #8518
@eslint/eslint-tsc Still need one more volunteer for the release tomorrow! (Thanks ilyavolodin for volunteering already!)

[2017-05-04 21:14] kaicataldo commented on #8543
This does seem useful to me now that we're actively supporting more parsers [TypeScript](https://github.com/eslint/typescript-eslint-parser), [Babel](https://github.com/babel/babel-eslint), and now [Vue](https://github.com/mysticatea/vue-eslint-parser).

One idea: the `parser` option could accept an object that maps the parser to a filetype and its parser options:
[code]

Curious what other team m

[2017-05-04 21:54] platinumazure commented on #8543
@kaicataldo What happens if multiple parsers are listed as supporting the same file type(s)?

[2017-05-04 22:40] kaicataldo commented on #8543
What would be the most expected behavior? Seems to me like it should throw an error.

[2017-05-05 03:19] platinumazure commented on #8543
Right, I was thinking that too but then I wondered about going by
extension... and then I realized maybe this could be covered by glob based
configuration. What do you think of that?

On May 4, 2017 5:40 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2017-05-05 03:19] #8438 closed

[2017-05-05 03:30] not-an-aardvark commented on #8518
I can do this release.

I don't feel strongly about it either way, but it seems like it would be nice to have two people around whenever we do a release to make sure we're ready to handle any unexpected issues that could occur.

[2017-05-05 03:53] trevordmiller opened #8544 "Suggestion to remove "no-console" from "recommended" rules"
_First off, thanks for eslint. It is an amazing tool that helps me catch issues in my code. I use it in every JS project I create. Much ❤️ to the team for all the bugs you've helped me prevent._

I enjoy using the `recommended` rules to help me catch issues, without adding stylistic or opinionated rules. However, I feel `no-console` should be removed from the `recommended` setting because I feel i

[2017-05-05 04:20] Zyst commented on #8544
For me `no-console` is mildly annoying, specially since the context when I'm using default eslint config tends to be when writing random short scripts which use `console.log`.

If I want to have a config specific to console we usually always have one in actual projects, so it's a bit weird to find it there.

That said, it isn't a particularly strong opinion, if it stays I'm not rioting anytime soo

[2017-05-05 04:48] anpriyadar commented on #4344
thanks @gasolin  it worked.

[2017-05-05 04:55] not-an-aardvark commented on #8541
Thanks for reporting, I can reproduce this issue.

[2017-05-05 05:29] juanpaco commented on #8544
I'll offer a contrary opinion.  I like having it in there, because I use `console.log` exclusively for print trace debugging during development, and I don't want those going into source control.  For things I want logged, I use something like morgan, which is easy to turn off for a given context.  When running tests I don't want to see any `console.log` output.  I find it distracting.

It is an ea

[2017-05-05 06:13] milesj opened #8545 "Nested .eslintrc and .eslintignore are being ignored when --config is used"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 7.10.0
* **npm Version:** 4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
Config: https://github.com/milesj/build-tool-config/blob/master/eslint.json5
Deps: https://github.com/milesj/build-tool-config/blob/master/package.json
Script: https:

[2017-05-05 09:00] jahed commented on #8544
The vast majority of direct console logging for me is for debugging which I don't want on commits, everything else goes through a wrapper so it can be tagged and filtered easily. So IMO it's a good default. Having arbritrary logging ends up becoming noise.

[2017-05-05 10:32] anthonybrown commented on #8226
I don't want the error for React
[code]

[2017-05-05 11:16] anthonybrown commented on #8226
so it seems that using the `extends: ['plugin:react/recommended']`
the `unused-vars` error goes away.

[2017-05-05 11:17] vitorbal commented on #1098
The team has limited resources right now, and most of the members are focused on other priorities, like the v4 release and the re-write of the indent rule.
Unless someone from the community is willing to get the ball rolling on this with a proposal for a solution proposal, I'm not sure I see this moving forward for the near-future.

[2017-05-05 11:21] vitorbal commented on #7307
@morficus @basicdays thanks for the interest, guys. Would either of you be interested in working on a PR for this if it gets accepted? If so, I can try to muster some support for this change.

[2017-05-05 14:51] basicdays commented on #7307
I'd certainly be interested. Will need to budget time to get into it. Hopefully by end of month if nobody beats me to it.

[2017-05-05 14:51] soda0289 opened #8546 "Indent should ignore indentation of variable assigment in multiline variable declaration"
**Tell us about your environment**
* **ESLint Version:**
master
* **Node Version:**
6.10
* **npm Version:**
3.10

**What parser (default, Babel-ESLint, etc.) are you using?**
typescript
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Invalid
[code]

**What did you expect to happen?**

I expected this to be a valid ind

[2017-05-05 15:49] kaicataldo commented on #7307
Feel free to be open a new issue so that we can re-evaluate. Old, closed issues get lost in the backlog and don't get much visibility.

[2017-05-05 16:40] not-an-aardvark commented on #8546
This seems like a bug to me, I suppose. The rule ignores the indentation of the equals signs in assignments, so it makes sense to be consistent with variable declarations.

[2017-05-05 16:47] soda0289 commented on #8546
I will work on a fix.
This is the last issue I have with the new rule. Everything else works much better than the old indent rule!

[2017-05-05 18:06] not-an-aardvark commented on #8545
Is the title of this issue supposed to say `.eslintrc` rather than `.babelrc`?

[2017-05-05 18:35] milesj commented on #8545
@not-an-aardvark Oops, nice catch. Thanks!

[2017-05-05 19:23] kaicataldo commented on #8392
@soda0289 Feel free! Been pretty busy and would love to see this implemented :D

[2017-05-05 19:26] kaicataldo commented on #8543
@platinumazure To be honest, I don't quite know what means! Mind sharing some examples?

[2017-05-05 19:30] platinumazure commented on #8543
@kaicataldo Sorry, see #3611. Basically #3611 feels like a generalization of my file-extension-based proposal.

[2017-05-05 20:15] #8455 closed

[2017-05-05 20:20] ilyavolodin commented on #8545
This is working as expected. Basically `--config` is an option that forces us to ignore any local config files, and instead use whatever was provided on CLI. We wouldn't be able to change that behavior, since it's been around for a long time, and people might rely on it.
Btw, .eslintignore files don't cascade. We will only pickup .eslintignore file from the "root" of the project, and will not try

[2017-05-05 20:27] platinumazure commented on #8545
@ilyavolodin `--config` does not prevent reading of local config files (you might be thinking of `--no-eslintrc`). Instead the config properties of the file specified by `--config` override anything specified in local config files. (Example [test case](https://github.com/eslint/eslint/blob/master/tests/lib/config.js#L591).)

@milesj If your `--config` file contains specific values for basically ev

[2017-05-05 20:28] cmoesel opened #8547 "ESLint plugin issue when using yarn (but works w/ NPM)"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.6.0
* **npm Version:** 3.10.3
* **yarn Version:** 0.23.4

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

The `package.json` has these modules (which support eslint) in `devDependencies`:
[code]

My `.eslintrc`:

[code]

**What did you do? Please in

[2017-05-05 20:31] #8461 closed

[2017-05-05 20:40] pornel commented on #2112
If anyone with Sublime Linter is seeing this error:

It's caused by configuration of Sublime Linter: files with `.jsx` file extension are handled by jsxhint, rather than eslint. This can be fixed in user config of sublime linter by changing `syntax_map` to map `jsx` to `javascript` (and restart the editor).

[2017-05-05 20:43] platinumazure commented on #8387
I'll champion, and now we can accept this. Thanks for your patience @Aladdin-ADD!

[2017-05-05 21:20] not-an-aardvark commented on #8518
ESLint 4.0.0-alpha.2 has been released, concluding this release process.

[2017-05-05 21:20] #8518 closed

[2017-05-05 21:41] cletusw commented on #2715
I tried the plugin approach but wasn't satisfied with the fact that other devs had to `npm install` to get updates to rules that were already up-to-date in their local repo, so I've created a plugin to workaround this issue: https://github.com/cletusw/eslint-plugin-local-rules

It's hardcoded to look for a file called `eslint-local-rules.js` at the root of your project because I couldn't figure ou

[2017-05-05 22:43] scottyschup opened #8548 "Fix for `"arrow-body-style": [1, "as-needed"]` causes other linter violations"
### Environment
* **ESLint Version:** 3.19.0
* **Node Version:** 6.5.0
* **Atom Version:** 1.16.0
* **steelbrain/linter Plugin Version:** 2.1.4
* **AtomLinter/linter-eslint Plugin Version:** 8.1.7

### Configuration
[code]
### Problem
I have the "Fix errors on save" option turned on in Atom which applies ESLint fix upon saving.

Given:
[code]
Converting the above code into a single-line expression

[2017-05-05 22:47] milesj commented on #8545
@ilyavolodin Good to know, i'll move those files.

@platinumazure Does `extends` accept a file path? Or does it require aliases to like an NPM package?

[2017-05-05 22:49] #8545 closed

[2017-05-05 23:35] ethanresnick opened #8549 "no-undef: option to not error on guarded usages"
Hi, I want to propose a new feature for the `no-undef` rule.

Some background on the problem: I'm writing code intended to run on both the browser and the server, so I've set up Eslint to warn me if I use a global that isn't defined in both environments, using the `no-undef` rule. This is lovely. Often, though, I find myself having to suppress errors from this rule that I know are non-problematic,

[2017-05-06 01:27] BridgeAR opened #8550 "Cannot read property 'range' of null"
**Tell us about your environment**

* **ESLint Version: 4.0.0-alpha.2**
* **Node Version: 7.10.0**
* **npm Version: 4.2.0**

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No error

**What actually happene

[2017-05-06 01:32] not-an-aardvark commented on #8550
Thanks for reporting, I can reproduce this issue.

[2017-05-06 05:34] Trott opened #8552 ""Expected indentation of NaN spaces""
**Tell us about your environment**

* **ESLint Version:** v4.0.0-alpha.2
* **Node Version:** 7.10.0
* **npm Version:** 4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

No configuration file used. `--no-eslintrc` flag passed on CLI.

[code]

**What did you do? Please include the actual source code causing the issue.**

Command ru

[2017-05-06 05:38] not-an-aardvark commented on #8552
~~Personally, I indent all my code with NaN spaces.~~

Oops, this is definitely a bug. Thanks for reporting.

[2017-05-06 10:14] Badbreaddead commented on #5498
What should I do with this piece of code inside jsx?
{profile.user_metadata.backendUrlVariants ?
  profile.user_metadata.backendUrlVariants.map((url, i) => {
    return <MenuItem key={i} value={url} primaryText={url}/>;
  }) : null}

[2017-05-06 11:15] bl4ckdu5t commented on #5498
@Badbreaddead this should work:
[code]

[2017-05-06 11:41] Badbreaddead commented on #5498
@bl4ckdu5t Sorry, didn't quite catch what you meant by ()...

[2017-05-06 11:49] bl4ckdu5t commented on #5498
I see you edited your question @Badbreaddead so I've edited my answer to reflect how you'd write that to prevent being stopped by the rule

[2017-05-06 11:56] silverwind opened #8553 "no-useless-escape and curly braces"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 7.10.0
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

`no-useless-escape` should find and war

[2017-05-06 14:12] ilyavolodin commented on #8548
This is expected behavior. `as-needed` option means that arrow functions should use short syntax when possible. It has nothing to do with other rules (in general, all of ESLint rules don't know about each other). `max-len` rule itself is not fixable (as in, auto-fix functionality doesn't support it), so it would not break up long lines automatically.

[2017-05-06 14:54] ilyavolodin commented on #8549
Duplicate of https://github.com/eslint/eslint/issues/7636, https://github.com/eslint/eslint/issues/6209 and https://github.com/eslint/eslint/issues/3684

[2017-05-06 14:58] ilyavolodin commented on #8553
Sounds like a bug to me. We had to relax this rule a few times, since it was reporting false positives, but since this is defined in the spec, feels like we should support it. @not-an-aardvark thoughts?

[2017-05-06 17:20] not-an-aardvark commented on #8553
This is working as intended and a duplicate of https://github.com/eslint/eslint/issues/7772.

[2017-05-06 17:42] silverwind commented on #8553
Thanks for the link, https://github.com/eslint/eslint/issues/7656#issuecomment-267878150 covers this case.

I wonder if it might be wise to allow the user to specify target engines in the configuration, say for example [`v8`, `spidermonkey`, `chakra`], which would then cause the Annex B rules to be applied on `no-useless-escape` and possibly other rules, if all engines support it.

[2017-05-07 09:17] ethanresnick commented on #8549
@ilyavolodin Thanks for pointing out those prior issues. I missed them somehow. It looks like they were closed because what they proposed would've been too hard to implement. However, my proposed solution here is simpler, if admittedly more limited. Rather than doing a full code-path analysis, I'm proposing just checking the surrounding expression. Doing that won't eliminate all of the rules false

[2017-05-07 14:01] Aladdin-ADD opened #8559 "data option not work in tests/lib/rules"
**Tell us about your environment**

* **ESLint Version:** master

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
the message should be equal to "Expected '===' and instead saw '=='."

**What actually happened? Please include the actual, raw output from ESLint.**
"Expected '{{operator}}' and instead saw '=='."

[2017-05-07 14:29] vsemozhetbyt opened #8560 "max-len: ignore* rules are too aggressive"
* **ESLint Version:** 3.19.0
* **Node Version:** 8.0.0 nightly
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
Error message.

**What actually happened? Please include the actual, raw

[2017-05-07 16:10] not-an-aardvark commented on #8559
This is working as intended -- the `data` for a message is currently part of a rule's internal API, so the only message the `RuleTester` sees is the string containing the interpolated data.

[2017-05-07 16:18] #8559 closed

[2017-05-07 18:26] not-an-aardvark opened #8561 "ESLint searches for config files in parent directories even when `root: true` is specified in a child config"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.10.0
* **npm Version:** 4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

**What did you do? Please include the actual source code causing the issue.**

1. Clone the eslint repo
1. Insert `console.log(directory)` before [this line](https://github.com/eslint/eslint/blob/c70b0eda8794e552bcbfccbc

[2017-05-08 00:13] borela opened #8562 "Array/object comma near braces/brackets/parenthesis"
I looked in the manual and even in the issues but I wasn't able to find the answer.
My current configuration [requires a space after commas](http://eslint.org/docs/rules/comma-spacing#rule-details) but I would like to add an exception and remove the space when the comma is followed by a `{`, `[` or `(`, so that this code:

[code]

Becomes this:

[code]
Is there any setting/plugin that would allow

[2017-05-08 03:25] kaicataldo commented on #8561
Added a "help wanted" label in case someone from the community wants to get to this before us :)

[2017-05-08 03:28] kaicataldo commented on #8547
Not sure what's going on here, but for what it's worth, I've seen Yarn do some crazy thing while trying to resolve and dedupe a dependency tree 😬

[2017-05-08 09:29] bardware commented on #7621
Seen it working in Alpha.2. Very nice, thanks alot!

[2017-05-08 09:43] Mardak opened #8564 "lines-around-comment ES2015 classes in new allowClassStart option"
**Tell us about your environment**

* **ESLint Version:** v4.0.0-alpha.2
* **Node Version:** v7.10.0
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
`--env es6 --rule lines-around-comment:["error",{allowObjectStart:true}]`

**What did you do? Please include the actual source code causing the issue.**

[code]

[2017-05-08 13:02] brenwell commented on #8493
Hello again, I was just playing around with Alpha 2, with the same code snippet, the fat arrow indentation appears fixed but the class indentation seems to remain indented 1 level too deep.

**Before**

[code]

**After**

[code]

Perhaps I really am doing something wrong

[2017-05-08 14:26] Turbo87 commented on #2375
@platinumazure has there been some progress on this? the proposal seems reasonable.

[2017-05-08 14:30] platinumazure commented on #2375
@Turbo87 Seems we've lost track of this since the issue is closed. Would you mind opening a new issue using that proposal, and ping me so I can :+1: it? (I'd suggest also adding some notes about generators and async being more mainstream, and do we want to augment the proposal to include async functions?)

[2017-05-08 14:34] Andarist commented on #2375
hm, yeah - `async` should be included too, its easy to imagine a polling task

[2017-05-08 14:42] Turbo87 opened #8566 "Improve "no-constant-condition" rule for generators"
This topic has been discussed already in https://github.com/eslint/eslint/issues/1299 and https://github.com/eslint/eslint/issues/2375 but per https://github.com/eslint/eslint/issues/2375#issuecomment-299883115 I'm opening a new issue for this.

https://github.com/eslint/eslint/issues/2375#issuecomment-255137510 has introduced a proposal for handling this which seems pretty reasonable:

Bad:

[cod

[2017-05-08 14:43] Turbo87 commented on #2375
@platinumazure done (https://github.com/eslint/eslint/issues/8566)

[2017-05-08 14:47] platinumazure commented on #8566
So basically, my take on it is this:

* The purpose of no-constant-condition is to avoid useless conditionals and infinite loops.
* However, `while(true)` in a generator, as long as at least one code path (or all code paths? not sure) has a `yield` statement in it, is not actually an infinite loop and serves a different purpose, basically implementing an infinite generator or coroutine that does n

[2017-05-08 14:59] medikoo opened #8567 "Make no-case-declarations rule fixable"
When error is spotted, fix will be about wrapping `case` clauses with blocks. It'll be great to have it.

---

__What rule do you want to change?__

`no-case-declarations`

__Does this change cause the rule to produce more or fewer warnings?__

No

__How will the change be implemented? (New option, new default behavior, etc.)?__

_Fix_ functionality will be configured

__Please provide some exampl

[2017-05-08 15:08] Aladdin-ADD commented on #8533
actually I'm using Windows 10 WSL -- Windows Subsystem for Linux. sorry for a little misleading of the title.

I'm not sure it is a compatibility or just my computer's config problem. if need some more info, please let me know.

[2017-05-08 15:14] dmitry-semenov opened #8568 "ESLint --fix steals words"
**Tell us about your environment**

* **ESLint Version:** yarn eslint v0.23.4
* **Node Version:** v7.4.0
* **npm Version:** 4.0.5
**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint (I guess.. I'm using create-react-app)

**Please show your full configuration:**

<details>

[code]

</details>

**What did you do? Please include the actual source code causing the issue.**

[cod

[2017-05-08 15:35] pcellis commented on #3339
+1 reopen and for the decimal value fix in the schema. It's incredibly annoying to have to start each `const` variable declaration with the `const` keyword in order to get eslint to shut up about the indent issue.

[2017-05-08 15:35] platinumazure commented on #8568
Hi @dmitry-semenov, thanks for the issue.

Our `max-len` rule doesn't have an autofix, so it can't be the one that is causing words to disappear.

I observe that the first word in the removed text is `type`. Perhaps that word is being misinterpreted as a token by some other rule or by babel-eslint?

My suggestion would be to try disabling the rules listed in the error report one by one and running

[2017-05-08 15:41] platinumazure commented on #3339
@pcellis Please open a new issue, thanks!

[2017-05-08 15:55] soda0289 commented on #8533
@Aladdin-ADD I got two errors when running the tests on Bash for Windows 10.

[code]

The error message `Implement me. Unknown stdin file type!` I have seen before.
https://github.com/Microsoft/BashOnWindows/issues/1774

The problem was that STDIN was being closed before a child process could write to it. I only have Windows 10 at work but I will try and find some time to dig into this problem mor

[2017-05-08 15:56] cmoesel commented on #8547
Thanks, @kaicataldo -- and I agree, yarn can do some crazy things, but I do really like it -- and it would be a shame to have to abandon it on my project just because I get weird behavior on linting (the actual project code works great with yarn!).

I'm not familiar enough with eslint to know how to even begin debugging this.  Do you have any suggestions regarding how I might debug this in order t

[2017-05-08 16:06] not-an-aardvark commented on #8566
This is incorrect -- when generator functions use `yield`, control flow returns to the code that invoked the generator. However, when an async function uses `await` in an infinite loop, the returned Promise never fulfills.

[2017-05-08 16:07] not-an-aardvark commented on #8568
It looks like some of the errors are reported by [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react), and I know that plugin has some autofixable rules, so it might be a bug in that plugin.

[2017-05-08 16:16] not-an-aardvark commented on #8493
Oops, good catch. I'll reopen this.

[2017-05-08 16:20] Aladdin-ADD commented on #8533
oh.that's it. thanks for the link.

any suggestion? it blocked me a few days... 😿

[2017-05-08 16:32] soda0289 commented on #8533
If you take a look at the test cases here:
https://github.com/eslint/eslint/blob/master/tests/bin/eslint.js#L63-L99

All the tests write to stdin then close the it. A hacky way to solve this would be to add a timeout around ` child.stdin.end();`. But to fix this properly we must wait for the child process to start up and then write to stdin and close it. Not sure how we can do this since there are

[2017-05-08 16:35] not-an-aardvark commented on #8533
Does this depend on the event loop? If so, replacing the calls with `process.nextTick(() => child.stdin.end())` might work.

[2017-05-08 16:44] Turbo87 commented on #8566
@not-an-aardvark that is a good point. I guess we should limit this to just generator for now then and discuss async functions at a later point.

[2017-05-08 17:08] Andarist commented on #8566
@not-an-aardvark
how so? could u post a simple snippet with the explanation? I think thats not true and ive just tested it in chrome

[code]

[2017-05-08 17:15] soda0289 commented on #8533
@not-an-aardvark I do not know enough about node internals to say if that will work but it is better than a random timeout.

@Aladdin-ADD give the `nextTick()` callback a shot and see if it fixes the problem

[2017-05-08 17:20] nunofgs commented on #7886
@not-an-aardvark any news on this? 😇

[2017-05-08 17:21] Turbo87 commented on #8566
@Andarist the promise returned from backoff() will never resolve which  doesn't seem like good API design 🤔

[2017-05-08 17:24] not-an-aardvark commented on #7886
I haven't started this yet. I'm planning to work on this eventually when I have time, but if someone else wants to work on implementing it before then, feel free.

[2017-05-08 17:53] Aladdin-ADD commented on #8533
it works, but output other errors as before.

I will try to build the latest nodejs to see if it fixed.

@soda0289 ,looking forward to your better way.

[2017-05-08 18:19] Andarist commented on #8566
Hm. I guess... although i dont see this as such bad design if somebody really needs an infinite task

[2017-05-08 18:31] soda0289 commented on #8533
I was not able to reproduce those errors but I only tested it on node v6.10.2 and windows 10 build 15063. Will test out node v7.10.

[2017-05-08 19:07] platinumazure commented on #8566
@Andarist My take on that is, just like for infinite loops, `no-constant-condition` can't know when you mean to have an infinite task or not so your best bet is to use `// eslint-disable-line` comments on those cases.

Infinite generators, on the other hand, are a completely different animal altogether and I think we should consider enhancing `no-constant-condition` to allow an option to exclude i

[2017-05-08 19:30] reviewher opened #8570 "no-fallthrough inconsistent comment behavior"
**Tell us about your environment**

* **ESLint Version:** v3.19.0
* **Node Version:** v7.9.0
* **npm Version:** 4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?** the behavior is not defined in http://e

[2017-05-08 19:34] benjamingr commented on #8566
`while` loops in `async` functions can serve a purpose:

[code]

That is, global "background work". That said, the above code can be rewritten as:

[code]

On the other hand - async generators should definitely be supported (functions that are both async and generators).

[2017-05-08 19:49] Aladdin-ADD commented on #8522
seems Tackling in #8561

[2017-05-08 22:30] #8550 closed

[2017-05-09 02:12] #8552 closed

[2017-05-09 02:17] ilyavolodin commented on #8547
I would suggest manually checking which version of `eslint-plugin-import` got installed with yarn. It looks like yarn installed older version then was needed. But in general, this looks like a problem with yarn itself (since NPM works fine), so I'm not sure we can help much with that.

[2017-05-09 06:54] ljharb commented on #8567
What about the more common indentation of:
[code]
(either the `case` line, or the let + `}` lines, were mis-indented in your fixed example, so i'm not sure what you were going for)

I would expect, ideally, the original indentation of the `case` to be maintained - such that:
[code]
would become:

[code]

[2017-05-09 06:59] medikoo commented on #8567
@ljharb Sure indentation should be maintained, this fix should be purely about adding block wrap nothing more (I've updated example)

[2017-05-09 07:07] not-an-aardvark commented on #8567
Thanks for the proposal.

I don't think this should be fixable because the autofixer would end up changing the behavior of the code, which is generally something we try to avoid. For example, the following code would start throwing an error if a block was added:

[code]

[2017-05-09 07:55] medikoo commented on #8567
@not-an-aardvark indeed we can't be sure whether that's intentional or not, therefore applying a fix may break working code. I didn't envision that when submitting this issue. I'm closing it then

[2017-05-09 09:14] medikoo commented on #7549
@mvolkmann why exactly this was closed? I have other case where I'd like to turn off fixing for some specific rule.
Specifically `capitalized-comments`, as with fix on save in editor it does undesired changes when I want to temporarily comment the code.

Maybe it'll be good to keep that request open?

[2017-05-09 09:27] clairebw commented on #3611
Hi there, any idea if the feature is still being worked on and if there is a rough estimate about the timeframe?

[2017-05-09 10:04] karolis-inntec commented on #8547
I feel that https://github.com/eslint/eslint/issues/7338 might be connected.

[2017-05-09 12:45] mvolkmann commented on #7549
I don't recall closing it. Maybe I did that accidentally. I reopened it.

[2017-05-09 13:06] cmoesel commented on #8547
@ilyavolodin: That was actually the first thing I checked.  `node_modules/eslint-plugin-import` is at version `2.2.0` (the latest version).  So yarn did the right thing there.  `node_modules/react-scripts/node_modules/eslint-plugin-import` is at version `2.0.1` -- which is also right, since `react-scripts` asks for that version exactly.  What I'm trying to figure out is why the 2.0.1 version is ge

[2017-05-09 14:55] smably commented on #3611
Can't speak to timeframe, but work is progressing in #8081.

[2017-05-10 02:01] Dorian opened #8572 "Using name (from window.name) should be an offense"
[code]

`name` comes from `window.name`, so it should be referenced as `window.name`.

[x] Enforces code style
[x] Warns about a potential error
[x] Suggests an alternate way of doing something

It's too easy to assume `name` is not defined but it is on window (e.g. https://developer.mozilla.org/en-US/docs/Web/API/Window/name)

Either using `window.name`, `global.name`, etc. would be fine.

I thin

[2017-05-10 02:04] not-an-aardvark commented on #8572
Does [no-restricted-globals](http://eslint.org/docs/rules/no-restricted-globals) handle this use case?

[2017-05-10 02:07] Dorian commented on #8572
@not-an-aardvark Why not make it a default?

[2017-05-10 02:10] not-an-aardvark commented on #8572
Do you mean a default for the `no-restricted-globals` rule, or a default for ESLint in general? By design, no ESLint rules are on by default.

[2017-05-10 04:55] #8541 closed

[2017-05-10 04:59] #8546 closed

[2017-05-10 09:50] dmitry-semenov commented on #8568
Using just this as `.eslintrc.json` still has an issue so the reason seems to be in the `airbnb` config.

[code]

[2017-05-10 09:51] medikoo commented on #8567
@not-an-aardvark giving this a second thought. Can you find a valid use case for writing code like in your example?
This code is not valid on it's own, as passing anything but `1` crashes the code, and writing `switch` purely for one possible case also doesn't make sense.

I take fixing with block wrap, won't be harmful for such cases, as they anyway could be only not intended.

[2017-05-10 12:31] mbifulco commented on #8547
I'm experiencing nearly this same issue in my environment - eslint spits out
`Definition for rule 'import/no-named-default' was not found  import/no-named-default`
on (maybe every) js file in my project when I install dependencies with yarn, but works fine if I `rm -rf node_modules` and run `npm install` before linting.

[2017-05-10 14:54] CSchulz opened #8575 "Indent level for fat arrow functions"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 6.9.5
* **npm Version:** 3.10.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The `successCheck` should be correctly in

[2017-05-10 15:50] artforlife commented on #2102
I am having a similar issue in the form of getting the following error:

It comes from the following line:

`var should = chai.should()`

I have tried `dirty-chai` to no avail. How could I deal with this error?

[2017-05-10 15:51] kaicataldo commented on #8547
Sounds like a mismatch between how npm and Yarn resolve the dependency tree, though @cmoesel  I agree it sounds like it's doing the right thing in your case. I'll try to look into this soon and see if I can figure out what's going on!

[2017-05-10 16:09] cmoesel commented on #8547
Thanks, @kaicataldo.  I'll see if I can whip up a simple project to reproduce the issue.  Stand by.

[2017-05-10 17:27] natecavanaugh opened #8576 "Object-shorthand breaks when a dynamic key has a dot"
FYI, this is a dupe of #8351, but just including more information:

**Tell us about your environment**
* **ESLint Version:**
3.19.0
* **Node Version:**
7.9.0
* **npm Version:**
4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

~~const keys

[2017-05-10 17:41] not-an-aardvark commented on #8576
Thanks for the report. However, I can't seem to reproduce this issue -- ESLint is running successfully on that code without an error.

What version of `babel-eslint` are you using? Does the error also occur if you remove `babel-eslint`?

[2017-05-10 17:51] cmoesel commented on #8547
@kaicataldo (and anyone else who wants to give it a try):  Here's a link to a simple project that reproduces the problem:

https://github.com/cmoesel/eslint-8547

In fact, it's even worse than my real project since there are also some react rules that can't be found (but again, it all works fine if you install with npm instead of yarn).

[2017-05-10 18:09] natecavanaugh commented on #8576
@not-an-aardvark Thanks for the response.
I'm using babel-eslint v6.1.2, but I also just realized, I never tested the above code directly, so but it's happening without babel-eslint, but only with arrow functions as the property value.

Ala:

[code]

Let me know if there's any other info you need.

Thanks @not-an-aardvark

[2017-05-10 18:19] ljharb commented on #8547
In general, "works with npm but not yarn" is a yarn bug, full stop.

[2017-05-10 19:00] cmoesel commented on #8547
@ljharb: I don't have a strong understanding of how eslint loads plugins and extended packages -- but it _seems_ like an incompatibility between how eslint loads these libraries and how yarn stores them.  The node_modules that yarn creates actually _looks_ ok -- the eslint-config-import v2.2.0 package (that contains the "missing" rule) is at the root of node_modules.  I'm not saying that it's _not

[2017-05-11 03:16] not-an-aardvark commented on #8576
Thanks, I can reproduce the issue.

[2017-05-11 06:30] not-an-aardvark commented on #8567
In general we try to avoid breaking working code even when the original code is poorly written. Also see: https://github.com/eslint/eslint/issues/7593

Another reason I'm concerned about autofixing this is that the `no-case-declarations` rule is highlighting a potential programmer error -- as you said, it's unlikely that the programmer intended trigger errors from this rule. However, I don't think

[2017-05-11 06:31] #8493 closed

[2017-05-11 07:24] medikoo commented on #8567
@not-an-aardvark ok, I see, if the rule is simply "do not change the code behavior by any means" (which btw sounds very sane) then definitely fix should not be applied here (unconditionally).

Still, in this case we can detect whether variables are used outside the `case` clause and apply patch only if they doesn't? Would that be acceptable solution?

[2017-05-11 08:14] dtinth commented on #2715
We at @taskworld also need to use project-specific rules.

Putting it as ESLint plugin requires reinstalling each time we update the rules, we prefer to have it it the codebase, so that these linting rules can be updated in lock-step.

We ended up monkey-patching Node.js’s module resolution system to rewrite `require('eslint-plugin-proprietary')` into `require('./lib/eslint/plugin')`, so that we c

[2017-05-11 12:10] YounGoat opened #8578 "`context.getTokenBefore()` does not work in `ruleTester.run()`"
**Tell us about your environment**

* **ESLint Version: 3.19.0**
* **Node Version: 4.4.2**
* **npm Version: 3.10.5**

I have tried other node/npm versions, so I think it has nothing to do with node/npm.

**What parser (default, Babel-ESLint, etc.) are you using?**
Espree

I was writing a unit test complying with [Rule Unit Tests](http://eslint.org/docs/developer-guide/working-with-rules#rule-unit-

[2017-05-11 13:58] platinumazure commented on #8567
I'm neutral to allowing autofix only if a variable is used inside the `case` where it is declared. I don't think there would necessarily be a problem, but I also don't really see this as super valuable and worth the maintenance cost or risk. (Just my personal opinion.)

[2017-05-11 13:59] platinumazure commented on #8578
Hi @YounGoat, thanks for the issue.

Please include some example test cases and the relevant rule logic so we can try to reproduce this. Thanks!

[2017-05-11 14:54] danny-andrews commented on #8189
I second this. The current behavior is very confusing:
[code]

[2017-05-11 14:55] danny-andrews commented on #8560
Dupe of #8560?

[2017-05-11 15:21] danny-andrews commented on #8189
@vitorbal Your solution might work well, taking semicolons and comments into consideration, of course.

[2017-05-11 15:27] vsemozhetbyt commented on #8560
@danny-andrews Do you mean https://github.com/eslint/eslint/issues/8189? Yes. maybe. But this one is a bit wider.

Dear collaborators, feel free to close if a dupe.

[2017-05-11 15:27] danny-andrews commented on #8560
Pshh, yeah, lol.

[2017-05-11 16:00] ljharb commented on #8189
The intent is to not allow string length to contribute to line length limits.

However, like the other preexisting ignore settings, it was instead made to ignore the entire line when a string appears on it.

I think an ideal (breaking) change would be to change all of the ignore settings to subtract "ignored item length" (string, URL, comment, etc) from the total line length, and *then* apply the

[2017-05-11 16:44] terencechow opened #8579 "no-unexpected-multiline"
**Tell us about your environment**

* **ESLint Version: 3.16.1**
* **Node Version: 7.5**
* **npm Version: 4.1.2**

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Wrote normal valid es6 code and got an Eslint error. See last question where i inc

[2017-05-11 16:45] not-an-aardvark commented on #8575
Thanks for the report. However, this is working as intended -- it's much more common to offset the body of the arrow function from the arrow and the function's parameters, rather than picking an indentation based on something outside of the arrow function (e.g. whether it's a parameter in an `inject` function call).

[2017-05-11 16:48] CSchulz commented on #8575
Okay. Would it be possible to add a flag for something like that?

If possible, I would also help with implementing it.

[2017-05-11 16:54] not-an-aardvark commented on #8579
Thanks for the report. However, this is working as designed -- your code isn't doing what you think it's doing, so ESLint is trying to warn you about that.

`[ varOne, varTwo ]` is parsed as a computed property access on the string `'abc'`, not a separate statement. If you run the code, you'll find that the variable `a` is assigned to an array with two elements, and `varOne` and `varTwo` are still

[2017-05-11 17:14] platinumazure commented on #8575
@CSchulz Does this generalize to a slightly different concept: "If I indent a line 2 indent levels instead of 1 from the previous line, I expect that line to be regarded as a 'continuation' and the next line should only be indented 1 level unless other intervening tokens demand a different indentation level"?

[2017-05-11 17:16] Dorian commented on #8572
@not-an-aardvark Why is that? Why not have a default configuration? (Sorry, I'm biased because I use rubocop a lot)

Then I could just `npm install -g eslint` and `eslint index.js`

<img width="300" alt="screen shot 2017-05-11 at 10 15 17" src="https://cloud.githubusercontent.com/assets/129149/25962461/c52a81e2-3632-11e7-9fb4-6aa8209f8952.png">

<img width="300" alt="screen shot 2017-05-11 at 10 1

[2017-05-11 17:16] not-an-aardvark commented on #8575
@CSchulz In theory, yes. However, we generally only add options to rules if they meet a set of [guidelines](http://eslint.org/docs/developer-guide/contributing/new-rules#core-rule-guidelines), such as being generally applicable to many developers. (We can't add options for every possible preference, because maintaining all the options would impose a large maintenance burden .) It's possible that t

[2017-05-11 17:17] terencechow commented on #8579
Very interesting! Thank you for your response. I used const whenever I got
that error but glad to understand the difference. Ty

On 11 May 2017 5:54 pm, "Teddy Katz" <notifications@github.com> wrote:

[2017-05-11 17:21] platinumazure commented on #8572
@Dorian The simple answer is that your idea of a sensible set of default restricted globals will not be the same as others', and so ESLint tries to be unopinionated by not imposing a set of defaults that some people will disagree with. Instead, `no-restricted-globals` is designed to be flexible and to work on a case-by-case basis, so if you want to forbid certain globals, you just throw them into

[2017-05-11 17:31] Dorian commented on #8572
@platinumazure Ok, I didn't know that was a strong opinion of this project. I believe more in ["convention over configuration"](http://rubyonrails.org/doctrine/#convention-over-configuration)

[2017-05-11 17:31] not-an-aardvark commented on #8572
@Dorian At one point, ESLint had a set of rules that was on by default. However, this was changed later on -- see https://github.com/eslint/eslint/issues/2100 for the discussion and reasoning that led to that decision.

Among other things, one disadvantage of having rules on by default is that ESLint would have to make a lot of code style decisions for the user. There are a huge number of common c

[2017-05-11 17:32] Dorian commented on #8572
@not-an-aardvark Sure, the thing is `npm install -g eslint` and `eslint index.js` literally doesn't work, is it cool if I fix this specific use-case?

[2017-05-11 17:35] not-an-aardvark commented on #8572
That is working as designed, so I don't understand what fix you're proposing.

If you want to enforce a common styleguide without manually configuring a bunch of rules yourself, you can use a [sharable config](http://eslint.org/docs/user-guide/configuring#using-a-shareable-configuration-package) such as [eslint-config-airbnb](https://github.com/airbnb/javascript).

[2017-05-11 17:36] platinumazure commented on #8572
@Dorian You can ensure `name` is flagged by setting configuration:

[code]

We don't guarantee that `npm install -g` will automatically configure everything exactly as users want it-- if we could, then we could have default rule settings, but as noted above, that is impossible. As @not-an-aardvark notes above, you can also use a shareable config if you are okay with following that config's style g

[2017-05-11 20:44] ilyavolodin opened #8580 "Scheduled release for May 19, 2017"
The scheduled release on Friday, May 19, 2017 is assigned to:

* @not-an-aardvark
* @gyandeeps

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2017-05-11 21:21] kaicataldo commented on #8458
As discussed in today's TSC meeting, this issue is now accepted.

[2017-05-11 21:22] kaicataldo commented on #8454
As discussed in today's TSC meeting, this has now been accepted as part of the v4.0 release.

[2017-05-12 02:06] langpavel opened #8581 "no-param-reassign - Array.prototype.reduce and alike exceptions"
Hi and thanks everybody who participated on `no-param-reassign`!
*I know, this is a duplicate of #8007 and #6339*. This is a lobby.

# Summary
**`no-param-reassign`** is pretty useful rule. I'm not breaking this rule all time *except* if I write code using this perfect function:
[`Array.prototype.reduce`](https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/Array/reduce)`(

[2017-05-12 02:36] langpavel commented on #8581
I can offer $150 to single one who prepare PR which will be merged. Without taxes.

[2017-05-12 07:32] analytik commented on #2544
Could you please backport this to 3.x?

[2017-05-12 07:35] not-an-aardvark commented on #2544
This issue was apparently fixed in v0.21.2, so it should already be working in 3.x.

[2017-05-12 08:13] not-an-aardvark commented on #8579
Closing because this is working as intended.

[2017-05-12 08:13] #8579 closed

[2017-05-12 08:15] #7981 closed

[2017-05-12 13:58] revelt commented on #3916
Hi all, I came here researching why JS Standard was flagging up my exported variables as unused. It's strange, since the pattern is quite common and legit, it's not forbidden to put `module.exports = function(...`. I don't see why variables inside of that function should be flagged as unused.

[2017-05-12 14:09] platinumazure commented on #3916
@revelt This issue is about using an `/* exported */ ` comment to tell ESLint that a variable is used somewhere else, rather than assigning to `module.exports` or anything like that. Please open a new issue or stop by our [Gitter chat](https://gitter.im/eslint/eslint).

[2017-05-12 15:43] silverwind commented on #8553
I'll close this, but I'm still wondering if I shall open a separate issue for a possible `engines` configuration option. Is it worth evaluating?

[2017-05-12 15:43] #8553 closed

[2017-05-12 16:19] mtbradle-ge opened #8583 "eqeqeq documentation misleading on eslint.org"
In the eslint documentation for the [eqeqeq](http://eslint.org/docs/rules/eqeqeq) rule it states:

"The --fix option on the command line can automatically fix some of the problems reported by this rule."

This doesn't seem to actually be the case. After digging around it looks like eqeqeq was updated some time back to not be automatically fixed due to the potential danger ([Issue 4578](https://git

[2017-05-12 16:38] not-an-aardvark commented on #8583
Some cases actually can be fixed (this was added in https://github.com/eslint/eslint/pull/7389). In general, rules with autofixers are not guaranteed to fix all reported problems.

This is also noted in the `eqeqeq` docs:

[2017-05-12 16:39] cmoesel commented on #8547
Excuse the cross-post, but wanted to let you know someone on the yarn side asked for more info, which caused me to update my example project w/ more data.  Details below (in case they are helpful).

**Versions**
* Operating System: macOS Sierra 10.12.4
* Node: v6.6.0
* NPM: 3.10.3
* Yarn: 0.23.4

**NPM**

You will find the results of `npm ls` and the resulting `node_modules` here:
https://github.c

[2017-05-12 17:07] Telokis commented on #4859
@nzakas Is there a way to prevent the rule from generating a warning/error if there is a `return` statement that is not documented?
In asynchronous code `return` is only used to prevent the code from executing the end of the function. (For example, by doing `return callback(err);`.
So I'd like to **not** enforce the presence of `@returns` in my doc. That's what I expected from `requireReturn`.

[2017-05-12 18:18] mtbradle-ge commented on #8583
Ah, thanks! That makes sense.

[2017-05-12 18:18] #8583 closed

[2017-05-12 20:17] briandipalma commented on #4859
This wouldn't be `requireReturn`'s use case. In essence you want to enforce documentation *apart* from return statements? Or do you want to disable enforcing return documentation on statements that consist of the pattern `callback(args);`?

[2017-05-12 20:32] kaicataldo commented on #8392
It looks like we have a WIP PR with a proposal for this. Would be great to evaluate again.

[2017-05-12 20:52] Telokis commented on #4859
@briandela Precisely, I'd like to disable `@returns` necessity when the `return` line matches a specific pattern. Would it be possible with the current eslint?

[2017-05-12 21:13] briandipalma commented on #4859
I'm sure it would be but I'd raise a feature request instead of commenting on a closed issue if that's what you want. Try and implement the feature.

[2017-05-12 21:14] briandipalma commented on #4859
Just take a look at the JSDoc rule and add a new param for the feature you want.

[2017-05-13 01:08] platinumazure commented on #8578
@YounGoat, just realized you're using deprecated methods for getting at tokens.

The correct way to do it is to get a SourceCode instance using `const sourceCode = context.getSourceCode()`, and then use `sourceCode.getTokenBefore(node)` or `sourceCode.getTokenAfter(node)` as needed. Try using that approach and see if your issue goes away.

[2017-05-13 03:20] #8576 closed

[2017-05-13 07:26] THPubs commented on #8547
I'm also facing the same issue. I install my packaged through yarn and when I add `eslint src` to `package.json` scripts and run it give me the following errors:

    /home/pubudu/Projects/whiteberry-interiors-frontend/src/App.js
      1:1  error  Definition for rule 'import/no-named-default' was not found      import/no-named-default
      1:1  error  Definition for rule 'react/jsx-tag-spacing' w

[2017-05-13 14:24] ilyavolodin commented on #8560
This is a duplicate of #8189 basically, as soon as ESLint see a match with one of the ignore settings, it ignores the whole line.

[2017-05-13 14:24] #8560 closed

[2017-05-13 15:09] brigand opened #8586 "brace-style exception for comments"
With 1tbs I'd like an exception for when there's a comment above the else.

[code]

Current config:

[code]

Proposed

[code]

---

* **ESLint Version:** 3.11.1
* **Node Version:** 6.10.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?** Babel

[2017-05-13 16:29] ilyavolodin commented on #8581
This would also apply to `reduceRight`, however the problem with creating such enhancement is that we don't know if you are calling `reduce` on the array, or on your custom made object. We don't track variable types in ESLint, so we don't really have a good way to figure out if the current `reduce` function should be excluded or not.

[2017-05-13 16:33] ilyavolodin commented on #8553
@silverwind We usually try to avoid doing things like that, due to the fact that it puts a lot of maintenance burden on the team. It also leads to length and not always pleasant discussions about why this engine was included, but this other one was not. We prefer things like that to be done in plugins.

[2017-05-13 18:53] #8440 closed

[2017-05-13 20:31] tinovyatkin opened #8590 "consistent-return don't recognize switch default case return as return"
false positive:

[code]

[2017-05-13 20:33] not-an-aardvark commented on #8590
I can't reproduce this issue, the rule does not report an error for that code on the latest version of ESLint.

[2017-05-13 20:34] tinovyatkin commented on #8590
Well the whole original code is:
[code]

[2017-05-13 20:38] not-an-aardvark commented on #8590
That looks like it's working as intended. If you reach the `break` statement in `case 0`, your function won't return a value.

[2017-05-13 20:39] tinovyatkin commented on #8590
Oops, sorry, my fault!

[2017-05-13 20:41] #8590 closed

[2017-05-13 20:52] not-an-aardvark commented on #8568
I'm closing this because none of the autofixable problems reported for your code coming from ESLint core rules, so this is not a problem with ESLint itself. I would recommend filing an issue on [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react).

[2017-05-13 20:52] #8568 closed

[2017-05-14 00:34] langpavel commented on #8581
Yes, but it is possible to temporary disable rule by name of calling method? I know this is definitely not bulletproof but can be acceptable exception..
For example I define `reduce` and `reduceRight` as methods which flags function in argument to exception. I think this should be possible.

[2017-05-14 00:38] soda0289 opened #8591 "JSX AST no longer uses Literal nodes inside of JSXElement children"
There was an issues that came in to `typescript-eslint-parser` which suggested we were using the wrong node type for JSX text. (https://github.com/eslint/typescript-eslint-parser/issues/266) This lead to some discussion and eventually Facebook updated the JSX AST spec to use the `JSXText` node type instead of the `Literal` node type inside of `JSXElement` children.

This is a breaking change that

[2017-05-14 00:47] not-an-aardvark commented on #8591
I agree that it would be nice to change this to conform to the spec, but it seems like this change would be on very short notice given that it would break several popular plugins. How important is it that we get this into v4? I'm thinking maybe it would be better to wait until v5.

[2017-05-14 01:10] soda0289 commented on #8591
It is very short notice and does not provide any enhancement other than conforming to spec. Waiting for v5 makes sense. We can make the change in `typescript-eslint-parser` and hide it behind a flag.

[2017-05-14 01:31] ljharb commented on #8591
Any chance you'd be able to file issues to (or better, make PRs) both eslint-plugin-react and eslint-plugin-jsx-a11y, so that we (both we's) can prepare for this change ASAP?

[2017-05-14 01:35] ljharb commented on #8591
(linking to https://github.com/facebook/jsx/issues/50 and https://github.com/RReverser/acorn-jsx/issues/73 / https://github.com/RReverser/acorn-jsx/pull/74)

[2017-05-14 01:58] krisfields opened #8592 "Incorrect Unnecessary escape character warning"
eslint version 3.16.1
node version 6.6.0
npm version 3.10.8

For my slugify function below, I'm getting 3 unnecessary escape character warnings on /- when those parts are definitely needed.

[code]

----
01:32:54 web.1  |    25:19  warning  Unnecessary escape character: \-               no-useless-escape
01:32:54 web.1  |    26:15  warning  Unnecessary escape character: \-               no-useless

[2017-05-14 02:01] ljharb commented on #8592
Why are they needed? `-` doesn't need to be escaped when it couldn't possibly be part of a range.

Which specific lines are warning? (the line numbers aren't apparent)

[2017-05-14 02:06] mysticatea commented on #8592
Thank you for this issue.

But I'm confused.
Your code does not have `\-`, so I think `no-useless-escape` reports nothing.
I cannot find problems on your code.

![image](https://cloud.githubusercontent.com/assets/1937871/26030702/20a27ee4-3895-11e7-80fa-47546b9594e8.png)

[2017-05-14 02:07] ljharb commented on #8592
@mysticatea edit their OP, and surround their code in triple backticks (as they should have done) and i'll bet they'll show up.

[2017-05-14 02:09] mysticatea commented on #8592
@ljharb Ah, thank you!

So, this is working correctly. Those escapes are unnecessary by the language spec.

[2017-05-14 02:34] soda0289 commented on #8591
I'm willing to make PRs if we choose to make the change for ESLint v4. I use both of the mentioned plugins myself and would hate for them to lose compatibility. ESLint v5 will not be out for a while and I think we should wait until ESLint v5 is in alpha before we make breaking changes to those plugin's rules.

[2017-05-14 02:35] ljharb commented on #8591
I don't think they'd have to be breaking changes; it should be trivial to support both node types simultaneously (the tests would be harder).

[2017-05-14 02:43] soda0289 commented on #8591
It might be possible to support both node types fairly easily. I will look into it and create issues in those plugin's repositories.

[2017-05-14 03:02] not-an-aardvark opened #8594 "Allow arbitrary nodes to be ignored in the `indent` rule"
# Problem

People have lots of different indentation preferences, and the `indent` rule can't realistically support all of them. With other rules, we generally encourage people to make a plugin if they want to enforce their specific preferences, which implies disabling the core rule and using the rule from the plugin instead.

However, the `indent` rule is big and complicated, and if a user wants

[2017-05-14 14:14] ilyavolodin commented on #8581
That's pretty error-prone way of doing it:
[code]

[2017-05-14 14:19] ilyavolodin commented on #8592
Closing, as this is correct behavior, based on the regex spec.

[2017-05-14 14:19] #8592 closed

[2017-05-14 16:24] platinumazure commented on #8581
@ilyavolodin It's the same way we've implemented the rule, though, is it not?

[2017-05-14 16:59] ljharb commented on #8581
Regarding the claim in the OP "// this code is perfectly fine, but violates rule:" - the whole point is that it's *not* fine, it mutates the accumulator. Certainly that entire reduce operation is pure even though the reducer is not, but there's no way for eslint to know for certain that a) it's `Array.prototype.reduce`, and b) you've passed a new value in as the initial accumulator.

Lacking that

[2017-05-14 20:04] StoneCypher opened #8595 "New config propsal: warn me if my ruleset doesn't cover a rule"
I'm in the process of upgrading from an older eslint to a more modern one.  The gap's pretty big.

It would be nice if there was a flag I could throw in the ESlint config that would force me to have a rule specified for every single known rule, by enumerating each missing one.

This would support me in finding new rules I didn't know about, and in making sure that plugin rulesets were fully utiliz

[2017-05-14 20:18] sholladay opened #8596 "Add native line endings option to linebreak-style"
The [linebreak-style](http://eslint.org/docs/rules/linebreak-style) rule is nice in that it ensures all linebreaks are the same. I consider that to always be appropriate.

However, its only available options currently are `unix` and `windows`. Thus, using this rule assumes a singular type of development environment. Neither option is appropriate on all platforms.

In every project I am a part of,

[2017-05-14 20:25] gyandeeps commented on #8596
may I ask whats the value added by such an option? Are you thinking from a windows perspective?

[2017-05-14 20:27] gyandeeps commented on #8595
you can always use `[eslint:all](http://eslint.org/docs/user-guide/configuring#using-eslintall)` inside your config to get all the rules..

[2017-05-14 20:30] StoneCypher commented on #8595
nevermind.  thank you, @gyandeeps

[2017-05-14 20:31] StoneCypher commented on #8595
No, this isn't what I needed, now that I look at it more closely.

The gag is that I want to be able to set my rules in an npm module like it shows in the docs, and have a newer version of eslint that came up with a new rule warn me "hey, guy, you don't have a rule for `no-foo-when-bar`."

[2017-05-14 20:42] platinumazure commented on #8595
Yeah, `eslint:all` only covers core rules.

I like this idea but I'm not sure it should be part of ESLint core. I think we should have enough APIs exposed via CLIEngine that maybe someone could build a tool for it. But if the team is open to including this in core, I'm not strongly opposed.

[2017-05-14 20:43] gyandeeps commented on #8595
Personally I dont see any value in adding this kind of option which has very limited advantage/usage.
You can use `linter` API and then get all the loaded rules and then match them against your list. So thier are ways to get the info what you are looking for.

Lets see what the team thinks.

[2017-05-14 20:45] sholladay commented on #8596
Updated to hopefully answer your question. Yes, this is about making it possible to have a cross-platform linting experience. As is, it is not possible to make `eslint` pass on both Windows and non-Windows for the exact same source code checked into git with git's defaults.

[2017-05-14 20:49] gyandeeps commented on #8596
I have seen a lot windows developers use `as-is` git options on windows. This is when you install git on your machine and later you can change inside your global `.gitconfig` file.
So options like this will not work for all. Where as you fix this issue by making a one time change to your git config.

[2017-05-14 20:51] StoneCypher commented on #8595
i am impressed with how quickly multiple community members responded.

[2017-05-14 21:11] ljharb commented on #8595
https://www.npmjs.com/package/eslint-find-rules with the `--unused` option handles this.

[2017-05-14 21:13] ljharb commented on #8596
This seems like it might be a duplicate of #7823 (which is still a problem that needs solving).

[2017-05-14 22:15] ethanresnick commented on #8549
Any thoughts on this? (Not sure who to tag, so tagging eslint team folks who commented on the prior issues about this: @ilyavolodin @not-an-aardvark @nzakas @platinumazure.)

[2017-05-14 22:31] StoneCypher commented on #8595
that'll do, then.  thanks, @ljharb

[2017-05-14 22:31] #8595 closed

[2017-05-14 22:50] not-an-aardvark commented on #8564
Thanks for the issue.

Hmm, I'm unconvinced that this is worth changing. Technically, classes are neither object literals nor blocks, but I don't see how treating them as objects is more valid than treating them as blocks. In fact, the change in https://github.com/eslint/eslint/issues/7879 that you linked has the effect of treating classes *more* like blocks in the `padded-blocks` rule, since they

[2017-05-14 23:03] ljharb commented on #8564
Perhaps an `allowClassStart` option would be more appropriate, since `class` is neither a block nor an object?

[2017-05-14 23:19] shaunc opened #8597 "static async member"
**Tell us about your environment**

* **ESLint Version:** 3.19.0
* **Node Version:** 7.10.0
* **npm Version:** 4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Using babel, but eslinting on source.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

(no erro

[2017-05-14 23:37] ljharb commented on #8597
`ecmaVersion` 6 doesn't have `async function` - it was added in ES2018. Set `ecmaVersion` to `2018`.

[2017-05-14 23:39] ljharb commented on #8597
oops, i mean ES 2017. will edit and delete this correction.

[2017-05-14 23:45] #8387 closed

[2017-05-15 00:13] platinumazure commented on #8597
As @ljharb noted, if you want to use async functions, you need to use `ecmaVersion: 2017`.

[2017-05-15 00:34] sholladay commented on #8596
That doesn't look like what I want at all. That's deciding who wins by majority rules, which seems silly to me. What I'm asking for is the OS wins.

[2017-05-15 00:44] ljharb commented on #8596
Gotcha. Certainly `native` would be a better choice than `unix` or `windows` :-).

[2017-05-15 02:13] shaunc commented on #8597
Ah -- thought I must be missing something. Hmm... its not even a documentation bug. :)

[2017-05-15 02:13] #8597 closed

[2017-05-15 04:03] zertosh commented on #6237
I'm willing to shepherd this issue to completion. @not-an-aardvark pointed out in [prettier/eslint-plugin-prettier/pull/21#discussion_r116394860](https://github.com/prettier/eslint-plugin-prettier/pull/21#discussion_r116394860), that #8465 will break the workaround I've been using for this issue:

[code]

What I see as the issue with adding the ability to load plugins by path (like  `extends` and

[2017-05-15 04:46] not-an-aardvark commented on #6237
Thanks for the suggestions. I probably should have been more clear: the main issue in my mind isn't how to determine the name of a plugin (although that would also be something we have to figure out), it's how we would deal with situations where two plugins have the same name. https://github.com/eslint/eslint/issues/3458#issuecomment-252068708 contains a good description of the issue (it's describ

[2017-05-15 05:29] #6070 closed

[2017-05-15 05:29] #7356 closed

[2017-05-15 05:29] #7844 closed

[2017-05-15 05:29] #7938 closed

[2017-05-15 05:43] not-an-aardvark commented on #7348
Marking as accepted because https://github.com/eslint/eslint/issues/8101 was accepted in the [TSC meeting](https://github.com/eslint/tsc-meetings/blob/01a46b79c419dd853dfdeda676ab9969ffbcd2c2/notes/2017/2017-05-11.md) a few days ago.

[2017-05-15 05:47] not-an-aardvark commented on #7682
I'm unassigning myself from this issue because I don't think I'll have time to work on it.

[2017-05-15 09:44] sudarsangp opened #8600 "minor rephrasing in documentation: about page"
Under **Philosophy** section, **Every rule** subsection

existing: Can be **able to be** turned off or on
suggestion: Can be turned off or on

existing: Can be set to **be** a warning or error individually
suggestion: Can be set to a warning or error individually

[2017-05-15 10:08] domolicious opened #8601 "Problem fixing indentation with Allman style"
* **ESLint Version:v3.19.0**
* **Node Version:v7.9.0**
* **npm Version:4.2.0**

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

This is true for every opening brace and whether you use tabs or spaces for indentation. The indentation

[2017-05-15 11:11] zertosh commented on #6237
@not-an-aardvark just caught up on that thread. The requirement that solutions allow multiple plugin versions w/o inconveniencing the user seems impossibly intractable. A fair requirement for shareable configs, but what I need (the ability to say exactly where a named plugin is and have ESLint trust me), runs counter to that. The irony here is that there are no good solutions for plugin authors to

[2017-05-15 13:56] platinumazure commented on #8600
Hi @sudarsangp, thanks for the issue. I agree with those changes (especially the first one).

Would you be interested in opening a pull request against [eslint.github.io](https://github.com/eslint/eslint.github.io) to fix these?

[2017-05-15 14:47] platinumazure commented on #8601
@not-an-aardvark Is this fixed in the new indent rule?

[2017-05-15 15:33] not-an-aardvark commented on #8601
Yes, this is a duplicate of https://github.com/eslint/eslint/issues/7662.

[2017-05-15 15:33] #8601 closed

[2017-05-15 15:48] not-an-aardvark commented on #6237
I'm not sure if there's a better issue yet. I agree that it would be useful to have a better way to do this, but I hadn't made it a priority because I thought the [`node_modules` symlink hack](https://gist.github.com/not-an-aardvark/2358fe2164af521a761710d5f380b1e4) worked for everyone.

One solution would be to try something like [eslint-plugin-local-rules](https://github.com/cletusw/eslint-plugi

[2017-05-15 15:56] not-an-aardvark commented on #8586
Thanks for the proposal.

My initial impression is that this seems like a very user-specific preference, so it might be better as a plugin or custom rule rather than an option for a core rule. However, let's see what the rest of the team thinks.

[2017-05-15 16:08] sudarsangp commented on #8600
Hi @platinumazure, yes for sure!

Please refer to the PR here (https://github.com/eslint/eslint.github.io/pull/352)

[2017-05-15 17:31] ilyavolodin commented on #8600
@platinumazure This change needs to be done in ESLint main repository, as about file is copied from here as part of the release process.

[2017-05-15 17:32] platinumazure commented on #8600
@ilyavolodin Why is that file, which shouldn't depend on rule metadata, generated from here?

[2017-05-15 18:23] Ohar commented on #3339
@platinumazure Why new issue? The problem still the same.

[2017-05-15 18:26] platinumazure commented on #3339
Closed issues get lost in the backlog, and issues with a lot of old
discussion already can be confusing to work with. Instead, we welcome the
creation of new issues if someone wants to restart a discussion. Thanks!

On May 15, 2017 13:23, "Pavel Lysenko" <notifications@github.com> wrote:

[2017-05-15 19:05] evilebottnawi opened #8602 "Add new option `consistent` to `multiline-ternary`"
**What rule do you want to change?**

multiline-ternary

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

Add option `consistent`. Similar issue https://github.com/eslint/eslint/issues/6488 for `object-curly-newline` rule.

**Please provide some example code that this change will affect:

[2017-05-15 19:46] kaicataldo commented on #8602
Is the rationale behind this that you want to enforce consistency in a file but not across a codebase?

[2017-05-15 19:51] freshp86 opened #8603 "Can ESLint runtime dependencies be reduced?"
Currently running `npm install eslint` downloads 24MB of dependencies. Are all those deps needed to run ESLint?

I am looking for potential ways to reduce the size of the downloaded dependencies (even if I have to do this locally after I call `npm install`). The reason is that I am trying to introduce ESLint to Chromium's JS codebase, and would like to minimize the overhead imposed on other Chromi

[2017-05-15 19:51] freshp86 commented on #8603
cc @danbeam

[2017-05-15 19:52] krisfields commented on #8592
I'm sorry.  I am confused.  How am I supposed to replace all non word characters except -?  And also, how am I supposed to replace double - with a single -?  That's what the two lines do, and if I remove the \-, they no longer do that.

before (desired behavior):
slugify("this--is-a--test") = this-is-a-test

after satisfying eslint (incorrect behavior):
slugify("this--is-a--test") = thisisatest

T

[2017-05-15 19:55] ljharb commented on #8592
(Please use backticks around code, so we can see your backslashes)

`[^w-]` is all non-word chars except the dash.

`/--/` is two backticks in a row.

If you make a jsfiddle that shows the problem, I can help you make it work.

[2017-05-15 20:01] krisfields commented on #8592
Sorry about the backticks.

Here's a jsfiddle with the slugify function before and after.
[https://jsfiddle.net/a21vjk8u/](url)

[2017-05-15 20:03] krisfields commented on #8592
Ok, sorry back the backticks.  I was confused as to how to fix.  I figured it out now.  Thank you.

[2017-05-15 20:07] BridgeAR commented on #7911
When extending Errors you want to add a getter for the name and maybe also add some attributes that you do not want to be allowed to be changed at all. So you wouldn't add a setter for these entries.

[code]

[2017-05-15 20:07] platinumazure commented on #8603
@freshp86 Definitely please create a separate issue for `os.homedir()`. Seems to be available since Node 2.3 which is before our lowest supported version of Node 4, so I'd love for us to switch to that unless `os.homedir()` has bugs or odd behavior that the user-home package circumvents.

[2017-05-15 20:17] sznowicki commented on #7911
@BridgeAR

I think this.constructor.name is not same as class Foo { get name()}. It's this.name in that case, but as you probably guess I agree with you in the matter that it's not a real edge case.

Also, class with getters and setters for same property name will fail in current ES6 version. For the first setter execution, it will jump into an infinite loop.

[2017-05-15 20:26] BridgeAR commented on #7911
@sznowicki

[code]

[2017-05-15 21:45] not-an-aardvark commented on #8603
I think all of those should *probably* work. However, our semver/backwards compatibility guarantees would not cover removing dependencies.

For example, if you remove the `doctrine` dependency and enable the `require-jsdoc` rule, everything should still work right now, because `require-jsdoc` does not depend on `doctrine`. However, it's plausible that we would update `require-jsdoc` to use `doctri

[2017-05-15 21:51] freshp86 opened #8604 "Remove dependency to user-home"
/cc @platinumazure

[user-home dependency](https://github.com/sindresorhus/user-home), seems unnecessary since it can be replaced by a call to the NodeJS [os.homedir()](https://nodejs.org/api/os.html#os_os_homedir). Specifically

* [user-home](https://github.com/sindresorhus/user-home) simply wraps [os-homedir](https://github.com/sindresorhus/os-homedir/blob/master/index.js).
* os-homedir [delegat

[2017-05-15 21:51] freshp86 commented on #8603
@platinumazure: Filed https://github.com/eslint/eslint/issues/8604 for user-home removal.

[2017-05-15 21:54] sznowicki commented on #7911
@BridgeAR

You're extending Error which has setters, that's why you jump into an infinite loop.  Name is also a class name in this example.

This is what I meant: https://gist.github.com/sznowicki/9b3a88efefdb6f899629999e9c9c7457

But, let's not pollute issue with off-topic discussions ;)

[2017-05-15 22:47] freshp86 commented on #8603
@not-an-aardvark Thanks for the detailed response. I will try those reductions in the coming days.

[2017-05-16 01:04] ljharb commented on #7911
I think that in your original example, the fact that it's an ES5 getter/setter is actually irrelevant - the same would have applied in a `getFoo` and `setFoo` method pair.

In other words, these are methods - if methods don't require `this` access, and you want `class-methods-use-this` enabled, then they need override comments.

I could potentially see an option that allowed "class methods that do

[2017-05-16 01:20] soda0289 opened #8607 "Indent is inconsistent when call expression is used as variable initial value"
**Tell us about your environment**

* **ESLint Version:**
master
* **Node Version:**
4
* **npm Version:**
4

**What parser (default, Babel-ESLint, etc.) are you using?**
typescript

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Should be a valid indent. If I move the equal

[2017-05-16 01:22] soda0289 commented on #8607
I'll try and create a fix. This is a test case I forgot about when ignoring the equal operator in variable declarator nodes.

[2017-05-16 03:52] #8600 closed

[2017-05-16 07:50] ajostergaard commented on #4015
Any response to @SimenB 's comment?

[2017-05-16 08:53] TheGrandmother opened #8612 "Enforce consistent use of arrow functions in specific context"
It would be nice to have the option to either require or disallow the use of the `=>` notation for callbacks specifically.
I.e a rule that would disallow this:
[code]

but allow this:
[code]

AFAIK now such rule exists.

ESLint Version: 3.19
Node Version: 7.10
npm Version: 4.2

[2017-05-16 09:02] SimenB commented on #4015
Wow, 2015.

The Ghost and @divyanshu013 are correct though, use `browser` env, then `fetch` is defined 😄

[2017-05-16 09:48] evilebottnawi commented on #8602
@kaicataldo on all my projects :smile: We have small options for `consistently`, but it's really convenient

[2017-05-16 14:27] platinumazure commented on #8612
Hi @TheGrandmother, thanks for the issue.

It seems like the [`prefer-arrow-callback`](http://eslint.org/docs/rules/prefer-arrow-callback) rule might do what you need. Can you give that a try?

[2017-05-16 14:33] TheGrandmother commented on #8612
That was the one I was looking for :)
Sorry for not doing my homework properly ^^

[2017-05-16 14:33] #8612 closed

[2017-05-16 14:42] platinumazure commented on #8612
No worries, glad to help!

[2017-05-16 19:56] btmills opened #8613 "Make no-unused-labels message more helpful in arrow function blocks"
**Tell us about your environment**

* **ESLint Version:** Demo
* **Node Version:** n/a
* **npm Version:** n/a

**What parser (default, Babel-ESLint, etc.) are you using?**

Default (demo)

**Please show your full configuration:**

Change ECMA Version to 6, leave rest as default

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to

[2017-05-16 20:52] mockdeep opened #8614 "prefer-destructuring maxElements/noBlanks option on array"
It would be great to have an option to the `prefer-destructuring` rule to only require it when you're taking off from the beginning of the array. Essentially, we like it when it's the first element, or multiple first elements, but having to use commas to go further back in the array we like less:

[code]

[2017-05-16 21:25] chee commented on #4015
it might be preferable to use

[code]

at the top of your file

or

[code]

[2017-05-17 01:30] ababba15 commented on #5183
Would be cool to have some rule that allows to export like this:

[code]

[2017-05-17 05:13] #8425 closed

[2017-05-17 05:20] #8481 closed

[2017-05-17 05:26] not-an-aardvark commented on #8572
Closing because this is working as intended.

[2017-05-17 05:26] #8572 closed

[2017-05-17 05:31] not-an-aardvark commented on #8607
Seems like a bug to me.

[2017-05-17 05:38] not-an-aardvark commented on #8562
Hi,

No, there is not a setting to allow that. However, you can always disable the `comma-spacing` rule and create a custom rule that enforces your desired spacing.

[2017-05-17 05:39] not-an-aardvark commented on #8544
I'm mildly opposed to this for the same reasons as a few other people have mentioned (usually, I use `console.log` for debugging and I want to remove the statements afterwards.) However, I don't have a strong objection if another team member wants to champion the issue.

[2017-05-17 06:25] ajostergaard commented on #4015
Thanks @SimenB but the question you asked wasn't how to get around the issue, the question was why we have to get around it at all given that fetch is a global - no?!?

[2017-05-17 06:45] SimenB commented on #4015
`fetch` is only a global in browsers, not in Node. Globals without specifying anything else is (mostly) just language globals, not api globals. It's the same reason you have to specify `node` in env to use `require`, but not `import`

[2017-05-17 06:54] ajostergaard commented on #4015
Ahh - thanks! :) So really the react plugin should handle this - shouldn't it?

[2017-05-17 07:07] SimenB commented on #4015
No, not unless React automatically polyfills `fetch` in every environment (which it doesn't). Either tell eslint your code runs in a browser, or explicitly tell it fetch is a global.

[2017-05-17 08:45] andyearnshaw opened #8616 "Error with hanging indent for single assignment let/const/var objects"
**Tell us about your environment**

* **ESLint Version:** v3.19.0
* **Node Version:** v7.8.0
* **npm Version:** v4.2.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected this to be valid.  Ma

[2017-05-17 11:29] TheGrandmother opened #8617 "Allow handle-callback-err to look at more than just the first argument."
Hello!
It would be nice to have the option to make `handle-callback-err` look at more than simply the first argument. I'm currently writing some with a moderately annoying library that does not put the error first in callbacks.

ESLint Version: 3.19
Node Version: 7.10
npm Version: 4.2

[2017-05-17 11:55] Telokis opened #8618 "eslint-disable-next-line is ignored"
**Tell us about your environment**

* **ESLint Version:** "eslint": "^3.19.0"
* **Node Version:** v5.7.0
* **npm Version:** 3.5.3

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
The line `const htmlData = r

[2017-05-17 12:17] platinumazure commented on #8618
You need to set your parserOptions as follows:

[code]

As for eslint-disable-next-line not working, unfortunately we do have to parse the whole file before we can read any comments for inline configuration directives. I believe this is covered in our Configuration documentation but would have to double check.

[2017-05-17 12:25] Telokis commented on #8618
Is there a way to specify those parser options inside the file so that it is the only one affected?

[2017-05-17 14:40] not-an-aardvark commented on #8618
No, because ESLint would have to start parsing the file in order to find any directives in the file.

[2017-05-17 14:41] not-an-aardvark commented on #8616
Closing as a duplicate of https://github.com/eslint/eslint/issues/3352

[2017-05-17 14:41] #8616 closed

[2017-05-17 15:11] andyearnshaw commented on #8616
Thanks, I searched but couldn't find it.

[2017-05-17 15:51] andyearnshaw commented on #3352
@not-an-aardvark coding style diversity isn't important enough?

FWIW, I choose this code style because it's more readable in certain situations.  The hanging indent makes a clear distinction on the current line _at the beginning_, rather than at the end or on preceding or following lines.

ESLint forces inconsistency over single and multiple assignments like this (with `indent: 4`):

[code]

[cod

[2017-05-17 17:17] ajostergaard commented on #4015
So really React Native, which does provide `fetch`, should also provide a plugin or at least document the 'integration'. :)

[2017-05-17 17:26] platinumazure commented on #4015
I think this would be an excellent discussion to have in the eslint-plugin-react and/or react-native repositories. :wink:

[2017-05-17 20:05] Mardak commented on #8564
Updated issue to move `class` checks as part of `allowClassStart` from `allowBlockStart`.

To be clear, we started running into this issue with v4 because `padded-blocks` now handles classes, which is desired, but a comment block just inside the class conflicts with `lines-around-comment` unless `allowBlockStart` is set, which would also allow lines inside actual blocks, which is undesired.

In re

[2017-05-18 00:26] #8562 closed

[2017-05-18 03:09] mysticatea commented on #6964
`acorn-jsx`'s issue has been fixed now.
This issue will be fixed after `espree` upgrades `acorn-jsx` to `4.0.1`.

[2017-05-18 11:21] abinashdpatra opened #8621 "ESLint suggesting to use CONST instead of LET for variable inside loop which is going to get reassigned"
**Tell us about your environment**

* **ESLint Version:v3.19.0**
* **Node Version:v6.10.2**
* **npm Version:3.10.10**

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-eslint
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
no suggestions
**What actually happ

[2017-05-18 11:39] dtjohnson commented on #8531
Seems fair that you don't want the core to be so opinionated. @not-an-aardvark's suggestion and @platinumazure's example were a great start. However, there are a number of cases to cover:
[code]

I expanded the rule a bit to cover all of these cases and it seems to catch all of these:
[code]

If you don't feel something like this should be in the core, then at least this issue serves as an example

[2017-05-18 12:00] platinumazure commented on #8621
`let` bindings are block scoped, meaning the variable becomes inaccessible once you leave the for loop or even when you get to the end and loop again. So this rule is correctly detecting that there is no reassignment of the variable and letting you know it could be made `const`.

[2017-05-18 15:57] platinumazure commented on #8531
@dtjohnson Nice work! You might want to add selectors for AssignmentExpression (just in case) for situations like the below:

[code]

[2017-05-18 16:26] #8621 closed

[2017-05-18 17:24] jonathanKingston commented on #8344
@not-an-aardvark sorry for the delay. I'm not sure this would be good enough to solve the issue cleanly.

Perhaps if the optional data object was permitted **only** if a message id was provided? This would permit us to use shapes like:

[code]

I also don't mind if it is `data` either, just seemed that was useful as it makes up components of the string itself.

/cc @muffinresearch and @EnTeQuAk as

[2017-05-18 23:03] not-an-aardvark commented on #8471
Closing because this is working as intended.

[2017-05-18 23:03] #8471 closed

[2017-05-19 00:06] atian25 opened #8623 "eslint fail when jsdocs contains glob `**/*.js`"
**Tell us about your environment**

* **ESLint Version:** ^3.19.0
* **Node Version:** 6.10.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**
not

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
lint pass

**What actually happened? Plea

[2017-05-19 00:09] atian25 commented on #8623
oh, sorry, the glob close the jsdocs.

[2017-05-19 00:09] #8623 closed

[2017-05-19 00:35] samcday commented on #5377
It'd be great to have this issue reopened for consideration. All the workarounds proposed here don't help if you want to selectively `--fix` particular rules.

In our case we have a pretty complex `.eslintrc` that extends a few base rulesets (like airbnb's eslint base) and configures stuff like an `import/resolver`.

If we run with `--no-eslintrc` then we get totally different results and have to

[2017-05-19 04:06] not-an-aardvark commented on #8548
Closing because this is working as intended.

[2017-05-19 04:06] #8548 closed

[2017-05-19 08:30] PombaM opened #8625 "Eslint can't parse rest parameters destructuring."
**Environment**
* **ESLint Version:** v3.19.0
* **Node Version:** v6.10.3
* **npm Version:** 4.6.1

**What parser (default, Babel-ESLint, etc.) are you using?**
 - default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Not get any error as it is a correct syntax.

**What act

[2017-05-19 11:38] IanVS commented on #5377
FWIW, there's an accepted issue (https://github.com/eslint/eslint/issues/8039) to make some changes which would allow more control over what fixes are applied, if that is your main goal @samcday.

[2017-05-19 16:55] not-an-aardvark commented on #8613
This would also apply to cases like

[code]

[2017-05-19 17:35] #8607 closed

[2017-05-19 18:16] #8454 closed

[2017-05-19 18:18] #8507 closed

[2017-05-19 18:22] jethrolarson opened #8626 "Add fixer for TODO (no-warning-comments)"
* **ESLint Version:** 3.19.0

I'm working on a feature for my company and I keep seeing these lint warnings for development tasks that I've been putting off. It would be great if there was a fixer for TODO, FIXME, and HACK warnings that would just do the things I don't want to do right now.

[2017-05-19 18:31] #8169 closed

[2017-05-19 19:09] not-an-aardvark commented on #8580
ESLint 4.0.0-beta.0 has been released. This concludes the release process for this week.

[2017-05-19 19:09] #8580 closed

[2017-05-19 19:17] not-an-aardvark commented on #8625
Looks like this is caused by https://github.com/ternjs/acorn/issues/550. It will be fixed when a new release of `acorn` is published.

[2017-05-19 19:23] platinumazure opened #8627 "Scheduled Release for June 2, 2017"
The scheduled release on Friday, June 2, 2017 is assigned to:

* @btmills
* @ilyavolodin

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2017-05-19 19:24] platinumazure opened #8628 "Scheduled release for June 11, 2017"
The scheduled release on Sunday, June 11, 2017 is assigned to:

* @not-an-aardvark
* @kaicataldo

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2017-05-19 19:40] paulmelnikow commented on #8169
@mysticatea I didn't realize you were working on this already! Awesome! 😁

[2017-05-20 01:51] abhishiv commented on #8348
Awesome news! Can't wait to see eslint running in the browser.

if I can summarise the changes needed are

1) **load-rules.js**: don't use require in a dynamic manor
[code]

That's the only change needed as far as I can see.

[2017-05-20 07:58] weijarz opened #8630 "rules/no-use-before-define.js: TypeError: Cannot read property '1' of undefined"
**Tell us about your environment**

* **ESLint Version:**
3.19.0

* **Node Version:**
v7.10.0

* **npm Version:**
4.5.0

**What parser (default, Babel-ESLint, etc.) are you using?**
`Babel-ESLint`

**Please show your full configuration:**

FILE: .eslintrc.json
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

**What a

[2017-05-20 10:55] mysticatea commented on #8613
In this case, [no-labels] and [no-unused-expressions] also report the code. In @not-an-aardvark's case, [no-lone-blocks] and [no-unreachable] are as well. Should we change the message of those rules? Or maybe new rule like `no-blocks-like-objects` should be.

[no-labels]:http://eslint.org/docs/rules/no-labels
[no-unused-expressions]: http://eslint.org/docs/rules/no-unused-expressions
[no-lone-bloc

[2017-05-20 13:25] platinumazure commented on #8630
Guess I'll dig in. Thanks for the report!

[2017-05-20 15:11] platinumazure commented on #8630
@weijarz I've written a defensive patch, which I'll have to figure out how to test properly. However, I think the root cause is that for whatever reason, babel-eslint and/or escope are not providing sufficient range information during parsing, so when we try to do a location compare (to see if a variable use is happening before its definition), we get the exception shown in your initial report.

W

[2017-05-20 15:22] weijarz commented on #8630
@platinumazure  Thanks, your patch worked well.

[2017-05-20 15:23] mysticatea commented on #8630
@platinumazure Thank you very much.

[This `Identifier` node](https://github.com/eslint/eslint/commit/d073ffe9839499deeb460eb98e9ace70be36a185#diff-c7be3a8e8fbaa5a588ac3485a8b8639fR829) looks to not have `range` property, so I think this is a bug of `babel-eslint`.

[2017-05-20 15:28] platinumazure commented on #8630
Nice find, @mysticatea, knew it was something like that. Honestly I'd much prefer that `babel-eslint` fix this if possible, so I'm not 100% sure I actually want to submit this patch.

I'll open an issue over there later today. Thanks!

[2017-05-20 18:53] platinumazure commented on #8630
Opened babel/babel-eslint#473 with my findings.

[2017-05-20 20:00] lukeapage commented on #8626
What would it do? Delete the whole comment? Delete the TODO bit only?
I would not want this fixed ;- I'd strongly want to disable fixing this rule if auto fixing was implemented.

[2017-05-20 20:05] platinumazure commented on #8626
Obviously it's supposed to implement whatever is called out in the "TODO". I'm thinking this would probably be better as a plugin, though. :stuck_out_tongue_winking_eye:

[2017-05-20 21:48] not-an-aardvark commented on #8626
Closing because I don't think this is in scope.

That said, if you do manage to create a plugin that can auto-implement instructions in TODO comments, please do let me know. 😃

[2017-05-20 21:48] #8626 closed

[2017-05-21 01:00] not-an-aardvark commented on #8596
Closing this issue because there were four :-1:s from team members on the associated PR, so I think it's safe to say that the team is not in favor of this proposal.

[2017-05-21 01:00] #8596 closed

[2017-05-21 09:21] 462960 commented on #7211
I have the same problem. What's the meaning of  /w/av-ui?

[2017-05-21 18:06] ilyavolodin commented on #8544
I agree with @not-an-aardvark While not everyone writes javascript for browsers, in browsers I really think there should not be any `console` statements. I know I opened dev tools on more then one site and saw console statements, and it always makes me feel a lot more wary about the sites that do that. They feel unfinished.

[2017-05-21 18:13] ilyavolodin commented on #3352
@andyearnshaw Unfortunately, indentation is a very personal thing. For example, you are thinking that first example you provided is hideous, and I think the way you propose to write it is unreadable and I would hate to see that style in my codebase.
Problem is, `indent` is the most complex rule we have. We already re-written it 3 times completely from the scratch, and, while we would love to suppo

[2017-05-21 18:17] ilyavolodin commented on #8564
I'm unconvinced that naming change is important enough to create a breaking change. While technically, classes are not blocks, they are treated as blocks by scoping. Block scoping in ES6 includes classes, so argument can be made that people might think of them as blocks. If it wouldn't be a breaking change, I wouldn't have a problem with this, though.
P.S. Last version we release was a beta, so we

[2017-05-21 18:20] ilyavolodin commented on #8630
Closing this issue, as it's a problem with babel-eslint.

[2017-05-21 18:20] #8630 closed

[2017-05-21 18:25] platinumazure commented on #8544
To play devil's advocate here: We've removed rules from `eslint:recommended` for less.

That said, I don't feel strongly either way.

[2017-05-21 18:26] #8604 closed

[2017-05-21 18:45] gyandeeps commented on #8514
I am guessing the question has been answered and since there have been  no activity, i am gng to clsoe this issue. Feel free to reopen.

[2017-05-21 18:45] #8514 closed

[2017-05-21 19:07] trevordmiller commented on #8544
Could the rule be conditionally removed if node is listed as the environment?

[2017-05-21 20:11] not-an-aardvark commented on #8544
No, this wouldn't really be aligned with how preset configs normally work -- the rules in a preset config are currently independent of the environments.

For what it's worth, I think committing code with `console.log` can be equally disruptive in Node because it interferes with debugging. I often use `console.log` when debugging, but it's much harder to do that when there are unrelated things also

[2017-05-21 20:38] #6075 closed

[2017-05-21 21:03] Mardak commented on #8564
I've updated the issue and PR to not be a breaking change by not altering the behavior of `allowBlockStart` and instead just adds the new option allowing just class "blocks" without including other blocks.

[2017-05-21 21:07] not-an-aardvark opened #8633 "eslintbot's commit message checks are sometimes misleading"
(Continuing from https://github.com/eslint/eslint/pull/8598)

When a user opens or modifies a PR, eslintbot always checks the commit message of the first commit for proper formatting. If that commit message is properly formatted, it leaves a "LGTM" message, otherwise it instructs the user to edit the commit message.

We use GitHub's "squash and merge" feature, so the only commit message that ends

[2017-05-21 21:21] not-an-aardvark opened #8634 "Shorten commit message length limit to 64 characters"
We currently have a commit message length limit of 72 characters. I suspect this number was chosen because GitHub truncates messages longer than 72 characters and puts them on a new line.

However, since we use GitHub's "squash and merge" feature, the PR number gets appended to the end of a commit message when we merge it, e.g. " (#1234)". This often makes the commit message longer than 72 charact

[2017-05-21 21:43] soda0289 commented on #8634
In my opinion I think its more important to have a descriptive commit message/title then it is for them to show up on github commit list untruncated. I don't like abbreviations or code words and think this change would encourage their use. Maybe if we enforced a more detailed commit message, or moved the `(fixes #1234)` into the commit body, this change would work better.

[2017-05-21 21:45] soda0289 commented on #8633
Could we have the eslint bot enforce the PR title matches the first commit title.

[2017-05-21 21:48] not-an-aardvark opened #8635 "Update documentation around deprecation policy"
In https://github.com/eslint/eslint/issues/5845, we discussed the tradeoffs of removing rules versus deprecating them. Removing rules causes a lot of pain for users since they need to update their configs, and arguably there is not much benefit in removing rules rather than deprecating them. We decided to adopt the following policy through May 1st, 2017, and then reevaluate afterwards:

* Don't re

[2017-05-21 21:51] not-an-aardvark commented on #8634
I agree. My one concern about putting the `(fixes #1234)` in the commit body is that it won't display in the changelog or blogpost, and it seems like that might be useful for readers. Maybe we could update the release tooling to search for `fixes` messages in the commit message body, and append them to the end of the changelog entries.

[2017-05-21 21:55] not-an-aardvark commented on #8633
Would it do that by leaving another error message for the user? I'm concerned that flooding contributors with error messages will be discouraging.

I suppose another option would be to automatically edit the PR title to match the commit message, but I'm not sure eslintbot currently has the capability to do that, so we would need to create our own script.

[2017-05-22 01:39] gyandeeps commented on #8353
I think it makes sense what @Slayer95 said above. `quite` is a log level modifier and not a operation level modifier. With that being said, its working as expected.
@eslint/eslint-team thoughts?

[2017-05-22 01:44] gyandeeps commented on #8221
I am not sure whats being asked here. We want to know fix stuff for debugging purposes as an eslint developer or how/what fixes eslint are fixing as a user of eslint?

For debug purpose: We already have a debug call in it.
For eslint consumers: Not sure what is expected but if you run eslint without fix flag vs with fix flag you can see the difference. And now we even tell you how many issues can

[2017-05-22 01:48] platinumazure commented on #8353
I can see it both ways. The fact that the behavior can be seen as extremely unexpected and/or damaging to the user is definitely a bad thing, in my mind.

I think the best way to fix this is to allow users the option to go either way and to be very explicit about how the options work.

Here's one proposal along those lines:
* Rename `--quiet` to `--no-report-warnings` (supporting `--quiet` as an a