[2015-06-07 14:34] michaelficarra commented on #2716
We'd probably just want this behaviour in the same rule. I don't see why anyone would turn on one and not the other.

[2015-06-07 14:35] tornewuff commented on #2716
Fair enough; just extend the same rule despite the name?

[2015-06-07 14:41] michaelficarra commented on #2716
That'd be my preference.

[2015-06-07 15:58] ilyavolodin commented on #2715
We are planning to discontinue support for `rulesdir` in version 2.0.0 in favor of plugins. As such, I don't  see us making any changes to the way that flag works. Sorry. If you want to use local custom rules, I suggest you look into `npm link`. It's much more robust solution.

[2015-06-07 16:08] silverwind commented on #2715
Looking though plugin docs, I wonder if it's possible to link a plugin directly into `.eslintrc`, so tests can run offline and don't depend on npm (which may not be working/avaiable when we run eslint).

[2015-06-07 16:28] nzakas commented on #2636
To echo what @michaelficarra said: you need to tell the parser upfront what it is you're parsing, this will be true both in browsers and Node when implemented natively, as it's not just syntax but also scoping rules that change.

Since that is pretty much how modules were designed to work, it would be a good idea to ask your users to make this decision upfront as well.

[2015-06-07 16:30] silverwind commented on #2715
Hmm plugins *could* work. What does 'Before using the plugin you have to install it using npm.' really mean? Can I specify a standalone js without any ill effects?

[2015-06-07 16:36] nzakas commented on #2657
I don't see us adding any capability to "undefine" globals. As mentioned before, you just want to disallow usage.

What was the problem with your custom rule?

[2015-06-07 16:47] silverwind commented on #2657
Yes, it' still defined and I just want to discourage it.

The problem is that it does seem a bit much work for such a simple task. My current custom rule is at https://github.com/nodejs/io.js/pull/1794#issuecomment-109717199, it's @xjamundx's implementation. That rule doesn't work right now and is pretty dumb, it can't even identify the `const`. I'm sure there's a better way to write it, but I hav

[2015-06-07 17:11] gcochard commented on #2715
It just needs to be in the `node_modules` directory. With npm at the latest version, you can specify relative directories in your `package.json` file, so you can install from abother directory in your own work tree.

[2015-06-07 17:17] silverwind commented on #2715
But what if there is no `package.json` or `node_modules` (this is for io.js)? I'm thinking this whole plugin thing isn't really right for standalone project-specific rules that you don't necessarily want to publish to npm as they have no value to other projects.

I hope you're not going ahead with that `rulesdir` deprecation.

[2015-06-07 18:32] silverwind commented on #2715
@ilyavolodin care to point me to the reasoning for the `rulesdir` removal? Why would you remove such a useful feature and force people to publish their (possibly private) project-specific rules to npm? It just doesn't seem right to me.

[2015-06-07 19:24] silverwind commented on #2657
Came up with a rather simple custom rule (https://github.com/nodejs/io.js/pull/1794#issuecomment-109783580). I hope support for custom rules like this won't be dropped in the future as [mentioned](https://github.com/eslint/eslint/issues/2715#issuecomment-109766566).

[2015-06-07 19:32] ilyavolodin commented on #2715
Ughh.. It's been discussed a while back, and I'm not sure I can find that issue now. Basically, `rulesdir` was created early on, before we had support for plugins ready. Now plugins can do the same thing, and npm is a standard way in node to handle dependencies. So having two different ways to accomplish the same task doesn't seem to be a good idea.
To answer your previous questions, yes, you do n

[2015-06-07 19:47] silverwind commented on #2715
That seems to be a bit of a narrow view to me. Not every project is a package (like io.js) and not everyone will be comfortable publishing their rules to npm (yes, there are private packages now, but those aren't free). As I see it, plugins are suitable for *multiple* projects while custom rules are for rules specific to a single project.

In my opinion, all options defined on the CLI should also

[2015-06-07 21:01] ilyavolodin commented on #2715
I do not think you read my reply carefully enough. As I said, plugins do not need to be published to NPM. All you have to do is create a separate directory within your project for your custom rules (something you already have to do with `rulesdir`). Create a file that will contain your custom rules, and create a package.json file in that directory. After that you can use `npm link` to let npm know

[2015-06-07 21:17] silverwind commented on #2715
Indeed I misunderstood you there, sorry about that.

When I read about `npm link`, the first thing that came to mind is that this won't work on Windows (symlinks require administrative priviledges), and I don't think we're going to add a `package.json`.

Another idea, what about allowing paths in the `plugins` array? Like

[code]

plugin1 could be a regular npm package, plugin2 a custom unpackaged

[2015-06-07 22:43] mysticatea commented on #2704
Thank you.

I thought `no-unused-vars`, `no-undef`, `no-shadow`, and `no-use-before-define` have a common purpose, developers use references correctly. Those rules are the way for it. But, the definition of "correctly" looked different each rule to me.

- `no-undef` - all variables as hoisted.
- `no-unused-vars` - all variables as hoisted.
- `no-shadow` - functions as hoisted by default.
- `no-use

[2015-06-07 23:37] mysticatea opened #2718 "Rule Proposal: no-class-assign"
This rule is similar to [`no-func-assign`](http://eslint.org/docs/rules/no-func-assign).

The following patterns are considered warnings:

[code]

[code]

[code]

The following patterns are not considered warnings:

[code]

[code]

[code]

I'm happy to work if it was accepted.

[2015-06-08 00:00] mysticatea opened #2719 "Rule Proposal: no-const-assign"
Variables that declared with `const` cannot re-assign.
Under strict mode, it raise a runtime error. Otherwise just ignored (on V8).

The following patterns are considered warnings:

[code]

I'm happy to work if it was accepted.

[2015-06-08 00:31] gcochard commented on #2715
@silverwind @ilyavolodin You don't have to use `npm link`. You can use a [local dependency](https://docs.npmjs.com/files/package.json#local-paths), and `npm install` will put it into `node_modules` as it should.

[2015-06-08 00:37] mysticatea opened #2720 "Rule Proposal: constructor-super"
If the class declaration has `extends`, its constructor should have `super()` calling.

The following patterns are considered warnings:

[code]

The following patterns are not considered warnings:

[code]

[code]

[code]

I'm happy to work if it was accepted.

[2015-06-08 00:51] mysticatea opened #2721 "Rule Proposal: no-this-before-super"
If the class declaration has `extends`, we cannot use `this` before `super()` calling in its constructor.
See Also: https://github.com/babel/babel/issues/1131

The following patterns are considered warnings:

[code]

The following patterns are not considered warnings:

[code]

[code]

[code]

I'm happy to work if it was accepted.

....this name is too long....

[2015-06-08 01:16] ilyavolodin commented on #2718
Hmm... I think it's a reasonable request, but I think what I might consider is renaming `no-func-assign` to something like `no-assign` and making two option, `function` and `class`. Although I don't like the name...

[2015-06-08 01:20] ilyavolodin commented on #2715
@gcochard Nice, I haven't use that feature yet. I only used local path to .tar files. So that makes it even easier to use.
@silverwind I used `npm link` couple of times on Windows machines, and it worked fine. Granted, I do have admin access, so that might be why. But as @gcochard noted, that might not even be necessary anymore. I think your proposal is outside of the areas of responsibilities for

[2015-06-08 01:27] ilyavolodin commented on #2721
Seems reasonable. But yes, we need new name. `no-this-before-super` might work, but it's not very descriptive.

[2015-06-08 03:50] mysticatea commented on #2718
In fact, many there are rules about re-assignment:

- [no-ex-assign](http://eslint.org/docs/rules/no-ex-assign)
- [no-param-reassign](http://eslint.org/docs/rules/no-param-reassign)
- [no-native-reassign](http://eslint.org/docs/rules/no-native-reassign)
- [no-undef](http://eslint.org/docs/rules/no-undef) - for explicit globals.
- and, #2719 (no-const-assign)

[2015-06-08 04:05] nzakas commented on #1846
No, still looking for more opinions.

[2015-06-08 04:12] nzakas commented on #2716
I'm not sure I agree. The rule is specifically about `in`, it even says so in the name. I don't see how we can rationally extend the current rule without confusion.

We either need to rename the rule or create a new one.

@tornewuff in the future, please wait until the issue has been labeled "approved" before starting work.

[2015-06-08 04:16] nzakas commented on #2718
@ilyavolodin I think it's too close to 1.0.0 to make that change now. I'd prefer a separate rule.

[2015-06-08 04:17] nzakas commented on #2719
I thought we had an issue covering this already, but apparently not. I like it.

[2015-06-08 05:39] michaelficarra commented on #2716
@nzakas Names don't matter. I think we can all agree that this proposed functionality is desired, and it does not need to be separately configurable from this rule. Is your only concern that people will assume one kind of behaviour from the name, and observe something else? Because we have documentation for that reason.

[2015-06-08 05:51] michaelficarra commented on #2718
I'm not sure about the first one. All of the other examples emit warnings if and only if they would cause runtime failures. But the first example will emit a warning and will not fail at runtime.

[2015-06-08 05:55] michaelficarra commented on #2721
This is not something that can be statically detected. What do you do about this?

[code]

Or this?

[code]

:-1:

[2015-06-08 05:56] michaelficarra commented on #2720
Like https://github.com/eslint/eslint/issues/2721, this is not something that we can statically determine. :-1:

[2015-06-08 07:11] Jxck commented on #2628
+1 for @ilyavolodin

[2015-06-08 09:05] tornewuff commented on #2716
Happy to do it as a new rule instead, but I don't know what the process is for renaming a rule if we want to go that way.

(I don't generally wait for an issue tracker discussion before preparing a patch if it's only going to take five minutes to write; if it's not accepted that's fine).

[2015-06-08 09:57] denis-sokolov opened #2723 "Rule suggestion: restrict in operator"
I would like to propose a warning for `bar in foo` where `bar` is a variable.
I might be mistaken, but it's likely the author means `Object.prototype.hasOwnProperty.call(foo, bar)`.
In cases where the user actually wants to check for an inherited property existence, such as feature detects, usually the value is a constant: `if ('quux' in foo) f(foo.quux)`.
eslint codebase has 0 occurences of an `i

[2015-06-08 12:03] sindresorhus commented on #2721
@michaelficarra The check could still be a "best effort". With that logic nothing is statically detectable as `eval` might be used.

[2015-06-08 12:17] michaelficarra commented on #2721
@sindresorhus No, lots of things may be statically determined in the presence of `eval`. I gave the two examples because, even if you took the pessimistic approach and warned about the first example, that approach would be too pessimistic for cases like the second example. If you took the optimistic approach and *did not* warn about the second example, that approach would be too optimistic for cas

[2015-06-08 12:34] willlma opened #2724 "Can't have nested .eslintrc in home directory"
When I have one .eslintrc file at `~/.eslintrc`, everything works as expected. But when I add one to `~/project/extension` and try to lint `~/project/extension/index.js`, the former is ignored and only the first error in the file is reported (although there are many). Moving the former into `~/project` solves the problem, but I'd like to be able to use a generic `.eslintrc` for every `js` file on

[2015-06-08 13:20] btmills opened #2725 "Config comments sometimes ignore incorrect options"
Credit goes to @gyandeeps for catching this one:

[code]

[code]

[`eslint.js` line 290](https://github.com/eslint/eslint/blob/d007063bddc3674cac6c09ace68fb692d36d3116/lib/eslint.js#L290) was causing the incorrect configuration to be ignored because `semi:true` failed the filter.

This will be fixed by removing that line entirely and letting the validator catch any errors.

Working on this.

[2015-06-08 13:59] ilyavolodin commented on #2721
@michaelficarra It is impossible to determine 100% correctly, but we can do the same thing as `babel`. In some cases something is better then nothing.

[2015-06-08 14:01] ilyavolodin commented on #2724
This is working as designed. `.eslintrc` file in your home directory will only be picked up if no other files are found in the repository. If you would like to have one global file, then you should use `extends` functionality.

[2015-06-08 14:01] #2724 closed

[2015-06-08 14:02] #2725 closed

[2015-06-08 14:03] ilyavolodin commented on #2723
I'm not 100% sure I follow what you are asking for. Could you provide a few valid and invalid use cases?

[2015-06-08 14:05] gcochard commented on #2724
See #2279, this is the correct behavior.

You can create a subdirectory for your projects that should all share the same config, and put a `.eslintrc` in there.

[2015-06-08 15:11] denis-sokolov commented on #2723
Sorry about that. I have updated the main comment with examples.

[2015-06-08 16:14] xjamundx commented on #2715
Yeah I'm with @silverwind on this. 2 reasons:

1. Projects like io.js literally cannot rely on having any `node_modules` folder
2. It's much easier to teach new users to ESLint how to use rulesdir.

Not sure if this discussion is done done, but I think there are some valid reasons to get this feature.

[2015-06-08 16:20] nzakas commented on #2715
The discussion is done. There are a lot of problems with `--rulesdir`, not the least of which being naming collisions between custom and native rules. It was a hack until we figured out something better.

If someone wants to propose a new way to load custom rules in a config file that avoids this problem, feel free. In the meantime, `--rulesdir` isn't going to be removed until 2.0.0, and there are

[2015-06-08 16:23] nzakas commented on #2645
@michaelficarra we always handle exceptions on a case-by-case basis.

[2015-06-08 16:23] nzakas commented on #2693
@sindresorhus was your suggestion serious? :)

[2015-06-08 16:26] sindresorhus commented on #2693
It was just to be completely safe, but I guess these are enough:

- hasOwnProperty
- isPrototypeOf
- propertyIsEnumerable

[2015-06-08 16:27] nzakas commented on #1897
I think we can create an option `allowArrowFunctions` to exempt arrow functions from this check.

[2015-06-08 16:30] nzakas commented on #2077
Yup, thanks!

[2015-06-08 16:34] nzakas commented on #2718
I don't believe the point of this rule would just be to catch runtime errors - it's to flag when you are overwriting a variable that you should not overwrite, just like the other similar rules.

[2015-06-08 16:43] michaelficarra commented on #2718
What you "should not overwrite" was already kind of defined by the language, since it allows writing to the outer variable, but not the inner one. I thought this rule was just trying to enforce that restriction statically (like #2719 would with `const` declarations), which is both possible to do and likely @mysticatea's intent since these issues were filed at the same time. Should all but the firs

[2015-06-08 17:02] cbas opened #2728 "ES7 Function Bind Syntax"
I get an error when using ES7 function bind. This experimental feature is currently supported by Babel (as of 5.4.0).

foobar.js:
[code]

[code]

[code]

Is this supported yet by Eslint? I'm not sure where to start looking.

References:
- https://github.com/zenparsing/es-function-bind
- https://github.com/babel/babel/pull/1518

[2015-06-08 17:15] nzakas commented on #2720
@michaelficarra I think what you're saying is that `super()` must be called during the constructor, but not necessarily directly within `constructor`?  If not, can you explain why this can't be statically determined?

[2015-06-08 17:20] nzakas commented on #2716
@michaelficarra names definitely do matter, otherwise we would just do W012 as JSHint does. We've seen over and over that people don't necessarily read the documentation for every rule they use, and we have gotten reports that rules don't say what that mean.

@tornewuff I'd just do a new rule, it's easier all around. Regarding the label, that's fine, I just try to be mindful of people's time.

[2015-06-08 17:24] nzakas commented on #2728
ESLint doesn't support experimental features natively. You'd need to use babel-eslint for that.

[2015-06-08 17:24] #2728 closed

[2015-06-08 17:28] nzakas commented on #2723
`in` searches the entire prototype chain, not just the immediate prototype, so these are not identical.

From the description, this seems more like a personal preference than a generalizable rule, so I think it would be better off as a custom rule.

[2015-06-08 17:28] #2723 closed

[2015-06-08 17:34] cbas commented on #2728
Aha, thank you very much for the tip! :+1:

[2015-06-08 19:08] silverwind commented on #2715
I think plugin loading should follow `require` conventions. Either specify by name (which loads from node_modules) or by relative path (starting with `./`). I can look into doing a PR if you'd agree to this.

[2015-06-08 19:20] denis-sokolov commented on #2723
@nzakas, the entire point of my rule is these are not identical.
The `in` in cases presented is a programmer's logical error and that's what I am trying to prevent.

[2015-06-08 20:21] Raynos opened #2729 "Performance linting"
There are various performance oriented rules that one can think of that may or may not be out of scope for eslint.

This issue is to discuss whether eslint should ship with linting rules aimed at writing performant javascript.

Some examples:

 - disallow `.bind()` as its a de-optimization
 - disallow `.map()`; `.forEach()` and friends as for loops are more performant.
 - support a blacklist of mo

[2015-06-08 20:25] willlma commented on #2724
Thanks, @ilyavolodin. Is this mentioned in the docs? Would be great to have a warning in `DEBUG=eslint:*` command. Spent too many hours figuring out why it wasn't working as I was transitioning from JSHint, which does allow for this behaviour.

[2015-06-08 21:11] xjamundx commented on #2729
These rules are totally needed and at least for starters would be great as a seperate plugin.

[2015-06-08 22:57] ilyavolodin commented on #2729
Agree with @xjamundx those are really nice rules to have, but I do think it's probably a good idea to start them out as a plugin. Reason being that while they are useful for everyone, one a small subset of people will probably turn them on.

[2015-06-08 23:00] xjamundx commented on #2729
My true dream for all of this stuff is for them to be part of a babel transform that just converts the slow stuff into fast stuff :)

[2015-06-08 23:07] mathieumg commented on #2729
But then it doesn't educate the developer. That's the reason behind the "autofix" feature in the ESLint 2.0 wishlist: warn (slap on the wrist), autofix!

[2015-06-08 23:30] jokeyrhyme commented on #2713
While you're at it, would it be possible to sneak in an "eslint:all" definition? There are quite a few rules that are disabled by default (pre-1.0), and this would be especially helpful for someone that appreciates strict linters. I fully expect that a few would need to be overridden (e.g. quotes and cyclical complexity), but this would drastically reduce the size of my .eslintrc files.

[2015-06-08 23:44] Raynos commented on #2729
@ilyavolodin @xjamundx @nzakas

I think performance linting is a non-trivial critical problem and many people would benefit from it.

If we all agree it's a good idea; would it be ok to to write the plugin under the `eslint` github organization. This would force discussion and code review, as well as complying with the `eslint` style guides and contribution model.

It would still be an optional pl

[2015-06-09 00:13] ilyavolodin commented on #2729
@Raynos Don't get me wrong, I completely agree that people would benefit from it:-) But performance is neglected in a lot of cases... The most popular front-end framework right now is Angular, so I think it makes my case for me:-) If @nzakas agrees to ESLint org repository for it, I think that would ideal solution.

[2015-06-09 00:52] mysticatea commented on #2718
I thought, most developer doesn't feel that the `FunctionDeclaration` statement is a variable, so the `no-func-assign` rule exists.
The `ClassDeclaration` statement has a same kind of issue.

And at same time, the `ClassDeclaration` and the named `ClassExpression` have an issue about assigning to the name from its class body. It raises a runtime error.

I think @michaelficarra is right on semantic

[2015-06-09 01:52] mysticatea commented on #2628
FYI: [generator-star-spacing](http://eslint.org/docs/rules/generator-star-spacing)'s option is `before`, `after`, `both`, or `neither`.

[2015-06-09 02:01] hzoo commented on #2628
Hmm I guess we can go with either of those - and maybe try to make all the `spacing-x` rules consistent in 1.0?

[2015-06-09 04:31] gcochard commented on #2713
I'd like to keep this as simple as possible for now. Please open a separate issue to track `eslint:all` and I'll get to it as soon as this one is finished.

[2015-06-09 04:38] jokeyrhyme opened #2730 "Create "eslint:all" to extend from"
Similar to #2713 .

For example, here is one of my .eslintrc files that turns on all "off by default" rules (with a few tweaks): https://github.com/jokeyrhyme/appcache.js/blob/bdddf7011bf5a3190e26a614adc8f918a2583596/.eslintrc
That's a 26 rule lines in my .eslintrc file that has to be copied and synchronised between all of my projects.

With a way to extend "eslint:all", I'd only have to specify 2

[2015-06-09 04:38] jokeyrhyme commented on #2713
@gcochard thanks. :)

[2015-06-09 07:13] jwarkentin commented on #2684
The obvious solution is to create a separate rule that differentiates between all unused expressions versus noops. Any time there is a function call or an assignment as part of an expression, the rule would not flag it as a noop. All other unused expressions would be caught by the rule.

This is obviously a rule that the community would like and it has been demonstrated many times that the pattern

[2015-06-09 07:34] ljharb commented on #2645
One other thing to note:
[code]

This will error as-is, because the function name is technically shadowing the variable. However, nothing inside the function references "a". Even in the default case, is there any value on warning here?

[2015-06-09 08:09] mysticatea commented on #2645
@ljharb I think it is re-declaration. It's reported by [no-redeclare](http://eslint.org/docs/rules/no-redeclare).

[2015-06-09 08:47] ljharb commented on #2645
Ah, perhaps in that case. How about:
[code]

[2015-06-09 12:23] lo1tuma commented on #2729
* How do you know that all of your suggested built-ins (`.bind`, `.map` etc) are slow in all js engines?
* Are you sure that those built-ins are slow in future releases of any js engine (e.g. v8)? Maybe they become faster than the workaround.

I think you should better spend the time to optimize at algorithm-level.

[2015-06-09 13:39] KevinGrandon commented on #2684
+1. I recommend creating a new rule, `no-usless-expresions` as well, which would have a subset of the original functionality of the `no-unused-expressions` rule. I think this is the best course of action for the core project, so I will file an issue for a feature request and see what happens.

[2015-06-09 13:46] KevinGrandon opened #2733 "Rule suggestion: Create an option for allow-short-circuit-evaluation"
Please see the comments below by jwarkentin about creating an `allow-short-circuit-evaluation` option.

---

Please see https://github.com/eslint/eslint/issues/2684#issuecomment-110255859

We would like to differentiate no-op statements against unused statements. The no-useless-expressions rule would be a subset of the no-unused-expressions rule, and would error on things like:

[code]

[2015-06-09 13:56] mathieumg commented on #2733
:+1:

[2015-06-09 14:42] lo1tuma commented on #2733
What about `foo.a + foo.b;`?

Properties can have getters with side-effects so you will never know if this pattern is a useless expression.

[2015-06-09 15:07] michaelficarra commented on #2719
I would like to see this rule apply to other constant bindings such as the function name binding created by `(function a(){ a = 0; });`, `class A { f(){ A = 0; }`, and `(class A { f(){ A = 0; } });`.

[2015-06-09 16:01] astephenb commented on #2419
@nzakas I would prefer a configuration option in `.eslintrc`. As to how to handle cascading extensions, would it not make sense to overwrite existing extensions like other rules?

[2015-06-09 16:10] keradus opened #2734 "no-wrap-func - found false positive"
[code]

Everything is OK, but, when used space between function name and `(`

[code]

it raise error:

this is false positive

[2015-06-09 16:13] michaelficarra commented on #2720
@nzakas I was referring to `super()` that would be conditionally called. But if we're okay with the following program not producing a warning, I'm good with this.

[code]

[2015-06-09 17:05] nzakas commented on #2730
If you were using plugins, would you expect all plugin rules to be on as well?

[2015-06-09 17:10] nzakas commented on #2729
I'd hesitate to create any performance-specific rules as part of ESLint core because performance is not constant. `bind()` is slow *right now*, but that doesn't mean it always will be. For `map()`, the performance difference vs. a loop is inconsequential for any reasonable size array.

So, I agree with the suggestion that this is better as a plugin.

[2015-06-09 17:10] #2729 closed

[2015-06-09 17:15] nzakas commented on #2733
We don't create rules that are subsets of existing rules - that creates too much confusion. The only potential option would be to add an option to the existing rule, but as @lo1tuma points out, I'm not sure what you're looking for is truly possible to determine through static analysis.

[2015-06-09 17:18] nzakas commented on #2715
Before you write any code, please file an issue about extending plugin loading so we can discuss the various details.

[2015-06-09 17:19] nzakas commented on #2734
Can you please share the exact prior, including line numbers?

[2015-06-09 17:21] nzakas commented on #2723
Yes, I just think it's a huge leap to say using `in` is probably a mistake.

Remember, the whole point of allowing custom rules is so you don't have to convince us of your point of view. You can still write a rule to do this, I just dying think it fits as a core rule

[2015-06-09 17:23] nzakas commented on #2724
Yes, this is explicitly mentioned in the docs: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

[2015-06-09 17:27] Raynos commented on #2729
@nzakas thanks. I'll create a plugin for it.

[2015-06-09 17:31] denis-sokolov commented on #2723
Sure, if you don't think it fits a core rule, I got my answer.

Your previous answer seemed misled by me not explaining myself well enough, thus I have asked for clarification. Thanks!

[2015-06-09 17:35] michaelficarra commented on #2733
@nzakas This is exactly as analysable as `no-unused-expressions`. I believe this rule proposes allowing anything that could determine whether one of the currently accepted effectful expressions is reached. For example, this would be allowed under this proposal, but not under `no-unused-expressions`:

[code]

[2015-06-09 18:23] willlma commented on #2724
@nzakas I see no mention of the fact that you can't place a `.eslintrc` file in the home directory.

Those last words seem to imply that it would work.

[2015-06-09 19:48] jwarkentin commented on #2733
Through static analysis it is difficult or impossible to catch every case, but it would catch almost all cases if the rule simply allowed function calls and assignments in an expression and warned on anything else.

So, the following would all be valid:
[code]

I wouldn't worry about getters and setters since they are not as commonly used and it's difficult to know if they exist. Let's just handle

[2015-06-09 19:57] jwarkentin commented on #2733
FYI, there was a pull request a while back that changed the behavior. You could work off of this pull request to add a flag if that's the preferred route to do it. See https://github.com/eslint/eslint/pull/2417

[2015-06-09 20:09] Skalman opened #2735 "Rule proposal: no-code-in-comments"
While developing, I frequently try different solutions, and end up with commented-out code, which I occasionally even commit. I'd like for ESLint to warn me about this.

## How to detect code
A line of code ends with one of the following characters: `{};` .
* Advantages: Simple.
* Disadvantages: Would miss something like `//console.log('test')`, and while testing code ignoring the semicolon is pro

[2015-06-09 20:15] lo1tuma commented on #2735
Duplicate of #604.

[2015-06-09 22:34] jokeyrhyme commented on #2730
If I installed a plugin, then yes I would expect the plugin to be activated. I actually install eslint locally to the project, so each project would only ever have the plugins that I wanted. So in my case, it'd be easier to just override a few settings after extending "eslint:all". This suits me best, YMMV.

I am using the eslint plugin for Atom, which I suppose counts as a "global" install, but I

[2015-06-09 22:36] jokeyrhyme commented on #2730
Will it be easy to make up our own definitions that can be NPM installed and then extended?
Maybe an alternative to "eslint:all" is being able to:

1. publish "@scope/my-eslint-rules" to npm
2. `npm install @scope/my-eslint-rules` in each project
3. in each project: .eslintrc just extends "@scope/my-eslint-rules"

[2015-06-09 23:10] nzakas commented on #2419
@astephenb it's a bit complicated to do that. Right now, a list of files to check is generated upfront, so it would have to be changed to be calculated as we came across configs. This would be a significant refactor, which is why I'm hesitating. Unless someone wants to do the work to investigate the details, I'm not sure this will get done.

[2015-06-09 23:15] nzakas commented on #2724
If you keep reading, you'll come across this:

Project-level configuration:

1. .eslintrc file in same directory as linted file
1. package.json file in same directory as linted file
1. Continue searching for .eslintrc and package.json files in ancestor directories (parent has highest precedence, then grandparent, etc.), up to and including the root directory.
1.** In the absence of any configurati

[2015-06-09 23:18] nzakas commented on #2735
We closed #604 as being too difficult to make work correctly. Your proposal has some significant blind spots (not working unless you use semicolons is a big blind spot).

Unless you have an idea for how to make this more reliable, I don't see this moving forward.

[2015-06-09 23:21] nzakas commented on #2718
@michaelficarra you're arguing language design over developer concerns here, and since ESLint is developer-focused, we must bias towards what is useful to people outside of what the language provides. In this case, I can see the concern that @mysticatea is bringing up and agree that it's analagous to function declarations.

[2015-06-09 23:30] nzakas commented on #2733
`new` needs to be considered the same as a function call.

@jwarkentin please propose a new option for this rule and explain specifically what it would do as compared to what the rule currently does.

[2015-06-09 23:32] nzakas commented on #2628
We need to move fast if we want a change in 1.0. Which format do people prefer?

[2015-06-09 23:34] nzakas commented on #2645
@ljharb please include the actual  ESLint output. "This will error" is not enough information.

[2015-06-09 23:39] nzakas commented on #2719
Those would be covered by no-func-assign and no-class-assign, I believe.

[2015-06-09 23:40] nzakas commented on #2720
Yeah, I think we are OK with that.

[2015-06-09 23:42] nzakas commented on #2730
We have shareable configs: http://eslint.org/docs/developer-guide/shareable-configs

So are you saying that with "eslint: all", you *would* expect plugin rules to be enabled by default?

[2015-06-09 23:47] ilyavolodin commented on #2628
I think `{"before": true, "after": true}` is the best structure. It's the easiest to configure and the least verbose. I think we might want to create a more generic task to compare options among all rules and bring them to similar standard. Now that we have rule schemas it should be easy to get a list of all available options.

[2015-06-10 00:15] mysticatea commented on #2628
I also prefer `{"before": true, "after": true}`.

FYI, about other `*-spacing` rules:

- [key-spacing](http://eslint.org/docs/rules/key-spacing)'s option is an object such as `{"beforeColon": true, "afterColon": true}`. This rule has more an option for vertical alignments, so it's not `property-colon-spacing`.
- [object-curly-spacing](http://eslint.org/docs/rules/object-curly-spacing)'s option is

[2015-06-10 00:46] jokeyrhyme commented on #2730
For me, personally, "all" means everything and the kitchen sink (including plugins and the rules they provide).

But this is just me and my use cases, I have no idea how many other people would want "all" and how many of those would be upset with what suits me best. /shrug

@nzakas thanks for the documentation link. :)

[2015-06-10 00:50] jokeyrhyme commented on #2730
Actually, Shareable Configs is pretty sweet. If you don't think "all" is useful for others, I'd be happy to just close this Issue in favour of Shareable Configs.

[2015-06-10 00:56] nzakas opened #2736 "Alter config lookup?"
this was brought up in the chat room, and I want to make sure we don't lose the discussion.there still seems to be a lot of confusion around configuration look up and how far it does or should go up to the directory structure. We had up until this point I looked all the way up to the home directory for configuration files. We would only use a configuration file in the home directory if there were

[2015-06-10 01:00] gyandeeps commented on #2736
I personally would like the root option. :+1:

[2015-06-10 01:00] nzakas commented on #2730
I think this could be useful - just wanted to drill down to the details.

[2015-06-10 02:18] #2698 closed

[2015-06-10 02:23] ilyavolodin commented on #2734
I think that was supposed to be "exact message".

[2015-06-10 04:14] michaelficarra commented on #2734
I think it was supposed to be "exact error".

[2015-06-10 04:21] nzakas commented on #2734
Yikes, stupid autocorrect is killing me lately. Yes, exact error.

[2015-06-10 05:38] gfxmonk opened #2738 "no-unused-vars suggestion: ignore vars with a leading underscore"
I like the no-unused-vars rule, but it often triggers when I have no real choice. For example, callbacks which take multiple arguments but don't use them all:

    ['foo','bar'].map(function(elem, idx) { return idx; });

Obviously this is a pretty useless example, but there are plenty of cases where you need to bind one variable in order to use a later one. Destructuring assignments are another ca

[2015-06-10 06:41] mysticatea commented on #2734
I guess this pattern will become valid by the next way: If the `FunctionExpression` was placed at `CallExpression.arguments[0]`, and `CallExpression.arguments.length === 1`, the `no-wrap-func` rule skips it.

[2015-06-10 06:53] Skalman commented on #2735
The way I see it, it's better to warn about most of the commented code, even if we can't catch all. The important thing is that we don't catch cases that *aren't* code. Here are some other patterns that are common in JS, but pretty much non-existent in English, and I believe other languages too:

[code]

Here is some normal, commented-out code that the above regexes suggestions *won't* catch, but

[2015-06-10 07:49] interactionist commented on #2302
I wrote my own .eslintrc boilerplate based on http://eslint.org/docs/rules and just started implementing a interactive command line user interface (inquirer) to it so that you can easily set it up. I was just tired to manually configure it.

```bash $ eslint-initializer```

I think that's what you are up to as well, @nzakas?

[2015-06-10 08:08] Jxck commented on #2628
I wanna clarify about `{ "before": true, "after": true }`.

eslintrc maybe looks like

[code]

and default value is `{ "before": true, "after": true }`

so

`{ "before": true, "after": true }`
- 1 space around arrow like `() => {}` is valid.

`{ "before": false, "after": false }`
- no space around arrow like `()=>{}` is valid.

`{ "after": false }`
- same as `{ "before": true, "after": false }`

`

[2015-06-10 08:59] lo1tuma commented on #2735
What about an example code in comment, this should not be a warning:

[code]

[2015-06-10 10:18] keradus commented on #2734
full file:
[code]

full output (using via gulp):
[code]

full .eslintrc file:
[code]

Can I provide any more information to help solving that issue ?

[2015-06-10 11:06] mysticatea opened #2739 "`prefer-const` rule should treat `ForInStatement` with the same way as `ForOfStatement`."
This detail is [here](https://github.com/eslint/eslint/pull/2639#issuecomment-110316705)
`for-in` are considered warnings that the same as `for-of`.

[2015-06-10 12:08] mysticatea commented on #2734
If this issue accepted, I will send a PR.

[2015-06-10 12:48] cwrea commented on #2588
Works great! Thank you all.

[2015-06-10 13:20] michaelficarra commented on #2738
See previous issues about this. The function parameter case is already an exception in this rule. For array binding patterns, you can use holes.

[2015-06-10 13:53] ilyavolodin commented on #2628
@Jxck Yes, those examples are correct.

[2015-06-10 13:56] ilyavolodin commented on #2734
That does look like a bug.

[2015-06-10 14:15] michaelficarra commented on #2734
This rule was recently deprecated. Do we really want to continue fixing bugs in it? Also, I believe this issue was previously brought up in https://github.com/eslint/eslint/issues/2477.

[2015-06-10 14:27] mysticatea commented on #2734
really? I hadn't known it. thank you.

[2015-06-10 14:35] keradus commented on #2734
This rule is not deprecated on http://eslint.org/docs/rules/ :(
It would be great to release that info (or fix a bug until rule will be officially deprecated)

[2015-06-10 14:37] mysticatea commented on #2734
in fact, I had fixed already, so I  can send a PR.
if we continue fixing, tell me.

[2015-06-10 14:38] keradus commented on #2734
I wonder if this bug exists in rule that replaces this one.

[2015-06-10 16:32] nzakas commented on #2302
Yes, `--init` is already released, so you can use it today.

[2015-06-10 16:34] nzakas commented on #2735
@Skalman I'm sorry, I'm very uncomfortable with regex based matching for this. Too many possibilities for problems.

Of course, you can always write a custom rule that does this for your own code, I just don't see this going into our core rules.

[2015-06-10 16:34] #2735 closed

[2015-06-10 16:41] #2739 closed

[2015-06-10 16:43] nzakas commented on #2738
See #2321. Duplicate request.

[2015-06-10 16:43] #2738 closed

[2015-06-10 16:50] nzakas commented on #2734
The deprecated notice hasn't been published yet, but is in master: 2142db5d9ab7175495895d3ea7086e4a7e8f7e49

The replacement is `no-extra-parens`, we should double check that on master for this issue.

[2015-06-10 19:59] btmills commented on #2736
Short of having a full IDE-esque project system (which is not something we want), I think the `root` option is the closest we'll get to "this is the top of my project; don't let anything else clobber it." I'm in favor :+1:

[2015-06-10 20:13] fakewaffle commented on #2736
I've wasted a few hours in the past by having config lookup further than the directory it was in. Is there a way to prevent searching outside of the current folder?

[2015-06-10 21:29] ilyavolodin commented on #2736
@fakewaffle Not currently, that's exactly the feature that is being discussed in this thread.

[2015-06-10 22:38] ilyavolodin opened #2742 "New version of Sinon is breaking all builds"
New version of Sinon (v1.15.1) was released and is missing a folder. We should pin Sinon to version 1.14.1 till this is fixed.

[2015-06-10 22:41] gyandeeps commented on #2742
If we do this then we need to make sure revert this commit later when sinonJs fixes the issue.

[2015-06-10 22:42] ilyavolodin commented on #2742
Yes, we've already done this with a few other packages before.

[2015-06-10 22:43] gyandeeps commented on #2742
Sounds good.

[2015-06-10 22:45] yaycmyk opened #2744 "brace-style needs an option for arrow function shorthand"
In my project I'd like to force linebreaks for braced-statements in all cases except arrow function shorthand.

For example:

[code]

Is there a way to achieve this with the current ruleset?

[2015-06-10 22:51] ilyavolodin opened #2745 "Unpin io.js and sinon dependancies"
We are currently setting Travis to run only io.js v2.1.0 and sinon is pinned to version 1.14.1 due to bugs in the following versions. Once the fix for Sinon is released, we should unpin both dependencies.

Status:
- [x] iojs - New version has been released
- [x] SinonJs - Tracking https://github.com/cjohansen/Sinon.JS/issues/761 - 1.15.3 has fixed this issue

[2015-06-10 22:53] #2742 closed

[2015-06-10 22:54] gyandeeps commented on #2745
Update:
- [x] iojs - New version has been released
- [ ] SinonJs - Tracking https://github.com/cjohansen/Sinon.JS/issues/761

[2015-06-10 22:55] ilyavolodin commented on #2745
We should probably upgrade `object-assign` at the same time to version 3.0.0

[2015-06-10 23:17] Skalman opened #2746 "context.report() does not handle 'my message {{0}}'"
I'd like the following to work, when writing a custom rule:
[code]

The reason is this line:
https://github.com/eslint/eslint/blob/7a3c545272821a2aa47bfd87b0c01ba48812616f/lib/eslint.js#L779
[code]

[2015-06-10 23:23] gyandeeps commented on #2746
why don'y you do it like this:

[code]

[2015-06-11 00:04] gyandeeps commented on #2745
I think we should update `estraverse` because as of now `espree` supports `super` but our version of estraverse doesn't. thoughts @michaelficarra ?

[2015-06-11 00:23] Jxck commented on #2628
@ilyavolodin ok, I implemented that in my code as PoC.
https://github.com/Jxck/eslint-plugin-arrow-function (v0.0.3)

[2015-06-11 00:31] nzakas commented on #2746
I'm sorry, this is working as intended and won't be making a change.

[2015-06-11 00:33] nzakas commented on #2736
I'd like to hear some opinions on whether or not the decision to keep looking up past the current working directory was correct or not: should we just stop at the cwd always?

[2015-06-11 00:35] nzakas commented on #2744
Is much easier for us to discuss this of you include how you configured the rule, what ESLint outputs with that configuration, and what you'd like it to output.

[2015-06-11 00:56] ilyavolodin commented on #2736
I can't come up with scenario where looking up past `cwd` would be required, but I'm sure somebody has a usecase.

[2015-06-11 01:28] mysticatea commented on #2734
`no-extra-parens` works for this!

[code]

[2015-06-11 04:57] jwarkentin commented on #2733
I don't know if you prefer more verbose names or shorter names for options, but here are some possible option names: `allow-short-circuit-evaluation`, `allow-short-circuit`, `short-circuit-evaluation`, `short-circuit` or just `sce`.

Basically, the option would allow short circuit evaluation as described [here](http://en.wikipedia.org/wiki/Short-circuit_evaluation). That is, it would not warn if a

[2015-06-11 05:06] ev0rtex commented on #2733
If it would help I'd be happy to take some time and modify the code I submitted in #2417 (referenced above by @jwarkentin) to put the functionality behind an option. I have seen a decent number of issues here concerning this behavior. Short-circuit evaluation is a common practice in JS and it's my two cents that it should be allowable without having to litter code with comments.

[2015-06-11 05:32] xjamundx commented on #2736
sounds reasonable.

Not following why we'd need to have anything other than that other than loose parity with `require()` rules, but it seems counter-intuitive and worth revisiting if it causes confusion IMO!

[2015-06-11 06:02] Skalman commented on #2746
@gyandeeps Because I'm automatically generating the key(s), see below.
@nzakas Are you sure? Is there a reason not to support numeric keys? And why would you want any numeric keys to match weird things?
[code]

I really don't see a reason to keep this bug.

[2015-06-11 09:37] RReverser opened #2747 "block-scoped-var fails on mutual recursion"
Simplified my case to the following code:

[code]

And simplified eslintrc that allows to reproduce the issue:

[code]

Without `blockBindings` enabled, only `no-use-before-define` fails.
Turning `modules` on/off doesn't affect the result, only adds `use strict`-related check in this case.

[2015-06-11 11:24] lo1tuma commented on #2736
I don't have a strong feeling about this, like @ilyavolodin I’ve never been in a situation of having a config file outside the cwd.

[2015-06-11 12:28] btmills commented on #2745
Supposedly sinon@1.15.3 has fixed the issue.

[2015-06-11 12:52] RReverser commented on #2226
I'm having currently conflicts between `space-in-brackets: [2, "never"]` and `object-curly-spacing: [2, "always"]` rules. Is it part of this issue and thus will be auto-fixed (i.e. `space-in-brackets` will be deprecated in favor of separate rules or smth.) or should I submit another one?

[2015-06-11 13:08] RReverser opened #2748 "object-shorthand should have an exception for named functions"
In general, I want to enforce `object-shorthand` rule in all my code.

However, I also care about proper function names (`.name` property) and would like to have a [configurable] exception for cases when function name is explicitly set and is different from property name like in following case:

[code]

[2015-06-11 13:20] RReverser opened #2749 "no-extra-parens conflicts with arrow function returning object"
In order to return object from arrow function, one should use following syntax:
[code]

Since curly braces after arrow mean beginning of block otherwise.

However, `no-extra-parens` rule treat this as unnecessary parentheses while it's definitely required one.

[2015-06-11 13:25] hzoo commented on #2749
Ah I did a search and it looks like it's been reported in https://github.com/eslint/eslint/issues/2702 as well

[2015-06-11 13:26] RReverser commented on #2749
Ouch, didn't find that one. Thanks.

[2015-06-11 13:26] #2749 closed

[2015-06-11 13:37] michaelficarra commented on #2746
:+1: This is a bug and we should fix it.

[2015-06-11 13:41] tomaskulich opened #2750 "no-use-before-define: noclass option (similar to nofunc) would be handy"

[2015-06-11 13:48] michaelficarra commented on #2748
Why would it be warning about that case to begin with? This is a bug report, not a feature request. :+1:

[2015-06-11 13:53] michaelficarra commented on #2750
I think we should just extend `nofunc` to be an exception for all declarations. This would include function, generator, class, export function, export generator, and export class declarations.

[2015-06-11 13:53] gyandeeps commented on #2667
**Need feedback:** what should happen under this scenario

[code]

[2015-06-11 13:56] tomaskulich commented on #2750
That's definitely OK by me, if there is a consensus on this, I can do it like this.

[2015-06-11 13:58] xjamundx commented on #2226
Yes `space-in-brackets` will be deprecated. I'm starting working on `array-bracket-spacing` today!

[2015-06-11 14:09] xjamundx commented on #2203
To fill in some of the "make everything a plugin" talk. I could see us splitting the rules into a few plugins, for example all of the spacing rules, could easily make sense as their own plugin. All of the ES6 stuff another plugin, etc. At this point there are many rules and they become hard to follow, splitting them into logical groups might help for a lot of reasons.

[2015-06-11 14:14] xjamundx commented on #2226
Similarly to `curly-braces-spacing` do we automatically apply the whitespace rules for `array-bracket-spacing` to destructuring syntax?

[2015-06-11 14:20] xjamundx opened #2752 "object-curly-spacing missing arraysInObjects exception & schema"
I forgot to add the `arraysInObjects` exceptions to `object-curly-spacing`.

Here is how it should work:

When `"arraysInObjects"` is set to `false`, the following patterns are considered warnings:

[code]

The following patterns are not warnings:

[code]

It's also missing a schema.

[2015-06-11 14:49] mathieumg commented on #2667
I think it should not error then. A common use case will be:

[code]

[2015-06-11 15:00] fakewaffle commented on #2736
I would prefer not to have it search outside the `cwd`.

[2015-06-11 15:04] RReverser commented on #2226
Thanks!

Yes, it would feel pretty logical.

[2015-06-11 15:05] RReverser commented on #2748
@michaelficarra Maybe, wasn't sure as I don't know the intentions behind `object-shorthand`. But in any case, yes, I don't expect warning here.

[2015-06-11 15:09] keithamus opened #2754 "Cannot use "extends" within package.json"
Not sure if this is me being stupid or not - but I cannot seem to load the `extends` directive within the package.json `eslintConfig`.

If I have an `.eslintrc` file with the following:

[code]

All works fine. Now if I try to put that in my package.json:

[code]

It reverts to the default eslint configuration - i.e. not extending from the strict config. I couldn't read anything in the docs sugges

[2015-06-11 15:34] michaelficarra commented on #2748
More evidence that this must be a bug is that methods can't self-reference but NFEs can. This shouldn't cause a warning:

[code]

[2015-06-11 15:36] RReverser commented on #2748
@michaelficarra Yeah, likely... but for such case I'd also check for self-reference - if it doesn't exist, then warning should be emitted.

[2015-06-11 15:36] gcochard commented on #2736
FWIW I do have a config for a few of my projects in the directory above them. It's a convenience mostly so I wouldn't be upset if this went away given the confusion it is causing.

[2015-06-11 15:37] xjamundx commented on #2748
Yeah I think we can say if there is a name it shouldn't warn yeah? I'm fine with that as a geneal exception.

[2015-06-11 15:38] michaelficarra commented on #2748
@RReverser Now that would be an enhancement.

[2015-06-11 15:41] michaelficarra commented on #2747
@RReverser `no-use-before-define` doesn't allow the reference to appear anywhere before the definition in the program text. The more sane configuration, in my opinion, is the `nofunc` option, and it should fix your problem.

[2015-06-11 15:42] RReverser commented on #2748
Ah, maybe.

[2015-06-11 15:47] michaelficarra commented on #2719
@nzakas No, that's not what `no-func-assign` does, and `no-class-assign` is currently proposed to catch assignments to writable bindings. I am proposing this rule catches writes to all const bindings and nothing more.

[2015-06-11 15:52] RReverser commented on #2747
@michaelficarra Doesn't help for classes though (which was my original case).

I'd just wish the rule would be somewhat smarter and wouldn't warn when definition *outside* of the function/class boundary is referenced.

Also - what about `block-scoped-var`?

[2015-06-11 16:24] michaelficarra commented on #2747
There's a proposal to fix that: https://github.com/eslint/eslint/issues/2750

What's the problem you're having with `block-scoped-var`?

[2015-06-11 16:36] gyandeeps commented on #2754
Can you please run eslint using the DEBUG flag and share the output.
[code]

[2015-06-11 16:47] RReverser commented on #2747
See title - it also fails with given example & config.

[2015-06-11 16:47] RReverser commented on #2747
Haha, just in time :)

[2015-06-11 16:49] RReverser commented on #2750
Does it include function/class/generator expressions being assigned somewhere?

[2015-06-11 17:17] michaelficarra commented on #2750
@RReverser can you be more specific?

[2015-06-11 17:37] RReverser commented on #2750
`someVar = class {}`, `someObj.method = function () { ... }` and so.

[2015-06-11 17:44] tomaskulich commented on #2750
someInstance = new someVar();
     someVar = class {};

will cause warning. The behavior is the same for functions and was not the subject to my PR. However, personally I'd like if

    someVar = class {};

was the same (from the perspective of this rule) as

    class someVar{}

[2015-06-11 17:52] nzakas commented on #2733
I'm not sure if @KevinGrandon wanted this focused strictly on short circuit operations or not, it's unclear from the original description.

[2015-06-11 17:54] nzakas commented on #2745
Upgrades should be done separately so we can revert just one if necessary.

[2015-06-11 17:55] KevinGrandon commented on #2733
I am happy with a `allow-short-circuit` option as that would solve the use cases for myself, and many others it seems.

[2015-06-11 17:56] nzakas commented on #2746
This is working as intended. The last argument cannot be an array.

[2015-06-11 17:59] mathieumg commented on #2733
Same here, an option to whitelist the `a && a()` pattern and I'd be good to go.

[2015-06-11 18:00] nzakas commented on #2746
Sorry, was really thrown off by your using an array as the last argument.  Please be more descriptive when filing issues, it really saves me a lot of time as I triage a ton every day.

Let's use this as the test:

[code]

[2015-06-11 18:01] btmills commented on #2745
Upgrading to sinon@1.15.3, we get deprecation warnings in the test output:

![](https://www.dropbox.com/s/yq7aop2m1keekr3/Screenshot%202015-06-11%2014.01.09.png?dl=1)

[2015-06-11 18:03] PiPeep opened #2755 "eol-last documentation page is confusing"
Compare: http://eslint.org/docs/rules/eol-last
With: https://github.com/eslint/eslint/blob/master/docs/rules/eol-last.md

The newlines got stripped in the code block, making the examples impossible to understand.

*Migrated from eslint/eslint.github.io#74*

[2015-06-11 18:07] nzakas commented on #2203
@xjamundx unless you have a plan for the logistics around that (see my earlier comment), it's going to be hard to do that.

[2015-06-11 18:10] nzakas commented on #2667
I think we would need an `allowBlockEnd` for that case. Explicit > implicit

[2015-06-11 18:11] nzakas commented on #2226
Yes, definitely apply to array destructuring

[2015-06-11 18:13] gyandeeps commented on #2667
@nzakas Should that be a different issue or this one only?

[2015-06-11 18:17] nzakas commented on #2736
@xjamundx see link to the discussion in my original description. There was a string lobby for this functionality.

Keep in mind, if we make a change, then that's it - we can't change it again after this point.

[2015-06-11 18:19] nzakas commented on #2748
I think this is a bug. The intent is to show equivalence, and there is no equivalence here. I'd say just omit warning for any named function expression.

[2015-06-11 18:25] btmills commented on #2736
I don't use upper-level configs either, but I do want to throw out one more possibility to see what the response would be:

Right now, configs are merged all the way up, falling back to `~/.eslintrc` if nothing is found between `cwd` and `/`. What if, instead of merging, it takes exactly one of `./.eslintrc`, `../.eslintrc`, `../../.eslintrc`, ..., `/.eslintrc`, `~/.eslintrc`, whichever comes firs

[2015-06-11 18:25] nzakas commented on #2750
Let's make sure we are all taking about the same thing here.

@tomaskulich please provide:

1. The source code you're concerned with
2. The actual ESLint output
3. What you'd like the output to be

[2015-06-11 18:26] nzakas commented on #2747
@RReverser can you provide the actual ESLint output as well as what you'd expect the output to be?

[2015-06-11 18:27] nzakas commented on #2745
Wtf? Mock is a key utility in Sinon. Is there any docs on its removal?

[2015-06-11 18:28] nzakas commented on #2667
I think it's small enough to have in this one.

[2015-06-11 18:29] nzakas commented on #2736
@btmills feels a bit too magical to me

[2015-06-11 18:30] btmills commented on #2745
Looks like that conversation is occurring in cjohansen/Sinon.JS#745.

[2015-06-11 18:34] btmills commented on #2745
#2756 took care of the iojs portion of this. Do we want to include `object-assign` and `estraverse` as part of this issue too? I'm guessing we'll hold off on upgrading `sinon` for now.

[2015-06-11 18:39] nzakas commented on #2745
I'd open a separate issue for misc upgrades not related to breakage

[2015-06-11 18:39] ilyavolodin commented on #2736
@btmills I don't think that's a good idea. A common usecase is to have a separate config for `/test` and `/src` but a shared config at `/`. Your suggestion would make it impossible to do that, other then to use `extends`.

[2015-06-11 18:40] ilyavolodin commented on #2745
I think we might want to hold of with Sinon upgrade then. Mock is too important to have a warning printed out every time.

[2015-06-11 18:42] btmills commented on #2736
@ilyavolodin I guess I should clarify that my suggestion would only apply to `cwd` and above, and merging would still go on as normal below. That said, given your example, you'd have to run from the parent of both... which is no different from removing traversal above `cwd` entirely, so I'm in favor of stopping at `cwd`.

[2015-06-11 18:44] ilyavolodin commented on #2736
@btmills Ah.. Ok, got it. In that case I agree with @nzakas It does feel too "magical" to have a different behavior above `cwd` vs. below. It would be hard to explain to users, and I can foresee a tone of people coming back with problems that would be hard to trace.

[2015-06-11 18:45] RReverser commented on #2747
Sure, here it is:
[code]

I expected not to see any of these errors.

[2015-06-11 18:47] RReverser commented on #2748
Well, in fact there is definitely equivalence between
[code]
and
[code]
So

(at least as a future improvement)

[2015-06-11 19:03] mathieumg commented on #2667
@nzakas Would it still work with `allowBlockEnd` set to `true` even when `afterLineComment` is set to `false`?

I want to allow:

[code]

[code]

But disallow:

[code]

Just to be clear, my config would be:

[code]

[2015-06-11 19:30] #2755 closed

[2015-06-11 20:26] kentcdodds commented on #2736
Just to make sure, once eslint *finds* an `.eslintrc` file, it stops climbing the directory tree right? Meaning, it's not going to find all of the parent `.eslintrc` files and try to merge them together right?

I'm pretty sure that's what you mean, but here's my reasoning for why I suggest you don't merge all parents: I have githooks that ensure that you're not committing any eslint errors. If I h

[2015-06-11 20:35] btmills commented on #2736
@kentcdodds my idea was that it would only look for the first `.eslintrc` above `cwd` and stop when it finds one, but given @ilyavolodin's example, I'm not too thrilled about it. Personally I'd prefer the search for `.eslintrc` to top out at `cwd`, though it would still merge in subdirectories.

[2015-06-11 20:36] kentcdodds commented on #2736
@btmills that's fine with me. Subdirectories (should) be committed to source so we wouldn't have the problem I mentioned.

[2015-06-11 21:00] rgrove commented on #2736
I like the `root` option proposal, and I would prefer that ESLint _not_ stop climbing at the cwd (or ever, unless it encounters an `.eslintrc` with `root: true`). I often have an `.eslintrc` in a project root or in my home folder but run ESLint from a deep subdirectory. In my use case, the cwd is only ever a starting point for the config search.

[2015-06-11 21:08] gyandeeps commented on #2667
@mathieumg remember this rule only provides checks for option which are set to `true`. Igf you have something set to `false` the we just don't check for that option.

[2015-06-11 21:28] kentcdodds commented on #2736
If we got a `root` option, then I'd be fine with eslint climbing, that would solve my use case.

[2015-06-11 21:34] mathieumg commented on #2667
@gyandeeps All the same, I don't have configs with rules set to `false`, I just wanted to be super explicit with regards to the fact that this option wasn't enabled. I updated my previous post to remove explicit `false` options, my question still stands.

[2015-06-11 21:37] gyandeeps commented on #2667
For your disallow example, its the job of `padded-block` to tell whether you need empty lines for not. It has nothing to do with this rule I think.

[2015-06-11 21:38] btmills commented on #2667
Combining `padded-blocks` and `lines-around-comment` as shown should (if I'm not missing anything) achieve the desired results, right?

[2015-06-11 21:39] gyandeeps commented on #2667
I think so.

[2015-06-11 21:45] mathieumg commented on #2667
I just wanted to validate all that and avoid any clash. Specifically, that the comment-only block scenario is possible without `afterLineComment` having to be enabled.

[2015-06-11 21:47] gyandeeps commented on #2667
@mathieumg I have the PR ready. You can scan through the test cases and make some recommendation there. That would help me to look for bugs.
Thanks

[2015-06-11 21:48] gcochard commented on #2736
Yes, `root` sounds like the best option to me as well. It keeps the old behavior as-is, and still follows the principle of least surprise.

[2015-06-12 00:37] nzakas commented on #2747
It looks like nofunc solves your problem here, and #2750 would take care of the rest of your concerns there. So let's focus this issue on `block-scoped-var`.

`block-scoped-var` probably would need to be rewritten in order to properly support hoisting, as this looks like a bug.

[2015-06-12 00:43] nzakas commented on #2748
There's no equivalence there, as

[code]

Is equal to

[code]

The function needs to be anonymous for the two to be equivalent.

For now, we should just turn off the warning of the function expression has a name. Going into whether or not the name is used is overkill IMO.

[2015-06-12 00:45] nzakas commented on #2736
OK, thanks for the discussion. I'm not a fan of `root:true`, but it sounds like it would work for everyone so we shall make it so.

[2015-06-12 00:49] nzakas commented on #2721
Let's go for best effort here, I think this can be useful even without catching 100% of the cases. I like `no-this-before-super`.

[2015-06-12 00:52] nzakas commented on #2719
I'd prefer to have this rule just deal with `const` declarations. We can update `no-func-assign` to work with function expression names, and `no-class-assign` can handle the rest. That seems like a much more logical grouping for end-user understanding.

[2015-06-12 01:02] nzakas commented on #2754
Looks like we aren't properly loading package.json configs around here: https://github.com/eslint/eslint/blob/master/lib/config.js#L221

[2015-06-12 02:26] mysticatea commented on #2750
[code]

This code will raise a runtime error. `ClassDeclaration`s are NOT hoisted. It's not similar to `FunctionDeclaration`s. It's similar to `let`/`const` declarations.

See Also: http://www.2ality.com/2015/02/es6-classes-final.html#class_declarations_are_not_hoisted

We must be careful about it.

[2015-06-12 07:39] RReverser commented on #2747
Thanks!

[2015-06-12 07:52] RReverser commented on #2748
Not really - according to the spec, the function's `.name` property should be equal to the name of object property, so in runtime same-named function is actually the one equivalent to concise method.

[2015-06-12 08:00] RReverser commented on #2750
@mysticatea Sure, we are not talking about hoisting here.

[2015-06-12 10:29] keithamus commented on #2754
I've trimmed out sensitive info. The file is a bit of a mess so produces errors in both default and the `eslint-config-strict` settings, but you can clearly see the package.json is ignoring the extends directive:

[code]

Here's with the .eslintrc in place:

[code]

FWIW this is using eslint 0.21.1 but it seems like the issue is still relevant to 22.1.

[2015-06-12 10:47] tomaskulich commented on #2750
@nzakas

This whole issue is related to no-use-before-define rule.

As the title of the issue (noclass option (similar to nofunc) would be handy) implies: I'm proposing here a new functionality (new option) for the rule. Therefore typical bug-reporting (I write this, I expect that, I got else) is not applicable here. I'm sure that if you recall what no-use-before-define rule and its nofunc option

[2015-06-12 14:56] gyandeeps commented on #2754
Whats happening is that when we try to manage the `extends` logic at the time package json is at its original state. At this spot https://github.com/eslint/eslint/blob/master/lib/config.js#L83-L92
After everything happens then we refined the package.json to extract what we need. which happens at this spot https://github.com/eslint/eslint/blob/master/lib/config.js#L223-L230
By that time we are alre

[2015-06-12 15:59] matthewwithanm commented on #2091
Another example:

[code]

[2015-06-12 16:37] nzakas commented on #2748
The `name` is not a binding:

[code]

vs.

[code]

See: https://github.com/johnstonbl01/eslint-no-inferred-method-name

[2015-06-12 16:55] ljharb commented on #820
I'm running into trouble with the merging behavior - a module A has a newer version of eslint with a new rule. it's dep is module B, which has an older version, and an eslintrc that doesn't have the new rule. In module A, `npm explore B npm run eslint` (where `npm run eslint` eslints my files), errors, because B's `eslint` is walking upwards and grabbing the incompatible eslint file from project A

[2015-06-12 16:56] silverwind opened #2759 "escape and unescape are not recognized as globals"
These two are defined in all browsers and in node, but are not recognized by eslint because they are exported through the `nonstandard` category of the `globals` package which isn't imported into any current environment.

Updating to `globals@8.0.0` with [this change](https://github.com/sindresorhus/globals/commit/7bbb6a23a6a401641f00a86597dbf87a579b2804) included will remedy this.

[2015-06-12 16:59] mzgol commented on #820
@ljharb why do you need to run ESLint on a dependent package? Shouldn't it be linted in its own repository?

[2015-06-12 17:03] ljharb commented on #820
@mzgol es7-shim's `npm test` runs the tests of all its dependents, and those dependents include linting as part of their tests.

But, it seems nonsensical that simply moving a directory elsewhere would change the output of a command that should be deterministic :-/ Creating `/.eslintrc` shouldn't break eslint on every project on my computer.

[2015-06-12 17:05] mzgol commented on #820
@ljharb It seems #2736 should resolve your problems?

[2015-06-12 17:10] ljharb commented on #820
aha, thanks!

[2015-06-12 17:11] ljharb commented on #2736
(reposted from https://github.com/eslint/eslint/issues/820#issuecomment-111556029) I'm running into trouble with the merging behavior - a module A has a newer version of eslint with a new rule. it's dep is module B, which has an older version, and an eslintrc that doesn't have the new rule. In module A, npm explore B npm run eslint (where npm run eslint eslints my files), errors, because B's eslin

[2015-06-12 17:26] RReverser commented on #2748
Yes, I know and wrote about this above. I'm talking about runtime equivalent (the `name` property which is often important).

[2015-06-12 18:24] stofte commented on #2112
Came here from Google, so in case it helps anyone else, I'll add that my problem was the parser `esprima-fb`, when using `babel-eslint` the error went away.

[2015-06-12 20:20] nzakas commented on #2748
I feel like we are talking in circles.

My point is that we should never warn when a property has a named function expression, as the shorthand version would not behave the same way. It doesn't matter if the name is the same as the property or not, this rule shouldn't warn for it.

If you want something that cares about function expression name being the same or different than the property, then t

[2015-06-12 20:22] nzakas commented on #2736
@ljharb issues marked as accepted are on the roadmap, so yes

[2015-06-12 20:35] nzakas commented on #2750
@tomaskulich I ask the same info for bug reporting and enhancements to existing rules because sometimes it's not obvious what people suggest. Sometimes we even already have an option that addresses the concern, and going through these steps helps uncover it. Submitting an issue with just a title and no description makes it very hard for us to help you. Saying you won't answer my questions because

[2015-06-12 20:37] #2759 closed

[2015-06-12 23:52] tomaskulich commented on #2750
@nzakas

originally, my problem was such as:

    var f = function(){var a = new A();}
    class A{};

which resolves in no-use-before-define warning (A was used before it was defined), no matter how you configure the rule.

As I see it now, adding noclass option is actually a bad idea and this issue should be closed in favor of most complex change in no-use-before-define rule. Turning off no-use-

[2015-06-13 02:46] mysticatea commented on #2721
Thank you for many opinions.
I will implement this rule with using execution paths analyzing such as #2762.

[2015-06-13 03:30] gyandeeps commented on #2745
FYI, https://github.com/eslint/eslint/pull/2762 would update `estraverse` based on the need.

[2015-06-13 16:40] ljharb commented on #2645
Sure - the above code, with a default configuration, outputs:
[code]

The third error is the one I'd like to avoid without disabling `no-shadow` completely about.

[2015-06-13 17:31] nzakas commented on #2750
Closing per last comment

[2015-06-13 17:31] #2750 closed

[2015-06-13 17:43] nzakas commented on #2721
@mysticatea please see my note on your PR - we really can't afford to have party analysis in multiple rules. Let's just keep this simple and look for `this` before `super` as a starting point. We can always make it better later.

[2015-06-13 17:44] nzakas commented on #2745
I think it's fine to pin Sinon. It's a testing utility, so we don't lose much by not upgrading.

[2015-06-13 17:44] #2745 closed

[2015-06-13 17:45] nzakas commented on #2645
Got it, thanks

[2015-06-14 22:57] #2754 closed

[2015-06-14 23:46] ilyavolodin commented on #2640
Sill issues with autopublish. Now it hangs right after generating changelog.

[2015-06-15 00:43] ilyavolodin commented on #2640
Hmm... might've been something else. I couldn't do release even after I commented out all of the code.

[2015-06-15 01:29] theodoreb opened #2764 ""this" is an "Unary word operator" since 0.23.0"
Got this error updating to 0.23.0:

[code]

for this line:
[code]

Guessing it's related to #2696.

[2015-06-15 01:51] gyandeeps commented on #2764
@theodoreb can you share your rule config?

[2015-06-15 01:54] theodoreb commented on #2764
Sure, http://cgit.drupalcode.org/drupal/tree/.eslintrc

[2015-06-15 02:11] btmills commented on #2764
So far, the only examples I've found that trigger this are postfix increment or decrement operators. Of the following, only the first and last lines will warn. In both cases, the message is `Unary word operator "this" must be followed by whitespace`.

[code]

[2015-06-15 06:43] silentroach opened #2766 "Support for jsdoc comments in spaced-comment rule"
The common usage for jsdoc is to start it with ```/**```, here is an example:

    /**
     * Window
     */
    export default class Window extends eventEmitter {

Result for lint with ```"spaced-comment": 2```:

    1:0  error  Expected space or tab after /* in comment  spaced-comment

It will be great no to trigger the error in this case. /cc @gyandeeps

[2015-06-15 07:16] gcochard commented on #2640
Hmm, same symptoms after commenting out the changelog code?

[2015-06-15 13:02] ownagedj opened #2768 "Config validator reports incorrect config path"
No matter if I set the rule or I use the default options. Both results in the stack trace below
## Stack trace
[code]

## My rules
[code]

[2015-06-15 13:33] gyandeeps commented on #2766
I agree we need to make sure the rule doesn't fire on  jsDoc comment but I am not sure how to manage it yet. I am open for opinions/suggestions?

[2015-06-15 15:49] guyellis opened #2769 "Eslint Maximum Warnings"
Is there a way to cause eslint to error if there are more than N warnings?

In istanbul you can run it with the check-coverage command and put a threshold on the minimum coverage: https://github.com/gotwarlost/istanbul#the-command-line

Use case: You have (say) 150 warnings. Because there are so many warnings team members start ignoring them and they start getting worse. You might decrease the war

[2015-06-15 15:52] gyandeeps commented on #2769
As of now this functionality is not present.

[2015-06-15 15:56] btmills commented on #2768
@ownagedj what are the contents of `awesomemodule/.eslintrc`? Using the configuration you posted above I can't reproduce the error.

[2015-06-15 16:25] bedney commented on #2606
I've put a bounty on this bug via BountySource if anyone with the necessary set of skills (which I don't have) wants to take it on.

I have no idea what we call this rule, but I'd like something that's consistent with all of the other rule naming. Maybe @nzakas or @ilyavolodin or @xjamundx have ideas here...

My acceptance criteria is that when this rule is set to 'always' (or 'never', depending o

[2015-06-15 16:28] ilyavolodin commented on #2606
Should this rule error on the following code:
[code]
How about the following code:
[code]

[2015-06-15 16:32] bedney commented on #2606
Most definitely yes! and yes!

[2015-06-15 16:53] nzakas commented on #2769
I'm not sure I understand this use case. Warnings by definition do not change the exit code. You're asking that if there's are a certain number, the exit code should change?

[2015-06-15 17:03] nzakas commented on #2766
We should just omit JSDoc start markers from the rule by default.

[2015-06-15 17:46] jrvidal commented on #2702
I can fix this, I recently refactored `no-extra-parens`.

[2015-06-15 17:53] btmills commented on #2606
Perhaps `initialize-declarations` with options `"always"` or `"never"`? (The `"never"` mode would of course not report `const` declarations.)

[2015-06-15 18:11] guyellis commented on #2769
@nzakas Yes. It is driven by a command option. In my example above the exit code would change if there were more than 150 warnings.

This type of feature is used by `istanbul` to "prevent" developers from reducing code coverage on a commit. So for eslint it would be used to prevent developers from increasing the number of warnings in a project.

[2015-06-15 18:13] ownagedj commented on #2768
Yes I use this configuration, as I am encountering the problem.

Maybe this helps?

`node` version `v0.10.38`
`eslint` version `0.23.0`

[2015-06-15 18:29] sethen commented on #2768
I am getting the same thing but for `comma-dangle` using `eslint 0.23.0`.  My rules were working fine in `0.21.0`.

[2015-06-15 18:31] btmills commented on #2768
@ownagedj I still can't reproduce this. To help debug, can you edit `node_modules/eslint/lib/config-validator.js` and insert `console.log(options);` at line 78 just inside the `if`, then let me know what the new output is?

[2015-06-15 18:31] btmills commented on #2768
@sethen Please file a separate issue for that so we can debug them separately.

[2015-06-15 18:41] ilyavolodin commented on #2606
I would shrink the name down to `init-declarations` but I think that should work, even though it's a bit vague.

[2015-06-15 18:42] bedney commented on #2606
Another suggestion (which I'm not in love with, but I'll throw it out there):

`split-declarations-from-definitions`

[2015-06-15 18:57] ownagedj commented on #2768
`rules` itself are `ok`.
The problem is that eslint is looking for `.eslintrc` in the above folder and finds it.

e.g.

[code]

I added a `console.log` to `eslint/config.js` at line `99` to see that the `filePath` is

and the output is

[code]

So it takes the outdated `.eslintrc` from `project/.eslint`

Also saw `eslint` looking up the whole file tree. I am not sure if that is supposed to be

[2015-06-15 19:00] btmills commented on #2768
If the directory traversal is the issue, can this be closed in favor of #2736?

[2015-06-15 19:00] gyandeeps commented on #2768
@ownagedj The config lookup is being discussed here. https://github.com/eslint/eslint/issues/2736

[2015-06-15 19:06] ownagedj commented on #2768
Yes. Thanks for the fast help :+1:

[2015-06-15 19:08] btmills commented on #2768
Closing in favor of discussion in #2736.

[2015-06-15 19:22] sindresorhus opened #2770 "Prevent direct mutation on user supplied object"
I don't have a concrete solution for this, but I'm going to elaborate on the problem.

## Problem

I make a node module. The main export takes an input and some options as an object:

[code]

The module does something with the input based on these options.

The problem is when the module matures and gets more functionality:

[code]

As you might notice, we're now suddenly modifying the user suppli

[2015-06-15 19:24] gyandeeps commented on #2770
@sindresorhus is `object.assign` doing a shallow copy or deep?

[2015-06-15 19:24] xjamundx commented on #2770
I recently submitted a talk proposal to partially talk about how to statically analyze for immutable/pure functions. Haven't thought through it carefully though :)

`Object.assign` is shallow.

[2015-06-15 19:29] gyandeeps commented on #2770
We recently solved an issue where we were using `object-assign`. then we had to move away from it and use a deep copy mechanism.
https://github.com/eslint/eslint/issues/2592

[2015-06-15 19:33] xjamundx commented on #2770
haha should this be tagged "question" or "needs-bikeshedding"? I assume it's really more of a discussion than a specific ask.

[2015-06-15 19:55] sethen opened #2771 "Configuration for rule "comma-dangle" is invalid"
Having an issue with my `.eslintrc` in the root of my project.  Using `eslint 0.23.0` and `node 0.12.2` -- here are my rules:

[code]

Here's the error I am getting:

[code]

These rules were working fine in `0.21.0` so I am not sure what exactly changed to make these rules invalid.

[2015-06-15 19:58] gyandeeps commented on #2771
You configuration is incorrect for many rules.
here is how the rule are configured.
<rule-name>: [<0 or 1 or 2>, <options>]

example
comma-dangle: [2, "never"]

[2015-06-15 19:59] sethen commented on #2771
@gyandeeps Ah, thanks.  Let me try this out and see if it resolves the issues I am having.

[2015-06-15 20:03] #2771 closed

[2015-06-15 20:05] sethen commented on #2771
@gyandeeps This did fix my issue... Has this been cited anywhere in the release notes??  As I said, my rules we're working fine up until this `0.23.0` release.

[2015-06-15 20:06] gyandeeps commented on #2771
why it was working fine because it was simply ignoring that rule.

[2015-06-15 20:09] sethen commented on #2771
@gyandeeps Thanks a lot!

[2015-06-15 20:26] ilyavolodin commented on #2771
@sethen it was working because misconfigured rules were ignored. In 0.23.0 we added config validation, so now you are seeing errors for misconfigured rules,

[2015-06-15 20:42] lo1tuma commented on #2770
Duplicate of #1600.

[2015-06-15 21:04] nzakas commented on #2768
@btmills doesn't this mean the validator is outputting the wrong config filename in the error message? Isn't this a bug?

[2015-06-15 21:07] btmills commented on #2768
Possibly - I'm not sure from this conversation which file the error was in. @ownagedj can you paste the contents of both `project/.eslintrc` and `project/awesomemodule/.eslintrc`?

[2015-06-15 21:27] ownagedj commented on #2768
Here are the files. As you can see the `project/.eslintrc` has the old rule format, causing the error.

`project/awesomemodule/.eslintrc`
[code]

`project/.eslintrc`
[code]

[2015-06-15 21:29] btmills commented on #2768
Thanks @ownagedj, reopening.

[2015-06-15 23:44] #2702 closed

[2015-06-15 23:55] nzakas commented on #2769
Got it, sounds useful. It will be low priority for the core team, but open to anyone who wants to submit a PR.

[2015-06-15 23:58] nzakas commented on #2606
+1 for `init-declarations`

[2015-06-16 02:38] bedney commented on #2606
Ok, so `init-declarations` sounds good to me. Given that name, I would assume the behavior I'm looking for would be the 'never' setting. Also, I agree that 'never' should ignore 'const' declarations, but I think that 'let' should be included in the rule along with 'var'.

[2015-06-16 03:18] IanVS opened #2773 "Docs: --rule also needs --no-eslintrc to "start fresh""
I am adding ESLint to an existing project and have many failures to clean up. I would like to use the CLI to apply only one rule at a time, fix only those issues, and then commit just those fixes, so that I have a single rule per commit.  However, I am finding this difficult.

My plan was to use `eslint --reset --rule 'quotes: [2, single]' lib` so that only the quotes rule is applied, and none of

[2015-06-16 04:28] nzakas commented on #2773
Yeah, I think the definition of "start fresh" is unclear. I know the intent was to mean, "if you are starting a new project, you can start with a blank slate by doing this," but we need to be clearer.

Working on this.

[2015-06-16 07:38] keradus commented on #2734
Confirm that `no-extra-parens` works like a charm!
Thank you all for help!

[2015-06-16 07:38] #2734 closed

[2015-06-16 18:42] #2773 closed

[2015-06-16 18:57] nzakas commented on #967
Validation was released in 0.23.0

[2015-06-16 18:57] #967 closed

[2015-06-16 18:59] #2706 closed

[2015-06-16 20:12] ljharb opened #2777 "`spaced-comment` warns on "don't minify" comment blocks"
Typically, the first comment block in a file starts with `/*!` to indicate to a minifier like uglify that it should not strip the comment block (a "prelude").

Could we add an option to the `spaced-comment` rule that allows this pattern?

[2015-06-16 20:19] gyandeeps commented on #2777
You can use `exceptions` option.
http://eslint.org/docs/rules/spaced-comment

[2015-06-16 20:22] BenoitZugmeyer commented on #2091
Working on this.

[2015-06-16 20:38] ljharb commented on #2777
aha, thanks! Sorry I missed that in my reading :-)

However, I tried adding `["!"]` as the exceptions list, and I get "Expected exception block, space or tab after /* in comment". The comment block is https://github.com/es-shims/es7-shim/blob/master/es7-shim.js#L1-L5

[2015-06-16 20:48] gyandeeps commented on #2777
after further looking into this, I dont think there is an clean way to get rid of the error.
Should we just ignore multi-line block comments for this rule?

CC: @eslint/eslint-committers

[2015-06-16 20:49] ljharb commented on #2777
Personally I wouldn't want to allow:
[code]
but that might be pretty specific. If this only covered single-line comments I still think it'd be useful.

[2015-06-16 20:50] gyandeeps commented on #2777
To solve your case, you have to do what you just specified above. as of now.

[2015-06-16 20:52] ljharb commented on #2777
Then for now I'll have to leave the rule disabled :-( thanks for the quick replies

[2015-06-16 21:25] gyandeeps commented on #2777
Found the problem. As of now if you use a `marker` then you have to specify a `space` to `tab` after it.
But we can start allowing `\n` then this scenario would work out.
Here is the code: https://github.com/eslint/eslint/blob/master/lib/rules/spaced-comment.js#L49

[2015-06-16 21:31] gyandeeps commented on #2766
@nzakas what u r saying is basically ignore whenever a block comment is in this form:

[code]

[2015-06-16 22:10] ljharb commented on #2777
I didn't use a marker though, I created an exception.

At any rate, I'd assume any syntactically valid whitespace would be allowed, so definitely that would include a newline, and possibly other chars (still getting confirmation on that tho)

[2015-06-16 22:22] ljharb commented on #2777
Valid whitespace is http://people.mozilla.org/~jorendorff/es6-draft.html#sec-white-space, so I'd think we'd want to include all of those?

[2015-06-16 22:28] gcochard commented on #2777
I think this is an edge case introduced when the logic for single line comments was added to multi-line comments. We should definitely allow any whitespace between lines, and we should also split milti-line comments on newline and treat each line individually.

As for this issue, @ljharb do you have any whitespace after the `!`? I believe the rule looks for exceptions and then EOL, with nothing in

[2015-06-16 22:57] ljharb commented on #2777
As you can see on https://github.com/es-shims/es7-shim/blob/master/es7-shim.js#L1-L5, no, no trailing whitespace, just EOL.

[2015-06-17 00:37] feross commented on #2777
I just ran into this issue with this comment block:

[code]

Neither `"exceptions": ["*"]` or `"markers": ["*"]` does the trick. But removing the newline works:

[code]

Newline should be treated as whitespace in this case.

[2015-06-17 00:53] gyandeeps commented on #2777
thats what i proposed above and i agree.

[2015-06-17 03:22] infolock opened #2780 "ES6 const definitions result in "..is defined but never used no-unused-vars" error"
When requiring in a library via const definitions, eslint will throw the following kind of error:

`7:6 error $ is defined but never used no-unused-vars`

The code looks like this:
[code]

This will fail with the error reported above when attemping to run lint. However, this will pass:
[code]

Simply changing `const` to `var` fixes the issue.  It's entirely possible I'm missing something here.  An

[2015-06-17 03:27] hzoo commented on #2780
I think it should error for both const/var since yeah you aren't "using" it? Maybe try updating to latest eslint?

[2015-06-17 04:50] martinheidegger opened #2781 ""use strict" is not combinable with single quotes"
For some reason "use strict" explicitly requires double quotes, even when the quotes mode is set to single quotes. This wouldn't be an issue if the single-quotes-mode would not complain about the double quotes in use-strict.

[2015-06-17 04:53] martinheidegger commented on #2781
Sorry, i misunderstood the error message.

[2015-06-17 04:53] #2781 closed

[2015-06-17 05:01] mysticatea commented on #2780
Maybe, I fixed this at https://github.com/eslint/eslint/commit/9d79da2af7c0e667ed28c33219667520d59e4d65, so please try using `eslint >= 0.22.0`.

[2015-06-17 13:58] btmills commented on #2668
We should support this use case, but I'm not sure how. Should this be the default behavior, with groups being an option, or are groups the default, with this being optional? Either way, what does the option look like?

[2015-06-17 14:51] btmills commented on #2768
@ownagedj I'm trying, but I can't reproduce this. I have two `.eslintrc`s, error in the upper one, and it's reporting the correct path. Any help on a repro?

[2015-06-17 15:43] TomFrost commented on #1661
I'd like to expand the scope of this just slightly -- if someone is following standard JSDoc convention, they might have a `@see url-here` within a block comment.  Example:

[code]

That URL breaks the max-len in my eslint, and save for using tinyurl, there's nothing I can do about it.

[2015-06-17 16:48] #2764 closed

[2015-06-17 16:50] #2748 closed

[2015-06-17 16:52] nzakas commented on #2766
When a block begins with /**, ignore it

[2015-06-17 16:57] jrvidal commented on #1539
Would it make sense to merge the two rules? We could keep `quote-props` with an additional option such as "as-needed-es3".

[2015-06-17 16:57] nzakas commented on #1661
@TomFrost how is that expanding the scope? Your case would already be covered.

[2015-06-17 17:07] nzakas commented on #1539
We'd need to work on the option name, but it would seem helpful to standardize on just quote-props

[2015-06-17 17:08] jrvidal commented on #1539
OK, I'll work on a PR.

[2015-06-17 17:34] gyandeeps commented on #2766
I will work on this once I get https://github.com/eslint/eslint/pull/2783 merged.

[2015-06-17 17:37] gyandeeps commented on #2777
@ljharb Once the fix is done you should be able to use `markers: ["!"]` for your scenario.
@feross your scenario is more like #2766 . So it will be resolved when that issue gets resolved.

[2015-06-17 19:11] #2226 closed

[2015-06-17 21:06] TomFrost commented on #1661
@nzakas This quote is what had me concerned:

To me, that says that the URL will be ignored if there's a `*` followed by the URL alone. In my case, there's ` * @see ` before the URL. Apologies if I misunderstood.

[2015-06-17 22:03] infolock commented on #2780
@hzoo wow.... why didn't I think of that?  :confounded:

@mysticatea thanks a lot!  I will check that revision out and see how that will affect it.

[2015-06-17 22:35] gyandeeps commented on #2770
Here is an library which is highly adopted by different modules and it does a deep copy.
https://www.npmjs.com/package/deepmerge

[2015-06-17 22:51] #2667 closed

[2015-06-17 23:02] infolock commented on #2780
@mysticatea I tried `0.22.0` but no dice.  Moved up to `0.23.0` and then everything is beautiful once again in the world.  Thanks!

[2015-06-17 23:22] BYK opened #2784 "A rule to enforce a minimum identifier name length"
I propose adding a rule that checks any identifier names against a predefined minimum length (2 by default).

**The use case for the rule**: People tend to use variable names such as `e` or `x` which makes the code harder to read and less maintainable. Proposal is to add a rule that has the following properties:
 - Have a minimum length for property and variable names
 - Have a predefined, sane ig

[2015-06-17 23:37] #2780 closed

[2015-06-18 00:28] MikaAK opened #2785 "strict: [2, "global"] still throws Unnecessary "use strict" directive"
In my `.eslintrc` I've set `strict` and disabled `global-strict` but I always get the error `error  Unnecessary "use strict" directive  strict` when I run against my file.

Right now I have it working by using `global-strict` but I read that global-strict will be deprecated soon and I'm wondering what I need to do to achieve the same results.

### Expected To Work
[code]

### Actually works
[code]

[2015-06-18 00:35] feross opened #2786 ""one-var": { "initialized": "never" } does not prevent initialized var declarations from being joined with uninitialized var declarations"
I expect to get an error when using this rule:

[code]

and this code:

[code]

Specifically, I expect this error: `Split initialized 'var' declarations into multiple statements.`

I do get an error if I do:

[code]

I expect `"one-var": { "initialized": "never" }` to prevent initialized var declarations from being joined with any other var declarations (initialized or uninitialized).

[2015-06-18 00:52] nzakas commented on #2785
Can you include the actual console output?

[2015-06-18 00:54] nzakas commented on #2785
Oh, and do you have any ecmaFeatures specified in your config file?

[2015-06-18 00:57] nzakas commented on #1539
Can you discuss what you're planning on doing first? Make it easier for people to chime in (and less thrash on the PR)

[2015-06-18 00:59] #2091 closed

[2015-06-18 01:05] nzakas commented on #1661
Ah, I see what you mean.

It might just be best if URLs are always treated the same wherever they appear. I suspect we will run into more edge cases if we don't do so.

So, let's just say if a comment line ends with a URL, in either a line or block comment, it is omitted from the check with this option.

[2015-06-18 01:14] TomFrost commented on #1661
That sounds perfect

[2015-06-18 01:21] jrvidal commented on #1539
Hum, I was planning to merge the two rules into `quote-props`, I'm not sure if that what you're asking. That means:

* Mark `no-reserved-keys` as deprecated.
* Import its keyword list to `quote-props` and use it for `as-needed-es3` (working name).

[2015-06-18 01:39] nzakas commented on #2770
Merging into #1600

[2015-06-18 01:39] #2770 closed

[2015-06-18 01:39] nzakas commented on #1600
From @sindresorhus:

I don't have a concrete solution for this, but I'm going to elaborate on the problem.

## Problem

I make a node module. The main export takes an input and some options as an object:

[code]

The module does something with the input based on these options.

The problem is when the module matures and gets more functionality:

[code]

As you might notice, we're now suddenly modi

[2015-06-18 01:41] nzakas commented on #2784
Sounds good. I'm assuming this isn't just variables but any identifiers?

Can you propose what the rule configuration should look like?

[2015-06-18 01:46] nzakas commented on #2786
@IanVS Can you confirm?

[2015-06-18 02:02] nzakas commented on #1539
We've had some issues with keyword lists. See: https://github.com/eslint/eslint/issues/1616

I'm not sure if as-needed-es3 is clear enough or if there needs to be something more (or ability to specify which words to enforce).

[2015-06-18 02:49] dcousens commented on #2786
Thanks for filing this @feross.
Can confirm this bug.

[2015-06-18 03:59] ilyavolodin commented on #2784
I would suggest making a more generic rule called `name-length` that would apply to variables and functions and would have config options of `{min: int, max: int, exclusions: string[]}`

[2015-06-18 04:04] mathieumg commented on #1661
But then a line with any amount characters followed by a long URL would still be valid and I believe it should be discouraged to at least minimize the impact of something already "too long".

[2015-06-18 04:24] mysticatea opened #2787 "Adding the option of `generator-star-spacing`"
From: https://github.com/eslint/eslint/issues/2628#issuecomment-110195576

I think options for the same purpose should have the same format.
But an option of [generator-star-spacing](http://eslint.org/docs/rules/generator-star-spacing) is different to other `*-spacing` rules.

I propose to changing the format of the option to an object such as `{before: true, after: false}`.

Thank you.

[2015-06-18 06:25] MikaAK commented on #2785
Here is the console output for that error
[code]

This is my ecmaFeatures
[code]

[2015-06-18 06:42] keradus opened #2788 "padded-blocks fails on comment"
Hi. When I have a code:
[code]

The rule warns me: `Block must not be padded by blank lines  padded-blocks`.
It should not since comment is not blank line.

When I remove a comment then rule passes.

[2015-06-18 06:46] lo1tuma commented on #2788
Can you share your eslint configuration? Do you use the default parser?

[2015-06-18 06:47] keradus commented on #2788
[code]

[2015-06-18 08:16] BYK commented on #2784
Yeah, agree that the name is close to terrible.

A sample config for the shared Gist would be like this:

    no-short-var-names: [2, 3, ['x', 'y', 'i', 'j'], ['CatchClause']]

I kept using arrays but at this point, if we also add `max` it may make more sense to use an options object instead. What do you think?

[2015-06-18 08:18] BYK commented on #2784
Edited the description to be more generic re: identifier names

[2015-06-18 08:48] lo1tuma commented on #2788
You disabled the rule in your configuration. So it should never warn.

However, I've tried your example in the [online demo](http://eslint.org/demo/) and can’t reproduce the problem:

[code]

Which version of ESLint do you use?

[2015-06-18 08:54] keradus commented on #2788
` "padded-blocks": 0, // S3: docelowo [2, "never"],`
yeah, error occurs only with commented setting. I need to disable it due to that problem. Sorry for that.

ESLint version: 0.22.1

[2015-06-18 09:01] keradus commented on #2788
same on 0.23.0

[2015-06-18 09:03] DenisIzmaylov commented on #2087
Not at all :) It still causes the same errors in this case:
[code]
Which generates follow output:
[code]

[2015-06-18 09:08] keradus commented on #2788
Please try this
[code]

[2015-06-18 09:24] DenisIzmaylov commented on #1416
The same issue for decorators:
[code]
Where lines 50-52 contains:
[code]

[2015-06-18 10:02] lo1tuma commented on #2788
Now I can reproduce it.

Here is more minimal example:

[code]

This is a problem with the comment attachment algorithm. Both comments getting attached to `Identifier` node of the if condition. The current implementation of the rule would expect that the first comment gets attached to the `IfStatement` node.

[2015-06-18 10:42] lo1tuma commented on #1416
This bug has been fixed. That said, decorators are not supported by the default parser of eslint, so I guess you are using a different parser, please file an issue there.

[2015-06-18 11:19] DenisIzmaylov commented on #1416
I use eslint 0.23, should I install customer parser for it? Which one?

[2015-06-18 11:28] lo1tuma commented on #1416
If you use the default parser you should get a syntax error for any decorator. I think the only parser that supports decorators is `babel-eslint`.

[2015-06-18 11:44] DenisIzmaylov commented on #1416
Oh, sorry. I already use it. But the issue is still actual.

[2015-06-18 11:47] gaearon commented on #2087
AFAIK TC39 decided not to support this syntax after all.
Does `export { default as createRedux } from './createRedux` work as intended?

[2015-06-18 11:52] DenisIzmaylov commented on #2087
@gaearon it doesn't work too:
[code]
[code]

[2015-06-18 12:04] lo1tuma commented on #1416
Then this is a bug in `babel-eslint`.

[2015-06-18 12:28] gyandeeps commented on #2785
what all environments do you have active?

[2015-06-18 12:37] IanVS commented on #2786
Yes, currently the rule only checks within each type. I agree with @feross that this is unexpected.  If @nzakas accepts, I will work on a PR.

[2015-06-18 12:55] ownagedj commented on #2768
The problem was that I had `eslint@0.19.0` installed with `sudo npm i eslint -g`
I removed it `eslint` globally and updated `.eslintrc`  to the latest supported and it worked like a charm.

[2015-06-18 13:32] btmills commented on #2768
Good to hear! Closing.

[2015-06-18 13:32] #2768 closed

[2015-06-18 15:45] vladikoff opened #2790 "Error: EISDIR, illegal operation on a directory if directory called "package.json" exists"
## STR (OS X)

1. Install latest eslint command line
2. `cd ~`, `mkdir package.json`
3. go to some JavaScript and run `eslint .`

## Actual
[code]

## Expected

Should lint the project

[2015-06-18 16:18] adamnbowen commented on #1661
@mathieumg If you check the JSCS code I linked above, a solution like theirs (tweaked for our use case) would handle that—we could just remove the URL from the line count: https://github.com/jscs-dev/node-jscs/blob/4c31d9ee8039d87aa6db346b5efe7d5679551d21/lib/rules/maximum-line-length.js#L97-L103

So I think @nzakas has the right solution.

[2015-06-18 16:51] mathieumg commented on #1661
@adamnbowen Wouldn't that still allow a line with `max - 1` characters followed by a long URL?

[2015-06-18 16:56] adamnbowen commented on #1661
@mathieumg Yes, but as he pointed out, there isn't going to be a rule guaranteed to work for every use case—We just had @TomFrost point out that the proposed rule didn't play nicely with JSDoc, and I'm sure there are numerous other documentation conventions that we'd have to support.

Rather than have 7 complicated rules for detecting `* `, `* @word`, `* word:`, `*@word (Type)`, etc., it seems rea

[2015-06-18 17:12] MikaAK commented on #2785
Here's my environments
[code]

[2015-06-18 17:35] rlidwka commented on #1661
What if there is a single punctuation character at the end of the URL? For example, URL is enclosed in quotes?

Imho, ignoring URL length makes most sense here.

[2015-06-18 18:02] IanVS commented on #2786
Had nothing better to do, so I made a quick fix.  If this is accepted, I'll submit it as a pull request.

[2015-06-18 18:25] mathieumg commented on #1661
Agreed, already better than ignoring the line altogether.

[2015-06-18 18:29] nzakas commented on #2087
@denis-sokolov please open a new issue

[2015-06-18 18:30] denis-sokolov commented on #2087
I think autocompletion has accidentally completed a wrong Denis.

@DenisIzmaylov, please check @nzakas post from above.

[2015-06-18 18:34] nzakas commented on #2787
We can't change the options, but we could add this as an additional way of specifying the options.

[2015-06-18 18:38] nzakas commented on #2784
name-length or id-length? Technically, these are identifiers, so id would seem like a better name?

Agreed that having an options object makes the most sense.

[2015-06-18 18:39] nzakas commented on #2788
Can you file an espree bug?

[2015-06-18 18:41] nzakas commented on #2790
Do you have a syntax error in your package.json file?

[2015-06-18 18:42] #2777 closed

[2015-06-18 18:43] nzakas commented on #2785
You need `modules` to be false. ES6 modules are strict mode by default, so "use strict" is unnecessary.

[2015-06-18 18:43] #2785 closed

[2015-06-18 18:43] vladikoff commented on #2790
Hey, thanks for the response. No there are no errors in the package.json FILE.
Keep in mind that I am using `mkdir package.json`. I am creating a DIRECTORY called `package.json` in my $HOME directory. If you are having trouble reproducing this let me know because it should be easily reproducible.

[2015-06-18 18:44] nzakas commented on #2786
Accepted!

[2015-06-18 18:46] nzakas commented on #1661
To reiterate, this is the approach:

Let's implement this and try it out. If it needs to be adjusted, we will adjust, but let's argue with code.

[2015-06-18 18:48] nzakas commented on #2790
Ooh I see, so I guess we need to ensure package.json is a file before reading it.

[2015-06-18 19:00] #2786 closed

[2015-06-18 19:29] BYK commented on #2784
wfm

I'll submit a PR shortly based on these discussions. Thanks a lot for the swift feedback!

[2015-06-18 23:27] sindresorhus commented on #2784
I think it would make sense to have an option to exclude one line arrow functions as a single-character variable name makes sense there:

[code]

[2015-06-19 01:13] nzakas commented on #2784
Let's start with just named exceptions for now. If we need to add something for arrow functions specifically, then we need to start thinking about more generalizable syntax exceptions, and I'm just not convinced that's a good idea right now.

We can always add later if necessary.

[2015-06-19 03:40] scottohara opened #2794 "Should no-extra-semi trigger for es6 class methods?"
###### Disclaimers:
 1. I've only just started my ES6 journey (so this could be my misinterpretation of `class` semantics)
 2. I'm using the [babel-eslint](https://github.com/babel/babel-eslint) parser, if that matters (although the same behaviour seems to occur with the default parser)

###### Issue:
Given the class:
[code]

... no warnings are raised.  Should they be?

It would seem that semicol

[2015-06-19 04:23] xjamundx commented on #994
This bit us again at work. Will try to take a stab at it :)

[2015-06-19 07:13] impinball opened #2795 "`no-fallthrough` chokes on if-else statements that always break"
**ESLint version:** 0.23.0

**Minimal test case:**
[code]

[code]

[code]

**Expected output:** (nothing)

**Actual output:**
[code]

**Other details:**
It's failing to detect that the code breaks from the switch in both possible branches. Also, the same problem exists with `return` if the switch statement is in a function.

[2015-06-19 07:24] impinball opened #2796 "Feature request: Option to specify a specific plugin module name when prefixed with a ~"
Initially proposed in [babel/babel-eslint#131 (comment)](https://github.com/babel/babel-eslint/issues/131#issuecomment-113330418)

Custom parsers and custom named modules should be able to be included as plugins. So for example, with something like babel-eslint, the parser and additional rules could be housed in the same project instead of separate repos, therefore, keeping babel-eslint related is

[2015-06-19 08:29] rightaway commented on #2628
+1 for adding to core, plugin works great

[2015-06-19 08:35] rflnogueira opened #2797 "Dangling underscores from APIs"
The no-dangling-underscore option is a great feature, but...

sometimes when processing an API response, you don't really have control over the property names.

For example when the API has a _id as fieldname.

Any suggestions on how to manage this?

[2015-06-19 08:40] michaelficarra commented on #2797
Write a function `function getId(x) { return x._id; }` and then disable this rule in that function using inline comments.

[2015-06-19 08:43] BYK commented on #2784
We can probably use `_` or `__` instead of `x` or add `x` to exception list as @nzakas suggested.

Good point though. Since I am still living in the ES5 world, I forgot about arrow functions :)

[2015-06-19 09:06] rflnogueira commented on #2797
Oh the inline comment rules, I had totally forgotten these. Thanks for the advice.

[2015-06-19 09:06] #2797 closed

[2015-06-19 11:35] mysticatea commented on #2787
OK, I want to add this for consistency.

[2015-06-19 11:59] carlosvillu opened #2798 "Cannot find module './dist/rx'"
I have an recurrent error when I try to run eslint from a NPM task.

Always I have this error:

[code]
I if I install again eslint in the project with `npm i eslint` the error will be fix.

My npm task is:

[code]

My eslint versins are:

[code]

And the .eslintrc is:

[code]

Can you help me ?!

[2015-06-19 13:46] btmills commented on #2795
Right now none of our rules are doing any sort of branch tracking, though it's been brought up before: #566, #1128, and it was discussed most recently in #2762. To quote @nzakas from [#2762 (comment)](https://github.com/eslint/eslint/pull/2762#issuecomment-111736108):

[2015-06-19 14:04] btmills commented on #2794
Here's the relevant portion of the [spec](http://www.ecma-international.org/ecma-262/6.0/#sec-functions-and-classes):

![screenshot 2015-06-19 09 52 21](https://cloud.githubusercontent.com/assets/1709537/8254739/e2917eb6-1668-11e5-8779-13cd0c844b81.png)

So semicolons are allowed, but [per ESTree](http://www.ecma-international.org/ecma-262/6.0/#sec-functions-and-classes), they get dropped from the

[2015-06-19 14:25] t128 commented on #1346
[code]

throws a *space-unary-ops* error

[2015-06-19 14:26] xjamundx commented on #994
I've gotten to the place where these are all correctly handled (per my understanding)

[code]
Let's talk through several more examples to make sure I understand the expected behavior:

[code]

[2015-06-19 15:16] michaelficarra commented on #1346
@t128 That has been fixed by #2764.

[2015-06-19 15:23] rightaway opened #2800 "Rule for function expressions to be arrow functions or not"
With ES6 arrow functions, it would be useful to have a rule that allows you to configure some consistency in function expressions. For example you could specify whether you want to use standard functions

[code]

Or use ES6 arrow functions.

[code]

And it would warn when it finds one in the wrong style. Of course since generators can't be arrow functions this rule wouldn't apply to them, they'd s

[2015-06-19 18:19] mysticatea commented on #2794
`MethodDefinition` seems to not have semicolon.
Semicolon seems to make an empty `ClassElement`.
It resembles that a semicolon makes an `EmptyStatement`.

So I think it's better that the `no-extra-semi` rule warns the semicolon after the `bar()`.

[2015-06-19 18:33] #2766 closed

[2015-06-19 18:37] nzakas commented on #2796
It seems like the title and description of this issue aren't quite the same. Also, you're conflating a problem statement with a solution, so it's a little bit hard to follow. Let's start from the top:

What is the problem you are trying to solve?

[2015-06-19 18:39] nzakas commented on #2787
Sounds good.

[2015-06-19 18:43] nzakas commented on #2798
I'm not sure if this is an ESLint error or not. What happens if you just run "npm run eslint"? Please paste the complete console output into this issue.

[2015-06-19 18:47] nzakas commented on #2795
This is a known issue - we don't have an easy way to fix it and we likely won't have a solution anytime soon. I'm closing this as I suspect it will end up just being left open and untouched for a long time otherwise. If we can get generic path analysis working, we will have a bunch of rules to update anyway.

[2015-06-19 18:47] #2795 closed

[2015-06-19 18:48] nzakas commented on #994
Looks good!

[2015-06-19 18:58] mtscout6 commented on #2796
The problem is to allow a custom parser also provide rules for the variant of the language being parsed.

[2015-06-19 19:04] nzakas commented on #2800
Something like this? http://eslint.org/docs/rules/func-style

[2015-06-19 19:08] nzakas commented on #2794
Agree, we should warn on this. The semicolon is unnecessary.

[2015-06-19 19:10] btmills commented on #2794
Should the semicolon be included in the AST somehow, or will we need to check for semicolon tokens ourselves?

[2015-06-19 19:16] nzakas commented on #2796
Once again, you are describing the solution to a problem, but not the problem itself.

If I may infer the problem, it sounds like you want the ability to have a single npm package containing both a parser and rules. Your suggested solution to that problem is that parsers should be able to provide rules. I dont think such a solution makes sense because that's not the role of a parser.

However, I d

[2015-06-19 19:19] nzakas commented on #2794
Ooh you know, I missed your spec question. I think it's worth having an ESTree discussion about it.

[2015-06-19 19:31] btmills commented on #2794
See estree/estree#93

[2015-06-19 19:44] mysticatea opened #2801 "Feature Request: `context.getDeclaredVariables(node)`"
From: #2732

Hello.

I thought we need a function that searches the variables by a declaring node.

Now, for ES2015 Destructuring Assignments, we cannot get variables from a declaring node by a simple way.

For Example:

[code]

So, when I wrote `no-const-assign` rule, I needed to traverse all variables.

----

This proposal is to add `getDeclaredVariables(node)` method to `RuleContext`.

This met

[2015-06-19 19:51] MoOx commented on #2796
What we would like to see is

[code]

If we have the corresponding file `node_modules/babel-eslint/plugins.js`, is this going to work (I guess nobody of us tried yet). Because I think that we think that only npm module names work in the `plugins` array.

[2015-06-19 19:53] mtscout6 commented on #2796
@nzakas Thank you for helping me to understand your library and what it can do. I was unaware that such was possible.

I apologize for not wording the problem in a format that was appealing to you, at the time I didn't see that my use of the word "allow" was attempting to solve the problem. That was my attempt to word the problem as you requested.

With that I will walk away from the situation. I

[2015-06-19 19:53] btmills commented on #2794
Unsurprisingly, that extra semicolon belongs in a CST but not an AST. That leaves two options: we could wait for estree/estree#41 or check manually for unnecessary tokens within class bodies.

[2015-06-19 20:00] t128 commented on #1346
thank you, found the fix after posting this comment

[2015-06-19 20:42] ngryman opened #2802 "Buggy strict global."
Hey,

I think there is a problem with `strict` rule.
Specifying `"strict": [2, "global"]` always outputs: `Unnecessary "use strict" directive` for any file that have a `'use strict'` statement.

This file outputs the error:
[code]

Using this configuration:
[code]

[2015-06-19 20:44] gyandeeps commented on #2802
I think its similar to https://github.com/eslint/eslint/issues/2785

[2015-06-19 20:45] ngryman commented on #2802
@gyandeeps Totally. Thanks for pointing it out.

[2015-06-19 20:45] #2802 closed

[2015-06-19 22:00] gyandeeps commented on #1549
I was planning to work on it but before I actually started I wanted to know if it would be good to have this functionality inside `config-validator`. Since its already validating the rule.

[2015-06-19 22:48] rightaway commented on #2800
This seems like it's more for anonymous function expressions though. If it were a named function (like func-style seems to be about) then you wouldn't have the option of using an ES6 arrow function since those don't have names.

[2015-06-19 23:31] #2746 closed

[2015-06-19 23:32] nzakas commented on #2794
Let's just check manually. Rationally, it's no different than what we already do for function declarations.

[2015-06-20 00:07] nzakas commented on #2801
So this would return an array of strings? Are you certain no additional information would be necessary for this to be useful?

Also, which nodes would be supported? Just `VariableDeclaration`?

[2015-06-20 00:09] mysticatea commented on #2801
This method returns an array of `escope.Variable` objects.

Details of mapping between nodes and variables.

- `VariableDeclaration` - variables of its all declarators. (we can use destructuring)
- `VariableDeclarator` - variables. (we can use destructuring)
- `FunctionDeclaration`/`FunctionExpression` - its function name and parameters. (we can use destructuring)
- `ArrowFunctionExpression` - its

[2015-06-20 00:36] nzakas commented on #2796
@mtscout6 I always ask for people to describe problems without mentioning the solution, as that reveals a lot more about the request. In fact, this separation of problem and solution is explicitly mentioned in our contribution guidelines for enhancements: http://eslint.org/docs/developer-guide/contributing#filing-issues

Please keep in mind, I spend a significant portion of the day triaging issues

[2015-06-20 00:44] nzakas commented on #2796
@MoOx that is not possible today, and pretty much not possible in the long run. Plugins double as namespaces, such as `react/some-rule`. That namespace is determined from the plugin package name.

I'm really against having parser packages do more than provide a parser. Making parsers into pseudoplugins means having two different ways of doing the same thing, and that almost always is a bad design

[2015-06-20 00:59] nzakas commented on #1549
Config validator throws an error when it finds a problem, which would be the same as current behavior.

I think what we are talking about here is using a stub rule that just outputs "This rule had been removed in favor of x" as a normal rule error.

[2015-06-20 01:02] nzakas commented on #2800
Sorry, my response was too terse. What I meant was, it sounds like you might be asking for an additional option on that rule, but reading it over again I think I'm wrong.

Are you only concerned about passing a function as an argument? Or is there a wider use case you have in mind?

[2015-06-20 01:02] gyandeeps commented on #1549
Yes, what I meant was that it will not throw an error rather display the deprecation message.
My ask is that if we should add that logic inside `config-validator` functions?

[2015-06-20 01:05] nzakas commented on #2801
Thanks, this sounds good!

[2015-06-20 01:10] nzakas commented on #1549
Sorry, I wasn't clear. No, this should not be in config-validator, as validation always throws an error. @btmills do you agree?

[2015-06-20 01:13] gcochard commented on #994
:+1: I strongly support this rule!

What about the following:

I foresee this when we want to force the callback to be async so we don't [release zalgo](http://blog.izs.me/post/59142742143/designing-apis-for-asynchrony). We are pairing the callback with return, but the first is inside of `process.nextTick` so it *will* be called twice.
[code]

[2015-06-20 06:52] marians opened #2805 "no-unused-vars should detect usage in JSX tag"
The `no-unused-vars` error is incorrectly triggered when a variable is only used in form of a JSX tag.

Example:

[code]

This will generate the error

[code]

even with the jsx feature activated. Or am I missing anything? Here is my `.eslintrc`:

[code]

[2015-06-20 07:16] tjoskar commented on #2446
Hi,

If one use the babel-plugin (https://github.com/babel/babel-eslint) which enables all es6 and es7 features, you should be able to use eslint with typescript.

Eslint feels more stable than tslint and I'm already using eslint on several js-projects and it should be nice to use it on typescript aswell but I can't get it to work.

If I creates two files: `test.js` and `test.ts` and runs `eslint

[2015-06-20 07:17] Skalman commented on #2746
@gyandeeps Thanks for implementing the fix!
@nzakas I'm sorry for the confusion. I thought I made myself clear, but I'll try to be more explicit in the future.

[2015-06-20 07:25] silentroach commented on #2766
Thank you!

[2015-06-20 09:16] welwood08 commented on #1549
How would using stub rules solve the problem of older code encountering a newer unknown rule?

[2015-06-20 09:38] rightaway commented on #2800
Not just passing a function as an argument, but any case where there's a function expression. For example as a value in an object literal, or as an item in an array.

[code]

or

[code]

The func-style rule seems to be about **declaring** functions (in declaration vs expression **style**). What I'm suggesting is about using functions as **expressions**, written in standard vs arrow style. So maybe

[2015-06-20 10:07] SudoPlz opened #2806 "ES6 feature error or my mistake?"
I get this error ` 3:5  error  Unexpected token =`

in this file:

    'use strict';
    var React = require('react');
    var {PageHeader} = require('react-bootstrap');

If I do this the problem goes away:

     var ReactBootstrap = require('react-bootstrap');
     var PageHeader = ReactBootstrap.PageHeader;

Its very annoying.. Is it a bug or is it my mistake? (I really want to use this feature)

[2015-06-20 11:55] hzoo commented on #2806
I think you are trying to use imports or destructuring?

`var {PageHeader} = require('react-bootstrap');`

add `"destructuring": true` to your `.eslintrc` in ecmaFeatures

[2015-06-20 11:57] hzoo commented on #2805
It's recommended you check out https://github.com/yannickcr/eslint-plugin-react for that

[2015-06-20 12:16] SudoPlz commented on #2806
Thank you, that did it...!!!

[2015-06-20 12:16] #2806 closed

[2015-06-20 12:52] lo1tuma commented on #2805
This works as intended. We don’t support react semantics. You have to use `eslint-plugin-react` for this.

[2015-06-20 13:45] DenisIzmaylov opened #2807 "block-scoped-var false positive on export .. from .. construction"
Example:
[code]
Which generates follow output:
[code]

[2015-06-20 13:46] DenisIzmaylov commented on #2087
Ok, I've created new issues https://github.com/eslint/eslint/issues/2807

[2015-06-20 13:50] marians commented on #2805
Thanks for the hint! `eslint-plugin-react` seems to solve this problem.

[2015-06-20 13:50] #2805 closed

[2015-06-20 14:57] ilyavolodin commented on #2446
@tjoskar when you run eslint, you should specify command line option `--ext` for eslint to be able to lint *.ts files. More information [here](http://eslint.org/docs/user-guide/command-line-interface#ext)

[2015-06-20 15:00] tjoskar commented on #2446
@ilyavolodin, Thanks!

[2015-06-20 16:17] nzakas commented on #994
Are you asking if the rule would warn about this case? I'm not really sure from your description.

[2015-06-20 16:20] nzakas commented on #1549
@welwood08 any unknown rule would be assigned to the stub. The message can always be different depending on if the rule was deprecated, removed, or unknown.

[2015-06-20 16:25] nzakas commented on #2800
I think this is tricky. In general, you probably don't want functions assigned to object literals to be arrow functions as you lose `this`, so I'm not sure we can group all of these different situations together.

We could probably say functions that aren't part of assignments would be covered.

[2015-06-20 16:27] sindresorhus opened #2808 "Ignore `catch` block in the `no-empty` rule"
## Problem

The following is very common pattern when you don't care about an exception:

[code]

But it's caught by the [`no-empty` rule](http://eslint.org/docs/rules/no-empty).

I want the rule to catch empty blocks, but ignore the `catch` block as it's empty because it's required by JS, not because I want it there.

I know I can put in a `// empty` comment there, but that feels like an unuseful

[2015-06-20 16:42] nzakas commented on #2808
This has already been discussed at length here: https://github.com/eslint/eslint/issues/1841

tl;dr The rule used to omit catch by default, but then people were missing empty catches that should not have been empty and there was no way to differentiate. The best solution was to use a comment to mark the ones meant to be empty.

[2015-06-20 16:42] #2808 closed

[2015-06-20 16:56] btmills commented on #1549
@nzakas Yep, totally. Validation errors cause ESLint to bail before linting because any results would be bogus anyway if rules are configured anyway. I very much like the idea of a stub rule for this.

[2015-06-20 17:12] moll opened #2809 "`no-return-assign` could use an `except-parens` option to match `no-cond-assign`"
Hey,

The `no-return-assign` could use an `except-parens` option to match `no-cond-assign` for those cases where returning and assign is convenient.

Thanks!

[2015-06-20 17:22] sindresorhus commented on #2808
From reading that thread it seemed like everyone disagreed with your position. I realize it's not a good default, but I thought ESLint favored configurability over being opinionated. This decision smells a lot like the latter. I don't understand why a simple `exceptions` option is unacceptable.

The result of this is that the `no-empty` rule is useless for most user.

-

*Sorry about not finding t

[2015-06-20 18:19] gcochard commented on #994
Yes, I would like the rule to warn about this case. Should have been more clear about that.

[2015-06-20 18:48] moll commented on #2788
Just stumbled upon this too. Same issue with trailing comments.
[code]

[2015-06-20 20:31] ilyavolodin commented on #2808
@sindresorhus We provide a way to customize this behavior, if I'm not mistaken this code will lint just fine
[code]
Any comment inside a block will mark it as non-empty. Leaving comments in the cases where you used try catch but ignoring cache is a good idea, if somebody else is going to be looking at your code.
But in general, I do see your point.

[2015-06-20 20:35] sindresorhus commented on #2808
@ilyavolodin I'm aware, as already explained in the issue description, but I don't want to add an IMHO useless comment just to please ESLint.

[2015-06-20 20:42] lo1tuma commented on #2788
@moll This is a different issue caused by the missing semicolon after `console.log("Hi")`, see #2336.

[2015-06-20 21:38] moll opened #2810 "Ignore trailing spaces in comments (no-trailing-spaces)"
Hey,

Often, when writing (JSDoc) documentation in block comments, one needs to add two trailing spaces to make a hard linebreak in Markdown. Those get flagged by **no-trailing-spaces**, an otherwise useful rule for code itself. It would be useful to optionally ignore trailing spaces in comments. For added benefit, only in block or documentation-comments (the latter start with two asterisks by con

[2015-06-20 21:43] lo1tuma commented on #2810
Duplicate of #1229.

[2015-06-20 21:44] moll opened #2811 "Relax regex for checking fall through comment"
Hey,

It'd be a little more convenient for us pedantics if the fall through regex were a little more relaxed. To support capitalization and imperative speech.

I propose:
https://github.com/eslint/eslint/blob/master/lib/rules/no-fallthrough.js:
[code]

[2015-06-21 02:03] michaelficarra commented on #2800
@nzakas In those cases, you would use a method instead. I think the only time I'd write a function expression in ES6 is a method that for some reason needs to reference itself. But I think those will be quite uncommon. :+1: I like this rule.

[2015-06-21 02:18] michaelficarra commented on #2801
Why would a function declare its parameters? @mysticatea I recommend adding some equivalent to the spec's VarDeclaredNames and LexicallyDeclaredNames. This worked really well for us in the [Shift early error checker](https://github.com/shapesecurity/shift-parser-js/blob/es6/src/early-errors.js).

[2015-06-21 04:23] mysticatea commented on #2801
@michaelficarra

1. On ESTree, [the function node has parameters directly](https://github.com/estree/estree/blob/master/spec.md#functions), so the declaring node of parameters is its function node.
2. `escope.Variable.defs[].node` of parameters is its function node. So we get ability reference bidirectionally.
  [node] --- getDeclaredVariables ---> [variable]
  [node] <--- defs.node --- [variable]

[2015-06-21 05:44] MoOx commented on #2796
We will see :)

According to what you ask, I think we can close this issue for now.

[2015-06-21 05:49] #2796 closed

[2015-06-21 06:29] Spy-Seth opened #2813 ""no-used-vars" rule incompatible with JSDoc"
If I use the `no-used-vars` rule on the following file:

[code]

It will trigger this warning:
[code]

I do not use the `Bar` variable in my code. But I did use it in the JSDoc. This really usefull in big with lot of Object with the same name in different namespace/context. It helps to understand the code.

Is possible to add an option to the `no-used-vars` to manage reference to a variable in JSD

[2015-06-21 10:55] mysticatea opened #2815 "Rule Proposal: no-invalid-this"
Hello.

I thought when I saw https://github.com/babel/babel/issues/1795: we need a rule about `this` keyword.

The `this` keyword is `undefined` by default under the strict mode.
So if `this` is `undefined` clearly, this rule warns the `this`.

But the judgement is very difficult... (cannot?)
To start, I suggest independent functions are warned.

## The following patterns are considered warnings:

[2015-06-21 13:33] mathieumg commented on #2815
If often use arrow functions and refer to the `this` of the "parent scope" on purpose, and sometimes with a few nesting levels. I don't see how you would be able to determine the intention from static analysis here.

[2015-06-21 15:56] codeuniquely opened #2816 "Specifying File Extension"
There are two sorts of files in React projects

    .js    - JavaScript libraries and various mixins, support classes and so on
    .jsx  - React Components.which contain JSX mark-up as well as JavaScript code.

Using the --ext option at the command line for file extensions seems not to allow this.

in the module options.js says:
    "--ext [String]             Specify JavaScript file extensions.

[2015-06-21 16:04] gyandeeps commented on #2816
Have you tried this:

[code]

[2015-06-21 16:25] michaelficarra commented on #2815
@mysticatea I think you're confused about how modules affect `this`. You're right, `this` in top-level arrows in strict mode will always be an `undefined` value, and will be a ReferenceError in modules. But the function declarations and function expressions can be `call`/`apply`'d or stuck on some object and called as `a.b()`. This *would* give them a meaningful `this` value. I think you should re

[2015-06-21 17:04] codeuniquely commented on #2816
probably the one combination that I had not tried...
that works,

You might want to add an example of this on the docs - as others way find it useful.

Thank you

[2015-06-21 17:04] #2816 closed

[2015-06-21 18:21] AsaAyers commented on #2302
It seems that `--init` exists, but it isn't listed under `--help`. v0.23.0

[code]

[2015-06-21 20:57] nordisk commented on #2302
+1

[2015-06-21 21:34] btmills opened #2817 "--init not included in --help output"
Initially reported by @AsaAyers in #2302:

Because `--init` is handled in `bin/eslint.js` before options get set up in `lib/options.js`, `--init` isn't included in the `--help` output.

[code]

[2015-06-21 21:35] btmills commented on #2302
@AsaAyers thanks for the report; I created #2817 to track that.

[2015-06-21 22:48] mysticatea commented on #2815
* What determines `this` is NOT "there is top-level or not".
  It's "the direct containing function (without arrow functions) of `this` is called as a method or not".

  For example:

[code]

* Of course, I know the `call/apply` callings.  But I think those are not generally.  This rule considers the `call/apply` callings are special case.
  This is similar to TypeScript.  So far as I know, the fu

[2015-06-21 22:59] mysticatea commented on #2801
@michaelficarra Do you think we get parameters?  We should traverse all variables in scope?

[2015-06-22 01:51] gyandeeps commented on #2424
@DelvarWorld we haven't received any info. We will close this if we don't get any response.

[2015-06-22 01:54] gyandeeps commented on #1983
Closing as discussion is old and there has been no activity.
Feel free to reopen if needed.

[2015-06-22 01:56] gyandeeps commented on #2135
any updates here?

[2015-06-22 02:04] gyandeeps commented on #2407
@nzakas looks like we need to make n update to the rule to account for getter/setter scenario?

[2015-06-22 03:39] mattdesl commented on #1983
Why not a new rule that is just `for-loop-semi-spaces`? Isn't that the only place you would want semi spacing in ASI codebases?

[2015-06-22 04:26] feross commented on #1983
@mattdesl Yes, that is correct. I would use such a rule.

[2015-06-22 07:33] hatched opened #2818 "Cannot specify boolean .eslintrc values with 0.23.0"
On OSX 10.10.3 using the following `.eslintrc` it will correctly run when using `0.22.1` but fails with the following error using `0.23.0`. The same issue appears using a yaml or json .eslintrc file, global and locally installed bin's.

[code]

[code]
*`<path>` substituted for real path

[2015-06-22 07:39] michaelficarra commented on #2818
`camelcase` is supposed to be given 0, 1, or 2.

[2015-06-22 09:06] roadhump opened #2819 "Allow `no-shadow` rule to not check arguments"
It often seems better to allow `no-shadow` rule to not check argument variables.

Arguments are often need only inside function's own context, not deeper, e.g. users can use nesting  `.map(function(v, k){})` with "common" argument names `v, k` if result of parent function is not used inside of child.

`no-shadow` can give unneccessary error if user wants to make scope with `.bind`.

[code]

It sli

[2015-06-22 09:27] heldinz commented on #2668
I think groups in general are a good idea and should remain the default behaviour. I can't imagine visually separating groups with blank lines and still expecting the values to line up. So how about the current behaviour (a new group is indicated by a blank line or a multi-line property) as default, since that seems to be fine for most people, with the option being to change what indicates a new g

[2015-06-22 09:33] eTorAken opened #2820 "`object-shorthand` not working properly with Object Rest Properties"
I'm using ESLint `0.23.0` and it seems to have a bug on the `object-shorthand` rule using [Object Rest Properties](https://github.com/sebmarkbage/ecmascript-rest-spread#rest-properties). For instance, this code:
[code]
is throwing `Expected property shorthand  object-shorthand`.

Moreover, it is also throwing a `Unexpected token` error (which might be related to https://github.com/eslint/eslint/is

[2015-06-22 09:40] lo1tuma commented on #2820
Which parser do you use?

The default ESLint parser doesn’t support object rest properties.

[2015-06-22 09:42] eTorAken opened #2821 "`ecmaFeatures.superInFunctions` missing from documentation"
The `ecmaFeatures.superInFunctions` option is missing from the [documentation](http://eslint.org/docs/user-guide/configuring) (feature from [espree](https://github.com/eslint/espree/blob/master/lib/features.js#L98)).

[2015-06-22 09:44] eTorAken commented on #2820
Sorry I did not know, I'm using `babel-eslint` so it should be directly related to it.

[2015-06-22 09:56] eTorAken commented on #2821
Nevermind, [it is in the documentation](https://github.com/eslint/eslint/blob/master/docs/user-guide/configuring.md#specifying-language-options).

[2015-06-22 09:56] #2821 closed

[2015-06-22 10:07] michaelficarra commented on #2815
@mysticatea Firstly, `call`/`apply` are used *all the time*. Secondly, I don't think you're considering the common patterns of `existingObject.a = function(){ this; };` or `Object.defineProperty(o, "a", { writable: false, value: function(){ this; } }` or many others.

[2015-06-22 10:27] mysticatea commented on #2815
@michaelficarra Ah, thank you, I had forgotten `Object.defineProperty`. `existingObject.a = function(){ this; };` is the pattern K....

I will add valid patterns:

* S
[code]

* T
[code]

* U
[code]

* V
[code]

And [JSDoc `@this` tag](http://usejsdoc.org/tags-this.html)

* W

[code]

[2015-06-22 11:08] sebmck commented on #2820
See babel/babel-eslint#131.

[2015-06-22 14:20] ilyavolodin commented on #2818
@hatched ESLint never accepted boolean values in configuration, it was just skipping the rule all together when it was misconfigured. In 0.23.0 we added configuration validation, now instead of silently skipping the rule, it shows you an error specifying which configuration is incorrect.
This works as intended, as we always require an integer value (or an array with an integer value in the first s

[2015-06-22 14:20] #2818 closed

[2015-06-22 14:22] hatched commented on #2818
Ahh thanks for clarifying. Might I suggest a little more descriptive error message? `field "camelcase" requires an integer type`

[2015-06-22 14:24] michaelficarra commented on #2818
Not any integer. Just those three.

[2015-06-22 14:25] ilyavolodin commented on #2819
@roadhump In the examples you provided, you are shadowing variables. As in inside the function, you can not access a value from the outer scope (with exception of your `bind` example). This is exactly what this rule is designed to catch. So I'm not sold on the need for this exception. I think you might want to turn this rule off, if you do not want to check function arguments.

[2015-06-22 14:31] ilyavolodin commented on #2820
Closing as this is not an ESLint issue. We do not natively support object rest properties.

[2015-06-22 14:31] #2820 closed

[2015-06-22 14:32] ilyavolodin commented on #2818
@hatched It would be very tough to do, since we are validating all of the options in configuration. Some of the options are enums, some are object, some can be either object or an array. It's not really something that we would be able to convert into clear messages. Sorry.

[2015-06-22 14:35] hatched commented on #2818
Np thanks for the quick response.

[2015-06-22 15:04] michaelficarra commented on #2801
In that case, then you probably actually want to implement `BoundNames`. See https://people.mozilla.org/~jorendorff/es6-draft.html#sec-destructuring-binding-patterns-static-semantics-boundnames

You need to just flatMap BoundNames over the function parameters to collect the declared names.

[2015-06-22 15:29] #2752 closed

[2015-06-22 15:32] #2721 closed

[2015-06-22 15:55] xjamundx commented on #2424
I can't reproduce this with eslint `v0.21.0`.

Here is my `test.js` file:

[code]

`eslint --no-eslintrc --reset --env es6 test.hjs` gives no errors.

Also espree handles this just fine:

[code]

Pretty sure this is not an issue with eslint.

[2015-06-22 16:03] ilyavolodin commented on #2424
This doesn't look like an ESLint issue. Feel free to reopen with more information if it's still happening.

[2015-06-22 16:03] #2424 closed

[2015-06-22 17:07] moll opened #2822 "Rule for detecting generator functions without yield statements"
Hey,

It'd be useful to get a warning when a generator function is written without a `yield` statement inside it.
Would match JSHint's `noyield`: http://jshint.com/docs/options/#noyield.

Thanks!

[2015-06-22 18:16] nzakas commented on #2809
Thanks for the note. Unfortunately, there's not enough information in this description. Can you please provide:

1. Some sample code you want to lint
2. The configuration of no-return-assign you're using
3. What ESLint currently outputs
4. What you want to happen instead

[2015-06-22 18:19] nzakas commented on #994
What is it warning about, exactly? Each callback has a return.

[2015-06-22 18:47] moll commented on #2809
http://eslint.org/docs/rules/no-cond-assign.html has:

I'm proposing `no-return-assign` do the same.

The following patterns would then not be considered warnings:
[code]

[2015-06-22 18:50] nzakas commented on #2808
@sindresorhus

Being unopinionated doesn't mean we automatically do everything everyone wants. It means we don't prescribe styles or force you to do anything you don't want to do. We also make no promises that your code will lint without any changes or that all of our rules are appropriate for all code. (Also discussed: https://github.com/eslint/eslint/issues/1841#issuecomment-87797166)

Here, we

[2015-06-22 18:51] #2810 closed

[2015-06-22 18:52] gcochard commented on #994
It violates (IMHO) the spirit of the rule, which is to keep a callback from being called twice. Putting the callback call inside an anonymous function causes the return to be in the wrong place. It should paired with `process.nextTick` so that each code path which calls a callback is a terminal path.

[2015-06-22 18:52] nzakas commented on #2811
Can you explain more? What code are you trying to lint and what is the problem you're seeing?

[2015-06-22 18:54] moll commented on #2811
Code with a comment, written as said above, with capitalization and imperative speech. :)
[code]

[2015-06-22 18:56] nzakas commented on #2813
No, JSDoc can't be used as a "use" of a variable. Your best bet is to use a comment to disable the rule for that line: http://eslint.org/docs/user-guide/configuring#configuring-rules

[2015-06-22 18:56] #2813 closed

[2015-06-22 18:58] hzoo commented on #2813
An alternative I guess is to not use jsdoc for params and use flow (or typescript?) - `babel-eslint` will lint flow for `no-unused-vars/no-undef` now

[2015-06-22 18:58] nzakas commented on #2816
This is already in the docs: http://eslint.org/docs/user-guide/command-line-interface#ext

[2015-06-22 18:59] nzakas commented on #2407
Yup

[2015-06-22 19:04] nzakas commented on #2815
I'm not sure about this - I think you are trying to catch too many different cases. I agree with @michaelficarra that the scope of this rule needs to be reduced before moving forward.

[2015-06-22 19:05] moll commented on #1229
Was showing interest in the form of pull requests or interesting in having something like this? If the latter, I'm all thumbs up!

[2015-06-22 19:07] nzakas commented on #2819
Related: #2645

[2015-06-22 19:10] #2720 closed

[2015-06-22 19:10] #2787 closed

[2015-06-22 19:17] nzakas commented on #2822
This sounds like a good idea and I'd like to hear more. Please provide the information asked for in our new rule submission guide: http://eslint.org/docs/developer-guide/contributing#new-rules

[2015-06-22 19:18] nzakas commented on #2809
Seems rational to me.

[2015-06-22 19:23] nzakas commented on #994
I think it's a stretch to include that case in this rule. I'd vote for keeping to the original description.

[2015-06-22 19:26] moll commented on #2822
This rule would catch unnecessary generator functions where a plain, synchronous function would do. Helpful in server-side contexts where generators are used for writing sequential code.

### Code examples

Invalid:
[code]

Valid:
[code]

[2015-06-22 19:28] nzakas commented on #2811
I'm sorry, I'm still not completely clear on the change your requesting. Are you just wanting to make the check case-insensitive?

FYI, it would be really helpful if you could follow our guidelines for filing new issues: http://eslint.org/docs/developer-guide/contributing#filing-issues. This helps prevent a lot of back-and-forth.

[2015-06-22 19:29] nzakas commented on #2822
Thanks. Are you interested in working on this?

[2015-06-22 19:31] moll commented on #2811
The one-liner above there is actually the patch to copy and paste. Sorry if didn't make that too clear. I just didn't go through the whole PR saga as I find it's too heavyweight for a one-line change. :-)

The regexp proposal adds case-insensitivity _and_ makes the "s" optional. Hope that makes it clear.

[2015-06-22 19:33] moll commented on #2822
I would love to, but I'm probably not too likely to get to it in the nearer future. I've got so many open pull requests, issues and todos on my own OSS projects that I'm a little overwhelmed. :innocent:

Hopefully someone better abled comes along to make this rule happen.

[2015-06-22 19:40] nzakas commented on #2811
Ah, I see. Makes sense. As I mentioned, it's really helpful to get as much info as possible up front. We aren't going to copy-paste in a suggestion without understanding the problem it solves and what code will properly test the change.

[2015-06-22 19:49] sindresorhus commented on #2808
The dev can just as easily disable the whole rule. Same result. The dev is in control of both. If you start thinking like this pretty much all the exceptions in the other rules are a mistake. Even ability to disable rules would be a mistake with that logic.

But it's clear we're seeing things differently, so I'm going to stop here, disable the rule, and look into making a plugin :)

[2015-06-22 22:00] mgenev opened #2823 "handle-callback-err doesn't get arrow function it seems"
I have this code
[code]
and I get a warning for not meeting the `handle-callback-err` rule, but in reality i'm handling it with the arrow...

[2015-06-22 22:01] xjamundx commented on #2823
Can you give us the exact version of eslint you're using as well as the output

[2015-06-22 22:03] mgenev commented on #2823
ESLint:    "eslint": "^0.23.0",
Warning: Expected error to be handled. (handle-callback-err)

[2015-06-22 23:10] xjamundx commented on #2823
I'm not a pro but in promise parlance does `return err` essentially give the promise the value of `err`?

[2015-06-22 23:24] OliverJAsh opened #2824 "Automatically find eslintignore"
Currently:

[code]

Desired:

[code]

Where ESLint will automatically traverse the file tree and spot my `.eslintignore`.

[2015-06-22 23:50] nzakas commented on #2823
Yup, looks like a bug.

[2015-06-22 23:52] nzakas commented on #2824
I'm sorry, this is beyond how ignore files are supposed to with in ESLint. If suggest using a bash command to do the search and pass that in as --ignore-path.

[2015-06-22 23:52] #2824 closed

[2015-06-22 23:56] gcochard commented on #994
I'm okay with that. Just make a note that deferred callbacks may not be flagged by this rule.

[2015-06-23 00:48] mysticatea commented on #2801
@michaelficarra Sorry, I don't think so.  If variable names are gotten, we still must traverse all variables in the scope.  And if API targets the `Pattern` nodes, at same time, we should think the `AssignmentExpression` nodes. But `BoundNames` seems to not treat the `MemberExpression` nodes, so `[obj.foo] = bar;` is not treated.

The `Variable` objects have nodes that declares self, and we had be

[2015-06-23 01:53] mysticatea commented on #2815
I also think this rule looks complex, so yesterday I checked whether or not the implementation of this rule is enough simple.

Before it, I thought I don't need to limit to under strict mode because unexpected accesses to the global scope is dangerous.  In short, I will move the patterns G-I to warned.  This rule doesn't need to check whether or not there is strict mode, so becomes simpler.

And s

[2015-06-23 10:50] mysticatea commented on #2815
Oops, I will add a valid pattern: Constructor.

[code]

[2015-06-23 10:50] carlosvillu commented on #2798
Hi,
Thx for your response. Like you ask me I launch the eslint in isolate mode:

`npm run lint:eslint`

and that is the complete output:

[code]

The point is that I run `npm i eslint` and later run the same command again `npm run lint:eslint`. All will work perfectly fine again.

[code]

[2015-06-23 11:07] AdriVanHoudt commented on #2696
I am updating Lab to 0.23 and suddenly I get an unexpected lint error I assume due to this issue, see https://github.com/hapijs/lab/pull/381, the docs for the rule still state that there ae defaults, see http://eslint.org/docs/rules/space-unary-ops
Might be useful to update the docs according to this change

[2015-06-23 11:22] AdriVanHoudt commented on #2696
On further notice, I don't see a reason why `this.count++;` gives an error. It has something to do with the `++` but I don't see why it should error apart from being a bad config somewhere or a bug

[2015-06-23 12:58] mysticatea commented on #2815
I arranged information: https://gist.github.com/mysticatea/2e112dccbfa3a1667995

[2015-06-23 15:36] OliverJAsh opened #2826 "no-reserved-keys on object property assignment"
Could we lint properties assigned to objects like so?

[code]

Re. https://github.com/eslint/eslint/issues/1144

[2015-06-23 15:43] xjamundx commented on #994
`"callback-return": [0, ["callback", "cb", "next"]]` seem like a good name and reasonable defaults?

[2015-06-23 16:14] michaelficarra commented on #2696
@AdriVanHoudt this has been fixed already.

[2015-06-23 16:19] xjamundx commented on #994
I thought about turning this on by default in the node environment and ran into this...

[code]

[code]

[2015-06-23 16:26] tel opened #2827 "consider unused /* globals */ as unused-vars"
If I create a file

[code]

then I receive no error on not using my declared global `Foo`. This may be a little controversial since it's not entirely clear that `globals` introduces variable declarations, but without the ability to check like this the `globals` list can easily grow larger than is actually needed. Including the check would ensure that the globals list declares exactly and only the

[2015-06-23 16:29] xjamundx commented on #994
I guess I'll just remove that, because we're getting rules automatically being turned on anyway....

[2015-06-23 16:33] gyandeeps commented on #2827
They are treated that way.
What version you eslint are you using?
What kind of parser?
Can you share the actual code and the output?

[2015-06-23 16:34] mlarcher opened #2829 "handle regexp for variable names"
Right now we have a Require Camelcase rule  that makes sur variable/property names are camel case.
Would it be possible to provide a regex to match those names against ?

[2015-06-23 16:36] gyandeeps commented on #2829
I am not sure I understand what you are asking for here?
Can you explain more by providing an example and laying down what do you expect to happen.

[2015-06-23 16:37] tel commented on #2827
I can replicate it almost exactly as shown above:

[code]

This reports no errors, but I would expect it to complain.

[2015-06-23 16:38] gyandeeps commented on #2827
So in your case the file foo.js has nothing in it. expect the global comment. is that correct?

[2015-06-23 16:39] tel commented on #2827
Yes, that is correct.

—
Sent from Mailbox

On Tue, Jun 23, 2015 at 12:39 PM, Gyandeep Singh <notifications@github.com>
wrote:

[2015-06-23 16:40] pixelshaded commented on #2446
I'm having some trouble with babel-eslint. If I add a class or enum to the ts file I get parsing errors aka unexpected token.

[2015-06-23 16:40] gyandeeps commented on #2827
What version you eslint are you using?
What kind of parser?

[2015-06-23 16:41] gyandeeps commented on #2827
I am not able to reproduce it with online demo.
I will try it on my machine.

[2015-06-23 16:43] tel commented on #2827
Oh, apologies, I left out that line. Here's a complete trace.

[code]

[2015-06-23 16:52] gyandeeps commented on #2827
Works fine for me.

[2015-06-23 16:53] tel commented on #2827
Strange, I realize perhaps I just should update the version.

[2015-06-23 16:53] gyandeeps commented on #2827
I tried it on the version you are on too. 0.22.1

[2015-06-23 16:55] tel commented on #2827
Strange—is there any other way there might be an interaction going on?

[2015-06-23 16:57] gyandeeps commented on #2827
can you run eslint like this and provide the output
[code]

[2015-06-23 16:58] tel commented on #2827
To confirm, I just upgraded eslint to 0.23 and can confirm that the following occurs

[code]

So eslint itself will report errors (even `no-unused-vars` errors)

[2015-06-23 16:59] xjamundx commented on #2823
I'll look at this

[2015-06-23 16:59] tel commented on #2827
[code]

[2015-06-23 16:59] xjamundx commented on #1200
I'll work on this

[2015-06-23 17:01] gyandeeps commented on #2827
There it ids I think.
Please check what kind of configuration you have in .eslintrc file sitting in your tel/tmp directory.
its getting used also.

[2015-06-23 17:03] tel commented on #2827
Oh, that appears to be the problem indeed. Deleting `~/tmp/.eslintrc` fixes the issue. Sorry for the ignorance here! I'll try to debug that `.eslintrc` file.

[2015-06-23 17:04] ilyavolodin commented on #2446
@pixelshaded It's probably an issue for `babel-eslint`. We don't natively support TypeScript in ESLint.

[2015-06-23 17:05] #2827 closed

[2015-06-23 17:08] tel commented on #2827
Oh, that's embarrassing. I've been picking up `.eslintrc`s containing `"no-unused-vars": [2, {"vars": "local"}]`, but I also realized *why* those existed. If I write a file like

[code]

then I'd like to have this pass through eslint, but without `"vars": "local"` it will not—it considers `React` to be an unused variable. Then, if I eliminate the `global` comment I get another eslint error from `n

[2015-06-23 17:09] tel commented on #2827
In other words, I want "used" to include "assigned to" for my globals, I suppose.

[2015-06-23 17:11] pixelshaded commented on #2446
one of the ecmaFeatures is jsx. Doesn't jsx use strong typing like this?

[2015-06-23 17:20] tel opened #2830 "support assigning to globals under no-unused-vars and no-undef"
I'm using eslint to check meteor files. It's often necessary (to comply with Meteor package conventions) to write something like the following

[code]

If I try to write this with base `eslint` then it will complain, rightly, about having no undefined variables (`no-undef`). If I declare this variable as a (writeable) global

[code]

then instead I get an error under `no-unused-vars`. This I belie

[2015-06-23 17:20] tel commented on #2827
Tracking this under a new issue, #2830

[2015-06-23 17:59] AdriVanHoudt commented on #2696
in what version? or when will the fix land?

[2015-06-23 18:13] gyandeeps commented on #2830
Have you tried looking into https://github.com/yannickcr/eslint-plugin-react

[2015-06-23 18:15] tel commented on #2830
I'm using it, but it is tangential to this. I just used `React` as an example because it was the one I was staring at at the time :)

[2015-06-23 18:44] nzakas commented on #2830
The problem is that you aren't using React, you're defining it (using means you are reading its value). Assigning a value to a variable that is never read is exactly what this rule flags.

You can add globals in your configuration file, and those are not required to be used. http://eslint.org/docs/user-guide/configuring#specifying-globals

Another option is to just use a comment to disable the rul

[2015-06-23 18:44] #2830 closed

[2015-06-23 18:56] nzakas commented on #2826
I'm sorry, I'm not sure what you're asking. It would help if you described your request as "This is what happens right now, and this is what I would like to happen."

[2015-06-23 19:00] nzakas commented on #2798
I think this has to do with your task setup, is it possible you are deleting files after linting?

[2015-06-23 19:03] #2790 closed

[2015-06-23 19:25] #2407 closed

[2015-06-23 19:26] nzakas commented on #2823
Thanks!

[2015-06-23 19:48] mlarcher commented on #2829
I'm thinking of something I saw in scss-lint and found to be quite handy.
Imagine that instead of having
[code]
we had
[code]

[2015-06-23 19:51] gyandeeps commented on #2624
I think it ignores multi-line strings.
I ran the test with this and it doesn't throw any errors:

[code]

[2015-06-23 20:00] ilyavolodin commented on #2446
Not as far as I know. JSX doesn't use strong typing to the best of my knowledge.

[2015-06-23 20:08] lo1tuma commented on #2446
@ilyavolodin is right. You can read the jsx specification [here](https://facebook.github.io/jsx/).

[2015-06-23 20:22] lo1tuma commented on #2624
@gyandeeps you are right. That’s because the lines aren’t actually empty, they contain at least a backslash.

[2015-06-23 20:23] gyandeeps commented on #2624
And even this:

[code]

[2015-06-23 20:24] gyandeeps commented on #2624
multi-line strings: they have to have a back slash otherwise it would be illegal expression.

[2015-06-23 20:26] lo1tuma commented on #2624
@gyandeeps yes I know. I think we can close this issue as invalid.

[2015-06-23 20:28] gyandeeps commented on #2624
how about the block-comment scenario as mentioned above.
Do we need to fix that or it is correct the way its behaving right now?

[2015-06-23 20:31] lo1tuma commented on #2624
I think it would be reasonable to warn about multiple empty line even within multiline comments. If someone wants an exceptions for multiline comments it should be an additional feature behind an option.

[2015-06-23 20:31] gyandeeps commented on #2624
@lo1tuma I agree.

[2015-06-23 20:47] lo1tuma commented on #994
What about `done`, which is often used in asynchronous tests (e.g. with mocha).

[2015-06-23 21:20] ilyavolodin commented on #2829
That would be a completely different rule at that point? Because who is stopping you from giving it the following regEx
[code]
at that point the rule doesn't have anything to do with camel case anymore.

[2015-06-23 22:11] michaelficarra commented on #2696
master

[2015-06-23 22:24] AdriVanHoudt commented on #2696
is there an eta on next release?

[2015-06-23 22:27] michaelficarra commented on #2696
I don't think releases are scheduled like that. They're fairly frequent, though.

[2015-06-23 22:46] AdriVanHoudt commented on #2696
I know, I thought maybe there was some form of timeline. Well I hope that there is patch or new version release soon then! Thanks for the info!

[2015-06-23 23:45] nzakas commented on #2696
Likely this weekend. We try to do releases every two weeks.

[2015-06-24 00:52] tel commented on #2830
While I agree with that rule in general, the fact that it's keyed with `global Foo:true` at the top of the file changes my feeling about that somewhat.

In any case, it's up to you guys. I'll try the conditional comments for the time being.

[2015-06-24 00:54] gyandeeps commented on #2624
@ilyavolodin should we close this?

[2015-06-24 01:07] ilyavolodin commented on #2624
Agree

[2015-06-24 01:07] #2624 closed

[2015-06-24 03:22] rizowski opened #2831 "Extending upon options.js"
Hello,

**Problem:**
options.js does not allow for adding additional command line options.

**Proposal:**
I was wondering if you guys would be up to making options.js a little more modular. Reason I ask is because currently for my project ([ESLint-Watch](https://www.npmjs.com/package/eslint-watch)) I haven't been able to figure out a better way to pull in your options object to add my own command

[2015-06-24 08:26] dantman opened #2832 "Support block/function scoped inline configuration comments"
ESlint's inline configuration comments don't appear to do any scoping. So any time you want to change configuration for one function. You need to configure it at the top, and reset it at the bottom of the function with another comment to avoid it leaking.

Which to be honest. Doing that while writing code for node/browserify in ES6 and JSX/React just feels wrong.

jshint block scoped its inline co

[2015-06-24 08:38] lo1tuma commented on #2832
Duplicate of #1766
On Jun 24, 2015 10:26 AM, "Daniel Friesen" <notifications@github.com> wrote:

[2015-06-24 08:56] feross commented on #2336
I'm willing to put $10 on this issue.

There's no BountySource link for some reason (perhaps it's another BountySource bug), but I can pay you directly through Paypal or Bitcoin.

[2015-06-24 09:25] LinusU commented on #2336
I'm willing to chip in $10 as well, I can pay with Bitcoin.

[2015-06-24 09:39] mysticatea commented on #2794
I will try fixing this.

[2015-06-24 12:25] mathieumg commented on #2809
I know this is already accepted, just wanted to show further support for this.

[2015-06-24 16:04] nzakas commented on #2831
Hmm, this was really not designed to be accessed outside of ESLint, and I'm not sure it's a good idea to do so.

If you're just adding more options, why not just look for the `-h` flag and output your options then run `eslint -h` and output the result?

[2015-06-24 16:15] nzakas commented on #2815
Looks nice and simple now, let's move forward.

[2015-06-24 16:39] rizowski commented on #2831
I am not really worried about printing the commands. Although I do kind of have what you are describing in place. My [ArgParser](https://github.com/rizowski/eslint-watch/blob/master/src/arg-parser.js) is for pulling out ESLint-Watch commands before passing them to ESLint.

`esw -ext .js -w --no-ignore`

The problem that I am presented with is like something above. If the command strings are passed

[2015-06-24 16:43] rizowski commented on #2831
If it was split out, I could pull the options from eslint, update them with what I want (ex. I have new formatters so I set the default to the ones I have created. Then add the watch option) and then let ESLint handle everything from there.

[2015-06-24 16:55] #2832 closed

[2015-06-24 16:58] nzakas commented on #2336
Sorry, the Bountysource plugin is broken. I've contacted them about it but haven't gotten any useful information.

I'd ideally like to solve this in the parser, but if this is a big pain point, I think @lo1tuma had a solution that didn't require a parser change. We can use that info the parser is fixed to eliminate the pain

[2015-06-24 17:01] #2794 closed

[2015-06-24 17:15] nzakas commented on #2831
I understand. My problem is that the architecture is setup specifically so that CLI details are not exposed, as we don't want people manipulating those details. Options are also very implementation dependent, which means we would be stuck with our current option parser or else need to keep the same format exported all the time even after we change. I don't see that as a viable path.

I think the b

[2015-06-24 18:31] rizowski commented on #2831
Fair point. I don't think having the option names coming from the CLIEngine will give me enough. Would this just be the options the ESLint supports or the ones that have been entered?

I will convert it over to CLIEngine, is `/lib/cli` going away?

[2015-06-24 18:50] dantman opened #2834 "Cannot enable/disable environments inline"
It appears that not only is there a way to disable an env inline with `/* eslint-env ... */` but these comments are hoisted so they apply to the entire file. So even if there were, you could not enable an env for only a specific section of code.

These issues are exacerbated for me by the fact that there are no scoped inline configurations (#1766). ie: If there was a block scoped version of `eslin

[2015-06-24 18:55] dantman commented on #1766
Here are two comments from my dupe (#2832) that might be useful.

[2015-06-24 21:10] pdehaan opened #2835 "Specify ES3-only env?"
Currently in one of our projects, we have `//jshint es3: true, es5: false, esnext: false`.
We're switching from JSHint to ESLint (yay!) but I think that the `es3:true` and `//jshint validthis: true` are the remaining two things we're stumped on.

Is it possible to set `es3:true` for an ESLint `env`?

[2015-06-24 21:38] hzoo commented on #2835
Don't think so at the moment - http://eslint.org/docs/user-guide/configuring#specifying-environments

I guess a request could be for an env for es3 that sets all relevant rules to account for es3 (like `"dot-notation": [2, {"allowKeywords": false}],`)?

For now you should just check the rules you are using and see if there are options for es3?

[2015-06-24 21:54] dantman commented on #1766
Inspecting the code I can see how implementation might be tricky.

Right now
* The source is parsed and transformed into a nested syntax tree.
* eslint traverses this whole tree firing enter/exit events for all node types.
* All rules (active in the config files?) are handled during this walk by event listeners listening for those events.
* I think this process also saves a list of comments in the

[2015-06-25 00:24] nzakas commented on #2831
I'm thinking just the options we actually handle. I don't have a really clean solution, as this isn't a use case I designed for. I might be missing something, but why not execute ESLint as a binary from Node? You could strip out the options you care about and pass the rest through.

lib/cli is not intended for use outside of the project. CLIEngine is the thing designed for external use. lib/cli ma

[2015-06-25 00:44] nzakas commented on #2834
We left this off because we didn't have a good use case for it and it's not easy to implement. We do a lot more complicated things with globals and scoping than JSHint does, so changing environments in the middle of a file isn't possible. For instance, we add an extra function scope for Node environment so variable scoping is correct, and we can't just change that in the middle of a file. Environm

[2015-06-25 00:51] nzakas commented on #2835
We don't have an option for ES3 only mode, as there just aren't enough use cases remaining for this. The only tangible differences between ES3 and ES5 are:

1. ES5 can use keywords as properties, ES3 cannot.
1. The getter/setter syntax for object literals

We do have affordances for the first item through dot-notation and no-reserved-keys/quote-props.

The second one we don't have, but would be re

[2015-06-25 00:51] nzakas commented on #1766
Code speaks louder than words :) if you want to try it out, we are happy to review

[2015-06-25 00:52] #2823 closed

[2015-06-25 00:53] hzoo commented on #2835
Oh ok - is there an issue to change the docs to reflect that? - `as well as which rules should be on or off by default.`

And I guess its only es6 that does something special by turning on emcafeatures?

[2015-06-25 00:56] dantman commented on #2834
I understand that there are special cases with es6, node, etc... I don't care if I can't turn off node as an environment. Just like you cannot change es6 at all already. But I still need a way to declare one section as part of the browser environment.

If environments cannot be switched. Then perhaps environment is the wrong place for eslint to declare browser/jquery/prototoype/mongo globals or an

[2015-06-25 01:19] nzakas commented on #2835
The tracking issue is https://github.com/eslint/eslint/issues/2100

ES6 and Node change ecmaFeatures

[2015-06-25 01:35] nzakas commented on #2834
As I mentioned, we do a lot with scoping that JSHint doesn't do. I'm just not sure it's even possible to switch which globals are available in any given section of code without breaking a lot of functionality. Tying globals to environments isn't really an issue here.

I'll reopen to see if someone wants to investigate the possibilities here, but I can't put it on the roadmap based on the complexit

[2015-06-25 01:36] mysticatea commented on #2834
Hmm, I understand this requirement, an isomorphic code may have vary environments each part, but it's very hard....

I'm interested to think for this.

[2015-06-25 05:47] madcapnmckay commented on #2253
Also happens for single level destructuring with renaming if a default value is also added. For example:
[code]

[2015-06-25 06:10] baer commented on #2730
@jokeyrhyme - It is going to be very difficult for the good folks at ESLint to maintain sane defaults for all the many variants of JS out there (node, test, browser, coffee, react etc.) and IMO is mostly just a distraction from their main focus. Sharable configs are super awesome and I am ramping up a project using them to try to solve your exact problem. Syncing config across many projects especi

[2015-06-25 06:27] jokeyrhyme commented on #2730
@baer interesting work there, thanks!

I actually started a project to help me develop configs that don't overlap (e.g. this config is style-only, this config is best-practice-only, etc): https://github.com/jokeyrhyme/eslint-rules-metadata

You might find it useful, although I have a few things I want to do before publishing it to npm. I plan on using it as a way to write tests for shared configs,

[2015-06-25 06:32] baer commented on #2713
I just came across this issue and I see that a project I just started plying with might be duplicating some work here... Since it's done though, I wanted to broach an idea:

It seems like maintaining default configuration for any variant of js (React, Node, Browser, Test, Phantom, Coffee etc.) is a really difficult proposition. There may be rules in the Error section but complete config defaults w

[2015-06-25 07:33] dotnil opened #2837 "Problems with semi, semi-spacing, and no-extra-semi all turned on"
Setting:

[code]

The following patterns are considered warning:

[code]

because theres no space after the leading semicolon. But I think the style given in this example shall be the preferred one.

The following patterns are considered warning too:

[code]

because `no-extra-semi` rule is applied. eslint will consider the leading semicolon unnecessary. But this semicolon is vital...

[2015-06-25 09:21] michaelficarra commented on #2837
What makes you think that that semicolon is vital? Have you tried removing it?

[2015-06-25 11:30] OliverJAsh commented on #2826
With `no-reserved-keys` set, this is what we lint right now:

[code]

However, we are not catching these cases:

[code]

[2015-06-25 11:41] mysticatea commented on #2809
I will try to make this.

[2015-06-25 12:55] mysticatea commented on #2815
Thank you!

Can I send a PR for this?

[2015-06-25 13:03] mysticatea commented on #2822
Can I try to make this?
I will name this rule `no-extra-generator`, which is similar to `no-extra-bind`.

[2015-06-25 15:21] baer commented on #2730
@jokeyrhyme - that's awesome! I've been hoping somebody would do that for forever. It's a little sparse on docs but from what I see they are both individually useful and I'd love to work together if there were a good way to. Possibly take eslint-rules-metadata as a dep to help track changes programatically.

This is a bit off topic so lets talk in those two repos. Thanks for the preview :)

[2015-06-25 15:36] ilyavolodin commented on #2822
I don't think that's a descriptive name for this rule. I would ideally call it `no-generator-without-yield`, but that's too long. Maybe something like `require-iterator`, but that doesn't follow our naming convention...

[2015-06-25 15:36] #2817 closed

[2015-06-25 15:58] mathieumg commented on #2822
I think it's a good descriptive name, and its name is as long as http://eslint.org/docs/rules/no-shadow-restricted-names

[2015-06-25 16:44] michaelficarra commented on #2815
I think the rule should be the very simple case of `this` in module context (in a module, but not nested in a FE, FD, GFE, GFD, getter, setter, or method) because it is the only thing we can guarantee is an error. Then we can have options to expand the rule to these other cases that are *likely* errors in common practice, but not necessarily errors.

[2015-06-25 16:46] michaelficarra commented on #2826
@OliverJAsh This already exists: http://eslint.org/docs/rules/dot-notation#options

[2015-06-25 17:09] gcochard commented on #2713
@baer Most of the changes I am working on are related to getting the tests passing with no default rules. The Makefile currently verifies the rules in the default config, ensuring they match up with the documentation. As part of resolving this issue, we will rework that to ensure the "recommended" rules show up in place of "default", and that they match the documentation.

Moving forward from the

[2015-06-25 17:15] nzakas commented on #2837
Duplicate of #1983

[2015-06-25 17:15] #2837 closed

[2015-06-25 17:17] nzakas commented on #2837
Oops, the semi-spacing piece is the dupe. The semicolon in your last example is unnecessary, which is why no-extra-semi warns.

[2015-06-25 17:19] #2809 closed

[2015-06-25 17:22] nzakas commented on #2822
Maybe require-yield?

The no- prefix we typically only use when we want to prevent you from doing something. In this case, I'd argue we are trying to get you to do something.

[2015-06-25 17:23] nzakas commented on #2826
Closing per last comment

[2015-06-25 17:23] #2826 closed

[2015-06-25 17:26] nzakas commented on #2815
I agree, good description @michaelficarra

@mysticatea yes, you can start a PR

[2015-06-25 17:31] nzakas commented on #2713
@baer this isn't really related to the topic at hand. Can you either send a message to the mailing list or, if you are going to request a feature, file a new issue? Happy to discuss, just want to keep issue discussions on-topic.

[2015-06-25 17:34] baer commented on #2713
I didn't know about `--init` :). Still I wonder if managing defaults should be a part of core. On the one hand the tool should be as easy and accessible as possible for beginners/newcomers. Linting is awesome and there should be no barriers to entry. On the other, it seems like a whole separate project and a side not to ESLint's core mission trying to manage a set of sensible defaults for every pr

[2015-06-25 17:46] ilyavolodin commented on #2822
Hmm.. I think I agree. `require-yield` is good name from my perspective, I would go with that.

[2015-06-25 18:34] jbrad opened #2840 "Ability to append to console output"
I was wondering if there is any interest in supporting the ability to append to the console output for different linters. I work for a large corporate/distributed team and it would be nice to add some additional information for failures. One idea is that different rules could have links to documentation for more information for specific rules. This can help with onboarding and educating people alo

[2015-06-25 18:46] ilyavolodin commented on #2840
I believe somebody already made a reporter where rule names are clickable and lead to documentation. But I don't remember the name of it (and I think it only works on Macs).

[2015-06-25 19:01] zpratt commented on #2840
+1

[2015-06-25 19:03] skawaguchi commented on #2840
+1

[2015-06-25 19:09] lo1tuma opened #2841 "Performance of handle-callback-err could be improved"
The `handle-callback-err` is one of the 10 slowest rules according to the following benchmark:

[code]

The performance of this rule could be improved by making use of escope instead of manually checking if a function parameter has any references.

[2015-06-25 20:05] #2841 closed

[2015-06-25 21:50] baer commented on #2713
@nzakas Sorry, I probably wasn't explaining myself all that well. What I meant to ask is if this issue can be closed and have ESLint `--init` (internally) import an external ruleset. Possibly a community created one or possibly a separate repo under the eslint org on github.

[2015-06-25 22:33] montogeek opened #2843 "Add rule example to rule description"
It would be great to add a rule example to the rule description page, sometimes you do not know what are the correct values. For example, for http://eslint.org/docs/rules/no-underscore-dangle.html add
[code]

[2015-06-25 23:13] ilyavolodin commented on #2843
@montogeek Those are the same for all rules in eslint. First value in the array (or single integer value) is always error level.

[2015-06-26 01:57] cecchi opened #2844 "Command line parser, ecmaFeatures, and plugins options do not get merged"
Currently a config gets partially ignored when using the command line API (I ran into this using grunt-eslint but I assume it is the same using the command line directly). The `parser`, `ecmaFeatures`, and `plugins` configuration options do not get merged into the final config.

For example:
[code]

The "envs" will survive, but the rest will be overridden.

[2015-06-26 02:00] cecchi opened #2846 ""env" vs "envs""
See: https://github.com/sindresorhus/grunt-eslint/issues/71

In short, when using the CLIEngine API you must use `envs` instead of `env`. You also must use an array in place of an object literal. We should consider accepting both formats (same goes for `globals` vs `global`, I believe).

[2015-06-26 02:27] dotnil commented on #2837
@michaelficarra @nzakas aha my mistake. I thought it would be executed as below if the leading semicolon is omitted:

[code]

Thanks for the correction.

[2015-06-26 07:29] montogeek commented on #2843
I mean, there should be an example for every rule showing what values are possible. If that error levels values are documented, please forgive me.
For example the Stylistic rule `indent` has a section with examples showing what are the values and how should be configured.

Or at least add a note saying that Possible Errors rules are boolean values.

[2015-06-26 08:51] moll commented on #1728
I wouldn't mind something akin to https://github.com/eslint/eslint/issues/1728#issuecomment-90690944 either. The commit that closed this issue (https://github.com/eslint/eslint/commit/ee8e0f2937d704fb3835331daec5ebe3f1c59145) solves the alignment per group, but not mixing aligned and non-aligned keys in a single file (or even single object if you want to go fancy).

[2015-06-26 09:01] mourner commented on #1728
Yeah, I think we should either open a new issue, or reopen this one. Enforcing alignment is kind of meaningless unless you can intermix these styles.

[2015-06-26 09:09] doberkofler commented on #1728
Obviously (I opened this issue) I'm all for it!

[2015-06-26 09:24] hax commented on #2771
This is a breaking changes! It enforce many people to rewrite their config, especially add many redundant for yaml format config.

For example, my config
[code]
need to rewrite as
[code]

I lose most benefit of using yaml!!

[2015-06-26 10:37] evilebottnawi opened #2847 "strange behaviour with space-after-keywords"
[code]
Config for rule
[code]

I get error `ESLint: Keyword "(" must be followed by whitespace. (space-after-keywords)`

[2015-06-26 11:08] thechriswalker opened #2848 "Rule `no-dupe-args` crashes eslint on sparse array destructuring."
e.g.
[code]
The rule loops through the array without checking if the element is `null` as will be the case in a sparse array.

[2015-06-26 11:14] michaelficarra commented on #2847
On which line? I'm sure you can reduce the repro case more than what you've given us.

[2015-06-26 11:16] evilebottnawi commented on #2847
@michaelficarra
[code]

[2015-06-26 11:55] lo1tuma commented on #2847
I can reproduce this with the online demo.

[2015-06-26 12:00] evilebottnawi opened #2850 "Feature: no-else-return in each, forEach and etc"
If i return false in each, forEach and etc - cycle stopping, you need not be returned true

[2015-06-26 12:21] evilebottnawi opened #2852 "newline-after-var bug with comment line"
Ignore comments
[code]
I get error newline-after-var

[2015-06-26 12:44] mysticatea commented on #2840
I'm not sure we need this, if we do this, I think this should be a part of [plugin's config](http://eslint.org/docs/developer-guide/working-with-plugins).

e.g.:

[code]

Embedded rules can resolve the document URI from only its rule name. So if plugins also have its document URI, we can treat those a common way.

[2015-06-26 13:07] mysticatea commented on #2843
http://eslint.org/docs/user-guide/configuring#configuring-rules is the basic notation (but I think this section should be written on the first in this page). And if a rule have options, it's not common, so the rules are showing examples of how to write its options.

[2015-06-26 13:36] evilebottnawi opened #2853 "bug with dot-notation"
Node.js, gulp
[code]
$ - alias for module https://github.com/jackfranklin/gulp-load-plugins
if - module https://github.com/robrich/gulp-if

[2015-06-26 13:40] lo1tuma commented on #2853
I don’t understand what kind of bug you are reporting here. What does the `dot-notation` rule report for you example and what would you expect instead?

[2015-06-26 13:44] lo1tuma commented on #2850
I don’t understand what you are requesting. Can you give a more detailed explanation with example code? Please also take a moment to read our [contributing guidelines](http://eslint.org/docs/developer-guide/contributing.html) especially the part about [new rules](http://eslint.org/docs/developer-guide/contributing.html#new-rules).

[2015-06-26 13:56] lo1tuma commented on #2852
This is the expected behavior of this rule.

[2015-06-26 13:56] evilebottnawi commented on #2853
@lo1tuma here not error. Rule think that if is keywork, but if is function module

[2015-06-26 13:58] evilebottnawi commented on #2852
@lo1tuma newline-after-var not throw error if after statement followed comments

[2015-06-26 14:01] lo1tuma commented on #2853
What is your rule configuration?

[2015-06-26 14:03] evilebottnawi commented on #2850
@lo1tuma sorry my mistake

[2015-06-26 14:03] #2850 closed

[2015-06-26 14:04] evilebottnawi commented on #2853
@lo1tuma
[code]

[2015-06-26 14:04] lo1tuma commented on #2852
As I said, this is the expected behavior of the rule, not a bug.

[2015-06-26 14:05] evilebottnawi commented on #2852
@lo1tuma may be set configurable options (newline-after-var) for comments lines?

[2015-06-26 14:07] lo1tuma commented on #2853
According to your configuration you explicitly disallow keywords to be used with the dot notation, so the rule warns correctly on `if` because it is a reserved word. If you want to change this you have to set `"allowKeywords"` to `true`.

[2015-06-26 14:09] evilebottnawi commented on #2853
@lo1tuma thanks, sorry that took the time

[2015-06-26 14:09] #2853 closed

[2015-06-26 14:10] lo1tuma commented on #2852
Just to make sure I understand you correctly: you want an additional option for `newline-after-var` which allows comments in the line after a variable declaration? Is this correct?

[2015-06-26 14:13] evilebottnawi commented on #2852
@lo1tuma yes

[2015-06-26 14:14] ilyavolodin commented on #2771
@hax I think you are misunderstanding the issue. With the config you posted above, eslint never checked for quotes or semi. Those rules were just ignored, because eslint couldn't understand configuration values that you provided. Now instead of blindly ignoring rules that are not configured correctly, it will notify you about them. I'm also not sure how adding array values makes you lose benefit o

[2015-06-26 14:15] #2847 closed

[2015-06-26 14:33] mysticatea commented on #2822
Thank you for naming advice!

[2015-06-26 14:54] #2848 closed

[2015-06-26 16:00] evilebottnawi opened #2856 "Start search .eslintignore from directory where placed .eslintrc"
Default directory for search is
[code]
I use intellij and my working project not on top level directories.
Project - ./project
Working directory in project - ./project/themes/mytheme/.eslintrc
intellij start command for eslint from ./project directory and eslint can't find .eslintignore
Many IDE work similarly.

[2015-06-26 16:05] nzakas commented on #2844
I'm not quite sure what you're describing. It would be helpful if you could rephrase as:

1. What you did
2. What happened
3. What you expected to happen

[2015-06-26 16:09] #746 closed

[2015-06-26 16:33] nzakas commented on #2840
@jbrad assuming you mean custom formatters, not custom linters?

I'm not clear on what the request is here. I'm assuming you're not just asking for direct links to documentation, but rather a way to append arbitrary data to the end of output?

In both cases, I'd say a custom formatter is the way to go.

[2015-06-26 16:38] cecchi commented on #2844
My mistake -- I expected the `CLIEngine` constructor to receive an object of the same format as the configuration (i.e. support all of the configuration options). Looking at the documentation again, that is not the case.

[2015-06-26 17:06] rizowski commented on #2831
I do currently take in the args and parse them out to pass them to ESLint later. I was only using lib/cli so I could pass along the parsed arg string array.  So...

1. input comes in
  - `esw -ext .js -w`
2. ESLint-Watch/cli takes in input and takes out `-w`, tacks on default path and new formatter
  - `esw ./ -ext .js -f simple-detail`
3. The new args to go to ESLint lib/cli as a string array
  -

[2015-06-26 18:24] nzakas commented on #2713
I'm afraid not doing this issue isn't really an option. This is part of our 1.0.0 roadmap and the approach was discussed thoroughly a while back. We need to have some built-in defaults and those belong as part of this repo.

So, if you'd like to continue talking about what can be done in addition to this issue, please open another issue or contact the mailing list.

[2015-06-26 18:27] nzakas commented on #2846
This is intentional. You cannot turn off environments via the command line, you can only turn them on. Accepting an object would give a false impression that it's possible to toggle environments off on the command line.

This is consistent with the options for rules and globals as well.

[2015-06-26 18:27] #2846 closed

[2015-06-26 18:30] nzakas commented on #2843
Yeah, the configuration page shows the basic format. Most of the rules that have options show an example on their page. If there are specific pages that you think need addressing, please list them out.

[2015-06-26 18:36] montogeek commented on #2843
Well, I think that Configuration rules are enough. :)

Thanks!

[2015-06-26 18:36] #2843 closed

[2015-06-26 18:38] nzakas commented on #2856
We can't just start looking for .eslintignore in the sand directory as .eslintrc because you could have many .eslintrc files but only one .eslintignore file.

I'm not very familiar with IntelliJ, but I'd imagine there must be a way to specify the current working directory for a command?

[2015-06-26 18:48] baer commented on #2713
Sounds good, thanks for the feedback and thanks to you and everybody on this project for maintaining such an awesome tool.

[2015-06-26 21:57] evilebottnawi commented on #2856
@nzakas  i am not change working directory

[2015-06-26 23:31] ilyavolodin commented on #2856
IntelliJ doesn't allow changing working directory only for ESLint. Most of the rest of the integrations allow you to set working directory when you configure ESLint integration (IntelliJ allows this for a lot of other integrations, like Karma and Mocha). The only way you can do this is by changing root directory in the project or moving .eslintignore file to the root directory.
The change you are

[2015-06-27 00:18] ilyavolodin opened #2858 "Multiple rules missing schema"
Following rules are missing schemas:
* accessor-pairs
* dot-location
* no-empty-character-class

[2015-06-27 00:57] ilyavolodin opened #2860 "Automate documentation creation"
I would like to streamline documentation create a bit. Now that we have schemas, I would like to create a built task that would export schemas and append available options at the end of each rule documentation.I also think we can take it even further, in order to help people search google for errors they get as a result of linting, I think we should include all possible error messages into exporta

[2015-06-27 07:42] lo1tuma commented on #2860
Some error messages are created dynamically, so I don't think it is possible to automatically document every possible error message.

[2015-06-27 10:54] kentcdodds opened #2862 "--ext test.js not working with multi-dot notation"
Here's a reproducible example:

[code]

It's arguable whether this is expected behavior, but it would certainly be nice if the `--ext` worked more like "files ending in x" rather than "matching x from the last dot to the end of the filename"

On this note, I asked/suggested something [on Gitter](https://gitter.im/eslint/eslint?at=558e7998666fd9af67366bd2) a moment ago that I think would solve my t

[2015-06-27 10:56] kentcdodds commented on #2862
Note, in this case, perhaps `ext` would not be an appropriate config property name because it allows you to specify arbitrary regex to match the filename to. Something like `filenameOverrides` may be more appropriate.

[2015-06-27 15:12] michaelficarra commented on #2862
Would replacing extension with suffix not be sufficient?

[2015-06-27 15:16] ilyavolodin commented on #2860
Most of the error messages are created by substitution, that's why I used `{0}` in my example. If the messages is completely generated (I think there might be one or two rules that do that), then oh well... It's better to have most of the messages then none.

[2015-06-27 15:19] ilyavolodin commented on #2862
@kentcdodds The feature you are asking for has been proposed for v2.0.0 release. Being able to specify patterns and assign configs to them will be done after we release v1.0.0. `ext` was never meant for this. Currently eslint will only process `.js` files, `ext` is there to allow users to process other file types (like `.jsx`, for example).

[2015-06-27 15:41] jacobp100 commented on #2805
If jsx is available as part of the `ecmaFeatures` config, it should really be fixed in the core. This really isn't the expected behaviour, so could this be reopened?

[2015-06-27 15:48] ilyavolodin commented on #2805
@jacobp100 React is not part of jsx specification. There are other frameworks that use jsx and they do not require this. We do not support React naively, that's why this functionality was moved out into a plugin.

[2015-06-27 15:54] evilebottnawi commented on #2856
@ilyavolodin thanks for answer, i create ticket IntelliJ

[2015-06-27 16:01] lo1tuma opened #2863 "Missing parent property for nodes retrieved by getNodeByRangeIndex"
AST nodes retrieved by `getNodeByRangeIndex` don’t have a `parent` property to access the parent node.

In my use-case I want to access the parent node of an identifier node from an escope reference.

[2015-06-27 17:30] #2858 closed

[2015-06-27 17:37] nzakas commented on #2862
--ext is only the extension, not a suffix, so this is behaving correctly. See: http://eslint.org/docs/user-guide/command-line-interface#ext

As Ilya mentioned, we are discussing something like this for post 1.0.0, but it's not a sure thing as it's quite complex. So, closing this issue as it's not currently on the roadmap. You can follow #2203 for updates.

[2015-06-27 17:37] #2862 closed

[2015-06-27 17:38] #2844 closed

[2015-06-27 17:42] nzakas commented on #2831
What I'm suggesting is that you run ESLint as an executable rather than accessing the API. So strip off whatever params you're interested in then use child_process or some such thing to execute .bin/ESLint.

I'm sorry, I don't see exposing the actual optionator configuration as a viable option here.

[2015-06-27 17:44] nzakas commented on #2860
I think this might end up being a bit too pie-in-the-sky, but feel free to explore. :)

[2015-06-27 17:50] nzakas commented on #2863
That's a known limitation. The parent property is added during traversal - if you skip ahead, it hasn't been set yet. Same way getAncestors doesn't work outside of the traversal.

Not sure there's a good solution to this.

[2015-06-27 17:51] dantman commented on #1766
I tried working with the code a bit and it appears I'm partially wrong.

During traversal the enter callback does have access to everything necessary to parse block commits the way they need to.

However it appears that eslint actually iterates through the list of inline config comments **before** it sets up and starts the traversal of the tree. This tree traversal is actually where eslint adds in

[2015-06-27 17:57] nzakas commented on #1766
We need to avoid traversing the AST multiple times, as it's a perf issue.

[2015-06-27 17:58] rizowski commented on #2831
Alright. Thanks for your consideration on the matter.

[2015-06-27 18:18] dantman commented on #1766
Ok. So that's a problem.

I can only see two potential alternatives to look into.

A) See if there's any way at all to do a lite traversal over the tree. (Only looking at function/block nodes and the leading comments in the blocks)

B) Re*write* the way rules are handled. So instead of initializing all the ones used up-front and then ignoring some. The rules structure becomes a dynamic thing. esli

[2015-06-27 19:22] kentcdodds opened #2864 "no-unused-expressions allow for undefined function check and call"
Whether or not this is good practice is not my request. I would like to be able to configure `no-unused-expressions` to allow me to do this:

[code]

without having to turn the rule completely off. As far as I can tell, this is currently not possible. Is there an option I can provide that allows me to do this? Is this something that could be considered?

[2015-06-27 19:38] michaelficarra commented on #2864
Did you try searching for duplicate issues first?

[2015-06-27 19:43] kentcdodds opened #2865 "Make vars-on-top work with let and const"
Right now this gives no warning:

[code]

given this config:

[code]

(Note, it does warn if I include a regular `var` in there):

[code]

I would expect that it should warn in the first case.

[2015-06-27 19:43] kentcdodds commented on #2864
Sorry, I did not. My bad... Let me do that. 😅

[2015-06-27 19:46] kentcdodds commented on #2864
I suppose it could be similar to [this](https://github.com/eslint/eslint/issues/2181)

[2015-06-27 19:48] kentcdodds commented on #2864
... and [this](https://github.com/eslint/eslint/issues/2418).

It appears that there's a fundamental misunderstanding of this rule on my part (and apparently, I'm not alone). I'll close this one. Thanks.

[2015-06-27 19:48] #2864 closed

[2015-06-27 20:50] michaelficarra commented on #2864
And #2684.

[2015-06-27 20:50] gyandeeps commented on #2865
This was designed for `var` only because of hoisting. And hoisting doesn't apply to `let` or `const`.

[2015-06-27 20:52] kentcdodds commented on #2864
lol, I thought that `foo && foo()` would be too general so I didn't try searching for that.

[2015-06-27 20:52] kentcdodds commented on #2865
I'm pretty sure that it does... I believe it still hoists in the block... I may be mistaken.

[2015-06-27 20:53] xjamundx commented on #2865
I could see a new rule or option (purely for stylistic reasons) and no @kentcdodds it does not hoist!

[2015-06-27 20:54] kentcdodds commented on #2865
neat! I guess that babel doesn't do anything to cover that then because I get no transpiler warnings or interesting output to prevent it (see [this](http://babeljs.io/repl/#?experimental=true&evaluate=true&loose=false&spec=false&playground=true&code=function%20foo()%20%7B%0A%20%20const%20thing%20%3D%20'bar'%3B%0A%20%20if%20(thing%20%3D%3D%3D%20'bar')%20%7B%0A%20%20%20%20doSomething()%3B%0A%20%20%7

[2015-06-27 20:56] xjamundx commented on #2865
Oh you're right. Babel doesn't handle it yet:
http://kangax.github.io/compat-table/es6/#let_temporal_dead_zone_(strict_mode)

[2015-06-27 20:57] kentcdodds commented on #2865
Great. Thanks for explaining!

[2015-06-27 20:58] kentcdodds commented on #2865
Though, perhaps I should leave this open to add an option for stylistic reasons. Anyone think that would be handy? I'd definitely use it.

[2015-06-28 01:27] greg5green commented on #2811
I'm taking a look at this tonight and will should have a PR up pretty soon.

[2015-06-28 09:44] mysticatea commented on #2801
I'm just waiting for the EScope's release or ideas of alternative ways.

[2015-06-28 10:03] mysticatea commented on #2863
Maybe, at `"*:exit"` (e.g. `"FunctionDeclaration:exit": function(node) { ...`), children of its node have `.parent` property.

[2015-06-28 11:12] feross opened #2867 ""yoda" should ignore comparisons where both sides are constant"
With this code:

[code]

And this rule:

[code]

I get this error:

[code]

I think the solution to this is for the `yoda` rule to ignore situations where both sides of a comparison are constant. `yoda` is supposed to check for situations where a literal value of a condition is first and a variable comes second, not when both sides are constants.

[2015-06-28 11:59] feross commented on #1983
@nzakas What do you think about a `for-loop-semi-spaces` rule?

[2015-06-28 13:21] lo1tuma commented on #2863
@mysticatea I'm not sure how this could solve my problem. Escope references can appear in almost **any** child node starting from the node where the variable was declared.

@nzakas In `getNodeByRangeIndex` we are doing an extra traversal, wouldn't it make sense to apply the same logic there by attaching the parent node and leading and trailing comments? Another approach would be to create somethin

[2015-06-28 16:14] btmills commented on #2840
@ilyavolodin [royriojas/eslint-friendly-formatter](https://github.com/royriojas/eslint-friendly-formatter), and yeah, it requires iTerm2 specifically

[2015-06-28 18:36] btmills commented on #2863
@lo1tuma is it just the parent node that you need? If so, untested, but:

[code]

[2015-06-28 19:01] michaelficarra commented on #2867
Why would we make a special exception for a case that should never exist in your code anyway? Why are you writing things like this?

[2015-06-28 21:26] feross commented on #2867
You should make a special case because the rule is behaving differently than the documentation. If you want to make a separate rule `no-constant-expressions` that prevents `1 < 2` as well as non-comparison constant expressions like `1 + 2`, then go for it. But it shouldn't be part of `yoda`.

[2015-06-28 22:06] michaelficarra commented on #2867
Not if we define yoda as "a comparison with a literal must always have a literal on the left".

[2015-06-28 22:51] #2811 closed

[2015-06-28 23:17] feross commented on #2867
Too bad that's not how the documentation defines it:

[2015-06-28 23:21] michaelficarra commented on #2867
Then maybe the proper solution is to correct the documentation. My definition would still follow the spirit of the initial rule proposal.

[2015-06-28 23:28] feross commented on #2867
Nice try, but that's not a real solution. If someone writes `1 < 2`, they're not expecting to get the message:

[code]

This message is just wrong – there is a literal on the right side of `2` in this code.

`yoda` is the wrong rule for preventing the use of constant comparisons. It should be removed from `yoda` and if people miss the old behavior we can add a new rule like `collapse-constant-expr

[2015-06-28 23:35] moll commented on #2811
Thanks!

[2015-06-29 05:18] hax commented on #2771
@ilyavolodin Thank you, my misunderstanding :(

[2015-06-29 07:34] ismay opened #2870 "Add env preset for ember & qunit"
I'm using ember-cli-eslint in an ember application. Ember uses qunit for testing (and has some ember specific globals). This requires me to add a lot of globals to my `.eslintrc`.

It would be great if an `env` preset could be added for qunit (and/or ember), to make using eslint in this setting a little easier.

[2015-06-29 09:04] hax commented on #2517
Another sign is calling arrow function in the loop, which should not trigger no-loop-func in my opinion.

[2015-06-29 09:57] maximsmol opened #2871 "no-redeclare does not respect block-scoped-var"
I am using master. I can work on the fix.

[code]

[code]

[code]

[2015-06-29 10:47] moroshko opened #2872 "Configuration for rule "space-after-keywords" is invalid: Value "always" is the wrong type."
In versions 0.24.0 and 0.23.0, I get the error below. In version 0.22.0, this error doesn't appear.

[code]

---
**.eslintrc**
[code]

[2015-06-29 11:16] mozfreddyb opened #2873 "no-implied-eval.js: Additional function names"
For completeness's sake, no-implied-eval could be enhanced to check for other functions that imply `eval`:

* <s>`setImmediate` (IE 10) [MDN](https://developer.mozilla.org/en-US/docs/Web/API/Window/setImmediate)</s> (doesn't accept strings)
* `new Function` (All browsers) ([MDN](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function))
* `execScript` (IE) ([MSDN](

[2015-06-29 12:59] mathieumg commented on #2871
`var` is function-scoped. If you are in ES6, you can use `let` or `const` which are block-scoped.

[2015-06-29 13:13] hzoo commented on #2872
Can reproduce - I fixed by doing `"space-after-keywords": [1, "always"],`  (the value can't be a string since you can't specify the rule ID / error level then)

[2015-06-29 14:00] michaelficarra commented on #2871
Rules are not aware of each other's settings.

[2015-06-29 14:19] gyandeeps commented on #2870
Yes, i think we can add `qunit`. As we depend on https://github.com/sindresorhus/globals module for globals.

[2015-06-29 14:22] gyandeeps commented on #2872
your rules are not configured correctly. This is how all the rules work
[code]

example:
`"space-after-keywords": [1, "always"]`

[2015-06-29 14:32] ismay commented on #2870
Cool, and if the `Ember.Test0` methods are added to https://github.com/sindresorhus/globals, I assume they can be added as well?

[2015-06-29 14:55] ilyavolodin commented on #2870
We still need to do a code change once it's added to globals package. We don't take everything from globals. It's a minor change, though.

[2015-06-29 15:43] myagoo opened #2874 "no-use-before-define "nofunc" should also support classes"
.eslintrc
[code]
factory.js
[code]
This rule works as intended with function declaration but not with classes.

[2015-06-29 16:07] michaelficarra commented on #2874
Classes aren't hoisted. If that function was called before the class declaration, you would get a TDZ violation.

[2015-06-29 16:33] IanVS commented on #2420
I just wanted to be lazy and not read the excellent changelogs / blog posts detailing the changes between versions.  Honestly those are more than sufficient, so closing this issue.

[2015-06-29 16:33] #2420 closed

[2015-06-29 16:44] #2831 closed

[2015-06-29 16:50] IanVS opened #2875 "Config Autocreation"
There was some good discussion in the [2.0.0 wish list issue](https://github.com/eslint/eslint/issues/2203) about generating a config file which most closely matches an existing codebase.  Now that validation has landed in [0.23.0](http://eslint.org/blog/2015/06/eslint-0.23.0-released/#configuration-validation), is this more achievable?  I would be willing to take a crack at something (maybe at le

[2015-06-29 16:50] nzakas commented on #1766
Partial traversal is still traversal, so that doesn't help the situation much.

Option B seems very risky.

Overall, I'm concerned that trying to implement this will cause a perf issue or otherwise be so much work that it causes a lot of existing functionality to break. In either case, this isn't a high enough priority for me to rationalize accepting either scenario since we are talking about a th

[2015-06-29 16:52] nzakas commented on #2865
@kentcdodds you're welcome to make a proposal. What is your expectation for how this rule should be modified to work?

[2015-06-29 16:56] nzakas commented on #1983
I'd rather not add an additional rule, as I think it would be confusing to have that and semi-spacing.

[2015-06-29 16:58] nzakas commented on #2867
Agree with @feross , we should just skip expressions like this in the Yoda rule.