[2021-09-17 06:48] m90 opened #15076 "Bug: require-atomic-updates is raised after unrelated change"
### Environment

Node version: v14.15.5
npm version: 7.23.0
Local ESLint version: 7.32.0
Global ESLint version: -
Operating System: Ubuntu 20.04

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

I would expect the above code _not_ to raise `require-atomic-updates`.

###

[2021-09-17 08:05] onigoetz commented on #15036
Not perfect, but I can live with it

I agree, I don't see a clean way to do it in the CLI either, other than passing an absolute path to a JS module but only automated tools would be able to use it correctly

[2021-09-17 12:29] #15075 closed

[2021-09-18 00:46] D-Pow opened #15078 "Rule Change: Allow complex, non-name-specific RexExp strings for no-unused-vars varsIgnorePattern"
### What rule do you want to change?

no-unused-vars

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

Error: `func`, `inlineFunc`, `myStaticArrowFunc`, and `MyJsxComponent` are defined but never used.

### What will the rule do after it's ch

[2021-09-18 01:28] fisker commented on #14936
@mdjermanovic [Your suggestion](https://github.com/eslint/eslint/issues/14936#issuecomment-906746754) works as expected. https://github.com/fisker/eslint-plugin-unicorn/pull/1488/commits/5e2c671ec99d93b2fe027145ac0ae359a856470d

[2021-09-18 02:15] fisker opened #15079 "Bug: `ESLint` class should not load plugins already defined in `plugins`"
### Environment

Node version: v16.9.1
npm version: v7.9.0
Local ESLint version: v7.32.0
Global ESLint version: Not found
Operating System: win32 10.0.19043

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

No errors.

### What actually happened?

The `config-array-factory` is trying to load the plugin that I've set in the `plugins

[2021-09-18 21:58] domenic opened #15080 "Bug: no-misleading-character-class triggers on seemingly-OK code"
### Environment

Node version: 16.9.1
npm version: 7.21.1
Local ESLint version: 7.32.0
Global ESLint version: (none)
Operating System: Windows 10

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

Just using eslint:recommended. This can be [demoed on eslint.org](https://eslint.org/demo#eyJ0ZXh0IjoiL1tcXHUwMEI3XFx1MDMwMC1cXHUwMzZGXS9

[2021-09-19 03:25] mdjermanovic commented on #15080
Hi @domenic, thanks for the issue!

By test cases for this rule, this seems to be intended behavior:

https://github.com/eslint/eslint/blob/47be8003d700bc0606495ae42610eaba94e639c5/tests/lib/rules/no-misleading-character-class.js#L97-L100

I couldn't find any discussions about this in the original issue https://github.com/eslint/eslint/issues/10049 and PR https://github.com/eslint/eslint/pull/1051

[2021-09-19 04:45] elpddev commented on #3458
The code regarding the eslint is somewhat like this:

[code]

[2021-09-19 07:02] morganbarrett opened #15082 "Bug: conflict between space-before-blocks and switch-colon-spacing"
### Environment

Node version: 16.0.0
npm version: 7.10.0
Local ESLint version: 7.32.0
Global ESLint version: 7.32.0
Operating System: osx 11.4

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

For `space-before-blocks` to acknowledge the rule settings of `swit

[2021-09-19 08:39] fregante commented on #14900
For those interested, I opened an issue on unicorn:

https://github.com/sindresorhus/eslint-plugin-unicorn/issues/1524

[2021-09-19 12:38] mdjermanovic commented on #15082
Hi @morganbarrett, thanks for the issue!

I can reproduce this, it seems that those two rules are indeed conflicting:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiIC8qIGVzbGludCBcbiAgICBcInN3aXRjaC1jb2xvbi1zcGFjaW5nXCI6IFwiZXJyb3JcIixcbiAgICBcInNwYWNlLWJlZm9yZS1ibG9ja3NcIjogW1wiZXJyb3JcIiwgXCJuZXZlclwiXVxuKi9cblxuc3dpdGNoKHgpe1xuICAgIGNhc2UgOTogeyAvLyBzcGFjZS1iZWZvcmUtYmxvY2tzIGVycm9

[2021-09-19 16:45] mdjermanovic commented on #14936
Great, thanks for the info! Since that works, it seems that there are no blocking issues for v8.0.0 here.

[2021-09-19 18:05] bmish commented on #15073
There is a third-party rule for this: [unicorn/prefer-string-replace-all](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prefer-string-replace-all.md).

[2021-09-19 18:53] pubmikeb opened #15083 "Bug: Probably wrong fix of ESLint's prefer-template warning"
### Environment

Node version: 16.9.1
npm version: 7.24.0
Local ESLint version: 8.0.0.beta.2
Global ESLint version: none
Operating System: Windows 10 21H1

### What parser are you using?

Other

### What did you do?

ESLint raises a warning `ESLint: Unexpected string concatenation.(prefer-template)`:

for the given code:

[code]

### What did you expect to happen?

When I click on **ESLint: Fix: `

[2021-09-19 20:15] domenic commented on #15080
Thanks for the research! Hmm.

It would be nice if there were a version of this rule that did what the documentation currently says, which is prevent actually-misleading cases where the result appears as a signal grapheme. That is, taking an example from the doc: I think `/^[❇️]$/u` is indeed misleading because it looks like one character. But `/^[\u2747\uFE0F]$/u` is, in my opinion, not misleadin

[2021-09-19 21:24] btmills commented on #15082
I concur. Since that change would a) resolve an unintentional incompatibility between two rules and b) report fewer errors, I don’t see it as a breaking change.

[2021-09-19 21:47] Tyler-Murphy commented on #15073
@bmish, I think that's different. Maybe for https://github.com/eslint/eslint/issues/12557?

[2021-09-19 23:07] mdjermanovic commented on #15080
I'm not opposed to adding another mode, but I still think that `[\u2747\uFE0F]` can be misleading as the author may have thought it was a single code point because it appears as a single character, like `[\uD83D\uDC4D]` for example.

[code]

@eslint/eslint-tsc thoughts about this? I think the current behavior makes sense as default behavior, but we can consider adding an option to only warn when t

[2021-09-20 02:11] Silic0nS0ldier commented on #3458
Huh. I hadn't considered using an absolute path, but I suppose `require.resolve` (and `import.meta.resolve`) are what I was looking for when I first subscribed to this issue years ago. In theory this could be used to publish a self-contained ESLint config package (with plugins included as normal dependencies).

This could also be used within ESLint to have plugins resolved relative to the owning c

[2021-09-20 02:30] ljharb commented on #3458
node doesn’t have unflagged import.meta.resolve yet, ftr, and the flagged one doesn’t work properly yet.

[2021-09-20 10:56] mdjermanovic commented on #15042
Data Fetches scripts (sponsor data and team data) on Jenkins should be updated, too.

[2021-09-20 17:20] diegonvs opened #15086 "Ignore/filter rules option"
Hey there 👋🏼

I would add a CLI option for filtering rules. When [reading CLI reference](https://eslint.org/docs/user-guide/command-line-interface) I saw some cases for ignoring paths and patterns of files but nothing for rules.

**Why?**

It would be good to ignore a determinate rule when running the CLI. Here is an example:

Considering that I have many console.logs around my application, I need

[2021-09-21 00:35] nzakas commented on #15042
Good call. I updated them to use HEAD.

[2021-09-21 00:35] #15037 closed

[2021-09-21 00:39] nzakas commented on #15082
Agree. 👍

[2021-09-21 00:55] nzakas commented on #15083
Confirmed, this looks like a bug. I’m guessing the multi line string concatenation is messing with the rule logic.

[2021-09-21 00:58] nzakas commented on #15086
Can’t you already do this with [`—rule`](https://eslint.org/docs/user-guide/command-line-interface#--rule)? You’d just set the rules to “off”.

[2021-09-21 01:01] nzakas commented on #15079
Strange this is only popping up now. Did this used to happen with CLIEngine?

[2021-09-21 05:53] Silic0nS0ldier commented on #3458
Ah, right. Its `import.meta.url` which is stable, not `import.meta.resolve`. There still is `require.resolve` at least (which via `createRequire` should work in ESM).

[2021-09-21 05:54] ljharb commented on #3458
@Silic0nS0ldier yes, but it doesn't follow the `import` condition in `exports`.

[2021-09-21 07:52] btmills commented on #15080
Thanks both for the thorough explanations so far. I'm not opposed to a mode that would allow explicit code point escapes. Were this an opt-in rule, I'd say such a mode should be disabled by default for maximum safety. This being included in `eslint:recommended` gives me slight pause because we try hard to avoid any false positives in `eslint:recommended`, and this could be seen as a false positive

[2021-09-21 10:05] mbrowne commented on #3458
I wonder if this ponyfill would cover the case @ljharb  mentioned:
https://github.com/wooorm/import-meta-resolve

[2021-09-21 15:07] ljharb commented on #3458
You can’t have a polyfill until a standard thing exists in the first place, but given that it’s ESM-only, it’s likely a nonstarter.

[2021-09-21 21:14] nzakas commented on #15080
💯

[2021-09-21 21:19] domenic commented on #15080
Thanks so much all for being willing to consider a mode. My two cents:

- Personally it's hard to imagine that if someone wrote `/[\u00B7\u0300-\u036F]/u` they expect anything different than two code points being matched. That is, I cannot personally imagine when that code would be a bug and thus deserving of being warned about by ESLint.

- However, I also agree that matching code points in this

[2021-09-21 21:34] Yash-Singh1 opened #15089 "Rule Change: Suggestions for `require-unicode-regexp`"
### What rule do you want to change?

`require-unicode-regexp`

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Reports error

### What will the rule do after it's changed?

Give user suggestion prompt to convert into:

[code]

[2021-09-21 23:11] Yash-Singh1 commented on #15089
I didn’t take in the fact that this flag has side effects when I was writing this issue, but yes, as long as adding the `u` flag won’t change the functionality of the regular expression.

[2021-09-21 23:46] mdjermanovic commented on #15089
This is doable, but seems very complicated.

Pattern should not contain anything that matches surrogate code units. That includes `.`, `\D`, `\S`, `\W`, negated character classes, etc. Ranges should be checked, too.

The `i` flag has a different mapping when `u` flag is set.

Also, some patterns would have completely different semantics with the `u` flag, e.g. `/\u{1}/`.

[2021-09-22 00:24] Yash-Singh1 commented on #15089
So, for the fact that it disables Annex B extensions, that should mean that we have to check the regular expression and make sure it isn't something like `/\w{1, 2/u`, and that could be done by running `regexpp` in strict mode. Also, about the surrogate code units, we can probably traverse through the AST generated by `regexpp` and look for built-in character sets with the `negate` boolean set to

[2021-09-22 07:07] fisker commented on #15079
I don't know, never used `plugins` before.

[2021-09-22 07:34] ilyub opened #15090 "Change Request: Add "test name" option to ValidTestCase / InvalidTestCase"
### ESLint version

7.32.0

### What problem do you want to solve?

When there are many tests it is easier to find failed test by name than by code.

### What do you think is the correct solution?

Add "test name" option to ValidTestCase / InvalidTestCase

### Participation

- [ ] I am willing to submit a pull request for this change.

### Additional comments

Related issue:
https://github.com/typ

[2021-09-22 09:59] simonkarman opened #15091 "Rule function-paren-newline incorrectly formats a method with a ordered array as a return type"
### Environment

Node version: v16.9.1
npm version: 7.21.1
Local ESLint version: 7.32.0
Global ESLint version: none
Operating System: Ubuntu 20.04

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
Rule function-paren-newline incorrectly formats a function with a ordered array as a return type, when that function has its parameters on new lines and the retu

[2021-09-22 12:42] mdjermanovic commented on #15091
Hi @simonkarman, thanks for the issue!

I think we can improve the `function-paren-newline` rule to better support Typescript code in this particular case.

Can you please provide one example where this rule doesn't work as expected with Typescript, so we could test the rule on that example? In particular:

1. Your configuration for `function-paren-newline`.
2. Code where this rule reports a paren

[2021-09-22 13:32] mdjermanovic commented on #15082
I'm working on this.

[2021-09-22 16:22] lextoc commented on #14919
I'm going to try to add this auto-fix feature. First time working on ESLint, will keep you posted on how it goes.

[2021-09-22 21:35] mdjermanovic commented on #14919
I'm not sure if this rule should be auto-fixable, because two imports from the same source might be caused by a mistakenly specified source in one of them (e.g., after a copy-paste). This rule is classified as [`type: "problem"`](https://github.com/eslint/eslint/blob/e3cd1414489ceda460d593ac7e7b14f8ad45d4fc/lib/rules/no-duplicate-imports.js#L232), which means that the reported problems are possibl

[2021-09-23 00:52] nzakas commented on #15078
I don’t like this approach. Regexes aren’t a good way to determine context in a language as complex as JavaScript.

I think an ignoreFunctions option is much more appropriate for your use case.

[2021-09-23 00:55] nzakas commented on #15090
How would this work? Are you expecting that the name would be output instead of the code or in addition to it?

I’m not opposed to this but it seems unlikely people would use it very often as rules can have a lot of tests and it’s often hard to come up with descriptive names for each test.

[2021-09-23 07:17] lextoc commented on #14919
Maybe we can apply it on imports using object destructuring only and first check if the imports are actually exported in the file so that we know it's a valid import. And if it's a valid import, try to merge it with the other import that already exists. What do you think @mdjermanovic ?

[2021-09-23 09:28] mdjermanovic commented on #15079
CLIEngine didn't have a constructor option that accepts plugin implementations, but an instance method [`CLIEngine#addPlugin`](https://eslint.org/docs/developer-guide/nodejs-api#cliengineaddplugin). As building a config array for `baseConfig` happens right away during `new CLIEngine()`, I believe this functionality didn't exist - it wasn't possible to define `plugin:foo/preset` in `baseConfig` and

[2021-09-23 10:15] mdjermanovic commented on #15079
I think something like that would work. In the current version, we are updating `additionalPluginPool` on the instance, but that's too late for `extends` in `baseConfig`.

https://github.com/eslint/eslint/blob/e3cd1414489ceda460d593ac7e7b14f8ad45d4fc/lib/eslint/eslint.js#L435-L454

We could instead pass `additionalPluginPool` map to the constructor. CLIEngine is now an internal module, so new opti

[2021-09-23 10:44] mdjermanovic commented on #14919
Core rules currently don't examine imported modules, that functionality would require additional parsing, caching, options to define custom resolvers, etc., so this autofix can only use the content of the file being linted.

[2021-09-23 11:00] Shinigami92 commented on #15022
We at Vite are also affected by this 🤔

An example can be found here: https://github.com/vitejs/vite/blob/fe25567828e7a5cadc6c009ae674a59670e14a49/packages/vite/src/node/ssr/ssrExternal.ts#L61-L74

![image](https://user-images.githubusercontent.com/7195563/134495843-e2e59f83-38bf-462a-bc98-48dea73c3800.png)

Same for `requireEntry` and in total 14 warnings in the whole project.
Feel free to check

[2021-09-23 11:56] ilyub commented on #15090
Thx for reply.

I would prefer the name (if present) to be output instead of the code. This would make  output more compact.

1:
The name can be optional. So user can omit it if he does not find it useful.

2:
If you look at Jest syntax you will see that they have name and it is even required:
[code]

3:
From my expirience, when you have many tests it is quite difficult to find failed test by code

[2021-09-23 13:01] mdjermanovic commented on #15090
This option already exist: https://eslint.org/docs/developer-guide/unit-tests#running-individual-tests

[2021-09-23 13:22] mdjermanovic commented on #15022
@Shinigami92 your example is different because there's assignment in an inner scope, and that would be a bug.

I think the cause is same as in https://github.com/eslint/eslint/issues/14977, you're using [`ecmaVersion: 'latest'`](https://github.com/vitejs/vite/blob/83881aa0e12f2c10275b695bba1acb48de3aeafe/.eslintrc.js#L14) with `@typescript-eslint/parser` which doesn't support that value, so the sc

[2021-09-23 13:24] ilyub commented on #15090
Sorry, probably "only" option was added after I switched to typescript/eslint.

But "name" option is still wanted.

[2021-09-23 14:03] Shinigami92 commented on #15022
@mdjermanovic you are right 🎉
setting it to `ecmaVersion: 2021` solved it

[2021-09-23 14:54] lextoc commented on #14919
In that case I think your point is really valid and we probably shouldn't implement it or people might end up frustrated using it. Thanks for the speedy comment/feedback.

[2021-09-23 15:16] mdjermanovic commented on #15022
Thanks for the info! Per the thumbs up reaction on https://github.com/eslint/eslint/issues/15022#issuecomment-912360438 it seems that the original problem has been resolved as well, so I'm closing this issue.

[2021-09-23 15:16] #15022 closed

[2021-09-23 20:33] btmills commented on #15059
All of the issues in the [v8 project](https://github.com/eslint/eslint/projects/8) have been completed, so this will be our first release candidate. A few notes for that:

- [ ] When starting the release, use the `rcrelease` option in Jenkins.
- [ ] The expected version is `v8.0.0-rc.0`.
- [ ] We weren't using the "patch release pending" label for the betas, but we should apply it for this release

[2021-09-24 00:22] nzakas commented on #15079
We shouldn’t be making any further changes to CLIEngine at this point, as it will be going away. We need to start transitioning functionality into the ESLint class directly.

[2021-09-24 00:27] nzakas commented on #15090
I’m not opposed to adding a name option. Would you be interested in implementing it if we can point you to the code?

[2021-09-24 00:27] nzakas commented on #14919
Seems like there is agreement that it doesn’t make sense to pursue this, so closing.

[2021-09-24 00:27] #14919 closed

[2021-09-24 06:42] tiavina-mika opened #15096 "Eslint with "next lint --fix --dir src" does not work in the latest NextJs 11.1.2"
### Environment

Node version: 14.15.4
npm version: 7.20.1
Local ESLint version: 7.31.0
Operating System: Windows

### What parser are you using?

Other

### What did you do?

These following eslint configuration working since I upgraded Next.js to the latest v11.1.2.
The `next lint --fix --dir src` does not fix the code anymore.

I'm using Emotion with NextJs

### .babelrc
[code]

### package.jso

[2021-09-24 08:09] aladdin-add opened #15097 "New Rule: prefer using `.at()`"
### Rule details

prefer using `.at()` to all the basic indexable classes (Array, String, TypedArray)

### Related ECMAScript feature

https://github.com/tc39/proposal-relative-indexing-method

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

incorrect examples:
[code]

correct examples:
[code]

### Why should this rule be in the core instead of a plu

[2021-09-24 09:06] #15082 closed

[2021-09-24 09:38] alvis opened #15098 "Rule Change: Make max-lines-per-function only reports lines that exceed the limit, not all"
### What rule do you want to change?

max-lines-per-function

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Currently it will report the range of line numbers from the beginning of the function to the very last line of it.

[2021-09-24 09:58] mdjermanovic commented on #15097
That would be great for arrays, but how can we avoid false positives on array-like objects?

[2021-09-24 10:37] aladdin-add commented on #15097
yes, like [`array-callback-return`](https://eslint.org/docs/rules/array-callback-return), it will have a few false positives.

[2021-09-24 15:50] bradzacher commented on #15097
Yes, this would be easy to do with a rule using type information.
Grab computed member expressions and then check the type of the `.object` node.

NGL though you'd get 99.99% of the way there with a non-type-aware rule -- it'd only false-positive on objects that both have a `.length` prop AND have numbered indicies which would be super rare.

[2021-09-24 17:45] ljharb commented on #15097
Since String, Array, and Typed Arrays qualify but all have `.at`, that would basically narrow down the remainder to NodeLists (altho hopefully the web will add `.at` to them), and `arguments` objects (which probably aren't all that rare?)

[2021-09-24 17:59] nzakas commented on #15096
You should contact the Next.js folks to report this. We don't work on integrations with frameworks.

[2021-09-24 17:59] #15096 closed

[2021-09-24 19:51] mdjermanovic commented on #15097
We can detect directly accessed `arguments`, but `NodeList` would be a problem.

The `.at()` proposal lists [several interfaces](https://github.com/tc39/proposal-relative-indexing-method#convertable-interfaces) that also represent array-like objects, so those objects don't seem to be that rare.

I think this rule without types cannot be safely used in all environments, and therefore doesn't qualif

[2021-09-24 20:47] #14027 closed

[2021-09-24 21:01] bmish commented on #15097
Unicorn rule for reference: [unicorn/prefer-at](https://github.com/sindresorhus/eslint-plugin-unicorn/blob/main/docs/rules/prefer-at.md)

[2021-09-24 22:26] mdjermanovic commented on #15059
Release script created blog post starting with "We just pushed ESLint v8.0.0-rc.0, which is a minor release upgrade of ESLint". I wasn't sure if "minor release upgrade" makes sense for prereleases, so I changed this to "new prerelease version for ESLint v8".

[2021-09-24 22:31] mdjermanovic commented on #15059
ESLint v8.0.0-rc.0 has been released:

https://eslint.org/blog/2021/09/eslint-v8.0.0-rc.0-released

As noted in https://github.com/eslint/eslint/issues/15059#issuecomment-926133020, we'll treat rc prereleases as regular releases, so please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2021-09-25 00:40] nzakas commented on #14076
Based on implementation issues, we [decided](https://github.com/eslint/eslint/pull/14674#discussion_r715873447) not to move forward with this feature. The selector has performance issues and we would prefer it not be used in rules.

[2021-09-25 00:40] #14076 closed

[2021-09-25 00:49] nzakas commented on #15076
I’m not very familiar with this rule, by based on the rather nonsensical error message it’s producing, I’d guess this is a bug.

@eslint/eslint-tsc thoughts?

[2021-09-25 01:55] D-Pow commented on #15078
Yes and no. There exist cases for both and I don't think simply dismissing one method of operation just because it isn't "a good way" is somewhat subjective and short-sighted. If someone has the knowledge to use regex, then shouldn't they be empowered to use it to the utmost?

I understand that this might possibly be more direct of an option for users, but at the end of the day, even `ignoreFuncti

[2021-09-25 04:26] varelajp opened #15100 "No spaces after an opening parenthesis and before a closing parenthesis"
**What is the name of the syntax to implement?**
No spaces after an opening parenthesis and before a closing parenthesis

**Please provide the TC39 URL for the syntax proposal:**

**Please provide some example code for the new syntax:**

[code]
must be corrected and forced automatically to
[code]
just like you force ```obj[ el ]``` to ```obj[el]```

## Implementation Checklist

Please check off al

[2021-09-25 04:39] ljharb commented on #15100
https://eslint.org/docs/rules/func-call-spacing should handle the function call, and https://eslint.org/docs/rules/space-in-parens should handle the `if`.

[2021-09-25 07:46] pubmikeb opened #15101 "New Rule: (Content Security Policy (CSP) directive inspection)"
### Rule details

The rule should check the correctness of the CSP directives spelling

### Related ECMAScript feature

Content Security Policy (CSP)

### What type of rule is this?

Warns about a potential problem

### Example code
Given a wrongly spelled CSP directive:
[code]

A correctly spelled CSP directive:
[code]

### Why should this rule be in the core instead of a plugin?

Playing with th

[2021-09-25 10:51] CherryDT commented on #14542
I support the opinion that `no-return-await` is harmful and instead `force-return-await` should be recommended.

To understand why exactly, please take a look at this issue at which I (at length!) explained the reasoning behind this opinion: https://github.com/standard/standard/issues/1442

You can also find some tests in regards to performance impacts and other considerations there.

[2021-09-25 12:45] sarkiroka opened #15103 "Rule Change: (sort-imports)"
### What rule do you want to change?

sort-imports

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]
However, currently the memberSyntaxSortOrder option requires 4 values, two of which control just that.
I would like to ask that if this is possible, it is possible to specify the order wit

[2021-09-25 15:14] aladdin-add commented on #15101
Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we can only accept new rules if they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, so this proposal doesn't qualify. You can always make a custom rule and publish a plugin.

[2021-09-25 15:14] #15101 closed

[2021-09-25 15:26] ljharb commented on #14542
Nothing bad? When a promise is returned, it’s awaited implicitly; when a scalar, there’s no need for it.

[2021-09-25 15:29] CherryDT commented on #14542
No, in fact the default value will just never be applied because the promise is always truthy and even though the call _looks_ like it's to a synchronous function (no `await`) it's actually only going to work when `await` is added at that point.

[2021-09-25 15:31] ljharb commented on #14542
Ah, right, i see what you mean. That’s not about return await tho - that’s about using await on a promise when you use the value - iow, that’s not “return await”, that needs `(await promise) ?? defaultValue`, which is then returned.

[2021-09-25 15:33] CherryDT commented on #14542
Exactly, and always awaiting async function calls even when returning their result prevents this trap from being laid.

[2021-09-25 15:45] ljharb commented on #14542
If you awaited it and then added the default value, it would either be a syntax error, or, the await’s low precedence would silently cause the very bug you’re concerned about. There’s no way to avoid the “trap” of needing to know which things are promises.

[2021-09-25 15:49] CherryDT commented on #14542
`return await somethingAsync() ?? defaultValue` works just fine.

[2021-09-25 18:07] bmish opened #15104 "Change Request: Stricter rule test validation"
### ESLint version

8.0.0-rc.0

### What problem do you want to solve?

* Currently, it's easy to forget to assert what suggestions a test case yields, or that a test case yields no assertions. As a result, this can be an area of poor test coverage, leading to bugs around suggestions.
* It's also inconvenient to have to add `suggestions: []` to every single invalid test case for a rule or tests th

[2021-09-25 21:17] btmills commented on #15076
This invalid test case added in https://github.com/eslint/eslint/pull/11774 looks to be related:

https://github.com/eslint/eslint/blob/07175b8e9532d79e55c499aa27f79f023abda3c3/tests/lib/rules/require-atomic-updates.js#L322L331

It looks like even though different properties on the object are being read and assigned, the rule considers the whole object stale. I can’t tell based on the issue and PR

[2021-09-26 00:31] varelajp commented on #15100
Hi!

Using *npx eslint --fix script.js* on vscode I don't get the automatic fix
for trailing spaces on parenthesis in function calls and if.
I get the fix on square brackets.

Regards...
Juan Varela
+58 414 9994551

El sáb, 25 sept 2021 a las 0:39, Jordan Harband ***@***.***>)
escribió:

[2021-09-26 00:33] ljharb commented on #15100
Do you have those rules enabled and configured properly?

[2021-09-26 00:44] varelajp commented on #15100
Maybe not.

I use this procedure on my projects folders:
_npm init
npx eslint --init
npm link eslint-config-google
npx eslint --fix program.js_

Where can I configure rules options (e.g: **_"space-in-parens": ["error", "never"]_**)?

Thanks for your support...
Juan Varela

[2021-09-26 00:47] ljharb commented on #15100
You have to manually configure rules in your eslint config; the Google config won’t include everything.

[2021-09-26 00:56] varelajp commented on #15100
Ok.
I think I have to add rules in project's .eslintrc.json or, better yet, try to do it globally so as not to repeat.
After my commands project's _.eslintrc.json_ only have this content (no rules setted):
_{
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "google"
    ],
    "parserOptions": {
        "ecmaVersion": 12
    },

[2021-09-26 00:58] ljharb commented on #15100
Definitely you don’t want anything global, including eslint itself; if a linter isn’t checked into the project, the project shouldn’t be linted.

[2021-09-26 01:04] varelajp commented on #15100
Yeah.
But, definitely you don't want a 3 MB folder for a script:
**_console.log(`Hello World!`);_**

That's my dilemma.

Thanks! :+1:

[2021-09-26 01:56] ljharb commented on #15100
Yes, you do, if you want it reliably linted :-)

[2021-09-26 19:30] ilyub commented on #15090
I tried to follow:
https://eslint.org/docs/developer-guide/development-environment

But when I run "npm test" I get this:
![Screenshot](https://user-images.githubusercontent.com/70687432/134821083-da322a47-9fff-4068-8a06-555f120d46d0.jpg)
and "coverage" folder is not created. So, testing is not done.

If this can be easily solved, I could try to make an edit.

Though I would prefer this to be done

[2021-09-27 05:57] peey commented on #15055
Thanks for helping me configure this. I was able to try out the `no-restricted-paths` rule but it just didn't raise an error on parent directory imports as I was expecting.

This seems to be a bit of an edge-case. In any case, thanks for clarifying what *no-restricted-imports* is supposed to do. I believe your suggestion of documenting the behaviour is apt and the issue may be closed afterwards.

[2021-09-27 10:26] danielhammerl opened #15108 "Change Request: Implement expect error ( similar to typescript )"
### ESLint version

7.32.0

### What problem do you want to solve?

When you add a "eslint-disable-next-line" in your code for a temporary problem and refactor your code afterwards, so the eslint error isnt thrown anymore, you want to remove the "eslint-disable-next-line". If you forget it you may have new eslint errors you dont expect and you dont see them.

### What do you think is the correct s

[2021-09-27 11:21] mdjermanovic commented on #15076
I think this is the same as https://github.com/eslint/eslint/issues/11899.

Based on the discussion in https://github.com/eslint/eslint/issues/11899, I believe this is intended behavior, but the error message is wrong (or at least misleading).

[2021-09-27 11:36] mdjermanovic commented on #14695
I think this is the same as https://github.com/eslint/eslint/issues/11899. A property of `thing` is read before `await` and is assigned to after `await`. The rule warns that `thing` may have been changed in between, i.e., that the assignment is based on a previous state of `thing`.

I think this is correct behavior for this rule - `thing` is read after `await`, so it assumes that the assignment is

[2021-09-27 11:37] m90 commented on #15076
I agree this sounds pretty much like a duplicate of #11899 - feel free to close this if it makes sense for you and thanks for looking into this.

[2021-09-27 11:45] mdjermanovic commented on #11899
I think we should add an option to ignore assignments to properties. That is, to report only assignments to variables if this option is enabled.

[2021-09-27 12:03] mdjermanovic commented on #15076
Thanks for the confirmation! I'll mark this as accepted to fix the error message (it doesn't seem it was mentioned in https://github.com/eslint/eslint/issues/11899), and I'm working on that.

[2021-09-27 12:17] mdjermanovic commented on #15108
Hi @danielhammerl, thanks for the issue!

I think this use case is already covered by the CLI option [--report-unused-disable-directives](https://eslint.org/docs/user-guide/command-line-interface#--report-unused-disable-directives) or config option [`"reportUnusedDisableDirectives"`](https://eslint.org/docs/user-guide/configuring/rules#report-unused-eslint-disable-comments).

[2021-09-27 12:26] mdjermanovic commented on #15100
As @ljharb answered, this rule already exists ([space-in-parens](https://eslint.org/docs/rules/space-in-parens)), so I'm closing this issue.

[2021-09-27 12:26] #15100 closed

[2021-09-27 12:45] mdjermanovic commented on #15103
Hi @sarkiroka, thanks for the issue!

Per our rules policies, [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) for the reasons described in [this blog post](https://eslint.org/blog/2020/05/changes-to-rules-policies), so we won't be adding any new options to `sort-imports`, or changing the way how the current options work. You can always make a custom rule based

[2021-09-27 12:45] #15103 closed

[2021-09-27 16:15] sarkiroka commented on #15103
Thanks your answer. I missed this frozen rule. I'm a bit sad now. Can you advise me what to do in this situation?

[2021-09-27 17:26] nullromo commented on #14695
I see what you mean about how it is read after the await. I think the rule is behaving correctly as defined, but I think the definition of the rule is a bit off. #11899 is about false positives. Here I am calling attention to the false negation of the error whether it's a false positive or not; that is, the fact that adding the line `obj;` (looking at the demo code from @btmills) *removes* the err

[2021-09-28 00:55] nzakas commented on #15078
Not really. Any node representing a function has an type containing the word “Function”. It is fairly straightforward to look at neighboring nodes to get the needed context.

[2021-09-28 01:19] bmish commented on #15104
Would this require an RFC? If so, I can put that together so that it can be lined up for v9.

Also, have we begun tracking breaking changes for v9 yet? I'd like to make sure this gets on the list.

[2021-09-28 08:49] snitin315 commented on #15083
I will take it.

[2021-09-28 10:34] mdjermanovic commented on #15078
This pattern wouldn't find any of the following functions:

[code]

These examples were not intended to show that this pattern isn't good, but to imply that regular expressions are not good for this purpose.

We would never use a regex to search for functions in the source text, because it isn't a reliable way to find functions in JS code. It's parser's job to find functions in the source text and

[2021-09-28 10:54] mdjermanovic commented on #15059
No reported issues, so this concludes v8.0.0-rc.0 release.

Please feel free to merge semver-minor PRs again.

[2021-09-28 10:54] #15059 closed

[2021-09-28 10:54] eslint-github-bot[bot] opened #15111 "Scheduled release for October 8th, 2021"
The next scheduled release will occur on Friday, October 8th, 2021.

## Release Day Checklist

- [ ] Remove the 'tsc agenda' label on this issue
- [ ] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [ ] Start the release on [Jenkins](https://jenkins.eslint.org)
- [ ] Update the release blog post with a "

[2021-09-28 12:32] maicol07 opened #15114 "Bug: TypeError with a dynamic import"
### Environment

Node version: v16.10.0
npm version: v7.24.1
Local ESLint version: v7.32.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.22463

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]

</details>

[code]

### What did you expect to happen?

Linting works

### What actually happen

[2021-09-28 12:52] mdjermanovic commented on #15114
Hi @maicol07, thanks for the issue!

This error is observable in `template-curly-spacing` and `indent` rules, but it's actually a bug in `@babel/eslint-parser` or one of its dependencies. The bug was fixed a long time ago but still appears for some users, even with newer versions of `@babel/eslint-parser`. I suspect that some of package.json `dependencies` between babel packages haven't been updat

[2021-09-28 12:55] maicol07 commented on #15114
Maybe it's because of [https://github.com/gajus/eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) since they use the old `babel-eslint`. However, they have a PR open to migrate to the new eslint parser: gajus/eslint-plugin-flowtype#479

[2021-09-28 13:04] mdjermanovic commented on #15114
It's possible. I didn't check the configs since you mentioned `@babel/eslint-parser`. If your configuration uses `babel-eslint`, then that's the most likely cause, and the error should be fixed by upgrading to the latest `@babel/eslint-parser`.

[2021-09-28 13:25] mdjermanovic commented on #14878
I'm closing this issue since it isn't likely that the proposed rule will be accepted.

Fix for https://github.com/eslint/eslint/pull/14617#issuecomment-892105159 is included in the recent [ESLint v8.0.0-rc.0 release](https://eslint.org/blog/2021/09/eslint-v8.0.0-rc.0-released).

@TSMMark thanks for testing new features on your codebase! Please let us know if you encounter any issues with the new v

[2021-09-28 13:25] #14878 closed

[2021-09-28 16:36] zx-81-16k opened #15116 "Bug: (es5 multine string with closing html tag)"
### Environment

Node version: v12.22.5
npm version: v6.14.14
Local ESLint version: v7.14.0
Global ESLint version: Not found
Operating System: Windows 7

### What parser are you using?

vue-eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

no warning, no errors.

### What actually happened?

at end of thi

[2021-09-28 16:40] ljharb commented on #15116
In browsers when inline in an HTML document, any occurrence of `</script>`, even in a string, immediately ends the script tag - this probably isn't the issue here but I thought I'd mention it.

[2021-09-28 18:08] nzakas commented on #15116
This issue doesn't occur with the default ESLint parser, and so I'd suggest following up with the `vue-eslint-parser` project for help.

[2021-09-28 18:08] #15116 closed

[2021-09-28 18:12] nzakas commented on #15090
@ilyub I'm unable to reproduce this with the master branch. I'd suggest re-syncing with the master branch, removing `node_modules` folder, and re-installing.

https://docs.github.com/en/github/collaborating-with-pull-requests/working-with-forks/syncing-a-fork

[2021-09-29 00:46] nzakas commented on #15089
This seems like a risky thing to autofix. Maybe a suggestion would be better?

[2021-09-29 00:49] nzakas commented on #15097
I agree. In general, instance method related rules are problematic because type information is required to be safe.

Given that there’s already a plugin rule filling this gap, I think we should decline.

[2021-09-29 00:50] nzakas commented on #15080
Marking as accepted because there is agreement on adding a new option for this.

[2021-09-29 00:53] nzakas commented on #14745
So is the next step here to wait for an RFC? @btmills

[2021-09-29 00:56] nzakas commented on #15036
@eslint/eslint-tsc do we feel comfortable adding a resolve option to the ESLint class for this?

[2021-09-29 02:02] btmills commented on #15036
Since it’d be temporary, and it’s less hacky than alternative solutions, I’m okay with it.

[2021-09-29 02:42] #15097 closed

[2021-09-29 12:05] mdjermanovic commented on #15036
I have concerns that this won't work for the other mentioned patch [`@rushstack/eslint-patch`](https://www.npmjs.com/package/@rushstack/eslint-patch). That patch replaces resolver [only for `ConfigArrayFactory#_loadPlugin`](https://github.com/microsoft/rushstack/blob/2b24aa15117f6d692e388b5d717eef21f376503d/stack/eslint-patch/src/modern-module-resolution.ts#L121), it [needs `ctx.filePath`](https:/

[2021-09-29 13:02] seahindeniz opened #15121 "New Rule: no-override-native-methods | no-assignment-native-props?"
### Rule details

Prevents overriding native props/methods

### Related ECMAScript feature

No

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

Basically, we need to prevent overriding methods or properties of native classes, and I couldn't find a solution that makes it possible.
Such change mi

[2021-09-29 14:49] ljharb commented on #15121
https://eslint.org/docs/rules/no-global-assign

[2021-09-29 15:26] D-Pow commented on #15078
Apologies if I worded that in a blunt manner, but I understand what you two are saying.

True, even I had noticed before creating the issue that stuff like `const myFunc = x => ...` weren't matched. It's not a foolproof regex, just one I whipped up quickly to use as an example.

That being said, I agree with the "ESLint provides much better ways" sentiment because even I would find that easier to

[2021-09-29 16:55] seahindeniz commented on #15121
@ljharb it's not that I think, [here](https://eslint.org/demo#eyJ0ZXh0IjoiTnVtYmVyLmlzTmFOID0gKCkgPT4ge307XG5PYmplY3QuZW50cmllcyA9ICgpID0+IHt9O1xuY29uc29sZS5sb2cgPSAoKSA9PiB7fTsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOjEyLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7Im5vLWdsb2JhbC1hc3NpZ24iOjJ9LCJlbnYiOnsiYnJvd3NlciI6dHJ1ZSwibm9kZSI6dHJ1ZX19fQ==)

[2021-09-29 20:02] danielhammerl commented on #15108
Great thank you, thats exactly what i was looking for

[2021-09-29 20:02] #15108 closed

[2021-09-29 20:05] ljharb commented on #15108
However, this seems like it only produces warnings - is there a way to make it produce *errors*?

[2021-09-29 20:07] nzakas commented on #15036
I’m just not onboard with the monkey patching approach. This feels very, very fragile, and the folks who are already monkey patching should know that. Perpetuating that seems like a bad idea.

I don’t think our goal here should be to support every hack that’s currently out there, but rather, come up with an approach that we can live with. If adding a new option solves most but not all of the probl

[2021-09-29 20:11] nzakas commented on #15078
@D-Pow I’m sorry, core rules aren’t designed to catch every person’s unique preferences. The rules are there to get about 90% of the cases. If you need anything more than that, you’ll need to create your own rules. That’s exactly why plug-ins exist.

[2021-09-29 20:13] ljharb commented on #15121
ah, you're right, https://eslint.org/docs/rules/no-extend-native then?

[2021-09-30 01:12] aladdin-add commented on #15121
Per our [rules policies](https://eslint.org/blog/2020/05/changes-to-rules-policies), we can only accept new rules if they relate to new ECMAScript features that reached stage 4 in the preceding 12 months, so this proposal doesn't qualify.

I'm in favor of a new option for `no-extend-native`.

[2021-09-30 02:58] ljharb commented on #15121
I’m surprised no-extend-native doesn’t cover this by default; an option would be great - the airbnb config would absolutely use it.

[2021-09-30 06:07] seahindeniz commented on #15121
I'm fine with having a new rule or changing an existing rule.

I'm not sure how to respond to this properly but from what I can see, console methods are considered as native functions in browser and Node environments. So I think it should be considered in order to maintain integrity and security of the console.X methods.
Can there be some exceptions for the objects that can be evaluated with the "

[2021-09-30 08:55] flosker opened #15123 "🐞 BUG: `id-match` rule not working properly with both `properties` & `onlyDeclarations` options enabled"
### Environment

Node version: `16.5.0`
npm version: -
Local ESLint version: `7.32`
Global ESLint version: Same
Operating System: Linux

### What parser are you using?

Default (Espree)

### Configuration + What happened

1. This lints for properties.Works.
[code]

2. This ignore properties & and only checks rule for declaration by user. Expected.
[code]

3. This does all the opposite of config. I

[2021-09-30 09:17] flosker opened #15124 "📝 Rule Change: `padded-blocks` - Option to set minimum number of statements to require in block, before applying the rule"
### What rule do you want to change?

padded-blocks

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Config

[code]

### Example code
[code]

### What does the rule currently do for this code?

It requires padding for all blocks. Like below. Which looks ugly for blocks with very few statements.

[code]

###

[2021-09-30 13:53] flosker opened #15125 "🐞 BUG: `padding-line-between-statements` & `lines-around-comment` rules conflict with each other"
### Environment

Node version: `v16.5`
npm version: -
Local ESLint version: `v7.32`
Global ESLint version: Same
Operating System: Linux

### What parser are you using?

Default (Espree)

### What did you do?

### Config
[code]

### Example
[code]

### What did you expect to happen?

`lines-around-comment` rule should take precedence.

### What actually happened?

Both rules conflict with each othe

[2021-09-30 17:33] wsw70 opened #15126 "Bug: import/first conflicts with Vue3 <script> and <script setup>"
### Environment

Node version: v14.15.4
npm version: v7.15.1
Local ESLint version: v7.32.0
Global ESLint version: v7.31.0 (Currently used)
Operating System: win32 10.0.19043

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

A Vue3 (3.2+) component with a <script> and <script setup> section

</details>

[code]

### What did

[2021-09-30 18:06] nzakas commented on #15126
This error is coming from the eslint-plugin-import package. You’ll need to open an issue with them if you don’t agree with how the rule is working.

[2021-09-30 18:06] #15126 closed

[2021-09-30 18:07] nzakas commented on #15124
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-09-30 18:07] #15124 closed

[2021-09-30 18:17] mdjermanovic commented on #15036
We don't support hacks but we're adding to our main ESLint API an option whose only purpose is to hack into ESLint's internal logic, and the option can solve only a small subset of problems that would be solved by unlocking one property on our legacy API. This doesn't make sense to me, but I won't block it.

[2021-09-30 18:21] nzakas commented on #15121
no-extend-native is explicitly about adding things to prototypes:

I don’t think it makes sense to extend to this use case.

I also don’t think this rule is critical to be in the core and would rather see it as a plugin.

[2021-09-30 18:23] nzakas commented on #15098
I’d say this is a bug given the different behavior in max-lines, so I’m in favor of bringing this rule into alignment.

[2021-09-30 18:46] mdjermanovic commented on #15125
I can confirm that these two rules conflict with each other.

We could update `padding-line-between-statements` to always ignore padding between statements that have comments between them, but that feels like a big change for users who have only this rule enabled and want to enforce padding between statements regardless of comments that may exist there, so I think we should resolve the conflict by

[2021-09-30 19:16] mdjermanovic commented on #15121
I wouldn't mind having this rule in the core. It feels that this rule is missing - we have core rules that disallow replacing `Array` and `Array.prototype.forEach` but we don't have a rule that would disallow replacing `Array.from`.

[2021-09-30 19:46] ljharb commented on #15121
The name of the rule is "extend native". It's only the description - something that can be changed in a semver-patch - that constrains it to prototypes.

It's very very critical to do whatever is possible to prevent developers from mutating any builtins, as this brilliant author makes clear http://www.nczonline.net/blog/2010/03/02/maintainable-javascript-dont-modify-objects-you-down-own/ ;-)

[2021-09-30 20:27] mdjermanovic commented on #15016
I unchecked `espree` because it also re-exports visitor keys. I don't think we're using `espree.VisitorKeys` in ESLint, but `espree` itself would be incomplete without updating `eslint-visitor-keys` dependency.

[2021-09-30 22:25] mdjermanovic commented on #15016
I added an initial list of rules that should be updated. A couple of them may need only docs/tests update. Note that class static blocks do not have directive prologue.

[2021-10-01 00:23] nzakas commented on #15121
@ljharb “extend” means adding to, not overwriting. These are two different cases and “extending” this rule for a different case feels like trying to find a loophole around our new rule policy.

Aside from not fitting our criteria for new rules, this rule flags an obvious intentional bad practice - the people doing it know what they are doing; if we were to make an exception (which I would prefer t

[2021-10-01 00:40] nzakas commented on #15036
I don’t find this type of comment productive. We shouldn’t be thinking in terms of blocking anything. We should be thinking in terms of how to satisfy use cases in a way that we all can live with.

I don’t understand this argument. All of the options to the ESLint class change internal logic.

Fundamentally, we are dealing with a messy situation where packages are modifying APIs that they shouldn’

[2021-10-01 00:48] nzakas commented on #15079
I took a look at this and updating CLIEngine is probably the easiest way to fix this.

[2021-10-01 00:49] nzakas commented on #15054
Closing as we won’t be moving forward with this.

[2021-10-01 00:49] #15054 closed

[2021-10-01 00:50] nzakas commented on #14975
@eslint/eslint-tsc any idea on if this is a bug or otherwise should be changed?

[2021-10-01 00:54] nzakas commented on #15125
That’s fine with me, though I’m also fine with not changing anything here given that these are stylistic rules. With the number of rules we have it’s just not possible to account for every combination without conflicts.

[2021-10-01 01:07] nzakas commented on #11899
Agree. I’m not sure the current default actually makes sense but an option is an easy way to address it.

[2021-10-01 01:58] ljharb commented on #15121
So if i do `Number.foo = 3` it will warn?

[2021-10-01 02:56] btmills commented on #14975
I'm not seeing anything that would make me think this is a bug in the rule's default behavior. We could discuss whether we should make this change as an enhancement, but because it'd cause more warnings by default, it'd be semver-major, so I'd lean against doing it. At the very least, it'd have to wait for a major release, and given we're already at v8.0.0-rc.0, that would mean v9.

[2021-10-01 03:50] btmills commented on #15125
That option is probably the right way to solve this if we were going to do it in core. However, leaving this unchanged would be consistent with our [rule update policy](https://eslint.org/blog/2020/05/changes-to-rules-policies) on stylistic rules. Given how rare this combination of rules and options likely is, my recommendation would be to copy `padding-line-between-statements` to a custom rule an

[2021-10-01 04:02] btmills commented on #15098
Also in favor. #13318 updated `max-lines` as part of the broader highlight location updates in in #12334, and those were done as semver-minor enhancements, so I'd say this should be done that way as well instead of as a semver-patch bug fix.

[2021-10-01 04:17] btmills commented on #15078
I agree this sounds like the perfect use case for a customized version of `no-unused-vars` in a plugin. An `ignoreFunctions` option might be reasonable in core if there were a lot of demand for it, but I don't see us adding AST selector-based ignores to rule options.

[2021-10-01 07:44] AtulKarn commented on #14939
Hi! is @eyeamkd still working on this? If not then can I take this up? I am new to open source and this seemed a good issue to work on

[2021-10-01 11:58] eyeamkd commented on #14939
Yeah, will place a PR soon @AtulKarn

[2021-10-01 12:02] AtulKarn commented on #14939
Oh that's great

[2021-10-01 13:47] mdjermanovic commented on #15036
I'll try to better explain my view on this option. The interface is `resolve(moduleName, relativeToPath)`. The function doesn't have any context provided, it doesn't know what kind of entity is being resolved and why it should be resolved relative to `relativeToPath`. This should be only a [utility](https://github.com/eslint/eslintrc/blob/3b8ae43b32bbe08311a7de0b81bf1219c7cd52d7/lib/shared/relativ

[2021-10-01 16:38] aduh95 commented on #13569
That doesn't seem to be true, for the following input: `var foo ||= bar;`, I'm getting the following error: `1:9 - Parsing error: Unexpected token ||=`.

[Demo link](https://eslint.org/demo#eyJ0ZXh0IjoidmFyIGZvbyB8fD0gYmFyOyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6MTIsInNvdXJjZVR5cGUiOiJzY3JpcHQiLCJlY21hRmVhdHVyZXMiOnt9fSwicnVsZXMiOnsiY29uc3RydWN0b3Itc3VwZXIiOjIsImZvci1kaXJlY3Rpb2

[2021-10-01 17:39] mdjermanovic commented on #13569
@aduh95 this isn't valid [_VariableStatement_](https://tc39.es/ecma262/#prod-VariableStatement), `||= bar` cannot be _Initializer_. This code is syntax error in engines, too.

[2021-10-01 18:03] krichter722 opened #15127 "Change Request: file glob for eslint --init is hard to figure out"
### ESLint version

7.32.0

### What problem do you want to solve?

When using `eslint --init` on is asked `Which file(s), path(s), or glob(s) should be examined?`. A lot of intuitive inputs like `src/**/*.(ts|tsx)`, `src/**/*.ts` and `*ts` all don't work for a project with `.ts` and `.tsx` files in `src/` under the project root where `yarn run eslint --init` is executed. It's a frustrating first

[2021-10-01 23:00] japamatSynapse opened #15129 "Rule Change: don't flag max-params for native methods that take more than 3 arguments"
### What rule do you want to change?

max-params

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

it tells me that "Arrow function has too many parameters (4). Maximum allowed is 3", when the native `Array.prototype` method

[2021-10-02 00:50] nzakas commented on #15098
Fair enough. @alvis would you be interested in submitting a pull request for this?

[2021-10-02 00:53] nzakas commented on #14975
Sounds good. Given that the behavior seems intentional and there is a workaround, it doesn’t seem like a change is warranted here.

[2021-10-02 00:53] #14975 closed

[2021-10-02 00:58] LilCthulu commented on #15098
I would love to take this on as first contribution if possible!

[2021-10-02 01:04] nzakas commented on #15129
Thanks for the suggestion. ESLint doesn’t have the information about which native methods have how many parameters, so we aren’t able to do this easily. You can use a disable comment to disable the warning where you need to.

[2021-10-02 01:04] #15129 closed

[2021-10-02 01:07] nzakas commented on #15127
Thanks for the feedback. Did you end up finding a glob that worked? If you did, could you share it as compared to one that didn’t work?

[2021-10-02 01:36] josephzidell opened #15130 "Rule Change: padded-blocks"
### What rule do you want to change?

padded-blocks

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Currently this rule checks blocks, classes, and switch statements. While technically this _is a block_, it is a different ASTNode.

##

[2021-10-02 10:22] alvis commented on #15098
@LilCthulu I'd appreciate it very much if you can help ❤️

[2021-10-02 10:46] boutahlilsoufiane commented on #12687
Hi @mdjermanovic, I changed the pull request, could you please review it?

[2021-10-02 11:49] fregante commented on #14975
I didn't say it's a bug, it just said it would be helpful to enable more warnings.

Intentional how? It just _allows_ more operators being mixed. 🤷‍♂️ It's as "intentional" as the lack of a rule.

That's unfortunate, it would be a simple change to bring in v8, hence the issue title.

[2021-10-02 12:20] krichter722 commented on #15127
@nzakas I went with `src/**/*.ts` in order to get started and get past the question. It got me past the question and started the analyses, but it was of course incomplete because the analysis from `src/**/*.tsx` was missing.

Upon further investigation I tried `src/**/*.ts src/**/*.tsx` and it seems to work based on the output `Enabled a out of b rules based on n files.`

However I now figured tha

[2021-10-02 14:11] seahindeniz commented on #15121
_Excuse me if my words make you guys feel uncomfortable or offensive in any way. I apologize in advance, and no offense as well._

I have no deep knowledge about the current policies of ESLint. By simply looking at this case, the criteria for adding new core rules need to be re-evaluated to have new aspects for the forgotten things. I'm saying this because, in my opinion, ESLint hasn't finalized i

[2021-10-02 14:59] SayakMukhopadhyay opened #15131 "Change Request: Add eslint-config-prettier as a style guide during init"
### ESLint version

v7.32.0

### What problem do you want to solve?

Right now `eslint --init` supports only 4 style guides, google, airbnb, standard and xo. This is a request to add prettier as another style guide as it is a very popular style in the ecosystem.

### What do you think is the correct solution?

`eslint-config-prettier ` could be added as an option during the questions when entering

[2021-10-02 22:18] flosker commented on #15125
I think it be better to include comment as an additional STATEMENT_TYPE. That would be more of an improvement instead of a rule change.

And would also provide better control to user than an extra option. We already have so many types, comments type will only make it complete.

[2021-10-03 15:14] mdjermanovic commented on #15130
Hi @josephzidell, thanks for the issue!

Core rules don't have typescript-specific options. You can ask for an [extension rule](https://github.com/typescript-eslint/typescript-eslint/tree/master/packages/eslint-plugin#extension-rules) in [typescript-eslint/typescript-eslint](https://github.com/typescript-eslint/typescript-eslint) repository.

[2021-10-03 15:14] #15130 closed

[2021-10-03 17:34] Deep1Shikha commented on #14972
@nzakas , shall I start working on this? Could you assign it to me?

[2021-10-03 18:12] wedi opened #15133 "Rule Change: `no-warning-comments`: Add `ignorePattern`"
### What rule do you want to change?

no-warning-comments

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

It will complain about all rules because the comments contain the terms `TODO` and/or `FIXME` (using default settings).

### Wh

[2021-10-03 18:35] btmills commented on #15036
I'm sympathetic to the argument that the `resolve` option by itself only addresses one of these cases. What if `_loadPlugin()` also passed `ctx.filePath` to `resolve()`? `ModuleResolver.resolve()` wouldn't need it, but that would remove the need to monkey patch `_loadPlugin()`.

[2021-10-04 05:58] JoshuaCS opened #15135 "Bug: Eslint throws warnings when rule is set to "error""
### Environment

Node version: v14.15.1
npm version: v6.14.8
Local ESLint version: v7.26.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.1.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

Foo is not used anywhere

### What did you expect to happen?

It would throw an err

[2021-10-04 08:40] zachsa opened #15136 "Bug: "no-unused-vars" incorrectly flags object destructuring"
### Environment

Node version: 16.10
npm version: 7
Local ESLint version: 7.32
Global ESLint version: 7.32
Operating System: Linux Ubuntu (WSL 2)

### What parser are you using?

@babel/eslint-parser

### What did you do?

### I like to use object destructing as a means of filtering away unused fields. For example:

[code]

I find this a very convenient means of blacklisting fields. The `fieldA` v

[2021-10-04 12:21] mdjermanovic commented on #15136
Hi @zachsa, thanks for the issue!

This rule has [`ignoreRestSiblings`](https://eslint.org/docs/rules/no-unused-vars#ignorerestsiblings) option. When the option is set to `true`, `fieldA` will be allowed, as in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyplc2xpbnQgbm8tdW51c2VkLXZhcnM6IFtcImVycm9yXCIsIHsgXCJpZ25vcmVSZXN0U2libGluZ3NcIjogdHJ1ZSB9XSovXG5cbmNvbnN0IHtmaWVsZEEsIC4uLm90aGVyRmllbGRzf

[2021-10-04 16:38] hipstersmoothie opened #15137 "Change Request: Turn `off` warning when run with `--quiet` flag"
### ESLint version

7.13.0

### What problem do you want to solve?

We use the `--quiet` flag on CI to not display warnings, but the rules still run.

### What do you think is the correct solution?

 Instead eslint should turn these rules `off` when `--quiet` is set which will in turn make eslint complete faster.

### Participation

- [X] I am willing to submit a pull request for this change.

###

[2021-10-05 00:27] nzakas commented on #15098
@LilCthulu happy to have your help. Please post back here if you have any questions or need some pointers.

[2021-10-05 00:28] nzakas commented on #14972
@Deep1Shikha you are welcome to work on this. Please comment back here if you have any questions.

[2021-10-05 00:32] nzakas commented on #15127
Yeah, the auto config is a bit broken. I actually thought we had removed it but apparently not. In any event, I’m not surprised it doesn’t work properly with TypeScript files as that requires a custom parser and the built in rules don’t always work correctly with TypeScript.

I think we will probably move forward with removing this feature rather than trying to fix it.

[2021-10-05 00:33] nzakas commented on #15125
@flosker what you are describing is a rule change. :smile:

@mdjermanovic do you want to proceed with a new option here or close unchanged?

[2021-10-05 00:40] nzakas commented on #15121
@seahindeniz we realize that our policy isn’t what everyone would like, but that’s why ESLint supports plugins. We never want to stand in the way of people having the rules that they want, but we just can’t keep adding new rules to the core forever. With about 300 rules already, it’s a maintenance nightmare.

For more information, please see the blog post where we announced this change:
https://es

[2021-10-05 00:51] nzakas commented on #15036
@mdjermanovic thanks for explaining. I guess my point is that all of the options are fragile in some way, and I find explicit approaches to be favorable to implicit approaches in that case.

@btmills I really don’t want to be changing existing internal APIs related to eslintrc at this point. The whole thing is a house of cards as it is.

My main goal at this point is to find something that works u

[2021-10-05 01:01] nzakas commented on #15137
interesting idea. Do I understand correctly that your concern is performance? Do you have any numbers showing how this would affect your CI run? How many rules do you set to “warn” currently?

[2021-10-05 01:05] nzakas commented on #15135
Which rule(s) are you talking about? As far as I can tell, all of the rules are displaying the correct severity based on your configuration.

[2021-10-05 01:08] nzakas commented on #15131
Thanks for the suggestion. eslint-config-prettier is not a style guide, it only turns rules off that conflict with prettier preferences. You still need to manually use prettier to format your code. As such, this isn’t a good fit to add.

[2021-10-05 01:08] #15131 closed

[2021-10-05 01:53] JoshuaCS commented on #15135
It’s for no-unused-vars

in my code it has an unused variable “moo” and it shows as an warning, despite the config rules stating it should throw a error.

‘’’
src/pages/marketplace/Offering/Offering.jsx <-- this is the warning
  Line 30:8:  'moo' is assigned a value but never used  no-unused-vars

[2021-10-05 04:28] btmills commented on #15036
As I understand it, un-freezing `ModuleResolver` would not solve the other half of this that overrides `_loadPlugin()`. Would un-freezing `ModuleResolver` also un-freeze `ConfigArrayFactory` to allow patching that too?

https://github.com/microsoft/rushstack/blob/8b2252a00fd57eb4f440bd8f2d6ba61d2ab369cd/stack/eslint-patch/src/modern-module-resolution.ts#L121

[2021-10-05 07:19] zachsa commented on #15136
Thank you!

I did not know how to search for that. I find that this can be added to the config like so:

[code]

[2021-10-05 07:19] #15136 closed

[2021-10-05 09:07] TimMoser92 commented on #13569
I just stumbled upon a complaint from ESLint that might be related to these changes. The rule is [`no-return-assign`](https://eslint.org/docs/rules/no-return-assign) with the option `always` set (though that is not relevant). The code looks something like this follows:
[code]

ESlint complains here, because the return of the arrow function conatins an assignment. That is technically correct, but I

[2021-10-05 12:04] SayakMukhopadhyay commented on #15131
Is adding Prettier as a dependency and using `eslint-config-prettier` and `eslint-plugin-prettier` a non use case for ESLint?

[2021-10-05 18:05] LilCthulu commented on #15098
@nzakas @alvis Awesome! I'll get started right away. Any specific file to start at? Also anything general to know before I dive in?

[2021-10-05 18:11] ljharb commented on #13569
@TimMoser92 the rule helps prevent conflating assignments with expressions, and it absolutely should apply to the logical assignment operators. If the docs imply different, I think they should be updated.

[2021-10-05 22:48] Samuel-Beslogic commented on #14919
That would've been perfect, but

Unfortunate, but understandable :/
Well if anyone decides to implement a plugin/extension with a rule that attempts to solve this. Feel free to tag me!

[2021-10-05 23:52] ljharb commented on #14919
@samuel-beslogic the only one i know of is https://github.com/import-js/eslint-plugin-import

[2021-10-06 00:40] nzakas commented on #15098
This is the main file to look at:
https://github.com/eslint/eslint/blob/master/lib/rules/max-lines-per-function.js

You’ll also need to update the tests:
https://github.com/eslint/eslint/blob/master/tests/lib/rules/max-lines-per-function.js

The pull request making a similar change to max-lines might be useful as an example:
https://github.com/eslint/eslint/pull/13318/files

[2021-10-06 00:42] nzakas commented on #15036
No, but I’m not sure that’s needed. I don’t believe ConfigArrayFactory.prototype is frozen.

[2021-10-06 00:46] nzakas commented on #15135
I’m sorry, it’s hard to understand what you’re describing. The output doesn’t specify error or warning, so how do you know it’s a warning?

Please create a minimal reproduction case and post it back in this issue. As it is, I can’t reproduce anything like what you’re describing with the code you provided.

[2021-10-06 00:48] nzakas commented on #15133
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-10-06 10:53] wedi commented on #15133
Thanks for looking into this @nzakas.
I actually read that readme and I am surprised that you consider `no-warning-comments` to be a _stylistic_ rule. Please expand on the reasoning behind that. I would like to understand it.

[2021-10-06 11:04] TimMoser92 commented on #13569
If that is the correct justification, the docs do not seem to imply it. They primarily mention other specific problems that can arise from mixing non-logical assignments into return statements. The justification you give is much more general and would of course also cover logical assignment operators. But if the goal is to never mix assignments into expressions, why is there no general rule about

[2021-10-06 21:54] ImRodry opened #15138 "Bug: import/order rule doesn't detect "node:x" modules as builtin"
### Environment

Node version: 16.10.0
npm version: 7.24.1
Local ESLint version: 7.32.0
Global ESLint version: 7.32.0
Operating System: Windows 11

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

I expected eslint not to throw any errors as it would without the node: p

[2021-10-07 00:17] nzakas commented on #15138
import/order is a part of the eslint-plugin-import package, which we don’t maintain. You’ll have to contact the maintainers of that package for help.

[2021-10-07 00:17] #15138 closed, assigned to nobody

[2021-10-07 10:33] CostachescuCristinel opened #15139 "Rule Change: ignore array items destructuring the same way as args: after-used"
### What rule do you want to change?

no-unused-vars

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

The `no-unused-vars` rule will report all unused variables from any `Array` destructuring code, without taking into account that the

[2021-10-07 15:27] ImRodry commented on #15138
Thanks, will submit the issue to them instead

[2021-10-07 16:13] The-x-Theorist commented on #15098
I'd like to make my first open source contribution by updating this rule. 😄

[2021-10-07 17:27] pedropcruz opened #15141 "Bug: update eslint package, @humanwhocodes/config-array Not Found"
### Environment

Node version: 14.18.0
npm version: 6.14.15
Local ESLint version:
Global ESLint version:
Operating System: Windows 11

### What parser are you using?

Other

### What did you do?

Basically, I install eslint@nest version, like: `npm i eslint@next --save-dev` and I'm getting this error
![image](https://user-images.githubusercontent.com/6757946/136434079-608dfa81-9aa9-42fd-9c97-af739

[2021-10-07 17:31] drochgenius commented on #15141
Facing this issue in our CI as well, trying to install `eslint@latest`

[2021-10-07 17:34] pedropcruz commented on #15141
I'm getting the same.

![image](https://user-images.githubusercontent.com/6757946/136434896-5607d79b-df68-4b0e-b849-ad672d4d0a40.png)

Is it because the npm service is down?

https://status.npmjs.org/

[2021-10-07 18:17] nzakas commented on #15141
Yes, there is an ongoing npm outage. This isn’t an issue with ESLint itself.

[2021-10-07 18:17] #15141 closed

[2021-10-07 18:20] nzakas commented on #15139
Thanks for the suggestion. I think you did stumbled upon what we recommend: you don’t need to define variables for destructing, you can just use commas without identifiers between them. This is different than with arguments where you must supply identifiers, so I don’t think the two situations are the same.

You can always use a disable comment in any specific instance where you don’t want to have

[2021-10-07 18:20] #15139 closed

[2021-10-07 20:55] nzakas commented on #13481
An update on the approach: It turned out to be too difficult to modify the `ESLint` class to toggle between the new and old config systems, so instead I'm creating a new `FlatESLint` class that will be the basis of the new config system. `cli.js` will search for the new config file and use `FlatESLint` instead of `ESLint` if found. As a final step, we will remove the original `ESLint` class and re

[2021-10-08 00:33] nzakas commented on #15086
No reply so closing.

[2021-10-08 00:33] #15086 closed

[2021-10-08 02:25] aladdin-add commented on #14768
working on this. will try to make a PR in a few days.

[2021-10-08 08:40] thw0rted opened #15143 "Rule Change: (max-statements-per-line) reconcile existing conditional handling with `curly` rule"
### What rule do you want to change?

max-statements-per-line

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

Flags the second line, but not the first

### What will the rule do after it's changed?

Don't flag either line

### Partic

[2021-10-09 09:47] fullmooooon commented on #15064
I have the same doubts.
I spent a lot of time today reading eslint and prettier documentation to achieve what I wanted.

.eslintrc.js
`  rules: {
    "prettier/prettier": ["off","trailingComma"]
  }`

But what if I have more needs. Reading the current document is intended to be confusing.

This is an obviously wrong configuration.
`  rules: {
    "prettier/prettier": ["off","trailingComma"],
    "

[2021-10-09 20:30] #15036 closed

[2021-10-09 21:13] btmills commented on #15111
ESLint v8.0.0 has been released! https://eslint.org/blog/2021/10/eslint-v8.0.0-released Please merge only semver-patch changes until we see whether a patch release is needed in a few days.

[2021-10-10 10:34] pubmikeb opened #15147 "Bug: (Inconsistent rule names)"
### Environment

Node version: 16.11.0
npm version: 8.0.0
Local ESLint version: 8.0.0

### What parser are you using?

Default (Espree)

### What did you do?

Arranging rules set after upgrade to ESLint 8.0.0, I've paid attention that rule names are not consistent, somewhere I can see `*function*`, somewhere — `*func*`, e.g. `function-paren-newline` vs. `no-func-assign`.

### What did you expect t

[2021-10-10 13:58] miladezzat opened #15148 "After Upgrade Eslint 8.0.0"
### Environment

Environment Info:

Node version: v14.17.6
npm version: v8.0.0
Local ESLint version: v8.0.0 (Currently used)
Global ESLint version: v8.0.0
Operating System: linux 5.13.19-200.fc34.x86_64

[code]

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

no

### W

[2021-10-10 14:30] ljharb commented on #15148
If you’d used npm 7+ to install it, it would have warned you that eslint 8 and eslint-plugin-import aren’t compatible yet.

[2021-10-10 15:22] lucasriondel opened #15149 "Bug: (TypeError: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.json': Class extends value undefined is not a constructor or null)"
### Environment

Node version: v14.18.0
npm version: 6.14.15
yarn version: 1.22.10
Local ESLint version:  8.0.0
Global ESLint version:  -
Operating System: Windows 11

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

.eslintrc.json
[code]

.eslintignore
[code]

package.json
[code]

</details>

command launched
[code]

###

[2021-10-10 15:23] lucasriondel commented on #15149
It seems to be working with eslint 7.32.0.

[2021-10-11 07:10] jaysonwu991 commented on #3565
@leoswing How did you use `jest-worker` with `eslint`, if you just write a script to execute eslint command? Thanks

[2021-10-11 07:48] aurelien-reeves commented on #15148
We encounter the same issue with @cucumber/cucumber-expressions: https://github.com/cucumber/cucumber-expressions/pull/29

@ljharb what do you mean? I cannot find any warning in the GHA logs. I have tried myself to install eslint using npm 7 and 8 and showed no warning of any kind.

[code]

[2021-10-11 08:41] miladezzat commented on #15148
This occurred with airbnb
[code]
@aurelien-reeves

[2021-10-11 08:44] jaysonwu991 commented on #3565
1. CLIEngine is considered to be removed - [https://eslint.org/blog/2020/02/whats-coming-in-eslint-7.0.0](https://eslint.org/blog/2020/02/whats-coming-in-eslint-7.0.0)
2. CLIEngine has been removed - [https://eslint.org/docs/user-guide/migrating-to-8.0.0](https://eslint.org/docs/user-guide/migrating-to-8.0.0)

With Eslint v8, does anyone have the idea to implement parallel linting? Thanks

[2021-10-11 21:24] kimbaudi commented on #15148
I'm getting the same error message as the OP and a bunch of warnings after upgrading to eslint 8.

[code]

I guess I need to wait for all these packages to support eslint 8 before I can upgrade.

[2021-10-11 21:44] ljharb commented on #15148
Yep, every time anything that has a plugin system bumps a major (eslint, babel, typescript, react, etc), you always have to wait until the plugin ecosystem catches up.

That's just part of the tradeoffs that must be made when one combines "a plugin system" with "breaking changes".

[2021-10-12 00:11] #15147 closed, assigned to nobody

[2021-10-12 00:16] nzakas commented on #15149
As noted, this is an issue with typescript-eslint. We will leave this issue open for visibility.

You can try the release candidate of the new version:

npm install typescript-eslint@rc-v5

[2021-10-12 00:27] nzakas commented on #3565
Parallel linting is still on the roadmap. We just have some other higher priority work going on right now.

[2021-10-12 00:31] nzakas commented on #15064
Sorry, we can’t help with configuring prettier. You’ll need to work with that team.

Closing, as we addressed the original issue.

[2021-10-12 00:31] #15064 closed

[2021-10-12 22:42] flosker commented on #15125
@nzakas Today I tried to create my own rule & have successfully created 2 rules (not this one though). API is really straightforward (I thought I couldn't do it).

So I am closing this issue as I understand that every person will have different taste, so it's better to create custom rule.

So, thank you for this great tool! Its power is truly incredible :)

[2021-10-13 02:10] ais-one opened #15157 "Bug: using babel-eslint parser throws error"
### Environment

Node version: 14.18.0
npm version: 6.14.15
Local ESLint version:  v8.0.0
Global ESLint version:  Not Found
Operating System: win32 10.0.18363

Also "babel-eslint": "^10.1.0",

### What parser are you using?

Other

### What did you do?

1. create a project using npm init
2. install eslint and babel-eslint
3. eslint --init settings: CommonJS, Not using react or vue,  No typescript,

[2021-10-13 04:06] waki285 opened #15158 "Bug: ESLint ignores node version of package.json"
### Environment

Node version: v16
npm version: 8.0.0
Local ESLint version: 8.0.0
Global ESLint version: None
Operating System: GitHub Actions

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

<details>
<summary>package.json</summary>

[code]
</details>

### What did you expect to happen?

`??` is `Nullis

[2021-10-13 04:20] #15158 closed, assigned to nobody

[2021-10-13 08:47] lucasriondel commented on #15149
@nzakas Thanks a lot for the fast response !! ✨

[2021-10-13 09:18] oscar-bartman opened #15159 "Bug: running eslint --init generates a .eslint.json file with parserOptions.ecmaversion set to 13"
### Environment

Node version: v14.17.5
npm version: 6.14.14
Local ESLint version: 7.32.0
Global ESLint version: --
Operating System: Ubuntu Linux

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]
Configuration is result from running `npx eslint --init` after installing eslint locally in an empty project.

[2021-10-13 10:08] aladdin-add commented on #15159
thanks for the report@ 13 is an allowed value in eslint v8(but the docs was not updated somehow, should be fixed by #15162 )

[2021-10-15 00:26] #15042 closed

[2021-10-15 00:56] mdjermanovic commented on #14712
Marked as accepted since it conflicts with the `space-infix-ops` rule:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGtleXdvcmQtc3BhY2luZzogWydlcnJvcicsIHtcbiAgICBcIm92ZXJyaWRlc1wiOiB7XG4gICAgICAgIFwidGhpc1wiOiB7IFwiYmVmb3JlXCI6IGZhbHNlIH1cbiAgICB9XG59XSovXG5cbi8qIGVzbGludCBzcGFjZS1pbmZpeC1vcHM6IGVycm9yICovXG5cbmlmICh0aGlzLnJlZnVuZEFtb3VudCA+IHRoaXMubWF4aW11bVJlZnVuZCkge3

[2021-10-15 03:51] btmills commented on #15111
There have been no regressions reported, so that concludes the v8.0.x release process! You may resume merging semver-minor changes.

[2021-10-15 03:51] eslint-github-bot opened #15167 "Scheduled release for October 22nd, 2021"
The next scheduled release will occur on Friday, October 22nd, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2021-10-15 08:44] KrakenTyio commented on #15149
I have still stis issue after upgradin to ts-eslint 5.0.0
[code]
  `.eslintrc.json`
[code]

[2021-10-15 15:36] Naggertooth opened #15170 "Rule Change: (no-magic-numbers)"
### What rule do you want to change?

no-magic-numbers

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

error

### What will the rule do after it's changed?

ignoring callee which assuming a magic numbers with no pain

### Participati

[2021-10-15 19:26] #15170 closed, assigned to nobody

[2021-10-15 22:17] vicasas opened #15171 "Bug: Unable to resolve path to module 'swiper'"
### Environment

Node version: 16.3.0
npm version: 7.15.1
Local ESLint version: 7.32.0
Global ESLint version:
Operating System: Mac OS

### What parser are you using?

Default (Espree)

### What did you do?

I am creating a web application using Next.js together with React Swiper v7 to create carousels.

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect

[2021-10-15 22:31] mdjermanovic commented on #15171
Hi @vicasas, thanks for the issue!

This error is reported by a plugin rule `import/no-unresolved`. Can you please open an issue in the plugin's repository:

https://github.com/import-js/eslint-plugin-import

[2021-10-15 22:31] #15171 closed

[2021-10-15 22:56] vicasas commented on #15171
follow-up https://github.com/import-js/eslint-plugin-import/issues/2266

[2021-10-16 00:23] nzakas commented on #14862
I’m still planning on addressing this in the new config system. I think it’s actually already working in my prototype but haven’t validated it yet.

[2021-10-16 00:24] nzakas commented on #14098
Looks like we have completed everything for this issue now, so closing. Thanks everyone for making ESLint a bit slimmer.

[2021-10-16 00:24] #14098 closed

[2021-10-16 00:25] nzakas commented on #14588
I’ll handle this as I’m working on the new config.

[2021-10-16 00:26] nzakas commented on #14800
@btmills where are we on this?

[2021-10-16 00:28] nzakas commented on #14851
@eslint/eslint-tsc do we still want to throw errors in disable directives if they disable a rule that doesn’t exist? We don’t do this in config files and I’d prefer that disable directives also not throw.

[2021-10-16 00:28] nzakas commented on #14784
Keeping this open while we work on the RFC

[2021-10-16 00:30] nzakas commented on #13752
Looks like it.

[2021-10-16 00:32] nzakas commented on #13776
Just waiting for an RFC here

[2021-10-16 00:33] snitin315 commented on #14274
[code]

So, the above config will result in the following behaviour:

[code]

It makes sense to me as well. I am also 👍🏻 on this. I can submit a PR for this if accepted.

[2021-10-16 00:38] mdjermanovic commented on #14289
Did `eslint --init` install `@react-native-community/eslint-config`, or was it already installed before running `eslint --init`?

[2021-10-16 00:38] bmish commented on #14709
I still plan to work on this hopefully in the near future so we can target ESLint v9.

[2021-10-16 00:39] bmish commented on #14597
I still plan to work on this hopefully in the near future.

[2021-10-16 00:50] JounQin commented on #14686
ping

[2021-10-16 00:52] JounQin commented on #14198
ping

[2021-10-16 00:55] nzakas commented on #14162
I'll take this.

[2021-10-16 00:56] nzakas commented on #14597
Great, adding you as an assignee on this issue so the bot won't pick it up.

[2021-10-16 00:57] nzakas commented on #14709
Awesome, adding you as the assignee to make the bot happy.

[2021-10-16 00:58] nzakas commented on #14802
@btmills we could use your opinion on this one.

[2021-10-16 00:59] nzakas commented on #14708
Assigning to myself to review as we update the release process.

[2021-10-16 01:00] nzakas commented on #14308
I will do this as part of new config system work.

[2021-10-16 02:09] Manuel-Suarez-Abascal opened #15175 "Bug: TypeError: this.cliEngine is not a constructor"
### Environment

Node version: v14.17.0
npm version: 6.14.13
Local ESLint version: 8.0.1
Operating System: macOS Big Sur

### What parser are you using?

vue-eslint-parser

### What did you do?

I'm using [Vue CLI](https://cli.vuejs.org/) & after upgrading `ESlint` from version `7.32.0` to `8.0.1` I get the error `Syntax Error: TypeError: eslint.CLIEngine is not a constructor` after launching the

[2021-10-16 04:54] captbaritone commented on #13752
I can work on this. Busy this weekend, but can pick it up next week.

[2021-10-16 21:00] btmills commented on #14802
Checking `!foo === bar` seems in keeping with the spirit of this rule. The negation is _probably_ not what the author intended. There are valid uses of this patern: `!someInvertedValue === someBooleanVariable`, but I've seen intentional inverted comparisons to boolean variables far less than accidental instances of this pattern. Maybe it's a stylistic preference to say this is better written as `(

[2021-10-16 21:42] mdjermanovic commented on #14851
I think the main problem here is that eslint directive comments do not support this use case.

Aside from `/* eslint react/no-danger: "off" */`. any of these would also produce linting errors:

[code]

[Online Demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHJlYWN0L25vLWRhbmdlcjogXCJ3YXJuXCIgLS0gY2hhbmdlcyBzZXZlcml0eSBmb3IgdGhpcyBmaWxlICovXG5cbi8qIGVzbGludCByZWFjdC9uby1kYW5nZXI6IFtcImVycm9y

[2021-10-16 22:41] LilCthulu commented on #15098
@nzakas  I am indeed sorry for being slow! Had a bunch of stuff going on.

[2021-10-17 00:30] mdjermanovic commented on #14802
I agree with @nzakas on this. `!a in b` or `!a < b` almost never make sense, but `!a === b` is valid code if `b` is a boolean. Since we don't have type info, an error reported on such code would be a false positive, or could be interpreted as stylistic enforcement which isn't the intent of this rule.

I was in favor of this option in `no-unsafe-negation`, but now I think that we should report `!a

[2021-10-17 01:45] btmills commented on #14802
That’s reasonable to me :+1:

[2021-10-17 03:56] G-Rath commented on #15090
I've made #15179 implementing this

[2021-10-18 14:39] Tallyrald opened #15182 "[Question / bug] Typescript experimental decorator on class property"
### Environment

Node version: 16.11.1
npm version: 8.1.0
Local ESLint version: 8.0.1
Global ESLint version: -
Operating System: Windows 10 64bit
Typescript version: 4.4.4

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

After upgrading to eslint 8.0.X, my typescript project started throwing indent erro

[2021-10-18 18:16] smolster opened #15183 "Change Request: Support less opinionated scoped package plugin naming"
### ESLint version

v8.0.0

### What problem do you want to solve?

ESLint currently has very opinionated rules about plugin distribution, esp. in scoped packages.

For example, it is not workable to distribute a plugin like this:

[code]

Instead, the plugin must be distributed through one of these options:
- eslint-plugin-example (problematic, because maybe this name is taken)
- @my-scope/eslint

[2021-10-18 19:37] GuylianGilsing opened #15184 "error Duplicate name '' no-dupe-class-members - on unique private class method"
### Environment

`package.json`

[code]

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

The code above throws the error: `no-dupe-class-members` on any second private class method that I add

### What did you expect to happen?

I expect it to let me add any number of private class members that I want.

### What ac

[2021-10-18 20:26] GuylianGilsing commented on #15184
Thank you for the quick response. I'm not able to update to a newer eslint version since other dependencies do not allow it. I have found a workaround so it's not really a problem anymore.

[2021-10-18 20:56] #15184 closed

[2021-10-19 00:31] nzakas commented on #15098
@LilCthulu thats okay, we just need regular updates because there are others interested in implementing this. If you can’t get to this soon, please let us know so we can let someone else work on it.

@Gautam-Arora24 right now @LilCthulu is working on this and @The-x-Theorist is next line.

[2021-10-19 00:35] nzakas commented on #14851
So let’s circle back, do we want to make a change here or stick with the current behavior?

[2021-10-19 00:36] nzakas commented on #14686
We won’t be moving forward with a change here and will instead focus on getting the new config system up and running.

[2021-10-19 00:36] #14686 closed

[2021-10-19 00:39] #14220 closed

[2021-10-19 00:43] nzakas commented on #14671
We will handle this as part of the separation.

[2021-10-19 00:57] smolster commented on #15183
Thanks for closing @nzakas -- forgot about closing this.

[2021-10-19 00:58] nzakas commented on #15182
You’ll need to upgrade typescript-eslint. See https://github.com/eslint/eslint/issues/15149

If that doesn’t solve it, please follow up with the typescript-eslint project for help.

[2021-10-19 00:58] #15182 closed

[2021-10-19 15:40] Stargator opened #15188 "Bug: id-blacklist detects an identifier using `number` but id-denylist does not"
### Environment

Node version: v10.24.1
npm version: npm v7
Local ESLint version: 7.32
Global ESLint version: N/A
Operating System: MacOS

The project is written in Angular v11.

When I have the below defined rules for `files: *.ts`, the id-denylist does not detect an identifier using `number`, but if I turn id-blacklist on (set the value from `off` to `error` the id-blacklist will detect the misn

[2021-10-19 20:21] djmisterjon opened #15189 "Classes strict organization with pattern members"
### ESLint version

v8

### What problem do you want to solve?

i would like found a way to organize members declarations inside class with a strict pattern.

Consider a class disordered this way
[code]
Do we have a rule to force ordering pattern like this ?

[code]

[code]

or a near solutions ?

### What do you think is the correct solution?

I am not sure at the moment because given that the or

[2021-10-19 23:36] Stargator commented on #15188
@mdjermanovic Sure, I think I tried something like that before. But yeah...give me a moment...

Well...that worked. I was sure I had an error doing it that way. Oh well. Thank you @mdjermanovic!

[2021-10-19 23:36] #15188 closed

[2021-10-20 00:30] nzakas commented on #15189
Thanks for the suggestion. There isn’t already a solution, but we aren’t adding any more core rules that just enforce stylistic preferences. You’d need to create a custom rule for this purpose.

[2021-10-20 00:30] #15189 closed

[2021-10-20 00:40] nzakas commented on #15137
No response so closing.

[2021-10-20 00:40] #15137 closed

[2021-10-20 05:51] Kvrl opened #15191 "Bug: (Camlecase rule: problems with detecting missing camelcase)"
### Environment

Node version: 14.15.1
npm version: 6.14.9
Local ESLint version: 7.32.0
Global ESLint version: Not Found
Operating System:  win32 10.0.19042

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

That all five camelcase violations are shown when we run es

[2021-10-20 07:55] Robloche opened #15192 "[eslint-plugin-flowtype] 'no-unused-expressions' rule not defined"
### Environment

Node version: v14.18.0
npm version: v8.0.0
Local ESLint version: v8.0.1 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19043

### What parser are you using?

@babel/eslint-parser

### What did you do?

I have a React app with the following script in `package.json`:
`"lint": "lint:es": "eslint . --ext .js,.jsx --cache",`

### What did you expect to h

[2021-10-20 09:30] tipleavalentin opened #15194 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/cli-engine/formatters/stylish' is not defined by "exports"Bug: (fill in)"
### Environment

Node version: 14.18.1
npm version:  6.14.15
Local ESLint version: 8.0.1
Global ESLint version: -
Operating System: Windows 10 x64 19043.1288

### What parser are you using?

@babel/eslint-parser

### What did you do?

I'm trying to compile the react app.
On previous version 7.32.0 it worked fine, after 8.0.0 and 8.0.1 it started crashing with this issue.

I'm also using eslint-web

[2021-10-20 09:32] btmills commented on #14284
I'd be okay reversing #10334 for `eslint-disable-next-line` comments to allow multiple lines because it's intuitive to me that the comment would then apply to the next line after the comment ends.

[2021-10-20 10:24] #15194 closed, assigned to nobody

[2021-10-20 15:46] codingChewie opened #15195 "Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './lib/rules/no-unused-expressions' is not defined by "exports""
### Environment

Node version: v14.17.1
npm version: 6.14.13
Local ESLint version: 8.0.1
Global ESLint version: NA
Operating System: Mojave 10.14.6

### What parser are you using?

Other

### What did you do?

Installed [`eslint-config-react-native-community`](https://github.com/facebook/react-native/tree/main/packages/eslint-config-react-native-community) with the command:

[code]

added to _.esl

[2021-10-20 19:51] LilCthulu commented on #15098
@nzakas Sorry for the delay it is fine if someone else grabs this

[2021-10-21 00:43] nzakas commented on #15195
You’ll have to ask the maintainer if that config to update it for ESLint 8. See https://eslint.org/docs/8.0.0/user-guide/migrating-to-8.0.0

[2021-10-21 00:43] #15195 closed

[2021-10-21 00:44] nzakas commented on #15191
Please provide the actual ESLint output you are seeing.

[2021-10-21 00:48] nzakas commented on #15098
@Gautam-Arora24 @The-x-Theorist has already submitted a pull request.

[2021-10-21 00:51] nzakas commented on #15098
Here it is: https://github.com/eslint/eslint/pull/15140

[2021-10-21 08:10] djaffer opened #15196 "Eslint upgrade to 8.0.1 incompatible with react-scripts 4.0.3"
### Environment

Node version: 14.18.1
npm version: 8.1.0
Local ESLint version: 8.0.1
Global ESLint version: 8.0.1
Operating System: linux

### What parser are you using?

Other

### What did you do?

Upgraded the package for eslint to 8.0.1

### What did you expect to happen?

The 8.0.1 is not compatible with react-script version "4.0.3"

### What actually happened?

![image](https://user-images.

[2021-10-21 09:26] #15196 closed, assigned to nobody

[2021-10-21 09:40] mdjermanovic commented on #15191
I think the intent was to allow function calls like `test_var()`, but the implementation mistakenly allows arguments like `foo(test_var)` as well, so this is most likely a bug.

That said, I'm not sure if we should change this behavior now. It doesn't seem important to report these references, because the declaration is already reported so the rule enforces the use of camelcase style for this vari

[2021-10-21 11:24] customcommander opened #15197 "Do not enforce description for private symbols"
### What rule do you want to change?

symbol-description

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

The  rule enforces symbol description so I must do this:

[code]

### What will the rule do after it's changed?

As th

[2021-10-21 12:33] #15090 closed

[2021-10-21 14:32] kevinbarabash opened #15199 "Rule Change: (fill in)"
### What rule do you want to change?

no-undef

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It complains about `globalThis` not being defined.

### What will the rule do after it's changed?

`globalThis` will be allowed

[2021-10-22 00:34] nzakas commented on #14939
@Gautam-Arora24 go for it!

[2021-10-22 00:41] nzakas commented on #15191
Yeah, it doesn’t make sense to report read references, as that’s just noise. In VS Code you can press F2 and rename all references, and I’m sure other IDEs have similar functionality.

Closing as this is the intended behavior.

[2021-10-22 00:41] #15191 closed

[2021-10-22 00:53] #15197 closed, assigned to nobody

[2021-10-22 00:55] nzakas commented on #15089
@eslint/eslint-tsc do we want to make a change here?

[2021-10-22 03:15] Gautam-Arora24 commented on #14939
Thanks!

[2021-10-22 07:45] pboese opened #15202 "Bug: (fill in)"
### Environment

Node version: v16.12.0
npm version: 8.1.0
Local ESLint version: -
Global ESLint version: -
Operating System: MacOS 11.6 on M1 / Silicon

### What parser are you using?

Default (Espree)

### What did you do?

`npm install -g eslint`

### What did you expect to happen?

Successfull installation

### What actually happened?

[code]

### Participation

- [ ] I am willing to submit a

[2021-10-22 07:47] #15202 closed, assigned to nobody

[2021-10-23 01:18] nzakas commented on #14939
It looks like you don’t have an updated repo. Make sure you sync with upstream, then delete your node_modules directory and reinstall.

[2021-10-23 01:32] aroc2021 commented on #15192
Aaronharper0509@gmail.com

[2021-10-25 14:48] mdeljavan opened #15208 "Bug: ESLint does not provide an exit code when a plugin or config module is missing."
### Environment

Node version: 14.18.1
yarn version: 1.22.5
Local ESLint version: 8.1.0
Operating System: ubuntu

### What parser are you using?

@typescript-eslint/parser

### What did you do?

I have a monorepo with `lerna` and `tsdx` [repo](https://github.com/mdeljavan/eslint-bug). If I run `yarn lint` in each package, I face the error  message that a config is missing, but if I run `yarn lerna

[2021-10-25 19:22] #15208 closed, assigned to nobody

[2021-10-26 01:38] justinTM opened #15211 "Bug: TypeError: Module.createRequire is not a function"
### Environment

Node version: 10.13
npm version: 6.4.1
Local ESLint version: 8.1.0
Global ESLint version: 8.1.0
Operating System: ubuntu docker image

### What parser are you using?

Default (Espree)

### What did you do?

![image](https://user-images.githubusercontent.com/9123665/138793835-a39b7fba-9b54-43f5-95f5-3ce7c059a394.png)

[code]

### What did you expect to happen?

Get the linting resu

[2021-10-26 04:02] #15211 closed, assigned to nobody

[2021-10-26 07:44] scambier opened #15213 "Bug: func-call-spacing is triggered for anonymous function declarations (Vue3 defineEmits)"
### Environment

Node version: 14.15.4
npm version: 6.14.10
Local ESLint version: 7.32.0
Global ESLint version: 7.32.0
Operating System: Win 10

### What parser are you using?

@typescript-eslint/parser

### What did you do?

In a Vue <script>, the following line:
[code]
is, due to line length constraints, re-formatted into
[code]

The rule "func-call-spacing" is then triggered:
![image](https://u

[2021-10-26 08:42] #15213 closed, assigned to nobody

[2021-10-26 09:39] #15167 closed, assigned to mdjermanovic

[2021-10-26 09:39] eslint-github-bot[bot] opened #15214 "Scheduled release for November 5th, 2021"
The next scheduled release will occur on Friday, November 5th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [ ] ~Update the release blog post with a

[2021-10-26 11:53] fenuks opened #15217 "Change Request: (Adhere to XDG base dir specification)"
### ESLint version

v8.1.0

### What problem do you want to solve?

ESLint currently expects global configuration file be placed in ~/.eslintrc. The problem is described in https://github.com/eslint/eslint/issues/6008, but was archived by bot. A lot has changed since 2016, and great number of apps already follow XDG spec. [Arch Wiki](https://wiki.archlinux.org/title/XDG_Base_Directory) has fairly

[2021-10-26 15:40] prashant93 opened #15218 "Change Request: update `strip-ansi` dependency"
### ESLint version

8.1.0

### What problem do you want to solve?

There's a Regular Expression Denial of Service vulnerability in the ansi-regex package in versions < 6.0.1: https://app.snyk.io/vuln/SNYK-JS-ANSIREGEX-1583908

Would it be possible to update **strip-ansi**?

The dependencies from this package that use out of date versions that I see are:
-- eslint@8.1.0
| `-- strip-ansi@6.0.1
|   `

[2021-10-26 16:40] voxpelli opened #15219 "Rule Change: Have `no-unreachable-loop` ignore async iterators"
### What rule do you want to change?

no-unreachable-loop

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

It complains that the loop can never reach the second iteration

### What will the rule do after it's changed?

It ac

[2021-10-27 00:36] #15217 closed, assigned to nobody

[2021-10-27 08:28] #15218 closed, assigned to nobody

[2021-10-27 09:37] #15192 closed, assigned to nobody

[2021-10-27 16:41] captbaritone opened #15222 "New Rule: no-compare-to-new"
### Rule details

Warns when attempting to compare objects/arrays by value

### Related ECMAScript feature

😶

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

I implemented this rule and it *uncovered 131 errors* in our large code base. To me this indicates that it’s a rule that could provide v

[2021-10-28 00:43] #15222 closed, assigned to nobody

[2021-10-28 05:13] lonix1 opened #15225 "Change Request: add `eslint-disable-this-line`"
### ESLint version

8.1.0

### What problem do you want to solve?

We can disable a rule like so:

[code]

That is a build-related comment that adds noise.

### What do you think is the correct solution?

Please consider adding a `eslint-disable-this-line` declaration.

Then we could do this:
[code]

Such code would be cleaner and easier to read/maintain.

### Participation

- [ ] I am willing to

[2021-10-28 11:49] #15225 closed, assigned to nobody

[2021-10-29 07:33] guoyunhe opened #15231 "New Rule: max-functions-per-file"
### Rule details

Just like max-classes-per-file, but for functions

### Related ECMAScript feature

No

### What type of rule is this?

Enforces a formatting/stylistic preference

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

It can help to split functions to individual files. Better for code review and unit test.

### Participation

- [X] I am willing to

[2021-10-29 08:32] #15231 closed, assigned to nobody

[2021-10-29 18:02] jhimes144 commented on #14542
This is what I view harmful - because it encourages cargo cult thinking. It just says do this and if you don't you lack understanding. While in the fine print it says (except if you value stack traces over the performance impact) while not mentioning the performance impact, or even a ballpark.

That is a good point - however I think its worth mentioning a ballpark impact. I think it would be helpf

[2021-10-29 19:13] czlowiek488 commented on #14542
But do we care about performance all the time? I do care about it only when I can not scale easly or my client is complaining about expenses. I believe that at the beginning of development it is better to have clean stack traces then faster execution time.

[2021-10-29 20:48] mdjermanovic commented on #14542
I really think we shouldn't mention any numbers or term "newer engines" because we'll not run benchmarks and update the documentation every month or so. On the other hand, we could add a better explanation on _why_ `return await` has a performance impact. In particular, what happens on `return something` from an `async` function vs what happens on `return await something`, and why that `await` mig

[2021-10-29 21:03] mdjermanovic commented on #14542
As for the original request:

That tradeoff is already stated in the opening section of the [no-return-await documentation](https://eslint.org/docs/rules/no-return-await):

So I'm not sure if there is anything else that should be done here, and I think we can close this issue.

[2021-10-29 21:06] CherryDT commented on #14542
I can't stress enough that it's not just about stack traces but _especially_ about readability and maintainability... See my exchange with ljharb above and my comments at https://github.com/standard/standard/issues/1442

[2021-10-29 23:22] mwittmann opened #15232 "Bug: no-dupe-class-members reporting "Duplicate name ''" (duplicate name is blank!)"
### Environment

Node version: v17.0.1
npm version: v8.1.0
Local ESLint version: v6.8.0 (Currently used)
Global ESLint version: Not found
Operating System: Windows 10 Professional

### What parser are you using?

@babel/eslint-parser

### What did you do?

I am getting unexpected `error  Duplicate name ''  no-dupe-class-members`. Yes, the `name` is blank... nothing between the two apostrophes `''`

[2021-10-29 23:28] ljharb commented on #15232
I think class fields aren't supported until eslint 8.

[2021-10-30 00:37] nzakas commented on #15232
That is correct. Because you are using Babel-eslint, you are able to parse class fields but the ESLint rules in v6.8.0 do not support class fields and so won’t work correctly. You’ll need to upgrade to ESLint 8 to fix this.

[2021-10-30 00:37] #15232 closed

[2021-10-30 02:52] snitin315 commented on #12156
I will work on it.

[2021-10-30 05:05] ljharb opened #15234 "Bug: parse error on valid code in eslint 8"
### Environment

Node version: 17.0.1
npm version: 8.1.0
Local ESLint version: 8.1.0
Global ESLint version: n/a
Operating System: Mac

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>
Using RuleTester, so virtually none:

[code]
</details>

[code]

### What did you expect to happen?

A successful parse.

### What actually happened?

[2021-10-30 05:53] mwittmann commented on #15232
Got it. Thanks so much!

[2021-10-30 09:05] mdjermanovic commented on #15234
It's a typo, missing "s": `contructor` -> `constructor`

[2021-10-30 09:13] mdjermanovic commented on #15234
Closing, as this works as intended. Parser correctly reports an error on use of `super()` call in a method.

When the typo is fixed and the method becomes the constructor, there are no parsing errors, as in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiICAgICAgICBjbGFzcyBGb28gZXh0ZW5kcyBSZWFjdC5Db21wb25lbnQge1xuICAgICAgICAgIGNvbnN0cnVjdG9yKHByb3BzKSB7XG4gICAgICAgICAgICBzdXBlcihwcm9wcyk7XG4gICAgI

[2021-10-30 09:13] #15234 closed

[2021-10-30 10:49] mdjermanovic commented on #15083
That's intentional because this rule doesn't know user's preferences about spacing in `${}`. This spacing can be automatically fixed in subsequent iterations by [template-curly-spacing](https://eslint.org/docs/rules/template-curly-spacing) and/or [no-multi-spaces](https://eslint.org/docs/rules/no-multi-spaces) rules.

That's intentional, it is assumed that the line breaks were there for readabilit

[2021-10-30 10:58] mdjermanovic commented on #15083
For this code:

I think the output should be:

[2021-10-30 12:09] pubmikeb commented on #15083
In my case, both rules are enabled:

[code]

But I still get the declared result. The `--fix` option is enabled in the IDEA settings.

[2021-10-30 15:49] ljharb commented on #15234
Wow, ok thanks - in that case it’s a bug in a few other parsers that accept the typo’d version :-)

[2021-10-30 18:40] mdjermanovic commented on #15083
It works with ESLint's multipass autofix (`--fix`), please check the Fixed Code tab in [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IHByZWZlci10ZW1wbGF0ZTogZXJyb3IgKi9cbi8qIGVzbGludCBcIm5vLW11bHRpLXNwYWNlc1wiOiBcImVycm9yXCIgKi9cbi8qIGVzbGludCBcInRlbXBsYXRlLWN1cmx5LXNwYWNpbmdcIjogXCJlcnJvclwiICovXG5cbnJlcy5zZXRIZWFkZXIoXCJjb250ZW50LXNlY3VyaXR5LXBvbGljeVwiLFxuXHRcdFwiZGVmYXVsdC1zcmMgJ

[2021-10-31 12:01] pubmikeb commented on #15083
@mdjermanovic, should I rearrange the issue: extract all non-intentional behaviour (probably bugs) to the separate tickets and close this issue, which contains multiple issues?

P.S. I'll file an issue at IDEA bug tracker regarding the ESLint's built-in multipass autofix support.

[2021-10-31 16:24] lekterable opened #15236 "Rule Change: Add `importNames` to `patterns` in no-restricted-imports rule"
### What rule do you want to change?

no-restricted-imports

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

It's a change in the rule's options in eslint config. What I'm proposing is to add an `importNames` property for `patterns` same as w

[2021-10-31 23:59] pubmikeb commented on #15083
@mdjermanovic, what does «multipass» mean in this context? Does it mean, that ESLint runs `--fix` recursively several times until no change is possible more?

[According](https://youtrack.jetbrains.com/issue/WEB-53345#focus=Comments-27-5364079.0-0) to the IDEA's team, `eslint --config eslintrc.json --fix reproduction.js` leads to the identical results as `eslint --fix` on Save in the IDE.

[2021-11-01 07:13] lyz810 opened #15237 "Bug: react/prop-types rule failed when using @babel/eslint-parser@7.16.0"
### Environment

Environment Info:

Node version: v16.12.0
npm version: v8.1.0
Local ESLint version: v8.1.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.6.0

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

no eslint error

### What

[2021-11-01 07:29] pubmikeb commented on #15083
I believe, I figured out the nature of the issue.

In case of fixing the issue via CLI, a proper result is received right after execution this *sole* command, while fixing an issue via IDEA UI requires more steps to be done manually: IDE returns an option with an extra space, which needed to be fixed separately.

Originally, the file was quite big and that's why there was a significant delay betwe

[2021-11-01 07:40] aladdin-add commented on #15237
related: https://github.com/yannickcr/eslint-plugin-react/issues/3055

`eslint-plugin-react` does not support eslint v8 yet. please keep using eslint v7 util it fully supports.

[2021-11-01 08:07] DarrenCook commented on #12438
Can I suggest it follows the same syntax as https://eslint.org/docs/rules/no-irregular-whitespace#skipcomments

I already have this config:

[code]

In fact I was quite surprised when that didn't already cover tabs in comments.

I did try:

[code]

and it has worked! But I guess all I've really done is turn off no-tabs for the whole codebase. Which I definitely don't want to do.

[2021-11-01 14:53] mdjermanovic commented on #14695
I think this behavior makes sense given how the rule treats assignments to properties, because the logic isn't based on property names. The rule only checks if the object was used before `await`, and then modified after the `await`.

[code]

If any access to the object before `await` is considered as using the old state of the object, then it's consistent to consider any access to the object after

[2021-11-01 19:07] mdjermanovic commented on #14542
As this issue has been open for more than 6 months, and PR has not been submitted yet, I'm closing this issue.

If there's anything that should be added to the documentation for this rule, please feel free to open a new issue.

[2021-11-01 19:07] #14542 closed

[2021-11-01 19:26] bmish commented on #12931
Should be fixed by https://github.com/eslint/eslint/issues/14231.

[2021-11-01 21:10] nullromo commented on #14695
If that's the proper behavior, that's fine. This issue points out that the way one might expect the rule to work is different from the actual implementation of the rule.

[2021-11-02 00:17] nzakas commented on #14574
I’ll take this as something to investigate as I’m working on the new config system

[2021-11-02 00:21] nzakas commented on #14679
I still kind of like the defaultSeverity approach of TSLint. What do others think?

[2021-11-02 00:34] nzakas commented on #15237
Closing as this is not an issue with ESLint.

[2021-11-02 00:34] #15237 closed

[2021-11-02 00:35] nzakas commented on #15236
Thanks for the suggestion. You didn’t actually explain the proposal (code examples aren’t enough), how it would work, or how this would benefit users. Please take some time to document those on this issue and then we can take a look.

[2021-11-02 06:30] joyeecheung opened #15240 "New Rule: disallow bidirectional control characters and homoglyphs to mitigate trojan source attacks"
### Rule details

disallow bidirectional control characters and homoglyphs in source code to mitigate CVE-2021-42574 and CVE-2021-42694

### Related ECMAScript feature

Not a new feature, but to specifically disable certain characters supported by https://tc39.es/ecma262/#sec-unicode-format-control-characters

### What type of rule is this?

Warns about a potential problem

### Example code

[code

[2021-11-02 06:49] tony21921 opened #15241 "Bug: eslint --fix break code in special case for eqeqeq"
### Environment

Node version: v16.11.0
npm version: v8.0.0
Local ESLint version: v7.32.0
Global ESLint version: Not found
Operating System: darwin 20.6.0

### What parser are you using?

Default (Espree)

### What did you do?

<details>
<summary>Configuration</summary>

Default configuration. Run ng lint fix.

[code]
</details>

## app.component.html
[code]
## app.component.ts
[code]

### What di

[2021-11-02 15:16] fengzilong opened #15242 "Change Request: Support async formatter"
### ESLint version

8.1.0

### What problem do you want to solve?

Support async formatter

![image](https://user-images.githubusercontent.com/9125255/139874231-870511c8-68cd-42ef-9706-0e13bb3dbebd.png)

[fengzilong/eslint-formatter-mo](https://github.com/fengzilong/eslint-formatter-mo)

I had wrote an eslint formatter with code highlight feature

But it seems the highlighter didn't highlight all

[2021-11-02 15:55] gabegorelick commented on #15240
Some previous discussion on this: https://github.com/eslint/eslint/issues/10747

[2021-11-02 16:23] openjck opened #15244 "Rule Change: Add option to no-param-reassign to allow reassignment to params with certain names"
### What rule do you want to change?

no-param-reassign

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

If `no-param-reassign` is set to `error`, the following error is raised.

[code]

### What will the rule do after it's changed?

[2021-11-02 17:13] mdjermanovic commented on #15244
Hi @openjck, thanks for the issue!

This looks like a possible error. The function reassigns a local `state` variable, so at the end it does nothing.

I'm not sure why this would be encouraged, can you point to the documentation where it recommends param reassignment?

That looks like a bug, too, as `state = someNewStateValue` has no effect.

[2021-11-02 17:28] mdjermanovic commented on #15241
Hi @tony21921, thanks for the issue!

Core `eqeqeq` rule by design doesn't provide auto-fix for `obj2.attr != 'value'`.

In [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IGVxZXFlcTogZXJyb3IgKi9cblxub2JqMi5hdHRyICE9ICd2YWx1ZSciLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3QiLCJzb3VyY2VUeXBlIjoic2NyaXB0IiwiZWNtYUZlYXR1cmVzIjp7fX0sInJ1bGVzIjp7fSwiZW52Ijp7fX19), the r

[2021-11-02 18:04] openjck commented on #15244
Thanks for the quick response!

The example function doesn't do anything, but could be rewritten to return `state`, for example.

You're right, that is a bug. Immer allows authors to write code as if they are mutating an object without actually mutating it ([see this documentation](https://immerjs.github.io/immer/#with-immer)), but I only now realized that this behavior [does not extend to reassig

[2021-11-02 18:37] Leonardo1807 opened #15245 "Can't chose the option node (instead of browser) in eslint --init"
### Environment

Node version: v14.18.1
npm version: v8.1.2
Local ESLint version: v8.1.0 (Currently used)
Global ESLint version: Not found
Operating System: linux 5.14.14-artix1-1

### What parser are you using?

Default (Espree)

### What did you do?

I just executed `npx eslint --init` with the following options:
[code]
But no matter what I do, there is always this option in the `.eslintrc.json`

[2021-11-02 21:19] mdjermanovic commented on #15244
I agree with closing, as it looks like this option would actually be dangerous because it would hide possible errors.

[2021-11-02 21:19] #15244 closed

[2021-11-03 00:27] nzakas commented on #15240
We typically don’t add new rules for anything other than new language features, but considering this is a new vulnerability disclosed on 2021-11-01, I think this deserves consideration.

[2021-11-03 00:31] snitin315 commented on #15245
@Leonardo1807 `browser` is selected by default. If you want to select only `node`, you must unselect the `browser` option by pressing space. And then navigate down to select `node` option by pressing `space` again.

[2021-11-03 00:34] nzakas commented on #15242
Seems like an easy enough change now that most CLI methods are async. I’m in favor. Let’s see what the team thinks.

[2021-11-03 00:39] snitin315 commented on #15245
Here is a demo:

https://user-images.githubusercontent.com/46647141/139970173-e4d635ed-d8ce-4c90-a1a9-c2e3579daa20.mov

[2021-11-03 02:24] brendonco opened #15247 "Bug: Error [ERR_REQUIRE_ESM]: Must use import to load ES Module: @eslint\eslintrc\universal.js"
### Environment

Node version: 12.16.0
npm version: 6.13.4
Local ESLint version: 8.1.0
Global ESLint version: 8.1.0
Operating System: win 10

### What parser are you using?

Other

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

[code]

### What did you expect to happen?

to lint successful.  Downgrade eslint to 7.27.0 works.

### What actually happened

[2021-11-03 06:19] aladdin-add commented on #15247
to use eslint v8, please try to upgrade node.js, as it requires "^12.22.0 || ^14.17.0 || >=16.0.0".

[2021-11-03 06:19] #15247 closed

[2021-11-03 14:58] lekterable commented on #15236
Hi @nzakas , I thought the example I provided would be enough, can you tell me which part is not clear?

My idea is to add the `importNames` property to `patterns` just as we have in `paths` and it would work same way, which is it would allow you to restrict only some parts of the module instead of the whole import.

Let's say we want to restrict an import of `useTheme` because we have our own cus

[2021-11-03 16:11] blindspeed90 opened #15248 "Bug: Unable to use eslint-formatter-codeframe installed globally"
### Environment

Node version: v16.13.0
npm version: v6.14.10
Local ESLint version: Not found
Global ESLint version: v8.1.0 (Currently used)
Operating System: win32 10.0.19042

### What parser are you using?

Default (Espree)

### What did you do?

Tried running from the cmdline with:

--formatter codeframe
--formatter eslint-formatter-codeframe

I tried to glean what I could from the cli-engine.j

[2021-11-03 17:05] Leonardo1807 commented on #15245
Sorry, I forgot to press space to remove browser. Now everything works fine 👍🏼

[2021-11-03 17:06] #15245 closed

[2021-11-03 17:46] mhofman commented on #15240
I'm not sure the homoglyph or zero-width-joiner vector deserves a new rule. The `no-shadow` rule already exists and has the same spirit. It could be extended to match identifiers normalizing for these unicode characters. Potentially the `no-redeclare` rule if we want to keep `no-shadow`'s role to nested scopes.

[2021-11-03 17:49] ljharb commented on #15240
It's not just about identifiers tho, is it? These characters can be present anywhere, and `no-shadow` only deals in variables.

[2021-11-03 17:50] mhofman commented on #15240
My understanding of the paper is that the homoglyphs vector is only a risk for identifiers. The BiDi characters is another story, and I believe those would require parsing comments, which is out of scope IMO.

[2021-11-03 17:51] ljharb commented on #15240
It seems a lot less clear to me to bundle a security rule underneath a clarity rule.

[2021-11-03 17:54] mhofman commented on #15240
Fair, but the homoglyph vector is only an attack because it's not clear which identifier is referenced.

[2021-11-03 18:03] joyeecheung commented on #15240
The examples only demonstrate how these characters can be used for malicious intent. What the linter can do can be much simpler than trying to identify these attacks - just warns about the existence of these characters (which is what the GitHub UI and the rust linter currently do). With the checks applied to a project, the user can still choose to disable it occasionally when the characters are ac

[2021-11-03 18:19] mhofman commented on #15240
Just to be clear, there are 2 vectors in the Trojan Source. One is BiDi characters, which GitHub warns about. The other is homoglyph between different character sets. There is no reason to disallow broadly non-latin character sets, only when used maliciously to confuse which identifier is referenced.

[2021-11-03 18:35] joyeecheung commented on #15240
Yes, the BiDi control characters is a very specific small set. Homoglyphs can be somewhat tricky to determine, though perhaps the Unicode confusables database can be a good reference.

Regarding homoglyphs: I think it’s not just identifiers that can be affected. For example in the accessLevel example in the OP, replacing the “user” string content with some homoglyphs would be equally problematic.

[2021-11-03 19:08] mdjermanovic commented on #15240
I think we cannot know which characters should be allowed in different contexts (identifiers, string literals, comments...) for every codebase, so something like https://github.com/eslint/eslint/issues/10747 might be the best approach.

[2021-11-03 20:31] mdjermanovic commented on #15248
Hi @blindspeed90, thanks for the issue!

ESLint doesn't support loading globally installed modules from locally installed ESLint. There are probably some workarounds you could use (e.g., passing an absolute path, or configuring `NODE_PATH` environment variable), but we would recommend installing the formatter locally.

[2021-11-03 21:16] mdjermanovic commented on #15242
No objections from me, but should we treat this as a semver-minor or semver-major change? It can be argued that this changes the interface of [`eslint.loadFormatter`](https://eslint.org/docs/developer-guide/nodejs-api#-eslintloadformatternameorpath) because it changes its return type ([Formatter](https://eslint.org/docs/developer-guide/nodejs-api#-formatter-type)).

[2021-11-03 21:33] mhofman commented on #15240
That rule or any similar that wholesale restrict certain character sets are overly broad and would in effect prevent identifiers which contain characters from certain sets like Cyrillic. Sure a project should be able to decide to enforce such a restriction, but that falls more in the land of style preference.

It wouldn't be a good candidate for shared configurations that should apply broadly to m

[2021-11-04 00:04] mdjermanovic commented on #15240
We can't update these rules to normalize identifiers, as that would mean updating our scope analysis to work incorrectly.
I believe if ESLint were to treat those identifiers as if they were really same identifiers, that would only add to the confusion and could actually be counterproductive for this issue.

A similar rule that would explicitly say what exactly seems wrong in the code makes sense.

[2021-11-04 00:19] mdjermanovic commented on #15240
@joyeecheung can you elaborate more on the proposal about homoglyphs? Is the proposal to entirely disallow certain characters, and which characters would that be?

[2021-11-04 00:48] nzakas commented on #15242
I think semver-minor, as it doesn’t affect the ability to use existing formatters and doesn’t require any users to do anything differently.

[2021-11-04 00:58] nzakas commented on #15236
Yes, much clearer, thank you.

This seems like a reasonable addition to me, and may have been an oversight based on how paths already supports it.

Let’s see what the team thinks.

[2021-11-04 01:47] blindspeed90 commented on #15248
This was a globally installed ESLint, not local.  See the Environment entry above.

[2021-11-04 02:05] mdjermanovic commented on #15248
You're right, sorry. I'll take a look tomorrow.

[2021-11-04 02:59] btmills commented on #14800
RFC31 has been updated. Give it a look and please share any feedback!

[2021-11-04 03:41] djmisterjon opened #15254 "Rule Change: no-mixed-spaces-and-tabs"
### What rule do you want to change?

no-mixed-spaces-and-tabs

### What change to do you want to make?

Implement autofix

### How do you think the change should be implemented?

Options for prefer: "spaces" or prefer: "tabs"

### Example code

[code]

### What does the rule currently do for this code?

It not auto fix, need to do it manually replace by tabs when they have mix space !

### What w

[2021-11-04 04:57] joyeecheung commented on #15240
@mdjermanovic I didn't have a specific plan about how homoglyphs should be detected when I opened this - it was mostly about starting a discussion. But my two cent is to use something like http://www.unicode.org/Public/security/8.0.0/confusables.txt to disallow confusable characters of, for example, characters that are more commonly used in code (e.g. ASCII ones). Some clever tricks could be tried

[2021-11-04 06:24] ota-meshi opened #15256 "Change Request: If `ecmaVersion: latest` pass `ecmaVersion: 6` to eslint-scope"
### ESLint version

v8.1.0

### What problem do you want to solve?

I want to resolve a problem where a user uses a parser other than `espree` and uses `ecmaVersion: latest` to reject syntax such as import statements as an error.

Currently vue-eslint-parser can accept and parse `ecmaVersion: latest`, but users can't actually use with ESLint because of an error in eslint-scope.

Related to: https:

[2021-11-04 09:21] ShuiX opened #15260 "Bug: 'return' can't be read by lint? require-atomic-updates"
### Environment

Node version: v16.2.0
npm version: v7.13.0
Local ESLint version: 8.1.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 19.6.0 | macOS Catalina 10.15.7

### What parser are you using?

vue-eslint-parser

### What did you do?

<details>

<summary>Configuration</summary>

[code]

</details>

### The code

[code]

By adding the ```!showLanguageSelection.valu

[2021-11-04 11:15] mdjermanovic commented on #15248
I can reproduce this. ESLint `require`-s formatters relative to `cwd`, so it won't find a globally installed module.

https://github.com/eslint/eslint/blob/796587ad950f6804d60473c2b5998ed3ec71c59e/lib/cli-engine/cli-engine.js#L1022

However, this works as intended because this use case isn't supported. ESLint doesn't support globally installed configs/plugins/parsers/formatters even when ESLint is

[2021-11-04 11:31] saaaab1213 opened #15261 "Bug: no-restricted-imports shows an error only on last element when using an array of different importNames and same name"
### Environment

Environment Info:

Node version: v15.10.0
npm version: v7.5.3
Local ESLint version: v7.27.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.6.0

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

Eslint only shows an error on Image as it is de last ele

[2021-11-04 13:41] mdjermanovic commented on #15236
This looks like a duplicate of https://github.com/eslint/eslint/issues/14274, as the proposed schema is same as in https://github.com/eslint/eslint/issues/14274#issuecomment-811453521.

Note that this wouldn't be equivalent. `name: 'emotion-theming'` restricts only `import ... from 'emotion-theming'`, but  `'emotion-theming'` in patterns is a [gitignore](https://git-scm.com/docs/gitignore) pattern

[2021-11-04 15:07] lekterable commented on #15236
yup, seems like they are the same, thanks for explanation and for pointing me there!
closing

[2021-11-04 15:10] gajus opened #15262 "Bug: no way to override extends"
### Environment

Node version: v16.11.1
npm version: v8.0.0
Local ESLint version: v7.32.0 (Currently used)
Global ESLint version: Not found
Operating System: darwin 20.6.0

### What parser are you using?

Default (Espree)

### What did you do?

Same issue as described https://stackoverflow.com/questions/57107800/eslint-disable-extends-in-override

I wish to override "extends" but instead values ar

[2021-11-04 16:08] blindspeed90 commented on #15248
... and I passed "--format eslint-formatter-codeframe" on the command-line.

[2021-11-04 16:19] mdjermanovic commented on #15260
Hi @ShuiX, thanks for the issue!

The rule works as intended in this case. `showLanguageSelection.value` is read before `await` and then assigned after `await`, so the rule detects that the code after `await` works on the assumption that `showLanguageSelection.value`  hasn't changed, which generally doesn't have to be the case, as in this simplified example:

[code]

That is exactly the expected f

[2021-11-04 16:19] #15260 closed

[2021-11-04 17:13] mdjermanovic commented on #15242
It certainly doesn't affect anything that can be done now, but integrations that use `eslint.loadFormatter()` might be seen as incompatible after this change. For example, `eslint-webpack-plugin` allows users to define `formatter` field in the configuration and loads them with `eslint.loadFormatter()`. We release this in ESLint v8.2.0, and there's a published async formatter. `eslint-webpack-plugi

[2021-11-04 17:15] ljharb commented on #15248
Encouraging global usage wouldn’t be a net benefit; eslint should only be used locally.

[2021-11-04 18:11] blindspeed90 commented on #15248
Why?  I'm just installing it globally so I can use it in all of my projects; why have to download for each?

[2021-11-04 18:48] ljharb commented on #15248
Because each project needs to keep track of which version of eslint and eslint things it’s using, and other developers need to be able to use those too.

If you have a thousand projects on your machine, you should have a thousand copies of eslint installed as well.

[2021-11-04 20:00] nzakas commented on #15262
This is working as designed, you cannot remove `extends` that are applied at the root. To get the behavior you want, you'll need to remove `extends` from the root and instead just use `overrides`, like:

[code]

[2021-11-04 20:00] #15262 closed

[2021-11-04 20:05] nzakas commented on #15254
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-11-04 20:05] #15254 closed

[2021-11-04 20:37] nzakas commented on #15055
Closing per last comment.

[2021-11-04 20:37] #15055 closed

[2021-11-05 00:28] mhofman commented on #15240
I'd like to propose a multi-pronged approach to mitigate these attacks using eslint rules:
- A rule to disallow bidirectional characters anywhere in a file (comment or code). Similar to `no-tabs` but for these Unicode control characters. Addresses CVE-2021-42574
- A rule to disallow "shadowing" of identifiers containing homoglyphs. This would compute the [skeleton](http://www.unicode.org/reports/t

[2021-11-05 00:52] nzakas commented on #15242
That still doesn’t seem like a semver-major issue to me. eslint.loadFormatter() doesn’t guarantee the signature of the module it is loading. you could pass in any random file and only when you go to call the function will you know if it works (or if, for example, the module returned an object instead of a function)

[2021-11-05 15:22] wunderBarr7 opened #15264 "Change: (parserOptions: ecmaVersion reporting) Descriptive Error Messages on Invalid Syntax"
### ESLint version

8.1.0

### What problem do you want to solve?

In the event syntax is found which is not supported in the specified `ecmaVersion`, append which syntactic feature is the culprit and which version it is a feature of.

### What do you think is the correct solution?

I'd like EsLint to add more descriptive information to parsing error messages in the event the error occurs from a s

[2021-11-05 15:55] mdjermanovic commented on #15098
Location of `// eslint-disable-line` relates to the reported `line` in the [`LintMessage`](https://eslint.org/docs/developer-guide/nodejs-api#-lintmessage-type). If `loc` is present in `context.report({})`, `line` will be `loc.start.line`. Only if `loc` is not present, `line` will be `node.loc.start.line`. So, when we add `loc`, `node` will not matter for disable comments.

For example, this disab

[2021-11-05 16:12] mdjermanovic commented on #15083
It isn;t necessary, it's okay to keep this issue open for the problem we've all agreed on, and that is wrapping a starting sequence of string literals in `${}`. If you find some new problems related to this autofix, then it would be better to open a new issue.

[2021-11-05 20:49] mdjermanovic commented on #15214
This is done now, the new v3.2.0 of `eslint-release`  supports conventional commits.

[2021-11-05 21:25] mdjermanovic commented on #15214
Released `@eslint/eslintrc` v1.0.4

[2021-11-05 22:50] mdjermanovic commented on #15264
Hi @wunderBarr7, thanks for the issue!

I agree that this would be useful.

However, ESLint itself doesn't parse code and doesn't produce parsing errors. Parsing errors are coming from parsers, so this is something that could only be done in the parser. There are indeed some parsers that produce these kinds of messages (for example, [tenko](https://astexplorer.net/#/gist/bd26c2cd7917aeb397fe7982c8

[2021-11-05 22:50] #15264 closed

[2021-11-06 00:07] mdjermanovic commented on #15214
ESLint v8.2.0 has been released:

https://eslint.org/blog/2021/11/eslint-v8.2.0-released

Please merge semver-patch PRs only until we determine whether or not a patch release is necessary.

[2021-11-06 00:30] nzakas commented on #15256
In general, we should pass ecmaVersion 6 to eslint-scope whenever a non-numeric ecmaVersion is found.

[2021-11-06 00:40] nzakas commented on #15261
The problem is that you have multiple paths objects with the same name. Only the last “react-native” path is being checked because of that. The path objects are intended to have unique names.

[2021-11-06 00:41] nzakas commented on #15261
@mdjermanovic you have a better handle of what this rule is supposed to do. Is this the intended behavior? (It appears so from the code.)

[2021-11-06 00:56] ljharb commented on #15261
The use case of a custom message for each named import seems valuable; if it was meant to be unique names, I’d expect it to have been an object with paths as keys instead of an array.

[2021-11-07 04:45] fabgrel10 opened #15269 "Bug: UnhandledPromiseRejectionWarning in version 8.2.0"
### Environment

Node version: 16.3.0
npm version: 8.1.2
Local ESLint version: 8.2.0
Global ESLint version:
Operating System: KDE Neon User Edition

Using ESLint via VS Code extension (along with prettier)

[eslintrc.zip](https://github.com/eslint/eslint/files/7491718/eslintrc.zip)

### What parser are you using?

@typescript-eslint/parser

### What did you do?

ESLint server is not able to run in

[2021-11-07 04:46] ljharb commented on #15269
The stack trace implies that the error is coming from the `vite-react-eslint-prettier` package.

[2021-11-07 15:22] fabgrel10 commented on #15269
@ljharb I just used create-react-app to verify and got the same result.

[2021-11-07 16:27] ljharb commented on #15269
The same stack trace?

[2021-11-07 18:09] betandbuzz opened #15272 "Rule Change: quote-props"
### What rule do you want to change?

quote-props

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

No error.

### What will the rule do after it's changed?

Unnecessarily quoted property 'myMethod' found.

### Participation

[2021-11-07 20:24] mdjermanovic commented on #15269
It seems that vscode-eslint calls eslint with an unknown option `extensinons`, which is most likely a typo. If it was meant to be `extensions`, then there's an extra "n".

This could be a problem in vscode-eslint itself, or in your configuration for vscode-eslint.

Can you check your VS Code settings, and see if you have `"extensinons"` key under `"eslint.options"`?

[2021-11-07 20:43] mdjermanovic commented on #15272
Hi @betandbuzz, thanks for the issue!

Since this isn't a bug, this change would require a new option, but [stylistic rules are frozen](https://github.com/eslint/eslint#stylistic-rule-updates) so we won't be adding any new options to the `quote-props` rule. You can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-11-07 20:43] #15272 closed

[2021-11-07 20:58] mdbetancourt opened #15273 "Bug: Failed to load plugin > v8.0.0"
### Environment

Node version: 16.11.0
npm version: 8.0.0
Local ESLint version: 8.2.0
Global ESLint version: none
Operating System: Linux

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

TypeError: Failed to load plugin 'neverthrow' declared in '.eslintrc.js': Class extends value undefined is not a cons

[2021-11-07 21:18] mdjermanovic commented on #15261
The rule expects unique `name` in `paths`. It is intended behavior. If there are multiple restricted named exports from same module, configuration should contain a single entry for that module, with all restricted names in `importNames`.

[code]

[2021-11-07 21:23] ljharb commented on #15261
Should perhaps the rule error out eagerly then, when the config contains duplicate names?

[2021-11-07 21:31] mdjermanovic commented on #15261
I think it should, as that seems better than silently overwriting previous entries.

However, there is a technical problem - JSON Schema doesn't support defining such contraints.

[2021-11-07 21:32] ljharb commented on #15261
True - which is why an object with keys would have been a better schema, because it’s impossible to violate the constraint. It’d be fine now tho (altho potentially breaking / arguably patch) to throw a runtime error from the rule itself.

[2021-11-07 21:58] mdjermanovic commented on #15273
Hi @mdbetancourt, thanks for the issue!

Can you provide the stack trace?

I believe the cause is that the plugin is using [`"@typescript-eslint/experimental-utils": "^4.20.0"`](https://github.com/mdbetancourt/eslint-plugin-neverthrow/blob/ff0546f493cdb79525a29e8557f788b8a2435e6c/package.json#L38), which isn't compatible with ESLint 8.

[2021-11-08 02:56] mdbetancourt commented on #15273
you're right there is some reference to @typescript-eslint/experimental-utils
[code]

[2021-11-08 03:10] geek opened #15274 "Bug: calculateConfigForFile returns a promise when it doesn't need to"
### Environment

Node version: 16
npm version: 7
Local ESLint version: 8.2.0
Global ESLint version: 8.2.0
Operating System: mac

### What parser are you using?

Default (Espree)

### What did you do?

<summary>calculateConfigForFile exported by eslint is async when it doesn't need to</summary>

### What did you expect to happen?

Only functions that are async are marked as such

### What actually

[2021-11-08 04:29] fabgrel10 commented on #15269
@mdjermanovic you were right: it was a typo in the VS Code settings everything worked as expected after fixing it.

[2021-11-08 09:03] mdjermanovic commented on #15269
Closing, as the issue has been resolved.

[2021-11-08 09:03] #15269 closed

[2021-11-08 09:08] mdjermanovic commented on #15273
Closing, as the issue has been resolved.

[2021-11-08 09:08] #15273 closed

[2021-11-08 09:53] mdjermanovic commented on #15274
Hi @geek, thanks for the issue!

This method is intentionally async, per https://github.com/eslint/rfcs/pull/40. Please see [this section](https://github.com/eslint/rfcs/tree/main/designs/2019-move-to-async-api#-the-other-methods) for the reasoning (note that `getConfigForFile` was later renamed to `calculateConfigForFile`). Also, the new flat config system we're working on (https://github.com/esl

[2021-11-08 09:53] #15274 closed

[2021-11-08 10:32] mdjermanovic commented on #15261
We try to avoid that contents of the files being linted can break linting.

Invalid configuration in a `/* eslint some-rule: ["error", ...] */` directive comment normally only produces a lint error ([demo example](https://eslint.org/demo#eyJ0ZXh0IjoiLyogZXNsaW50IG5vLXJlc3RyaWN0ZWQtaW1wb3J0czogW1wiZXJyb3JcIiwgMTIzNDVdICovXG5cbmZvbzsiLCJvcHRpb25zIjp7InBhcnNlck9wdGlvbnMiOnsiZWNtYVZlcnNpb24iOiJsYXRlc3

[2021-11-08 17:30] ljharb commented on #15261
Ah, interesting, I wasn't aware of that. That's not a constraint I believe I've followed in the eslint plugins i maintain - it seems like that's not a useful constraint if eslint isn't enforcing it (by converting runtime errors from parsing config comments to lint errors), and if it did so, then wouldn't eslint core rules be able to throw those runtime errors?

[2021-11-08 22:20] mdjermanovic commented on #15214
No regressions were reported, so this concludes the v8.2.0 release. Please feel free to merge semver-minor PRs again.

[2021-11-08 22:20] #15214 closed

[2021-11-08 22:20] eslint-github-bot[bot] opened #15278 "Scheduled release for November 19th, 2021"
The next scheduled release will occur on Friday, November 19th, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2021-11-09 01:24] nzakas commented on #15261
FYI: the test that ensures errors thrown in rules are bubbled up:

https://github.com/eslint/eslint/blob/04e91b615743cbb25cd9103e7329b056bd1572ad/tests/lib/linter/linter.js#L79

We can’t really convert thrown errors into linting errors because we don’t have any location information to associate with it (because the error isn’t in the file being linted but rather in the rule source).

On the other

[2021-11-09 01:34] #15256 closed

[2021-11-09 18:05] Gautam-Arora24 commented on #13776
I would like to work on this issue.

[2021-11-10 01:10] nzakas commented on #14679
Oops, forgot to assign to myself.

[2021-11-10 01:14] nzakas commented on #13776
@Gautam-Arora24 awesome! The next step here is to create an RFC.

[2021-11-10 01:15] Gautam-Arora24 commented on #13776
Sure!

[2021-11-10 03:50] captbaritone commented on #13752
Thanks @mdjermanovic! I figured I'd also give a quick update since it's been a little bit.

I have a working version that:

* Checks `&&` and `||` logical expressions for a left hand side that have constant truthiness
* Checks `??` logical expressions for have constant nullishness
* Checks `==` binary expressions that compare `true`/`false` with a value that has a constant comparison via [The Abst

[2021-11-10 08:23] sindresorhus opened #15280 "New Rule: No unnecessary `Promise.resolve/reject()` in async function"
### Rule details

The rule should prevent using moot `Promise.reject` and `Promise.resovle` calls in async functions.

### Related ECMAScript feature

Promises and async/await

### What type of rule is this?

Suggests an alternate way of doing something

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

It's about promises and async/await which is core to Java

[2021-11-10 10:06] ackava commented on #15248
Problems with local install,
1. Biggest problem is conflicting packages used by eslint and our development projects. Either eslint is using different version because it hasn't upgraded or we are using different version due to lack of support of certain feature. This is the reason we are still using global old tslint, it allows us keeping our stuff separate.
2. Projects stay old, unless we manually

[2021-11-10 12:24] koskokos2 opened #15281 "Rule Change: make `no-irregular-whitespace` catch `\u3164` as well"
### What rule do you want to change?

no-irregular-whitespace

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Not taking `u3164` into account.

### What will the rule do after it's changed?

Warn/error about the `u3164`.

##

[2021-11-10 16:29] nzakas opened #15284 "Feedback Needed: Passing options to parsers with new config system"
## Background

In the new config system, `ecmaVersion` and `sourceType` have moved onto the `languageOptions` object in order to better represent how ESLint uses this information. Previously, these were passed solely on `parserOptions`, and there are a bunch of places where ESLint used those values outside of parsing.

Current config system (eslintrc):

[code]

New config system (flat config):

[c

[2021-11-10 18:03] bradzacher commented on #15284
In terms of `ecmaVersion` - typescript-eslint only respects this from within the scope analyser in two ways:
1) it loads up a bunch of global variables from the TS lib defs based on this
2) the standard ways that eslint-scope uses it.
    - In this case it only cares about 2 values, is it `=== 5` or `>= 6`.
    - TBH we're getting to a state of JS where this could probably be deprecated and remove

[2021-11-10 18:24] nicolo-ribaudo commented on #15284
I would love `sourceType: commonjs`. I recently fixed a bug in `@babel/eslint-parser` that was initially related to how we decide when to allow top-level return and when not.

I also like that `ecmaVersion` would be normalized. Babel ignores it (it always enables the last standard by default), but we have to pass it to something (eslint-scope?) and we received a bug report a few months ago because

[2021-11-11 01:34] ota-meshi commented on #15284
About vue-eslint-parser.
vue-eslint-parser transfers most of the script parsing to another script parser, so it is largely unaffected by changes in parser options.
vue-eslint-parser currently does its own normalization of `ecmaVersion: latest`, but I can remove it if ecmaVersion is normalized by the ESLint engine 😃.
As for parser processing, there is no problem even if there is `sourceType: common

[2021-11-11 01:36] nzakas commented on #15284
@bradzacher

If we pass “commonjs”, could you map that to “script”? I’m mostly worried about parsers failing with an unexpected value.

If we pass you a normalized ecmaVersion will that be a problem for this?

@nicolo-ribaudo

Can you point me to an example of this? At the moment, you’ll always receive a sourceType from ESLint. You can, of course, choose to ignore it.

@ota-meshi awesome, thanks!

[2021-11-11 01:40] nzakas commented on #15281
I think we are covering this topic in this discussion: https://github.com/eslint/eslint/issues/15240

[2021-11-11 01:42] nzakas commented on #15240
@mhofman i like this approach, though the team feels that the core isn’t the correct home for these rules. I’m talking with the eslint-plugin-security folks to see about getting that project restarted, as I think that would be the best home for such rules.

[2021-11-11 12:15] flying-sheep opened #15288 "Change Request: (Allow silently ignoring explicitly passed files)"
### ESLint version

v8.2.0

### What problem do you want to solve?

Tools like pre-commit run ESLint by passing a list of changed files.

This results in ESLint complaining with

When not run manually, this warning is spurious: People shouldn’t have to configure their ignore list twice.

It’s hard to solve this from `pre-commit`’s side, since it would have to call into ESLint’s internal ignore mec

[2021-11-11 18:35] gajus opened #15292 "Bug: deprecate lines-around-comment"
### What did you expect to happen?

`meta.deprecated` to be set.

### What actually happened?

`meta.deprecated` is not set.

### Participation

- [ ] I am willing to submit a pull request for this issue.

### Additional comments

This rule is deprecated in documentation, but not in `meta`.

https://eslint.org/docs/rules/lines-around-comment

[2021-11-11 20:36] mdjermanovic commented on #15292
Hi @gajus, thanks for finding this!

`lines-around-comment` isn't deprecated, this is a documentation bug. I prepared https://github.com/eslint/eslint/pull/15293 to fix that.

[2021-11-12 00:58] captbaritone commented on #13752
PR is up #15296

[2021-11-12 01:38] nzakas commented on #15098
Can’t people just use a disable comment before the function and then enable after? I don’t think we need to guarantee that every disable directive works in every situation.

[2021-11-12 01:43] #15292 closed

[2021-11-12 01:48] nzakas commented on #15280
Thanks for the submission. Unfortunately, this rule doesn't meet our [criteria for new rules](https://eslint.org/blog/2020/05/changes-to-rules-policies), so I'm closing this issue. We aren’t adding new rules except for syntax that was introduced in the past year or in the case of errors. Given that this rule just enforces a stylistic preference, it’s not a fit for a core rule.

Please note that yo

[2021-11-12 01:48] #15280 closed

[2021-11-12 01:49] nzakas commented on #15288
Duplicate of https://github.com/eslint/eslint/issues/15010

[2021-11-12 01:49] #15288 closed

[2021-11-12 04:06] sindresorhus commented on #15280
No problem. Continued in https://github.com/sindresorhus/eslint-plugin-unicorn/issues/1609.

[2021-11-12 14:28] newcat opened #15299 "Bug: ESLint 8 breaks `indent` rule when using decorators"
### Environment

Node version: v14.17.6
npm version: v6.14.15
Local ESLint version: v8.2.0 (Currently used)
Global ESLint version: Not found
Operating System: win32 10.0.19042

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

No indentation error, as it was in

[2021-11-12 16:33] shavkat1121 commented on #15175
whats'up?

[2021-11-12 21:10] dbibbens opened #15307 "Bug: Error while running ESLint: Cannot read property 'orientation' of undefined."
### Environment

Node version: 16.13.0
npm version: 8.1.0
Local ESLint version: 8.2.0
Operating System: mac big sur 11.6

### What parser are you using?

@babel/eslint-parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]

[code]
</details>

### What did you expect to happen?

order the packages correctly by getting error instead breaking linting.

### What actually happ

[2021-11-12 21:30] mdjermanovic commented on #15307
Hi @dbibbens, thanks for the issue!

Can you run ESLint from the command line and share the output, including the stack trace?

[2021-11-12 21:38] dbibbens commented on #15307
@mdjermanovic i narrowed it down to `autoComplete="off"` on `<input />` in react jsx. i looked at my eslint plugins only one that has `orientation` mentioned is `eslint-plugin-arca`

[2021-11-12 21:44] mdjermanovic commented on #15098
Yes, that will work. A downside is that it also disables this rule in inner functions. Anyway, since everyone is in favor of this proposal, I agree that we try it out.

Question: do we want to change the error message (as in https://github.com/eslint/eslint/pull/15140), or shall we keep the existing one?

[2021-11-12 21:57] dbibbens commented on #15307
but do have this bug when i have `plugin:import/recommended` in the `extends` of my .eslintrc.js,

```Failed to load plugin 'import' declared in '.eslintrc.js': Invalid URL: eslintrc.cjs```

[2021-11-12 22:52] mdjermanovic commented on #15016
@eslint/eslint-tsc thoughts about this? Some rules treat block statements and function bodies equally, but this is a case where one rule specifically targets real block statements, and the other rule targets function bodies. Shall we in this case (and generally) treat class static blocks as blocks or functions? They look more like functions to me. Here's an interesting discussion with opposite vie

[2021-11-12 22:56] ljharb commented on #15016
They have a scope, and aren’t simply a block, but they explicitly aren’t functions and don’t add a stack frame.

[2021-11-12 23:08] mdjermanovic commented on #15016
By the [proposal](https://github.com/tc39/proposal-class-static-block), they should?

[2021-11-12 23:26] mdjermanovic commented on #15016
And each static block has a function object that is called during the class definition evaluation:

https://tc39.es/ecma262/#sec-classstaticblockdefinition-record-specification-type

[2021-11-13 00:36] mdjermanovic commented on #15307
It could be that you're using a version that isn't compatible with ESLint 8, but it's difficult to find the exact cause without a stack trace.

[2021-11-13 00:51] dbibbens commented on #15307
i’m using the latest version 2.25.3 of 3 days ago. any idea how to do a stack trace in atom…? all i’m getting is the alert for it.

[2021-11-13 01:03] ljharb commented on #15016
Oof, ok, that’s interesting. I don’t recall discussing that in plenary, but since the spec doesn’t govern stacks, i guess it didn’t come up.

Either way, for eslint’s purposes i don’t think it’s appropriate to lump them in with either blocks or functions - they’re a distinct new kind of thing.

[2021-11-13 01:18] nzakas commented on #15016
I agree with @ljharb here. I don’t think it’s appropriate to add to an existing rule. If we want to add a new rule, I think that would be most appropriate.

[2021-11-13 01:20] nzakas commented on #15098
I’m fine either way. There’s something nice about doing the math for users, though.

[2021-11-13 01:30] nzakas commented on #15299
Thanks for the report. The ESLint core doesn’t officially support TypeScript or decorators, so I’m not sure why this was working previously or why it wouldn’t work now. It also doesn’t look like there were any changes to the rule during the release.

Is it possible that typescript-eslint changed in some way? @bradzacher

[2021-11-13 01:34] nzakas commented on #15248
@blindspeed90 if you are willing to submit a pull request with tests, we can consider changing this.

[2021-11-13 01:41] mdjermanovic commented on #15242
That's true, we cannot really verify and guarantee the signature of the loaded function, and user can always specify a module that isn't actually an ESLint formatter. But, that's then an invalid formatter, and thus user's fault.

A difference here is that integrations will be getting _valid_ ESLint formatters with unexpected signatures, which is a kind of compatibility issue. I don't have a very s

[2021-11-13 01:48] mdjermanovic commented on #15016
Makes sense. I'll remove that task from the list for the first version, and we can discuss a new rule later.

[2021-11-13 02:10] bradzacher commented on #15299
Nope - it's a really poorly done extension rule that was written badly to begin with (by me) and hasn't aged well at all.

TL;DR - it's unsupported, and known to be broken. Nobody in the community has been motivated enough to work to fix it. https://github.com/typescript-eslint/typescript-eslint/issues/1824

Likely you guys made a change to your base code in v8 which subtly influenced the hacks th

[2021-11-13 16:40] mdjermanovic commented on #15307
Can you run ESLint directly on the command line to see the error? For example, `npx eslint myFile.js`.

[2021-11-13 16:41] dbibbens commented on #15307
@mdjermanovic i have been in touch with developer for the `eslint-plugin-import` it might be the linter for atom that is the issue.

[2021-11-13 16:57] mdjermanovic commented on #15299
@newcat does ESLint v7.32.0 enforce any indentation on these lines, or does it just ignore them?

In the latter case, you can restore this behavior in ESLint 8 by setting `"ignoredNodes": ["PropertyDefinition"]` option:

[code]

[2021-11-13 18:36] newcat commented on #15299
@mdjermanovic thanks for the hint. Indeed, v7.32.0 does not enforce the indentation in the example - that's why there were no errors in that version 😄

The workaround does have the unwanted side effect that the property definitions in every class are affected, independent of whether they have a decorator or not. But I guess that's better than having a lot of false errors and also this should be ta

[2021-11-13 18:36] #15299 closed

[2021-11-13 21:31] camohub opened #15311 "Bug: Project build freeze because of warnings from ESLint."
### Environment

Node version: 14.17.6
npm version: 6.14.15
[code]
Operating System: Win 10

On the screenshot below you can see how looks development the Nuxt project with ESLint on. Most of the time it freeze on the 95% because of warnings from ESLint. But wait! Do you really mean you are the right authority who knows which is the right order of attributes in template elements? I dont think so.

[2021-11-14 21:50] boutahlilsoufiane commented on #12687
Hi @mdjermanovic, I changed the pull request, could you please review it?

[2021-11-15 08:54] P4PEES commented on #15307
.

[2021-11-16 01:38] nzakas commented on #15311
You’ll need to contact the Nuxt team for support — this is an issue with how the build system integrates with ESLint, not with ESLint itself.

[2021-11-16 01:38] #15311 closed

[2021-11-16 01:43] nzakas commented on #15242
I think we can mitigate some of the issues by recommending that integrators always “await” the formatter call so it can work either way.

@btmills can you chime in as well?

[2021-11-17 17:21] ljharb opened #15327 "Change Request: provide option to allow parsing specific ES3 reserved words"
### ESLint version

v8.2.0

### What problem do you want to solve?

#15017 was great in spirit - I agreed with it - but my agreement assumed that

was the case. I can't speak for `char`, because I don't use that anywhere - but I do use `.native` and `int` as identifiers/property names, and these work perfectly fine in everyone's favorite ES3 engine, IE 6 (and presumably in many of the others). I u

[2021-11-17 20:12] njbmartin commented on #14918
Just ran into this issue myself, I definitely prefer destructuring objects and don't particularly want to add comments to disable (as it's in a number of files.

As an example, having to do this:

[code]

It would be great if there was a way to add something in the eslint config to ignore `process.env` for this rule.

[2021-11-17 21:39] silverwind opened #15329 "Bug: `eslint-disable` should accept `//` style comments too"
### Environment

-

### What parser are you using?

Default (Espree)

### What did you do?

See [this demo](https://eslint.org/demo#eyJ0ZXh0IjoiLy8gZXNsaW50LWRpc2FibGUgbm8tZGVidWdnZXJcbmRlYnVnZ2VyO1xuLy8gZXNsaW50LWVuYWJsZSBuby1kZWJ1Z2dlclxuXG4vKiBlc2xpbnQtZGlzYWJsZSBuby1kZWJ1Z2dlciAqL1xuZGVidWdnZXI7XG4vKiBlc2xpbnQtZW5hYmxlIG5vLWRlYnVnZ2VyICovIiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIjp7ImVjbWFWZXJzaW9u

[2021-11-18 01:20] nzakas commented on #15329
We tried this but it caused too many problems so we rolled it back:
https://github.com/eslint/eslint/issues/14960

So, we won’t be making any changes related to this.

[2021-11-18 01:20] #15329 closed

[2021-11-18 01:26] nzakas commented on #15327
I’m not sure we want to add an option that is only relevant when ecmaVersion is 3. That seems like a recipe for confusion.

Reverting to previous behavior is an option, but would be a breaking change and would also not fulfill the goal of the change: to provide a strict ES3 parser.

@ljharb since it seems like you are doing some regular IE6 testing, can you get us a list of reserved words that do

[2021-11-18 01:31] nzakas commented on #15327
**TSC Summary:*** In v8.0, we changed the behavior of ecmaVersion:3 to forbid reserved words. IE 6 actually allows some (or all) reserved words to be used. This request is to provide a looser ES3 variant for such purposes.

**TSC Question:** How do we want to address this?

[2021-11-18 01:51] bartlomieju opened #15330 "Change Request: require("v8-compile-cache") conditionally"
### ESLint version

8.2.0

### What problem do you want to solve?

As of v1.15 Deno supports Node.js compatibility code. ESLint can run in this compatibility mode without a problem.

Here's a PR that adds example of running ESLint with Deno:
https://github.com/denoland/manual/pull/164

However Deno doesn't have support for V8 compile cache. Due to top-level `require("v8-compile-cache")` in `bin/es

[2021-11-18 02:41] ljharb commented on #15327
My thinking was that it would apply to every ecmaVersion, to ensure it was generic and wouldn’t need attending to in the future.

I’ll certainly check IE 6-8, and a few other ES3 browsers, and report back with a list.

As for the goal: what value is there In a strict ES3 parser if no accessible engine actually implements it? My hope would be for a strict “matches implementations” parser, for as ma

[2021-11-18 09:12] mkubilayk commented on #14811
Acorn 8.6 is just released and includes the necessary change: https://github.com/acornjs/acorn/releases/tag/8.6.0.

[2021-11-18 09:15] ota-meshi commented on #14811
@mkubilayk Thanks for letting me know!

[2021-11-18 15:44] pdeveltere commented on #14058
This is also an issue for us. `offsetTernaryExpressions` is not working as expected!

[2021-11-19 01:21] nzakas commented on #15330
If that’s all it takes to support Deno, I think we can do that.

My only question is about the correct check for the condition. Rather than saying “if this isn’t Deno, require the package” can we instead say “if it is Node, require the package”? Is there something present in Node that isn’t in Deno we can test? Maybe “process”?

[2021-11-19 02:50] bartlomieju commented on #15330
I'm not sure, it seems to me that won't work - in "compat" mode Deno tries to emulate Node.js complately, which means globals like `process` are available. I couldn't find information about it, but does `eslint` distribute a browser version? If that's the case maybe we could check if we're in a browser environment (which Deno would mimic too)?

[2021-11-19 19:54] nzakas commented on #15330
This code is in the CLI, so it doesn't run in the browser. We just need to worry about where the CLI is run.

Ah that's interesting. So in compat mode Deno tries to look as much like Node.js as possible. Hmmmm.

Well, I'm not opposed to adding an explicit check for Deno to get this moving. Is there some way to run ESLint on Deno during CI so we can verify that it's working?

[2021-11-19 19:56] bartlomieju commented on #15330
@nzakas certainly! We just need to install Deno in CI (https://github.com/denoland/setup-deno)
and then follow example here: https://deno.land/manual@main/npm_nodejs/compatibility_mode#example

[2021-11-19 20:03] nzakas commented on #15330
Cool! If you're willing to put together a PR with the change and the CI, we can take a look. (note: soonest it would be released would be in two weeks.)

[2021-11-19 20:18] bartlomieju commented on #15330
Thanks! I'll open a PR over the weekend

[2021-11-20 01:42] nzakas commented on #15242
Ping @btmills

[2021-11-20 03:49] fengzilong commented on #15242
If there is an ESLint integration list, I can help send PRs to these repositories to add `await`

[2021-11-20 06:16] ljharb commented on #15327
I ran this jsbin: https://jsbin.com/zihosuh/edit?js,output via this link: https://output.jsbin.com/zihosuh and got these results:
<details>
<summary>IE 6</summary>
es2: int (var)
es2: int (prop)
es2: int (fn)
es2: byte (var)
es2: byte (prop)
es2: byte (fn)
es2: char (var)
es2: char (prop)
es2: char (fn)
es2: goto (var)
es2: goto (prop)
es2: goto (fn)
es2: long (var)
es2: long (prop)
es2: long (fn)

[2021-11-20 13:18] bfelbo commented on #15125
@flosker did you create a rule to include comment as an additional STATEMENT_TYPE? That would be very useful 😄

[2021-11-20 14:30] bartlomieju commented on #15330
@nzakas I started working on the PR, one question though: do you want me to duplicate `test_on_node` CI step that runs on Deno, as a simple test like presented in the above Manual link would suffice? We're still working on getting `mocha` to work in Deno's compatibility mode so I'm not confident I would be able to run the whole CI under Deno (and I guess it might add too much time to your CI setup

[2021-11-20 23:35] btmills commented on #15242
From a strict typing perspective, going from this signature:

[code]

to this wider return type:

[code]

would be a breaking change. But like you all, I'd really like to be able to do this without waiting a year for ESLint v9. I see the argument that it's really the user who's in charge of the return type when they select a formatter. I'd be okay making this change and asking async formatters to

[2021-11-20 23:52] btmills commented on #15098
Thinking about this from the user's perspective, seeing editor squigglies only on the excess lines would be much nicer than squigglying the whole function. The tradeoff that disable-(next-)line comments will have to be moved might be seen as a feature: previously, disabling this rule for a function was binary. Now, someone could disable it on just the n+1th line, but adding an n+2nd line would sti

[2021-11-21 03:18] btmills commented on #15327
In the 2021-11-18 TSC meeting, we agreed to add an `allowReserved` option that can be used with `ecmaVersion: 3`. Espree will be responsible for checking that constraint.

[2021-11-21 05:22] #14811 closed

[2021-11-21 06:02] #11899 closed

[2021-11-21 06:24] btmills commented on #15016
All currently-known work to implement class static blocks just shipped in ESLint v8.3.0!

[2021-11-21 06:24] #15016 closed

[2021-11-21 06:38] btmills commented on #15278
[`eslint@8.3.0`](https://github.com/eslint/eslint/releases/tag/v8.3.0), [`espree@9.1.0`](https://github.com/eslint/espree/releases/tag/v9.1.0), and [`eslint-scope@7.1.0`](https://github.com/eslint/eslint-scope/releases/tag/v7.1.0) have all been released! See the full release blog post at https://eslint.org/blog/2021/11/eslint-v8.3.0-released.

[2021-11-21 12:11] flosker commented on #15125
@bfelbo No, haven't added that one. I changed my config (and padded-block rule), that seemed to satisfy my needs.

[2021-11-21 13:17] ArnaudBarre opened #15339 "New Rule: No top level await"
### Rule details

Disallow top level await

### Related ECMAScript feature

https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/await#top_level_await

### What type of rule is this?

Warns about a potential problem

### Example code

[code]

### Why should this rule be in the core instead of a plugin?

I'm not sure about that. It could also be proposed as a negation of esli

[2021-11-22 12:19] jimmywarting opened #15341 "Change Request: lintFiles without `node:fs`"
### ESLint version

v8.0.0

### What problem do you want to solve?

I wan't to run some lint stuff against files that are only held in memory or originating from [native file system access](https://web.dev/file-system-access/). so it could possible run in the browser.
so `eslint.lintFiles(glob_patterns)` doesn't really cut the mustard, in fact any use of `node:fs` would not work...

I want to be a

[2021-11-22 14:50] mdjermanovic commented on #15091
I can reproduce this with ESLint v8.3.0, @typescript-eslint/parser v5.4.0, and the following code:

[code]

I'll work on this.

[2021-11-23 01:50] nzakas commented on #15327
Following up on @ljharb’s Discord message.

The changes actually need to happen in Espree. You’d want to check that if allowReserved is present that ecmaVersion is 3 in this function (otherwise throw error):
https://github.com/eslint/espree/blob/ed95791c0d9334383ddf59ae0d0968842801c171/lib/options.js#L90

Down below you can set the value of allowReserved:

https://github.com/eslint/espree/blob/ed9

[2021-11-23 01:50] nzakas commented on #15327
Oh and don’t forget to update the README with the new option.

[2021-11-23 01:59] nzakas commented on #15330
I think we can just do a simple smoke test without running the whole CI suite. Maybe just run ESLint on itself?

[code]

[2021-11-23 02:02] nzakas commented on #15242
@fengzilong we don’t have an integrations list, which is part of the challenge here.

It sounds like we now have agreement that this change doesn’t have to wait for a major release, so we can proceed.

[2021-11-23 02:28] ljharb commented on #15327
Thanks! Filed https://github.com/eslint/espree/pull/522, please review :-)

[2021-11-23 07:42] btmills commented on #15278
I see no regressions, so that concludes this release process.

[2021-11-23 07:42] #15278 closed

[2021-11-23 07:42] eslint-github-bot[bot] opened #15342 "Scheduled release for December 3rd, 2021"
The next scheduled release will occur on Friday, December 3rd, 2021.

## Release Day Checklist

- [x] Remove the 'tsc agenda' label on this issue
- [x] Review open pull requests and merge any that are [ready](https://eslint.org/docs/maintainer-guide/pullrequests#when-to-merge-a-pull-request)
- [x] Start the release on [Jenkins](https://jenkins.eslint.org)
- [x] Update the release blog post with a

[2021-11-23 11:01] koskokos2 commented on #15281
Yes, it is quite similar. Although I cannot find this specific Unicode char \u3164 in there. You might be right to merge this with the issue you mentioned. But in the same time I feel it fits quite well into existing rule I proposed to change.

[2021-11-23 11:04] koskokos2 commented on #15281
Based on this comment https://news.ycombinator.com/item?id=29172909 there is also `U+FFA0` char.

[2021-11-23 13:14] kaihendry opened #15343 "Bug: Cannot find module espree.cjs"
### Environment

Node version: v16.11.1
npm version: npm@8.1.3
Local ESLint version: v7.32.0
Global ESLint version:
Operating System: MacOS 12.0.1 (21A559)
[code]

### What parser are you using?

Default (Espree)

### What did you do?

1. npm init -y
2. npm install eslint --save-dev

[code]

### What did you expect to happen?

Initialised

### What actually happened?

Failed ...

### Participation

[2021-11-23 13:17] kaihendry opened #15344 "Change Request: Prettier in the --init options"
### ESLint version

8.3.0

### What problem do you want to solve?

Is not super clear how to integrate eslint with prettier https://prettier.io/docs/en/install.html#eslint-and-other-linters

### What do you think is the correct solution?

Shouldn't there be an init option to setup ESLint with this very common formatter?

### Participation

- [ ] I am willing to submit a pull request for this chang

[2021-11-23 14:06] Melvin-Abraham opened #15345 "Bug: `no-unused-vars` in function signature within Typescript"
### Environment

Node version: v14.17.1
npm version: v6.14.13
Local ESLint version: Not found
Global ESLint version: v8.3.0 (Currently used)
Operating System: win32 10.0.19044

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

ESLint should not show any warnings

[2021-11-23 14:43] mdjermanovic commented on #15345
Hi @Melvin-Abraham, thanks for the issue!

Can you try with [`@typescript-eslint/no-unused-vars`](https://github.com/typescript-eslint/typescript-eslint/blob/main/packages/eslint-plugin/docs/rules/no-unused-vars.md) instead of the core `no-unused-vars`?

[code]

Generally, if a rule is in the list of [Extension Rules](https://github.com/typescript-eslint/typescript-eslint/tree/main/packages/eslint

[2021-11-23 15:12] fengzilong commented on #15242
That's great that it can be released soon 🎉

[2021-11-23 16:25] bartlomieju commented on #15330
I'm going to close this issue, when setting up CI in this (#15336) I discovered that some packages (eg. `ignore`) access `process.env` in other situations and effectively full access to environmental variables is required anyway.

So it's not justified to add a single conditional, sorry for the buzz. Anyway, I'm happy that `eslint` can be used with Deno nowadays.

[2021-11-23 16:25] #15330 closed

[2021-11-23 16:34] Melvin-Abraham commented on #15345
@mdjermanovic That seems to have fixed it 👍. Thank you...

[2021-11-23 16:34] Melvin-Abraham commented on #15345
_Closing as resolved_

[2021-11-23 16:34] #15345 closed

[2021-11-23 19:46] jimmywarting commented on #15341
Applying a [onion-architecture](https://www.codeguru.com/csharp/understanding-onion-architecture/) strategy would be handy to kind of make it more browser/Deno friendly

abstract away the higher core function for something that can be replaced with a configuration of your own, the less eslint has access to node's core module the better...

[2021-11-24 01:20] nzakas commented on #15248
No response, so closing.

[2021-11-24 01:20] #15248 closed

[2021-11-24 07:28] anandjaisy opened #15348 "ng lint Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory with Angular 13 application"
### Environment

Node version:
npm version:
Local ESLint version:
Global ESLint version:
Operating System:

### What parser are you using?

@angular-eslint/template-parser

### What did you do?

I have recently migrated from Angular 12 to 13 and implemented the ESLINT and prettier. While doing the ng lint the task goes infinite and quite not sure what is happing in the background.

Want to see the

[2021-11-24 08:54] Kingwl opened #15349 "Rule Change: [no-restricted-imports] Add options to specify the behavior for type only import"
### What rule do you want to change?

no-restricted-imports

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

import xxx from 'module' // error
import type xxx from 'module' // error
import type * as xxx from 'module' // error
import {

[2021-11-24 13:09] #15242 closed

[2021-11-24 18:25] Gautam-Arora24 commented on #13721
Hi! Are we still interested to solve this issue?

[2021-11-25 00:59] #15327 closed

[2021-11-25 01:04] nzakas commented on #15281
@eslint/eslint-tsc thoughts?

[2021-11-25 01:11] nzakas commented on #15344
Duplicate of https://github.com/eslint/eslint/issues/15131

You’ll need to talk to the Prettier folks if you’re having trouble.

[2021-11-25 01:11] #15344 closed

[2021-11-25 01:13] nzakas commented on #15349
ESLint doesn’t natively support TypeScript, so we don’t have TypeScript-related features in core rules.

[2021-11-25 01:13] #15349 closed

[2021-11-25 01:15] nzakas commented on #15348
Please open this issue on the angular-eslint repo. We don’t maintain that integration.

[2021-11-25 01:15] #15348 closed

[2021-11-25 01:16] nzakas commented on #15339
Thanks for the suggestion.  We aren’t adding any more rules that just disallow syntax. You can use no-restricted-syntax to prevent any syntax that you’d like.

[2021-11-25 01:16] #15339 closed

[2021-11-25 01:18] nzakas commented on #15341
Why don’t you use lintText() for this? lintFiles() is strictly meant for file system usage.

[2021-11-25 01:21] nzakas commented on #15343
I think this is happening because eslint-config-standard hasn’t been upgraded to support ESLint 8.

@aladdin-add what do you think?

[2021-11-25 02:51] aladdin-add commented on #15343
mixed things: it's because the "ecmaVersion: 13" was generated via eslint v8, while eslint v7 does not support ecma 13, (`eslint-config-standard` does not support eslint v8 yet).

to fix the error, you can change `ecmaVersion: 13` => `ecmaVersion: 12` in the generated config. it will be fixed in the new `@eslint/create-config` by setting `ecmaVersion: "latest"`.

[2021-11-25 02:53] aladdin-add commented on #15343
Duplicate of #15159

[2021-11-25 02:53] #15343 closed

[2021-11-25 08:46] viktorrudi commented on #15149
Got same issue with:
`
    "@typescript-eslint/eslint-plugin": "^5.4.0",
    "@typescript-eslint/parser": "^5.4.0",
    "eslint": "^8.3.0",
`

[2021-11-25 13:00] await-ovo opened #15354 "Bug: auto-fix with eslint-plugin-prettier causes code to run with errors"
### Environment

Node version:  14.18.1
npm version:  6.14.15
Local ESLint version: v8.3.0
Operating System: macOS 10.15.6

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

This is the code repository that can be used to reproduce: [test-eslint-prettier](https:

[2021-11-25 13:01] koskokos2 commented on #15281
That link results in 404, but I think it meant to be https://github.com/unlight/eslint-plugin-tsc. But not sure I understand how it is related to this issue.

[2021-11-25 13:38] snitin315 commented on #15281
No, it wasn't meant to be https://github.com/unlight/eslint-plugin-tsc

It is a private link that is accessible to the ESLint team only. Here, we are just sending a ping to the [`Technical Steering Committee`](https://github.com/eslint/eslint#technical-steering-committee-tsc) members for their input.

[2021-11-25 18:18] captbaritone commented on #13776
@Gautam-Arora24 If you're still working on this, it would be worth including the proposed new `no-constant-binary-expression` rule (#15296) in the proposal as well since it would similarly benefit from following identifiers to their definition. I made some changes to the proposed rule for our local fork of it and, anecdotally, it detects on the order of twice as many issues.

[2021-11-25 18:47] captbaritone opened #15357 "Rule Change: Detect comparison to always new objects in no-constant-binary-expression"
### What rule do you want to change?

no-constant-binary-expression

### What change to do you want to make?

Generate more warnings

### How do you think the change should be implemented?

A new default behavior

### Example code

[code]

### What does the rule currently do for this code?

Does not warn

### What will the rule do after it's changed?

Warn

### Participation

- [X] I am willing to

[2021-11-26 13:22] jimmywarting commented on #15341
i want to lint more than just one file, plus some lint rule/stuff can validate files related to other files like "./xyz/foo.js" don't export a method "xyz"

[2021-11-26 16:03] payapula opened #15359 "Bug: Negated ignore patterns not working with ignorePatterns"
### Environment

Node version: 12.16.1
npm version: 6.13.4
Local ESLint version: 7.11.0
Global ESLint version: NA
Operating System: mac

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

In the `.eslintrc` file, I tried to ignore specific files that ends with just `.test.tsx` and keep linting the files wh

[2021-11-26 16:50] mdjermanovic commented on #15359
Hi @payapula, thanks for the issue!

 `"ignorePatterns"` feature works per the [.gitignore specification](https://git-scm.com/docs/gitignore).

This is expected behavior for `.gitignore` patterns. The negated pattern has no effect, because it is re-including files that were not ignored.

Can you try with the following configuration:

[2021-11-26 17:17] payapula commented on #15359
Hi @mdjermanovic

Thanks for the very quick reply 😀

It's my bad, you explained it wonderfully. I understand now, and Yes, the solution you suggested worked!

[code]

Thank you so much for helping out 🎉

[2021-11-26 17:17] #15359 closed

[2021-11-26 18:08] mdjermanovic commented on #15354
Hi @await-ovo, thanks for the very detailed analysis!

This is a known bug in `eslint-plugin-prettier`:  https://github.com/prettier/eslint-plugin-prettier/issues/65

In short, each individual fix should produce a valid equivalent code when applied, but that isn't the case with fixes created by the `prettier/prettier` rule. The rule works on the diff between the original code and its prettier-form

[2021-11-27 00:15] await-ovo commented on #15354
thank you for such a detailed explanation

[2021-11-27 00:20] livelongai opened #15360 "The indentation rule does not appear to work for switch / case ..."
### Environment

Node version:  14.8.0
npm version: 8.1.3
Local ESLint version: 8.2.0
Global ESLint version: 8.2.0
Operating System: Darwin 20.6.0

I would assume that `case` should be indented relative to its `switch`.  However, eslint is marking this as an error and asking me to line `case` up with `switch`.  See pic below.

<img width="423" alt="Screen Shot 2021-11-26 at 6 09 11 PM" src="https:

[2021-11-27 01:17] nzakas commented on #15341
This would be a pretty significant change for a very narrow use case. At this point, I’m not sure it’s worth the effort, but if you want to put together an RFC to describe how you envision implementing it, we can consider it.

[2021-11-27 01:24] #15360 closed

[2021-11-27 01:31] nzakas commented on #15357
Can’t argue with that logic. 👍

[2021-11-27 01:38] NathanMBR opened #15362 "Bug: ESLint not working in general when using "no-mixed-spaces-and-tabs" and "yoda" rules"
### Environment

Node version: 14.17.1
npm version: 7.16.0
Local ESLint version: 8.3.0
Global ESLint version: 8.3.0
Operating System: Windows 10 Version 21H1 64-bits
Code Editor: Visual Studio Code Version 1.62.3

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
</details>

[code]

### What did you expect to happen?

[2021-11-27 02:51] ljharb commented on #15362
What do you mean "updating bug alerts" or "removing bug alerts"? eslint runs on the command line. Are you perhaps using an editor integration, which would suggest it might be an issue with that integration's caching?

[2021-11-28 03:51] btmills commented on #15281
#15240 proposes catching bidi characters and homoglyphs. It sounds like we should also catch a third category of invisible characters like `\u3164` and `\uFFA0`. `no-irregular-whitespace` already catches a bunch of invisibles. However, it looks like the Hangul Filler is considered a _letter_. Would we still want to cover it in `no-irregular-whitespace` under the philosophy that invisible character

[2021-11-28 15:36] mdjermanovic opened #15366 "[flat config] `ecmaVersion: "latest"`"
### ESLint version

`flat-config-linter` branch

### What problem do you want to solve?

ref: https://github.com/eslint/eslint/pull/15185#discussion_r757536540

With this configuration, ESLint will use `espree.latestEcmaVersion` as ecmaVersion:

[code]

### What do you think is the correct solution?

ESLint should maintain its own `latestEcmaVersion` instead of using `espree.latestEcmaVersion`.

`

[2021-11-28 16:28] akgupta0777 opened #15367 "Can't able to sign CLA. Links are broken."
I am new to ESLint and want to contribute to the repository. I am required to sign the CLA before contributing.
But the links are just broken and giving Authentication errors.

Here is the image for reference.
Link I used for signing CLA - https://cla.js.foundation/eslint/eslint

![image](https://user-images.githubusercontent.com/51379307/143776877-3bdd4890-adf6-43d4-a281-4167c8cc663d.png)

[2021-11-28 23:06] antoniotrkdz opened #15369 "Rule Change: (fill in)"
### What rule do you want to change?

key-spacing "align": { "beforeColon": true, "afterColon": true, "on": "colon" }

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

The rule does not align correctly the first item when 'comma stile fi

[2021-11-29 00:56] snitin315 commented on #15367
Hi @akgupta0777, that is the old CLA link.

Please find the latest CLA info here - https://eslint.org/docs/developer-guide/contributing/#signing-the-cla

Also, the CLA bot will provide you with the latest link when you open PR for the first time.

[2021-11-29 01:07] snitin315 commented on #15367
I have opened a PR to update it in `CONTRIBUTING.md`.

[2021-11-29 01:20] ljharb commented on #15342
Commenting here to ensure publishing espree (and ideally bumping the dep range in eslint) is on the checklist :-)

[2021-11-29 01:27] akgupta0777 commented on #15367
@snitin315 thanks ❤️

[2021-11-29 03:53] bmish commented on #15104
Still planning to do this, assigned myself.

[2021-11-29 08:30] adamgajzlerowicz commented on #15195
Seems that `@react-native-community/eslint-config` for whatever reason depends on `eslint-plugin-flowtype`.

Adding it as a dev dependency `yarn add --dev eslint-plugin-flowtype@8.0.3` allows eslint update to version 8

[2021-11-29 08:46] adamgajzlerowicz commented on #15195
Seems that `@react-native-community/eslint-config`  depends on `eslint-plugin-flowtype` package.

Adding it as a dev dependency with, allows eslint update to version 8
[code]

[2021-11-29 16:03] avashavash opened #15374 "SyntaxError: Unexpected token"
Tell us about your environment

**Gulp-ESLint Version:**6.0.0
**Node Version:**17.1.0
**npm Version:**8.1.4

[code]

[2021-11-29 17:58] nzakas commented on #15374
Please open a bug report and fill in all of the info. There is not enough info here to respond.

[2021-11-29 17:58] #15374 closed

[2021-11-29 17:59] nzakas commented on #15369
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-11-29 17:59] #15369 closed

[2021-11-30 01:47] nzakas commented on #14936
We still want to take a look at this and would be grateful if someone wants to put together an RFC.

[2021-11-30 05:22] Gautam-Arora24 commented on #14972
Hello @Deep1Shikha! Are you still working on this issue?

[2021-11-30 09:13] antoniotrkdz commented on #15369
OK, I will try to do that. Thank you.

[2021-11-30 22:53] ljharb commented on #15029
There's an open PR: #15077

[2021-12-01 01:23] nzakas commented on #15029
@mdjermanovic seems like you were driving this. How should we proceed?

[2021-12-01 01:24] nzakas commented on #15078
We couldn’t reach consensus on this, so closing.

[2021-12-01 01:24] #15078 closed

[2021-12-01 03:33] bmish commented on #15104
I have opened an RFC for this issue, along with some related rule test validation improvements: https://github.com/eslint/rfcs/pull/84

[2021-12-01 10:39] mdjermanovic commented on #15029
By the proof of concept https://github.com/eslint/eslint/pull/15077, this looks feasible and safe to me. I support this change, and I'm willing to champion it.

[2021-12-01 16:53] TimvdLippe commented on #14859
I included this rule in DevTools today and it found a whole bunch of unused fields :tada: https://crrev.com/c/3310610 I didn't encounter any further issues nor false positives, so I think we are good here :smile:

[2021-12-01 22:48] michael-freidgeim-webjet opened #15377 "Rule Change: no-plusplus rule is too restrictive"
### What rule do you want to change?

no-plusplus

### What change to do you want to make?

Generate fewer warnings

### How do you think the change should be implemented?

Other

### Example code

[code]

### What does the rule currently do for this code?

bar--;
for (i = 0; i < l; j = i++)
reports warning

### What will the rule do after it's changed?

For
bar--;
for (i = 0; i < l; j = i++)
Do n

[2021-12-01 22:52] captbaritone commented on #15357
Curious what, if any, further input is needed here?

[2021-12-01 23:51] emmanuelvlad opened #15378 "Rule Change: brace-style exception for comments"
### What rule do you want to change?

brace-style

### What change to do you want to make?

Implement suggestions

### How do you think the change should be implemented?

A new option

### Example code

[code]

### What does the rule currently do for this code?

It will just error if there is a line between the blocks

### What will the rule do after it's changed?

Allow comments between blocks fo

[2021-12-02 00:58] nzakas commented on #15378
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-12-02 00:58] #15378 closed

[2021-12-02 00:58] nzakas commented on #15377
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-12-02 00:58] #15377 closed

[2021-12-02 01:03] nzakas commented on #15357
We just need to wait for others to review

@eslint/eslint-tsc thoughts?

[2021-12-02 01:19] nzakas commented on #15029
I’ll 👍

[2021-12-02 01:21] #15098 closed

[2021-12-02 01:28] nzakas commented on #15281
Good point. We should probably not include letters, even if they are invisible, in a white space-focused rule.

Given that this is presented as a security issue, would such a rule be better for a security plugin?

[2021-12-02 08:12] btmills commented on #15357
Logic follows, and it fits the rule, so :+1:

[2021-12-02 08:59] bharathks005 commented on #14939
Is the issue is not fixed, can I start to fix this issue? can I try?

[2021-12-02 09:05] snitin315 commented on #14939
It is currently being implemented in https://github.com/eslint/eslint/pull/15346.

[2021-12-02 13:13] mdjermanovic commented on #15089
Ideally, the rule would autofix regular expressions that will have the same behavior with the `u` flag. For those that will have different behavior, the rule could provide suggestions with a note that the behavior will change after the suggestion is applied.

If we're not confident that we can determine whether or not the behavior will change, then providing suggestions in both cases might be safe

[2021-12-02 13:47] mdjermanovic commented on #15357
Makes sense to me :+1:

[2021-12-02 13:56] zzzgit opened #15379 "Bug: prefer-destructuring couldn't auto fix in this condition"
### Environment

Node version: new
npm version: new
Local ESLint version: new
Global ESLint version: new
Operating System: macos

### What parser are you using?

Default (I don't know)

### What did you do?

![image](https://user-images.githubusercontent.com/1060733/144435528-9c12eb25-dc55-473f-995a-b73c6051c9e5.png)

### What did you expect to happen?

The above is a `typescript` code snippet.

`

[2021-12-02 14:27] zzzgit commented on #15379
Okay, I now know how to fix it.

I should change this line from

`[card] = this.getShoe().deal()`

to

`;[card] = this.getShoe().deal()`

However, it's not a pretty way I think. Is there any other means I can use?

[2021-12-02 15:56] lorenzos opened #15381 "Rule Change: option to not require semicolons after class properties"
### What rule do you want to change?

`semi`.

### What change to do you want to make?

Generate fewer warnings.

### How do you think the change should be implemented?

A new option.

### Example code

[code]

### What does the rule currently do for this code?

In the example above, `semi` currently requires semicolons after the declarations of `a`, `b` and `bar` (class properties), but not for `

[2021-12-02 16:34] mdjermanovic commented on #15379
Hi @zzzgit, thanks for the issue!

This works as intended. Array destructuring isn't autofixable because the rule can't know for sure if the object on the right side is an array or just an object with a `"0"` property.

For example:

[code]

Autofixing this to array destructuring would produce invalid code:

[code]

The above example is actually a false positive for this rule, but since it's rare

[2021-12-02 16:34] #15379 closed

[2021-12-02 17:03] om-mani-padme-hum opened #15382 "Bug: (fill in)"
### Environment

Node version: 14.16.1
npm version: 7.20.3
Local ESLint version: v7.24.0
Global ESLint version: v7.24.0
Operating System: Windows

### What parser are you using?

Default (Espree)

### What did you do?

[code]

### What did you expect to happen?

I want to match a literal period, not any character like the unescaped . would match.  It is not a useless escape

### What actually happ

[2021-12-02 17:28] mdjermanovic commented on #15382
Hi @om-mani-padme-hum, thanks for the issue!

This works as intended. `\.` is escaped dot in the template literal, and it evaluates to `.`, so it is a useless escape.

[code]

In the regex pattern, it will match any character:

[code]

If you want escaped dot in the pattern, then you need to escape `\` in the template literal:

[code]

[2021-12-02 17:28] #15382 closed

[2021-12-02 21:53] nzakas commented on #15381
Thanks for the input. As [stated in the README](https://github.com/eslint/eslint#stylistic-rule-updates), we actually aren't making any further updates to rules that enforce stylistic preferences. If you have a strong preference for such a change, you can always copy the existing rule into a custom rule and make it behave the way you want.

[2021-12-02 21:53] #15381 closed

[2021-12-02 22:02] nzakas opened #15383 "Roadmap planning 2022"
At the end of each year, the ESLint team brainstorms on what we'd like to accomplish in the upcoming year. This issue kicks off this part of the process.

**What does "on the roadmap" mean?** It means that someone on the team has committed to owning and completing the task during 2022. It also generally means that if that team member is unable to complete the task that another team members will fi

[2021-12-02 22:02] om-mani-padme-hum commented on #15382
That explains it, sorry to bother you with a non-issue!  Thanks

[2021-12-02 22:06] nzakas commented on #15383
These are things already in progress that I plan on finishing in 2022:

1. Implement flat config (https://github.com/eslint/eslint/issues/13481)
2. Redesign eslint.org
3. Launch docs.eslint.org
4. Launch play.eslint.org
5. Set up eslint-community GitHub organization

Other things I would like to address and have not been started (aspirational ideas):

1. Switch ESLint repo to ESM
2. Create a <esli

[2021-12-03 01:30] nzakas commented on #15357
@captbaritone you are good to go here.

[2021-12-03 01:32] nzakas commented on #15089
I think this is asking too much. The point of suggestions is to provide potential fixes that might change behavior, but I think it’s beyond our scope to indicate how behavior might change. At some point we need to trust that developers have tests that will help them identify runtime errors.

[2021-12-03 05:28] AriPerkkio opened #15384 "Bug: `no-restricted-exports`: Cannot read property 'name' of null"
### Environment

Node version: `v14.17.4` and 16 LTS
npm version: `6.14.14`, yarn `1.22.10`
Local ESLint version: `8.3.0`
Global ESLint version: none
Operating System: Debian 10

### What parser are you using?

@typescript-eslint/parser

### What did you do?

<details>
<summary>Configuration</summary>

[code]
[code]

</details>

[code]

### What did you expect to happen?

The `export class extends

[2021-12-03 05:43] captbaritone commented on #15357
Thanks everyone! I've incorporated this change into #15296.

[2021-12-03 05:43] #15357 closed

[2021-12-03 12:23] MCYouks commented on #15175
Any news?

[2021-12-03 14:24] mdjermanovic commented on #15089
In that case, the suggestion message would always warn that the suggested fix may change behavior?

[2021-12-03 23:04] fabiopagoti commented on #15343
I have something to add

After installing v8.3 explicitly
`npm install --save-dev eslint@8.3.0 `

and then running
`node_modules\.bin\eslint --init`

[code]

Then, I was prompted to install some additional modules

Apart from the error mentioned above, I noticed that the `devDependencies` inside `package.json` was automattically changed to version 7.

As a workaround, I manually adjusted eslint ve