[2015-09-03 02:16] TDA commented on #3634
@IanVS Glad to hear that that is the expected behavior.  We have/had the issue on this: https://github.com/mozilla/fxa-auth-db-mysql/pull/96
Removing the inline declaration solved our problem, but I think this is a valid bug.
It threw a warning when the `complexity: 7` was inline, and `complexity: 0` is in eslintrc.
But it doesn't throw a warning if `complexity: [0]` is in eslintrc.

[2015-09-03 02:24] IanVS commented on #3634
Sorry, I don't see what the bug would be, since `complexity: 7` is not a valid configuration.  When I try it, I (correctly) get a thrown error from the config validator:

[code]

According to https://github.com/mozilla/fxa-auth-db-mysql/blob/master/package.json#L44, It looks like you are using a very old version of `grunt-eslint`, and I would recommend updating to the latest and trying again with

[2015-09-03 07:39] ronkorving opened #3637 "Proposal: warn against unnecessary use of module.exports"
Sometimes I see Node/CommonJS developers write:

[code]

for no apparent reason. The only time you should be referring to module.exports imho is when you're overwriting it with a new value. In all other cases, you should just be assigning properties on `exports`. I don't know where this weird pattern originated to be honest, but since I see multiple people make this mistake, perhaps a rule against

[2015-09-03 07:45] fflorent commented on #3628
Works like a charm. Thanks !

Florent

[2015-09-03 07:45] #3628 closed

[2015-09-03 08:00] okonet commented on #3092
Sorry for a delayed response. My suggestion was to solve a case when a new
line is required only after the first block like in this example:

[code]

AFAIK right now this rule will require a new line also before the `if`
keyword. Correct me if I'm wrong.

On Sat, Aug 29, 2015 at 1:02 AM, Gyandeep Singh <notifications@github.com>
wrote:

--
With best regards,
Andrey Okonetchnikov

http://okonet.ru

[2015-09-03 08:03] okonet commented on #3092
So basically I'd like to have a padding rule _after_ a block. Current rule
only enforces padding _inside_ blocks.

On Thu, Sep 3, 2015 at 10:59 AM, Andrey Okonetchnikov <
andrej.okonetschnikow@gmail.com> wrote:

--
With best regards,
Andrey Okonetchnikov

http://okonet.ru

[2015-09-03 09:05] mik01aj commented on #1092
[The `eslint-plugin-should-promised` plugin](https://github.com/dbrockman/eslint-plugin-should-promised) does something similar, but only for tests using `should`. Would be nice to have something like this for a generic use case. @andersekdahl, how's it going?

[2015-09-03 11:02] henit opened #3638 "Better error message on wrong indentation type [$5]"
Hi.

I just installed eslint, and in one of my files, I got this error on most of the lines:

    error  Expected indentation of 4 space characters but found 0  indent

The eslint config was set to 4 space indentation, and since I was not used to eslint, I got very confused since the lines in that file had indentation. I found out that this particular file had tab indentation, and like most editor

[2015-09-03 12:36] IanVS commented on #3592
Seems this is resolved according to https://github.com/AtomLinter/linter-eslint/issues/202#issuecomment-137372458.

[2015-09-03 12:36] #3592 closed

[2015-09-03 12:49] IanVS commented on #3638
For these kinds of cases where the wrong type of character is used (spaces/tabs), @BYK and I have talked about changing the error message to something like:

[code]

Would something like that address your request?

[2015-09-03 13:23] mik01aj opened #3639 "Smarter complexity computation for max-complexity and max-nested-callbacks"
It is pretty common now to use functional-style loops and constructs. While they are imho much cleaner, they still increase the complexity. Right now, from what I understand, the inner iteration function is treated as a separate function and doesn't add up to the overall complexity.

Consider these code examples:

1. This one can be really complex, but because it uses `forEach` instead of `for` lo

[2015-09-03 13:48] hzoo commented on #3134
JSCS currently fixes as many errors as possible and then outputs the errors that don't support fixing like normal. It might be better to also output how many of each rule were fixed. An interactive mode/mode that just fixes everything without a prompt could be a separate option? You can always check the git diff and reset but there's different use cases

[2015-09-03 13:56] fab1an opened #3640 "no-unused-vars: varsIgnorePattern doesn't work"
I have `no-unused-vars": [2, {"varsIgnorePattern": "^L$"}],` set to ignore my Logger declaration in each file: `const L = Logger.getLogger("ProPage2.Mutations")`.

It does not work. I'm using eslint 1.0.0

[2015-09-03 14:22] BYK commented on #3640
Hi @fab1an. This feature was added in ESLint v1.3.0: http://eslint.org/blog/2015/08/eslint-v1.3.0-released/

[2015-09-03 14:22] #3640 closed

[2015-09-03 14:24] BYK commented on #3636
The issue actually seems larger than that. `consistent-as-needed` doesn't warn when quotes are necessary at all. I'm refactoring the rule to make it use the same mechanism as `as-needed` but it's not as easy as I thought.

In the mean time, feel free to submit a PR if you think you have a solution.

[2015-09-03 15:02] btmills commented on #3561
I can take lead on cleaner schemas for #3625.

[2015-09-03 15:28] platinumazure commented on #2716
There hasn't been much discussion since I suggested deprecating `no-negated-in-lhs` in favor of something more generic that operates on specific binary expressions. Anyone else have thoughts on that?

[2015-09-03 16:10] PhilVargas opened #3641 "Proposal: init-declarations (using never) ignore for loops"
init-declarations set to never does not allow variables to be assigned on declaration, however this doesn't mix well when using a for loop. the typical use case of this setting is like so:

[code]

however a common use of a for loop inits the counter variable inline
[code]

this raises a warning from `init-declarations: [1, "never"]`.

ideally, i'd like to see an option present to not raise this e

[2015-09-03 16:16] nzakas commented on #3561
Great, updated the description

[2015-09-03 16:30] nzakas commented on #3134
One constraint we have: problem messages are not tied to fixes, so it's difficult to say "we fixed this message." Also, proposed fixes might be skipped if they can't be done safely, so not all proposed fixes are actually applied. I can spend some time looking at a way to relate messages with fixes, but it will likely get ugly.

For 1, we could just output unfixed messages uses our current formatte

[2015-09-03 17:13] nzakas commented on #3617
Globals in config files are omitted from `no-unused-vars`. We should be able to add a location to inline globals.

[2015-09-03 17:17] btmills opened #3643 "Protect master branch"
https://github.com/blog/2051-protected-branches-and-required-status-checks

Hooray! :fireworks: By protecting the master branch, we can now:

- Prevent force pushes to master
- Require all PRs to pass CI before merging

@nzakas you're the one with permissions for this.

[2015-09-03 17:23] BYK commented on #3643
:tada:

[2015-09-03 17:28] btmills commented on #3134
1. I agree with @ilyavolodin's suggestion of outputting fixed messages. The tool should notify users that something was changed. Until formatters support fixed messages, I think outputting only unfixed would be fine.
    Interactive prompts would be nice, but I don't think it's crucial to have initially. It doesn't preclude adding `--fix-interactive` down the line.
2. I concur - successful fixes a

[2015-09-03 17:29] mehcode opened #3644 "Proposal: Enforce typed exception catching"
[code]

It'd be nice to allow the normal form with some sort of comment or otherwise explanation.

[code]

[2015-09-03 17:36] nzakas commented on #3587
Omitting this check is a breaking change, so it might be better to deprecate the existing rule and start work on a new one.

[2015-09-03 17:37] nzakas commented on #2419
We will look into this after 2.0.0, unless someone wants to investigate in the meantime.

[2015-09-03 17:41] nzakas commented on #3589
Okay, so we should consider these two separate changes:

1. There was a bug in `no-useless-concat` where it would flag non-string values.
1. There was a bug in `prefer-template` where it was not flagging literals.

We need to be careful about making changes to existing rules without being certain why we're doing it, as these could be breaking changes to existing users unless we identified them as

[2015-09-03 17:42] za-creature commented on #2517
This is still broken for me as of 1.3.1:

[code]

Seems that the current implementation only checks one level. Additionally, globals also trigger the warning ( `console.log(k)` instead of `return k` would break the first example too). Also tested on http://eslint.org/demo/

[2015-09-03 17:43] nzakas commented on #3627
Thanks, yeah, that's definitely a bug.

[2015-09-03 17:45] nzakas commented on #3614
Hate to get technical about wording, but "chain" implies more than one, but clearly this applies to even one instance. I'd think something like `MemberExpression.multiline` would be most appropriate and follows with our existing options that use node types.

[2015-09-03 17:45] Dashed commented on #3589
The rule `no-useless-concat` is just being redefined from its original implementation; is this still considered a bug?

[2015-09-03 17:46] nzakas commented on #3619
@lo1tuma yup, that's my proposal.

Ah yeah, I remember that issue, comments are hard. Maybe what we really need is a command line flag that disables the use of configuration comments?

[2015-09-03 17:46] btmills commented on #2668
For the original issue, how about `"groups": ["all", "adjacent"]`? @apierzch @heldinz :+1: / :-1: ?

@zyklus I'm not sold yet, but I could be convinced. What you're asking for is that there are three possible ways to align a property:

1. Whatever the rule calculates given `align`, `beforeColon`, and `afterColon`
2. Same as the previous property
3. Same as the next property

Would you require that

[2015-09-03 17:51] nzakas commented on #3633
Ah, so this is interesting.

[code]

This is technically not shadowing, as shadowing means that a declaration has the same name as an existing binding in an upper scope. In this case, what you have are two declarations for the same binding in the same scope. So really the rule we're talking about here is `no-redeclare`.

From my test, it looks like `no-redeclare` flags this case. Can you confirm?

[2015-09-03 17:56] apierzch commented on #2668
Actually `all` vs `adjanced` doesn't sound intuitive for me. In my opinion `"groups" : true|false` seems to reflect expected behavior (and I'm not influenced by implementation, since I don't know it).

[2015-09-03 18:10] #3612 closed

[2015-09-03 18:14] nzakas commented on #3637
Thanks for the suggestion. I'm not sure it's worth having a core rule for this, but I'd encourage you to explore creating a [custom rule](http://eslint.org/docs/developer-guide/working-with-rules) if you'd like such a rule.

[2015-09-03 18:14] #3637 closed

[2015-09-03 18:18] xjamundx commented on #3637
@ronkorving I'd be happy to add this rule to https://github.com/xjamundx/eslint-plugin-modules

[2015-09-03 18:20] nzakas commented on #3639
I understand where you're coming from, but the formula for cyclomatic complexity is well-established for all languages and I don't think altering it has any benefit whereas it has numerous downsides. In your example with `forEach()`, the loop is not actually happening in your code, it's happening under the covers, thus it does not affect the complexity of your code (though it does affect the compl

[2015-09-03 18:20] #3639 closed

[2015-09-03 18:21] nzakas commented on #2716
I'd say go forward with `no-unsafe-negation`.

[2015-09-03 18:23] nzakas commented on #3641
Is it just in `for` loops you'd like an exception?

[2015-09-03 18:25] nzakas commented on #3643
Awesome. It's not rolled out yet, but will definitely do it once available!

[2015-09-03 18:26] nzakas commented on #3134
Yeah, I'm thinking along the same lines for 3.

[2015-09-03 18:27] nzakas commented on #3644
@eslint/eslint-team thoughts on this?

[2015-09-03 18:28] nzakas commented on #3589
It's not being redefined. The rule's purpose was to flag unnecessary concatenation and it was incorrectly flagging necessary concatenation.

[2015-09-03 18:29] #3575 closed

[2015-09-03 18:29] #3589 closed

[2015-09-03 18:38] ilyavolodin commented on #3644
Hmm.. I think this is not JavaScript practice. This is a good practice for typed languages such as Java and C#, but I'm not sure I buy this for JavaScript. But whether I agree or not - doesn't really matter. I think this is rare enough of a practice to be a plugin, not a core rule (I don't think I've seen many, or any, for that matter, code bases that require this).

[2015-09-03 19:04] paulcbetts commented on #3633
This doesn't seem to flag for me, but maybe I'm running an out-of-date version or have something borked in my setup. Another case that should be flagged is paving over imports:

[code]

IMHO, import statements should be treated as const, though I don't know where the ES6 spec lands on this - I imagine that 95%+ of the time, reassigning an import is done accidentally

[2015-09-03 20:09] gyandeeps commented on #3625
If I understand this proposal correctly then is it really a breaking change?

[2015-09-03 20:16] gyandeeps commented on #3626
I see this problem as a change problem. How change is not very nice. Like if you start using 0, 1 and 2 then you kinda get comfortable with it after a while. I bet if we come up with a new system then that change would again be a bottle neck for people too. This is my thought.

In India I used to drive on the left side of the road, but when I came to US then I had to drive on right side. Took a li

[2015-09-03 20:41] #2998 closed

[2015-09-03 20:43] ilyavolodin commented on #3633
Imports should be although caught under `no-redeclare`, just verified in online demo and `let fs = 72` will be flagged.

[2015-09-03 20:44] ilyavolodin commented on #3625
It would be a breaking change only for plugin creators, consumers will not see anything at all.

[2015-09-03 20:46] gyandeeps commented on #3625
Got it. Thanks @ilyavolodin

[2015-09-03 21:13] paulcbetts commented on #3633
Weird, it's like no-redeclare has no effect on my box. Hm. Well, I'll consider this closed since it seems like I'm Doing Something Wrong™

[2015-09-03 21:34] BYK commented on #3644
+1 to @ilyavolodin

[2015-09-03 21:38] BYK commented on #3614
That works for me.

[2015-09-03 21:39] BYK commented on #3587
Okay, this works for me. So the name should be `space-ops` and it would allow enforcing putting spaces and not putting spaces with per-operator overrides, right?

[2015-09-03 21:58] ilyavolodin commented on #3633
Let us know if you will not be able to figure out what's causing your issue.

[2015-09-03 21:58] #3633 closed

[2015-09-03 21:58] #3636 closed

[2015-09-04 01:30] IanVS commented on #826
This issue has been around for over a year with no movement.  Is that an indication that demand is low and it can be closed?

[2015-09-04 02:04] mysticatea commented on #2517
@za-creature Thank you for the report. I confirmed.

Hmm, I thought that is not related with nesting.
I thought "This rule should allow variables which are not modified."

[code]

This is a different enhancement from this issue. So could you open new issue?

[2015-09-04 02:08] IanVS opened #3646 "`quotes` never flags nested quotes"
Given the following, shouldn't there be an error, since the `"avoid-escape"` option is not set?

[code]

But, when I run this, I get no errors.  I checked with the Espree demo, and there is only a single literal node: `"a string containing 'single' quotes"`, and the way the rule works, the interior quotes are never examined.  I was also surprised there are no invalid test cases for nested quotes.

[2015-09-04 02:29] zyklus commented on #2668
@btmills -- To me the issue is newlines/comments and when/where they're added.

Let's say I have:

[code]

All nice and aligned.  Now I want to add a comment:

[code]

I don't want to be forced to re-align the first two keys.  At the same time, I'd copied these objects from one object to another, e.g. it was originally:

[code]

I don't want to be forced to align keys.  What it comes down to is th

[2015-09-04 03:27] platinumazure opened #3648 "Docs: Working with plugins: Possible incorrect term?"
Looking at the [plugin guide's processor section][1], I noticed a possible typo:

I assume the bolded should be `processors`?

  [1]: http://eslint.org/docs/developer-guide/working-with-plugins.html#processors-in-plugins

[2015-09-04 03:29] mysticatea commented on #3646
I thought it's valid.

[code]

[code]

[2015-09-04 03:33] IanVS commented on #3646
I'm not sure I understand the rule the same way.  Without `"avoid-escapes"`, I think ALL quotes should follow the rules specified, and nested quotes must be escaped rather than using the alternate style.

Maybe that's just my assumption, that the outer quotes should always follow the rules, and the inner quotes should either be escaped, or the `"avoid-escapes"` option should be used to enable alte

[2015-09-04 03:36] IanVS opened #3649 "Incorrectly warning about ignored files"
After globs were added to the cli input in 5a599c70a98eaed0d43a8f28690921ef4ad0702d, my command to lint rule docs has broken:

[code]

Compare to my output if I revert to the commit prior to globs being added:

[code]

Something appears to have changed in how files are determined to be ignored.  Furthermore, if I follow the warning's advice and add `--no-ignore`, the warning is not shown, but the

[2015-09-04 03:54] ilyavolodin commented on #3648
Yes, you are correct. I originally called them `preprocessors`, so the term got stuck in my head.

[2015-09-04 03:55] mysticatea commented on #3646
The option seems to be added in this issue: #199

[2015-09-04 03:56] ilyavolodin commented on #3646
@IanVS It's slightly different. Without `avoid-escape` this rule will accept escaped quotes as well as another type of quotes inside strings. With it, it will flag any escaped quotes.

[2015-09-04 03:59] gyandeeps commented on #3649
I am lil confused with the path you provide to run eslint which is from node_modules folder but all the other paths like eslintignore file path come from a different location.

[2015-09-04 04:13] michaelficarra commented on #3633
No rules should be handling these because they are not programs. If they are parsing, an issue should be opened in the parser that you are using.

[2015-09-04 04:20] IanVS commented on #3649
I'm running this from inside the eslint project.  I don't have ESLint installed globally, and with the `eslint-plugin-markdown` that I'm using, I've had to install eslint within eslint (which I do with an `npm link` and `npm link eslint`).  It's a little unorthodox, I know, but it was working just fine.  I could also have done:

[code]

There is no eslintignore path being specified, so I'm not sur

[2015-09-04 04:22] IanVS commented on #3649
Oh, and if you're wondering, `conf/rule-doc-config.json` is:

[code]

[2015-09-04 04:25] IanVS commented on #3646
Are you sure?  The following gives me no problems:

[code]

[2015-09-04 04:36] IanVS commented on #3646
This also passes:

[code]

So, it seems that the only condition when using `"avoid-escape"` is that one of the correct kinds of quotes is found somewhere in the string.  It allows the non-standard quotes to be used on the outermost positions, that's it.

There's currently no way to force the use of escaping to maintain a single style of quotes.  Not sure if that's a bug or not, but it seems like s

[2015-09-04 04:48] PhilVargas commented on #3641
its the only common deviance that comes to mind.

[2015-09-04 05:00] czjvic opened #3650 "no-extra-boolean-cast - extend for Boolean()"
This rule should probably report also following construction:
[code]

Version 1.3.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26438645-no-extra-boolean-cast-extend-for-boolean?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.co

[2015-09-04 05:12] czjvic opened #3651 "new rule validate-comment-syntax"
Source code
[code]

Expected result
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26438751-new-rule-validate-comment-syntax?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2826

[2015-09-04 05:12] FarSeeing commented on #826
I guess so.

[2015-09-04 09:20] sindresorhus commented on #3638
I've seen many people being confused by that error message.

:+1:

[2015-09-04 09:20] farin opened #3652 "Proposal: add 'allowOnTop' option to no-param-reassign rule"
When allowOnTop is true, reassign is allowed at the beginning of function scope (same concept like var statement in vars-on-top rule).

The reason - I don't want to reassign params except intended setting default like:
[code]
This can be avoided in ES6 with default arguments, but they can't used in all cases, for instance making a defensive copy:
[code]
You can use `_` prefix or new variable `data

[2015-09-04 09:23] BYK commented on #3638
I'm :+1: too.

[2015-09-04 09:44] nfroidure commented on #3638
:+1:

[2015-09-04 12:04] ilyavolodin commented on #3633
@michaelficarra Why would this be a parser issue? It seems like legal code to me that you shouldn't write.

[2015-09-04 12:05] ilyavolodin commented on #3646
Agree. Latest examples seems like a bug

[2015-09-04 12:07] #3265 closed

[2015-09-04 13:31] ilyavolodin commented on #3634
@TDA Can you try to change your inline declaration to:
[code]
And see if you still have the same issues? `complexity:7` is invalid syntax, first argument in the array should always be severity flag.

[2015-09-04 13:33] ilyavolodin commented on #3641
I would imagine this should apply to `while` loops as well, and `for..in, for...of` in that case.

[2015-09-04 13:38] ilyavolodin commented on #3650
I think I agree. @eslint/eslint-team any thoughts?

[2015-09-04 13:39] PhilVargas commented on #3641
Ah yes. Generally, I figured anything that uses a temp variable could apply to this rule. Thanks for pointing those out!

[2015-09-04 13:39] ilyavolodin commented on #3651
I think the same behavior can be achieved by using [spaced-comment](http://eslint.org/docs/rules/spaced-comment). Not sure if a separate rule is required.

[2015-09-04 13:43] ilyavolodin commented on #3652
What should happen in the case like this:
[code]
Should options override be flagged?

[2015-09-04 14:11] farin commented on #3652
@ilyavolodin
do you mean `items: options.items`
in such case I am using

[code]
so I still ok with allow just pure top and flag your example.

[2015-09-04 14:18] popomore opened #3653 "Problem with no-extra-parens"
I use mocha for test, and always write the following code for asserting function exception.

[code]

I configured `no-extra-parens` with `2`, and got the error (eslint version is 1.3.1).

[code]

Is there any best practice for this?

[2015-09-04 14:35] btmills commented on #3653
I just verified this on the demo. The rule already handles IIFEs, but this time the `FunctionExpression` is the `object` of a `MemberExpression`. Note that removing the parens causes a syntax error, so they really are required.

[2015-09-04 15:09] #3232 closed

[2015-09-04 15:15] woutderooms opened #3654 "'space-after-keywords' not working for 'catch'"
[code]
This does not seem to give an error when the following rule is set:
[code]

It does work for other keywords.

eslint v1.3.1

[2015-09-04 15:19] nzakas commented on #3626
I mostly agree. The complaint keeps coming up, though, so I want to be sure we really think there's no other options before dismissing.

[2015-09-04 15:20] ilyavolodin commented on #3654
I was able to verify this in online demo. The following code:
[code]
only gets one error back about no space after `try`. Nothing about `catch`.

[2015-09-04 15:22] ilyavolodin commented on #3649
This looks like a bug. On top of that, we should decorate code that loads `.eslintignore` with debug statements, so we could trace them.

[2015-09-04 15:23] nzakas commented on #3644
@mehcode I'd suggest you take a look at creating a custom rule for this use case.

[2015-09-04 15:23] #3644 closed

[2015-09-04 15:24] nzakas commented on #3587
Per-operator and per-location

[2015-09-04 15:29] nzakas commented on #826
Agree. @FarSeeing you are still free to create a custom rule if you need this functionality.

[2015-09-04 15:29] #826 closed

[2015-09-04 15:33] nzakas commented on #3646
Just to close the loop: this rule is about quotes used to define strings and nothing else, so no "inner quote" checking is done unless the "avoid-escape" option is used. Even then, it only makes sure that you don't escape a quote character because you used it in the string.

[2015-09-04 15:34] nzakas commented on #3634
Also, if you upgrade ESLint, we added configuration validation in later versions.

[2015-09-04 15:35] nzakas commented on #3650
:+1:

[2015-09-04 15:44] IanVS commented on #3646
This may be the intent, but as I showed [above](https://github.com/eslint/eslint/issues/3646#issuecomment-137647092), it is not the current behavior.

The current behavior of `"avoid-escape"` is to allow the opposite quote style around a string, as long as the specified quote style is found within the string.

[2015-09-04 15:46] iamstarkov opened #3655 "react/prop-types is not working with es6/es2015 classes"
If you define [propTypes inside es6 class (gist)](https://gist.github.com/iamstarkov/0794ed08cae25c4dd23c), then eslint doesnt recognize them
![screen shot 2015-09-04 at 17 45 43](https://cloud.githubusercontent.com/assets/559321/9687987/d0ae3300-532c-11e5-8954-cee688f27ea7.png)

[2015-09-04 15:49] nzakas commented on #3655
Please file an issue with the `eslint-plugin-react` project.

[2015-09-04 15:49] #3655 closed

[2015-09-04 15:51] IanVS commented on #3649
@BYK Do you think you could take a look at this?  It seems you did quite a few changes to the ignore logic when you implemented globs.

[2015-09-04 15:54] michaelficarra commented on #3641
@ilyavolodin `while` doesn't have an initialiser.

[2015-09-04 15:57] Qix- commented on #3477
:+1:

[2015-09-04 16:35] iamstarkov commented on #3655
Thank you

[2015-09-04 16:46] michaelficarra commented on #3633
[15.1.1](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-scripts-static-semantics-early-errors):

[15.2.1.1](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-module-semantics-static-semantics-early-errors):

[13.2.1](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-block-static-semantics-early-errors):

... etc.

[2015-09-04 16:54] gyandeeps commented on #3649
@IanVS Can you share the content of `.eslintignore` . thanks

[2015-09-04 16:55] IanVS commented on #3649
There's not one.  I'm linting the eslint rule docs.

[2015-09-04 17:15] ilyavolodin commented on #3633
Nice! Thanks for the explanation. In that case, yes, this should be an espree ticket. I wonder if Esprima catches this, or acorn.

[2015-09-04 17:19] paulcbetts commented on #3633
Aha, so I'm using babel-eslint which is probably letting this slide

[2015-09-04 17:28] michaelficarra commented on #3633
The Shift parser gets it right :grin:.

[2015-09-04 17:54] TDA commented on #3634
@ilyavolodin That does solve it, and we do have complexity set to [2, 6] in most of our repos, this particular thing is weird because eslint still threw a warning when `complexity: 7` was declared, much like how it would react to `complexity: [1, 7]`
And I still don't understand why setting `complexity: 0` does not override that, but `complexity: [0]` does. I think its no longer relevant to the la

[2015-09-04 18:01] ilyavolodin commented on #3633
Esprima also doesn't get it right. Can't find online demo for acorn to test this out.

[2015-09-04 18:03] ilyavolodin commented on #3634
@TDA Glad that it helped. I'm not really sure about why `complexity: 0` didn't work. It should. You are correct, it should behave exactly like `complexity: [0]`. But I think manual upgrade solved your issue, so I'm going to close this. Feel free to reopen if you find other instances of this problem.

[2015-09-04 18:03] #3634 closed

[2015-09-04 19:49] gyandeeps commented on #3649
Here is the answer, Becausse by default eslint looks for file with extensions `.js`. Now if you say `--ext .md` then it would work fine.

[2015-09-04 19:54] IanVS commented on #3649
Previously, if you specified a full filename, it would be linted no matter the extension, which I believe is correct.  The `--ext` flag should only be needed when you are providing a directory to search, IMHO.

[2015-09-04 20:28] nzakas commented on #3649
@ianvs is correct - we should lint anything that is passed explicitly on the command line.

[2015-09-04 21:20] nzakas commented on #3646
Yes, as @ilyavolodin mentioned, that's a bug. We're in agreement on that.

[2015-09-04 21:22] nzakas commented on #3646
Here's the problem:

[code]

The `>=0` is applied to the raw representation, which includes the surrounding quotes.

[2015-09-04 21:25] nzakas commented on #3646
Actually, looks like a bunch of problems. I'll work on this.

[2015-09-04 21:26] michaelficarra commented on #3646
I would prefer avoid-escape to mean that you *may* avoid escaping internal quotes by changing the delimiter, not that you *must* do so. If this is changed, my use case will be lost.

[2015-09-04 21:33] nzakas commented on #3646
Agreed. Looking at the original issue (#199), I believe the correct functionality is to add an exception so that strings pass rather than adding one so that they fail. Example:

[code]

[2015-09-05 00:20] solmsted opened #3658 "Typo in code throws TypeError in ESLint when object-curly-spacing is enabled"
It's easy to accidentally type a `:` instead of a `=` when destructuring a function parameter with a default value.  I discovered that ESLint throws a TypeError instead of reporting a syntax error in the code.  I encountered this error in version `1.1.0` and can reproduce it in version `1.3.1`.

Faulty JS code
[code]

.eslintrc
[code]

Error thrown:
[code]

[2015-09-05 01:22] gyandeeps commented on #1095
closing in favor of #2365

[2015-09-05 01:22] #1095 closed

[2015-09-05 01:28] jimbolla opened #3659 "Feature request: Allow plugins to define their own symbolic names for use with extends"
As requested in yannickcr/eslint-plugin-react#192 it would be useful for plugins to define their own symbolic names for configs. Example:

    {
        "extends": [ "eslint:recommended", "eslint-plugin-react:recommended" ],
    }

Currently, "eslint:recommended" is a [hardcoded value in config.js](https://github.com/eslint/eslint/blob/02c6c848d7d70c285269c54718dbc9c12d3f0720/lib/config.js#L151).

[2015-09-05 02:13] IanVS commented on #3646
https://github.com/eslint/eslint/issues/3646#issuecomment-137858218 seems to be the current behavior.

My original question was about:

[code]

I'm thinking this should pass based on the above discussion.  If so, this issue can be closed.

[2015-09-05 03:31] solmsted opened #3661 "Indent rule VariableDeclarator doesn't apply to arrow functions"
Using ESLint `1.3.1` on this code
[code]

with this .eslintrc
[code]

outputs
[code]

I expected regular functions and arrow functions to have the same indentation rules.

[2015-09-05 04:08] #3648 closed

[2015-09-05 05:00] mysticatea commented on #3627
I will work on this.

[2015-09-05 05:43] platinumazure commented on #3650
Just out of curiosity, how exactly would the rule deal with the possibility of someone redefining `Boolean`? Or aliasing something else to the same constructor?

Maybe the answer is "ESLint is not a semantic analyzer that tracks the value of variables", but... seemed worth asking.

[2015-09-05 05:47] #3632 closed

[2015-09-05 05:50] platinumazure opened #3662 "Feature request: Plugin-level config"
I think it would be pretty cool to be able to accept and set plugin-level config in plugins-- in other words, configuration that is not rule-specific and is meant to configure the plugin as a whole.

As an example of how that could be useful: I was thinking of writing up a plugin for running ESLint against code segments within Crockford-style templates, but in some implementations (e.g., Underscor

[2015-09-05 06:20] mysticatea commented on #3627
I have two questions:

1. Though espree seems to make a `SpreadElement` node for `AssignmentRestElement`, is it correct?
  I guessed espree should make a `RestElement` node.
2. When I consider the code `for ([a, ...rest] of []);`, though espree make an `ArrayExpression` node for `[a, ...rest]`, is it correct?
  I guessed espree should make an `ArrayPattern` node.
  `ArrayLiteral` allows trailing c

[2015-09-05 07:46] sindresorhus commented on #3477
Aren't all of the following rules just a matter of preference too? → http://eslint.org/docs/rules/#stylistic-issues

I use ESLint not only to catch errors, but also to enforce consistency. I often see these two methods used   interchangeably, but I prefer using `RegExp#exec`, and want to enforce that style in my code. This request comes after having had to comment on two recent pull requests about

[2015-09-05 08:14] mysticatea commented on #3271
I sent a PR: estools/escope#78

[2015-09-05 08:29] mysticatea commented on #3617
I will try to fix this.

[2015-09-05 08:34] mysticatea commented on #3617
I found a similar issue around `/*exported`.

[code]

In this case, should `foo` be reported by `no-undef`?

[2015-09-05 10:39] mysticatea commented on #3653
I will try to fix this.

[2015-09-05 11:42] sindresorhus commented on #3599
:+1:

[2015-09-05 11:44] BYK commented on #3599
@sindresorhus any suggestions for the name. Are you okay with `universal`? If so I'll make PR to `globals`.

[2015-09-05 11:57] BYK commented on #3661
Looks like an inconsistency.

[2015-09-05 13:27] benmosher commented on #3662
I have a handful of plugin settings that I use the `.eslintrc` `settings` key to configure, and I prefix with my plugin name:

- `import/parser`
- `import/ignore`
- `import/resolve`

You can see more about how I use them in the [README](https://github.com/benmosher/eslint-plugin-import#settings), but each setting key impacts the execution of most or all of the rule implementations.

I think this i

[2015-09-05 13:28] mysticatea commented on #3658
Thank you for the report!

I confirmed it.
The following code also raised the same error.
I guess there is a cause on an empty `ObjectPattern` node.
I will try to fix this.

[code]

[2015-09-05 13:43] platinumazure commented on #3662
I wasn't aware of ESLint-level settings- thanks for pointing that out. Only
question is, then, do plugins support declaring default settings in the
plugin main file and exporting them in the same place as default rule
configuration? (I know I could specify my defaults inline but I value
readability/maintainability here) Thanks for your help!
On Sep 5, 2015 8:27 AM, "Ben Mosher" <notifications@gith

[2015-09-05 13:56] mysticatea opened #3668 "Rule Proposal: no-empty-pattern [$10]"
Spawned from #3658.

The following code does not raise an syntax error.

[code]

But it's considered developer's intent is below.
Because an empty `ObjectPattern` effects nothing.

[code]

So this proposal defines new `no-empty-pattern` rule.
This rule considers the following patterns as warnings:

[code]

This rule does not consider the following patterns as warnings:

[code]

----
I'm not sure t

[2015-09-05 14:03] mysticatea commented on #3658
I made a proposal for new rule which catches this mistake.

[2015-09-05 14:06] mysticatea commented on #3668
`import {} from "foo";` is the similar one.

[2015-09-05 14:15] mysticatea commented on #3668
Is `no-empty-declaration` a good name?
These patterns does not declare any variable.

[2015-09-05 14:17] IanVS commented on #3650
@platinumazure I believe that would be covered by [no-native-reassign](http://eslint.org/docs/rules/no-native-reassign).

[2015-09-05 14:33] BYK commented on #3626
I feel like `errors/warnings/disabled` syntax is a nice way forward.

[2015-09-05 14:36] IanVS commented on #3646
Sorry, one more question, should this result in an error?

[code]

[2015-09-05 14:45] #3661 closed

[2015-09-05 15:10] benmosher opened #3670 "Provide access to parser from plugin."
Hello,

For my [ES6 import-validating plugin](https://github.com/benmosher/eslint-plugin-import), I parse dependencies and ensure import statement are valid.

Currently, if a user is using a custom parser (generally `babel-eslint`) they must configure it twice in the `.eslintrc`file, once at the top level (`parser`) and again in `settings` ([`import/parser`](https://github.com/benmosher/eslint-plu

[2015-09-05 15:21] ilyavolodin commented on #3662
@platinumazure Both of the things you are asking for are already in ESLint (I added them when I was creating my plugin). And since you mentioned my plugin, it uses both plugin level settings as well as rules defaults. At the bottom of [this](https://github.com/ilyavolodin/eslint-plugin-backbone#modify-eslintrc-for-your-project) section you can see the usage of `settings`. Since backbone is flexibl

[2015-09-05 15:23] ilyavolodin commented on #3668
What about `var` and `const`? I assume those are going to be affected too?

[2015-09-05 15:25] ilyavolodin commented on #3646
@IanVS first example should pass without warning. Second should fail.

[2015-09-05 15:27] nzakas commented on #3627
These seem like Espree bugs. Can you file issues for those?

[2015-09-05 15:32] nzakas commented on #3646
It seems like what we really need here is to update the docs to better explain the current behavior.

[2015-09-05 15:36] nzakas commented on #3670
@benmosher I'm sorry, I'm having a hard time understanding what you're doing. Plugins and rules are designed so that shouldn't need to know what parser is being used, as they should not be parser-dependent. Can you explain why you need to include the parser?

[2015-09-05 15:39] nzakas commented on #3650
@platinumazure ESLint is not a semantic analyzer that tracks the value of variables :)

[2015-09-05 15:40] platinumazure commented on #3650
@nzakas Har har har. :-)
On Sep 5, 2015 10:39 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-09-05 15:43] platinumazure commented on #3662
What I'm getting at is being able to declare default settings in the main
plugin file. That doesn't seem to be possible at this point.
On Sep 5, 2015 10:21 AM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-09-05 16:01] benmosher commented on #3670
As one example, given
[code]
in the file being linted by ESLint proper, my plugin will
- resolve the path to `./foo`
- parse it (this is where I'd like to share the setting / parser object)
- find its ES6 exports:
[code]
- validate that `x`, `y` are each exported by `./foo`.

Given `foo.js` above, the import of `y` would be reported as an error. (`import/named`)

There are a number of other simila

[2015-09-05 16:07] nzakas commented on #3670
Ah, interesting. So really what we are talking about here is giving a rule access to which parser is being used. We can just stick that on `context` so all rules can see it.

[2015-09-05 16:09] nzakas commented on #3662
You're correct, this is not possible because settings go in one direction from config file into plugins and rules. Plugins can't force settings on users.

[2015-09-05 16:11] platinumazure commented on #3662
Well, I certainly wouldn't want a plugin to select or enforce a global
setting for the user, but configuration internal to the plugin that could
be shared among rules and modified by the user could still come in handy.

I'll give it a try with the global settings though. Feels a bit
convention-y for my liking but as I said, I can understand the reasoning.
Thanks!
On Sep 5, 2015 11:09 AM, "Nicholas

[2015-09-05 16:13] nzakas commented on #3659
Related: #3458

That's an interesting idea! How would you envision defining those configs in the plugin?

[2015-09-05 16:18] nzakas commented on #3662
I'm not shooting down your idea, just explaining how things work right now. Feel free to make a proposal about his you would envision this working and why it would be preferable to using `settings`

[2015-09-05 17:11] #3654 closed

[2015-09-05 17:14] jimbolla commented on #3659
I assume it'd be another property in the plugin definition:

    var strict = require(

    module.exports = {
        rules: { /* ... */ },
        extendsAliases: {
            "strict": require("./conf/strict.json"),
            "recommended": require("./conf/recommended.json")
        }
    };

The convention could be that callsite prepends the plugin name and colon so that using it would look

[2015-09-05 17:34] mysticatea commented on #3668
Yes, this rule covers `var` and `const`.

I thought this rule is super simple.

[code]

[2015-09-05 17:38] mysticatea commented on #3627
Sure.

[2015-09-05 21:30] solmsted opened #3672 "no-extra-bind should flag arrow functions using 'this'"
Arrow functions bind `this` lexically.  When an arrow function is used with `Function.prototype.apply`, `Function.prototype.bind`, `Function.prototype.call`, or `Reflect.apply` the thisArgument is silently ignored.  These functions are still useful for specifying arguments to the arrow function but they can create confusing errors if the new value of `this` is expected to be applied.  I propose a

[2015-09-05 22:32] #3617 closed

[2015-09-06 00:40] MikaAK opened #3673 "Indent issue with 3 const and multi line declaration"
ESlint Version `1.2.1`

I think this has something to do with a similar bug here #3498

**Removing the CAT constant will fix the lint error**

### Test Code

[code]

### Error
[code]

[2015-09-06 00:47] nzakas commented on #3659
Ah I see. I think I'd just call that key `configs`, but otherwise, I like it.

@eslint/eslint-team thoughts?

[2015-09-06 00:49] nzakas commented on #3672
We already have a rule that does that: http://eslint.org/docs/rules/no-extra-bind

The documentation should be updated, as there are no arrow functions, but the rule definitely flags arrow functions.

[2015-09-06 00:57] nzakas commented on #3477
In practice, this rarely happens. There's nothing magic about core rules, and especially with the number we have, many get lost in the shuffle. Also, everyone pretty much says this when proposing a rule. :)

@byk you like this rule, why do you think it should be a core rule instead of a plugin?

Just a reminder to everyone, you can always create this rule yourself, regardless of inclusion in core.

[2015-09-06 00:59] nzakas commented on #3668
Yeah, seems like a good idea

[2015-09-06 01:01] nzakas commented on #3673
Can you try adding a semicolon after `CAT` and see if that fixes it?

[2015-09-06 01:06] MikaAK commented on #3673
@nzakas yes indeed this fixes it. My project however doesn't use semicolons!

[2015-09-06 01:10] nzakas commented on #3673
See the pain no semicolons causes! :)

We've seen similar things before due to the parsing differences when there's a semicolon vs. when there's not, that's why I was asking.

[2015-09-06 01:20] ilyavolodin commented on #3659
Just to clarify, we are talking about `eslint-plugin-` not `eslint-config-` right? I don't have a problem adding this in, I'm just wondering why we should keep `eslint-config-` around if this going to be added to plugins. Seems like we would have two separate ways to get the same exact result.

[2015-09-06 01:29] IanVS commented on #3646
@ilyavolodin

OK, the first example does pass, but so does the second. :-/

[2015-09-06 01:30] ilyavolodin commented on #3670
Honestly, it feels to me that what you are trying to achieve goes beyond the scope of what plugins are supposed to be able to do. Plugins were designed to be simple collections of custom rules.
I proposed something like this a long time ago, but as part of the core of ESLint. I wanted to be able to import global variables based on comments (as in if file "a" says that it depends on file "b" - pars

[2015-09-06 02:05] ilyavolodin commented on #3646
That looks like a bug, not a documentation issue. @nzakas any thoughts? Rule requires single quotes around strings, and `avoid-escape` should change that behavior, since quotes inside are already escaped.

[2015-09-06 03:02] IanVS opened #3674 "`valid-jsdoc` not erroring as documented"
According to the documentation, all of the following should give errors, but they do not:

[code]

[2015-09-06 03:03] IanVS commented on #3674
Nevermind, an error is not reported unless there is actually a function under the comment.  When inserted, errors occur as expected.

[2015-09-06 03:03] #3674 closed

[2015-09-06 03:07] gyandeeps commented on #3673
Duplicate of https://github.com/eslint/eslint/issues/3498
Released on `1.3.0`

[2015-09-06 03:10] IanVS commented on #2271
I've finally hit a rule for which I cannot provide expected errors the way I've been doing.  That is `valid-jsdoc`, because as soon as I add an `/*error ...*/` comment on the line with the error, the comment is no longer valid jsdoc and stops being considered by the rule.  For now, I'll set the rule to warning, but will likely need a better long-term solution.

[2015-09-06 04:14] IanVS opened #3675 "`no-unused-expressions` behavior does not match docs for `allowShortCircuit: true`"
According to the docs, this should not cause warnings:

[code]

But, it gives:

[code]

The second example given, (`a() || (b = c)`) behaves correctly.

[2015-09-06 04:18] IanVS commented on #3675
I don't see how this would be related to short-circuiting, so I'm guessing it should be removed from the docs.

[2015-09-06 04:22] IanVS commented on #2271
`no-warning-comments` is waiting on https://github.com/eslint/eslint/issues/3619.

[2015-09-06 04:32] IanVS commented on #3617
:clap:

[2015-09-06 04:41] IanVS opened #3676 "Docs: Change "considered warnings" to "considered problems" in rule docs"
Split from discussion in https://github.com/eslint/eslint/pull/3574#issuecomment-137300189.

Now that the rule doc examples are configured as errors, it could be confusing to say they are "considered warnings", when the intent is only to say that they will be caught by the linter.  New wording will be:

`The following patterns are considered problems:`

and

`The following patterns adhere to this

[2015-09-06 04:44] popomore commented on #3653
Thx @mysticatea

[2015-09-06 05:58] solmsted commented on #3672
I could be mistaken but if I understand you correctly, I feel like the implementation of `no-extra-bind` is incomplete.  Here are some tests I ran.  All of these used version 1.3.1 and this .eslintrc:
[code]

The basic check as described in the docs warns as expected:
[code]
`  1:22  error  The function binding is unnecessary  no-extra-bind`

As you pointed out, it warns as expected with arrow fun

[2015-09-06 07:48] littlee opened #3677 "Can eslint use a global `.eslintrc` file?"
Can eslint use a global file?
when I create a new project, I have to run `eslint --init` in each project,
how do I let eslint use a global `.eslintrc` file?

[2015-09-06 13:27] lo1tuma commented on #2011
I’m going to work on this, as soon as eslint/espree#197 is fixed.

[2015-09-06 14:40] btmills commented on #3677
If eslint doesn't find a `.eslintrc` anywhere in your project, it will look for one in your home directory (`~/.eslintrc` or `C:\Users\username\.eslintrc`).

[2015-09-06 15:37] btmills commented on #2668
@zyklus:

Ah! Take a look at #3549. It adds a `mode` option, which defaults to `"strict"`, the current behavior, but can be set to `"minimum"`, which will allow one or more spaces when `beforeColon` or `afterColon` are set to `true`.

[2015-09-06 16:04] nzakas commented on #3670
@ilyavolodin you're going quite a bit off the topic here. :) What we are talking about is just exposing info from `.eslintrc` to rules. We already expose `ecmaFeatures` and `settings`, so I don't see this as much different than that.

[2015-09-06 16:06] #3677 closed

[2015-09-06 16:09] nzakas commented on #3676
"Adhere" is a bad word. It's hard to understand what it means in general, and it's uncommon enough that non-native English speakers will struggle with it.

I'd just stick with "The following patterns are not considered problems"

[2015-09-06 16:25] nzakas commented on #3646
I'm having trouble tracking this conversation. I'd like to ask that when reporting additional possible bugs that we follow the convention of:

1. Here's what I did
2. Here's what happened
3. Here's what I expected to happen

The "what should this do?" line of questioning is hard to triangulate for me.

I don't believe this should be a warning:

[code]

Because it is functionally the same as this:

[2015-09-06 16:26] nzakas commented on #3659
Yeah, we would probably deprecate shareable configs as a standalone thing, but we can't remove support for them.

[2015-09-06 16:27] nzakas commented on #3659
@jimbolla are you interested in submitting a pull request for this?

[2015-09-06 16:37] nzakas commented on #3672
We don't ever do this, it's too dangerous to check in some cases but not others. It also sets expectations poorly for how ESLint works.

If we did this, it would be a separate rule. That said, I don't see this as the same as `bind`, so I'm not sure such a rule would be useful. Unlike `bind`, the other methods don't create a new function so there's less occasion for trouble.

As already mentioned,

[2015-09-06 16:39] nzakas commented on #3673
Thanks @gyandeeps. You can feel free to close issues that are duplicates.

[2015-09-06 16:39] #3673 closed

[2015-09-06 16:43] nzakas commented on #2271
How about using line comments instead of block comments?

[2015-09-06 16:50] michaelficarra commented on #3646
:+1:

[2015-09-06 18:39] mdziekon opened #3678 "ES2015's object literal shorthand properties breaks `key-spacing`"
It appears that passing shorthand property to object literal breaks `key-spacing` rule:
[code]

with these errors
[code]

ESLint version: v1.3.1
``.eslintrc`` file: http://pastebin.com/0Z76EfZm

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26488720-es2015-s-object-literal-shorthand-properties-breaks-key-spacing?utm_campaign=plugin&

[2015-09-06 18:47] benmosher commented on #3670
One thought: a benefit to providing the actual parser module (instead of just the string from the `parser` key in config) is that the module would need only to be reachable (`require`-able) from ESLint, and not also the plugin.

That said, I suspect there aren't many cases where it would matter as one or both are likely installed globally, and just the string value would be an improvement over the

[2015-09-06 19:02] jimbolla commented on #3659
Sorry, I doubt I could implement this any timely manner.

[2015-09-06 19:19] mdziekon commented on #3678
False alarm, it appears I was just using an old version of ``babel-eslint`` (I had to update to version 4.0.0).
Sorry for any trouble.

[2015-09-06 19:39] mdziekon commented on #3678
If I'm right about this problem, this test case probably should be included as a valid example of this rule:
[code]

[2015-09-06 21:04] bathos opened #3679 "no-empty-character-class triggered incorrectly when 'u' flag is present"
The presence of the 'u' flag is triggering the no-empty-character-class rule.

Triggers:
    const pattern = /hello/u;

Does not trigger:
    const pattern = /hello/;

I'm not sure how this can be because the source at https://github.com/eslint/eslint/blob/master/lib/rules/no-empty-character-class.js suggests this pattern should be fine. I checked my version with `eslint --version` and it appears

[2015-09-06 21:27] ilyavolodin commented on #3679
I can't reproduce this in online demo. Following code is lint-free for me:
[code]

[2015-09-06 21:29] bathos commented on #3679
Honestly I'm not surprised. I've been puzzling over this for a while and I still haven't figured it out, but it seems like I must have some older version hiding somewhere. I'll close this -- whatever it is, it isn't eslint.

[2015-09-06 21:29] #3679 closed

[2015-09-06 21:34] bathos commented on #3679
I'm an idiot -- I forgot that babel-eslint is in the mix. (You guys must get that all the time.) Turning it off does fix this (even though it breaks future ES stuff), so it may actually be an issue over there.

[2015-09-06 21:52] solmsted commented on #3672
Sounds good.  Thank you for looking into this!

[2015-09-06 22:06] dsernst commented on #3034
@michaelficarra: The `0, ` trick does not work in this case:

[code]

The interpreter breaks with: `Parse Error: Line 61: Unexpected token < while parsing`

[2015-09-07 00:08] ilyavolodin commented on #3679
No problem, happens all the time:-) Yes, looks like an issue with `babel-eslint`, you might want to file a ticket for them.

[2015-09-07 00:13] michaelficarra commented on #3034
Looks like a bug in your parser.

[2015-09-07 01:53] nzakas commented on #3643
Done!

[2015-09-07 01:53] #3643 closed

[2015-09-07 03:27] IanVS commented on #3646
That's the difficult part for me in this case, as I couldn't tell what I should expect based on the docs and what was being said in this issue.  I think now we've come full circle to it being a documentation issue, as far as I can tell.

[2015-09-07 03:37] dsernst commented on #3034
Alright, the parser is `esprima-fb@15001.1001.0-dev-harmony-fb`.

[2015-09-07 04:24] IanVS commented on #2271
That works as long as there's only one error.  Or once https://github.com/eslint/eslint-plugin-markdown/issues/9 is implemented, this could be just the ticket.

[2015-09-07 07:38] bathos commented on #3678
I can confirm seeing this too with the same eslintrc settings for this rule. It stops if there's a newline between shorthand props and traditional props. I'm not confident this can squarely be called a bug because it's ambiguous how this should be treated, and the current behavior could be seen as consistent with the rule description ("Groups of properties separated by blank lines are considered d

[2015-09-07 07:52] mdziekon commented on #3678
@bathos fair enough, but maybe it could be explicitly said in docs about these groups in context of spread operator? I thing it would be more straightforward for newcomers to eslint just like me.

[2015-09-07 08:33] heldinz commented on #2668
@btmills

That's not *100%* correct. IntelliJ does recognise different alignment groups within an object's properties if those properties are separated by a blank line, e.g. here the required properties are aligned as one group while the optional properties are aligned in another:

    propTypes: {
        requiredString: ReactPropTypes.string.isRequired,
        requiredNumber: ReactPropTypes.num

[2015-09-07 08:42] zyklus commented on #2668
@heldinz -- I think that those options make even less sense, but that's just my opinion.

Perhaps just a boolean?  `multipleGroups: true|false`?

[2015-09-07 08:48] BYK commented on #3670
I think exposing the actual `parser` interface is a better option.

[2015-09-07 09:00] BYK commented on #3477
Oh, I didn't say I wanted this to be in core. I don't think I have enough experience on ESLint to make a strong suggestion about whether this should be in the core or not. I just tried to say the following:

1. I think this rule is useful
2. I'd be interested working on it if it is accepted (or decided to be made a separate plugin)

That said here's the reason why I would like to use this rule:

h

[2015-09-07 09:15] BYK commented on #3134
Looks like arcanist is expecting a `replacement` text in the output so it can apply the fix itself. May be instead of ESLint fixing the issues automatically, it can simply generate a patch and piggyback on another tool to do the actual patching?

This may make integration with editors and other tools easier.

[2015-09-07 10:00] evilebottnawi opened #3681 "no-inline-comments options for ignore eslint comments"
example of error
[code]
[code]

[2015-09-07 10:05] lo1tuma commented on #3681
Duplicate of #3472

[2015-09-07 11:09] heldinz commented on #2668
@zyklus I'm not thrilled with the names either, and I'd also be happier with a boolean option, if we can find one that's sensible. But since the purpose of this enhancement is to distinguish *how* groups are defined, not *whether* or not we have groups at all, boolean options like `multipleGroups: true|false` don't seem to me to be descriptive enough.

Not in particular, it's just stating IntelliJ

[2015-09-07 12:26] #3681 closed

[2015-09-07 12:42] evilebottnawi opened #3682 "ignore end of function, or add parameter for ignore in rule newline-after-var"
[code]
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26503548-ignore-end-of-function-or-add-parameter-for-ignore-in-rule-newline-after-var?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content

[2015-09-07 14:16] zyklus commented on #2668
I would argue that that's a matter of perception.  I view this as "everything is the same" or "separated into groups", so `group: true` makes sense to me.  I'm not sure what the general consensus on this would be though.

[2015-09-07 14:51] #2011 closed

[2015-09-07 14:54] ilyavolodin commented on #3682
Could you provide details requested by the bot?

[2015-09-07 15:00] evilebottnawi commented on #3682
@ilyavolodin
1. 1.3.1
2.
[code]
3. above
4. ESLint: Expected blank line after variable declarations. (newline-after-var)

[2015-09-07 15:06] ilyavolodin opened #3683 "Turn off master branch protection"
It looks like master branch protection requires every single pending PR to be rebased after PR is merged into master. It does this whether or not merge conflicts are detected. I don't think master branch protection brings enough to the table to request rebase after each merge.

[2015-09-07 23:22] nzakas commented on #3683
Disabled everything except for forced push protection.

[2015-09-07 23:22] #3683 closed

[2015-09-07 23:26] nzakas commented on #3134
We've already decided and publicized this on the roadmap, so I don't see deviating to require a separate tool as an option at this point.

[2015-09-07 23:36] nzakas commented on #3670
It's only better if want to use the same parser as ESLint, not if you want to check for a particular parser (`if (context.parser !== "espree")`). We need to consider all use cases here.

[2015-09-07 23:38] nzakas commented on #3678
@btmills ?

[2015-09-07 23:39] nzakas commented on #3682
What line and column does the error message report?

[2015-09-07 23:41] #3627 closed

[2015-09-08 00:15] bathos commented on #3678
If this is incorrect behavior, I'd point out that it also applies to method shorthand:

    propA: 'abc',
    propB: 'def',
    method() {}

Lines 1 and 2 are flagged as violating key-spacing.

[2015-09-08 02:43] gajus commented on #3488
Has an agreement been reached regarding the implementation? I like @nzakas proposal: id-match must only validate variable declaration. Otherwise, using native environment variables (e.g. such as `__dirname` and `__filename` in node) can interfere with variable naming convention established using `id-match`.

[2015-09-08 04:24] mysticatea opened #3684 "Option Proposal: `no-undef` covers inside of `typeof` operators"
Some days ago, I mistook modifying references which are inside of `typeof` operators while I refactored my code.

So I will request an option to catch references which are inside of `typeof` operators.
I thought the effect of the exception which ignores references which are inside of `typeof` operators is limited, because I guess that operator aims to explicit/implicit global variables.

[code]

T

[2015-09-08 06:00] bathos opened #3685 "no-sequences=0 vs no-unused-expressions=2"
If one allows the comma operator, most instances of its use will also violate no-unused-expressions --including one of the few uses the operator ever sees in practice, multiple reassignments:

  a = somethingNew, b = somethingElse;

This violates no-unused-expressions even though `a = somethingNew` on its own would not, probably because the structure here is grammatically "Expression, AssignmentEx

[2015-09-08 06:34] jokeyrhyme opened #3686 "env.es6=false does not disable es6-specific rules"
.eslintrc:
[code]

index.js:
[code]

$ eslint .

It would be desirable to be able to maintain a single shared config that enables ES6 rules such as "no-var", and use this config with both ES5 and ES6 projects. Ideally, the only difference in ESLint configuration between such projects would be the value of `env.es6`.

[2015-09-08 06:38] jokeyrhyme commented on #3686
I'm using ESLint v1.3.1.

I think the long term solution is to actually generate the rules documentation by parsing each rule's implementation JavaScript. This means each rule declares which group of rules it belongs in (e.g. "style", "es6", etc). From this, ESLint can identify all the ES6 rules and disable them when `env.es6` is `false`.

A short-term solution would be to just explicitly list all

[2015-09-08 06:59] michaelficarra commented on #3685
`no-unused-expressions` allows expressions in statement position if those expressions can reasonably be expected to have side effects. So, for example, a CallExpression may have been included solely for its effects.

A sequence expression in itself has no effects, even if its parts do. Same goes for something like `a() + b()`. There's no reason to have the `+` in statement position; its value is u

[2015-09-08 07:01] michaelficarra commented on #3684
I don't understand why you would want that to be considered an error. It's always safe to do that.

[2015-09-08 07:47] bathos commented on #3685
I follow most of that, but I don't see `a() + b()` as similar to use of sequences. Arithmetic would be nonsensical: it would cause computation to create a new value which is then never used. The comma operator doesn't compute a new value from its operands (at least not outside of some technical sense); it's more or less just an in-expression version of a semicolon. In the case of multiple assignme

[2015-09-08 08:56] evilebottnawi commented on #3682
@nzakas
[code]

[2015-09-08 09:02] zallek commented on #2998
Am I right thinking that this new feature could be used to lint legacy projects ?
If you initialise the cache in a way that every existing file is "valid". It would allow eslint to only lint newly modified files and so would allow to refactor piece by piece existing code base.

That would be great because eslint is so good but it's nearly impossible to use on legacy projects as the amount of modif

[2015-09-08 09:04] mysticatea commented on #3684
@michaelficarra It's a difference between "valid in the language spec" and "valid in the application logic".

For example:

[code]

This code is not reported by eslint, but it's a mistake.
I want an option that pattern is reported.

[2015-09-08 09:36] heldinz commented on #2668
Ok, maybe @btmills can clarify?

[2015-09-08 10:39] jokeyrhyme commented on #3686
I think I've identified a possible problem with my proposal. I'm basically arguing for the ability for an environment setting to thoroughly disable a collection of rules, ignoring everywhere else those rules are enabled. Although, maybe this is a special case, where we absolutely want to ignore a user's configuration?

From the documentation, I've identified the following ES6 / ES2015 rules that s

[2015-09-08 11:22] cytopia commented on #3490
It should not be eslint's problem.
But eslint should also be able to ignore it, throw a warning and continue linting.

I have a couple of projects that contain symlinks with non-existing targets.
During deploy time, those symlinks are merged with others and put into a folder a few levels up, where they gain their proper target.

So I require those broken symlinks inside my configuration folders.

[2015-09-08 12:18] mysticatea commented on #3675
I will try to fix this.

[2015-09-08 13:32] kokarn opened #3688 "Add the ability to append with the html formatter"
When running larger projects there is often a multitude of configs for different files.
Some node files, some browser, some with hacks and so on.

As of now you can output data with the html formatter which is great, but if you run say 3 different tasks you have to create 3 different html files.

Being able to merge those into a single file would be really useful.

Thanks!

[2015-09-08 14:42] michaelficarra commented on #3684
Then how would you check the existence of a variable?

[2015-09-08 14:49] mysticatea commented on #3684
To skip here if the option is specified: https://github.com/eslint/eslint/blob/master/lib/rules/no-undef.js#L81-L83

[2015-09-08 14:50] ilyavolodin commented on #3688
@kokarn We have ability to specify globs for configuration on the roadmap for 2.0 I think that will solve all of your problems, since you will be able to specify different globs for different areas of the code, but it will still execute eslint once, and create only one report for all files.
Having said that, I don't see us adding ability to merge report files, that seems like something outside of

[2015-09-08 15:00] kokarn commented on #3688
Thanks for the quick answer!
That sounds like something that would fix this, yeah.

I'll probably just output a bunch of json instead and build my own html view for them, that should suit my needs until 2.0 hits.

[2015-09-08 15:19] nzakas commented on #3686
Environments can't define which rules are being run. That some rules don't apply to a specific environment just means you need to be careful about which rules you enable. Even if you accidentally disable the rules in a non-ES6 environment, it should be very obvious when you run ESLint, so you can disable them.

[2015-09-08 15:19] #3686 closed

[2015-09-08 15:20] #3688 closed

[2015-09-08 15:22] michaelficarra commented on #3684
No, in your program. This is a useful pattern. What would you replace it with?

[2015-09-08 15:23] nzakas commented on #3684
I think this is fine as an option that is off by default.

[2015-09-08 15:24] nzakas commented on #3672
Working on this.

[2015-09-08 15:40] mysticatea commented on #3684
@michaelficarra I don't need it in my app. If I needed, I would define the global veriable in my .eslintrc. If I don't define, I cannot use references of the veriable outside of typeof expr.

@nzakas Yes, off by default. Thanks!

[2015-09-08 15:44] platinumazure commented on #3662
@nzakas Understood, and I will. I just need to do some more research and I haven't had enough time to do that yet. Thanks for your patience.

[2015-09-08 15:50] platinumazure opened #3690 "Enhancement request: Support leading/trailing spaces in rule message format placeholder names"
When using formatted/interpolated rule messages, the contents of the identifier between `{{` and `}}` characters are extracted exactly as is, meaning it is impossible to use whitespace for readability without doing some interesting things in the interpolation code.

Possible now:

[code]

This might be a breaking change in case anyone has been using the second behavior.

I know this is a pretty tr

[2015-09-08 17:01] nzakas commented on #3646
Understood - even if you don't exactly know what you expect, it's still useful to report what it's actually doing as a conversation starter.

I'll tackle the documentation.

[2015-09-08 17:12] nzakas opened #3692 "Increase Mocha timeout"
Mocha is regularly timing out on Travis using Node 0.10, which is creating a lot of noise on pull requests. We should increase the timeout, maybe to 4 seconds, to give tests enough time to complete.

[2015-09-08 17:14] nzakas commented on #3692
Working on this.

[2015-09-08 17:21] #3672 closed

[2015-09-08 17:33] jokeyrhyme commented on #3686
I'm working on a PR with an alternative approach. Rules have access to your ESLint settings when they are called, so how about if the rule detects the appropriate "es6" or "ecmaFeature" settings (or lack thereof) and returns a no-op?

[2015-09-08 17:40] MikaAK commented on #3673
@nzakas @gyandeeps I'm still having this issue with `v1.3.1`. A semicolon still fixes this problem.
### Error
[code]
### Test
[code]

[2015-09-08 17:43] gyandeeps commented on #3673
What is your config for the rule?

[2015-09-08 17:44] MikaAK commented on #3673
This was my config for the rule, I could also be doing it wrong

[code]

[2015-09-08 17:49] #3692 closed

[2015-09-08 17:53] SpadeAceman commented on #3626
How about single-character codes "e" (error), "w" (warning) and "d" (disabled)? Or would single-character strings like this still be considered arbitrary repeated strings?

I wonder, though, if the confusion doesn't stem from the 0/1/2 severity codes often being side-by-side with the other options for the rule itself. Rules like those below illustrate the problem -- it's difficult to see, at a gla

[2015-09-08 17:54] gyandeeps commented on #3673
Yup thats an issue.
Can you please log a new issue with all the details you just gave me?
thanks

[2015-09-08 17:59] MikaAK commented on #3673
Will do! Thanks for the confirmation

[2015-09-08 18:01] MikaAK opened #3694 "no semicolons and indent don't play nicely with var"
### Version `1.3.1`
Taked about this in #3673

__*A semicolon will fix this issue*__

#### Indent Config
[code]

#### Error
[code]

#### Test
[code]

[2015-09-08 18:13] gyandeeps commented on #3694
Working on this.

[2015-09-08 18:26] #3646 closed

[2015-09-08 18:27] #3694 closed

[2015-09-08 18:28] #3658 closed

[2015-09-08 18:28] IanVS commented on #3686
@jokeyrhyme Personally I wouldn't like that approach, since it could result in a situation where one believes their code is being linted and passing, but in reality the rule is not being executed due to the environment.  I'd much rather get an error and either disable the rules for that file or enable the correct ecmaFeatures.

[2015-09-08 18:30] #3653 closed

[2015-09-08 18:30] #3649 closed

[2015-09-08 18:32] IanVS commented on #2614
@nzakas Can this issue be accepted?

[2015-09-08 18:40] jimbolla commented on #3659
I actually started working on this, but when I realized EVERY method requires jsdoc annotations, I was immediately turned off. I think require-jsdoc has the unintended consequence of discouraging good function decomposition.

[2015-09-08 18:44] jokeyrhyme commented on #3686
Without the rule disabling itself in situations where it is dangerous (e.g. enforcing ES2015 approaches when code is not ES2015) we'll be forced to maintain multiple shared configs: one for pre-ES2015 code, and one for ES2015.

So people in my position will need to have eslint-config-es5, and eslint-config-es6 (extending -es5). This is definitely explicit, but it's not very convenient for maintain

[2015-09-08 19:01] jokeyrhyme commented on #3686
Regarding syntax changes, I just realised that the "prefer-reflect" rule is really an API change, not a syntax change. As such, there isn't an "ecmaFeatures" flag for it. I completely agree in this case that even if these was such a flag, it could lead to ambiguous situations for users.

[2015-09-08 19:11] SpadeAceman commented on #3480
:+1: I'm also in favor of the enhanced readability this proposal would allow.

Looking at the `no-extra-parens` documentation, I see that the `"all"` option has exceptions baked into it, for IIFEs and the `wrap-regex` rule. Perhaps `no-extra-parens` could be modified to allow for the desired exceptions to be specifically listed?

[code]

[2015-09-08 19:19] jokeyrhyme commented on #3686
It would be terrific if people who maintain well-known shared configs could weigh in with their thoughts here. @feross? @flet?

[2015-09-08 19:45] nzakas commented on #3659
In a project as large as this with as many contributors as we have, we just can't afford to have undocumented functions. I don't see any way in which requiring documentation comments for functions discourages any best practices.

[2015-09-08 19:49] nzakas commented on #3686
@jokeyrhyme I'm sorry, the team doesn't believe that this is a good idea. Having rules enabled and doing nothing is very confusing to end users. We have a policy against anything failing silently, so we're not going to pursue this any further.

I'd suggest looking at using `extends` to help you come up with good configs for individual files.

[2015-09-08 19:51] nzakas commented on #3690
I think this was probably unintended, would be good to get it fixed.

[2015-09-08 19:51] nzakas opened #3697 "Add Node.js 4 as Travis CI environment"
Now that Node.js 4 is out, we should add it to Travis to ensure ESLint continues to work.

[2015-09-08 19:55] nzakas commented on #2614
I'm on the fence on the utility of this. What do others think?

[2015-09-08 19:55] nzakas commented on #3488
@byk since this was your rule, what do you think?

[2015-09-08 19:57] nzakas commented on #3477
Looking at this again, I'm not sure we can make such a rule. In order to do this correctly, we'd have to know that a variable represents a string...and there's no way we can know that. We'd have to assume anything using the method `match()` was a string, and it might not be.

So, this is another thumbs down from me as I don't believe we can make this rule accurately.

[2015-09-08 20:00] nzakas commented on #3685
@bathos if you think you've found a bug, please provide the information the first comment is asking for.

[2015-09-08 20:02] gyandeeps commented on #3697
Sounds good.
Should be get away with `node 0.8` version?

[2015-09-08 20:06] IanVS commented on #2614
I thought I needed it for the rule documentation linting, since all of those files need to stay in the same folder (`docs/rules/`), and some rules need ES6 while others are required to not have ES6 enabled.  But, now that I think about it, enabling es6 in the rules which do need it (which is now possible) is likely a better solution for this particular case.

There are a few issue comments out the

[2015-09-08 20:08] sindresorhus commented on #3477
Most uses I've seen it's just on the string literal. I assume you can detect that.

For other cases, would https://github.com/eslint/eslint/pull/3559 make it easier?

-

ESLint could really use some kind of type inference, like [Flow](http://flowtype.org).

[2015-09-08 20:27] IanVS commented on #2271
(broken out from main tracking comment above)

Some rule examples require ecmaFeatures: { modules: true } and others require modules: false. Until a better solution can be found (like functionality for modules similar to https://github.com/eslint/eslint/pull/3314), I'm removing the info string from the rules which require modules to be turned off. These are:

* no-delete-var
* no-dupe-args
* no-lo

[2015-09-08 20:28] IanVS opened #3698 "Enable `ecmaFeatures: modules` in config comment"
For linting of the rule documentation examples, some rules are required to use `ecmaFeatures: modules`, and other rule examples are necessary to be in non-strict mode, and therefore have `modules` disabled. (see https://github.com/eslint/eslint/issues/2271#issuecomment-138689974).

One possible solution for this might be to use configuration globs once https://github.com/eslint/eslint/issues/3611

[2015-09-08 21:17] nzakas commented on #3477
Yes, but that's such a small subset of possible uses that I'd argue there's little value. If you really just want to flag that small a subset, then that's a good argument for this being a custom rule.

Nope. Code path analysis is unrelated to type tracking.

Yup. Pull requests accepted. :)

[2015-09-08 22:00] BYK commented on #3477
Valid and fair point for `string` variable detection.

[2015-09-08 22:05] BYK commented on #3488
My rule was `id-length` but this is similar enough. I'm :-1: on only checking variable declarations since that is not the only place people introduce identifiers. `exports.something` is quite important for instance and it would be skipped if the rule only checks variable declarations.

[2015-09-08 22:27] fediev opened #3699 "rule eqeqeq without option on a == null does not warn"
eslint version: v1.3.1
rule eqeqeq with no option on a == null expects a warning, but no warning.

[code]

eslint/lib/rules/eqeqeq.js line 74 might be a bug.
[code]

[2015-09-08 22:57] ilyavolodin commented on #3477
Totally agree, but I think that should be added to escope, not ESLint itself. escope already tracks declaration change and usage of variables, it should be able to track type as well.

[2015-09-08 23:59] mysticatea commented on #3698
My idea is adding new environment `modules` into https://github.com/eslint/eslint/blob/master/conf/environments.js

[code]

Then we can use `/* eslint-env es6, modules */`.

I'm happy if I can do it.

[2015-09-09 00:00] IanVS commented on #3699
Verified in demo.  Since it looks like you've already found the bug, would you like to submit a PR, @fediev?

[2015-09-09 00:00] voideanvalue opened #3700 "getScope should retrieve module scope instead of global scope for ES6 modules"
escope separates `global` scope from `module` scope for ES6 modules by [nesting a `module` scope within the `global` scope](https://github.com/estools/escope/blob/45cf8512857ac5663866d2a08d1d8fb28f78366f/src/referencer.js#L496-l498). `getScope` currently [`acquire`s](https://github.com/eslint/eslint/blob/fe3a047b6b29e97597c8e8f9882f168c17e15a08/lib/eslint.js#L967) [the outermost scope](https://git

[2015-09-09 00:02] IanVS commented on #3697
Working on it.

[2015-09-09 00:16] #3697 closed

[2015-09-09 00:20] IanVS commented on #3134
Something to consider when changing quote type is unescaped nested quotes, such as:

[code]

If blindly changing from double quotes to single, this is the resulting (invalid) code:

[code]

[2015-09-09 00:22] fediev commented on #3699
OK, I will make a PR.

[2015-09-09 00:27] IanVS commented on #3699
Thanks! If you haven't submitted a PR to ESLint before, please take a read through the [contributing guide](http://eslint.org/docs/developer-guide/contributing/).

[2015-09-09 00:30] mysticatea commented on #3699
Thank you!

[2015-09-09 00:35] mysticatea commented on #3697
:tada:

[2015-09-09 00:50] IanVS commented on #2998
I don't think that's really the intent of this feature.  Files are not added to the cache until they make a clean lint run (no errors, no warnings).

There are a few strategies for adding ESLint to legacy projects:

* Set all rules to warn, not error.  Then, fix rules and set them to error are you are able.
* After setting rules to warn, implement a `--max-warnings` so that additional warnings cau

[2015-09-09 00:51] IanVS commented on #3599
`Unimorphic Isoversal`? :trollface:

[2015-09-09 00:55] nzakas commented on #3700
This is the correct behavior. For Program, the associated scope is the global scope.

[2015-09-09 01:01] nzakas commented on #3698
I think having a modules environment would be confusing because we already have ecmaFeatures.modules.

I'm kind of adverse to adding yet another type of configuration comment, but maybe what we need is a `eslint-config` comment that lets you include an entire config, then we can deprecate there others. Thoughts?

[2015-09-09 01:03] nzakas commented on #3700
Although, reading this again, I'm not even sure that's what you mean. It would be helpful for you to provide a use case and sample code.

Note: it's unlikely we will make a change here as it would likely be a breaking change, but I'd still like to understand what it is you're trying to do.

[2015-09-09 01:04] voideanvalue commented on #3700
@nzakas

Consider
[code]

`getScope` in context of the `AssignmentExpression` on line 2 would return the `global` scope which doesn't contain the variable `foo` (the `module` scope does). Is that intended?

[2015-09-09 01:14] nzakas commented on #3700
Ah, so you're not accessing the scope from Program, but rather from a deeper node? Yeah, that looks like a bug. I'm guessing it also affects when `globalReturn` is true, as that also adds an additional scope.

[2015-09-09 01:15] nzakas commented on #3599
I think `universal` is the best of the terrible options.

[2015-09-09 01:16] nzakas commented on #3134
Yeah, on my latest iteration, strings are re-escaped as necessary.

[2015-09-09 01:18] nzakas commented on #3488
Oh sorry, so many rules! Good point, maybe we just have named exceptions and call it a day.

[2015-09-09 01:23] nzakas commented on #3477
Yeah, I was thinking about adding it to escope, but that's a big tangent from this issue.

To close this issue out: I think the possible implementation is too narrow for a core rule. A custom rule is the best way to go.

[2015-09-09 01:23] #3477 closed

[2015-09-09 01:25] jonathanKingston commented on #3560
:+1: was just looking for the same.

The main reason I was looking was:
- to quickly check the TAP output I wrote ages ago to see how it matches with the new progression there
- to see the format output by the new-ish JSON format (standardising this seems pretty important here)

[2015-09-09 01:28] IanVS commented on #3560
OK, I have a little time, I'll work on this tonight.  Do you have any particular examples you'd like to see, or will any old messages do?

[2015-09-09 01:32] nzakas commented on #3480
The problem with that is that it would allow parens around all ternaries, not just nested ones.

[2015-09-09 01:34] nzakas commented on #3560
It probably makes sense to generate a results file with a good mix of warnings and then run that through the actual formatters when we publish the docs rather than having then static.

[2015-09-09 01:36] TheSavior commented on #3599
Agreed that `universal` is best of the worst and if we choose anything else people would just complain about our naming anyways.

[2015-09-09 01:38] IanVS commented on #3599
To me, `universal` sounds way too broad, as if it would encompass all globals.  Is there really no better name?

[2015-09-09 01:40] TheSavior commented on #3599
`universal-javascript`, `universal-js`?

[2015-09-09 01:43] IanVS commented on #3560
Whatever happened to starting simple?  ;)

Alright, I'll give it a shot.

[2015-09-09 01:45] nzakas commented on #3560
This is the simple approach. Some upfront cost eliminate a ton of potential customers down the road. Plus, you'd be doing this manually anyway, I'm just saying to automate it so no one ever has to do it again.

[2015-09-09 01:45] IanVS commented on #3560
Yeah, it makes sense for sure.  I'm just whining.  :)

[2015-09-09 01:53] voideanvalue commented on #3700
Exactly. Do you think the approach I took in #3701 is acceptable? I think always picking the inner most scope makes sense because it contains everything from the outer scope(s) anyway. It also seems cleaner than monkey patching for specific cases like this one. Plus, the fact that all unit tests pass with the change suggests that in most cases there is only one scope for a node (which would've bee

[2015-09-09 01:54] btmills commented on #3488
Since checking properties is opt-in via the `properties` option, if I'm reading this discussion correctly, I agree a `whitelist` (that name being my suggestion) option as an array of acceptable strings is the best way to go.

[2015-09-09 02:47] #3675 closed

[2015-09-09 03:51] btmills commented on #3698
So we could include full configs directly in the config comment? A couple examples to clarify my understanding:

[code]

[2015-09-09 04:01] fediev opened #3705 "Remove temporally allowed eqeqeq 'allow-null' option"
As disscussed in  #3703,  to fix issue #3699 eqeqeq rule bug, eqeqeq 'allow-null' option are added to the project's .eslintrc temporally.

With strict eqeqeq: 2 config, 54 error are found.
ref: https://travis-ci.org/eslint/eslint/jobs/79391990

[2015-09-09 04:11] IanVS commented on #3560
I don't want to just take the output text and put it in a code block, because it won't look like terminal output and the formatting will be lost (e.g. stylish).  But I can't seem to find a way to redirect stdout to an image.  The html formatter could use phantom.js, but the rest are stumping me.  Any suggestions?

[2015-09-09 04:27] platinumazure opened #3706 "Build: No commit message length check in check-commit"
In a recent pull request, I was informed that the commit message in my PR was too long. Easy to fix, of course, but since we have `npm run check-commit`, could we add a length check there?

I believe this would also have the benefit of causing the Travis build to fail, as well.

[2015-09-09 04:35] btmills commented on #3678
Just confirmed this. The rule was written before ES6 support was added to ESLint, so it needs to be updated to support ES6 shorthand properties and methods. The rule shouldn't ever warn on shorthand properties or methods. Shorthand properties should continue alignment groups. Methods covering a single line should continue alignment groups, and methods spanning multiple lines should separate groups

[2015-09-09 04:41] btmills commented on #3706
I'm in favor of this check. GitHub seems to truncate at 70 characters, and @nzakas mentioned in #3266 that the change log cuts off around 75 characters. I find the common 50-char standard too short for our style of commit messages, so how about <=70?

[2015-09-09 04:45] btmills commented on #3304
Closing due to lack of activity. Feel free to reopen if this is still a problem.

[2015-09-09 04:45] #3304 closed

[2015-09-09 04:45] mysticatea commented on #3705
Thanks a lot @fediev .
Most `!= null`s are wrote by me, so I will fix those.

[2015-09-09 05:14] btmills commented on #2668
For now I'll make sure I understand correctly, then once I'm clear on that we can move on to option format.

I've seen discussed three possible modes:

1. Groups of properties separated by new lines, so a multi-line function expression value would be the end of a group. This is the current default behavior, and it needs to remain so since we don't want this to be a breaking change.

[code]

1. Gro

[2015-09-09 06:04] zyklus commented on #2668
@btmills - I have a 4th, and I'm sure someone not on this thread has a 5th and 6th.

My suggestion:  Implement option 2, along with #3549.  This handles cases 3 & 4, along with most other weird cases by putting the linter into "loose" mode

[2015-09-09 07:38] sentience opened #3707 "negated patterns in .eslintignore not working"
The project tree looks like this:

[code]

.eslintignore:

[code]

File index.js is linted (as expected) if I run either of these commands in my project dir:

[code]

However, these commands do not lint index.js:

[code]

[2015-09-09 08:08] heldinz commented on #2668
@btmills - That fits my understanding for 1 and 2. I can imagine there being a use case for 3 as well, but it's not a priority for me personally.

[2015-09-09 08:43] popomore opened #3708 "Is there any rule like yield-star?"
Use `yield` or `yield*`

1. `yield*` only can follow a generator when `yield` can follow any type.
2. Generator can accept both `yield*` and `yield`

I always use `yield` in my code, so I want to find some rule to warn when use `yield*`, or implement the rule above?

[2015-09-09 09:01] mozfreddyb opened #3709 "ES7: Syntax Support for array/generator comprehensions and destructuring in comprehensions"
I would like to suggest syntax support for ES7 comprehension features. See [ecmascript wiki](http://wiki.ecmascript.org/doku.php?id=harmony:array_comprehensions) for further details.

Syntax Examples:
Array/generator comprehension: `[ square(x) for (x of [1,2,3,4,5]) ]`
Destructuring in comprehensions: `return [for([a, b] of [['a', 'b']])a + b][0] === 'ab';`

[2015-09-09 12:01] apierzch commented on #2668
@btmills Yes, all descriptions are correct. I am mostly interested in option *3*, since this is how IntelliJ Idea aligning works.

[2015-09-09 12:30] zyklus commented on #2668
@apierzch -- Out of curiosity, would option 2 along with "loose" spacing rules before/after colons work for you?  Or is not having errors on mis-alignment a deal-breaker?

i.e. both of these would pass and it would be up to you to enforce intra-group alignment:

[code]

[code]

But mis-aligned keys within a group would error

[2015-09-09 12:32] heldinz commented on #2668
@apierzch

Really? I am interested in option 2 because that is the behaviour I experience with IntelliJ Idea.

[2015-09-09 12:43] ilyavolodin commented on #3706
:+1:

[2015-09-09 12:46] #3690 closed

[2015-09-09 12:48] apierzch commented on #2668
@heldinz I have just checked - if you add an empty line, it creates a new group in IntelliJ Idea (I thought same as you before, so it was a surprise for me):
[code]

@zyklus I think I cannot achieve such alignment with IntelliJ Idea, so I'd like to have an error if something like it happens, so that I do not commit just by reformatting

[2015-09-09 12:52] #3699 closed

[2015-09-09 13:08] BYK commented on #3706
I'd say 75 or 72.

[2015-09-09 13:30] jaheba commented on #3380
I want to second @sgoll that `space-infix-ops` should not apply to default values for arguments. I think it is fairly clear that these cases differ from the other uses or at least allow to exclude this cases with an option.

[2015-09-09 14:06] BYK commented on #3599
Okay, gonna go with `universal`.

[2015-09-09 14:09] BYK commented on #3599
@sindresorhus - Sent https://github.com/sindresorhus/globals/pull/50. Hope you don't hate us for the name.

[2015-09-09 14:29] michaelficarra commented on #3709
0. This is not an eslint issue. Open an issue with espree or whatever parser you use.
0. This feature will not be ready for ES2016, and IMO is unlikely to make it in any time soon.

[2015-09-09 14:36] michaelficarra commented on #3706
72 is git standard.

[2015-09-09 17:49] Dashed commented on #2819
I'm putting in my vote for this rule enhancement.

In some promise/generator patterns as a panacea for callback hell, `no-shadow` rule can trigger unnecessarily:

[code]

[2015-09-09 18:16] nzakas commented on #3709
@mozfreddyb as a general policy, we do not support experimental features natively. You can use `babel-eslint` if you need to use experimental features.

[2015-09-09 18:16] #3709 closed

[2015-09-09 18:19] nzakas commented on #3706
:+1:

[2015-09-09 18:58] nzakas commented on #3708
We don't have a rule like that. I'd suggest creating a custom rule if you want to prevent the use of `yield*`.

[2015-09-09 18:58] #3708 closed

[2015-09-09 19:02] nzakas commented on #3134
Hmm, the case for autofixing piped-in code is a bit tricky. Right now, there's zero difference between the code that outputs results from files and the text. In order to do this strange swapping to stderr for results, I'd have to introduce the knowledge of text vs. files into that code, and it sort of turns my stomach to do that.

So, I'm thinking for the first go-around, we just don't do fixes fo

[2015-09-09 19:21] nzakas commented on #3134
Another case that's really hard: processed text. See my comment: https://github.com/eslint/eslint/pull/3635#discussion_r39084750

I'm thinking it might be best to just not do fixing for processed text in this first go-around as well.

[2015-09-09 20:07] nzakas commented on #3698
Yup, that's what I'm thinking. Also YAML.

[2015-09-09 21:31] nzakas commented on #3560
I think you're creating unnecessary pain for yourself by not using text blocks. I think plain text output is fine, and the HTML you can just copy directly into a file.

[2015-09-09 21:37] nzakas commented on #3707
This is a limitation of the implementation. We are overhauling ignore files in 2.0.0, so we won't be making further changes until that is complete: #2365

[2015-09-09 21:37] #3707 closed

[2015-09-09 21:39] nzakas commented on #3488
Maybe `allow` instead of `whitelist`?

[2015-09-09 21:42] nzakas commented on #2819
@Dashed the rule is flagging those necessarily, because they are shadowing other identifiers that you no longer have access to.

But ultimately, let's just add an exception. You lose a lot of the value of the rule, but that's up to you.

[2015-09-09 22:34] gyandeeps commented on #3092
ping @eslint/eslint-team

[2015-09-09 22:39] gyandeeps commented on #3170
I think we can safely say that we want to make doc changes here? @eslint/eslint-team

[2015-09-09 22:40] gyandeeps commented on #3196
I think the decision has been made and we need label updates?
CC @nzakas

[2015-09-09 22:41] gyandeeps commented on #3278
@leebyron Waiting for you response

[2015-09-09 22:41] #3700 closed

[2015-09-09 23:51] ilyavolodin opened #3714 "no-unused-vars crashes on global comments"
Found this issue with the latest code added 5 days and not released yet). The following code:
[code]
will crash `no-unused-vars` with the following message:
[code]

CC @mysticatea

[2015-09-10 00:19] mysticatea commented on #3714
Thank you for the report, I will invest and fix this.

[2015-09-10 00:32] ilyavolodin commented on #3565
Ok, I think I finally figured out a good way to check if ESLint is CPU bound vs. IO. What I did is I ran eslint on the same set of files (544 files in 234 directories) first with just one rule on (`yoda: [2, "never"]') and then with .eslintrc file from ESLint repository (so a lot of rules on). As far as I can tell, the amount of IO should be exactly the same in both cases, but number of CPU cycles

[2015-09-10 01:38] pcostanz commented on #3678
Confirming that this is an issue using destructuring, no amount of spaces will make this work.

lint error:
[code]

snippet:
[code]

[2015-09-10 02:45] btmills commented on #3092
✋ I would use this. I wouldn't think it would be a terribly involved implementation either.

[2015-09-10 04:09] platinumazure commented on #3626
What about just being more explicit? Unfortunately this means some repeated strings and also a breaking change, but...

Example (in JSON-ish):

[code]

My guess is this will be panned as having all of the flaws of the other proposals and few of the benefits, but at least you can't argue against its readability.

[2015-09-10 06:45] pnstickne commented on #3565
I'm still for 'per process' concurrency.

[2015-09-10 07:29] hotoo opened #3716 "What rule for check const variable was assigned?"
When a `const` variable was assigned, give me a hint.

like:

[code]

I found the rule `prefer-const`, but I don't think if a variable not modified yet, it must a const variable.

And if have one of rule for this, I think it's would be default enabled.

[2015-09-10 07:31] Dashed opened #3717 "Rule proposal: `no-symbol-implicit-string`"
Rule proposal: `no-symbol-implicit-string`

In ES6 (or babel), you cannot coerce Symbols into strings; and a runtime exception will thrown to warn this. Be great if eslint find these cases in code, and warn if you've (blindly) attempted to do this.

**Warnings:**

[code]

**Not warnings:**

[code]

*disclaimer:* examples taken from http://www.2ality.com/2014/12/es6-symbols.html

[2015-09-10 08:35] mysticatea commented on #3716
[no-const-assign](http://eslint.org/docs/rules/no-const-assign.html)

[2015-09-10 09:07] hotoo commented on #3716
Thank you :+1:

[2015-09-10 09:07] #3716 closed

[2015-09-10 13:00] mysticatea commented on #3698
Sounds good to me.

[2015-09-10 13:10] #3705 closed

[2015-09-10 14:57] shipengyan opened #3718 "validate error in .eslintignore file"
when i use the following .eslintignore file in windows platform(window 10). It still validate `DesignerSortable.js` and so on.
Did you test it in windos platform
[code]

[2015-09-10 15:19] shipengyan commented on #3718
i think it's a bug.
![eslint-v](https://cloud.githubusercontent.com/assets/1212932/9792291/05fb0f62-5812-11e5-98c6-293a0d9b135c.png)

.eslintignore
[code]
.eslintrc
[code]

OS: `windows10`

no output, I just use eslint in webstorm, it popup message that it still validate these files

[2015-09-10 15:23] shipengyan opened #3719 "no-unused-vars rule bug"
![eslint-v](https://cloud.githubusercontent.com/assets/1212932/9792436/a8299a6a-5812-11e5-9649-c7a58f7c1eb7.png)

.eslintrc
[code]

this is my code in webstorm

![20150910231356](https://cloud.githubusercontent.com/assets/1212932/9792513/0dc3438a-5813-11e5-88c7-bfab9448eb11.png)

[2015-09-10 15:24] roadhump opened #3720 "Ignore warning when file in linked folder"
I have a linked folder in project.

[code]

So, when I lint file in linked dir, I get an ignore warning

[code]

and if I run on folder, file is silently excluded

[code]

I think it would be nice if there were no difference between linked and real folders

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26588806-ignore-warning-when-f

[2015-09-10 15:28] gyandeeps commented on #3719
Its behaving as expected.
Please read the rule details for more info about the qualifying criteria of the rule: http://eslint.org/docs/rules/no-unused-vars#rule-details

[2015-09-10 17:09] joeybaker commented on #2621
For what it's worth, I published a plugin that just checks for `console.log`, using @xjamundx's advice above. https://github.com/joeybaker/eslint-plugin-no-console-log

[2015-09-10 17:16] ilyavolodin commented on #3718
Can you try running it outside of webstorm? Webstorm had an issue with finding .eslintignore files (it can only find it if it's at the root of the project)

[2015-09-10 17:17] nzakas commented on #3170
Yup.

[2015-09-10 17:24] #3706 closed

[2015-09-10 17:26] #3714 closed

[2015-09-10 17:26] Cellule opened #3721 "Rules: `semi-spacing` and `block-spacing` conflict on one-liner functions"
With the following rules, there is no way to have a function in one line without a conflict between the 2.
[code]

Is there a way to have both rule and a function declaration in one line ?

[2015-09-10 17:26] nzakas commented on #3626
That goes back to my problem with repeated string values. The more words you force people to type, the more typos they make.

[2015-09-10 17:39] nzakas commented on #3717
I'm not sure those patterns are worth flagging because I don't see them as common enough use cases. The more common use cases would be:

[code]

But we can't track what type an identifier is, so we wouldn't be able to flag that last line.

So, I'm not sure this makes sense as a rule based on the technical limitations we have.

[2015-09-10 17:41] nzakas commented on #3720
I'm not sure what you're reporting here...are you saying there's a bug? If so, what is it?

[2015-09-10 17:42] #3719 closed

[2015-09-10 17:44] nzakas commented on #3721
Hmm, we need to figure out how to clean that up. I'm not sure how at the moment.

[2015-09-10 17:56] Cellule commented on #3721
I just saw a similar issue with `space-in-parens`
where
`for(let i = 0; i < results.length;) {` is invalid because of `semi-spacing` and
`for(let i = 0; i < results.length; ) {` is invalid because of `space-in-parens`
The only valid case is
[code]

[2015-09-10 18:02] #3134 closed

[2015-09-10 18:04] Dashed commented on #3717
Ah, that's unfortunate :disappointed:

-----

I've assumed the common usecase example you've provided would be 'translatable' to those I've provided. I was bitten by this and thought this might be something eslint might detect.

Feel free to close if such a rule is not possible.

[2015-09-10 18:31] nzakas commented on #3678
Working on this.

[2015-09-10 19:08] nzakas commented on #3678
No longer working on this. I couldn't figure out how this rule works. @btmills we really need some better comments and refactoring of this rule.

[2015-09-10 19:46] roadhump commented on #3720
Yes, I suppose it is a bug. First, it is very unexpected that I get ignore warning when file is not matched any `.eslintignore` patterns. And second, it is unexpected that symlinked folder is skipped when I run eslint on folder.

In general there should be no difference between ESLint calls

[code]

ESLint should use the same `.eslintrc` file here and lint files the same way. But now I get `0:0  w

[2015-09-10 19:48] BYK commented on #3720
If you have shared your `.eslintignore` file and its location, we could have understood your viewpoint easier ;)

[2015-09-10 19:49] roadhump commented on #3720
@BYK  There is simply no `.eslintignore` at all

[2015-09-10 19:50] BYK commented on #3720
Okay, this helps too :)

[2015-09-10 19:51] BYK commented on #3720
Glob documentation says the following:

@eslint/eslint-team what do you think? I fell like we should enable this.

[2015-09-10 19:53] roadhump commented on #3720
And by linked folder I mean `ln -s /some/other/location linked_folder`.

[2015-09-10 19:55] BYK commented on #3670
Why can't we have `parser.name` or something on the exposed parser object? I still feel like having access to the actual `parser` object would be more useful than rules checking for the parser name.

[2015-09-10 20:05] yaycmyk opened #3722 "False positive for no-lonely-if with a nested conditional"
Sample code:

[code]

I'm getting an error for the `if` statement inside the first `else` block, when there clearly is an `else` for that `if` as well.

This is on version `1.3.1`, with `"no-lonely-if": 2`

[2015-09-10 20:19] gyandeeps commented on #3722
Can you please share the exact output of eslint?
What kind of parser are you using?

[2015-09-10 20:24] gyandeeps opened #3723 "Implement auto fix functionality for no-trailing-spaces rule"
Implement auto fix functionality for no-trailing-spaces rule.

[2015-09-10 20:47] gyandeeps opened #3725 "Implement auto fix functionality for eol-last rule"
Implement auto fix functionality for eol-last rule

[2015-09-10 21:14] alexlrobertson opened #3727 "Update Handlebars dependency to v4.0.2"
Older versions of Handlebars depend on an insecure version of UglifyJS (https://nodesecurity.io/advisories/uglifyjs_incorrectly_handles_non-boolean_comparisons).

[2015-09-10 21:18] gyandeeps commented on #3727
Duplicate https://github.com/eslint/eslint/issues/3632
Its already fixed but not yet released.

Thanks for reporting.

[2015-09-10 21:18] #3727 closed

[2015-09-10 21:19] gyandeeps opened #3728 "Implement auto fix functionality for no-spaced-func rule"
Implement auto fix functionality for no-spaced-func rule

[2015-09-10 21:33] gyandeeps opened #3730 "Implement auto fix functionality for camelcase rule"
Implement auto fix functionality for camelcase rule

[2015-09-10 21:47] gyandeeps opened #3732 "Implement auto fix functionality for space-return-throw-case rule"
Implement auto fix functionality for space-return-throw-case rule

[2015-09-10 22:44] gyandeeps opened #3734 "Implement auto fix functionality for indent rule"
Implement auto fix functionality for indent rule

[2015-09-10 23:05] nmschulte opened #3735 ""no-undef" rule and "browser" environment acting strange with regard to identifier case"
**What version are you using?**
[code]

**What did you do?**
[code]
**What happened?**
[code]

**What did you expect to happen?**
[code]

--

Oddly enough, if one adds the "commonjs" environment to the command invocation, the expected output is shown.  I have no idea why adding the "commonjs" environment makes this go away from the CLI, but my actual use-case is invoking ESLint with an hierarchica

[2015-09-10 23:12] nmschulte commented on #3735
Okay, I think now I am entirely wrong about this being an issue with `no-undef` and "browser".  I realize now that `Document` is indeed a browser environment "global" that should not be redefined (nor shadowed, if that's possible).

I think instead, this is an issue with the "commonjs" environment, and perhaps an issue with how environments are configured/applied when using the hierarchical inheri

[2015-09-10 23:20] ilyavolodin commented on #3735
I can reproduce this in online demo with `browser` environment vs. `browser + node` environment... This is pretty strange.

[2015-09-10 23:38] IanVS commented on #3718
Most of the ESLint team use Windows as their primary machines, in fact.

[2015-09-10 23:40] IanVS commented on #2621
:+1: Thanks for reporting back!

[2015-09-10 23:47] ilyavolodin commented on #2947
Closing this as auto-fixing has been implemented in the core now and there's a separate issue for metadata.

[2015-09-10 23:47] #2947 closed

[2015-09-11 00:27] gyandeeps opened #3737 "Indent: Issue with a wrong indented start statement"
**Eslint version**: master
**Parser**: default

**Code:**

[code]

**Current output:**

[code]

**Expected output:**

[code]

Note: This also trips the `fix` for such code.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26601201-indent-issue-with-a-wrong-indented-start-statement?utm_campaign=plugin&utm_content=tracker%2F282608&utm_me

[2015-09-11 02:46] shipengyan commented on #3718
@ilyavolodin  you are right. it is normal when I run it outside of webstorm. so  I think it is a webstorm bug.

I see ESLint source code. it is ok.
[code]

[2015-09-11 02:46] #3718 closed

[2015-09-11 03:13] mzgol opened #3739 "space-before-keywords? e.g. else"
There is a `space-after-keywords` rule but I see no `space-before-keywords` one. I'd like to forbid stuff like:
[code]
(note the missing space before `else`).

[2015-09-11 03:15] mzgol opened #3740 "Proposal: no-negated-condition"
I'd like to forbid:
[code]
in favor of:
[code]
JSCS has a rule of that effect named [disallowNotOperatorsInConditionals](http://jscs.info/rule/disallowNotOperatorsInConditionals).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26603300-proposal-no-negated-condition?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&u

[2015-09-11 04:14] platinumazure commented on #3740
Only with an `else` present? Or always?

[2015-09-11 07:27] huangyingjie commented on #1238
Hi all,
   I ran into this issue on vim with 'syntastic'. Since I have to use local eslint, the following is my vim config:
[code]
Now the effect between vim and 'npm run eslint' is exactly the same.

[2015-09-11 07:53] sindresorhus commented on #2693
Some name suggestions:

- no-builtin-proto-props
- no-unsafe-proto-props

[2015-09-11 08:16] mysticatea commented on #3739
Thank you for the report.

Now there is `space-before-keywords` on master (#3576), but not released.
Please wait for the next release :)

[2015-09-11 08:35] BYK commented on #3740
I'm guessing this rule wouldn't make sense when there's no `else`. I'm :+1: for adding this.

[2015-09-11 11:03] benmosher commented on #3670
@{owners}: do you have an implementation in mind for this, or would it be helpful for me to put together a PR or two with some implementation options?

[2015-09-11 11:27] gajus opened #3742 "Allow nesting of rules in the eslint config"
[code]

The repeating "react/" namespace bothers me. It could be simpler, e.g.

[code]

[2015-09-11 12:14] btmills commented on #3678
@nzakas yeah, it's gotten really complicated as parts have been added. Once answers to the currently open issues are nailed down, I'll probably rewrite large chunks of it and fix everything all at once.

[2015-09-11 12:21] mysticatea commented on #3735
I will try to fix this.

[2015-09-11 12:21] #3739 closed

[2015-09-11 12:53] MikeRatcliffe opened #3743 "New feature request: behaviors"
In https://github.com/mozilla/eslint-plugin-mozilla we are creating a plugin to get eslint working across the Mozilla codebase. Still very early days yet, but the plugin works.

We are doing this by creating rules... some of them are better described as behaviors in that they may e.g. add a global to the current scope when e.g. `Cu.import(some/path/SomeVarName.jsm)` is encountered or import global

[2015-09-11 12:59] mysticatea commented on #3678
I'm interested in separating the rule to `key-colon-spacing` and such as `column-alignment`.
But I don't have enough time now...

[2015-09-11 12:59] platinumazure commented on #3742
Seems this *should* be feasible, given that we already have to know how to parse a rule "name" to detect and extract a plugin...

[2015-09-11 13:17] btmills commented on #3678
:+1: I second the motion; good idea. Not sure about the names though. What about property-colon-spacing and property-alignment?

[2015-09-11 13:26] mysticatea commented on #3735
Hmm, I remembered #3390.
In environments which have an extra scope (commonjs, node, and modules), this behavior might be an intended behavior.

[2015-09-11 13:45] nmschulte commented on #3735
@mysticatea I think the error should go away when we add the "commonjs" environment, yes.  I apologize, but I think my second posting has the real issue.

I think the real issue is that the `.eslintrc` setup (per-dir w/ extra / changing envs), doesn't pick up on that properly for some reason.  I can try to create a repo that reproduces this, but it will be a minute before I can do that.

[2015-09-11 13:46] gyandeeps commented on #3743
Can you be more specific in your request on what kind of behaviors and also what all functions you expect in the helper file?

[2015-09-11 14:01] ilyavolodin commented on #3743
Also, if you could provide an example of what you are looking for it would help us understand it better.

[2015-09-11 14:16] mysticatea commented on #3721
So, should `semi-spacing` be skipped if the next token is a closing paren (`)`, `}`, `]`)?

[2015-09-11 14:19] gajus opened #3744 "valid-jsdoc must not require @returns when @member block"
[code]

[code]

These produce an error:

[code]

[2015-09-11 14:21] gyandeeps commented on #3744
Can you share the config for the rule?

[2015-09-11 14:23] gajus commented on #3744
[code]

ESLint version v1.3.1.

[2015-09-11 14:25] gyandeeps commented on #3744
With that info I cant reproduce the error using the online demo. Also based on the code we only require return if the function has a `return` statement.

[2015-09-11 14:27] mysticatea commented on #3735
`Window` and `Document` are an built in global variable (those type is `function`).
`window` is an object which has `Window.prototype` as its `__proto__` value.

Though I'm not sure why the current `no-undef` behavior reports redeclarations....

[2015-09-11 14:30] gajus commented on #3744
@gyandeeps Sorry. Try:

[code]

[2015-09-11 14:38] ilyavolodin commented on #3735
Pretty sure that's due to the historical reasons. `no-undef` was one of the first rules. We didn't have `no-redeclare` at that point yet. But maybe we should revisit this now?

[2015-09-11 14:47] mzgol commented on #3739
Ah, thanks. :)

[2015-09-11 14:49] gyandeeps commented on #3744
I think regardless whether you have `@member` or not, this code should not throw a return error.
@eslint/eslint-team

[2015-09-11 14:56] mysticatea commented on #3735
@ilyavolodin Thank you for the explanation.
I guess it needs difficult arrangement, so I would like to open new issue before 2.0.

[2015-09-11 15:04] ilyavolodin commented on #3735
@mysticatea :+1:
Back to the original issue. So now with @mysticatea explanation I understand why `browser` + `commonjs` environments are not complaining about redeclaration of `Document`, but I still don't think that's correct. Both environments suggest that you will run code in both places (not necessarily at the same time), so when you are running it in browser, you should not be redeclaring `D

[2015-09-11 15:08] mysticatea commented on #3744
If `new` is removed, this becomes the expected behavior.

I guess here https://github.com/eslint/eslint/blob/master/lib/util/source-code.js#L223 should includes `NewExpression`.

[2015-09-11 15:19] MikeRatcliffe commented on #3743
@gyandeeps Behaviors could literally be anything that doesn't need to return a message.

Here are a couple of examples:
1. When Cu.import(some/path/SomeVarName.jsm) is encountered then eslint could add SomeVarName to the current scope.
2. Alternatively, when require(some/path) is encountered then eslint could enter the file identified by path get the names of all exports and add those names to the

[2015-09-11 15:35] gyandeeps opened #3745 "Implement auto fix functionality for no-extra-semi rule"
Implement auto fix functionality for no-extra-semi rule

[2015-09-11 15:38] riking opened #3746 "1.4.0 is linting ignored files"
ESLint just upgraded and now our Travis builds are failing because it's linting an ignored file.

Travis build: https://travis-ci.org/discourse/discourse/jobs/79870981
It runs `eslint app/assets/javascripts` from the project directory.

The `.eslintignore` file is in the project directory: https://github.com/discourse/discourse/blob/22844b9e4663a1dd06040cd5913f02f571f9672f/.eslintignore and contai

[2015-09-11 15:39] jeffcharles opened #3748 "jsdoc validation breaks"
Running version 1.4.0 with `valid-jsdoc` set to `2`. We don't have any jsdoc comments in the codebase being linted.

[code]

[2015-09-11 15:43] nmschulte commented on #3735
Creating a `var Document = {}` in the browser + CommonJS environments should cause a `no-shadow` issue, not a "overwriting a read-only global" issue.  I think that's perfectly acceptable; if you shadow a global, that's your problem.

[2015-09-11 15:44] riking commented on #3746
Adding `--ignore-path` does not help.

[code]

[2015-09-11 15:46] gyandeeps commented on #3748
Can you please share the source code?

[2015-09-11 15:52] nzakas commented on #3746
Sorry about that. I'm guessing this is related to using glob. We did run into something similar during development, but we must have missed a case. We'll look into it!

@byk

[2015-09-11 15:52] mysticatea commented on #3735
Actually `no-redeclare` and `no-shadow` are handling the extra scope as global.

[code]

[code]

But also I understand the request in #3390...
Built-in globals includes many general names, especially in browsers.
So if somebody are 100% sure extra scope is made, they expect to not handle it as redeclaration.

(Ah, this is "difficult arrangement" I said before)

[2015-09-11 15:53] jeffcharles commented on #3748
Sorry, it's a proprietary project and I can't tell from the error output where in the project it's barfing. I'm fine with providing the snippet if I can locate what snippet it's throwing on. Any tips on how to see what file is being inspected? I've got a work deadline I need to hit so I don't really have time to learn the internals of eslint in the next week.

[2015-09-11 15:53] mzgol opened #3750 "Glob pattern from .eslintignore not applied"
My `.eslintignore`:
[code]
In ESLint 1.3.x it was ignoring files properly; in 1.4.0 the second pattern doesn't seem to work; files like `test/npm-fixtures/not-ok-install-copy/node_modules/json3/lib/json3.js` are linted.

You can test it by checking out the `refactor` branch of my [check-dependencies](https://github.com/mzgol/check-dependencies) repo and invoking `npm install && npm test && npm tes

[2015-09-11 15:54] nzakas commented on #3748
[code]

[2015-09-11 15:54] gyandeeps commented on #3748
Yup, I actually want the snippet or a reproducible code.
Thanks

[2015-09-11 15:55] gyandeeps commented on #3750
Can you please try changing the second line to this:
`test/**/**/*.js`

See if that works out.

[2015-09-11 15:56] nzakas commented on #3750
Possible duplicate of https://github.com/eslint/eslint/issues/3746?

[2015-09-11 15:59] mzgol commented on #3750
@gyandeeps That doesn't help but `test/**/**/*.js` is equivalent to `test/**/*.js` so it's different from what I want anyway.

[2015-09-11 16:01] BYK commented on #3746
Investigating right now.

[2015-09-11 16:05] nzakas commented on #3743
I'm not sure I see a big enough difference between what you're requesting and what's possible with rules. There's no requirement that rules output a message (though they were ostensibly created for that reason). For example, `eslint-plugin-react` has a rule that just marks `React` as defined.

So maybe the answer here is not creating something completely new, but rather providing some better helpe

[2015-09-11 16:08] nzakas commented on #3742
It's technically feasible, but merging configs is already pretty complicated, so I'm not sure it's wise to start introducing more options into what's already a tenuous process.

[2015-09-11 16:09] mzgol commented on #3740
My personal preference is it should be disallowed only with `else` present or in ternary operations but it might have an additional option to enable it for `else`-less `if` blocks as well.

[2015-09-11 16:10] jeffcharles commented on #3748
Much appreciated @nzakas

When I run eslint on my project I get:
[code]

which is kind of weird since I thought eslint ignores node_modules.

Interestingly when I run `eslint node_modules/eslint/node_modules/inquirer/node_modules/rx-lite/rx.lite.js` I get the same stack trace.

Downloading https://raw.githubusercontent.com/Reactive-Extensions/RxJS/master/dist/rx.lite.js and running it against my r

[2015-09-11 16:15] michaelficarra commented on #3722
@yaycmyk You're still violating the rule. Your first `else` should be an `else if`.

[2015-09-11 16:19] gajus commented on #3742
Isn't merging configs as simple as using an equivalent of https://lodash.com/docs#defaultsDeep ?

[2015-09-11 16:23] Nate-Wilkins commented on #3742
It might be easier to do this if the nested config was `eslint-plugin-react`
[code]

[2015-09-11 16:27] BYK commented on #3748
Are you using node 4?

[2015-09-11 16:27] BYK commented on #3746
@riking Are you using Node 4?

[2015-09-11 16:37] mzgol commented on #3750
Maybe, I don't know the internals. My another project has the following `.eslintignore`:
[code]
and `static/bundle.js` is linted as well.

[2015-09-11 16:38] steffenweber commented on #3746
I'm having the same issue with NodeJS v0.12.7.

[2015-09-11 16:38] gyandeeps commented on #3750
Thanks for the report.
We are working on a fix of this.

[2015-09-11 16:45] riking commented on #3746
@BYK Locally I have node v0.10.25 and Travis has whatever version they have. https://github.com/discourse/discourse/blob/22844b9e4663a1dd06040cd5913f02f571f9672f/.travis.yml

[2015-09-11 16:46] nzakas commented on #3742
@gajus unfortunately no. Cascading rules configuration is a complicated beast.

If you want to have some sort of grouping, I'd suggest using comments in your configuration files. It seems like that would have the desired effect of visually distinguishing groups of rules without requiring any changes.

[2015-09-11 16:46] #3742 closed

[2015-09-11 16:46] jeffcharles commented on #3748
Node 0.12.4

[2015-09-11 16:47] nzakas commented on #3746
We've identified a fix and are working on getting some automated tests in place to verify.

[2015-09-11 16:54] nzakas commented on #3748
Related to #3746, which is `.eslintignore` not working correctly.

[2015-09-11 16:54] nzakas commented on #3748
Looking into this.

[2015-09-11 17:02] gajus commented on #3742
I cannot say it is only for visual separation. It makes sense from debugging perspective too. Accessing rules.react property to get all plugin specific config is a lot easier than a rules.filter(..).

[2015-09-11 17:08] nzakas commented on #3748
Okay, so #3746 is the reason this file is being linted when it shouldn't be. That's being addressed.

The code has this block:

[code]

This actually looks like a bug in `doctrine` because the `selector` parameter is missing a name:

[code]

Issue filed: https://github.com/Constellation/doctrine/issues/120

[2015-09-11 17:13] jeffcharles commented on #3748
Awesome, thank you @nzakas!

[2015-09-11 17:19] nzakas commented on #3744
Working on this.

[2015-09-11 17:27] ilyavolodin commented on #3748
Duplicate of #2270

[2015-09-11 17:45] nzakas commented on #3735
I'm not sure there's a bug here. Can someone clarify?

[2015-09-11 17:46] nzakas commented on #3721
That might be the solution. We'd have to update the docs to reflect that as well.

[2015-09-11 17:50] #3744 closed

[2015-09-11 17:53] platinumazure opened #3753 "Documentation hooks in rules to augment ESLint output"
I'm working on a plugin [eslint-plugin-qunit][1] which will have some rules that would benefit from being able to link to QUnit's documentation. I'm using the rule documentation for this, of course, but I think it could be pretty cool to add messages that could be shown at the end of a file or the end of a run in the various reporters.

Basically, what I'm getting at is, would it be possible to su

[2015-09-11 18:03] danielgtaylor opened #3755 "Bad documentation and default for CLIEngine cache parameter"
The parameter is documented as `cache` but the code checks for `useCache`, which is what the CLI is sending in.

[2015-09-11 18:04] ilyavolodin commented on #3735
So I think there's a bunch of unrelated issues (like `no-undef` reporting errors that it shouldn't have any business checking in the first place), but the main issue is that it's reported that behavior of environments inline is different from behavior inside `.eslintrc`. I just tested out the following `.eslintrc` file:
[code]
and the following js file
[code]
And I'm not getting any errors. So it

[2015-09-11 18:58] nmschulte commented on #3735
First, apologies for the confusion; that's where I started from (confusion).

I think there are a few unrelated issues here, and the title of the issue is not one of them (nor is the first post, but it sets the stage).

@ilyavolodin I will try to isolate the environment issue, as I think that's the most important one here and the one I understand the most.  It sounds like the other issues require

[2015-09-11 19:02] #3746 closed

[2015-09-11 19:02] #3748 closed

[2015-09-11 19:02] #3750 closed

[2015-09-11 19:40] #3755 closed

[2015-09-11 20:18] mzgol opened #3756 "space-before-keywords misrecognizes shorthand methods as keywords"
The `space-before-keywords` rule (in ESLint 1.4.1) misrecognizes shorthand methods as keywords:
[code]
It claims `a` is a keyword and should be preceded by a space.

I want to not write spaces inside the parens in one-line blocks or arrays:
[code]
but I still want spaces after & before keywords:
[code]

[2015-09-11 21:01] wbecker opened #3757 "New Rule: spacing around default parameters"
There are already a bunch of spacing rules, but if I'm not mistaken there doesn't seem to be one around using default parameters:

At the moment there is no way for me to indicate that I prefer the style:

[code]

over

[code]

and definitely never want some inconsistent aberration like

[code]

This is stylistic.
It should be core, as it effects core ES6 functionality and is consistent with other

[2015-09-11 21:05] wbecker commented on #3757
Actually - This seems to be handled by the space-infix-ops rule

[2015-09-11 21:05] #3757 closed

[2015-09-11 21:13] #3745 closed

[2015-09-11 21:14] nzakas commented on #3730
This one worries me a bit. Are we sure this is 100% safe to do?

[2015-09-11 21:16] #3723 closed

[2015-09-11 21:17] #3725 closed

[2015-09-11 21:18] #3728 closed

[2015-09-11 21:19] gyandeeps commented on #3730
Based on the use cases inside the unit test, looks safe to me but I dont think we can guarantee full proof because of th usage of the variable or whatever it is.

[2015-09-11 21:19] #3732 closed

[2015-09-11 21:19] ilyavolodin commented on #3730
I think I agree. `var Document_Fragment = 3` for example will be fixed in a way that will make `no-redeclare` error out.

[2015-09-11 21:22] nzakas commented on #3730
Yeah, let's not do this one - messing with identifiers is bound to get us into trouble.

[2015-09-11 21:22] #3730 closed

[2015-09-11 21:38] SpaceK33z commented on #3756
It also returns a warning when using a class that extends an object:

[code]

Returns: `Missing space before keyword "."`

This is a somewhat related to your issue, so I added it here instead of creating a new issue.

[2015-09-11 21:49] pdehaan commented on #3591
I think this is still/differently broken in **eslint@1.4.1**.

[code]

And here's my code:
[code]

And here's the code that ESLint expects:
[code]

I think this is due to the fact that the only element in my function is a comment.

[2015-09-11 22:13] PhilVargas opened #3758 "Proposal: `space-before-blocks` differentiate functions and keywords"
the `"space-before-blocks": [1, "always"]` warns about all spaces prior to blocks.
this is great for your typical keyword syntax:
`if (foo > 5) { ... }` passes
`for (var i = 0; i < 10; i++){ ... }` fails

however, there is no possibility to distinguish between keywords and functions.
[code]

and can be particularly noticeable in testing frameworks like mocha+chai, which are littered with anonymous

[2015-09-11 23:18] jamestalmage opened #3759 "quote-props should (optionally) not complain about inconsistent quotes if quotes are required on some"
Assuming your preference is not to use quotes around property names, the following presents a problem:

[code]

Rules introduced recently (whatever `xo@0.8` depends, ) now fail because `default` is a reserved word. Adding quotes around `default` causes eslint to complain about the inconsistency.

It seems to me that "using quotes only when it's required" qualifies as "consistent".

I did poke arou

[2015-09-11 23:28] platinumazure commented on #3759
Can you include your configuration (`.eslintrc`)?

[2015-09-11 23:30] gyandeeps opened #3760 "Ability to make more than one fix from `fix` function"
Eslint: 1.4.1
parser: default

As of right now you can only fix one thing when reporting an issue from a rule. Example
[code]

But for rules like `space-infix-ops`, i need to make more than I change on a single report of an error.
Example:

Code:
[code]

In this case I will report that the infix operator doesnt have space. But when I fix it then I need to put a space before and after the `+`. I do

[2015-09-11 23:38] lo1tuma commented on #3760
You can do this with `replaceTextRange`.

Example:

[code]

[2015-09-11 23:40] gyandeeps commented on #3760
Good point. Thanks @lo1tuma

[2015-09-11 23:54] platinumazure commented on #2716
I know we already agreed on `no-unsafe-negation`, but I'm wondering if `no-unsafe-logical-negation` might be better here, just for clarity. Or is that too long?

[2015-09-12 00:04] gyandeeps opened #3761 "space-infix-ops: Doesnt report all the errors"
**Eslint version :** 1.4.1
**Parser :** Default

**Code :**
[code]

**Current output :**
[code]

**Expected output :**
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26629078-space-infix-ops-doesnt-report-all-the-errors?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties

[2015-09-12 01:01] lo1tuma commented on #3761
I think this is the expected behavior.
As far as I know, the colon in your example isn’t a separate operator (see: http://www.ecma-international.org/ecma-262/6.0/index.html#sec-conditional-operator).

[2015-09-12 01:06] gyandeeps commented on #3761
in this example   if you fix the first error (2:14) then it would start showing the second error(2:17).

[2015-09-12 01:08] lo1tuma commented on #3761
Same logic as for

[code]

if you fix it to be `a +b` you would still have one error left.

[2015-09-12 01:10] gyandeeps commented on #3761
in your case you are talking about the same operator, in my case they are 2 different operators.

[2015-09-12 01:19] ilyavolodin commented on #3565
Ok, I created a very simple prototype of "process-pool" that will spawn a bunch of processes based on the number of cores available and send files to those processes for linting. I had to turn off reporting (formatters are not invoked) but here are the numbers:
Single process linting on 544 files in 234 directories took 9.585 seconds. Same files took 4.168 seconds over 8 processes (I have 8 cores)

[2015-09-12 01:36] lo1tuma commented on #3761
As I understand it `? :` is only one operator (a ternary infix operator).

[2015-09-12 01:39] royriojas commented on #3565
@ilyavolodin, is your prototype public? would love to see it. Currently the cache module uses a statSync, for simplicity sake. but it would be nice to see if that can be done async as well

[2015-09-12 01:42] ilyavolodin commented on #3565
@royriojas Not yet, I only wrote pooling library for `child_process` and even that needs some major cleanup before I would be comfortable posting it anywhere:-) I didn't convert anything to async code yet, I just added `process.exit(0)` once all of the linting is done (so no reporting of any kind for now). I also commented out all of the cache code for this test, because it was hard to find a spot

[2015-09-12 02:31] jamestalmage commented on #3759
sorry,
don't have one of those.
I am using `xo`.

I poked around [their source](https://github.com/sindresorhus/xo/blob/master/index.js#L24) a little, and their is a reference to

[code]

I'm sure that is referencing some default config somewhere, but couldn't figure it out.

[2015-09-12 04:34] sindresorhus commented on #3759
It's working as intended.

This is the change you're looking for: https://github.com/sindresorhus/eslint-config-xo/commit/cc7d2bd26f0eff756a800f9bc87cc20928485b7b

And here's the rule: http://eslint.org/docs/rules/quote-props#consistent-as-needed

That's incorrect. It complains as you're not consistently quoting the rules. If you quote one, you should quote the others too for consistency.

[2015-09-12 04:40] gyandeeps commented on #3759
@sindresorhus we can safely close this issue?

[2015-09-12 05:50] jamestalmage commented on #3759
It definitely was complaining that default was a reserved keyword, even though it was in an object literal.

I am fine with closing this. But another should be opened with regard to the default keyword.

[2015-09-12 05:50] #3759 closed

[2015-09-12 05:53] jamestalmage opened #3762 "default should not be a reserved word in an object literal"
See discussion on #3759

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26631768-default-should-not-be-a-reserved-word-in-an-object-literal?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-09-12 06:18] mmrko commented on #3756
Uh oh, thanks for bringing these up! Looks like I've missed a couple special cases. I'll investigate this further.

[2015-09-12 07:53] TheSavior commented on #2998
Is the cache invalidated if the configuration used to lint the file was changed? I'd like to enable this for our project but want to make sure things are linted again without the cache automatically if we ever change our configuration.

[2015-09-12 13:41] jonathanKingston opened #3763 "object-curly-spacing node type changes [$10]"
It appears common place to have object definitions as without spaces but import statements with spaces:
[code]

and

[code]

So I suggest adding in the following properties to this rule to allow granular control:
[code]

This would change the first option to be a default to those specific options. If they are not set, it will default to the first option.

<bountysource-plugin>
---
There is a **[$1

[2015-09-12 14:26] YuriSolovyov opened #3764 "CLIEngine does not handle fix option properly"
`code.js`
[code]

`package.json`
[code]
`.eslintrc`
[code]
`lint.js`
[code]

Run `npm install` first,  and then `npm run lint`

Expected result is that in `code.js` file semicolons are inserted, but they aren't.

If I comment out fix option, it reports semis as expected:
[code]

ESLint 1.4.1
node 4.0

[2015-09-12 14:34] gyandeeps commented on #3764
Thats because you never asked the eslint to write the fixes back. If you use `CLIEngine` then you have to make you write the fixes back to files.
API: http://eslint.org/docs/developer-guide/nodejs-api#outputfixes

Now if you run `eslint` through `cli` with `--fix` flag then it will write it for you.

[2015-09-12 14:39] YuriSolovyov commented on #3764
@gyandeeps thanks, you are right, we did not come to that in chat.

[2015-09-12 14:39] #3764 closed

[2015-09-12 14:56] BYK opened #3765 "ESLint repo does not have an `.eslintignore` file"
Ironically, our own repo doesn't have an `.eslintignore` file so running `node bin/eslint.js .` generates a lot of errors.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26636917-eslint-repo-does-not-have-an-eslintignore-file?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties v

[2015-09-12 15:07] ilyavolodin commented on #2998
No, right now cache is invalidated only when target files change. You can manually reset cache though.

[2015-09-12 15:48] alberto opened #3766 "Implement auto fix functionality for space-before-function-paren rule"
Implement auto fix functionality for space-before-function-paren rule

[2015-09-12 16:01] mysticatea commented on #3743
If variables are added, some rules for variables (e.g. `no-undef`, `no-unused-vars`, ...) may be confused.
I would like to recommend a use of [preprocessors](http://eslint.org/docs/developer-guide/working-with-plugins#processors-in-plugins).
For example, it converts `Cu.import(some/path/SomeVarName.jsm)` to `var SomeVarName = Cu.import(some/path/SomeVarName.jsm)` in preprocess.

[2015-09-12 16:34] ndaidong opened #3769 "Apply both "arrow-spacing" and "space-before-blocks""
I'm using eslint 1.4.1, when I define these two rules as below:

"space-before-blocks": 0,
"arrow-spacing": 2

It looks like the first rult overwrites the 2nd, so:

[code]

Ideal: it should accept the case 1 as correct because the the second rule is being applied.

[2015-09-12 16:38] gyandeeps commented on #3769
can you please share the exact out put of eslint?

[2015-09-12 16:46] ndaidong commented on #632
How about "no-invalid-this". While using jQuery, it's normal to write:

  $('#somebutton').click(function(){
    var pid = $(this).attr('pid');
    doAction(pid);
  });

With "no-invalid-this" enabled, that will become an error.

[2015-09-12 16:51] ilyavolodin commented on #3743
Actually, that's an excellent idea, @mysticatea this way in preprocessor you can even read linked file and extract all of the variables from it.

[2015-09-12 16:52] #3766 closed

[2015-09-12 16:58] mysticatea commented on #3721
I will work on this.

[2015-09-12 17:09] TheSavior opened #3770 "Invalidate cache when rules change"
We should automatically invalidate the cache when the configuration used to test the file was changed. This will allow people to use the cache on continuous integration machines that do incremental builds (opposed to travis which does a full checkout each time).

In order to support this I think we would need to store the full configuration each file was linted with in the eslintcache file. That w

[2015-09-12 17:14] ndaidong commented on #3769
@gyandeeps

At first, let me correct the rule I'm using:

    "arrow-spacing": 2,
    "space-before-blocks": [2, "never"]

The result looks like this screenshot (as you can see, the lines 21, 26, 27... are passed)

![space-before-blocks-error.png](http://i.imgur.com/7NnOsRp.png)

The first rule added because I like to see:

[code]
more than:

[code]

The second rule added because I always write:

[2015-09-12 17:17] gyandeeps opened #3771 "Implement auto fix functionality for space-before-keywords rule"
Implement auto fix functionality for space-before-keywords rule

[2015-09-12 17:27] gyandeeps opened #3773 "Implement auto fix functionality for space-after-keywords rule"
Implement auto fix functionality for space-after-keywords rule

[2015-09-12 18:27] lo1tuma commented on #3770
:+1:

I’ve already mentioned this in our chat:

-----

A possible solution for this could be to store a checksum of `eslintVersion + getEslintConfigForFile(file) + fileContent`, each time the checksum for a file is different the cache should be invalidated.

[2015-09-12 18:29] TheSavior commented on #3770
Yeah, that approach sounds right to me.

[2015-09-12 20:17] mysticatea commented on #632
There is an workaround.

[code]

[2015-09-12 20:25] #3771 closed

[2015-09-12 21:46] bathos commented on #3685
@nzakas I'm not sure that it is a bug in anyone else's eyes, given michaelficarra's explanation, but if not I think it would be nice to add something to the no-unused-expressions doc mentioning that it will consider sequence expressions to be unused. In any case here's the data:

 - version: 1.31
 - example:
[code]
 - config:
[code]
 - eslint output: "Expected an assignment or function call and in

[2015-09-12 22:17] gyandeeps opened #3776 "Implement auto fix functionality for space-before-blocks rule"
Implement auto fix functionality for space-before-blocks rule

[2015-09-12 23:52] #3773 closed

[2015-09-12 23:54] alberto opened #3778 "Test failing on OSX due to differences in temporary folder paths."
If I run "npm test" from a clean checkout on a Mac OSX 10.10.4 I get the following error:

 1) CLIEngine executeOnFiles() Fix Mode should return fixed text on multiple files when in fix mode:

      AssertionError: expected { Object (results, errorCount, ...) } to deeply equal { Object (results, errorCount, ...) }
      + expected - actual

         "errorCount": 1
         "results": [

[2015-09-13 00:10] lo1tuma commented on #3778
I can reproduce this.

[2015-09-13 00:34] #3753 closed

[2015-09-13 00:41] platinumazure opened #3779 "Feature request: Plugin hooks before reading/writing files"
Now that autofix is implemented with ESLint 1.4.0, I'm hugely excited to upgrade the ESLint at my work and start taking advantage of it. (Never mind that we're only on 0.19.0 at this point...)

The only problem: We're stuck using TFS at work for source control, which operates by rendering local source files read-only until "checked out for edit", at which point they become writable. What this mean

[2015-09-13 01:52] platinumazure opened #3780 "Possible build gap: Detect if fixable rule has correct documentation"
Similar to how "(recommended)" is checked for recommended rules, maybe we should check for "(fixable)" somehow? Or at least we could check that all the docs are consistent about it (rule index contains "(fixable)" and specific rule documentation contains a blurb on fixable somehow).

[2015-09-13 02:26] jimbolla opened #3781 "documentation for no-multi-spaces should explain or link to possible values for exceptions"
On this page: http://eslint.org/docs/rules/no-multi-spaces#exceptions

Best I can tell, [this is the list of values](https://github.com/eslint/espree/blob/master/lib/ast-node-types.js).

[2015-09-13 02:36] ilyavolodin commented on #3779
While I understand why you need this, I can't really come up with any examples (other then the one you mentioned) where this could be used. It feels like maybe you might want to create your own wrapper around ESLint and call CLIEngine programmaticaly, this way, when you get back list of errors, you can check-out files and only then fix them (I think on-demand fixing through CLIEngine hasn't been i

[2015-09-13 02:38] ilyavolodin commented on #3780
Right now we have nothing to check against. Recommended is checked against eslint.json but we have no accessible source of information about fixable. Fixable should theoretically go into rule metadata, but we haven't settled on metadata implementation yet.

[2015-09-13 05:42] ndaidong commented on #632
nicely, thank you @mysticatea :+1:

[2015-09-13 07:43] studiorgb opened #3782 "Error: Cannot find module 'eslint-plugin-react'"
Fresh global installation, first test and error :( Any ideas?

[code]

[2015-09-13 07:57] studiorgb commented on #3782
Sorry. That solved the problem.
```npm install -g eslint-plugin-react```

[2015-09-13 07:58] #3782 closed

[2015-09-13 14:06] platinumazure commented on #3779
Well, as you say, on-demand fixing isn't implemented yet. Basically, what I'm trying to say is that what is already available is awesome, it just needs a tiny bit of flexibility since it represents the first time ESLint actually writes to files.

Is there any chance of this (even if I volunteer to implement), or is what you said about wrapping CLIEngine the official word?

[2015-09-13 14:26] btmills commented on #3769
Would it make sense for space-before-blocks to warn only when the preceding token is a closing paren?

[2015-09-13 14:48] ilyavolodin commented on #3779
@eslint/eslint-team thoughts?

[2015-09-13 16:23] ndaidong commented on #3769
@btmills :+1: yes, I think so.

[2015-09-13 17:20] sindresorhus commented on #3779
:-1: You're trying to fix the problem at the wrong level. This way you'll have to open a request on any tool that works on files. You should rather create a [custom FUSE fs](https://github.com/mafintosh/fuse-bindings) for TFS.

[2015-09-13 17:28] sindresorhus commented on #3762
Relevant: https://mathiasbynens.be/notes/javascript-properties

[2015-09-13 18:22] obrac opened #3783 "Trouble with eslint 1.4.1 : no error reported"
Hi,

After a fresh install of eslint 1.4.1, I have tested it with this `test.js` file in a new directory:
[code]
I've entered `eslint test.js`, but I get no error.

I've also tried `eslint -f html test.js > report.html` but the report indicates: "0 problems".

I am on Ubuntu 15.04 (64 bits). I have node 0.12.7 and npm 2.14.3.
The output of `which node npm eslint` is:
[code]

Best regards,
Olivier.

[2015-09-13 18:41] platinumazure commented on #3779
Could I have a link to FUSE itself (not the Node wrapper, but rather what is FUSE in general). Thanks!

[2015-09-13 18:48] platinumazure commented on #3779
@sindresorhus Never mind, found it. That won't work for me- we run Windows.

[2015-09-13 18:58] ilyavolodin commented on #3783
Can you provide a copy of your `.eslintrc` file please?

[2015-09-13 19:05] mantoni opened #3784 "CLI performance"
I just started using ESLint in Vim (through Syntactic, as suggested in the Readme). It works great, but it's a little slow, blocking the UI when opening or saving files, because Vim can't run tasks in the background. So I made a few quick checks (on a new MacBook, 1.1 GHz Intel Core M w/ flash drive):

Overall execution time on a very simple file with an empty ES 6 class definition:

[code]

Node

[2015-09-13 19:35] obrac commented on #3783
I have no `.eslintrc` file. To double check, I have used the commands with the `--no-eslintrc` option and I get the same results: no error printed and an html report with "0 problems".

[2015-09-13 19:39] ilyavolodin commented on #3784
Somewhat related to #3565

[2015-09-13 19:40] ilyavolodin commented on #3783
In v1.0.0 we made a breaking change to ESLint, now ESLint doesn't not have rules turn on by default. So if you don't have .eslintrc file in your project, no rules are applied to your code. You should run `eslint --init` command to create configuration file for your project and then try running ESLint again.

[2015-09-13 19:42] gyandeeps commented on #3783
Eslint by default doesnt have any rules on. So you have to activate appropriate rules to show errors (if present).

Based on your example code above, you activate `semi: [2, "always"]` the  you would see one error.
To further play with eslint, please use are online demo.: http://eslint.org/demo/

[2015-09-13 19:42] obrac commented on #3783
I do I misses that! Sorry.

[2015-09-13 20:19] obrac commented on #3783
So, as a remainder:

- In [http://eslint.org/docs/rules/](http://eslint.org/docs/rules/), the first paragraph "rules" states: "none are enabled by default".
- In [http://eslint.org/docs/user-guide/migrating-to-1.0.0](http://eslint.org/docs/user-guide/migrating-to-1.0.0), the title of the first paragraph is: "All Rules Off by Default". It's a very informative document.

Of course, both pages are cl

[2015-09-13 20:19] #3783 closed

[2015-09-13 20:34] mantoni commented on #3784
@ilyavolodin Although I want single file processing to be faster. Linting all the files is fast enough for my use case.

[2015-09-13 20:47] BYK commented on #3769
This would break the `else{` case.

[2015-09-13 20:49] BYK commented on #632
@nzakas @gyandeeps - I feel like `indent` requires a rewrite so not sure if adding a new option for this is the best thing at the time.

[2015-09-13 20:50] ilyavolodin commented on #3784
@mantoni I mean that's it's related due to the use of background processes.

[2015-09-13 21:07] btmills commented on #1338
Another instance of this, brought up in #3769:

[code]

In the demo, this will produce two errors:

[code]

Inserting a space after the `else` will fix both messages.

In #3769, I proposed limiting space-before-blocks to cases where the block follows a closing paren because we typically have rules to cover the other cases (e.g. arrow-spacing and space-after-keywords), and this introduces duplicate

[2015-09-13 21:10] btmills commented on #3769
~~`else` is handled by space-before-blocks.~~

See [#1338 (comment)](https://github.com/eslint/eslint/issues/1338#issuecomment-139918022) - `else{` is covered right now by space-after-keywords and space-before-blocks. I elaborate more in that comment, but my earlier suggestion could solve both of these issues.

[2015-09-13 21:27] lo1tuma commented on #1338
This would not work for classes:

[code]

[2015-09-13 21:35] btmills commented on #1338
Good point. I'll investigate what can precede a block and report back.

[2015-09-13 21:40] michaelficarra commented on #1338
@btmills Literally just about anything.

[code]

[2015-09-13 21:47] btmills commented on #1338
Right now space-before-blocks checks three node types: `BlockStatement`, `ClassBody`, and the `case` block of a `SwitchStatement`, which doesn't have its own distinct node. As pointed out by @michaelficarra, a `ClassBody` can follow just about anything, so it doesn't make sense to apply the restriction there. What about making the restriction unique to the `BlockStatement` node type?

[2015-09-13 21:57] #3776 closed

[2015-09-14 00:35] gyandeeps commented on #1598
I think this issue will get resolved once https://github.com/eslint/doctrine/pull/102 lands.

[2015-09-14 01:56] ljharb opened #3785 "Rule request: opposite of `require-jsdoc`"
I'd like a rule (or an option to the `require-jsdoc` rule) that forbids JSDoc, as I never want my projects to have it.

[2015-09-14 02:07] platinumazure commented on #3780
I'll close for now, then. I had sort of figured comparing doc index with rule doc could work, but maybe not after all.

[2015-09-14 02:07] #3780 closed

[2015-09-14 02:12] gyandeeps commented on #3785
wow this is the first time... Just curious, why are you against documentation?

[2015-09-14 02:42] ljharb commented on #3785
Comments that explain "why", or history and motivations, are good.

Comments that explain "what" are at best redundant and at worst a crutch for bad code - code should be self-documenting. JSDoc is solely the latter form, and I don't want anyone to make a PR or contribution into any of my projects that pollutes the code with such comments.

[2015-09-14 02:50] IanVS commented on #3779
So, to recap, I think I'm hearing that if on-demand fixing were implemented via CLIEngine, you could write a wrapper as @ilyavolodin suggested.  Is that accurate, @platinumazure?  That approach seems to make the most sense to me, personally.

[2015-09-14 02:51] ljharb commented on #3785
Also, I'd think in general that it'd be a good idea to always have a "forbid" rule when there is a "require" rule - if something is important enough to somebody to require, it's going to be important enough to somebody else to forbid, and vice versa.

[2015-09-14 02:51] ilyavolodin commented on #3785
While I respect your opinion, this is the first time I've seen a stance like that, so I don't think this would fit into the core as there is not enough demand for a rule like that. I think this is better suited for a plugin.

[2015-09-14 02:52] platinumazure commented on #3779
Agreed. Shall we close this and open an issue for being able to invoke the
source code fixer from the CLIEngine interface?
On Sep 13, 2015 9:50 PM, "Ian VanSchooten" <notifications@github.com> wrote:

[2015-09-14 02:53] IanVS commented on #3779
Does http://eslint.org/docs/developer-guide/nodejs-api#outputfixes not meet your need, in that regard?

[2015-09-14 02:54] ilyavolodin commented on #3779
Oh, I didn't see that @nzakas implemented that. Must've missed it. @platinumazure that should allow you to create a very lightweight wrapper around eslint that would be able to checkout files before autofixing them.

[2015-09-14 02:58] platinumazure commented on #3779
Yeah, I'll check it out. Let's close this.
On Sep 13, 2015 9:54 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-09-14 02:59] ljharb commented on #3785
That's fine if that's the core team's decision - but "first time I've seen [it]" is likely due to working environments (enterprise/startup/etc) and not due to the actual popularity. imo the existence of any project with JSDoc constitutes demand for requiring it, and the existence of any project without JSDoc constitutes demand for forbidding it.

[2015-09-14 03:01] #3779 closed

[2015-09-14 03:10] IanVS commented on #3567
I was talking with @MiguelCastillo, and he had the idea to pick a reasonable number (half dozen or so) of the most popular rules and start by autoconfiguring just those, and then add more in as demand dictates.  My original thinking had been to examine all rules against the target project (or at least those rules with enumerable/binary configurations).  Thoughts?

[2015-09-14 03:25] ilyavolodin commented on #3567
Knowing how many rules we have that support more then one option, I think we might be talking about thousands of permutations here. I'm not sure all rules can be run against target. All rules without options would be fine though, I think.

[2015-09-14 03:50] IanVS commented on #3567
@ilyavolodin Is your concern about performance, user experience, or difficulty of implementation?  Many of the more useful rules have enum options of just two values (such as "always" and "never") so they wouldn't add much overhead.  Open-ended options like `complexity` likely won't make sense, and those with options containing multiple properties could quickly get out of hand, as you say. But let

[2015-09-14 03:56] denghongcai opened #3786 "rule "{indent: [2, 4, {indentSwitchCase: true}]}" is reported invalid"
cli command:
[code]

error output:
[code]

[2015-09-14 03:58] denghongcai commented on #3786
eslint version is 1.4.1

[2015-09-14 04:20] mysticatea commented on #3786
The `indent` rule has a breaking change at 1.0.0.

Please see http://eslint.org/docs/rules/indent#options

Hmm, I could not find it in [Migrating to v1.0.0](http://eslint.org/docs/user-guide/migrating-to-1.0.0)

[2015-09-14 07:13] lo1tuma commented on #3785
I agree with @ljharb, JSDoc comments are almost always redundant information which feels like a code smell.

I would also say that this is [common enough](http://www.kyleblaney.com/software-blog/2012/6/29/comments-are-a-failure.html) to have such a rule in the core.

Here is a quote from [Clean Code](http://www.amazon.com/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882):

[2015-09-14 08:35] mickaeltr opened #3788 "eslint 1.4 does not ignore patterns like "**/node_modules""
Hello,

My .gitignore file contains patterns like **/node_modules. eslint uses the .gitignore file (instead of the .eslintignore). It used to work but it stopped working after I upgraded from eslint 1.3 to 1.4. Now it returns error about files which are in the node_modules.

eslint = 1.4.1
.gitignore = **/node_modules
command = eslint  --quiet --ignore-path .gitignore

Thanks

[2015-09-14 08:57] remitbri opened #3789 "space-before-keywords in jsx context (bug)"
In js,
[code]
is not considered an error.

But in jsx
[code]
flags one (using v1.4.1)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26666960-space-before-keywords-in-jsx-context-bug?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-09-14 09:47] p-m-p opened #3790 "Behaviour for eqeqeq and no-eq-null"
Hi, we're seeing failing builds with v1.4.1 where we have `eqeqeq: 2` and `no-eq-null: 0` options set and code which checks `if (value == null)`. This was okay with previous versions so I just wanted to check what the behaviour should be in this instance before we make any fixes.

It makes sense logically that with the null check rule disabled and the eqeqeq rule enabled we should see the failures

[2015-09-14 09:55] jbt opened #3791 "block-scoped-var and redeclaration in non-nested blocks"
This is not so much an issue as a question as I'm not entirely sure what the desired behaviour should be.

The way I understand the `block-scoped-var` rule to work is, roughly speaking, "things that would throw if you were using `let` instead of `var`"

With that in mind, I expect to be able to do things like this (with `no-redeclare` disabled):

[code]

or, my most common case, reusing loop varia

[2015-09-14 09:59] p-m-p commented on #3790
Found the reason for this which is maybe slightly confusing given the two separate options.
`eqeqeq: [2, 'allow-null']` is required with v1.4.1

[2015-09-14 09:59] #3790 closed

[2015-09-14 10:09] iOiurson commented on #3788
I'm having the same kind of problem here, eslint doesn't seem to exclude `node_modules` by default as it should, but also does the lint check even if I include `node_modules/**` manually in my `.eslintignore` file...

My eslint version is 1.4.1.

[2015-09-14 10:55] mysticatea commented on #3791
Yes, that is the expected behavior of `block-scoped-var`.
The rule is checking whether or not a variable is referred from outside of the block.
This behavior is since before 1.0.0.
See also: #3158

FYI: I have another `block-scoped-var` that emulates block-scoping completely in [my plugin](https://github.com/mysticatea/eslint-plugin).

[2015-09-14 11:08] mysticatea commented on #3790
Yes, it had been a serious bug.
In fact, the option "allow-null" have existed since before 1.4.1 :)

Related: #3699

[2015-09-14 11:26] jvdl opened #3792 "with ESLint 1.4.x `eslint ./` will lint all files on a drive"
With eslint 1.4.x a new globbing matcher was introduced and the `processPath()` method used to pass it an appropriate glob has introduced a bug whereby a relative path to the current directory in the form of `./` would end up with a glob of `/**/*.js` - in effect searching from the root of the drive.

To resolve this, it may be better, instead of replacing the `./` in `processPath()`, to use `path

[2015-09-14 11:40] ilyavolodin commented on #3789
Could you provide console output of the error please?

[2015-09-14 12:03] jbt commented on #3791
Ok great thanks for clarifying (and thanks for pointing me to your plugin too!)

In that case unless there are any objections, I'll put together a PR to add a few more block-scoped-var test cases to make this behaviour a little clearer.

[2015-09-14 12:07] remitbri commented on #3789
`Missing space before keyword "function". (space-before-keywords)`

[2015-09-14 12:25] remitbri opened #3793 "Problem with "jsx-quotes" rule"
Using a fresh install of ESLint v1.4.1, and  `"jsx-quotes" : [2, "prefer-double"]` in my .eslintrc, I get
[code]

Using `"jsx-quotes" : [0, "prefer-double"]` gets no output error.

[2015-09-14 13:06] lo1tuma commented on #3793
* What parser do you use?
* Can you share the code that causes this error?

[2015-09-14 13:09] joshforisha opened #3794 "Rule "comma-dangle" does not apply to ES2015 import statements"
import { apple, orange, } from 'fruits';

does not trigger rule `comma-dangle": [ 2, "never" ]`.

I'm using the current stable version, 1.4.1.

[2015-09-14 13:33] remitbri commented on #3793
- espree
 - the entire codebase? :-/  that's the thing, as you can see from the report, I can't pinpoint to a particular file… I'll try to zero the problematic file(s)

The command I ran is
[code]
After a couple of tests, it's precisely
[code]
that gives the error output.

[2015-09-14 13:46] btmills commented on #3794
Verified in the demo that all cases below are caught except `import`.

[code]

[2015-09-14 14:10] lo1tuma commented on #3793
I can reproduce this, it happens when a attribute doesn’t have a value.

Example:

[code]

-----

I’m working on this.

[2015-09-14 14:38] rizowski commented on #3792
I am experiencing this problem currently.
When I pass eslint `./` it tries to lint `/Library/Application Support/Apple/ParentalControls/Users` then blows up because it doesn't have access. Ha I am in `/Users/username/git/eslint-watch` when trying to run the command.

[2015-09-14 14:43] IanVS commented on #3792
@BYK, can you take a look at this?

[2015-09-14 14:45] IanVS commented on #3788
@BYK maybe you want to take a look at this?

[2015-09-14 14:50] yaycmyk commented on #3722
@michaelficarra The rule text should be extended to say that `if``else` that can be hoisted will trigger this rule then. Currently it only mentions an `if` by itself inside another `if` and nothing about an `if``else` pair.

[2015-09-14 14:50] IanVS commented on #3785
Excuse my ignorance, but isn't the purpose of JSDoc generally to create API docs?

That said, perhaps this could be accomplished by a simple option to `require-jsdoc` of `"always"` or `"never"`, which would default to `"always"`.

[2015-09-14 14:53] ljharb commented on #3785
That would work just fine for my purposes.

[2015-09-14 14:56] IanVS commented on #3722
Wouldn't hurt to add an example to the docs, IMO.

[2015-09-14 14:57] sindresorhus commented on #3785
:+1: I too feel JSDoc is redundant and want to keep it out of my projects.

[2015-09-14 15:04] #3793 closed

[2015-09-14 15:08] michaelficarra commented on #3722
Have any of you looked at the documentation? Please just look at it. http://eslint.org/docs/rules/no-lonely-if The entirety of the documentation for this rule talks specifically about this case.

[2015-09-14 15:14] IanVS commented on #3722
Yes I looked at it.  Existing does are:

[code]

I can see where the message could be somewhat misleading (`Unexpected if as the only statement in an else block.`), and since this has tripped up at least one person, I'm saying it wouldn't hurt to also include another `else`:

[code]

[2015-09-14 15:18] yaycmyk commented on #3722
@michaelficarra That's a pretty condescending statement considering I very clearly stated in the previous message that there was no specific info regarding a nested `if else` block versus a singular nested `if`.

I agree with @IanVS that adding an example or just a disclaimer line to the docs would be enough.

[2015-09-14 15:23] michaelficarra commented on #3722
@yaycmyk My apologies, I didn't realise you were considering an if without an else as a different thing than an if with an else. To me, `if (a) b;` is the same thing as `if (a) b; else ;`. Additionally, they are both represented by the same AST node, so those structures are quite tightly associated in my mind. If changing one of the examples to include an else helps someone, I'm not opposed.

[2015-09-14 15:25] yaycmyk commented on #3722
:+1:

[2015-09-14 15:28] nzakas commented on #3765
What errors are you talking about? After node_modules is ignored, what else should we be ignoring?

[2015-09-14 15:29] nzakas commented on #3670
@byk then you'd need every parser to implement parser.name or else we would need to add it.

[2015-09-14 15:30] nzakas commented on #3670
@benmosher we don't have agreement on the implementation, so it's not yet time to build something. If you have implementation suggestions, please describe here.

[2015-09-14 15:31] #3721 closed

[2015-09-14 15:35] nzakas commented on #3784
@mantoni I'd suggest you contact the plugin authors to discuss the server idea. We don't maintain the plugin, and I'm not sure there's anything we can do to address the bootstrapping time for ESLint. Other editors like Atom seem to have pretty speedy plugins, so it's probably just a matter of how the plugin works.

[2015-09-14 15:37] nzakas commented on #3770
@royriojas what do you think?

[2015-09-14 15:39] nzakas commented on #3785
Please create a custom rule for this. Simply flipping the existing rule won't work because we only flag one instance (function declarations).

[2015-09-14 15:39] #3785 closed

[2015-09-14 15:40] #3717 closed

[2015-09-14 15:42] nzakas commented on #3720
@byk agree

[2015-09-14 15:46] nzakas commented on #3678
Is it possible to split these? I thought we looked before and determined it wasn't possible?

[2015-09-14 15:47] nzakas commented on #3740
@mzgol would you like to try implementing this?

[2015-09-14 15:52] nzakas commented on #3760
I'm not going to add this right now. Allowing rules to make multiple fixes dramatically complicates the process. For now, just focus on rules where you can make one fix. Let's see how far that gets us.

[2015-09-14 15:52] #3760 closed

[2015-09-14 15:53] nzakas commented on #2716
I don't think `logical` adds any further clarity, so if prefer to stick with the decision.

[2015-09-14 15:54] mmrko commented on #2769
:+1:

[2015-09-14 15:56] nzakas commented on #3761
We are also deprecating `space-infix-ops`, so differences should be discussed. https://github.com/eslint/eslint/issues/3587#issuecomment-137581672

[2015-09-14 15:56] gyandeeps commented on #3760
Sounds good.

[2015-09-14 15:56] #3722 closed

[2015-09-14 16:01] nzakas commented on #3762
This issue didn't have enough information. Please update your description with the specific request.

[2015-09-14 16:03] nzakas commented on #3567
If we just take a small subset of rules, then I'm not sure it will be much more useful than what --init already does. I agree that performance shouldn't be a factor here so long as it doesn't take minutes.

[2015-09-14 16:07] michaelficarra commented on #3794
The same probably applies for the various export forms that include export specifiers.

[2015-09-14 16:10] nzakas commented on #3792
@jvdl are you using 1.4.1?

[2015-09-14 16:14] nzakas commented on #3769
We can just skip if the block is the body of an arrow function.

[2015-09-14 16:15] globexdesigns opened #3797 "Getting warnings about .eslintignore but I don't even use .eslintignore"
After upgrading to 1.4.1 from 1.3.x I'm getting a ton these warnings:
[code]

But my project doesn't even have a `.eslintignore` file. I also tried creating an empty `.eslintignore` file, but that didn't make the warnings go away.

Is ESLint grabbing ignored paths from `.gitignore` or something? Can I have it not do that?

[2015-09-14 16:15] nzakas commented on #3791
Sounds good. Can you also update the docs as well?

[2015-09-14 16:17] mzgol commented on #3740
@nzakas I'm afraid I have limited time within the next 2-3 weeks but I can do it later if no one gets to it before me.

[2015-09-14 16:17] nzakas commented on #3797
Possible duplicate of #3720

[2015-09-14 16:17] nzakas commented on #3797
@byk

[2015-09-14 16:18] nzakas commented on #3740
We also don't have the time to do new rules, so this will remain open until a volunteer steps forward.

[2015-09-14 16:20] globexdesigns commented on #3797
@nzakas Very likely as all of my warning messages are about symlinked files. Closing this as duplicate of #3720

[2015-09-14 16:20] #3797 closed

[2015-09-14 16:21] nzakas commented on #3758
Seems reasonable. Are you interested in working on this?

[2015-09-14 16:24] nzakas commented on #3763
Sounds good. Are you interested in working on this?

[2015-09-14 16:26] michaelficarra commented on #3758
We should just stop calling function bodies blocks, as that's not what they are. Also, your keywords option would probably be better named "control flow" or something. But it wouldn't be necessary if functions weren't included in this rule in the first place.

[2015-09-14 16:27] gyandeeps opened #3798 "new-cap: Docs missing option properties"
Docs for `new-cap` rules doesn't have any mention of `properties` option.
It was added lately but the docs were not updated.

[2015-09-14 16:27] mzgol commented on #3740
@nzakas Sure, no worries. :)

[2015-09-14 16:29] pdehaan opened #3799 "Odd indent error after updating to 1.4.1"
Ref: https://github.com/eslint/eslint/issues/3591#issuecomment-139669222

---

I'm seeing some odd indenting rule behavior after updating to **eslint@1.4.1**.

[code]

And here's my code:
[code]

And here's the code that ESLint expects:
[code]

I think this is due to the fact that the only element in my function is a comment.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2015-09-14 16:30] pdehaan commented on #3591
Filed new issue as https://github.com/eslint/eslint/issues/3799

[2015-09-14 16:36] platinumazure commented on #2716
As opposed to arithmetic negation, I mean (`-` unary operator).

[2015-09-14 16:37] BYK commented on #3765
Fixtures, coverage etc.

[2015-09-14 16:38] michaelficarra commented on #2716
Or bitwise negation (`~`).

[2015-09-14 16:39] BYK commented on #3792
Looking

[2015-09-14 17:15] royriojas commented on #3770
I agree. I don't think we need to store the configuration per file since the cache is created per run. The checksum of the configuration + the version of eslint might be enough.

My only question is if plugin versions are also available to the cliEngine. I can take a look to this tonight if you want, it seems a pretty reasonable request

[2015-09-14 17:46] lo1tuma commented on #3770
I don't understand what you mean with this. If the cache is created from scratch for each run, why would we need caching at all.?

[2015-09-14 17:58] willklein commented on #3567
My initial testing showed it would take multiple (potentially many) minutes, but there have since been enhancements that should help us optimize this. Specifically, #948 and #1025 might help.

I also think we should be able to handle the enumerable options, and we should test and configure the full set of rules with very few, if any, exceptions. For rules that can't be enumerated, it may suffice t

[2015-09-14 18:14] jonathanKingston commented on #3763
@nzakas already mostly complete :smiley: will commit soon.

[2015-09-14 18:39] jonathanKingston commented on #3785
@nzakas and @ljharb I think the intent of this message makes a whole heap of sense (I mostly share the  stance on no documentation for clear code).

The **why** is far more important (ECMA is now expressive enough to be able to build documentation from the syntax easily - another job should be to improve JSDoc output too as more could be done automatically; however validation to find unreferenced

[2015-09-14 18:52] royriojas commented on #3770
@lo1tuma the cache is created per run only if it does not exists already. If it exists then we honor it.

What I really tried to say is that the configuration is the same for all the files, at least that was what I saw during the testing for the implementation. Maybe @nzakas can chime in and provide details if there is any case that the configuration might change per file.

An easy solution is to

[2015-09-14 18:53] mmrko commented on #3789
hmm, maybe `space-before-keywords` should not concern itself with spaces between `{` and keywords and instead let `block-spacing` handle them...

[2015-09-14 19:04] lo1tuma commented on #3770
The config can be different for each file, as you can have multiple `.eslintrc` files, one in each folder. Have a look to the documentation how the [configuration cascading an hierarchy](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) works. We also plan to add glob-pattern based configuration support. So you should always assume that the configuration can be d

[2015-09-14 19:24] mantoni commented on #3784
@nzakas The server could be a separate node project, but it can't be implemented in a plugin for vim directly, because JS is not a supported plugin language. Building a server into ESLint itself would make it easier to implement, but reading into your reply you wouldn't merge a PR for that, right?

[2015-09-14 19:54] PhilVargas commented on #3758
Ill give it a shot! This will be my first contribution, so it may take a bit to find my bearings. I'll report back soon if i dont expect ill be able to complete it.
is there a preference on the formatting of the options? i was thinking this one would be easier
`/* eslint space-before-blocks: [1, { "keywords": "always", "functions": "never"}]] */`
because it would be easier to separate in the futur

[2015-09-14 20:02] gyandeeps opened #3801 "Implement auto fix functionality for space-infix-ops rule"
Implement auto fix functionality for space-infix-ops rule

[2015-09-14 20:06] jbt commented on #3791
Sure thing!

[2015-09-14 20:12] lo1tuma commented on #3801
Do we really want this as the rule will be deprecated anyway?

[2015-09-14 20:14] jamestalmage commented on #3762
[code]
should be allowed, but `eslint` complains it is a reserved word and needs to be in quotes, but that is wrong. Reserved works as property names are allowed in object literals, there is no need to quote them.

[2015-09-14 20:19] lo1tuma commented on #3785
I have created a plugin for this [`eslint-plugin-comments/no-jsdoc`](https://www.npmjs.com/package/eslint-plugin-comments).

[2015-09-14 20:24] gyandeeps commented on #3801
Till the time its still alive. I use this rule a lot too.

[2015-09-14 21:02] nzakas commented on #3792
Working on this.

[2015-09-14 21:42] nzakas commented on #3765
We're already ignoring those, unless I'm missing something.

[2015-09-14 21:49] nzakas commented on #3788
Working on this.

[2015-09-14 22:00] nzakas commented on #3765
Oh, I think I see what you mean. You want to do `eslint .`?

[2015-09-14 22:25] alberto opened #3805 "Implement auto fix functionality for comma-dangle rule"
Implement auto fix functionality for comma-dangle rule

[2015-09-14 23:04] jvdl commented on #3792
@nzakas yes to clarify I was using 1.4.1

[2015-09-14 23:07] nzakas commented on #3788
I'm unable to verify this in v1.4.1. As far as I can tell, we're correctly ignoring `node_modules` by default. Here's my setup:

[code]

Then I run this:

[code]

Ditto if I run with a more general pattern:

[code]

If I downgrade to v1.4.0, then I can see that we are still linting in `node_modules`, but I cannot reproduce in v1.4.1.

@mickaeltr @iOiurson are you certain you're using the latest ve

[2015-09-14 23:08] nzakas commented on #3784
Yeah, I'd say it's best left as a separate project.

[2015-09-14 23:08] #3784 closed

[2015-09-14 23:10] nzakas commented on #3743
Ooh, that's an interesting idea. It would probably be a little dangerous, though, so maybe adding `/*global foo, bar*/` at the top is a better idea.

[2015-09-14 23:20] mickaeltr commented on #3788
Here is the complete .gitignore file:

[code]

And the command used: `eslint . --quiet --ignore-path .gitignore`

I use this setup because we sometimes have nested npm projects. It works well with eslint < 1.4.0. Lint errors from node_modules dependencies are reported with eslint 1.4.1

[2015-09-14 23:21] nzakas commented on #3762
@jamestalmage It sounds like you're reporting a bug, and if so, please see the first comment on this issue for what the required information is.

[2015-09-14 23:26] nzakas commented on #3788
ESLint ignores `node_modules` by default, so it shouldn't matter what's in your file.

I'm still not able to reproduce using v1.4.1 and this command.

Is my directory (previous comment) a good example for your setup? If not, then please let me know what's different.

[2015-09-14 23:32] mickaeltr commented on #3788
Maybe this directory structure would reproduce it (if you run eslint from the root):
[code]

[2015-09-14 23:35] mysticatea commented on #2716
How about `no-unsafe-instanceof`?

[2015-09-14 23:44] ilyavolodin commented on #3788
@nzakas I think the difference is that eslint ignores only node_modules that is in the root directory by default. In the case reported, node_modules is nested one level deep and then that pattern is registered in .eslintignore file.

[2015-09-14 23:52] ljharb commented on #3785
@nzakas Sounds good - I'd like to suggest that in the future, before accepting "require" or "forbid" rules in core, maintainers consider requesting the corresponding "forbid" or "require" rule in the same PR, where appropriate.

@jonathanKingston I'm not asking to ban comments - only verbose, redundant comments like JSDoc (and YUIBlock, and every other proscribed form of comment blocks).

@lo1tuma

[2015-09-15 03:03] royriojas commented on #3778
I had this issue a couple of days ago while working on the cache feature. `fs.realPathSync` fixed a bunch of unit tests. I just added it on the failing tests to make them pass, but maybe we should find a better solution for it, to make it more predictable.

[2015-09-15 03:07] royriojas commented on #3770
Only concern with adding the `fileContent` has is the increase of time to calculate it.

If that's not an issue I can add that with ease as well

[2015-09-15 03:27] mattfysh commented on #3788
[code]

[code]

[2015-09-15 07:07] scottohara commented on #2422
Was just trying out this new rule on a codebase that uses ES6 classes (`parser: "babel-eslint"`).

With `FunctionExpression` in the list of restrictions (as per the docs), I get  `error  Using "FunctionExpression" is not allowed` on the class constructor, e.g.:

[code]

Presumably this is because `babel` compiles ES6 class syntax to the following ES5 code:

[code]

Is it expected that this rule (a

[2015-09-15 07:18] lo1tuma commented on #2422
Can you try it with the default parser? If that works correctly then this is a problem with babel eslint.

[2015-09-15 07:23] scottohara commented on #2422
Same error with `parser: "espree"`

[2015-09-15 07:27] mysticatea commented on #2422
I think that is an expected behavior.
eslint is using JavaScript AST.
This rule is to forbid specified AST node types.
And MethodDefinition nodes have a FunctionExpression node in its value.

[2015-09-15 07:29] scottohara commented on #2422
OK, thanks @mysticatea .  Just wasn't sure if it was expected or not.

[2015-09-15 07:45] iOiurson commented on #3788
@nzakas after further investigation (with a very simple setup), I have verified on my machine that with v1.4.1, node_modules is indeed ignored.
I still have a problem, but it is related to another matter.
Sorry for the mislead.

[2015-09-15 10:02] benmosher commented on #3670
I can imagine adding one or both of the following to `RuleContext`:

- `parser`: for consistency with the other options, this would be the string module name, as configured (or DEFAULT_PARSER if unconfigured)

- `parse`: a light function wrapper around the chosen parser that takes only the contents of a file, and--using the same parser options as ESLint would use--returns the parsed AST. This woul

[2015-09-15 10:08] BYK commented on #3670
Us attaching `parser.name` doesn't sound too terrible. Just worried about cluttering the object. @benmosher's latest suggestion also sounds good (may be better than exposing the raw parser module).

[2015-09-15 11:11] depoulo opened #3807 ""Strict" rule: `unnecessaryInModules` must not apply outside an actual module"
As of now (today's `master`, but probably introduced with #1956), this rule:

[If this is modules, all "use strict" directives are unnecessary.](https://github.com/eslint/eslint/blob/master/lib/rules/strict.js#L102)

just checks if the `modules` `ecmaFeature`is enabled, instead of checking if the file tested is actually a module (by checking if the file contains an `export` statement).

This puts

[2015-09-15 11:27] depoulo commented on #3807
Version: verified with 1.1.0
**`.eslintrc`:**
[code]
**`file1.js`:**
[code]
**`file2.js`:**
[code]
**`file3.js`:**
[code]

[2015-09-15 11:27] nfroidure commented on #3807
Would be nice to have this feature depending on the performance overhead since i assume it would necessitate to traverse the whole file AST.

[2015-09-15 11:27] depoulo commented on #3807
see #1956

[2015-09-15 11:28] depoulo commented on #3807
well it would be enough for me to be able to disable this behaviour via an option.

[2015-09-15 12:36] BYK commented on #3778
@royriojas using `fs.realPathSync` seems to be a good enough solution to me. Do you have a patch file that we can have a look at (or may be a PR)?

[2015-09-15 14:19] BYK commented on #3765
Yup, exactly :)

[2015-09-15 14:33] #3792 closed

[2015-09-15 14:37] #3363 closed

[2015-09-15 14:43] #3786 closed

[2015-09-15 14:59] mysticatea commented on #3807
ESlint cannot decide whether or not a file is modules only from the file, so ESlint needs modules flag.

[code]

If the file2.js is loaded with a import statement, file2.js must be handled as modules.
So the strict rule is checking the modules flag.

[2015-09-15 15:12] somebody32 commented on #3788
Have the same problem, after update to 1.4 eslint started checking nested `node_modules` folder:

my setup:
[code]

eslint skips root node_modules, but checks them in `examples/example1` even after adding `examples/**/node_modules` to `.eslintignore`

[2015-09-15 15:17] depoulo commented on #3807
@mysticatea so what does "must be handled as modules" really mean? If there is no modules related JS code, it means almost nothing to eslint. In your example it would suffice to put `/* eslint-disable strict */` at the top of file2.js.

Alternative solution: implement `/*eslint-ecmaFeatures modules*/`

If all of this is not an option, then the current behaviour really should be made configurable (

[2015-09-15 15:42] michaelficarra commented on #3807
@depoulo A module is not a JavaScript program that includes import/export statements. Just because they MAY contain import/export statements does not mean that they MUST have them. You cannot always look at a program and determine whether or not it is a module. Being a module needs to be indicated by some other means, such as being in a `<module>` tag in the browser or telling eslint to treat the

[2015-09-15 16:00] michaelficarra commented on #3740
For anyone interested, this would be an extremely easy first contribution. Just trigger on IfStatement and report if the test is a `UnaryExpression` with operator `!` and the alternate is `null`.

[2015-09-15 16:13] IanVS commented on #3788
@somebody32 Have you tried `1.4.1`?

[2015-09-15 16:15] somebody32 commented on #3788
@IanVS sorry, need to be more precise, current version for me is `1.4.1`

[2015-09-15 16:47] royriojas commented on #3778
Not really, I fixed some of the tests as part of the pull request for [cache](https://github.com/eslint/eslint/pull/3597/files#diff-6e3261f1362e4e13d9d684e4cae1a127R646)

[2015-09-15 17:52] #3619 closed

[2015-09-15 18:16] nzakas commented on #3685
It's still easier for us to triage if you provide the information and then tell us what you expected instead of what happened.

I think the best thing to do here is to update the docs to make it explicit that sequences of this nature are considered unused.

[2015-09-15 18:17] nzakas commented on #3781
Agreed, we should update the docs.

[2015-09-15 18:18] nzakas commented on #632
Unless the rewrite is coming soon, then adding an option is the best path forward. I'd like to finally close this issue.

[2015-09-15 18:20] nzakas commented on #3788
@mickaeltr that's the same setup I have.

@somebody32 can you downgrade to 1.3 and see if that's also the case?

[2015-09-15 18:22] nzakas commented on #3807
As @michaelficarra points out, you'll always need to indicate that a file is a module regardless of where you use it. In ESLint, you must set `modules: true`, and there's no other way this can work.

[2015-09-15 18:22] #3807 closed

[2015-09-15 18:23] nzakas commented on #3765
Probably a good idea to dogfood ignores functionality. Let's do it.

[2015-09-15 18:24] nzakas commented on #3805
We're only doing autofixing for whitespace rules now. We will revisit non-whitespace rules in the future.

[2015-09-15 18:25] #3791 closed

[2015-09-15 18:27] nzakas commented on #3670
Interesting idea. Normally I'm not a fan of providing things where there's just one character difference, as the potential for typos is very high.

However, there are other things provided on the parser that people might need as well, such as the `tokenize()` method, so I'm not sure just providing a `parse()` method is enough.

[2015-09-15 18:33] nzakas commented on #3770
The whole point of adding caching is to speed things up, if we it ends up slower because we have to calculate hashes for every file, then we need to measure the difference and determine if it's worth it. Performance is the feature here, so we can't just throw that out to trade off for correctness (in that case, we'd just remove the feature if it can't be both fast and correct).

I don't think we c

[2015-09-15 18:33] mtscout6 opened #3808 "Running eslint against the current directory doesn't work anymore"
For most of my projects I've been using `eslint ./` which has been working for me for some time. This worked with v1.3.1 but not v1.4.1. In v1.4.1 it seems as though this is starting from the root directory and trying to run eslint against all the javascript files on my system. This also appears to be broken with v1.4.0.

[2015-09-15 18:33] nzakas commented on #2716
The reason we're creating a new rule is because we were overly specific with the name of the previous one. I think I've learned my lesson there.

[2015-09-15 18:34] nzakas commented on #3808
Duplicate of #3792

[2015-09-15 18:34] #3808 closed

[2015-09-15 18:34] Shulin opened #3809 "Getting around preprocessor..."
So I have configurable code in a few of my projects. Doing things such as:

#if DEBUG_MODE
// Do some extra measurement code in here
#endif

inside my javascript files.

I have a grunt task that strips out these sections of code while building for production environments. While running eslint on my files, it's throwing an error right away:
error  Unexpected token ILLEGAL

Wrapping these in
/*eslin

[2015-09-15 18:37] #3734 closed

[2015-09-15 18:38] nzakas commented on #1338
Where would a restriction for `ClassBody` be applied?

[2015-09-15 18:40] nzakas commented on #3799
Possible duplicate of #3614

@gyandeeps ?

[2015-09-15 18:42] #3756 closed

[2015-09-15 18:42] TheSavior commented on #3770
What is wrong with a hash of the configuration and the file mtime?

[2015-09-15 18:42] gyandeeps commented on #3799
Its not a duplicate because the difference is empty body with comment vs non-empty body of function.

[2015-09-15 18:42] nzakas commented on #3567
Can we cut into that time by pre-generating all possible rule configurations (maybe at release time)?

[2015-09-15 18:44] nzakas commented on #3789
Sounds good. You should double-check how this works right now outside of JSX.

[2015-09-15 18:47] IanVS commented on #3567
That's probably a good idea. Let's see how long that generation takes first. I have a feeling it will be a drop in the bucket compared to the time needed for actually linting over and over with those configurations. I have some thoughts how to do that more efficiently as well, but need to do more thinking and prototyping to flesh them out.

[2015-09-15 18:51] mickaeltr commented on #3788
I confirm that my problem is the one described by @mattfysh
In his example, it fails with 1.4.1. However, the same scenario with 1.3.1 works fine.

[2015-09-15 18:53] ilyavolodin commented on #3809
eslint-disable is ESLint instruction, the error that you are seeing is parser error. In order for ESLint to process your code, it has to be first parsed by parser (Espree is the default parser for ESLint). If parser can't parse your code, your comments are never even processed.
What you need to do is create a custom [processor](http://eslint.org/docs/developer-guide/working-with-plugins#processors

[2015-09-15 18:54] #3809 closed

[2015-09-15 18:57] nzakas commented on #3788
Okay, now I'm reproducing. So `./node_modules` is correctly ignored but `./example/node_modules` is not ignored even when `**/node_modules` is in the `.eslintignore` file.

Working on this.

[2015-09-15 18:58] royriojas commented on #3770
@theSavior IMHO, nothing is wrong with the file `mtime`/`size` fields. The only concern is that CVS tools like git sometimes update the `mtime` during a checkout. I don't see that as really big concern, because worst case scenario only a few files will be considered not cached, which is I guess safe, they will be just cached the next time.

I was planning to add the hash of the configuration per f

[2015-09-15 18:59] mickaeltr commented on #3788
Exactly! Sorry if I did not explain it clearly. Next time I'll provide an example. Thanks

[2015-09-15 19:11] nzakas commented on #3788
@mickaeltr can you try the issue3788 branch and see if that works for you?

[2015-09-15 19:30] #3788 closed

[2015-09-15 19:35] mmrko commented on #3789
Ok, great! Will do.

[2015-09-15 19:55] lo1tuma commented on #3770
Ok, so using `mtime` is not really related to this issue, I will probably file a separate issue for that where we can evaluate how expensive it would be to create a checksum for the file content.

[2015-09-15 20:26] depoulo commented on #3807
@michaelficarra I didn't know this. Could you point me to the MDN article or W3C spec specifying the `module` tag and the fact that an ES6 module does not need to contain an export statement?

And @nzakas if I woud be able to set `module: true` as a file directive, that would be enough for me.

[2015-09-15 20:42] agmcleod opened #3812 "1.4.2 .eslintignore config not picking up folder paths"
Since updating to 1.4.2, the eslint command has started picking up files specified under ignore folders in our `.eslintignore` file:

    vendor/
    spec/
    coverage/

The spec files when we run eslint against all files changed in git from master get picked up and linted. If i rollback to 1.4.1, it works fine.

Looking at the 1.4.2 changes, but not knowing the code that well, could this deletio

[2015-09-15 20:48] nzakas commented on #3325
This is an ESLint issue, not an Espree one. ESLint attaches source code to errors.

[2015-09-15 20:56] BYK commented on #3812
Yeah, looks like the check should be done before the real path call.

[2015-09-15 21:02] nzakas commented on #3812
What does `realpathSync()` do?

[2015-09-15 21:04] nzakas commented on #3812
Working on this. ::sigh::

[2015-09-15 21:12] nzakas commented on #3799
@pdehaan what version were you using prior to upgrading?

[2015-09-15 21:12] #3812 closed

[2015-09-15 21:23] pdehaan commented on #3799
@nzakas I believe it was **eslint@1.3.1**.

[2015-09-15 21:52] lo1tuma commented on #3445
@juanjoLenero is this still an issue for you?

[2015-09-15 21:59] juanjoLenero commented on #3445
@lo1tuma Sorry for the late response. You are right it was an issue on my end, we actually checked the `src` symbolic link to version control and I was recreating it in our continuos integration server before linting which caused the loop.

[2015-09-15 22:38] #3445 closed

[2015-09-15 22:40] ilyavolodin commented on #3743
@MikeRatcliffe Would @mysticatea suggestion work for you? If so, can this issue be closed?

[2015-09-15 22:43] ilyavolodin commented on #3600
@ronkorving Would proposed solution work for you? Can this issue be closed?

[2015-09-15 22:44] ilyavolodin commented on #3543
While I think it's not a bad idea, it doesn't look like there's a lot of interest in a rule like that, so you might be better of creating a plugin for this rule.

[2015-09-15 22:45] ilyavolodin commented on #3534
No response, so closing. Feel free to reopen if this is still an issue.

[2015-09-15 22:45] #3534 closed

[2015-09-15 22:48] ilyavolodin commented on #3525
It looks like we left this hanging. I, personally, lean more towards having a separate npm package but without a separate repository. Including it as `eslint:current` feels like forcing people to download extra files/data that they might not use in their project.

[2015-09-15 22:53] ilyavolodin commented on #3497
@moroshko `no-eval` is there because evaluating code is a bad practice and can lead to performance and security issues.
We can't have a rule that absolutely requires configuration in order to do anything. Every rule that we have in ESLint can work with default values, but I can't think of any defaults for a rule like that. I think this just doesn't fit into core and should be created as a separate

[2015-09-15 22:53] #3497 closed

[2015-09-15 22:55] MikeRatcliffe commented on #3743
Yes, what we really need here is a set of helpers that allow us to safely get globals from the current scope etc.

I will log another but for that when I have given it some more thought.

[2015-09-15 22:55] #3743 closed

[2015-09-15 22:56] ilyavolodin commented on #3493
@silverwind could you expand on your suggestion about single-line statements? `VariableDeclarator` was added to allow aligning multi-line declarations on name. I'm not sure I understand how would you limit it to single-line statements.

[2015-09-15 23:00] ilyavolodin commented on #3488
I think `allow` is a bit more inline with the way we name options.

[2015-09-16 00:07] ilyavolodin commented on #3458
Related to #3659

[2015-09-16 00:08] jonathandelgado opened #3814 "Rule Suggestion: PropsOnly option for no-param-reassign"
The current `no-param-reassign` rule allows for altering on props and variables being reassigned. This is great if you are worried about mutating the `arguments` variable.

If you aren't worried about that, however, if it still a good idea to look out for parameter object props being modified, since they alter variables outside of the function.

[code]

If you are interesting in adding the option,

[2015-09-16 00:14] #3419 closed

[2015-09-16 00:18] ilyavolodin commented on #3373
Closing in favor of #3530 (main path analysis issue).

[2015-09-16 00:18] #3373 closed

[2015-09-16 00:38] michaelficarra commented on #3807
@Delapouite Proof by example. Since [*ModuleBody* is optional](http://www.ecma-international.org/ecma-262/6.0/index.html#sec-modules), the empty program is a Module. The empty program does not contain an export statement.

[2015-09-16 00:40] michaelficarra commented on #2716
What's in a name? That which we call a rose by any other name would smell as sweet.

[2015-09-16 01:06] ilyavolodin commented on #3814
`no-param-reassign` will flag any assignment to arguments, so your second example will be flagged by default. Your first example will be flagged only when `props` is set to `true`.

I'm not sure I understand what you are asking. Could you provide more details please?

[2015-09-16 01:08] ilyavolodin commented on #2716
@michaelficarra but names are used for communication. And we have too many rules for users to smell:-)

[2015-09-16 01:21] ilyavolodin commented on #3342
@remko Could you provide an example of output please?

[2015-09-16 01:22] ilyavolodin commented on #3308
I think we should go with `exceptions` to stay consistent with other rules.

[2015-09-16 01:25] ilyavolodin commented on #3307
I marked this as backlog, because we can't commit to this right now and put it on the roadmap, but I think ideally, this is something we want to do at some point.

[2015-09-16 01:26] ilyavolodin commented on #3278
No response, so closing as this functionality already exists in another rule. Feel free to reopen if you have additional information.

[2015-09-16 01:26] #3278 closed

[2015-09-16 01:31] ilyavolodin opened #3815 "Provide a way to run Espree in tolerant mode"
As requested in #3128 we should try to expose a way to run Espree in tolerant mode, so that when recoverable parsing errors are found, the will be tolerated.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26717103-provide-a-way-to-run-espree-in-tolerant-mode?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_sour

[2015-09-16 01:32] ilyavolodin commented on #3128
I opened a new issue #3815 to cover proposed solution. Closing this issue, because this is currently behaving as intended.

[2015-09-16 01:32] #3128 closed

[2015-09-16 01:40] platinumazure commented on #3779
Update for anyone who cares: I found that TFS allows two different kinds of workspaces, Local and Server, and Server is supported in TFS 2012 onwards. We just migrated to TFS 2013, so I can switch my workspace over to Local and then I should stop having everything be read-only. So that's something I will recommend to my group.

Thanks again for all your help!

[2015-09-16 02:07] fastotter commented on #1101
+1 on ralphholzmann comment above

I was struggling with setting up eslint for the first time, to be sure I was linting all the files I wanted I did the same thing, broke rules in files.

[2015-09-16 02:15] ilyavolodin commented on #3120
Closing this issue since there hasn't been any movement on this issue in a while, and decision hasn't been reached. Feel free to reopen it if you have any new proposal on how to achieve this.

[2015-09-16 02:15] #3120 closed

[2015-09-16 02:17] ilyavolodin commented on #3055
Can this be moved into doctrine repository?

[2015-09-16 02:20] ilyavolodin commented on #2834
Closing this in favor of #3611 If looks like glob-based configuration should solve most of the cases that are causing problems right now. Feel free to reopen with new information.

[2015-09-16 02:20] #2834 closed

[2015-09-16 02:23] ilyavolodin commented on #2668
@btmills Should we mark this as accepted or do you want to flash out options first?

[2015-09-16 02:30] ilyavolodin commented on #2135
It looks like there are a few examples out there of this behavior, but it doesn't look like they are common enough to be included into the core. Maybe plugin would be a better alternative?

[2015-09-16 02:35] ilyavolodin commented on #1862
Closing this in favor of #1862 as that one has already been accepted on a roadmap for v2

[2015-09-16 02:35] #1862 closed

[2015-09-16 03:00] dantman commented on #2834
@ilyavolodin No, glob-based configuration does not solve this bug at all.

This bug is about **inline** environments. Where some blocks inside a file have different environments. Primarily the case where the whole file is isomorphic (with no browser-env and no dom/global) but some blocks are browser-only (with a browser-env and dom/globals).

glob-based configuration is no different from setting a

[2015-09-16 04:12] depoulo commented on #3807
_Trying to think of a **code** example..._
Mmmh, so basically if you accepted my request, ESLint could no longer make sure nobody writes a module consisting only of the `'use strict'` pragma (where removing that pragma and leaving the file empty would fix the warning).

_How else can we fix this..._
OK so in order to use the "strict" rule without the "Illegal import declaration" error I'll need to

[2015-09-16 05:02] jonathandelgado commented on #3814
@ilyavolodin Sorry about that. I'm proposing an additional option to the `no-param-reassign` rule, which would allow argument reassignment, but not argument property reassignment. So the default behavior of the rule would effectively be ignored and only the `props` behavior would be observed.

The reasoning for this is that you may not be worried about the `arguments` variable being mutated, which

[2015-09-16 05:44] zyklus opened #3817 "no-extra-semi don't like block-less while statements"
[code]

`no-extra-semi` thinks that semi-colon is unnecessary :(

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/26720236-no-extra-semi-don-t-like-block-less-while-statements?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_

[2015-09-16 06:03] royriojas commented on #3770
I made a first draft of this feature here: https://github.com/eslint/eslint/pull/3818.

[2015-09-16 06:11] mysticatea commented on #3817
@zyklus Thanks for the report.

What is the version of ESLint you are using?
We have a test case for the pattern since v1.0.0: https://github.com/eslint/eslint/blob/25f14ae9b4c862a81f336355a1029e02cb7f8fe0/tests/lib/rules/no-extra-semi.js#L25

[2015-09-16 06:22] tomekwi commented on #1862
Sure – but #1862 looks like this very issue :)

[2015-09-16 06:41] mysticatea commented on #3814
@jonathandelgado To make sure, how do you think the following patterns?

[code]

[2015-09-16 07:59] BYK commented on #1862
Hah, good catch. I think he meant #2365.

[2015-09-16 09:12] mysticatea opened #3819 "`func-style` rule, arrow functions, and `this` keywords."
If it's using `this` keyword in an arrow function, the arrow function cannot be replaced with `FunctionDeclaration`.
But currently, the `func-style` rule is warning the arrow function.

**Code:**

[code]

**Actual:**

![image](https://cloud.githubusercontent.com/assets/1937871/9900703/73e38c0e-5c9d-11e5-86c2-3b3993d2624c.png)

**Expected:**

No errors.

----

I will work on this if accepted.

<bou

[2015-09-16 09:30] mysticatea commented on #3735
I am sorry that I confuse you. I misread many...
Hmm, I tried to reproduce that, but I have not reproduced yet.

[2015-09-16 09:35] mysticatea commented on #3794
I will work on this.

[2015-09-16 10:36] mickaeltr commented on #3788
I confirm that it works again with my projects. Many thanks.

[2015-09-16 10:47] mysticatea commented on #3769
I will work on this.

[2015-09-16 11:07] remko commented on #3342
With eslint 1.4.3:

    ex1.js
      2:5  error  Expected indentation of 2 space characters but found 4  indent
      3:3  error  Expected indentation of 0 space characters but found 2  indent

    ex2.js
      3:5  error  Expected indentation of 2 space characters but found 4  indent

[2015-09-16 11:50] btmills commented on #1338
Question: in a class expression, which rule should handle the space? I'd say space-after-keywords. So don't warn on `ClassBody` when the preceding token is a keyword, and only warn on `BlockStatement` when the preceding token is `(`?

[2015-09-16 12:04] #3794 closed

[2015-09-16 12:12] #3778 closed

[2015-09-16 12:27] btmills commented on #2668
What I'm seeing from that discussion is that we don't need to be able to turn off grouping entirely (option 3), we just need to be able to change how groups are determined (options 1 and 2). With that in mind, how about a new option `"grouping"` which has two possible values:

- `"multi-line"` (default): Values spanning multiple lines end their group
- `"empty-line"`: Blank lines (no comments, no

[2015-09-16 12:34] heldinz commented on #2668
@btmills That sounds great to me! :+1:

[2015-09-16 13:03] just-boris commented on #3435
Sent pull-request #3822 to resolve it

[2015-09-16 13:58] nmschulte commented on #3735
This should be a test case for a couple of the issues here; first, the environments via inherited .eslintrc issue, and the no-undef overconcerned issue.

https://github.com/nmschulte/eslint-no_undef-environment-inherited_eslintrc_config

[2015-09-16 14:17] jonathandelgado commented on #3814
@mysticatea Exactly what I am trying to match.

[2015-09-16 14:50] gyandeeps commented on #3817
Please answer all the question as mentioned here https://github.com/eslint/eslint/issues/3817#issuecomment-140633787