[2016-01-12 15:00] gauntface commented on #4927
$ eslint -v
v1.10.3

[2016-01-12 15:09] #4900 closed

[2016-01-12 15:12] PhiLhoSoft opened #4928 "no-undef rule not working in .eslintrc in yaml format"
I have found a very strange bug...

I use ESLint v1.10.3 on Windows 7.

In a project, I made a `.eslintrc.yaml` files with all the rules of ESLint, some activated for my specific needs. Of course, I have the `no-undef: 2` rule!
It works fine.
So I copied the settings and pasted them in a `.eslintrc` file in another project: it was in Json format, I just change the content but didn't want to rename

[2016-01-12 15:12] gyandeeps commented on #4927
Maybe you have a `.eslintrc` file up the chain in folder hierarchy and that getting pulled.
Best way to know this is to run using `--debug` flag to see whaere are all the configurations coming from.

[code]

[2016-01-12 15:16] gauntface commented on #4927
That was exactly it - thank you so much - it was driving me insance.

[2016-01-12 15:16] #4927 closed

[2016-01-12 15:23] gyandeeps commented on #4928
Can you run eslint with `--debug` flag and share the output for both cases. this will tell us what all config files are getting used.

[2016-01-12 15:25] lo1tuma commented on #4916
@platinumazure Looks like the characters [`#!` are replaced with `//`](https://github.com/eslint/eslint/blob/master/lib/eslint.js#L683). So the range information shouldn’t be affected.

[2016-01-12 15:31] PhiLhoSoft commented on #4928
No, I don't have multiple config files in the same dir (I have one in the test sub-dir, only).
Coming back to report that after renaming the file, it revealed other errors: max-params, max-len, and max-statements.
So the issue isn't specific to no-undef.

Errors I saw reported while in no-prefix format: linebreak-style, indent, quote, semi, space-before-function-paren, and probably some others.

[2016-01-12 15:35] PhiLhoSoft commented on #4928
[code]

[2016-01-12 15:37] ilyavolodin commented on #4916
I admit that I didn't verify if this is actually an issue before opening a ticket. But I remember that we were doing something with hashbang to allow for the file to be parsed. So if this is not a problem, then this issue can be closed.

[2016-01-12 15:42] gyandeeps commented on #4928
based on the diff (https://www.diffchecker.com/ssyf3jbu), its picking up the file correctly.

[2016-01-12 15:42] ilyavolodin commented on #4928
Extensions are not just decorators for syntax highlighting. We support config files in JSON, YAML and JS format. Extension will let us know how to parser the file to be able to load it's content. So I think this is behaving as expected.

[2016-01-12 15:43] michaelficarra commented on #4925
Yep, looks like the rule is working fine.

[2016-01-12 15:46] PhiLhoSoft commented on #4928
OK, it is deprecated, but it is supposed to be still supported. And it is picking a number of settings, just not all of them.

[2016-01-12 15:47] gyandeeps commented on #4928
Oh yeah, lol i completly missed it.
@PhiLhoSoft When you change your file from .eslintrc to .eslinrc.yaml then you have to change the format of data inside the file also.

[2016-01-12 15:49] gyandeeps commented on #4928
Can you share the content of that file?

[2016-01-12 15:50] #4925 closed

[2016-01-12 15:57] PhiLhoSoft commented on #4928
I wonder if I have a syntax error in my yaml file. I cannot reproduce the issue with a very simple config.
Mmm, no, http://www.yamllint.com/ tells me it is OK.

I don't understand. It is Yaml in both cases.

Here is the file, with .txt extension to please GitHub, just remove that.
[.eslintrc.yaml.txt](https://github.com/eslint/eslint/files/87541/default.eslintrc.yaml.txt)

[2016-01-12 15:59] gyandeeps commented on #4928
I actually tried the same thing on my machine and i was not able to reproduce the error.

[2016-01-12 16:09] PhiLhoSoft commented on #4928
OK, I found the culprit!
The line:

[code]
Apparently, in a `.eslintrc` file, the `/*` makes the remainder of the file to be commented out!
Not in a `.eslintrc.yaml` one...

[2016-01-12 16:11] gyandeeps commented on #4928
I see. Tricky. :stuck_out_tongue_closed_eyes:

[2016-01-12 16:11] #4928 closed

[2016-01-12 16:16] xjamundx commented on #1092
Let me take a look at this today!
On Mon, Jan 11, 2016 at 10:50 PM Mehdi Hasan Khan <notifications@github.com>
wrote:

[2016-01-12 16:33] nzakas commented on #4916
Yeah, the approach @lo1tuma mentioned keeps everything pretty tight, so I think we are set. If you run into a bug, please feel free to reopen.

[2016-01-12 16:33] #4916 closed

[2016-01-12 17:22] #3317 closed

[2016-01-12 17:23] platinumazure commented on #4916
My only concern is whether or we not have a functional test which attempts to auto-fix code with a shebang, such that the test would fail if someone screwed up the ranges in that hashbang replace code. I'll investigate that tonight if nobody else beats me to it.

[2016-01-12 17:31] gyandeeps commented on #2640
Is this still an issue? Since I dont see any code in makefile for this do we still want to pursue this?

[2016-01-12 17:34] ilyavolodin commented on #2640
@nzakas Pushed a new PR just a few days ago that removed this code. I think ideally we would want this in, but we have no real way to verify that the code works (other then during releases).

[2016-01-12 17:56] nzakas commented on #2640
Yeah. I'm planning on looking at this again, it shouldn't be too hard. Just didn't want that extra code hanging around confusing things.

[2016-01-12 18:21] mathieumg commented on #4345
I know you're all swamped with the work on 2.0 (great job so far, by the way!), is there any way I can help this progress further? Thanks.

[2016-01-12 18:25] gyandeeps commented on #3851
With `2.0.0`, we have started using `node-ignore` for ignore patterns (which is gitignore compatible). With that `**/*/node_modules` is not working as its not correct glob pattern.
Do we still want to do something about this or we can safely close this issue.
CC: @eslint/eslint-team

[2016-01-12 19:20] alberto commented on #1622
What I was thinking of this two options (names open for bikeshedding):

## "all"

This would be valid:
[code]
This would be invalid:
[code]

## "assignments"

This would be valid:
[code]
This would be invalid:
[code]

[2016-01-12 19:39] alberto commented on #3092
@nzakas modifying the rule schema to what you proposed would make this a breaking change. Are you ok with that?

[2016-01-12 20:20] alberto commented on #4917
Yes, I think the same problem there was with `max` was introduced with `maxEOF`. A line-break doesn't cause an empty lines. Two line-breaks. But some editors (e.g. Atom, Sublime) pretend there is an extra empty line at the end of the file when you insert a linebreak on the last line.

So, I think `maxEOF` has an off-by-one error, but it's going to cause a lot of confusion anyway.

[2016-01-12 21:15] mysticatea commented on #4916
btw, I have a fixable rule for shebang: https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/shebang.md
A nd this is working fine :)

[2016-01-12 23:07] nzakas commented on #3092
You can make it backwards compatible so it accepts both the old and new options.

[2016-01-12 23:23] #4912 closed

[2016-01-13 01:10] mysticatea commented on #4878
@nzakas In this approach, rules cannot remove BOM with `--fix`, and I have a rule that I want to remove BOM  with `--fix`.

Could we add `insertBOM`/`removeBOM`?

[2016-01-13 07:55] BYK commented on #4912
Suggestion: use `remark-lint` and add a custom rule that catches/detects these

[2016-01-13 08:29] mantoni opened #4931 "2.0.0-beta.1 now warns about files in node_modules"
When I ugrade eslint from `2.0.0-alpha-2` to `2.0.0-beta.1`, thousands of these warnings show up:

[code]

I'm running eslint with `eslint "**/*.js"` and without any ignores. The documentation states that `node_modules` are ignored by default, which is what I want.

From skimming through the commits, I guess this was introduced in https://github.com/eslint/eslint/pull/3948 but I don't understand e

[2016-01-13 10:03] zeitiger opened #4933 "prefer-const vs for-of-loop"
ESLint suggest that I should use const in for-of-loops
[code]
but thats wrong, because if switch this than I get in Firefox and Chrome a different results
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29834087-prefer-const-vs-for-of-loop?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2016-01-13 11:39] simono commented on #4933
`const` is actually allowed in `for-of-loops`. See http://www.ecma-international.org/ecma-262/6.0/#sec-iteration-statements

Some browsers implement this wrong. See also #4699 #4088 #3104

[2016-01-13 12:04] rpatil26 commented on #3308
Let me know if anyone else has already picked it. If not, I am going to work on it tonight.

[2016-01-13 12:26] #4933 closed

[2016-01-13 13:44] nre opened #4936 "'strict' rule is only partially overridden by `sourceType: module`"
v2.0.0-beta.1

The documentation does not cover the behaviour of the 'strict' rule when strict mode is imposed by a parser option: `sourceType: module` (and, hopefully one day, `ecmaFeatures: impliedStrict` #4832).

The behaviour is also inconsistent. The 'strict' option 'none' incorrectly implies that strict mode can be somehow disabled inside ES6 modules ('Strict mode is not permitted'):

[code]

[2016-01-13 15:17] gyandeeps commented on #4931
I also saw this happening and it happens only in above case and it doesn't happen if I add `node_modules` to my `.eslintignore` file. But I think the behavior should be consistent. Right?

[2016-01-13 15:54] nzakas commented on #4931
We should be ignoring node_modules and bower_components by default.

[2016-01-13 16:00] nzakas commented on #4936
What message would change? What would it change to?

[2016-01-13 16:07] nzakas commented on #4904
I'm a bit confused. In the description, you stated that these patterns do not warn but should:

[code]

I'm saying they should not warn since removing the parens results in a syntax error. These currently do not warn, so I'm unclear on what you're saying needs to be addressed. Are there other patterns you're talking about?

[2016-01-13 16:08] #3056 closed

[2016-01-13 16:10] marcelozarate opened #4937 "Small semantic issue in no-unneeded-ternary documentation example"
Inside the documentation file:
[no-unneeded-ternary](https://github.com/eslint/eslint/blob/master/docs/rules/no-unneeded-ternary.md)

The first example shows:
[code]

Shouldn't the last line be
[code]
instead?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29844051-small-semantic-issue-in-no-unneeded-ternary-documentation-example?ut

[2016-01-13 16:10] gyandeeps commented on #4931
Interesting, there is an undocumented option which would turn off the warnings for default ignore patterns. its called `warnIgnoredByDefault`.

Here is the option: https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L100

**Proposal:**
Remove this option and by default not print warnings for default ignored files (node_modules and bower_components).

If everyone agree on this then I can

[2016-01-13 16:18] nzakas commented on #4345
I think what we need here is to get a consensus that we should basically exempt all ESLint comments from all checks. @eslint/eslint-team thoughts?

After that, we'd need to see if there's an easy way to filter those comments out. If you'd like to explore that in a PR, that would be helpful.

[2016-01-13 16:22] nzakas commented on #3851
Good point, I think we can close this now as we are officially gitignore compliant.

[2016-01-13 16:22] #3851 closed

[2016-01-13 16:24] nzakas commented on #1622
I like it! Id probably call it "initializations" instead of "assignments", but otherwise, :+1:

[2016-01-13 16:26] nzakas commented on #4878
Can you add/remove using `insertBeforeRange` or `removeRange`?

I just really don't like the idea of having such specific methods.

[2016-01-13 16:27] btmills commented on #4937
Yep, looks like it. @marcelozarate want to submit a PR? ([Contributing guide, for your reference.](http://eslint.org/docs/developer-guide/contributing/))

[2016-01-13 16:28] #3670 closed

[2016-01-13 16:30] ilyavolodin commented on #4931
Agree

[2016-01-13 16:31] ilyavolodin commented on #4345
I think ignoring configuration comments is a good idea. They are only there to satisfy ESLint, and not part of the core code. So they shouldn't be subject to linting.

[2016-01-13 16:34] marcelozarate commented on #4937
Ok.

[2016-01-13 16:35] nre commented on #4936
The message that I propose to change is the message that is shown for each strict-mode directive when `sourceType: module` and the 'strict' rule is set to 'never'.

The message would change from **"Strict mode is not permitted"** to **"'use strict' is unnecessary inside of modules"**.

This change would make the behaviour of the 'strict' rule the same for all its options ('never|global|function|sa

[2016-01-13 16:39] michaelficarra commented on #4936
:+1:

[2016-01-13 16:43] nzakas commented on #3308
Yes, we should allow overrides for any of the operators we currently flag.

[2016-01-13 16:45] michaelficarra commented on #4904
@nzakas Those are all member expressions. You're looking at the wrong comment. I was referring to [this one](https://github.com/eslint/eslint/issues/4904#issuecomment-170377259), particularly the sentence

Note that I *do not* recommend this. We should remove the special exception for MemberExpressions.

[2016-01-13 16:47] nzakas commented on #4931
Agree on removing the option.

Do we currently print warning messages for Node_modules?

[2016-01-13 17:00] #4937 closed

[2016-01-13 17:05] platinumazure commented on #4345
:+1: on filtering out all configuration comments from linting if we can.

[2016-01-13 17:06] gyandeeps commented on #4931
With `< 2.0`, we never printed messages for default ignores.
But with `>= 2.0` we have are printing ignore messages for default ignore.

With fix to this issue, we will negate the 2nd statement above and we would start behaving as we do for `<2.0`.
@nzakas Did i answer your question?

[2016-01-13 17:08] btmills commented on #4931
The glob (`**/*.js`) makes this different than the typical default ignore case. Even in `v1.10.3`, we would warn for `node_modules` when they're explicitly included by the glob. I think this is the same behavior as v1.

[2016-01-13 17:09] btmills commented on #4931
@mantoni if you run beta-1 with `eslint .`, do these warnings show up then too?

[2016-01-13 17:12] gyandeeps commented on #4931
@btmills Warnings show up when run `eslint .` with `beta-1` but they dont show in `1.10`

[2016-01-13 17:14] btmills commented on #4931
@gyandeeps got it. So intended behavior is to warn with `eslint **/*.js`, but not with `eslint .`. Is that correct?

[2016-01-13 17:17] gyandeeps commented on #4931
Even if run eslint 1.10 with `eslint **/*.js` it doesn't warn. Well nothing qualifies for me even my regular files are not getting linted.

[2016-01-13 17:20] btmills commented on #4931
Further debugging indicates my shell (zsh) was expanding the glob before passing to eslint, which is why I was getting warnings. Bash doesn't warn, even with the glob.

[2016-01-13 17:20] gyandeeps commented on #4931
k as I am using bash.

[2016-01-13 17:25] btmills commented on #4931
Testing with bash, I see what everyone else here is seeing. Chalking this one up to differences in my system, carry on!

[2016-01-13 17:25] rpatil26 commented on #3308
How do we specify `+` differently, one for `"" + stringVariable` case and other for ` +booleanVariable` case?

[2016-01-13 17:31] nzakas commented on #4931
We should definitely keep the < 2.0 behavior. Thanks for flagging this @gyandeeps

[2016-01-13 17:39] #4697 closed

[2016-01-13 17:45] rpatil26 commented on #3308
I am done with my changes except that empty string contact `+` operator overridability.

Example configuration that allows `!!`:
[code]

[2016-01-13 18:06] rpatil26 commented on #3308
@nzakas Please let me know so that I can move on and create PR. I couldn't come up with any reliable way to specify unary and binary + separately.

[2016-01-13 21:21] alberto commented on #4917
Do we want to keep two separate messages here for inner lines and lines at EOF? Otherwise, I think the logic could be simplified a little.

[2016-01-13 21:53] alberto opened #4941 "Add "minimum: 0" to "integer" options in schema"
Options taking an integer value only make sense with values >= 0 AFAIK, so I think we should add `"minimum": 0` to their schema.

Here are the rules that use `"type": "integer"`:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29854650-add-minimum-0-to-integer-options-in-schema?utm_campaign=plugin&utm_content=tracker%2F282608

[2016-01-13 22:09] alberto commented on #1622
Just to be sure:

Should the part regarding the validness of multiple var statements be left to `newline-after-var`? (Or even a new rule about multiple statements per line)

[code]

[2016-01-13 22:23] nzakas commented on #4936
Sounds good, let's do it.

[2016-01-13 22:24] #4913 closed

[2016-01-13 22:25] robcolburn commented on #4918
I have the same issue, my config is a bit long…
[code]

[2016-01-13 22:29] nzakas commented on #4941
You're saying to go through an update each rule's schema to have this?

[2016-01-13 22:37] alberto commented on #4941
I'm sorry, I'm not sure I understand the question.

I'm proposing to replace the ocurrences in the schemas of those rules from:

[code]

to

[code]

[2016-01-13 22:38] nzakas commented on #4941
Yeah, that's what I meant (wrote "an" instead of "and"). You want to update each rule's schema as opposed to making some central change so all schemas automatically are changed?

[2016-01-13 22:39] nzakas commented on #4941
Any way, I think that's a good idea. The more specific we can be, the better.

[2016-01-13 22:39] nzakas commented on #4918
Can you try it without `babel-eslint`?

[2016-01-13 22:44] #4917 closed

[2016-01-13 22:46] nzakas commented on #3308
We probably need to allow all uses of `+` and just not worry about differentiating. Just make a note of it in the docs.

[2016-01-13 22:49] alberto commented on #4941
I don't know a better way to it. :)

Also, I'm not totally sure if we won't ever need negative integers, so I wouldn't force it anyway.

I actually found there is a `positiveInteger` definition in `json-schema-schema.json` which is exactly that, but I don't know if (and how) it could be used. I tried using `{"type": "positiveInteger"}` in a schema but that didn't work.

[2016-01-13 22:52] nzakas commented on #4904
Ah, I see what you mean, thanks for explaining. Context gets hard when you're jumping through tons of issues.

Again, I don't see a good argument to change the behavior of `MemberExpression`s. I don't see that as being expected by our users.

You make a good point about `(class{}) ? a: b;`. We probably do need to change those so they don't warn. I know that's not your recommended approach, and I h

[2016-01-13 22:52] gyandeeps commented on #4941
These are all the only type available: https://github.com/mafintosh/is-my-json-valid/blob/master/index.js#L56-L88

[2016-01-13 22:52] nzakas commented on #1622
Yes, leave that to `newline-after-var`.

[2016-01-13 22:57] #4931 closed

[2016-01-13 22:58] nzakas commented on #4728
The `globals` module has been updated. This only needs the package to be updated for the fix.

[2016-01-13 22:59] nzakas commented on #4136
@keithamus can you try the master branch now? We've merged in the latest changes to the ignore files and I'm hoping that this is now fixed.

[2016-01-13 23:04] alberto commented on #4941
Should we force any of the values to be at least 1? Or do we want to play safe here, just in case?

I think some candidates would be:
[code]

[2016-01-13 23:07] alberto commented on #4941
@gyandeeps does that mean that `positiveInteger` is not meant to be used within the rule schema, or just that I am doing it wrong? :)

[2016-01-13 23:09] gyandeeps commented on #4941
I dont think you can use that as a `type`. But @btmills is the expert on this.

[2016-01-14 00:03] #4728 closed

[2016-01-14 00:30] gronke opened #4943 "Clarify documentation for caching"
A [cache file is deleted](https://github.com/eslint/eslint/blob/201806697373e3b1eb4fbda012496e6343323758/tests/lib/cli-engine.js#L1555) when both conditions apply:
1.  `cacheFile` option is pointing to an existing file
2. `cache` option is set to `false`

In my opinion this behavior is a little confusing, because the combination of `--cache false` and some valid path as `--cache-file` option is no

[2016-01-14 02:56] rstacruz commented on #1238
Unfortunately this isn't the case.

[code]

[2016-01-14 03:32] michaelficarra commented on #4904
@nzakas You feel users will be confused even if we make the rule smarter as I suggested?

[2016-01-14 06:03] btmills commented on #4941
@alberto in `json-schema-schema.json`, `positiveInteger` is a custom definition that gets reused elsewhere in the schema; it's not something that's publicly available.

[2016-01-14 10:31] Diokuz opened #4947 "Object keys alphabet order"
I want an option for such case:

[code]

Is that possible right now?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29868705-object-keys-alphabet-order?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_co

[2016-01-14 11:51] mysticatea commented on #4878
I guess `fixer.removeRange([-1, 0])` can be used for BOM if BOM was stripped before parsing.

[2016-01-14 12:01] nilsboy commented on #4418
+1 for adding autofixes

Pretty much any autofix that inserts or removes a character will interfer with i.e. an max-len fixer.
I think the core should worry about interfering fixes - not the fixes themselfes.
The core should make new passes as long as there are changes to the tree.
If a result is reached that has been reached before (checksum the tree) it should stop and warn.
I think most users w

[2016-01-14 12:59] Yomguithereal opened #4949 "Namespaced npm package sub modules break extends"
Hello eslint,

It the following works like a charm:

[code]

This seems to break:

[code]

Have a good day.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29872110-namespaced-npm-package-sub-modules-break-extends?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysou

[2016-01-14 13:01] Yomguithereal commented on #4949
`v1.10.3`

[2016-01-14 13:17] mysticatea commented on #4949
Thank you for this issue.

I guess this is duplicate of #4800.
This has been fixed on `v2.0.0-beta.1`, but it's not cherry-picked to `v1` yet.

[2016-01-14 13:26] Yomguithereal commented on #4949
Thanks for the answer @mysticatea. Sorry for the duplicate issue.

[2016-01-14 13:26] #4949 closed

[2016-01-14 13:42] #4941 closed

[2016-01-14 15:05] nre commented on #4832
TODO
- Add `impliedStrict` to Espree eslint/espree#227
  - [x] PR eslint/espree#228
  - [x] Merged
  - [ ] Released
- Add `impliedStrict` to Escope estools/escope#92
  - [x] PR estools/escope#93
  - [ ] Merged
  - [ ] Released
- Add `impliedStrict` to ESLint eslint/eslint#4832
  - [ ] Tidy up 'strict' rule eslint/eslint#4936
  - [ ] PR

[2016-01-14 15:25] #3358 closed

[2016-01-14 16:30] aylusltd opened #4950 "No-fallthrough doesn't work"
The following code trips up no-fallthrough for a false positive:

[code]

Obviously it can't fall through since either branch returns.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29878435-no-fallthrough-doesn-t-work?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2016-01-14 16:31] alberto commented on #4896
What should we do then, given the differences among the parsers?

[2016-01-14 16:32] nzakas commented on #4943
I'm a little unclear on what you're asking for.

At first glance, it seems like this may be  a bug where ESLint can't properly delete the cache file if a custom cache file is used. However, one could argue that this is expected behavior because specifying your own cache file is an indication that you know what you're doing and want to manage it yourself.

When ESLint is managing the cache, it make

[2016-01-14 16:35] aylusltd commented on #4950
1. v1.6.0 is what I'm running
2. see above for code, config below:
[code]
3. `Expected a "break" statement before "case" (no-fallthrough)` (It's in sublime text, so not c/p)
4. As noted above, should not fail.

[2016-01-14 16:35] #4907 closed

[2016-01-14 16:38] nzakas commented on #4904
@michaelficarra I'm sorry, I just disagree with your proposed changes. I've already explained several times my motivation and concerns. The only work I see to be done is what I mentioned in https://github.com/eslint/eslint/issues/4904#issuecomment-171462731. If you'd like to help with that, I'd appreciate it. If not, I understand.

If you're interested in pursuing a new rule that can help with pre

[2016-01-14 16:38] ilyavolodin commented on #4950
v1.6.0 is a very old version. This rule has been re-written since then to use code-path analysis. Could you try latest version to see if the issue still occurs?

[2016-01-14 16:40] nzakas commented on #4947
We do not have a rule for this. If you'd like, you can create a custom rule to do this.

[2016-01-14 16:40] #4947 closed

[2016-01-14 16:41] medains commented on #4606
I've made a node-glob pull request that fixes the behaviour there: https://github.com/isaacs/node-glob/pull/242

Working on a PR for to add --nofollow command line option here that will pass to the call to glob.  Watch this space.

[2016-01-14 16:42] nzakas commented on #4418
@nilsboy if you have some suggestions for how we can autofix more rules without introducing additional rule violations, we'd love to hear them.

[2016-01-14 16:45] aylusltd commented on #4950
Updating did not fix it.

v 1.10.3 running now

[2016-01-14 16:48] gyandeeps commented on #4950
Cannot reproduce this in [online demo](http://eslint.org/demo/) using `1.10.3`.

[2016-01-14 18:05] gronke commented on #4943
We can reduce the problem to the question if a disabled feature (`cache: false`) should do any write/delete actions. By disabling the cache I'd expect neither to read or write the cache, but also not to delete existing cache files.

I'd prefer to manually remove the file to clear the cache or to set a flag that just skips reading the cache. But that's just an opinion and I might be picking nits he

[2016-01-14 18:05] agauniyal opened #4951 "Can I use eslint fix to convert single to double quotes?"
As the title says, can I just make eslint ignore all other rules and use it's --fix arg on some valid `*.js` files to convert all `'single quotes statements'` to `"double quotes"` ? I don't know about internal workings but it works by understanding code unlike regex right?

[2016-01-14 18:21] gyandeeps commented on #4951
If I understand you question correctly, then yes you can just use eslint to convert single to double quotes for your project.
For more info:

* http://eslint.org/docs/user-guide/configuring
* http://eslint.org/docs/user-guide/command-line-interface

[2016-01-14 18:21] #4951 closed

[2016-01-14 18:31] nzakas commented on #4301
This isn't looking like it's going to happen. Perhaps we'll create a plugin kit that can do some of this stuff in the future, but I don't think it's going to just be an extraction of what we're doing in ESLint.

[2016-01-14 18:31] #4301 closed

[2016-01-14 18:33] platinumazure commented on #4301
No worries. I've been writing tests using Mocha to verify some of the same things, but I'm undecided on whether to try to put that in its own package or not. Sorry for leaving this hanging.

[2016-01-14 18:43] nzakas opened #4952 "Remove default rule configuration for plugins"
In updating plugins to support environments, I found that we're still supporting `rulesConfig` in plugins. I thought we had removed this feature in 1.0.0, but apparently not.

In carrying through the spirit of not forcing anything on anyone, I think it would be best to remove `rulesConfig` support and replace it with named configurations in plugins (#3659). That way, a plugin can still export rule

[2016-01-14 18:45] nzakas opened #4953 "Update eslint:recommended"
We've added a bunch of new rules since 1.0.0, and we should update `eslint:recommended` so that it has all of the important, error-catching rules that have been added since.

These seem like a good idea to have on by default:

1. `no-unexpected-multiline`
1. `no-empty-pattern`

What others should be added? (Remember, these can't be stylistic rules, only rules that catch possible errors.)

<bountys

[2016-01-14 19:05] nzakas commented on #4950
@aylusltd can you share the actual code and complete output? I'm guessing the code you have above is meant to be a simplified repro case, but we can't reproduce with it.

[2016-01-14 19:08] #3308 closed

[2016-01-14 19:10] nzakas commented on #4943
If you want to manually control the deletion of the file, you can specify an alternate location using `--cache-file`. I'm just not convinced that everyone using `--cache` wants to manually delete the file, as that seems like an easy thing to forget and end up in a bad state.

[2016-01-14 19:11] platinumazure commented on #4952
Just to make sure I have this right:

* Exporting `rulesConfig` in plugins will be discouraged (possibly deprecated);
* Said export will be ignored by ESLint; and
* Plugin developers are encouraged to create ESLint configuration packages (`eslint-config-*`) to represent one or more recommended configurations?

If I'm understanding correctly, I'm :+1:.

[2016-01-14 19:14] nzakas commented on #4952
All accept the last one. #3659 lets you define configs directly in the plugin rather than having a separate package.

[2016-01-14 19:17] mysticatea commented on #4952
:+1:

[2016-01-14 19:28] ilyavolodin commented on #4952
I think that's reasonable if we provide another way of configuring plugins (like mentioned above ability to create configs within plugins).

[2016-01-14 19:30] nzakas commented on #4896
**tl;dr** Espree is fine, we should just fix ESLint, but not at the spot indicating the original description

Verified that Espree@3 is behaving the same as Espree@2:

[code]

So, there's not an Espree issue here. The fact is that different parsers account for things like whitespace differently when reporting errors. My only concern is that the way Espree works remains consistent with itself and w

[2016-01-14 19:48] alberto commented on #4896
Yes, the error is at that place.

[2016-01-14 19:53] aylusltd commented on #4950
[code]

[2016-01-14 19:58] platinumazure commented on #4952
@nzakas Thanks, I wasn't aware of that and will check it out.

[2016-01-14 20:01] captbaritone commented on #4952
:+1: We were recently frustrated by the disparity between the core rules being off by default, and plugins still having rules that were on by default.

cc @afahim

[2016-01-14 20:01] gyandeeps commented on #4950
Yes this code fails with `1.10.3` but passes with current `master`.
@aylusltd Can you try it with current `master` just to confirm?

[2016-01-14 20:03] afahim commented on #4952
This would be wonderful. +1

[2016-01-14 20:07] aylusltd commented on #4950
Will do.

[2016-01-14 20:17] platinumazure commented on #4950
@aylusltd Did you ever note which lines in your example are being flagged by ESLint? Or did I miss that?

[2016-01-14 20:20] aylusltd commented on #4950
@platinumazure

18:13 - Expected a "break" statement before "case". (no-fallthrough)
25:13 - Expected a "break" statement before "case". (no-fallthrough)
32:13 - Expected a "break" statement before "case". (no-fallthrough)
39:13 - Expected a "break" statement before "case". (no-fallthrough)
46:13 - Expected a "break" statement before "case". (no-fallthrough)
53:13 - Expected a "break" statement be

[2016-01-14 20:20] platinumazure commented on #4952
@nzakas Looks like the issue you mentioned is still open with no real indication of progress (including but not limited to a PR). Is that something you're hoping to get in for 2.0.0? I'm not sure it's a good idea to remove this functionality in 2.0.0 without having a replacement available, or is this targeted for 3.0?

[2016-01-14 20:22] aylusltd commented on #4950
@gyandeeps is there a way to make sure no-fallthrough is set to 1 or 2 from the CLI? I don't see the error from the latest master, but it's not using my .eslintrc

[2016-01-14 20:23] nzakas commented on #4952
We will do both for 2.0.0. I already have this removed.

[2016-01-14 21:10] gyandeeps commented on #3055
@eslint/eslint-team Thoughts on the above comment.

[2016-01-14 21:27] ilyavolodin commented on #3055
I think this issue might need to be migrated to doctrine repository. If union types have to be wrapped in parentheses, doctrine should be the one catching that.

[2016-01-14 22:19] matanh-tzmedical commented on #3493
+1

[2016-01-14 23:03] alberto commented on #1622
Since newlines must come not only after "initializations" but also before, I think we need a better name.
Some suggestions:
[code]
Depending on the name, maybe the option names `all` and `initializations` will need adjustment too.

I'm open for suggestions. :)

[2016-01-15 00:01] mysticatea commented on #4950
Yes, ESLint v1 is not checking inside of `if` block.
I think this has been fixed by #4251.

[2016-01-15 00:07] mysticatea commented on #4950
[code]

[2016-01-15 00:08] alberto opened #4956 "Bug: Incorrect error location for space-in-parens"
space-in-parens error location is wrong. See example:
![space-in-parens-wrong-loc](https://cloud.githubusercontent.com/assets/72561/12341710/d75fdcbc-bb23-11e5-8c8c-624c95a05046.png)

I think error location should always be that of the corresponding paren, both for `always` and `never`, to match the error message `There (must|should be no) be a space(s) inside this paren.`

<bountysource-plugin>
-

[2016-01-15 00:41] alberto opened #4957 "Bug: Incorrect error location for object-curly-spacing"
The location of the error on opening curlies is wrong
![object-curly-spacing-wrong-loc](https://cloud.githubusercontent.com/assets/72561/12342243/0447faa2-bb29-11e5-9c80-39741914007c.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29892317-bug-incorrect-error-location-for-object-curly-spacing?utm_campaign=plugin&utm_content=trac

[2016-01-15 00:46] gronke commented on #4943
What if somebody wants to run eslint with different configurations. For example on the whole codebase with cache enabled and on some specific files always without touching the cache at all
[code]

On the other hand a user could want to add results to the cache, but not use existing entries for those files
[code]

And for those who entirely want to clear the cache and wipe all entries this flag sui

[2016-01-15 01:07] gronke commented on #4829
@radek-holy could you please also post the content of your `/tmp/test/.jslintrc` file. As the log shows eslint tries to access `/tmp/test/.eslintrc.json`, what might look a bit confusing with the given test filename, but over all it looks like you have an error in line 2 of `/tmp/test/.jslintrc`.

[2016-01-15 01:11] mysticatea commented on #4953
:+1:

`no-empty-pattern` is a rule for ES6, so I think:

- `no-class-assign` (`no-func-assign` is on by default already)
- `no-const-assign` (always error)
- `no-dupe-class-members` (`no-dupe-keys` is on by default already)
- `no-new-symbol` (always error)
- `no-this-before-super` (always error)
- `constructor-super` (always error)

And maybe the following rules are proper as well:

- `no-case-dec

[2016-01-15 01:28] #4950 closed

[2016-01-15 01:37] #4956 closed

[2016-01-15 01:47] ilyavolodin commented on #1622
`var-declaration-style` sounds OK to me.

[2016-01-15 01:49] #4957 closed

[2016-01-15 02:20] ilyavolodin commented on #4810
We also don't mention `parser` and `settings` either. Problem is, for the life of me, I can't find the code that's supposed to handle `parserOptions`, `parser` and `settings` in rule-tester. I know they work, but I can't figure out how!

[2016-01-15 02:34] jaydenseric commented on #4261
@FND +1

Absolutely I would like to drop `.eslintignore` and just keep all the config together in one place under `eslintConfig` in `package.json`. The CLI has an `--ignore-pattern` option, why can't we config these patterns in an `ignore` array?

As a side note, calling it `eslintConfig` in `package.json` is pretty redundant, everything in there is config. Wouldn't just `eslint` be more intuitive

[2016-01-15 08:15] radek-holy commented on #4829
@gronke, I'm not sure I understand you. Anyway. I don't have the file any more but I can reproduce it with following `.jslintrc`:
[code]

[2016-01-15 15:12] #4896 closed

[2016-01-15 15:23] gyandeeps commented on #4953
How about `[array-callback-return](https://github.com/eslint/eslint/blob/master/docs/rules/array-callback-return.md)` ?

[2016-01-15 16:02] nre opened #4960 "Update: Rules should get `sourceType` from Program node, not from `context.parserOptions`"
@nzakas [says](https://github.com/eslint/eslint/pull/4948#discussion_r49750505):

Rules to update:
- no-eval
- no-invalid-this
- no-redeclare
- no-use-before-define
- ~~strict~~ (updated in #4948)

and 'migrating-to-2.0.0.md'.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29910916-update-rules-should-get-sourcetype-from-program-nod

[2016-01-15 16:11] btmills opened #4961 "Change strict default mode to "safe""
Right now, when given no options, `strict` defaults to `"function"` mode. I propose changing this to `"safe"`. We had switched to `"function"` for 1.0 as that was the only safe-by-default option, but now we have an actual safe option that stands a better chance of being the correct default choice.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2016-01-15 16:55] tschaub opened #4964 "valid-jsdoc misses issues in function expression docs"
With ESLint @ 86d64ca571faa7260233d41b8eb0391a51d59ba0, it looks like the `valid-jsdoc` rule misses issues in documentation for function expressions.

The `script.js` below provides two invalid test cases (both the function declaration and the function expression have a typo in the `@param` name).

[code]

Here's what I get running this through ESLint:
[code]

Instead of 1 problem, I would expect

[2016-01-15 17:07] tschaub commented on #4964
It looks like this is specific to a function expression in a call (or new) expression.  See https://github.com/eslint/eslint/compare/master...tschaub:issue-4964 for a proposed fix.  I'll add tests if others agree this looks like the right direction.

[2016-01-15 17:11] kevinSuttle commented on #4261
Yeah, I'm advocating a lot of JS-related dotfiles move into package.json. https://github.com/editorconfig/editorconfig-core-js/issues/30

[2016-01-15 17:35] nzakas commented on #4953
These all seem like good additions. Any others?

[2016-01-15 17:37] nzakas commented on #4961
Good idea

[2016-01-15 17:41] michaelficarra commented on #4953
`array-callback-return` is not safe because it doesn't know the target is actually an array, so it should not be recommended.

[2016-01-15 17:42] nzakas commented on #4943
I'm uncomfortable with making the leap to the use cases you're theorizing. We don't have any evidence that people are wanting to support such cases, and your primary use case, managing the cache file yourself, is already supported.

I'm happy to update the docs to make the current behavior clearer.

[2016-01-15 17:43] nzakas commented on #1622
I'd go for `one- var-declaration-per-line`. The word "style" seems too ambiguous.

[2016-01-15 17:44] nzakas commented on #4810
They are. RuleTester just basically passes that stuff through, IIRC

[2016-01-15 17:49] nzakas commented on #4964
@gyandeeps ?

[2016-01-15 17:56] gyandeeps commented on #4964
Sounds good to me. Not very common case I guess but I am fine with this recommendation.

[2016-01-15 18:06] gyandeeps commented on #4377
Closing this manually as the PR had `refs` and not `fixes`.

[2016-01-15 18:06] #4377 closed

[2016-01-15 18:30] gimenete opened #4967 "New option allow-multiline on comma-dangle"
I like using the dangle comma on multiline arrays and objects but I don't like the linter warn me if I don't use it or any of my coworkers don't use it.

In other words I would love an option to make the dangle comma optional on multiline nodes. So this is what this PR is about.

This would allow also to adopt this option on standard as mentioned here feross/standard#240

I have code I'm going to

[2016-01-15 18:41] btmills commented on #4953
What about `no-arrow-condition`?

[2016-01-15 18:51] travisperson opened #4969 "Add fix for spaced comments"
Has adding a rule to spaced comments been talked about? I am currently linting a large code base, a large percentage of our comments do not have a space.

It seems like a pretty straight forward fix to implement, the only areas that start to get interesting are around markers and exceptions. I'm curious if this is something that might be considered for a PR though.

I have currently just pulled ou

[2016-01-15 18:54] gyandeeps commented on #4969
Here are some rules which might help you:

* http://eslint.org/docs/rules/lines-around-comment
* http://eslint.org/docs/rules/spaced-comment

[2016-01-15 19:08] xjamundx commented on #4969
I *think* @travisperson may be talking about adding `autofix` support to the `spaced-comment` rule. Is that correct @travisperson ?

[2016-01-15 19:33] travisperson commented on #4969
Yes, sorry if I was unclear above.

[2016-01-15 19:47] JamesHenry opened #4970 "eslint-config-eslint npm publish needed"
The current version of eslint-config-eslint 1.0.1 on npm is broken, as it does not include this commit https://github.com/eslint/eslint/commit/a8cfd568e16466ce6e35b302aeda46f2d8c35030.

I am currently unable to lint a PR for the typescript-eslint-parser project because of this so would appreciate a quick turnaround in publishing an updated version to npm.

Thanks!

[2016-01-15 20:19] xjamundx commented on #4969
@travisperson and you have autofix working for you on your local projects and would be willing to submit a pull request is that right?

[2016-01-15 20:44] #4210 closed

[2016-01-15 22:13] nzakas commented on #4970
Just pushed 2.0.0.

[2016-01-15 22:13] #4970 closed

[2016-01-15 22:18] JamesHenry commented on #4970
Thanks!

[2016-01-15 22:23] travisperson commented on #4969
Ya, like I said I don't have it working with `exceptions` or `markers`, as we don't have any comments in our code that use them. They are the only part of the rule I haven't tried to get autofix to work with. I can provide the fix we have (might be next week due to legal), or I can work on the `exceptions` and `markers` to get a complete PR that is full featured.

[2016-01-15 23:11] growlsworth opened #4971 "Unused eslint-disable comments should warn when it does not apply to the corresponding code"
This is kinda a meta enhancement. It would be a nice violation for any `eslint-disable` rules to actually match a violation that exists in the corresponding code. That way there are no vestigial `eslint-disable` comments. `eslint-disable` is usually added when some offending code "cannot" be changed at the moment, and then eventually the offending code is removed, and the `eslint-disable` remains.

[2016-01-15 23:18] nzakas commented on #4953
`no-arrow-condition` is a good one.

@michaelficarra has a point, `array-callback-return` is probably not safe enough to have as part of this.

[2016-01-15 23:18] growlsworth commented on #4971
Thanks @eslintbot .

1. I'm using `v1.10.3`
2. config:
[code]

[2016-01-15 23:27] growlsworth commented on #4971
1. Sample code:
[code]
Sample output:
[code]
2. It does not prevent a syntax nor programming error.
3. I think it should be in core because it could apply to all rules.
4. I haven't created a rule before so I wouldn't be especially quick at it. I wouldn't start on it unless the core community thought it was a good idea.

[2016-01-16 01:37] ilyavolodin commented on #4971
This would be extremely hard to do, since currently disabled rule is not even running between comments.

[2016-01-16 02:22] nzakas commented on #4969
We'd need to support `exceptions` and `markers` in order to merge it, but otherwise, seems like a nice addition.

[2016-01-16 02:44] dantman commented on #4689
Adding to this; space-in-parens seems to be unable to differentiate condition expressions (i.e. if () {}, where, etc...).

This is important since this is a perfectly valid coding style:
[code]

i.e. never space parenthesis in general, but always space the test in conditions.

[2016-01-16 03:23] mysticatea commented on #4953
`no-arrow-condition` has been deprecated :)

[2016-01-16 03:56] btmills commented on #4953
Ah right, I was reading the published rules list. I don't think we could put either of its replacements on the recommended list.

[2016-01-16 09:41] tomastrajan opened #4973 "Resolving of shareable configuration packages doesn't work in Intellij IDEs with global `eslint` installation"
Steps to reproduce:
1. Having global eslint installation - `npm i eslint -g`
2.  Creating a project which uses `shareable configuration packages` eg: [eslint-config-defaults](https://www.npmjs.com/package/eslint-config-defaults)
3. Extending some shared configuration in `.eslint.rc`

[code]

4. Opening project in one of Intellij IDEs and enabling eslint support, selecting global eslint installatio

[2016-01-16 11:13] rpatil26 commented on #4538
@gajus - Is this what you're looking for? The code is not complete. I need to add more cases to confirm if all the scenarios are covered. Just thought to create a PR in advance to check.

@nzakas I know this issue is still is proposal stage and I am not even sure if we'll accept this, but I thought to have stab at it anyways. Do you think we can accept this rule and go ahead? If so, I'll need to f

[2016-01-16 11:47] gronke commented on #4943
@nzakas please feel free to close this issue. As you pointed out this changes would not add a feature that wouldn't have been accessible by playing with `cacheLocation` and `cache` together. Do you want me to create an issue to determine the use of file hashes instead of the file size when an mtime change was detected?

[2016-01-16 12:30] SimonDegraeve opened #4975 "TAP formatter only display one message per file."
Version :
`1.10.3`

File to lint :
[code]

Configuration :

[code]

Result with default formatter:

[code]

Result with TAP formatter:

[code]

Problem:

The TAP formatter swallow messages and only display the first and the last one.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29931508-tap-formatter-only-display-one-message-per-f

[2016-01-16 14:56] mathiasbynens commented on #4915
Ref. https://github.com/tc39/ecma262/issues/284

[2016-01-16 14:57] mathiasbynens commented on #4915
More tests (https://github.com/tc39/ecma262/issues/284):

[2016-01-16 15:10] ilyavolodin commented on #4973
How is your `eslint-config-defaults` installed? In order to use global installation of ESLint, all of the plugins and configs also need to be installed globally as well.

[2016-01-16 15:14] ilyavolodin commented on #4975
Can you provide console output with a TAP formatter please?

[2016-01-16 15:28] tomastrajan commented on #4973
Thank you for your response and you are right. I had `eslint-config-defaults` as a project dev dependency and not installed globally. That means, if I want to specify some config as a `package.json` dependency I have to use local `eslint`. This is all ok, it's just problem when using `eslint_d` deamon which runs eslint and exposes it on a port to prevent time loss during lint startup. Deamon of co

[2016-01-16 16:43] nzakas commented on #4973
Closing, working as designed.

[2016-01-16 16:43] #4973 closed

[2016-01-16 17:08] #4812 closed

[2016-01-16 17:09] #4960 closed

[2016-01-16 17:11] nzakas commented on #4967
Can you show some examples and provide an over view of what the change to the rule would be?

[2016-01-16 17:14] nzakas commented on #4943
I'll leave this open to make the docs clearer.

We discussed using file hashes a while back and determined they wouldn't offer much, iirc. Please search through closed issues before opening a new one for that.

[2016-01-16 18:21] gimenete commented on #4967
Sure. Basically this option accepts these patterns:

[code]

And these are considered problems:

[code]

So the dangle comma is accepted for multiline nodes but it is not mandatory.

[2016-01-16 18:58] zandaqo opened #4976 "valid-jsdoc should not require @return for ES2015 class constructor"
Hi,

Isn't the `@return` tag a bit redundant for ES2015 class constructors? Especially considering that valid-jsdoc rule doesn't require the tag from functions that are marked as constructors with `@constructor` tag. I propose to not require the `@return` tag for constructors by default, just like how it's done right now with getters and functions with the `@constructor` tag.

<bountysource-plugin

[2016-01-16 19:05] krainboltgreene commented on #4918
@robcolburn and I have the same config mostly.

[2016-01-16 21:21] iskitz opened #4978 "no-undef: unexpectedly errors for valid 'with' block statements while no-with:0 rule is set"
This issue's reproducible when using these, or similarly, valid `with` blocks
[code]

report | result
---------|----
_expected_ | no `no-undef` errors or warnings.
_received_ | `error 'it' is not defined no-undef`
_received_ | `error 'sqrt' is not defined no-undef`
    | .
__config__ | __.eslintrc__
[no-with](http://eslint.org/docs/rules/no-with) | 0
[no-undef](http://eslint.org/docs/rules/no-unde

[2016-01-16 21:37] platinumazure commented on #4978
I assume the same will happen when the object isn't literal:

[code]

I'm not sure what we would be able to handle in solving this problem. Furthermore, I'm wondering if this really should belong to escope, since they should be able to create a new "scope" in the context of a with statement...

[2016-01-16 22:15] iskitz commented on #4978
@platinumazure

Yes. Same result.

[2016-01-16 22:20] michaelficarra commented on #4978
`no-undef` *should* warn here. Working as expected.

[2016-01-16 22:23] platinumazure commented on #4978
@michaelficarra Why do you say that? For the literal case, it should be
possible for static analysis to evaluate the object and add the keys to a
new scope. That said, for basically anything else I agree it would be
impossible.
On Jan 16, 2016 4:20 PM, "Michael Ficarra" <notifications@github.com> wrote:

[2016-01-16 22:27] kaicataldo commented on #4355
I like this idea - still looking for someone to take this on? I like the idea of having icons that represent these categories. Bootstrap's `glyphicon-wrench` and `glyphicon-star` make a lot of sense to me.

[2016-01-16 22:35] michaelficarra commented on #4978
@platinumazure Only for certain keys. `with({[a]: 0});` completely ruins scoping as well.

[2016-01-16 23:16] mysticatea commented on #4978
Since ESLint is static analyzer, so we cannot analyze dynamic things correctly.

`WithStatement` is dynamic completely.

[code]

[2016-01-16 23:17] michaelficarra commented on #4978
@mysticatea Ah that's right, I forgot unscopables could be changed at runtime.

[2016-01-17 00:12] ilyavolodin commented on #4978
I'm not sure about the discussion above, but as far as I can see, the rule is turned off, so it shouldn't warn. @iskitz Can you run eslint with `--debug` flag to see if you might have some other config enabling the rule back?

[2016-01-17 01:58] SimonDegraeve commented on #4975
I updated the first comment with the TAP output.

[2016-01-17 02:21] doug-wade opened #4979 "no-extramodular-require"
**When does this rule warn? Please describe and show example code:**
This rule warns when the absolute path of a file path require is not in a subdirectory that is a descendant of the directory containing the module root (package.json).

For example, given a file structure

    temp.js
    module/
        index.js
        package.json

throw an error if `index.js` contains `require("../temp.js");`

[2016-01-17 04:48] platinumazure commented on #4978
@ilyavolodin no-with is off but he is talking about no-undef, which is on and which he believes should not warn but does.

@iskitz Can you edit your original post to show no-undef in your configuration, as well as to more explicitly note what you expect and what you see? I think I have captured it correctly here but I need you to confirm or deny.

[2016-01-17 06:49] tjwebb opened #4980 "beta.1 destroys my terminal with warnings"
It WARNs me every time it ignores a file, which means every file in my node_modules folder is a WARNing.

e.g. https://travis-ci.org/trailsjs/trailpack-waterline/jobs/102882225#L9149

[code]
etc. ad inf.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29946486-beta-1-destroys-my-terminal-with-warnings?utm_campaign=plugin&utm_content=

[2016-01-17 07:00] iskitz commented on #4978
@platinumazure

Sure. Updated my original post and title to be more precise.

[2016-01-17 07:37] iskitz commented on #4978
Closing. No errors reported after updating to __ESLint v1.10.3__.

[2016-01-17 07:37] #4978 closed

[2016-01-17 08:11] btmills commented on #4980
Thanks for the report! This was fixed by #4939, which has been merged to `master` and will go out as part of the next release.

[2016-01-17 08:11] #4980 closed

[2016-01-17 12:38] hagaiak opened #4981 "Incorrect parsing of quoted generator methods"
Example:
[code]
So basically, `undefined`  is assigned as the name of quoted generator methods inside a class.

Reported by `eslint@1.10.3`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29949978-incorrect-parsing-of-quoted-generator-methods?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We

[2016-01-17 13:01] mysticatea commented on #4981
Thank you for this issue.

Oh sorry. I confirmed it on the online demo.
I will fix it

[2016-01-17 14:31] ilyavolodin commented on #4355
@kaicataldo Yes. Do you want to make local change and post a screenshot?

[2016-01-17 16:34] michaelficarra commented on #4978
That sounds like a bug.

[2016-01-17 17:16] nzakas commented on #4976
It sounds like you're reporting a possible bug. Can you please provide the information requested in the last comment?

[2016-01-17 17:20] nzakas commented on #4979
This would be better as a plugin. We don't do file access in our rules so that they can be used and tested in the [demo](http://eslint.org/demo).

[2016-01-17 17:20] #4979 closed

[2016-01-17 17:21] #4981 closed

[2016-01-17 17:25] nzakas commented on #4975
Can you provide some narrative around what's going on? What does before and after mean? Before and after what?

Also, what version are you using? (Did you see https://github.com/eslint/eslint/issues/4975#issuecomment-172198523 ?)

[2016-01-17 17:27] nzakas commented on #4953
Oh duh. :) That's OK, I think we have a good list of additions here.

[2016-01-17 17:28] nzakas commented on #4971
Agreed. It's an interesting idea, but I think the additional complexity isn't worth the incremental value at this point.

[2016-01-17 17:28] #4971 closed

[2016-01-17 17:32] zandaqo commented on #4976
1. ESLint version 1.10.3
2. Just omitted `@constructor` and `@return` tags in the comment for ES2015 class constructor: [the source code](https://github.com/scriptare/compago-model/blob/master/src/index.js#L15), [the config](https://github.com/scriptare/compago-model/blob/master/package.json#L47)
3. `    15:3  error  Missing JSDoc @returns for function     valid-jsdoc`
4. I expected it to recogniz

[2016-01-17 18:04] mysticatea commented on #4979
@doug-wade [node/no-unpublished-require](https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-unpublished-require.md) might help you.

[2016-01-17 19:00] gyandeeps opened #4983 "Increase code coverage"
Do some clean up work to mainly increase the code coverage.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29956175-increase-code-coverage?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2016-01-17 22:19] rioc0719 opened #4985 "Cannot find parsers/plugins if not in parent module's node_modules"
Some background: I am creating a build system that utilizes plugins. These plugins reside in separate directories from the main module. One of these plugins lints files using ESLint. It needs to support custom parsers and plugins.

I have a system where a **module A** (which is an executable, run at **directory A**) requires a **module B** which then requires ESLint. Thus, ESLint's working directo

[2016-01-18 00:50] ilyavolodin commented on #4985
Would this help your case? #4472 This has been added in alpha 2. It should allow you to set `cwd` when running through Node API.

[2016-01-18 01:48] #4964 closed

[2016-01-18 02:24] SimonDegraeve commented on #4975
Sorry about the lack of informations. I updated the issue.

[2016-01-18 03:49] rioc0719 commented on #4985
@ilyavolodin Thank you for your help, but that didn't work unfortunately. [According to this issue from Node.js](https://github.com/nodejs/node-v0.x-archive/issues/1822), require() always operates relative to the file it is called from rather than the `cwd`. You can see this if you go to where the parser is required in ESLint (circa line 528 in lib/eslint.js) and insert two `console.log` statement

[2016-01-18 03:59] growlsworth commented on #4971
Thanks for considering it.

[2016-01-18 04:40] ilyavolodin commented on #4975
Looks like an obvious bug, especially based on the PR changes.

[2016-01-18 04:41] ilyavolodin commented on #4985
Do you have any suggestion on how to fix it?

[2016-01-18 04:44] rioc0719 commented on #4985
I'm not really sure-- there's a fundamental inconsistency in the logic `require.resolve` uses in Node, so realistically, only workarounds will work here. Do you know if there's any way to change the directory that `require` operates relative to?

[2016-01-18 05:16] anshulguleria opened #4986 "Configuration heirarchy not working"
I am using `linux 15.04` and `eslint 1.10.3`

I had one `.eslintrc` file in my project's root folder and one in my home directory of linux but the rules in my project's root folder `.eslintrc` file are picked and when i remove file from my projects root folder then rules form home `.eslintrc` file are picked. But I expected that the rules would be merged and rules in my project's root `.eslintrc`

[2016-01-18 05:47] SimonDegraeve commented on #4975
Indeed. I was even a bit confuse to see how easy it was to fix... almost to good to be true ;-)

[2016-01-18 06:38] DavidAnson opened #4988 "Update version of markdownlint dependency"
Release notes:
0.1.0 - Add aliases, exceptions for MD033, exclusions for MD013, dependencies.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29967443-update-version-of-markdownlint-dependency?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.boun

[2016-01-18 10:05] mysticatea opened #4989 "`sourceCode.getNodeByRangeIndex` performance issue"
From https://gitter.im/eslint/eslint?at=569c4f4d3165a6af1a3c588c

`sourceCode.getNodeByRangeIndex` has an unintentional performance issue.

`result` is assigned always a new instance at [L263](https://github.com/eslint/eslint/blob/be9be2fe66aa3e8f36e717e23ebc0a1d43e18f22/lib/util/source-code.js#L263), so the condition at [L269](https://github.com/eslint/eslint/blob/be9be2fe66aa3e8f36e717e23ebc0a1d

[2016-01-18 11:42] lo1tuma commented on #4989
Wouldn’t it be better to remove the additional traversal in `getNodeByRangeIndex` and build a `NodeStore` similar to what we have with the `TokenStore` where we can access nodes directly by range index or location information?

[2016-01-18 13:40] ArnaudBuchholz commented on #798
Another suggestion would be to use arguments:
[code]

[2016-01-18 14:53] xjamundx commented on #1092
I'll make a plugin for this rule and then we can propose it back to core if it's useful. Will try to have it by mid-day tomorrow.

[2016-01-18 14:54] ilyavolodin commented on #4985
Sorry, I'm not very familiar with the subject. @eslint/eslint-team any ideas if this is something with can/want to fix?

[2016-01-18 14:58] ilyavolodin commented on #4986
Home directory is a special case. We don't ever read config file from home directory if local configuration files are found. If we can't find any local config files, then we fall back to home directory. This is working as intended. You can read more about config cascading here: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy

Closing as this is working as intend

[2016-01-18 14:58] #4986 closed

[2016-01-18 14:59] #4988 closed

[2016-01-18 15:01] ilyavolodin commented on #4989
@lo1tuma I'm not sure it's worth it. This is going to eat a lot of memory, and I don't see us using it too often.

[2016-01-18 15:03] ustun commented on #1238
As far as I know, webpack does exactly that: delegate to the local webpack in case a local webpack is found. Having to run local eslint from node_modules/.bin is problematic since I might be inside a particular directory and I should not be constantly thinking of giving the path to that. Having it in package.json as a script is also inconvenient.

[2016-01-18 15:17] platinumazure commented on #798
@nzakas I vaguely remember a discussion in `max-statements` about whether an exception could be added to the outermost function (assumed to be a closure or a function otherwise enclosing basically the whole file and containing potentially a lot of inner functions or methods). Is that worth considering here?

That is, could any outer function which takes in many parameters (e.g., `define`) be an ex

[2016-01-18 15:19] gyandeeps opened #4991 "Upgrade glob to 6.x"
I think we should update `glob` to `6.x` with eslint 2.0 so that

* We keep getting updates in the future
* If there are any surprises we will know it now rather than wait till 3.x

Its been 2 months since 6.x has been out.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29980214-upgrade-glob-to-6-x?utm_campaign=plugin&utm_content=tr

[2016-01-18 15:56] #4989 closed

[2016-01-18 16:06] nzakas commented on #4985
@rioc0719 there's no way to do this currently. The only possible change would be to always resolve parsers from the config file location instead of cwd. I think that would be a useful change, I'm just not sure when I can get around to it.

If you want to try submitting a PR, I'd happily review. I think the easiest approach would be to resolve `parser` into a filename [here]() so that when it's pas

[2016-01-18 16:13] nzakas commented on #4991
Sounds good.

[2016-01-18 16:14] lo1tuma commented on #4989
@ilyavolodin Why do you think it would consume a lot of memory? We already have the AST in memory, the `NodeStore` would store only references to objects that already exist.

[2016-01-18 16:18] nzakas commented on #4976
Ah, that's very helpful. We can probably not require `@returns` for class constructors.

[2016-01-18 16:25] #4878 closed

[2016-01-18 17:47] ilyavolodin commented on #4989
@lo1tuma On a large file, we are going to have a lot of AST Nodes, just the hash of index is going to take up memory space, even if content is going to be a reference, it's still not worth the trouble in my mind. I just can't think of a lot of places where we would need to get node by index.

[2016-01-18 17:52] platinumazure commented on #4037
@gajus Did you ever create a PR for this?

[2016-01-18 18:19] gajus commented on #4037
Doing it now. I am unsure about the name, though. Should we call it "table" or "ascii-table" instead? "tabular" is a bit misleading.

[2016-01-18 19:03] gajus commented on #4037
Done.

[2016-01-18 19:21] gajus commented on #4037
Note that the format has been adjusted to skip the row borders – from my experience using this format with [Canonical](https://github.com/gajus/canonical), the row separating borders hurt readability and make the output unnecessary long.

<img width="812" alt="screen shot 2016-01-18 at 18 55 40" src="https://cloud.githubusercontent.com/assets/973543/12400525/791b775e-be18-11e5-8982-e35fecbccd3b.pn

[2016-01-18 19:29] alberto commented on #4953
Should the new rules also be listed in the `migrating-to-2.0.0` doc?

[2016-01-18 19:49] tshinnic opened #4996 "v2beta Unable to disable error no-constant-condition on single line"
I am unable to disable the error for "no-constant-condition" on a per-line basis.  A block disable works fine.  Is this a bug or something I've misread in the docs?

[code]
with source
[code]
For testing this problem I'm running with .eslintrc of
[code]
This is with  eslint@2.0.0-beta.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues

[2016-01-18 20:23] weshardee opened #4997 "Docs point to 2.0.0, even though it's in beta"
According to the latest [news](http://eslint.org/blog/2016/01/eslint-v2.0.0-beta.1-released/) the ESLint beta release isn't intended for production use.

However:

- the documentation search bar always pulls up the 2.0 docs (even if I manually change the url to 1.0.0)
- there's nothing in the UI of the site to switch back to an older version, or even indicate which version is being viewed (it's vi

[2016-01-18 20:43] mysticatea commented on #4996
Thank you for this issue.

I think:

[code]

is forgetting `-line`.

[code]

[2016-01-18 21:05] tshinnic commented on #4996
Thank you for that.  I must have accidentally started using the block variation sometime in my multiple tests.  Using
[code]
does indeed silence the errors.  Changed in my sources and now no error messages.  Thank you.  Closed as user doc reading error.

[2016-01-18 21:05] #4996 closed

[2016-01-18 23:44] #4961 closed

[2016-01-18 23:44] #4983 closed

[2016-01-18 23:46] nzakas commented on #4997
Yeah, that's a bug. Moving over to the website repo: https://github.com/eslint/eslint.github.io/issues/177

[2016-01-18 23:46] #4997 closed

[2016-01-18 23:52] #4975 closed

[2016-01-18 23:52] #4991 closed

[2016-01-18 23:58] platinumazure commented on #3659
Is anyone on this?

I have a few things pending on my end (still need to get the `indent` PR done, for one thing), but if nobody picks this up in a week or so, I'd be interested.

That said, I'm not really sure where to start-- the proposed API isn't really clear. I can't tell if plugins are supposed to export configuration options or merely reference them and have some sort of magic go on behind

[2016-01-19 00:00] #4953 closed

[2016-01-19 00:03] nzakas commented on #4538
@rpatil26 if you're willing to write it, then go for it. I'll mark the issue as accepted.

[2016-01-19 00:56] ilyavolodin commented on #3659
I was planning on looking into this once @nzakas merges changes to plugins that are currently pending.

[2016-01-19 01:14] platinumazure commented on #3659
Sounds good @ilyavolodin, I'll leave it to you then.

[2016-01-19 01:18] gajus opened #5000 "Clean up the formatters"
Following up https://github.com/eslint/eslint/pull/4993, I would like to propose a small clean up of all the formatters.

### Use `pluralize`

Use [`pluralize`](https://www.npmjs.com/package/pluralize) in all formatters ("pluralize" package is already a dependency of #4993). Now every formatter implements its own mini "pluralize" function, e.g.

[`compact.js`](https://github.com/eslint/eslint/blob

[2016-01-19 01:19] gajus commented on #5000
I am happy to submit a PR.

[2016-01-19 02:41] gyandeeps commented on #4976
should we warn for unnecessary return if constructor has a return defined?

[2016-01-19 02:50] ilyavolodin commented on #5000
First two sound good to me. We've been trying to avoid lodash/underscore, but we already have some of it as dependencies in the code, so I'd be OK with it, if nobody else have objections.

[2016-01-19 03:02] rpatil26 commented on #4538
Thanks @nzakas. I will resume work on it. I expect to complete it over the weekend.

[2016-01-19 08:56] zandaqo commented on #4976
@gyandeeps I am all for it, but I believe it should be separated into an issue of its own. With this enhancement we are relaxing the rule and it won't affect those who so far followed the previous rule of adding returns to constructors, thus, no breaking change is happening, not in my pull request  #4977 at least.

Maybe we should push it a bit further and add checks for other unnecessary tags, li

[2016-01-19 15:21] gajus opened #5003 "How to get fixed source code when using CLIEngine#executeOnText()"
[code]

There is nothing in the output that would describe the fixed code. Where do I look for it?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30013380-how-to-get-fixed-source-code-when-using-cliengine-executeontext?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2016-01-19 15:39] gyandeeps commented on #5003
`cli.executeOnText('var foo;').results.output` is what will give you the fixed code.

[2016-01-19 15:41] gajus commented on #5003
@gyandeeps Yes, it appears to be the case. It was not clear because `output` property is missing when there is a syntax error in the file.

[2016-01-19 15:41] #5003 closed

[2016-01-19 15:43] gyandeeps commented on #5003
fyi, output property will be missing if `fix: false` also.

[2016-01-19 15:45] gajus opened #5004 "no-extra-semi does not fix multiple semicolons"
[`no-extra-semi`](http://eslint.org/docs/rules/no-extra-semi) fix only removes one extra semicolon.

eslint@1.10.3

Input:

[code]

Output:

[code]

Expected output:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30014154-no-extra-semi-does-not-fix-multiple-semicolons?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medi

[2016-01-19 15:54] gyandeeps commented on #5004
Its because of the overlapping range information for the fixes. This change was introduced here: https://github.com/eslint/eslint/pull/4329

[2016-01-19 15:55] gajus commented on #5004
@gyandeeps Is this available in 2.0.0 beta branch? (or anywhere else for that matter)

[2016-01-19 15:57] gyandeeps commented on #5004
The above change was introduced in 1.9 and that what we have now in current master. Because it was not safe to make fixes which had overlapping range info based on ast.

[2016-01-19 15:59] gajus commented on #5004
I am running `eslint@1.10.3`. Then shouldn't this be fixed?

[2016-01-19 16:03] gyandeeps commented on #5004
I think we are talking in 2 different directions. What you are seeing right now (based on the issue), its behaving as expected (as per the code for fixer).

Before 1.9, we used to apply fixes which used to have overlapping range info (based on ast) also. But later on we found out that it was not safe all the time (ref issue: https://github.com/eslint/eslint/issues/4321). That when we made a change

[2016-01-19 16:10] gajus commented on #5004
"overlapping range info" is not very descriptive.

If input is `var test;;;;;` and rule is supposed to remove multiple (redundant) semicolons, then expected output is `var test;`. If output is anything else (`var test;;;;` in this case) then it is a bug.

Furthermore, iterating the ESLint `--fix` multiple times produces different result (each time removing an additional column in this case), which

[2016-01-19 16:15] gyandeeps commented on #5004
Here is info for overlapping range:

[code]

[2016-01-19 16:17] #4782 closed

[2016-01-19 16:17] #4952 closed

[2016-01-19 16:21] nzakas commented on #3659
Just merged.

[2016-01-19 16:23] michaelficarra commented on #5004
@gyandeeps That is not overlapping. One end of the range is inclusive, and the other is exclusive

[2016-01-19 16:26] nzakas commented on #5000
I'd like to think hard about this. I'd really like to limit our external dependencies as we have been pulling in more and more. Our total download size keeps growing and there is a nontrivial perf cost every time we call `require`, so I'd like to stick to "must haves".

[2016-01-19 16:35] nzakas commented on #5004
@michaelficarra based on our current implementation, these are overlapping because we had some trouble with ranges that touch like this. We made a fix to prevent invalid code from being created and are still trying to find a better implementation.

[2016-01-19 16:35] gajus commented on #5000
In my view, one of the flaws in ESLint setup is the use of "modular" lodash NPM packages.

You could get rid of these dependencies:

[code]

by simply adding lodash@4 that has all of those features.

And there is no reason whatsoever to use "modular" lodash packages (given that ESLint is a development tool).

[2016-01-19 16:35] #4967 closed

[2016-01-19 16:38] gajus commented on #5000
If ESLint download time any concern, consider using NPM [`bundledDependencies`](https://docs.npmjs.com/files/package.json#bundleddependencies). You can bundle all dependencies as described here, https://github.com/gajus/bundle-dependencies#deprecated.

[2016-01-19 16:40] nzakas commented on #4976
@gyandeeps I agree with @zandaqo , that would be a separate rule, not part of this.

@zandaqo that sounds like more than is necessary at this point. If you'd like to discuss unnecessary taga further, please open a new issue.

[2016-01-19 16:40] gajus commented on #5004
A bit naive suggestion, but what about simply running the fix logic multiple times until next iteration output is not different from its input?

[2016-01-19 16:42] platinumazure commented on #5004
@michaelficarra I took a crack at trying to address the issue of adjacent ranges differently, but it introduced other problems and had to be reverted. My thought at the time was that the adjacent ranges that had problems actually was a symptom of the ESLint rules not being optimally designed and relied on fixes being applied in a different order than what the fix logic does. I'd love to take anoth

[2016-01-19 16:44] #4936 closed

[2016-01-19 16:50] gajus commented on #5004
Just in case, this is what I have meant:

[code]

[2016-01-19 19:43] mysticatea commented on #5003
The output property will be missing if rules make no change. It's convenient.

[2016-01-19 21:12] alberto commented on #5004
@gajus the reason for not doing that is performance

[2016-01-19 21:19] gajus commented on #5004
Performance always comes second to functionality.

[2016-01-19 21:20] nzakas commented on #5000
@gajus if you're willing to go through and make those changes to use lodash@4 instead of the independent ones, we can take a look.

[2016-01-19 23:00] JaxCavalera commented on #2820
Is this working yet or still broken?

[2016-01-19 23:02] gyandeeps commented on #3698
do we still need this as we are removing docs code validation (https://github.com/eslint/eslint/issues/4104) ?

[2016-01-19 23:04] gyandeeps commented on #2271
@IanVS Can we close this based on https://github.com/eslint/eslint/issues/4104?

[2016-01-19 23:34] IanVS commented on #2271
It would still be nice to find a way to lint the rule examples.   Some discussion has been happening in https://github.com/eslint/eslint-plugin-markdown/issues/46 as to how we might accomplish this.

[2016-01-19 23:41] whomba opened #5005 "eslint-disable / eslint-enable still tries to parse content between comments"
When an error occurs that you do not care about (such as ESLint thinking a Ruby include should be rendered as JS) the use of:
[code]
and
[code]
This still causes an error to happen, ESLint is still executing this code

Version
v1.10.3

What I did:
* Created a new .eslintrc.json from the eslint --init tool
* Executed: eslint -c .eslintrc.json myFile.js.erb  --ext .js,.es6,.jsx,.erb
* contents of my

[2016-01-19 23:57] whomba commented on #5005
@eslintbot my apologies, this has been updated

[2016-01-20 00:26] platinumazure commented on #5005
Yeah, the whole file will be parsed anyway before ESLint comments are taken into account. What you need is a plugin that will preprocess .ejs files which will return only the JavaScript, before parsing and linting.

Do a search on npm to see if there is a plugin for .ejs files.

[2016-01-20 00:30] whomba commented on #5005
@platinumazure Ah, ok, that makes sense.  I think the documentation should be updated to specify that this only applies to rules to avoid any confusions from people coming from the jshint world.

[2016-01-20 00:33] platinumazure commented on #5005
@whomba Sounds good- want to write up a PR?

[2016-01-20 03:42] gyandeeps opened #5006 "Build: formatter links are broken on webpage"
All the formatter links are broken on the website: http://eslint.org/docs/developer-guide/nodejs-api#getformatter

Currently link is http://eslint.org/docs/developer-guide/user-guide/formatters#compact
Expected link: http://eslint.org/docs/user-guide/formatters#compact

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30033225-build-fo

[2016-01-20 06:54] IanVS opened #5007 "esrecurse uses unmonkeypatched estraverse"
There is a bug when getting `sourceCode` from code containing JSX, and then passing it back into `eslint.verify()`.  The problem seems to be that esrecurse uses a version of estraverse that we have not monkeypatched to include JSX keys.  Because of this, esrecurse visits all properties of the node (https://github.com/estools/esrecurse/blob/master/esrecurse.js#L73). Normally, this isn't a problem w

[2016-01-20 06:56] IanVS commented on #5007
@michaelficarra, do you have any thoughts or insights here on how we might go about using escope on a JSX AST?  Is monkeypatching our best option, in your opinion?

[2016-01-20 07:08] michaelficarra commented on #5007
The problem you're having is caused by esrecurse attempting to operate on unrecognised AST nodes by recursing onto every field in the object. In my opinion, esrecurse should fail immediately when it encounters an unrecognised AST node.

I don't like the monkeypatching of escope (I would prefer a specification be passed in instead), but it seems the best way to move forward given the current state

[2016-01-20 07:10] Alex1990 commented on #3092
How can I configure the rule for the below code style?

[code]

[2016-01-20 07:44] FredyC commented on #3092
@Alex1990: First of all, for separating var declaration there is [newline-after-var](http://eslint.org/docs/rules/newline-after-var). Regarding this rule, I am afraid you need to first decide on your style. You have `return names` followed by closing bracket but then for other return you do not conform to that style. In case you want your code look like this, then this rule cannot help, it would j

[2016-01-20 08:03] Alex1990 commented on #3092
Thanks. The first line inside the function curly braces is newline if the function body is too long. This style, in my opinion, is more readable. So, I didn't stick the `always` or `never` style. Maybe I should close this rule.

[2016-01-20 09:27] szydan commented on #3720
Maybe it would be easier to have a config property **ignoreSymlink** with default value true.
By default the warnings are printed as they are now.
The user can set it to false then there are no warnings but the linked files and folders are eslinted.
The new property should be mention in documentation to make it clear that by default eslint will not follow  symlinks.

[2016-01-20 10:07] Alex1990 opened #5008 "The minimum mode of the key-spacing rule has a bug."
**ESLint version:** the master branch (commit 0acbe57602b1297cc1e7a4b04edac8651ed378f9)

In production code, I use the 1.10.3.

**Lint result:**

[code]

**`eslintrc.json`:**

[code]

**`index.js`:**

[code]

There should not be an extra space before the colon. I mean an error should be output.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2016-01-20 11:03] satazor opened #5009 "New Rule Suggestion: newline-before-return - continuation"
I would like to continue the work started in https://github.com/eslint/eslint/pull/2439
If you guys are still inline with adding the rule, I will make a PR with the requested changes.

Hopefully this could land in 2.0.0? Thoughts?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30041829-new-rule-suggestion-newline-before-return-conti

[2016-01-20 13:44] Alaneor opened #5010 "ESLint 2 fails to lint files with no JS statements"
### Setup

1. Install *eslint@next* (currently *2.0.0-beta.1*)
1. Create a *.js* file with a single comment (line or block) and **no JS statements**

### The problem

When the file is linted, eslint reports the following issue with the file:

`0:0  error  Parsing error: Cannot read property 'range' of undefined`

### Examples

#### ESLint fails to lint

[code]

[code]

#### ESLint lints successful

[2016-01-20 14:33] gajus commented on #5000
I am on it.

[2016-01-20 14:42] ilyavolodin commented on #5009
Old issue was accepted, so, moving labels here

[2016-01-20 14:43] Alaneor opened #5011 "Question: Dealing with incomplete ES 2015 support"
In ESLint 1.x, we had fine-grained control of which ES 2015 features to enable or disable in the parser. With ESLint 2.x, this seems to have been removed and we can either enable or disable everything (via `parserOptions.ecmaVersion: 6`).

However, even the newest and greatest Node.js version 5.4.1 does not have complete support for ES 2015. Being able to turn off these unsupported features proved

[2016-01-20 14:47] gajus opened #5012 "Simplify dependency tree"
https://github.com/eslint/eslint/issues/5000#issuecomment-172909102

https://github.com/eslint/eslint/issues/5000#issuecomment-172990303

https://github.com/eslint/eslint/issues/5000#issuecomment-173221690

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30047976-simplify-dependency-tree?utm_campaign=plugin&utm_content=tracker%2F28260

[2016-01-20 15:07] michaelficarra commented on #5011
http://eslint.org/docs/rules/no-restricted-syntax

[2016-01-20 15:09] gajus commented on #5012
Regarding removal of "jsonlint" package. Your current implementation does not even work, e.g. try replacing the contents of `conf/json-schema-schema.json` with invalid JSON. The reason it does not work is because `jsonlint` does not support multiple file input, https://github.com/zaach/jsonlint/issues/77. Your made condition was validating only the first JSON file.

[2016-01-20 15:13] gajus commented on #5012
The removed packages are:

[code]

Added packages:

[code]

[2016-01-20 15:33] #4976 closed

[2016-01-20 15:33] alberto commented on #5010
This is an issue with espree I detected last week: https://github.com/eslint/espree/issues/229
 It's fixed on master, so we need to upgrade espree when a new version is released. /cc @nzakas

[2016-01-20 15:38] gyandeeps commented on #5012
It would be good if you can share the before and after output of `npm perf` run on the project.
Thanks for doing this.

[2016-01-20 15:40] ilyavolodin commented on #5011
You can also use https://github.com/mysticatea/eslint-plugin-node/blob/master/docs/rules/no-unsupported-features.md

[2016-01-20 15:41] gyandeeps commented on #5000
I think for this issue, we need to decide whether we need to include `pluralize` dependency or not because they might need some changes for this PR (https://github.com/eslint/eslint/pull/4993)., based on the decision.

[2016-01-20 15:55] gajus opened #5013 "Bundle production dependencies"
ESLint is used only in development environment. It is a popular tool with well maintained tests suit. As such, I think it would benefit from using NPM [`bundledDependencies`](https://docs.npmjs.com/files/package.json#bundleddependencies) `package.json` property. Specifically, this would make the install time of ESLint a lot faster and would lift restrictions of the modularisation.

The build proce

[2016-01-20 15:56] gajus commented on #5000
If you are reluctant to include an external dependency then I suggest to have it under `./lib/utils` as a standard function that all scripts would re-use. That said, I do not see a reason for not using an external dependency. Please see my suggestion https://github.com/eslint/eslint/issues/5013.

[2016-01-20 16:17] nzakas commented on #5007
@IanVS what version are you seeing this in? What is it you're trying to do?

[2016-01-20 16:17] #5011 closed

[2016-01-20 16:20] nzakas commented on #3698
We aren't removing validation, just the online error messages.

This is a pretty low priority.

[2016-01-20 16:26] nzakas commented on #5008
@btmills ?

[2016-01-20 16:38] nzakas commented on #5004
@gajus not really. People won't use something that's slow even if they like the result. It's a balance between the two that we have to be careful of.

[2016-01-20 16:39] btmills commented on #5008
Based on https://github.com/eslint/eslint/blob/v1.10.3/tests/lib/rules/key-spacing.js#L164-L168, it looks like this might be by design. @BYK, is this behavior intentional?

[2016-01-20 16:41] nzakas commented on #5000
Go ahead with including pluralize

[2016-01-20 16:41] gajus commented on #5004
Lets try a real world analogy: No one would drive a car that is known to malfunction over a slower but safe car.

[2016-01-20 16:43] nzakas commented on #5013
Can you explain how this could fit into our current release script? And what does the script you pasted above do?

[2016-01-20 16:46] nzakas commented on #5004
If it's faster to walk than take the car, people will walk. :)

We've explored running several passes before, but the perf impact coupled with the potential for creating new problems makes it infeasible right now. I'll take another look after 2.0.0. In the meantime, people who want to run it multiple times can already choose to do so manually.

[2016-01-20 17:09] gajus commented on #5012
`issue5012` branch:

[code]

`master` branch:

[code]

I am not familiar with the expected behaviour/ output of the perf program. The `master` branch perf seems off.

[2016-01-20 17:17] gajus commented on #5013
https://www.npmjs.com/package/bundled-dependencies program reads package.json and copies names of production dependencies to `bundledDependencies` property. It is a simple convenience when the intention is to bundle all production dependencies and you do not want to maintain the `bundledDependencies` property by hand.

The NPM script is a simple convenience that uses bash script to execute `bundle

[2016-01-20 18:16] IanVS commented on #5007
I am seeing this in my [autoconfig branch](https://github.com/eslint/eslint/tree/autoconfig), which admittedly is slightly behind master.

I am trying to lint JSX code, get the `sourceCode`, and re-lint the `sourceCode`.

[2016-01-20 20:07] mkscrg commented on #2074
Just hit this myself. Definitely seems like a bug. @nzakas maybe this was closed on a misunderstanding?

[2016-01-20 20:15] gajus opened #5017 "Prefer lodash functions over native JavaScript"
Now that we are introducing lodash (https://github.com/eslint/eslint/pull/5015) it would make sense to prefer lodash over the native JavaScript methods.

lodash has been created to provide a consistent cross-environment tested collection of utility functions to work with arrays, objects and strings. It is one of the most popular NPM packages.

Since ESLint goal is not related to dealing with cross

[2016-01-20 21:10] nzakas commented on #5017
:-1: As I mentioned on the PR, I don't like this approach. I want to use the native methods when available and only use lodash for things that aren't available natively.

[2016-01-20 21:25] ilyavolodin commented on #5017
I'm with @nzakas on this. One of the decisions that ESLint is based on, is we don't want to support different environments, we only support Node (and browser for internal usage). So I prefer native methods to lodash alternatives.

[2016-01-20 22:20] ilyavolodin commented on #2074
@mkscrg There's another issue opened for it somewhere (can't find it right now). We need to do this globally for all rules and not do one-of fixes.

[2016-01-20 23:18] nzakas commented on #5007
So it seems like the problem is the `parent` node confuses `esrecurse`?

Also seems like the right answer is for `esrecurse` to expose `Syntax` and `VisitorKeys` directly rather than relying on `estraverse`?

[2016-01-20 23:19] nzakas commented on #4538
Great, thanks!

[2016-01-20 23:37] ilyavolodin commented on #5010
Espree 3.0 has been release, so I think this can be closed now.

[2016-01-20 23:39] ilyavolodin opened #5018 "Upgrade dependency for Espree"
Espree 3.0 has been released, we should upgrade package.json to not rely on alpha version anymore.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30064601-upgrade-dependency-for-espree?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysourc

[2016-01-21 00:16] mysticatea commented on #5007
I think there are 3 approaches.

1. The right approach is that we send PRs to add an option for `visitorKeys` to `esrecurse` and `escope` (the `esrecurse` is used from `escope` internal). It might take long time.
2. We make the `parent` property unenumerable: `Object.defineProperty(node, "parent", {writable: true, configurable: true, enumerable: false})`. But I know this is very slow.
3. We use mo

[2016-01-21 01:26] ilyavolodin commented on #3659
I started working on this, but pretty much instantly ran into a problem. Right now we allow users to omit `eslint-config-` when they use extend. With addition of support for configs in plugins, it's not clear how we can resolve omited prefix.
One thing I can think of is that we will only allow named configs in plugins (i.e. `eslint-plugin-react:strict`) then column will act as identifier for plugi

[2016-01-21 01:32] ilyavolodin commented on #3567
I just ran autoconfig on a new repository and have a a few comments for the future. I wouldn't want to add those to the initial implementation, but wanted to record them somewhere for future enhancements:
1. It would be great to have an aggressive mode. What that would mean is for any rule that is fixable, set the config value to the style with lowest number of errors and auto-fix it after config

[2016-01-21 01:36] ilyavolodin commented on #3659
I'm also not sure how we should handle scoped packages. I assume we want to support them as well, but the way we parse them now is pretty complex and I'm not sure I can make it work for both plugins and configs at the same time.

[2016-01-21 01:36] btmills commented on #3659
So before, if I had extends `btmills/es6`, that would map to `eslint-config-btmills/es6` to specify the es6 variant of my custom config. Now, I convert my config to a plugin. To resolve the difference, I instead extend `btmills:es6`, which maps to a specific `configs.es6` export of `eslint-plugin-btmills`. Other possibility: `@btmills:es6` becomes `require("@btmills/eslint-plugin").configs.es6`? I

[2016-01-21 01:42] ilyavolodin commented on #3659
I guess we could do the whole "try to load config first and if it fails load plugin instead" but I feel that might be very slow. I think we load configs a lot during the course of linting, and hitting this `try/catch` many times would be costly (although would make it very easy to implement this feature).

[2016-01-21 01:42] mysticatea commented on #5018
:tada:

[2016-01-21 02:05] IanVS commented on #3567
Thanks, those are great ideas.  Some other pieces I haven't had time to implement so far:

1. Allow ES7+ features with option for using `babel-eslint`.  For now, such code is not autoconfigurable (parser is always set to espree).
2. Enable autoconfig of rules with schemas containing nested objects and `oneOf` or `anyOf` schemas.
3. Add a mode for projects which are already using ESLint to check if

[2016-01-21 02:28] robcolburn commented on #2051
@nzakas,
The fix in a1da3b4 sort of dodges the issue a bit, and doesn't quite do what we'd hope it could…

It turns out JSDoc does support destructing via making up a placeholder name. It is lacking in official documentation.
https://github.com/jsdoc3/jsdoc/issues/987

[code]

Perhaps, we can support this kind of grammar?

[2016-01-21 02:32] #5018 closed

[2016-01-21 02:49] jdalton commented on #5017
The only thing I'd add it that though lodash has methods like `filter` and `map` it also supports iteratee shorthands like `_.map(objects, 'id')` instead of `objects.map(o=>o.id)` and it has nullish guards or `_.filter(objects, { 'a': 1, 'b': { 'c': 2 } })` instead of `object.filter(o=> (o.a === 1 && o.b.c == 2))` and has nullish guards also if you use chaining in lodash methods like `filter`, `ma

[2016-01-21 04:07] kaicataldo commented on #4355
I was thinking something along these lines? Thoughts?

<img width="775" alt="screen shot 2016-01-20 at 11 06 51 pm" src="https://cloud.githubusercontent.com/assets/7041728/12471322/880b288c-bfca-11e5-95e5-ab6909d91142.png">

[2016-01-21 04:11] kaicataldo commented on #4355
Here's the same thing with the icons included in the intro above:

<img width="820" alt="screen shot 2016-01-20 at 11 10 22 pm" src="https://cloud.githubusercontent.com/assets/7041728/12471385/115abb70-bfcb-11e5-80da-d6675ff09259.png">

[2016-01-21 04:33] ilyavolodin commented on #4355
I think that looks pretty good. The only thing I would do is separate legend from the text, just before "Possible Errors" I would put "recommended - checkmark, fixable - wrench" in larger bold font.

[2016-01-21 04:37] kaicataldo commented on #4355
That's a much better solution :) I mocked this up quickly in the browser for the screenshots. Do you want me to make a PR? I'm a bit confused as to where these changes need to be made. I read the note about files with this in them:
``
But am still not entirely sure what that means I should do. Thanks!

[2016-01-21 04:42] ilyavolodin commented on #4355
The file is located here: https://github.com/eslint/eslint/blob/master/docs/rules/README.md but it's a markdown file, so most of this has to be done through css. You can take a look at how @knpwrs did that in the original PR here: https://github.com/eslint/eslint/pull/4354 and https://github.com/eslint/eslint.github.io/pull/153/files

[2016-01-21 06:58] kaicataldo commented on #4355
Created a PR - mostly just search and replace :D TIL you can write HTML in markdown files, so I took that approach rather than the pure CSS approach above. This is a screenshot from my locally served version of the site:
<img width="1002" alt="screen shot 2016-01-21 at 1 56 31 am" src="https://cloud.githubusercontent.com/assets/7041728/12473675/414c18da-bfe2-11e5-8347-89e386de72fd.png">
Definitely

[2016-01-21 09:56] lo1tuma commented on #5017
I agree with @nzakas and @ilyavolodin. Apart from that I would even prefer ramda over lodash.

[2016-01-21 13:27] IanVS commented on #4355
I like it a lot, personally.  Thanks for stepping up, @kaicataldo!

[2016-01-21 14:06] jdalton commented on #5017
@lo1tuma You may dig that with Lodash v4 immutable auto-curried iteratee-first data-last methods are are available as `require('lodash/fp')`. You get your fav FP-things with the quality/support of Lodash.

[2016-01-21 14:10] hzoo commented on #4355
Maybe you could differentiate better with colors or switching the orientation of the wrench

[2016-01-21 14:46] kaicataldo commented on #4355
@IanVS That was a concern of mine as well when picking the icons, but I felt like they were easy enough to differentiate once I had implemented it. I can take some more screenshots of other sections with both icons when I get back to my computer.

I initially tried the star icon, but felt like it was visually noisier (being solid and a larger icon). I chose the checkmark because a) I felt like it

[2016-01-21 14:49] IanVS commented on #4355
As I said, I haven't seen the whole thing, so I can't judge for sure.  I do like the icons themselves, and totally get why you picked them.  What about adding a touch of opacity to one of the icons?  That might help to subtly set them apart.

[2016-01-21 14:52] ilyavolodin commented on #4355
@IanVS those things would be very easy to tweak once this is merged (all of that would be done through CSS). I think we should merge it in first, and see how it looks before making any more changes.

[2016-01-21 15:00] IanVS commented on #4355
Sure, I'm fine with that approach.  It was really more of a question of how it looks, since I couldn't tell from the screenshot.

[2016-01-21 15:04] kaicataldo commented on #4355
I'm happy to upload more screenshots when I get home tonight :)

[2016-01-21 15:09] kaicataldo commented on #4355
Also, just realized I never actually opened a PR - remedied!

[2016-01-21 15:29] IanVS commented on #5017
The others in the core group here are much more experienced developers than I am, and their opinions should carry much more weight.  As a relative beginner, I occasionally have difficulty understanding some of the more complicated, un-abstracted native code.  On one hand, this is good for me, because it helps me to level-up and learn the language.  On the other hand, I sometimes wish for the simpl

[2016-01-21 15:32] jdalton commented on #5017
Speaking of `_.keys` it also smooths over cross-environment issues with `Object.keys` were the built-in will throw depending on input and version ES5 or ES6 flavors.

[2016-01-21 16:06] danez opened #5021 "false positive with flow type and argument desctructuring"
Assuming the following code snippet:
[code]

eslint reports 2 warnings:

[code]

There should be no warnings, as both babel and flow correctly work with this typeannotation.

---

eslint version: v1.10.3
plugins: react
os: mac os x 10.11

---

.eslintrc:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30084824-false-positive-w

[2016-01-21 16:40] ilyavolodin commented on #5021
I think you need https://github.com/zertosh/eslint-plugin-flow-vars to get this to work. ESLint doesn't support flow type annotations.

[2016-01-21 17:07] danez commented on #5021
Okay this plugin resolves the issue with the 'no-unused-vars' rule, but not with the 'no-shadow' rule.

[2016-01-21 17:12] nzakas commented on #5010
And it was merged in #5020

[2016-01-21 17:12] #5010 closed

[2016-01-21 17:16] nzakas commented on #5021
We don't natively support Flow. I'd suggest filing an issue with babel-eslint.

[2016-01-21 17:16] #5021 closed

[2016-01-21 17:27] Alaneor commented on #5010
Thanks everyone!

[2016-01-21 17:35] nzakas commented on #5017
Thanks for the discussion. The team is pretty clear on this, so we will prefer native equivalents when there is both a native and lodash version of the same method.

[2016-01-21 17:35] #5017 closed

[2016-01-21 17:38] nzakas commented on #5007
We can try making `parent` nonenumerable, though we should doubke-check the perf impact (see https://www.nczonline.net/blog/2015/11/performance-implication-object-defineproperty/ )

I think ultimately making such changes to escope/esrecurse make the most sense.

[2016-01-21 18:11] jdalton commented on #5017
Just to be super clear the lodash versions of built-in counterparts generally have more features/consistency. The built-ins aren't a 1:1 mapping just because they share the same name as a lodash method.

[2016-01-21 18:17] #4494 closed

[2016-01-21 18:20] nzakas commented on #3659
We could try to make this more explicit. So for shareable configs:

[code]

For plugin configs:

[code]

That way, this behaves similar to how we reference environments and rules in plugins, and we can treat scoped packages in a similar manner:

[code]

?

[2016-01-21 18:35] nzakas commented on #4985
Working on this.

[2016-01-21 19:31] ilyavolodin commented on #3659
@nzakas You mentioned before that once this is implemented, we would deprecate shareable configs. It would be strange if implicit way would be deprecated...

[2016-01-21 19:58] nzakas commented on #3659
@ilyavolodin Yeah, I think I was wrong about that. There's a big ecosystem of shareable configs, so I don't think we can ever really deprecate them. We can, however, add new ways to load configs.

[2016-01-21 20:01] nzakas commented on #4355
Just mentioning what I mentioned over on the eslint.github.io repo:

I think we should keep using "(recommended)" and "(fixable)" in the .md files in this repo and then replace them with images during the build process. I'd prefer not to ask people to write HTML in the .md files, and also, avoiding HTML allows us to more easily make changes later.

And, we need to be sure the images are accessible

[2016-01-21 20:07] freddyrangel commented on #2621
Custom rule creation is great! But it does seem awfully opinionated to say that using `console.log` is so bad that it's should not be a configuration option. I love the flexility of ESLint: this seems like it should be another option.

[2016-01-21 20:11] ilyavolodin commented on #3659
Ok, sounds good. So in that case, I will be branching code based on `plugin:` prefix

[2016-01-21 20:58] nzakas commented on #5012
@gyandeeps any idea why the load perf would error out like that?

[2016-01-21 20:59] gyandeeps commented on #5012
it works on my machine, that means when the branches were switched that npm install was not done again (I guess)

[2016-01-21 21:02] nzakas commented on #4136
Bump @keithamus

[2016-01-21 21:02] nzakas commented on #3885
Forgot about this - should we still combine `semi` and `no-extra-semi` for 2.0.0. Thoughts?

[2016-01-21 21:06] nzakas opened #5023 "Allow "extends" in shareable config to resolve relative to config file"
https://github.com/eslint/eslint/pull/5022 allows the `parser` field of a config to be defined as relative to the config file itself. The change was pretty straightforward, and it occurred to me that the same should be done for `extends` in configs. This change would allow shareable configs to have other shareable configs as direct dependencies instead of requiring the end user to install multiple

[2016-01-21 21:07] nzakas commented on #5023
Working on this.

[2016-01-21 21:22] nathanmarks commented on #1598
@nzakas I was reading through eslint/doctrine#102 and saw [your comment](https://github.com/eslint/doctrine/pull/102#issuecomment-154597170) referencing http://usejsdoc.org/about-namepaths.html and you state " i don't believe `-` is allowed at all.".

I just took a peek at  the jsdoc page linked there, and at the bottom:

[code]

So it appears we should be able to surround the dashed namespace in

[2016-01-21 21:25] gyandeeps commented on #5012
Here is the run on windows 7 with node `4.2.4` :

**Master:**

[code]

**Gajus's branch (PR):**

[code]

[2016-01-21 21:34] mysticatea commented on #5012
What about performance for multiple files?

[2016-01-21 21:52] mysticatea commented on #3885
I'm OK to combine.

[2016-01-21 21:52] ilyavolodin commented on #3885
I see no problem combining those two. However, `no-extra-semi` is currently auto fixable, and `semi` is not. We will have to either support fixing both, or none.

[2016-01-21 22:00] nzakas commented on #3885
Don't you mean `semi` is fixable but `no-extra-semi` is not?

[2016-01-21 23:08] julienw opened #5024 "prefer-const rule seems to be confused by expressions in a while condition"
**What version are you using?**
2.0.0-beta.1

**What did you do?**
I use this code:
[code]
With the "prefer-const" rule, I get `'parsed' is never modified, use 'const' instead. (prefer-const)` which seems incorrect, because it is indeed modified in the while condition.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30098354-prefer-c

[2016-01-21 23:09] julienw commented on #5024
Exactly:
[code]

[2016-01-21 23:27] ilyavolodin commented on #3885
Actually, both seems to be fixable, it's just `semi` documentation doesn't mention is (but Readme.md does).

[2016-01-21 23:53] BYK commented on #4355
@nzakas - I feel like https://github.com/wooorm/remark can do that (it can also replace our markdown linter)

[2016-01-22 00:05] ilyavolodin commented on #4355
@BYK We are using github pages, I don't think they can use remark.

[2016-01-22 00:08] BYK commented on #4355
@ilyavolodin can't we use `remark` as a processing stage? Like master would be the raw version and "remarked version" would go to gh-pages. Dunno, just thinking aloud here.

[2016-01-22 00:24] mysticatea commented on #5024
Thank you for this issue.

Ah right, it's a bug.
I will fix this today (JST).

Currently, `prefer-const` is warning variables below:

- It's declared by `let`.
- It has only 1 `WriteReference`.
- There are no `ReadReference` outside of the scope that the `WriteReference` exists.
- It's not at `ForStatement.init`.

[2016-01-22 00:48] ilyavolodin commented on #4355
In all honesty, I wouldn't spend too much time on those enhancements. Once we have metadata in all of the rules, this page will be auto-generated anyways.

[2016-01-22 00:51] ilyavolodin commented on #3659
More questions. Do we want to support default config in plugins? Something like:
[code]
We can assume that config inside a plugin will always use rules from that plugin, right? Should we still require that the current plugin be added under `plugins` section of the config?

[2016-01-22 01:20] kaicataldo commented on #4355
Updated the PR to simple replace '(recommended)' and '(fixable)' with their respective icons. Much nicer solution. The only other question I have is if you want me to change the `index.md` content to remove the icons from the intro and make a legend like my original PR did. If so, I'll open a PR to the main repo with the changes.

[2016-01-22 01:40] ilyavolodin commented on #2271
I have what might be somewhat of a radical idea, but what if we stop adding examples to documentation and instead, generate them from test cases for rules? We can provide placeholders for where they are supposed to go into. This way we know that example are always going to be valid.

[2016-01-22 03:14] platinumazure commented on #2271
@ilyavolodin Awesome idea, :+1: from me, but sometimes there are a lot of test cases. How do you propose avoiding information overload?

[2016-01-22 06:50] akuma opened #5026 "The url of Configuring ESLint in strict.md is outdate"
It should be `../user-guide/configuring.md`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30105988-the-url-of-configuring-eslint-in-strict-md-is-outdate?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_

[2016-01-22 09:31] zandaqo commented on #4969
I have stumbled upon the same issue.

@nzakas In addition to autofixing there is also a (minor) related issue with the unclear error message that does not account for markers. For example:
[code]
I believe the message would be more precise if instead of `after /*` it was `after /**`, that is accounted for the marker "*".

I have it all fixed, it's quite simple with a couple of extra regexps, howev

[2016-01-22 09:50] gajus commented on #5012
@mysticatea Not aware how to run a test for multiple files. If you tell me how, I will be happy to do it.

[2016-01-22 10:05] mysticatea commented on #5012
@gajus Thank you. I was modifying the target [here](https://github.com/eslint/eslint/blob/master/Makefile.js#L1117) to check performance for multiple files [before](https://github.com/eslint/eslint/pull/4428#issuecomment-156789289).
It's a bit of inconvenience, though.

[2016-01-22 10:23] nre commented on #5026
@akuma Thank you very much for reporting this!

[2016-01-22 11:32] jalooc commented on #2409
@jeremenichelli I fully agree with you, there should be a method of silencing the eslint output based on e.g. environmental variable.*

*In my particular case I would like to be able to run eslint through a package.json script without throwing npm errors AND to be able to use the same script as a git [pre-commit](https://www.npmjs.com/package/pre-commit) script to actually output corresponding val

[2016-01-22 12:26] mysticatea opened #5028 "improve the `npm run perf` command"
Currently, the `npm run perf` command is running tests for performance of single file.
I would like to add tests for performance of multi files.
Because the characteristics of performance can be different between those two. (https://github.com/eslint/eslint/pull/4428#issuecomment-156789289)

That result is something like:

[code]

I'm happy to make a PR if accepted.

<bountysource-plugin>
---
Want

[2016-01-22 12:46] mysticatea commented on #5007
I checked the performance change.
And I confirmed nonenumerable fixed this bug.

| | Before | After | Rate |
|------|--------|-------|------|
| single file | 2422ms | 2515ms | +4% |
| multi files | 7480ms | 8294ms | +11% |

[code]

[code]

[code]

[code]

[2016-01-22 13:14] mysticatea commented on #5007
From curiosity, in the case of monkeypatching.

[code]

[code]

[2016-01-22 13:43] ilyavolodin commented on #5028
Sounds good to me.

[2016-01-22 15:23] #5026 closed

[2016-01-22 15:55] #5006 closed

[2016-01-22 15:58] #4355 closed

[2016-01-22 16:50] nzakas commented on #3659
Let's hold off on default configs for now.

Not necessarily. This isn't required. It could also be a plugin without rules.

I'm assuming you mean "should a config in a plugin have to mention that plugin in the plugins array?" The answer is no, because you cannot use a config from a plugin without that plugin appearing in the plugins array of the config using extends.

[2016-01-22 16:51] nzakas commented on #5028
Good idea

[2016-01-22 16:52] nzakas commented on #5028
We should use something other than the ESLint source files, though, so we can get a more accurate measurement.

[2016-01-22 17:25] nzakas commented on #4969
@zandaqo can you file a separate issue for that?

[2016-01-22 18:02] zandaqo opened #5030 "Unclear error message in spaced-comment rule"
The error message of spaced-comment rule in ESLint @ 9a7574f9a41756268de2eaad487d741afc576ad0 does not account for markers:
[code]
The error message leads to believe that there should be a space after `/*` where in reality the marker `*` is used in the example and placing the space after `/**` is equally right and should be preferred.

<bountysource-plugin>
---
Want to back this issue? **[Post a b

[2016-01-22 18:09] zandaqo commented on #4969
@nzakas done #5030

[2016-01-22 18:44] btmills commented on #3611
This came up as a possible solution to eslint/eslint-plugin-markdown#48. @lo1tuma are you still working on an answer to the caching issue? Is there anything I can do to help?

[2016-01-22 18:53] ilyavolodin opened #5032 "Remove deprecated rules and update documentation"
Before we release 2.0 we should remove any deprecated rules that are still around. The only two rules I found are:
- [x] space-before-keywords - replaced by keyword-spacing
- [x] space-after-keywords - replaced by keyword-spacing
- [x] no-arrow-condition - replaced by no-confusing-arrow, no-constant-condition
- [x] space-return-throw-case - replaced by keyword-spacing

We should also updated docum

[2016-01-22 19:02] gyandeeps commented on #5032
And `space-return-throw-case` also.

[2016-01-22 20:22] olsonpm commented on #3662
My use case is being able to write an eslint plugin for kangax's compatibiliity tables.  The rules would be turned off or on by default according to a theoretical plugin option 'browser-list'.

[2016-01-22 20:38] nzakas commented on #3611
@btmills pretty sure no one is working on this right now.

[2016-01-22 20:39] nzakas commented on #5030
Yeah, this would be nice to make things clearer.

[2016-01-22 20:40] nzakas commented on #5030
Any interest in submitting a PR?

[2016-01-22 20:45] zandaqo commented on #5030
@nzakas I did: #5031

I just bundled it with fix for #4969 since a) this one is a small issue; b) this way both issues are fix with addition of just one regexp to pick up markers.

[2016-01-22 21:06] mysticatea commented on #5032
And `no-arrow-condition` was replaced with `no-constant-condition` and `no-confusing-arrow`.
http://eslint.org/docs/2.0.0/user-guide/migrating-to-2.0.0#removed-rules

[2016-01-22 21:15] xjamundx commented on #1092
https://github.com/xjamundx/eslint-plugin-promise/

[2016-01-22 21:23] lo1tuma commented on #3611
I got stuck with the caching problem. Maybe we can apply the glob patters later, after the configuration for the file has been resolved. I will take another look at it this weekend.

[2016-01-22 21:47] olsonpm opened #5033 "node.loc.source is undefined"
According to the [estree documentation of the node object](https://github.com/estree/estree/blob/master/spec.md#node-objects)

[code]
This plugin code should print "false"

[code]

I didn't look into the code enough to know whether this repo was the correct place to file the issue.  estree is a spec and not an implementation, and I didn't look into what implementation eslint uses.

side note: the

[2016-01-22 21:48] benmosher commented on #3662
I agree with nzakas that it is not obvious what is currently missing from ESLint to support what has been described, given that ESLint already has shared `settings`.

FWIW, you can also export `settings` in shared configs, such as: https://github.com/benmosher/eslint-plugin-import/blob/master/config/es7-jsx.js

A config that wants to use this need simply:

[code]

So if you want to have fine-grain

[2016-01-22 21:56] olsonpm commented on #3662
Forgive me if I'm misunderstanding, but aren't the settings shared among all plugins?  That just isn't a logical place to put them.

[2016-01-22 22:17] nzakas commented on #5033
That seems like a spec bug to me. As far as I'm aware, there's no implementation that includes the `source` property.

[2016-01-22 22:21] olsonpm commented on #5033
Interesting.  If you're confident in that, I will submit a bug there.  I'm sorry I just don't have time to look into this very deeply.  I'm very new to all of this and am creating an IE8 linter for work.

[2016-01-22 22:29] nzakas commented on #5033
Yeah, I've been staring at these ASTs for years, and I've just never seen it. You can try yourself at astexplorer.net, as well. My guess is that there might have been one parser that did it at one time and so it was included, I'm just not aware of any now (at least, JavaScript-based ones).

[2016-01-22 22:29] #5033 closed

[2016-01-22 22:34] olsonpm commented on #5033
I see.  Thanks much for explaining - it really helps.

[2016-01-22 23:12] olsonpm opened #5035 "SourceCode api not clear"
In the [nodejs api documentation](http://eslint.org/docs/developer-guide/nodejs-api.html) there exists the following generic message

In the "working with rules" documentation, under ["the context object" section](http://eslint.org/docs/developer-guide/working-with-rules.html#the-context-object), there exists a list of deprecated context methods that were ported over to the SourceCode object.

Are

[2016-01-22 23:15] whomba opened #5036 "ESLint error, stroustrup & space-before-keywords"
# Issue:
executing eslint on the following file fails:

    /* eslint brace-style: [2, "stroustrup", {allowSingleLine: false}]*/
    /* eslint space-before-keywords: [2, "never"] */
    try{
        var foo = 'bar';
    }
    catch(e){}

This assumes NO other rules are in place.
This is replicatable using if/else as well

# Error:
6:1 - Unexpected space before keyword "catch". (space-before-keywor

[2016-01-22 23:15] nzakas commented on #5035
The supported methods on `SourceCode` are listed a bit further down on the page: http://eslint.org/docs/developer-guide/working-with-rules.html#contextgetsourcecode

[2016-01-22 23:17] olsonpm commented on #5035
Ah - sorry for not catching that.

[2016-01-22 23:17] #5035 closed

[2016-01-22 23:35] btmills commented on #5036
Thank you for providing so much detail in the report! You're right - `space-before-keywords` shouldn't complain about this. Do you want to send a PR?

[2016-01-23 00:05] btmills commented on #2271
There's probably a way to cross-reference specific tests...

[code]

[code]

It would require refactoring the tests to export the test cases, but I suppose there could be a step during site generation that could extract those.

[2016-01-23 03:07] mysticatea commented on #5036
It's fixed on 2.0.0-beta :)
(`space-before-keywords` is replaced by `keyword-spacing` on 2.0.0)

[2016-01-23 06:37] tjwebb opened #5038 "ability to ignore files from the regular eslint config file"
Can we ignore files from within our eslintrc config? I wish I didn't have to add yet another dotfile to the root of my repository.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30135547-ability-to-ignore-files-from-the-regular-eslint-config-file?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2016-01-23 10:29] szgabsz91 opened #5039 "consistent-this should support filename pattern based designated variables"
Hi,

I saw that in #4492 there has been a discussion about supporting multiple optional designated variables. Using an array syntax is OK, but in my opinion it could be stricter by adding filename pattern based configuration options.

As @BelfordZ explained, some frameworks such as AngularJS suggests to use specific designated variables in controllers/viewmodels. However, usually these controllers

[2016-01-23 14:37] mik01aj commented on #1092
A bunch of comments from me:

* I'd like to have a rule that would work as proposed in the 1st post here - so that each promise either has errors handled with `catch` or is returned to another function.
* In these 3 examples, no two are equivalent:

[code]
   This kinda defeats the purpose of `always-catch` rule (at least in its current implementation).

[2016-01-23 15:44] ilyavolodin commented on #5039
None of our rules currently know about files they are working on. While filename is provided to the rule, we don't have any rules that uses it. This should be done through glob based configuration (#3611) this way, you can enable this rule differently for controllers then for some other files.
I don't think rules should branch their logic based on the filename, that just seems wrong.

[2016-01-23 15:49] nzakas commented on #5038
This isn't possible based on how ESLint works. It first builds up a list of files to lint and then goes about finding config files. Doing the opposite would mean a huge perf hit because we'd have to recursively search everything under the current working directory before knowing what to lint.

[2016-01-23 15:49] #5038 closed

[2016-01-23 15:49] ilyavolodin commented on #5038
There is a significant difference between the way config files and ignore files are operating. You can only have 1 ignore file, but you can have many config files (or none). Ignore files do not support cascading, but configs are all about cascading. It's also an issue of timing. We need to know about ignore files before we know about config files. So in short, unfortunately I don't think this is s

[2016-01-23 16:09] nzakas commented on #5036
Closing as it's already fixed on master.

[2016-01-23 16:09] #5036 closed

[2016-01-23 16:11] szgabsz91 commented on #5039
Oh, I didn't know of that proposal, but it seems promising. I'll follow #3611 then, thanks!

[2016-01-23 16:11] nzakas commented on #5039
Closing in favor of #3611.

[2016-01-23 16:11] #5039 closed

[2016-01-23 16:18] nzakas opened #5040 "Future wish list"
We are almost ready to release 2.0.0, and as such, it's time to start thinking about 3.0.0. As usual, the goal of this issue is to gather feedback on important changes that would be breaking or ambitious. (Other suggestions can just be filed as an issue.)

We are already looking at dropping support for Node < 4 in 3.0.0.

One thing I'd like to hear is ideas for how can ESLint better support TypeSc

[2016-01-23 16:33] ilyavolodin commented on #5040
Well, I think everything that was planned for 2.0 and not implemented will automatically move into 3.0, which means glob configs, selectors, parallel linting, etc.
On top of that, what I would like to have is an investigation into is separating doctrine and jsx parser from the core. It would be great to provide those as parser plugins, so that people who don't care about jsDoc or jsx don't need to

[2016-01-23 16:35] ilyavolodin commented on #5040
I would also like another pass at autofixing. What we have now is great, but very brittle, and only works for a few rules. I think we should also try to expose autofixing to editors (so not autofixing the whole file, but instead doing report first, and then autofixing just the error that was specified), this way editors could have functionality similar to WebStorm/ReSharper, when you not only get

[2016-01-23 16:43] ilyavolodin commented on #5040
One more item is that I think we need to take another look at local vs. global installation, since it's been confusing users for a while. Would be nice to resolve it in some more user friendly way somehow.

[2016-01-23 17:05] platinumazure commented on #5040
:+1: from me, since that would simplify my microtemplate work.

[2016-01-23 17:45] jeffmo commented on #5040
I'd love to spend some time to see where Flow can provide any useful bits of its analysis up to ESLint so that plugins can ask for and make use of it. I have some high level ideas around APIs that return maybe-results (depending on presence of a type checker) -- but it would be good to brainstorm a bit.

This would be useful for various lint rules that could make use of types to be more high-fidel

[2016-01-23 18:45] Qix- opened #5042 "no-empty-label errors on labelled if statement"
Labels apply to statements, not loops specifically. This is defined in §12.12 in the [Ecmascript 3](http://www.ecma-international.org/publications/files/ECMA-ST-ARCH/ECMA-262,%203rd%20edition,%20December%201999.pdf) and [Ecmascript 5](http://www.ecma-international.org/ecma-262/5.1/#sec-12.12) standards, as well as §13.13 in the [Ecmascript 2015 (6.0) standard](http://www.ecma-international.org/ecm

[2016-01-23 20:09] ilyavolodin commented on #5042
Could you clarify what do you expect to happen in the case of if and block labels?

[2016-01-23 21:16] Qix- commented on #5042
Well it shouldn't error out. It's a valid label; it's not unexpected.

[2016-01-23 21:20] Alaneor opened #5043 "keyword-spacing: Do not treat "this" as keyword"
Current implementation of the [`keyword-spacing`](https://github.com/eslint/eslint/blob/master/docs/rules/keyword-spacing.md) rule treats `this` as a keyword, but it's not a keyword - it's a variable.

I propose to remove `this` from being checked by this rule.

ESLint: 2.0.0-beta.2

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/301

[2016-01-23 21:35] Alaneor commented on #5011
Thanks for all the suggestions. Ultimately I went with the `no-restricted-syntax` rule. For the future reader, here is what I ended up with for Node.js v5.

[code]

However, some new regex flags cannot be checked for using this rule.

[2016-01-23 21:38] ilyavolodin commented on #5043
Could you provide a snippet of code to reproduce this issue with an error output please?

[2016-01-23 21:42] Alaneor commented on #5043
Apologies for not including that right away.

**Error:**

`1:15  warning  Expected space(s) before "this"  keyword-spacing`

**Offending code:**

[code]

[2016-01-23 21:43] julienw opened #5044 "no-loop-func shouldn't warn when a function is used inside a forEach or such functions"
**What version are you using?**
2.0.0-beta.1

**What did you do?**
I tested this code using the no-loop-func rule:

[code]
Because of the function in forEach, the no-loop-func gives a warning here. Yet this is not an issue because forEach's parameter actually runs right away, it's not an asynchronous callback.

This should be relaxed at least for all Array iteration methods (also for Map and Set,

[2016-01-23 21:57] michaelficarra commented on #5043
It is certainly a keyword and not a variable.

[2016-01-23 22:10] Alaneor commented on #5043
[I concur](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/this).

However, in the context of this rule, I still find it a little weird to be included here. Most of the time, we treat `this` as a variable holding the execution context, compared to "things" like `if`, `else`, `var`, `function`, `return` etc. which are used for control flow, declarations or other effects.

[2016-01-23 22:20] jaredsohn opened #5045 "Rule proposal: Remove blank lines at beginning of files"
**When does this rule warn? Please describe and show example code:**

This rule warns if there are blank lines at the beginning of a file. Example (for helloworld.js):

[code]

**Is this rule preventing an error or is it stylistic?**

It is stylistic.

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

Extraneous blank lines at the beginning of a file can be distrac

[2016-01-23 22:23] platinumazure commented on #5045
I assume comments count as non-blank lines for this purpose?

[2016-01-23 22:25] jaredsohn commented on #5045
Yes.

[2016-01-23 22:26] platinumazure commented on #5042
Reading the documentation, it seems that the rule is designed to enforce that labels are only used on loops. Perhaps you should turn the rule off in your codebase?

Or are there patterns you need to enforce with this rule?

[2016-01-23 23:02] ilyavolodin commented on #5044
The rule is warning not because of the `forEach`, but because of the outer `for...in` loop. You are creating a new function for each iteration of the outer loop. I think the rule is behaving correctly. It will actually not flag functions inside `forEach`.

[2016-01-23 23:04] ilyavolodin commented on #5045
Since we have the flag for the end of the file, I don't see a problem adding another one for the begging as well.

[2016-01-24 00:21] mysticatea commented on #5043
Thank you for this issue!

[`this` is a keyword](http://www.ecma-international.org/ecma-262/6.0/#sec-keywords), but this is a bug.
`keyword-spacing` is designed to ignore spacing between `{` and a keyword.

I will fix this.

[2016-01-24 00:39] mysticatea commented on #5042
Hmmm, interesting, but I'm not sure it's according to the spec.

http://tc39.github.io/ecma262/#prod-BreakableStatement

The spec seems to say `BreakableStatement` is a loop or a switch.

[2016-01-24 00:48] michaelficarra commented on #5042
@mysticatea It's allowed. BreakableStatement only restricted *unlabeled* break statements.

[2016-01-24 00:53] mysticatea commented on #5044
Thank you for this issue.

I know that immediate called functions are no problem even if those exist in a loop. But it's too hard to detect whether it's immediate called or not in static analysis. So I guess `no-loop-func` is warning all functions in a loop.

[2016-01-24 01:03] mysticatea commented on #5042
@michaelficarra I got it. Thank you!

So I think good to support blocks in this rule.
Also I'm glad the rule warns a label if it's not used in the block. (it may be in other rule)

[2016-01-24 01:11] #5024 closed

[2016-01-24 03:37] Qix- commented on #5042
That still doesn't make sense, though. If the rule is designed only to affect loop labels, then why is it erroring out on non-loop block statements?

[2016-01-24 04:01] mysticatea opened #5049 "Rule Proposal: `template-curly-spacing`"
This is a rule for a stylistic issue.

We can write expressions in template strings with `${` and `}`.

[code]

This rule enforce usage of spacing inside of the `${` and `}`.

This rule have an option:

- `"always"` - It expects one or more spaces between the expression and the `${` and `}`.
- `"never"` (by default) - It expects no space between the expression and the `${` and `}`.

The following

[2016-01-24 04:18] alberto opened #5050 "Implement auto fix for space-in-parens"
I'll add this if accepted.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30152092-implement-auto-fix-for-space-in-parens?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_med

[2016-01-24 04:19] mysticatea opened #5052 "Rule Proposal: `no-unused-labels`"
This rule is similar to [no-unused-vars](http://eslint.org/docs/rules/no-unused-vars).
This rule warns unused labels.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30152103-rule-proposal-no-unused-labels?utm_campaig

[2016-01-24 05:02] mysticatea commented on #5052
This rule may be covering the domain of [no-empty-label](http://eslint.org/docs/rules/no-empty-label). Because the "empty" labels cannot be used.

[2016-01-24 05:02] michaelficarra commented on #5052
With the C case, the label is redundant, but cannot be naively removed without also changing the break statement. @nzakas might have a problem with that.

[2016-01-24 05:19] alberto commented on #5052
Maybe there should be a specific `no-unneded-label` rule to error on `break C` and leave it out from this one.

[2016-01-24 05:45] alberto opened #5053 "Add label for issue state"
It would be nice if we had labels to indicate if an issue is assigned to someone, so we can easily filter those who are not. Ideally @eslintbot could also take care of the work of adding and removing the labels when issues are created and/or PRs are submitted.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30152839-add-label-for-iss

[2016-01-24 06:00] gyandeeps commented on #5053
FYI, issue can be assigned to people who have write/part of the organisation. So that means it can be only assigned to us and not public members. With that we wont be able to benefit a lot with this enhancement.

[2016-01-24 06:02] mysticatea commented on #5028
I'm working on this.

Indeed. We are not using ES2015 features, so I think good to contain a module which is using ES2015 features.

[2016-01-24 06:06] alberto commented on #5053
I don't mean assigning the issue to someone, but adding a label to indicate someone is working on it. Precisely because assigning issues is just for the org.

[2016-01-24 06:09] gyandeeps commented on #5053
Ah i see.
I guess that would be very difficult job for our best friend(@eslintbot) to evaluate that.

[2016-01-24 06:13] alberto commented on #5053
I was thinking a label could be added/removed to the issue when a PR referencing it in the title was submitted.

[2016-01-24 07:39] alberto opened #5054 "Conflict between lines-around-comment and padded-blocks"
There is no way to make this code pass:
[code]

We should add an exception to one of the rules, so they don't overlap.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30153861-padded-blocks-should-ignore-padding-with-comments?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties vi

[2016-01-24 08:18] julienw commented on #5044
Yes I know why the rule is warning. I know it's also happening because I access `result` that's out of the loop.

My proposal here is that we could assume that methods called forEach/map/reduce/etc immediately execute their function parameter. No need for complex static analysis.

This behavior would be behind a new config flag for the rule.

[2016-01-24 11:16] alberto commented on #5054
I just realized there are already options for this in lines-around-comment: `allowBlockStart` and `allowBlockEnd`, so closing.

[2016-01-24 11:16] #5054 closed

[2016-01-24 11:22] alberto opened #5055 "padded-blocks should ignore comments on same line"
Example:
[code]

Output:
[code]

Expected output:
No errors

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30156472-padded-blocks-should-ignore-comments-on-same-line?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2016-01-24 11:40] alberto opened #5056 "Add support for switch statements in padded-blocks"
This should be a problem:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30156676-add-support-for-switch-statements-in-padded-blocks?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracke

[2016-01-24 15:39] michaelficarra commented on #5044
How about only ignoring `[].forEach.call(..., function(){ ... })`? I could get behind that.

[2016-01-24 15:45] ilyavolodin commented on #5044
Could you explain why you think just because the function is an argument for `forEach` it's fine to use inside the loop? My understanding was that one of the reasons behind this rule was that function creating is expansive, due to creation of new scope. And doing that inside the loop would be even more costly. I'm not sure why does it matter that the function is an immediate call.

[2016-01-24 15:55] michaelficarra commented on #5044
@ilyavolodin No, it's a scoping thing. He can't create the function outside the loop because it closes over a loop variable.

[code]

But this reminds me that @julienw is using const, which is let-scooped, so wouldn't have the same problem as the var in my example. That should be made an exception.

[2016-01-24 16:03] julienw commented on #5044
What @michaelficarra said. (see also https://github.com/eslint/eslint/blob/master/docs/rules/no-loop-func.md for more explanation)

The doc above says that the code already checks for let-scopped variables. But in my example I'm using a variable that's outside of the `for` scope (`result`), that's why the rule gives a warning.

Yet with forEach and friends there is no issue. (Thinking about the pe

[2016-01-24 16:07] michaelficarra commented on #5044
@julienw I don't think we'd even need a flag if we limited the exception to what I suggested. Would you be okay with that?

[2016-01-24 16:08] julienw commented on #5044
Sorry, I'm not sure I understood the rationale behind your suggestion :)

[2016-01-24 16:25] michaelficarra commented on #5044
We can be reasonably confident that, when written that way, we're using the `forEach` from the Array prototype.

[2016-01-24 16:45] platinumazure commented on #5044
@michaelficarra :-1: The utility to maintenance cost ratio for your proposal seems low. Not everyone would think to try that style of invoking forEach and it would have to be called out in docs, and it doesn't really gain all that much. On the other hand, the code to do that isn't super trivial either. I don't much like it, sorry.

[2016-01-24 16:58] johnman commented on #5040
It would be good if ESLint 3 supported typings (Facebook flow supports typings and is used by some). My main preference would be typescript support (which has seen increased adoption over the years). This would mean we could drop tslint and use ESLint regardless of whether it was a JS or TypeScript project.

[2016-01-24 17:08] nzakas commented on #5053
It's possible to add a label when a PR is opened and has the correct commit summary format. The problem I see is that the label can easily end up out of sync with reality if you want it to mean "someone is working on this". For instance, suppose someone puts the wrong issue number in the PR. The wrong issue would have the label. Then thecPR is updated with the correct issue, so the correct issue g

[2016-01-24 17:28] nzakas commented on #5044
Creating exceptions for array methods is far too specific a change for this rule.

It looks like we already have exceptions for using `let` or `const` loops, so the question is, why is this warning at all right now?

[2016-01-24 17:47] nzakas commented on #5040
@ilyavolodin

JSX is built into Espree, so separating that out isn't possible. For JSDoc, we could decidecto remove the rule we have now and point people to https://github.com/gajus/eslint-plugin-jsdoc. I think if we roll this up under "decrease download size," we can probably find more packages to remove.

Yeah, I definitely want to take another stab at this.

I think this is already possible thr

[2016-01-24 17:49] nzakas commented on #5040
@jeffmo

Happy to have that discussion.

@johnman You can already use Flow through babel-eslint, and we are working on a TypeScript parser: https://github.com/eslint/typescript-eslint-parser

[2016-01-24 17:56] nzakas commented on #5056
A problem by default or a problem with an option?

[2016-01-24 17:57] nzakas commented on #5055
This looks like a bug, but you have it flagged as an enhancement. Am I missing something?

[2016-01-24 18:00] nzakas commented on #5052
Yeah, might be best to break up cases A and B from C, just to be clear. The error on C seems like it would be on the `break` rather than the label.

[2016-01-24 18:03] nzakas commented on #5049
:+1:

[2016-01-24 18:06] nzakas commented on #5042
The rule warns whenever a label is used on something other than a loop. Keep in mind, this is not a parser error, its just a rule restricting where you can use a label. If you want to use labels on more than loops, you can disable the rule.

[2016-01-24 18:07] #5043 closed

[2016-01-24 18:11] Alaneor commented on #5043
Thank you for fixing this issue!

[2016-01-24 18:12] #1622 closed

[2016-01-24 18:24] julienw commented on #5044
Hey Nicholas !

My proposal is to create an exception for all methods that are called `forEach` `map` `filter` `reduce` `reduceRight`, `find`, findIndex`, `some` , `every`, `sort`. The rationale is that all methods call like this will likely have the same behaviors than Array instance methods, I mean the callback will be immediately called.

I said it earlier, my code actually use a var from outsi

[2016-01-24 18:26] julienw commented on #5044
I agree with @platinumazure here, I don't think this is useful for anybody. I wouldn't write unreadable code only to accommodate an eslint rule :)

[2016-01-24 18:29] michaelficarra commented on #5044
@julienw Well we can't assume that any method named `map` will behave like `[].map`, since Stream libraries like highland.js exist and I'm sure there's a Futures/Promises library that defines a `map` method.

[2016-01-24 18:32] mjomble opened #5058 "Bug in no-extra-bind"
I found another bug in this rule.

If the `this` keyword only appears as the parameter to `bind`, it doesn't get registered in the right scope because we've already exited the `FunctionExpression`, but not yet from its associated `CallExpression`.

So in code like this:

[code]

the outer `bind(c)` is marked as unnecessary, even though `this` is actually used in the bound function.

The bug gets f

[2016-01-24 18:34] julienw commented on #5044
yeah maybe it's an assumption we can't make.

[2016-01-24 19:52] alberto commented on #5055
No, it's a bug.

[2016-01-24 19:56] Qix- commented on #5042
Isn't `no-empty-label` kind of a misnomer, then?

[2016-01-24 19:58] alberto commented on #5056
By default, IMO. Do you see any reason why it should be different from other blocks?
We already include them in `block-spacing` too.

[2016-01-24 20:05] alberto commented on #5053
That was my main concern, but I think that rarely happens and we can fix it by hand.

Anyway, even if it is not automatic, do you see value in having this?

[2016-01-24 23:06] sindresorhus commented on #5040
:+1: I've had many good rule ideas closed here because of missing type information.

:+1:

Relevant: https://github.com/cst/cst

We've had great success in [AVA](https://github.com/sindresorhus/ava) with using local version if available when executing the global version. As asked for in #3993. It's very simple to implement: https://github.com/sindresorhus/ava/blob/0e6db13a918f0116927299271d91fff59

[2016-01-25 01:10] hzoo commented on #5040
re: autofixing, When we're finished up with cst in JSCS hopefully we take learnings/figure out how to use it in ESLint?

[2016-01-25 03:54] mysticatea commented on #5040
@nzakas @ilyavolodin I have a plan to send a PR to add autofixing such as ReSharper to VSCode after [this PR](https://github.com/Microsoft/vscode-eslint/pull/19) was addressed.

This is a early prototype.

![autofix-action](https://cloud.githubusercontent.com/assets/1937871/12542022/28b5a12e-c361-11e5-802c-717ba77e8f53.gif)

I wish to implement autofixing for more rules (e.g. `no-var`, `prefer-con

[2016-01-25 04:10] mysticatea commented on #5052
OK, I will split out the C case from this proposal.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

[2016-01-25 04:23] mysticatea commented on #5044
BTW, in fact, is the `result` variable not modified after the loop?
If so, this pattern is safe. We can confirm whether the function is safe or not by checking whether or not `WriteReference` exists after the loop, I guess.

[2016-01-25 04:53] mysticatea opened #5059 "Rule Proposal: `no-extra-label`"
From #5052.

This rule warns labels of `break` and `continue` if we can remove the label merely.

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30172818-rule-proposal-no-extra-label?utm_campaign=plugin&utm_content=tr

[2016-01-25 04:58] mysticatea commented on #5042
Related: #5052, #5059

[2016-01-25 07:56] julienw commented on #5044
In my case it's not but it's returned from the function, so I think it would be very difficult to find out it's not modified.

So after some sleep, I understand that we can't whitelist forEach-etc methods because it would be too error-prone.

But I also understand that the rule is trying to check for 2 different patterns (according to http://jslinterrors.com/dont-make-functions-within-a-loop/):

1

[2016-01-25 09:01] zandaqo commented on #5053
Wouldn't "help wanted" tag suffice for this? It was my understanding that label "help wanted" meant that no one was working on the issue, though later I discovered that it is added by default to most issues. Maybe it should be reserved for issues that have no related PR or ongoing work?

[2016-01-25 09:07] Alaneor opened #5060 "Rule enhancement: More granular control in space-unary-ops"
### Current state

This rule allows us to configure whether we expect spaces between unary operators for either word operators (`delete`, `void`, `typeof` etc.) and non-word (`+`, `-`, `++`, `!`, etc.).

### Problem

Some might prefer different spacing rules for individual non-word operators. For me personally, I prefer to have the negation operator `!` always separated from its operand, but I nev

[2016-01-25 11:07] hugofqueiros commented on #4412
+1

[2016-01-25 12:50] mysticatea commented on #5058
Thank you for this issue!

I confirmed it.

Hmm, I'm hoping to refactor this rule...
I think scope's information should be added to the stack at function nodes.

Also, I found 2 bugs in addition in this rule right now.
The following patterns should be not warned, but those are warned:

[code]

May I do it?

[2016-01-25 13:03] vekexasia opened #5062 "No multi spaces for object properties"
Hello there,

how can i let eslint allow this?:

[code]

I already have `VariableDeclarator` set to true in my eslintrc but `this._config  =` gives me the "no-multi-spaces" error.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30182731-no-multi-spaces-for-object-properties?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=

[2016-01-25 13:04] mjomble commented on #5058
Sounds good to me :)

[2016-01-25 13:31] platinumazure commented on #5062
Per the above instructions, could you please post your ESLint rule configuration, version information, and full output?

[2016-01-25 13:34] mysticatea commented on #5058
Thank you.
And thank you for investigating!

[2016-01-25 13:40] vekexasia commented on #5062
eslint:
[code]
version : v1.10.3

airbnb eslint version: 4.0.0

Output: "Multiple spaces found before '='. (no-multi-spaces)

[2016-01-25 13:57] ilyavolodin commented on #5040
@mysticatea Very nice!

[2016-01-25 14:07] ilyavolodin commented on #5062
Can you try:
[code]

[2016-01-25 14:10] vekexasia commented on #5062
It works @ilyavolodin thanks. Where can I find a list of *things* such as "AssignmentExpression"?

[2016-01-25 14:38] platinumazure commented on #5062
The rule docs might cover the specific options available to the rule and explain what they do. More generally, we lint based on the ESTree spec (see https://github.com/estree/estree).

You can always take a code sample and paste it into our online parser demo (see http://eslint.org/parser/), which would at least confirm that your code did not have VariableDeclarations in it. Sometimes looking at t

[2016-01-25 14:43] vekexasia commented on #5062
oooh thanks :)

[2016-01-25 14:53] jasonkuhrt commented on #3611
I have a use case which I think this issue would solve. I recently joined a project with an existing codebase. We are migrating/refactoring the JavaScript incrementally from one folder tree to another. The legacy code uses JSHint. The new code will use ESLint. During the transition (which may be months) we need the two to coexist. I've never had to deal with this before. If I could tell `.eslintrc

[2016-01-25 14:58] IanVS commented on #3611
I have the same case (coexisting jshint and eslint), and there are other ways to solve this (at least for me).  The trick is only running ESLint on the folders you want, combined with adding the legacy folder to your `.eslintignore` file.  So, for example, your `npm run lint` script could be something like `eslint client`, and you can put your `.eslintrc` file within `client/`, then enable the opt

[2016-01-25 15:04] ChristianAuth opened #5064 "Indent and brace-style allman"
Hi,

i am trying to use indent with the allman brace style but the results are a bit ugly.

Source:
[code]

Linting result:
[code]

Eslint --fix source:
[code]

Eslint config:
[code]

Eslint version: v1.10.3

Is this a expected behaviour or did i misconfigure something?

Cheers
Chris

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30

[2016-01-25 15:15] ilyavolodin commented on #5062
Closing as this seems resolved.

[2016-01-25 15:15] #5062 closed

[2016-01-25 15:19] ilyavolodin commented on #5064
As far as I know, this is expected behavior. Opening and closing braces currently require indentation. @gyandeeps I don't think we have a switch for this behavior, correct?

[2016-01-25 15:24] gyandeeps commented on #5064
Since there is a variable decalation on line 53 thats why line 54 needs to be indented.
Can you please try this config: `"indent": [2, 4, {"VariableDeclarator": 0}]`

[2016-01-25 15:30] ChristianAuth commented on #5064
Sure,

Result:
[code]

Line 59 is the opening bracket of the array
[code]

[2016-01-25 15:34] gyandeeps commented on #5064
Can you provide complete code for your example so that I can run it on my side?

[2016-01-25 15:37] ChristianAuth commented on #5064
Full Source:
[code]

eslint:
[code]

[2016-01-25 15:46] gyandeeps commented on #5064
Its an bug, We will get it fixed. Thanks for working with us.

![image](https://cloud.githubusercontent.com/assets/5554486/12555749/3e7703c2-c348-11e5-99e2-13126d6545ea.png)

Its not happy with `{` when the parent `[` is aligned according to allman style and these tokens fall under a variable declarator node.
Config: `"indent": [2, 4, {"VariableDeclarator": 0}]`

[2016-01-25 15:53] jasonkuhrt commented on #3611
@IanVS Thanks, I believe we have what we want now. Cheers.

[2016-01-25 16:02] vekexasia opened #5065 "Cannot parse object with functions?"
Hello there,

[code]
the code above triggers a parse exception here: http://eslint.org/parser/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30188183-cannot-parse-object-with-functions?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysour

[2016-01-25 16:04] gyandeeps commented on #5065
If you consider this a JSON then its not a valid JSON. But if this is a `js` then again its not valid JS as you nneed to have the object assigned to something.
Example:

[code]

[2016-01-25 16:08] egoroof commented on #5024
I have the same issue with beta.2 with following code:
[code]
Does the fix affect to my code too?

[2016-01-25 16:21] vekexasia commented on #5065
sorry Js. i'm an idiot.

The problem i'd like to highlight is another. i'll open a different issue. Sorry for the incovenience

[2016-01-25 16:21] #5065 closed

[2016-01-25 16:24] nzakas commented on #5024
Please try the master branch and check.

[2016-01-25 16:27] #5058 closed

[2016-01-25 16:27] vekexasia opened #5066 "key-spacing non working properly when having objects with nested functions"
Hello, considering the following code on the demo
[code]

Line 14,24 are complaining about "a" having an extra space after the key ('a'). But If i invert the `aaaa` with `a` then i get no complaints.

Is this the desired behavior?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30189026-key-spacing-non-working-properly-when-having-ob

[2016-01-25 16:30] nzakas commented on #5053
@alberto I don't see much value in it, myself. There will be problems both applying manually and automatically, so ultimately it will be hard to rely on the label without manually verifying.

@zandaqo "help wanted" is for issues that will not get done unless there's a contribution from a someone who's not on the team.

[2016-01-25 16:30] MethodGrab opened #5067 "Do not cache `.eslintrc.js` configs"
Currently the `.eslintrc.js` config is cached because it is loaded with `require`. If changes are made to the config while running the same `eslint` process, those changes will not be picked up.
This is an extension of #4610.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30189136-do-not-cache-eslintrc-js-configs?utm_campaign=plugin

[2016-01-25 16:35] nzakas commented on #5044
Agree with @mysticatea, that seems like the correct approach.

@julienw we don't have rules related to performance. Performance is always based on the engine, and as such, performance characteristics change as the engine changes.

[2016-01-25 16:42] nzakas commented on #5052
Looks good. :+1:

[2016-01-25 16:43] nzakas commented on #5059
Looks good

[2016-01-25 16:44] nzakas commented on #5050
Sounds good, go for it.

[2016-01-25 16:47] #4969 closed

[2016-01-25 16:47] #5030 closed

[2016-01-25 16:48] nzakas commented on #5055
Cool, then go for it. :)

[2016-01-25 16:49] nzakas commented on #5056
Just trying to think of any reason we might have omitted this initially, but can't come up with anything. I do wonder if people want to style `switch` separately, but I guess we will find that out.

[2016-01-25 16:54] vekexasia commented on #5066
Apparently the same behavior is also applied for the following code snippet:

[code]

[2016-01-25 16:59] nzakas commented on #5042
@Qix- potentially. Labels are primarily designed for use with loops, so you could argue that using them without loops doesn't make sense.

@eslint/eslint-team anyone have thoughts on this?

[2016-01-25 17:10] nzakas commented on #5040
@hzoo I don't see us using CST in ESLint, it doesn't mix well with our architecture and it would limit us to auto-fixing only things CST supports.

@sindresorhus the big issue we had with #3993 was how to help users differentiate between local and global. Did you look into that at all for Ava? Keep in mind, we have plugins and shareable configs that make our use case a bit more complex.

[2016-01-25 17:16] nzakas commented on #5067
Yikes, nice catch!

[2016-01-25 17:22] nzakas commented on #5066
Per the [comment](https://github.com/eslint/eslint/issues/5066#issuecomment-174566330), can you give the actual output from ESLint?

[2016-01-25 17:36] vekexasia commented on #5066
the error is: "Extra space after key "a". (key-spacing)"

[2016-01-25 18:02] Qix- commented on #5042
Labels were designed for blocks. Period. The spec has been there for ages and there has been no discussion on the standards committee (from what I've seen) to remove such functionality.

The only language that really supports labels (and the use of `break <label>`) that _doesn't_ support breaking out of non-loops is the C family. JavaScript and Java are the only two I know of that support breaking

[2016-01-25 18:48] sandwichsudo commented on #1542
Got this problem with v 1.10.3

[2016-01-25 18:49] sandwichsudo commented on #2170
still an issue in v 1.10.3

[2016-01-25 19:27] lo1tuma commented on #5056
I guess then we should also apply this rule for `ClassBody`.
On Jan 25, 2016 5:49 PM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2016-01-25 19:53] #4985 closed

[2016-01-25 20:01] julienw commented on #5044
@nzakas, I agree with this, but that's not how the test is behaving :)

[2016-01-25 20:02] ianobermiller commented on #4418
Let's not worry about edge cases and hypotheticals (what if it takes the user twice as long to run eslint on an *entire* codebase the first time they ever use it). We should just add as many autofixes as possible, as long as they are correct on their own.

Two other solutions to conflicts, both put in the user's hand:
1) Allow enabling/disable autofix per rule (maybe this already exists?)
2) Autof

[2016-01-25 20:05] nmote commented on #4418
It's also worth noting that there seems to be an underlying assumption in this thread that ESLint itself is applying the fixes. I just implemented an autofix UI in [Nuclide](https://github.com/facebook/nuclide) where you can apply fixes one-by-one or across a whole file. If you just apply fixes one by one, ESLint is probably getting re-run after each one anyway, in which case conflicts become unim

[2016-01-25 20:07] nmote commented on #4418
And personally if I were adding ESLint to a large existing project I would rather it take a couple more minutes and fix many more errors. As others have said it would still be much, much faster than applying the fixes by hand.

[2016-01-25 20:12] puzrin opened #5071 "spaced-comment: how to enable for inline comments only?"
eslint 2.0.0-beta.2

Is it possible to enable `spaced-comment` rule for inline comments only?

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30197940-spaced-comment-how-to-enable-for-inline-comments-only?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2016-01-25 20:48] ChristianAuth commented on #5064
Just tested your commit and it works quite well. Thanks for taking the time.

[2016-01-25 21:09] gyandeeps commented on #5064
:+1:

[2016-01-25 21:16] #5064 closed

[2016-01-25 23:42] danactive commented on #4405
+1
JSON linting is important. I'm using eslint v1.10.3 and it cannot handle `package.json`. Let's hope JSON linting is added to eslint v2

[2016-01-26 04:10] xjamundx opened #5072 "Implement autofix for prefer-const"
We already have `prefer-const` and it's really smart, but I was wondering if we could autofix this. I'd be happy to work on this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30208991-implement-autofix-for-prefer-const?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2016-01-26 04:47] egoroof commented on #5024
I've checked https://github.com/eslint/eslint/commit/6433b7b4372468d3470d32f6c2285fa9f06e24fa and problem with my code isn't resolved. The output is `1:5  error  'id' is never modified, use 'const' instead  prefer-const`. Should I create a new issue for this?

[2016-01-26 07:52] puzrin opened #5073 "indent: invalid identation req after multiline sting"
v2.0.0-beta.2

I tried to migrate from https://github.com/nodeca/eslint-plugin-nodeca and found one problem.

The following code:

[code]

give this errors:

[code]

I expect no errors. See real code sample: https://github.com/nodeca/nodeca.core/blob/master/lib/autoload/hooks/init/faye.js#L240-L249
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2016-01-26 08:03] puzrin commented on #3561
I've tried 2.0beta2 on my projects. Everything looks nice except one too restrictive behaviour in `indent` rule #5073. It would be nice if it could be fixed for 2.0 (or, at least, not frozen to 3.0)

[2016-01-26 08:32] alberto commented on #5056
@lo1tuma Yeah I looked into that. The `ClassBody` body is already a `BlockStatement`. Same with parenthesized arrow function body.

[2016-01-26 08:39] lo1tuma commented on #5056
@alberto That's not a correct a `ClassBody` node is from type `ClassBody`.

[code]

This doesn't report a problem in the online demo.

[2016-01-26 08:50] lo1tuma commented on #5072
I don't think this is possible without getting conflicts with other rules.

Take a look at this example:
[code]

This will raise a `prefer-const` warning, the fixed version would look like this:

[code]

This fix removed the let statement and leaves an empty line behind. The empty line could now create new warnings for e.g. `padded-blocks`.

[2016-01-26 09:10] alberto commented on #5056
Oops, you are right. (I meant the `body` of `ClassBody`, but it's not a `BlockStatement` either)

[2016-01-26 09:31] alberto commented on #5053
Currently, not having the label means I have to manually verify each issue to see if it's already in progress (many times, since I usually forget), but maybe it's just me and my bad memory. :)

[2016-01-26 09:57] julienw commented on #5024
yes please :)

[2016-01-26 10:40] rpatil26 commented on #4538
@nzakas and @gajus Updated PR with changes (configuration depth to ignore). Request you have a close look and see if this rule looks fine.

[2016-01-26 11:13] egoroof opened #5074 "prefer-const rule false positive"
Version 2.0.0.beta.2 also checked with latest master https://github.com/eslint/eslint/commit/6433b7b4372468d3470d32f6c2285fa9f06e24fa.
Code is:
[code]
The output is `1:5  error  'id' is never modified, use 'const' instead  prefer-const`.
But `id` is modified and declaration with `let` shouldn't alert error in this case.
(moved from #5024 as it is not the same)

<bountysource-plugin>
---
Want to ba

[2016-01-26 11:30] lo1tuma commented on #5074
Thanks for the issue @egoroof. Can you please provide all the information requested by @eslintbot?

Especially interesting would be the `sourceType` you have configured.

[2016-01-26 11:42] lo1tuma commented on #5040
Maybe this idea is a bit too ambitious but I want at least mention it.

Make the cli-engine a separate project, which would be a generic framework for any kind of linters. ESLint does IMHO an awesome job when it comes to file traversal, configurations and plugins. Those things are not really related to JavaScript and could also be useful for other linters. For example [`sass-lint`](https://github.

[2016-01-26 11:43] BYK commented on #5040
@lo1tuma - I think that's a great idea but why limit with linters? I need something similar for a project of mine and was thinking yanking some code from ESLint :)

[2016-01-26 12:10] egoroof commented on #5074
Here is my config:

[code]

What is `sourceType`?

[2016-01-26 12:29] lo1tuma commented on #5074
`sourceType` allows you to specify whether you are using ES2015 modules or not, which is important to determine if the topmost scope is the global scope or not (see [migration guide](https://github.com/eslint/eslint/blob/master/docs/user-guide/migrating-to-2.0.0.md#language-options)).

Seems like you are not using ES2015 modules, so I would agree that in this case your example is a false positive,

[2016-01-26 14:08] platinumazure commented on #5072
It could be implemented for `let` declarations with the initialization in the same statement (only), no?

[2016-01-26 14:13] finico opened #5076 "Ignore all JSON files"
in this topic [Ignoring json](https://groups.google.com/forum/#!topic/eslint/UGoM2h4O9Dg) Nicholas Zakas says

but in my case
[code]

my `.eslintignore` is empty
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30221577-ignore-all-json-files?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2016-01-26 14:39] michaelficarra commented on #5076
You're explicitly passing JSON files. JSON files are ignored by traversals done by eslint only. Pass the directory itself instead of globbing.

[2016-01-26 14:40] btmills commented on #5066
This is a duplicate of #2668. Right now, alignment groups only continue across keys on adjacent lines. #2668 will make that behavior configurable. It's accepted and just waiting for an implementation - @vekexasia want to send a PR?

[2016-01-26 14:42] #5066 closed

[2016-01-26 15:02] finico commented on #5076
Oh, sure..
@michaelficarra thanks

[2016-01-26 15:02] #5076 closed

[2016-01-26 15:05] gyandeeps commented on #5073
Can you plz explain what is the actual output vs your expected output?

Also we have issue open which deals with multiline and starting node issue: https://github.com/eslint/eslint/issues/3737 and

[2016-01-26 16:11] nzakas commented on #5072
We are still only doing whitespace auto-fixing now. There is just too much potential for danger right now. In this case, changing from `let` to `const` correctly is tough, and also affects scope evaluation.

[2016-01-26 16:11] #5072 closed

[2016-01-26 16:14] nzakas commented on #5053
You would still need to do that because you couldn't rely on a label being accurate. Or, if you did rely on the label, you'd miss things that needed attention.

[2016-01-26 16:15] bob-v-t opened #5077 "`Missing JSDoc comment` after JSX comment"
Hi all,

First up: Thanks for all your work on this project. It really improves our developers' code quality.

I hope this is the right project to file this bug. We use eslint for our React applications and are coming across the following problem: eslint will complain about missing JSDoc comments when JSX comments are added.

With the following files you should be able to reproduce the problem.

*

[2016-01-26 16:19] nzakas commented on #5074
This one may be tricky to address. I'm not sure that there's a clear signal this shouldn't be a const. Flagging as a bug, I just don't know how to fix it.

[2016-01-26 16:20] puzrin commented on #5073
Thanks @gyandeeps, updated description to more comprehensive form.

[2016-01-26 16:26] alberto commented on #5053
I think if we tag it manually there is not a problem with inaccuracy. just for PRs that get abandoned, and those are few and easy to track. it's also easy to filter and sort the least recently updated issues.

Then, there is the burden of tagging, but that would be shared among the team, and done just once.

[2016-01-26 16:30] gyandeeps commented on #5073
This is a known issue because of the multi-line nature of the arguments.
So this is how the code is expected by the rule:

[code]

[2016-01-26 16:31] nzakas commented on #5053
I'm very skeptical that this has value, but we can give it a try. Please describe the exact process as you imagine it.

[2016-01-26 16:33] nzakas commented on #5042
In your view, what is it that this rule should warn about?

[2016-01-26 16:35] nzakas commented on #5044
@julienw what does "this" refer to in your statement?

[2016-01-26 16:40] nzakas commented on #4418
@ianobermiller we don't have the luxury of not considering edge cases. ESLint is too widely used now, and someone's edge case in another person's primary case. We can't do what you suggest, sorry.

We will be revisiting auto fixing in 3.0.0 to see if we can come up with a better mechanism so we can do more auto-fixing.

[2016-01-26 16:41] puzrin commented on #5073
I understand, but i think that's too strict.

[2016-01-26 16:43] nzakas commented on #5040
@lo1tuma I've actually thought along those lines as well, trying to extract as much from ESLint, making it generic, and publishing it so others could create linters (based on the number of clones we are seeing out there). It would be a massive amount of work, but I think it's feasible.

[2016-01-26 16:44] gyandeeps commented on #5073
Right now but once we have the multi-line support then it will support what you are trying to do. Its a big challenge to incorporate multi-line due the different patterns it can have. We will get their sometime in future.

[2016-01-26 16:47] #4873 closed

[2016-01-26 16:53] nzakas commented on #5073
@gyandeeps so is this a bug? An enhancement?

Also, looks like the indent bugs are piling up. Do you have a time table for addressing them?

[2016-01-26 16:54] nmote commented on #4418
Is there any sort of benchmark result that could convince you otherwise? If I pass in the `--fix` flag I am explicitly asking ESLint to fix as many errors as it can, and I will be much happier if it takes four minutes instead of two and saves me a half hour of fixing some rules manually. Do you disagree with this assessment? Do you believe that there is any case where adding autofix to this rule w

[2016-01-26 16:54] nzakas commented on #5077
Can you try without using babel-eslint?

[2016-01-26 16:56] gyandeeps commented on #5073
This is an enhancement which has been mentioned in couple of other accepted issues.
I think we can close this.

I dont have a time table but i can start looking into it.

[2016-01-26 16:58] nzakas commented on #5073
Can you mention the duplicate issue here and close it?

[2016-01-26 16:59] gyandeeps commented on #5073
#1801 and #3737

[2016-01-26 17:06] nilsboy commented on #4418
I don't see how adding new fixers can break current configurations if they are not explicitly used.
If you add a fixer-loop maybe a new cli-switch might help (i.e. --fix--hard).

3 month from now? :´(

[2016-01-26 17:10] puzrin commented on #5073
I don't see any duplication in refered issues. Those suggest to enforce indent control. While this ticket is strictly opposite - allow to relax indent control. IMHO it worth to reopen and discuss possible options.

[2016-01-26 17:27] puzrin commented on #5073
Thanks! I can try to care about this issue in the nearest days.

- will it be accepted?
- could anybody suggest option name (see samples from the first post)?

Short summary  of difference with jshint & eslint-plugin-nodeca/indent:

After some splitted content indentation has no strict requirement. Next block start can be shifted to (indent * XX) spaces. The following lines should be allligned app

[2016-01-26 18:58] Qix- commented on #5042
Labels on things that make no sense.

[code]

[2016-01-26 19:05] vekexasia commented on #5066
@btmills If only i had the knowledge to do that i would love to submit a pr. I'm afraid i won't be able to achieve anything useful. Maybe adding a reference to the code where you think the work should be done would kickstart someone who might be able/have the time to work on this.

[2016-01-26 19:23] ilyavolodin opened #5078 "Indent autofix does't fix everything"
Here's a small repro case:

Original code:
[code]
Will report the following:
[code]

First attempt at autofixing will result in no error messages and the following code:
[code]

If you run eslint again on the generated code you will get:
[code]

Running autofix again will result in completely screwed up code:
[code]

Every consecutive run from there on will only make things worse.

Using ESLint v2

[2016-01-26 19:32] ilyavolodin commented on #1801
Here's a small repro case:

Original code:

/* eslint indent: [2, 4] */
var a = b.extend(
{
    test: function() {
        console.log("test");
    }
});
Will report the following:

  3:1  error  Expected indentation of 4 space characters but found 0  indent
  4:2  error  Expected indentation of 8 space characters but found 0  indent
  5:3  error  Expected indentation of 4 space characters but fou

[2016-01-26 19:33] ilyavolodin commented on #5078
Closing in favor of #1801

[2016-01-26 19:33] #5078 closed

[2016-01-26 19:42] harrykao opened #5079 "hang when linting JSX files when "lines-around-comment" is enabled"
[Test case attached.](https://github.com/eslint/eslint/files/105538/jsx_hang.zip) `npm install` and then `npm test`.

The cause seems to be an infinite loop in `lines-around-comment.js`:

[code]

`getTokenOrCommentBefore()` returns the same token that was passed in so the do/while loop never finishes.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountyso

[2016-01-26 19:52] harrykao commented on #5079
1. v1.10.3
1. Code and config are in the attachment.
1. No output (apart from what `npm` itself prints); command hangs.
1. Expectation: no hang.

[2016-01-26 20:21] platinumazure commented on #5053
I think what we really need is for GitHub to implement first class support for issues being listed as having PRs which ref or fix them. Trying to use labels as a workaround is fraught with problems.

[2016-01-26 21:29] mysticatea commented on #5074
I will fix this.
My idea is that this rule checks there are not ReadReference before the WriteReference.

[2016-01-26 21:43] nzakas commented on #5074
Sounds as good as anything I can come up with :)

[2016-01-26 21:44] nzakas commented on #5053
@platinumazure yes, that would be ideal. However, GitHub doesn't seem too responsive to such feedback (I've been trying: https://github.com/dear-github/dear-github), so we might as well try something.

[2016-01-26 21:46] nzakas commented on #5079
Please try:

1. Don't use `babel-eslint`. If you don't see the error anymore, file an issue with babel-eslint.
2. Try the master branch. We are preparing for 2.0.0, so there's been a bunch of development since 1.10.3.

[2016-01-26 21:48] lo1tuma commented on #5074
I guess we should also never flag if the let declaration was made in the global scope, right?

[2016-01-26 21:49] nzakas commented on #5071
I don't believe this is possible right now.

[2016-01-26 21:50] nzakas commented on #5074
@lo1tuma can you explain why?

[2016-01-26 21:51] #5023 closed

[2016-01-26 21:59] lo1tuma commented on #5074
Because we don't really know if it gets read somewhere.

Example:

[code]

This example is reported as a problem:

[code]

[2016-01-26 22:44] mysticatea commented on #5074
`let foo` does not create the `window.foo` property :)

[2016-01-26 23:06] ilyavolodin commented on #5074
@mysticatea Even if this is not a module/globalReturn/node extra scope?

[2016-01-26 23:14] lo1tuma commented on #5074
@mysticatea you are right, I've tried the example in the latest Firefox version, but it still doesn't fully support `let`.

Here is another scenario, having a webpage loading two scripts:

[code]

where `foo.js` would declare `let something;` in the global scope and `bar.js` tries to read the global by `console.log(something)`.

[2016-01-27 00:09] mysticatea commented on #5074
@ilyavolodin Yes. The block bindings are not linked to the global object's properties. Those just shadow the global object's properties. The spec is:

- http://tc39.github.io/ecma262/#table-19 - `CreateGlobalVarBinding` and `CreateGlobalFunctionBinding` mention the global object's properties.
- http://tc39.github.io/ecma262/#sec-globaldeclarationinstantiation - Above operations are not used for th

[2016-01-27 00:29] mysticatea commented on #5042
IMO, if this rule's behavior is changed to warn only non-block statements, the rule almost comes to overlap with #5052.
Maybe this is a good timing to rename this rule?

[2016-01-27 00:35] #3650 closed

[2016-01-27 00:35] Qix- commented on #5042
@mysticatea agreed on that point. If #5052 is added then this should be changed to something along the lines of `no-non-loop-labels`. #5052 would fix this problem.

[2016-01-27 02:31] IanVS commented on #5007
Thanks for the investigations, @mysticatea.  Is there any consensus on how to move forward with this issue?

[2016-01-27 08:02] julienw commented on #5044
@nzakas I agree with the fact that rules in eslint should not be related to performance. Yet this rule seems to check this because it warns (not only, but also) about code that's correct but could have performance problem.

Now about @mysticatea approach. What about this code:
[code]

This would fail the test, but yet it's safe.

But we know it's safe only because we know forEach is immediately in

[2016-01-27 08:24] mysticatea commented on #5044
`result.__default = 6;` makes a `ReadReference` of `result`. So it would not be warned.
Currently, eslint is not handling property references.

[2016-01-27 08:28] julienw commented on #5044
Mmm ok got it. Then I agree with your approach !

[2016-01-27 11:23] mysticatea commented on #5052
I'm working on this.

[2016-01-27 13:55] chrbala opened #5082 "Missing babel edge case compiler error"
**What version are you using?**
1.10.3 via NPM on sublimetext

**What happened?**

I get a compiler error when I do
``Content || () => <div />``
but ESLint doesn’t catch it. I have to do
``Content || (() => <div />)``
in order to get the compiler to work

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30257155-missing-babel-edge-case

[2016-01-27 13:57] mysticatea commented on #5007
IMO (not strongly), applying the monkey patching for right now. Then I will send PRs to esrecurse and escope later.

[2016-01-27 14:01] nzakas commented on #5082
We need a lot more information to look into this.

1. What do you mean by compiler error? Are you talking about a Babel error?
2. Please share the full source code (your code examples causes a parsing error in ESLint)
3. What configuration are you using for ESLint?
4. Please paste the exact output from ESLint

[2016-01-27 14:06] chrbala commented on #5082
Ah, what I meant was that Babel was not compiling with ``Content || () => <div />`` . ESLint was working without error, but It'd make for a nicer experience if ESLint caught the error.

I don't really have a particular output for ESLint on this issue, since the problem is a false negative.

ESLint config below.

[code]

[2016-01-27 14:12] nzakas commented on #5082
Can you try without babel-eslint?

[2016-01-27 14:15] nzakas commented on #5042
@mysticatea doesn't it already overlap?

[2016-01-27 14:18] nzakas commented on #5044
Just to be clear for everyone: this rule makes no consideration based on performance. We are purely doing static analysis for possible errors.

@mysticatea do we need a change here?

[2016-01-27 14:19] #5028 closed

[2016-01-27 14:24] chrbala commented on #5082
Without babel-eslint, it creates an error because I'm using babel features - unless I'm missing a way of parsing Babel without babel-eslint.

This is a complete example of the code I'm trying to test:
[code]

Without babel-eslint, it has a parsing error with the ``() =>`` arrow syntax.

[2016-01-27 14:27] hzoo commented on #5082
@chrbala You can use ecmaFeatures http://eslint.org/docs/user-guide/configuring#specifying-language-options with jsx/arrow functions

[2016-01-27 14:30] nzakas commented on #5007
:-1: to monkey patching. We don't know how that will negatively affect things like babel-eslint. Let's just hold off and do it the right way.

[2016-01-27 14:38] chrbala commented on #5082
Having tried again with
[code]
and also removing the JSX, ESLint gives me a parsing error on:
[code]

and it gives no error on
[code]
So it seems like it's a babel-eslint issue.

[2016-01-27 15:13] michaelficarra commented on #5082
Arrows have the precedence of assignment expressions. That they don't in babel is a known bug. Eslint is correctly giving you a parsing error.

[2016-01-27 16:17] nzakas commented on #5040
Here's another crazy thought: what if we completely do away with the configuration cascading in favor of glob-based configuration in files (already proposed #3611)? I think that eliminating the cascading would make this easier, and it would also allow us to move the contents of `.eslintignore` into the configuration file.

[2016-01-27 16:20] sindresorhus commented on #3611
Here's what we ended up doing in XO: https://github.com/sindresorhus/xo#config-overrides

[2016-01-27 16:24] lo1tuma commented on #5040
@nzakas Interesting idea. It would also simplify the [implementation of glob-based configuration](https://github.com/eslint/eslint/commit/4507caaa791a786915c9a72ff93b1349e6df7686).

[2016-01-27 16:29] lo1tuma commented on #3611
FWIW: I’ve pushed a [WiP commit](https://github.com/eslint/eslint/commit/4507caaa791a786915c9a72ff93b1349e6df7686), but there is still some work to do.

[2016-01-27 16:40] btmills commented on #5040
@nzakas :+1: Off the top of my head, a few things moving to glob configuration might improve:

1. Configs can be cached on globs alone instead of some combination of paths + globs, which is where we might end up otherwise, as @lo1tuma pointed out.
2. No longer have to find a clear way to explain "We'll merge all configs up to `/` unless one contains `"root": true` then we'll stop there and only if

[2016-01-27 16:47] ilyavolodin commented on #5040
Interesting idea. On one hand, it has potential to significantly simplify our implementation, on the other, it's a pretty dramatic change, which I'm not sure I'm comfortable with without thinking about it too much. I also feel that glob based configs might not be as flexible for minor differences as cascading.

[2016-01-27 17:08] wesleytodd commented on #4731
I understand that this issue touches alot on other modules, but could we not circumvent that by adding a flag/option where output is streamed instead of kept in memory?  Thus keeping the default behavior, but allowing people to pass the options when running on large unlined projects.

[2016-01-27 17:29] nzakas commented on #5040
@ilyavolodin don't get too wrapped up on implementation details right now, we're just brainstorming.

[2016-01-27 18:13] nzakas opened #5083 "Help wanted: Non-code contributions to ESLint"
As ESLint has grown in popularity (we now easily have over 1 million downloads every month), it's taking more and more effort to manage the project. While it's probably obvious that we appreciate code contributions, there are a lot of non-code contributions that could greatly help the project.

**Note:** These are unpaid, volunteer positions. We're hoping that giving back to the community on a pro

[2016-01-27 18:34] montogeek commented on #5083
I can help in the chat room answering questions :)

[2016-01-27 19:37] whomba opened #5084 "ES6 Class does not honor indent for first indentation level"
# Issue:
When using ES6, a file with class does not honor spacing for first indentation level

# ESLint Rule:
indent: [2, 4]

# What happens:

[code]

As you can see above, the function ```testTwo``` is indented by two, and it should be indented by 4 yet an error is not

# Demo:
* Go to http://eslint.org/demo/
* Copy above code in
* Disable all rules except 'indent' (defaults to 4)
* Everything pa

[2016-01-27 19:50] gyandeeps commented on #5084
Class body support was not present for indent rule in `1.10.3`. It has been added in 2.0.0 beta and will be released with it.

[2016-01-27 19:55] frantic1048 commented on #5083
May I could help with the logo and typography >_<

[2016-01-27 20:26] mysticatea commented on #5042
Yes a bit.
But now, no-empty-lavel prevents us using labels on non loops, and no-unused-labels prevents us using unused labels on loops.
On the other hand, if the behavior of no-empty-label is changed, when we use the two rules, no-empty-label prevents nothing. (Exactly a case: `A: break A`; but it seems to be an unused expression)

[2016-01-27 20:29] michaelficarra commented on #5042
@mysticatea A useless statement, not an unused expression.

[2016-01-27 20:31] mysticatea commented on #5042
@michaelficarra Oh, yeah!

[2016-01-27 20:45] mysticatea commented on #5044
@nzakas my idea on this issue is that no-loop-func doesn't need to warn a function which isn't using modified variables of outer scopes. It would reduce false positive, I thought.

[2016-01-27 21:06] nzakas opened #5085 "Update logo"
What we'd like to do is evolve our current logo. This is what it looks like today:

![ESLint Logo](http://eslint.org/img/logo.svg)

The [website](http://eslint.org) adds the text "ESLint" to the right of the logo.

While we generally like the logo, it seems like it's time for a refresh (I'm think of a refresh along the lines described in [this Node.js issue](https://github.com/nodejs/evangelism/is

[2016-01-27 21:07] nzakas commented on #5083
@montogeek great, thanks! All you have to do is hang out there. :)

@frantic1048 awesome, we'd love some help. I opened a separate issue for the logo redesign here: https://github.com/eslint/eslint/issues/5085. Feel free to submit something on the issue whenever you have time.

[2016-01-27 21:18] SamuelEnglard commented on #5083
I can help with website, do you want to open a separate issue for that?

[2016-01-27 21:19] SamuelEnglard commented on #5085
What was the thinking behind the original design?

[2016-01-27 21:20] montogeek commented on #5083
A note about the website: please add more examples, just a single line showing how it should be defined is good.

[2016-01-27 21:23] Hacklemore commented on #5085
@SamuelEnglard you took the words out of my mouth. :)

It would also be good to know what you would want the refreshed logo to represent. What's missing from the current design that you would like to see in the new one?

[2016-01-27 21:25] omerbalyali commented on #5083
I can help with branding and website right off the bat. Check out my portfolio: http://www.omerbalyali.com

[2016-01-27 21:27] nzakas commented on #5083
An issue to start talking about website design: https://github.com/eslint/eslint.github.io/issues/185

Feel free to ask more questions there.

[2016-01-27 21:36] pedrottimark commented on #5083
Glad to provide some suggestions and constructive critique on proposed improvements to information architecture for interior pages of the Web site.

[2016-01-27 21:37] nzakas commented on #5085
I was trying to see where the original conversations took place, and all I could dig up was this:
https://github.com/eslint/eslint/issues/477

I can't seem to find much of the reasoning behind the current logo. IIRC, the inspiration for the original design was gears, as ESLint would be a vital cog in your build system.

For me, personally, I think the current logo looks a bit "young," which was ni

[2016-01-27 21:43] chrylis opened #5086 "option to exclude functions from no-unused-vars"
I want to keep the `no-unused-vars` rule as an error, but in an ES2015 module, functions that are not called are considered "unused variables" and trigger the error. I would like to be able to treat functions distinctly (and it would even make most intuitive sense to me for unused rules for variables and named functions to be separate, but I'm aware that's a gray area).

<bountysource-plugin>
---

[2016-01-27 21:47] lo1tuma commented on #5085
@nzakas A comment in the issue you mentioned links to the eslint-ui-concept repo which has [a small explanation of the concept behind the logo](https://github.com/noahcollins/eslint-ui-concept#the-design) and also mentions typography and colors.

[2016-01-27 21:49] michaelficarra commented on #5086
Why do you want to have an unused function in your program?

[2016-01-27 21:50] whomba commented on #5084
Great, thanks @gyandeeps Any word on when 2.0 beta will be rolling out (days / weeks / months / years?)

Thanks!

[2016-01-27 21:51] nzakas commented on #5085
@lo1tuma thanks!

[2016-01-27 21:53] chrylis commented on #5086
I prefer to lint continuously while developing.

[2016-01-27 21:54] nzakas commented on #5083
@pedrottimark thanks so much. I opened a separate issue for that here: https://github.com/eslint/eslint.github.io/issues/186 Any suggestions greatly appreciated.

[2016-01-27 21:56] gyandeeps commented on #5084
beta is out but there is no firm date on final 2.0 release.

[2016-01-27 21:56] #5084 closed

[2016-01-27 21:59] whomba commented on #5084
Alright, thank you.

On Wed, Jan 27, 2016 at 1:56 PM, Gyandeep Singh <notifications@github.com>
wrote:

[2016-01-27 22:01] michaelficarra commented on #5086
@chrylis The same problem would exist for variable declarations.

[2016-01-27 22:39] jmm commented on #5082
Arrow parsing precedence was fixed a long time ago in Babel (http://astexplorer.net/#/NL0Fd3mEgg), no?

@chrbala What version of `babel-eslint` are you using?

[2016-01-27 22:40] ilyavolodin commented on #5085
I would love to see an attempt to bring a counter-color into logo and design. Purple is fine, but purple + blue is a bit bleak and depression for my personal taste. Maybe yellow or red to spice it up a bit. (But this is my personal opinion which might not align with the rest of the team).

[2016-01-27 22:48] chrylis commented on #5086
An unused variable is (nearly) always an actual error, and commenting one out is at most one line. An unused function is often a multiline entity that is temporarily disabled (for debugging, pending CI integration, etc.).

[2016-01-27 22:50] michaelficarra commented on #5086
And commenting out a function is a two-line edit. :-1: This is a completely unconvincing use case.

[2016-01-28 00:06] ilyavolodin commented on #5083
@nzakas We might want to modify governance model to include non-code contributors.

[2016-01-28 02:52] mysticatea commented on #5040
:+1: to eliminating cascading. It would reduce the complexity of traversing and I guess it makes faster.

[2016-01-28 08:54] Bartekus commented on #4353
I'll second @mattkrick on that, and provide practical example in form of Login.js component:
[code]
There is definitely need for such pattern and that need will only increase as we further push the envelope of possibilities that react&redux for example allow.

Please reconsider you position on this.

[2016-01-28 09:03] julienw opened #5087 "The explanation about .eslintignore seems wrong"
Looking at http://eslint.org/docs/user-guide/configuring.html#ignoring-files-and-directories

Here is the wrong (or at least confusing) text:

This is not the behavior I see, especially the `current working directory` part. It seems to me eslint tries to find a .eslintignore file in the parent directories as well.

Another issue is how it matches entries that do not start with '/'. Say we have the

[2016-01-28 13:26] firedev commented on #3507
Hey, what about this
[code]

[2016-01-28 13:43] mathieumg commented on #3507
It seems @Cellule 's concern in https://github.com/eslint/eslint/issues/3507#issuecomment-134471387 wasn't addressed. I'll go on a bit of self-promotion and link you to https://github.com/mathieumg/tempura#nowhitespace which I use to build long URIs and URLs using template literals.

[2016-01-28 14:00] omeryagmurlu opened #5088 "'no-use-before-define' 'nofunc' should be enhanced."
Consider the following code.

[code]

outputs:
[code]
as expected.

This request is not a duplicate of [#2874](https://github.com/eslint/eslint/issues/2874) and is not about hoisting or TDZ etc.

Classes depending on each other cause a false 'no-use-before-define'.

Eslint outputs:
[code]

Eslint version: v1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://

[2016-01-28 14:45] ilyavolodin commented on #5087
Which version of ESLint are you using?

[2016-01-28 15:16] julienw commented on #5087
2.0.0-beta.2.

Sorry, I should have precised this indeed.

[2016-01-28 15:17] julienw commented on #5087
and I'm using node v4 on Linux, in case this is relevant.

[2016-01-28 16:39] christianharke commented on #3092
We would like to enforce padding for ES6 classes. Due to our styleguide those are treated differently than other blocks, which shouldn't be padded: infektweb/eslint-config-infektweb#12

Is it foreseeable to get a padded-blocks option (or a separate rule if you like) for treating them separately?

[2016-01-28 16:47] nzakas commented on #4731
Not really. All the formatters output strings, there's no capacity for streaming without rewriting them all.

[2016-01-28 16:49] nzakas commented on #5042
@mysticatea does that mean no-empty-label can be removed? Or is it still doing something unique?

[2016-01-28 16:49] nzakas commented on #5044
Got it, sounds good.

[2016-01-28 16:51] #5074 closed

[2016-01-28 16:54] nzakas commented on #5082
@chrbala I'd suggest following up with babel-eslint for this.

[2016-01-28 16:54] #5082 closed

[2016-01-28 16:59] nzakas commented on #5086
@chrylis your best option is to disable the rule until you want the warning. Put `/*eslint-disable no-unused-vars*/` at the top of your file until you want the warnings again.

[2016-01-28 16:59] nzakas commented on #5083
@ilyavolodin feel free to propose something

[2016-01-28 17:00] nzakas commented on #5040
Another idea: change formatters so they can stream results:
https://github.com/eslint/eslint/issues/4731

[2016-01-28 17:07] nzakas commented on #5088
Duplicate of https://github.com/eslint/eslint/issues/3944. Fix is already on master.

[2016-01-28 17:07] #5088 closed

[2016-01-28 17:12] BYK commented on #5040
:+1: for #4731 - sounds quite useful and a worthy upgrade.

[2016-01-28 17:16] nzakas commented on #5087
Looks like you're right: https://github.com/eslint/eslint/blob/master/lib/ignored-paths.js#L47

It appears this was an unintended side effect of recent changes to ignore files. We should fix that.

[2016-01-28 17:20] ExplodingCabbage commented on #3493
This is pretty obviously a bug. I don't understand why people are suggesting otherwise?

The indentation rules that are applied to arrays are different to those applied to objects here, for no clear reason.

@BYK and @gyandeeps, are you saying that you think it's reasonable that any usage of the `VariableDeclarator` rule to enforce discrepancies in the indentation of arrays versus objects such as

[2016-01-28 17:25] julienw commented on #5087
Actually I like this behavior, as it matches the behavior used for .eslintrc (except all .eslintrc found are merged).

[2016-01-28 18:57] platinumazure commented on #5087
@nzakas Would it make sense to intentionally assume that `.eslintignore` should be found in the directory where there is an `.eslintrc` with `root: true`? I can see some potential problems with home directory configs but what else am I missing?

[2016-01-28 19:30] ilyavolodin commented on #5032
This issue is not complete. Deprecated rules should be noted in `replacements.json` file and `readme.md` should be updated to reflect that the rules have been removed.

[2016-01-28 19:32] ilyavolodin commented on #5032
Also each .md files for removed rules should be updated with replacement notice.

[2016-01-28 19:37] gyandeeps commented on #5032
Its already noted in https://github.com/eslint/eslint/blob/master/conf/replacements.json

Yup, forgot to update .md files. Should we just remove .md files?

[2016-01-28 19:37] nzakas commented on #5032
No, we keep the documentation for old rules so search engine results don't break.

[2016-01-28 19:42] gyandeeps commented on #5032
Just checked all of the rule's .md file has the replacement notice also.

What is missing?

[2016-01-28 20:04] ilyavolodin commented on #5032
Oh, in that case, nevermind. I didn't see those changes in your PR, so that's why I assumed that it wasn't made.

[2016-01-28 20:04] #5032 closed

[2016-01-28 20:09] nzakas commented on #5087
@julienw not quite the same. `.eslintrc` searches begin from the directory of each file that is being linted. The `.eslintignore` search begins from the cwd. I'm not even sure that `.eslintignore` files higher up in the tree work correctly.

@platinumazure we need to use the cwd because the calculation of what to ignore is done before `.eslintrc` files are located.

[2016-01-28 20:10] nzakas commented on #3092
@christianharke that's not really related to this issue, please open a new one.

[2016-01-28 20:21] omerbalyali commented on #5085
Hi everyone,

I worked on some alternative logo designs to discuss for new ESLint Branding.

Noah Collins's original logo includes a outer hexagon which is rotated 18deg to make it feel like "to be corrected" and the inner hexagon is the correct one, which symbolizes the linted code. While this is a good analogy, I think logo should feel more "stable"; the whole form should symbolize the linted co

[2016-01-28 20:26] SamuelEnglard commented on #5085
I like 1 and 2

[2016-01-28 20:28] ilyavolodin commented on #5085
Visually, I find 2 and 6 most interesting. But I think in both of them the idea of hexagon is a bit lost. While in general, I'm not sure hexagon carries over the idea of linting all that well, it is a logo that people have been seeing for that last two years, and are probably used to.

[2016-01-28 21:51] jacobp100 commented on #5085
<img width="203" alt="screen shot 2016-01-28 at 21 50 21" src="https://cloud.githubusercontent.com/assets/7275322/12659927/279a0faa-c609-11e5-819f-7ae0f0f0f4f7.png">

Crude mockup I did in 5 minutes. Nothing is aligned correctly, so don’t look too closely.

[2016-01-28 22:15] nzakas commented on #5085
@omerbalyali 1 and 2 jumped out at me as nice, and I also see what @ilyavolodin likes about 6. Only thing with six is that is looks (to me) like a 3D cutout block (maybe that was intentional?).

@jacobp100 I think that's a bit too far from where we are right now, but thanks for taking the time.

[2016-01-28 23:02] nzakas commented on #3626
Okay, I think I've found some religion around this. People don't like 0, 1, 2 and would rather there be words. Previously, this was a problem because a) people can misspell things easily and b) we didn't used to validate configs, so invalid settings meant "off". Now that we do validate configs for correct values, that should at least reduce the pain associated with typos.

So, I think we can proba

[2016-01-28 23:08] gyandeeps commented on #3626
Sounds good to me.
Case sensitive?

[2016-01-28 23:14] hzoo commented on #3626
Allowing for any case sounds fine. Could just be `"option.toLowerCase() === "off"` then it's 0, etc? Sounds good to allow users to pick what they feel is comfortable while the internals don't necessarily have to change

[2016-01-28 23:20] omerbalyali commented on #5085
@ilyavolodin 4 alternative fonts. (DIN Medium instead of DIN Bold)

(I used the first logo as an example)

![eslint-logo-fonts](https://cloud.githubusercontent.com/assets/944165/12662036/3b99df9a-c626-11e5-948c-85d1e865ed0c.png)

[2016-01-28 23:23] omerbalyali commented on #5085
DIN Bold and Medium.

![eslint-logo-dinboldmedium](https://cloud.githubusercontent.com/assets/944165/12662137/df451236-c626-11e5-9e2c-635232f65c74.png)

[2016-01-28 23:35] SamuelEnglard commented on #5085
Just a thought but what if the inner hex was `#CAD133?`

[2016-01-28 23:48] omerbalyali commented on #5085
@SamuelEnglard Exact hex doesn't look good, it's very low-contrast on white background, but the top left color below is similar.

![eslint-logo-colors](https://cloud.githubusercontent.com/assets/944165/12662620/5fb25048-c62a-11e5-99c6-03f8f0d305bb.png)

[2016-01-28 23:54] ilyavolodin commented on #5085
Active Grotesk looks the best to me. By it seems like something is off with kerning on that font. `S` looks too bunched up and too big, comparing to the rest of the letters. Can we try it with some popular fonts? Roboto, Aller, Helvetica Neue or something? Even though those are heavily overused, they still look pretty nice.

[2016-01-29 00:02] KyleHodgetts opened #5090 "Unexpected token < error in jsx"
eslint version: `v1.0.0`
`Unexpected token` which is referencing to `<` (the opening of the p tag
[code]

.eslintrc
[code]

I've applied every solution that I've found to other issues that have been raised with this and unfortunately, I am still having this issue

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/30316908-unexpected-tok

[2016-01-29 00:26] ilyavolodin commented on #5090
Can you try without `babel-eslint`? Also, version 1.0.0 is very old (over half-a-year old now), you might want to try newer version.

[2016-01-29 01:28] sotayamashita commented on #5083
I can help ESLint chatroom in Japanese and English !!

[2016-01-29 02:59] BelfordZ commented on #5039
@nzakas After finally catching up after the christmas holidays, I have rebased and updated the PR, added a test case as well.

Thanks for the help on this one guys!

[2016-01-29 04:30] egoroof commented on #5074
Good job! Thanks for support! :+1:

[2016-01-29 04:40] sanyamagrawal commented on #4842
dscan , Can you tell me to which eslint you updated and what other packages did you install because i am facing the same issue

[2016-01-29 05:33] mysticatea commented on #5042
Current `no-empty-label` is doing unique, it prevents labels on non loop. IMO, labels on non loop is not enough well-known, so this is a worth. But the name `no-empty-label` is a bit of confusing.

I'm thinking we have 4 approaches.

1. Keeping as is. The name `no-empty-label` is a bit of confusing, but it's working fine.
2. Renaming `no-empty-label` to `no-non-loop-label`. Hmm, double negation.
3

[2016-01-29 05:36] Qix- commented on #5042
Why not `loop-labels`? I know it breaks the general convention of the rule names, but it might be more clear to break dogma in this case.

3 sounds great. I'm all for that.

They're not dangerous but the problem is that most javascript developers don't even know you can do it. I've used it literally _once_ in production (hence this issue being opened) where it removed the need for a second loop in