[2016-08-19 16:15] Gozala commented on #6941
I don't mind giving this a try if someone is willing to mentor me.

[2016-08-19 16:19] markelog commented on #5857
Yeah! I think that works

[2016-08-19 16:27] nzakas commented on #5857
Okay, closing this and will roll the work into https://github.com/eslint/eslint/issues/5859 (which I'm starting).

[2016-08-19 16:27] #5857 closed

[2016-08-19 16:27] platinumazure commented on #6941
Let's see what the team thinks.

Personally, I'm worried about problems being caused by having to possibly re-align indentation, as well as handling possible conflicts with `comma-spacing`. So I'm :-1: but not strongly (and I can be persuaded).

[2016-08-19 16:34] Gozala commented on #6941
Is it not possible to re-align indentation with respect to config ?

To be honest I'm just looking for some solution that would take arbitrary code and reformat it comply with ESLint config. I was going after [esformatter](https://github.com/millermedeiros/esformatter) but was pointed out that just providing `--fix` for ESLint is a better way to go about it.

I don't actually know if that is out o

[2016-08-19 17:20] gyandeeps commented on #6941
I think this issue is asking to make `comma-style` rules `fixable`?

Just to brainstorm a lil bit, what if we during the fix if we replace the comma with a space (spot where we are removing the comma) and simply add the comma at the spot its needed. Anything i am missing or could go wrong with this approach?

[2016-08-19 17:28] sstern6 commented on #6731
@alecharmon @ilyavolodin There hasnt been any movement on this one in about a month.  Would like to open a PR unless @alecharmon has already started working on it,  but brand new to the code base.  If its ok to open a PR could you please point me in the right direction for relevant files for this issue and will research issues related to multiline issues.

Thank you

[2016-08-19 18:44] Gozala commented on #6941
Yes

[2016-08-20 01:53] amilajack opened #6943 "Question: Access line number from `context`?"
Is it possible for a plugin to have access to the current line number from the `context`?

[2016-08-20 02:11] platinumazure commented on #6943
If you're processing a particular `node` in your rule, you should be able to get its line number using `node.loc.start.line`. You can play around on http://astexplorer.net (make sure to use the "Espree" parser) to see how location information is represented in the parse tree.

[2016-08-20 02:19] amilajack commented on #6943
@platinumazure I cant find 'node' in the ast explorer. What do I need to do to make it show up?

[2016-08-20 02:24] platinumazure commented on #6943
Ah, sorry, I assumed you were writing a rule as well.

You can write any example code you want in ASTExplorer. Then just click on some part of the code, and the display on the right should change to reflect what node type you've clicked on. (For example, click the "if" in an if statement.) There should be a "loc" object. (So `node`, in ASTExplorer, is the full object you're looking at.)

If you ca

[2016-08-20 02:26] platinumazure commented on #6055
Started work on this. Documentation is pretty much done (well, unless we want more examples of different combinations of options). Rule logic seems to be done, now I'm just writing test cases and squashing bugs. I'll get a branch up this weekend once I've made some more progress.

@eslint/eslint-tsc Strong opinions on whether to include `markers` at this point, based on @markelog's comment [here](

[2016-08-20 02:27] amilajack commented on #6943
I'm trying to write a plugin for flow that collects errors from flow and reports them in eslint

[2016-08-20 07:03] not-an-aardvark opened #6944 "Add a --fix option for no-extra-parens"
I'm using Node v6.4.0 and ESLint v3.3.1.

I think it would be useful to have an autofix option for the `no-extra-parens` rule. I think the fixer would be fairly simple; it would just remove the offending parens from the source code.

Presumably, the fixer would follow the same options as the rule itself to determine whether parentheses are gratuitous. For example:

[code]

[code]

---

One special

[2016-08-20 11:17] HenriBeck commented on #6929
It works with the default parser, but not with babel-eslint. Though then it reports a bunch of other errors when you are using experimental features like async/await.

[2016-08-20 12:12] HenriBeck commented on #6929
Turning off the rule 'generator-star-spacing' fixes this issue, so you can use the babel-eslint parser again

[2016-08-20 12:40] platinumazure commented on #6944
Sounds reasonable to me. I'll endorse this (:+1:).

[2016-08-20 14:28] mysticatea commented on #6944
:+1:

[2016-08-20 14:32] mysticatea commented on #6943
![astexplorer-loc](https://cloud.githubusercontent.com/assets/1937871/17831798/3534bfea-672e-11e6-9e48-d93610dd2e2b.gif)

[2016-08-20 14:38] mysticatea commented on #6941
:+1:

Such change of comma's position does not change the meaning of code.
I think we are welcome that kind of auto-fixing.

[2016-08-20 14:54] gyandeeps commented on #6944
:+1:

[2016-08-20 14:54] mysticatea commented on #6940
Thank you for this issue.

I confirmed it.

[code]
[code]

ESTree spec has `typeAnnotation` (container only). Also, we have fixed similar issue before (#5211).

I will work on this.

[2016-08-20 14:56] gyandeeps commented on #6941
I think i have a PR which works. I will send it out to collect some feedback on it.

[2016-08-20 15:14] amilajack commented on #6943
@mysticatea Thanks!

[2016-08-20 15:14] #6943 closed

[2016-08-20 15:25] ilyavolodin commented on #6929
In that case, it's a problem with `babel-eslint` parser. You should open an issue there.
Closing, as there's nothing we can do about third-party parser errors.

[2016-08-20 15:25] #6929 closed

[2016-08-20 17:24] Trott commented on #5989
I wonder if this might be better as an option on the existing `arrow-body-style` rule. Not sure, just pondering. If enabled and there is a newline after `=>` then the function body needs to be wrapped in `{...}`.

Good:

[code]

Bad:

[code]

[2016-08-20 17:31] ypresto opened #6947 "Warn TODOs without comment"
**When does this rule warn? Please describe and show example code:**

[code]

**Is this rule preventing an error or is it stylistic?**

stylistic

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

It is specified in official code conventions:

http://eslint.org/docs/developer-guide/code-conventions#comment-annotations

Also implemented by rubocop (linter for ruby).

[2016-08-20 17:43] platinumazure commented on #6947
I like the idea for sure! One question I have is whether it might fit better as an enhancement for rule `no-warning-comments`. Maybe as an option of warning comments that are only tolerated if they have extra content in the comments... Thoughts on that?

[2016-08-20 18:21] richardgirges opened #6948 "Ability to define camel-case rules more flexibly?"
I'm trying to setup some lint rules around camel casing in a universal JS app. However, I've hit a wall with (what appears to be) lack of flexibility around the `camelcase` rule in eslint.

Apologies if there is a way to do what I'm asking - I've been searching around for a couple hours but haven't found a clear path to achieve what I'm trying to do.

What I'm trying to achieve is the following se

[2016-08-20 18:35] richardgirges commented on #6948
And just like that after posting this up I figured it out. This is what I needed:

`camelcase: ["error", {"properties": "never"}]`

Didn't realize that the `properties` option in the `camelcase` rule is specifically targeting object properties. I'm a dummy. Nothing to see here, move along.

[2016-08-20 18:35] #6948 closed

[2016-08-20 18:46] ypresto commented on #6947
They might be different rules, because one is to disallow and another is to style TODOs.
For example, some user might use `no-warning-comments` only for FIXME (e.g. better to fix now than write it :). In this case user still would use new `no-warnings-without-comment` rules for TODO or HACK.

[2016-08-20 18:52] ypresto commented on #6947
[code]

[2016-08-20 19:40] amilajack opened #6949 "Question: `init` step for plugins?"
Is there a way for plugins to run an initialization process before being? Also is there a way of accessing values returned from the init process inside of the create fn?

[2016-08-20 20:59] kaicataldo commented on #6938
@kdex Kind of confused here - am I misunderstanding that you want to disallow any newlines at the ends of files?

Using this .eslintrc
[code]
the following produces an error:
[code]
while this does not:
[code]

Apologies if I'm misunderstanding what the problem is, but if so, could you clarify?

[2016-08-20 21:02] kaicataldo commented on #6913
@samgensburg friendly ping to see if @platinumazure's comment answered your question

[2016-08-20 21:09] kaicataldo commented on #6407
Yikes, this thread is getting really huge. I'll try avoid force pushing so much to try to keep this issue easier to manage. Wanted to follow up and see what everyone else though about enabling the final rule in [my comment](https://github.com/eslint/eslint/issues/6407#issuecomment-231392810) above, which is `prefer-template`. There isn't an autofix for this, so some kind of codemod might be what w

[2016-08-20 21:41] kdex commented on #6938
@kaicataldo Yes, that's exactly what I'm trying to do, but what you're suggesting is not what actually happens in ESLint.

The settings you've suggested will produce an error for

[code]
but not for
[code]
and also not for what I actually want:
[code]

Please have a look at [this test case](https://github.com/kdex/eslint-issue-6938).

[2016-08-20 23:17] alberto commented on #6938
`\n` is considered a line terminator so there isn't really an empty line at the end of the file in your case. So, what you are requesting is for the last line not to be terminated, which I'm not sure is a good idea, given many editor force that. Check [this](https://github.com/eslint/eslint/issues/4228#issuecomment-150569111) for reference.

[2016-08-21 00:02] kdex commented on #6938
@alberto Thanks for the reference! For most editors I've tried (nano/pico, Atom, Kate, vim), this is really a matter of preference. No one *forces* you to use a final `\n`. :smile:

In fact, [EditorConfig](http://editorconfig.org/) files even let you specify a boolean parameter `insert_final_newline` to ask editors not to insert these characters project-wide. It would be neat if ESLint could ensur

[2016-08-21 01:20] alberto commented on #6938
Sorry, I didn't mean they force it, but rather that they insert it by default.

As I said, this rule is about empty lines and there are no empty lines in this case. What you want is a rule that ensures there is no line terminator at the end of the file. It doesn't fit cleanly in this rule in its current form, so I think that should be a separate rule, and I don't think that's common enough to be i

[2016-08-21 01:37] platinumazure commented on #6938
@alberto Couldn't OP use eol-last?

[2016-08-21 01:50] kdex commented on #6938
@platinumazure `eol-last` currently doesn't support `always`/`never` semantics, meaning that it can only be used to ensure that a final `\n` *exists*—not to check whether is *does not exist*.

[2016-08-21 01:51] platinumazure commented on #6938
I think that's a better rule to enhance than no-multiple-empty-lines. That's what I was getting at.

[2016-08-21 02:11] alberto commented on #6938
@platinumazure @pmcelhaney yes, I forgot we had `eol-last`. That's definitely a better place for this.

[2016-08-21 07:20] kaicataldo commented on #6938
@kdex You're right - thanks for clarifying!

[2016-08-21 14:30] alberto commented on #6854
Was the resolution to specifically address whitespaces or any failed plugin load? That would also fix https://github.com/eslint/eslint/issues/6115

[2016-08-21 17:41] #6933 closed

[2016-08-21 19:30] arkka commented on #2409
What a hack, thanks @michaelficarra

[2016-08-21 19:36] btmills commented on #6857
@platinumazure good catch, that's quite the wrench. Let's see... Based on the cases demonstrated below, it looks like we'll need either a tri-state or an option on the "never". I agree with @epoberezkin that immediate property access is pretty ugly, so maybe there's a way to support that too.

[code]

So what if we started off with "always" (1-4 valid) and "never" (5-8 valid). Then, later, if some

[2016-08-21 21:06] #6698 closed

[2016-08-21 21:21] btmills commented on #6691
Great, @azhang496 - let us know if you need any help!

[2016-08-21 21:27] btmills opened #6954 "Add a custom rule to enforce conventions in rule metadata"
Forking this from [discussion on #6915](https://github.com/eslint/eslint/pull/6915#issuecomment-240090220).

**The problem you want to solve.**

Most of our rule descriptions begin with lowercase letters. #6915 corrected two that didn't. Right now, we have no automatic verification of conventions there.

**Your take on the correct solution to the problem.**

When we make it so the title of each ru

[2016-08-22 00:14] RanadeepPolavarapu commented on #5805
👍

[2016-08-22 02:44] kaicataldo commented on #5805
:+1:

[2016-08-22 06:39] Cellule commented on #3458
For those interested, I found a workaround to have your plugins as dependencies in your shareable config.
See https://github.com/Cellule/eslint-myrules/commit/83b3ac20a3b202f952726f57a5d5f680a83d64a9

Essentially this monkey patches eslint plugin resolution by resolving the plugin yourself therefore using your module's resolve paths.
This works with `npm link` as well.
It heavily depends on the cu

[2016-08-22 11:17] callumlocke opened #6955 "Overriding a rule doesn't reset options, unless you pass an empty object"
**What version of ESLint are you using?**

3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

I added `import/no-extraneous-dependencies: 2` to my config.

**What did you expect to happen?**

I thought this would override the default setti

[2016-08-22 11:54] mysticatea commented on #6955
Thank you for this issue.

I think this is intentional behavior.
This is duplicate of #6144 and #6361.

[2016-08-22 12:12] callumlocke commented on #6955
OK. I think it could be worth revising. It's evidently a very weird, surprising behaviour. In [this issue](https://github.com/benmosher/eslint-plugin-import/issues/469) it's only on revisiting it a third time that I eventually traced the problem to eslint's own behaviour. Several others also made the same assumption as me: that there's no way in hell eslint would work like that, so it must be a pr

[2016-08-22 12:14] #6955 closed

[2016-08-22 13:10] vitorbal commented on #6854
I think the decision was to show a special message for the case when whitespaces are detected, but looks like the fix for #6115 will be a check in the same spot in code as this one.

[2016-08-22 13:18] platinumazure commented on #6955
I've said before that I don't like this behavior and think it should be changed. Can we reopen this and consider it a breaking but worthwhile change?

[2016-08-22 14:23] ilyavolodin commented on #6949
Plugin is just a JavaScript file that exports an object of specified type. You can create an initialization function and use that to export an object, that's up to you. For more information see our plugin documentation here: http://eslint.org/docs/developer-guide/working-with-plugins

[2016-08-22 14:27] whimatthew opened #6956 "Inconsistent indentation allowed on chained if-else"
**What version of ESLint are you using?**
v3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
With the above if-else chain, I have the first else indented too far and we get the correct output: `error  Expected indentation of 2 space charac

[2016-08-22 14:48] #6710 closed

[2016-08-22 14:56] vitorbal commented on #6956
Thanks for the report, @whimatthew! I can reproduce this. Seems like all else statements after the first one are not triggering an indentation error.

[2016-08-22 15:20] gyandeeps commented on #6941
here is something https://github.com/eslint/eslint/pull/6957 i had in mind.

[2016-08-22 16:50] #6949 closed

[2016-08-22 18:56] kaicataldo opened #6958 "Linting errors in main repo"
**What version of ESLint are you using?**
Master
**What parser (default, Babel-ESLint, etc.) are you using?**
N/A
**Please show your full configuration:**
N/A
**What did you do? Please include the actual source code causing the issue.**
Linter is currently failing due to a merged PR that was not using object property shorthand:
[code]
It seems like the last time the CI was run on the merged PR was

[2016-08-22 20:07] #6958 closed

[2016-08-22 20:24] nzakas commented on #6854
Yes, this one is just for validating the name (which can be done before attempting to load). #6115 has to do with what happens after you try to load and it failed.

[2016-08-22 21:14] awendland commented on #5883
Just FYI (in case anyone stumbles on this): Kloudsec has since shutdown

[2016-08-22 21:31] #6892 closed

[2016-08-22 21:32] jostrander commented on #6854
Working on this

[2016-08-22 21:33] #6908 closed

[2016-08-22 22:21] MrOutput opened #6961 "function args comma style"
linter does not enforce comma style for function arguments

**What version of ESLint are you using?**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-08-22 23:11] platinumazure commented on #6961
We're going to need those questions answered. :smile:

[2016-08-23 03:29] wyvernnot opened #6962 "ESLint falls into infinite loop if used with css-loader in webpack"
**What version of ESLint are you using?**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

[code]

**Please show your full configuration:**

It is a React project, built with webpack, configured with following loaders

[code]

We use `eslint-config-airbnb` default settings, which will enable the `no-multi-spaces` check bu default.

[code]

webpack module settings

[code]

**W

[2016-08-23 03:56] wyvernnot commented on #6962
I found the root cause.

In `no-multiple-empty-lines.js`, there is code like this:

[code]

This line of code actually assumes the indexOf is native or according to [standard](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/indexOf
):

[code]

In rare case, the `indexOf` will be polyfilled in a non-standard way by another module in the project.

[code]

[abov

[2016-08-23 04:21] lencioni opened #6963 "Allow no-restricted-imports to restrict sub-paths of imports"
3.3.1

I have a package that contains some files that are considered to be part of its public API (e.g. "my-package/public/foo.js") which we consume by importing these files from the package directly (e.g. `import foo from 'my-package/public/foo.js';`). This package also contains files that are considered to be private and should not be imported (e.g. "my-package/private/bar.js"). I want to allow

[2016-08-23 04:48] ljharb commented on #6963
Since this would still just apply to absolute imports (ie, things in node_modules, not relative filesystem imports) it seems like it should be doable to support "startsWith" logic for anything - ie, `foo/bar/baz` could be prohibited by `foo/bar`.

[2016-08-23 12:38] #6778 closed

[2016-08-23 13:55] gyandeeps commented on #6962
I am personally not in favor of introducing such changes because some code has polyfilled some core functionality in a non-standard (not according to the specs) way. By doing this we will say, we are open to make changes on ESlint juts because your code uses non-standard javascript function implementations.

This is my thought, I will wait to see what the team has to say on this.

[2016-08-23 14:25] platinumazure commented on #6962
I agree with @gyandeeps. Relevant passage from [The Codeless Code](http://thecodelesscode.com/case/154):

I'm not sure how we can plan for this, either.

[2016-08-23 14:25] BloodyStupidViktor commented on #2151
Hello, I am getting this issue with the node environment.
I assume you are talking about node_modules/eslint/node_modules/globals/globals.json, as it was the only globals.json file I could find.
I can remove node from env and copy from the globals file, but having a look at it, the node environment sets it to false. The only environment that sets it to true is worker, which I don't have. Any ideas

[2016-08-23 14:30] platinumazure commented on #2151
@BloodyStupidViktor Please open a new issue.

[2016-08-23 16:02] platinumazure commented on #6854
I raised a question about whether we should only validate whitespace on the issue, or if we should try to just check for a valid package name.

There's not a lot of information on npm but there's enough. https://docs.npmjs.com/files/package.json#name

Unfortunately, many of those are not very useful to us or would be hard to check accurately. Name starting with dot or underscore would only apply i

[2016-08-23 17:16] loganfuller commented on #3587
@onurtemizkan are you still working on this? I'm planning on giving it a go this weekend.

[2016-08-23 17:18] #6751 closed

[2016-08-23 17:24] CrabDude commented on #3561
It seems all roads end here for "glob matching" / "config by file extension" / --ext in config.

Where has this (previously on the roadmap) feature gone?* (Solely seeking information)
Are there any (post-2.0.0) open/tracking issues or discussions on glob-matching/file-ext config?

See https://github.com/eslint/eslint/issues/2203#issuecomment-120438720, https://github.com/eslint/eslint/issues/2274#

[2016-08-23 17:28] IanVS commented on #3561
@CrabDude the tracking issue is: https://github.com/eslint/eslint/issues/3611

[2016-08-23 19:22] yannickcr commented on #5837
@mysticatea any news on this? This check is breaking `prefer-const` when used with `react/jsx-uses-vars` (https://github.com/yannickcr/eslint-plugin-react/issues/716).

[2016-08-23 22:30] aaronshaf opened #6964 "<!-- style comments not recognized when parsing JSX"
Evidently `<!-- ...` single-line comments are valid in JavaScript. eslint doesn't seem to recognize this.

Source: https://twitter.com/bterlson/status/768211703314067457 and http://www.ecma-international.org/ecma-262/7.0/index.html#prod-annexB-SingleLineHTMLOpenComment

[2016-08-23 22:32] ljharb commented on #6964
They're in annex B, which means non-web browsers don't have to implement parsing for it.

That said, it does seem useful for eslint to be able to parse them, if only so a rule can be created that forbids them :-)

[2016-08-24 03:09] not-an-aardvark commented on #6956
Working on this.

[2016-08-24 05:40] jschaf opened #6966 "Rule test with full config fails"
I'm trying to test a full ESLint config with a bunch of small rules.  I created an empty rule and passed in the full config to RuleTester.setDefaultConfig.  But it doesn't seem to respect parserOptions and it runs into a type error.

**What version of ESLint are you using?**
v3.3.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
Full se

[2016-08-24 06:29] jdalton commented on #3458
Just pinging in that I too was bit by this.

[2016-08-24 07:51] mysticatea commented on #5837
Oh, I'm sorry.
I had lost the track of this issue.

I will fix this.

[2016-08-24 07:58] mysticatea commented on #5837
Oh, wait, but I'm not sure whether it's the issue of this original post or not.
`dynStyle` seems not the target of `react/jsx-uses-vars` rule.

Maybe should we separate issue?

[2016-08-24 08:04] mysticatea commented on #6964
Thank you for this issue.

[Acorn](https://github.com/ternjs/acorn), the base of our parser, does not support HTML style comments, so it needs to implement in Acorn.

[2016-08-24 09:48] vitorbal commented on #6947
I like this idea as well. What if we would have an option to `no-warning-comments` called `allowIfContainsDescription`:

[code]

Valid with above config:
[code]

Invalid with above config:
[code]

[code]

[2016-08-24 11:03] jaydenseric commented on #3529
You can [set `ignorePath` within stylelint config](http://stylelint.io/user-guide/configuration/#stylelintignore). They went to the trouble to switch to node-ignore to [facilitate pointing `ignorePath` to .gitignore](https://github.com/stylelint/stylelint/issues/1452).

As time goes on we find ourselves linting all the things. Having separate .gitignore, .eslintignore, .stylelintignore, etc. files

[2016-08-24 12:15] vitorbal commented on #6954
I'm willing to work on this if it get's accepted. Except if you'd like to take a stab at it, @btmills!

[2016-08-24 12:33] #6780 closed

[2016-08-24 12:39] btmills commented on #6954
@vitorbal all yours!

[2016-08-24 12:46] yannickcr commented on #5837
The issue is that any variable that is marked as used by [`context.markVariableAsUsed(name)`](http://eslint.org/docs/developer-guide/working-with-rules#the-context-object) (which set `eslintUsed` to `true` on the variable) will be ignored by `prefer-const`.

It was the case for `dynStyle` that was marked as used by `react/jsx-uses-vars` (fixed now since ESLint seems to handle it correctly without

[2016-08-24 13:20] ypresto commented on #6947
That option name sounds great..!
To clarify, are words specified `allowIfContainsDescription` in but not in `terms` always allowed?

[code]

[code]

[2016-08-24 13:21] aaronshaf commented on #6964
Thanks. I created the issue: https://github.com/ternjs/acorn/issues/454

[2016-08-24 13:52] vitorbal commented on #6947
Good question. I would say yes, if `terms` is empty then `allowIfContainsDescription` doesn't do anything because all terms are being allowed anyway.

 I would be curious what the rest of the team things of this though. I also think the name of the option can be improved.

[2016-08-24 13:54] platinumazure commented on #6947
I think maybe it should be a separate rule after all. Yes, I know I
advocated the opposite earlier but I've come around.

On Aug 24, 2016 8:52 AM, "Vitor Balocco" <notifications@github.com> wrote:

Good question. I would say yes, if terms is empty then
allowIfContainsDescription doesn't do anything because all terms are being
allowed anyway.

I would be curious what the rest of the team things of

[2016-08-24 13:59] vitorbal commented on #6947
I would not be against making this another rule as well!

[2016-08-24 14:03] micnic opened #6967 "no-invalid-this rule allows "this" keyword in ES6 class static methods"
When using `no-invalid-this` rule in a ES6 class static method I do not get any warnings.

[code]

From Docs:

From my understanding static methods are not considered a valid context for `this` keyword.

[2016-08-24 14:10] platinumazure commented on #6967
Marking as enhancement request for now since it seems to be by design.

@mysticatea Any thoughts on this?

[2016-08-24 16:11] MrOutput commented on #6961
a function's arg list should be forces to the same style as objects (comma-first or comma-last). for example

[code]

[2016-08-24 17:22] mysticatea commented on #6967
Original no-invalid-this rule had been warning static methods.
But by #4669, that behavior was addressed as a bug.

[2016-08-24 17:27] mysticatea commented on #6967
Actually, I'd like to revive the original behavior 😀
But it's a breaking change, so I think 👍  for adding an option.

[2016-08-24 17:49] mysticatea commented on #5837
Thank you for explaining.
I understood it.

[2016-08-24 18:26] micnic commented on #6967
@mysticatea does it mean that the documentation is misleading to the old behavior? (`except static methods` fragment from the rule description)

[2016-08-24 18:31] #6940 closed

[2016-08-24 18:37] hshoff opened #6968 "Rename "AirBnB" => "Airbnb" config initializer choice"
1. The version of ESLint you are using.

`3.3.1`

2. The problem you want to solve.

I was trying out the config initializer tool and noticed the below typo:
![screen shot 2016-08-24 at 11 33 42 am](https://cloud.githubusercontent.com/assets/339208/17943046/a9016f6e-69ee-11e6-97ec-c8853e38d308.png)

3. Your take on the correct solution to problem.

Rename `AirBnB` choice name to our preferred spel

[2016-08-24 18:37] nzakas commented on #6852
This is the correct behavior. People using React tend to use this feature, which is why we turn it on.

Really, the first and last issue you mention are really the same, and the third is a symptom of those.

I don't have enough energy to investigate this, so unless someone else is willing to take a stab at it, this might take a while to resolve.

[2016-08-24 18:48] ilyavolodin commented on #6968
Sounds good to me. Accepting since it's a minor change, and we should follow correct spelling.

[2016-08-24 18:50] #6968 closed

[2016-08-24 19:42] mysticatea commented on #6967
@micnic yes.

[2016-08-24 20:49] mightypenguin commented on #5867
Pinging this so people know there is still interest.
This would bring my documentation to 90+%.

All I care about is:
A)
var myfunc = function() {}

B)
var object = {
 myfunc: function() {}
}

[2016-08-24 21:45] mysticatea commented on #6964
I re-confirmed that `<!--` seems to be handled as single line comment correctly.

![image](https://cloud.githubusercontent.com/assets/1937871/17949222/4f7966f8-6a8f-11e6-97a7-4c523059eb99.png)

[2016-08-24 21:49] platinumazure commented on #6964
@mysticatea Do we need to do anything in espree, then, in order to get the comment to show up? Or maybe the problem is only in attaching the comments to code nodes? What's our next step here?

[2016-08-24 21:58] mysticatea commented on #6964
Espree seems to handle the HTML comments as single line comments.
So, I think we don't need to do something for this.

![image](https://cloud.githubusercontent.com/assets/1937871/17949518/bf2993be-6a90-11e6-8165-6591c8fe6969.png)

(Probably I saw a ghost around this issue...)

[2016-08-24 22:21] apexskier opened #6970 "no-irregular-whitespace fails with special characters in template literals"
**What version of ESLint are you using?**
v3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
This should be completely valid.

**What actually happened? Please include the actual, raw output from ES

[2016-08-24 22:23] #6970 closed

[2016-08-24 22:23] apexskier commented on #6970
Not actually an issue

[2016-08-25 01:52] gyandeeps commented on #6941
@eslint/eslint-team Needs some eyes/thoughts here.

1. Should this issue be accepted?
1. I have a WIP PR, is that the right direction?

[2016-08-25 02:17] xylosper opened #6972 "Feature request: new error level for informative purpose"
ESLint provides 3 error levels: off, warn, error. I'd like to see another error level for informations, for instance, 'info'.

In my team, we're using 'warn' for potential problem and 'error' for definite problem.
However, there are lots of other useful rules for information.

For instance, eslint-plugin-lodash provides more simple form of chained methods.
It's absolutely safe to ignore that rule,

[2016-08-25 02:28] julbaxter commented on #5623
@alberto What's the point of an ignore file if it's not to contradict what you express in the config file?

[2016-08-25 02:59] mikesherov commented on #6941
I'm :+1: on accepting this issue.

[2016-08-25 04:36] platinumazure commented on #6972
I'm :-1: to this because we intentionally define warning as a lint error that won't cause the lint process to exit with a failure status code. That is literally the only meaning the warning level has and any other meaning is projected by users and not intended by us.

You could achieve this by writing a tool which wraps ESLint. It would support an ESLint-like configuration with four warning levels

[2016-08-25 05:19] xylosper commented on #6972
@platinumazure

In fact, that's exactly what I'm doing wright now. I made another configuration file and generate eslintrc from it to run eslint.

I've open this issue because I thought this feature is useful, but if you think this is out of scope, please close it.

[2016-08-25 08:52] JakeSidSmith commented on #6852
I don't mind taking a look if someone can point me in the right direction. :)

[2016-08-25 08:54] vitorbal commented on #6967
(y) for option from me too

[2016-08-25 08:59] vitorbal commented on #6845
@ghengeveld friendly ping, could you check out @platinumazure's question above?

[2016-08-25 09:04] vitorbal commented on #6961
Hi @MrOutput, thanks for getting back to us. We kindly ask everyone that would like to request an enhancement to a rule or a new rule to fill in the template that the @eslintbot [mentions above](https://github.com/eslint/eslint/issues/6961#issuecomment-241996698).

Could you please take a moment to do that? That will help the team understand what you are proposing and allow us to give quicker feed

[2016-08-25 09:20] vitorbal commented on #6966
I think the problem is that the `create` function needs to always return an object.
In your `test.js` file, If you change this line:

[code]

To this:

[code]

Then you shouldn't see an error anymore. Could you try that?

[2016-08-25 09:25] micnic commented on #6967
+1 for the option, but I would like to have the old behavior as the default behavior (even the docs are pointing to the old behavior), because the new behavior might be a source of errors, I ran into one of them when did this thing:

[code]

And when I called `sayHello()` method I was expecting it to not be bound to the A class context (I forgot that I used `this` in the static methods :D).

[2016-08-25 09:45] yeright opened #6973 "odd behaviour from 'no-unused-vars'"
**What version are you using?**
v3.3.1

**What did you do?**
enabled no-unused-vars (as a warning, but also errors)

**What happened?**

Given the following code (simplified), the variable 'server' is flagged as unused.
[code]
**What did you expect to happen?**

Since the server variable DOES get used on execution, I would not expect this to be flagged.
I appreciate I can refactor to remove the us

[2016-08-25 10:46] jschaf commented on #6966
Yes, that fixes the error for the first test case.  I still have the same errors for  2-4, namely ESLint isn't using the parserOptions.ecmaVersion for the test cases.

[2016-08-25 12:56] platinumazure commented on #6973
Assignments, by themselves, do not count as uses under the rule (see [docs](http://eslint.org/docs/rules/no-unused-vars)).

By the way, the `var server` within `initialiseServer` is a separate variable declaration which shadows the outer declaration. Since ESLint is a static analysis tool, it does not take into account the fact that the inner server is returned and set to the outer server variable

[2016-08-25 12:57] ilyavolodin commented on #6941
:+1: on accepting.

[2016-08-25 13:00] platinumazure commented on #6941
I'll remove my :-1:. We just need a champion now (@gyandeeps want to champion?).

[2016-08-25 13:03] #6956 closed

[2016-08-25 13:13] ilyavolodin commented on #6973
@yeright Your code (I know it's simplified) can be re-written without any loss of functionality as:
[code]

That's why `server` is marked as `unused`.

[2016-08-25 14:46] ghengeveld commented on #6845
Given this code:

[code]

The ESLint output is:
[code]

Here's the config:
[code]

[2016-08-25 14:47] kaicataldo commented on #6852
Did a little poking around to try to get you started, @JakeSidSmith.

It looks like the [acorn-jsx plugin](https://github.com/RReverser/acorn-jsx) we use in [Espree](https://github.com/eslint/espree) (our parser) supports this out of the box. Running the following
[code]
yielded these results:
[code]

So the fix is definitely either in Espree or ESLint! I would start with Espree and see if there a

[2016-08-25 14:49] JakeSidSmith commented on #6852
Thanks for the info. Will try to take a look when I've got a moment. :)

[2016-08-25 14:51] kaicataldo commented on #6852
Sorry, sorry, just realized acorn parses ES6 by default. The above is wrong :(

[code]
actually yields:
[code]

It does look like it's an upstream issue with either `acorn` or the `acorn-jsx` plugin...

[2016-08-25 14:56] platinumazure commented on #6845
I still am having a hard time understanding how `_` counts as a declaration in this code. I feel like we have a fundamental bug in no-redeclare.

@michaelficarra Can you help me understand? In the code in [this comment](https://github.com/eslint/eslint/issues/6845#issuecomment-242414794), should those object pattern values (`_`) count as variable declarations in the first place, since they are val

[2016-08-25 15:05] ghengeveld commented on #6845
I think you're confusing my code for a regular object literal, while what I'm doing is a destructuring assignment, which is in fact a variable declaration, so no-redeclare is correct. See https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Assigning_to_new_variable_names

[2016-08-25 15:20] ghengeveld commented on #6845
As I was trying to provide an example of what the destructuring would be compiled to by Babel, I found that Babel will in fact not compile this code:

[code]

I can understand why Babel would disallow re-assigning a const, but I found that it also doesn't allow re-assingment when I use a `let`. However, `var` does work. Try this in [Babel's REPL](https://babeljs.io/repl/#?evaluate=true&lineWrap=fa

[2016-08-25 15:20] platinumazure commented on #6845
Ah, yes, you're correct. For some reason I thought it was the other way
around (variable name first, then object property name). Okay, I agree this
isn't a bug but an enhancement request. I could get behind the enhancement.

On Aug 25, 2016 10:06 AM, "Gert Hengeveld" <notifications@github.com> wrote:

[2016-08-25 15:23] ghengeveld commented on #6845
Because I'm also using the `no-var` rule, ESLint will error on the example provided in my previous comment. However, since neither `let` nor `const` is valid in this scenario, `no-var` should probably not be complaining in this particular situation...

[2016-08-25 15:35] nzakas commented on #6941
I'm a bit worried about this - trying to autofix across lines can be tricky given the current capabilities. For instance, what would happen here?

[code]

I like the idea, I just want to make sure it can be done safely.

[2016-08-25 15:39] nzakas commented on #6407
I'm 👍. More rules, more fun. :)

[2016-08-25 16:06] JakeSidSmith commented on #6852
Seems like this is the culprit: https://github.com/ternjs/acorn/blob/b899480692b6fb835458b4126165b820ccfa4fea/src/tokenize.js#L215

Removing the check for ES6 runs fine with the sample @kaicataldo posted above

[code]

Output

[code]

[2016-08-25 16:53] JakeSidSmith commented on #6852
So, inside acorn-jsx I've set `insideJSXTag`... and got it working nicely, but not sure how you could handle this purely in acorn.

[code]

And then in acorn

[code]

[2016-08-25 17:34] nzakas opened #6974 "Proposal for Parser Services"
**Problem**

JavaScript dialects like Flow and TypeScript often have additional utilities that can be used for various purposes (i.e., a type checker). Currently, there is no way to easily expose these utilities to rules, as they sometimes require access to the state information that created the AST (the TypeScript type checker is like this). This cuts off ESLint rules from useful utilities.

**Ba

[2016-08-25 18:08] jeffmo commented on #6974
I think this general approach is doable, but the first thing the comes to mind is the question of how to version these services over time (i.e. New services added, breaking changes, etc)? I guess this would just be covered in the version of the parser itself?

The only other thing that I think we've fallen short on over and over as we circle eslint integration is the act of enumerating what the ne

[2016-08-25 18:15] nzakas commented on #6974
Yes, I was thinking that it's the responsibility of the parser to deal with breaking changes (as it is exposing a new API). That way, plugins whose rules rely on parser services could specify the parser version that they are meant to work with.

Type checking for TypeScript is what spurred me to think about this recently. See https://github.com/eslint/typescript-eslint-parser/issues/61#issuecommen

[2016-08-25 18:17] nzakas commented on #6974
FWIW, I hacked up a prototype https://github.com/eslint/eslint/pull/6975. If anyone wants to try it out, it's on the `issue6974` branch of this repo, so you should be able to install it locally and play with it a bit.

[2016-08-25 18:18] kaicataldo commented on #6972
@xylosper Thanks for contributing! Wanted to point you to this link for some context with a previous discussion: https://github.com/eslint/eslint/issues/6139

The above issue might be why this is not getting a lot of discussion right now. Just wanted to make sure you knew we're listening, but we have the context of having discussed this before :)

[2016-08-25 18:31] corbinu opened #6976 "Error message not output when loading a plugin"
**What version of ESLint are you using?**
3.3.1
**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
I tried creating a plugin with my own config. I had an error in my plugin. However this simply displayed "ESLint couldn't find the plugin" couldn't find th

[2016-08-25 18:35] kaicataldo commented on #6962
@wyvernnot Want to make it clear that we appreciate the bug report - thanks for contributing!

I'm in agreement with the first two opinions voiced here - I don't see how we can account for all non-standard polyfills, and I think trying to do so sets a dangerous precedent.

[2016-08-25 18:38] mikesherov commented on #6941
Yeah, this seems like one that just needs really really clear edge case tests.

[2016-08-25 19:15] gyandeeps commented on #6941
@nzakas Based on the above example and current PR, it will get rid of the comment also. Output code is still valid. I will try to see what i can do about cases where comments are present.

[2016-08-25 19:25] jeffmo commented on #6974
I think this may not be relevant, but in the interest of writing it down for the record: Because Flow isn't a syntax-directed typechecker like TS, the flow JS parser doesn't come with the type system (and we don't store type info in the AST).

The reason why I think this is probably ok is because I can imagine a tiny wrapper around the Flow JS parser that just ties it together with something like

[2016-08-25 19:26] jeffmo commented on #6974
I think this may not be relevant, but in the interest of writing it down for the record: Because Flow isn't a syntax-directed typechecker like TS, the flow JS parser doesn't come with the type system (and we don't store type info in the AST).

The reason why I think this is probably ok is because I can imagine a tiny wrapper around the Flow JS parser that just ties it together with something like

[2016-08-25 19:29] gyandeeps commented on #6941
@nzakas I was able to cover your specific use case but I dont think we can safely solve all scenarios for comments.
Worst case: fix would get rid of the comment but it will always output valid code (based on my experimentation).

[2016-08-25 20:20] kaicataldo commented on #3490
Doesn't look like we've had any movement on this issue. Closing again.

[2016-08-25 20:20] #3490 closed

[2016-08-25 20:21] kaicataldo commented on #3698
@IanVS Doesn't look like there's been any movement on this in months. Is it time to close this?

[2016-08-25 20:23] kaicataldo commented on #5672
There hasn't been any movement on this issue for a while - time to close this?

[2016-08-25 20:23] kaicataldo commented on #5672
Whoops, didn't mean to close it yet!

[2016-08-25 20:24] kaicataldo commented on #5633
Closing this because we haven't moved forward with it in months.

[2016-08-25 20:24] #5633 closed

[2016-08-25 20:25] kaicataldo commented on #5621
Closing as there has been no movement on this issue in months.

[2016-08-25 20:25] #5621 closed

[2016-08-25 20:27] ilyavolodin commented on #6974
Sorry, I'm not familiar with type checker for TypeScript. Could you explain what would services do? Do they work on text? AST? What would be expected result of execution of such service?

[2016-08-25 20:27] kaicataldo commented on #3092
@eslint/eslint-team We should probably revisit this as it is part of the JSCS compatibility milestone

[2016-08-25 20:29] kaicataldo commented on #3229
@markelog Any progress on this? :)

[2016-08-25 20:29] kaicataldo commented on #4689
@eslint/eslint-team We should probably revisit this as it is part of the JSCS compatibility milestone

[2016-08-25 20:33] ilyavolodin commented on #6976
I'm not sure about output error message to all users, we specifically added pretty messages, because people couldn't figure out what caused an issue. But I do agree that we should output error message as part of the `--debug` log. :+1:

[2016-08-25 20:35] kaicataldo commented on #3493
Closing this as we haven't seen movement on it from either team members or the community in months.

See [this comment](https://github.com/eslint/eslint/issues/3493#issuecomment-221914713) for context.

[2016-08-25 20:35] #3493 closed

[2016-08-25 20:35] corbinu commented on #6976
@ilyavolodin Well what if it was simply a different pretty message if the error wasn't that the plugin couldn't be found. The whole issue here is that I couldn't figure out the issue because I was told the plugin couldn't be found when it actually couldn't be loaded which are two very different things.

[2016-08-25 20:35] ilyavolodin commented on #6962
I also agree. JavaScript is a very flexible language. Anything can be overwritten by the user at any given point. There's no way to predict and protect against such actions. Thank you for suggestions, but there seems to be a strong agreement between the members of the team, that this is not something we should try to protect against.

[2016-08-25 20:35] #6962 closed

[2016-08-25 20:38] kaicataldo commented on #4081
@mysticatea This has been open and unaccepted a really long time without any progress - do you think it's time to close the issue?

[2016-08-25 20:40] kaicataldo commented on #4076
Closing this because we haven't made any progress in months.

[2016-08-25 20:40] #4076 closed

[2016-08-25 20:41] kaicataldo commented on #5603
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 20:41] #5603 closed

[2016-08-25 20:43] kevinSuttle commented on #3782
This fixed Atom for me.

[2016-08-25 20:45] ilyavolodin commented on #6976
@corbinu We could probably do a different message, but I think this is meaningful only to plugin creators (very small subset of our users). I'm definitely in favor of adding it to debug log. Separate message is fine by me, as well, but I'm not 100% sure it's necessary.

[2016-08-25 20:46] kaicataldo commented on #5599
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 20:46] #5599 closed

[2016-08-25 20:52] nzakas commented on #6941
I dont think we can accept that worst-case scenario, comments are important. If there's a comment in there, and we can't keep it, we just should do the fix.

Also, what happens when the property value is a function? Does it still work? Or if there's a concise method? Or shorthand assignment? We really need a lot more tests to consider releasing this into the wild.

[2016-08-25 20:54] kaicataldo commented on #4696
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 20:54] #4696 closed

[2016-08-25 20:55] nzakas commented on #6525
I think we already normalize somewhere.

[2016-08-25 20:58] kaicataldo commented on #5073
@eslint/eslint-team There hasn't been any progress made on this issue in a while. Not sure if we should close because it looks like we might have distilled the indent issues into three fixes based on these two comments:

https://github.com/eslint/eslint/issues/5073#issuecomment-228839126
https://github.com/eslint/eslint/issues/5073#issuecomment-230079291

[2016-08-25 20:59] nzakas commented on #6974
@ilyavolodin I think all of those questions are answered in the proposal.

[2016-08-25 21:00] nzakas commented on #6974
@jeffmo yeah, that's what I was figuring for Flow.

[2016-08-25 21:00] kaicataldo commented on #5427
@elsint/eslint-team Looks like this still might be an issue - do we want to accept this or close it?

[2016-08-25 21:01] kaicataldo commented on #5520
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:01] #5520 closed

[2016-08-25 21:02] kaicataldo commented on #5540
@ilyavolodin @gyandeeps This has been open a long time without being accepted. Can we go ahead and close it?

[2016-08-25 21:03] kaicataldo commented on #5577
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:03] #5577 closed

[2016-08-25 21:03] kaicataldo commented on #5584
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:03] #5584 closed

[2016-08-25 21:09] platinumazure commented on #6976
:+1: I think having the original exception type and string couldn't hurt, in the message or definitely in the debug logs. The fact that the full exception info isn't in the debug logs is a travesty :cry:

[2016-08-25 21:10] platinumazure commented on #6525
@nzakas Now that you say that, I think you might be right-- I've seen it in RuleTester. What we need to make sure of is that the normalization happens before the rule is defined into the rules config object.

[2016-08-25 21:11] kaicataldo commented on #5958
@eslint/eslint-team Doesn't seem like we're really making any progress on this. I know it's accepted, but am wondering if we should close it?

[2016-08-25 21:14] kaicataldo commented on #5776
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:14] #5776 closed

[2016-08-25 21:15] kaicataldo commented on #5847
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:15] #5847 closed

[2016-08-25 21:18] nzakas commented on #6966
Your ordering is wrong. You have:

[code]

It needs to be:

[code]

You were creating your instance first, then setting the default config for all instances, so it was too late.

[2016-08-25 21:19] platinumazure opened #6977 "Core rule messages should use our template syntax and avoid concatenation"
Goal is to make sure all rule messages that need runtime data use the `{{ variable }}` format and the `data:` key, rather than string concatenation or ES6 template literals.

[2016-08-25 21:20] vitorbal commented on #5958
Looking back at my comment [here](https://github.com/eslint/eslint/issues/5958#issuecomment-222935057), do you think it would suffice to assume that inserting the newline *before* the comment is an acceptable fix (the first fixed example in that linked comment)?

Otherwise, I am still not sure how to determine that programmatically.

[2016-08-25 21:22] nzakas commented on #6947
This would have to be a new rule, if anything, as it's a very different use case than `no-warning-comments`. I'm not sure it meets the bar of "ESLint would be incomplete without it," though. http://eslint.org/docs/developer-guide/contributing/new-rules#accepting-a-rule

[2016-08-25 21:25] JamesHenry commented on #6974
Thanks a lot for putting this together @nzakas!

I think my hacky POC in that issue is a good starting point for evaluating how well this solution can accommodate the kind of rules people would want to create. Especially given how that rule came directly from something recently made possible in TSLint (thanks to @alexeagle).

I definitely think your approach here makes sense, however one thing whi

[2016-08-25 21:25] nzakas commented on #6916
No response and not enough information to evaluate, so closing.

[2016-08-25 21:25] #6916 closed

[2016-08-25 21:27] kaicataldo commented on #5958
@vitorbal That makes sense to me. I think we have to make an assumption one way or another and that seems like the style I see more often

i.e.
[code]

[2016-08-25 21:31] platinumazure commented on #6947
Switching to "feature request" tag.

I'm with @nzakas on inclusion in core.

@ypresto Since you're willing to write the rule yourself, this means your best bet is to create either a standalone custom rule or a plugin containing this rule (or, if you find a suitable plugin in the wild, adding this rule to that plugin). We are always happy to help in [our chatroom](https://gitter.im/eslint/eslint) i

[2016-08-25 21:33] platinumazure commented on #5958
Folks-- don't forget that we can always choose not to emit a fixer on a per-lint error basis if we don't think we can do it safely.

[2016-08-25 21:37] gyandeeps commented on #6941
I guess then it will be difficult to get the fix done. Can we just do the fix if their are no comments else dont do fix?

guys, feel free to suggest some cases so that i can include them in tests. Because i might miss a lot of them based on the variety.

[2016-08-25 21:52] kaicataldo commented on #5985
Closing this because we haven't made any progress in months. Thanks for contributing!

[2016-08-25 21:52] #5985 closed

[2016-08-25 21:56] markelog commented on #3229
Yeah, slowly but surely

[2016-08-25 22:11] jschaf commented on #6966
Ah, that's it!  Thank you for the help.

[2016-08-25 22:11] #6966 closed

[2016-08-25 22:27] jeffmo commented on #6974
@JamesHenry: Presumably there is a conversion from the TS AST -> ESTree happening somewhere in this util, so would it be possible to build the relation between the two nodes at that point and simply map between the two within the impl of the service APIs?

[2016-08-25 22:37] JamesHenry commented on #6974
Yes, exactly. That conversion is the role of the typescript-eslint-parser project.

As you can see in my comment on the issue that Nicholas linked (https://github.com/eslint/typescript-eslint-parser/issues/61#issuecomment-241580214) my initial hacky solution simply stored a reference to the original TSNode on the converted ESTreeNode under `___original`. Not pretty, but it was quick and it worked

[2016-08-25 22:47] MadLittleMods commented on #4076
@kaicataldo  Why not leave it open until progress happens?

[2016-08-25 23:01] mysticatea commented on #4081
Hmm. `indent` rule is complicated. Each people has variety preferences.

In my opinion, `indent` rule should have the option to the 2nd line (and later) of expression statements.
My favorite is that the 2nd line (and later) of expression statements has 1 indentation. This issue is an example for that. If there is the proper issue, I don't mind closing this issue.

FWIW: Now I'm investigating token

[2016-08-25 23:35] msartintarm commented on #1238
I agree that global ESlint + local 'plugins' makes sense, the current 'global + global' implementation does not. There is a simple use case which applies to the project I'm working on. Let's say we are using a package from NPM like our own package, or eslint-config-airbnb.

the-project/.eslintrc.json:
`{ "extends": "eslint-config-project" }`

the-project/node_modules/eslint-config-project/index.js

[2016-08-25 23:37] mysticatea commented on #6941
Ah, there is the discussion about comments. I wrote an implement idea to the wip PR.

[2016-08-25 23:40] ilyavolodin commented on #6974
@nzakas You did answer those questions in the original post, but the answer was basically "anything goes". My concern is that if we introduce services in a completely free-form, we will start seeing parser-specific rules. I'm not sure that's a good idea.

[2016-08-25 23:52] ilyavolodin commented on #4076
@MadLittleMods It's our policy to close issues that haven't made any progress after 21 days. We had at some point over 300 issues open, and it's really hard to navigate them and fine things you want to work on. So this policy was created to make it easier for people to actually commit code and triage issues.

[2016-08-26 00:01] jeffmo commented on #6974
@ilyavolodin: I actually think that's a good way to start. Let's both systems explore ideas without holding each other back.

If a good cross-compatible API surfaces over time, we can converge. Semver helps us signal breaking changes for things like this.

[2016-08-26 00:06] kaicataldo commented on #4081
@mysticatea That's very cool! I'll leave it up to you whether we close it or not - I'm not up on the latest with what's been going on with the `indent` rule. But I do think it would be nice if we could group all the `indent` rule issues into one issue/milestone.

My motivation in closing older issues is to make it easier to know what we should and shouldn't be working on :)

[2016-08-26 00:11] kaicataldo commented on #6028
@eslint/eslint-team Other thoughts on this? This hasn't seen much activity, but also didn't get much discussion.

[2016-08-26 00:14] kaicataldo commented on #6031
Closing this because we haven't made progress in more than 21 days. Thanks for contributing!

[2016-08-26 00:14] #6031 closed

[2016-08-26 00:24] kaicataldo commented on #6054
@eslint/eslint-team Anyone want to champion this? I would but I have two other rules on my plate at the moment and don't want to commit to more than I can handle.

@mysticatea I agree with @nzakas on the name. Curious why you feel like array elements with rest elements should be allowed, since they weren't in the original JSCS rule.

[2016-08-26 00:28] mysticatea opened #6978 "Rule Enhancement Proposal: autofix for prefer-template"
`prefer-template` is warning concatenations of between strings and expressions.
If the rule supports autofix, it's very helpful to us since we need many steps to fix the code.

1. If there is \` or `${` in the string, escapes it:
    - \` → \\\`
    - `${` → `\${`
2. Replaces the concatenation by a template curly:
    - `" + expression + "` → `${expression}`
    - `" + expression` → `${expression}

[2016-08-26 00:32] kaicataldo commented on #6195
@jsnajdr Sounds like there was support for this initially. Are you still willing to work on this?

[2016-08-26 00:35] kaicataldo commented on #6196
@eslint/eslint-team Do we want to support this change? It's been a while since the last comment, but seems like we should at least discuss

[2016-08-26 00:39] platinumazure commented on #6978
A fixer for this rule will have a similar problem to comma-style in that intervening comments make fixing very difficult. Personally I would suggest just not fixing those cases.

[2016-08-26 00:42] kaicataldo commented on #6287
@ljharb Thanks for looking into this! Are you still working on this?

[2016-08-26 00:47] mysticatea commented on #6978
@platinumazure I think that keeping comments is not difficult (https://github.com/eslint/eslint/pull/6957#issuecomment-242562708) :smile:

[2016-08-26 00:58] ilyavolodin commented on #6974
@jeffmo I'm thinking a bit more broadly here. When people will start creating rules that only work if you are using Esprima vs. rules that only work when using Acorn I'm not sure that would be a great situation for end users. If we are talking purely about TypeScript vs. Flow - I'm perfectly fine with that.

[2016-08-26 00:59] ilyavolodin commented on #4081
@kaicataldo That was my task (grouping all indent rules and triaging all of them). Unfortunately I have been unable to complete it yet.

[2016-08-26 02:06] platinumazure commented on #6977
Note; Discussion came up in chat about whether we should consider just using ES6 templates instead. At this point I just want to get all the rules into our "current"/"old" style before we consider a huge change like that (which would be breaking unless we supported the current form, anyway).

[2016-08-26 02:20] kaicataldo opened #6979 "Better management of issues"
I've been going through a lot of our inactive unaccepted issues and closing them/checking in. While doing so, I had some ideas that I wanted to discuss and see what others thought.

### Things we're doing well
First off, I want to say that I actually think we do quite a good job of managing issues relative to the number that come in and the bandwidth we have as a team. Many other popular projects

[2016-08-26 02:54] kaicataldo commented on #6978
:+1:

[2016-08-26 02:56] kaicataldo commented on #6977
I like the idea of doing this task as a prerequisite to https://github.com/eslint/eslint/issues/6407#issuecomment-241223919. We can use ES6 template literals everywhere else.

[2016-08-26 02:56] MadLittleMods commented on #4076
@ilyavolodin Can I create a new issue for this or how does this get brought up again?

https://tonicdev.com/57bfad8b71dba61400aecf05/57bfad8b71dba61400aecf06/branches/master

[2016-08-26 03:32] not-an-aardvark opened #6980 "Add a --fix option for no-tabs"
I'm using Node v6.4.0 and ESLint v3.3.1.

I think it would be useful to have an autofix option for the `no-tabs` rule. The fixer would simply delete any tab characters that it finds, inserting a space if necessary to avoid modifying the AST. (For example, `var\tfoo` would be replaced with `var foo`, since replacing it with `varfoo` would change the semantics of the program)

This would also provid

[2016-08-26 03:53] mysticatea commented on #6054
I thought the purpose of the JSCS rule. There is a hint in the code example. I thought the purpose of this rule is to disallow an array as multi-value returning because:

- Object destructuring would clarify the meaning of returned values more than array destructuring.
- Arrays should be used for items of an unspecified number.

So, this rule disallows array destructuring of **fixed size**, which

[2016-08-26 04:41] platinumazure commented on #6977
Working on this. I might just do the ES6 templates everywhere else in
lib/rules so that someone can use prefer-template to help make sure I
didn't miss any.

On Aug 25, 2016 9:56 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2016-08-26 05:00] kaicataldo commented on #6977
Great. I can work on the converting to template literals in other directories besides `lib/rules`.

[2016-08-26 05:03] yeright commented on #6973
Thanks for the rapid feedback guys, closing this.  I refactored to remove the outer variable.
Must have missed the line in the docs that mentions an assignment not being a 'use'.

[2016-08-26 05:03] #6973 closed

[2016-08-26 06:49] ljharb commented on #6287
I've still got a branch in-progress, but I fear it's beyond my skill atm. I can keep giving it a shot tho!

[2016-08-26 08:37] viktorlarsson commented on #3832
Had the same issue as @grawlinson and switched to tabType hard and now it works. There is a trick in Atom if you wanna convert spaces to tabs in your current file. Ctrl+shift+p and search for Whitespace, then select Convert spaces to tabs.

[2016-08-26 10:00] ypresto commented on #6947
It seems almost all items in [Code Conventions](http://eslint.org/docs/developer-guide/code-conventions) have matching rules.
It looks intended to cover all items in conventions by built-in rules, isn't it?

Examples:

- File Format: (no matching rule)
- Indentation: `indent`
- Primitive Literals:
  - Double quotes: `quotes`
  - No wrapping (`"hello \` + linebreak + `world"`): `no-multi-str`
  - D

[2016-08-26 10:12] ypresto commented on #6947
Note that Airbnb style guide has [similar rules](https://github.com/airbnb/javascript#comments--actionitems) for TODO and FIXME.

[2016-08-26 11:03] mikesherov commented on #6054
I agree with @mysticatea here. The rest example written in ES5 is:

[code]

Which is to say, it's a perfectly valid array assignment then manipulation in a single step, where the elements are presumably of the same type. The invalid example in es5 is:

[code]

Which is using an array as a poor man's object to store values of presumably different type.

This lint exists essentially to follow https:

[2016-08-26 13:24] alberto commented on #6974
Do parsers really need to provide a different method instead of us checking for the presence of the `services` property?

[2016-08-26 13:48] ilyavolodin commented on #4076
@MadLittleMods You can open another issue. We are currently focusing on JSCS compatibility milestone, so there's still a good chance that this issue will go unaddressed for another 21 days.

[2016-08-26 14:26] platinumazure opened #6982 "Does the "Architecture" documentation need some tweaks?"
Here's the intro to the [architecture document](http://eslint.org/docs/developer-guide/architecture) as of the date this issue was created:

This is inconsistent with later section headers, which are:
* The `cli` object
* The `CLIEngine` object
* The `eslint` object

I'm wondering if the intro should include CLIEngine, and/or if the cli object should be removed from either the intro or the later s

[2016-08-26 14:28] platinumazure commented on #6974
Not sure if @alberto is referencing a return value object or an API on the parser itself-- I'll ask about the latter: Why not just allow parsers to export an `eslintServices` (or `lintServices`) object as well as `parse` and look for that?

[2016-08-26 14:34] ExplodingCabbage commented on #3493
I don't understand the closure. Is this a statement that fixes to the bug are now unwelcome? If not, why close the issue?

[2016-08-26 14:41] ilyavolodin commented on #3493
@ExplodingCabbage Our policy specifies that issues that haven't been accepted in 21 days should be closed. We had at one point over 300 issues open, and what we learned is that issues that haven't been accepted within the first couple of weeks, tend to stay in that state basically forever, because with so many open issues, nobody has time to go through them all to find something they want to work

[2016-08-26 15:22] kaicataldo commented on #6852
Please see https://github.com/RReverser/acorn-jsx/issues/40.

[2016-08-26 16:30] ilyavolodin commented on #6944
👍  I'll champion this.

[2016-08-26 16:34] platinumazure commented on #6938
Okay, let's get this moving. I proposed adding a "none" option to `eol-last`. I will champion. Can we get three endorsements?

[2016-08-26 16:36] platinumazure commented on #5805
@ljharb This is now accepted. Were you thinking of writing a PR?

[2016-08-26 17:03] ljharb commented on #5805
If nobody gets to it first, definitely! Just need to find the time :-)

[2016-08-26 17:09] alberto commented on #6617
`eslint-config-airbnb` and `eslint-config-xo` are updated to 3.0.

`eslint-config-google` is not. Relevant issue: https://github.com/google/eslint-config-google/issues/20

Even if they updated, this will happen again when we release v4, so we should try to come up with a plan for that.

[2016-08-26 17:12] ghost opened #6983 "Error: Cannot find module '../lib/cli'"
I am using eslint v3.3.1 with Sublime text 3 to develop my react web app. Currently I encounter an error say :
[code]
And when I remove and re-install node_modules, this error seems to be solved, but next time I launch my code editor this error occurs again, does anyone has this problem?

Here's my .eslintrc :
[code]

[2016-08-26 17:17] alberto commented on #6913
Closing for now.

[2016-08-26 17:17] #6913 closed

[2016-08-26 17:22] alberto commented on #6299
ping @platinumazure

[2016-08-26 17:24] alberto commented on #6887
Closing as this seems out of scope.

[2016-08-26 17:24] #6887 closed

[2016-08-26 17:25] #5837 closed

[2016-08-26 17:25] kkomelin opened #6984 "False-positive on date.setDate() in a loop"
**What version of ESLint are you using?**

[code]

**What parser (default, Babel-ESLint, etc.) are you using?**

"babel-eslint": "^6.1.2",

**Please show your full configuration:**

I am using generated vue-webpack project https://github.com/vuejs-templates/webpack

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

It should

[2016-08-26 17:32] alberto commented on #6741
ping @mgol

[2016-08-26 17:34] #6944 closed

[2016-08-26 17:53] pmcelhaney commented on #6984
I was able to get this to reproduce in the [online demo](http://eslint.org/demo/), but had to declare the variable first.

[code]

Since we can't know whether calling a function attached to the variable will change its value, I don't think the above case should trigger the error.

Here's another case where we can't know whether the value of `start` is changed.

[code]

[2016-08-26 17:54] ilyavolodin commented on #6984
@mysticatea Could you provide feedback as to how we might be able to handle those cases?

[2016-08-26 17:57] azhang496 commented on #6691
sorry for the delay - @btmills is it necessary to change the schema? seems like this can be fixed just by changing this https://github.com/eslint/eslint/blob/67c3cc2fa655e9e92e01d7a88e9a9d60cd4a4ce9/lib/rules/key-spacing.js#L139 to `mode: toOptions.multiline.align.mode`

[2016-08-26 18:17] alberto commented on #6623
Should we do anything here or close this?

[2016-08-26 18:18] gyandeeps commented on #6623
I am going to say close because i haven't seen any issue which require this change/effort.

[2016-08-26 18:19] #6623 closed

[2016-08-26 18:27] alberto commented on #6903
Closing this as out of scope.

[2016-08-26 18:27] #6903 closed

[2016-08-26 18:37] kaicataldo commented on #6938
What about `"always"` and `"never"` (defaulting to `"always"`) for consistency with our other rules?

[2016-08-26 18:46] alberto commented on #6814
@ljharb actually there is an issue with plugins compatibility.

[2016-08-26 18:48] nzakas commented on #6617
I think we should encourage shareable configs to specify only a minimum compatible version and not a maximum (like `>=2`). In general, we try really hard not to break shareable configs and these ones are covered in our regression build.

[2016-08-26 18:52] nzakas commented on #6617
Looks like the Google config only has a minimum version: https://github.com/google/eslint-config-google/blob/master/package.json#L47

Can anyone confirm if this is still a problem with that config?

[2016-08-26 18:52] alberto commented on #6617
I like that 👍

[2016-08-26 18:56] platinumazure commented on #6938
@kaicataldo In this case, because there's actually 2 modes of enforcement: "unix" or "windows". Either of those is synonymous with "always" and furthermore defines what the linebreaks should specifically look like. So in this case, "none" feels like a better fit to me, although I could live with "never".

But I don't think switching to "always" would help, unless we reconfigured the schema:

[code

[2016-08-26 18:57] Alaneor commented on #6980
The potential implementation of this autofix could also inspect the `indent` rule's setting for how wide a tab character should be, then replacing `\t` with as many spaces. It might improve performance a bit.

I like this, tabs are a pain to fix across multiple files.

[2016-08-26 19:01] nzakas commented on #6974
@alberto I'm trying to avoid adding custom properties to the AST, as that can have negative effects such as confusing the traversal algorithm and potentially clashing with future AST properties. The `delete` operator can remove the extra properties in theory, but doing so incurs a perf hit because it changes the shape of the object. The only clean way to do this is to keep additional data outside

[2016-08-26 19:01] alberto commented on #6617
@nzakas Sorry, you are right, I didn't notice the Google range syntax. I verified it works with 3.4.0.

[2016-08-26 19:05] kaicataldo commented on #6938
Makes sense - I'm fine with what you proposed. I think you're right that it does seem to add unnecessary complexity.

[2016-08-26 19:06] platinumazure commented on #6980
@Alaneor Unfortunately, rules are designed not to be able to know anything about other rules in ESLint, so looking at `indent` configuration is a non-starter. (Consider that users might not even use `indent`, so there wouldn't be a configuration to inspect.) Luckily, for those who do care, multipass auto-fix allows the `indent` issues to be fixed on a later pass.

[2016-08-26 19:07] platinumazure commented on #6938
@kaicataldo Thanks-- just for my understanding, you're okay with unix/windows/none, or do you want unix/windows/never?

[2016-08-26 19:11] ljharb commented on #6814
@alberto sure, the issue is that plugins would have to release more aggressively.

[2016-08-26 19:16] alberto commented on #6974
@nzakas I was proposing to just return the object you mentioned as part of `parse` instead of creating a new method, and check for the presence of `services` or whatever we add in the future. Maybe I am missing why that would be problematic.

[2016-08-26 19:39] kaicataldo commented on #6938
I think "none" makes more sense in that context, and yeah, :+1: for me

[2016-08-26 19:43] alberto commented on #6706
Thanks for your interest in improving eslint @all3fox @jzaefferer
Unfortunately, it looks like this issue didn't gain enough support from the team, so I'm closing it.

[2016-08-26 19:43] #6706 closed

[2016-08-26 19:54] alberto commented on #6722
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-26 19:54] #6722 closed

[2016-08-26 19:55] alberto commented on #6693
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-26 19:55] #6693 closed

[2016-08-26 20:08] alberto commented on #6424
@eslint/eslint-team last call for a champion or else we should close it

[2016-08-26 20:10] alberto commented on #6460
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-26 20:10] #6460 closed

[2016-08-26 20:14] alberto commented on #6619
@mysticatea @btmills are you championing this? It doesn't seem critical for me, to be in core.

[2016-08-26 20:17] alberto commented on #5989
@eslint/eslint-team does anyone think this should be in core and want to champion it?

[2016-08-26 20:18] alberto commented on #2419
Thanks for your interest in improving eslint. Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't inte

[2016-08-26 20:18] #2419 closed

[2016-08-26 20:26] alberto commented on #6777
Thanks for your interest in improving eslint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't interes

[2016-08-26 20:26] #6777 closed

[2016-08-26 20:27] platinumazure commented on #6424
I'll champion.

[2016-08-26 20:28] alberto commented on #6697
Thanks for your interest in improving eslint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't interes

[2016-08-26 20:28] #6697 closed

[2016-08-26 20:29] platinumazure commented on #5989
I feel like this is the sort of thing that might have eventually found its way into JSCS, but I don't yet consider it critical for core.

[2016-08-26 20:48] alberto commented on #6867
I think this fits better as a custom rule.

[2016-08-26 20:50] alberto commented on #6855
Agree, closing

[2016-08-26 20:50] #6855 closed

[2016-08-26 21:19] alberto commented on #5672
Thanks for your interest in improving eslint. Unfortunately, it looks like this issue didn't get enough support from the team and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never do it, and as such, we close those issues. This doesn't mean the idea isn't interes

[2016-08-26 21:19] #5672 closed

[2016-08-26 21:27] alberto commented on #2819
Closing due to lack of activity

[2016-08-26 21:27] #2819 closed

[2016-08-26 21:50] kaicataldo commented on #6983
Hey, could you let us know where you're getting this output from? Is that from the command line or some sort of log in ST3?

[2016-08-26 23:01] alberto opened #6986 "Use eslint-config-airbnb-base for project initialization"
When running `eslint --init` one of the options is to use airbnb style as a base. If chosen, we install [eslint-config-airbnb](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb) which requires `eslint-plugin-react` among others.

I think we should install [eslint-config-airbnb-base](https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb-base/pac

[2016-08-26 23:15] Alaneor commented on #6980
I know this is not marked as `accepted` yet, but I decided to give it a go anyway. See #6987.

[2016-08-27 00:33] btmills commented on #6691
@azhang496 I'm on my phone, so I can't check to be sure, but if the scheme is left unchanged, won't the case 2 config (setting a mode under align) still throw a validation error?

[2016-08-27 00:39] btmills commented on #6619
As long as we don't have a conflict here with padded-blocks, I think @lukeapage's plugin has this covered and we can close this! Any objections?

[2016-08-27 00:45] platinumazure commented on #6986
Seems reasonable to me. I think @ljharb made a similar recommendation in the JSCS migration doc issue.

[2016-08-27 00:47] platinumazure commented on #6980
I'm :+1: to having autofixing here.

[2016-08-27 00:56] azhang496 commented on #6691
@btmills i can do both! i didn't realize the goal was to fix both cases, since just fixing case 1 would give the option to have different modes for `multiline` and `align`

[2016-08-27 02:10] platinumazure opened #6988 "Rule message substitution will get confused with triple braces"
Currently, it is impossible to perform rule substitution for no-regex-spaces because the message displays a number in curly braces (representing a regex quantifier).

The correct message: `"Spaces are hard to count. Use {{{count}}}."`

However, the regex for rule message substitution looks for `\{\{\s*(.+?)\s*\}\}`, which will result in the substitution code looking for a `"{count}"` key.

I'd lik

[2016-08-27 02:15] platinumazure commented on #6977
PR up at #6989.

[2016-08-27 02:19] gyandeeps commented on #6977
Just curious, why are we just not going directly to template strings? (sorry if I missed the discussion)

[2016-08-27 02:23] platinumazure commented on #6977
@gyandeeps At this point, for no real reason besides following our own guidelines for how to write rules.

There's also issue #6740-- one benefit I could see from that issue is being able to show possible rule messages (with format placeholder) in CLI docs. That said, if there is a way to take a template string and render it as a string without interpolation, I wouldn't be opposed to using that fo

[2016-08-27 02:39] jchristin opened #6990 "Indent rule issue regarding object in multiline function parameters"
**What version of ESLint are you using?**
3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
I linted the following code:

[code]

**What did you expect to happen?**
I expected to not have any lint errors.

**What actually happened? Please includ

[2016-08-27 03:30] kaicataldo commented on #6542
@mysticatea I started working on this but then got busy - if you're interested you should definitely feel free to work on it :)

[2016-08-27 03:31] kaicataldo commented on #6542
My first attempt is here, though it seems like it's not actually going to do the job: https://github.com/ternjs/acorn/pull/433

[2016-08-27 03:37] WellyShen commented on #6983
@kaicatldo This is from ST3 debug log

[2016-08-27 03:54] mysticatea commented on #6983
This is reproduced outside of Dropbox?

[2016-08-27 04:20] WellyShen commented on #6983
@mysticatea Yes, I have tried to move it outside of Dropbox and the error still occurs.

[2016-08-27 04:20] mysticatea commented on #6977
I prefer #6740 than ES templates because it's easier to support i18n 😇

[2016-08-27 04:28] mysticatea commented on #6983
Ah, sorry.
My intention is "could you confirm that Dropbox sync behavior doesn't break installed eslint files?".
I don't think eslint throws that error before someone breaks the code of eslint.

[2016-08-27 05:08] WellyShen commented on #6983
Hi @mysticatea All of the files in my local dropbox folder, I don't why those files will be break?

[2016-08-27 05:47] ljharb commented on #6986
Yes, please do this - that much more closely will match developer expectations.

Please note, the command in step 1 [here](https://github.com/airbnb/javascript/tree/master/packages/eslint-config-airbnb-base#eslint-config-airbnb-base-1) should be used, instead of hardcoding anything, to dynamically install the correct peer dependencies at the right versions.

[2016-08-27 06:54] mysticatea commented on #6983
I'm not sure why those files are broken, too.
It's the reason I asked: "Is this reproduced outside of Dropbox?".

If it's reproduced outside of Dropbox, I don't have other idea. :/

[2016-08-27 06:56] mysticatea commented on #6980
:+1:

[2016-08-27 07:00] mysticatea commented on #6980
Oops, :+1: except inside of literals. (I have commented in @Alaneor 's PR)

If it removes tabs in strings or regexps or templates, it changes the meaning of the code.

[2016-08-27 07:09] mysticatea commented on #6984
`no-unmodified-loop-condition` cannot detect implicit type conversion.

[code]

In this case, the variables `start` and `end` are not changed. Those variables have the same instances in the loop. Those are not modified. But `start <= end` triggers implicit type conversion in this case. It's same as `start.valueOf() <= end.valueOf()`. Then, the result of the implicit type conversion is changed in t

[2016-08-27 07:12] mysticatea commented on #6984
This is same as #5738.

[2016-08-27 11:54] darkred opened #6993 "Indent rule is based on the indentation of the first line of code"
**What version of ESLint are you using?**
ESlint 3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
**Please show your full configuration:**
`/*eslint indent: ["warn", "tab"]*/`

**What did you do? Please include the actual source code causing the issue.**
Consider this simple  code:
[code]
**What did you expect to happen?**
IMHO, unless there's a special option in the `indent` ru

[2016-08-27 14:42] ilyavolodin commented on #6984
Should we create an option that would consider call to any functional property on objects as "modified"?

[2016-08-27 14:44] platinumazure commented on #6984
Some functions are getters, though, and this is somewhat a corner case since it only happens when there are implicit conversions...

I'd prefer something like an array of known setter functions. So if a loop condition variable is the object of a MemberExpression, where the property is a specified setter function, and all of that is the callee of a CallExpression, then we assume the variable is mod

[2016-08-27 15:38] gyandeeps commented on #6993
related/duplicate https://github.com/eslint/eslint/issues/3737

[2016-08-27 16:20] platinumazure commented on #6993
Closing as duplicate, please follow the linked issue. Thanks!

[2016-08-27 16:20] #6993 closed

[2016-08-27 23:45] kaicataldo commented on #6983
I actually found a reproduction case for this (totally coincidentally, while working on a personal project). I get the exact same error when I copy a project directory (including its node_modules) and try to run the local ESLint installation from the copied directory. `rm -rf`ing node_modules and `npm i` again in the copied directory fixes it.

Sounds like maybe something Dropbox is doing is causi

[2016-08-28 01:38] not-an-aardvark opened #6994 "Add a --fix option for new-parens"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `new-parens` rule. The fixer would simply add `()` to all places where the rule reports an error.

[code]

I would be willing to add this if the issue is accepted.

[2016-08-28 01:42] platinumazure commented on #6994
Thanks for the issue!

This seems reasonable to me. I'll champion this enhancement.

[2016-08-28 02:10] not-an-aardvark opened #6995 "Add a --fix option for no-useless-constructor"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `no-useless-constructor` rule. By [definition](http://eslint.org/docs/rules/no-useless-constructor#rule-details), all constructors reported by this rule can be safely removed without changing how the class works, so the fixer would just remove them.

[code]

I would be willing to add this if the issue is

[2016-08-28 02:35] not-an-aardvark opened #6996 "Add a --fix option for quote-props"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `quote-props` rule.

* If a property is reported because quotes are present and unnecessary, the fixer will remove the quotes.
* If a property is reported because quotes are missing but should be present, the fixer will add quotes. It should probably add double quotes by default (for consistency with the

[2016-08-28 03:22] mysticatea commented on #6994
👍

And I'd like to suggest one more case.

- `new (Foo)` → `new (Foo)()` (it will add parentheses to outside of parentheses which enclose callee.)

[2016-08-28 03:31] not-an-aardvark commented on #6994
@mysticatea: I agree with that, but it seems like `new-parens` does not currently report `new (Foo)` as an issue. I suppose that's a separate bug.

[2016-08-28 04:06] platinumazure commented on #6995
Personally I'm not sure about this one- I could see myself writing a placeholder constructor, intending to fill it in later, only for the linter to wipe it out. Could be a frustrating user experience.

Let's see what the rest of the team thinks.

[2016-08-28 04:08] platinumazure commented on #6996
I think I would prefer not to autofix numeric properties, just because it could confuse users. I'm willing to :+1: endorse either way.

[2016-08-28 04:14] WellyShen commented on #6983
@kaicataldo Yes, I am doing the same thing, I move my project out of my Dropbox folder. And reinstall the node_modules. Now I am observe if the error will happen or not.

[2016-08-28 04:43] mysticatea commented on #6995
Sounds good to me.
If a developer wants to write empty constructors, they will disable this rule.

...But if an empty constructor has (JSDoc) comment, I think it should not remove the constructor automatically. (maybe it should not warn such constructors?)

[2016-08-28 04:50] mysticatea commented on #6994
Oh, it's a bug!

Currently, `new-parens` rule seems to check whether there are 2 or more parentheses in a `NewExpression` node. It does not check whether the parentheses is for arguments or not.

I will open an issue.

[2016-08-28 05:02] mysticatea commented on #6996
:+1:
The option i. of `consistent` sounds good to me.

Also, the current behavior of `quote-props` rule seems to report the correct name about numeric names.

![image](https://cloud.githubusercontent.com/assets/1937871/18031681/7138825c-6d27-11e6-9cc1-6f9331468d06.png)

So I think the rule should modify the numeric names to quoted names automatically. If a developer wants to not warn the numeric n

[2016-08-28 05:09] mysticatea opened #6997 "new-parens rule has false negative"
**What version of ESLint are you using?**

- 3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

- default

**Please show your full configuration:**

- nothing

**What did you do? Please include the actual source code causing the issue.**

    $ echo "new (Foo)" | eslint --stdin --rule new-parens:error --no-eslintrc

**What did you expect to happen?**

[code]

**What actually happ

[2016-08-28 08:19] mysticatea commented on #6984
My suggestion is "to not use implicit type conversions" or "to disable the rule" here.

For examples:

- `while (start.getTime() <= end.getTime()) {`
- `while (start <= end) {  //eslint-disable-line no-unmodified-loop-condition`

[2016-08-28 08:26] mysticatea commented on #6542
I guess it's going to conflict with ES2017's implementations, so I will do it if it's remained after I have done implementing ES2017.

[2016-08-28 08:47] monolithed commented on #6619
Why do you thinks so? switch-case-specific rules are a basic functionality and it's strange to see these rules in any third party plugins.

[2016-08-28 08:56] mysticatea commented on #6964
I got a fact that HTML comments trigger a syntax error if it's using JSX option.
I reopen this issue.

[2016-08-28 09:29] mysticatea commented on #6964
I opened the issue: https://github.com/RReverser/acorn-jsx/issues/41

[2016-08-28 12:20] julesmoretti opened #7000 "indent: [2, "tab"] - does not pick up single space"
**What version are you using?**
"gulp-eslint": "^3.0.1",

**What did you do?**
**What happened?**
I tried to have only tabbed indentation but at the start of a function when I add 1 space it does not error out like so:

[code]

Recap:
[code]

The first space does not get returned as an error. This is my config file:

[code]

**What did you expect to happen?**

I expected Eslit to return an error d

[2016-08-28 16:13] leewaygroups opened #7001 "No-redeclare error: Eslint flag local variables with same name but in different scopes as re-declared."
**What version of ESLint are you using?**
0.24.1

**What parser (default, Babel-ESLint, etc.) are you using?**
gulp-eslint

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
No error should be flagged.

**What actually happened? Please include the actual, raw output from ESLint.**

[2016-08-28 16:43] azhang496 commented on #6691
@btmills made a PR if you'd like to check it out

[2016-08-28 17:38] azhang496 commented on #5344
i can take this on if @hzoo isn't working on it!

how do i go about writing tests? i haven't made a core contribution yet so i'm not sure how to get started

[2016-08-28 18:15] ilyavolodin commented on #7001
JavaScript is a function scoped language (with exception of `let` and `const`). So this rule is behaving correctly and notifies you that hoisted variable is being re-declared.

[2016-08-28 18:18] ilyavolodin commented on #5344
@azhang496 Unit tests are located here: https://github.com/eslint/eslint/blob/master/tests/lib/eslint.js You will probably need to create fake parser through Sinon and verify that filename is passed into parse method.

[2016-08-28 20:14] hzoo commented on #5344
@azhang496 If you'd like to, go ahead!

[2016-08-28 21:19] not-an-aardvark opened #7002 "Add a --fix option for prefer-arrow-callback"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `prefer-arrow-callback` rule. The fixer would attempt to convert regular callback functions to arrow functions.

* If the function does not use `this`, `super`, `arguments`, or `new.target`, and it is not explicitly bound, it can be replaced naively:

[code]

* If the function is explicitly bound with `.

[2016-08-28 21:46] platinumazure commented on #7002
I can see how this would be useful, but this would be a massive fix (in terms of characters of source code affected per fix). However, the fix plan seems pretty sensible. I'll endorse (:+1:).

[2016-08-28 21:51] #6617 closed

[2016-08-28 22:04] not-an-aardvark commented on #7002
Note that this is only a massive fix if `.bind(this)` is used; otherwise, the fix would just replace `function (a, b, c)` with `(a, b, c) =>` and leave the rest of the function untouched.

[2016-08-28 23:41] platinumazure commented on #7000
There's a known issue around the first line of a file defining the base indent for the rest.

Does your issue also reproduce if the space line is not the first line of code in the file?

[code]

[2016-08-28 23:48] mysticatea commented on #7002
:+1:

[2016-08-28 23:53] platinumazure commented on #6299
Very sorry for losing track of this.

Actual problems (in my view):
* accepted and question are similar shades of blue (but not the same), also about the same length, so hard to distinguish
* invalid and roadmap are very close to same color, have opposite meanings, and are about the same length
* beginner and evaluating are the same color (cross purposes, and beginner should be easy to distinguish

[2016-08-29 00:04] platinumazure commented on #6938
@kdex I've changed the title of the issue to reflect where the discussion seems to be going-- hope that's okay. Thanks!

[2016-08-29 00:36] ilyavolodin commented on #7002
:+1:

[2016-08-29 00:40] ilyavolodin commented on #6299
One note. We have no issues marked as "invalid", I think we should just remove that, as well as a few other tags that nobody ever uses ("duplicate", "needs prototype", "priority", etc.)
In general, label colors don't really bother me. I'm not opposed to changing them, but I also don't see a huge need either.

[2016-08-29 00:48] kdex commented on #6938
@platinumazure Ah, good point. Thank you!

[2016-08-29 01:39] hadijaveed opened #7003 "First line is always an error after upgrading eslint to 3.4.0"
Error : Rule 'space-after-keywords' are removed and replaced by keyword spacing.

this is my eslintrc.json

[code]

**What version of ESLint are you using?**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

**What actually happen

[2016-08-29 01:49] kaicataldo commented on #7003
Hey @hadijaveed - as the error message says, [space-after-keywords](http://eslint.org/docs/rules/space-after-keywords) was removed in ESLint v2.0 and replaced with [keyword-spacing](http://eslint.org/docs/rules/keyword-spacing).

In the future, if you wouldn't mind filling out the questions, they help us out a lot. Thanks!

[2016-08-29 04:50] lukeapage opened #7005 "Docs: class-methods-use-this and "ECMAScript 6" section"
The new "class-methods-use-this" is under best practices and not "ECMAScript 6" in the docs, which seems inconsistent.

But I've found it strange you even separate the "ECMAScript 6" rules. Will you have a section for 2016 and 2017? You might consider moving all the rules under the various "best practices" "stylistic" etc. sections.

[2016-08-29 04:56] platinumazure commented on #7005
I agree, but we'll see what the rest of the team thinks.

Personally I'd love to see a primary category (possible errors, best practices, style) and then have "tags" for things like ES2015, ES2016, variables, Node-specific which could be applied on rules in all categories.

[2016-08-29 08:01] vitorbal commented on #6851
@eslint/eslint-team any thoughts on this one?

[2016-08-29 08:37] mysticatea commented on #7005
Actually, some ES6 rules are on outside of `ECMAScript 6` section.

- `no-dupe-keys` (until ES5, duplicated property names are syntax error)
- `no-template-curly-in-string`
- `class-methods-use-this`
- `no-case-declarations`
- `no-empty-pattern`

I also would love the "tags" idea.

[2016-08-29 10:06] mgol opened #7006 "Alias the es6 env to es2015"
**The version of ESLint you are using.**
3.4.0

**The problem you want to solve.**
ESLint 3.4.0 introduced new preferred numbers for the `ecmaVersion` property, e.g. 2015 instead od 6. The change is not reflected in the `es6` environment name. My current example config is now inconsistent:
[code]

**Your take on the correct solution to problem.**
An alias env called `es2015` should be created and

[2016-08-29 11:49] BloodyStupidViktor opened #7007 "Self not detected as not defined for node env"
Self not detected as not defined, I guess similar to issue #2151.
I only have the node environment enabled. When I remove node from env, self is correctly highlighted as undefined. I guess I can keep it that way and copy from the globals file.
However, having a look at it, the node environment does not declare a self global. The only environments that do are browser, worker and serviceworker, whic

[2016-08-29 12:06] delijah opened #7008 "valid-jsdoc does not support @this"
**What version of ESLint are you using?**
3.3.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No warning or error by eslint should be thrown since the above jsdoc is valid.

**What actually happened? Pleas

[2016-08-29 12:23] vitorbal commented on #6938
(y) from me as well!

[2016-08-29 12:43] mysticatea commented on #7008
Thank you for this issue.

Your notation seems wrong, it's syntax error.
Please see the document of `@this`: http://usejsdoc.org/tags-this.html

[2016-08-29 13:02] vitorbal commented on #5958
@platinumazure very true! So an alternative would be that we just don't do a fix if we detect a comment just above the return statement.
@kaicataldo what do you think? Probably safer, although I also agree that the example in your last comment is the most obvious style used..

[2016-08-29 13:47] vitorbal commented on #7006
This seems reasonable to me. @eslint/eslint-team any reasons why we wouldn't want to do this that you can think of?

[2016-08-29 14:06] kaicataldo commented on #5958
It's too bad we don't have an auto fix for lines-around-comment, or we could rely on multi pass fixing and just go ahead and fix everything. I could take a look and see if I can implement that as a prerequisite to this issue.

Otherwise, given that we don't have that yet, I think @platinumazure's reminder is a good one and we could just not fix that case. Fixing some things is better than not fixi

[2016-08-29 14:12] platinumazure commented on #7006
We should only need to do this no more than twice (es2015 for es6, and es2016 for es7 if that included any new globals), so I'm not worried about an ongoing maintainability cost at this point.

[2016-08-29 14:21] delijah commented on #7008
Oh no, you are right! I am sorry! Closed!

[2016-08-29 14:21] #7008 closed

[2016-08-29 14:36] jochenberger opened #7010 "False positive from `no-console` when `console` is a custom object"
The following code should not lead to an error/warning:
[code]

[2016-08-29 15:27] paladox opened #7011 "Help to switch from jscs and jshint to eslint in mediawiki please?"
**What version of ESLint are you using?**
the latest

**What parser (default, Babel-ESLint, etc.) are you using?**
grunt-eslint

**Please show your full configuration:**
None yet need help to switch please?

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

**What actually happened? Please include the actual, raw output from ESLint.*

[2016-08-29 15:30] Spy-Seth opened #7012 "`generator-star-spacing` rule trigger `Cannot read property 'value' of undefined`"
**What version of ESLint are you using?**
eslint@3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
 Babel-ESLint

**Please show your full configuration:**
I've simplify my configuration to exclude conflict with preset/plugin and I reproduce with this config:

[code]

**What did you do? Please include the actual source code causing the issue.**
I've no idea which part of my code t

[2016-08-29 15:41] platinumazure commented on #7012
Are you using async functions at all? If so, this might be related: #6274

I think the solution here is to use eslint-plugin-babel's version of generator-star-spacing instead of the default one.

[2016-08-29 15:49] platinumazure commented on #7011
@paladox Have you looked at [polyjuice](https://github.com/brenolf/polyjuice/) by any chance? It should help generate ESLint configurations from JSCS/JSHint. It's not perfect but it will get you 90% of the way there.

Once you're sure that your ESLint config matches your JSHint/JSCS configuration, you can run ESLint with the `--fix` option from the command line (or there should be an equivalent op

[2016-08-29 15:51] paladox commented on #7011
@platinumazure hi, yes I used that to convert it but with jscs it didn't do a very good job only converting one or two configs. jshint did better but I doint know what was converted and what wasent due to different names in the configs between eslint and jscs.

[2016-08-29 17:22] not-an-aardvark opened #7013 "Add a --fix option for wrap-regex"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `wrap-regex` rule. The fixer would simply wrap all regular expression literals with parentheses, if they aren't parenthesized already.

[code]

We would need to ensure that adding parentheses doesn't cause the regex to be interpreted as a function parameter (like with `no-unexpected-multiline`). However,

[2016-08-29 17:32] platinumazure commented on #7013
Seems reasonable to me. :+1:

[2016-08-29 18:14] not-an-aardvark opened #7014 "Add a --fix option for dot-notation"
I'm using Node v6.4.0 and ESLint v3.4.0.

It would be useful to have an autofix option for the `dot-notation` rule. The rule currently reports cases where bracket notation can be safely replaced by dot notation; the fixer would go ahead and make that replacement.

[code]

The fixer could also replace invalid dot-notations (e.g. keywords when the `{allowKeywords: false}` option is set) with the bra

[2016-08-29 19:10] nzakas commented on #7006
:-1: I don't like having two ways of doing the same thing, and it could lead to a lot of confusion. For instance, what does this mean?

[code]

It will be hard to keep track of places where you're using one vs. the other, especially if you're using shareable configs that might have one or the other.

I think this is a case where we just say that the way we are doing things is good enough and leave

[2016-08-29 19:18] nzakas commented on #6979
Absolutely. I think we are long overdue for this.  I've struggled with what might be the right length of time to do this. My general mindset is that 90 days is enough, as in my work experience it seems like things that don't get done within a quarter tend not to get done at all, so I'll throw that out as a starting point for this discussion.

In the past, we've labeled these as "help wanted." Unfo

[2016-08-29 19:43] nzakas opened #7015 "Proposal: Allow more PRs without issues"
**tl;dr** I think it's possible that we can now accept more PRs without issues. It will take a bit of work, but I think it would streamline our triaging process.

**Background**

From the beginning, we've required issues for all pull requests outside of documentation changes. This followed a pattern that I enjoyed at work: where the issue represented the problem and the pull request represented th

[2016-08-29 19:43] kaicataldo commented on #6979
I think the `help wanted` label is great, and having them fall in the category of issues that have been open for too long was exactly what I was thinking. My main concern is that the majority of `help wanted` issues have been stagnant for a long time and it's pretty difficult for a non-team member contributor to come in and understand why it's needed, if it's still relevant, etc.

I love having `h

[2016-08-29 19:45] nzakas commented on #6814
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-29 19:45] #6814 closed

[2016-08-29 19:48] nzakas commented on #6979
I think the key thing for "help wanted" is to decide on a timeout period after which we just close them. If we can decide on that, then we can go back and close a lot of the old ones we have.

[2016-08-29 19:56] kaicataldo commented on #7015
I'm all for not requiring issues for Build Related/Chores/Upgrades tasks - they always feel redundant.

One thing having an issue for PR's provides is a separation between discussions around what the change should be and the actual implementation. Do you envision the discussion for said issue would all happen in the PR? For example, when a PR comes in for a rule enhancement, would we discuss on th

[2016-08-29 20:03] kaicataldo commented on #7015
Just read through this again and I think I missed the point a bit initially. In that light, I have followup thoughts:
* How do we know which PRs we should look at that need discussion?
* Not sure I like the idea of requiring a PR for a new rule, but I'm curious to see what others think

[2016-08-29 20:58] platinumazure commented on #7015
I'm not sure I like the idea of requiring a PR for a new rule either. I agree it reflects the reality of ESLint (we can't just implement new rules for everyone), but it goes back to the con of "I spent all this time on a PR and it got rejected, what gives?". I think there should still be a relatively risk-free way for people to ask, is this rule something ESLint would even consider. Maybe that way

[2016-08-29 21:03] nzakas commented on #7015
Yup, definitely. However, our history seems to indicate that it's rare for a user-suggested rule to be implemented by someone other than the person requesting it. Id actually be fine if we didn't add any new rules for a while, so this isn't a big deal to me. We are trying to push people towards custom rules, and I see this as a step in that direction.

Yup

Can you explain the concern? In theory,

[2016-08-29 21:05] nzakas commented on #7015
I'd like to stop using "do not merge" and just use "evaluating" like we do for issues. Same issues process, just on PRs.

[2016-08-29 21:07] nzakas commented on #5540
I think @ilyavolodin was going to combine open indent issues into one. Did that happen?

[2016-08-29 21:10] nzakas commented on #6938
:+1:

[2016-08-29 21:11] nzakas commented on #6994
👍

[2016-08-29 21:15] mysticatea commented on #7001
Closing as this is correct behavior according to the language spec.
Please use `let`/`const` declarations for block scoping.

[2016-08-29 21:15] #7001 closed

[2016-08-29 21:17] nzakas commented on #6974
@alberto because we are implementing the Esprima interface for compatibility with other tools. Returning a different object breaks that compatibility.

[2016-08-29 21:18] mysticatea commented on #7002
I will champion this.
We needs one more :+1: from the team.

[2016-08-29 21:21] platinumazure commented on #7002
Not fair @mysticatea, you endorsed and championed and I double-counted you. :stuck_out_tongue_winking_eye: One more :+1: from the team as @mysticatea said.

[2016-08-29 21:28] vitorbal commented on #7002
I'll :+1: this!

[2016-08-29 21:32] mysticatea commented on #7010
Thank you for this issue.

I confirmed.

[2016-08-29 21:35] mysticatea commented on #7012
If you are using async functions, this is https://github.com/babel/babel-eslint/issues/350

[2016-08-29 21:37] mysticatea commented on #7013
:+1:

[2016-08-29 21:40] mysticatea commented on #7014
Sounds very good to me.
:+1:

[2016-08-29 21:43] kaicataldo commented on #7015
I tend to go through issues and PRs separately when I'm making the rounds, and I think I was having a hard time breaking out of that mindset and having to figure out which PRs "are Issues" and which PRs "are just PRs". The more I think about it, the more that seems like an arbitrary distinction I was making (due to the workflow I've developed), rather than a real problem. Retracting my concern on

[2016-08-29 22:35] zeg-io opened #7016 "Extend space-in-parens to allow different formatting for ES6 arrow functions"
**What version are you using?**
v3.4.0

**What did you do?**

[code]

**What happened?**
ESLint got whiney about the space before my ES6 function
`.then( (newConn) => {`
and
`}).catch( (err) => {`

**What did you expect to happen?**
I would like a way to specify **for arrow functions only** to either require a space after a parenthesis ... ie `.catch(` _or_ to require a space before the variable d

[2016-08-29 22:39] platinumazure commented on #7016
Just to generalize a bit, would you be interested in an enhancement where spaces within parentheses are required if the next token is parentheses?

For example:

[code]

And maybe the same with closing parens?

[code]

Example with a concise arrow function, which could result in parentheses being the penultimate token:

[code]

[2016-08-29 22:52] zeg-io commented on #7016
For me personally allowing the arrow function to be the determiner in regard to requiring the space after the parenthesis would be preferable.

I believe your example has extra unneeded parenthesis for the arrow function

It's fine with me if we had options about the before and after spacing, but I'd only ever use the before..Here's why...

[code]
Is cleaner to scan and determine which variables a

[2016-08-29 23:00] platinumazure commented on #7016
You're going to want to look at a parsing tool-- your `const a` example isn't parsing how you think it should. The parentheses I was using are not extraneous.

Here's the parse tree I get from your example (look about 2/3 of the way down):

[code]

And try this example-- it won't even parse:

[code]

So I think you maybe should be thinking about the closing parenthesis.

<hr />

At this point, I a

[2016-08-29 23:38] hadijaveed commented on #7003
Thank you the message was kind of hard for me to figure out since it never said it was removed in Version 2.0

[2016-08-29 23:47] platinumazure commented on #7003
@hadijaveed We could probably improve the lint output, but just FYI, we do mention the version removed in our documentation as well as what rules are deprecated and removed and their replacements. See http://eslint.org/docs/rules for more info.

[2016-08-29 23:48] hadijaveed commented on #7003
Thank you @platinumazure

[2016-08-29 23:52] mysticatea commented on #7003
Also, we have migrating guides for each major version.

- [Migrating to v1.0.0](http://eslint.org/docs/user-guide/migrating-to-1.0.0)
- [Migrating to v2.0.0](http://eslint.org/docs/user-guide/migrating-to-2.0.0)
- [Migrating to v3.0.0](http://eslint.org/docs/user-guide/migrating-to-3.0.0)

[2016-08-30 00:04] #6691 closed

[2016-08-30 00:08] nzakas commented on #6980
👎 I'm not sure we can logically say that the correct fix for this rule is to delete a tab or replace it with a space. I don't see this as something we should guess about.

[2016-08-30 00:41] zeg-io commented on #7016
You're right about the bad code.  I was focusing only on the parenthesis around the function and didn't actually try the code.

Below is a correct and compiling function.
[code]
Also, the error in my prior example was around returning an object (which does require the parens) basically, I wholly didn't put time into reviewing the functionality of the functions themselves and was only looking at th

[2016-08-30 02:05] not-an-aardvark commented on #6980
@nzakas I'm a bit confused by your reasoning that this "[isn't] something we should guess about". Could you clarify the cases where replacing tabs would be undesirable? To me, it seems like if a project explicitly has `no-tabs` in their config, getting rid of the tabs would be a welcome fix for that project.

[2016-08-30 02:07] TheSavior commented on #3218
I've gone ahead and finished up the work that @willklein started. There is light at the end of the tunnel!

[2016-08-30 03:16] axelson commented on #3964
Note, you can use the `no-restricted-globals` rule now: http://eslint.org/docs/rules/no-restricted-globals

[2016-08-30 03:16] axelson commented on #4710
Note, you can use the `no-restricted-globals` rule now: http://eslint.org/docs/rules/no-restricted-globals

[2016-08-30 06:13] Alaneor commented on #6980
Perhaps the rule needs to get a configuration option for a tab width replacement to avoid guessing?

[2016-08-30 06:19] CrabDude commented on #3611
@lo1tuma What still needs to be done? I'm looking to take this on.

I rebased on master, and all tests pass (after updating some minor lint errors), and the base functionality is working (mapping of pattern+configs to the correct files).

[2016-08-30 06:57] not-an-aardvark commented on #6980
@Alaneor In general, I think fixable rules don't have configuration options that specifically relate to fixing. Instead, they make a best guess and then then allow fixes for other rules to clean up afterwards. For example, in this case `no-tabs` might always replace tabs with a single space, and then the `indent` rule would correct it if necessary on the next pass, by adding/removing the appropria

[2016-08-30 07:10] platinumazure commented on #6980
I wouldn't say we discourage options around fixing per se- it's just never
come up before.

Let's keep this as simple as possible for now. What can be fixed easily and
safely?

On Aug 30, 2016 1:57 AM, "not-an-aardvark" <notifications@github.com> wrote:

[2016-08-30 07:17] dfcreative opened #7018 "no-unused-require"
Hi!

We are trying to setup [eslint for audiojs](https://github.com/audiojs/contributing/issues/19), allowing really loose code requirements, and we need to force _no unused `require`_, because each _require_ call blows browserify bundle. But `no-unused-vars` is too strict for us and it is anyways resolved by any minifier, but may annoy during development.

Is there `no-unused-require` rule/plugin

[2016-08-30 07:22] Spy-Seth commented on #7012
Yes I'm using async/await. In reality, I do not directly use the `generator-star-spacing` it's the `airbnb` preset that use it.

The weird part is that is other project I just update, they use the same presets and plugins and use asyn/await too but I do not have the issue :(

[2016-08-30 07:27] platinumazure commented on #7018
You can look at https://github.com/cvisco/eslint-plugin-requirejs. I'm not sure if they've implemented such a rule yet- I know there has been discussion on it in the past.

[2016-08-30 07:39] dfcreative commented on #7018
@platinumazure thank you for the reference! I forgot to specify - `require` for nodejs/commonjs/browserify.

[2016-08-30 07:42] platinumazure commented on #7018
In that case, I would suggest searching for "eslint plugin commonjs" and
similar terms on GitHub and NPM. Hopefully there's something out there for
you.

On Aug 30, 2016 2:40 AM, "Dima Yv" <notifications@github.com> wrote:

[2016-08-30 08:21] MakuraYami opened #7020 "Invalid config validation for rule "key-spacing""
**What version of ESLint are you using?**
2.13.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
Irreverent, will show below
**What did you do? Please include the actual source code causing the issue.**
Irreverent, Not code related
**What did you expect to happen?**
Accept my valid eslintrc config without errors
**What actually hap

[2016-08-30 08:38] MakuraYami commented on #7020
Seems there were missing packages, no idea what caused it. After re-install it no longer gave the error.

[2016-08-30 08:38] #7020 closed

[2016-08-30 09:52] MaffooBristol commented on #2901
Great stuff.

Documented here: http://eslint.org/docs/rules/no-multi-spaces

I'm personally a fan of the rather lax `"no-multi-spaces": [2, {exceptions: {"ImportDeclaration": true, "VariableDeclarator": true, "Property": true}}]`

[2016-08-30 11:08] lo1tuma commented on #3611
Hi @CrabDude. Thanks for considering to continue the work on this.

IMHO the following things needs to be done:

* Think about what implications the exceptions, I mentioned in the documentation, have:

    Or if we can/should possibly support `extends`.
* I’m not really happy with the configuration field `files` but I couldn’t find any better name.
* Check if the relative path resolution works cor

[2016-08-30 11:42] ikokostya commented on #3611
@lo1tuma I solved similar issue for `JSHint` https://github.com/ikokostya/jshint-groups#configuration-file
* Common options section is very useful for sharing configurations between file sets.
* I think glob based configurations should support only one file in the root project (i.e. should not support nesting), because it's very simple to read and understand all rules in one place.
* I propose ren

[2016-08-30 12:10] lo1tuma commented on #3611
That’s already possible. Glob based configuration doesn’t break the current configuration feature of ESLint. So you can simply define common options/config as you would define it today (glob based configurations will be merged into that).

I’m not sure if I understand you correctly. Do mean nesting `.eslintrc` files? I’m not sure if this is possible because ESLint doesn’t have a concept of project

[2016-08-30 12:54] IanVS commented on #3611
ESLint won't determine an `.eslintrc` to be a root file on its own, but you _can_ specify `root: true` to keep ESLint from merging any further config files in any ancestor directories.  But, I think the point of @ikokostya's comment is to avoid merging glob configurations from different config files.

It makes sense to me that if you are using globbing to configure rules for different parts of you

[2016-08-30 13:00] lo1tuma commented on #3611
@IanVS I’m not sure if it would reduce complexity. You still need to merge the glob-based configuration with the non-glob-based configuration in order to not break how eslint configuration cascading currently works.

[2016-08-30 13:13] IanVS commented on #3611
Yes, unless we decide that using a glob-based configuration will override any configs in child directories, which seems like a reasonable limitation/constraint to me personally.  Could something like that work?

[2016-08-30 13:23] ikokostya commented on #3611
@lo1tuma

For example you need check `src` directory, but exclude `src/vendor` directory. Instead of verbose enumeration all files except `vendor`

[code]

you can write

[code]

`excludes` is optional. Algorithm is also easy: get list of files which match to `includes` and then remove from this list all files which match to `excludes`.

[2016-08-30 13:45] pmcelhaney commented on #7015
I think this is a great way to reduce the number of open loops, and I think you can simplify the rules around when to open an issue vs. PR.

1. If you want any kind of change in ESLint (chore, bug fix, feature, whatever), and you're interested in implementing it, go ahead and open a PR. Explain the rationale in the PR just as you would if you were opening an issue. The PR doesn't have to be 100% c

[2016-08-30 13:55] pmcelhaney commented on #7014
Is there a general guideline for what a fixer should do if comments interfere? That seems to be a common problem.

My preference would be to not automatically fix code that involves comments. It doesn't hurt anyone to require human intervention in those rare cases.

[2016-08-30 14:07] NenadP commented on #3229
Would appreciate clean solution. as a workaround I'm using:
...
[code]

[2016-08-30 14:46] iamstarkov commented on #3458
I think community needs shareable configs to behave as usual npm packages—encapsulate deps with itself

[2016-08-30 14:58] vitorbal commented on #7014
@pmcelhaney if i understood your question correctly, this might be related: https://github.com/eslint/eslint/issues/5958#issuecomment-243117518
TL;DR we won't autofix when a comment interferes

[2016-08-30 15:46] emileber commented on #6990
I'm having the same issue with collection as parameter.

[code]

If I run `eslint test-eslint.js`:

[code]

And if I run `eslint test-eslint.js --fix`:

[code]

[2016-08-30 15:47] joekrill commented on #3611
I started looking into this myself the other day. Can I propose what I think may be a simpler way to handle this? It would require 2 changes:

1. Allow the `excludes` and `includes` properties (or whatever naming convention is agreed on) on _any_ configuration object at the base level (so no additional `files` property with nested rules, or similar, needed).
2. Instead of a requiring a single conf

[2016-08-30 15:48] ilyavolodin commented on #7013
:+1:

[2016-08-30 15:49] platinumazure commented on #3611
@eslint/eslint-tsc  Have we settled on a design/intended implementation for this? If not, should this issue be "accepted" or should we go back to "evaluating" and work on a design?

[2016-08-30 15:50] gyandeeps commented on #6990
This is why indent flags this as an issue:

For single objects it expects:

[code]

For multiple objects, it expects

[code]

[2016-08-30 16:01] platinumazure commented on #6990
@gyandeeps Could we consider trying to enhance this to support the use case in the original post? I'm fairly sure that style is common.

[2016-08-30 16:04] gyandeeps commented on #6990
based on things and so many customization we already have in indent rule, it is kinda of trivial.
If anyone want to take up thing challenge i will be happy to review.

[2016-08-30 16:51] vitorbal commented on #7006
That's a good point. Okay then, given the added complexity that @nzakas pointed out, I would be against this change. Let's see if anyone from the team feels strongly in favor of it.

[2016-08-30 17:00] platinumazure commented on #7006
Yeah, this is different from ecmaVersion since that's a scalar, not an
object where you can have true/false on multiple envs plus overrides. I
agree, :-1: we shouldn't do this.

On Aug 30, 2016 11:51 AM, "Vitor Balocco" <notifications@github.com> wrote:

[2016-08-30 17:24] michaelficarra commented on #7006
There's nothing wrong with the ability to write

[code]

Then the user will just get the error "Both `es6` and `es2015` env options were set to conflicting values. Remove one to continue."

[2016-08-30 17:26] ljharb commented on #7006
@nzakas it's not good enough long term though - the confusion between "edition number" and "year" basically only applies to ES6 and ES7, since after that people will very likely only use "year". If you don't want to have conflicting options, at the least, it should start using only the year as of ES2017.

[2016-08-30 17:28] platinumazure commented on #7006
I think we can probably create new envs with the year from now on- @nzakas
was mainly objecting to having synonymous envs. (Correct me if I'm wrong)

On Aug 30, 2016 12:26 PM, "Jordan Harband" <notifications@github.com> wrote:

[2016-08-30 17:29] ljharb commented on #7006
@platinumazure the concern then is that you have to then deal with the confusion of "why can i do ES2017 and beyond, but not ES2015 that all these blogs and books refer to"

[2016-08-30 17:43] nzakas commented on #7015
@pmcelhaney well said, and all really good points. I'm not sure I agree that an issue should be closed as soon as a PR related to it is opened, as I think there's value in having the PR merge trigger the issue being closed.

For everyone, I've removed the part about requiring a PR for new rules since that's the thing people seem to be getting caught up on and it's not overly important to the propo

[2016-08-30 18:11] nzakas commented on #7006
Yeah, if we need to create new environments going forward, we'll do it in the most logical way possible.

@ljharb you're extrapolating out to a problem we're not talking about here. This issue is only about whether or not to create a second environment that does the same thing as `es6`. If we need to create other environments going forward, we'll name them in the most logical way. My hunch is that

[2016-08-30 18:13] nzakas commented on #3611
Setting back to "evaluating" since it appears there's still some design considerations.

If I could ask a favor: this thread is already insanely long and it's hard to tell when a comment is building on another or conflicting. If you'd like to make a full proposal for how this should work, can you please put it into a gist and link to it from this issue? That way, we can clearly see the extent of t

[2016-08-30 18:16] nzakas commented on #3458
Thanks everyone for the feedback. We're aware of everyone's desire for this feature and plan on addressing it once we've finished up JSCS compatibility work. As such, I'm going to lock this issue because we understand the request and the use cases, and at this point we're just getting a bunch of "me too" comments.

[2016-08-30 18:17] nzakas commented on #3229
I'm locking this conversation because the work is underway and the approach has already been discussed.

[2016-08-30 18:22] nzakas commented on #6980
@not-an-aardvark

I'm not arguing this point. My point is that we don't know what people would prefer to have instead of tabs, and therefore, we can't safely "fix" warnings for this rule. Just because someone said "I don't want tabs", that doesn't mean "I want one space instead of tabs" or "I want no spaces instead of tabs." Your proposal is based on what you would prefer, but we can't assume that

[2016-08-30 18:22] #6069 closed

[2016-08-30 18:44] nzakas commented on #6299
I think we can safely remove "duplicate" since I think you may be the only one who uses it and its redundant to what is hopefully the closing comment "Duplicate of #1234". Definitely can remove "invalid" and "priority".

"needs prototype" we just created for one issue - I think it's good to keep around and am not opposed to changing its color to the same "needs bikeshedding".

I'd like to avoid gr

[2016-08-30 18:46] #6077 closed

[2016-08-30 19:06] CrabDude commented on #3611
@nzakas Sounds good. Continuing non-proposal discussion...

Based on the feedback here, more discussion seems beneficial. @joekrill's [proposal](https://github.com/eslint/eslint/issues/3611#issuecomment-243485100) of specifying an array of configs seems rather elegant. The config**s** in `.eslintrc` can extend a base config, leaving behind primarily platform-specific configurations. While, Nesting

[2016-08-30 19:40] platinumazure commented on #7018
Oh, wait, I might have misunderstood. Are you trying to avoid `require()` calls altogether? If so, try using `no-restricted-globals`, you should be able to specify `require` on that list.

[2016-08-30 20:06] dfcreative commented on #7018
You got it right the fisrt time, I just guess there is no unused only global vars checker, at least I did not find one.

[2016-08-30 20:33] pmcelhaney commented on #5329
Catching up on this old thread, I see there are some suggestions to make "warn-fix" / "error-fix" (or something along those lines) configuration options.

I'd like to suggest that you consider a rule available to the fixer by default. That's how it works now, and it seems to be working fine so far.

Instead, allow the config to *opt out* of autofixing for particular rules, so the meaning of "warn"

[2016-08-30 20:48] CrabDude commented on #3611
@joekrill Actually, I don't think the top-level array approach will work. Otherwise, it'll get confusing b/c we'll have to require  an "includes"/"excludes" in each config in the array except optionally the last, but at that point, the "files" approach is more explicit.

[2016-08-30 21:10] JustinLivi commented on #3611
To add my unrequested two cents to the discussion... I'm not sure if this would address the concerns that @CrabDude has, but I had a similar idea to @joekrill awhile ago, but using a `children` attribute. I put together a gist with the proposal: https://gist.github.com/JustinLivi/a5f87a8d9288b618c09c97da8f988ff3

Just an alternative take on the structure. My main concern with it would be that it m

[2016-08-30 21:14] joekrill commented on #3611
@CrabDude The `includes`/`excludes` would be completely optional in all cases. If one isn't specified in any configuration block, then all files would implicitly be included.

The array of configs could be interpreted and cascaded in exactly the same way they currently are -- it would really just act as if each element in the array created a new directory level.

I'll write up a gist with more det

[2016-08-30 22:39] nzakas commented on #3611
I'd just like to guide this discussion a bit more. It seems like each addition makes configuration more complicated. We should be targeting the least-complex solution for adding glob-based configuration as a starting point (for instance, cascading globbing seems two steps beyond what is necessary to solve the problem).

Configuration is the most complicated part of ESLint, so we really want to ans

[2016-08-30 23:02] joekrill commented on #3611
@nzakas Agreed, which is why I'm proposing splitting this up into two smaller distinct features that can be used in conjunction to create the desired functionality: https://gist.github.com/joekrill/886f9d07b64ac1c98f280fd6cd915004

[2016-08-31 00:44] CrabDude commented on #3611
I don't believe @joekrill's proposal is best considered as 2 distinct features, since neither is particularly useful in isolation.

1. With only includes, configs are awkwardly coupled to a directory (by virtue of location); This would not solve my use case, and I think most people looking to utilize include would find themselves very awkwardly needing to put their targeted configs in the parent d

[2016-08-31 00:46] not-an-aardvark commented on #6980
Thanks for clarifying; that makes more sense now.

---

I think we can classify tabs into three different categories:

* Indentation (i.e. tabs on a line before anything else):

Ideally, this would be handled by the `indent` autofix, since that rule has access to the user's preferred indentation. In other words, the `indent` fixer would be able to delete/add indentation tabs as necessary to ensure

[2016-08-31 01:20] joekrill commented on #3611
@CrabDude I'm suggesting splitting this into 2 distinct features not because either is necessarily useful in isolation (although excluding files at the configuration level _would_ be useful, I think) -- but the point is really just to simplify the implementation work needed and keep any added complexity at a minimum.

Each of these features on their own would be fairly simple to implement and easi

[2016-08-31 10:22] mgol opened #7021 "Expose the rules list"
**The version of ESLint you are using.**
3.4.0

**The problem you want to solve.**
Since ESLint adds new rules from time to time and I want to make sure I make a decision about every core rule if I want to enable it or not, I've been [reading the `lib/rules/` contents](https://github.com/mgol/eslint-config-mgol/blob/65c4837cf076d2424ef2c0d744d07bb70ec2eea6/scripts/find-new-rules.js#L14) and fail i

[2016-08-31 10:29] jfmengels commented on #7021
This feature would be really nice :+1:

I think that the whole meta object would be nice for plenty of different tools or uses, and it would be a shame to only limit it to a few fields. But I don't know how much memory it uses and if that causes problems.

[2016-08-31 11:03] vitorbal commented on #7021
Thanks for the detailed description. I agree this is a great idea, so much so that we already have it on our radar. Check it out: https://github.com/eslint/eslint/issues/6525
`getRules` should be exactly what you're proposing, right?

[2016-08-31 12:41] vitorbal commented on #7007
Hi @BloodyStupidViktor, thanks for the report. Besides what the bot mentions above, could you also verify if the problem persists in the latest version of ESLint? Thanks!

[2016-08-31 12:43] jfmengels commented on #7021
Sounds like it to me, thanks @vitorbal

[2016-08-31 12:47] mgol commented on #7021
@vitorbal Yes, that looks good! Somehow I haven't found this one when I was searching for similar issues. 😄

Should we close this one as a duplicate then?

[2016-08-31 12:49] platinumazure commented on #7021
Closing as duplicate- thanks for the excellent suggestion!

[2016-08-31 12:49] #7021 closed

[2016-08-31 12:51] vitorbal commented on #6963
I wonder if this wouldn't be better as a new option, though. If we add "startsWith" logic to the current implementation, then the behavior of the snippet below would change:

[code]

[2016-08-31 12:53] mgol commented on #7006
@nzakas

I was thinking about what @michaelficarra proposed - basically, to alias `es6` to `es2015` internally so that there is never an `es6` env internally and prevent specifying both envs in one config. That would limit the consequences of such a change to only the config parsing phase.

Well, we already have two ways of doing the same thing: `ecmaVersion: 2015` and `ecmaVersion: 6`. This speci

[2016-08-31 13:17] vitorbal commented on #7012
@Spy-Seth could you possibly find which piece of your code produces the error you describe? That would greatly help us pinpoint what could be the source of the issue.
Also, before you do that, did you check if using `babel/generator-star-spacing` instead of `generator-star-spacing` causes the error to disappear?

[2016-08-31 13:28] vitorbal commented on #7018
I quickly tried to find a "plugin-eslint-commonjs" or the like but couldn't.
I think your best bet would be to write a custom rule. You can pretty much base it out of the `collectUnusedVariables` function that is implemented in the `unused-vars` rule and run a check only for `require()` calls.

Please drop by the [gitter chatroom](https://gitter.im/eslint/eslint) if you have any questions, we woul

[2016-08-31 13:37] ilyavolodin commented on #5540
No, sorry, I still haven't gotten around to doing that:-( It's on my to-do list.

[2016-08-31 14:14] vitorbal commented on #5958
Okay, agreed. Thanks for the input everyone! I will work on this most likely during the weekend.

[2016-08-31 15:07] Thoro opened #7023 "space-before-blocks: add option to specify the maximum amount of spaces before block"
The space-before-blocks rule, should have an option to specify how many spaces before a block are acceptable, if there's already code on the same line (e.g. it shouldn't be affected by normal indentation).

**What version of ESLint are you using?**
v3.3.1

**What rule do you want to change?**
space-before-blocks

**What code should be flagged as incorrect with this change?**
[code]

**What happens

[2016-08-31 15:22] gyandeeps commented on #7015
Every thing sounds good to me.

I think we should require issue of any core changes so that we can have discussion before making changes.

[2016-08-31 15:32] Spy-Seth commented on #7012
If I replace `generator-star-spacing` by `babel/generator-star-spacing`: no error, it works.

With the previous configuration (so with `generator-star-spacing`) the following code trigger the error:
[code]

and this one do not trigger the error:
[code]

[2016-08-31 15:33] platinumazure commented on #7023
Just for my curiosity, do you see anyone wanting to use any value other than 1 if they want to limit spaces?

I ask because that could result in an option `"disallowMultipleSpaces": true` (or similar) which might be more semantically useful in a config file than `"maxSpaces": 1`, but that comes with the tradeoff of rule flexibility.

[2016-08-31 15:34] Thoro commented on #7023
me personally, no

[2016-08-31 15:36] platinumazure commented on #7023
Forgot to mention, I'll champion this. (Assigning to myself so I can track this. Doesn't mean I'm necessarily going to work on it.)

@Thoro Would you be interested in submitting a PR if this issue gets accepted?

[2016-08-31 15:38] Thoro commented on #7023
Depends if I got time for this, in case I find resources on my side, I sure will make a PR.

[2016-08-31 16:03] jankuca opened #7025 "no-fallthrough does not allow comments between empty cases"
Multiple cases with a single body are always allowed but placing
comments between the cases is not allowed.

[code]

The latter is not valid as the comment between `case 1` and `case 2` is not allowed. Would be great if it was possible to comment on individual cases without having to add the "fallthrough" comment after that.

[2016-08-31 16:10] mnpenner commented on #6984
Just hit this bug. My loop looks like this:

[code]

I will disable the inspection for now. Side-question: is there any way we can add a comment beside an `eslint-disable`? e.g.

[code]

This won't disable the inspection because of the 'comment' I added beside it.

[2016-08-31 16:15] pmcelhaney commented on #7010
I don't think that's how no-console is supposed to work.

This isn't allowed either.

[code]

The name "console" is so ingrained that having a variable named "console" that isn't the built-in object can be confusing. I would suggest either using  a different variable name or disabling the rule.

[2016-08-31 16:28] nzakas commented on #6980
@not-an-aardvark I appreciate the thought you've put into this. Unfortunately, I still don't believe this a good idea. Whenever we are saying things like, "I don't think this replacement would surprise people," that means we are guessing, and fixes shouldn't be guesses.

You can always create your own version that does the fixes you want, I just don't see this as a good idea for the core.

[2016-08-31 16:30] nzakas commented on #7015
Okay, lots of thumbs up on this, so I'm going to assume there are no significant objections, thus marking as accepted. I'll update the documentation when I have energy and pass that around for final approval before we officially implement this.

[2016-08-31 16:34] nzakas commented on #7006
@mgol that would require a special case for this, and I don't see a good reason to do that.

Completely different situation. You can only specify one value here, and if the value is 2015 or over, we just subtract 2009 from it. We could have not allowed 2015, but it would have been completely arbitrary. No special casing, no special logic, no need for validation.

[2016-08-31 17:37] nzakas commented on #3698
Yeah, time to close this. Almost a year open is a good indicator that we are not likely to make this change.

[2016-08-31 17:37] #3698 closed

[2016-08-31 17:38] nzakas commented on #5540
Okay, let's leave this open until that happens (btw, I'm sure if anyone wants to take that off @ilyavolodin's plate, he'd appreciate it).

[2016-08-31 17:41] nzakas commented on #3092
Agreed. I think this needs to be a new rule.

[2016-08-31 17:45] nzakas commented on #5989
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-08-31 17:45] #5989 closed

[2016-08-31 17:46] nzakas commented on #6941
Yeah, our general approach is to do fixes only when it's 100% safe. If there are safe cases that can be fixed, we can definitely do those.

[2016-08-31 17:47] nzakas commented on #6424
@platinumazure you need to drum up two more 👍s.

[2016-08-31 17:52] nzakas commented on #6851
We use the internal node package resolution to find plugins, so I'm not sure that anything can be done here. Here's the utility we use: https://github.com/eslint/eslint/blob/master/lib/util/module-resolver.js

We can't really provide a resolve key like webpack due to the fact that you can have multiple configs and they get combined into one before starting to load plugins.

[2016-08-31 17:54] nzakas commented on #5427
Yeah, let's accept this. Seems like an easy fix.

[2016-08-31 17:59] nzakas commented on #6828
I'd like to see some better option names, but otherwise 👍

[2016-08-31 18:00] platinumazure commented on #7025
Is this a rule enhancement request or a bug report? What is "this option" that is set to `true`? Please add some details.

[2016-08-31 18:02] platinumazure commented on #7010
@pmcelhaney I understand your reasoning, but it would at least be nice to be consistent with `no-alert` (which, if I recall correctly, is smart enough not to report when shadowed). At the very least we would need to decide what the best policy is for both rules (or perhaps add an option to allow users to configure whether shadowing should be flagged or not).

[2016-08-31 18:02] nzakas commented on #6028
I would like to see an actual proposal, as this is pretty abstract as-is.

[2016-08-31 18:05] platinumazure commented on #6424
Maybe just one? I'm counting [@mysticatea](https://github.com/eslint/eslint/issues/6424#issuecomment-237520312) and [@michaelficarra](https://github.com/eslint/eslint/issues/6424#issuecomment-238294146).

@mysticatea/@michaelficarra Are you endorsing this?

[2016-08-31 18:05] nzakas commented on #6287
I count three 👍s so we still need a champion here.

[2016-08-31 18:12] hzoo commented on #6068
@azhang496 said she would take this (I'll guide/help)

[2016-08-31 18:14] pmcelhaney commented on #7010
Ah, good point. no-alert does indeed allow `alert` to be shadowed.

https://github.com/eslint/eslint/issues/1105

[2016-08-31 18:33] dfcreative opened #7027 "no-unused-vars false trigger?"
Hi!

[code]

Eslint triggers `inputsCount is defined but never used`. It does not seem right, is it?

[2016-08-31 18:35] not-an-aardvark commented on #4616
Working on this.

[2016-08-31 18:46] gaearon commented on #5150
To be clear, you can use callback refs just fine if you add `{` and `}`:

[code]

It’s kinda verbose so I agree it would be great if this option existed.

[2016-08-31 19:21] ilyavolodin commented on #5540
Absolutely! If somebody has time to go through indent issue, please don't hesitate to do that!

[2016-08-31 19:28] ilyavolodin commented on #7027
The rule doesn't not recognize writes as "use" of a variable. I know what you posted is a small extract, however, it can be completely removed without any loss of functionality the way it's written right now, since nothing is ever reads the value of `inputsCount` variable. See [rule documentat](http://eslint.org/docs/rules/no-unused-vars) for more information.

Closing as the rule behaves correctl

[2016-08-31 19:28] #7027 closed

[2016-08-31 19:58] lencioni commented on #6963
I'm happy with anything that supports my use-case.

One alternative to a new option would be allowing people to use `*` (or something like it) in the current option.

[2016-08-31 20:15] Alaneor commented on #6980
@nzakas What about limiting the fixer to the scope where we can safely assume the fix is "correct" or expected? From the discussion above, I would guess this would mean fixing only tabs used for indentation. Then the `indent` rule can kick in and fix it to the developer's preference.

[2016-08-31 20:17] JamesHenry commented on #6974
I have replicated the type-safe addition rule from the linked thread, this time using his `parseForESLint` proposal. I having a working branch with modifications to the typescript-eslint-parser, which adds a Map between ESTreeNodes and TSNodes and exposes a service helper for retrieving the original TSNode from an ESTreeNode.

The rule in eslint-plugin-typescript would therefore end up looking som

[2016-08-31 21:26] gaearon commented on #5150
Also, FYI, we removed this rule in Create React App because it is too inconvenient/surprising to React users who want to use callback refs (which by themselves are quite verbose so this makes it worse). Relevant discussion: https://github.com/facebookincubator/create-react-app/issues/528. Would be happy to provide more context on our decision if you’d like to chat!

[2016-09-01 00:12] erezny opened #7030 "eslint-disable-next-line does not work in html portion of .jsx files"
**What version of ESLint are you using?**
2.13.1
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expected eslint to allow <a href=... target='_blank'> ... </a> on the next line of code
**What actually

[2016-09-01 00:13] nzakas commented on #6974
Thanks @JamesHenry, awesome job! We can chat more about implementation details later, but the fact that the prototype worked for this purpose seems like a good thing.

[2016-09-01 00:16] nzakas commented on #6974
TSC Summary: The proposal is to add an optional `parseForESLint` method to allow ESLint parsers to optionally provide shared-state services with the created tree. ESLint would still use `parse` if `parseForESLint` is not found.

TSC Question: can we proceed with implementing this as designed?

[2016-09-01 00:20] nzakas commented on #6424
I can't count (I think we may need to standardize where we 👍 to make this easier). It also looks like there was a 👍 from @mikesherov and @ianvs, so marking as accepted.

[2016-09-01 00:40] #6997 closed

[2016-09-01 01:19] scriptdaemon commented on #7006
@nzakas Consistency is always a good reason.

Regarding:

[code]

This would be unsupported behavior, so either:

  1. If either is true, then use the environment regardless of what the other option is set to.
  2. If either is false, then don't use the environment regardless of what the other option is set to.
  3. Rely on whatever the config parser parses first.
  4. Rely on whatever the config

[2016-09-01 03:37] not-an-aardvark commented on #6052
Working on this.

[2016-09-01 04:10] kaicataldo commented on #6828
I love this idea! :+1: for me

[2016-09-01 04:29] kaicataldo commented on #7030
I'm not sure why this behaves the way it does, but these work:
[code]
[code]

[2016-09-01 05:36] not-an-aardvark commented on #6052
I wrote some tests, but haven't started the implementation yet.

Could someone double-check these tests to make sure there aren't any glaring errors? (There are probably some typos that I'll find when I implement the feature, but I mainly want to verify that the tests are roughly correct, to ensure that I understand the desired behavior correctly.)

[code]

[2016-09-01 06:48] jschaf opened #7031 "rule-tester doesn't load plugins from default config"
**What version of ESLint are you using?**
v3.3.1
**What parser (default, Babel-ESLint, etc.) are you using?**
espree
**Please show your full configuration:**
https://gist.github.com/jschaf/8ce46b7363510777f66b7a8eab730b43
**What did you do? Please include the actual source code causing the issue.**
Ran `npm test`.  See above.
**What did you expect to happen?**
I expect no errors.
**What actually h

[2016-09-01 07:12] Thoro commented on #7023
@platinumazure as mentioned in the PR the Commit Message gives me a headache, what should I make it like, so it's still a description and not just keywords? Or are keywords fine and it needs to be exactly 72 chars?

[2016-09-01 09:58] creamidea commented on #2985
I have met the same problem and I was working on **Windows 10**.
I solved this problem by downing one file: **libxml2.dll** (from [here]( http://xmlsoft.org/sources/win32/))
Next, I put the **libxml2.dll** into **emacs-bin** and then it worked.
Good luck :)

[2016-09-01 11:42] jankuca commented on #7025
@platinumazure I updated the description, sorry. The original description was referring to the PR I created (#7026).

The issue is that comments placed between cases with no body (i.e. cases which are handled the same way as the next case) are not accepted by the `no-fallthrough` rule. Here is an example of what is not accepted by the rule:

[code]

It currently has to be written as the following.

[2016-09-01 11:43] vitorbal commented on #5958
Quick update: I'll probably have a PR for this by the weekend!

[2016-09-01 11:58] alexsunxl opened #7033 "newline before the function declare"
It is newline before the declare function/class(es6) ?
just line the  [newline-before-return](http://eslint.org/docs/rules/newline-before-return)

[2016-09-01 12:09] cristian-sima commented on #5958
Fantastic!

[2016-09-01 12:43] platinumazure commented on #7031
RuleTester only loads and runs one rule (the one you passed into its constructor) per test run. The purpose of RuleTester is to provide functional testing capabilities for one rule without interference from other rules.

Unfortunately, if you want to test multiple rules, you need to write a test that uses CLIEngine to just execute your full configuration. You can use its `executeOnText` method to

[2016-09-01 12:49] platinumazure commented on #7033
Just to make sure, are you asking if there is a rule which enforces line breaks before function declarations?

Other questions to help clarify your request:

1. Should this apply to function expression assignments to variables? (`var foo = function() {}`)
1. What about object properties with function values?
1. What about actual method declarations on functions?
1. What about classes?

I ask becau

[2016-09-01 14:42] nzakas commented on #7006
TSC Question: should we add an es2015 environment in addition to es6?

[2016-09-01 14:46] nzakas commented on #6980
@Alaneor there is no situation where it's correct for this rule to fix, that's my point. Indentation would already be handled by the indent rule.

[2016-09-01 14:56] nzakas commented on #7011
@paladox you're a bit early to try to automatically convert configs. We are working on it, we just aren't finished yet. We did start a migration guide that we are adding to as we complete more work that might be of use: http://eslint.org/docs/user-guide/migrating-from-jscs

Unfortunately, we can't support JSCS rule names, but we are doing our best to make migrating to ESLint easier.

[2016-09-01 15:02] nzakas commented on #6988
Go for it. You can accept bugs that you've verified.

[2016-09-01 15:13] nzakas commented on #6986
Yeah, let's make that change.

[2016-09-01 15:14] nzakas commented on #6983
@ghost diff that fix your problem?

[2016-09-01 15:21] nzakas commented on #6982
If you want to make a change, just a submit a PR. This is just docs, if you think there's a way to improve it, go ahead and do it, you don't have to ask for permission.

[2016-09-01 15:24] nzakas commented on #6972
Yeah, we have discussed this before and decided this wasn't a good addition for ESLint as there would be no functional difference between a warning and info message, which would just be confusing. Please see #6139 for more information.

[2016-09-01 15:24] #6972 closed

[2016-09-01 15:33] nzakas commented on #6967
`this` is completely valid in this situation, it's a reference to the constructor function, so I believe the current default is correct (the rule is supposed to flag strict mode `this` violations). I'm not sure we should actually add an option because this isn't an invalid `this` as defined by strict mode. I'd say this would have to be a new rule though I don't think it's a good fit for core.

@mi

[2016-09-01 15:35] nzakas commented on #6947
@ypresto I'm sorry, there's not enough support on the team for this. If you still want the rule, you can always create a [custom rule](http://eslint.org/docs/developer-guide/working-with-rules) instead.

[2016-09-01 15:35] #6947 closed

[2016-09-01 15:37] nzakas commented on #6873
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-09-01 15:37] #6873 closed

[2016-09-01 15:48] vitorbal commented on #6070
@kaicataldo @platinumazure @mysticatea sorry to bother you, do you guys have any strong feelings against making a relaxing option for the case where the `module.exports` is the first/last statement of a block?

Was hoping to keep the ball rolling for this one as I was looking to contribute to the JSCS compatibility milestone and this rule seems to be unclaimed so far :-)

[2016-09-01 16:08] sc0ttyd opened #7035 "New Rule request: spacing-default-value"
AFAICT there is no rule that covers spacing for default values in function arguments or destructuring. I would like to be able to enforce this:

[code]

This is obviously a stylistic rule. This warrants inclusion since in almost all other situations in which spacing preference can be expressed there is a corresponding core rule. As discussed in #3299 the equals in this context does not function as

[2016-09-01 17:05] nzakas commented on #1101
This has been open for over two years and no updates in five months, it looks like there's just not enough interest to pursue this.

[2016-09-01 17:05] #1101 closed

[2016-09-01 17:06] nzakas commented on #4500
We actually have this in the form of a regression build now, so closing.

[2016-09-01 17:06] #4500 closed

[2016-09-01 17:08] nzakas commented on #3307
@mysticatea was lineEnd added?

[2016-09-01 17:11] nzakas commented on #3055
As far as I can tell, this isn't a bug -- JSDoc let's you do this with or without parens, so closing.

[2016-09-01 17:11] #3055 closed

[2016-09-01 17:13] nzakas commented on #3420
This has been open for over a year and several team members have indicated that this is quite difficult, so closing.

[2016-09-01 17:13] #3420 closed

[2016-09-01 17:15] nzakas commented on #5013
We didn't get very far with this and there doesn't seem to be a big demand, so closing.

[2016-09-01 17:15] #5013 closed

[2016-09-01 17:19] platinumazure commented on #7035
Related: There's a discussion about augmenting space-infix-ops to differentiate between assignment and default parameters in issue #3587.

[2016-09-01 17:24] platinumazure commented on #6982
@nzakas Thanks, noted. At the time I submitted the issue, I didn't really have a clear plan for what the best change was, so I was hoping for some discussion and an issue seemed like the best way to gather that discussion. In future I might just pick "an" approach and send a PR.

[2016-09-01 17:26] nzakas commented on #6338
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-09-01 17:26] #6338 closed

[2016-09-01 17:29] nzakas commented on #6190
Almost three months ago we said this needs a prototype to move forward. We still don't have one, so unless someone is willing to commit to doing one, I think we should close this.

[2016-09-01 17:33] nzakas commented on #6380
I think we would all like to redesign the ESLint site to make it cleaner, though that should be a discussion in the ESLint.github.io repo.

[2016-09-01 17:33] #6380 closed

[2016-09-01 17:35] nzakas commented on #6369
Let's merge this discussion into #6488.

[2016-09-01 17:35] #6369 closed

[2016-09-01 17:38] nzakas commented on #6979
Okay, here's what I'll propose to get the ball rolling:

1. Help wanted issues should be closed after 90 days if they have not been completed.
2. Accepted issues may be closed after 90 days if no one is willing to step forward and own the work to complete it.
3. Beginner issues must be open for 30 days *from the day the issue was labeled* before a team member is allowed to work on it.

@eslint/esl

[2016-09-01 17:40] nzakas commented on #7003
Closing as resolved

[2016-09-01 17:40] #7003 closed

[2016-09-01 17:41] nzakas commented on #6982
I think submitting a PR is best. Let's not overwhelm people with long abstract discussions about documentation. In fact, I'd say let's close this and just submit a PR with your suggestions.

[2016-09-01 17:43] platinumazure commented on #6982
Sounds good. Closing.

[2016-09-01 17:43] #6982 closed

[2016-09-01 17:49] Medros commented on #5498
I know this is closed but I was hoping someone could help with my issue. I don't know what to do to fix it. As soon as I try one thing I get a different error.

``
changeSite: () => {
		return SystemJS.import('app/lib/components/sites-list/sites-list.js')
		.then((SitesList) => {
			return SitesList.prepareList()
			.then(() => {
				SitesList.init({
					forceShow: true,
					createLink: Navigati

[2016-09-01 18:00] platinumazure commented on #5498
@Medros Please stop by in the [Gitter chat](https://gitter.im/eslint/eslint) to discuss. (And please include info about what errors you're getting and on which lines!) Thanks!

[2016-09-01 18:34] TheCycoONE commented on #6690
@nzakas were you thinking a user defined white list of functions to give special treatment to, or ambiguous indentation for top level functions?

[2016-09-01 19:10] halleycarleton opened #7036 "Add allowPattern to no-invalid-this"
**What version are you using?**
3.4.0

**What did you do?**
Wrote mocha tests with `no-invalid-this` enabled

[code]

**What happened?**
Received error `(no-invalid-this) Unexpected 'this'.`

**What did you expect to happen?**
Expected not to receive errors for using `this` keyword in `describe` callback when env is mocha.

I think the best solution would be to add an allowPattern option(or simila

[2016-09-01 20:53] nzakas opened #7037 "Release on September 9, 2016"
The scheduled release on Friday, September 9, 2016 is assigned to:

* @btmills
* @nzakas

This issue should be closed when the release has been completed.

[2016-09-01 20:54] btmills commented on #7006
Based on discussion in the 2016-09-01 TSC meeting, we believe supporting both `es6` and `es2015` in parallel or renaming `es6` to `es2015` would be more confusing  than keeping the name as-is. `es6` will remain, and we will use year-based naming starting with the 2017 edition. (ES7/ES2016 introduced no new globals, so it doesn't have its own environment.)

[2016-09-01 20:54] #7006 closed

[2016-09-01 20:54] nzakas opened #7038 "Release on September 23, 2016"
The scheduled release on Friday, September 23, 2016 is assigned to:

* @gyandeeps
* @ilyavolodin

This issue should be closed when the release has been completed.

[2016-09-01 20:59] alberto commented on #6974
Since you mentioned parsers are used by other tools, isn't `parseForESLint` too specific of a name?

[2016-09-01 21:01] btmills commented on #6974
This proposal is accepted after discussion in the 2016-09-01 TSC meeting. We can add the "accepted" label after @alberto's question on the name is resolved.

[2016-09-01 21:04] jschaf commented on #7031
Gotcha, thanks for the info.  This is pretty far outside the normal use case, so I'll close it.

[2016-09-01 21:04] #7031 closed

[2016-09-01 21:56] azhang496 commented on #6065
i can work on this!

[2016-09-01 22:20] domenic opened #7040 "Exclude Emacs backup files from globs by default?"
**What version of ESLint are you using?** 3.2.2

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:** Seems unrelated to the issue at hand. The relevant line is in my npm scripts: `"lint": "eslint \"{lib,test}/**\""`

**What did you do? Please include the actual source code causing the issue.** Ran eslint on a computer that uses emacs

**Wh

[2016-09-01 22:28] mysticatea commented on #7030
`eslint-disable-line` and `eslint-disable-next-line` are supported in only line comments.

[code]

It might be convenient for JSX if those are supported in block comments also.

[2016-09-01 22:34] kaicataldo commented on #7030
The reason I labeled it a bug is that if you break the JSX up in different ways the comment doesn't always disable warnings on the next line.

[2016-09-01 22:55] alberto commented on #6065
Go ahead @azhang496!

[2016-09-01 22:59] mysticatea commented on #6052
@not-an-aardvark Thank you for contributing!

- 6th valid item seems to have wrong body indentation.
- The default behavior should be current behavior (backward compatibility).
- The last valid item, interesting. Personally, it looks good. If someone sets `parameters: "first"`, it implies they will write the first parameter to the right of `(` because parameters are aligned automatically if they w

[2016-09-01 23:08] mysticatea commented on #7023
[no-multi-spaces](http://eslint.org/docs/rules/no-multi-spaces) rule has the responsibility to disallow multiple spaces.

[2016-09-01 23:33] mgol commented on #7006
OK. Thank you for considering my proposal.

[2016-09-02 00:09] paladox commented on #7011
Oh ok thanks.

[2016-09-02 00:12] kaicataldo commented on #6070
Since my comment, I wrote the `lines-around-directive` rule in which we decided to go for not checking at the beginning or end of blocks by default (so the opposite of what I argued for earlier in this thread). Given that, for consistency, I think we should do the same thing here, but I think we should make sure to outline this behavior in the docs and make it very clear. [Here](https://github.com

[2016-09-02 00:22] kaicataldo commented on #6065
Thanks for all the recent contributions to ESLint, @azhang496!

[2016-09-02 00:39] platinumazure commented on #7040
Have you tried using a more specific glob pattern, such as `eslint "{lib,test}/**/*.js"`?

[2016-09-02 00:52] kaicataldo commented on #7023
@mysticatea is right - I don't think this buys us anything that the `no-multi-spaces` rule doesn't already do.

[2016-09-02 00:53] platinumazure commented on #7023
I'd forgotten about that rule myself.

@Thoro Does `no-multi-spaces` cover your use case?

[2016-09-02 01:27] tyoshino commented on #7040
`**/*.js` should also work as we don't have any file with non js extension. Also in the sense of preparing for possible addition of e.g. md files to the subdirectories in the future, just glob-ing .js files would be the best thing to do, yeah.

[2016-09-02 01:34] platinumazure commented on #7040
We also support directories (including multiple directories), at which point those get expanded to JS-only globs (unless you use `--ext` as well), such as `eslint lib test`.

Since there are a few ways around this, both in terms of specifying more precise globs and using directories to avoid globs, I don't think we want to make our default more magical by looking for different forms of backup file

[2016-09-02 02:13] tyoshino commented on #7040
Oh, that's nice. Got it. Please close this as WontFix. Thanks!

[2016-09-02 02:53] kaicataldo commented on #7040
Looks like this question has been resolved. Thanks!

[2016-09-02 02:53] #7040 closed

[2016-09-02 03:02] alexsunxl commented on #7033
@platinumazure  Yes, I request a new rule that enforeces new line before functin declaration
1. yes
2. no
3. I'm don't realy know about that
4. classes also need a line break before it declared.  here is a example

/* this should be error  */
import React from 'react'
class Foo extends React.Component  {
}

/* this should be ok  */
import React from 'react'

class Foo extends React.Component  {
}

[2016-09-02 03:04] kaicataldo commented on #7036
Hey there, thanks for the issue! I'm interested in a more solid proposal of how this new option would work, since the rule is behaving as intended.

[2016-09-02 03:22] kaicataldo commented on #7011
Going to close this, since it looks like the question has been answered. Please feel free to stop by the [Gitter chat](https://gitter.im/eslint/eslint) with questions if you need help!

[2016-09-02 03:22] #7011 closed

[2016-09-02 03:31] kaicataldo commented on #7012
Seems like it's the same issue that @platinumazure mentioned in his comment above. babel-eslint's parser produces a different AST than our default parser does and requires the use of some modified rules like `babel/generator-star-spacing`. Just to confirm, it sounds like you're saying everything works as expected when you use `babel/generator-star-spacing`, correct?

[2016-09-02 03:47] kaicataldo commented on #7007
I just tried this with the latest release of ESLint and am not seeing this behavior.

Linting
[code]
with the following config
[code]
yields this error:
[code]

[2016-09-02 03:51] kaicataldo commented on #7007
Check out this section of the configuration guide: http://eslint.org/docs/user-guide/configuring#extending-configuration-files

For specific questions and help, please feel free to drop by our [Gitter](https://gitter.im/eslint/eslint).

[2016-09-02 03:57] kaicataldo commented on #7007
Sorry for all the label switching - I goofed. @BloodyStupidViktor we'll be able to help you a lot better if you can please fill out the issue template :)

[2016-09-02 04:15] halleycarleton commented on #7036
@eslintbot I actually already followed the link to Proposing a Rule Change and filled out the appropriate information.

@kaicataldo Sure, I can spend some time this weekend putting together something a bit more concrete. The rule is certainly behaving as intended, this is more of a request for an added feature to the rule.

[2016-09-02 04:20] kaicataldo commented on #7036
@halleycarleton Thanks, that would be great! I'm curious what you envision the config would look like and what kind of check `allowPattern` would make to know whether a pattern is allowed or not.

[2016-09-02 06:04] btmills commented on #6287
I'll champion, marking as accepted. @ljharb can you push that in-progress branch somewhere? I might have an idea for how to report after all have been counted rather than just max + 1...

[2016-09-02 06:09] ljharb commented on #6287
@btmills done! https://github.com/ljharb/eslint/tree/ljharb/max_statements_per_line_message

[2016-09-02 06:39] Spy-Seth commented on #7012
It seems yes.

[2016-09-02 07:33] Thoro commented on #7023
@platinumazure No, doesn't look like it also handles spaces around blocks, at least my test cases throw no errors.

[2016-09-02 07:58] mysticatea commented on #3307
The implement of this issue has done in #6640.
Tweaking of core rules remains.

[2016-09-02 08:07] vitorbal commented on #7012
Alright. The solution here then is to use `babel/generator-star-spacing` until we support async functions in core. Closing, as the issue seems to be resolved. Please reopen if there is more to discuss.

[2016-09-02 08:07] #7012 closed

[2016-09-02 08:10] mysticatea commented on #6070
I'm sorry that I had lacked response for this issue.

I think good to avoid confliction with `padded-blocks` rule by default and no option.
As my memory, we have been making rules as so, except `lines-around-comment` rule.

[2016-09-02 08:45] mysticatea commented on #7033
Thank you for this issue.

There are related discussions about blank lines around blocks: #3092, #5949, #5982

[2016-09-02 08:53] ypresto commented on #6947
No problem, thanks for considering this rule..!

[2016-09-02 08:54] mysticatea commented on #7036
There was related discussion: #3600

[2016-09-02 08:58] mysticatea commented on #7036
Ah, also there was another discussion at the first time: https://github.com/eslint/eslint/pull/2857#issuecomment-122553664

[2016-09-02 09:07] mysticatea commented on #7023
I think this should be the issue for `no-multi-spaces` rule rather than `space-before-blocks` rule.
Could you tell us your config (`.eslintrc`)?

[2016-09-02 09:08] Thoro commented on #7023
[code]

test file:

[code]

[2016-09-02 09:14] Thoro commented on #7023
whoops, my have had an issue with my local build of eslint - sorry about that!

[2016-09-02 10:59] vitorbal commented on #6065
Yeah, thanks, @azhang496! Great job :)

[2016-09-02 12:20] halleycarleton commented on #7036
@mysticatea Thanks for pointing out those previous discussions. Since this has already been discussed I will close this issue.

[2016-09-02 12:20] #7036 closed

[2016-09-02 12:38] caesarsol commented on #4613
This is the feature I'm looking for, @mattdell were you able to find/create anything?

[2016-09-02 12:40] caesarsol commented on #4613
Oops, just found: https://github.com/eslint/eslint/issues/5949
It was named in a way I couldn't "keyword"

[2016-09-02 12:51] caesarsol commented on #5949
Hello, I'd like to join the discussion. Just a couple thoughts:

 - The `lines-` in the name `lines-between-class-methods` has no precedent in other rules. I would (and I did) search for it in a way that is already expressed in similar already-existant rules, as:
  + http://eslint.org/docs/rules/newline-before-return
  + http://eslint.org/docs/rules/padded-blocks

-  I'd mentally associate this ru

[2016-09-02 13:05] jonathanj opened #7042 "VariableDeclarator cannot accommodate multiline const declarations with 4-space indent"
**What version of ESLint are you using?**

3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected no linting errors regarding the indentation of the declaration of `b`.

**What actually ha

[2016-09-02 13:15] paladox commented on #7011
Ok thanks.

[2016-09-02 13:36] ilyavolodin commented on #7023
Closing. The issue has been resolved.

[2016-09-02 13:36] #7023 closed

[2016-09-02 14:21] azhang496 commented on #6065
thanks everyone for being so welcoming! :)

[2016-09-02 15:22] #5344 closed

[2016-09-02 16:30] vitorbal commented on #7042
Hi @jonathanj, thanks for reaching out! There's been some discussions around this already in https://github.com/eslint/eslint/issues/6296.

Basically, the indent rule is pretty complicated right now and we would like to sketch a proposal on how to re-work some of its options, including `VariableDeclarator`. If you have any suggestions, be sure to drop a comment on that discussion.

Closing this in

[2016-09-02 16:30] #7042 closed

[2016-09-02 16:31] #3218 closed

[2016-09-02 16:44] nzakas commented on #6974
@alberto the `parse` is present for other tools to use in an Esprima-compatible way. The `parseForESLint` name is specific so it signals that it's not a appropriate for other tools to use.

[2016-09-02 16:47] nzakas commented on #6690
The latter. I think the simplest thing would just be to have an option that the first function expression that's either assigned to a global or passed as an argument to a global is not indented.

[2016-09-02 16:48] TheSavior commented on #3218
@willklein since this was a joint effort, I'm happy to donate the $15 bounty to a charity. Any recommendations? Planned Parenthood?

[2016-09-02 16:52] nzakas commented on #3218
You need to claim the Bounty first, then you can do whatever you want with it. Go to https://www.bountysource.com/issues/25204515-a-rule-to-disallow-properties-from-being-called-on-an-object to get started.

[2016-09-02 16:55] TheSavior commented on #3218
Yep. I didn't want to claim it until @willklein and I figured out what we wanted to do with it since it was a joint effort.

[2016-09-02 17:15] #6977 closed

[2016-09-02 17:34] schmod commented on #1238
Chiming in to say that eslint is pretty much the only widely-used tool in the JS ecosystem that behaves this way.  It's unintuitive and the workaround is not difficult.

[2016-09-02 17:38] platinumazure commented on #6299
Okay, here's what I've done so far:

* I removed duplicate, invalid, and priority.
* I changed the color of "beginner" to `#006b75` (I believe that was the color "priority" was originally). It's a dark blue-green, let me know if you think it's too close to "bounty".
* I changed "needs prototype" to be same color as "needs bikeshedding".
* I changed "question" to be `#d4c5f9`, to get it away from "

[2016-09-02 18:14] willklein commented on #3218
@TheSavior, thanks, that's a great idea and it's all up to you.

[2016-09-02 18:22] btmills commented on #6287
@ljharb thanks! Just left a comment on that wip commit with an idea :party:

[2016-09-02 18:26] not-an-aardvark commented on #6052
It looks like with the current behavior, the indentation of function parameters isn't checked at all:

[code]

So we should only check parameter indentation if the user explicitly includes the `parameters` option.

[2016-09-02 19:48] azhang496 commented on #6065
should there be an option for other reserved/ignored words in addition to `module.exports`?

[2016-09-02 20:48] nzakas commented on #6065
I think we can just special case module exports for now and leave it open in case other special cases pop up later.

I would suggest, though a slightly different format for the option, as I think the original is unclear:

[code]

Where `includeCommonJSExports` is false by default and true to enable. I think that's a lot clearer and also disambiguates between CommonJS modules and ES modules.

Sorry

[2016-09-02 20:52] nzakas commented on #1238
Sorry everyone, this issue is closed. We have tried solving this problem in the past and its far more complicated than it seems. If you think you have a solution, please submit a pull request so we can review it. I'm locking this issue now because we are not planning on looking this any further (note the issue is two years old).

[2016-09-02 20:55] nzakas commented on #6299
Sometimes people report website issues in this repo (site is down, etc.). Rather than forcing them to open an issue elsewhere, it's easier to just handle it here, so I'd keep that label.

[2016-09-02 20:59] platinumazure commented on #6299
@nzakas Okay, sounds good. I've changed "website" to a color that was unused. Let me know if you want me to change or revert anything, otherwise one of us can close this issue.

[2016-09-02 21:43] ljharb commented on #6287
Thanks, that did it. PR incoming.

[2016-09-03 00:38] nzakas commented on #6299
Done!

[2016-09-03 00:38] #6299 closed

[2016-09-03 00:42] nzakas commented on #7014
Seems reasonable. 👍

To echo what @vitorbal said, if we can't be 100% correct with the fix, we shouldn't attempt it. So in the case of comments, we should just skip that.

[2016-09-03 04:53] mysticatea commented on #6065
I'm OK.
Just one point, `includeCommonJSExports` sounds that it will change the behavior of both `module.exports` and `exports.foo`. What about `includeCommonJSDefaultExports` or `includeCommonJSModuleExports`?

[2016-09-03 06:34] ljharb opened #7046 "eslintbot should not double-comment "LGTM" on PRs"
Essentially, after eslintbot has commented "LGTM" on a PR, if I rebase and re-force-push, it comments "LGTM" again. This doesn't really seem to serve a purpose except to trigger redundant email notifications.

It would be nice if eslintbot deduped - essentially, if the comment it's about to make is identical to the latest comment it's left, it refrained from commenting.

Thoughts?

[2016-09-03 11:43] Kerumen commented on #5150
Another way to do it, maybe a bit less verbose, is with parenthesis:

[code]

[2016-09-03 14:10] #6988 closed

[2016-09-03 15:23] #6854 closed

[2016-09-03 15:33] nzakas commented on #7046
This is working as designed. We need the bot to run each time a PR is updated to make sure no problems have been introduced. We used to only run it the first time, but we ran into situations where a PR was okay and then a problem was introduced, and of course, vice versa.

I know it's a bit annoying, but it's a small price to pay to verify the PR and to know that the bot actually ran again (if the

[2016-09-03 15:36] ljharb commented on #7046
I totally get that the bot should run every time - it just seems unnecessary to post a comment when the status hasn't changed. It could, for example, update its previous LGTM with the new sha that it's marking, or any number of other things that wouldn't generate an email.

[2016-09-03 15:40] ljharb commented on #7046
Another alternative is that you could use a required Github status check instead of a comment bot, which would enforce things more strongly, with an always-visible status, without any comment noise whatsoever (in the case of a LGTM).

[2016-09-03 15:45] nzakas opened #7051 "Fix max-statements-per-line"
While reviewing https://github.com/eslint/eslint/pull/7044, I find that `max-statements-per-line` has an undocumented and confusing behavior. For some reason, we allow an option of `max: 0`, which seems like a mistake (though intentional because there are tests). It looks like the only time this is triggered is when there's an empty blocks statement and there's a special case for that in the code:

[2016-09-03 15:52] platinumazure commented on #7046
I'd be interested to see if it could be implemented as a status check, but am not strongly opposed to the current behavior.

[2016-09-03 15:52] #4616 closed

[2016-09-03 17:23] platinumazure opened #7052 "no-regex-spaces should use internal rule message format"
Now that #7041 is merged, I can fix no-regex-spaces to use the internal message format.

PR incoming shortly.

[2016-09-03 18:19] platinumazure commented on #6954
Dang, we haven't had any movement here in a while.

I'm in favor, but I'm not sure if this requires TSC consensus. @btmills What are our next steps here?

[2016-09-03 18:40] vitorbal commented on #6994
:+1:

[2016-09-03 18:46] #7052 closed

[2016-09-03 21:19] kaicataldo commented on #6979
Marking as accepted because we have a number of thumbs on @nzakas's proposed details. I'm happy to make a PR to add this to our docs!

[2016-09-03 21:23] kaicataldo commented on #7046
I'd support looking into making it a status check that marks as good or marks as not good and comments on the cause of the failure.

[2016-09-04 12:04] mysticatea commented on #7013
I will go to a champion.
Then, there are 3 :+1:s from the team.

[2016-09-04 16:44] vitorbal commented on #6070
Thanks @kaicataldo and @mysticatea for the quick replies!

In that case, I would like to champion this rule (and I'm also willing to implement it). Counting @kaicataldo 's thumbs up we need two more now. @mysticatea @platinumazure any of you gentlemen interested? 😃

[2016-09-04 17:02] mysticatea commented on #6070
Honestly, I'm not sure why `module.exports` is special.

- What about `exports.foo`?
- Actually, is it enough if `lines-around-block`-like rule (which covers function expressions) exists?

[2016-09-04 17:38] TheSavior opened #7056 "Implement autofix for no-implicit-coercion"
**What version of ESLint are you using?**
3.0.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Seems unnecessary

**What did you do? Please include the actual source code causing the issue.**
I tried to use the --fix command with

[code]

**What did you expect to happen?**
I expected it to fix my source

**What actually happened? Ple

[2016-09-04 18:33] jrsearles commented on #6828
Great - what option names are a concern? The enums ("always", "never", "ignore")? Or "noCuddledElse" and "noCuddledCatchFinally"?

[2016-09-04 18:42] platinumazure commented on #7056
Just for the convenience of anyone perusing the issue, could you show the messages you receive so we can see exactly what fixes you have in mind?

[2016-09-04 18:43] platinumazure commented on #7014
:+1: from me, now we just need a champion.

[2016-09-04 19:01] TheSavior commented on #7056
Yeah, I plan on digging into this. I updated the current tests with example fixes:

https://github.com/TheSavior/eslint/blob/fix-conversion/tests/lib/rules/no-implicit-coercion.js#L80

[2016-09-04 19:09] TheSavior commented on #7056
Essentially, this rule right now reports exactly what to replace each node with. I recommend that when using the fix option, it just does that exact change.

[2016-09-04 20:26] btmills commented on #7051
@nzakas what is the desired behavior when `max` is 0? Does it silently ignore that setting?

[2016-09-04 20:53] btmills commented on #6954
Since this isn't so much a core feature as it is an internal chore, I can't think of anything that would require TSC here. Next step be consensus and acceptance. I'll add my :+1:. @vitorbal since you're willing to implement, are you also championing? It looks like @ilyavolodin :+1:'d my original comment, so assuming that counts as another (ref https://github.com/eslint/eslint/issues/6424#issuecomm

[2016-09-04 21:45] vitorbal commented on #6954
Sure, I'll champion!
On Sun, Sep 4, 2016 at 10:53 PM Brandon Mills <notifications@github.com>
wrote:

[2016-09-04 21:45] btmills commented on #6736
@LegNeato thanks for your patience and for putting together that repro. I'm getting the same results now.

Before I consider the bug verified and accept the issue, are we comfortable treating the "single" option as a synonym for default imports and the "multiple" option as a synonym for named imports?

If accepted as stated, this would be a semver-minor change, as it could result in more errors in

[2016-09-04 22:01] vitorbal commented on #5150
It looks like there's been a lot of support from the community lately for an option to ignore concise arrow-functions.
Since we originally closed this citing lack of support, I am hoping we can reach a consensus for a solution here, so I'm reopening this. If we can make it happen I'm willing to work on a PR for it.

[2016-09-04 22:40] mysticatea commented on #5150
I'm :-1:.
This request sounds the opposite of this rule's purpose.
Such change/option will make a hole to allow the `list.filter(x => x.code = 1)`-like mistakes.

Use of braces/parentheses makes clear the code.

[2016-09-04 22:44] scottohara commented on #5150
@mysticatea Please note my earlier comment that the use of braces/parens conflicts with other rules: https://github.com/eslint/eslint/issues/5150#issuecomment-191515093

[2016-09-04 22:49] platinumazure commented on #5150
@scottohara Have you looked at the options for no-extra-parens? I believe it is possible to suppress a warning of that rule for assignments in particular using an option. In that regard, both no-return-assign and no-extra-parens will happily allow use of parens to denote an intentional assignment here. (Compare with no-cond-assign.)

If it turns out that the current behavior does not match no-cond

[2016-09-04 22:56] mysticatea commented on #5150
@scottohara `no-extra-parens` has the option to allow parentheses around such assignments.

[code]

[2016-09-04 23:02] scottohara commented on #5150
OK, thanks @platinumazure / @mysticatea ; it looks like that is a new option that has been added since my original comment.

[2016-09-04 23:15] #6068 closed

[2016-09-04 23:34] btmills commented on #5150
While I agree with the rest of the team here that the rule is behaving correctly and that disabling it defeats the purpose of the rule, given the choice between users disabling the rule entirely or just disabling the check for concise arrow functions, I'd rather they use part of the rule than none of it. Since so many people want it, I would support adding an option that would disable this check o

[2016-09-05 04:12] TheSavior opened #7057 "no-implicit-conversion should not warn on "" + "foo""
**What version of ESLint are you using?**
3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
Running the test suite

**What did you do? Please include the actual source code causing the issue.**
I added a test that the following should be valid:

[code]

and ran

[code]

**What did you expect to happen?**
I expected these to be val

[2016-09-05 12:06] platinumazure commented on #7057
Just to be clear, the issue here is that there is no conversion because the other operand is definitely the same type?

[2016-09-05 12:40] smmoosavi opened #7059 "Bad file extenstions matching."
[code]
**What version of ESLint are you using?**

v3.4.0

**What did you expect to happen?**

`--ext .js` should not match `index.ejs` file.

**What actually happened? Please include the actual, raw output from ESLint.**

file `index.ejs` was matched and caused error.

[2016-09-05 12:47] platinumazure commented on #7059
When you use a glob pattern (instead of a directory), the `--ext` CLI flag is basically ignored.

You have two options here:

* Your glob pattern could be more specific: `src/**/*.js`
* You can use a path and `--ext`: `./node_modules/.bin/eslint src --ext .js`

[2016-09-05 17:08] kaicataldo commented on #7057
Seems like a bug to me, give that no coercion is happening.  Confirmed locally.

[2016-09-05 17:39] kaicataldo commented on #7056
:+1: from me. Given that we already calculate the replacement for the error message, should be pretty straight forward!

[2016-09-05 18:09] TheSavior commented on #7057
@platinumazure yep, exactly.

[2016-09-06 01:54] stephenhuh commented on #5805
nice, can't wait to see this merged.

[2016-09-06 02:14] sstern6 commented on #7051
@nzakas I would like to make a PR for this, this will be my first PR in the code base if you are ok with me taking this on.

Thank you

[2016-09-06 02:51] kaicataldo opened #7062 "`no-implicit-coercion` does not check template literals"
**The version of ESLint you are using**
Master

**The problem you want to solve.**
While working on https://github.com/eslint/eslint/pull/7060 I noticed that `no-implicit-coercion` does not check for implicit coercion using template literals. While this isn't a common practice, I think we should add it for the sake of completeness.

**Your take on the correct solution to problem.**
`no-implicit-co

[2016-09-06 02:57] platinumazure commented on #7062
:+1: from me.

[2016-09-06 03:16] kaicataldo commented on #6053
Will be starting on this in the next few days.

[2016-09-06 04:56] krainboltgreene opened #7064 "no-underscore-dangle rule is either broken or the documentation is wrong"
**What version of ESLint are you using?**
3.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
https://gist.github.com/krainboltgreene/a8e6ae9c76869a75b087317c4b5882c2

**What did you do? Please include the actual source code causing the issue.**
Wrote:

[code]

**What did you expect to happen?**

No linting errors.

**What actu

[2016-09-06 06:05] ljharb commented on #7064
The [documentation](http://eslint.org/docs/rules/no-underscore-dangle) implies to me that although you can *reference* something with double underscores (the RHS), you can't actually define a variable that way (the LHS) with the rule enabled. Note `var __proto__ = {};` marked as an error.

I'm not sure what the intention of the rule is, nor if the documentation should be improved, but imo this cod

[2016-09-06 06:34] krainboltgreene commented on #7064
@ljharb So why is the demo marking it as lint free?

[2016-09-06 06:36] ljharb commented on #7064
`__filename` is magically provided to node modules by node itself; I'm assuming that's what the example was referring to.

I'm not sure why the demo allows it - that sounds like a bug in the demo.

[2016-09-06 06:41] krainboltgreene commented on #7064
Ah, I didn't know it was a special reference.

So this rule enforces:

No `_` (of any amount) before or after a variable or property name.
  - Unless it's underscore, a special library apparently.
  - Unless it's `__proto__` which is provided by the system.
  - Unless it's `__filename` which is provided by node.
  - Unless it's `__dirname` which is provided by node.

This feels like a very weird r

[2016-09-06 06:48] ljharb commented on #7064
Underscores aren't "private property syntax" - JS doesn't have privacy, although there is in fact a [state 1 proposal](https://github.com/tc39/proposal-private-fields) for actual privacy.

Barring that, everything reachable is public, whether there's an underscore in front of it or not - many [style guides](https://github.com/airbnb/javascript#naming--leading-underscore) discourage it because it c

[2016-09-06 06:50] krainboltgreene commented on #7064
Yes @ljharb, I know all of that.

[2016-09-06 07:02] vitorbal commented on #7062
:+1:!!

[2016-09-06 10:08] gabro opened #7065 "New rule request: naming conventions of methods"
I looked for a rule for enforcing naming conventions on methods of a class but I couldn't find any.

As an example, the AirBnb style guide for React [forbids prefixing methods with an underscore](https://github.com/airbnb/javascript/tree/master/react#methods), but there is no way in ESLint to enforce it.

The rule I'm proposing would be an equivalent of [`no-underscore-dangle`](http://eslint.org/d

[2016-09-06 13:03] vitorbal commented on #6070
@mysticatea those are good points.
- I think we should address `exports.foo` in this rule as well.
- do you mean expression statements or really function expressions? could you show an example of how you would imagine this rule?

[2016-09-06 14:16] ilyavolodin commented on #7051
@btmills I think what @nzakas means is we should tweak schema to not allow 0 value at all.

@sstern6 Go for it! We are always glad to accept contributions from new people!

[2016-09-06 16:04] sstern6 commented on #7051
@ilyavolodin thank you, will hopefully have a PR open in a few days.  Will let you know if I have any questions about execution etc.

[2016-09-06 16:06] #6287 closed

[2016-09-06 16:18] kaicataldo commented on #7064
Thanks for the issue report, @krainboltgreene.

Apologies if I'm missing something, but I'm not sure I'm following. It looks like `const __foo = 1` is being flagged as an issue, but you also mentioned:

Those seem contradictory to me - mind clarifying?

As for the rule itself - I'm not too familiar with this rule, but looking at the source, it looks like it allows for two special cases: `__proto__

[2016-09-06 16:20] kaicataldo commented on #7064
Ah, I think I see why - it's because there's no guarantee you have control over properties of objects, as you may not have any control over the naming scheme of those properties (i.e. they may be imported or the result of parsing JSON). We could definitely do a better job at making this clearer in our documentation.

[2016-09-06 16:47] vitorbal commented on #7065
Could this be simply an extension of the `no-underscore-dangle` rule instead of a new rule? We could have an option e.g. `disallowForMethodNames` (or `allowForMethodNames` with default true).

[2016-09-06 16:49] vitorbal commented on #7018
Closing this, as I believe my previous comment is an acceptable solution. Please re-open if anyone disagrees!

[2016-09-06 16:49] #7018 closed

[2016-09-06 16:51] vitorbal commented on #6961
@MrOutput one last ping, could you take the time to answer the questions from the @eslintbot above? Otherwise I'm afraid we can't help much and I'm just going to close this. Thanks!

[2016-09-06 16:51] gabro commented on #7065
@vitorbal yes I think so, provided that we choose to limit this to underscores.

My current implementation is wider and allows defining a regex to test against. If that's deemed to be interesting we could have a `naming-convention` rule to rule them all (testing a regex against identifiers, maybe providing some default cases like dangling underscores).

[2016-09-06 16:53] ljharb commented on #7065
I definitely think `no-underscore-dangle` should be warning on concise object method names as well as class method names - it seems like an oversight that it doesn't already do that.

[2016-09-06 16:59] gabro commented on #7065
Concerning the possibility of extending this to arbitrary regexes, I think it wouldn't unreasonable for a team to want to enforce a convention like: `no snake case for methods and variables`. This would allow forbidding:

[code]

as well as

[code]

which seems impossible with ESLint as of today.

After all, many linters of other languages support matching a regex for enforcing naming conventions.

[2016-09-06 16:59] platinumazure commented on #7065
@gabro Have you looked at `id-match`? That supports a regular expression pattern but it might not enforce for method names.

[2016-09-06 16:59] gabro commented on #7065
@platinumazure totally missed it, let me check

[2016-09-06 17:11] gabro commented on #7065
@platinumazure apparently `id-match` checks any `Identifier`, so it works for class properties and methods! Thanks, I didn't know about it.

That being said, I think it's fairly difficult to use as there's no way of limiting its scope to methods.

Also, it already overlaps with `no-underscore-dangle`.

So my proposal would be to extend `no-underscore-dangle` to include methods and class properties

[2016-09-06 17:11] nzakas commented on #7046
Changing to a status check would require a rewrite of the bot (which is used on all of our repos, not just this one). Right now it's very generic in that it just outputs stuff in relation to a PR. Making such a change is a bunch of work and I just don't see enough value to prioritize this over other things we have on our plate.

[2016-09-06 17:12] nzakas commented on #6979
@kaicataldo go for it

[2016-09-06 17:13] nzakas commented on #7051
@btmills yes, what @ilyavolodin said. The minimum for `max` should be set to 1 in the schema.

[2016-09-06 17:14] nzakas commented on #6724
@kaicataldo @JamesHenry do either of you want to tackle this?

[2016-09-06 17:16] platinumazure commented on #7065
@gabro To be honest, I would prefer extending `id-match` to support different patterns for different types of identifiers. But let's see what others think.

Long term, it would be great to deprecate and remove `no-underscore-dangle` since it's basically covered by `id-match`, but I don't think that's going to get a lot of traction with the team.

[2016-09-06 17:18] platinumazure commented on #7051
@sstern6 Thanks for volunteering to take this on! If you have questions, feel free to either leave a comment in the issue or stop by our [Gitter chat](https://gitter.im/eslint/eslint).

[2016-09-06 17:19] btmills commented on #7051
@ilyavolodin @nzakas got it, thanks! If we're making the schema more restrictive, then this should be a semver-minor change, right?

[2016-09-06 17:20] ljharb commented on #7065
I don't want to have to configure `id-match` to prevent underscores :-/

[2016-09-06 17:55] platinumazure commented on #7065
Hmm... I think I had mixed up `no-underscore-dangle` and `camelcase` in my mind. To me, camelcase is definitely redundant. I could see an argument that no-underscore-dangle is actually useful and different since it primarily checks the beginning and end of identifier names. So, okay, I'm no longer gunning to deprecate no-underscore-dangle.

I'm not really sure what the best approach is here, thoug

[2016-09-06 17:57] ljharb commented on #7065
I also don't want to have to configure `id-match` to prevent camelcase. Forcing people to use regex for common cases is bad news bears imo.

[2016-09-06 18:04] platinumazure commented on #7065
Okay, we've gone off track. That's my fault, I apologize, but let's please get back on track.

If we can get a full proposal for extending no-underscore-dangle to optionally support method names and class properties, then the team can evaluate.

Sound good? :smile:

[2016-09-06 18:07] JamesHenry commented on #6724
I will take a stab at it and perhaps submit my work to @kaicataldo for discussion?

I believe it is quite a difficult task. Without an existing spec for how comments should be attributed, I believe we just have to find a way reverse-engineer existing test assertions into some well-defined logic. I attempted something similar to this already in the typescript parser but was forced to give up at the

[2016-09-06 18:08] JamesHenry commented on #6974
@nzakas with this now accepted, does your PR just need to submitted for final review? As soon as ESLint is updated, we can finalise the implementation in the typescript-eslint-parser.

[2016-09-06 18:16] kaicataldo commented on #6724
@nzakas @JamesHenry Sounds like an interesting challenge! Happy to help in any way I can (whether it's working on it myself or collaborating/discussing with @JamesHenry). I've worked on comment attachment in Espree - so have some working knowledge in that area - but I'm not an expert by any means :)

[2016-09-06 18:21] #6994 closed

[2016-09-06 19:06] #6052 closed

[2016-09-06 19:39] platinumazure commented on #6874
I've been pretty busy with some other issues (both code I'm writing and issues I'm trying to shepherd through), so this has unfortunately fallen by the wayside. I'm hoping to confirm on ESLint 3.x this week and set up a fake plugin repo to prove the issue.

If we can keep this open a little while longer, I'd be most grateful. :smile:

[2016-09-06 19:40] platinumazure commented on #6740
@eslint/eslint-tsc I've put a "help wanted" on this issue since it's a low priority for core team but could still be worth doing. Please remove the label if this is not desired. Thanks!

[2016-09-06 19:59] julesmoretti commented on #7000
@platinumazure sorry for the delay. Yes it does:

See attachment:

![screen shot 2016-09-06 at 12 58 41 pm](https://cloud.githubusercontent.com/assets/744300/18288789/b503b8e2-7431-11e6-8bd1-7a19865ce2ef.png)

[2016-09-06 20:58] platinumazure commented on #7000
@julesmoretti Then it seems this is an issue only on the first line (where we presume that the first line might define the base indent for the rest of the file).

I'm not sure if we can change this as a bugfix-- we might need to make it an enhancement (i.e., add a new option that says assume first line indent should absolutely be zero).

Does that sound good to you?

[2016-09-06 21:24] #7013 closed

[2016-09-06 21:31] ilyavolodin commented on #7051
@btmills Was just about to say that. I'm actually not sure if even semver-minor would be enough, since it's a breaking change for anyone using `max: 0`... Granted, `max: 0` doesn't make a whole lot of sense to begin with, so there shouldn't be anyone using it, but you never know.

[2016-09-06 23:22] julesmoretti commented on #7000
That sounds good to me @platinumazure thank you!

[2016-09-06 23:22] #7000 closed

[2016-09-07 01:04] MrOutput commented on #6961
no thanks

[2016-09-07 01:04] #6961 closed

[2016-09-07 03:33] platinumazure commented on #6828
Do we want to consider auto-fix as part of this enhancement request? Haven't seen any discussion on it here.