[2018-10-04 17:31] #8211 closed

[2018-10-04 17:32] nzakas commented on #8179
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-04 17:32] #8179 closed

[2018-10-04 17:32] nzakas commented on #7991
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-04 17:32] #7991 closed

[2018-10-04 17:33] nzakas commented on #7626
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-04 17:33] #7626 closed

[2018-10-04 17:35] nzakas commented on #7532
@Aghassi Updates are always posted on the issue, so no need to ask if there are updates. :)

As it stands, this issue is considered stale, and as such, will be closed unless someone volunteers to implement the change.

[2018-10-04 17:36] nzakas commented on #7481
@mysticatea @not-an-aardvark are either of you interested in addressing this?

[2018-10-04 17:37] nzakas commented on #7145
@kaicataldo @ilyavolodin are either of you still interested in implementing this?

[2018-10-04 17:38] nzakas commented on #6828
Closing this issue as there is a [plugin](https://github.com/jrsearles/eslint-plugin-brace-rules) that implements the functionality requested in this issue. We :heart: the ESLint community for filling in the gaps!

[2018-10-04 17:38] #6828 closed

[2018-10-04 17:46] Mouvedia commented on #8211
Seems like an oversight to me: should be fixed.

[2018-10-04 17:48] nzakas commented on #8308
This seems like a pretty significant bug. I'd like to take a stab at fixing this.

[2018-10-04 17:49] nzakas commented on #10896
@psmyrdek can you please try the command I mentioned and let us know if that provides the information you're looking for?

[2018-10-04 18:40] not-an-aardvark commented on #8489
I've addressed the second problem from https://github.com/eslint/eslint/issues/8489#issuecomment-318940154 in https://github.com/eslint/eslint-release/pull/27 as part of preparing the release scripts to support 2FA. I don't have plans to add other tests in the near future. How about we close this issue when https://github.com/eslint/eslint-release/pull/27 is merged?

[2018-10-04 23:07] platinumazure commented on #10905
Hi @GrayedFox, thanks for the issue.

I've just read the docs, and I think the key point is that any tokens listed in the rule's `exceptions` option must completely surround the expression.

Some examples:

[code]

If you think the documentation could be improved, we would welcome a pull request!
[code]

[2018-10-04 23:15] platinumazure commented on #10861
Is this really a bug in the rule? I'm reading the example as a regex which matches against a backslash anywhere in the string.

My understanding is that escaping the backslash would be required in both the `RegExp` constructor and in a regexp literal:

[code]

If I'm misunderstanding something, I would be grateful to learn what that is. Otherwise, I think this should be a documentation change (to

[2018-10-04 23:19] platinumazure commented on #10846
Working on this.

[2018-10-04 23:33] not-an-aardvark commented on #10861
When I run that code, I get an error:

[code]

[2018-10-04 23:46] not-an-aardvark commented on #10902
The issue wasn't reproducible bevause the code sample didn't contain any other statements after the `if`. I could reproduce the reported problems in the demo [here](https://eslint.org/demo/#eyJ0ZXh0IjoiZnVuY3Rpb24gZm4oKSB7XHJcbmZvcihjb25zdCBjb2wgaW4geHApIHtcclxuICBpZigheHAuaGFzT3duUHJvcGVydHkoY29sKSlcclxuICAgIHJldHVybjtcclxuICBzb21ldGhpbmdFbHNlKClcclxufVxyXG59Iiwib3B0aW9ucyI6eyJwYXJzZXJPcHRpb25zIj

[2018-10-05 04:27] not-an-aardvark commented on #10861
[![](https://imgs.xkcd.com/comics/backslashes.png)](https://xkcd.com/1638/)

[2018-10-05 04:28] sstern6 commented on #10861
@mysticatea im not understanding, how is it a valid pattern when `new RegExp("\\");` returns a syntax error?

[2018-10-05 04:29] mysticatea commented on #10861
I'm sorry, I misread it as `//` :sweat_smile:

[2018-10-05 05:45] FloEdelmann commented on #10861
`/\/` is an invalid RegExp, as the backslash is not escaped.
`/\\/` is fine.
In `new RegExp('\\')`, the backslash is just escaped in the string (in a string, e.g. `\n` is a valid character), so to escape it in both the string and the RegExp, one has to use `new RegExp('\\\\)`.

[2018-10-05 08:48] mysticatea commented on #10861
So this is a bug in [regexpp](https://www.npmjs.com/package/regexpp); it hasn't followed the https://github.com/tc39/ecma262/pull/910 spec update yet because I had overlooked it. I will update it.

[2018-10-05 13:14] platinumazure commented on #10721
I'll champion this.

@eslint/eslint-team Can we get some :+1:s on this please?

[2018-10-05 13:41] cameron-martin opened #10921 "Global assignment not counting as a usage for no-unused-vars rule"
**Tell us about your environment**

* **ESLint Version:** 5.5.0
* **Node Version:** v8.11.3
* **npm Version:** yarn 1.7.0

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the comma

[2018-10-05 14:49] platinumazure commented on #10921
Hi @cameron-martin, thanks for the issue.

[As noted in the docs](https://eslint.org/docs/rules/no-unused-vars#exported), ESLint needs to be informed that a variable is intended to be exported globally. Simply add a comment like this somewhere in your file:

[code]

And the rule should stop complaining. (Note that this only works in non-CommonJS, non-ES6 Module environments. If you're in one of th

[2018-10-05 15:12] cameron-martin commented on #10921
Thanks. That does work. However, [according to the docs](https://eslint.org/docs/rules/no-unused-vars#exported) it shouldn't:

Although I do not have `parserOptions.sourceType` set, [the default for `babel-eslint` is `module`](https://github.com/babel/babel-eslint#configuration)

[2018-10-05 15:28] JanisE commented on #10242
I agree with michaelficarra's suggestion about having the auto-fix in two modes.

I, for example, do not understand why would you add `no-debugger` rule in the error mode, and not want it to be removed by the auto-fixer. I'm running the auto-fixer only upon the final production version of my code, and the more it can do, the better. Fixing the no-debugger by just removing it (or commenting it out)

[2018-10-05 16:00] Dema commented on #10242
It fixes not only in error mode but in warning mode too. https://github.com/Microsoft/vscode-eslint/issues/208. I understand that in vscode you can disable this rule, but I use both vscode and vim.

[2018-10-05 16:04] ljharb commented on #10242
You should be able to configure any editor integration to only fix errors; if not, that’s a bug in the editor integration that shouldn’t force a change in eslint.

[2018-10-05 16:07] platinumazure commented on #10921
@cameron-martin ESLint is reading from the config, not interrogating the parser to see what the "effective" sourceType is.

I agree that `// eslint-disable-next-line` is probably the right approach here. ESLint can't cover every corner case.

[2018-10-05 16:07] zeorin commented on #10242
Autofixing this changes the execution, and is thus contrary to ESLint's design principles.

If people need an autofix version of this it's simple enough to create a plugin for it themselves.

[2018-10-05 16:13] cameron-martin commented on #10921
Gotcha. In that case I'm closing this. Thanks for your help!

[2018-10-05 16:13] #10921 closed

[2018-10-05 16:14] sstern6 commented on #10861
@mysticatea I was going to ask if this was a regexpp issue!  Thanks for the PR, so when this gets merged in we will need to update the regexpp package and then I was thinking that we should add a test to the test suite to avoid regressions for this use case?

Is this correct?

[2018-10-05 16:55] madbence opened #10922 "Ignore TypeScript type aliases in space-infix-ops"
**What rule do you want to change?**

`space-infix-ops`

**Does this change cause the rule to produce more or fewer warnings?**

No change for javascript, no more false positives for typescript.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Disable the rule for `VariableDeclarator`s where the parent node is a `VariableDeclaration` with a non-standard `kind` (n

[2018-10-05 17:47] platinumazure commented on #10623
@not-an-aardvark

I'm confused. Does espree not declare acorn as a dependency? Or do we have problems when npm dedupes the dependency tree, and you're referring to using bundled dependencies to get around the deduping behavior?

[2018-10-05 17:51] platinumazure commented on #10256
Working on this.

[2018-10-05 17:59] not-an-aardvark commented on #10623
Yes, this is what I was referring to.

I haven't looked deeply into it, but based on the discussion in https://github.com/acornjs/acorn/issues/713, `acorn@6` apparently makes it possible to avoid this problem if we upgrade espree to use `acorn@6` instead.

[2018-10-05 18:12] not-an-aardvark commented on #10861
@sstern6 It looks like the fix has already been published as a new version of `regexpp`. https://github.com/eslint/eslint/pull/10920 has the effect of upgrading `regexpp` and adding a test, as you suggested.

[2018-10-06 08:35] cotonne opened #10927 "Invalid type in config parameter "plugins" (eslintrc.json) generates a stacktrace"
**What is the purpose of this pull request? (put an "X" next to item)**

[ ] Documentation update
[X ] Bug fix ([template](https://raw.githubusercontent.com/eslint/eslint/master/templates/bug-report.md))
[ ] New rule ([template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-proposal.md))
[ ] Changes an existing rule ([template](https://raw.githubusercontent.com/eslint/eslin

[2018-10-06 15:52] jlchereau opened #10930 "eslint and prettier clash over aligning long a ? b : c statement with 4 space tabs"
For example
![image](https://user-images.githubusercontent.com/2556751/46573009-07987500-c987-11e8-9191-301f543ffa31.png)
but with 28 spaces:
![image](https://user-images.githubusercontent.com/2556751/46573012-1b43db80-c987-11e8-943d-0ae8391ae34e.png)

**Tell us about your environment**

* **ESLint Version:** 5.6.1
* **Prettier Version:** 1.14.3
* **Node Version:** 10.11.0
* **npm Version:** 6.4.1

[2018-10-06 17:10] platinumazure commented on #9929
I've started working on this. I have the basic AJV changes in a branch.

Tasks remaining:
1. Add at least some defaults to core ESLint rules
1. Ensure that user-supplied configurations are not mutated by AJV (via defensive cloning where needed)

If anyone wants to try the branch for local testing, it can be found here: https://github.com/eslint/eslint/tree/json-schema-default

[2018-10-07 01:36] mercmobily opened #10932 "Erroneous indentation warning in template literals contents"
**Tell us about your environment**
* **ESLint Version:** 5.6.1

* **Node Version:** 8.12.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-10-07 03:05] andrewmiller1 opened #10933 "Disable next line should disable the next effective line"
**What rule do you want to change?**

eslint-disable-next-line

**Does this change cause the rule to produce more or fewer warnings?**

Unchanged

**How will the change be implemented? (New option, new default behavior, etc.)?**

New default behavior

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Disable the literal

[2018-10-07 03:13] not-an-aardvark commented on #10933
Hi, thanks for the proposal.

Could you clarify the use case for this? It's not clear to me why it would be useful for `eslint-disable-next-line` to disable something other than the next line of text. Couldn't you achieve the same effect by removing the blank line before `MAX_MESSAGE_PER_TEST`?

Also, what would the "next effective line" line would mean in this context? For example, if a rule repo

[2018-10-07 16:18] GrayedFox commented on #10905
Hmm... I might be missing something here (something obvious!), but the rule we have set in our config file, to my knowledge, should "always error if space occurs inside parentheses", and "never error if space occurs inside square brackets or curly braces":

[code]

So, if a space is always an error inside parentheses, I would assume this is perfectly legal:

![false-positive](https://user-images.g

[2018-10-07 21:29] andrewmiller1 commented on #10933
Hi @not-an-aardvark,

Good questions.

My use case is to help readers scan the code. This proposal will allow eslint's disable functionality to support using the eslint lines-around-comment: ["error", { "afterLineComment": true }] rule and option and also a combination of ideas from Code Complete's Layout and Style and Self-Documenting Code chapters.

The immediate affect would be that users enfor

[2018-10-07 21:31] andrewmiller1 commented on #10933
Another option I think would be appropriate is the ability to name exceptions ahead of time. Something like stating at the beginning of the file, or maybe a separate file, to define white-listed labels or indicators. Any variable names or patterns found while evaluating a linting violation, that are also in the white-list, are "blessed" and cause those violations to go unreported.

Unsure if havin

[2018-10-07 21:51] kaicataldo commented on #10933
First of all, thanks for contributing! I'm :-1: to this proposal. While I understand the desire to pad comments with blank newlines for readability's sake, this feels like it would add a lot of complexity (both in behavior and maintainability) to what is currently a very predictable and straightforward behavior. This would also be a breaking change.

If you're worried about the comment being direc

[2018-10-07 21:57] kaicataldo commented on #10930
@jlchereau ESLint's `indent` rule and Prettier's indentation styles do not match - they're completely separate implementations and are two different approaches to solving the same problem ("how do we enforce consistent indentation in a project").

When using Prettier, you shouldn't be using ESLint's `indent` rule at all. In your current configuration, the `prettier` config disable `indent` and the

[2018-10-08 00:08] andrewmiller1 commented on #10933
That's understandable. I put my hacker pants on and found I could simply edit ./lib/util/apply-disable-directives.js

from

[code]

to

[code]

I'll also look into language agnostic linting tools to see if I can integrate them into any custom solutions here.

Thanks!

[2018-10-08 00:08] #10933 closed

[2018-10-08 03:40] jkrup opened #10937 "Cannot read property 'range' of null error with one-var"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 8 / 10
* **npm Version:** 5

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you us

[2018-10-08 03:49] not-an-aardvark commented on #10937
Thanks for the report, I can reproduce this issue.

[2018-10-08 09:46] marudor opened #10939 "no-unused-expression incorrectly fails with optional-chaining (babel-eslint)"
**Tell us about your environment**

* **ESLint Version:** 5.6.1
* **Node Version:** 8.12.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESlint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2018-10-08 09:57] #10939 closed

[2018-10-08 10:54] ahumeau opened #10941 "Flow generic arrow function with multi line parameters and implied return indentation detection inconsistency"
**Tell us about your environment**

* **ESLint Version:** `5.6.1`
* **Node Version:** `8.12.0`
* **npm Version:** `6.4.1`

**What parser (default, Babel-ESLint, etc.) are you using?**
`Babel-ESLint 10.0.1`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as

[2018-10-08 12:27] mercmobily commented on #10932
Anyone...? I am especially interested if one of the developers could point out a previous version that isn't affected by this problem, so that I could use it...

[2018-10-08 14:11] platinumazure commented on #10932
Hi @mercmobily, thanks for the issue and sorry for the delayed reply.

I think the (new/post-4.0.0) indent rule has always worked this way. Given that the rule aligns by tokens and we should be able to track the location of the `${` tokens, though, I would be curious to see if we could enhance the rule to tolerate both configurations somehow.

[2018-10-08 14:12] #10739 closed

[2018-10-08 14:14] ilyavolodin commented on #10179
@sstern6 This bug report is accepted, so feel free to work on this whenever you get a chance! Thanks for the help

[2018-10-08 17:07] luislobo opened #10942 "Feature Request: Ability to configure different indenting on template literals"
**The version of ESLint you are using.**
5.4.0
**The problem you want to solve.**
Ability to configure `indent` rule for template literals

**Your take on the correct solution to problem.**

Right now, the following code:
[code]
throws this error:
[code]
I would like to be able to specify, for text literals, that I want to indent it to 2 (or any other configurable number of spaces) after the previ

[2018-10-08 17:55] not-an-aardvark commented on #10932
I think this is a duplicate of https://github.com/eslint/eslint/issues/10814.

[2018-10-08 18:58] andyfryy opened #10943 ""padding-line-between-statements" not working consistently within React components"
**Environment**

* **ESLint Version:**
4.19.1
* **Node Version:**
10.7.0
* **npm Version:**
6.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run

[2018-10-08 19:09] platinumazure commented on #10943
Hi @andyfryy, thanks for the issue.

The `padding-line-between-statements` rule only covers newlines between consecutive statements. In the case of your `map` function, the return is actually the first statement in the block, so there's nothing for `padding-line-between-statements` to enforce.

The rule that covers newlines inside open/close braces for blocks is `padded-blocks`, which you currentl

[2018-10-08 19:17] andyfryy commented on #10943
Thanks for the extremely fast reply @platinumazure! When I remove the `padded-blocks` rule it fixes one half of my issue. Newlines manually inserted before return statements are no longer being deleted, but newlines still aren't being inserted if they aren't present already.

It looks like I need more than one statement in a given block for `--fix` to insert newlines before those return statements

[2018-10-08 20:04] platinumazure commented on #10943
@andyfryy You could use `padded-blocks` (set to "always") if you want the newlines to be inserted, but this will pad ALL of your blocks, rather than just where there's a return statement. So maybe not what you want.

I don't think there's a way to always have a newline before your return statements, even if they are the only statements in your block and without making all of your blocks padded. So

[2018-10-08 21:01] LJNeon commented on #10902
It looks like in our use case `return` worked as intended but using `continue` is preferable and more correct. I'll close this issue as changing it to `continue` fixed our problem.

[2018-10-08 21:01] #10902 closed

[2018-10-08 21:14] andyfryy commented on #10943
No worries, thank you for the help.

[2018-10-08 21:14] #10943 closed

[2018-10-09 01:53] LJNeon opened #10944 "no-useless-return and no-empty conflict"
**Tell us about your environment**

* **ESLint Version:** 5.6.1
* **Node Version:** 10.11.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
My configuration is insanely elaborate covering most of the rules in depth, for an easy to verify example [use this](https://eslint.org/demo/#eyJ0ZXh0IjoiZnVuY3Rpb24gZnVuYy

[2018-10-09 02:04] platinumazure commented on #10944
Hi @LJNeon, thanks for the issue.

The `no-empty` rule ignores empty blocks with a comment. Will that work for your use case?

[2018-10-09 02:10] LJNeon commented on #10944
That doesn't sound like a real fix, I'd probably put a comment mocking eslint if that's the only solution \:P

[2018-10-09 05:54] #10861 closed

[2018-10-09 10:56] FloEdelmann commented on #10861
Thanks for fixing this!

[2018-10-09 13:19] mercmobily commented on #10932
@platinumazure You know much better than me. But... since `${...}` contains code, and the code is meant to be indented by 2 spaces, shouldn't this be marked as a bug?

Right now, well formatted code is screaming out "this is wrong", but the advice given is actually wrong...

[2018-10-09 13:37] mercmobily commented on #10932
(What makes this problem more of a problem, is that it's not even possible to disable the warning of the nested template... So, right now I am effectively stuck with the problem!

[2018-10-09 14:32] platinumazure commented on #10932
@mercmobily You can use the [`ignoredNodes` option](https://eslint.org/docs/rules/indent#options) of indent to disable the warning in this case.

I've been trying to create a demo of this option, but the demo is being flaky today and I'll have to investigate that. In the meanwhile, try using this selector as an ignoredNodes value: `"TemplateLiteral > *.expressions"` Not 100% sure it will work, but

[2018-10-09 14:33] platinumazure commented on #10932
@mercmobily You could use the `indent-legacy` rule if you want indent from ESLint 3.x, while still using latest ESLint. But `indent-legacy` simply doesn't check the indent for a lot of different tokens.

[2018-10-09 18:22] not-an-aardvark commented on #9227
@cemremengu May you please [create a new issue](https://github.com/eslint/eslint/issues/new?template=BUG_REPORT.md)? It's possible that a different set of circumstances can lead to the same behavior, but it's hard to tell without more information.

[2018-10-09 19:54] El-Fitz opened #10947 "Compatibility issue with typescript, rewire & jest"
**Tell us about your environment**

* **ESLint Version:** 4.19.1
* **Node Version:** 10.2.1
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**: tslint ¯\_(ツ)_/¯

**Please show your full configuration:** None, really

Using typescript with rewire(https://github.com/jhnns/rewire) and jest(https://github.com/facebook/jest) for testing ended up with the following er

[2018-10-09 20:04] jim-lake commented on #5427
Still hitting this problem, especially annoying with npm link

[2018-10-09 22:40] not-an-aardvark commented on #10944
@LJNeon The reasoning for adding a comment is that it can help explain to readers of your code why the block is empty, when it might otherwise appear that it was a mistake. For example, you could write something like this:

[code]

In other words, adding a comment to the block is less of a workaround to appease the linter, and more of a mechanism for making sure your code is readable. Using `retur

[2018-10-09 22:59] LJNeon commented on #10944
So... it could do what it's supposed to? That doesn't seem very unexpected to me. But yea I guess a comment is more readable than just returning, but then code after the if..else statement would be executed when it shouldn't be.

[2018-10-10 00:07] not-an-aardvark commented on #10944
To clarify, if code after the `if`/`else` statement isn't supposed to be executed, then using `return` is fine (and `no-useless-return` won't report an error if there are additional statements).

Even if there aren't additional statements after the `if`/`else`, if the first case is conceptually supposed to be an "early exit" it might be clearer to write it this way:

[code]

If the first case isn'

[2018-10-10 00:29] webOS101 opened #10952 "no-unused-vars errors with parameters when parameter marked used later"
**Tell us about your environment**

* **ESLint Version:** 5.6.1
* **Node Version:** v9.4.0
* **npm Version:** 5.6.0

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2018-10-10 01:01] platinumazure commented on #10952
Hi @webOS101, thanks for the issue.

Would you mind running ESLint with the `--print-config` option, passing in the path of the file you're trying to lint here? Curious to see if your configuration is being overridden somewhere (either in `no-unused-vars`, or `react/jsx-uses-vars`). Thanks!

[2018-10-10 01:33] webOS101 commented on #10952
It may be as simple as checking `isEslintUsed` here:  https://github.com/eslint/eslint/blob/648a33a34d24de22240df99dfd68beded660a890/lib/rules/no-unused-vars.js#L472

But I didn't actually test that.

[2018-10-10 04:35] mercmobily commented on #10932
OK -- will try that. I have to ask though... what are the chances of this getting looked at?
Please realise that it's giving the _wrong_ warnings for template literals; I humbly ask you to consider to turn this into a bug, rather than an enhancement. It makes it painful to use libraries that use template literals as template engines (HyperHTML, Lit-html, etc.)

[2018-10-10 05:40] webOS101 commented on #10952
I confirmed that works.  I was able to create a test case that fails and that fixes it.  I still have never figured out how to use a locally linked eslint to test with either global or local installs.  I guess I'll figure it out someday.  I'll create a PR shortly.

[2018-10-10 06:41] pawelkleczek commented on #9259
Is there any update about this feature?

[2018-10-10 07:03] psmyrdek commented on #10896
Yes, I have to agree that mentioned command helps understand what's going on. Not the easiest to find, but... working.

[2018-10-10 07:03] #10896 closed

[2018-10-10 16:50] platinumazure commented on #10952
Thanks @webOS101 for digging further! I think I rewrote that code some time ago and this was an oversight on my part.

I've relabeled this as a bug, in accordance with your investigation results.

[2018-10-10 18:32] #10944 closed

[2018-10-10 20:59] jpickwell commented on #10726
I'd say the real issue is that there needs to be a rule that checks for template literals that don't use interpolation and aren't being used as a way to avoid string escapes.

[2018-10-10 21:37] jpickwell opened #10956 "quotes: "avoidEscape" doesn't flag strings that escape quotes."
**Tell us about your environment**

* **ESLint Version:** 5.6.1
* **Node Version:** 10.11.0
* **npm Version:** 6.4.1
* **yarn Version:** 1.10.1

**What parser (default, Babel-ESLint, etc.) are you using?** vue-eslint-parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the

[2018-10-10 23:44] uclaeagit commented on #10127
FWIW here's the .eslintrc file I finally arrived at to fix this problem:

[code]
If I remove either the experimentalObjectRestSpread entry or the "extends": "eslint:recommended" line - it breaks again. And not just like "I don't like this arrow function". The parser crashes and stops when it sees that. Maybe this will help.

Also fun fact I just discovered - if I put the .eslintrc file in the pare

[2018-10-11 01:57] sstern6 commented on #10179
So looking into this further, I agree the example from @ilyavolodin should not throw an error, however, I think the docs might be wrong.  Before digging in deeper id like to confirm though.  If we have:

[code]

Shouldnt this throw an error to join the requires?  Or because they are in separate blocks this example should not throw an error?

[2018-10-11 12:50] okonet opened #10957 "Additional option for skipping auto fixable rules"
**The version of ESLint you are using.**

v5.6.0

**The problem you want to solve.**

When ESLint is used with tools like [lint-staged](https://github.com/okonet/lint-staged) on pre-commit, it makes sense to not lint against auto-fixable rules during development process. This especially concerned about IDE integrations since such rules are generating a fair amount of noise in the IDEs. I honestly

[2018-10-11 16:40] sstern6 commented on #10179
Just to clarify this issue, @ilyavolodin example for a failing case is correct.  Worked with @not-an-aardvark to determine the original example for the bug report is a little misleading as is the documentation and should be 2 separate test cases not 1, which currently does not throw any errors.

[code]

Should be run independent of:
[code]

Looked into the issue last night and think I understand w

[2018-10-11 21:38] izanf opened #10958 "False positive no-undef with destructuring assignment"
**Tell us about your environment**

* **ESLint Version:** ^5.6.1
* **Node Version:** v10.11.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command

[2018-10-11 21:40] izanf commented on #10942
You have two spaces between } on second line.

[2018-10-12 00:17] outoftime opened #10959 "Allow selective enforcement of require-unicode-regexp for literals and/or RegExp constructor"
**What rule do you want to change?**

`require-unicode-regexp`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer, if new options are used.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**

Warns in

[2018-10-12 00:28] platinumazure commented on #10959
This seems reasonable to me. :+1:

[2018-10-12 00:55] nitinsurana opened #10960 "async await not working within `it` function in a mocha test"
**Tell us about your environment**
Mocha tests with bdd (describe, it)
[code]
In a normal js file (not a test file), the following also fails
[code]

* **ESLint Version:**
5.6.1
* **Node Version:**
8.11.3
* **npm Version:**
5.6

**What parser (default, Babel-ESLint, etc.) are you using?**
No parser

**Please show your full configuration:**
[code]

**What did you do? Please include the actual sourc

[2018-10-12 01:28] nitinsurana commented on #10960
@platinumazure thanks!

[2018-10-12 01:28] #10960 closed

[2018-10-12 04:16] amosyuen commented on #10567
Hey, sorry didn't get back to this in a while, but I think the specific problem is eslint supports only a subset of config options directly on the settings or a path to a config file with full settings. The action item is that eslint should support all config options directly on the settings.

[2018-10-12 07:55] mymmoonoa opened #10961 "Array.concat used in nested forEach loop causes 'no-loop-function' error"
Hi guys I test ESLint with following code on [ESLint.org official site](https://eslint.org/demo/#eyJ0ZXh0IjoiLy8gd2h5IHRoaXMgaXMgbm90IG9rXG5mdW5jdGlvbiBhKCkge1xuICAgIGxldCBhYiA9IFtdO1xuICAgIGNvbnN0IGNkID0gW1sxXSwgWzJdLCBbM11dO1xuICAgIGZvciAobGV0IGkgPSAwOyBpIDwgMTA7IGkrKykge1xuICAgICAgICBhYiA9IGFiLmNvbmNhdChjZCk7XG4gICAgICAgIGNkLmZvckVhY2goKHN0aCkgPT4ge1xuICAgICAgICAgICAgYWIgPSBhYi5jb25jYXQoc3RoKTt

[2018-10-12 08:03] mymmoonoa commented on #10961
[add more test code](https://eslint.org/demo/#eyJ0ZXh0IjoiLy8gd2h5IHRoaXMgaXMgbm90IG9rXG5mdW5jdGlvbiBhKCkge1xuICAgIGxldCBhYiA9IFtdO1xuICAgIGNvbnN0IGNkID0gW1sxXSwgWzJdLCBbM11dO1xuICAgIGZvciAobGV0IGkgPSAwOyBpIDwgMTA7IGkrKykge1xuICAgICAgICBhYiA9IGFiLmNvbmNhdChjZCk7XG4gICAgICAgIGNkLmZvckVhY2goKHN0aCkgPT4ge1xuICAgICAgICAgICAgYWIgPSBhYi5jb25jYXQoc3RoKTtcbiAgICAgICAgfSk7XG4gICAgfVxuICAgIHJldHVybiBhYjtcbn

[2018-10-12 14:16] platinumazure commented on #10961
Hi @mymmoonoa, thanks for the issue.

The `no-loop-func` rule is warning in your case because you're writing to a variable defined outside of the loop (in this case, `ab`) from within your inner function. JavaScript does weird things with variable reassignments when a function is defined inside a loop. (The reasoning is well-defined, but I confess I don't know how to explain it very well. It has t

[2018-10-12 14:39] HRK44 commented on #10625
Can @tjbenton explain the thumbdown? Has anyone reviewed this issue?

Thanks

[2018-10-12 15:18] platinumazure commented on #10625
Hi @HRK44, thanks for the issue and apologies for letting this slip through the cracks.

I can't speak for @tjbenton. As a maintainer, I'm mildly opposed to this change because it is a breaking change that, as far as I can tell, is done mostly for convenience. I am open to being persuaded otherwise, and if the rest of ESLint team is okay with this proposal I will defer to consensus. However, every

[2018-10-12 15:29] luislobo commented on #10942
@izanf Yes, that is intentional! that is what I want to be able to do... I'm not asking for "what is the error here". I just want to be able to configure eslint to allow for two spaces after the second line.

[2018-10-12 15:32] HRK44 commented on #10625
@platinumazure Thanks for reviewing.

To add more background on why I'm suggesting this, if you look at the code snippet I have put, for me it was very surprising that I got an ``no-unused-expressions`` on ``isThisTrue`` since I literally just used it one line after - then I stumbled upon the ``allowTernary : false`` option.

Could someone explain the reason of the existence of ``allowTernary`` an

[2018-10-12 15:48] ljharb commented on #10625
I don’t think it should change.

Code in a ternary branch might be used, or might not - the current default is the safer one, which is that it’s not considered used if it’s 100% certainly used.

[2018-10-12 15:51] HRK44 commented on #10625
@ljharb In my code snippet, ``isThisTrue`` is 100% used since it is used to determine which action to call.

[2018-10-12 17:20] aaronshaf opened #10972 "Not caught: const assert = require(assert)"
`const assert = require(assert)` should be identified as an error. Thanks!

[2018-10-12 17:42] #10937 closed

[2018-10-12 18:59] #10952 closed

[2018-10-12 19:00] #10846 closed

[2018-10-12 19:03] #10256 closed

[2018-10-12 19:03] #10853 closed

[2018-10-12 19:43] btmills commented on #10908
ESLint v5.7.0 has been released! Please merge only semver-patch pull requests until we close this issue.

[2018-10-12 23:35] ljharb commented on #10625
@HRK44 what i mean is, it's impossible to statically determine whether `isThisTrue` is true, false, always true, or always false - so it's impossible to safely determine if those variables are used or not.

[2018-10-12 23:38] not-an-aardvark commented on #10625
@ljharb I'm not sure I understand your point -- the same would apply when using a statement like this:

[code]

You're correct that we can't tell whether both branches are reachable, but I don't see how that's related to the `no-unused-expressions` rule, because the `no-unused-expressions` rule isn't really intended to detect unreachable code.

[2018-10-12 23:41] ljharb commented on #10625
Ah, you're right, I'm thinking of `no-unused-variables`. I'll hide my comments as off-topic.

[2018-10-13 03:53] platinumazure commented on #9366
I found another example of this while trying to implement #10197. In the max-len docs, we specify a rule config inline and it crashes ESLint when trying to initialize the rule:

[code]

I'll try to write a report in levn in the next few days.

[2018-10-13 04:38] platinumazure commented on #10744
It looks like we weren't able to obtain consensus around this issue from the ESLint team. I'm going to close this issue. This doesn't mean the issue wasn't a good idea: it's just something the team cannot commit to implementing at this time. Thanks for contributing regardless, we appreciate it!

[2018-10-13 04:38] #10744 closed

[2018-10-13 04:40] platinumazure commented on #10503
I'm going to close this as it seems it should be resolved with #10783. Please feel free to leave a comment if that's not the case. Thanks!

[2018-10-13 04:40] #10503 closed

[2018-10-13 06:03] imtmh commented on #10519
Resolved it after upgrading to the latest node version.

[2018-10-13 07:32] Alex-PK opened #10975 "no-tabs with allowIndentationTabs is invalid"
**Tell us about your environment**

I just created a new Vue project with vue-cli 3 and started defining eslint rules

* **ESLint Version:** 4.19.1
* **Node Version:** 10.12.0
* **npm Version:** 6.4.1
* **yarn Version:** 1.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**
[code]

eslint fails parsing the above configuration wi

[2018-10-13 07:35] not-an-aardvark commented on #10975
Hi, thanks for the report. The `allowIndentationTabs` option was introduced in ESLint v5.7.0, but you seem to be using ESLint v4.19.1. Does the option work if you upgrade to the latest version of ESLint?

[2018-10-13 08:01] Alhadis commented on #10726
That would be even better, actually.

[2018-10-13 09:30] Alex-PK commented on #10975
Thanks for the quick reply.

I confirm it works after adding `"eslint": "^5.7"` in the `devDependencies`.

I was referring to this page: https://eslint.org/docs/rules/no-tabs where it says it was introduced in 3.2.0.
Could you please add a note on the option with the minimum version?

[2018-10-13 14:11] villesau opened #10976 "Rename no-warning-comments to no-comments and make it fixable"
**What rule do you want to change?**
[no-warning-comments](https://eslint.org/docs/rules/no-warning-comments)

**Does this change cause the rule to produce more or fewer warnings?**
Same amount.

**How will the change be implemented? (New option, new default behaviour, etc.)?**
By renaming rule to `no-comments`, and possibly making it fixable (removing the comment) and to support custom messages.

[2018-10-13 14:55] platinumazure commented on #10961
Closing as the question has been answered. Please feel free to stop by our [Gitter chat](https://gitter.im/eslint/eslint) if you have any other questions.

[2018-10-13 14:55] #10961 closed

[2018-10-13 16:41] PassTheMayo opened #10977 ""newline-per-chained-call" doesn't allow first method to start on new line"
**What rule do you want to change?** I want to change the `newline-per-chained-call` rule to allow for `ignoreChainWithDepth` to be set to `0`, so every new method chained is on a new line instead of skipping the first method.

**Does this change cause the rule to produce more or fewer warnings?** The rule will produce fewer warnings by adhering to user's preference of coding style.

**How will th

[2018-10-13 17:06] platinumazure commented on #10977
Hi @PassTheMayo, thanks for the issue.

Kind of unfortunate that there's an example in the docs that looks like exactly what you want, but the rule doesn't support it at this time. :frown:

I think this is a reasonable enhancement request. I'll champion this with the team.

[2018-10-13 17:06] El-Fitz commented on #10947
No, you are not. Jest apparently doesn't bother checking wether it is a JS module or not. And I have no idea how much work it would take on their side to do that. On the other hand, simply adding the .json extension, while not a real fix for Jest's mishandling, helps fixing it.

I've just opened an issue on jest's. Because it shouldn't crash like this when some dependeny's random dependency requir

[2018-10-13 17:09] PassTheMayo commented on #10977
Alright, thanks so much!

[2018-10-13 18:41] anaam-nizami commented on #10519
This [comment](https://github.com/facebook/create-react-app/issues/5396#issuecomment-429565435) may help ;)

[2018-10-13 18:54] villesau commented on #10976
On the other hand I wouldn't say that the examples like preventing `TODO: `s etc are warnings either, they are some sort of reminders instead.

I think some rules allows to define custom message. If that would be allowed for this rule, developer could decide what to communicate about the restriction: `1:1 error Unexpected 'TODO: ' No TODO comments, please finalize your work before committing to re

[2018-10-13 19:40] trusktr opened #10978 "It's 2018, but async functions is syntax error"
I know, I have to set `ecmaVersion: 2018`.

But perhaps this should be automatically set to the year we are in? Seems like that would probably be a better default for most people. Those people who really need older syntax can use the `ecmaVersion` option.

[2018-10-13 23:38] not-an-aardvark commented on #10978
Hi, thanks for the proposal.

I don't think defaulting the `ecmaVersion` option to the current year would be a good idea, for a few reasons:

* Users typically target specific browsers, and many users need to support browsers that aren't fully up-to-date. Also, sometimes browsers haven't fully implemented a spec even though the spec has a date with the current year.
* Changing the default `ecmaVer

[2018-10-14 01:10] platinumazure commented on #10672
Hi @undeadcat, thanks for the issue and very sorry this slipped through the cracks.

@eslint/eslint-team Is this a bug? Can JSON files be written with a BOM normally?

[2018-10-14 01:13] platinumazure commented on #10947
@El-Fitz I guess I'm not sure there's any harm in making the change on our end at this point, so let's see what the rest of the team thinks. Thanks for creating the issue on Jest!

[2018-10-14 01:17] platinumazure commented on #9366
I've opened gkz/levn#2 to try to get some discussion going. (That said, there hasn't been any activity on levn in nearly three years, so I might need to take it a step further and write a PR.)

[2018-10-14 05:07] mymmoonoa commented on #10961
Thanks @platinumazure,  your code works fine.
Still the lint error looks a little wired for it makes me feel like the assignment ```ab = ab.concat(sth)``` turns out be making a implicit function declaration.

[2018-10-14 05:34] kaicataldo commented on #10345
Closing this issue since we haven't heard anything back from the issue author for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2018-10-14 05:34] #10345 closed

[2018-10-14 10:40] amoshydra commented on #10226
@Daniil-Pabolkov
This might be what you are looking for https://github.com/justinanastos/eslint-plugin-justinanastos/blob/master/docs/rules/chained-semi.md

[2018-10-15 01:05] g-plane commented on #10672
ESLint can strip BOM:
https://github.com/eslint/eslint/blob/d45b184df23a2bbb00b9c1249cc4904235ebe5f7/lib/config/config-file.js#L64

Tests:
https://github.com/eslint/eslint/blob/d45b184df23a2bbb00b9c1249cc4904235ebe5f7/tests/lib/config/config-file.js#L971

[2018-10-15 01:59] PassTheMayo commented on #10977
@platinumazure Also I forgot to mention something, I think there should also be a way to not force every single method to new line. I have some methods that do `this.bot.myMethod()` which I want to keep on one line, but force all methods that have been chained to a new line if that makes sense.

[2018-10-15 04:38] sstern6 commented on #10582
Would it be ok to take a look at this?

[2018-10-15 04:45] IanVS commented on #10855
configuring of autofix but even if there is, I don’t see that feature as
mutually exclusive to this one.

FWIW, if anyone _does_ need per-rule fixing, I threw together https://github.com/IanVS/eslint-filtered-fix a while back, which does just that.

[2018-10-15 05:07] kaicataldo commented on #10731
Apologies that this was missed until now. Does `padding-line-between-statements with the following config solve your issue?

[code]

[2018-10-15 05:10] kaicataldo commented on #10742
Hi, sorry for the delay in responding to this.

Mind updating this so that it's clear which example this is referring to?

[2018-10-15 05:11] kaicataldo commented on #10681
@MikhailMelnikovNsk Mind inlining these configs?

[2018-10-15 05:27] kaicataldo commented on #10829
Hi - apologies for the delay in response.

Given the limitations of static analysis and the fact that ESLint only runs on one file at a time, I don't know how ESLint could check this in a reliable fashion. Do you have any ideas?

[2018-10-15 05:38] kaicataldo commented on #10899
Thanks for reporting this issue. I know you filled out a lot of information in the original issue, but do you mind copying over that information into our issue template and add the missing information (the ESLint version you're running seems to be missing)? It'll make it a lot easier for us to follow up on this. Thanks!

[2018-10-15 05:49] kaicataldo commented on #10956
I believe this is working as intended. The `avoidEscape` option doesn't enforce avoiding escaping, it just allows for the quotes to not match the string option (`"single"`, `"double"`, etc.) in the case where it allows escaping to be avoided.

It sounds like you're looking for the [`no-useless-escape` rule](https://eslint.org/docs/rules/no-useless-escape).

[2018-10-15 05:54] futpib commented on #10742
I meat to refer to both examples, I edited the issue accordingly.

[2018-10-15 05:56] kaicataldo commented on #10957
Thanks for the proposal. I have a few concerns:
1.  Since ESLint's autofixer avoids fixing when it might change the execution behavior, rules that can autofix are not guaranteed to fix every problem. By skipping these rules, there will be times when CI is the first time some errors that must be fixed by a human will be displayed. This might work for your workflow, but I know I'd personally rather

[2018-10-15 06:06] kaicataldo commented on #10942
I wonder if this is actually a bug. None of the following examples produce any errors (the rule seems to ignore the indentation when the line starts with another token that's part of the template literal expression):

[code]
[code]
[code]

Given the above isn't enforce, it seems to me like the case where the closing brace is at the beginning of the line should be treated similarly.

[2018-10-15 08:09] okonet commented on #10957
That's why I propose a flag, not the default behavior

I'd be interested in a solution that allow me doing this. AFAIK this is not possible at the moment.

[2018-10-15 09:56] tp4k opened #10981 "Allow use node version >8"
**The version of ESLint you are using.**
5.7.0
**The problem you want to solve.**
I want to use node eslint on node 8
**Your take on the correct solution to problem.**
Change node version to something like `"node": "^6.14.0 || >=8"`

I've seen https://github.com/eslint/eslint/issues/10052#issuecomment-377381218 but not support version because it have security reasons is very strange. All features

[2018-10-15 13:08] aliaksandr-yermalayeu opened #10982 ""no-unused-vars" doesn't work with recursive function correctly, when it is declared with function expression"
**Tell us about your environment**

* **ESLint Version:** 5.7.0
* **Node Version:** 8.11.1
* **npm Version:** 5.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]
<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command th

[2018-10-15 13:21] El-Fitz commented on #10947
So... it was an error on my side. I messed up while customising some jest settings, and didn't even notice it. The lesson today for me will be: no matter the experience, messing up and not noticing does and will still happen, I guess.

But thanks for the willingness to help ! :-)

[2018-10-15 13:29] platinumazure commented on #10947
@El-Fitz Thanks for following up. Just out of curiosity, what was the problem? (In case someone experiences a similar problem and finds this ESLint issue)

[2018-10-15 13:31] platinumazure commented on #10982
Hi @aliaksandr-yermalayeu, thanks for the issue.

It seems to me the recursive declaration case should be flagged as used (i.e., neither example should produce a warning). But I'm not 100% sure.

@not-an-aardvark @mysticatea Any thoughts?

[2018-10-15 13:41] not-an-aardvark commented on #10982
The firat example should produce a warning because the function can never be initially called, since it's only referenced from inside itself.

The second example could be made to produce a warning for the same reason, although this would require modifying the rule to be able to infer that the function can only be accessed through the `a` variable.

[2018-10-15 13:50] #10899 closed

[2018-10-15 14:20] berlysia opened #10983 "getJSDocComment doesn't work with a ClassExpression wrapped by the ExportNamedDeclaration"
**Tell us about your environment**

* **ESLint Version:** 5.7.0
* **Node Version:** 10.12.0
* **npm Version:** 6.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2018-10-15 14:22] mrx8 opened #10984 ""no-undef" doesn't work with variable-name "context""
**Tell us about your environment**

* **ESLint Version:**
5.7.0
* **Node Version:**
8.12.0
* **npm Version:**
6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-10-15 14:46] mrx8 commented on #10984
Ah, you are right, I meant "no-undef", sorry for this!
Use for example "context2" and it is marked as error. So it seems that the name "context" is some sort of "reserved value" for eslint which it whitelists.

[2018-10-15 14:46] jpickwell commented on #10956
`eslint-config-standard` has `no-useless-escape` set to `"error"`.

[2018-10-15 14:49] tjbenton commented on #10625
@HRK44 To me changing the default to allow this will promote bad practices and reduce legibility in our code. A `if`/`else` statement is much easier to read as a developer which makes it easier to maintain overtime and over a large codebase. I think the ternary operator should only be used to assign values to variables or in return statements. Like all the examples on [mozilla](https://developer.m

[2018-10-15 14:56] kaicataldo commented on #10956
@jpickwell I see. Having a little bit more time to look at things this morning, it looks to me like core doesn't have a way to enforce this. It falls in a bit of an awkward place between `no-useless-escape` and `quotes`, in that it is a legitimate escape (and so `no-useless-escape` doesn't warn on it), and that the `quotes` rule doesn't enforce using other types of quotes with the `avoidEscape` op

[2018-10-15 15:12] jpickwell commented on #10956
The `no-useless-escape` rule's purpose seems very clear to me, and has nothing to do with this issue. That rule is meant to avoid escaping non-special characters.

As for your suggestion of `"never"`, `"allow"`, and `"enforce"`, would that map like this?
* `"never"`: `false`
* `"allow"`: `true`
* `"enforce"`: new feature

If that's the case, I'm good with that.

An obvious edge case that can't be

[2018-10-15 15:14] platinumazure commented on #10984
@mrx8 `context` may be a global in some environment, so `no-undef` would not treat it as undefined in that case.

Please share the results of running ESLint with the `--print-config` option on the file in question, and it will hopefully show what environments and/or globals have been configured (not visible in the config you provided in the initial post of this issue).

[2018-10-15 15:15] kaicataldo commented on #10956
That's what I was thinking - thanks for clarifying.

[2018-10-15 15:45] HRK44 commented on #10625
Thanks for your input. After reading the specs, it seems that the ternary operator should return something - thus triggering the ``no-unused-expression`` in my example. I guess this works fine then with the current state. Feel free to re-open if you think this is still worth evaluating.

[2018-10-15 15:45] #10625 closed

[2018-10-15 16:07] pvdlg commented on #10829
Hi! Yes we would need to know if a function is declared as `async` or return a `Promise`, and that function might be declared in another file.

Maybe in that case the rule could resolve and parse the file that declares the imported function? Or is there any plan in the future for eslint to create the AST fro the entire project?

[2018-10-15 17:36] sharmilajesupaul commented on #10981
@kaicataldo not OP, but we're using node v8.9.1 and are running into this issue since the allowed engines explicitly lists node `^8.10.0`.

[2018-10-15 17:37] kaicataldo commented on #10829
ESLint currently doesn't provide any APIs to allow for this, but it could potentially be done in a plugin ([eslint-plugin-import](https://www.npmjs.com/package/eslint-plugin-import) will check for the existence of modules, for instance).

Not currently, no.

Even if we implemented the things above, we're still limited by the constraints of static analysis. This doesn't feel possible to me without

[2018-10-15 17:43] kaicataldo commented on #10981
Ah, I see! `^8.10.0` was the latest version of Node v8 when we released ESLint v5, and this value hasn't changed since the 5.0.0-alpha.1 release. [Here's the reasoning](https://github.com/eslint/eslint/issues/10052#issuecomment-377381218) behind our decision to support the latest minor version of each major Node version.

[2018-10-15 17:49] kaicataldo commented on #10847
I have the same concerns about this as I do with https://github.com/eslint/eslint/issues/10829#issuecomment-429713012. A type system like TypeScript seems like a much better solution to this problem.

[2018-10-15 17:55] kaicataldo commented on #10831
This is [by design](https://github.com/eslint/eslint/blob/master/lib/rules/lines-around-comment.js#L327). The intention of the rule is to create whitespace around comments to improve readability, and the assumption is that a user wouldn't want extra whitespace at the beginning or end of the file because there isn't anything before or after the comment, respectively.

[2018-10-15 17:55] kaicataldo commented on #10831
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2018-10-15 17:55] #10831 closed

[2018-10-15 17:57] kaicataldo commented on #10849
This seems valuable to me. I wonder if this would make sense to include as an option in the `array-callback-return` rule? We could then make it the default in a future major version.

[2018-10-15 18:05] kaicataldo commented on #10922
Thanks for this issue. Since ESLint does officially support type annotations (as defined by [ESTree](https://github.com/estree/estree/blob/master/extensions/type-annotations.md)), I wonder if we can add an option that makes `space-infix-ops` ignore types? If this doesn't cover all specific TS syntax, it might be best to create a new `space-infix-ops` specifically for TS (maybe in https://github.co

[2018-10-15 18:10] kaicataldo commented on #10941
Since ESLint is aware of type annotations (as defined by [Estree](https://github.com/estree/estree/blob/master/extensions/type-annotations.md)), it does sound like this is something that should be fixed in the `indent` rule itself.

[2018-10-15 18:12] sstern6 commented on #10582
Looking into this, as @platinumazure said the rule guards against autofixing multiple variable declarations found: https://github.com/eslint/eslint/blob/master/lib/rules/prefer-const.js#L324.  How does it sound to update the logic of the rule to if there are multiple declarations that are ALL require statements to allow autofixing?  To avoid changing the rule too much, and I think that in some sit

[2018-10-15 18:13] kaicataldo commented on #10983
Does this also occur with `export class Foo {};`? Or is limited to an exporting an assignment?

[2018-10-15 18:16] kaicataldo commented on #10582
@sstern6 Can you clarify how `require`s factor into this? I'd be hesitant to add functionality that only affects assignments that are `require`s, since this rule should really only care about reassignment.

[2018-10-15 18:19] madbence commented on #10922
@kaicataldo i refactored the original rule, and eliminated the false positives. see #10935

[2018-10-15 18:19] #10922 closed

[2018-10-15 18:33] sstern6 commented on #10582
Sure, maybe I misunderstood, but for example.  Currently this code errors out but isnt autofixed because the rule checks the length of the block and says if there are multiple declarations then let the dev decide how to handle and eslint will not autofix.

[code]

Here is where I am misunderstanding, for this ticket, we want to update the rule to autofix in all cases?

My propsal was to autofix th

[2018-10-15 18:55] kaicataldo commented on #10582
@sstern6 I think the ask here is to autofix multiple declarators (not to specifically fix assignments that are `require`s). The rule doesn't currently differentiate whether the assigned value is a `require` or not, and I don't think it should.

[2018-10-15 18:57] kaicataldo commented on #10582
To provide more context, I believe the ask is to add an autofixer for the following case:
[code]

to

[code]

instead of just warning like it does now.

Check out the [demo link](https://eslint.org/demo/#eyJ0ZXh0IjoibGV0IGFjb3JuID0gcmVxdWlyZShcImFjb3JuXCIpLFxyXG4gICAgYXNzZXJ0ID0gcmVxdWlyZShcImNoYWlcIikuYXNzZXJ0OyIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6OSwic291cmNlVHlwZSI6InNjcmlw

[2018-10-15 19:01] berlysia commented on #10983
It's limited to this case.

<details>
<summary>
I've already check some patterns listed below:

[code]
</summary>
output:

[code]

check code:
[code]
</details>

[2018-10-15 19:02] sstern6 commented on #10582
Kk working on this.  Will have a PR over the next few days.  Thanks for the clarification.

[2018-10-15 19:03] kaicataldo commented on #9540
@dhruvdutt Great! The documentation file in question is [here](https://github.com/eslint/eslint/blob/master/docs/rules/require-await.md). What do you mean by "describe the spec"?

[2018-10-15 19:05] kaicataldo commented on #8489
I think this is still worth going after, but agree that perhaps we should break down the work into smaller issues. I think the most difficult part will be getting a test file started and getting the first few tests written.

[2018-10-15 19:11] kaicataldo commented on #7145
Apologies for dropping the ball as the champion of this issue. Given that this is a JSCS compatibility issue, I would like to see this through.

While I appreciate @ilyavolodin's solution, I would like to propose we go with the previous solution as  described [here](https://github.com/eslint/eslint/issues/7145#issuecomment-258700883). We can always change the rule in the future if need be, and thi

[2018-10-15 19:29] not-an-aardvark commented on #7927
I'm going to go ahead and mark this as "evaluating" again -- the `accepted` label was originally added when this was considered a bug, but now it seems to be prosing a new option.

[2018-10-15 19:35] kaicataldo commented on #9081
@platinumazure Where does issue stand right now?

[2018-10-15 19:37] platinumazure commented on #9081
I ended up closing my PR as not the desired direction. I am not currently working on this. Contributions would be most welcome. Thanks!

[2018-10-15 19:47] kaicataldo commented on #10623
Adding the blocked label until https://github.com/eslint/espree/pull/391 is merged and released.

[2018-10-15 20:06] kaicataldo commented on #10741
@eslint/eslint-team Thoughts on this? We now have an open PR, so I'd love for to come to a consensus.

[2018-10-15 20:07] btmills commented on #10908
We didn't receive any regression reports over the weekend, so there's no need for a patch release! Feel free to merge semver-minor pull requests again.

[2018-10-15 20:07] #10908 closed

[2018-10-15 20:07] eslint[bot] opened #10985 "Scheduled release for October 26th, 2018"
The scheduled release on Friday, October 26th, 2018 is assigned to:

* @not-an-aardvark
* @nzakas

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guideli

[2018-10-15 21:50] mysticatea commented on #10982
It has been introduced in #2095; the rule is addressing function declarations to detect recursive calls, but not variable declarations. We can enhance the rule. Maybe...

- the rule should ignore references in the `VariableDeclarator#init` and `AssignmentPattern#right` if duplicate variables don't exist.

[2018-10-15 23:34] mysticatea commented on #10601
Probably, no. In my understanding, it has been introduced for #4321.

[2018-10-16 06:57] MikhailMelnikovNsk commented on #10681
Explained how could...

Another note: this error (Unexpected token) cannot be disabled by comments.

[2018-10-16 09:17] tp4k commented on #10981
Sorry for my english. I've seen this comment. Eslint works fine on node>=8. So there is no reason to force users use node ^8.10. Security reasons doesn't matter much during build stage. Choosing version because it was last when you released new major is strange.

So the only reason for node 8 is security, which is not eslint problem.

[2018-10-16 09:39] alex-fournier opened #10988 "React Fragment short syntax not supported in stateless component"
**Tell us about your environment**

* **ESLint Version:** `5.7.0`
* **Node Version:** `8.11.3`
* **npm Version:** `5.6.0`

**What parser (default, Babel-ESLint, etc.) are you using?**

Babel-ESLint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the comm

[2018-10-16 12:16] platinumazure commented on #10988
Hi @alex-fournier, thanks for the issue.

I think you need to enable the rule `react/jsx-uses-react`. Then everything should hopefully work. If not, though, the issue is probably with eslint-plugin-react, not core ESLint.

[2018-10-16 12:59] alex-fournier commented on #10988
Actually, my config extends airbnb's config and plugin `react` is activated as well as `react/jsx-uses-react` rule. I updated my config in the issue.

I'll ask the same question in eslint-plugin-react, thank you.

[2018-10-16 15:11] Aladdin-ADD commented on #10981
could you clarify the reason not upgrade node to `^8.10.0`(have better security)? If so, I would recommend to stay `eslint@4.19.1` before you can upgrade.

[2018-10-16 15:15] El-Fitz commented on #10947
@platinumazure
You're welcome ! And yes, you're definitely right.
In order to run tests in Typescript, I used ts-jest and had to customise jest's `"moduleFileExtensions"` parameter in my package.json, to add typescript files extensions, like so:

[code]

when I should have updated it like this:
[code]

You see, by default it has .json in there, but setting it overwrites the defaults completely. An

[2018-10-16 15:36] ljharb commented on #10981
Staying on eslint 4 loses out on much more security benefits than upgrading to the latest node 8 does - many of the security vulnerabilities don’t apply whatsoever to users, depending on their usage patterns, but eslint can prevent many classes of bugs at build time.

In other words, for many use cases, using eslint 5 on node 0.10 is much more secure than using eslint 4 on node 10.

[2018-10-16 16:09] not-an-aardvark commented on #10981
To clarify, our reasoning for supporting `^8.10.0` rather than `^8.0.0` is due to the fact that Node 8.10 has more features than Node 8.0, and ESLint might use those features in the future. The decision isn't directly motivated by security concerns.

We think most users who use `8.x` are probably using `^8.10` anyway for security reasons. This isn't about whether there are security vulnerabilities

[2018-10-16 16:12] ljharb commented on #10981
In sirbnb’s case we’re stuck on node v8.9.1, because it is very costly and takes a lot of time to upgrade, the security concerns don’t affect our use cases, and we use babel, so new features never really motivate upgrading.

[2018-10-16 16:13] ljharb commented on #10981
What features that you might want are in 8.10 that aren’t in 8.9 or 8.8, for example?

[2018-10-16 17:28] not-an-aardvark commented on #10942
@kaicataldo I think the behavior you're observing is a result of the `indent` rule never enforcing any indentation for the operator/RHS of binary expressions. It's not related to template literals in particular.

[2018-10-16 17:28] ljharb commented on #10981
I agree that it's arbitrary and you have to draw it somewhere, but:

I don't think node's choice of platform support need have any bearing on a given library's.

As I've said, we don't *need* any of the security updates, because none of the vulnerabilities apply to us, and since upgrading has a significant cost, eslint becomes the sole reason we might have to incur that cost.

[2018-10-16 20:28] SergioGeeK7 commented on #10239
@goliney it worked... do not know why

[2018-10-17 04:41] svlima777 opened #10989 "Unwanted users"
**Tell us about your environment**

* **ESLint Version:**
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[co

[2018-10-17 04:45] not-an-aardvark commented on #10989
Closing since no information at all was provided. If you're trying to report a bug, please open a new issue and fill out the questions in the issue template. Thanks!

[2018-10-17 04:45] #10989 closed

[2018-10-17 04:56] svlima777 opened #10990 "X Remove plugins"
**Tell us about your environment**

* **ESLint Version:**
* **Node Version:**
* **npm Version:**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[co

[2018-10-17 05:06] not-an-aardvark commented on #10990
Closing since no information at all was provided. If you're trying to report a bug, please open a new issue and fill out the questions in the issue template. Thanks!

[2018-10-17 05:06] #10990 closed

[2018-10-17 07:56] leinelissen commented on #10910
@ibbignerd Makes perfect sense to me!

[2018-10-17 11:09] maxnordlund commented on #10707
I also would like this, to output JUnit for GitLab CI and stylish to the log. That way you can see progress but also allow GitLab in this case to understand what happens.

[2018-10-17 13:54] platinumazure commented on #10988
Looks like this was fixed on the eslint-plugin-react side. Please make sure you're using the latest version of that plugin (assuming it's been released).

I'm going to go ahead and close this as resolved. If anything else does come up here on the ESLint side, let us know and we can reopen if needed. Thanks!

[2018-10-17 13:54] #10988 closed

[2018-10-17 17:28] nzakas commented on #8489
Looks like https://github.com/eslint/eslint-release/pull/27 has been merged. Shall we close this?

[2018-10-17 17:33] nzakas commented on #10601
Does that mean we can close this issue?

[2018-10-17 17:54] StreetStrider commented on #10644
Found this topic through search "plugin resolve". I got an issue which is described in @not-an-aardvark 's first point. Seemes that using custom configs with plugins distributed as a package is not possible, since plugin's resolves are relative to config consumer side and not config package side. So if I use custom config I must to install eslint plugins on the consumer side, breaking config packa

[2018-10-17 18:06] not-an-aardvark commented on #8489
Sounds good, closing.

[2018-10-17 18:06] #8489 closed

[2018-10-17 23:20] izanf commented on #10958
@platinumazure

You made me think better, because I imagined that since it works eslint should accept, but I remembered that eslint helps to set standards and does not perform tests.

Thank you.

[2018-10-17 23:20] #10958 closed

[2018-10-18 01:18] tsheaff commented on #10848
@diondirza @Aladdin-ADD any progress on this? if not we can jump in and make a PR if it helps @ajones

[2018-10-18 05:43] diondirza commented on #10848
I think @villesau already had a PR to fix this.

[2018-10-18 05:45] not-an-aardvark commented on #10848
Thanks for your interest in this issue. However, I'm closing this for the same reasoning as described in https://github.com/eslint/eslint/issues/10848#issuecomment-422488992 and https://github.com/eslint/eslint/pull/10868#issuecomment-426108973. I think it was an oversight that this wasn't originally closed at the same time as https://github.com/eslint/eslint/pull/10868.

[2018-10-18 05:45] #10848 closed

[2018-10-18 08:01] tp4k commented on #10981
Security is not the reason on build stage. Package works fine on node 8. Security should be the concern of user (unless there is a security breach in package itself). Node version should be chosen based on needed features, performance, but not because it was last during major release.
The only thing you get with strict node `^8.10.0` is forcing users to install with `--ignore-engines` which seems

[2018-10-18 09:19] lstrzebinczyk commented on #9991
It was a long shot anyway, so I will not be pushing for this: ). I'm closing the issue, thanks.

[2018-10-18 09:19] #9991 closed

[2018-10-18 15:04] ljharb commented on #10981
To be fair, only yarn requires that, since npm correctly treats “engines” as advisory, but it’d still be nice to avoid the warning.

[2018-10-18 15:35] CZechBoY opened #10993 "New rule: check that loop variable is not changed in loop body"
Hi,
I would like to have new rule, that checks if for-loop-variable (that is used as condition) is not changed in loop body, or at least is not write-used in nested loop.

**The problem you want to solve.**
[code]

**Your take on the correct solution to problem.**
Should warn about using `someVar` in nested for-loop, which is used in parent loop.

[2018-10-18 16:45] not-an-aardvark commented on #10981
@ljharb I understand your issue. My concern is that since we both agree that the exact point to draw the support line is largely arbitrary, I'm not sure it would be a good idea for us to change the support based on the version of Node used by one particular user/company. If we did that for everyone, then it would defeat the point of having a minimum supported version. I'd be interested to here wha

[2018-10-18 17:05] nzakas commented on #8502
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:05] #8502 closed

[2018-10-18 17:05] nzakas commented on #8705
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:05] #8705 closed

[2018-10-18 17:16] nzakas commented on #10978
We've discussed related things before:
https://github.com/eslint/eslint/issues/8290
https://github.com/eslint/eslint/issues/7528

And as I mentioned in #8290, what you're really asking for is to have `ecmaVersion: 2018` be the value we use when it's not specified in a config. Given that we automatically set this value when using `--init`, and the majority of ESLint users will be using it on an exi

[2018-10-18 17:17] nzakas commented on #10930
It looks like the conversation is stalled here. As this is a question rather than an action item, I'm closing the issue. If you still need help, please send a message to our [mailing list](https://groups.google.com/group/eslint) or [chatroom](https://gitter.im/eslint/eslint). Thanks!

[2018-10-18 17:17] #10930 closed

[2018-10-18 17:18] nzakas commented on #8715
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:18] #8715 closed

[2018-10-18 17:19] nzakas commented on #7532
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:19] #7532 closed

[2018-10-18 17:20] nzakas commented on #8778
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:20] #8778 closed

[2018-10-18 17:20] nzakas commented on #8784
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:20] #8784 closed

[2018-10-18 17:21] nzakas commented on #8788
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:21] #8788 closed

[2018-10-18 17:21] nzakas commented on #8817
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-18 17:21] #8817 closed

[2018-10-18 18:16] ljharb commented on #10981
@not-an-aardvark fair. Can you list what features are in 8.10 but not 8.9 that you’d want to use?

[2018-10-18 20:51] luislobo commented on #10942
@not-an-aardvark well, this issue is for basically adding the ability to configure those cases in template literals, in case this is some "hardcoded" rule, or if it's a bug, to fix it...

[2018-10-19 00:17] #8308 closed

[2018-10-19 01:30] NYCJacob commented on #9540
What if you just added a couple of sentences to the rule details explaining the danger?

[2018-10-19 11:28] r0mflip opened #10994 "Error: "Configuration for rule "camelcase" is invalid""
**Tell us about your environment**

* **ESLint Version:** v5.7.0
* **Node Version:** v10.11.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
`babel-eslint`

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

Using: https://github.com/r0mflip/eslint-config-r0mflip/blob/b08aa97821a398da9cd454378a1a6d14b55c3123/index.j

[2018-10-19 11:42] edmorley commented on #10272
Would adding initially as a just a warning be considered breaking?

[2018-10-19 14:53] wparrott-touchnet opened #10996 ""ignore-this" option for "prefer-destructuring""
**What rule do you want to change?**
`prefer-destructuring`

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
Right now, this rule would report the ab

[2018-10-19 15:43] serbanghita commented on #10632
Hi, I started working on this.
I'm looking into both variants:
* Autofix to work with no syntax error afterwards
* no fix applied

[2018-10-19 17:44] nzakas commented on #10994
Could not reproduce using ESLint v.5.7.0. Is it possible that you're using an older version of ESLint? The "ignoreDestructuring" property was added in v5.0.0, and you would definitely get this warning if you were using an older version of ESLint.

[2018-10-19 17:45] nzakas commented on #8884
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:45] #8884 closed

[2018-10-19 17:45] nzakas commented on #8877
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:45] #8877 closed

[2018-10-19 17:47] nzakas commented on #8978
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:47] #8978 closed

[2018-10-19 17:48] nzakas commented on #9188
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:48] #9188 closed

[2018-10-19 17:48] nzakas commented on #9129
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:48] #9129 closed

[2018-10-19 17:48] nzakas commented on #9059
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-19 17:48] #9059 closed

[2018-10-19 22:20] psychobolt commented on #10939
Hi I have this issue. ESLint 5.7. I see the fix and the issue is closed but it isn't merged yet into master. Is there a reason?

[2018-10-20 05:15] LJNeon opened #10997 "no-confusing-arrow and no-extra-parens conflict"
**Tell us about your environment**

* **ESLint Version:** 5.7.0
* **Node Version:** 10.12.0
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>
(Our actual configuration is hundreds of lines long so I'm only including the relevant rules)

[code]

</details>

**What did y

[2018-10-20 05:28] not-an-aardvark commented on #10997
Hi, thanks for the report. You can use the [`enforceForArrowConditionals`](https://eslint.org/docs/rules/no-extra-parens#options) option for the `no-extra-parens` rule to avoid this conflict.

[2018-10-20 05:41] LJNeon commented on #10997
Thank you.

[2018-10-20 05:41] #10997 closed

[2018-10-20 07:40] Aladdin-ADD commented on #10323
now it's accepted. 😄

[2018-10-20 17:37] mysticatea commented on #10601
Yes.

[2018-10-20 17:37] #10601 closed

[2018-10-20 20:59] chris-perts commented on #10829
What about just an option on the rule, like `allowImplicitAsyncReturn` that doesn't throw an error for code like this (when `y` is async):

`const getIt = async x => y()`

ESLint would not be expected to know that `y` is an async function, it would just silence the error in this case because you had the option set.

As it is, when I turn on both `no-return-await` and `require-await`, there's no im

[2018-10-21 14:29] marudor commented on #10939
Please use https://github.com/babel/eslint-plugin-babel and there ruleset instead of the default one for babel-eslint.

[2018-10-21 17:41] lukeapage opened #11000 "camelcase: new allow option strips underscores before checking name"
**Tell us about your environment**

* **ESLint Version:** 3.7.0
* **Node Version:** 8
* **npm Version:** 6

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you use

[2018-10-22 02:12] sstern6 commented on #10838
Looking into this, should have a PR this week

[2018-10-22 07:09] qbob opened #11002 "Extend no-multi-spaces with allow alignment option"
Is it possible to have a rule to allow alignment of = (which introduces multi spaces) without having to turn off no-multi-spaces?

The following would be considered a warning:

[code]

The following would not:

[code]
Currently no-multi-space complains about what ESLint calls good coding conventions:

[code]

I agree that this is good, but turning off no-multi-spaces completely is a blunt instrume

[2018-10-22 08:18] plexigras opened #11003 "allow relative and absolute globs"
**The version of ESLint you are using.**

`5.7.0`

**The problem you want to solve.**

i ran into this while doing

[code]

but globs like `../test/*` and even absolute paths like `/**/test/*` and `process.cwd() + '/test/*'` are prohibited

https://github.com/eslint/eslint/blob/master/lib/config/config-ops.js#L364

**Your take on the correct solution to problem.**

all i see that would need to be

[2018-10-22 10:32] petrdanecek opened #11004 "ESLINT fails to parse webpack JS configuration file - TemplateLiteral results in TypeError: Cannot read property 'range' of null"
**Tell us about your environment**

* **ESLint Version: 5.7.0**
* **Node Version: v8.11.3**
* **npm Version: 3.10.10**
* **babel-eslint: 10.0.1**

**What parser (default, Babel-ESLint, etc.) are you using?**
"parser": "babel-eslint",

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code ca

[2018-10-22 12:21] flyerhzm opened #11005 "add --list-target-files option"
**The version of ESLint you are using.**

5.7.0

**The problem you want to solve.**

I'm working on https://awesomecode.io, our users may not use `eslint` directly on their shell, we have a requirement to list target files so that our users can add ignore patterns properly.

**Your take on the correct solution to problem.**

We can add prefix `DEBUG=eslint:linter` to get target files, but it's ver

[2018-10-22 14:44] chris-perts commented on #10829
@kaicataldo I'll take your suggestion of just dropping `async`, but I don't love that either, since it's nice for documentation to label async functions as such. It's still the best available option though. Thanks.

[2018-10-22 16:50] not-an-aardvark commented on #11003
Hi, thanks for creating an issue. For the sake of having all the discussion in one place, I'll restate what I mentioned in the Gitter channel earlier:

---

To clarify the original motivation for disallowing `..`: If I have a folder called `src/` and also a folder called `tests/`, and `tests/.eslintrc` contains an override for `"../src/**/*.js"`, then what should be the behavior of `eslint src/`?

[2018-10-22 16:54] not-an-aardvark commented on #11004
Hi, thanks for reporting an issue.

I can't seem to reproduce this bug in the [demo](https://eslint.org/demo/#eyJ0ZXh0IjoiLyogZXNsaW50IHRlbXBsYXRlLWN1cmx5LXNwYWNpbmc6IGVycm9yICovXG5cbmV4cG9ydCBjb25zdCBkZXZlbG9wbWVudENvbmZpZyA9IChwcm9qUGF0aHMsIHsgSE1SX0hPU1QsIEhNUl9QT1JUIH0pID0+IG1lcmdlKFtcbiAge1xuICAgIG91dHB1dDoge1xuICAgICAgcHVibGljUGF0aDogYGh0dHA6Ly8ke0hNUl9IT1NUfToke0hNUl9QT1JUfS9gLFxuICAgIH0sXG

[2018-10-22 17:02] not-an-aardvark commented on #11005
Hi, thanks for creating an issue.

If I'm understanding correctly, the problem you're trying to solve is to figure out how ESLint resolves your globs and lints your files, for debugging purposes. It's already somewhat possible to do this with the `DEBUG` environment variable. For example, if I run something like this:

`DEBUG=eslint:linter eslint tools/`

Then ESLint generates output like this:

<

[2018-10-22 17:34] nzakas commented on #11005
Agree with @not-an-aardvark, this is precisely where the debug output is useful.

[2018-10-22 17:42] nzakas commented on #10136
Is anyone still experiencing this issue? If so, can you please comment with what version of ESLint you're using now? Thanks!

[2018-10-22 17:45] nzakas commented on #9184
@not-an-aardvark are you still working on this? It looks like one PR related to this has already been merged.

[2018-10-22 17:46] nzakas commented on #9161
@not-an-aardvark are you still working on this?

[2018-10-22 17:52] not-an-aardvark commented on #9184
I'm not actively working on this at the moment -- I'd be fine with closing this if no one else wants to pick it up, or we could add the "help wanted" label for a little while to see if anyone else contributes.

By "one PR related to this" I assuming you're referring to https://github.com/eslint/eslint/pull/9221 -- just to make sure there's no confusion, I noted the state of this issue https://gith

[2018-10-22 17:52] nzakas commented on #8793
It seems simple enough to add this note in the docs. I'll add it.

[2018-10-22 17:53] not-an-aardvark commented on #9161
Not really, I'll close it.

[2018-10-22 17:53] #9161 closed

[2018-10-22 17:57] nzakas commented on #9470
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-22 17:57] #9470 closed

[2018-10-22 17:58] nzakas commented on #9507
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-22 17:58] #9507 closed

[2018-10-22 17:58] nzakas commented on #9615
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-22 17:58] #9615 closed

[2018-10-22 18:34] petrdanecek commented on #11004
Hi,

thanks for quick turnaround. Yeah it was typo, you are right. The config is more complex, but I copied the problematic part only.
I do actually not work in shell, but I'm experiencing it in VSCode editor.
I tried to copy the code from your demo to new file, the eslint run results in same error:

[code]

However replacing back tilde ` by regular string ' fixed it.
I'm not sure that the this is

[2018-10-22 19:00] patrickmcelwee commented on #10981
I agree that ESLint should be as permissive as possible when it comes to Node versions. Currently, ESLint is putting itself in an odd position as the enforcer of upgrades to Node point release versions.

We have an application starter kit, for enterprise environments, with a goal of supporting Node 8.6+ (we specifically want to use the spread operator). We do not control all the environments in wh

[2018-10-23 06:48] flyerhzm commented on #11005
@not-an-aardvark glad to know eslint already can handle this, but it's not good enough.

1. it's too slow to use DEBUG way, here's an example to run on eslint itself.

DEBUG solution

[code]

--list-target-files solution

[code]

2. it outputs too many texts, ('Linting code for', 'Generating fixed text for', warnings and error, etc.), --list-target-files solution only outputs files and it's easy f

[2018-10-23 06:58] not-an-aardvark commented on #11005
From your initial description, I got the impression that this is mainly intended for debugging, in which case the performance would probably not be too important, and it wouldn't be necessary to analyze the output with tools. Could you clarify your use case for having the output of this command parseable by tools?

[2018-10-23 07:10] petrdanecek commented on #11004
NOTE it seems that babel-eslint is not required at all
source: [Why Use babel-eslint](https://github.com/babel/babel-eslint)
You only need to use babel-eslint if you are using types (Flow) or experimental features not supported in ESLint itself yet. Otherwise try the default parser (you don't have to use it just because you are using Babel).

[2018-10-23 20:36] #8793 closed

[2018-10-23 20:37] nzakas commented on #9184
This has been open for over a year without any other movement, so I'm going to close it. We can always revisit in the future if we feel there's a need.

[2018-10-23 20:37] #9184 closed

[2018-10-23 20:47] nzakas commented on #9687
I think having an error for this use case makes sense, as it's confusing.

**TSC Summary:** Right now if you use `ecmaVersion: 5` with `sourceType: module`, we silently ignore the `ecmaVersion` setting and upgrade to `ecmaVersion: 6`. The end user can't tell that has happened, which may lead to confusion.

**TSC Question:** Shall we throw an error when `ecmaVersion` is less than 6 and `sourceType:

[2018-10-23 20:54] nzakas commented on #9929
@platinumazure are you still working on this?

[2018-10-23 20:56] platinumazure commented on #9929
@nzakas Yes, though I've been busy.

[2018-10-23 21:02] nzakas commented on #8896
Seems like we are doing ok without this, so closing. We can always revisit later if necessary.

[2018-10-23 21:02] #8896 closed

[2018-10-23 21:06] nzakas commented on #9271
Looks like everyone thought this was a good idea and it just fell through the cracks. I'll tackle this.

[2018-10-24 01:46] #10623 closed

[2018-10-24 09:09] jlsjonas opened #11011 "comma-dangle > parsing error for multiline function call"
**Tell us about your environment**

* **ESLint Version:** 4.19.1
* **Node Version:** 10.7.0
* **npm Version:** 5.6.0

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you used t

[2018-10-24 12:55] flyerhzm commented on #11005
@not-an-aardvark okay, I'm working on https://awesomecode.io, we use eslint internally and we want to let users know what files will be parsed and what are not, it's much easier to parse the output with `--list-target-files` option.

[2018-10-24 15:52] Aladdin-ADD commented on #11011
hi, thanks for the issue! seems you are using [trailing-function-commas](https://github.com/tc39/proposal-trailing-function-commas), it was introduced in es2017.  Can you try to set `ecmaVersion": 2017`(or 2018) to solve the issue?

[2018-10-24 16:23] #9271 closed

[2018-10-24 16:28] nzakas commented on #11005
@flyerhzm in that case, can you please go back and edit your initial comment? One sentence isn't really enough for us to determine if we'd like to move forward with this suggestion. Please describe the complete problem you are trying to solve, including details about how you use ESLint in your project currently and how you might implement the solution you are proposing. Thanks!

[2018-10-24 16:38] nzakas commented on #9559
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:38] #9559 closed

[2018-10-24 16:38] nzakas commented on #9575
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:38] #9575 closed

[2018-10-24 16:39] nzakas commented on #9612
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:39] #9612 closed

[2018-10-24 16:40] nzakas commented on #9617
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:40] #9617 closed

[2018-10-24 16:43] nzakas commented on #9505
This seems like a nasty bug that we should fix with the next major release.

[2018-10-24 16:45] kud commented on #9575
Alright. Thank you. :)

[2018-10-24 16:48] nzakas commented on #9697
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:48] #9697 closed

[2018-10-24 16:49] nzakas commented on #9794
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:49] #9794 closed

[2018-10-24 16:51] nzakas commented on #9793
@platinumazure are you still pursuing this? If not, I think it's time to close this issue.

[2018-10-24 16:52] nzakas commented on #9844
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:52] #9844 closed

[2018-10-24 16:53] nzakas commented on #9915
Closing per last comment.

[2018-10-24 16:53] #9915 closed

[2018-10-24 16:53] nzakas commented on #9949
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:53] #9949 closed

[2018-10-24 16:54] nzakas commented on #9968
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:54] #9968 closed

[2018-10-24 16:55] nzakas commented on #9976
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:55] #9976 closed

[2018-10-24 16:56] nzakas commented on #10051
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:56] #10051 closed

[2018-10-24 16:56] nzakas commented on #10068
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:56] #10068 closed

[2018-10-24 16:56] nzakas commented on #10081
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-24 16:56] #10081 closed

[2018-10-24 16:58] platinumazure commented on #9793
We can close this. I'm still interested but don't have time to keep digging for the short term.

[2018-10-24 16:58] #9793 closed

[2018-10-24 17:11] not-an-aardvark commented on #9505
As a minor note for whoever implements this: I think the invalid comment should be reported as a linting problem, not by throwing an error. In general we've been trying to preserve the invariant that issues with the source text shouldn't cause any errors to be thrown, since this prevents integrations from crashing if the integrations are supposed to handle arbitrary text from the user. (For exampl

[2018-10-24 21:01] not-an-aardvark opened #11014 "Build broken on master after espree upgrade"
**What did you do? Please include the actual source code causing the issue, as well as the command that you used to run ESLint.**

[code]

**What did you expect to happen?**

The build should pass.

**What actually happened? Please include the actual, raw output from ESLint.**

The build did not pass. The following output was produced during the gensite tests:

[code]

I haven't investigated the p

[2018-10-24 21:05] not-an-aardvark commented on #11014
The problem might be that https://github.com/eslint/espree/commit/8eadb8829e6ca55dced35243665a6e19b7ebf386 added ES6 syntax to `espree` for the first time, and we're not compiling code in dependencies down to ES5. As far as semver is concerned, this is valid since `espree` supports Node `>=6.0.0`, but if this is the cause of the issue we might need to adjust our build process so that we also compi

[2018-10-25 13:06] jlsjonas commented on #11011
That did the trick; I guess `airbnb-base` or `plugin:vue/recommended` has a configuration issue

[2018-10-25 13:06] #11011 closed

[2018-10-25 13:54] bdistin opened #11017 "Broken indent expectations in template literals within classes"
**Tell us about your environment**

* **ESLint Version:** 5.7.0
* **Node Version:** 10.12.0
* **npm Version:** 5.3.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-10-25 14:05] debugwand opened #11018 "JSX linting fails due to espree minor release including major dependency bump"
Espree has released a minor version 4.1.0 which bumps acorn-jsx to a new major version (5), which in turn breaks JSX linting (see https://github.com/eslint/espree/issues/393)

`Acorn-jsx` needs to be used in a different way as of version 5,
https://github.com/RReverser/acorn-jsx/commit/ddcc01d707b2eb5f9ae4de36ba32e2276a18ba3c

We are running command `eslint **/*.jsx` in the terminal, errors thrown

[2018-10-25 14:08] flyerhzm commented on #11005
@nzakas updated

[2018-10-25 14:39] remcohaszing opened #11019 "Add sort-imports member sorting into a separate option"
**What rule do you want to change?**

`sort-imports`

**Does this change cause the rule to produce more or fewer warnings?**

Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**

Currently, `sort-imports` does two checks. One is always on, the other is optional. I would like to only use the optional part.

One part is that it checks the order of import statemen

[2018-10-25 16:10] not-an-aardvark commented on #11018
Hi, thanks for the report. Could you provide an example of a source file that fails to parse? JSX parsing in general seems to be working for me using the latest version of `espree`. It's possible that there is a bug here, but as far as I can tell it doesn't seem to apply to all JSX code, so it would be helpful to have a reproducible example.

[2018-10-25 19:10] not-an-aardvark commented on #10981
**TSC Summary**: We currently support only versions of Node 6 after 6.12.0, and only versions of Node 8 after 8.10.0. We do this to allow ESLint to use some newer Node features. (For example, we recently switched to using `assert.fail` with a single argument in `RuleTester` to avoid a deprecation warning in Node v11, and the new pattern is only supported in Node 6.14.0 and above.) However, some of

[2018-10-25 19:29] ljharb commented on #10981
@not-an-aardvark it would be appreciated, if the status quo is retained, to get a concrete answer to https://github.com/eslint/eslint/issues/10981#issuecomment-431110502

[2018-10-25 19:35] platinumazure commented on #10981
If we're only supporting 6.12+ but this pattern is only supported in 6.14+, it seems that we've put in a breaking change. Do we need to revert that change and eat the deprecation warning?

[2018-10-25 19:47] pnevyk opened #11020 "Rule proposal: require to specify rules to be disabled in "eslint-disable" comment directives"
**Please describe what the rule should do:**

ESLint allows to disable itself via special comments `/* eslint-disable */`, `// eslint-disable-line` and `// eslint-disable-next-line`. These comments either disable entire ESLint for intended part of code or the user can specify what exact rules are disabled. I propose to add a rule which would require to explicitly name the rules to disable.

In my

[2018-10-25 19:47] not-an-aardvark commented on #10981
Sorry, I switched around the two numbers -- we [support 6.14+](https://github.com/eslint/eslint/blob/3d88b388aaa90f6053971b6073809e481f1ff457/package.json#L126) and the feature was [introduced in 6.12.0](https://github.com/nodejs/node/blob/d8924a0160b395025648f15b2a812596c2f19d3d/doc/changelogs/CHANGELOG_V6.md#2017-11-07-version-6120-boron-lts-mylesborins), so there wasn't a breaking change. I'll

[2018-10-25 19:51] not-an-aardvark commented on #11020
Hi, thanks for the proposal. Does [this rule](https://github.com/mysticatea/eslint-plugin-eslint-comments/blob/c427c1c0577fab56f2ff0919053d249938507c83/docs/rules/no-unlimited-disable.md) from `eslint-plugin-eslint-comments` cover what you have in mind?

[2018-10-25 19:55] platinumazure commented on #10981
@not-an-aardvark Thanks for clarifying!

[2018-10-25 20:55] pnevyk commented on #11020
@not-an-aardvark Hi, yes that's exactly it. I apologize, I searched in eslint issues if there was such a proposal, but I should also have to look around if there is a plugin already implementing it. I am closing this issue. Thank you for your quick response.

[2018-10-25 20:55] #11020 closed

[2018-10-25 21:33] kaicataldo commented on #9687
**TSC Resolution:** This is accepted as a breaking change. Implementation details can be discussed on this issue.

[2018-10-25 21:35] kaicataldo commented on #10981
**TSC Resolution:** The TSC wasn't able to come to a consensus in the time allotted for today's meeting and will open up a new issue to discuss how ESLint will handle Node.js version support going forward.

[2018-10-25 22:41] sholladay commented on #11018
I am also experiencing this. Getting a lot of crazy parse errors on JSX files that have not changed since the last time CI passed, while plain old JS files seem to be unaffected.

One thing to note about my setup is I am using ESLint via XO. Interestingly, I wasn't able to quickly reproduce with a plain old global ESLint install, yet ESLint and its dependencies seem to be the only ones with a new

[2018-10-26 00:02] riwu opened #11021 "Closing braces being flushed all the way to the left for inline component props"
**Tell us about your environment**

* **ESLint Version:**
[code]

* **Node Version:** v8.12.0
* **yarn Version:** 1.9.4

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command

[2018-10-26 00:04] not-an-aardvark commented on #11021
Hi, thanks for the report. You mentioned that "Line 11's closing braces are being flushed to the left when prettier-atom formats it" -- are you sure this problem is related to ESLint? (Does the same thing happen when you run `eslint --fix` on the command line?)

[2018-10-26 00:19] riwu commented on #11021
@not-an-aardvark I noticed that `eslint --fix` does not flush it to the left again if I manually correct the indentation (that behavior seems to be from `prettier-atom`). However, it still flushes it to the left for the initial `--fix`. Please see the updated screenshot above.

If I run without `--fix`, it gives an error:

[2018-10-26 00:29] mysticatea commented on #11018
So this is a bug in npm.

npm doesn't seem to install dependencies correctly if a package which has a name before `eslint` in the alphabet order and has old `acorn` in that dependencies exists.... The `acorn` that `espree` depends on is lost.

[2018-10-26 00:30] not-an-aardvark commented on #11021
Since the error before using `--fix` is from the `react/jsx-wrap-multilines` rule, I think this is a bug in [`eslint-plugin-react`](https://github.com/yannickcr/eslint-plugin-react). I would recommend reporting an issue in that repository instead.

[2018-10-26 01:12] mysticatea commented on #11018
I reported: https://npm.community/t/failed-to-install-eslint-in-a-specific-situation/2975

[2018-10-26 05:33] not-an-aardvark opened #11022 "Decide how to manage support for minor versions of Node"
This issue is a continuation of the discussion from [today's TSC meeting](https://github.com/eslint/tsc-meetings/blob/db22ac4183308214535abd4bbe16143bc83bc3c6/notes/2018/2018-10-25.md#allow-use-node-version-8) about our Node support, since there wasn't enough time to finish the discussion during the meeting. The issue is being locked so that only team members can comment in accordance with the dis

[2018-10-26 05:33] not-an-aardvark commented on #10981
Created an issue at https://github.com/eslint/eslint/issues/11022.

[2018-10-26 07:22] UncleYee opened #11023 "got "TypeError: Cannot read property 'loc' of undefined" after entering 'const' in typescript file in vscode"
**Tell us about your environment**

* **ESLint Version: v4.19.1**
* **Node Version: v8.11.2**
* **npm Version: v5.6.0**

**What parser (default, Babel-ESLint, etc.) are you using?**
typescript-eslint-parser

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as

[2018-10-26 07:29] mysticatea commented on #11023
Thank you for this report.

This causes by that `typescript-eslint-parser` generates wrong AST.
`const` with no declarator is a syntax error, but `typescript-eslint-parser` passes it. As the result, some core rules can throw errors.

I'd like to recommend to open an issue on `typescirpt-eslint-parser` repo.

[2018-10-26 10:53] denenr opened #11024 "Parsing error: Unexpected token )"
**Tell us about your environment**

* **ESLint Version:** v5.7.0
* **Node Version:** v8.4.0
* **npm Version:** 6.4.0

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2018-10-26 11:16] Aladdin-ADD commented on #11024
2 ways to solve it:
+ if you don't want to enforce trailing-function-commas, you can disable the option `functions: never
`, then the first error `"Missing trailing comma  comma-dangle"` should gone.
[code]
+ if you want to enforce trailing-function-commas(it was introduced in es2017), you need specify "ecmaVersion: 2017"

[2018-10-26 16:48] nzakas commented on #9505
Ah gotcha, thanks for the heads up about projects.

On Wed, Oct 24, 2018 at 10:12 AM Teddy Katz <notifications@github.com>
wrote:

--

______________________________
Nicholas C. Zakas
@slicknet

Author, Principles of Object-Oriented JavaScript <http://amzn.to/29Pmfrm>
Author, Understanding ECMAScript 6 <http://amzn.to/29K1mIy>

[2018-10-26 17:16] betaorbust commented on #10705
I had this exact need -- setting personalized context on rules and adding links to project-specific reasons why a rule was turned on and how to fix it.

My solution was:
- Split up the "message" concept (a single string) from the "context" concept (an array of links to docs)
- Externalize the definitions of new messages and contexts from the ESLint formatter (allow us to use our own defs instead o

[2018-10-26 17:16] nzakas commented on #11022
I believe the intent of this issue was to discuss how we want to support Node.js versions going forward, and not necessarily just about the Node 8.10 issues we are currently dealing with?

[2018-10-26 17:18] nzakas commented on #10985
Additional note: this was the first release where we used 2FA for the publish portion of the release.

[2018-10-26 17:18] betaorbust commented on #10705
Also, this would go hand-in-hand with https://github.com/eslint/eslint/issues/9870 because if both were implemented, rules that didn't have language support in a certain language could be augmented by third-parties in a blessed-path fashion while they build up the body of work.

[2018-10-26 17:19] nzakas commented on #9760
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-26 17:19] #9760 closed

[2018-10-26 17:19] not-an-aardvark commented on #11022
I've retitled the issue

[2018-10-26 17:35] iandunn opened #11025 "Add rule to enforce equals operator alignment"
**Please describe what the rule should do:**

If enabled, the rule should produce a warning when consecutive assignment statements do not have the assignment operator aligned.

This would be similar to using `key-spacing` with `align: colon`.

Optionally, it could be expanded beyond the `=` operator, to include things like aligning the `from` keyword in imports, and similar situations.

**What cat

[2018-10-26 17:41] ljharb commented on #11025
Are there any common style guides that recommend alignment like this? It seems common in other languages, but the idiomatic JS i've seen recommends strictly avoiding alignment like this.

[2018-10-27 09:30] millette commented on #10404
Could the config initializer (the part that depends on inquirer) be moved to a secondary package?

[2018-10-27 14:17] flyerhzm commented on #11005
@not-an-aardvark yes, it can be a solution for us, I will use the API if this PR is not merged.

[2018-10-27 14:20] platinumazure commented on #11005
@not-an-aardvark Do you know if `CLIEngine#resolveFileGlobPatterns` will take ignore patterns into account? My assumption is it won't. We do have `CLIEngine#isPathIgnored`, so maybe the solution is to resolve the glob patterns, call the glob utility to get a list of paths, and then filter that list to remove ignored paths.

[2018-10-27 18:53] kaicataldo commented on #11005
From looking at the code, it doesn't look like it takes ignored paths into account. This [method](https://github.com/eslint/eslint/blob/6009239042cb651bc7ca6b8c81bbe44c40327430/lib/util/glob-utils.js#L187) (which we don't currently expose publicly) looks to be what this issue is asking for. I'm not convinced we need a new command-line flag either, but I wouldn't be opposed to exposing this in the

[2018-10-27 19:07] kaicataldo commented on #11019
Given the pluggable nature of ESLint and the size of the plugin community, we can't always ensure that all rules work with plugins. I'm not convinced we need an entirely new rule to solve this problem.

I wonder if a better solve would be to deprecate the [`ignoreMemberSort` option](https://eslint.org/docs/rules/sort-imports#options) in favor of an option that allows the toggling of sorting import

[2018-10-27 19:15] reviewher opened #11026 "CLI support non-existent .eslintrc"
**The version of ESLint you are using.** 5.3.0

**The problem you want to solve.** Run ESLint on a project that doesn't currently have a `.eslintrc`

**Your take on the correct solution to problem.**

ESLint currently errors when running on a project that has no `.eslintrc` file where none of the parent directories have a `.eslintrc`.  However, ESLint supports an empty `.eslintrc` file (no content

[2018-10-27 19:29] kaicataldo commented on #11002
Have you tried the [`exceptions`](https://eslint.org/docs/rules/no-multi-spaces#exceptions) configuration option? It sounds like you want to use `"exceptions": { "VariableDeclarator": true }` in your config.

[2018-10-27 19:33] reviewher commented on #11026
@kaicataldo I agree that the important thing is for both behaviors to be consistent (either error on empty file OR support non-existent file)

There may not be a default ruleset, but there is definitely a default parser configuration.  For example, https://github.com/kirillmurashov/vue-drag-resize/ has no .eslintrc.  Running will give the standard missing configuration error.  Adding an empty .esl

[2018-10-28 03:08] kaicataldo commented on #10726
Some prior relevant discussion: https://github.com/eslint/eslint/issues/5234.

I agree that it feels like an overlapping of responsibilities for the `quotes` rule to care about whether or not the template literal backticks _should_ be used, and I do think the issue described here should be one that the `quotes` rule should handle correctly when the configuration is set to `{ "avoidEscape": true, "

[2018-10-28 03:11] kaicataldo commented on #10975
@Alex-PK There's a discussion around your request [here](https://github.com/eslint/eslint.github.io/issues/485).

[2018-10-28 03:12] kaicataldo commented on #10975
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2018-10-28 03:12] #10975 closed

[2018-10-28 03:17] kaicataldo commented on #10976
It sounds like you're advocating for something like `no-restricted-comments` that would be configured with a mapping of a string/RegExp to an an error message (similar to [no-restricted-syntax](https://eslint.org/docs/rules/no-restricted-syntax) but for comments). That seems like a reasonable change to me, since the new rule would cover everything the current rule does but allow for greater flexib

[2018-10-28 03:19] kaicataldo commented on #10672
Given the test that @g-plane linked to above, this seems like a bug to me. Curious what the rest of the team thinks.

[2018-10-28 03:29] Aladdin-ADD commented on #11024
you might want https://eslint.org/docs/rules/comma-dangle#functions and https://eslint.org/docs/user-guide/configuring#specifying-parser-options 😄

[2018-10-28 03:38] kaicataldo commented on #10957
I would still be hesitant to introduce a new feature that feels broken on release. I think where I'm having trouble with the current proposal is in the following assumption:

ESLint doesn't guarantee all instances of errors will be fixed in a rule that has an autofixer. By adding a feature flag like this we're agreeing to supporting and maintaining this new feature, and I think most people would s

[2018-10-28 03:45] kaicataldo commented on #10984
Closing this issue since we haven't heard anything back for quite some time and it looks as though this question has been answered. Feel free to create a new issue if this is something you would like to discuss further.

[2018-10-28 03:45] #10984 closed

[2018-10-28 03:46] kaicataldo commented on #10982
@mysticatea Just to clarify, are you saying this is a bug?

[2018-10-28 03:51] kaicataldo commented on #10239
It sounds like the instances described here were caused by ignoring unwanted directories (such as `coverage`).

Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) or open another issue if you have any other issues!

[2018-10-28 03:51] #10239 closed

[2018-10-28 03:54] kaicataldo commented on #10910
This seems reasonable to me, though I think `exceptions` might make more sense than `exceptMethods` since this rule also checks function declarations and expressions.

[2018-10-28 03:56] kaicataldo commented on #10942
@not-an-aardvark Thanks for clarifying that!

[2018-10-28 04:09] kaicataldo commented on #10996
I think the `prefer-destructuring` rule is a bit kludgy in its current iteration, and I think some option like this would make it more usable.

That being said, I feel like scoping the change to properties on `this` is a bit of a narrow use case. Thoughts on adding an option that allows this allows this style for any member expression? Something like `onlyEnforceForLastMember` (hopefully there's a

[2018-10-28 04:13] ljharb commented on #10996
For airbnb’s use case, we would only want this option for `this` - the receiver is special, and warrants special treatment.

[2018-10-28 04:14] kaicataldo commented on #10323
It looks like this was accepted, but the implementation details of the proposal still need to be worked out. How do we want to proceed here? cc @platinumazure

[2018-10-28 04:33] kaicataldo commented on #11026
@reviewher Understood - I didn't realize that was the current behavior. I could see the argument being made that someone might want to just validate that they have valid syntax, however I think using Espree or Acorn directly would be a better way to do that. I still think we should probably throw an error for empty config files, but let's see what the rest of the team thinks.

[2018-10-28 04:43] kaicataldo commented on #11024
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2018-10-28 04:43] #11024 closed

[2018-10-28 04:47] not-an-aardvark commented on #11026
I don't feel very strongly about it, but I think the current behavior of only doing syntax validation for an empty config is logically consistent and sometimes useful. Given that all rules are off by default, it makes sense to me that if you create a config without any rules, then ESLint will run as before with zero rules enabled.

In the past, I've added ESLint to a project to just to have syntax

[2018-10-28 06:12] reviewher commented on #11026
ESLint clearly has a "default configuration" for empty config, which means that there is a meaningful behavior for a missing config.  As a result, the default for a project without a `.eslintrc` probably should be a warning (with body text similar to the current error behavior) followed by execution as if the config was empty.  The `--no-eslintrc` flag would suppress the warning message.

[2018-10-28 07:49] platinumazure commented on #10323
Hi @kaicataldo, I had envisioned that this rule would have a similar set of options as `object-property-newline` and `array-element-newline` since this rule is basically analogous to those rules for the function parameter case.

I do think we should be careful to distinguish between the function definition and function call cases, though. Possibly we should have separate rules for those. This prop

[2018-10-28 11:09] remcohaszing commented on #11019
That proposal seems just as good to me. :+1:

For backwards compatibility, I suggest the following signature:

[code]

[2018-10-28 18:58] aquibm commented on #10821
Looks like this is because of a posix conversion in the ignore library used by [lib/ingored-paths.js](https://github.com/eslint/eslint/blob/master/lib/ignored-paths.js#L14). I've [created a PR upstream](https://github.com/kaelzhang/node-ignore/pull/46) that should resolve the issue.

If we need it resolved urgently, we could run the relative path through our [convertPathToPosix](https://github.com

[2018-10-28 21:46] kaicataldo commented on #11026
One more thing to consider here is that not all empty config files are treated equally. An `.eslintrc.json` filet that contains no content throws the error
[code]
while `.eslintrc` does not. I believe this is due to the latter two being valid syntax for an empty YAML file while the former is not valid JSON. Adding `{}` to the empty `.eslintrc.json` file makes the error go away.

This makes things

[2018-10-28 22:19] cdaringe opened #11029 "baseConfig does not allow for passing of baseConfig filename"
**The version of ESLint you are using.**

`5.8.0`

**The problem you want to solve.**

1. `baseConfig` has poor ergonomics in that it requires rules to already be parsed.  configurations are often file based, thus, it would be dev-friendly to permit (in addition to parsed eslint rules) a filename to a baseConfig
1. in the current state, if you pass a `filename`, it does not error and instead produ

[2018-10-29 08:09] mysticatea commented on #10982
Looks like an enhancement to me.

[2018-10-29 11:58] ibc commented on #11018
Hi, I've two projects A and B, both with same subset and config of react+babel+eslint. Not sure if relevant, but:

* In project A the issue above happens to me after upgrading from eslint 5.7.0 to eslint 5.8.0, but it also happens if I later downgrade it to 5.7.0. I also upgraded these deps:

[code]

* In project B, even upgrading to eslint 5.8.0, I don't get the error. Those are my updates in B:

[2018-10-29 13:44] jaredmcateer commented on #10618
@kaicataldo I ran into this problem as well here's the full stack trace.

[code]

[2018-10-29 14:06] herodrigues commented on #11018
I also got weird lint errors after upgrading eslint to v5.8.0

[code]

Deleting `node_modules` and `package-lock.json`, then installing all packages again solved the issue.

[2018-10-29 14:22] wparrott-touchnet commented on #10996
Seeing the discussion here, I can actually see a use case for both variations of the flag. Perhaps something along these lines would satisfy both situations?

[code]

[2018-10-29 16:10] nzakas commented on #10957
While I do agree that we need more control over when rules are and are not fixed (as in #10855), I'm not sure this proposal makes sense for most users.

As @kaicataldo points out, there is no guarantee that a fixable rule will apply any fixes to the output at all, so there is no clear distinction between a rule that will and will not apply fixes during precommit.

I also agree that the best way to

[2018-10-29 16:15] ibc commented on #11018
Confirmed that I got rid of those errors by also removing `node_modules` and `package-lock.json`. It seems that, previously, I did not delete the lock file.

[2018-10-29 16:40] nzakas commented on #10985
No regressions, so closing the release issue.

[2018-10-29 16:40] #10985 closed

[2018-10-29 16:40] eslint[bot] opened #11030 "Scheduled release for November 9th, 2018"
The scheduled release on Friday, November 9th, 2018 is assigned to:

* @btmills
* @nzakas

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [Release guidelines](htt

[2018-10-29 16:51] nzakas commented on #11026
Another thing to consider: `.eslintrc` is a deprecated feature in ESLint. We don't allow people to create it using `--init` and would prefer that people use the formal JSON, YAML, or JS versions of that file instead.

The behavior noted in this issue was originally by design, when we implemented the requirement that a config must be present to run ESLint. We intentionally said that the presence of

[2018-10-29 17:02] nzakas commented on #11029
Can you please update this issue with a better description of the problem you are trying to solve? You've commented on your pull request in several places with what I think is a better description. If you can update this issue so we have a record of what it is you're requested, we'd appreciate it.

[2018-10-29 17:06] nzakas commented on #11019
The proposal to add an option to turn off declaration sort seems reasonable to me. :+1:

@remcohaszing are you will to submit a pull request for this proposal?

[2018-10-29 17:09] nzakas commented on #10993
Thanks for the suggestion. This seems like a very specific problem that I'm not sure makes sense as part of ESLint. However, you can certainly make your own rule as a plugin if you feel this is important for your codebase.

[2018-10-29 17:13] nzakas commented on #8991
@not-an-aardvark is this something you still want to address?

[2018-10-29 17:14] cdaringe commented on #11029
@nzakas, sure.  updated!

[2018-10-29 17:15] nzakas commented on #9883
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-10-29 17:15] #9883 closed

[2018-10-29 17:18] remcohaszing commented on #11019
I'll give it a try somewhere this week.

[2018-10-29 17:43] not-an-aardvark commented on #8991
It's not a high priority, I'll close this issue.

[2018-10-29 17:43] #8991 closed

[2018-10-29 18:35] CZechBoY commented on #10993
ok, thanks.

[2018-10-29 18:35] #10993 closed

[2018-10-29 23:19] Fishrock123 opened #11031 "handle-callback-err shouldn't trigger when `arguments` is used"
**What rule do you want to change?**
`handle-callback-err`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**
IMO the default behavior should be changed, maybe an option could be added.

**Please provide some example code that this change will affect:**

Saw some code trigger this one tim

[2018-10-30 05:10] sstern6 commented on #10838
Been looking into this today and had a few questions.  @not-an-aardvark from what I can see, the cliEngine  doesnt actually EVER read in the rules from the config, under `rules.js -> #load`, which is what the cliEngine#getRules is calling, according to the documentation.

Tried to verify what you had commented by calling cliEngine#executeOnText(per your rec) but couldnt verify the no-semi rule was

[2018-10-30 08:00] medikoo commented on #10284
It's controversial, as `URL` as global is not exposed with Node.js v8.

So this change breaks for users of Node.js v8 LTS (linter doesn't report that `URL` is undefined)

IMO this should match LTS behavior

[2018-10-30 10:28] Alhadis opened #11034 "`allowStart/End` option for `prefer-template` rule"
**What rule do you want to change?**
[`prefer-template`](https://eslint.org/docs/rules/prefer-template)

**Does this change cause the rule to produce more or fewer warnings?**
Fewer.

**How will the change be implemented? (New option, new default behavior, etc.)?**
New option. Default configuration looking something like this:

[code]

**Please provide some example code that this change will affec

[2018-10-30 10:47] privatenumber opened #11035 "Better support for multiple processors"
**The version of ESLint you are using.**
v5.8.0

**The problem you want to solve.**
I'm currently using two plugins to lint `vue` codeblocks in markdown files -- [eslint-plugin-markdown](https://github.com/eslint/eslint-plugin-markdown) and [eslint-plugin-vue](https://github.com/vuejs/eslint-plugin-vue) -- and they both have processors of their own that only apply to certain file extensions: [esli

[2018-10-30 12:10] platinumazure commented on #10284
@medikoo You can use the `no-restricted-globals` rule to cover that case.

[2018-10-30 12:20] medikoo commented on #10284
Yes, same way I can just turn off this in `globals`.

Issue here is, that default setting doesn't reflect LTS version, eventually two node envs should be set, e.g. `node-lts` and `node-non-lts`

[2018-10-30 13:43] neemzy commented on #10721
@platinumazure @eslint/eslint-team Any news on this? :)

[2018-10-30 15:55] brettz9 opened #11036 "`valid-jsdoc` rule: Allow "event:" within `@param` types"
**Tell us about your environment**

* **ESLint Version:** 5.8.0
* **Node Version:** 9.2.1
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-10-30 16:11] brettz9 opened #11037 "`valid-jsdoc` rule: avoid erring for missing `@param`'s or `@return(s)` with `@implements` on the block"
**Tell us about your environment**

* **ESLint Version:** 5.8.0
* **Node Version:** 9.2.1
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-10-30 16:12] platinumazure commented on #10721
@neemzy Thanks for following up. Trying to muster support again :smile: Hoping this might be accepted in a few days, otherwise we'll have to close per our issue backlog policy.

[2018-10-30 16:30] nzakas commented on #11036
Thanks for the issue. It looks like the problem here is that Doctrine, the JSDoc parser we use, just doesn't support this syntax. The only way to fix this would be to make a fix to Doctrine itself. Can you [open an issue](https://github.com/eslint/doctrine/issues/new) there instead?

[2018-10-30 16:30] #11036 closed

[2018-10-30 16:31] nzakas commented on #11037
Thanks for the issue. Similar to #11036, this is a parsing error caused by Doctrine, not actually part of ESLint itself. Can you [open an issue](https://github.com/eslint/doctrine/issues/new) there instead?

[2018-10-30 16:31] #11037 closed

[2018-10-30 16:33] nzakas commented on #11034
Thanks for the issue. Can you explain exactly what "allowStart" and "allowEnd" are intended to do? It's not clear from your description.

[2018-10-30 16:36] nzakas commented on #11031
Thanks for the issue. The rule is behaving correctly because `err` is not being used in your example. If you aren't going to use `err`, than I'd recommend removing it from the function declaration to avoid triggering this error. I'm not in favor of making this change, but let's see if any other team member feels differently.

[2018-10-30 16:39] #7443 closed

[2018-10-30 16:51] Alhadis commented on #11034
Sorry. Should've clarified, or at least chosen less vague names for the proposed settings.

`allowStart` allows concatenation if the first operand isn't a string literal, such as:

[code]

Conversely, `allowEnd` allows concatenation if the last operand isn't a string literal:

[code]

Does that make sense?

[2018-10-30 16:53] arthurwhite opened #11039 "Same config, same code, different behavior for JSX files"
This one drives me crazy…

I have a Next.js **preexisting project** for which I add ESLint with the Airbnb preset.
The problem is that it can't parse JSX files.
But when I create a **new project** with the same config, files and dependencies, it just works!

Is there a cache to purge somewhere ?

#### Code

[code]

#### Error

[code]

#### Dependencies

[code]

#### Versions

* ESLint 5.8.0
* Node

[2018-10-30 17:45] sstern6 commented on #10838
@not-an-aardvark thank you for the context.

I tried running per your reccomendation:

[code]

but the rules from my eslintrc config werent being included in the final output.  Maybe i was doing something wrong?

Sounds good, it looks like well need to merge this.config.plugins with the result of that #getRules has already created.  Ill take a closer look and hopefully have a PR this week!

Thanks

[2018-10-30 18:08] platinumazure commented on #11031
With the advent of rest parameters, I feel this could be handled differently:

[code]

This ensures explicit usage of err, without requiring all other potential arguments to be specified.

Naturally, some users have to support old runtimes, so this won't work for everyone. But I think it's a much better solution overall, and I'm not sure it's worth increasing the complexity of this rule for what m

[2018-10-30 18:11] not-an-aardvark commented on #10838
To reiterate, the config processing currently happens when linting text. As a result, the following behavior occurs:

[code]

And another example:

[code]

So it seems like the easiest solution would be to just put a call to `this.getConfigForFile` `CLIEngine#getRules` before calling `Linter#getRules`. It shouldn't be necessary to read `this.config.plugins` from within `CLIEngine`. (In the long te

[2018-10-30 18:14] cdaringe commented on #11029
it was requested in #11029 that the PR be closed and discussion be moved here.  the current state of this feature request is that there is openness to accepting the feature, but not under the proposed API.

with that, would an api like `baseConfigFilename: '/path/to/eslintconfigfile` be accepted?

[2018-10-30 18:48] sstern6 commented on #10838
@not-an-aardvark thanks for the clarification.

[2018-10-30 18:52] platinumazure commented on #11029
@cdaringe Just out of curiosity, is it feasible to have all the config files just `extends` the file in question?

[2018-10-30 19:29] platinumazure commented on #10721
@mysticatea @kaicataldo @not-an-aardvark Any thoughts on this proposal?

[2018-10-30 19:37] not-an-aardvark commented on #10721
Is the intent that this should change the behavior of the existing `var`, `let`, and `const` STATEMENT_TYPEs to only match single-line statements? Based on skimming https://github.com/eslint/eslint/pull/10919 it seems like that is what's been implemented, but it seems like that would be a breaking change for users who rely on `var`, `let`, and `const` matching multiline statements.

[2018-10-30 19:48] platinumazure commented on #10721
Thanks @not-an-aardvark, I didn't see the PR.

I would consider the PR as breaking at this point. I think we should support the multiline-only case in a semver-minor release and change the meaning of the existing types in a semver-major.

[2018-10-30 20:00] not-an-aardvark commented on #10721
To me, it seems confusing to have a type called `var` that actually means "single-line var statement". What if we also added something like `singleline-var` and kept `var` as-is?

[2018-10-30 21:03] arthurwhite commented on #11039
This is it!
It happens only when we install the above devDependencies **after** the `next` package.

Now, where this conflict between `next` and `eslint` || `eslint-plugin-jsx-a11y` || `eslint-plugin-react`  comes from… That's the question.

[2018-10-30 21:10] not-an-aardvark commented on #11039
This seems like it might be the same problem as https://github.com/eslint/espree/issues/393. Do the workarounds suggested in that issue work for you?

[2018-10-30 21:46] arthurwhite commented on #11039
Yes, `npm i -D acorn acorn-jsx espree` does the trick.
All 3 must be installed at the same time.

In fact, there even was an npm warning during install (which I never read — lesson learned):
[code]
But even from this, I would not have thought of installing `espree`.

So thank you, @not-an-aardvark!
I'll let you close the issue if you consider this is not directly related to ESLint.

[2018-10-31 00:41] Fishrock123 commented on #11031
I'm using eslint against foreign sources, so I don't have any say about the source code in question here.

I'd hazard a guess that's not recommended eslint usage, but it is certainly _a_ use-case 🤷‍♂️.

I can just modify the rule myself (I'm still a bit confounded as to how exactly I should modify it), but figured it might be upstream-able as it does seem realistic.

[2018-10-31 01:50] cdaringe commented on #11029
hey @platinumazure.  great question.  i'd say yes, however:

1. it breaks previously supported behavior of cascading eslint files all contributing naturally by mere presence of the config file on the f/s
    1. e.g. the difference being that now each config file most have knowledge of its parent(s)
1. it defeats the intent of the `baseConfig` feature, as now there is no implicit configuration perm

[2018-10-31 04:02] paulmelnikow opened #11041 "Check object literals as part of no-useless-rename"
**What rule do you want to change?**

[no-useless-rename](https://eslint.org/docs/rules/no-useless-rename)

**Does this change cause the rule to produce more or fewer warnings?**

More warnings

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option + new default behavior

**Please provide some example code that this change will affect:**

[code]

**What does

[2018-10-31 04:14] not-an-aardvark commented on #11041
Hi, thanks for the proposal.

I'm a bit confused because I'm not sure I understand the problem with the code above. How would the rule recommend writing it instead?

Also, does the [`object-shorthand`](https://eslint.org/docs/rules/object-shorthand) rule already cover this case?

[2018-10-31 04:15] platinumazure commented on #11041
Is this covered by `object-shorthand`? I'm confused, maybe I'm missing something.

[2018-10-31 04:17] paulmelnikow commented on #11041
Ah! So it is. Maybe I can add a cross-reference in the documentation. Thanks!

[2018-10-31 04:17] #11041 closed

[2018-10-31 04:19] platinumazure commented on #11041
A documentation PR to add cross-reference(s) would be wonderful, thanks!

[2018-10-31 07:33] Alhadis commented on #11034
I should also stress the reasoning behind this option is to eliminate cluttered-looking string literals which are cleaner to express with concatenation:

[code]

I find this clearer to read:

[code]

Template literals only feel cleaner and more logical if there's concatenation both before and after an expression:

[code]

This is purely subjective, of course, but my motive for enforcing `prefer-te

[2018-10-31 09:44] hirokiosame commented on #11035
Thank you @nzakas

I believe you've understood the problem accurately.

I also agree that specifying files by extension is not something the rest of ESlint does and that API might the root of the problem. However, I'm not sure if there's a better way to accurately identify a file type without excessive content parsing + identification.

As you suggested, a way for the user-end to override the exte

[2018-10-31 12:19] sibelius commented on #10125
I think we need a guide to how to setup eslint when using `yarn workspaces`, lerna and monorepos structures

we created this monorepo boilerplate https://github.com/entria/entria-fullstack to experiment with monorepos and be easy to reproduce some issues we are having

[2018-10-31 12:51] brettz9 opened #11043 "`valid-jsdoc`: Expand `matchDescription` to apply when certain fields are present, and to apply to fields which are description-like"
**What rule do you want to change?**

`valid-jsdoc`

**Does this change cause the rule to produce more or fewer warnings?**

More warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

It could be a new option or an expansion in contexts where the `matchDescription` option applies (possibly allowing an array or object instead of a string so as to tweak the ex

[2018-10-31 15:57] evocateur commented on #10125
Just run it from the root? There's nothing special about a monorepo as far as eslint is concerned.

[2018-10-31 15:58] medikoo commented on #9897
I just approached this issue. ESLint doesn't follow symlinks as expected.

e.g. error can be easily reproduced with following setup:

Listing of files in `~/projects/project-a`
[code]

Listing of files in `~/projects/eslint-config-x`
[code]

Listing of files in `~/projects/eslint-config-y`
[code]

Having above, running `npx eslint .` in `~/projects/project-a/.` will throw as follows:
[code]

It wo

[2018-10-31 16:16] sibelius commented on #10125
what if we want to have different eslint configs per package?

imagine that I have `server`, `web` and `app`

web should have eslint-plugin-react
app should have eslint-plugin-react-native

and so on

the problem is that having a .eslintrc.js in each package, the eslint won't find eslint plugins because they will be hoisted to root

[2018-10-31 16:53] ljharb commented on #10125
I don’t see why they wouldn’t be found; require looks recursively upwards

[2018-10-31 16:55] evocateur commented on #10125
Configure from the root as well, using overrides.

[2018-10-31 16:59] not-an-aardvark commented on #9897
Closing this issue in favor of https://github.com/eslint/eslint/issues/10643, since that issue addresses the problem in a more general way and has some more detail on various possible solutions.

[2018-10-31 16:59] #9897 closed

[2018-10-31 18:32] sibelius commented on #10125
moving to root works great, tks

the problem is when trying to use together with jest-runner-lint (https://github.com/jest-community/jest-runner-eslint)

as it makes you have one config for each package

[2018-10-31 18:46] ljharb commented on #10125
@sibelius you can configure all of those at the root, too, using jest's "projects" feature.

[2018-10-31 19:34] not-an-aardvark commented on #10125
Hi everyone, can we move the discussion about how to set ESLint up to the [Gitter channel](https://gitter.im/eslint/eslint) or a new issue? It doesn't really seem related to this issue.

[2018-11-01 00:50] kaicataldo commented on #10618
I see. It seems like a reasonable expectation to me that someone should have a package.json file in the directory in which they're running `eslint --init` (since it's necessary to install any plugins the user might want), but we could potentially only throw this error if packages need to be installed. The downside of doing this would be having someone go through the config process and having to st

[2018-11-01 12:04] finom opened #11045 "no-unused-expressions makes an error for optional chaining of method calls: foo?.bar();"
![image](https://user-images.githubusercontent.com/1082083/47850435-e8ea9a00-dddd-11e8-8d3d-9a5b891ad212.png)

**Tell us about your environment**

* **ESLint Version:** 5.8.0
* **Node Version:** 10.1.0
* **npm Version:** 6.1.0

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

<details>
<summary>
The config
</summary>

[code]

</d

[2018-11-01 14:49] jaredmcateer commented on #10618
I think this is just a problem with me reading the user guide properly it's not really until the footnote that it implies you need a `package.json` for the previous instructions to work.

[2018-11-01 15:30] nzakas commented on #11034
Thanks for clarifying.

To me, this seems like a change that wouldn't benefit a large portion of our users, so I'd be inclined to suggest you create your own rule (possibly using [eslint-rule-composer](https://github.com/not-an-aardvark/eslint-rule-composer)) to add in the exceptions you're looking for.

[2018-11-01 15:33] nzakas commented on #11035
What I had in mind was something like this in a config file:

[code]

It seems like that should be possible. We'd then need plugins to expose processors by name instead of by extension, but it seems like that wouldn't be a blocker.

[2018-11-01 16:16] nzakas opened #11047 "Implement an RFC process for significant changes"
## Motivation

Since ESLint started, we've always had a very loose process for making changes. People can open issues for their suggestions and we could then debate in the comments and make a decision. I think that worked well for most of the project's lifetime, but now that the ESLint codebase has grown to be quite complicated, I think it's time to implement a more thorough review process.

## Pr

[2018-11-01 16:52] not-an-aardvark commented on #11047
This looks like a good idea. I think it would be great to have a higher bar for documenting big design decisions and making sure the details/alternatives have been considered.

When we discuss the details of this proposal more concretely, I might suggest not requiring an RFC for new rules, but we don't need to get hung up on that now.

[2018-11-01 20:03] cdaringe commented on #11029
yep, this is (partially) how we are using it too!

cool.  ya, im not intending to suggest it actually be removed, but rather working all sides of the argument/problem.  my last remark may have inferred otherwise.

indeed.  we use `gulp-eslint`, and at 3.x, `baseConfig` previously accepted and honored a `filename`.

[2018-11-01 21:09] revolter commented on #10391
I think it should only automatically allow `0` used as the index's initial value in a `for` loop. So it should throw an error for any value different than `0` or, obviously, when not declared in a `for` loop.

[2018-11-02 06:40] brettz9 opened #11048 "`valid-jsdoc`: Report use of undefined (or project-restricted) types and unused types"
**The version of ESLint you are using.**

5.8.0

**The problem you want to solve.**

Our project members may end up mistyping or mistakenly adding types which aren't defined in our library (or which are overly broad).

**Your take on the correct solution to problem.**

It would be great to have imported (or required) files be processed for `@typedef`, `@interface`, and all tags setting up names, t

[2018-11-02 10:25] SerhiiBilyk opened #11049 "no-return-assign rule has other default option?"
Environment:

eslint: 5.8.0
node : 10.10.0
npm: 6.4.0

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

I' using VSCode IDE.
Due to documentation,  "no-return-assign" has default option "except-parens".
**What did you expect to happen?**
But my code
[code]
is highlighted with message : "[eslint] Arrow function should not return assignment"

[2018-11-02 10:32] neemzy commented on #10721
So `var` would match both single-line and multiline statements, and `singleline-var` and `multiline-var` would be added to allow for more specific targetting? That would be fine by me and would indeed avoid introducing a BC break. @platinumazure @not-an-aardvark Do you want me to update the PR accordingly?

[2018-11-02 14:00] platinumazure commented on #10721
@neemzy Please do, thanks!

[2018-11-02 14:18] platinumazure commented on #11049
Hi @SerhiiBilyk, thanks for the issue.

The `eslint-config-airbnb` project uses the "always" option in their style guide. I *believe* that ESLint core, when it merges extending configs, will not override options set in an extended config if the extending config only has the rule severity. (I wish this would only happen when the string severity is used, but I think it might happen with 1-length arr

[2018-11-02 16:58] nzakas commented on #11029
That's interesting. I can't find any record that `baseConfig` was ever
intended to accept a filename in ESLint. Is it possible that was an option
in gulp-eslint rather than in ESLint itself?

On Thu, Nov 1, 2018 at 1:05 PM Christopher Dieringer <
notifications@github.com> wrote:

--

______________________________
Nicholas C. Zakas
@slicknet

Author, Principles of Object-Oriented JavaScript <http:

[2018-11-02 17:30] nzakas commented on #7927
It seems like there is confusion over the purpose of this issue and if it has changed from the original request. As such, I think the best path forward is for any interested parties to open a new issue with a proposal that we can evaluate. Closing this issue now, but anyone interested should feel free to open a new issue and just point back to this one as the origin.

[2018-11-02 17:30] #7927 closed

[2018-11-02 17:31] nzakas commented on #9383
@platinumazure you championed this proposal, is this something we should still be looking into?

[2018-11-02 17:32] nzakas commented on #9699
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-11-02 17:32] nzakas commented on #9706
Unfortunately, it looks like there wasn't enough interest from the team or community to implement this change. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to be implemented after 90 days tend to never be implemented, and as such, we [close those issues](https://eslint.org/docs/maintainer-guide/issues#when-to-close-an-issu

[2018-11-02 17:32] #9706 closed

[2018-11-02 17:33] nzakas commented on #9810
@not-an-aardvark you originally opened this issue. Is it something you're planning on continuing to work on?

[2018-11-02 18:52] not-an-aardvark commented on #9810
No, I'll close this.

[2018-11-02 18:52] #9810 closed

[2018-11-02 18:55] ljharb commented on #9699
@nzakas in this case, it's not a lack of interest, it's that the eslint team didn't respond. @not-an-aardvark, any chance you could respond to https://github.com/eslint/eslint/issues/9699#issuecomment-360927469 so we can reopen this?

[2018-11-02 19:00] SerhiiBilyk commented on #11049
@platinumazure thank you sir for your fast answer.
I think you are right. Tomorrow I will check this.
Have a nice day

[2018-11-02 22:35] betaorbust commented on #10116
We would also like this feature, as we'd like to enforce folks fixing/modifying their own changes while not making them fix the entire file.
This use case for us is in a large team, with incoming new lint rules, and large files that the engineer might not have all the context on. We don't want to block their PRs or pushes because everything isn't perfect, but we'd like to ensure that new/modified

[2018-11-03 05:04] pushpa1981 opened #11050 "Rule to ensure the local variables in function are camelCased"
**What rule do you want to change?**
https://eslint.org/docs/rules/camelcase

**Does this change cause the rule to produce more or fewer warnings?**
More
**How will the change be implemented? (New option, new default behavior, etc.)?**
New option

**Please provide some example code that this change will affect:**
 I am planning to setup rules on my projects  to make sure of all the local variables

[2018-11-03 05:11] not-an-aardvark commented on #9699
Sorry, I had interpreted https://github.com/eslint/eslint/issues/9699#issuecomment-360927469 as a modification to the proposal, not a direct question. I had also left a :+1: on the comment to indicate my assent.

To me, it doesn't seem like the open question would have added so much ambiguity that it would have prevented the team from evaluating the core of the proposal, so my inclination is to le

[2018-11-03 05:30] ljharb commented on #9699
This option is needed to help allow eslint to cover a formatting style that prettier is otherwise required for. It would be great if it could be reopened.

[2018-11-03 14:01] platinumazure commented on #11050
Hi @pushpa1981, thanks for the issue.

The camelcase rule specifically allows for constant-case (all caps with underscores) as exceptions. (`ALL_CAPS` is allowed, `all_lower` and `Some_Lower`are not allowed.)

You can use the `id-match` rule to enforce the desired variable naming style without the all-caps exception.

[2018-11-03 22:19] shadskii opened #11051 "Rule: Vue/no-unused-variables"
**Please describe what the rule should do:**
No unused computed properties or data.
**What category of rule is this? (place an "X" next to just one item)**

[X] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about:**

[code]
[code]

**Why should this rule be inc

[2018-11-04 02:06] zefexdeveloper opened #11052 "CircularJSON dependency warning"
`warning eslint > file-entry-cache > flat-cache > circular-json@0.3.3: CircularJSON is in maintenance only, flatted is its successor.`

Perhaps changing to https://github.com/WebReflection/flatted#flatted?

[2018-11-04 02:10] not-an-aardvark commented on #11052
Hi, thanks for the report. I'd recommend opening an issue on the [`flat-cache`](https://github.com/royriojas/flat-cache instead) package instead, since that's where the `circular-json` dependency is declared.

[2018-11-04 02:12] platinumazure commented on #11052
Hi @zefexdeveloper, thanks for this issue.

As you can see, this is an indirect dependency. It would be more useful to file an issue in the flat-cache and/or file-entry-cache repositories to ensure they consume the new package; then ESLint can upgrade file-entry-cache to consume the new package as well.

Would you mind filing issues in those repositories? Thanks!

[2018-11-04 04:53] b6pzeusbc54tvhw5jgpyw8pwz2x6gs opened #11053 "There is a bug in beforeStatementContinuationChars option of semi rule?"
**Tell us about your environment**

* **ESLint Version:**
5.8.0

* **Node Version:**
8.12.0

* **npm Version:**
I did use yarn: yarn version: 1.10.1

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

my devDependencies in package.json
[code]

</details>

**What did you do? Please include the a

[2018-11-04 10:39] mysticatea commented on #11053
Thank you for the report.

This is not a bug.
The `beforeStatementContinuationChars` option is about the statement that starts with continuation chars (e.g. `[`) but doesn't connect the previous statement.
For example:

[code]

I guess that you want [no-unexpected-multiline] rule to detect the statements that unexpectedly connected to the previous statement.

[no-unexpected-multiline]: https://esl

[2018-11-04 21:55] zefexdeveloper commented on #11052
@platinumazure Thank you for the rapid response, I saw that you comment there as well.

[2018-11-05 06:46] pushpa1981 commented on #11050
Thanks for suggestion @platinumazure . I have tried `id-match` rule and I see that this rule being applied to `var, function, and class ` but my scenario is to apply function and it's local variables. Is there any way i can exclude the class declarations for this rule? I appreciate any suggestions on this. BTW, I couldn't find the way to exclude the class declaration.

[2018-11-05 13:29] neemzy commented on #10721
@platinumazure Should be good! I also added back the tests I had removed since they are passing again this way.

[2018-11-05 13:46] platinumazure commented on #10721
@not-an-aardvark Given that the proposal and PR have both been tweaked to address your concerns, are you :+1: to this proposal now?

@kaicataldo @ilyavolodin Any thoughts on this proposal?

[2018-11-05 14:56] medikoo commented on #10125
@not-an-aardvark solution as described at #10643 looks great.

The only usability concern I see (referring to an example from #10643), is that in scenario when both `eslint-config-foo` and `eslint-config-baz` depend on same version of `eslint-plugin-react`,
 to tweak some rule from `eslint-plugin-react`, we will be expected configure our tweaks twice, separately for `foo::react` and `bar::baz::rea

[2018-11-05 16:34] nzakas commented on #9699
I wouldn't reopen unless there is a commitment from someone to do an implementation. Right now, we just don't have the team bandwidth to deal with this otherwise.

[2018-11-05 16:39] ljharb commented on #9699
@nzakas we’ll be happy to work on the implementation once the proposal is accepted.

[2018-11-05 16:48] nzakas commented on #9699
Reopening per last comment.

[2018-11-05 17:59] btmills commented on #11035
@nzakas' proposal with `overrides` seems the most straightforward and easiest to implement as a default proposal.

One thing that occurred to me over the weekend is that code blocks in Markdown files effectively have extensions already:

    # Docs

[code]

[code]

What if the Markdown plugin sent those snippets back to ESLint as "here's a `.js` file, and here's a `.vue` file" (using "file" there

[2018-11-05 21:50] NickHeiner opened #11055 "prefer-const considers correct code to be incorrect"
**What rule do you want to change?**
`prefer-const`

**Does this change cause the rule to produce more or fewer warnings?**
Fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
For backwards compat, this change may need to be behind a new option. But I think the more correct thing to do to change the default behavior.

**Please provide some example code that thi

[2018-11-05 22:06] brettz9 opened #11056 "`no-warning-comments`: Support JSDoc "todo" check with option to disable"
**What rule do you want to change?**

`no-warning-comments`

**Does this change cause the rule to produce more or fewer warnings?**

More.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Preferably as a default but with an option to disable this new check (since JSDoc to-dos might be used for more formal long-term to-dos whereas inline to-do comments could be du

[2018-11-06 03:15] mysticatea commented on #11035
[code]

This is the current interface.
We cannot chain the preprocess because the input type and the output type are different. I think that the enhancement that changes the output type solves this issue.

[code]

Then we can chain the preprocess. For example:

    # Docs

[code]

[code]

[code]

1. `eslint-plugin-markdown`'s processor returns

[code]

2. `eslint` checks the virtual files whether

[2018-11-06 04:16] hirokiosame commented on #11035
As suggested initially, I think a solution that mutates/appends to the effective filename or simply outputs an extension for processor matching would work too.

I think this will also be pretty interesting for Vue as you can specify blocks with different languages, and that could leverage this as well.

I was thinking overrides would be great in terms of giving user more control of what gets appli

[2018-11-06 07:47] ljharb commented on #11055
Why is that code pattern better than:
[code]
?

If the `doAction` callback is asynchronous, then this would work too:
[code]

[2018-11-06 08:08] mysticatea commented on #11055
What is different to [ignoreReadBeforeAssign](https://eslint.org/docs/rules/prefer-const#options) option?

[2018-11-06 09:31] videni opened #11057 "comma dangle: shouldn't show error in arrow function"
![image](https://user-images.githubusercontent.com/4058341/48055073-b1b72700-e1e9-11e8-8bcc-2644dd8d8e11.png)

[2018-11-06 10:52] mysticatea commented on #11057
Thank you for the report.

But this is not a bug.

The arrow function is the first argument of the call of `addAuthorizationHeader`.
The rule is configured to require the trailing comma of arguments.

[2018-11-06 17:00] nzakas commented on #11047
**TSC Summary:** This proposal seeks to introduce an RFC process for feature development and other significant changes. It would involve creating a markdown document and submitting it to an RFC repo where the feedback would be given and worked into the submission. When the proposal is accepted, it would be merged and remain as an artifact explaining the design and motivation for the change. A PR c

[2018-11-06 17:52] nzakas commented on #9081
I'll work on this.

[2018-11-06 22:21] refack opened #11060 "cache: over-eager caching of results from custom rules"
**Tell us about your environment**

* **ESLint Version:** `5.8.0`
* **Node Version:** `nightly`
* **npm Version:** `N/A`

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
https://github.com/nodejs/node/blob/master/.eslintrc.js

**What did you do? Please include the actual source code causing the issue, as well as the command that you us

[2018-11-06 22:28] ljharb commented on #11055
@NickHeiner lol ok, fair enough :-) i still don't understand why you'd need an undefined variable in there tho, since the second example works too if the callback is ran later.

[2018-11-06 22:29] refack commented on #11060
So in this case our dependency is more of a data file. So another more generic solution could be:
3. Implement a data loading mechanism for rules, and hash that data.

[2018-11-06 22:31] NickHeiner commented on #11055
`ignoreReadBeforeAssign`, in conjunction with @ljharb's second example, is what I needed. Thanks! Sorry for opening this issue before being thorough enough with the docs. :smile:

[2018-11-06 22:31] #11055 closed

[2018-11-07 02:37] brettz9 opened #11061 "New rule: `use-tag` to enforce which outside variables can go into closures (depending on @use)"
**Please describe what the rule should do:**

I'd like to see something like the following:

[code]

By default, it may include built-ins or `this`.

There'd be a `use-tag` rule:

1. Indicate `requireUse` (default: `{all: {required: "off", enforce: {when: "explicit", defaultTypes: ["this",  "builtins"]}}`); would either be an object with the single key "all" or an object with any or all of these k

[2018-11-07 02:50] videni commented on #11057
@mysticatea, I seem, thanks

[2018-11-07 02:50] #11057 closed

[2018-11-07 10:45] brendanarnold commented on #10767
Similary I found the following causes the same lint rule to be triggered ...

[code]

Removing or changing the local definition of `services` cleared the linting errors

[2018-11-07 11:49] Aladdin-ADD commented on #10541
closing, since the error seems no longer occur for a while.

[2018-11-07 11:49] #10541 closed

[2018-11-07 13:57] SerhiiBilyk commented on #11049
@platinumazure please close the issue. It is works es axpected

[2018-11-07 13:58] platinumazure commented on #11049
Thanks @SerhiiBilyk, glad we could figure it out.

[2018-11-07 13:58] #11049 closed

[2018-11-07 14:32] Aladdin-ADD opened #11062 "Tests failing on current master"
see https://ci.appveyor.com/project/nzakas/eslint/builds/20097976

[2018-11-07 16:44] platinumazure commented on #11045
Apologies @finom for letting this slip through the cracks. @ronen has the right idea-- core ESLint doesn't support this, so you need to use the eslint-plugin-babel rule.

Closing as this is currently unsupported. If optional chaining becomes a Stage 4 ECMAScript proposal, we could reopen this and make any necessary changes to the core rule. Thanks!

[2018-11-07 16:44] #11045 closed

[2018-11-07 17:09] nzakas commented on #9540
I'll take a stab at this.

[2018-11-07 17:49] nzakas commented on #11062
Confirmed. This is blocking PRs right now.

[2018-11-07 17:52] not-an-aardvark commented on #11062
Based on the test failures this might have been caused by the recent release of [`flat-cache`](https://github.com/royriojas/flat-cache). However, I probably won't have time to look into it in more detail today.

[2018-11-07 17:54] nzakas commented on #11062
I'll try to take a look in the few minutes of remaining energy I have.

[2018-11-07 17:54] nzakas commented on #9940
@Aladdin-ADD it looks like you started working on this. Are you still working on this?

[2018-11-07 18:02] nzakas commented on #11062
Related: #11052

[2018-11-07 18:11] nzakas commented on #11062
It looks like the contents of `.eslintcache` is now an array instead of an object, and all of the tests are failing because they are expecting the cache file to contain an object with keys that are the filenames.

I'm not sure that this has actually changed the functionality of `CLIEngine`, because we are reading from and writing to the cache using the API, whereas in the tests we are reading the

[2018-11-07 21:44] royriojas commented on #11062
hi @nzakas,

I recently released a new version of the `flat-cache` as a patch, which is in time used by `file-entry-cache`, but the unit tests passed in both `flat-cache` and `file-entry-cache` that's why I believe it was safe.

The newer `flat-cache` is now using `flatted` as it was changed in this PR. https://github.com/royriojas/flat-cache/pull/23

Will take some time to review if that might be

[2018-11-07 23:48] royriojas commented on #11062
I've reverted the upgrade of `circular-json` to `flatted` :(

Will add a test for the eslint case before attempting to upgrade again

[2018-11-07 23:50] royriojas commented on #11052
@zefexdeveloper @platinumazure the upgrade broke the eslint build https://github.com/eslint/eslint/issues/11062, I had to rever the upgrade. Will reopen the ticket.

[2018-11-08 01:38] #9081 closed

[2018-11-08 02:29] Fishrock123 opened #11065 "Docs missing a full list of node types and what they mean"
A full & descriptive list of node types seems to be missing from the docs. For example, I can't find `ExpressionStatement` anywhere. This is really limiting my ability to build new / modify existing eslint rules.

**Edit**: I also see that the expressions can have a further `type`, such as `'CallExpression'`. I also cannot find much on those.

**Edit 2**: I just found https://github.com/eslint/esl

[2018-11-08 02:55] not-an-aardvark commented on #11065
Hi, thanks for creating an issue.

ASTs from ESLint follow the [ESTree](https://github.com/estree/estree) specification, and there is a list of node types at that repo. Are those similar to what you're looking for?

An `ExpressionStatement` is the term for a *statement* in source code which consists solely of an *expression* (in contrast to other types of statements, like an `IfStatement` (contain

[2018-11-08 03:00] Fishrock123 commented on #11065
That seems like what I'm looking for, yes. I really wish some version of this was on the ESLint website.

As for ASTExplorer - I had found it, but forgot to look for the actual AST parser (espree) that ESLint uses, so I didn't think I could rely on the output shapes.

[2018-11-08 03:03] not-an-aardvark commented on #11065
Thanks, this is good docs feedback. FWIW it is linked from [here](https://eslint.org/docs/developer-guide/working-with-custom-parsers#the-ast-specification) and briefly mentioned [here](https://eslint.org/docs/developer-guide/working-with-rules#rule-basics) under the description of the `create` method, but it definitely seems easy to miss. We could probably update the docs to make those references

[2018-11-08 03:33] StoneCypher commented on #9081
thanks

[2018-11-08 10:55] alelk commented on #9050
Workaround for this issue: `// eslint-disable-line no-unused-vars`

[code]

[2018-11-08 14:00] ilyavolodin commented on #11047
Sounds like a more organized way of requesting large changes. But I do share a concern for higher bar of entry and as such lower contributions from the community.

[2018-11-08 17:18] kaicataldo commented on #11065
@Fishrock123 Any interest in making a PR since you have some first-hand experience and might have more insight into what would be helpful for end users?

[2018-11-08 17:57] kaicataldo commented on #11047
I'm generally in favor of this, as I do think our current process breaks down when a proposal requires significant bikeshedding. My biggest concern is that managing two separate repositories for issues might lead to some confusion, since there's already some confusion regarding documentation (issues about documentation are frequently created on the eslint.github.io repo).

Would we move any existi

[2018-11-08 21:10] micheee opened #11068 "JUnit reporter XML output missing required classname attribute on testcase element"
When producing JUnit XML output, the resulting XML file seems to be missing required attributes.

I found the following [XML Schema Definition](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd) that indicates the required fields.

While I don't think it is necessary to support every optional attribute, I think it would make sense to provide those that are mandatory.

I stumbled acro

[2018-11-08 22:05] nzakas commented on #11062
Thanks @royriojas looks like we are in the clear now.

[2018-11-08 22:10] nzakas commented on #11047
My thought was that the RFC repo would only allow PRs and not allow issues
at all, so I think that would make things a bit easier.

I would envision for existing open issues that we'd ask for an RFC, and
then once a PR is created, close the original issue and direct everyone to
put their comments on the pull request from then on.

On Thu, Nov 8, 2018 at 6:00 AM Ilya Volodin <notifications@github.c

[2018-11-08 22:38] btmills commented on #11047
We're moving forward with this proposal after discussing it in today's meeting. To start out, we'll do RFCs for new CLI features, new core features, and breaking changes, and once we've iterated on that process, we can consider using it for new rules as well. Thanks @nzakas for volunteering to set up the RFCs repo and templates!

[2018-11-08 22:45] platinumazure commented on #11068
Hi @micheee, thanks for the issue.

I agree this seems like a bug, but I'm not sure what value we should put in there. Do you have any thoughts?

[2018-11-08 22:49] not-an-aardvark commented on #11068
How about an empty string?

[2018-11-08 23:17] evanlucas commented on #11068
We ran into this also. To me, the filename would be useful

[2018-11-09 01:40] dosuken123 commented on #11068
Some example of how other test tools fill `classname`

- PHPUnit: https://gitlab.com/gitlab-org/gitlab-ce/issues/50426#note_98295197
- rspec: https://gitlab.com/snippets/1731728
- Basic: https://gitlab.com/gitlab-org/gitlab-ce/issues/50426#note_98162786
- NUnit: https://gitlab.com/gitlab-org/gitlab-ce/issues/50426#note_96631485
- Karma: https://gitlab.com/gitlab-org/gitlab-ce/issues/50426#note_964

[2018-11-09 01:54] zefexdeveloper commented on #11052
@royriojas Thank you very much, it looks like everything is good to go now right?

https://github.com/eslint/eslint/issues/11062#issuecomment-437173066

[2018-11-09 06:05] aladdin-add opened #11069 "no-else-return fixed to incorrect code"
**Tell us about your environment**

* **ESLint Version:** 5.8.0/master
* **Node Version:** n/a
* **npm Version:** n/a

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that yo

[2018-11-09 08:30] micheee commented on #11068
The Filename — maybe without the extension — would be my proposal as well.

Any other thoughts?

[2018-11-09 13:11] dexguitar opened #11071 "ESLint not seeing a missing property in React"
Hi and thx 4 your hard work!
I am using eslint@4.4.1 and here's what I spotted... I got a following code

[code]

In the **purchaseContinueHandler()** method you can see the **order** object and inside it - the **time** property of this object. It's not defined in the **state** object of my BurgerBuilder class and even though I get no warnings from ESLint

[2018-11-09 13:32] Tom-Bonnike opened #11072 "`no-undef` doesn't work with variable named `context`"
Following up on https://github.com/eslint/eslint/issues/10984 since the issue got closed.

<details>

<summary>Here’s the result of `--print-config`. `context` is not a global.</summary>

[code]
</details>

\
Weirdly, VSCode gives me this definition when hovering over `context`:
<img width="341" alt="screen shot 2018-11-09 at 14 28 58" src="https://user-images.githubusercontent.com/9154236/4826508

[2018-11-09 13:36] Tom-Bonnike commented on #11072
Ignore this! After trying again, I do get an error. I don’t know why it didn’t work the first time (I was only checking through ESLint VSCode).
So `mocha` is the culprit here, I guess this isn’t an issue if `context` is indeed a `mocha` global.

[2018-11-09 13:39] platinumazure commented on #11071
Hi @dexguitar, thanks for the issue.

Hope you don't mind that I edited your question to make the code show up a little better.

ESLint, and static analysis tools in general, can't really analyze presence or absence of properties due to lack of type information available to the tools. All of the values are just objects- it's hard to tell ESLint that this particular object is supposed to be an orde

[2018-11-09 13:42] Tom-Bonnike commented on #11072
Closing, feel free to re-open if you think it’s actually an issue.

[2018-11-09 13:42] #11072 closed

[2018-11-09 13:43] platinumazure commented on #11072
You can use `no-restricted-globals` if you want to warn when that variable is used (even if it is a valid global under `no-undef` due to the Mocha environment). Hope this helps!

[2018-11-09 13:45] Tom-Bonnike commented on #11072
Thank you @platinumazure. As you may know, `context` in React is commonly used, so I’ll probably try and work around this some other way 😅
It also used to work, so something must have changed (maybe through an `eslint` update or one our dependencies that use `mocha`).

[2018-11-09 13:47] dexguitar commented on #11071
Thank you sir!

[2018-11-09 14:08] Aladdin-ADD commented on #11062
closing, as the issue has been fixed.

[2018-11-09 14:08] #11062 closed

[2018-11-09 14:16] Tom-Bonnike commented on #11072
For future people browsing this issue: you can use`overrides` to specify the `env` only for your test files: https://eslint.org/docs/user-guide/configuring#disabling-rules-only-for-a-group-of-files.

Example:
[code]

[2018-11-09 17:36] platinumazure commented on #11068
Thanks everyone for your suggestions!

Re: filename: It looks like the filename is captured in the `name` attribute of the `<testsuite>` element. Would adding the file name as a "classname" (which seems to expect a Java class) really be useful?

And I guess I'm a bit skeptical about looking at other test runners for examples. Not sure if those are really apples-to-apples comparisons.

If empty str

[2018-11-09 18:01] #9678 closed

[2018-11-09 18:11] #9540 closed

[2018-11-09 18:18] #10582 closed

[2018-11-09 18:59] btmills commented on #11030
ESLint v5.9.0 has been released: https://eslint.org/blog/2018/11/eslint-v5.9.0-released

Please merge only semver-patch changes until we've determined if a patch release will be necessary.

[2018-11-10 03:13] kaicataldo commented on #11071
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2018-11-10 03:13] #11071 closed

[2018-11-10 11:37] finom commented on #11045
@ronen @platinumazure thank you guys.

[2018-11-10 13:48] SerhiiBilyk commented on #11069
I can take it

[2018-11-11 04:18] Aladdin-ADD commented on #11069
@SerhiiBilyk thanks for reaching out!

the related code is the fixer function:  https://github.com/eslint/eslint/blob/5da378ac922d732ca1765f08edee0face1b1b924/lib/rules/no-else-return.js#L63-L64

it should return `null`, if not safe to do the fix.

[2018-11-11 13:20] SerhiiBilyk commented on #11069
@Aladdin-ADD thank you for the answer.
Do I need to remove last [let] keyword in case if same variable exist in current scope?

[2018-11-11 13:29] Aladdin-ADD commented on #11069
I think just as-is would be fine. `return null;` in fixer function means not to fix it. (I should be more clear 😄

[2018-11-11 13:33] SerhiiBilyk commented on #11069
Aladdin-ADD , ok I have understand, thank you again!

[2018-11-11 13:33] SerhiiBilyk commented on #11069
Aladdin-ADD , ok I have understand, thank you again!

[2018-11-11 14:58] SerhiiBilyk commented on #11069
@Aladdin-ADD can you check the algorithm.
I'm cheking if there block scope local variable declaration inside [else] statement.
If [true] return null

Is this correct?

[code]

[2018-11-11 15:55] Aladdin-ADD commented on #11069
SGTM! Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have some more questions!

and thanks for doing this!

[2018-11-11 19:16] jouncealimb commented on #10632
Hi @serbanghita I see you started working on this. Are you still working on this one?

[2018-11-12 04:11] sstern6 commented on #9505
Would like to take this on, though I have a few questions.

But before i get into it, @Aladdin-ADD have you started working on it?

[2018-11-12 06:32] acierto opened #11077 "Extremely slow on Jest tests"
**Tell us about your environment**

* **ESLint Version:** - 5.9.0
* **Node Version:** - v10.12.0
* **npm Version:** - 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** - gulp-eslint

**Please show your full configuration:**

[code]

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well a

[2018-11-12 08:18] serbanghita commented on #10632
@jouncealimb no, I failed to find time to address it :(

[2018-11-12 08:58] remcohaszing opened #11078 "Add object destructuring support for sort-vars"
**What rule do you want to change?**

`sort-vars`

**Does this change cause the rule to produce more or fewer warnings?**

More

**How will the change be implemented? (New option, new default behavior, etc.)?**

This will force assignment through object destructuring to be sorted alphabetically. This will also affect destructed objects as function argument.

A new boolean option will be added: `de

[2018-11-12 09:55] micheee commented on #11068
@platinumazure

Sorry I've been in the mountains for the weekend — I will check this out today an report back.

[2018-11-12 10:40] parmentf commented on #10663
I got a `Error: Cannot find module 'optionator'` launching eslint just after installing it.
Re-installing it fixed the problem.

[2018-11-12 11:05] sibelius commented on #8813
can we override parsers?

[2018-11-12 11:58] sibelius commented on #10810
related to these 2 issues
https://github.com/Microsoft/vscode-eslint/issues/503
https://github.com/Microsoft/vscode-eslint/issues/6

and this https://github.com/eslint/eslint/issues/10811

@Janpot do you have a config for .eslintignore that makes this work?

it is failing for me on monorepo as well

[2018-11-12 11:58] sibelius commented on #10811
I can confirm this

[2018-11-12 15:00] jouncealimb commented on #9978
I was wondering if I could take a look at this

[2018-11-12 16:38] nzakas commented on #11077
Thanks for the report. Is this slower than a previous version of ESLint in any way?

Just a note: we aren't involved in `gulp-eslint` and so can't help you there. It's worth trying to run ESLint directly to see what the time difference is to see whether the problem is ESLint itself or `glup-eslint`, or something in between.

[2018-11-12 16:49] platinumazure commented on #9978
@jouncealimb Please feel free, thanks! :smile:

[2018-11-12 17:13] kjg opened #11080 "IIFE with leading semicolon wants to be intended when directly after imports"
**Tell us about your environment**

* **ESLint Version:** 4.18.2
* **Node Version:** 8.9.3
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** Babel-ESLint

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command tha

[2018-11-12 17:30] nzakas commented on #11080
Thanks for the issue. Because you are using Standard, which is an opinionated code style guide, I'd suggest that you open an issue on that repo to discuss this issue.

Thanks!

[2018-11-12 17:30] #11080 closed

[2018-11-12 17:35] nzakas commented on #11030
We haven't identified any regressions for this release, so there will be no patch release.

[2018-11-12 17:35] #11030 closed

[2018-11-12 17:35] eslint[bot] opened #11081 "Scheduled release for November 23rd, 2018"
The scheduled release on Friday, November 23rd, 2018 is assigned to:

* (needs volunteers)
* (needs volunteers)

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

Resources:

* [R

[2018-11-12 19:48] kaicataldo commented on #11078
I think it makes sense to have a rule that does this. One confusing thing about the current rules is that we have at least one rule that has the word `object` in its name but ends up also checking imports and destructured assignments (example [here](https://eslint.org/docs/rules/object-curly-newline)), and given that we have the [`sort-keys`](https://eslint.org/docs/rules/sort-keys) rule it's not

[2018-11-13 06:15] acierto commented on #11077
Sorry, I can't run the same in the pure eslint due to used plugins, which refuse to work, as eslint is too new for them
```"plugins": ["babel", "react", "import"]```
Don't think that `gulp-eslint` affects `eslint` anyhow, as it just stream data, you can check the code - there is only 1 small file to see what is happening inside. Moreover that same rules are applied for sources and tests, no differ

[2018-11-13 08:44] remcohaszing commented on #11078
In addition, I think it should be allowed to violate the sorting if it’s needed to use one of the destructured variables is used as the default of another destructured variable.

E.g.

[code]

This does leave the question: _should `b` be sorted before `c` or after `a`?_

While typing this I figured it should probably be placed before `c`, as `a = c` is the code that makes the situation exceptional

[2018-11-13 09:11] Alhadis commented on #11034
I guess I'll just abolish the rule then. Had no idea how to visualise "first node", "second node", what nodes were available for perusal during captured frames...

Thanks anyway. =)

[2018-11-13 09:11] #11034 closed

[2018-11-13 11:00] micheee commented on #11068
Long story short:

Setting classname to empty string would be valid, but won't help GitLab as it uses `classname` + `name` as its grouping key when displaying the errors.

So I'd propose to change the value of classname to the name attribute of its parent testsuite element, ore more profane: the full path to the file under consideration.

My example report contains 18 errors of the category `org.e

[2018-11-13 18:04] aquibm commented on #10821
@kaicataldo

Ignore 5.0.4 resolves this issue. [I've looked at updating the library](https://github.com/aquibm/eslint/commit/9efa19fbdb1228a18e947b00c88fd3949004f2e5) but there are some pretty massive changes between 4.x and 5.x. The library now expects all paths to be relative to some base directory and does not support `../` in the paths provided to it.

This means that eslint no longer works as

[2018-11-13 18:15] nzakas commented on #11077
Okay, thanks. You may want to file an issue with Jest as well to see if
they have any insights.

On Mon, Nov 12, 2018 at 10:15 PM Bogdan Nechyporenko <
notifications@github.com> wrote:

--

______________________________
Nicholas C. Zakas
@slicknet

Author, Principles of Object-Oriented JavaScript <http://amzn.to/29Pmfrm>
Author, Understanding ECMAScript 6 <http://amzn.to/29K1mIy>

[2018-11-13 20:19] kjg opened #11082 "IIFE with leading semicolon wants to be intended when directly after imports"
**Tell us about your environment**

* **ESLint Version:** 4.18.2
* **Node Version:** 8.9.3
* **npm Version:** 6.4.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the command that you

[2018-11-13 20:48] not-an-aardvark commented on #11082
Thanks for the report, I can reproduce this issue. It seems to be happening as a result of [this line](https://github.com/eslint/eslint/blob/e18c827cc12cb1c52e5d0aa993f572cb56238704/lib/rules/indent.js#L1234), which declares that the offset of everything after a `from` token in an import is offset by one indent level. It should probably be updated to ensure that trailing semicolons are excluded fr

[2018-11-13 22:15] kaicataldo commented on #10721
Sorry, I seemed to have missed this. I'm generally in favor of this proposal, but I do think it's a bit confusing  to be consistent between `expression`/`multiline-expression` and `var`/`singleline-var`/`multiline-var`, where `expression` is for a single-line expression and `multiline-expression` is for a multiline expression, whereas `var` is for both single-line and multiline `var` declarations,

[2018-11-13 22:19] kaicataldo commented on #9505
@sstern6 Though you can feel free to make a PR, we're most likely quite a ways out from our next major release. Since this is a breaking change, we wouldn't be able to merge it until we start working on that release in earnest. My recommendation would be to hold off for now until that process starts.

[2018-11-13 22:39] platinumazure commented on #10721
Thanks @kaicataldo for your feedback!

I agree that would be confusing, but I don't think that's the case.

From the current version of the rule:

[code]

So this proposal maintains consistency: `var` is any variable declaration, `multiline-var` is only multiple-line variable declaration statements, and `singleline-vars` would be only single-line variable declarations. (We don't currently have a `

[2018-11-13 22:44] sibelius commented on #10810
it did not work on this monorepo https://github.com/entria/entria-fullstack

[2018-11-13 22:45] sstern6 commented on #9505
thanks @kaicataldo Ill hold off. Plenty of other stuff I can get done.

[2018-11-13 23:12] jnthnwn opened #11083 "no-unused-vars: object key variables are considered unused"
**What rule do you want to change?**
no-unused-vars should not consider variables used as object keys to be unused.

**Does this change cause the rule to produce more or fewer warnings?**
This will cause fewer warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**
I think this change should be added as the new default behaviour.

**Please provide some example

[2018-11-13 23:31] platinumazure commented on #11083
Hi @jnthnwn, thanks for the issue.

This is working as designed:

[code]

The variable `A` is only assigned to, and it isn't used. So the rule is working correctly.

[2018-11-13 23:49] cbleslie commented on #11068
90% of something, is better than 0% of nothing, hombré. I'll take what I can get!

[2018-11-14 00:00] Janpot commented on #10810
@sibelius I only use `eslint` through `semistandard` and following configuration in the top-level package.json works for me
[code]
Maybe you can dig through the `standard` codebase to find how they pass these optons to `eslint`?

[2018-11-14 01:37] royriojas commented on #11052
hi @zefexdeveloper technically not. Since the revert is forcing us to still use circular-json. I will release a new major version of `flat-cache` that includes the change to flatted and make a PR to upgrade the unit tests of eslint. Worst side effect I believe this could introduce is that during the upgrade the previous cache format won't be read correctly and will be discarded.

I need to confirm

[2018-11-14 01:46] platinumazure commented on #11052
I'll reopen this.

@royriojas Kind of weird that flatted writes JSON differently for the same input when flatted is supposed to be the replacement for circular-json. Maybe their API is a bit different. Does flatted have documentation around a migration path from circular-json, I wonder?

At any rate, I think there's probably a way to preserve the current cache format... somehow :smile: We just nee

[2018-11-14 03:09] #11083 closed

[2018-11-14 03:15] jnthnwn commented on #11083
Ah, that's embarrassing. Thanks for clarifying. I meant to use `{ [A]: 1 }`.

[2018-11-14 09:57] parmentf commented on #10663
The same today in another project. I was updating from eslint@5.8.0.

[code]

[2018-11-14 16:30] nzakas commented on #11061
Thanks for the proposal. Unfortunately, it looks like the team doesn't feel that this would make a good addition to the ESLint core. As mentioned previously, you can still create your own custom rule to fulfill this purpose if you find it useful for your code.

[2018-11-14 16:30] #11061 closed

[2018-11-14 16:31] nzakas commented on #10559
@platinumazure are you still working on this?

[2018-11-14 16:37] nzakas commented on #11029
@cdaringe just following up - have you checked to see if maybe this is a feature of `gulp-eslint` rather than ESLint itself?

[2018-11-14 16:39] nzakas commented on #11018
@mysticatea @not-an-aardvark has this been addressed now or are we still waiting for an npm fix?

[2018-11-14 16:40] platinumazure commented on #10559
@nzakas Thank you for the reminder! I'll look at this again this week and determine if there are other changes to pursue. (I believe there will be other changes, but this hasn't been a priority.)

[2018-11-14 16:42] ljharb commented on #11018
Since this happens in eslint 5.8 but not 5.7, perhaps whatever changed to surface the npm bug should be reverted and shipped in a patch release?

[2018-11-14 17:00] mysticatea commented on #11018
I don't think the revert makes sense. This causes by acorn's breaking change. Currently, the npm's bug appears when there is a older acorn in another dependency. After reverting, it will appear when there is a newer acorn in another dependency.

I had emailed with the npm support and they said they will discuss about this bug in npm inc.

But my request (please share the current status on https://

[2018-11-14 17:46] zefexdeveloper commented on #11052
I'm sorry for closing the issue, I really thought it was done, I was traveling and when I went back to work I tried to update and noticed that it wasn't.

[2018-11-14 17:50] not-an-aardvark commented on #10039
Closing in accordance with https://github.com/eslint/eslint/pull/10056#issuecomment-438755141.

[2018-11-14 17:50] #10039 closed

[2018-11-14 19:13] cdaringe commented on #11029
thanks for following up @nzakas.  i've ended up moving on.  i'll re-open if such a thing becomes sufficiently motivating in the future.  thanks again.

[2018-11-14 19:13] #11029 closed

[2018-11-14 19:54] elazar commented on #10136
@nzakas I'm still experiencing this issue.

Node: v8.10.0
NPM: 5.6.0
ESLint: 4.19.1

From `.eslintrc`:

[code]

`eslint` output:

[code]

[2018-11-14 21:01] sstern6 commented on #11082
I dont mind taking a look at this.

[2018-11-14 21:06] ilyavolodin commented on #10116
It feels like this should be solvable either through another wrapper tool, and usage of Node API, passing only modified code into stdin or creating a simple processor that would remove all unchanged code before passing it into ESLint. Processor is probably the least complex path.

[2018-11-14 22:05] kaicataldo commented on #10116
@ilyavolodin I agree with you, though I would be concerned about a number of rules possible breaking code then, given that it doesn't have any more context than the snippet provided.

[2018-11-14 22:18] kaicataldo commented on #10810
@sibelius It doesn't look like there's a .eslintignore file in the top-level root. Is that what you tried?

[2018-11-14 22:21] kaicataldo commented on #10136
@elazar It looks like you're using an old version of ESLint. Can you see if this still happens with the latest version?

[2018-11-14 22:36] elazar commented on #10136
@kaicataldo Looks like upgrading to 5.9 has addressed the issue. Thanks for the reply and sorry for the noise.

[2018-11-14 22:38] not-an-aardvark commented on #10721
I disagree, I think that inconsistency would have the potential to create more confusion. It seems like the statement types in `padding-line-between-statements` are not designed with the goal of avoiding overlap -- for example, we already have the `block`, `block-like`, and `multiline-block-like` statement types  overlapping, as well as the `*` statement type which overlaps with everything else. T

[2018-11-14 22:45] kaicataldo commented on #10721
I forgot about `*` - that's a great point. I retract my suggestion above. :+1:'d.

[2018-11-14 22:45] kaicataldo commented on #10136
Glad it's working!

[2018-11-14 22:46] kaicataldo commented on #10136
Closing this issue since we haven't had any new reports in quite some time. Feel free to create a new issue if this comes up again.

[2018-11-14 22:46] #10136 closed

[2018-11-14 23:19] madbence opened #11084 "False negative for camelcase with ignoreDestructuring"
**Tell us about your environment**

* **ESLint Version: `5.9.0` **
* **Node Version: `11.0.0` **
* **npm Version: `6.4.1` **

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

<details>
<summary>Configuration</summary>

[code]

</details>

**What did you do? Please include the actual source code causing the issue, as well as the comman