[2015-12-16 23:32] curioussavage commented on #4701
I think ideally a section before this one http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories

or if not, at least a note here http://eslint.org/docs/user-guide/command-line-interface#ext explaining that command line arguments are the only way to specify. I can submit a pr if thats fine

[2015-12-16 23:47] ilyavolodin commented on #4724
@robcolburn I just looked at `eslint-plugin-json` and what it does, is actually calling JSHint on json files. I'm not sure why would somebody want to do that, but basically what is happening is each JSON file is being parsed by Espree to create AST (which will fail in most cases). After that it will run JSHint on the content of the file and output errors is if they were ESLint's. So it's basically

[2015-12-17 01:25] Dindaleon opened #4727 "Getting an error when using a global in import declaration"
For example:

    import { foo } from FOO_PATH;

error: Parsing error: Unexpected token

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29193913-getting-an-error-when-using-a-global-in-import-declaration?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2015-12-17 01:55] ilyavolodin commented on #4727
Can you provide information requested by the bot please?

[2015-12-17 02:02] btmills commented on #4697
@neverfox Would custom rules be sufficient for your use case? I'd be happy to provide guidance for implementing them over in our [Gitter chat](http://gitter.im/eslint/eslint).

@nzakas Implementing as two custom rules is trivial, but integrating this functionality into the one rule would not be. I'm hoping custom rules will work because I don't think the additional complexity meets the bar for inc

[2015-12-17 02:38] btmills commented on #3938
Let's go with the `requireAlignment` option. Fair warning to whoever wants to work on this: the rule is already very complex in order to handle all of the different options. Before you submit a PR, I recommend spending some time in advance on your design, and feel free to discuss it here to get feedback.

[2015-12-17 04:14] mysticatea commented on #4727
It's according to the spec: http://tc39.github.io/ecma262/#sec-imports

`FOO_PATH` is an unexpected token.
ES6 allows only a string literal there.

[2015-12-17 05:32] isiahmeadows opened #4728 "CommonJS recommendation + `global` variable"
In http://eslint.org/docs/user-guide/configuring#specifying-environments, it specifies to use `commonjs`, not `node` for Browserify/Webpack/etc. The most common CommonJS implementations have a `global` variable, even though it's not mandated in the CommonJS spec, mostly following Node's lead. In browsers, `global` is an alias for `window`.

Could this recommendation be either fixed/clarified on th

[2015-12-17 05:34] doberkofler commented on #3938
Sounds good to me

[2015-12-17 12:49] eTorAken commented on #4585
:+1: with this issue. In our coding styles we enforce the use of no space after a `if`. I thought such a rule (`no-space-before-condition`) would already exist but it seems it does not.

[2015-12-17 16:03] nzakas commented on #4728
I'm not sure what you're requesting here. The `commonjs` environment was created specifically for this purpose, are you saying it's missing `global`?

[2015-12-17 16:04] nzakas commented on #4722
Oops, definitely an oversight.

[2015-12-17 16:05] nzakas commented on #4701
Sure, that sounds good.

[2015-12-17 16:05] #4727 closed

[2015-12-17 16:06] nzakas commented on #4697
Got it. Should we instead create two core rules?

[2015-12-17 16:07] btmills commented on #4697
`property-spacing` and `object-alignment`?

[2015-12-17 16:08] nzakas commented on #4724
You need to use `--stdin` flag to pipe code to ESLint.

[2015-12-17 16:08] #4724 closed

[2015-12-17 16:12] #4722 closed

[2015-12-17 16:18] othomann opened #4729 "Add new no-self-assign rule"
**When does this rule warn? Please describe and show example code:**
This rule would warn when assigning a variable to itself.
var x = 10; x = x;
or
var x = x;
It can be useful when you have a constant value that has the same name as a variable but not the same case and by mistake you assign the variable to itself instead of using the constant.

**Is this rule preventing an error or is it stylisti

[2015-12-17 16:42] Bnaya opened #4730 "Is there any rule regarding ES6 "class instance fields"?"
https://github.com/jeffmo/es-class-fields-and-static-properties

flowtype require to declare instance variables using it by default so right now i can't use flow + ESLINT together

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29213343-is-there-any-rule-regarding-es6-class-instance-fields?utm_campaign=plugin&utm_content=tracker%2F28

[2015-12-17 16:52] gyandeeps commented on #4730
We dont support experimental feature as of now. What you have is ES7 proposal.
If you still want to use this then you can use [babel-eslint](https://github.com/babel/babel-eslint) to support experimental features.

[2015-12-17 16:52] dtheodor opened #4731 "Out of memory issue"
Hi,

I'm running eslint `v1.10.3` against a large project, eslint reports a lot of violations (`101690 problems` to be precise), and generating the eslint jslint-xml report... throws an out of memory error.

Looking into the code, in particular in the jslint-xml formatter (and I think the other formatters), I see that the whole output is put into a local string variable (not using array `.join`, b

[2015-12-17 16:59] Bnaya commented on #4730
Thanks!

[2015-12-17 16:59] #4730 closed

[2015-12-17 17:02] nzakas commented on #4731
We don't have the ability to stream the results to the console, as formatters just return strings. If you'd like to submit a PR to buffer the output into an array, we will accept it.

[2015-12-17 17:05] nzakas commented on #4729
I thought we already had a rule that did this. @mysticatea ?

[2015-12-17 17:08] ilyavolodin commented on #4729
We have `no-self-compare`. We also have a rule that will flag `var x = x;` (I think it's `no-undef`), but I don't think we have anything to cover `var x = 10; x = x;` situation. I'm not sure it's necessary, though, since it's not harmful in any way and too much of an edge case, in my opinion.

[2015-12-17 17:12] dtheodor commented on #4731
I did try that, but was not enough to fix my problem. Do you consider a redesign PR for this? I have no idea how much of the code it would need to touch though.

[2015-12-17 18:34] alberto commented on #3829
The thing is I don't think adding the fix causes a conflict, but giving a couple of examples showing no conflicts doesn't prove that. When do you think they would cause a conflict?

[2015-12-17 18:38] alberto commented on #3829
The only case I can think of is if you set `semi` to `never` and you also have `semi-spacing` enabled. It could cause conflicts if you have unneeded semicolons. But it doesn't make sense to me to enable `semi-spacing` in that case, since it wouldn't do anything.

[2015-12-17 18:44] gyandeeps commented on #3218
@willklein I see you have the code ready but you haven't opened a PR. I dont know if that's intentional or you forgot. :smile:

[2015-12-17 18:48] gyandeeps commented on #3763
@jonathanKingston Are you still working on this (Just checking)?

[2015-12-17 19:01] isiahmeadows commented on #4728
Yes

On Thu, Dec 17, 2015, 11:03 Nicholas C. Zakas <notifications@github.com>
wrote:

[2015-12-17 19:13] #4681 closed

[2015-12-17 20:18] nzakas commented on #4731
There is an ecosystem of custom formatters that we need to consider before making any changes, so I'm not sure we would want to do any major changes at this point. We can take it under consideration for 3.0.0 if you'd like to make a concrete proposal. In the meantime, you can use the JSON formatter to get a raw copy of the results so you can pass that through whatever processing you might like.

[2015-12-17 22:32] silvenon opened #4734 ""globals" configuration design"
Not sure if it's already been pointed out, but this:

[code]

looks like I'm *unsetting* the variable. E. g. in an `.eslintrc` higher up the directory tree I set it and now I'm unsetting it.

Not sure of a solution yet, but what is now implied under `false` can be a default value, then when you want to be able to change it, you could do:

[code]

If there's no array, just `true`, it would default

[2015-12-17 23:12] Slayer95 commented on #4729
This tends to happen after refactoring code. Automatically catching it with ESLint would great.

[2015-12-17 23:13] ilyavolodin commented on #4734
`true` and `false` for globals doesn't mean on/off. It means global variable is writable or not. There is currently no way to remove global variable once it's set.

[2015-12-17 23:33] nzakas commented on #4734
We followed the convention set by JSLint and JSHint, which behave this same way. We can't really change it at this point without creating a lot of pain for users.

[2015-12-17 23:33] #4734 closed

[2015-12-18 00:02] mysticatea commented on #4729
`var x = x;` pattern is caught by `no-use-before-define` since `v2.0.0-alpha-1`. Tests is here: https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-use-before-define.js#L81-L90

`x = x` pattern is not caught now.
But, there are well-known patterns (e.g. `foo = foo || {};`), so I'm not sure whether or not the rule which catches the pattern is proper.

[2015-12-18 00:14] mysticatea commented on #3869
I'm working on this.
There are so many test cases!

[2015-12-18 00:14] mysticatea commented on #4585
I think this issue is addressed by #3869.

[code]

[2015-12-18 00:16] mysticatea commented on #1086
Oh sorry. nevermind.

[2015-12-18 00:46] platinumazure commented on #3561
What sort of approach should be taken for updating the `eslint:recommended` list?

[2015-12-18 02:04] nevir commented on #4665
Done!

[2015-12-18 10:30] mik01aj opened #4736 "Bug: "semi" rule warns about empty functions"
![image](https://cloud.githubusercontent.com/assets/3027415/11894862/5feae0be-a57a-11e5-9896-ef190a5b4030.png)

My config for the rule is `"semi": [1, "always"]`.

I'm using ESLint 1.6.0.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29234151-bug-semi-rule-warns-about-empty-functions?utm_campaign=plugin&utm_content=tracker%2F282608

[2015-12-18 10:37] mik01aj commented on #4736
Looks like this was actually a problem with the Atom integration.

[2015-12-18 10:37] #4736 closed

[2015-12-18 12:24] MethodGrab opened #4737 "no-constant-condition false positive"
eslint: v1.10.3
Config: `{"rules": { "no-constant-condition": 2, "no-array-constructor": 2 }}`

**Problem:**
`no-constant-condition` gives a false positive result for the following code:
[code]
Using `Array()` instead of `[]` will not result in the error but I have `no-array-constructor` so it still doesn't pass linting.

**Expected:**
The results for `[]` and `Array()` are consistent, linting pas

[2015-12-18 14:11] silvenon commented on #4734
I know, but it doesn't read that way (to me).

Sure, I just wanted to give that feedback.

[2015-12-18 15:15] zewish opened #4739 "eslint 1.10.3 keeps bugging me about incorrect identation (but it is correct)"
I'm not sure if I missed some option in .eslintrc.json, but this is what I get with the following test files:

t.js:
[code]

.eslintrc.json:
[code]

output:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29240438-eslint-1-10-3-keeps-bugging-me-about-incorrect-identation-but-it-is-correct?utm_campaign=plugin&utm_content=tracke

[2015-12-18 15:32] ilyavolodin commented on #4737
Looks like a bug. Not really surprised, `in` operator is used very infrequently and we probably missed it in the rule all together.

[2015-12-18 15:35] ilyavolodin commented on #4739
Looks like an issue with multiline indent and comma-first style. @gyandeeps could you take a look? I'm sure it's a duplicate of some existing issue.

[2015-12-18 15:37] ilyavolodin commented on #4483
I have no idea how realistic this statistic is, and what the sample size is, but just saw it, and figured it's better than nothing: https://semaphoreci.com/blog/2015/12/15/nodejs-version-usage-in-commercial-projects-2015-edition.html doesn't paint pretty picture for dropping support for older versions.

[2015-12-18 15:52] creeperyang opened #4740 "Parsing error: Unexpected token =>"
code:

[code]

error:

[code]

config:

**airbnb/base**  (`eslint-config-airbnb@2.1.1, eslint@1.10.3`)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29241474-parsing-error-unexpected-token?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bounty

[2015-12-18 15:59] gyandeeps commented on #4739
Confirmed, the issue is happening because of the comma first-style.
Somewhat related https://github.com/eslint/eslint/issues/3456

[2015-12-18 16:03] gyandeeps commented on #4740
We do not support experimental ES7 feature right now. In your case you have `async` and `await`.
If you what to support those then you can use [babel-eslint](https://github.com/babel/babel-eslint)

[2015-12-18 16:07] tmcw opened #4741 "no-undef rule applies to Flow type annotations"
In my codebase I have the lines:

[code]

`UnloadEvent` is a [type declaration defined in a separate file](http://flowtype.org/docs/declarations.html#_)

[code]

This produces the error:

[code]

Can eslint skip running no-undef on type annotations?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29241981-no-undef-rule-applies-to-flo

[2015-12-18 16:11] creeperyang commented on #4740
Thanks.

[2015-12-18 16:11] #4740 closed

[2015-12-18 16:11] gyandeeps commented on #4741
We dont support type annotations out of the box in eslint. With that being said if I run eslint your code then it will give me a parser error.
Can you plz give us more details on what parser are you using and any other relevant information?

[2015-12-18 16:12] ilyavolodin commented on #4741
ESLint doesn't support flow at all, so it has no knowledge of type annotations. You might want to create an issue for [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel)

@gyandeeps `babel-eslint` supports flow, so I assume it was used as a parser.

[2015-12-18 16:12] #4741 closed

[2015-12-18 16:12] tmcw commented on #4741
Ah yes, sorry:

[code]

And using babel-eslint 5.0.0-beta6

[2015-12-18 16:13] hzoo commented on #4741
@tmcw https://github.com/babel/babel-eslint#known-issues

[2015-12-18 16:16] tmcw commented on #4741
Ah thanks everyone!

[2015-12-18 16:21] Swaagie opened #4742 "Add opt-out options to the no-bitwise rule"
Related to PR: https://github.com/eslint/eslint/pull/4738

Let me know how you think about the feature. The PR has a initial implementation to allow opting back in to individual operators.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29242412-add-opt-out-options-to-the-no-bitwise-rule?utm_campaign=plugin&utm_content=tracker%2F2826

[2015-12-18 16:29] ilyavolodin commented on #4742
Hmm... I'm not sure about an option like that. On one hand I can see how it might be useful, on the other hand, bitwise operators are not something that most of the people are familiar with, and this rule was created specifically for those people. Can you explain why you wouldn't just turn off this rule on your codebase?

[2015-12-18 16:40] lo1tuma commented on #4483
@ilyavolodin As ESLint is a developer tool, the node version people use in production doesn‘t really matter.

[2015-12-18 16:45] Fenntasy opened #4743 "fat arrow + implicit return, no-return-assign bug"
array.filter(a => a.test = value) does not trigger an error with no-return-assign activated.

eslint version : v1.10.3

.eslintrc.js

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29243095-fat-arrow-implicit-return-no-return-assign-bug?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We

[2015-12-18 16:54] gyandeeps commented on #4743
Yeah, I dont think that rule currently checks for arrow-functions.

[2015-12-18 16:54] nzakas commented on #4483
@lo1tuma not entirely true. People aren't going to use a different node version during development than they do in production.

Still, I suspect by next April this will have changed significantly.

[2015-12-18 16:55] nzakas commented on #3561
We just need to see if there are any other rules that should be on by default to avoid possible errors.

[2015-12-18 16:58] alberto commented on #4743
That is not a bug, you can't explicitly return when there is no block.

[2015-12-18 17:02] nzakas commented on #4743
You can implicitly return, though, which is what that code is doing.

[2015-12-18 17:02] lo1tuma commented on #4483
@nzakas Yes, but they could. They don’t even have to use a different node version for everything, only for eslint.

Anyway, next April sounds good to me.

[2015-12-18 17:07] Fenntasy commented on #4743
Just to be sure. It does not trigger anything either when I do these tests :
array.filter(a => { return a.test = value })
array.filter(a => ( a.test = value ))

[2015-12-18 17:08] alberto commented on #4743
Yeah, sorry, I misread what the rule was.

[2015-12-18 17:12] #4665 closed

[2015-12-18 17:13] nzakas commented on #4585
Ah, right! Are you planning on addressing #3869 soon?

[2015-12-18 17:14] nzakas commented on #4729
I think the intent of this proposal is to only warn when the assignment is exact (`x = x`).

[2015-12-18 17:16] nzakas commented on #4728
So the solution would be to add `global` to the CommonJS environment rather than change the documentation. We can fix that.

[2015-12-18 17:18] #3325 closed

[2015-12-18 17:22] michaelficarra commented on #4728
No, we shouldn't do this. It's easy to add a global named global. It should not be implicitly added for everyone using CommonJS.

[2015-12-18 17:24] nzakas commented on #3829
Theoretically, any inserted semicolon could also require a space before it. Those warnings would be missed when the semicolon is inserted. I suppose we could limit the fix to be only when there is no space required before the semicolon?

[2015-12-18 17:25] nzakas commented on #4728
@michaelficarra why not? If every CommonJS environment provides `global`, why should we force people to always add it?

[2015-12-18 17:31] alberto commented on #3829
Yes it could, but that is already happening (it's the one I was refering to [here](https://github.com/eslint/eslint/issues/3829#issuecomment-164908473)). That's caused by `semi`'s autofix, not by the addition of the fix to `semi-spacing`.

[2015-12-18 17:32] cschuller opened #4745 "New rule: no-mimic"
**When does this rule warn?**
Warning for Unicode characters substituting common ASCII characters. [See Unicode to create tragedy](https://github.com/reinderien/mimic)

[code]

Will throw an _Uncaught SyntaxError: Unexpected token ILLEGAL_ because the Unicode character 0xff1d was used instead of the '=' ASCII character.

[code]
Will throw an _Uncaught SyntaxError: Unexpected token ILLEGAL_ because

[2015-12-18 17:32] nzakas commented on #3829
You've lost me, what do you mean "that is already happening"? What is already happening?

[2015-12-18 17:32] michaelficarra commented on #4728
A CommonJS environment is not required to have it. One may drop it, or a new one without it may become popular. Given that System.global will likely soon be a thing, I don't think this is too unlikely.

[2015-12-18 17:35] michaelficarra commented on #4737
But it *is* constant in a particular environment, assuming you're not mutating native prototypes. You should just disable the rule here.

[2015-12-18 17:36] alberto commented on #3829
What you just said. :) `semi` is already inserting missing semicolons. If `semi-spacing` is configured to require a space before the semicolon, that warning will be missed.

[2015-12-18 17:38] michaelficarra commented on #4745
You won't be able to create this rule because that would fail to parse. So the linter is already catching these for you.

[2015-12-18 17:44] nzakas commented on #4728
The fact is that commonjs environments that support `global` currently dominate the landscape. Given the state of current environments, it seems more likely that any new ones would have to support `global` for compatibility (even of that just means `global = System.global`).

I'd rather help people today rather than worry about a future where something becomes popular and doesn't support it.

[2015-12-18 17:46] nzakas commented on #4745
I think this is best as a custom rule. It's pretty difficult to insert a Unicode character that both looks like an alpha character and is a valid identifier character, so I don't think this is common enough to be a core rule.

[2015-12-18 17:46] #4745 closed

[2015-12-18 17:48] cschuller commented on #4745
Yes you are right. And what about function names and variable declarations?

no-mimic-names

This would then be a stylistic rule.

[2015-12-18 17:48] nzakas commented on #3829
Ah, good point. Okay, go for it.

[2015-12-18 17:49] nzakas commented on #4745
Those are also identifiers.

[2015-12-18 17:55] ilyavolodin commented on #4737
@michaelficarra You are absolutely correct about particular environment, however, JavaScript is executed in a lot of different environments (in this case "environment" is a broader term that includes different version of browsers). A specific property on the object might be available in one browser, but not in another, so the expression is not constant in cross-environment code.

[2015-12-18 17:55] cschuller commented on #4745
Agree with closing this issue and I also agree that's pretty difficult to insert it.

I got the idea from a [sonar](http://www.sonarqube.org/) rule. In our team we moved away from sonar as a linting tool to only use eslint.

By the way, thanks for your great work.

[2015-12-18 18:42] cschuller commented on #4576
@thealjey Specification by code example is a great way to explain things:

What @thealjey meant was something like this:

[code]

with a default ```valid-jsdoc``` config. will result in

[code]

I guess there is just no support for ```@inheritDoc``` within the ```valid-jsdoc``` rule. The implementation will not be easy, because currently the ```valid-jsdoc``` rule does not parse / know anything ab

[2015-12-18 19:04] michaelficarra commented on #4737
So code like `if ("v" === "\v") ... else ...` should not be warned either because some environments take one path and some take another? Eslint sticks to standard JS, not implementations.

[2015-12-18 19:08] gyandeeps commented on #4690
Yup its an issue but Man this is some style going on here. :smile:

[2015-12-18 19:20] gyandeeps commented on #4701
@curioussavage Feel free to submit a PR for this. Thanks

[2015-12-18 20:16] pygy commented on #4690
Isn't it...

And you haven't seen the slanted pre-linting banners.

[code]

The linter didn't like odd number of spaces on the middle line. You have to pick your battles, and that's one I chose not to fight ;-)

[2015-12-18 20:24] robcolburn commented on #4724
@ilyavolodin Thanks so much for digging in, I really appreciated. Our team converted to straight `jshint` for JSON linting (2.9.x turns out to be really performant at that to boot).

@nzakas,
In this case, I wanted to grep ESLint's debug output (not change ESLint's input).  So, it turns out most of the internet was sending on the almost-the-right trail, redirecting stderr `eslint --debug . 2> log.

[2015-12-18 20:31] ilyavolodin commented on #4724
@robcolburn I could also suggest looking at [jsonlint](https://github.com/zaach/jsonlint). That's what we are using in ESLint for linting json files.

[2015-12-18 20:59] nzakas commented on #4737
I agree with @ilyavolodin here. The intent of this rule is to flag conditions that will never change regardless of where code is executed (see the examples in the documentation).

[2015-12-18 21:29] ilyavolodin commented on #4737
@michaelficarra You example is correct, but extreme. We have to find middle ground, where the rule is helpful to users, but at the same time doesn't cover all possible variations. In this case, it's a well known fact that different versions of browsers have different attributes for native objects. Forking code based on existence of those attributes is a common practice. While `"v" === "\v"` might

[2015-12-18 21:29] gyandeeps commented on #3055
Even doctrine requires union types to have `(` around `)` them.
Link: https://github.com/eslint/doctrine/blob/master/lib/typed.js#L522-L540

It just sometimes it gets confused during the parse time when the type doesnt have a starting `(`.

[2015-12-18 21:51] ilyavolodin commented on #3565
This look like it would actually be great to use for parallel linting: https://github.com/SyntheticSemantics/ems However, I don't think we could do that, since it requires specific version of Node (I think).

[2015-12-19 02:49] #4737 closed

[2015-12-19 02:51] nzakas commented on #4576
So in this case, we would just not check any JSDoc with inheritDoc?

[2015-12-19 09:41] cschuller commented on #4576
Yes, not checking sounds good.

Let's go for it, because there is already an "not-check" implementation for ```@override``` (#3629).

We can add an additional option ```noInheritDoc``` to disallow using of ```@inheritDoc```. If so then we also need to add another option ```noOverride``` to be consistent with current implementation.

I can do the implementation within the next 14 days (issue doesn'

[2015-12-19 12:52] alberto commented on #4385
Working on this.

Should it be and additional option or a second argument for `always`?

[2015-12-19 14:49] mysticatea commented on #4585
Yes, I will do within the next few days.

[2015-12-19 15:20] mysticatea commented on #4729
OK, I think it's reasonable.

How about destructuring?

[code]

[2015-12-19 16:05] #3456 closed

[2015-12-19 16:05] #4739 closed

[2015-12-19 16:19] #4631 closed

[2015-12-19 16:19] nzakas commented on #4729
It would be good to cover that case, too.

[2015-12-19 16:21] nzakas commented on #4385
Probably an additional option since it would only apply to "always"

[2015-12-19 16:22] #3829 closed

[2015-12-19 16:23] nzakas commented on #4576
I don't think we need an option (since we don't have one for override either). It can just be the default behavior.

[2015-12-19 16:34] nzakas commented on #4697
Sorry, I'm a bit lost. Are you proposing two new rules here?

[2015-12-19 17:50] btmills commented on #4697
Is that not what you meant when you said "Should we instead create two core rules?" I may have misunderstood.

[2015-12-19 18:46] cschuller commented on #4576
Okay. I'm going to do this, give me two weeks. ;-)

[2015-12-20 04:41] alberto commented on #4743
So, is this accepted?

[2015-12-20 12:59] zaygraveyard opened #4752 "object-curly-spacing: miss-handles type annotations"
### test.js
[code]

### What versions I'm using
eslint@1.10.3
babel-eslint@4.1.6

### What I did
[code]

### What I expected
No errors

### What actually happened
[code]

### My Observations

The `ObjectPattern` node of the AST tree contains the type annotation.

[code]

The `object-curly-spacing` rule checks the last and before last tokens of the AST node (ie. last is `Object` an before last is `

[2015-12-20 13:06] zaygraveyard opened #4753 "array-bracket-spacing: miss-handles type annotations"
### test.js
[code]

### What versions I'm using
eslint@1.10.3
babel-eslint@4.1.6

### What I did
[code]

### What I expected
No errors

### What actually happened
[code]

### My Observations

The `ArrayPattern` node of the AST tree contains the type annotation.

[code]

The `array-bracket-spacing` rule checks the last and before last tokens of the AST node (ie. last is `Array` an before last is `:

[2015-12-20 13:07] zaygraveyard commented on #4753
Working on it

[2015-12-20 13:07] zaygraveyard commented on #4752
Working on it

[2015-12-20 15:47] knunery commented on #3395
From my testing does not work with Node v4.2.3.  Works with Node v5.3.0.

[2015-12-20 17:04] ilyavolodin commented on #4752
ESLint doesn't support experimental features and flow. You might want to check out [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel).

[2015-12-20 17:24] zaygraveyard commented on #4752
I didn't know about this plugin, I'll check it out.
Thanks @ilyavolodin.

Should this issue be closed?

[2015-12-20 18:40] ilyavolodin commented on #4752
Yes. Sorry, we have no plans to support flow as part of the core.

[2015-12-20 18:40] #4752 closed

[2015-12-20 18:41] ilyavolodin commented on #4753
Closing, as we do not support flow as part of the core ruleset. You might want to open an issue for [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel)

[2015-12-20 18:41] #4753 closed

[2015-12-20 22:30] alberto opened #4756 "Docs: Typo in no-unexpected-multiline"
`accidentially` should be `accidentally`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29290236-docs-typo-in-no-unexpected-multiline?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F28

[2015-12-20 23:21] zaygraveyard opened #4758 "Add auto fixing support for `key-spacing`"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29290793-add-auto-fixing-support-for-key-spacing?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=githu

[2015-12-20 23:28] #4756 closed

[2015-12-20 23:39] whitneyit opened #4759 "Parsing error using es7 rest spread"
Currently the [es2016 rest properties](https://github.com/sebmarkbage/ecmascript-rest-spread) feature throws a parsing error.

Seeing as this feature is already [stage 2](https://github.com/tc39/ecma262/commit/c4a04e1c6015a2634877558d2215847403127336) and is gaining lots of traction due to Dan Abramov's [redux tutorial](https://egghead.io/series/getting-started-with-redux) I was hoping to have it

[2015-12-20 23:51] kaicataldo opened #4760 "Error: Installation error when running npm install"
I'm getting an installation error (logs below) when running `npm i` in my clean master repo of my local development fork as of `commit 3b9fe1f6aeb95a8b70535de4b9c143869fe53ce1`.

Did some detective work and the error appears to be thrown by an older version of `chokidar`, which is a dependency of an older version of `beefy`. Please see logs below.

[code]

<bountysource-plugin>
---
Want to back th

[2015-12-21 01:13] hzoo commented on #4759
You can use https://github.com/babel/babel-eslint for any experiemental features (not es6)

[2015-12-21 02:08] zaygraveyard opened #4763 "Bug: ObjectRestSpread throws error in key-spacing rule"
**What version are you using?**
`eslint@1.10.3`

**What did you do?**
[code]
**.eslintrc**
[code]

**What happened?**
[code]
**What did you expect to happen?**

No errors

**Note**

I have already written a fix (will send PR after this issue gets accepted).
But since support for object rest spread is still "experimental", you might consider its too early for it.
So let me know if should propose it

[2015-12-21 05:02] ilyavolodin commented on #4759
As @hzoo mentioned you can use `babel-eslint` for any non-es6 features. However, object rest spread is the only exception out of that rule, you can enable that in the native parser by using `ecmaFeatures: { experimentalObjectRestSpread: true }` in your config file. For more information see [documentation](http://eslint.org/docs/user-guide/configuring#specifying-language-options)

[2015-12-21 05:02] #4759 closed

[2015-12-21 05:21] whitneyit commented on #4759
Thanks guys. I'll take a look

[2015-12-21 06:37] hax commented on #4668
https://github.com/eslint/eslint/pull/4764
This is my first PR for eslint, if any mistake pls let me know :bow:

[2015-12-21 09:01] MadaraUchiha opened #4765 "eslint --fix fixes potentially wrong instances of eqeq"
**ESLint version**: v1.10.3

Given the following snippet:
[code]
Running eslint --fix with the eqeqeq rule enabled, changes it to `===` (see full output below). That potentially breaks the snippet, as there are plenty of values which work for `==` but not for `===` (for example, `1`).

[code]

Can this be changed? I was under the impression that `--fix` only touches instances where it's completely

[2015-12-21 09:41] SpainTrain opened #4766 "Implement auto fix functionality for arrow-paren rule"
Implement auto fix functionality for arrow-paren rule **when using "always" option**

While this does violate the best practice of only changing one character in a fix, I was not able to contrive a situation where it overlaps with another fix.  Caveat: I may not be familiar with every rule fix.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2015-12-21 10:08] MethodGrab commented on #4737
Thanks for fixing this so quickly!

[2015-12-21 10:20] Swaagie commented on #4742
It's to catch unintentional uses of the bitwise operators. e.g. whenever devs might accidentally use `if (arg >> -1)` where `arg=0`  but wanted `if (arg > -1)`. I don't think having the optional additions to allow some operators would affect those people that either want or don't want to use bitwise operators at all.

[2015-12-21 15:55] gyandeeps commented on #4765
Auto fix for `eqeqeq` rule has been removed: https://github.com/eslint/eslint/pull/4614

[2015-12-21 15:55] #4765 closed

[2015-12-21 16:38] nzakas commented on #4760
What version of Node are you using? (I'm concerned this might be version specific)

[2015-12-21 16:40] nzakas commented on #4697
Yes, but I didn't know if you were saying these already exist or you were proposing new ones. That's why I asked if you were proposing new ones. :)

[2015-12-21 16:40] nzakas commented on #4576
Awesome, thanks @cschuller

[2015-12-21 16:41] #4309 closed

[2015-12-21 16:49] nzakas commented on #4743
Now it is

[2015-12-21 16:51] nzakas commented on #3395
:(

[2015-12-21 16:58] nzakas commented on #4758
We are having a lot of issues with this rule and may replace it with something else. As such, we won't be adding auto-fixing.

[2015-12-21 16:58] #4758 closed

[2015-12-21 16:59] nzakas commented on #3395
This should make it into 4.2.4 :D

[2015-12-21 17:02] nzakas commented on #4766
We are only auto-fixing whitespace rules at this point, as nonwhitespace rules tend to create problems.

[2015-12-21 17:02] #4766 closed

[2015-12-21 17:11] btmills commented on #4697
Ah, yes :) those would deprecate and eventually replace key-spacing (it's probably too late to both deprecate and remove it before 2.0). What do you think about those? There would be some duplication of both configuration and implementation unfortunately.

[2015-12-21 17:14] nzakas commented on #4742
I think the suggestion is fine, but I think the implementation in the PR is a bit confusing. If like to see something like this instead:

[code]

Using the actual operator make it very clear what is happening. @Swaagie do you want to update your PR to match?

[2015-12-21 17:38] alberto commented on #4760
From the log:
npm ERR! node v5.3.0
npm ERR! npm  v3.5.2

[2015-12-21 17:45] alberto opened #4771 "Typos in space-before-keywords and space-unary-ops"
`preceeded`should be `preceded`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29309335-typos-in-space-before-keywords-and-space-unary-ops?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-12-21 17:50] gyandeeps commented on #4760
Node `5.3.x` by default ships with npm `3.3.12`. I dont know if that makes a difference as all of our travis builds are passing.
Something I have seen before is that if you have visual studio installed on your machine and if it doesnt go with the optional dependencies of various modules then it makes your build fail also.

Do you have visual studio on your machine?

[2015-12-21 17:56] #4771 closed

[2015-12-21 18:04] kaicataldo commented on #4760
@gyandeeps I do have Visual Studio Code installed on my machine. I'm trying to understand why that might cause this.

@nzakas I'm using Node v5.3.0 and npm v3.5.2, but I also tried installing with Node v4.2.3 and npm  v2.14.7 and got the same error (logs below):

[code]

[2015-12-21 18:17] SpainTrain opened #4774 "Note about fix rules in docs"
Add note about fix rules to docs

Related #4766 #4767

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29310164-note-about-fix-rules-in-docs?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker

[2015-12-21 18:22] kaicataldo commented on #4760
@gyandeeps I just removed Visual Studio Code from my machine and am still getting the error on installation. Also tried installing with Node v5.3.0 and npm v3.3.12 and got the same error.

@nzakas What versions of Node is ESLint currently supporting? >=4.x? I haven't tried the installation on 0.12 or lower, but am consistently getting the error with 4.x and 5.x.

Out of curiosity, have there been

[2015-12-21 18:24] kaicataldo commented on #4760
Whoops, did not mean to close. Sorry!

[2015-12-21 18:33] gyandeeps commented on #4760
Not an expert in the field of how C++ bindings get compiled with nodejs.
Mostly it depends on what version of C++ compiler you have on your machine. Now even if you remove Visual studio it doesnt remove the C++ distribution binaries. But those binaries do get updated when you install visual studio. Now maybe whats happening in your case is that that c++ binary got updated wen you installed the vis

[2015-12-21 18:42] kaicataldo commented on #4760
Thanks for the explanation, @gyandeeps. That would explain why it's not failing in the Travis builds. Might also only affect OSX, given that the package that's emitting the error (fsevents) is an OSX-specific package.

@nzakas If this is indeed the case, what is the best way forward? Updating the `beefy` package seems to be an easy fix, though I don't know how I'd test for backwards compatibility,

[2015-12-21 18:45] kaicataldo commented on #4760
Just to be clear though, I installed [Visual Studio **Code**](https://code.visualstudio.com/), the Electron-based text editor, on my Mac. Not Visual Studio.

[2015-12-21 19:01] nzakas commented on #4760
My main concern is that upgrading doesn't break all Node < 4 installations, so we just need to verify that the update still works with Node 0.10 and 0.12.

[2015-12-21 19:13] kaicataldo commented on #4760
Got it. Tested locally (successful installation & was able to successfully run `npm run profile`) with:
 - `node v0.10.41 & npm v1.4.29`
 - `node v0.12.9 & npm v2.14.9`
 - `node v4.2.3 & npm v2.14.7`
 - `node v5.3.0 & npm v3.3.12`

and all the Travis CI tests are passing on my PR. Anything else I can check?

[2015-12-21 19:18] nzakas commented on #4760
Nope, that's all we need!

[2015-12-21 19:22] #4760 closed

[2015-12-21 20:17] #4704 closed

[2015-12-21 20:21] nzakas commented on #4774
Can you explain what you have in mind? (We really need more than a short phrase in issue descriptions to decide if we want agree or not.)

[2015-12-21 20:32] SpainTrain commented on #4774
Apologies, this was just created because I wanted to open a PR and a "fixes" issue is required.  I will be more descriptive in these in the future even if it is just for a PR.

[2015-12-21 22:23] nzakas commented on #4774
Thanks! What we'd like is for an issue that describes a problem, and then submit a PR that has the solution. That way, if we don't like the solution, we can close the PR and try another one, all the while the issue remains open as a clear description of the problem.

[2015-12-21 22:34] nzakas commented on #4585
Okay, let's leave this open to verify that #3869 covers this case as well.

[2015-12-21 22:35] nzakas commented on #4697
Yeah, I'd say it's too late for 2.0.0 at this point. Is there any reason the current rule can't be extended to have separate configurations for each circumstance?

[2015-12-21 22:37] nzakas commented on #4701
This was addressed in #4747.

[2015-12-21 22:37] #4701 closed

[2015-12-21 22:41] nzakas commented on #3090
I think this is unblocked due to our new implementation, so going to give it a try.

[2015-12-21 22:41] gyandeeps commented on #4482
Is this an issue still @happydogcat or have figured out whats happening. If everything is good then we can close this issue, if not then can you please share more info on how we can reproduce this on our end.

[2015-12-21 22:44] gyandeeps commented on #4373
Based on the convo here https://github.com/eslint/eslint/pull/4431 we decided to not do anything at this point.

[2015-12-21 22:44] #4373 closed

[2015-12-21 22:44] btmills commented on #4697
If we wanted to keep it as part of the same rule, I imagine configuration would look something like this:

[code]

That would be in addition to the current schema. `multi-line` would basically point back to the current schema, and `single-line` would have everything except `align`. Underneath, given the current options, we'd probably just copy them to identical `singleLine` and `multiLine` options

[2015-12-21 22:44] gyandeeps commented on #4537
@eslint/eslint-team Thoughts?

[2015-12-21 22:45] gyandeeps commented on #4564
@platinumazure @ilyavolodin Any one committing on doing this?
If not then we can close this.

[2015-12-21 22:49] gyandeeps commented on #3914
@StephanBijzitter Are you still interested in putting out a PR for this rule? Since this has been sitting here for some months now.

[2015-12-21 22:51] gyandeeps commented on #3834
I think the convo above suggests to put something in the docs. is that correct?
CC @nzakas

[2015-12-21 22:53] gyandeeps commented on #4133
@eslint/eslint-team Thoughts?

[2015-12-21 22:54] gyandeeps commented on #4159
@dbrgn Any update on this?

[2015-12-21 22:56] gyandeeps commented on #4160
@ArnaudBuchholz Do you want to submit a PR for this?

[2015-12-21 22:59] gyandeeps commented on #4264
@gajus R u still waiting on this enhancement?
@eslint/eslint-team thoughts?

[2015-12-21 23:08] #4089 closed

[2015-12-21 23:12] gyandeeps commented on #4294
I think we have had a good discussion here, can we regroup to flush through this issue please?
CC: @nzakas @ilyavolodin   ... we are almost thr... :smile:

[2015-12-21 23:26] nzakas opened #4779 "RuleTester swallows parsing errors when fixing"
I came across a problem with `RuleTester` where it swallows parsing errors when there's `output` specified in an invalid test case. Example:

[code]

This will fail to parse because `ecmaVersion` isn't set to 6, however, `RuleTester` just outputs "Output does not match." It should output the parsing error (I spent about an hour tracking this down).

<bountysource-plugin>
---
Want to back this issu

[2015-12-21 23:38] nzakas commented on #4264
We actually have this coming in 2.0.0: http://eslint.org/docs/2.0.0/user-guide/configuring#specifying-parser-options

[2015-12-21 23:38] #4264 closed

[2015-12-21 23:44] nzakas opened #4782 "Custom environments in plugins"
We discussed having custom environments a while back, but we got stuck due to the relationship between rules and environments. (Environments used to be able to enable/disable rules.) Since environments now just apply globals and parser options, I'd like to revisit allowing custom environments from plugins. This would relieve some of the pressure we get to provide an environment for every possible

[2015-12-22 00:20] #4779 closed

[2015-12-22 01:52] IanVS commented on #4133
I like the concept.  Would this be an option to the existing `spaced-comment` rule?  If so, what should it be called?

[2015-12-22 01:54] epmatsw opened #4783 "isMarkedAsUsed Seems To Be A Phantom Method"
I'm working on a plugin, and in one of my rules, I wanted to check if a specific variable has been used. Fortunately, ESLint provides an API for that, `context.isMarkedAsUsed`. Unfortunately, using that rule triggers an error:

[code]

This happens because in `lib/rule-context.js`, `isMarkedAsUsed` is listed as a passthrough function, meaning it should be defined on the eslint object. However, it'

[2015-12-22 01:58] epmatsw commented on #4783
1. This is in every ESLint version 0.17+.
2. Used `isMarkedAsUsed` in a plugin.
3. See above for stack trace.
4. Not crash, and behave as documented.

[2015-12-22 01:59] epmatsw commented on #4783
It's also a slight bummer, but it appears that `isMarkedAsUsed` was implemented in a WIP in https://github.com/glenjamin/eslint/commit/aa7367c. It doesn't look like it actually has the documented signature though, since instead of accepting a name, it take a reference to the node. Which is slightly less useful, but probably more realistic.

[2015-12-22 02:12] gyandeeps commented on #4783
Some how the docs for `isMarkedAsUsed` got updated by the actual definition didnt make it to the core.
Sorry about that. What I am seeing right now is that you can check the variable reference for eslintUsed property on it.
Example: https://github.com/eslint/eslint/blob/master/lib/rules/no-unused-vars.js#L146

Now we need to figure out whether to remove the `isMarkedAsUsed` name from docs or actua

[2015-12-22 03:21] ilyavolodin commented on #4564
Sorry, I can't commit to this right now. If @platinumazure wants to pick it up, I'd be perfectly fine with that, with the `fix` option it might be pretty easy to do a quick demo like that.

[2015-12-22 03:33] ilyavolodin commented on #4782
For references, here's a PR that was doing it originally: #2024 If I get time, I'll take a look at possibly rebasing it doing some minor modifications to account for updated code.

[2015-12-22 03:36] ilyavolodin commented on #4783
I see no problem adding in implementation for this function.

[2015-12-22 04:04] gyandeeps commented on #3556
Closing as confirmed with current master that if you pass in a .file directly it will lint it.

[2015-12-22 04:04] #3556 closed

[2015-12-22 05:30] allenmanning opened #4785 "Proposal: no-useless-constructor"
# Rule Proposal:  Empty or Useless ES6 Constructor

## When the rules will warn. Include a description as well as sample code.
    constructor (args...) {
      super(args...);
    }

or

    constructor () {
    }

In ES6 classes both of the above forms are redundant, [as they are the default constructor if none is specified](http://www.2ality.com/2015/02/es6-classes-final.html).  As such they ca

[2015-12-22 07:54] glenjamin commented on #4783
`isMarkedAsUsed` was present as WIP, but was removed after this comment: https://github.com/eslint/eslint/pull/1951#discussion_r25954663

Leaving it in the passthrough list, and the subsequent addition of documentation were both in oversights.

[2015-12-22 08:06] dbrgn commented on #4159
Not yet, sorry.

[2015-12-22 09:18] Swaagie commented on #4742
That seems like a more sane way to do it, I'll change the logic

[2015-12-22 10:19] StephanBijzitter commented on #3914
@gyandeeps Yeah I am, just have been away for some time! I'll pick up on my backlog starting next year :+1:

https://github.com/Skelware/node-file-parser/blob/master/src/parsers/ini.js#L59

[2015-12-22 11:45] Swaagie commented on #4742
PR ready to be merged, properly respecting contribution guidelines

[2015-12-22 13:58] ArnaudBuchholz commented on #4160
Well, a full support of WSH would be more complex than just adding some globals. For instance, some methods would require a tweak inside the new-cap rule (Echo, OpenTextFile, ReadAll...).

I don't think WSH is that much used and the benefit would be very low.

[2015-12-22 13:58] #4160 closed

[2015-12-22 14:35] michaelficarra commented on #4742
I don't think the allowance should be based on operator. You should look to allow the particular patterns you're interested in using, such as the one mentioned or the ones necessary for asm.js.

[2015-12-22 15:05] gyandeeps commented on #4783
So based on that comment we need to fix the docs and remove the definition.

[2015-12-22 15:06] gyandeeps commented on #3914
@StephanBijzitter Sounds good. Thanks for the update.

[2015-12-22 15:30] nzakas commented on #4785
I'm sorry, I don't understand what you're requesting. Please see our guide for proposing new rules: http://eslint.org/docs/1.10.3/developer-guide/contributing/new-rules

[2015-12-22 15:30] happydogcat commented on #4482
It doesn't work, I already sent detailed repro last time. The issue also reproes with system style file. Anyway, I find a work around so it's up to your team to fix it or not.

      From: Gyandeep Singh <notifications@github.com>
 To: eslint/eslint <eslint@noreply.github.com>
Cc: happydogcat <happydogcat@yahoo.com>
 Sent: Monday, December 21, 2015 2:41 PM
 Subject: Re: [eslint] command line forma

[2015-12-22 15:35] #4743 closed

[2015-12-22 15:36] nzakas commented on #4482
Unfortunately, I'm still unable to reproduce, so at this point I'm closing the issue.

[2015-12-22 15:36] #4482 closed

[2015-12-22 15:39] nzakas commented on #4697
I'd use `singleLine` and `multiLine` in the config, but otherwise looks good to me. Are you interested in making that change?

[2015-12-22 15:42] shaunstanislaus opened #4787 "how do i fix this import and export issue for sublime text?"
[code]

here is my ESLint user settings for sublime text 3 and below this setting is my .eslintrc.json
[code]

.eslintrc.json created with `eslint --init`
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29334997-how-do-i-fix-this-import-and-export-issue-for-sublime-text?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medi

[2015-12-22 15:42] nzakas commented on #4537
We already have too much on the backlog, so closing. Feel free to create a custom rule for this and if we get further requests in the future we can reconsider.

[2015-12-22 15:42] #4537 closed

[2015-12-22 15:43] nzakas commented on #3834
Yes. We should basically say that this rule mimics the behavior of ES6 modules imports.

[2015-12-22 15:44] shaunstanislaus commented on #4787
@nzakas could you kindly help me out? (:

[2015-12-22 15:46] nzakas commented on #4294
I think we can do this if someone wants to submit a PR

[2015-12-22 15:47] nzakas commented on #4133
Yup, it would be a new option. Looking for naming ideas.

[2015-12-22 15:48] nzakas commented on #4564
Closing for now

[2015-12-22 15:48] #4564 closed

[2015-12-22 15:48] btmills commented on #4787
@shaunstanislaus In your `.eslintrc.json`, try adding `"modules": true` under `ecmaFeatures`. Does that work?

[2015-12-22 15:49] nzakas commented on #4159
As this would be a request for the globals module anyway, closing. You can submit a PR to globals whenever you get around to it.

[2015-12-22 15:49] #4159 closed

[2015-12-22 15:50] gyandeeps commented on #4787
What version of eslint are you using?

[2015-12-22 16:01] Swaagie commented on #4742
I'm not sure I'm following what your saying can you clarify?

[2015-12-22 16:01] platinumazure commented on #4564
Yeah, I won't have time to implement this unfortunately. Thanks for
discussing.
On Dec 22, 2015 9:48 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-12-22 16:07] fobdy commented on #3587
+1

[2015-12-22 16:14] michaelficarra commented on #4742
You don't want an exception for `~a` or `~~-~a`, you just want an exception for `~a.indexOf(b)`, so make that the exception. You're currently asking to make the exception overly broad for no reason.

[2015-12-22 16:18] Swaagie commented on #4742
Isn't that way beyond the scope of the rule though, I can think of tons of patterns to use `&` or `|`, making all those an exceptions is a bit obtuse. Also I don't see why this optional configurability would hurt anyone, there is no need to use it

[2015-12-22 16:35] #4783 closed

[2015-12-22 16:39] btmills opened #4789 "Empty schemas allow any options"
Originally discovered by @gyandeeps in [#4786 (comment)](https://github.com/eslint/eslint/pull/4786#issuecomment-166641992).

[code]

Right now, the above schema will allow any number and kind of options after the severity, when it should only allow a severity.

Working on this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/2933659

[2015-12-22 17:00] shaunstanislaus commented on #4787
@gyandeeps i am using 2.0.0 alpha.

@btmills what about my sublime linter settings for eslint ?? i would prefer to have it globally configured so i don't need to create .eslintrc.json for each project. how do i solve it?

[2015-12-22 17:01] btmills commented on #4787
@shaunstanislaus if you want to fix this through sublime-linter, you'll need to ask on that repository.

[2015-12-22 17:01] shaunstanislaus commented on #4787
@btmills adding the `"modules": true` doesn't work, still getting same syntax error.

/Users/shaunstanislaus/workspace/react_tutorial/meteor_project/app/zzz/entrypoint.import.jsx
  5:2  error  Parsing error: 'import' and 'export' may appear only with 'sourceType: module'

✖ 1 problem (1 error, 0 warnings)

[2015-12-22 17:03] btmills commented on #4787
@shaunstanislaus are you running that command in the terminal? If not, can you try that? I'd like to exclude sublime-linter as a cause if possible.

[2015-12-22 17:04] shaunstanislaus commented on #4787
@btmills running both on sublime text 3 and terminal with the same results.

[2015-12-22 17:04] michaelficarra commented on #4742
You have a particular case that is motivating your request for an exception to this rule. Instead of creating an exception that covers this case as narrowly as possible, you've proposed an exception that will accidentally also ignore cases that I'm sure even you yourself would want reported. You should greatly narrow the scope of this exception.

[2015-12-22 17:05] btmills commented on #4787
@shaunstanislaus can you paste the output when run using the `--debug` flag?

[2015-12-22 17:06] shaunstanislaus commented on #4787
@btmills
[code]

[2015-12-22 17:10] btmills commented on #4787
@shaunstanislaus thanks. What are the contents of `meteor_project/app/.eslintrc.json` now?

[2015-12-22 17:10] shaunstanislaus commented on #4787
@btmills
[code]

[2015-12-22 17:16] #4789 closed

[2015-12-22 17:21] shaunstanislaus commented on #4787
@btmills any resolutions?

[2015-12-22 17:36] btmills commented on #4787
Aha! Facepalm. You're using the 2.0 alpha. Check out the [migration guide](https://github.com/eslint/eslint/blob/master/docs/user-guide/migrating-to-2.0.0.md#language-options), specifically the language options. That will show you how to enable modules.

[2015-12-22 17:38] shaunstanislaus commented on #4787
@btmills i read that even before i asked you, but couldn't solve it. could you kindly please tell me what needs to be added to my eslint?

[2015-12-22 17:41] btmills commented on #4787
@shaunstanislaus

If you're using any non-ES6 flags in ecmaFeatures, you need to move those inside of parserOptions. For instance:

[code]

Then you should move ecmaFeatures under parserOptions:

[code]

If you were using ecmaFeatures.modules to enable ES6 module support like this:

[code]

[code]

[2015-12-22 17:56] shaunstanislaus commented on #4787
@btmills

did as you said, but still doesn't work.

maybe you can correct it for me..

[code]

[2015-12-22 17:58] btmills commented on #4787
@shaunstanislaus should be something like this:

[code]

[2015-12-22 18:31] shaunstanislaus commented on #4787
@btmills
Thank You, it is solved.

now i have the no-unused-vars

[code]

how do you enable unused var?
i tried searching here but it only talks about `disallow unused var`
i would want toe  `allow unused var`
how do i go about setting the rules?

[2015-12-22 18:34] ilyavolodin commented on #4787
If you want to allow unused vars, you need to turn off `no-unused-vars` rule in your config file. Set `no-unused-vars: 0` and that should do it.

[2015-12-22 18:40] shaunstanislaus commented on #4787
@ilyavolodin thank you, it's solved. i will close this issue now.

@btmills, thank you for helping me out, i sincerely appreciate it.

[2015-12-22 18:40] #4787 closed

[2015-12-22 19:42] gyandeeps commented on #4383
@eslint/eslint-team Thoughts?

[2015-12-22 19:43] gyandeeps commented on #4383
@jussi-kalliokoski Can you answer all the questions from here: http://eslint.org/docs/developer-guide/contributing/new-rules

[2015-12-22 19:50] gyandeeps commented on #4319
Anyone encountered any issues related to this?

[2015-12-22 19:51] gyandeeps commented on #4376
@evilebottnawi Can you provide more information for your proposal? Here are the things we are looking for: http://eslint.org/docs/developer-guide/contributing/new-rules

[2015-12-22 19:53] gyandeeps commented on #4345
@eslint/eslint-team thoughts?

[2015-12-22 20:40] xjamundx commented on #4383
You my want to check if
https://github.com/benmosher/eslint-plugin-import/blob/master/README.md has
it or if that plugin would add this rule!

On Tue, Dec 22, 2015 at 11:43 AM Gyandeep Singh <notifications@github.com>
wrote:

[2015-12-22 21:06] nzakas commented on #3587
@BYK are you still working on this?

[2015-12-22 21:08] nzakas commented on #4742
I'm the one who made the suggestion to allow any operator because we will undoubtedly get more requests like this. I'm not comfortable making a change that is so specific as to just allow `~a.indexOf()`. People will now have the option of disabling the rule, or disabling the rule for one or more operators. That should be enough flexibility for most use cases.

[2015-12-22 21:11] nzakas commented on #4319
Let's close this unless someone chimes in with a problem.

[2015-12-22 21:11] #4319 closed

[2015-12-22 21:13] nzakas commented on #4345
I don't know - we seem to always run into this question of whether configuration comments should be treated as comments or not. It seems like something we should answer globally for every rule rather than attacking it in just one rule.

[2015-12-22 21:14] nzakas commented on #4383
For now I think this is best as a custom rule. It is possible to create modules that don't export anything, but I'm not sure we have enough information about best practices to include in core at this time.

[2015-12-22 21:14] #4383 closed

[2015-12-22 21:21] michaelficarra commented on #4742
@nzakas Just because I want to do `a | 0` doesn't mean I want to be able to do `a | b`.It is entirely reasonable that *everybody* that wants an exception will not want the exception for every usage of that operator. If this will literally always be the case, why not accommodate it?

[2015-12-22 22:20] mathieumg commented on #4345
I second that! I mentioned the `no-inline-comments` that ignores the `eslint-disable-line` because I remembered it had gotten "fixed", but I imagine there may be more rules that correspond to that scenario. I'd be curious which other there are, I didn't find any by quickly glancing at the rule list. Perhaps there would be `no-warning-comments` but writing:

[code]

seems odd to me. I don't use tha

[2015-12-22 22:49] sidazhou commented on #2138
+1

[2015-12-22 23:18] Swaagie commented on #4742
How would you suggest to accommodate to literally any random implementation logic out there though? I can see a lot of edge cases around differences in the ast. That said I'm fine if this is adjusted towards a more specific ruleset to define exceptions. However, it would be outside my scope/knowledge of the eslint code base.

[2015-12-23 01:37] mysticatea commented on #3869
I'm writing tests to check that it doesn't conflict with `space-infix-ops`.

`space-infix-ops` seems to not check `in` and `instanceof` operators.
Because it's checking only punctuators: https://github.com/eslint/eslint/blob/master/lib/rules/space-infix-ops.js#L33
But this operators list includes `in` and `instanceof` : https://github.com/eslint/eslint/blob/master/lib/rules/space-infix-ops.js#L14

[2015-12-23 03:10] ilyavolodin commented on #3869
@michaelficarra Do you remember what was intended for `space-infix-ops`? I would guess `in` and `instanceof` should be checked.

[2015-12-23 03:22] platinumazure commented on #3869
@ilyavolodin Speaking as an end user, I would expect any infix operators (punctuation or word) to be checked. That said, how common is that anyway?

[2015-12-23 04:20] #4763 closed

[2015-12-23 04:36] allenmanning commented on #4785
Apologies, I will update the description.

[2015-12-23 04:41] btmills opened #4792 "key-spacing can't align groups with getters/setters"
Consider the following test case:

[code]

[code]

I can't find any level of alignment that it considers valid.

For alignment, we should skip getters and setters just like we do other properties that lack a colon.

Working on this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29350422-key-spacing-can-t-align-groups-with-getters-s

[2015-12-23 04:49] kaicataldo commented on #1086
Starting on this tonight

[2015-12-23 05:27] #4792 closed

[2015-12-23 11:22] OliverJAsh commented on #2365
Would this include the ability to have multiple nested `.gitignore`s, i.e. folder specific ignores?

[2015-12-23 16:01] ilyavolodin commented on #2365
No, this just changes the way globs are handled.

[2015-12-23 16:39] nzakas commented on #4742
@michaelficarra if you'd like to propose an alternative, please do.

[2015-12-23 16:42] nzakas commented on #3869
Related discussion: https://github.com/eslint/eslint/issues/3587

[2015-12-23 16:47] nzakas commented on #4785
Thanks. This could be useful, I'd call it `no-useless-constructor`.

Unfortunately, we don't have enough people to implement all rules suggestions, so this will be left open to see if someone in the community will contribute it.

[2015-12-23 16:49] #4385 closed

[2015-12-23 16:50] #3090 closed

[2015-12-23 16:58] IanVS commented on #3090
Awesome, thanks for picking up my slack!

[2015-12-23 17:26] gyandeeps commented on #1568
Nobody has committed to do this and this issue has been open for a year now. I think we should close this as I dont see it getting done.
Feel free to reopen if interested.

[2015-12-23 17:28] gyandeeps commented on #848
Based on the convo above and since we have crossed a year mark on this issue, I think we should close this issue.

[2015-12-23 17:30] gyandeeps commented on #1616
I guess nobody is interested to get this enhancement done, which tells me that nobody has is coding in this fashion. Also we are going to hit 1 year mark in few days.
Can we close this?

[2015-12-23 17:46] ljharb commented on #1616
I am coding in this fashion, in many modules. I simply disable the rule in the meantime.

I don't understand the compulsion to close an issue that is still outstanding. I really do want this change made, and despite not having the time to do it yet, I hope someone will discover it and volunteer to do so. Closed issues are not discoverable.

[2015-12-23 19:21] #4658 closed

[2015-12-23 22:40] alberto commented on #4576
I think there is already support for this: https://github.com/eslint/eslint/blob/master/lib/rules/valid-jsdoc.js#L165

The correct syntax is `inheritdoc` (with lowercase d)

[2015-12-23 23:12] nzakas commented on #4576
Ah, I'm pretty sure that JSDoc is case insensitive when it comes to tags, so we probably just need to normalize the tag name to lowercase before that point.

[2015-12-23 23:22] dantman opened #4795 "Indent should allow double indent for arguments of first line of a variable definition"
Consider the following:
[code]
[code]

In 3 the double indentation should be valid like it is in 2.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29371940-indent-should-allow-double-indent-for-arguments-of-first-line-of-a-variable-definition?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We

[2015-12-23 23:44] #1568 closed

[2015-12-23 23:44] #848 closed

[2015-12-23 23:57] cschuller commented on #4576
- The JSDoc documentation is using lowercase ```@inheritdoc``` [JSDoc](http://usejsdoc.org/tags-inheritdoc.html)
- The Google Closure Compiler expect a camelcase ```@inheritDoc``` [Google Developers](https://developers.google.com/closure/compiler/docs/js-for-compiler)
- WebStorm 11 likes to have a camelcase ```@inheritDoc```

I think a tag name normalization will do it. camel/lower case is then mo

[2015-12-24 00:56] #4576 closed

[2015-12-24 01:04] gyandeeps commented on #4795
I think the rule is behaving in an expected way in //3. There might be an issue with the lower half of the //3 example. There has been many discussions surrounding this previously.

[2015-12-24 01:31] gyandeeps commented on #4711
@fakewaffle I can see u have done implementation but you havent opened a pull request. I dont know if you forgot to that or is deliberate. Just a reminder. :smile:

[2015-12-24 01:33] gyandeeps commented on #4606
kinda related: https://github.com/eslint/eslint/issues/3720

[2015-12-24 08:57] kuraga opened #4798 "Rules for part of files"
Good day!

Can I set rules for part of files (glob, subdirectory, etc.) in `.eslintrc.json`?

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29378402-rules-for-part-of-files?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.c

[2015-12-24 11:20] satazor commented on #3123
I can't still use `@scope/eslint-config/foo` nor `@scope/foo`:

`
Error: Cannot find module '@satazor/eslint-config-eslint-config/es5'
`

`
Error: Cannot find module '@satazor/eslint-config-es5'
`

Should I open a separate issue for this?

[2015-12-24 11:22] kuraga opened #4799 "About cli API"
Good day!

What if I want to lint files and output results via ESLint's service but programmatically?

Why `cli` has been removed?

Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29380350-about-cli-api?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource

[2015-12-24 12:16] RReverser commented on #2705
Can't you reg-match corresponding comments in the input string before the scanning begins?

[2015-12-24 14:47] satazor opened #4800 "NPM scope not working when targeting files."
https://github.com/eslint/eslint/pull/3136 gave us support for user scoped npm packages but it doesn't support targeting specific files.

Consider the following eslint-config package structure:

[code]

Using `"extends": "@satazor"` works great because it uses the `index.js` file but using `@satazor/es5` or `@satazor/eslint-config/es5` results in an error:

` Error: Cannot find module '@satazor/es

[2015-12-24 14:49] satazor commented on #4800
/cc @ljharb

[2015-12-24 16:02] platinumazure commented on #4799
You probably want to use the [`CLIEngine`] object.

  [1]: http://eslint.org/docs/developer-guide/architecture#the-cliengine-object

[2015-12-24 16:03] platinumazure commented on #4799
Stupid mobile interface. http://eslint.org/docs/developer-guide/architecture#the-cliengine-object

[2015-12-24 16:05] platinumazure commented on #4798
You can create `.eslintrc.json` files in subdirectories to control most linting options for subdirectories. Globbing is not yet supported and I don't know if it is under active development yet.

[2015-12-24 16:05] gyandeeps commented on #4798
here are the docs: http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy
We have all of the documentation on our website.

[2015-12-24 16:07] #4799 closed

[2015-12-24 16:08] gyandeeps commented on #4800
@satazor please answer all the question from the seconnd comment.
Also can you run eslint with `--debug` flag and share the output.

[2015-12-24 16:09] #4798 closed

[2015-12-24 16:15] btmills commented on #3123
@satazor what is the full name of your config on npm?

[2015-12-24 16:17] btmills commented on #4800
@satazor see https://github.com/btmills/eslint-config-btmills for an example of how to do this.

[2015-12-24 16:24] ilyavolodin commented on #2705
I think that's what we ended up doing. es6 environment should not work as comments.

[2015-12-24 16:34] satazor commented on #4800
@btmills It works in your cause because your package name is suffied with -btmills, mine isn't :(

@gyandeeps will do in my next comment.

[2015-12-24 16:39] satazor commented on #4800
@eslintbot

1.

$ ./node_modules/.bin/eslint -v
v1.10.3

2. I don't have the source coded pushed yet, but:

[code]

[code]
$ ./node_modules/.bin/eslint addons --debug
  eslint:cli Running on files +0ms
  eslint:glob-util Creating list of files to process. +33ms
  eslint:cli-engine Processing /Users/satazor/Work/own/eslint-config/addons/browser.js +19ms
  eslint:cli-engine Linting /Users/satazor/Wo

[2015-12-24 16:44] satazor commented on #3123
Not yet published but I wanted it to be `@satazor/eslint-config`. To circumvent this issue it will have to be `@satazor/eslint-config-satazor` which is kind of repetitive :(

[2015-12-24 16:51] ljharb commented on #4800
@satazor the reason that doesn't work is because `@satazor/es5` is a scoped package name already. In other words, the shortcut of just listing your npm username is unique and does not behave like require. you'd need `@satazor/eslint-config/es5` to be able to use the require slash-delving behavior.

[2015-12-24 16:53] ljharb commented on #3123
`@satazor/es5` should NOT work. However, `@satazor/eslint-config/es5` absolutely should, and I see you've filed #4800 to cover that.

[2015-12-24 16:53] satazor commented on #4800
@ljharb as I explained above, using `@satazor/eslint-config/es5` gives the same error.

[2015-12-24 16:57] satazor commented on #3123
Yes I ended up creating the issue. Lets see how the discussion goes and if `@satazor/eslint-config/es5` should be supported, I will happily do a PR to fix the issue.

[2015-12-24 17:17] ljharb commented on #4800
I'm sure that's just something I missed when I added the `@username/eslint-config` shortcut.

[2015-12-24 17:18] nzakas commented on #4800
You cannot use `@satazor/es5` because package names must begin with `eslint-config`, so this is behaving correctly.

The `@satazor/eslint-config/es5` should work, that's a bug.

[2015-12-24 17:19] satazor commented on #4800
@nzakas understood, I will work on a failing test + fix soon. Not sure if it is today or tomorrow because it's XMAS :family:

[2015-12-24 17:21] kuraga commented on #4799
@platinumazure thanks, but it doesn't output to the console, does it?

[2015-12-24 17:22] kuraga commented on #4798
Oh, here it's my sorry. Thanks.

[2015-12-24 17:38] nzakas commented on #4799
It doesn't, it's up to you to output it. The `cli` object was removed a while back. It was never intended to be an end-user interface. Please use `CLIEngine` instead.

[2015-12-24 17:46] mysticatea commented on #2705
#3314

[2015-12-24 19:38] RReverser commented on #2705
@mysticatea Ah, it uses different syntax than other options. Didn't see this in docs (is it reflected?). Thanks anyway!

[2015-12-24 21:03] shaunstanislaus opened #4801 "bug: strange auto adding of semicolon to my files after the new update you push."
running: v2.0.0-alpha-2

what happen here is, when i save my file, i have auto save turn on it auto add semi colon.

`original item.import.jsx
[code]

after saving it it becomes like this
[code]
`error message from sublime text 3 console`
[code]
please see my settings if i added something wrongly

`jsfmt.sublime-settings`
[code]

`ESLint configuration: SublimeLinter.sublime-settings`
[code]

<boun

[2015-12-25 10:00] mysticatea commented on #4801
`{ props.header; }` this semicolon is an invalid token.

[2015-12-25 10:38] shaunstanislaus commented on #4801
@mysticatea yup but if you read carefully, i didn't put the semicolon there, after saving it, it auto adds a semicolon to my handlebar {inside}

[2015-12-25 12:19] feross commented on #3878
@mysticatea Any update on this?

[2015-12-25 12:43] alberto commented on #4801
mmh, it probably has to do with #4750.

[2015-12-25 13:06] mysticatea commented on #3878
I'm sorry, I was sick this week...
I had done the implementation and tests, so I should complete in this weekend.

[2015-12-25 13:08] feross commented on #3878
No worries, I was just curious. Get better soon!

[2015-12-25 14:22] elodszopos commented on #3565
Is there any progress going on in here? I would love being able to split up linting to share the load among cores.

[2015-12-25 15:09] ilyavolodin commented on #4801
Can you please clarify what do you mean by "auto adds a semicolumn"? Are you running eslint with `--fix` flag and it adds semicolumn? As far as I understand sublime-linter doesn't support `--fix` mode for eslint.

[2015-12-25 15:11] ilyavolodin commented on #3565
@elodszopos No, sorry, no progress. This feature was moved out of v2 timeline and will come in at a later date.

[2015-12-25 15:17] shaunstanislaus commented on #4801
@ilyavolodin
[code]

[2015-12-25 15:24] domenic commented on #4641
I think this is really disappointing because it is perpetuating the fiction that is spec versioning throughout the tooling ecosystem. The year in which a feature is ratified by the European Computer Manufacturer's Association should have no bearing on how people view it or use it in their projects.

Features should be considered independently of whatever official "spec version" they are bundled in

[2015-12-25 15:33] shaunstanislaus commented on #4801
@alberto you know how to resolve my issue?

[2015-12-25 15:41] shaunstanislaus commented on #4801
![bug-wierdformattinguponsaveandaddssemicolon](https://cloud.githubusercontent.com/assets/1703530/12003596/67630cae-ab60-11e5-8963-433ee8b819a4.gif)
i recorded the error for you to see, it is totally wierd.

1) i save the document once, it adds a semicolon at the end of my code
2) when i tried to press cmd + s (to save again) it created lots of spacing

you can refer to my settings at the top of t

[2015-12-25 15:45] ilyavolodin commented on #4801
@shaunstanislaus In that case, I don't see how this issue is related to ESLint. This is probably some setting in sublime that reformat your code on save. ESLint (when ran without `--fix` flag) will never affect your code or modify any of the files.

[2015-12-25 17:19] mysticatea commented on #4801
@shaunstanislaus I don't know about esformatter. What is `esformatter-semicolons` in your jsfmt.sublime-settings?

[2015-12-25 18:45] satazor commented on #4800
@nzakas @ljharb I have a failing test + fix ready in a branch based in master. Shall I make another PR based on the 1.x so we can publish a new version sooner?

[2015-12-25 18:50] ljharb commented on #4800
@satazor i'm not a maintainer but it seems to me that it's a bug that should be fixed in both 1.x and 2.x.

[2015-12-25 19:16] satazor commented on #4800
I kind of agree with that too, I will make two PR's then

[2015-12-25 19:48] satazor commented on #4800
Sorry for the commits mess.

PR based on master branch: https://github.com/eslint/eslint/pull/4803
PR based on 1.x branch: https://github.com/eslint/eslint/pull/4804

[2015-12-25 23:50] maxkrieger opened #4805 "[meta] Logo in svg/vector?"
I'd love to add eslint as a [file icon](https://github.com/DanBrooker/file-icons). Does anyone have the logo in vector form?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29401114-meta-logo-in-svg-vector?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](htt

[2015-12-26 00:52] mjomble opened #4806 "Bug in no-extra-bind"
There is a bug in the symmetry of pushing/popping on the `scope` stack in the code of this rule.
The `pop` is skipped in case of a necessary `bind` which breaks cases like this one:

[code]

`bind(b)` is unnecessary, but the error does not get reported.

I already have a fix and created the issue only so I could submit the pull request.

<bountysource-plugin>
---
Want to back this issue? **[Post a

[2015-12-26 03:37] ilyavolodin commented on #4805
Logo in svg format is located here: https://github.com/eslint/eslint.github.io/blob/master/img/logo.svg

[2015-12-26 03:52] maxkrieger commented on #4805
Thanks! was looking for a `gh-pages` branch.

[2015-12-26 03:52] #4805 closed

[2015-12-26 06:17] IanVS commented on #4805
@maxkrieger, I already added eslint icons to that package in https://github.com/DanBrooker/file-icons/pull/252.  It's just waiting for a release.

[2015-12-26 06:27] IanVS opened #4808 "Complexity has no default"
Enabling the `complexity` rule with only a severity has no effect.  We have tried to give sane defaults to all rules, and I think this should be no exception.  I don't know what a good number would be, though.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29403663-complexity-has-no-default?utm_campaign=plugin&utm_content=tracker%2F

[2015-12-26 06:44] IanVS opened #4809 "Recommended config has disabled defaults"
This caused me to scratch my head for a while.  The eslint:recommended configuration has some rules that are disabled but contain an option, like:

[code]

Normally this would have no effect, but due to the way configs are merged, if my own config has:

[code]

The end result is `"complexity": [2, 11]`, which is not what I was expecting.  I don't believe this was intentional, and is an artifact of

[2015-12-26 08:23] gyandeeps commented on #4808
This would be very debatable... My wild guess would be ~4.

[2015-12-26 13:28] satazor commented on #4229
Can we have @btmills [commit](https://github.com/eslint/eslint/commit/2d32f6e381a473efd6f9272bdd25f9f325ffeae2) cherry-pick to `1.x` branch?

I'm interested in this fix but 2.0 is not yet release :(

[2015-12-26 13:46] IanVS commented on #4808
In [previous situations](https://github.com/eslint/eslint/issues/4297), we have tended to use `10`, as a nice, round, large numbered default.  I'm not sure whether it might make sense to go a bit higher in this case, though.  The highest we have within ESLint code is 36, but there are only 6 above 20.  Maybe `20` is a good number?

[2015-12-26 15:34] ilyavolodin commented on #4809
Agree

[2015-12-26 16:00] nzakas commented on #4809
This was intentional so there was always one place to go to see all default options, so not a bug. It's also a fallback to make sure that default values are provided for all rules in case someone just decided to enable without specifying other options (as you did), otherwise, an enabled rule might do nothing.

I'm not opposed to removing these defaults, but I'd like a proposal for how to achieve w

[2015-12-26 16:07] maxkrieger commented on #4805
I quickly noticed after I realized there already was an icon! :D

[2015-12-26 16:19] nzakas commented on #4801
This is probably an issue with jsfmt. ESLint is just reporting a parser error. I'd recommend opening an issue at https://github.com/royriojas/esformatter-jsx.

[2015-12-26 16:19] #4801 closed

[2015-12-26 16:37] nzakas commented on #4795
Yeah, this is behaving as expected. Looks like 3 is a bit irregular. I have a hunch that such a pattern would be difficult to detect. @gyandeeps ?

[2015-12-26 18:27] btmills opened #4810 "Document expected error line and column properties"
@mjomble pointed out in [#4807 (comment)](https://github.com/eslint/eslint/pull/4807#discussion_r48448802) that http://eslint.org/docs/developer-guide/working-with-rules#invalid-code doesn't mention the optional `line` and `column` properties on the expected error object. We should document their existence and mention cases where they might be necessary.

<bountysource-plugin>
---
Want to back thi

[2015-12-26 19:10] platinumazure commented on #4810
Indeed-- those properties have been very useful to me, but I stumbled upon them only by reading the RuleTester source. :+1: from me.

[2015-12-26 19:37] satazor opened #4812 "eslint complains about `global-require` even if the require usage is scoped"
[code]

Obviously one could rename `require` to `req` to make this issue go away, but I think eslint should be smarter and not complain in the situation exemplified above.

Thoughts?

Version: 1.10.3

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29410904-eslint-complains-about-global-require-even-if-the-require-usage-is-scoped?utm_

[2015-12-26 19:59] michaelficarra commented on #4812
Agreed. We should be able to easily make sure reported require calls are referencing the global require function.

[2015-12-26 20:59] nzakas commented on #4812
This is working as intended. The goal of the rule is to mimic how ES6 module imports work.

Your best bet in this situation is to disable the rule around that usage.

[2015-12-26 21:00] nzakas commented on #4810
It's also missing mention of `parserOptions`, so that should be added as well.

[2015-12-26 21:00] michaelficarra commented on #4812
@nzakas You may want to re-read the issue. The rule is flagging calls to *any* function named `require`.

[2015-12-26 21:18] satazor commented on #4812
@nzakas I don't think it is intended because the `require` is a function argument, not a global require.

[2015-12-26 22:25] #4806 closed

[2015-12-27 02:11] IanVS commented on #4809
I propose making sure that all rules have their own defaults (e.g. https://github.com/eslint/eslint/issues/4808), and then removing them from the recommended config, in the interest of clarity.  Otherwise, some rules will have defaults when extending from recommended, but not have defaults when not extending it.  I see this as being very confusing and unexpected (it was for me!).  I can make a PR

[2015-12-27 02:58] nzakas commented on #3853
@mysticatea do you still plan on doing this?

[2015-12-27 03:00] nzakas commented on #4492
@BelfordZ are you planning on updating your PR?

[2015-12-27 03:16] fakewaffle commented on #4711
@gyandeeps #4716?

[2015-12-27 03:55] mysticatea commented on #3853
I'm still interested in this, but I have low priority.
Please feel free to close this... sorry.

[2015-12-27 06:32] mysticatea commented on #4641
I have a plan to create a rule to restrict features to the specified target environment of Node.js (https://github.com/mysticatea/eslint-plugin-node/issues/5)

It might be good that a similar rule (more commonly) is created in core.

[2015-12-27 08:26] mysticatea opened #4814 "(alpha-2) TypeError: Cannot assign to read only property 'globalReturn' of #<Object>"
![image](https://cloud.githubusercontent.com/assets/1937871/11764906/fc52c0e0-a186-11e5-9485-d34af0a6ca9a.png)

I got an error under the following conditions:

- I'm using v2.0.0-alpha-2
- A test has `env: {node: true}`
- A test has `parserOptions: {sourceType: "module"}`

The cause is [this assign()](https://github.com/eslint/eslint/blob/v2.0.0-alpha-2/lib/eslint.js#L396) and [this assignment](ht

[2015-12-27 15:36] platinumazure opened #4817 "Should we remove rule-context methods that have been deprecated and now proxy to SourceCode?"
Title says it all. Will update with reference line numbers later. I brought this up in chat but wanted to ensure it was discussed in an issue.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29421294-should-we-remove-rule-context-methods-that-have-been-deprecated-and-now-proxy-to-sourcecode?utm_campaign=plugin&utm_content=tracker%2F2

[2015-12-27 16:01] platinumazure opened #4818 ""Repository settings" as a way to share state between rules?"
I'm working on a new plugin [eslint-plugin-microtemplates](https://github.com/platinumazure/eslint-plugin-microtemplates), which is doing some transforms on source files to create JavaScript statements. As part of that, I find myself currently disabling some rules in those generated statements because I (rightly) cannot know how rules like `semi` are configured.

I support the general principle, b

[2015-12-27 16:36] nzakas commented on #4818
Processors are designed to not know anything about the rules, and that's important because we don't want processors trying to reimplement rule functionality. The role of a processor is to produce code that ESLint can parse, not to produce code that already adheres to the configured rules, so I don't see such a change being made.

[2015-12-27 16:41] nzakas commented on #4817
It's too soon to do so. We haven't even converted all the core rules yet. We can reevaluate for 3.0.0.

[2015-12-27 16:41] #4817 closed

[2015-12-27 16:41] nzakas commented on #3853
OK, thanks.

[2015-12-27 16:41] #3853 closed

[2015-12-27 16:47] nzakas commented on #1616
We close issues that we don't plan on doing. If something has been open for a year, that means it hasn't been a priority and the chances it will become a priority are slim. I'd rather have people focused on the issues we need to get done, and there's no better way to indicate that then to close the ones we don't anticipate being done.

And people do comment on closed issues fairly frequently in ES

[2015-12-27 16:49] #4785 closed

[2015-12-27 17:01] nzakas commented on #4809
Sounds good.

[2015-12-27 17:10] #4370 closed

[2015-12-27 18:37] ljharb commented on #1616
Closing for now, then.

[2015-12-27 18:37] #1616 closed

[2015-12-27 18:59] evilebottnawi commented on #4376
@gyandeeps
1. Modify rule `brace-style` for long conditions in parenthesis. Example (parenthesis on line with end condition and parenthesis on new line after all condition).
Also example:
[code]
[code]
I work in a small team and we use eslint for lint our code. Some team members adhere to the style of the first, the second adhere to the style of the second, it brings a different style of code. Thi

[2015-12-27 19:32] platinumazure commented on #4818
Okay, maybe I'm doing an XY problem. Let me lay it out...

Here's a sample microtemplate:

[code]

The `<%= name %>` section is an interpolation and requires an expression (NOT a statement). I need to transform that into something like `print( name );`, where `print` is a global I will predeclare.

To be honest, whether I choose to output that interpolation as an expression or as an actual stateme

[2015-12-27 21:21] machineghost commented on #1238
This seems like a classic "philosophical purity" vs. "trying to get work done" debate.  For what it's worth, I'd like to put in a vote for taking Gulp's lead and prioritizing practicality over purity, but it's your library and I know all too well how important ideological lines in the sand are to us programmers ;-)

However, there is a middle ground: you could at least break purity enough to *chec

[2015-12-27 21:23] machineghost commented on #1238
P.S. ESlint is awesome, and has already saved me many multiples of the time I spent Googling this problem.  Thanks for writing it!

[2015-12-28 00:09] gyandeeps commented on #3488
Lets finish the convo so that whoever works on this has a clear idea. We intially proposed `allow` option but then the convo moved into a different direction where the proposal was to create an option which would only check for variable declarations.
So what is the final conclusion here?

[2015-12-28 01:49] youngwind opened #4821 "one possible solution for "error React is defined but never used no-ununsed-vars""
I meat the same problem as https://github.com/eslint/eslint/issues/1867 ,
and found one possible solution for it in eslint's official website.
But the issue is closed,so I new an issue.

[code]

so all we need to do is
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29428006-one-possible-solution-for-error-react-is-defined-but

[2015-12-28 02:35] mysticatea commented on #4821
Thank you for this issue.

I guess `eslint-plugin-react` helps you: https://www.npmjs.com/package/eslint-plugin-react
[`jsx-uses-react`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-react.md) rule marks the `React` variable as used at JSX tags.

[2015-12-28 02:45] youngwind commented on #4821
@mysticatea thanks!!

[2015-12-28 03:44] ilyavolodin commented on #4821
As @mysticatea noted eslint-plugin-react will solve this issue for you. Closing, as this is working as expected.

[2015-12-28 03:44] #4821 closed

[2015-12-28 03:54] btmills commented on #4697
I can, but I have no idea when I'll have time. Anyone should feel free to pick this up.

[2015-12-28 03:58] kevinoid opened #4822 "Error: Cannot read config package for shareable config using global eslint"
Running the following steps, which currently installs ESLint v1.10.3, results in the following error:

[code]

If the last command is replaced with `./node_modules/.bin/eslint index.js` the command completes without error.  The error appears to result from `"extends": "algolia"` being translated to `require("eslint-config-algolia")` which fails when run from a global `eslint` installation because

[2015-12-28 04:53] mathieumg commented on #4370
I was thinking of looking into this in January, but thanks for handling it @cschuller ! I look forward to use the option. :)

[2015-12-28 12:55] mysticatea commented on #4822
Thank you for this issue.

Related issues: #4529, #3293, #1238

[eslint-cli](https://www.npmjs.com/package/eslint-cli) might help you.

[2015-12-28 13:42] tintoverano opened #4823 "no-native-reassign exception is ignored in .eslintrc yaml"
hi,

I'm trying to set up an exception for this rule: http://eslint.org/docs/rules/no-native-reassign.html as

[code]

but it is being ignored: ![image](https://cloud.githubusercontent.com/assets/8960294/12019453/ac0f3c3a-ad70-11e5-8e8a-ce8dd84b2a50.png)

changing ````2```` to ````1```` has the expected effect

is it the yaml format I'm using or could be something else?

thanks for the help!!

<bo

[2015-12-28 13:45] tintoverano commented on #4823
eslint is  ````v1.10.3````

[2015-12-28 15:39] ilyavolodin commented on #4823
Can you provide a snippet of the code that causes this error?

[2015-12-28 16:15] nzakas commented on #4376
I don't think it makes sense to modify brace-style for this. The braces should be fine so long as they appear in the correct location relative to the condition. It sounds like you're proposing a new rule. Are you willing to submit a PR for this?

[2015-12-28 16:20] nzakas commented on #4818
As I said, this is a use case we don't support.

[2015-12-28 16:24] nzakas commented on #3488
The final conclusion was to add an option to only check declarations (variable, function, class)

[2015-12-28 16:41] nzakas commented on #4822
This is a known limitation. If you are using a globally installed ESLint, your shareable config must also be globally installed.

[2015-12-28 16:41] #4822 closed

[2015-12-28 16:44] #4800 closed

[2015-12-28 16:47] tintoverano commented on #4823
@ilyavolodin

it is a sample app part from meteorjs, please find it here:

[code]

[2015-12-28 16:55] gyandeeps commented on #4823
Are you using `meteor` under `env` section?
If yes, then `App` is a global defined by Globals library: https://github.com/sindresorhus/globals/blob/master/globals.json#L1083

Thats why the rule is showing errors for this. So the its behaving correctly.

[2015-12-28 17:10] tintoverano commented on #4823
@gyandeeps

thanks, below it works, I got this wrong by taking "Object" literally from the error msg

[code]

[2015-12-28 17:10] #4823 closed

[2015-12-28 17:30] michaelficarra commented on #4818
@platinumazure You're not alone here. Many of eslint's problems come from this design decision, most notably the requirement that rules do not overlap so that their configurations don't conflict. If I had built my own linter, I would have gone with this centralised "repository" of configuration information that any rule could read. Then the configuration is tied to high-level/language concepts ins

[2015-12-28 17:35] evilebottnawi commented on #4376
@nzakas Yes

[2015-12-28 17:43] kevinoid commented on #4822
Thanks @mysticatea, that is very helpful indeed.

@nzakas, if this is a known issue, is it documented anywhere?  Perhaps I overlooked it.  It seems to be affecting a lot of people and certainly took a while for me to figure out.  Would you consider adding an explanation to the error message which is printed when require fails so users are at least pointed in the right direction?

[2015-12-28 18:38] #1086 closed

[2015-12-28 18:46] gyandeeps commented on #3358
@keithamus Are you still interested in this rule and/or working on this rule?

[2015-12-28 20:08] gyandeeps commented on #3056
I am planning to work on this. Any recommendation on how the option would be configured?

**Option 1**
Define preferences for the standard types and they will have defaults.
[code]

**Option 2**
Set it to `true` to make it start with capital letter
[code]

[2015-12-28 20:52] mysticatea commented on #4376
:+1:  I like this idea.

[2015-12-28 22:02] gyandeeps commented on #3837
@nzakas Should we just make the default behavior to flag args inside catch statements and then also add `exceptionsIgnorePattern` option to the rule. We can release this with 2.0 with under the breaking section.

[2015-12-28 22:29] gyandeeps commented on #4104
Do we still plan to remove error messages from rule docs?

[2015-12-28 22:30] gyandeeps commented on #4127
@eslint/eslint-team Thoughts?
I am guessing there is not so much interest in this enhancement as there has been no activity in months.

[2015-12-28 22:42] gyandeeps commented on #3865
Closing this in favor of https://github.com/eslint/eslint/issues/4104
@IanVS Feel free to reopen if this is still valid.

[2015-12-28 22:42] #3865 closed

[2015-12-28 22:48] gyandeeps commented on #4515
FWIW I think it puts a lot of burden on us to maintain and up our release frequency. So I am :-1: on this for now until we have a solid argument on doing this.

[2015-12-28 22:49] gyandeeps commented on #4512
@ilyavolodin Are we planning on making these changes?
@brettz9 Are you working on this?

[2015-12-28 22:53] gyandeeps commented on #4369
@SamuelBolduc Do you want to send a PR for this rule?

[2015-12-28 23:07] gyandeeps commented on #3395
Confirmed it works with node `>=4.2.4`.

[2015-12-28 23:08] #3395 closed

[2015-12-28 23:37] hitsthings commented on #4127
I watched this recently because I'd like it implemented. Dunno if anyone can see that "activity" from me. :)

If you're referring to interest from the devs themselves, ignore me.

[2015-12-29 00:18] brettz9 commented on #4512
My PR #4555 was rejected as being too drastic (I put everything in a table so that it could potentially be sorted). I could make a PR which doesn't, but I really thought a table would be most convenient.

[2015-12-29 04:00] fritx opened #4826 "Rule no-console ignores `window.console`"
https://github.com/eslint/eslint/blob/master/lib%2Frules%2Fno-console.js

[code]

How about adding this support?
The fact is that some of my partners prefer to write `window.console.log`.
Or, I have to add a rule for myself?
~~Btw, I find no-alert is simillar:~~
Btw, I just found no-alert seems to be nicer: https://github.com/eslint/eslint/blob/master/lib%2Frules%2Fno-alert.js

Cheers

<bountysour

[2015-12-29 08:34] BYK commented on #4515
I also think this is sort of overkill, especially for a library. Unless this happens again, I think we don't need shrinkwrap. That said it is always a good idea to keep required version of dependencies up to date.

[2015-12-29 13:44] radek-holy opened #4828 "Can't pass dot/hidden files on command line"
Hello,
since JavaScript config files are supported now, can you please consider adding a (at least optional) way to ask `eslint` to lint also hidden/dot files (e.g. `.eslintrc.js` or `.eslintrc.json` with the JSON plugin) if a name to a directory is passed (e.g. `eslint .`)?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29459770-op

[2015-12-29 13:57] SpadeAceman commented on #4808
Lower complexity is of course better, but trying to determine a sensible, one-size-fits-all default is tricky.

If we're going for an "only stop me if I'm approaching insanity" sort of default, then it sounds like `20` could indeed work, based on the recommendations and anecdotal evidence I've assembled below. (Myself, I'd lean toward defaulting to `10` or `15`.)

* https://msdn.microsoft.com/en-u

[2015-12-29 13:59] IanVS commented on #4808
Awesome research, @SpadeAceman!  @nzakas, what is your preference here?

[2015-12-29 14:01] radek-holy opened #4829 "Run plugin on a file without an extension"
Hello, I have recently found `eslint-plugin-json`. I'd like to run it on some JSON files that do not have a file extension. If I run `eslint --plugin json --debug .jslintrc` with ESLint 1.10.3, I get
[code]
IIUIC, ESLint runs JavaScript checks on the file and thus it fails. This is understandable since there is no way to tell it what is the language of the file. Would it be possible to support my

[2015-12-29 14:56] SpadeAceman commented on #4680
It sounds like the main request here is for a separate rule to allow or prevent multiple separate `var`/`let`/`const` statements in sequence. (`combine-seq-var-declarations` perhaps?)

This rule would enforce or prevent a single `var`/`let`/`const` statement for sequential variable declarations, regardless of the location of those `var`/`let`/`const` statements. (In other words, this seems like a

[2015-12-29 15:33] michaelficarra commented on #4826
How do you suggest we determine that `window` is the global object?

[2015-12-29 15:36] #4660 closed

[2015-12-29 15:55] michaelficarra commented on #4808
Wow, thanks for the research @SpadeAceman. I agree with your conclusion.

[2015-12-29 16:27] #3553 closed

[2015-12-29 16:30] nzakas commented on #3056
I think option 1 is right, maybe called preferType?

[2015-12-29 16:31] nzakas commented on #4376
Okay, let's give it a try.

[2015-12-29 16:35] nzakas commented on #3837
I don't see a reason to introduce a breaking change for this. It flags things inside `catch` it just didn't flag the exception because it's required.

[2015-12-29 16:36] nzakas commented on #4369
We still need a champion from the team for this rule before moving forward.

[2015-12-29 16:38] nzakas commented on #4127
@hitsthings what is it you want?

[2015-12-29 16:39] nzakas commented on #4515
Okay, not enough support.

[2015-12-29 16:39] #4515 closed

[2015-12-29 16:41] nzakas commented on #4828
Are you asking to include all dot files or just .eslintrc.js?

Note you can pass .eslintrc.js directly on the command line already.

[2015-12-29 16:44] nzakas commented on #4829
This isn't possible right now. To make it possible, we'd have to dramatically change how processors work, and unfortunately, we don't have enough people to prioritize this work.

If you or anyone else wants to investigate, propose, and submit a PR, we can consider it.

[2015-12-29 16:47] nzakas commented on #4680
It can't be a separate rule because it will clash with `one-var`.

[2015-12-29 16:51] nzakas commented on #4808
Sounds like 20 is a good upper bound as the default.

[2015-12-29 17:09] radek-holy commented on #4828
I'm asking to include all of them. At least optionally.

[2015-12-29 17:46] michaelficarra commented on #4828
Can't you just pass `**/.*` explicitly? It's even easier than an option.

[2015-12-29 17:54] keithamus commented on #3358
Hey @gyandeeps yeah, I'll make a PR soon

[2015-12-29 17:56] gyandeeps commented on #3358
Sounds good. Thanks.

[2015-12-29 19:05] hitsthings commented on #4127
Specifically `{ anonymous: "don't care|either|leave it as is and don't change it if I use --fix", named: "never" }` for space-before-func-paren is what I'd like to configure.

The context is we've found that all devs in our codebase save one were omitting the space for named functions and so 95% of our named functions omitted it. But for anonymous functions it was more like one-third of them had a

[2015-12-29 19:38] #3527 closed

[2015-12-29 19:43] alexindigo commented on #3352
@BYK and continue our "comma-first" saga :)
this use case needs some love as well:

[code]

Thank you.

[2015-12-29 20:05] radek-holy commented on #4828
Yes, sure, I can. This is just a request for a nice to have feature. I thought that because ESLint started to support JavaScript configs, potentially every user who uses `.eslintrc.js` would like to lint the config as well and thus every such user would welcome if ESLint did that automatically. And since I thought that it would sound questionable if ESLint would make just one exception, I thought

[2015-12-29 20:16] gyandeeps commented on #3056
Here is the default I am thinking of

[code]

Please suggests corrections for the above.

Should we start checking types using the defaults for this rule or would this be a opt-in feature where only the option specified by the user would be checked?

CC @nzakas @eslint/eslint-team

[2015-12-29 21:12] mysticatea commented on #3056
I like lower cases for types which are get by typeof operator -- boolean, number, string, object, function, symbol, and undefined.

[2015-12-29 21:16] ilyavolodin commented on #4127
What's stopping you from just turning off those rules if you don't want to enforce them?

[2015-12-29 21:21] ilyavolodin commented on #3056
@gyandeeps Why not just pass in an array of they values as you'd like them to appear in JSDoc? Something like this:
```[2, { preferType: ["string", "object", "Number", "Function", "boolean", "Int", "Array"]} ]```

[2015-12-29 21:43] hitsthings commented on #4127
I want to enforce it for named functions and not anonymous ones. Can I already do that somehow?

[2015-12-30 02:34] fritx commented on #4826
Thanks @michaelficarra
I'm new to eslint, but it seems the rule no-alert is okay.
Currently, I wrote an internal rule and it works in our project.
Not sure is it right :sweat_smile:

[code]

[2015-12-30 02:45] michaelficarra commented on #4826
Make sure you copy `isGlobalThisReferenceOrGlobalWindow`.

[2015-12-30 04:38] happydogcat commented on #4482
sure, thanks for looking.

      From: Nicholas C. Zakas <notifications@github.com>
 To: eslint/eslint <eslint@noreply.github.com>
Cc: happydogcat <happydogcat@yahoo.com>
 Sent: Tuesday, December 22, 2015 7:37 AM
 Subject: Re: [eslint] command line formatter option is broken in 1.9.0 (#4482)

Unfortunately, I'm still unable to reproduce, so at this point I'm closing the issue.—
Reply to this email

[2015-12-30 07:01] XadillaX opened #4830 ""buff" is defined but never used (no-unused-vars)"
[code]

This is my code and ESlint tell this error:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29477093-buff-is-defined-but-never-used-no-unused-vars?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plu

[2015-12-30 07:04] SpadeAceman opened #4831 "no-use-before-define doesn't catch variable use before definition"
While refactoring some code, I got bitten by an issue I thought I'd told ESLint to catch for me.

[code]
Output:
[code]

I've reviewed #4280, which I thought was intended to catch the errors on lines 6 and 7 as well, but it doesn't appear to have done so.

what | value
---- | ----
version | v1.10.3
rule | `no-use-before-define`
code | see above
expected | all three errors should be caught
actual |

[2015-12-30 07:20] SpadeAceman commented on #4831
Whoops, after doing some further digging I found a mention of this being resolved in `v2.0.0-alpha-1` in #4729.

[2015-12-30 09:34] fritx commented on #4826
Thanks. I will try my best soon to comprehend the logic in no-alert ;)

[2015-12-30 10:37] btmills commented on #4830
This is working as expected. From the [docs](http://eslint.org/docs/rules/no-unused-vars#rule-details):

[2015-12-30 10:37] #4830 closed

[2015-12-30 12:51] nre opened #4832 "v2.0.0-alpha-2: Support for ES3/5 'modules' (implicit strict mode) is lost"
`ecmaFeatures.modules = true` in v1.10.3 supports ES3/5 'modules' as well as ES6 modules, whereas `parserOptions.sourceType = "module"` in v2.0.0-alpha-2 only supports ES6 modules (because it silently overrides `parserOptions.ecmaVersion`: https://github.com/eslint/eslint/blob/master/lib/eslint.js#L418).

An ES3/5 'module' may be *implicitly* in strict mode. For example, this file:
[code]
is impli

[2015-12-30 14:10] phaistonian commented on #4485
FYI, on `babel-eslint` `4.1.6`  and `eslint@1.10.3` and I am still seeing this.

[2015-12-30 15:28] ilyavolodin commented on #4831
That's correct. Those issues should be fixed in v2.0.0-alpha-1. Closing, feel free to reopen if the issue is still not fixed in alpha-1.

[2015-12-30 15:28] #4831 closed

[2015-12-30 18:28] #4814 closed

[2015-12-30 19:52] platinumazure commented on #4818
Which part is unsupported, exactly? Is anyone willing to help me find other solutions here?

[2015-12-30 21:30] nre commented on #4832
I had assumed that all JS bundlers started each module with `"use strict"` by default, but apparently some people are still running/writing non-strict-mode JS!

Here is a list of tools to show that I'm not the only one who writes their ES3/5 'modules' with implicit strict mode, for browsers as well as Node:
- https://www.npmjs.com/package/strictify
- https://www.npmjs.com/package/esformatter-use-s

[2015-12-30 22:02] ilyavolodin commented on #4818
@platinumazure I think what you are trying to do is out of the scope for processors. The idea behind the processors is to extract lintable code from the file and pass it through the engine. What you are trying to do is generate code to be passed through the engine. I really don't think that's a good idea.
If that's something you a set on doing, I would suggest creating another package that can tak

[2015-12-31 03:55] IanVS opened #4833 "`consistent-this` has no default alias"
As a part of https://github.com/eslint/eslint/issues/4809, I am checking that rules have default configurations, and found that [consistent-this](http://eslint.org/docs/rules/consistent-this) does not.  In `eslint:recommended`, we use `"that"`, but in the rule's docs the examples have `"self"`.  I suggest setting the default to `"that"`, in order to cause the least disruption for anyone who may ha

[2015-12-31 04:01] IanVS opened #4834 "`func-style` has no default"
As part of https://github.com/eslint/eslint/issues/4809, I'm checking that we have sane defaults in our rules.  [func-style](http://eslint.org/docs/rules/func-style) has no default.

In `eslint:recommended`, we use `[0, "declaration"]`.  Any objections to making this the official default?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issu

[2015-12-31 04:19] IanVS opened #4835 "`operator-assignment` has no default"
[operator-assignment](http://eslint.org/docs/rules/operator-assignment) does nothing if an option is not supplied.  The config in `eslint:recommended` is `[0, "always"]`, so I propose to make this an official default for the rule.

(see https://github.com/eslint/eslint/issues/4809.)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/294

[2015-12-31 04:28] IanVS commented on #4809
I notice that `no-multiple-empty-lines` has a config of `[0, {"max": 2}]` in `eslint.json`, but the default for the rule does not allow more than 1 empty line.  Anyone have a problem with removing this conflicting default from `eslint.json`?  It will only affect people who were extending from `eslint:recommended`, and turned the rule on without an options object.

As a seperate note (mostly to mys

[2015-12-31 16:57] nzakas commented on #4832
Using ES6 modules as a proxy to say "we have implicit strict mode" is not a good solution because modules are not simply implicit strict mode, they imply a lot of different things.

I'm very unfamiliar with this use case. Are you saying some custom module systems insert strict mode when compiling?

[2015-12-31 17:02] #4742 closed

[2015-12-31 17:03] #4808 closed

[2015-12-31 17:05] michaelficarra commented on #4832
@nzakas The only things I can think of:

0. Strict
0. Allow import/export statements
0. Top level declarations are not globals
0. `async` is a keyword

[2015-12-31 17:08] nzakas commented on #4832
`await` is reserved as well, correct?

[2015-12-31 18:06] timmolendijk opened #4838 "`prefer-const` should consider block scope"
The documentation for `prefer-const` mentions the following pattern as a problem:

[code]

But using `const` here would **not work** as desired:
[code]

(ESLint v1.10.3 with `"prefer-const": 1`)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29508397-prefer-const-should-consider-block-scope?utm_campaign=plugin&utm_content=tracker%2F

[2015-12-31 19:11] michaelficarra commented on #4832
Oops, that's what I meant. Not `async`.

[2015-12-31 19:13] michaelficarra commented on #4838
You are incorrect, const should work fine in correct implementations. Please search for duplicates before opening an issue next time.

[2015-12-31 19:24] timmolendijk commented on #4838
Hmm, yes you are right. I tested it without `'use strict';` - I guess that's where I went wrong.

Btw, I did search for a similar issue before posting but couldn't find one! Sorry anyway. And thanks.

[2015-12-31 19:24] #4838 closed

[2015-12-31 19:46] michaelficarra commented on #4838
Yeah, GitHub search is bad, but I figured something would have shown up given the number of times this has come up. A thousand curses upon the V8 developers for making us have to deal with this nonsense.

[2015-12-31 20:20] nre commented on #4832
The use case is laziness. `"use strict"` in every module seems redundant when I only ever read, write and run strict-mode JS. And the job of build tools is to do these repetitive tasks!

I understand now that the old `ecmaFeatures.modules` option referred to ES6 modules. But the docs said 'enable modules and global strict mode' and I took this to mean what I was already doing: CommonJS modules and

[2016-01-01 17:39] nzakas commented on #4832
It is possible to add an option, but it's a nontrivial amount of work as it would need to change Espree, escope, and ESLint together.

Do you have other options on your end?

[2016-01-01 17:42] nzakas commented on #3056
Anything that isn't an object should be lowercase, so "boolean" and "int"

"Object" and "Function" should be uppercase because they are objects.

@ilyavolodin what does an array of strings mean in this case?

[2016-01-01 17:43] nzakas commented on #4826
@eslint/eslint-team thoughts on this?

[2016-01-01 17:44] nzakas commented on #4809
Fine by me. Can you add this info to the migrating to 2.0.0 doc?

[2016-01-01 17:46] nzakas commented on #4818
Yeah, agree with @ilyavolodin's assessment. Code generation is outside the scope of what processors do.

[2016-01-01 17:46] #4818 closed

[2016-01-01 19:44] rpatil26 commented on #4294
I have decided to give it a try. Give me few hours.

[2016-01-01 20:19] nre commented on #4832
My options are:

1. Use v2 and get used to having `"use strict";` in my modules. (Not a big deal.)
2. Use v2 and have my ES3/5 modules linted as ES6. (Not great, but I know the difference between ES3/5 and ES6.)
3. Stay on v1 until I start using ES6. (I'm waiting for good browser support first.)

JSHint has a closed issue for `strict: implied` (jshint/jshint#924). You can see that there's moderate

[2016-01-01 21:06] rpatil26 commented on #4294
Almost done. I am not going to support it in global option as it doesn't makes sense. It ("ignore") will only be supported using overrides.  Hope that's fine.

[2016-01-01 23:01] ilyavolodin commented on #3056
Array of string the way they should be seen in JSDoc comments. If array contains "Object" that means anytime "object" is found, it should warn. Simpler then duplicating every word i.e. `{ "object": "Object" }`

[2016-01-01 23:48] dcsan opened #4842 "context.getSourceCode is not a function"
I'm using eslint within atom, and getting the following error on opening any js files.

Error: Error while loading rule 'react/prop-types': context.getSourceCode is not a function

its not an error specific to that rule, it will fail on any rule.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29525069-context-getsourcecode-i

[2016-01-02 00:30] tony-kerz opened #4843 "question: flag unused imports?"
i'm looking for a config to flag unused imports.

e.g. if i have a file like:

[code]

i would want to see the fact that i'm importing `_` and not using it flagged.

here is my current [`.eslintrc.js` file](https://github.com/tony-kerz/redux-scratch/blob/d987433f1da4929d86a9764c7042f0c0c67be953/.eslintrc.js).

i'm new to eslint, so easily possible i'm just being a dunce.

any guidance appreciated!

[2016-01-02 00:34] gyandeeps commented on #4842
What version of eslint are you using?

[2016-01-02 00:45] gyandeeps commented on #4843
`no-unused-vars` rule should catch this. I tried it using eslint online [demo](http://eslint.org/demo/) and it works fine.
Now I do see that you are using `babel-eslint` parser so I am not sure if thats creating an issue or not.

[2016-01-02 01:27] mysticatea commented on #4826
I wrote a logic to catch a specified global variable for no-eval.
I can extract the logic to AST utils, then use it in every rule to prevent a use of specified global variables.

[2016-01-02 03:22] dcsan commented on #4842
i updated eslint and included some packages and it seems to have fixed the problem.

[2016-01-02 03:22] #4842 closed

[2016-01-02 10:57] rpatil26 commented on #4011
@indexzero - Are you looking at this? If not, I was thinking to give it a try. The option name I am thinking of is "allowInvocation". The options have been camelCase and let's keep it consistent with that practice.

[2016-01-02 12:13] rpatil26 commented on #4011
@indexzero - One more question. With this new option true, would following be considered a problem? If so, then it would be tricky.
[code]

[2016-01-02 14:46] mgenware commented on #1797
@fourq try this:
[code]
[More info](http://eslint.org/docs/rules/indent.html)

[2016-01-02 15:41] nzakas commented on #4011
I'd shorten it to `allowCall` and would not allow that code.

[2016-01-02 15:48] nzakas commented on #4843
Yeah, `no-unused-vars: 2` is already set in your config, so that should pick up unused imports.

If you're not seeing an error, then try using the default parser instead of `babel-eslint`.

[2016-01-02 15:48] #4843 closed

[2016-01-02 15:51] xjamundx commented on #4826
Ha I always use this as a workaround instead of an inline comment when I want `console.log`. Probably a good idea to add it if possible.

[2016-01-02 15:54] rpatil26 commented on #4011
Ok,  I'll name it `allowCall`.

Let me explore it more to allow ```require('module')('nested'),``` but not ```require('module').someFn('param')```

[2016-01-02 15:55] nzakas commented on #3056
You're talking about a whitelist, which I don't believe is feasible. There's no way users will constantly update this list for every type they expect to see (which includes custom classes). The blacklist approach is more reasonable for this use case.

[2016-01-02 16:03] nzakas commented on #4832
Unfortunately that's not a feasible solution. You need to know that it's strict mode during the parsing phase to catch strict mode errors, just tricking escope doesn't result in catching these errors.

If someone wants to take a stab at this, I envision the steps to be:

1. Add ecmaFeatures.impliedStrict to Espree
1. Add a similar flag to escope
1. Update ESLint to use them and update docs

[2016-01-02 17:08] lencioni opened #4845 "Use single quotes in no-undef context.report message"
While working on a different project that consumes the output of ESLint
and some plugins, [we noticed that the quote styles emitted by the
no-undef rule was different than the quote styles emitted by some of the
rules in our other plugins](https://github.com/trotzig/import-js/issues/85#issuecomment-168332322). This inconsistency led to a small bug in
our plugin, so I wanted to smooth things out a

[2016-01-02 17:09] pzatrick opened #4846 "no warning/error for unused string literals inside functions with "no-unused-expressions" rule"
First, thanks for creating such a useful tool and apologies if this issue has been raised before.

If I'm not mistaken, the following should produce an error or warning if the "no-unused-expressions" rule is enabled:

[code]

Yet for me there is no output from eslint. However, the following does produce the correct warning on line 4:

[code]

This is my eslintrc.js:

[code]

My environment:
- Mac

[2016-01-02 17:20] lencioni commented on #4845
v1.10.3

`.eslintrc.js`:

[code]

`index.js`:

[code]

[code]

[code]

[code]

[2016-01-02 17:50] tony-kerz commented on #4843
thanks guys.

fyi, it turns out the issue was that eslint wasn't looking at `.jsx` files cuz of operator error.

i was able to get expected behavior with the following two fixes:

1. in `package.json`, convert:

[code]
to:
[code]
1. in `webpack.config.js`, convert:

[code]
to:
[code]
regards,
tony.

[2016-01-02 18:59] platinumazure commented on #4846
Does the presence or absence of `"use strict;"` make a difference? Is your first example flagged properly if the directive is removed?

[2016-01-02 19:07] pzatrick commented on #4846
With that change eslint only complains about the lack of "use strict":

[code]

[2016-01-02 19:12] pzatrick commented on #4846
Also, it works as expected for other kinds of expressions:

[code]

eslint says:

[code]

[2016-01-02 19:15] pzatrick commented on #4846
And removing the "strict" rule has no effect on this apparent bug.

[code]

eslint says: nothing

[2016-01-02 20:14] zertosh opened #4848 "Add atomtest from globals"
`atomtest` was added in https://github.com/sindresorhus/globals/pull/69. These are the globals added by [Atom](https://atom.io/) when you use the stock test runner via `apm test`.

(PR coming shortly)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29536894-add-atomtest-from-globals?utm_campaign=plugin&utm_content=tracker%2F282608&ut

[2016-01-02 22:06] pzatrick commented on #4846
Ok, seems like eslint considers any unused string literal to be a possible directive like "use strict". I suppose that's okay since expressions that are just string literals don't occur very much outside of the strict mode directive.

[2016-01-02 22:06] #4846 closed

[2016-01-02 22:22] #4848 closed

[2016-01-02 23:51] jaydenseric commented on #3056
@ilyavolodin I like the simple array idea. @nzakas It could still be a blacklist, by doing a [case-insensitive lookup](http://stackoverflow.com/questions/24718349/how-do-i-make-array-indexof-case-insensitive). If found, the result is then compared to the test value case-sensitive.

[2016-01-03 00:18] mhirschmann1 opened #4850 "Warning: Task "eslint:target" failed. Aborted due to warnings"
OS: Windows 10
Using Adobe Brackets with git bash plugin

**What version are you using?**

"eslint": "~1.8.0"

**What did you do?**

From command prompt in windows 10 (also tried in git bash), ran "grunt" to lint js

**What happened?**

Eslint seems to run and lint all my js files but then at the very end, I get the warning and the abort message

**What did you expect to happen?**
I expected eslin

[2016-01-03 00:27] gyandeeps commented on #4850
Can you please share what kind of messages are you getting at the end?
If you are getting warnings that means there are some issues with code, is that not true (as in the code is correct with no issues)?

[2016-01-03 00:34] mhirschmann1 commented on #4850
@gyandeeps thanks for the reply. When you ask about "what kind of messages" I am getting at the end, are you referring to messages in the terminal after running grunt to lint my js files?  If so, I attached a text file with the command prompt output which includes the exact warning and abort messages.

For your convenience, I've attached it again to this response.  Let me know if that answers your

[2016-01-03 00:36] gyandeeps commented on #4850
based on that output, every thing looks fine too me. Eslint is flagging issues in your code based on the eslint config setup. What seems to be odd for you here?

[2016-01-03 00:44] mhirschmann1 commented on #4850
What seems odd is that I should get the warning and then the subsequent abort message at the very end of the output i.e. something went wrong and eslint aborted its normal operations.

Also, if I remove (or do not included at all) the rules that use array literal syntax, the warning and abort messages go away and I get a clean output, which is what I would expect to see.

Put another way, are you

[2016-01-03 03:17] ilyavolodin commented on #4850
@mhirschmann1 The reason why you get a warning is because you are running ESLint through Grunt. When ESLint finds errors in your codebase, it will exit with code 1. Which means program terminated with an error. Grunt see that as execution failed and prints out a message saying that task failed. That's normal, since the task did fail (you still have errors in your code). In short, error message is

[2016-01-03 03:19] ilyavolodin commented on #3056
@jaydenseric Right, that's exactly what I mean. Do case insensitive lookup and then fail if the case-sensitive lookup fails.

[2016-01-03 03:22] mhirschmann1 commented on #4850
@ilyavolodin thanks so much for your reply and clarifying this for me.  I was thinking that i had some silly syntax error in my rules config or elsewhere.

I really love eslint and I am introducing it to my dev team shortly so I needed to get an idea why these messages were appearing because I know that question would be asked.  Now I have an answer :)

Thanks again to you and @gyandeeps for the h

[2016-01-03 03:22] #4850 closed

[2016-01-03 03:24] edj-boston opened #4851 "Outdated Optionator dep brings in deprecated version of lodash"
The Optionator 0.8.0 dep brings in deprecated version of lodash (>3). This warning is displayed during `npm install`. Updating to 0.8.1 should resolve it. I'll submit a PR...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29545812-outdated-optionator-dep-brings-in-deprecated-version-of-lodash?utm_campaign=plugin&utm_content=tracker%

[2016-01-03 04:19] michaelficarra commented on #4846
It's not just eslint, the language defines them as directives.

[2016-01-03 07:21] gyandeeps commented on #4851
Optionator dependency is setup in this way `^0.8.0`, so if you run `npm install ` then it will install `0.8.1` version. So it should not be an issue.

[2016-01-03 08:13] abhijeetNmishra commented on #4052
:+1:

[2016-01-03 10:04] radek-holy opened #4853 "Read file list from a file"
I just realized that there is no cross-platform way to use environment variables in NPM scripts. So, I guess that the only way to have a single source of file patterns is to store them in a file. Can you please consider adding a support to read the patterns from files? I would prefer a simple text file over e.g. a JSON file.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2016-01-03 14:26] michaelficarra commented on #4845
While it would be good to have consistency here, your motivation worries me. The pretty formatter is meant to be consumed by humans. If a program you are writing is consuming the output of eslint, you should be using a formatter that is creating output that is meant to be consumed in this way.

[2016-01-03 15:30] #4011 closed

[2016-01-03 16:26] nzakas commented on #4853
Most build tools (Gulp, Grunt, etc.,) have utilities for building up lists of files. I'd suggest using such a tool, as this is beyond the scope of ESLint's responsibilities.

[2016-01-03 16:26] #4853 closed

[2016-01-03 16:29] nzakas commented on #3056
Not sure I follow, can you give an example?

[2016-01-03 17:49] lencioni commented on #4845
Sorry, I should have specified. We are actually using the [compact formatter](https://github.com/trotzig/import-js/blob/d08920a4/lib/import_js/importer.rb#L106-L108). I'm looking over [the formatters that are available](http://eslint.org/docs/user-guide/formatters/) and thinking that json or unix would perhaps be a little better for us, but wouldn't resolve this problem for us.

[2016-01-03 17:50] ilyavolodin commented on #3056
Given a jsDoc like this:
[code]
And a configuration like this:
[code]

The code can parse argument type from the param and do a case-insensitive lookup from the `preferType` array. It will get location 0, then it can do a case-sensitive comparison of the type to `preferType[0]` and if they are not the same, error out.

[2016-01-03 18:16] lencioni commented on #4845
I just noticed that the other rule we are consuming, no-unused-vars, also uses double quotes instead of single quotes, so I'll add another commit to this PR to change that.

[2016-01-03 22:44] FredyC commented on #3092
:+1: I would love to see option to have padded blocks at the beginning only as can be messy with longer condition, however end of block is usually just a closing bracket, nothing noisy in there.

[2016-01-03 22:47] janmarek commented on #3056
@ilyavolodin This configuration format looks good to me.

[2016-01-04 02:39] amccloud commented on #4344
@DmitrySoshnikov I ran into the same problem. How did you find out you needed to add `modules: true`?

[2016-01-04 03:22] mysticatea commented on #4845
I think ESLint rules are using double quotes consistently.

[2016-01-04 06:45] grawlinson commented on #3832
The following code causes this same bug while using ESLint v1.10.3.

[code]

My .eslintrc.json file:
[code]

[2016-01-04 06:51] rpatil26 commented on #3966
@nzakas and @willklein - Do you think this could be done through #3218 (no-restricted-properties) where object could be "" (or something) to specify global?

[2016-01-04 07:58] willklein commented on #3218
@gyandeeps, thanks for prodding. I had trouble in my local setup testing things, though everything might just work as is. I've been busy since but would like to see if I can get a PR this week. :sweat_smile:

[2016-01-04 08:07] willklein commented on #3966
@rpatil26, my initial thought is I don't think we should overload that rule for this instance. I'll think this over some more. I guess you could configure `no-restricted-properties` as it will be implemented, from what I can gather. The tricky part is there are globals that you can call without the window "prefix," which makes me think a dedicated rule would make more sense.

Related to this, I ha

[2016-01-04 11:28] rpatil26 commented on #3966
Thanks @willklein. I think this is to restrict pure globals accessed without reference of document or window.

Let's not overload the rule if it doesn't make sense. Just thought to check.

[2016-01-04 13:40] jaydenseric commented on #3056
This might be a good guide for capitalization defaults: [*Google JavaScript Style Guide*, *JavaScript Types* section](https://google.github.io/styleguide/javascriptguide.xml?showone=JavaScript_Types#JavaScript_Types). In particular, look at the *Type Example* column in the table under *Types in JavaScript*.

[2016-01-04 13:46] indexzero commented on #4011
Great work @rpatil26.

[2016-01-04 14:12] janmarek commented on #3056
Number/String objects are very rare. I've personally never used any of them. Validation with exception for these types would be useless.

[2016-01-04 16:14] nzakas commented on #4845
@mysticatea he means inside strings, such as "Missing 'foo'". This is not covered by the rule.

Before we go any further on this, I'd like to see a breakdown of rules using double vs. single quotes to make sure single is actually the predominant one, otherwise we will just keep converting things back and forth. @lencioni can you do that?

[2016-01-04 16:18] nzakas commented on #4127
@hitsthings you can fix the spacing using `--fix` if that's your primary concern.

[2016-01-04 16:20] #4851 closed

[2016-01-04 16:25] nzakas commented on #3966
This rule should not check properties of `window`, as that's browser specific (and fairly obvious). That can be done with `no-restricted-properties` if necessary.

We can't use "" or something similar with `no-restricted-properties`  to block globals because we need to check global declarations through escope to pick up environment settings plus explicitly declared globals.

[2016-01-04 16:30] nzakas commented on #3056
@ilyavolodin I'm still having a hard time with this, and the automatic conversion to all lowercase seems a bit magical. I still think being able to say "if you see x then it should be y" is more extensible and explicit than the single array, and follows conventions we already use.

[2016-01-04 16:41] rpatil26 commented on #4011
Thanks @indexzero. Looking forward to more contributions.

[2016-01-04 16:44] nzakas commented on #4011
@rpatil26 be sure to claim your bounty for this issue.

[2016-01-04 18:43] alberto commented on #3815
@nzakas I tried to have a look at this, but it seems `espree` throws a fatal error even in `tolerant` mode.

I get: `Parsing error: Argument name clash`

[2016-01-04 18:53] SamuelBolduc commented on #4369
I have tried my hands at it but I'm completely new to eslint rule development... I don't feel comfortable enough yet to champion it myself

[2016-01-04 19:06] ilyavolodin commented on #3056
@nzakas I totally agree that it's more explicit, it's just that you need to repeat yourself a lot, and seems a bit redundant. But I'm fine either way.

[2016-01-04 19:20] nzakas commented on #4812
Thanks @michaelficarra @btmills and @ilyavolodin for pointing out that I misunderstood this issue. I was too quick to close it.

@satazor you're right, we should be able to tell the difference between a reference to the global `require` and a different one.

[2016-01-04 20:20] platinumazure commented on #4812
I could use some experience with escope. Anyone mind if I take this on this week?

[2016-01-04 22:02] tschaub opened #4854 "Rule valid-jsdoc fails with "Missing or invalid tag name" for name expression after @this"
With a comment like the one below, the `valid-jsdoc` rule (as of 1c87a9bddf0fb1e6fd6bf6b90a6a080828e8e6f6) is violated with "Missing or invalid tag name."

[code]

Instead, I would expect the rule to pass (this is a valid annotation by the [Closure Compiler syntax](https://developers.google.com/closure/compiler/docs/js-for-compiler?hl=en#tag-this) for `@this`).

This is ticketed as eslint/doctrine

[2016-01-04 23:35] lencioni commented on #4845
Sure, I'd be happy to! I'll probably dig into this tomorrow.

[2016-01-04 23:46] nzakas commented on #4854
Yeah, we can do that.

[2016-01-04 23:50] nzakas commented on #3815
Yeah, 3.0.0 currently doesn't have tolerant mode. I'm planning on adding it. If you want to take a look, try using proxyquire to stub out a response from Espree that has an `errors` an array and validate that `tolerant ` is set to true when `parse()` is called.

[2016-01-04 23:50] pwmckenna opened #4856 "Make `arrow-parens` fixable"
I would like to work on a PR to make the arrow-parens rule fixable. Are there known complications, or existing work that I should be aware of?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29588678-make-arrow-parens-fixable?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties vi

[2016-01-04 23:54] nzakas commented on #4856
Thanks for the interest. We aren't currently making rules fixable unless they are only changing whitespace (too much potential for creating problems).

[2016-01-04 23:54] #4856 closed

[2016-01-05 00:02] nzakas commented on #4369
@SamuelBolduc sorry, what I meant is we need someone from the ESLint team to champion this rule for inclusion. I'm not sure it makes sense as a core rule, so I'm looking for someone to step forward and say it does.

[2016-01-05 00:04] #4294 closed

[2016-01-05 00:04] nzakas commented on #4812
Go for it

[2016-01-05 00:09] strburst commented on #3652
:+1: Anecdotally, I ran into this exact issue just now, so I'd also love to have this.

(Incidentally, thanks @farin for your blog post on extending AirBnB's style guide; I found it helpful.)

[2016-01-05 03:16] colinmeinke commented on #4102
@gre did this get resolved?

[2016-01-05 03:59] grawlinson commented on #4696
I posted previously about [this](https://github.com/eslint/eslint/issues/3832#issuecomment-168596308) on a closed issue, not sure if anyone saw it.

[2016-01-05 10:43] cdevienne opened #4857 "Cannot use '?:' in a callback with no-arrow-condition, prefer-arrow-callback and no-extra-parens"
I have a few callbacks that only to a "x ? y : z".
If I enable both no-arrow-condition and prefer-arrow-callback, I cannot find a way to write these callbacks and make eslint happy about them.

The following snippet demonstrate the problem:

[code]

Which gives, with eslint v1.10.3:

[code]

Am I missing an alternative way to write such callbacks (without using "i && true || false") ?
Or can we co

[2016-01-05 11:07] mysticatea commented on #4857
Thank you for this issue.

Actually [no-arrow-condition](http://eslint.org/docs/2.0.0/rules/no-arrow-condition) rule is deprecated in `2.0.0`.
[no-constant-condition](http://eslint.org/docs/2.0.0/rules/no-constant-condition) rule is covering most of [no-arrow-condition](http://eslint.org/docs/2.0.0/rules/no-arrow-condition) rule. The rest (about the ternary operator) will be covered by [no-confusi

[2016-01-05 12:28] cdevienne commented on #4857
Thanks for the clarifications !

[2016-01-05 12:28] #4857 closed

[2016-01-05 13:37] jaapz opened #4858 "... operator in object destructuring is not supported"
When I have this code:
[code]
Which should destructure the object into the weekday local variable, and put the rest in the `rest` local variable, eslint complains with "Parsing error: Unexpected token ...".

Afaik this is valid ES6 so shouldn't this be supported?

`$ eslint -v` gives me "v1.10.1".

I don't think this is configuration related.

<bountysource-plugin>
---
Want to back this issue? **[

[2016-01-05 15:01] michaelficarra commented on #4858
This is not ES6. Please see the many duplicate issues.

[2016-01-05 15:53] jeremenichelli commented on #2409
Though that solves the npm error log, it's not recommendable since you might want to concat commands like linting and then bundling with browserify, and the second one will occur even if you have code to fix. To be honest it also bothers me the error logging in the console and I don't know a way to silent that, but forcing a `0` exiting code it's not a good idea.

[2016-01-05 16:48] ilyavolodin commented on #4858
Object rest/spread is not ES6, it's a stage two proposal. You can enable it by using `experimentalObjectRestSpread` property of the config file. For more information see [here](http://eslint.org/docs/user-guide/configuring#specifying-language-options)

[2016-01-05 16:48] #4858 closed

[2016-01-05 16:49] lencioni commented on #4845
I ran `ag context.report.*{{ -- lib/rules` after my commit that converts 2 rules to singles and got the following output. Although this isn't a perfect method, it seems close enough for our needs.

[code]

It looks like a bunch of rules don't use quotes, 2 use backticks (quote-props, no-arrow-condition), 3 use double quotes (no-dupe-class-members, no-empty-label, no-restricted-syntax), and 12 use

[2016-01-05 17:04] #3869 closed

[2016-01-05 17:04] #3878 closed

[2016-01-05 17:04] #4006 closed

[2016-01-05 17:04] #4585 closed

[2016-01-05 17:05] nzakas commented on #4696
@grawlinson generally closed issues get very little attention, always best to find an open one or create a new one.

[2016-01-05 17:06] tschaub opened #4859 "Confusing behavior with valid-jsdoc and requireReturn"
While looking into a way to make the `valid-jsdoc` rule work well with `@interface` (where functions may be required to have no body), I noticed some odd behavior with `requireReturn`.

Using ESLint @ 009a949ccbcd3c7ed9964a4583d7814a398ecfd4, the following is valid:
[code]

If I change `requireReturn` to `false`, I get an error:
[code]

So only if I don't require a `@return` tag, the function is c

[2016-01-05 17:07] nzakas commented on #3652
We still need a champion from the ESLint team for this enhancement.

[2016-01-05 17:12] gyandeeps commented on #1338
@mysticatea Can you confirm whether this issue got resolved with https://github.com/eslint/eslint/pull/4811?

[2016-01-05 17:19] nzakas commented on #4859
This is expected behavior. When `requireReturn` is false, it means that you should not have `@returns` in your JSDoc unless there is a `return` in the function. In your example, you get an error because you are including `@return` and there is no `return` in the function.

We could make the docs a bit clearer, but unless I'm missing something, I don't see a bug here.

[2016-01-05 17:21] nzakas commented on #4845
Nice work! Yeah, I'd love a PR to make things consistent. Keep in mind that some messages use string concatenation, so there are likely more outliers in the codebase.

[2016-01-05 17:29] lencioni commented on #4845
Cool. I'll update my PR shortly.

[2016-01-05 17:35] tschaub commented on #4859
It makes sense to me that if I have a `return` statement and no `@return` tag, `valid-jsdoc` would complain.

What is confusing to me is that to disable that behavior, I would set `requireReturn` to `true`.

[2016-01-05 17:40] tschaub commented on #4859
Or, put another way, if I want `valid-jsdoc` to fail when there is no `@return` tag for a function that has a `return` statement, it is confusing to me that I would set `requireReturn` to `false`.  The confusing part is that the rule becomes more strict when I say "don't require a return".

[2016-01-05 17:47] tschaub opened #4860 "Don't require a `@return` tag for `@interface`"
There is already a condition that disables the check for `@return` for `@class` and `@constructor`.  The [`@interface` tag](http://usejsdoc.org/tags-interface.html) may be applied to a constructor instead of one of these.

With ESLint @ 009a949ccbcd3c7ed9964a4583d7814a398ecfd4, the code below doesn't pass the `valid-jsdoc` rule:
[code]

If `@interface` is changed to `@constructor`, `valid-jsdoc` p

[2016-01-05 18:34] lencioni commented on #4845
@nzakas You were right, I did find more outliers. I have pushed an updated commit that changes all of the ones that I found by searching for `context.report` and verifying them manually.

[2016-01-05 21:03] grawlinson commented on #3832
Upon further investigation it seems that the problem was within my editor (Atom) entering spaces instead of tabs. Once I set `tabType: "hard"` in Atom's config and changed all spaces to tabs, my problems disappeared.

Feel free to close this issue.

[2016-01-05 21:03] grawlinson commented on #4696
Upon further investigation it seems that the problem was within my editor (Atom) entering spaces instead of tabs. Once I set `tabType: "hard"` and changed all spaces -> tabs, my problems disappeared.

[2016-01-05 22:22] tschaub commented on #3056
One nuance specific to the Closure Compiler is that `Function` and `function(number)` have specific meaning: the former is any function, the latter is a function that takes a single `number` argument.

In addition, in this strict types environment, the following are valid values for the given types:

 * `number` : `10`, `NaN`
 * `Number` : `new Number(10)`, `null`
 * `string` : `'foo'`
 * `String`

[2016-01-05 22:27] tschaub commented on #3056
Actually, I take that back.  This would work:

[code]

The linter would warn about typos in those two cases.

[2016-01-05 23:27] nzakas commented on #4859
The way the rule is designed, all the flags are enabled by default and you can opt-out of the ones you don't want. We had to do this for backwards compatibility as we added more features.

I think you're misunderstanding how this options works. `requireReturn: true` (the default) says "You must always use `@returns` no matter what." `requireReturn: false` says, "You must use `@returns` only if you

[2016-01-05 23:27] nzakas commented on #4860
Yeah, that looks like a bug.

[2016-01-05 23:28] #4860 closed

[2016-01-06 01:03] mysticatea commented on #1338
I think `keyword-spacing` and `space-before-blocks` still are overlapping.
I'd like to make `space-before-blocks` ignoring spaces preceded by keywords.

[2016-01-06 01:38] nzakas commented on #1338
I think @btmills comment says the same: https://github.com/eslint/eslint/issues/1338#issuecomment-140718568

[2016-01-06 02:00] mysticatea commented on #1338
I see. I will do it on the next weekend.

[2016-01-06 02:48] IanVS commented on #4809
@nzakas, do you accept my proposals in #4833, #4834, and #4835? They need to be addressed before progress can be made on this issue.

[2016-01-06 08:41] mysticatea opened #4862 "Rule Proposal: `no-new-symbol`"
`new Symbol()` always throws a `TypeError`, but people might guess `Symbol` is a constructor.
So this rule reports all `new Symbol()`s.

http://www.ecma-international.org/ecma-262/6.0/#sec-symbol-description

----

The following patterns are considered problems:

[code]

The following patterns are not considered problems:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2016-01-06 10:24] jaapz commented on #4858
Ah, sorry for bothering you guys with this, should have read more carefully

[2016-01-06 10:26] Swaagie commented on #4742
Thanks for merging this :) was out on vacation a bit

[2016-01-06 16:41] nzakas commented on #4862
Good idea, this is very confusing

[2016-01-06 16:43] nzakas commented on #4809
Yeah, go for it. Somehow I missed those.

[2016-01-06 16:57] #4845 closed

[2016-01-06 19:11] nzakas commented on #4691
Working on this

[2016-01-06 20:36] tschaub commented on #4859
That makes sense.

But the code does more than that.  See my example from the top.

[code]

Why shouldn't `valid-jsdoc` fail by default above?  It only fails if `requireReturn` is `false`.

[2016-01-06 20:42] #4691 closed

[2016-01-06 21:14] nzakas commented on #4854
Doctrine has been updated. If you'd like to submit a PR, we can upgrade it. (Be sure the commit message begins with "Upgrade:").

[2016-01-06 21:19] tschaub commented on #4859
Ok, thanks for your patience @nzakas.  I've made peace with `requireReturn`.

#4864 is my attempt to clarify the docs.

While it would be a breaking change, I think it would be unsurprising if (by default) any function with a `return` statement must be documented with `@return`, and any function with a `@return` tag must include a `return` statement.  And to disable this "consistent return" checki

[2016-01-06 21:55] DelvarWorld commented on #3782
I ran into this error too and `rm -rf node_modules`, `npm cache clean` and `npm cache clear` did nothing. For me the issue was some combination of nvm and global eslint. For me, I had to `npm uninstall -g eslint`, then install it for the specific project `npm install eslint`, then close my shell and open a new session, because in my old shell when I ran `eslint` it kept trying to run my old global

[2016-01-06 22:10] silvenon opened #4865 "Rule proposal: no-wildcard-import"
Found [this rule](https://github.com/airbnb/javascript#10.2) in Airbnb's JS styleguide and I liked it.

[2016-01-06 22:17] alberto commented on #4835
That's not true, the rule already defaults to always. See https://github.com/eslint/eslint/blob/master/tests/lib/rules/operator-assignment.js#L79 for an example.

[2016-01-06 22:18] silvenon commented on #4865
1. When does this rule warn? Please describe and show example code:

 It warns when you use a wildcard import.

[code]

2. Is this rule preventing an error or is it stylistic?

 Stylistic.

3. Why is this rule a candidate for inclusion instead of creating a custom rule?

 Not sure what this question means :confused:

4. Are you willing to create the rule yourself?

 Yes.

[2016-01-06 22:29] alberto commented on #4835
I have created PR #4866 to add it to the docs.

[2016-01-06 22:55] alberto commented on #4834
Current default is `expression`. Should we change it?

[2016-01-06 23:02] pasha-mf opened #4867 ""no-use-before-define" should have an option to ignore type declarations"
1. `v1.10.3`
2.  Using parser "babel-eslint", rule `"no-use-before-define": 1` and the following test file:
[code]
produces errors that Foo & Bar are used before they are defined. However type declarations are considered to be hoisted to the top of the file, so this syntax is valid.
3.
[code]
4. Expected no errors to be reported.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty

[2016-01-07 01:02] nzakas commented on #4867
Please file a bug with babel-eslint.

[2016-01-07 01:02] #4867 closed

[2016-01-07 01:03] alberto commented on #4862
I'm not familiar with `escope`. Is it enough to check that the Symbol in `references` doesn't come from the global scope?

[2016-01-07 01:08] nzakas commented on #4865
In other words, why should this be part of the ESLint core and managed by us when you can write and manage it yourself?

[2016-01-07 01:14] mysticatea commented on #4862
I guess the logic is:

[code]

- `variable.defs` is not empty if there is a declaration like `function Symbol() { }` in the source code.
- `variable.references` contains all references to this variable.
- Tests need `{env: {es6: true}}` to define `Symbol` variable.

[2016-01-07 01:18] silvenon commented on #4865
After giving it some more thought, I don't think it's a good rule to enforce. Forcing a single default export instead of named exports provides no benefit.

[2016-01-07 01:27] IanVS commented on #4835
Ah you're right, I see now it is setting a default here: https://github.com/eslint/eslint/blob/ad445184ba8e83cd871dd35c25a14bdfa774111b/lib/rules/operator-assignment.js#L109

[2016-01-07 01:31] unional commented on #4696
I have the same issue on webStorm with stroustrup brace-style:

[code]

code:
[code]

[2016-01-07 01:32] IanVS commented on #4834
Ah, I didn't look close enough.  It looks at first glance from https://github.com/eslint/eslint/blob/ad445184ba8e83cd871dd35c25a14bdfa774111b/lib/rules/func-style.js#L14 that there is no default, but it's handled a few lines down.  I'll make a PR for the docs.

[2016-01-07 01:43] #4835 closed

[2016-01-07 02:05] IanVS commented on #4809
I was wrong on two of them, they had sneaky, undocumented defaults.  Now the only blocker is https://github.com/eslint/eslint/pull/4868.

[2016-01-07 02:17] IanVS commented on #3782
The basic thing to keep in mind is that the plugins need to be installed wherever you are running eslint.  If you are typing `eslint` into your terminal, you are running the globally installed eslint (unless of course you've set up an alias or changed your PATH variable, but that's rare).

Typically we suggest that you install eslint and any plugins locally (`npm install --save-dev eslint eslint-p

[2016-01-07 02:23] #4834 closed

[2016-01-07 02:43] #4833 closed

[2016-01-07 06:57] paulsmirnov opened #4873 "no-bitwise: add int32Hint option"
It would be nice to have an exception for hints like `a|0` (like in space-infix-ops #1295).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29659702-no-bitwise-add-int32hint-option?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com

[2016-01-07 10:10] jFransham commented on #4161
I don't know if this is the same issue, but I have a problem with arrow function syntax and first-element-indented arrays where the indent checker thinks it can never be indented enough.

[code]

[2016-01-07 10:31] alberto opened #4874 "func-style default config is inconsistent eslint:recommended"
`func-style` default option is `expression`, while in `eslint:recommended` it is set as `[0, "declaration"]`.

Should we change any of them to match? Either way would be a breaking change, but it is a bit weird that the differ.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29663832-func-style-default-config-is-inconsistent-eslint-r

[2016-01-07 11:07] alberto commented on #4874
Nevermind, I didn't realize the intention in #4809 was to remove the explicit defaults from `eslint:recommended`, so closing.

[2016-01-07 11:07] #4874 closed

[2016-01-07 13:26] michaelficarra commented on #4865
That syntax doesn't import the default export, it imports *all* exports.

[2016-01-07 13:44] silvenon commented on #4865
Yes. I meant that not allowing wildcard imports will force you to write modules with a single (default) export.

[2016-01-07 16:28] michaelficarra commented on #4865
No it won't.

[2016-01-07 16:36] silvenon commented on #4865
[code]

[code]

[code]

[code]

[2016-01-07 16:38] silvenon commented on #4865
Oh, I see what you meant, when you're importing only certain exports, it doesn't really matter whether it's a single exported object or a named export.

[2016-01-07 16:41] michaelficarra commented on #4865
Yes.

[code]

[2016-01-07 17:09] #4809 closed

[2016-01-07 17:15] nzakas commented on #4873
Can you explain some more? ("It would be nice" doesn't really explain the use case)

Note we just added an `exceptions` option to this rule: https://github.com/eslint/eslint/issues/4742

Can you just specify `|` as an exception?

[2016-01-07 17:17] #4859 closed

[2016-01-07 19:39] #4854 closed

[2016-01-07 20:18] #2365 closed

[2016-01-07 20:18] #4862 closed

[2016-01-07 20:25] nzakas commented on #4782
Working on this.

[2016-01-07 20:26] domenic opened #4877 "The fallout from ecmaVersion"
In https://github.com/eslint/eslint/issues/4641#issuecomment-167245100 I discussed why the upcoming change to ecmaVersion is extremely disappointing from a spec author and browser implementer point of view. So ideally I would like that whole thing to be reverted. Ideally I'd prefer to see eslint work on a feature-wise basis, using e.g. the kangax tables, similar to Autoprefixr ("last 2 versions",

[2016-01-07 20:33] AlfonsoML opened #4878 "Allow the Utf-8 BOM with no-irregular-whitespace"
As suggested in https://groups.google.com/forum/#!topic/eslint/UKq91-aGycw

A file that has the UTF-8 BOM triggers an error with the no-irregular-whitespace rule:
line 1, col 1, Error - Irregular whitespace not allowed (no-irregular-whitespace)

So this is a request to be able (at least as an option) to ignore the BOM at the start of the file (but not in any other place).

<bountysource-plugin>
--

[2016-01-07 22:33] rhbecker commented on #2949
### tl;dr
Might it make sense to use at least 2 distinct non-zero exit codes in order to reflect at least 2 distinct "error" scenarios?

### (at least) 2 distinct scenarios
1. eslint executed successfully, but found rule violations in the linted set of files
2. eslint did not execute successfully

### in the code
Just casually looking at [cli.js](https://github.com/eslint/eslint/blob/7ebb027a12b4e

[2016-01-07 22:36] nzakas commented on #4878
We really should strip the BOM before parsing, as most engines do that already.

[2016-01-07 22:40] nzakas commented on #4877
It sounds like your problem isn't so much with the features, but with the globals available, so it seems like this change is the more likely cause of your trouble: https://github.com/eslint/eslint/issues/4085

In ESLint v1.x, we were automatically including all ES6 globals regardless of whether you wanted them or not. That was changed in v2.0.0 so that you must explicitly state that you want those

[2016-01-07 23:02] rhbecker commented on #2949
see also #858, #2409

[2016-01-07 23:48] bryanrsmith opened #4880 "no-unused-vars option to allow unused vars in object destructuring with rest property"
I'd like an option for the `no-unused-vars` rule that would allow unused variables that are created as part of an object destructuring pattern that also includes an experimental rest property.

Use case: experimental object rest properties offer a convenient way to shallow clone an object while omitting certain properties.
For example,

[code]

This can be done now by naming the unused variables w

[2016-01-08 01:24] platinumazure commented on #4878
:+1: from me- I really want to use this rule at work but we put the BOM on most of our files.

[2016-01-08 01:25] nzakas commented on #2949
I'm sorry, we decided not to pursue this any further. As I mentioned in my last comment, we recommend wrapping ESLint in something else if you want more control over exit codes.

[2016-01-08 01:28] nzakas commented on #4880
Yeah, too early to add an exception. We don't make special affordances for experimental features, but feel free to follow up if it becomes official.

[2016-01-08 01:28] #4880 closed

[2016-01-08 01:29] bryanrsmith commented on #4880
Thanks. Will do.
On Thu, Jan 7, 2016 at 5:28 PM Nicholas C. Zakas <notifications@github.com>
wrote:

[2016-01-08 01:39] rhbecker commented on #2949
That's exactly what I'm trying to do, but as far as I can see, a wrapper isn't going to help me if you're always returning 1 for every class of error.

[2016-01-08 02:21] ilyavolodin commented on #2949
I think what @nzakas means is that wrapper should be using our Node.js API, not CLI, this way you will get all of the information you need.

[2016-01-08 02:34] rhbecker commented on #2949
@ilyavolodin Didn't know that was an option. Thanks for the tip.

If anyone has any example code that leverages the Node.js API via npm run-script, don't be shy in sharing!

[2016-01-08 03:16] kentcdodds opened #4881 "--config flag doesn't prevent searching for ~/.eslintrc"
See [twitter](https://twitter.com/slicknet/status/685293948357627905) for context:

<img width="656" alt="screen shot 2016-01-07 at 8 08 20 pm" src="https://cloud.githubusercontent.com/assets/1500684/12189401/71dcbeae-b57a-11e5-9e03-0321f9091f94.png">

This issue is just meant to discuss the scenario of what happens when you run `eslint --config someESLintConfig.js foo.js`. Currently, ESLint will

[2016-01-08 09:05] theage commented on #2668
+1 for #2674 - alignment should continue after multi-line properties without empty / whitespace-only lines to separate groups.

[code]

[2016-01-08 09:32] AlfonsoML commented on #4878
Keep in mind that the --fix option should preserve the BOM when rewriting
the file, so it can't be fully dropped.
El 7/1/2016 11:36 p. m., "Nicholas C. Zakas" <notifications@github.com>
escribió:

[2016-01-08 10:19] wheresrhys opened #4882 "Better documentation of config by comment"
Am I blind, or are the only docs for config using inline comments now in the cli docs http://eslint.org/docs/user-guide/command-line-interface#no-inline-config? Either they've gone from elsewhere, or have become harder to find in the last few days ( a few days ago aI found them with no problem)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.co

[2016-01-08 10:32] isnifer commented on #3763
Hey @jonathanKingston I saw you did it. Do you plan to create PR for this feature?

[2016-01-08 10:44] wheresrhys commented on #4882
Just realised I should've raised at eslint.github.io

[2016-01-08 10:44] #4882 closed

[2016-01-08 11:49] mysticatea commented on #4877
Thank you @domenic .

I'm busy now, but I will open an issue to add `no-unsupported-features` into core later. I'm investigating to extend the rule to well-known browsers.
Perhaps the rule becomes like below:

[code]

But I'm not sure the rule is accepted because the maintenance cost of the rule is very high.

[2016-01-08 12:29] gjuchault opened #4883 "Key-spacing reset after nested"
[code]

With `"key-spacing": [2, { "align": "colon" }]`

Outputs :
[code]

Actually, this is aligned.

Version : eslint v1.10.3

[2016-01-08 13:40] btmills commented on #4883
This is a duplicate of #2668, which is accepted. @gjuchault want to send a PR for that issue?

[2016-01-08 13:40] #4883 closed

[2016-01-08 14:12] leighman opened #4886 "Line numbers and broken rule for each message are invisible on Solarized Dark theme"
**What version are you using?**

v1.10.3

**What did you do?**

Tried to use eslint from terminal

**What happened?**

Line numbers and broken rule were invisible

**What did you expect to happen?**

To be able to see them.

**==**

Turns out this is a long-standing bug in solarized [1] with no easy fix. Chalk author suggests using 'dim' rather than 'gray' [2] which looks just as beautiful to me.

[2016-01-08 15:15] rpatil26 commented on #4697
I am going to give it a try today.

[2016-01-08 15:41] platinumazure commented on #4886
I don't understand. Is this an issue with stylish output and similar, where the control characters for changing color work poorly on certain terminal themes?

[2016-01-08 16:25] nzakas commented on #4881
I think this is a bug. The home directory config is only supposed to be used when there's no other config. I think we get confused because the command line config isn't accounted for in our current check, but I think it would make more sense that the home directory config is only used when there is no other config at all.

FWIW, you can use the `--debug` flag rather than hacking in `console.log`.

[2016-01-08 16:37] #3185 closed

[2016-01-08 16:41] nzakas commented on #4878
Good point, we need to keep an eye out for that.

[2016-01-08 16:45] kentcdodds commented on #4881
Ah, should have investigating existing debugging options before hacking away :+1:

[2016-01-08 16:46] nzakas commented on #4877
@mysticatea I think that's best as a plugin.

[2016-01-08 17:23] leighman commented on #4886
Yes, a bad interaction between chalk.gray and solarized background colour
![solarized-before](https://cloud.githubusercontent.com/assets/279519/12204493/671e3378-b62c-11e5-8268-814db564f9b0.png)

[2016-01-08 17:33] gyandeeps commented on #4881
@nzakas Based on a lot of previous discussions specially `root: true` discussion, we said we will always keep looking for `.eslintrc` up the chain all the way till home directory and we will stop only when we have a config file with a `root` set to `true`.

I am fine if we want to change this behavior but just to dig deep into what this change means. Are you saying we will keep looking for files u

[2016-01-08 17:46] tschaub opened #4887 "Interface methods should not be required to have return statements"
With ESLint @65ad608ca3bb71a45a3b14a6f8dc632ea86d2949, the `valid-jsdoc` rule with `requireReturn: false` fails if a function has a `@return` tag but no `return` statement.

For a constructor/class with `@interface`, methods may be empty functions (and this is may be a requirement).  So the following is not valid according to `valid-jsdoc`:
[code]

I'm curious if others think it would be worth upd

[2016-01-08 17:50] btmills commented on #4881
@gyandeeps that's a good point for clarification. Right now, there are two ways `~/.eslintrc` could be included:

1. Your project is in a directory underneath your home directory, e.g. `~/code/project/`, and its config files do not specify `root: true`. `~/.eslintrc` is included as part of a traversal up to `/`.
2. Your project is outside of your home directory and has no config files at all. ESLi

[2016-01-08 17:53] kentcdodds commented on #4881
Perfect summary of what I experienced

[2016-01-08 18:22] gyandeeps commented on #4881
Thanks a lot @btmills for a very good explanation.
Based on case 2, it makes sense to make the proposed change.

[2016-01-08 18:24] nzakas commented on #4887
This was already implemented: https://github.com/eslint/eslint/pull/4861

Please be sure to search old issues prior to opening new ones.

[2016-01-08 18:26] nzakas commented on #4881
:+1:

[2016-01-08 18:27] #4886 closed

[2016-01-08 18:45] tschaub commented on #4887
@nzakas are you sure you meant #4861?

That issue is about making it so functions marked with `@interface` aren't required to have a `return` statement.  The difference is subtle but significant.  This is about interface *methods*.  These are not marked with `@interface`.  They are prototype methods of a constructor that is marked with `@interface`.

Please see the example above for additional det

[2016-01-08 18:49] nzakas opened #4888 "Test failures"
In preparing to do the release, I found a large number of test failures. This appears to be related to the ignore file changes (https://github.com/eslint/eslint/pull/3948). The full log is at https://gist.github.com/nzakas/4ef85b9c8b0de95e4976. There's 81 failures in total that need to be resolved before we can do a release.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on i

[2016-01-08 19:05] alberto commented on #4881
Why does is make any difference whether the project is inside $HOME or not?

If I understand correctly the purpose of `~/.eslintrc` is to have a global config you want always applied, unless you set `root: true` in another config file up in the file tree. If that was not desired in this case, that config file should have that flag set, shouldn't it?

[2016-01-08 19:20] alberto commented on #4888
Do they fail by running `npm test`? They are all green on my machine. Did you remember to `npm install`? That bites me from time to time.

[2016-01-08 19:28] gyandeeps commented on #4888
Its happening on windows machines and it due to this: https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L556

[2016-01-08 19:28] alberto commented on #4888
Just read on gitter it may be a windows-only issue. That explains why it wasn't caught by CI. I'm running on OSX.

[2016-01-08 19:30] tschaub opened #4889 "The valid-jsdoc rule doesn't catch missing param for multi-line assignment expressions"
With ESLint @ 1972678ba03c25d1e5babff17c2d2559116a4886, if an assignment expression spans multiple lines, `valid-jsdoc` doesn't catch missing `@param` or param description.  See the following example:

[code]

The first comment block is correctly linted (it is missing the parameter description).  The second comment block is not correctly linted (it is also missing the parameter description).

<bou

[2016-01-08 20:35] nzakas commented on #4887
Ah, my apologies, I did misread your description.

Unfortunately, there isn't a way to know that the method is part of an interface vs. a regular function. We might be able to have an option that allows empty functions, though.

[2016-01-08 21:30] nzakas commented on #4881
Because if you're in `$HOME`, then `~/.eslintrc` is a project file, not a personal file (this happens on build systems).

The purpose of `~/.eslintrc` is to have a config applied to any files that don't already have a config (no project-level configuration files).

[2016-01-08 22:10] #4888 closed

[2016-01-08 22:19] ljharb opened #4891 "no-unused-expressions errors on "use strict" pragma."
There's a `strict` rule already, but `no-unused-expressions` seems to fail on `'use strict';`. I assume it would also fail on `'use asm';`.

It should probably, by default, ignore these pragmas, but at the least, have an option to ignore string literal pragmas like this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29717352-no-unu

[2016-01-08 22:35] ljharb commented on #4891
v1.10.3

[2016-01-08 22:41] nzakas commented on #4891
Can you provide the full source code, or an example of how you're using 'use strict'? (In general, it helps us out a lot if you can include source code, your config, and the output from ESLint, as stated in @eslintbot's comment.)

[2016-01-08 23:35] ljharb commented on #4891
Sure, sorry about that:
[code]

prints out:
[code]

[2016-01-08 23:43] nzakas commented on #4891
Ah yeah, that's because "use strict" is just a normal expression if it's not the first statement. In your example, it's just a string and not a directive, and is therefore an unused expression.

[2016-01-08 23:56] ljharb commented on #4891
Ah, good point - in the case of `import`, all `import` statements are hoisted, and `import` doesn't have to be in an ES6 module as I recall - does that mean you can't use `import` and `use strict` in the same file?

[2016-01-08 23:56] #4891 closed

[2016-01-08 23:58] alberto commented on #4889
I guess the other cases will fail too: "ClassExpression" and "FunctionDeclaration". We should probably fix them here too.

[2016-01-08 23:59] gyandeeps commented on #4889
I have fixed them also. Will add tests for it.

[2016-01-09 01:08] #4889 closed

[2016-01-09 01:09] alberto commented on #3317
Shouldn't be this the default behaviour? Adding the extra parens seems explicit enough to me. Anyway, if we were to add it, should it be a third option (for example `all-except-cond-assign`) or an additional argument for `all`?

[2016-01-09 01:09] nzakas commented on #4891
I believe that's the case. However, you don't need to since ES6 modules are already in strict mode.

[2016-01-09 01:18] AprilArcus opened #4893 "allow disabling environments in nested config files"
Consider this example project:

[code]

I would like to use `require()` and `module.exports` in `devServer.js` and `webpack.config.js`, since they run in node without being transpiled by Babel. However, I would like to use `import` and `export` inside `src/`, and have ESLint warn on use of CommonJS style imports inside `src/`.

Right now, even though `myProject/src/.eslintrc` sets the `node` envir

[2016-01-09 01:32] gyandeeps opened #4894 "Add AppVeyor"
Second shot at adding AppVeyor to eslint project.
Based on the observation so far these are some of the things which are very annoying about
`AppVeyor` vs `Travis`:

* Its sequential ie it will run one build at one time.
  * One build means running on node 4 is one build so if we have more node version then that many build per PR.
* Its very slow as it takes around of 30 mins for 1 PR which includ

[2016-01-09 01:56] ilyavolodin commented on #4893
This looks like a duplicate of #3915 Could you try latest alpha and see if this is fixed?

[2016-01-09 02:15] alberto commented on #3092
Should this be part of this rule or a new one? Given the current options names I think it might be confusing. We should also clear up if we want to allow padding `before` and `after`, and what would happen when `always ` or `never` are set for `padded-blocks`.

[2016-01-09 02:29] alberto commented on #1622
I think this should be a different rule, since it deals with linebreaks between declarators (or assignments), while `newline-after-var` deals with padding after declaration. Ideally `newline-after-var` should be renamed to `padding-after-var`

[2016-01-09 03:24] alberto commented on #4881
I did some tests and couldn't reproduce case 1 mentioned by @btmills . `~/.eslintrc` is used when no other config is found in the current dir or their parents, regardless of whether the project folder is inside or outside $HOME. Which coincides with your last comment @nzakas

[2016-01-09 05:23] AprilArcus commented on #4893
Thank you, this works as expected in 2.0.0-alpha-2.

[2016-01-09 05:39] #4893 closed

[2016-01-09 07:26] rpatil26 commented on #4697
This was a bit tricky since we have to keep existing options for backward compatibility and also support new categorized options `singleLine` and `multiLine` with fallback.

I hope I got it right. I also wanted to validate schema such that if `multiLine` option is specified it should not allow existing options at sibling level. I don't know how can I write schema to do so.

[2016-01-09 12:20] nightwing opened #4896 "Columns of parse errors are off by 1"
They are increased once in [espree.js#L368](https://github.com/eslint/espree/blob/78bf74f64f81dab944b26dd692a49a42a803fc78/espree.js#L368) and second time in [eslint.js#L91](https://github.com/eslint/eslint/blob/0d50df705f1df2d1486c7fdad14ab0aefd31215f/lib/eslint.js#L91)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29727826-column

[2016-01-09 13:52] rpatil26 commented on #4894
@gyandeeps So AppVeyor is sequential by design or because of our configuration?

Given that it's also slow, is it still worth going?

[2016-01-09 14:00] michaelficarra commented on #4891
Import/export declarations are only allowed in modules at the top level. You may have both a directive prologue and import/export declarations.

[2016-01-09 15:27] nzakas commented on #4896
Can you please provide an example?

[2016-01-09 15:28] nzakas commented on #4896
Also, what version are you using?

[2016-01-09 15:33] nzakas commented on #4881
Yeah, `root:true` is not a part of the equation here. That only applies below the home directory.

[2016-01-09 15:35] nzakas commented on #4894
Sounds like a good approach. We really just need a Windows spot check for path/line ending differences, so just one Node environment should be enough.

[2016-01-09 15:39] nzakas commented on #3317
Are you saying we should always allow parens when there's an assignment?

[2016-01-09 15:42] nzakas commented on #1622
You're probably right about a separate rule. Do you have a name suggestion?

[2016-01-09 15:47] nzakas commented on #3092
We can probably keep it in the same rule and just modify the options to something like:

[code]

[2016-01-09 16:27] ljharb commented on #4891
ah, if `import` is only allowed in another module then that answers my question.

It'd be cool to have a nicer error message that was specific to pragmas not being at the right position, but at least it's warning on the right things :-)

[2016-01-09 16:39] okonet commented on #3092
This would be perfect!

[2016-01-09 18:25] ilyavolodin commented on #4894
@rpatil26 AppVeyor is not sequential, it's just for free OSS plan it only supports one single simultaneous build. Problem is, we've had our share of issues that are only happen in Windows environment, and while most of the ESLint team is using Windows, a lot of PRs are coming from people using OSX/Linux, so we need a way to verify anything that deals with file system.

[2016-01-09 20:26] nightwing commented on #4896
I see this with latest master checkout, and on http://eslint.org/demo/ with `var foo = bar axxxx;` red squiggly is displayed under `x` instead of `a`

[2016-01-09 21:42] #4894 closed

[2016-01-09 21:47] alberto commented on #3317
Yes, allow double parens around the assignment inside conditionals, so these would be valid.
[code]
 Do you think that would be a problem?

[2016-01-09 21:49] michaelficarra commented on #3317
This needs to be behind an option though.

[2016-01-09 21:49] tschaub opened #4899 "Allow `exported` to be set in config"
In #1200, support was added for `exported` in a comment, but it looks like it is not possible to apply this in a config file.

I'm linting a large directory of examples that all use syntax similar to this:

[code]

Rather than adding a `/* exported demo */` comment to hundreds of files, I'd prefer to add a single `.eslintrc` to the directory that allowed the `no-unused-vars` rule to be applied.

W

[2016-01-09 21:51] gyandeeps commented on #4899
Why not add `Demo` as a `global` in `.eslintrc` file?

[2016-01-09 22:12] tschaub commented on #4899
With this `test-config.json`:
[code]

And this `test-script.js`:
[code]

I get this:
[code]

[2016-01-09 22:13] tschaub commented on #4899
I had completely missed the `varsIgnorePattern` option.  This fits my use case well (and seems more appropriate than a top level `exported` config property).

[2016-01-09 22:13] #4899 closed

[2016-01-09 22:36] alberto commented on #3092
That makes sense.

However there will we conflicts we need to clear up.
[code]
Which should take precedence here? Or should we ignore outside when the block is the first or last in a parent?

[2016-01-09 22:37] alberto commented on #3317
@michaelficarra can you elaborate on why? Maybe I'm missing something

[2016-01-09 22:46] tschaub opened #4900 "Incorrect comment assigned to function expression"
With the change in 0d50df705f1df2d1486c7fdad14ab0aefd31215f, an incorrect comment block may be assigned to a function expression.

This used to pass `valid-jsdoc`, now it generates `Missing JSDoc @returns for function`:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29736869-incorrect-comment-assigned-to-function-expression?

[2016-01-09 23:13] alberto commented on #1622
If we just want to enforce it for assignments, I would say `linebreak-after-assignment` or `newline-after-assignment`

If we want to optionally also enforce it for declarators, like

[code]

I'm thinking of `linebreak-after-declaration` or `newline-after-declaration`, with an options `all` and `assignments` (which would behave like the one above).

[2016-01-09 23:58] alberto commented on #4896
Should this be fixed here or in `espree` so it's compatible with other parsers?

[2016-01-10 03:51] #4881 closed

[2016-01-10 04:20] paulsmirnov commented on #4873
Sorry, I thought the reference to another rule was enough. I'll try to explain in more details.

The expression `a|0` is widely used in optimized javascript and [asm.js](https://en.wikipedia.org/wiki/Asm.js#Code_generation) as a hint for compiler that the variable should be treated as a 32-bit integer, not a generic 64-bit floating point `Number`. The only operation used is a bitwise OR, and one o

[2016-01-10 05:56] michaelficarra opened #4902 "no-extra-parens errors for ExpressionStatement restricted productions"
Currently, `no-extra-parens` incorrectly reports

[code]

and

[code]

and

[code]

as having unnecessary parens, even though they are needed. PR incoming.

**edit:** For more info, see the note here: http://tc39.github.io/ecma262/#prod-ExpressionStatement

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29740963-no-extra-parens-error

[2016-01-10 06:14] michaelficarra opened #4904 "no-extra-parens incorrectly flagging code that requires parens"
Currently, `no-extra-parens` incorrectly does not report

[code]

This is due to [these lines](https://github.com/eslint/eslint/blob/a4e83124087c62d0dc4b64d55aa45721727c70e9/lib/rules/no-extra-parens.js#L420-L424), which I believe are a mistaken attempt to handle the ExpressionStatement restricted productions. Removing these lines will force the above program to be written as

[code]

which has no

[2016-01-10 06:44] rpatil26 commented on #4894
Thank you @ilyavolodin for the informative details. I jumped in without the context. :smile:

[2016-01-10 14:57] cowchimp opened #4906 "How to truly enforce no global pollution in browser code?"
Hi.

I'm having difficulty composing existing eslint rules in a way that should be relevant for many people (IMHO).
There's a good chance I'm missing something basic and that this can be achieved. But in case it's not I would be interested in sending in a PR.

My goal is simple:
To make sure no script relies on globals defined in another script.
I'm assuming that's something many people will want

[2016-01-10 15:32] ilyavolodin commented on #4906
I think this would be hard to do, because `no-undef` has no way to check properties of generic object for existence. So if you do `foo.blah()` it would be always OK, but if you do `window.blah()` it will not? That would be very confusing.

[2016-01-10 15:45] cowchimp commented on #4906
Thanks for the reply.
Putting aside the implementation complexity for a minute, what do you think about the validity of this use-case?
I think there's value of treating `window` as a special object. Without this you can always sneak in global references by referencing them off `window` in browser code.
As for how to implement it- I don't have a strong enough familiarity with the codebase to commen

[2016-01-10 16:50] nzakas commented on #4906
You can manually look for MemberExpression nodes that have `window` as the object name and check the property name against a list. However, `window` is only special in a browser context, and it's not the only special object: `self`, `top`, and `parent` are all similar.

The other problem is knowing if creating globals is allowed. Should `window.foo = bar` trigger an error if `foo` doesn't already

[2016-01-10 16:54] nzakas commented on #4896
It should be fixed in Espree, though we need to verify that Esprima uses zero-based columns for errors to be sure it's the right change.

@nightwing when reporting bugs, please be sure to include all the information [requested](https://github.com/eslint/eslint/issues/4896#issuecomment-170231531), as this issue has barely enough information. We get a lot of bugs, so providing all of what we ask for

[2016-01-10 16:57] nzakas commented on #4873
Thanks, we get aton of issues, so the more information you provide, the better and faster we are able to triage.

I'm OK with adding this exception, do you want to submit a PR?

[2016-01-10 16:59] nzakas commented on #3317
The only problem is that those are unnecessary parens, so we are kind of breaking the rule if we allow it by default. Adding as an option would let people opt-in.

[2016-01-10 17:00] nzakas commented on #4900
And this was working before that commit was merged?

[2016-01-10 17:01] nzakas commented on #4900
I should say, what did it do before? (Please note the instructions in https://github.com/eslint/eslint/issues/4900#issuecomment-170288874 for reporting a bug

[2016-01-10 17:12] michaelficarra commented on #3317
Exactly.

[2016-01-10 17:28] platinumazure opened #4907 "RuleTester could use nested describes() for valid vs invalid rules"
At present, the RuleTester hierarchy (in mocha) looks like this:

* describe(rule)
    * it(some valid case)
    * it(some valid case)
    * ...
    * it(some invalid case)
    * it(some invalid case)
    * ...

In other words, valid and invalid cases are all flat, immediately under the rule description. The problem I have with this is I can't immediately tell at a glance which cases are valid and

[2016-01-10 17:44] nzakas commented on #4904
Hmm, I'm not sure this should be changed. In all of these instances, parentheses are required somewhere. In other situations we flag, you can remove the parentheses and the syntax is valid. In these cases, its a syntax error to remove the parentheses unless you then include parentheses elsewhere. I see this as being a long of confusion for users as it appears this rule would be forcing a particula

[2016-01-10 18:05] nzakas commented on #3092
Good point. I'd say outside is lowest priority, so it should be ignored whenever there's a conflict.

[2016-01-10 18:25] michaelficarra commented on #4904
@nzakas It's not about enforcing a location, per se, but about precedence. `no-extra-parens` ensures you're not parenthesising a higher-precedence subexpression. In the above listed examples, these kinds of constructs were being allowed (but just for member expressions, strangely). If we wanted to take this path, then expressions like `(class{}) ? a : b;`, `(class{}), a;`, `(class{}) + a`, etc. sh

[2016-01-10 20:08] ilyavolodin commented on #4907
Sure, that sounds fine

[2016-01-10 20:11] alberto commented on #3317
I proposed that because that's what the rule already does with Regexps and IIFEs.

Is the name `all-except-cond-assign` ok for you?

[2016-01-10 21:35] mysticatea opened #4909 "eslint-config-eslint has duplicate keys."
https://travis-ci.org/mysticatea/eslint-plugin-node/jobs/101463149#L202

`js-yaml@3.5.0` seemed to come to check duplicate: https://github.com/nodeca/js-yaml/commit/9ea29ec6aa5e48d3dff3eacf7582818643a0ab0c

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29754072-eslint-config-eslint-has-duplicate-keys?utm_campaign=plugin&utm_content=

[2016-01-10 21:42] alberto commented on #4909
Not sure I understand the issue, but please be aware we cannot upgrade `js-yaml` because of #4553 :(

[2016-01-10 21:45] mysticatea commented on #4909
Oh, pinned.

I will do:

- Remove duplicate keys.
- Pinned `js-yaml` of `eslint-config-eslint`: https://github.com/eslint/eslint/blob/master/packages/eslint-config-eslint/package.json#L23

[2016-01-10 21:48] alberto commented on #4909
I asked again for a new release of inherit:
https://github.com/dfilatov/inherit/issues/25

[2016-01-10 22:12] mysticatea commented on #4877
@nzakas OK, this is as expected.

[2016-01-10 22:52] alberto opened #4912 "Docs: Heading formatting inconsistencies"
There are doc headings using many different formats. Here are some examples:
[code]

Should we unify them?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29755288-docs-heading-formatting-inconsistencies?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https

[2016-01-10 23:08] alberto opened #4913 "Bug: Incorrect location for padded-blocks"
Using master, the location of the error for closing padded block is wrong:
[code]
produces:
[code]
Column number should be `1`

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29755559-bug-incorrect-location-for-padded-blocks?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via

[2016-01-11 00:08] ilyavolodin commented on #4913
Looks like a duplicate of #4896

[2016-01-11 00:20] alberto commented on #4913
@ilyavolodin #4896 is about parse errors. This is about rule errors

[2016-01-11 00:57] mysticatea commented on #4907
:+1:

[2016-01-11 01:15] alberto commented on #4896
Here is the output from the different parsers for this code:
[code]

espree: `1:12  error  Parsing error: Unexpected token c`
esprima: `1:12  error  Parsing error: Unexpected identifier`
babel-eslint: `1:11  error  Parsing error: Unexpected token`

[2016-01-11 02:04] michaelficarra commented on #4913
Could still be a duplicate if column numbers in the parser are always off by one.

[2016-01-11 02:22] alberto commented on #4913
This has to do with the rule using `node.loc.end` as the location of the report, while I think eslint uses exclusive ending notation (range is really [start, end))

[2016-01-11 02:56] michaelficarra commented on #3317
Yeah, I really wish those were behind flags as well, but it's probably too late for that now.

[2016-01-11 03:43] #4909 closed

[2016-01-11 10:45] mysticatea commented on #4878
I will try to fix this.

My plan:

- Remove BOM from the text at the head of `eslint.verify()` if a text was given.
- Add `hasBOM` boolean property to `SourceCode` object.
  I will add the third argument (options): `{hasBOM: boolean}`.
- If `SourceCode#hasBOM` is `true`, `SourceCodeFixer` inserts BOM to the head of output.
- Add `insertBOM` and `removeBOM` methods to `RuleFixer` (for a rule like `

[2016-01-11 14:17] ilyavolodin commented on #4878
We should probably do something similar to hashbangs, since we just remove them currently, but do not add them back.

[2016-01-11 14:58] leeching opened #4914 "Error when parsing `export hello from './hello'`"
[code]
When eslinting, error occurs.

How can I config .eslintrc to escape the error? Thanks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29772203-error-when-parsing-export-hello-from-hello?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bou

[2016-01-11 15:20] gyandeeps commented on #4914
Did you intend to write `import` and not `export`.
Like this
[code]

[2016-01-11 15:54] michaelficarra commented on #4914
You have a syntax error. You probably meant

[code]

[2016-01-11 15:56] nzakas commented on #4878
@ilyavolodin can you open a separate issue for that?

@mysticatea I don't think `insertBOM`/`removeBOM` is necessary. Otherwise, sounds good.

[2016-01-11 15:57] #4914 closed

[2016-01-11 15:58] nzakas commented on #4912
If you're volunteering, sure. :)

[2016-01-11 15:59] nzakas commented on #4896
Which Espree version is that?

[2016-01-11 15:59] alberto commented on #4912
Which format would you prefer?

[2016-01-11 16:04] nzakas commented on #1622
I think we've hit our max of breaking changes for 2.0.0, so we need to keep the current rule.

I think `newline-after-assignment` doesn't indicate this is just for variable declaration initialization, so maybe `newline-after-var-init`?

[2016-01-11 16:05] alberto commented on #4896
3.0.0-alpha-3

I used this packages:
[code]

[2016-01-11 16:08] alberto commented on #1622
Wouldn't this rule then include declarations without initialization, like in my last comment?

[2016-01-11 16:11] nzakas commented on #4904
The rule as it exists does not do this. From the docs:

I think making a change so that this rule now considers precedence would be confusing. I don't want to tell users to remove parentheses if they will need to insert them somewhere else to avoid a syntax error.

I think what you're asking for would actually be a separate rule that points out how to avoid unnecessary precedence changes.

[2016-01-11 16:12] #1338 closed

[2016-01-11 16:14] nzakas commented on #4912
It depends. For string options like "always", I think it should be `" always"`. For nonstring values, I'd just use backticks.

[2016-01-11 16:36] michaelficarra commented on #4904
@nzakas I implemented the first version of the `no-extra-parens` rule, and I can tell you that it *almost exclusively* handles precedence. Every parenthesis that the rule will ever report is due to incorrect precedence. [Here's the code that finds precedence](https://github.com/eslint/eslint/blob/f5ebbae45e75f4ce0ca3c6d929842732cd2f77ef/lib/rules/no-extra-parens.js#L157-L236) and [here's the prece

[2016-01-11 16:53] mathiasbynens opened #4915 "no-extra-semi false positive with `ExportNamedDeclaration` & `ExportDefaultDeclaration`"
The semicolons in these examples are incorrectly flagged as unnecessary:

[code]

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29775903-no-extra-semi-false-positive-with-exportnameddeclaration-exportdefaultdeclaration?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties

[2016-01-11 17:00] michaelficarra commented on #4915
No, those are unnecessary due to ASI. Perhaps you are thinking about the case when certain expressions follow?

[2016-01-11 17:07] ilyavolodin opened #4916 "Hashbang needs to be re-added for autofix"
We are currently stripping away hashbangs to allow for linting, however, if the file needs to be fixed, we will not add hashbang back into the file, which will result in the invalid Node.js entry point. See #4878 for more details.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29776302-hashbang-needs-to-be-re-added-for-autofix?utm_c

[2016-01-11 17:07] ilyavolodin commented on #4878
Sure. Opened #4916 for hashbangs.

[2016-01-11 17:12] lo1tuma commented on #4916
The hashbang is only transformed to a comment before parsing the code. The sourcecode text isn’t modified.
At least I can’t produce any broken code when letting eslint automatically fix a file which includes a hashbang.

[2016-01-11 17:12] platinumazure commented on #4915
no-extra-semi is not supposed to warn on ASI locations (that's the job of the semi rule). This rule is supposed to warn on things like function declarations (which are unambiguously parsed as statements even without a semicolon in most cases), in other words things that shouldn't need a semicolon ever. I think exports require semicolons (or ASI) but I'm not sure.

[2016-01-11 17:21] minustehbare opened #4917 "Incorrect output for `no-multiple-empty-lines` on lines at EOF"
**Version of ESLint**
v1.10.3
**What I did**
Attempted to create a `.eslintrc` configuration to enforce *exactly one* empty line at EOF.  Here is the configuration:
[code]

I tested this on two separate files:
[code]

and

[code]

**What I expected**
An error on the first file, no error on the second file.
**What actually happened**
The first file produces no error.  The second file (with 2 lines,

[2016-01-11 17:34] michaelficarra commented on #4915
Ah, I see. So no-extra-semi literally just flags `EmptyStatement`s? Yes, the export declarations will consume that semicolon, so there should be no `EmptyStatement`s here and thus no report.

[2016-01-11 18:19] btmills commented on #4915
@mathiasbynens what version of ESLint and what parser are you using? Both of those examples pass as test cases added off of `master` and `v1.10.3`.

[2016-01-11 18:49] mathiasbynens commented on #4915
@btmills I noticed this while submitting a patch to [babel/babel](https://github.com/babel/babel) and triggering the CI build. They seem to be using eslint v1.8.0.

If this has been fixed in the mean time, all the better!

[2016-01-11 18:58] krainboltgreene opened #4918 "quote-props as-needed not quite understanding spreads"
<img width="862" alt="screen shot 2016-01-11 at 9 57 49 am" src="https://cloud.githubusercontent.com/assets/334809/12243238/3a187938-b852-11e5-97e1-5518c27df0dc.png">

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29779559-quote-props-as-needed-not-quite-understanding-spreads?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medi

[2016-01-11 19:06] nzakas opened #4919 "Update build script"
I've been having trouble running the build script, and while it's likely the result of a dirty Windows 10 upgrade, I'd like to take this opportunity to clean up the release script. Specifically:

* Ensure we don't need to use `git tag -f` to overwrite the version tag
* Calculate the type of release based on the commit messages (i.e., if there's a "Breaking" commit, then it should be a major releas

[2016-01-11 19:28] platinumazure commented on #4918
Per [the comment above](https://github.com/eslint/eslint/issues/4918#issuecomment-170652726), could you please add your configuration? (Not just rule config either, but anything related to ecmaVersion or ecmaFeatures could prove important.)

[2016-01-11 19:41] nzakas commented on #4916
Yeah, keep in mind that we are not regenerating the source code, we are just inserting into what we read. What's in the AST has no effect on the output of the fixer.

I think we need a solid case where the current functionality is producing a bug in order to move forward here.

[2016-01-11 19:44] nzakas commented on #4915
Confirmed previously fixed.

[2016-01-11 19:46] platinumazure commented on #4915
@nzakas I'm not seeing any unit tests in no-extra-semi around `export` statements. Were they covered in some other test case?

[2016-01-11 19:50] nzakas commented on #4904
Fair enough, however, *almost exclusively* isn't *exclusively*. I can only see confusion coming from this change. Most users are not going to understand the nuance of this situation and will remove the parentheses only to be met with a syntax error. Then they'll probably add the parentheses right back where they were and begin the cycle again.

As I said originally, parentheses in these cases are

[2016-01-11 19:50] krainboltgreene commented on #4918
Yep yep, dealing with a company thing, but will update asap.

On Mon, Jan 11, 2016 at 11:28 AM, Kevin Partington <notifications@github.com

--
Kurtis Rainbolt-Greene, Software Developer
Founder of Difference Engineers

2985 San Marino St.
Los Angeles, CA 90006
202-643-2263

[2016-01-11 19:50] #4919 closed

[2016-01-11 19:55] nzakas commented on #4915
Actually, `no-extra-semi`

[2016-01-11 19:56] nzakas commented on #4915
Oops, premature Enter. `no-extra-semi` has never flagged this case, so I'm curious if that's not the rule in question.

@mathiasbynens please paste the actual output you're seeing (note we ask for this in the first comment).

[2016-01-11 20:00] #4902 closed

[2016-01-11 20:02] nzakas commented on #4917
Are you sure you have exactly one line at the end of the file? Some editors add an extra, invisible line that makes it difficult to tell (I've had this problem before).

[2016-01-11 20:06] nzakas commented on #3143
Closed in #4820. (Missed having "fixes" in the commit message.)

[2016-01-11 20:07] nzakas commented on #1622
If there were not initializations, then the rule would do nothing (unless I'm misunderstanding the request).

[2016-01-11 20:09] minustehbare commented on #4917
AFAIK, yes I am sure.  I used vim to create the files, I double-checked the contents using `cat`, and I also just opened the files in gedit and can only see 2 lines.  Do you know of any other way that I should verify this or is that sufficient?

[2016-01-11 20:16] nzakas opened #4921 "Bugs in new release script"
Overall things went well, just a couple of small bugs:

1. The version is being created with two "v"s at the front in the changelog and blog post
1. There is a `#` before each commit hash in the blog post

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/29781827-bugs-in-new-release-script?utm_campaign=plugin&utm_content=tracker%2F2826

[2016-01-11 21:16] #3143 closed

[2016-01-11 21:18] #4921 closed

[2016-01-11 21:21] michaelficarra commented on #4904
Okay, then what do you recommend doing about this rule for the cases I mentioned above? It currently tells users to remove those parentheses, which will similarly give them a syntax error if they don't add them back elsewhere. Remember, the rule already has this behaviour for every other production in the grammar that starts with an expression.

We can make the rule smarter and warn them about a p

[2016-01-11 21:46] digencer opened #4923 "Rule Proposal: Warn after expiration date"
In one of my projects, I needed to use a code block that had to be replaced before a certain date. And I implemented a new rule that warns when the expiration date has come.

I think it can be used to flag any code block with expiration date for any reason, therefore I’m proposing it as a new rule. An example usage is shown below:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post

[2016-01-11 22:42] mathiasbynens commented on #4915
@nzakas: https://travis-ci.org/babel/babel/jobs/101628941#L116

[2016-01-11 22:53] nzakas commented on #4923
Interesting idea, but I think this is best as a custom rule as I'm unsure that this use case is general enough to be included in the core.

[2016-01-11 22:53] #4923 closed

[2016-01-11 22:57] nzakas commented on #4915
@mathiasbynens we only ask for information that's helpful. :) Sometimes people misread or misrepresent an actual error, that's why we ask for the complete console output. It really helps cut down on the amount of time it takes to triage a bug.

So this is definitely in `no-extra-semi`, but I can't reproduce. I also can't see how the rule ever would flag such code based on the implementation. Per @

[2016-01-12 00:00] #4915 closed

[2016-01-12 00:22] leeching commented on #4914
Sorry, I made a mistake. It should be
[code]
But the error remains.

[2016-01-12 00:26] BYK commented on #4923
I think this is a general enough idea. We need something like this at @disqus and I also know GitHub does something similar in their tests.

Mind reconsidering @eslint/team?

[2016-01-12 00:26] btmills commented on #4914
@leeching try @michaelficarra's suggestion. Your code right now has a syntax error.

[2016-01-12 00:33] leeching commented on #4914
@btmills I see, thanks.

[2016-01-12 01:57] Slayer95 commented on #4923
+1

[2016-01-12 06:50] mugli commented on #1092
@andersekdahl Any update on this? :)

[2016-01-12 06:56] saneyuki opened #4925 "bug: 'no-useless-constructor recognizes the required constructor of subclass as the error."
## env
- 2.0.0-beta.1

## steps to reproduce

1. Enable `no-useless-constructor` as warning/error
2. Lint this code

[code]

## result

- the error message is:
  - `7:5 error Useless constructor no-useless-constructor`
- In this case, `TestComponent`'s constructor must be called, so it should not be the error.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www

[2016-01-12 07:03] tschaub commented on #4900
This looks like a regression introduced by 0d50df705f1df2d1486c7fdad14ab0aefd31215f

Here is the source code and complete config (same as in the original description):
[code]

[code]

I would expect the above code to be valid according to `valid-jsdoc`.  The documentation block is not associated with the function expression.

Prior to 0d50df705f1df2d1486c7fdad14ab0aefd31215f, the `valid-jsdoc` rul

[2016-01-12 07:34] tschaub commented on #4900
@nzakas let me know if the description above is still not clear.  The change in #4926 corrects this particular case.

[2016-01-12 12:17] IanVS commented on #4923
@digencer, have you released your rule as a plugin?

[2016-01-12 13:53] platinumazure commented on #4923
I wonder if there might be utility for a comments-based plugin in general for this sort of thing? Another thing I would be vaguely interested in is something that checks the top of a file for a correctly formatted copyright message (according to a pattern defined in the rule's configuration).

[2016-01-12 14:06] digencer commented on #4923
@IanVS, haven't released yet but we are using it internally, I can share the code.

[2016-01-12 14:19] ilyavolodin commented on #4925
JavaScript will provide a default constructor that will call super by default. So you don't need constructor in this case. I think this is correct behavior.

[2016-01-12 14:22] platinumazure commented on #4916
If nothing else, I'm curious how we handle the range of all elements being affected since a comment involves adding at least two characters (and since hashbangs go at the beginning of a file, this means *all* AST nodes are affected).

[2016-01-12 14:59] gauntface opened #4927 "Replacements Error Messages"
Hi,

I'm constantly getting the following error messages in eslint form the command line:
[code]
I've searched my eslint file and it's not defining any of those rules and the only way I've found that makes these errors go away is to define them and disable the warning i.e. add 'no-empty-class': 0 to my eslint rule.

I've tried wiping my npm modules with no changes. I'm pretty much out of ideas whe