[2016-12-22 01:16] ilyavolodin commented on #3458
@not-an-aardvark Your proposal address collisions with multiple configs/plugins of different version. It does not address the changes needed to allow configs to have hard dependency on plugins, however. How would you handle (with the same code) scenarios where plugin exposes shareable config and it's own rules and is extended by another shareable config? How would plugin with shareable config refe

[2016-12-22 01:29] freshp86 opened #7807 "Proposal: outerIIFEBody should accept multiple values."
Currently I can set outerIIFEBody to either 0 or 1. But I can't have both allowed at the same time. Proposing the following:

[code]

The real use case behind this is having a large codebase that already uses both styles, and not wanting to aggressively migrate to a single style. Perhaps the same need would apply to other indent options too.

[2016-12-22 01:53] webOS101 commented on #2309
Just to throw in my $.02, I am in favor of a `--strict` option as well.  `--max-warnings=0` is a nice work-around for use with our CI tool, but it would be nice to have the full list of warnings show up in the CI output.  We already support two flavors of our eslint config, normal and strict.  Having a 3rd, 'ultra-strict', set would be annoying and would likely result in options not getting update

[2016-12-22 01:56] not-an-aardvark commented on #3458
@ilyavolodin Thanks for the feedback on the proposal. However, I don't understand some of the issues you raised.

I'm not sure I understand the distinction you're making. As far as I can tell, the proposal *would* allow configs to have a hard dependency on plugins (that the main design goal). Could you clarify why you don't think it would work?

This would work the same way as it currently does. T

[2016-12-22 02:08] webOS101 commented on #2309
Well, never mind.  Looks like it still outputs them all. I guess I should have tested it before shooting off my mouth.

[2016-12-22 02:40] mysticatea commented on #3458
Let me introduce an example of shareable configs which are using plugins.
Somebody don't need to install the plugins to use the config.

- [eslint-config-mysticatea]

This config depends on 3 plugins; [eslint-plugin-eslint-comments], [eslint-plugin-mysticatea], [eslint-plugin-node].
However, we can install the config with `npm install --save-dev eslint eslint-config-mysticatea` then we can use it.

[2016-12-22 03:08] ljharb commented on #3458
@mysticatea relying on the automatic installation of peer deps, while also relying on npm 3+'s flattening, is certainly a very clever trick, but in no way do I think that's a proper solution to this problem. Additionally, because of the way [your peer deps are defined](https://github.com/mysticatea/eslint-config/blob/master/package.json#L20-L22), if I already have an existing top-level dep on `esl

[2016-12-22 03:28] nzakas commented on #3458
I know this is a long thread, but I pointed out earlier that placing this burden on the end user is unfair and not something I support. It shouldn't be up to end users to understand a magical dependency path to get a rule to work -- that burden should be on the shareable config developer alone. Shareable configs should be black boxes to their consumers, anything more is going far beyond what is ei

[2016-12-22 03:30] ljharb commented on #3458
@nzakas i'm still unclear on how i can try out that approach without changes in eslint, since plugins that my plugin depends on still currently need to be top-level deps.

[2016-12-22 03:33] nzakas commented on #7764
As noted, you must use babel-eslint for experimental syntax.

[2016-12-22 03:33] #7764 closed

[2016-12-22 03:42] nzakas commented on #7601
Closing, as no further details were given.

[2016-12-22 03:42] #7601 closed

[2016-12-22 03:47] nzakas commented on #7508
I'm sorry, this isn't something we can support easily, as there are a lot of assumptions built into how ESLint looks up paths right now.

We unfortunately have too many other open and active issues affecting a larger number of people, so it's unlikely that a change will be pursued anytime soon.

Thanks for the feedback.

[2016-12-22 03:47] #7508 closed

[2016-12-22 03:47] nzakas commented on #7500
Can we close this now?

[2016-12-22 03:59] not-an-aardvark commented on #3458
@nzakas Thanks for the feedback.

It's unclear to me how shareable configs can be considered "black boxes". Even with their current behavior, the user has to know a lot about a config's internal dependencies and structure. For example, the user has to configure a rule based on the name of the plugin that it comes from (e.g. `import/no-unresolved`). Also, with the current behavior, the user has to

[2016-12-22 04:00] ilyavolodin commented on #3458
@nzakas The problem I have with your approach, is it sort of promotes marketing somebody else's work as your own. While in your example you export rules out as `react/ruleName`, not everyone might do that since it's not enforced in any way, in that case, to the end user it will look like rules that are configured by current plugin are also written by the same person. This makes for ambiguous owner

[2016-12-22 04:14] #7500 closed

[2016-12-22 04:34] the-simian commented on #7508
thats fine @nzakas , thanks for the response and the great project

[2016-12-22 16:08] butlermd commented on #7802
Docs updated.

[2016-12-22 16:08] #7802 closed

[2016-12-22 16:23] marcuswestin commented on #3611
I have a use case currently blocking on this in github.com/marcuswestin/store.js (current v2-dev branch).

All of the library addons and storages have a `_test.js` file in the same directory (e.g `cookieStorage.js` has `cookieStorage_test.js`), and all test files depend on three global functions (`test`, `assert` and `print`).

The most sensical way to configure this project structure would be to

[2016-12-22 16:35] vitorbal commented on #6505
Is there a final proposal on how the schema for this option would look like?

[2016-12-22 16:50] ikokostya commented on #3611
Workaround is simple:

* Create folder with eslint configs:
[code]

[code]

* Add target in your `Makefile` (or whatever):

[code]

There is only one drawback: two eslint calls.

[2016-12-22 17:50] hpurmann commented on #3611
@ikokostya And you lose all editor support which is a major drawback. I want to see problems with my code while I'm typing, not only in a separate `test` run.

[2016-12-22 17:55] ikokostya commented on #3611
@hpurmann this is *workaround*. If you want editor support - make this issue or write plugin.

[2016-12-22 18:13] marcuswestin commented on #3611
Thanks for taking the time to write up the workaround. Its overhead and
shortcomings are too great for my taste. I settle with declaring those
globals for all files, and waiting for the correct solution :)

On Thu, Dec 22, 2016 at 12:55 PM ikokostya <notifications@github.com> wrote:

-- while mobile

[2016-12-23 03:07] mondwan opened #7809 "Bug report: Comma dangle always throw error"
**Tell us about your environment**

* **ESLint Version:** v3.12.2
* **Node Version:** v6.9.1
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[code]

**What actually happened? Ple

[2016-12-23 03:42] kaicataldo commented on #7693
As an update: looks like consensus is to put this behind an option. Thoughts on an option name? `exceptEOLComments`?

I'm going to be less active over the next week, but plan to get back to this in the new year.

[2016-12-23 04:03] kaicataldo opened #7810 "Proposal: add option to include comments in token store methods"
**What version are you using?**
Master

**The problem I'm trying to solve**
On instantiation, the `sourceCode` object [creates a token store and then creates public methods that call through to the token store methods](https://github.com/eslint/eslint/blob/master/lib/util/source-code.js#L125). Since this does not include comments, we have had to create a separate store that includes comments and t

[2016-12-23 04:05] not-an-aardvark commented on #7809
Hi,

This looks like it's working as intended. You have the `functions` option set to `always-multiline`, so you should add a trailing comma like this:

[code]

Alternatively, if you want to disallow trailing commas for functions (trailing function commas aren't supported yet in some engines), you can configure the rule like this:

[code]

[2016-12-23 04:09] not-an-aardvark commented on #7810
:+1: for the idea. I'm wondering if we should change the function signature to have an object as the second parameter:

[code]

For backwards compatibility, we could treat the second argument as `skip` if it's a number. I think adding more arguments might make the function confusing to read. Without looking at the documentation, it's hard to tell what the `0` here is doing or why it's necessary:

[2016-12-23 05:03] mysticatea commented on #7810
:+1: .
Actually, I have been thinking to refine `TokenStore` with ES2015 classes within this new year vacation, then merge `tokensStore` and `tokensAndCommentsStore`

[2016-12-23 06:04] minj commented on #7693
Seems reasonable assuming `false` is the default

[2016-12-23 06:22] not-an-aardvark commented on #7693
I would prefer an option name like `ignoreEOLComments` rather than `exceptEOLComments`.

@minj I think the default behavior would be the same as the current behavior, to avoid breaking peoples' builds.

[2016-12-23 06:56] minj commented on #7693
That's what I meant. The option name should reflect non-default behavior so that `false` is the default.

either `ignoreEOLComments=false` or `exceptEOLComments=false` by default.

[2016-12-23 06:59] minj commented on #7693
err, I meant `includeEOLComments=false`

[2016-12-23 17:42] #7790 closed

[2016-12-23 17:57] kaicataldo commented on #7810
@not-an-aardvark I think it makes sense to combine all the additional options into a single object parameter when possible!

@mysticatea Sounds like we were thinking of the same thing!

[2016-12-23 18:40] kaicataldo commented on #7810
@mikesherov Would love your take on this since, according to [this comment](https://github.com/eslint/eslint/pull/7696#issuecomment-265036375), it sounds like JSCS did something similar?

[2016-12-23 19:00] kaicataldo commented on #7668
@platinumazure This issue seems very similar to https://github.com/eslint/eslint/issues/6874, which is already accepted. Can this all be handled together?

[2016-12-23 19:27] greyvugrin commented on #6148
I'm still seeing an issue when using @mysticatea 's example:
[code]

^ both \ are now highlight above as unnecessary, with the /.../g syntax, only the first one was marked as an error.

[2016-12-23 22:37] mikesherov commented on #7810
JSCS had standard token iterators with optional ability to include comments. I think it worked out well :-). Default IMO should be to include comments considering if you're in token land, you're typically going to care about comments interfering with style.

[2016-12-23 23:48] platinumazure commented on #7668
@kaicataldo I suppose so. I'll close this.

[2016-12-23 23:48] #7668 closed

[2016-12-23 23:50] platinumazure commented on #6874
@kaicataldo has suggested also solving issue #7668 in this one. So the goal would be for the basic UX to change around plugin errors (i.e., user can tell via pretty exception message whether the plugin didn't exist or it threw an exception); and `eslint --debug` should also give some more information in this same scenario.

[2016-12-23 23:54] platinumazure commented on #4680
@rkaneko I see you've written a commit for this in July. Is this something you might be willing to submit as a pull request?

[2016-12-24 01:32] mysticatea commented on #6148
@greyvugrin both `\[` and `\]` are unnecessary escape in string literals.

[2016-12-24 20:05] #7789 closed

[2016-12-24 20:09] not-an-aardvark commented on #7772
Closing this issue -- as described above, `/\{/` is only a useless escape for engines that implement Annex B, but it's not useless for JS engines in general.

[2016-12-24 20:09] #7772 closed

[2016-12-24 20:11] not-an-aardvark commented on #7656
Now that https://github.com/eslint/eslint/pull/7793 is merged, `no-useless-escape` will no longer warn about escaped `]` in regular expressions.

[2016-12-24 20:36] orta opened #7812 "Proposal: JSDoc only on exported nodes"
**What rule do you want to change?**

`require-jsdoc` - [link](http://eslint.org/docs/rules/require-jsdoc)

Support making a rule so that the ESLinters for JSDocs are only applied on items which are going to leave the current source file ( and thus would be visible outside of the current scope. )

**Does this change cause the rule to produce more or fewer warnings?**

It would add an option to pro

[2016-12-24 21:12] kaicataldo commented on #7810
@mikesherov Agreed that it would be nice if it was on by default, but I don't think that's a good idea in this case only because it could break plugins/tools in the ecosystem that currently rely on comments not being included. Even in a major version, I'm not convinced that it's worth the change at this point.

[2016-12-24 21:34] mikesherov commented on #7810
That's fair, although I think you'll find it wouldn't break userland as much as you think, and the cases it does break would be a bugfix. But I'm fine with not changing default.

[2016-12-24 21:58] not-an-aardvark commented on #7810
I'm in agreement that we should not include comments by default. In fact, even disregarding backwards compatibility, I want to exclude comments in most of the cases where I use these functions.

A typical use-case is:

[code]

[2016-12-24 22:44] mikesherov commented on #7810
@not-an-aadvark although we all agree to not include comments by default... as a thought exercise, can you explain how including comments in the code you posted would result in the wrong thing happening?

[2016-12-24 22:55] feross commented on #7748
The `flat-cache` patch is published now, so I think this issue can be closed.

[2016-12-24 22:55] #7748 closed

[2016-12-25 00:00] not-an-aardvark commented on #7810
@mikesherov If the list returned by `getTokensBetween` included comments, and the code looked like this:

[code]

Then `operatorToken` would end up assigned to the block comment containing a `+`, rather than the `+` operator.

[2016-12-25 00:05] not-an-aardvark commented on #7776
Thanks for the proposal. Sorry, it looks like this issue slipped past us.

I think it would be reasonable to have an option to sort `ObjectPattern` keys as well. To maintain backwards compatibility, it would have to be off by default.

I've added a :+1: to this issue. To be accepted, someone on the team will need to champion it, and it will need two more :+1:s from team members.

[2016-12-25 01:25] mikesherov commented on #7810
@not-an-aadvark that seems like it would be almost impossible for that to happen.

[2016-12-25 01:57] not-an-aardvark commented on #7810
I agree that comments like this are probably quite rare, but I don't think that matters -- if comments were included in the token store by default, the rule logic would have work around them to account for the possibility of a comment like this. The code is trying to use logic that is only applicable to tokens, not comments. This is the case the majority of the time I use `tokenStore` methods, whi

[2016-12-25 04:31] platinumazure commented on #7812
Seems like a possible extension to `require-jsdoc`. Could you please put together a Rule Change Proposal?

[2016-12-25 06:23] tnguyen14 opened #7813 "support for flow comment syntax"
**What version are you using?**
v2.10.2

**What did you do?**
Flow supports the comment syntax, such as
[code]

**What happened?**
However, writing it as such will cause an error with the `spaced-comment` rule
[code]
**What did you expect to happen?**
Should eslint be able to detect the file using flow (with the header `/* @flow */` and relax this error?

[2016-12-25 08:56] mondwan commented on #7809
Really? Does ES6 allows us to type arguments in this manner?

As ES5, `console.log('a',)` is a syntax error.

Although the rule's name tells what it suppose to check, I don't think it
is good to show a warning in this scenario which lead to a syntax error.

2016年12月23日 12:05，"Teddy Katz" <notifications@github.com>寫道：

[2016-12-25 09:36] not-an-aardvark commented on #7809
Trailing function commas are allowed in ES8 syntax.

By default, the rule will not report an error for missing function commas. However, since your configuration contains `"functions": "always-multiline"`, it reports an error. To avoid this, you should use `"functions": "never"` (or omit the `"functions"` option), and the rule will no longer report an error.

[2016-12-25 13:27] aniddan opened #7814 "Make ES6 default"

[2016-12-25 16:25] orta commented on #7812
Ah yeah, good point, I have updated it as a change request proposal

[2016-12-25 17:41] nzakas commented on #7810
Just my 2 cents: I'd prefer not changing the exposed methods or their signatures. Those are exposed to rules, and I don't think there's a bug enough gain for the ecosystem to absorb a breaking change there.

That said, the implementation details of the existing methods can change to whatever makes the most sense. The token store isn't exposed as part of our API, so I think it's open season for any

[2016-12-25 17:55] nzakas commented on #7773
CWD indicates the directory in which ESLint is running, not where to look for plugins. I don't think it's a good idea to change this behavior as it could break a lot of people's existing code.

I'm not opposed to adding a new option for this purpose, though.

[2016-12-25 17:57] nzakas commented on #7757
Given the existence in plugins already, my preference would be to not add a core rule for this.

[2016-12-25 18:00] nzakas commented on #7739
@ValYouW if you'd like to propose a rule change, please update the deescriptiob of this issue with a proposal using this template: https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md

[2016-12-25 18:03] nzakas commented on #7812
I don't think we currently check CommonJS exports, and if we do, I wouldn't want to group that into this option.

If the option was just for ES6 exports, I have no problem with it.

@orta would you be up for implementing this if accepted?

[2016-12-25 18:34] nzakas commented on #7773
Realized I was thinking about this incorrectly and shareable configs and plugins should probably relate to CWD. This is a breaking change, though, so we need to be careful about how we introduce this.

[2016-12-25 20:15] alberto commented on #7813
According to [this post](https://flowtype.org/blog/2015/02/20/Flow-Comments.html) you can use spaces after the comment token, so it makes sense you use that syntax if you use `spaced-comment`.

[2016-12-25 22:47] ValYouW commented on #7739
@nzakas Done, not sure whether a change to rule is needed or a new rule (or discarded altogether, I am using a custom rule for now)

[2016-12-26 02:56] mondwan commented on #7809
Oh, thanks. I have tried `never` in `functions` and it works as expected.

Just one more question. Does `parserOption.ecmaVersion` means anything here? As I have tried explicitly specified this `ecmaVersion: 5` along with `function: always-multiline`, it still shows an error.

Should `ecmaVersion` controls how other rules behaves?

Configuration here
[code]

[2016-12-26 05:25] not-an-aardvark commented on #7809
No, `ecmaVersion` generally does not affect how rules behave. To prevent missing commas from being reported, you should set the `functions` option explicitly (or omit the option, since the default behavior is to ignore trailing function commas).

[2016-12-26 05:35] mondwan commented on #7809
Will this feature be implemented in the future?

Since syntax may be keep varied significantly as this issue revealed in the
coming future, it may break existing linting results even users are still
using ES5 at all.

Just an open question and thanks for answering. Merry Christmas:)

Close #7809

2016年12月26日 13:25，"Teddy Katz" <notifications@github.com>寫道：

No, ecmaVersion generally does not affec

[2016-12-26 06:12] ljharb commented on #7809
It definitely seems like trailing function commas should never be warned prior to an `ecmaVersion` of 2017, since there's no fix that's correct there.

[2016-12-26 06:31] mysticatea commented on #7809
People can use ESLint with a custom parser, and `parserOptions` are defined by the each custom parser. For example, `babel-eslint` does not have `parserOptions.ecmaVersion` option.

So, core rules do not depend on `parserOptions` basically.

[2016-12-26 06:42] ljharb commented on #7809
Interesting, that does make sense.

Perhaps the rule should use the current parser, and determine if the dangling comma would be a syntax error or not, before requiring it? That seems like it would work for every parser.

[2016-12-26 06:51] kaicataldo commented on #7810
@nzakas Just to clarify, are you advocating that we keep the current API of separate methods for token iteration with and without comments, adding new ones as we need them?

[2016-12-26 07:08] not-an-aardvark commented on #7809
I don't think this is a problem, because the default behavior is to ignore function commas (even when `comma-dangle: [error, always]` is used. The rule only checks for trailing commas in functions if the user explicitly enables `functions: always` in their config. If someone is explicitly opting into requiring commas for functions, then it seems unnecessary to use things like parser heuristics to

[2016-12-26 07:09] ljharb commented on #7809
Fair point :-)

[2016-12-26 07:09] ljharb commented on #7809
Maybe it would still be useful to do one require-time check for the syntax, and error out if the syntax is not supported and it is enabled - that way users will know if it's an option.

One way to do that could be making the schema conditional on whether the parser allows the syntax.

[2016-12-26 10:35] mondwan commented on #7809
In my case, I think this is a bug until @not-an-aardvark answer. It is not very straight forward for me to think this is a kind of `ECMA` versioning problem as everything work fine before upgrading `eslint` from some old version.

That's why I have such question about `ecmaVersion`. If errors include some message about `ECMA` version, I maybe able to debug it myself at the first place.

[2016-12-26 12:48] flying-sheep commented on #6251
I would like to see an additional extension: `longform`. (or `requiredWhen: { isLongform: true }`)

Examples of **correct** code for this rule with the `{"longform": true }` option:

[code]

Examples of **incorrect** code for this rule with the `{"longform": true }` option:

[code]

---

i think there should be a way to say that those three are OK, but i can’t think of one:

[code]

[2016-12-26 15:41] orta commented on #7812
If it was just for ES6 exports, yep. If it was all the different cases in commonJS, maybe not. Lots more edge cases there, and the syntax is new to me, only had to write ES6.

[2016-12-26 16:35] platinumazure commented on #7809
I could get behind a messaging change that mentions when dangling commas in functions are actually valid. @not-an-aardvark Thoughts?

[2016-12-26 17:47] vitorbal commented on #7812
I would be in favor of this enhancement (for ES6 exports) :+1:
On Mon, Dec 26, 2016 at 4:41 PM Orta <notifications@github.com> wrote:

[2016-12-26 17:53] nzakas commented on #7810
@kaicataldo precisely. Sorry for being unclear.

[2016-12-26 17:55] nzakas commented on #7813
ESLint doesn't know anything about Flow syntax, and our policy is not to make exceptions for anything that isn't standard JavaScript.

[2016-12-26 17:56] nzakas commented on #7791
No response and not enough detail, so closing.

[2016-12-26 17:56] #7791 closed

[2016-12-26 18:01] nzakas commented on #7774
I'm :-1: on this in core. We have tried to stay away from adding new rules that only disallow a specific syntax, as these are of very limited use (we added `no-restricted-syntax` so we could avoid doing this going forward -- I know that doesn't work for this case, but that's beside the point).

I'd suggest creating a plugin for this rule instead.

[2016-12-26 18:44] not-an-aardvark commented on #7736
It looks like the conclusion was that this is not a bug in ESLint, so I'm going to close this issue.

[2016-12-26 18:44] #7736 closed

[2016-12-26 18:48] not-an-aardvark commented on #7809
I would be fine with it, but I'm a bit confused about how it would be accomplished. I suppose having the rule call the user's parser would work.

[2016-12-26 18:50] platinumazure commented on #7809
Oh, I wouldn't want to add a parser call- I just meant improving the lint
message to say that dangling commas in function arguments are only allowed
in ES2017. Sorry for the confusion.

On Dec 26, 2016 12:48 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-12-26 18:50] ljharb commented on #7809
I'm suggesting exactly that - have the rule call the user's parser with `function test(a,) {}` and see if it successfully parses - if so, great, if not, error out when `functions` is used.

[2016-12-26 18:51] ljharb commented on #7809
"only allowed in ES2017" wouldn't be quite accurate, since as you say, people could be using a custom parser - that message would only be valid for the default parser.

[2016-12-26 19:01] platinumazure commented on #7809
@ljharb I was trying to reference a standard, not an `ecmaVersion`. But it might be a bit too subtle a distinction, so I'm open to suggestions.

[2016-12-26 19:02] ljharb commented on #7809
What would be the problem with a single parser call at rule load time, cached at module level?

[2016-12-26 19:11] platinumazure commented on #7809
I don't have a position (yet) on attempting to parse. I was only trying to clarify what I was asking @not-an-aardvark the whole time :smile:

[2016-12-26 20:08] flying-sheep opened #7817 "Adding tests for TypeScript"
Hi, I’d like to extend a few rules so that they play well with the [typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser).

Is it feasible to pull that parser in for tests, or should I go another route (e.g. serializing the SourceCode emitted by it and using that)?

---

An example would be the [new-parens](http://eslint.org/docs/rules/new-parens) rule and the follwing code

[2016-12-27 04:55] Trott commented on #7423
If it's a helpful data point, this came up in the Node.js project: https://github.com/nodejs/node/pull/10408/files/b417c9da84dfd122021a6c3c0e367ec9d6b67abc#r93858090

[2016-12-27 15:16] platinumazure commented on #7423
@Moeriki What do you think of [@mysticatea's proposal](https://github.com/eslint/eslint/issues/7423#issuecomment-255592836)? Is that close to what you're looking for?

It would be good if we could agree on a proposal and get that into the initial post, so the team has something concrete to evaluate.

[2016-12-27 17:05] kaicataldo commented on #7810
@nzakas Having made the issue, I obviously disagree. Making all the currently available token iterators have the ability to include comments gives rule creators more tools. Right now, they would have to request that we add a new method to core every time they need new functionality, as I had to while working on the PR that led me to this.

What if we made this change in a non-breaking change (impl

[2016-12-27 17:32] jfo84 commented on #6955
Seconded @platinumazure

[2016-12-27 17:46] nzakas commented on #7810
@kaicataldo sorry, I think I'm missing what you're disagreeing with.

Let me try to be clearer: I don't want to remove or change existing methods on SourceCode because that is part of the public API that rules rely on. Other than that, I pretty much have no objections. The implementation details of those methods can and should be changed when they can be improved. If you want to change how TokenSt

[2016-12-27 17:47] nzakas commented on #7817
If you can do it in such a way that the rule isn't looking for TypeScript-specific syntax, then that's fine (we just don't want special cases for nonstandard syntax embedded in the rules).

[2016-12-27 17:54] nzakas commented on #7564
Question: why are arrow functions with an explicit return special? (I noted it was said avoiding all arrow functions was undesirable, but no reason was given.)

[2016-12-27 17:56] platinumazure commented on #7810
@nzakas Does your point apply even to non-breaking API changes, like adding extra parameters? Because as far as I can tell, @kaicataldo's proposed implementation is non-breaking except for if any of the `getTokenOrComment*` methods are removed (and he has noted that those methods could delegate to the `getToken*` methods with `{ includeComments: true }`.

I also like the general direction of his p

[2016-12-27 23:01] ljharb commented on #7564
Explicit return arrows are not special - when they are not using `this`, they are trivially similar to concise methods - i.e., they can contain statements. Implicit return arrows are the things that are special, in that they are functions that can only contain one expression and implicitly return its value.

[2016-12-28 00:35] #7594 closed

[2016-12-28 13:13] flying-sheep commented on #7817
i think i can do that. my main question however was how to write the tests:

can I use (and therefore add a dev dependency for) typescript-eslint-parser?

[2016-12-28 15:25] broofa opened #7818 "eslint-configured globals should not be reported as unused"
* **ESLint Version:** v3.11.1
* **Node Version:** v6.9.1
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

See `cat .eslintrc.json`, below

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

Since `foo` is never actually declared in real co

[2016-12-28 17:21] platinumazure commented on #7817
I think we ran into a similar thing with babel-eslint. Looking at our package.json devDependencies, I don't see babel-eslint in there. So I would guess that fixtures with parse data were created for those test cases. Not 100% sure, but my guess is you should use fixtures as well.

[2016-12-28 18:11] not-an-aardvark commented on #7817
For an example, see https://github.com/eslint/eslint/commit/c0f49378f2d43c83065f85d5adff25ac24a9dc82

[2016-12-28 18:14] nzakas commented on #7810
Let's be clear, are you talking about TokenStore methods or SourceCode methods? I'm only concerned about the latter.

In general, I find the aesthetics of getNextTokenOrComment preferable to adding another parameter to getNextToken where there's only one known option in an options object (to me, it aids my understanding better vs. needing to look at the end of the call to see if it's doing somethi

[2016-12-28 18:18] nzakas commented on #7818
This is working as designed. The inline comment defining the global is treated the same as var. If you're not using a global that you have defined in the file, then there's no reason to have it defined there.

Also, the global comment is hoisted, so it's applied before your code is evaluated. I'm afraid this is just an improper use of the global comment, and I'd suggest just removing the "global"

[2016-12-28 18:20] nzakas commented on #7814
No description, so closing.

[2016-12-28 18:20] #7814 closed

[2016-12-28 18:29] nzakas commented on #7806
I'm pretty sure I wrote this rule, and the intent really was to disallow calls to console.log and friends, not to eliminate using the console identifier altogether (the [docs](http://eslint.org/docs/rules/no-console) don't mention it). As such, I think this proposal makes sense if @mockdeep is willing to implement it.

I'd suggest both changing the default and adding an option to re-enable the cur

[2016-12-28 18:34] nzakas commented on #7688
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-28 18:34] #7688 closed

[2016-12-28 18:38] nzakas commented on #7656
Can this be closed @not-an-aardvark ?

[2016-12-28 18:40] nzakas commented on #7682
Team - we need a champion for this proposal or else it's time to close it.

[2016-12-28 18:41] nzakas commented on #7636
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-28 18:41] #7636 closed

[2016-12-28 18:42] not-an-aardvark commented on #7656
I'm not sure. While we relaxed the behavior by default for `]` characters, it's possible someone would still want an option to add exceptions for characters other than `]`.

However, given that I asked a week ago and no one has mentioned that they would want another exception, I suppose it's probably safe to close this.

[2016-12-28 18:42] #7656 closed

[2016-12-28 18:42] nzakas commented on #7632
Team we need a champion for this or else it's time to close the issue.

[2016-12-28 18:43] ljharb commented on #7656
The other exception I'd want is `)` when not preceded by a `(`, but I don't want it enough to request the issue be reopened :-)

[2016-12-28 18:43] nzakas commented on #7588
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-28 18:43] #7588 closed

[2016-12-28 18:51] nzakas commented on #7564
@ljharb sorry, I think I wasn't clear. I don't understand why it makes sense to avoid only one form of arrow function for this option.  I can understand wanting to prevent arrow functions from being assigned to properties, but saying the presence of "return" in the body is the determining factor is the type of overly specific targeting that we've tried to avoid in core rules. Otherwise, we will en

[2016-12-28 18:51] nzakas commented on #7532
Team - we need a champion for this otherwise it's time to close the issue.

[2016-12-28 18:52] nzakas commented on #7543
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-28 18:52] #7543 closed

[2016-12-28 18:54] not-an-aardvark commented on #7564
Just to make sure we're on the same page, the rule isn't checking for the presence of `return`, it's checking for a `BlockStatement` as the arrow function body.

So this would also get reported:

[code]

But this would not get reported:

[code]

[2016-12-28 18:55] nzakas commented on #7533
I'd suggest creating a custom rule to do what you need.
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea

[2016-12-28 18:55] #7533 closed

[2016-12-28 18:56] nzakas commented on #7526
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-28 18:56] #7526 closed

[2016-12-28 18:57] ljharb commented on #7564
Right - the point is to prefer the more concise form when it's effectively equivalent, which is only the case in the block body form (called "explicit return" even when it omits `return`). With the implicit form, the concise method version would be more verbose and would require adding a `return`, and so I wouldn't want to encourage users to avoid arrows in that case - ie, I want only implicit-for

[2016-12-28 18:58] nzakas commented on #7586
I don't think we should make a change here. There's no guarantee that core rules work correctly with Flow, TypeScript, or any other dialect other than plain JS. I'm not sure there's much value to most users in going through the process if we can't know whether or not the results will be useful.

[2016-12-28 19:01] platinumazure commented on #7586
[@nzakas' comment](https://github.com/eslint/eslint/issues/7586#issuecomment-269523045) makes a lot of sense. If we choose not to make a change here, though, I would propose we should have either a question or comment show up during `--init` which asks the user to confirm they're using only/mostly standard features (or just mentions that we can't guarantee `--init` will work with nonstandard featu

[2016-12-28 19:05] not-an-aardvark commented on #7586
Maybe we could catch the parsing error and ask the user afterwards if they would like to install/use a custom parser?

It's possible new users won't know what parser to select, but it seems better than crashing and aborting immediately.

[2016-12-28 19:06] platinumazure commented on #7632
I'll champion this, for `allowTemplateTags: true`. (I agree with [@not-an-aardvark's comment about local renaming](https://github.com/eslint/eslint/issues/7632#issuecomment-262336092).)

I've removed my :+1: on the rule comment since I'm now championing the rule. We need two more :+1:s to get this accepted.

[2016-12-28 19:08] platinumazure commented on #7586
@not-an-aardvark I have no objection to that proposal except simply to question if it's worth the development/maintainability cost. If nothing else, we could start by documenting the limitation, then revisiting if we get more demand for change.

[2016-12-28 19:08] platinumazure commented on #7806
@nzakas Is your proposal a breaking change?

[2016-12-28 19:09] platinumazure commented on #7682
@eslint/eslint-team If we can get a champion on this, we can accept the issue.

[2016-12-28 19:14] not-an-aardvark commented on #7806
I am slightly concerned with changing the default behavior for this proposal because it would prevent code like this from being warned:

[code]

In other words, I would personally want the rule to warn whenever I access a property of the `console` object, because it's possible that another function (in this case, `Promise.prototype.then`) would call the method for me.

On the other hand, I suppose

[2016-12-28 19:15] not-an-aardvark commented on #7682
I'll champion this.

[2016-12-28 19:17] platinumazure commented on #6505
@vitorbal I'll throw this out:

[code]

This could later be complemented with an `ignoreAssignmentsFor` (for per-identifier full reassignments), if desired. I also propose that the new option would not be usable with `properties: true`.

Thoughts?

[2016-12-28 19:36] platinumazure commented on #6505
Adding "tsc agenda" as a TSC member has expressed opposition.

**TSC Summary:** This proposal is for a new rule option for `no-param-reassign` (name still being bikeshedded). In Angular, Express, and Chrome extensions (among other places), it is common and expected to mutate properties of function arguments. The new rule option takes in a list of identifiers (strings); when any of those identifier

[2016-12-28 19:38] platinumazure commented on #7799
@not-an-aardvark I'll give that a try at some point in the next few days. Thanks for the suggestion!

[2016-12-28 19:42] platinumazure commented on #6828
@jrsearles It's been a while, just wanted to know if you had any thoughts on recent comments. It'd be great to coalesce on something so we can move this forward. Can we maybe just use the old style names (allman/1tbs/stroustrup) for now, and then discuss changing the names as a semver-major change in a separate issue?

[2016-12-28 19:43] platinumazure commented on #7260
@Moeriki @mysticatea Do either of you have any thoughts on [my most recent comment](https://github.com/eslint/eslint/issues/7260#issuecomment-263653956)?

[2016-12-28 20:08] rhbecker commented on #6505
@platinumazure

Regarding your proposed implementation, I had actually hoped to maintain `{ "props": true }` while providing a means for ignoring particular properties for particular identifiers.

As I stated earlier, my use case is related to the Express docs suggestion for [setting per-request values within middleware](http://expressjs.com/en/api.html#res.locals) by modifying `res.locals`. Ideal

[2016-12-28 20:38] rhbecker commented on #6505
With respect to the two issues I raised in the previous comment, is something like this too complicated?

[code]

[2016-12-28 20:42] broofa commented on #7818
@nzakas  I don't think hoisting behavior needs to be a consideration in this discussion.  Let's just assume any real references to the to globals in question appear after the configuration comment.

FWIW, if `foo` is declared in .eslintrc.json via `"globals": {"foo": true}` then there's no error.  That some globals trigger the `no-unused-var` rule but others don't is arguably inconsistent.

I don'

[2016-12-28 20:49] not-an-aardvark commented on #7818
@broofa I think @nzakas is saying to only declare the globals that actually get used in the file.

So instead of doing something like this:

[code]

You should do this:

[code]

[2016-12-28 20:50] broofa commented on #7818
@platinumazure In my use case, I'm inside a node.js module file, where setting properties of the `global` object allows you to reference them without accessing them off `global`.

So in my case I'm hanging these properties off `global` so that I can write code further down that looks like `isUser(...)` rather than having to do the more literal and cumbersome `global.isUser(...)`.  So from the pers

[2016-12-28 20:51] broofa commented on #7818
@not-an-aardvark Okay... so effectively the "Just remove the unused var(s) from the configuration comment, you moron".  😄

*shrug*  I don't know how to respond to that other than to say it's really weird that a file with no actual variable declarations can generate unused variable warnings.

[2016-12-28 20:55] not-an-aardvark commented on #7818
Sorry, maybe I'm not understanding the issue correctly. Why is it necessary to declare a global in a file if it's not used? I see that your example in the original issue involves dynamically assigning properties to the `global` object, but I don't see how that would prevent you from only declaring globals that actually get used.

[2016-12-28 21:11] broofa commented on #7818
@not-an-aardvark I want to create globals based on the structure of what I know is available.  It's the same rational as you might have for declaring `window` and `document` globals.  These are properties I know to be present in the global space.  Whether or not they're actually referenced is immaterial.

[2016-12-28 21:19] not-an-aardvark commented on #7818
If the globals are available for all files rather than a particular file, it might be better to specify them in your config:

[code]

[2016-12-28 21:40] mockdeep commented on #7806
I'm happy to have a stab at it. Can we handle my case by just checking for assignment to it? If that is what we do, then it shouldn't change for @not-an-aardvark's case.

[2016-12-28 21:43] platinumazure commented on #7806
@kaicataldo Anything you want to add here since you had :-1:'d the original post? Given your :+1: on my suggestion to use disable comments, may I assume that's your preferred alternative?

[2016-12-28 22:03] ljharb commented on #6505
@rhbecker allowing regular expressions (as opposed to simply wildcards) in user-supplied config imo is a very bad idea; it's hard to sanitize, and an improperly constructed regex could crash the process.

[2016-12-28 22:07] not-an-aardvark commented on #6505
@ljharb While I'm not sure I agree with adding a `paramsIgnorePatterns` option that allows regular expressions, I don't understand your concerns with regular expressions in general. There are a lot of rules that currently accept regular expression options. It can be sanitized by just using `new RegExp(userConfig)`.

[2016-12-28 22:09] ljharb commented on #6505
@not-an-aardvark we can discuss it on a separate medium; but what rules currently allow more than "*" wildcards?

[2016-12-28 22:13] not-an-aardvark commented on #6505
[`capitalized-comments`](http://eslint.org/docs/rules/capitalized-comments), [`default-case`](http://eslint.org/docs/rules/default-case), [`dot-notation`](http://eslint.org/docs/rules/dot-notation), [`handle-callback-err`](http://eslint.org/docs/rules/handle-callback-err), [`id-match`](http://eslint.org/docs/rules/id-match), [`line-comment-position`](http://eslint.org/docs/rules/line-comment-posit

[2016-12-28 22:36] hudson155 commented on #6505
I would love regular expressions, but my concern is that someone who wants to match "foo" has to put `"^foo$"` rather than just `"foo"`.

[2016-12-29 00:48] nzakas commented on #7806
@not-an-aardvark your use case wasn't intended to be supported and is not mentioned in the rule docs. You could still get that behavior with a new option.

@platinumazure Reducing the number of warnings a rule produces is not a breaking change, so it should be fine. https://github.com/eslint/eslint/blob/master/README.md#semantic-versioning-policy

@mockdeep I'd say we want a mode that operates onl

[2016-12-29 01:19] broofa commented on #7818
@not-an-aardvark I'm hanging these off the [CommonJS global object](https://nodejs.org/api/globals.html#globals_global) in a specific module file, so they're only available in the context of one particular file. Hence, why I'm reluctant to do this in my config file.

[2016-12-29 01:24] not-an-aardvark commented on #7818
The Node global object is shared among all modules. If you add properties to it in one module, they will also be accessible in all other modules.

[2016-12-29 01:31] rhbecker commented on #6505
@ljharb @not-an-aardvark

Why is no one noticing that I keep referring to an example where this already exists?

That same rule also has `caughtErrorsIgnorePattern` and `varsIgnorePattern` options, which accept regex values.

I can survive without regex if it's truly counter to where you'd want to go with eslint, but I felt it was likely safe to suggest copying a design approach already implemente

[2016-12-29 01:39] rhbecker commented on #6505
@hudson155 I agree it's slightly less convenient to write as a regex, but I'd like to think that anyone who cares enough to bother specifying an exception to a linting rule that could otherwise be shut off might be willing to go the extra "mile". Also, while your example happens to be less convenient, certainly there'd be other examples where a regex would be more convenient than having to list ou

[2016-12-29 01:41] rhbecker commented on #6505
@not-an-aardvark I figured what I proposed might not be idea ... was mostly trying to exhibit what I was describing, in terms of capabilities. I bet others here are more well equipped to design a friendlier schema. If what I'm after proves too edge-case-y, I do think the originally proposed schema is better than nothing.

[2016-12-29 02:06] rhbecker commented on #6505
@platinumazure Would you mind clarifying what you meant by your statement ...

1. Is it safe to assume that you're actually referring to [`props` rather than `properties`](http://eslint.org/docs/rules/no-param-reassign#props)?
2. By "new option" are you referring to your proposed `ignorePropertyAssignmentsFor` option, or your proposed `ignoreAssignmentsFor` option?
3. Whichever option you were ref

[2016-12-29 02:28] feross commented on #7656
Yes, seconded. I want `)` but when I tested escaping it earlier like `\)`, it was already being allowed. So I didn't leave a comment. Is this intentional behavior?

[2016-12-29 03:57] not-an-aardvark commented on #7656
`)` only needs to be escaped outside of character classes.

[code]

[2016-12-29 06:22] kaicataldo commented on #7810
I was thinking of them as one and the same, since all the TokenStore methods are added to SourceCode, but I understand the confusion.

Thanks for the explanation. So, it sounds like no one is against refactoring SourceCode and TokenStore so that only one TokenStore is needed instead of two. However, it does sound like there is a discrepancy over what the API should be for traversing comments using

[2016-12-29 06:38] kaicataldo commented on #7812
Seems reasonable to me, though I'm not sold on the "scope" config option name.

[2016-12-29 06:40] kaicataldo commented on #7813
@tnguyen14 Has your question been answered? Looks like the rule is behaving as intended and that Flow allows for this style of comment.

[2016-12-29 08:19] tnguyen14 commented on #7813
@alberto thanks for the suggestion. I tried `/* : object */` syntax, but then I see this error:
`  Unexpected token /* :`

@nzakas I agree with that statement. However, I feel that expecting space or tab after `/*` is not really a "standard" language feature, more of a stylistic one?

[2016-12-29 09:37] gheljenor commented on #5123
May i reopen this?

In this case `break;` is not really needed, but... Imagine such case of refactoring:

[code]
Then we decide, to decorate output and do something like this:
[code]

If there is no rule 'no-fallthrough'  - we'll break our code. It seems, better to keep `break;`  statements in switch-case, even they are unreachable.

[2016-12-29 09:40] not-an-aardvark commented on #5123
@gheljenor To avoid that issue, you should enable the [`no-fallthrough`](http://eslint.org/docs/rules/no-fallthrough) rule.

[2016-12-29 12:43] colinjoy commented on #6890
we were able to adapt our code-style so it pleases eslint.
thank you for the input.

[2016-12-29 12:43] #6890 closed

[2016-12-29 13:50] broofa commented on #7818
@not-an-aardvark TIL  And feel like a bit of an idiot.  Thanks for correcting me.  'Not sure why I thought `global` was scoped to a module.

I need to ponder the implications of that for my own code.  It may be I should be doing this another way.

I do think there's still an issue here.  The eslint docs imply inline `global` and config file `globals` should be interchangeable:

 ([link](http://esl

[2016-12-29 13:50] #7818 closed

[2016-12-29 14:32] flying-sheep commented on #7817
so if both is OK, I’ll just see what looks most natural and go for it.

[2016-12-29 18:36] nzakas commented on #7817
Sounds good. I'm going to close this issue as the question was answered. We will look forward to reviewing your PRs.

[2016-12-29 18:36] #7817 closed

[2016-12-29 18:40] nzakas commented on #7813
@tnguyen14 you requested that ESLint look for a Flow comment and then adjust the rule output based on that. That would require ESLint to add an exception that is Flow-specific, and as I said, our policy is not to make such exceptions.

I'd suggest following up with the Flow folks to get a better understanding of what syntax is allowed and potentially creating your own rule regarding comment spacin

[2016-12-29 18:47] nzakas commented on #7810
Yeah, there's a relationship of convenience there, but we can redefine this relationship at any time.

My biggest concern is not introducing a breaking change to our exposed API because of all the custom rules that exist and may rely on methods we don't quite want around. So we can either keep them and add more as needed or deprecate them and encourage using others. I just don't think we can remov

[2016-12-29 18:50] nzakas commented on #7260
For point 3, I'd say open a separate issue.

For this issue, I think we either need someone to commit to doing it or we should close it. This has been open for three months with no progress, so it's time to make a call.

[2016-12-29 18:52] nzakas commented on #6175
Can we get some JSCS folks input here?

[2016-12-29 18:53] nzakas commented on #7648
Unfortunately, it looks like consensus couldn't be reached on this issue and so I'm closing it. While we wish we'd be able to accommodate everyone's requests, we do need to prioritize. We've found that issues failing to reach consensus after 21 days tend never to reach consensus, and as such, we close those issues. This doesn't mean the idea isn't interesting, just that it's not something the team

[2016-12-29 18:53] #7648 closed

[2016-12-29 20:03] platinumazure commented on #7813
I'm not sure we even need to do anything here. @tnguyen14 Have you tried using the [`"markers"` option](http://eslint.org/docs/rules/spaced-comment#markers) in the `spaced-comment` rule? If you simply specify `":"` as a marker, then the rule shouldn't trigger for Flow comments.

[2016-12-29 20:49] mikesherov commented on #6175
I'm for the JSCS behavior, considering it's more lenient, makes switching from JSCS easier, and we can always add the stricter version later.

That said, I'm fine either way.

[2016-12-29 22:02] greyvugrin opened #7821 "no-implied-eval False positive"
**Tell us about your environment**

* **ESLint Version:**
3.12.2
* **Node Version:**
6.9.1
* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint  (7.1.1)

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No errors to be thrown

**

[2016-12-29 22:07] jrsearles commented on #6828
Yeah - sorry. I thought it'd been settled. I'll try to update my PR to reflect these changes this weekend.

[2016-12-29 23:25] platinumazure commented on #7821
I think you're right, we're checking for the function name starting with `setTimeout`. Definitely a bug. Thanks for reporting this!

[2016-12-29 23:31] greyvugrin commented on #7821
My pleasure!

[2016-12-29 23:36] greyvugrin commented on #6148
@mysticatea in string literals, yes. But if the string is used as a regex the escape characters become necessary, otherwise the pattern is different.

 Without the escapes in `[\[\]]`, the pattern would be `[[]]`, which isn't the same.

[2016-12-30 00:12] not-an-aardvark commented on #6148
Your code is using `\[` and `\]` in a string literal, so the escapes are useless. Your string does not actually contain any backslash characters at the moment. The string that gets passed to the `RegExp` constructor is `[[]]`.

I assume you meant to use

[code]

[2016-12-30 00:17] isonmad commented on #6890
This still potentially affects other people and nothing in eslint has changed, couldn't this still be open?

[2016-12-30 01:05] feross commented on #7656
Got it.

[2016-12-30 01:06] greyvugrin commented on #6148
@not-an-aardvark thanks for the clarification, the double slash makes sense.

[2016-12-30 06:37] oojacoboo opened #7825 "spaced-comment exceptions not working"
**ESLint Version:** 3.12.2
**Node Version:** 6.6.0
**npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
Using eslint directly via VSCode

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I'm trying to ensure that comments with `/* allow a space

[2016-12-30 09:11] not-an-aardvark commented on #7825
Hi, thanks for the report. However, this appears to be working as intended. It looks like the [`spaced-comment`](http://eslint.org/docs/rules/spaced-comment#options) docs mention that exceptions are ignored if the first option is "never".

[2016-12-30 09:16] Moeriki commented on #7423
The proposal suits my needs.

To be complete we could also include `Object.create`, as mentioned by @mysticatea.

[code]

[2016-12-30 09:20] Moeriki commented on #7260
I don't know about the need for moving the `this` anonymous function logic to ast-utils.

I'll commit to implementing this.

[2016-12-30 09:27] noyobo opened #7826 "executeOnText report different from eslint command line"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** v7.3.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

- Babel-ESLint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

js file `foo.js`
[code]

[code]

But use Node api `CLIEngine`

[code]

re

[2016-12-30 10:12] Thaina opened #7827 "One line lambda function return cause 'Unexpected use of comma operator. (no-sequences)' error"
I write code like this

[code]

And it was allowed as ES2015 syntax to return `obj` after set `obj[s] = i`
But eslint tell me its not

Why?

[2016-12-30 10:55] oojacoboo commented on #7825
LOL, fantastically upsetting :/

[2016-12-30 12:30] bali182 opened #7828 "Eslint tries to validate HTML files when --ext is explicitly set"
**OS: Ubuntu 16.04 LTS**

* **ESLint Version: 3.12.2**
* **Node Version: Node 6.9.2**
* **npm Version: NPM 3.10.9**

**Parser: babel-eslint**

**Full config:**

[code]

**What did you do? Please include the actual source code causing the issue.**
Ran a simple linting with the above config in a directory where a html file is present

[code]

Not that it was ran by an npm command being in a `package

[2016-12-30 15:15] Moeriki commented on #7260
[A WIP](https://github.com/eslint/eslint/compare/master...Moeriki:include-function-name-in-report-message).

* I didn't add many tests as astUtils itself is well tested. Is that ok, or do you prefer all cases to be covered per-rule as well?

* Can we drop `this function` in favour of just `function` in the feedback message? Eg. `Function has a complexity of {{complexity}}.` instead of `This functi

[2016-12-30 15:44] dkrutsko opened #7829 "Add an `empty` condition to function spacing rules"
* **ESLint Version:** 3.12.2
* **Node Version:** 6.9.2
* **NPM Version:** 4.0.5
* **Parser** babel-eslint

I'd like to propose an addition to the `space-before-function-paren` and `func-call-spacing` rules (along with others I might be missing). A setting of `empty` (or another name) would only enforce spaces when the function has parameters. As an example, the following code would cause an error:

[2016-12-30 16:29] platinumazure commented on #7827
You have a couple of options: Explicitly return, or disable the rule for that line.

[code]

[2016-12-30 16:32] Thaina commented on #7827
@platinumazure Well, I know about option. I just want to know the reason that why this is consider error in eslint. Is it a bad practice or it just not update yet?

[2016-12-30 16:35] platinumazure commented on #7828
Unfortunately, our `--ext` CLI option is only really used when you specify a directory and ESLint needs to figure out what files to lint in that directory. By specifying a glob pattern, that logic is bypassed: Either because your shell is expanding the glob and sending a list of files to ESLint, or because ESLint sees the glob.

You have two options: use a directory (`eslint src --ext js ...`), or

[2016-12-30 16:37] platinumazure commented on #7827
It's because you're using a sequence and the rule is designed to flag
against sequences. The rule is not necessarily claiming that all sequences
are bad practice; but even if it were, we still have disable comments for
this exact reason, when the utility in one given case outweighs the normal
need for the rule.

On Dec 30, 2016 10:32 AM, "Thaina Yu" <notifications@github.com> wrote:

[2016-12-30 16:44] ilyavolodin commented on #7826
@noyobo `executeOnText` skips a lot of things (including resolving config file and loading plugins). If you want to use plugins you should either use [`CLIEngine.executeOnFiles`](http://eslint.org/docs/developer-guide/nodejs-api#executeonfiles) or manually load plugins by using [`CLIEngine.addPlugin`](http://eslint.org/docs/developer-guide/nodejs-api#addplugin)
This is behaving as intended.

[2016-12-30 18:52] nzakas commented on #7423
I'm :-1: on changing default behavior, but ok with adding an option.

[2016-12-30 19:08] nzakas commented on #7729
I think the current behavior is correct. the home directory is a special case because it can unintentionally affect a lot of projects (iirc this was an early complaint). I think changing that now would be confusing and possibly damaging to the current user base.

I'm all for updating the docs to make this special case clearer.

[2016-12-30 19:16] not-an-aardvark commented on #7423
After looking at this proposal again, I'm :+1: for adding an option.

[2016-12-30 19:18] ljharb commented on #7423
To clarify - so the option, when enabled, would exempt only object literals passed to `Object.defineProperty`, `Object.defineProperties`, and the second argument of `Object.create`?

What if I make a custom "define" function, to cover ES3 compatibility? How would I indicate to the rule that this function takes property descriptors as well?

[2016-12-30 21:32] nzakas commented on #7829
Thanks for the suggestion. I'm not sure this option is general enough to include in the core rule, as I'm having a hard time understanding why an empty function should obey different rules.

I'd suggest creating a custom rule if you need this for your codebase.

[2016-12-30 22:12] IanVS opened #7831 "[capitalized-comments] Should not autofix multiline when `ignoreConsecutiveComments`"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 6.9.1
* **npm Version:** Yarn 0.18.1

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

Ran `eslint --fix` against code like:

[code]

**What did you expect to h

[2016-12-30 22:25] bali182 commented on #7828
This worked perfectly. I'm using the glob options, it looks more flexible if something changes. Thank you!

[2016-12-30 22:25] #7828 closed

[2016-12-30 23:05] kaicataldo commented on #7812
Thought about this some more and I actually don't have an suggestion for an alternative, so don't let my comment be a blocker.

[2016-12-30 23:27] platinumazure commented on #7829
@nzakas I think here, "empty" refers to the argument list. In other words, `console.log(arg)` is good, but OP wants `foo ()` to have a space. Maybe a better proposal would be to have always/never for "withArgs" and "withoutArgs" scenarios. That said, I think I agree with your ultimate conclusion.

[2016-12-30 23:28] platinumazure commented on #7831
Weird- it shouldn't even report those other lines, so I can't understand why they're being autofixed in the first place.

[2016-12-30 23:30] IanVS commented on #7831
It won't report them if the _first_ line is capitalized.  It _does_ report them if the first line is lowercase.

[2016-12-30 23:31] platinumazure commented on #7831
Fascinating. I think that might be a bug in reporting- we should probably
tolerate those consecutive comments even if the first comment violates the
rule.

Thanks for the extra info, @IanVS.

On Dec 30, 2016 5:30 PM, "Ian VanSchooten" <notifications@github.com> wrote:

[2016-12-31 02:20] aneilbaboo opened #7832 ""Parsing Error Unexpected Token" when destructuring object without using var"
**Tell us about your environment**

* **ESLint Version:** v3.11.1
* **Node Version:** v7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
Mainly es-lint, but also tried babel-eslint 6.12

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[2016-12-31 02:23] aneilbaboo commented on #7832
Closing.  I fixed it by getting rid of an error in my config (missing "-" in front of varsIgnorePattern).

[2016-12-31 02:28] aneilbaboo commented on #7832
Actually, this is still valid.  I fixed the error, and I'm still getting the behavior.  I amended my config above.

[2016-12-31 03:56] platinumazure commented on #7832
Hi @aneilbaboo, thanks for the issue.

You're getting a parsing error because, without a declaration, object destructure assignment looks like it could be a block on the left side and the ES2015 spec says it must be parsed as a block.

You can fix this by surrounding with parentheses so the engine knows it's an expression:

[code]

See [here](https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2016-12-31 03:59] platinumazure commented on #7832
Also, just a tip: ESLint has to successfully parse a file before *any* lint rules can be run on that file. So if you're getting a "Parser error", changing your rule configuration generally won't help. It's best to try to fix the parser error first.

Hope this helps you in future :smile:

[2016-12-31 04:00] platinumazure commented on #7831
I'd like to fix this, if possible. Hoping to get to it this weekend (certainly long before the next minor release next Friday).

[2016-12-31 06:04] kaicataldo commented on #7545
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2016-12-31 06:04] #7545 closed

[2016-12-31 06:23] kaicataldo commented on #7532
I can champion this. I think this is a really useful enhancement and it puts no-restricted-imports more in line with no-restricted-properties.

[2016-12-31 09:40] vsemozhetbyt opened #7834 "prefer-const false positive"
* **ESLint Version:** 3.12.2
* **Node Version:** 7.3.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No error report.

**What actually happened? Please include the actual, raw ou

[2016-12-31 11:56] aneilbaboo commented on #7832
@platinumazure - Ah, thank you very much!  I was getting tripped up because node 7.2.0 accepts this as valid syntax.  Closing.

[2016-12-31 11:56] #7832 closed

[2016-12-31 18:01] nzakas commented on #7829
Looks like there isn't support on the team for this enhancement, so closing.

[2016-12-31 18:01] #7829 closed

[2016-12-31 18:04] nzakas commented on #7834
This looks like the correct behavior to me. The `a` can declaration can be rewritten to a `const`. Can you explain why you think this is a bug?

Cc @mysticatea

[2016-12-31 19:33] vsemozhetbyt commented on #7834
@nzakas Maybe this is an edge case. I understand this can be rewritten as `const a = 'undefined*'`, but I thought that formally the value of `a` changes there. I can't imagine any useful case for such a code (I've run into something like it in an erroneous script). So maybe you are right: if `undefined` is not really a value, so  `a` does not change there. Should I close the issue?

[2016-12-31 21:47] dkrutsko commented on #7829
I'm sorry to hear that but thank you for taking my suggestion under consideration :-)

[2017-01-01 00:16] #7821 closed

[2017-01-01 17:27] tnguyen14 commented on #7813
@platinumazure thanks for the suggestion. I'll try that. I'm using `happiness`, which is a variant of `standard`. What would be the cleanest way to specify that rule without adding it to the top of every file?

[2017-01-01 17:28] tnguyen14 commented on #7813
@nzakas Thanks for the explanation.

What I'm wondering is - why would their syntax not be "allowed"? I don't know of a JS rule that says there must be a space after the comment notation, is there?

[2017-01-01 17:32] nzakas commented on #7813
@tnguyen14 you should use a config file to enable the rules you want. I can't speak for happiness or standard, but if that doesn't work, you probably want to ask those authors.

[2017-01-01 17:33] nzakas commented on #7813
Sorry, I have no idea what you're asking here. I'm not familiar with Flow and ESLint doesn't support it natively, so my suggestion was to ask the Flow team if you have questions about syntax allowances.

[2017-01-01 17:48] nzakas commented on #7834
Technically the value changes from undefined to a string, but the assignment is right after the declaration, and the value never changes after that for the lifecycle of the variable. That's why the rule is flagging it: a variable that starts out uninitialized and then has just one assignment can be replaced with s constant.

If you're satisfied with that explanation, then yes, this issue can be cl

[2017-01-01 18:04] ilyavolodin commented on #7813
@tnguyen14 You problem is basically using off-the-shelf eslint wrapper. Those wrappers are specifically made to be easy to use, but provide no ability to customize configuration.
You have two choices, either you can request a change to `spaced-comments` rule configuration from the happiness team, or you can stop using the wrapper and use their [shareable eslint config](https://www.npmjs.com/packag

[2017-01-01 18:04] #7813 closed

[2017-01-01 18:11] #7834 closed

[2017-01-01 21:59] jamestalmage commented on #7216
That is an admirable design goal, but think my proposal solves real world problems while breaking encapsulation in the most minimal way.

ESLint, by its very nature and the size of its ecosystem, was bound to create these types of conflicts. A rigid stance that insists users "ask the rule author to make an exception for you" is simply not realistic. Should the `no-nested-parens` author really need

[2017-01-01 22:10] jamestalmage commented on #7216
@ilyavolodin I am trying to understand the following:

By my thinking, it wouldn't matter which went first. You would keep a separate list of "suppressions" (i.e. what rule was being suppressed at what node). Rules would be completely unaware they were being suppressed, and you wouldn't necessarily need to know they were before they ran. Before passing the list of violations on to the reporter, yo

[2017-01-02 01:12] not-an-aardvark commented on #6075
I'm :+1: for adding this rule. However, I'm not sure we should include the `minColumn` option, because it would conflict with `max-len`.

@eslint/eslint-team We need one more :+1: from a team member to accept this proposal.

[2017-01-02 01:58] mikesherov commented on #6075
Agree with @not-an-aardvark. :+1: on rule, :-1: on minColumn.

[2017-01-02 02:02] platinumazure commented on #6075
Also :+1: contingent on no minColumn.

[2017-01-02 12:50] Daniel15 opened #7837 "Allow regexes in RuleTester"
* **ESLint Version:** 3.5.0

It would be nice for the RuleTester to allow regular expressions to match messages, rather than just strings. At Facebook, some of our lint rules have very long messages - Here's one such message from a lint rule that has several possible messages:
[code]

And an example of one of the test cases:
[code]

All I really want to check is that the correct message is being r

[2017-01-02 14:15] remcohaszing opened #7838 "False positive for no-unused-vars when first argument in an array of arguments is unused"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 7.3.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected `foo` not to be marked as an

[2017-01-02 14:57] vitorbal commented on #7838
Thanks for the report. I was able to reproduce this in the demo page.
It looks like the `{ "args": "after-used" }` option doesn't play well with destructuring the function parameters.

[2017-01-02 14:59] vitorbal commented on #7838
Given you could do something like the following, I'm not entirely sure this should be considered a bug or not:
[code]

[2017-01-02 15:05] vitorbal commented on #7837
Hi @Daniel15, thanks for the suggestion! I'm not sure about the message ID part, but the regex sounds like a nice improvement. Let's see what some of the other team members think.

Would you be willing to send a PR for this if it gets accepted?

[2017-01-02 15:10] vitorbal commented on #7812
@eslint/eslint-team We need one more +1 and a champion for this one. Any takers?

[2017-01-02 15:33] ilyavolodin commented on #7837
@Daniel15 If your goal is to just verify that correct variables are being inserted into the message, you could just check it once in your tests, and skip `errors` property for all of the other tests (or use `errors: 1` instead. Errors property can accept numbers as well as text). I'm not really opposed to adding support for RegExp, but we are trying to keep RuleTester as simple as possible, to avo

[2017-01-02 16:00] remcohaszing commented on #7838
@vitorbal I wasn't aware this syntax exists, but it makes sense.

Perhaps this could be added as an example to the documentation.

[2017-01-02 16:34] platinumazure commented on #7838
I agree we can/should improve the documentation here. @remcohaszing Would you be interested in submitting a pull request?

[2017-01-02 16:34] vitorbal commented on #7838
@remcohaszing sure, sounds like a good idea! Would you like to send a PR for that? I would imagine the new examples would go in the "after-used" section: http://eslint.org/docs/rules/no-unused-vars#args-after-used

[2017-01-02 18:01] nzakas commented on #7216
I'm sorry, there's no support for this within the team and this issue is very far past our evaluation period for new features. While I understand your desires here, allowing rules to affect other rules runs counter to how rules were designed and introduces a level of opacity in rule relationships that I'm personally not comfortable with.

Thanks for the suggestion and apologies for not resolving t

[2017-01-02 18:01] #7216 closed

[2017-01-02 18:09] nzakas commented on #7837
I'm 👍 for supporting regexes anywhere we currently support strings for checking error messages, :-1: for the message ID thing.

@Daniel15 if accepted, are you willing to submit a PR for this?

[2017-01-02 19:24] kaicataldo commented on #7838
Agreed that it shouldn't be in the `after-used` section, since that specifically is for function arguments. The rule warns on destructured assignments too, so if we were to make this configurable it would have to be behind a different option.

That being said, given that we have `args: 'after-used'`, I do think it would make sense to match that with destructured array patterns as well.

[2017-01-02 19:25] kaicataldo commented on #7838
I think we should go ahead and update the docs with the open PR, though, and then continue the discussion over whether we want to add an option or not.

[2017-01-02 19:30] not-an-aardvark commented on #7838
I don't think it's necessary to add a new option for this case. `args: 'after-used'` is different because there is no way to have a "placeholder argument" without assigning it to an identifier, but with array destructuring, it is possible to have a placeholder, so we should encourage people to use that instead.

[2017-01-02 19:32] kaicataldo commented on #7838
I'm fine with not adding the option right now. We can evaluate again if it's requested.

[2017-01-02 19:45] kaicataldo commented on #7065
It's hard to tell where we stand on this - @not-an-aardvark @vitorbal @platinumazure do you three support this? If so, then we just need a champion. If not, it might unfortunately be time to close this as per [our policy](http://eslint.org/docs/maintainer-guide/issues.html#when-to-close-an-issue).

[2017-01-02 19:54] platinumazure commented on #7065
I'm :+1:-ing this under the assumption that the main goal is to augment `no-underscore-dangle` to support syntax that didn't exist when the rule was created. I'm not super comfortable with anything more than that (because ESLint shouldn't be opinionated).

[2017-01-02 19:54] not-an-aardvark commented on #6075
I have a few questions about the `minItems` option:

* What should it do if the array has fewer than the given number of items? Should it just ignore the array, or should it require that the array does not have newlines? I'm hoping to avoid a confusing behavior like we have [here](https://github.com/eslint/eslint/pull/7720#discussion_r92043074) with `object-curly-newline`.
* For consistency, I thi

[2017-01-02 19:55] kaicataldo commented on #7685
Sorry, I'm having trouble finding this comment! Mind pointing me to it or explaining what the suggestion is?

[2017-01-02 20:01] #7838 closed

[2017-01-02 20:03] not-an-aardvark commented on #7685
Sure, see [here](https://github.com/eslint/eslint/pull/7689#discussion_r90779675) and also the last section of the original PR description.

Basically, I think reporting object and array expressions is probably more correct, but it would be inconsistent with `no-throw-literal`. Since `no-throw-literal` has a misleading name and is only inconsistent for legacy reasons, I think it might be better to

[2017-01-02 20:23] gabro commented on #7065
@platinumazure I can assure that's my intent

[2017-01-02 20:34] not-an-aardvark commented on #7505
It looks like we decided not to merge https://github.com/eslint/eslint/pull/7514, so I'm going to close this issue.

[2017-01-02 20:34] #7505 closed

[2017-01-02 20:39] vitorbal commented on #7065
I'm still 👍 to the proposal of enhancing `no-underscore-dangle`. If we could get one more 👍 , then I will champion.

[2017-01-02 21:10] not-an-aardvark commented on #7803
Actually, I figured out the issue: [this line](https://github.com/eslint/eslint/blob/7122205b5cdf69de0c08753a093b3ca9a8c4d8e8/lib/rules/no-multiple-empty-lines.js#L84) is creating a new array for every line in the source file. It would be better to just us the same array with `.push` instead of `.concat`.

[2017-01-02 23:20] Daniel15 commented on #7837
Sure, I can do that!

Another alternative I thought of is to provide a function where you can add your own checker logic, for example something like:
[code]

@ilyavolodin - There's multiple different error messages that can be thrown - Three unique messages in the case of this particular lint rule. For every test case, I want to verify that the correct message (out of the three possibilities) is t

[2017-01-03 07:34] BYK commented on #7812
👍 (though not championing)

[2017-01-03 14:24] ipxwork opened #7844 "Conflict between new-line-after-var and new-line-before-return when use automatic fix"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 4.2.6
* **npm Version:** 3.10.7

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
i use automatic fix (--fix) with rules **newline-after-var** and **newline-before-ret

[2017-01-03 17:29] nzakas commented on #7812
@byk please add your 👍 to the issue description so we can keep track.

For "scope" we could make it "exportedOnly" to change it into a Boolean option. We probably don't need a string unless we think there might be a third option.

[2017-01-03 17:32] nzakas commented on #7837
Let's stick with regexes for this first go around. We can always extend it to take functions later if we think that's necessary, id just like to keep this as small as possible to start.

[2017-01-03 17:34] nzakas commented on #7837
TSC Summary: proposal is to allow regular expressions in RuleTester for testing that error messages are correct. Anywhere a string is currently supported for this purpose should also accept a regex.

TSC Question: do we want to accept this enhancement?

[2017-01-03 19:21] orta commented on #7812
Yeah, I have no issue with the option `exportedOnly` does explain it better IMO

[2017-01-03 19:33] platinumazure commented on #7812
We have 5 :+1:s including me and BYK-- we just need a champion!

[2017-01-03 21:21] platinumazure commented on #7844
Definitely a bug, but it's not immediately obvious how we should resolve this. (Basically, we'd have to decide that one of the rules should "give way to" the other, for example having `newline-before-return` completely ignore returns immediately preceded by VariableDeclaration statements or vice versa.)

As a short-term workaround, you could use the [`no-multiple-empty-lines`](http://eslint.org/do

[2017-01-03 22:06] not-an-aardvark commented on #7844
I'm a bit confused about how both fixes got applied. I would have expected the fixes to conflict with each other because they both modify the same location, resulting in only one fix getting applied and everything working correctly.

[2017-01-04 01:41] kaicataldo commented on #7810
@eslint/eslint-team Any other thoughts?

@mysticatea Sounds like your task of refactoring doesn't need to be blocked by this (and I don't think needs to be tracked in this issue, if it truly is a refactor). We can always add more methods afterwards, if that's what the decision here is.

[2017-01-04 02:18] kaicataldo opened #7849 "Refactor prototypes to ES6 classes"
In the spirit of https://github.com/eslint/eslint/issues/6407 and https://github.com/eslint/eslint/issues/7810#issuecomment-268941225, I was thinking we could update the codebase to use ES6 classes. I'd love to put the "help wanted" label on this as I think it could be a great first contribution for new contributors.

Here's a list of places where these changes could be made (please let me know if

[2017-01-04 02:21] kaicataldo commented on #7849
Sorry, got my tabs mixed up 😅

[2017-01-04 02:22] gyandeeps commented on #7849
I already started the work:

* https://github.com/eslint/eslint/pull/7847
* https://github.com/eslint/eslint/pull/7846

[2017-01-04 02:23] kaicataldo commented on #7849
Oh wow, I actually hadn't seen your PRs...Great minds, eh?

[2017-01-04 09:12] ipxwork opened #7850 "Conflict in rule object-curly-newline"
Firstly is not conflict according to documentation of `object-curly-newline` but look like, `multiline` is more understand/to be inside breaks

**Tell us about your environment**

* **ESLint Version:** v3.10.2
* **Node Version:** v4.2.6
* **npm Version:** 3.10.7

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do

[2017-01-04 11:12] #7803 closed

[2017-01-04 12:26] adispring opened #7851 "comma-dangle bug"
**Tell us about your environment**

* **ESLint Version: v3.12.2**
* **Node Version: v6.9.1**
* **npm Version: 3.10.9**

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
in the line of `R.defaultTo({})`, should not o

[2017-01-04 12:32] afhole opened #7852 "prefer-const with --fix doesn't fix multiple destructuring assignments"
**Tell us about your environment**

* **ESLint Version:** v3.12.2
* **Node Version:** v7.3.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
[code]

**What actually happened?

[2017-01-04 13:13] alekseykulikov opened #7853 "No error for extra semicolon in the end of function body"
**Tell us about your environment**

* **ESLint Version:** v3.12.2
* **Node Version:** v6.9.2
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I expect to see error: `Extra semicolo

[2017-01-04 13:39] platinumazure commented on #7853
The `semi` rule only triggers for semicolons that are between statements (such that a semicolon or ASI is required by the language grammar). After a function declaration, a semicolon is never required.

We have a separate rule for catching completely optional semicolons, `no-extra-semi`. Turn that on and it should catch the semicolon on line 3.

[2017-01-04 15:22] alexilyaev commented on #1524
@btmills I can't find the right exception for this code (using Class properties through babel preset `stage-1`):

[code]

The online parser can't read that obviously.
Is there an exception keyword I can use to tell `no-multi-spaces` to ignore that?

Thanks.

[2017-01-04 15:26] btmills commented on #1524
Try [astexplorer.net](http://astexplorer.net/) to inspect the syntax tree from a number of popular parsers. @alexilyaev in your case with babel-eslint, it looks like you want `ClassProperty`.

[2017-01-04 15:30] alekseykulikov commented on #7853
Tank you @platinumazure it helped!

[2017-01-04 15:30] #7853 closed

[2017-01-04 15:54] alexilyaev commented on #1524
@btmills Alright, that actually worked!
Thanks.

[2017-01-04 16:35] eventualbuddha opened #7854 "template-curly-spacing does not always work with babel-eslint"
**Tell us about your environment**

macOS Sierra, iTerm 2.0

* **ESLint Version:** 3.12.2
* **Node Version:** 5.1.0
* **npm Version:** 3.3.12

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

See demo repo [here](https://github.com/eventualbudd

[2017-01-04 16:43] vitorbal commented on #7854
Thanks for the report. To be clear, are you reporting a bug with babel-eslint or with the behavior with the default parser?

[2017-01-04 16:45] vitorbal commented on #7852
Thanks for the report, this definitely looks like a bug. Just to be sure, if you run eslint without the `--fix` flag on the snippet you provided, do you get 2 errors reported or just one?

[2017-01-04 16:47] eventualbuddha commented on #7854
With babel-eslint.

[2017-01-04 16:49] platinumazure commented on #7854
@eventualbuddha Do you get your expected results with the default parser?

[2017-01-04 16:51] eventualbuddha commented on #7854
Yes

[2017-01-04 17:12] vitorbal commented on #7854
@eventualbuddha thanks for the quick feedback!
In that case, I would suggest you post this issue on the [babel-eslint repository](https://github.com/babel/babel-eslint) instead, since they are the ones responsible for maintaining the babel-eslint parser.

[2017-01-04 17:18] vitorbal commented on #7851
Thanks for the report, however I believe this is working as intended. As far as I remember, `airbnb-base` uses the following config for `comma-dangle`, which means comma dangles will also be enforced for function invocations:
[code]

If you don't want to enforce trailing commas for functions invocations you should override the airbnb default config and turn off checking for functions:
[code]

[2017-01-04 17:28] eventualbuddha commented on #7854
Posted as https://github.com/babel/babel-eslint/issues/429, closing this.

[2017-01-04 17:28] #7854 closed

[2017-01-04 17:31] eventualbuddha commented on #7854
One final note, I saw that https://github.com/eslint/eslint/pull/6290 was created to fix an issue with babel-eslint so I decided that it might be worth opening here. Is there guidance somewhere on which repo to open an issue in?

[2017-01-04 17:38] nzakas commented on #4345
@kaicataldo is this still on your radar?

[2017-01-04 17:39] vitorbal commented on #7854
@eventualbuddha looks like that issue was an exception, as can be seen in the discussion here: https://github.com/eslint/eslint/issues/6266#issuecomment-222560132
As a rule of thumb, if the buggy behavior happens with `babel-eslint` but not with the default parser, then you should report an issue in the `babel-eslint` repo.

[2017-01-04 17:40] kaicataldo commented on #4345
@nzakas It's in my backlog, but if someone else wants to take this on please feel free!

[2017-01-04 17:53] afhole commented on #7852
Two - the reporting is fine. Thanks! :)

[2017-01-04 18:10] platinumazure commented on #7852
I'm vaguely remembering we had to make a change to the rule to get around two `let` declarations being allowed in some version of Node. I haven't got time to investigate but I'm wondering if that change is now inadvertently breaking destructured assignments?

[2017-01-04 18:13] not-an-aardvark commented on #7852
@platinumazure I think you're referring to https://github.com/eslint/eslint/pull/7717. I haven't tested reverting it, but I don't think that would cause this issue, because that change checks for multiple declarations of a particular variable, whereas this issue appears to be related to multiple declarations of different variables in a particular declarator.

[2017-01-04 18:18] platinumazure commented on #7407
Possible addition: Refactor public-facing APIs to use ES6 classes, where feasible (this can't be done outside of semver-major, for sure).

[2017-01-04 18:48] #7827 closed

[2017-01-04 18:48] #7826 closed

[2017-01-04 18:52] nzakas commented on #7825
@oojacoboo I'm sorry, it's not clear from your last comment what it is you're trying to do or what you're expecting to happen. Can you be more specific and give an example?

[2017-01-04 18:55] nzakas commented on #7844
Yeah, I had the same reaction. It seems like the fixes would overlap, so only one would be applied, and then the next time around the rules wouldn't trigger, so not fixes would be applied. There must be a difference in the fix location between the two rules?

[2017-01-04 18:59] nzakas commented on #7809
As a guideline, we don't want rules re-parsing code or using the `ecmaVersion` to change their behavior.

I don't think there's a change in the rule that makes sense here. I think we could update the docs for the rule to make it more obvious that the `functions` option only applies to ES2017 and higher.

[2017-01-04 19:00] nzakas commented on #7812
Okay, I'll champion - I think this is a nice addition.

@orta feel free to submit a PR.

[2017-01-04 19:02] nzakas commented on #7807
Not enough info, so closing.

[2017-01-04 19:02] #7807 closed

[2017-01-04 19:31] platinumazure commented on #6074
@jesstelford Very sorry we lost track of this. I like the idea of having a separate rule for newlines between function arguments (we have a similar approach for objects via `object-property-newline` vs `object-curly-newline`). Would you like to create a new issue for newlines between function arguments?

If you can show that that was enforced by a JSCS rule, then we can flag that new proposal unde

[2017-01-04 19:32] platinumazure commented on #6074
@mysticatea I've :+1:'d this issue. I'm wondering, what do you think of having the overrides be named by the JSTree node types (FunctionDeclaration, FunctionExpression, ArrowFunctionExpression)? That would be more consistent with some of our other rules.

[2017-01-04 19:34] platinumazure commented on #6081
I think a PR (with accepted proposal) is already in the works here: #7591. Should we label the PR or other issue as JSCS-compat?

[2017-01-04 20:09] oojacoboo commented on #7825
@nzakas I'm looking to have the two comment options as valid...

`//here is a quick comment`

`/* here is another comment */`

[2017-01-04 20:27] AlexTes opened #7855 "RangeError: Maximum call stack size exceeded, from no-useless-return rule"
**Tell us about your environment**

* **ESLint Version:** v3.12.2
* **Node Version:** v7.3.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
Trying to test a catch block. At the same time making sure I'm writing code that's l

[2017-01-04 20:37] platinumazure commented on #7855
Where possible, we never want rules to crash-- if ESLint has an opinion about some bit of code, that should be expressed via a lint report in an ESLint run that eventually halts. So this is definitely a bug!

[2017-01-04 20:38] alexanderkartavtsev commented on #5498
@not-an-aardvark thank you for pointing that out. but is there a way to find the exact version when it's been added?

[2017-01-04 20:39] platinumazure commented on #7855
Definitely was able to soft-crash the demo page with this example:

[code]

After it tries linting that, it won't re-lint the code even if I make changes in the demo.

[2017-01-04 20:43] platinumazure commented on #5498
@alexanderkartavtsev The fixer was added in ESLint 3.9.0.

I found this by opening the rule file, using "Blame" to find the commit which introduced the `fixable: "code"` line, and then GitHub told me that the nearest tag after that commit was for 3.9.0. I confirmed this by reading the release notes for 3.9.0.

[2017-01-04 21:27] #7740 closed

[2017-01-04 21:35] platinumazure commented on #7831
This was fixed by #7835, I just forgot to add the "(fixes #7831)" to the commit message. Oops 😞

[2017-01-04 21:35] #7831 closed

[2017-01-04 21:38] platinumazure commented on #7443
Okay, I'll support option B as well.

@taion Are you by any chance interested in working on this?

[2017-01-04 21:40] platinumazure commented on #7608
@fasttime @evilebottnawi Either of you want to take a crack at this?

[2017-01-04 21:56] not-an-aardvark commented on #7608
I'm willing to work on this is no one else is doing it -- I haven't done it yet because I thought @evilebottnawi was working on it.

[2017-01-05 00:05] fasttime commented on #7608
@platinumazure I have zero experience working on the ESLint codebase, just some familiarity with parser logic and ASTs. I'll leave this one to @not-an-aardvark, but I'd be glad to help out another time.

[2017-01-05 01:37] eddiemoore opened #7857 "comma-dangle with spread bug"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 6.5.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Expected to pass the lint

**What a

[2017-01-05 01:39] ljharb commented on #7857
👍 array rest args can't have a trailing comma, but object rest args certainly can

[2017-01-05 01:41] eddiemoore commented on #7857
It used to work in eslint `3.4.0`. Seems like there was a breaking change somewhere along the line

[2017-01-05 01:44] not-an-aardvark commented on #7857
Thanks for the report, but this is working as intended -- trailing commas after rest properties are a syntax error.

Also see: https://github.com/eslint/eslint/issues/7614, https://github.com/eslint/eslint/issues/7502, https://github.com/eslint/eslint/issues/7463, https://github.com/eslint/eslint/issues/7422, https://github.com/eslint/eslint/issues/7297, and https://github.com/eslint/eslint/pull/7

[2017-01-05 01:47] eddiemoore commented on #7857
Ahh thanks for the clarification

[2017-01-05 02:34] Kovensky commented on #7111
This rule, as it is, also has false positives with binding `export`s:

[code]

[2017-01-05 02:36] not-an-aardvark commented on #7111
@Kovensky, may you please create another issue for that? If there is a false positive with the rule then we certainly want to address it, but it seems unrelated to this proposal.

[2017-01-05 02:39] Kovensky commented on #7111
@not-an-aardvark hm, true, it is *kinda* related but not exactly.

At any rate, have there been any updates w.r.t. deciding on whether to implement the potential `variables` option in code? It'd be nice to have a static TDZ checker without enforcing style changes.

Just noticed this after intentionally putting a `let` in TDZ for most of a file to make its initialization point clearer...

[2017-01-05 02:45] Kovensky opened #7858 "no-use-before-define false positive with binding exports"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 7.2.0
* **npm Version:** (yarn) 0.18.1

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No warnings.

**What actua

[2017-01-05 02:47] Kovensky commented on #7111
Opened https://github.com/eslint/eslint/issues/7858

[2017-01-05 03:00] kaicataldo commented on #7825
@oojacoboo Sorry, I'm still not entirely clear on what the issue is. Are you saying you'd like to enforce no whitespace for line comments while requiring whitespace for block comments? If so, can you give us an example with the problem code and the exact error message you're seeing?

[2017-01-05 03:15] ljharb commented on #7857
@not-an-aardvark that isn't the case for object rest/spread - this absolutely should be reopened as a bug.

[2017-01-05 03:17] ljharb commented on #7857
oops, nvm, i misunderstood.

[2017-01-05 03:51] mysticatea commented on #7858
I confirmed it from the spec. `ExportDeclaration`s seem to do nothing at runtime if the following cases.
But I want other eyes since I don't have confidence (especially static behaviors).

[2017-01-05 04:03] not-an-aardvark commented on #7858
@ljharb Do you happen to know the correct behavior for this?

[2017-01-05 04:10] ljharb commented on #7858
My initial impression was that the last example should work just fine. However, I think @Kovensky is correct - `export default` takes a value, not a binding, and since `class Group {}` hoists a binding under TDZ, `export default Group` would indeed trigger a reference error. However, `export { Group }` at the top would not, because that exports the binding, and it's only upon unpacking that bindin

[2017-01-05 07:20] gfx opened #7860 "eslint --init throws: TypeError: Cannot read property '0' of undefined"
`eslint --init` fails when my enviroment:

* ESLint v3.12.2
* NodeJS v6.9.2
* npm 3.10.8

with the answers:

[code]

with a patch to `autoconfig.js`:

[code]

it shows:

[code]

Seams `lintedRegistry.rules["import/extensions"]` is missing.

[2017-01-05 10:05] AlexTes commented on #7855
Glad to hear platinumazure 👍
Also hi not-an-aardvark, nice to run into you again ^_^. Going to have a look at your PR and see if maybe next time I should try myself :]

[2017-01-05 11:59] Kristinita opened #7861 "[Bug] Implied eval error not fixed"
### 1. Summary

My linter show error in my code: [**Implied eval. Consider passing a function instead of a string**](https://github.com/jamesallardice/jslint-error-explanations/blob/master/message-articles/implied-eval.md). ESLint have [**no-implied-eval**](http://eslint.org/docs/rules/no-implied-eval) rule, but not fixed it for me, I still get same error.

### 2. Expected behavior

Successfully f

[2017-01-05 14:59] stewx opened #7862 "New Rule Proposal: No multiple assignments per line"
**Please describe what the rule should do:**
It should disallow writing lines like `a = b = c = d;`

**What category of rule is this?** (place an "X" next to just one item)
[X] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about:**
Good:
[code]

Bad:
[code]

**

[2017-01-05 15:15] oojacoboo commented on #7825
@kaicataldo yes, if you consider `/* this a block comment */` and not just...

[code]

I just want `//double slashed line comments to not have a required space`.  Everything else would have a space.

[2017-01-05 15:25] platinumazure commented on #7861
The rule is working as designed. Using a string in `setTimeout` results in the engine calling `eval`, hence triggering the rule `no-implied-eval`.

This is what you should do instead:

[code]

[2017-01-05 15:31] platinumazure commented on #7825
I wonder if we went down the rabbit hole a bit? I'm now hearing this as a rule enhancement request to support "always"/"never" at the line comment vs block comment level for the `spaced-comments` rule. I'm not sure it's a good idea to try to make this work using "exceptions" because again, that would apply to block and line comments equally.

Am I missing something?

[2017-01-05 15:33] kaicataldo commented on #7825
Yes, it sounds like the behavior being asked for by @oojacoboo is to be able to configure the rule for line and block comments independently

[2017-01-05 15:36] oojacoboo commented on #7825
Are the exceptions not independent?

[2017-01-05 15:39] Kristinita commented on #7861
@platinumazure , thanks, it's work in Firefox, Opera and Chrome! But ESLint not fixed automatically similar errors?

Thanks.

[2017-01-05 15:43] platinumazure commented on #7861
ESLint does not support autofix in that rule because it would require parsing the string and somehow transform it into a function. But it's pretty easy to make the change manually.

[2017-01-05 15:45] #7861 closed

[2017-01-05 15:55] platinumazure commented on #7861
By the way, @Kristinita, you can use the ESLint docs to learn if a rule is autofixable or not.

On the main rule listing (http://eslint.org/docs/rules/), you can look for a wrench icon to the left of some of the rules.

In a specific rule's documentation, you can look at the top (under the page header) to see if the rule is fixable or not. (For example, see http://eslint.org/docs/rules/no-extra-bo

[2017-01-05 16:02] #7855 closed

[2017-01-05 16:27] vitorbal commented on #7825
I'm not sure why you would want to configure this with exceptions in this case. Don't you want to allow spaces for line comments and disallow for block comments? I'm afraid I'm still not 100% clear on what's being proposed here.

[2017-01-05 16:29] oojacoboo commented on #7825
@vitorbal is `/* this a block comment? */`

[2017-01-05 16:34] kaicataldo commented on #7825
@oojacoboo Can you maybe try to explain with words rather code/comment examples? I'm afraid I really don't understand what that means.

[2017-01-05 16:36] oojacoboo commented on #7825
Is a single line comment that uses /* to open and */ to close the comment a "line comment" or a "block comment"?

[2017-01-05 16:36] platinumazure commented on #7825
@oojacoboo A line comment is `// this`, a block comment is `/* this */` (whether it is used "inline" or not).

[2017-01-05 16:37] oojacoboo commented on #7825
Okay, thank you.  So, yes, separate options for the spacing for block/line comments is exactly what's needed.

[2017-01-05 18:33] xdumaine opened #7863 "Add --fix support for no-else-return"
**What version are you using?**
3.12.2

**What did you do?**
Ran eslint with `no-else-return` enabled and the `--fix` flag

**What happened?**
It didn't fix the errors!

**What did you expect to happen?**
It to fix the errors!

I'll be opening a PR for this momentarily, to discuss the change.

[2017-01-05 20:58] mysticatea commented on #7423
I'm a champion for the option, maybe `{"addressDefineProperty": true}` or something like.

Yes, I think so.

I think enough if it supports ES standard functions for now.

[2017-01-05 21:08] alberto commented on #7837
This has been accepted by TSC

[2017-01-05 21:23] mysticatea commented on #6505
I remembered about [new-cap](http://eslint.org/docs/rules/new-cap) rule.
The rule has the simple regexp option to except property accesses.

[2017-01-05 21:29] alberto commented on #6073
I'll champion this.

[2017-01-05 22:15] feross opened #7866 "`eol-last` and `no-trailing-spaces` --fix interfere with each other"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 7.3.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
**What did you expect to happen?**
**What actually happened? Please include the act

[2017-01-05 22:24] platinumazure commented on #7423
@ljharb Do you have an urgent need for that sort of support? If not, maybe
we could just cover the standard functions for now and we can consider
adding support for user-configured functions later if there is enough
demand.

On Jan 5, 2017 4:21 PM, "Jordan Harband" <notifications@github.com> wrote:

[2017-01-05 22:31] ljharb commented on #7423
I do, in fact - I prefer "func-name-matching" set to "never", but many of my shim packages end up disabling that rule with inline comments every time i create a property descriptor with a function (whose name intentionally matches the key, in that special case). However, for compat, I pass things into a custom "define" function, and not into `Object.defineProperty` directly.

[2017-01-05 22:31] platinumazure commented on #7866
What do you get for this case?

[code]

[2017-01-05 22:36] mysticatea commented on #7423
@ljharb Do you know major ES3 environments which are maintained officially?

[2017-01-05 22:44] ljharb commented on #7423
@mysticatea of course not, but "officially maintained" is utterly irrelevant; if users use it, a company/site is likely to choose to support it.

[2017-01-05 22:49] platinumazure commented on #7423
Thanks @ljharb, your point is well taken.

Let's step back a bit and just follow our process. If the team champions and endorses not only the standard property-descriptor functions, but also user-configurable ones, then that's what we'll implement. If the team champions and endorses just the standard property-descriptor functions, then we'll implement that instead and we can re-evaluate later if w

[2017-01-05 23:12] johannes-z commented on #7866
[code]
becomes
[code]

[2017-01-06 00:24] tbrisbane opened #7868 "`'padded-blocks': ['error', 'never']` doesn't appear to disallow padding in ES6 `class` declarations"
**Tell us about your environment**
NodeJS (literally just `index.js`, `package.json`, and a `node_modules` folder).

* **ESLint Version:** v3.12.2
* **Node Version:** v6.9.2
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**: Default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
L

[2017-01-06 00:46] not-an-aardvark opened #7869 "brace-style does not validate the closing curly brace in switch statements"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.3.0
* **npm Version:** 3.10.10

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected two errors to be reported, one for

[2017-01-06 00:58] not-an-aardvark commented on #7869
Additionally, the `allowSingleLine` option does not seem to work for `SwitchStatement` nodes:

[code]

Expected: No error

Actual result:

[code]

[2017-01-06 03:39] niedzielski opened #7872 "Rule request: report unnecessary lint suppression line comments"
**Please describe what the rule should do:**

This rule should report unnecessary lint suppression line comments which can accrue over time and need to be maintained.

**What category of rule is this? (place an "X" next to just one item)**

[x] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code exam

[2017-01-06 03:55] not-an-aardvark commented on #7862
This looks like a duplicate of https://github.com/eslint/eslint/issues/6424.

The other issue is already accepted, so if you're interested in implementing this rule, we would be happy to look at a PR. :smile:

[2017-01-06 03:56] not-an-aardvark commented on #7863
This seems like a useful enhancement to me. :+1:

[2017-01-06 03:56] #7862 closed

[2017-01-06 04:07] niedzielski commented on #7872
@gyandeeps, thanks :] I think this can be closed as a duplicate

[2017-01-06 04:07] #7872 closed

[2017-01-06 04:54] not-an-aardvark opened #7873 "Providing a mechanism to perform unsafe fixes"
At the moment, core rules only autofix problems if they can guarantee that the fixes will never break the code. This is a useful guarantee, because people can run `--fix` without worrying about whether their code will break. However, it's also an unfortunate roadblock in some situations. Rules like [`sort-keys`](http://eslint.org/docs/rules/sort-keys) and [`no-return-await`](http://eslint.org/docs

[2017-01-06 05:10] rhbecker commented on #6505
@platinumazure: thanks for the clarifications!

[2017-01-06 05:38] not-an-aardvark opened #7874 "Add regression tests with codebases from other projects"
ESLint has a lot of tests (according to Mocha, over 13000 at the moment). However, even with those tests, it seems like we occasionally introduce regressions. It's too easy to forget about a particular edge case in the tests for a particular rule, and while we are sometimes able to use our own codebase as a safety net to catch issues that a rule's tests miss, this isn't effective for special cases

[2017-01-06 09:34] OliverJAsh opened #7875 "Rule idea: ensure function declarations are defined *after* usages"
It is currently possible to use ESLint to guarantee that function declarations are defined before usages, using `no-use-before-define`:

[code]

I would like to guarantee the opposite: function declarations must be defined *after* usages. This is a common pattern: using hoisting to define usages, and then the details come afterwards (in the hoisted function declarations).

The current solution to

[2017-01-06 10:07] OliverJAsh opened #7876 "Rule idea: no function declarations *after* usages"
It is currently possible to use ESLint to guarantee that function declarations are defined before usages, using `no-use-before-define`:

[code]

I would like to guarantee the opposite: function declarations must be defined *after* usages. This is a common pattern: using hoisting to define usages, and then the details come afterwards (in the hoisted function declarations).

The current solution to

[2017-01-06 14:37] ilyavolodin commented on #7873
@not-an-aardvark I think allowing people to do unsafe fixes from the command line will lead to a lot of complains where ESLint will fix and break user's code in some low traffic file and that file will get deployed in production. I think it's much better to handle unsafe fixes through API only (so that editors could use them). I think your interactive prompt suggestion is the same as my "recommend

[2017-01-06 15:03] guimier opened #7877 "no-useless-escape incompatible with unicode-aware regex litterals"
* **ESLint Version:** 3.12.2
* **Node Version:** 7.3.0
* **npm Version:** 3.10.10
* **parser:** default

`.eslintrc.json`
[code]

`lint.js`:
[code]

`syntax.js`:
[code]

**What did you expect to happen?**
Given `syntax.js` is not valid (see output below, not a parser bug afaict), `lint.js` should be accepted by the rule.

**What actually happened?** (exact output except path removal)
`eslint lint.

[2017-01-06 15:08] not-an-aardvark commented on #7877
Thanks for the report. I think this is a duplicate of https://github.com/eslint/eslint/issues/7789, which has already been fixed on master but hasn't made it into a release yet.

We have a release scheduled for today, so the fix should be available quite soon.

[2017-01-06 15:08] #7877 closed

[2017-01-06 15:10] ilyavolodin commented on #7874
We already have this in place on our jenkins server. It currently runs tests against eslint-plugin-react, eslint-plugin-html, eslint-plugin-import and jquery. Unfortunately, I haven't been paying a lot of attention to it and the build has been failing for a while:-( You are welcome to tweak the build and add new projects/plugins to the list.

[2017-01-06 15:13] ilyavolodin commented on #7876
Closing as duplicate of #7875

[2017-01-06 15:13] #7876 closed

[2017-01-06 15:15] noyobo commented on #7826
Thank you

[2017-01-06 15:21] guimier commented on #7877
Great, thank you.

[2017-01-06 17:54] alberto commented on #7868
You're right it's a documentation oversight. Similarly to `always`, `never` is equivalent to `{"blocks": "never" }`. It doesn't apply to `switch` or `class` for compatibility reasons.

I'll document this.

[2017-01-06 17:58] nzakas commented on #7837
@Daniel15 you're all clear to begin a PR for regex message checks.

[2017-01-06 18:22] platinumazure commented on #7868
@alberto Do you think we could change the default behavior in a major release? I think this is probably a bit confusing as is.

[2017-01-06 18:28] #7868 closed

[2017-01-06 18:30] alberto commented on #7868
@platinumazure I'd like to, but I don't think we can if we want to keep our promise to not introduce breaking-changes in rules. Unless we deprecate this and create a new rule with different defaults.

[2017-01-06 18:32] not-an-aardvark commented on #7868
Did we have a promise to not introduce breaking changes in rules? I thought we did that fairly often in major releases.

[2017-01-06 18:33] platinumazure opened #7879 "padded-blocks: Change default behavior so that string config affects blocks, classes, and switch statements"
**What rule do you want to change?**

padded-blocks

**Does this change cause the rule to produce more or fewer warnings?**

More in certain circumstances.

**How will the change be implemented? (New option, new default behavior, etc.)?**

Change default behavior so that a configuration of `"always"` or `"never"` will affect classes and switch statements, as well as blocks.

Currently `"always"` a

[2017-01-06 18:34] platinumazure commented on #7868
Well, I've created #7879 and we can discuss further there.

We've definitely changed default behavior in major releases before.

[2017-01-06 18:38] alexdmejias opened #7880 "Indent displays error in the wrong line"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 4.7.0
* **npm Version:** 2.15.11

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
Nothing. According to my one rule, ther

[2017-01-06 18:44] alberto commented on #7879
Previous discussion:
https://github.com/eslint/eslint/issues/5845 particularly https://github.com/eslint/eslint/issues/5845#issuecomment-213559546

[2017-01-06 18:44] not-an-aardvark commented on #7880
Thanks for the report, but this is working as intended -- the correct indentation is

[code]

When there is more than one variable declared in a `var` statement, the rule enforces that all the variables are offset by one indentation level, and all the assigned values are offset by one indentation level from the variables.

[2017-01-06 18:46] platinumazure commented on #7880
As I noted in chat, this can be fixed by using the "VariableDeclarator" option in configuration:

[code]

[2017-01-06 19:09] platinumazure commented on #7879
My thoughts:

* 5845: breaking changes should not be introduced unless harm of not doing so increases harm of doing so
    * For me, I'm on the fence on this. We've just fixed the documentation explaining how `"always"` and `"never"` work, so we can always point users to the docs. However, the inconsistent behavior of those options was always done only as a back-compat thing, and I think we're far

[2017-01-06 19:58] #7564 closed

[2017-01-06 20:22] #7852 closed

[2017-01-06 22:01] ilyavolodin commented on #7778
v3.13.0 release was successful.

@eslint/eslint-team Reminder to please only merge documentation and bug fix PRs until we determine whether or not we need a patch release on Monday.

[2017-01-07 00:10] feross commented on #7866
Yes, all whitespaces are removed, and the `/n` remains. So it becomes:

[code]

[2017-01-07 00:52] fasttime opened #7881 "prefer-destructuring reports false positives with compound assignments"
**Tell us about your environment**

* **ESLint Version:** 3.13.0
* **Node Version:** 7.3.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error, I guess.

**What actually hap

[2017-01-07 00:58] not-an-aardvark commented on #7881
I can reproduce this, thanks for the report.

It's happening because the rule is treating the line the same as

[code]

...which could be fixed to

[code]

[2017-01-07 03:42] tbrisbane commented on #7868
Thanks for the clarification, guys. :)

[2017-01-07 03:46] tbrisbane commented on #7879
As a new ESLint user who has recently been bitten by this (see #7868), I'm in favour of this change (either as a new rule, or as a future breaking change to `padded-blocks`). Even though the docs have now been updated regarding this, I still find the existing behaviour to be unintuitive.

[2017-01-07 04:39] tinovyatkin opened #7883 "prefer-destructuring reports false positive on object bracket notation"
**Tell us about your environment**

* **ESLint Version:**
3.13.0
* **Node Version:**
7.4
* **npm Version:**
4.1.1
**What parser (default, Babel-ESLint, etc.) are you using?**
deafult
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No error.
**What actually happened? Please in

[2017-01-07 04:49] not-an-aardvark commented on #7883
I'm not sure, but I think this is working as intended. You can replace the line with

[code]

[2017-01-07 09:42] taion commented on #7443
Unfortunately, I don't think I'm going to have time in the near future – I have a number of work deadlines coming up in the next few weeks.

[2017-01-07 10:05] aboyton commented on #7873
I agree that there's definitely a place for tools that do unsafe fixes. As a way of example I've used (and contributed to, so I'm biased) a tool called [lebab](https://github.com/lebab/lebab) made by @nene which does a bunch of transformations to turn ES5 code into idiomatic ES6 code. Some of it's transformations do the same as auto-fixers in ESLint (like `var` to `let` or `const` done by the rule

[2017-01-07 10:59] nene commented on #7873
Well, regarding this warning in Lebab documentation: it doesn't really assure that people follow the advice. I get reports from time to time about uses of Lebab where people blindly apply lots of these unsafe transforms together and expect good results.

However I have to point out that the spectrum of safe & unsafe isn't really a binary thing:

- Fixes that should be completely safe, can cause bu

[2017-01-07 12:41] vsemozhetbyt opened #7884 "prefer-destructuring proposes object destructuring for array"
* **ESLint Version:** 3.13.0
* **Node Version:** 7.4.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
No error report.

**What actually happened? Please include the actual, raw outp

[2017-01-07 13:40] fasttime commented on #7884
I believe in the first snippet, the line

[code]

can be written as

[code]

And in the second snippet

[code]

is the same as

[code]

[2017-01-07 17:18] vitorbal commented on #7065
@eslint/eslint-team we need one more +1 to mark this as accepted. Here's the final proposal: https://github.com/eslint/eslint/issues/7065#issuecomment-245240761. Any takers?

[2017-01-07 17:21] gabro commented on #7065
@vitorbal actually the final proposal is in the issue description, as per @platinumazure suggestion :)

[2017-01-07 17:30] vitorbal commented on #7065
@gabro oops, thanks, fixed the link!

[2017-01-07 21:44] alberto commented on #7866
If you don't want multiple empty lines at the end of file, you should use `no-multiple-empty-lines` with `{maxEOF: 1}`

[2017-01-07 22:11] alberto commented on #7860
@gfx any idea how `eslint-plugin-import` got installed and enabled there? I can't reproduce this

[2017-01-07 23:05] zloirock opened #7886 "prefer-destructuring and reassignment of variables"
For example, we have code like:
[code]
`prefer-destructuring` rule reports 2 issues for this code. I have no ideas how to beautifully refactor this code for following this rule, only renaming a variable and it does not look like a good solution.

So I propose to add an option for reporting about it only for variable declarations, not for assignment expressions.

[2017-01-08 00:22] fasttime commented on #7886
Maybe the documentation for this new rule could use some more examples, but in this case, all it really takes to apply destructuring are parentheses:

[code]

[2017-01-08 00:32] zloirock commented on #7886
@fasttime yep, thanks, I know about parentheses, but it looks too ugly - original code looks clearer for me =)

[2017-01-08 01:34] gfx commented on #7860
@alberto I just add `eslint-plugin-import` to `devDependencies` in package.json and enable it in .elsintrc.

[2017-01-08 01:36] jasonkuhrt opened #7887 "support config sets for file matches"
[code]

ESLint current has [configuration cascading](http://eslint.org/docs/user-guide/configuring#configuration-cascading-and-hierarchy) which is useful when e.g. your test code has different lint standards than your source code. However this assumes that folders are used to group distinct sets of eslint configurations. If instead I want to co-locate tests with source code in my tree:

[code]

th

[2017-01-08 02:38] gyandeeps commented on #7887
possible duplicate of https://github.com/eslint/eslint/issues/3611 , if I understand it correctly.

[2017-01-08 04:19] kaicataldo commented on #6175
Sounds like we have 4 (including myself) in favor of the separate `require` option being proposed here and 1 to port over the JSCS behavior. Any other input? Would be nice to come to some consensus on this so we can get the ball rolling on actually implementing this.

[2017-01-08 04:32] kaicataldo commented on #2860
Is this still being worked on?

[2017-01-08 04:33] kaicataldo commented on #3307
Is this still being worked on?

[2017-01-08 04:33] kaicataldo commented on #3352
Is this addressed by the `indent` rule rewrite?

[2017-01-08 04:36] kaicataldo commented on #3587
I think it's about time to close this if progress still hasn't been made.

[2017-01-08 04:39] kaicataldo commented on #4689
@eslint/eslint-team One more ping

[2017-01-08 04:41] kaicataldo commented on #5149
@IanVS Mind adding some instructions as @nzakas mentioned so we can add a "help wanted" label to this?

[2017-01-08 04:41] IanVS commented on #3587
It looks like discussion about has moved over to https://github.com/eslint/eslint/issues/7489.

[2017-01-08 04:43] kaicataldo commented on #5270
I'm closing this issues because it doesn't look like there is enough interest to implement this. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

[2017-01-08 04:43] #5270 closed

[2017-01-08 04:44] kaicataldo commented on #5284
@mysticatea Where does this stand?

[2017-01-08 04:46] kaicataldo commented on #5446
Closing because it doesn't look like there's enough interest to finish implementing this.

[2017-01-08 04:46] #5446 closed

[2017-01-08 04:46] IanVS commented on #5149
The background to the problem is in https://github.com/eslint/eslint/issues/5149#issuecomment-200624329, and the suggested fix is in https://github.com/eslint/eslint/issues/5149#issuecomment-202179124.  I can't believe this is nearly a year old.  I was hoping to work on it over holiday break, but that didn't happen.  If someone wants to jump in, that would be great.  I can also help answer questio

[2017-01-08 04:47] kaicataldo commented on #5529
@scriptdaemon Sorry, this fell off my radar. Are you working on this? If not, I think it's time to close this as there doesn't seem to be enough interest to drive it forward.

[2017-01-08 04:47] kaicataldo commented on #5765
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 04:47] #5765 closed

[2017-01-08 04:48] IanVS commented on #5149
To clarify my suggested fix, if a rule has a field that is not auto-configurable, we do not continue to the next field, but rather only keep whatever other valid configs have been generated for that rule, and move on to the next rule.

[2017-01-08 04:49] not-an-aardvark commented on #3352
No, the `indent` rewrite behaves the same as the current rule for these cases.

For what it's worth, I think this is working as intended.

[2017-01-08 04:55] kaicataldo commented on #5891
@scriptdaemon Have you made any progress on this? If not, it's probably time to close this issue.

[2017-01-08 04:59] ilyavolodin commented on #2860
Second part is done (Index.md). The rest of it is controversial enough to hold off for now.

[2017-01-08 04:59] #2860 closed

[2017-01-08 05:00] kaicataldo commented on #5975
I'm fine with `overrides` :+1:

[2017-01-08 05:01] kaicataldo commented on #6028
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:01] #6028 closed

[2017-01-08 05:09] kaicataldo commented on #6073
@alberto I think you should go for it if you're willing!

[2017-01-08 05:12] kaicataldo commented on #6081
@platinumazure Seems reasonable to me

[2017-01-08 05:18] kaicataldo commented on #6141
Closing this as there hasn't been enough interest to push this forward in quite a while. Thanks for contributing!

[2017-01-08 05:18] #6141 closed

[2017-01-08 05:20] kaicataldo commented on #6190
Closing this since @mysticatea's plugin solves the issue and there hasn't been any activity in quite a while.

For anyone looking for this behavior, please use [eslint-plugin-eslint-comments](https://github.com/mysticatea/eslint-plugin-eslint-comments)!

[2017-01-08 05:20] #6190 closed

[2017-01-08 05:21] kaicataldo commented on #6195
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:21] #6195 closed

[2017-01-08 05:21] kaicataldo commented on #6196
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:21] #6196 closed

[2017-01-08 05:22] kaicataldo commented on #6211
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:22] #6211 closed

[2017-01-08 05:27] kaicataldo commented on #6212
Closing this as there hasn't been enough interest to drive this to completion. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. This doesn't mean the idea isn't interesting or valuable, only that it's not something the team can commit to at the moment.

[2017-01-08 05:27] #6212 closed

[2017-01-08 05:29] kaicataldo commented on #6238
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:29] #6238 closed

[2017-01-08 05:30] kaicataldo commented on #6251
@eslint/eslint-team Can we get some opinions to move this forward so we can start implementing?

[2017-01-08 05:31] kaicataldo commented on #6296
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:35] kaicataldo commented on #6364
I think this is still a worthwhile discussion, particularly in light of the work being done on the TypeScript parser.

Here's one thing currently being worked on to ease the burden of reimplementing the comment attachment algorithm in Espree in all parsers: https://github.com/eslint/eslint/issues/6724

[2017-01-08 05:35] kaicataldo commented on #6390
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:35] #6390 closed

[2017-01-08 05:36] kaicataldo commented on #6424
@platinumazure Are you still championing this?

[2017-01-08 05:37] kaicataldo commented on #6433
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:37] #6433 closed

[2017-01-08 05:37] kaicataldo commented on #6443
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:37] #6443 closed

[2017-01-08 05:38] kaicataldo commented on #6444
Closing this as @guerrero's changes have landed.

[2017-01-08 05:38] #6444 closed

[2017-01-08 05:39] kaicataldo commented on #6465
I'm closing this issues because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:39] #6465 closed

[2017-01-08 05:42] kaicataldo commented on #6498
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:42] #6498 closed

[2017-01-08 05:42] kaicataldo commented on #6518
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:43] #6518 closed

[2017-01-08 05:45] kaicataldo commented on #6526
I'm going to close this as I believe this is covered by `lines-around-comment`'s `allowBlockStart` and `allowBlockEnd` options and there hasn't been any activity in quite a long time.

[2017-01-08 05:45] #6526 closed

[2017-01-08 05:47] kaicataldo commented on #6547
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:47] #6547 closed

[2017-01-08 05:49] kaicataldo commented on #6572
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:49] #6572 closed

[2017-01-08 05:51] kaicataldo commented on #6582
Where does this issue stand? Looks like a significant amount of work was done, but there hasn't been any activity in quite a long time.

[2017-01-08 05:51] kaicataldo commented on #6619
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:51] #6619 closed

[2017-01-08 05:52] kaicataldo commented on #6636
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:52] #6636 closed

[2017-01-08 05:53] kaicataldo commented on #6665
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:53] #6665 closed

[2017-01-08 05:54] kaicataldo commented on #6671
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:55] kaicataldo commented on #6681
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 05:55] #6681 closed

[2017-01-08 06:00] kaicataldo commented on #6736
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:00] #6736 closed

[2017-01-08 06:02] kaicataldo commented on #6741
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:02] #6741 closed

[2017-01-08 06:03] kaicataldo commented on #6770
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:03] #6770 closed

[2017-01-08 06:04] kaicataldo commented on #6774
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:04] #6774 closed

[2017-01-08 06:05] kaicataldo commented on #6810
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:05] #6810 closed

[2017-01-08 06:06] kaicataldo commented on #6845
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:06] #6845 closed

[2017-01-08 06:08] kaicataldo commented on #6857
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:08] #6857 closed

[2017-01-08 06:08] kaicataldo commented on #6867
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:08] #6867 closed

[2017-01-08 06:09] kaicataldo commented on #6906
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:09] #6906 closed

[2017-01-08 06:11] kaicataldo commented on #6296
Sorry, I'm going to reopen this for now until the indent rule rewrite is sorted out.

[2017-01-08 06:11] kaicataldo commented on #6671
Sorry, going to actually leave this open until the indent rule rewrite is sorted out.

[2017-01-08 06:13] kaicataldo commented on #6967
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:13] #6967 closed

[2017-01-08 06:15] kaicataldo commented on #6984
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-08 06:15] #6984 closed

[2017-01-08 06:17] kaicataldo commented on #6874
Here's another one: https://github.com/eslint/eslint/issues/6976

[2017-01-08 06:18] kaicataldo commented on #6976
I believe this is covered by https://github.com/eslint/eslint/issues/6874

[2017-01-08 06:21] kaicataldo commented on #3587
Thanks! Closing this one in favor of that discussion then.

[2017-01-08 06:21] #3587 closed

[2017-01-08 06:50] platinumazure commented on #6424
Well, I want to, but with the caveat that I can't actively drive anything
here for a few weeks. I had forgotten this, probably because I forgot to
assign this to me.

We've gotten a recent request for this as well, so can we keep it open?

On Jan 7, 2017 11:36 PM, "Kai Cataldo" <notifications@github.com> wrote:

[2017-01-08 06:55] kaicataldo commented on #6424
I'm up for keeping it open! Just wanted to make sure it still had a champion :) Thanks!

[2017-01-08 08:42] scriptdaemon commented on #5891
Unfortunately I have not. I haven't had much time / motivation over the last few months to do much, so feel free to close this. If I ever get to this, I'll just open a PR directly given the requirements for that have been relaxed.

[2017-01-08 08:44] scriptdaemon commented on #5529
Feel free to close. I hope to start contributing again, but I don't know when that will be so I won't make any promises.

[2017-01-08 10:34] snnsnn commented on #2112
After adding `"ecmaFeatures": {
      "jsx": true,
      "modules": true
    }` you may need to restart your editor. It fixed my problem..

[2017-01-08 11:07] mikesherov commented on #6175
Don't let my opinion hold this back from moving forward.

[2017-01-08 12:04] #7887 closed

[2017-01-08 12:37] vsemozhetbyt commented on #7884
I agree that formally Array is Object and index access can be rewritten as property access. But it seems to be a confusing and complicating suggestion.

[2017-01-08 13:14] edg2s commented on #6681
I don't think there is an inability to reach consensus, just a lack of any discussion. Chainable is used in a few doc generators so I don't think it's that controversial to just merge the allowsChainable patch?

[2017-01-08 13:30] skindle commented on #7849
Hello, interested in porting rule-fixer to a es6 class. I forked and pushed a commit but I am a bit overwhelmed by what is expected in the pull request message from me :D (which is a good thing) any pointers?

[2017-01-08 13:54] evilebottnawi commented on #7883
@not-an-aardvark what about `index` access?
[code]

[2017-01-08 16:11] #5529 closed

[2017-01-08 16:12] kaicataldo commented on #5891
@scriptdaemon Sounds good!

[2017-01-08 16:12] #5891 closed

[2017-01-08 17:02] ilyavolodin commented on #6582
Meta object has been added to all core rules. We also now have API to retrieve metadata (and rules). I still think it would be nice to add metadata to the report object. So that would be the last thing that would need to be added. I can champion this proposal.

[2017-01-08 17:21] quinncomendant commented on #6498
That's too bad (that the issue is closed with no takers), I thought it was an easy win. The problem was identified and it would fix a bug and improve performance.

[2017-01-08 18:46] not-an-aardvark commented on #7883
[code]

[2017-01-08 19:20] thealjey commented on #7881
This rule should only test variable definitions, not all types of assignments.
For example, this line is also a false positive:
[code]

[2017-01-08 19:52] not-an-aardvark commented on #7881
@thealjey Actually, that looks like it's working as intended -- you can replace that line with

[code]

[2017-01-08 20:21] thealjey commented on #7881
@not-an-aardvark Adding parentheses, seriously?
This rule has a big potential to cleanup the code in variable definitions and function arguments.
But instead you're advising to just overcome its shortcomings, to write longer and harder to read code, simply to make a linting rule pass.
Do you really like what you've written, do you think it's an improvement?

[2017-01-08 20:32] not-an-aardvark commented on #7881
There certainly might be room for improvement in the rule's design -- I was just clarifying that the rule is currently working as intended for your example.

[2017-01-08 20:37] thealjey commented on #7881
this rule is a very good idea, big 👍  to its author
I would never have come up with something like this myself
it's just that as an average ESLint user I got used to everything always being of the charts awesome
you guys are spoiling us 😃

[2017-01-08 20:40] not-an-aardvark commented on #7886
Seems like a good idea to me. :+1:

Maybe we could have two separate options (one for variable declarations and one for assignment expressions):

[code]

[2017-01-08 21:50] mnpenner commented on #6984
I suggest adding an option to `no-unmodified-loop-condition` that allows you to either specify a regex which matches on method names which should be considered to mutate state.

Then we can do something like `mutators: /^set/` and then any method call to a "set" method would be considered to modify the variable. This would fix the issue with dates, but it's *possible* it would also result in a few

[2017-01-08 22:04] kaicataldo commented on #6984
@mnpenner Feel free to make a new issue with your proposal

[2017-01-08 22:09] kethinov commented on #3352
It's an accepted bug though, so I wouldn't say it's working as intended.

[2017-01-08 22:34] not-an-aardvark commented on #3352
We're currently trying to minimize the number of cases where the `indent`  rule's behavior is "any indentation is ok here", particularly in the rewritten version of the rule. While it's clear that some people would prefer the behavior recommended in this issue, there are many other people (myself included) who prefer the indentation that the rule currently enforces. Therefore, we have three feasib

[2017-01-09 00:12] johnripke opened #7888 "Unnecessarily quote property 'Allow' found"
** OS X 10.12.2 **

* **ESLint Version:**
v3.13.0
* **Node Version:**
 v7.4.0
* **npm Version:**
 v4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**
ESLint
**Please show your full configuration:**

Installed packages

  "devDependencies": {
    "babel-eslint": "6.1.2",
    "chai": "3.5.0",
    "chai-enzyme": "0.5.2",
    "deep-freeze": "0.0.1",
    "enzyme": "2.4.1",
    "esforma

[2017-01-09 00:32] platinumazure commented on #7888
Could you please include your ESLint rule configuration?

At a glance, it seems like you have the `quote-props` rule configured so that properties should only be quoted if absolutely necessary (which is the case for `'Content-Type'`, but not for `'Allow'`). So you should either remove the quotes around `'Allow'`, or change your rule configuration to allow for quotes to be applied consistently. (Ta

[2017-01-09 02:39] kaicataldo commented on #6732
Is there any reason we can't use the logic that @mysticatea's https://www.npmjs.com/package/eslint-cli employs in core?

[2017-01-09 03:08] kaicataldo commented on #7881
@thealjey Feel free to write up a proposal and submit a new issue if you see something you think could be improved.

[2017-01-09 03:18] kaicataldo commented on #7884
I honestly agree that enforcing destructuring with the computed property is confusing and not very easy to read. I would support an option to relax this rule for computed properties. Maybe `enforceForComputedProperties`, to be in line with the current schema?

[code]

[2017-01-09 03:30] jasonkuhrt commented on #7887
@gyandeeps Perfect yep. Pardon the noise.

[2017-01-09 05:11] not-an-aardvark commented on #6995
I'm closing this issue since we didn't reach consensus for a long time, and there are other issues that should have a higher priority.

[2017-01-09 05:11] #6995 closed

[2017-01-09 05:12] kaicataldo commented on #7005
I still think this is a worthwhile idea, but it's time to close this issue since we haven't had any activity in so long. If anyone is interested in this and has a proposal for how we could implement tags, please feel free to make an issue!

[2017-01-09 05:12] #7005 closed

[2017-01-09 05:12] kaicataldo commented on #7016
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:12] #7016 closed

[2017-01-09 05:15] kaicataldo commented on #7064
@eslint/eslint-team Can we get some more eyes on this? If this is a bug, I can make a new issue to fix it!

[2017-01-09 05:18] kaicataldo commented on #7134
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:18] #7134 closed

[2017-01-09 05:19] kaicataldo commented on #7146
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:19] #7146 closed

[2017-01-09 05:19] kaicataldo commented on #7148
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:19] #7148 closed

[2017-01-09 05:20] kaicataldo commented on #7154
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:20] #7154 closed

[2017-01-09 05:20] kaicataldo commented on #7161
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:20] #7161 closed

[2017-01-09 05:21] kaicataldo commented on #7192
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:21] #7192 closed

[2017-01-09 05:22] #7193 closed

[2017-01-09 05:22] kaicataldo commented on #7193
I'm closing this issue because it looks like consensus couldn't be reached. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. We've found that issues failing to reach consensus after 21 days tend to never reach consensus, and as a team have decided to close such issues. This doesn't mean the idea isn't interesting or valuable, only that it's not

[2017-01-09 05:23] kaicataldo commented on #7194
Closing this as this is really an issue with Doctrine (and a corresponding issue has been filed there).

[2017-01-09 05:23] #7194 closed

[2017-01-09 05:24] kaicataldo commented on #7209
Closing this due to there not being a response in quite a while

[2017-01-09 05:24] #7209 closed

[2017-01-09 05:57] rkirsling commented on #7134
I'm not sure if I follow what you mean by "consensus"...? There's no expressed disagreement here, only silence (_and a correction to a simple mistake_). My understanding was that the [resources would be my own](http://eslint.org/docs/developer-guide/contributing/rule-changes#implementation-is-your-responsibility) if the rule was deemed acceptable.

I respect the policy to close versus indefinitely

[2017-01-09 08:02] danpoltawski commented on #6681
Well I suppose that @nzakas and I didn't agree on my approach and I understand the need to focus on issues which are actually going somewhere :-)

For the record I liked the `impliedReturn: ['chainable']` option and I didn't mention because I was expecting there might be more discussion. I have been meaning to look into eslint-plugin-jsdoc to see if it helps our needs.

Thanks everyone for your ti

[2017-01-09 09:30] vitorbal commented on #7886
Agreed, I think that's a good idea

[2017-01-09 09:40] vitorbal commented on #7884
Sounds good to me. Should it be `false` by default?

[2017-01-09 12:09] dcleao commented on #6141
@kaicataldo Really? Just because people are "tired" of waiting... it doesn't mean they're not interested :-( Also, new people come here, see how long its been, and don't even comment...

[2017-01-09 14:55] not-an-aardvark commented on #7884
I think it would be reasonable to have an option to disable the rule with computed properties, but it's worth noting that this would be redundant with the `enforceForRenamedProperties` option. `enforceForRenamedProperties: false` would also imply `enforceForComputedProperties: false`, unless we change the behavior of `enforceForRenamedProperties` to not apply to computed properties.

[2017-01-09 15:09] kaicataldo commented on #7134
Understand the confusion. By "reaching consensus" I mean the process of accepting the issue (which the team has decided requires a champion and three upvotes from the team). Can definitely make that clearer in the future.

We've found that issues that get buried in the backlog without getting accepted end up getting lost (as can be evidenced by the lack of discussion here). Keeping our issues back

[2017-01-09 15:19] kaicataldo commented on #6681
Understand the confusion. By "reaching consensus" I mean the process of accepting the issue (which the team has decided requires a champion and three upvotes from the team). Can definitely make that clearer in the future.

We've found that issues that get buried in the backlog without getting accepted end up getting lost (as can be evidenced by the lack of discussion here). Keeping our issues back

[2017-01-09 15:20] kaicataldo commented on #6141
We've found that issues that get buried in the backlog without getting accepted end up getting lost (as can be evidenced by the lack of discussion here). Keeping our issues backlog manageable is necessary for keeping the project moving forward, both for us maintainers and also for our contributors.

Feel free to open a new issue with your proposal if you'd like to get some discussion going around

[2017-01-09 15:37] qlaire commented on #7849
@kaicataldo I've found some more places where changes could be made:

- [ ] lib/cli-engine.js
- [ ] lib/testers/rule-tester.js
- [ ] lib/util/source-code-fixer.js
- [ ] lib/util/source-code.js
- [ ] lib/util/traverser.js
- [ ] tests/lib/config-file.js

Please let me know if I should go ahead and work on those as well.

[2017-01-09 15:42] gyandeeps commented on #7849
@qlaire Thanks for taking the time.
To start, lets go with what we have in the issue (unchecked) because some of the file we have deliberately ignored because they are exposed on the API.
Let us know if you have any question or need any help to get started. Feel free to stop by our chat room for quick response: https://gitter.im/eslint/eslint?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2017-01-09 15:50] kaicataldo commented on #7849
@qlaire Thanks for contributing! Here's some more info for some context around what @gyandeeps mentioned: https://github.com/eslint/eslint/pull/7846#discussion_r94493456

[2017-01-09 15:52] cowwoc opened #7889 "Support braces for no-fallthrough"
**What version of ESLint are you using?**
3.0.1
**What rule do you want to change?**
no-fallthrough
**What code should be flagged as correct with this change?**

[code]

**What happens when the rule is applied to this code now?**
Errors:
Expected a 'break' statement before 'default'.

[2017-01-09 16:27] platinumazure commented on #7889
Seems reasonable to me.

Just to make sure I understand your proposal, using ESTree terms:

1. For a given SwitchCase,
1. If its consequent contains one statement and that is a BlockStatement,
1. Then the rule logic should effectively be run on the BlockStatement instead of the SwitchCase, and a `// falls through` label or similar at the end of the BlockStatement should be acceptable and not cause

[2017-01-09 16:49] cowwoc commented on #7889
@platinumazure Yes, that sounds about right :) Thank you.

[2017-01-09 18:23] ilyavolodin commented on #7064
I agree that what @kaicataldo mention seems strange to me. However, those issues are not related to the original issue filed by @krainboltgreene
Our demo has been through a full re-write recently. And I just verified that `const __foo = 1` correctly displays a no-underscore-dangle error. So I believe that original issue is now resolved. @kaicataldo I think you should open a new issue for the cases

[2017-01-09 20:16] cowwoc opened #7890 "Configuring eslint using single-line comments"
ESLint supports configuring rules using multi-line comments: http://eslint.org/docs/user-guide/configuring.html#configuring-rules

I'd like to request doing the same with single-line comments: `// eslint eqeqeq: "off", curly: "error"`

[2017-01-09 20:20] thealjey commented on #7881
@kaicataldo
I personally am not that big on helping people :) Creating and properly writing an issue just seems like too much work, sorry 😊

And my suggestion is already out there, it's pretty simple.
It goes like this:

This rule should completely ignore everything but variable definitions (var, const, let, function arguments) and ignore things that are already a destructuring assignment.

That's

[2017-01-09 20:29] kaicataldo commented on #7881
@thealjey Thanks for your input.

[2017-01-09 20:41] platinumazure commented on #7890
Hi @cowwoc, thanks for the issue.

We've had discussions about similar issues before. We've decided we can't do single-line comments for `/* eslint-enable */` and `/* eslint-disable */` due to ambiguity over where they would begin to apply. (See [here](https://github.com/eslint/eslint/issues/6416#issuecomment-225983447) for more info.)

That particular worry doesn't really apply for `/* eslint */`

[2017-01-09 22:08] #7881 closed

[2017-01-09 22:32] ilyavolodin commented on #7778
v3.13.1 was just released, which concludes this release cycle. We can resume merging semver-minor PRs!

[2017-01-09 22:32] #7778 closed

[2017-01-10 01:11] qlaire commented on #7849
@gyandeeps @kaicataldo thanks, both!

[2017-01-10 01:40] kaicataldo commented on #7277
I've participated in a number of the releases since we opened this issue (including being in the situation where we needed a second patch release), and we've basically followed what @nzakas suggested above without issue. Is it worth writing this down, or do we all feel comfortable with this? Things seem to be working pretty smoothly :+1:

[2017-01-10 01:42] kaicataldo commented on #7277
One more afterthought - tracking the status on the release issue and making announcements in the Gitter channel seems to be getting the job done as far as notifying the team about the state of releases (when to stop merging semver-minor PRs, etc.). Anyone else feel differently, or are things pretty good?

[2017-01-10 01:44] kaicataldo commented on #7307
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this something you would like to continue

[2017-01-10 01:44] #7307 closed

[2017-01-10 01:45] kaicataldo commented on #7311
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 01:45] #7311 closed

[2017-01-10 01:47] kaicataldo commented on #7318
Looks like this has three :+1: from the team, but we do need a champion to drive this forward. @eslint/eslint-team Would anyone like to step up?

[2017-01-10 01:59] kaicataldo commented on #7319
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 01:59] #7319 closed

[2017-01-10 01:59] kaicataldo commented on #7321
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 01:59] #7321 closed

[2017-01-10 02:01] kaicataldo commented on #7325
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:01] #7325 closed

[2017-01-10 02:02] kaicataldo commented on #7328
I'll see if I can find some time to look into this. If anyone else can get to it first, please feel free!

[2017-01-10 02:04] kaicataldo commented on #7338
I'm a little bit confused as to if this is a confirmed bug or not. @platinumazure Can you confirm by any chance, since you put the "help wanted" label on it?

[2017-01-10 02:06] kaicataldo commented on #7339
Looks like a lot of discussion has taken place - where do we currently stand with this issue?

[2017-01-10 02:07] kaicataldo commented on #7353
Closing this issue since we haven't heard anything back for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2017-01-10 02:07] #7353 closed

[2017-01-10 02:08] kaicataldo commented on #7356
I'm not sure how to best move forward with this. We really need to figure out some workable solution for JSCS compatibility. @eslint/eslint-team Can we give this another try?

[2017-01-10 02:10] kaicataldo commented on #7361
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:10] #7361 closed

[2017-01-10 02:11] kaicataldo commented on #7380
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:11] #7380 closed

[2017-01-10 02:12] kaicataldo commented on #7382
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:12] #7382 closed

[2017-01-10 02:14] kaicataldo commented on #7392
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:14] #7392 closed

[2017-01-10 02:14] kaicataldo commented on #7396
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:14] #7396 closed

[2017-01-10 02:15] kaicataldo commented on #7398
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:15] #7398 closed

[2017-01-10 02:16] kaicataldo commented on #7401
Closing this issue as it looks like a sufficient workaround was suggested and it doesn't look like there's enough support to pursue an enhancement of the rule.

[2017-01-10 02:16] #7401 closed

[2017-01-10 02:16] platinumazure commented on #7338
I'm not sure if it's a bug or an enhancement, but I believe we had
consensus to do something like `npm view eslint-plugin-airbnb
peerDependencies` and install the expected versions of peer dependencies. I
threw on "help wanted" because it seemed like it wasn't going to be a
priority for the core team due to JSCS compatibility.

On Jan 9, 2017 8:04 PM, "Kai Cataldo" <notifications@github.com> wrote

[2017-01-10 02:31] kaicataldo commented on #7414
@eslint/eslint-team How does everyone feel about this now? It's been a few months since the TSC discussion.

[2017-01-10 02:41] kaicataldo commented on #7431
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:41] #7431 closed

[2017-01-10 02:42] kaicataldo commented on #7434
Closing this as discussion has stalled and it doesn't appear there is enough interest, either from the team or from the community, to continue the discussion at this time. While we wish we could accommodate all requests, we have limited resources and do need to prioritize. Please feel free to open a new issue with a proposal to continue this discussion if this is something you would like to contin

[2017-01-10 02:42] #7434 closed

[2017-01-10 02:48] not-an-aardvark commented on #7414
Fine by me. We might want to decide what we're doing about `comma-dangle` (https://github.com/eslint/eslint/issues/7725) first though.

[2017-01-10 02:48] kaicataldo commented on #7444
@Alaneor Sorry, seems like we lost track of this. I've put my thumb on this. @eslint/eslint-team Any other thoughts?

[2017-01-10 02:50] kaicataldo commented on #7449
Closing this issue since we haven't heard anything back for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2017-01-10 02:50] #7449 closed

[2017-01-10 02:50] kaicataldo commented on #7451
Closing this issue since we haven't heard anything back for quite some time. Feel free to create a new issue if this is something you would like to discuss further.

[2017-01-10 02:50] #7451 closed

[2017-01-10 02:51] qlaire commented on #7849
@kaicataldo PR in: #7891 😄

[2017-01-10 02:52] kaicataldo commented on #7453
@ketamin Sorry, seems we lost track of this - thanks for updating the description! @eslint/eslint-team Thoughts?

[2017-01-10 03:13] kaicataldo commented on #7488
This is a really interesting idea - seems worth exploring further (maybe after https://github.com/eslint/eslint/issues/7338#issuecomment-252931101) has been finalized.

[2017-01-10 03:14] kaicataldo commented on #7489
Looks like there was a significant amount of discussion here - @BYK are you still willing to champion this?

[2017-01-10 03:17] kaicataldo commented on #7521
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for. Please also remember that you can always create thi

[2017-01-10 03:17] #7521 closed

[2017-01-10 03:19] kaicataldo commented on #7532
@eslint/eslint-team Anyone else willing to support this? We need two more thumbs.

[2017-01-10 03:21] kaicataldo commented on #7562
Closing this since there hasn't been any discussion in quite a while and progress on the issue has stalled. While we wish we could accommodate all requests, we have limited resources and do need to prioritize.

Feel free to open a new issue with a proposal to continue this discussion if this is something you would like to continue advocating for. Please also remember that you can always create thi

[2017-01-10 03:21] #7562 closed

[2017-01-10 03:24] kaicataldo commented on #7799
@platinumazure Any luck with this?

[2017-01-10 03:26] platinumazure commented on #7799
Finally took a look yesterday, couldn't find an obvious fix by using
path.normalize or path.resolve. Frustratingly, when you search for "node",
"path", and "tilde", you get Unix path expansion questions, even when you
add "Windows". I'm definitely still seeing the test failure and only on
Node 7, but I haven't made any real headway beyond that.

On Jan 9, 2017 21:24, "Kai Cataldo" <notifications@g

[2017-01-10 03:27] kaicataldo commented on #7725
Sounds like the only thing left to hash out here is how we want to configure `comma-dangle`. Seems like most of us would be fine `"never"` or `"always-multiline"`. Since we have one vote strictly in favor for `"never"`, I propose we go with `"never"` (which is what our codebase currently follows anyway).

[2017-01-10 03:28] kaicataldo commented on #7799
@platinumazure Thanks for the update :+1:

[2017-01-10 03:33] ljharb commented on #7338
It's definitely a bug, due to the way eslint currently handles peerDependencies or shared configs - I've made progress locally per https://github.com/eslint/eslint/issues/7338#issuecomment-261487207, but am blocked as described.

[2017-01-10 03:39] mikesherov commented on #7453
:+1:

[2017-01-10 03:41] mikesherov commented on #7532
:+1:

[2017-01-10 04:04] not-an-aardvark commented on #7532
:+1:

[2017-01-10 04:18] cowwoc opened #7892 "Indent expects incorrect indentation level if case contains block"
**Version of ESLint**
3.4.0

**The problem you want to solve.**

Given the configuration:

[code]

and the code:

[code]

The rule complains:

`65:3   error  Expected indentation of 3 tab characters but found 2               indent`

on the line containing the opening brace of the `default` block. I am expecting an indentation of 2. Removing the braces (block) fixes the problem (indentation level

[2017-01-10 04:51] kaicataldo commented on #7532
@dozoisch Apologies for the delay - are you still able and willing to work on this?

[2017-01-10 05:09] #7869 closed

[2017-01-10 08:31] LinusU commented on #7380
I would be happy to implement the rule (or addition to the `object-curly-spacing` rule), would that help? Who needs to "approve" this addition?

[2017-01-10 12:16] undeadcat opened #7893 "no-multiple-empty-lines performance issue (hang?)"
**Tell us about your environment**

* **ESLint Version:**
3.13.1
* **Node Version:**
6.9.2
* **npm Version:**
3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**
[code]

**What did you do**
Linted a large file: [app.txt](https://github.com/eslint/eslint/files/696032/app.txt)
(I have changed the extension to .txt in order to attach i

[2017-01-10 12:31] vitorbal commented on #7453
Seems reasonable to me too :+1:
On Tue, Jan 10, 2017 at 4:39 AM Mike Sherov <notifications@github.com>
wrote:

[2017-01-10 12:33] vitorbal commented on #7725
Makes sense :+1:
On Tue, Jan 10, 2017 at 4:27 AM Kai Cataldo <notifications@github.com>
wrote:

[2017-01-10 14:17] mightyiam opened #7894 "[request] white-label features"
FWIW: v3.13.1

@feross @Flet

Following the success of [standard](http://standardjs.com/), more curated and re-branded ESLint linters have showed up. It seems that most of them are using [standard-engine](https://github.com/Flet/standard-engine)—a kind of ESLint whitelabel wrapper.

The attempt at white-labeling is not entirely successful, because of at least these things:
- ESLint reads only bran

[2017-01-10 15:09] not-an-aardvark commented on #7893
Thanks for the report. This is a bit confusing, because we just fixed an issue in 3.13.0 (https://github.com/eslint/eslint/issues/7803) where `no-multiple-empty-lines` would hang on large files. However, it seems like you're using 3.13.1, which would already have gotten that fix.

Just to make sure, could you run `eslint -v` to double-check that you have 3.13.1 installed? If you have 3.13.1 in you

[2017-01-10 15:26] vitorbal commented on #7444
It seems like all we need now is a champion.

[2017-01-10 15:47] undeadcat commented on #7893
I've looked at the issue before reporting and specifically checked, and confirmed now that ```eslint-v``` returns v3.13.1. There is no eslint installed globally or anywhere else, so I can't think of other things that could be wrong with my install.

Have you tried reproducing it?

[2017-01-10 16:03] not-an-aardvark commented on #7893
Not yet, I'm planning to look at it a bit later today. Thanks for confirming the ESLint version.

[2017-01-10 16:08] dcleao commented on #6141
@kaicataldo That's a great management practice.

[2017-01-10 16:14] kaicataldo commented on #7444
I'll champion this

[2017-01-10 16:16] kaicataldo commented on #7444
@Alaneor Sorry again for the delay, but this issue is now accepted and is ready for implementation! Are you willing and able to implement this?

[2017-01-10 16:23] kaicataldo commented on #7380
We need a champion from the team who's willing to see the implementation through to its completion and three :+1:'s from the team.

The reason I closed this is that we've found that issues that get buried in the backlog without getting accepted end up getting lost (as can be evidenced by the lack of discussion here). Keeping our issues backlog manageable is necessary for keeping the project moving

[2017-01-10 17:19] LinusU commented on #7380
Sounds great, thank you for the thorough response 👍

[2017-01-10 17:19] kaicataldo commented on #7380
Anytime :)

[2017-01-10 18:02] dozoisch commented on #7532
@kaicataldo Hey! Yes, I'm still willing to work on this, if you can guide me in my previous interrogations! https://github.com/eslint/eslint/issues/7532#issuecomment-260100106

[2017-01-10 18:21] shellscape opened #7895 "strict: safe assumes incorrect CommonJS module"
**Tell us about your environment**

* **ESLint Version:** latest
* **Node Version:** 7.3.0
* **npm Version:** 4.1.1

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected ESLint to allow that strict d

[2017-01-10 18:23] cowwoc commented on #7890
@platinumazure Thank you for the reply. I was mostly interested in `eslint-enable` and `eslint-disable`. I read the linked discussion thread, and although it's too bad (I find JSHint treating the two kind of comments differently to be unintuitive) I understand and respect your decision.

Hopefully we can revisit this decision in a year from now (maybe once migration from JSHint slows down). Closin

[2017-01-10 18:23] #7890 closed

[2017-01-10 18:30] platinumazure commented on #7895
Using the `node` environment implies `globalReturn: true`. If your file isn't a CommonJS file, you shouldn't use the `node` environment in your configuration.

If you can share more about your project or its directory structure, we may be able to help you find a good way to configure ESLint for your project such that you use the `node` environment on actual CommonJS files only.

[2017-01-10 19:27] romulof opened #7896 "Allow disabling rules inside JSDoc comments"
**Tell us about your environment**

* **ESLint Version:** 3.12.2
* **Node Version:** 6.9.1
* **npm Version:**  4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint

Currently if to use disable a rule for a whole file I have to use the following comment before actual code:
[code]

It works flawlessly, but I think It would be nice to also support another way, just like fl

[2017-01-10 20:02] platinumazure commented on #7896
Seems interesting. I don't know how much change would be required in ESLint core or, for that matter, Doctrine (our JSDoc parser). If a lot of work is required, I'd be :-1: for this change just on cost/benefit analysis. If it's not too hard to do this, I could be :+1: for it. But I want to hear what other team members think.

[2017-01-10 20:23] alallier opened #7897 "Ignore checking for rules in package.json when specified in eslintignore"
**Tell us about your environment**

* **ESLint Version:** 2.13.1
* **Node Version:** 7.4.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**What did you do? Please include the actual source code causing the issue.**

Added a package.json to ignore in a eslintignore file in hopes that it would ignore looking in that file for rules because the JSON is

[2017-01-10 20:44] kaicataldo commented on #7693
This is currently blocked by the outcome of this discussion: https://github.com/eslint/eslint/issues/7810

[2017-01-10 20:49] nzakas commented on #6732
If you search through old issues, you'll find the previous discussion on the complexities of bringing that into core.

[2017-01-10 20:51] kaicataldo commented on #7897
Have you already tried the following options? http://eslint.org/docs/user-guide/command-line-interface#ignoring-files

I'm not personally too familiar with the file ignoring logic - will have to take a look at it, but maybe someone with a better understanding can chime in.

[2017-01-10 20:53] alallier commented on #7897
Yes I have in my ESlint file. The difference here is I don't want to ignore a file for linting. I want to ignore it from rule checking. Eslint automatically looks at every package.json for rules, not sure how to disable this behavior on a file.

[2017-01-10 20:58] kaicataldo commented on #7880
Closing this issue as it looks like the question has been answered. Please feel free to visit us in the [ESLint Gitter](https://gitter.im/eslint/eslint) if you have any other issues!

[2017-01-10 20:58] #7880 closed

[2017-01-10 20:58] nzakas commented on #7897
This isn't the correct use of eslintignore, as that is just for ignoring files to be linted.

I'm not sure I understand the use case here. Why does package.json have syntax errors? If you intend it to be used as a template, why don't you change the name of the file? (After all, there are many tools that read package.json and expect it to parse.)

[2017-01-10 21:00] nzakas commented on #7896
:-1: we try very hard not to have multiple ways of doing the same thing. This doesn't have a clear benefit and adds complexity to config calculation. So, I don't think this is a good candidate for inclusion.

[2017-01-10 21:10] nzakas commented on #7894
I'm not sure I understand the value proposition here. To me, there's value in having common configuration file names and comments, as it allows people to easily transition between tools as necessary and lets people know they are part of a larger ecosystem. Obscuring that seems like it would do more harm to end users than good as the number of ways to configure the same thing explodes.

[2017-01-10 21:10] alallier commented on #7897
Yes fair enough, I can change the templated package.json so it doesn't interfere with ESlint didn't think of that. Thank you @nzakas

[2017-01-10 21:10] #7897 closed

[2017-01-10 21:12] shellscape commented on #7895
Thanks for the quick reply. We're using ESLint via Gulp in a repo that has modules for use by Gulp as well as a nested directory of npm modules that are intended to be used on the front-end of a website - those modules contain code that makes use of RequireJS (via an in-house wrapper). Here's what that looks like:

[code]

Our ESLint config is being loaded via a required module. So what we've got

[2017-01-10 21:19] nzakas commented on #7873
I'm really against doing unsafe fixes. I don't see there being enough value to offset the potential damage such a feature could cause, let alone the bugs we will have filed and have to deal with.

There are plenty of other tools people can use to automate changes to their codebase, I don't think this is something ESLint should attempt to do.

[2017-01-10 21:32] platinumazure commented on #7895
You should be able to create a nested `.eslintrc` file inside `src/some_module/js`, and in there, set the `node` environment to false. Then you can leave `"node": true` in your top-level `.eslintrc` file. I think that will work how you need it to.

This is assuming you're okay with CommonJS/Node files requiring "use strict" directives globally and your RequireJS files to require "use strict" direc

[2017-01-10 21:41] platinumazure commented on #7896
I assume @nzakas is not going to be easily persuaded of any merits there might be to this request, and since this is a core change anyway, I'll add this to the TSC agenda for the next meeting.

**TSC Summary:** This request is to augment our per-file configuration calculations to support a JSDoc hook. Currently we use `/* eslint */` and `/* eslint-disable */` comments to configure rules (the forme

[2017-01-10 21:43] platinumazure commented on #7896
@nzakas Perhaps you could add your :-1: to the main issue comment?

[2017-01-10 21:53] platinumazure commented on #7896
Never mind, bit too early to pull this into the TSC agenda.

[2017-01-10 22:02] romulof commented on #7896
There's a caveat:
ESLint configuration inside JSDoc might get tricky because those comments are relative to module, class, function, etc that follows it. Managing scope will be more difficult.

Maybe starting only with module level comment will make things easier.

[2017-01-10 22:44] bdougherty commented on #6028
How about adding a `"ternaryCondition": false` option that will allow extra parens with a ternary?

[code]

[code]

[2017-01-10 23:01] kaicataldo commented on #6028
@bdougherty Would you like to make a new issue with your proposal? You'd have a lot more visibility than you do here!

[2017-01-11 00:37] AndrewKovalenko commented on #2532
my eslint (v3.13.1) configuration is:

[code]

and it handles fine code like:

[code]

but if I try to do any props spread in JSX:
[code]

[2017-01-11 00:39] masotime commented on #2532
@AndrewKovalenko did you mean
[code]

[2017-01-11 01:40] shellscape commented on #7895
Thanks much! Worked a charm. I still wonder if ESLint could be "smarter" about what's what, but with the myriad of ways to define and structure a module, that's probably an impossible ask.

[2017-01-11 01:40] #7895 closed

[2017-01-11 03:42] oksas commented on #7849
Looks like @qlaire's PR #7891 takes care of all of this except `lib/util/glob`; is there anyone already working on that one? I would love to take a stab at it if not!

[2017-01-11 05:09] feross commented on #7866
@alberto We're already doing `"no-multiple-empty-lines": [2, { "max": 1 }]` which sets `maxEOF` and `maxBOF`.

[2017-01-11 05:12] feross commented on #7866
Indeed, changing the setting to:

[code]

Does not solve the problem. The fixer still adds an extra newline at the end.

[2017-01-11 05:30] not-an-aardvark commented on #7866
Correction: `no-multiple-empty-lines` does not count the trailing line ending in a file as a new line, so the correct config is `maxEOF: 0`.

[2017-01-11 07:27] vedatmahir commented on #7849
Hi, @oksas!
I've already started working on that file.

[2017-01-11 09:25] feross commented on #7866
@not-an-aardvark Ah, I think you're right.

[2017-01-11 09:39] feross commented on #7866
Closing, as I don't think there's an ESLint bug here anymore.

Cheers, @not-an-aardvark!

[2017-01-11 09:39] #7866 closed

[2017-01-11 10:33] vitorbal commented on #7277
I also believe that it gets the job done. Whenever I've been away from
gitter for a few days and can't find the conversation about patch releases,
I just check the release ticket instead and I'm back in the loop.
On Tue, Jan 10, 2017 at 2:42 AM Kai Cataldo <notifications@github.com>
wrote:

[2017-01-11 10:34] oliverwoodings opened #7900 "`no-redeclare` not detecting redefinition of `for...of` variable"
**Tell us about your environment**

* **ESLint Version:** 3.8.1 and the online demo environment
* **Node Version:** 6.2
* **npm Version:** 3

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
I expected to rec

[2017-01-11 13:19] jwilsson commented on #7631
I'd like to take a stab at this if no one else is working on it, @phaux?

[2017-01-11 14:56] not-an-aardvark commented on #7900
I'm not sure about this, but I think the `foo` declared in the loop body is actually a different variable than the one declared in the loop header. So this would fall under [`no-shadow`](http://eslint.org/docs/rules/no-shadow) instead.

If `foo` was referring to the same variable in both cases, I would expect your code to throw a syntax error for the same reason as this:

[code]

But in reality, I

[2017-01-11 15:06] oliverwoodings commented on #7900
I think what is unclear is where the block scope starts. Buble throws a parsing exception for this, which is why I ended up looking into it. I guess this is maybe an issue with spec interpretation? Either Buble or Eslint have interpreted the spec incorrectly, but tbh I'm not sure which!

[2017-01-11 15:10] not-an-aardvark commented on #7900
Well, there's actually a [bug](https://github.com/ternjs/acorn/issues/487) in ESLint's parser where an error isn't even thrown for the first example. I was basing what I said off the fact that the code is valid syntax in Chrome, but I can look at the spec a bit later to double-check.

[2017-01-11 15:11] oliverwoodings commented on #7900
Ah thats a fair point - Chrome is probably a better indicator than Buble for spec compliance!

[2017-01-11 15:16] kaicataldo commented on #7849
Thanks everyone for contributing!

[2017-01-11 15:20] kaicataldo commented on #7631
@jwilsson Go for it! It looks like we didn't discuss a configuration schema, but it seems to me like this should have one string option that is either "always" or "never". Thoughts on what the default should be?

Aside from needing to figure out the default value, is everything else clear? Please feel free to comment on here or swing by the [ESLint Gitter](https://gitter.im/eslint/eslint) if you n

[2017-01-11 15:38] not-an-aardvark commented on #7631
`"always"` and `"never"` sound good to me.

I think the default should be `"never"`, since I've never seen anyone intentionally use a space here.

[2017-01-11 15:59] vitorbal commented on #7631
Agreed on "never" by default

On Wed, Jan 11, 2017 at 4:38 PM, Teddy Katz <notifications@github.com>
wrote:

[2017-01-11 16:00] kaicataldo commented on #7631
Agreed :+1:

[2017-01-11 16:04] vitorbal commented on #7851
ping @adispring, could you verify if my comment above solves your issue?

[2017-01-11 16:06] not-an-aardvark commented on #7892
I can reproduce this. It is fixed by https://github.com/eslint/eslint/pull/7618.

[2017-01-11 16:08] heimpogo opened #7901 "capitalized-comments cannot allow lower case inline comments at start of line"
**What version are you using?**
v3.13.1

**What did you do?**
I set up `capitalized-comments` the following way:

    "capitalized-comments": ["error", "always", {
        line: {
            "ignorePattern": ".*"
        },
        block: {
            "ignoreInlineComments": true
        }
    }]

This leads to a problem when linting the following code with lower-case comments:

    trackEvent(

[2017-01-11 16:25] platinumazure commented on #7901
Worth noting that according to the [JSCS implementation](https://github.com/jscs-dev/node-jscs/blob/83a16478acbed90ad5b4129897b7b54f491f2037/lib/rules/require-capitalized-comments.js#L208-L217), those wouldn't be inline comments either. So it's currently working as designed.

[2017-01-11 16:59] jwilsson commented on #7631
Cool, I'll take a look in the coming days.

[2017-01-11 17:38] nzakas commented on #7896
@romulof I'm sorry, I don't see us moving forward with this. There's just not enough value here for the added complexity.

@platinumazure mobile github doesn't let you leave reactions.

[2017-01-11 17:40] nzakas commented on #7875
I think you're probably going to need a custom rule for this. Core rules cannot conflict with one another, so we can't accept a rule that does the opposite of an existing rule.

[2017-01-11 17:44] vitorbal commented on #6054
I started implementing this. I should have a PR ready some time next week!

[2017-01-11 17:46] romulof commented on #7896
@nzakas, thanks for the consideration.

Just keep the idea for the next rewrite of the internals.

[2017-01-11 18:13] ljharb commented on #6054
I agree on changing the name. JS does not have multiple return - it only ever has single return. Destructuring is a caller-side shortcut that unpacks a single array or object.

[2017-01-11 18:41] stewx commented on #6424
I will be submitting a PR for this shortly.

[2017-01-11 19:05] kaicataldo commented on #6054
@jlharb Agreed - changing the name of the issue to reflect @nzakas's proposed name, since it looks like we have support for that

[2017-01-11 19:23] bdougherty opened #7903 "Add an exception to `no-extra-parens` to allow logical operators wrapped in parens in a ternary condition"
Right now something like `let something = (foo || bar) ? 'error' : 'warning';` will error with the `no-extra-parens` rule turned on. While technically correct that the parens are optional, I find it helpful for readability to have the parens.

So I propose that there is a new option added to the rule to allow these cases to pass. I'm not really sure what to call it exactly, but here's how I think

[2017-01-11 20:35] sgtpepper43 commented on #6443
I wouldn't really say it hasn't "reached consensus", more just that nobody ever bothered to respond. Regardless, we've mostly just given up on the rule, and now just put everything in camelcase and use lodash to convert all the keys to snake case, which actually has more support where I work than the solutions I suggested above.

[2017-01-11 20:43] platinumazure commented on #7903
Hi @bdougherty, thanks for creating a new issue.

Is the goal to exempt LogicalExpressions (using `&&` and `||` operators) in a ternary?

Would it be more sensible to perhaps have a more generic option, which allows certain node types or operators to be ignored when used as the test of a ternary expression?

Once you've thought about that, could you please edit your post to conform to the rule cha

[2017-01-11 21:02] stewx commented on #6424
PR here: https://github.com/eslint/eslint/pull/7904

[2017-01-11 21:04] stewx commented on #7862
Created PR here https://github.com/eslint/eslint/pull/7904

[2017-01-11 23:21] kaicataldo commented on #6443
Sure, there wasn't much discussion, though I don't think it was a question of whether anyone felt like "bothering" to respond. We have a lot of issues and we do our best with limited resources to stay on top of them. Apologies this one fell through the cracks.

I should have clarified - consensus here refers to our process of accepting issues (meaning it has a champion and support from three membe

[2017-01-12 01:03] th317erd opened #7907 "Add support in ESLint for other languages"
As far as I understand it, ESLint parses and AST tree as returned by the parser to do its dirty work. ESLint is only half a step away from being able to lint other programming languages. If I had an AST parser for C or Java for example, ESLint could technically lint C or Java... but it currently would need a little help... but I don't think too much.

As far as I understand it, if ESLint were simp

[2017-01-12 01:05] not-an-aardvark opened #7908 "brace-style crashes with lone block statements"
**Tell us about your environment**

* **ESLint Version:** master (this has not appeared in a release yet)
* **Node Version:** 7.4.0
* **npm Version:** 4.0.5

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[2017-01-12 02:11] #7725 closed

[2017-01-12 02:13] adispring commented on #7851
I think putting a comma after function's arguments is an syntax error

[2017-01-12 04:16] not-an-aardvark commented on #7874
I decided to make this a bit more configurable. I made a proof-of-concept [here](https://github.com/not-an-aardvark/eslint-canary).

[2017-01-12 10:10] mightyiam commented on #7894
I tend to agree with @nzakas. A white-label would hurt end-users and is not necessary for the concept of a curated linter. [It is transparent](http://standardjs.com/#how-do-i-hide-a-certain-warning) and should be transparent that the backend is ESLint.

I'm attempting to make the correct abstraction in https://github.com/mightyiam/curated-linter. Feedback on that will be welcomed.

[2017-01-12 10:10] #7894 closed

[2017-01-12 10:27] rangelke commented on #6716
I can try to pick this up, as I would like to start contributing to eslint, this sounds like a good introduction to the eslint-project. If no-one is busy with it of course.

As for the change in documentation. Would you prefer 1 single example and explaining with comments, which is good an bad?
Or would you prefer multiple example for (1) var in case being always valid, (2) declarations outside th