[2015-10-02 01:29] ilyavolodin commented on #4009
I think this can be generalized more. Basically we could create a rule that would capture any list of comma-separated items (object declarations, arrays, destruction, function invocations, function declarations, etc.) and enforce a limit as to how many items can be written on the same line. If threshold is passed, every item has to be on the separate line.

[2015-10-02 01:53] nzakas commented on #4010
Task runners can use the Node.JS API to do this already. See http://eslint.org/docs/developer-guide/nodejs-api#cliengine

[2015-10-02 01:53] #4010 closed

[2015-10-02 01:58] nzakas commented on #3981
@ilyavolodin they don't behave differently now, they always report the same messages (minus fixed messages). In this case, the rule could potentially return many more messages than without `--fix`. That's my concern, especially if, for some reason, all line breaks cannot be fixed.

[2015-10-02 02:01] #3994 closed

[2015-10-02 02:02] #3978 closed

[2015-10-02 02:04] nzakas commented on #3964
That's true, however, this global exists in most browsers, so it's safer to assume that it's there by default.

[2015-10-02 02:10] nzakas commented on #3993
@ilyavolodin `eslint -v` will return the correct version regardless of where it is run. Plugins are definitely a concern, though I'd expect those who install plugins globally won't have ESLint installed locally.

We probably need to get some further feedback. @endlist @iamstarkov

[2015-10-02 02:31] platinumazure commented on #4008
Should the issue title be changed now that a root cause has been identified?

[2015-10-02 03:30] ilyavolodin commented on #3993
@nzakas I don't think you are right. If I have v1.5.1 installed globally, if I run `eslint -v` from inside the folder that has devDependancy on eslint v0.24.0 I'll get `v0.24.0` as a result. If I run the same command from my home directory I will get `v1.5.1`. At least that's my understanding, @jamestalmage correct me if I'm wrong.

[2015-10-02 03:36] kentcdodds commented on #3993
I often have to either have an npm script or simply run `node_modules/.bin/eslint src/` to make this happen. Would love this to be the default behavior.

[2015-10-02 03:59] jamestalmage commented on #3993
@ilyavolodin
You are correct, but I think the point is that when you tell a user to do `eslint -v` in their project directory, you will see what version they are *actually* using. I understand your argument is that they may do it from their home directory and report back the incorrect version (their globally installed version instead of the local one). However, right now your are dealing with an e

[2015-10-02 04:06] jamestalmage commented on #3993
Or better yet:

1. The version of ESLint you are using. Run `eslint -v`. (Make sure to do run this from the same directory you ran the `eslint` command you are reporting).

That tells you what you need to know directly (assuming the user follows directions).

[2015-10-02 04:09] kentcdodds commented on #3993
Could -v show both versions? Just labeled sensibly?

On Thu, Oct 1, 2015, 10:06 PM James Talmage <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-02 04:15] jamestalmage commented on #3993
Yes. That is absolutely a possibility.

[2015-10-02 07:21] SimenB commented on #801
Is it possible to define the `extensions`-array in `.eslintrc`?

[2015-10-02 07:26] indexzero opened #4011 "Rule setting suggestion: "allow-invoked" with no-mixed-requires [$25]"
Read through open and closed issues about `no-mixed-requires` and didn't see anything like this. Would allow syntax like this:

[code]

But still disallow all mixed constants,etc. Currently the work around for this is to simply put the immediately computed result in a separate `var` statement:

[code]

<bountysource-plugin>
---
There is a **[$25 open bounty](https://www.bountysource.com/issues/271

[2015-10-02 08:45] kileras commented on #3964
@nzakas I know that inline event listeners depend on this, in fact I explained before that is actually the origin of it, and thats true not only for IE < 9 but for every single browser out there. That does not mean that "the only way to access the current event." is using the global as IE have its own attachEvent and you can even do, again as any other browsers since almost forever, element.onclic

[2015-10-02 10:17] alberto commented on #3980
Excuse my ignorance, but why would that be problematic?
What if we filtered `\r\n` and `\n` as valid replacements?

[2015-10-02 11:17] JulianLaval commented on #3550
Rebasing off of upstream yields the following error. Have I missed something?

     1) CLIEngine executeOnFiles() Fix Mode should return fixed text on multiple files when in fix mode:

      AssertionError: expected { Object (results, errorCount, ...) } to deeply equal { Object (results, errorCount, ...) }
      + expected - actual

           {
             "errorCount": 0
             "filePath"

[2015-10-02 11:38] gronke commented on #3550
Rebasing https://github.com/gronke/eslint/tree/issue-2365 against upstream/master worked without that issue. To be honest I just re-applied your diff-patch to that branch by hand :yum:

@JulianLaval thanks for agreeing to include your changes in #3948

[2015-10-02 12:16] JulianLaval commented on #3550
Ha no worries, will leave this alone in that case!

[2015-10-02 12:28] kileras commented on #3964
I just saw that is not exactly this repo the one that has the list of globals and in fact someone already created and issue and a pr to fix it so I drop a comment there too for reference :smile:

[2015-10-02 12:41] zowers commented on #3964
having `event` in globals and no means to exclude it is the source of "event is undefined" errors, so there are 2 possibilities:
1. exclude `event` from `globals.browser`
2. have a way to exclude variables defined earlier by `env` configuration

[2015-10-02 13:54] mysticatea commented on #3968
I will try to fix this.
My plan is to convert `\r\n` to `\n` before `assert.deepEqual`.

[2015-10-02 14:15] platinumazure commented on #3968
@mysticatea That's a good plan for this issue, but I feel like this might come up anytime newlines are involved if we don't have a solid plan for choosing what sort of newline will be "standard" in ESLint. Although, of course, this needs to be done in such a way that consuming repositories can also choose a linefeed style.

Should ESLint just rely on `.gitattributes`, or is there something else th

[2015-10-02 14:36] lucasfeliciano opened #4015 ""fetch" is not defined"
`import 'isomorphic-fetch';`

expose a function called "fetch" as so react-native projects.

which rule i need to use to suppress this error just for this case?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27116509-fetch-is-not-defined?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accep

[2015-10-02 14:54] mysticatea commented on #3971
I will try to fix this.
This is a breaking change?

----

@michaelficarra

`VarScopedDeclarations` and `LexicallyScopedDeclarations` look creating bindings into the same environment record to me. (`14.a.i` and `16.a.ii.1`)
What is a difference between `VarScopedDeclarations` and `LexicallyScopedDeclarations`?

[2015-10-02 14:56] ilyavolodin commented on #4015
As this is react-specific feature, you might want to create an issue in [eslint-plugin-react](https://github.com/yannickcr/eslint-plugin-react) repository. Or they might already support this (not sure). ESLint doesn't support react out of the box.

[2015-10-02 15:03] jvandemo opened #4016 "Source code fixer does not handle undefined source code correctly"
When running `eslint src --fix` I encountered the following error:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27117197-source-code-fixer-does-not-handle-undefined-source-code-correctly?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2015-10-02 15:03] lucasfeliciano commented on #4015
I tried to use the plugin, but this is a feature from react-native so it is not implemented.

Besides that other modules could export that function, like  `import 'isomorphic-fetch';`  does

[2015-10-02 15:14] btmills commented on #4015
If you just want to make sure ESLint knows about the global variable, check out the [Specifying Globals](http://eslint.org/docs/user-guide/configuring#specifying-globals) section of our configuring docs. Will `/*global fetch:false*/` work?

[2015-10-02 15:45] lucasfeliciano commented on #4015
But I need to add this comment in every file that I use the 'fetch()', right?

I was looking for a rule to put in `.eslintrc`

[2015-10-02 15:46] btmills commented on #4015
Skip down a line in the docs, how about `"globals": { "fetch": false }`?

[2015-10-02 15:56] rich-hansen commented on #4008
Alright I modified my local version with json-stable-stringify, and I also had to specify the cache files (as I have 2 eslint tasks). Once I did that runs 2+ with no change took 1.1s  Massive massive improvement.

[2015-10-02 16:00] TheEradicated opened #4018 "TypeError: Cannot read property 'substring' of undefined"
Freshly installed Eslint v1.5.1. When I run "eslint --init" for the first time, I get this.
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27118650-typeerror-cannot-read-property-substring-of-undefined?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-10-02 16:05] #4016 closed

[2015-10-02 16:06] #3961 closed

[2015-10-02 16:07] #3968 closed

[2015-10-02 16:08] #3856 closed

[2015-10-02 16:22] alberto commented on #3881
@nzakas So what do you want to do with this? Delete the current ones from README? Leave it as is? Or are you waiting for more feedback?

[2015-10-02 16:26] #3946 closed

[2015-10-02 16:31] aparajita commented on #4004
It turns out there are more bugs in the allman switch testing. I suggest that I update my original PR with the new fixes and add the stroustrup tests to validate that the PR didn't break that.

[2015-10-02 16:45] aparajita commented on #4004
And at first look perhaps the other non-block statements like try/catch are also wrong with allman. Not to mention the positions reported for the errors are all wrong, they point to the keywords and not the offending braces.

[2015-10-02 16:54] aparajita commented on #4004
And the rule is using the deprecated context methods instead of SourceCode methods.

[2015-10-02 16:56] aparajita commented on #4004
I'm willing to fix all of this, but not if you want a separate issue and PR for every separate bug I found.

[2015-10-02 17:03] ilyavolodin commented on #4018
Are you using NPM 3 by any chance? Can you check your node_modules directory and find out what version of inquirer you are using?

[2015-10-02 17:08] #4008 closed

[2015-10-02 17:17] #4001 closed

[2015-10-02 17:30] nzakas opened #4020 "Remove JSX code fences"
The `jsx-quotes` rule documentation has code fences in it using `jsx`. This is an invalid code fence and needs to be changed as it breaks the Jekyll site generation. Maybe it should be `html` instead?

@lo1tuma

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27121662-remove-jsx-code-fences?utm_campaign=plugin&utm_content=tracker%2F28

[2015-10-02 18:21] Trott opened #4021 "Proposed rule: `required-modules`"
**When does this rule warn? Please describe and show example code:**

The rule will warn if a file fails to require the CommonJS modules specified. This is a Node.js-specific rule. It is the flip side of the existing `no-restricted-modules` rule.

**Is this rule preventing an error or is it stylistic?**

This is stylistic.

**Why is this rule a candidate for inclusion instead of creating a custom

[2015-10-02 20:21] gyandeeps commented on #3911
closing for #3772

[2015-10-02 20:21] #3911 closed

[2015-10-02 21:16] gyandeeps commented on #3460
Do we need this enhancement or not?
ping @eslint/eslint-team

[2015-10-02 21:17] gyandeeps commented on #3480
We left this hanging here.
ping @eslint/eslint-team

[2015-10-02 21:18] gyandeeps commented on #3641
Are we just missing accepted label, based on the convo?
@nzakas @ilyavolodin

[2015-10-02 21:20] gyandeeps commented on #3682
This sounds more like an enhancement?
CC @eslint/eslint-team

[2015-10-02 21:21] gyandeeps commented on #3761
closing for #3587

[2015-10-02 21:21] #3761 closed

[2015-10-02 21:29] carlbennettnz opened #4023 "no-cond-assign giving error on intentional assignment in for loop"
[code]

Even with the `no-cond-assign` set to the default `except-parens` rule, this still fails. Intentional?

Output:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27126744-no-cond-assign-giving-error-on-intentional-assignment-in-for-loop?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github

[2015-10-02 22:27] ilyavolodin commented on #3641
I think it's a reasonable option to add.

[2015-10-02 22:28] ilyavolodin commented on #3682
Agree. That's an enhancement. I think it makes sense to add.

[2015-10-02 23:53] ilyavolodin commented on #4023
Can you provide version of ESLint you are using and your config file please?

[2015-10-03 00:02] #3765 closed

[2015-10-03 00:06] nzakas commented on #3881
I'm leaning towards removing it, as I don't want to maintain that list.

@eslint/eslint-team thoughts?

[2015-10-03 00:07] xjamundx commented on #3881
Remove it.

[2015-10-03 00:08] nzakas commented on #4009
I think that's actually too general. I'm not sure this is important enough to be a core rule at this point.

[2015-10-03 00:16] nzakas commented on #3964
@kileras we are not bound to use whatever `globals` exposes, we still need to define for ourselves whether or not we want to include it. So far, I'm not seeing a benefit of removing `event`. Unless you want to show how having `event` predefined is causing harm, I'm inclined to say we aren't making this change. (Leaving myself open to be convinced here, but the argument that Firefox doesn't support

[2015-10-03 00:19] nzakas commented on #3460
I don't think we need it right now. If I'm wrong, we can reopen.

[2015-10-03 00:19] #3460 closed

[2015-10-03 00:21] nzakas commented on #4004
We need an issue describing everything you're fixing. You can file one issue with multiple problems, just make sure you explain them clearly. Then you can do one PR to fix them all.

[2015-10-03 00:25] ilyavolodin commented on #3881
Now that we have a list on the site, I don't think it makes a difference either way.

[2015-10-03 00:36] aparajita commented on #4004
Fine, as long as I only need one PR for all of the problems.

[2015-10-03 01:09] gyandeeps commented on #3881
I dont think we dont need it.
As it is our list is currently outdated. So rather then maintaining at 2 spots its better to remove this.

[2015-10-03 01:09] TheEradicated commented on #4018
I'm using npm 2.14.3. Checked out the inquirer/package.json and this is the version, I think.
[code]

[2015-10-03 01:35] gyandeeps commented on #4018
What is your OS?
There is a known issue on windows 10.

[2015-10-03 01:58] TheEradicated commented on #4018
I guess it's an issue. I'm running Windows 10 Enterprise LTSB.

[2015-10-03 06:11] mysticatea commented on #3996
Oh... this rule is text-based, not token-based.

[2015-10-03 06:44] carlbennettnz commented on #4023
v1.6.0

No config except for that one inline rule.

[2015-10-03 07:01] alberto commented on #3885
An alternative would be to be able to read the configuration of other rules.

[2015-10-03 07:51] mysticatea commented on #3916
This behavior seems to be intented: https://github.com/eslint/eslint/blob/560d7086051eff720fb63a877f6f8b95e9235316/tests/lib/eslint.js#L1273-L1299

[2015-10-03 08:10] mysticatea commented on #3951
Seems to not reproduce this in `npm@3.3.5`.
I did `npm i eslint` after I removed `node_modules`.

[code]

[2015-10-03 08:16] mysticatea commented on #3951
never mind.
If there are other modules (such as `npm i eslint browserify`), it still reproduce this.

[2015-10-03 13:52] kombucha opened #4027 "New: rule no-magic-number"
**When does this rule warn? Please describe and show example code:**

This rule will warn when magic numbers are used in the code. For example :
[code]

[code]

The configuration takes 3 parameters :

* `ignore`: An array of numbers to ignore. It's set to `[0, 1, 2]` by default.
* `detectObjects`: A boolean to specify if we should detect numbers when setting object properties for example. `false`

[2015-10-03 14:49] lo1tuma commented on #4027
Sounds good to me.
This was also mentioned in the webstorm rollup #667

[2015-10-03 14:56] michaelficarra commented on #4020
If Jekyll doesn't support it, don't highlight it. It's certainly not HTML.

[2015-10-03 14:57] lo1tuma commented on #4020
I agree with @michaelficarra

[2015-10-03 15:15] alberto commented on #4020
jekyll doesn't support it out of the box. I couldn't even find a jsx lexer.
even if there was one, I don't think you can make it work on github pages
El 03/10/2015 16:56, "Michael Ficarra" <notifications@github.com> escribió:

[2015-10-03 15:18] btmills commented on #4020
[Linguist detects JSX](https://github.com/github/linguist/blob/master/lib/linguist/languages.yml#L1580). I'd say keep it.

[2015-10-03 15:40] ilyavolodin commented on #4023
Based on the code of the rule, it looks like this is a bug, and rule should allow it. Also error message is pointing to the wrong location (for keyword instead of the test node).

[2015-10-03 15:47] ilyavolodin commented on #3916
Hmm... Ok, I think that makes sense for Node environment. But the same would be happening for CommonJS environment, and I'm not 100% sure it makes sense there. Anyone has an opinion? @eslint/eslint-team

[2015-10-03 15:50] ilyavolodin commented on #4027
Agree. It's a good rule to have.

[2015-10-03 16:25] nzakas commented on #4020
I think I'm not being clear: this broke the site, keeping it is not an option. I had to manually go in and remove it to get the site to generate.

The actual examples using it contained only HTML. I actually don't care if it's tagged as HTML or not, but it can't be tagged as JSX without breaking site generation.

[2015-10-03 16:28] nzakas commented on #4006
We probably need to ensure `space-after-keywords` does not apply when there's a block immediately following it.

@mysticatea I think you just fixed something similar to this?

[2015-10-03 16:37] nzakas commented on #3993
@ilyavolodin yup, that's exactly what I'm saying. It's only important that `-v` returns the version actively being used. That's what we want when someone is filing a bug, since that's the relevant info.

What does "labeled sensibly" mean? Id prefer not to invent an output format if possible.

[2015-10-03 16:38] nzakas commented on #4011
I think we need to think through the name of the option a bit, but seems like a good idea. Do you want to submit a pull request?

[2015-10-03 16:39] nzakas commented on #3971
I don't think this is breaking, it's just a bug.

[2015-10-03 16:42] nzakas commented on #4021
We can't accept a rule that is the opposite of an existing rule. So we either need to have one rule that can do both of we just stick with what we have.

@eslint/eslint-team thoughts?

[2015-10-03 16:43] nzakas commented on #3480
Unless I'm missing something, I don't see how we can support this. If anyone has an idea, please speak now.

[2015-10-03 16:44] nzakas commented on #3641
OK, open for implementation.

[2015-10-03 16:45] nzakas commented on #3682
What would the option be called?

[2015-10-03 16:46] nzakas commented on #4004
Yup. Now what's the state of this issue? Was it fixed?

[2015-10-03 16:46] kentcdodds commented on #3993
I just meant something like:

Directory version: 1.5.0
Global version: 1.0.1

On Sat, Oct 3, 2015, 10:37 AM Nicholas C. Zakas <notifications@github.com>
wrote:

--
- Kent C. Dodds <https://twitter.com/kentcdodds>

[2015-10-03 16:46] nzakas commented on #3881
Okay, let's remove it.

[2015-10-03 16:51] nzakas commented on #4018
I think this is a duplicate of #3395?

[2015-10-03 16:53] indexzero commented on #4011
I'll take a stab at it, could be tricky though.

[2015-10-03 16:53] nzakas commented on #3996
It is OK to rewrite with tokens.

[2015-10-03 16:54] btmills commented on #4020
Working on this. Going with HTML so we at least have some highlighting unless someone objects.

[2015-10-03 16:56] nzakas commented on #3885
Yeah, I've been thinking about that. The hairy part of that is that we'd be creating a relationship between rules that doesn't exist right now. Maybe that's OK if it's just configuration data, but it's a tenuous situation. For instance, what if you don't have `semi-spacing` enabled but `semi` relies on it for spacing information? What happens then?

[2015-10-03 16:58] btmills commented on #3881
Working on this.

[2015-10-03 17:01] #3971 closed

[2015-10-03 17:04] aparajita commented on #4004
The immediate problem was fixed by #4003.

[2015-10-03 17:04] nzakas commented on #3916
I think marking something as exported should count as being used regardless of scoping.

[2015-10-03 17:13] BenoitZugmeyer commented on #2390
Interesting option, I'd like to use it. Working on it.

[2015-10-03 17:15] btmills opened #4031 "Tests failing due to sub-dependency licenses"
[code]

Via `to-single-quotes@1.0.3` &rarr; `meow@3.4.0` &rarr; `read-pkg-up@1.0.1` &rarr; `normalize-package-data@2.3.4` &rarr; `validate-npm-package-license@3.0.1` &rarr; `spdx-expression-parse@1.0.0`, which depends on both `spdx-exceptions@1.0.2` and `spdx-license-ids@1.0.2`.

Discovered via test failures on #4029 and #4030, meaning this is blocking new work.

<bountysource-plugin>
---
Want to

[2015-10-03 17:17] sindresorhus commented on #3599
This was added in `globals` as `shared-node-browser`. Someone submit a pull request on ESLint to add it ;)

[2015-10-03 17:18] nzakas opened #4032 "Dependency license checking fails"
Travis is failing with:

[code]

I'm not sure where these are being included. "Unlicense" is public domain (unlicense.org), so that should be allowed. The other one is not a valid software license, so not sure what's going on there.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27141594-dependency-license-checking-fails?utm_campaig

[2015-10-03 17:19] nzakas commented on #4032
Duplicate of #4031

[2015-10-03 17:19] #4032 closed

[2015-10-03 17:20] sindresorhus commented on #4031
// @kemitchell

[2015-10-03 17:21] sindresorhus commented on #4031
Give me half an hour and I'll remove the `meow` package from `to-single-quotes`.

[2015-10-03 17:21] nzakas commented on #4031
"Unlicense" is public domain (unlicense.org), so that should be allowed.

Filed: https://github.com/kemitchell/spdx-exceptions.js/issues/1

[2015-10-03 17:25] ilyavolodin commented on #4021
I'm not sure I see the use of this rule to be widespread enough to justify inclusion into the core.

[2015-10-03 17:27] ilyavolodin commented on #3682
I'm not sure this should be an option. I think it should just be an enhancement to an existing functionality.

[2015-10-03 17:30] IanVS commented on #3682
Unless there is a reason someone would want a blank line like this, and I can't imagine why anyone would, I think it would be best to avoid adding an option and just make it default behavior.

[2015-10-03 17:34] ilyavolodin commented on #3993
@nzakas Sorry, I'm not describing the scenario clearly. Suppose somebody posts an issue that they have with a locally installed version of eslint. Bot asks for version, they open up command prompt/terminal (that opens up in the home directory) and run `eslint -v` which will output global version of ESLint.

@kentcdodds @jamestalmage I don't think outputing two versions makes much sense. If there's

[2015-10-03 17:35] ilyavolodin commented on #4018
Doesn't look like it. It's crashing all together, and #3395 describes an issue where the arrow selection is not possible.

[2015-10-03 17:38] ilyavolodin commented on #3885
I think this might lead to a lot of complex cross-relationships. I'm not sure that's a good idea. Maybe if instead of exposing rule configuration, we create some global object that can maintain currently enabled style for all of the rules that individual rules can query?

[2015-10-03 17:40] ilyavolodin commented on #4004
This issue has been fixed. @aparajita Can you open a new issue describing all of the problems that you found with `brace-style` that way we can accept a single PR for all of them.

[2015-10-03 17:40] #4004 closed

[2015-10-03 17:41] sindresorhus commented on #4031
Fixed in `to-single-quotes@1.0.4`.

[2015-10-03 17:46] alberto commented on #3885
@nzakas It would create less of a relationship than merging the rules. :) If you don't have `semi-spacing` enabled, you can use a default. In this case, the rule defaults seems the obvious choice: `{"before": false, "after": true}`.

[2015-10-03 17:52] mysticatea commented on #4006
I think this issue is almost duplicate of #1338.
I mentioned similar thing in #3821, but not fixed.

[2015-10-03 17:55] danielstjules commented on #4027
Nice! :)

Is it compatible with buddy.js for all the fixtures here https://github.com/danielstjules/buddy.js/tree/master/spec/fixtures ?

[2015-10-03 18:13] ilyavolodin commented on #4031
Restarted all failed builds manually. Should clear out in a moment.

[2015-10-03 18:17] btmills commented on #4031
@sindresorhus sorry, I missed one earlier. `to-double-quotes` also includes `meow`.

[2015-10-03 18:25] sindresorhus commented on #4031
@btmills Ok, fixed in `to-double-quotes@1.0.2`.

[2015-10-03 18:33] btmills commented on #4031
That did it. Thanks @sindresorhus!

[2015-10-03 18:33] #4031 closed

[2015-10-03 18:36] kombucha commented on #4027
Should be, yeah !

[2015-10-03 18:45] aparajita commented on #4006
There's another bug in the implementation of `space-after-keywords` when using allman braces:

[code]

It complains that `Keyword "do" must not be followed by a newline.` Huh? If a newline isn't considered space after a keyword, I don't know what is.

[2015-10-03 18:46] kentcdodds commented on #3993
Makes sense... I just had another thought. Probably a different issue and
PR altogether...

The goal is to get the poster of an issue to post all relevant information
to make solving the problem easier. What if there were a command that shows
not only the eslint version, but all installed plugins and their versions
along with any other relevant data.

Maybe it could even open the browser with that

[2015-10-03 18:57] aparajita opened #4034 ""space-before-function-paren" and "no-spaced-func" duplicate functionality."
eslint v1.6.0

Both rules control space between function names and parentheses, but `space-before-function-paren` has more options. Seems to me that `no-spaced-func` should be deprecated in favor of `space-before-function-paren`.

[2015-10-03 19:05] aparajita commented on #4034
Never mind, I just noticed that one is for function declarations and the other is for function calls. That should be clearer in the documentation.

[2015-10-03 19:05] #4034 closed

[2015-10-03 19:35] #3881 closed

[2015-10-03 19:55] michaelficarra commented on #4021
@ilyavolodin Agreed. This is not a common need.

[2015-10-03 19:57] michaelficarra commented on #3916
@nzakas The more likely scenario is that either the environment is wrong or they didn't mean to have that comment. These are conflicting configurations.

[2015-10-03 20:21] #4020 closed

[2015-10-03 21:28] jamestalmage commented on #3993
@ilyavolodin @nzakas
Long term, I think the best solution is to update the bot message to tell users to run `eslint -v` from the project directory.

In the short term however, you have a problem. If they run `eslint -v` in their project directory, and it returns `<= 1.5.1` you are still in an ambiguous situation:

  1. They have an old globally installed version that does not default to local, so

[2015-10-04 04:59] jamestalmage commented on #3993
Based on some of this feedback, I have cut a new release of `fallback-cli`.

Using a `customRunner`, it should ease implementation of any/all the additional features requested here. See [the docs](https://www.npmjs.com/package/fallback-cli#runneroptions).  It should be especially helpful in documenting both local and global versions, and for improving plugin lookup to include both local and global

[2015-10-04 10:53] Oreqizer commented on #3880
still an issue with eslint v1.6.0, node v4.1.1. windows 10

* i ran `eslint --init`
* this lead me to:

_? What style of indentation do you use? (Use arrow keys)
Tabs
Spaces_

Arrow keys don't work for selecting between the `tabs` and `spaces` options.

[2015-10-04 11:13] TheEradicated commented on #4018
Updated to v1.6.0, same thing (knew that it still isn't fixed). Also, I forgot the line on the top.

[2015-10-04 11:44] BYK commented on #2390
I was gonna propose this actually. We need this at work too :) :+1:

[2015-10-04 12:13] alberto commented on #3641
Working on this. Should it be an option or the default behavior of `never`?

[2015-10-04 12:15] alberto commented on #3682
I'll give it a try

[2015-10-04 15:01] ilyavolodin commented on #3641
Proposed option is: `init-declarations: [1, "never", { "ignoreForLoops": true }]` I think that should work

[2015-10-04 16:00] ndaidong opened #4036 "ESLint Crashed - Cannot find module 'del'"
Hi there,

I just got the following error after updating eslint to v1.5.1:

[code]

I'm coding with ATOM v1.0.9, environment: node.js v4.1.1, npm v3.3.4, Linux Mint 17.2

Screenshots:

Error alert in ATOM: http://i.imgur.com/An1CRcK.png
Error message in Sublime: http://i.imgur.com/KUrsdn6.png

Please let me know how to detect what is the cause of this issue?

Thank for any help.

<bountysource-plu

[2015-10-04 16:22] ndaidong commented on #4036
Fortunately, I have updated to v1.6.0 and the error no longer occur. So I would like to close this issue, please focus on other tasks.

[2015-10-04 16:22] #4036 closed

[2015-10-04 18:36] tyronepost commented on #3880
eslint --init brings up

? What style of indentation do you use? (Use arrow keys)
Tabs
Spaces

Arrow keys are unresponsive.

Using Windows 10, node v4.0.0, eslint v1.6.0

[2015-10-04 19:58] alberto commented on #3641
Is `ignoreForLoops` an appropriate name considering that initializations inside the `for` body are still validated?

[2015-10-04 20:09] gajus opened #4037 "Add a new formatter ("tabular")"
I would like to propose to replace "stylish" or add a new formatter called "tabular".

The output formate is:

[code]

In terminal, it looks like:

<img width="808" alt="screen shot 2015-10-04 at 21 11 01" src="https://cloud.githubusercontent.com/assets/973543/10269981/738a6cc6-6adc-11e5-9dbc-b41c473dc84f.png">

The table itself is generated using https://github.com/gajus/table package.

<bountyso

[2015-10-04 20:11] gajus commented on #4037
If accepted, I will create a PR.

[2015-10-04 21:25] platinumazure commented on #4037
:+1 That would be pretty sweet. No need to replace `stylish` though, IMO.

[2015-10-04 21:56] alberto opened #4040 "Bug: no-cond-assign should report assignment location"
As mentioned in #4023, no-cond-assign reports the location of the containing node instead of the assignment.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27160147-bug-no-cond-assign-should-report-assignment-location?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2015-10-04 22:16] gronke opened #4041 "tests always resolve to project .eslintignore"
When running `node Makefile.js test` the pwd of the tests is the top directory of the repository. The contained `.eslintignore` file [is taken by IgnoredPaths as default when no other file was specified](https://github.com/eslint/eslint/blob/51b30e66207e29230a8173f38e07f152f0998d42/lib/ignored-paths.js#L66-L72). Independent of the [usage of a duplicated fixture directory](https://github.com/eslint

[2015-10-05 00:54] #3599 closed

[2015-10-05 00:56] ilyavolodin commented on #3880
Unfortunately this is an issue with one of the dependencies, we can't do much about it until it's fixed in Inquirer

[2015-10-05 00:56] ilyavolodin commented on #3641
Hmm.. Good point. Not sure what would be a better name...

[2015-10-05 01:00] ilyavolodin commented on #4037
I don't see anything wrong with adding this in, but I don't think we would want to replace stylish with this. Stylish has all the same information in a more compact form.

[2015-10-05 01:03] ilyavolodin commented on #4041
Just to clarify, are you saying that all of our unit tests that deal with .eslintignore are not running correctly, but at the same time, not reporting any issues?

[2015-10-05 01:10] ilyavolodin commented on #4018
@TheEradicated I can't reproduce this locally on Windows 8 Professional or Windows 10 Professional. What version of Node are you using? Also, could you try blowing away node_modules directory under your eslint installation and running `npm install` again?

[2015-10-05 01:11] ilyavolodin commented on #4015
@lucasfeliciano Does @btmills suggestion helped?

[2015-10-05 01:24] ilyavolodin commented on #3682
@nzakas Are you ok with enabling this without an option?

[2015-10-05 02:31] gronke commented on #4041
The current tests run correctly, but during work on a branch with more tests of IgnoredPaths that issue was revealed. A few things come together why we don't see it yet

1. pwd of the tests is the top directory of the repository, so that a ignore file lookup would prefer `.eslintignore` from that directory
2. No test in `tests/lib/ignored-paths.js` runs IgnorePath with `{ ignored: true }` without

[2015-10-05 03:30] ronkorving commented on #3637
@xjamundx thanks, done :)

[2015-10-05 05:32] nickInMN opened #4042 "id-match bug incorrectly errors on `NewExpression`"
Am I misunderstanding what this rule is supposed to do?  Version 1.1.0 of ESLint.

I have the following line:
var startDate = new Date();

The rule is configured as:
"id-match": [ 2, "^[a-z$]+([A-Z][a-z]+)*$", { "properties": false } ]

The error I am getting is:
32:25 error Identifier 'Date' does not match the pattern '^[a-z$]+([A-Z][a-z]+)*$' id-match

I thought the idea of this rule is define n

[2015-10-05 05:55] jamestalmage opened #4043 "global-require should allow `require` statements as properties in object literals"
eslint version:
`^1.4.1`

rule config:
`"global-require": 1`

Assuming I have a folder structure like this

[code]

And `/app/validators/index.js`

[code]

It does not make sense to me that this is a violation.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27164658-global-require-should-allow-require-statements-as-properties-in-obj

[2015-10-05 05:58] jamestalmage commented on #4043
Between this and the `try/catch` issue (#3834), it may make sense to create an alternate, more relaxed rule that only checks if `require` is in a new function scope.

[2015-10-05 07:10] yangit commented on #2678
[code]

this code still yields no errors.
Version is eslint 1.6.1
Settings as mentioned above

[code]

Expected output is to get a `no-unused-vars` error for `b` variable.

[2015-10-05 07:10] alberto commented on #4042
I think your RegExp is wrong. You should remove the first `$`

[2015-10-05 07:43] ronkorving opened #4045 "Request: support .eslint.yaml as a valid config filename"
The reason for this is simple: YAML syntax highlighting in editors.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27165999-request-support-eslint-yaml-as-a-valid-config-filename?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/

[2015-10-05 09:31] FND opened #4046 "severity literals"
As I understand it, a rule's severity is currently expressed with a number (0/1/2) as the first item in the list of rule configuration options:

[code]

This can make `.eslintrc` somewhat cryptic (even misleading) for the uninitiated, so it would be nice to be able to use literals instead:

[code]

(I've tried extending [`getRuleSeverity`](https://github.com/eslint/eslint/blob/adf5124de692bf7f9915

[2015-10-05 09:40] kileras commented on #3964
@nzakas Well for me there is not much difference between window.event, which is a proprietary implementation present in two engines and not part of any spec, and the prefixed globals with webkit for example, they are equally specific and I think that neither of them should be considered global.

But if you don't feel like it's enough, well its your decision :smile:  Feel free to close then issue I

[2015-10-05 09:51] kileras commented on #3966
Well so back here since the removal of the global didn't get accepted so I think that we totally need a rule to prevent this for happening.

I already explain why I think that this rule is quite specific, its kind of magical properties, the fact that it comes form a old now deprecated practice and it's absence in some browsers. But I must admit that having a rule only for this seems a bit wrong as

[2015-10-05 12:13] nickInMN commented on #4042
I want to allow for $ to start a variable name in the case that it is a jQuery variable.

[2015-10-05 12:27] BYK commented on #4042
`Array` and `Date` are identifiers even if they are predefined globals. Your rule's first part only allows lower-case letters, that's why the rule is giving you a warning. Are you suggesting the rule should simply ignore globals?

[2015-10-05 12:40] nickInMN commented on #4042
I was under the impression that it would only flag the name of the variable I created, I wasn't expecting to to validate the right hand side.

I suppose ignoring globals would be one way, but even then you may run into this issue if using a third party component.  I guess I misunderstood the rule in that I was only expecting it to validate the name of the variable I crated.  More specifically, I w

[2015-10-05 13:13] BYK commented on #4042
@nickInMN - hmm, what you say also makes sense. That's how I constructed my `id-length` rule. I'd say worth a look.

[2015-10-05 13:17] BYK commented on #4042
Okay, looks like this only happens if you use `new` since `NewExpression` is different than `CallExpression` which the code checks against. can you confirm this and this is what you want? If so I'll mark this as accepted.

[2015-10-05 13:19] #4040 closed

[2015-10-05 13:20] ilyavolodin commented on #2678
@yangit Could you open a new issues?

[2015-10-05 14:20] yangit opened #4047 "Unused var error missing when using es6 modules and arrow function (no-unused-vars)"
[code]
This code yields no errors.
Expected output is to get a no-unused-vars error for b variable.
Version is eslint 1.6.1
Settings are:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27173968-unused-var-error-missing-when-using-es6-modules-and-arrow-function-no-unused-vars?utm_campaign=plugin&utm_content=tracker%2F282608&u

[2015-10-05 14:22] yangit commented on #2678
Done #4047

[2015-10-05 14:25] nickInMN commented on #4042
@BYK - Yes, you are correct.  If I remove <code>new</code> from that line ESLint behaves as I would expect and there are no errors.

[2015-10-05 14:33] mzgol opened #4048 "radix: add a "never" option"
If one targets modern browsers only or has a transpilation step that transforms radix-less `parseInt` into one compatible with older browsers it might be undesirable to enter the radix if it's statically determinable to be equal to 10. It would be useful if the `radix` rule had accepted an option: `"always"` or `"never"` (`"always"` by default) and in the `"never"` mode would forbid entering such

[2015-10-05 15:58] TheEradicated commented on #4018
@ilyavolodin I have Node.js 4.1.0. Deleted the node_modules folder under node_modules/eslint directory, ran `npm install -g eslint` and `eslint --init` after that. Same error.

[2015-10-05 16:06] gyandeeps opened #4050 "no-trailing-spaces: Fix produces wrong results for windows style line endings"
**Eslint:** 1.6
**Parser:** default

**Code:**
[code]

**Output:**
[code]

The above code is from existing unit test with `\n`: https://github.com/eslint/eslint/blob/master/tests/lib/rules/no-trailing-spaces.js#L69

FYI, the above code works fine if you have `\n` line endings.

**Findings:**
This is happening because `\n` occupies one spot on the source code array vs `\r\n` occupies 2 spots. So wh

[2015-10-05 16:56] nzakas commented on #4037
Agreed. Find as an addition, but I don't see the need to remove stylish.

[2015-10-05 16:56] viveleroi commented on #2965
I might do what I can to help push this along but doubt I can find enough time. As much I dislike +1-ing things, based on this conv I feel it's important to say I'd really appreciate this feature.

[2015-10-05 17:00] nzakas commented on #3885
@ilyavolodin that's essentially the same thing. :) We'd still be talking `context.getRuleConfig("semi")`, or some such thing. The underlying implementation doesn't really matter, we'd still be stuck with having rules need to specify which other rule's config to read.

@alberto Combining rules solves the problem because there are no cross-rule dependencies

[2015-10-05 17:01] nzakas commented on #4006
@aparajita can you open a separate issue for that?

[2015-10-05 17:02] nzakas commented on #4021
@Trott it's probably best if you make this as a custom rule.

[2015-10-05 17:02] #4021 closed

[2015-10-05 17:02] nzakas commented on #3916
That's a very good point. @ilyavolodin what do you think?

[2015-10-05 17:08] nzakas commented on #3641
IgnoreForLoopInit?

[2015-10-05 17:10] #4027 closed

[2015-10-05 17:12] nzakas commented on #3682
Fine by me

[2015-10-05 17:14] nzakas commented on #4041
I think we just went through and added `ignore: false ` to a bunch of tests. I think that's probably the right approach.

Which tests are causing problems?

[2015-10-05 17:15] nzakas commented on #4043
Why don't you disable the rule in that case?

[2015-10-05 17:24] nzakas commented on #4045
Yup, this is part of our 2.0 roadmap (https://github.com/eslint/eslint/issues/3561), just didn't have an issue for it yet. The intent is to support:

* .eslintrc.yaml
* .eslintrc.yml
* .eslintrc.json

Basically, the first one that is found wins.

[2015-10-05 17:25] nzakas commented on #4046
See discussion on https://github.com/eslint/eslint/issues/3626.

[2015-10-05 17:25] #4046 closed

[2015-10-05 17:29] nzakas commented on #3966
There's a significant difference between removing globals and warning on their use.

If you remove a global, then you change how multiple rules work, and you might not really get the message that you aren't supposed to use it. Existence shouldn't be a proxy for allowable use.

This rule would specifically say, don't use this variable.

[2015-10-05 17:30] bwinton opened #4051 "Add WebExtensions support."
WebExtensions is Mozilla's implementation of a new browser extension API, which is compatible with Chrome and Opera.  It would be nice to add support for it as an environment.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27178673-add-webextensions-support?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_sourc

[2015-10-05 17:32] aparajita commented on #4006
Eventually, when I get some time.

[2015-10-05 17:36] ilyavolodin commented on #3916
I agree with @michaelficarra statement in regards to Node. However, as far as I remember, we added CommonJS environment for browserified javascript. I can see how you might want part of the script to be CommonJS (as in module.exports) but also want to assign something to a global variable. I know it's a stretch. So I'm fine if we don't implement this, but in that case, I think we need clear explan

[2015-10-05 17:37] ilyavolodin commented on #3641
I guess that would work. Pretty abstract name though, but I can't come up with anything better.

[2015-10-05 17:40] ilyavolodin commented on #4043
Agree. This rule was created to make sure that all `require` statements are clearly marked at the top of the file. If you don't follow that pattern - just turn off this rule.

[2015-10-05 17:57] jamestalmage commented on #4043
That is the direction I'm headed, I just wish there was another rule that guarded only against the more egregious uses. That is what I was getting at with recommending a more relaxed rule as an alternative. I agree with the spirit of the rule, it just seems that it complains a lot.

And I would like to enforce that with a few exceptions. This is the main reason I don't just turn it off.

Assume fo

[2015-10-05 18:04] alberto commented on #3641
Updated (camelcased for consistency with other options).

[2015-10-05 18:17] kentcdodds opened #4052 "Object Spread - Parsing error: Unexpected token .."
Given this code:

[code]

which compiles with babel-core version 5.8.25 with no special flags/arguments/options

And this eslint config:

[code]

I get this error:

With eslint version 1.6.0.

Let me know if you need more information. Thanks!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27179959-object-spread-parsing-error-unexpec

[2015-10-05 18:30] michaelficarra commented on #4052
That's not an ES6 feature.

[2015-10-05 18:30] nzakas commented on #4048
In that case, wouldn't you just turn the rule off?

[2015-10-05 18:32] nzakas commented on #3916
Okay, let's go with a documentation update for now.

[2015-10-05 18:33] nzakas opened #4053 "Rename no-magic-number to no-magic-numbers"
We generally use the plural form of words in rules because we are flagging all instances, not one. As such, `no-magic-number` should be renamed `no-magic-numbers`.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27180401-rename-no-magic-number-to-no-magic-numbers?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_

[2015-10-05 18:35] kentcdodds commented on #4052
Oh, is it ES2016?

[2015-10-05 18:41] btmills commented on #4052
We should have experimental support for this even though it's ES2016, try enabling `experimentalObjectRestSpread` in `ecmaFeatures`.

[2015-10-05 18:42] nzakas commented on #4043
@jamestalmage you can always create your own rule to do this. The fact is, once you add in enough exceptions then the rule is no longer doing what it was intended to do, and that's when people get confused. That's why we allow custom rules - you don't have to convince us, just write a rule that does exactly what you want.

[2015-10-05 18:42] #4043 closed

[2015-10-05 18:44] sindresorhus opened #4054 "Rule `no-mixed-spaces-and-tabs` should not apply inside template literals"
[code]

This rule should not apply inside a template literal. I should be able to put whatever I want inside it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27180663-rule-no-mixed-spaces-and-tabs-should-not-apply-inside-template-literals?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We ac

[2015-10-05 18:52] ilyavolodin commented on #4054
Agree. Based on the code, it looks like the same restriction would apply to literals of any kind, no just templates.

[2015-10-05 18:53] #4051 closed

[2015-10-05 18:54] #3641 closed

[2015-10-05 18:56] #3668 closed

[2015-10-05 19:01] alberto commented on #3885
@nzakas yes, I was talking about a more general solution, not just for `semi`, without multipass.

[2015-10-05 19:04] jamestalmage commented on #4043
fair enough!

[2015-10-05 19:05] kentcdodds commented on #4052
That did it. Thanks! Sorry to bother!

[2015-10-05 19:05] #4052 closed

[2015-10-05 21:03] #4053 closed

[2015-10-06 00:52] nzakas commented on #3668
@alberto there's a bounty on this issue that you can claim: https://www.bountysource.com/issues/26471568-rule-proposal-no-empty-pattern?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github

[2015-10-06 01:00] #4050 closed

[2015-10-06 02:18] ronkorving commented on #4045
Cool, thanks :) I'll leave it up to you to use this issue for that or close it.

[2015-10-06 02:19] alberto commented on #3668
That should go to @mysticatea, it was all his code. :)

[2015-10-06 08:33] SimenB opened #4057 "Feature: Config - Option to "undeclare" global variable"
We have `env` Jasmine for our tests to get the jasmine globals, but we'd like to throw error on certain globals provided, such as `fdescribe` and `fit` (the say only run tests within me, not others, like mocha's `.only`). This is to avoid accidentally only runnning a few tests.

Would it be possible to pass null (as false is [taken](http://eslint.org/docs/user-guide/configuring.html#specifying-glo

[2015-10-06 09:25] pixelastic opened #4058 "Documentation: Add search inside the website"
I've read that documentation PR can go without the associated issue, but this one is a bit special and I would like some input and feedback before starting it.

There is one thing that bother me everytime I need to find documentation about a specific rule is that I have to get out of the official eslint website, do a `eslint {name-of-the-rule}` google search, and get back to the website. It would

[2015-10-06 09:35] kileras commented on #3966
Sorry that was a poor choice of words, english is not my first language :smile:

What I meant was exactly that, removing it in the sense of removing it conceptually from the valid globals by showing a warning like 'Should't use window.event' or something similar.

So any more thoughts at the rule itself? Should be something more generic that handle this situation for any global? Should we keep thi

[2015-10-06 11:19] BYK commented on #4042
@nickInMN - Alright, I'm gonna update the title of your issue then and try to submit a patch soon :)

[2015-10-06 11:57] parky128 opened #4060 "Rule definitions not found (Webstorm IDE)"
Hi,

I have just start using ESLint and have a config file setup which my IDE (Webstorm) is picking up.

When performing a lint pass of my code, I am getting errors from ESLint such as:

But my .eslintrc file does have a rule with this name specified, so what could be causing this error to appear?

In case it helps, here is my config:
[code]

<bountysource-plugin>
---
Want to back this issue? **[P

[2015-10-06 12:04] BYK commented on #4060
The rules name is `no-cond-assign` not `no-cond-assignment`. That's why ESLint is giving you an error :)

[2015-10-06 12:09] parky128 commented on #4060
Ah sorry, my bad!

Ok well I have another similar error, this time it says it can't find a 'no-alert' rule, which is in my config and is specified in the rules list [here](http://eslint.org/docs/rules/no-alert)

So I guess this is also something different? This is the only remaining rule definition error I have now.

[2015-10-06 12:10] BYK commented on #4058
I'm +1 for a search. Even a direct-matching rule auto completer on the homepage would be useful.

[2015-10-06 12:10] parky128 commented on #4060
DOH - I had a trailing space in the rule name, I am an idiot. Thanks for your help!

[2015-10-06 12:10] #4060 closed

[2015-10-06 12:20] BYK commented on #4060
No problem! Also I'm fairly sure you're not an idiot :D

[2015-10-06 13:10] BYK opened #4061 "Path related failures on Windows when running tests"
When running `npm test` on Windows, I get the following errors:

[code]

This is happening on latest master with Node 4.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27200159-path-related-failures-on-windows-when-running-tests?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bountie

[2015-10-06 13:41] gyandeeps commented on #4058
This issue might belong to our website repo: https://github.com/eslint/eslint.github.io

[2015-10-06 13:44] ilyavolodin commented on #4057
Unfortunately, we do not support disabling globals once they are enabled. Having a Boolean in a tri-state is very confusing. However, somebody already created a rule that you are looking for (`fdescribe` and `fit`) here: https://www.npmjs.com/package/eslint-plugin-jasmine

[2015-10-06 13:44] #4057 closed

[2015-10-06 13:45] gyandeeps commented on #4061
Works fine on my machine with current master.
Windows 7
NodeJs 4.1.1

[2015-10-06 13:45] SimenB commented on #4057
Ah, ok. But thanks for the link, that looks perfect!

[2015-10-06 13:47] #4042 closed

[2015-10-06 13:50] BYK commented on #4061
For some reason I'm getting `/tmp/eslint/fixtures` as the path, only when running through `npm test`. Might be related to https://github.com/shelljs/shelljs/pull/240

Still investigating the root cause.

[2015-10-06 13:50] gyandeeps commented on #4058
Duplicate: https://github.com/eslint/eslint.github.io/issues/69

[2015-10-06 13:52] gyandeeps commented on #4061
As it is we are using way older shelljs `^0.3.0` and current version is `0.5.x`.
Are you sure you dont have the latest version installed on your machine?

[2015-10-06 13:54] BYK commented on #4061
@gyandeeps - I first tried upgrading it, no luck. I was on Node 4.0.0, upgraded to 4.1.2, still failing. Gonna try upgrading `npm`.

[2015-10-06 13:55] pixelastic commented on #4058
You're right, I should have posted that on the website repo. I guess you can close this one, I'll repost that in the other thread.

[2015-10-06 13:55] gyandeeps commented on #4061
I was actually talking about `shelljs` and not node or npm.

[2015-10-06 13:55] BYK commented on #4061
`npm@3.3.5` didn't also fix. (I was referring to `shelljs` in my first sentence ;))

[2015-10-06 13:55] gyandeeps commented on #4058
There is already one over there: https://github.com/eslint/eslint.github.io/issues/69

[2015-10-06 13:55] #4058 closed

[2015-10-06 13:56] gyandeeps commented on #4061
What version of windows are you using?

[2015-10-06 13:59] BYK commented on #4061
Okay I figured it out. So it is a combination of a few things. First, is that `shelljs` bug since it falls back to environment variables. After that, something on my system is setting `$TMPDIR` to `/tmp` which `shelljs` prefers (instead of $TMP) since the first few fails.

At this point, not sure if it makes sense to keep this issue open in ESLint.

[2015-10-06 13:59] BYK commented on #4061
Using Windows 10 btw.

[2015-10-06 15:58] PhilVargas commented on #3641
oh sweet. Glad to see this made it :+1:

[2015-10-06 16:18] nzakas commented on #3668
Okay, @mysticatea there's money for you!

[2015-10-06 16:19] nzakas commented on #4061
Is there something we can change in the tests so they won't fail?

[2015-10-06 16:27] #2390 closed

[2015-10-06 16:28] nzakas commented on #3966
I think creating `no-restricted-globals` that lets you specify the global variables to warn on is the best way to go.

[2015-10-06 17:05] lucasfeliciano commented on #4015
Hey guys, I'm traveling in brazil right now and didn't have a chance to
test.
I'll do this when I have a chance to close the ticket.
:)
Thanks for the help until now

On Sun, 4 Oct 2015 at 22:11, Ilya Volodin <notifications@github.com> wrote:

[2015-10-06 18:06] BYK commented on #4061
@nzakas - not unless we upgrade to a `shelljs` version which has my fix. I'm just hoping they'd merge my patch in soon. I worked around by doing `$TMPDIR = $TMP` for now.

[2015-10-06 18:16] silverwind commented on #4048
+1 for a rule like this.

@nzakas `parseInt("071", 10)` should be an error, which could only be achieved when the rule is enabled.

[2015-10-06 18:24] mzgol commented on #4048
Yup, I'd like `"radix": [2, "never"]` to reject `parseInt(sth, 10)`. Ideally it'd also reject things like:
[code]

but such cases are not common in my experience so even just rejecting the constant `10` as a second param would be enough for me.

[2015-10-06 18:24] alberto opened #4064 "Test fails on OSX: when given a config with environment set to WebExtensions should execute without any errors"
I'm running `npm run test` on master and the mentioned test fails with:
`AssertionError: expected 1 to equal 0`

Let me know if I can provide more info.

Reference: #4051

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27208930-test-fails-on-osx-when-given-a-config-with-environment-set-to-webextensions-should-execute-without-any-erro

[2015-10-06 18:29] gyandeeps commented on #4064
Can run `npm update` on eslint and then run the `npm test` again.

[2015-10-06 18:41] alberto commented on #4064
I think you meant  `npm install`. You are right, the globals package was oudated. Thanks

[2015-10-06 18:41] #4064 closed

[2015-10-06 18:56] mysticatea commented on #4047
Thank you for reporting.

I can reproduce this.
I will try to fix...

[2015-10-06 19:33] alberto commented on #4054
@ilyavolodin What would be a failing test case for that?

[2015-10-06 19:41] mysticatea commented on #4023
I will try to fix this.

[2015-10-06 20:02] ilyavolodin commented on #4054
Hmm.. I though that any string with mixed spaces and tabs would do this. But I can't seem to reproduce it. I can't actually seem to reproduce original issue either.

[2015-10-06 20:05] marcelka opened #4067 "Bad syntax in function signature not reported"
Eslint (v1.6.0) does not report invalid syntax for the following piece of code:
[code]

eslintrc used:
```{"parser": "babel-eslint"}```

However, afaik not-reporting-the-error is independent of what rules I enable/disable in the eslintrc file.

Since the input file is not a valid js file (I guess it should not be possible to create valid AST from this), I'd expect some 'invalid code' error.

<boun

[2015-10-06 20:05] alberto commented on #4054
I can't either reproduce it directly in the terminal, but it fails in the tests:
[code]

[2015-10-06 20:12] mysticatea commented on #4067
Thank you for reporting.

This is duplicate of #3658.
It's valid ECMAScript code :)
The empty object pattern is allowed in the spec: http://www.ecma-international.org/ecma-262/6.0/#sec-destructuring-assignment

However, we have a rule to report that pattern in master (#3668), so please wait for the next release!

[2015-10-06 20:13] nzakas opened #4068 "Setup CodeClimate"
To get some deeper insights into our code.

Working on this.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27211918-setup-codeclimate?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F2

[2015-10-06 20:25] #4067 closed

[2015-10-06 20:27] nzakas commented on #4061
Is this something we can avoid using shelljs for?

[2015-10-06 20:28] #4068 closed

[2015-10-06 20:28] nzakas commented on #3556
@byk still working on this?

[2015-10-06 20:30] nzakas commented on #4054
Working on this.

[2015-10-06 22:10] carlbennettnz opened #4071 "Is it possible to whitelist specific files without extensions for linting?"
I have a few shell scripts written in JavaScript that I would like to lint along with everything else. I can do this by typing out their paths on the command line, but is there a way to store this list somewhere?

Basically, I'm looking for the opposite of .eslintignore

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27214837-is-it-p

[2015-10-07 02:45] guilhermehn commented on #4018
Same problem here on Win7 Home Premium SP1.

[code]

The stack:
[code]

Removed eslint and installed again, but the problem persists.

[2015-10-07 03:08] ilyavolodin commented on #4018
OK, this is a known issue with inquirer and it's filed here: https://github.com/SBoudrias/Inquirer.js/issues/272
It looks like it's a low priority issue for Inquirer and from some of the comments, it might not be fixable at all. Not really sure what we can do here.

[2015-10-07 03:47] guilhermehn commented on #4018
@ilyavolodin I just tested in Windows Command Prompt and it works fine. The problem happens only when using terminal emulators like mintyy that comes with git for Windows.

From [Git for Windows FAQ](https://github.com/git-for-windows/git/wiki/FAQ#some-native-console-programs-dont-work-when-run-from-git-bash-how-to-fix-it):

I think the issue can be closed, but a feedback about it would be nice, l

[2015-10-07 05:08] TheEradicated commented on #4018
I'll use eslint (through SublimeLinter) for Sublime Text 3. Does this mean once I run `eslint --init` on Command Prompt, it will be good to go?

[2015-10-07 10:33] hon2a commented on #2074
@nzakas Maybe I don't quite get what you mean, but how do you figure that? When I do:

[code]

I'd expect the comment to disable linting of that line and no longer return the warning/error for that line. However, when I try it, I'm still getting my warning. If I disable the rule like this:

[code]

it works as expected (no warning).

[2015-10-07 13:33] ilyavolodin commented on #4018
@TheEradicated Yes, if you use WIndows command prompt or powershell it should be fine. Bash for Git doesn't work (although it works for me personally for some reason).

[2015-10-07 13:33] #4018 closed

[2015-10-07 14:27] jrencz opened #4073 "Indent rule, continuation indentation and jasmine tests"
Please consider the following:

[code]

on eslint 1.4.1 (and maybe on some later releases as well - I haven't checked) this is lint-free when one uses the following settings:

[code]

However in 1.6.0 (current) it triggers errors:
[code]

After using `--fix` this is what is considered correct in terms of the rule:

[code]

Apart from whether it's correct or not (all indentation-related statements

[2015-10-07 14:31] gyandeeps commented on #4073
related #1801 & #2308

[2015-10-07 15:31] nzakas commented on #4015
OK, closing this issue as there doesn't appear to be any task here.

[2015-10-07 15:31] #4015 closed

[2015-10-07 15:36] #3682 closed

[2015-10-07 15:37] nzakas commented on #4048
OK. Any interest in implementing yourself? It's a fairly small change.

[2015-10-07 15:42] nzakas commented on #4071
There's no way to do this with ESLint. You can do this with bash such as: http://stackoverflow.com/questions/4227994/command-line-arguments-from-a-file-content

[2015-10-07 15:42] #4071 closed

[2015-10-07 15:43] #4023 closed

[2015-10-07 15:44] #1897 closed

[2015-10-07 15:47] nzakas commented on #4073
@gyandeeps is this a bug?

[2015-10-07 15:49] gyandeeps commented on #4073
Yes

[2015-10-07 15:49] mzgol commented on #4048
Yup, I can do it tomorrow or the day after that.

[2015-10-07 17:15] BYK commented on #3556
@nzakas nope, sorry. Fell off my radar. I'll unassign from myself but will try to create time for it soon.

[2015-10-07 17:17] BYK commented on #4061
@nzakas I'm guessing since we only support Node 0.10+ I can simply use `os.tempdir()`. What do you think?

[2015-10-07 17:32] #4054 closed

[2015-10-07 17:32] silverwind opened #4075 "Indent rule with multi-line object literals"
Below example should pass, but the rule seems to get confused by the object literal. It passes in 0.24, fails in 1.6.0. [Real example](https://github.com/nodejs/node/blob/a334ddc467af6bfb3a93245a7e6f571c8dd01fa2/test/sequential/test-regress-GH-4948.js#L19-L27).
[code]
[code]
[code]
ref: https://github.com/nodejs/node/pull/2286

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on

[2015-10-07 17:36] necolas commented on #3143
This is how we order imports differently to the "fixed ES6" example:

[code]

[2015-10-07 18:18] gyandeeps commented on #4075
Its the function body getting confused because of the multi-line argument.
related https://github.com/eslint/eslint/issues/4073

[2015-10-07 18:32] MadLittleMods opened #4076 "Indent with multiline arguments in a chain"
The [`indent`](http://eslint.org/docs/rules/indent) rule should take into account when a chain that starts with multiline function call.

 - eslint v1.6.0

This throws a `Expected indentation` error for each parameter in `geocode` and the closing `})` line; it wants it to be one level less:

[code]

Currently, this works fine:
[code]

---

This may be related to https://github.com/eslint/eslint/is

[2015-10-07 18:34] ilyavolodin commented on #4076
@gyandeeps @BYK Can you take a look?

[2015-10-07 19:05] alberto opened #4077 "Bug: no-mixed-spaces-and-tabs with comments and template literals"
The fix for #4054 is incomplete and fails when there are comments before the template.
Example:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27239624-bug-no-mixed-tabs-and-spaces-with-comments-and-template-literals?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via

[2015-10-07 20:31] chazzlabs opened #4079 "Cannot override rule in shared config"
ESLint v1.6.0

In my .eslintrc, I'm extending the AirBnb config and overriding a rule like this:

[code]

I couldn't find an example elsewhere, but eslint-config-airbnb v0.1.0 is overriding a rule the same way in its .eslintrc file so I assume what I have is correct.  However, I'm seeing the following output when I run `eslint scripts/**`:

[code]

<bountysource-plugin>
---
Want to back this issue

[2015-10-07 20:36] ilyavolodin commented on #4079
Can you provide a code that is failing and also specify what did you expect to happen?

[2015-10-07 20:55] chazzlabs commented on #4079
@ilyavolodin Sure, sorry.  The code is simply:

[code]

The documentation for the indent rule (http://eslint.org/docs/rules/indent.html) says the default is 4 spaces and gives the example ```"indent": 2``` for 4-space indentation, so I expected that overriding any extended configs using that configuration for the indent rule would make eslint pass for any files using 4-space indentation.

I've cha

[2015-10-07 20:58] gyandeeps commented on #4079
Do you know what is the config of indent rule inside your extended config (airbnb)?

[2015-10-07 21:14] hzoo commented on #4079
It's `[2, 2]` - I think it's just because the regular value is either 0, 1, 2. With an option you have to use `[error value, config]` so `[2, 4]` worked

Maybe the docs need to be updated https://github.com/eslint/eslint/blob/abe36695006e137d897fe21fa580523ba2ed891f/tests/lib/config-initializer.js#L35

[2015-10-07 21:18] chazzlabs commented on #4079
Yes, the airbnb config has ```"indent": [2, 2]```.  Based on the docs I linked previously I assumed ```"indent": 2``` would use a default of 4 spaces.

[2015-10-07 21:20] gyandeeps commented on #4079
This is the expected behavior. If you just change the error level then we do inherit the options from the extended config.

[2015-10-07 22:11] ameyms opened #4080 "Eslint fails on windows"
I have the utter misfortune of having to develop on windows at work.
As can be expected, I seem to be encountering the following errors:

## Running via Gulp

[code]

## Running directly via CLI
The error also occurs when I directly invoke Eslint CLI:

[code]

I am suspecting this has something to do with the Eslint reporter since it is failing [on this line](https://github.com/eslint/eslint/blob/

[2015-10-07 22:21] ameyms commented on #4080
It is worth noting that `getObjects(row.getProperty(col.field))` is where Eslint seems to be failing and that is a part of a line in a js file from the codebase.

The entire line is:

[code]

[2015-10-07 22:37] chazzlabs commented on #4079
Thanks, @gyandeeps.  The only mention of overriding extended configs that I found was on http://eslint.org/docs/developer-guide/shareable-configs.html, and it only says, "You can override settings from the shareable config by adding them directly into your .eslintrc file."

[2015-10-07 22:51] ilyavolodin commented on #4080
Can you try to isolate a reproducible code snippet that would fail on this rule? It's hard to figure out what's going on from the line you posted above?

P.S. Most of ESLint team uses Windows machines to create ESLint:-)

[2015-10-07 23:04] ameyms commented on #4080
@ilyavolodin Thanks.

The line that is causing the issue is:

[code]

[2015-10-07 23:16] ameyms commented on #4080
Disable rules one by one? Wow. That might take some time. Alright. I better get to it.

[2015-10-07 23:35] ilyavolodin commented on #4080
One more thing, before you start disabling rules, can you try running ESLint without `babel-eslint`? I doubt that's the issue in this case, but who knows. Also, if you are using `babel` you don't need ecmaFeatures, since babel ignore them anyways

[2015-10-07 23:38] nzakas commented on #4061
Sounds good

[2015-10-07 23:39] nzakas commented on #3143
@necolas how does that affect this issue?

[2015-10-07 23:41] #4077 closed

[2015-10-07 23:45] nzakas commented on #4080
You still need ecmaFeatures even with babel-eslint, as some rules depend on those settings.

From the call stack, it looks like no-multi-spaces is the culprit. Try disabling that first.

[2015-10-07 23:54] hzoo commented on #4080
Is it only recently that some rules have used ecmaFeatures? I should probably add a note about that in the readme then.

[2015-10-07 23:58] nzakas commented on #4079
It's mentioned on the primary configuration documentation: http://eslint.org/docs/user-guide/configuring#extending-configuration-files

[2015-10-07 23:59] nzakas commented on #4080
Nope, it's been like that for a while. We need to know about `globalReturn` and `modules ` for proper scoping, for example.

[2015-10-08 00:00] nzakas commented on #4080
Also mentioned in the docs: http://eslint.org/docs/user-guide/configuring#specifying-parser

[2015-10-08 00:01] hzoo commented on #4080
Ok I see can it for `modules` and `globalReturn` - I'l add it to babel-eslint readme as well then

[2015-10-08 00:19] #4079 closed

[2015-10-08 00:57] ilyavolodin commented on #4080
It looks like this might be due to concatenation in the reported message:
[code]

How do we use substitution when using `context.report` and passing it an object?

[2015-10-08 06:57] mysticatea opened #4081 "`indent` rule's unexpected warnings around method chaining."
I got unexpected warnings of indentations around method chaining. ESLint v1.6.0
This might be duplicate of #4076.

[code]

![image](https://cloud.githubusercontent.com/assets/1937871/10359323/7904a0ec-6dd2-11e5-96db-a57da5941d97.png)

I expected no errors.

I can resolve this with below:

[code]

If `http` was longer, I would do so, but....
## <bountysource-plugin>

Want to back this issue? **[Pos

[2015-10-08 09:59] Cludch opened #4082 "Indent rule wants indentation in the mid of a variable"
Hey.

Here is a picture of my problem http://puu.sh/kCHNl/05ac004f02.png
I don't know why ESLint wants me to indent there.

My version: 1.4.0
My config: https://gist.github.com/Cludch/39c36dd2d1794fac1778

This only happens with this single file. Everything else in every project is perfectly fine.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2015-10-08 10:11] #4082 closed

[2015-10-08 10:27] zallek commented on #3652
:+1: I'd really like to have this.

[2015-10-08 11:31] Lexicality commented on #3959
Oh sorry, lost this in my inbox. @mysticatea described the problem exactly - the ESLint assumes that any action on a variable `name` is kosher because `window.name` exists, regardless of what is in scope at the time.

[2015-10-08 11:40] Lexicality commented on #3964
@kileras Apparently if you use `element.onclick = myfunc`, [myfunc will not be passed the event in old IE](http://www.quirksmode.org/js/events_access.html#link3), necessitating the use of `window.event`.

[2015-10-08 12:18] kileras commented on #3964
@Lexicality By the look of it that article seems to be quite old, it doesn't even has any reference to attachEvent/addEventListener and talks about Netscape, so I would say that the IE version that they are talking about its very old. I don't remember since it has been a while, luckily :smile: , but I think that at least IE6 passes the event in that case so we would be talking here about IE 5.5 or

[2015-10-08 12:56] docksteaderluke opened #4083 "array-bracket-spacing false-positive when accessing array index in array."
I have the following in my .eslintrc file:
[code]
...and the following code:
[code]
... and the following ```array-bracket-spacing``` warning from eslint: ```There should be no space before ']' at line...```

My guess is that eslint is seeing ```[j]``` and incorrectly recognizing it as an array literal rather than reference of index ```j``` on the ```apples``` array. The warning only gets triggere

[2015-10-08 12:58] docksteaderluke commented on #4083
I'm using eslint version ```1.1.0```

[2015-10-08 13:45] gyandeeps commented on #4081
Kinda related https://github.com/eslint/eslint/issues/4073

[2015-10-08 14:47] mzgol commented on #4048
PR: #4084

[2015-10-08 15:34] ameyms commented on #4080
Wow! Thanks for your help guys!
@nzakas removing `no-multi-spaces` worked!

[2015-10-08 16:00] nzakas commented on #4080
@ilyavolodin `data` see http://eslint.org/docs/developer-guide/working-with-rules#contextreport

[2015-10-08 16:05] #2135 closed

[2015-10-08 16:05] #4047 closed

[2015-10-08 16:07] nzakas commented on #3959
What does "is kosher" mean to you? What rules are you talking about? Give us a specific problem scenario so we know what you're talking about.

[2015-10-08 16:08] nzakas commented on #3964
Thanks for the good discussion. We aren't going to remove `event` at this time.

[2015-10-08 16:08] #3964 closed

[2015-10-08 16:08] necolas commented on #3143
Well, we consider our imports to be alpha-sorted (destructured imports go first); but they're not in the same order as the OP's "fixed" example.

[2015-10-08 16:11] nzakas commented on #4083
Can you try the latest version of ESLint?

[2015-10-08 16:11] nzakas commented on #4081
@gyandeeps is this a bug?

[2015-10-08 16:15] Lexicality commented on #3959
[code]

[2015-10-08 16:27] docksteaderluke commented on #4083
Updated to v1.6.0. No change. Still warns incorrectly.

[2015-10-08 17:35] pmcelhaney opened #4085 "no-undef does not catch Promise"
The no-undef rule allows references to the global variable "Promise" even if it's not marked as a global (which is problematic because [IE does not have a global Promise](http://caniuse.com/#feat=promises).)

Here's a test case, which can be added to the invalid section of no-undef.js.

            { code: "new Promise();", errors: [{ message: "\"Promise\" is not defined.", type: "Identifier"}] },

[2015-10-08 18:06] alberto opened #4086 "Bug: no-mixed-tabs-and-spaces fails with non-jsdoc multiline comments"
Multiline comments don't require `*` at the beginning of the inner lines.

This test should pass, but currently doesn't:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27268074-bug-no-mixed-tabs-and-spaces-fails-with-non-jsdoc-multiline-comments?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=git

[2015-10-08 18:07] ilyavolodin commented on #4080
Ah, OK, got it. Should we just fix this rule, or should we modify core to not try to do substitution when no `data` is present? I would guess we should do both.

[2015-10-08 18:31] pmcelhaney commented on #4085
Seems the root of the problem is in [globals.json](https://github.com/sindresorhus/globals/issues/56)

[2015-10-08 18:41] thefourtheye opened #4088 "`prefer-const` barks at looping variables"
Let's say if I have code like this

[code]

enabling `prefer-const` rule errors out saying, ```error  `a` is never modified, use `const` instead  prefer-const```. But if we change that `let` to `const`, the value will never change in the loop. Note that this happens only in sloppy and strong mode. In strict mode `const` works fine. (All these are tested with Node.js v4.1.2).

Is it really safe/oka

[2015-10-08 18:45] gyandeeps commented on #4088
This was already tackled: https://github.com/eslint/eslint/pull/2740

[2015-10-08 18:53] thefourtheye commented on #4088
@gyandeeps If I am not wrong, the tests in the PR only checks if the variable is used in loops, but it doesn't check the values. Let's say eslint suggests `const` and if the value never changes, then it will break the applications.

[2015-10-08 18:57] gyandeeps commented on #4088
I will let other take on from here as I am not mature enough to tackle ES6 questions yet. :smile:

[2015-10-08 18:59] thefourtheye commented on #4088
No problem :-) I just wanted to bring this problem to this project's attention. That's all :-)

[2015-10-08 19:14] almirfilho opened #4089 "Consider to add `class` as an additional configuration in `space-before-blocks` rule"
What do you guys think about adding an additional config in `space-before-blocks` rule for ES6 classes?
Actually there are only two possible options: `functions` and `keywords`. However, it might be desirable to consider classes as a separated config as well. For instance, I might want my code to follow the rule as `{"keywords": false, "functions": false, "classes": true}`:

[code]

Thank you!

<b

[2015-10-08 19:20] gyandeeps commented on #4089
Which version of eslint are you using?
This has already been added: https://github.com/eslint/eslint/pull/3066

[2015-10-08 19:25] almirfilho commented on #4089
Hi @gyandeeps. I think #3066 just considers class statements to be linted with the rule `space-before-blocks`, but there's no way to configure spaces before classes separately. As we can see in [the docs](http://eslint.org/docs/rules/space-before-blocks), there're only options for `functions` and `keywords`, but not for classes.

[2015-10-08 19:28] gyandeeps commented on #4089
Ah, I see. I think I forgot to add that during that enhancement.
@nzakas @ilyavolodin Do we flag this as a bug or enchancement?

[2015-10-08 19:30] gyandeeps commented on #4089
@almirfilho Would be willing to work on this fix?

[2015-10-08 20:42] carlbennettnz opened #4090 "Semi rule fails to notice missing semis on do while loops"
Starting point:

[code]

Then test and --fix:

[code]

Ending point:

[code]

No .eslintrc was used.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27271840-semi-rule-fails-to-notice-missing-semis-on-do-while-loops?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountys

[2015-10-08 21:48] jonathanong opened #4092 "feature request: no reject literal"
similar to http://eslint.org/docs/rules/no-throw-literal, but for promises

i'd like to throw a lint error when you reject a literal with promises:

[code]

but not if it's an actual error:

[code]

it could be a new rule or it could be an option for `no-throw-literal`

[2015-10-08 23:39] nzakas commented on #4085
All the built-in globals from ECMAScript are considered to be present in ESLint. Getting into per-browser lists of globals is an impossible maintenance nightmare.

globals was split out from this project a while ago, so it's not necessarily a bug there. It was an intentional decision.

[2015-10-08 23:46] nzakas commented on #3143
@necolas sorry, I'm not being very clear. What if like to know is how your pattern is expected to influence this issue? Are you saying we should implement your way of doing this? Are you saying there should be an option? Are you saying you wouldn't be able to use this rule but would like to?

[2015-10-08 23:49] nzakas commented on #3959
This is behaving as expected. You can turn off the browser environment if you want to manually define the globals you want to allow.

[2015-10-08 23:50] nzakas commented on #4083
OK thanks, we will take a look.

[2015-10-08 23:57] nzakas commented on #4088
You're using A very old version of ESLint, be sure to upgrade. :)

Bottom line: you can use const in for-in and for-of loops safely. This is explicitly allowed in the spec and they behave like let.

For more info on this: https://leanpub.com/understandinges6/read#leanpub-auto-block-binding-in-loops

[2015-10-08 23:57] #4088 closed

[2015-10-08 23:58] nzakas commented on #4080
Yup, both

[2015-10-08 23:59] nzakas commented on #4090
Definitely looks like a bug.

[2015-10-09 00:00] nzakas commented on #4092
I'm not aware of any guidance suggesting that rejecting a literal is bad practice. What's the rationale?

[2015-10-09 00:01] #4061 closed

[2015-10-09 00:03] pmcelhaney commented on #4085
It's possible to specify es6 as an environment. If that setting is not present why do we assume es6 builtins are present?

Wouldn't it be better to take es5 as the baseline?

As is stands, there's no configuration that allows me to not treat Promise as a global. As developers start getting more familiar with ES6 features but environments in common use don't support all of those features it's going

[2015-10-09 00:30] mrmckeb opened #4093 "Add exclusion for `for (var i = 0, i < l, i++)` in no-plus-plus"
The no-plusplus rule is great, but I'd like to be able to allow people to still use a ++ in a for loop.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27276144-add-exclusion-for-for-var-i-0-i-l-i-in-no-plus-plus?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2015-10-09 02:27] ilyavolodin commented on #4089
This is an enhancement as #3811 was fixing a bug where classes were not linted at all using this rule. This request is to add new configuration option.
I'm not using es6, so my opinion is not really matter that much, but I would consider classes to be falling under `function` flag. Not sure I see a huge need to add another option specifically for them.

[2015-10-09 08:27] Lexicality commented on #3959
I suppose that is a solution, though not one I'm very happy about.
I did a bit of research and I'm now not sure what to think.
On the one hand I would consider either of these to be a programming error:
[code]
but I wouldn't consider either of these to be:
[code]
but both examples are using globals magically lifted from the window object.

If I turn off the browser environment then `no-redeclare`'

[2015-10-09 08:48] dferber90 opened #4094 "Question: Resolving contexts and variables"
*First of all, if this is not the correct place to ask questions, please point me to it. I have looked for hints on where to ask questions but not found any.*

I'm currently writing an ESLint plugin for Meteor. I'm looking for advice on the best approach to the following two problems regarding rules.

Meteor exposes API through the context of a callback function. In the following example `this.use

[2015-10-09 08:54] qubyte opened #4095 "prefer-arrow-callback should not be triggered when a function uses the arguments object."
Arrow functions [do not have their own lexical arguments object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Functions/Arrow_functions#Lexical_arguments), instead inheriting it from the enclosing scope.

A simple example:

[code]

This triggers the prefer-arrow-callback rule. If the switch to the arrow function is made:

[code]

the value of `arguments` is not that which was

[2015-10-09 09:33] LestaD opened #4096 "ES7 Decorators make parsing error"
How can i fix it?

Error target:

[code]

My version is newer: `v1.6.0`

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27283720-es7-decorators-make-parsing-error?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_camp

[2015-10-09 10:35] FredyC opened #4097 "cannot disable max-len rule per line"
I have a 100 characters set for the rule and I usually want to disable some other rule for that line which goes over the limit and this rule is applied. It doesn't work even when disabling all rules (with `// eslint-disable-line`). I use version 1.6.0.

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27285089-cannot-disable-ma

[2015-10-09 11:02] sonnyp commented on #2785
I'm not sure to understand the logic behind this.
Enabling module syntax doesn't mean all/any of the JS source will be used as a module.
Shouldn't the warning appear only when exporting stuff?

[2015-10-09 11:07] kmoe opened #4098 "comma-spacing in template strings: false negative"
**What version are you using?**
eslint v0.20.0 with babel-eslint (happy to raise an issue there if it is a bug with babel-eslint instead)

**What did you do?**

created the file template_comma.js:

[code]

with an .eslintrc of this:

[code]

then ran this in the terminal:
[code]

**What happened?**

eslint stdout output:

[code]

**What did you expect to happen?**

no errors

**Analysis**

It look

[2015-10-09 13:39] marcelka commented on #4067
Oh, thanks for pointing that out, I haven't noticed that it is in fact valid code :) I am looking forward to the rule!

[2015-10-09 13:42] gyandeeps commented on #4096
https://github.com/eslint/eslint#what-about-ecmascript-72016-and-experimental-features

[2015-10-09 13:44] gyandeeps commented on #4097
Use ignore comments option in side the rule.
http://eslint.org/docs/rules/max-len#options

[2015-10-09 13:46] gyandeeps commented on #4098
Thats a long way back in term of releases. I would recommend upgrading eslint to `1.6` and then try this.

[2015-10-09 13:54] hzoo commented on #4096
add `"parser": "babel-eslint"` to your config and `npm i babel-eslint --save-dev`

[2015-10-09 13:57] hzoo commented on #4098
I fixed this a while ago - same as https://github.com/babel/babel-eslint/issues/31? (try upgrading to latest of both eslint/babel-eslint)

[2015-10-09 14:35] michaelficarra commented on #4095
`new.target` as well, I guess.

[2015-10-09 14:36] michaelficarra commented on #4094
There's an eslint mailing list that is probably more appropriate for questions.

[2015-10-09 14:41] #4096 closed

[2015-10-09 14:46] ilyavolodin commented on #4094
@dferber90 as @michaelficarra pointed out, mailing list is probably a better place for this kind of questions. There are a long and a short answer to your questions. Short answer is - you can't. ESLint is a static analysis tool, so no execution of linted code occurs and hance you can't track dynamic values of the variables. There are ways you can try to fool the system, but they are all going to b

[2015-10-09 14:46] #4094 closed

[2015-10-09 14:51] gyandeeps commented on #4090
working on this.

[2015-10-09 14:52] dferber90 commented on #4094
I'm aware of the limitations of static analysis and happy to settle with a *close enough* approach.
Thank you for your responses :+1: I'll consider the mailing list if I can't work it out.

[2015-10-09 15:20] necolas commented on #3143
I would like to be able to use the rule. If the order were not customisable and differed from what we do now, then I'd make the case for us to adopt whatever the eslint rule enforces.

[2015-10-09 15:43] Moezalez opened #4100 "Cannot deactivate "no-console" rule."
I am using node and want to use console.log. I cannot figure out a way to prevent eslint to warn me about it. I get `Unexpected console statement.`

My eslintrc:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27293386-cannot-deactivate-no-console-rule?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_sour

[2015-10-09 15:46] gyandeeps commented on #4100
Can you share code where the issue is?
What version of eslint are you using?

Insode your rules just say `no-console: 0`

[2015-10-09 16:40] pmcelhaney commented on #4085
@nzakas You asked if we could continue the discussion here. I don't understand why the resistance to having a list of ES5 builtins. Is the list not finalized at this point?

https://es5.github.io/#x15

[2015-10-09 16:45] ilyavolodin commented on #4100
@Moezalez your config file includes `"extends": "eslint:recommended"` which means that you will inherit all of the ESLint default rules, including `no-console`. In order to disable `no-console` you should include the following into your `rules` section:
`no-console: 0`

Let us know if you have any trouble getting that to work.

[2015-10-09 16:45] #4100 closed

[2015-10-09 17:07] nzakas commented on #4093
@eslint/eslint-team thoughts?

[2015-10-09 17:09] gyandeeps commented on #4093
I am om with this enhancement.

[2015-10-09 17:10] nzakas commented on #3959
Yeah, I'm sorry, I'm just not sure we can meet your expectations in this regard. I'd suggest using your own list of globals.

[2015-10-09 17:10] #3959 closed

[2015-10-09 17:10] #4097 closed

[2015-10-09 17:11] gre opened #4102 "Support object spreads in function parameter"
[code]

results of

*Parsing error: Invalid left-hand side in formals list*

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27295513-support-object-spreads-in-function-parameter?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?u

[2015-10-09 17:12] nzakas commented on #4095
Probably the same for all of these:

* `arguments`
* `super`
* `new.target`

[2015-10-09 17:13] #4090 closed

[2015-10-09 17:14] gre opened #4103 "I expect no-unused-vars rule to be skipped if there is an object spread"
[code]

**"foo" is defined but never used**
happens,
but in most case you still want to do this because you want to take obj without some named fields.

I personally would expect the no-unused-vars rule to be skipped if there is an object spread.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27295592-i-expect-no-unused-vars-rule-to

[2015-10-09 17:16] xjamundx commented on #4093
- Would the exception be just in the `for ()` loop configruation?
- Would `i++` in a `while` loop be allowed?
- Would a variable-name based exception (or regex based) be better?

**My thoughts:** While I'm not strongly opposed, I think it might be better to just disable the rule either in the specific case or generally. 90% of the case of `++` is inside a loop in my experience, so why enable the r

[2015-10-09 17:21] nzakas commented on #4085
I think you're reading into my statements more than is there. Keep in mind that we have a lot of users and this would be a breaking change, so we need to be very careful in considering the situation.

First, you need to understand how ESLint works. In all cases, no matter what you specify, we use the `builtin` globals. These are considered to be things provided by the runtime, and since every runt

[2015-10-09 17:22] #4086 closed

[2015-10-09 17:24] nzakas commented on #4102
As indicated, this is not an error with ESLint, but rather a parser error with Espree. The issue should be filed at https://github.com/eslint/espree/issues/new.

[2015-10-09 17:24] #4102 closed

[2015-10-09 17:24] nzakas commented on #4103
I'm not sure I can agree with that assertion. It might be best for you to disable the rule for that line when doing so.

[2015-10-09 17:35] gre commented on #4103
Yeah this issue have been hurting me for long, but it turns out that when I use object spread, I always want this enabled.
Is there a way we could make that a option of the rule?

[2015-10-09 17:40] FredyC commented on #4097
@gyandeeps Thanks, I haven't noticed that.

[2015-10-09 17:54] pmcelhaney commented on #4085
That's exactly what I'm proposing. Since backward compatibility is important, we can make the ES6-only builtins opt-out rather than opt-in.

At the end of the day, all I care about is that the use case involving Promise is supported one way or another. I'm okay with adding some configuration options or sacrificing a bit of performance. (Of course, I'm assuming if we solve the problem for "Promise"

[2015-10-09 18:00] ilyavolodin commented on #4093
I think I'm with @xjamundx It looks like this exception will go against the purpose of the rule. Just disable the rule if you don't want to follow it (I always disable it, personally).

[2015-10-09 18:22] alberto commented on #4083
Working on this

[2015-10-09 18:54] alberto commented on #4083
It also fails for other cases:
- nested array patterns
[code]
- function definitions
[code]
Maybe the issue should be renamed to reflect that.

[2015-10-09 20:31] IanVS opened #4104 "Remove inline errors from rule doc examples"
The inclusion of error messages within the rule doc examples does not add sufficient value to justify the cost in readability and maintainability. They should be removed.  Perhaps in a future website redesign they can be automatically generated and displayed in a non-intrusive and helpful way.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com

[2015-10-09 21:36] gyandeeps commented on #4081
I am not sure if this a bug after looking at the code.  I think this falls in the same bucket as variable declaration logic.

This should be written as

[code]

I think this sounds more like enhancement request.

[2015-10-09 21:36] gyandeeps commented on #4076
https://github.com/eslint/eslint/issues/4081#issuecomment-146991265 applies here too.

[2015-10-09 22:50] ilyavolodin commented on #4098
It looks like this issue has been fixed. @kmoe feel free to reopen if you are still seeing it with newer versions for eslint and babel-eslint.

[2015-10-09 22:50] #4098 closed

[2015-10-09 22:51] ilyavolodin commented on #3945
No response so closing. Feel free to reopen with more information.

[2015-10-09 22:51] #3945 closed

[2015-10-10 02:07] IanVS commented on #3678
Where did we leave this?  Do we want to try to split them out, or no?

[2015-10-10 07:55] mysticatea commented on #4095
I will try to fix this.

[2015-10-10 09:53] mysticatea opened #4108 "Rule Proposal: `prefer-rest-params`"
There is rest parameters in ES2015 features.
We can use that instead of the `arguments` variable.
The `arguments` does not have methods of `Array.prototype`, so it's inconvenience a bit.

So I propose a rule that suggests a use of rest parameters instead of the implicit `arguments` variable.

This rule considers the following patterns are problem.

[code]

This rule considers the following pattern

[2015-10-10 10:32] mysticatea opened #4109 "Rule Proposal: `arrow-block-style`"
This rule is a styling rule for "non block" v.s. "single return block".

There is a trap in arrow function that returns an object.

[code]

This `{}` is a block, not an empty object.
This should be replaced with:

[code]

This rule has an option.

- `"as-needed"` (default) - If it's possible, this suggests a use of expression without a block.
- `"always"` - This enforces using a block.

----

[cod

[2015-10-10 13:17] kmoe commented on #4098
Thanks all, didn't realise how far back I was in versions. Will upgrade.

[2015-10-10 16:20] SpadeAceman commented on #4093
I'm with @mrmckeb, I'd like to see an option to allow for this.

[The description for the `no-plusplus` rule](http://eslint.org/docs/rules/no-plusplus) begins with this rationale:

Allowing `++` and `--` within the `update` expression of a `ForStatement` would never run into the semicolon insertion or whitespace ambiguity issues this rule is aimed at addressing everywhere else.

[2015-10-10 16:26] SpadeAceman commented on #3480
Adding the option to `no-extra-parens` would simply open the door to allowing extra parens around ternaries. It would be up to `no-nested-ternary` (and its associated options) to enforce it around just the nested ones.

[2015-10-10 16:35] SpadeAceman opened #4111 "Documentation: should the rules in the "Legacy" category be moved to more appropriate categories?"
A number of rules are listed in a "Legacy" category on [the rules page](http://eslint.org/docs/rules/), which implies to me that at some point they'll be deprecated and removed. If that's not the plan, then it might make more sense to move them to another appropriate category (Possible Errors, Best Practices, etc.).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https

[2015-10-10 17:09] SpadeAceman commented on #3885
:+1: I'm definitely in favor of combining related rules when it makes sense, particularly if those rules step on one another's toes in fundamental ways.

Rules depending on the configuration of other rules could get dicey fairly quickly.

We *could* have `semi` to default to something on its own, if `semi-spacing` isn't active – not impossible, but these kinds of latent cross-rule side-effects cou

[2015-10-10 17:48] ktoh commented on #1676
+1

[2015-10-10 20:11] MathRobin opened #4112 "Rule proposal : number of characters limited in function"
Hi,

Corresponding to this post on medium https://medium.com/@c2c/nodejs-a-quick-optimization-advice-7353b820c92e

It could be interesting to have some warnings about functions size.

Not helping in debug, but helping in improving performances

Thanks in advance

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27317292-rule-proposal-n

[2015-10-11 03:29] mrmckeb commented on #4093
My thinking was only to allow someone to optionally allow this in for loop statements / configuration. I didn't explain that well. Such as in `for (i = 0; i < l; i++) { ... }` but not inside the actually block. That's why I didn't mention while loops.

[2015-10-11 04:13] jonathanong commented on #4092
you would have to ask someone who knows ES better than me. it's usually recommended, ex: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Promise/reject#Description and `Promise.reject()` is the promise-version of `throw`. throwing an error in a promise returns a promise with the error as the rejection reason.

also, if you throw a non-error in a promise and never h

[2015-10-11 07:56] fab1an commented on #1676
It works using this plugin: https://www.npmjs.com/package/eslint-plugin-react

[2015-10-11 10:34] silverwind commented on #4112
A rule like this might be short-lived as it won't apply to the soon-to-be-default TurboFan compiler in v8, see https://github.com/nodejs/node/issues/3301#issuecomment-146980210. I'd advice against it.

[2015-10-11 11:04] kof opened #4114 "Rule for braces when used semicolon free style"
I personally prefer semicolon free javascript. But there are some pitfalls when braces are in place. We can add a lint rule which will ensure not to have those runtime errors.

Is eslint project itself interested in adding such a rule?
Is somebody else is interested in a separate project which can implement this rule or maybe it exists already and I missed it?

<bountysource-plugin>
---
Want to ba

[2015-10-11 11:09] kof commented on #4114
Also linting this possible runtime errors would end the debates about semicolons hopefully as there will be no risk any more.

[2015-10-11 11:10] kof commented on #4114
cc @feross

[2015-10-11 11:26] mr-mig commented on #4114
I know about 2 pitfalls with omitting semicolons.

#### Return statements

[code]

#### () or [] at the beginning of the line

[code]
and
[code]

[2015-10-11 11:37] MathRobin commented on #4112
Ok, seems that it will not be useful more than some months. Do as I've never said anything

[2015-10-11 11:37] #4112 closed

[2015-10-11 13:56] ilyavolodin commented on #4114
@kof Could you provide more details about what you are looking for? We have guidelines for new rule proposal [here](http://eslint.org/docs/developer-guide/contributing/new-rules)

[2015-10-11 14:08] kof commented on #4114
**When does this rule warn? Please describe and show example code:**

When options semi is defined as: ` "semi": [2, "never"]`` and following code was detected (just an example, there are more):
[code]

**Is this rule preventing an error or is it stylistic?**

ERROR

**Why is this rule a candidate for inclusion instead of creating a custom rule?**

because eslint has already a rule for semicolon f

[2015-10-11 16:00] #4080 closed

[2015-10-11 16:18] nzakas commented on #4092
That's the first place I've seen recommend using an error, so I'm not ready to create a core rule for it. I'd suggest creating a custom rule for now. When ES6 best practices become more obvious, we can revisit.

[2015-10-11 16:19] nzakas commented on #4108
Sounds good!

[2015-10-11 16:25] nzakas commented on #4114
Have you looked at: http://eslint.org/docs/rules/no-unexpected-multiline

[2015-10-11 16:34] nzakas commented on #4111
What would you suggest instead?

[2015-10-11 16:37] #4073 closed

[2015-10-11 16:37] #4075 closed

[2015-10-11 17:42] kof commented on #4114
Oh this is exactly what I was looking for, I think we should link this rule within related rules of "semi" rule ...

Also worth mentioning it is off by default.

[2015-10-11 18:09] FredyC opened #4115 "Create yield-star-spacing rule"
My settings: `"space-unary-ops": [1, { "words": true, "nonwords": false }]`

Fails on the code: `yield *iterateChildren(tgChildRow);` with message _Unary word operator "yield*" must be followed by whitespace_.

Version 1.6.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27330565-create-yield-star-spacing-rule?utm_campaign=plugin&ut

[2015-10-11 21:29] SpadeAceman commented on #4111
I'd say `no-bitwise` belongs under "Possible Errors" (given its rationale), while the others belong under "Best Practices".

(While one could argue that `max-len` belongs under "Stylistic Issues", having a line-length limit convention seems more like a best practice to me.)

[2015-10-11 22:15] michaelficarra commented on #4114
@kof where would you need a semicolon in that program?

[2015-10-11 22:18] kof commented on #4114
@michaelficarra changed it a bit to produce the effect I wanted to point out, its all fine we have a rule for this, just documentation issue.

[2015-10-11 22:22] michaelficarra commented on #4114
Now it makes a lot more sense.

[2015-10-11 23:24] platinumazure opened #4117 "RuleTester does not log assertion failure when invalid tests' errors are strings"
ESLint version: Latest (1.6.0)

Hi folks. I encountered some surprising behavior when I miswrote some ESLint rule tests in my plugin.

Here's some pseudo-rule testing code to show the incorrect usage of RuleTester:

    var rule = require(/* path to rule */);
    var ruleTester = new RuleTester();
    ruleTester.run("rule-name", rule, {
        invalid: [
            {
                code: "someB

[2015-10-11 23:40] platinumazure commented on #3966
Would this rule be expected to also catch (e.g.) `window.event`? (Or `self.event`, or `global.event`, or...)

Put another way, is there any infrastructure in ESLint which allows rules to examine what identifiers point to an object containing the global scope? And if not, would that need to be created?

[2015-10-12 04:06] willklein commented on #3218
I've finally found some free time, prepping a PR now. I should have it up tomorrow.

I decided to call it `no-restricted-properties`, and check for both property reads and method calls.

[2015-10-12 10:00] LavrovArtem opened #4118 "Rule suggestion: ignore the prefer-arrow-callback rule if the function body uses the arguments array."
The [documentation](http://eslint.org/docs/rules/prefer-arrow-callback) describes some exceptions, but says nothing about the arguments array.
For example:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27342958-rule-suggestion-ignore-the-prefer-arrow-callback-rule-if-the-function-body-uses-the-arguments-array?utm_campaign=pl

[2015-10-12 12:55] Moezalez commented on #4100
Code:

[code]

config:
[code]

I still get
[code]

[2015-10-12 13:07] AntouanK opened #4119 "Load plugin when using eslint in node via the API"
I'm having an issue with using the `react` plugin, and from what I see the problem is the way I use eslint.
( Made an [issue](https://github.com/yannickcr/eslint-plugin-react/issues/52) there as I thought it was a plugin issue )

So if I run this
[code]
on my root directory, works fine, no errors/warnings.
( version : v1.6.0 )

I use eslint in my gulp step though, and I want to be able to use the

[2015-10-12 13:33] platinumazure commented on #4119
Just out of curiosity, why are you using the linter directly when you could use CLIEngine? It sounds to me like the functionality you want is exposed there rather than on the linter.

[2015-10-12 13:35] jrock2004 opened #4120 "eslint --init not working Windows 10"
Trrying to generate an eslintrc file using powershell or command line and I cannot get pass the first question.

ESLint version 1.6.0

[code]

Any thought?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27347385-eslint-init-not-working-windows-10?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2015-10-12 13:37] AntouanK commented on #4119
When I went to the [API page](http://eslint.org/docs/developer-guide/nodejs-api) the first example there had `linter` and `.verify`, so I thought that's the way to use ESLint in node.

Now that you said it though, it seems I should keep reading that page...

I'll have a look at the CLIEngine. Thanks @platinumazure

[2015-10-12 13:43] AntouanK commented on #4119
@platinumazure Plugin works fine with `CLIEngine` and `executeOnText`. Thanks.

[2015-10-12 13:43] #4119 closed

[2015-10-12 13:59] gyandeeps commented on #4120
Related https://github.com/eslint/eslint/issues/3395

[2015-10-12 14:11] michaelficarra commented on #4100
@moezalez You didn't put it in the rules section as asked.

[2015-10-12 14:12] michaelficarra commented on #4118
Duplicate of #4095.

[2015-10-12 14:50] ilyavolodin commented on #4120
Duplicate of #3395 Unfortunately we can't do anything to fix this on our end. We have to wait for the fix for Inquirer.

[2015-10-12 14:50] #4120 closed

[2015-10-12 14:51] ilyavolodin commented on #4100
@Moezalez as @michaelficarra noted, `no-console` should go inside `rules` section.

[2015-10-12 14:52] ilyavolodin commented on #4118
Closing in favor of #4095

[2015-10-12 14:52] #4118 closed

[2015-10-12 16:35] nzakas commented on #4117
I think string only errors would be fine to add. I'm guessing a lot of people just use message testing anyway.

[2015-10-12 16:40] platinumazure commented on #4117
Okay. I'll work on a pull in the next couple of days. Thanks!
On Oct 12, 2015 11:35 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-10-12 17:49] #4083 closed

[2015-10-12 17:54] nzakas commented on #4093
Okay, while I don't understand the specialness of the `for` loop usage (where you could still use `i+=1` to get the same effect), we can add an option (off by default).

@mrmckeb do you want to suggest an option name and put together a pull request?

[2015-10-12 17:57] nzakas commented on #4111
See, here's the problem: I disagree with those categories. These rules are all based on JSLint rules and sometimes defy categorization. These are all definitely *not* best practices, most are preferences.

[2015-10-12 17:58] nzakas commented on #4103
As object spread is an experimental feature, we aren't going to make special affordances for it until it's finalized. At this time, I don't think we can make any change for this use case. I'd suggest disabling the rule for that line or doing something like this:

[code]

[2015-10-12 17:58] #4103 closed

[2015-10-12 18:04] nzakas commented on #4085
I'm generally against creating options that are at odds with every other option we have. For every environment, you must opt-in to using it, so having a single one that is opt-out doesn't make sense.

Again, given the rate at which ES6 is being adopted, I'm having a hard time rationalizing that we should anything to optimize for ES5 environments, since in all likelihood we'd just be backing out th

[2015-10-12 18:04] nzakas commented on #4076
@gyandeeps can you update the issue labels accordingly?

[2015-10-12 18:05] nzakas commented on #3678
Up to @btmills.

[2015-10-12 18:17] nzakas commented on #3480
I think that slices the responsibility for checking parens a bit too thin. The "functions" option for `no-extra-parens` is there for the very common case of IIFEs. I don't think this rises to that level of ubiquity.

The overlap of rules is something we try hard to avoid as it creates a lot of confusion and tight coupling between rules.

[2015-10-12 18:19] nzakas commented on #4115
Looks like a bug. We'll take a look.

[2015-10-12 18:20] nzakas commented on #4114
@kof all rules are off by default, so there's little value in restating that in documentation.

Feel free to submit a PR for the other doc change.

[2015-10-12 18:22] nzakas commented on #3966
No, `window.event` isn't considered a global variable for these purposes. I really don't want to get into the weeds of what the global object is called in different environments.

[2015-10-12 18:24] platinumazure commented on #3966
I hear that and agree with you 100%. Just wanted to get the question out there.

[2015-10-12 18:27] ilearnio opened #4121 "Bug with no-spaced-func"
Hi,

I don't know if it's a bug, probably it is... This code gives me an error "Unexpected space between function name and paren. (no-spaced-func)"

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27354384-bug-with-no-spaced-func?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept

[2015-10-12 18:31] lo1tuma commented on #4115
AFAIK this is the expected behavior. The operator in the example is `yield *` and there is no space after it.

[2015-10-12 18:37] pmcelhaney commented on #4085
Okay, let's talk about what the option might actually look like.

    /*eslint-env es6 */
   var p = new Promise(); // This is okay. It's ES6 code so it's safe to use Promise.
   Promise = 'x'; // This is not okay.

   /*eslint-evn es5 */
   var p = new Promise(); // This is not okay. Promise may not exist in some environments that this code is supposed to support. (Looking at your, IE11.)
   Prom

[2015-10-12 18:47] ilearnio commented on #4121
[code]
(Installed globally, OS X, error within Sublime Text 3 + SublimeLinter-eslint)

I cut off almost everything from my .eslintrc file. here is what's left:
[code]
but the error is still there when I'm editing

[2015-10-12 18:51] platinumazure commented on #4121
Could you include line/column numbers, or otherwise some indication of exactly where the error occurs? And if you could try modifying your code to see what conditions will cause the rule to trigger vs not trigger, that will help narrow it down.

[2015-10-12 18:59] ilearnio commented on #4121
This is the entire file (Line 1, Column 15), I removed everything from there to make sure it's a bug.
Just updated eslint to latest v1.6.0, error is still there but only in Sublime Text, when I manually do `eslint myfile.js` it's not displaying any errors. So it's probably a bug not in eslint but in my editor's package SublimeLinter-eslint

[2015-10-12 19:01] #4121 closed

[2015-10-12 19:51] FredyC commented on #4115
@lo1tuma You might be right, but that would be kinda sad if it would force me a different code styling. I would have to disable whole rule just because of one space ? :) The `yield` is sort of special and there is multiple options how to write it. Perhaps it could go to separate rule and remove it from this one?

[2015-10-12 20:29] IanVS commented on #4115
Maybe something similar to [generator-star-spacing](http://eslint.org/docs/rules/generator-star-spacing)?

[2015-10-12 20:56] robcolburn commented on #1897
Is there a release planned for this? `master` doc currently incorrect :(

[2015-10-12 21:41] gyandeeps commented on #3102
If I understand it correctly, this enhancement will allow configuration files to be `.js` files also (currently we accept `json` and `yaml`). Now it can be directly used using `configFile` or inside extend.
Am I understanding this correctly?

Once this is answered I will work on this.

[2015-10-12 21:55] mrmckeb commented on #3218
Thanks @willklein, that's great. I was just discussing this with a colleague yesterday - coincidental timing.

[2015-10-12 22:20] mzgol commented on #3102
@gyandeeps This is about what's accepted in the `extends` field, not what types of configuration files does ESLint support. In this field ESLint currently supports:

1. names of packages that export an object with ESLint rules
2. path to a JSON file
3. (I didn't check it but I assume that's the case) path to a YAML file

The request is to support paths to JS files exporting rules as well. This may

[2015-10-12 22:43] piecioshka commented on #2409
:+1:

Thanks @michaelficarra !

[2015-10-13 01:34] nzakas commented on #4115
@lo1tuma it's expected based on the implementation but I'm not sure it's logically expected. From a developer perspective, `yield` is the operator and `*` is a second operator. I think some adjustment to this rule is the best option.

[2015-10-13 01:34] #2449 closed

[2015-10-13 02:49] michaelficarra commented on #4115
I guess some might consider it a word operator and some might consider it a non-word operator. I don't think it's that they perceive them as two separate operators.

[2015-10-13 06:16] fsmanuel commented on #2449
@gyandeeps :+1:

[2015-10-13 06:25] mrmckeb commented on #3218
Hey @willklein, just a quick note on the name - `no-restricted-properties` sounds like turning this on would turn off all property restrictions, not set restrictions. I liked the original name better, but it's obviously up to you and the team at ESLint to decide on that. Maybe `restrict-properties`?

[2015-10-13 12:21] IanVS commented on #3218
I think @willklein's proposal follows our [naming conventions](http://eslint.org/docs/developer-guide/working-with-rules#rule-naming-conventions).  I see where you are coming from, @mrmckeb, but there is precedent for this type of rule name (i.e. [no-restricted-modules](http://eslint.org/docs/rules/no-restricted-modules), [no-restricted-syntax](http://eslint.org/docs/rules/no-restricted-syntax), e

[2015-10-13 14:42] #4114 closed

[2015-10-13 15:10] alberto commented on #4108
@mysticatea are you working on this?

[2015-10-13 15:12] platinumazure commented on #1087
@nzakas Wondering if this issue needs more discussion and/or closing? Autofix introduced a new API for `context.report` to make it object-based (though the positional syntax is still supported).

[2015-10-13 15:32] alberto commented on #4109
@mysticatea are you working on this?

[2015-10-13 15:53] nzakas commented on #1087
You're right! Totally forgot about this one. New syntax is implemented.

[2015-10-13 15:53] #1087 closed

[2015-10-13 16:07] kof commented on #4114
thanks @ilyavolodin you was a bit faster)

[2015-10-13 16:17] pmcelhaney opened #4125 "Handle --max-warnings within the CLIEngine"
I'd like to configure max-warnings within a Grunt plugin. Currently [the grunt plugin doesn't have access to that option](https://github.com/sindresorhus/grunt-eslint/issues/90#issuecomment-147760368), as it's coded outside of CLIEngine. Is there any reason *not* to make --max-warnings part of CLIEngine's API?

If the team agrees that we should refactor so that CLIEngine knows about --max-warnings

[2015-10-13 18:09] willklein commented on #3218
Thanks @IanVS, that's indeed what I was thinking. I really mulled this over (and the config schema) and tried to follow suite with other rules.

I have everything working now but the schema. Haven't quite gotten it to work:
[code]

I tried a few things. I currently have:
[code]

I want to be able to configure the rule like this:
[code]

Any suggestions? Should I post the PR as a WIP?

[2015-10-13 18:16] IanVS commented on #3218
I think a better configuration would be:

[code]

Note the objects are in an array, this would help your schema problems.

[2015-10-13 18:24] willklein commented on #3218
Thanks, I think I started with that, and then tried to get clever. I think I saw another rule do something like what I was trying, but I can't remember it now.

I'll go with this and get it working!

[2015-10-13 18:28] platinumazure commented on #4125
Original issue is #2769. It was agreed that the option should not be exposed to configuration, but perhaps I had misinterpreted that as an order not to include this in CLIEngine.

That said, the only real change is to alter the exit code from the ESLint CLI-- I can't imagine this would be valuable since CLIEngine doesn't actually return exit codes? It would be very easy for a consumer of CLIEngine

[2015-10-13 18:34] platinumazure commented on #3218
@willklein I'm looking at the schema validation section (https://github.com/eslint/eslint/blob/master/lib/config-validator.js#L26-L58) and see that we have a special case for if the schema is an array of schema objects (which prepends the error level validation schema), but that if an object is specified it will interpret that as a full schema.

If you really want the variable-length flow, you wou

[2015-10-13 18:36] willklein commented on #3218
Thanks, @platinumazure, that's super helpful! As you suggested, I'll go with the inline array. :)

[2015-10-13 18:42] pmcelhaney commented on #4125
It would be nice if the reporter API was aware of the fact that the number of warnings is unacceptable. Then (once the reporters are updated to recognize the new settings) we won't get mixed signals like this.

Having said that, you're right, it's not hard to just add the necessary check to grunt-eslint. I've already submitted a PR.

[2015-10-13 18:44] BenoitZugmeyer commented on #4109
Awesome. I would love to see a third option, `as-needed-line`, in the same spirit of `curly multi-line`, enforcing one-liners to behave like `as-needed` and multi-line functions like `always`.

[code]

##### Valid

[code]

##### Invalid

[code]

Should I open a new issue for this?

[2015-10-13 19:19] YoussefTaghlabi opened #4126 "--fix option no longer exist in v1.1.0"
Was ```--fix``` removed?

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27384871-fix-option-no-longer-exist-in-v1-1-0?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282608&utm

[2015-10-13 19:29] ilyavolodin commented on #4126
Fix was not removed. I just verified that fix is listed in help for versions 1.5.1 and 1.6.0. We can't fix old version, so closing this issue.

[2015-10-13 19:29] #4126 closed

[2015-10-13 19:45] platinumazure commented on #4125
Wait, do you get that error message with no `--max-warnings` specified?

[2015-10-13 20:12] nzakas commented on #4126
Fixing was introduced in v1.4.0.

[2015-10-13 20:14] YoussefTaghlabi commented on #4126
Ah, my bad!
Thanks guys!

[2015-10-13 20:16] nzakas commented on #4125
`CLIEngine` doesn't deal with exit codes, and all `max-warnings` does is look at the total number of warnings and alters the exit code. As such, it doesn't make sense to have this in `CLIEngine`.

All `cli` does is see if the warning count is greater than whatever `maxWarnings` is:
https://github.com/eslint/eslint/blob/master/lib/cli.js#L171

That can easily be replicated in a Grunt plugin.

[2015-10-13 20:16] #4125 closed

[2015-10-13 20:16] nzakas commented on #3966
:+1:

[2015-10-13 20:17] nzakas commented on #4085
Now you're talking about a special case where "es5" environment *undoes* what is already done by default. This isn't possible unless we create a special case for "es5", which is definitely not an option.

[2015-10-13 20:26] nzakas commented on #3525
Working on this.

[2015-10-13 20:47] zowers commented on #3966
to **error** on - is what I would favor

[2015-10-13 20:50] pmcelhaney commented on #4085
How about adding an assume-no-globals option? With that option enabled, ESLint would not add any global variables that are not explicitly included via "global" or "env".

There would still be an "es5" environment option and it would be purely additive, just like the other "env" options.

[2015-10-13 21:00] #2965 closed

[2015-10-13 21:43] mrmckeb commented on #3218
That makes sense, @IanVS and @willklein  - I'm very excited that this is coming into ESLint.

[2015-10-13 21:59] aparajita commented on #4115
From a formatting perspective, isn't this exactly analogous to `generator-star-spacing`? Even though technically `yield*` may be a unary operator, the user wants to maintain a consistent style between generator star spacing and yield star spacing. Thus it seems that `yield*` should be removed from this rule and a separate `yield-star-spacing` rule should be created.

[2015-10-13 22:09] csilvers opened #4127 "Allow "either" for space-before-function-paren, one-var, etc."
Adding eslint to a legacy codebase, we would like to enforce space-before-function-paren for named functions, but allow a space or not for an anonymous function.

We can do `{"anonymous": "never", "named": "never"}` or `{"anonymous": "always", "named": "never"}`, but what we really want is `{"anonymous": "either-way-we-don't-care", "named": "never"}`.  Right now I don't see any way to do something

[2015-10-13 22:10] platinumazure commented on #4115
I'm :+1: to the comment left by @aparajita. Seems to me like `yield *` is a unique unary operator due to actually being two tokens, and we would do better to handle it specially akin to `generator-star-spacing`.

[2015-10-13 22:17] hamiltondanielb opened #4128 "React es6 class extends instead of es5 createClass"
Is there a way to enforce

`class PageManager extends Component {...}`

instead of

`module.exports = React.createClass({...})`

I apologize if I missed something, but I can't seem to find anything about this

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27389264-react-es6-class-extends-instead-of-es5-createclass?utm_campaign=plugi

[2015-10-13 22:19] hamiltondanielb commented on #4128
This should most likely be directed to eslint-react-plugin

[2015-10-13 22:19] #4128 closed

[2015-10-13 22:20] ilyavolodin commented on #3966
@zowers error vs. warning is handled on the engine level, and has no bearing on the rule. It's up to the user to set that up.

[2015-10-14 01:35] platinumazure opened #4129 "Code Conventions document should be linked in Contributing doc"
I spent a while digging around for the Code Conventions doc because I couldn't remember where info on `@author` and `@copyright` could be found, and unfortunately it's not part of the "Developer guide" menu of the site. Any chance that could be fixed?

(N.B. This is a documentation issue, not a code issue, so not supplying any version or test case information.)

---------

Actually, now I'm seeing

[2015-10-14 02:50] rhysd opened #4131 "'React' module used in JSX syntax is not considered"
Test code is following.

[code]

With above code, eslint reports that `React` is not used.

[code]

However, `React` module is actually used in `<div>` component.  When I removed the import statement, I got below runtime error in DevTools on Chrome.

[code]

I think eslint should consider the modules used in JSX syntax.

My eslint config is [here](https://gist.github.com/rhysd/22952d8688145adb093f

[2015-10-14 02:53] platinumazure commented on #4131
Are you using [eslint-plugin-react](https://www.npmjs.com/package/eslint-plugin-react)? If not, you probably should. ESLint will parse JSX but will not apply React semantics.

[2015-10-14 02:55] hzoo commented on #4131
Looking at the config, @rhysd is using it but doesn't have any rules on - try ` "react/jsx-uses-react": 1`

[2015-10-14 02:56] rhysd commented on #4131
@platinumazure

Thank you for the advice.  I'll check `eslint-plugin-react` document.

[2015-10-14 02:57] mysticatea commented on #4109
@alberto I'm not working on this :)

@BenoitZugmeyer I'd like to separate issue. But the rule does not exist yet. Umm...

[2015-10-14 03:01] rhysd commented on #4131
I read [the document](https://www.npmjs.com/package/eslint-plugin-react). I understood that rules for React.js are not applied by default.  I could resolve this issue.  Thank you @platinumazure & @hzoo!

[2015-10-14 03:01] #4131 closed

[2015-10-14 03:18] c0debreaker opened #4132 "I added ~/.eslintrc but i think it's still not working"
I restarted sublime text and then I opened up a js file that contains es6 code. The import is highlighted and on the console it says,

1 of 9 errors: 'import' is only available in ES6(use esnext option)

I was under the impression that eslint will be able to parse my ES6 file properly.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/

[2015-10-14 03:20] hzoo commented on #4132
`only available in ES6(use esnext option)` sounds like a jshint issue?

[2015-10-14 03:21] c0debreaker commented on #4132
i thought eslint is a replacement for jshint?

[2015-10-14 03:23] hzoo commented on #4132
Yeah it can be a replacement. It just seems that based on the error you are running jshint as well

[2015-10-14 03:23] c0debreaker commented on #4132
fyi, here is my eslintrc file

[code]

[2015-10-14 03:24] c0debreaker commented on #4132
Is it possible to turn off jshint?

[2015-10-14 03:24] hzoo commented on #4132
Yes - but I don't know how you are using it in sublime - probably sublime linter? Ctrl+Shift+P and type disable linter

[2015-10-14 03:26] c0debreaker commented on #4132
Cool. Trying it now :) and yes I am using sublime linter

[2015-10-14 03:28] c0debreaker commented on #4132
Looks like it did it! Now, how can I prove that my sublime text is really using eslint?

[2015-10-14 03:50] #4132 closed

[2015-10-14 04:13] andy-hanson opened #4133 "Enhancement: Symmetric spaced comment"
I've noticed that this code:

	/* spaced-comment*/

doesn't trigger a warning.

Here's my package.json config (eslint 1.6.0):

	{
		"eslintConfig": {
			"rules": {
				"spaced-comment": 1
			}
		}
	}

This isn't a bug; the rule does say "Requires or disallows a whitespace (space or tab) beginning a comment".
I want to check for spaces on both sides of the comment.

Could there be an option to make

[2015-10-14 04:29] platinumazure commented on #4133
Presumably that only applies to block comments, right? Line comments end on
a newline anyway.
On Oct 13, 2015 11:13 PM, "Andy Hanson" <notifications@github.com> wrote:

[2015-10-14 05:37] andy-hanson commented on #4133
Yes, it should only apply to block comments.

[2015-10-14 07:36] BenoitZugmeyer commented on #4109
OK no problem, I'll open an issue when this rule is implemented.

[2015-10-14 08:40] jochenvanwylick opened #4134 "Enhancement: show error on 'property redefined'"
Hi guys,

I wrote the following bug:

    vm.filter = {
        airports: [],
        ....
        airports: {
            ...
        },
    }

Safari 8 was the only one to complain: 'Attempted to redefine property airports' - and stopped right there.

I'm running `grunt-eslint v17.2.0` and it didn't pick up on this. Would it be possible to add this as a check rule in eslint?

<bountysource-plugi

[2015-10-14 11:32] mysticatea commented on #4134
Hi. I guess [no-dupe-keys](http://eslint.org/docs/rules/no-dupe-keys) rule reports that.

[2015-10-14 13:52] IanVS commented on #3395
Ultimately it looks like this is a node.js bug: https://github.com/nodejs/node/issues/2996

[2015-10-14 14:15] esteban-uo commented on #3493
+1 to adding an exception for this case

[2015-10-14 16:30] nzakas commented on #4129
Sounds good! Do you want to submit a PR?

[2015-10-14 16:32] #4134 closed

[2015-10-14 16:43] jochenvanwylick commented on #4134
Oops - sorry. I'll find out why it's not reporting the issue.

[2015-10-14 16:44] platinumazure commented on #4129
@nzakas I can submit a PR. If you happen to get back to this and want to offer direction on where else you might like to see this link, I can take that into account when writing the PR; or we can discuss as part of reviewing the PR once I have something out there. Either way works for me.

[2015-10-14 16:58] Erid commented on #3814
A new rule for this sounds like the way to go, has one already been suggested?. If not I think `no-reassign-param-props` would do... It's basically the same but only for the props.

Other option would be to extend the rule and add {"root": true} as default (or similar), though the rule could easily mean nothing with both props set to false.

--

I believe this rule is specially useful because it's

[2015-10-14 17:24] nzakas commented on #4085
I think I've achieved some enlightenment around this issue.

First, the only reasonable approach that doesn't require a lot of hacks is to remove ES6 globals from `builtin` into an `es6` environment. This will work as-is for anyone currently using the `es6` environment, so it will only affect those who are not.

This is still a breaking change, so we'd have to wait for 2.0.0 to do it.

Ultimately,

[2015-10-14 17:25] nzakas commented on #4129
I think starting with a link on the contributing page is a good starting point. Definitely open to suggestions about where else it would make sense.

[2015-10-14 17:54] platinumazure commented on #937
Just want to double-check that there is still interest in this? There's been no activity for over a year except for adding a "help-wanted" label nearly a month ago.

I'd be interested in looking into this if so, but it seems like this might be a lower priority.

[2015-10-14 18:14] nzakas commented on #937
Yeah, it's a pretty low priority. There's also this plugin: https://www.npmjs.com/package/eslint-plugin-no-unsafe-regex

So I think it's safe to close this out now.

[2015-10-14 18:14] #937 closed

[2015-10-14 18:15] #4117 closed

[2015-10-14 18:18] nzakas commented on #4115
I can buy that argument.

Since this would be a breaking change, we'll need to hold off and do it for 2.0.0.

[2015-10-14 18:30] keithamus opened #4136 "eslint --ignore-path .gitignore does not support "!" prefixes"
Here's the first few lines of my gitignore:

[code]

The lines beginning `!` negate the `.*` line - in otherwords, __dont ignore__ `.editorconfig`, `.gitignore`, `.eslintrc`. Here's what happens when I run `eslint --from-ignore .gitignore --debug .`

[code]

Without the `--ignore-path .gitignore` - or with the `!` prefixed files removed, here is the ouput:

[code]

I'm pretty sure #3948 will fix t

[2015-10-14 18:52] aparajita commented on #4115
It doesn't necessarily need to wait until 2.0. Adding an "ignoreYieldStar" property to the space-unary-ops rule + new yield-star-spacing rule would allow what we want without breaking anything.

[2015-10-14 18:57] nzakas commented on #4136
We completely skip over dot files that aren't passed on the command line, so your ignore file would have no effect on those files.

I'm unclear from your report what you're expecting to happen.

[2015-10-14 18:59] nzakas commented on #4115
I'm really not a fan of creating options where rules can overlap, as that tends to confuse people. I'd much rather wait and do it the right way.

[2015-10-14 20:20] alberto commented on #4109
Ok, I have the examples mentioned here covered, but I'm not sure all potential cases are.
For example, this is also probably an error:
[code]

Should  this be an error too?
[code]

[2015-10-14 20:56] mysticatea commented on #4109
Wow, thank you all.

@alberto Good point. I am not sure this rule should catch those pattern since those will be caught by other rules (e.g. no-unused-expression). Well, is there a rule which allows only loop in LabeledStatement? (`{foo: bar()}` is caught by other?) I want to hear advices. @eslint/eslint-team

[2015-10-14 22:28] bisubus opened #4138 ".eslintignore acts unpredictably for symlink directories"
For .eslintignore

    *.js

`eslint *.js` outputs nothing, and `eslint file.js` outputs

    <symlink path>\file.js
       0:0  warning  File ignored because of your .eslintignore file. Use --no-ignore to override

For .eslintignore

    !*.json

`eslint *.js` outputs nothing, and `eslint file.js` outputs

    <original path>\file.js
       9:5   warning  "variable" is defined but never used    n

[2015-10-15 00:48] nzakas commented on #4138
Duplicate of #3720.

[2015-10-15 00:48] #4138 closed

[2015-10-15 00:52] #3525 closed

[2015-10-15 01:02] jadengore commented on #3493
:+1: for this case, just updated from <1.0 and this is a problem in many spots.

[2015-10-15 02:25] hzoo commented on #4109
Right now there's http://eslint.org/docs/rules/no-labels, no-label-var, no-empty-label. I don't think there's a rule that only allows labels in a loop

[2015-10-15 04:05] lijunle opened #4140 "Fail to enforce EOL with one single empty line."
Fail to enforce EOL with one single empty line.

My configuration:

[code]

Related: https://github.com/eslint/eslint/pull/1913 https://github.com/eslint/eslint/issues/1460#issuecomment-63178505

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27423632-fail-to-enforce-eol-with-one-single-empty-line?utm_campaign=plugin&utm_content=trac

[2015-10-15 04:11] lijunle commented on #4140
v1.5.0

File `a.js`, notice two empty line at the line of the file:

[code]

File `.eslintrc`:

[code]

Nothing is output.

Expect warning me that there is multiple empty lines at the end of the file.

[2015-10-15 04:17] andy-hanson opened #4141 "`array-bracket-spacing` for empty array"
When linting this code:

	[ ]

with this config:

	{
		"eslintConfig": {
			"rules": {
				"array-bracket-spacing": 1
			}
		}
	}

I would expect to see an error like:

	1:1  warning  There should be no space after '['   array-bracket-spacing

Instead, there is no warning.

(My `eslint -v`: 1.6.0)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource

[2015-10-15 06:40] mysticatea opened #4142 "`indent` rule is warning wrong on callbacks (master branch)"
I'm using ESLint of `code-path-analysis/new` branch in my job. (to test the analysis).
Then I found indent rule's wrong warnings.
This is not reproduced in v1.6.0, but reproduced in master branch.

[code]

[code]

I expected no errors.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27425416-indent-rule-is-warning-wrong-on-callbacks-

[2015-10-15 08:23] keithamus commented on #4136
@nzakas the point is that the .gitignore file breaks eslint, because it doesn't know how to parse `!.eslintignore` and so bails, choosing not to lint ANY files. The difference between the two CLI outputs illustrates this: with a gitignore including `!.eslintrc` eslint does not lint any files, removing `!` prefixed line from .gitignore, suddently eslint kicks into action and is able to lint files.

[2015-10-15 10:14] phraemer opened #4143 "Incorrect error message for "stroustrup" brace-style"
Same as old closed issue https://github.com/eslint/eslint/issues/719

v1.6.0

    4:12  error  Closing curly brace appears on the same line as the subsequent block  brace-style
    ? 1 problem (1 error, 0 warnings)

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27429343-incorrect-error-message-for-stroustrup-brace-style?utm_

[2015-10-15 10:40] mrmckeb commented on #4093
@nzakas I plan to take a look at this... it might need to wait until the weekend.

However, something I came across that I didn't notice before is that you can also force a semicolon at the end of each line with ESLint - which effectively solves the no-plusplus problem for my team. I'm still interesting in contributing to ESLint though, so I will take a look at this ASAP.

[2015-10-15 10:41] mysticatea commented on #4109
@hzoo Thank you!

[no-empty-label](https://github.com/eslint/eslint/blob/master/lib/rules/no-empty-label.js) seems to catch `() => {foo: bar()}`, so in my opinion, special handling is not needed for those two pattern. I guess those are handled in the same path as `let foo = () => { bar(); };` (the block does not have one ReturnStatement).
But my opinion is not strong.

[2015-10-15 11:26] alberto commented on #4109
In which category should this rule fall under?

[2015-10-15 11:29] alberto commented on #4109
Nevermind, I just saw there is a specific category for ES6 features.

[2015-10-15 11:55] alberto commented on #4141
I can confirm this behaviour.

[2015-10-15 14:57] gyandeeps commented on #4140
Where are the empty lines?

[2015-10-15 15:15] lijunle commented on #4140
@gyandeeps The markdown just eat my double empty line. Let me update the code snippet.

[2015-10-15 15:20] gyandeeps commented on #4140
Based on the description you are saying that `no-multiple-empty-lines` rule is not able to catch the empty lines but the heading of this issue is going in different direction. I am lil confused here.
Can you please clarify what you are trying to report here?

[2015-10-15 15:26] lijunle commented on #4140
Well, if you look on #1913 and https://github.com/eslint/eslint/issues/1460#issuecomment-63178505, that makes a breaking change - it will not enforce `eol-last` checks that there is exactly one new line at the end of the file. Besides, it says, we should use `eol-last` with `no-multiple-empty-lines` rule to enforce **there is exactly one new line at the end of the file**. However, I failed.

[2015-10-15 15:48] nzakas commented on #4143
This message seems correct to me, what did you expect it to be?

[2015-10-15 15:51] nzakas commented on #4140
I think the point is that `no-multiple-empty-lines` isn't picking up empty lines at the end of input.

[2015-10-15 15:55] phraemer commented on #4143
Sorry, I shouldn't have copy-pasted the title from the other issue.
What I meant was that it doesn't seem to really an error.
As far I can tell that is the correct stroustroup style and it is reporting it as an error.
Or am I missing something?

[2015-10-15 16:54] nzakas opened #4145 "eslint-config-eslint broken"
Getting an error when I try to use it:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27438632-eslint-config-eslint-broken?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F28260

[2015-10-15 16:54] nzakas commented on #4145
Working on this.

[2015-10-15 17:22] nzakas commented on #4143
Stroustrop style would be this:

[code]

[2015-10-15 17:23] nzakas commented on #4093
@mrmckeb are you saying you don't need this change now?

[2015-10-15 17:26] nzakas commented on #4109
Yeah, I don't think we need this to catch any further patterns, as we're covered by other rules.

[2015-10-15 18:13] evilebottnawi commented on #4141
I think need option for this behavior (empty array).

[2015-10-15 18:19] felipellrocha opened #4147 "Linter is missing no-warning-comments"
[code]

Any reason why the linter wouldn't find the todo here?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27440919-linter-is-missing-no-warning-comments?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&u

[2015-10-15 18:29] hzoo commented on #4147
Can you fix up the markdown/code a bit? I guess the bountysource change messed it up

[2015-10-15 18:32] #4095 closed

[2015-10-15 18:38] felipellrocha commented on #4147
Yeah, sorry... It's eslint 3.1.20

What I'm getting from eslint:
[code]

What I expected:
[code]

[2015-10-15 19:11] alberto opened #4148 "Bug: eol-last autofix doesn't take linebreak-style into account"
eol-last autofix always inserts '\n' at the end of the file regardless of the file's linebreak-style

e.g.
input
[code]

expected
[code]

result
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27442380-bug-eol-last-autofix-doesn-t-take-linebreak-style-into-account?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=iss

[2015-10-15 19:37] alberto commented on #4140
I think this is the culprit: https://github.com/eslint/eslint/blob/1867addebe0212641c675f2a420025b49cff04c4/lib/rules/no-multiple-empty-lines.js#L57-L59

[2015-10-15 20:43] wabain opened #4149 "`space-after-keywords` fails with Allman brace style"
This is similar to #3226 and has also been described in comments to #4006.

Using ESLint 1.6.0, the `space-after-keywords` rule gives an error on code with Allman style braces because it expects there to be whitespace which is not a newline between an `else` statement and a subsequent brace:

[code]

Something similar happens after a `do` in a do-while statement. From the discussion on #3226 and #

[2015-10-15 20:59] #4145 closed

[2015-10-15 21:01] ilyavolodin commented on #4143
@phraemer Your example is written using 1tbs. Stroustrap requires closing brace on a separate line. So it looks like the error is correct.

[2015-10-15 21:01] #4143 closed

[2015-10-15 21:03] ilyavolodin commented on #4141
Hmm.. I can't seem to be able to reproduce this in the online demo.

[2015-10-15 21:05] ilyavolodin commented on #4147
@felipellrocha Sorry, could you check your initial post? It looks like your example is incomplete. Can you also double-check your eslint version?

[2015-10-15 21:06] ilyavolodin commented on #4148
Yes, we still haven't really figured out how to do cross-rule fixes. Not really sure how we can accomplish this without creating a lot of cross-depandant code.

[2015-10-15 21:14] platinumazure commented on #4148
At least it should be possible (if annoying) to add the linebreak delimiter to both `linebreak-style` and `eol-last`, right?

[2015-10-15 21:17] ilyavolodin commented on #4149
Confirmed in online demo. Agree, I don't think `space-after-keywords` should check for newline (other then to suppress a warning for missing space).

[2015-10-15 21:24] alberto commented on #4148
As it is right now, this autofix is incomplete, and can cause new errors that would be hidden. @nzakas was oppossed to that in another thread (I can't find it now). So I guess the autofix should be removed.

[2015-10-15 21:25] ilyavolodin commented on #4148
Agree. I think until we can figure out a way to share this type of information cross-rule, we should remove autofix from this rule.

[2015-10-15 21:35] alberto commented on #4141
@ilyavolodin The problem is it doesn't detect the error, as it should. Or do you mean you get an lint error with the online demo? I tested there and it doesn't detect it either.

[2015-10-15 21:41] ilyavolodin commented on #4141
Ahh.. nevermind, I misread original message.
It looks like both `never` and `always` options don't capture an empty array like in the example above.

[2015-10-15 21:49] alberto commented on #4141
`[]` is an exception for the `always` option, as mentioned in the docs. I don't think `[ ]` should be an exception for `never`. I don't see much value in adding it as an option either.

[2015-10-15 22:02] gyandeeps commented on #4148
I don't know why but I would give this rule leeway to remain fixable.
I know we don't do multiple runs but if line-ending rule is configured correctly then it can fix this issue (if needed) in the second run. Just a thought, don't have any strong opinion here.

[2015-10-15 22:05] nzakas commented on #4148
Let's just let people pass in the linebreak style to this rule in the short-term. No need to remove autofixing.

[2015-10-15 22:07] alberto commented on #4148
It should then be a required option, right? Otherwise it can't be autofixed correctly, we can't assume a default. Doesn't that make this a breaking change?

[2015-10-15 22:08] nzakas commented on #4141
Can someone describe what you think the bug is here?

I think we chose to just not enforce anything for empty arrays, so I'm not sure this is a bug.

[2015-10-15 22:09] lo1tuma commented on #4148
@nzakas this setting could be still different from the setting of `linebreak-style`.

[2015-10-15 22:10] nzakas commented on #4148
@alberto we default `linebreak-style` to `unix`. We could do the same here.

@lo1tuma yeah, that's up to the user to fix.

Keep in mind that removing autofixing is a breaking change. :)

[2015-10-15 22:12] johannhof opened #4153 "Expose config to processors"
Issue #3422 already mentioned this, but since that issue tried to change too much and was closed, I would like to highlight this low-hanging fruit that would improve processor plugins a lot:

It would be very helpful if processor plugins could have access to the config/settings to enable plugin authors to support custom plugin settings in the ESLint config.

E.g. I'd like to write a preprocessor t

[2015-10-15 22:13] alberto commented on #4141
The bug is allowing an empty array with spaces `[ ]` when the default `never` option is set.

The doc doesn't say that is expected behaviour, but just for `always`.

`Note that `"always"` has a special case where `{}` and `[]` are not considered problems.`

If it is expected behaviour the docs should also reflect that.

[2015-10-15 22:15] lo1tuma commented on #4148
The problem is that the user wouldn’t notice this problem without a second run.

[2015-10-15 22:18] alberto commented on #4148
@nzakas I mean't breaking assuming the option was required and the rule config was then invalid. If we can assume a default I'm ok with that

[2015-10-15 22:38] hectorcascos commented on #3065
What about `exceptNestedBinaryExpressions`?

I think here "all" is implicit

[2015-10-15 22:41] felipellrocha commented on #4147
@ilyavolodin Ops, it was eslint 0.24.0, sorry. And I fixed my example... I had left traces of my docstring up there... Lol.

[2015-10-15 22:43] ljharb commented on #3065
@hectorcascos so `{ "exceptNestedBinaryExpressions": true, "all": true }` would do what we expect, but how would you combine `{ "exceptNestedBinaryExpressions": true }` with something for "functions"?

[2015-10-15 23:10] ilyavolodin commented on #4153
Could you explain a little more of what you are trying to accomplish and how would access to config help with that? What parts of the config are you looking for, specifically?

[2015-10-15 23:13] ilyavolodin commented on #4147
Sorry, I'm still not sure I understand what you are asking for. It looks like your example above contains only one `//TODO` comment. Why do you expect 3 warnings?

[2015-10-16 02:16] IanVS opened #4155 "`id-match` should use boolean schema type"
The schema of `id-match` is currently:

[code]

I think it should be:

[code]

The difference being use of the boolean type rather than an enum.  I don't think it causes any problems the way it is, but it should probably be corrected just for the sake of correctness and consistency.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/274

[2015-10-16 02:35] mysticatea opened #4156 "Proposal: To enhance RuleTester to detect whether or not AST was modified."
Recently I saw a bug related to a rule which modifies AST node: https://github.com/yannickcr/eslint-plugin-react/issues/249
So I'd like to revisit #1231.

My idea is to enhance RuleTester to detect whether or not AST was modified.

1. It clones AST node deeply (excludes the `parent` property) and saves that before it runs a test case.
2. It clones AST node deeply (excludes the `parent` property) a

[2015-10-16 02:47] gyandeeps commented on #4156
I like the idea.

[2015-10-16 03:42] ilyavolodin commented on #4156
I think it's a good idea, but I think it might significantly slow down our tests. And they are not fast to begin with.

[2015-10-16 03:43] platinumazure commented on #4156
Could we hash the AST nodes somehow and compare that?
On Oct 15, 2015 10:42 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2015-10-16 03:58] mysticatea commented on #4156
In my PC, `npm test` became `43s` from `36s`.
Yes, it slowed down.

I thought information of mocha's `assert.deepEqual` is helpful.

[code]

[2015-10-16 04:48] IanVS commented on #3567
I'm now also generating configs for some config object properties (enums).  My thinking is to create configurations with all properties set explicitly (i.e. no defaults), so for instance, the configurations I check for `key-spacing` are currently:

[code]

And once the boolean properties `beforeColon` and `afterColon` are added, there will be a total of 16 combinations, each having all properties

[2015-10-16 05:26] freewind opened #4157 "Where can I find the rule definitions for "eslint:recommended"?"
In a `.eslintrc` file, we can use:

    "extends": "eslint:recommended"

to extend the recommended rules provided by eslint, and in [the rule list](http://eslint.org/docs/rules/), many of them are marked as "recommended".

My question what is the exact rule definitions for them? I searched in this repo, but not found it.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](

[2015-10-16 07:08] phraemer commented on #4143
Ok, thanks for the clarification. My mistake!

[2015-10-16 09:26] alexandru-calinoiu opened #4158 "Regex support for globals"
My global configuration setting in a backbone project is looking really long and repetitive:

[code]

It will be great if I could write something like:

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27456413-regex-support-for-globals?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We a

[2015-10-16 10:42] igrep commented on #3600
How about this, an idiom which I like to use:

[code]

[2015-10-16 12:17] dbrgn opened #4159 "Google Apps Script Environment"
Apparently there's no support yet for [Google Apps Script](https://developers.google.com/apps-script/).

GAS is essentially JavaScript with a few predefined global classes / services.

An environment specification could probably be auto-generated by crawling and parsing the reference at https://developers.google.com/apps-script/reference/.

Are you interested in such a thing?

<bountysource-plugin

[2015-10-16 12:19] dbrgn commented on #4159
Maybe this could also implemented as a plugin? I don't know ESLint well enough to judge that.

[2015-10-16 12:20] ArnaudBuchholz opened #4160 "Please add support for wsh environment"
**What version are you using?**

Using 1.6.0

**What did you do?**

I am working with cscript / WScript and I need to use the wsh environment

**What happened?**

Actually the environment "wsh" is not supported

**What did you expect to happen?**

As it is exposed in the globals project, I would expect wsh to be supported

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!]

[2015-10-16 12:24] malyw opened #4161 "Indent rule bug in arrays when first value has indent"
**ESlint config:**
[code]

**Current behavior:**

*Code 1:*
[code]
**Error: "Expected indentation of 12 space characters but found 16 (indent)."**

*Code 2:*
[code]
**Error: None**

**Expected behavior:**
Both options don't throw any error as for JSHint option `"indent": 4`
as described on http://eslint.org/docs/rules/indent.html#compatibility

**Other**
ESlint version: 1.6.0

<bountysource-plugin

[2015-10-16 13:22] robertkowalski opened #4163 "Rule Proposal: `space-after-function-paren`"
It would be nice if we could also test for spaces after the function parentheses.

rule-type: stylistic.

why in core? it is complimentary to the existing rule which tests for spaces before the function parentheses

Are you willing to create the rule yourself?

Yes, I just have to get an OK from my manager and I hope I get it. It is probably easier and faster if someone else sends the PR.

E.g:

[

[2015-10-16 13:41] gyandeeps commented on #4161
When we say compatibility we mean that we have a similar rule but that doesnt necessarily mean it functions exactly like that.

**Code **
[code]
[code]

Expectations: Correct behavior

**Code 2**
[code]
[code]

Expectations: Incorrect behavior so its a bug we need to fix this.
Expected errors:
[code]

This is how I see this going.

[2015-10-16 13:52] platinumazure commented on #4157
`eslint:recommended` is a [specially recognized config parent path][1] which points to [conf/eslint.json][2].

  [1]: https://github.com/eslint/eslint/blob/master/lib/config.js#L189-L192
  [2]: https://github.com/eslint/eslint/blob/master/conf/eslint.json

[2015-10-16 15:00] hectorcascos commented on #3065
I'm suggesting to add a separate option.

No-ops can lead to confusion, but using `exceptNestedBinaryExpressions` is clear what it does.

[2015-10-16 15:38] callumlocke commented on #2365
This is looking good!

[2015-10-16 16:07] #3102 closed

[2015-10-16 16:07] #4142 closed

[2015-10-16 16:14] nzakas commented on #4158
Globals can't work with unknown values because we do full scope resolution, not just identifier name matching.

[2015-10-16 16:14] #4158 closed

[2015-10-16 16:21] ljharb commented on #3065
ah, you mean the three choices of "all", "functions", or "exceptNestedBinaryExpressions". That seems sensible to me - @nzakas, would that work for you/other collaborators?

[2015-10-16 16:21] nzakas commented on #4156
We could just run this on the AST before each test: https://github.com/substack/deep-freeze

Then an error will be thrown on attempts to modify the AST. We would need to check performance, but I think it's the simplest option.

[2015-10-16 16:23] nzakas commented on #3567
I think that's fine. I generally believe being explicit is better than trusting defaults anyway. :)

[2015-10-16 16:24] nzakas commented on #4157
All of our rules are here: https://github.com/eslint/eslint/tree/master/lib/rules

[2015-10-16 16:24] #4157 closed

[2015-10-16 16:26] nzakas commented on #4141
Oh I see, thanks for explaining.

[2015-10-16 16:26] #4141 closed

[2015-10-16 16:28] alberto commented on #4163
I think space-before-blocks is what you are looking for.

[2015-10-16 16:28] nzakas commented on #4159
Globals come from https://github.com/sindresorhus/globals

If you're willing to create the environment, we can include it.

[2015-10-16 16:29] mysticatea commented on #4156
I guess we cannot use `deep-freeze`, because eslint add `parent` property while traversing.
But, "Then an error will be thrown on attempts to modify the AST." this is great.
I will try to use `Object.preventExtensions()` and `Object.defineProperty()`.

[2015-10-16 16:41] alberto commented on #4148
I updated the PR with the added linebreak style config option.

[2015-10-16 17:14] nzakas commented on #4148
@lo1tuma it's the same problem we have right now, only with the possibility of it being better

[2015-10-16 17:15] nzakas commented on #4163
Yup, see: http://eslint.org/docs/rules/space-before-blocks

[2015-10-16 17:15] #4163 closed

[2015-10-16 18:14] alanhussey opened #4164 "`indent` rule in 1.7.0 unexpectedly complaining about seemingly-reasonable code, --fix makes it look worse"
I've got some code essentially like this:

[code]

`--fix` transforms it to this, which seems worse?

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27469534-indent-rule-in-1-7-0-unexpectedly-complaining-about-seemingly-reasonable-code-fix-makes-it-look-worse?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&

[2015-10-16 18:14] ChristianMurphy opened #4165 "Bug: Indent callback function"
**Eslint Version**
1.7.0

**Eslint configuration**
[code]

**Source Code**
[code]

**Errors**
[code]

**Expected**
No Errors

**Note**
Eslint 1.6.0 does not print errors for this code.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27469548-bug-indent-callback-function?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issu

[2015-10-16 18:17] ChristianMurphy commented on #4165
likely same issue as #4164

[2015-10-16 18:18] nmote opened #4166 "Proposed rule: no-await-in-loop"
**When does this rule warn?**

This rule warns when a developer uses `await` inside of a loop. Doing so means that each loop iteration will run in serial, when often the desired behavior is to dispatch a bunch of asynchronous operations and then await on the result as a whole, using `Promise.all`.

Occasionally, awaiting inside a loop actually is desirable. In cases like those,

Here is an example

[2015-10-16 18:19] hzoo commented on #4166
You can add it to https://github.com/babel/eslint-plugin-babel if not here

[2015-10-16 18:21] ilyavolodin commented on #4166
ESLint doesn't natively supports experimental features. As such, we can't create core rules for features beyond ES2015. Link that @hzoo posted is probably the best bet for such a rule.

[2015-10-16 18:27] mysticatea commented on #4156
I tried to freeze AST (excludes `parent`).
I could get exact stack traces, yay.
But it seems to be slower than `assert.deepEqual` version (I'm not sure why).

[code]

[2015-10-16 18:51] egoldblum commented on #4164
+1 Behavior in 1.7.0 is not what I expect/want.

[2015-10-16 18:53] mathieumg commented on #1897
@robcolburn Seems released now in 1.7.

[2015-10-16 18:59] wli commented on #4164
Another example:

What I had (which is fine)
[code]

What it seems to want (this is not what I expect)
[code]

I have `indent` configured with `[2, 2]`

[2015-10-16 19:11] wli opened #4167 "`no-magic-numbers` should ignore parseInt radix param"
It seems odd to have to make an exception for this every time, or to declare a DEFAULT_RADIX constant for the entire codebase. Not sure what other people think since it is a fairly narrow (though possibly common) case. This is more of a problem with the `radix` rule.

Code:
[code]

Error:
[code]

Config:
[code]

Eslint Version: 1.7.0

<bountysource-plugin>
---
Want to back this issue? **[Post a bo

[2015-10-16 19:15] lo1tuma commented on #4148
Yes, it would be better as the current situation but it won't fix the problem.

[2015-10-16 19:24] haohcraft opened #4168 "In React, to support {::this.onClick}?"
Hi ,

In order to support the double ":", like {::this.onClick}, what `ecmaFeatures` feature should I add?

Thanks,
Hao

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27471224-in-react-to-support-this-onclick?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource]

[2015-10-16 19:34] alberto commented on #4168
[Function bind](http://babeljs.io/blog/2015/05/14/function-bind/) is an experimental ES7 feature and it is not part of the [list of supported language options](http://eslint.org/docs/user-guide/configuring.html#specifying-language-options).

[2015-10-16 19:37] felipellrocha commented on #4147
Oh. I fixed my example again... I was trying to show you only the problematic example... But now the example shows the exact problem...

[2015-10-16 19:42] hzoo commented on #4168
To support it you need to use the [babel-eslint](https://github.com/babel/babel-eslint) parser - and if a rule breaks because of it you will need to add it to https://github.com/babel/eslint-plugin-babel/

[2015-10-16 20:09] mjrussell commented on #4165
:+1: Same thing happens when you use es6 lambdas and babel.

[2015-10-16 20:33] #4168 closed

[2015-10-16 20:34] nzakas commented on #4167
Agreed.

[2015-10-16 20:36] nzakas commented on #4147
@felipellrocha you're using a really old version of ESLint. This works correctly in the latest version (1.7.0).

[2015-10-16 20:36] #4147 closed

[2015-10-16 20:37] nzakas commented on #4164
Yeah, that looks like a bug.

[2015-10-16 21:05] ptarjan commented on #4164
I just hit this same bug, please fix and push an update. I'm disabling the `indent` rule for now in my repo.

[2015-10-16 21:18] feross opened #4169 "no-unexpected-multiline should check for `tagged template strings`"
This code:

[code]

will output:

[code]

I propose that the [no-unexpected-multiline](http://eslint.org/docs/rules/no-unexpected-multiline) rule also check for this case.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27473982-no-unexpected-multiline-should-check-for-tagged-template-strings?utm_campaign=plugin&utm_content=tracker%2

[2015-10-16 21:25] nzakas commented on #4169
Can you explain more about what's happening here?

[2015-10-16 21:26] nzakas commented on #4156
Hmmm. Okay, `assert.deepEqual` it is :)

[2015-10-16 21:27] aparajita commented on #2390
FYI: With non-allman style braces, I agree. However, with allman style braces, inconsistent use of braces looks quite natural (to me and my colleagues at least):

[code]

[2015-10-16 21:27] nzakas commented on #4148
It won't *automatically* fix the problem, yes, but it will give people the opportunity to fix it themselves until we can figure out how to share such settings across rules.

[2015-10-16 21:30] nzakas commented on #4167
Working on this.

[2015-10-16 21:32] feross commented on #4169
[code]

gets interpreted as:

[code]

In other words, the function is interpreted as the *tag* for purposes of the template string that follows. This isn't what the user wants if they're relying on ASI.

[2015-10-16 21:32] feross commented on #4169
More info about template strings: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/template_strings

[2015-10-16 21:35] #4164 closed

[2015-10-16 21:35] #4165 closed

[2015-10-16 21:36] nzakas commented on #4155
Working on this.

[2015-10-16 21:43] nzakas commented on #4149
Working on this.

[2015-10-16 21:45] #4167 closed

[2015-10-16 21:48] alanhussey commented on #4164
Thanks @gyandeeps! We really appreciate the quick turnaround on bugfixes (it goes nicely with the rapid iteration on eslint :) ).

[2015-10-16 21:49] #4155 closed

[2015-10-16 21:49] gyandeeps commented on #4164
:+1:

[2015-10-16 21:52] nzakas commented on #4149
I put together a PR for this, though I realize there might be some edge cases like `function` (where you never want a newline). Just want to be sure that's what we want before making the change.

[2015-10-16 22:37] Qix- commented on #4164
@greenkeeperio-bot honnayyyyy I know you're a bot but damn...

[2015-10-16 23:28] wli opened #4174 "incorrect `indent` behavior for anonymous function"
Code:
[code]

What eslint wants:
[code]

Errors:
[code]

Version: eslint 1.7.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27476649-incorrect-indent-behavior-for-anonymous-function?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource

[2015-10-16 23:29] wli commented on #4174
Possibly related to the fix made in https://github.com/eslint/eslint/issues/4164

[2015-10-16 23:50] thealjey opened #4175 "Suggestion: a way to enforce CONSTANT_CASE for constants"
It would really be great if eslint could enforce the use of CONSTANT_CASE for constants, e.g:
[code]
And similarly - camelCase for variables:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27476951-suggestion-a-way-to-enforce-constant_case-for-constants?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_so

[2015-10-16 23:59] platinumazure commented on #4175
Would `id-match` do what you want? I can't remember if it distinguishes
between `var`/`let`/`const`.
On Oct 16, 2015 6:50 PM, "Eugene Kuzmenko" <notifications@github.com> wrote:

[2015-10-17 00:04] thealjey commented on #4175
I honestly do not think it would, as I don't need to check all identifiers, but only constant definitions.

[2015-10-17 01:34] aruberto commented on #4167
The error still occurs when using Number.parseInt() instead of global parseInt()

Number.parseInt('123', 10);

[2015-10-17 02:10] hzoo commented on #4167
@aruberto Ah we didn't account for that case

[2015-10-17 04:33] platinumazure commented on #4129
I'll have a pull tomorrow morning, hopefully. Sorry for taking so long with this.

[2015-10-17 04:35] michaelficarra commented on #4169
No, an arrow isn't allowed there. A template tag must be a call expression or member expression. Arrows are assignment expressions.

[2015-10-17 04:37] feross commented on #4169
Can you explain why:

[code]

returns `undefined`?

[2015-10-17 04:37] michaelficarra commented on #4169
@feross Are you using babel? Babel doesn't parse arrows with the correct precedence. See https://github.com/babel/babel/issues/2154 and many other issues.

[2015-10-17 04:41] IanVS commented on #3567
Turns out that approach may not make sense for [lines-around-comment](http://eslint.org/docs/rules/lines-around-comment), which has 10 boolean options.  Rather than linting 1,024 times to check every possible combination, it would be better to check each option individually.  All the other rules have reasonable numbers of combinations (16 is next highest, all the rest have <= 10).

[2015-10-17 04:43] feross commented on #4169
No, I just tested directly in node 4.

[2015-10-17 04:44] michaelficarra commented on #4169
Then they are wrong too.

[2015-10-17 04:46] feross commented on #4169
Node just uses V8.

[2015-10-17 04:51] michaelficarra commented on #4169
Then V8 is wrong. That's just not how that program is parsed. Take a look at the grammar.

[2015-10-17 05:32] mysticatea commented on #4169
http://www.ecma-international.org/ecma-262/6.0/#sec-left-hand-side-expressions
There is not `[no LineTerminator here]` mark between MemberExpression and TemplateLiteral, different from http://www.ecma-international.org/ecma-262/6.0/#sec-return-statement

It looks not wrong to me, but not 100% sure.

[2015-10-17 05:33] michaelficarra commented on #4169
Arrows are not MemberExpressions. You'd need to wrap the arrow in parens for it to parse (in a conforming implementation).

[2015-10-17 05:41] mysticatea commented on #4169
On, you are right.
PrimaryExpression does not include Arrows. Though it includes FunctionExpression and ClassExpression....

[2015-10-17 07:54] justin-lau commented on #2102
[dirty-chai](https://github.com/prodatakey/dirty-chai) works for me. It also automatically converts plugin assertions.

[2015-10-17 09:17] mrmckeb commented on #4093
@nzakas, no sorry. I meant that the `semi` rule does overcome the major concerns that the `no-plusplus` rule addresses, but I'm looking at how to implement that earlier discussed option now. I'll hopefully have a PR together by the end of the weekend.

[2015-10-17 13:14] mrmckeb commented on #4093
Hi @nzakas, I've just submitted a PR #4177. Looking forward to your feedback on it.

[2015-10-17 15:04] platinumazure commented on #4129
@nzakas I've got a silly sort of question... Just where *is* the pull request doc in the repo? I don't seem to have it anywhere. Is there a separate repo for the website?

[2015-10-17 15:31] nzakas commented on #4129
Whoops, yes, it's here: https://github.com/eslint/eslint.github.io

[2015-10-17 15:35] nzakas commented on #4175
The `camelcase` rule basically does the second one already. I don't think we can introduce a new rule for the first one because it could overlap with `camelcase` . maybe an option on `camelcase`?

[2015-10-17 15:41] nzakas commented on #4169
@feross per discussion, I'd advise you to open an issue on V8.

[2015-10-17 15:41] #4169 closed

[2015-10-17 16:32] platinumazure commented on #4129
Gotcha. Should I open an issue there?
On Oct 17, 2015 10:31 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-10-17 17:07] Qix- commented on #4164
@greenkeeperio-bot hehe :+1:

[2015-10-17 18:26] chaseadamsio commented on #3993
Is it possible to make @mysticatea's `eslint-cli` a "blessed" runner of `eslint` globally? This seems like it'd solve the issue at hand without adding extra functionality to `eslint`.

The current trend in the node ecosystem is to not install libraries and frameworks globally, but having a thin meta `cli` runner that checks for your local version and recommends installation has worked really well

[2015-10-17 21:47] thealjey commented on #4175
Again, `camelcase` enforces it's style on all identifiers, not just variable definitions, but on functions, class names, imported variables (which frankly does not make any sense to me), etc.
Furthermore, it does not distinguish constants and variables.
As to creating a new rule vs adding an option to an existing one - I don't really know or care about that :smile:

[2015-10-18 02:06] alberto commented on #4109
Can anyone have a look at this?

[2015-10-18 02:10] alberto commented on #3981
@nzakas In my opinion the rule is behaving differently now to the rest of the rules (I don't know if there is any other rule that reports just once per file). So it is already a special case. The --fix would behave as any other rule. Is there any case where you anticipate not all breaks could be fixed?

[2015-10-18 02:20] alberto commented on #4140
For clarification. no-multiple-empty-lines is picking up empty lines at the end of input, but it is not doing it correctly. There is an off-by-one bug caused by the lines I mentioned in the previous message.

[2015-10-18 04:33] ptarjan commented on #4164
This is still a problem for this code:

[code]

It complains with

[code]

[2015-10-18 08:09] woollybogger opened #4180 "no-extend-native does not catch extensions by Object.defineProperties"
Using `/* no-extend-native: 2 */` does catch this:

[code]

but not this:

[code]

Using ESLint v1.7.1

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27496755-no-extend-native-does-not-catch-extensions-by-object-defineproperties?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bountie

[2015-10-18 11:57] mjw56 commented on #801
I'm seeing the same behavior as @SimenB where the ```ecmaFeatures: { jsx: true }``` is not working for including jsx files.

If possible, I'd like to stick with ```.jsx``` extension because it is offering the best dev experience with the ide my team is using. Having eslint support for this would be nice.

[2015-10-18 13:14] remitbri opened #4182 "Avoid magic numbers in rule options"
if
 - the configuration files are js files
 - "no-magic-numbers" is set to 2
 - ESlint version is 1.7.1

then the configuration of some rules flag an error (_"No magic number: …"_). So far, in my case:
 - complexity
 - max-depth
 - max-len
 - max-params
 - max-statements
 - max-nested-callbacks

The reason is these rules expect numbers in their configuration, e.g.
 `"max-nested-callbacks" : [2, 3]

[2015-10-18 13:53] hzoo commented on #4182
If i'm not mistaken are you saying you are running `no-magic-number` on your `.eslintrc`? I think it would be much easier to either add exceptions to the the list of defaults, add a `/*eslint-disable no-magic-number */` comment for the config, or not run eslint/that rule on your config file since it should already has validation.

I don't think we would want to change the rule format just for this

[2015-10-18 14:04] ilyavolodin commented on #4164
@ptarjan Can you file a separate issue please?

[2015-10-18 14:05] cjihrig opened #4183 "Rule proposal: arrow-body-braces"
I'm looking for a rule similar to `arrow-parens`, but that will ensure that curly braces are always used around an arrow function's body.

**When does this rule warn? Please describe and show example code:**

This rule warns when an arrow function's body is not enclosed in curly braces (even if the braces are not strictly required).

Example code that produces a warning:

[code]

However, this wou

[2015-10-18 14:07] ilyavolodin commented on #801
You have to use `--ext` CLI option in order to lint `jsx` files.

[2015-10-18 14:46] remitbri commented on #4182
Changing the rule format just for this particular rule is a bit much, I agree, that's why I mentioned nitpicking ;) But at the same time, it would add some consistency in the setting/configuration of rules.
Eg, we already have `"no-multiple-empty-lines" : [0, {"max" : 2}]`, which imho is a good thing, and is more clear than `"no-multiple-empty-lines" : [0, 2]`.

To sum up : if a rule needs to be c

[2015-10-18 16:11] nzakas commented on #4182
We do that now. These are all old rules, made before we made that change. I'm not opposed to adding a second way for these rules to be configured, but unless you're volunteering to do so, is unlikely this would get done anytime soon.

[2015-10-18 16:12] nzakas commented on #4183
Duplicate of #4144

[2015-10-18 16:12] #4183 closed

[2015-10-18 16:16] nzakas commented on #4129
Yeah, that would be helpful

[2015-10-18 16:16] #4129 closed

[2015-10-18 16:17] nzakas commented on #4175
I'm sorry, you'll need to create a custom rule for this. What you're asking for would overlap would several rules, and we don't do that as it causes confusion.

[2015-10-18 16:17] #4175 closed

[2015-10-18 16:21] nzakas commented on #3981
Not really the point, the point is having the rule behave differently with --fix vs. not. That's confusing.

I'm thinking now that we have --fix, it's less annoying to have the rule warn on every instance since you can fix it easily. Thoughts?

[2015-10-18 16:23] nzakas commented on #4140
I think that exception was put it so it wouldn't flag empty lines at the end of the file, since there's a separate rule for that. We need to look at that relationship closely.

[2015-10-18 16:25] nzakas commented on #3600
At this point, I don't see a good way of supporting named exceptions. I'd suggest using the JSDoc approach or disabling the rule in certain situations with inline comments.

[2015-10-18 16:25] #3600 closed

[2015-10-18 16:30] nzakas commented on #3993
I'm not sure what "blessed" means.

[2015-10-18 17:10] ptarjan commented on #4164
@ilyavolodin why? It's the same issue that appeared in 1.7.0.

[2015-10-18 17:11] ptarjan opened #4184 "indent still failing for existing code"
The same issue as https://github.com/eslint/eslint/issues/4164 but I was asked to make a new issue. This is still a problem for this code:

[code]

It complains with

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27503097-indent-still-failing-for-existing-code?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issue

[2015-10-18 17:31] mjw56 commented on #801
Thanks @ilyavolodin, --ext=js --ext=jsx does work. Is there a way to configure this from .eslintrc? Thanks.

[2015-10-18 17:38] SimenB commented on #801
I tried digging in the source, and it seems `.eslintrc` is only read _AFTER_ a file is loaded. So I'm guessing no, but don't quote me on that

[2015-10-18 17:50] platinumazure commented on #4129
Awesome- I'll have a new issue and pull there today.
On Oct 18, 2015 11:16 AM, "Nicholas C. Zakas" <notifications@github.com>
wrote:

[2015-10-18 18:11] remitbri commented on #4182
@nzakas On top of your head, which rule underwent the same change/dual configuration? So that I can have a look and understand how it's done.

[2015-10-18 18:29] oliviertassinari opened #4185 "no-magic-numbers and JSX"
When running `no-magic-numbers` on this:

[code]

The rule throws for `rows={4}`.
I think that JSX properties are explicit, not magic, hence, they should be ignored.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27504344-no-magic-numbers-and-jsx?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)**

[2015-10-18 20:27] hzoo commented on #4182
Oh ok, :+1: to add the extra options to be more consistent. I'm not sure any rules were changed to have multiple configs - more that new rules use the config you suggested? You'll probably just have to compare the different kinds unless someone can find one like you are asking.

[2015-10-18 20:34] hzoo commented on #4185
I guess so since the name of it is already there - in your case `rows`.

[2015-10-18 21:15] ilyavolodin commented on #4184
Can you provide a version of ESLint that you are currently running? This has been fixed in v1.7.1

[2015-10-18 21:16] ilyavolodin commented on #801
You are correct. We can't configure this through .eslintrc because we only read configuration after we build up a list of files to lint. And I think there's an open issue somewhere to make `jsx` files be linted by default.

[2015-10-18 21:19] gyandeeps commented on #4184
Duplicate https://github.com/eslint/eslint/issues/4174 but with arrow functions

[2015-10-18 21:29] oliviertassinari commented on #4185
I will try to submit a PR for this one.

[2015-10-18 21:55] alberto commented on #4140
`eol-last` only ensures there is at least one empty line (see comments above, behaviour was relaxed). Currently, there is a test in `no-multiple-empty-lines` that considers a final empty line a valid test case:
[code]

I think if we keep that test passing we are safe here.

[2015-10-18 22:20] alberto commented on #4140
I pushed the bug and proposed fix to my fork, I hope it makes it more clear.

[2015-10-18 23:02] feross commented on #4169
Opened a bug on V8: https://code.google.com/p/v8/issues/detail?id=4497

[2015-10-18 23:26] #4180 closed

[2015-10-18 23:32] mysticatea commented on #4169
@michaelficarra BTW, if there is PrimaryExpression instead of ArrowFunctionExpression, should `no-unexpected-multiline` catch that? e.g.

[code]

[2015-10-18 23:39] feross commented on #4169
@mysticatea Good point. I think it should. That's what the ASI users will expect, and that's what that rule was designed to catch.

[2015-10-19 00:02] jamestalmage commented on #3993
My guess would be that "blessed" means officially taking over `eslint-cli` and supporting it as the defacto global option.

Personally, I do not agree. Requiring a local installation makes sense if the tool has no utility without a config file (`Gruntfile`, `Gulpfile`, etc). `eslint` provides sensible defaults and has utility whether the project is configured for it or not. I have bumped into a fe

[2015-10-19 00:32] michaelficarra commented on #4169
@mysticatea Yeah, that seems appropriate. By the way, a coworker of mine tried to get a `[no LineTerminator here]` put in back in February, but @zenparsing thought it would be inconsistent with calls and member accesses, and it didn't receive any other committee feedback :disappointed:.

[2015-10-19 02:21] lukekarrys commented on #3280
I'm working on this.

[2015-10-19 02:52] lukekarrys commented on #3280
I created #4187 for the addition of this rule, which includes an option, if anyone wants to discuss over there.

[2015-10-19 02:56] existentialism commented on #4185
@oliviertassinari if you haven't started already, mind if I submit a PR?

[2015-10-19 04:15] ptarjan commented on #4184
1.7.1 fixed most of my issues. This was the only one left:

[code]

[2015-10-19 04:43] mistadikay opened #4188 "add `detectArrays` option to `no-magic-numbers` rule"
Sometimes we need to set an array of numbers, for example a list of breakpoints in a responsive layout. In this case it would be weird to put every number of this array into the variable. So maybe it makes sense to add a `detectArrays` option to `no-magic-numbers` rule?

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27511748

[2015-10-19 06:03] oliviertassinari commented on #4185
@existentialism. Sure, go ahead

[2015-10-19 09:02] aikomastboom opened #4189 "no-mixed-spaces-and-tabs fails on blocklevel comments (regression)"
this issue has returned : https://github.com/eslint/eslint/issues/1055
i noticed in eslint 1.7.1

it was fixed in this PR: https://github.com/eslint/eslint/pull/1058/files
possibly regressed by: https://github.com/eslint/eslint/commit/b8a12108f18a40bc98503f431a01879d5f6c43ca

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27515723-no

[2015-10-19 11:15] sindresorhus opened #4190 "Rule `no-mixed-spaces-and-tabs` should not apply inside template literals - followup"
https://github.com/eslint/eslint/issues/4054 didn't fix all cases.

-

foo.js:

[code]

*The second line is `\t  foo`.*

[code]

-

Can you just make the rule ignore *everything* inside a template literal?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27518253-rule-no-mixed-spaces-and-tabs-should-not-apply-inside-template-literals-

[2015-10-19 12:25] ipanasenko opened #4192 "no-magic-numbers: UnaryExpression + number is considered as error"
Currently following code is considered as error: ```var foo = -42;```
I don't think it should do so

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27519646-no-magic-numbers-unaryexpression-number-is-considered-as-error?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm_source=github)** We accept bounties via [Bou

[2015-10-19 12:51] ilyavolodin commented on #4188
I don't think I agree that this exception makes sense. Those are magic numbers. There is no explanation as to what they are. A new developer who just started might not have any idea what they mean. That's what this rule is trying to prevent.

[2015-10-19 12:57] mistadikay commented on #4188
I don't quite follow why does it make sense for objects and doesn't for arrays. Could you please clarify the difference? As for the `no explanation` part, it seems to me that variable name `responsiveLayoutBreakpoints` is clear enough. Otherwise what are the alternatives? Put each breakpoint to its own variable?

[2015-10-19 14:39] sindresorhus commented on #4085
There's also the option of marking this as won't fix. I'm strongly against this. JavaScript is version-less. I really don't think we should optimize for the past (ES5).

Why are we even discussing this based on *one* users' request. Shouldn't we wait until more people request this or at least shares their opinion.

[2015-10-19 14:56] alberto commented on #4188
Just disable the rule for that line. See the end of [this section](http://eslint.org/docs/user-guide/configuring#configuring-rules)

[2015-10-19 15:19] michaelficarra commented on #4192
How is `-42` any less of a magic number than `42`?

[2015-10-19 15:25] michaelficarra commented on #4085
Completely agree with @sindresorhus. That's exactly what I've been thinking as I've followed this thread.

[2015-10-19 15:37] ipanasenko commented on #4192
It's magic, right.
But it should be allowed to declare it as a ```var/let/const```

```var foo = 42;``` is not error, why -42 is?

[2015-10-19 15:39] michaelficarra commented on #4192
Oh, okay. Sounds good to me.

[2015-10-19 15:39] ilyavolodin commented on #4188
The point of this rule is to not have arbitrary numbers sprinkled throughout the codebase. If you need to use a number, you should declare a variable (constant, really) and use that instead. I think the same thing still applies to your example. I agree with @alberto just disable the rule either for this line or in general.

[2015-10-19 15:40] ilyavolodin commented on #4192
Agree. Variable declaration should be excluded from this rule (that's the whole point of the rule).

[2015-10-19 15:47] pmcelhaney commented on #4085
Why wouldn't a linter for a programming language support [the latest version of the language specification](http://www.ecma-international.org/ecma-262/5.1/)?

I understand that you want to be forward-looking and completely support that sentiment.  I also believe it's possible to take a step forward while having one foot firmly planted in the ground.

[2015-10-19 15:48] alberto commented on #4192
Working on this.

[2015-10-19 15:54] hzoo commented on #4192
@alberto looks like @ipanasenko has a PR https://github.com/eslint/eslint/pull/4191 but isn't linked

[2015-10-19 16:18] alberto opened #4193 "Why is no-magic-number default "ignore" option set to [0, 1, 2]?"
It caught me by surprise that no-magic-number ignores numbers `[0, 1, 2]` by default. That's pretty magic if you ask me :).

If there is a rationale behind that (I can't think of any), it should be documented in the rule. Otherwise it should not ignore any number by default.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27526119-wh

[2015-10-19 16:18] alberto commented on #4192
Oh, thanks @hzoo

[2015-10-19 16:38] alberto commented on #4189
Can you post a code example exposing the error, indicating where are the tabs and spaces?

[2015-10-19 16:56] silvenon commented on #3951
I had a similar error with `export default` and estools/estraverse@c074451e7ab80dcedac4115a10a2ea31138d515c by @mysticatea (which was released yesterday) fixed it. Just make sure to install `estraverse` as an explicit dependency, because npm@3 flattens the tree.

[2015-10-19 17:18] ilyavolodin commented on #4189
I can confirm that this issue is back. Here's a quick example that should fail. Tabs are indicated as `-` spaces as `_`:
[code]
This will return 2 errors for jsDoc comments on line 3 and 4.

[2015-10-19 17:29] hzoo commented on #4193
Yeah maybe it shouldn't have a default and just require an array

[2015-10-19 17:50] globexdesigns commented on #4189
+1. I'd like to note that this is also an issue in 1.7.0 as well as 1.7.1.

[2015-10-19 18:18] nzakas commented on #3065
That doesn't quite fit with our naming conventions. We generally don't do camelcase for named string options, nor is it clear that `exceptNestedBinaryExpressions` implies `all`. So, I don't think we're quite there yet.

[2015-10-19 18:21] ljharb commented on #3065
`allExceptNestedBinaryExpressions` or something might be better, but that doesn't handle the camelcasing concern :-/

[2015-10-19 18:24] nzakas commented on #4182
Yeah, I can't recall off the top of my head any rules we did this for. In general, we don't go back and update stable rules unless someone has a problem or we need to add a new option. At that point, we re-evaluate if we see things that don't make sense.

[2015-10-19 18:27] nzakas commented on #3993
Yeah, I'm not sure I want to encourage people to install two different packages as the official way ESLint is used.

[2015-10-19 18:39] nzakas commented on #4184
@gyandeeps do you want to track this together with #4174 or separate?

[2015-10-19 18:42] nzakas commented on #4185
This seems like the correct behavior of this rule. If you want to use a literal here, I'd say put it directly into a JSX attribute:

[code]

Anything inside of `{` and `}` is considered a JavaScript expression, and therefore,  your `4` is a magic number.

[2015-10-19 18:49] alberto commented on #4189
Ok. It fails when there is a previous comment. I think I messed things up trying to ignore template literals, so I think it is related to #4190.

I'll try to fix this.

[2015-10-19 18:49] nzakas commented on #4188
@mistadikay the suggestion here is to manually disable the rule using either `/*eslint-disable*/` or `/*eslint-disable-line*/` for the one-off scenarios you have.

[2015-10-19 18:49] #4188 closed

[2015-10-19 18:50] Met48 opened #4195 "comma-dangle: Not accurate when last array item is wrapped in parentheses"
Using ESLint v1.7.1, the `comma-dangle` rule is not accurate when the last array item has (unnecessary) parentheses. It will always warn when the rule option is set to `"always"` and never warn when the rule option is set to `"never"`.

Examples:

[code]

Expected: No errors
Actual: `2:4  error  Missing trailing comma  comma-dangle`

[code]

Expected: `2:4  error  Unexpected trailing comma  comma-

[2015-10-19 19:01] nzakas commented on #4085
@sindresorhus we make a lot of fixes based on one user's request, it's not the number of people with the problem that matters, it's the severity of the problem.

In this case, we have a situation where we're getting a false negative that is pretty nasty (ESLint is failing to detect an undefined variable). Further, we have zero options for allowing individual users to fix the problem. Right now, th

[2015-10-19 19:06] nzakas commented on #4193
It is documented: http://eslint.org/docs/rules/no-magic-numbers#ignore

The rationale is that these are the numbers people use most frequently, such as:

[code]

Etc.

Honestly, I didn't catch this on code review so I was a bit surprised too, but I think it makes sense.

If we want to make a change, it will have to wait for 2.0.0.

[2015-10-19 19:18] alberto commented on #4193
I meant the reason should be documented.
IMO `0` could get a pass, `1` is dubious, but `2`?

[2015-10-19 19:31] nzakas commented on #4193
Fair point. @kombucha what's the rationale for each of the default allowed magic numbers?

[2015-10-19 19:37] niftylettuce commented on #2102
Thanks @justin-lau

[2015-10-19 19:38] nzakas commented on #4195
Yeah, that looks like a bug. Probably confused by the parens.

[2015-10-19 19:39] kombucha commented on #4193
I mimicked the default behaviour of buddy.js.
I see know that it was just `[0, 1]`, `[0, 1, 2]` was just an example in the docs.
And when I look at the code of buddy.js, the defaults seems to actually be an empty array...

[2015-10-19 19:40] nzakas commented on #4193
Okay, let's plan on changing this for 2.0.0.

[2015-10-19 19:44] kombucha commented on #4193
I guess an empty array as a default might make more sense, and just let people decide what make sense in their project.
Or 0 and -1, since they're so pervasive when manipulating arrays.

[2015-10-19 20:07] zpao opened #4197 "Indent: warn for multiline function calls"
This does not fail but I believe it should. The example is a bit contrived, but is a pattern that is used when calling a function with a number of arguments and it doesn't fit inside a line length rule. I just checked in master (added a test case) so I can confirm it's not fixed by any recent releases.

[code]

I can see where this might be a bit of a grey area but I think it makes a lot sense for

[2015-10-19 20:11] nzakas commented on #4193
I'd go with an empty array as the default - let people add what they want and then there's no controversy.

[2015-10-19 20:13] nzakas commented on #4195
Working on this.

[2015-10-19 20:13] alberto commented on #4193
@nzakas +1 on that

Can this be tackled now, or do you prefer to wait?

[2015-10-19 20:14] ptarjan commented on #4184
I don't think it is the arrow functions that ruin it, I think it is passing two callbacks. If I change from arrow functions to `function() {` then it still complains.

[2015-10-19 20:30] nzakas commented on #4193
Best to wait until we're ready for 2.0.0. I hate having PRs sitting around.

[2015-10-19 20:56] gyandeeps commented on #4174
I am not sure what the right thing here is but if we try to fix the issue above then we have to start marking below example as an error.
[code]

this is already in our unit test as a valid case: https://github.com/eslint/eslint/blob/master/tests/lib/rules/indent.js#L101-L104

[2015-10-19 21:02] gyandeeps commented on #4174
Bringing in another use case to add to the original issue: #4184 (since its related)
[code]

[2015-10-19 21:03] gyandeeps commented on #4184
closing in favor of #4174.

[2015-10-19 21:03] #4184 closed

[2015-10-19 21:03] #4189 closed

[2015-10-19 21:03] #4190 closed

[2015-10-19 21:06] chaseadamsio commented on #3993
:+1: Totally fair, I was sharing my experience and the experience I've seen others have with working on multiple projects at a time that might be at different states of what's linted in specific ways (ie, react bumping 0.13 to 0.14 meant any component libraries that were being linted with `eslint-plugin-react` were catching errors because the project is still below `1.0.0` in semver, and npm insta

[2015-10-19 21:07] gyandeeps commented on #4197
I think this falls along the lines of the following open issue: #1801

[2015-10-19 21:07] #4195 closed

[2015-10-19 21:37] zpao commented on #4197
Ah, I did a quick search but didn't catch that one. I think this is essentially the same.

[2015-10-19 21:39] gyandeeps commented on #4197
closing in favor of #1801

[2015-10-19 21:39] #4197 closed

[2015-10-19 22:21] cosmosb opened #4199 ""block-scoped-var" rule link is missing"
In my code I happened to get errors because I have set: ```"block-scoped-var": 2```

I don't see this rule listed on here: http://eslint.org/docs/rules/. It is also not listed in removed rule list.

Opening link directly works. http://eslint.org/docs/rules/block-scoped-var

So may be was removed in error from main list....

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!

[2015-10-19 22:23] cosmosb commented on #4199
Sorry never mind. Just noticed it. Had too many tabs opens.

[2015-10-19 22:23] #4199 closed

[2015-10-19 22:45] aruberto commented on #4185
Only issue with using rows="4" is when the component declares attribute rows with PropType number:

http://codepen.io/anon/pen/XmVmMX

In the console, you'll see

[code]

[2015-10-19 23:35] ptarjan opened #4200 "Trailing comma detection broken for ternary operator in parens"
When configured with:

[code]

This code:

[code]

complains with

[code]

but if I change the code to

[code]

It doesn't complain (correctly).

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/27536815-trailing-comma-detection-broken-for-ternary-operator-in-parens?utm_campaign=plugin&utm_content=tracker%2F282608&utm_medium=issues&utm

[2015-10-20 00:11] nzakas commented on #4185
That's a React-specific behavior, and we don't build in library-specific concerns as a general rule.

[2015-10-20 00:12] hzoo commented on #4185
Can add it to https://github.com/yannickcr/eslint-plugin-react

[2015-10-20 00:13] jetpacmonkey commented on #4185
How is this any different from
[code]
?

[2015-10-20 00:14] nzakas commented on #4185
That would require an entirely new rule that does almost the same thing. That seems like a worse case scenario situation.

[2015-10-20 00:17] nzakas commented on #4185
For anyone just stopping by, the question at hand is why this pattern should *not* be considered a magic number:

[code]

The 4 is currently considered magic. If you have a good argument as to why it's not, please share.

[2015-10-20 00:18] nzakas commented on #4200
What version are you using?

[2015-10-20 00:25] hzoo commented on #4185
I think if it's just a number it could be ok since the attribute is right there to tell you that the `rows` are 4?

I don't think doing something like `const numRows = 4` and `rows={numRows}` would be that much better

[2015-10-20 00:26] dsernst opened #4201 "inline set error as warning"
I'm looking for something similar to [`/* eslint-disable rule-foobar */`](https://github.com/eslint/eslint/pull/1840), but instead of setting the rule to 0, I'd like to set it to 1 (a warning).

I tried this:

[code]

But it changes the entire file to whichever setting is last called, instead of splitting into sections of code.

Is there any way to accomplish this?

<bountysource-plugin>
---
Want

[2015-10-20 00:33] ptarjan commented on #4200
@nzakas 1.7.2

[2015-10-20 00:33] dsernst commented on #4201
For context, I'm adding `eslint` to a very large codebase, and trying to deal with the thousands of errors this has exposed. Linting is also getting added to continuous integration, so I can't move forward until fixing these errors.

In this particular case, the original author is not around any more. The functionality is important, so I don't want to make too many rash assumptions about what they

[2015-10-20 00:35] hzoo commented on #4200
Seemed like @nzakas already did a fix for at a similar issue https://github.com/eslint/eslint/pull/4198/files

[2015-10-20 00:37] dsernst commented on #4201
Something like this would work:

[code]

Or even a manual warning:

[code]

[2015-10-20 00:41] mistadikay commented on #4188
Okay. Thank you for your time.

[2015-10-20 01:02] charlesbdudley commented on #4185
From the docs:

If the 4 is being used multiple times in this component then perhaps it should be replaced by a named constant.

[2015-10-20 01:22] chilts commented on #4185
To me, `<textarea rows={4} />` is a magic number. However, `<textarea rows="4" />` wouldn't be.

As backup, when converted to JS, it would be translated as `React.createElement("textarea", {rows : 4})` so if that was regular code (which it is), then it would be a magic number.

[2015-10-20 01:26] aaronjensen commented on #4185
@chilts it looks like there's a setting for that, though I don't understand the docs:

It's false by default, does that mean that `{x: 4}` is an error or not by default? I agree that it should behave however `{x: 4}` behaves.

[2015-10-20 01:34] ilyavolodin commented on #4201
Unfortunately all inline configuration (i.e. `/* eslint */` comments) is hoisted to the top of the file. The only suggestion that I have is to change your code this way:
[code]

This way you get a warning for your todo comment

[2015-10-20 01:35] platinumazure commented on #4201
Could a CLI option work? More specifically, the idea is you would continue to use `eslint-disable`, but instead of outright ignoring the error, it would be logged as a warning.

The reason I'm suggesting a CLI option is because I think whether rule violations should be ignored or warned seems to be a decision that should probably apply to the whole repository, rather than on a case by case basis.

[2015-10-20 01:36] platinumazure commented on #4201
Oh hell, I misread the issue and solved an XY problem. I like my idea anyway, though, and will propose it as a separate issue.

[2015-10-20 02:32] davidmason commented on #3458
It seems as though this is the case for configs as well, unless I am mistaken. For configs at least, is it possible to change how `extends` are loaded so that nested `extends` are processed in the module context that they come from?

This could at least solve the issue for configs, which do not have the issue of executable code.

e.g.

 - say I am making a shareable config for my team's projects,

[2015-10-20 07:12] Spy-Seth commented on #4185
I cannot see why `<textarea rows="4" />` isn't a magic number. Given to the definition, this have no more meaning than the magic version `<textarea rows={4} />`.