[2016-11-05 00:30] not-an-aardvark commented on #7538
Thanks for the report; this does seem like a bug.

[2016-11-05 00:47] ilyavolodin commented on #7537
@ljharb Could you clarify what might be the potential error this rule is going to flag. As in, in which situation returning `await` might cause different behavior than user intended? From what little I know about async/await, I think that it shouldn't cause an error, but `await` is just not necessary for those situations.

[2016-11-05 00:52] not-an-aardvark commented on #7537
The effect is that the extra `await` will delay the Promise from resolving by an additional tick of the event loop. `await foo;` always executes asynchronously, so placing an `await` in a return statement unnecessarily causes the returned Promise to get fulfilled slightly later.

[2016-11-05 01:51] TheSavior commented on #6070
Thank you @sstern6 for taking this on. If you'd like to use the base I started with, I've added you as a contributor to my fork. Feel free to pull my branch to your fork or work directly there. I want to make it as easy as possible for you to see this through.

[2016-11-05 03:25] ryanmt opened #7541 "Weird CLI output"
**Tell us about your environment**
Fedora 24
* **ESLint Version:**
v3.9.1
* **Node Version:**
v4.6.1
* **npm Version:**
2.15.9
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
N/A

**What did you expect to happen?**
Would expect a message like th

[2016-11-05 03:33] ljharb commented on #7537
Exactly as @not-an-aardvark has said (and outlined in the OP).

It won't cause an error - but it will unnecessarily slow down firing of resolution handlers of the resulting promise.

[2016-11-05 03:39] revisionfour commented on #7530
Fair. eslint may not be the place to implement this autofix. I think it is a worthy discussion deciding which rules should be fixable and which should not.

IF it is decided by the community that this rule should not have a --fix command for eslint, I think that should be noted at the top of the Readme. Something like

**Not Fixable:** This rule is not fixable or does not have intention of adding

[2016-11-05 03:51] not-an-aardvark commented on #7530
@revisionfour Thanks for the suggestion. However, I'm not sure I understand the point of putting a **Not-Fixable** notice at the top of non-fixable rules. Could you clarify how this would be useful?

Great! I agree, having fixers for theoretically fixable rules seems like a very good goal. However, I don't think `camelcase` is one of these rules, because fixing it would end up breaking working cod

[2016-11-05 04:16] revisionfour commented on #7530
"I'm not sure I understand the point of putting a Not-Fixable notice at the top of non-fixable rules"

Is the rule non-fixable because the community decided that or because a --fix command has not been written yet?

For instance, based on the logic you just used, this rule [jsx-first-prop-new-line](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-first-prop-new-line.md)

[2016-11-05 04:21] not-an-aardvark commented on #7530
I see your point. However, I'm not convinced that this distinction is relevant to the rule's users; either the rule can be fixed in the current version of ESLint, or it can't. There are a lot of rules that will never be fixable (because fixing them would change the behavior of the code). Displaying a notice on each of them that the rule won't be fixable in the future seems sort of redundant and un

[2016-11-05 04:21] revisionfour commented on #7530
Also worth noting that I am in agreement that this rule does not need a -fix command for eslint. I am only making the suggestion that this should be noted in rules where the maintainers or community has deemed that this rule is not to be fixable by eslint. Give the idea a little time to think over. Doing this would add drive and desire by the open source community to add --fix commands to the rule

[2016-11-05 05:02] Trott opened #7542 "Rule proposal: require at least two arguments for `setTimeout()` and `setInterval()`"
**Please describe what the rule should do:**

`setTimeout()` and `setInterval()` can be used with just a callback. In Node.js, the omitted duration (second argument) will use a default value of 1ms. In browsers, it does the same thing or something very similar.

However, omitting the duration makes intention unclear. Was it omitted by accident? Did the author intend to use `setImmediate()` instead

[2016-11-05 05:04] Trott commented on #7542
I should add that I have implemented this rule and proposed it as a custom rule for Node.js core but would much prefer it be a built-in rule. https://github.com/nodejs/node/pull/9472/commits/04043b190ccdfcc9a442889879ce50155b6f698b

[2016-11-05 06:23] mysticatea commented on #7542
Thank you for this issue.

Sounds fine to me since we have similar rule [radix](http://eslint.org/docs/rules/radix) in core.

[2016-11-05 06:30] mysticatea commented on #7538
It seems a bug.

I felt the name `multi-or-nest` is confusing since the rule has the option `multi` and `multi-line` then the `multi-or-nest`'s behavior is near to `multi-line`.

[2016-11-05 06:45] wwwillchen commented on #7538
I agree the naming is confusing and I had to re-read the examples a few times to fully understand the differences.  If it helps, the reason why our project is using multi-or-nest is because through some (strange-ish) transitive logic, we follow a variation of the Google C++ style guide [0] which specifies that "In general, curly braces are not required for single-line statements". I'm not sure wha

[2016-11-05 07:01] mysticatea commented on #7534
Yeah, class fields are not part of JavaScript yet.
Also, ESLint handles the AST which according to [ESTree specification](https://github.com/estree/estree), but ESTree does not include class fields.

Maybe You can propose a rule for this to [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel#readme).

[2016-11-05 07:01] #7534 closed

[2016-11-05 07:12] #7406 closed

[2016-11-05 08:16] sindresorhus commented on #7528
@ilyavolodin I always want the latest syntax. Browsers have versionless JS. I don't see why ESLint shouldn't at least have the ability to opt into such. IMHO `latest` should have been the default.

Micro-optimization to you, better UX for many others. Doesn't seem like a lot of effort. Easiest solution would just be to hard-code a list of supported ECMAScript versions. It only needs updating once

[2016-11-05 10:21] SimenB commented on #7528
You already maintain a list of all supported versions, albeit in docs and not in code.

http://eslint.org/docs/user-guide/configuring#specifying-parser-options

When that piece of documentation is updated, I don't think it's too much extra work to also update an array in the code, is it?

[2016-11-05 11:26] platinumazure commented on #7542
Personally I'm on the fence about whether ESLint is incomplete without this rule (our standard for inclusion of new rules since 2016). I won't stand in the way if the rest of the team agrees this is worth implementing, but if not, this would make an excellent foundation to a timeout-based eslint plugin.

[2016-11-05 15:27] kaicataldo commented on #7528
That's right. I wasn't suggesting it's a blocker for this enhancement - just laying out the current situation.

My concern is with `latest` being tied to Espree's release cycle rather than ESLint's, as I don't think this should change when ESLint hasn't had a new release. If `latest` is set in each ESLint version, I'm not against the addition of this.

[2016-11-05 15:53] ljharb commented on #7528
I like the idea of using "latest" - but if "latest" is supported, then adding a new ecmaVersion should change from semver-minor to semver-major.

[2016-11-05 16:21] caesarsol commented on #7356
What about changing concept totally and split the rule in:

- padding inside blocks
- padding between blocks (of the same scope/indent)

In this way there would be no conflict, as far as I can see.
And the rule would be simplified.

[2016-11-05 16:33] caesarsol commented on #7356
To further elaborate, reading the JSCS rule in question makes it clear thet it's a quite different subject, only regarding padding after blocks.

My proposal does not cover the block-statement boundaries but only the block-block boundaries.
Could be an entirely new rule, or they could be joined.

I think a new small focused rule is better than a large number of parameters for an already existing r

[2016-11-05 16:40] zimme opened #7543 "[sort-keys] Add option to allow shorthand in object literals to be first/last"
**Please show your configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I'd expect this not to error out as I prefer to have shorthand assignments before regular assignment, but I'd like them sorted.

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

[2016-11-05 16:44] quinn commented on #7356
@caesarsol I think the only reason all of this is being considered as a single rule is because of the situations where the 2 rules could conflict and there isn't a precedent in eslint already for what to do when 2 rules say to a different thing for a given statement (afaik) does that help or did I miss the point of what you were saying ??

[2016-11-05 16:48] caesarsol commented on #7356
I'm proposing about avoiding the conflict! Maybe with a new concept of block boundaries.
(You may have missed my first post just before)

[2016-11-05 16:59] quinn commented on #7356
@caesorsol ok, the issue isn't between blocks, it's when a block has inside of it a block as the first or last thing.. does that make sense? Also, I personally want padding around my blocks even if the things on either side are not blocks (except in the case of a wrapping block..)

[2016-11-05 18:24] caesarsol commented on #7356
(Sorry, it was difficult for me to explain)
Wouldn't the conflict issue be resolved if we reason about:
- boundary between two blocks
- boundary between a block and a piece of code

For each of those a rule about enforcing the newline.

This would certainly leave the inner block padding alone, making space for the rule without conflicts.

Any downside you can think of?

[2016-11-05 19:04] not-an-aardvark commented on #7528
Could you clarify why it would be necessary to do a semver-major bump when adding a new ecmaVersion?

[2016-11-05 19:29] nzakas commented on #7542
I'm more of the mind that this should be a plugin rule. `setTimeout` and `setInterval` are not parts of ECMAScript (unlike `parseInt()`), and I don't think we want to get into the business of checking arguments for all common methods.

[2016-11-05 19:31] nzakas commented on #7541
This looks like it's coming from `babel-eslint`. If you aren't using stage 3 or lower features, I'd suggest trying to use the default parser instead and see if you get anything different.

Otherwise, please include the actual source code you're trying to lint.

[2016-11-05 19:38] nzakas commented on #7528
I think we're getting a bit too far down the implementation rat hole with the current line of discussion, so let's pop the stack a bit.

To start, I'm on the fence about this feature. I can see some people wanting it, and I can also see why team members have concerns. That said, there is an easy way to implement this is a non-breaking manner.

First, we can just hardcode `"latest"` to be equal to

[2016-11-05 19:44] nzakas commented on #7537
Marking as accepted, as there is a champion and three :+1:s.

@ljharb can you submit a PR for this?

[2016-11-05 19:47] not-an-aardvark commented on #7537
I think there are only two :+1:s from team members (excluding mine since I'm championing the issue). I removed my :+1: to avoid confusion.

[2016-11-05 20:03] vitorbal commented on #7537
I will :+1: this.

[2016-11-05 20:04] ilyavolodin commented on #7528
@nzakas Sorry, I'm not sure I understand. Are you saying we will create `latest` and manually change what constitutes "latest" with every major release? If that's the case, I'd be fine with that, but I'm not sure that's what's being asked here. We do major releases about once a year, if Espree starts supporting next version of ECMAScript a month after we did major ESLint release, and we will wait

[2016-11-05 20:07] ilyavolodin commented on #7537
In that case, I think this should be "Suggests an alternate way of doing something" rather than "Warns about a potential error". As in, it should go into best "practices section" instead of "possible errors".

[2016-11-05 20:57] kaicataldo commented on #7025
@jankuca: @vitorbal's is suggesting that you can combine the `fall through` comment with the other comment.

[code]

[2016-11-05 21:02] kaicataldo commented on #7025
There's also the `commentPattern`: option: http://eslint.org/docs/rules/no-fallthrough#commentpattern

If you don't want this behavior, wouldn't it best to just turn the rule off? It sounds like what you're trying to enforce is having ANY comment between cases make the rule consider the fall through  case as valid, which is error prone and seems to me to defeat the purpose of enabling the rule.

[2016-11-05 21:31] kaicataldo commented on #7543
This seems like a reasonable request to me, but I have some questions. This would have to also account for shorthand methods and be an additional configuration option that is off by default. Perhaps `separateShorthand`?

[2016-11-05 21:36] carlitux opened #7544 "Node must be provided when reporting error if location is not provided"
**Tell us about your environment**

* **ESLint Version:** v3.9.1
* **Node Version:** v6.9.1
* **npm Version:** 4.0.1

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
Report the errors and warnings.

**W

[2016-11-05 21:39] not-an-aardvark commented on #7544
Hi,

This looks like an issue with one of [eslint-plugin-import](https://github.com/benmosher/eslint-plugin-import)'s custom rules, and not with ESLint itself. I would recommend filing an issue on that repo instead.

[2016-11-05 21:57] kaicataldo opened #7545 "Rule proposal: no-useless-coercion"
**Please describe what the rule should do:**
Refs https://github.com/eslint/eslint/issues/7310#issuecomment-253091809

`no-useless-coercion` would disallow type coercion using `Object()`, `Boolean()`, `String(),` and `Number()` if the argument is already of that type.

**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[ ] Warns about a potential error

[2016-11-05 21:58] kaicataldo commented on #7310
Created [a proposal](https://github.com/eslint/eslint/issues/7545) for the rule described in [this comment](https://github.com/eslint/eslint/issues/7310#issuecomment-253091809). If you feel this solves your issue, @tbassetto, feel free to close this issue. Are you still interested in helping to implement the rule if it's accepted?

[2016-11-05 22:22] carlitux commented on #7544
You are right, I found it.

Thank you!

[2016-11-05 22:33] ilyavolodin commented on #7544
Closing as the question has been answered.

[2016-11-05 22:33] #7544 closed

[2016-11-05 22:44] ljharb commented on #7537
@ilyavolodin sure, that sounds great - updated the OP.

@nzakas Happy to submit a PR - so far I've only modified rules, not created them, so this will be a fun one :-)

[2016-11-06 00:19] SimenB commented on #7528
Yes, my wish is for a way to always have ESLint parse whatever the newest version it supports, if I have to wait for an ESLint major (or bump it myself), I dont think much is gained.

Node doesn't consider adding language features a breaking change, even though the parsing might change. Why should ESLint?

[2016-11-06 03:11] not-an-aardvark commented on #7473
I'll champion this proposal.

[2016-11-06 03:19] ljharb commented on #7528
@SimenB because "it doesn't parse code i don't transpile" is a feature. if a non-major eslint update causes broken code in production, because i was relying on the linter failure to protect against well-meaning devs, then that's a breaking change.

[2016-11-06 03:33] not-an-aardvark commented on #7528
I disagree that *not* reporting a parse failure after having previously reported a failure would be a breaking change. This is basically the definition of a semver-minor change; it allows the user to use new functionality that would have caused an error in the previous version.

By that logic, any upgrade to Node.js that introduces new ES features is a breaking change, because one could write code

[2016-11-06 03:35] ljharb commented on #7528
@not-an-aardvark the difference is that eslint is a verification tool, node and browsers are not. I'm using eslint to verify that code will run on my target environments - if it suddenly allows code that will not run, it's not serving one of its primary purposes.

[2016-11-06 03:39] not-an-aardvark commented on #7528
But if you have specific environments you're targetting, I don't think it would be a good idea to set `ecmaVersion: latest` anyway. I think by using that option, you would be opting into allowing the latest stage 4 features when they become available.

[2016-11-06 06:01] ljharb commented on #7537
PR up at https://github.com/eslint/eslint/pull/7547

[2016-11-06 06:31] kaicataldo commented on #7356
Many of our rules that enforce blank newlines before and after nodes defer to `padded-blocks` and ignore cases when the checked node is at the beginning and end of a block, respectively.

If we keep this as two separate rules - one that enforces padding inside blocks and one that enforces padding outside blocks - could we not do the same thing? JSCS has both these rules - how did they handle cases

[2016-11-06 06:45] kaicataldo commented on #5284
@mysticatea Looks like the `prefer-const` portion of the issue was merged - is the new `prefer-smaller-scope` rule still something we want?

[2016-11-06 09:27] not-an-aardvark commented on #7545
:+1:, but note that this overlaps slightly with [no-extra-boolean-cast](http://eslint.org/docs/rules/no-extra-boolean-cast) in that both of them disallow unnecessary coercions.

[2016-11-06 12:03] caesarsol commented on #7356
Looking quickly at the 4 JSCS rules' source, seems there isn't any rules-conflict detection...
How is that possible? Does it allow an always-erroring config?

[2016-11-06 13:18] mvolkmann opened #7549 "support disabling specific rule fixes"
It would be great if there was a way to opt into the checking done by an ESLint rule, but opt out of the fix it provides if someone finds it undesirable. That way we could get the linting benefit and be able to use the fixes from other rules, just not undesirable ones. Maybe it could look something like this:

[code]

[2016-11-06 15:28] ilyavolodin commented on #7528
@not-an-aardvark You are making an assumption that new features will always result in *less* errors. Look at ES7 and `use strict` inside function with non-trivial arguments. That would result in *more* errors. Since proposal is to automate behavior of upgrading parser version, we can't predict if there will be less or more errors, as such we need to limit it to major releases only.

[2016-11-06 16:23] TheSavior commented on #7356
I believe JSCS relied on users to not create conflicting configurations.

[2016-11-06 17:29] not-an-aardvark commented on #7549
Thanks for the suggestion. This was also discussed here: https://github.com/eslint/eslint/issues/5329

Note that as a workaround, you disable the rule from the command line when autofixing:

[code]

[2016-11-06 17:34] kaicataldo commented on #7545
Thanks for pointing that out - that's a fair point. The intention `no-extra-boolean-cast` looks to be to avoid multiple boolean casting, so I think it actually aims to solve a different issue (though I could see it being confusing to users what that difference is). It only checks for `Boolean(!!foo)` (casting once with `!!` and then a second time with `Boolean()`), and doesn't actually warn for `B

[2016-11-06 17:37] wegry opened #7551 "comma-style and 'destructured' ES imports"
**What version are you using?**
3.9.1

**What did you do?**
Set comma-style to 'last' and ran it against an multiline ES import statement.

[code]

[code]

**What happened?**
`--fix` doesn't pick this up as I'd hoped.

**What did you expect to happen?**
Comma style ideally would pick up ES imports specified like this.

[code]

[2016-11-06 17:40] not-an-aardvark commented on #7551
Thanks for the report.

However, I think this issue is a duplicate of https://github.com/eslint/eslint/issues/7470.

[2016-11-06 17:49] wegry commented on #7551
I'd certainly have no problem folding this issue into that one. I believe that [ES module named imports aren't in fact object destructing](http://stackoverflow.com/questions/39376073/destructuring-assignment-within-import-statements) which #7470 looks like it's about, but all I have to go off is a link to the spec. Maybe under the covers, eslint treats them the same.

[2016-11-06 17:55] not-an-aardvark commented on #7551
True; it looks like the issue itself doesn't mention named imports, but the [WIP fix](https://github.com/psocratic/eslint/commit/2a9a58187b1191d7079f1d9040b6f5714ecfa355#diff-8190ce567acc8a0b7a961df6bb3e3ba4R50) does account for them.

Since they're mostly the same thing, though, I think I'm going to leave a comment on the other issue to make sure that named imports stay on our radar for that fix,

[2016-11-06 17:56] wegry commented on #7551
Thanks for the info, and sounds good.

[2016-11-06 17:56] #7551 closed

[2016-11-06 17:57] not-an-aardvark commented on #7470
I noticed that it wasn't mentioned explicitly in this issue (although it is mentioned in @maxenglander's commit), but we should make sure that comma style can be enforced for imports as well:

[code]

Also see: https://github.com/eslint/eslint/issues/7551

[2016-11-06 18:36] vitorbal commented on #7145
@kaicataldo I think that's a good idea! 👍 from me.

[2016-11-06 18:40] vitorbal commented on #7488
I think this issue could be a good enhancement after something like this is implemented: https://github.com/eslint/eslint/issues/7338#issuecomment-252931101
I actually have a branch where I almost got it to work. Only need to get to adding some more tests and fixing existing ones.

[2016-11-06 18:41] mysticatea commented on #7542
Ah, true. I had forgotten that ECMAScript does not include `setTimeout` and `setInterval`.

[2016-11-06 18:42] not-an-aardvark commented on #7145
This seems like a good idea, but I don't think `allExcept: ["singleLine"]` is a good API for it. An array containing a single string seems like an inelegant API to me; it would be better to have explicit options instead.

How about something like this instead?

[code]

[2016-11-06 18:43] kaicataldo commented on #7145
@not-an-aardvark Agreed. My proposal is to implement the feature, but wasn't necessarily intending the same API. Sorry, should have made that clearer!

[2016-11-06 19:39] platinumazure commented on #7528
Does anyone have any thoughts about what I brought up earlier?

Specifically: We could do this (and tie it to the espree release, not that of ESLint) as long as this is documented as "voids your semver warranty", similar to the "eslint:all" configuration. So in other words, users can opt in at their own risk.

[2016-11-06 19:42] SimenB commented on #7528
@platinumazure that would be perfect for me

[2016-11-06 19:47] not-an-aardvark commented on #7473
@eslint/eslint-team We need one more +1 to accept this issue; any takers?

@nunocastromartins Ideally, I think nothing would be disabled by default. The user shouldn't have to specify ten different config options just to check indentation.

[2016-11-06 20:10] ljharb commented on #7528
The proper opt-in for "voids your semver warranty" is putting "*" in package.json.

[2016-11-06 20:16] zimme commented on #7543
I'm ok with this being an option and I don't see a problem with this option affecting all shorthand things, but in that case it would be nice if one could opt-in for even more granular control over which shorthands should sort in this way.

[2016-11-06 20:24] zimme commented on #7543
[code]
Something like this maybe?

[2016-11-06 20:26] alberto commented on #7545
Not sure this is a common enough issue to be included in core. This kind of mistakes seems marginal to me and it's consequences are not dangerous.

[2016-11-06 20:42] alberto commented on #7549
I proposed this in the past, but I am not so sure anymore it makes sense. I think the only reason to do it would be to disable a buggy fixer, and even then I am not sure that is the right approach.

[2016-11-06 21:43] mvolkmann commented on #7549
I thought of this recently when I saw a proposal to have a fix that transforms "cond ? true: false" to "!!(cond)" or "Boolean(cond)". That's a case where there is no bug in the fix, but I may not want that fix while I would want others.

[2016-11-06 22:01] jrajav commented on #7274
If this rule is being re-approached anyway can https://github.com/eslint/eslint/issues/6606 please be re-evaluated? I feel like it was unfairly closed without due consideration. It's a valid style, me and my team have used it for a year now and we simply have to disable the entire indent rule because it doesn't support it.

[2016-11-06 22:42] alberto commented on #7462
Closing since the general consensus is this doesn't belong to core. Thanks for your contribution, anyways.

[2016-11-06 22:42] #7462 closed

[2016-11-07 00:51] gajus opened #7554 "`export foo from './foo'` is throwing error about "Node must be provided when reporting error if location is not provided""
**Tell us about your environment**

* **ESLint Version:**

3.9.1

* **Node Version:**

v6.9.1

* **npm Version:**

3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**

babel-eslint

**Please show your full configuration:**

https://github.com/gajus/eslint-config-canonical

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect

[2016-11-07 00:53] not-an-aardvark commented on #7554
Hi, thanks for the report.

However, this is an issue with `eslint-plugin-import`, not with ESLint itself. I would recommend following [the issue on that repo](https://github.com/benmosher/eslint-plugin-import/issues/653) instead.

Also see: https://github.com/eslint/eslint/issues/7544

[2016-11-07 01:05] gajus commented on #7554
You are right. Sorry. I can confirm that downgrading `eslint-plugin-import` to v2.0.0 fixes the issue.

[2016-11-07 01:05] #7554 closed

[2016-11-07 05:46] webOS101 opened #7555 "valid-jsdoc incorrectly flags missing parameter"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.8.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**  eslint-plugin-babel@3.3.0

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**  No warning, `test` do

[2016-11-07 07:02] alberto commented on #6820
There is also https://github.com/eslint/eslint/pull/7547 and there will be a conflict between the two, so if we are going to include this one, we should clarify how the two will interplay (ideally before merging either one).

[2016-11-07 07:03] not-an-aardvark commented on #6820
I don't see how these rules are in conflict with each other. Could you clarify what the conflict is?

[2016-11-07 07:07] alberto commented on #6820
If you enable both rules and you have:
[code]
`no-return-await` will error

If you change it to:
[code]
`require-await` will error

[2016-11-07 07:17] not-an-aardvark commented on #6820
I see your point. However, I my understanding is that the `require-await` rule would instead encourage writing that function like this:

[code]

So I agree that having both rules could lead to confusion, but I'm not sure they directly conflict. My opinion is that using `return await` is an antipattern regardless of whether `require-await` is used.

[2016-11-07 07:28] ljharb commented on #6820
Why would that be an improvement though? You shouldn't wrap your async function's return value in `Promise.resolve` for the same reason you shouldn't prepend `await` to it.

I'm standing by my claim that this rule should not exist, and is harmful if it does.

[2016-11-07 07:33] not-an-aardvark commented on #6820
I agree that wrapping it in `Promise.resolve` would not be an improvement. I was arguing that if this rule does get added, it shouldn't block `no-return-await`.

[2016-11-07 10:53] vkbansal opened #7556 "max-len config not working v3.9.1"
* **ESLint Version:** 3.9.1
* **Node Version:** 7.0.0
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
Babel-ESlint

[code]

**What did you expect to happen?**
The lint should run

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

If I remove options, it works
[code]

[2016-11-07 11:20] nkt opened #7557 "New rule no-method-to-bool-case"
This is very common typo, when you checks method instead of method call result.

**What category of rule is this? (place an "X" next to just one item)**

 -  [x] Warns about a potential error

**Provide 2-3 code examples that this rule will warn about:**

[code]

**Why should this rule be included in ESLint (instead of a plugin)?**
Because this rule would be helpful in any JS project.

[2016-11-07 11:23] Fransz opened #7558 "Documentation: Links to CLA"
Making my first (tiny) commit to this repo, i had difficulty signing the CLA.

The links in the docs under docs/developer-guide/contributing/ point to https://contribute.jquery.org/cla
In the end i was able to sign by using https://cla.js.foundation/eslint/eslint. I took me quite some time to find the correct URL.

 I think the mentioned documents should link to the correct url.

[2016-11-07 12:01] platinumazure commented on #7556
According to the [docs](http://eslint.org/docs/rules/max-len#options), you can use either a numeric option or an object option, not both. The `code` object key is the same as the numeric option. So basically, you just need to remove the numeric option in your case. Hope this helps!

[2016-11-07 12:20] vkbansal commented on #7556
[code]

This also gives same error

[2016-11-07 12:37] platinumazure commented on #7557
The difficulty with this proposal is that it's really hard to tell, in a static analyzer, what actually is a method (vs a boolean, vs uninitialized until provided via constructor, vs anything else). So I'm not sure how feasible this is.

Even for methods on the same object, since it's not always clear what value `this` has, we wouldn't be able to reliably detect those cases necessarily.

[2016-11-07 12:49] platinumazure commented on #7558
Thanks for the issue, @Fransz! I agree, we should change those links. The links used to redirect to the correct page, but we should fix those for sure.

[2016-11-07 13:01] quinn commented on #7356
[code]

lets say that the rules you haven't defined enforce padding before and after a block, and also enforce no padding at the beginning and end of the inside of a block. the "conflict" here happens between lines 1 and 2, and between lines 8 and 9. I don't think there is a need to address redundant padding between blocks since I think this can be intuitively collapsed much like margin collapsing

[2016-11-07 13:30] vitorbal commented on #7558
Thanks for the issue! I will fix this.

[2016-11-07 13:35] vitorbal commented on #7558
I've opened a PR to fix this in the eslint.github.io repository, where the code for the redirect is, so we can track the fix there.
Closing this, thanks again for reporting it, @Fransz!

[2016-11-07 13:35] #7558 closed

[2016-11-07 13:38] vitorbal commented on #7555
@webOS101 thank you for your issue. Just to be sure, could you check if you can reproduce the same problem using the default eslint parser instead of babel-eslint, and without the babel plugin?

[2016-11-07 13:46] bensampaio opened #7559 "Running through shelljs returns nothing"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?** None

**Please show your full configuration:** Since it is quite long and I don't think it is relevant for my issue I decided to omit it. Let me know if you consider it necessary after reading my description.

**What did y

[2016-11-07 13:50] platinumazure commented on #7559
Can you try running something like `shell.exec("echo hi")`? I don't know if ShellJS echoes the child process' stdout to the invoking process' stdout.

[2016-11-07 14:05] vitorbal commented on #7439
Closing this, as it seems the problem has been solved.

[2016-11-07 14:05] #7439 closed

[2016-11-07 14:32] bensampaio commented on #7559
That works. I have several other commands working in the same way and they all echo the result. Besides that, as I said, when working in `my-shared-project` if I run the command it actually shows the expected output.

I also tried the following and I noticed that `stdout` and `stderr` are always empty. I don't think this is a problem with shelljs because eslint is the only command I cannot make it

[2016-11-07 14:34] platinumazure commented on #7559
Do you mean `./node_modules/.bin/eslint`? `.node_modules` probably doesn't
exist.

On Nov 7, 2016 9:32 AM, "Bruno Sampaio" <notifications@github.com> wrote:

[2016-11-07 14:37] nkt commented on #7557
I guess first and simple implementation should collect all class methods and check a statement using collected results.
Smarter implementation should collect methods from parent classes, but I don't think this is really needed.

[2016-11-07 14:49] bensampaio commented on #7559
Sorry, yes I meant that.

I just noticed that if I add the following to my package.json:

[code]

And then run `npm run lint:js` I get the exact same problem. No output...

[2016-11-07 14:52] platinumazure commented on #7557
I'm :-1: on including this in core due to value/maintenance cost ratio
being too low. But we'll see what the rest of the team thinks. If the team
agrees, please note that this can always be implemented in a plugin.

On Nov 7, 2016 9:37 AM, "Nikita Gusakov" <notifications@github.com> wrote:

[2016-11-07 15:26] ilyavolodin commented on #7473
@not-an-aardvark We have 3 + champion (me, @platinumazure and @mysticatea). So marking as accepted.

[2016-11-07 15:40] t3kk opened #7560 "Rule Proposal: Don't allow or warn against window.open without setting opener to null."
**What category of rule is this? (place an "X" next to just one item)**

[ ] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[X] Other (please specify:)
Prevent security issues related to having the referrer in the window of a page opened in a new tab.

**Provide 2-3 code examples that this rule will warn about:**
[code]
[code]
[code]

**If th

[2016-11-07 16:05] platinumazure commented on #7560
This seems like a pretty niche use case and might fit better in a plugin.

Can you please provide at least one example of code that your proposed rule *shouldn't* warn against?

[2016-11-07 16:15] t3kk commented on #7560
Sure.  I've updated the issue now to include an example.

[2016-11-07 16:54] webOS101 commented on #7555
Well, I don't get a jsdoc warning, but instead get:
`  5:7  error  Parsing error: Unexpected token =`
Which is not so helpful.

[2016-11-07 16:59] TheSavior commented on #7356
@quinn, something we ran into with the JSCS rule are things like functions that are wrapped with bind, call, or apply. There should be a way to enforce a blank line after blocks wrapped in those, unless they come at the end of a parent block in which case there shouldn't be an extra blank line.

Does that make sense? Take a look at the jscs rule docs if not?

[2016-11-07 17:01] not-an-aardvark commented on #7555
I think this issue is caused by your code's use of [class properties](https://github.com/tc39/proposal-class-public-fields), which is still an experimental syntax. ESLint's core rules generally don't support experimental features, so you may want to disable the rule in this case (e.g. with an inline comment: `// eslint-disable-next-line valid-jsdoc`).

You might also want to file an issue on [esli

[2016-11-07 17:52] vitorbal commented on #7560
I agree with @platinumazure that this probably makes more sense as a plugin. Personally, if you can collect a few of these security-related rules, I would think that would be quite a nice plugin!

[2016-11-07 17:56] t3kk commented on #7560
Thank you for the review.  I'll close this out then.

[2016-11-07 17:56] #7560 closed

[2016-11-07 17:57] alberto commented on #7559
quote the glob: `eslint 'src/**/*.js*'`

[2016-11-07 18:07] webOS101 commented on #7555
I suspected that would be the case.  I will go file an issue there, thanks!

[2016-11-07 18:07] #7555 closed

[2016-11-07 19:04] not-an-aardvark commented on #7556
Your config has `ignoreString`, which isn't a valid option name. I think you meant to use `ignoreStrings` instead.

[2016-11-07 20:07] caesarsol commented on #7356
I propose to ignore the cases in which the blank line would be inserted between lines of different indentation. To keep coherent terminology, the rule (or sub-rule) name would change from "outer padding" to "between padding".

(I say indentation for simplicity, the implementation should be based on scopes I think)

[2016-11-07 20:32] quinn commented on #7356
ok. that would be the same as using the `prefer: "inner"` config in the original example.

[2016-11-07 20:40] caesarsol commented on #7356
Yes, but with the advantage to make the rule splittable, I think.

[2016-11-07 21:52] fastfedora commented on #3339
+1 for allowing decimal values in the interim. I'm also stuck in the situation of using 4 spaces for indentation, but want to align with the declaration. Just tested in v3.9.1 and using `1.5` doesn't seem to work.

[2016-11-07 23:27] isonmad opened #7561 "inconsistent indent when argument is an array of callbacks?"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No warnings.

**What actually happened? Please in

[2016-11-07 23:33] not-an-aardvark commented on #7561
Thanks for the report.

I think this is actually a duplicate of https://github.com/eslint/eslint/issues/6890. It started happening for arrays as well due to https://github.com/eslint/eslint/pull/7237.

[2016-11-07 23:34] quinn commented on #7356
yeah. The original reason for all of this was that it would be necessary to allow the user to choose how it was resolved rather than having it be resolved implicitly. Configurability seems preferable to me, but my specific usecase seems like it will be covered either way..

[2016-11-07 23:44] nmote commented on #4166
It's taking a bit longer to check all the boxes than I expected. I'll finish this up tomorrow.

[2016-11-08 02:34] kaicataldo commented on #7543
I'm not convinced of the schema you suggested. What happens if it's configured as follows?

[code]
And if we're allowing granular control over that, I don't think it would make sense *not* to be able to do the same for regular properties/methods.

I was envisioning something more along the lines of a single `{ separateShorthand: true }` option that would allow/require shorthand and regular propert

[2016-11-08 02:37] vkbansal commented on #7556
Yes you are right.

The error message should have been more descriptive

[2016-11-08 02:45] kaicataldo commented on #7542
I agree that this sounds useful but should be a plugin rule, for the same reasons listed above.

[2016-11-08 08:06] ljharb commented on #6820
There are a number of rules that if both turned on, conflict with each other - @alberto as long as these aren't both enabled in the recommended config, is there a reason that one of them need block the other?

[2016-11-08 08:12] not-an-aardvark commented on #6820
Yes, if they had a clear conflict with each other, we would probably want to avoid adding both of them to core. We generally try to avoid conflicts when we can.

[2016-11-08 13:04] edg2s opened #7562 "Refine no-lonely-if rule"
While the examples given on http://eslint.org/docs/rules/no-lonely-if appear to make sense, the rule forces a 4-option decision tree such as:
[code]

to be rewritten as:

[code]

...which some may prefer, but is not obviously better than the more balanced version above.

It would be nice if we could enable this rule to only run if the nested `if` doesn't have an `else` itself, i.e. just:
[code]

T

[2016-11-08 14:18] kaicataldo commented on #7528
I'm still very much against tying this to Espree's release cycle, even with a disclaimer, for a few reasons:
 * I feel like just *having* this option encourages users to use it. It sounds very appealing to set the version once and never have to worry about it again. However, there is always a delay between when Espree lands the latest version and when ESLint fully supports the new features, becaus

[2016-11-08 14:41] platinumazure commented on #7528
@kaicataldo has convinced me of why ecmaVersion: latest should not be determined solely by espree (I had forgotten about the async/await taking more than one minor release to fully implement in ESLint). I now agree that it should be tied to ESLint's release cycle if we're going to do this at all.

[2016-11-08 18:26] nzakas commented on #6820
I don't think there's a clear conflict between these two rules. `require-await` can be resolved by adding an `await` at a spot other than right after `return`.

[2016-11-08 18:34] ilyavolodin commented on #7542
@Trott thanks for the suggestion. It looks like the team feels pretty strongly that this should be done outside of the core as a plugin. Feel free to reach out to us in our [Gitter](https://gitter.im/eslint/eslint) chatroom if you need help creating one. I'm closing this issue, as with so many people on the team opposing this change, it will not make it into the core.

[2016-11-08 18:34] #7542 closed

[2016-11-08 18:34] nzakas commented on #7528
Sorry, was laid up for quite a few days and only getting back to this now.

From the ESLint side, it looks like we're all in agreement that if we were to make a change, the value of `"latest"` would have to be tied to ESLint release cycles and not Espree release cycles. I think that's fine, and would basically be similar to use updating the default ecmaVersion with each major release.

If that doe

[2016-11-08 18:43] SimenB commented on #7528
If it's behind a major version, it doesn't really solve what I want. If it's bumped in a minor though (like version 8 was made available in 3.6 now), then that's perfectly fine with me!

[2016-11-08 19:14] platinumazure commented on #7528
I'd be :+1: to updating it in a minor ESLint version, since it means we at least control when *we think* ESLint is fully ready for any new syntax available in the new ecmaVersion, without unnecessarily holding it up in a major release. (In that case, of course, "ecmaVersion: latest" is somewhat "buyer beware" just like the "eslint:all" configuration.)

[2016-11-08 19:39] edg2s commented on #7562
I have provided all the information requested in 'proposing a rule change'. What information do you think is missing?

[2016-11-08 19:48] not-an-aardvark commented on #7562
Could you answer the questions in the [rule change proposal template](https://raw.githubusercontent.com/eslint/eslint/master/templates/rule-change-proposal.md)?

[2016-11-08 19:56] platinumazure commented on #7562
@edg2s Even if all of the information is there, we do have to review many of these proposals per day and it helps us a lot when people take the time to structure their proposals according to our template. Thanks in advance!

[2016-11-08 20:11] ljharb opened #7564 "`object-shorthand`: add option to warn on explicit return arrows"
I think I clicked on the right issue template:

**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 7
* **npm Version:** stock 3.x

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happ

[2016-11-08 20:20] not-an-aardvark commented on #7564
This seems reasonable to me, I've wanted something like this as well.

However, what would the option do in this case?

[code]

Using object shorthand here would yield a different result.

Also, would the rule have a preference between these two cases?

[code]

I ask the second question because it seems like the result of autofixing would be unclear for this case:

[code]

If the `arrow-body-style

[2016-11-08 20:21] mikew opened #7565 "no-invalid-this warns when used in class arrow functions"
**Tell us about your environment**

* **ESLint Version:**
v3.9.1
* **Node Version:**
v6.9.1
* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No complaints about `no-invalid-th

[2016-11-08 20:22] ljharb commented on #7564
@not-an-aardvark good point! Clearly it would have to ignore methods *and* arrow functions that contain `this`, since otherwise the refactor could change the meaning.

I do agree there could be a priority race condition between `object-shorthand` and `arrow-body-style` - it's worth calling out, but I don't see it as a conflict (assuming the first issue you mentioned is rectified), just as a source

[2016-11-08 20:23] alberto commented on #6820
@nzakas I am not sure I understand. Can you show how you would fix the example I posted?

[2016-11-08 20:24] ljharb commented on #6820
@alberto
[code]

That of course is contrived, just like the provided example, but if someone would choose to enable `require-await` they're not concerned with readability imo :-)

[2016-11-08 20:25] platinumazure commented on #7564
@ljharb There isn't a way to prioritize a rule's fix (fixes are applied in reverse order of location in the code, basically). I think one way to fix the issue @not-an-aardvark brought up is to add an option to `arrow-body-style` to avoid reporting/fixing object methods that use arrow functions, which users could use to avoid conflicts in this area.

[2016-11-08 20:25] not-an-aardvark commented on #7564
In terms of deterministic autofixing, it would be easier if this new `object-shorthand` option disallowed all arrow functions as properties, not just explicit-return functions. But I can see why that might be undesirable.

[2016-11-08 20:26] ljharb commented on #7564
Yeah that's definitely undesirable in most cases, which is why I want to restrict it to explicit return (or empty function bodies).

[2016-11-08 20:26] not-an-aardvark commented on #7564
I'll champion this proposal.

[2016-11-08 20:31] dozoisch commented on #7532
@ilyavolodin Let me know what you think!

[2016-11-08 20:37] ljharb commented on #7532
My preference is "single name, single message", for simplicity, but either seem fine.

[2016-11-08 21:32] nzakas commented on #7500
We do that so that it can plug into a testing framework seamlessly. You don't have to use a testing framework with `RuleTester`, it will still work on its own. However, we wanted to provide hooks that made it easier to interact with testing frameworks. `RuleTester` originally required Mocha before we made this change to decouple from testing framework. Otherwise, it would be hard to get your test

[2016-11-08 21:38] ilyavolodin commented on #7500
I agree with @nzakas that this is more than what RuleTester was designed for. On the other hand, this is small enough change in the off-the-beaten pass part of code that doesn't get changed all that often (and as such doesn't require a lot of maintenance) that could benefit small group of people. I'm honestly not sure if it's worth merging something like this in. I think I'm slightly leaning towar

[2016-11-08 21:43] not-an-aardvark commented on #6106
This is fixed as of https://github.com/eslint/eslint/pull/7550.

[2016-11-08 21:43] #6106 closed

[2016-11-08 21:46] ZachWatkins opened #7566 "Warning: Use of const in strict mode; stylish.js"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 0.10
* **npm Version:** 2.15.1

**What parser (default, Babel-ESLint, etc.) are you using?**
grunt-sass-lint, which uses sass-lint

**Please show your full configuration:**
.sass-lint.yml

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?

[2016-11-08 21:48] not-an-aardvark commented on #7566
Hi,

ESLint only supports Node v4 and above. Node 0.10 reached end-of-life about a week ago and no longer receives bugfixes, so I would recommend that you upgrade to a newer version of Node.js.

[2016-11-08 22:18] platinumazure commented on #7500
@nzakas @ilyavolodin I like what @ilyavolodin has proposed with wrapping cases in `RuleTester.describe` and `RuleTester.it`. I will try to get a test repo up in the next few days which will use the exact same rule testing code, and see how it goes with Mocha vs no framework vs another framework (possibly with a bridging layer if needed). If it seems fully interoperable as is, then I can close this

[2016-11-08 23:03] michaelficarra opened #7567 "allow negated condition in for-in guards in guard-for-in rule"
I would like `guard-for-in` to allow the following pattern in addition to what it currently allows.

[code]

To be clear, the difference is that this guard has a negated condition with a `continue` as the consequent. The `continue` should be allowed as the only statement in a block as well, to be compatible with that brace style preference.

[code]

**edit:**

**What rule do you want to change?**

[2016-11-08 23:53] platinumazure commented on #7567
Maybe this should be refactored to use code path analysis, so that we could flag the for statement if any path is reachable without having gone through a hasOwnProperty check. Of course, it doesn't help that right now we're not even checking what the IfStatement test looks like...

:+1: from me.

[2016-11-08 23:55] platinumazure commented on #7567
Oh, @michaelficarra, can you please edit your post to match [this template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md)? Thanks!

[2016-11-08 23:58] michaelficarra commented on #7567
@platinumazure Done.

[2016-11-09 00:23] edg2s commented on #7562
**What rule do you want to change?**
no-lonely-if

**Does this change cause the rule to produce more or fewer warnings?**
fewer

**How will the change be implemented? (New option, new default behavior, etc.)?**
new option

**Please provide some example code that this change will affect:**

[code]

**What does the rule currently do for this code?**
errors due to the if nested inside an else

**What

[2016-11-09 01:10] sstern6 commented on #6070
in the options for this rule does it need to be "fixable"? or can we get this up without that option in the meantime @kaicataldo

[2016-11-09 01:25] TheSavior commented on #6070
imo, it's fine to ship without it being fixable. Adding that in the future should be a reasonable thing to do.

[2016-11-09 03:29] shreevatsa commented on #5633
There is `ignore-pattern` which seems like it should work for this.

[2016-11-09 04:22] jensbodal commented on #7356
To be clear, would the following example be addressed by what is being proposed here?

[code]

As far as `padded-blocks` goes, if it's enforced, then that rule can just throw whatever error it wants if it's applicable.  I'm pretty sure conflicting rules are possible right now, but I would call it user error if they are enforcing conflicting rules.

It would seem this logic would be quite similar t

[2016-11-09 06:15] tbassetto commented on #7310
If it's accepted, yes I am still interested.

[2016-11-09 06:15] #7310 closed

[2016-11-09 06:23] tbassetto commented on #7545
Sure, it's not dangerous, but it wouldn't be the first rule in core preventing users from writing unnecessary code. I have found code like this, mainly in JavaScript codebase written by developers who just switched from strongly typed languages.

[2016-11-09 06:24] not-an-aardvark commented on #7565
Hi,

I think this is happening because class properties are an experimental feature, and ESLint's core rules generally don't support experimental features.

You might want to file an issue on [eslint-plugin-babel](https://github.com/babel/eslint-plugin-babel) instead.

[2016-11-09 08:35] vitorbal commented on #6070
I agree that its acceptable to ship this without being fixable first
On Wed, Nov 9, 2016 at 2:25 AM Eli White <notifications@github.com> wrote:

[2016-11-09 08:48] not-an-aardvark commented on #7456
I'm going to close this issue since it appears that the question has been answered, but please feel free to continue the discussion.

[2016-11-09 08:48] #7456 closed

[2016-11-09 12:03] gajus commented on #6857
This has been in "evaluating" state since August. Can it be assigned a priority?

Sounds reasonable approach.

[2016-11-09 12:25] gajus commented on #6906
In my opinion, this introduces code style inconsistency. I do not see a good reason to allow JSON-like object definitions in JavaScript code purely for stylistic purpose.

I can see how this would easily enable developers to start "preferring" writing objects in JSON style for no good reason.

This is irrelevant. Functionally, both object declarations are equal. I am guessing that the sole purpose

[2016-11-09 15:17] ilyavolodin commented on #7532
@dozoisch Thanks for doing that. I would be OK with modifying this rule to follow schema used in `no-restricted-properties` rule (more or less).

[2016-11-09 15:55] kaicataldo commented on #7310
@tbassetto Awesome - thanks for your willingness

[2016-11-09 16:30] not-an-aardvark commented on #7566
I'm going to close this issue since it's not a problem with ESLint, but feel free to continue the discussion.

[2016-11-09 16:30] #7566 closed

[2016-11-09 16:30] not-an-aardvark commented on #7565
I'm going to close this issue since it's not a problem with ESLint, but please feel free to continue the discussion.

[2016-11-09 16:30] #7565 closed

[2016-11-09 16:34] not-an-aardvark commented on #7562
Thanks for filling out the template.

Personally, I'm not a big fan of this proposal. It seems like it would encourage a style like this:

[code]

In my opinion, this is messy and defeats the point of the `no-lonely-if` rule. However, let's see what the rest of the team thinks.

[2016-11-09 16:41] not-an-aardvark commented on #7556
I'm going to close this issue since it looks like the issue was an invalid schema, but feel free to continue the discussion.

[2016-11-09 16:41] #7556 closed

[2016-11-09 16:57] mikew commented on #7565
Thanks for pointing in the right direction. If anyone gets bit by this, it seems it's already fixed in [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel/blame/026eab82b887d70b5f8238d1b33a3284924bf378/README.md#L54)

[2016-11-09 17:24] kaicataldo commented on #6070
Agreed. Rule does not have to be fixable to land and can be added in a follow-up PR.

[2016-11-09 17:33] jbcpollak opened #7568 "error in newline-after-var parsing"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.2.1
* **npm Version:** 3.10.5

**What parser (default, Babel-ESLint, etc.) are you using?**

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

The latest eslint is throwing an `newline-after-var` error with a multi-line variable defini

[2016-11-09 17:37] jbcpollak commented on #7568
I just noticed this problem goes away if I move the trailing ; up to the previous line:

[code]

It seems eslint doesn't recognize the ; as terminating the previous statement - and maybe because of ASI it really doesn't?

Is this a bug, or should some other lint rule should be enabled to catch this?

[2016-11-09 17:46] not-an-aardvark commented on #7568
Thanks for the report; I was able to reproduce the issue. It looks like a bug to me.

[2016-11-09 17:47] quinn commented on #7356
@jensbodal @caesarsol @TheSavior added a 2nd proposal that would add a 2nd rule and leave the existing one alone. it would also adds config options to prevent conflicts, and throws errors otherwise, assuming that having rules that can check other rules and throw errors based on that is even a thing.

[2016-11-09 17:50] not-an-aardvark commented on #7568
Actually, looking at it again, I think this might be intended behavior. If a semicolon is on a different line, the rule considers it to be separate from the initial `var` declaration. This allows the correct behavior in cases like this with semicolon-less style:

[code]

[2016-11-09 18:15] jbcpollak commented on #7568
Yeah, I came to that conclusion too. I guess there is no way for eslint to
warn about ASI within other rules, is there?

On Wed, Nov 9, 2016, 12:51 PM Teddy Katz <notifications@github.com> wrote:

[2016-11-09 18:17] not-an-aardvark commented on #7568
I'm not sure I understand the question, could you clarify?

You can use [`semi`](http://eslint.org/docs/rules/semi) and [`no-unexpected-multiline`](http://eslint.org/docs/rules/no-unexpected-multiline) to warn about ASI-related issues.

[2016-11-09 18:20] #7525 closed

[2016-11-09 19:03] jbcpollak commented on #7568
I guess what I was thinking is it would be nice for `newline-after-var` to be able to detect if it is failing due to ASI and emit a different error in those cases. The rationale is that you might not explicitly ban ASI, so you might not realize a construct like the one above violates the rule.

Something like this would have been helpful:

[code]

I realize that might not be something you want to

[2016-11-09 19:04] TheSavior commented on #7356
I think we need some input from the eslint team on whether that is allowed. @kaicataldo @not-an-aardvark @nzakas

[2016-11-09 19:05] platinumazure commented on #7356
@quinn @TheSavior Rules are designed not to know anything about each other, so there's no way to "check for conflicts" unless it can be done without knowing the configuration of the other rule.

[2016-11-09 19:07] not-an-aardvark commented on #7568
I'm confused about what you mean by "failing due to ASI". If there is a semicolon on the next line, there is no ASI because a semicolon is already present.

[2016-11-09 19:08] dmose opened #7570 "no-param-reassign with {"props": true} should catch uses of Object.assign"
**Tell us about your environment**

* **ESLint Version:**
3.9.1

* **Node Version:**
6.9.1

* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

The only relevant part:
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
An error should

[2016-11-09 19:11] jbcpollak commented on #7568
Maybe I am confused, but my understanding of this situation is that I wrote this code:

[code]

But the parser sees:

[code]

Which is newline-after-var is failing (because there is an empty/blank statement after the `let`).

Assuming my understanding is correct, what I'm asking is if there is any way for eslint to call that out as the reason for the line violating the rule? Developers who are in

[2016-11-09 19:23] not-an-aardvark commented on #7568
That's not quite right; when you write this code:

[code]

The *parser* correctly considers it equivalent to this:

[code]

However, there is special logic in `newline-after-var` to consider a semicolon on a different line as if it was part of a different statement. This allows the rule to work as expected on code that intentionally uses semicolons at the beginning of some lines.

[2016-11-09 19:27] quinn commented on #7356
@platinumazure thanks. so the original plan of modifying `padded-blocks` seems the most reasonable?

[2016-11-09 19:29] quinn commented on #7356
would it be helpful if i were to hazard an implementation?

[2016-11-09 19:30] not-an-aardvark commented on #7356
Just to make sure we're on the same page, could you clarify which plan you're referring to? It's great that there has been a lot of discussion on this, but I think I'm a bit lost regarding where the proposal stands at the moment.

[2016-11-09 19:31] quinn commented on #7356
@not-an-aardvark this thing:

[code]

[2016-11-09 19:32] quinn commented on #7356
@not-an-aardvark that doesn't include your comments from earlier, but that's the general idea

[2016-11-09 19:33] #7538 closed

[2016-11-09 19:37] not-an-aardvark commented on #7356
Thanks for clarifying. My concern about starting to implement it right now would be that if other team members have some objection to the proposal, and we end up making changes to it before officially accepting the issue, then some the time you spend implementing this proposal might end up going to waste. But it's up to you.

[2016-11-09 19:40] nzakas commented on #7528
I don't think we can make such a change in a minor version. I'll throw this on the TSC agenda.

TSC Summary: The proposal is to add `ecmaVersion: latest`, which would always point to the highest available ECMAScript version ESLint supports. The team does not feel that ESLint should automatically pull in the highest Espree ECMAScript version supported because an Espree release could opaquely affect

[2016-11-09 19:42] plbrault opened #7571 "`comma-dangle` false positive when a method argument is a string splitted on multiple lines"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

Configuration Dependencies:

 "eslint-config-airbnb": "^13.0.0",
 "eslint-plugin-import": "^2.2.0",
 "eslint-plugin-jsx-a11y": "^2.2.3",
 "eslint-plugin-react": "

[2016-11-09 19:50] not-an-aardvark commented on #7571
Thanks for the report. Would you mind running `eslint --print-config yourFile.js` on your file and pasting the output (particularly for the `comma-dangle` rule)? This might make it easier to figure out what part of the rule is causing the problem.

[2016-11-09 19:57] robjens commented on #5633
Ah... thanks for the tip shreevatsa.

[2016-11-09 20:18] TheSavior commented on #7356
One of my concerns is that this rule proposal as part of the JSCS compat milestone has been talked about in different threads for months (or maybe it just seems that way). We've had an exceedingly large amount of discussion on this topic and have consolidated it into this issue. It seems like every time a new set of eyes comes in, they mention the same concerns, and weeks later (again, maybe it ju

[2016-11-09 20:41] nzakas commented on #7356
In order for this to move forward, we need a champion from the ESLint team who will drive this to conclusion -- that's really what's missing here.

I think I understand the rationale for one rule at this point. My only feedback on the proposal that the exceptions are really confusing as defined. We should either use node types ("CallExpression") or non-node types, but we shouldn't be mixing terms.

[2016-11-09 20:43] not-an-aardvark commented on #7356
@TheSavior Thanks for bringing this up. You make some fair points.

I think one of the reasons that progress has been moving slowly on this issue is because the proposal is relatively complex (since it has to account for cases that aren't immediately obvious), and there has also been a large quantity of discussion on the details. While neither of these are bad things (in fact, they're probably nec

[2016-11-09 20:49] mnbroatch opened #7572 "comma dangle functions: ignore throws false positives for all comma dangles"
* **ESLint Version:**
3.9.1
* **Node Version:**
6.2.1
* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
unsure

[code]

**What did you do? Please include the actual source code causing the issue.**

There are many many examples. Here is one:

[code]

**What did you expect to happen?**

I expect the above to pass.

**What actually happened? Please include the a

[2016-11-09 20:52] nzakas commented on #7557
I agree. This isn't a good candidate for a core rule, but you you can certainly pursue a custom rule if it's important to you.

[2016-11-09 20:53] not-an-aardvark commented on #7572
Hi, thanks for the report.

I'm having some trouble understanding what the issue is, since this looks like intended behavior to me. For example, your `this.state` object unexpectedly has a trailing comma, so it seems like it's correct for the rule to report it.

Could you clarify what behavior you were trying to achieve with `comma-dangle`?

[2016-11-09 21:48] plbrault commented on #7571
It looks like it is coming from Airbnb's config (the `"functions": "always-multiline"` part), so it may not be an ESLint issue after all.

[code]

However, it seems like it is a syntax error to put a trailing comma at the end of a function argument list.

[2016-11-09 21:54] #7571 closed

[2016-11-09 21:57] ljharb commented on #7571
@plbrault it's not a syntax error; it's new syntax in ES2017. The airbnb config assumes you're transpiling with https://npmjs.com/babel-preset-airbnb which includes trailing function commas.

[2016-11-09 22:03] kaicataldo commented on #7570
I'm not sure I agree with this. While I personally generally prefer not to mutate objects by reference in function calls, it's a legitimate use case.

[2016-11-09 22:11] ljharb commented on #7570
When this rule is enabled, the current solution is then to use a disable comment.

I think it's simply an oversight that `Object.assign` with a non-object-literal as its first parameter isn't recognized by this rule as "mutation".

[2016-11-09 22:11] not-an-aardvark commented on #7570
@kaicataldo We already have a `props: true` option that disallows something like this:

[code]

I think if someone sets `props: true`, they have explicitly opted into not mutating objects that are passed by reference, so I think this would be a good change. For example, sometimes I accidentally do this:

[code]

However, it seems like it would also be a breaking change unless we can figure out a g

[2016-11-09 22:13] platinumazure commented on #7570
I'm :-1: to the proposal as-is because someone could make the same case for something like `lodash.assign`.

What I might like to see is something similar to `no-restricted-properties`, but which only triggers when an enclosing function parameter (or other specific sort of argument) is passed into a function call. So that way, a user could flag `Object.assign`, `lodash.assign`, etc., as needed. Bu

[2016-11-09 22:13] kaicataldo commented on #7570
Ah, my misunderstanding - sorry about that.

[2016-11-09 22:16] ljharb commented on #7570
@platinumazure a rule that restricted `Object.assign` usage with a non-object-literal as the first argument would cover this too, and could be configured to expand to a user-supplied list of identifiers?

[2016-11-09 22:20] not-an-aardvark commented on #7570
There are cases where `Object.assign` is useful for mutating objects, though.

[code]

Personally, I think it would be more useful if it disallowed mutating things with `Object.assign` only when the mutation is a side-effect, i.e. it's allowed if the parent is an `ExpressionStatement`.

[2016-11-09 22:24] not-an-aardvark commented on #7570
@platinumazure I see where you're coming from, but it seems like such a rule would have to be extremely customizable, to the extent that the user might be better off just writing a custom rule.

[2016-11-09 22:26] platinumazure commented on #7570
Yes, hence my last sentence "But that would be hard to fit into core."

I'm having a hard time with prioritizing `Object.assign` for special treatment here, that's my main point.

[2016-11-09 22:29] not-an-aardvark commented on #7570
My opinion is that since `Object.assign` is a native language feature, it might warrant special treatment that we wouldn't give to userland functions such as `lodash.assign`.

[2016-11-09 22:45] edg2s commented on #7562
Well it /allows/ that style rather than encourages it. The point of the relaxing option would be to allow the user to write easy to read and balanced nested if branches, whereas the current rules requires it to be either unbalanced or completely flat.

To my mind the main point of the rule is to fix *simple* else{if(){ blocks.

[2016-11-09 22:49] ilyavolodin commented on #7557
I also agree. This is too narrow of a scope for a core issue. This is also a browser specific rule, and while we have some of those, we don't have too many. This should go into a custom plugin.
@nkt Thanks for the suggestion. But it looks like the team feels that this is better fit for a plugin. If you need help creating one, please stop by our [Gitter](https://gitter.im/eslint/eslint) chatroom. C

[2016-11-09 22:49] #7557 closed

[2016-11-09 23:32] mnbroatch commented on #7572
You know what? I fixed it. I misunderstood presets.

airbnb's preset overwrites the normal rules for comma dangle, and I didn't realize that by specifying an option for functions in my .eslintrc, it would change the rest of the options to their eslint defaults rather than keep the airbnb settings.

I fixed it by manually setting all options (functions, objects, etc.) for that rule.

Thanks!

[2016-11-09 23:42] jbcpollak commented on #7568
Ah that's interesting. In that case - I'd argue that code shouldn't be enabled unless the developer specifically says they want to allow ; at the beginning of lines?

Or, perhaps the rule shouldn't complain if the `;` is the only thing on the line.

So this should be ok:

[code]

But this should be an error:

[code]

[2016-11-10 00:04] jedwards1211 commented on #746
Actually, I'd opt for a rule banning `[`, `(`, `++`, and `--` at the beginning of a *statement* rather than a line; I try to avoid writing such statements anyway.

[2016-11-10 01:18] mshameer opened #7573 "ESLint Error 'Invalid count value' when run with --fix"
I couldn't run the lint test with --fix and I am getting the following error.

#### Run command
`> esw -c .eslintrc ./src '.js, .jsx' --color --fix`

#### Error
[code]

I have resolved the issue. If there is no blank line before the return statement in anywhere in the code we will get this error message.

I have just put a blank line before the return statement then lint command with --fix is work

[2016-11-10 03:26] dozoisch commented on #7532
Perfect @ilyavolodin! I can follow the same schema. How would you name the "name" property earlier? I went with name because "module" doesn't really apply for -import rule and vice-versa.

[2016-11-10 05:28] kaicataldo commented on #7572
Glad you resolved your issue!

[2016-11-10 05:28] #7572 closed

[2016-11-10 07:21] evilj0e opened #7574 "Linting with auto-fix with rule 'object-shorthand' breaks properties with async/await functions"
**Configuration**
[code]

**Have**
You have `index.js`:
[code]

You have `.eslintrc`
[code]

You run:
[code]

You get in `index.js`:
[code]

**Expects & caused by**
I've investigated that it caused by `object-shorthand` rule.
[code]
If i set up it like that everything is ok. But I think with rule `["error", "always"]` also everything should be linted great.

[2016-11-10 07:23] evilj0e commented on #7574
By motives of the issue: https://github.com/auru/unity-configs/issues/6

[2016-11-10 07:28] not-an-aardvark commented on #7574
Thanks for the bug report. I was able to reproduce this issue.

[2016-11-10 07:42] jensbodal commented on #7356
From only being briefly familiar with `eslint` and all of the rules, my feeling is that some of the issues that this issue pertains to have been improperly amalgamated into extending an existing rule which satisfies two separate ideas.  I simply want to add a *lines-around* constraints to defined blocks.  `padded-blocks` seems to address specifically the spacing within blocks, whereas I want to ad

[2016-11-10 08:17] fasttime commented on #7570
What about `Reflect.set(obj, "foo", 1)`? Should that also be forbidden?

[2016-11-10 08:21] not-an-aardvark commented on #7570
Since `Reflect.set` is a native language feature, I suppose that should also be forbidden.

That said, I suppose using `Reflect.set` on a parameter is common with `Proxy`:

[code]

[2016-11-10 08:31] fasttime commented on #7570
@not-an-aardvark Indeed. I guess `Object.defineProperty` and `Object.defineProperties` deserve a different treatment. But I'm sure there are quite a few other native ways to manipulate properties on an object.

[2016-11-10 08:35] not-an-aardvark commented on #7570
Hmm, that's a good point. I think I'm going to backtrack a bit.

If someone really wants to mutate an object, they will find some way to get around ESLint and mutate it. If the user uses `Reflect.set` or `Object.defineProperty`, I think their intentions are very clear, so maybe we shouldn't report that case. On the other hand, it's fairly easy to *accidentally* mutate something with `Object.assign

[2016-11-10 08:48] fasttime commented on #7570
@not-an-aardvark Well, that sounds fair to me.

Just to summarize:

[code]

[2016-11-10 10:22] ummahusla commented on #3782
@liyaodong Nice one, thanks!

[2016-11-10 13:49] quinn commented on #7356
@jensbodal can you join on [gitter](https://gitter.im/eslint/eslint)? I like this a lot, and it fixes some things (e.g. `newline-after-var`) but i don't think it covers yet the original issue with the existing `padded-blocks`

[2016-11-10 13:59] jrajav commented on #746
@jedwards1211 That would entirely disallow the semicolon-first style, though, since the semicolon begins a new statement.

[2016-11-10 14:13] vitorbal commented on #7303
I'm gonna go ahead and close this since there's not much we can do without more feedback from the OP. We can re-open it if we get more feedback later.

[2016-11-10 14:13] #7303 closed

[2016-11-10 15:03] msikma opened #7576 "Invalid dependency install when choosing Airbnb in --init"
When following the [getting started guide](http://eslint.org/docs/user-guide/getting-started) and installing a new environment using `eslint --init` and choosing Airbnb, an invalid dependency is installed—`eslint-plugin-jsx-a11y` is installed as version 3.0.1 and not 2.x.x as required.

**Tell us about your environment**

A ReactJS project that did not have linting before now, and has minimal depe

[2016-11-10 15:09] platinumazure commented on #746
This discussion has been closed for a while. If there is a new discussion that needs to take place, could we create a new issue please? Thanks!

[2016-11-10 15:13] platinumazure commented on #7576
Duplicate of #7338.

See [this comment](https://github.com/eslint/eslint/issues/7338#issuecomment-252785808) for how to handle the issue.

Also, per [this comment](https://github.com/eslint/eslint/issues/7338#issuecomment-252931101), we have an idea on how to fix this, but JSCS compatibility is the main focus of the core team. If you want to submit a PR to implement vitorbal's suggestion, we are h

[2016-11-10 15:14] #7576 closed

[2016-11-10 15:14] msikma commented on #7576
Sorry for reporting a duplicate 👍

[2016-11-10 15:16] platinumazure commented on #7338
I've added "help wanted" label to this issue because this is probably something that will really help airbnb users (as well as standard/xo), but the core team doesn't have time to look at this right now.

[2016-11-10 15:18] alberto commented on #7356
I might have missed it in the multiple and lengthy discussions, but I am not sure why we can't delegate to `padded-blocks` when there is an inner block at the beginning or the end of the block. We do similar things in other rules.

It would also be helpful to try to stay consistent with the current `padded-blocks` schema.

And lastly, I am not sure if independent options for "before" and "after" a

[2016-11-10 15:33] quinn commented on #7356
@alberto this is essentially what is in "proposal 2" way back up the top of this which I crossed out.

https://github.com/eslint/eslint/issues/7356#issuecomment-259497115

I'm on [gitter](https://gitter.im/eslint/eslint)

[2016-11-10 15:41] quinn commented on #7356
@alberto also for your questions: the original jscs rule was only for "after" padding. it could be simplified to "around" padding, but that doesn't simplify any of the edge cases being discussed as far as i can tell.

as far as the schema, i'm assuming the details like that will be hammered out once consensus is reached

[2016-11-10 16:03] platinumazure commented on #7512
@eslint/eslint-tsc Do we have volunteers for this release? If so, can someone please update this issue? Otherwise it's a bit scary that we don't have anyone scheduled to manage the release :smile:

[2016-11-10 16:31] nzakas commented on #7512
We have TSC meeting today, we'll be sure someone gets assigned.

[2016-11-10 16:34] #7537 closed

[2016-11-10 17:35] Alaneor commented on #7444
Is there anything I can do to move this proposal forward? Thanks!

[2016-11-10 17:58] alberto commented on #7356
@quinn rules should not conflict or depend or other rule configuration, but they can leave some cases to other rules.

[2016-11-10 18:53] dmose commented on #7570
Seems reasonable to me too.

[2016-11-10 21:42] nzakas opened #7577 "Scheduled Release for November 25, 2016"
The scheduled release on Friday, November 25, 2016 is assigned to:

@btmills
@nzakas

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2016-11-10 21:45] ronjouch commented on #5946
I upgraded from ESLint 3.8.0 to 3.9.1 and I *think* this new `CallExpression` option is causing me trouble. Consider this piece of code:

[code]

Here I'm happy that `offset` and `rows` are aligned, because they're keys of the same object, but I get an `ESLint Error: indent: Expected indentation of 4 spaces but found 38` on the second line.

If I'm not misled and it's indeed due to `CallExpression

[2016-11-10 21:48] platinumazure commented on #5946
@ronjouch I'm sorry that ESLint is now calling this out without an easy way to configure the rule to support your style at this point. However, in order to support this case, you can use inline disable comments:

[code]

You might need to finagle depending on exactly which line is being flagged, but that's something you can do in the short term.

[2016-11-10 21:53] ronjouch commented on #5946
@platinumazure thanks for the fast answer :) . Unfortunately, inline-disabling is not an option as this is far from being a one-timer; I have tons of such indents and it would be very invasive.

For now I'll disable the whole `inline` or will stick to 3.8.1. Are there any plans to support disabling options (as opposed to a whole rule)? Mabe a bug I could follow / subscribe to?

[2016-11-10 22:05] platinumazure commented on #5946
@ronjouch I think #7473 should work for you (the title says multiline array indentation, but multiline object indentation is mentioned there as well and hopefully we can cover both).

[2016-11-10 22:16] btmills commented on #6820
After discussion in the 2016-11-10 TSC meeting, the team decided to accept this rule into core.

[2016-11-10 22:23] btmills commented on #7528
After discussion in the [2016-11-10 TSC meeting](https://gitter.im/eslint/tsc-meetings/archives/2016/11/10), the team decided not to add this feature.

[2016-11-10 22:23] #7528 closed

[2016-11-10 22:28] btmills commented on #7443
In the [2016-11-10 TSC meeting](https://github.com/eslint/eslint/pull/7514#issuecomment-259823958), the team decided in favor of including this feature.

[2016-11-10 22:29] btmills commented on #7443
Speaking for myself and not the team now, I'm a fan of @mysticatea's option B. @ilyavolodin are you concerned that adding the additional object keys could break formatters?

[2016-11-10 22:29] ilyavolodin commented on #7532
I think `name` is fine. I would skip multiple `names` though. Just single string is fine for most cases, I think.

[2016-11-10 22:30] taion commented on #7443
That link looks odd – should it have been https://gitter.im/eslint/tsc-meetings/archives/2016/11/10?

[2016-11-10 22:31] btmills commented on #7443
@taion indeed, thanks for catching that! Fixed.

[2016-11-10 22:35] alberto commented on #7443
I am not sure we can assume a warning won't break builds. I can easily imagine people having warnings as ok locally during development (e.g. console.log) but failing on CI.

[2016-11-10 22:43] ilyavolodin commented on #7443
@btmills No, not really concerned, just saying we need to make sure that third-party formatters will be able to ignore new properties without breaking them.

[2016-11-10 23:10] platinumazure commented on #7443
Folks, if this is considered a breaking change, that's what semver-major is
for. Let's not worry too much about a possible break when semver gives us
cover.

On Nov 10, 2016 4:43 PM, "Ilya Volodin" <notifications@github.com> wrote:

[2016-11-10 23:13] not-an-aardvark commented on #7443
Is our concern just about adding additional warnings the first time, or would it cause a potentially breaking change every time a warning is added? We should make sure we're able to deprecate rules in general without needing a major update each time.

[2016-11-10 23:28] dozoisch commented on #7532
@ilyavolodin Alright! Yes, it'll support both (old and new)! I should have some time to do it today or tomorrow.

[2016-11-11 03:08] hezedu opened #7578 "no-unused-vars bug (for plus plus)"
config is `"no-unused-vars": "warn"`
warn:
[code]
ok:
[code]
can you make the  j++ to ok ?

[2016-11-11 05:02] sindresorhus commented on #7528
Can you add a summary of the reasoning that led up to that decision? I don't have time to read meeting notes and I think it should be here for posterity.

[2016-11-11 05:23] not-an-aardvark commented on #7528
Here's the relevant section of the notes:

[code]

(disclaimer: I'm not on the TSC)

tl;dr: It looks like there was agreement that updating `latest` would require a major version bump. But we don't want to have to do major releases too often, so `latest` would get out of date, which would defeat the purpose of the setting. Since there wouldn't really be a point in having an option called `latest`

[2016-11-11 05:55] Hosar commented on #6197
I'm using the following versions but still I'm getting the same error. I did the downgrade (2.9) but it did not work. Could I do something else?
"eslint": "^3.9.1",
"babel-eslint": "^6.0.4"

`5:1  error  Parsing error: Unexpected character '@'`

[2016-11-11 06:10] not-an-aardvark commented on #6197
@Hosar Could you please create a new issue?

[2016-11-11 09:55] dingo-d commented on #3677
What if I have installed eslint globally (`npm install -g eslint`) and now it sits in my `AppData\Roaming\npm\node_modules\eslint` folder (I'm on Windows 10), and I want to lint file that is on another disk (or mapped server drive)?

Since the configuration cascades to the root folder if the `.eslintrc` file isn't found in a project, it will only look to the root of the file disk. So if I installe

[2016-11-11 10:33] vitorbal commented on #7443
I think the main concern is when we introduce these warnings for the first
time, as it might break e.g a CI environment that was previously green
before upgrading ESLint.

After that, i think it should be fine to assume that these warnings wont
catch users by surprise. Thoughts?
On Fri, Nov 11, 2016 at 12:13 AM Teddy Katz <notifications@github.com>
wrote:

[2016-11-11 13:28] platinumazure commented on #3677
You can use the `-c`/`--config` command line option to specify the location
of a configuration file.

Please look at our [Command Line Options](
http://eslint.org/docs/user-guide/command-lint-options) for more
information.

On Nov 11, 2016 3:55 AM, "Denis Žoljom" <notifications@github.com> wrote:

[2016-11-11 16:26] #7574 closed

[2016-11-11 16:26] ilyavolodin commented on #7578
@hezedu The rule is correctly flagging `j` as unused, because, it is, in fact, not used for anything. Value of `j` is not read, passed to a function, or consumed in any way, so the variable is unnecessary and can be removed without affecting result of the code.

[2016-11-11 16:36] ilyavolodin commented on #7443
@vitorbal Option "B", proposed by @mysticatea completely bypasses warning and error mechanics of reporting. So it will not affect CIs in any way.
@platinumazure We can't really do that. Major version is not an excuse to break every dependency we have. If there is no other way around - we can break third-party formatters, but I would want to first exhaust other options.

[2016-11-11 17:05] dingo-d commented on #3677
The link gives me 404 error, but I'll look up the documentation in more detail, thanks :)

[2016-11-11 17:45] vitorbal commented on #7443
@ilyavolodin that's true, I was mostly addressing @not-an-aardvark's comment above, sorry if I wasn't clear.

Just to be sure, would option B also involve adding that warning message to some of our default formatters? Or could we do that as part of a separate, breaking change if need-be?
Otherwise, in my opinion, the value of this change is very low. The majority of our users probably stick to usi

[2016-11-11 18:05] vitorbal commented on #7025
Agree with @kaicataldo here. Not sure I see much additional value in this new option, considering what's already possible with `commentPattern`. I am :-1: for this change.

[2016-11-11 19:31] #7235 closed

[2016-11-11 19:49] #7470 closed

[2016-11-12 00:09] daltones opened #7581 "no-return-await must be aware of try/catch/finally"
`no-return-await` currently doesn't consider if the `return` statement is inside a `try` block. In this case, the presence of `await` does meter.

Consider this:
[code]

[2016-11-12 00:20] not-an-aardvark commented on #7581
Thanks, I can reproduce this. So if I'm understanding correctly, would the correct behavior be to not report any `return await` statements in `try` blocks?

[2016-11-12 00:25] daltones commented on #7581
@not-an-aardvark exactly. Inside `try`, you have to chose whether use or not, no warns at all.

[2016-11-12 00:26] platinumazure commented on #7581
What happens if you split the await from the return?

[code]

[2016-11-12 00:29] not-an-aardvark commented on #7581
@platinumazure That has the same behavior as

[code]

[2016-11-12 00:30] platinumazure commented on #7581
Then I think we have a solution- no need for special logic here. Or am I
missing something? Why does the presence of a try/catch/finally block mean
we need to handle return await statements differently?

On Nov 11, 2016 6:29 PM, "Teddy Katz" <notifications@github.com> wrote:

[2016-11-12 00:31] daltones commented on #7581
The problem is that the warning message of this rule is “Redundant use of `await` on a return value”.

The term “Redundant” is in fact incorrect in these `try` cases.

[2016-11-12 00:33] not-an-aardvark commented on #7581
The intention of the `no-return-await` rule is to flag unnecessary `return await` statements where `await` could be removed without observably changing the behavior of the code*. When `return await` is used within a `try` statement, this is not the case.

---

*aside from the fact that the Promise will fulfill one tick sooner

[2016-11-12 01:44] kasperpeulen commented on #6139
Just saying, that I would also really love an extra level. All the argument against this seem with the idea that eslint is mostly used on the command line. But if you use it in an editor, it is very common and useful to have more levels of severity.

[2016-11-12 03:17] not-an-aardvark opened #7583 "no-useless-return causes a stack overflow with some unreachable loops"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.1.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

ESLint should have either reported a u

[2016-11-12 04:02] dozoisch commented on #7532
@ljharb @ilyavolodin So I started looking into it. For pattern support the code uses the package "ignores". The problem is that ignores doesn't tell you which rule worked or didn't work since you can provide negative rules that can override each others. I'm not sure what to do for these.

For the rules that have direct match, it's pretty easy, I can use the set just like now.

For the patterns...

[2016-11-12 10:05] calidion opened #7585 "please compile packages to es5 so that v0.1x can be supported."
some of the packages are use es6+, which will breaks support for v0.1x when testing.

[2016-11-12 11:01] alberto commented on #7585
If you need ES5 support you should use eslint 2.X

[2016-11-12 11:14] mysticatea commented on #7585
ESLint 3 does not support Node 0.x. Please see also: http://eslint.org/docs/user-guide/migrating-to-3.0.0

[if-node-version](https://www.npmjs.com/package/if-node-version) module might help you for CI.

[2016-11-12 11:14] #7585 closed

[2016-11-12 13:07] kutyel opened #7586 "eslint --init does not work with @flow"
**Tell us about your environment**
macOS Sierra 10.12.1
* **ESLint Version:**
v3.3.1
* **Node Version:**
v6.9.1
* **npm Version:**
v3.10.8
**What parser (default, Babel-ESLint, etc.) are you using?**
babel-eslint
**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
I have a project wi

[2016-11-12 13:25] fczuardi commented on #6505
An example of what @aubergine10 [described above](https://github.com/eslint/eslint/issues/6505#issuecomment-228630569) can be seen in the [max-len rule](http://eslint.org/docs/rules/max-len), that supports exceptions with ignorePattern, ignoreUrls, etc…

[2016-11-12 13:32] fasttime opened #7587 "Extend rule func-call-spacing to allow newlines with option "never""
I have a project where the function name and the left parenthesis in a calling expression are either attached without spaces or separated by a newline (followed by optional indent spaces).

By now, I'm still using JSCS with the rule `disallowSpacesInCallExpression` to enforce this style.

**Examples of correct code with the JSCS rule `disallowSpacesInCallExpression`**

[code]

**Examples of incorr

[2016-11-12 17:01] platinumazure commented on #7586
Hmm. It seems to me like we might be using the default parser for that mode of `--init`-- maybe we need to ask a question about whether experimental features are used and/or which parser should be used when creating a configuration based on the existing files?

@IanVS, any thoughts on this?

[2016-11-12 17:27] platinumazure commented on #7586
Confirmed, labeling as a bug for now.

It might be that other parsers or experimental features are "not supported", in which case this might turn into an enhancement request. Either way, I think we can improve the experience here.

Thanks for the report!

[2016-11-12 17:35] kutyel commented on #7586
You are welcome 😊

[2016-11-12 18:05] tleunen opened #7588 "[comma-dangle] Difference between function declaration and function call?"
Just a suggestion, if it would make sense to have a difference for the function definition and function call?
I'm asking that because sometimes it feels weird to have the comma. Especially in function which takes an arrow function.
[code]
With the rule enabled with multiline, it asks a comma after `sthelse`. Would it be possible to have an option to not do it? Would it make sense?

This is particu

[2016-11-12 18:34] ljharb commented on #7588
The following won't complain about a trailing comma:
[code]

[2016-11-12 18:43] quinn commented on #7356
hey everybody. there was some back-and-forth about how to deal with this. given the current assumption that any rule can't be aware or know about any other configuration it seemed like trying to keep things separate would create the need for a lot of weird config options (e.g. "exceptAfterVar", "ExceptAfterDirective", etc to allow those rules to work) so it instead it seemed similar to just combin

[2016-11-12 18:44] platinumazure commented on #7356
@quinn Could you please edit your post with a list of which ESLint rules would need to be deprecated and be replaced by your proposal? Thanks!

[2016-11-12 18:45] IanVS commented on #7586
@platinumazure yes, it has been on my mind to use custom parsers in the `--init` process, but I haven't seen issues come in for it so I haven't spent the time to work on it.  I believe the thing to do is install and use a custom parser based on responses to the questions we ask.  Babel-eslint would be a good start, but we could also add the TypeScript parser now that it has been released.  I'm not

[2016-11-12 18:48] quinn commented on #7356
@platinumazure yep done

[2016-11-12 20:35] jensbodal commented on #7356
@alberto one of  the difficulties I feel that  lumping this in with `padded-blocks` would be what I mentioned earlier, a `block`  is defined by the opening and closing braces, not necessarily by the keyword which creates the need for a block.

For example if I wanted to prevent  ```var a; if (a) return;``` or even

[code]

There is no rule to prevent this (that I'm aware of), and there is no "bloc

[2016-11-12 20:38] quinn commented on #7356
@jensbodal actually this is no longer combined with `padded-blocks`. that rule can still handle padding the inside of a block. this isn't really about blocks specifically and more about "sections" and putting padding (or lack of padding) between sections in the code.

[2016-11-12 20:44] jensbodal commented on #7356
Ok I might have misunderstood the comment regarding delegating to `padded-blocks`.

[2016-11-13 04:59] DavidAnson opened #7589 "Upgrade markdownlint dependency to version 0.3.1"
A new version of `markdownlint` is available. It includes the following improvements:

* 0.3.0 - More detailed error reporting with resultVersion, enhance MD010/MD012/MD036, fixes for MD027/MD029/MD030, include JSON schema, dependencies.
  * 0.3.1 - Fix regressions in MD032/MD038, update dependencies.

Opting into `resultVersion` 1 gives more helpful error messages:

[code]

No new violations are

[2016-11-13 05:06] not-an-aardvark commented on #7589
Thanks!

For what it's worth, we no longer require issues for most pull requests, so feel free to submit a pull request now if you'd like. (Since this is an internal build change, I doubt anyone will be opposed to the upgrade.)

[2016-11-13 06:32] not-an-aardvark commented on #7587
Thanks for the suggestion.

In my opinion, this type of code style is a bit confusing:

[code]

But I wouldn't be opposed to adding an option for it if the rest of the team is in favor if it.

[2016-11-13 09:39] silverwind commented on #7537
The [docs](https://github.com/eslint/eslint/blob/master/docs/rules/no-return-await.md) of `no-return-await` link to [async function](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function) on MDN, which currently features two examples that use `return await`.

This one doesn't trigger the rule. Is that intended?
[code]

And this one rightfully triggers the rule

[2016-11-13 10:05] not-an-aardvark commented on #7537
I agree that the MDN page could use some more detail, but I'm not sure linking to the spec instead is a good idea; the spec text can be very difficult to understand for beginners, IMO. (We could link to both, I suppose.)

---

Both of those examples are working as intended. The rule is supposed to flag cases where a value with `await` is *directly* returned from a function; in these cases, the `aw

[2016-11-13 10:22] silverwind commented on #7537
Thanks, now it's clear to me. I [updated](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/async_function$compare?locale=en-US&to=1142087&from=1138589) MDN to remove the `return await` on the last example.

[2016-11-13 10:47] vitorbal commented on #7587
I've never seen that coding style before. Are there any known codebases out there using this? I'm asking this because I'd doubt we would be able to justify a new option to `func-call-spacing` If it's just to support a niche use case.

[2016-11-13 10:51] vitorbal commented on #7587
Ah, just re-read this and noticed you mentioned the rule comes from JSCS. In that case, I think this needs more careful consideration. Not sure if allowing newlines in `disallowSpacesInCallExpression` was intentional or a bug. @eslint/eslint-team maybe someone from the JSCS team could help clarify?

[2016-11-13 11:18] fasttime commented on #7587
Hmm... yes, that was a bit confusing. In fact my code looks more like this:

[code]

The option to allow newlines is already there, but it's bundled with `func-call-spacing: ["error", "always"]`, so at least it looks like I'm not the only one to use this kind of style. But please, don't ask me what codebases out there are using this 😐

[2016-11-13 16:58] kaicataldo commented on #7356
@quinn

A few questions:

*  I'm not seeing how this order is determined in your proposal. Can you elaborate on that? Did you mean for the first configuration option to be an array? And if so, won't we have an array of objects (potentially containing a a key with another object)? Feels really verbose and error prone to me.

This feels like a lot of overhead on the configuration side to me. Speakin

[2016-11-13 17:00] zimme commented on #7543
I think just grouping and sorting shorthands separately is a good enough start.

[2016-11-13 17:10] quinn commented on #7356
@kaicataldo the assumption is that key order is preserved. I think this is true in most if not all scenarios ? My original syntax used arrays, e.g:

[code]

This works great if you only want to specify wrapping things in padding but becomes more complex (array elements need to be replaces with objects instead of strings) to configure when you start wanting to enforce padding around some things and

[2016-11-13 17:11] quinn commented on #7356
@kaicataldo to our last question "how would the above be resolved": key order could be used again in those scenarios.

[2016-11-13 17:16] kaicataldo commented on #7356
How can we ensure key order in an object? And for he second comment, wouldn't it be the same key? Really confused here. Maybe I'm totally misunderstanding what you mean by "key order".

[2016-11-13 17:23] quinn commented on #7356
key order is preserved when looping over an object. I know there are edge cases but I don't think any apply here. If it helps, refer to the array syntax instead. I can expand on that if it helps.

[2016-11-13 21:01] DavidAnson commented on #7589
Thanks, I've created a PR just now.

FYI that the documentation may need to be updated to say that issues are optional for non-documentation changes:

http://eslint.org/docs/developer-guide/contributing/pull-requests#step-5-double-check-your-submissiona-namestep5a

[2016-11-14 00:47] krousseau-cs commented on #7573
I get the same issue every time I run with or without --fix. The error goes away if I remove the indent rule:
"indent": [2, 2, { "SwitchCase": 1, "MemberExpression": 1 }],

Happens in eslint 3.10.0 and 3.9.1

[2016-11-14 01:24] hezedu commented on #7578
version 3.9.1

rule config none

expected to `j++` can be used

[2016-11-14 01:40] kaicataldo commented on #7356
Ah okay, I understand now - thanks for the explanation :) I'm still of the mind that the API proposed here is confusing and not very user-friendly. I think I'm taking issue with both the scope of the rule (that it covers so many different, seemingly arbitrary cases) and the complexity of the confiuration (particularly the precedence behavior). I understand the problem it's trying to solve, but it

[2016-11-14 02:09] qshameer commented on #7573
I am using the following packages for ESLint

[code]

configuration file includes below

[code]

[2016-11-14 02:17] quinn commented on #7356
@kaicataldo are you on gitter?

[2016-11-14 03:19] platinumazure commented on #7578
Look, the problem is that except for the increment, no one else sees the value of `j` at all. You could remove `j` entirely from your code and it would have the same effects to calling code.

Your code, in terms of observable side effects, is exactly the same as this code:

[code]

You need to finish writing your code (as in, write the lines where `j` is actually passed to another function or retu

[2016-11-14 04:14] quinn commented on #7356
@kaicataldo The "lets just add a rule for padding-after-blocks and give it an exception for every possible rule it could conflict with" idea hasn't been really fleshed out. I'll give it a try :)

[2016-11-14 04:14] quinn commented on #7356
(i'm waiting on a thumbs up from @alberto)

[2016-11-14 04:15] not-an-aardvark commented on #7573
Thank you both for the info. However, could you please provide an example of code which causes this error? It's hard to determine the cause of an issue without being able to reproduce it.

[2016-11-14 05:30] kaicataldo commented on #7356
@quinn Sorry, was traveling today and responding to things on my phone. Happy to discuss on Gitter when we're both on sometime :) We all really appreciate you taking the lead and working so hard on this!

If we were to split this into two smaller rules - `padding-after-blocks` and `newline-before-if-statement` - do you think that would simplify things? Or are you of the mind, having looked at this

[2016-11-14 05:36] kaicataldo commented on #7589
Thanks - you're right, we should definitely update that

[2016-11-14 06:58] hezedu commented on #7578
@platinumazure OK, thank, you are right.  and the `j = j + 1` not hint is a bug now?

[2016-11-14 10:27] platinumazure commented on #7578
Correct, it's not a bug. Even adding `console.log(j);` to your code should get rid of the lint warning, because that counts as a use of `j`.

[2016-11-14 11:32] hezedu commented on #7578
@platinumazure This problem is: same code,  `j++`  is lint,  `j = j + 1`  is not lint.

[2016-11-14 13:52] quinn commented on #7356
@kaicataldo I posted something in gitter, it's not complete but it's based on this (2 new rules)

[2016-11-14 14:01] vkurchatkin commented on #5701
@ilyavolodin is async still considered experimental? I can see http://eslint.org/docs/rules/no-return-await

[2016-11-14 14:05] platinumazure commented on #7578
Ah, then `j = j + 1` should probably be flagged as well. Thanks for
clarifying, I'd say this is a bug.

On Nov 14, 2016 5:32 AM, "都威" <notifications@github.com> wrote:

[2016-11-14 14:14] platinumazure commented on #5701
@vkurchatkin No, async/await now exists in the ES2017 specification, so we should reopen this.

[2016-11-14 14:42] krousseau-cs commented on #7573
Unfortunately I haven't tracked down the code causing it yet. It just continues to blow up the linting of our build. I'll update if I track it down.

[2016-11-14 14:50] #7583 closed

[2016-11-14 14:57] vkurchatkin commented on #5701
@platinumazure It seems to be fixed already: https://github.com/eslint/eslint/commit/f71937af3046584fdec8cc928ed222e1f0b8f11d, sorry about that

[2016-11-14 15:32] ilyavolodin commented on #7573
@not-an-aardvark Based on the stack trace, it looks like this is a regression introduced by https://github.com/eslint/eslint/commit/16367a8157df397945f8a0f124555f5f7ec4f7d7
I'm still trying to figure out what code might cause an issue, though.

[2016-11-14 16:18] Alaneor opened #7593 "Proposal: Implement autofix for `no-return-await`"
#### Versions

- ESLint: 3.10
- Node: 7.1
- npm: 4.0.2

#### Description

I propose to implement an auto-fixer for the new `no-return-await` rule. Since `return await value` has the same meaning as `return value` in async functions, an auto-fix can be implemented which simply removes the `await` keyword.

There is currently one known exception to this - `try/catch` blocks. See pending issue #7581

[2016-11-14 17:20] kaicataldo commented on #7356
Thanks for the discussion in Gitter, @quinn!

My biggest concerns with the current proposal are the complexity of the configuration and the behavior the concept of "precedence" causes. For example, with this configuration:
[code]
the following would be enforced:
[code]
[code]

@quinn and I discussed another possible approach to this in our Gitter discussion. What if the rule could be configured wi

[2016-11-14 17:31] #7581 closed

[2016-11-14 18:19] TheSavior commented on #7356
Thank you guys so much for working on this and iterating on these proposals. Taking a step back, I have a high level question.

In order to do the best most expected thing for our users, we avoid having conflicts between rules that could cause a configuration to be invalid. Due to that, we have come up with this really complicated rule and configuration schema to avoid those conflicts. Of all the

[2016-11-14 18:23] not-an-aardvark commented on #5701
Yes, this is already fixed as of v3.6.0. Closing this issue.

[2016-11-14 18:23] #5701 closed

[2016-11-14 18:29] not-an-aardvark commented on #7593
Thanks for the suggestion.

However, the decision to not autofix this rule was actually intentional; the presence of an `await` keyword delays the returned Promise from fulfilling by one tick, which can change the behavior of code and cause working code to break. As such, I don't think we should autofix this.

For example:

[code]

[code]

[2016-11-14 18:38] btmills commented on #7573
I was able to narrow down a repro:

[code]

[code]

[code]

[2016-11-14 19:07] platinumazure commented on #5701
My apologies, I should have investigated that. Thanks.

[2016-11-14 19:07] quinn commented on #7356
@TheSavior This is a * full spec * trying to cover many weird user preferences. Consider a simpler example:

[code]

compared to this:

[code]

The first one I think could be argued to be simpler (or at least the same?), it's also more robust (it'll ensure newlines around things without doing something weird) and it's also less prone to errors:

[code]

I agree that it does seem overly complex, bu

[2016-11-14 19:18] not-an-aardvark commented on #7356
By the way, I'm going to temporarily remove my assignment on this issue. This is not to say I'm going to stop participating in the discussion (I still definitely want us to decide on and implement a good proposal, and I'm committed to addressing this issue in one way or another). However, since it looks like we've gone back to discussing proposal ideas, I want to make sure to come up with an idea

[2016-11-14 19:22] ilyavolodin commented on #7573
I debugged this code a little bit, and the issue is in this line: https://github.com/eslint/eslint/blob/master/lib/rules/indent.js#L267
The reason why is because `needed` is 0 and `lastNodeCheckEndOffset` is 1. So `repeat` function is called with `-1` which causes `Invalid count value`.
This is based on the example @btmills provided above. I'm not 100% sure what the desired behavior here is. Since

[2016-11-14 19:28] not-an-aardvark commented on #7573
The code is able to remove indentations as a fix. The issue is that the desired indent is coming out as a negative number for some reason. The correct behavior would be for the desired indent size to be `0`, which would cause `desiredIndent` to be an empty string.

For what it's worth, I think this code has the correct behavior:

[code]

So I'm guessing there is an off-by-one error somewhere cause

[2016-11-14 19:33] btmills commented on #7512
To keep this issue up to date, we just did a 3.10.1 patch release. We're hoping to get in a fix for #7573 and do another patch release this week, so please continue merging only semver-patch PRs.

[2016-11-14 19:34] nzakas commented on #7364
I think this falls into the category of "nice to have, but not practical." We'll review at the TSC meeting.

[2016-11-14 19:36] daltones opened #7594 "Enhancement: no-return-await with complex `return` argument"
* **ESLint Version:** v3.10.0
* **Node Version:** v7.1.0
* **npm Version:** v3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
Default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**
[code]

**What did you expect to happen?**
`await` expressions in `foo1()`, `foo2()`, `foo3()`, `foo4()` and `foo5()`

[2016-11-14 19:36] nzakas commented on #7364
TSC Summary: The proposal is to somehow output the number of possible fixes ESLint could apply when run without the `--fix` option. There's a practical problem in that we don't actually know this information and it's not possible calculate without attempting to apply the fixes.

TSC Question: Is it worth pursuing an implementation for this feature given the restrictions?

[2016-11-14 19:38] nzakas commented on #7404
I'll be honest - I just don't see a ton of value to adding this into the core. It's my belief that a custom formatter is the right way to go. We'll review at the next TSC meeting to get a consensus.

(Note for all, related PR: https://github.com/eslint/eslint/pull/7416)

[2016-11-14 19:41] nzakas commented on #7404
TSC Summary: The request is to add some additional output when ESLint has successfully applied fixes so that users are aware that fixes were applied. There are a few implementation possibilities, including updating every formatter or having the ESLint CLI just output warnings itself. All options are considered breaking because it will affect ESLint output that other tools might be relying on. It i

[2016-11-14 19:48] nzakas commented on #7328
Thanks. I think this might actually be a bug in the core, but need some time to investigate and confirm.

[2016-11-14 19:50] nzakas commented on #6190
What do we want to do here? Just say people should use a plugin? Or is someone interested in pursuing this in core?

[2016-11-14 19:51] nzakas commented on #6361
This was closed by https://github.com/eslint/eslint/pull/7499

[2016-11-14 19:51] #6361 closed

[2016-11-14 19:53] nzakas commented on #3458
@ljharb I understand your point of view and concerns. I do believe it's been proven we can't do this in configs, and I don't think it's worth the time to continue down that path.

It would be really helpful if you (or anyone on this thread) could try to create a plugin as I described and see if it works for your use case. What we need now is feedback on what I described so we can move forward or n

[2016-11-14 19:57] platinumazure commented on #6190
@nzakas I like the idea of using the plugin for this particular use case.

I do still want to revisit how we handle report disabling (#6592), but this particular use case seems solved.

[2016-11-14 20:33] kaicataldo commented on #6190
Agreed. Given that this is solved by @mysticatea's plugin, I think it makes sense to point users to that.

[2016-11-14 22:10] jaepage opened #7598 "ESLint doesn't work without running init. But init overwrites existing ESLintRC."
**Tell us about your environment**
Mac OS X El Capitan: 10.11.6 (15G1004)
Sublime Text 3: Build 3126

* **ESLint Version:**
v1.9.0

* **Node Version:**
v6.7.0

* **npm Version:**
3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**
- Run instructi

[2016-11-14 22:14] platinumazure commented on #7598
Hmm. I do think we could/should warn if an .eslintrc file exists in the CWD (and allow a user to bail out, or perhaps forcefully error out) when running `eslint --init` to avoid accidental overrides.

That said, the proper thing to do was just to run `npm install` to get ESLint installed-- since you had an .eslintrc.json, you didn't need to re-run `eslint --init`.

Let's see what the rest of the t

[2016-11-14 22:31] not-an-aardvark commented on #7598
I would be fine with emitting a warning on `eslint --init` if a config file already exists. However, I think there is some confusion in this issue; when you already have a config file, ESLint should work without having to run `eslint --init` again.

@jaepage, are you able to reproduce this when using the latest version of ESLint from the command line, rather than through Sublime? I think your issu

[2016-11-14 22:47] jaepage commented on #7598
Regarding ESLint version, my repo is using `"eslint": "^3.10.1",` in its package.json, but my bash seems stuck on v1.9.0:
[code]
Is that odd?

[2016-11-14 22:53] not-an-aardvark commented on #7598
What happens if you run `which eslint`?

[2016-11-14 22:57] jaepage commented on #7598
[code]

[2016-11-14 22:59] jaepage commented on #7598
Also, running ESLint from the command line works in my primary clone of the repo, fails in my test clone of the repo. `ESLint couldn't find the plugin "eslint-plugin-jsx-a11y".`

[2016-11-14 23:04] not-an-aardvark commented on #7598
It looks like something is configured incorrectly with your node/npm installation; ESLint 3.10.1 gets installed to `/Users/jpage/.nvm/versions/node/v6.7.0/bin/eslint`, but you're using the version of ESLint in `/usr/local/bin/eslint`.

[2016-11-14 23:10] jaepage commented on #7598
[code]

[2016-11-14 23:12] jaepage commented on #7598
Should I just manually remove `eslint` from `/usr/local/bin/`?

[2016-11-14 23:13] not-an-aardvark commented on #7598
I think that would probably work, although I'm not sure what the general solution would be for other globally-installed packages.

[2016-11-14 23:14] jaepage commented on #7598
I suppose I would also want to remove manually `/usr/local/lib/node_modules/eslint/` as well. Weird that `npm uninstall -g eslint` has no visible effect.

[2016-11-14 23:16] not-an-aardvark commented on #7598
I think your `npm` is configured to use `/Users/jpage/.nvm/versions/node/v6.7.0/bin` for global installations, but you have some existing modules in `/usr/local/bin` for some reason, which aren't getting touched by `npm` at the moment and are overriding the modules in `/Users/jpage/.nvm/versions/node/v6.7.0/bin` when you use `eslint`.

[2016-11-14 23:21] jaepage commented on #7598
Also, in my `/Users/jpage/Library/Application Support/Sublime Text 3/Packages/User/SublimeLinter.sublime-settings`:

[code]

[2016-11-14 23:23] TheSavior commented on #7356
In the example you provided:

[code]

That would enforce this code, right?

[code]

If a user also had
[code]

then we are back into conflicting configurations, right?

[2016-11-14 23:28] jaepage commented on #7598
- OK. I manually removed the globally installed ESLint, confirmed my `which eslint` returning nothing.
- I then re-ran ESLint from the command line (`./node_modules/.bin/eslint resources/assets/js/components/subcomponents/Modal.jsx`). In my primary clone, it works. In my test clone, it fails in the same way as before, `couldn't find the plugin "eslint-plugin-jsx-a11y"`.
- Also, linting is still vi

[2016-11-14 23:32] jaepage commented on #7598
I have an `.eslintrc` file in my `~` directory. Could that be problematic?

[2016-11-14 23:38] quinn commented on #7356
no, this rule only inserts newlines on the same level of indentation. So unless you had done something with `padded-blocks` the result would be:

[code]

[2016-11-14 23:39] quinn commented on #7356
and the thing about indentation for the beginning in end of the file. If it's the first or last line of something (including the file) this rule doesn't do anything.

[2016-11-14 23:40] quinn commented on #7356
ok, i should be more specific. the last line it does nothing for * after *, and for the first line it does nothing * before *

[2016-11-14 23:53] not-an-aardvark commented on #7598
What does the `devDependencies` field in your `package.json` file look like?

Also, what happens if you run `npm install eslint-plugin-jsx-a11y` from your test clone?

[2016-11-15 00:01] jaepage commented on #7598
So, yes, I checked the Sublime console, and it was showing the same errors, could not find a11y, react, airbnb…

This prompted me to try installing those dependencies via NPM, and now the issue is resolved.

I'm not sure why this didn't cause a problem in the primary repo. Could ESLint's `init` have added them without saving them? But oh, well. Thank you.

[2016-11-15 00:01] #7598 closed

[2016-11-15 01:52] not-an-aardvark commented on #7111
@eslint/eslint-team Any support for this proposal?? We need 2 more :+1:s to accept it. This would allow users to avoid temporal-deadzone variable references without having to adhere to the stylistic requirements of `no-use-before-define`.

[2016-11-15 03:04] dcousens commented on #7111
@not-an-aardvark I added a +1.

[2016-11-15 03:05] dcousens commented on #7111
ping @fanatid @jprichardson @afk11

[2016-11-15 03:07] not-an-aardvark commented on #7111
@dcousens Thanks, I appreciate it. However, I was mainly referring to :+1:s from the ESLint team (from our [maintainer guide](http://eslint.org/docs/maintainer-guide/issues.html#consensus), we accept enhancements after they have a :+1: from three team members).

[2016-11-15 03:08] dcousens commented on #7111
@not-an-aardvark ah, sorry for the call out then everyone!

[2016-11-15 05:57] rapilabs commented on #5377
Please note this issue is useful with the `--fix` option

[2016-11-15 06:56] fanatid commented on #7111
@feross as I understand next code with `{ "variables": false }` will be **incorrect**?

[code]

[2016-11-15 09:57] kasperpeulen opened #7600 "block-scoped-var gives unnecessary warnings with multiple for loops"
**Tell us about your environment**

* **ESLint Version:** 3.9.1
* **Node Version:** v6.9.1
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

The following gives a warning:
[code]

I don't think this should be a warning. I think it should be warning if I use something like this:

[code]

Also the followi

[2016-11-15 10:59] mysticatea commented on #7600
Thank you for this issue.

However, this is intentional behavior.

The rule warns references from outside of the block that the variable is defined.
The rule does not emulate complete block-scoping.

If you want block-scoping emulation, maybe you can use [mysticatea/block-scoped-var](https://github.com/mysticatea/eslint-plugin#eslint-plugin-mysticatea) rule of my plugin.

[2016-11-15 10:59] #7600 closed

[2016-11-15 11:23] iamstarkov commented on #3458
@ljharb

prob its easy to write codemod for this

[2016-11-15 11:45] BlockChange opened #7601 "Infix operator warning when no space after variable definition"
When:

`let foo= bar + 'thing'`

It will throw the `Infix operators must be spaced` warning, because of the lack of a space before the `=`.

While it should throw a warning that there is no space after variable, but i'm not sure that even exists.

This also happens when there is no space behind:

`isTrue? 'yes' : 'no'`

I'm not sure if that is an `infix operator`, I would rather distinguish them a

[2016-11-15 14:35] jDmacD opened #7603 "leading forward slash of inline comment removed"
**Tell us about your environment**
* Window 7
* **ESLint Version: v3.6.1**
* **Node Version: v4.4.7**
* **npm Version: 3.10.3**

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

ran `eslint filename.js --fix`

[code]

**What did you expect to happen

[2016-11-15 15:14] jDmacD opened #7604 "inline comment closure removed"
**Tell us about your environment**
* Windows 7
* **ESLint Version: v3.10.1**
* **Node Version: v4.4.7**
* **npm Version: 3.10.3**

**What parser (default, Babel-ESLint, etc.) are you using?**
default
**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

The comment closure not to

[2016-11-15 16:06] platinumazure commented on #7603
Can you please try with latest ESLint? There were some bugs with the fixer in `object-shorthand` which we fixed with our most recent minor release.

[2016-11-15 16:21] jDmacD commented on #7603
@platinumazure I updated to version 3.10.1 but unfortunately the issue persists.

[2016-11-15 17:07] chrisvasz opened #7605 "Add autofix for object-shorthand 'consistent' option"
(edit by @not-an-aardvark: See [this comment](https://github.com/eslint/eslint/issues/7605#issuecomment-260884211) for the updated enhancement proposal.)

**Tell us about your environment**

* **ESLint Version:** 3.10.1
* **Node Version:** 6.7.0
* **npm Version:** 3.10.3

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**Please show your full configuration:**
[code]

**What d

[2016-11-15 17:09] zz85 commented on #5858
Wish I've seen this thread earlier and could have saved me some trouble if learned about Polyjuice! I've just hand ported MDCS code style from to ESLint but maybe I should make an npm module for this config. http://zz85.github.io/mrdoobapproves/

[2016-11-15 17:21] yvele commented on #2023
This exception is working for Immutable:

[code]

PS: About immutable new-cap convention: https://github.com/facebook/immutable-js/issues/10

[2016-11-15 17:34] platinumazure commented on #7605
I think "consistent" and "consistent-as-needed" options try really hard not to make an assumption about which way an object's properties should go (i.e., should they be longhand or shorthand if both are present in an object).

The rule's source [shows](https://github.com/eslint/eslint/blob/master/lib/rules/object-shorthand.js#L192) that for the consistent option, we don't include a fixer at all. S

[2016-11-15 17:58] zeptonaut commented on #7510
For what it's worth, this has been a huge problem for adoption of eslint for [Google's Catapult project](https://github.com/catapult-project/catapult) (the UI for developer tracing w/in Google Chrome). The project uses Polymer heavily and thus requires the html plugin/processor. Turning on the "1 true brace style" resulted in something like 5000 style violations in the project, which would require

[2016-11-15 17:59] zeptonaut commented on #7510
(Also adding @platinumazure, who I've discussed this briefly with before and who expressed interest in a possible fix.)

[2016-11-15 18:23] not-an-aardvark commented on #7605
We do have a fixer for `quote-props`, which has the same options. I think it would be reasonable to never fix to shorthand with `consistent`, and always fix to shorthand for `consistent-as-needed` (if possible).

[2016-11-15 18:29] ilyavolodin commented on #7510
@zeptonaut The way I suggested above to implement `--fix` for processors will require processor developer to modify their package (needs an extra function that can take fixed output and merge it back with original code). So there are some work involved even if enable autofixing for processors as is (without redesign of processors architecture).
But even if we change architecture, I don't see it as

[2016-11-15 19:02] syrnick commented on #7537
I don't see how it follows from https://tc39.github.io/ecmascript-asyncawait/#abstract-ops-async-function-start. Can you point to the spec defining this behavior?

It seems highly unexpected that an async function implicitly awaits for the promise return value. I wonder if it's in the spec or that's an implementation detail (bug).

E.g. consider

[code]

I would expect calling `await scheduleExpen

[2016-11-15 19:10] ilyavolodin commented on #7604
That's not good. I assume you ran `--fix` and I think indent rule is the one that's causing this issue. @not-an-aardvark any ideas?

[2016-11-15 19:11] ljharb commented on #7537
@syrnick the `return` value of an `async function` absolutely gets wrapped in `Promise.resolve`, which is the same thing as `return await` of that value. In your `startExpensiveOperation`, the resulting promise won't get resolved or rejected until the promise returned from `startAndWaitUntilOpCompletionAsync` settles.

[2016-11-15 19:13] not-an-aardvark commented on #7537
@syrnick It's implied by 3d. and 3e. of the [AsyncFunctionStart](https://tc39.github.io/ecma262/#sec-async-functions-abstract-operations-async-function-start) (which you linked above).

3a. Let *result* be the result of evaluating asyncFunctionBody.
...
3d. If *result*.[[type]] is normal, then Perform ! Call(promiseCapability.[[Resolve]], undefined, «undefined»).
3e. Else if *result*.[[type]] is r

[2016-11-15 19:17] not-an-aardvark commented on #7604
Looking into it now. I can reproduce the issue.

[2016-11-15 19:18] platinumazure commented on #7510
I want to throw one more thing out for possible discussion-- it's not critical to processor auto-fix directly, but it could help with plugin development and I think it's worth considering if we're talking about redesigning processors.

I really think it would be awesome if ESLint (or a new repo in the organization) provided APIs that basically represented string transforms. Basically, the APIs wou

[2016-11-15 19:26] syrnick commented on #7537
I would expect `theValue` to be of type promise.

My understanding is that promiseCapability is the promise constructed at the very beginning of the call to async function.

I have verified that babel with regenerator works according to this eslint rule. I haven't tried any native implementation yet - gotta build it.

[2016-11-15 19:33] ilyavolodin commented on #7510
@platinumazure I think that's a good idea for a stand-alone package. I don't think it should be part of ESLint, however. But it would definitely be helpful to processor developers.

[2016-11-15 20:00] not-an-aardvark commented on #7603
I can reproduce this. It's caused by the `key-spacing` fixer.

[2016-11-15 20:04] zeptonaut commented on #7510
@platinumazure that definitely seems like it'd be useful, but I agree with @ilyavolodin (with my limited knowledge) that it's probably an issue that is (and should be) decoupled from this one.

[2016-11-15 20:07] not-an-aardvark commented on #7604
PR up at https://github.com/eslint/eslint/issues/7606

[2016-11-15 20:18] syrnick commented on #7537
Ah, this is not about async functions as much as it is about promises:

https://github.com/tc39/ecmascript-asyncawait/issues/41

"It is impossible currently for a promise to resolve to a promise"

E.g. it will timeout before calling then.

[code]

Now this rule makes sense to me. Perhaps you can add the pointer to that issue.

[2016-11-15 20:21] not-an-aardvark commented on #7603
PR up at https://github.com/eslint/eslint/pull/7607

[2016-11-15 20:30] not-an-aardvark commented on #7111
@fanatid That's correct (the code there is already incorrect with this rule, and the `variables` option would only affect variable declarations, not function declarations).

[2016-11-15 21:08] chrisvasz commented on #7605
@not-an-aardvark That would certainly solve our use case. Even if we only had a fixer for `consistent-as-needed`, that would save a lot of manual editing.

[2016-11-15 21:27] fasttime opened #7608 "brace-style ignores braces around class body"
Not very sure about this. I'll post it here anyway so someone can have a look. Feel free to close if I'm horribly wrong.

Using this configuration:

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

According to Allman style rules, the opening brace should appear on a new line, and so the code above should trigger an

[2016-11-15 21:34] platinumazure commented on #7605
@chrisvasz @not-an-aardvark Could one of you please create a rule change proposal using [this template](https://github.com/eslint/eslint/blob/master/templates/rule-change-proposal.md) as a guideline? Then we can evaluate the proposal, hopefully accept it, and open the way for a pull request. Thanks!

[2016-11-15 21:37] platinumazure commented on #7608
@fasttime What ESLint version are you using? Can you please confirm you get the same results when using latest ESLint?

That said, looking at the rule source, I don't see any logic around class declarations, so it's very likely we just never implemented this for class declarations.

[2016-11-15 21:42] platinumazure commented on #7608
# Rule enhancement proposal

**What rule do you want to change?**
brace-style

**Does this change cause the rule to produce more or fewer warnings?**
More

**How will the change be implemented? (New option, new default behavior, etc.)?**
New default behavior, ideally (this is a missed use case)

**Please provide some example code that this change will affect:**

[code]

**What does the rule curren

[2016-11-15 22:50] #7573 closed

[2016-11-15 22:58] #7603 closed

[2016-11-15 23:08] emmettnicholas commented on #7537
This sentence in the rule description is possibly inaccurate:

Another reason someone may prefer `return await` (besides ignorance) is if they were to optimize for readability and consistent code style over perf.

Compare these examples:

[code]

The first is arguably slightly more readable, since all 3 lines in the function are similarly formatted (i.e. all use `await`).

Then, if I were to remov

[2016-11-15 23:12] #7604 closed

[2016-11-15 23:16] captbaritone opened #7609 "Allow object-curly-newline to permit newlines around single property"
**What rule do you want to change?**

    object-curly-newline: ["error", { "multiline": true }]

**Does this change cause the rule to produce more or fewer warnings?**

This change would optionally cause fewer warnings.

**How will the change be implemented? (New option, new default behavior, etc.)?**

New option, or new configuration added to an existing option.

**Please provide some example co

[2016-11-16 00:10] not-an-aardvark opened #7610 "`quotes` fixer can accidentally turn on strict mode when converting template backticks"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.1.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

I expected `quotes` to report an error

[2016-11-16 00:23] ljharb commented on #7537
@emmettnicholas removing the `async` keyword from a function is a potential breaking change, so effectively there's never a reason to remove it. You'd absolutely want `async fooAsync() { return cAsync(); }`, to give you the strong guarantees that `async function` provides.

[2016-11-16 01:49] zz85 commented on #5858
Update: MDCS `eslint-config-mdcs` is now an npm module. @markelog

[2016-11-16 07:35] niedzielski commented on #5377
@rapilabs, I had a similar issue and followed the advice by @platinumazure in #6333. `eslint --no-eslintrc --parser-options ecmaVersion:6 --rule no-var:error --fix .`, in my case.

[2016-11-16 07:37] the-spyke opened #7612 "Wrong schema/code definition for "CallExpression" option of the "indent" rule."
**Tell us about your environment**

Ubuntu 16.04.1 LTS x64

* **ESLint Version:** 3.7.1
* **Node Version:** 6.9.1
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

Default parser.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

There is a discrepancy with "indent" rule's schema

[2016-11-16 07:45] not-an-aardvark commented on #7612
Thanks for the report. There are several things going on here:

* The `CallExpression` option was introduced in ESLint v3.9.0, but you're using v3.7.1. If you upgrade to the latest version of ESLint, I think your config will work as expected.
* The `indent` rule's schema is incorrect; it specifies `CallExpression: parameters` instead of `CallExpression: arguments`. However, since the schema does n

[2016-11-16 08:29] not-an-aardvark commented on #7605
**What rule do you want to change?**

`object-shorthand`

**Does this change cause the rule to produce more or fewer warnings?**

The same amount

**How will the change be implemented? (New option, new default behavior, etc.)?**

This will change the default behavior for autofixing.

**Please provide some example code that this change will affect:**

[code]

[code]

**What does the rule currently

[2016-11-16 08:49] vitorbal commented on #7609
@captbaritone thank you for your issue! I agree this should be possible for the object-curly-newline rule. How do you imagine the schema to look like with this new option/configuration?

One more thing: is this something that you are willing to work on if it gets accepted? The team has a limited throughput at the moment and we are trying to focus on the JSCS compatibility milestone as much as we c

[2016-11-16 08:51] vitorbal commented on #7402
one more friendly ping @amarbham, could you take a look at the questions above when you can? Thank you!

[2016-11-16 08:55] vitorbal commented on #7561
Closing this as a duplicate of #6890. Please track that issue for updates on this bug. Thanks for the report, @isonmad!

[2016-11-16 08:55] #7561 closed

[2016-11-16 09:20] jDmacD commented on #7603
That works. Thanks for the fast turn around.

[2016-11-16 09:21] jDmacD commented on #7604
Awesome. Thanks for that

[2016-11-16 11:21] jpolo opened #7614 "Comma dangle bug"
While upgrading eslint from 3.7.1 to latest version (3.10.2), the rule "comma-dangle" seems broken.
It reports errors when it should not.

[code]

My config
[code]

My output
[code]

The JS code:
[code]

[2016-11-16 11:42] vtfn opened #7615 "valid-jsdoc with generated functions"
I'm trying to use the `valid-jsdoc` rule to keep my doc comments consistent but most of my functions are evaluated from another function. Like this

[code]
It seems that the parser does not recognize this code as a function, which is understandable as there is no way to it to know what the `curry` function returns.

JSDoc happens to have a `@function` tag that tells its compiler that the documente

[2016-11-16 11:55] Philip-Nunoo commented on #2283
Adding the following rule solved my issue:
"react/jsx-uses-vars": [2]

[2016-11-16 13:00] rubensayshi opened #7616 "`indent` `CallExpression.arguments.first` incorrect for object arguments"
**Tell us about your environment**

* **ESLint Version:** v3.10.2
* **Node Version:** v6.3.0
* **npm Version:** v3.10.3

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
[code]

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

it seems lik

[2016-11-16 14:37] tleunen commented on #7588
@vitorbal :/ What info do you need?

[2016-11-16 15:18] #7589 closed

[2016-11-16 16:06] not-an-aardvark commented on #7614
Hi, thanks for the report.

However, this is working as intended; your code has invalid syntax. Trailing commas are not allowed after rest properties.

For more information, see https://github.com/eslint/eslint/issues/7422, https://github.com/eslint/eslint/issues/7463, https://github.com/eslint/eslint/issues/7502, and https://github.com/eslint/eslint/issues/7297.

[2016-11-16 16:44] ilyavolodin commented on #7512
Released 3.10.2 yesterday to fix 3 issues with autofixing breaking code. This concludes this release cycle and repository is open for merging now.

[2016-11-16 16:44] #7512 closed

[2016-11-16 17:02] jpolo commented on #7614
Thank you very much for the enlightment !

[2016-11-16 17:02] #7614 closed

[2016-11-16 17:34] captbaritone commented on #7609
Thanks for your quick response.

How about adding a new object option, parallel to the `multiline` option, called `singleline` with a description as follows:

* `"singleline": true` (default) disallows line breaks if all properties exist on a single line.

This would be backwards compatible with the existing behavior, but setting it to `false` would allow for the behavior I'm looking for.

This wo

[2016-11-16 17:57] not-an-aardvark commented on #7588
@tleunen See [eslintbot's comment](https://github.com/eslint/eslint/issues/7588#issuecomment-260888163) above.

Sorry if this seems tedious. We get a lot of bug reports and feature requests, and it's much easier for us to triage them if they're in a consistent format with all of this information.

[2016-11-16 23:36] kaicataldo commented on #7615
It does look like our js-doc parser, Doctrine, supports the [@function tag](https://github.com/eslint/doctrine/blob/e33c6bb9b9b9cb33bed63c678347a33675776071/test/parse.js#L220), so this may be feasible without an upstream change.

[2016-11-16 23:47] kaicataldo commented on #7616
Hey there, can I ask you to explain what you expected to happen? You've left an error message, but it's the same error message as the first error in the "what actually happened section", and I want to be sure we understand the issue correctly.

Are you saying you expected the following to error (it doesn't currently, which I think is correct, given that `"CallExpression": {"arguments": "first" }`

[2016-11-17 00:30] platinumazure commented on #7615
Seems reasonable, I'm on board.

[2016-11-17 08:45] rubensayshi commented on #7616
bleh, I've been copy pasting stuff too much around and made a mistake, the report is supposed to have `CallExpression.arguments=first` set, updated the report now!

the problem is the fact that `{}` needs to be on 8 spaces instead of the 12 following `CallExpression.arguments=first`.

I put the one on line 22 in to demonstrate the expected behaviour for `CallExpression.arguments=first` as it's the

[2016-11-17 22:17] alberto commented on #7404
TSC resolution: Issue has been accepted. See [meeting notes](https://github.com/eslint/tsc-meetings/blob/0d75733ef001385a7ff5ba6336e60f210d1b0d21/notes/2016/2016-11-17.md) for details

[2016-11-17 22:18] alberto commented on #7364
TSC resolution: Issue has been accepted. See [meeting notes](https://github.com/eslint/tsc-meetings/blob/0d75733ef001385a7ff5ba6336e60f210d1b0d21/notes/2016/2016-11-17.md) for details

[2016-11-18 01:35] not-an-aardvark commented on #7616
Thanks, I was able to reproduce this issue. Simpler reproduction case:

[code]

The above case should not report an error, but it reports the curly braces in the object.

[code]

[2016-11-18 01:37] not-an-aardvark commented on #7616
Actually, I think this is a duplicate of https://github.com/eslint/eslint/issues/7320.

[2016-11-18 04:22] not-an-aardvark commented on #7323
I think the resolution is that this is working as intended, so I'm closing this issue.

[2016-11-18 04:22] #7323 closed

[2016-11-18 05:35] not-an-aardvark commented on #7274
I finished the rewrite (pending review, etc).

See https://github.com/eslint/eslint/pull/7618

[2016-11-18 09:31] ljharb commented on #7338
I started to work on this, but am blocked on https://github.com/npm/node-semver/issues/178 - ie, comparing the two semver ranges of a peerDep from the user's package.json, and the target eslint-config-foo's package.json.

[2016-11-18 09:58] fab1an opened #7619 "no-unused-vars: remove unused imports"
It would be awesome if eslint could automatically `--fix` unused es6 `import`s instead of reporting them as unused variables.

Is this feasible?

Thank you!

[2016-11-18 14:18] mysticatea commented on #7619
Thank you for this issue.

But I don't think it's feasible.
ESLint cannot distinguish whether people will use the unused variables after the autofix.

[2016-11-18 15:38] lewismoten opened #7620 "valid-jsdoc rule does not recognize @this"
**Tell us about your environment**
Atom

* **ESLint Version:**
3.4.0

* **Node Version:**
6.3.0
* **npm Version:**
3.10.5

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**
[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?** A valid jsdoc

**What actually happe

[2016-11-18 15:57] michaelmcmillan commented on #7338
This is so broken it's not even funny.

[2016-11-18 16:02] Wilfred opened #7621 "Enforce the amount of whitespace surrounding keywords."
Given the following tab-indented source code:

[code]

Using `brace-style` to use `"1tbs"`, we end up with tabs around the `catch` keyword.

[code]

It doesn't seem possible to fix this with the existing eslint rules:

* `keyword-spacing` only asserts that there's a non-zero amount of whitespace around keywords
* `no-multi-spaces` ignore tabs
* `no-tabs` isn't useful because we're using tabs for i

[2016-11-18 16:04] platinumazure commented on #7620
Can you try reproducing with one or both of the `@this` and `@this.code` lines removed? I thought we at least supported `@this` but I'm not sure.

[2016-11-18 16:21] platinumazure commented on #7621
One of the reasons I favor augmenting `no-tabs` is because this could also supplement other space-enforcing rules, not just keyword-spacing:

[code]

The above example wouldn't be enforced by keyword-spacing because there isn't a keyword on either side of the hypothetical tab. So this implies that `space-before-blocks` and similar rules would also need to be enforced.

On the other hand, `no-tabs`

[2016-11-18 16:43] zeptonaut commented on #7510
The main reason that I'm concerned with @ilyavolodin's proposal is that it forces the responsibility for accurately applying the fixes onto each plugin owner, whereas the logic for each of those is likely to be very similar.

I have a slightly different straw man proposal:

Are there any known plugins where the line given to eslint doesn't map directly to a line in a source file, plus some configu

[2016-11-18 17:58] not-an-aardvark commented on #7621
I would prefer the option of generalizing `no-multi-spaces` to flag multiple tabs.

I don't think adding a "prohibit multiple whitespace characters" option to `keyword-spacing` is a good idea, because (a) it would directly conflict with `no-multi-spaces`, and (b) we would have to add a similar option to a lot of other spacing rules.

Adding an option to `no-tabs` is better in that we would only ha

[2016-11-18 18:42] platinumazure commented on #7621
@not-an-aardvark @Wilfred What should happen in the case where two tokens are separated by *one* tab?

@Wilfred Would you want that case flagged?

@not-an-aardvark If we wanted to flag that particular case, which rule should be responsible?

[2016-11-18 18:52] not-an-aardvark commented on #7621
I think the rule should not report an error.

An alternative would be to update rules such as `keyword-spacing` to actually mandate *space* characters, rather than generic whitespace.

I'm not sure I understand what you mean by "that particular case". If you're referring to the code sample in my comment above, I think `no-multi-spaces` should handle it. (My preference would be for `no-multi-spaces

[2016-11-18 18:56] platinumazure commented on #7621
@not-an-aardvark Sorry, "that particular case" was "the case where two tokens are separated by one tab". If you believe that shouldn't be an error at all, then the question is moot.

[2016-11-18 19:11] ilyavolodin commented on #7510
@zeptonaut This is really limiting approach which will basically disable any ability to fix large number of possible processors. Consider two examples below:

[code]

[code]

Neither of the two examples would be fixable with your proposal, because in the first example we need to substitute `<%= myServerSideVar %> with something parsable in JavaScript. And in the second example, we want to combine

[2016-11-18 19:50] zeptonaut commented on #7510
@ilyavolodin Thanks - I appreciate the feedback on this idea.

For your first example, what sort of transformation would a .aspx plugin normally do before handing this off to eslint? As you mentioned, the part within the script tag right now isn't parsable by Javascript or eslint, so I'm not familiar what type of work the plugin would normally do before handing this off to eslint.

As for the seco

[2016-11-18 20:24] platinumazure commented on #7510
@zeptonaut Your basic idea makes sense and I like it. I just want to point out that in the current implementation, returning an array of sources implies that each source is independent, so in plugins like eslint-plugin-html and eslint-plugin-microtemplates (where a value could be declared in global scope in one block, and then used in another block), those have to export one source.

That said, if

[2016-11-18 20:28] morganney opened #7622 "no-unused-vars not triggering for unused function params when the function is an object property."
* **ESLint Version:** v2.13.1
* **Node Version:** v4.6.0
* **npm Version:** 2.15.9

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

To be notified of a no-unused-vars error for the callback property.

**Wh

[2016-11-18 20:30] zeptonaut commented on #7510
Ah, okay. I was thinking that emitting multiple sources per plugin per source file was already supported. Maybe we should focus now on making a solution that works for the current situation but could easily be extended to allow emission of multiple source strings in the future? (I think this solution might fit that bill.)

[2016-11-18 21:12] platinumazure commented on #7622
Well, the variable `a` is in fact defined and not used, so that error is correct.

It is weird that `e` was not flagged-- is that the issue you are reporting?

[2016-11-18 21:15] platinumazure commented on #7622
I get two errors with this code in the ESLint demo:

[code]

It's not clear what your no-unused-vars config is since you're extending two configs. Can you please run `eslint --print-config path/to/file.js` and let us know what your `no-unused-vars` setting is?

[2016-11-18 22:18] ilyavolodin commented on #7510
@zeptonaut What I was trying to show with the examples above is that there might be many different things that processors would do, and we can't predict them all. Somebody even managed to write a processor that under the hood executes JSHint just so they could lint JSON files. While we provide facilities to make processors happen, we don't want to either do too much, or limit possible processors i

[2016-11-18 22:30] zeptonaut commented on #7510
Fair enough: I guess if an easy-to-use library can be written that handles the source mapping, I'd be all for deferring that logic to such a library rather than sticking it in eslint proper.

With the proposed contract, though, I think it'd be exceedingly hard to write a library that manages this. Suppose that you have an HTML file:

[code]

and you give eslint:

[code]

and eslint gives autofix b

[2016-11-18 23:46] ilyavolodin commented on #7510
@zeptonaut And that example is exactly why I don't want to bring mapping functionality into ESLint. There are a lot of different ways to handle the code above. You might want to combine it into a single `<script>` block, and remove all other script tags. You might want to put in comments in between blocks of code and split back based on those comments. Or you might choose to send it as multiple co

[2016-11-18 23:57] aaronroberson commented on #2051
It seems like this is a good behavior. Using destructuring in a method or function signature seems like a poor contract to make.

I would suggest that it is a good practice to have all required items listed separately in the method signature and use a single parameter for a config object.

Within the function body, it makes sense to use destructuring to pull out distinct properties from the provid

[2016-11-19 01:14] chrismcleod commented on #2051
the reason i do it is to get something akin to ruby's named parameters.   Destructuring in the signature lets me refer to the parameters by name without having to reassign them or go through some other object.  If you use something like typescript, destructuring in the method signature allows you to type the properties of a **config** parameter without having to define a custom type.

[2016-11-19 01:15] chrismcleod commented on #2051
for example in typescript:

[2016-11-19 02:26] lewismoten commented on #7620
Yea... the problem happens regardless. I just added the this.key to show both examples of what I've tried.

[2016-11-19 02:26] lewismoten commented on #7620
If there is a preferred way to document "this", I'm all ears.

[2016-11-19 02:47] #7610 closed

[2016-11-19 02:49] platinumazure commented on #7620
Thanks very much for clarifying, I just wanted to make sure. Unfortunately
I'm not a JSDoc expert so I have nothing useful for you now, but I can try
to look into it this weekend.

On Nov 18, 2016 8:26 PM, "Lewie" <notifications@github.com> wrote:

[2016-11-19 10:57] rubensayshi commented on #7616
yes, this seem like a duplicate, closing

[2016-11-19 10:57] #7616 closed

[2016-11-19 19:23] morganney commented on #7622
I see what the issue is now. eslint-config-standard of which my config is extending has set the `args` option to `none` for rule no-unused-vars.  I should have checked there first before filing the issue ticket.

Thanks for your feedback.

[2016-11-19 19:31] platinumazure commented on #7622
No worries, glad you were able to figure it out. You can override the rule in your local config if you want to enforce unused args.

Closing, as the issue seems to be resolved. Thanks!

[2016-11-19 19:31] #7622 closed

[2016-11-19 21:18] not-an-aardvark commented on #7619
This would also prevent the imported files from getting evaluated, which will cause code to break if the modules have side-effects

[2016-11-20 17:43] kaicataldo commented on #7545
@alberto For some [more context](https://github.com/eslint/eslint/issues/7310) on why this rule was suggested: Are you :-1: for this proposal?

[2016-11-20 17:44] kaicataldo commented on #6175
@mysticatea Friendly ping

[2016-11-20 18:16] gajus opened #7626 "no-useless-return clashes with callback-return when return is not referencing the callback"
**Tell us about your environment**

* **ESLint Version:**

v3.10.2

* **Node Version:**

v7.1.0

* **npm Version:**

v4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

Using `no-useless-return` and `callback-return` enforces to use th

[2016-11-20 18:30] gajus opened #7627 "false-positive no-negated-condition in a if .. else if .. else condition"
**Tell us about your environment**

* **ESLint Version:**

v3.10.2

* **Node Version:**

v7.1.0

* **npm Version:**

v4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**

Default.

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

No error.

There is no reasona

[2016-11-20 18:46] not-an-aardvark commented on #7627
Maybe I'm misunderstanding something, but couldn't you write it like this instead?

[code]

[2016-11-20 18:52] gajus commented on #7627
Yes, you are right. I think my processor skipped a tick. :-)

[2016-11-20 18:52] #7627 closed

[2016-11-21 01:21] adjohnson916 opened #7628 "Support inline comment to specify configuration file."
**What version are you using?**
3.10.2
**What did you do?**
I have multiple ESLint configuration files, e.g. a default one for source, one for functional tests adding Protractor globals, one for unit tests adding Jasmine globals, etc.
**What happened?**
The Atom editor and its linter plugin (as well as other tools, I'm sure) only understands the default one, so it shows all kinds errors when I'm w

[2016-11-21 01:56] feross commented on #7111
@not-an-aardvark Are you sure? @fanatid's example is a function so it shouldn't not affected by `{ "variables": false }`. Also, with `{ "functions": false }` the code is indeed valid.

This is not currently an error:

[code]

[2016-11-21 02:12] adjohnson916 opened #7629 "Support configuration file overrides in default configuration."
Relates to #7628.

**What version are you using?**
3.10.2
**What did you do?**
I have multiple ESLint configuration files, e.g. a default one for source, one for functional tests adding Protractor globals, one for unit tests adding Jasmine globals, etc.
**What happened?**
The Atom editor and its linter plugin (as well as other tools, I'm sure) only understands the default one, so it shows all kind

[2016-11-21 02:13] adjohnson916 commented on #7628
#7629 is arguably more useful.

[2016-11-21 02:15] not-an-aardvark commented on #7629
Thanks for the request. However, I think this is a duplicate of https://github.com/eslint/eslint/issues/3611.

[2016-11-21 02:20] adjohnson916 commented on #7629
@not-an-aardvark I suppose you're right, that's similar enough. I'll close this one out. Thanks!

[2016-11-21 02:20] #7629 closed

[2016-11-21 08:14] dandv opened #7630 "Comments in array indexes interpreted as computed properties?"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]
**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
No warnings or errors

**What actually h

[2016-11-21 08:17] not-an-aardvark commented on #7630
Hi, thanks for the report.

It looks like the error is being reported by the `standard/computed-property-even-spacing` rule, which is a custom rule and isn't part of ESLint itself. You should file an issue on [the repo that maintains that rule](https://github.com/xjamundx/eslint-plugin-standard) instead.

[2016-11-21 08:27] dandv commented on #7630
I've tried reproducing this with by extending `google`, but I get an odd error:

[code]

1:5  error  Parsing error: Unexpected token a

[2016-11-21 13:57] johntran commented on #7588
I can attest to this:

eslint: v3.10.2
eslint config: https://gist.github.com/johntran/3c02e9effdeedfde7896403dcb8fa150

Source code:
[code]

[code]

Expected to not throw comma dangle error. This isn't valid JS. See: https://repl.it/E4Fo

[2016-11-21 15:10] zeptonaut commented on #7510
I'm not sure that I understand. Given the above situation, how would a plugin author even go about reconstructing the code correctly?

[2016-11-21 15:32] platinumazure commented on #7510
@zeptonaut It's not pretty, but you can check out platinumazure/eslint-plugin-microtemplates to see how I'm trying to manage it. It can definitely be improved and I think ESLint (or at least a project in the ESLint org) could help, but I also agree that ESLint shouldn't try too hard to get involved with that tracking because of the sheer diversity of input files that might need to be processed by

[2016-11-21 15:35] cmalard commented on #7588
Having the same issue with :
[code]

[2016-11-21 16:01] ljharb commented on #7588
@johntran the airbnb config requires trailing commas on function arguments.

Indeed, your arrow function, and @cmalard, your console.log argument, need trailing commas. It is indeed valid JS, it's just ES2017. The airbnb config expects you're using https://npmjs.com/babel-preset-airbnb

[2016-11-21 16:04] cmalard commented on #7588
(got it right after my post, thanks :-) )

[2016-11-21 16:06] msmichellegar commented on #7588
I was just reporting the same issue as you commented @ljharb. Thanks!

[2016-11-21 18:01] phaux opened #7631 "Rule proposal: Template tag spacing"
**Please describe what the rule should do:** Similar to func-call-spacing – it would enforce spacing between template tag and template literal.

**What category of rule is this? (place an "X" next to just one item)**

- [X] Enforces code style
- [ ] Warns about a potential error
- [ ] Suggests an alternate way of doing something
- [ ] Other (please specify:)

**Provide 2-3 code examples that this

[2016-11-21 18:45] zeptonaut commented on #7510
@platinumazure I now see the advantage of having a single file being able to emit an array of strings, each of which aren't independent.

How does eslint handle this problem when one file uses globals in another? Do you know which rules are most affected by knowing the contents of other parts of the file?

[2016-11-21 18:52] platinumazure commented on #7631
Seems reasonable to me-- I'll :+1: this.

[2016-11-21 18:56] platinumazure commented on #7510
@zeptonaut ESLint actually does not know how to use the contents of other files when linting one file. Instead, we have some constructs that just tell the linter how to behave in the face of uncertainty.

Examples:
* `no-undef` will read a `/* global */` comment to identify a variable as a global which was defined somewhere else, and thus not complain.
* `no-unused-vars` will read an `/* exported

[2016-11-21 19:11] kachkaev opened #7632 "no-unused-expressions and template literals (`)"
Looks like template literals with custom interpolators with no brackets are not treated by eslint as proper function calls. The following example produces an error:

[code]

[code]

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?** babel-eslint 7.1.1

**Please show your full configuration:**
[code]

**What

[2016-11-21 19:20] kachkaev commented on #7632
__UPD__: Looks like I was wrong to assume  `injectGlobal(` and `injectGlobal` are identical - the string gets concatenated without a custom interpolator in the first case. The particular example above should be changed to this:

[code]

This does not cancel the issue though.

[2016-11-21 19:27] not-an-aardvark commented on #7626
Thanks for the report. It looks like this was also noted in https://github.com/eslint/eslint/pull/7441, but we decided to add no-useless-return as-is anyway.

In my opinion, the best solution to this problem would be to have `callback-return` not require return statements where they are redundant anyway.

[2016-11-21 19:39] guerrero commented on #6444
There are still some rule pages that need to be updated in order to reflect the background color change for both incorrect and correct examples. Here is a list of some pages I've seen that need to be updated:
- [no-return-await](http://eslint.org/docs/rules/no-return-await)
- [spaced-comment](http://eslint.org/docs/rules/spaced-comment#always)
- [space-in-parens](http://eslint.org/docs/rules/space

[2016-11-21 20:31] zeptonaut commented on #7510
Got it. Given all of this, I think that @ilyavolodin's original proposition makes sense: basically allow plugin authors figure out how to merge different pieces of the same HTML file (like they do now), and have eslint hand them a `--fix`ed version of the file back and have them be responsible for piecing it back together.

I think that the difficulty of this will likely discourage some plugin aut

[2016-11-21 20:46] captbaritone commented on #7609
@vitorbal (ping)

[2016-11-21 21:45] platinumazure commented on #7632
I'm treating this as a rule enhancement request, since we probably never thought about whether template tags should or shouldn't be regarded as an expression with side effects.

I think it makes sense to enhance the rule in this way. :+1: from me.

[2016-11-21 21:47] platinumazure commented on #7626
@not-an-aardvark Now that we have code path analysis, I think your suggestion is quite feasible and makes sense. I would be :+1: to augmenting `callback-return` to not require return statements when they are redundant (if that changes due to a code edit, the rule would catch the issue).

[2016-11-21 22:00] not-an-aardvark commented on #7632
I'm not sure about this.

On the one hand, the tag function does get called and might have side-effects, so reporting it as an unused expression could be considered a bug.

On the other hand, while I haven't used tagged templates extensively, my understanding is that it's good practice for template tags to be pure functions, which would imply that they avoid side-effects. So maybe the rule should

[2016-11-21 22:05] not-an-aardvark commented on #7626
I don't think this would be a semver-major change, since it would report fewer errors by default. So I don't think it would be necessary to put the behavior behind an option.

[2016-11-21 22:07] platinumazure commented on #7510
Well, this was my motivation for suggesting a stateful transform library earlier-- even adjusting line and column numbers in the current `postprocess` method is annoying right now, and it seems to me like the technique should be basically the same for all plugins that are just extracting JS snippets from their input files.

[2016-11-21 22:09] platinumazure commented on #7626
@not-an-aardvark I wasn't speaking in terms of semver-major and API compatibility, but rather for users who might not use `no-useless-return` and who might prefer a useless return on top of a callback anyway (i.e., almost for stylistic reasons). If there are users like that right now, then this proposed enhancement would be harmful to them.

[2016-11-21 22:31] GWShark0 opened #7633 "'Uint16Array' is marked as "not defined" by no-undef rule"
**Tell us about your environment**

* **ESLint Version:** `v3.10.2`
* **Node Version:** `v6.9.1`
* **npm Version:** `v3.10.8`

**What parser (default, Babel-ESLint, etc.) are you using?** `default`

**Please show your full configuration:**

`.eslintrc`
[code]

**What did you do? Please include the actual source code causing the issue.**

Referncing [`Uint16Array`](https://developer.mozilla.org/en-

[2016-11-21 22:47] platinumazure commented on #7633
Hmm... Seems we've stopped consuming the `"builtin"` globals (probably because there were some ES6 globals we didn't want for our ES5 users). So anything that's an ES6 builtin isn't included by default.

Can you try adding `"es6": true` to the `"envs"` section of your config file? I think that will solve your problem.

[2016-11-21 22:56] not-an-aardvark commented on #7633
Based on [this](http://eslint.org/docs/user-guide/configuring#specifying-environments), it seems like this behavior is working as intended; the `parserOptions: {ecmaVersion: 6}` value only specifies behavior for the parser, and `env: {es6: true}` is necessary to indicate that ES6 globals are present (as @platinumazure mentioned).

That said, this behavior does seem confusing to me. I know the `es6

[2016-11-21 23:23] johntran commented on #7588
@ljharb Ah I see :). Should we close this then?

[2016-11-22 00:29] ilyavolodin commented on #6444
@guerrero We will always happy to review any PRs related to documentation improvements! If you have time to look - go for it!

[2016-11-22 00:38] ilyavolodin commented on #7510
@zeptonaut @platinumazure I think you guys I mostly focusing on simple processors (HTML, Vue, etc.) where you can just extract JavaScript directly as a subset of a file. But processors can be a lot more complicated. For example, some format that has variable substitution or a template that gets compiled into JavaScript code, or maybe somebody would be crazy enough to write a processor that convert

[2016-11-22 01:45] GWShark0 commented on #7633
@platinumazure thanks for the recommendation. Adding `es6` to the `env` section of the configuration does indeed fix this issue for a config with `ecmaVersion` set to `6`.

This issue occurred for me while trying to update an ES5/React codebase from `v1.10.3` to `v3.10.2`. For the moment I still need to maintain backwards compatibility with ES5, but I needed to add `{"ecmaVersion": 6}` to allow ES

[2016-11-22 03:12] ljharb commented on #7588
No, @tleunen's original post is not incorrectly complaining about comma-dangle, it's looking for an exception for `comma-dangle` applying to functions with jsx, and with multiline implicit return arrow functions.

[2016-11-22 04:26] sindresorhus opened #7634 "Add an option to the`new-cap` rule to include built-in identifiers"
I often get pull requests with `const foo = Error('foo');` and would like to enforce it to be `const foo = new Error('foo');` Therefor, I would like to see the `new-cap` rule support an option to also include built-in identifiers. These are currently excluded by default with no way of including them. I want to enforce using `new` in my code on the built-in identifiers that have the same behavior w

[2016-11-22 05:15] ljharb commented on #7634
I'd also love to be able to lint for this - there's also no rule that prevents `Map` and `Set` without `new`, which throw, although there is [no-new-symbol](http://eslint.org/docs/rules/no-new-symbol) to lint against using `Symbol` with `new` (which also throws, just the same).

If not an option to `new-cap`, perhaps a generic rule would be useful that enforces, configurable by builtin, whether `n

[2016-11-22 07:39] the-spyke commented on #7612
I've updated to the 3.10.2. Everything works fine now. Thanks!

[2016-11-22 07:39] #7612 closed

[2016-11-22 07:58] vitorbal commented on #7631
I'll :+1: this too. I think we should allow configuring "always" or "never"
having spacing btwn them.
On Mon, Nov 21, 2016 at 7:52 PM Kevin Partington <notifications@github.com>
wrote:

[2016-11-22 08:04] vitorbal commented on #7619
Thanks for the issue!
Looks like the team doesn't feel in favor of autofixing no-unused-vars, so I'm gonna go ahead and close this.

[2016-11-22 08:04] #7619 closed

[2016-11-22 09:09] the-spyke opened #7635 ""indent" rule settings."
**Tell us about your environment**

Ubuntu 16.04.1 LTS x64

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

**What did you expect to happen?**

![eslint-indentation-i

[2016-11-22 09:16] not-an-aardvark commented on #7635
Hi, thanks for the issue. However, I think this is intended behavior. See https://github.com/eslint/eslint/issues/4081, https://github.com/eslint/eslint/issues/6890, and https://github.com/eslint/eslint/issues/6990 for more information (all of them discuss this behavior).

[2016-11-22 09:35] kachkaev commented on #7632
I can name at least two somewhat popular libraries where template tags have side effects.
The first one is [`styled-components`](https://github.com/styled-components/styled-components), which is already mentioned above. The second one is [`graphql-tag`](https://github.com/apollostack/graphql-tag), which is a part of [`apollo-client`](https://github.com/apollostack/apollo-client). Although `gql` ta

[2016-11-22 11:02] the-spyke commented on #7635
Thanks. #4081 is a little bit different. But #6890 and #6990 look similar. I can agree, that "render3" has intended behavior, but "render2" without errors is totally wrong. As for "render", this is the way, that JSFormat for Sublime Text formats the code (an some other formatters too).

[2016-11-22 18:23] platinumazure commented on #7632
I could get behind an option as well, so that the user is at least fully in control over how the rule will enforce template tags.

[2016-11-22 19:13] not-an-aardvark commented on #7632
:+1: for adding `allowTemplateTags: true`.

However, my gut impression is that adding an option like `allowTemplateTags: ["injectGlobal"]` might be excessive. It would have to use the static name for the tag, so it wouldn't work if the function was renamed within the code. It would also fail for cases like this:

[code]
We don't have an option like `allowTernary: ["foo", "bar"]`, presumably for si

[2016-11-22 20:00] kachkaev commented on #7632
@not-an-aardvark I understand the limitations of the second case and also think that you've demonstrated them quite well. Nevertheless IMO the existence of _an option_ to create a white list does not harm. Those who want to have dynamic template tags may just stick with `allowTemplateTags: true`.

Those two libraries I mentioned suggest a very simple usage scenario: you just import a specific temp

[2016-11-22 20:16] Mr0grog opened #7636 "Could `no-undef` allow unknown globals if they are inside an If statement that checks for them?"
* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8
* **Parser:** Default

I often see code that checks for the presence of a global variable before using it when dealing with things only available on certain platforms features only available in newer engines. For example, in a codebase I’m currently working on:

[code]

The `no-undef` rule quite reasonably flags this

[2016-11-22 20:21] isiahmeadows commented on #7632
I could use this as well. I've created a simple template tag for debug logging (with object pretty-printing) specific for a utility I'm writing, and having to invoke it each time would quickly get cumbersome. I'd rather not have to convert this into a variadic function.

[code]

[2016-11-22 20:25] isiahmeadows commented on #7636
I'll note that this would be relatively difficult to fix, and I already brought it up in a somewhat more limited sense (exclusively `typeof`) in #6209.

[2016-11-22 20:27] isiahmeadows commented on #7631
:+1: from me, too. And I agree @vitorbal (although one space should also be an option).

[2016-11-22 20:34] not-an-aardvark commented on #7636
I think it would be reasonable to allow references to `foo` inside `if (typeof foo !== 'undefined') {}`.

Checking `if (window.foo) {}` is a bit more involved because we would have to make sure that `window` is the global object. For example, if someone was using Node and had a global variable `window` that was set to something other than the global object, `window.foo` is not actually checking fo

[2016-11-22 20:37] isiahmeadows commented on #7593
@not-an-aardvark Some rule auto-fixes already affect semantics. Here's a few of them:

- no-unsafe-negation: `!a < b` and `a < b` are completely different things
- strict: obvious
- prefer-arrow-callback: an issue if you are using an anonymous function as a constructor.

Not sure this is any different.

[2016-11-22 20:43] not-an-aardvark commented on #7593
The fixer for `strict` only removes redundant `'use strict'` declarations; it doesn't ever change strict code to non-strict or vice versa.

That's a good point about the other two, though. We might want to remove autofixing for those rules if we can't verify that they won't break code.

[2016-11-22 20:52] Mr0grog commented on #7636
I would at least say that, anecdotally, I see `if (window.foo)` *much* more than `if (typeof foo !== 'undefined')`, probably because the latter seems prohibitively verbose. That said, I certainly take your point on correctness. Actually abstractly verifying `if (somethingThatEqualsTheGlobalObject.foo)` is not easy (and not always reasonably possible in complex cases).

[2016-11-22 20:54] isiahmeadows commented on #7593
Oh. I didn't realize `strict` limited itself to that.

I'll also point out that it's generally a bad idea to rely on the resolution order of two independent promises, so I'd be shocked if they would actually break anything in practice. (The above sample already warns, and the autofixer doesn't touch ignored lines IIUC).

If you actually wish for that kind of behavior, it's best to make it explicit

[2016-11-22 20:56] isiahmeadows commented on #7593
And the reason I believe `no-unsafe-negation` allows autofixing is because things like `!a instanceof A` instead of `!(a instanceof A)` are a frequent source of bugs for less experienced developers.

[2016-11-22 20:59] isiahmeadows commented on #7593
With `prefer-arrow-callback`, it usually doesn't matter, and when I need a constructor, I usually use an anonymous class literal. It forces me to be more explicit as to the intent (and discourages my use of that concept because of the extra boilerplate).

[2016-11-22 21:03] not-an-aardvark commented on #7593
I agree that users generally *shouldn't* be relying on these things, but one of the design goals of ESLint's autofixing is to never break working code under any circumstances, regardless of whether that code is "good". It should be safe enough that people would be comfortable with running `eslint --fix` and then immediately deploying to production.

[2016-11-22 21:15] platinumazure commented on #7593
@isiahmeadows @not-an-aardvark This is interesting discussion, but can we please keep the issue focused to autofixing (or not) for `no-return-await`? Please feel free to visit our [Gitter chat](https://gitter.im/eslint/eslint) if you wish to continue the general auto-fix discussion, or please feel free to open an issue if you believe you have identified an issue with one of our other rules.

[2016-11-22 21:17] isiahmeadows commented on #7593
@platinumazure Sorry. (I only brought it up as evidence in favor of implementing autofixing for this particular rule.)

[2016-11-22 21:33] platinumazure commented on #6759
@eslint/eslint-team This has been sitting for a long time. Has anyone started work on this? Do we still want this in for 4.x?

If nobody has started working on it, I'm interested in working on this, but I want to close out some of my open PRs first (so if anyone else wants to start this, definitely go ahead).

[2016-11-22 21:41] platinumazure commented on #7636
:+1: to typeof checks (only).

[2016-11-22 22:45] jesstelford commented on #6074
Does this also cover newlines _between_ arguments? If not, could we also add:

-  `between` (default is "any") - Setting for the line break between arguments.

**Valid**

[code]

**Invalid**

[code]

[2016-11-22 23:13] feross opened #7637 "Indent false negative"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 7.1.0

**What parser (default, Babel-ESLint, etc.) are you using?** default

**Please show your full configuration:**

[eslint-config-standard 6.2.1](https://github.com/feross/eslint-config-standard/blob/c879dfb71e03739a45e980687f9a28c94b4a95d2/eslintrc.json)

Specifically:

[code]

**What did you do? Please inclu

[2016-11-22 23:18] not-an-aardvark commented on #7637
Thanks for the report, but I think this is a duplicate of https://github.com/eslint/eslint/issues/7242.

[2016-11-22 23:44] sstern6 commented on #7274
Thoughts on doing an analysis of all of the indent issues aggregated in this file after @not-an-aardvark PR is merged and then start tackling the left overs?

Or @not-an-aardvark does this PR solve all of the open indent issues?

Thanks

[2016-11-22 23:47] not-an-aardvark commented on #7274
I think #7618 solves all of the *bugs* in the rule, but there are still some issues on the list where the indented behavior is unclear or disputed.

[2016-11-22 23:51] sstern6 commented on #7274
Ok sounds good, lets revisit those when the PR is merged?

It looks like a lot of files to go through 😄

[2016-11-22 23:55] platinumazure commented on #7274
Most of the extra files in @not-an-aardvark's PR are fixing obvious indent problems in the ESLint codebase (the majority being comments that weren't indented correctly). Review time will definitely be concentrated on the rule file itself, for sure.

[2016-11-23 00:51] sstern6 commented on #7620
The error seems to be coming from the failure of the try catch here: https://github.com/eslint/eslint/blob/master/lib/rules/valid-jsdoc.js#L241.

Then I investigated doctrine.js a bit further, it seems like its erroring out because it doesnt know what `The Context\n`.

This is making me think it is a doctrine issue and might need to be patched upstream.

@platinumazure can you please confirm?

Tha

[2016-11-23 05:31] isiahmeadows commented on #7636
@platinumazure Should #6209 be re-opened, then? (That's exclusively `typeof`, nothing else.)

[2016-11-23 06:09] Mr0grog commented on #7636
This definitely seems like a dupe of #6209. I think I glossed over it when searching for similar issues because I assumed it was about the `typeof` support that already exists, not this. My mistake.

Has anything changed about how things are implemented in `no-undef` in the last few months? It sounds like the main reason #6209 was closed is that it was too complicated. I did a quick and dirty impl

[2016-11-23 06:20] jaganathanb opened #7638 "Error: Cannot read config file: X:\package.json"
I am using eslint with VS Code
* **ESLint Version:** 3.10.2
* **Node Version:** 5.4.1
* **npm Version:** 3.3.12
* **VS Code Version:** 1.7.2

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:**
.eslintrc from [here](https://gist.github.com/cletusw/e01a85e399ab563b1236)

**What did you do? Please include the actual source code causing the i

[2016-11-23 07:04] isiahmeadows commented on #7636
@Mr0grog It was closed because it seemed complicated on the surface. If you've got a working implementation, go ahead and file a PR.

And yes, I believe this to be a dupe of that (which is why I brought it up in my first comment).

[2016-11-23 07:30] isiahmeadows commented on #7636
Do be aware of this:

1. There most certainly *should* be an `allowEscapingScopes` option, off by default, to allow the definitions to propagate into child function scopes, even though they theoretically be `delete`d from the global scope.

2. They *must* be counted as defined in block scopes, as well as their children, but not outside of them:

[code]

3. They *must* be counted as defined in chil

[2016-11-23 07:56] mysticatea commented on #7632
Hmm, I felt it's abuse of tagged templates since I think "template" is not designed to intend as having side effects.
Though I will not actively oppose `allowTaggedTemplates`-like option (off by default)...

[2016-11-23 08:44] isiahmeadows commented on #7632
@mysticatea I feel the main purpose of template tags are for DSLs. Some DSLs are inherently stateful (e.g. [running SQL queries](https://patriksimek.github.io/node-mssql/), [shell commands](https://www.npmjs.com/package/shell-tag)), while others are not (e.g. [DOM generation](https://www.npmjs.com/package/html-tagged-template), [internationalization](http://jaysoo.ca/2014/03/20/i18n-with-es6-templ

[2016-11-23 11:58] solmsted opened #7641 "Incorrect expected indentation for multiline ternary within function invocation"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**
default

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**
I did not expect an error for this code.  I expected both of the expressions of the multili

[2016-11-23 13:19] feross commented on #7637
No problem. I'll close.

[2016-11-23 13:19] #7637 closed

[2016-11-23 13:39] IanVS commented on #6759
Ah, I lost track of this.  I'd like to take a shot at it, @platinumazure, but I am going to be traveling until next week.  So if you've got time this weekend then go for it.

[2016-11-23 18:10] platinumazure commented on #7620
According to [this page](http://usejsdoc.org/tags-this.html), Doctrine might be behaving correctly if `@this` is supposed to only reference a name-path to some other entity in Doctrine.

So if that's the case, then the OP's example is invalid JSDoc and s/he should use a name-path of some kind to show what type `this` is supposed to be.

[2016-11-23 20:08] zeptonaut commented on #7510
I'm fine with that: I see no problem with eslint requiring folks that need the library to include it from an external source.

[2016-11-23 22:02] lewismoten commented on #7620
Thanks @platinumazure and @sstern6 . I got it to work after having a second look at that page. It would have been nice if we could describe object literals and their keys.

The following works:
[code]

[2016-11-23 22:08] platinumazure commented on #7620
@lewismoten No, it can be done, it just has to be done separately.

[Here's an example in the ESLint codebase](https://github.com/eslint/eslint/blob/master/lib/cli-engine.js#L41-L63). What you need to do is create a `@typedef` documentation block (presumably with Object as your base type), and then you can use `@property` to document the `code` property.

For example:

[code]

[2016-11-23 22:35] not-an-aardvark commented on #7630
@dandv It looks like the error occurs because you're using `let`, but ESLinton doesn't support ES6 by default. To enable ES6, you can add `es6: true` to your config file:

[code]

[2016-11-23 23:23] dcousens opened #7642 "Rule proposal: no useless expressions"
### Warns about a potential error

I recently had something bite me in some of my own code, and I wonder if we can't avoid this happening.

[code]

`o.value` may not be a useless expression (could be a mutative property),  but comparing it is definitely useless without something using that return value and is almost certainly an error.

In this case, the correct code was meant to be `o.value = 3`,

[2016-11-23 23:48] mysticatea commented on #7642
Could you check [no-unused-expressions](http://eslint.org/docs/rules/no-unused-expressions)?

[2016-11-23 23:58] dcousens commented on #7642
Sorry,  thanks for the link

[2016-11-23 23:58] #7642 closed

[2016-11-24 00:38] not-an-aardvark opened #7643 "Errors reported by no-useless-escape have invalid locations on multiline template literals"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

[code]

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

[code]

**What actually happened? Plea

[2016-11-24 01:06] guerrero commented on #6444
Great @ilyavolodin! I've created a PR :)

[2016-11-24 01:33] not-an-aardvark commented on #7643
While fixing this bug, I noticed another issue: The locations of reported errors in template literals are all off by one.

[code]

[code]

[code]

**What did you expect to happen?**

[code]

**What actually happened? Please include the actual, raw output from ESLint.**

[code]

[2016-11-24 02:18] platinumazure commented on #7643
Can we quote the cited useless escape while we're at it? Just having `\ ` (unquoted) makes it hard to tell what the problem is.

[2016-11-24 05:48] not-an-aardvark opened #7646 "`quotes` does not report template literals that contain a newline escape character"
**Tell us about your environment**

* **ESLint Version:** master
* **Node Version:** 7.2.0
* **npm Version:** 3.10.9

**What parser (default, Babel-ESLint, etc.) are you using?**

default

**Please show your full configuration:**

(none)

**What did you do? Please include the actual source code causing the issue.**

[code]

**What did you expect to happen?**

ESLint should report an error, and be

[2016-11-24 08:47] vitorbal commented on #7631
@phaux are you willing to work on a PR for this if it gets accepted?

[2016-11-24 08:55] remcohaszing opened #7648 "Allow inverse of no-duplicate-imports"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 7.2.0
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?** default

[`no-duplicate-imports`][no-duplicate-imports] enforces to combine imports from the same module. Personally I think the exact opposite is nicer. (Perhaps because it's similar to Python's [pep8][pep8].

I suggest t

[2016-11-24 09:38] jDmacD commented on #6073
Is this still on the cards?

[2016-11-24 10:51] SamMorrowDrums commented on #7322
A sensible option coud be to enable enforcing paren-wrap for multi-line statements as per AirBnB style.

https://github.com/airbnb/javascript#arrows--paren-wrap

I ran into a recent error where somebody had written:

[2016-11-24 11:06] mysticatea commented on #6175
I'm sorry for too late!

I think, yes.
JSCS has the option to ignore variable declarations which have `require()`.

(Though, it seems `ignoreRequires`-like behavior rather than `separate`.)

[2016-11-24 11:40] albertogasparin opened #7649 "Allow different brackets spacing behaviour on deconstructing pattern"
**Tell us about your environment**

* **ESLint Version:** 3.10.0
* **Node Version:** 6.9.1
* **npm Version:** 3.10.9

**What did you do?**

`object-curly-spacing` and `array-bracket-spacing` only allow one style for both definition and deconstructing patterns.
[code]

**What did you expect to happen?**
As the meaning of the two patters is different, I'd like to be able to specify different spacing

[2016-11-24 11:56] ShirH commented on #7238
Hi, I'm trying to browserify the ESlint (latest version) and the problem that ES lint contain fs module and when I try to use it I got error, any idea how to overcome this ?

[2016-11-24 11:59] ShirH opened #7650 "Browserify ESlint"
Hi, I'm trying to browserify the ESlint (latest version) and the problem that ES lint contain fs module and when I try to use it I got error, any idea how to overcome this ?

[2016-11-24 12:09] phaux commented on #7631
@vitorbal I think I can do it

[2016-11-24 13:04] platinumazure commented on #6073
@jDmacD Yes! And if you're volunteering to write a PR, we will gladly welcome that as well :smile:

[2016-11-24 13:10] platinumazure commented on #7322
I haven't been tracking the conversation so apologies if I'm missing some context. That said, I want to remind everyone that even if we ultimately reject this for core, someone can always write a custom rule or a plugin for this, and that will fulfill the expressed need the same as a core rule would. ESLint was designed from the beginning to be extremely pluggable due to situations exactly like th

[2016-11-24 15:16] rschamp commented on #6983
This happens to me and my team occasionally — the root cause seems to be that somewhere along the line `node_modules/.bin/eslint` has become a real file, a copy of `bin/eslint.js`. Then when you run eslint, it tries to `require('../lib/cli')` relative to `node_modules/.bin/` which crashes with this error.  Uninstalling and reinstalling eslint fixes the issue, as it fixes `.bin/eslint` to be a syml

[2016-11-24 15:40] ilyavolodin commented on #7650
@ShirH Browser is unsupported platform for ESLint. While we have our own browserify build, it's meant for internal use only (our website). If you really need ESLint to run in the browser, you can use our npm script `npm run browserify`. But again, this is unsupported feature.

[2016-11-24 15:41] ilyavolodin commented on #7631
Anyone on the team wants to champion this? It looks like there are more then enough votes to accept this, just need a champion.

[2016-11-24 15:46] #6820 closed

[2016-11-24 18:50] alejandroiglesias opened #7653 "eslint --init fails on parse error"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 4.6.2
* **npm Version:** 4.0.2

**What parser (default, Babel-ESLint, etc.) are you using?**
Not sure, I guess Babel-ESLint since I selected yes to ES6 features.

**Please show your full configuration:**

❯ eslint --init
? How would you like to configure ESLint? Inspect your JavaScript file(s)
? Which file(s), pat

[2016-11-24 18:55] alejandroiglesias commented on #7653
After fixing that offending line, I got a different parsing error:

[code]

Offending code:

[code]

So it seems to fail if you code does not comply with some good practices, but that's actually what I'm trying to incorporate. Is it ok to fail at this stage? My guess would be it could generate a config file anyways.

[2016-11-24 18:58] alejandroiglesias commented on #7653
After fixing the last error, I was able to get a config file from `eslint --init`. Still, I would like to clarify the behavior.
Thanks.

[2016-11-24 19:01] not-an-aardvark commented on #7653
It looks like you selected "Inspect my JavaScript files" when ESLint asked how it should generate a config file. Normally, ESLint proceeds by parsing your existing files to figure out the existing code style. However, if your code has a syntax error, ESLint can't parse it. (It's not about good practices, it's about having files with valid JS.)

[2016-11-24 19:35] alejandroiglesias commented on #7653
I see. But why does ESLint work inside VSCode with the a default config and doesn't fails?

[2016-11-24 19:35] not-an-aardvark commented on #3229
Since it looks like this issue was causing some confusion: The new option is `ignoreRegExpLiterals`, not `ignoreRegex` as mentioned above. (For more info on the new option, see the [rule docs](http://eslint.org/docs/rules/max-len).)

[2016-11-24 19:38] not-an-aardvark commented on #7653
I'm not sure. If you're referring to the `[js] Expression expected.` warning, it looks like that was also reporting the syntax error that ESLint found; it wasn't actually linting the file.

[2016-11-24 19:43] alejandroiglesias commented on #7653
So it is too bad of an error for `eslint --init` to continue but it's handled ok when running in VSCode?

[2016-11-24 19:46] not-an-aardvark commented on #7653
Sorry, I don't understand. Could you clarify what you mean?

[2016-11-24 19:51] platinumazure commented on #7653
@not-an-aardvark What's the syntax error in the first example? Does the arrow function need to be parenthesized to avoid an ambiguity?

[2016-11-24 19:54] not-an-aardvark commented on #7653
Yes. Arrow function expressions are similar to assignment expressions in terms of operator precedence, etc.

[code]

[2016-11-24 20:49] vitorbal commented on #7638
@jaganathanb thank you for your issue. This looks like an issue with the VSCode ESLint plugin. To be sure, could you check if ESLint runs correctly from the CLI?

[2016-11-24 20:53] vitorbal commented on #7641
@not-an-aardvark could this be something that would also be handled with your indent rewrite PR?

[2016-11-24 20:58] vitorbal commented on #7649
HI @albertogasparin, thanks for your issue!
I'm not sure we should have a new rule for destructuring spacing, but I could get behind new options to both `object-curly-spacing` and `array-bracket-spacing` that would allow configuring different spacing for destructuring patterns.
Let's see what the team thinks. Would this be something you are willing to submit a PR for, if it gets accepted?

[2016-11-24 21:05] vitorbal commented on #7648
Hey @remcohaszing, thanks for reaching out!
I'm not very sure of the added value of this change, considering we would have to deprecate/rename `no-duplicate-imports` in favor of `duplicate-imports`. Personally, I haven't seen the style you describe before in any JS codebases, but of course that's just from my personal experience.

Another thing to take into consideration is that this can probably

[2016-11-24 21:20] remcohaszing commented on #7648
I imagine one of the reasons that the style I described isn't used as often, is that a consistent coding style can be enforced disallowing it using a pretty awesome an popular linter :+1:. I did consider enabling `no-duplicate-imports` against my personal preference purely for consistency.

[2016-11-25 03:12] philer opened #7654 "`comma-dangle` warning for destructuring assignment when skipping the last entry"
(I'll take the liberty of restructuring your template as it makes no sense to describe the actual problem below my entire configuration…)

Destructuring array assignment offers the possibility to [skip/ignore values](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment#Ignoring_some_returned_values). In my particular use case I want to **skip the *la

[2016-11-25 03:17] not-an-aardvark commented on #7654
Thanks for the issue. However, I don't think I understand what the problem is. Regardless of how long the array actually is, the dangling comma isn't doing anything, so you can just omit it:

[code]

[2016-11-25 08:03] ShirH commented on #7650
Thanks Ilya! Can you told me where I can find the code for your npm run browserify?

[2016-11-25 10:10] jaganathanb commented on #7638
Thanks for the suggestion. It runs smoothly from CLI. Bug is from VSCode ESLint plugin.

[2016-11-25 15:37] kaicataldo commented on #7322
@SamMorrowDrums I think that would be a change for http://eslint.org/docs/rules/arrow-body-style rather than the arrow-parens rule. Apologies if I'm missing something!

[2016-11-25 15:38] platinumazure commented on #7650
Start in package.json (look under "scripts"), then look at the referenced file(s).

[2016-11-25 15:43] gajus opened #7655 "Rule proposal: empty-line-between-distinct-statements"
**Please describe what the rule should do:**

Rule enforces use of an empty line between distinct statements.

**What category of rule is this? (place an "X" next to just one item)**

[X] Enforces code style
[ ] Warns about a potential error
[ ] Suggests an alternate way of doing something
[ ] Other (please specify:)

**Provide 2-3 code examples that this rule will warn about:**

[code]

[code]

*

[2016-11-25 15:44] gajus commented on #7655
Rule name needs to be improved though. This is broader than just distinct statements.

[2016-11-25 15:56] feross opened #7656 "no-useless-escape is too aggressive"
**Tell us about your environment**

* **ESLint Version:** 3.10.2
* **Node Version:** 6.9.1
* **npm Version:** 3.10.8

**What parser (default, Babel-ESLint, etc.) are you using?** Default

**Please show your full configuration:** [`eslint-config-standard` 6.2.1](https://github.com/feross/eslint-config-standard/blob/c879dfb71e03739a45e980687f9a28c94b4a95d2/eslintrc.json)

Specifically:

[code]

**Wh

[2016-11-25 15:57] philer commented on #7654
I confess that skipping the comma did not even occur to me. I assumed that for destructuring assignments the semantics would be different and the comma required to indicate a trailing empty slot.
Thanks for clearing it up!

[2016-11-25 15:57] #7654 closed

[2016-11-25 16:01] feross commented on #7656
The `no-useless-escape` rule got stricter in the latest version of eslint. It's true that it's technically useless to escape `\]` but this is a tad bit aggressive. Let me explain.

ES6 introduced a new "Unicode mode" for regular expressions (which @mathiasbynens recently described as "strict mode" for regex literals). You use it like this `/hello world/u`. Before the recent change in ESLint behavi

[2016-11-25 16:05] SamMorrowDrums commented on #7322
You're exactly right, I would love that option.

I was only proposing that the issue creator could achieve what they wanted
through this idea, as long as their functions bodies are multi-line.

I guess there is also the possibility for other restrictions, but
multi-line would be top of my list I think.

On Fri, 25 Nov 2016, 15:37 Kai Cataldo, <notifications@github.com> wrote:

[2016-11-25 16:28] ilyavolodin commented on #7650
@ShirH The actual code is located here: https://github.com/eslint/eslint/blob/master/Makefile.js#L717

[2016-11-25 17:29] not-an-aardvark commented on #7656
I would say that this is working as intended. The rule is supposed to report useless escape sequences (escape sequences where the backslash can be removed without changing the behavior), and `/\)/` is unambiguously a useless escape sequence.

However, it looks like you're not the only one that considers this behavior to be too aggressive (see https://github.com/nodejs/node/pull/9591). I think maki

[2016-11-25 17:45] #7643 closed

[2016-11-25 18:06] nzakas opened #7657 "Problem with RuleTester when errors is just a number"
Reported in https://github.com/eslint/eslint/pull/7640, however, the submitter was unwilling to follow our contribution guidelines or provide more information, so we need to investigate this a bit.

I believe this refers to setting the `errors` field in an invalid test for `RuleTester`. We do allow setting that value to be just a number rather than giving specific details about the error. I think

[2016-11-25 18:09] #7646 closed

[2016-11-25 18:10] mickaeltr commented on #7656
Hello,

I am having an issue with `no-useless-escape` too, with (I think) a valid Regexp: `/^\/services(\/[^\/]*)?$/'` escaping slashes and considered as a `Unnecessary escape character: \/  no-useless-escape`.

If we're not talking about the same problem, I can indeed open another issue.

Thanks

[2016-11-25 18:12] nzakas commented on #7594
Hmm, I'm not sure about this. In general, we try not to get overly complex with the patterns we flag for rules like this, and I'm not sure if this is really the intent of the rule.

@ljharb do you have thoughts on this?

[2016-11-25 18:21] not-an-aardvark commented on #7656
@mickaeltr Your `/` is uselessly escaped. `/` does not need to be escaped in a character class, so the corrected version would be `/^\/services(\/[^/]*)?$/`.

[2016-11-25 18:21] kirly-af opened #7658 "eqeqeq Rule Change Proposal: Allow only == undefined"
**What rule do you want to change?**

eqeqeq

**Does this change cause the rule to produce more or fewer warnings?**

Both fewer and more. See example below.

**How will the change be implemented? (New option, new default behavior, etc.)?**

It will be a new option. Currently we can do:
[code]

The new option would allow to set the rule this way:

[code]

Thus, that would allow the use of `==` and

[2016-11-25 18:23] #6055 closed

[2016-11-25 18:26] nzakas commented on #7648
I'm also not sure this belongs in the core. I'd suggest creating a custom rule to do what you want.

[2016-11-25 18:27] nzakas opened #7659 "Scheduled Release for December 9, 2016"
The scheduled release on Friday, December 9, 2016 is assigned to:

- @kaicataldo
- @btmills

Please use this issue to document how the release went, any problems during the release, and anything the team might want to know about the release process. This issue should be closed after all patch releases have been completed (or there was no patch release needed).

[2016-11-25 18:31] mickaeltr commented on #7656
@not-an-aardvark Great, I didn't know that, thanks for the advice.

[2016-11-25 18:32] nzakas commented on #7615
@vtfn can you explain the functionality you're looking for? Most of what `valid-jsdoc` [does](http://eslint.org/docs/rules/valid-jsdoc#rule-details) wouldn't apply in this case. What is it that you're expecting this change to do?